[2017-08-07 21:09] mml commented on #47715
/assign @caesarxuchao

[2017-08-07 21:10] mml commented on #47714
cc @caesarxuchao
@smarterclayton can you verify this is still happening?  (Re-open if so.)  Thanks.

[2017-08-07 21:10] #47714 closed

[2017-08-07 21:12] mml commented on #47712
cc @mbohlool

[2017-08-07 21:14] mml commented on #47705
Please use client-go.  Reopen if client-go can't meet your needs.  Thanks!  @dlsniper

[2017-08-07 21:14] #47705 closed

[2017-08-07 21:15] mml commented on #47691
/assign @caesarxuchao

[2017-08-07 21:17] mml commented on #47663
/assign @cheftako

[2017-08-07 21:19] #47635 closed

[2017-08-07 21:20] mml commented on #47532
cc @jpbetz

[2017-08-07 21:21] caseydavenport commented on #49978
@cmluciano the idea with this was that this rule would match any source IP addresses which are not in "10.0.0.0/24".  I think this addresses the case that @danwinship raised re: some users who want to allow from everywhere except a certain range of IPs.

[2017-08-07 21:23] mml commented on #47372
ping @mbohlool

[2017-08-07 21:26] mml commented on #46722
cc @pwittrock @caesarxuchao

[2017-08-07 21:26] philips commented on #44407
FWIW, kubernetes-dev was emailed last week, no comments so far. https://groups.google.com/forum/#!topic/kubernetes-dev/juMOsdaCml0

[2017-08-07 21:27] mml commented on #46705
cc @jpbetz

[2017-08-07 21:27] caseydavenport commented on #50156
@chenww I think you might be encountering this issue, which was fixed in calico/cni 1.8.0: https://github.com/projectcalico/cni-plugin/issues/349

I'd recommend upgrading to the latest Calico CNI plugin and see if you still encounter the issue.

If you do still have issues, please raise anther issue against [the Calico CNI repo](https://github.com/projectcalico/cni-plugin) and we can discuss more.

[2017-08-07 21:27] #50156 closed

[2017-08-07 21:30] crimsonfaith91 commented on #44407
@philips Yes. I have sent another email to `kubernetes-users@googlegroups.com` around an hour ago to solicit opinions.

[2017-08-07 21:32] vinayagg opened #50270 "minor HPA documentation fix"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-autoscaling

**What happened**:
Documented commend does not work.

**What you expected to happen**:
Change to documentation required

**How to reproduce it (as minimally and precisely as possible)**:
on following page
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/
the command
`kubectl ge

[2017-08-07 21:34] vinayagg commented on #50270
@kubernetes/sig-autoscaling

[2017-08-07 21:36] tcharding commented on #50022
Good effort @ironcladlou

[2017-08-07 21:37] rmmh commented on #49320
kubernetes/test-infra#3928 should fix this for kops-aws jobs

[2017-08-07 21:37] #49320 closed

[2017-08-07 21:47] jpbetz opened #50271 "e2e flakiness: Networking [k8s.io] Pods should function for intra-pod communication"
These flakes appear to account for ~20% gce-etcd3 test flakes, and ~15% of gce test flakes overall.

Example failures:
(589 failures)
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49942/pull-kubernetes-e2e-gce-etcd3/44618#k8sio-networking-k8sio-granular-checks-pods-should-function-for-intra-pod-communication-udp-conformance

(318 failures)
https://k8s-gubernator.appspot.

[2017-08-07 21:47] jpbetz commented on #50271
/sig testing

[2017-08-07 21:51] sarahnovotny commented on #49518
give us some time.... and these will be an option.

![kubernetesbusiness_biz_10 1 1](https://user-images.githubusercontent.com/127370/29047271-dc139758-7b7f-11e7-9a91-e92bef612fa7.jpg)

[2017-08-07 21:52] ivan4th opened #50272 "build/run.sh rsyncs .git directory, causing massive transfers"
/kind bug

**What happened**:
After #46193 k8s master started rsyncing `.git` directory, causing hundreds of megabytes to be transferred, making some workflows that utilize remote docker engines impractical. E.g. I use [kubeadm-dind-cluster](https://github.com/Mirantis/kubeadm-dind-cluster) which can start docker-in-docker test cluster on the same remote docker where k8s is built, and currently my

[2017-08-07 21:58] jpbetz commented on #50271
@bowei, @saad-ali suggested I ping you for initial triage.

/sig networking

[2017-08-07 22:01] jpbetz commented on #50271
/sig networking

[2017-08-07 22:03] saad-ali commented on #50271
@kubernetes/sig-network-test-failures

[2017-08-07 22:04] bowei commented on #50271
taking a look

[2017-08-07 22:05] cblecker commented on #50272
/sig contributor-experience
/area build-release

[2017-08-07 22:05] jpbetz commented on #50271
/remove-sig testing

[2017-08-07 22:05] cblecker commented on #50272
/assign @ivan4th
Feel free to ping for review when you have a PR :)

[2017-08-07 22:06] jpbetz commented on #50271
/sig testing

[2017-08-07 22:14] smarterclayton commented on #47715
I have some proposed changes in a PR but haven't written them up yet.   WIP
- Fix events tables for good
<https://github.com/openshift/origin/pull/14738>

On Mon, Aug 7, 2017 at 5:09 PM, Matt Liggett <notifications@github.com>
wrote:

[2017-08-07 22:17] jdumars commented on #50150
/cc @brendandburns

[2017-08-07 22:17] gyuho opened #50273 "kubemark not compatible with current GCP API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubemark` complains

[code]

**What you expected to happen**:

No error.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

I am using the latest `gcloud`.

[code]

Is anybody running `kubemark` with GCP and having the same errors?

[2017-08-07 22:20] ericchiang commented on #48031
cc @kubernetes/sig-apps-bugs

This test is consistently failing on upgrade tests https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.6-gci-master-upgrade-master

Can we identify someone to own this?

[2017-08-07 22:21] jdumars commented on #50150
/assign

[2017-08-07 22:21] gyuho commented on #50273
/sig area/test-infra

[2017-08-07 22:22] seanknox commented on #50150
Confirmed this on a v1.7.2 Azure cluster.

[2017-08-07 22:24] ericchiang commented on #48031
Example failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-stable-cvm-master-upgrade-master/1065

[code]

[2017-08-07 22:24] gyuho commented on #50273
@kubernetes/sig-testing

[2017-08-07 22:33] lmickh commented on #50150
I've seen similar behavior on v1.7.2 with unmanaged disks.
https://gist.github.com/lmickh/f0a62e464099c85970e4becb3644349f

[2017-08-07 22:33] smarterclayton commented on #47837
AdmissionWebhook and PodPreset both sound acceptable to me.

On Mon, Aug 7, 2017 at 5:01 PM, Matt Liggett <notifications@github.com>
wrote:

[2017-08-07 22:35] ericchiang opened #50274 "[upgrade test failure] DNS should provide DNS for ExternalName services - IP not in range"
This e2e test is failing on several of the upgrade tests.

https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster
https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-master
https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.6-cvm-master-upgrade-master

/cc @kubernetes/sig-network-bugs

[code]

[2017-08-07 22:42] aanm opened #50275 "User "system:kube-controller-manager" cannot create replicasets.extension"
/kind bug

**What happened**:
I'm unable to set up a k8s cluster with RBAC due authorization errors (guessing)

[code]
Nor set up kube-dns
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Run each component with these options:
[code]

[code]

[code]

[code]
[code]

**Anything else we need to know?**:
PRs #43586 and #45551 were patched against `v1.7.3` and kubelet + kube-co

[2017-08-07 22:42] aanm commented on #50275
/sig auth

[2017-08-07 22:44] bowei commented on #50271
@jpbetz Can you post a link to how you were able to get a list of the etcd3 tests that flaked due to this test? My test infra-foo is lacking...

[2017-08-07 22:50] seanknox commented on #50150
@colemickens what type of VM did you use?

[2017-08-07 23:15] #34261 closed

[2017-08-07 23:17] ericchiang commented on #49236
I'll join as well.

cc @kubernetes/sig-auth-proposals

[2017-08-07 23:36] caesarxuchao commented on #49035
THe apiserver hides uninitialized objects by default from LIST and WATCH operations, unless `ListOptions.IncludeUninitialized=true`, so @droot, @mengqiy and I went through all the kubectl commands that involve the `LIST` or `WATCH` operation:
* `kubectl delete <resource> --all`, `kubectl get <resource> --show-all`, and `kubectl apply --prune`: almost certainly they should include uninitialized obj

[2017-08-07 23:40] khenidak commented on #50150
@lmickh yours is a different issue. Your blob disk was not attached to node. Can be a number of things. Disks does not exist, disk of type premium and machine is standard. Or you have no access on disk. Controller logs will tell you what is wrong

@colemickens the disk was attached on LUN 0 and yet resolved to /dev/sda - we have changed the finddiskbylun specifically to work across different vm ty

[2017-08-07 23:42] jpbetz commented on #50271
@bowei I gathered most of my data from the aggregated test failures, here's a link:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-kubernetes-e2e-gce-etcd3

The data I captured mid- last week looked something like this:

[code]

[2017-08-08 00:05] #46005 closed

[2017-08-08 00:08] lmickh commented on #50150
@khenidak The blob disk are attached to the node according to the Azure API and they show up on the node via fdisk/lsscsi.  I've seen other cases where the disk is not attached.  This isn't one of those cases.  I can provide further details if needed.

[2017-08-08 00:16] rushabh268 commented on #47695
@luxas I am still hitting the same error with v1.7.3. The node name its printing in the above error is correct but kubernetes is just not allowing it to register. Can you tell me how to do this:

```It appears the credential created for ovs-10.k8s.test.com is being used on a different node (ovs-11.k8s.test.com). Giving each node the correct credential would allow it to be authorized as expected```

[2017-08-08 00:17] khenidak commented on #50150
Thanks @lmickh - if this coreOs as well then let's keep it here. If not can I ask you to split into a new issue? (The logs you shared says controller never responded flagging volume as attached)

[2017-08-08 00:22] colemickens commented on #50150
@khenidak I'll get you the output of the last command ASAP. It repros against any node in my cluster. Tagging @philips to add some Container Linux folks to weigh in on whether that OS does anything special regarding SCSI interfaces.

[2017-08-08 00:41] kars7e commented on #50200
@FengyunPan thanks for the patch, I tested and it worked! Can you post a PR with it? CC @jingxu97

[2017-08-08 00:43] lmickh commented on #50150
I'm running Container Linux 1409.7.0.  For what it is worth, I managed to get a node to properly handle PVCs again after downgrading kubelet to v1.6.7 and clearing up some lease locks.

[2017-08-08 01:09] ConradIrwin commented on #45037
I'm seeing this in production, for a related reason:

1. We set up a cron job to run every minute.
2. We didn't have quite enough cpu quota to run the jobs.
3. Result is a lot (~1000) of minutely cron jobs in the pending/restarting/Outofcpu states

I tried to delete the cron deployment to fix this, and got the same error message:

[code]

Any ideas how I can rescue my cluster would be greatly appr

[2017-08-08 01:12] philips commented on #50150
@lmickh that is a great data point.

@colemickens is there a log line that shows the exact mount that is being attempted?

cc @euank

[2017-08-08 01:26] #50040 closed

[2017-08-08 01:35] hzxuzhonghu commented on #50245
@mashayev  I think restart kubelet will be ok .

[2017-08-08 02:01] jianglingxia commented on #49432
How does k8s use this kind of storage of  cinder to store ? How do I configure this environment?thanks very much @wanghaoran1988 @jingxu97 @dims

[2017-08-08 02:28] jianglingxia commented on #44735
How does k8s use this kind of storage of cinder to store ? How do I configure this environment?can you help me ?thanks very much @zetaab
only use the file ?:
# cat /etc/cloud.conf
[Global]
username=<user>
password=XXXXXXXX
auth-url=http://<openStack URL>:5000/v2.0
tenant-name=Shadow
region=RegionOne

[2017-08-08 02:35] WIZARD-CXY commented on #46984
OK

[2017-08-08 02:42] FengyunPan commented on #50266
In order to be easier to review, I split it for every cloud provider.

[2017-08-08 03:08] andyzhangx commented on #50150
Hi @colemickens , do you know how to set up a k8s cluster based on CoreOS image?

[2017-08-08 03:10] khenidak commented on #50150
https://github.com/coreos/tectonic-installer/blob/master/Documentation/install/azure/azure-terraform.md Should get you started but I think it installs Kubernetes  1.6.x

[2017-08-08 03:12] FengyunPan commented on #50266
cinder plugin (openstack, rackspace): #50239

[2017-08-08 03:25] resouer opened #50282 "[Flexvolume] Consider adding PluginDir as part of json options"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

Could we add PluginDir as part of default json options here?
 https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md#default-json-options

**What you expected to happen**:
It is useful when wrapping other storage to create a global mount path (e.g. makeGlobalPDName)

**How to reproduce it

[2017-08-08 03:28] robszumski commented on #50150
@khenidak @andyzhangx if you'd like to test Tectonic with Kubernetes 1.7.1, use this release candidate: https://github.com/coreos/tectonic-installer/releases/tag/1.7.1-tectonic.1-rc.4 in place of `https://releases.tectonic.com/tectonic-1.6.7-tectonic.2.tar.gz`

[2017-08-08 03:32] resouer commented on #50282
Please note I am saying the dir of `host.GetPluginDir`, not binary dir of flexvolume

[2017-08-08 03:35] xiangpengzhao commented on #49217
@saad-ali any updates here? If so, please ping me in order to update https://github.com/kubernetes/kubernetes/issues/49161#issuecomment-320502371. Thanks!

[2017-08-08 03:50] resouer commented on #50282
Or, if I understand correctly, it is by design that flexvolume will not have a default `PluginDir` and users can define a path as they wish? (and flexvolume code in kubelet will never assume to use `PluginDir`)

[2017-08-08 03:51] FengyunPan commented on #50246
+1
/cc

[2017-08-08 03:52] karataliu commented on #50150
For now we are looking at '/dev/disk/azure' to detect os/resource disk for excluding during data disk probing.
https://github.com/kubernetes/kubernetes/blob/5644e3d77039df66406237e5fb966971522370d8/pkg/volume/azure_dd/azure_common.go#L181

Verified on CoreOS 1409.7.0 on an Azure VM, the dir `/dev/disk/azure` is not populated by default.

Looks like it is missing a udev rule.

Could you try the gis

[2017-08-08 03:56] FengyunPan commented on #50245
@mashayev Is your node name "ip-192-168-3-40.us-west-1.compute.internal", and is it in region=us-west-1?
It seems that kubelet can't found it.

[2017-08-08 04:00] FengyunPan commented on #50246
@dims I remember that @hogepodge have raised this issuse on slack.

[2017-08-08 04:15] supereagle commented on #49559
I have verified that `m` is allowed for memory unit, which is milli-bytes as @xiangpengzhao said.

According the definition of  [Quantity](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L61-L70):
[code]
To ensure that on precision is lost when serialized, the `0.001Mi` is adjusted down to `m` unit.
This works as expected, maybe it

[2017-08-08 04:16] liggitt commented on #50275
you are telling the  controller-manager to run its control loops using service account credentials (the `--use-service-account-credentials` flag), but you are not giving the controller manager a `--service-account-private-key-file` so it can actually create those credentials. You would need to specify that, and also give the corresponding public key to the apiserver (with `--service-account-key-fi

[2017-08-08 04:29] vishh commented on #49442
I think adding `ResourceMemory` to [this list of integer resources](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/helper/helpers.go#L193) should fix the problem.

[2017-08-08 04:29] vishh commented on #49559
https://github.com/kubernetes/kubernetes/issues/49442#issuecomment-320847044

[2017-08-08 04:36] #49103 closed

[2017-08-08 04:42] supereagle commented on #49442
`m` is OK to used as memory unit, it will be treated as 1/1000 byte.

The root cause is that minimum memory limit allowed for Docker is 4MB. If the specified memory limit is less than 4MB, the containers can not be created, so the pod is always in `ContainerCreating` status.

You can refer to [Docker Doc](https://docs.docker.com/engine/admin/resource_constraints/#limit-a-containers-access-to-memor

[2017-08-08 04:49] vishh commented on #49442
Docker is not the only runtime. What version of docker are you running? Is it still the case that `4MB` is the minimum requirement for docker? I'd be surprised and I will try to fix docker engine rather than make it a requirement in k8s API. I have gone down that path in the past and abandoned it.

[2017-08-08 04:50] liggitt commented on #50275
Opened #50288 to make it clearer when the controller manager is in this situation (it would log a warning and fail to start, rather than continue incorrectly)

[2017-08-08 04:51] xiangpengzhao commented on #49442
Sounds reasonable. But what if docker changes its minimum memory limit? How can validation know that?

[2017-08-08 05:23] shashidharatd commented on #50262
Another flake in here. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46090/pull-kubernetes-unit/45339/

[2017-08-08 05:29] tcharding opened #50292 "Spurious whitespace in kubectl help output"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Within the long description for `kubectl help <command>` environment variables are incorrectly rendered. Output for `kubectl help edit` contains `KUBE _EDITOR`. It should be rendered `KUBE_EDITOR` (without the spurious space).

**What you expected to happen**:

There should not be a space in between `KUBE` and `_EDITOR`.

[2017-08-08 05:33] liggitt commented on #50262
cc @dqminh

[2017-08-08 05:59] ash2k commented on #40657
This has been implemented as part of #48544. Thanks!

[2017-08-08 05:59] #40657 closed

[2017-08-08 06:23] xiangpengzhao commented on #50274
The upgrade tests you listed mean running 1.6/1.7 tests against master clusters, right?

#46197 was merged after 1.7. Before that PR, clusterIP is not respected when updating from service type ExternalName to type ClusterIP. After that PR, specified clusterIP will be allocated. The IP will be validated when allocating. In the failed tests, `127.1.2.3` is not in the valid clusterIP range of the tes

[2017-08-08 06:31] xiangpengzhao commented on #50274
@ericchiang how to disable a test in upgrade tests?

[2017-08-08 06:32] xiangpengzhao commented on #50292
/sig cli

[2017-08-08 06:43] AliYmn opened #50295 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
Hi,

	Result ;
	The connection to the server localhost:8080 was refused - did you specify the right host or port?

----

	Result ;

	The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2017-08-08 06:47] xiangpengzhao commented on #50270
/sig autoscaling
/kind documentation

@vinayagg could you please send a PR to fix it? Note: in the docs repo https://github.com/kubernetes/kubernetes.github.io

[2017-08-08 06:50] tcharding commented on #50292
My bad. Cheers @xiangpengzhao

[2017-08-08 06:51] VinceMD commented on #39178
@msau42 is that documented somewhere?

[2017-08-08 06:58] xiangpengzhao commented on #50292
np. :smile:

[2017-08-08 07:00] xiangpengzhao commented on #50295
Can you check if your kube-apiserver is running and insecure-port 8080 is enabled?

[2017-08-08 07:01] xiangpengzhao commented on #50273
/sig testing

[2017-08-08 07:06] anguslees commented on #1443
@hagbard5235: I'm curious why you would *not* want a node port with v6 :P
Eventually (theoretically) _all_ IP networking will be IPv6 - so I feel like "why does _this_ specific piece need v6?" doesn't need to be justified any further.

More concretely, _I_ would like to have IPv6 nodeports, just because it's easier to manage an IPv6-only network at the host-level (more private addresses to work wi

[2017-08-08 07:09] wojtek-t commented on #45037
@ConradIrwin - please try to compact + defrag + disarm your etcd:
https://coreos.com/etcd/docs/latest/op-guide/maintenance.html
Space quota section.

[2017-08-08 07:14] mithrandi commented on #1443
It seems like you should be able to use ClusterIP services instead of NodePort services. The problem with ClusterIP services on IPv4 is that they are not routable from outside the k8s cluster, but for IPv6 it seems like you could give everything publically routable IPv6 addresses, thus avoiding this problem.

[2017-08-08 07:16] monday0rsunday commented on #49442
My Docker version is 1.12.6.

[code]

[2017-08-08 07:29] zouyee opened #50297 "code comment mistake"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-08 07:30] zouyee commented on #50297
https://github.com/kubernetes/kubernetes/pull/48063

[2017-08-08 07:31] #50297 closed

[2017-08-08 07:35] jwickens commented on #50261
I found a resolution to my problem, it involved configuring the security groups (firewall) rules in AWS. Fuller answer here: https://stackoverflow.com/questions/45543694/kubernetes-cluster-on-aws-with-kops-nodeport-service-unavailable/45561848#45561848

I suggest adding this hint to the documentation on nodeports.

[2017-08-08 07:38] farcaller commented on #47837
My use case is mounting a new secret into a pod based on metadata (tls provisioning). Is this something that is covered by this bug?

[2017-08-08 07:50] supereagle commented on #49442
My Docker version is also v1.12.6.

I think this limitation is not set by Docker, but the requirement of Linux kernel.
When set the memory limit to `5000000m`, which is less than 4MB, the created container will be immediately stopped because of oom-killer:
[code]

When set the memory limit to `5M`(4.77 MiB), which is a little more than 4MB, there is no problem:
[code]

[2017-08-08 07:51] m-no-2017 commented on #50083
I managed to get the service registry working by using another [kube-dns-yaml](https://raw.githubusercontent.com/romana/kubernetes-ha/master/kube-dns-deployment.yaml).

Current logs seem fine:
- container: kubedns
<pre><code>I0808 07:31:00.952053       1 dns.go:42] version: v1.6.0-alpha.0.680+3872cb93abf948-dirty
I0808 07:31:00.952468       1 server.go:107] Using https://10.96.0.1:443 for kubernet

[2017-08-08 07:58] supereagle commented on #49442
As this limitation is not from Docker, but from Linux kernel, I will read Docker source code to find the source of the minimum memory limit.

[2017-08-08 08:03] hzxuzhonghu opened #50299 "service controller should check loadbalancer before create"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
pkg/controller/service/service_controller.go  func createLoadBalancerIfNeeded does not check existence of loadbalance before createLoadBalancer.
**What you expected to happen**:
It is graceful to check existence of lb, only call createLoadBalancer when no lb found
**How to reproduce it (as minimally and precisely as possible)**:

**

[2017-08-08 08:15] colemickens commented on #50150
Thanks @karataliu. That did the trick. PR for `tectonic-installer`: https://github.com/coreos/tectonic-installer/pull/1618

I'm going to leave this open though - older 16.04 images, older versions of Ubuntu, and other distros (may) not have these udev rules.

[2017-08-08 08:17] karataliu commented on #50150
Some updates:
@robszumski  I've tried that package with v1.7.1, but seems https://github.com/coreos/tectonic-installer/pull/1542 is not included. So I was only able to create a cluster with unmanaged disks.

But this issue is not directly related to managed disk. I was able to reproduce by requesting a dynamic unmanaged pvc to my cluster, resulting similar log message:
[code]

Later I go to that a

[2017-08-08 08:25] hzxuzhonghu commented on #50299
/sig service-catalog

[2017-08-08 08:25] colemickens commented on #50150
(@karataliu Note that 1.7.1 is the old Azure disk implementation, so you wouldn't repro anyway. HEAD of master of `tectonic-installer` uses 1.7.2.)

But you've already solved it anyway per my reply right before yours. :+1:  Thanks!

[2017-08-08 08:40] AliYmn commented on #50295
@xiangpengzhao No, no employee.

[2017-08-08 08:43] xiangpengzhao commented on #50295
It should be running. How do you setup your cluster?

[2017-08-08 08:46] m1093782566 opened #50301 "Add validations for kube-apiserver run options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

Create Validate() or add more checks in existing Validate() for the following files:

-  vendor/k8s.io/apiextensions-apiserver/pkg/cmd/server/start.go:80
-  vendor/k8s.io/kube-aggregator/pkg/cmd/server/start.go:104
-  vendor/k8s.io/sample-apiserver/pkg/cmd/server/start.go:82
-  cmd/kube-apiserver/app/options/validation.go:49

I am worki

[2017-08-08 08:46] m1093782566 commented on #50301
@sttts

[2017-08-08 08:47] #50207 closed

[2017-08-08 08:53] #2707 closed

[2017-08-08 08:54] AliYmn commented on #50295
root@ubuntu-512mb-nyc3-01:~$ lsof -i
	COMMAND     PID USER   FD   TYPE DEVICE SIZE/OFF NODE NAME
	sshd       1527 root    3u  IPv4  15779      0t0  TCP *:ssh (LISTEN)
	sshd       1527 root    4u  IPv6  15788      0t0  TCP *:ssh (LISTEN)
	VBoxHeadl 15644 root   22u  IPv4  37266      0t0  TCP localhost:2222 (LISTEN)
	sshd      18809 root    3u  IPv4  42637      0t0  TCP 104.131.172.65:ssh->78.187.60

[2017-08-08 08:58] sttts commented on #50301
:+1:

[2017-08-08 09:00] luxas commented on #47695
@rushabh268 Then you're hostname is identical on two nodes(?) or the kubelet is somehow picking up an invalid node name to use.
Basically you have two flags:
 - `--node-name` on `kubeadm init`
 - `--hostname-override` on the `kubelet`

These values _must_ match and be unique per-node in the cluster.

[2017-08-08 09:05] byungnam commented on #48378
Same problem here.

.

(`kubeadm init` seems okay)
[code]

(`kubeadm join` seems okay, too)
[code]

(but `kubectl get nodes` fails)
[code]

[2017-08-08 09:11] Stono commented on #50256
Yup sure thing.

[2017-08-08 09:11] #50256 closed

[2017-08-08 09:14] supereagle commented on #49442
The minimum memory limit is a const in [daemon/daemon_unix.go](https://github.com/moby/moby/blob/master/daemon/daemon_unix.go#L56-L57):
[code]
Related issue: moby/moby#18405

There is no a good way to know that Docker changes its minimum memory limit.

[2017-08-08 09:33] yastij commented on #50299
cc @bowei

[2017-08-08 09:38] yastij commented on #50299
@hzxuzhonghu it does check LB existence, see:

[code]

[2017-08-08 09:44] hzxuzhonghu commented on #50299
@yastij  I mean in the else branch，
before s.createLoadBalancer(service) should check LB ， if LB exist， no use to create, otherwise call create

[2017-08-08 09:48] yastij commented on #50299
@hzxuzhonghu - read it too fast, yup indeed I think it misses some check, waiting for @bowei confirmation

I'll also submit some simplification for the code above

[2017-08-08 09:51] szuecs commented on #22609
We run 2 masters in AWS with an ASG. If we teardown one master it will take about 5-10 minutes to get a replacement, which is fine for all loadbalanced applications.

If you want to have a HA Kubernetes you have to set --apiserver-count=N, where N>1, but this will make sure that the "kubernetes" endpoints will not clean up the teardowned master from above. This is not like normal loadbalancers wor

[2017-08-08 09:58] xiangpengzhao commented on #50295
FYI: https://kubernetes.io/docs/setup/pick-right-solution/

[2017-08-08 10:19] pegerto opened #50304 "Kubelet UpdateNodeStatus should not honour API QPS"
/kind feature
/sig node

*Scenario*

UpdateNodeStatus operation requires Read / Write operations to the api-server, these activities are used to provide an updated vision of the node to the controller-manager.

When the node manages multiple volumes, there is an additional number of request that kubelet trigger to the API manager. By default, kubelet request is under a flow control, which implemen

[2017-08-08 10:24] pegerto commented on #50304
/sig node

[2017-08-08 10:25] mbohlool commented on #49879
I like option 4. With that option, we can also have `OpenAPISpecV2` today. Users can provide either `OpenAPISpecV3` or `OpenAPISpecV2`.

If they provide `OpenAPISpecV2` we would use that today and up-convert it when we support OpenAPI v3.

If they provide `OpenAPISpecV3` we would down-convert it now and when we support OpenAPI v3, use that directly.

If they provide both, we would use the appropri

[2017-08-08 10:34] FengyunPan commented on #50299
@hzxuzhonghu It has checked LB:https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L265

[2017-08-08 10:45] sttts commented on #49879
Sounds like option 4 is the chosen one. One addition: we do not default the empty fields. But we might migrate some day when V2 is removed.

[2017-08-08 10:45] FengyunPan opened #50305 "Can't update cluster-cidr for controller manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

1. start controller manager with --cluster-cidr=10.0.0.0/16
\--------------------------
\#  kubectl get pod -n kube-system | grep controller-manager
kube-controller-manager-hz-ugnx7gsqul-0-i5qtlkkffqkf-kube-master-2cn6c3wo57qx   1/1       Running   0          1m
\# kubectl logs kube-controller-manager-hz-ugnx7gsqul-0-i5qt

[2017-08-08 10:47] FengyunPan commented on #50305
/sig node

[2017-08-08 10:47] FengyunPan commented on #50305
/sig network

[2017-08-08 10:53] xiangpengzhao commented on #50299
/remove-sig service-catalog
/sig network

[2017-08-08 11:04] mbohlool commented on #49588
@caesarxuchao I guess this is client-go. Can you take care of this? I can also look if you want me to.

[2017-08-08 11:09] yastij commented on #50299
@hzxuzhonghu -  after closer look:
[code]
from what i recall `#EnsureLoadBalancer()` still updates LB if one exists, so i think that it's okay, @bowei to you for confirmation

[2017-08-08 11:13] amolsh commented on #49926
Now volume attachement  is successfull, but still getting error

![image](https://user-images.githubusercontent.com/10971917/29069431-99ead704-7c58-11e7-98e5-68c4cb0e4824.png)

**master kube-controller logs:**

[code]

[2017-08-08 11:21] hzxuzhonghu commented on #50299
@yastij I think this may work more gracefully.
`else {
		glog.V(2).Infof("Ensuring LB for service %s", key)

		// Should check exist of LoadBalancer
		newState, exists, err = s.balancer.GetLoadBalancer(s.clusterName, service)
		if err != nil {
			return fmt.Errorf("Error getting LB for service %s: %v", key, err), retryable
		}
		if !exists {
			// The load balancer doesn't exist yet, so create it.

[2017-08-08 11:24] yastij commented on #50299
@hzxuzhonghu - this might be called to process services updates. with this check we can't update LB if needed.

[2017-08-08 11:45] hzxuzhonghu commented on #50299
I know what you mean, I miss it .   This requires cloud provider  realize of EnsureLoadBalancer to do some more check.

[2017-08-08 11:47] Bobi-zhou opened #50309 "how to get the container id in pod?"
i want to get the container info in my pod,i tried to inject data into env but failed,it tips:

`* spec.template.spec.containers[0].env[0].valueFrom.fieldRef.fieldPath: Invalid value: "status.containerStatuses[0].containerID": error converting fieldPath: field label not supported: status.containerStatuses[0].containerID`

how to get it?

[2017-08-08 11:51] xiangpengzhao commented on #50261
/cc @justinsb

[2017-08-08 11:57] drinktee commented on #50309
You can access the kubernetes api in pod. And containerID is in containerStatuses.

[2017-08-08 11:58] yastij commented on #50262
@liggitt - any update on this one ?

[2017-08-08 12:01] liggitt commented on #50262
I just opened the issue because I encountered it. @kubernetes/sig-federation-test-failures is assigned to resolve it.

[2017-08-08 12:04] liggitt commented on #48378
do you have `$KUBECONFIG` pointing to `/etc/kubernetes/kubelet.conf`?

[2017-08-08 12:13] timoreimann commented on #2707
My PR just got merged. Once released, environment variable names with dots (and dashes) should generally be supported.

[2017-08-08 12:22] wkruse opened #50311 "NFS PVC recycler occasionally isn't scheduled"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

Sometimes our NFS PVs (with `persistentVolumeReclaimPolicy: Recycle`) are not scrubbed (recycler pod isn't scheduled), when PVCs are deleted.

**What you expected to happen**:

Either recycler pod should be scheduled or an error message should be logged.

**How to reproduce it (as minimally and precisely as po

[2017-08-08 12:23] m-no-2017 commented on #50083
Next epiphany:
- kube-dns service (10.96.0.10) has correct endpoints to kube-dns pod (10.96.128.5, in my current case)
- kube-dns image: gcr.io/google_containers/kubedns-amd64:1.9
- **no** env values set (e.g. KUBERNETES_MASTER, KUBERNETES_SERVICE_HOST)
- **no** --kube-master-url set
- dns resolution works if nslookup uses the **POD** IP of kube-dns (10.96.128.5) not the service IP (10.96.0.10)

O

[2017-08-08 12:27] nikhita commented on #49879
@mbohlool Do you think a user should be allowed to provide two schemas i.e. one for `v2` and one for `v3`? (If yes, we will have to validate against both).

[2017-08-08 12:33] Stono opened #50312 "PVC/PV not unbound when statefulset is destroyed"
Hi,
I recently deleted a statefulset, and then recreated it - and it wouldn't start due to a timeout waiting for the storage to complete (GKE, Kubernetes 1.7.2).

The statefulset:
[code]
The PVC (showing as bound, if i delete the SS, it still shows as bound):
[code]

The PV:
[code]

The disk:
[code]

I've left it a good 10 minutes now to see if it fixes itself, but it hasn't, and now i'm unable to

[2017-08-08 12:34] Stono commented on #50312
@kubernetes/sig-storage-bug

[2017-08-08 12:45] wkruse commented on #50311
/sig storage

[2017-08-08 12:50] hagbard5235 commented on #1443
@anguslees Part of the reason I asked is that we have a whole bunch of practices that have evolved over time to compensate for limitations in IPv4 that are not present in IPv6.  For a hysterical example, see [this xtranormal video on IPv6 NATs](https://www.youtube.com/watch?v=v26BAlfWBm8).  On the flip side... I've found it dangerous to simply imagine things to fall into this category, because all

[2017-08-08 12:52] Stono commented on #50312
OK, it took about 20 minutes but it finally cleared the lock... is that normal?

[2017-08-08 13:03] dmayo3 opened #50313 "Failed DaemonSet pods not (re)starting when DS YAML corrected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Some DaemonSet pods were in a failed state (looking for an undefined secretKeyRef).

The pods would not (re)start without manual intervention after correcting the YAML file.

Workaround was to delete the failed pods.

**What you expected to happen**:

Failed pods would be (re)started with the new settings.

**How to repro

[2017-08-08 13:08] hagbard5235 commented on #1443
@mithrandi I was kind of thinking the same thing re using ClusterIP services instead of NodePort... but I asked because (as noted above) I'd like to get a view from others on that point.  I tend to (perhaps naively) think you could simply draw your service IPs from a ServicePrefix::, Anycast that ServicePrefix:: to all Nodes, and get basically the same result as NodePorts (while letting your Netwo

[2017-08-08 13:11] x13n opened #50314 "hack/cherry_pick_pull.sh failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Cannot create cherrypick PR with hack/cherry_pick_pull.sh:

$ GITHUB_USER=x13n hack/cherry_pick_pull.sh release-1.7 49009
+++ Updating remotes...
Fetching upstream
fatal: Refusing to fetch into current branch refs/heads/master of non-bare repository
error: Could not fetch upstream
Fetching origin

**What you expected to

[2017-08-08 13:11] x13n commented on #50314
/cc @wojtek-t

[2017-08-08 13:11] x13n commented on #50314
/sig release

[2017-08-08 13:13] darren-rose commented on #36152
`ubuntu@dev06:~$ kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3", GitCommit:"2c2fe6e8278a5db2d15a013987b53968c743f2a1", GitTreeState:"clean", BuildDate:"2017-08-03T07:00:21Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.0", GitCommit:"d3ada0119e776222f11ec7945e6d860061339aad",

[2017-08-08 13:13] wojtek-t commented on #50314
This is misconfiguration because the script works for me. It's not a bug, maybe it's missing some hints what do you have misconfigured.

[2017-08-08 13:22] x13n commented on #50314
Indeed. Narrowed this down to:

$ git fetch upstream
fatal: Refusing to fetch into current branch refs/heads/master of non-bare repository

This was working before; digging further.

[2017-08-08 13:22] luxas opened #50315 "There should be constants for well-known RBAC ClusterRole(Bindings)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Right now, there are no constants defined for well-known ClusterRoles and ClusterRoleBindings like `system:node-proxier`, `system:node-bootstrapper`, etc.

It would be really helpful for consumers like kubeadm etc. to be able to source these consts from a pkg with no other deps.

cc @kubernetes/sig-auth-feature-requests @kubernetes/sig-

[2017-08-08 13:24] dqminh commented on #50262
@liggitt strange, i can take a look at this.

[2017-08-08 13:26] x13n commented on #50314
I still have no idea what failed, but recreating the repo helped. Keeping this open to improve error messages in the script.

[2017-08-08 13:29] sttts commented on #49879
I would only allow one.

[2017-08-08 13:32] snelis commented on #48937
I can work around the problem using the `--docker-disable-shared-pid` option in the kubelet, however this not the desired solution of course.

[2017-08-08 13:39] leblancd commented on #1443
@mithrandi @anguslees I have the IPv6 NodePorts (and externalIPs) working in the lab, and I'll be pushing up a PR in the next day or two (works in conjunction with PR #48551). This would allow you to configure your cluster similar to what we have for IPv4 services if you want. (There's nothing preventing you from using global cluster/pod IPs and routing directly to those, if you prefer.) For those

[2017-08-08 13:41] danielchg commented on #43744
It should be great, I also need to force the use of only TLSv1.2 on the ELBs.

[2017-08-08 13:46] soltysh commented on #41039
I'm back from my holidays and this is my highest priority for 1.8. I'm currently working on https://github.com/kubernetes/kubernetes/pull/49930 which is a cleaning part of the actual migration happening in https://github.com/kubernetes/kubernetes/pull/41901. I'm hoping to get the PR finished and merged this week, or next at latest.

[2017-08-08 13:58] shashidharatd commented on #50262
I had just raised a fix. @dqminh, Can you PTAL. Thanks!

[2017-08-08 14:03] jmarcos-cano commented on #43805
Just to add to @heartarea 's response

## Verify which cgroup driver dockerd is using
`docker info |grep -i cgroup`

## Verify kubeadm cgroup settings
`cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf`

## change it to match Docker's
- `vi /etc/systemd/system/kubelet.service.d/10-kubeadm.conf`

- update `KUBELET_CGROUP_ARGS=--cgroup-driver=systemd` to `KUBELET_CGROUP_ARGS=--cgroup-driver=

[2017-08-08 14:06] FengyunPan opened #50318 "Failed to run godep-save.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:

\$ rm -rf Godeps
\$ rm -rf vendor
\$ ./hack/godep-save.sh
Running godep save. This will take around 15 minutes.
godep: Package (k8s.io/apimachinery/pkg/openapi) not found
!!! Error in ./hack/godep-save.sh:45
  Error in ./hack/godep-save.sh:45. 'GOPATH=${GOPATH}:${KUBE_ROOT}/staging godep save "${REQUIRED_BINS[@]}"' exite

[2017-08-08 14:06] FengyunPan commented on #50318
@sttts Can you give me some ideas?

[2017-08-08 14:07] shiywang commented on #50147
I think at the very beginning, at least v1.5.0 the logic is already like this, I'm not sure why this bothering you

I use this lot of time, I'd prefer keep it.

also cc @kubernetes/sig-cli-misc

[2017-08-08 14:11] dims commented on #50318
@FengyunPan - Did you try the "separate directory" tip? https://github.com/mironov/kubernetes/blob/master/docs/devel/development.md#using-godep

[2017-08-08 14:20] liggitt commented on #50147
I don't think edit should open with an empty list.

`edit myresource` should open a list if there are multiple items, a single item if there is only one, and error if there are none of that type.

`edit myresource/name` should open a single item if it is found, and error if it is not found

[2017-08-08 14:22] sttts commented on #50318
have you called `./hack/godep-restore.sh` before?

[2017-08-08 14:23] sttts commented on #50318
`godep: Package (k8s.io/apimachinery/pkg/openapi) not found` is strange. I think we had that before. It was gone after a clean checkout.

[2017-08-08 14:24] Bobi-zhou commented on #50309
@drinktee how to access the kubernetes api in shell?

[2017-08-08 14:31] FengyunPan commented on #50318
@dims Yes, I try to update gophercloud by (https://github.com/mironov/kubernetes/blob/master/docs/devel/development.md#using-godep).

[2017-08-08 14:32] bskiba opened #50319 "Consistent timeout of pull-kubernetetes-verify on a PR touching hack/ directory."
/kind bug

I have a PR that I am trying to merge that ads a flag to hack/verify-flags/known-flags.txt (https://github.com/kubernetes/kubernetes/pull/49382). I can't get pull-kubernetes-verify to pass as it keeps timing out (https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/49382/pull-kubernetes-verify/)
Comparing with logs other PRs that do pass the check I have an addition

[2017-08-08 14:35] bskiba commented on #50319
/sig testing

[2017-08-08 14:37] soltysh commented on #48388
@kron4eg but that's expected. You can't mutate certain parts of the job after it is created. That's how this should work.

[2017-08-08 14:37] FengyunPan commented on #50318
@sttts @dims Sorry, my code is older and pkg/generated/openapi/zz_generated.openapi.go need '(k8s.io/apimachinery/pkg/openapi)'.
I close this issue.

[2017-08-08 14:37] #50318 closed

[2017-08-08 14:44] marvinthepa opened #50321 "Support the env flag from docker exec in kubectl exec (and API)"
This is similar to #30656.

If `docker exec` is used for the `exec` endpoint, then it would be better to have an `env` parameter working like the one of `docker exec`. At least better than pasting the environment variables into the command and having to deal with escaping issues..

/kind feature
/sig cli

[2017-08-08 14:45] dixudx commented on #50309
@Bobi-zhou You can refer to [Expose Pod Information to Containers Through Environment Variables](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/).

[2017-08-08 14:47] marvinthepa commented on #50321
/sig cli

[2017-08-08 14:48] flyer103 opened #50322 "kubelet-v1.7.0: storage capacity is 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

bug

**What happened**:
When I described a node, I found that the value of `storage.kubernetes.io/scratch` is `0`.

**What you expected to happen**:
The value of `storage.kubernetes.io/scratch` should be the storage size that the node could offer, like `cpu` or `memory` resource.

**How to reproduce it (as minimally and precisely as possible)**:
In ku

[2017-08-08 14:49] yastij commented on #49784
ping @k82cn @gmarek

[2017-08-08 14:50] marvinthepa commented on #50321
I feel this needs an additional label as it is not only about the CLI, but the corresponding API as well - but I can't find the corresponding label. Maybe someone can help me out here,?

[2017-08-08 14:50] githubvick commented on #49389
@gatneil thx for your response and pointers.

The vm name is actually k8s-0, k8s-1 and so on, I am actually provisioning the VM through terraform, but I dont see any visible difference in the Azure console between the VM's created manually and through Terraform. Let me try to reproduce the issue with VM's created manually.

[2017-08-08 14:52] flyer103 commented on #50322
/sig storage

[2017-08-08 14:53] xiangpengzhao commented on #50312
/sig storage

[2017-08-08 14:55] xiangpengzhao commented on #50313
/sig apps
and maybe
/sig cli
also

[2017-08-08 15:00] xiangpengzhao commented on #50314
Seems like here misconfigured, not sure why though.

[code]

/sig contributor-experience

[2017-08-08 15:02] gmarek commented on #49784
I think in general it shouldn't. Operator can always add those tolerations for daemons for which this is safe, but in principle Daemons might actually require healthy disk.

[2017-08-08 15:06] rrati opened #50323 "rawextension unmarshal doesn't handle nil values properly"
/kind bug

**What happened**:
If a field in the RawExtension is nil, it will be encoded as []string{"null"), but when it is unmarshaled the raw string will be "null" instead of an empty nil value.

**What you expected to happen**:
Unmarshal should produce an exact object to what was marshaled.  A nil field or object when marshaled should be nil when unmarshaled.

@kubernetes/sig-api-machinery-bugs

[2017-08-08 15:22] chenww commented on #42701
Same issue with kubectl 1.7.2:

Capacity:
 cpu:           4
 memory:        16004820Ki
 pods:          110
Allocatable:
 cpu:           3900m
 memory:        15402420Ki
 pods:          110
System Info:
 Machine ID:                    833e0926ee21aed71ec075d726cbcfe0
 System UUID:                   EC2F249D-24B6-9EFC-DF6E-AFCF471F3D32
 Boot ID:                       4dcd9027-39e3-4f5d-a75a-6a9b909b

[2017-08-08 15:22] xiangpengzhao commented on #50322
This should have been fixed by #48567.
xref: #48452

/cc @jingxu97 @feiskyer

[2017-08-08 15:31] flyer103 commented on #50322
Thanks.
I'll try kubernetes-v1.7.3 tomorrow and check the node storage capacity reported by kubelet.

[2017-08-08 15:36] khenidak commented on #50150
@lmickh - can you confirm if this solves the issue you are having as well?

[2017-08-08 15:39] djschny commented on #43629
I'm running into this on GKE using v1.7.2 today:

[code]

[2017-08-08 15:44] yastij commented on #50313
cc @lukaszo

[2017-08-08 16:07] ssenthil416 opened #50326 "Re-usage of Pod/Container details for New Pod/Container"
/kind feature

**What happened**: When a Pod is down for some reason. A New Pod/Container is getting created with new ID always. Due to which other metric collections for a particular pod or container got affected and we need to find a alternative way for this metric collection based on pod/container

**What you expected to happen**:  I want the new pod/container created with same ID(which recentl

[2017-08-08 16:09] lmickh commented on #50150
Appears to have solved the issue.  I had to remove/re-add the nodes and break the leases on the PVCs disks that were in a failed state, but it seems to be recoverable.

[2017-08-08 16:28] djschny commented on #2630
FYI - For those coming to this and using the [workaround](https://github.com/kubernetes/kubernetes/issues/2630#issuecomment-275118375) by @amarruedo it will need to be updated to the [new v1.6+ syntax for initContainers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#init-containers-in-use). and looks like the following:

[code]

Regardless does the trick, but will be nice whe

[2017-08-08 16:55] yujuhong commented on #48937
@verb @yguo0905 just FYI, looks like some images have to be run as PID 1.

[2017-08-08 17:06] akshaymankar commented on #32987
I was trying this with 1.7, it is still an issue.

[2017-08-08 17:07] yujuhong commented on #49236
Can anyone post the meeting information somewhere?

[2017-08-08 17:10] ConradIrwin commented on #45037
Thanks @wojtek-t Will forward your advice to the Google Container Engine engineers working on this.

[2017-08-08 17:19] luxas commented on #49236
@yujuhong Here is the general SIG Cluster Lifecycle Meeting Notes: https://docs.google.com/document/d/1deJYPIF4LmhGjDVaqrswErIrV7mtwJgovtLnPCDxP7U/edit#
The more specialized meeting we're going to have tomorrow has its meeting notes here: https://docs.google.com/document/d/16CEsBSSGm3sMpvB_cFnKnqqi1OxhIcyX3lVwBpIyMHc/edit (they are linked to each other though)

[2017-08-08 17:22] numbsafari commented on #41039
Let me know where / what TZ to deliver a pizza!

[2017-08-08 17:28] binoculars commented on #48069
linking possibly related: kubernetes/helm#2736. Not fixed in 1.7.2 as far as I can tell.

[2017-08-08 17:31] caesarxuchao commented on #50047
[case 4](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48184/pull-kubernetes-e2e-gce-etcd3/45594?log#log):
Deletion started at:
[code]
GC's first action at:
[code]

GC deletes the last Pod at:
[code]
Took 99s.

Experienced 3 API re-discoveries:
[code]
37s in total

[2017-08-08 17:36] caesarxuchao commented on #50047
The test is much [less flaky](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Garbage%20collector%20should%20not%20be%20blocked%20by%20dependency%20circle) after we extended the timeout to 90s. We can further extend the timeout if needed.

[2017-08-08 17:50] wongma7 commented on #50311
Controller-manager is where the recycler operations are logged, I would look there for any mentions of "recycle" and the PV in question. You may have to turn up verbosity to 4 or 5. In particular, maybe you will find "unexpected error creating recycler pod: ". All recycler related errors should be propagated to the PV, so does 'kubectl describe pv $affectedpv" show any interesting recycler events?

[2017-08-08 17:52] msau42 commented on #43629
@djschny that's an error in the statefulset set example. You need to either specify a valid storage class name or omit the field to use the default.  I'll fix the docs

[2017-08-08 18:01] msau42 commented on #39178
Hm I don't think it is.  I'll see where may be the best place to add it. Maybe in the multizone page.

[2017-08-08 18:14] jingxu97 commented on #50322
@flyer103 Since the storage capacity storage.kubernetes.io/scratch is a new API type, it is till in alpha feature. So you have to enable alpha cluster to get the capacity reported by kubelet.

[2017-08-08 18:32] kingdonb commented on #48161
Yes, closing

[2017-08-08 18:32] #48161 closed

[2017-08-08 18:39] dchen1107 commented on #48937
In 1.7 release, we enabled shared pid namespace if the docker version is docker 1.13 and beyond for debug pod feature. Do anyone know why those images, such as GlusterFS have to run as PID 1?

@verb we need to figure out how to resolve this conflict with shared pid namespace. If we cannot, we have to disable that setting for 1.8 since we scheduled to support docker 1.13 in 1.8 timeframe. I am curr

[2017-08-08 18:40] dchen1107 commented on #48937
cc/ @abgworrall

[2017-08-08 18:44] bowei commented on #50271
I took at look and it seems like the problem has gone away:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&sig=network&job=pull-kubernetes-e2e-gce-etcd3&test=conformance

[2017-08-08 18:54] bskiba commented on #50319
Looks like I managed to merge the PR as another retest fit under the limit (2017-08-08 16:52 CEST took 56m43s) but raising the timeout for pull-kubernetes-verify might be worth considering for cases similar to mine.

[2017-08-08 18:57] danwinship commented on #49978
Alas, it's not just "everywhere except X". You want to be able to say "allow from 192.168.0.0/16 except for 192.168.8.0/24".

The problem is that while you can assign labels to pods and namespaces in ways that make it easy to describe the set of pods/namespaces you want to allow traffic from/to, you don't get to rearrange the rest of the internet to make it easy to describe the IP ranges you want

[2017-08-08 19:17] crimsonfaith91 opened #50331 "pull-kubernetes-federation-e2e-gce test is flaky"
/kind bug

**What happened**:
A look at k8s-gubernator shows that the submit queue test `pull-kubernetes-federation-e2e-gce` fails most PRs.
The PRs failed when setting up the federation cluster: `error during ./federation/cluster/federation-up.sh: exit status 1`

[2017-08-08 19:17] crimsonfaith91 commented on #50331
/sig federation

[2017-08-08 19:25] mbohlool commented on #49879
I agree with @sttts. we should only allow one.

Furthermore, I see from your change that you are using (a copy of) `go-openapi`'s `SchemaProps`.
First, why a copy, why not use the type directly? (We need to keep it in sync when a complete support of v3 added to go-openapi if we keep a copy).

Second, I think we should use `Definitions` not `SchemaProps`. Definitions is a map from a name to `Schema

[2017-08-08 19:33] caesarxuchao commented on #42086
@foxish @enisoc do you know if there are any changes to the replication controllers recently?

[2017-08-08 19:43] nikhita commented on #49879
It was decided that we should not allow our types to be dependent on external types. https://github.com/kubernetes/community/pull/708#discussion_r123503155.

Maybe I am missing something here but both the v3 and v2 specifications say that `Definitions` is not supported?
- v3: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schema-object
- v2: https://github.com/OAI/OpenA

[2017-08-08 20:18] PatrickMurray opened #50336 "kube-apiserver ignoring etcd TLS parameters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The kubernetes API server is successfully running.

[code]

The etcd cluster is healthy and reachable from the kubernetes master node.

[code]

However, according to kubernetes, the etcd cluster is rejecting it's HTTP health checks by throwing a TLS bad certificate error.

[code]

**What you expected to happen**:

I expe

[2017-08-08 20:20] PatrickMurray commented on #50336
/sig kind/bug

[2017-08-08 20:20] PatrickMurray commented on #50336
/sig area/apiserver

[2017-08-08 20:33] Calpicow commented on #48081
Haven't seen it since. I've also upgraded to v1.6, so will update if it happens again.

[2017-08-08 20:38] jpbetz commented on #50271
Thanks @bowei. It might have been fixed by https://github.com/kubernetes/kubernetes/issues/49672#issuecomment-318427479.

[2017-08-08 20:38] #50271 closed

[2017-08-08 20:45] therealplato commented on #29887
I found this issue deep down the rabbit hole, looking for a way to specify one of several clusters that my svc/deployment/configmap manifests must use.
Am I out of luck for now?

[2017-08-08 21:00] bgrant0607 commented on #46934
I am in favor of moving rollback out of the Deployment controller and out of the DeploymentSpec. I'm not in favor of moving it to the apiserver. It can be done in an external controller. I just approved #49340.

[2017-08-08 21:07] crimsonfaith91 opened #50339 "Controller selector should not default to template labels"
/kind bug

**What happened**:
Currently, `obj.Spec.Selector.MatchLabels` is set to `obj.Spec.Template.Labels` if `obj.Spec.Template.Labels != nil && obj.Spec.Selector == nil`. We should not perform this defaulting operation as controller selectors are meant to be immutable.

**What you expected to happen**:
No defaulting operation happens for controller selectors.

/sig apps

[2017-08-08 21:07] crimsonfaith91 commented on #50339
/assign

[2017-08-08 21:13] cmluciano commented on #49978
Talked with Casey and Dan and we generally like the operator pattern since it matches labelSelector. I will update the PoC while we gather more feedback.

[2017-08-08 21:18] erictune opened #50340 "Proposal to simplify kubectl reapers"
# Summary of proposed code change

  1. remove selector-overlap detection code from reapers that have it because ownerRef changes in 1.5 effectively prevent selector-overlap.
  1. remove scale down code from reapers since foreground GC can do it for you
  1. change default timeout to either num pods time pod grace period, or infinity.

# Changes in kubectl behavior

A Relnote will call out this ch

[2017-08-08 21:18] erictune commented on #50340
@kubernetes/sig-apps-misc

[2017-08-08 21:46] #50022 closed

[2017-08-08 21:53] mbohlool commented on #49879
I meant this definition: https://github.com/go-openapi/spec/blob/f81e0f768713035fe232cd0d44a1c56e4eef1383/swagger.go#L190

[2017-08-08 22:15] erictune commented on #50340
For statefulSet, when we stop doing scale down, you lose ordered delete.
However, there are no known use cases where ordered delete is important.  Ordered scale up and down is mostly about maintaining sync between actual scale and individual members knowledge of what peers they have / quorum expectations.  You don't need that if you are just deleting without scaling.  @kow3ns agreed with this.   S

[2017-08-08 23:00] cheftako opened #50342 "Aggregator returns 200 with error marshalling protobuf response"
/kind bug

**What happened**:
Sent a request for an aggregated resource (sample-api wardle/flunders). Response was a 200 status code and an error message saying the response could not be given.

**What you expected to happen**:
We should have an error status code.

**How to reproduce it (as minimally and precisely as possible)**:
1) Set up sample-apiserver.
2) curl -k -v -XGET  -H "User-Agent: kub

[2017-08-08 23:01] cheftako commented on #50342
/sig api-machinery

[2017-08-08 23:21] jkinkead commented on #20902
I'm still seeing completed, running, and failed pods left around after the owning job is deleted in 1.7.0 (by issuing a `DELETE` against the API).

Did #42176 really fix this?

kubectl version:
[code]

[2017-08-08 23:31] mikebrow opened #50343 "Update needed for e2e tests to allow buckets to run for CRI scenarios"
/kind bug

**What happened**:
While testing CRI-Containerd to ensure sysctl support ( https://github.com/kubernetes-incubator/cri-containerd/pull/119 ) is working I ran:
[code]
**What you expected to happen**:
All sysctls tests pass.

**How to reproduce it (as minimally and precisely as possible)**:
install and setup here:
https://github.com/kubernetes-incubator/cri-containerd/blob/master/docs/tes

[2017-08-08 23:33] mikebrow commented on #50343
/sig node

[2017-08-08 23:52] Bobi-zhou commented on #50309
@dixudx yup，but supported values:metadata.name, metadata.namespace, spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP;
Unsupported value status.containerStatuses[0].containerID

[2017-08-08 23:53] kylegato commented on #28272
We have a use case for this, we are doing on-demand live video transcoding, and I need to store my originals somewhere super fast (from S3) to get them to the CPU as fast as possible in order to meet our super tight SLA. Nothing is faster than memory so this has been working well for us. We have multiple operations to run against this file which is why we don't just pipe it into another command to

[2017-08-08 23:54] thesandlord opened #50345 "ConfigMaps and Secrets mounted with subPath do not update when changed"
/kind bug

**What happened**:

I wanted to mount a ConfigMap and a Secret directly as a file and didn't want to mount it as a full directory, so I used subPath to do so:

[code]
When the pod is created, it mounts the ConfigMap and Secret correctly. However, if I change them, the updates are not projected into the currently running pods. New pods get the updated file. According to the [documentatio

[2017-08-08 23:55] thesandlord commented on #50345
/sig storage
/sig docs

[2017-08-09 00:20] lobboblaw commented on #43744
Chiming in to say that this would be fantastic.

[2017-08-09 00:20] dimm0 commented on #49065
Still in 1.7.3, Centos 7.3

[2017-08-09 00:37] erikh commented on #49065
Are you all compiling with netgo or cgo for dns?

On Tue, Aug 8, 2017 at 5:21 PM, Dmitry Mishin <notifications@github.com>
wrote:

[2017-08-09 00:45] msau42 commented on #48081
Please reopen if you see the issue.

/assign

[2017-08-09 00:45] msau42 commented on #48081
/close

[2017-08-09 00:45] #48081 closed

[2017-08-09 01:10] byungnam commented on #48378
@liggitt After I set the `$KUBECONFIG` to `/etc/kubernetes/kubelet.conf`, now it gives me a timeout error.

[code]

And now I want where the `$KUBECONFIG` came from because there is no such statement in the [manual](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) I'm referencing.

[2017-08-09 01:15] jiaqianjing opened #50346 "runtime: failed to create new OS thread (have 11 already; errno=12) fatal error: newosproc"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubectl get node ( or any command line: kubectl xxx xxx):
[code]

**Anything else we need to know?**:

**Environment**:
**FOCUS:**
v1.6.4-dirty : dirty is my tag when I built.
[code]
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`):
[code]
- Install tools:
no

[2017-08-09 01:20] smarterclayton commented on #49035
Re label and annotate, what if someone wants to write an initializer in
bash that runs those commands?  Definitely needs to be possible.  I think
we probably need to think of all mutating commands as "how would the user
react to being denied edit"?  I think omitting by default makes sense for
scripting commands - i.e. kubectl annotate -l foo=bar would break for
normal users if we changed to includ

[2017-08-09 01:21] smarterclayton commented on #49035
I think the others are more clear.

On Tue, Aug 8, 2017 at 9:20 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2017-08-09 01:21] liggitt commented on #48378
From the output of the node join command:

`[kubeconfig] Wrote KubeConfig file to disk: "/etc/kubernetes/kubelet.conf"`

[2017-08-09 01:25] jiaqianjing commented on #50346
/sig kind/bug
/sig kubectl kubelet

[2017-08-09 01:28] xsgordon commented on #49414
@xrl are you able to re-test with https://github.com/kubernetes/kubernetes/pull/47602 applied?

[2017-08-09 01:54] msau42 commented on #43629
Fixing the docs at kubernetes/kubernetes.github.io#4705

[2017-08-09 01:57] msau42 commented on #39178
Updating docs at kubernetes/kubernetes.github.io#4706

[2017-08-09 02:10] dashpole commented on #50268
Another relevant change is to make the eviction manager wait for the cleanup of a pod's containers before evicting the next pod.   This will prevent extra evictions.

[2017-08-09 02:10] DanielYWoo commented on #2856
+1
We have a batch service which upload and download a lot of PDF files, it consumes a lot of network bandwidth and affects other services. Bandwidth limit is a very useful feature for us.

[2017-08-09 02:48] shashidharatd commented on #50319
I am facing the same issue for my pr https://k8s-gubernator.appspot.com/pr/46090
pull-kubernetetes-verify is consistently timing out.
I feel we should raise the timeout for this job by few more minutes should work for now.
@fejta, any thoughts? its annoying that any pr touches hack/ directory just to add some flag in hack/verify-flags/known-flags.txt triggers this pattern.

[code]

[2017-08-09 02:48] shashidharatd commented on #50319
/assign @fejta

[2017-08-09 03:04] shashidharatd commented on #50319
here is a link to the issue on `known-flags.txt`  https://github.com/kubernetes/kubernetes/issues/40329
shall we remove this hack/verify-flags-underscore.py check?

[2017-08-09 03:16] liggitt commented on #50342
I expect that's a shortcoming of the example server, not the aggregator itself

[2017-08-09 03:23] xigang commented on #47131
@xiang90
the same problem.

#### etcd version:
[code]
#### kubernetes version:
[code]

#### show kube-apiserver logs:
[code]

thx

[2017-08-09 03:24] liggitt commented on #50336
This is only an issue in the way component checks the etcd status. The check was fixed in 1.7 to use the provided etcd credentials (see https://github.com/kubernetes/kubernetes/pull/39716/commits/b1040171b68217dccb617de85defa4a5063c638b)

[2017-08-09 03:24] #50336 closed

[2017-08-09 03:26] flyer103 commented on #50322
Thank you.

I have tried to install kubernetes-v1.7.3 and set `--feature-gates=AllAlpha=true` to `apiserver` `controller-manager` `scheduler` and `kubelet`. Then I could see the  expected value of `storage.kubernetes.io/scratch`.

In addition, I have another doubt.
[sizeLimit](https://kubernetes.io/docs/api-reference/v1.7/#emptydirvolumesource-v1-core) for `EmptyDir` is supported since kubernetes-

[2017-08-09 03:47] xiangpengzhao commented on #50322
@flyer103 yes this is an alpha feature in 1.7. See: https://github.com/kubernetes/kubernetes/pull/45686

[2017-08-09 03:56] flyer103 commented on #50322
Got.

[2017-08-09 03:56] #50322 closed

[2017-08-09 04:13] piosz commented on #50151
@tallclair @dashpole could you please take a look?

cc @brancz @fabxc

[2017-08-09 04:14] piosz commented on #23233
cc @x13n

[2017-08-09 04:51] dimm0 commented on #49065
I was using the standard RPMs from the distro

[2017-08-09 05:20] VinceMD commented on #34978
We are trying to deploy Cassandra based on the example with PersistentVolume. Unfortunately if we kill a VM, and a new VM (EC2) gets created, PVC re-attached, Cassandra complains:

`java.lang.RuntimeException:` A node required to move the data consistently is down (/10.2.41.13).`

I think the new pod got a different IP and Cassandra is not happy.
So this is a problem. I didn't find a way in Statef

[2017-08-09 05:32] #48654 closed

[2017-08-09 05:39] derekwaynecarr commented on #42001
@k82cn - i anticipate we will also add a CPUPressure condition which will also mean that no BestEffort pod can be scheduled to that node if the kubelet is running with a static cpu assignment policy.

/cc @sjenning

[2017-08-09 05:56] brugz commented on #50041
Also, if I could add two-cents, it would be great if I could print the running config using kubectl :)

[2017-08-09 05:59] tcharding commented on #48987
May I please verify this with you @k82cn? Is the idea that for each occurrence of an if/else branch on `useTaintBasedEvictions` add a method to the interface and and then have the two concrete types implement the method with the respective logic from the original if/else branch?

[2017-08-09 06:13] xiangpengzhao commented on #50309
/sig api-machinery node

[2017-08-09 06:15] quinton-hoole commented on #29887
@therealplato there is some work in progress on this.  We should have some concrete news within a few weeks.

[2017-08-09 06:32] barathjoeee opened #50356 ""cannot join network of a non running container" failed to start a container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-09 06:34] barathjoeee opened #50357 "Cannot start the pods"
kubectl get pods

nginx-cb40j                  0/1       rpc error: code = 2 desc = failed to start container "fc9a052c5767e76d17930678dd569f35f3c91e23266b165786c6e20347ab1742": Error response from daemon: {"message":"cannot join network of a non running container: 56db0de585403b05922f3ffd0db1cc35c98c6be8d8d64975d4bd1c127809366e"}   73         4d
nginx-sgp02                  0/1       rpc error: c

[2017-08-09 06:35] anguslees commented on #1443
@hagbard5235 (and anyone else) we shouldn't use a github issue as a chat forum - so let's continue discussions on slack or elsewhere (I'm @guslees on k8s slack fwiw).

[2017-08-09 06:36] brancz commented on #50151
Related: https://github.com/google/cadvisor/issues/1704

[2017-08-09 06:39] drinktee commented on #50309
@Bobi-zhou  [Accessing the API from a Pod](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-the-api-from-a-pod)

[2017-08-09 06:40] k82cn commented on #48987
Yes :).

[2017-08-09 06:44] sttts commented on #49879
There was a long discussion in the proposal. For a number of reasons we decided against reusing go-openapi's types. Main argument: we don't control them. I am strongly against changing this.

I also strongly disagree here. We are **not** defining an OpenAPI type universe here, but define the CRD schema. That it's compatible with OpenAPI is a side-produce (with a lot of value, I don't question that

[2017-08-09 07:00] #49604 closed

[2017-08-09 07:18] xiangpengzhao commented on #50346
/sig cli

[2017-08-09 07:19] x13n commented on #50314
Nope, that's something else:

$ git remote set-url --push upstream https://github.com/kubernetes/kubernetes.git
$ git remote -v
origin	git@github.com:x13n/kubernetes.git (fetch)
origin	git@github.com:x13n/kubernetes.git (push)
upstream	https://github.com/kubernetes/kubernetes.git (fetch)
upstream	https://github.com/kubernetes/kubernetes.git (push)
$ git fetch upstream
fatal: Refusing to fetch into

[2017-08-09 07:33] dev-e commented on #43988
Maybe this will help: [https://github.com/coreos/flannel/issues/427](url)

[2017-08-09 07:36] lixiaobing1 commented on #50048
@dims , I have changed my username "lixiaobing1" back to "lixiaobing10051267", thanks very much.

[2017-08-09 07:42] shamalco opened #50358 "error network: open /run/flannel/subnet.env: no such file or directory"
I got a strange issue I can't figure out. I successfully installed calico node and controller deployed, and the BGP is up. But when I deploy using kubernetes a pod I get this strange `error network: open /run/flannel/subnet.env: no such file or directory`. I am using coreos as my OS but didn't enable or deploy flannel anywhere, I doubled check my configuration. I read only somethings there is a co

[2017-08-09 07:52] #50128 closed

[2017-08-09 07:54] #50358 closed

[2017-08-09 08:35] k82cn opened #50360 "Move node condition filter in scheduler.factory into a new predicates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup
/sig scheduling

**Descriptions**:

According to the discussion at https://github.com/kubernetes/kubernetes/pull/50185 , we'll move the node condition filter into a new predicates; and use feature gate to turn-off/on it.

/cc @gmarek @kubernetes/sig-scheduling-misc

[2017-08-09 08:38] k82cn commented on #50360
/assign

[2017-08-09 08:41] warmchang commented on #2856
+1

[2017-08-09 09:07] bsander opened #50363 "Additional probe for rolling updates to StatefulSet"
/kind feature

We have an elasticsearch cluster running as a `StatefulSet`, on which we would like to perform a rolling update. When one pod gets updated and comes online, Kubernetes sees that as a signal that the update is complete and proceeds to updating the next pod. However, at this point elasticsearch is still recovering and balancing its shards and the update should wait until this process

[2017-08-09 09:12] xiangpengzhao commented on #50363
/sig apps

[2017-08-09 09:21] #50275 closed

[2017-08-09 09:21] #50158 closed

[2017-08-09 09:38] yuyangbj opened #50364 "External load balancer is not removed after the service is deleted on OpenStack cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When I deployed a service with type load balancer, the service controller will create an external load balancer on OpenStack, but when I delete this service, the load balancer will still exist on OpenStack cloud provider.

#kubectl get svc
NAME         CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
kubernetes   10.248.0.1   <none>

[2017-08-09 09:45] yuyangbj commented on #50364
/sig network

[2017-08-09 10:20] shyamjvs opened #50366 "kubemark-500 continuously failing since 3 days while starting hollow-nodes"
I'm consistently seeing the following failure in those runs:

[code]

Seems like they're failing scheduling. Will look into it.

cc @k8s-mirror-scalability-bugs @gmarek

[2017-08-09 10:25] shyamjvs commented on #50366
Ok.. So it's consistently failing to create 6 pods and almost surely it's an issue with requests. Most probably some node-daemon is requesting more than before.

[2017-08-09 10:26] FengyunPan commented on #50364
/sig openstack

[2017-08-09 10:27] soltysh commented on #20902
@jkinkead it's working just fine, I'm guessing your missing [DeleteOptions](https://github.com/kubernetes/kubernetes/blob/release-1.7/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L374-L402) being send appropriately. Here's a `curl` invocation that does what you want:
[code]

[2017-08-09 10:27] VinceMD commented on #34978
We run another test which consists in terminating a pod rather than terminating a VM/EC2. We obtained the same result: C* complaining about a node (understand here a C* cluster node) with a certain IP not being available. :(

[2017-08-09 10:28] shyamjvs commented on #50366
From the [diff](https://github.com/kubernetes/kubernetes/compare/fc89743dc...94abce7c2) I'm almost 100% sure that it's failing due to this PR - https://github.com/kubernetes/kubernetes/pull/49009
It seems to have increased the fluentd memory request.

@x13n @crassirostris Could one of you confirm this?

[2017-08-09 10:29] rtmie commented on #38923
I have done as suggested by @farcaller and am running my rbd-provisioner under service account persistent-volume-binder.
PVC now creates volume and binds. However I see the errors about lack of access to events in the rbd-provisioner log

`E0809 10:26:06.901024       1 controller.go:682] Error watching for provisioning success, can't provision for claim "default/dbvolclaim": User "system:serviceac

[2017-08-09 10:31] FengyunPan commented on #50364
@yuyangbj Can you give me some detail logs of kube-controller-manager? Is there error about deletion of LB?

[2017-08-09 10:39] yuyangbj commented on #50364
I only see the log

{"log":"I0809 09:11:00.628130      22 servicecontroller.go:740] Service has been deleted default/frontend\n","stream":"stderr","time":"2017-08-09T09:11:00.628497774Z"}
{"log":"E0809 09:11:01.440261      22 servicecontroller.go:753] Failed to process service. Retrying in 40s: Resource not found\n","stream":"stderr","time":"2017-08-09T09:11:01.440499757Z"}
{"log":"I0809 09:11:41.

[2017-08-09 10:41] crassirostris commented on #50366
@shyamjvs It hasn't (shouldn't have) changed the resource requirement, defaults for the env variable are the same as in the yaml

[2017-08-09 10:47] FengyunPan commented on #50364
Can you try 'kubectl get events' to get message of 'DeletingLoadBalancerFailed'?

[2017-08-09 10:49] FengyunPan commented on #50364
'Resource not found' seems that some resources of the LB have been deleted.

[2017-08-09 10:52] yuyangbj commented on #50364
but no, I can see the load balancer resources in OpenStack.

[2017-08-09 10:56] yuyangbj commented on #50364
root@k8s-master-0-4378c909-26fd-4254-9f34-17976b292014:/var/log/containers# grep -r 'Error deleting load balancer' .
root@k8s-master-0-4378c909-26fd-4254-9f34-17976b292014:/var/log/containers# kubectl get events
2017-08-09 03:55:02.484424 I | proto: duplicate proto type registered: google.protobuf.Any
2017-08-09 03:55:02.485104 I | proto: duplicate proto type registered: google.protobuf.Duration
2

[2017-08-09 10:59] shyamjvs commented on #50366
Cool, thanks. I'll check what else it could've been.

[2017-08-09 11:01] shyamjvs commented on #50366
So it's due to insufficient cpu:

[code]

[2017-08-09 11:07] FengyunPan commented on #50364
Are LB's listener  pool  monitor and member exist?

[2017-08-09 11:10] tcharding commented on #48987
Commenting again to save you too much effort in replying @k82cn, I'm guessing we are in different timezones. I have implemented the changes as outlined in my question above. I want to clean the commits up a bit and then I'll submit a WIP PR tomorrow after I've had some sleep.

[2017-08-09 11:11] tcharding commented on #48987
That was weird, your reply wasn't visible until I hit `comment`. Excuse the noise.

[2017-08-09 11:13] yuyangbj commented on #50364
@FengyunPan yes, it is there.

# neutron lbaas-loadbalancer-list
+--------------------------------------+----------------------------------------------------+-------------+---------------------+------------+
| id                                   | name                                               | vip_address | provisioning_status | provider   |
+--------------------------------------+---------

[2017-08-09 11:19] x13n commented on #50366
Unless kubemark was using another value than set in that yaml? At some point in time the cpu request was lower (https://github.com/kubernetes/kubernetes/pull/47906).

[2017-08-09 11:20] crassirostris commented on #50366
It was almost immediately reverted: https://github.com/kubernetes/kubernetes/pull/48066

[2017-08-09 11:29] yastij commented on #49625
@saad-ali @justinsb WDYT ?

[2017-08-09 11:36] ipedrazas commented on #34978
What we did is to use Calico and deployments where you can set a fixed IP. The problem is, as you say, that the pod dies and the new one has a new IP which for C* is a new (Cassandra) "node". There's nothing wrong with that approach, the problem comes when you want to bring back an old node with a different IP (to avoid data movement).

Running C* in k8s is possible but not straight forward. C* is

[2017-08-09 11:36] shyamjvs commented on #50366
We need 50m (kubelet) + 20m (proxy) + 20m (npd) for each hollow-node. And all nodes seem very close to being exhausted:

[code]

@gmarek Do you by any chance remember how much was used before?

[2017-08-09 11:42] FengyunPan commented on #50364
I think you can get some useful message from Neutron, kubernetes just tell you resources have been deleted and can not do a deletion for the LB.

[2017-08-09 11:45] soltysh commented on #50026
@deads2k any ideas here? This is hitting auditing and we'd like to get this addressed before moving audit to beta.

[2017-08-09 12:00] sttts commented on #50026
cmd/hyperkube/kube-apiserver.go:36 and cmd/kube-apiserver/apiserver.go:51 are the places to put signal handling in. The main issue though is that closing a channel is not synchronous, i.e. the main func will not wait for anybody reacting on the stop channel. We need another mechanism for that, like a shutdown callback to register with.

[2017-08-09 12:02] yastij commented on #47659
got stuck on other issues, after @thockin feedback on state and usage of userspace, I think this can be closed @caseydavenport

[2017-08-09 12:02] #47659 closed

[2017-08-09 12:03] yastij commented on #47704
closed after #47659 closing

[2017-08-09 12:03] yastij commented on #47704
closed after #47659 closing

[2017-08-09 12:03] #47704 closed

[2017-08-09 12:12] deads2k commented on #50026
To my knowledge, golang doesn't have a clean exit hook anywhere.  If you want guaranteed output, you probably need to use a synchronous write.

I do remember an attempt to catch interrupts (@thockin long ago iirc), but I don't remember if worked or not.

[2017-08-09 12:13] sttts commented on #50026
@soltysh we did something for audit. Do you remember?

[2017-08-09 12:23] soltysh commented on #50026
@sttts we did tests if everything is being saved, but since the legacy audit wrote stuff immediately to disk, the problem didn't exist there.

[2017-08-09 12:29] rcconsult commented on #50150
Hi,

Dynamic PVC for my StatefulSet deployment always fails due to pods stuck forever in the **ContainerCreating** step. We run terraform provisioned K8S cluster.

[code]

[code]

Storage class defined as

[code]

[code]

[code]

[code]

Looking into details I can see:

[code]

On the master I can see:

[code]

On the minion where pod was scheduled to run I can see

[code]

The BLOB VHD attached o

[2017-08-09 12:34] feiskyer commented on #48378
Encountered same problem while playing with kubeadm.

After `kubeadm init` and `kubeadm reset` for a few times, kubelet will fail communicating with apiserver because `certificate signed by unknown authority` (in kubelet logs). And also `kubeadm init` blocks for ever.

After removing `/run/kubernetes/` manually, all things come back. Maybe there are problems of cleaning certificates when running `

[2017-08-09 12:35] feiskyer commented on #48378
/area kubeadm

[2017-08-09 12:35] shyamjvs commented on #50366
The above pr should fix this

[2017-08-09 12:39] killy001 opened #50369 "Can kubernetes node limit the cpu and memory resource ?"
I found a yaml file about resource node, like this:

[code]

In this file, it limits the cpu and memory number. When I created a node.yaml file like this, it failed. the api version v1beta3 have not the field resource.

[code]
Above is my node info, how can I modify the default cpu and memory . The default number of pods is 110, when I start the kubelet service , add the param --max-pods=3 . Now t

[2017-08-09 12:41] verb commented on #48937
gluster/gluster-centos is a container image that runs systemd so that it can run ntpd, crond, gssproxy, glusterd & sshd inside a single container. This isn't how Kubernetes is intended to be used and I don't know how much we should go out of our way to support it (this is a question for @dchen1107 & @yujuhong)

https://developers.redhat.com/blog/2016/09/13/running-systemd-in-a-non-privileged-conta

[2017-08-09 12:46] andyzhangx commented on #50150
Hi @rcconsult according to the log "mount: /dev/sda is already mounted", it's due to the udev rules not applied in current coreos. You could apply udev rules according to above comments or try the following k8s fix (build the kubelet and replace the kubelet binary in the agent)
https://github.com/andyzhangx/kubernetes/commit/2316c8f8f8a62de9047fc06b3f65833e226b4707

[2017-08-09 12:48] sttts commented on #50026
In fact, I doubt that the main usecase here is about writing synchronously to disk. Instead we have to make sure batched events are sent to the audit webhook. This must be synchronously done in the shutdown via some signal handler. I am pretty sure this can be done also in Golang, just need the shutdown callback registration mechanism.

[2017-08-09 12:52] crassirostris commented on #50026
The easiest temporary way would be to close the channel passed to different parts of the system and then wait for some period of time upon receiving the SIGTERM signal

[2017-08-09 12:56] sttts commented on #50026
What is "some period"? Don't like a mechanism based on hope.

[2017-08-09 13:00] idvoretskyi commented on #50369
/sig node

[2017-08-09 13:00] crassirostris commented on #50026
@sttts That's not an actual solution, for sure. Rather something to consider if implementing a proper solution is not available any time soon

For an actual solution, I fully support you proposal with a generic shutdown callback registration

[2017-08-09 13:02] idvoretskyi commented on #50356
@barathjoeee there's no exact information at the issue body (together with empty issue description).

Please, update the issue description by filling the template before someone may assist you.

[2017-08-09 13:03] sttts commented on #50026
Let's add `RegisterShutdownHook` to k8s.io/apiserver/pkg/server.GenericApiServer. Invoke them when `GenericApiServer.Run` returns (due to the closed stop channel). Build a signal handler into the two places at https://github.com/kubernetes/kubernetes/issues/50026#issuecomment-321234946 and wait for the `Run` go-routine to finish before leaving the signal handler.

[2017-08-09 13:03] idvoretskyi commented on #50357
@barathjoeee there's no exact information at the issue body (together with empty issue description).

Please, update the issue description by filling the template before someone may assist you.

[2017-08-09 13:06] christianhuening opened #50371 "Kubelet TLS Bootstrap issued certificate is not valid for hostName of node"
/kind bug

**What happened**:
I am trying to use api-server kubelet-client certificate creation as per the TLS Bootstrap guide for the Kubelet TLS Bootstrap feature (https://github.com/kubernetes/features/issues/43). While the node join and certificate handshake works fine, it seems that the certificate does not get created correctly.
After the node successfully joined the cluster I get a
´´´certi

[2017-08-09 13:11] christianhuening commented on #50371
@kubernetes/sig-cluster-lifecycle-bugs

[2017-08-09 13:31] christianhuening commented on #50371
Found I had to activate ```--feature-gates=RotateKubeletClientCertificate=true,RotateKubeletServerCertificate=true``` on Kubelet and controller manager

[2017-08-09 13:31] #50371 closed

[2017-08-09 13:33] ganda-pl commented on #44275
Funny thing is that on Chrome I get the error: **User "system:anonymous" cannot get  at the cluster scope.: "No policy matched.\nUnknown user \"system:anonymous\"".**

Safari asks for login/password and dashboard can be accessed no problem...

[2017-08-09 13:34] shyamjvs commented on #50366
So the problem is indeed with fluentd. It's requesting 200m of CPU instead of 100m (as is expected).
- The fluentd container requests 100m as it should be - https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-ds.yaml#L38
- But the prometheus-to-sd-exporter sidecar container has also requested 100m :

[code]

We don't have any requests for the exporter set in

[2017-08-09 13:34] ironcladlou commented on #49966
https://github.com/kubernetes/kubernetes/pull/50335 is an attempt at improving the situation.

[2017-08-09 13:35] ironcladlou commented on #50046
https://github.com/kubernetes/kubernetes/issues/50046 should hopefully provide some improvement in the immediate future.

[2017-08-09 13:36] shyamjvs commented on #50366
There is a limitranger that sets default request to 100m but that's in default namespace which shouldn't affect fluentd.
So it's indeed a bug with your PR @x13n. Could you fix it?

[2017-08-09 13:36] crassirostris commented on #50366
Now these numbers seems awfully similar to the fluentd numbers. Now I see the link with https://github.com/kubernetes/kubernetes/pull/49009

@x13n Please investigate, it's a huge bug and has to be rolled back!

[2017-08-09 13:42] crassirostris commented on #50026
@sttts AFAIU audit module can only affect `k8s.io/apiserver/pkg/server.Config` object through `ApplyTo` method, so a method to add a hook should be there, right?

[2017-08-09 13:50] x13n commented on #50366
Testing a fix, I will send a PR soon.

[2017-08-09 13:53] bennyn1 commented on #48798
Removing the $KUBELET_NETWORK_ARGS in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf works for me too

[2017-08-09 14:09] sbezverk opened #50373 "local cluster fails to start Error: failed to run Kubelet: Running with swap on is not supported"
With latest master:
Server Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.2.1564+3655685d647eb0", GitCommit:"3655685d647eb05006632763987f206e27e173c8", GitTreeState:"clean", BuildDate:"2017-08-09T13:59:53Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

local cluster's kubelet fails to start with the following error:

I0809 10:01:57.021623   25297 server.go:34

[2017-08-09 14:12] bboreham commented on #48798
Note that `KUBELET_NETWORK_ARGS` is what tells kubelet which kind of network plugin to expect.  If you remove it then kubelet expects no plugin, and therefore you get whatever the underlying container runtime gives you: typically Docker "bridge" networking.

This is fine in some cases, particularly if you only have one machine.  It is not helpful if you actually want to use CNI.

[2017-08-09 14:19] sbezverk commented on #50373
Adding KUBELET_FLAGS=${KUBELET_FLAGS:-"--fail-swap-on=false"}
to hack/local-up-cluster.sh
resolves the issue:
 kubectl get nodes
NAME        STATUS    AGE       VERSION
127.0.0.1   Ready     2m        v1.8.0-alpha.2.1564+3655685d647eb0

but still it is not clear why it was working before without it.

[2017-08-09 14:21] dims commented on #50373
@sbezverk please the the following PR and referenced issue - https://github.com/kubernetes/kubernetes/pull/47181

[2017-08-09 14:25] shiywang commented on #49586
/assign

[2017-08-09 14:26] shiywang commented on #49957
@mml are you working on this, if not I would like to take a look

[2017-08-09 14:53] leoxlin commented on #44103
+1 on this issue.

We are looking to use statefulsets for zookeeper and hdfs namenodes but want to use a clusterIP service per pod. It is to select an individual pod from the statefulset right now due to the lack of a name label or sort.

[2017-08-09 15:08] ut0mt8 opened #50375 "Clear restart counter"
/kind feature
/sig feature-requests

**What happened**:

We use the restart counter (and his frequency) to monitor our apps health

**What you expected to happen**:

It we be helpful to have an option to clear the counter and the history of the pod without deleting it.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.7.2
- Cloud provider or hardware configuration**: hw
- OS (e.g.

[2017-08-09 15:16] spzala commented on #25242
@yifan-gu hi, just wondering since it's over a year this issue was last discussed. Also, per your last comment I see the problem is partially solved and it was decided to revisit this after sometime.. so just a gentle touch base to see if you still think it's an issue or we can close it? Thanks!

[2017-08-09 15:23] spzala commented on #25220
@ihmccreery hi, since it's over a year this issue was reported, a gentle touch base on if the issue is still valid with latest k8s release or close it for now, and reopen if someone hit it in future?. Unfortunately I don't have env to recreate otherwise would have tried to verify it myself. Thanks!!

[2017-08-09 15:30] abiogenesis-now commented on #50041
oh interesting @brugz, something that behaves exactly like `kubectl config` but for all ComponentConfigs? Could maybe specify the type with a `--kind` flag or something

[2017-08-09 15:32] ncdc commented on #50041
@brugz @abiogenesis-now I'd like to keep this issue focused on documenting the config file format. Would you be willing to move the discussion about using kubectl to view the running config to another forum (slack, a new github issue, etc)?

[2017-08-09 15:43] mitake commented on #19972
@byronyi I thought integrating switch buffer management and application deployment would make managing a cluster easier because the switches are multiplexed by the applications. k8s knows what applications are running on the cluster so it would a suitable place for the management e.g. judging a required congestion control is possible based on the cluster's state.

Currently I don't have motivating

[2017-08-09 16:03] lukaszo commented on #50313
Can you show your yaml file? Did you enable RollingUpdate https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/ ?

[2017-08-09 16:14] abiogenesis-now opened #50379 "Extend kubectl config to support ComponentConfigs?"
/kind feature

Original suggestion from @brugz, based on discussion in https://github.com/kubernetes/kubernetes/issues/50041#issuecomment-321160158.

Since the ComponentConfig object for things like `kube-proxy` are pulled from a config file, seemed like it would be nice to have a `kubectl` to make it easy to edit said file. This could basically be `kubectl config` but maybe with a `--kind` flag o

[2017-08-09 16:15] m1093782566 commented on #31712
@cmluciano Are you working on it?

Could you please assign this issue to me and I am happy to fix it. Thanks a lot!

[2017-08-09 16:21] pci commented on #49673
I'd like to take a look at this. It is my first kubernetes bug, so please let me know if there's anything I need to do apart from opening a PR referencing this issue number.

[2017-08-09 16:27] abiogenesis-now commented on #50379
/sig cli

[2017-08-09 16:30] ncdc commented on #50379
I don't think this is exactly what was suggested in the other issue. The request was to be able to use `kubectl` to view a component's active configuration.

[2017-08-09 16:34] xiangpengzhao commented on #50375
/sig node
/cc @yujuhong

[2017-08-09 16:35] xiangpengzhao commented on #50357
/sig node

[2017-08-09 16:35] xiangpengzhao commented on #50356
/sig node

[2017-08-09 16:35] xiangpengzhao commented on #50295
/sig cluster-lifecyle

[2017-08-09 16:36] xiangpengzhao commented on #50295
/sig clusterlifecyle

[2017-08-09 16:38] xiangpengzhao commented on #50295
/sig cluster-lifecycle

[2017-08-09 16:39] xiangpengzhao commented on #50326
/sig node

[2017-08-09 16:39] xiangpengzhao commented on #50252
/sig cluster-ops
maybe

[2017-08-09 16:45] sttts commented on #50026
@crassirostris the setup of the shutdown hook can be done by the apiserver itself. It will know that audit is enabled and needs that hook.

[2017-08-09 16:49] crassirostris commented on #50026
@sttts Do you want to add a new method (like `Close`) to the audit backend interface to call from the hook?

[2017-08-09 16:53] #32026 closed

[2017-08-09 16:56] sttts commented on #50026
@crassirostris yes, Stop or Shutdown.

[2017-08-09 17:06] jkinkead commented on #20902
Awesome, thanks for the quick reply! That was absolutely the problem; my quick verification test was too quick.

I take it that `"propagationPolicy": "Background"` is what triggers the orphan deletes?

[2017-08-09 17:07] crassirostris commented on #50026
@sttts I have some thoughts, would like to hear your opinion. It's not like I'm advocating this solution exclusively :)

- this method is only needed in one backend (batching webhook), but will be implemented in all of them
- more generic, even if one of the implementation of the component needs this mechanism
  - Stop method will be required in all of them
  - apiserver has to have additional log

[2017-08-09 17:09] ixdy commented on #49673
Welcome! That should be all you need to do. I'd assign this issue to you, but GitHub doesn't allow assigning to non-org members, so your comment will have to suffice.

[2017-08-09 17:11] sttts commented on #50026
@crassirostris how many backends do we have? :)

Alternative: create a global shutdown hook registry and just call that on shutdown from kube-apiserver. I.e. nothing plumbed through, but via a global variable. Also not perfectly nice, but maybe ok here. Maybe this even exists as a library including signal handling.

[2017-08-09 17:14] dmytroleonenko commented on #30558
+1

[2017-08-09 17:17] MrHohn commented on #50299
+1 to what @yastij explained, codes seems correct to me.

@hzxuzhonghu Do you mind closing this issue?

[2017-08-09 17:17] jason-kane opened #50383 "Swagger.json missing in: "path" parameters for multiple endpoints"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
inconsistency in generated swagger.json causes coreapi tools to fail.  specifically

(good)
/api/v1/namespaces/{namespace}/bindings
and many others include in: "path" parameters for namespace, name, etc..

(bad)
/api/v1/namespaces/{namespace}/pods/{name}
includes only query and body parameters.

**What you expected to hap

[2017-08-09 17:21] byronyi commented on #19972
I use to work with some of the best guys in this field (congestion control and flow scheduling in data center networks), so hopefully I know a little bit of what you are trying to accomplish here. The problem with switch buffer management is its fast-paced temporal dynamics, not the global knowledge known by a cluster scheduler. Note we are dealing with 10-100 Gbps per link and hundreds of million

[2017-08-09 17:23] liggitt commented on #47837
There are definitely other affected admission plugins. We need a *very* detailed review to make sure we don't open security holes or break functionality. A quick scan showed:

* NodeRestriction only verifies resource references from pods on create
* PersistentVolumeLabel only labels on create
* PodNodeSelector only enforces on create
* InitialResources only assigns resources on create
* PodTolerat

[2017-08-09 17:29] jason-kane commented on #50383
/sig api-machinery
/area swagger

[2017-08-09 17:37] cmluciano commented on #31712
/assign @m1093782566

I have it in my "backlog" behind NetworkPolicy stuff. Feel free to take it over if you have time.

[2017-08-09 17:46] yujuhong commented on #50343
/cc @sttts

[2017-08-09 17:52] abiogenesis-now commented on #50379
@ncdc Updated description, let me know if that clears things up (or if further edits should be made).

[2017-08-09 17:56] Random-Liu commented on #50343
Offline discussed with @yujuhong. We'll return `false` for rkt, because it doesn't support it. And let's return true for the other runtime for now.

If there is another runtime which doesn't support it, maybe just special case here.

In the long run, we should try to find a better way to do this. /Ref https://github.com/kubernetes/kubernetes/issues/32803

[2017-08-09 18:01] juanvallejo opened #50388 "[PROPOSAL] Refactor printer funcs to be mainly exposed / consumed through the factory"
https://docs.google.com/a/redhat.com/document/d/15uieHE_QnfF9eEj-AAbAvo3xBqfyu5x1v5Cghzy4ZDI/edit?usp=sharing

#### Case

Right now, there are multiple ways to consume printers in the cli. There are also multiple factory methods that expose different ways of consuming printers (`PrinterForMapping`, `PrinterForCommand`, `PrintObj`, `Printer`, etc).

This proposal calls for consolidating all printer

[2017-08-09 18:04] Random-Liu opened #50389 "Liveness prober timeout is not set properly."
liveness prober timeout is not passed to runtime.  (See [here](https://github.com/kubernetes/kubernetes/blob/190ee708a664e0ac86003a4e5b153597b4011580/pkg/kubelet/kuberuntime/kuberuntime_container.go#L766) and [here](https://github.com/kubernetes/kubernetes/blob/190ee708a664e0ac86003a4e5b153597b4011580/pkg/kubelet/prober/prober.go#L236)).

Although dockershim doesn't really support `ExecSync` timeo

[2017-08-09 18:37] caesarxuchao commented on #47837
Thanks @liggitt.

Good catch. It seems I can just add the "Update" to `admitPod`.

It only cares about PersistentVolume. We can revisit when we relax its validation.

In my last inspection I only looked for "GetOperation()=Create" and missed all the cases where the plugin uses `admission.NewHandler(admission.Create)` to handle only creations. I'll go over them again.

[2017-08-09 18:44] caseydavenport commented on #49978
Would appreciate @thockin's input to the above suggestion for CIDRs.

[2017-08-09 18:45] screeley44 commented on #50121
@kyessenov  @liggitt - does this apply to ALL optional api fields or just non-strings?  I'm not seeing many types holding this convention?  I'm asking in regards to another PR I'm about to do so wanting some clarification.  Thanks!

cc @msau42

[2017-08-09 18:47] wongma7 commented on #50345
Yes, symlinks are involved. Atomic writer relies on symlinks to update configmaps, secrets and such: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/atomic_writer.go. On the host, the pod volume directory looks something like this:
[code]
When you subPath the secret file, that secret.json file is bind mounted into the container. But secret.json is actually a symlink to another

[2017-08-09 18:53] caesarxuchao commented on #50121
IMO we don't have to fix every violations unless they break a use case. We need to strictly enforce the convention during our API reviews to prevent more violations.

[2017-08-09 18:53] liggitt commented on #50121
it's about go's ability to honor the `omitempty` directive on structs. we need to ensure that an unset (zero-value) field does not get included in the serialized API content

see https://play.golang.org/p/gEZoDu7LdG for the way go behaves with zero values

[2017-08-09 18:58] allanlei commented on #47125
[Packages installed](https://storage.googleapis.com/ubuntu-os-gke-cloud/ubuntu-xenial-amd64-gke-20170420.1.manifest) in the beta Ubuntu images that @msau42 is referencing contain `xfsprogs 4.3.0`.

[2017-08-09 18:58] pci commented on #49673
Also leaving as a note: it looks like `gcloud` [165.0.0 (2017-08-02)](https://cloud.google.com/sdk/docs/release-notes#16500_2017-08-02) deprecates `--regex` and `--regions` for:
* `gcloud compute target-vpn-gateways list`
* `gcloud compute target-pools list`
* `gcloud compute vpn-tunnels list`
* `gcloud compute commitments list`

These don't appear to be used in the codebase, but worth noting for

[2017-08-09 19:40] xrl commented on #49414
@xsgordon unfortunately, no. this cinder instability had me tear down the cluster in openstack. too many issues with openstack so we're switching to AWS for this cluster.

[2017-08-09 19:47] dims commented on #49414
/assign

[2017-08-09 19:48] dims commented on #49414
Thanks @xrl

/close

[2017-08-09 19:50] githubvick commented on #49389
@gatneil Same error, this time with the hostname :(

[code]

[2017-08-09 19:54] kyessenov commented on #50121
Sounds like it could be possible to detect this statically: if the field is marked as optional and omitempty, it should not serialize to a JSON field.

I can't tell if there are more violations like this one, I happened to discover this while using client-go 1.7 on 1.6 cluster.

[2017-08-09 20:01] githubvick commented on #49389
@gatneil Same error :( when creating the VM's manually as well. 52.170.83.40 is the node ip.

[code]

[2017-08-09 20:04] jingxu97 commented on #48703
Can anyone help confirm that the fix is working for this issue so that I can close it. Thanks!

[2017-08-09 20:06] ericchiang commented on #50002
k8s-oidc-helper is an external tool not maintained by the Kubernetes project.

It looks like you've opened an issue on that repo (https://github.com/micahhausler/k8s-oidc-helper/issues/3) so I'm going to close this one.

[2017-08-09 20:06] #50002 closed

[2017-08-09 20:10] trunet commented on #48703
1.7.3 fixed for me

[2017-08-09 20:14] jingxu97 commented on #50004
@ralberto sorry for the late reply. I think this issue is related to #50266, and we have PR to fix it

[2017-08-09 20:23] #49621 closed

[2017-08-09 20:27] crimsonfaith91 commented on #50331
The test is not flaky anymore.

[2017-08-09 20:27] #50331 closed

[2017-08-09 20:31] larsha commented on #41125
Sounds like a job for Taints/Tolerations? Or am I missing something? `kube-system` deployments seems to have toleration key: `CriticalAddonsOnly` (at least on GKE). You can add a taint on nodes with that key and use NoSchedule or PreferNoSchedule to avoid scheduling on preemptible nodes.

[2017-08-09 20:37] rpothier opened #50395 "IPv6 prefix size is limited to 64 with kube-controller-manager"
/kind bug

**What happened**:
With https://github.com/kubernetes/kubernetes/pull/43586,
the controller manager will accept IPv6 addresses
with the  --cluster-cidr flag.
The prefix length is currently limited to /64 with
maxPrefixLength = 64

**What you expected to happen**:
The question here is if this limit should be removed, and allow a greater
prefix size or if this limit should remain.

**How

[2017-08-09 20:38] rpothier commented on #50395
/sig network
/area ipv6

[2017-08-09 20:38] rpothier commented on #50395
/assign rpothier

[2017-08-09 20:42] rpothier commented on #50395
cc @aanm

[2017-08-09 20:57] grillz commented on #31380
Just hit this issue and its odd. Thank you for adding the docs, but this should definitely be configurable. Its strange that its applied to users and not groups, and if my users are unique the prefix is cumbersome. Is this a done deal or can we reopen this?

[2017-08-09 21:04] caesarxuchao commented on #47837
We can let it handle `Update` of uninitialized pods as well. It's modification to the pod's nodeSelector is idempotent. It detects conflicts between the pod's nodeSelector and the namespace's nodeSelector or the cluster one. It rewrites pod's nodeSelector with the merged result of pod's nodeSelector and namespace's one.

The plugin doesn't cause side-effect, so it can handle `Update`. The plugin c

[2017-08-09 21:09] spiffxp commented on #49820
/priority important-longterm

[2017-08-09 21:18] fabianofranz commented on #50388
@kubernetes/sig-cli-proposals

[2017-08-09 21:23] caseydavenport commented on #28653
I think this issue should be closed.  Any objections?  @thockin?

[2017-08-09 21:31] luxas commented on #28653
I also think it should be closed now that we have CNI and CRI that work well, and Calico can be used very easily in all sorts of clusters due to that that interface is satisfied.

[2017-08-09 21:31] #28653 closed

[2017-08-09 21:39] mwielgus commented on #47837
@caesarxuchao - FYI, InitialResources doesn't work, should be removed and will be replaced by what is @bskiba working on.

[2017-08-09 21:40] caesarxuchao commented on #47837
@mwielgus thanks. I'll leave InitialResources as is.

[2017-08-09 22:10] colemickens commented on #49389
@gatneil is correct. If the cloudprovider can't lookup the VM instance, then it can't find the NIC to put it in the backend pool.

It seems like your node name is being reported as the IP. I'm going to venture a guess that the bringup you're using copied the AWS implementation that overrides the reported hostname to be the node IP. If you undo that, you should get the right hostname reported, the

[2017-08-09 22:11] colemickens commented on #49389
/sig azure

cc: @jdumars @brendanburns mostly as FYI as this is likely a configuration issue.

[2017-08-09 22:20] mbohlool commented on #50301
cc @cheftako

[2017-08-09 22:22] tommyvn opened #50400 "AWS internal ELB subnets are chosen randomly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Using a kops deployed Kubernetes cluster with a private topology on AWS, when creating a Service resource with spec.type == Loadbalancer _and_ metadata.annotations['service.beta.kubernetes.io/aws-load-balancer-internal'] == 0.0.0.0/0 the subnet is chosen randomly per AZ between a public and private subnet yielding inconsis

[2017-08-09 22:25] caesarxuchao commented on #46543
Can we close this issue @mengqiy

[2017-08-09 22:25] caesarxuchao commented on #46503
/sub

[2017-08-09 22:31] mbohlool commented on #46503
Can you explain the use-case here? Why would you want to inject context and why you can't use generated/existing context?

[2017-08-09 22:34] caesarxuchao commented on #46381
/sub

[2017-08-09 22:39] mbohlool commented on #46275
cc @cheftako

[2017-08-09 22:40] caesarxuchao commented on #46271
/sub

[2017-08-09 22:41] caesarxuchao commented on #46173
cc @jpbetz

[2017-08-09 22:45] caesarxuchao commented on #46156
/sub

[2017-08-09 22:47] BenTheElder commented on #50048
@lixiaobing1 it looks like you updated your display name instead of your username, you still seem to be at https://github.com/lixiaobing1

[2017-08-09 22:54] ericchiang commented on #31380
@grillz there are a ton of possible configuration options that the oidc provider could support, e.g. https://github.com/kubernetes/kubernetes/issues/46806. It's unclear how much of this should go upstream and how much should go into an external webhook authenticator. Feel free to open the an issue, but there's been push back in the past for making this the default at least.

[2017-08-09 23:00] crimsonfaith91 opened #50402 "error creating self-signed certificates when running local cluster"
/kind bug

**What happened**:
Since several hours ago, running local cluster will not be successful due to timing out waiting for apiserver to answer. The error runs: `error creating self-signed certificates: error reading /tmp/apiserver.key, certificate and key must be supplied as a pair`

**How to reproduce it (as minimally and precisely as possible)**:
run `hack/make-rules/test-cmd.sh` or `hack

[2017-08-09 23:01] mengqiy opened #50403 "Kubectl should use protobuf to talk to API server"
I have observe that there is a lot of overhead when kubectl tries to GET some large data from apiserver.
e.g. LIST configmaps that could be 100 MB+, in json will cause the etcd overloaded and not responding. It works when list in protobuf.
Steps to reproduce:
1. create configmaps that are larger than 100MB
2. run `kubectl proxy`
3. `curl localhost:8001/api/v1/namespaces/default/configmaps/ --heade

[2017-08-09 23:03] mengqiy commented on #50403
/sig cli

[2017-08-09 23:04] liggitt commented on #31380
Control over the prefix (including not prefixing) seems reasonable to me to give the cluster admin as an option, and would make the in-tree oidc useful in broader applications.

[2017-08-09 23:07] liggitt commented on #50403
including both protobuf and JSON as accepted content types would make sense to me. Not all API servers (or all resources) necessarily support protobuf

[2017-08-09 23:10] crimsonfaith91 commented on #50402
/close

[2017-08-09 23:10] #50402 closed

[2017-08-09 23:20] enisoc commented on #49879
Is it still a [non-goal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/customresources-validation.md#non-goals) to actually implement OpenAPI generation for CRD right now? If so, I think we should focus on offering the best interface for the goal at hand -- declarative specification of server-side Validate() behavior.

For the purpose of specifying server-side v

[2017-08-09 23:47] ericchiang opened #50408 "OIDC server auth: add option to specify the claim prefix"
When OpenID Connect ID Tokens are evaluated, we prefix all claims that aren't "email" with the issuer URL to prevent clashes with other authenticators. This causes usernames to end up look like:

[code]

Or more likely, something much harder to work with:

[code]

It was brought up in https://github.com/kubernetes/kubernetes/issues/31380 that this value should be configurable, and possibly apply t

[2017-08-09 23:48] ericchiang commented on #31380
Opened https://github.com/kubernetes/kubernetes/issues/50408. Will send a change.

[2017-08-09 23:48] enisoc commented on #42086
@caesarxuchao I don't see any recent changes in RC that would cause this to slow down. It looks like the Pods created by the RC are just taking a long time in Pending phase.

[2017-08-09 23:50] xiangpengzhao commented on #50400
/sig aws

[2017-08-10 00:03] bgrant0607 commented on #47837
This is a general issue for initializers, not just a Pod issue.

IIRC, the original proposal suggested deferring validation.

[2017-08-10 00:16] k8s-merge-robot opened #50410 "Failure cluster [9ad229...] failed 165 builds, 46 jobs, and 1 tests over 1 days"
### Failure cluster [9ad2299367357dd09133](https://go.k8s.io/triage#9ad2299367357dd09133)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    46 jobs failed,    165 builds failed.
Failure stats cover 1 day time range '8 Aug 2017 07:59 UTC' to '9 Aug 2017 07:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 46 |

##### Top

[2017-08-10 00:16] k8s-merge-robot opened #50411 "Failure cluster [16db33...] failed 150 builds, 32 jobs, and 1 tests over 1 days"
### Failure cluster [16db33bf31b447d62f2d](https://go.k8s.io/triage#16db33bf31b447d62f2d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    32 jobs failed,    150 builds failed.
Failure stats cover 1 day time range '8 Aug 2017 07:59 UTC' to '9 Aug 2017 07:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| UpgradeTest | 32 |

###

[2017-08-10 00:16] k8s-merge-robot opened #50412 "Failure cluster [e530b5...] failed 145 builds, 36 jobs, and 1 tests over 1 days"
### Failure cluster [e530b51eb8281d9374e4](https://go.k8s.io/triage#e530b51eb8281d9374e4)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    36 jobs failed,    145 builds failed.
Failure stats cover 1 day time range '8 Aug 2017 07:59 UTC' to '9 Aug 2017 07:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| list nodes | 36 |

####

[2017-08-10 00:16] k8s-merge-robot opened #50413 "Failure cluster [72fd8a...] failed 145 builds, 36 jobs, and 1 tests over 1 days"
### Failure cluster [72fd8a75e5d263badf96](https://go.k8s.io/triage#72fd8a75e5d263badf96)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    36 jobs failed,    145 builds failed.
Failure stats cover 1 day time range '8 Aug 2017 07:59 UTC' to '9 Aug 2017 07:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 36 |

[2017-08-10 00:21] spzala commented on #24982
@kfox1111 hi, just a gentle touch base here since the issue was last discussed over a year ago. I noticed that #25391 is closed with a poc webhook that seems received well by all. Does it make sense to close this issue? Thanks!

[2017-08-10 00:38] kfox1111 commented on #24982
I'm ok closing it. I think webhook now has enough functionality in it that it is a viable path forward.

[2017-08-10 00:38] #24982 closed

[2017-08-10 00:51] bgrant0607 commented on #1698
Identifying embedded selectors, labels in inline pod templates, and object references and names is the most challenging aspect of automatic name/label customization. We could annotate those fields in types.go and in OpenAPI with enough information to determine whether they should be updated in a given scenario. For example, we could specify that PodSpec.ServiceAccountName is a local (i.e., same na

[2017-08-10 00:51] spzala commented on #24982
Thanks @kfox1111

[2017-08-10 00:59] mengqiy commented on #46543
Probably not. Please leave it open. I will address it when I have some cycles.

[2017-08-10 01:19] hzxuzhonghu commented on #50299
@MrHohn Of course not, now all loadblancer cloud provider should do some logic in EnsureLoadBalancer

[2017-08-10 01:38] supereagle commented on #50345
@thesandlord Maybe your use case is [Add ConfigMap data to a specific path in the Volume](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#add-configmap-data-to-a-specific-path-in-the-volume).

I follow the documentation, and it works as expected.
**My configmap:**
[code]
**My pod.yaml:**
[code]

[2017-08-10 01:47] m1093782566 commented on #31712
Would appreciate @cmluciano :)

[2017-08-10 01:52] beyondli opened #50415 "kube-apiserver.service running error ：code=exited, status=203/EXEC"
I install kube-apiserver 1.7.3， and when running it . the error show bleow:
the error code is status=203/EXEC, what does 203 it mean? anyone help me? thank in andvance!

  Active: failed (Result: start-limit) since Thu 2017-08-10 09:20:02 CST; 1min 10s ago
     Docs: https://github.com/GoogleCloudPlatform/kubernetes
  Process: 4086 ExecStart=/usr/bin/kube-apiserver $KUBE_LOGTOSTDERR $KUBE_LOG_LEVE

[2017-08-10 02:12] zhangqx2010 commented on #38923
@rtmie
You may create one ``service account`` for this provisioner, like rbd-provisioner. Then binding this sa to clusterrole ``system:controller:persistent-volume-binder``.
When you deploy the provisioner pod, use the sa you just created to achieve the goal.
[code]

[2017-08-10 02:14] liggitt commented on #50319
it's not that specific task, I don't think... the verify job just got slower in the past couple days (it's timing out at an hour every time on https://github.com/kubernetes/kubernetes/pull/49642 now)

these times are from a [failed run](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/49642/pull-kubernetes-verify/44313/build-log.txt) today:
[code]

before today the individual tasks w

[2017-08-10 02:17] githubvick commented on #49389
I'm actually using the ansible code from https://github.com/kubernetes/contrib/tree/master/ansible with minor modifications to suit Azure,I understood your point, will check it out and let you know.

[2017-08-10 02:19] MrHohn commented on #50299
@hzxuzhonghu AFAIK that is the expected behavior defined on LoadBalancer interface, see https://github.com/kubernetes/kubernetes/blob/v1.7.3/pkg/cloudprovider/cloud.go#L92-L96.

[2017-08-10 02:22] hzxuzhonghu commented on #50299
I overlooked it

[2017-08-10 02:23] xiangpengzhao commented on #50415
Any clue in the log of kube-apiserver?

/sig cluster-lifecycle

[2017-08-10 02:24] liggitt commented on #50319
this bit in verify-godeps.sh is likely to be the issue if you touch `hack/`:

[code]

[2017-08-10 02:24] #50339 closed

[2017-08-10 02:30] k82cn opened #50416 "ConfigMap integration test is failed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

**What you expected to happen**:
All test passed.

**Environment**:
- Kubernetes version (use `kubectl version`): master branch (a881405bd446d5e6c479606ed52fb4d23db1928c)
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release): Mac
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-08-10 02:31] k82cn commented on #50416
Not sure whether anyone working on that; I'll try to take a look :).

[2017-08-10 02:35] spzala commented on #24866
@mikebrow hi Mike, a gentle touch base - this issue is probably not valid any more with all the recent changes - I see that vagrant.md points to minkube local cluster and running-locally.md is not there any more. Just a gentle touch base, as I mentioned, if you can verify this is not needed then please close it. Thanks!

[2017-08-10 02:40] k82cn opened #50419 "Fitler out nodes in batch when scheduling pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:
During the discussion at https://github.com/kubernetes/kubernetes/pull/50185 , we found there's some way to improve the performance of scheduling; for example, 1.) reordering the predicates to check simpler predicate firstly, 2.) group nodes by label/taints to filter nodes in batch (similar to equal cache).

I'd like to

[2017-08-10 02:40] k82cn commented on #50419
/sig scheduling

[2017-08-10 02:40] k82cn commented on #50419
/assign

Assign to my self; I'll take a look after 1.8.

[2017-08-10 02:41] k82cn commented on #50419
cc/ @jinzhejz

[2017-08-10 02:45] liggitt commented on #44873
that's really unfortunate... godep already dominates the verify CI job... ~30 minutes of the 1 hour run time from what I've seen debugging timeouts on https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/49642/pull-kubernetes-verify/

[2017-08-10 02:46] liggitt commented on #50319
opened https://github.com/kubernetes/kubernetes/pull/50418, though for PRs that actually do change something godep-related, the timeout issues will persist. https://github.com/kubernetes/test-infra/pull/3999 supposedly bumped the timeout to 75 minutes, though I'm still seeing the job be terminated at 1 hour

[2017-08-10 02:51] cblecker commented on #44873
It's because we're restoring the godeps potentially up to 4 times depending on a couple different factors. However, once we transition to restoring the godeps in a container and passing that data container between steps, this should drop the time by a good chunk.

[2017-08-10 03:01] jianglingxia opened #50421 "cinder volumes with statefulset Unable to mount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
the pv info:
![image](https://user-images.githubusercontent.com/25783555/29152382-bf7fe3f8-7db9-11e7-8f97-3ac4baafb8c3.png)

the pvc info:
![image](https://user-images.githubusercontent.com/25783555/29152400-d88aa162-7db9-11e7-9969-ad7e675ceeca.png)

``-bash-4.2#` cat cinderpv1.yaml
apiVersion: "v1"
kind: "PersistentVolume"
metadata

[2017-08-10 03:10] jianglingxia commented on #50421
/sig openstack
/sig storage
@FengyunPan @dimthe
thanks

[2017-08-10 03:12] jianglingxia commented on #50421
/assign @FengyunPan @gnufied @dims

[2017-08-10 03:16] #50416 closed

[2017-08-10 03:25] liqlin2015 opened #50424 "PSP: export failOnNoPolicies in podSecurityPolicyPlugin to make it configurable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently in `podSecurityPolicyPlugin`, there is  a flag `failOnNoPolicies` to define the default behavior of PSP. Can we export this flag to make it configuration at external?

**What you expected to happen**:
Can we export this flag `failOnNoPolicies` in `podSecurityPolicyPlugin`  to make it configuration at external?

**How to re

[2017-08-10 03:56] thockin opened #50426 "GCP ILB annotation value should be capitalized"
pkg/cloudprovider/providers/gce/gce_annotations.go has:

[code]

That should be Internal.  We should fix and allow both in annotation.

[2017-08-10 04:16] FengyunPan commented on #50421
@jianglingxia Can you give me some logs about it from kube-controller-manager?

[2017-08-10 04:25] xiangpengzhao commented on #50426
/sig network
/area cloudprovider

[2017-08-10 05:07] #47880 closed

[2017-08-10 05:16] liggitt commented on #50319
[timeout was lengthened to 75 minutes](https://github.com/kubernetes/test-infra/pull/3999), and fewer things should be subject to godep verification since #50418 merged

[2017-08-10 05:16] #50319 closed

[2017-08-10 05:20] liggitt commented on #44873
we should not knowingly merge changes that drastically lengthen the run time of that script... the verify CI job is already by far the longest running job on the merge queue (it's at 1h9m when godeps are verified, the next longest job is at 45m)

[2017-08-10 05:22] liggitt commented on #44873
I'm especially concerned about this step taking longer... it currently takes ~18 minutes

[2017-08-10 05:44] jianglingxia commented on #50421
![image](https://user-images.githubusercontent.com/25783555/29155976-ed42c3ec-7dd1-11e7-8f8a-c6dcbf1a6c94.png)
@FengyunPan
thanks

[2017-08-10 05:51] FengyunPan commented on #50421
@jianglingxia Please check your config file of kube-controller-manager, '--cloud-config= --cloud-provider=openstack'.

[2017-08-10 05:58] #48321 closed

[2017-08-10 05:58] #50366 closed

[2017-08-10 06:00] jianglingxia commented on #50421
the configuration of kubelet is
![image](https://user-images.githubusercontent.com/25783555/29156288-9f05422a-7dd3-11e7-9140-d819f62654a6.png)
and the kube_openstack_config file in node path of /etc/kubernetes
-bash-4.2# cat kube_openstack_config
[Global]
auth-url=http:/ip:5000/v2.0/
username=k8s
password=k8s
region=RegionOne
tenant-id=d0b676089a19434ab07b06c834c1ddc3

the '--cloud-config= --cloud

[2017-08-10 06:06] sttts commented on #50343
A design decision was to reject pods when a sysctl cannot be applied. In other words, the pod spec is a spec. It's either 100% supported or rejected.

[2017-08-10 06:09] spnzig opened #50432 "oidc with kubernetes gives : You must be logged in to the server error"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**:
I have configured oidc with kubernetes. But when i try `kubectl --user=spnzip@gmail.com get nodes` i get `error from server (Forbidden): User "system:anonymous" cannot list nodes at the cluster scope. (get nodes)
`

**What you expected to happen**:
The command should authenticate user and display the nodes

**How to repro

[2017-08-10 06:15] bgrant0607 commented on #26202
cc @kow3ns

[2017-08-10 06:18] barathjoeee opened #50433 "cannot join network of a non running container"
unable to run the pods in kubernetes it throws the following error:
cannot join network of a non running container

Please help out

[2017-08-10 06:20] bgrant0607 commented on #3562
Maybe related:

https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#backward-compatibility-gotchas

Do not add a new API version of an existing resource and make it the preferred version in the same release, and do not make it the storage version.

Also, #4855

[2017-08-10 06:21] jingxu97 commented on #27204
After pod-level cgroups is available, I think it would be nice to add pod-level resource request/limit in API. I can image in some use cases, users do not know or don't care the resource request/limit for each individual container, they only need to set a pod-level request/limit based on e.g., quota they can use. Also with only container-level resource enforcement, if one container's limit is exce

[2017-08-10 06:21] jianglingxia commented on #50421
sorry, @FengyunPan   need your help ,thanks very much!
I added the --cloud-config= --cloud-provider=openstack' configuration to master controller-manager,then restart kube-controller-manager ,and then
-bash-4.2# kubectl get nodes
NAME             STATUS    AGE       VERSION
node-k8s-jlx-1   Ready     21h       v1.6.4+d6f433224538d
node-k8s-jlx-2   Ready     21h       v1.6.4+d6f433224538d
create a

[2017-08-10 06:24] caesarxuchao commented on #47837
@bgrant0607

Yes. That said, my current plan is to only relax the validation requirements of uninitialized pods in 1.8. We will make progress on other resources in later releases.

I think for the update made by each initializer controller, we should validate the updated object, and invoke all the existing admission plugins. My reason is two-fold:
* each initializer controller should be able to op

[2017-08-10 06:32] feiskyer commented on #32803
@yujuhong @thockin @Random-Liu Any new ideas on this?

[2017-08-10 06:36] sttts commented on #49879
+1

We (I hope @mbohlool volunteers 😃) will do OpenAPI generation as a follow-up, not sure whether in 1.8 though.

I am fine with having v2 or dropping it. Some day v4 will be there and then we have the second spec. @nikhita has implemented the additional v2 checks already and the code is pretty simple and no burden for maintenance. So I leave the decision to @mbohlool who stressed the point to ha

[2017-08-10 06:47] beyondli commented on #50415
yes, with <**systemctl start kube-apiserver**>
info is
ob for kube-apiserver.service failed because the control process exited with error code. See "systemctl status kube-apiserver.service" and "journalctl -xe" for details.

with <**systemctl status kube-apiserver.service**>
Aug 10 09:26:05 k8server systemd[1]: kube-apiserver.service: main process exited, code=exi...XEC
Aug 10 09:26:05 k8server sy

[2017-08-10 06:54] tcharding commented on #47668
Hi @lavalamp, is this issue still worth working on? Can I confirm your original issue statement please. Is the issue that 'request is too large' is not the correct error message? Should the original error '...annotations: Too long: must have at most 262144 bytes' be being returned?

I implemented a test in `integration/pods/pods_test.go` and got the same error as @mkumatag listed above. Doing so d

[2017-08-10 06:55] FengyunPan commented on #50421
As far as I know， you deploy the cluster by magnum, but the controller manager service can't work, I suspect your bay is wrong.
Please show me the following log:
1. /etc/kubernetes/manifests/kube-controller-manager.yaml
2.more logs of controller manager

[2017-08-10 06:56] #49042 closed

[2017-08-10 06:56] #49787 closed

[2017-08-10 06:56] #40329 closed

[2017-08-10 07:01] crassirostris commented on #50026
Sure :) I was mainly thinking about the number of components that require graceful shutdown growing in the future

Since it's in the generic apiserver, I'm not sure how correct it is to use the global scope. Also, is signal handling inseparable from the shutdown hooks? Maybe we can have a signal handing before calling the `Run` and call hooks when `stopCh` is closed?

[2017-08-10 07:01] beyondli commented on #50415
I code run apiserver.service like this

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/apiserver
ExecStart=/usr/bin/kube-apiserver \
$KUBE_LOGTOSTDERR \
$KUBE_LOG_LEVEL \
$KUBE_ETCD_SERVERS \
$KUBE_API_ADDRESS \
$KUBE_API_PORT \
$KUBELET_PORT \
$KUBE_ALLOW_PRIV \
$KUBE_SERVICE_ADDRESSES \
$KUBE_ADMISSION_CONTROL \
$KUBE_API_ARGS
Restart=on-failure
Type=notify
Li

[2017-08-10 07:19] sttts commented on #50026
We must run the hooks in the "main go routine". Waiting on `stopCh` is not enough as the process might be killed before we had a change to shut everything down.

[2017-08-10 07:22] crassirostris commented on #50026
@sttts

I meant running generic apiserver in blocking mode, and running a separate gorountine to catch signals

- When signals comes, a goroutine closes a channel
- Generic API server detects a closed channel and runs all hooks
- `Run` method exists and the main goroutine exits

[2017-08-10 07:33] yuyangbj commented on #50364
I figured out the root cause.

That was because the kubernetes v1.7 openstack load balancer code assume we enable the health monitor by default.

https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L1109

It does not address the scenario we do not enable the healthmonitor. I see master branch has enhance it.

[2017-08-10 07:33] #50364 closed

[2017-08-10 07:43] FengyunPan commented on #50364
Yes, this PR fix it: https://github.com/kubernetes/kubernetes/pull/48336

[2017-08-10 07:50] ngtuna commented on #45581
@luxas Hi I deployed `custom-metrics.yaml` file and it got error at that point and I have no clue to debug. Any idea is highly appreciated.

https://gist.github.com/ngtuna/9235afed0d6d14cdd0c7c6e00bb46e05

[2017-08-10 07:50] k82cn commented on #36716
Create https://github.com/kubernetes-incubator/kube-arbitrator to build it based on discussion; if any new requirement or scenario, please feel free to open issues :).

[2017-08-10 07:53] #50343 closed

[2017-08-10 07:53] #49228 closed

[2017-08-10 07:53] #46078 closed

[2017-08-10 07:53] yastij commented on #50299
I think we should close this one.

[2017-08-10 07:53] jolestar commented on #45487
@alindeman 's suggestion is right, or create a link

`ln -s /root/.docker /data/var/lib/kubelet/.docker`

[2017-08-10 07:54] #50299 closed

[2017-08-10 07:55] jianglingxia commented on #50421
in my enviroment no the path file /etc/kubernetes/manifests
-bash-4.2# cd /etc/kubernetes/
-bash-4.2# ls
apiserver   certs   controller-manager             kubectl.kubeconfig  kube_openstack_config  scheduler.kubeconfig          tokens
basic_auth  config  controller-manager.kubeconfig  kubelet             scheduler              scheduler-policy-config.json
but  why not use cinder volume ,create a

[2017-08-10 08:10] yuyangbj opened #50437 "Is it reasonable putting all node as members for service with type load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I deployed a service with type load balancer, in the large scale, for example, I have 1000 worker nodes, every node will be put into load balancer pool member list.  Is it reasonable? You know in the LB's performance should be larger than number of pool member * single pool member performance.

**What you expected to

[2017-08-10 08:10] yuyangbj commented on #50437
/sig network
/sig openstack

[2017-08-10 08:11] yuyangbj commented on #50437
@FengyunPan any opinion?

[2017-08-10 08:18] m1093782566 commented on #46078
It's fixed now. Thanks all!

[2017-08-10 08:20] soltysh commented on #20902
Yes, there are three [possible values](https://github.com/kubernetes/kubernetes/blob/release-1.7/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L360-L370). `Background` performs the actual cleanup in the background, but there are also options for orphaning (`Orphan`) and blocking delete call until everything is removed (`Foreground`).

[2017-08-10 08:26] beyondli commented on #50415
is there some places can find all the error code meanings? if possible ,I  think  it will be more easier to locate many problems

[2017-08-10 08:28] yastij commented on #50419
@k82cn - For 1) :

From what i understood of @gmarek, the idea is to put most restrictive predicates (ones with lowest percentage of nodes that passes through) in front, this doesn't imply that they are the simplest one ?

[2017-08-10 08:29] FengyunPan commented on #50437
Sorry, I don't understand what you say.
IMO, If some nodes(node-A) is not load balancer pool member and there are some pods(pod-B) run in them(node-A), LB service will can't access pod-B. So all the nodes should be LB member.
Please let me know if my understand is wrong.@yuyangbj

[2017-08-10 08:37] yastij opened #50441 "cinder calls detach disk even if nothing was mounted"
@dims @anguslees - while reading some cinder code, i came accross [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cinder/cinder.go#L332), we try to detach disk even if we didn't try to mount. Is this call mandatory ? (from what i recall AWS EBS do not have such mecanism)

Also ping @saad-ali

[2017-08-10 08:38] yastij commented on #50441
/sig openstack

[2017-08-10 08:38] FengyunPan commented on #50421
Sorry, I can't get helpful message.
You should check the error message from log or event.

[2017-08-10 08:41] #49577 closed

[2017-08-10 08:42] magicwang-cn opened #50442 "When controller-manager in the process of changing from standby to main, resourceQuota will exceed."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Set the resourcequota  of pod to 60, and using scheduledjob  to create pod every 1 minute. In the process of creating(until the pods have received the limited resourcequota), just shut down the main controller-manager, let the standby one became main. Then the controller-manager will continue to create pods, more than 60,

[2017-08-10 08:43] magicwang-cn commented on #50442
/sig cluster-ops

[2017-08-10 08:46] yastij commented on #50400
cc @justinsb

[2017-08-10 08:55] k82cn commented on #50419
great , "simpler" one first can be option 3.

[2017-08-10 08:57] yuyangbj commented on #50437
There is something wrong in your understanding.

Take flannel as am example. When you create a POD, actually there will be a port created on every worker nodes, and the corresponding iptables will be created on every worker nodes, the destination should be the POD IP. So there is no scenario that the service can not access to POD-B if its hosting node is not added as member.

My concern is should

[2017-08-10 09:02] rtmie commented on #38923
@zhangqx2010 thanks for suggestion. However to me this is creating another SA with same permissions as persistent-bolume-binder.
In any case I tried it (hope I have configured it correctly!):
[code]

with similar result in deployment:
[code]

[code]

[2017-08-10 09:16] mitake commented on #19972
@byronyi thanks for your explanation. As you point out, the frequent controlling shouldn't be performed directly by k8s itself. I imagined that k8s can statically allocate (or at least recognize) what kind of control can be made by other higher level mechanisms. It would be similar to that resources allocated by k8s can be redistributed by other frameworks. How do you think about it?

[2017-08-10 09:20] FengyunPan commented on #50437
Yeah, I see. Thank for your comment.
But the number of member is unlimited.
\-------
      --connection-limit CONNECTION_LIMIT
                        The maximum number of connections per second allowed
                        for the vip. Positive integer or -1 for unlimited
                        (default).
\-------

[2017-08-10 09:25] vikaschoudhary16 commented on #50433
you should look for help at slack channels #kubernetes-user #sig-network.

[2017-08-10 09:31] dixudx commented on #49032
I've submitted a PR #50445. PTAL.

[2017-08-10 09:36] dixudx commented on #49035
@caesarxuchao @ahmetb I would work on this based on #50445.

[2017-08-10 09:42] gmarek commented on #46503
Sure - all modern tracing libraries for go use context to pass span context between binaries. Also ideologically context should represent one whole 'action' in the system.

[2017-08-10 09:44] xiangfeiz opened #50446 "k8s with OpenStack as cloud provider, Keystone auth token used by k8s may expire during some long-run API request"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
With OpenStack as cloud provider, k8s uses the same keystone auth token to talk to OpenStack, but the keystone auth token sends to OpenStack may expire while being used for internal API request.
For example, volume-detach request is sent to Nova service with the keystone auth token. The auth token is valid at that time an

[2017-08-10 09:45] yastij commented on #50446
/sig openstack

[2017-08-10 09:51] shyamjvs commented on #50366
Seems fixed - https://k8s-testgrid.appspot.com/sig-scalability#kubemark-500

[2017-08-10 10:01] gmarek commented on #50419
Yeah, that was my idea, but as I said, it's just something that popped up in my mind, so I have no idea how possible it is, and is it possible to dynamically change the order of predicates on a running scheduler, and so on. But generally if someone is interested in improving scheduler performance figuring out how to compute predicates most efficiently sounds like a very interesting project (make m

[2017-08-10 10:08] byronyi commented on #19972
@mitake If you are talking about relatively static allocation of switch buffers and link capacity, there are works in this direction as well. For example, in HULL (High-bandwidth Ultra-Low Latency) in NSDI'12, network packets are classified into different categories, i.e. latency sensitive or bandwidth constraint. Then those packets will be marked differently in headers at end-host, queued with re

[2017-08-10 10:09] yastij commented on #50419
@gmarek - well in November I plan to have a 2 months break to work on k8s, so i'll also follow this one closely 😄

[2017-08-10 10:21] FengyunPan commented on #50446
@xiangfeiz I also met for this problem in v1.6.0, and it be fixed latest.

[2017-08-10 10:24] paulomakdisse opened #50448 "f;xzklcv;lcvlblcvcl;vkx;lkx;bblcvadklfgkfkfgkkdldldd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-10 10:40] vishal-sdl commented on #26453
Facing same issue #26453
I'am following :- https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md
$ export KUBERNETES_PROVIDER=local   #//I have cluster created locally
$ go run hack/e2e.go -- -v --build   #Going fine
$ _go run hack/e2e.go -- -v --up_    // Giving gcloud: command not found
$ _go run hack/e2e.go -- -v --test_   //Giving gcloud: command not found
2017/08

[2017-08-10 10:44] enzian opened #50449 "Error: (the server has asked for the client to provide credentials)"
/kind bug
@kubernetes/sig-api-machinery-bugs
**What happened**:
I just switched to oidc authentication by extending `kube-apiserver.yaml` as follows:
[code]
I acquired refresh and id tokens from this client and added them to the config:
[code]
The token gets refreshed by `kubectl` as expected but when hitting the API server I get a `401` error back:
[code]
in the log on the server I can see a corr

[2017-08-10 10:49] php-coder commented on #50424
/sig auth
CC @liggitt

How it differs from the case where you're disabling PSP admission controller?

[2017-08-10 10:49] enzian commented on #50449
@kubernetes/sig-api-machinery-bugs

[2017-08-10 11:42] dims commented on #50448
/assign

[2017-08-10 11:42] dims commented on #50448
/close

[2017-08-10 11:42] #50448 closed

[2017-08-10 11:52] drinktee commented on #50305
Maybe we should not change the cluster-cidr. Because if every node changes cidr, the ips of pods need to change too which means all pods will be killed.

[2017-08-10 12:03] shashidharatd commented on #44490
/reopen

[2017-08-10 12:09] mccormd opened #50451 "NetworkPolicy across Namespaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I can't find a way of matching a pod label AND a namespace label.

**What you expected to happen**:
I want to be able to define network policy such that certain pods in a frontend namespace can be allowed to access specific pods/services in a backend namespace.
i.e. I want to define NetworkPolicies which allow ingress

[2017-08-10 12:10] mccormd commented on #50451
@kubernetes/sig-network

[2017-08-10 12:10] mccormd commented on #50451
/sig network

[2017-08-10 12:26] deads2k commented on #50388
Given a method on the factory, why would the printer need to be passed in?  Seems like you could get a mapper from the factory.

Instead of doing this, couldn't you bind the options struct to the command directly and then each command options struct could contain the already built up options from the cli and deal only in objects?

[2017-08-10 12:57] deads2k commented on #49035
A flag on our commands that defaults `false` seems like a good solution.  Clayton's points about all make a lot of sense.

[2017-08-10 12:58] ncdc commented on #50037
/sig api-machinery

[2017-08-10 13:02] deitch commented on #25533
Just stumbled across this. Somehow I lost my `IPALLOC_RANGE` var for weave, which defaults to a conflicting address. Oh well. Then I checked if weave can get the range from the API, but realized it isn't exposed. Plans on it?

[2017-08-10 13:02] ncdc commented on #50041
@sttts ok so I just spent a lot of time building a yaml emitter that works, only to realize after the fact that using the gengo parser to get access to field comments requires the source code to be in your gopath **at runtime** 😦

An alternative: we could generate some go bindata that contains the generated yaml. We'd concatenate that into the right place in the command's help text. This type of g

[2017-08-10 13:06] mikebrow commented on #24866
Closing as this issue has been addressed.

[2017-08-10 13:06] #24866 closed

[2017-08-10 13:13] sttts commented on #50041
Without code generation we won't be able to do that. Does not surprise me now that you write it.

Looks like this is data we should have in client-go or even k8s.io/api.

OpenAPI might have what you need. But we probably don't want that monster struct in kube-proxy.

[2017-08-10 13:16] ncdc commented on #50041
I think for the time being I like the idea of generating bindata. Are you opposed to that?

[2017-08-10 13:17] stevekuznetsov commented on #50048
@cjwagner are you also looking at the logic in Blunderbuss? The OWNERS entries are case-insensitive so some of these should not be an issue. There is a point in the repo feature where we check for valid assignee status -- would be good to grab a list from that log to determine where we need to update files.

[2017-08-10 13:21] sttts commented on #50041
Sounds fine. Can you do that for all component configs?

[2017-08-10 13:24] ncdc commented on #50041
Yes, although right now it's just kube-proxy and kubelet afaik. I'll start with kube-proxy first.

@ixdy @mikedanese @thockin before I proceed on this, do you all have any objections to this approach? If not, how would you like to see it incorporated into both the `Makefile` and bazel?

[2017-08-10 13:27] #49620 closed

[2017-08-10 13:28] ncdc commented on #48771
Sure looks like something was messed up in test-infra. Feel free to reopen if this needs more triaging.

[2017-08-10 13:28] #48771 closed

[2017-08-10 13:29] ncdc commented on #48768
Sure looks like something was messed up in test-infra. Feel free to reopen if this needs more triaging.

[2017-08-10 13:29] #48768 closed

[2017-08-10 13:30] ncdc commented on #48021
Sure looks like something was messed up in test-infra. Feel free to reopen if this needs more triaging.

[2017-08-10 13:30] #48021 closed

[2017-08-10 13:31] ncdc commented on #45134
Given that no one is complaining about this, I'm closing it. We can reopen if needed.

[2017-08-10 13:31] #45134 closed

[2017-08-10 13:31] dixudx commented on #50449
@enzian

Actually it was still in authentication yet. The error (`Unable to authenticate the request due to an error: [invalid bearer token, crypto/rsa: verification error]`) indicated that you did not pass authentication. Authorization (RBAC and rolebindings) is still ahead.

Please check the tokens you are issuing and using.

[2017-08-10 13:32] ncdc commented on #16177
@DirectXMan12 let's close this and create separate individual issues for any remaining work items?

[2017-08-10 13:35] dixudx commented on #50442
/kind bug

[2017-08-10 13:37] sttts commented on #50041
Would prefer update-codegen.sh. The Makefile codegen logic is insane already. We should avoid to make that bigger.

[2017-08-10 13:38] shyamjvs opened #50452 "'pull-kubernetes-e2e-kops-aws' failing on release-1.4 branch, preventing merges"
As seen in PR https://github.com/kubernetes/kubernetes/pull/50384#issuecomment-321529415

It fails due to:

[code]

cc @kubernetes/test-infra-maintainers @fejta @krzyzacy

[2017-08-10 13:38] shyamjvs commented on #50452
I'll try to take a look.

[2017-08-10 13:39] ncdc commented on #50041
I'll do wherever makes the most sense. Just let me know

[2017-08-10 13:39] mccormd opened #50453 "NetworkPolicy Egress with CIDRSelector and DNSSelector"
/kind feature

**What happened**:
In 1.7 NetworkPolicy only supports ingress (although some cni providers like Calico claim to be able to also support egress).

No doubt that egress is already on the roadmap, but I'd like to state a requirement for a couple of selectors that we'll need in order for the egress functionality to be useful in enterprise environments.

1) CIDRSelector

We need to be ab

[2017-08-10 13:43] shyamjvs commented on #50452
On digging up a bit, it seems that the error is coming from this line - https://github.com/kubernetes/test-infra/blob/master/kubetest/extract.go#L187
And the function `getTestBinaries` is being called only if release version is < 1.5 which is why we're seeing it in this branch, but not in 1.5 (for e.g - https://github.com/kubernetes/kubernetes/pull/50385 worked fine).

[2017-08-10 13:47] shyamjvs commented on #50452
One step further, it's failing precisely at https://github.com/kubernetes/test-infra/blob/master/kubetest/util.go#L76
When it's trying Get(<filename>) on the http.Client, it's unable to find the scheme "file" though the scheme has been registered in the `init()` function of the file.

[2017-08-10 13:50] yastij commented on #50453
cc @caseydavenport

[2017-08-10 13:51] shyamjvs commented on #50452
Ok - so it seems like the kops-aws presubmit isn't even intended to be run against 1.4 branch. I checked from the [last merged PR](https://github.com/kubernetes/kubernetes/pull/47007) of the branch -

[code]

This was on June 16th and I guess after that job configs were moved from shell scripts to env-files and so the PR aws job started running again.

[2017-08-10 14:06] errordeveloper opened #50454 "kubectl get --export doesn't strip CRDs"
It appears that `ObjectMeta` is not stripped when attempting to use `kubectl get --export` with a CRD.

Here is a quick proof:
[code]

If you examine the output for the CRD, you will see that `creationTimestamp`, `uid`, and `resourceVersion` are untouched, which is not the case for non-CRDs, e.g. deployments.

[2017-08-10 14:06] errordeveloper commented on #50454
/sig cli

[2017-08-10 14:11] errordeveloper commented on #50147
@liggitt that sounds good to me.

@shiywang I was just a bit surprised, that's all.

[2017-08-10 14:14] shyamjvs commented on #50452
/assign @krzyzacy
Could it take it up from here on? Disabling the job for releases older than 1.5 (like it was before) should fix this.

[2017-08-10 14:16] shyamjvs commented on #50452
Something like this - https://github.com/kubernetes/test-infra/blob/e0f789ff194261e4d5b20bbf922bb4e450053a3b/jobs/pull-kubernetes-e2e-kops-aws.sh#L24

[2017-08-10 14:18] liggitt commented on #49548
seen again in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49574/pull-kubernetes-unit/45907/

[2017-08-10 14:21] enzian commented on #50449
@dixudx: I wantet to express that Authentication should be successfull and Authroization should kick in and cause a 403! So far I've checked my Token front to back - and I don't know what the problem seems to be! Could it be something about the signature verification? Do I have to provide the signatures of the issuing authority through `--oidc-ca-file`?

[2017-08-10 14:29] clenimar commented on #48703
yes. can confirm the fix in 1.7.3. I'm closing this now.

[2017-08-10 14:29] #48703 closed

[2017-08-10 14:30] #44018 closed

[2017-08-10 14:33] dixudx commented on #50449
@enzian  According to the doc

You can have a try by adding `--oidc-ca-file`.

[2017-08-10 14:45] cmluciano commented on #50453
egress request is duplicated by https://github.com/kubernetes/features/issues/366. The dnsSelector is an interesting request.

[2017-08-10 14:46] cmluciano commented on #50453
/assign

[2017-08-10 14:47] xiangpengzhao commented on #49548
@liggitt This is because #49361 is not merged yet. I will address your comments. Thanks!

[2017-08-10 15:08] alexfomin commented on #42487
@Josh-West-Bose Could you please provide more details on your custom controller implementation?

[2017-08-10 15:15] pranshuverma commented on #50242
Facing same issue.

**Environment Details:**

`kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"269f928217957e7126dc87e6adfa82242bfe5b1e", GitTreeState:"clean", BuildDate:"2017-07-03T15:31:10Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"269f92821795

[2017-08-10 15:16] #16550 closed

[2017-08-10 15:18] crassirostris commented on #50242
@freeformz @Bobi-zhou You can solve it temporary by removing [`systemd` parts from the ConfigMap](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-configmap.yaml#L272)

I'm working on the solution

[2017-08-10 15:25] #48954 closed

[2017-08-10 15:38] mnaser opened #50461 "OpenStack Cinder version detection fails (and is incorrect)"
/kind bug

**What happened**:
When running Kubernetes against an installation of DevStack which deploys the Cinder service at a path rather than a port (ex: http://foo.bar/volume rather than http://foo.bar:xxx), the version detection fails.

**What you expected to happen**:
The version detection should never happen.  The best way to detect version is by using the OpenStack service catalog.  As per

[2017-08-10 15:40] mnaser commented on #50461
/sig @kubernetes/sig-openstack-bugs

[2017-08-10 15:44] #50452 closed

[2017-08-10 15:45] shyamjvs commented on #50452
Sent the above PR to fix the issue.

[2017-08-10 16:33] DirectXMan12 commented on #16177
sure

[2017-08-10 16:33] garethr commented on #8116
As an example where this would be useful, I just posted to SIG API Machinery.

Service takes a spec.type value which the OpenAPI spec
describes as a string. However if you read the description
it's clear only certain values are valid:

https://github.com/garethr/kubernetes-json-schema/blob/master/master-standalone/service.json#L140

So in the spec it would be great if this was represented by an `e

[2017-08-10 16:37] mkumatag commented on #26453
Even I followed the steps mentioned by you in the above comment but got following errors:
[code]

I don't think `go run hack/e2e.go -- -v --up` is really supported for `local` provider.

If you are looking for steps to run tests on local cluster then you should follow the steps - https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#testing-against-local-clusters

[2017-08-10 16:53] kksriram commented on #49817
Proposal PR : https://github.com/kubernetes/community/pull/888

[2017-08-10 16:55] dims commented on #50461
/sig openstack

[2017-08-10 17:00] humblec opened #50463 "GlusterFS plugin fails to mount volumes in 1.7.3 branch"
Issue: It looks like,  1.7.3 glusterfs plugin is broken  due to the `auto_unmount` option in the mount argument.

[code]

We have got https://github.com/kubernetes/kubernetes/pull/49381/ in 1.7.3 as a cherry pick.

My current assumption is that  :

This patch expects  an error string `invalid  option auto_unmount` and only if it satisfy, we are removing the `auto_unmount` from the strings.  From a

[2017-08-10 17:05] humblec commented on #50463
@jsafrane @rootfs

[2017-08-10 17:06] humblec commented on #50463
/assign @humblec

[2017-08-10 17:10] dhague commented on #45956
I have the same pain with 1.7.3, as installed by kubeadm. Tried with Calico & Weavenet - same problem with both. Happens regardless of whether I go directly to the node via HTTPS or whether I use kubectl proxy locally - in each case the upstream proxy returns an error like "The following error was encountered while trying to retrieve the URL: http://localhost:8001/ - Access Denied".

It looks like

[2017-08-10 17:11] cmluciano commented on #50451
Which CNI plugin are you using?

cc @kubernetes/sig-network-bugs

[2017-08-10 17:12] cmluciano commented on #50451
/kind bug

[2017-08-10 17:13] rootfs commented on #50463
/sig storage

[2017-08-10 17:14] caesarxuchao commented on #49035
The pipeline argument makes sense. How about:
* a `--include-uninitialized` global flag, default to `false`
* `kubectl delete <resource> --all`and `kubectl get <resource> --show-all`: include the uninitialized objects by default. Hide them if user explicitly set `--include-uninitialized=false`.
* `kubectl apply --prune`, similar to `kubectl delete <resource> --all`, will delete the uninitialized o

[2017-08-10 17:36] smarterclayton commented on #49035
I think people using describe in pipeline are doing so for looser scripting (since we break that all the time).  I think include by default is ok.

Everything else I think I agree with.

[2017-08-10 17:39] sttts commented on #50076
/cc @nikhiljindal

[2017-08-10 17:40] sttts commented on #50076
There were some discussions months ago around the idea to connect federation requests with requests "forwarded" to the kube-apiservers. If I understand correctly (@nikhiljindal knows more), this forwarding is done via a controller, i.e. asynchronously? This means our audit header does not help so much right now.

[2017-08-10 17:53] laverite opened #50464 "Taint/Toleration Not Enforced After Pod Delete"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tained a node and created a deployment with a matching toleration and deployed.  My pod got scheduled on the expected tainted node.  However when I manually deleted the pod, k8s rescheduled a new pod on a node that had no taint.

**What you expected to happen**:
I would expect k8s to enforce the same taint/toleration wh

[2017-08-10 17:54] ironcladlou commented on #49718
@smarterclayton directed me to https://github.com/kubernetes/community/pull/123 as a possible way forward here without doing a bunch of custom client codec work.

[2017-08-10 17:56] g1001p opened #50465 "vSphere cloud provider - k8s cluster stopping see nodes if vCentrer is unavailable"
Such behavior of cluster is not good especially if it running in production .

Is it  malfunction of k8s or bug?
How do you recommend to handle this issue?

Thanks in advance
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2017-08-10 18:30] liggitt commented on #50464
a pod's nodeSelector targets nodes with those labels

a pod's tolerations allow (but do not require) scheduling to nodes with corresponding taints

a toleration does not mean you *will* get scheduled on a node with a corresponding taint. it means you *can* get scheduled on a node with a corresponding taint.

if you want to target a specific node or set of nodes, you should label those nodes, and s

[2017-08-10 18:30] #50464 closed

[2017-08-10 18:34] #41605 closed

[2017-08-10 18:35] liggitt commented on #50424
I agree, I don't think the admission plugin should fail open.

I would recommend creating a restricted PSP that you want to be available to any user, and grant that to all users

[2017-08-10 18:35] #50424 closed

[2017-08-10 18:36] sellers commented on #50449
I'm using the Google OATH2, which I thought the CA should be the in the default ca-certs (ubuntu 16.04 or 16.7.0 Darwin) (https://cloud.google.com/community/tutorials/kubernetes-auth-openid-rbac )   Is that limited to GCE instances that get that injected into their machine images ?    What CA would we use in this case, one downloaded manually from Google ?

[2017-08-10 18:37] ericchiang commented on #50432
Hi @spnzig,

Do you have any logs from your API server and how did you configure the API server?

[2017-08-10 18:47] ericchiang opened #50466 "[e2e test failure] Simple pod should support exec through kubectl proxy"
/cc @kubernetes/sig-cli-bugs

This test has started failing on GKE and GCI-GKI e2e tests:

https://k8s-testgrid.appspot.com/release-master-blocking#gci-gke
https://k8s-testgrid.appspot.com/release-master-blocking#gke

Example failure

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke/12920

[code]

[2017-08-10 18:56] shyamjvs commented on #48513
Ok... So finally logexporter has become stable after all those fixes and is working fine in multiple of our scalability jobs.
E.g -
https://k8s-testgrid.appspot.com/google-gce-scale#gce
https://k8s-testgrid.appspot.com/google-gce-scale#gci-gce
https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance

[2017-08-10 19:00] shyamjvs commented on #48513
@fejta We should move all the remaining jobs to using logexporter too (except previous release branches which don't have logexporter support). It's super fast (an order of magnitude faster for large tests) and clean.

[2017-08-10 19:17] divyenpatel commented on #50465
@g1001p Can you describe this issue? we can help.

@luomiao @BaluDontu @tusharnt @rohitjogvmw

[2017-08-10 19:32] shyamjvs commented on #48513
Filed the above issue to move all our jobs to using it. Closing this one.
Thanks everyone! :)

[2017-08-10 19:32] #48513 closed

[2017-08-10 20:15] rpothier opened #50469 "Kubeadm should pass node-cidr-mask-size for IPv6"
/kind bug

**What happened**:
Currently, if the user sets the cidr with --pod-network-cidr with kubeadm, the kube-controller-manager is passed the cidr with the --cluster-cidr arg. --node-cidr-mask-size is not passed to the kube-controller-manager and the controller-manager used the default value of 24
The default value of 24 if good for IPv4, but for IPv6 the controller-manager throws an error be

[2017-08-10 20:16] rpothier commented on #50469
/area ipv6
/area kubeadm

[2017-08-10 20:21] rpothier commented on #50469
/assign rpothier

[2017-08-10 20:32] githubvick commented on #49389
Nope, changed it to reflect the dns name of the instance. didn't work still

`Aug 10 20:04:32 k8s0 kube-controller-manager[31980]: E0810 20:04:32.621142   31980 servicecontroller.go:753] Failed to process service. Retrying in 5s: Failed to create load balancer for service default/example-service: [ensure(default/example-service): lb(kubernetes) - failed to ensure host in pool: "compute.VirtualMach

[2017-08-10 20:33] titilambert commented on #47913
Related to:
* https://github.com/kubernetes/kubernetes/issues/49577
* https://github.com/kubernetes/kubernetes/pull/49725

[2017-08-10 20:49] caseydavenport commented on #50451
This isn't supported in the NetworkPolicy API at the moment, but has been considered.  I don't think this is a bug since this is how the API is currently designed.

Right now, specifying a podSelector and a namespaceSelector gives you the logical OR of the two selectors.

[2017-08-10 20:51] caseydavenport commented on #50453
Yeah, DNS selector is something we've talked about a bit before in the SIG but needs more design thinking in terms of how it might be implemented.

CIDR and Egress support are both currently works in progress, targeted for v1.8.

[2017-08-10 20:52] cjwagner commented on #50048
@stevekuznetsov  I'm not using blunderbuss to generate this output (besides including it in pr-mungers to force the repo-updates feature to be used).  The output is from the repo-updates feature. I just logged the users that were pruned by `pruneRepoUsers`.  The reason that the output I provided includes case sensitivity errors is because the output was generated before your PR to normalize case :

[2017-08-10 20:52] caseydavenport commented on #49792
/remove-kind bug

[2017-08-10 21:11] ericchiang commented on #46651
FYI this test has continued to be flaky on gce-serial. Need to investigate to determine if it's the same root cause, but would appreciate if someone with more background can look at this https://k8s-testgrid.appspot.com/release-master-blocking#gce-serial

[2017-08-10 21:16] zhihzhang commented on #15128
+1

[2017-08-10 21:20] ericchiang commented on #50274
@xiangpengzhao tried to check with #sig-release @pwittrock or @mbohlool any advice on this?

[2017-08-10 21:25] ericchiang opened #50471 "[e2e upgrade tests] all GKE upgrade tests are failing to come up"
All GKE upgrade tests are failing

https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.7-cvm-master-upgrade-cluster-new
https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.7-gci-master-upgrade-master
https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.7-gci-master-upgrade-cluster-new
etc...

Example failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kuber

[2017-08-10 21:26] liggitt opened #50472 "High volume API clients revalidate the same authentication token frequently"
In a large scale production cluster, control loops can make dozens of requests per second. Many of those control loops authenticate with token-based credentials which are revalidated on every request. Caching successful token validation results for a few seconds greatly reduces the impact of high-volume clients without affecting the ability to rapidly detect a token revocation.

[2017-08-10 21:42] ConnorDoyle opened #50473 "Reduce code changes needed to support a new resource name."
/kind feature

Any resource without a domain name or with `kubernetes.io/` domain name should continue to be treated as first class. Everything else could be treated as integer resources, until a future API allows specifying whether a resource is integral/fractional.

[Opaque Integer Resources](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#opaque-integer-res

[2017-08-10 21:44] ConnorDoyle commented on #50473
/sig scheduling
/assign

[2017-08-10 21:48] leblancd opened #50474 "Kube-proxy uses incorrect iptables save and restore commands for IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When bringing up kube-proxy in IPv6 mode (i.e. with a BindAddress of ::0), several error messages were seen in the kube-proxy logs indicating that 'iptables-save' and 'iptables-restore' utilities were being called instead of 'ip6tables-save' and 'ip6tables-restore'.

**What you expected to happen**:
kube-proxy should be u

[2017-08-10 21:52] ericchiang commented on #50274
@xiangpengzhao would it be possible to modify the test to make it pick a valid clusterIP range?

[2017-08-10 21:59] xiangpengzhao commented on #50274
On HEAD, it already picks a valid clusterIP, but I don't how to modify in 1.7/1.6. Maybe by a cherry-pick but I don't know if we want to cherry-pick #46197.

[2017-08-10 22:02] monopole opened #50475 "Find home for shared k8s-specific libraries"
As the [core] repo splits into multiple repos, shared packages need a home, as the core isn't intended for vendoring.

Proposal #48209 established the [utils] repository, specifically defining it as a repository with _no k8s dependence_.  The [utils] repo may be viewed as supplementing https://golang.org/pkg, and be of interest to non-k8s projects.

The discussion left open the question of where t

[2017-08-10 22:03] xiang90 commented on #50273
@gmarek can you take a look?

[2017-08-10 22:09] monopole commented on #50475
@kubernetes/sig-architecture-proposals

[2017-08-10 22:40] guoshimin opened #50477 "DaemonSet controller start new pod when the old pod is still in Terminating state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The DaemonSet controller will schedule a pod on a node when the old pod is still in Terminating state. This breaks the expectation that only one pod will be running at a time per node.

**What you expected to happen**:
The DaemonSet controller should not let two pods running at the same time on the same node.

**How to re

[2017-08-10 22:58] pwittrock commented on #49035
/approve

[2017-08-10 22:59] pwittrock commented on #49035
@ahmetb Would you please update the issue description to contain the finalized result that we have reached consensus on - e.g. @caesarxuchao 's latest comment before this one

[2017-08-10 23:40] leblancd commented on #50474
/sig network
/area ipv6

[2017-08-11 00:16] k8s-merge-robot opened #50480 "Failure cluster [6962e1...] failed 168 builds, 32 jobs, and 1 tests over 1 days"
### Failure cluster [6962e13cead522b5408d](https://go.k8s.io/triage#6962e13cead522b5408d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    32 jobs failed,    168 builds failed.
Failure stats cover 1 day time range '8 Aug 2017 22:40 UTC' to '9 Aug 2017 22:40 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 32 |

##### Top

[2017-08-11 00:16] k8s-merge-robot opened #50481 "Failure cluster [540a67...] failed 160 builds, 42 jobs, and 1 tests over 1 days"
### Failure cluster [540a675c5a879d96566f](https://go.k8s.io/triage#540a675c5a879d96566f)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    42 jobs failed,    160 builds failed.
Failure stats cover 1 day time range '8 Aug 2017 22:40 UTC' to '9 Aug 2017 22:40 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 42 |

##### Top

[2017-08-11 00:21] smarterclayton commented on #49684
Fixed in #49688

[2017-08-11 00:21] #49684 closed

[2017-08-11 00:51] dixudx opened #50483 "RequiredDuringSchedulingRequiredDuringExecution was treated as comments of RequiredDuringSchedulingIgnoredDuringExecution"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Unimplemented `RequiredDuringSchedulingRequiredDuringExecution` should not be treated as comments of `RequiredDuringSchedulingIgnoredDuringExecution`

* [pkg/api/types.go#L1937](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1937)

* [staging/src/k8s.io/api/core/v1/types.go#L2155](https://github.

[2017-08-11 00:54] dixudx commented on #50483
/sig api-machinery

[2017-08-11 00:55] #48639 closed

[2017-08-11 01:16] zhangqx2010 commented on #38923
Need more information. Did you use the pvc that you mentioned above? And please show your storageclass.

[2017-08-11 01:32] xiangpengzhao commented on #50477
/sig apps

[2017-08-11 01:45] #50483 closed

[2017-08-11 02:01] cjwagner commented on #50471
Looks like they are working again now?

[2017-08-11 02:02] ericchiang commented on #50471
@cjwagner yep thanks! Going to close.

[2017-08-11 02:02] #50471 closed

[2017-08-11 02:33] xiangfeiz commented on #50446
@FengyunPan Thank you for sharing. Do you mean there is a fix already? If so, can you tell me the commit ID?

[2017-08-11 02:46] linhdsv commented on #23920
[code]
Is this issue resolved yet? I got same error with my `node-exporter` service.

[2017-08-11 02:58] NickrenREN commented on #50369
You maybe create a LimitRange to set default CPU and Memory for a namespace

[2017-08-11 03:21] g1001p commented on #50465
The issue is that kubernetes cluster stopped working  and pods switched  from running state to pending state due to vCenter applience IP is not responding.

BTW once vCenter appliance  started be available  and it IP is responding than kubernetes cluster back working and pods switched back to running state.

⁣Sent from TypeApp ​

On Aug 10, 2017, 10:18 PM, at 10:18 PM, divyenpatel <notifications@g

[2017-08-11 03:38] xingzhou commented on #50454
I'd like to take a look at this issue

[2017-08-11 03:56] liggitt commented on #50449
@ericchiang any tips on troubleshooting an oidc token issue?

[2017-08-11 04:26] thockin commented on #50453
DNS seems unlikely.  You want an HTTP proxy.

[2017-08-11 04:27] thockin commented on #50451
This is a feature request.  I'm not against it, but we need to think through the implications and precedents.

[2017-08-11 04:29] thockin commented on #50437
What is the problem this aims to solve?  With the `externalTrafficPolicy` field, you might actually lose backends if you don't have all VMs.  Nothing stops a particular cloud provider from selecting a subset, though, I think?

[2017-08-11 04:29] #50437 closed

[2017-08-11 04:31] thockin commented on #50305
In general, you can't change this at run time today.  You'd have to fully drain the cluster.  Is this really something you need to do?

[2017-08-11 04:31] #50305 closed

[2017-08-11 04:32] thockin commented on #50274
If you can identify the patch that fixes the bug, we could backport.  Or we should disable that case.

[2017-08-11 04:34] thockin opened #50491 "Remove old load-balancer-source-ranges annotation"
This annotation has been converted to a field.

[2017-08-11 04:37] thockin commented on #50111
This is really hard to debug remotely.  Have you run tcpdump?  How far is the traffic going?

[2017-08-11 04:39] thockin commented on #50083
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2017-08-11 04:42] thockin commented on #50003
We do allow some templating in pods.  I could see it here, maybe.  Needs a proposal.  It's easier in pods because they naturally have env vars.

[2017-08-11 04:42] #49852 closed

[2017-08-11 04:47] thockin commented on #49792
To allocate a random HostPort, it has to be done on the kubelet node, not by the API server.  So we would have to pass it down to kubelet with some sentinel value indicating "allocate random", have kubelet allocate it, and then have kubelet write it back to the API server.  Not impossible, but not implemented.

Kubelet is going to create an iptables rule anyway, just the same as NodePort.

[2017-08-11 04:47] thockin commented on #49780
Who is backporting?

[2017-08-11 04:50] netroby commented on #43567
kubeadm can not setup the master node, due to the fuck cni missing error report.

cni.go:189] Unable to update cni config: No networks found in /etc/cni/net.d

[2017-08-11 04:51] x1957 commented on #50491
/assign

[2017-08-11 04:51] netroby commented on #43567
If the kube master node not setup. the network pod can not apply by kubectl apply ,

[code]

[2017-08-11 04:52] thockin commented on #49329
how are you accessing the service?

[2017-08-11 04:53] #49270 closed

[2017-08-11 04:54] thockin commented on #49270
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

search for subdomain and hostname

[2017-08-11 04:59] beyondli opened #50493 "where to find error code status meaning of apiserver running error?"
kube-apiserver.service running error ：code=exited, status=203/EXEC
more details from #50415

when I start apiserver, it failed directly with status=203, since configure of apiserver isnot so complicated ,where maybe faults reasons.........

thanks anyone help!!

BTW， how to added sig? the code below seems not work at all
/sig cluster-lifecycle

[2017-08-11 05:00] thockin commented on #49239
I don't think this feature is just about DNS.  There are other clients of Endpoints, and this behavior catches them all.  I ACK that it's a little unintuitive, but frankly, "UnreadyEndpoints" is weird too.  I'd rather we never added that, and we just added a bool or annotation indicating whether readiness is considered important or not.

TL;DR - I think the current behavior is as correct as this i

[2017-08-11 05:01] thockin commented on #49113
dup of #33554

[2017-08-11 05:01] #49113 closed

[2017-08-11 05:05] thockin commented on #48719
The question is what "correct" behavior is for a service with no endpoints - ICMP reject or TCP retry?  I assumed retry, but I could be convinced.

[2017-08-11 05:07] thockin commented on #48692
Headless Services can not use LBs.  The LB set can change dynamically, and allocating external IPs is not possible in that scale.  If you have a relatively static deployment, you can use a service per backend.

[2017-08-11 05:07] #48692 closed

[2017-08-11 05:09] thockin commented on #48579
There are/were bugs in the patch implementation wrt ports, because they need compound merge keys.

@mengqiy

[2017-08-11 05:12] thockin commented on #49614
@aledbf

[2017-08-11 05:15] xiangpengzhao commented on #50274
#46197. But it's somewhat large, I don't think we want to backport it.

One alternative is to send a small patch to change below IP to be another valid IP (although it's already a valid IP on HEAD). So we can have a small patch to backport and then we can cherry-pick it to 1.6/1.7. Tim, WDYT?

https://github.com/xiangpengzhao/kubernetes/blob/a58232ab418b303fc53a25651ac900da888d0e6c/test/e2e/dns.go

[2017-08-11 05:22] xiangpengzhao commented on #48579
Yeah I had some discussios with @mengqiy in #49295. But we also do have a bug in our service updating codes. See: https://github.com/kubernetes/kubernetes/pull/49258#issuecomment-316893738

[2017-08-11 05:26] thockin commented on #48510
@yujuhong FYI

[2017-08-11 05:26] yuyangbj commented on #50437
@FengyunPan @thockin

Thanks for your response. Can you guys explain more for these parameters?

I am looking for a configuration that we can create a load balancer with multiple pools or a load balancer with limited members. i am not sure if the Kubernetes can do it till now.

Basing on my test, every node will be put into the load balancer member list, for some neutron drivers, for example VMwar

[2017-08-11 05:28] thockin commented on #48437
Is this still a live issue?  Over a month old...

[2017-08-11 05:32] thockin commented on #48367
Did you look at the `externalTrafficPolicy` field?  That does what you want.

[2017-08-11 05:32] #48367 closed

[2017-08-11 05:35] thockin commented on #48020
See #49792 for more on random ports.  Dup.

[2017-08-11 05:35] #48020 closed

[2017-08-11 05:35] aledbf commented on #48358
@maxlaverse this issue is fixed in nginx 1.13.4 (http://nginx.org/en/CHANGES)
Current master in kubernetes/ingress is already updated. Next release will this this issue.

[2017-08-11 05:37] thockin commented on #47924
Really, controller manager should not be doing this.  It should be some sort of IPAM controller that understands the nature of multiple networks.

[2017-08-11 05:41] thockin commented on #47340
Dup of #48719

[2017-08-11 05:41] #47340 closed

[2017-08-11 05:42] thockin commented on #47420
You don't want `externalIPs`, you want `loadBalancerIP`

[2017-08-11 05:42] #47420 closed

[2017-08-11 05:43] thockin commented on #47442
Is this still active?  we have ample evidence that this is not a systemic problem.

[2017-08-11 05:44] thockin commented on #47486
@cmluciano to close with his PRs

[2017-08-11 05:45] thockin commented on #47533
This is almost 2 months old.  Closing.

[2017-08-11 05:45] #47533 closed

[2017-08-11 05:50] thockin opened #50495 "DNS PTR is sort of broken for pods"
https://github.com/kubernetes/dns/issues/124

For milestone

[2017-08-11 05:52] divyenpatel commented on #50465
@g1001p
We recently analyzed similar issue - https://github.com/vmware/kubernetes/issues/204
but could not reproduce it.

Can you provide kubernetes cluster version?

[2017-08-11 05:52] jpiper commented on #49792
I've never looked into the Kubernetes source code (maybe this is an excuse to do so). I suppose it depends how the hostPort data structure looks like, if it's stored as an `int` we could use a sentinel value like `-1` but that seems a bit hacky, something more explicit like `hostPort: random` or a new port type (`randomHostPort`?) seems neater.

We'd also need to make sure that the port informatio

[2017-08-11 05:55] #50187 closed

[2017-08-11 06:29] ericchiang commented on #50274
This test started passing again on the upgrade tests. hmmm.

https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster

[2017-08-11 06:34] dixudx commented on #49035
@caesarxuchao @smarterclayton I've submitted a PR #50497 on this.

Some confusions here. Since the default value is `false`, what will make a difference by explicitly setting `--include-uninitialized=false`. That value will still be `false` unless we explicitly set it to `true`.

[2017-08-11 06:37] mkumatag opened #50498 "Multiarch nonewprivs test image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

This issue is for creating `nonewprivs` image as multiarch

[2017-08-11 06:38] mkumatag commented on #50498
/assign

[2017-08-11 06:38] ahmetb commented on #49035
@caesarxuchao Agree with the most of the proposed solution. One problem though:

I think `kubectl edit`, `kubectl apply` must include uninitialized objects. Imagine a resource like Deployment is failing to initialize. You would probably go `kubectl edit` to fix some annotation, or change it in the manifest and then `kubectl apply`, right? What would be the behavior of `kubectl apply` when an unini

[2017-08-11 06:39] mkumatag commented on #50498
/sig testing

[2017-08-11 06:45] hach-que opened #50499 ""failed to open log file" on privileged daemon set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The pods are stuck in `CrashLoopBackOff` with this error:

[code]

**What you expected to happen**:
I expect the pods to start.

**How to reproduce it (as minimally and precisely as possible)**:
Running this daemon set on a GCE cluster on `1.7.3` (both master and nodes):
[code]

**Anything else we need to know?**:
-

**En

[2017-08-11 06:58] m-no-2017 commented on #50083
Overview (POD,SVC,EP):

<pre><code>NAME                        READY     STATUS    RESTARTS   AGE       IP            NODE
kube-dns-1805606214-g92nb   4/4       Running   0          18h       10.96.176.9   k8s-3

NAME       CLUSTER-IP   EXTERNAL-IP   PORT(S)         AGE       SELECTOR
kube-dns   10.96.0.10   none          53/UDP,53/TCP   19m       name=kube-dns

NAME       ENDPOINTS

[2017-08-11 07:19] pires commented on #49780
It's fixed in 1.7.3.

[2017-08-11 07:19] #49780 closed

[2017-08-11 07:32] liqlin2015 commented on #50424
Thanks for your advice.

[2017-08-11 08:13] yastij opened #50502 "fc disk manager doesn't handle failed mounts"
Fc disk manager doesn't handle failed mounts see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/fc/disk_manager.go#L58)

/sig storage
/assign

[2017-08-11 08:38] xiangpengzhao commented on #50274
Hmmm, weird...

[2017-08-11 08:59] vishal-sdl commented on #26453
Hi, I have followed the steps from link which you have provided in above comment.
But It's not working

[code]
I'am looking for steps to run tests on local cluster.

[2017-08-11 09:12] seletskiy commented on #23920
@linhdsv: I've solved issue by using custom Calico CNI configuration to enable portmap — https://github.com/seletskiy/kubernetes-bootstrap

[2017-08-11 09:14] feiskyer commented on #50499
/sig node

[2017-08-11 09:14] feiskyer commented on #50499
/assign

[2017-08-11 09:43] feiskyer commented on #50499
Confirmed the bug in dockershim, filed #50509 to fix this.

[2017-08-11 09:46] m1093782566 commented on #50477
/cc @dhilipkumars

[2017-08-11 09:50] mbohlool commented on #50046
Looking at the code, OpenAPI endpoint should support `HEAD`. Have you guys tried it? I will give it a try.

[2017-08-11 09:52] vfreex commented on #50129
Is `218.205.57.154` a fake response from your ISP?

[2017-08-11 10:03] fasaxc commented on #48719
Is there any mileage in using `-j REJECT --reject-with tcp-reset`?  That would simulate a closed port, which seems "right" to me if there are no services backing an endpoint.  (It's as if the service wasn't running on the "host" addressed by the service's IP.)

My only problem with TCP retry is the pragmatic one that the retries get blackholed by the stale conntrack entry.

[2017-08-11 10:03] mbohlool commented on #49879
My suggestion to have v2 and v3 were mostly relevant if we were going the path of accepting OpenAPI spec. In current form, I would also agree that providing two set of spec would make things more complicated and it is unnecessary. Let's remove v2 and keep `OpenAPISpecV3` only. We can do best effort to convert it to v2 on CRD OpenAPI generation.

I don't think this would be included in 1.8. It shou

[2017-08-11 10:04] fasaxc commented on #50048
I followed the process [here](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements-for-outside-collaborators) and got a +1 to my message so hopefully I'll be a contributor soon.

[2017-08-11 10:08] crassirostris opened #50510 "Stackdriver event-exporter doesn't export repeating events"

[2017-08-11 10:25] #50081 closed

[2017-08-11 10:31] rtmie commented on #38923
Hi @zhangqx2010 ,
Storage class
[code]
PVC and PV Status
[code]

I think the problem is on the node. I have just found an RBD error in the kubelet log:
[code]
Key , which I have x'ed out, is correctly read from the secret and is correct from ceph user setup. However I don't like the look of the \n.

[2017-08-11 10:58] spnzig commented on #50432
@ericchiang i guess this problem is because my user has no certificate and key to access the apiserver. If i try explicitly mentioning the path /etc/kubernetes/pki/apiserver.crt i get ` permission issues `. How can i solve this?

[2017-08-11 11:03] ash2k commented on #47889
Looked into this issue just now. It is caused by the pointer vs non-pointer receiver of the `MarshalJSON()` method - similar to #43346.
In detail:
1. `*unstructured.Unstructured` is passed as `interface{}` to `ToUnstructured()`
2. `ToUnstructured()` [dereferences the pointer by calling `value.Elem()`](https://github.com/kubernetes/kubernetes/blob/5b27f8b8f9fcfc8405f9b34bf584abd0d168abf7/staging/sr

[2017-08-11 11:28] m-no-2017 commented on #50083
Due to my desparation I started editing like everything what was related to services in any kind.
I came across a strange behaviour (it's maybe the way it should be and I just didn't get it):
-kube-dns recognizes all freshly created services, but just logs "New service: [servicename]"
-No "ADD SRV record" log is generated

If I add the "name" field in the port spec I suddenly see the records in th

[2017-08-11 12:04] ash2k commented on #47889
@kubernetes/sig-api-machinery-misc

[2017-08-11 12:31] k82cn opened #50516 "Mark essentail predicates as un-configurable."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, the predicates/priority of scheduler are "configurable"; but not all predicate/priority should be configurable, e.g. the predicates used by kubelet (admit) should not be configurable. After https://github.com/kubernetes/kubernetes/pull/50362 merged, it's better to mark related predicates as unconfigurable.

[2017-08-11 12:31] k82cn commented on #50516
/sig scheduling

[2017-08-11 12:31] k82cn commented on #50516
/assign

[2017-08-11 12:33] k82cn commented on #50516
/cc @jinzhejz , please help on this after #50362  merged. Assign to myself as a placeholder :).

[2017-08-11 12:46] k82cn commented on #50477
cc @kargakis @janetkuo @lukaszo

[2017-08-11 12:56] jhorwit2 commented on #49740
I'm seeing this as well. It doesn't happen enough to trigger the pod to fail liveness but does happen enough that it creates a bunch of events.

[code]

I'm on v1.7.1

[2017-08-11 13:13] zihaoyu commented on #47118
Not sure if it's the same issue, but I just found out that if your cluster is multi-zone (like baremetal-1, baremetal-2, etc ), federation only creates DNS record for one of the zones, [code here](https://github.com/kubernetes/kubernetes/blob/v1.7.2/federation/pkg/federation-controller/service/dns/dns.go#L510).

Does `nginx.default.federation.svc.baremetal.example.com` (without zone) work?

[2017-08-11 13:22] jianzhangbjz commented on #50442
/cc

[2017-08-11 13:28] dmayo3 commented on #50313
@lukaszo

We haven't enabled RollingUpdate, I'll make a note to do that at some point.

Redacted YAML file:

[code]

[2017-08-11 13:30] g1001p commented on #50465
Sure , the version is 1.4 04

⁣Sent from TypeApp ​

On Aug 11, 2017, 8:52 AM, at 8:52 AM, divyenpatel <notifications@github.com> wrote:

[2017-08-11 13:36] #47913 closed

[2017-08-11 13:36] VioletRainbows commented on #47913
Fixed #49725

[2017-08-11 13:38] dhilipkumars commented on #50477
cc: @kubernetes/sig-apps-bugs
I think the expected behavior is correct, the terminating pod could be performing an important step such as 'removing a lock` or 'cleanup` etc., we should allow that to gracefully die before creating a new one.

IMHO we should revoke to old behavior, but why did we need this new behavior in the first place? That is not clear to me from the PR and Issue.

[2017-08-11 13:44] crassirostris opened #50518 "Generic apiserver should shut down handlers before shutting down auditing"
Currently, it's possible to lose some events during the apiserver shutdown, when the audit backend stopped accepting new events but the requests are coming or progressing. To solve this problem, all connection should be closed before apiserver starts to shut down the audit backend.

/cc @sttts @tallclair @soltysh @piosz

[2017-08-11 13:49] jianzhangbjz commented on #50369
@killy001 Agree with @NickrenREN . You can set the apiserver `--admission-control=` flag has `ResourceQuota` as one of its arguments.
Note that resource quota divides up aggregate cluster resources, **but it creates no restrictions around nodes**. Details in [Resource Quotas](https://kubernetes.io/docs/concepts/policy/resource-quotas/)

[2017-08-11 13:59] jianzhangbjz commented on #50375
@ut0mt8 Why not use the `livenessProbe`?

[2017-08-11 13:59] spadgett opened #50519 "Content negotiation incorrect when Accept header uses type parameters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

I'm trying to use `PartialObjectMetadataList`, but fallback to JSON if the server doesn't support `PartialObjectMetadataList`.

Requests with the following Accept headers fail against 1.6, which doesn't support `PartialObjectMetadataList`. They should fall back to JSON.

[code]

[code]

Requests with the following Accept header in 1.7 retur

[2017-08-11 14:02] liggitt commented on #50519
@kubernetes/sig-api-machinery-bugs @smarterclayton

[2017-08-11 14:19] spzala commented on #27945
@therc hi, since it's been over a year of last discussion on this issue, a gentle touch base - is this still a valid feature request, or it can be closed? anything changed? Thanks!

[2017-08-11 14:34] shyamjvs commented on #50273
I can take this up.

[2017-08-11 14:34] kow3ns commented on #50477
We don't currently guarantee at least or at most one scheduling for DaemonSet. Both behaviors are under consideration via issue #48841 and in the future work section of the [design](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/daemonset-update.md#future-plans).

@dhilipkumars The reason for #43077 is to "Make sure that controllers are not adopting children that

[2017-08-11 14:36] yastij commented on #50441
also cc @rootfs

[2017-08-11 14:40] akgunjal opened #50521 "PV status is set to "Released" automatically even if its bound to a PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
There were a bunch of PVCs which were in bound state. The PVs associated with the PVCs got their status changed to "Released" without me triggering PVC delete. This resulted in PV deletion due to my reclaim policy set to "Delete". The PVC went into Lost state as a result. Why this PV state is changed automatically ?

**Wha

[2017-08-11 14:44] shyamjvs commented on #50273
@gyuho Did you create the project newly / is this the first time that you're creating VMs in the project?

[2017-08-11 14:45] akgunjal commented on #50521
/sig storage

[2017-08-11 14:50] smarterclayton commented on #50519
Yeah, negotiation has an early loop for valid parameters, and then a later loop for actual content type resolution for conversion.  I think this can be solved correctly by having the delegation in the loop (there's a todo there i think)

[2017-08-11 14:50] shyamjvs commented on #50273
If so, it might be this - https://stackoverflow.com/a/37802599 (lacking default network rules). But it seems different.

[2017-08-11 14:51] spzala commented on #27928
@willis7 hi, a gentle touch base as it's over a year of this issue last discussed. Can you please check if's still an issue or can we please close it if it's not an issue or you found any work around? I tried to recreate with your yml file but  getting dns error server misbehaving. Thanks!

[2017-08-11 14:51] gmarek commented on #50273
My understanding is that you're using legacy network type (mode=legacy) which doesn't have subnetworks. This suggest that you're either using very old script to create clusters, or have very old `e2e` network.

There are two courses of actions - you can either recreate your network in non-legacy mode, or update kubemark scripts not to assume 'new' networks (it'd be just a flag and changing `--subn

[2017-08-11 15:04] toonsevrin commented on #48367
@thockin this is sufficient for my use case :)

[2017-08-11 15:13] hcs129 opened #50522 "Pending pvc"
I tried to setup a pvc using my storageclasses, it is at pending state and the output is as follows:

Do you have any suggestion?

[2017-08-11 15:15] rootfs commented on #50441
that's was before attach/detach controller, a revisit is necessary

[2017-08-11 15:27] yastij commented on #50441
Sure i'll take care of it
/assign

[2017-08-11 15:38] yastij commented on #49784
Closed since #50186 is merged

[2017-08-11 15:38] #49784 closed

[2017-08-11 15:42] m1093782566 opened #50524 "winspace proxy should not depend on iptables - wrong comment message"
**What happened**:

See https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/winuserspace/proxier.go#L134-140 about "iptables" words.

**What you expected to happen**:

winspace proxy should not depend on iptables - it's a wrong comment message.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Already sent a PR, #49847

**Environmen

[2017-08-11 15:53] rtmie commented on #38923
Updated ceph-auth for user kube

[code]
Different error on kubelet. Can anyone provide correct ceph auth?
[code]

[2017-08-11 15:54] mikecico commented on #40869
I'd also like to ask about why the tar command is required, and if that dependency can be removed, esp for copying simple files.  It would be good if the commands weren't dependent on utilities being present in the target container.

[2017-08-11 16:04] apelisse commented on #50046
I haven't tried, but I agree with you after looking at the code. The documentation for `http.ServeContent` is not very explicit with that regard ...

[2017-08-11 16:07] farcaller commented on #38923
`mon="allow r"` (read mon to find osd)
`osd="allow class-read object_prefix rbd_children, allow rwx pool=kubernetes"` (read rbd_children prefix, full access to kubernetes pool)

[2017-08-11 16:29] yiakwy opened #50526 "dependency broken: <cmdutil "k8s.io/kubernetes/pkg/kubectl/cmd/util">"
/kind bug
@kubernetes/sig-auth-bugs
@kubernetes/sig-cli-bugs
the cmdutil package cannot be found in the path "k8s.io/kubernetes/pkg/kubectl/cmd/util".

After diving into Kubernetes auth source code, I want to identify from kubectl to kube-proxy at which part, authentication happens in the traffic flow.

According to the documentation, user first send request to Identity provider, for example GCE u

[2017-08-11 16:29] guoshimin commented on #50477
Well the behavior may be technically undefined, but can I request that in the future changes like this be mentioned in the release notes?

[2017-08-11 16:39] ericchiang commented on #50432
@spnzig the OIDC plugin provider requires server side configuration https://kubernetes.io/docs/admin/authentication/#configuring-the-api-server

Have you done that?

[2017-08-11 16:42] ericchiang commented on #50449
If that were the issue you'd see logs in your API server related to key rotation. Do you see anything related to that?

My hunch is that the API server is having trouble pulling the public keys from Google.

[2017-08-11 17:02] sttts opened #50528 "Finalizers are broken for CRDs in 1.7"
Create a CRD (`kubectl create -f`):

[code]

and a CR  (`kubectl create -f`):
[code]

Then add a finalizer: ```kubectl edit database wordpress``` by changing it to:
[code]

Delete the resource:
[code]

The resource is gone, but shouldn't.

[2017-08-11 17:06] zihaoyu opened #50529 "Federated service DNS should be created for all zones"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If a federated cluster is a multi-zone cluster, then when a federated `LoadBalancer` type service is created, there is only one zone DNS record created. For example:

[code]

In Route53 console, I only see DNS records for one of the zones (`us-west-2a`). Same thing for `us-east-1` federated cluster too.

![route53](https

[2017-08-11 17:08] cmluciano commented on #47486
xref: https://github.com/kubernetes/kubernetes/issues/49978

[2017-08-11 17:08] zihaoyu commented on #50529
/sig federation

[2017-08-11 17:08] cmluciano commented on #47486
/assign

[2017-08-11 17:29] kow3ns commented on #50477
Yes, certainly. Also "The DaemonSet controller should not let two pods running at the same time on the same node." is not necessarily the same thing as respecting termination prior to launching a new Pod. The former implies a more strict requirement than the latter. I think we should consider at least attempting to wait for a terminating Pod to be deleted prior to creating another Pod on the Node

[2017-08-11 17:29] liyinan926 opened #50530 "CollisionCount should have type int32 instead of int64 in all relevant controllers"
**What happened**:
While working on PR #49983 (see @thockin's comment on the type), we reached agreement that `CollisionCount` used by the `Deployment`, `DaemonSet`, and `StatefulSet` controllers for name collision avoidance should have type int32 rather than int64.

**What you expected to happen**:
`CollisionCount` should have type int32 across controllers that use it for collision avoidance.

**

[2017-08-11 17:30] jkinkead commented on #20902
Thanks for clearing that up!

[2017-08-11 17:32] liyinan926 commented on #50530
/sig apps

[2017-08-11 17:33] ut0mt8 commented on #50375
We use liveness (and readiness as well) probe in all our apps (self healing).
Liveness probe does restart the pod when failed and increment the restart counter (and adjust the date). Logic.

We try to monitor all these things :
- liveness state of each container
- readiness state of each container
- state of each pod
- restart counter and frequency of each pod

(and metrics also).

The problem is

[2017-08-11 17:46] MikeSpreitzer commented on #50262
I have also been getting intermittent failures from this test case.  The reported symptom is a little different fro the one originally reported here, but since it also involves a mysterious data validation complaint I am going to guess it might have the same root cause.  You can see an example in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47262/pull-kubernetes-unit/45

[2017-08-11 17:48] divyenpatel commented on #50465
@g1001p We will try to re-produce the issue locally.

meanwhile as mentioned in https://github.com/vmware/kubernetes/issues/204#issuecomment-319127357 on release 1.6, we do not see any issue  with cluster when VC is down.

you mentioned vCenter Appliance IP is not responding, Are you powering off VC or any specific step i.e bring down appliance network?

[2017-08-11 17:51] gyuho commented on #50273
@shyamjvs @gmarek  Indeed we are using legacy network type.

As @gmarek suggested, we just created a new network named `kubemark` and run

[code]

c.f. https://github.com/kubernetes/kubernetes/pull/47513

Now everything works. Thanks!

[2017-08-11 17:51] #50273 closed

[2017-08-11 17:53] cmluciano commented on #50474
/cc

[2017-08-11 18:02] chy168 commented on #44273
I encounter this issue ```n1-highmem-4```  on ```GKE```, too. It happened on one of nodes.
PS. the cluster has run for 90+ days. it didn't happen till yesterday.

[2017-08-11 18:05] Rev1408 commented on #49329
I got this fixed by adding sessionAffinity: ClientIP to service

[2017-08-11 18:05] #49329 closed

[2017-08-11 18:06] Rev1408 commented on #50111
I am closing this. Restarting flannel, ssh and ping worked

[2017-08-11 18:37] mengqiy commented on #50466
Not sure if it is related to recent change in https://github.com/kubernetes/kubernetes/pull/49534.

[2017-08-11 18:51] ironcladlou commented on #50528
Did some investigation, and having discussed some findings with @deads2k and @liggitt, it seems there's actually a broader issue here. It appears that finalization generally is broken on a per-type basis when garbage collection is disabled for that type. The generic `Store.Delete` code [only processes finalization logic if GC is enabled for the type being deleted](https://github.com/kubernetes/kub

[2017-08-11 18:54] ironcladlou commented on #50528
Another note: although [CRD finalization is tested](https://github.com/kubernetes/kubernetes/blob/release-1.7/staging/src/k8s.io/apiextensions-apiserver/test/integration/finalization_test.go#L30), the integration test server uses its own bootstrapping code which enables GC for CRD. So, the change in https://github.com/kubernetes/kubernetes/pull/47432 wasn't covered by the existing tests.

[2017-08-11 19:02] colemickens commented on #49389
Because it's still clearly not correct. You need to put the VM name (which in Azure is the hostname). Not the FQDN.

As you can see in the error message, `Microsoft.Compute/virtualMachines/k8s2.eastus.cloudapp.azure.com` is not a valid Azure resource identifier.

It's probably `Microsoft.Compute/virtualMachines/k8s2`.

Also, if you could please file a corresponding bug against `contrib` so that th

[2017-08-11 19:12] g1001p commented on #50465
Probably just reboot is not enough to reproduce this problem.  In my case the first minute that  vCenter became unavailable the k8s was function ok. I observed that k8s started reported about not ready workers when vCenter was  not available  approximately two minutes and more .

⁣Sent from TypeApp ​

On Aug 11, 2017, 7:49 PM, at 7:49 PM, divyenpatel <notifications@github.com> wrote:

[2017-08-11 19:18] colemickens commented on #50150
The other issue seems to be that mkfs.xfs isn't in the hyperkube image possibly? Not sure, but it should probably be a separate Issue.

(Note, I'm still leaving this open because this will affect other distros and consideration should be given to implementing the udev logic in Go in Kubernetes rather than adding a hard-to-discover dependency for K8s on Azure.)