[2017-10-05 15:42] jdumars commented on #53226
@rocketraman ok good!  I just wanted to make sure your concerns were being heard.

[2017-10-05 15:45] smarterclayton commented on #51594
Yes, let me find the UI level consumption of conditions and link them in too

[2017-10-05 15:47] smarterclayton commented on #51594
https://github.com/openshift/origin-web-console/blob/e9c76207c3404f125485ece856be5456ac87451e/app/scripts/services/resourceAlerts.js#L170
https://github.com/openshift/origin-web-console/blob/6e99d34ea3898a70b04588b747cf0f75e898332b/app/scripts/services/routes.js#L73

[2017-10-05 15:48] bgrant0607 commented on #14181
No longer considered a good idea. See #7856.

[2017-10-05 15:48] #14181 closed

[2017-10-05 15:49] smarterclayton commented on #51594
Pods have it as well

[2017-10-05 15:52] smarterclayton commented on #51594
Seems very disadvantageous

[2017-10-05 16:01] gnufied opened #53494 "Add metrics for total time spent in attach and detach"
We should have a metrics for total time spent in attach and detach. This is different from operation metrics we are capturing currently, which captures time it took for attach or detach operation to succeed.

These metrics will capture total time overall it takes for a volume to be attached once it enters desired_state_of_world.  So basically, time taken for volume to appear in actual_state_of_wor

[2017-10-05 16:10] jhorwit2 commented on #47222
@thockin what problems did this cause with services? This change broke backwards compatibility for services that depended on this feature.

For example, lets take the load balancer service
[code]
The load balancer here terminates SSL so the backend is always port 80; however, you want to make sure you support both protocols.

[2017-10-05 16:20] jbeda commented on #7856
Random idea:

We could take a hint from HTTP and have status codes that are broad with a string field for color.

I'd prefix this with a couple of characters to represent the code so that people don't immediately assume that these are HTTP codes.

[code]

Having the status code be combined into a string field (and required parsing) vs. having two fields is one question.  We could have `readyStatus

[2017-10-05 16:49] Diggsey opened #53495 "HostAliases example does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Ran the following example on a GKE cluster:
https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/#adding-additional-entries-with-hostaliases

[code]

The extra host entries were not added to the `/etc/hosts` file.

**What you expected to happen**:

The extra host entries

[2017-10-05 16:51] Funcan commented on #50745
I've independently run into the same issue; any updates please?

[2017-10-05 16:57] mkumatag commented on #44325
@duane-ibm, not all test images are ported for s390x platform. You can check all ported images for s390x platform [here](https://console.cloud.google.com/gcr/images/kubernetes-e2e-test-images/GLOBAL) with s390x postfix and you can work on porting missing images. The reason behind not porting them all is because I faced issues while building those images with qemu static binary.

[2017-10-05 16:57] Diggsey commented on #53495
/sig network
/sig node

[2017-10-05 16:59] pior commented on #25238
Any update on this? (I was considering using HPA)

[2017-10-05 17:13] tallclair commented on #53467
Mirror pods don't have service accounts, so the normal mechanism for binding a PSP to a system pod doesn't work. On the other hand, we could just bind the privileged PSP to the `system:nodes` group.

Also, this is common practice. A handful of other admission controllers short-circuit on the mirror pod annotation:
  https://github.com/kubernetes/kubernetes/blob/9af339885b68990a96470cc4350514d2a1ec

[2017-10-05 17:14] smarterclayton commented on #53405
Summary of discussion from sig-instrumentation meeting:

1. Ultimately it's better to have all the etcd metrics than just some of them
2. We talked about a number of proxying options, such as node and pod proxying, or adding a new proxy to the api server that could be configured to pointing to the local node
3. The easiest option probably is having the masters have etcd listen on a port (not acces

[2017-10-05 17:17] tallclair commented on #53467
RE: composing - Skipping the PSP check for pod admission doesn't preclude using the PSP object for something like checking exec. At the most, it would just mean the code would need to be restructured (or only do the mirror pod check for create / update / patch verbs).

[2017-10-05 17:20] vishh commented on #53342
Marking this fixed with #53353

[2017-10-05 17:20] #53342 closed

[2017-10-05 17:21] vishh commented on #52757
Sharing GPUs is out of scope for the foreseeable future (at-least until v1.11). Our current focus is to get gpus per container working in production.

[2017-10-05 17:22] vishh commented on #44107
This issue is no longer tracking the current state. Closing this as obsolete

[2017-10-05 17:22] #44107 closed

[2017-10-05 17:24] jcbsmpsn commented on #40252
This was fixed by adding a command line parameter, `--rotate-certificates`.

https://github.com/kubernetes/kubernetes/pull/51045

[2017-10-05 17:25] jcbsmpsn commented on #46603
This was fixed by adding a command line parameter, --rotate-certificates.

#51045

[2017-10-05 17:25] poonia0arun commented on #11543
@Seraf  oh okay so what would you recommend .. I am unable to use AWS cloud provider as a persistent volume for my current openshift installation due to this error...

[2017-10-05 17:27] jcbsmpsn commented on #46603
/close

[2017-10-05 17:27] #46603 closed

[2017-10-05 17:28] jcbsmpsn commented on #40252
/close

[2017-10-05 17:28] #40252 closed

[2017-10-05 17:30] Calpicow commented on #11543
I have gotten it to work by using kube-apiserver flag `--kubelet-preferred-address-types=InternalIP`.

[2017-10-05 17:31] toidiu commented on #1806
@pierreozoux Hi I was hoping you could expand more on what you have done. Are you simply running jenkins outside of kubernetes on the machine itself?

Unless I am missing something, doesnt that kind of defeats the purpose of k8s managing your infrastructure.

[2017-10-05 17:31] deitch opened #53496 "ABAC service account does not respect wildcard in name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
ABAC does not respect a wildcard in the serviceaccount. E.g. if I want _all_ service accounts in `kube-system` namespace to have full access to everything:

[code]

No service accounts have access now.

**What you expected to happen**:
All serviceaccounts in `kube-system` would have full access.

**How to reproduce it (as

[2017-10-05 17:31] Calpicow commented on #11543
I have gotten it to work by using kube-apiserver flag `--kubelet-preferred-address-types=InternalIP`.

[2017-10-05 17:39] evanj commented on #45976
I've run into this issue, and I believe the root cause in my case is saturating the nf_conntrack limits on the kube-dns node. I have a script and configuration that can reproduce this issue on GKE 1.7.6 if it is helpful.

[2017-10-05 17:44] poonia0arun commented on #11543
@Calpicow  how can I use this variable during openshift installation ?

[2017-10-05 17:48] pierreozoux commented on #1806
jenkins on top of kuberenetes.
We have a docker template that points to a docker daemon that is running in a traditionnal VM, outside of k8s.

[2017-10-05 17:48] vishh opened #53497 "Device plugins work tracker"
This issue is meant to track planned work items for device plugins across releases.
Device plugins enable compute resource extensibility at the node level.

This is **not finalized yet**. This issue will be updated once the community agrees to this schedule

## v1.9
[ ] - Avoid passing env vars, mounts and devices per device per Allocation. PR #53031 for background [**Owner**: @vishh]
[ ] - Stub E

[2017-10-05 17:52] briantkennedy opened #53498 "client-gen creates the wrong group name in typed/{group}/{version}/fake package"
**What happened**:
I have a Custom Resource Definition which I access using a generated clientset. I re-ran the client-gen command today and now my unit tests have broken (in addition to directories moving). I tracked down the error to GroupName being assumed to be {group} from the path rather than the defined GroupName variable in the codebase. This is a problem because I have set GroupName to "m

[2017-10-05 17:53] bowei commented on #45976
@evanj Can you post the script to a gist and link it here?

[2017-10-05 17:53] someword commented on #45976
@evanj  - Are you hitting limits of nf_conntrack in the kube-dns pod or in the physical instance hosting the pod?   We are monitoring nf_conntrack counts and we are not hitting the maximums.   I'll checkout out our `dnsPolicy` setting though.

[2017-10-05 17:55] janetkuo commented on #53481
FWIW #53278 is not merged yet. We can close this bug.

[2017-10-05 17:55] bgrant0607 commented on #7856
@jbeda If we really need the description, I'd suggest 2 fields.

With respect to the basic reason-like field, I don't like the negative forms I sketched above.

We could use the same sentinel word, such as `True` (though it will be confused in YAML) or `Yes`.

[code]

[2017-10-05 17:56] thockin commented on #53465
Thanks!  If it threw me off track, it will surely throw others :)

On Wed, Oct 4, 2017 at 10:58 PM, Bobby (Babak) Salamat <
notifications@github.com> wrote:

[2017-10-05 17:56] spzala commented on #38858
@BruceZu hi, one of the way of passing variables as you mentioned is via using Helm charts. You can find some example here https://github.com/kubernetes/helm/blob/master/docs/examples/nginx/templates/deployment.yaml  Also, the better way of getting answer for question like you have in this issue is to ask it on https://stackoverflow.com/questions/tagged/kubernetes For example there is a similar qu

[2017-10-05 17:59] briantkennedy commented on #53498
@kubernetes/sig-api-machinery

[2017-10-05 18:00] briantkennedy commented on #53498
/sig api-machinery

[2017-10-05 18:01] bhack commented on #44107
@vish Have we an update issue to follow?

[2017-10-05 18:18] liggitt commented on #53467
Right, PSP permissions for a particular pod are the combined permissions of the user making the request (which lets a powerful user do things in a restricted namespace) and the pod's service account (which lets permissions be delegated to a particular namespace for use by any users that can create pods in that namespace)

I agree it shouldn't mutate mirror pods, but not all of those are complete s

[2017-10-05 18:21] tallclair commented on #53413
Agree with running in a dedicated namespace, but it sounds like this feature is just being deprecated, so it might not be worth the effort. Thanks for picking this up.

[2017-10-05 18:22] kfox1111 commented on #22368
@janetkuo The comment I made was too big to put in the doc, so I commented on it on the google group thread.

[2017-10-05 18:28] deitch commented on #53496
/sig auth

[2017-10-05 18:42] bsalamat commented on #53465
I know. We have heard this feedback about that message several times already. If I don't hear back from the author of the PR in the next few hours, I will send another PR to fix this message.

[2017-10-05 19:25] sergeylanzman commented on #53463
@ismith
I think you can't change Scheme for ELB in AWS. Need to recreate ELB, but if you recreate ELB you get new ELB DNS name and it's bad because you need update route53 and etc.

[2017-10-05 19:28] #53481 closed

[2017-10-05 19:33] ismith commented on #53463
Yeah, that sounds correct.  In my use case, we've got `mate` - to be replaced with `external-dns` - managing route53, but that's definitely a thing.

[2017-10-05 19:35] #42129 closed

[2017-10-05 19:38] sergeylanzman commented on #53463
OK, but
`mate` depricate. You can use `https://github.com/kubernetes-incubator/external-dns`, but not all people use it's, and if them change schema => recreate ELB=> new DNS => other surprises.

[2017-10-05 19:39] aosmith opened #53501 "Setting log-driver to journald breaks kubectl logs on GKE"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: `kubectl logs` is broken after switching log driver to journald

1.6.10
--

**What you expected to happen**: `kubectl logs` should work.

**How to reproduce it (as minimally and precisely as possible)**:  Spin up a new cluster on GKE via web UI.  Change the log-driver via `/etc/default/docker`.  Restart docker service.  L

[2017-10-05 19:52] spzala commented on #38718
@rudle hi, I don't see the mentioned code snippet in the repo now. Also the related PR is no longer active. I guess we can close this issue? Thanks!!

[2017-10-05 19:56] caseydavenport commented on #52096
@manuperera sorry for the delay on response.

Could you try to identify where the masquerade is occurring by running the following command?

[code]

This will show us the packet counts on rules which perform masquerade and might give some insight. If you could try watching that while you send traffic to the pod, it might identify which rule is causing the problem.

[2017-10-05 20:14] arkachat commented on #48629
[root@localhost ~]#  kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard-head.yaml
Error from server (AlreadyExists): error when creating "https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard-head.yaml": secrets "kubernetes-dashboard-certs" already exists
Error from server (

[2017-10-05 20:16] arkachat commented on #48629
@liggitt Can you help me with this info ..

[2017-10-05 20:16] erhudy commented on #47538
Restarted development work at https://github.com/erhudy/kubernetes/tree/feature/cronjob-manual-instantiation - currently functional for spawning a Job. Upcoming work will be on:
* adding the subresource back to the CLI
* associating the spawned Job back to the source CronJob
* improving the disposition of the CronJobManualInstantiation subresource (probably embedding the spawned Job inside it)

[2017-10-05 20:25] aosmith commented on #53501
/sig cli

[2017-10-05 20:27] mml opened #53502 "Emit client and server versions directly from e2e.test"
`kubetest` currently emits the client and server versions it detects, but ideally we'd like to compare the server version with the client version *compiled into `e2e.test`*, and we'd also like to emit this in contexts where `kubetest` might not be involved.  (Currently https://github.com/heptio/kube-conformance which we use for official conformance testing is not using `kubetest`, but we hope to s

[2017-10-05 20:28] mml commented on #53502
/sig architecture
/sig testing

[2017-10-05 20:31] podollb opened #53503 "resource-quotas units do not match"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind/feature
/sig cli

**What happened**:

When issuing the `kubectl get quota` the units of the output are different. It would be nice if the `Used` and `Hard` units were the same.

**What you expected to happen**:

Force the units to be the same, or allow them to optionally be the same via command line arg.

**How to reproduce it (as minimally and

[2017-10-05 20:31] cmluciano commented on #53226
/remove-sig network

Based on the feedback in Azure/azure-container-networking#76 this issue seems Azure CNI specific. I'm removing SIG-Network for now, but I think this issue should be closed and tracked in Azure/azure-container-networking.

[2017-10-05 20:35] Calpicow commented on #11543
@poonia0arun Sorry, not familiar with OpenShift.

[2017-10-05 20:36] liggitt commented on #48629
you are trying to create RBAC resources from the master dashboard branch, which are defined in v1beta1 form, against a 1.5 server. RBAC v1beta1 was not added until 1.6

[2017-10-05 20:36] mml commented on #53502
@fejta in case you have any objections to this change.  Also, to maybe help me understand either (1) who is roughly "the owner" of the e2e binary (not the tests), and (2) where's the best place to inject this code?

[2017-10-05 20:37] SIGUSR2 opened #53504 "Kubeadm 1.8.0 fails when cloud-provider and cloud-config are specified"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Bootstrapping new master node using kubeadm in a cloud environment fails due to kube-apiserver not having access to /etc/kubernetes/cloud-config.

Kubeadm hangs at
[code]
kube-apiserver doesn't start due to
[code]
**What you expected to happen**:
Cluster would start

**How to reproduce it (as minimally and precisely as possible)**:

[2017-10-05 20:37] mbohlool commented on #53224
cc @mml

[2017-10-05 20:39] mbohlool commented on #53347
API machinery does not control API content.

[2017-10-05 20:39] clementnero commented on #42306
It would be great indeed ...

[2017-10-05 20:42] SIGUSR2 commented on #53504
/sig area/kubeadm

[2017-10-05 20:45] mbohlool commented on #53362
The change @dixudx referred to is in 1.8. Does that fix the issue?

[2017-10-05 20:47] SIGUSR2 commented on #53504
cc  @kubernetes/sig-cluster-lifecycle-bugs

[2017-10-05 20:49] mbohlool commented on #53405
cc @jpbetz

[2017-10-05 20:53] mbohlool commented on #53438
Can you be more explicit about things that API Server should clean up? For DNS example, do you mean the dns entry for API Server itself?

[2017-10-05 20:56] mbohlool commented on #53455
cc @caesarxuchao

[2017-10-05 20:59] mbohlool commented on #53459
cc @jpbetz

[2017-10-05 21:01] dcbw commented on #53269
It looks like this was changed with the switchover from dockertools -> dockershim.  The kube docker runtime used to set this, but no longer does.  It's currently up to the network plugin (or if not using network plugins, whatever is configuring your networking) to do this.

[2017-10-05 21:12] ichekrygin commented on #25238
@rochdev It **almost** works with `replicas` field removed. :)
The key difference is to **create** initial deployment w/out replicas field.
(Tested on `v1.7.6`)
For example:
1. create a deployment w/out `replicas` field -> result: 1 pod deployment (expected)
2. scale deployment to `--replicas=3` -> result: 3 pod deployment (expected)
3. modify `deployment.yaml` to cause rolling update (modify `env

[2017-10-05 21:14] arkachat commented on #48629
Thanks .. Is there an option to install it on the default centos 1.5 version?

[2017-10-05 21:20] dougm opened #53508 "import_known_versions_test fails due to unexported field of type unit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I ran `make test`, it failed in import_known_versions_test.

**What you expected to happen**:

I expected `make test` to pass.

**How to reproduce it (as minimally and precisely as possible)**:

`make test` or:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
-

[2017-10-05 21:22] dougm commented on #53508
@kubernetes/sig-testing see PR #53402

[2017-10-05 21:24] bgrant0607 commented on #25238
@ichekrygin

apply interprets your change as wanting to change back to the default value for the replicas field, since you previously explicitly configured the field. Your desired behavior is not unreasonable, but not what apply's current behavior is. We don't have good ways of transitioning fields in and out of apply's control at the moment.

@pwittrock Do you have a label specifically for apply

[2017-10-05 21:26] rocketraman commented on #53226
@cmluciano That works for me. I'll go ahead and close. For posterity, here is the azure-container-networking issue: https://github.com/Azure/azure-container-networking/issues/76

[2017-10-05 21:26] #53226 closed

[2017-10-05 21:30] Frank-auckland opened #53509 "Certificate error after changing IP address of kubernetes master machine"
/kind bug

**What happened**:
I deploy the kubernetes on AWS by using juju, the command shows as follow:

The juju status show as follow:
![screenshot from 2017-10-06 10-38-30](https://user-images.githubusercontent.com/20473627/31253767-91d1bc60-aa82-11e7-92a8-6cb7cf39acc2.png)

Then I change the IP address of the kubernetes master machine. After this, I can't connect to kubernetes.
It responded a

[2017-10-05 21:36] evanj commented on #45976
I've posted the program and config files, with steps for how to reproduce the issue at the top. I'm hitting the node level `nf_conntrack_max` limit:

[code]

One thing I noticed when I created a brand new cluster, rather than my existing cluster that has been upgrade: the kube-dns-autoscaler default configuration now has `"preventSinglePointFailure":true` by default, which means a small cluster ha

[2017-10-05 21:45] bgrant0607 commented on #25238
Note that at least for maps and lists, we do generally want to remove them when they are removed from the user's configuration. A typical example is a label.

[2017-10-05 21:53] jbeda commented on #53504
Duplicate of https://github.com/kubernetes/kubeadm/issues/484

[2017-10-05 21:53] #53504 closed

[2017-10-05 22:18] MrHohn commented on #23225
/priority important-soon

[2017-10-05 22:28] DuncanSmith1126 commented on #53269
Yeah - I kinda figured that was the direction this was headed in. Docs should be updated to reflect this - or a warning in the logs when the kubelet param is dropped.

[2017-10-05 22:29] tcederquist commented on #47695
kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.6", GitCommit:"4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c", GitTreeState:"clean", BuildDate:"2017-09-14T06:55:55Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.6", GitCommit:"4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c", GitTreeState:"cl

[2017-10-05 22:30] krzyzacy commented on #49819
/assign

[2017-10-05 22:35] ahmetb commented on #48893
kind/bug

[2017-10-05 22:35] ahmetb commented on #48893
/kind bug

[2017-10-05 22:37] crimsonfaith91 commented on #50720
@enisoc Thanks for the quick fix! I didn't have the right to add label...

[2017-10-05 22:42] dreyk commented on #47695
How did you run kubeadm join command?
Try add flag --node-name=ip-172-30-0-70.ec2.internal to it.
By default kubeadm generate certificate for node=hostname()(ip-172-30-0-70) and it's wrong, it should take to account cloud-provider specific node name generator.
https://github.com/kubernetes/kubernetes/pull/44793

[2017-10-05 22:43] caseydavenport commented on #52039
@cmluciano ICYMI, Calico v2.6.0 supports ipblock and egress policy now, so we should be good to go on starting these tests if you're interested.

If you haven't seen this PR you might want to base off of it given it includes some refactoring of that code: https://github.com/kubernetes/kubernetes/pull/4959

[2017-10-05 22:46] dashpole commented on #51899
/close
Closed via #53422.  This will be in 1.8.1.

[2017-10-05 22:46] #51899 closed

[2017-10-05 22:49] crimsonfaith91 commented on #52808
Can someone adds a label to this issue? I do not have the permission to do so.

[2017-10-05 23:08] #53501 closed

[2017-10-05 23:16] smarterclayton opened #53513 "top pod and top node output is unstable ordered"
`kubectl top pod` and node should sort by namespace / name so that results don't jump around.  We should consider adding sort, but only after we make a stable sort the default.

@kubernetes/sig-cli-bugs

[2017-10-05 23:17] smarterclayton commented on #53513
[code]

[code]

Also, why does it sometimes lose nodes?  Annoying

[2017-10-05 23:20] Random-Liu opened #53514 "CRI: Clearly define the expectation of Summary API and CRI Stats"
In Kubernetes 1.8, we added the support to let kubelet get container stats from CRI.

However, it's not clearly defined whether stats should be returned for non-running container.

Today's situation:
1) Cadvisor integration: it removes stats for terminated containers (containers without cpu/memory usage) https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/stats/cadvisor_stats_provider

[2017-10-05 23:33] nicksardo commented on #46983
/assign bowei

[2017-10-05 23:59] enisoc commented on #52808
@crimsonfaith91 Was this not fixed by #53096?

[2017-10-06 00:01] bowei commented on #53007
Is anyone going to update the CNI included with k8s to the latest version? This is a good time to do it so we get the entire 1.8 cycle for soak.

[2017-10-06 00:07] ismith commented on #53463
Right. I believe my initial report addresses this:
[code]

Another option would be to have a way (flag?) to force the re-creation.

[2017-10-06 00:07] bsalamat commented on #47604
status/approved-for-milestone

[2017-10-06 00:08] crimsonfaith91 commented on #52808
@enisoc Yes, it was fixed by #53096. The PR does link to this issue. This issue should be closed when the PR was merged. Closing.

[2017-10-06 00:08] #52808 closed

[2017-10-06 00:15] nikhildl12 opened #53515 "Kubelet keeps updating pod status for terminating pods with finalizers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubelet keeps updating pod status and calling delete pod for terminating pods with finalizers. These causes the resource version to change continuously and other controllers cannot remove the finalizers due to resource version change.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2017-10-06 00:18] nikhildl12 commented on #53515
Relevant kubelet logs:
[code]
These logs keeps coming repeatedly

[2017-10-06 00:19] liggitt commented on #53498
/assign @sttts

[2017-10-06 00:20] nikhildl12 commented on #53515
/sig node

[2017-10-06 00:23] liggitt commented on #53496
Wildcards in user and group names are not supported.

Use the `system:serviceaccounts:kube-system` group to refer to all service accounts in the kube-system namespace

[2017-10-06 00:27] smarterclayton commented on #53485
Dupe of https://github.com/kubernetes/kubernetes/issues/52121

[2017-10-06 00:31] #50461 closed

[2017-10-06 00:31] #53508 closed

[2017-10-06 00:31] #53137 closed

[2017-10-06 00:45] yguo0905 commented on #53514
To be precise, we only exclude the **duplicated** terminated container in the cadvisor case.

https://github.com/kubernetes/kubernetes/blob/2eadc737aab12921e6e3a602f2e354862991738a/pkg/kubelet/stats/cadvisor_stats_provider.go#L198-L199

[2017-10-06 00:50] Random-Liu commented on #53514
@yguo0905 If it only excludes the duplicated terminated container, I feel like this logic should be in kubelet instead of container runtime.

Container runtime should just return stats for all containers.

[2017-10-06 00:54] msau42 opened #53516 "Need to update scheduler equivalence cache invalidation for PVCs and PVs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage

**What happened**:
Make sure all the appropriate pvc/pv predicates are invalidated in `invalidatePredicatesForPv` and  `invalidatePredicatesForPv`

Investigate VolumeNode and VolumeZone predicates.

/assign

[2017-10-06 01:01] liggitt commented on #48629
with a newer version of kubectl (1.6+) that understands rbac v1beta1 objects, you can run the manifest through `kubectl convert`:

[code]

[2017-10-06 01:03] kksriram commented on #49817
/priority important-soon

[2017-10-06 01:03] yguo0905 commented on #53514
Yeah, this logic was added only for fixing the issue https://github.com/kubernetes/kubernetes/issues/47853, where cadvisor reported metrics of uncleaned container cgroups.

[2017-10-06 01:29] #52957 closed

[2017-10-06 01:46] dixudx commented on #53362
@mbohlool  #50235 will fix this issue when it gets merged.

[2017-10-06 01:55] mattjmcnaughton commented on #52989
Doesn't look like there's a ton of interest around this, so I'm going to go ahead and close it. I'm happy to undertake this refactor later if anyone thinks its a good idea.

[2017-10-06 01:55] #52989 closed

[2017-10-06 02:23] FengyunPan commented on #53488
/cc @dims

[2017-10-06 02:25] FengyunPan commented on #53488
SGTM

[2017-10-06 03:00] kow3ns commented on #51594
The conclusion of sig architecture is that

1. Events are used to express point in time occurrences, and Conditions are used to express the current state of an ongoing process.  For instance, Pod creation is an event, Deployment progressing is a condition.
1. While one could argue that, as Conditions are not used frequently, they are not particularly useful, one could also draw the conclusion that

[2017-10-06 03:16] #52271 closed

[2017-10-06 03:29] dchen1107 commented on #45626
There is a gke issue reported through the internal buganizer, and I looked into it today since I saw the increasing incidents of such issue along with docker 1.13.1 into the production. I updated what I found here and hoped to help others.

The problem is there is a mismatch of the understanding between the two components (containerd, and docker engine layer) in docker itself: containerd killed an

[2017-10-06 04:04] m1093782566 opened #53518 "Implement update virtual server for fakeIPVS and add UTs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Currently, the UpdateVirtualServer() of FakeIPVS is an empty implementation. However, ipvs/proxier needs it, see https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1288

It will case an error if we want to add some relevant test cases in ipvs/proxier_test.go.

**What you expected to happen**:

[2017-10-06 04:06] tcederquist commented on #47695
I've reset the nodes and rejoined with your flag added. That fixed the name registration and they start and show up in the node list as the new ec2 name. Now my aws mounts are timing out but that's probably a different ticket as i see a few out there for older versions. Also, my master is not switched to cloud-provider=aws so the api server is out of sync which could be the issue too.

Since all t

[2017-10-06 04:24] Van-Tien commented on #40633
Anyway we can use our own dns ?. I'm tired with skydns

[2017-10-06 04:36] pat2man commented on #11543
@poonia0arun you can add something like this to your node-config.yaml:

[code]

[2017-10-06 04:47] dreyk commented on #47695
You should set provider flag for master too. Also u could try compile kubeadm from pull request that I have mentioned above, it will save your time I hope.

[2017-10-06 04:54] aosmith commented on #53501
For anyone else that finds this issue: It's really more a docker problem than a k8s problem, The solution  is dropping a custom systemd docker config with an init script.  Rebooting the docker daemon via `systemctl restart docker` is the problem, without an init script most changes are not persisted on an os level.

[2017-10-06 05:07] deitch commented on #53496
Aha. Thank you @liggitt .

I know you already closed this, but perhaps we should reopen and rename it "Documentation missing on how to refer to all service accounts in a namespace"?

[2017-10-06 05:17] poonia0arun commented on #11543
@pat2man  I tried updating openshift-ansible/roles/openshift_node/templates/node.yaml.v1.j2 file with mentioned value which didn't take it during ansible installation so later I tried to update the file manually with the right values which you had mentioned.. I am still not able to restart the node service.. if I don't use any cloud provider it works fine ...

[2017-10-06 05:33] bgrant0607 commented on #6487
UI-oriented form generation layered on JSON schema: http://schemaform.io/

[2017-10-06 05:54] #53425 closed

[2017-10-06 05:58] bgrant0607 commented on #49504
This is a dupe of #29698

[2017-10-06 06:23] bgrant0607 commented on #49504
Do we feel like the scale subresource has worked well for autoscaling, at least?

As with conditions (#7856), I am starting to feel that subresources are overly complicated and cumbersome just for polymorphism. I am now in favor of duck typing, which has been extremely successful for metadata. We could scale anything with a .status.replicas field. I'm in favor of creating a convention for selector

[2017-10-06 07:27] #53518 closed

[2017-10-06 07:44] sttts opened #53522 "code-generator: allow instantiation of multiple generators in one process"
The generators have a lot of logic inside the `main()` funcs, especially client-go. The flag handling is not cleanly separate from the generator instantiation via the `CustomArg` struct. This makes it hard or impossible to create an instance of them in another binary without duplicating a lot of code and without conflicting flags between the different generators.

[2017-10-06 08:09] #48645 closed

[2017-10-06 08:28] thomas-riccardi commented on #52336
cc @kubernetes/sig-node-bugs

[2017-10-06 08:30] thomas-riccardi commented on #52336
@kubernetes/sig-node-bugs

[2017-10-06 08:33] thomas-riccardi commented on #52336
@kubernetes/sig-node-bugs

[2017-10-06 08:40] thomas-riccardi commented on #52336
I tried to work around the issue by disabling the default hard eviction threshold (`allocatableNodeFs.available<0`) using `--eviction-hard`, but the option parser refuses (negative or zero) values; nor does it provides a way to disable individual resource signals eviction mechanisms.

[2017-10-06 08:45] brancz commented on #53405
I'm not sure if I'm misunderstanding, to me it seems like this is almost equivalent to having firewall rules, only that we proxy requests additionally through the apiserver.

For completeness, other suggestions and mentions that could be used in combination:

- separate port for metrics on etcd
- that port has additional client cert authentication and authorization
- network policy/firewall rules,

[2017-10-06 08:45] sttts opened #53524 "code-generator: create stable and more extensible cli interface for top-level scripts – "kube-gen""
The scripts https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/code-generator/generate-groups.sh and https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/code-generator/generate-internal-groups.sh were created to provide a standardized way of calling the generators for 90% of the CRD and UAS usa-cases. The command-line interface is simplistic, driven by the

[2017-10-06 09:03] chrissound commented on #51711
Although I've set the session affinity manually via the GCP console, this does not seem to have taken any effect.

Does anyone know how Kubernetes might be contributing to this issue?

[2017-10-06 09:10] sttts commented on #53498
@briantkennedy can you link to a small example showing the issue in code?

In kube we have for example networking.k8s.io with the external types at https://github.com/sttts/kubernetes/tree/84290ce35c4c5edfe2d1fdb0a105d30f00e2c5de/pkg/apis/networking/v1 and the fake client at https://github.com/sttts/kubernetes/blob/e6be341a644185a47b41a04883a7537a165bb3c9/staging/src/k8s.io/client-go/kubernetes/ty

[2017-10-06 12:08] manuperera commented on #52096
I've executed command in Kubernetes node where is running connector's pod.

This is the output:
[code]

[2017-10-06 12:23] k82cn commented on #53399
The latest two tests were passed; it's fixed by #53480, so I'm going to close this one.

[2017-10-06 12:23] #53399 closed

[2017-10-06 12:34] jhorwit2 opened #53526 "upgrading to 1.8 broke Service backwards compatibility by not allowing the same target port multiple times"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig api
/sig network

**What happened**:

Prior to 1.8 it was possible to specify the same targetPort in the service definition multiple times. In 1.8, validation was added that prohibited this.

**What you expected to happen**:
I expect backwards compatibility for GA resources, so having the same targetPort multiple times should be allowed

[2017-10-06 12:35] tadas-subonis commented on #48968
And I had the same issue (or very similar) on Azure cloud. Deployment was using a rollingupdate strat (that's now changed) and it got stuck when the pod has moved to another host.

[code]

[2017-10-06 12:36] jhorwit2 commented on #53526
cc @thockin @xiangpengzhao

[2017-10-06 12:37] jhorwit2 commented on #53526
/kind bug

/area api

[2017-10-06 12:43] jhorwit2 opened #53528 "Enable event logging in the service controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The service controller does not log event to glog like other controllers

**What you expected to happen**:

I expect logs to be sent to the apiserver as well as the stdout.

**How to reproduce it (as minimally and precisely as possible)**:

Make the service controller trigger events by running k8s with a cloud provider e

[2017-10-06 12:44] Siilwyn commented on #39722
Spun up a new cluster with Google Container Engine and experiencing the same problem using `kubectl proxy`. Does anybody know a workaround?

[2017-10-06 12:59] liggitt commented on #39722
Do normal `kubectl` calls (`kubectl get pods`, etc) work properly?

[2017-10-06 13:05] Siilwyn commented on #39722
@liggitt yes absolutely, everything works fine except from the dashboard. :/

[2017-10-06 13:36] lichuqiang commented on #53497
If no one is doing it, I would like to work on the code refactoring part.

[2017-10-06 13:48] leblancd opened #53529 "e2e check for "/logs" API path should be skipped for provider skeleton"
There is a networking e2e test with the It() description:
[code]
This test performs GETs from the Kubernetes API using various paths,
including "/logs". This test for a GET using path "/logs" should be
skipped for provider type "skeleton", since this API path is apparently
unsupported for this provider type. (This should also cover the case of
using --provider=local on the command line, since this

[2017-10-06 13:52] joelittlejohn opened #53530 "Failure count of liveness probe is not reset by restart"
/kind bug

I'm investigating a problem that causes pods to become permanently broken whenever the container in the pod fails its livenessProbe and needs to be restarted. The container from this point always fails to start, and the pod eventually becomes stuck in CrashLoopBackOff after many attempted restarts.

I have a theory about why this is happening based on my observations and the k8s source

[2017-10-06 14:00] dims commented on #53530
@joelittlejohn - Can you please check if this is the same problem that was already fixed in
https://github.com/kubernetes/kubernetes/pull/46371
https://github.com/dims/kubernetes/commit/2c866a7aaa45dd552df9ea53cc1ca20b0d502a52

Thanks,
Dims

[2017-10-06 14:01] imilo commented on #52783
@elvizlai, if I run `ps auxw | grep proxy` on any VM I already have:
[code]
.. this is Pod's network

[2017-10-06 14:09] joelittlejohn commented on #53530
@dims Great, thank you! My google fu failed me on this one.

[2017-10-06 14:09] #53530 closed

[2017-10-06 14:13] outcoldman opened #53532 "Upgrade to 1.8 left corrupted checkpoints"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
[code]
Only after I did ^ I started to read https://kubernetes.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-8/

But unfortunately there were no notes about what if you already got into this situation. In my case kube cluster was corrupted already (Master node was not ready).

I tried to run an upgrade for kubeadm

[2017-10-06 14:19] arkachat commented on #48629
Thank you :)

[2017-10-06 14:22] rrati commented on #53438
@mbohlool One big thing the apiserver should clean up is the list of endpoints of the internal kubernetes service in an HA apiserver configuration.  If I am running 3 apiservers then the endpoint will have 3 ips.  If one of the masters is shutdown it should remove itself from that list of endpoint ips in the kubernetes service

[2017-10-06 14:25] outcoldman commented on #53532
/sig  node

[2017-10-06 14:44] joan38 commented on #28918
Hi guys,
Which version of K8S support this?
Cheers

[2017-10-06 14:58] outcoldman opened #53533 "Kubelet/Kubernetes should work with Swap Enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubelet/Kubernetes 1.8 does not work with Swap enabled on Linux Machines.

I have found this original issue https://github.com/kubernetes/kubernetes/issues/31676
This PR https://github.com/kubernetes/kubernetes/pull/31996
and last change which enabled it by default https://github.com/kubernetes/kubernetes/commit/71e8c8eb

[2017-10-06 15:22] MartinsIrbe commented on #37471
Getting the same while trying to use alias:
[code]
then:
[code]

[2017-10-06 15:28] podollb commented on #53503
/sig cli

[2017-10-06 15:29] podollb commented on #53503
I guess I must not be doing that right.

[2017-10-06 15:31] joan38 commented on #28918
I can see from the release diffs that it's not in `1.7.5` but in `1.8.0`.

[2017-10-06 15:32] robszumski commented on #19570
Any update on this issue? We see this on all Tectonic clusters due to being self-hosted.

[2017-10-06 15:36] redbaron opened #53534 "Manually set initializers in pod template spec in Deployment are not present in created pods"
/kind bug

**What happened**:

I set a list of initializers in a `deployment.spec.template.spec`, pod created by controller have no initializers.

**What you expected to happen**:

Pod have pending initializers still present in metadata

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:

[code]

[2017-10-06 15:52] kow3ns commented on #49504
@bgrant0607 If we don't do a generic scale sub resource, we will need to find another mechanism to integrate pod disruption budgets and custom resource definitions. Currently PDBs will work based on the replicas of known controller objects only.

[2017-10-06 16:06] mrIncompetent commented on #53498
I ran into the same issue.
Adding the tag `// +groupName=nodeset.k8s.io` in the doc.go fixed it for me.
Though the tag must be directly above the package name. No new line allowed.
Otherwise it didn't worked.

[2017-10-06 16:08] bgrant0607 commented on #49504
@kow3ns By "generic", you just mean structurally equivalent?

[2017-10-06 16:14] redbaron commented on #53534
/sig api-machinery

[2017-10-06 16:42] ylfforme opened #53536 "cni.go:119] Error loading CNI config file /etc/cni/net.d/10-calico.conf: error parsing configuration: invalid character '}' looking for beginning of object key string"
i started calico fellow this page https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/hosted and i get the cni config in /etc/cni/net.d，it‘s in json format。but i get this error in kubelet
cni.go:119] Error loading CNI config file /etc/cni/net.d/10-calico.conf: error parsing configuration: invalid character '}' looking for beginning of object key string
did i do somet

[2017-10-06 16:56] #53528 closed

[2017-10-06 17:04] G-Harmon commented on #42885
I'd like to see ingresses shown in "get all". (I tried filing a bug in the ingress repo, was directed here to the k/k repo. See kubernetes/ingress#1483 )

[2017-10-06 17:12] caseydavenport commented on #52096
@manuperera actually, could you run that on the node that's the source of the traffic?

[2017-10-06 17:18] 2rs2ts commented on #53347
Sorry, I am still new to the project and although I did read the info on the labels I didn't understand it properly. I'll keep that in mind going forward!

[2017-10-06 17:30] sctlee commented on #46482
oh, Thanks a lot for your guide.  I'll try it.

[2017-10-06 17:41] oomichi commented on #50829
This issue should be closed because the corresponding PR has been merged already

[2017-10-06 17:43] tcederquist opened #53538 "kubeadm init with aws config complains missing ClusterID"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
New k8 cluster on aws by hand following docs at : https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
Also using config file for aws in a file and referece the file in init.
Fails to start - stalls while creating kube-controller-manager with:

     I1006 16:48:11.421975       1 controllermanager.go:109] V

[2017-10-06 17:45] tcederquist commented on #53538
/sig aws

[2017-10-06 17:54] chribsen commented on #53309
Downgrading `kubectl` to `v1.7.8` worked for me.

[code]

Check your version afterwards:
[code]

[2017-10-06 17:58] #50829 closed

[2017-10-06 18:02] jingxu97 commented on #52735
priority/important-longterm

[2017-10-06 18:02] saivarunr opened #53539 "Service name not resolved after pod deployment update."
I have a pod named 'frontend' with two containers ui and server in it, and a single service 'server' exposing them of type loadbalancer.

ui exposing on port 4200 and server exposing port 5000

After a recent update of the pods, using kubectl apply, with in the pod service 'server' couldn't be resolved, I don't know why,

when I say curl http://server:5000 it just waits and dies where as for http:

[2017-10-06 18:13] #53522 closed

[2017-10-06 18:17] erictune commented on #49038
@caesarxuchao, @cheftako , @jpbetz and I were talking about how to do mutating webhooks.  we added some notes to "Allow mutating webhook" in the first comment.

[2017-10-06 18:32] hmesha commented on #45726
Hi all,

I'm seeing the same issue on OpenShift Online V3 Pro. Is there a workaround or fix for this issue?

Thanks,
-Hany

[2017-10-06 18:47] enisoc commented on #49504
The duck typing philosophy sounds interesting to me, although it puts more pressure on fixing some related issues. One of the reasons we moved to /scale for some controllers was because it helped paper over version skew problems with get/roundtrip/update on the main resource. We need to fix that anyway though.

[2017-10-06 19:17] danehans commented on #42125
@wlan0 you are correct. @leblancd and I verified this behavior by creating a node spec containing InteralIP and ExternalIP values. The spec updates the node resource properly until a node status update occurs, when the ExternalIP is removed. This is because the Kubelet is not configured for a cloud provider and therefore has no way of managing the ExternalIP field of the node resource.

To meet @j

[2017-10-06 19:17] bgrant0607 commented on #49504
Yes, we need to fix patch/merge anyway.

We need to figure out how to deal with protobuf tags. Honestly, proto's tagging scheme is not a great fit for us given that we have API versioning and discovery via OpenAPI.

Maybe we can paper over it using OpenAPI. I also wonder if we could autogenerate the tags by hashing the json paths.

We could also use extra OpenAPI / JSON schema attributes for APIs

[2017-10-06 19:25] dreyk commented on #53538
Do you have provider configuration?
/etc/kubernetes/cloud-config
[code]

[2017-10-06 19:50] briantkennedy commented on #53498
It turned out we added a docstring to the package and moved the "// +groupName" line out of the package docstring. On moving it back things are working fine again.

Thanks for the quick response, it was helpful.

[2017-10-06 20:06] spiffxp commented on #22121
/reopen
/unassign
/assign @sebgoa

[2017-10-06 20:07] janetkuo commented on #22368
I move the proposal to https://github.com/kubernetes/community/pull/1163

[2017-10-06 20:10] victorgp commented on #41038
The pull request  i made https://github.com/kubernetes/kubernetes/pull/48859 also includes the Kubelet now

[2017-10-06 20:15] jenciso commented on #42306
I have the same problem using Kubernetes 1.8.0 and Heketi v5.0.0-79-gc8daa55. For workaround I'm using the k8s IP service

[2017-10-06 20:16] #43769 closed

[2017-10-06 20:16] #53099 closed

[2017-10-06 20:16] #53055 closed

[2017-10-06 20:18] tcederquist commented on #53538
@dreyk - thanks for the quick response! No file there so I added as suggested with read access and its stuck on the waiting for control plane, the container for kube-apiserver isn't starting with logs:

     [root@ip-172-30-0-176 ~]# docker logs 8dd8f7db18f5
     I1006 20:13:44.938083       1 server.go:114] Version: v1.8.0
     I1006 20:13:44.938255       1 cloudprovider.go:59] --external-hostname

[2017-10-06 20:45] dashpole commented on #53515
I spoke with @caesarxuchao, who has more experience with finalizers than I do.  The fact that the kubelet updates the pod status often should not prevent finalizers from removing their finalizer.  It should be a rare race condition, and can be avoided by using PATCH.
From the kubelet logs, I see `fully terminated and removed from etcd`, which indicates that the kubelet was successful in completely

[2017-10-06 20:53] luxas commented on #49484
@ixdy @cblecker I approved this for v1.9, this is something we definitely want in order to keep up with Go (and for improved performance)

[2017-10-06 20:53] luxas commented on #53018
@spiffxp We can close this now, right?

[2017-10-06 20:55] luxas commented on #49480
@thockin Can you take a look at https://github.com/kubernetes/kubernetes/pull/51250 and shepherd it (and other required changes) in time for v1.9?

I approved this for v1.9 now

[2017-10-06 20:56] luxas commented on #50986
@andrewsykim Can you create a PR for this soon to get this early into v1.9 please?

[2017-10-06 20:57] BenTheElder commented on #49484
we're starting to use the forked images now /cc @krzyzacy, this should be more feasible very soon

[2017-10-06 21:09] luxas commented on #49236
@timothysc Marked this approved for v1.9.
Do we have any recent progress?

[2017-10-06 21:18] jakirpatel commented on #53309
Faced the similar issue. +1

[2017-10-06 21:18] luxas commented on #23225
@MrHohn @bowei @thockin @dchen1107 We're targeting beta quality for this on GKE in v1.9, right?

[2017-10-06 21:20] yguo0905 opened #53548 "Device plugin should only handle allocations of resources managed by it"
The resources managed by device plugin are a subset of the extended resources. The device plugin should only handle the resources managed by it, instead of all extended resources

https://github.com/kubernetes/kubernetes/blob/2d1626028ed0d091008e65d7e379470a098942ff/pkg/kubelet/cm/device_plugin_handler.go#L169

https://github.com/kubernetes/kubernetes/blob/2d1626028ed0d091008e65d7e379470a098942ff/

[2017-10-06 21:20] yguo0905 commented on #53548
/sig node

[2017-10-06 21:24] jiayingz commented on #53548
Thanks a lot for reporting this issue, @yguo0905 ! I have a PR https://github.com/kubernetes/kubernetes/pull/53547 that hopefully can resolve this issue for 1.8. We still need to better handle device plugin resource cleanup in 1.9, which will be tracked in issue https://github.com/kubernetes/kubernetes/issues/53395.

[2017-10-06 21:24] yguo0905 opened #53549 "Get the stats of container logs in kubelet for summary API"
Kubelet has been changed to get the container stats from CRI for the new container runtimes, like containerd and cri-o. However, this does not include the stats of the container logs.

https://github.com/kubernetes/kubernetes/blob/2d1626028ed0d091008e65d7e379470a098942ff/pkg/kubelet/stats/cri_stats_provider.go#L235-L236

Since the kubelet passes the container log name to CRI. We can get the stats

[2017-10-06 21:25] jiayingz commented on #53548
/cc @vishh @mindprince @ConnorDoyle

[2017-10-06 21:30] luxas commented on #53237
@liggitt is everything here now fixed or are we waiting for https://github.com/kubernetes/kubernetes/pull/53238?

[2017-10-06 21:36] caesarxuchao commented on #53515
I think PATCH is supported for removing finalizers since at least 1.7. That should reduce the chance of race.

[2017-10-06 21:53] vishh commented on #53395
My recommendation is as follows for device plugin lifecycle management:

1. Kubelet checkpoints resource name to device plugin mapping on first registration
2. Kubelet on startup waits for registered device plugins to re-register for some (possibly configurable?) time and if they don't kubelet taints that node to prevent new pods from being scheduled to the node. A cluster admin is expected to ste

[2017-10-06 22:22] pwittrock commented on #53309
This is a known issue with minikube.  It is fixed in the newest version.

[2017-10-06 22:22] #53309 closed

[2017-10-06 22:23] pwittrock commented on #53309
kubernetes/minikube#1996

[2017-10-06 22:25] pwittrock opened #53552 "Kubectl 1.8 does not work with minikube"
This is a placeholder for kubernetes/minikube#1996 this is a known issue with minikube configuring openapi incorrectly.

Note: kubectl works with non-minikube Kubernetes clusters, this is just a configuration issue with minikube.

This issue will not be fixed in kubectl, but is just a placeholder for folks that run into the minikube issue.

[2017-10-06 22:26] pwittrock commented on #53552
/sig cli

[2017-10-06 22:26] pwittrock commented on #53552
/bug

[2017-10-06 22:26] pwittrock commented on #53552
/kind bug

[2017-10-06 22:29] pwittrock commented on #53309
Opened this placeholder for minikube not supporting 1.8 kubectl #53552

[2017-10-06 22:32] jiayingz commented on #53395
Thanks a lot for the recommendation, @vishh !

My major concern for this approach is that tainting a node just because some checkpointed device plugin fails to re-register within timeout after kubelet restarts, or disappears for various reasons may be too aggressive, given that device plugin may be used to manage various kinds of devices and some of them may not be that critical.

[2017-10-06 22:36] caseydavenport commented on #52040
/label status/approved-for-milestone

[2017-10-06 23:01] leblancd opened #53554 "IPv6 IPs derived incorrectly in proxier's deleteEndpointConnections"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig network
/area ipv6

**What happened**:
The calculation of endpointIP in the iptables proxier's deleteEndpointConnections() method does not handle endpoints of the form [ipv6-address]:port. The current logic strips off anything after the first colon it finds:
[code]
so this won't work for IPv6. This can be seen on code inspection. I

[2017-10-06 23:23] liggitt commented on #53496
Sure, I thought we already had that documented

[2017-10-06 23:32] julia-stripe commented on #47538
@erhudy very excited about your work on this. One thing to consider -- we implemented a very hacky version of this internally. Our hacky version doesn't respect the cron job's concurrency policy (so if you start the cronjob manually, starting it will succeed even if another instance is already running). Our users have told us that they find this alarming and that they would prefer that the "manual

[2017-10-06 23:35] leblancd commented on #47666
The following PRs are needed for IPv6 e2e testing:
PR #52748
PR #53384
PR #53389
PR #53531
PR #53555 (not in e2e tests, but needed for UDP connection testing)

[2017-10-06 23:43] davidopp opened #53556 "User-added NoSchedule taint causes eviction of DaemonSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

/kind bug

**What happened**:

User added a NoSchedule taint to a node. It caused eviction of DaemonSet.

See https://groups.google.com/d/msg/kubernetes-users/me5A_6DOtn8/rQGeTTK2AQAJ for more details.

**What you expected to happen**:

NoSchedule should never cause eviction. That's why it's called NoSchedule, not NoExecute.

I think the p

[2017-10-06 23:44] pwittrock commented on #53552
cc @mehdy @apelisse

[2017-10-06 23:44] pwittrock commented on #53552
@kubernetes/sig-cli-bugs

[2017-10-06 23:44] bgrant0607 commented on #53311
What about adding --from-literal to all types of secrets and document that users who are concerned about this should add their own salt?

[2017-10-06 23:46] erhudy commented on #47538
That's how my current implementation works - an `instantiate` subresource exists on a given CronJob, which when poked spawns an unassociated Job from the JobSpec. For obvious reasons that you mentioned, this isn't really satisfactory. I looked at writing the source CronJob back to the store with a modified CronJobStatus, but this would risk a race condition that could cause the CronJob controller

[2017-10-06 23:58] davidopp commented on #53556
/cc @lbudai74

[2017-10-07 00:43] liggitt commented on #53534
Initializers are not intended to be set manually, they are set by the Initializers admission plugin. Additionally, unless the alpha Initializers feature gate is enabled, the initializers field is stripped from objects and never persisted, in order to avoid persisting alpha data

[2017-10-07 00:43] #53534 closed

[2017-10-07 00:47] davidopp commented on #53556
/cc @kubernetes/sig-node-bugs

[2017-10-07 01:27] bsalamat commented on #48147
Masters have NoSchedule taint.

[2017-10-07 02:39] ravisantoshgudimetla commented on #48147
Right but, we can untaint them(I believe it was unschedulable field earlier using cordon.)

[2017-10-07 02:42] liggitt commented on #53311
Why not a specific flag for salting the hash without making it part of the secret data? I would have thought exposing the salt in the secret would be a non-goal.

[2017-10-07 03:03] bgrant0607 commented on #53311
@liggitt

AIUI, there were 2 potential issues:

1. The resource names could be less secret than the contents. For instance, they may occur in logs. They may be discoverable by API probes. Discovery of the name is needed in order to perform the dictionary attack.
2. With the name, the dictionary attack is potentially (arguably) possible only because all the keys and structures of the values are kno

[2017-10-07 03:07] liggitt commented on #53311
Possibly. I'm trying to think how this would be used. A site-specific salt used for all secrets managed by a config management system is a possibility, and would mean visibility to one secret would give access to the salt possibly used for other secrets. That said, I don't feel that strongly either way.

[2017-10-07 03:51] bgrant0607 commented on #53311
Ok, not stored in secret, not on command line (contents from file), not fixed length for maximum paranoia.

[2017-10-07 04:32] #53529 closed

[2017-10-07 04:32] #52166 closed

[2017-10-07 04:53] #52665 closed

[2017-10-07 05:07] AleiHanami commented on #44103
@lghinet
I've not ported my Kafka cluster to k8s yet. In my case I run SolrCloud on K8s, and the hostname is 'solrcloud-{ordinal}' (which is exactly the service name for each pod of the SolrCloud statefulset). then, for outside accessing, I use the Nginx Ingress Controller to route the traffic according to the domain name 'solrcloud-{ordinal}'
But, AFAIK, Kafka use TCP, use [keepalived](https://gi

[2017-10-07 08:57] verb commented on #53189
/priority important-longterm

[2017-10-07 08:59] verb commented on #53189
/kind feature

[2017-10-07 09:01] verb commented on #53189
/remove-kind bug

[2017-10-07 09:03] verb commented on #53188
/remove-kind bug

[2017-10-07 09:46] k82cn commented on #53556
It should be fixed in 1.7+ by https://github.com/kubernetes/kubernetes/commit/e3f40f3d229b55e59e33a54b0cfc809af730e071 .

[2017-10-07 10:29] #48186 closed

[2017-10-07 10:34] karlbunch commented on #53532
Just experienced this exact issue.

* Kubernetes version (use kubectl version):
[code]
* Cloud provider or hardware configuration: [bare metal packet.net](https://www.packet.net/bare-metal/servers/type-2-virtualization/)

* OS (e.g. from /etc/os-release): Ubuntu 16.04.3 LTS
* Kernel (e.g. uname -a):
[code]
## Workaround:
[code]

Thanks @outcoldman for that, you saved me untold hours of golang digg

[2017-10-07 12:30] nikhita commented on #50037
Created PR https://github.com/kubernetes/kubernetes/pull/53558.

[2017-10-07 12:34] nikhita commented on #50037
/area third-party-resource

[2017-10-07 13:33] dixudx commented on #53536
@ylfforme Your json file is not valid. **Redundant comma** after `"k8s_api_root": "http://172.16.0.3:8080"`.

The valid json content should be

[code]

[2017-10-07 13:37] shyamjvs commented on #52347
Reopening as it seems like the issue is not fixed yet. For e.g run-16 of https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-correctness failed due to this:

[code]

This is also affecting our [gce-scale-performance](https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance) job, both of them being release-blocking jobs.

@MrHohn Could you PTAL?

[2017-10-07 14:57] kejau commented on #43980
Its still a recurring bug

[2017-10-07 15:03] dixudx commented on #53513
@smarterclayton I did not reproduce this. I think this may be caused by the monitoring timeout of heapster. So that the data got missing.

[2017-10-07 16:30] derekwaynecarr commented on #53533
Support for swap is non-trivial.  Guaranteed pods should never require swap.  Burstable pods should have their requests met without requiring swap.  BestEffort pods have no guarantee.  The kubelet right now lacks the smarts to provide the right amount of predictable behavior here across pods.

We discussed this topic at the resource mgmt face to face earlier this year.  We are not super interested

[2017-10-07 16:32] derekwaynecarr commented on #53533
/kind feature

[2017-10-07 17:13] xiangpengzhao commented on #53526
Sounds reasonable. @thockin WDYT?

[2017-10-07 17:33] deitch commented on #53309
Didn't even occur to me to try elsewhere.

I can confirm that my failures do not occur against a non-minikube cluster. Thanks @pwittrock

[2017-10-07 17:37] deitch commented on #53309
And all working fine in latest minikube version as well:

[code]

[2017-10-07 18:33] liggitt commented on #53496
https://kubernetes.io/docs/admin/authentication/#service-account-tokens:

[2017-10-07 18:33] #53496 closed

[2017-10-07 18:41] deitch commented on #53496
Nice catch @liggitt thanks. I misunderstood that part.

Well, works for me. We need to switch to RBAC soon anyways.

[2017-10-07 20:16] gamename opened #53562 "Dashboard pods in crashloop after 1.6.4->1.7.7 upgrade"
/kind bug

**What happened**:
Two of the 3 dashboard pods went into a crash loop after upgrading from 1.6.4 to 1.7.7 k8s.
[code]

**What you expected to happen**:
All 3 should be in "Running" status

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade a cluster from 1.6.4 to 1.7.7

**Anything else we need to know?**:
The log for the *failing* dashboard pod is:
[code]

This is

[2017-10-07 20:21] gamename commented on #53562
/sig auth

[2017-10-07 21:31] naisanza opened #53563 "Creating canal http://localhost:8080/swagger-2.0.0.pb-v1: dial tcp [::1]:8080: getsockopt: connection refused"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm using this ansible playbook https://github.com/TheShellLand/antsable/blob/master/playbooks/k8s_master.yml

And everything completes up until it tries to apply canal.

Following documentation: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

Error when applying canal yaml:
[code]

There'

[2017-10-07 22:07] unixwitch commented on #35062
I am seeing this with 1.8.0, on CentOS with overlay2:

[code]

[code]

The path `/var/lib/docker/containers/5a1e3d849d13a662936aae26c318ae11a8cf2e69185d545285ef9fc02be8937e` does not exist at all.

Using Docker 17.03.2, Kubernetes 1.8.0 on CentOS 7.4 host.

[2017-10-08 01:01] ylfforme commented on #53536
thank you very much

[2017-10-08 01:04] liggitt commented on #53562
During the upgrade process, was the service account signing key changed?

[2017-10-08 03:05] apelisse commented on #53563
I'm not familiar with `kubeadm` at all, but I would always expect `kubectl apply` to be run against a functioning apiserver:
[code]

Also,
[code]

This is not an error but a warning, do you have any output after that? what is the return code of that command?

[2017-10-08 04:02] brendandburns commented on #25716
As we push deeper into client code generation, the gaps in Swagger start biting us worse and worse...

In particular in strongly typed languages, the lack of oneOf support mean that many operations are incorrectly documented and thus fail when called from client libraries.

[2017-10-08 04:41] jordanwilson230 commented on #50226
@dmnord How did you resolve this?

[2017-10-08 07:09] drgomesp commented on #39722
Same issue here. Anyone has a work around?

[2017-10-08 07:20] gamename commented on #53562
@liggitt I don't know.  How can I tell?

[2017-10-08 07:31] gamename commented on #53562
I was able to get a second pod running, however.  I noticed something odd in the following output:
[code]

By deleting `appdynamicsconfig` and then deleting the dashboard pods, I now have 2 of 3 dashboard pods running:
[code]

The remaining dashboard pod I cannot get to `Running` state even if I delete it and let it restart.

[2017-10-08 08:39] verb commented on #53188
/remove-kind bug

[2017-10-08 08:39] verb commented on #53188
/remove-kind feature

[2017-10-08 08:40] verb commented on #53188
/kind feature

[2017-10-08 08:40] verb commented on #53188
/kind bug

[2017-10-08 08:40] verb commented on #53188
/remove-kind bug

[2017-10-08 09:59] dnascimento commented on #12732
@smarterclayton @deads2k Any predictions about merging this in Kubernetes?
https://github.com/openshift/origin/pull/7728

[2017-10-08 12:33] liggitt commented on #39722
I'd suggest following the dashboard instructions for setup and access at https://github.com/kubernetes/dashboard/blob/master/README.md

[2017-10-08 13:02] drgomesp commented on #39722
I'm using it with Google Cloud Platform and the proxy doesn't seem to work properly.

[2017-10-08 13:20] jsgoller1 opened #53566 "Federated deployments cannot be deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli
/sig federation
@kubernetes/sig-federation

**What happened**:
I have a federated cluster composed of one host cluster and one joined cluster running in AWS. They were created following the steps in the documentation, and I am able to see via the kubernetes dashboard that all components are running correctly.

To test the federated

[2017-10-08 13:31] mattnworb commented on #39722
@drgomesp the top of the dashboard setup instructions links to https://github.com/kubernetes/dashboard/wiki/Access-control which explains how to set up access control for the dashboard and also explains a bit more why things don’t have access out of the box since 1.7. You can follow the instructions at the bottom to create a ClusterRoleBinding for the dashboard’s service account (heed the warnings

[2017-10-08 13:33] hobti01 commented on #12732
@thockin are you influencing an alignment of this request with https://github.com/PalmStoneGames/kube-cert-manager or https://github.com/jetstack-experimental/cert-manager?

Each effort sees the value of certs for services with various approaches.

@munnerz are you accommodating the current state of the OpenShift approach with your incubator proposal? https://github.com/jetstack-experimental/cert-

[2017-10-08 14:54] leblancd opened #53568 "e2e pod-Service Networking test panics if no provider external IPs available"
If you try to run the e2e Networking tests without a cloud provider (e.g. on bare metal or VM setup),
the pod-Service Networking tests (http and UDP) panic when config.ExternalAddrs[0] is
accessed and the slice is empty.

What should be done in this case is to have a check to see if any ExternalAddrs are provided, and
if not, fallback to using one of the InternalAddrs. This will avoid the panic, a

[2017-10-08 15:29] tylerFowler commented on #38877
Yup! Haven't seen this in quite a while, forgot about this issue

[2017-10-08 15:29] #38877 closed

[2017-10-08 16:37] dims opened #53570 "pull-kubernetes-e2e-kubeadm-gce and ci-kubernetes-e2e-kubeadm-gce are broken"
Please see recent runs:
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kubeadm-gce

[code]

[2017-10-08 16:37] dims commented on #53570
/sig cluster-lifecycle

[2017-10-08 16:48] spzala commented on #38877
@tylerFowler  :-) Thanks!

[2017-10-08 16:49] dims commented on #53570
looks like `jq` is missing from the image?

https://github.com/kubernetes/kubernetes-anywhere/blob/master/util/config_to_json#L35

[2017-10-08 16:50] jacohend commented on #47960
Still encountering this issue

[2017-10-08 17:04] dims commented on #53570
Looks like `jq` as installed in a bunch of places here : https://github.com/kubernetes/test-infra/pull/3276/commits/23a93a63ed6c8631992d7caa2a780ea1e869a980

[2017-10-08 17:05] dims commented on #53570
@ixdy @fejta @david-mcmahon - Can you please help?

[2017-10-08 19:11] liggitt commented on #53563
The fact that you are getting the same error running `kubectl version` indicates kubectl is not configured to speak to your running server:

The connection to the server localhost:8080 was refused - did you specify the right host or port?`

http://localhost:8080 is the address kubectl uses as the default when it doesn't have any api server configured.

In the output of `kubeadm init`, there are in

[2017-10-08 19:11] #53563 closed

[2017-10-08 19:45] MengZn commented on #53333
Can someone tell me why is that so?
I have no idea at all.
Why do we have to do either disable swap or add to kubelet flag to continue working with enabled swap？

[2017-10-08 21:58] frodenas commented on #52872
I did an analysis on this issue, and this is what I found:

1. Most of the `prometheus.MustRegister`calls use a static metric name (hardcoded at the method invocation via a string and/or constant);
2. There is only a single case where the metric name is constructed dynamically (from a parameter), at the [pkg/util/metrics/util.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/metric

[2017-10-08 22:22] dims commented on #53570
cc @luxas

[2017-10-09 00:36] dims commented on #53536
/assign

[2017-10-09 00:36] dims commented on #53536
/close

[2017-10-09 00:36] #53536 closed

[2017-10-09 01:22] outcoldman commented on #53533
@derekwaynecarr thank you for explanation! It was hard to get any information/documentation why swap should be disabled for kubernetes. This was the main reason why I opened this topic. At this point I do not have high priority for this issue, just wanted to be sure that we have a place where it can be discussed.

[2017-10-09 01:37] resouer commented on #53236
/kind bug

[2017-10-09 01:38] resouer commented on #53236
/priority important-soon

[2017-10-09 01:53] wenlxie commented on #53494
+1

[2017-10-09 02:16] ggaaooppeenngg commented on #46503
@maleck13  I guess [here](https://github.com/kubernetes/community/tree/master/contributors/design-proposals), but not well    documented.

[2017-10-09 02:27] wackxu commented on #53503
I would help fit it.

[2017-10-09 02:34] dims commented on #50986
@andrewsykim i took the liberty to move this along (filed 53573). Hope that's ok.

[2017-10-09 03:04] smarterclayton commented on #46503
You'll want to try to articulate the "why", propose the specific interface
changes to the clients (or several variants if there are tradeoffs), and
show a few examples of how the context would be used in different cases.

On Sun, Oct 8, 2017 at 10:16 PM, Peng Gao <notifications@github.com> wrote:

[2017-10-09 03:37] #52141 closed

[2017-10-09 03:39] xiangpengzhao commented on #53189
/remove-kind bug

[2017-10-09 03:42] xiangpengzhao commented on #46910
`/kind bug`?

[2017-10-09 03:42] xiangpengzhao commented on #46910
`/remove-kind bug`?

[2017-10-09 03:45] #53513 closed

[2017-10-09 04:21] ixdy commented on #53570
This was probably #4915 - @krzyzacy

I'll revert https://github.com/kubernetes/test-infra/commit/17c8eb57bd042d347f93e966135acb59dd775a91.

[2017-10-09 04:41] ixdy commented on #53570
Reverted the offending commit, so hopefully the kubeadm builds will start passing again.

Also working on a PR to bring `jq` back into our `kubekins-e2e` images.

[2017-10-09 05:00] thockin opened #53577 "kube-proxy config should move out of ComponentConfig apigroup"
As per mtaufen:

... when kube-proxy moves its configuration type out of ComponentConfig, they should move the validation code along with it. Validation code should live near the type it validates, and at present the KubeProxyConfiguration type still lives in ComponentConfig.

As an example of how to remove a type from ComponentConfig (and ALL components should be removing their configuration type

[2017-10-09 05:49] thockin commented on #52670
I can see it too, but it feels like a heavy answer.  It is more
elegant, especially for pure status.  How would life-cycle work?

Google's CloudProvider registers CRD for `GoogleCloudLoadBalancerStatus`.
User creates Service `type: LoadBalancer`
Google's service LB controller actuates against GCP
Google's CloudProvider instantiates `GoogleCloudLoadBalancerStatus`
and links it from Service.status.L

[2017-10-09 05:57] thockin commented on #47222
This is an interesting (ab)use of Service. Not really what I had in mind - the LB in a Service is generally assumed to be L4.  I'll try to dredge up the issues that this was causing.

@kubernetes/sig-network-api-reviews

[2017-10-09 06:14] sttts commented on #53498
@briantkennedy great to hear. Closing the issue.

[2017-10-09 06:21] allencloud opened #53578 "kube-proxy configuration needs validation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently in start-up of kube-proxy, it does not validate the user input configuration. It is not so user-friendly that people will not realize the error config input.

**What you expected to happen**:
User cannot get an error message or log if an incorrect kube-proxy config was input.

**How to reproduce it (as mini

[2017-10-09 06:27] #51273 closed

[2017-10-09 06:27] elvizlai commented on #52783
10.244.0.0/16 works for 10.244.xxx.xxx. It looks like you need 10.0.0.0/8

[2017-10-09 06:35] m1093782566 commented on #53578
/sig network

[2017-10-09 07:23] wackxu commented on #53503
I think it is just the intent of design for the authors. You can see the comment below

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L55-#L74

The output is the format that fit the "canonical form", so the units of quantity looks different sometimes.

[2017-10-09 07:32] #31712 closed

[2017-10-09 08:31] #53578 closed

[2017-10-09 08:43] prat0318 opened #53582 "apimachinery: add api to get the PATCH version of running k8s"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

**What happened**: Referring to [the original feature request added to helm charts](https://github.com/kubernetes/helm/issues/3013), we want to have different prometheus scraping endpoints for cadvisor for pre 1.7.2 and post 1.7.2 (like 1.7.3). Helm charts capabilities only provide us the MINOR version and not the PATCH

[2017-10-09 08:53] andyzhangx commented on #52236
@rtyler azure disk only support ReadWriteOnce(RWO), which means only one node mount is allowed for one azure disk pv. You could use azure file which supports RWX.

[2017-10-09 08:57] xiangpengzhao commented on #53577
/assign
for kube-proxy part (KubeProxyConfiguration).
The other left part is the kube-scheduler (KubeSchedulerConfiguration), cc @guangxuli may be interested in it.

[2017-10-09 09:04] prat0318 commented on #53582
@kubernetes/sig-api-machinery -feature-requests

[2017-10-09 09:04] prat0318 commented on #53582
/sig api-machinery

[2017-10-09 09:05] prat0318 commented on #53582
@kubernetes/sig-api-machinery-feature-requests

[2017-10-09 09:05] wackxu commented on #53495
I have succeed using version 1.7.4 in local cluster, Could you give more information?

[2017-10-09 10:01] maleck13 commented on #46503
Ok great. @ggaaooppeenngg thanks for the link I will take a look at some of those for inspiration. Then I will put something together

[2017-10-09 10:33] jsravn commented on #42796
I'm seeing this same problem, since moving to docker_shim / CRI. Lots of "context deadline exceeded" messages in kubelet, and pods getting stuck trying to create. The symptoms are completely random too - sometimes kubelet reports NotReady, other times it reports ready but pods can't be created. In all cases it seems the docker engine client lib in docker shim is hanging. `docker ps` responds fine

[2017-10-09 10:35] jsravn commented on #53207
I've now had pods that continue to report "context deadline exceeded" to docker shim but still report the node as Ready. They are stuck in this mode until I restart kubelet. Something seems seriously wrong w/ dockershim/docker communication.

[2017-10-09 10:38] jsravn commented on #53207
Here's a goroutine dump of kubelet: looks like dockershim gets stuck while sending a request to docker. It looks like there is no timeout and dockershim wedges after this (despite docker itself still seeming to work for new connections).

[goroutines-10-50-201-163.txt](https://github.com/kubernetes/kubernetes/files/1368189/goroutines-10-50-201-163.txt)

[2017-10-09 10:42] shashidharatd commented on #53430
@Thermi, the fix for this issue is identified and fixed in #53482. But it will take a while to be available on stable releases. Meanwhile you can use `--image` flag to `kubefed init` to pass specific hyperkube version.

[2017-10-09 10:49] jsravn commented on #53207
Deleted my comments - it was an unrelated issue (kernel hang on that node).

[2017-10-09 11:01] Diggsey commented on #53495
@wackxu What else would you like me to add? I mentioned I'm running on GKE, so maybe it's specific to that?

[2017-10-09 11:30] k82cn commented on #42394
/status approved-for-milestone

We'd like to get this fixed in 1.9.

[2017-10-09 11:44] wackxu commented on #53495
@Diggsey It is possible. Can you describe you pod and maybe we can get more information from the event.

[2017-10-09 12:26] ScorpioCPH commented on #52861
@jiayingz Is there any doc about run GPU e2e on ubuntu?
I follow this doc [End-to-End Testing in Kubernetes on local cluster](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#local-clusters), but it seems not work for me.

[2017-10-09 12:28] #53430 closed

[2017-10-09 12:31] ScorpioCPH commented on #46445
@cmluciano @vishh

Hi, is this issue fixed?
I want to try GPU e2e tests on Ubuntu, but it seems there is no doc/code on github.

[2017-10-09 12:41] Diggsey commented on #53495
I don't think there's anything useful in the pod description:
[code]

[2017-10-09 12:46] andyzhangx commented on #52812
cherry pick fix (https://github.com/kubernetes/kubernetes/pull/52962) is approved, will be merged soon

[2017-10-09 12:46] #53498 closed

[2017-10-09 12:52] andyzhangx commented on #52605
@dixudx could you close this issue? Thanks.

[2017-10-09 12:53] hlubek commented on #37625
Actually I think there are 2 issues in `reconciler.go` when reconstructing the volume spec and executing `plugin.NewMounter`:

1. No namespace can be reconstructed from the pod and volume dir
2. The endpoints for GlusterFS (when not using a PVC) are set to the volume name, which is clearly wrong (`glusterfs.go:203`)

Both seem to be a conceptual issue where the data cannot be reconstructed only fr

[2017-10-09 12:56] gnavgire commented on #53490
After using "filterVerb": "filter" in the extender config, we are able to exclude the node from getting scheduled by the extended scheduler.

[2017-10-09 12:56] #53490 closed

[2017-10-09 13:04] jhorwit2 commented on #47222
FYI, the [AWS in-tree provider](https://github.com/kubernetes/kubernetes/blob/d58e322bdb8221a21c53ee9e450583536ab7b12f/pkg/cloudprovider/providers/aws/aws.go#L121) does non layer4 things as well.

[2017-10-09 13:41] liggitt commented on #53582
At that level, I'd probably recommend semver comparisons against gitVersion

[2017-10-09 13:52] gamename commented on #53562
Slack conversation:
[code]

[2017-10-09 14:13] dims commented on #53570
Thanks @ixdy

[2017-10-09 14:22] #52605 closed

[2017-10-09 14:29] edevil commented on #53396
The problem appears when transitioning from kubelet v1.8.0-alpha.2 to v1.8.0-alpha.3.

[2017-10-09 14:34] sttts commented on #53485
These metrics must be unregistered as well: https://github.com/kubernetes/client-go/blob/82aa063804cf055e16e8911250f888bc216e8b61/tools/cache/reflector.go#L112 when a storage is removed.

[2017-10-09 14:35] mattfarina commented on #51049
In 1.8 they were released as `apps/v1beta2` and in master they are now `apps/v1`. What still needs to be done for this issue?

[2017-10-09 15:05] bgrant0607 commented on #49504
Don't the existing workload APIs support the version of scale from the autoscaling API group?

We have a way to independently version the Scale API, so I'm fine with using the one from the autoscaling group until there is an obviously better answer.

[2017-10-09 15:07] mccormd commented on #51891
thanks @dixudx - my issue isn't being able to get to run pods with hostNetwork=true, it's that NetworkPolicy does not work with them.  Ideally, I'd like to be able to create network policy rules for pods such as ingress controllers so we can restrict which pods they are allowed to route to.

[2017-10-09 15:11] mccormd commented on #50451
`Right now, specifying a podSelector and a namespaceSelector gives you the logical OR of the two selectors.`

@caseydavenport Why not make it a logical AND instead?  In most cases where you could need to use an OR you could achieve by splitting into two separate rules...

[2017-10-09 15:15] manuperera commented on #52096
The node that's the source of the traffic doesn't a Kubernetes's node. It's a machine that is out of Kubernetes's cluster.

No output for command ```sudo iptables-save -c | grep MASQUERADE```

The output for command ```sudo iptables-save -c``` is:

[code]

[2017-10-09 15:25] stevekuznetsov opened #53590 "volumes: data race in Test_Run_OneVolumeAttachAndDetachMultipleNodesWithReadWriteOnce"
/kind bug

Seeing this data race when running `go test`:

[code]

[2017-10-09 15:25] andrewsykim commented on #50986
Thanks @dims, appreciate it. I think there were some discussions in the mailing list thread about v1.9 being too soon. I think it largely depends on how many users actually take advantage of the auto-detect feature. It's not many from what I've seen but we should follow up and be sure.

[2017-10-09 15:27] kargakis commented on #53590
/sig storage

[2017-10-09 15:27] kargakis commented on #53590
@kubernetes/sig-storage-test-failures

[2017-10-09 15:41] maleck13 commented on #46503
First pass here
https://github.com/kubernetes/community/pull/1166

[2017-10-09 15:42] smarterclayton commented on #51825
/priority important-soon

On Mon, Oct 9, 2017 at 4:20 AM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2017-10-09 15:42] destijl commented on #23564
We just got bitten by this in the GKE UI. We have a configuration section where we display configuration information about kubernetes objects. For secrets we hide the secret data, but not the annotations.

We can filter it out in the UI, but it's just treating the symptoms. Others will likely encounter the same problem at some point. It's very surprising to have your secret data sprinkled around t

[2017-10-09 15:50] smarterclayton commented on #52670
On Mon, Oct 9, 2017 at 1:50 AM, Tim Hockin <notifications@github.com> wrote:

Garbage collection

A CRD is supposed to be as easy as a map[string]string but typed.

And until we have a status subresource, you can still fetch the CRD (you
just have to remember that it's not "trusted" nor is any RBAC enforced).

As above, if CRD isn't as easy as map[string]string and better in every way
(get, explai

[2017-10-09 15:52] yujuhong commented on #53370
@jessfraz logs don't need privileges. The error message *is* the log content.

[2017-10-09 16:00] yujuhong commented on #53475
Correct. It could be a minor performance optimization, but wouldn't help with the correctness.

Agreed.

[2017-10-09 16:04] yujuhong commented on #51668
+1 as long as we can rely on the "naming" of the address to decide whether the controller owns the address and can promote/demote it.

[2017-10-09 16:17] #53488 closed

[2017-10-09 16:26] msau42 opened #53596 "E2E test failing: Volume metrics should create prometheus metrics for volume provisioning and attach/detach"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-storage-bugs

**What happened**:
[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/2339#sig-storage-serial-volume-metrics-should-create-prometheus-metrics-for-volume-provisioning-and-attachdetach)
[testgrid](https://k8s-testgrid.appspot.com/sig-storage#gci-gce-serial)

[co

[2017-10-09 16:26] msau42 commented on #53596
/assign @gnufied

[2017-10-09 16:32] msau42 opened #53597 "Local PV node affinity e2e tests failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-storage-bugs
/assign

**What happened**:
[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/16905#sig-storage-persistentvolumes-local-featurelocalpersistentvolumes-serial-when-pods-node-is-different-from-pvs-nodeaffinity-should-not-be-able-to-mount-due-to-different-

[2017-10-09 16:48] MarkDeckert commented on #53333
This has been bothering me as well.  Can someone point to a url or document that explains the reasoning or background behind the decision to make swap off a requirement.  I've seen this question asked in slack as well with no answers.

[2017-10-09 16:49] luxas commented on #50986
@andrewsykim Any recent discussion about that? I haven't seen any activity recently but I might just be subject to email overflow. I hope we can get this into v1.9
cc @thockin

[2017-10-09 16:50] edevil commented on #53396
Well, I've found the problem. Starting from v1.8.0-alpha.3 the "modprobe" binary is not included in the image and so the br-netfilter kernel module is not loaded.

I'm using the gcr.io/google_containers/hyperkube:v1.8.0-alpha.3 image, although through "kubelet-wrapper" from CoreOS. Where should this binary reside?

[2017-10-09 16:51] kksriram commented on #49817
/kind feature

[2017-10-09 16:52] kksriram commented on #49817
@deads2k @ericchiang @liggitt Need your help setting the milestones label, please. I don't have privileges.

[2017-10-09 16:53] kksriram commented on #49817
/remove-kind bug

[2017-10-09 16:53] luxas commented on #53018
Closing @spiffxp @jdumars reopen if you disagree

[2017-10-09 16:53] #53018 closed

[2017-10-09 16:54] ericchiang commented on #49817
/kind feature

[2017-10-09 16:55] thockin commented on #47222
One issue is that this REQUIRES connection tracking when we otherwise might not need it.

Consider two ServicePorts:
  - my-service:80
  - mys-service:443

Let's say we map both services to a backend on port 8080, but we pass-through the VIP, so the pod sees packets as dest = my-service:8080.

We MUST conntrack this VIP because we don't know whether to map the src port to 80 or 443.  If service ba

[2017-10-09 16:55] mml commented on #52677
@ixdy this does not appear to fix everything.  E.g.,

[code]

[2017-10-09 16:58] caseydavenport commented on #52040
/kind cleanup

[2017-10-09 16:58] caseydavenport commented on #52039
/kind cleanup

[2017-10-09 16:58] caseydavenport commented on #52040
/remove-kind bug

[2017-10-09 16:59] caseydavenport commented on #52039
/remove-kind bug

[2017-10-09 16:59] kow3ns commented on #49504
Currently apps uses the extensions representation internally with each group version having a separate, versioned sub resource.
While we may one day scale things other than the kinds that we have decided to move to apps, we don't currently. In particular HPA works for Replication Controllers and Deployments, but, with the addition of custom metrics, it may be possible to get it to work well for St

[2017-10-09 17:03] matthiasr commented on #53533
There is more context in the discussion here: https://github.com/kubernetes/kubernetes/issues/7294 – having swap available has very strange and bad interactions with memory limits. For example, a container that hits its memory limit would _then_ start spilling over into swap (this appears to be fixed since f4edaf2b8c32463d6485e2c12b7fd776aef948bc – they won't be allowed to use any swap whether it'

[2017-10-09 17:04] tallclair commented on #53467
The node will run the pod either way, independent of the admission decision. If the PSP blocks the creation of a privileged mirror pod, I think this actually makes the cluster _less_ secure, because it could give the admin a false sense of security and a less accurate view into the cluster functioning. Furthermore, it could destabilize the cluster since the scheduler no longer has an accurate pict

[2017-10-09 17:11] liggitt commented on #49504
replicationcontrollers/scale uses autoscaling Scale:
[code]

all the rest (in extensions/v1beta1, apps/v1beta1, and apps/v1beta2 API groups) advertise extensions/v1beta1 Scale as their scale subresource type:

[code]

[2017-10-09 17:11] dims commented on #53570
@krzyzacy @ixdy @fejta - The `jq` problem has been fixed, but another problem cropped up

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/53546/pull-kubernetes-e2e-kubeadm-gce/8179/build-log.txt

[code]

[2017-10-09 17:14] dchen1107 commented on #50986
I didn't follow any discussion related to this topic, but thought this is right move to decouple cloud_provider components from the core system. If I remembered correctly, only cloud_providers for GCE, AWS and Azura depend on the feature, which can be easily override.

Any concerns for v1.9?

[2017-10-09 17:16] shyamjvs opened #53600 "[Proposal] Make scalability tests part of conformance suite"
One of the key characteristics of kubernetes is its performance at scale. We (sig-scalability) are load-testing clusters at a large scale and measuring the performance every release.
Starting from 1.6 we're "supporting" 5000-node k8s clusters (defined concretely as correctness and performance tests passing against them).
We should consider incorporating scalability as part of conformance too - as

[2017-10-09 17:17] liggitt commented on #23564
Anything given a Secret object and asked to display it, masking confidential data, already has a special-case... I'd recommend switching to a whitelist of "known safe" fields (namespace, name, type). It's making an already-special case slightly more special.

[2017-10-09 17:17] dims commented on #50986
@dchen1107 yep, GCE/AWS/Azure - https://github.com/google/cadvisor/blob/a9b1ab1dd8d811d419487a631c3361df582346d2/utils/cloudinfo/cloudinfo.go#L58

[2017-10-09 17:18] shyamjvs commented on #53600
fyi - @wasylkowski @ignacyk

[2017-10-09 17:19] jiayingz commented on #52861
The environment setup for the current Feature:GPUDevicePlugin e2e test can be found at k8s.io/test-infra jobs/config.json. For gce test, we specify the env setup in jobs/env/ci-kubernetes-e2e-gce-device-plugin-gpu.env with KUBE_NODE_OS_DISTRIBUTION=gci. For gke test, we directly sets --gcp-node-image=gci in test args.

[2017-10-09 17:24] bsalamat commented on #53465
#52515 is merged. It clarifies the error message which is subject of this issue. The PR changes the error message to something like: `0/4 nodes available - 3 Insufficient cpu, 1 Insufficient memory`.

[2017-10-09 17:39] ixdy commented on #53570
Retesting "run-after" jobs doesn't seem to work properly; I think that's a known issue. @BenTheElder

[2017-10-09 17:40] krzyzacy commented on #49819
priority/important-soon

[2017-10-09 17:40] yujuhong opened #53601 "Deprecate rkenetes in favor of rktlet"
rktnetes is the old, in-tree rkt integration. [rktlet](https://github.com/kubernetes-incubator/rktlet) is new integration via CRI.
We should deprecate and remove the rktnetes integration once rktlet is ready to take over.

Based on the [deprecation policy](https://kubernetes.io/docs/reference/deprecation-policy/), I think we can announce the deprecation of rktnetes once rktlet is ready, and remove

[2017-10-09 17:42] jagosan commented on #53600
I agree strongly that there is a user expectation of some reasonable level of performance. I raised this in an early brainstorming / discussion [doc on conformance](https://docs.google.com/document/d/17y8Jw8Jd7HWME-ruQYKDtajJjh54uulhcvqkjLKlBxs/edit#heading=h.a3yw62lth2gs). There was general consensus on the core concept, but concern around the implementation and the ability to test rigorously. Se

[2017-10-09 17:47] krzyzacy commented on #53570
@dims probably try to re-trigger the bazel-build job instead

[2017-10-09 17:51] dims commented on #53570
@ixdy @krzyzacy - ok, let me try rebasing under master and do a totally fresh run

[2017-10-09 17:54] yujuhong commented on #53221
This was discussed in the sig node meeting last week (10/03), which I unfortunately had to miss.
Here's the derived summary from the meeting notes (please correct me if I am wrong).
 1. In general, validating container runtime versions should not be the SIG node's responsibility. Owners of individual CRI integration are responsible for the validation, and a common, portable validation framework/su

[2017-10-09 17:55] shyamjvs commented on #53600
Sgtm. Let's begin with a bar of 100-node cluster (with load and density tests passing on it)? - which is the lowest scale at which we're scale-testing as of today.
Could you provide some pointers on what all to do in order to add them to the conformance suite?

[2017-10-09 17:59] msau42 commented on #50115
@jlowdermilk what do you think of the instance tagging approach?

[2017-10-09 17:59] BenTheElder commented on #53570
Yeah, run-after-success is screwy, the correct way right now is to re-trigger the parent job. The kubeadm job is the only PR job using that feature currently because it is awkward. We should probably have another issue about that if I don't have one already..

[2017-10-09 18:05] kow3ns commented on #49504
@liggitt is correct. While each group version defines a [scale sub-resource](https://github.com/kubernetes/api/blob/master/apps/v1beta2/types.go#L64), the rest implementation [wires in](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/apps/statefulset/storage/storage.go#L131) the extension scale sub-resource.

[2017-10-09 18:06] MrHohn commented on #52347
@shyamjvs By any chance we could make `gce-scale-correctness` and `gce-scale-performance` use different names so that it will be easier to target the leaking point? Also, in that way one leaking job will not affect the other. Or maybe we could also make different runs use different network names? The scalability job is expensive so it might be great if newer runs wouldn't be affected by the leaked

[2017-10-09 18:06] thockin commented on #45143
I don't think we want to do cascading delete.  At the VERY LEAST, we do not
want to do it ad hoc for one case.  We have no other formalized
referential-integrity mechanisms.  If we want to consider such semantics,
it would effectively be an overhaul of the API and all of the associated
machinery.

Finalizers allow the DELETE op to start, but not finish.  It's not exactly
delete inhibition, which i

[2017-10-09 18:08] luxas commented on #53570
@BenTheElder This worked a week or so ago... Any known recent breakage?

[2017-10-09 18:09] luxas commented on #50986
@dchen1107 Please look at https://github.com/kubernetes/kubernetes/pull/53573 and give your LGTM

[2017-10-09 18:10] gamename commented on #53562
Found that the issue was a hung node.  Closing.

[2017-10-09 18:10] #53562 closed

[2017-10-09 18:14] yujuhong commented on #52336
/cc @dashpole

[2017-10-09 18:15] kow3ns commented on #49504
more context [here](https://github.com/kubernetes/kubernetes/pull/49168/files#r128884927)

[2017-10-09 18:16] dchen1107 commented on #50986
Done. Just better document in 1.9 release notes. LGTM

[2017-10-09 18:16] BenTheElder commented on #53570
The only breakage I know of is the missing jq problem, I haven't touched run_after_success or the shared builds logic in a long time and I don't know that anyone else has either.

[2017-10-09 18:18] luxas commented on #53570
Hmm, that's strange. @idxy @kargakis any clues?

[2017-10-09 18:19] luxas commented on #50986
Thank you!

[2017-10-09 18:21] mtaufen commented on #53341
The `pkg/kubelet` dependency is on `ContainerRuntimeOptions` from `cmd/kubelet/app/options`.
@yujuhong perhaps we should move the definition of these parameters into `pkg/kubelet`? It gets more complex if some of these parameters are exclusively consumed in `cmd`, since then it doesn't make sense to have them in `pkg`...

[2017-10-09 18:22] fabianofranz commented on #42885
Starting in v1.8.0, categories like "all" are a server-side attribute and are recognized by `kubectl` via the discovery client. [Here](https://github.com/kubernetes/apimachinery/blob/1168e538ea3ccf444854d1fdd5681d2d876680a7/pkg/apis/meta/v1/types.go#L829-L830) the API attribute that declares it, and [here](https://github.com/kubernetes/kubernetes/blob/46c7ec209ab315656fc271708df46d266474d8f9/pkg/r

[2017-10-09 18:22] shyamjvs commented on #52347
I thought about this option, but it's better for them to share the same name for network and other resources (instance-prefix, etc) because that way we ensure that if one of them leaks some resources, the other will delete them during it's startup. Else we'll run out of quota in the scale-testing project (for e.g wrt routes or VMs) by trying to start another 5k-node cluster while the previous one

[2017-10-09 18:26] ihmccreery opened #53603 "GCE should allow users to configure with what service account their nodes are created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**: GCE
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Ins

[2017-10-09 18:33] #48761 closed

[2017-10-09 18:33] #48769 closed

[2017-10-09 18:33] #48772 closed

[2017-10-09 18:33] #48773 closed

[2017-10-09 18:33] #48774 closed

[2017-10-09 18:36] ericchiang commented on #53145
Any action we want to take here? cc @kubernetes/sig-autoscaling-test-failures

I believe these downgrade test will still be used for future point releases of 1.8

[2017-10-09 18:42] yujuhong commented on #53341
There are other constants too. @dims's PR above (#53458). Care to review that PR?  :-)

[2017-10-09 18:58] yujuhong commented on #53514
I think providing stats for *all* containers are good. kubelet can filter them out if necessary. cadvisor simply doesn't support that since it only tracks cgroups (for running containers).

Excluding duplicated terminated containers is just a workaround for bugs in the existing integration. It was hard to fix for cadvisor+docker because the concept of container in the two components are different.

[2017-10-09 19:09] yujuhong commented on #53549
Minor correction: pass the "container log path"

Thanks for filing an issue for this!

[2017-10-09 19:22] dashpole commented on #52336
cc @jingxu97

[2017-10-09 19:32] dashpole commented on #52336
As a work-around, you should be able to disable the local storage feature gate when starting the kubelet.  `--feature-gates=LocalStorageCapacityIsolation=false`

[2017-10-09 19:33] toidiu commented on #1806
@pierreozoux thanks for the suggestion but managing a docker daemon was going to be too toublesome for the moment. We instead opted for a DinD solution since all we are doing at the moment is a `docker build` for our service releases.

Followed the solution suggested in this article: https://applatix.com/case-docker-docker-kubernetes-part-2/

[2017-10-09 20:06] luxas commented on #50986
Reopening for the removal of the option in v1.10

[2017-10-09 20:07] jhorwit2 commented on #47222
@thockin was this an issue that came up during performance testing or IRL?

[2017-10-09 20:08] jlowdermilk commented on #50115
I still think that if you need a list of nodes that are participating in the cluster, the source of truth for that is the k8s apiserver, but if that is a hard no, then we could use instance labels. The downside with labels is that they are easily modifiable, so they are not a reliable source of truth. Advantage is you can use them in filter queries which makes the GCE instances list call less expe

[2017-10-09 20:17] caseydavenport commented on #50451
@mccormd sorry, I wasn't particularly clear.  I meant that there's no way today to specify both namespaceSelector and podSelector except by putting them in two separate rules, which gives you the logical OR.

The API validates against having both present in a single rule - if this was allowed I agree it would indicate AND.

I don't have a strong opinion yet on whether or not the AND combination sh

[2017-10-09 20:23] bsalamat commented on #47604
kind/feature

[2017-10-09 20:25] bsalamat commented on #47604
/remove-kind bug
/king feature

[2017-10-09 20:33] dims commented on #53570
Next problem : https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/53546/pull-kubernetes-e2e-kubeadm-gce/8181/build-log.txt

[code]

[2017-10-09 20:39] ixdy commented on #52677
Since we're still trying to figure out how to support multiple versions of bazel in prow, I've created cherry-pick PRs to make release-1.7 and release-1.8 build with bazel 0.6. (No idea if they'll keep working in bazel 0.7.)

[2017-10-09 20:55] jeremyd opened #53613 "deployment controller null pointer exception"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The controller manager crashed and then could not start up again due to NPE.

**What you expected to happen**:
It to startup or recover from this state automatically.

**How to reproduce it (as minimally and precisely as possible)**:
Unfortunately I haven't been able to reproduce in a separate cluster (yet).  Steps that ma

[2017-10-09 21:00] jeremyd commented on #51013
@ncdc, ok thanks, yes it does look slightly different than https://github.com/kubernetes/kubernetes/issues/51286 which was linked here but originally it looked similar enough that I didn't want to dupe.  Anyhow, here's the new bug report I created: https://github.com/kubernetes/kubernetes/issues/53613  Thanks!

[2017-10-09 21:18] mtaufen commented on #53311
I'm not clear on what (or if) we've decided to do here. Is adding `--salt` to kubectl still in the cards? If we're worried about the command-line being logged and leaking the salt, we could have `--salt` point to a file that contains the salt...

[2017-10-09 21:34] jeremyeder commented on #53600
@sjug @mbruzek

[2017-10-09 21:44] countspongebob commented on #53600
Just a note of caution here. Note that I say this with continued deep interest in kubernetes scaling.

Do we really want to combine this kind of scaling tests for certification? For example, a small embedded appliance approach ought to be able to scale appropriate to the the target market, and as long as it passes functional certification requiring a general purpose scale up seems inappropriate.

[2017-10-09 21:46] tallclair opened #53615 "Deprecate cAdvisor port in K8s"
I would like to remove the cAdvisor UI & API from Kubernetes. Motivations include:

- cAdvisor port is unauthenticated, and can leak internal cluster information
- We may eventually move away from embedded cAdvisor (as part of the migration to CRI)
- Alternatives exist (run a standalone cAdvisor daemon set in the cluster)

/cc @kubernetes/sig-node-bugs @kubernetes/sig-instrumentation-bugs

[2017-10-09 21:46] jiayingz opened #53616 "After 1.8, scheduler could reject unknown extended resource names"
**What happened**:
Not sure yet whether this should be considered as a regression or WAI.

Basically, with PR https://github.com/kubernetes/kubernetes/pull/48922, we introduced ExtendedResources that covers all resources outside the default kubernetes.io namespace. In scheduler PodFitsResources(), for every extended resource, we check whether the node has enough resource quantity for it. This intr

[2017-10-09 21:48] jiayingz commented on #53616
/cc @davidopp @vishh @ConnorDoyle @yguo0905 @dchen1107 @derekwaynecarr

[2017-10-09 21:48] jiayingz commented on #53616
/sig node
/sig scheduling

[2017-10-09 21:49] countspongebob commented on #53600
As an alternative, we could advocate for additional "badges" for certification for the general purpose large scale cluster setups at the 100/1000/5000 sizes.

[2017-10-09 21:50] edevil commented on #26093
So, I've just been bitten by the removal of "modprobe" from the hyperkube image when upgrading from 1.7 to 1.8 (https://github.com/kubernetes/kubernetes/issues/53396). What is the rational for removing needed tools from the image? Somehow I missed this detail in the release notes.

Anyway, what is the approach that we should take when deploying kubelet, proxy, etc from the hyperkube image? Do we h

[2017-10-09 22:06] yujuhong commented on #53423
Unlikely. This (i.e., rerunning init containers) was never implemented since it was added, and the fix #47599 contains a lot of refactoring which is not appropriate for cherrypicks.

[2017-10-09 22:08] crimsonfaith91 opened #53617 "Deployment Integration Test Goroutine Limit Exceeded"
**What happened**:
When number of deployment integration tests increases more than a threshold, an error running `race: limit on 8192 simultaneously alive goroutines is exceeded, dying` happens when running the tests locally using bazel. The error does not happen when the number of tests is small.

**What you expected to happen**:
The integration tests should not create so many alive goroutines (m

[2017-10-09 22:11] tallclair opened #53618 "Kubelet subdivided authz by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

Today, the Kubelet surfaces it's APIs through 2 ports: 10250 is the authenticated port, which provides full API access including the ability to exec into containers running on the node, and 10255 is the "readonly" port, which provides access to the readonly APIs (such as various stats & metrics) but is unauthenticated

[2017-10-09 22:20] tallclair commented on #53618
Alternatively, do we have any way for cluster components (Kubelets, in this case) to delegate authn & authz to the cluster? I.e. Kubelet asks the cluster to validate some credentials?

[2017-10-09 22:34] yguo0905 commented on #53616
https://github.com/kubernetes/kubernetes/issues/50658. Looks like this is the intended behavior going forward.

[2017-10-09 22:36] tallclair commented on #53618
Thanks @liggitt for setting me straight. I've updated this issue to make the existing mechanisms the default.

[2017-10-09 22:36] vladimirvivien opened #53619 "ScaleIO - credentials could be accessed by non-admin users"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When managing or using volumes with a ScaleIO StorageClass, it is required that the secret object be created in every namespace where the StorageClass will be consumed. This allows authorized non-admin k8s users, who are authorized to see secrets in his/her namespaces, to also have unauthorized access to ScaleIO admin cred

[2017-10-09 22:37] vladimirvivien commented on #53619
/sig storage

[2017-10-09 22:43] shyamjvs commented on #53600
Makes sense. However (correct me if I got something wrong):

An embedded appliance has hardware limitations, and IIUC the conformance is for the k8s distro, which is at the software level. Using insufficient hardware for large scale tests would of course fail, but that shouldn't invalidate the scalability of the distro. So let me restate it more clearly as follows:

`Given a k8s distro and enough

[2017-10-09 22:53] MrHohn commented on #52347
Sounds reasonable to me. We may need yet another `DELETE_NETWORK_SUBRESOURCES` env to trigger it? As deleting everything correlated to that network sounds a bit dangerous.

[2017-10-09 23:04] enisoc commented on #53617
@kubernetes/sig-api-machinery-bugs Is it expected that an integration test would exceed 8192 goroutines (mostly started in apiserver code) if it starts a number of apiservers? That seems excessive to me, but if it's normal we should probably limit the concurrency of integration tests. If it's not normal, it seems like we are leaking goroutines.

Some examples of what those 8192 goroutines are doin

[2017-10-09 23:09] MrHohn commented on #52347
Well, took another look, seems like the actual thing that prevented us from deleting the network was mostly firewall rules, and deleting those sounds safe enough if we are going to delete the network anyway. Will try to make a PR for this.

[2017-10-09 23:16] jingxu97 commented on #52336
@thomas-riccardi We are trying to debug this issue. Is that possible you share your full log with us? Also in your system, did you try to set hard eviction threshold or reserve disk resources for kubelet?
https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#hard-eviction-thresholds. https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#kube-reserved

Also d

[2017-10-09 23:42] enisoc commented on #47960
@jacohend Can you share the output of `kubectl version`? A small example manifest that triggers the problem would also be helpful. Thanks.

[2017-10-09 23:48] hixichen commented on #53333
@MengZn @MarkDeckert

You may want to read this PR.
https://github.com/kubernetes/kubernetes/pull/47181

[2017-10-09 23:55] dims commented on #53570
Could this recent change be the source of issue? https://github.com/kubernetes/test-infra/pull/2771

[2017-10-09 23:57] krzyzacy commented on #53570
I don't think we've updated the image with that change yet

[2017-10-10 00:43] timothysc commented on #53600
It's not in the purview of this sig-scale to decide this.  Only @kubernetes/sig-architecture-feature-requests has that power, and @kubernetes/sig-testing-feature-requests to enforce it.

Right now the means of validation is not there, and we can not/should not add the [Conformance] unless there are non-flakey tests that the field can trust.

[2017-10-10 01:25] techtonik commented on #35359
#47558 is fixed, so do Mac OS builds start to work?

[2017-10-10 01:33] countspongebob commented on #53600
Agree about sig-scale's role in this as a decider. It is IMHO in the purview of SIG-scale to formulate a proposal to the relevant groups should there be energy people want to put into it, though. I will argue against it as useful per my points above as a general certification criteria.  As Tim points out -  the testing suites would need considerably further development so as a practical issue it's

[2017-10-10 01:42] wackxu commented on #52872
- [x] ddd
- [x] ddd
- [x] ddd
- [x] ddd
- [x] ddd
- [ ] ddd
- [ ] ddd
- [ ] ddd
- [ ] ddd

[2017-10-10 01:54] pineking commented on #52412
@cmluciano do you have the plan to implement this in v1.9?

[2017-10-10 02:15] itowlson commented on #52129
This looks like it would be covered by issue #53274 which is covered by PR #53557.  @marceldempers can you confirm this is the same issue you've reported and that the proposed feature (service annotation for the IP address resource ID or the resource group containing the IP) would meet your needs?

[2017-10-10 02:49] ScorpioCPH commented on #52861
@jiayingz Thanks!

Do you know where is `Dockerfile` for image `gcr.io/google-containers/device-plugin-gpu` and `gcr.io/google-containers/cos-nvidia-driver-install`.

I want to follow these `Dockerfiles` to build `device-plugin-gpu` image for ubuntu.

[2017-10-10 02:51] itowlson commented on #43608
Should this now be closed?

[2017-10-10 02:55] guangxuli commented on #53577
@xiangpengzhao okay, i will work on this.

[2017-10-10 03:04] wackxu commented on #52872
@frodenas We can trace all the task for update metrics.RegisterMetricAndTrackRateLimiterUsage invocations, and I am very happy to help fix it.
- [x] bootstrapsigner.go
- [x] tokencleaner.go
- [x] core.go
- [x] cronjob_controller.go
- [x] daemon_controller.go
- [x] deployment_controller.go
- [ ] endpoints_controller.go
- [ ] gc_controller.go
- [ ] job_controller.go
- [ ] namespace_controller.go
- [

[2017-10-10 03:40] klynch commented on #53379
This is happening for other CRDs as well (Prometheus Operator ServiceMonitors). If I apply a ServiceMonitor CRD 3 times:

[code]

If I remove the annotation `kubectl.kubernetes.io/last-applied-configuration` or replace the object (`kubectl replace -f rest.yaml`) then I can work around the issue.

[2017-10-10 04:04] camflan commented on #52783
I'm having this issue as well. It's strange that all pods come up without any errors in the logs.

@elvizlai why do you think we need to change the cluster-cidr? Because services/pods are on different /8 subnets?

How would you change this while bootstrapping via kubeadm, I don't see an option to set the `--cluster-cidr`

[2017-10-10 04:09] liggitt commented on #50916
Is it possible you're hitting https://github.com/coreos/etcd/issues/8411 (fixed in etcd 3.2.6+)? We saw this impact the apiserver watch cache (https://github.com/kubernetes/kubernetes/pull/43152#issuecomment-329583303, https://github.com/kubernetes/kubernetes/pull/43152#issuecomment-329835310), but it could affect any watch client connected to an etcd member that dropped and then restored from the

[2017-10-10 04:13] liggitt commented on #50916
other questions:
* how many etcd members?
* are you running api servers with `--etcd-quorum-read`?

[2017-10-10 04:19] tnachen commented on #5774
Will love to see some discussion around the work needed here to make this happen. Is there any existing docs about designing yet or?

[2017-10-10 04:24] outcoldman commented on #24677
FYI for people interested in Splunk + Kubernetes. We just published first version of our application "Monitoring Kubernetes" (https://splunkbase.splunk.com/app/3743/) and collector (https://www.outcoldsolutions.com). Please take a look on our manual how to get started https://www.outcoldsolutions.com/docs/monitoring-kubernetes/

[2017-10-10 04:51] xiangpengzhao commented on #53189
/sig testing
/area kubelet

[2017-10-10 04:52] xiangpengzhao commented on #53189
/remove-area kubelet

[2017-10-10 04:52] xiangpengzhao commented on #53189
/remove-sig testing

[2017-10-10 05:07] ConnorDoyle commented on #53616
I think this behavior is desirable, since it is consistent with what users already expect when requests for other resources are not satisfiable. Also, if matching resources are freed on a node or a new node appears with matching resources then the pod can be scheduled in a later iteration.

@jiayingz did you expect something else to happen? If so what are the alternatives?

[2017-10-10 05:46] wojtek-t commented on #50115
I completely agree with @jlowdermilk . I looked again into the original PR implementation, and TBH, I don't think there is "hard no" that has been expressed there. There are some concerns that @liggitt mentioned, but I think we should revisit that approach as the approach using apiserver sounds better in the context of unintentional/intentional user modifications.
Another data point is that: "what

[2017-10-10 05:53] davidopp commented on #5774
@kubernetes/sig-node-feature-requests

[2017-10-10 06:03] liggitt commented on #50115
It's not a concern over permission to view node API objects, it's over the source of truth for the cluster topology. Currently, node API objects are self registered, and self-report zones, addresses, and  labels. The presumption of kubernetes/community#911 is that there is *some* source of truth that doesn't depend on node self-reporting.

The solution might be as simple as the node controller loo

[2017-10-10 06:13] wojtek-t commented on #53600
I agree with the concerns about state of out tests. But maybe the first step is to actually say that "all the conformance correctness tests are also passing in large-enough clusters"?

That sounds like a very good point. OTOH, is this still a Kubernetes if it only scales to say 5 or 10 nodes? In my opinion not really - it's something like "small-scale Kubernetes", but that doesn't mean to me that

[2017-10-10 06:19] wojtek-t commented on #50115
@liggitt - thanks for the comment. Now I see your point.
Regarding the solution - the "node-controller" approach is how I would also solve it.

That said, before we are at this point, I think that using those "self-reported" zone information is still better than the current code with assumption of all zones in a region.
So personally, I would proceed with the approach of using apiserver, instead o

[2017-10-10 06:31] piosz commented on #53615
SGTM
Can we make sure that:
- standalone cadvisor deployment is ready (especially the deployment files exist)
- the information is widely broadcasted

Also, correct me if I'm wrong, but this means that there will be no more resource usage metrics in Prometheus `/metrics` endpoint.

cc @fabxc @brancz

[2017-10-10 06:55] fgrzadkowski commented on #53615
Excuse my ignorance, but does it affect /summary endpoint that heapster is
using?

--
Filip

On Tue, Oct 10, 2017 at 8:31 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2017-10-10 06:57] fabxc commented on #53615
I think cAdvisor uses the global Prometheus metric registry, so as long as the kubelet imports some cAdvisor package adding metrics to that, the general `/metrics` endpoint will still expose them.
Ideally that should not be the case since a standalone daemon set is preferable.

[2017-10-10 07:16] m1093782566 opened #53632 "Move endpoints IPPart() to util"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

The latest IPPart() supports IPV6, we need to update it in proxier.go

**What you expected to happen**:

Move endpoints IPPart function to util so that it can be consumed by different proxiers.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2017-10-10 07:17] tushar00jain opened #53633 "[Feature Request] Pod Lifecycle"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

**What you expected to happen**:
Have a use case when containers in a pod need to be killed in some predefined order. Will in be possible to add a pod-level lifecycle as there is for container lifecycle. For example, something like kill `Container 2` if `Container 1` has shut down, where both containers are in the sam

[2017-10-10 07:33] #53421 closed

[2017-10-10 07:33] #52872 closed

[2017-10-10 07:33] #53052 closed

[2017-10-10 07:39] yulong12 commented on #53333
@kad I try it,but it has bug too

[2017-10-10 07:47] karataliu opened #53635 "cloud-controller-manager image does not have ca certs pre-installed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Using image :`gcr.io/google_containers/cloud-controller-manager:v1.8.0`

When cloud sdk talks to an https endpoint, it will fail with error:
[code]

That's due to CA cert packages not pre-installed on the image.

A workaround is to bind host '/etc/ssl' to the running container, then it can work well.

The 'hyperkube' image

[2017-10-10 07:47] NormanWang06 commented on #48633
@smarterclayton
1.8 is released!
But kubectl exec still use SPDY/3.1.
Is there any way we can set kubectl to use websocket? or server side version must be 1.8+?

client version is: v1.8.0
server version is: v1.6.6

[2017-10-10 07:48] karataliu commented on #53635
/area cloudprovider

[2017-10-10 07:49] m1093782566 opened #53636 "Should remove hard code of session affinity timeout in winows kernel proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

winows kernel proxy still hard code the timeout value of session affinity.

**What you expected to happen**:

Remove hard code of session affinity timeout in winows kernel proxy - we have already done this in userspace, iptables and ipvs proxy.

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2017-10-10 07:49] kad commented on #53333
@yulong12 what have you tried and what has bug ? is it the same issue described here in original report or something unrelated (new issue number?) ?

[2017-10-10 07:52] yulong12 commented on #53333
@kad root@ubuntu:~# kubeadm init --skip-preflight-checks
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.8.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Skipping pre-flight checks
[kubeadm] WARNING: starting in 1.8, tokens expire after 24 hours by default (if you require a non-expiring token use --token-ttl 0)
[

[2017-10-10 07:52] yulong12 commented on #53333
@kad kubeadm reset

add "Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false"" to /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

systemctl daemon-reload

systemctl restart kubelet

kubeadm init --skip-preflight-checks

[2017-10-10 08:07] resouer commented on #53601
cc @Crazykev who once asked me about this confusion and I suggest him to do a clean up. >_<

[2017-10-10 08:11] rhuss opened #53637 "kubeadm config "tokenTTL: 0s" or "--token-ttl 0" config has no effect"
**BUG REPORT**:

/kind bug

**What happened**:

When using `kubeadm` with a token generated by `kubeadm token generate` in advance, but also when letting kubeadm create the token, a `tokenTTL` configuration is ignored. The same is true when not using a config file but using `kubeadm init --token-ttl 0`

**What you expected to happen**:

I would expect when providing a tokenTTL of 0s that the token

[2017-10-10 08:20] m1093782566 opened #53639 "Implement windows kernel mode proxier UTs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, upstream CI doesn't run any UT for windows kernel mode proxier. I feel like it's import to implement some UTs for window kernel mode proxier.

I ALWAYS have some bandwidth and would love to contribute codes.

@kubernetes/sig-network-misc @thockin @bowei @dcbw wdyt? ^_^

@madhanrm Could you please help review P

[2017-10-10 08:20] m1093782566 commented on #53639
/assign @m1093782566

[2017-10-10 08:28] ayaranga opened #53640 "Not complete support for flags of Boolean type in kubectl plugins"
When invoking any plugin by kubectl, it exports the options specified in plugin YAML file as env vars. If there are any options that need to be designed as Boolean type, for example, if you want to have a Boolean type option "create-instance" then the plugin should always be invoked as follows:
[code]
instead of just
[code]
You need to explicitly specify the value otherwise the env var values get

[2017-10-10 08:29] Crazykev commented on #53601
@resouer Thanks, very glad to do the clean up part.  @yujuhong Is there any plan for deprecation part?

[2017-10-10 08:36] Kitanotori commented on #44308
Correct pronounciation for Kubernetes/κυβερνήτης:
 https://forvo.com/search/%CE%BA%CF%85%CE%B2%CE%B5%CF%81%CE%BD%CE%AE%CF%84%CE%B7%CF%82/el/

I assume @chaidas is native Greek speaker, so would you say that's correct?

[2017-10-10 08:44] wackxu commented on #53637
I would help fix it.

[2017-10-10 08:58] lichuqiang commented on #53616
I've no idea. Scheduler could only check if the names of resources requested follow the _naming scheme_, but could not tell if corresponding resources exists indeed.
I'm afraid users have to know what they really want, and the resources they requested are "in legal".

[2017-10-10 08:59] hzxuzhonghu commented on #53438
There may be case all three apiservers is behind a LB, and the `advertise-address` is set the same vip. It is hard to judge if the 3 apiservers use the same `advertise-address`.

[2017-10-10 09:02] m1093782566 commented on #53639
/windows

[2017-10-10 09:08] kad commented on #53333
@yulong12 please do `kubeadm reset` following with `kubeadm init` but please, don't use `--skip-preflight-checks` argument.
Also, output of suggested by kubeadm commands usually helps a lot to debug issues:
 - 'systemctl status kubelet'
 - 'journalctl -xeu kubelet'

[2017-10-10 09:26] brancz commented on #53615
Starting with the `1.7.3` release those metrics are not available in the `/metrics` endpoint anymore, but the `/metrics/cadvisor` endpoint.

I believe there was a refactoring in cAdvisor at some point, that allowed injecting a metrics registry, but I might be wrong.

I believe a migration for this is what is meant in the description of the issue by "as part of the migration to CRI". This is someth

[2017-10-10 09:35] airstand commented on #53059
k8s version 1.8 .. on AWS:
[code]

[2017-10-10 09:37] shyamjvs commented on #53600
Strongly agree :)

@countspongebob @timothysc Your arguments sound quite reasonable. Can we discuss this further (maybe in sig-architecture weekly?

[2017-10-10 09:42] unixwitch commented on #53379
Seems any CRD is affected; the CRD used by our [database provisioner](https://github.com/torchbox/k8s-database-controller/) are also not working:

[code]

This has completely broken our CI/CD workflow... unfortunately we'd already completed the TPR->CRD migration for the 1.8 upgrade before noticing this problem, so we can't really downgrade.

How safe is `kubectl replace` as an alternative to `app

[2017-10-10 09:44] edevil commented on #52789
"modprobe" also went missing in 1.8 hyperkube images... Both kubelet and kube-proxy need it.

[2017-10-10 09:51] jamiehannaford commented on #4672
Now that kubelet supports auto-rotation of certs using the Certificate Request Signing API (see https://github.com/kubernetes/kubernetes/pull/45059), can other clients do the same thing?

One potential issue is how CSR will be approved for non-node clients. After https://github.com/kubernetes/kubernetes/pull/45619, this criteria needs to be matched for a CSR to be auto-approved:

Hopefully compone

[2017-10-10 09:54] jamiehannaford commented on #52789
@edevil Are you noticing any buggy behaviour on those components without it? Would you mind creating an issue and/or PR to restore that dep

[2017-10-10 09:57] jmastr opened #53644 "Container spec hash changed. Container will be killed and recreated."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

During the update from v1.7.1 to v1.8.0 all docker containers were restarted, because container spec hash changed.

**What you expected to happen**:

No restart of the docker containers, because they did not change at all.

**How to reproduce it (as minimally and precisely as possible)**:

- get yourself a k8s cluster in

[2017-10-10 09:59] edevil commented on #52789
Done: https://github.com/kubernetes/kubernetes/issues/53396
And done: https://github.com/kubernetes/kubernetes/pull/53642

:)

[2017-10-10 10:00] jmastr commented on #53644
/sig area/kubelet

[2017-10-10 10:28] yulong12 commented on #53333
@kad I try all method which you suggest,but output the same mistake

[2017-10-10 10:51] chaidas commented on #44308
@Kitanotori yup, that's exactly it!

[2017-10-10 10:54] zjzhangkui opened #53649 "Redirect service port to container port when using Invalid Certificate for https"
Is this a BUG REPORT or FEATURE REQUEST?: BUG REPORT

/kind bug

**What happened**:
Deploy websphere on k8s 1.6.4,  expose container port 9043 and create nodeport with 30170, container start successful , when visit websphere console(https://ip:30170/ibm/console) via https, browser prompt invalid certificate due to self signed certificate, choose continue to visit the url, the url changed to https:

[2017-10-10 10:57] thomas-riccardi commented on #52336
I'm restarting the deployments on this cluster to reproduce the issue again. Then I'll test `--feature-gates=LocalStorageCapacityIsolation=false`, but I believe it won't help because the pods are not evicted by `m.localStorageEviction`, but by the general pod eviction (log: `must evict pod(s) to reclaim nodefs`).

@jingxu97 :
* what logs do you need? will kubelet verbose=20 on one node be enough?

[2017-10-10 11:45] kad commented on #53333
@yulong12 without running kubeadm **with** preflight checks and without log output of kubelet it will be impossible to figure out reasons for your error.

[2017-10-10 12:05] tesi-nahid opened #53650 "problem with hpa in multiplatform architucture"
Hello guys,
I've implemented one deployment containing 2 pods , each pod running in different nodes(one in amd64 another in arm) ,I defined two label and node selector for each nod and pod respectively(type: "arch2 " for amd64 ,  type: "arch1" for rasspberry) ,
when I am autoscalling my deployment from this yaml file,only nodeselector "type: "arch2 "" is working ,meaning last node selector in Yaml

[2017-10-10 12:25] nikhita commented on #53379
It looks like something going wrong during the patching. After using changes from https://github.com/kubernetes/kubernetes/pull/53558, I get this:

[code]

/cc @sttts @deads2k @enisoc
/area third-party-resource

[2017-10-10 12:31] nikhita commented on #53379
But `kubectl apply` uses json merge patch and not strategic merge patch for custom resources: https://github.com/kubernetes/kubernetes/pull/40666.

[code]

[2017-10-10 12:36] zreigz opened #53654 "Can't resolve full domain name in container"
I have installed kubernetes(1.7.8) cluster on local server using kubeadm + flannel.
[code]

I have two pods:
- busybox
- post-deployment-setup-wn6f8 with SUSE base image

When I check DNS for busybox full domain name works fine:

[code]
but short name doesn't:

[code]

For second pod the situation is reversed:
For full name doesn't work

[code]
For short name works:

[code]
I am trying prepare con

[2017-10-10 12:39] tesi-nahid commented on #53650
/sig area/kubectl

[2017-10-10 13:23] dixudx commented on #53654
/sig network

[code]

Even if the FQDN cannot be resolved, the error message should be `nslookup: can't resolve 'uaa.uaa'` instead of `;; connection timed out; no servers could be reached`. Please help check whether your `kube-dns` is working well.

Seems quite tricky that two short names are working differently.

@zreigz Please help check `/etc/resolv.conf` of both containers to see whether `name

[2017-10-10 13:25] rgooding opened #53657 "Changing ExternalTrafficPolicy on GKE does not update load balancer health check"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Changing externalTrafficPolicy from Cluster to Local on an existing service does not create a health check or reconfigure the load balancer to use it. This means the load balancer will now send traffic to unhealthy nodes, causing connection timeouts.

The Events section under `kubectl describe service` shows the ExternalTr

[2017-10-10 13:39] rgooding commented on #53657
/sig network

[2017-10-10 13:39] m1093782566 commented on #53639
/unassign @m1093782566

[2017-10-10 13:40] php-coder opened #53658 "pkg/apis/extensions/validation/validation_test.go: extract function for creating valid PSP"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup
/sig auth

**What happened**:
We have 2 functions for creating valid PSP that are local to different tests: [the first](https://github.com/kubernetes/kubernetes/blob/46c2bfe47df0806536f75f7c3e913aadd2ed05b9/pkg/apis/extensions/validation/validation_test.go#L2782-L2800) and [the second](https://github.com/kubernetes/kubernetes/blob/46c2bfe

[2017-10-10 13:41] m1093782566 commented on #53639
I find the most challenging part is that `winkernel/proxier.go` doesn't abstract `hcsshim` which is unable to run in !windows platform

[2017-10-10 13:50] dixudx commented on #53640
@ayaranga I don't think we should mark this as a bug. A feature should be okay, since only `string` is currently supported as `kubectl plugin` flags for default subcommand runner. Alternatively you can have your own command runner to handle this, please refer to [kubectl plugin aging](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/plugins/examples/aging) for an example.

@pwittro

[2017-10-10 14:02] gyliu513 opened #53659 "Do not evict critical pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If I create a deployment or daemonset and set the pods as critical pods with `scheduler.alpha.kubernetes.io/critical-pod: ''`, then the pods in the deployment or daemonset can still be evicted because they are not static pod.

**What you expected to happen**:
Do not evict critical pods even if they are not static pod.

**

[2017-10-10 14:03] PI-Victor commented on #53658
sure, if you can /assign you can assign it to me

[2017-10-10 14:05] gyliu513 commented on #53659
/cc @jingxu97

Some of the related code is here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L564-L568

[2017-10-10 14:07] php-coder commented on #53658
@PI-Victor No, I can't but you can claim that you're going to take it, so no one will steal it :)

[2017-10-10 14:19] dixudx commented on #53633
@tushar00jain  Why not using [liveness probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/) for `Container 1` when starting `Container2`.

[code]

[2017-10-10 14:26] dixudx commented on #53659
@gyliu513 I think we should keep checking static pods. They are quite different.
How about changing to this

[code]

Since currently we won't mark a pod as static pod and critical pod at the same time.

[2017-10-10 14:32] julia-stripe commented on #50916
1. We have 3 etcd members
2. We're not running the apiservers with `--etcd-quorum-read`. I'd never heard of that option right now (it's not mentioned in the documentation anywhere, though I found a lot of github issues saying it's important to turn it on in a HA setup). Going to try that right away and see if it helps.

[2017-10-10 14:36] ncdc commented on #53617
Do you have a full stack dump of all the goroutines? We could run them through panicparse to get some summarized details.

[2017-10-10 14:55] mandrean opened #53661 "[kubectl] Previously working kubeconfig gives loading error on v1.8.0"
/kind bug
/sig kubectl

**What happened**:
Running `kubectl config get-contexts` crashes with the error message:

[code]

**What you expected to happen**:
Showing the available kube contexts.

**How to reproduce it (as minimally and precisely as possible)**:
1. Save this sanitized, dummy kubeconfig to e.g. `/tmp/kubeconfig`:

[code]

2. Download both a _working_ `kubectl` version for this config (

[2017-10-10 15:11] leblancd commented on #47666
Another PR needed for IPv6 e2e testing (in addition to those listed above):
PR #53569

[2017-10-10 15:13] mandrean commented on #53661
/sig kubectl

[2017-10-10 15:22] dims opened #53663 "syncRolloutStatus is missing test cases"
Please see https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/progress.go#L35 There are no unit tests currently for that method. This would be a good started PR for someone interested in helping with Kubernetes.

[2017-10-10 15:23] bgrant0607 commented on #44308
Jess is close. I think most people pronounce it koob-er-net-eez. Anyway, this is not the right repo. This belongs in kubernetes.github.io.

[2017-10-10 15:23] #44308 closed

[2017-10-10 15:32] yujuhong commented on #53615
I believe the intention of this issue is to remove the port that exposing the cadvisor API and UI directly. It should not affect kubelet's summary API nor prometheus metrics endpoint for *existing* integration.

In the future for non-docker runtimes integrating through CRI, we will turn off the embedded cadvisor's container stats collection. kubelet will then get the container metrics from the run

[2017-10-10 15:48] gnufied commented on #53590
/assign

[2017-10-10 15:54] k82cn commented on #53663
/sig apps

[2017-10-10 15:54] brancz commented on #53615
I was not aware that the CRI can be used to retrieve these metrics for containers. Could you link me to documentation/design for these?

[2017-10-10 15:59] yujuhong commented on #53615
https://github.com/kubernetes/community/blob/master/contributors/devel/cri-container-stats.md

[2017-10-10 15:59] k82cn commented on #53663
/cc @jinzhejz

[2017-10-10 16:03] yujuhong commented on #53601
It depends on the progress of rktlet. The folks who are currently working on rktlet and are migrating off rktnetes would be a better source.

[2017-10-10 16:06] thomas-riccardi commented on #52336
I reproduced the issue again, and restarted kubelet with `--feature-gates=LocalStorageCapacityIsolation=false`, and the issue happened again :
[code]

I did not reproduce the issue with ~50 pods in 3h, and finally reproduced with ~200 pods in 15min.

[2017-10-10 16:13] dchen1107 commented on #53601
It was included in sig-node's 1.9 planning draft, and discussed at sig-node meeting. It was removed for 1.9 because 1) the user (for example: blablacar) is currently depending on it 2) rktlet is under development. We can announce the deprecation now to prevent more users from using it. Once rktlet is done, we can remove it completely.

[2017-10-10 16:14] iaguis commented on #53601
We're currently working towards an initial rktlet release, which will be tested by Blablacar. We'll give an update next week with the progress.

[2017-10-10 16:14] gyliu513 commented on #53659
@dixudx that make sense, thanks!

/cc @jingxu97 what do you think? Hope can get some comments from you.

[2017-10-10 16:24] ralberto commented on #50004
I've deployed a kubernetes cluster using version 1.8.0 and verified that the problem remains. Here's the
[controll-manager logs](https://github.com/kubernetes/kubernetes/files/1372614/cmanager.zip).

Here's what I've done.
- Created a cluster with 3 masters (smartiot-node1; smartiot-node2; smartiot-node3) and 3 worker nodes (smartiot-worker1; smartiot-worker2; smartiot-worker3).
- Deployed a pod,

[2017-10-10 16:28] jiayingz commented on #53616
My major concern is that before 1.8, people can implement a scheduler extender to manage some cluster-level resources that are not necessarily advertised on individual nodes, but now pods requesting such resources would be marked with InsufficientResourceError before even reaching the scheduler extender.

[2017-10-10 16:30] julia-stripe commented on #50916
Switched to using `--etcd-quorum-read` and the scheduler has crashed twice since then with this error. So it doesn't seem to have fixed the issue.

[2017-10-10 16:35] yujuhong commented on #53532
/cc @freehan

[2017-10-10 16:35] dims commented on #53570
@krzyzacy - that got past the `jq` issue. thanks!

Both `pull-kubernetes-e2e-kubeadm-gce` and `ci-kubernetes-e2e-kubeadm-gce` are broken:

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kubeadm-gce
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/

Symptom seens to be a problem with CNI initializatio

[2017-10-10 16:36] dims commented on #53570
@krzyzacy @fejta - can one of you please get me the kubelet logs for one of the latest runs?

[2017-10-10 16:43] madhusudancs commented on #38537
Assigning it to @quinton-hoole and @marun for triage.

 /assign @quinton-hoole @marun

[2017-10-10 16:49] crimsonfaith91 commented on #53617
@ncdc Yes, but the file is very big (around 4MB). Most of the goroutines have same output. The partial stack dump above highlights most of the output.

[2017-10-10 16:53] jingxu97 commented on #53659
cc @dashpole

[2017-10-10 16:55] ericchiang commented on #52270
cc @kubernetes/sig-multicluster-test-failures

[2017-10-10 16:56] roberthbailey commented on #53570
@kubernetes/sig-cluster-lifecycle-bugs

[2017-10-10 16:56] zihaoyu commented on #50529
/sig federation

[2017-10-10 16:56] nikhita commented on #53663
/for-new-contributors

[2017-10-10 17:01] #53613 closed

[2017-10-10 17:06] kargakis commented on #53663
/assign

[2017-10-10 17:07] kargakis commented on #53663
I want this done by the end of this week so we can cherry-pick both the unit test and https://github.com/kubernetes/kubernetes/pull/53614 back to 1.7 and potentially 1.6.

[2017-10-10 17:08] bsalamat commented on #47604
/remove-kind bug

[2017-10-10 17:16] nikhiljindal commented on #52315
@kubernetes/sig-network-feature-requests
/sig networking

[2017-10-10 17:21] nbutton23 commented on #53489
I believe they are moving away from the `KubernetesCluster` tag since there are many resources that can be shared by multiple clusters.

could you use an annotation? `service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags`

[code]

[2017-10-10 17:25] shashidharatd commented on #52992
/sig multicluster

[2017-10-10 17:27] walteraa commented on #52315
@nikhiljindal The same is happening to DNS entries. I think when a federated service is deleted, all entries referring to this service should be deleted as well. What do you think?

[2017-10-10 17:39] puja108 commented on #53370
I just ran into this, when testing our upgrade to 1.8.0, for users with privileged PSP (incl. `allowPrivilegeEscalation: true) it works without problems btw.

Any hints on when 1.8.1 will land?

[2017-10-10 17:41] nicksardo commented on #53475
Actually, it's not sufficient. Right after that block of code, it tries to retrieve the address by name - a name which may be the user's.
https://github.com/kubernetes/kubernetes/blob/862b0bc4fd0b5aa7ae9bcfd6cb5527cd54a3b301/pkg/cloudprovider/providers/gce/gce_loadbalancer_external.go#L943-L954

I'm thinking this issue is not worth fixing.

[2017-10-10 17:41] dims commented on #53370
@puja108 https://groups.google.com/d/msg/kubernetes-dev/hmT68t6VQ1o/7u7yKaBTBgAJ

[2017-10-10 18:01] dchen1107 commented on #53396
cc/ @jdumars @kubernetes/kubernetes-release-managers 1.8 release team.

[2017-10-10 18:08] rphillips commented on #53396
There is PR https://github.com/kubernetes/kubernetes/pull/53642 as well, so it doesn't get lost.

[2017-10-10 18:09] danehans commented on #53013
/sig network

[2017-10-10 18:20] #53323 closed

[2017-10-10 18:27] msgongora commented on #52434
I'm having same issue:
[code]

[2017-10-10 18:39] nikhiljindal commented on #36657
Sorry for the delayed update. Didnt get a chance to work on this. Unassigning so that someone else can pick it up.

[2017-10-10 18:42] erikgrinaker commented on #52341
/sig multicluster

[2017-10-10 18:44] vishh commented on #53497
@lichuqiang Thanks for volunteering. That will have to wait on @jiayingz's design doc for the internal architecture though. Without an approved plan, refactoring may not end up yielding the value necessary.

Meanwhile, are you interested in picking up any other work items?

[2017-10-10 18:44] quinton-hoole commented on #53432
/sig multicluster

[2017-10-10 18:45] quinton-hoole commented on #53432
Sounds like a useful feature. @ljmatkins are you willing/able to submit a design proposal?

[2017-10-10 18:47] quinton-hoole commented on #51806
/sig multicluster

[2017-10-10 18:49] nikhiljindal commented on #52315
@walteraa Please feel free to file an issue for that. Please include steps to repro if you are able to repro it consistently.

[2017-10-10 18:50] grosser opened #53669 "show SystemOOM in events and in pod termination status"
### Setup
 - 2 nodes with 1GB ram
 - 10 pods with requests: 10M limits: 500M
 - fill em up until it fails (10x500m > 2x1G)
 - kubernetes v1.5.7 on aws

### Expected
some nice event telling me that the pod got SystemOOM - oomkilled and a nice termination status ... not just "Error" ... so we can report on this happening and it is obvious when debugging

### Actual
watching pods shows:
[code]

... n

[2017-10-10 18:52] jiayingz commented on #52861
https://github.com/GoogleCloudPlatform/container-engine-accelerators for device plugin
https://github.com/ContainerEngine/accelerators for installer.

[2017-10-10 18:57] clewis opened #53670 "HPA scaling above spec.maxReplicas"
/kind bug

**What happened**:
Since upgrading to Kube 1.7.6, I'm seeing my HPAs scale above it's maxReplicas.  Because of this, it's rapidly creating pods, then terminating them, and repeat.

**What you expected to happen**:
I expected the HPA to never exceed maxReplicas.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

The HPA is logging:
[code]

This seems to happen wit

[2017-10-10 19:02] DirectXMan12 commented on #53670
@kubernetes/sig-autoscaling-bugs

[2017-10-10 19:06] DirectXMan12 commented on #53670
Yeah, I think the bug is that we have a case short-circuiting another case.

[2017-10-10 19:26] shyamjvs commented on #53327
I digged deeper into this today and here's what I found:
- Earlier when kubemark-scale had quite some green runs in a row, the runs took lesser time consistently (~15hr) and then it increased (~18hr) which is when we also start seeing many failures
- This increase seems to be due to:
  - If load test is running first, the namespace deletion is leading to timeout (due to pods remaining undeleted)

[2017-10-10 19:26] enisoc commented on #51484
There are still some items on this, right?

[2017-10-10 19:27] shyamjvs commented on #53327
Will look at other smaller scale kubemark jobs too if we're seeing a similar issue there.

[2017-10-10 19:29] crimsonfaith91 commented on #51484
@enisoc Yes, it is closed when the PR merged as i didn't specify `xref` when referring to this issue. Thanks!

[2017-10-10 19:30] derekwaynecarr opened #53672 "HugePages work tracker"
This issue is meant to track planned work items for pre-allocated hugepages across releases.

This issue captures the plan of record discussed in the wg-resource-mgmt meetings.

## v1.9
- [x] HugePages should be restricted via ResourceQuota [**Owner**: @lichuqiang , fixed #54292]

Assess ability to graduate feature to beta.

## 1.10
- [x] HugePages should require the user to request cpu or memory

[2017-10-10 19:30] shyamjvs commented on #53327
Ok.. It seems like there's also a bump in time for kubemark-500 job (from 47m -> 1h) across runs 8256 and 8257 (https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce?before=8275). And this was around the same time we saw the bump for kubemark-5000. This is great, we now have a much smaller [diff](https://github.com/kubernetes/kubernetes/compare/4b63c1fb90

[2017-10-10 19:31] dims commented on #53570
Thanks for the kubelet logs @krzyzacy Looks like the containers are crash looping

[code]

[2017-10-10 19:35] shyamjvs commented on #53327
We're also seeing a small difference for kubemark-100 (from 40m -> 45m) across runs 4369 and 4370 (https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce?before=4385) but the diff is the same. From the diff:

- Wait for container cleanup before deletion #50350 (my main suspicion is on this - this was the one also causing kubelet thundering herd issue #5189

[2017-10-10 19:52] arno01 commented on #35062
@unixwitch I just had the same, right after upgrading K8s master node from 1.7.5 up to 1.8.0. Docker 17.09.0-ce on CentOS 7.4 (3.10.0-693.2.2.el7.x86_64).

After K8s master node reboot this message stopped to appear.

[2017-10-10 19:58] deitch commented on #40651
So the exposure of a single annotation has been merged in, but there is no annotation for the index itself? i.e. the following does not exist as an annotation?

[code]

[2017-10-10 20:02] deads2k commented on #49038
Which apiserver?  Given CRD and aggregated apiservers, we know that we unrecognized content even if we specifically define the GVK.  `kube-apiserver` cannot assume the power to encode/decode and other apiservers would be responsible for their own admission chains.

[2017-10-10 20:03] deads2k commented on #49038
There is an in-depth exploration of what is required to have both of these come to beta here: https://github.com/kubernetes/community/pull/1137 .

[2017-10-10 20:10] embano1 commented on #50916
@julia-stripe I also accidentally stumbled across this setting, which is the default in recent Kubernetes environments (also with the improved support on the etcdv3 side). Not directly related, but have a look at this issue how a certain etcd version caused cluster trouble (https://github.com/kubernetes/kubernetes/issues/52498).

Did you try downgrading etcd? Just a blind guess...

[2017-10-10 20:44] timothysc commented on #53502
This is needed to 1.8 conformance testing, so I've bumped as cherry-pick.

[2017-10-10 20:45] leblancd opened #53674 "Allow e2e ServiceLoadBalancer test to run without cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig network
/area ipv6

**What happened**:
If the e2e ServiceLoadBalancer test ("[It] should support simple GET on Ingress ips")
is run with a "local" or "skeleton" cloud provider (or the cloud provider doesn't have any external IPs
available), e.g.:
[code]
then the test fails with the following error:
[code]

**What you expected to ha

[2017-10-10 21:11] frodenas commented on #52872
@wackxu Please go ahead with the ones not yet updated if you want.

[2017-10-10 21:13] seh commented on #43755
I ran into this same problem running _kubectl apply --prune_ with the following versions in play:
[code]
None of the manifests in the files submitted to _kubectl apply --prune_ are of kind _Deployment_, nor are any of the objects in the cluster selected by the label selector I passed via the `--selector` flag.

[2017-10-10 21:38] derekwaynecarr commented on #53395
@vishh -- this is complicated.  can we discuss this in resource mgmt wg call?

[2017-10-10 21:40] caseydavenport opened #53680 "Enable ip-masq-agent by default on GCE"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Created a cluster on GCE using the cluster/kube-up scripts and Calico enabled for NetworkPolicy.  The ip-masq-agent did not run as expected.

**What you expected to happen**:

The ip-masq-agent daemonset would run on each node providing outbound NAT and letting pods access the apiserver and wider internet.

**How to repr

[2017-10-10 21:41] caseydavenport commented on #53680
CC @heschlie @dnardo

[2017-10-10 21:42] caseydavenport commented on #53680
I think we should just be enabling ip-masq-agent by default on GCE, setting the NON_MASQUERADE_CIDR=0.0.0.0/0, and labeling each node so the daemonset runs.

/sig-network

[2017-10-10 21:42] caseydavenport commented on #53680
CC @bowei

[2017-10-10 21:43] caseydavenport commented on #53680
/sig network

[2017-10-10 21:45] caseydavenport commented on #41943
I think a better fix for this is probably to stop running any pods on the master (except for the host-networked master pods, e.g. apiserver)

CC @dnardo @bowei

[2017-10-10 21:46] caseydavenport commented on #41943
Perhaps we just need to taint the master? Or remove the labels from the master which allow the DaemonSets like fluentd and Calico to run there.

CC @heschlie

[2017-10-10 21:48] derekwaynecarr commented on #52031
@ConnorDoyle - do you have thoughts about how we can introduce a common planning phase for device assignment and cpu assignment so that we can get the code in a structure where we can decide these things together?

/cc @sjenning

[2017-10-10 22:02] ConnorDoyle commented on #52031
@derekwaynecarr there's a more specific issue for that here: #49964. Did we decide yet whether to make that kind of topology awareness a blocker for beta?

[2017-10-10 22:16] ahmetb opened #53683 "kubectl 1.8 commands print OpenAPI fallback warning every time talking to 1.6 clusters"
/kind bug
/area cli

**What happened**: I get a warning about OpenAPI / Swagger every time I run `kubectl apply`
[code]

**What you expected to happen**: No warnings.

**How to reproduce it (as minimally and precisely as possible)**: Have kubectl 1.8.0 installed, have a v1.6.10-gke.1 cluster on GKE. Apply a deployment spec using `kubectl apply -f`.

**Anything else we need to know?**:

[code]

**E

[2017-10-10 22:21] ahmetb commented on #53683
/sig cli

[2017-10-10 22:24] MrHohn commented on #53657
I failed to reproduce the issue following the steps:
[code]

Is there anything special about your service setup? Seems like you are requesting an IP address (by setting the `spec.loadBalancerIP` field) that is already reserved?
[code]

Xref https://github.com/kubernetes/kubernetes/issues/53475

[2017-10-10 22:27] mbohlool commented on #53563
I think there is an action item here: When the cluster is not accessible, we are logging an OpenAPI download failure giving the wrong impression that there is a problem with OpenAPI endpoint. I think we need better error messaging here or probably a healthcheck in case of these errors to inform users the cluster is not accessible not only the OpenAPI endpoint.

[2017-10-10 22:28] dchen1107 commented on #53395
+1 on discussing this at tomorrow's resource mgmt.

[2017-10-10 22:29] caseydavenport commented on #50604
/remove-kind bug

[2017-10-10 22:29] dchen1107 commented on #52336
cc/ @dnardo This is disk accounting issue I mentioned earlier.

[2017-10-10 22:34] dnardo commented on #52336
cc/ @caseydavenport

[2017-10-10 22:34] vishh commented on #53395
SGTM.

[2017-10-10 22:38] mbohlool commented on #25716
@brendandburns oneof is supported in OpenAPI v3.0. We should be able to leverage that, right?

Also adding optional parameters to API calls make generated client backward incompatible, that is not a swagger issue but a swagger-codegen issue. I filed [this](https://github.com/kubernetes-client/java/issues/93) and will promote it to a swagger-codegen issue after getting some feedback.

[2017-10-10 22:45] #53502 closed

[2017-10-10 22:52] MrHohn commented on #43755
Unassigning as I'm not currently working on fixing this issue.

/unassign

[2017-10-10 23:08] brendandburns commented on #25716
I think the challenge is that go-restful doesn't currently support oneOf even if OpenAPI does, we'll need to update go-restful too.

--brendan

Microsoft Give is happening in October!
Participate at https://aka.ms/give

________________________________
From: Mehdy Bohlool <notifications@github.com>
Sent: Tuesday, October 10, 2017 3:38:56 PM
To: kubernetes/kubernetes
Cc: Brendan Burns; Mention
Subj

[2017-10-10 23:10] gyliu513 commented on #53659
@dashpole We have daemonset as well, for this case, the daemonset pod will keeps restarting on the host, I think this is not acceptable.

[2017-10-10 23:16] dashpole commented on #53659
@gyliu513 the solution in your case should be to increase [resource requests](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/) (and possibly also limits) for your pod.  The critical annotation was meant to solve a very specific scenario.  The more robust solution is [pod priority](https://github.com/kubernetes/community/blob/master/contributors/design-proposal

[2017-10-10 23:18] apelisse commented on #53563
Yeah, I agree that we could improve that experience. Let's not forget that the warning displayed in that issue has been deleted already (since we don't fallback on swagger 1.2 anymore).

[2017-10-10 23:28] dashpole commented on #52336
Based on my testing (using overlay2 on COS), we are not correctly accounting container disk usage.  I ran a disk eviction test, and as DiskPressure was triggered, these were the values reported by the summary API:
`imageFsInfo.CapacityBytes: 16.68 GB, imageFsInfo.AvailableBytes: 6.67 GB`
`rootFsInfo.CapacityBytes: 16.68 GB, rootFsInfo.AvailableBytes: 6.67 GB`
`Pod: container-disk-hog-pod`
`--- sum

[2017-10-10 23:34] dashpole commented on #52336
Another takeaway from this bug is that it is confusing to have some eviction signals and thresholds be in the format:
`Signal < eviction threshold`
and have the allocatable signals be
`Signal - eviction threshold < 0`

I plan to change this for future releases.

[2017-10-10 23:39] #49529 closed

[2017-10-10 23:41] ConnorDoyle commented on #53497
I'd like to help gather everyone's requirements on this and work toward a design.

[2017-10-10 23:49] dchen1107 commented on #52336
This is a serious regression in 1.7 for disk management. We should patch both 1.7 and 1.8 to disable the feature through: LocalStorageCapacityIsolation first.

[2017-10-10 23:53] dchen1107 commented on #52336
@dashpole Can we reproduce the issue with Overlay?

[2017-10-10 23:57] dashpole commented on #52336
I am currently testing with aufs, since that was the first alternate image I could find.  I can test with overlay soon.

[2017-10-11 00:06] dashpole commented on #52336
It appears to work correctly on aufs on ubuntu xenial:
`imageFsInfo.CapacityBytes: 20.7 GB, imageFsInfo.AvailableBytes: 1.91 GB`
`rootFsInfo.CapacityBytes: 20.7 GB, rootFsInfo.AvailableBytes: 1.91 GB`
`Pod: container-disk-hog-pod`
`--- summary Container: container-disk-hog-container UsedBytes: 16.9 GB`
`Pod: innocent-pod`
`--- summary Container: innocent-container UsedBytes: 12 KB`

[2017-10-11 00:25] enisoc commented on #53379
I was able to reproduce this in v1.8.0 with the original manifests at the top. As @klynch found, it only happens on the 3rd execution:

[code]

It also seems to only happen when the `apply` ought to be a no-op. If I change something in the IPPool spec, `apply` works once more, then starts failing again.

When the `apply` is a no-op, the PATCH request body generated by `kubectl` looks like this:

[

[2017-10-11 00:42] enisoc commented on #53379
There's a typo in the code generating the error messages for both `Validate()` and `ValidateUpdate()`:

https://github.com/kubernetes/kubernetes/blob/e8e72a44444d9ded58bcba13d650c98dab2cb465/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/strategy.go#L138

https://github.com/kubernetes/kubernetes/blob/e8e72a44444d9ded58bcba13d650c98dab2cb465/staging/src/k8s.io/apiextensions-

[2017-10-11 00:42] liggitt commented on #53683
Compatibility fallbacks should not print warnings

@apellise

[2017-10-11 00:44] mbohlool commented on #53563
That means if we don't fix the experience, in the next release it will be an error message and kubectl will fail with an OpenAPI error message that is (more) miss-leading.

[2017-10-11 00:45] liggitt commented on #53683
That said, kubectl has a +/- 1 version skew policy, so 1.8 to 1.6 isn't generally tested. I'd expect the fallback message to be info at a level that does not display by default

[2017-10-11 00:55] dashpole commented on #52336
Looks like overlay on COS 59 (docker 1.11) is fine as well:
`imageFsInfo.CapacityBytes: 16.7 GB, imageFsInfo.AvailableBytes: 1.62 GB`
`rootFsInfo.CapacityBytes: 16.7 GB, rootFsInfo.AvailableBytes: 1.62 GB`
`Pod: container-disk-hog-pod`
`--- summary Container: container-disk-hog-container UsedBytes: 13.8 GB`
`Pod: innocent-pod`
`--- summary Container: innocent-container UsedBytes: 49 KB`

[2017-10-11 00:56] yulong12 commented on #53333
@kad I know before execute kubeadm init,I must execute kubeadm reset,then i execute kubeadm init,the out put is:
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.8.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks
[preflight] WARNING: Connection to "https://10.1.112.253:6443" uses proxy "htt

[2017-10-11 00:57] enisoc commented on #53379
I can reproduce this without `apply`, just by doing a no-op `patch` twice:

[code]

[2017-10-11 00:58] dashpole commented on #52336
My best guess is that this is an issue with docker 1.13, or an issue with overlay2.  Ill do some more testing tomorrow.
@felipejfc @thomas-riccardi can you share your docker storage driver and docker version?

[2017-10-11 01:04] enisoc commented on #53617
The goroutines sampled above seem to be part of the client sitting between the REST Store and etcd. Perhaps it will help to incorporate calls to `DestroyFunc` somewhere in the integration framework?

https://github.com/kubernetes/kubernetes/blob/77c8b6eadfed09c471e5d3ce20bc3480189cde2d/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L173-L174

[2017-10-11 01:09] mbohlool commented on #25716
and `go-restful` is not an active project. It would be challenging to add things to it. Hopefully by the time we support OpenAPI v3, we also deprecate swagger 1.2 and then we don't need go-restful and can replace it with our router.

[2017-10-11 01:12] gyliu513 commented on #53659
@dashpole For daemonset issues, it can not resolve the issue of the pods being evicted even with `resource requests` or `pod priority`.

Suppose I have a daemonset pod which request large resources, but after the daemonset pod running for a while, the pod may still be evicted due to some pressures, such as disk pressure etc.

So I think the fix is still necessary, we can ignore deployment as it ca

[2017-10-11 01:36] #53590 closed

[2017-10-11 01:36] timothysc opened #53688 "1.8 e2e downward api test fails on 1.6 b/c it doesn't version check on a new field."
/kind bug

**What happened**:
Run 1.8 e2es on 1.7 and it fails on downward api test.

**What you expected to happen**:
Pass

[2017-10-11 01:37] #53688 closed

[2017-10-11 01:53] lichuqiang commented on #53497
@vishh This makes sense. I'd like to help with it.
Besides. I have been working on the checkpoint issue #52678
I think  implementation of the issue depends on modification in Allocate behavior as well :)

[2017-10-11 01:54] mattjmcnaughton commented on #53670
I think your right @DirectXMan12 - we are not checking whether `scaleUpLimit > maxReplicas`. I submitted a diff with a fix and regression test.

[2017-10-11 02:16] elvizlai commented on #52783
@camflan I'm not using kebeadm to build k8s, just tested with released-bin file.

Services ip can not access(from other node) means there something wrong with kube-proxy. And kube-proxy uses iptables to mange network.

[2017-10-11 02:27] #35507 closed

[2017-10-11 02:38] ConnorDoyle commented on #53616
Added this issue to the sig-scheduling agenda for Oct 12

[2017-10-11 03:00] apelisse commented on #53683
Yeah, that's not elegant, but that also helps us detect problems early (like missing openapi on 1.7+ clusters). Maybe use `--cache-dir=""`?

[2017-10-11 03:02] xiangpengzhao commented on #50655
/remove-sig node
[test sig]

[2017-10-11 03:03] xiangpengzhao commented on #50655
/sig node

[2017-10-11 03:03] apelisse commented on #53563
What do you suggest?

[2017-10-11 03:05] xiangpengzhao opened #53691 "[test label, ignore this]"
/sig testing

[2017-10-11 03:05] xiangpengzhao commented on #53691
/remove-sig testing

[2017-10-11 03:06] xiangpengzhao commented on #53691
/sig testing

[2017-10-11 03:07] tianshapjq commented on #53672
/cc

[2017-10-11 03:14] tianshapjq commented on #53661
maybe you have to /sig cli

[2017-10-11 03:16] lichuqiang commented on #53672
If no one is doing it, I'd like to work on the ResourceQuota part.

[2017-10-11 03:20] gnufied opened #53692 "Problem with Detach logic in EBS"
/kind bug

There is a problem with EBS detach logic where when we start detach -  we remove the volume from node's  "VolumeAttached" property but if Detach fails because volume is mounted or something like that, we add back the volume to "VolumeAttached" property of node.

In EBS though, a detach is asynchronous and once issued there is no way to cancel it. So when we issue detach against a mounte

[2017-10-11 03:20] gnufied commented on #53692
/sig storage

[2017-10-11 03:20] gnufied commented on #53692
/sig aws
/assign

[2017-10-11 03:20] xiangpengzhao commented on #53691
/close

[2017-10-11 03:20] #53691 closed

[2017-10-11 03:20] dixudx commented on #53659
@dashpole Actually current implementation won't prevent this.

https://github.com/kubernetes/kubernetes/blob/1797255cd29e9d6afaf02f1e16e9c69940cf5392/pkg/kubelet/eviction/eviction_manager.go#L563-L568

From above logic, what if we have not enabled feature gate for `CriticalPod`, `static pods` can still be evicted, right? But this is not what we expected.

We need to modify the logic here as [my co

[2017-10-11 03:38] wjzhao opened #53697 "Pod's Health Check"
Hello, I found the pod's health check just support GET method with http protocol at present, but in my work environment, I found PUT method or HEAD method maybe  better, so I want to give a little suggest that whether the next kubernetes version could support health check with PUT method, thank you!

[2017-10-11 03:43] zjzhangkui commented on #53649
redirect by websphere, not related with k8s

[2017-10-11 03:43] #53649 closed

[2017-10-11 03:45] hzxuzhonghu opened #53698 "generic webhook restClient should set http timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when network exception, webhook for authentication/audit/admission can be blocked out of control.
**What you expected to happen**:
Should make all http request under control
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl vers

[2017-10-11 03:45] hzxuzhonghu commented on #53698
/sig auth

[2017-10-11 04:33] zreigz commented on #53654
@dixudx Thanks for your replay:

The results from `/etc/resolv.conf`:
busybox:
[code]

post-deployment-setup-wn6f8
[code]

[2017-10-11 04:38] warent commented on #45438
I just had this issue. Working on a personal project, spent the past couple days trying to figure out why my ingress hasn't been working.

There were several unrelated issues as are bound to happen when learning something new, but the most bedeviling was that apparently when I deleted the first ingress, it kept some orphaned backend resources and instance groups that I didn't know about.

When I c

[2017-10-11 04:57] kishorekumark commented on #34413
seeing the same issue with v1.8.0
macbook-pro-2:Federation kkokkiligadda$ kubectl --context=fed replace -f Adminconsole-Full.yaml --record --validate=false
service "adminconsole-app" replaced
deployment "adminconsole" replaced
error: unable to recognize "Adminconsole-Full.yaml": no matches for autoscaling/, Kind=HorizontalPodAutoscaler

How to overcome

[2017-10-11 04:58] kishorekumark commented on #34413
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: adminconsole-app
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1beta1
    kind: Deployment
    name: adminconsole-app
    namespace: default
  minReplicas: 1
  maxReplicas: 10
  cpuUtilization:
    targetPercentage: 50
----

[2017-10-11 05:05] dixudx commented on #53697
@wjzhao Why not use [liveness probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/), where you can perform the PUT/HEAD request as well.

[2017-10-11 05:31] bgrant0607 commented on #7856
Summary of decision, before it is forgotten:
* Promote established/essential conditions to simple fields, as discussed above
* Eliminating/deprecating those conditions is not a priority -- controllers can report both
* Going forward, mainly use conditions as a way to convey extended status, not unlike other extension mechanisms (e.g., annotations); we should add them to the controller APIs even if

[2017-10-11 05:34] bgrant0607 commented on #49504
Well, extensions is just wrong, for any new API.

[2017-10-11 06:04] liubog2008 commented on #48537
Thanks very very much, that's what I want. @liggitt

[2017-10-11 06:04] #48537 closed

[2017-10-11 06:13] wackxu commented on #52872
@frodenas OK, thanks!

[2017-10-11 06:23] wojtek-t commented on #53327
@shyamjvs - since this is visible in kubemark-500, can you please locally revert the PR you suspect and verify if it's that?

[2017-10-11 06:29] zreigz commented on #53654
@dixudx Thanks for your replay:

The results from `/etc/resolv.conf`:
busybox:
[code]

post-deployment-setup-wn6f8
[code]

[2017-10-11 06:35] zreigz commented on #53654
I've updated kubeadm to the newest version:
[code]

The behavior is exactly the same but I noticed that the pods can't reach also external addresses: google.com or example.com

The logs from DNS:

[code]
and
[code]

and

[code]

[2017-10-11 06:37] bowei commented on #45438
@warent -- it would be great to open a new issue against kubernetes/ingress-gce regarding your setup. Closed issues don't get much attention...

[2017-10-11 06:43] chinakevinguo commented on #52423
hey,did  you solve the problem ?i have the same problem ...

[2017-10-11 06:45] CaoShuFeng commented on #53406
I suggestion to use the audit feature of kuberenetes to gather logs ahout http request.
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2017-10-11 06:53] propyless commented on #18785
I've also seen this in latest 3.6 release as of writing.

[2017-10-11 07:11] #53632 closed

[2017-10-11 07:19] m1093782566 commented on #53639
@brendandburns @jdumars

[2017-10-11 07:27] Random-Liu commented on #53514
@yujuhong Thanks. Then based on the above discussion I'll close https://github.com/kubernetes-incubator/cri-containerd/pull/330 and update kubelet instead. :)

Thanks!

[2017-10-11 07:42] like-inspur opened #53706 "pod with resource limit and request show host info"
I create pod with resource config like this：
          limits:
            cpu: 10m
            memory: 20Mi
          requests:
            cpu: 10m
            memory: 20Mi

But when i enter the pod with bash，I find cpu and memory config are from host
/ # free
             total         used         free       shared      buffers
Mem:       8010284      4855560      3154724            0

[2017-10-11 07:48] m1093782566 commented on #53639
/kind bug

[2017-10-11 07:50] like-inspur commented on #53706
/sig pod resource

[2017-10-11 08:13] thomas-riccardi commented on #52336
Signal < eviction threshold
and have the allocatable signals be
Signal - eviction threshold < 0

This is indeed confusing, and incoherent with kubelet cli parameters to control eviction, as explained in a previous comment.

As for my docker version and info (I did not change anything from the default there):
[code]
[code]

[2017-10-11 08:13] r7vme commented on #51835
@stormltf did you restart kubelet after first two pods were created?

[2017-10-11 08:41] #50395 closed

[2017-10-11 08:41] ayaranga commented on #53640
Currently as only string is supported as a kubectl plugin flag, I want to mark this as a feature request as suggested by @dixudx .
@kubernetes/sig-cli-feature-requests

[2017-10-11 08:41] #50474 closed

[2017-10-11 09:07] xuchenhao001 commented on #53333
We have successfully prevented this bug by turning off the swap on Ubuntu 16.04 amd64
[code]

[2017-10-11 09:21] ScorpioCPH commented on #52861
@jiayingz Thanks so much~

[2017-10-11 09:24] tianshapjq commented on #53672
would this be discussed in the meeting recently? i would like to try on the "via LimitRange" but seems more details need to be settled.

[2017-10-11 09:35] brancz commented on #53615
Neat, I didn't know this! Unfortunately I looked into the existing implementations and realized, that none of the implementations implement those calls today.

[2017-10-11 09:39] shyamjvs commented on #53327
Yup.. Doing that now.

[2017-10-11 10:29] kad commented on #53333
@yulong12 in your particular case I'm 99% sure that root cause of the error is detected and described by preflight check:

Make sure that your `NO_PROXY` variable has value that have at least `localhost,127.0.0.1,$master_ip,$pod_cidr,$service_cidr`.

Most probably, in your case it will be enough to do:
[code]

[2017-10-11 10:30] feiskyer commented on #53007
There is a PR #51250.

[2017-10-11 10:41] embano1 commented on #53706
Actually, this is by design. The process (pod containers) live inside the OS (shared kernel). cGroups and namespaces are constructs to isolate the process, which processes are not really "aware" of. This can cause issues with older JREs, and other runtimes (e.g. GO), if your app tweaks its behaviour based on querying the host.

If you´re trying to let your process (container, pod) know which resou

[2017-10-11 10:52] leeningli opened #53711 "k8sV1.8,kubelet can not start"
I have run the etcd/api-server/contorll-manager/scheduler successfully,and then I run the kubelet,it is error.
error: failed to run Kubelet: cannot create certificate signing request: certificatesigningrequests.certificates.k8s.io is forbidden: User "kubelet-bootstrap" cannot create certificatesigningrequests.certificates.k8s.io at the cluster scope

before start kubelet ,I execute this cmd:
kubec

[2017-10-11 11:04] shyamjvs commented on #53327
Some updates:
- The increase in time of deletion phase seems to not be there anymore in the newer runs of kubemark-scale. Looking at kubemark-500, it seems to have restored across runs 8844 and 8845 (https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce?before=8863) and the [diff](https://github.com/kubernetes/kubernetes/compare/b5ff25caf47951...93862282a

[2017-10-11 11:20] xiangpengzhao commented on #28918
@joan38 yeah it's supported from v1.8.0-alpha.2. See https://github.com/kubernetes/kubernetes/commit/0f65b218a07e3a5edda16484604dcf1f76bae793

[2017-10-11 11:20] bugosiphionah commented on #52563
I am applying for outreachy and would love to work on this.

[2017-10-11 11:34] tlyng opened #53713 "azureDisk warns about disk format failure when successfull"
While trying to resolve some azure-disk issues I am encountering I noticed some strange logs:

Oct 11 10:37:49 smblab-we-worker-0 kubelet-wrapper[1264]: I1011 10:37:49.508797    1264 azure_common_linux.go:153] azureDisk - Disk successfully formatted (mkfs): ext4 - /dev/sdd tt
Oct 11 10:37:49 smblab-we-worker-0 kubelet-wrapper[1264]: W1011 10:37:49.509230    1264 azure_common_linux.go:155] azureDis

[2017-10-11 11:35] ssboisen commented on #45419
We're running `v1.7.4+coreos.0` on stable CoreOS. We experience that our k8s nodes go down as frequent as every 8 hour because of PLEG. Containers keep running but in k8s are reported as Unknown.

We've tracked down the problem to what we believe is the backoff algorithm in GRPC when communicating with docker in order to list containers. This PR https://github.com/moby/moby/pull/33483 changes the

[2017-10-11 12:27] gekart commented on #39920
```kubectl run -it --image=<private image> --image-pull-secrets=<secret>```

would be really handy.

[2017-10-11 13:08] #51787 closed

[2017-10-11 13:10] #52356 closed

[2017-10-11 13:25] shyamjvs commented on #53327
Unable to reproduce the difference locally. Also can't see any obvious test-infra changes across those runs.
Will try to locally reproduce test-infra environment as much as possible.

[2017-10-11 13:30] dixudx commented on #53713
/sig azure

@tlyng Right. PTAL #53719

[2017-10-11 13:53] wojtek-t commented on #53327
As discussed offline, this is clearly related to scheduler:
- before it was able to scheduler 100pods/s
- after it is only scheduling 50pods/s
[both consistently]

It seems to me that this is qps-related issue.

BTW - looking into kubemark-scale it seems there might be yet another regression in scheduler.

@kubernetes/sig-scheduling-bugs

[2017-10-11 13:55] smarterclayton opened #53721 "Node describe does a terrible job at telling me that the node is cordoned"
[code]

Once that event expires I'm fairly certain I would have no idea that the node is cordoned.

[2017-10-11 14:07] Ecsy opened #53723 "KUBECONFIG contains the same path multiple times"
/kind bug
/sig cli

**What happened**:
The same path was added multiple times to KUBECONFIG env variable.

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCom

[2017-10-11 14:19] erhudy commented on #47538
Here's the approach I'm taking right now: https://github.com/erhudy/kubernetes/commit/b603ab7ccbecc010f686f8507d6c0155b7246da9

When a Job is created via the `instantiate` subresource, another label is applied to the created job. The cronjob controller will pick up jobs with that label on them and add them to the active list of the cronjob specified as the job's owner reference.

Maybe this is suf

[2017-10-11 14:25] vinayagg commented on #47538
@erhudy  In this mechanism, is there a way to pass parameters when invoking manually?

[2017-10-11 14:28] erhudy commented on #47538
What kind of parameters? Right now the action is not parameterized - it looks at the JobSpec embedded in the CronJob and creates a Job from it.

[2017-10-11 14:40] wojtek-t commented on #53327
I looked into apiserver logs, and I'm seeing things like these:
[code]

binding shouldn't be done by "leader-election" client - something is pretty messed up in scheduler.

[2017-10-11 14:40] daviddang91 opened #53725 "Can't deploy Kubernetes on localhost"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: I can't deploy Kubernetes on localhost

**What you expected to happen**:

I setup Kubernetes as below:

But I can't deploy on localhost, I got an error as below:
![screenshot from 2017-10-11 20-29-37](https://user-images.githubusercontent.com/9908743/31443624-25880ca8-aec4-11e7-8bdc-1e2f63d654df.png)

I tried to install L

[2017-10-11 14:44] vinayagg commented on #47538
When invoking manually, parameters will make it 10x more effective.
I can see all kind of parameters: e.g.
- I have a job that never runs automatically but when I manually invoke, I want it to do X, Y or Z based on my needs
- Normally my cache is updated everyday at 2 am but I want a hook to rebuild my cache if I find it corrupted.
- Jenkins could trigger a job with build id to auto update the dep

[2017-10-11 14:47] wojtek-t commented on #53327
I don't know what changed at the time of regression though, but something is clearly super messed up with clients in scheduler.

[2017-10-11 14:51] djsly opened #53726 "Container cannot be restarted by kubelet if it was removed while kubelet was down and its service account secret was changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We converted the /var/lib/docker backend from BTRFS to DeviceMapper forcing a wipe of the partition.
The wipe was done while Kubelet was stopped on the Node.
After docker was reconfigured properly and that Kubelet was started, not all containers we restarted. Those in namespaces where the default service account was refre

[2017-10-11 14:51] djsly commented on #53726
/kind bug

[2017-10-11 14:51] djsly commented on #53726
/sig-node

[2017-10-11 14:52] erhudy commented on #47538
CronJobs are for scheduled jobs. This issue and the PR are meant to provide a hook for people to kick the CronJob, mainly for testing purposes. Your use cases don't sound aligned to the goal of this PR.

Addressing them individually:
* _I have a job that never runs automatically but when I manually invoke, I want it to do X, Y or Z based on my needs_
  * If it never runs automatically, it is not a

[2017-10-11 14:56] wojtek-t commented on #53327
I'm not entirely sure why and how, but it seems that this PR: https://github.com/kubernetes/kubernetes/pull/52723 is causing some issues.

@k82cn @gmarek

[2017-10-11 15:08] k82cn commented on #53327
Are alpha features enabled in this test environment?

[2017-10-11 15:13] timothysc commented on #53327
@k82cn they should not be.

[2017-10-11 15:13] DimitriosLisenko opened #53727 "Pod stuck in terminating due to preStop hook not executing on all containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm using a pod with a worker container and a sidecar container that connects to the database.

Originally, the worker had a preStop hook on it to stop accepting requests, and complete the ones it already accepted before terminating. Since it now needs the sidecar container to do so, after reading https://kubernetes.io/doc

[2017-10-11 15:18] pospispa commented on #45143
IMHO, the discussion came to conclusion that the approach with the smallest amount of disadvantages is to use finalizer to postpone the PVC deletion in case it's used by a pod.

I've written [design](https://github.com/kubernetes/community/pull/1174) for using the finalizer. I hope it's not an overkill to write a design for fixing this issue.

[2017-10-11 15:22] DimitriosLisenko commented on #53727
@kubernetes/sig-node-bug

[2017-10-11 15:22] DimitriosLisenko commented on #53727
@kubernetes/sig-node-bugs

[2017-10-11 15:23] vinayagg commented on #47538
- If it never runs automatically, it is not a CronJob.
I agree. However there is no way to "precreate a job that I can run on demand". I have needed this on multiple occasions. But do you see any reason why it cannot meet this requirement?

- Why does this require parameters, and why would rebuilding the cache if corrupted be a separate action from updating the cache?
cron job - incremental update

[2017-10-11 15:27] k82cn commented on #53327
hmm. I'm thinking whether it's related to `CheckNodeConditionPredicate` (https://github.com/kubernetes/kubernetes/pull/49932); with this PR, scheduler will check node's condition for each pod :(.

[2017-10-11 15:30] MaciekPytel opened #53728 "Clean-up reconcileAutoscaler and improve it's unittest coverage"
We recently had 2 serious bugs caused by non-trivial logic calculating desiredReplicas in hpa reconcileAutoscaler method (#48997, #53690).

I think we should extract this part of logic (starting around https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L404) to a separate function and make sure it's covered with unittests for different possible edge con

[2017-10-11 15:34] GabrielSVinha opened #53729 "Get clusters --show-labels does not work in a federation context"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After labeling clusters in a Federation, when you type `kubectl get cluster <your-cluster> --show-labels` the `LABELS` field is empty.

**What you expected to happen**:
The `LABELS` fiels should contain information about the labels in the cluster
**How to reproduce it (as minimally and precisely as possible)**:
1.Create a

[2017-10-11 15:36] GabrielSVinha commented on #53729
/sig federation

[2017-10-11 15:41] jingxu97 commented on #52336
@dashpole I think we can get the feature gate at here to avoid allocatable feature for local storage
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go#L597

[2017-10-11 15:42] GabrielSVinha commented on #53729
@kubernetes/sig-federation

[2017-10-11 15:50] gpjt commented on #43783
I just scheduled a simple Python fork bomb on a test k8s cluster to see what would happen:

[code]

It took down the node (admittedly a AWS t2.micro) in seconds.  Needed to delete the pod then reboot the node to recover.

Does this mean that we should only be running trusted, audited code on our clusters right now?  Seems a bit of a serious limitation if so.

[2017-10-11 15:52] rehmanzile commented on #47844
@kubusv What are the steps to deleting the secrets/tokens?

[2017-10-11 15:53] #53670 closed

[2017-10-11 15:59] mandrean commented on #53661
/sig cli

[2017-10-11 16:05] #53024 closed

[2017-10-11 16:19] rapenchukd commented on #47538
The PR looks like a good initial implementation.
I agree with all of @erhudy points.
If you are trying to parameterize a job for a single use- its very obvious that you should not be using a CronJob, at least I cant really see any reason for it. You are just using a CronJob instead of the intended Job.  The purpose of the PR (as well as the issue) is to fill in the rare gaps where you have a pre c

[2017-10-11 16:25] sameo commented on #53497
@vishh Makes sense to me. I'd like to work on that one if that's fine with you.

[2017-10-11 16:27] sameo commented on #53497
@vishh For v1.10 I would like to propose adding:

Explore support for FPGA [Owner @sameo]

[2017-10-11 16:28] jiayingz commented on #52560
This issue should be fixed with PR #53028

[2017-10-11 16:28] #52560 closed

[2017-10-11 16:32] csbell commented on #53729
/sig multicluster

[2017-10-11 16:33] smarterclayton opened #53734 "SAR approver generates too much debug output when bootstrapping"
Each node waiting for bootstrapping creates 1 line per 2-3s in the logs when the requesting client doesn't have access.  It should not be logging at v(0), these are all v(4) level.  We should be reporting these appropriately.  I don't want a 5k node cluster showing this.

[code]

@kubernetes/sig-cluster-lifecycle-bugs

[2017-10-11 16:33] unixwitch opened #53735 "invalid v1.List panics kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig cli

**What happened**:

I accidentally tried to apply an invalid v1.List with `kubectl apply`:

[code]

kubectl responded by crashing with a panic:

[code]

**What you expected to happen**:

An error message to be printed, perhaps of the "invalid List item: []".

**How to reproduce it (as minimally and precisely as possible)**:

See des

[2017-10-11 16:35] #53596 closed

[2017-10-11 16:37] mcginne opened #53736 "kube-proxy takes 20 mins to sync ipvs rules on startup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have enabled ipvs mode on Kube 1.8 and am having issues accessing NodePort Services. I notice if I restart kube-proxy I see the following messages every minute for ~20 minutes before it appears to actually sync the rules
[code]
We have ~35 services, so not a huge amount.

**What you expected to happen**:
I expect kube-p

[2017-10-11 16:38] mcginne commented on #53736
@kubernetes/sig-network

[2017-10-11 16:39] mwielgus commented on #53728
+100. It would be super unfortunate if we had yet another issue in this area of the code.

[2017-10-11 16:39] RenaudWasTaken commented on #52560
Please also #52616 that adds synchronous tests rather than wait based

[2017-10-11 16:41] kubusv commented on #47844
kubectl delete secret <secret name> -n <namespace name>
ex: kubectl delete secret mysecret

if you want to know the name of the secret:  kubectl get secret -n <namespace name>

if not declared the namespace name, the "default" namespaces is considered.

[2017-10-11 16:42] mcginne commented on #53736
/sig network

[2017-10-11 16:44] kubusv commented on #47844
kubectl delete secret mysecret
if you want to know the name of the secret in a namespace: kubectl get secret

if not declared the namespace name (with -n option followed by the name), the "default" namespaces is considered.

[2017-10-11 16:44] mcginne commented on #53736
Adding kibe-proxy log showing the delay:

[kube-proxyLog-delay.txt](https://github.com/kubernetes/kubernetes/files/1376477/kube-proxyLog-delay.txt)

[2017-10-11 16:47] mmaquevice opened #53737 "regression 1.6 => 1.7 - cinder plugin"
Maybe there is a regression concerning the openstack provider plugin for cinder.

I manage to create a PVC in 1.6 (and the volume associated in openstack).

However in 1.7, I go the following error (with the same configuration):

[code]

[2017-10-11 16:52] erictune commented on #42002
It is not going to be a good user experience if the daemonSet controller makes one pod for every node, and lets the scheduler decide which ones fit.  Then you end up with a bunch of pending pods, which is confusing to users, and perhaps extra load on the scheduler, and perhaps confusing for cluster auto scalers.

So, somehow, the daemonSet needs to know (modulo race conditions, taints, etc), how m

[2017-10-11 16:56] mmaquevice commented on #53737
/sig openstack

[2017-10-11 17:22] i7clock commented on #44665
until 1.8 kubelet.conf worked for me @Rukeith @jeffhoffman13
now this is missing for some reason...

[2017-10-11 17:27] vinayagg commented on #47538
I am thinking that we are debating a higher level question, that is, until it is done the right way (whatever the right way may be, to be debated, the implementation of right way being months or years away), will it help if there was at least one way to do it? Maybe deprecate "wrong" way when something better is available?

[2017-10-11 17:29] dashpole commented on #53327
re: https://github.com/kubernetes/kubernetes/issues/53327#issuecomment-335774867,
I am not very familiar with the hollow kubelet, but I dont believe my code change should have had any impact on any tests running without an actual kubelet

[2017-10-11 17:30] yujuhong commented on #45419
@ssboisen thanks for reporting with the graphs (they do look interesting)!

Some questions I have:
1. Does restarting any one of docker and kubelet solve the issue?
2. When the issue happens, does `docker ps` responds normally?

I looked at the moby issues you mentioned, but in that discussion, all `docker ps` calls were still functioning properly (even though the dockerd <-> containerd connection

[2017-10-11 17:32] MrHohn opened #53741 "[e2e failure] "should function for client IP based session affinity" constantly fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test
/sig network

**What happened**:
From https://k8s-testgrid.appspot.com/google-gce#gci-gce-slow&sort-by-failures=&width=5,
`Services should function for client IP based session affinity: udp/http` seems to be broken right after they were added by https://github.com/kubernetes/kubernetes/pull/50447.

Example error message

[2017-10-11 17:37] ahmetb commented on #53683
@apelisse We probably can't tell people to add an argument to get rid of the warning. In reality, many GKE clusters are still running on v1.6, and a developer who uses Homebrew on macOS to install `kubectl` will be running into this issue. Can we downgrade this warning into an info?

[2017-10-11 17:41] tushar00jain commented on #53633
@dixudx how does this help "shut down" `container 2` if and only if `container 1` has shut down?

To be more clear, an example would be ... when updating a container inside a pod, the whole pod has to restart. Kubernetes sends "shut down" signal to both the containers inside the pod. What I'm asking for is a way to order this shut down of containers which is initiated by Kubernetes.

[2017-10-11 17:54] dchen1107 commented on #52336
Re: https://github.com/kubernetes/kubernetes/issues/52336#issuecomment-335649899

That is what I guess. We had the issue accounting overlay 2's disk usage in cAdvisor. But that doesn't explain overlay issue on container-linux (core os) image reported by @thomas-riccardi above.

[2017-10-11 17:55] apelisse commented on #53683
You really shouldn't expect kubectl 1.8 to work with kubernetes 1.6.

We have removed Swagger 1.2 entirely in master, which means it is going to break for sure with kubernetes 1.9.

If someone has this warning using a 1.7 or 1.8 kubernetes server (supported versions), something is really wrong. And we want people to know that, and we want to know that.

cc @pwittrock

[2017-10-11 18:02] jsafrane commented on #53357
I am closing this bug, user can configure complete recycler template, incl. container image name (and it's used in OpenShift so I know it works).

[2017-10-11 18:02] #53357 closed

[2017-10-11 18:08] cblecker commented on #52952
Duplicate of #53570
/close

[2017-10-11 18:08] #52952 closed

[2017-10-11 18:12] dchen1107 commented on #53497
Can someone explain why we want to pass Pod Spec to Allocate RPC? I have concerns on passing the entire pod spec to plug-in in general due to the maintenance unknown. The same issue was raised when we first design CRI. cc/ @kubernetes/sig-node-feature-requests

[2017-10-11 18:14] tallclair commented on #43783
Yes. Kubernetes is not ready to run untrusted code without additional sandboxing. It's something we're working towards, but aren't there yet.

[2017-10-11 18:21] dashpole commented on #53659
I meant that the critical pod annotation prevents static pods from being permanently evicted.  For pods that are non-critical, they can still expect to be evicted.

Evicting pods is better than running out of disk and having an unready node.  The kubelet evicts the largest users of local storage when under disk pressure, so if your pod cannot tolerate evictions, avoid using local storage, and cons

[2017-10-11 18:25] dashpole commented on #52336
@thomas-riccardi strange, I cannot reproduce this on our testing coreos image:
coreos-alpha-1122-0-0-v20160727

[2017-10-11 18:37] abhinavdas commented on #1806
To isolate the container that needs to do docker build/run from the dind daemon, we use a sidecar container for dind daemon. Only the sidecar container is the privileged container. Since the docker api for dind daemon is exposed via a tcp socket, we have considered implementing a proxy layer that forbids the main container from running a container that asks for privilege escalation. Another aspect

[2017-10-11 18:43] dchen1107 commented on #53395
RE: https://github.com/kubernetes/kubernetes/issues/53395#issuecomment-334879265

@vishh your proposal was made based on an assumption:  The node was not sharable with other workloads which doesn't requires such device, for example, GPU. Otherwise, if a given cluster does not only lost GPU resource, but also lost CPU & Memory & Disk etc. capacity too.

[2017-10-11 18:49] derekwaynecarr commented on #53395
in my perspective, if any device on a node reported unhealthy, we would most likely immediately mark the node as unschedulable, and look to deprovision and provision a new node.

[2017-10-11 18:53] DirectXMan12 commented on #53728
agreed. @mattjmcnaughton you've been going over these pieces of code recently, you want to tackle this?

[2017-10-11 18:53] gpjt commented on #43783
Is there any documentation about what extra sandboxing would be appropriate?

[2017-10-11 19:03] jeffvance commented on #52676
@jingxu97 what environment is good for this e2e test? GCE or GKE or AWS? I see we have _e2e/storage/pd.go_ which has `detachPD` func,

[2017-10-11 19:10] mattjmcnaughton commented on #53728
Yes, I'd love to! Thanks for the ping.

On Wed, Oct 11, 2017 at 2:53 PM Solly Ross <notifications@github.com> wrote:

[2017-10-11 19:14] bsalamat commented on #42002
Given all the discussions around this topic, I am fine with letting DaemonSet controller keep its current behavior and schedule DaemonSet pods. As @erictune said, this has the benefit of reducing scheduler and auto-scaler load. It will also provide better guarantees that critical DaemonSet pods will be scheduled in a more predictable manner even in clusters where the default scheduler is replaced

[2017-10-11 19:25] timothysc commented on #45188
/cc @ravigadde @k82cn

[2017-10-11 19:30] enisoc commented on #51049
@mattfarina We made the controller objects available through `apps/v1beta2` and now `apps/v1`, but the controller code itself still uses the `apps/v1beta1` or `extensions/v1beta1` APIs to read/write the controller objects. This issue is about changing the controller code to access controller objects through the new APIs.

[2017-10-11 19:34] davidopp commented on #45188
Agree it's reasonable not urgent and we need to think about how to do it in a backward-compatible way.

[2017-10-11 19:49] dashpole commented on #52336
I believe this is an issue with stats collection on overlay2

[2017-10-11 19:55] brendandburns commented on #43783
@gpjt
here are my thoughts:

basically running a container in the cluster is like giving that container user-level access to the machine. (e.g. you're vulnerable to local kernel exploits, fork bombs, etc).

kernel level sandboxing (e.g. SE Linux) can help somewhat to defend that surface area,  but ultimately hypervisor leve security boundary is needed for truly malicious users.

[2017-10-11 20:15] timothysc commented on #53556
Yup, closing... feel free to reopen if another condition exists.

/assign timothysc

[2017-10-11 20:15] #53556 closed

[2017-10-11 20:20] jeffvance opened #53745 "e2e storage tests "Pod Disks" and "PD" don't wait for detach in AWS"
The GCE "PD" tests (_test/e2e/storage/volumes.go_) and the "Pod Disks" tests (_test/e2e/storage/pd.go_) call `detachAndDeletePDs` which calls `detachPD`.  `detachPD` handles both GCE/GKE and AWS/EC2 providers as desired. However, `detachAndDeletePDs` also calls `waitForPDDetach` and this func does **not** support AWS. So there is no wait for detach in AWS test environments. IMO, the detach support

[2017-10-11 20:23] jeffvance commented on #53745
/sig storage

[2017-10-11 20:27] danbeaulieu commented on #43783
@gpjt I haven't tried it but I believe you can configure kubelet to use a root cgroup for all scheduled pods. In that cgroup you can define the cgroup pid limit.

However, that only solves this particular problem.

[2017-10-11 20:28] sorlov-avito commented on #40913
Excuse me. Do we have any progress here?

[2017-10-11 20:28] dashpole commented on #52336
I have tested a fix, and can confirm that it fixes issues found in my testing.  However, the cause of @thomas-riccardi's issues is still unknown.

[2017-10-11 20:32] yujuhong commented on #52641
I don't think this is related to pod manager at all.

There seemed to be race condition because the status manager got the correct "terminated" container state in one of the log messages...although the status later reverted to "running" again.
What version of kubernetes do you use? This is possibly 1.5 or older. It's very likely the bug has already been fixed.

[2017-10-11 20:41] davidopp commented on #42002
Just an observation: if we keep DaemonSet scheduling pods, then we will need to add some of the preemption logic to it  -- getting rid of the "critical pod rescheduler" is one of the motivations for having a general preemption mechanism. I say "some" because it doesn't need to decide which node to preempt on (since it wants to run on every node that meets the other constraints), but it does need t

[2017-10-11 20:50] dims commented on #53570
kube-proxy seems to be failing with:
[code]

weave-net is failing with:
[code]

[2017-10-11 21:05] RenaudWasTaken commented on #53497
Related:
- Issue #51993
- PR #52747
- PR #52616
- PR #52149
- PR #52147

[2017-10-11 21:15] quinton-hoole commented on #45188
FYI, there are some parallel discussions happening around potentially using a policy language to define and implement policy-based scheduling.  That might result in an alternative and perhaps more general solution to this problem.  cc @tsandall who might want to comment further.

[2017-10-11 21:26] ljmatkins commented on #53432
While willing, I'm not yet sufficiently familiar with the k8s federation design to provide much input!

I had some vague sense that this could maybe "just work like ConfigMaps or Secrets" --
 although that might just be wishful thinking. 😄

[2017-10-11 21:46] jeffvance commented on #52676
@jingxu97 does the pod need to be evicted? Or would be ok to delete the pod and then check that the PD is detached. Then create a new pod using the same PD and test that it attaches?

[2017-10-11 21:52] bowei commented on #23225
@luxas
Yes, that is correct.

[2017-10-11 22:27] quinton-hoole commented on #53432
@ljmatkins I think you're probably right, but someone would need to think through the details.
Even if you don't design the internal implementation, if you could describe what you would like it to look like from the outside (i.e. how the API would look and behave, in your ideal world), that would be useful.

[2017-10-11 22:51] timothysc commented on #52098
Fixed by #53381 - closing

[2017-10-11 22:51] #52098 closed

[2017-10-11 22:58] timothysc commented on #53361
/cc @hongchaodeng @xiang90 @wojtek-t

[2017-10-11 23:07] adnavare commented on #50041
Has there been documentation added for kube-config? While setting my first K8S with GCP i had a problem of getting my cluster running and that was because my kube-config was not setup correctly. If no documentation has been added I would like to add few points to help the users. Please let me know

[2017-10-11 23:38] ncdc commented on #50041
I have a PR for this. It’s currently hung up on a Bazel issue.

On Wed, Oct 11, 2017 at 7:08 PM adnavare <notifications@github.com> wrote:

[2017-10-12 00:00] #53597 closed

[2017-10-12 00:07] ericchiang commented on #53698
/assign

[2017-10-12 00:16] gyliu513 commented on #53659
@dashpole I have a case of deploying the calico node as daemonset with critical pod, and the daemonset calico pod keeps restarting and the network function does not work.

Yes, removing the critical pod annotation does works, but this may cause the calico pod cannot start if it restart when there are not enough resources.