[2016-12-15 19:39] jingxu97 commented on #33447
Hi Jeff

In kubenetes release page

https://github.com/kubernetes/kubernetes/releases

On Thu, Dec 15, 2016 at 11:32 AM, Jeff Hammerbacher <
notifications@github.com> wrote:

--
- Jing

[2016-12-15 19:43] hammer commented on #33447
Yes but neither of those versions are listed under "Supported Kubernetes versions" in the GKE documentation? https://cloud.google.com/container-engine/release-notes. Can give them a try just curious about what "supported" means in this context, as I presumed no mention on that page meant it just wouldn't work.

[2016-12-15 19:46] spiffxp commented on #38831
@ixdy yup, that's it... e2e.go and its related scripts either need to look at PATH implicitly, or fetch the client binaries

[2016-12-15 19:47] spiffxp commented on #38725
probably more than just `kube-up`, my use case is bringing up a cluster using a separate tool, and then using `e2e.go` solely for testing

[2016-12-15 19:48] ixdy commented on #38831
@spiffxp alternately, change the instructions to "download and extract `kubernetes.tar.gz`, then run `DOWNLOAD_TESTS_TAR=y cluster/get-kube-binaries.sh`"

[2016-12-15 19:49] fabianofranz commented on #38779
@kubernetes/sig-cli @kubernetes/kubectl

[2016-12-15 19:52] ecordell opened #38833 "CRI PullImage / CreateContainer race"
There is a race condition for CRI as currently specified:

- `PullImage` pulls an image by `name` (not `name:digest`)
- Another process changes `name` to point to something else
- `CreateContainer` creates a container using `name`, running the incorrect image

I would also classify this as a security concern, as the race could potentially be exploited to run a malicious image.

Proposed solution:

[2016-12-15 19:54] jingxu97 commented on #33447
@hammer  They seem just update the webpage a minute ago. Normally, google cloud web page will pick up our changes a few days later due to deployment and testing.

[2016-12-15 19:58] jingxu97 commented on #33447
Hi NFS users, the support for NFS on GCI image is available on both release 1.4.7 and 1.5. Please give it a try and let us know if you have any issues. Thank you for your patience and support.

[2016-12-15 20:02] spiffxp commented on #38831
ref #35737, /cc @david-mcmahon @saad-ali @pwittrock

I'm less than please that this didn't get flagged as "action required" or "notable change" in the release notes.  What confuses me is the referenced PR's release note of

didn't get included in CHANGELOG.md.  Instead, the innocuous PR title of "stop including arch-specific binaries" was used instead

[2016-12-15 20:07] jingxu97 commented on #24249
Hi NFS users, the support of NFS on GCI image is not available on release 1.4.7 and 1.5. Please give it a try and let us know if you have any problem. Thanks!

[2016-12-15 20:15] euank commented on #38833
cc @kubernetes/sig-node (since the above one didn't ping), @feisky

Doesn't this also impact the current non-CRI docker integration since it also iirc just uses the image+tag string?

I'm :+1: for having the image service be the only thing that deals with image strings and have the runtime service deal entirely in image IDs / digests.

This also helps isolating some of the messyness around tag-def

[2016-12-15 20:17] jingxu97 commented on #24687
Hi NFS users, the support for NFS on GCI image is available on release 1.4.7 and 1.5. Please let us know if there is any issue. Thanks!

[2016-12-15 20:20] DirectXMan12 commented on #38812
We do, but one of the pieces of feedback that we got from customers is that people are more likely to check the objects themselves, as opposed to events, which are sometimes confusing to look at, get lost, etc (e.g. it's hard to tell if a given event represents the current state -- you have to know to check events, you have to check the "last seen at", because it's probably been rolled up, and the

[2016-12-15 20:21] ekozan commented on #35778
@humblec can you add this feature ?

[2016-12-15 20:21] rootfs commented on #38824
@justinsb thanks for the ideas. Agree with safety concern of forced detach.  stonith is surely a better solution, but kube hasn't built in this mechanism yet.

In my case, the kubelet is down but the node itself is still up - this is a negative test case we are running. On the bad node, the pod is still running and volume is still mounted.

[2016-12-15 20:22] davidopp commented on #38322
+1, using the critical pod annotation is a good idea and (I think) takes pressure off of us to design a full solution for #22212 right away.

[2016-12-15 20:28] davidopp commented on #38322
Just to be clear, though -- the "critical pod" annotation was never intended for this purpose. It is intended to indicate which pods rescheduler should work to get scheduled. Rescheduler only operates on pods that go through the normal default scheduler -- but static pods (and DaemonSet pods) never go through the scheduler. So, it may be confusing to use it here, and instead maybe we should use a

[2016-12-15 20:30] bprashanth commented on #38322
I had suggested a new annotation above (note the "node" prefix). Dawn's argument for resuing is that it future proofs the pod template (eg: moved to a deployment or daemonset, it'll work). I'm currently going to keep it the same.

[2016-12-15 20:35] davidopp commented on #38322
I can understand the future-proofing argument, but realistically #22212 is almost certainly going to change (hopefully eliminate) that annotation anyway, so the future is really only until we do #22212.

[2016-12-15 20:40] deads2k opened #38834 "kubectl in-cluster config trumps command line arguments"
Found in openshift, but I'm pretty sure the codepaths are the same.

[code]

That means the token is getting ignored and in-cluster config is being used in preference to flags.

@kubernetes/sig-cli @smarterclayton

[2016-12-15 20:44] euank commented on #38322
Thanks for the explaining @dchen1107, having a temporary annotation as a stop-gap for a proper solution makes more sense to me now.

[2016-12-15 21:16] pajel commented on #36450
@jingxu97 thanks for your reply. #37662 seems to be different as their EBS volume is attached, but not picked up by k8s. While our case is the EBS volume is stuck in attaching state.
However #31891 seems like the exact same issue, even the logs are the same. I'll follow up there, thank you.

[2016-12-15 21:43] hjacobs commented on #38745
We also see "leaked" replica sets (left behind when deleting deployments) when creating new deployments using Kubernetes 1.4.7.

[2016-12-15 21:45] david-mcmahon commented on #38831
@spiffxp Looks like when the template was edited, a space was added between the block start and the release-note text.  https://github.com/kubernetes/release/pull/233 should account for such subtle changes in the future.

[2016-12-15 21:45] colemickens commented on #30752
@cunnie Did you discover this by manually running `gparted`/`sfdisk` on the nodes, or did you actually modify `kubelet` to use `gparted`?

[2016-12-15 21:50] MrHohn commented on #37041
cc @kubernetes/sig-storage

[2016-12-15 21:54] sjenning commented on #31272
I don't think this is an issue anymore after https://github.com/kubernetes/kubernetes/pull/37255

An e2e test is proposed in https://github.com/kubernetes/kubernetes/pull/38214

Should this be closed as fixed?

[2016-12-15 21:59] davidopp commented on #34126
Is the "instance autoscaler" being referred to here the GCE cluster autoscaler (which shouldn't be used) or the GKE cluster autoscaler?

Also we fixed the "heapster can't schedule" problem in 1.4 with the "rescheduler"

[2016-12-15 22:01] nikhiljindal commented on #37417
Assigning this to @MrHohn who clearly knows more about this than me :)

[2016-12-15 22:01] janetkuo commented on #35534
@viglesiasce are you working on this one?

[2016-12-15 22:02] saad-ali commented on #37041
Kinda funky, your container starts the dir may be empty, but oh at some point we may drop content in there. That said it's doable AFAIK

cc @pmorie

[2016-12-15 22:06] ymqytw commented on #38834
Is #38744 a similar issue?

[2016-12-15 22:09] chrislovecnm opened #38838 "E2E Testing Framework Architecture"
I would like some guidance on an idea I have about the deployer that we are using with e2e.  We now have multiple deployers:

https://github.com/kubernetes/kubernetes/blob/master/hack/e2e.go#L478

[code]

Would it make sense to turn each one of those into an interface definition?  For example, I have my `super-complicated-awsome-deployer`.  I do not want to submit another PR to use my `super-compl

[2016-12-15 22:13] rmmh commented on #33380
Closing to let a smaller issue page be opened.

[2016-12-15 22:13] #33380 closed

[2016-12-15 22:13] bowei commented on #37041
@saad-ali We already update the contents of the directory when the ConfigMap changes without coordinating with the pod, seems not that different to me...

[2016-12-15 22:24] hectorj2f commented on #35183
I think that having something similar to init-containers to be launched when the pod is terminated. It could make sense.

[2016-12-15 22:24] codablock commented on #30752
This sounds like alignment issues. As far as I remember, sfdisk does not do proper alignment and thus may result on very slow performance when you are not on classical spinning disks.

Azure disk provisioner does not even create partitions on the disks and thus alignment should not be the problem here.

Just tested creating a partition with sfdisk and iotop showed only 7-10mb/s throughput. Not usi

[2016-12-15 22:55] freehan commented on #31307
Ping @CaoShuFeng
Can you share your current status?

[2016-12-15 23:10] cmluciano commented on #37194
Since #37261 is merged, is this issue fixed?

[2016-12-15 23:13] chrislovecnm commented on #38838
The go guru @kris-nova says that she would recommend an adapter pattern.

[2016-12-15 23:16] MrHohn commented on #37194
Not sure other failure cases were fixed or not. But may close the issue and redirect traffic to #38552.

[2016-12-15 23:20] bacongobbler commented on #30726
this has been fixed in the 0.4 release. No official image exists for it yet.

[2016-12-15 23:25] MrHohn commented on #37417
@nikhiljindal Thanks. I don't have permission to self assign yet.

@dims Since the one of the root cause is #37488 , so may use the same response as @bprashanth said in [this comment](https://github.com/kubernetes/kubernetes/issues/28569#issuecomment-266069792):

[2016-12-15 23:26] bacongobbler opened #38843 "Release gcr.io/google_containers/kube-registry-proxy:0.4"
As of #35797 the kube-registry-proxy image was bumped to 0.4 but no image has been published. Is there something I can do to help publish the image?

Thanks! :)

[2016-12-15 23:39] justinsb commented on #16047
I believe this is implemented: https://github.com/kubernetes/kubernetes/issues/16047#issuecomment-239551868

Is there anything left to do, or can we close?

[2016-12-15 23:41] whereisaaron commented on #31891
If you have enough churn of pods (such as CI/CD) with EBS volumes you'll eventually see this. You can get this with just a small number of pods and volumes, e.g. I can get this with e.g. three pods on two worker nodes and two Pod-attached EBS volumes. You get it less (or possibly not at all) if you fully delete a deployment first. Using 'apply' to update running deployments is the best trigger in

[2016-12-15 23:59] ramukima commented on #31071
I am unable to get past this...

[code]
The cluster setup I have was created using kubeadm tool. Do I need to deploy additional services ? Is it the kubeproxy I need to run on 8080 ?

[2016-12-16 00:15] janetkuo opened #38847 "hack/local-up-cluster.sh broken on latest 1.5 branch"
local cluster failed to start in the latest 1.5 branch (commit 09cb1a9df8455c87c4e0f204e0f4e05284e7cf28):

[code]

[2016-12-16 00:31] bprashanth commented on #23225
@kubernetes/sig-network we should try and do this in 1.6, it's the cleanest way to handle kubeproxy failing admission checks (3 in https://github.com/kubernetes/kubernetes/issues/38322#issuecomment-267408017, but NOT handled in the fix for that issue)

[2016-12-16 00:31] lazzarello commented on #38843
Confirmed. I changed the tag to 0.3 and the pods created successfully. ref: https://console.cloud.google.com/kubernetes/images/tags/kube-registry-proxy?location=GLOBAL&project=google-containers

[2016-12-16 00:33] janetkuo commented on #38847
It worked in v1.5.0 (58b7c16a52c03e4a849874602be42ee71afdcab1) but is broken in v1.5.1 (82450d03cb057bab0950214ef122b67c83fb11df)

[2016-12-16 00:39] AdoHe commented on #38834
Yep, kind of regression.

[2016-12-16 00:41] justinsb commented on #31891
I don't think we should close this until we've validated it.  Reopening.

[2016-12-16 00:50] pwittrock commented on #34413
@soltysh any updates on this?

[2016-12-16 00:51] justinsb commented on #38116
cc @zmerlynn

[2016-12-16 00:52] smarterclayton commented on #35183
We had hesitations around adding finalizing containers when designing init
containers.  Allowing long strings of finalizers adds an additional state
machine component to the pod that is new (and hard to make backwards
compatible).  There is also a serious desire to avoid anything close to a
graph of tasks.

Use case wise, I've heard:

1. Release resources acquired during init (global locks, API re

[2016-12-16 00:52] justinsb commented on #38069
Our e2e is leaking them though (I believe we know about it, but good call to track it @metral )

cc @zmerlynn

[2016-12-16 00:53] madhusudancs commented on #31071
@ramukima would you be able to use the new version of Kubernetes (1.5.x+)? If you can, then I recommend using `kubefed` - http://kubernetes.io/docs/admin/federation/kubefed/ for turning up the control plane. Also, you don't have to upgrade your existing Kubernetes clusters. You just need to download the new version of the release to use `kubefed`.

[2016-12-16 00:56] Random-Liu commented on #38498
Agree. Although it's weird that `volume` directory does not present, it should not block cleanup.

/cc @saad-ali @jingxu97

[2016-12-16 00:56] justinsb commented on #37844
This looks like an installation issue: kubeadm is in alpha, and isn't ready for use for use with cloudproviders yet.  You should probably be using a tool like kops or kube-aws.

[2016-12-16 00:56] philips commented on #22888
@erictune @ecordell this is done and can be closed, right?

[2016-12-16 00:59] justinsb commented on #37843
So it sounds like this is caused by deleting the PV.  And so the correct procedure for deleting a PetSet entirely would be to delete the PetSet, delete the PVCs and then delete the PVs (is that right @jsafrane ?)

[2016-12-16 01:00] pajel commented on #31891
I am working on the same cluster as @leosunmo, upgraded to 1.4.7 and the issue is not fixed. Exactly the same symptoms - EBS stuck in attaching, trying to mount to /dev/xvdbb which probably hasn't been unmounted properly.
#38818 looks promising, we'll re-try once it's released.

[2016-12-16 01:01] Random-Liu commented on #38498
@sebbonnet
Kubernetes 1.3.5 is released on Aug 11th, https://github.com/kubernetes/kubernetes/releases/tag/v1.3.5
The PR added `volumes` directory is cherry-picked on Aug 18th, https://github.com/kubernetes/kubernetes/pull/30824
Kubernetes 1.3.6 is released on Aug 26th, https://github.com/kubernetes/kubernetes/releases/tag/v1.3.6

If your previous Kubernetes version is older than 1.3.6, then it wi

[2016-12-16 01:02] justinsb commented on #37705
Thought: We do mount a filesystem, not a block device.  So we _could_ support this even without any help from the cloud provider.  Most simply: stop pod, create volume 2 of bigger size, copy all files from volume 1 to volume 2,  create new pod.

And of course, on GCE/Azure this could be done with help from the cloud.

[2016-12-16 01:06] justinsb commented on #37492
`local-hostname` is different when you're using a custom DHCP domain, for reasons I don't fully understand.  Moving to use the instance id as identifier, or passing in the Node objects into the cloudprovider is probably an easier way forwards here.

But I think this is a good idea - I think we can certainly lock down IAM to DescribeTags and DescribeInstances.

[2016-12-16 01:10] justinsb commented on #36845
I think hubt's faq is great here:
https://github.com/hubt/kubernetes-faq#how-would-i-make-a-service-which-listens-on-both-http80-and-https443

I believe the magic combo is:

[code]

Can you please let me know if that works?

[2016-12-16 01:23] CaoShuFeng commented on #31307
@freehan
I talked this with tomdee, he said he will start this work in the new year.
Since he is more skilled than me, maybe this issue can be assigned to him?

[2016-12-16 01:28] spacexnice commented on #38802
@rxwen @du2016  What network modal do you use?  Try k8s with flannel VPC on AliCloud.   [Link](https://yq.aliyun.com/articles/66474?spm=5176.8091938.0.0.sZljHa)

[2016-12-16 01:28] cunnie commented on #30752
@colemickens : We discovered this by manually running gparted / sfdisk on the instances we deployed on Azure (i.e. we're not using containers). We don't use Kubernetes — we are developers on Cloud Foundry, which is an alternative to Kubernetes.

When we ran into this problem, we were pleased to discover we were not the only ones who have been bitten by this bug. And we wanted to make sure our Kube

[2016-12-16 01:28] jingxu97 commented on #38498
I checked a little bit and found the "volumes" directory under pod directory has been used long time ago, at least release 1.2 also use it. I am not sure why "volumes" directories are all deleted in this case.

But I agree cleanup should not be blocked by this. Will work on a fix soon.

[2016-12-16 01:31] justinsb commented on #36641
A few ideas @anchitanc:

* what happens if you remove the security context?
* if you `kubectl describe pod symserver` do you see any errors/events?
* Are you sure that the pod `symserver` is landing on a node with the `/symtmp` directory?

[2016-12-16 01:33] Random-Liu commented on #38498
Yeah, you are right. The PR I pasted above only move the names around.

[2016-12-16 01:34] rxwen commented on #38802
@spacexnice Unfortunately, we're using classical network model.

[2016-12-16 01:35] saad-ali commented on #38847
Thanks for noticing this @janetkuo

@kubernetes/sig-cluster-lifecycle can you please help investigate and triage this issue or help find the correct owner?

We need to:

1. Verify that local-up-cluster is indeed broken in 1.5.1.
2. Identify what the severity of this is and how quickly we need to get a fix out.
3. Figure out why it's broken and fix it
  * There were only two commits between 1.5.0 a

[2016-12-16 01:36] justinsb commented on #36480
Can a GCE instance mount a PD from another project?

[2016-12-16 01:36] janetkuo commented on #38847
Update: #38708 is the cause

[2016-12-16 01:37] jingxu97 commented on #31891
Hi @pajel, thanks for reporting this. I am wondering when you mentioned  "trying to mount to /dev/xvdbb which probably hasn't been unmounted properly." what do you mean by "hasn't been unmounted properly"?
In the kube-controller-manager log, could you see whether DetachVolume (the volume that used /dev/xvdbb device path) is finished successfully? Just want to make sure the stuck in attaching state

[2016-12-16 01:40] lazzarello opened #38849 "Documentation for built in docker registry produces a non-functional docker registry"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): `Linux ip-10-53-83-178 4.4.23-k8s #1 SMP Fri Sep 30 13:51:02 UTC 2016 x86_64 GNU/Linux`
- **Install tools**: kops

**What happened**:

I installed the project's [built in docker registry](https://

[2016-12-16 01:40] justinsb commented on #36156
So I think the issue here is that we are including masters in the list of zones for an ELB.  In your case you have masters in zones A,B,C; but you only have nodes in zone C.  So you would like your ELB only to be created in zone C.  Is that right @anioool ?

If so, I think this a case of #33884  We should only create ELBs in zones where there are nodes (and ignore master nodes).

If not, can you p

[2016-12-16 01:43] justinsb commented on #38824
I'm actually going to reopen this (if that's OK @rootfs) because it is a good idea, and we haven't implemented STONITH.  I think we should either implement this or STONITH.

[2016-12-16 01:50] saad-ali commented on #38847
CC @bprashanth

Local cluster up is a "hack" script we provide. It sucks that it broke in v1.5.1, but we do not need to rush a fix a v1.5.2 out the door to fix it. Instead we will wait for the normal v1.5.2 release schedule (post holiday).

Action items:
1. Update v1.5.1 release notes with a "Known Issues" section and add this issue to it, and, if possible, provide a workaround.
2. Fix this issue

[2016-12-16 01:54] matchstick commented on #34413
@pwittrock Giving this P1 priority and targeting to 1.5 for now. Should this be backported to 1.4?
Also I see #35688 has a possible fix. @soltysh Do you have an ETA? are you waiting on review?

[2016-12-16 02:02] janetkuo commented on #38847
Yes

[2016-12-16 02:08] #21826 closed

[2016-12-16 02:10] cblecker opened #38850 "Ingress doesn't pick up healthcheck URL when using named port in readinessProbe"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
readinessProbe
readinessProbe ingress

---

**Is this a BUG REPORT or FEATURE REQUEST

[2016-12-16 02:16] deads2k commented on #38847
Yeah.  I fixed it in a different pull once before

[2016-12-16 02:18] janetkuo commented on #38847
Is the following workaround acceptable?

Pass `--anonymous-auth=true` to `sudo -E "${GO_OUT}/hyperkube" apiserver ...`

[2016-12-16 02:18] m1093782566 opened #38851 "Support self defining skydns rcache and scache options for kube-dns"
**What:**

Provide an option for kube-dns to set skydns `rcache` and `scache` size, which can improve kube-dns performance in my environment.

**Why:**

Current implement of kube-dns doesn't support self defining these options,

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-dns/app/server.go#L154-L157

And I find if not set, the default value for both `rcache` and `scache` are 0.

[2016-12-16 02:20] smarterclayton commented on #38834
Sigh.

[2016-12-16 02:21] saad-ali commented on #38847
Thank you both.

@deads2k?

[2016-12-16 02:22] zihaoyu opened #38852 "apiserver unable to start after upgrading to etcd v3"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Install tools**: Custom Terraform + cloud-config YAML
- **Others**:

**What happened**:

kube-apiserver failed to start after upgrading etcd to v3 and migrating data. Logs [here](http

[2016-12-16 02:24] eghobo commented on #38824
@justinsb I am not sure that force detach is good idea, e.g. operator just want restart kubelet.

[2016-12-16 02:40] xingzhou commented on #38748
These [lines](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/schema.go#L383-L390) are now used by kubectl to validate yaml files.

As `v1.EnvVar[].value` is of `string` type, according to the code right now, the data of this field is `"Be loose about what we accept for 'string' since we use IntOrString in a couple of places"`.

 But from apiserver side, when it decodes the

[2016-12-16 02:43] mikesplain commented on #16047
Nope all good now thanks!

[2016-12-16 02:43] #16047 closed

[2016-12-16 02:43] hongchaodeng commented on #38852
@zihaoyu
Do you keep the etcd data? Can you upload it and share here?

[2016-12-16 02:46] zihaoyu commented on #38852
@hongchaodeng I'm not sure about etcd storage schema. Which file(s) are you interested in?
[code]

[2016-12-16 02:53] hongchaodeng commented on #38852
Package entire dir:
[code]
And then share it via dropbox, s3 link or something like that.

[2016-12-16 03:02] calebamiles commented on #38850
Could someone from @kubernetes/goog-gke help with triage?

[2016-12-16 03:10] zihaoyu commented on #38852
@hongchaodeng Thanks. Shared with your github email address.

[2016-12-16 03:16] hongchaodeng commented on #38852
@zihaoyu
Can you share etcd flags (how you start etcd cluster) and etcd logs?

[2016-12-16 03:23] zihaoyu commented on #38852
[code]

`/opt/bin/etcd` is the v3 binary.

Etcd logs are [here](https://gist.github.com/zihaoyu/b481540732b7f0f6ba75300e3da8e1a0).

[2016-12-16 03:46] hongchaodeng commented on #38852
@zihaoyu
How many members?

I failed to start it because it seemed to have 3 members:
[code]

[2016-12-16 03:47] zihaoyu commented on #38852
@hongchaodeng Yes there are three members in the cluster.

[2016-12-16 03:50] hongchaodeng commented on #38852
Do you have original data before migrated? Otherwise, after migrated, do you have the etcd cluster running?

Could you do a backup: https://coreos.com/etcd/docs/latest/admin_guide.html
[code]
And send the backup datadir again?

[2016-12-16 03:52] zihaoyu commented on #38852
I have a backup, from a few days ago. I did the migration today, and let the cluster run after migration. If I do a backup now, is it v2 or v3 data that is being backed up?

[2016-12-16 03:57] hongchaodeng commented on #38852
backup will keep all data except metadata (e.g. membership).
The original data would be better, although the migrated data works too.

[2016-12-16 04:00] feiskyer opened #38854 "CRI: upgrade protobuf to v3"
We use proto2 in CRI because protobuf v3 is beta then. Now that protobuf [v3.1.0](https://github.com/google/protobuf/releases) have released for a few months, we should consider upgrade to v3 in case of API incompatibility in the future (see what's new in v3 at [here](https://github.com/google/protobuf/releases/tag/v3.0.0)).

According protocol buffer [developer guide](https://developers.google.co

[2016-12-16 04:09] ramukima commented on #31071
I will try it and post the results here.

[2016-12-16 04:09] colemickens commented on #30752
I am going to try to do some additional investigation tonight, but I'm unsure of how to translate your observations to Kubernetes here.

As @codablock implied, we don't use `sfdisk` anywhere here (that I'm aware of). There's three scenarios:

1. Non-dynamically provisioned. User brings a pre-formatted VHD. Everything goes smoothly as the `kubelet` merely needs to mount the block device and tell `d

[2016-12-16 04:10] thockin commented on #38850
Ahh, it's not that readiness doesn't work, it's the translation to Ingress.  This feels sketchy to me, in the first case - a service might have different pods with different readiness probes.

@beeps this is you :)

[2016-12-16 04:10] thockin commented on #38850
I meant @bprashanth

[2016-12-16 04:13] lichen2013 opened #38856 "Install k8s using vagrant do not work"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Vagrant

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPOR

[2016-12-16 04:16] hongchaodeng commented on #38852
@zihaoyu
So I managed to restore the data.
After that, I started kube-apiserver v1.4.6 binary to talk to it:
[code]

It's working:
[code]

I think the data is safe by now. It's probably some misconfiguration somewhere.

[2016-12-16 04:24] yaxinlx opened #38857 "Dangerous channel using in Kubelet.podKiller"
https://github.com/kubernetes/kubernetes/blob/1d3c7ca7581272124b0853a606bb88387a4db9ea/pkg/kubelet/kubelet_pods.go#L756

There is a defer calling in this method:

    defer close(resultCh)

It may crash the goroutine created at line 777, which then will make the whole kubelet crash.

A simple fix
[code]

Another simple fix
[code]
The third fix:
[code]

[2016-12-16 04:29] zihaoyu commented on #38852
@hongchaodeng Looks like it's the `--admission-control` flag. After it is removed from start up command, the error messages are gone, but the api server still seems to be down, as neither kube-controller-manager nor kube-scheduler can connect to the API.

[2016-12-16 04:33] hongchaodeng commented on #38852
What messages are gone?

OK. I will try to help with your flags tomorrow.

[2016-12-16 04:40] BruceZu opened #38858 "where does the yaml file used in ' kubectl create' to fetch the variable value ?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Not sure

**Environment**:
K8s cluster based on metal machines and OS is CentOS 7

**What happened**:
I run kubectl create -f <yaml file> to create deployment and pod.
The special part here is I want the namespace and image value be variable
but apparently yaml file know it is variable but it can not resolve it.

I posted it to Ansible com

[2016-12-16 04:46] zihaoyu commented on #38852
Sorry I meant those "getsockopt: connection refused" error messages. Thank you. Talk to you tomorrow.

[2016-12-16 04:50] podollb commented on #33447
Looks like GKE only supports 1.4.6 still...I just tried to spin up a cluster and was hoping to see newer version available...

[2016-12-16 04:57] feiskyer commented on #38833
Yes, check [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L768). And +1 for having the image service be the only thing that deals with image strings.

But do we really want to take care of such problem? I mean if resources are already managed by kubelet, external processes should not manage&change them synchronously.

[2016-12-16 05:05] hongchaodeng commented on #38852
@zihaoyu
In your env, can you verify again etcd cluster is responsive:
[code]

[2016-12-16 05:17] thockin commented on #38802
I am assuming you ran tcpdump or something?  I guess the two SYN are 1) to
svc VIP, 2) post-NAT to backend.  The SYNACK response should be un-NAT'ed,
but it's not.

I'm not sure where to start with this - can you run `conntrack` and see
that you are not running out of conntrack records?

On Thu, Dec 15, 2016 at 5:34 PM, rxwen <notifications@github.com> wrote:

[2016-12-16 05:25] thockin commented on #37705
Resizing the blockdevice is not all you need to do, though.  You also need
to resize the filesystem, which we don't necessarily control.

I think it would be a cool feature, but it sounds VERY hard to capture in a
generic-ish API and very prone to corner cases.

On Thu, Dec 15, 2016 at 5:02 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2016-12-16 05:27] thockin commented on #23225
This intersection of kube-proxy and eviction was unforeseen.  We're working
on a short-term fix for 1.4 and 1.5, and I think a DaemonSet is correct for
1.6.  we'll either use the 'critical' annotation or a new priority system
TBD.  Being in a Daemonset also means we can mutate things like resource
requests in response to cluster size.

On Thu, Dec 15, 2016 at 4:31 PM, Prashanth B <notifications@gi

[2016-12-16 05:28] thockin commented on #37041
This would be an optional feature (pun intended!) that apps don't have to
opt in to if they can't handle it.

On Thu, Dec 15, 2016 at 2:13 PM, Bowei Du <notifications@github.com> wrote:

[2016-12-16 05:29] thockin commented on #37041
See https://github.com/kubernetes/community/pull/175

[2016-12-16 05:29] #37041 closed

[2016-12-16 05:39] rxwen commented on #38802
Yes, I used tcpdump. As you said, the SYNACK isn't un-NATed, that's why our app end send a RST.

Should there be a iptables rule to do unNAT explicitly? I can't seem to find a rule did this.

[code]

[2016-12-16 05:43] thockin commented on #38802
No, it should un-nat automatically because a conntrack record is created.
Or is supposed to be...

On Thu, Dec 15, 2016 at 9:39 PM, rxwen <notifications@github.com> wrote:

[2016-12-16 05:45] brendandburns commented on #36770
+1M, I basically just let Jenkins do this for me, it's too painful to lock up my box to run it locally.

[2016-12-16 05:46] chenchun commented on #38802
@rxwen can you check if `cat /proc/sys/net/bridge/bridge-nf-call-iptables` is set? Maybe related https://github.com/kubernetes/kubernetes/pull/38751

[2016-12-16 05:49] rxwen commented on #38802
@chenchun No, it's 0.
On another cluster that is working fine, it's 1.

Is it a requirement?

[2016-12-16 05:50] chenchun commented on #38802
Yes, if your are using bridge device. Can you try to set it and test again?

[2016-12-16 05:51] rxwen commented on #38802
Seems to find relevant doc here. http://kubernetes.io/docs/admin/network-plugins/

[2016-12-16 05:54] BruceZu opened #38859 "'kubectl run' supports only one '--port'?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
not sure

When I deploy GitLab and Jenkins using 'kubectl run ',  it need more ports.
**What happened**:
I write it as --port=80 --port=9000
But only the last one is used

**What you expected to happen**:
I hope the  'kubectl run ' can provide more --port

May be the way I wrote is not right, if this is the case then how to use the ' --por

[2016-12-16 05:59] bprashanth commented on #38850
An overwhelming majority or users didn't do different pods with different readiness probes, and if they do, they get the default "/". We need to define health checks at the Service level, till then, readiness probes are the closest (save duplicating all the http options we already expose in the readiness probe once again in ingress annotations, once per backend).

Not picking up on the named port

[2016-12-16 05:59] rxwen commented on #38802
@chenchun A quick test succeed! Thanks.

[2016-12-16 06:18] rasekar2000 commented on #36480
Hello @vishh , Can you please assign this ticket to appropriate person?

Thanks in advance.

Regards,
Raj

[2016-12-16 06:27] rasekar2000 commented on #36480
Hello @justinsb ,

 I am using Kubernetes Dockers in GKE ( Google Container Engine ) and not sure about how GCE instance will help here.

 If you are suggesting to use a mount of one project's PD in a GCE first and then use this GCE as a PD in the same project project's GKE !! , I feel, its bit overhead compared to other AWS / GlusterFS solutions available in hand ..

Thanks and Regards,
Raj

[2016-12-16 06:30] k8s-merge-robot opened #38860 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/1652/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313 #33380 #35444 #37814 #38204

[2016-12-16 06:48] brendandburns commented on #38791
PR sent.

[2016-12-16 07:04] #23224 closed

[2016-12-16 07:33] k82cn commented on #25318
Thanks very much; I'm going to work on that.

[2016-12-16 08:22] fabiand commented on #33517
Can we reopen this issue according to the previous comment?

[2016-12-16 08:57] wojtek-t commented on #35107
The problem here was hanging tests dur to never-finishing HPA tests - https://github.com/kubernetes/kubernetes/issues/38298

Fixed recently, so closing also this one.

[2016-12-16 08:57] #35107 closed

[2016-12-16 09:16] joeblackwaslike commented on #38774
+1 same error here on 1.5.1, worked on 1.4.6 fine.

here are some more verbose logs from a local minikube

$ kubectl --v=8 logs -f couchdb-0
I1216 04:11:29.153099    7472 loader.go:354] Config loaded from file /Users/joeblack/.kube/config
I1216 04:11:29.160707    7472 round_trippers.go:296] GET https://192.168.64.6:8443/api
I1216 04:11:29.160725    7472 round_trippers.go:303] Request Headers:
I121

[2016-12-16 09:31] hex108 opened #38862 "Kubelet rejects the pod scheduled on it"
We use kubernetes 1.4.0.

Kube-scheduler schedules a pod on a kubelet node. However the kubelet rejects the pod because of OutOfmemory. There is no mirror pod in the cluster and all pods has resource requests, is there any case might cause it?

Kube-scheduler log is:

I1214 16:54:26.850813   18367 factory.go:582] Attempting to bind windyliu1-209600820-9d2c1 to node-10-199-15-220

</quote>

Questio

[2016-12-16 09:35] mortenlj opened #38864 "kubectl continues with operation even if context specified by `--context` does not exist."
**Is this a request for help?**
(If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?**
(If you have found any duplicates, you should instead reply there.):

kubectl context

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BU

[2016-12-16 09:46] junneyang opened #38867 "i suggest k8s support non-docker app like mesos/marathon"
https://mesosphere.github.io/marathon/

![image](https://cloud.githubusercontent.com/assets/6802322/21258365/9265179c-c3b7-11e6-8579-b5418fd7dad3.png)

[2016-12-16 10:16] #37310 closed

[2016-12-16 10:29] pkyeck commented on #13493
I tried the above but received an error message saying:

Did anyone got this to work?

[2016-12-16 10:33] kargakis opened #38868 "Index pods by node name for the daemon set controller"
The daemonset controller fetches all pods in the system twice for every daemon set and node update in [nodeShouldRunDaemonPod](https://github.com/kubernetes/kubernetes/blob/cf2dc3968b887199f3ffad48ac470af2ba9b2e32/pkg/controller/daemon/daemoncontroller.go#L668-L672). We may want to add a NodeNameIndex in the pod cache and index pods by node, then use the index in the controller.

@kubernetes/sig-a

[2016-12-16 11:57] #36453 closed

[2016-12-16 11:58] wojtek-t commented on #38776
@shyamjvs - if you have time, you can also take a look into this one.

[2016-12-16 12:03] jsravn commented on #38456
Maybe if pod deletion had some sort of connection draining, it could help mitigate some of the issues.

Something like this could happen when deleting a pod:
# Endpoint is removed for pod
# kubelet monitors connections to that pod, and waits up to `connectionDrainingTimeout` for all the connections to terminate - this gives time for persistent connections to terminate, while preventing new connect

[2016-12-16 12:23] kris-nova commented on #38838
There are a few good approaches to this, and they come in a few guises.

### Adapter Pattern

The **adapter pattern** is an older idea taken from my object oriented days, and basically dictates that you have 2 interfaces. That you can then adapt implementations from **interface a** to **interface b**.. After looking at the use case here.. I am not so sure that is what we need..

### Strategy Patte

[2016-12-16 12:39] kris-nova commented on #38838
This had my attention so I actually went ahead and looked into implementing this..

The interface code is already there, and looks great.. I think I pretty much conjured up almost the [exact same source code](https://github.com/kubernetes/kubernetes/blob/master/hack/e2e.go#L209) on the fly that is already implemented!

So it sounds like what you are looking for is just a design path on how to impl

[2016-12-16 12:41] deads2k commented on #38628
@mikedanese cj thought you could help me find someone who knew how to create the image that I need.  We have a `local-up-discovery` script that shows roughly what I'd like to do.  This line does a docker build: https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-discovery.sh#L85

[2016-12-16 13:15] codablock commented on #30752
@colemickens What do you think about https://github.com/kubernetes/kubernetes/pull/38865? It would solve this issue. It would not tell us why it is slower in kubelet, but the problem itself would be solved. Should I CC more people to get this discussed faster? I would even like to see this in an upcoming 1.5.x release.

[2016-12-16 13:18] ehacke commented on #36117
For anyone else running into this issue. If your deployment does not seem to work, do the following:

1. Ensure your deployment is reset back to the last successful deployment (not sure this is 100% required)
2. Use `kubectl get rs` to find all replica sets for that deployment
3. You should see a bunch of extra replica sets that have their `Desired` value at 0, delete all of those
4. Reattempt the

[2016-12-16 13:19] hotstepper13 opened #38870 "KubeDns breaks with StatefulSet (PetSet) / resolve ip of a pod by name is not possible"
**What keywords did you search in Kubernetes issues before filing this one?**
petset
statefulset
dns
Invalid IP Address

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT (likely)
[edit]
I found out that this seems to be an expected behavior. Nevertheless from my point of view this is a bug as if you need the IP of the pod to resolve the IP of the pod it doesnt make sense.

[2016-12-16 13:23] deads2k commented on #38847
Yeah, that's actually better than what I did with the modification I made.  You want to do that instead?

[2016-12-16 13:56] smarterclayton commented on #33517
@bronhaim can you add more details about your recreation?

[2016-12-16 14:10] zihaoyu commented on #38852
@hongchaodeng Yep all nodes are running:
[code]

[2016-12-16 14:21] sigxcpu76 commented on #38791
The single file/multiple merged files approach and kubectl context switching seems cumbersome to me. I use this to separate clusters:

[code]

I hope the env var will not be obsoleted :)

[2016-12-16 14:31] #38822 closed

[2016-12-16 14:38] OlivierBoucher commented on #34919
I tried using kubefed + k8s 1.4.6 (Latest available on GCE) and got errors saying my version was not supported when trying to add a cluster to the federation... Note that creating the federation api server and manager worked.

I managed to get something working using @kelseyhightower labs.

[2016-12-16 14:42] tmaillart opened #38872 "Different gateway on nodes sharing the same network will cause communication error"
Hi everyone!

We have setup a Kubernetes cluster following http://kubernetes.io/docs/getting-started-guides/kubeadm/ instructions, and using *calico* CNI.
Everything went great, but when we added a new network interface on the nodes and added its *gateway*, the kubernetes services were not able to communicate with each other anymore.
As a result, at boot, the node spawn the first calico container

[2016-12-16 14:42] pmorie commented on #33179
@erictune putting them into the same file is the domain of templates, IMO. I doubt we can make everyone remotely happy with anything short of templates for that functionality, and as fraught with peril as templates are, my current position is that we should give the community patterns for how to do templates in sidecars, and ease the process by allowing you to stick all the ingredients needed to p

[2016-12-16 14:47] pmorie commented on #33179
I would also strongly prefer not to use a specific filesystem to make this happen at this point. It's another dependency on the host (wanna support overlay on n diff kernels?) and you will deal with bugs in different versions people have installed. I would prefer to emulate union mounts for now and switch over to a host dep and real fs once we think it is solid enough to do so.

[2016-12-16 14:49] dims commented on #38867
@junneyang yes, this is already being done, please see details below:

https://github.com/kubernetes/kubernetes/blob/release-1.5/docs/devel/container-runtime-interface.md
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/container-runtime-interface-v1.md
https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr%20%20CRI%20in%3Atitle%20
https://github.com/kubernetes-

[2016-12-16 15:18] kargakis commented on #170
DaemonSets and StatefulSets may use PodTemplates as a way of retaining history thus enabling rollbacks

[2016-12-16 15:24] timothysc opened #38874 "Further cleanup from registry refactoring"
Follow on from: https://github.com/kubernetes/kubernetes/pull/37039

Two items should be cleaned up:

1. Any remaining structs named Etcd
2. Import renaming should follow the last two dirs pattern
```configmapstore "k8s.io/kubernetes/pkg/registry/core/configmap/storage"``` - should be configmapstorage

[2016-12-16 15:57] kargakis commented on #7328
Generation is now in metadata meaning all objects have it, the api server should increment it for all of them on spec changes. observedGeneration has been implemented for Deployments, RC/RS, StatefulSets, PDB, HPA. Not sure about the rest of the api objects having observedGeneration but it is missing from DaemonSets, Jobs, and CronJobs where I thnk it makes sense.

cc: @soltysh @lukaszo

[2016-12-16 16:00] thockin commented on #38456
This is called "graceful termination" and we already have it.  The pod
states how long it needs to drain connections.  When you delete the pod,
SIGTERM is sent, and the pod is removed from Endpoints groups.  The timer
starts.  after the timer expires, if the pod has not exited, it gets
SIGKILL.

On Fri, Dec 16, 2016 at 4:03 AM, James Ravn <notifications@github.com>
wrote:

[2016-12-16 16:09] jayunit100 commented on #17858
wait, i beleive in a conversation the other day @liggitt mentioned api int fields should be 32 , not 64?  I could be misremembering though.

[2016-12-16 16:22] ecordell commented on #22888
@philips Yes, this is done and went out alpha in 1.4

[2016-12-16 16:49] jbeda commented on #38712
IMO, it is cool if we have manually generated files that are checked in too.  But those should have a unique name so that the generation itself can be run in a container and the results copied out.  Based on Tim's feedback it shouldn't be `zz_generated.*` but could be something else predictable.  `manualgen.foo.go`?

If at all possible, then put a `README` or a comment on the top of the file about

[2016-12-16 16:58] thockin commented on #38712
I'm fine with changing the prefix we use for on-the-fly files, too, just as
long as it is different.

On Fri, Dec 16, 2016 at 8:50 AM, Joe Beda <notifications@github.com> wrote:

[2016-12-16 16:59] Dmitry1987 commented on #33544
@sebgoa  can you please share which step solved the DNS pod issue for you?  I get exactly the same error of "uninitialized" (kubeadm init finished ok with no errors, and I was able to join 1 node, then I see several pods started but this one can't)

[code]
I used this init command:
```kubeadm init --use-kubernetes-version=v1.5.1 --cloud-provider=aws --service-dns-domain=newcluster.local --api-adve

[2016-12-16 17:10] thockin commented on #38802
@freehan we should make sure the CNI bridge driver takes over this responsibility.

[2016-12-16 17:10] thockin commented on #38802
should we close this bug?

[2016-12-16 17:13] thockin commented on #36770
IME, #1 time waster is the JSON stuff.  I have been working on a faster
JSON generator, but another option is to go back to reflect-based JSON now
that we primarily use proto internally.

On Mon, Nov 14, 2016 at 12:52 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-12-16 17:19] bprashanth commented on #38456
Fyi I believe the nginx "master" process handles SIGTERM as a quick shutdown, and QUIT as a graceful shutdown, so you might need a wrapper that does the translation (accepts TERM, sends QUIT to /usr/local/nginx/logs/nginx.pid or wherever)

[2016-12-16 17:22] thockin commented on #38456
or you can set the STOPSIGNAL in Dockerfile.  It is SIGTERM by default.

On Fri, Dec 16, 2016 at 9:19 AM, Prashanth B <notifications@github.com>
wrote:

[2016-12-16 17:22] bgrant0607 commented on #38791
See also #9298, #10693

cc @ghodss @fabianofranz @pwittrock

[2016-12-16 17:24] bgrant0607 commented on #9298
cc @justinsb @brendandburns @fabianofranz

[2016-12-16 17:33] tonglil commented on #33586
Hi @bprashanth, you are correct in that the connection to the application is from the L7 LB itself.

1) How does one configure FW rules for the LB from Kubernetes? Is this feature something on the roadmap for Ingress? Or does this need to be a manual step outside of K8s?

2) Since the L7 LB sends traffic to the node ports directly, is the `backend` in Ingress only used as a selector for traffic?

[2016-12-16 17:36] bprashanth commented on #33586
The ingress controller creates a firewall rule for google's anycase ip range, and adds each node port from the service in the ingress to it. The backend in GCE ingress is used to figure out which node port to send to currently, this is an implementation detail and likely to change. Nginx ingress for examples uses the backend to lookup endpoints and go directly to them.

[2016-12-16 17:40] tonglil commented on #33586
Thanks, I meant that if I want to limit the traffic to my application from a certain IP, do I need to add those additional FW rules in GCP's firewall myself (no K8s way to do it)?

[2016-12-16 17:45] bprashanth commented on #33586
You will need to run something like nginx behind the gce ingress and reject
based on X-FORWARDED-FOR header that the GCE L7 inserts (contains the true
client ip). There is no way to program the GCE L7 to reject based on source
on k8s or gce.

On Fri, Dec 16, 2016 at 9:41 AM, Tony Li <notifications@github.com> wrote:

[2016-12-16 17:45] hjacobs commented on #29542
@xiang90 what's the workaround with cURL?

[2016-12-16 17:49] djsly commented on #34293
Quick question, with the new PrimaryAvailabilitySet. Should we set a different value in the azure.conf on each of the different node ?

I might be missing something here.

If we set the same PrimaryAvailabilitySet everywhere, will the LoadBalancer be able to attach to its endpoint pods that reside on nodes not in the PrimaryAvailabilitySet ?

[2016-12-16 17:56] calebamiles commented on #38392
You have been removed from `test/test_owners.csv` on the 1.4 feature branch @karlkfi. You are not mentioned in the file on `HEAD` or in the 1.5 feature branch. Marking this issue as closed.

See you space cowboy.

[2016-12-16 17:56] #38392 closed

[2016-12-16 18:04] hongchaodeng commented on #38852
Can you verify the endpoints you set in your apiserver:
[code]

[2016-12-16 18:07] #38725 closed

[2016-12-16 18:07] hongchaodeng commented on #38852
@zihaoyu
It seems like the apiserver flags you gave me atop is suspicious..

[2016-12-16 18:07] tonglil commented on #33586
Interesting, ok thanks. Is that on the roadmap at all?

[2016-12-16 18:08] tylerFowler opened #38877 "MacOS bash completion `have` dependency missing"
After installing the kubectl bash completion (as well as `bash-completion` via homebrew and the appropriate changes to my bash profile) I've been getting this error every time my bash profile is sourced:

`-bash: have: command not found`

Unfortunately this 'have' command is extremely difficult to Google, although the kubectl completion seems to work even without it.

**kubectl version:**
[code]

[2016-12-16 18:09] zihaoyu commented on #38852
@hongchaodeng
[code]

[2016-12-16 18:12] jayunit100 commented on #19005
I think suggest changing to P3 since there isnt any urgency to merge it.

[2016-12-16 18:25] hongchaodeng commented on #38852
Can you restart your apiserver, removing all the shit, and leave only:
[code]

And see if kube-apiserver still works:
[code]

And logs if not?

[2016-12-16 18:34] zihaoyu commented on #38852
Started apiserver with the args you provided:
[code]

[code]

[2016-12-16 18:42] hongchaodeng commented on #38852
@zihaoyu
OK. I have seen this thing before.
Let me write a custom apiserver and hand it out to you to further confirm this.

[2016-12-16 18:43] chrisleck commented on #38744
I had to roll back to 1.4.7 due to this issue.  Happy to help, but not sure what the desired semantic is here through the twisty maze of config code.

[2016-12-16 18:43] smarterclayton commented on #17858
It doesn't have to be, it should be 32 or 64.  Code not in api groups can
continue to use int, although it's better to pick a size if you get your
input primarily from an API.

On Fri, Dec 16, 2016 at 11:09 AM, jay vyas <notifications@github.com> wrote:

[2016-12-16 18:46] #35518 closed

[2016-12-16 18:48] zihaoyu commented on #38852
@hongchaodeng Great. Thanks!

[2016-12-16 18:52] bprashanth commented on #33586
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx/examples/whitelist
helps maybe? if not, please figure out the nginx options that filter
looking at XFF and file a bug at https://github.com/kubernetes/ingress

On Fri, Dec 16, 2016 at 10:07 AM, Tony Li <notifications@github.com> wrote:

[2016-12-16 19:00] karlkfi commented on #38392
Good luck, guys!
And thanks for all the fish.

[2016-12-16 19:07] janetkuo commented on #38847
Filed #38884

[2016-12-16 19:15] Random-Liu commented on #37772
Dup to #38373. I don't remember why I filed the issue twice. Close this one.

[2016-12-16 19:15] #37772 closed

[2016-12-16 19:17] madhusudancs commented on #34919
Could you please share the exact error messages? Or file an issue for it?

[2016-12-16 19:17] krousey commented on #38660
@spxtr make it stop make it stop please make it stop

[2016-12-16 19:19] krousey commented on #38660
Unassigning because this is really noisy and incorrectly reported.

[2016-12-16 19:20] jayunit100 commented on #17858
ok, so specifically, just to be fully explicit:

i think we are saying external must be int32/64 to avoid ambigueties in the goreflect related generation that leads to inconsistent int32/int64/uint's for the same types - which ultimately will cause a *failure to compile* during generation...  is that accurate ?

[2016-12-16 19:25] k8s-merge-robot opened #38889 "ListResources Before {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/131/

Failed: ListResources Before {e2e.go}

[code]

Previous issues for this test: #34755

[2016-12-16 19:27] fabianofranz commented on #38834
@kubernetes/kubectl

[2016-12-16 19:28] fabianofranz commented on #38834
Yes, most likely the same cause.

[2016-12-16 19:29] MrHohn commented on #38870
As documented on http://kubernetes.io/docs/user-guide/petset/#network-identity. The correct format to resolve the pod IPs for StatefulSet as below:
[code]

[2016-12-16 19:29] freehan opened #38890 "Migrate kubenet bells and whistles to cni"
Stuff to migrate:

1. sysctl bridge-nf-call-iptables
2. promiscuous bridge mode and ebtables deduplication
3. traffic shaper
4. hostport

[2016-12-16 19:30] freehan commented on #38802
Open a issue for tracking https://github.com/kubernetes/kubernetes/issues/38890

closing this one

[2016-12-16 19:30] #38802 closed

[2016-12-16 19:32] spxtr commented on #38660
Assigning to @rmmh because I think he's working on making it stop.

[2016-12-16 19:32] nikhiljindal commented on #38585
Fixed by https://github.com/kubernetes/kubernetes/pull/38571

[2016-12-16 19:32] #38585 closed

[2016-12-16 19:36] stephanlindauer commented on #12984
same problem with this setup:
https://github.com/stephanlindauer/terra-aws-core-kube

any news on this? any fixes @daikaixian @miry @esecules ?

[2016-12-16 19:45] anioool commented on #36156
@justinsb, True, you can close this and mark as duplicate. Thanks for help.

[2016-12-16 19:45] nikhiljindal commented on #38262
Fixed by https://github.com/kubernetes/kubernetes/pull/37770

[2016-12-16 19:45] #38262 closed

[2016-12-16 19:50] anioool opened #38892 "Volume in memory require double amount of memory requested"
Hi guys,

I want to test volume created directly in memory and I found very strange issue. Due to some reason there is hard coded (probably) that if I want to create 10 GB volume in memory, I have to request 20 GB of memory. It is not a big problem for smaller volumes, but in case when I want to create 150 GB volume,I have to request 300 GB of memory. As you know memory is very costly, so there sh

[2016-12-16 19:51] fabianofranz commented on #38834
I'm on it.

[2016-12-16 19:52] nikhiljindal opened #38893 "federation: Known issues"
Compiling a list of high level known issues that customers should be aware of while deciding to use federation:

- [x] No way to disable specific APIs (#38593)
- [ ] Alpha APIs are enabled by default (https://github.com/kubernetes/kubernetes/issues/44291)
- [ ] No upgrade testing (#38537)
- [x] No kubectl tests (https://github.com/kubernetes/kubernetes/issues/32826)
- [x] Not all e2e tests are gre

[2016-12-16 19:52] nikhiljindal commented on #38893
cc @madhusudancs

Please feel free to add anything that I missed

[2016-12-16 19:53] freehan commented on #31307
@CaoShuFeng I can take over this. I want to enable hostport for CRI.

[2016-12-16 19:54] yaoyaozong commented on #36117
I met the same problem on the container in Google Cloud. and following the @ehacke 's way, it resolved my problem. (no need for Step#1. I skipped it. :) )

[2016-12-16 19:55] ncdc commented on #38834
Unit test :)

[2016-12-16 20:01] sykesm opened #38894 "pkg/volume/util util.Find can leave behind zombie wc processes"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: minikube
- **OS** (e.g. from /etc/os-release): Boot2Docker
- **Kernel** (e.g. `uname -a`): 4.4.14-boot2docker
- **Install tools**:
- **Others**:

**What happened**:
I noticed hundreds and hundreds of defunct `wc` processes running on the minikube system. It turns out that unsupp

[2016-12-16 20:08] amlinux commented on #36117
Don't forget to set revisionHistoryLimit to 5 or other reasonable value on all your deployments to avoid reoccurence of this problem in future. Default value is "unlimited", and it doesn't work.

[2016-12-16 20:11] jingxu97 commented on #35874
cc @kubernetes/sig-storage-misc

[2016-12-16 20:14] amolsh opened #38896 "KubeDNS endpoint shows status failure"
Hi,
I am using kunernetes Version 1.5.0.
Cluster is setup on local VirtualBox and consist of 1 master ,2 minion .
I followed http://kubernetes.io/docs/getting-started-guides/ubuntu/manual/ for cluster setup
and http://kubernetes.io/docs/admin/dns/ for DNS troubleshooting

**kubectl cluster-info**
Kubernetes master is running at http://192.168.56.102:8080
KubeDNS is running at http://192.168.56.102

[2016-12-16 20:18] nikhiljindal opened #38897 "federation: kubectl --cascade should be false by default for federation"
Ref https://github.com/kubernetes/kubernetes/issues/33612.

Cascading deletion is true by default for kubectl.

For federation, we want it to be false since deleting a federation resource with cascade=true will delete the resource from all clusters as well which can lead to a global outage. So we want --cascade to be false by default but users can pass --cascade=true if they do want cascading dele

[2016-12-16 20:20] nikhiljindal commented on #38897
A hacky way to do this is for kubectl to first determine if it is talking to federation apiserver and if yes, then set the default to false, else keep it to true.

Open to other suggestions on how to implement this.

[2016-12-16 20:21] nikhiljindal commented on #33612
We also need to ensure that cascading deletion for federation resources works consistently with kubectl. Filed https://github.com/kubernetes/kubernetes/issues/38897 for that

[2016-12-16 20:37] nikhiljindal commented on #38493
Yes I can repro this bug. replicasets is still alpha.
The replicaset did go away after some time.

Adding kubectl tests for federation are going to help us catch such issues sooner https://github.com/kubernetes/kubernetes/issues/32826

Also note that we want to disable cascading deletion by default for federation resources: https://github.com/kubernetes/kubernetes/issues/38897

[2016-12-16 20:38] nikhiljindal commented on #38493
cc @mwielgus who worked on replicasets

[2016-12-16 20:55] djsly opened #38901 "azure Feature Request: Services with LoadBalancer should allow us to configure the azure lb with a private IP"
**Kubernetes version**
1.4.6

**Environment**:
- **Cloud provider or hardware configuration**: azure
- **OS** (e.g. from /etc/os-release): centOs 7.1
- **Install tools**: custom

We have services that require load balancing internally, with request coming from the outside of kubernetes but still from inside the azure vnet. (e.g. jumpbox)

Unfortunalety we cannot proxy them through the apiserver si

[2016-12-16 21:21] zarqman commented on #36845
Justin, thanks for looking at this.

Unfortunately, using "443" for ssl-ports instead of "https" did not improve the behavior. With the exact suggested annotations (backend: http), this is the result:

![backend http](https://cloud.githubusercontent.com/assets/22556/21278786/59b19ba4-c39a-11e6-850d-37111304b8d0.png)

Using the same, except changing backend-protocol to "https", this is the result:

[2016-12-16 21:46] colemickens commented on #38901
I think this can be easily accommodated, I'm trying to remember if there's an annotation that hints to the cloudprovider to make an internal LB instead. Let me look around and get back.

[2016-12-16 21:54] pwittrock commented on #34413
cc @caesarxuchao @lavalamp

[2016-12-16 21:55] pswenson commented on #34134
in the meantime, what is the fastest way to get k8s going on coreoes for a dev env?

[2016-12-16 21:57] justinsb commented on #36845
Ah - right.  So you actually want https to hit http on the backend - forgot that step.

So you also need to change your service declaration; you want to set `targetPort` on the https port, to target http on the pods.

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2287-L2293

I don't know if you are exposing http on port 80 on the nodes, but I think it should look like this

[2016-12-16 22:05] jingxu97 commented on #31891
@whereisaaron thank you very much for your input. For k8s side, one of the most important policy is to avoid to detach a volume that is still mounted. In normal cases, device should be unmounted by kubelet first and then controller gets the signal that volume is safe to detach and issues detach operation.

If the controller cannot get the signal in 6 minutes, it will go ahead to issue detach anywa

[2016-12-16 22:12] hongchaodeng commented on #38852
Latest update:

It seems like @zihaoyu env could allow http2 traffic through.
`ETCDCTL_API=3 etcdctl --endpoints=http://etcd.loadbalancer.mycompany.com:80 member list` seems to work; but `ETCDCTL_API=3 etcdctl --endpoints=http://etcd.loadbalancer.mycompany.com:80 put foo bar` doesn't.

After changing endpoints to node IP list, it works.

It seems like AWS ELB doesn't enable http2 by default. See:

[2016-12-16 22:12] hongchaodeng commented on #38852
@zihaoyu
Can we close this?

@timothysc @wojtek-t FYI

[2016-12-16 22:13] yaoyaozong commented on #36117
Thanks @amlinux, already added. ^_^

[2016-12-16 22:13] zihaoyu commented on #38852
@hongchaodeng Yes. Thanks a lot. Closing

[2016-12-16 22:13] #38852 closed

[2016-12-16 22:14] chrisleck commented on #38745
I think this is due to the default for `Deployment.RevisionHistoryLimit` being `nil`, meaning infinite.  Can we change the default on this to 5 or 10 without breaking the world?

[2016-12-16 22:17] ymqytw opened #38907 "kubectl get broken for list"
kubectl get -o yaml|json is broken for list.

How to reproduce:
Create multiple resource from list: `kubectl create -f https://raw.githubusercontent.com/kubernetes/kubernetes/master/hack/testdata/multi-resource-list.json`.

Get the resources back: `kubectl get -o yaml -f https://raw.githubusercontent.com/kubernetes/kubernetes/master/hack/testdata/multi-resource-list.json`

Output:
[code]

Only the

[2016-12-16 22:17] ymqytw commented on #38907
@fabianofranz maybe we need to include this in #38768?

[2016-12-16 22:18] pwittrock commented on #38744
@chrisleck Looks like this is a duplicate of #38834 and is being worked on.

[2016-12-16 22:18] pwittrock commented on #38834
Probably will want to cherrypick this into 1.5.

[2016-12-16 22:29] zarqman commented on #36845
Okay, so that's a bit non-intuitive, but it does work when using an "http" backend for all frontend services. Very good.

Now, how can I get a mixed http+https frontend to use either a mixed backend (http->http and https->https) or just https (both http + https, with X-Forwarded-For support, going to https backend)? That is, how can I fix the "TCP" listener in the 2nd image above (turning it into

[2016-12-16 22:36] chrisleck commented on #38744
Cool - I'm happy to resolve this as a dup if the other is receiving attention.

[2016-12-16 22:36] smarterclayton commented on #17858
Yes.  External must be int32/64 because proto has no concept of generic
int.  Internal should be int32/64, and internal code using internal types
should prefer 32/64.

This is in API conventions (and if not well explained should be updated).

On Dec 16, 2016, at 2:20 PM, jay vyas <notifications@github.com> wrote:

ok, so specifically, just to be fully explicit:

i think we are saying external must

[2016-12-16 22:37] hongchaodeng commented on #38852
In general we recommend to use node IP/names directly.

[2016-12-16 22:38] smarterclayton commented on #170
You can write automation that uses pod templates across multiple objects
for other reasons.

On Dec 16, 2016, at 10:18 AM, Michail Kargakis <notifications@github.com>
wrote:

so it appears I can create pod templates, but If I cannot use them in pods,
what's their use?

DaemonSets and StatefulSets may use PodTemplates as a way of retaining
history thus enabling rollbacks

—
You are receiving this b

[2016-12-16 23:24] ghodss commented on #23597
Can we make the default 3 in 1.6? @kubernetes/sig-apps-misc

[2016-12-16 23:30] tylerFowler opened #38910 "AWS: Use current node subnet for choosing ELB net"
I'm trying to use the `LoadBalancer` type on a service and discovered that it couldn't be created because - to my surprise - it's not using the correct AWS subnet meant for resources in that particular cluster. My current setup is that we use 1 VPC for all of our clusters and break each service cluster out into different subnets. So this particular k8s cluster is on one subnet while another (small

[2016-12-16 23:41] luntzel commented on #14017
`go get k8s.io/kubernetes/pkg/api`

seemed to work for me.

[2016-12-16 23:44] caesarxuchao commented on #34413
@liggitt is this issue fixed by your #38406?

[2016-12-16 23:50] colemickens commented on #38901
Related:

* AWS's annotation: https://github.com/kubernetes/kubernetes/blob/69cd805532221c6bcbe8c653d05ccf96884cf7cd/pkg/cloudprovider/providers/aws/aws.go#L73-L77

* Related PR that changes semantics of the AWS annotations slightly: https://github.com/kubernetes/kubernetes/pull/38636

I'll prototype this with the AWS annotation and semantics and then we can discuss having a more generic annotatio

[2016-12-16 23:53] jingxu97 commented on #37854
talked to @sharms over slack. it is not the same issue mentioned here.
@bonovoxly could you update whether your issue is fixed in 1.4.7? Thanks a lot!

[2016-12-17 00:02] pwittrock commented on #38744
SGTM

[2016-12-17 00:02] #38744 closed

[2016-12-17 00:10] saad-ali commented on #34242
Spoke with @jingxu97 offline. I'm ok with using `volumesAttached` from node status to populate actual state on controller start.

[2016-12-17 00:29] zihaoyu commented on #38852
@hongchaodeng good to know.  Thanks!

[2016-12-17 01:01] gnufied commented on #31891
FWIW I verified that @jsafrane 's fix indeed fixes the problem. Here is steps to reproduce this bug:

1. Wrote a script that creates pvc and pods that use those pvcs. Script is here - https://gist.github.com/gnufied/4b894d4b8702081076dfd834157d9fa9 it will basically keep creating pods until cluster capacity is exhausted (so don't do this in your prod. cluster).
2. Usually last pod will be in pendi

[2016-12-17 02:31] justinsb opened #38915 "We should gather logs / information from the xenstore interface (on AWS)"
When diagnosing EBS issues, @guoshimin posted this comment describing getting additional information from xenstore.  We should investigate that further and collect those logs and/or use them in the node problem detector.

https://github.com/kubernetes/kubernetes/issues/31891#issuecomment-257766760

[code]

[2016-12-17 02:32] justinsb commented on #31891
@gnufied just to confirm: you ran the test before the patch and it failed, and you ran it after the patch and it passed?

That's obviously good if so.  However force-detaching a volume is going to break things.  The original issue didn't involve force-detaching a volume AFAICT.

Also, I opened https://github.com/kubernetes/kubernetes/issues/38915 to capture the technique that @guoshimin had mentio

[2016-12-17 02:55] #25488 closed

[2016-12-17 02:55] #31827 closed

[2016-12-17 02:55] #32763 closed

[2016-12-17 04:01] ejc3 opened #38918 "kubelet should not delete all pods if etcd is accidentally started pointing to the wrong directory"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

empty etcd

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Feature request
  - kubelet should be more resilient to configuration errors with etcd. We accidentally started etcd in an empty state during a rollback from etcd 3 to etcd 2. kube

[2016-12-17 05:34] brendandburns commented on #38894
@sykesm a PR to fix these would be great.

Thanks!

[2016-12-17 10:24] AdoHe commented on #38907
@ymqytw what't the get response? I mean we really get all resources or just issue with printer.

[2016-12-17 11:11] stephanlindauer commented on #34134
if you are on aws you could try my setup: https://github.com/stephanlindauer/terra-aws-core-kube

[2016-12-17 11:54] kargakis commented on #36117
Assuming Deployments were using a hashing algorithm that wasn't breaking that fast when brute-forced (https://github.com/kubernetes/kubernetes/issues/29735#issuecomment-254470553), the existence of hundreds of ReplicaSets shouldn't be a problem. We expect though that in production environments, quota will restrict the number of the existing ReplicaSets in a namespace (https://github.com/kubernetes

[2016-12-17 11:54] #36117 closed

[2016-12-17 13:53] gyliu513 opened #38921 "kube-up.sh failed on ubuntu"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-12-17 14:24] justinsb opened #38922 "conversion-gen in unsafe mode breaks on `[]*T`"
In unsafe mode conversion-gen will do a bit-level conversion of `[]*T`, even if T need a custom conversion.  In other words, the conversion code for T will not be called.

It does correctly recognize `[]T`

Changing the conversion-gen code to go back to unsafe mode will generate the correct code.

cc @smarterclayton

cf #38440

[2016-12-17 14:50] sbezverk opened #38923 "Error creating rbd image: executable file not found in $PATH"
Kubernetes 1.5.1 All in One  on the baremetal, external ceph cluster.

Using StorageClass and PVC to provision volume.
PVC is stuck in Pending state and log indicates the following error.

Dec 17 09:43:08 kube-1 journal: E1217 14:43:08.506433       1 rbd_util.go:341] rbd: Error creating rbd image: executable file not found in $PATH
Dec 17 09:43:08 kube-1 journal: E1217 14:43:08.506441       1 rbd.

[2016-12-17 15:18] SStar1314 commented on #28723
I have same issue on kubernetes v1.5. When I running local-up-cluster.sh, it will exit at here:
kube::util::wait_for_url "http://${API_HOST}:${API_PORT}/api/v1/pods" "apiserver: " 3 ${WAIT_FOR_URL_API_SERVER} || exit 1

So I manually run "hyperkube apiserver" command to start apiserver, it will show below error:
E1217 10:14:56.176323    3442 controller.go:162] unable to sync kubernetes service: En

[2016-12-17 18:24] luxas commented on #38228
In #38926 I found this in `kube-apiserver`:
[code]

Seems like this is that line that's failing: https://github.com/urfave/cli/blob/d53eb991652b1d438abdd34ce4bfa3ef1539108e/app.go#L478
It's not so fun with a bug in a vendored package for our vendored package (we're two levels down now)

I wish I would have found this issue sooner, great stuff here :)

[2016-12-17 19:07] bradfitz commented on #38228
Matching exact strings of error messages, eh?

[code]

That's always asking for trouble.

[2016-12-17 19:46] k8s-merge-robot opened #38928 "ci-kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew/1239/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28565 #29072 #29390 #29659 #30072 #33941

Failed: SkewTest {e2e.go}

[cod

[2016-12-17 20:49] caseydavenport commented on #38872
@tmaillart I think what you're seeing, if I understand correctly, is that traffic from the node is trying to reach the master via a Service and as a result the source address is picked based on the default route for that node.

Since when you add the second interface, the default route is now through a different network, the traffic sent via the Service has the wrong source address and so the resp

[2016-12-17 22:26] chrislovecnm commented on #37843
@justinsb The process is defined that you delete one. I am mobile so I cannot get to the docs.

The challenge is that it is not just that, we have a few things going on here.

[2016-12-17 22:27] chrislovecnm commented on #37843
Will add more details after I test more

[2016-12-17 22:28] chrislovecnm commented on #38915
cc @kubernetes/sig-aws

[2016-12-17 22:32] chrislovecnm commented on #38824
@sharm is this your use case

[2016-12-17 22:32] chrislovecnm commented on #38824
cc @kubernetes/sig-aws-misc

[2016-12-17 22:36] chrislovecnm commented on #38838
SGTM - had your attention ;) Excuse me as a go read this. You rock.

[2016-12-17 22:38] chrislovecnm commented on #38838
@kris-nova we probably want to open a PR next after I discuss this with the test team.

[2016-12-17 23:42] sykesm commented on #38894
For reference, google/cadvisor#1556 is the upstream issue.

[2016-12-18 00:28] edouardswiac opened #38930 "Update dead links in examples/guestbook README"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report. I spotted three dead links in the guestbook README inside this repo.

[2016-12-18 02:39] liggitt commented on #17858
External int64 fields that allow/use > 52 bits of precision will run into all sorts of problems with JSON libraries that use doubles to represent JSON numbers

[2016-12-18 04:59] mfischer-zd commented on #2770
I'm interested in this issue because I'd like to use my own Nginx Plus-based LoadBalancer implementation in my datacenters (and possibly in AWS).

For many (maybe even most) users, the tight coupling between the CloudProvider and LoadBalancer is fine.  But for us, I find it limits our architectural options.  We can hack our way around it by using Consul service discovery controllers to publish Nod

[2016-12-18 06:57] davidopp commented on #34348
ref/ kubernetes/community#132

[2016-12-18 08:11] F21 commented on #7562
Will this happen in the near future (1.6, 1.7)? It would be really useful for running kube on baremetal or any standard VPS provider that does not offer HA pooled storage.

[2016-12-18 09:01] bboreham commented on #21284
Fixed by #36990

[2016-12-18 09:24] gyliu513 commented on #38921
The current workaround solution is remove `verify-kube-binaries` in ./kube-up.sh

[2016-12-18 09:52] bronhaim commented on #33517
@smarterclayton I'm running the following yaml definition [1] with kubectl --create. once trying to delete the ds I get "error: timed out waiting for the condition", strace shows it waits with wait probably for the pods to stop. Adding --cascade=0 just deletes it quickly. Then I clean the pods and I'm free to move on.
[1] https://gerrit.ovirt.org/#/c/67618/9/ovirt-node-docker/manifests/ovirt-node.

[2016-12-18 10:42] luxas commented on #2770
There's work in progress for making this happen.
Proposal: https://github.com/kubernetes/community/pull/128
Code: https://github.com/kubernetes/kubernetes/pull/34273

cc @wlan0

[2016-12-18 11:02] fanhaozzu opened #38933 "[BUG REPORT] use ./build/run.sh compile kubelet fail"
**Kubernetes version** :
kubernetes v1.14.1.beta and other version

**Environment**:
- **OS** :
Red Hat Enterprise Linux Server release 7.2 (Maipo)
- **Kernel** :
3.10.0-327.el7.x86_64

**What happened**:

+++ [1218 18:58:11] Verifying Prerequisites....
mkdir: cannot create directory ‘/opt/data/kubernetes-1.4.1-beta.2/_output/images/kube-build:build-769ef22c22’: Invalid argument
!!! Error in ./bui

[2016-12-18 11:23] luxas commented on #38228
Seems like we have to bump the version of urfave/cli first in runc and then update the k8s runc godeps, gahh! But at least that match-error-logic seems to be gone at HEAD: https://github.com/urfave/cli/blob/master/app.go#L481

[2016-12-18 12:10] evaldasou commented on #29783
thanks everyone!

[2016-12-18 12:10] #29783 closed

[2016-12-18 13:04] mootezbessifi commented on #37352
@MrHohn, sorry for the delay, i had to make some progression in my work so i kept running kube-dns manually. Now i want to make it with addons-manager as we discussed.
I find out from the log when running kube-addons.sh and kube-addon-update.sh the two next errors:

-  kube-addons.sh[21460]: /usr/libexec/kubernetes/kube-addons.sh: line 182: /var/cache/kubernetes-install/kube_env.yaml: No such file

[2016-12-18 13:38] thanodnl commented on #38923
I ran into the same issue and found it strange that kubernetes complained about `rbd` not being on my `$PATH`. After digging around I have found why it is complaining about missing `rbd`.

The process that I have tracked the log line down to is the `kube-controller-manager`. This process is running in its own pod (atleast after installing a cluster with `kubeadm`). The container in this pod is mis

[2016-12-18 14:01] hotstepper13 commented on #38870
I have checked that approach but was only able to resolve the "pet" that was scheduled on the same server as the pod from which I did the nslookup.

[2016-12-18 14:30] hotstepper13 commented on #38870
After I have seen that there is a known issue with dns in alpine images, I checked again with the busybox template form the dns admin page.

Result is the same... service is resolveable but not the "pet"

[2016-12-18 14:54] sbezverk commented on #38923
Yep, you are right. rbd binary does not exist in kube-controller-manager container.
docker exec -tu root -ti 1dd53ef015ab find / -name rbd
/sys/bus/rbd
/sys/devices/rbd
/sys/module/rbd
/sys/module/libceph/holders/rbd

[2016-12-18 15:54] v1k0d3n commented on #38923
@thanodnl we had to create a container with kube-controller-manager binary packed in for this purpose. this is a workaround, but you are free to use our image until a true "fix" is in place.

https://quay.io/repository/attcomdev/kube-controller-manager?tab=tags

we've been editing the "image" in /etc/kubernetes/manifests/kube-controller-manager.json post deployment, and that seems to do the trick

[2016-12-18 16:25] thanodnl commented on #38923
I have just started your image and got it to work! Thanks a lot.

Just one question, your image wasn't able to do a lookup of the monitor on its dns name via skyDNS. For now I have put the monitor ip's in the storage class and it works.

Just wondering if you have tried using this image in combination with the ceph monitor running on k8s.

[2016-12-18 16:33] justinsb commented on #38922
Following up on #38440, I agree that we shouldn't have `[]*T` in a k8s API, but I think conversion-gen needs to support it anyway, as there will be existing API versions that need converting to a new version that does follow the rules.

We could also make this a warning - a first step towards an API linter.

[2016-12-18 16:40] Dmitry1987 commented on #38774
+1 , also on 1.5.1
```Error from server (BadRequest): the server rejected our request for an unknown reason (get pods mongodb-cluster-0)```  :(

[2016-12-18 18:51] v1k0d3n commented on #38923
@thanodnl glad it worked (with some tinkering). we have it working just fine as described in our project at: https://github.com/att-comdev/aic-helm.

if there is anything you find missing, please submit an issue and we can address it. we're at the very beginning of the project, but will be improving it quite a bit over the coming months. ceph is first class in our solution, so these issues need ad

[2016-12-18 19:02] v1k0d3n commented on #38923
adding @alanmeadows to the thread (keep an eye on this one).

[2016-12-18 19:10] vielmetti commented on #38067
@thockin - you might sync with @tianon who is doing Alpine builds for aarch64 - we sorted out a few issues and then alpine edge started to work on that platform. Cf. https://hub.docker.com/r/aarch64/alpine/

What I don't know is the time schedule for the next release of Alpine, whether we'll have Alpine 3.5 with aarch64 support before or after Kubernetes 1.6.

[2016-12-18 19:41] luxas commented on #38067
@vielmetti That's great!
To date we've only used busybox everywhere, and we have to do that until all architectures support alpine (s390x and ppc64le yet)

The thing that's more important though is getting the manifest lists working properly in core, and to make some manifest lists for official images available from Docker Hub. cc @tianon

[2016-12-18 20:52] davidopp commented on #29326
[PodSecurityPolicy](http://kubernetes.io/docs/user-guide/pod-security-policy/) allows you to control which volume types are allowed, but I guess your use case is that you want to allow host volumes in general but limit access to particular paths?

[2016-12-18 20:56] mfischer-zd commented on #29326
Precisely.  `/etc/shadow` on the host contains sensitive data, for example.

[2016-12-18 21:07] miry commented on #33544
@Dmitry1987 I use default weave network plugin: `kubectl apply -f https://git.io/weave-kube` It works for me.

 It seems the documentation was changed, before this command by default http://kubernetes.io/docs/getting-started-guides/kubeadm/#installing-a-pod-network

[2016-12-18 21:48] travikk commented on #32026
@nhlfr any update on potential release for a fix for this?

[2016-12-19 02:38] junneyang commented on #38867
@dims
thanks, good job.

[2016-12-19 02:38] #38867 closed

[2016-12-19 02:44] liggitt commented on #38694
probably the test that makes sure no resources exist in a namespace after the namespace is deleted

[2016-12-19 02:48] hongxima commented on #7294
Dear all,  there is a new use case where we really need either:
a) Disable swap by default (set MemorySwap=0) or
b) Provide an option to do so for kubelet

It's about Windows Docker compatibility,  it was all good when using Windows docker version 1.12.2-cs2-ws-beta, but after upgraded to 1.14.0-dev,  Windows Docker doesn't start any containers with below error output:
"invalid option: Windows doe

[2016-12-19 02:50] dove-young opened #38939 "panic: runtime error: invalid memory address or nil pointer dereference -- kubelet"
Here is the command while running kubelet

[code]

Here is my OS info, and K8S version is <code>1.4.5</code>

[code]

[code]

Here is my kubeconfig.cfg

[code]

[2016-12-19 03:22] xingzhou commented on #38864
Did not see the issue by using the latest code, when issueing `kubectl --context=does-not-exist version`, I got the response of:
[code]
Noticed that in the last line, the output mentioned that the context does not exist.

[2016-12-19 03:39] anguslees commented on #38671
I think this is controlled by generic kubernetes code (not openstack-specific), fwiw.  The bug report indicates that the node *is* correctly reported as NotReady, and after that I can't think of any other place where the provider plugin gets involved in this decision...

[2016-12-19 04:00] jason-riddle commented on #30617
Was this ever resolved? I'm having trouble following this discussion since everyone has posted their own variation of commands that they ran.

[2016-12-19 05:12] dove-young commented on #36745
I repeated this error in v1.4.5

If I specify --kubeconfig with --api-servers, it reports <code>No api server defined - no events will be sent to API server.</code> in <code>server.go</code>

[code]

If I specify --kubeconfig only and omit --api-servers, it reports <code>No API client: no api servers specified</code> in <code>server.go</code>.

While I did not even saw this log <code> Config loade

[2016-12-19 05:23] brendandburns commented on #32842
Closing this, since it's > 3 months old and the logs are gone.

[2016-12-19 05:23] #32842 closed

[2016-12-19 06:29] hotstepper13 commented on #38870
After further investigation I have seen that kubernetes provided a resolv.conf with the entry

    options ndots:5

changing this to 6 allows dns resolve of the "pet".
I have seen an issue regarding this option and not sure that 6 will work for all other usecases.

[2016-12-19 06:33] oshalygin commented on #30617
@jason-riddle I got it working but like everyone else, I have a slight variation on the commands I actually ran to get this to work...I'm open to posting them.

[2016-12-19 06:44] tianyouhui commented on #38806
+1 for this problem... what can we do?

[2016-12-19 06:46] k8s-merge-robot opened #38944 "ci-kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/149/

Multiple broken tests:

Failed: [k8s.io] Deployment RollingUpdateDeployment should scale up and down in the right order {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27232

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes

[2016-12-19 06:52] du2016 commented on #38921
#38945 please have a look

[2016-12-19 07:30] Dmitry1987 commented on #33544
thanks @miry !  I also tried Weave and it worked :)

[2016-12-19 07:32] gyliu513 commented on #38921
thanks @du2016 for the quick response

[2016-12-19 07:47] peay commented on #37957
Not yet, will try to send it before the end of the week.

[2016-12-19 08:09] chentao1596 opened #38946 "Network: confusion about parameters “--pod-cidr” under cluster model"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
pod-cidr/allocate-node-cidrs/cluster-cidr
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Kubernetes version** (use `kubectl version`):  kubernetes-master

**Environment**:
- **Cloud provider or hardware configuration**:

[2016-12-19 08:30] mootezbessifi commented on #37352
Finally i found out what was causing my issue.
In fact, i was working on a cluster based on CentOS 7, where python2.7 is installed.
After debugging kube-addon-update.sh, Exception from get-addon-paths-from-disk() function was happening due to [import yaml module]  in purpose of parsing addon yml files to get kind tag from there. It turned out that yaml module not found so the parsing fails.(https:

[2016-12-19 08:34] #37352 closed

[2016-12-19 08:42] fgrzadkowski opened #38949 "Reevaluate events deletion policy"
Currently we delete all the events after 1h. This has been introduced as a way to keep the load on apiserver small. However, it also has a serious downside for the user, as they can't debug what has happened unless they persist events somewhere.

I'd like to propose a slightly change approach, where instead of delete all events after 1h, we use the same policy as for terminated pods - delete them

[2016-12-19 09:04] mzehrer commented on #29972
I have this issue also with the new StatefulSets on 1.5.1

This is a pod

[code]

and the StefulSet:

[code]

[2016-12-19 09:21] deitch commented on #21397
Been looking for this for a while. It is great that k8s automatically sets up the ELB, but you needs to take a manual step to retrieve the assigned AWS hostname and then create a CNAME.

Any update?

[2016-12-19 09:37] hotstepper13 commented on #38870
Nevermind about that... the first issue was cleared by the docs. Then i ran into the same issue as here: https://github.com/kubernetes/kubernetes/issues/30076

So defining clusterIP: none makes the service names resolveable.

[2016-12-19 09:37] #38870 closed

[2016-12-19 10:03] xingzhou commented on #28678
I saw the same output on my laptop using the latest code, I'd like to take investigation on this issue first.

[2016-12-19 10:22] valichek commented on #38893
I tried to run federation control plane on aws but got many issues recently.
1. script https://github.com/kubernetes/kubernetes/blob/v1.5.1/federation/deploy/deploy.sh doesn't support `aws` provider
2. Tried to use old way (deploying manifests one by one), got `federation-apiserver`and `federation-controller-manager` running,  but then it resulted to `error in fetching secret: secrets "federation-

[2016-12-19 11:07] matthiasr commented on #38949
Ideally, this would also be separate X for different kinds of events – for example, "container failed liveness probe and was restarted" is not really relevant after 24h, but "this node stopped reporting" would be to me. The latter are also much more rare.

[2016-12-19 11:52] miry commented on #12984
@stephanlindauer you can try https://github.com/kubernetes/kops/blob/master/docs/terraform.md.  I used to create a small test KB cluster via terraform.

[2016-12-19 11:58] stephanlindauer commented on #12984
hi @miry, thanks for the heads up. i tried that but i'd really like to utilize coreos the operating system, so kops is not really an option. :/

[2016-12-19 12:56] vishh commented on #7294
I'd recommend disabling swap for all containers since kubelet cannot manage
swap space.

On Mon, Dec 19, 2016 at 8:18 AM, Hongxi Ma <notifications@github.com> wrote:

[2016-12-19 13:05] resouer commented on #38939
How did you setup glusterfs may I ask? This is caused by something wrong with your glusterfs plugin.

And how did you setup this k8s cluster, btw?

[2016-12-19 13:12] shyamjvs commented on #38776
Here is what I found out for https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/2275/ :
- Cause: We try to `pkill kubelet` to kill the default kubelet instance running on debian and then replace its bin with the new kubelet bin. However, the default kubelet starts as an init.d process and for this particular test instance, it either wasn't started by init

[2016-12-19 13:17] ghost opened #38962 "Failed executing generator: some packages had errors: ./hack/verify-all.sh"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2016-12-19 13:22] zetaab opened #38963 "RBAC persistent volumes is not working with namespaces"
###  BUG REPORT

**Kubernetes version** (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.1-3+10e41f22e4421c", Gi

[2016-12-19 13:22] resouer commented on #38806
It seems this is expected?

k8s will not delete user's pod unless it is told to, or under specific resource pressure (cpu is not one of them because it it compressible , see: http://kubernetes.io/docs/admin/out-of-resource/).

[2016-12-19 13:28] resouer commented on #38862
Did you just encountered this only once or frequently? It would be very helpful if you can find out a way to reproduce this then we can debug what's wrong here.

[2016-12-19 13:36] hxquangnhat commented on #23241
I made `etcd` run with `systemctl enable etcd`, check it `status` and try to `restart` if it is not running.

[2016-12-19 13:39] vishh commented on #33447
According to the [release notes](
https://cloud.google.com/container-engine/release-notes), v1.4.7 is
expected to be available. Can you try `gcloud container clusters create --
cluster-version=1.4.7`?

[2016-12-19 13:41] vishh commented on #36480
@saad-ali can you triage this issue?

[2016-12-19 14:09] resouer commented on #38303
@mrunalp If not dind case, then we don't need to put shim in pod cgroup, right? I'm not very sure if shim belongs to pod cgroup ...

[2016-12-19 14:30] gnufied commented on #31891
@justinsb yeah pretty much.

[2016-12-19 14:33] Stono commented on #29903
@simonhorlick slight side question, PetSet on GKE?  As it's still alpha are you using the "Alpha Clusters" which are not upgradable and last 30days?  Or do you have some other ninja way of enabling PetSet

[2016-12-19 14:35] shyamjvs opened #38967 "Feature request for refactoring kubemark start-up script into provider-specific and kubernetes-specific components"
Kubemark, the testing framework for kubernetes, currently has some spaghetti code specific to gce inside the cluster startup script (start-kubemark.sh).
We would ideally want to have the provider-specific code inside the script independent of the cluster kubernetes logic. The same also applies for config,
where we would want different config files for both the components (also with possibly some c

[2016-12-19 14:43] boynux opened #38969 "IPvS option for Kube Proxy routing"
Feature request:

Adding IPvS (LVS) option for kube-proxy

Why:
   IPTables and Userspace proxy both mask the client IP address by doing DNat. IPvS however doesn't do this a initiates the request to the virtual servers with the original client IP. In many cases like HTTP requests it might not be a blocker in more advanced networking and loadbalancing scenarios for example using UPD protocol it's v

[2016-12-19 14:55] jwforres opened #38970 "Documentation copy example popup unable to close for large examples"
The copy button in the documentation examples can sometimes cause a success popup that can not be closed, this occurs when the example is large. The PetSet example is the easiest to reproduce this on http://kubernetes.io/docs/user-guide/petset/

Hit the copy button on the example and the dialog pops up saying what was copied.  The dialog extends off the top and bottom of the screen, causing the Cl

[2016-12-19 14:55] jwforres commented on #38970
Adding that the only workaround when this happens is to refresh the browser page.

[2016-12-19 15:01] deads2k commented on #38970
@devin-donnelly This is in the docs code somewhere, right?

[2016-12-19 15:02] luxas commented on #38969
Can you please close this issue and open it in kubernetes/features instead?
Also I would appreciate if you or @mqliang made a formal proposal in kubernetes/community describing the high level goals, implementation details, pros/cons and including some diagrams, explanation in depth about the feature and a roadmap.

I think this is a great feature, and then it should be treated as one as well.
cc @

[2016-12-19 15:02] markturansky commented on #35874
Not all objects follow the Spec/Status convention, such as Secrets. What would the Status of a StorageClass be?

[2016-12-19 15:26] sttts commented on #36120
To ping this thread again, I just experienced what @liggitt wrote in https://github.com/kubernetes/kubernetes/issues/36120#issuecomment-263375672: the new ugorji version skips types which (through embedding, e.g. of `ObjectMeta`) implement the `Selfer` interface: https://github.com/kubernetes/kubernetes/pull/37557, breaking plenty of our API types.

This also means that code generation is not idem

[2016-12-19 15:29] xmik commented on #17512
There is:
[code]

[2016-12-19 15:31] #34458 closed

[2016-12-19 16:02] simonhorlick commented on #29903
@Stono Correct, I was testing on an alpha cluster.

[2016-12-19 16:13] mattymo opened #38973 "Unable to gracefully restart kube-apiserver static pod when rotating etcd keys"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-12-19 16:22] irfanurrehman opened #38974 "[Federation] Implement federated pod autoscaler"
This issue is created to track the development of a federated pod autoscaler.
The design document was updated [here ](https://docs.google.com/document/d/1Uacp99LskNHkJ6ZFFOVGorDivYKi4ySkI8E3tTFAZJ8/edit?usp=sharing) some days ago.

cc @kubernetes/sig-cluster-federation
@shashidharatd @kshafiee @deepak-vij

[2016-12-19 16:43] gmarek commented on #38776
Option ii) sounds better. Thanks for debugging.

[2016-12-19 16:45] #38323 closed

[2016-12-19 16:55] whitlockjc commented on #34348
So is this work I'm doing unnecessary now because the referenced issue is an official attempt at solving the extensibility issue of admission controllers?  I do think the work I'm doing, which should be done this week _(if things go as planned)_, is very much in the vain of existing Kubernetes' usage of webhooks for similar extensibility.

[2016-12-19 17:02] shyamjvs commented on #37485
@wojtek-t @gmarek Can we close this issue now?

[2016-12-19 17:02] shyamjvs commented on #38769
@wojtek-t @gmarek Can we close this issue now?

[2016-12-19 17:07] Stono commented on #29903
@simonhorlick cool - I don't know if you're aware but 1.5.1 is available for 'new' clusters now

https://groups.google.com/forum/#!topic/gke-release-notes/kl5KAr-1oeA

[2016-12-19 17:08] #38769 closed

[2016-12-19 17:08] #37485 closed

[2016-12-19 17:18] edevil opened #38979 "Housekeeping kubelet job produces noisy Docker errors"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

housekeeping docker error log rkt

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2016-12-19 17:19] MrHohn commented on #38870
Good to know your issue is resolved! Yeah, a service has to be `headless` to let its backend pods to have DNS names.

[2016-12-19 17:30] tianon commented on #38067
https://github.com/docker-library/official-images/issues/2289 is the relevant discussion for supporting manifest lists in official images

[2016-12-19 17:31] MrHohn commented on #37352
Glad to know your issue is resolved! And sorry about my ignorance. I tried to reproduce but failed. I should have asked you about the platform information. Wondering why there was no obvious error message captured. Anyhow, the newest [addon manager](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager) does not rely on python anymore.

Sure, we will improve the ansible

[2016-12-19 17:33] dashpole commented on #37853
I have had a GCI cluster running the above for 5 days without encountering soft lockup.
Additionally, using the code from threshold_notifier.go from #32577, I wrote a script that crosses the memory threshold many times a second.
This triggered soft lockup fairly quickly on CVM (<2 hours).
However, after a weekend of running on GCI, I haven't encountered soft lockup using this method either.
I adde

[2016-12-19 17:44] spiffxp commented on #38838
I'm largely OK with this in principle, but some notes about the prior art here

The "bash" stuff actually allows for monkey-patching of arbitrary bash-based deployers, though assumptions about their capabilities are sometimes inescapably hard coded.  The specific case I have in mind is log collection, which is tangled up with node/master SSH'ing.  I'm looking at you, `cluster/log-dump.sh`and `test

[2016-12-19 18:06] kargakis commented on #32863
This is fixed in 1.5. We may want to propagate ImagePull or CrashLoop errors, it's just not clear that these are real failures in all cases eg. a Deployment waits for an image to be built or for a service to come up.

[2016-12-19 18:06] #32863 closed

[2016-12-19 18:09] bprashanth commented on #38946
@kubernetes/sig-network-misc please suggest a better comment based on discussion on https://github.com/kubernetes/kubernetes/issues/32900 (maybe we just need to mention --reconcile-cidr?)

[2016-12-19 18:25] ramukima commented on #31071
@madhusudancs I tried the kubefed and am stuck. Here is what I tried -
1. A kubernetes cluster setup on two different machines using kubeadm
2. Both machines can access each other on their public IP
3. Downloaded kubernetes 1.5 and followed instructions on kubefed document you mentioned.
4. Copied /etc/kubernetes/admin.conf to ~/.kube/config on the federation host (one of the machines)
5. Run kube

[2016-12-19 18:32] xmik commented on #38098
Same issue: https://github.com/kubernetes/kubernetes/issues/33288

[2016-12-19 18:37] MrHohn commented on #38896
Hi, seems like you have two nameservers in the `/etc/resolve.conf`. I think removing the first line `nameserver 127.0.1.1` and use `kube-dns` as the only nameserver may solve your issue.

[2016-12-19 18:41] MrHohn commented on #38896
And the output of `kubectl get ep kube-dns` for kube-dns seems correct.

[2016-12-19 19:00] pwittrock commented on #34413
It is possible this is already fixed on master/head.  @ymqytw is trying to verify if this is the case now, and create a patch for 1.5 if this is the case.

[2016-12-19 19:13] ymqytw commented on #38907
@AdoHe I guess it's printer's issue. But I'm not sure how printer works for list of resources.
We get all the resources. There are 2 GET requests:
`api/v1/namespaces/default/services/mock`
`api/v1/namespaces/default/replicationcontrollers/mock`
But the printer only prints out `service`.

[2016-12-19 19:33] fabianofranz commented on #38907
Done.

[2016-12-19 19:33] shyamjvs commented on #38776
Yes, but it is relevant if we want to make the master OS configurable in the future.

[2016-12-19 19:45] liggitt commented on #38602
gross time differences in the kubelet are likely to cause other issues, like the node status lastHeartbeatTime being very wrong. I don't think I would make this change just for this use case. I also have https://github.com/kubernetes/kubernetes/pull/38320 in progress to switch away from juju/ratelimit, so I'd rather not increase the API surface area we're using there

[2016-12-19 19:46] shyamjvs opened #38983 "Adding etcd-events log to jenkins artifacts"
Right now, we do not seem to copy etcd-events.log (if it exists). Would it be okay to have its log included in artifacts, as it might help debugging flaky tests?
Also, the log file is not very big and is typically around a few tens of lines, just like etcd.

@kubernetes/sig-scalability-misc @wojtek-t @gmarek

[2016-12-19 19:48] wojtek-t commented on #38983
Yes - that would be useful. Feel free to add it (it should be very simple).

[2016-12-19 19:48] ncdc opened #38985 "DaemonSetsController mutates DaemonSets from the shared DaemonSetInformer"
In `storeDaemonSetStatus`, the DaemonSetsController modifies the DaemonSet from the shared DaemonSetInformer, setting `ds.Status.DesiredNumberScheduled`, `ds.Status.CurrentNumberScheduled`, `ds.Status.NumberMisscheduled`, and `ds.Status.NumberReady`. It needs to make a copy of the DaemonSet prior to mutating it.

Discovered in OpenShift using the cache mutation detector.

cc @deads2k @mikedanese @

[2016-12-19 19:50] ncdc commented on #38985
I'm working on a fix

[2016-12-19 19:53] deads2k commented on #38985
We got the mutation detector in kube, but we never got it wired to run in e2es.  We want it in the controllers in particular.  It's enabled with an env var.

[2016-12-19 20:07] foxish commented on #34154
It appears to work when I use `kubectl proxy` and then access the same relative url;
[code]

[code]

[2016-12-19 20:18] bprashanth commented on #34154
yeah i guess it works now and I hope it continues to do so

[2016-12-19 20:18] #34154 closed

[2016-12-19 20:27] SydOps commented on #7294
@vishh

Is this statement for Linux as well?

Do you have any document for swap management with Kubernetes?  Or any road map that it may support in the future?

[2016-12-19 20:33] smarterclayton commented on #29972
This line:

 Get https://10.10.4.50:6443/api/v1/namespaces/default/secrets/default-token-jd4sr:
dial tcp 10.10.4.50:6443: getsockopt: connection refused

​
Usually implies you have an error in your cluster configuration or some
sort of transient problem.  It is unlikely to be related to StatefulSets
themselves, but a more general pod problem.

[2016-12-19 20:35] smarterclayton commented on #38949
We don't cache watch the events today, so this would be adding a new events
watch which is likely to be high bandwidth.  It also increases the amount
of deletes sent to etcd, although I suspect that this would result in less
load overall than on etcd before.  So I'm cautiously in favor of this.

On Mon, Dec 19, 2016 at 6:07 AM, Matthias Rampke <notifications@github.com>
wrote:

[2016-12-19 20:37] mortenlj commented on #38864
I've tested with the version of kubectl that comes with the Google Cloud SDK, v1.4.6, and the issue still persists. However, when I downloaded the 1.5.1 version, it's gone, so I guess this problem has been resolved somewhere between 1.4.6 and current.

Closing the issue.

[2016-12-19 20:37] #38864 closed

[2016-12-19 20:39] smarterclayton commented on #38922
[]*T and []T are externalized the same way, so I don't see why we wouldn't just force someone to change the moment they start using the conversion logic.

[2016-12-19 20:40] smarterclayton commented on #38907
Is this also broken in 1.5, i.e. a regression?

On Mon, Dec 19, 2016 at 2:33 PM, Fabiano Franz <notifications@github.com>
wrote:

[2016-12-19 20:41] smarterclayton commented on #32863
I do think ImagePull and CrashLoop are relevant to the "making progress"
annotation, and if we're writing anything writing for that would be
useful.  That allows UIs to specifically show "pulling" as a message
instead of "waiting for running" which is a big UX win.

On Mon, Dec 19, 2016 at 1:07 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-12-19 20:49] matthiasr commented on #38949
As far as I can tell, events don't need the same guarantees in terms of
consistency and persistence as more critical objects. How could they be
stored such that they don't need to go through the same consensus?

[2016-12-19 20:55] smarterclayton commented on #38949
At one point we allowed events to be stored in their own etcd cluster.  Not
sure anyone runs that way today after the fixes to reduce the write volume
of events.

On Mon, Dec 19, 2016 at 3:49 PM, Matthias Rampke <notifications@github.com>
wrote:

[2016-12-19 20:56] xmik opened #38988 "Custom label on node was lost after vm shut off but not after vm reboot"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`node label reboot -author:k8s-merge-robot `
`node label lost -author:k8s-merge-robot

[2016-12-19 21:05] Q-Lee commented on #22888
Yes, this is out as an alpha feature.

[2016-12-19 21:10] liggitt commented on #38897
why would we want orphaning to be the default for federation? I didn't think federation allowed adopting cluster-level resources, so if a federated resource originated with the federation server, it seems natural that it would end there as well

[2016-12-19 21:14] suonto commented on #38098
@xmik thanks for pointing that out. I hope you guys note that this happens also on functional nodes when pods relocate. I'm closing this thread as duplicate.

[2016-12-19 21:14] #38098 closed

[2016-12-19 21:45] mikedanese commented on #38985
cc @kubernetes/daemonset

[2016-12-19 21:53] shyamjvs commented on #38776
Here is what I found out for https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/870/ (and 871):
- Cause: Inside `function try-load-docker-image` in start-kubemark-master.sh, we unset and set the errexit option (-e) across the logic to load the docker image (and this function was copied from gci configure-helper.sh). Thus, after the calls to try-load-doc

[2016-12-19 21:55] mwielgus commented on #38974
What about this:

Federated HPA (FHPA) doesn't create any HPAs in the federation subclusters. Instead, from every cluster it gets:

* `avg_i` average metric value (like CPU utilization) for all pods matching the deployment/rs selector.
* `count_i` number of replicas that were used to calculate the average.

To calculate the target number of replicas HPA calculates the sum of all metrics from all c

[2016-12-19 22:19] grosser commented on #38811
you can request it's logs with `-c itl-pinger` ... but I agree that ideally it should act as if you had multiple containers

[2016-12-19 22:20] shyamjvs commented on #38776
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/904/ and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/906/ seem to have all the startup running fine. Both of them are failing on e2e load test and seem to be flaky issues w.r.t. Replication controller.

- Error for 904:
I1216 19:18:03.564]   [91mdelet

[2016-12-19 22:23] shyamjvs commented on #38776
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/913/ and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/967/ also seem to have all the startup running fine. Both of them are **failing on e2e density test** and seem to be flaky issues w.r.t. Replication controller.

- Error for 913:
I1217 03:18:39.116]

[2016-12-19 22:27] ymqytw commented on #38907
Yes, it is also broke in 1.5.

[2016-12-19 22:28] shyamjvs commented on #38776
Overall, ci-kubernetes-kubemark-5-gce/2275 and ci-kubernetes-kubemark-500-gce/870,871 seem to be fixable issues.
While ci-kubernetes-kubemark-500-gce/904,906,913,967 seem to be flaky issues and I wonder if they have something to do with the migration of master processes to pods.

[2016-12-19 22:30] matthiasr commented on #38949
As far as I'm aware that is still possible, but I'm wondering if it's the
right kind of storage at all. On the other hand there isn't really any
other kind available.

[2016-12-19 22:32] grosser opened #38993 "Init container cannot pull from registry with authentication (ECR)"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
init container
---

**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**Kubernetes version**:
v1.4.3

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**Wha

[2016-12-19 22:36] ravilr commented on #38918
@ejc3 this is working as intended.  What seems plausible would be to introduce a cluster maintenance mode, which the operator could set it at the beginning of the maintenance. If the cluster is put in maintenance mode, all the components (control plane controllers & kubelet) could suspend their periodic sync loops.

did you stop kubelet on all the nodes and the kube-controller-manager on the maste

[2016-12-19 22:37] tomdee commented on #31307
@freehan It was be awesome if you can take this on.

[2016-12-19 23:21] bowei opened #38995 "kube-dns should support ANY record query"
Kube DNS does not currently support ANY, it returns no RR

[2016-12-19 23:30] ixdy commented on #37827
What's the status of this? `docs/devel` still exists in the main repo and it's causing a fair amount of confusion and inconsistency as the docs drift out-of-date.

[2016-12-19 23:30] ixdy commented on #37827
cc @kubernetes/sig-contributor-experience-misc

[2016-12-20 00:20] amitkgupta opened #38997 "RBAC roles and bindings for restricting group to namespace not working as expected"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "RBAC"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Not sure (ei

[2016-12-20 00:23] ixdy commented on #38126
All done.

[2016-12-20 00:23] #38126 closed

[2016-12-20 00:27] freehan opened #38998 "kubectl exec execution output should separate stdout and stderr"
`kubectl exec` merges command stderr into stdout. Please consider returning them separately. This has been a problem when I tried to pipe command execution result from pod to other tools, which unfortunately made assumptions on this.

Repro:
[code]

[2016-12-20 00:40] janetkuo commented on #38998
@kubernetes/kubectl

[2016-12-20 00:47] zqWu commented on #38369
same problem

[2016-12-20 00:47] khannag opened #38999 "Unable to add Windows Server 2016 nodes to a Kubernetes cluster on AWS"
**Is this a request for help? Yes**

**What keywords did you search in Kubernetes issues before filing this one? Windows server 2016 containers, AWS, kubernetes.**

I am running into issues adding a Windows server 2016 node to a kubernetes cluster on AWS. Here are the steps that I have followed.

I performed the following steps to setup a kubernetes cluster on AWS.

git clone https://github.com/ku

[2016-12-20 00:51] #38540 closed

[2016-12-20 00:52] sureshvis commented on #38918
@ejc3 @ravilr

we didn't stop kubelet,  the pods are  serving traffic and just control plane (api, CM, Scheduler) were kept down to avoid WRITE call  to etcd while the migration is in progress.

If any pod (and/or node)  failed during this maintenance window, the ATS  (ingress traffic server)  will stop routing to that POD as the   health check for POD from ATS (ingress traffic server)  will repor

[2016-12-20 00:58] sureshvis commented on #11204
@thockin pls let us know if you are working on proposal or any working solution

[2016-12-20 01:01] hex108 commented on #38862
Just encountered this once under pressure test. I'll add more logs and try to reproduce it if there is no known issue for it.

[2016-12-20 01:06] ymqytw commented on #38998
@ncdc

[2016-12-20 01:22] xingzhou commented on #38859
@BruceZu, it's better to use yaml file and `kubectl create -f` to create a pod with multi-pod exposed, see this [reference](http://stackoverflow.com/questions/34502022/exposing-two-ports-in-google-container-engine)

[2016-12-20 01:27] ncdc commented on #38998
`kubectl exec` separates the container's stdout and stderr and delivers each to the appropriate stream, unless something has changed recently.

[2016-12-20 01:40] ncdc commented on #38998
This is happening because you're passing `-t`. If you specify `-t` that means that we set up a TTY and *all* output from the container is sent back to the client, and it's up to the client to decide what to do with it. This means, for example, that if you want to redirect the container's stderr somewhere else, you have to instruct the *container* to redirect it, because otherwise it is delivered b

[2016-12-20 01:43] smarterclayton commented on #38949
We have noted event saturation in a few cases, where an overzealous
component went into a hot loop and was insufficiently ratelimited and took
all the master's write capacity.  We should probably be limiting event
creation independently at the server level, but hasn't bumped in priority
yet.

Elasticsearch has been proposed as a backend for events but no one has
stepped up to implement the basic C

[2016-12-20 01:45] smarterclayton commented on #38907
Setting priority and adding cherry pick candidate.  This would break people using scripting.

[2016-12-20 01:46] smarterclayton commented on #38907
Can someone take ownership to fixing this and getting it into the 1.5.x track?

[2016-12-20 02:08] #37527 closed

[2016-12-20 02:18] #37855 closed

[2016-12-20 02:21] BaluDontu commented on #33061
Once the node is powered off, the controller-manager doesn't send a detachVolume request to vSphere cloud provider. The controller-manager couldn't send the detachVolume request because it check until the volume is unmounted on the node for a particular timeout.

You can see the code over here - https://github.com/kubernetes/kubernetes/blob/95ab8065c6910e90742b7a9e9113545f9c6be075/pkg/controller/v

[2016-12-20 03:07] AdoHe commented on #38907
@smarterclayton I would fix this today.

[2016-12-20 03:08] dove-young commented on #28962
I got the same problem in GlusterFS + Heketi environment. Kubernetes version is 1.4.5, baseOS is CenOS 7

[code]

[code]

[code]

[2016-12-20 03:45] #37657 closed

[2016-12-20 03:52] vishh commented on #7294
We do not intend to support swap in the near future. My statement is true
for Linux. Is swap behavior in Windows very different from Linux?
Turning on swap requires storage isolation and swap typically leads to
unpredictable performance which is not good in a clustered environment.

On Tue, Dec 20, 2016 at 1:58 AM, Bill Wang <notifications@github.com> wrote:

[2016-12-20 03:55] hongxima opened #39003 "The default "unlimited(-1)" MemorySwap caused Windows Docker 1.14.0-Dev refuse start Containers"
**What happened**:
Latest kubelet + Windows Docker version 1.14.0-dev refused to start any containers, error output:
"invalid option: Windows does not support MemorySwap"

**How to reproduce it** (as minimally and precisely as possible):
It's always reproducible with Windows Docker 1.14.0-dev + latest kubelet code base.

**Anything else do we need to know**:
It didn't happen for Windows Docker 1.1

[2016-12-20 04:13] madhusudancs opened #39004 "[Federation] `kubefed init` needs verbose logs for debuggability ."
`kubefed init` has no verbose logs at all and this is a pain while debugging. Add logs at appropriate verbosity levels for `kubefed init`.

cc @kubernetes/sig-federation-misc @irfanurrehman

[2016-12-20 04:23] madhusudancs commented on #31071
@ramukima strace output isn't clear on which resource is unavailable. When you run `kubefed init` next time, could you please run `kubectl --namespace=federation-system get pod,services` in another terminal in parallel and see what it prints? Also, it will be useful for debugging if you can share it.

Also, since you said you are running this on Ubuntu machines, do you know if you have a loadbalan

[2016-12-20 04:34] madhusudancs commented on #38893
@valichek Could you try using `kubefed` - http://kubernetes.io/docs/admin/federation/kubefed/?

[2016-12-20 04:48] brendandburns commented on #24343
@pmorie definitely, we should break out and genericify as much of the build tooling as we can. I feel like we've done a bunch of useful stuff that can/should be shared with the broader github ecosystem.

@bgrant0607 the concern isn't about whether we can have many different repositories and be successful.  We clearly can, but those different repositories are all separate from the core Kubernetes c

[2016-12-20 05:16] davidopp commented on #24343
Not to muddy the waters here, but I do wonder how much of the PR/issue management stuff could be solved with bots. I sort of got at this with the [proposal](https://docs.google.com/document/d/1-w75_yMjRGVcP-nQEZpPar3AV9w8sE1uwp0nVbBWRq0/edit) I wrote, but one way to put it is: You can think of the comment box in a PR or issue as a command-line interface to Github. If you set permissions so that no

[2016-12-20 05:20] fabianofranz commented on #38834
WIP in https://github.com/kubernetes/kubernetes/pull/39006

[2016-12-20 05:32] madhusudancs commented on #38897
@liggit federation does adopt resources.

@nikhiljindal the hacky way is a documentation challenge though. It is difficult for obvious reasons to generate the help text dynamically. Example: people might run `kubectl delete -h`, but actually delete by running `kubectl --context=federation delete ...`. An alternative is to just statically print `if federation cascade=false else cascade=true` in the

[2016-12-20 05:55] brendandburns opened #39007 "kubectl can't load utf16 (or any encoding other than utf-8)"
Repro:

Using windows `kubectl.exe` in a PowerShell terminal:

[code]

Alternate repro:

[code]

[code]

You'll see all of the `\0` in the file.

Compare this to using the Linux save, or standard windows terminal save.

PowerShell converts to utf16.

We should be able to support loading from utf16.

Also, the error messages we kicked in this situation were terrible, if I hadn't thought to check th

[2016-12-20 06:00] brendandburns commented on #39007
Update, looks like this might be PowerShell, this only repros if you are in PowerShell

http://stackoverflow.com/questions/19388342/why-does-powershell-file-concatenation-convert-utf8-to-utf16

Updating this to indicate we should be able to accept an encoding...

[2016-12-20 06:27] chrislovecnm commented on #38838
That is what I am actually attempt to address.  Let me get back to you.

We actually need to test the install and creation of the cluster :)

[2016-12-20 06:32] derekwaynecarr commented on #7294
I have some users that continue to enable swap as a conscious choice.  In
their environments, usage of swap was more important than QoS and eviction.
  I don't think we can mandate disabling swap and still preserve backwards
compatibility unless it was gated by a flag of some kind whose default was
current behavior.

That said, I think we should warn via log if we detect swap is enabled if
we don'

[2016-12-20 06:43] hongxima commented on #7294
I've created a separated issue #39003  specifically pointing to the showstopper for Windows case. @brendanburns provided a PR #39005 to disable MemorySwap only when it's Windows OS. Which keeps the current behavior for Linux (as of "unlimited memory swap") and also make Windows Docker working, it seems to be a proper solution at least for my case.

[2016-12-20 06:48] dove-young commented on #38939
I don't think it very much related to Glusterfs itself. I tried some combination and here are what I found:

1. When I use GlasterFS without --kubeconfig, it works fine.  So I have GlusterFS, Heketi, Zookeeper Clusters and Kafka PetSets working in my environment.
2. When I configure a fresh new kube-apiserver, and run command kubelet, it crash either.

2.1 Here you can find a fresh new kube-apiser

[2016-12-20 07:00] xingxingxia commented on #29322
Recent info in https://bugzilla.redhat.com/show_bug.cgi?id=1405961#c4

[2016-12-20 07:21] k8s-merge-robot opened #39009 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master/65/

Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585 #38391

Fai

[2016-12-20 07:30] resouer commented on #38833
@ecordell any clue when this will happen?

[2016-12-20 07:44] pigletfly commented on #38774
+1,same error on 1.5.1

[2016-12-20 08:13] gyliu513 commented on #38921
Just FYI, I think that you should fix both kube-up and kube-down @du2016

[2016-12-20 08:37] mikudeko commented on #33447
I set up Kubernetes 1.4.7 on GKE. Using a NFS-Volume now fails for me like this(added line breaks for readability):

[code]

[2016-12-20 08:38] resouer commented on #38939
@dove-young Em ... after checking through all the context and code, I can confirm it is a bug in glusterfs volume plugin. The root cause it your k8s master is mis-configured (that's why you said change master configure will reproduce this), then plugin fail to initialize proper kube-client. I will send a patch.

[2016-12-20 09:03] bluecmd commented on #7433
I see that this bug is marked as "awaiting more evidence" and "team/cluster (deprecated)". Is there a way to breath more life into this bug? While I think for my use case I can work around by implementing GRE-encapsulation, I think it would be nice to have this feature to offer very simple load-balanced IP-level ingress.

[2016-12-20 09:13] #24165 closed

[2016-12-20 09:19] feiskyer commented on #38969
Related with https://groups.google.com/forum/#!topic/kubernetes-sig-network/59HG9SlypBc, still on discussion about this feature.

[2016-12-20 09:23] pires commented on #22609
@dgoodwin is this going to be part of discovery as planned for 1.6?

[2016-12-20 09:35] sebbonnet commented on #38498
@Random-Liu @jingxu97 thanks for looking into this. For the record our previous version was 1.3.8

[2016-12-20 10:09] AdoHe commented on #29322
@xingxingxia the problem exists if you use bash (version < 4), since we are using associate array in completion script, and this only exist since bash 4.

[2016-12-20 10:20] wojtek-t commented on #38776
I agree with @gmarek (and that's what I suggested you offline before). For all issues that GCI is supposed to fix, let's ignore them.

Regarind other 4 failures:
- 904 & 906 seem like network issues. At some point we should try making our tests more robust in such cases, but that's not super urgent.
- 913 and 967 seem much more serious - we should open a separate issue for them and try to debug it

[2016-12-20 10:39] fabiand commented on #38606
@saad-ali @childsb thoughts?

[2016-12-20 11:08] michelleN commented on #37827
@ixdy Aiming to have a pull request in for the stubs for this repo by tomorrow. Sorry for the inconvenience.

[2016-12-20 11:15] shyamjvs commented on #38776
That souds good @wojtek-t . Thank you for the clarification.

And with regards to 991 failure, it seems like scp failed to copy the resource files to kubemark-master. This seems to be most probably because either the ssh keys were not setup properly (which should be very unlikely) or write access to the target location is missing for the user 'kubernetes' at that point (which is also very unlikely

[2016-12-20 11:18] shyamjvs commented on #38776
Further, would it be okay to close this issue and reopen a new issue for gci-related test failures from now on?
Because I feel that we shouldn't be debugging both gci and debian issues on the same thread as it might be a bit confusing.

[2016-12-20 11:21] wojtek-t commented on #38776
There is one more that happened after moving to GCI:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/126

Whatever the reason is we should try to fix it. (maybe retrying will be enough?)

[2016-12-20 11:24] wojtek-t commented on #38776
Actually, I also changed my mind aboout these "connection reset by peer errors" - we should really try to make our tests more robust.
This is the reason of the last 2 failures of 5000-node kubemark:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/124
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1

[2016-12-20 11:26] xulike666 commented on #38962
[on the master branch] I run the ./verify-federation-openapi-spec.sh but then got :
...
!!! Error in /home/aaron/gocode/src/k8s.io/kubernetes/hack/lib/etcd.sh:43
  'ls $KUBE_ROOT/third_party/etcd' exited with status 2
Call stack:
  1: ../hack/lib/etcd.sh:43 kube::etcd::validate(...)
  2: ../hack/lib/etcd.sh:55 kube::etcd::start(...)
  3: ../hack/update-federation-openapi-spec.sh:51 main(...)
Exiti

[2016-12-20 12:24] wojtek-t opened #39017 "PATCH is the most expensive operation in apiserver"
While running large cluster tests, I'm observing PATCH to be the biggest part of profiles. This involves both CPU as well as memory allocations.

On the unrelated node, memory allocations are relatively crucial for us now - after my PR https://github.com/kubernetes/kubernetes/pull/38961 that only reduce amount of memory allocations in cacher, the latency metrics in apiserver in 5000-node kubemark

[2016-12-20 12:27] irfanurrehman commented on #38974
@mwielgus thanks a lot for your suggestion.
However when I try and weigh this implementation against the one I have submitted.
I see 2 positives (please add if you see more).
1 - If calculations are done at federation and scaling and distribution of replicas for each cluster is handled at federation, then a global min and max can be maintained, even with cluster outages.
2 - The overall hpa flow i

[2016-12-20 12:28] wojtek-t commented on #36120
That's why we have all these machinery to do generation in the correct order here:
https://github.com/kubernetes/kubernetes/blob/master/hack/update-codecgen.sh

[2016-12-20 12:36] wojtek-t commented on #38776
Maybe it's enough to just retry those "connection reset by peer errors" at the client library level...

[2016-12-20 12:41] wojtek-t commented on #38967
@xiang90 @hongchaodeng @timothysc

[2016-12-20 12:45] wojtek-t commented on #38967
My personal opinion is that we should expose all necessary elements in the interface, and ignore those that may significantly vary depending on the provider.
For example, depending on the provider, firewall rules may or may not be needed. Since we require the machine to be achievable from hollow-nodes, at the level of interface it should be: ``` make-machine-reachable ``` (or whatever we call them

[2016-12-20 12:55] AdoHe commented on #38907
@kubernetes/sig-cli-misc the root cause is: we retrieve a list from server, and then we flatten the list , get multiple `Info`, but `singular` [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get.go#L327) is `true`, so we just print the first object.

[2016-12-20 13:03] resouer commented on #38979
kindly ping @euank, any tips to solve this?

[2016-12-20 13:05] resouer commented on #38892
Where is this hard coded may I ask?

[2016-12-20 13:15] dgoodwin commented on #22609
@pires The config map containing active API servers will be coming for 1.6 via #36101, though it can only possibly contain one right now as I don't believe we're targetting HA for that timeframe. (and thus no cleanup)

[2016-12-20 13:25] resouer commented on #38857
cc @yujuhong do you think this make sense?

[2016-12-20 14:03] m-burst commented on #32522
Got the same issue, also on GKE

[2016-12-20 15:05] ecordell commented on #38833
@resouer Anything with node access could swap the image on disk, including kubernetes itself.

[2016-12-20 15:18] ZhenyangZhao opened #39026 "kubectl exec always connection refused by error dns record(kubernetes.default)"
**Kubectl version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
[code]
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:
In version 1.4.4 it's ok. but 1.5.1 wrong。
I use kubeadm to init a cluster with 2 nodes, using calico network with external etcd cluster.
After deploy successed. `kubectl get pods --all-namespace

[2016-12-20 15:20] davebotelho opened #39027 "Kubernetes source files contain bad fragment for flanneld"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

NONE

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes

[2016-12-20 15:31] jayunit100 commented on #20064
- We are implementing 20064,
- We are *not* implementing the original issue description which has node specific details in it., that is , we are doing `map[reason]->count` as opposed to `map[node]->reason` .

[2016-12-20 15:45] george-angel opened #39028 "RunContainerError: "runContainer: operation timeout: context deadline exceeded""
Kubernetes version:

[code]

OS Version: `CoreOS stable (1185.5.0)`

From the kubelet logs:

[code]

docker ps:

[code]

No logs on the container:

[code]

docker inspect:

[code]

kubectl describe pod:

[code]

[2016-12-20 16:02] fgrzadkowski commented on #22609
Can't we have something sooner? This is completely blocking any proper HA setups.

I think @smarterclayton mentioned in https://github.com/kubernetes/kubernetes/pull/36057#issuecomment-259894702 that this will be prioritized to get into 1.6. Has something changed?

[2016-12-20 16:13] Starefossen commented on #38707
@mikedanese but why was the old versions removed from the repository?

[2016-12-20 16:17] dgoodwin commented on #22609
@fgrzadkowski to clarify I think we were talking about a separate related topic out of sig-cluster-lifecycle, this specific issue might be getting fixed in 1.6, I'm not sure.

[2016-12-20 17:08] amolsh commented on #38896
I tried that, no luck. Instead it stopped my internet connection

On Dec 20, 2016 12:12 AM, "Zihong Zheng" <notifications@github.com> wrote:

[2016-12-20 17:11] ncdc commented on #38907
Looks like this behavior was changed in #36085. I think the fix is to check `len(infos)` instead of looking at singular, as singular is going to report `true` when you do `kubectl get -f <file>` (and it looks like that hasn't changed from before).

[2016-12-20 17:24] smarterclayton commented on #39017
I'm glad I was right :)

Do you have a measurement of how many conflicts the average PATCH encountered?  There's some higher level refactorings that might be more beneficial if conflicts > 1.5.

[2016-12-20 17:26] smarterclayton commented on #38907
And add a test so it doesn't break again! :)

On Tue, Dec 20, 2016 at 12:11 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-12-20 17:28] MrHohn commented on #38896
Weird, I'm not sure what is the dependency between the nameserver setup and internet connection.

Could you try `nslookup -debug` or `dig +showsearch` to see if search path are respected?. May also try nslookup for FQDNs(like `kubernetes.default.svc.cluster.local`).

[2016-12-20 17:35] ncdc commented on #38907
I can fix this if you would like me to, @AdoHe?

[2016-12-20 17:35] MrHohn commented on #38896
And for confirming if the endpoint is exposed in service, try replacing the nameserver by the dns pod ip:
[code]

[2016-12-20 17:40] t0mmyt opened #39031 "StatefulSet Pod stuck in pending waiting for volumes to attach/mount (AWS)"
BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.5.1 (hyperkube v1.5.1_coreos.0)

**Environment**:
- **Cloud provider or hardware configuration**: AWS (private subnets across 3 AZs)
- **OS** (e.g. from /etc/os-release): CoreOS stable
- **Kernel** (e.g. `uname -a`): 4.7.3-coreos-r2
- **Install tools**: Cloudinit + Hyperkube
- **Others**:

**What happened**:
After creating a storage cl

[2016-12-20 17:49] bgrant0607 commented on #37827
@eparis do you have any tips about converting the old docs to stubs with forwarding links? Was there anything tricky about it?

[2016-12-20 17:51] wojtek-t commented on #39017
The conflicts ration that I'm seeing is pretty small (below 1%).

[2016-12-20 18:04] amolsh commented on #38896
**kubectl exec busybox -- nslookup kubernetes.default 172.16.74.3**
Server:    172.16.74.3
Address 1: 172.16.74.3
nslookup: can't resolve 'kubernetes.default'

**kubectl exec busybox -- nslookup kubernetes.default.svc.cluster.local**
Server:    192.168.3.10
Address 1: 192.168.3.10
nslookup: can't resolve 'kubernetes.default.svc.cluster.local'

**dig +showsearch**
;; global options: +cmd
;; Got ans

[2016-12-20 18:06] mattymo commented on #38973
I've figured out one workaround thanks to @ivan4th. If you change the image value for apiserver pod manifest to something invalid, it will delete the pod correctly. Writing invalid YAML data and deleting the manifest both don't work. I hope that's not intentional behavior.

[2016-12-20 18:15] MrHohn commented on #38896
What about `kubectl exec busybox -- nslookup kubernetes.default.svc.cluster.local 172.16.74.3` and `kubectl exec busybox -- dig +showsearch kubernetes.default` ?

Are you executing this commands with two nameservers in resolv.conf or just one nameserver?
And how do you judge the internet is down when the first nameserver was removed?

[2016-12-20 18:17] ahakanbaba commented on #29972
We have also seen this problem with pods. in 1.3.9.

The pod has a init container. It looks like the init container actually completes successfully and later on the container starts and runs correctly ( with the output of the init container) However the pod state is stuck at pending.

I will follow up with more information and try to isolate the problem in a way that I can share in this thread.

[2016-12-20 18:19] lachie83 opened #39032 "Running multiple-schedulers with leader-elect"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS

**What happened**:
Running through the following example (http://kubernetes.io/docs/admin/kube-scheduler/) you cannot start a second scheduler without disabling leader-elect if the default scheduler has leader-elect enabled (defa

[2016-12-20 18:21] shyamjvs commented on #37484
Can we close this issue now that PR #38616 has been merged?

@wojtek-t / @gmarek

[2016-12-20 18:23] philips commented on #4869
See the kubelet chroot proposal https://github.com/kubernetes/community/pull/131

[2016-12-20 18:28] zmerlynn commented on #38069
And it's already being cleaned by the janitor script, so this should be
closed.

On Dec 15, 2016 4:52 PM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2016-12-20 18:40] davidopp commented on #38949
#19637 as Clayton alluded to but nobody ever did anything about it.

[2016-12-20 18:58] BruceZu commented on #38859
Hi xingzhou,
Thank you for your help. Yeah currently I use yaml file a a workaround.

[2016-12-20 19:02] bowei commented on #38851
@m1093782566 -- does the dnsmasq cache not work for you?

[2016-12-20 19:18] ncdc commented on #38907
My suggestion [above](https://github.com/kubernetes/kubernetes/issues/38907#issuecomment-268300273) breaks other tests. Trying to figure out what's up.

[2016-12-20 19:22] ncdc commented on #38907
Ah I see what it is. We still need to check singular and go into the list code path if it's `!singular || len(infos) > 1`

[2016-12-20 19:25] sudhi-vm opened #39035 "Bug in release-1.3 removes leading characters in etcd3 endpoint url"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

etcd3 TrimLeft

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**

[2016-12-20 19:36] boynux commented on #38969
@luxas Ok, I'll do that whenever I get chance, seems to be quite a bit of work ;)

[2016-12-20 19:42] bprashanth opened #39039 "Proactively detect pod -> external networking issues"
There are situations where pod -> apiserver/internet might be broken, but kubelet can still heartbeat etc. This will result in crashlooping pods on a Ready node. Such a node should be marked NotReady, and possibly auto-cordoned.

One way to do this is to deploy a networking canary daemonset that the kubelet is aware of. Maybe we can even reuse the node problem detector? or maybe the kubelet can ex

[2016-12-20 19:43] montanaflynn commented on #32522
Pinging @dchen1107, can you explain how to get a kubelet logs?

[2016-12-20 19:49] bprashanth commented on #32522
looks like you're on 1.3.3 so probably not on gci yet, the logs should just be located under /var/log/{kubelet,docker} etc in that case

[2016-12-20 19:49] euank commented on #38979
This is all harmless logging. There are no actual errors or bugs present as far as I can see. This is also not related to rkt or CoreOS specifically, other than that such a combination happens to produce cgroup slices that have 64 sequential alphanumeric characters.

The info logs there are at V(4) and can be ignored.
The error log you include from the docker daemon is totally benign.
Kubernetes c

[2016-12-20 19:50] bprashanth commented on #32522
output of /var/log/kern.log would help too, and if you're on gci you need to invoke `journalctl -u kubelet --all`  and dmesg

[2016-12-20 20:02] fejta opened #39041 "go run hack/e2e.go --build hangs forever"
As reported by @Crassirostris @gmarek

I believe something in `kube::build::run_build_command_ex()` is incompatible with e2e.go's `finishRunning()` command. This winds up calling the following command which never completes:

[code]

https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L560

This caused us problems with hanging in the past: https://github.com/kubernetes/test-infra/p

[2016-12-20 20:06] fejta commented on #39041
We can alternatively handle this by removing stdin support from https://github.com/kubernetes/kubernetes/blob/master/hack/e2e.go#L464

[2016-12-20 20:20] liggitt commented on #37473
it seems odd that the list resourceVersion initially received for http://localhost:8080/api/v1/namespaces/default/serviceaccounts (1578) results in a hang or BadRequest when requested like http://localhost:8080/api/v1/namespaces/default/serviceaccounts?resourceVersion=1578... the cache is that fresh

[2016-12-20 20:22] liggitt commented on #38897
cascade has potential to be disruptive in a single cluster as well, yet it was chosen as the default there.

[2016-12-20 20:53] metral commented on #38069
Closing per @zmerlynn's suggestion

[2016-12-20 20:53] #38069 closed

[2016-12-20 21:12] LukasHavemann commented on #37844
same problem. local kubeadm installation with Jenkins pod and hostPath volume. hostPath volume needed for docker socket mounting.

[2016-12-20 21:26] montanaflynn commented on #32522
@bprashanth since I'm using GKE (as well as the at least one other person who had the same issue) do you know would I go about getting into the node in order to cat `/var/log/*`? My main entry point has been using `gcloud` and `kubectl` until now.

[2016-12-20 21:40] smarterclayton commented on #20064
Comment from the linked PR:

I don't think this would be the only information we ever surface from scheduling.  I would expect in the future to grow the status here about why a schedule fails.  I don't see consensus here about the full scope of this pattern (scheduler writing pod status), so I'd like to see a quick description of that - a single field here isn't the end of that info, and I don't w

[2016-12-20 22:16] k8s-merge-robot opened #39046 "ci-kubernetes-e2e-gci-gke-prod: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod/122/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28257 #29159 #29449 #32447 #37508

Failed: [k8

[2016-12-20 22:29] alph486 commented on #4135
@vishh

By "compute resources" do you mean disk as well? So its possible that a node with outofdisk=true can be schedulable again shortly?

[2016-12-20 22:32] dchen1107 commented on #32522
@montanaflynn There are several ways to retrieve logs from your instances through gcloud or kubelet

* gcloud compute copy-files: https://cloud.google.com/sdk/gcloud/reference/compute/copy-files
* gcloud compute ssh --command: https://cloud.google.com/sdk/gcloud/reference/compute/ssh
* Last one through kubectl proxy, but I don't recommend you to use since it adds extra load to APIServer: http://ku

[2016-12-20 22:42] saad-ali commented on #33061
CC @kubernetes/sig-storage-misc

If a node goes offline (for any reason including being powered off) the attach/detach controller will *eventually* detach the volume even if the node never reports it as safely unmounted.

Once a node becomes inaccessible, the node controller waits 5 min 40 seconds, before deleting all the pods that were scheduled to that node. When a pod referencing an attachable

[2016-12-20 22:50] nikhiljindal opened #39047 "e2e build stuck at "Running build command...""
Steps to repro:
Run `go run hack/e2e.go -v -build`
Output:
[code]

It just gets stuck there. Adding more logging I found that the command it is trying to run is:
[code]
The command succeeds if I try in a separate tab, but running `go run hack/e2e.go -v -build` always gets stuck here. No idea why is that.

Filing this to see if others are also facing this or have any ideas why I am running into thi

[2016-12-20 22:50] nikhiljindal commented on #39047
cc @ixdy Any idea?

[2016-12-20 22:54] BaluDontu commented on #33061
So do you mean that the volume can be attached to another node only after the volume is detached on the node which is powered OFF.

In my case, i have waited for significant amount of time. I am sure it is more than 15 mins. And I see the volume succesfully attached to the new node but still not detached from the powered OFF node. In this case I cannot restart the node as explained above. Only if

[2016-12-20 23:00] saad-ali commented on #33061
If the storage system supports multi node attach for the access mode, then the attach to the new node should succeed immediately. If the storage systems supports only single node attach for the access mode then the attach calls to the new node fail fail until it is detached from the first node (this is the case with GCE PDs).

If you are never seeing the volume detach from the original (powered of

[2016-12-20 23:01] freehan commented on #39039
I think daemonset probably is not going to cover all cases. If there is problem with container networking, a monitoring pod may not be able to reach out and report the problem.

Maybe we should run a monitoring daemon directly on node. Reuse node problem detector or consider using some existing solutions.

[2016-12-20 23:05] BaluDontu commented on #33061
Sure. I will attach the logs.

[2016-12-20 23:07] BaluDontu commented on #33061
Between I am testing it on v1.4.7. Is this a change which is recently made to kubernetes code base to address this issue.

[2016-12-20 23:09] eparis opened #39048 "Please enable 2-factor auth immediately"
If you are on the cc list you are a member of the kubernetes organization in github, but have not enabled 2-factor auth. We will be enforcing 2-factor auth starting in January. Anyone who has not enabled will be removed from the organization. Please see the kubernetes-dev thread for more details:

https://groups.google.com/forum/#!topic/kubernetes-dev/3BjHij2mHZI

Or the github help article to get

[2016-12-20 23:11] saad-ali commented on #13057
Removing sig/storage label since this is an etcd issue, not related to k8s volume plugin system.

[2016-12-20 23:27] victortrac commented on #24687
@jingxu97 I'm on 1.4.7 on GKE and getting this when trying to mount an external (to GKE) NFS server:
[code]

[2016-12-20 23:29] Demotivated commented on #37662
@jingxu97 I have not seen the issue in several days and unfortunately have no logs to share. The sequence typically looks like this:

1. Pod running on Node 1
2. Terminate Node 1
3. Pod attempts to run on Node 2
4. Pod fails because volume is attached to Node 1
5. Automated retries...
6. Pod successfully runs on Node 2

[2016-12-20 23:51] arun-gupta commented on #39048
Completed

[2016-12-20 23:56] ixdy commented on #39048
looks like github stopped CCing.
@k8s-ci-robot
@k8s-slack
@kevin-wangzefeng
@kris-nova
@krmayankk
@krzysztofgrygiel
@liangchenye
@linfan
@luxas
@lvlv
@maciaszczykm
@magicwang-cn
@mansoorj
@marcoceppi
@marekbiskup
@mattthias
@mengfanliang
@michmike
@mijajasinski
@monadic
@mqliang
@mwielgus
@nhlfr
@nikhiljindal
@olekzabl
@pravisankar
@prydonius
@pskrzyns
@rajatchopra
@Random-Liu
@resouer
@rjnagal
@r

[2016-12-21 00:02] montanaflynn commented on #32522
@bprashanth @dchen1107 after `ssh`ing into a node I didn't see `/var/log/kubelet` or `/var/log/docker` or `/var/log/kern.log`.

Here's what I saw:

[code]

Also the issue has been rectified for me but it seems other people are having the same issue so I thought it would be good to have a clear process in place for retrieving logs that could be helpful for diagnosing the underlying cause.

[2016-12-21 00:38] thockin commented on #35874
@brant0607 @smarterclayton we should probably have an actual API convention
around this.

On Mon, Dec 19, 2016 at 7:02 AM, Mark Turansky <notifications@github.com>
wrote:

[2016-12-21 00:40] cunnie commented on #30752
@codablock @colemickens a lead Azure Engineer ( @AbelHu ) found the problem — it is a alignment problem gone horribly wrong:  https://cloudfoundry.slack.com/archives/bosh-azure-cpi/p1481877046000214

In situation like unaligned partition boundary, a big I/O request (e.g. a 32KB write) can be split into 64 512-byte writes by the kernel block I/O subsystem in the worst case, easily hitting the 500-I

[2016-12-21 00:56] foxish commented on #39031
cc @kubernetes/sig-apps-misc

[2016-12-21 01:07] foxish commented on #39031
cc @kubernetes/sig-storage-misc

[2016-12-21 01:10] foxish commented on #38774
cc @kubernetes/sig-cli-misc

[2016-12-21 01:14] saad-ali commented on #39031
@justinsb @kubernetes/sig-aws-misc Have you tested out StatefulSets on AWS w/EBS? Any known issues?

[2016-12-21 01:20] mingfang commented on #25702
i think this is docker issue and doubt there's anything kubernetes can do about it.
closing.

[2016-12-21 01:20] #25702 closed

[2016-12-21 01:21] dchen1107 commented on #39047
I ran into the same issue. My build is stuck for more than 2 hours. :-(

[2016-12-21 01:25] rkouj opened #39056 "Refactor to address the following discussion"
https://github.com/kubernetes/kubernetes/pull/37727#discussion_r90376513

[2016-12-21 01:26] bprashanth commented on #32522
Yeah we need a tool to grab logs and diagnostic info, but since it's so tied to the implementation of a platform I don't think it should live in kubernetes main repo (so please file a GKE support channel feature-request, is what I'm saying :)

Also your list of logs looks like you're running a GCI node (you can cat `/etc/lsb-release` to confirm). If so you can get logs via ssh+journalctl command I

[2016-12-21 01:35] ixdy commented on #39047
dupe of #39041

[2016-12-21 01:35] #39047 closed

[2016-12-21 01:38] ixdy commented on #39041
I think [this comment](https://github.com/kubernetes/kubernetes/blob/master/hack/e2e.go#L461-L462) explains why we run in interactive mode (and why we map stdin), though I don't know whether it's really still valid.

It's strange that folks are suddenly having lots of problems here. What changed?

[2016-12-21 01:43] ixdy commented on #39041
the simpler "fix" is to remove -build from `e2e.go` and just tell users to run `make quick-release` ...

[2016-12-21 02:08] jacobcabantomski-ct commented on #35185
I'm also encountering this issue when using `from-literal` with a mongo uri with the same comma issue.

`--from-literal=foo.mongo_db.bar=mongodb://user:pass@mongo-1:27017,mongo-2:27017/database?poolSize=2&replicaSet=replicas`

Errors with:

`error: invalid literal source mongo-2:27017, expected key=value`

Version Info:
[code]

[2016-12-21 02:15] tjliupeng opened #39057 "Can e2e test be used for test automation of kubernetes cluster?"
Hi, K8s guys,

At present we want to find a test automation solution for our kubernetes  cluster deployment, that means we need to check whether our service, rc and pods can run or fail. Can we use e2e framework for that objective?

Thanks
liupeng

[2016-12-21 02:19] ixdy commented on #39041
I'm pretty stumped as to why this is getting stuck, though. @jbeda any ideas?

[2016-12-21 02:46] resouer commented on #38862
@hex108 cool, and if you have clue to solve this, I can help to review and get it in.

[2016-12-21 03:21] AdoHe commented on #38907
@ncdc thanks very much :)

[2016-12-21 03:34] AdoHe commented on #39048
Completed

[2016-12-21 03:39] AdoHe commented on #39017
/cc

[2016-12-21 04:04] liubnu opened #39060 "Dose kubernetes support docker update command when pod is running?"
This is a FEATURE REQUEST.
I use kubernetes v1.4.7 on centos 7.2.

Docker has command named update to change allocated resources on the fly.
I'd like to know if I can use kubectl to change allocated resources of a running pod.
I look this in kubectl patch command, but could not find solution.

[2016-12-21 04:16] amolsh commented on #38896
**cat /etc/resolve.conf**
nameserver 192.168.3.10
search default.svc.cluster.local svc.cluster.local cluster.local
options ndots:5

**kubectl exec busybox -- nslookup kubernetes.default.svc.cluster.local 172.16.74.3**
Server:    172.16.74.3
Address 1: 172.16.74.3
nslookup: can't resolve 'kubernetes.default.svc.cluster.local'

**kubectl exec busybox -- dig +showsearch kubernetes.default**
rpc error

[2016-12-21 05:10] colemickens commented on #30752
Does that also affect cases where the disk is unpartitioned, @cunnie ?

[2016-12-21 06:19] heartlock opened #39065 "BUG in kubernetes 1.3.5 use calico1.6 as network :service NodePort can not work when namespace isolation set"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG

**Kubernetes version** (use `kubectl version`):v1.3.5

**Environment**:
- **Cloud provider or hardware configuration**:master:10.10.102.66  node1:10.10.102.67 mode2:10.10.102.68
- **OS** (e.g. from /etc/os-release):ubuntu14.04
- **Kernel** (e.g. `uname -a`):3.13.0-32-generic
- **Install tools**:
- **Others**:use calico1.6 & kube-proxy

[2016-12-21 06:35] tk3fftk commented on #34919
I have same issues on OpenStack with k8s v1.5.1 and deploy.sh.
Can I use federation on OpenStack?

My error message is:

I have another error of Persistent Volume.
The federation-apiserver-etcd-claim state is bound.
My nfs is working with CLI, but k8s fail to mount nfs volume.

[2016-12-21 06:47] resouer commented on #39060
In a cluster, it is not easy to update container resource on the fly. Just imagine what happens if you changed your memory request to +1GB while your node only have 512MB available?

And, for example, `docker update` command only changes values in the container's cgroup, but resources like memory is actually incompressible, container can not free out more memory unless the process is killed.

For

[2016-12-21 06:47] #39060 closed

[2016-12-21 06:49] resouer commented on #9043
Got a feature request from #39060, which is mainly inspired by `docker update`.

[2016-12-21 06:52] bprashanth commented on #39039
the acutal check needs to execute in the container namespace for this to be effective, and of course the thing flipping node readiness needs to run in the host net ns

[2016-12-21 06:52] resouer commented on #39057
Yes of course. And even for pressure test :)

[2016-12-21 06:52] #39057 closed

[2016-12-21 07:09] resouer commented on #39028
It seems the root cause is:
[code]
Could you please check what happens to your EBS volume: "vol-02ff0c2158d03e018"?

btw,  EBS volume requires AWS cloud provider, are you using AWS?

[2016-12-21 07:13] xilabao opened #39066 "run hack/test-cmd.sh failed"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**What happened**:
[code]

[2016-12-21 07:24] tobegit3hub commented on #8798
I'm gonna close this because someone has installed Kubernetes on Ubuntu 15.04+ with the latest `kubeadm`.

Thanks for all your help  @resouer @WIZARD-CXY @roberthbailey and @bgrant0607 😃

[2016-12-21 07:24] #8798 closed

[2016-12-21 07:36] starsdeep commented on #17470
@fasaxc

[code]

This only work for request from container,  but does not work for request from host, because itvs  does not support client and director on the same machine. Is there any workaround?

[2016-12-21 08:06] chrislovecnm commented on #39048
Thanks!!

[2016-12-21 08:07] chrislovecnm commented on #39048
Oh an the bots too ;)

[2016-12-21 08:19] dove-young commented on #38939
@resouer Thank you. I've finished the https configuration in my environment. It works fine in K8S components as well as in Pods.  Meanwhile the panic would still be reproduced if I stop one of my <code>kubelet</code> and start it without any parameter.

[2016-12-21 08:40] alexw23 commented on #36845
Having the same issue - I want:

HTTP -> HTTP
HTTPS (ACM provided by AWS) -> HTTP

It's safe to say this comment is the reason why. https://github.com/kubernetes/kubernetes/blob/32946c5bd0ab849dddd2f8321bd83b619e471f7e/pkg/cloudprovider/providers/aws/aws.go#L134-L135

[2016-12-21 08:47] tmaillart commented on #38872
First, I'd like to thank you for your concern and responce to my issue.

[2016-12-21 08:55] fgrzadkowski commented on #38322
The issue can happen also other pods, like fluentd, or other logging agents. We should apply a similar "fix" as in https://github.com/kubernetes/kubernetes/pull/38836 for fluentd.

@Crassirostris Can you please patch fluentd configuration to be treated as critical? I think it should be patched to 1.5 together with https://github.com/kubernetes/kubernetes/pull/38836

[2016-12-21 08:57] m1093782566 commented on #38851
@bowei

What's the relationship between skydns rcache and dnsmasq cache? Are they the same?

[2016-12-21 09:05] mrook commented on #38775
This bit me as well. After some debugging it looks like the ```Authorization``` header is actually sent (in ```src/net/http/request.go```), but stripped somewhere down the line (```kube-proxy``` perhaps?).

[2016-12-21 09:05] m1093782566 commented on #23474
@thockin

I have a small worry that if host deny kube-dns's permission of retrieving /etc/resolv.conf, how kube-dns work correctly?

[2016-12-21 09:11] #37484 closed

[2016-12-21 09:12] george-angel commented on #39028
Sorry, forgot to mention, I am, volume was attached  (as seen by `lsblk`) and mounted: `xvdbb   202:13568  0  400G  0 disk /var/lib/kubelet/pods/5d12738d-c6d1-11e6-8758-06099f2a458d/volumes/kubernetes.io~aws-ebs/pvc-5d05b2bc-c6d1-11e6-a4c9-0a677903e9ed` (thats a different volume now, we had to recreate).

[2016-12-21 09:12] m1093782566 commented on #38602
@liggitt

I like the idea :)

I think I can close this issue now.

[2016-12-21 09:12] #38602 closed

[2016-12-21 09:14] wojtek-t opened #39072 "Scheduler is ignoring some pods in large clusters and they hang in "pending" state for hours"
There seeem to be a regression in apiserver/scheduler which leads to the situation that scheduler in not scheduling some pods in large clusters.
So what is happening is that in 5000-node kubemark, pretty much every run of Density test in the last few days is ending with the following error:
[code]

The first such failure is this one:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs

[2016-12-21 09:23] starsdeep commented on #17470
@thockin
[code]

Does this really works? it seems that ipvs does not support client and director on the same machine.

[2016-12-21 09:26] feiskyer commented on #38833
@Random-Liu @yujuhong @mrunalp WDYT

cc @kubernetes/sig-node-misc

[2016-12-21 09:31] resouer commented on #38833
Oh, right, I see your point! Though it is not a frequently encountered bug, but it definitely exists ... And I think imageID is better since digest is a registry V2 only concept.

Kindly ping @yujuhong for some input? If we meant to fix this, we need do it early I'm afraid.

[2016-12-21 09:35] davidwang24 opened #39073 "kubeadm"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-12-21 09:35] pires commented on #38785
Should be fixed by #38919.

[2016-12-21 09:36] du2016 commented on #38921
@gyliu513  i have already move: source "${KUBE_ROOT}/cluster/common.sh" to the head of util.sh,is there something can't work?

[2016-12-21 09:38] #39073 closed

[2016-12-21 10:15] edevil commented on #38979
Thank you for the detailed explanation, it helped a lot!

Kubernetes is a system with multiple moving parts, so when one of them starts emitting error messages every minute I get a bit worried. :) My question was more about if this error message signalled a real problem or not, it seems not. Indeed everything seems to be working fine. Since the number of error messages increased a lot when systemd

[2016-12-21 10:23] tmaillart commented on #38872
First, I'd like to thank you @caseydavenport  for your concern and response to my issue.
I tried multiple times with different arguments, it looks like with the argument ```--cluster-cidr=192.168.1.1/16``` the cluster is able to start up healthily.
Once again thank you.

[2016-12-21 10:23] #38872 closed

[2016-12-21 10:52] wojtek-t commented on #39072
OK - I think I managed to debug this and have a victim PR.

I'm 99% sure, that this is a regression from https://github.com/kubernetes/kubernetes/pull/38669
@caesarxuchao @lavalamp

What is problematic is my opinion this snippet from ``` sendWatchCacheEvent ``` method:
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/cacher.go#L862
[code]

This pretty much means that when ``` c.don

[2016-12-21 10:58] codablock commented on #30752
@cunnie If I understand the description correctly, this only applies to cases where unaligned partitions are in use. This is not the case for Azure Dynamic Disk provisioning and also for all the tests performed so far by all the participants here.

As noted in https://github.com/kubernetes/kubernetes/issues/30752#issuecomment-267462401, I did some manual tests with partitioning. And having unalign

[2016-12-21 11:30] Starefossen commented on #37199
@Zjianglin did you ever figure out what was not working in this case? Think I might experience a similar problem with my cluster.

[2016-12-21 11:40] kargakis commented on #39060
cc: @derekwaynecarr

[2016-12-21 11:40] kiall commented on #33759
@mmontecelo-gradiant it is possible I missed a case in the original fix, the simplest test I found for this issue we had was to create 2x services with type=loadbalancer, wait for all the LBaaS resources to be provisioned, then delete one of the services and ensure the other's resources are still present.

If this is failing, either these been a regression, or something else has gone horribly wron

[2016-12-21 12:04] wojtek-t commented on #39072
One more good news - I'm able to reproduce it with a relatively simple unit test. So I'm pretty sure that this is exactly the reason.

[2016-12-21 12:06] resouer commented on #39028
Any could you please provide related kubelet's log? Is there something suspicious?

[2016-12-21 12:11] wojtek-t commented on #39072
I just opened a PR that seems to fix this problem. It doesn't solve the go-routine leak original issue in 100%, but I think it should significantly reduce the probability of it. Which is significantly better. And we need to fix missing watch events immediately as this is pretty serious issue.

[2016-12-21 12:19] mmontecelo-gradiant commented on #33759
Hi @kiall, thanks for coming back to this issue.

Apparently not all cases deleting the LoadBalancers in OpenStack/liberty were doing the extra step of filtering.  We were working on a fix, and @daconstenla submitted a pull request, which is being considered right now: https://github.com/kubernetes/kubernetes/pull/38959

[2016-12-21 12:37] george-angel commented on #39028
I did, from the original post:

[code]

Line 2 and 3 are the error, and I included 1,4 and 5 for context.

[2016-12-21 12:41] wojtek-t commented on #38253
Fixed by https://github.com/kubernetes/kubernetes/pull/38394

[2016-12-21 12:41] #38253 closed

[2016-12-21 13:06] wojtek-t commented on #39017
@caesarxuchao @lavalamp

[2016-12-21 13:07] AdoHe commented on #38774
I think this should be a server side change.

[2016-12-21 13:08] resouer commented on #39028
The default timeout of Docker operation of kubelet is 2 min, if you are not running in very high density, it should be enough.

So what's the status of this container in `docker ps`? Can we make sure this prometheus container can work by simple `docker run`?

[2016-12-21 13:08] gyliu513 commented on #38921
Thanks, I did not have a try but just a reminder, just check code, yes, I think it works. Thanks @du2016

[2016-12-21 13:17] resouer commented on #39065
cc @thockin Would you mind to take a look to see if this is expected?

[2016-12-21 13:42] wojtek-t commented on #39017
@smarterclayton - assuming the the conflict rate is pretty low, do you have any ideas how to optimize PATCH operation? In particular maybe avoid some of those json serialization/deserialization that happen twice here?

[2016-12-21 13:45] george-angel commented on #39028
Output for `docker ps` is in the original post:

[code]

And I could start the container with `docker run` but it started up without it's data volume.

[2016-12-21 14:07] liggitt commented on #39017
That seems like the minimal set of operations to ensure we have the required form for evaluation, unless we allow encoding/decoding JSON directly to/from map[string]interface{}

[2016-12-21 14:18] workhardcc opened #39083 "kube-proxy aborted with some weird logs"
kube-proxy version: 1.4.0
Physical machine memory：256G

Found some error log in kubelet.ERROR as below:

[code]
` Main PID: 13671 (code=killed, signal=TERM)` looks like ` kill -15 13671 `.
Please note that the error log time is the same with the kube-proxy dead time.

Then I `systemctl restart  kube-proxy` everything is ok.

Is there a bug? However I can not reproduction it right now.

[2016-12-21 14:24] Crassirostris commented on #39041
@ixdy Can it be because of the [cmd.Wait](https://golang.org/pkg/os/exec/#Cmd.Wait)? From the description:

[code]

However this doesn't explain stdout and stderr from the container not being attached to the e2e.go process.

[2016-12-21 14:25] wojtek-t commented on #38949
Yes - we definitely want to move events to a different kind of storage, but I'm not aware of any real effort towards this goal.

Regarding storing events in a separate etcd, we are doing this, and in fact this significantly helps for performance. Though we should reevaluate it after moving to etcd v3 (but I guess there will still be a gain in having it).

watch which is likely to be high bandwidth

[2016-12-21 14:27] wojtek-t commented on #37488
@thockin - did you do any progress on that?

[2016-12-21 14:32] Crassirostris commented on #39041
@ixdy As to what changed, I think the main difference is https://github.com/kubernetes/kubernetes/pull/37866

Replacing the contents of `finishRunning` below line 951 with `return cmd.Run()` makes it work

[2016-12-21 14:49] Crassirostris commented on #37241
@fejta Could you please say, why messages stopped coming? There are several flakes from the last two days

[2016-12-21 14:51] nwwells opened #39084 "`kubectl delete --namespace [ns] --all pv` deletes pvs outside of the target namespace"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubectl delete namespace persistent volume
---

**Is this a BUG REPORT or FEATURE REQ

[2016-12-21 14:53] Crassirostris commented on #37241
Meanwhile, recent flakes was due to GCL itself. One flake:

[code]

Something wrong with SD, more information will be available once https://github.com/kubernetes/kubernetes/pull/36198 is merged

Another flake:

[code]

Notice the 20 minutes difference. Hope working with SD API directly will address this problem also.

Waiting for the PR with logging e2e tests refactoring to be merged

[2016-12-21 15:11] pospispa commented on #39041
I'm experiencing the same problem.

I thought that it may be a Docker related issue or am I on a wrong track?

Note: I experienced the problem with Docker 1.12.2, 1.12.4 and 1.12.5.

[2016-12-21 15:16] pospispa commented on #39041
@Crassirostris just to be sure you mean that the below change makes it work:
[code]

[2016-12-21 15:17] Crassirostris commented on #39041
@pospispa Works for me. Does it work for you?

[2016-12-21 15:21] pospispa commented on #39041
@Crassirostris Yeap, now I can confirm that it also works for me.

[2016-12-21 15:23] deads2k opened #39086 "Remaining genericapiserver dependencies"
Primed the list with `go list -f {{.Deps}} k8s.io/kubernetes/pkg/genericapiserver | tr ' ' '\n' | grep k8s.io | grep -v vendor | grep -v third_party | grep -v "pkg/genericapiserver/" | sort`, removed core libraries and godeps, removed items from client-go (`find pkg -type d`), now I'll start checking them off with resolutions

dependencies not in client-go assuming open pulls merge
 - [ ] k8s.io/k

[2016-12-21 15:23] Crassirostris commented on #39041
That's really strange btw, because Run basically uses Start + Wait inside

[2016-12-21 15:24] lguminski opened #39087 "[Federation] unable to create a federated ingress"
**Kubernetes version** (use `kubectl version`):
Kubernetes 1.5.1

**Environment**:
- GKE

**What happened**:
After I federated several clusters, all federated services work fine (replica sets, services) except for ingress.

**What you expected to happen**:
Ingress does not get propagated across all clusters

[code]

Here are controller's log (run with `-v=4` flag)
https://gist.github.com/anonymous

[2016-12-21 15:28] deads2k commented on #39086
@mehdy @mbohlool Are you the same person?  I think you mentioned this.

[2016-12-21 15:44] ecordell commented on #38833
Just to add a bit to the discussion: This would allow someone with write access (to the image cache) on the node to execute arbitrary code, so from a security perspective this would be good to plug up.

But personally I think it's likely to introduce bugs into Kubernetes when new processes are added in the future. Easy to imagine a process running in you cluster that, for example, watches an image

[2016-12-21 15:51] euank commented on #38833
In practice, any image cache right now can only be written by root.

In addition, a person who writes to the image cache can tampler with image contents (and execute arbitrary code) if the runtime doesn't have a mechanism to verify such tampering after initial unpacking.

I like this change because it's a nicer user interface. It's nice to run what you mean to run. It's nicer for runtime implement

[2016-12-21 15:53] ecordell commented on #38833
Sorry, I ninja-edited after you had already responded - current runtimes *do* verify this, I think the only  issue is only docker v1.

[2016-12-21 15:55] euank commented on #38833
@ecordell Per https://github.com/coreos/rkt/issues/3481, we're planning to remove it from rkt. Do you have a reference that docker does do such verification?

[2016-12-21 16:01] #36807 closed

[2016-12-21 16:10] deads2k commented on #39086
@caesarxuchao can I change a dependency like `k8s.io/kubernetes/pkg/client/typed/discovery` to `k8s.io/client-go/discovery` without any ill effect in kubernetes or will that turn out badly for me?

[2016-12-21 16:37] chrismarino commented on #27398
The multi-network use case seems pretty common and it looks like @xialonglee has come up with something that could easily be adapted to other scenarios (I'm looking at one right now).  Wondering how many of the multiple IPs per pod use cases could be addressed (with appropriate mods) via multiple networks? My hunch is that for some it wouldn't take a lot of effort to re-org/partition them so they

[2016-12-21 16:47] msimon opened #39089 "Delete deployment does not respect --grace-period"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

delete deployment grace-period
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4+3b417cc", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81

[2016-12-21 16:48] jojimt commented on #27398
Just fyi: there is an effort on multiple networks under kube-sig-net. If you would like to contribute, please bring it up there.

[2016-12-21 16:52] caseydavenport commented on #39065
@heartlock If I understand correctly, I think this is the expected behavior.

By setting DefaultDeny on the Namespace, you've said "don't allow any traffic to pods in this Namespace unless a NetworkPolicy says so", and that is the behavior you're seeing.

You'll need to create a NetworkPolicy in the net1-sub1 Namespace which allows the traffic in order to use NodePort services.

[2016-12-21 16:56] andrewsykim opened #39090 "HPA should have scale down/up limits"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
HPA
HPA limits
scaling limits
max scale up
max scale down

---

**Is this a BUG REPOR

[2016-12-21 16:57] AdoHe commented on #39084
Seems has some conflict between `--namespace` and `--all`.

[2016-12-21 17:00] Crassirostris commented on #38322
@fgrzadkowski Sure

[2016-12-21 17:08] csaintc commented on #38775
This PR looks relevant: https://github.com/kubernetes/kubernetes/pull/34076

[2016-12-21 17:09] #38985 closed

[2016-12-21 17:18] albertsun commented on #23323
We think we've been bitten by this issue in a Kubernetes 1.2 cluster we're running. Does anyone know if this is resolved in later releases of Kubernetes?

[2016-12-21 17:19] jsravn commented on #23323
@albertsun later releases use protobufs so it shouldn't be as big an issue. However the json protocol is still there, so any components (like third party controllers) may still cause the memory bloat.

[2016-12-21 17:36] madhusudancs commented on #39087
cc @kubernetes/sig-federation-misc

[2016-12-21 17:47] MrHohn commented on #38896
Wait, I thought you were talking about the `/etc/resolv.conf` in the container, which should not have any effect on neither the node nor your computer browser. Could you please show me the content in container's `/etc/resolv.conf`? Like below:
[code]

And because none of the `nslookup` commands you ran succeeded, even you were not going through k8s service, I wonder is the networking setup correct

[2016-12-21 18:21] mbohlool commented on #39086
@deads2k no mehdy is not my ID, I wish :)

[2016-12-21 18:22] ericuldall commented on #25554
Any idea if/when this will be implemented? It would be really nice to get a commit user name and commit id in that change-cause during ci. Right now the rollout history is essentially useless as i'm not 100% sure what state I may be rolling back to. If I pass the `--revision` flag to rollout history I can see some helpful information, like the image deployed, but our images are tagged with a branc

[2016-12-21 18:27] deads2k commented on #39086
You tried to buy it from him? :)

[2016-12-21 18:32] mbohlool commented on #39086
I didn't. Maybe I should :)

[2016-12-21 18:58] mbohlool commented on #39017
Thinking out loud here, maybe generating (like deepcopy) patch methods for all runtime objects?

[2016-12-21 19:00] caesarxuchao commented on #39086
I don't think you can. We haven't extracted types.go to a separate repo yet (it's next in my todo list), so currently the types used by client-go and kubernetes are different.

[2016-12-21 19:04] uluyol commented on #39017
It's unclear to me why you couldn't just use reflection to walk over the fields of the object instead of converting to map[string]interface{}. That would eliminate 1, 2, 5, and 6, though there would be some cost due to the reflection. Codegen could eliminate that at the cost of code bloat.

[2016-12-21 19:04] markine commented on #32536
Subscribing; looking to use overlay2 with docker 1.12+ in Kubernetes to avoid overlay's inode exhaustion due to CI/CD churn.

[2016-12-21 19:05] liggitt commented on #39017
because the patch applies to the serialized version, not the internal version (which is what the API server is working with).

[2016-12-21 19:08] hectorj2f commented on #35183
I understand that adding `destroy-containers` for a deployment, might imply to add a new state in the workflow. If it is necessary I won't see the problem but I understand your concerns about it.

[code]

On the other hand, if we add a hook when deleting a deployment, my main concern is to able to use containers that are different than the containers that run in the Pod of the deployment as an exa

[2016-12-21 19:08] uluyol commented on #39017
I don't understand this comment. Are you referring to fields that have custom marshallers/unmarshallers? You could see if those methods exist and call them appropriately. Likewise for field renaming.

[2016-12-21 19:27] dchen1107 opened #39097 "make test failed"
I synced my branch up-to-date, and make test failed with the following error message. cc/ @caesarxuchao
$ make test
Running tests for APIVersion: v1,apps/v1beta1,authentication.k8s.io/v1beta1,authorization.k8s.io/v1beta1,autoscaling/v1,batch/v1,batch/v2alpha1,certificates.k8s.io/v1alpha1,extensions/v1beta1,imagepolicy.k8s.io/v1alpha1,policy/v1beta1,rbac.authorization.k8s.io/v1alpha1,storage.k8s.io

[2016-12-21 19:31] liggitt commented on #39017
As storage moves to protobuf, wouldn't that degrade to re-encoding to JSON most of the time anyway?

[2016-12-21 19:45] saad-ali commented on #38824
That's pretty cool that AWS can detect that a mount and not permit detach. The k8s attach/detach controller currently has logic that will call detach if the node is unresponsive for 6 minutes (i.e. has not reported the volume safely unmounted). If we want to implement this, we can modify the Detach call to take a force flag, and make the attach/detach controller set that to true when it initiates

[2016-12-21 19:52] freehan commented on #34672
Anyone start working on this?

I am working on enabling the hostport for CRI. This is one of the missing pieces.

RunPodSandbox takes the PodSandboxConfig which includes containerPorts, but StopPodSandbox did not. That means either the network plugin or docker shim has to store it.

I prefer to checkpoint it in shim because this information is required across network plugins.

I prefer not to stor

[2016-12-21 19:54] saad-ali commented on #35542
Assigning to @msau42, who has graciously offered to work on this

[2016-12-21 19:58] caesarxuchao commented on #39017
I recommended people ( @Random-Liu ) to use PATCH instead of UPDATE because old clients will drop new fields when using UPDATE. If we properly fix our clients so that they don't drop unknown fields, we can avoid using PATCH in many cases.

Alos, because UPDATE has a greater chance of retries, we need to profile whether PATCH or UPDATE is cheaper if a resource is modified frequently.

[2016-12-21 20:04] DreadPirateShawn commented on #33084
This is also a problem b/c it spams the logs with error-level entries, when "existence of non-k8s docker container on the host" is definitely not a Kubernetes error.

We are currently seeing this on:
[code]

(I know it's not the most recent Kubernetes version, but our stack upgrade attempt was blocked by docker/docker#27607, and we needed to perform a full rollback. We considered trying to upgrade

[2016-12-21 20:12] jeffvance commented on #35542
@saad-ali where is the line for "[Storage]". If I test that an nfs mount is cleaned up when a pod bound to that mount is killed, is that a storage test? What about testing that a PVC binds to the expected PV, is that storage?  Thanks.

[2016-12-21 20:19] DreadPirateShawn commented on #31709
We continue to see this routinely -- for instance, on our test environment where QA performs some deployments each day, we see this anywhere from every couple of days to several times in the same day.

[2016-12-21 20:45] mkulke commented on #23323
@jsravn @albertsun

hi, in our case the problem was related to an architectural flaw/oddity with `kube-proxy`. back then, there was only a user-space tcp proxy implementation, which was subject to an DOS scenario:

We had misbehaving pods deployed in our cluster, which opened a lot of connections and sometimes did not properly close sockets, but leave them in `FIN_WAIT2/CLOSE_WAIT` state.

kube-pr

[2016-12-21 20:48] bowei commented on #38851
The flow of request go from DNS client <-> dnsmasq (cache) <-> kube-dns.

Any records that have non-0 TTL will be cached in dnsmasq. The question is what are the records that you want to be cached that will not be cached in dnsmasq.

[2016-12-21 20:50] a-robinson opened #39100 "poddisruptionbudget not listed as a type in kubectl help text"
**Kubernetes version** (use `kubectl version`):
1.5.1 for both the client and server

**Environment**:
N/A

**What happened**:
Running `kubectl get --help` returns a long list of valid resource types. This list doesn't include `poddisruptionbudget`, even though it's a valid beta resource type AFAIK. Running `kubectl get poddisruptionbudget` works.

**What you expected to happen**:
For the list in

[2016-12-21 20:54] johscheuer opened #39101 "Proposal Quobyte tenants and Kubernetes namespaces"
# Proposal Quobyte tenants and Kubernetes namespaces

We (@quolix and myself) developed an architecture/workflow to combine Quobyte tenants with Kubernetes namespaces (this is in the first place an proposal/draft and is open for discussions).

Our Goals:

- Adding some simple "security" mechanisms
- Kubernetes Quobyte plugin decides which Quobyte tenant must be used
- A user shouldn't be able to m

[2016-12-21 20:56] dashpole opened #39102 "Separate core metrics from user metrics pipeline"
This issue is intended to foster discussion around the following proposal: [#252](https://github.com/kubernetes/community/pull/252)

TLDR: The kubelet doesn't use many of the metrics it collects.  We should move towards a structure in which the kubelet collects only metrics it uses ("Core Metrics"), and creates a structure in which users/third parties can collect metrics they want.  The most impor

[2016-12-21 21:01] mbohlool commented on #39017
If we generate a `patch` method, then we can just deserialize `patch` to a `runtime.Object` and pass it to the patch method of `current`.

[2016-12-21 21:02] jayunit100 commented on #20064
To summarize how we got here.

- in an earlier issue https://github.com/kubernetes/kubernetes/issues/35842 we decided we didn't want scheduler events to be ~O(P*N), so we rolled them up.  That could definitely provide user feedback,
- *however* we decided this feature is sufficiently important that we *dont* want to depend on ephemeral data.

hmmm... Regarding the question above, can you clarify w

[2016-12-21 21:06] ixdy commented on #39041
It looks like the
[code]
line might be what's causing problems. If I comment it out, I get streaming output after `"Running build command..."`, as expected. When it's there, the output stops.

[2016-12-21 21:09] ecordell commented on #38833
The entire tree is verified on pull: https://github.com/docker/docker/blob/b826bebda0cff2cc2d3083b954c810d2889eefe5/image/fs.go#L75-L84

Any time a layer/image is referenced after that, the digest is verified as well: https://github.com/docker/docker/blob/b826bebda0cff2cc2d3083b954c810d2889eefe5/image/fs.go#L103

The contents are verified right before running in containerd by way of getting the im

[2016-12-21 21:27] dashpole commented on #39102
cc: @kubernetes/sig-scheduling, @kubernetes/sig-instrumentation

[2016-12-21 21:32] deads2k commented on #39086
@sttts good progress here.  Admission is big money.

[2016-12-21 21:55] ixdy commented on #38785
Still need to fix https://github.com/kubernetes/release/blob/master/lib/releaselib.sh#L480-L491.

[2016-12-21 21:58] dchen1107 commented on #39097
It turns out it is my own setup issue. Fixed.

[2016-12-21 21:58] #39097 closed

[2016-12-21 22:00] albertsun commented on #23323
@mkulke Yes, we're using `--proxy-mode=iptables`.

What happened to our cluster seems to match what's described here https://github.com/kubernetes/kubernetes/issues/23323#issuecomment-200406356 very closely. We run each component of the cluster with a Fleet service file on CoreOS instances. Have 3 controller nodes with 4GB of memory each, and 8 worker nodes with 32GB of memory.

This manifested fo

[2016-12-21 22:01] saad-ali commented on #35542
Good question. My feeling is that anything that the storage-sig is responsible should fall in to the label (including all volume plugins, attach/detach controller, kubelet, persistent volume controller). So yes, all your examples should fall in to this label. The idea here is that when we make big breaking changes to some part of the storage infrastructure, we should be able to run all storage E2E

[2016-12-21 22:02] mikedanese commented on #23323
This is probably fixed now so I'm going to close.

[2016-12-21 22:02] #23323 closed

[2016-12-21 22:07] spiffxp commented on #38087
If we're going to use reviewable can we specify the criteria for its use? Two different methods of reviewing code makes it hard to onboard reviewers. I divine reviewable is intended for expert level prs. Or large prs. Can we spell that out?

[2016-12-21 22:13] spiffxp commented on #38087
@thockin can we get a link to this?

[2016-12-21 22:23] jeffvance commented on #35542
@saad-ali I agree and have updated in flight pr #38214

[2016-12-21 22:34] caesarxuchao commented on #38217
To clarify, the custom header needs to express more than the client version, the identity of the caller, i.e., whether it's kubectl or kube-controller-manager, is also important, so I made a PR to set *custom User-Agent* header.

[2016-12-21 22:43] whitlockjc commented on #34348
Until told otherwise, my plan is continue working on this.

[2016-12-21 22:59] liggitt commented on #38217
I really don't want to add this. The only use is for API-server-side behavior modifications for specific clients/versions, which I think is a mistake. I don't think we should put effort into expanding our ability to do that… it makes it more acceptable to break API compatibility for non-first-class clients.

[2016-12-21 23:04] smarterclayton commented on #38217
I tend to agree with Jordan here - I view user agent specific behavior as a code smell that should be deployed in extremely rare scenarios, and in the event that a few proxies strip user agents it doesn't seem to justify it to an increase in the usage of the filtering.

[2016-12-21 23:13] caesarxuchao commented on #38217
Another use is for printing out the client identity in the api-server log. How about this perspective: the standard user-agent will be modified by proxies, so we should set a custom header. How to use the user-agent value is another issue, we can disapprove future PRs that alter api-server behavior based on user-agent.

[2016-12-21 23:16] smarterclayton commented on #38217
There is some level of "proxies that are bad break all assumptions of good behavior, therefore the proxy should be fixed."  Can you point me to a proxy example that drops user agents that cannot correctly preserve user agent if so challenged?  In the enterprise space I deal with a lot of terrible proxies, but haven't had this be a huge issue.

[2016-12-21 23:28] caesarxuchao commented on #38217
Kubernetes users may not control the proxy, that's what I experienced in an internal issue. @jlowdermilk do you have more details on why a proxy has to drop the user-agent?

[2016-12-21 23:36] freehan commented on #34672
Ideally, I want to checkpoints stuff like: `netns`, `containerport`, `podcidr`
The structure may look like this:

[code]

[2016-12-21 23:40] freehan commented on #31307
This has dependency on #https://github.com/kubernetes/kubernetes/issues/34672#issuecomment-268622277

I can start with an in-memory checkpoint in CRI.

[2016-12-21 23:45] deads2k opened #39108 "etcdserver: not capable"
From etcd3: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/39094/pull-kubernetes-e2e-gce-etcd3/10390/artifacts/e2e-gce-agent-pr-20-0-master/

[code]

May need to retry poststarthook a few times to avoid bootstrapping failures like this.

[2016-12-21 23:51] bboreham commented on #31307
What's the connection between CRI and this issue?

I would have thought that a hostport implementation for CNI has to be independent of CRI.

[2016-12-21 23:55] bprashanth opened #39110 "Clarify container.name validation failures"
create this deamonset
[code]

with
[code]

Which is a confusing error.
The code to change is: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L1717
It can mention that path of the parent object missing the name.

[2016-12-21 23:57] vdavidoff commented on #20625
I am having the same issue. I just upgraded to 1.5.1 and I see that master-service-namespace is deprecated for kube-apiserver, but it's still a valid option for kubelet...though it doesn't seem to be working (and never has). If that's expected, then what is the point of master-service-namespace? Or is it slated to be deprecated as a kubelet option, too?

Side note: The reason I put my master servi

[2016-12-21 23:59] euank commented on #37903
This was happening at least daily when it did occur.

It hasn't happened for almost two weeks now.

I'm going to assume that one of the other issues, such as the kernel hangs, that was resolved for the 1.5 release also fixed this issue.

/close

[2016-12-21 23:59] #37903 closed

[2016-12-22 00:00] freehan commented on #31307
Rephrased it to be "related".
For CRI to use a CNI hostport plugin, it has to checkpoint some information.

[2016-12-22 00:09] smarterclayton commented on #39017
Also, if we can map[string]interface{} to a versioned object in a way that reuses existing arrays or maps we can avoid a fair number of struct allocations - if we got a v1 pod from etcd, then get the resulting map[string]interface{}, if we can set that map[string]interface{} onto the v1 pod we loaded we avoid having to reallocate slices for containers, for conditions, and the resource maps (all of

[2016-12-22 00:11] freehan commented on #38998
@ncdc Ah Thanks! Closing this issue.

[2016-12-22 00:11] #38998 closed

[2016-12-22 00:15] caseydavenport opened #39113 "Kubelet takes long time to update Pod.Status.PodIP"
I've seen this when implementing Calico NetworkPolicy against the Kubernetes API (as opposed to via Calico's etcd)

Since the Pod status reporting is not synchronous with Pod set up, it often takes a long time for the API to get updated with the IP address of a newly networked Pod, which means that it can take multiple seconds before any NetworkPolicy implementation based off the k8s API learns ab

[2016-12-22 00:38] whitlockjc commented on #34348
One thing that a generic admission controller needs is a declarative way to filter out admission requests from being sent downstream _(the webhook in this case)_.  _(For example, the `ImagePolicyWebhook` controller is only interested in admission requests for `pods` resources, and specifically the _CREATE_ and _UPDATE_ operations.)_  The question at hand is how do we support this in the [admission

[2016-12-22 00:38] justinsb commented on #36845
@alexw23 we obviously need to write this up, but you need to declare both ports on your Service: http and https.  But both have targetPort http.

What you've posted is a little weird - it wouldn't be what I expect that combo would mean, but this should work with the magic combo.

[2016-12-22 00:42] whitlockjc commented on #34348
cc'ing @smarterclayton since he's working on something similar here: https://github.com/kubernetes/community/pull/132

[2016-12-22 01:04] dchen1107 commented on #39102
xref: https://github.com/kubernetes/kubernetes/issues/27097#issuecomment-237422351

[2016-12-22 01:08] alexw23 commented on #36845
@justinsb It's a pretty common combo AFAIK. Terminate SSL at the ELB level and then communicate in HTTP to servers in your VPC. This saves the hassle of any certificate management in your cluster. Lets encrypt doesn't support wildcard and you can't pull ACM out of EC2, otherwise this would be possibility to terminate SSL at the app level.

[2016-12-22 01:12] xingzhou commented on #39110
@bprashanth, I'd like to take a look at this

[2016-12-22 01:14] xingzhou commented on #39084
shouldn't we check the conflicts from kubectl side on the co-existing of these two flags? or at least give some warning message

[2016-12-22 01:15] hongchaodeng opened #39117 "Missing "leaderelection" package when staging to client-go"
"pkg/client/leaderelection" depends on a couple other client packages. But it doesn't sit in client-go repo right now.

It's not possible to use "leaderelection" package when using purely "client-go". The staging/copy.sh should also copy "leaderelection" packages.

[2016-12-22 01:15] hongchaodeng commented on #39117
cc @caesarxuchao

[2016-12-22 01:24] nwwells commented on #39084
thing is, there were deployments, services, pvcs, and ingresses in the `default` namespace which were NOT deleted, so this is apparently a problem just with persistent volumes?

[2016-12-22 01:26] spxtr opened #39119 "PersistentVolumes tests failed on a noop PR."
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39107/pull-kubernetes-e2e-gce-etcd3/10413/ for details.

[2016-12-22 01:27] xingzhou commented on #39084
let me take some investigation on this, will update you the result then

[2016-12-22 01:32] bprashanth commented on #39110
please do

[2016-12-22 01:37] resouer commented on #32536
I think it's @kubernetes/sig-node-misc 💯

[2016-12-22 01:49] resouer commented on #39028
So we can make sure it is due to EBS volume.

I can see a very suspicious ERROR: ` VolumeInUse: vol-02ff0c2158d03e018 is already attached to an instance`. Can you check if your EBS volume has already attached a different VM other than the right node?

[2016-12-22 01:53] liggitt commented on #34348
I think initializers are a more desirable direction. a few of the reasons why:
* adding (possibly multiple) synchronous remote calls into the API server request handler path seems problematic
* it lets external admission/initialization actors call to the API server (using existing APIs) to get/modify objects, rather than making them run webhook servers. Those webhook servers would possibly need to

[2016-12-22 02:03] AdoHe commented on #39084
@xingzhou just go ahead, and any help please let me know.

[2016-12-22 02:19] thockin commented on #38806
The fact that it is always DNS makes one wonder if DNS needs more resources
assigned, and under what conditions.

On Mon, Dec 19, 2016 at 5:22 AM, Harry Zhang <notifications@github.com>
wrote:

[2016-12-22 02:26] spheromak commented on #33554
Just want to add onto the pile and ensure when you consider the lookup traffic that you take into account that external-services make this problem quite worse. We were running fine until we started to use some external services to get namespace-local consistent names for some services outside of kube. I've now run into these issues, and the many threads that relate to scaling kube-dns. external-se

[2016-12-22 02:33] bprashanth opened #39124 "Evict static pods"
https://github.com/kubernetes/kubernetes/pull/39059 is a short term mitigation to:

1. lack of proper disk accounting on node
2. kube-proxy running as a static pod instead of a daemonset
3. the kubelet not restarting pods that are in Failed/Evicted, on assumption that some other controller will recreate them

These 3 events conspire to permanently evict kube-proxy when a user pod  that writes to *

[2016-12-22 02:36] yiwang8621 commented on #22469
@caseydavenport,
I'm trying to use network policy to do the network isolation between different namespaces by following the steps in:
http://kubernetes.io/docs/getting-started-guides/network-policy/walkthrough/

After I created the "DefaultDeny" isolation against the namespace, I can't hit the service from browser (using nodePort),
I guess I must have missed something, this sounds like some basic

[2016-12-22 02:51] #38322 closed

[2016-12-22 03:00] alexw23 commented on #36845
Figured it out, I need to run a second port even though it's just for http.

[code]

Produces desired results.

[2016-12-22 03:08] justinsb commented on #36845
Right ... it was the second screenshot you ended up with here https://github.com/kubernetes/kubernetes/issues/36845#issuecomment-268467241  that I thought was odd.

Glad you figured it out :-)

[2016-12-22 03:09] justinsb commented on #32536
Is the recommended docker storage configuration for 1.5 overlay2?

[2016-12-22 03:11] vishh commented on #39124
What is "lacking"?

This seems to be the bug to me. If the static pod were to really use up a lot of disk space, restarting it might end up freeing up disk space.

https://github.com/kubernetes/kubernetes/issues/31362 is tracking improving evictions to be more responsive.

Even though we'd like to avoid evicting DaemonSet pods, at times, evicting them might be the right thing to do.

[2016-12-22 03:14] resouer commented on #39110
Just removed help-wanted since claimed

[2016-12-22 03:14] heartlock commented on #39065
@caseydavenport thanks for your reply!

As you said

so I need to create a NetworkPolicy to make backend pod to allow the traffic. Now we can add podIP  to whitelist by setting namespaceSelector and podSeletctor in NetworkPolicy spec. But these all traffic from inside the cluster. NodePort need to handle the traffic from outside the cluster. The key issue is that I can not find way to add external

[2016-12-22 03:16] bprashanth commented on #39124
On Wed, Dec 21, 2016 at 7:12 PM, Vish Kannan <notifications@github.com>
wrote:

A pod writing to it's local fs is able to evict all other pods on the node.

[2016-12-22 03:16] bprashanth commented on #39124
On Wed, Dec 21, 2016 at 7:12 PM, Vish Kannan <notifications@github.com>
wrote:

There are 3 bugs. We're not fixing them in 2016, that's what this bug is
about.

[2016-12-22 03:54] fabianofranz commented on #38744
@chrisleck since you mention you are using `--context`, I understand you have a kube config file inside the container. Can you confirm where it is located? `~/.kube/config`, some other location set by the `KUBECONFIG` env var, something else? Tks!