[2017-08-23 22:53] spxtr commented on #51075
Specifically, this would cause many merge conflicts.

[2017-08-23 22:59] ixdy commented on #51075
I'm a little confused, since this has been the way things have worked since #40777 merged in April, but 4+ people asking me about this in the last week have convinced me that this needs to be more automatic. Sent #51229.

[2017-08-23 23:05] egeland commented on #51165
See https://github.com/dshulyak/kubernetes.github.io/commit/d58ba7b075bb4848349a2c920caaa08ff3773d70

[2017-08-23 23:11] enisoc commented on #48031
I have several PRs out (see above) that should help with the most common cases seen in the triage dashboard:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=provide%20basic%20identity

[2017-08-23 23:30] tcharding commented on #50292
I've tracked this down to the `NormalText` function within the `ASCIIRenderer` type (our custom blackfriday markdown renderer).
[code]
Modifying `normalizers.go` to pass the extension `blackfriday.EXTENSION_NO_INTRA_EMPHASIS` into the call to `blackfriday.Markdown` still results in `KUBE_EDITOR` being passed to `NormalText` with a line break in the middle. This means, AFAICT, that we cannot implem

[2017-08-23 23:47] saad-ali opened #51232 "Enable scheduler to handle PD that belongs to multiple zones"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The Kubernetes scheduler has a `VolumeZonePredicate` that is run when evaluating if a particular pod is ok to schedule to a particular node. It looks for a label with the key `failure-domain.beta.kubernetes.io/zone` on the `PersistentVolume` object referenced in the pod. If present, it looks for the same label on the

[2017-08-24 00:17] #34427 closed

[2017-08-24 00:17] yuexiao-wang commented on #34427
OK,  I will close this issue

[2017-08-24 00:30] k82cn commented on #51182
@dims , refer to the attachment for the detail [test.log.gz](https://github.com/kubernetes/kubernetes/files/1247388/test.log.gz) :).

[2017-08-24 00:36] k82cn commented on #51232
/cc @kubernetes/sig-scheduling-feature-requests

[2017-08-24 00:42] xilabao opened #51234 "add kernel version to node label"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

we need to add a label for kernel version to assign the pod which depends on kernel version.

ref to https://github.com/kubernetes/kubernetes/pull/51006

[2017-08-24 00:45] huggsboson commented on #8327
we'd like to have sidecar containers that aren't critical to a pod's overall functioning. i.e. a sidecar which can crash or become unavailable without pulling the pod from the load balancer.  In our case it is a sidecar which delivers some configuration to disk from a notoriously flakey service.  We'd like the pod to stay up, the conf it needs is on disk.  Should I file a separate issue for this?

[2017-08-24 00:51] #23021 closed

[2017-08-24 00:52] tcharding commented on #51015
Perhaps this is not an issue since it can be solved by the user. One solution I found is to us `grc`

https://github.com/garabik/grc

~/.grc/grc.conf
[code]
~/.grc/conf.kubectlhelp
[code]

[2017-08-24 00:52] Omeryl commented on #8867
@vincentwoo Just replying, it being the default resolver is definitely intentional because of: https://cloud.google.com/compute/docs/vpc/internal-dns

(late to the party, I know, but probably helpful for other people who happen to come upon this issue).

[2017-08-24 01:08] xilabao commented on #51234
/sig node

[2017-08-24 01:10] diegs commented on #48841
Thanks for the early reviews. Added a design doc (included your questions @erictune):

https://github.com/kubernetes/community/pull/977

Happy to continue discussion there before reviewing this PR.

[2017-08-24 01:10] wzdnzd commented on #51190
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
      volume.beta.kubernetes.io/storage-class: slow
  labels:
     release: prometheus-test
  name: prometheus-test
spec:
   accessModes:
   - ReadWriteMany
  capacity:
     storage: 10Gi
  nfs:
     path: /data/nfs/prometheus-test
     server: xxx.xxx.xxx.xxx
  persistentVolumeReclaimPolicy: Recycle

[2017-08-24 01:12] wzdnzd commented on #51190
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-class: slow
  labels:
    release: prometheus-test
  name: prometheus-test
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 10Gi
  nfs:
    path: /data/nfs/prometheus-test
    server: xxx.xxx.xxx.xxx
  persistentVolumeReclaimPolicy: Recycle

[2017-08-24 01:17] wzdnzd commented on #51190
@gnufied Hi,gnufied,my pv's yaml file as show in the screenshot below.Thx.
![default](https://user-images.githubusercontent.com/8565764/29644897-9723479e-88ac-11e7-988f-e07e5e397cb6.png)

[2017-08-24 01:23] fisherxu commented on #51076
I really agree with you, accessing metrics should be authenticatable. BTW, when this plan will be implemented?

[2017-08-24 01:31] gnufied commented on #51190
Did you use dynamic provisioning via storageclass for provisioning the PV? I am saying that because - your PV has annotation `volume.beta.kubernetes.io/storage-class: slow` . That seems like a suspect.

Unless you are using external nfs provisioner - a default kube deploy doesn't support dynamic provisoning of nfs volumes.

[2017-08-24 01:33] yison commented on #51179
/area kubectl
/sig area/kubectl

[2017-08-24 01:35] yison commented on #51179
/sig cluster-ops
/sig cli

[2017-08-24 01:44] wzdnzd commented on #51190
Yes,I'm using nfs provisioner,but now it cannot work well though i use the DefaultStorageClass.
![default](https://user-images.githubusercontent.com/8565764/29645556-e14d3cd6-88b0-11e7-84f5-cf6cffa1d121.png)

[2017-08-24 02:05] zjj2wry commented on #51175
@jinzhejz you can use custom-defined-template

[2017-08-24 02:27] fisherxu commented on #51076
Still another question, now I deploy kube-apiserver as container, and also through http probe to check for it, seems like probe only support insecure port?

[2017-08-24 02:30] jinzhejz commented on #51175
@zjj2wry thanks for the advice, let me check it.

[2017-08-24 02:42] CaoShuFeng commented on #51027
This is addressed by #51077 ,and can we close it?

[2017-08-24 03:22] WanLinghao commented on #51068
@zjj2wry @deads2k  so it's not a bug at all?

[2017-08-24 03:45] kweisamx commented on #40969
I meet the same problem too, on centos 7 , the kubelet always
[code]

[2017-08-24 03:48] yerly commented on #50129
@vfreex  yes.

Sometimes NodePort doesn't work.I think It's related
I solved those problems by clean iptables and restart service

iptables -F
iptables -X
iptables -t nat -F
iptables -t nat -X

I don't know what's caused those problems. but it works.

[2017-08-24 03:57] jamesawebb opened #51241 "Available fieldRefs inconsistent in Downward API"
/kind bug
/sig api-machinery

**What happened**:
The availability of Pod and Container fields in the downward API depends on the method used to expose these.  For example, using `DownwardAPIVolumeFile`, `status.hostIP`, `spec.nodeName` and other similar fields are not available, however these fields are available using `EnvVarSource`.

**What you expected to happen**:
I would expect the availabili

[2017-08-24 04:17] lichuqiang opened #51243 "status in response of deploymentRollback is incorret"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
when making a regular rollback action to a deployment, I expect to receive a response of success, but the status in response seems incorrect：

_root@lcq-dev:/workspace/scripts# curl http://127.0.0.1:8080/apis/extensions/v1beta1/namespaces/default/deployments/nginx2-deployment/rollback -X POST -d '{"kind": "DeploymentRollb

[2017-08-24 04:34] fisherxu commented on #51076
Still another question, I deploy kube-apiserver as a container, if disabled insecure port, kubelet probe will can't work, have any idea how to deal with it and in your cluster how to do this?

[2017-08-24 04:51] resouer commented on #51232
One note is equivalence class cache's behavior may be affected a bit by this design change

[2017-08-24 05:06] #48398 closed

[2017-08-24 05:12] resouer commented on #51232
@saad-ali One question is: why should we have another `failure-domain.beta.kubernetes.io/zones` label instead of having multiple `failure-domain.beta.kubernetes.io/zone` in PV? Is it by design of current multi-zone PV object?

[2017-08-24 05:21] bsalamat commented on #51232
@resouer Labels are maps. We cannot have multiple items with the same key in a map.

[2017-08-24 05:24] zjj2wry commented on #51027
of course

[2017-08-24 05:27] resouer commented on #51232
@bsalamat Oh I see, it's `map[string]string`, so the format will be like: `failure-domain.beta.kubernetes.io/zones=zone1,zone2,zone3`.

[2017-08-24 05:29] resouer commented on #51232
If no one is working on this, mind if I take it up? And will also update equivalence class cache part if necessary.

[2017-08-24 05:36] zjj2wry opened #51245 "1、kubectl printObj should not print header when occur error. 2、kubectl get ns --all-namespaces should not have NAMESPACE column"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1、when error has occur，we should not print header
[code]
2、 when i get ns use --all-namespaces, i get NAMESPACE column, we should return error: storageclass is not namespaced
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**

[2017-08-24 05:37] zjj2wry commented on #51245
/assign

[2017-08-24 05:43] luxas commented on #51205
Closing as a dupe then and updating the https://github.com/kubernetes/kubernetes/issues/42926 title

[2017-08-24 05:43] #51205 closed

[2017-08-24 05:45] luxas commented on #32536
@dchen1107 I suppose qualification/validation of overlay2 for docker 1.12.6 and docker 1.13.1 is coming in v1.8, right?

[2017-08-24 05:49] luxas commented on #42926
@yguo0905 Thank you! Is docker v1.13.x gonna be supported in v1.8?
What about overlay2, did you have time to check a status on that https://github.com/kubernetes/kubernetes/issues/32536?
It a very commonly asked-for supported feature...

Are we also aware of the https://github.com/kubernetes/kubernetes/issues/40182 issue?
cc @kubernetes/sig-node-bugs ?

[2017-08-24 05:51] zjj2wry commented on #51245
/sig cli

[2017-08-24 05:53] luxas commented on #40182
Do we have an update on this issue as docker 1.13 is targeted for v1.8 and docker 1.12 is EOL soon (November)? Nothing we have to do in the kubelet is the conclusion, right?

[2017-08-24 05:55] luxas commented on #42926
This is a release blocker right, as 1.12 is EOL'd in November, so if this doesn't make it; v1.8 users will use a EOL docker versions before v1.9 is released?

[2017-08-24 05:56] thockin opened #51246 ""notReady" toleration should be "not-ready""
Almost all `foo.com/something` style strings use dashes, rather than javascript names.  `not-ready` vs `notReady`.

@davidopp @bsalamat

[2017-08-24 06:16] #46549 closed

[2017-08-24 06:18] roberthbailey commented on #49480
Shouldn't we ask @kubernetes/sig-network-misc which CNI version we should be supporting with 1.8? And try to make the CNI version consistent across all of the install tools?

[2017-08-24 06:22] dixudx commented on #49480
@roberthbailey +1. Waiting for the reply.

[2017-08-24 06:23] tengqm opened #51248 "Should expose default "service-cluster-ip-range" setting to users"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
There is currently no easy way to know what Kubernetes is using as the default CIDR for service cluster IPs.

**What you expected to happen**:
`kube-apiserver` should be able to tell users that "10.0.0.0/24" is used as the default. They'd better check if their deployment environment has a conflict with this assumption.

[2017-08-24 06:25] gankit commented on #40244
This needs to be documented somewhere. Very confusing :(

[2017-08-24 06:34] jianglingxia commented on #50421
can  I  ask  you a question?thanks
config the kubelet file,the KUBELET_HOSTNAME="--hostname-override=192.165.1.151" must change the openstack Virtual machine name？is necessary ？Now there's a problem, our virtual machine name does not conform to the k8s regular expression，have [] in the name，so cannot do after! @FengyunPan
thanks for your reply

[2017-08-24 06:35] FengyunPan commented on #51248
/sig api-machinery

[2017-08-24 06:36] luxas commented on #49480
@roberthbailey I'm not dictating, here I'm asking what version is targeted :smile:.
Seems like folks are happy with this; no objections so far.
Think it's definitely too late to upgrade CNI at this point, so upgrading as @bboreham mentioned makes sense to me in v1.9

[2017-08-24 06:47] feiskyer commented on #49480
Agreed, time too late now. v1.9 is preferred.

[2017-08-24 06:58] FengyunPan commented on #50421
HostnameOverride is the hostname used to identify the kubelet instead of the actual hostname.
Your virtual machine name which does not conform to the k8s regular expression can not be used by kubernetes.

[2017-08-24 07:05] jianglingxia commented on #50421
now I need use the cinder in kubernetes ,so need config the hostname-override in the kubelet file ,
http://www.sohu.com/a/111190250_468741
in the paper note that
![image](https://user-images.githubusercontent.com/25783555/29653688-57f02eda-88dd-11e7-8cd1-7b7a48fc303b.png)
so I want to know that is necessary to change the ip to the virtual machine name ?or you have some idea
to resolve the problem

[2017-08-24 07:17] FengyunPan commented on #50421
No idea.
Related to #49544

[2017-08-24 07:38] NickrenREN opened #51253 "TestApps always failed in package pkg/kubectl/apps"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind flake

**What happened**:
TestApps always failed

**Anything else we need to know?**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49610/pull-kubernetes-unit/48887/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50889/pull-kubernetes-unit/48881/

/sig testing

[2017-08-24 07:43] Miouge1 commented on #51027
Sounds good, thanks everyone!

[2017-08-24 07:43] #51027 closed

[2017-08-24 07:50] enzian commented on #50449
solve - stupid me; having a tab in my manifest ;-)

[2017-08-24 07:50] #50449 closed

[2017-08-24 08:00] NickrenREN commented on #50999
/close

[2017-08-24 08:00] #50999 closed

[2017-08-24 08:17] zjj2wry commented on #51253
my pr appear same problem. i will investigate the cause later.

[2017-08-24 08:17] zjj2wry commented on #51253
/sig cli

[2017-08-24 08:19] NickrenREN commented on #51253
/assign @zjj2wry

[2017-08-24 08:33] andelwu opened #51255 ""externalTrafficPolicy":"Local" work not fine with Cloud LoadBalancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. I have a service patch with {"spec":{"externalTrafficPolicy":"Local"}}, But pkg/cloudprovider /cloud.go Interface LoadBalancer call EnsureLoadBalancer/UpdateLoadBalancer with all node in the Cluster.
2. With service having '{"spec":{"externalTrafficPolicy":"Local"}}', Whenever pod reschedule to another node, UpdateLoad

[2017-08-24 08:40] NickrenREN opened #51256 "Errors returned by some validation functions may be wrong"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In some validation functions, such as `validateContainerResourceName(...)`, `ValidateResourceQuotaResourceName(...)`,  value returned may be wrong.
When `validateResourceName(...)` return some errors and `len(strings.Split(value, "/")) != 1`, we may just return `field.ErrorList{}`, that is not expected

**What you expecte

[2017-08-24 08:43] NickrenREN commented on #51256
/sig api-machiney

[2017-08-24 08:44] NickrenREN commented on #51256
/sig api-machinery

[2017-08-24 08:44] NickrenREN commented on #51256
/assign

[2017-08-24 08:44] cjw296 commented on #1899
Would be fantastic to have this for running one-shot database migration jobs that need to run to completion before doing a rolling update of a web app. Guess I'll go hack up a poll/wait loop in the meantime ;-)

[2017-08-24 08:44] yastij commented on #50926
I'll try to have a look by the end of the week.

[2017-08-24 08:45] sedatkestepe commented on #43800
@luxas I know this is not stackoverflow or a forum page. This is github where developers try to improve the product. With this aspect, you are right. I had all the following issues (maybe some of them duplicates) : #37063 #40969 #43815 #43397 #45064 #353. But I saw that people are still living the effects of the issue and still commenting on this closed issue. Saying that, I am not the only one wh

[2017-08-24 08:46] andelwu commented on #51255
/sig area/cloudprovider

[2017-08-24 08:49] cjw296 commented on #1899
Testing...

[2017-08-24 09:00] cjw296 commented on #1899
test

[2017-08-24 09:02] wongma7 commented on #51123
@jdumars I think they’re still failing, not sure what the release process is, but these tests started running only yesterday and so failure indicates something wrong with the test themselves, they shouldn’t block release. (They succeed on gce cluster with Debian nodes but fail on gci)

[2017-08-24 09:11] xingzhou commented on #51142
these lines show the reason why kubelet keeps restart the finished container: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/helpers.go#L66-L71

The reason here is when a container exits and removed in docker, docker can not get the status of this container any more, so the status object for this container becomes nil, which means the container does not ever started fro

[2017-08-24 09:12] ashokkkannan commented on #44103
+1
We are using statefulsets for kafka. For accessing kafka from outside they need to talk to a particular pod and hence there is a requirement to create service per pod

[2017-08-24 09:32] #43730 closed

[2017-08-24 09:37] lichuqiang opened #51259 "DeploymentRollback: Lack of validation to name of deployment in url and that in request body"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when making a regular rollback action to a deployment, I happend to make the deployment name in URL a wrong one, that is, the deployment in request url is different from that in request body, however, I still get a response of success:

_curl http ://127.0.0.1:8080/apis/extensions/v1beta1/namespaces/default/deployments/**compare-dep

[2017-08-24 09:41] dixudx opened #51260 "pull-kubernetes-unit failed due to roundtrip of PersistentVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig testing
/priority failing-test

**What happened**:

[pull-kubernetes-unit](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit) is failing

**What you expected to happen**:
Work as well.

[2017-08-24 09:42] dixudx commented on #51260
@ixdy Fixed. PTAL #51258.

[2017-08-24 09:42] lichuqiang commented on #51243
cc/ @kubernetes/sig-apps-misc

[2017-08-24 09:43] lichuqiang commented on #51259
cc/ @kubernetes/sig-apps-misc

[2017-08-24 09:47] puja108 commented on #47733
Hmm, only saw it on customer clusters for now. Will investigate and see if I can reproduce by myself.

[2017-08-24 09:59] ami-fairfly commented on #47725
@RyPeck Looks much better, thanks!

[2017-08-24 10:22] akgunjal commented on #50521
@jingxu97 @jsafrane : As we are not able to reproduce the issue and there is no update to this ticket yet about the cause of such an issue we have done a handling in our delete flow in the dynamic provisioner.

In delete call:
1. We check the claim ID from PV object and verify if the PVC exists.
2. If we get any error in fetching the PVC object then we do not delete the PV object.
3. We also fetch

[2017-08-24 10:22] rhatdan commented on #48937
* Configuration changes are ok, but the --system flag to systemd cannot be used because the documentation says its not useful. I want to use systemd as intended.

We can ask the systemd guys why they recommend never using the --system flag, but I would guess one of the reasons is that processes showing up that were not created in the ancestry of systemd, could cause confusion.  I would also guess

[2017-08-24 10:50] tlbdk commented on #50845
Hi @qingling128, any update on this?

I think the error subject is a bit misleading as this issue is related to an error with deeply nested jsonPayload as we found out after the debugging, should we create a new issue?

Also after we started to sanitise our logs for the deep nesting we started to get another type of errors:

2017-08-23 06:10:21 +0000 [warn]: Dropping 102 log message(s) error_class

[2017-08-24 11:43] luxas commented on #51246
@kubernetes/sig-scheduling-bugs

[2017-08-24 11:50] m1093782566 opened #51265 "e2e network util wrong output message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

See https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/networking_utils.go#L217

and

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/networking_utils.go#L273

I assume it should be `minTries` -> `MaxTries`

This PR fixes the wrong output message.

**What you expected to happe

[2017-08-24 11:50] m1093782566 commented on #51265
/sig network

[2017-08-24 11:50] m1093782566 commented on #51265
/assign @m1093782566

[2017-08-24 12:02] hzxuzhonghu commented on #47518
internal ingress will work , deploy an internal ingress.

[2017-08-24 12:03] resouer commented on #51246
Thanks @luxas for notification, a quick fix is submitted.

[2017-08-24 12:10] igorpeshansky commented on #50845
@tlbdk The fact that deep nesting produces an internal error is a bug in the underlying transport layer that's being investigated independently. Such entries should have been rejected as invalid.
As for the individual entries being too large, we've been discussing this for some time now, and there's no good automatic way to make those entries valid — truncation isn't safe in general. Such entries

[2017-08-24 12:16] deads2k commented on #51013
Is this on head or on a prior level?

[2017-08-24 12:27] shyamjvs commented on #50760
I'll send a fix for this and revert https://github.com/kubernetes/test-infra/pull/4164 (as we shouldn't disable log-dump just because it's failing).

[2017-08-24 12:37] jeuniii commented on #41641
Does anyone know when version 1.5.4 OR 1.6 will be available using Redhat package downloads (in RPM form) ? I only see version 1.5.2 being the latest there. I have the same problem that is being discussed in this thread and want to upgrade so that my K8S cluster can support Deployments.

[2017-08-24 12:40] ankon commented on #34240
https://kubernetes.io/docs/api-reference/v1.5/#configmapkeyselector-v1 has no 'optional' field, but https://kubernetes.io/docs/api-reference/v1.6/#configmapkeyselector-v1-core does have it. I guess this means this is "solved" in 1.6?

[2017-08-24 12:45] idouba commented on #51076
@deads2k  Yes, HTTPProber can specify HTTPS schema, but disable security check by this:
 `func New() HTTPProber {
	tlsConfig := &tls.Config{InsecureSkipVerify: true}
	...
	return httpProber{transport}
}`

[2017-08-24 12:51] dims commented on #51076
@idouba `InsecureSkipVerify` seems ok for a health check. can you please explain what you mean a bit more?

[2017-08-24 12:55] fisherxu commented on #51076
@deads2k  @idouba   @dims Thanks very much for reploy.

Our kube-apiserver securePort will  verify the client's certificate. InsecureSkipVerify ok for a health check？

[2017-08-24 13:03] mikecico commented on #43874
Use case: Need to make a BCI jar and proxy agent available to containers via sidecar and shared volume, without modifying the target service containers.

[2017-08-24 13:11] dims commented on #51076
@fisherxu i don't believe `/healthz` needs the client cert. Can you please try and see if it works? yes on the client side `InsecureSkipVerify` should be enough

[2017-08-24 13:25] jiaxuanzhou opened #51268 "ImageGC: capability to switch off the function of ImageGC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The kubelet will GC the images on the node to free space when the used space reaching the percent ot the high-threhold(90% as default), but when the containers are not just managed by kubernetes(such as managed by swarm together) and not wished to be GCed by kubelet, I found we can not close the GC function by the flag of image-gc-h

[2017-08-24 13:26] jiaxuanzhou commented on #51268
/kind feature

[2017-08-24 13:26] jiaxuanzhou commented on #51268
/sig kubelet

[2017-08-24 13:29] ncdc commented on #51013
Looks like head. I'm going to take a stab at guessing what happened:

1. controller-manager was starting all the individual controllers
1. each controller's init function starts it in a goroutine
1. after all the controller goroutines have started, we start the shared informer factory
1. the shared informer event handler delivered a DaemonSet event [here](https://github.com/kubernetes/kubernetes/b

[2017-08-24 13:32] mnaser commented on #50461
@j-griffith

If you try to setup a devstack environment without specifying bs-version in the cloud configuration, you'll notice errors in version detection.

[2017-08-24 13:33] jiaxuanzhou commented on #51268
/sig node

[2017-08-24 13:33] dixudx opened #51269 "Why "pull-kubernetes-e2e-gce-etcd3" reports SUCCESS even with multiple test failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig testing
/priority failing-test
/kind bug

**What happened**:
Noticed that [fpull-kubernetes-e2e-gce-etcd3](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-etcd3) reports SUCCESS for some PRs with failing testcases.

* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51

[2017-08-24 13:34] ncdc commented on #51013
Also if it wasn't clear in my comment above, I don't think this has anything to do with failover/leader election. It may be possible that failover makes this more likely to happen, but I believe that's correlation, not causation.

[2017-08-24 13:35] fisherxu commented on #51076
@dims I try _curl -k https://masterip:6443/healthz_  and it return **Unauthorized**. Maybe we can make probe support the certificate？

[2017-08-24 13:36] ncdc commented on #51013
@janetkuo do you have stack traces from the other controllers you mentioned? I looked e.g. at disrutpion and it doesn't appear to have this exact same code structure/order. I don't know that we can lump all of them together as the same underlying root cause at this point.

[2017-08-24 13:38] timothysc commented on #51013
Does failover exacerbate this behavior or do we see this 1/(X) times on KCM startup?

[2017-08-24 13:39] deads2k commented on #51076
Can you show the complete `-v` output from curl?  It can return 403's until the bootstrap roles and bindings are created, but we bind `system:discovery` to `system:unauthenticated`.  If you're using a webhook or some other authorization scheme, you'll want to do the same.  `/healthz` doesn't reveal sensitive data; the reasons are redacted.

[2017-08-24 13:48] fisherxu commented on #51076
root@SZV1000272344:~# curl -k -v  https://masterip:6443/healthz
*   Trying masterip...
* Connected to masterip(masterip) port 6443 (#0)
* found 173 certificates in /etc/ssl/certs/ca-certificates.crt
* found 694 certificates in /etc/ssl/certs
* ALPN, offering http/1.1
* SSL connection using TLS1.2 / ECDHE_RSA_AES_128_GCM_SHA256
* 	 server certificate verification SKIPPED
* 	 server certificate stat

[2017-08-24 14:15] jinzhejz commented on #51175
I think we can add an new usage template like `MainUsageTemplate()` in `pkg/kubectl/cmd/templates/templates.go` without `SectionFlags`, and use the new template to show command usage when run `kubectl create` simply

[2017-08-24 14:18] mattmoyer opened #51270 "pull-kubernetes-unit: k8s.io/kubernetes/pkg/api TestRoundTripTypes is flaking"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind flake

**What happened**:
The [`TestRoundTripTypes` test in `pkg/api/serialization_test.go`](https://github.com/kubernetes/kubernetes/blob/73a6ee1dcc20ece22b1bbcdd00d3147984ba70bb/pkg/api/serialization_test.go#L204-L216) is flaking. It flaked before in https://github.com/kubernetes/kubernetes/issues/42651.

Output from a recent failure ([pull-kub

[2017-08-24 14:19] mattmoyer commented on #51270
cc @kubernetes/sig-auth-bugs

[2017-08-24 14:36] deads2k commented on #51076
It appears that you have anonymous authentication disabled.  Anonymous auth is on by default in installations now and would allow this to succeed in our recommended installation.

[2017-08-24 14:43] pingles opened #51271 "Service controller trying to remove all subnets for AWS LoadBalancer"
/kind bug

**What happened**:
We've had a LoadBalancer service defined for a while that sits in front of a set of pods running the nginx ingress controller. I've noticed that for a while we've got events recording it trying to create a load-balancer (when one already exists) and failing as it attempts to "detach all subnets".

The service was created around a month ago, no changes have been made r

[2017-08-24 14:48] dims commented on #51076
@deads2k you mean `AlwaysAllow` in the `--authorization-mode` command line flag right? or was it the `--anonymous-auth` command line option?

[2017-08-24 14:48] pingles commented on #51271
@kubernetes/sig-aws-bugs

I think is the appropriate sig :)

[2017-08-24 14:55] k82cn commented on #51175
/cc @adohe , for more suggestion.

[2017-08-24 15:00] xianyuxmu commented on #23535
@milla  I got the same error as yours. I tried to delete all the service related to `kubernetes dashboad`, and restart the `kubernetes dashboad`, then it work well.

[2017-08-24 15:02] jdumars commented on #51123
@wongma7 well, let's see if we can get the kinks worked out before the beta release on 9/27 or we will need to disable it from release-blocking

[2017-08-24 15:02] dims commented on #51269
See `FLAKE_ATTEMPTS`, if we fail a test we try again

https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=FLAKE_ATTEMPTS&type=

More info, look for `--flakeAttempts` in http://onsi.github.io/ginkgo/

[2017-08-24 15:09] nikhita commented on #51270
dupe of https://github.com/kubernetes/kubernetes/issues/51260.
fix is in progress here: https://github.com/kubernetes/kubernetes/pull/51258.

[2017-08-24 15:09] cqxiaomi commented on #37922
ftp://ftp.pbone.net/mirror/ftp.centos.org/7.3.1611/cloud/x86_64/openstack-kilo/common/sysbench-0.4.12-12.el7.x86_64.rpm
ftp://195.220.108.108/linux/remi/enterprise/6/test/x86_64/compat-mysql55-5.5.55-1.el6.remi.x86_64.rpm

rpm -ivh compat-mysql55-5.5.55-1.el6.remi.x86_64.rpm
rpm -ivh sysbench-0.4.12-12.el7.x86_64.rpm

https://www.rpmfind.net/linux/rpm2html/search.php?query=libmysqlclient.so.18()(6

[2017-08-24 15:12] #51270 closed

[2017-08-24 15:14] jsafrane opened #51273 "HostPath volume should not call nsenter directly"
https://github.com/kubernetes/kubernetes/pull/46597 brought us HostPath volume plugin that scans the host filesystem using direct calls or wrapped with nsenter when kubelet runs in a container.

IMO, volume plugins should not care much if they run in a container or not, access to files / directories should be handler either by `VolumeHost` or `mount.Interface`. Especially `mount.Interface` has an

[2017-08-24 15:24] ncdc commented on #51013
I don't believe my theory above is correct, given that it's the _last_ part of the function chain that is run in a separate goroutine; i.e., `NewDaemonSetsController()` runs in the calling goroutine, and its `Run()` method is in a different one.

Looking at the stack trace above more carefully, the event was delivered via a goroutine created at
[code]
which is from `func (p *sharedProcessor) addAn

[2017-08-24 15:25] ncdc commented on #51013
Oh it's also started by the GC controller

[2017-08-24 15:29] deads2k commented on #51076
` --anonymous-auth`.  I'd recommend using RBAC as the authorization mode to anyone trying to build out a cluster.

[2017-08-24 15:33] jdumars commented on #50752
@brendandburns  @karataliu @kyliel https://www.youtube.com/watch?v=XwhxuGoK0Ok&feature=youtu.be

[2017-08-24 15:36] ncdc commented on #51013
My current theory is this is from the GarbageCollector controller, as it is coded to start a shared informer for resource X as soon as it sees X from discovery. If the GC controller starts up first, and thus starts up the DaemonSet shared informer, by the time the DS controller is constructed, there may be DSes in that shared informer's cache, which get delivered "immediately" as soon as the DS co

[2017-08-24 15:45] ironcladlou commented on #51013
Spoke with @ncdc about this on slack, and my current proposal is to make the SharedInformerFactory auto-start newly requested informers if Start has already been called. This gives the factory owner more control over the lifecycle of the informers shared by controllers, removing the need for the GC (or other) controllers to try and manage the factory lifecycle.

[2017-08-24 15:47] lindsaylandry opened #51275 "kubelet is ignoring flags set (--runtime-request-timeout and --volume-stats-agg-period)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
It seems that kubelet is ignoring flags that I have set.

I have set kubelet flags `--runtime-request-timeout=10h` and `volume-stats-agg-period=10h`. Defaults are `--runtime-request-timeout=2m` and `volume-stats-agg-period=1m`
**What you expected to happen**:
I expect `du -s` to be running every 10h and not getting killed

[2017-08-24 15:49] lindsaylandry commented on #51275
/sig cli

[2017-08-24 15:50] SEJeff opened #51276 "Consider adding --env-from-secret or support for setting env vars in kubectl run via secrets"
/kind feature

**What happened**:
There is no current way to run a job via `kubectl run` that allows setting the values of environment variables via secrets.

**What you expected to happen**:
Allow `kubectl run` to have a synax for `--env` or `--env-from-secret="DATABASE_PASSWORD=secret-name-here.secret-key`

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else

[2017-08-24 15:50] SEJeff commented on #51276
/sig cli

[2017-08-24 15:56] dims commented on #50461
yep, i can confirm @mnaser 's observation

[2017-08-24 16:07] lindsaylandry commented on #51275
Correction: 2m is the default timeout, not 2s

[2017-08-24 16:17] zjj2wry commented on #29307
/assign

[2017-08-24 16:20] ncdc commented on #51013
@ironcladlou that does still mean that if you add an event handler to an unstarted shared informer when the factory has already been started, you must be ready to handle add/update/delete events as soon as the AddEventHandler call finishes, just to be clear.

[2017-08-24 16:20] everett-toews commented on #30558
@bgrant0607 Just to clarify, you're not suggesting that's the solution to this issue right?

Sure it works (and we use it because we have to) but that's a rather ugly and very unintuitive UX. As a workaround for the time being it's okay but it could be much better.

[2017-08-24 16:24] tlbdk commented on #50845
@igorpeshansky It would be nice with some sanitation options for the depth until it was solved if fixing the underlying transport is a larger project.

In our logging framework we have started doing this by converting the message to textPayload and prepending "Depth limited "

As for the too large issue, I still think the current implementation is the absolutely worst outcome: throw away a random

[2017-08-24 16:34] zjj2wry commented on #39200
/assign

[2017-08-24 16:35] pipejakob commented on #50760
With https://github.com/kubernetes/test-infra/pull/4164 merged, our kubeadm e2e tests went back to green. Our 1.7 tests are still green, but now the master tests have gone back to failing for a new problem in `BeforeSuite`.

Since log dumping was never supported for these e2e jobs, and was only turned on accidentally, I think keeping it disabled is a fine fix for now. @shyamjvs if you want to work

[2017-08-24 16:35] pipejakob commented on #50760
/close

[2017-08-24 16:35] #50760 closed

[2017-08-24 16:38] richm opened #51278 "daemonset status.numberReady does not correspond to actual daemonset pod state"
/kind bug

**What happened**:
Using a daemonset pod.  The pod is not running because the node is not labeled as per the node selector.  Label the node.  Query the daemonset information.  status.numberReady is reported as 1, but it may take many seconds for the pod to be in the Running state.  Same with shutdown.  Unlabel the node.  Query the daemonset information.  status.numberReady is reported a

[2017-08-24 16:44] shyamjvs commented on #50760
I'm not sure if you should close this issue in favour of the other (which you filed in the kubeadm repo).
Technically this is an issue in test-infra (or more loosely k8s repo). But I wouldn't push hard.

IIUC log-dumping was always turned on for these e2e jobs (it was just failing in a way that went unnoticed unitl recently). So I don't think this is a fix The real problem still remains. :)

[2017-08-24 16:47] shyamjvs commented on #50760
That said, I've discovered the exact problem and explained it in https://github.com/kubernetes/kubernetes/issues/50760#issuecomment-324618175.
I can fix it, but I'm having some more pressing issues on my plate currently - so this has to wait.

[2017-08-24 16:49] jingxu97 commented on #47046
I see the fix for btrfs is merged. Could we close this issue?

[2017-08-24 16:50] richm commented on #51278
@kubernetes/sig-node-bugs

[2017-08-24 17:03] j-griffith commented on #50461
@mnaser I just deployed current devstack and in my cloud_config.conf I omitted the BlockStorage section altogether.  Building/Launching with local-up-cluster.sh all services deployed, the openstack provider fell back to the default auto flag and was succesfully able to create pods and attach cinder volumes.  I did note that omitting the auth url version in the conf does introduce a problem which I

[2017-08-24 17:05] j-griffith commented on #50461
@dims hmm.. I missed your post; ok.. I'm obviously missing a key to this somewhere

[2017-08-24 17:13] jingxu97 commented on #51018
@killy001 Could you please provide more details about the issue?
What version of kubernetes you are using? More logs around the "invalid memory address or nil" error? Thanks!

cc @dashpole

[2017-08-24 17:18] ironcladlou commented on #51013
@ncdc

Given SharedInformer doesn't expose any way to safely determine whether the informer is "started",  and ResourceEventHandler doesn't expose any way to mark a handler "ready", I'm not sure consumers have any choice but to assume their event handlers could be called at any point after adding. Does that seem true?

[2017-08-24 17:20] ncdc commented on #51013
Yes. I am going to update the godoc to make sure that's clear.

[2017-08-24 17:21] verult opened #51280 "Move disk-related operations out of gce.go"
The main GCE cloud provider code (pkg/cloudprovider/providers/gce/gce.go) should not contain disk-related operations. Move them to gce_disks.go

/cc @bowei
/assign

[2017-08-24 17:21] verult commented on #51280
/sig storage

[2017-08-24 17:42] freehan opened #51284 "revendor gce compute api go client"
https://github.com/kubernetes/kubernetes/tree/master/vendor/google.golang.org/api/compute

[2017-08-24 17:49] dims commented on #51076
@deads2k thanks. checking since i saw `AUTHORIZATION_MODE="RBAC,AlwaysAllow"` in test-cmd.sh

[2017-08-24 17:55] MrHohn commented on #51014
FWIW, sent https://github.com/kubernetes/kubernetes.github.io/pull/5190 to include couple known issues in the `externalTrafficPolicy` documentation.

[2017-08-24 18:08] gnufied commented on #51190
If you are using nfs external provisioner, then it may be possible that your external provisioner is misconfigured. Any such issue should be opened in that project's repository, not here.

[2017-08-24 18:08] gnufied commented on #51190
/close

[2017-08-24 18:08] #51190 closed

[2017-08-24 18:12] 2rs2ts commented on #47264
The beta annotations do not work for us. We've even tried to delete our daemonset and and only use the beta annotations but changes don't get noticed.

[2017-08-24 18:17] #47452 closed

[2017-08-24 18:17] #50641 closed

[2017-08-24 18:19] danehans commented on #31307
@bboreham I part of a team adding IPv6 support to Kubernetes. I originally submitted PR https://github.com/kubernetes/kubernetes/pull/46292 to update kubelet hostports for IPv6 before discovering the CNI portmapper plugin. I am getting lost trying to filter through the conversation to understand what PR/Issue is specific to refactoring kubelet hostports to use cni/portmapper. Does a specific Issue

[2017-08-24 18:20] wongma7 commented on #51123
/assign
/reopen

[2017-08-24 18:24] wongma7 commented on #51123
# non-attachable:

I0824 17:49:28.426001    8562 reconciler.go:212] operationExecutor.VerifyControllerAttachedVolume started for volume "flex-volume-0" (UniqueName: "flexvolume-k8s/dummy-e2e-tests-flexvolume-wf48v/934e3eba-88f4-11e7-a3f9-42010a800002-flex-volume-0") pod "flex-client" (UID: "934e3eba-88f4-11e7-a3f9-42010a800002")

# attachable:

## controller-manager.log:
I0824 17:44:06.955342

[2017-08-24 18:32] justinsb commented on #51232
What is the use case for this?  For regional volumes, I was expecting we would set the region but not the zone label on the PV.  Are there clouds where volumes are in a subset of zones in a region?

[2017-08-24 18:33] gkop commented on #14512
We're using a very vanilla setup on GKE with the default rolling deployments. It's surprising that there's apparently not a simple and conventional way to get a hook when the rolling deploy completes. Would anybody be so kind to share a workaround for this? <3

[2017-08-24 18:38] jingxu97 commented on #50521
@akgunjal Are you plan to add these checking code in pv_controller directly or some other way?

[2017-08-24 18:44] yguo0905 commented on #40182
Yes, I will let @freehan and @bowei to confirm.

[2017-08-24 18:48] dims commented on #40182
Could we detect the situation in kubelet and log a warning (to set `iptables -P FORWARD ACCEPT`)?

[2017-08-24 18:49] nicksardo opened #51286 "Deployment controller panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Deployment controller hit a panic near kube-controller-manager start.

[code]

**Environment**:
Server Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.3.100+c86686f6df9aa9", GitCommit:"c86686f6df9aa982a1f2c05b91cb35a2ea016fe4", GitTreeState:"clean", BuildDate:"2017-08-24T16:59:29Z", GoVersion:"go1.8.3

[2017-08-24 18:50] yguo0905 commented on #42926
Yes, both 1.13.x and 17.03.x will be supported in k8s 1.8.

Will take a look at https://github.com/kubernetes/kubernetes/issues/32536. But at the meantime, https://github.com/kubernetes/kubernetes/pull/51158 will enable overlay2 for node e2e tests.

[2017-08-24 18:54] igorpeshansky commented on #50845
The solution you're describing is perfectly sensible as a user-defined policy, but would be terrible as default agent behavior, since not everyone is willing to live with such a lossy approach. It's possible to implement effectively the same policy by configuring the logging agent, but not on GKE, where that configuration is not accessible.
Finally, 500 errors are already retried. Most 400 errors

[2017-08-24 19:01] Random-Liu opened #51288 "CRI: Sandbox seccomp and apparmor"
Currently, there is seccomp profile field in sandbox security context, but no apparmor field in it.

* If this is intended, what is the sandbox seccomp profile used for? Should we pass the seccomp profile to sandbox container in dockershim https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/security_context.go#L39;
* If this is not, we should fix it.

@yujuhong @feiskyer @m

[2017-08-24 19:06] msau42 commented on #50983
Can you run "kubectl describe pvc" on the pending pvcs to see why provisioning failed?

[2017-08-24 19:09] maxkondr commented on #47518
@hzxuzhonghu what do you mean by "internal ingress" ?

[2017-08-24 19:30] smarterclayton commented on #50808
A couple of thoughts.

Because this is so important, and we can't really undo it, and we will be breaking existing users, even if we say it's a new api version, because it's basically changing the existing objects, we should at least lay out all the arguments for and against together in one spot (this issue is fine) and we should be sure we are completely comfortable with the ramifications.

1. It

[2017-08-24 19:33] smarterclayton commented on #50808
One more

7. Silently dropping mutations worries me a lot, because that means people who depended on this behavior (2) are now silently broken, which doesn't seem excusable.

[2017-08-24 19:42] tlbdk commented on #50845
I agree that loosing logs is not acceptable behavior, but this is what is happening right now, even unrelated logs get lost with the current setup. So truncating in my world is way less terrible. Alternatively could be to split the log message in multiple parts, get stackdriver to up the limit, leave the message on the node, etc. Anything is better than just dropping a bunch of unrelated logs mess

[2017-08-24 19:50] euank commented on #40182
@dims I don't think we can properly detect the situation.
There's no general way to look at a CNI plugin and know that it supports doing the right thing.

I also would strongly prefer not recommending that users set `ACCEPT` so broadly since it has security implications.

[2017-08-24 20:05] dims commented on #40182
@euank Ack. Sounds fair.

[2017-08-24 20:05] bgrant0607 commented on #50808
Another approach, which we've used with other features, is that we could make arbitrary mutation optional, enabled by default in the old API version and disabled by default in the new one.

Spreading updates across multiple updates is not a precedent I want to set for the API.

[2017-08-24 20:05] DirectXMan12 commented on #45581
I think this is resolved.

[2017-08-24 20:05] xiang90 commented on #45974
@mml  @jpbetz

@hongchaodeng and me will be happy to review the code. ping us when the tool is ready for a review. thank you!

[2017-08-24 20:16] #45581 closed

[2017-08-24 20:17] JensErat commented on #40182
Are there already known issues with Docker 17.06, or have there just been no efforts verifying it yet?

[2017-08-24 20:21] liggitt commented on #50808
Requiring delete-then-recreate in order to change labels on the produced child objects can be *really* disruptive:
* you lose all the benefits of update strategies and have to manage updating without an outage yourself
* you have to choose whether to lose or orphan anything referencing the specific instance via ownerrefs

agree, that only slightly helps accidental cases, and encourages anti-patter

[2017-08-24 20:28] bgrant0607 commented on #50808
I'm going to partially take back something I just wrote:

My main concern with mutability is that we don't make it easy to accidentally orphan pods. We already have validation that the selector actually matches the pod template, so orphaning can occur when pod template labels and the selector are changed at the same time. We could validate that the new selector matches the old pod template labels

[2017-08-24 20:38] mikebrow commented on #51288
Good questions. Could use some guidance for the expectations placed on CRI implementors for pods and containers for seccomp and apparmor.

[2017-08-24 20:41] jhvhs commented on #17626
This still seems to be an issue with kubernetes 1.7.4. Whenever we delete a service with a dynamically provisioned ELB, the following messages get repeated in `kubernetes-controller-manager` logs for 10 minutes:

[code]

The security group in the log message above, `sg-fe15988e`, is not removed from the rules in the security group attached to the VM running the kubelet. An ELB for any other servic

[2017-08-24 20:43] luxas commented on #40182
@JensErat Validating 17.03 is in progress and targeted for v1.8 https://github.com/kubernetes/kubernetes/issues/42926
Which to me implicitely means no validation of 17.06 yet

However, if that's something you'd like to see, sync with the node team and help out :smile:

[2017-08-24 20:51] lavalamp commented on #51120
@xiangpengzhao @tengqm: SIG API Machinery doesn't own the *contents* of the API.

/sig storage

[2017-08-24 20:54] bgrant0607 commented on #50808
I'm not fond of the idea of gating spec changes on status, though. This violates my "K8s APIs don't go out to lunch" principle.

[2017-08-24 20:55] caesarxuchao commented on #51241
/sig node

[2017-08-24 20:56] #49569 closed

[2017-08-24 20:57] lavalamp commented on #51256
Can you clarify "wrong"?

[2017-08-24 20:59] xiang90 commented on #50808
How would this along help with adding `!key` case? We can ensure the new selector will still match old/new pod template, but the existing pods still have the old labels attached. We also need to update the labels on existing pods?

[2017-08-24 21:04] janetkuo commented on #51013
I just hit this again on HEAD (https://github.com/kubernetes/kubernetes/commit/05e7f6d0737be8161469c9f78660e25122ed838b). I also included https://github.com/kubernetes/kubernetes/pull/51054 so that local cluster works, but I don't think that PR is related to this issue.

It's not always reproducible. What I did was:

1. Start a local cluster (hack/local-up-cluster.sh)
1. Create a controller immedi

[2017-08-24 21:10] j0hnsmith commented on #45426
@thockin I've been having exactly the same problem and have confirmed that requests can reach the node yet they don't get routed as expected.

I don't understand why this has been closed, the docs are unambiguous and the bug report is detailed. Suggesting alternative configuration doesn't resolve the conflict between what the docs say and the observed behaviour.

[2017-08-24 21:25] fiunchinho opened #51290 "Use Initializer only in specific namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
There is no way to add [kubernetes initializers](https://kubernetes.io/docs/admin/extensible-admission-controllers/#initializers) to specific namespaces.

**What you expected to happen**:
When running a multi-tenant cluster, it'd be useful to apply some policies in just certain namespaces. It'd be interesting to do bo

[2017-08-24 21:28] fiunchinho commented on #51290
/sig api-machinery

[2017-08-24 21:29] ncdc commented on #51013
That looks like the same underlying root cause - the node controller is adding event handlers that operate on `nc.taintManager` **before** setting `nc.taintManager`. I will try to get a fix out for this tomorrow.

[2017-08-24 21:29] igorpeshansky commented on #50845
As I said above, we are already working on a solution that would not lose unrelated log entries. Also, as said above, the 500 returned for a deeply nested entry structure is a bug in the underlying infrastructure -- once that's fixed, the agent will do the right thing.

[2017-08-24 21:32] yastij commented on #51286
Related to #51013 I think

[2017-08-24 21:34] danehans opened #51291 "Revendor CNI"
/kind feature

**What happened**:
CNI [0.6.0](https://github.com/containernetworking/cni/releases/tag/v0.6.0) dropped and k8s needs updatingt. CNI 0.6.0 is needed to support IPv6 pods in k8s.

**What you expected to happen**:
Revendor CNI and pass tests.

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to know?**:
/area ipv6
/sig network

**Environmen

[2017-08-24 21:34] MrHohn opened #51292 "[GCE kube-up] Remove kube-proxy static pods config"
Ref: https://github.com/kubernetes/kubernetes/pull/51227#discussion_r135125827

We should remove kube-proxy static pods configuration in GCE startup scripts in v1.9 and make kube-proxy as DaemonSet the only way to deploy kube-proxy.

/assign
/sig network
/sig cluster-lifecycle
cc @mikedanese

[2017-08-24 21:37] alena1108 opened #51293 "Sandbox image lookup uses creds from docker config only; other credential providers are ignored"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

We have a private registry configured (where all images including the sandbox one), are hosted. The registry credentials are being pulled by one of k8s credentials providers ([rancher](https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/rancher/rancher_registry_credentials.go))

 With Kubernetes

[2017-08-24 21:39] Random-Liu commented on #32803
@yujuhong @feiskyer For remote runtime integration, we know nothing about the runtime now.

For cri-containerd and cri-o, the biggest challenge is that the underlying runc may have different capabilities based on the build tags:
https://github.com/opencontainers/runc/blob/c5e4c3152dcec4456a6b4f6c1dcc69f3b91eb362/README.md#build-tags

Thus one runc binary may support apparmor, another may not. And

[2017-08-24 21:45] enisoc commented on #50808
In case it affects any opinions on this discussion, I think there is a way to get a real validation error (instead of silently dropping the update) and have it only affect the new `apps/v1beta2`:

https://github.com/kubernetes/kubernetes/pull/50719#issuecomment-324765392

[2017-08-24 21:47] yguo0905 commented on #40182
Which to me implicitely means no validation of 17.06 yet

Yeah, no plan for 17.06 validation in 1.8.

[2017-08-24 21:49] mikebrow commented on #32803
Yes and further some implementations may include command line switches that disable features that are otherwise available with the runc being used.

Should security features be a requirement and if so should those requirements be specified by type of security (some aggregation spec) and then implemented by the platform or by implementation dependent options (seccomp, selinux, apparmor, ...) when t

[2017-08-24 21:49] Calpicow commented on #50878
Issue does not happen with kubelet v1.5.3

[2017-08-24 21:57] smarterclayton commented on #50808
Yes, we would have to initialize the rest storage for the resource differently for apps/v1beta1 and apps/v1beta2.

[2017-08-24 22:01] janetkuo commented on #51286
Yes, this is #51013

[2017-08-24 22:01] #51286 closed

[2017-08-24 22:04] janetkuo commented on #51013
Another example: #51286

[2017-08-24 22:08] ahmetb commented on #51290
@caesarxuchao @smarterclayton I think this is a sane feature request.

Instead of building the namespace choosing logic inside the controller (and thus probably hardcoding it), maybe we can have a `namespaceSelector` in the InitializerConfiguration?

Has this been discussed before? I looked at the proposal at https://github.com/kubernetes/community/blob/master/contributors/design-proposals/admissi

[2017-08-24 22:19] liyinan926 commented on #51290
/cc

[2017-08-24 22:28] danehans commented on #51291
Closed for duplicate https://github.com/kubernetes/kubernetes/issues/49480

[2017-08-24 22:28] #51291 closed

[2017-08-24 22:40] danehans commented on #49480
/area ipv6

[2017-08-24 22:45] wongma7 commented on #51123
Never mind the GCI vs Debian issue, our test fix would have worked but in between https://github.com/kubernetes/kubernetes/commit/6bb928a3dff60c and https://github.com/kubernetes/kubernetes/commit/2b08d1e5a18ce3, something else changed and is causing both GCI and Debian tests to fail.

[2017-08-24 22:45] kow3ns commented on #50808
I think what @enisoc is saying that we should return an error from `ValidateUpdate` instead of  `PrepareForUpdate` based on the Context.

[2017-08-24 22:48] danehans commented on #49480
@feiskyer I am part of a team adding IPv6 support to k8s. CNI 0.6.0 is needed for assigning IPv6 addresses to pods. Several users are interested in k8s IPv6 support. It would be very helpful to get the cni bump into 1.8. However, I respect your decision if you choose to wait until 1.9.

[2017-08-24 22:50] wongma7 commented on #51123
https://github.com/kubernetes/kubernetes/pull/50843 might be the cause, so we might be looking at legitimate failures caught by the test at this point (yay?) and not faulty tests. investigating...

[2017-08-24 22:52] feiskyer commented on #32803
@Random-Liu @mikebrow @yujuhong @mrunalp What do you think of adding a new API for this? e.g. ask runtime to return a list of supported capabilites:

[code]

[2017-08-24 22:54] feiskyer commented on #49480
@danehans Is IPv6 feature a blocker of 1.8?

/cc @kubernetes/sig-network-misc

[2017-08-24 22:58] bgrant0607 commented on #50808
@xiang90 I have advocated usage of the `!newkey` pattern when no pre-existing pods were labeled with `newkey`.  This is needed when adding another Deployment that shares all of the same labels as an existing one, but with one or more new, additional labels, such as when adding a canary Deployment. I'm not sure what the use case would be for removing a label from the pod template and adding `!key`

[2017-08-24 22:58] smarterclayton commented on #50808
Yes, we would be able to do that differently based on API version by having a storage that varies based on API version, which is the only way to vary validation today.

[2017-08-24 23:05] xiang90 commented on #50808
@bgrant0607 thanks. now i understand the use case better.

[2017-08-24 23:06] feiskyer commented on #51288
Yep, this is intended. Kubernetes API exposes pod seccomp profiles, but there is only container apparmor. (see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/annotation_key_constants.go#L42) and [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/security/apparmor/helpers.go#L57)).

[2017-08-24 23:07] janetkuo commented on #51049
Doing so will make all these controllers NOT WORK if apps/v1beta2 isn't enabled (it's enabled by default). @bgrant0607

[2017-08-24 23:17] mrunalp commented on #32803
@feiskyer I like that idea.

[2017-08-24 23:26] bgrant0607 commented on #51049
Another issue is that moving these controllers to apps/v1beta2 will cause problems in updates to HA clusters in the case that not all masters are updated simultaneously.

Definitely do NOT change the default storage version nor preferred apiversion in the same release that the apiversion is introduced, which would break master rollbacks and the previous release of kubectl, which needs to work acco

[2017-08-24 23:32] mikebrow commented on #32803
Yes, that's the sort of thing being discussed. Then there may be a need provide other hints as well.. for example are certain capabilities within each also supported. For example, some defaults may not be specified on the platform / environment. As another example, there may be a minimum version number for the capability that is necessary for the container.

[2017-08-24 23:42] bgrant0607 commented on #23233
Example of a node-level add-on rollout: https://github.com/kubernetes/kubernetes/pull/50705

[2017-08-24 23:47] janetkuo commented on #51049
FYI we aren't changing default storage version or preferred apiversion.

So in order to support HA cluster, this issue needs to target 1.9 instead.

@kubernetes/sig-apps-feature-requests

[2017-08-24 23:52] mikebrow commented on #32803
Or.. we make the demand that to be a CRI implementation, of a certain type, you must implement specified set of features. That might be easier?

[2017-08-24 23:59] dixudx commented on #51273
/assign

[2017-08-25 00:01] dixudx commented on #51273
@jsafrane As we discussed, I would cover this part.

[2017-08-25 00:07] caesarxuchao opened #51299 "Controllers should respect the initializers in the PodTemplateSpec"
This is to help administrator to bypass the initializers. For example, the admin can create a rs with:
[code]
The creation of replicaset bypasses the initializers, and ***when the replicaset creates pods, it will bypass the initilaizers as well.***
Currently this is not supported, because the template.metadata.initializers are [not respected](https://github.com/kubernetes/kubernetes/blob/master/pk

[2017-08-25 01:12] hzxuzhonghu commented on #47518
@maxkondr deploy an in cluster nginx-ingress or haproxy-ingress,  Service_A<->Service_B communication via this ingress LB. Also ingress can be a service, accessible by cluster domain.

[2017-08-25 01:18] wzdnzd commented on #51190
It can not work when i use hostPath or nfs but storageclass also.It has no relation with external provisioner.

[2017-08-25 01:25] FengyunPan commented on #50926
@wlan0 Ok, I will take care of the Rackspace and OpenStack.

[2017-08-25 01:47] zhangxiaoyu-zidif opened #51303 "[Flake test]pull-kubernetes-unit"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/sig testing
/priority failing-test
/kind bug

**What happened**:
pull-kubernetes-unit always failed.

ref: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51297/pull-kubernetes-unit/49166/

k8s.io/kubernetes/pkg/api TestRoundTripTypes 3.65s
e.g. log:
E0824 23:52:24.743235   12107 event.go:209] Unable to write event: 'A weird e

[2017-08-25 02:04] lichuqiang commented on #51259
/kind bug

[2017-08-25 02:05] #51260 closed

[2017-08-25 02:08] hzxuzhonghu opened #51304 "Errors returned by some validation functions in api/v1/validation may be wrong"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
func  validateContainerResourceName and validateResourceName return field.ErrorList{} at last may be wrong
**What you expected to happen**:
return correctly
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2017-08-25 02:36] feiskyer commented on #32803
this lgtm, or else it will be too complex.

@mikebrow any ideas on the initial capabilities list?

[2017-08-25 02:42] post707 commented on #51184
I've got the answer，from [this](https://github.com/kubernetes/kubernetes/pull/48457#issuecomment-324288319)

[2017-08-25 02:42] #51184 closed

[2017-08-25 02:44] hzxuzhonghu opened #51306 "StatefulSet validation should include pvc validation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
the validation of statefulset is not complete, it not include the StatefulSetSpec.VolumeClaimTemplates validation, VolumeClaimTemplates  is an array of PersistentVolumeClaim, it should be checked.
**What you expected to happen**:
PersistentVolumeClaim in statefulset should be validated
**How to reproduce it (as minimally and precise

[2017-08-25 02:57] hzxuzhonghu commented on #51306
/sig api-machinery

[2017-08-25 03:06] andrewsykim commented on #50986
/assign andrewsykim

As discussed in our meeting I'll be following up with sig-node to see if we can deprecate this as it's going against what we want for external cloud providers

[2017-08-25 03:07] mxmberlin commented on #51164
I created the secret and deployed it. I created another secret and deployed that as well. Still get the error with nginx.crt, not with the other secret.

[2017-08-25 03:21] mxmberlin commented on #51164
When I created a clone of the image that didn't kick off nginx at CMD, and attached to it running /bin/bash, the /etc/nginx/ssl/nginx.crt file was there and I could start nginx therein.

[2017-08-25 03:43] shenlanse opened #51313 "[scheduler] node may lose a few resources when pod delete event is lost"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Newly registered node, but scheduler thinks this node doesn't have enough resources when schedules pod.

But actually, this node have enough resource for this pod.

**What you expected to happen**:

Schedule pod to this newly registered node successfully when this node have enough resources actually.

**How to reproduce

[2017-08-25 03:44] xiangpengzhao commented on #51255
/sig network

[2017-08-25 03:45] shenlanse commented on #51313
/area controller-manager

/sig scheduling

[2017-08-25 04:05] copland commented on #47956
@wangycc @stijndehaes Out of curiosity, do you know what the storage settings are for the docker daemon running on those nodes?

[2017-08-25 04:17] liggitt commented on #51303
[code]

[2017-08-25 04:18] liggitt commented on #51303
there is a defaulter that needs a corresponding default in the fuzzer: https://github.com/kubernetes/kubernetes/pull/46597/files#r135180954

[2017-08-25 04:19] lichuqiang opened #51315 "DeploymentRollback: controller could't find origin revision in rs if it has been Rollbacked once"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The story is:
I created a deployment and edit it to have a update, then I made a rollback action to revision "1",
This moment the related RS has a revision of "3" and a history revison "1"

    _deployment.kubernetes.io/revision: "3"
    deployment.kubernetes.io/revision-history: "1"_
Then I repeated the update and rollb

[2017-08-25 04:22] liggitt commented on #51303
fixed in #51258

[2017-08-25 04:22] #51303 closed

[2017-08-25 04:31] kokhang commented on #49424
I am also getting the same error when i try to watch CRDs and filter on a specific field. Im a currently using the `client-go/tools/cache.NewListWatchFromClient` to watch for CRDs.

On a related note, i noticed that the `NewListWatchFromClient()` takes a `fieldSelector`. Is there a way to pass a label selector so that i can watch CRDs using labels?

[2017-08-25 04:34] smarterclayton commented on #51290
It was discussed in some out of band channels, but I'm not sure we'd implement it at the cluster scope (it's more likely we'd add NamespaceInitializers or something so that they are distinct objects).  It's a valid request, but would have to be considered for 1.9 (unlikely) or 1.10.

[2017-08-25 04:44] liggitt commented on #51299
hrmm... bypassing initializers is unexpected

[2017-08-25 04:45] smarterclayton commented on #51299
That would require the replication controller to have authority to initialize, which i doubt we'll grant, or the service account (in which case we'll have to impersonate).  What's the use case?

[2017-08-25 04:46] smarterclayton commented on #51299
I don't think of "bypassing initialization" as a common thing.  It's specifically for break glass sorts of scenarios, and if someone needs to break glass for an RS, maybe they shouldn't be using an RS for that use case.  I don't think we've isolated the correct tool for emergency initializer bypass yet, other than perhaps a namespace wide skip rule.

[2017-08-25 04:50] smarterclayton commented on #51299
For example, a controller that expects to apply initializers should perhaps have an exclusion in initializerconfiguration that targets a namespace + labels.  That would prevent it acting on itself.

[2017-08-25 04:51] #50528 closed

[2017-08-25 04:51] #49308 closed

[2017-08-25 04:56] lichuqiang commented on #51315
cc/ @kubernetes/sig-apps-misc

[2017-08-25 05:20] liggitt commented on #44703
copied relevant discussion from https://github.com/kubernetes/ingress/issues/816#issuecomment-309229262 since I keep wanting to reference that as part of this

@davidopp:

@liggitt:

[2017-08-25 05:27] liggitt commented on #3889
is this satisfied by the ImagePolicyWebhook admission plugin?

[2017-08-25 05:28] liggitt commented on #5028
standalone cadvisor can be disabled, and access via the kubelet is protected

[2017-08-25 05:28] #5028 closed

[2017-08-25 05:30] liggitt commented on #11816
kube-up, kops, kubeadm all use secured options for master -> node communication

[2017-08-25 05:30] #11816 closed

[2017-08-25 05:53] zjj2wry commented on #51275
@lindsaylandry maybe this is kubelet issue not cli? :)

[2017-08-25 05:59] #47372 closed

[2017-08-25 06:09] feiskyer commented on #41504
Related: #49762 is adding a fake remote runtime service.

[2017-08-25 06:18] liggitt commented on #40968
the `kubectl set ...` family of commands is oriented at setting a field of an API object. `kubectl config ...` is oriented toward kubeconfig manipulation

[2017-08-25 06:20] caesarxuchao commented on #51299
Yes, the use case is for emergency initializer bypass. Our doc says one can redeploy an intializer controller (usually as a deployment) by specifying `metadata.initializers.pending=[]`, but probably the deployment controller won't be able to create the pods.

Namespace wide skip rule or lable selector based skip rule is better, so I'm closing the issue.

For the time being, admin have to disable t

[2017-08-25 06:20] #51299 closed

[2017-08-25 06:35] smarterclayton commented on #40968
`kubectl config set-ns` seems more practical, in that 99% of the time the
only thing users are going to change about their current context is the
namespace.  I would expect that to be the #1 command invoked from within
config by far.

On Fri, Aug 25, 2017 at 2:18 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-08-25 06:41] wangycc commented on #39178
+1

[2017-08-25 07:03] jsafrane commented on #50521
@akgunjal, it should help to prevent this bug, but it would be nice to find the root cause.

[2017-08-25 07:08] miaoyq opened #51319 ""NoNewPrivs" is admitted only if the runtime is docker or rkt in kubelet"
I tried to add the `NoNewPrivs` support for `cri-containerd`, but the `test-e2e-node` always failed with the error print:
[code]

I checked the code of k8s, and found that "NoNewPrivs" is admitted only if the runtime is docker or rkt in kubelet. Related code is as follows:
https://github.com/kubernetes/kubernetes/blob/0cf928f6813741d9699786ee61ec014c90119e2c/pkg/kubelet/lifecycle/handlers.go#L190-

[2017-08-25 07:10] miaoyq commented on #51319
/sig node

[2017-08-25 07:11] mengqiy opened #51320 "kubectl apply should use openapi"
kubectl apply should use openapi to calculate diff.
This will mitigate version skew issue.

/kind feature
/sig cli

[2017-08-25 07:11] mengqiy commented on #51320
/assign

[2017-08-25 07:13] mengqiy commented on #51320
Moved to https://github.com/kubernetes/kubectl/issues/55.
Closing.

[2017-08-25 07:13] #51320 closed

[2017-08-25 07:39] jsafrane commented on #51273
thanks a lot!

[2017-08-25 07:55] yastij commented on #51013
Do we know if it's a regression or an undetected NPE ?

[2017-08-25 08:03] sttts commented on #45754
I believe it can.

[2017-08-25 08:03] sttts commented on #45754
We disabled golint in all those packages.

[2017-08-25 08:06] #18969 closed

[2017-08-25 08:10] #50951 closed

[2017-08-25 08:11] narasi opened #51322 "Pods sometimes get assigned the same IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I was using Kubernetes to setup a bunch of demo environments, and noticed that sometimes, it appeared as if the loadbalancer was treating the pod of another deployment as its own pod. After some debugging I found out that when the pods are brought up, they got assigned the same IP.

**What you expected to happen**:
Kubern

[2017-08-25 08:34] feiskyer commented on #50499
@hach-que @Random-Liu Changed a environment and didn't make to reproduce the log problem.

With provided manifests, the pod did fail in CrashLoopBackOff, but it is because `bash` not found in busybox image:

[code]

And in container status, there is indeed errors of reading container logs:

![image](https://user-images.githubusercontent.com/676637/29705991-df5e7450-89b2-11e7-8df6-ed8b06d618cf.png)

[2017-08-25 08:35] crassirostris commented on #50518
Whoops, duplicate of https://github.com/kubernetes/kubernetes/issues/50781

[2017-08-25 08:35] #50518 closed

[2017-08-25 08:37] clsung commented on #51164
Can you do the following command and paste the result?

`$ kubectl describe secret nginxsecret`

Take mine for example

`$ kubectl describe secret nginxconf`
[code]

[2017-08-25 08:39] narasi commented on #51322
/sig Network

[2017-08-25 08:58] sttts opened #51325 "hack/update-staging-godeps.sh fails with dirty repository"
In https://github.com/kubernetes/kubernetes/pull/51214:

https://gist.github.com/sttts/7b00449ba8f6630fe835cca1a4150e1d

[2017-08-25 08:59] sttts commented on #51325
@cblecker any idea?

[2017-08-25 09:12] zhashuyu opened #51326 "get wrong srv records from kube-dns"
**What happened**:
For some reason I need get srv records in kube-dns , below is what I got
[code]
host **devo-ui-37mmn** is one of my pod, the query string **devo-ui.dev.svc.cluster.local** is the service in kubernetes and **devo-ui-37mmn** is connect to the service.

I need get the srv records in **devo-ui.dev.svc.cluster.local** , but I got **3339386563373339.devo-ui.dev.svc.cluster.local**. Is

[2017-08-25 09:26] radeksimko opened #51328 "Allow filtering of TokenController-managed secrets"
As [documented](https://kubernetes.io/docs/admin/service-accounts-admin/#token-controller), the Token Controller is responsible for automatically creating secrets to allow API access. While this is often useful for the user it may confuse tools which allow users to manage K8S resources.

More specifically [Terraform K8S provider](https://github.com/terraform-providers/terraform-provider-kubernetes

[2017-08-25 09:49] mjaow opened #51329 "why need global mount in volume manager"
i find it's confused to add global mount to volume manager.The code says it mount device to global mount path then mount the volume to pod specific path.Does it really need global mount?Why not just mount device to pod specific path?I think it also works fine

[2017-08-25 09:52] mjaow commented on #51329
/sig storage
@saad-ali
@childsb

[2017-08-25 10:05] sttts commented on #51325
Looks like the reason was a subdir in my "${KUBE_ROOT}" which is a repo itself. That repo checkout was dirty. The outer git complained that the outer repo is dirty as well. wtf.

[2017-08-25 10:15] #51075 closed

[2017-08-25 10:16] #51073 closed

[2017-08-25 10:16] #51156 closed

[2017-08-25 10:29] #51325 closed

[2017-08-25 11:11] #49769 closed

[2017-08-25 11:15] deitch commented on #41881
Any updates here?

@rdsubhas I am using traefik in one use case (nginx in another), and I did something similar. Actually, since nginx uses go templates, I was able to make the transformation right in the template itself.

The problem I now have is trying to use letsencrypt, most plugins (like traefik's built-in acme support or kube-lego) pull the `Host:` right out of the `Ingress` resource (proba

[2017-08-25 11:25] andrew80k commented on #45727
I'm having the same issue.  Kubeadm gets hung after:

`[apiclient] Created API client, waiting for the control plane to become ready
[apiclient] All control plane components are healthy after 22.503604 seconds
`
Followed by endless logs of the above.  I tried disabling the volume controller attach/detach, but it just gave me endless:

` kubelet_node_status.go:250] Controller attach/detach is disab

[2017-08-25 11:36] mikebryant opened #51331 "kube-scheduler: `Failed to get all terms`"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
During a rolling replacement of all nodes, kube-scheduler stops making progress

It gets stuck on nodes that have been deleted by controller-manager

Restarting it allows it to make progress again

**What you expected to happen**:
For it to keep going

**How to reproduce it (as minimally and precisely as possib

[2017-08-25 11:37] mikebryant commented on #51331
@kubernetes/sig-scheduling-bugs

[2017-08-25 11:58] fedya commented on #48924
1.7.4

[code]

[2017-08-25 12:10] mikebryant commented on #51012
/area nodecontroller

[2017-08-25 12:12] jayunit100 opened #51333 "Node status down -> pod status unknown -> pod cant be deleted, cordon doesnt finish."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A pod went in to zombie state (unknown) where it wouldn't be  deleted after its node went down.

**What you expected to happen**:

Pods should readily delete.

**How to reproduce it (as minimally and precisely as possible)**:

Not sure: But in this case we had a pod with 3 containers, the node went down (literally, could

[2017-08-25 12:14] jayunit100 commented on #51333
[code]

[2017-08-25 12:17] jayunit100 commented on #3866
I think I just saw something similar, #51333

[2017-08-25 13:23] lindsaylandry commented on #51275
could be, should I reassign?
/sig kubelet

[2017-08-25 13:24] lindsaylandry commented on #51275
/sig kubelet

[2017-08-25 13:27] luxas commented on #50986
FYI @kubernetes/sig-node-feature-requests @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-08-25 13:33] ironcladlou commented on #51013
Probably introduced with https://github.com/kubernetes/kubernetes/pull/47665

[2017-08-25 14:00] liggitt commented on #51328
cc @kubernetes/sig-auth-feature-requests

[2017-08-25 14:51] cmluciano commented on #51014
Anymore involvement needed on the k8s side here or should this report now be moved to a Weave issue?

[2017-08-25 14:56] mikebrow commented on #32803
I've been trying to figure that out as I go through implementing some of them :-) The pattern I'm using is crawl through the docker shim implementation to derive what the expectations are for each security product, and code it up on the cri-containerd side. For example, for seccomp, {minumum version, docker/default, unconfined, localhost/, runtime/default}

[2017-08-25 14:57] php-coder commented on #50055
I've submitted https://github.com/kubernetes/kubernetes/pull/51337

[2017-08-25 14:58] #51212 closed

[2017-08-25 15:04] mikebrow commented on #32803
IMO the best way to ensure the expected features are there is to have test for them in e2e node or cri-tools validate.  For example, we have the SYSCTL and APPARMOR stuff working on cri-containerd. But verifying via e2e node is not a guarantee that we've done all of the needed features for each. For example, none of the e2e node apparmor tests confirm if runtime/default is supported.

[2017-08-25 15:18] mikebrow commented on #32803
Side note: I'd rather see an external skip list than internal skips for the tests. For example, when testing   for apparmor support for a runtime I shouldn't have to first PR a filter somewhere in a validator in kublet maybe another filter in the e2e tests to convince it that while docker or rkt might not support the feature maybe remote crio does. An external skip file would give us the ability m

[2017-08-25 15:24] mikebrow commented on #32803
Another example just popped up: https://github.com/kubernetes/kubernetes/issues/51319

[2017-08-25 15:35] danehans commented on #49480
@feiskyer I'm a relatively new contributor. Can you help me understand or point me to documentation that explains what qualifies a feature as a blocker for a release? IPv6 is a feature several users are waiting for us to release.

[2017-08-25 15:36] wongma7 commented on #51329
because the device can be mounted only once and so if >1 pods want to use it, we then bind-mount it to the pod-specific paths

[2017-08-25 15:37] danehans commented on #49480
/assign @thockin

[2017-08-25 15:46] kachkaev commented on #51014
Perhaps for people who'll take a similar path as me, it'd be great to mention the caveat at https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

Being a non-sysadmin person, I had no idea of what a pod network was at the time of reading, so for me it was just another step to get through ASAP. Because Weave network does not require `--pod-network-cidr=` etc., if feels the easiest o

[2017-08-25 15:57] bgrant0607 commented on #22923
I'm going to close this issue in favor of the one in community.

[2017-08-25 15:57] #22923 closed

[2017-08-25 16:16] waeljammal commented on #46705
Seeing this issue as well with 1.7.3 & etcd 3.1.8

[2017-08-25 16:28] luxas commented on #50926
Thank you @FengyunPan !

[2017-08-25 16:30] luxas commented on #49480
@danehans So technically we can still do this in time for v1.8
I didn't just get an overwhelming "YES! WE WANT THIS!" response from @kubernetes/sig-network-misc when I brought up the matter in this issue, so my obvious interpretation is that this wasn't useful enough to be prioritized.

Worth keeping in mind that CNI bumps tend to break things and has done so some times in the past, which of cours

[2017-08-25 16:35] splittingfield commented on #27997
Do we have an update on this job failure policy?  I think we have hit a related issue.

We recently found an issue in which a Job had an init container that was exiting with a non-zero code (there was a bug in the init-container). This led to the Job being restarted repeatedly. Soon, the entire K8s  cluster (1.6) across all namespaces become sluggish and unresponsive, requiring manual deleting, et

[2017-08-25 16:57] alena1108 commented on #51293
/sig node

[2017-08-25 17:10] #49695 closed

[2017-08-25 17:17] 2rs2ts commented on #20473
wow, this issue has been open for a year and a half for something that's so vital to application availability. 👀

[2017-08-25 17:17] kokhang commented on #49424
Also is this issue slated for 1.8? (For CRDs that is)

[2017-08-25 17:32] enisoc commented on #49424
The general issue of supporting field selectors for CRD is tracked in #51046. I don't think it's slated for 1.8.

The methods on `ListWatch` should take a [ListOptions](https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#ListOptions), which can contain an optional `LabelSelector`.

[2017-08-25 17:35] cmluciano commented on #51322
@narasi Can you briefly describe the performance or setup process that you were going through?

You mentioned that you had a high number of deployments. Do you have a rough guess on the number of deployments you were at when this started to occur.

 Can you also share your cluster size?

[2017-08-25 17:36] cmluciano commented on #51322
cc @kubernetes/sig-azure-misc

[2017-08-25 17:39] mxmberlin commented on #51164
Here is mine:
[code]

[2017-08-25 17:40] cmluciano commented on #46185
/assign

[2017-08-25 17:49] cmluciano opened #51344 "Deflake test/dns/e2e"
**What happened**:
We frequently see flakes caused during cluster creation that have cascading effects on other e2es. The [dns e2e](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/dns.go) flakes quite frequently and does give much context other than a timeout.

Ex.
[code]
Relevant flake: #46185

**What you expected to happen**:
e2e test should attempt to surface more informat

[2017-08-25 17:50] cmluciano commented on #46185
tests are green, but we should look into how to short circuit this test when things go wrong. Opened #51344

[2017-08-25 17:50] cmluciano commented on #46185
/close

[2017-08-25 17:50] #46185 closed

[2017-08-25 17:55] cmluciano commented on #51326
@kubernetes/sig-network-misc

/area dns

[2017-08-25 17:57] mtaufen opened #51345 "Fix ReadOnlyPort defaulting"
See #51341

[2017-08-25 17:59] henriquetruta opened #51346 "kube-up.sh with heat does not work"
https://kubernetes.io/docs/getting-started-guides/openstack-heat/

Followed this tutorial, managed to have the stack in status ok, but no cluster was created, apparently. I'm not pretty sure on how to debug this, but haven't found anything useful in the master node.

The output says everything is okay:
[code]

And all the resources are created:
[code]

**Is this a BUG REPORT or FEATURE REQUEST?**:

[2017-08-25 18:07] #49978 closed

[2017-08-25 18:07] #45053 closed

[2017-08-25 18:07] #49890 closed

[2017-08-25 18:15] Random-Liu commented on #51319
@miaoyq Sent #51347 to fix this. Thanks for finding this out!

[2017-08-25 18:26] yastij commented on #50926
@luxas - Is there any listing, to see the already implemented cloud provider ?

[2017-08-25 18:31] Techwolfy opened #51349 "Windows containers do not recieve cluster DNS address"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: I deployed several pods to a Windows host, and they were assigned IP addresses but not DNS servers. Infrastructure containers received the DNS servers of the host, but application containers had none.

**What you expected to happen**: Application containers have the cluster DNS service IP address set as the default resolve

[2017-08-25 18:34] griffinkelly commented on #42164
Are there any workarounds to this problem? It takes down my nodes rather frequently depending if there is high workload.

[2017-08-25 18:35] clsung commented on #51164
Hi, I've create the same docker image (refer to docker.io/clsung/nginx-tmp) and kubectl apply -f the_same_k8s.yml as follows:

[code]

It works to me.

Can you please get the pod's name and exec into the pod:

[code]

When you're in the node, do the following command and paste it:

[code]

The following is mine:

[code]

[2017-08-25 18:36] enisoc commented on #51259
cc @janetkuo

[2017-08-25 18:41] Techwolfy commented on #51349
/sig windows

[2017-08-25 18:54] MrHohn commented on #51326
@zhashuyu I think you will need to set `spec.hostname` on your pod in order to have the non-hashed hostname. Something like:
[code]

[2017-08-25 18:54] Techwolfy opened #51352 "Deleted Windows pods get stuck in "Terminating" state in controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig windows

**What happened**: Deleted pods on Windows nodes stay in "Terminating" state. The containers are deleted properly on the node but the controller-manager pod object is never removed, preventing the pod from being recreated by a deployment.

**What you expected to happen**: Deleted pods are removed from both the node and the contr

[2017-08-25 19:01] mjaow commented on #51329
@wongma7 ,thx i get it

[2017-08-25 19:05] mml opened #51353 "kubectl should detect when it did not receive the entire HTTP response"
While this issue happens without this complicated reproduction, here is a sure-fire way to get it.

1. Start a long-running kubectl get.  In this example, I have a cluster with about 2,000 configmaps each around 100KiB.

`kubectl --v=8 get cm -n kube-system`

Once you see these lines

[code]

Press `^Z`, then type `sleep 60; fg`, and then you'll see...

[code]

What's happening is that the apiserv

[2017-08-25 19:05] mml commented on #51353
cc @mengqiy

Possibly seen here, too: openshift/origin#14396

[2017-08-25 19:06] Techwolfy opened #51354 "HostPort does not work correctly on Windows nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig windows

**What happened**: I deployed a `microsoft/iis:nanoserver` pod to a Windows host, and configured it to use `hostPort: 80`. However, the host port was assigned to the infrastructure container instead of the application container, and I was unable to access the application through it. NodePort and the container's IP address contin

[2017-08-25 19:11] mml opened #51355 "apiserver should export global timeout as a flag"
#51353 explains a problem with kubectl, where it reacts poorly when the apiserver closes the connection due to [timeout](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go#L34).

That timeout is hard-coded to 60s.  That's probably a fine default, but we have found cases where ordinary requests won't complete in that time.  We should expo

[2017-08-25 19:27] mml commented on #51353
/assign mengqiy

[2017-08-25 19:31] #51256 closed

[2017-08-25 19:31] #43051 closed

[2017-08-25 19:36] henriquetruta commented on #51346
/sig openstack

[2017-08-25 19:49] bowei commented on #47577
/close

[2017-08-25 19:49] #47577 closed

[2017-08-25 19:52] cblecker opened #51358 "cross-build: PR 49988 causing cross build failure"
[code]
https://github.com/kubernetes/kubernetes/pull/49988
https://k8s-testgrid.appspot.com/misc#cross-build
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/3054

cc: @kubernetes/sig-storage-bugs @kubernetes/sig-storage-test-failures @sbezverk @msau42 @rootfs @smarterclayton

[2017-08-25 19:56] cblecker commented on #51358
/priority failing-test

[2017-08-25 20:01] ryanmcnamara commented on #19367
Any update?

[2017-08-25 20:06] msau42 commented on #51358
/assign @sbezverk

[2017-08-25 20:07] mml commented on #51355
/assign @jpbetz

[2017-08-25 20:15] liggitt commented on #51355
There should possibly also be separate timeouts for namespaced and unnamespaced operations. cc @smarterclayton

[2017-08-25 20:19] costinm commented on #39792
Also see https://github.com/kubernetes-incubator/external-dns

[2017-08-25 20:21] thockin commented on #14378
This should be fixed for a while now.

[2017-08-25 20:21] #14378 closed

[2017-08-25 20:22] #16771 closed

[2017-08-25 20:22] thockin commented on #17012
@luxas is this still valid?

[2017-08-25 20:22] #19464 closed

[2017-08-25 20:23] #20173 closed

[2017-08-25 20:23] #20336 closed

[2017-08-25 20:24] #25417 closed

[2017-08-25 20:25] luxas commented on #50926
@yastij No providers have this yet.
Current PRs:
 - Openstack: https://github.com/kubernetes/kubernetes/pull/51317
 - Rackspace: https://github.com/kubernetes/kubernetes/pull/51318

Please contribute if you have something ready @yastij :)

[2017-08-25 20:25] luxas commented on #17012
@thockin Nope, I fixed this already in v1.3 ;)

[2017-08-25 20:25] #17012 closed

[2017-08-25 20:27] juliohm1978 commented on #50151
We run a kubespray installation, currently at k8s 1.7.2, and we noticed the exact behavior from cAdvisor metrics. Kubespray runs kubelet in a container on each host, exposing port 4193.

We found that direct repated queries to this port will return an inconsistent number of metrics.

`curl http://clusternode:4194/metrics`

Sometimes, a metric will be present. Sometimes, not. It appears to be compl

[2017-08-25 20:33] jhorwit2 opened #51362 "fix user documentation for `extensions/v1beta1` to not include golang type names"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

the documentation in `staging/src/k8s.io/api/extensions/v1beta1/types.go` does not follow the guidelines for user facing documentation outlined [here](https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#edit-typesgo). Specifically,

An example in extentions/v1beta1 would be the [PodSecurityPolicySpec](https

[2017-08-25 20:33] jhorwit2 commented on #51362
/kind documentation

[2017-08-25 20:34] jhorwit2 commented on #51362
/sig docs
/sig auth

[2017-08-25 20:41] anfernee commented on #51151
@nkravi I cannot reproduce it. Did you add `-q=SRV`?

This is the nslookup output for me.
[code]

k8s versions:
[code]

[2017-08-25 20:44] danehans commented on #49480
@luxas I apologize for not seeing this earlier. Thanks for helping me understand the potential impact of the change.

@dcbw does it make sense for some like yourself to be the "Owner" that @luxas references?

[2017-08-25 20:50] mml opened #51365 "apiserver monitoring variable for request timeouts"
#51355 asks for the global timeout to be exported as a flag.  It would be really nice to know how often this is being triggered.  So...

1. A monitoring variable that counts how many times we triggered this timeout.
2. Another monitoring variable that counts the total number of requests it applied to.

This lets us graph the timeout rate.

/sig api-machinery

cc @jpbetz

[2017-08-25 20:53] vishh commented on #50151
cc @jimmidyson

[2017-08-25 20:57] mml commented on #51365
We already have number 2: `apiserver_request_count`.  And we could probably call number 1 `apiserver_request_timeouts` and map it along the same dimensions: resource and verb.

[2017-08-25 21:14] pipejakob commented on #50760
Technically this is an issue in test-infra (or more loosely k8s repo). But I wouldn't push hard.

True. I often struggle with exactly where an issue should live, and wouldn't mind it moving to test-infra instead. I think different developers tend to look at issues in different repositories. I would assume that mostly the EngProd and SIG Testing teams would be tracking the issues in test-infra, but

[2017-08-25 21:22] jpbetz commented on #51355
@sttts, @deads2k I'm reviewing the code now. What's the distinction between `server.Config:MinRequestTimeout` and `timeout.go:globalTimeout` (if any)?

[2017-08-25 21:29] k8s-merge-robot opened #51368 "Failure cluster [303fdf...] failed 204 builds, 27 jobs, and 5 tests over 1 days"
### Failure cluster [303fdf01b721866715f8](https://go.k8s.io/triage#303fdf01b721866715f8)
##### Error text:
[code]
##### Failure cluster statistics:
5 tests failed,    27 jobs failed,    204 builds failed.
Failure stats cover 1 day time range '24 Aug 2017 15:42 UTC' to '25 Aug 2017 15:42 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-scheduling] Opaq

[2017-08-25 21:58] danehans opened #51371 "kube-dns does not work with IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kube-dns fails readiness probe when k8s uses IPv6 addressing.

**What you expected to happen**:

kube-dns pod to pass readiness and health probes.

**How to reproduce it (as minimally and precisely as possible)**:
1. Setup IPv6 network
2. Download, install and configure CNI [0.6.0 bins](https://github.com/containernetwor

[2017-08-25 22:00] bgrant0607 commented on #23233
We also have a hodgepodge of auto-scaling mechanisms right now:
* https://github.com/thockin/cluster-proportional-vertical-autoscaler
* https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler
* https://github.com/kubernetes/autoscaler/tree/master/addon-resizer
* https://github.com/kubernetes-incubator/cluster-proportional-autoscaler

And some use operators for stateful addons:

[2017-08-25 22:30] kfox1111 commented on #50345
@supereagle that is not the same thing. sometimes you want to merge in a few config files into a magic config dir, like, /etc/condor/config.d, but leave the rest of the dir open for other things to drop things in. subPath is the right way to do that I think. but should be able to get updates still.

[2017-08-25 22:40] ericchiang commented on #50795
@crimsonfaith91 I actually don't know. Will take a look.

[2017-08-25 22:43] danehans commented on #51371
/sig network
/area ipv6

/cc @pmichali @leblancd @aanm

[2017-08-25 22:46] danehans commented on #51371
/area kubeadm

[2017-08-25 22:57] janetkuo commented on #51259
One way to achieve this is to add a create strategy for rollback subresource. However, we're deprecating `deployment/rollback` in 1.8.

@kargakis

[2017-08-25 22:59] #46891 closed

[2017-08-25 23:01] juanvallejo opened #51373 "Unable to expose ReplicaSet with a MatchExpressions selector"
/kind bug

**What happened**:
[code]
`$ kubectl create -f replicaset.yaml`
[code]

**What you expected to happen**:
Expected kubectl to handle the `matchExpressions` selector on a replicaset object

**Anything else we need to know?**:
[Per the docs](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/), I should be able to set a `matchExpressions` selector in ReplicaSets.

Als

[2017-08-25 23:07] crimsonfaith91 commented on #50795
@ericchiang Thank you!

[2017-08-25 23:08] caesarxuchao commented on #49038
I don't want to support multiple failures for two reasons:

* From user's perspective, multiple failure messages are not very useful. Because
  * one failure means the object will never be initialized.
  * Even if we allow multiple failure messages, when the user observes the object, she won't know if there will be more failure messages.

* From apiserver's perspective, allowing multiple failure m

[2017-08-25 23:14] rbtcollins commented on #42164
So check your burst balance; if you're at zero you're consistently exceeding your available IO budget. You can do one of three things: separate out the high IO load by putting containers on a separate EBS volume to the host itself; reduce the IO load by fixing whatever thing is generating so much IO, or increase your IO budget (for gp2 volumes a larger volume == more IOPS, for io1 by a higher comm

[2017-08-25 23:24] macrael opened #51376 "DaemonSet created in namespace kube-system is deleted after ~40s every time."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I created a DaemonSet on GKE in the namespace kube-system via kubectl create or apply. After 40 seconds, the DaemonSet and all three of its pods are deleted with no visible reason as to why. The closest thing to an error message I could find was 'Need to kill Pod' in the delete event.

Re-creating the DaemonSet in a differ

[2017-08-25 23:28] macrael commented on #51376
@kubernetes/sig-scheduling-bugs

[2017-08-25 23:48] NickrenREN opened #51379 ""Firewall rule should have correct firewall rules for e2e cluster" flakes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind flake

**What happened**:
[code]

**Anything else we need to know?**:
happened in many PRs
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50889/pull-kubernetes-e2e-gce-bazel/12328/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49850/pull-kubernetes-e2e-gce-bazel/12341/#sig-network-firewall-rul

[2017-08-25 23:48] jpbetz commented on #51355
Current plan:

Introduce a `NonLongRunningRequestTimeout` to `server.Config`, next to `LongRunningFunc`. This will default to 60s and replace timeout.go:globalTimeout

Introduce a `--request-timeout` option to `kube-apiserver`.  Deprecate `--min-request-timeout` and replace it with `--longpoll-request-timeout-min`.

Not totally happy with the naming and a bit worried that if we make the timeouts t

[2017-08-25 23:50] NickrenREN commented on #51379
/sig network
/sig testing

[2017-08-25 23:52] NickrenREN commented on #51379
/priority failing-test

[2017-08-25 23:54] bgrant0607 commented on #23233
Also related: #4630, #16337, #4855

[2017-08-25 23:55] bgrant0607 commented on #6086
Closing as obsolete.

[2017-08-25 23:55] #6086 closed

[2017-08-25 23:58] bgrant0607 commented on #23233
And #42840, #42917 for release-specific node-level addon rollouts.

[2017-08-26 00:08] mml commented on #51355
I don't have an opinion on  "Deprecate --min-request-timeout and replace it with --longpoll-request-timeout-min.".  I haven't read the code and don't understand the motivation totally.

But, do the two changes have to be bundled together?  Maybe I don't understand how they interact.

[2017-08-26 00:17] bgrant0607 commented on #42917
There are some examples in #23233 (add-on umbrella issue).

Sometimes node-level orchestration, such as applying node labels and/or taints, is necessary in conjunction with this. The labels represent properties such as the kubelet release version, features enabled, OS-level initialization, removal of static pod manifests, etc. It might sometimes be necessary to drain nodes prior to update (which e

[2017-08-26 00:36] janetkuo commented on #51315
Deployment rollback is done by passing current revision number of the history (ReplicaSet). In this case, `3` should be passed. `revision-history` just tells you the previous revision number used by this ReplicaSet.

If you view Deployment history via `kubectl rollout history deployment`, you'll see that replicaset listed as revision 3, instead of 1.

@kargakis check this user confusion

[2017-08-26 00:59] mengqiy commented on #51353
Created a PR https://github.com/kubernetes/kubernetes/pull/51381 to detect it.
Further improvement may be retrying when detect connection closure

[2017-08-26 02:40] #50441 closed

[2017-08-26 02:40] #50851 closed

[2017-08-26 02:40] #50502 closed

[2017-08-26 02:56] justinsb opened #51385 "INI parser is very out of date"
Our go-ini dependency is very out of date.  Notably it is missing the fix for this bug https://github.com/go-ini/ini/issues/23

[2017-08-26 03:43] #49831 closed

[2017-08-26 03:43] #50594 closed

[2017-08-26 03:43] #51345 closed

[2017-08-26 04:01] chino commented on #48719
I would think that immediately rejecting seems better from a user experience/debugging perspective of least surprise?  I also imagine it would create unnecessary/variable delays for code that's sitting in loops waiting to reach a service?

For UDP there is no handshake mechanism so the user is completely blind that anything is failing without some kind of icmp response I believe?

In Calico (and I

[2017-08-26 04:45] lichuqiang commented on #51315
@janetkuo Yes, it's a issue of design specification. Controller would not recognize the origin revisions of RS when it has been rollbacked to before.
While, I think it a little unfriendly that  origin revisions seem to disappear when repeating rollback to same RS.
Besides, I haven't noticed any adverse impact if we support origin revisions of RS in Deployment rollback

[2017-08-26 05:31] DanyC97 commented on #23326
@thockin sorry for a dummy request, by any chance do you have an example ?

[2017-08-26 05:43] #49190 closed

[2017-08-26 05:43] #51265 closed

[2017-08-26 07:20] zhangxiaoyu-zidif opened #51396 "Refactor unit test case with sets.String to replace string slice"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Refactor unit test case with sets.String to replace string slice
To use golang sets.String, that will help check if two groups equal with each other.

[2017-08-26 07:21] zhangxiaoyu-zidif commented on #51396
/assign

[2017-08-26 08:53] jianzhangbjz commented on #51313
Whether the lost resource is just equal the resource of the pod on the old node? Have you try it with higher version?

[2017-08-26 09:41] hzxuzhonghu opened #51400 "controller manager should all use EventBroadcaster logging"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
some controller manager like persistentvolume use EventBroadcaster,  but has no log.

**What you expected to happen**:
I think it will be more direct for us to use logging to debug or trace something

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2017-08-26 09:50] hzxuzhonghu commented on #51400
/area controller-manager
/area logging

[2017-08-26 10:55] luxas commented on #49633
Please reopen kubeadm issues in the kubeadm issue tracker instead of here.

[2017-08-26 10:55] #49633 closed

[2017-08-26 12:57] caarlos0 commented on #42164
if the problem is IOPS, you can also use [provisioned iops](https://aws.amazon.com/about-aws/whats-new/2012/07/31/announcing-provisioned-iops-for-amazon-ebs/) ebs volumes (though its very expensive).

[2017-08-26 13:22] amitkumarj441 opened #51405 "Fluentd filter to process Kubernetes logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I and @mperezco are working on having a Fluentd filter to process kubernetes logs, we created the [ConfigMap](https://github.com/amitkumarj441/gsoc17-cncf/blob/master/codes/filter/logging-fluentd-cm_filter-k8s-core.yaml) to add two files (in ingress):
      @include configs.d/user/filter-k8s-core-rewrite.conf [`First file is to rewr

[2017-08-26 13:30] amitkumarj441 commented on #51405
/area logging
/sig cluster-ops
/kind feature

[2017-08-26 13:43] #50985 closed

[2017-08-26 13:50] FengyunPan opened #51406 "Implement InstanceExistsByProviderID() for all the cloud providers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What you expected to happen**:
Related to #50985
Since #51087 merged, we should implement this method for all the cloud providers.

**Anything else we need to know?**:
Many cloud providers(like aws, gce etc...) implement ExternalID(), they also implement InstanceExistsByProviderID(), I can fill it soon.
/cc @wlan0 @thockin  @luxas @jho

[2017-08-26 13:51] jhorwit2 commented on #51406
Thanks @FengyunPan you beat me to it :)

[2017-08-26 13:52] FengyunPan commented on #51406
/assign

[2017-08-26 13:53] FengyunPan commented on #51406
@jhorwit2 Do you means you want to implement them?

[2017-08-26 14:00] klausenbusk opened #51407 "flexVolume: LVM example broken per #47400"
cc @chakri-nelluri

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Before #47400 `mount path` was passed to the `detach` call, now the `volumeName` is passed.
The `volumeName` in the [LVM example POD](https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/flexvolume/nginx.yaml) is `test`, but the [LVM flexvolume plugin](https://github.com/kubernetes/kubernetes/blo

[2017-08-26 14:00] klausenbusk commented on #44737
Issue opened: https://github.com/kubernetes/kubernetes/issues/51407

We need a proper fix for this, the current behavior isn't ideal.

[2017-08-26 14:02] klausenbusk commented on #51407
@kubernetes/sig-storage-bugs
/sig sig-storage

[2017-08-26 14:13] jhorwit2 commented on #51406
No, I was just saying thanks for creating the ticket to track it! I was about to do the same after I saw the PR merged.

[2017-08-26 14:15] FengyunPan commented on #51406
Yeah, I will implement them soon.

[2017-08-26 15:32] nicksardo commented on #48515
/reopen

[2017-08-26 15:47] seh commented on #50767
Given @davidopp's take, @liggitt, shall I proceed with a patch? My intended approach is to allow both the existing "admin" and "edit" _ClusterRoles_ the following verbs against _PodDisruptionBudgets_:
- create
- delete
- deletecollection
- get
- list
- patch
- update
- watch

[2017-08-26 15:49] #50770 closed

[2017-08-26 15:49] #22470 closed

[2017-08-26 16:53] kingdonb commented on #49518
I see the socks in the store now, as well as decals, concert T-shirts, and hoodies!  Thanks for taking this one on, it was a blocker for us.

[2017-08-26 17:17] cblecker commented on #49518
Glad to see this one resolved!
/close

[2017-08-26 17:17] #49518 closed

[2017-08-26 19:49] jpbetz commented on #51355
https://github.com/kubernetes/kubernetes/pull/51415 adds the `--request-timeout` flag. I'll follow that PR up with a separate one to rename `--min-request-timeout` to `--long-running-request-timeout-min` so that we have sane names for all our flags.  We will only backport the PR to add `--request-timeout`  to 1.6 and 1.7.

[2017-08-26 20:35] #44593 closed

[2017-08-26 21:03] #49836 closed

[2017-08-26 21:10] msau42 opened #51418 "More local storage e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage

Some more test cases we should add:
 * Pod using a Local PV with non-existant path fails to mount
 * Pod that sets nodeName to a different node than the PV node affinity cannot schedule.

[2017-08-26 21:29] #51358 closed

[2017-08-26 21:30] k8s-merge-robot opened #51419 "Failure cluster [71048f...] failed 269 builds, 19 jobs, and 1 tests over 1 days"
### Failure cluster [71048fbdfb92016ffc55](https://go.k8s.io/triage#71048fbdfb92016ffc55)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    19 jobs failed,    269 builds failed.
Failure stats cover 1 day time range '25 Aug 2017 17:15 UTC' to '26 Aug 2017 17:15 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 19 |

##### Top

[2017-08-26 21:30] k8s-merge-robot opened #51420 "Failure cluster [eac695...] failed 189 builds, 13 jobs, and 1 tests over 1 days"
### Failure cluster [eac695523adae581eaa0](https://go.k8s.io/triage#eac695523adae581eaa0)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    13 jobs failed,    189 builds failed.
Failure stats cover 1 day time range '25 Aug 2017 17:15 UTC' to '26 Aug 2017 17:15 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 13 |

##### To

[2017-08-26 21:30] k8s-merge-robot opened #51421 "Failure cluster [123522...] failed 166 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [123522f3738a58f23dfc](https://go.k8s.io/triage#123522f3738a58f23dfc)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    166 builds failed.
Failure stats cover 1 day time range '25 Aug 2017 17:15 UTC' to '26 Aug 2017 17:15 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 4 |

###

[2017-08-26 21:30] alex88 commented on #49492
In my case, having an old replicaset with a bad configuration doesn't let me create new replicasets so deploy new versions as old replicaset still has a desired number of pods that can't run due configuration errors

[2017-08-26 21:33] alex88 commented on #49492
Even if deployment has no affinity configuration, doing a `get deployment -o yaml` shows that annotation `kubectl.kubernetes.io/last-applied-configuration` has that affinity config and status shows this failure
[code]

[2017-08-26 23:53] smarterclayton opened #51422 "Check automatically for standard API convention for JSON field names in godoc"
The API conventions require that godoc on external API fields should use the `camelCase` form of the field when referring to it.  We should automate the checking.

Also consider automating the checking of JSON field name -> canonical form of the external name (i.e. field `PathPrefix` should always be `pathPrefix`).  I don't think we have any case where `camelCase(GoName) != jsonFieldName`, but we

[2017-08-27 01:09] #49731 closed

[2017-08-27 01:34] liggitt commented on #50695
seeing kubelets restarting during e2e runs.

seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51168/pull-kubernetes-e2e-gce-bazel/12561/

the test fails with: `an error on the server ("Error: 'dial tcp 10.128.0.6:10250: getsockopt: connection refused'\nTrying to reach: 'https://e2e-12561-minion-group-05pn:10250/logs/'") has prevented the request from succeeding`

fr

[2017-08-27 01:39] liggitt commented on #50695
interesting-looking things from the logs on that kubelet around that time:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/51168/pull-kubernetes-e2e-gce-bazel/12561/artifacts/e2e-12561-minion-group-05pn/serial-1.log:
[code]

[2017-08-27 01:48] liggitt commented on #50695
cc @kubernetes/sig-node-test-failures @kubernetes/sig-node-bugs for ideas on chasing down the kernel issue

[2017-08-27 01:58] liggitt commented on #50695
found the same panic in one of the kubelet logs in the original linked failure in this issue:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/47262/pull-kubernetes-e2e-gce-etcd3/46505/artifacts/e2e-46505-minion-group-qqjs/serial-1.log:
[code]

[2017-08-27 02:02] liggitt commented on #50695
kernel panic mentioned in https://github.com/kubernetes/kubernetes/issues/45368

[2017-08-27 02:05] mathspanda commented on #50598
/assign

[2017-08-27 02:06] aledbf commented on #50695
@liggitt also here https://github.com/moby/moby/issues/30402

[2017-08-27 02:31] liggitt commented on #45368
we're continuing to see the originally reported stack frequently in e2e runs on gce (see https://github.com/kubernetes/kubernetes/issues/50695#issuecomment-325171458).

current versions running in CI are:

Linux version 3.16.0-4-amd64 (debian-kernel@lists.debian.org) (gcc version 4.8.4 (Debian 4.8.4-1) ) #1 SMP Debian 3.16.43-2+deb8u1 (2017-06-18)

Docker daemon: commit=b9f10c9 graphdriver=aufs ve

[2017-08-27 02:58] liggitt opened #51424 "e2e namespace cleanup fails with attempt to delete custom resources"
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=sample-api

Seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51034/pull-kubernetes-e2e-gce-etcd3/50311:

Aug 26 09:35:45.074: Couldn't delete ns: "e2e-tests-containers-9cscj": an error on the server ("missing route (service \"sample-api\" not found)") has prevented the request from succeeding (get

[2017-08-27 02:58] liggitt commented on #51424
@kubernetes/sig-api-machinery-test-failures

[2017-08-27 03:03] chakri-nelluri commented on #51407
Thanks @klausenbusk. I will fix the example.

[2017-08-27 03:17] chakri-nelluri commented on #51407
@klausenbusk I reviewed it. This is not broken. The doc is wrong. Thanks for bringing it to the notice. I will fix the documentation.

Detach call had always been with PV or Volume Name. The commit just changed the variable name to reflect it.

[2017-08-27 03:19] chakri-nelluri commented on #44737
Thanks @klausenbusk This is a doc issue. I will update it.

If you have any other use case, please feel free to slack me @chakri-nelluri or reply here. I want to know more details.

[2017-08-27 04:05] CaoShuFeng commented on #51268
What happens when --image-gc-low-threshold and --image-gc-high-threshold are both set to 100 ?

[2017-08-27 04:38] jiaxuanzhou commented on #51268
@CaoShuFeng
when both set to 100, image GC will still delete one image to release space
as it always runs into the logic `freed, err := im.freeSpace(amountToFree, time.Now())` and delete image in logic  of func ` freeSpace(bytesToFree int64, freeTime time.Time) (int64, error)`

[2017-08-27 06:02] #50937 closed

[2017-08-27 06:03] #51131 closed

[2017-08-27 07:35] ami-fairfly commented on #47725
@RyPeck aaand we're back to 504 :/

[2017-08-27 08:23] zjj2wry commented on #11212
maybe now have kubectl rollout status? can close this?

[2017-08-27 10:50] klausenbusk commented on #51407
You correct, the LVM example does not seems to be broken, I was a little too fast, but the doc is definitely wrong.

Hmm, I remember a different behavior, but maybe that is before: https://github.com/kubernetes/kubernetes/pull/41804 .

[2017-08-27 10:53] runcom opened #51427 "[1.7.x] kubenet CIDR update isn't configurable through CRI"
CRI has `UpdateRuntimeConfig` API to update network CIDR. The pod CIDR is the only value received from kube. `dockershim` is the only CRI impl that can actually update the CIDR of `kubenet` via https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_service.go#L302-L313

When using the CRI is impossible to update CIDR in kubenet because we're missing some information whi

[2017-08-27 11:46] jhorwit2 commented on #51354
Are you using the CRI? If so are you including the portmap plugin?

[2017-08-27 16:19] cblecker commented on #50373
Fixed in #51054
/close

[2017-08-27 16:19] #50373 closed

[2017-08-27 17:42] williamstein commented on #47800
I see this bug frequently when calling `kubectl logs` many times in parallel on my kubeadm Kubernetes 1.7.4 cluster.    I was using multiple threads (from a Python3 process) to get many logs at once using kubectl log, and that would cause me to hit this bug on about 25% of the requests.  Switching to grabbing the logs one after the other (rather than doing many kubectl log shell commands at once)

[2017-08-27 18:13] justinsb opened #51429 "[upgrade test failure][sig-api-machinery] Initializers will be set to nil if a patch removes the last pending initializer"
Seeing this test failure pretty consistently with kops, to the extent that we can't merge e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kops/3288/pull-kops-e2e-kubernetes-aws/2743/

Based on timing, seems likely to be #51082, although something odd happened in that this failure occurred on that PR but it still merged: https://github.com/kubernetes/kubernetes/pull/51

[2017-08-27 18:28] rohitagarwal003 opened #51430 "default limit sometimes acts as max limit"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I created a `LimitRange` with the following spec:
[code]

Now,
- When I create a pod without specifying both requests and limits. It gets request=256Mi and limit=512Mi. Working as expected.
- When I create a pod with limit=x and unspecified request, it gets created with limit=x and request=x. Working as expected.
- When I

[2017-08-27 18:35] vishh commented on #51430
This is WAI. Limit Range is used not only for smarter defaulting, but also for enforcing policies over namespaces. The policy in your example is that memory limits cannot exceed 512 Mi which means that requests cannot be greater than 512 Mi.

What are you trying to achieve with LimitRanges?

This I agree. May be Limit Range logic can reject pods due to invalid requests rather than letting API serv

[2017-08-27 18:36] msau42 opened #51431 "Local volume mixup when new node created with same name"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage

**What happened**:
In GCE/GKE, the nodes are managed by instance groups, which causes nodes to get recreated with the same name, but different UID.

This causes inconsistency with local PVs.  The local static provisioner marks PVs with the node UID, so on the new node, it will not create/delete any PVs for the old node.  However

[2017-08-27 18:36] msau42 commented on #51431
/assign

[2017-08-27 18:43] mindprince commented on #51430
Note that I have only set the default limit and request, I have not set the max limit or request:
[code]

And I am indeed able to create pods with limits greater than `512Mi`. For example, when I set the limit to `1Gi` the pods gets created. It's only when I have an unspecified limit and a specified request that is greater than the default limit that this behavior is taking place.

[2017-08-27 19:04] amigold commented on #47725
taking over from this accoutn

[2017-08-27 19:33] chrislovecnm commented on #51429
@justinsb are you looking at this?

[2017-08-27 19:50] andreychernih opened #51432 "Pod with the critical annotation (kube-proxy) was evicted"
/kind bug

**What happened**:

kube-proxy pod which has been explicitly marked as critical (with `scheduler.alpha.kubernetes.io/critical-pod` annotation) has been evicted from the node because it was short on disk space. Kubernetes did not make any attempts to re-schedule it after which resulted in cluster outage.

Related: https://github.com/kubernetes/kubernetes/issues/23225

[code]

**What you

[2017-08-27 19:51] andreychernih commented on #51432
/sig scheduling

[2017-08-27 20:03] sparkprime commented on #13241
In response to: "Client-side preprocessing would interfere with line numbers reported in error messages, which we added since this issue was originally filed. We'd want a mechanism similar to the C preprocessor for preserving the original line numbers."

My preferred approach is for error messages from lower level tools to report the context in terms of paths into the structure, i.e. "the 'foo' fi

[2017-08-27 21:21] shyamjvs opened #51433 "glbc addon consuming too much memory in large clusters"
The latest run of density test on 5k-node cluster failed due to over-usage of memory by l7-lb-controller (everything else with the test was fine):

[code]

Ref https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/23

cc @kubernetes/sig-network-bugs @kubernetes/sig-scalability-misc @gmarek @wojtek-t

[2017-08-27 21:27] vishh commented on #51430
@mindprince got it. As I mentioned earlier LimitRange does both defaulting and policy enforcement.
Your configuration is about defaulting which is not enforcing any policies.

[2017-08-27 21:28] shyamjvs commented on #51433
We're seeing this error even in 2k-node clusters (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/3):

[code]

[2017-08-27 21:33] shyamjvs commented on #51433
From the values above it seems like the memory usage is scaling linearly with the no. of nodes.
@kubernetes/sig-network-misc I'm not too familiar with it's working - could someone confirm if this is as expected?
If yes, I can change the constraints of our density test to scale with the no. of nodes.

[2017-08-27 21:34] shyamjvs commented on #51433
cc @bowei

[2017-08-27 21:35] liggitt commented on #51429
Does kops enable the initializer admission plugin?

[2017-08-27 21:52] andreychernih commented on #51432
It looks like I don't have a toleration which is required according to https://v1-6.docs.kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/

[code]

Could that be the reason?

[2017-08-27 22:05] smarterclayton commented on #51433
It watches ingress, node, service, and pods and so memory usage will be
proportional to the decoded in memory size of those objects (pods are
usually 1.5-2x their protobuf serialized size in memory, but can be much
larger).

On Sun, Aug 27, 2017 at 5:34 PM, Shyam JVS <notifications@github.com> wrote:

[2017-08-27 22:13] gyliu513 opened #51434 "Deprecate `volume.beta.kubernetes.io/storage-class`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
In the Kubernetes 1.6 release, dynamic provisioning has been promoted to stable (having entered beta in 1.4). In 1.6, `StorageClassName` attribute has been added to `PersistentVolume` and `PersistentVolumeClaim` objects and should be used instead of annotation `volume.beta.kubernetes.io/storage-class`. Suggest remove

[2017-08-27 22:13] gyliu513 commented on #51434
/sig storage

[2017-08-27 22:19] gyliu513 opened #51435 "Update PV/PVC YAML tempalte to use `storageClassName`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In the Kubernetes 1.6 release, dynamic provisioning has been promoted to stable (having entered beta in 1.4). In 1.6, `StorageClassName` attribute has been added to `PersistentVolume` and `PersistentVolumeClaim` objects and should be used instead of annotation `volume.beta.kubernetes.io/storage-class`.

**What you expecte

[2017-08-27 23:02] chrislovecnm commented on #51429
@liggitt more detail please

[2017-08-27 23:46] nikhiljindal commented on #46184
Issue seems to have been fixed based on the above discussion.

[2017-08-27 23:46] #46184 closed

[2017-08-28 00:03] gyliu513 commented on #51435
/assign

[2017-08-28 00:27] justinsb commented on #51429
@liggitt not yet, but thanks for the nudge ... hopefully this will fix it:
https://github.com/kubernetes/kops/pull/3289

[2017-08-28 00:41] liggitt commented on #51429
the field, feature, and e2e tests should be feature gated since they are still alpha... kops e2e should have had to opt into the e2e test. it's ok to add the admission plugin if you want, but I'm also opening a PR to add the gates so it wouldn't have affected kops e2e unless you wanted it to.

[2017-08-28 00:43] feiskyer commented on #51427
/sig node
/sig network

[2017-08-28 00:45] feiskyer commented on #51427
@runcom Does cri-o support kubenet plugin? mtu and hairpin mode params are only for kubenet, not for all CNI plugins.

[2017-08-28 00:46] feiskyer commented on #38890
@freehan Seems there is still no clear plan of this? e.g. in which release kubenet will be deprecated?

[2017-08-28 01:47] shenlanse commented on #51313
Yes, this problem still  exists in k8s1.6.

[2017-08-28 01:53] zhashuyu commented on #51326
Sorry , I still got the hashed result
[code]

[2017-08-28 02:00] RyPeck commented on #47725
@amigold same symptoms as before, instant `504`? Sure you don't have a pod running the old uWSGI settings?

[2017-08-28 02:27] liggitt commented on #51429
@justinsb it appears kops is not running the e2e tests built from the PR branch - I added a feature tag to the e2e tests, and they got omitted from the GCE e2e as I expected, but kops still tried to run them and didn't show the e2e test title change - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51436/pull-kubernetes-e2e-kops-aws/44314/

Where does the kops CI job get t

[2017-08-28 02:33] xingzhou commented on #48738
thx, let me take a try

[2017-08-28 02:36] liggitt commented on #51429
fwiw, the same issue appears to have happened on the PR that added the test that is now failing in kops... kops had a green run on that PR which did not run the tests added in that PR - https://github.com/kubernetes/kubernetes/pull/51082#issuecomment-325245730

[2017-08-28 02:44] gyliu513 commented on #51434
/assign @xiangpengzhao

There is already a PR for it https://github.com/kubernetes/kubernetes/pull/51440

[2017-08-28 03:11] k82cn commented on #51432
/sig node

It should be related to kubelet. BTW, how did you deploy kube-proxy? Static pod or DaemonSet?

[2017-08-28 03:20] gyliu513 opened #51443 "Move `Initializers` admission control plugin to Beta"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The `Initializers` is now in alpha state and was being used by isito to enable transparent inject (https://github.com/istio/pilot/pull/1104), it is better to bump the `Initializers` admission control plugin to Beta to enlarge its adoption. @caesarxuchao

**What you expected to happen**:

**How to reproduce it (as mini

[2017-08-28 03:23] gyliu513 commented on #51443
/kind api-change

[2017-08-28 03:35] #51329 closed

[2017-08-28 03:36] #50892 closed

[2017-08-28 03:45] narasi commented on #51322
@cmluciano :
So this cluster was setup using the Azure Resource Template, and I had been running it for our acceptance and demo purposes for quite some time.

Right before the problem surfaced, I was making two deployments. Up until this point, we did not see mixed requests yet.

Once the problem surfaced, I started fiddling around with the pods to see why exactly they were serving mixed requests.

[2017-08-28 03:52] jenningsloy318 opened #51444 "kubelet can't recognize the cgroup slices"
**Is this a BUG REPORT or FEATURE REQUEST?:**

/kind bug

**What happened:**

I started docker and kubelet with following parameters, but got errors that don't find proper cgroup slices.

**What you expected to happen:**

The kubelet can set the predefined cgrop as parameter to `cgroup-root`  ` --kube-reserved-cgroup` `--system-reserved-cgroup=/system.slice `

**How to reproduce it (as minimally a

[2017-08-28 04:09] killy001 commented on #51018
@jingxu97
My kubernetes version is `v1.7.0-alpha.3.278+7408f6b3a79027-dirty`.

[code]

When run this function error. The error log before is a warning that can not delete unused images , they are being used by containers. After that is the "invalid memory address or nil".

[2017-08-28 04:43] tatsuhiro-t opened #51445 "kube-proxy does not update iptables for default/kubernetes Endpoints"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kube-proxy does not update iptables entry even if default/kubernetes Endpoints object is updated.
Because of that, iptables still routes API request to the non-existing host, which ends up with "no route to host" error.

**What you expected to happen**:

kube-proxy updates iptables entry when default/kubernetes Endpoints

[2017-08-28 04:47] tatsuhiro-t commented on #51445
@kubernetes/sig-network-bug

[2017-08-28 04:48] thockin commented on #49480
We really do want this, the question is whether we can do it safely in the time remaining.  Is there a PR ready with e2e results?

[2017-08-28 04:50] tatsuhiro-t commented on #51445
@kubernetes/sig-network-bugs

[2017-08-28 05:00] dixudx commented on #49480
@thockin PTAL PR #51250.

[2017-08-28 05:08] Random-Liu commented on #50499
@feiskyer Yeah, that's what I thought. The log stuff is not the cause of the crashloop.

Even you create symlink after fail to start container, it still doesn't fix the problem completely. After create the container, there is not log, and if `GetPodStatus` is called at that time, you will still have this error.

So the problem is not that we should create symlink after start failure, we should let

[2017-08-28 05:20] #49306 closed

[2017-08-28 05:20] #51304 closed

[2017-08-28 05:34] arunmk commented on #49911
@smarterclayton sorry about the delay. We just took the maximum that was honored by 1.4.4. As mentioned earlier, we don't need such space and would be happy if a limit was documented and followed by code. Looks like this change us unknown or unintentional and that makes me nervous about the commit that brought in this change.

[2017-08-28 05:40] feiskyer commented on #50499
Maybe we should return empty if the log file doesn't exist?

This is because kubelet always fallback to logs if it fails to get from terminationMessagePath.

[2017-08-28 05:44] zhangxiaoyu-zidif commented on #51396
/reopen

[2017-08-28 06:05] jenningsloy318 opened #51446 "kubelet can't set predefined cgroup as paramters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I started docker and kubelet with following parameters, but got errors that don't find proper cgroup slices.

**What you expected to happen**:
The kubelet can set the predefined cgrop as parameter to `cgroup-root`  ` --kube-reserved-cgroup` `--system-reserved-cgroup=/system.slice `

**How to reproduce it (as minimally an

[2017-08-28 06:05] #51444 closed

[2017-08-28 06:49] bowei commented on #51326
3339386563373339.devo-ui.dev.svc.cluster.local. is the A record for the pod, which you can resolve to the IP of the pod. This matches the behavior of standard SRV records as far as I know. Can you be more precise regarding what you were expecting to get?

[2017-08-28 07:08] startopscollab opened #51451 "Kubernetes won't create service"
/kind bug

**What happened**:

**What you expected to happen**:

kubectl create -f stats-svc.yaml
Error from server (BadRequest): error when creating "stats-svc.yaml": Service in version "v1" cannot be handled as a Service: [pos 214]: json: expect char '"' but got char '1'

**How to reproduce it (as minimally and precisely as possible)**: I edited existed replication controller file made by Terraf

[2017-08-28 07:16] WanLinghao opened #51452 "kubelet --help wired output"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet --helpd prints some wired output at top
goes like:
2017/08/28 21:37:12 proto: duplicate proto type registered: google.protobuf.Any
2017/08/28 21:37:12 proto: duplicate proto type registered: google.protobuf.Duration
2017/08/28 21:37:12 proto: duplicate proto type registered: google.protobuf.Timestamp

**What you e

[2017-08-28 07:16] fankangbest commented on #48081
I met this issue before when i reboot the whole cluster. When this issue happens, the code in /pkg/controller/volume/persistentvolume/pv_controller_base.go initializeCaches() get an non-nil err but the code just ignores this error。
        claimListObj, err := claimSource.List(api.ListOptions{})
        if err != nil {
                glog.Errorf("PersistentVolumeController can't initialize caches

[2017-08-28 07:25] vijayashok opened #51453 "Hi guys, right now we using k8s cluster servers, and we are using coreOs, what we want is collect the application logs and store in s3 browser. suggest any solution please"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-28 07:27] WanLinghao commented on #51452
seems kubelet invokes vendor/go.pedge.io/pb/go/google/protobuf/any.pb.go and
                                     vendor/github.com/golang/protobuf/ptypes/any/any.pb.go
at the same time.
and these two packages both register proto type above.

one possible way to solve this is replace
   vendor/github.com/libopenstorage/openstorage/api/api.pb.go:10
with
import google_protobuf "github.com/golang/pro

[2017-08-28 07:49] wojtek-t commented on #51433
As @smarterclayton wrote, this is expected. We should tweak the test.

[2017-08-28 07:58] zhashuyu commented on #51326
I just want get the IP or hostname of the pod from srv records, but I got **3339386563373339** instead, and I don't know how to convert **3339386563373339**  to IP or hostname.

[2017-08-28 08:00] fankangbest opened #51454 "ResourceQuota got something wrong when stop kube-controller-manager for a while"
**ResourceQuota got something wrong when stop kube-controller-manager for a while**:

**What happened**:
I create a resourcequota in default namespace with restriction of 2 pods. Then I create an replicationcontroller with 1 pod and I stop kube-controller-manager  service. I create another two replicationcontrollers,  and then start kube-controller-manager  service。Now I can get three running pods

[2017-08-28 08:03] xiangpengzhao commented on #51451
Could you please provide `stats-svc.yaml`?

/sig network

[2017-08-28 08:04] guangxuli opened #51455 "Unify priority functions pattern"
**What happened**:
Unify priority functions pattern by using map/reduce pattern. In current priority function implementation, there are two patterns:
- map/reduce
- one whole function

There are still three priority funcions(the whole one) named `CalculateSpreadPriority`  `CalculateInterPodAffinityPriority` `CalculateAntiAffinityPriority` hadn't use map/reduce pattern.

I have completed one refact

[2017-08-28 08:06] startopscollab commented on #51451
I wanted to provide it but I realized I deleted it. Will write new one and if this occurs again I will post it here.

[2017-08-28 08:34] mashayev commented on #50245
Hey,
Can anyone help ?

[2017-08-28 08:34] k82cn commented on #51455
/sig scheduling

[2017-08-28 08:35] shiywang commented on #25592
hi @nikhiljindal

I'm working on this [TODO](https://github.com/kubernetes/kubernetes/blob/b776df8a20444568614804791d24e64cc3fee0be/pkg/kubectl/cmd/cmd.go#L201), and pr here: https://github.com/kubernetes/kubernetes/pull/51324

I will add a detect function which return a value like `isFedrationCluster` with discoveryClient, if `isFedrationCluster == true` will always use the federation clientset a

[2017-08-28 08:55] shyamjvs commented on #51433
Sent out the above PR fixing it. Thanks for the info.

[2017-08-28 09:19] ash2k opened #51457 "Poor error handling in scheme construction code"
**What happened**:
As an example `k8s.io/apimachinery/pkg/apis/meta/v1/register.go` - `AddToGroupVersion()`:
[code]
The function should probably propagate that error as a return value.

Another example is `init()` in the same file:
[code]
`init()` should probably panic on error.

Client-gen produces scheme construction code that also misses error handling. For example:
`staging/src/k8s.io/client-g

[2017-08-28 09:20] xiangpengzhao commented on #47221
This is fixed by #47336. PATCH issue is tracked in #47249. I'm going to close this one.

/close

[2017-08-28 09:20] #47221 closed

[2017-08-28 09:32] gmarek commented on #51433
A thought - we should have documented "normal" in memory sizes of objects for each type. It'd make easier to estimate supposed memory usage (here .6MB per Node sounds quite a lot for me if we assume 30 Pods/Node). Also we don't create any ingresses in the test...

[2017-08-28 09:44] shyamjvs commented on #51433
@smarterclayton @wojtek-t Maybe we should consider moving the l7-lb controller to controller-manager given that it is doing such heavy watches (i.e underlying stores of nodes and pods can be quite big). We'll save with shared informers. WDYT?

[2017-08-28 10:31] akgunjal commented on #50521
@jingxu97 : The change we plan to do in our dynamic provisioner.

@jsafrane : Since we are not able to root cause or reproduce this issue and also there is no possible causes from community we are trying to prevent it as much possible.

[2017-08-28 10:58] wojtek-t commented on #51433
This is google-specific, so definitely not now.
Once we will get to the world where every cloud-spefic providers are extracted to cloud-controller-manager and we will have the one that is specific to Google, the probably yes.

[2017-08-28 11:35] dims commented on #50695
@kubernetes/goog-image Can you please take a look?

@liggitt found another issue/comment : https://github.com/kubernetes/kubernetes/issues/30706#issuecomment-241567250

[2017-08-28 11:50] pires commented on #26093
Any updates on making the kubelet depend on less things or at least have it documented somewhere?

[2017-08-28 12:16] shyamjvs commented on #49673
fyi - @wojtek-t @mwielgus

[2017-08-28 12:26] shyamjvs commented on #51433
Makes perfect sense.

Curious if the plan is to have separate controller-manager for cloudprovider or adding it as a part of current one (by some registration or sth)? 2nd one seems more tempting wrt resource usage.

[2017-08-28 12:28] wojtek-t commented on #51433
There will be two separate binaries.

[2017-08-28 12:39] EtienneDeneuve commented on #49387
Same here, I sound incredible to use a complex syntax to only list non running container...

[2017-08-28 12:48] ReSearchITEng opened #51462 "yum upgrade kube* -> overwrites kubelet.service.d/10-kubeadm.conf"
**Is this a BUG REPORT **:

/kind bug

**What happened**:
yum upgrade kube* from 1.7.0 to latest 1.7.4

**What you expected to happen**:
keep existing config

**How to reproduce it (as minimally and precisely as possible)**:
1. Install older kube* (e.g. 1.7.0) (in my case I used some time back ansible: https://github.com/reSearchITEng/kubeadm-playbook/ ) to install k8s cluster with kubeadm and cus

[2017-08-28 13:16] k82cn commented on #51454
/assign

Let me check what happened.

[2017-08-28 13:16] k82cn commented on #51454
/sig apps

[2017-08-28 13:39] hzxuzhonghu opened #51464 "daemonset exists 2 pods on one node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when use kubectl delete one pod pod1 on node, then another pod2 running, pod1 in terminating status.

**What you expected to happen**:

two pods belong to one daemonset should not exist simutaneously.
**How to reproduce it (as minimally and precisely as possible)**:

kubectl delete pod1
kubectl get pod
**Anything else we need to kno

[2017-08-28 13:45] hzxuzhonghu commented on #51464
in many case, this may cause conflict if they use same resource or something else. Why not start a new pod, when the old one is totally deleted? any other considerations?

[2017-08-28 13:53] andrew80k commented on #45727
So I removed all the VM's started it over and followed the directions again, and it just worked...  sigh.  Not sure what I did wrong...

[2017-08-28 13:54] PI-Victor commented on #32865
sadly (for me) this was actually fixed 9 months ago. you can no longer set an image for a non pod spec resource. see https://github.com/kubernetes/kubernetes/blame/master/pkg/kubectl/cmd/util/factory_client_access.go#L245

[code]
I believe this also will apply to origin after that rebase. I can check origin as well.

closing this.

[2017-08-28 13:54] #32865 closed

[2017-08-28 14:01] anteyk commented on #44200
Hi, @jstoja
We switched to ubuntu 16.04 and other version of kubernetes
`Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4", GitCommit:"7243c69eb523aa4377bce883e7c0dd76b84709a1", GitTreeState:"clean", BuildDate:"2017-03-07T23:53:09Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"

[2017-08-28 14:41] jiaxuanzhou commented on #51452
/area kubelet

[2017-08-28 14:42] jiaxuanzhou commented on #51452
/sig node

[2017-08-28 14:43] jiaxuanzhou commented on #51464
@hzxuzhonghu
please try kubectl delete pod {podName} --grace-period=0 --force

[2017-08-28 14:44] jiaxuanzhou commented on #51464
/area kubectl

[2017-08-28 14:48] jiaxuanzhou commented on #51464
/area controller-manager

[2017-08-28 14:48] p0lyn0mial commented on #47868
@deads2k please close the issue as it has been implemented and I don't have sufficient rights.

[2017-08-28 14:50] dims commented on #47868
/assign

[2017-08-28 14:50] dims commented on #47868
/close

[2017-08-28 14:50] #47868 closed

[2017-08-28 14:55] dixudx commented on #51464
/sig cli

[2017-08-28 14:56] dixudx commented on #51462
/sig release

[2017-08-28 15:09] andreychernih commented on #51432
I am using kops, it deploys kube-proxy as a static Pod.

[2017-08-28 15:27] hzxuzhonghu commented on #51464
i donot want force delete

[2017-08-28 15:27] hzxuzhonghu commented on #51464
i donot want force delete

[2017-08-28 15:32] dixudx commented on #51430
@mindprince @vishh IIUC, our `LimitRange` has enabled the default value but failed to enforce the policies. If no one is working on this, I'd like to add some validations on the enforcement of `LimitRange`.

Actually from the source code,

[code]

`limits.Default` actually stands for limit value.

This operation should be rejected for `x>512Mi`, since `limits.Default=512Mi` has been set. Right?

A

[2017-08-28 15:42] kow3ns commented on #50808
The extensions/v1beta1 and apps/v1beta1 group versions implement inconsistent semantics for selector mutation across the workloads API surface. Let's leave out batch/v1/Job (which implements something completely different as well).

|Deployment|DaemonSet|StatefulSet|
|:--------:|:-------:|:---------:|
| mutable  | mutable | immutable |

For Deployments, we know that we don't handle mutations to th

[2017-08-28 15:43] sbezverk commented on #50695
It looks like it is known kernel bug and it seems there is a fix but I do not think it was pushed upstream. See this post and the link to the proposed diff. if somebody has access to the test bed where this issue happens, would be interesting to path the kernel and rerun this test to reconfirm.
https://serverfault.com/questions/709926/bug-unable-to-handle-kernel-null-pointer-dereference-at-on-goog

[2017-08-28 15:56] mindprince commented on #51430
No, it should not be rejected. In the example above, `LimitRange` was not supposed to do any enforcement. I only set the default fields (`Default` and `DefaultRequest`) in the `LimitRange`. Enforcement is supposed to be done only when you set the min/max fields (`Min` and `Max`).

[code]

[2017-08-28 16:05] mml commented on #51355
@jpbetz awesome.  Thanks for separating the changes.

[2017-08-28 16:14] yujuhong commented on #45368
The debian-based CVM images has been deprecated. I don't know if anyone is going to cut a new patch release to fix this.
@abgworrall @dchen1107, would it be possible to patch the CVM image or should we start removing testing for CVM?

[2017-08-28 16:22] khenidak commented on #47623
Thanks for reporting this one.

This behavior has been fixed in the new plugin. The plug-in is available in v 1.7.2++ . The new plugin check if there is a lease on the disk before attempting to attach it.

[2017-08-28 16:33] dims commented on #51453
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

Thanks for taking the time to report an issue to us. In the past this tracker has housed both bug reports and user support requests, we are now only using this tracker for software defects and feature tracking.

We are trying to consolidate the channels to which questions for help/support
are p

[2017-08-28 16:33] dims commented on #51453
/assign

[2017-08-28 16:33] dims commented on #51453
/close

[2017-08-28 16:33] #51453 closed

[2017-08-28 16:35] andreychernih commented on #51432
I found that the only way to bring kube-proxy back is to restart kubelet. We will be running the following command periodically on all instances as a workaround:

[code]

But I was really surprised to see critical pod has been evicted by Kubernetes.

[2017-08-28 16:50] abgworrall commented on #45368
I believe we can't easily remove testing, as users will be using CVM for a fair while even after deprecation. But as per kewu1992 above, we don't actually have a patch for this issue on CVM; figuring that out is a chunk of work that is not likely to happen at this point in CVM's lifecycle.

For @liggitt's e2e-specific problem ... I think for CVM-specific testing, we should figure out what makes se

[2017-08-28 17:09] #51433 closed

[2017-08-28 17:14] msau42 commented on #49911
I will work on a fix.  I think it should be simple and is a matter of not converting the resource quantities to int64 before comparison.

[2017-08-28 17:19] msau42 commented on #48081
Can you open a new issue and post logs from the API server and PV controller?

[2017-08-28 17:43] divyenpatel commented on #50802
On the Node VM (Docker Host), we have mkfs.ext4 available at /usr/sbin/.
We mounted /usr/sbin/ and /usr/lib/ from the docker host to the kubelet container and we are able to mount and format volume successfully.

[code]

This is only happening if we build kubernetes from the master branch.

if we we use following builds on the node VM created from the same docker host, without requiring to mount /

[2017-08-28 17:50] liggitt commented on #45368
+1

[2017-08-28 17:52] foxish commented on #29698
We are blocked on this. Tracking the items that need to be resolved first:

- [ ] Subresource kind determination (https://github.com/kubernetes/kubernetes/pull/49971)
- [ ] Implementation of a generic scale client.

cc @DirectXMan12 @deads2k

[2017-08-28 18:08] Techwolfy commented on #51354
I'm not using any CNI plugins. The master (Linux) node has `--network-plugin=kubenet`, and the Windows node with the issue has `--network-plugin` unset. The network is configured manually (outside of Kubernetes) on each node.

[2017-08-28 18:30] bowei commented on #51326
`3339386563373339.devo-ui.dev.svc.cluster.local.` is an A record, so you need to resolve it to get the IP address. This is the same as your active directory example, as `ad2.example.com.` will also need to be resolved to get the IP address.

[2017-08-28 18:42] sbourlon commented on #41711
Hi @bgrant0607, is this feature on the roadmap? It would be nice to have something similar to the docker-compose `env_file` (https://docs.docker.com/compose/environment-variables/#the-env_file-configuration-option) as described by @deitch.

[2017-08-28 19:03] verult opened #51470 "Flexvolume Dynamic Plugin Discovery"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

Previously, Flexvolume drivers can only be discovered by Kubernetes at system initialization time. Add capability for them to be discovered on the fly.

Proposal: https://github.com/kubernetes/community/pull/833

[2017-08-28 19:03] verult commented on #51470
/sig storage
/assign

[2017-08-28 19:08] vinayk06 commented on #33714
Ran into same issue several times in v1.5.6_coreos.0 when deploying helm charts from Jenkins.
curious: @discordianfish @rgolangh @FrankYu  @all how are you deploying pods? I mean using Helm charts, just yaml, compose....  are you trying to using Jenkins/Teamcity like tools?

[2017-08-28 19:34] Cryptophobia commented on #50622
@discordianfish : How did you ultimately fix this issue? We are getting the same message when deploying with kops and we think its a DNS issue but we keep getting this error in the kube-apiserver.log file.

[2017-08-28 19:41] jdumars commented on #51048
Should this still be open, @pwittrock ?

[2017-08-28 20:00] yujuhong commented on #45368
AFAIK, we don't any CVM-specific test. Many tests suites are duplicated for both CVM and COS to have full test coverage.  Also, CVM is the *default* OS image for bringing up a GCE cluster.

I think the questions are 1) can we change the GCE default to a non-CVM image? and 2) what's the acceptable minimum test coverage for CVM?

[2017-08-28 20:01] #51123 closed

[2017-08-28 20:20] yujuhong commented on #51452
Seems to be introduced by #39535. /cc @kubernetes/sig-storage-bugs

/sig storage

[2017-08-28 20:24] derekwaynecarr commented on #51013
@ncdc @ironcladlou -- this is happening all the time for me in normal development process.

[2017-08-28 20:27] timothysc commented on #26507
The alternative to this is to fill out events and use them as the means of tracing work through the system.

[2017-08-28 20:27] ncdc commented on #51013
Will try to submit a fix tonight.

On Mon, Aug 28, 2017 at 4:25 PM Derek Carr <notifications@github.com> wrote:

[2017-08-28 20:56] julianvmodesto opened #51475 "don't require API server connection for `kubectl create configmap ... --dry-run`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
[code]

**What you expected to happen**:
Ideally, I expect that no connection to the Kubernetes API server should be needed to create a ConfigMap with `--dry-run`.

**How to reproduce it (as minimally and precisely as possible)**:
Run the above command with no connection to a Kubernetes cluster.

**Anything else we ne

[2017-08-28 20:58] derekwaynecarr opened #51476 "Invalid pod spec can exhaust compute quota"
/kind bug

**What happened**:
user submitted a pod with an invalid pod spec via a custom controller.

quota was exhausted as object validation happens after admission.

**What you expected to happen**:
this is a known limitation of the design today, what i would like to do is validate the pod spec in the interim to cover a broader set of invalid pod scenarios to mitigate the impact to users today

[2017-08-28 20:58] derekwaynecarr commented on #51476
/sig api-machinery

[2017-08-28 21:00] lavalamp commented on #51290
I would like to see a clear, concrete use case for this.

[2017-08-28 21:02] lavalamp commented on #51306
/sig apps
/sig storage

[2017-08-28 21:05] lavalamp commented on #51422
@mbohlool was thinking along the lines of an API style linter, this could be one thing it checks.

[2017-08-28 21:05] speedplane commented on #35941
Until this feature request is implemented, are there any recommended work-arounds to get resizing to work? After resizing the disk, do we need to log into each instance manually and run `resize2fs`? If we do so, will Kuberenetes automatically recognize the newly added space?

[2017-08-28 21:07] lavalamp commented on #51457
cc @caesarxuchao

[2017-08-28 21:08] lavalamp commented on #51476
I agree this sounds like a bug!

cc @caesarxuchao

[2017-08-28 21:18] julianvmodesto commented on #51475
/sig api-machinery
/sig cli

[2017-08-28 21:22] yujuhong commented on #51427
That's my question too. Why does cri-o use kubenet directly? /cc @freehan

[2017-08-28 21:34] abgworrall commented on #45368
Yep, you nailed it.

@mtaufen was thinking that some subset of tests were legitimately trying to test CVM, but relied on it being the default OS; and so changing the default would subvert those tests. But at this point in the lifecycle of CVM, combined with CVM itself becoming unstable for testing, maybe changing the default is the right thing to do.

[2017-08-28 21:45] cblecker commented on #49484
Based on our current time frame, it looks like go1.9 support will have to slip to k8s 1.9. https://github.com/kubernetes/kubernetes/pull/51375 is open to dig into and start things testing, but there's a number of things that have to move.. I'll try to document those this time around to help with future go version bumps.

So far:
- bazel build rules needed to be updated to support go1.9 (https://gi

[2017-08-28 22:14] yujuhong commented on #45368
@mtaufen do you have some examples? Would be good to have a list. My guess is some test was written when we had only CVM, but that does not necessarily mean that we don't want to test it with other OS images.

If we simply reverse CVM and COS tests, we'd still end up with many tests running for CVM. I think we can keep the CVM tests for older branches, but it should be ok to remove tests in HEAD.

[2017-08-28 22:27] MrHohn commented on #48437
@lin99shen After poking around, I believe `pod.nodeName` is filled by scheduler using `node.name`:

In `PrioritizeNodes()`:
https://github.com/kubernetes/kubernetes/blob/f715b26d9ca069d2d49da1e748a706a64a02db34/plugin/pkg/scheduler/generic_scheduler.go#L342-L347
https://github.com/kubernetes/kubernetes/blob/f715b26d9ca069d2d49da1e748a706a64a02db34/plugin/pkg/scheduler/generic_scheduler.go#L389-L39

[2017-08-28 22:30] MrHohn commented on #48437
@pnuzyf Are you having the same issue that your endpoints use the IP address as hostname (https://github.com/kubernetes/kubernetes/issues/48437#issuecomment-323867755), or are you seeing a different behavior?

[2017-08-28 22:34] dnardo commented on #38890
@feiskyer  There is a plan, some work has been done already to do this.  We will most likely target 1.9 for this since it's not super urgent to get in.

[2017-08-28 22:34] derekwaynecarr commented on #51476
I have a pr in flight to mitigate the issue, but I would like kube 1.9 to
see if we can call validate before and after invocation of admission chain.

On Mon, Aug 28, 2017 at 5:09 PM Daniel Smith <notifications@github.com>
wrote:

[2017-08-28 22:43] lin99shen commented on #48437
Yes, IP address is my node name. I restarted kube-proxy with --override-hostname (the ip address), the feature works now.

[2017-08-28 22:44] MrHohn opened #51478 "pull-kubernetes-federation-e2e-gce is failing"
Ref: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-federation-e2e-gce?

PR job seems started failing since 11:39 AM today.

Sample error message from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50099/pull-kubernetes-federation-e2e-gce/23847/:
[code]

/sig federation
/priority failing-test
@kubernetes/kubernetes-build-cop

[2017-08-28 22:47] MrHohn commented on #51478
cc @kubernetes/sig-federation-bugs

[2017-08-28 22:50] mengqiy commented on #47249
@xiangpengzhao https://github.com/kubernetes/kubernetes/pull/46161 and https://github.com/kubernetes/community/pull/476 are trying to solve this issue. But they will not get in in 1.8 :(

[2017-08-28 22:53] mtaufen commented on #45368
Discussed offline - in short, it should be ok to disable a lot of the CVM tests, or move them to COS, as long as we continue to test the upgrade paths from CVM to other OS distros.

[2017-08-28 23:16] MrHohn commented on #51379
@NickrenREN  It seems this specific error (`incorrect source ranges`) is not occurring after 8/26/2017, do you mind closing this issue?

Ref: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=should%20have%20correct%20firewall%20rules

[2017-08-28 23:27] catherinetcai commented on #51290
@lavalamp - I'd prefer for initializers to not be applicable to the kube-system namespace, hence my desire for initializers that apply to specific namespaces. If apiserver were to crash and the sidecar that runs with the initializer doesn't come up for some reason, then pods in the kube-system namespace potentially get stuck for forever. That's not desirable behavior.

[2017-08-28 23:34] guangxuli commented on #51427
/cc @miaoyq

[2017-08-28 23:45] guangxuli commented on #51464
/cc

[2017-08-28 23:47] verult opened #51481 "pull-kubernetes-e2e-gce-gpu flaking"
/kind bug

Got two different failure scenarios:
1. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51281/pull-kubernetes-e2e-gce-gpu/1976/
2. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51281/pull-kubernetes-e2e-gce-gpu/1981/

/cc @jiayingz @mindprince @vishh
Please reassign if the above is wrong. Thanks!

[2017-08-28 23:51] vishh commented on #51481
Both these failures seems to be test infra issues IIUC. There are no failures in the GPU related logic.

[2017-08-28 23:51] mindprince commented on #51481
/cc @BenTheElder

[code]

[2017-08-28 23:53] mindprince commented on #51481
Seems like it's fixed in https://github.com/kubernetes/test-infra/pull/4223

[2017-08-28 23:55] tcharding commented on #51253
`TestApps` fails when run by `k8s-ci-robot`. Stress testing `TestApps` runs >1000 times locally without any errors.

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51332/pull-kubernetes-unit/50119/

[2017-08-29 00:03] jpbetz commented on #45974
@hongchaodeng We've got an early version of this db inspection tool. I've sent you, @xiang90  and @heyitsanthony invites to the repo.

I'll submit the repo as a kubernetes incubator project shortly. Are any of you interested in being listed as a contributor as part of the incubator project creation request? (It's helpful to have engineers from more than just one company on project requests)

[2017-08-29 00:04] BenTheElder commented on #51481
Yes, the PR GPU job had a flake with reusing a build which is a new feature that all e2e jobs will use soon. Hopefully it should be fixed now.

[2017-08-29 00:06] crimsonfaith91 opened #51484 "replicaset integration tests have to be revamped"
**Background**
As part of GA goal of core controllers, unit, integration, e2e, cmd, and upgrade tests of replicaset have to be revamped based on test plan guidelines suggested by @enisoc. This issue lists all necessary tasks for integration tests, including conversion of some unit and e2e tests to the integration tests. Tasks for other types of tests are covered by #52118.

**Integration Test**
-

[2017-08-29 00:12] liggitt commented on #51290
Omitting a namespace (and possibly selector within that namespace) for purposes of unblocking an initializer running on the platform could make sense to me

[2017-08-29 00:27] catherinetcai opened #51485 "Setting pending initializers to empty in deployment/replicaset/daemonset pod template is ignored in pods"
/kind bug

**What happened**:
I created an initializer that applies to pod resources. Then, I created a deployment, and under the pod template, set pending initializers to an empty array as follows:
[code]
The deployment created a replicaset that fails with the following error message: `Error creating: Timeout: request did not complete within allowed duration`.

The pod is created in the uninitial

[2017-08-29 00:31] liggitt commented on #51485
Initializers are not intended to be set by the incoming API request but by the Initializers admission plugin

[2017-08-29 00:31] yguo0905 opened #51486 "Summary API: [Container|Pod]Stats.StartTime does not contain the expected data"
The comments of both [PodStats.StartTime](https://github.com/kubernetes/kubernetes/blob/a64eeb47f6ed4aa2587113793a76878b876809f9/pkg/kubelet/apis/stats/v1alpha1/types.go#L83-L84) and [ContainerStats.StartTime](https://github.com/kubernetes/kubernetes/blob/a64eeb47f6ed4aa2587113793a76878b876809f9/pkg/kubelet/apis/stats/v1alpha1/types.go#L104-L105) indicate that the `StartTime` is timestamp at which

[2017-08-29 00:31] tcharding commented on #38761
Woops, I duplicated @adohe's  PR before I saw it had already been done. Sorry for the noise, I'll close mine and leave this one since it was first.

[2017-08-29 00:37] tcharding commented on #38761
Is this still active?

[2017-08-29 00:42] nikhiljindal commented on #51478
cc @madhusudancs the oncall this week.

Cant get any idea why its failing from the logs.

[2017-08-29 00:42] tcharding commented on #51253
Hit this again here
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51001/pull-kubernetes-unit/50133/

[2017-08-29 00:44] nikhiljindal commented on #51478
cc @kubernetes/test-infra-maintainers in case something in test infra changed that could be causing this.

[2017-08-29 00:48] yujuhong commented on #51486
@piosz do you know which definition of `StartTime` heapster assumes, or does this even concern heapster at all?

[2017-08-29 00:49] oomichi commented on #46222
I also am still facing this issue with a single operation of this unit test like

$ make test WHAT=k8s.io/kubernetes/pkg/controller/node/scheduler
[..]
--- FAIL: TestUpdateNodeWithMultiplePods (2.59s)
        taint_controller_test.go:485: Starting testcase "Pods with different toleration times are evicted appropriately"
        taint_controller_test.go:511: Sleeping for 499.999795ms
        taint_

[2017-08-29 00:50] krzyzacy commented on #51478
https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-federation-e2e-gce

there's no infra change between the last successful and first failed run - I'll check from main repo

[2017-08-29 00:52] xiangpengzhao commented on #47249
Thanks @mengqiy! I will wait for it at the next milestone:)

[2017-08-29 00:52] feiskyer commented on #47800
Also reproduced the problem by fetching container logs in multiple processes. #50381 should fix the problem.

[2017-08-29 00:56] yujuhong opened #51487 "Deprecate debian-based CVM for GCE"
The debian-based CVM image is going to be deprecated in September.

We should:
 1. Change the default OS image for GCE cluster setup script. This means that all the GCE CI builds will use the new default OS image.
 2. Add deprecation warning to the cluster setup script if CVM is specified.
 3. Maintain the node e2e test coverage for CVM for 1.8.

/cc @abgworrall @dchen1107 @mtaufen

[2017-08-29 00:57] krzyzacy commented on #51478
It looks like the federation control plane up is timed out?

[2017-08-29 01:00] MrHohn commented on #51478
And federation control plane's logs is empty...

Ref: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/50099/pull-kubernetes-federation-e2e-gce/23847/artifacts/federation/

[2017-08-29 01:07] NickrenREN opened #51489 "Pod local ephemeral storage usage bug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Introduced by pr #50889:
We use `podDiskUsage` to calculate pod local ephemeral storage which is not correct, because `podDiskUsage` also contains `HostPath` volume which is considered as persistent storage

**What you expected to happen**:
Just calculate local ephemeral storage usage

/sig storage
/sig node

/assign @Nic

[2017-08-29 01:07] MrHohn commented on #51255
Currently the implementation of `externalTrafficPolicy=Local` lays most of the logics on kube-proxy instead of service controller, and service controller has no information about which backend pod is on which node because it doesn't watch pods at all.

For making service controller watch pods, you may want to read the discussions on https://github.com/kubernetes/kubernetes/issues/44203.

[2017-08-29 01:22] oomichi commented on #46222
The above my comment comes from virtualbox env on Windows PC.
After the above comment, I tried to do this on physical machine and this failure seems to depend on env performance.

[2017-08-29 01:26] fankangbest commented on #48081
@msau42
This issue happened once when we reboot the whole cluster (with three masters for high availability) about forty times. I will try to recurrent this issue with a easier way. Our temporary solution is to ensure there is no err happens when exucuting initializeCaches(), which is located in /pkg/controller/volume/persistentvolume/pv_controller_base.go :
The original code is:
[code]
Modified c

[2017-08-29 01:27] NickrenREN commented on #51379
@MrHohn  sure, thanks

[2017-08-29 01:28] ncdc commented on #51013
I opened https://github.com/kubernetes/kubernetes/pull/51492 to try to fix this

[2017-08-29 01:29] MrHohn commented on #51379
Thanks!

[2017-08-29 01:39] BenTheElder commented on #51481
Once https://github.com/kubernetes/test-infra/pull/4227 gets picked up things should be fixed. I'm still monitoring this.
/assign

[2017-08-29 01:42] msau42 commented on #48081
Hi @fankangbest this sounds like a potential error condition that could be unit tested.  Would you like to open up a PR and we can discuss the best fix?

[2017-08-29 01:43] sam-untapt commented on #25408
@nmrony Did you find the root cause? I am seeing the same issue (although I am pulling my image from gcr.io)

[2017-08-29 01:46] post707 commented on #50357
@xiangpengzhao Have you solved your problem?I've had this problem, too

Aug 28 20:37:29 k8snode2 kubelet: I0828 20:37:29.456214    2441 kuberuntime_manager.go:458] Container {Name:operate Image:docker.gaia/docker/operate/image Command:[] Args:[] WorkingDir: Ports:[{Name: HostPort:0 ContainerPort:8080 Protocol:TCP HostIP:}] EnvFrom:[] Env:[{Name:CONFIG_SERVER_URL Value:http://192.168.1.15:8888 Valu

[2017-08-29 01:51] BenTheElder commented on #51481
I have a PR out to revert using shared builds since rolling out an updated CI image will take a bit longer and the patch to kubetest needs to be rolled out.

[2017-08-29 01:53] zjj2wry commented on #51475
/assign

[2017-08-29 01:56] jiaxuanzhou commented on #51096
@chrissound
what happens when the "host" set to "127.0.0.1" ?

[2017-08-29 02:01] fotinakis commented on #16779
I think this is fixed in 1.6+?

https://github.com/kubernetes/kubernetes/pull/37953 implemented this on a pod:

[code]

Also see: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

[2017-08-29 02:12] post707 commented on #45626
I had the same problem，Can only upgrade the version of k8s to solve？

Aug 28 20:37:29 k8snode2 kubelet: I0828 20:37:29.456214 2441 kuberuntime_manager.go:458] Container {Name:operate Image:docker.gaia/docker/operate/image Command:[] Args:[] WorkingDir: Ports:[{Name: HostPort:0 ContainerPort:8080 Protocol:TCP HostIP:}] EnvFrom:[] Env:[{Name:CONFIG_SERVER_URL Value:http://192.168.1.15:8888 ValueFrom

[2017-08-29 02:13] xingzhou commented on #48738
@alexandercampbell, after some look at the code, I'm planning the following changes in the code, to discuss with you first:

1. Merge `printers.PrintOptions` and `printers.OutputOptions` into new `printers.PrintOptions` which can cover all the option fields provided by these two structs. This change can simplify the code, as now, many of the printing related methods depend on both of these two opt

[2017-08-29 02:16] jenningsloy318 commented on #51446
By edit /etc/systemd/system.conf file, replace
`#JoinControllers=cpu,cpuacct net_cls,net_prio`
with
`JoinControllers=cpu,cpuacct,cpuset,net_cls,net_prio,hugetlb,memory`

this issue is fixed.

[2017-08-29 02:16] #51446 closed

[2017-08-29 02:25] zjj2wry commented on #51475
@julianvmodesto dry-run will connect api-server to validate namespace and  manifest. but it will not create configmap in api-server.

[2017-08-29 03:11] msau42 commented on #48081
cc @jsafrane

[2017-08-29 03:16] hzxuzhonghu commented on #51464
link [Ensure that DaemonSet respects termination #51279](https://github.com/kubernetes/kubernetes/pull/51279)

[2017-08-29 03:20] niuchp opened #51496 "some error print by kubelet & docker"
My cluster look like health, but the docker&kubelet print many error log.

journalctl -u kubelet -r
[code]
journalctl -u docker -r
[code]
**Environment**:
- Kubernetes version: 1.6.1 \1.7.3
- OS : redhat 7.3
- Kernel :  4.12.8-1.el7.elrepo.x86_64
- Docker: 1.12.6\1.13.1
- Docker Storage driver : overlay2

**what did i do**
1、I tried to change different versions of the kube & docker，like:
kube1.6.1

[2017-08-29 03:30] catherinetcai commented on #51485
@liggitt Can you clarify this? I'm following Kelsey Hightower's initializer [tutorial](https://github.com/kelseyhightower/kubernetes-initializer-tutorial), except instead of applying it to deployments, I'm applying it to pods. The initializer sidecar he wrote was [deployed](https://github.com/kelseyhightower/kubernetes-initializer-tutorial/blob/master/deployments/envoy-initializer-with-annotation.

[2017-08-29 03:31] madhusudancs commented on #51478
Sorry, looking at it now. I am technically away today :P

[2017-08-29 04:48] madhusudancs commented on #51478
Tests should be working now. We ran out of PD quota.

[2017-08-29 05:21] xiang90 commented on #45974
@jpbetz thanks. will take a look shortly.

[2017-08-29 05:24] beast commented on #33483
Hi, all. Not sure if this is relevant but I am trying to setup ILB in Gcloud container engine with the quick start hello-web example. Docs I followed: [ILB](https://cloud.google.com/container-engine/docs/internal-load-balancing), [Quick Start](https://cloud.google.com/container-engine/docs/quickstart)

When I follow the quick example to have an external load balancer created, everything is working

[2017-08-29 05:43] thockin commented on #34508
@DirectXMan12 That's my main concern.  I can buy that beta fields should not be renamed, so beta -> GA is smooth, but I suspect alpha fields will have a lower success rate.  I guess we'll wait and see.

Additionally, there's no indication that you're using a beta field, which I dislike.  But alas, there are not enough hours in the week to hold strong opinions on everything, so I put my trust in th

[2017-08-29 06:03] #51243 closed

[2017-08-29 06:20] tbchj commented on #47131
also have the same question. any solution ?  I checked  log find many line like:
E0812 19:02:48.536491      24 watcher.go:188] watch chan error: etcdserver: mvcc: required revision has been compacted

k8s version: 1.7.2
etcd version: 3.0.15

and also have a strange queation.
I created some pod, but etcd record nothing except network config record.
use "etcdctl ls /" ,I didn't see any records  abou

[2017-08-29 06:22] m1093782566 opened #51499 "kube-proxy panic because of service sessionAffinityConfig is nil"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

upgrading k8s to latest version, but keep the data in etcd, especially the services which session affinity type is ClientIP. Then kube-proxy panic because of service sessionAffinityConfig is nil.

**What you expected to happen**:

backward compatible with latency services.

**How to reproduce it (as minimally and precise

[2017-08-29 06:22] m1093782566 commented on #51499
/sig network

[2017-08-29 06:22] sttts commented on #48152
This is done.

[2017-08-29 06:22] #48152 closed

[2017-08-29 06:22] m1093782566 commented on #51499
/area kube-proxy

[2017-08-29 06:22] m1093782566 commented on #51499
/assign @m1093782566

[2017-08-29 06:23] sttts commented on #48428
With kube-aggregator integrated into kube-apiserver, is this still relevant?

[2017-08-29 06:26] m1093782566 commented on #51499
/cc @thockin

[2017-08-29 06:27] post707 commented on #51496
@niuchp
这问题是不是类似啊？

journalctl -u kubelet -r
[code]
journalctl -u docker -r
[code]

[2017-08-29 06:38] niuchp commented on #51496
@post707 Seems likely is caused by the same question.

[2017-08-29 06:41] post707 commented on #51496
@niuchp The problem is so boring that I can't find a solution，Is your version of k8s 1.7？

[2017-08-29 06:52] motymichaely commented on #36499
@msau42 We'd like to have PD-SSD boot disks support as well. Our use case is having large ephemeral pod disks (we can't really use hostPath without manually delete the hostPath content when pod is released, and we'd like to avoid this).

[2017-08-29 06:58] niuchp commented on #51496
@post707 so am i......
1.6.1&1.73

[2017-08-29 06:58] ericchiang opened #51501 "kubectl oidc plugin: some providers (okta) don't return an id_token on refresh"
/kind bug
/sig auth

/assign @ericchiang

Some OpenID Connect providers, namely Okta, don't return an id_token during a refresh[1]. The spec allows this[2] so their not non-compliant, but this means the error message when kubectl hits this case needs to improve[3]. Right now it's just:

[code]

Maybe something long winded, like:

[code]

Also might be worth documenting on kubernetes.io

[1] https:

[2017-08-29 07:04] linjiaxiaolin commented on #51496
I have get this problem in 1.6.0 and troubled by it still 1.7.3.
I have found some other when this error happend,my kubelet can not delete the containerd set up by image named gcr.io/google_containers/pause-amd64:3.0,and sometimes ,I have deleted the pod in a deployment,and a new pod have been created ,but the old  pod are still status Terminating if I don't restart kubelet

[2017-08-29 07:06] piosz commented on #51486
Heapster use `StartTime` to export cumulative metrics to external sinks and to detect duplicated containers (see https://github.com/kubernetes/heapster/pull/1708). Heapster expects it to be set to container creation time, so IIUC the implementation is correct and we need to fix the comment in the API.

[2017-08-29 07:23] WanLinghao commented on #51452
@adityadani  please take a look

[2017-08-29 07:24] yastij commented on #50419
@gmarek @k82cn - started thinking about this one, estimating percentage of nodes passing through each predicates is tied to the cluster.

I think we should have number of scheduling actions before estimating this. The first question is when do we start estimating ?  (i.e when will we have enough data to make a decision)

[2017-08-29 07:25] chrissound commented on #51096
The issue was - the container was taking longer then a second to respond.

[2017-08-29 07:25] #51096 closed

[2017-08-29 08:00] fankangbest commented on #48081
@msau42
It is wrong for "initializeCaches() failed can cause to delete pv". initializeCaches() is a guarantee for store to cache objects. This issue may be triggered by something wrong with claims store and initializeCaches() also fails.
I will open up a new issue when i have a further study about this issue, or some one who is familiar with related code can also check out what condition can cause

[2017-08-29 08:05] #46168 closed

[2017-08-29 08:11] niuchp commented on #51496
/sig node
/area kubelet

[2017-08-29 08:13] kargakis commented on #38761
I don't think there is any work in-flight cc @adohe

[2017-08-29 08:17] jsafrane commented on #48081
@fankangbest do you have the error that caused initializeCaches() to fail? It must have been logged to controller-manager logs.

[2017-08-29 08:26] guydav commented on #43069
Hello,

Any updates regarding this issue? I ran into the exact same problem - my containers can mount GlusterFS volumes running on glusterfs 3.7.6, but cannot mount a newer server running glusterfs 3.10.2. I receive the same errors (from `kubectl describe pod ...`):
[code]
Happy to provide the full details of my environment if it's useful, but I'm running on Azure.

Thanks!

[2017-08-29 08:37] TracyBin opened #51509 "kubelet invalid bearer token"
hi,all
   I deploy kubernetes with 1.6.6. Both master and node are on the same server.
But kubelet cant start and log output is below
[code]
After checking the file, find the same token value
[code]
Please help me!

[2017-08-29 08:40] TracyBin commented on #51509
The startup parameters of the component are as follows

[code]

[code]

[2017-08-29 08:45] humblec commented on #43069
Indeed. The version is really really old .. We even have v3.11 in upstream and these images are 3.5.  @rootfs whom to ping on this ? many users are reporting issues due to this.

[2017-08-29 08:53] lukaszo commented on #44155
The issue was for 1.7 release so I'm closing it.

[2017-08-29 08:53] #44155 closed

[2017-08-29 08:54] zerogjoe commented on #49577
azure.json definitely exists on both masters and agents, in /etc/kubernetes. Presumably both are used as masters and agents have different subnet configurations. I updated both to be safe.

I've just experienced this issue myself on a fresh deployment to Azure using [acs-engine](https://github.com/Azure/acs-engine). Presumably acs-engine needs to be updated to populate the `vnetResourceGroup` attr

[2017-08-29 09:22] #50560 closed

[2017-08-29 09:22] #50151 closed

[2017-08-29 09:23] xingzhou commented on #50454
Had some investigation today, seems now the option `export` is only applied for single resource `get`, @errordeveloper, not sure if you can try the following command:
[code]
for the above one, as it's using generic store object, it should strip the field like `creationTimeStamp`

[2017-08-29 09:32] akostadinov commented on #16779
yes, that has been said in https://github.com/kubernetes/kubernetes/issues/16779#issuecomment-264472133
You can either disable on the pod side or you can also set the option on the service account used for the pod (`default` by default).

[2017-08-29 09:52] discordianfish commented on #50622
@Cryptophobia It's been a "special" setup, but in general you can verify whether it's a DNS issue by using nslookup or dig.

[2017-08-29 09:53] tcharding commented on #38761
I've got spare cycles, if you want me to pick this up @adohe just say.

[2017-08-29 10:04] fankangbest commented on #48081
[kube-controller-manager.zip](https://github.com/kubernetes/kubernetes/files/1259885/kube-controller-manager.zip)

[2017-08-29 10:15] yastij commented on #49625
@rootfs - from what i read, work on volumes will be the very last one implemented.

I think that the following extraction and refactoring will ease hugely the work when we'll get there, don't you think ?

[2017-08-29 10:20] #48515 closed

[2017-08-29 10:21] yastij commented on #50926
Sorry for the delay guys :)

[2017-08-29 10:54] dims commented on #51509
/sig auth

[2017-08-29 11:08] FengyunPan commented on #50926
@yastij Have you implemented them for gce?

[2017-08-29 11:15] #51319 closed

[2017-08-29 11:17] zioproto commented on #49414
I still see the bug with `v1.7.4`

My config looks like:
[code]
This is what I see in the Events

[code]

This was working as expected in `v1.6.4`

Should this bug be reopened ?

[2017-08-29 11:19] inetfuture opened #51516 "kubelet 1.6.4 not deleting unused images when eviction-soft imagefs threshold met"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

unused images does not get deleted

**What you expected to happen**:

unused images get deleted

**How to reproduce it (as minimally and precisely as possible)**:

- configure kubelet with these args:

[code]

**Anything else we need to know?**:

when using above config, the node's events history showing:

[code]

If I c

[2017-08-29 11:23] AndreaGiardini commented on #50151
When should we expect a release containing this fix?

[2017-08-29 11:24] inetfuture commented on #51516
@kubernetes/sig-node-bugs

[2017-08-29 11:24] yastij commented on #50926
Intending to work on it tonight, but if you have something I can work on azure

[2017-08-29 11:26] inetfuture commented on #51516
/sig area/kubelet

[2017-08-29 11:32] dims commented on #49414
Apparently bug still not fixed with #47602, reopening

/reopen

[2017-08-29 11:39] dims commented on #49414
@rootfs Can you please take a look? (based on your experience in https://github.com/gophercloud/gophercloud/issues/384 )

[2017-08-29 11:52] zioproto commented on #49414
I apologize. I noticed the container `kube-controller-manager` did not restart and did not pickup the new `[BlockStorage]` config.

I restarted that container manually with Docker commands.

I confirm `bs-version = v2` is a working workaround also for `v1.7.4`

[2017-08-29 12:01] tetramin commented on #48924
I have some issue on 1.7.2
[code]

[2017-08-29 12:04] ncdc commented on #51445
This is likely going to be covered by the fix for #22609 / proposal https://github.com/kubernetes/community/pull/939.

[2017-08-29 12:06] ncdc commented on #51445
Or maybe this is a slightly different issue?

[2017-08-29 12:25] FengyunPan commented on #50926
Yes, I have prepared for GCE.

[2017-08-29 12:33] soltysh commented on #28486
@clamoriniere1A basically I agree with all you've said. But the biggest problem is how to know which pods you've already calculated and which not. We need to make sure we hold some information about state of the job, so that we don't include one pod multiple times. It looks simple but is not. We can think discuss this more during next release, I'm hoping to push this forward in 1.9 (maybe).

[2017-08-29 12:35] jsafrane commented on #48081
Thanks, I can see:
[code]

Question is, why PVs work and the controller can list them and get events and PVCs don't. The first event from a PVC arrived ~26 minutes after start!

Anyway, this bug should be fixed in 1.6.x by https://github.com/jsafrane/kubernetes/commit/e63fcf708d104bf6c69033ca0e2321bd826c2b40

[2017-08-29 12:37] soltysh commented on #27997
There's https://github.com/kubernetes/community/pull/583 addressing this issue, along with the implementation in #48075 and #51153.

[2017-08-29 12:42] jsafrane commented on #50521
@akgunjal, today I discovered https://github.com/kubernetes/kubernetes/issues/48081 that has similar symptoms. It is related to controller-manager startup though - do you remember restarting the controller-manager process before the bug appeared?

In case you still have the controller logs from time where the bug appeared, can you check if you see `PersistentVolumeController can't initialize cache

[2017-08-29 12:43] soltysh commented on #22207
I'm not 100% sure that CronJob api currently returns any type of information wrt to job failures. First thing, we don't allow job failures, yet. See https://github.com/kubernetes/community/pull/583 for a solution to this problem. Once we have this in it's worth working on returning such information to users, either via conditions or events. I doubt we do right now. But we should and that's the dir

[2017-08-29 12:53] ash2k opened #51521 "Unstructured codec's Encode() method mutates object (potential data race)"
**What happened**:
Lines 705-706 mutate the object but encode method should probably be only reading the source object. Otherwise it can lead to data corruption in concurrent environment because it is a data race. Users of this method probably do not expect such behaviour and it is not documented.

https://github.com/kubernetes/kubernetes/blob/1b3836d5df302281a9db4b03bdc8fd5079142431/staging/src/k

[2017-08-29 13:07] walterrenyan opened #51525 "kubectl create deployment, and container in cluster run error: shutting down, got signal: Terminated"
[code]
use kubeadm build kubernetes, and network use weave.
when create deployment, container in cluster run error, message:
shutting down, got signal: Terminated

this is master docker info:
[code]
and in one node, see a fail container logs:
[code]

[2017-08-29 13:27] rootfs commented on #49414
/assign
/close

[2017-08-29 13:27] #49414 closed

[2017-08-29 13:31] rootfs commented on #43069
@bootc @humblec I am not familiar with CoreOS/Debian packaging process. Is there anyway to build a customer package and install on your setup?

[2017-08-29 13:38] jsravn commented on #50245
I figured out the cause of this, for me at least. If your node isn't tagged w/ KubernetesCluster, the node-controller will delete it immediately after registering itself. I think that changed in 1.6, prior to that it was fine to leave your instance untagged (well, as in certain aws functionality would not work but the node can still host pods). Created https://github.com/kubernetes/kubernetes/issu

[2017-08-29 13:39] jsravn commented on #50245
I suggest looking at the controller-manager logs and look for node_controller.go, see why it's deleting your node.

[2017-08-29 13:40] guoh1988 opened #51527 "the system time is inconsistent with the time recorded in the pod log time and the etcd,eight hours apart."
Kubernetes version:Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"a55267932d501b9fbd6d73e5ded47d79b5763ce5", GitTreeState:"clean", BuildDate:"2017-04-14T13:36:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"a55267932d501b9fbd6d73e5ded47d79b5763ce5", GitTreeState:

[2017-08-29 13:44] yastij commented on #50926
Azure added.

[2017-08-29 13:57] andrewsykim commented on #50986
Would have been nice to keep this issue open to track progress in the next releases

[2017-08-29 14:03] jsravn commented on #38303
FWIW live restore makes a big positive impact on reliabity. It'd be nice to prioritise making it official for k8s. In the past we had to restrict node sizes and things due to the instability of docker. We've been on live restore for the past 6mo or so, and I can't imagine living without it. We haven't noticed anything majorly bad (apart from kubelet complaining a lot after docker restarts).

[2017-08-29 14:14] gogene opened #51529 "PodSecurityPolicy bypass through ReplicaSets/Deployments/DaemonSets"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I create a DaemonSet or a Deployment as a unprivileged User or an unprivileged ServiceAccount (RBAC & PodSecurityPolicy) the PodSecurityPolicies are beeing ignored, so it is possible to bypass the PSP to create privileged Pods from DaemonSets, Deployments etc..

**What you expected to happen**:
The creation of the pri

[2017-08-29 14:17] dims commented on #42926
@yguo0905 - do we need to do something about https://github.com/kubernetes/kubernetes/issues/43224 for validating 1.13?

[2017-08-29 14:17] dims commented on #32727
@saad-ali Punt this again? (to 1.9)

[2017-08-29 14:26] #48064 closed

[2017-08-29 14:40] FengyunPan opened #51531 "Do not update asw when populating the desired state of world"
**What happened**:
After reading the codes of attach-detach-manager, I think the code (https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/attach_detach_controller.go#L371) which updats the actual state of world is useless.
If volume is attached, attach-detach-manager marks it attached by populateActualStateOfWorld(), and store it into actualStateOfWorld.
But wh

[2017-08-29 14:41] FengyunPan commented on #51531
/sig storage

[2017-08-29 14:47] mashayev opened #51532 "kube-system pods are being recreated"
/kind bug
/sig kubelet

**What happened**:
All pods in namespace `kube-system` were recreated at the same time(I checked it with `describe` command)
[code]

**What you expected to happen**:
Look like a bug to me, how it is possible all pods in the same namespace were recreated at the same time, other pods in other namespaces weren't recreated. It wasn't even restarted but recreated. I didn't find

[2017-08-29 14:52] smarterclayton commented on #50808
I'm mostly convinced by the arguments above.  I agree that getting a strong signal on mutability would be important, and we can only pick immutability once.  We need to communicate this change very widely if we do, and make sure no one in production is surprised.

[2017-08-29 15:02] mashayev commented on #51532
/sig kubelet

[2017-08-29 15:25] #44372 closed

[2017-08-29 15:25] #32149 closed

[2017-08-29 15:48] liggitt commented on #47131
`etcdctl ls /` uses the etcd v2 API, which is not what kubernetes 1.6+ uses by default

`ETCDCTL_API=3 etcdctl get --prefix /` uses the etcd v3 API, which will show you your kubernetes data

[2017-08-29 15:52] fotinakis commented on #16779
Oops sorry I thought the issue was still open, I see now it's closed. 👍  Thanks!

[2017-08-29 15:58] amigold commented on #47725
@RyPeck looks like after playing around some more with uWSGI it is now much better.
Lets close this anyway as I guess we proved its not kubernetes/kops related.

Thanks for the help!

[2017-08-29 16:02] adityadani commented on #51452
I will update libopenstorage/openstorage to use golang/protobuf instead go.pedge.io/protobuf and then vendor it in kubernetes. I will send out a PR.

[2017-08-29 16:09] yujuhong commented on #51452
By the way, this affects more than just the kubelet binary, e.g., #48924

[2017-08-29 16:14] php-coder commented on #51529
/sig auth

[2017-08-29 16:14] yujuhong commented on #51478
Do you know why garbage collection didn't kick in?

[2017-08-29 16:17] php-coder commented on #51529
CC @liggitt

[2017-08-29 16:25] liggitt commented on #51529
You must run the controller manager as a user with no PSP permissions (ideally by using the --use-service-account-credentials option)

See https://kubernetes.io/docs/concepts/policy/pod-security-policy/#working-with-rbac

[2017-08-29 16:31] vladimirvivien opened #51537 "ScaleIO - Specify SDC GUID value via node label"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

This is a ScaleIO plugin volume feature to do the following:
- Reads node label `scaleio.sdcGuid` value for the SDC GUID
- Uses value to look up the Scaleio SDC `instance ID`
- If label not found, falls back to current way of doing instance id look up now

This enhancement allows the ScaleIO plugin to work properly work even if the drv_

[2017-08-29 16:35] keir-rex commented on #48462
Apologies for digging up this old issue. I'll open a new issue tomorrow if I don't get a reply.

After upgrading our environments qe, stage, production we began seeing nodes erroneously and seemingly at random begin to fail wrt DNS/Networking. This wasn't an issue we had encountered in the past. The networking on the host/node continues to work but all containers fail to resolve DNS.

We're runnin

[2017-08-29 16:37] dashpole commented on #50151
1.8 Will definitely have it.  It will land in 1.7.5 or 1.7.6, depending on how quickly the cherrypick makes it in.  IIRC, 1.7.5 should be cut any day now.

[2017-08-29 16:38] roberthbailey commented on #49236
Moving to the 1.9 milestone as this isn't going to land before code freeze.

[2017-08-29 16:51] roberthbailey commented on #49673
This is being worked on by @pci in https://github.com/kubernetes/kubernetes/pull/50398

[2017-08-29 16:53] yujuhong commented on #36666
Moving this to 1.9.

[2017-08-29 16:54] #34308 closed

[2017-08-29 16:57] vladimirvivien commented on #51537
/sig storage

[2017-08-29 16:57] yguo0905 commented on #42926
I don't think we need to do anything here. Before they upgrade Docker to 1.13, the users should ensure that no images still use the v1 format.

[2017-08-29 17:00] yguo0905 commented on #42926
I've updated https://github.com/kubernetes/kubernetes/issues/42926#issuecomment-323887167 with the node e2e tests that have overlay2 enabled, andthere I don't see any issues.

[2017-08-29 17:01] yujuhong commented on #42926
This should be included in the release note.

Another question: are we dropping support for docker 1.10?

[2017-08-29 17:06] ikornaselur commented on #47725
Just curious, what else did you try with the uWSGI config?

[2017-08-29 17:06] roberthbailey commented on #44975
@wlan0 - is this going to make 1.8 or should we punt to 1.9?

[2017-08-29 17:17] yguo0905 commented on #42926
OK, and also https://github.com/kubernetes/kubernetes/issues/40182.

I think so, given that one k8s supports three Docker versions. So k8s 1.8 will support Docker 1.11, 1.12, 1.13 (17.03).

[2017-08-29 17:27] jingxu97 commented on #32727
@dims, I think we have to move it to 1.9.

[2017-08-29 17:31] wlan0 commented on #44975
@roberthbailey Still working on it. We should target 1.9.

[2017-08-29 17:33] dgoodwin commented on #49497
I have something in progress for this. A couple questions:

- Where do we want to go with regards to the old export query param? Right now I'm leaving it and just making sure they're both processed in the same place wherever possible.

- Do we want "exact" export option supported in the content type params? It doesn't feel like it's particularly ready for prime time, I would propose we omit it for

[2017-08-29 17:36] smarterclayton commented on #49497
Old parameter takes priority.  I don't think exact is ready, and it's
always good to err on the side of "don't expose it yet".

I think export=strategy requires more work, so we need a proposal.

Watch should be going through transform, but it looks like it hasn't been
implemented yet.  It would be better to invoke transform on watch.

On Tue, Aug 29, 2017 at 1:33 PM, Devan Goodwin <notifications@

[2017-08-29 17:37] davidz627 commented on #49217
/assign @davidz627

[2017-08-29 17:39] smarterclayton commented on #51290
We should talk about the handoff between an admin (who knows which namespaces are critical) and an initializer author (who doesn't).

[2017-08-29 17:41] JiangtianLi opened #51540 "There is no kubernetes CI unit test machine for Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently there is no kubernetes CI unit test machine for Windows. Since the Windows features in kubernetes are growing fast, it is important to set up the Windows CI jenkins test on kubernetes, to prevent build failure and unit test failure for Windows.

**What you expected to happen**:
kubernetes CI unit test machin

[2017-08-29 17:41] MrHohn commented on #51478
Checked the federation CI project, found plenty of not-in-use PDs (each has 10 GB). Is this PR jobs consistently leaking PR resources? Might be good to root cause it, or we will hit quota limit and block the queue again...

[2017-08-29 17:44] davidz627 commented on #49217
Oops. I'll be working on this anyway.

[2017-08-29 17:55] ahmetb commented on #51290
Unblocking an initializer can be done through `metadata.initializers.pending: []`. So I tend to think that wouldn't be the primary use case. Having a `namespaceSelector` would make it possible to configure the initializer on InitializerConfiguration, rather than command-line arguments that would depend on initializer controller's implementation.

Imagine a use case that restricts images per namesp

[2017-08-29 18:03] DanyC97 commented on #42718
@crassirostris sorry if i missed but have you wrote the proposal already and if so is there a link ?

thanks

[2017-08-29 18:06] cheftako commented on #48428
There are a few flags which need to be set up for kubemark to actually be properly testing with the aggregator. I am digging around in that code this week anyway. I will try to get to it and make sure its set up properly.

[2017-08-29 18:07] liggitt commented on #51290
the API server shouldn't generally allow setting the initializers field directly in a creation request for pods created by the controller manager from a replicaset, which is what you'd want to be keeping your initializer controller running

[2017-08-29 18:13] oomichi commented on #35250
This report is well described and I also had similar experience as a newbie.

The point 2 has been fixed already with https://github.com/kubernetes/community/pull/509 anyways

[2017-08-29 18:17] vladimirvivien opened #51547 "ScaleIO - Volume Teardown report erroneous error status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
During teardown, the ScaleIO plugin can sometimes report erroneously
that a volume is no longer busy, when in fact it is.  This can cause
some situations where a volume is never properly torn down/detached.

**What you expected to happen**:
For the plugin to report an error so that the volume controller will keep attempti

[2017-08-29 18:18] vladimirvivien commented on #51547
/sig storage

[2017-08-29 18:19] wongma7 opened #51548 "pull-kubernetes-unit TestCRD is flaky"
/kind bug

sample from clicking around:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51448/pull-kubernetes-unit/50367/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51539/pull-kubernetes-unit/50354/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51479/pull-kubernetes-unit/50345/

[2017-08-29 18:19] DanyC97 commented on #23354
@spiffxp can you pls point to the chat PR you mentioned ? thx

[2017-08-29 18:20] liggitt commented on #50808
Agree

To relax immutability without raising compatibility concerns, we'd have to make sure that kube components that support version skew from the API server (e.g. kubelets and kubectl) don't depend on immutability of these controller resources. As far as I know, they do not today. Can we also document the possibility of relaxing selector immutability in the future in the API docs for the types?

[2017-08-29 18:21] wongma7 commented on #51548
/sig api-machinery
/kind flake

[2017-08-29 18:23] janetkuo opened #51549 "Remove status.conditions from apps/v1beta2 ReplicaSet"
We plan to eliminate conditions from the API, see #7856

ReplicaSet only has one condition: "ReplicaFailure":
* condition status is only set to `True` in the controller code
* condition reason is either "FailedCreate" or "FailedDelete".
* condition message contains the error returned from `manageReplicas()`

Plan to remove replicaset `.status.conditions` field, use a new status field `replicaFailu

[2017-08-29 18:24] stevekuznetsov commented on #51278
@kubernetes/sig-apps-bugs

[2017-08-29 18:29] crimsonfaith91 commented on #50808
@kow3ns will handle the publishing after the selectors are made immutable.

I can work on this after this PR merged.

[2017-08-29 18:32] ryanberckmans commented on #41711
This feature would be great.

[2017-08-29 18:36] kargakis commented on #51549
IIRC we already emit events on pod failures. Not sure how useful a single boolean is going to be. The point of having the error message included in the status was that it could be used by clients w/o the need to filter through events.

cc: @smarterclayton @tnozicka

[2017-08-29 18:37] shyamjvs commented on #48428
@cheftako Thanks for looking. Let me know if I you need something.

[2017-08-29 18:38] kargakis commented on #35250
@kubernetes/sig-testing-misc

[2017-08-29 18:41] cmluciano commented on #51427
Should also note that kubenet is slowly being deprecated

xref: https://github.com/kubernetes/kubernetes/issues/38890

[2017-08-29 18:43] msau42 commented on #36499
Hi @motymichaely, and anyone else interested in this feature,

It is now available via whitelist, so please send me an email if you want to be added to it.

[2017-08-29 18:44] enisoc commented on #51278
cc @kow3ns @janetkuo

On the terminating side, #51279 might help.

[2017-08-29 18:46] cmluciano commented on #47725
/assign

[2017-08-29 18:46] cmluciano commented on #47725
/close

issue with uWSGI

[2017-08-29 18:46] #47725 closed

[2017-08-29 18:47] deitch commented on #47733
Been looking for this. I just enabled `--cloud-provider=aws` solely to get EBS persistent volumes. All of the sudden every service of _any_ `Type` gives those errors. I don't mind expanding the IAM perms so that it can `describe` the load balancers, but why is it possibly trying to create them in the first place?

[2017-08-29 18:47] deitch commented on #47733
If you need anything from my cluster for debugging, just ask.

[2017-08-29 18:52] cmluciano commented on #51540
/sig testing

[2017-08-29 18:54] verult commented on #51470
Completed by #50031

[2017-08-29 18:54] #51470 closed

[2017-08-29 18:54] jcbsmpsn opened #51550 "Certificate Signing Request cleaner to GC CSRs"
/kind feature

With the Certificate Signing Request API in the apiserver, certificate signing requests remain recorded in the database indefinitely. With increased effort at using the signing API in automated workflows, such as kubelet certificate auto rotation, the volume of CSRs will only grow over time in running clusters.

There should be a garbage collection process to delete out of data CSRs

[2017-08-29 18:55] jcbsmpsn commented on #51550
/assign @jcbsmpsn

[2017-08-29 18:55] mikedanese commented on #51550
/sig auth
@liggitt

[2017-08-29 19:00] jdumars commented on #51540
/sig azure
/sig windows

[2017-08-29 19:13] dawidmalina commented on #42926
Was there any changes in k8s codebase to support new docker engines or same versions should be suitable for k8s 1.6 / 1.7

[2017-08-29 19:22] liggitt commented on #51550
cc @kubernetes/sig-auth-feature-requests

[2017-08-29 19:27] yguo0905 commented on #51486
OK, the comment can be updated. But I guess it's too late to change name to `CreationTime`.

[2017-08-29 19:31] #51529 closed

[2017-08-29 19:46] krzyzacy commented on #51478
federation job is opt-out of the janitor process - maybe it need to somehow have it's own clean up process?

[2017-08-29 19:52] MrHohn commented on #51379
Sorry, just hit this flake again. Reopening.

Ref: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51221/pull-kubernetes-e2e-gce-bazel/13170/

/assign
/reopen

[2017-08-29 19:52] MrHohn commented on #51379
/reopen

[2017-08-29 19:52] MrHohn commented on #51379
/unassign

[2017-08-29 19:53] ApsOps opened #51554 "Dead sandbox containers not garbage collected"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
Lots of `Dead` sandbox containers (pause image) show up in `docker ps -a`.

**What you expected to happen**:
Old sandbox containers to be garbage collected.

**How to reproduce it (as minimally and precisely as possible)**:
No specific config. Seen this a couple of times on nodes.

**Anything else we need to kn

[2017-08-29 19:53] vladimirvivien opened #51555 "ScaleIO - decouple secret namspace from PVC for dynamic provisioning"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

This feature is to be able to create a PVC where the referred secret object can be decoupled and be part of a different namespace.  This allows the PVC to be in a different namespace which can be more restrictive than that of the secret for accessing the storage backend.

[2017-08-29 19:59] rantuttl commented on #51554
Is it possible that this code is not checking SandboxStatues, and therefore, the sandbox container is not deleted?