[2022-04-19 12:46] rikatz commented on #109406
@uablrek what about the different iptables-nft vs iptables-legacy binaries?

[2022-04-19 12:52] liggitt commented on #109354
we need to be sure that any fix/change here doesn't regress in the opposite direction (detaching volumes that currently work in 1.21+)

[2022-04-19 12:55] uablrek commented on #109406
I have assumed that [iptables-wrappers](https://github.com/kubernetes-sigs/iptables-wrappers#building-a-container-image-that-uses-iptables) takes care of that.

[2022-04-19 13:14] neolit123 commented on #109406
Re size: Are DWARF2 symbols stripped? Ideally k8s should produce artifacts without DWARF2 symbols and distribute them separatelly. Or produce the optional -debug artifacts. This can cut GCR/GCS costs, but introduce some debug/profiling complexity. The Go symbol table should be always included.

Related https://github.com/golang/go/issues/51692

[2022-04-19 13:14] alculquicondor commented on #109397
Have you tried with k8s 1.22?

Although I see that your job is being tracked with finalizers `batch.kubernetes.io/job-tracking`. In 1.22, this feature was alpha and some bugs where found and not cherry-picked.
I would suggest you disable the feature.

Unless you can reproduce this in 1.23 or later, we can probably close this issue.

/triage needs-information

[2022-04-19 13:20] rikatz commented on #109406
IIRC wrapper in prod needs both binaries existing in the container, and will use this in a way to check if the host machine is using iptables-legacy or iptables-nft.

[2022-04-19 13:22] ionutbalutoiu commented on #109515
As an FYI, they started passing on the testgrid links mentioned below.

Thank-you!

[2022-04-19 13:26] uablrek commented on #109406
Both exist in Alpine;
[code]
The first example in [iptables-wrappers](https://github.com/kubernetes-sigs/iptables-wrappers#building-a-container-image-that-uses-iptables) is Alpine. @danwinship can you please confirm that it works with Alpine?

[2022-04-19 13:26] alculquicondor commented on #109429
That's probably irrelevant.

This might be due to those weird scenarios where the job controller creates more than one pod even though number of completions is 1. Do you happen to have the kube-controller-manager logs for the jobs that are stuck? Maybe you can confirm if the job created more than one pod.

I think we just need to be more aggressive on the orphan-pod worker to remove finalizers fro

[2022-04-19 13:56] jsafrane commented on #100840
/remove-lifecycle rotten

[2022-04-19 14:41] pabclsn commented on #106957
up

[2022-04-19 15:06] sanposhiho opened #109543 "scheduler_perf: "json: unsupported value: NaN" panic"
### What happened?

Scheduler_perf sometimes causes "json: unsupported value: NaN" panic [here](https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_perf/util.go#L166).

### What did you expect to happen?

Not panic.

### How can we reproduce it (as minimally and precisely as possible)?

in my PC, when running scheduler_perf with the below config, there is a high probabi

[2022-04-19 15:06] sanposhiho commented on #109543
/sig scheduling
/assign

[2022-04-19 15:23] schellj commented on #99986
/remove-lifecycle stale

[2022-04-19 15:27] sanposhiho commented on #108308
/assign

[2022-04-19 15:30] liamchzh opened #109544 "CVE-2022-27191: golang.org/x/crypto/ssh needs update"
### What happened?

golang.org/x/crypto/ssh versions 0.0.0-20220214200702-86341886e292 and prior in Go through 1.16.15 and 1.17.x through 1.17.8 allows an attacker to crash a server in certain circumstances involving AddHostKey. Version 0.0.0-20220315160706-3147a52a75dd includes a fix for the vulnerability and support for SHA-2.

See https://github.com/advisories/GHSA-8c26-wmh5-6g9v

### What did

[2022-04-19 15:39] sanposhiho commented on #109543
/kind failing-test

[2022-04-19 15:40] sanposhiho commented on #108308
/kind failing-test

[2022-04-19 15:58] marosset commented on #109515
/close
The impacted jobs are now all showing passes for these 3 test results after the manual mitigation of pushing etcd 3.5.3-0 image to `k8sprow.azurecr.io`.
I've filed another issue (https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2236) for a long term fix.

[2022-04-19 15:58] #109515 closed

[2022-04-19 16:34] mattcary commented on #109535
/assign @mattcary

@msau42 Yes, I agree. IIUC some of those failures are from cloud-provider-gcp, though, which is where we moved the in-tree tests to and the pd csi driver should be running there.

[2022-04-19 17:01] neolit123 commented on #109544
/sig security

related issue:
https://github.com/kubernetes/kubernetes/issues/108464

0.0.0-20220315160706-3147a52a75dd (this CVE) is newer than  v0.0.0-20211202192323-5770296d904e (#108464)

also relevant https://github.com/kubernetes/kubernetes/issues/108464#issuecomment-1057417923

[2022-04-19 18:04] vinaykul opened #109547 "[FG:InPlacePodVerticalScaling] Tracking TODO items to address pre-beta, at beta, GA, and GA+1"
### What would you like to be added?

This enhancement tracks various TODO items from alpha to GA for the In-Place Pod Vertical Scaling feature.
To find pending TODO items in the k/k repo, do:
[code]

TODOs not tracked in code:
- [ ] Add and expose a helper function to get a pod's resource requirements and allocations for use by metrics, kubectl describe, etc

### Why is this needed?

These were T

[2022-04-19 18:08] vinaykul commented on #109547
/sig node

[2022-04-19 18:30] uablrek commented on #109406
Tested the [Alpine kube-proxy](https://github.com/kubernetes/kubernetes/issues/109406#issuecomment-1102593687) with K8s e2e;
[code]

[2022-04-19 19:18] #78759 closed

[2022-04-19 19:18] #106567 closed

[2022-04-19 19:32] euroelessar commented on #109429
Kube controller manager logs for the job:

[code]

It looks like job has created a new pod after job's completion.

Note that the job is marked as succeeded:
[code]

[2022-04-19 19:41] alculquicondor commented on #109429
Uhm... I was expecting 2 pod creations before the job was declared as completed. I will take a look.

[2022-04-19 19:56] jastabiletech commented on #108798
It's a nice to have, for an automation for a deployment in kubernetes it will helm me too

[2022-04-19 20:06] aryan9600 commented on #108779
@robscott @aojea i was unable to repro the issue on my machine:

[code]
I was monitoring the logs of `kube-controller-manager`, and the endpointslice controller never complained about `EndpointSlice informer cache is out of date`, when I deleted the service.

Though, I was able to get the controller to log this error under a different scenario. If we don't explicitly remove the finalizer from the

[2022-04-19 20:09] andreaskaris commented on #109234
We can close this, I really don't insist. I don't need this change after all.

[2022-04-19 20:10] fedebongio commented on #109522
/triage accepted
Thank you @liggitt !

[2022-04-19 20:11] fedebongio commented on #109428
/triage accepted

[2022-04-19 20:11] fedebongio commented on #109384
/triage accepted

[2022-04-19 20:14] fedebongio commented on #109498
/remove-sig api-machinery
We believe POD is owned by sig apps, therefore removing API Machinery. Thank you all!

[2022-04-19 20:16] thockin commented on #109406
There are / we're legal reasons to avoid Alpine.  Have those been
resolved?  I haven't heard anything.

On Tue, Apr 19, 2022, 11:31 AM Lars Ekman ***@***.***> wrote:

[2022-04-19 20:20] dims commented on #109406
@thockin i don't think so. it's status quo on Alpine which is to avoid it totally.

[2022-04-19 20:52] PushkarJ commented on #102106
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-04-19 21:30] kevindelgado commented on #105082
/remove-lifecycle stale
PR is live at https://github.com/kubernetes/kubernetes/pull/109443
just waiting for code thaw

[2022-04-19 21:38] SergeyKanzhelev commented on #109295
The failing test seems to be expecting GPU on machine and the image seems to be broken.

I tried the image manually:

[code]

Logs:

[code]

[2022-04-19 21:41] aojea commented on #109234
Thanks for understanding, we can always add it if we test that functionality in the future in kubernetes

/close

[2022-04-19 21:41] #109234 closed

[2022-04-19 22:32] tallclair opened #109549 "[PodSecurity] Warn when labeling exempt namespaces"
Applying a pod security label to an exempt namespace should return a warning that the namespace is exempt, and the PSA label won't take effect.

/cc @liggitt

[2022-04-19 22:49] daschott commented on #98574
We have identified one fix for a deadlock in HNS which is already checked into active branch, that could explain this. The fix needs to be backported to older OS releases.

[2022-04-19 22:56] guodonglai opened #109550 "k8s client-go throwing unexpected error at startup Failed to watch *v1.PartialObjectMetadata: unknown"
### What happened?

Hi folks, my team recently upgraded k8s client version from 0.19.3 to 0.22.2, go.mod change as follows
[code]
However, we started to seeing below unexpected errors when k8s client startup by calling `Run()` function for a pod running in kubernetes 1.21 cluster.
[code]

This error is throwing continuously and making the applications logs hard to find. We have also tried to downg

[2022-04-19 22:57] guodonglai commented on #109550
/sig apimachinery

[2022-04-19 23:43] neolit123 commented on #109550
/sig api-machinery

[2022-04-20 01:35] BenTheElder commented on #39696
extra current: https://github.com/kubernetes/kubernetes/issues/109406

[2022-04-20 01:37] cyclinder commented on #109544
/assign

[2022-04-20 02:20] cyclinder commented on #109544
I've submitted  PR for 1.24, This CVE also seems to affect 1.22 and 1.23, should we also update?

[2022-04-20 02:46] vinaykul opened #109553 "[FG:InPlacePodVerticalScaling] Add /resize subresource to request pod resource resizing"
### What would you like to be added?

In-place Pod vertical scaling [feature](/kubernetes/kubernetes/pull/102884/) currently relies on PATCH verb applied to Pod objects. This issue tracks a task to design and implement /resize subresource for Pods as opposed to PATCH, add RBAC controls to it, and additionally consider supporting it for Pod superset objects such as Jobs, RS, Deploys etc.

This came

[2022-04-20 02:49] vinaykul commented on #109553
/sig api

[2022-04-20 02:54] vinaykul commented on #109553
/sig api-machinery

[2022-04-20 04:46] uablrek commented on #109406
Can I read about those somewhere? Are the legal reasons about Alpine? Or about musl?

[2022-04-20 05:00] silenceshell opened #109554 "[client-go] Resource leak in kubernetes/client-go/tools/leaderelection"
### What happened?

**Opinion 1**

Lock resource is created in [tryAcquireOrRenew()](https://github.com/kubernetes/client-go/blob/master/tools/leaderelection/leaderelection.go#L333), but not deleted when [release()](https://github.com/kubernetes/client-go/blob/master/tools/leaderelection/leaderelection.go#L294).

If resource cannot be deleted in pkg, it shall not be created. Or, at lease a choice

[2022-04-20 05:15] BenTheElder commented on #109406
Not my personal decision, and I'm not a lawyer let alone an OSS license expert but ... sharing what I know on the subject:

----

IIRC for example Alpine does not make available the source code (AFAICT Alpine publishes source code for the packaging scripts, but not the package sources), or even the LICENSE of binary packages, which is problematic for compliance with licenses ... (Various common li

[2022-04-20 05:24] #105595 closed

[2022-04-20 05:34] uablrek commented on #109406
@BenTheElder Thanks!

[2022-04-20 05:39] uablrek commented on #109406
TL:DR;

[2022-04-20 06:58] qiutongs opened #109555 "ci-cadvisor-e2e failed"
### Which jobs are failing?

ci-cadvisor-e2e

### Which tests are failing?

- TestDockerContainerSpec
- TestDockerContainerCpuStats
- FAIL: TestMachineStatsIsReturned

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cadvisor-e2e/1516314198211039232

### Since when has it been failing?

04/15/2022

### Testgrid link

https://testgrid.k8s.io/sig-node-cadvisor#cadvisor-e2e

### Reason for fail

[2022-04-20 07:14] slaskawi commented on #106142
/assign

[2022-04-20 07:54] slaskawi commented on #106142
According to the [RFC 6750, Section 2.1](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1), the Authorization Request Header is structured as the following:

This means, that " TOKEN" is simply invalid. I proposed a Pull Request (https://github.com/kubernetes/kubernetes/pull/109558) with a fix that treats this case an invalid header.

In our testsuite, I have also seen cases, where we all

[2022-04-20 08:30] sdghchj opened #109560 "make kubeclient in client-go pacakage to be a proxy"
### What would you like to be added?

I need the kube client to behavior as a proxy, each request to API server may has an individual token from a service account.
So I wonder whether there is a way I can reset the header Authorization after I call a kubernates API with dynamic kube client in [client-go/dynamic](https://github.com/kubernetes/client-go/blob/master/dynamic/simple.go) package.

### W

[2022-04-20 09:17] jitendra319 opened #109562 "CPUs allocated for guaranteed QoS pod are not released when the Pods are deleted"
### What happened?

After deleting the qos-pod, qos-pod entries is not getting deleted from "file /var/lib/kubelet/cpu_manager_state"
The same issue is also observed when doing scale-in and scale-down of qos-pod

in case of two or more worker node, there is possibility that, issue will be seen on one worker only

 sudo cat /var/lib/kubelet/cpu_manager_state | jq
{
  "policyName": "static",
  "defa

[2022-04-20 09:24] #109500 closed

[2022-04-20 10:06] aojea commented on #109560
I don't fully understand the issue from the description, I think you should give more details

Anyway, I don't know if it can be useful to you, but client-go allows to modify the transport by wrapping custom http roundtrippers

https://github.com/kubernetes/kubernetes/blob/b36c927d957e585ce54d415be4d7e4621e189d85/staging/src/k8s.io/client-go/rest/config.go#L106-L113

[2022-04-20 10:34] aojea commented on #109554
`release()` just remove the `HolderIdentity`, if you delete the object you have to create and delete it constantly vs updating the field

[2022-04-20 11:15] sdghchj commented on #109560
Hello @aojea, thanks for your reply, here is a picture for you.
![image](https://user-images.githubusercontent.com/20944466/164216100-ebd862fc-c002-47ae-9fa1-680c9469d900.png)

[KubeEdge](https://github.com/kubeedge/kubeedge) is a cloud native edge computing project depending on kubernetes, which extends cluster working nodes from cloud to edge.  It has two components, cloudcore and edgecore, prov

[2022-04-20 11:20] sdghchj commented on #109560
WrapTransport to wrap RoundTripper may not help this issue.  It is a global configuration and has the same effect on all the requests.

[2022-04-20 11:24] #65797 closed

[2022-04-20 11:24] #105830 closed

[2022-04-20 11:45] soltysh commented on #109131
This was brought to my attention during last wg-batch call. A few ideas worth considering.

1. Do we actually need net-new field to express failed indices? Given current completions 100, for example, and a list of `completedIndexes` being 1-40,60-100 do we actually need that new filed if we should be able to calculate that using the existing fields?
2. I'd be curious to hear more about the use-cas

[2022-04-20 12:23] kerthcet commented on #65797
I'll write a KEP in this release, feel free to reopen this if you think necessary. @hex108

[2022-04-20 12:57] silenceper opened #109564 "Summary API in test-e2e-node failed"
### What happened?

Summary API in test-e2e-node failed:
[code]

### What did you expect to happen?

pass.

### How can we reproduce it (as minimally and precisely as possible)?

make test-e2e-node  TEST_ARGS=' --kubelet-flags="--read-only-port=10255" --kubelet-flags="--fail-swap-on=false"' FOCUS="Summary API"

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[

[2022-04-20 12:57] silenceper commented on #109564
/sig node

[2022-04-20 13:06] hex108 commented on #65797
@kerthcet  Thanks. Reopen to track it.

[2022-04-20 13:26] smira opened #109565 "Go modules are not tagged for 0.24.0-rc.0"
### What happened?

After https://github.com/kubernetes/kubernetes/releases/tag/v1.24.0-rc.0 release, Go modules are not tagged for 0.24.0-rc.0.

https://pkg.go.dev/k8s.io/api@v0.23.5?tab=versions

### What did you expect to happen?

Modules to be tagged

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

### Kubernetes

[2022-04-20 13:27] smira commented on #109565
/sig release

[2022-04-20 13:35] liamchzh commented on #109544
That'd be great, given that 1.24 will not be released until May.

[2022-04-20 13:49] drozzy commented on #90885
This is very strange to me as well. I mounted an nfs volume as ReadOnlyMany in microk8s and am still able to write to it from multiple pods!

[2022-04-20 13:54] visimo-jarod commented on #106957
@bobbypage I can confirm on a bare metal cluster that I'm running on containerd that I am also seeing these log messages.

[2022-04-20 14:26] aojea commented on #109560
You can replace the token with the roundtripper and make it behave differently per request, see this per example

https://github.com/kubernetes/kubernetes/blob/9126048c9c47cc51f15f977da51c6023229a02b5/staging/src/k8s.io/client-go/transport/round_trippers.go#L83-L142

[2022-04-20 14:33] liggitt commented on #109549
I'd tweak that to a level label other than `privileged`

[2022-04-20 14:50] MartinEmrich commented on #42544
Just got hit by this, too. A clustered service, which expects its peers to be found by their respective hostnames (and also expects itself to be found by the short hostname, so configuring with FQDN was not possible).

A workaround: add the statefulset subdomain name to your DNS search list, e.g.:
[code]

Please reopen the issue and disable that pesky fetja-bot... (Or explain the thought behind th

[2022-04-20 14:51] 12csw1 commented on #109543
Should this issue be labeled as priority/critical-urgent?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other informati

[2022-04-20 14:57] sdghchj commented on #109560
@aojea So how to replace the roundtripper?

By config.WrapTransport ? As said above, it will be a global configuration and has the same effect on all the requests.

By directly repalcing it from the shared dynamyic client ? But the restclient, which has a member of http.Client, is an unexported member of [dynamicClient](https://github.com/kubernetes/kubernetes/blob/9126048c9c47cc51f15f977da51c6023

[2022-04-20 15:00] aojea commented on #42544
one issue is that `cluster.local` is the default value for the cluster domain, but is defined by the user and the value is not accessible from the API , thus it can not be easily automated ...

I don't know much about other possible problems

[2022-04-20 15:03] aojea commented on #109560
the custom roundtripper can have a dynamic behavior, it is a new type, you can add hooks as you did in your PR, you can use different logic based on the request, environment variables,  ...

[2022-04-20 15:07] jyotimahapatra commented on #109082
If this is release blocking, it would be better to tag the issue  with the label. It will help increase the visibility to the release team.

[2022-04-20 15:08] sdghchj commented on #109560
I'm not clear how to apply a custom roundtripper into a dynamicClient to behave dynamicly.
Could you please show me some example code ?

[2022-04-20 15:14] sdghchj commented on #109560
I guess I get what you mean.
The context has been assigned into the http.Request as a member.
So I can get the token from the context and add it to headers in a custom roundtripper.
Thank you.

[2022-04-20 15:16] #109560 closed

[2022-04-20 15:35] mattcary commented on #106637
/remove lifecycle-stale
/remove-lifecycle stale

@jlsong01 is still working on this.

[2022-04-20 15:48] tzneal opened #109569 "Kubelet ignores node labels passed on the command line after restarts"
### What happened?

I added new node labels to the kubelet command line with `--node-labels` and restarted the service.

### What did you expect to happen?

I expected the new labels to appear on the node.

### How can we reproduce it (as minimally and precisely as possible)?

Let kubelet startup as normal, then restart it with additional labels passed via `--node-labels`. The new labels won't app

[2022-04-20 15:49] tzneal commented on #109569
/sig sig-node

[2022-04-20 15:53] tzneal commented on #109569
/sig node

[2022-04-20 16:30] rhigdon commented on #27768
I feel the `Note` in this section was very helpful to me:

https://kubernetes.io/docs/concepts/workloads/controllers/job/#pod-backoff-failure-policy

So when debugging my job I just set the restart policy to never.  The problem I was facing that I was getting an error, and the pod would be terminated due to the back off limit.  If you remove this for debugging purposes then your pod should stick a

[2022-04-20 16:50] gengwg commented on #105204
Want to point out this is still issue in k8s v1.23. And a way to consistently reproduce this bug.

## Experiments

We found this issue after upgrading to v1.22. Looks it's a bug introduced in v1.22. v1.21 doesn't have this issue. Thought v1.23 would fix it, but seems not the case.

- [v1.21 no bug](https://gist.github.com/gengwg/77042f7625716901d1b72f4f2b797d49)
- [v1.23 bug](https://gist.github.c

[2022-04-20 17:00] silenceper commented on #109564
I found that this problem is related to the machine configuration I use. If the machine configuration is too small, or the disk space is too large, such as more than 200gb, the test may fail.

[2022-04-20 17:01] #109564 closed

[2022-04-20 17:04] endocrimes opened #109573 "[Flaky Test] pull-kubernetes-node-kubelet-serial-containerd: GracefulNodeShutdown"
### Which jobs are flaking?

pull-kubernetes-node-kubelet-serial-containerd

### Which tests are flaking?

GracefulNodeShutdown [Serial] [NodeFeature:GracefulNodeShutdown] [NodeFeature:GracefulNodeShutdownBasedOnPodPriority] when gracefully shutting down with Pod priority should be able to gracefully shutdown pods with various grace periods

### Since when has it been flaking?

Observed here: http

[2022-04-20 17:08] neolit123 commented on #109554
/sig api-machinery

[2022-04-20 17:08] neolit123 commented on #109562
/sig node

[2022-04-20 17:16] qiutongs commented on #109555
cc @bobbypage

[2022-04-20 17:28] ehashman commented on #71233
/triage accepted

Reproducer and diagnosis in https://github.com/kubernetes/kubernetes/issues/71233#issuecomment-521904010

/help

[2022-04-20 17:31] ehashman commented on #109562
/triage accepted
/cc @fromanirh @klueska

[2022-04-20 17:33] ehashman commented on #109569
I think this is intended behaviour; as I recall, nodes are only able to set labels on themselves when they initially join the cluster, not on every kubelet startup.

See note in https://kubernetes.io/docs/concepts/architecture/nodes/#self-registration-of-nodes

/close

[2022-04-20 17:34] ehashman commented on #109433
I believe this has been fixed already.

/assign
to add the bug this duplicates, I'll close this when I have that info

[2022-04-20 17:39] ehashman commented on #109451
We've previously had some similar issues with this display for get pod, see also https://github.com/kubernetes/kubernetes/issues/105467

/triage accepted

[2022-04-20 17:43] matthyx commented on #106942
Thanks @davidstack let me come back to this soon...

[2022-04-20 17:46] ehashman commented on #109433
I suspect this is https://github.com/kubernetes/kubernetes/issues/105523 which was fixed in 1.22.3.

Please reopen if you upgrade to 1.22.3 and still encounter the issue.

/close

[2022-04-20 17:46] #109433 closed

[2022-04-20 17:52] tzneal commented on #109569
@ehashman Thanks! I read the docs, but I'm not 100% following the logic there:

The labels that are updated currently could cause the same issues, right?

[2022-04-20 18:59] guodonglai commented on #109550
Seems like a permission issue for my pod that does not have permission to watch crds. Closing...

[2022-04-20 18:59] #109550 closed

[2022-04-20 19:18] alculquicondor commented on #109485
/assign

[2022-04-20 20:13] wagnersantana commented on #60140
In my case I was able to copy using tar an compressing and decompressing the file contents using a VPN and with no problem:

kubectl exec -n <namespace> <pod-name> -- tar czf - <source-file-path> | tar xzf -

[2022-04-20 20:16] alculquicondor commented on #109429
Can you tell if the pod `17af8debf22e5752-vfz6g` was deleted before the second pod was created? This might be possible if you were running a lot of jobs at the time and the pod GC got to it.

I'm trying to narrow down the situation in which we create more than one pod. Although I believe this issue pre-dates JobTrackingWithFinalizers. It just wasn't much of a problem before, as there were no final

[2022-04-20 20:22] ruiwen-zhao commented on #109082
reproduced with a bit more logging in https://github.com/kubernetes/kubernetes/pull/109371#issuecomment-1104422428

TLDR, my change below caused a NPE intermittently:

[code]

So I guess `p.Network` is an empty pointer when the test fails.

[2022-04-20 20:26] khenidak opened #109575 "Service.Spec.LoadBalancerSourceRanges intent?"
### What happened?

/sig network

The documentation for Service.Spec.LoadBalancerSourceRanges copied from : https://github.com/kubernetes/kubernetes/tree/master/pkg/apis/core#L3850
[code]

clearly states that this field is to be applied by cloud provider's on the network and/or the LB and/or cloud firewall. And specifically calls out the fact that this field is ignored if a cloud provider is not c

[2022-04-20 20:28] liggitt commented on #105204
the just-released v1.22.9 and v1.23.6 include https://github.com/kubernetes/kubernetes/pull/107831 - are you able to reproduce the issue on those?

[2022-04-20 20:33] danwinship commented on #109406
I wasn't suggesting switching to Alpine, I was just saying that I unit test the iptables-wrappers scripts against Alpine, which doesn't use bash, and so I know the scripts don't require bash.

Yeah, I don't know the details of how distroless works, but if we're talking about debian packages then it looks like [dash](https://packages.debian.org/buster/shells/dash) is 1/10 the size of [bash-static](

[2022-04-20 20:36] danwinship commented on #109406
In Alpine (and Debian, and probably most distros other than Fedora), the "iptables" package includes both the legacy and nft binaries, so that's the only dependency.

[2022-04-20 20:41] MikeSpreitzer opened #109576 "client-side apply does not cause managedFields update"
### What happened?

I created an object with `kubectl apply`, and later I updated the same object with another `kubectl apply`.  After that I looked at the object's managedFields, and saw nothing about the update.  Here is what I got after the second apply:
[code]

### What did you expect to happen?

I expected managedFields to get updated by the second `kubectl apply`.

### How can we reproduce i

[2022-04-20 20:42] MikeSpreitzer commented on #109576
@kubernetes/sig-api-machinery-bugs
/cc @apelisse

[2022-04-20 21:55] arvisha16 commented on #65392
Hi All,

Is this issue still valid ???

[2022-04-20 22:00] euroelessar commented on #109429
I'm not sure how to check it, historical pod events don't have any information about pod's deletion unfortunately, only about creation. And controller logs don't have this information either.

[2022-04-20 22:08] khenidak commented on #109575
@aojea @thockin FYI

[2022-04-20 22:19] aojea commented on #109575
I think that the inconsistency is because some load balancers implementations  route the traffic to the node, because the VIP is there, and that leaked to kube-proxy , @danwinship and Tim are the ones that have recently worked on that and updated the docs,

I agree with you, I think that we should update the doc and, if the number of iptables rules created by this field is a concern, make it optio

[2022-04-20 22:25] wespanther opened #109577 "Curl pipe to shell for docker in e2e tests setup"
### What happened?

setup_host.sh in e2e_node test curls https://get.docker.com and directly pipes to shell:

https://github.com/kubernetes/kubernetes/blob/f173d01c011c3574dea73a6fa3e20b0ab94531bb/test/e2e_node/environment/setup_host.sh#L82-L84

The issue is that this may present a supply chain security risk, as we are directly executing the script from get.docker.com.

### What did you expect to

[2022-04-20 22:35] aojea commented on #109082
that is not valid because you are iterating over all pods, and some of them may not have network stats, you should only consider the pods under test in the loop

https://github.com/kubernetes/kubernetes/blob/f173d01c011c3574dea73a6fa3e20b0ab94531bb/test/e2e_node/summary_test.go#L322-L325

[2022-04-20 22:37] aojea commented on #109577
/sig node

[2022-04-20 22:55] gengwg commented on #105204
Unfortunately it looks the KIND team hasn't built those images for those versions yet.

https://hub.docker.com/r/kindest/node/tags

[code]

I tested current latest version v1.23.5 in their docker registry. still has this [bug](https://gist.github.com/gengwg/6da29b1542dcc11709de6d0f4b6b8202).

I'm not sure how to build my own kind node image for kubernetes yet. I can try that and build a kind node

[2022-04-21 00:20] shuheiktgw opened #109582 "[Falling test] capz-windows-containerd-master"

[2022-04-21 00:20] #109582 closed

[2022-04-21 00:25] shuheiktgw opened #109583 "[Falling test] capz-windows-containerd-master"
### Which jobs are failing?

capz-windows-containerd-master

### Which tests are failing?

capz-e2e.Conformance Tests conformance-tests

### Since when has it been failing?

4/21

### Testgrid link

https://k8s-testgrid.appspot.com/sig-release-master-informing#capz-windows-containerd-master

### Reason for failure (if possible)

[code]

### Anything else we need to know?

https://github.com/kubern

[2022-04-21 00:26] shuheiktgw commented on #109583
Closing since https://github.com/kubernetes/kubernetes/issues/109583 seems to cover this failure

[2022-04-21 00:26] #109583 closed

[2022-04-21 00:27] #90922 closed

[2022-04-21 01:22] yuzhiquan commented on #109451
May be we need one shot for them all, and what should i todo with this issue? give an pr or waitting for a new design for `kubectl get`?

[2022-04-21 01:44] 12csw1 commented on #109575
Should this issue be labeled as priority/important-soon?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other informatio

[2022-04-21 02:30] pacoxu commented on #109573
/cc @wzshiming

[2022-04-21 03:19] QQGoblin opened #109585 "When the kubelet calls the NodeGetVolumeStats interface of csi, the parameter is wrong"
### What happened?

When the kubelet calls the NodeGetVolumeStats interface, the stagingtargetpath of the NodeGetVolumeStatsRequest parameter is empty.

The k8s version of my environment is 1.20.11, and csi provides STAGE_UNSTAGE_VOLUME capability.

I found that in the master branch, when the kubelet calls the function, this parameter is not added. Is this a bug?

### What did you expect to happen

[2022-04-21 03:42] MikeSpreitzer commented on #109576
I also saw the timestamp not updated when I updated using client-go and typed client stubs, Apply method, patch type `MergePatchType PatchType = "application/merge-patch+json"`.

[2022-04-21 03:49] wzshiming commented on #109573
[code]

It seems that the test frame does not make Pod Ready causes this test case error, It should be the flake of the test frame.

[2022-04-21 05:28] MatthewFagan commented on #75890
The taints-based approach is broken when combined with cluster autoscaler. The autoscaler creates a new node and waits for it to be ready. When it tries to schedule the pending pod onto the new node, it sees the taints (because the daemonsets are not ready), and so it scales up again. It will keep scaling up for as long as it takes for the daemonsets to become ready. So it is not really a proper s

[2022-04-21 05:31] parthasarathi-pm commented on #109530
/sig node

[2022-04-21 05:37] AdminWithROOT commented on #109537
The parameter "failureThreshold" does not seem to be related to the number of restarts. Even if the failureThreshold is set to 10 times, the Pod status will only become "Completed" after 5 restarts：

From the kubelet log,&nbsp; on the 5th container restart, the liveness probe tried to create a new container, but the creation failed. For more details, please see the kubelet.log in the attachment：

[2022-04-21 05:51] gengwg commented on #105204
Able to build v1.23.6 myself. Here is how to [build kind node image for kubernetes](https://gist.github.com/gengwg/20f6ed84267db2ca0b6f056b151cdf9d) in case anyone interested.

Confirmed v1.23.6 [fixed this bug](https://gist.github.com/gengwg/f62ab900c59921fc27f0d61290050d0b).

I will test v1.22.9 similar way.

[2022-04-21 06:07] Death4mAb opened #109586 "Sheesh"
My pull

[2022-04-21 06:58] aojea commented on #109530
agree with Jordan, security scanners should be tuned properly, I don't think the alarm is right in this case

[2022-04-21 07:02] aojea commented on #109586
???

/close

[2022-04-21 07:03] #109586 closed

[2022-04-21 07:13] silenceshell commented on #109554
I can understand why leaderelection doesn't delete lock resource when `release()`... But `create` and `delete` is a pair action... If we can't `delete` lock resource, we'd better not to `create` it...

Leaderelection can rely on others to manage the lifecycle of lock resource, it just need to update it. If no lock resource available when `run()`, we can exit simply. But consider of compatibility,

[2022-04-21 07:16] yangjunmyfm192085 commented on #109585
/sig node

[2022-04-21 07:17] aojea commented on #109554
are you proposing that the leaderElection logic doesn't create the resource and just depend on an external to create the resource used to determine the leader?

[2022-04-21 07:37] sfudeus commented on #99126
/remove-lifecycle stale

[2022-04-21 07:37] silenceshell commented on #109554
Yes.

[2022-04-21 07:37] silenceshell commented on #109554
Yes.

[2022-04-21 08:43] Abhishek-Srivastava opened #109589 "CRD Versioning order in the document seems to be incorrect"
### What happened?

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/

sorted version list as documented here is:

- v10
- v2
- v1
- v11beta2
- v10beta3
- v3beta1
- v12alpha1
- v11alpha2
- foo1
- foo10

Why is v11alpha2 or v11beta2 < v10 ?
It’s v11alpha2 is dev build built on v10? I believe v11alpha2 will upgrade to v11.
Is it a mistake?

##

[2022-04-21 08:44] lxtywypc commented on #109562
This looks like https://github.com/kubernetes/kubernetes/issues/107074

[2022-04-21 08:46] Abhishek-Srivastava commented on #109589
/sig release

[2022-04-21 08:47] Abhishek-Srivastava commented on #109589
/wg api-expression

[2022-04-21 09:15] shuheiktgw opened #109591 "[Failing Test] gce-device-plugin-gpu-1.24, integration-1.24, ci-kubernetes-unit-1-24, verify-1.24"
### Which jobs are failing?

gce-device-plugin-gpu-1.24, integration-1.24, ci-kubernetes-unit-1-24, verify-1.24

### Which tests are failing?

Overall

### Since when has it been failing?

4/21

### Testgrid link

https://testgrid.k8s.io/sig-release-1.24-blocking#gce-device-plugin-gpu-1.24
https://testgrid.k8s.io/sig-release-1.24-blocking#integration-1.24
https://testgrid.k8s.io/sig-release-1.24-b

[2022-04-21 09:19] shuheiktgw commented on #109591
/sig testing

[2022-04-21 09:35] vhscom commented on #60140
Not sure how many magic tricks people will come up with. But I'm confident the correct solve is `krsync` baked into the API. In fact, I'm surprised it's not there already after the amount of attention and frustration this issue has received over the years. So far the best anyone has come up with [besides myself](https://github.com/kubernetes/kubernetes/issues/60140#issuecomment-1059754540) was a r

[2022-04-21 09:39] mateuszlitwin commented on #105802
/remove-lifecycle rotten

[2022-04-21 09:44] vaibhav2107 commented on #88193
/remove-lifecycle stale

[2022-04-21 09:45] vaibhav2107 commented on #90593
/remove-lifecycle stale

[2022-04-21 09:46] vaibhav2107 commented on #100328
/remove-lifecycle stale

[2022-04-21 09:53] wojtek-t commented on #107574
/remove-lifecycle stale

[2022-04-21 09:57] shuheiktgw commented on #109591
Discussion is going on in [this thread](https://kubernetes.slack.com/archives/CN0K3TE2C/p1650532824250449)

[2022-04-21 09:59] matthyx commented on #60140
I doubt this will happen anytime soon, since it would require having `rsync` in the image... sig-cli required that I use only `tar` because this has been the only requirement historically.

That said, we could do some tricks with [ephemeral containers](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/) now that it's enabled by default, and mount a image containing `rsync`.

[2022-04-21 10:12] timthelion commented on #60140
The idea of just trying to replace this mechanism with "something that works" seems kind of insane to me. We should be working to find the bug. It's like if you had a gas leak on an airplane so switched to tank 2 and keep flying.

Can someone with some knowledge of the code try to explain to us what the actual code paths involved are? Now I wouldn't even know where to look to find the error.

[2022-04-21 10:17] matthyx commented on #60140
In distributed systems there are so many things that can go wrong that it's better to add resiliency rather that fixing every parts that could go wrong (like wifi drops, vpn lost packets, MTU, ...).

[2022-04-21 10:27] vhscom commented on #60140
If that's so, I'd change the flag to `--resume` or the like so it's clear, and get something shipped. If the requirement is that `rsync` cannot be added because (reasons, e.g. it's not part of most images, busybox, etc.) then there should be some kind of extensions api that covers that sort of thing IMHO. Still, resuming 10 times with 11 failures isn't production-ready.

[2022-04-21 10:32] furkatgofurov7 commented on #75482
Hi! Is there any update (or plans to add support) on this issue?

[2022-04-21 11:35] wojtek-t commented on #107097
/remove-lifecycle stale

[2022-04-21 11:57] MartinEmrich commented on #42544
@aojea Yes indeed. In my case I both write the ressources and know the correct domain, but this of course won't work easily with cutting-and-pasting ressource mainfests from Github etc. ...

[2022-04-21 13:08] alculquicondor commented on #109429
Maybe check for a DELETE call in the apiserver logs? We can check the user agent.

[2022-04-21 14:09] ffromani opened #109595 "device manager can incorrectly recover devices on node restart"
### What happened?

The following behaviour was reproduced on openshift 4.10 ("Kubelet version" kubeletVersion="v1.23.3+54654d2") but I believe the root cause is on kubernetes.

Let's consider a pod requiring resources, among them a device (point in case: dpdk network device)
[code]
the pods starts and run just fine up until the node is restarted. On restart, the device manager correctly recover i

[2022-04-21 14:09] fromanirh commented on #109595
/sig node

[2022-04-21 14:35] tossmilestone opened #109596 "Static pods cannot be started any more after kubelet is restarted"
### What happened?

We are trying to deploy our k8s with v1.22.8. During the k8s cluster deploying, the control plane components is started by kubelet, but with changes of the static pod manifest files and kubelet restarted, the control plane components won't start any more. The component containers has been killed, but the sandbox containers is still live. The kubelet log shows:

[code]

The star

[2022-04-21 14:36] tossmilestone commented on #109596
/sig node

[2022-04-21 14:37] robert-gdv opened #109597 "pod with CreateContainerConfigError not restarted after stateful set update"
### What happened?

1. I  applied a StatefulSet config which references in spec.template.spec.containers[0].env[i].valueFrom.secretKeyRef.name a secret, that doesn't exist. A corresponding pod is started but runs into CreateContainerConfigError.
2. I fixed the StatefulSet config by removing the corresponding spec.template.spec.containers[0].env[i] element and applied the new config.

Unexpected: T

[2022-04-21 14:55] palnabarun commented on #109591
/assign

This should be fixed once https://github.com/kubernetes/test-infra/pull/26055 is merged, the image is rebuilt and then the jobs start picking up the image.

[2022-04-21 15:02] palnabarun commented on #109591
It shouldn't have been closed automatically.

/reopen

[2022-04-21 15:04] swatisehgal commented on #109595
Changing the priority important-longterm as we should consider the kubelet restart best practices here. We need to look into whether it is reasonable to restart kubelet without draining/cordoning the node.

/priority important-longterm

[2022-04-21 15:28] Marcussafar commented on #50375
+1

[2022-04-21 15:37] matthyx commented on #106942
Are you still using 1.20? Would it be possible to retry with a supported version of k8s, best would be 1.23?

[2022-04-21 16:02] danwinship commented on #109575
The text you quoted says "load-balancer will be restricted to the specified client IPs".

(Which is wrong, sigh. API validation ensures that it is an array of CIDR strings, not an array of IPs.)

But how would they go into iptables? There is no way to refer to that cloud-specific set of IP ranges from a Kubernetes service

[2022-04-21 16:13] wasker commented on #109445
@oliviermichaelis No, HPA didn't "do its job": CPU metrics did **not** go down as a result of it increasing desired replicas. Both HPA and cluster have max replicas/nodes parameters set to values that would allow HPA to request more capacity to alleviate the issue, but it just stopped doing it.

Alerting/monitoring is a separate concern here. HPA had an opportunity to request more capacity without

[2022-04-21 16:15] graywolf-at-work commented on #102959
/remove-lifecycle stale

[2022-04-21 16:16] graywolf-at-work commented on #102959
Maybe there should be a bot that comments with the `/remove-lifecycle stale`...

[2022-04-21 16:16] jsafrane commented on #109422
cc @msau42 @jingxu97 @gnufied

[2022-04-21 16:43] leilajal commented on #109553
/cc @jorahn @derekwaynecarr

[2022-04-21 16:44] logicalhan commented on #109457
/triage accepted
/assign

[2022-04-21 16:44] logicalhan commented on #109457
/assign @dgrisonnet

[2022-04-21 16:44] leilajal commented on #109554
/cc @roycaihw
/triage accepted

[2022-04-21 16:45] leilajal commented on #109576
/assign @apelisse
/triage accepted

[2022-04-21 16:47] khenidak commented on #109575
Thanks @danwinship I didn't know that they were validated (as cidrs or as IPs). Which means we need to update the docs anyway.

The point i am trying to make is, these shouldn't be applied on nodes. They are for the cloud provider to apply on LB or vnet's/VPC's firewall.

[2022-04-21 16:58] dprotaso commented on #106697
That command shows that it's in a rollout

[code]

I'm able to reproduce this with Repro 2 - using kind @ v1.23.4

/reopen

[2022-04-21 17:01] alculquicondor commented on #102959
I don't think there's anything actionable here. You could try JobTrackingWithFinalizers in 1.23, if the feature is not disabled first https://github.com/kubernetes/kubernetes/pull/109491

[2022-04-21 17:16] danwinship commented on #109575
So, 2 points:
1. If you have GCP-style load balancers, the CloudProvider can choose to let kube-proxy handle LoadBalancerSourceRanges for it rather than implementing it itself. (I don't know if any actually do...)
2. With the current code, the LoadBalancerSourceRanges apply to pod-to-LB traffic as well, so we need to apply them in kube-proxy to take care of short-circuited traffic. Though if we di

[2022-04-21 17:41] sahilrajput03 opened #109598 "`kubectl edit -k` command doesn't work at all"
### What happened?

I read from https://kustomize.io/ and https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/ and still I can't figure this out.

I want to know what I am missing bcoz `kc edit -k` command for changing a `kustomization.yaml` file doesn't run properly as it throws below error:

[code]

My file looks like:

[code]

### What did you expect to happen?

kustomizati

[2022-04-21 17:43] endocrimes commented on #109585
/sig storage

[2022-04-21 17:47] endocrimes commented on #108760
Depending on how the processes memory grows around when it OOMs, it's also very possible that the memory grew to 4G in between monitoring periods.

[2022-04-21 17:47] endocrimes commented on #108760
/triage needs-information

[2022-04-21 17:48] kubebeginner opened #109599 "Kubeadm upgrade failure with v1.18.20 with Ipv6 cluster"
Problem Statement;

Upgrade failure from 1.17.8 to 1.18.20 in ipv6 cluster using kubeadm upgrade

Description :

During upgrade observed , the kube-apiserver fails to start with the new manifest changes.
docker logs from kube-apiserver has the below error,

W0421 13:46:43.968456       1 clientconn.go:1208] grpc: addrConn.createTransport failed to connect to {https://[::1]:2379  <nil> 0 <nil>}. Err

[2022-04-21 18:03] endocrimes commented on #103691
Looks like serial has been stable for a while, closing: https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-node-e2e-serial

/close

[2022-04-21 18:03] endocrimes commented on #106635
Looks like serial has been stable for a while, closing: https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-node-e2e-serial

/close

[2022-04-21 18:04] #103691 closed

[2022-04-21 18:36] deads2k commented on #109211
I suspect you're looking for the code that creates this admission initializer https://github.com/kubernetes/kubernetes/blob/75e49ec824b183288e1dbaccfd7dbe77d89db381/staging/src/k8s.io/apiserver/pkg/admission/initializer/initializer.go#L37-L70 .  That's the style in which admission plugins gain access to authorizers.

[2022-04-21 18:43] SergeyKanzhelev commented on #106635
/reopen

it is referred to here: https://github.com/kubernetes/test-infra/blob/71cf119c846b21f8fc37ab7bac00899a80ce9bea/config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml#L401

Tests are skipped today

[2022-04-21 18:44] SergeyKanzhelev commented on #106635
@fromanirh did you have a chance to look at this? I remember you were close to understanding on what is going wrong here

[2022-04-21 19:02] pohly commented on #106575
/remove-lifecycle rotten

[2022-04-21 19:09] seans3 commented on #96430
/assign

[2022-04-21 19:17] pohly opened #109600 "prevent the "Expect(err).NotTo(HaveOccurred())" and "ExpectNoError(err)" anti-pattern in e2e tests"
### What would you like to be added?

This was previously tracked in https://github.com/kubernetes/kubernetes/issues/34059 (created in 2016, closed in 2020 after several tests were enhanced).

I'm starting to wonder whether the problem is getting worse again because we still don't catch new tests that use this anti-pattern (for example, https://github.com/kubernetes/kubernetes/pull/107763).

Is it

[2022-04-21 19:17] endocrimes commented on #106635
oh welp, missed that 😓

[2022-04-21 19:27] pohly commented on #109600
One thing that we could do is add an empty string as explanation with a TODO comment to all current calls that don't have one and then make the explanation parameter(s) required in
https://github.com/kubernetes/kubernetes/blob/f173d01c011c3574dea73a6fa3e20b0ab94531bb/test/e2e/framework/expect.go#L38-L41

Code without an explanation then would look like this:
[code]

[2022-04-21 19:30] pohly commented on #109600
The "TODO" could be removed in places where the error is known to be informative enough. The problem is that this can only be determined by examining the code. It also might not be obvious. I'm leaning to always requiring a non-empty string, everything else seems rather fragile.

[2022-04-21 19:34] convexquad commented on #100047
An FYI that we started hitting this occasionally in our production `eks.4` cluster with ~500 nodes at Woven Planet (i.e. Toyota) after we just recently updated customer jobs to use OIDC-enabled service accounts. The volume `/var/run/secrets/kubernetes.io/serviceaccount` sometimes fails to mount correctly while the container is being set up.

Here are a few messages from my `kubelet`:
[code]
[code]

[2022-04-21 20:06] innovate-invent commented on #75890
I think that is an issue with the autoscaler at that point. It should be able to be configured to understand temporary taints.

[2022-04-21 20:36] #106205 closed

[2022-04-21 20:40] iyashu opened #109603 "cacher watch timeout not handled when it is not ready"
### What happened?

In one of our multi tenant cluster, we've observed that all kubelet requests (under `system-nodes` flow schema) eventually started timing out or aborted due to secret watch request occupying all `system` priority level concurrency share. It happened due to our KMS provider was quite latent (& sometimes failing) for brief amount of time. Due to high latency from KMS provider, al

[2022-04-21 20:42] iyashu commented on #109603
/sig api-machinery

[2022-04-21 21:21] neolit123 commented on #109599
/transfer kubeadm

[2022-04-21 21:33] ehashman commented on #104459
I've summarized a bunch of possible different ways to optimize CPU usage of cAdvisor in Kubelet in this doc, as well as what work has been done for each: https://docs.google.com/document/d/1TVcAmVmIBxC7BRHaWW5awUPL4jrWKtsiimopOs4zpmw/edit#

[2022-04-21 21:36] #96852 closed

[2022-04-21 22:13] grosser opened #109605 "kubectl drain should not require permissions to list daemonsets"
### What happened?

`kubectl drain $node_name --ignore-daemonsets=true`
failed because it requires to list daemonsets

### What did you expect to happen?

it working without that permissions

### How can we reproduce it (as minimally and precisely as possible)?

see above

### Anything else we need to know?

this is a workaround:
[code]

### Kubernetes version

<details>

[code]

</details>

### C

[2022-04-21 22:22] grosser commented on #109605
/sig cli

[2022-04-21 22:45] federicopires commented on #108096
+1, seeing the same behavior with v1.23.6 . All involved PODs and PVC are running in the same region/AZ.

[2022-04-21 23:22] ruiwen-zhao commented on #109082
Caught the failure in one PR: https://github.com/kubernetes/kubernetes/pull/109371#issuecomment-1105772766

[2022-04-21 23:36] #106364 closed

[2022-04-22 00:58] ddurham2 commented on #95712
I believe another fitting scenario is when a pod needs to validate a JWT whose certificate URL uses the public hostname of the service that authorizes it, and that service is inside of the same cluster.

[2022-04-22 01:05] xuezhaojun opened #110345 "Should we add `authorization-always-allow-groups` flag as well?"

[2022-04-22 01:52] bobbypage commented on #109082
Using @ruiwen-zhao PR above, I added another log to log the pid of the pause infra container. A pid for the pause infra container is required to fetch network stats. It appears it's being set to zero in some rare cases, which is causing the failure.

See https://github.com/kubernetes/kubernetes/pull/109608#issuecomment-1105922281

[2022-04-22 02:12] pacoxu commented on #109555
[code]

This is really odd to me.

[2022-04-22 02:47] pacoxu commented on #109605
https://github.com/kubernetes/kubernetes/blob/422b867d4552ed173dac8159e0965a47b7853f71/staging/src/k8s.io/kubectl/pkg/drain/filters.go#L190-L197

It checks DaemonSet for removing orphaned pods with a warning if --force is used.

[2022-04-22 03:01] grosser commented on #109605
so sounds like:
- it should not do this request when not using `--force`
- it should continue with deleting and no warning if daemonset permissions are missing ? (aka ignore the error or just log it)

[2022-04-22 03:06] pacoxu commented on #109605
A possible fix would be like #109610.

However, if you use `--force` & `--ignore-daemonsets=true`, it will require permission to list daemonsets. This is somehow odd that permissions for same commands are different.

[2022-04-22 03:18] pacoxu commented on #109598
/sig cli

[2022-04-22 03:43] pacoxu commented on #109597
/sig apps

[2022-04-22 04:27] kkroening commented on #79547
Yeah that's some strange default behavior. When using `kubectl logs -l somekey=somevalue` for example, all it takes is _one_ pod to be in `PodInitializing` state to bring the entire command to its knees, even if there are other legitimate pods that match the label.

[2022-04-22 05:44] fromanirh commented on #106635
I was (past tense) but now I need to go back and look at my notes. If someone else wants to take over, be my guest, I've been quite busy with other tasks lately. Otherwise I'll get back to this!

[2022-04-22 06:12] surajssd commented on #109331
@SergeyKanzhelev kubelet logs: https://gist.github.com/surajssd/c3f7584571ff23a362e749b6700eb3a9

[2022-04-22 06:35] pohly commented on #105678
/reopen

[2022-04-22 06:52] jonyhy96 commented on #109537
Sorry for misunderstanding, the `failureThreshold: 3` is use for livenessProbe retry.

[2022-04-22 07:19] lzhecheng commented on #108923
@lminzhw hello, what you described looks similar to the issue I solved recently but I am not sure they're the same because 1) the issue couldn't be triggered easily 2) it shouldn't be related to `needsUpdate()`. I suggest trying to reproduce with master code (my change hasn't been in any release branch).

[2022-04-22 07:27] ardaguclu commented on #108630
I agree, As far as I can see, `apply`, `replace` and `run` have this deleteFlags exposure.

[2022-04-22 07:28] jonyhy96 commented on #109537
The reason why it turns to `Completed` after 4 times retry is it faced a `Back-off restarting failed container` [error](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L962-L969) when start the container at 5th retry. The backoff interval will be doubled each restart. (10s 20s 40s 80s 160s). You can
incress the restart count by extend the `period

[2022-04-22 07:38] xuchaoi commented on #93747
/reopen  I have same issue on docker 19.03.6, k8s 1.17.3

[2022-04-22 08:13] yileng146 commented on #61117
I have the same issue
than I just reboot the problem node to solve the problem
`shutdown -r now`

[2022-04-22 08:45] slaskawi commented on #104007
Here's the status as of today:
* I created a WIP PR for updating all dependencies and get rid of form3tech-oss/jwt-go. You may find it here: https://github.com/kubernetes/kubernetes/pull/109501
* Unfortunately, I had to upgrade Heketi, which caused problems with Go modules (see https://github.com/heketi/heketi/issues/1897). I proposed a fix here: https://github.com/heketi/heketi/pull/1898 and we n

[2022-04-22 09:51] shuheiktgw commented on #109591
I confirmed the issue has been resolved so I'm closing the PR!

[2022-04-22 09:51] #109591 closed

[2022-04-22 13:58] mythi commented on #109081
btw, this look a duplicate of #107093 and #108254

[2022-04-22 13:59] mythi commented on #107093
looks same as #109081 and #108254

[2022-04-22 15:00] jglick commented on #48180
Another use case: https://github.com/cloudbees-oss/inject-metadata-velero-plugin

[2022-04-22 15:15] dims commented on #109565
should be done now. i can see it here : https://github.com/kubernetes/api/tree/v0.24.0-rc.0

and can run
[code]

[2022-04-22 15:15] #109565 closed

[2022-04-22 16:18] cjcullen opened #126812 "CVE-2021-25745: Ingress-nginx `path` can be pointed to service account token file"
### Issue Details
A security issue was discovered in [ingress-nginx](https://github.com/kubernetes/ingress-nginx) where a user that can create or update ingress objects can use the `spec.rules[].http.paths[].path` field of an Ingress object (in the `networking.k8s.io` or `extensions` API group) to obtain the credentials of the ingress-nginx controller. In the default configuration, that credential

[2022-04-22 16:18] cjcullen opened #126813 "CVE-2021-25746: Ingress-nginx directive injection via annotations"
### Issue Details
A security issue was discovered in [ingress-nginx](https://github.com/kubernetes/ingress-nginx) where a user that can create or update ingress objects can use `.metadata.annotations` in an Ingress object (in the `networking.k8s.io` or `extensions` API group) to obtain the credentials of the ingress-nginx controller. In the default configuration, that credential has access to all

[2022-04-22 17:23] tallclair commented on #101695
/lifecycle frozen

[2022-04-22 17:33] smira commented on #109565
Thanks @dims, it works now!

[2022-04-22 17:43] xmcqueen opened #109621 "e2e-cos test is flaky"
### Which jobs are flaking?

ci-cri-containerd-e2e-cos-gce

### Which tests are flaking?

Kubernetes e2e suite: [sig-api-machinery] CustomResourcePublishOpenAPI [Privileged:ClusterAdmin] [Flaky] kubectl explain works for CR with the same resource name as built-in object.

Kubernetes e2e suite: [sig-storage] NFSPersistentVolumes[Disruptive][Flaky] when kube-controller-manager restarts should delete

[2022-04-22 17:43] #105962 closed

[2022-04-22 18:16] tallclair commented on #109600
+1 for requiring a non-empty string.

I suggest we update all the functions in kubernetes/test/e2e/framework/expect.go to make adding some context non-optional, for example:
[code]

As a first pass, callers could just be updated to set the contextMsg to `"TODO"`

[2022-04-22 18:43] #105638 closed

[2022-04-22 18:49] xmcqueen commented on #109621
/sig node

[2022-04-22 18:52] xmcqueen commented on #109621
/remove-sig api-machinery
/remove-sig storage

[2022-04-22 20:46] ialidzhikov commented on #109597
Isn’t this issue duplicate of https://github.com/kubernetes/kubernetes/issues/67250?

[2022-04-22 21:17] thockin commented on #104195
I would support an effort to change statefulset's name validation to label.  It's a breaking change in the strictest sense but it could never work (unless there's a path which doesn't set Hostname, which I don't see in the code).  Would need some good docs and a release note, plus some test updates.

[2022-04-22 21:18] thockin commented on #104195
Wha tI meant to say was - HELP WANTED.  If someone has time and inclination, please write a small KEP and set me as an approver, and I will fight for it and see if there's a better course of action.

[2022-04-22 21:32] aojea commented on #109603
I have one PR related https://github.com/kubernetes/kubernetes/pull/108414

I couldn't finish it because I'm not able to create an integration test to verify the issue, but maybe it could be useful to you ... regardless, you should add a test that verify the issue you are reporting

[2022-04-22 22:27] lavalamp commented on #104195
It should be uncontroversial to start by emitting a warning.

[2022-04-22 22:46] #81508 closed

[2022-04-22 22:53] hanlins opened #109627 "Named target port is not working"
### What happened?

Created a service using named `targetPort` (namely `http`), but it didn't work. Checked the endpoint for the service, the endpoint is empty but the endpointslice is not:
[code]

### What did you expect to happen?

After I change the `targetPort` from `http` to a numeric value (namely `80`), it worked:
[code]
I expect this should be working for both `http` and `80` (since it use

[2022-04-22 22:54] hanlins commented on #109627
/sig network
/assign

[2022-04-23 00:07] yibozhuang commented on #109422
Feedback from sig-storage sync:
- Leverage [node-driver-registrar](https://github.com/kubernetes-csi/node-driver-registrar) and have the sidecar accept a timeout parameter which will default to the current timeout value used by Kubelet (2min)
- Update the [device plugin registration protobuf](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/pkg/apis/pluginregistratio

[2022-04-23 00:07] yibozhuang commented on #109422
/assign

[2022-04-23 01:12] mauriciopoppe commented on #93902
Thank you for the detailed analysis @verult! Pasting the comment on https://github.com/kubernetes/kubernetes/issues/93902#issuecomment-672635201:

[code]

[code]

The order of operations that trigger an attach twice is:

[code]

[2022-04-23 02:47] #100900 closed

[2022-04-23 03:53] bobbypage commented on #109555
This is likely due to cos update from cos-89-lts to cos-97-lts. cos-97-lts has switched to cgroupv2 by default. The e2e tests in cAdvisor may be hard coding some expected values based on cgroupv1 and will need to be updated.

[2022-04-23 04:01] bobbypage commented on #109082
I think we have a much better idea of why this is occurring now. Please see https://github.com/kubernetes/kubernetes/pull/109608#issuecomment-1105922281 for explanation.

In summary, the issue is that in some there is a race condition where the pod sandbox infra container has not fully started yet, cAdvisor attempts to query the containerd task api to get the pid of the pause container. If the pau

[2022-04-23 05:00] allenjol commented on #96261
My kubernetes cluster version is 1.19.0,and i use kubectl-debug version 0.1.1 try to debug my pod,bug i got error:
<img width="1470" alt="image" src="https://user-images.githubusercontent.com/28972707/164878418-a0052d4d-68d0-47cf-8171-e41fba7643f4.png">
Who one know about that？

[2022-04-23 06:02] sanposhiho commented on #102231
/remove-lifecycle stale

[2022-04-23 06:05] sanposhiho commented on #93794
/remove-lifecycle stale

[2022-04-23 08:47] #106204 closed

[2022-04-23 09:06] regnaio commented on #13892
Is this now supported?

[2022-04-23 11:44] mikebrow commented on #109082
nod it is not a regression..  rather it is a long running critical issue just now discovered (or rediscovered) with respect to kubelet and cadvisor and summary test and how the internals of containerd work when the system is under contention. Kubelet should validate better the c cadvisor response, cadvisor should use the cri api or retry when it receives the uninitialized response. Containerd repo

[2022-04-23 11:45] mikebrow commented on #109082
nod it is not a regression in the strict sense..  rather it is a long running critical issue just now discovered (or rediscovered) with respect to kubelet and cadvisor and summary test and how the internals of containerd work when the system is under contention. Kubelet should validate better the c cadvisor response, cadvisor should use the cri api or retry when it receives the uninitialized respo

[2022-04-23 13:47] kidddddddddddddddddddddd commented on #109600
Hey guys, can I try to fix this one?
I'm going to change ExpectNoError like @tallclair said

[code]

and for those calls without contextMsg, I can temporarily replace it with an empty string,like
`framework.ExpectNoError(err,"")`

so it can print the message about this issue,and it doesn't affect  compilation

[2022-04-23 14:49] andyzhangx commented on #94929
/remove-lifecycle stale
/reopen

[2022-04-23 16:03] kl52752 commented on #108814
Is this task a `good first issue`? I would like to be assign to it.

[2022-04-23 20:35] logicalhan commented on #104549
/remove-lifecycle rotten
/reopen

[2022-04-23 22:19] npnwdev opened #109630 "why no namespace selector in service selector"
service uses any backend pods that match labels specified under the selector.
Since service, pods are both namespaced resources, why service is allowed to select any pods across namespaces?
wouldn't that be better to include a namespace selector to confine the selection to the current namespace or use any namespace (or even all) per user preference?

[2022-04-23 22:27] npnwdev commented on #109630
/sig network

[2022-04-23 22:53] #105725 closed

[2022-04-24 02:22] dims commented on #109082
Updates in https://kubernetes.slack.com/archives/C0BP8PW9G/p1650764115479609

TL;DR we'll need https://github.com/google/cadvisor/pull/3103/ and that can land after we fix failures https://testgrid.k8s.io/sig-node-containerd#pull-node-e2e&width=20

after that we'll need a cadvisor release and then a k/k master PR and then a cherry pick to k/k 1.24 branch.

[2022-04-24 02:23] davidstack commented on #106942
using 1.20.

[2022-04-24 02:25] weilaaa commented on #109329
Although several methods can be used to achieve the desired result, this method is sometimes too complicated for the user and prone to error.

Should we provide a simple interface for users to use?

[2022-04-24 02:52] RyanAoh commented on #104195
@thockin I would work for it later.

[2022-04-24 06:43] vin4v commented on #98368
/remove-lifecycle rotten

[2022-04-24 08:57] #106417 closed

[2022-04-24 09:20] chymy commented on #109630
There's no such case. If across namespaces, The endpoint corresponding to service is  `<none>`

[2022-04-24 10:07] dbazhal opened #109636 "1.20.0: kubelet crashing with concurrent map writes"
### What happened?

There was pod, scheduled to node, and all unusual it had was pvc, provided by rook-ceph.
During pod start kubelet shown logs about that pod's container start:
[code]
Right after that kubelet crashed with:
[code]
I am attaching subsequent logs, but I believe traceback leads to
[code]
but maybe I may have mistaken.
[fatal_part.log](https://github.com/kubernetes/kubernetes/files/8

[2022-04-24 11:11] yxxhero commented on #109636
/sig node

[2022-04-24 11:42] kaushiksrinivas opened #109638 "CustomResourceDefinition spec does not have serviceAccount field."
### What happened?

Custom resource definitions are created using kubectl apply of the CRD yaml file or via the REST API. We do not see the service account field being part of the CRD spec. Does one require cluster role privileges to register the CRD into the k8s api server ? If not via service account, how is the user allowed/denied to add the CRD into the api server ?

Is there any documentation

[2022-04-24 11:57] #91628 closed

[2022-04-24 12:41] tangermi commented on #97328
/remove-lifecycle stale

[2022-04-24 14:09] matthyx commented on #106942
can you reproduce with 1.23? otherwise it'd be difficult to propose fixes to a k8s out of support.

[2022-04-24 14:12] dims commented on #109082
<img width="958" alt="image" src="https://user-images.githubusercontent.com/23304/164980618-78e7d931-b760-45a8-82d8-38a08ae28f83.png">

https://github.com/google/cadvisor/pull/3103 is ready now. the CI jobs for cadvisor are 🟢 now as well.

@bobbypage can you please merge it, release v0.45 and open a PR for k/k to update the version of k8s.

thanks,
Dims

[2022-04-24 14:22] linxiulei opened #109640 "Add CRI check to localhost healthz endpoint"
### What would you like to be added?

Add a check for CRI service to localhost healthz endpoint in `kubelet` (i.e. localhost:10248/healthz and localhost:10248/healthz/cri).

### Why is this needed?

CRI service is usually a separate process in the system (Containerd, for example). So it requires a health check to make sure the process is running healthily. Using command `ctr` or `crictl` is with e

[2022-04-24 14:23] linxiulei commented on #109640
/sig node

[2022-04-24 14:23] ViliusS commented on #92463
/remove-lifecycle stale

[2022-04-24 14:27] ViliusS commented on #92463
So almost 2 years later and dozen of duplicate issues filled against this bug, we still have the same issue :(

[2022-04-24 17:12] fusionneur commented on #92463
This is the workaround. I'll repost this, because so that it is not lost after 2 years of comments. At least to help others bumping into this issue..

[2022-04-24 19:57] #106672 closed

[2022-04-24 20:19] hanlins commented on #109627
This seemed to be a user error. User need to specifically specify the port's name in deployment spec, and reference that name (instead of common protocol name) in the service. Using following spec, the service is exposed correctly:
[code]
Here's the workload:
[code]

[2022-04-24 20:19] #109627 closed

[2022-04-24 23:35] dims opened #109641 "Need Owner for abandoned(?) google-windows CI jobs"
Please see https://testgrid.k8s.io/google-windows, jobs are in various states of disrepair. We need to find owners or clean them up.

Also see https://storage.googleapis.com/k8s-triage/index.html?pr=1&job=windows

 - [ci-kubernetes-e2e-windows-containerd-gce](https://cs.k8s.io/?q=ci-kubernetes-e2e-windows-containerd-gce$) / [gce-windows-2019-containerd-master](https://testgrid.k8s.io/google-window

[2022-04-24 23:38] dims commented on #109641
/sig windows

Note from @marosset on slack : https://kubernetes.slack.com/archives/C0SJ4AFB7/p1650296587187989?thread_ts=1650242860.350949&cid=C0SJ4AFB7

/assign @pjh @ibabou

[2022-04-24 23:58] dims commented on #109641
Note that this keeps happening: https://kubernetes.slack.com/archives/C2C40FMNF/p1584359360005600 (back from 2020)

[2022-04-25 00:27] huangzhuxing commented on #98471
@denisMihaylov
hi,How do check it?
We also encountered the situation you mentioned, which could not be detected by tools（https://github.com/kubernetes-sigs/kubectl-check-ownerreferences ）, but was occasionally GC。

[2022-04-25 02:02] #106513 closed

[2022-04-25 02:36] silenceper commented on #88153
any update on this ？ @YangLu1031

[2022-04-25 02:47] kerthcet commented on #103305
/remove-lifecycle stale

[2022-04-25 03:31] knight42 commented on #28167
I would like to work on this.
/assign

There seems to be lots of work to do, I will draft a KEP first, then we could discuss about the details.

[2022-04-25 04:51] MadhavJivrajani commented on #109638
/sig api-machinery

[2022-04-25 06:26] pohly commented on #109600
I would just continue to call it `explain` instead of `contextMsg` because that is what the parameter was called before. We are not introducing a new concept, we just make the existing one mandatory. One thing that should be clarified on this occasion is that "explain" is a format string. The framework wrappers don't mention this at the moment.

How does this sound?

[code]

It's worth calling out

[2022-04-25 06:39] Encounter77 commented on #69041
Hi, is someone working on the issue?

[2022-04-25 07:02] kidddddddddddddddddddddd commented on #109600
I also prefer a single PR.
But how do we modify the current function calls.Should we just add an empty explainFormatStr string or add a "TODO". Like you said, in cases, an empty string can be passed.
I think we can pass a "TODO" as explainFormatStr for all those calls without explain, but this will result in more cleanup later.
Or we can add some simple explanation for every call, but this will ma

[2022-04-25 07:31] pohly commented on #109600
Such a single PR must be very simple, otherwise we get bogged down in discussions around what individual strings should be. Therefore `explainFormatStr = "TODO"` makes sense to me. Later code owners can and should spend some of their own time on addressing the TODOs in their tests.

[2022-04-25 07:59] kidddddddddddddddddddddd commented on #109600
Sounds good to me,I'll make a simple PR in a day or two.

[2022-04-25 08:09] Abirdcfly opened #109645 "ci-kubernetes-e2e-gce-iscsi and ci-kubernetes-e2e-gce-iscsi-serial are failing"
### Which jobs are failing?

ci-kubernetes-e2e-gce-iscsi-serial and ci-kubernetes-e2e-gce-iscsi

### Which tests are failing?

I guess it is create cluster step not tests
[code]

### Since when has it been failing?

Not clear

### Testgrid link

https://testgrid.k8s.io/sig-storage-kubernetes#gce-iscsi-serial

### Reason for failure (if possible)

I guess may be
[code]

From https://storage.googlea

[2022-04-25 08:43] denisMihaylov commented on #98471
We found it by just looking with kubectl. We knew where to look and it was simple to find the broken references

[2022-04-25 09:11] pohly opened #109648 "remove SkipUnlessFeatureGateEnabled"
### What would you like to be added?

The E2E framework has SkipUnlessFeatureGateEnabled which tricks developers into thinking that they can write tests that only run when a feature gate is enabled. That doesn't work:
- the e2e.test binary has no way of checking which feature gates are enabled in the Kubernetes cluster
- the `-feature-gate` parameter in test/e2e is not used either

We should remov

[2022-04-25 09:13] Abirdcfly commented on #109645
/assign

[2022-04-25 09:14] Abirdcfly commented on #107377
/assign Let me try.

[2022-04-25 09:21] aojea commented on #109648
Yessss

[2022-04-25 09:28] pohly commented on #109648
@dims: looking at current usages of the function, some are from you in https://github.com/kubernetes/kubernetes/commit/6c76fe9c14a6914e292dcde4c48bce082f0c94d7

Does that code mean that the test runs because the feature gate is enabled by default? Or was there ever a way to actually control the feature gate state?

[2022-04-25 09:32] SonalNew commented on #95681
How to fetch the endpoints and how to check the disk pressure on etcd?

[2022-04-25 09:45] pohly commented on #109648
`test/e2e_node` has code which modifies the global default feature gate base on this `--feature-gates` parameter. But that's the only place where `SkipUnlessFeatureGateEnabled` then actually works.

Do we have any jobs that use the parameter? Yes:
[code]

That means we cannot remove it outright. I think moving it into `test/e2e_node` is the right direction. It'll make using feature gates more comp

[2022-04-25 09:53] Abirdcfly commented on #109645
From https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/109646/pull-kubernetes-e2e-gce-iscsi/1518505856285544448/artifacts/e2e-979482001b-decf4-master/kube-master-installation.log I get
[code]
I think there's a problem here.

[2022-04-25 09:54] robert-gdv commented on #109597
Fixing #67250 doesn't guarantee, that this issue is also fixed  (e.g.  #67250 might be fixed by checking on an updated image reference).
But they seem to be similar on a higher level: Broken pods of a stateful set are not replaced when the stateful set is updated. I am not experienced enough in Kubernetes to say, if that is a feature or a bug.

[2022-04-25 10:30] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2022-04-25 10:31] pierluigilenoci commented on #69461
@lauchokyip @rikatz any news?

[2022-04-25 11:29] pohly commented on #109648
/assign

Because e2e_node needs some kind of support for feature gate checking, I ended up keeping the e2eskipper functions for it. But now they will lead to a test failure when used inside test/e2e.

[2022-04-25 11:51] yangjunmyfm192085 opened #109650 "Split the ValidateAndApply function in the component-base logs package into validate and apply"
### What would you like to be added?

When configuring klog, the ValidateAndApply function in the component-base logs package is required for the configuration to take effect. This is not very friendly, it is recommended to be divided into validate and apply functions

### Why is this needed?

Some scenarios may require separate validation.
such as
When adding unit tests for validate, the Validate

[2022-04-25 11:52] yangjunmyfm192085 commented on #109650
/sig instrumentation
/wg structured-logging
/cc @pohly @serathius

[2022-04-25 11:56] serathius commented on #109650
We merged Validate and Apply as logging is a special case that it needs to be evaluated before all other configuration.

[2022-04-25 12:01] pohly commented on #105782
/remove-lifecycle stale

[2022-04-25 12:03] yangjunmyfm192085 commented on #109650
ok, I understand now.
Is it more flexible to modify `validate` and `apply`  to `Validate` and `Apply`?

[2022-04-25 12:04] #106540 closed

[2022-04-25 12:11] pohly commented on #109650
I can only imaging one scenario where separate functions would be more useful: during unit testing of the "Validate" part.

In which binary would you use the separate functions? Would Validate be directly followed by Apply? If yes, then a single function is sufficient. If not, then what are you doing in between? If the code in the middle does any kind of logging, the logging output will not be as

[2022-04-25 12:12] dee-kryvenko commented on #103812
/remove-lifecycle stale

[2022-04-25 12:13] luckerby commented on #104584
I've been doing some tests on AKS `1.21.9`. Their Windows nodes are currently using [version](https://en.wikipedia.org/wiki/List_of_Microsoft_Windows_versions) 1809:
[code]

The Kubelet log verbosity was increased (connect to the node, edit `C:\k\kubeclusterconfig.json` and add `--v=6` as an additional command line parameter) and Kubelet restarted (either `taskkill /f /im:kubelet.exe` or connect r

[2022-04-25 12:15] pohly commented on #109648
@dims: We do indeed have the situation that e2e conformance tests use e2eskipper.SkipUnlessFeatureGateEnabled in the test/e2e binary whether that call only checked the feature gate default. Now they fail:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109649/pull-kubernetes-e2e-kind-ipv6/1518552551622971392

Should these redundant checks be removed?

The only downside that I can see i

[2022-04-25 12:19] luckerby commented on #104584
Based on the analysis above, one way to fix it is to do several retries on a Windows node to determine if the socket is valid, as opposed to give up on the first error inside the method below.
https://github.com/kubernetes/kubernetes/blob/4e10ffe45399b797fd4a0da31adc6272090e973c/pkg/kubelet/util/util_windows.go#L130-L145

In terms of impact, it's probably not that high, given that the `IsUnixDomai

[2022-04-25 12:25] dims commented on #109648
@pohly hmm let's update this PR to remove these checks and get sign off from @SergeyKanzhelev and other sig-noders.

I probably got it wrong :(

[2022-04-25 14:04] #102387 closed

[2022-04-25 17:17] JayKayy commented on #109640
I would be interested in working on this, given its confirmed this is the way to proceed.

[2022-04-25 17:26] jieyu commented on #109596
We're hitting a similar issue. In our case, we modified kube-apiserver flags in /etc/kubernetes/manifests

And we observed that kube-apiserver static pod is not restarted after modifying the flag until kubelet is restarted. The kube-apiserver flag is modifed around `Apr 22 07:02:51`, and kubelet is restarted around `Apr 22 20:20:44`.

[code]

[2022-04-25 17:30] mauriciopoppe commented on #104584
@luckerby Thank you for the detailed analysis, the race makes sense now after looking at the sequence diagram, are you planning on submitting a PR with the retry on the kubelet?

[2022-04-25 17:55] rbjorklin commented on #70585
/remove-lifecycle stale

[2022-04-25 18:13] dobsonj commented on #100474
/remove-lifecycle stale

[2022-04-25 18:15] enj commented on #108633
EKS does not run the Kubernetes controller manager signer controllers (or any equivalent thereof) that respond to approved CSRs with a signed certificate.  This is an implementation detail of their infrastructure, and it is perfectly valid for them to not support the CSR signers as they are not part of Kubernetes conformance.  Please reach out to EKS support with a feature request if you want this

[2022-04-25 18:16] #108633 closed

[2022-04-25 18:30] linxiulei commented on #109640
@JayKayy Thanks for being interested. I had a prototype to this issue already. It'd be great if you'd like to review it. However, we still need to confirm it's a legit feature first.

[2022-04-25 18:36] mauriciopoppe opened #109654 "Update storage e2e test suite running in Windows to add a nodeSelector for Window nodes"
### What would you like to be added?

The current process to test a CSI driver in Windows nodepools is:

- Create a cluster with a Windows nodepool, by default the Window nodes are tainted with `NoSchedule`
- Install a CSI Driver, assume it has a node component that can run in Windows
- Untaint the Windows nodes and *taint the Linux nodes*
- Run the e2e tests

We taint the Linux nodes because the

[2022-04-25 18:37] MikeSpreitzer commented on #109348
For those writing controllers directly against client-go, yes, the workqueue is entirely a choice of the controller author.

Even so, I think it is fair to ask if it would be valuable to make client-go offer a variant of workqueue that has some sort of prioritization.

I think if it is also fair to ask if a simpler solution would solve the OP's problem.  What about just submitting the health check

[2022-04-25 18:47] BenTheElder commented on #109577
that's some pretty old bash, I don't think we're actually using this in CI, probably that codepath can just be dropped, but up to the SIG node folks.

[2022-04-25 19:07] dims opened #109655 "Need owners or cleanup for google-gce-upgrade in testgrid"
testgrid shows not a single recent run has been green:
https://testgrid.k8s.io/google-gce-upgrade

the aggreated test report confirms this :
https://storage.googleapis.com/k8s-triage/index.html?pr=1&job=stable&xjob=windows&xtest=gcepd

Looking at where these jobs are defined:
https://cs.k8s.io/?q=google-gce-upgrade&i=nope&files=&excludeFiles=&repos=kubernetes/test-infra

looks like these are under

[2022-04-25 19:12] rphillips commented on #109596
Could you retest with 1.22.9? 1.22.9 included a critical patch in writing the terminal phase [PR#108749](https://github.com/kubernetes/kubernetes/pull/108749).

[2022-04-25 20:19] JayKayy commented on #109638
I would be interested in working on this, given we decide its the way to go

[2022-04-25 20:43] rtheis commented on #108266
Changing `maxSurge: 3` to `maxSurge: 0` seems to resolve the problem as well.

[2022-04-25 20:54] rtheis commented on #108266
Changing `maxSurge: 3` to `maxSurge: 1` still hits the problem as long as `podAntiAffinity` yields a pending pod during the rollout.

[2022-04-25 20:56] liggitt commented on #94487
perpetually failing upgrade jobs are being turned off in https://github.com/kubernetes/test-infra/pull/26082

[2022-04-25 21:31] Huang-Wei commented on #89312
/reopen
/remove-lifecycle rotten

[2022-04-25 23:21] npchandran commented on #109630
hey, @chymy Thanks for your response. Unfortunately, I'm not very clear. Could you rephrase, please?

Before that, see if my understanding is correct. Is the service supposed to select any pod within or across namespaces that match the label provided in the selector?

[2022-04-26 00:17] dims commented on #109655
xref: https://github.com/kubernetes/test-infra/pull/26082

[2022-04-26 00:22] bobbypage commented on #109082
We will use the fix https://github.com/google/cadvisor/pull/3105 instead.

[2022-04-26 00:23] bobbypage commented on #109082
https://github.com/kubernetes/kubernetes/pull/109658 is opened to bump to cAdvisor version v0.44.1 with the fix.

[2022-04-26 02:42] yifan-gu-anchorage commented on #67250
Hitting the same issue in k8s version 1.21.6

[2022-04-26 02:44] #109082 closed

[2022-04-26 03:15] chymy commented on #109630
service  selects the pod that matches service's  selector  under the same namespace. If there is no such pods in the same namespace, The endpoint corresponding to service is `<none>`.
you can create services without selectors: https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

[2022-04-26 05:37] MadhavJivrajani commented on #109589
/remove-sig release
/sig api-machinery

[2022-04-26 05:40] astraw99 opened #109661 "PVC update conflict on scheduler-binding pod volumes"
### What happened?

When scheduling pod, we encountered the following event `FailedScheduling`, then the scheduler will backoff to reschedule again, but this add more waiting time.
[code]

From the event message, we can see it is the PVC update conflict leads to the `FailedScheduling`, so need to add retry logic on PVC updating.###

### What did you expect to happen?

Need to add retry logic on PV

[2022-04-26 06:03] Goend commented on #102387
/reopen

[2022-04-26 06:13] Goend opened #109663 "1:20: Pods stuck as failed with "Pod Predicate NodeAffinity failed""
### What happened?

pod status is NodeAffinity,
[code]
pod replicas=3
but i cant make it happend again

### What did you expect to happen?

pod which has NodeAffinity  status shouldn't have occured

### How can we reproduce it (as minimally and precisely as possible)?

can't

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provide

[2022-04-26 06:15] Goend commented on #109663
/sig Node

[2022-04-26 06:29] Goend commented on #109663
[code]

[2022-04-26 06:33] redbaron commented on #107417
/remove-lifecycle stale

[2022-04-26 06:34] Goend commented on #109663
kubelet log show node has been synced,but ceph-rgw-548fdf5fc5-t5k8d has NodeAffinity status

[2022-04-26 06:40] losha228 opened #109664 "DaemonSet not restart after worker reboot when lose connection to master"
### What happened?

We run DaemonSet on worker node,  worker node loses connection to master node due to network issue.  The DaemonSet container is continuing to running on worker,  this is expected. But then I reboot worker node,  we found there is no any container running on the worker.  Is this a bug ?

### What did you expect to happen?

We are expecting the DaemonSet container would be runnin

[2022-04-26 06:56] pcornelissen commented on #43916
How can this be still open?
Shouldn't there be a way to reliably detect the available memory? I mean 5 years is a long time, someone might have invented subtraction and total and used memory calculation in the mean time. ;-)

[2022-04-26 07:07] H-W-WXL opened #109665 "some pod stuck on ContainerCreating"
### What happened?

Using calico as a network plugin,Creating other pods before the calico node is successfully started,Even if calico returns to normal,other pods might  stuck on ContainerCreating and K8s does not retry that.
According to the kubelet log, the following error is reported when the kubelet is running:
`Apr 25 14:59:14 node0 kubelet[2447606]: E0425 14:59:14.836105 2447606 runtime.go:

[2022-04-26 07:36] gauravpbankar opened #109666 "Is enabling FIPS is supported in kubernetes"
### What would you like to be added?

Wanted to check whether FIPS can enabled in Kubernetes

### Why is this needed?

To validate security compliance

[2022-04-26 08:18] SOF3 opened #109667 "Sharding list requests"
### What would you like to be added?

The apiserver accepts sharding parameters in LIST requests. This can be utilized by controllers performing list-watch.

A request can be separated into `n` shards by passing `shard: i, numShards: n` in the `ListOptions`, then the apiserver only responds with the list of objects where `hash(namespace + name) % n == i`.  The client in the controller can then mer

[2022-04-26 09:09] vaibhav2107 commented on #107074
/remove-lifecycle stale

[2022-04-26 09:11] vaibhav2107 commented on #105780
/remove-lifecycle stale

[2022-04-26 09:11] vaibhav2107 commented on #105467
/remove-lifecycle stale

[2022-04-26 09:12] vaibhav2107 commented on #102744
/remove-lifecycle stale

[2022-04-26 09:23] jan--f opened #109668 "Server Side Apply: metav1 `LabelSelector` members `MatchLabels` and `MatchExpressions` are not atomic"
### What happened?

This issue is very similar to #97970 but limited to the `LabelSelector` type. A smallish reproducer can be found [in this gist](https://gist.github.com/jan--f/870b5f7a231245bba0ac870ae6206af7).

Same as in #97970, if a user and an operator both modify a `LabelSelector` such that they both either set map items of the `MatchLabels` field of modify entries of the `MatchExpressions

[2022-04-26 09:46] jan--f commented on #109668
/wg api-expression

[2022-04-26 09:48] npnwdev commented on #109630
Thanks, @chymy for the clarification.
could you help me with the spec for "under the same namespace"?
I am looking for the exact definition that the service selector is applied only on the service's namespace...
I couldn't find the info at https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service

[2022-04-26 09:59] prakharporwal commented on #109595
Hi Is this Issue open to work on. I am new to k8s would like to work on this .

[2022-04-26 10:26] dharmjit commented on #106945
Sorry I got late on this. Below are the benchmarks for the proxy approach.

[code]

Below are the benchmarks with different slice lengths. `KObjs` and `BenchmarkKObjs` are updated to capture newer KObj2 benchmarks

[code]

[2022-04-26 10:32] chymy commented on #109630
You can execute the following command:
`kubectl explain service.metadata.namespace`
`kubectl explain service`

[2022-04-26 10:33] prakharporwal commented on #109427
Hi I am new to K8s. Would like to try this issue out.  Any hints ?

[2022-04-26 10:41] F1ko opened #109669 "Error in CHANGELOG-1.23"
### What happened?

According to the [release notes](https://github.com/kubernetes/kubernetes/blob/a83cc51a19d1b5f2b2d3fb75574b04f587ec0054/CHANGELOG/CHANGELOG-1.23.md?plain=1#L950) the `kubeadm` flag `--patches` is no longer allowed in a mixture with the flag `--config`.
However, that is not the case as someone can still use `kubeadm upgrade` with both `--patches` and `--config`.
This is due to t

[2022-04-26 10:48] F1ko commented on #109669
/sig cluster-lifecycle

[2022-04-26 10:54] chymy opened #109670 "`cobra.Command.RunE ` does not print errors if errors occur"
### What happened?

`cobra.Command.RunE `  does not print errors in the file or console if errors occur.
e.g.:
https://github.com/kubernetes/kubernetes/blob/a83cc51a19d1b5f2b2d3fb75574b04f587ec0054/cmd/kube-scheduler/app/server.go#L85-L87

If `runCommand` return err, No error printing in console.
Why not use `klog` to print errors?

pod.yaml
[code]
if `/etc/kubernetes/scheduler-config.yaml`  file

[2022-04-26 11:27] pohly commented on #106945
It sounds like you kept KObjs mostly unchanged and just changed the return value from `[]KObjectRef` to `[]KObjectRef2`. Is that correct? Posting a PR with your patch would clarify this.

It's interesting that this already shows an improvement. Where does that come from?

What I had in mind was different: if we change KObjs so that it just stores its parameters and analyses it only when needed, th

[2022-04-26 11:36] fromanirh commented on #109595
Well this issue require very specific kubelet knowledge so I don't recommend it as first issue

[2022-04-26 11:48] neolit123 commented on #109669
hi,

the mixture of flag / config validation applies to `init` and `join`.

usage of `--config` for upgrade is not recommended currently as a whole!
as you can see `--config` for upgrade throws a warning that it is not recommended.
given that fact i think we can ignore the lack of mixture validation.

if you want to reconfigure a cluster see:
https://kubernetes.io/docs/tasks/administer-cluster/kub

[2022-04-26 11:49] #109669 closed

[2022-04-26 12:08] dims commented on #109666
upstream kubernetes does not do FIPS. There is no current plan to do FIPS.

[2022-04-26 12:08] #109666 closed

[2022-04-26 12:26] dbainbri-ciena commented on #100723
Sorry, late to the conversation, so if these questions have been asked / answered elsewhere a pointer would be appreciated. The premise seems to be that an RPC mechanism to "chain" scheduling rules is too inefficient at scale. While I would agree that the overhead is more than an in process call, it does mean a solution could enable scheduling rules to be provided in a variety of implementation la

[2022-04-26 12:37] pohly commented on #106945
When you post such a PR, don't bother introducing a second version of some function. Just pretend that breaking the klog API is okay and modify the existing functions.

[2022-04-26 12:49] linxiulei opened #109671 "Create unix socket endpoint for Kubelet"
### What would you like to be added?

Create an unix domain socket endpoint (i.e. /var/lib/kubelet/kubelet.sock) for Kubelet's http services (e.g. /healthz)

### Why is this needed?

Some requests to Kubelet only travel within a host. Relying on a unix domain socket can bypass `netfilter`, which sometimes is not working due to full conntrack table. Besides, it's safer and lightweight compared to t

[2022-04-26 12:49] linxiulei commented on #109671
/sig node

[2022-04-26 12:56] linxiulei opened #109672 "Kube-proxy should exempt local traffic from going through conntrack"
### What would you like to be added?

An accept rule should be installed before the conntrack rule exempt local traffic such as requests to localhost:10248/healthz

[code]

### Why is this needed?

Tracking traffic via loop interface seems unnecessary and has extra overhead. Especially when the conntrack table is full, the traffic would be dropped and it causes more problems.

[2022-04-26 13:06] wangyysde commented on #109671
/cc @wangyysde

[2022-04-26 13:07] yangjunmyfm192085 commented on #105220
Can you provide the status of the metrics-server and the logs of the metrics-server?

[2022-04-26 13:07] pohly commented on #106945
For example, here's what I had in mind: https://github.com/kubernetes/klog/pull/322

[2022-04-26 14:09] aojea commented on #109671
are there any security issues with that approach?

[2022-04-26 14:39] xmcqueen commented on #109621
Can somebody send me a pointer about these regexes?  I don't see anything in regexp, nor in the json annotations for the Mashalling that would explain these UPPERCASE words in this regex for the faiing test.  They look like some DSL for flattened objects, but I don't see where its coming from.  I must be missing something:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apimachinery

[2022-04-26 14:46] siaimes opened #109673 "`imagePullPolicy` issue."
### What happened?

[code]

where `pod-0.yaml` is as follows:

[code]

When the pod is pulling the image.

[code]

where `pod-1.yaml` is as follows:

[code]

which image `nginx:1.15` is locally available.

However, `pod-1` will not be able to start before `pod-0`.

### What did you expect to happen?

`pod-1` starts immediately, regardless of the state of `pod-0`.

### How can we reproduce it (as m

[2022-04-26 14:47] siaimes commented on #109673
related issue:

https://github.com/microsoft/pai/issues/5150

[2022-04-26 15:02] dharmjit commented on #106945
That is correct and it uses `KObj2`. [dharmjit/klog](https://github.com/dharmjit/klog/blob/kobjs-benchmark/k8s_references.go#L114-L128)

Not sure but I suspect it could be from returning the interface type(`KMetadata`)

[2022-04-26 15:17] #109638 closed

[2022-04-26 15:22] liggitt commented on #109598
The `set image IMAGE_PLACEHOLDER=jakousa/dwk-4-gitops-app:myTestTag` arguments are not recognized by `kubectl edit`

That command takes either a manifest (`-f <filename>`) or a kustomize file (`-k <kustomize file/dir>`) or a resource description (like `pod/mypod`), and opens an interactive editor to let you modify it.

`kubectl edit` does not take kustomize directives on the command line to apply

[2022-04-26 15:23] #109598 closed

[2022-04-26 15:26] liggitt commented on #109589
stable versions (`v<digits>`) always sort before beta versions (`v<digits>beta<digits>`) always sort before alpha versions (`v<digits>alpha<digits>`)

[2022-04-26 15:26] #109589 closed

[2022-04-26 15:29] linxiulei commented on #109672
To clarify, the local traffic (localhost to localhost) would firstly go through OUTPUT chain and then INPUT chain. Is it right?

It doesn't matter if it only goes to OUTPUT chain because OUTPUT chain also uses conntrack.

[code]

The issue is when the conntrack table is full the localhost health check against kubelet is failed. However, this doesn't really reflect the true problem.

[2022-04-26 15:34] liggitt commented on #109668
cc @jpbetz @apelisse

what is the CustomResourceDefinition for the resource? is that indicating the `serviceMonitorSelector` property is `x-kubernetes-map-type: atomic`?

[2022-04-26 15:39] liggitt commented on #109668
if https://github.com/prometheus-operator/kube-prometheus/blob/a51a935747fd6eb8204b336fe7d70a8eb816821e/manifests/setup/0prometheusCustomResourceDefinition.yaml#L5598-L5643 is the CRD in question, there's nothing to indicate to the server that serviceMonitorSelector should be handled atomically, so the default for objects is to handle them granularly (property by property), which would match the b

[2022-04-26 16:33] pst commented on #109401
👎

[2022-04-26 16:40] npchandran commented on #109630
hmm, I couldn't find that info yet. a miss in the documentation?

[code]

[2022-04-26 16:47] jan--f commented on #109668
The CRD in question is generated from https://github.com/prometheus-operator/prometheus-operator/blob/main/pkg/apis/monitoring/v1/types.go#L74

`ServiceMonitorSelector` is of type `metav1.LabelSelector`. The label selector type is already marked as `structType:atomic`. However both fields of that type (`MatchLabels` and `MatchExpressions`) are not treated as atomic but rather as granular.

[2022-04-26 16:50] Huang-Wei commented on #100723
On one hand, it's due to the volume of data that needs to be exchanged. This imposes non-negligible overhead to every single scheduling attempt. On the other hand, it lies in the how much core scheduler capabilities can be leveraged. With a RPC-like mechanism, only a very small portion can be reused.

If you just want to start with a simple extension tryout, you can try scheduler extender which de

[2022-04-26 17:13] sahilrajput03 commented on #109598
@liggitt Thanks a lot. I didn't know that at all.

[2022-04-26 17:15] pohly commented on #106945
I've taken your commit and split it up for a before/after comparison: https://github.com/kubernetes/klog/compare/main...pohly:kobjs-benchmark

Because ObjectRef changes, some additional tests had to be removed.

I can confirm that performance improves, but an API break for KObj doesn't seem worthwhile (IMHO).

[2022-04-26 17:17] #106698 closed

[2022-04-26 17:52] le0nard01 commented on #78902
/reopen

[2022-04-26 18:01] vishiy opened #109677 "volume usage metrics missing in /stats/summary kubelet endpoint for certain volumes"
### What happened?

For certain storage classes (ex;- smb volume, hostpath (manual) volume), when i query /stats/summary kubelet end point( k8s version 1.23.5), I dont see the below metrics for some of my above volume, though they are mounted and used .

"volume": [
{
"time": "2022-04-26T02:52:55Z",
"availableBytes": 209702912,
"capacityBytes": 209715200,
"usedBytes": 12288,
"inodesFree": 889531,

[2022-04-26 18:17] bridgetkromhout commented on #109180
Hi, @maxwolffe - okay, as the fix exists in 1.23 and beyond, I'll close this issue now. (And I'll encourage you to get your updates accomplished, as 1.16.x no longer receives security patches. If it turns out that AKS or CAPZ meets your needs, that might help you stay more up-to-date. Thanks!)

/close

[2022-04-26 18:17] #109180 closed

[2022-04-26 18:23] aojea commented on #109672
You should report first the bug, I don't think this is going to solve any problems if you have the conntrack table full, is just one connection

[2022-04-26 18:35] linxiulei commented on #109672
IMHO, this is expected as conntrack table can't be infinite. The applications can exhaust it no matter how big it is. The point is that ideally conntrack table being full should not impact kubelet (and its health check).

[2022-04-26 18:49] jsturtevant commented on #109404
GetSupported features calls GetCachedSupportedFeatures so the caching is used in 1.23 after https://github.com/kubernetes/kubernetes/pull/104880 merged

https://github.com/kubernetes/kubernetes/blob/a83cc51a19d1b5f2b2d3fb75574b04f587ec0054/vendor/github.com/Microsoft/hcsshim/hcn/hcnsupport.go#L69-L70

[2022-04-26 19:38] laurie-kepford opened #109678 "Websocket connection drops between two containers in same pod"
### What happened?

I have a pod that is made up of two containers.  One called backend and one called notification-service.  Both are written in haskell and both communicate via websockets.  The backend is running on port 3000 and the notification has no port exposed.  There is an ALB in front of the backend and the backend excepts both https and websockets on the same port.

At startup a websock

[2022-04-26 19:47] laurie-kepford commented on #109678
/sig network
/sig k8s-infra

[2022-04-26 19:57] neolit123 commented on #109661
/sig storage

note that this is not a supported client/server skew:

Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.4-tke.23", GitCommit:"6581e1d61d266ea835f1f051122cccbc715c542f", GitTreeState:"clean", BuildDate:"2022-03-15T09:25:31Z", GoVersion:"go1.15.10", Compiler:"gc", Platform:"linux/amd64"}

https://kubernetes.io/releases/version-skew-policy/#kubectl

[2022-04-26 19:57] neolit123 commented on #109664
/sig apps

[2022-04-26 19:58] neolit123 commented on #109665
/sig node

[2022-04-26 20:07] neolit123 commented on #109670
i don't think that's true, unless the output is somehow muted:

see::
https://go.dev/play/p/i6wsQ4fXoJ0

[code]

/sig scheduling
/triage needs-information

[2022-04-26 20:08] neolit123 commented on #109672
/sig network

[2022-04-26 20:09] neolit123 commented on #108121
/close

please reopen if needed.

[2022-04-26 20:09] neolit123 commented on #108121
/sig network node

[2022-04-26 20:09] #108121 closed

[2022-04-26 20:10] neolit123 commented on #109673
/sig apps

[2022-04-26 20:10] neolit123 commented on #109677
/sig node storage

[2022-04-26 20:15] fedebongio commented on #109550
/triage accepted

[2022-04-26 20:15] fedebongio commented on #109638
/triage accepted

[2022-04-26 20:16] fedebongio commented on #109667
/assign @lavalamp @deads2k @jpbetz
/triage accepted

[2022-04-26 20:17] fedebongio commented on #109603
/cc @wojtek-t
/triage accepted

[2022-04-26 20:19] fedebongio commented on #109553
/remove-sig api-machinery
/sig node
/sig architecture

[2022-04-26 20:35] yangjunmyfm192085 opened #109679 "Incorrect metrics of container might be generated when pod start or stop"
### What happened?

As described in [#1009](https://github.com/kubernetes-sigs/metrics-server/pull/1009), When the pod start or stop, negative metrics  generated.
[code]

### What did you expect to happen?

generate the correct metrics

### How can we reproduce it (as minimally and precisely as possible)?

pod restart

### Anything else we need to know?

_No response_

### Kubernetes version

<det

[2022-04-26 20:36] yangjunmyfm192085 commented on #109679
/sig node
/sig instrumentation

[2022-04-26 20:45] ganga1980 commented on #109677
/track @ganga1980

[2022-04-26 20:50] luckerby commented on #104584
@mauriciopoppe Yes, I'll try to have something done in the next few days

[2022-04-26 20:55] lavalamp commented on #109667
Pagination is the closest thing to this that we offer right now. You could e.g. request page N+1 while still processing page N. Alternatively (or additionally) you can shard by namespace, some controllers do this.

(You can actually get something similar if you play around with pagination continuation tokens but I wouldn't recommend it outside of specific circumstances.)

As far as scale goes, we

[2022-04-26 20:55] #109667 closed

[2022-04-26 22:27] umegbewe commented on #81289
/reopen issue still present in 1.23

[2022-04-26 22:40] rolfedh opened #109686 "Document CNI version-related breaking change"
**This is a Bug Report**

**Problem:**

As a user upgrading to Kubernetes v1.24 GA I must be aware of the following information:

- (No, really, you MUST read this before you upgrade) Before you upgrade to Kubernetes 1.24, if you use a CNI network plugin that complies with [Container Network Interface](https://github.com/containernetworking/cni) (CNI) versions earlier than v1.0.0 and you plan to u

[2022-04-26 22:53] Riaankl opened #109682 "Write List, Patch & DeleteCollection ResourceQuota test - +3 endpoint coverage"
# Progress <code>[6/6]</code>

- [x] APISnoop org-flow: [CoreV1ResourceQuotaTest.org](https://github.com/apisnoop/ticket-writing/blob/master/CoreV1ResourceQuotaTest.org)
- [x] test approval issue : #109682
- [x] test pr : #109683
- [X] two weeks soak start date : [Testgid](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&graph-metrics=test-duration-minutes&include

[2022-04-26 22:56] Riaankl commented on #109380
Testing the endpoints in #109683
Test for ResourceQuotaStatus endpoints will follow shortly

[2022-04-26 22:56] #109380 closed

[2022-04-26 22:58] Riaankl commented on #109682
/triage accepted

[2022-04-26 23:11] #108235 closed

[2022-04-26 23:41] #108035 closed

[2022-04-27 00:13] mbyio commented on #106476
I've spent a lot of time debugging this issue in AWS. One particularly problematic use case is with network load balancers. They always take at least 2 minutes to deregister a pod in IP mode from when they receive a request via AWS' API to remove the pod. During this time, the NLB will still send new TCP connections to the pod.

The AWS Load Balancer controller would be able to detect when a pod i

[2022-04-27 00:19] ide commented on #109287
I am seeing similar symptoms (also with v1.21.9-gke.1002) where successfully completed Jobs sometimes are not removed even when `successfulJobsHistoryLimit` is set to a small number.

Like the original report in this issue, these Jobs are scheduled to run every minute and sometimes take more than a minute to complete. Similarly, the CronJob specs are continuously deployed, increasing the likelihoo

[2022-04-27 00:23] reylejano commented on #109686
/sig network

[2022-04-27 00:23] mauriciopoppe commented on #104584
A few notes about this after discussing it with the team:

- We thought that the code in the kubelet run in a loop but the call is a one time thing that's triggered when something changes in the watched directory
- In node-driver-registrar the race could happen somewhere between where the socket is created and the gRPC server setup, even if we reorder a few lines we'd still have the race

https://

[2022-04-27 00:32] sftim commented on #109686
/sig docs
/sig release
/kind documentation

[2022-04-27 00:32] sftim commented on #109686
/retitle Document CNI version-related breaking change

[2022-04-27 00:33] sftim commented on #109686
@rolfedh we usually don't mark issues as WIP, so I retitled this.

[2022-04-27 00:47] chymy commented on #109670
There is no problem with testing alone.
However, I found that if the `/etc/kubernetes/scheduler-config.yaml` is configured incorrectly, the returned error will not be printed.
I think it would be better to print the log using `klog`.  It can be presented in the file instead of using the `kubectl logs` command to view when the component cannot be started

[2022-04-27 01:19] sftim commented on #109686
Also see https://github.com/kubernetes/website/pull/33224

[2022-04-27 01:20] sftim commented on #109686
Per https://github.com/kubernetes/website/pull/33224#issuecomment-1110017103, I suggest we add a release note entry about any CNI version bump that we decide to make.

[2022-04-27 01:20] Huang-Wei opened #109687 "Optimize a O(n) operation in volumerestrictions#PreFilter"
A principle of writing a scheduler PreFilter/PreScore plugin is to iterate all nodes **when necessay**. If it's just a good-to-have, we usually delay the O(n) operator to Filter()/Score() on each node.

Two valid examples for this is InterPodAffinity and PodTopologySpread's PreFilter(), which **need** to calculate the inter-pod relationship across all nodes, and used in Filter() later on.

However

[2022-04-27 01:21] Huang-Wei commented on #109687
/kind feature
/assign @yibozhuang

[2022-04-27 02:12] yibozhuang commented on #109687
/assign

[2022-04-27 03:19] mattcary commented on #109328
Silence is golden! Closing this as wont-fix as the in-tree gce pd provider is deprecated and migration is on by default.

/close

[2022-04-27 03:20] #109328 closed

[2022-04-27 05:39] Abhishek-Srivastava commented on #109589
@liggitt  @fedebongio
v11beta1 is a development release over v10 (which is stable, let's consider).
That implies v11beta1 is having all the code which v10 has + more. Is that a correct understanding ?

[2022-04-27 05:44] Kartik494 commented on #109673
HI @siaimes its seems like this is issue with `image: siaimes/pytorch1.10.0:v1.0.1` , i have tried using given yaml files but pod stuck in `pulling image` stage but when i use for different images in different deployment then both of the pods running fine.

[2022-04-27 06:09] chymy commented on #109670
I found the reason: `--stderrethreshold = 4`,
https://github.com/kubernetes/kubernetes/blob/537941765fe1304dd096c1a2d4d4e70f10768218/vendor/k8s.io/klog/v2/internal/severity/severity.go#L30-L36

Thanks @neolit123. I will close it. I think it would be better to print the log using `klog`

[2022-04-27 06:09] #109670 closed

[2022-04-27 06:23] siaimes commented on #109673
@Kartik494 Thanks for your reply and test.

First of all, the starting point for this issue is that `pod-0` blocking should not cause `pod-1` to block, but it is actually blocked.

Secondly, there is no problem with this image itself. I have been using this image for a long time. This image contains a complete PyTorch development environment, so it is relatively large and needs to be pulled for a

[2022-04-27 06:24] siaimes commented on #109673
https://github.com/siaimes/pytorch1.10.0/blob/fa990b186f30e1040c585e1bc396879dc36d02c0/Dockerfile#L1-L23

This is my docker file to build the image.

[2022-04-27 06:31] Kartik494 commented on #109673
In my environment i have check this for approx 18 minutes and the pod stuck in image pulling state but i will check this again

[2022-04-27 06:41] davidstack commented on #106942
ok. i will test in 1.23

[2022-04-27 07:04] kaushiksrinivas commented on #109638
Hi @liggitt ,
Thank you for the detailed response.

Trying to summarize the configurations for kubectl to be able to create the CRDs below.
1. kubectl uses default **$HOME/.kube/config file.**
2. config file content could be something like,
   `users:
      - name: kubectl
        user:
          **client-certificate: /etc/kubernetes/ssl/cluster-admin.pem**
          client-key: /etc/kubernetes/ss

[2022-04-27 07:30] aojea commented on #109686
/assign @squeed @dcbw

[2022-04-27 07:34] siaimes commented on #109673
We can not care too much about `siaimes/pytorch1.10.0:v1.0.1`, the focus should be that the first pod of pulling the image should not cause the second pod to block.

[2022-04-27 07:41] aojea commented on #109672
I understand your reasoning, but if you have your conntrack table full, the kubelet probe is going to be the minor of your problems
We should determine the root cause of the exhaustion of the conntrack table and see if its origin is some architectural problem, but we can not start patching the edge cases or this will not scale ... are we going to add rules for apiserver, controller-manager, ... an

[2022-04-27 07:43] aojea commented on #109621
/sig api-machinery

[2022-04-27 07:45] aojea commented on #109621
ups , I´ve just realised you removed the original sigs, @xmcqueen , any reason to assign this to node instead of api-machinery and storage?

[2022-04-27 09:04] dgrisonnet commented on #102056
/remove-lifecycle stale

[2022-04-27 09:27] linxiulei commented on #109672
I agree. My understanding on this problem is:

* Conntrack table exhaustion is inevitable from the workload. K8S should consider the worse scenario if possible to avoid impacts from the workload. Ideally, the communication between K8S components should be fine when conntrack table is full.
* since the conntrack is setup by kube-proxy, the architectural problem could be inside the kube-proxy. For e

[2022-04-27 10:27] Kartik494 commented on #105581
/remove-lifecycle stale

[2022-04-27 10:33] sftim commented on #109686
AIUI, we're proposing to change the docs around networking
- **from** recommending / declaring that the ecosystem should follow CNI spec 0.4.0
- **to** recommending / declaring that the ecosystem should follow CNI spec 1.0.0

and that recommendation change is going to accompany the v1.24 release. Have I got that right?

[2022-04-27 10:38] tsuna commented on #40157
@fromanirh this is not a support request, it's a legit feature request.

[2022-04-27 11:07] ingvagabund opened #109693 "[RFE] scheduling profiles restricted by a list of namespaces"
Currently, when a scheduling profile is configured, the `schedulerName` field [1] is used to map the profile to a pod. In cases where the same profile is shared between control plane pods [2] and user workload pods, this may become cumbersome when there's a demand on having different scheduling configuration for the workload pods. The obvious solution is to create another scheduling profile and ha

[2022-04-27 11:13] squeed commented on #109686
Respectfully, the text in this post is wrong. CNI v1.0 continues the existing practice of assuming missing version = `v0.1.0`. So, there are no breaking changes and no administrator changes are required.

The only thing interesting is that we, as an ecosystem, would like to support 1.0.

[2022-04-27 11:19] sftim commented on #109686
@mikebrow FYI

[2022-04-27 12:05] sanposhiho commented on #109661
/sig scheduling

[2022-04-27 12:40] liggitt commented on #109686
is this actually required? it's hard to tell whether updating CNI plugins is *actually* required when upgrading to 1.24. It needs to be clearer whether action is actually required. https://github.com/kubernetes/kubernetes/issues/109686#issuecomment-1110876517 indicates it is not.

[2022-04-27 12:48] liggitt commented on #109638
https://github.com/kubernetes/kubernetes/issues/109638#issuecomment-1110621565 is one way to accomplish what you want. It makes the kubectl client use a superuser credential which is authorized to do *anything*, including create/modify CRD objects

[2022-04-27 13:05] rolfedh commented on #109686
- Please direct all comments to https://github.com/kubernetes/website/pull/33240
- When those have all been resolved, I'll port the changes to https://github.com/kubernetes/website/pull/33242. Please don't comment on https://github.com/kubernetes/website/pull/33242.

[2022-04-27 14:10] aojea commented on #109672
hmm, kube-proxy rules are not creating the conntrack entries, those rules are using the entries ... the kernel enables the conntrack hooks and tracks the protocols, all the NAT kernel modules use those entries to be able to perform the different operations ...

If you want some traffic to not be "tracked" by the kernel you have to use something like
[code]

but if you hit conntrack table limits I

[2022-04-27 15:31] DiptoChakrabarty commented on #109686
/milestone v1.24

:wave:  bug triage here adding milestone once again to track (might have moved after issue transfer)

[2022-04-27 16:05] sftim commented on #109686
This isn't really directly relating to any Kubernetes change at all, but I don't think we're keen to suggest people switch to a different container runtime and then have those folks find that their cluster networking is awry.

[2022-04-27 16:23] fromanirh commented on #109562
that's a good catch. This can be related indeed.
In general, cpus are released after containers terminated periodically (please check the cpumanager reconcile period option), or when a new container is admitted.
IOW, it is expected (and not a bug) that the data in the state file is "stale" for some amount of time after the relevant containers terminate. I think in general inspecting the content of

[2022-04-27 16:37] BenTheElder opened #109695 "e2e coverage is broken"
### What happened?

https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-conformance

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-coverage-conformance/1519348158935601152

### What did you expect to happen?

should not fail to build

### How can we reproduce it (as minimally and precisely as possible)?

try to build binaries in coverage mode

### Anything else

[2022-04-27 16:37] BenTheElder commented on #109695
/triage accepted

[2022-04-27 16:47] soltysh commented on #108604
/triage accepted

[2022-04-27 16:47] seans3 commented on #104318
/triage accepted

[2022-04-27 16:47] liggitt commented on #109686
I'd tend to agree.

[2022-04-27 16:48] seans3 commented on #105846
/triage accepted

[2022-04-27 16:48] seans3 commented on #108608
/triage accepted

[2022-04-27 16:52] seans3 commented on #108768
/triage accept

[2022-04-27 16:52] seans3 commented on #108768
/triage accepted

[2022-04-27 17:08] klueska commented on #109562
Seems the same as far as i can tell, I would close this as a duplicate.

[2022-04-27 17:12] fromanirh commented on #109562
/close
treating as dupe of https://github.com/kubernetes/kubernetes/issues/107074

[2022-04-27 17:12] #109562 closed

[2022-04-27 17:31] BenTheElder commented on #109673
if they schedule to the same node and kubelet is configured to pull images serially, this will necessarily happen.

kubelet flag `serialize-image-pulls` is still default true

https://github.com/kubernetes/kubernetes/blob/39c76ba2edeadb84a115cc3fbd9204a2177f1c28/pkg/kubelet/apis/config/v1beta1/defaults.go#L209

[2022-04-27 17:31] SergeyKanzhelev commented on #109555
Looks green now. Closing and will monitor

/close

[2022-04-27 17:31] #109555 closed

[2022-04-27 17:40] dpedu opened #109698 "ELB Security Group references not cleaned up after deleting service"
### What happened?

Kubernetes fails to clean up AWS resources it created when creating a Service which leads to a build-up of resources, inability to delete the environment this happens within without manual intervention, etc.

I'm using EKS and creating a Service. When I create service:

- Kubernetes creates an ELB based on the annotations in my service, included below.
- Kubernetes creates a Se

[2022-04-27 17:41] SergeyKanzhelev commented on #109665
/triage accepted
/assign @rphillips

[2022-04-27 17:43] SergeyKanzhelev commented on #109663
/remove-sig node
/sig scheduling

[2022-04-27 17:45] SergeyKanzhelev commented on #109636
@dbazhal any chance you can try to repro this on 1.23? Are there clear steps to repro or it just happened once?

/triage needs-information

[2022-04-27 17:46] SergeyKanzhelev commented on #109596
/triage needs-information

see @rphillips comment above

[2022-04-27 17:48] SergeyKanzhelev commented on #109585
/remove-sig node

let sig-storage to triage and decide if this is a bug

[2022-04-27 17:49] SergeyKanzhelev commented on #109577
/triage accepted
/priority backlog

/assign @matthyx

[2022-04-27 17:53] rphillips commented on #109636
The crash here is in the containermap Add(). This area has has numerous updates in the later versions of Kubernetes. I agree with @SergeyKanzhelev that the latest 1.2x or a later minor release should be tried.

[code]

[2022-04-27 17:56] rphillips commented on #109665
The proposed change looks reasonable. @H-W-WXL would you like to create a PR?

[2022-04-27 18:21] dpedu commented on #109698
/sig cloud-provider

[2022-04-27 18:30] #107803 closed

[2022-04-27 18:36] jsturtevant commented on #107394
/remove-lifecycle stale

We found a lock in the HNS code which is part of the issue here.  There is lots of room for improvement on the perf side but should resolve some of the errors where context deadline exceeded such as:

[code]

[2022-04-27 19:08] dbazhal commented on #109636
Sorry, I can't even come up with any idea on how can I collect wider description of circumstances this situation happened in. And this only happened once.
Thank you for advice, we've updated to 1.21, and we'll watch the situation now.
I'll bump issue if this happens again.

[2022-04-27 19:08] #109636 closed

[2022-04-27 19:38] needleshaped commented on #57291
Above software does not solve the problem.
1. Rescheduling failing pod to another node will not solve the problem of a pod failing in most cases.
2. Removing pod covered by Deployment does little, except resetting "restarts" count, as Pod is recreated by default.

**Use case:** development cluster, microservices.

Some microservices include AI models, that upon startup do heavy lifting (Network, I

[2022-04-27 20:32] squeed commented on #109686
Minor update: it turns out there was a regression in libcni. This is now fixed: https://github.com/containernetworking/cni/releases/tag/v1.1.0

Once containerd picks up this version (should be soon), this will mostly be a non-issue. However, administrators should update their CNI plugins if they are packaging them themselves.

[2022-04-27 20:51] marosset commented on #106752
/remove-lifecycle stale

[2022-04-27 21:04] SergeyKanzhelev commented on #109577
the script is being referred from the docs: https://github.com/kubernetes/community/blob/a080c54dee5249f307e129f83277e1f564df2a96/contributors/devel/sig-node/e2e-node-tests.md#L142

I think the safest bet is to simply remove the docker installation part.

[2022-04-27 21:05] marosset commented on #107019
/remove-lifecycle stale

[2022-04-27 21:08] SergeyKanzhelev commented on #109663
/retitle 1:20: Pods stuck as failed with "Pod Predicate NodeAffinity failed"

k8s oss maintains only three last releases https://kubernetes.io/releases/, please try to reproduce on one of the latest versions

[2022-04-27 22:02] SergeyKanzhelev commented on #109648
Ideally we need to remove all use of these functions. Those are only confusing.

With this proposal: https://github.com/kubernetes/enhancements/issues/3041 filtering will be easier in test definitions.

we may want to explore the reading kubelet feature gates via `/configz` endpoint for runtime validation. But I don't think it is needed right away

[2022-04-27 23:14] rolfedh commented on #109686
Issue resolved by updating the software and updating the release note. This PR is no longer needed.
Context: https://kubernetes.slack.com/archives/C0156PJ62RE/p1651098266321399?thread_ts=1650379911.716169&cid=C0156PJ62RE

[2022-04-27 23:14] #109686 closed

[2022-04-28 00:02] tallclair opened #109703 "[E2E] Review FilterNonRestartablePods"
`FilterNonRestartablePods` (and the corresponding `isNotRestartAlwaysMirrorPod`) are confusing functions. Either these are buggy, or they need to be renamed with much more descriptive comments.

1. Should non-mirror pods with a `RestartPolicy=Never` be considered non-restartable?
2. What does this mean: `pods that will never get recreated if deleted after termination`? Deleted pods will only be re

[2022-04-28 00:58] yangjunmyfm192085 commented on #109679
This is a feedback from contributors in kubernetes-sigs/metrics-server. It should not appear all the time, otherwise metrics-server will not work all the time. From the description of several issues, the way to reproduce should be pod restart
such as:
https://github.com/kubernetes-sigs/metrics-server/issues/983#issuecomment-1080630384

[2022-04-28 01:44] H-W-WXL commented on #109665
Okay, I'll revise it as soon as possible.

[2022-04-28 02:46] #109645 closed

[2022-04-28 02:47] siaimes commented on #109673
@BenTheElder Thank you, this really solved my problem.

[2022-04-28 02:47] #109673 closed

[2022-04-28 02:50] nikhita commented on #105988
/remove-lifecycle stale

[2022-04-28 03:08] SOF3 commented on #109667
@lavalamp

Pagination does not really solve the problem for two reasons:

- If we use the continue token in the response, this requires fetching the continue token from the response body, which requires fully receiving the page (since the continue token is sent in the metadata not in the headers), and it is not possible to synthesize the continue token since we don't know what's the (N+1)th key).

[2022-04-28 03:40] liuyingshanx commented on #107243
Find your container log under /var/log/containers/<container name>. Maybe this could help.

[2022-04-28 06:00] jitendra319 commented on #109562
This issue was filed after checking the content of the state file, because as a side effect it was affecting  IRQBALANCE_BANNED_CPUS in /etc/sysconfig/irqbalance

[2022-04-28 06:31] klueska commented on #109562
Im not sure what IRQBALANCE_BANNED_CPUS is, but in principal, nothing should rely on the state file of the CPU manager. It has no API guarantees and is completely internal to the CPU manager implementation. It’s location on the filesystem and it’s format are subject to change at any time without warning.

[2022-04-28 06:43] fromanirh commented on #109562
I completely agree with Kevin. Peeking at the cpumanager state file is almost always a bad idea.
Some flows or applications external to the kubelet may want to know which exclusive CPUs a container got, for example to perform extra system tunings. All of this should probably better integrated in the platform somehow, but still these use cases exists today.

To learn about allocation of exclusive C

[2022-04-28 09:26] Abirdcfly commented on #107377
after merge https://github.com/kubernetes/test-infra/pull/26078, `--gcp-master-image=ubuntu` is added, but new error occured: [source](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109646/pull-kubernetes-e2e-gce-iscsi/1519522048911609856)
[code]

but `--image-family=ubuntu-2004-lts` was added a long time ago. @aojea I'm sorry to interrupt, but do you have any thoughts on this issue?

[2022-04-28 09:37] kinderyj commented on #109703
same issue

[2022-04-28 09:42] stevo-f3 opened #109707 "etcd: Update to v3.5.4"
Please publish 3.5.4-0 image and update to [etcd v3.5.4](https://github.com/etcd-io/etcd/releases/tag/v3.5.4) to benefit from fix https://github.com/etcd-io/etcd/pull/13950 for https://github.com/etcd-io/etcd/issues/13948, while still keeping v3.5.3 critical correctness fixes (https://github.com/etcd-io/etcd/issues/13766, https://github.com/etcd-io/etcd/issues/13514).

For recent PRs for update to

[2022-04-28 09:45] stevo-f3 commented on #109707
/sig release
/sig api-machinery
/kind bug

[2022-04-28 10:23] sftim commented on #109686
BTW, it's an issue for containerd _and_ CRI-O (as I understand it). All container runtimes affected by the `libcni` bug need to update.

[2022-04-28 11:34] aojea opened #109710 "upgradeaware proxy and golang httputil.ReverseProxy"
Since golang 1.12 https://github.com/golang/go/commit/ee55f0856a3f1fed5d8c15af54c40e4799c2d32f
the standard library httputil.ReverseProxy supports automatic upgrade to websockets and other protocols, in a much cleaner implementation that we have today in `staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go`

Also, a quick look to the golang ReverseProxy history, shows that is well maint

[2022-04-28 11:35] aojea commented on #109710
/assign @lavalamp @smarterclayton @wojtek-t
/sig api-machinery

[2022-04-28 13:31] bradbeam commented on #100726
I am not, please feel free to work on it. Appreciate it.

[2022-04-28 14:02] RyanAoh commented on #100726
/remove-lifecycle stale

[2022-04-28 16:03] ahg-g opened #109712 "An Indexed Job mode that allows every index to execute"
### What would you like to be added?

A mode of operation for Jobs with `.spec.completionMode="Indexed` that allows every index to execute.

Currently this is not possible because when a job reaches its `.spec.backoffLimit`, active pods will be deleted; moreover, the job is declared failed and so no new pods are created for the indices that didn't execute yet (happens more often when parallelism <

[2022-04-28 16:03] ahg-g commented on #109712
/sig apps
/wg batch

[2022-04-28 16:39] leilajal commented on #109621
/assign @kevindelgado
/triage accepted

[2022-04-28 16:40] leilajal commented on #109707
/cc @jpbetz
/triage accepted

[2022-04-28 16:41] leilajal commented on #109710
/triage accepted

[2022-04-28 16:53] prakharporwal commented on #109595
@fromanirh I think that's how I will learn . Is this issue time bound ? Can you help me with areas I will have to learn about to work on this.

[2022-04-28 16:57] fromanirh commented on #109595
Sure, maybe just have a look to issue tagged "help wanted" and/or "good first issue" to see if there is something friendlier available; if not, and/or if you have interest in this specific area, we can work this out.

[2022-04-28 17:00] lavalamp commented on #109667
re pagination: you can re-use a continuation token after the RV has expired and the server will tell you a good RV. You can use this feature to start lexically partway through a collection. It's not really intended to do what you'd want to do, but it would be possible to make it work if you were really desperate. The storage version migrator uses this feature.

You can use something like HNC to au

[2022-04-28 19:00] rtheis commented on #108266
Removing `podAntiAffinity` by itself also resolves the problem.

[2022-04-28 19:05] ahg-g commented on #109131
I created https://github.com/kubernetes/kubernetes/issues/109712 to track the idea of a job execution mode where every index is allowed to execute.

[2022-04-28 19:21] rtheis opened #109714 "Kubernetes scheduler may preempt lower priority pods during deployment rollout"
### What happened?

Kubernetes scheduler may preempt lower priority pods during deployment rollout. I suspect https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/#higher-priority-pods-are-preempted-before-lower-priority-pods partially explains why.

### What did you expect to happen?

Pods belonging to the **same** deployment should not preempt each other in a manner th

[2022-04-28 19:22] rtheis commented on #109714
/sig apps

[2022-04-28 19:22] rtheis commented on #109714
Initially reported internally by @jmcmeek.

[2022-04-28 19:46] rtheis commented on #109714
Setting `maxSurge: 0` improves the rollout but may still yield 2 of 3 pods `Terminating`.

[2022-04-28 19:48] rtheis commented on #109714
And of course, removing `podAntiAffinity` prevents the Kubernetes scheduler from getting in the way of the rollout so it can proceed as expected.

[2022-04-28 20:32] #106094 closed

[2022-04-28 20:32] #106390 closed

[2022-04-28 20:32] thockin commented on #109672
I'm in favor of adding NOTRACK rules if and when we can.  The problem is that it's not always clear when we can do that.

E.g. iptables mod kube-proxy supports nodeports on localhost - we need to track those.  So the rules have to at least check `-d 127.0.0.0/8` AND compare `-p` and `--dport` against all known nodeports.

I seem to recall trying to do this a while back and finding more corner case

[2022-04-28 20:35] thockin commented on #109630
Namespace is an authz subdomain.  Crossing namespaces arbitrarily is a security hole (I can take your app andf put it on the internet without your permission).

While we have started to explore a concept of "reference policy" (part of Gateway API) I don't think we want it for Service.

What problem are you trying to solve?

[2022-04-28 20:39] alculquicondor commented on #109712
There is one more consideration:
For Indexed Jobs we limited the maximum value for `parallelism`. This is important so that the `.status.completedIndexes` doesn't go over a threshold. But the limit only works with the assumption that we always create the small indexes first. So if index `0` fails, we recreate a pod for it before creating a pod for index `parallelism`.
This assumption is now changi

[2022-04-28 20:41] alculquicondor commented on #109712
I don't think the "minimum" interpretation of a backoff limit is ideal. We will certainly have confused users about extra pods being created when there is a control plane upgrade, or kcm simply crashes.

[2022-04-28 20:44] thockin commented on #109575
Do we know of any implementation that uses anything but CIDRs here?  They can't, right?  `GetLoadBalancerSourceRanges()` verifies they parse as CIDRs (weird place for that, but OK..).

I'll be first to admit this wasn't a great API - open-ended lists are bad.  But I think we can't realistically change it too much.  We could add a limit of 100 or 500 entries, but we can't even hard-fail, we can onl

[2022-04-28 20:45] thockin commented on #109414
@declangallagher ICYMI we are waiting on you for more info.

[2022-04-28 20:45] #108558 closed

[2022-04-28 20:58] xmcqueen commented on #109621
@aojea yes the reason, is not a good one. The answer is I don't really know what I'm doing. I just wanted to get this going so I could get into debugging these tests myself.  I'll take whatever advice.

[2022-04-28 21:04] aojea commented on #109621
hahah, no worries then let people from the sigs owning the test chime in

[2022-04-28 21:42] laurie-kepford commented on #109678
I have tried both of the above.  And the only thing I have been able to find is that the websocket connection gets closed.  But the backend does not get the message.  Let me see if I can put together some relevant information.  I will post that here.

[2022-04-28 21:48] xrisaD commented on #109285
Is it still open? I could try that

[2022-04-28 21:54] 2rs2ts commented on #34146
It's not just that kubectl isn't completely compatible with YAML 1.2, it's that it still parses some stuff as if it's YAML 1.2, so it's not even consistent. For example, if I put the short sha of the current commit, as an annotation value, into a YAML template, like so:

[code]

If that commit just so happens to look like scientific notation (per yaml 1.2) then I will get an error like this:

[cod

[2022-04-29 01:48] ahg-g commented on #109663
was the pod scheduled using kube-scheduler? can you show the pod's full yaml by running:

`kubectl get pods ceph-rgw-548fdf5fc5-t5k8d -o yaml`

[2022-04-29 01:56] ahg-g commented on #109693
I think a mutating webhook is the right solution to automate profile selection, it can be set up to be done based on the pod's namespace. I don't think we need to push that option to the scheduler.

I am not sure I get the limitations with having a mutating webhook setting the `schedulerName`. Why would we have disruptions? the schedulerName is relevant only for newly created and unscheduled pods.

[2022-04-29 02:02] ianhundere commented on #105204
+1

[2022-04-29 02:06] ahg-g commented on #109712
It is not ideal, but I think it is a solution worth considering given the complexity of tracking the exact number of retries per index. Confusion can be addressed by having the semantics clarified in the name, `MinRetries` for example.

btw, does the current BackoffLimit guarantee the exact number of retires? also, when `restartPolicy = "OnFailure"`, does each kubelet restart count against the Bac

[2022-04-29 02:10] liggitt commented on #105204
Thanks for the confirmation, closing this now

[2022-04-29 02:10] #105204 closed

[2022-04-29 02:17] ahg-g commented on #109712
A 1 million limit, which is ~10x number of workload pods supported now is equivalent to 122KB max of storage? Should be acceptable, no?

Not sure I understand why we need this. Currently we consider an index done and move to the next if it succeeded. If we have BackoffLimit per index, then the policy changes to "if the index succeeds or it reaches its backofflimit", the reset should be the same.

[2022-04-29 03:12] pacoxu commented on #108405
contained 1.6.3+ & 1.7+ fixed a performance issue of parallel image pulling in https://github.com/containerd/containerd/pull/6702

case | before | after
-- | -- | --
localhost:5000/redis:latest (x20) | 1m6.172s | 0m1.140s
localhost:5000/golang:latest | 1m47.657s | 0m5.546s

After the change, the performance is similar with `docker pull`.

[2022-04-29 06:33] uablrek commented on #92369
/remove-lifecycle rotten

Can we consider [kpng](https://github.com/kubernetes-sigs/kpng) to have enough traction to be the recommended base for [custom proxiers](https://kubernetes.io/blog/2021/10/18/use-kpng-to-write-specialized-kube-proxiers/)?

@weiqiangt Do you think it would be possible to take a look at [kpng](https://github.com/kubernetes-sigs/kpng) from Antrea point of view?

[2022-04-29 06:51] ffromani opened #109717 "tracker: improve the kubelet test coverage"
There is a strong and growing consensus in sig-node about the need of increasing the test coverage in the kubelet, improving the current testsuite about coverage and reliability. See for example the [April 26 sig-node meeting notes](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.d9zp2j5jvkke) and the [April 27 sig-node CI subgroup meeting notes](http

[2022-04-29 06:54] fromanirh commented on #109717
/sig node
/good-first-issue
/help

[2022-04-29 06:55] fromanirh commented on #109717
@endocrimes @SergeyKanzhelev I think this can help us as tracking issue and to involve more contributors

[2022-04-29 06:56] fromanirh commented on #109717
@prakharporwal I think this can be a very nice way to start contributing in the node area (xref: https://github.com/kubernetes/kubernetes/issues/109595#issuecomment-1109598948)

[2022-04-29 07:03] Goend commented on #109663
[root@node-1 ~]# kubectl get pod -n ceph -o wide | grep ceph-rgw
ceph-rgw-548fdf5fc5-2whgg          1/1     Running        0          4h25m   10.232.1.28   node-5   <none>           <none>
ceph-rgw-548fdf5fc5-86gkn          1/1     Running        0          4h25m   10.232.2.26   node-6   <none>           <none>
ceph-rgw-548fdf5fc5-rc55v          1/1     Running        1          4h25m   10.232.0.2

[2022-04-29 07:08] Goend commented on #109663
other information has been lost,because environment has been destroyed

[2022-04-29 07:12] Goend commented on #109663
default-scheduler

[2022-04-29 07:19] mborsz commented on #96635
/remove-lifecycle stale

[2022-04-29 09:24] alexfanat86 opened #109720 "[kube-apiserver] Auditing failed of request: encoding failed no kind "Scale" is registered for version "apps/v1""
### What happened?

Hello! After upgrading our k8s-cluster to v1.21.11 we start to see a lot of warnings in kube-apiserver logs:
`Auditing failed of  request: encoding failed: no kind "Scale" is registered for version "apps/v1" in scheme "k8s.io/kubernetes/pkg/api/legacyscheme/scheme.go:30"`
Probably these warnings can lead to increased apiserver latency.

### What did you expect to happen?

We ex

[2022-04-29 10:33] ardaguclu commented on #109576
/cc

[2022-04-29 10:42] linxiulei commented on #109672
@aojea ah, I missed that the conntrack is enabled as long as iptables/netfilter is used. Thanks!

By exempting, I meant to set up the NOTRACK rules for critical traffic so the components relying on those traffic can be more robust for extreme circumstance. However, it's debatable where we should put those NOTRACK rules.

@thockin I don't have the environment now but I'd bet the most usage comes fr

[2022-04-29 11:09] SOF3 commented on #109667
Cache penetration is still a significant drawback for pagination, and predicting names lexically is not really reliable in the long term. And namespaces are intended for logical separation instead of sharding after all, so that doesn't sound like a correct solution in the general use case for all users.

We have managed to modify some of the controllers to support large collections, so the main co

[2022-04-29 11:47] ashishraman96 commented on #109589
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/
in Version priority:
"Entries that follow Kubernetes version patterns are sorted before those that do not."
Kubernetes version patterns follow semver versioning. Isnt it anti pattern and doesnt follow semver?

[2022-04-29 12:04] liggitt commented on #109589
Kubernetes API version strings are in the form v#, v#beta#, or v#alpha#

[2022-04-29 12:35] Nivedita-coder opened #109723 "[Failing test] ci-crio-cgroupv1-node-e2e-conformance"
### Which jobs are failing?

[ci-crio-cgroupv1-node-e2e-conformance](https://testgrid.k8s.io/sig-release-master-informing#ci-crio-cgroupv1-node-e2e-conformance)

### Which tests are failing?

- ci-crio-cgroupv1-node-e2e-conformance.Overall
- kubetest.Node Tests

### Since when has it been failing?

04-29 00:50 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#ci-crio-cgr

[2022-04-29 14:01] alculquicondor commented on #109712
Other than confusion, users might want stronger guarantees, as pods=cost.

I don't think so, as the retries are stored in the status. However, if there is a new pod, then yes, the entire old pod only counts as one failure.

We should probably use the same limit that we set for parallelism (10^5). I don't see why we should be inconsistent.

I was trying to go with the assumption that we can't imple

[2022-04-29 14:28] chendave opened #109724 "Ginkgo V2: Lost the validation on the `SIGDescribe`"
### What happened?

Because the test spec in Ginkgo V2 don't the `stacktrace` available, the script in `verify-e2e-test-ownership.sh` which is used to validate `SIGDescribe` in the `stacktrace` is not possible anymore.

The rules are:

But if there is any new way to get those information from `Ginkgo` in the future, we can add back the validation.

### What did you expect to happen?

This issue is

[2022-04-29 14:30] chendave commented on #109724
/sig testing

[2022-04-29 16:32] Airblader commented on #95460
Can we reopen this? SSA is essentially broken at the moment and there is an open and (semi-)active PR. It'd be great to see this fixed.

[2022-04-29 16:47] lavalamp commented on #109667
Note that since apiserver has multiple clients, it's already doing lists in parallel. Our lists are very data-heavy, at some point you run out of bandwidth to stream them in parallel. Parallelizing individual lists may not help as much as you expect.

I personally am more worried about making them always succeed, than making them faster: https://github.com/kubernetes/kubernetes/issues/98541

And s

[2022-04-29 17:06] khenidak commented on #109575
why short-cut traffic is addressed there and not by a network policy?

[2022-04-29 17:29] bhks opened #109726 "Obfuscated ... deletable"
obfuscated deletable

[2022-04-29 17:34] castellanoj commented on #58908
Same here! Not fixed on 29 April 2022, using Kubeadm + Docker.

[2022-04-29 17:37] bhks commented on #109726
@micahhausler

[2022-04-29 18:00] marosset commented on #98574
ETA for the OS fixes is mid June 2022

[2022-04-29 18:04] marosset commented on #109583
https://github.com/kubernetes/kubernetes/issues/109444 covers this issue

[2022-04-29 18:42] thockin commented on #109575
Because this field was added to define a sort of very simple firewall for
LB traffic, it seems inappropriate to have a back-door path that isn't
subject to it.

On Fri, Apr 29, 2022 at 10:06 AM Khaled Henidak (Kal) <
***@***.***> wrote:

[2022-04-29 19:41] xmcqueen commented on #109621
FTR the answer to my above question about the regex. It matches `kubectl explain` not the schema string.  Its obvious from [here](https://github.com/kubernetes/kubernetes/blob/e7a2ce75e5df96ba6ea51d904bf2735397b3e203/test/e2e/apimachinery/crd_publish_openapi.go#L718).

[2022-04-29 20:12] prakharporwal commented on #109717
Sure can you assign this to me will start working on this.

[2022-04-29 20:14] prakharporwal commented on #109717
/assign

[2022-04-29 20:25] shoce commented on #56038
For those who is looking for a way to install k0s in china: use airgap install, worked perfectly for me. Just need to put  a bundle file into `/var/lib/k0s/images/` and run `k0s install ...`, docs here https://github.com/k0sproject/k0s/blob/main/docs/airgap-install.md

[2022-04-29 20:40] #106749 closed

[2022-04-29 21:40] #104694 closed

[2022-04-29 22:20] danp60 opened #109731 "Kubeadm static pods missing recommended labels"
### What happened?

The static pods that kubeadm generates contains two labels, `component` and `tier`. The code that adds these labels is here https://github.com/kubernetes/kubernetes/blob/e7a2ce75e5df96ba6ea51d904bf2735397b3e203/cmd/kubeadm/app/util/staticpod/utils.go#L67-L69

### What did you expect to happen?

Kubernetes has a set of recommended labels that should be applied to all resources h

[2022-04-29 22:20] bhks commented on #109726
/close

[2022-04-29 22:20] #109726 closed

[2022-04-29 22:21] claudiubelu commented on #109444
Hello,

Slightly unrelated, but I see this Warning in the cloudbase-init logs:

[code]

Apprently, there is no ``COM1`` serial port present for the Azure Windows nodes, it seems. There is ``COM2`` however:

[code]

So, the ``logging_serial_port_settings`` cloudbase-init config option could be updated to something like ``COM2,115200,N,8``. This will mean that at the very least the cloudbase-init lo

[2022-04-29 22:26] bhks commented on #109726
/delete

[2022-04-29 22:40] #106668 closed

[2022-04-29 22:40] #106679 closed

[2022-04-29 22:43] SergeyKanzhelev commented on #106635
I agree, this plan sounds good. Thank you!

[2022-04-29 22:45] jsturtevant commented on #109444
Thanks for the tip, I can fix that port in image-builder. On a successful run we do collect the serial logs: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1520054825100775424/artifacts/clusters/capz-conf-uqwoqv/machines/capz-conf-uqwoqv-md-win-558d8b96b5-njttt/boot.log  I think it will show up there?  Might need to tweek the code that pulls

[2022-04-29 22:55] jsturtevant commented on #109444
Found it: https://github.com/cloudbase/cloudbase-init-installer/blob/8ca6f0e24c700302fde8e3527a7778bdbb1b0e12/CloudbaseInitSetup/Product.wxs#L225

[2022-04-29 23:06] SergeyKanzhelev commented on #109679
Do you know if this is specific to `metrics-server`?

[2022-04-29 23:23] dchen1107 commented on #109596
We, several teams in Google using K8s, couldn't reproduce the issue with 1.22.8. @tossmilestone is the problem permanent? Can you share more on the reproduce steps? Thanks!

[2022-04-29 23:49] xmcqueen commented on #109621
I have confirmed via local testing is the `kubectl explain` is done twice this test passes, so this flaky test is entirely within the expectations of the caveats in the [comments](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apimachinery/crd_publish_openapi.go#L481):

`        // Marked as flaky until https://github.com/kubernetes/kubernetes/issues/65517 is solved.`

[2022-04-30 00:13] yangjunmyfm192085 commented on #109679
I'm not sure. However, metrics-server obtains data from the kubelet metrics/resource endpoint. If there is a negative value, it will cause statistical problems.

[2022-04-30 00:42] tallclair opened #109732 "E2E framework/pod WaitForPodCondition silently ignores condition errors."
`wait.Poll` treats any error returned by the condition as terminal, but `e2epod.WaitForPodCondition` silently ignores any errors that aren't returned along with `done=true`. We should change WaitForPodCondition to behave like `wait.Poll`.

/sig testing
/area e2e-test-framework

[2022-04-30 06:17] krmayankk commented on #68397
@nantoniazzi yes we did not purposely implement that behavior. Please open an issue and we can discuss it more broadly with the community.

[2022-04-30 06:55] fromanirh commented on #109717
/assign @prakharporwal

[2022-04-30 08:20] ameukam commented on #109723
FYI https://github.com/kubernetes/test-infra/pull/26142

[2022-04-30 08:50] wangyysde commented on #109731
/triage accepted

[2022-04-30 08:57] wangyysde commented on #109731
/cc @wangyysde

[2022-04-30 09:12] wangyysde commented on #109720
/triage accepted

[2022-04-30 11:29] uablrek commented on #109406
Made a comment on bandwidth that may be better in this issue rahter than the PR;
https://github.com/kubernetes/release/pull/2502#discussion_r862328781

[2022-04-30 13:13] wangyysde commented on #109664
/triage accepted

[2022-04-30 15:03] jlsong01 commented on #109498
@aojea @thockin Hi, if no object, I would like to fix the documentation and add tests according to @aojea 's comments  :-)

/assign

[2022-04-30 15:23] jlsong01 commented on #109459
/assign

[2022-04-30 19:46] #106773 closed

[2022-04-30 20:13] npchandran commented on #109630
service.spec.selector selects backend pods for the service.

I was in an assumption that the service.spec.selector can select pods across namespaces as there is no way to specify a namespace selector.

According to @chymy service.spec.selector is applied only to the namespace where the service is located. That answers my question.

Now, All I'm looking for is a reference for @chymy statement.
i.e

[2022-04-30 20:47] #106537 closed

[2022-04-30 20:47] #106742 closed

[2022-04-30 22:30] brianpursley commented on #91847
/remove-lifecycle stale

[2022-04-30 22:32] brianpursley commented on #91847
/lifecycle frozen

[2022-05-01 03:59] thockin commented on #109630
Service selection absolutely happens in a single namespace.  I'd be happy
to look at PRs if you think the comments can be improved :)

On Sat, Apr 30, 2022, 1:13 PM npchandran ***@***.***> wrote:

[2022-05-01 07:45] aryan9600 commented on #109554
@aojea @silenceshell what about adding a `DisableLockCreation` bool variable to disable lock creation? I feel it's a clearer name than `ForbiddenCreation`.

[2022-05-01 08:45] moshebe commented on #20227
This tool seems to solve the issue for me as well:
https://github.com/omrikiei/ktunnel
🎉

[2022-05-01 08:53] yxxhero commented on #106047
/remove-lifecycle stale

[2022-05-01 09:44] yiwenshao opened #109739 "kube-scheduler does not allow two extenders implementing bindVerb(the two extenders have different managedResources)"
### What happened?

I my cluster, I want to install two scheduler extenders. They have different managedResources and therefore different logic of binding. The configuration is as follows:

[code]

However, the scheduler complains "only one extender can implement bind". According to the [doc](https://kubernetes.io/docs/reference/config-api/kube-scheduler-config.v1beta2/) and [code](https://github.

[2022-05-01 11:18] kidddddddddddddddddddddd commented on #109034
Is anyone working on this currently?

[2022-05-01 11:39] lbogdan commented on #103368
This seems to be fixed for me in 1.23 (using `cri-o`, so as per https://github.com/kubernetes/kubernetes/blob/v1.23.5/pkg/kubelet/cadvisor/util.go#L76-L79 , `kubelet` is still using legacy `cadvisor` stats), and the only "recent" PR touching `cadvisor_stats_provider.go` related to pod stats is #103423, so I guess that refactor actually fixed filtering out terminated containers, @haircommander ? Ei

[2022-05-01 11:48] #106622 closed

[2022-05-01 12:06] xmudrii commented on #97294
/remove-lifecycle stale

[2022-05-01 12:20] lbogdan commented on #103368
Doing a bit more digging (I just can't help it!), here https://github.com/kubernetes/kubernetes/blob/c285e781331a3785a7f436042c65c5641ce8a9e9/pkg/kubelet/stats/cadvisor_stats_provider.go#L90 (which in turn calls `cadvisor` directly here https://github.com/kubernetes/kubernetes/blob/c285e781331a3785a7f436042c65c5641ce8a9e9/pkg/kubelet/stats/cadvisor_stats_provider.go#L405-L409
), `infos` doesn't co

[2022-05-01 12:26] denkensk commented on #109693
My only concern is whether webhook will degrade performance when we create a large number of pods at the same time.

[2022-05-01 14:16] knight42 commented on #28167
Hi all! For those who are willing to see this feature get implemented, I have submited my proposal https://github.com/kubernetes/enhancements/pull/3289, please help to review the design details. Once the proposal is merged, I am able to get to work on it! Thanks in advance!

[2022-05-01 14:22] ak20102763 commented on #108806
Hello @gkarthiks, raised this Pr just to get started 😊 .

[2022-05-01 15:04] #100707 closed

[2022-05-01 15:05] dims commented on #109641
/assign @ibabou

[2022-05-01 15:15] dims commented on #108028
Folks, what we can do in 1.25 to help with this transition?

[2022-05-01 15:23] dims commented on #103151
@liggitt @BenTheElder i forget where we talked about this? (chairs/leads meeting?) do we have a follow up PR or issue from the discussion there? (i think we said the last step in actually closing the issue should not happen, and there was discussion about if the issue is triaged then the bot should ignore it?). my brain is hazy ...

[2022-05-01 17:44] BenTheElder commented on #103151
There's this recent discussion that cross referenced https://github.com/kubernetes/test-infra/issues/25967 (there's more related to that issue on the mailing lists etc).

I think that conversation is only scoped to not closing ~ triage/accepted + priority/critical-urgent issues.

I think at minimum untriaged issues also shouldn't be closing but I'm not sure if this was discussed.

----

In https:/

[2022-05-01 18:42] endocrimes commented on #108028
As a somewhat baseline from a maintenance and support perspective:
- make sure there are -cgroupsv2 versions of every Kubelet CI+PR job
- make sure cgroupsv1 jobs are labelled as cgroupsv1
- transition to -cgroupsv2 jobs being the ones ran by default in PRs

[2022-05-01 21:11] #126811 closed

[2022-05-01 22:06] dbason commented on #106055
/remove-lifecycle stale

[2022-05-01 22:54] #39113 closed

[2022-05-02 03:19] yiwenshao commented on #109739
/sig scheduling

[2022-05-02 04:45] STRRL commented on #109717
Hi @fromanirh, @prakharporwal  I am also interested in this issue, and I saw that there several sub-tasks. Maybe I could also participate in resolving this?

[2022-05-02 06:25] fromanirh commented on #109717
@STRRL hi! Indeed there are several subtasks and I think there is ample space for collaboration.

[2022-05-02 06:36] chendave opened #109744 "Umbrella issue for Ginkgo Migration"
### What happened?

Here is a list of TODOs that could be fixed for Ginkgo migration from v1 to v2.

* [x]  Lost the validation on the SIGDescribe: https://github.com/kubernetes/kubernetes/issues/109724
* [ ]  Ginkgo V2 currently cannot get the number of specs that will run in `BeforeSuite`, this might be fixed in the Ginkgo's minor release of V2 in the future. https://github.com/kubernetes/kubern

[2022-05-02 06:38] chendave commented on #109744
/sig testing

[2022-05-02 06:46] STRRL commented on #109717
/assign

[2022-05-02 07:20] wangyysde commented on #109665
@H-W-WXL Are you preparing a PR for this bug? I am want to fix this bug if you are not working for it.

[2022-05-02 07:24] mkudsi commented on #45300
Had done a POC for a specific requirement of a highly highly available service with very quick recovery.
https://github.com/mkudsi/ActiveStandbySingletonPod
Please do check it out...

[2022-05-02 07:30] aojea commented on #45300
the main problem is that TCP connections are not terminated when switching the endpoints, so the old pod keeps maintaining the TCP session until it is killed, but users of active-standby don't want to kill the passive pod to make the failover

[2022-05-02 07:49] prakharporwal commented on #109717
Hi ! Sure @STRRL. I am working on
- k/k/pkg/kubelet/cm/internal_container_lifecycle.go
- k/k/pkg/kubelet/cm/internal_container_lifecycle_linux.go
right now.

@fromanirh I raised a draft PR please you take a look. I created 1 test for internal container lifecycle PreStartContainer. I am a little confused onto what to assert on once the PreStartContainer function runs. What will change when this fun

[2022-05-02 07:59] vaibhav2107 commented on #107473
/remove-lifecycle stale

[2022-05-02 08:01] vaibhav2107 commented on #105332
/remove-lifecycle stale

[2022-05-02 08:04] vaibhav2107 commented on #101324
/remove-lifecycle stale

[2022-05-02 08:05] vaibhav2107 commented on #76982
/remove-lifecycle stale

[2022-05-02 08:31] aojea commented on #109744
/cc

[2022-05-02 08:56] #106509 closed

[2022-05-02 09:14] mborsz opened #109748 "GC doesn't delete already orphaned objects after startup"
### What happened?

1. We have an object X that has ownerReference set to Y
2. garbage collector is down (for whatever reason)
3. Something deletes Y
4. garbage collector starts
5. garbage collector never attempts to delete X (despite its ownerReference is dangling), as the code isn't verifying if objects added as part of initial watch sync should be deleted https://github.com/kubernetes/kubernete

[2022-05-02 09:21] mborsz commented on #109748
/cc @liggitt @wojtek-t

[2022-05-02 09:47] kittydoor commented on #78902
I'm still interested in this feature, however I see it is not possible to remove the rotten label as I am not the person who authored it. Is there an intended flow to reopen a ticket in this case?

[2022-05-02 10:00] IDerr commented on #105536
Can confirm this issue, happened to me today on kube 1.22.5

[2022-05-02 11:45] danwinship commented on #109575
well, I think the answer is more "because none of this was rigorously designed, and that's the behavior we ended up with, and we can't change it now because of backward compatibility".

[2022-05-02 12:57] pohly commented on #109744
/cc

[2022-05-02 13:33] STRRL commented on #109717
k/k/pkg/kubelet/cm/internal_container_lifecycle_linux.go
right now.

I would take a look at the rest files. :)

[2022-05-02 13:45] alculquicondor commented on #107679
#106884 is already fixed

/close

[2022-05-02 13:45] #107679 closed

[2022-05-02 14:27] jayunit100 opened #109754 "[minor] improve the "tainting node" log message to be easier to understand"
### What happened?

This is a very minor good first issue for conformance understandability... esp in terms of Distruptive conformance tests which i think folks need to understand for production clusters.

I think the logging messages for "why" were tainting the node, and why were removing the taint, etc... could be cleand up, i.e.

"temporarily tainting Node xyz so to trigger pod eviction"

or so

[2022-05-02 14:27] jayunit100 commented on #109754
/sig testing

[2022-05-02 14:28] jayunit100 commented on #109754
/assign @ridavid2002

[2022-05-02 14:28] jayunit100 commented on #109754
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/scheduler/taint_manager.go.  <-- where to start in reading this test

[2022-05-02 14:30] ridavid2002 commented on #109754
/assign

[2022-05-02 14:32] jayunit100 commented on #109754
read this along the way to understand the context of eviction ....

https://kubernetes.io/docs/concepts/scheduling-eviction/_print/

[2022-05-02 14:36] neolit123 commented on #109731
That page has:

The namespace app.kubernetes.io is for applications deployed on top of k8s and that's what the recommendation is about.

While kubeadm control plane components are applications, i don't think they fit the criteria.

But interesting to see what other think.

One side effect if we label them like that they will start appearing in user filtered results. This needs a feature gate.

/pr

[2022-05-02 14:38] neolit123 commented on #109731
/remove-kind bug
/kind feature
/area kubeadm

[2022-05-02 15:46] yuv00191 commented on #109285
@novahe  are you working on this `issue... please let me know.

If yes, I would love to learn about this issue and its possible solutions in detail.
that is - If you can share about.

sincerely,

[2022-05-02 15:51] yuv00191 commented on #109717
Hi @fromanirh, @prakharporwal, @STRRL  I am also interested in this issue, and I saw that there several sub-tasks. Maybe I could also participate in resolving this?

l

[2022-05-02 17:03] Komorebi-E commented on #108049
I am seeing the same behaviour with `critcl` showing pods not being cleaned up, even after a powercut this morning - there are pods shown from 8 days ago on the master and worker nodes as NotReady. This is on a bare metal cluster.

- kubernetes `1.23.5-00`
- containerd `1.5.5-0ubuntu3~20.04.2`

[code]

I have removed the NotReady pods with:

`crictl pods -state NotReady -o json | jq -r '.items[].i

[2022-05-02 17:40] yuv00191 commented on #109744
hello! @chendave  @aojea  @freeformz I would like to work on this issues

[2022-05-02 17:52] pohly commented on #105392
/remove-lifecycle stale

[2022-05-02 18:40] jyotimahapatra commented on #109027
Closing now. 1.24 is releasing tomorrow , please reopen if anything urgent comes up between now and the release.

/close

[2022-05-02 18:40] #109027 closed

[2022-05-02 18:48] alculquicondor commented on #107226
I agree that there is a bug, but I disagree with the analysis.

What makes you think that two workers were syncing a job concurrently? This shouldn't happen.

In general, any immediate sync would clear a future "AddAfter". So the bug here is that we are only setting AddAfter once, instead of every time there is a sync.

[2022-05-02 19:26] laurie-kepford commented on #109678
I am running k8s 1.9 and I have noticed some odd things about the CNI plug in.  So I am going to create a new cluster using k8s 1.21 and see if I get any different results.

[2022-05-02 20:36] liggitt commented on #109748
I'm not able to reproduce the situation you describe.

1. I started a kube-apiserver
2. I created a configmap:
[code]
3. I started the kube-controller-manager. It successfully logged finding the configmap, queuing the secret parent, processing the secret, noticing it is absent, and deleting the configmap:

[code]

When observing initial data, the GC controller enqueues all parents that are not fou

[2022-05-02 20:36] liggitt commented on #109748
Do you have a reproducer for the situation you describe?

[2022-05-02 20:38] liggitt commented on #109748
In your scenario, for the referenced parent object, is the specific *instance* missing, or is the entire parent *type* missing (e.g. ownerReferences points at a custom resource type, and the CRD is deleted so the type is no longer defined)?

If just the *instance* is missing (as in my example), I can't reproduce the issue.

If the parent *type* is no longer defined, that sounds like a duplicate of

[2022-05-02 22:27] npchandran commented on #109630
Sure. yes, I agree with the behavior. I guess the doc can be made explicit

[2022-05-02 22:47] vishiy commented on #109677
@SergeyKanzhelev - please see steps below -

Deploy the below PV & PVC -
`
apiVersion: v1
kind: PersistentVolume
metadata:
  name: vishwa-hostpath-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/var/log"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vishwa-hostpath-pv-cla

[2022-05-02 23:37] Riaankl opened #109762 "Write NamespaceStatus endpoints test +3 Endpoints"
# Progress <code>[6/6]</code>

- [x] APISnoop org-flow: [CoreV1NamespaceStatusTest.org](https://github.com/apisnoop/ticket-writing/blob/master/CoreV1NamespacedStatusTest.org)
- [x] test approval issue : #109762
- [x] test pr : #109763 109763
- [x] two weeks soak start date : [testgrid](https://testgrid.k8s.io/sig-api-machinery-gce-gke#gce-serial&width=20&graph-metrics=test-duration-minutes&include

[2022-05-02 23:38] Riaankl commented on #109762
/triage accepted

[2022-05-03 00:39] iciclespider commented on #89899
I just ran into this very issue attempting to create a better python client integration with the pod exec api over web sockets. There is no way to communicate to the exec'ed process that stdin has closed.

[2022-05-03 03:07] chendave commented on #109744
@yuv00191  I think we cannot do anything now except the last two, and those two should be based on top of the: https://github.com/kubernetes/kubernetes/pull/109111.

[2022-05-03 05:03] fundead commented on #98656
/remove-lifecycle stale

[2022-05-03 05:29] Ferenc- commented on #89899
/remove-lifecycle stale

[2022-05-03 06:13] zerols opened #109765 "kubeadm config print can get default kubeadm config, but if use binary install, i need to get every parameter meaning"
Is there a similar parameter that I can quickly get to a default  kube-api or con-manager systemd configuration file ?

[2022-05-03 06:47] jieyu commented on #109596
I was able to reproduce this issue with both v1.22.8 and v1.22.9 using KIND.

Here is the script I used. You need to build kindest/node:v1.22.8 (and kindest/node:v1.22.9) node image first (`kind build node-image --image kindest/node:v1.22.8 --kube-root <k8s_src_root>`). You'll notice that the `kube-apiserver` pod in the kind container will keep down until timeout. And restarting the kubelet fixed

[2022-05-03 07:02] B1ue-W01f commented on #81071
Unless I'm incredibly unlucky and every single node failed to unjoin correctly, the bottom line appears to be that removing a control plane from the cluster leaves it as part of the etcd cluster - which is rather important, leaving the etcd cluster unhealthy with a none responsive node and unable to accept a rejoin.

At a minimum this could do with better documentation.

[2022-05-03 07:11] yuv00191 commented on #109744
I would like to work on task 5 @chendave @pohly  of this issue

[2022-05-03 07:31] neolit123 commented on #81071
Calling 'kubeadm reset' on a control plane host removes the etcd member for that host. Kubeadm reset is already a documented step for proper cleanup.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#tear-down

[2022-05-03 07:50] neolit123 commented on #109765
Just google kubeadm config.
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-config/
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags

Also see https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2022-05-03 07:50] #109765 closed

[2022-05-03 08:08] B1ue-W01f commented on #81071
Ive just carried out migration from dockershim to crio on around 100 nodes, running kubeadm on every instance. Not a single control plane was removed from the etcd cluster without manual intervention of etcdctl.

[2022-05-03 08:17] stephen-dexda commented on #82525
/remove-lifecycle stale

[2022-05-03 08:23] satya12sahoo opened #109766 "NUMA Affinity Configuration"
### Which jobs are failing?

I am trying to configure the NUMA Affinity in kubernets cluster. We have configured Hugepage as well CPU Pinning and same has been passed to Kubelet of Workernode.

### Which tests are failing?

29867 cpu_manager.go:158] "Detected CPU topology" topology=&{NumCPUs:8 NumCores:4 NumSockets:1 CPUDetails:map[0:{NUMANodeID:0 SocketID:0 CoreID:0} 1:{NUMANodeID:0 SocketID:0 Co

[2022-05-03 10:29] rushikeshsuryawanshi commented on #109707
Hey,
Can I work on this ? I'm a beginner, but all the good first issues are mostly assigned.
Can you guide me on doing this ?

[2022-05-03 12:02] vsxen commented on #109720
try to upgrade your kubectl client ?
 `Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2"`

[2022-05-03 13:06] #108733 closed

[2022-05-03 13:14] liggitt commented on #109182
should that have actually closed this issue? not seeing how the linked commit in Ben's fork modified kind bringup

[2022-05-03 13:21] leonardpahlke commented on #109723
/close

[2022-05-03 13:21] #109723 closed

[2022-05-03 13:47] AplusKminus opened #109769 "Improve PodSpec Container name documentation"
[Here](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#Container) the text of the **name** specification contains:

However the documentation for [Object Names and IDs](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/) does not know such a definition. It rather seems to know two -- RFC 1123 and RFC 1035.

Maybe the container name spec could be

[2022-05-03 13:59] vlerenc commented on #78733
@ehashman @bg-chun That's it, no discussion? No feedback on the arguments either? The world has to accept that the `kubelet` does something that makes no sense despite these arguments - and thereby breaks workload, whether non-replicated or replicated (it may happen also with such workload as `kubelet`s on different nodes won't negotiate anything when they go through this process)? And all of that

[2022-05-03 14:24] sftim commented on #109769
/sig node
/kind documentation

[2022-05-03 14:25] sftim commented on #109769
Should we use internal names like `DNS_LABEL` in the API docs? If we do, should we publish those as part of the OpenAPI (I assume that we currently do not)?

[2022-05-03 14:29] AplusKminus commented on #109769
Just out of curiosity: @sftim how could I have seen/known that this ticket is better placed here than at kuberenetes/website? I got there through the "Create an issue" link on the right side of the page in question.

[2022-05-03 15:26] BenTheElder commented on #109182
Oh no, that's that GitHub "feature", I merely synced my fork to upstream but the commit contains "fixes". Not sure why CI didn't block this with the invalid-commit label.

[2022-05-03 16:06] colearendt commented on #49937
/remove-lifecycle stale

[2022-05-03 16:18] claudiubelu commented on #108711
Regarding the ``[sig-node] Container Lifecycle Hook when create a pod with lifecycle hook should execute prestop exec hook properly [NodeConformance] [Conformance]`` test, it seems that this issue pretty much only occurs with capz, and only in the capz environments [1]. In capz, we do use calico, so that **might** be the issue.

A small explanation on what's happening in the test: it spawns a webs

[2022-05-03 16:26] jsturtevant commented on #108711
/cc @phillipsj

[2022-05-03 17:42] thaJeztah commented on #109182
Ah, yes, those are always a pain.

[2022-05-03 17:52] neolit123 commented on #109766
/sig node

[2022-05-03 18:58] bobbypage commented on #109555
for future reference (this was fixed by https://github.com/kubernetes/test-infra/pull/25970/)

[2022-05-03 19:58] BenTheElder commented on #100219
/remove-lifecycle stale

[2022-05-03 20:09] fedebongio commented on #109726
/triage accepted

[2022-05-03 22:22] kfox1111 commented on #89911
/remove-lifecycle stale

[2022-05-03 22:34] sftim commented on #109769
We've got a backlog item in SIG Docs to revise the “Create an issue” text for automatically generated pages. I wouldn't worry about that @AplusKminus - unless, that is, you'd like to help out with the docs generation tooling?

https://github.com/kubernetes-sigs/reference-docs/ if you _are_ interested&hellip;

[2022-05-03 22:35] sftim commented on #109769
This issue is now in a repo where we can triage it. The report was useful no matter where it was submitted.

[2022-05-03 23:08] sftim opened #109771 "Broken links in release notes"
### What happened?

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md has some broken links. These are relative links that work OK in the release blog article but need to be absolute hyperlinks in the release notes.

### What did you expect to happen?

Links in release notes work.

### How can we reproduce it (as minimally and precisely as possible)?

Visit https://g

[2022-05-03 23:08] sftim commented on #109771
/sig release
and IMO
/priority important-soon

[2022-05-04 00:17] #93793 closed

[2022-05-04 00:17] #99305 closed

[2022-05-04 00:18] #107505 closed

[2022-05-04 00:35] ahg-g commented on #109663
can you check if the node has the label `ceph-rgw: enabled`? does this label get added/removed by some controller?

[2022-05-04 01:23] #108283 closed

[2022-05-04 01:23] #108497 closed

[2022-05-04 01:23] #108608 closed

[2022-05-04 01:24] #108604 closed

[2022-05-04 02:30] #107286 closed

[2022-05-04 02:30] #109286 closed

[2022-05-04 06:35] alexfanat86 commented on #109720
Hello! I upgraded my `kubectl` client, but in won't help. There are still this warning messages. I'm not the only one who have access to k8s-clusters. But system administrators doesn't try to get Scale resources and developers doesn't have any permissions for Scale resources. I still don't realize why this warning messages appear.

[2022-05-04 08:21] mborsz commented on #109748
In my scenario it was > 1k+ lease objects with ownerReference set to no longer existing Node objects.

I also tried to reproduce this locally, with leases and nodes and I failed, the leases were properly deleted in each case.

I will close and reopen if I find some repro.

[2022-05-04 08:21] #109748 closed

[2022-05-04 08:27] #105082 closed

[2022-05-04 08:28] #109485 closed

[2022-05-04 08:28] #107534 closed

[2022-05-04 08:38] sanposhiho commented on #101776
/reopen

[2022-05-04 08:38] sanposhiho commented on #101776
/remove-lifecycle rotten

[2022-05-04 08:39] sanposhiho commented on #101776
I think it's still a good-to-have feature.

[2022-05-04 08:43] sanposhiho commented on #109739
IIUC, if Pods have both resources, your scheduler will run two extenders in bind, so we cannot accept your proposal..
But, I feel it would be nice to have a way to select which extender is used for scheduling like this proposal
https://github.com/kubernetes/kubernetes/issues/101776
(I don't know if it will be implemented as this issue seems to have been neglected for a long time. 😓  )

[2022-05-04 09:34] mborsz opened #109777 "Kubelet creates leases without ownerReference set if node doesn't exist"
### What happened?

* Some external controller deleted node object while kubelet was alive
* Due to ignoring errors in kubelet's lease logic, it created lease without ownerReference set

### What did you expect to happen?

* Kubelet doesn't create lease without ownerReference set in any case, even pathological one

### How can we reproduce it (as minimally and precisely as possible)?

* Some exter

[2022-05-04 09:35] #109648 closed

[2022-05-04 10:56] franpog859 commented on #65973
Hello, any news on this topic? It'd be great to have it!

[2022-05-04 11:44] marcelvwe opened #109780 "Windows node does not route traffic to internal service IP"
### What happened?

When creating a service of type `LoadBalancer` with `externalTrafficPolicy` set to `Local`, kube-proxy on Windows does not seem to create a LoadBalancer via the HNS on the Windows node to route the traffic to the internal service endpoints, while kube-proxy on Linux does create the IPTables rules to route this traffic internally.

### What did you expect to happen?

I excpected

[2022-05-04 11:52] marcelvwe commented on #109780
/sig network

[2022-05-04 12:26] adampl commented on #97445
/label lifecycle/frozen

[2022-05-04 12:27] adampl commented on #97445
/lifecycle frozen

[2022-05-04 13:34] alculquicondor opened #109783 "Flaky scheduler integration tests"
### Which jobs are flaking?

pull-kubernetes-integration

### Which tests are flaking?

TestSchedulerInformers, TestPodTopologySpreadFilter, TestTaintNodeByCondition

### Since when has it been flaking?

Unknown

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestSchedulerInformers

### Reason for failure (if possible)

[2022-05-04 13:44] ahg-g commented on #105661
/remove-lifecycle stale

[2022-05-04 13:49] #109687 closed

[2022-05-04 14:05] 5279314 opened #109784 "invalid bearer token, square/go-jose: error in cryptographic primitive"
### What happened?

I start traefik through the pod container
pod is running
pod log error：
[code]
I think It has Sufficient permission, But it still response 401
and the apiserver's log display this:
[code]

### What did you expect to happen?

Traefik is operating normally

### How can we reproduce it (as minimally and precisely as possible)?

try to apply the yaml file I supply blow.
[code]

###

[2022-05-04 14:14] 5279314 commented on #109784
/sig testing
/sig architecture
/area conformance

[2022-05-04 14:50] benzvan commented on #99761
I see this never got addressed and is closed but I thought I'd chime in on what I believe to be the existing solution here. The `terminationGracePeriodSeconds` timer starts right before the preStop hook is executed. That timer is 30 seconds by default, so if your preStop hook fails to finish in 30 seconds, the container will be sent a SIGKILL and deleted. If your preStop hook finishes in less than

[2022-05-04 14:52] alculquicondor commented on #109429
Can you at least tell if you were running a big number of jobs when this happened so that it's possible that the Pod GC was involved?

[2022-05-04 14:53] ahg-g commented on #106886
@liggitt from API perspective, is this something acceptable?

[2022-05-04 14:57] aojea commented on #109783
seems this has been going on for a while
https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5

[2022-05-04 15:37] dobsonj commented on #103267
/remove-lifecycle stale

[2022-05-04 15:52] alculquicondor commented on #108851
Dup of #107294

[2022-05-04 15:53] alculquicondor commented on #108851
/close

[2022-05-04 15:53] #108851 closed

[2022-05-04 15:53] alculquicondor commented on #107294
/wg batch

[2022-05-04 15:54] fromanirh commented on #82440
/cc

[2022-05-04 16:07] alculquicondor opened #109791 "Flaky unit test TestStatefulSetControlOnDeleteUpdate"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

TestStatefulSetControlOnDeleteUpdate

### Since when has it been flaking?

Maybe May 4th

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit&include-filter-by-regex=TestStatefulSetControlOnDeleteUpdate&width=20

### Reason for failure (if possible)

[code]

### Anything else

[2022-05-04 16:13] vsxen commented on #109720
https://github.com/kedacore/keda/issues/1646

[2022-05-04 16:17] aojea commented on #109783
All the tests seems to fail at same time

![image](https://user-images.githubusercontent.com/6450081/166725480-b93ebd6a-b509-4181-abeb-9aaec69ad9ba.png)

The trace shows it is blocked on the controllers
[code]

[2022-05-04 16:46] mdbooth opened #109793 "Enabling external CCM causes Node.Addresses to flap"
### What happened?

I am reproducing this in OpenShift using the OpenStack cloud provider, but nothing here is specific to either OpenShift or OpenStack.

When migrating a cluster which uses in-tree cloud provider to use external cloud-provider, we use the following process:

1. Disable cloud controllers in KCM
2. Deploy CCM
3. Redeploy kubelets with --cloud-provider=external

Between steps 1&2 th

[2022-05-04 17:13] #106117 closed

[2022-05-04 17:14] alculquicondor commented on #109783
It also fails in another test https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109545/pull-kubernetes-integration/1521887980044685312 `TestPodTopologySpreadFilter`.

[2022-05-04 17:31] endocrimes commented on #109677
/remove-triage needs-information

[2022-05-04 17:32] endocrimes commented on #109677
/assign

[2022-05-04 17:34] endocrimes commented on #107154
/remove-lifecycle rotten
/assign

[2022-05-04 17:39] alculquicondor commented on #109783
All the three tests indeed wait for the pod to be unschedulable.

I don't think the condition change in https://github.com/kubernetes/kubernetes/pull/109442#discussion_r865027329 is the culprit.

But maybe it has something to do with #108761. The rationale being that if a Pod status update fails, retries now take longer.

[2022-05-04 18:07] endocrimes commented on #73853
Agreed - I closed the PR mostly because it wasn't the right place to have the discussion on how 😅

[2022-05-04 18:10] alculquicondor opened #109796 "Unschedulable Pod might take a long time to get the condition set"
### What happened?

If there is a connection failure when updating the Pod status, we don't retry.
Furthermore, due to #108761, we won't have another chance until much later.

The problem is that if we don't mark the Pod as Unschedulable, other controllers (such as cluster-autoscaler) wouldn't react to these pods.

### What did you expect to happen?

We should have stronger guarantees to mark a Po

[2022-05-04 18:11] alculquicondor commented on #109796
/sig scheduling

[2022-05-04 18:23] fedebongio commented on #108014
/cc @liggitt for visibility (brought up today in the SIG meeting)

[2022-05-04 18:31] alculquicondor commented on #109783
Maybe all the errors are not necessarily related.

For example, I see this in `TestPodTopologySpreadFilter` [build log](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/109545/pull-kubernetes-integration/1521887980044685312/build-log.txt):

[code]

Since we take a long time to retry, we wouldn't be able to mark the status of this pod as "Unschedulable". Spinning this of in #109796

H

[2022-05-04 18:37] liggitt commented on #108014
we discussed this in sig-auth on 4/27 where this topic showed up first (and then routed it to sig-api-machinery)

a few thoughts from there:
* why does kube-controller-manager need to check all all of healthz/readyz? I remember kcm requiring discovery info, but not necessarily all of healthz/readyz. can/should we scope down what kcm waits for to just discovery info?
* what does kcm do if the healt

[2022-05-04 18:40] jieyu commented on #109596
@yujuhong pointed to me that the reproduction steps mentioned in https://github.com/kubernetes/kubernetes/issues/109596#issuecomment-1115787601 might be due to https://github.com/kubernetes/kubernetes/issues/44450#issuecomment-293959537, which we have seen before.

Thus I tried to tweak the script above to not creating a tmp file under /etc/kubernetes/manifests and see if I can reproduce the issue

[2022-05-04 18:47] #109162 closed

[2022-05-04 19:06] euroelessar commented on #109429
We don't run many jobs yet, so I'd say there were less then 10 inflight at any given moment, but overall that cluster has ≈20k pods controlled by deployments, and we replace a quarter of them every hour by regular pushes.

[2022-05-04 19:07] euroelessar commented on #109429
So said, relatively high pressure on gc/etcd is a possibility.

[2022-05-04 19:43] ahg-g commented on #109796
That is bad, retrying in place on transient errors should probably be ok.

[2022-05-04 19:44] deads2k opened #109799 "reset deleted_kinds strictRemovedHandlingInAlpha to false after beta"
### What happened?

once the we hit a beta release, we can reset the default value for strict handling to false to prep for 1.25. It will likely be introduced in https://github.com/kubernetes/kubernetes/pull/108797

/kind bug
/priority important-soon
/milestone v1.25
https://github.com/orgs/kubernetes/teams/sig-api-machinery-bugs

### What did you expect to happen?

ignore

### How can we reproduc

[2022-05-04 20:06] mrjoema commented on #109034
@kidddddddddddddddddddddd I am not working on this now. Feel free to pick it up if you want to

[2022-05-04 20:27] alculquicondor commented on #109783
I think this is just a consequence of us increasing our test coverage.

We have some tests where the test cases depend on feature gates. Then for each test case we recreate the apiserver and scheduler instances, which takes a lot of time. For example, in this PR we added a feature gate #108362, and now the test takes about 1min.

I'll be taking a look at our overall suite and look for cases where:

[2022-05-04 20:28] alculquicondor commented on #109783
cc @ahg-g @Huang-Wei

[2022-05-04 20:29] SystemZ commented on #65392
It's still a problem on 1.22, I didn't on 1.23 yet.
Should be fixed as alpha feature `NodeOutOfServiceVolumeDetach` in 1.24: https://github.com/kubernetes/kubernetes/pull/108486, https://github.com/kubernetes/website/pull/32595

I made very rough draft of workaround script. It can cause data loss so be sure to test this before.
It should make failover faster for services with volumes attached. Jus

[2022-05-04 20:39] mauriciopoppe opened #109800 "Generic ephemeral volume e2e tests may fail in a multizone cluster"
Let's assume this scenario:

- linux node, zone A, tainted
- windows node, zone B, untainted

In a multizone cluster, while trying to run the generic ephemeral volume tests in Windows nodes it might be possible that a volume that's supposed to be for a Windows node is created in the zone for the Linux node instead.

The generic ephemeral storage tests use [different patterns](https://github.com/ku

[2022-05-04 20:53] msau42 commented on #109800
I think "immediate" binding in general won't work in a multi-zone cluster. What do we do for other tests that explicitly specify immediate mode?

[2022-05-04 20:58] jnpr-pranav opened #109801 "Is there a way to prevent a CustomResource from being deleted if it is still needed"
I have a custom resource `Foo` which is automatically created by a controller whenever there are events from a kubernetes resource `Bar`.

`Foo`'s deletion should be allowed only when `Bar` is deleted. It should be possible to add watches in the controller and re-create `Foo` in case it was deleted accidentally, but is it possible to stop that resource from being deleted at all?

I've read some ot

[2022-05-04 20:59] jnpr-pranav commented on #109801
/kind support

[2022-05-04 21:11] RedrumSherlock opened #109802 "When a Pod is configured with startupProbe but without readinessProbe, the Pod will take extra time to be ready"
### What happened?

When I configured a Pod with startupProbe but without a readinessProbe, the pod will take extra time (40-60 seconds) to be ready.
For example, if the startupProbe is configured as below, and readinessProbe is not configured at all

[code]

Then the pod will be ready after around 20 seconds as expected, but will take extra seconds to be ready as shown below:

[code]

### What di

[2022-05-04 21:14] #109215 closed

[2022-05-04 21:19] RedrumSherlock commented on #109802
/sig apps

[2022-05-04 21:19] Riaankl commented on #100486
/remove-lifecycle stale

[2022-05-04 21:25] rphillips commented on #109596
The way this works is a bit finicky. OpenShift deletes the file and subsequently writes a new one. This is because static pods have special rules for updates. Can you try in your environment the scenario where the script writes, deletes, and then writes the static pod file?

[2022-05-04 23:36] yxxhero commented on #109802
@RedrumSherlock Please try to upgrade your k8s version. Thanks very much.
Do you need to make sure that your app will succeed in 20 seconds.

[2022-05-04 23:37] yxxhero commented on #109802
/triage needs-information

[2022-05-04 23:55] jingxu97 commented on #107377
/cc @jsafrane

[2022-05-05 00:06] lavalamp commented on #108014
* most KCM installs just have it talking to the local apiserver. If that apiserver is unhealthy but others are healthy, it makes sense to give up the lock (you might not even have a choice depending on how unhealthy apiserver is).
* If for some reason KCM is going through a load balancer to get to apiserver, then it doesn't really make sense to try and lose the lock, since you're probably not talk

[2022-05-05 00:13] vjunior1981 commented on #40422
@olwenya just tested like this and it worked:
[code]

Not perfect, but is an alternative.

[2022-05-05 00:19] danp60 commented on #109731
An additional data point I can provide, the `kube-proxy` and `kube-dns` apps that `kubeadm` generates uses the `k8s-app` label. https://github.com/kubernetes/kubernetes/blob/6445efb34161511c326fb708ed80f1f58dae2215/cmd/kubeadm/app/phases/addons/proxy/manifests.go#L71 and https://github.com/kubernetes/kubernetes/blob/6445efb34161511c326fb708ed80f1f58dae2215/cmd/kubeadm/app/phases/addons/dns/manifes

[2022-05-05 00:22] sysnet4admin commented on #40422
@vjunior1981 suggestion is looking good  I think.
So how about `--annotation` instead of `--record` ? like this?
(It is for instance)
[code]

[2022-05-05 00:33] mauriciopoppe commented on #109800
@msau42 I think nothing special in any of the tests besides https://github.com/kubernetes/kubernetes/blob/889e60ab33/test/e2e/storage/testsuites/ephemeral.go#L255, it's just another test pattern that's tested

[2022-05-05 00:35] neolit123 commented on #109731
as far as i can tell the search results return addons. this is expected, since k8s-app originated in the legacy addon manager that was hosted in this repository. the k8s-app in kubeadm usage is to comply with the same legacy labeling.

i don't think k8s-app is a good fit for the CP components.
unless there is well defined demand for additional labels, i don't think we should take any action.

but

[2022-05-05 01:05] alexfanat86 commented on #109720
I saw this issue but we do not have any keda operator in our clusters

[2022-05-05 01:10] AaronFriel commented on #107742
@bowei is this under consideration still

[2022-05-05 01:29] jingxu97 commented on #65392
We now have a new alpha feature "Nongraceful node shutdown" which can mostly help this situation. Please check out the KEP for details https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2268-non-graceful-shutdown
There will be a blog post soon.
Please let us know if you have any feedback.

[2022-05-05 01:38] ahg-g commented on #109783
As long as we are able to consistently cleanup the pods. But remember that in e2e tests we frequently suffer from tests influencing each other because of remanent objects that don't get deleted in a timely manner.

[2022-05-05 01:55] galiacheng commented on #99061
I am able to reproduce the issue on AKS 1.22.6. The issue cause error in [Azure WebLogic On AKS offer](https://portal.azure.com/#create/oracle.20210620-wls-on-aks20210620-wls-on-aks) and stopped our customer.

[2022-05-05 01:57] andyzhangx commented on #99061
@galiacheng are you referring to this issue? https://github.com/Azure/AKS/issues/2871

[2022-05-05 02:12] chendave commented on #109744
@yuv00191  no problem, pls wait for an while until that PR got merged, then you create a pr to fix those deprecated parameters.

[2022-05-05 02:13] H-W-WXL commented on #109665
I've submitted PR ,but there are some conflicts in this PR. If the PR cannot be merged, you could modify it.

[2022-05-05 02:36] robinchia commented on #108579
@dcbw Hi, I fix the bug for the code "kubernetes/pkg/proxy/ipvs/proxier.go" in the branch release-1.19. Maybe it is not in the release-note-label-needed, so I remove it. Which branch should  I fix the bug in ?

[2022-05-05 03:02] roycaihw commented on #109348
/kind feature
/priority awaiting-more-evidence

/assign @277631272
since you have a PR already: https://github.com/kubernetes/kubernetes/pull/109349

[2022-05-05 03:02] msau42 commented on #109800
Do you see failures of other "immediate" mode tests? I'm wondering if there is some logic to detect and automatically skip those tests

[2022-05-05 03:22] mk46 commented on #107212
/remove-lifecycle rotten

[2022-05-05 03:24] jason-gideon commented on #73395
I have the same issue. Is there any solution? please help me

[2022-05-05 03:26] roycaihw commented on #109554
I think an optional flag makes sense.

Users still need to decide how to manage the lifecycle of lock resources. One option is we have a [garbage collector](https://github.com/kubernetes/kubernetes/blob/cb7beb591216de93bef22525a6c5f0e435e21789/pkg/controlplane/controller/apiserverleasegc/gc_controller.go#L52) that deletes expired Lease objects (the [idea](https://github.com/kubernetes/enhancements

[2022-05-05 03:35] praparn commented on #40422
Wow this look goods idea. As check back to [Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/). They also remove "--record". Will take some time to test about both of this

[2022-05-05 04:02] silenceper opened #109807 "windows docker container ipconfig hang，can not get ip"
### What happened?

After running for a period of time, the ip cannot be obtained in the pod, hang while executing ipconfig command

### What did you expect to happen?

The container ip can be obtained normally

### How can we reproduce it (as minimally and precisely as possible)?

- start pod
- set pod use hostNetwork

### Anything else we need to know?

The ip can be obtained normally in the san

[2022-05-05 04:02] silenceper commented on #109807
/sig windows

[2022-05-05 04:16] jieyu commented on #109596
@rphillips do you mean when we decide to change the kube-apiserver.yaml, we first delete it, and then create a new one with the new content. And see if that'll trigger the issue?

[2022-05-05 04:43] fireflycons commented on #40422
Or even introduce `--annotation` and have a default if the user does not specify it, along the lines of

[code]
...defaults to `set image to nginx:1.19` - perhaps just the tag if image name considered insecure.

[code]
...defaults to `rollback to revision 3`

[2022-05-05 04:46] pacoxu commented on #109801
Blog about it is in https://kubernetes.io/blog/2021/05/14/using-finalizers-to-control-deletion/

For support request, go to https://discuss.kubernetes.io/.

[2022-05-05 04:51] galiacheng commented on #99061
Yes @andyzhangx  the fixed is merged, could you tell which version will fix the issue? Thanks!

[2022-05-05 05:17] andyzhangx commented on #99061
@galiacheng the fix is still rolling out, you could run following command to disable csi migration migration on 1.22, that could mitigate the issue:
[code]

[2022-05-05 05:20] MikeSpreitzer opened #109808 "make fails on second and subsequent runs, with "...go/pkg/tool/linux_amd64/link: cannot open file ... cannot allocate memory""
### What happened?

I made myself a shiny new Ubuntu 22.04 VM and tricked it out for building Kubernetes.  But `hack/local-up-cluster.sh` repeatedly failed with a bogus complaint from the linker about not being able to open some files due to "cannot allocate memory".  This VM has 24 GiB of memory and 4 vCPUs.  I monitored CPU and memory usage in another window with `htop`; the yellow part of the m

[2022-05-05 05:26] MikeSpreitzer commented on #109808
/sig usability
See also https://github.com/golang/go/issues/52716

[2022-05-05 05:58] galiacheng commented on #99061
Hello @andyzhangx  Error happened when running the script, please see:
[code]

[2022-05-05 06:17] galiacheng commented on #99061
Hello @andyzhangx a small fix to your previous command :)
[code]

[2022-05-05 06:17] pacoxu commented on #109766
/cc @klueska @swatisehgal

[2022-05-05 06:17] MikeSpreitzer commented on #109808
BTW, I get the same failure when building as my regular user.  Following is a typescript, picking up just after a `make clean` that I ran as root.

[code]

[2022-05-05 06:18] pacoxu commented on #109777
/sig node

[2022-05-05 06:20] MikeSpreitzer commented on #109808
Next I guessed that maybe the memory shortage is on the host rather than inside the VM.  So I rebooted the VM, making its memory half as big.  Still the problem persists.

[code]

[2022-05-05 06:21] klueska commented on #109766
This is due to a misconfiguration of the memory manager.

/cc @cynepco3hahue

[2022-05-05 06:35] wzshiming commented on #109802
Maybe you can remove `initialDelaySeconds` of `startupProbe`

[2022-05-05 06:56] wojtek-t commented on #109783
That was my hypothesis also in:
https://github.com/kubernetes/kubernetes/pull/109760#issuecomment-1117320654

I think the fastest fix might be to simply split the tests into subpackages...

[2022-05-05 06:57] MikeSpreitzer commented on #109808
I also tried staying inside the guest, not relying on the mount from the host's filesystem.  Voila!  Problem gone.  With guest at 12 GiB of memory, 4 vCPUs, GOPATH set to a parent directory on the guest's main filesystem.  I can repeated `make WHAT="cmd/kubectl cmd/kube-apiserver cmd/kube-controller-manager cmd/cloud-controller-manager cmd/kubelet cmd/kube-proxy cmd/kube-scheduler"` without a prob

[2022-05-05 07:45] lojies opened #109811 "when upgrade iptables from 1.4.21 to v1.8.6 (nf_tables), rules in iptables-legacy is not clear."
### What happened?

The iptables is  upgraded from 1.4.21 to v1.8.6 (nf_tables)  when os is upgraded.
I have followed the document in [https://github.com/kubernetes-sigs/iptables-wrappers](url) and added iptables-wrappers in kube-proxy pod.
But rules in iptables-legacy is not clear. If some pods were rebuild, then the KUBE-SERVICE chain left in iptables-legacy would traffic to the wrong pod ip bef

[2022-05-05 07:53] lojies commented on #109811
/sig network

[2022-05-05 08:18] sanposhiho commented on #109796
I'll address it.
/assign

[2022-05-05 08:28] 5279314 opened #109812 "new invalid bearer token, square/go-jose: error in cryptographic primitive"
### What happened?

I doubt whether the API configuration is wrong, because the created serviceaccount does not seem to be mounted in the pod container
[code]
apiserver log
[code]

### What did you expect to happen?

All pods can operate normally. Please help analyze whether there are errors

### How can we reproduce it (as minimally and precisely as possible)?

try to apply the yaml file I supply

[2022-05-05 08:38] swatisehgal commented on #109766
Please refer to the Memory manager documentation [here](https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/#memory-manager-configuration) and make sure you are configuring it correctly. If still not resolved, please provide details on how you are configuring kubelet (specifically memory manager).

[2022-05-05 08:44] mengjiao-liu commented on #107191
/unassign

[2022-05-05 09:08] chandanD4 opened #109814 "As a user I want to be able to restrict IP families to some pods"
### What would you like to be added?

In dual stack cluster ,  all the pods have both Ipv6 and Ipv4 interfaces. However there would be scenarios where user does not to enable dual stack for all the pods . So basically the ask is to restrict IP families to certain POD.  We should be able to specify certain pods to operate in single stack only i.e. either IPv4 or IPv6 only.  The address family of a

[2022-05-05 09:12] panbing520 opened #109815 "coredns pod logs error info"
### What would you like to be added?

.:53
2021-12-24T10:19:33.706Z [INFO] CoreDNS-1.2.6
2021-12-24T10:19:33.706Z [INFO] linux/amd64, go1.11.2, 756749c
CoreDNS-1.2.6
linux/amd64, go1.11.2, 756749c
 [INFO] plugin/reload: Running configuration MD5 = 64abacc4c5a9834ab518a99b06d65a7d
E0411 11:27:17.278584       1 streamwatcher.go:109] Unable to decode an event from the watch stream: http2: server sent

[2022-05-05 09:14] chandanD4 commented on #109814
/cc @aojea @kubernetes/teams/sig-network-feature-requests

[2022-05-05 09:17] aojea commented on #109814
/sig network

I've received similar questions recently and this is trickier than with services because PodIPs are really out of control of the Cluster, they belong to the CNI, and the CNI may not use ClusterCIDR for the Pods IP assignment.

At high level the flow to create a pod and report the IPs is:
 kubelet -> cri -> cni -> (assign IPs) -> cri -> kubelet -> (update pod.Status.PodIPs to the apis

[2022-05-05 09:38] aneagoe commented on #106957
Observing similar issues on `4.10.0-0.okd-2022-04-23-131357` (k8s and crio `v1.22.1`) and `4.9.0-0.okd-2022-02-12-140851` (k8s `v1.23.5+9ce5071` and crio `1.23.2`).
The strange thing is that one cluster just some nodes affected while the other, all of them. Below an overview of 30m occurrences of `Failed to update stats for container`
Cluster running version `4.10.0-0.okd-2022-04-23-131357`:
[code

[2022-05-05 09:55] yll92587 opened #109817 "faild to start kubelet"
May 05 17:01:38 master-01 kubelet[127119]: I0505 17:01:38.612023  127119 kuberuntime_manager.go:222] "Container runtime initialized" containerRuntime="docker" version="20.10.14" apiVersion="1.41.0"
May 05 17:01:44 master-01 kubelet[127119]: E0505 17:01:44.749930  127119 aws_credentials.go:77] while getting AWS credentials NoCredentialProviders: no valid providers in chain. Deprecated.
May 05 17:01

[2022-05-05 10:16] uablrek commented on #109814
I totally agree on that. A general `-j DROP` in `iptables` or `ip6tables` (respectively) should cover it.

[2022-05-05 10:35] vaibhav2107 commented on #109817
/sig node

[2022-05-05 11:13] pohly commented on #109744
Regarding `ginkgo --dry-run`: searching for `--focus="NoSpecsMatchThisString"` points out the places where the workaround is used and needs to be replaced once https://github.com/onsi/ginkgo/issues/935 is solved.