[2016-09-15 17:16] thockin commented on #9712
I think it's more a caseof whether we want to build that backlink, or find
a different solution.  Inter-object linkages are tricky to get right and
keep right

On Thu, Sep 15, 2016 at 12:42 AM, Simon Menke <notifications@github.com>
wrote:

[2016-09-15 17:16] jbeda commented on #29013
I agree with @thockin.  We can support the stuff in `build/*` to run on mac to get you dockerized but everything else is only supported in there.

I've worked around a few BSD/OSX things in https://github.com/kubernetes/kubernetes/pull/30787 but it isn't fun.  We should try to keep that stuff isolated.

[2016-09-15 17:27] dcbw commented on #32735
From a quick review of pkg/kubelet's use of Command(), we have at least:

- brctl (could be replaced by /sbin/ip)
- /sbin/ip (a whole lot of places) - some uses could be replaced by Go libraries for netns manipulation (eg, CNI's 'netns' module) and many could be replaced by vishvananda/netlink
- systemctl (--configure-cbr0) - for restarting docker after telling docker to use cbr0
- service (same r

[2016-09-15 17:30] zreigz commented on #32432
Yes sure, I will prepare proposal first

[2016-09-15 17:33] fasaxc commented on #32625
@caseydavenport We also use `ip route|addr|...` from iproute2 and `arp`.

[2016-09-15 17:33] spxtr commented on #29013
I agree, with the usual caveat that we need to be doing all of the build in one container with as little as possible happening outside.

OS X tends to have old and broken versions of important programs, which is terrible. We discussed setting up CI for it but it's not going to happen in the near term. Alpine/Busybox purposefully omit features from their versions for good reasons, but it's still mo

[2016-09-15 17:34] thockin commented on #32735
@freehan and @dcbw - can we make 1.5 goal to excise the old pre-kubenet
code, or is it too soon?

On Thu, Sep 15, 2016 at 10:28 AM, Dan Williams <notifications@github.com>
wrote:

[2016-09-15 17:36] geku opened #32801 "Manual endpoints vanished"
**Kubernetes version** 1.2.5

**Environment**:
- **Cloud provider or hardware configuration**: Rackspace, no cloud provider configured
- **OS**: CoreOS 1010.5.0
- **Kernel**: 4.5.0-coreos-r1 #2 SMP

**What happened**:
We have multiple services without a selector for external services and corresponding endpoints which have been created manually.

Now, suddenly the endpoints vanished without any int

[2016-09-15 17:37] caesarxuchao commented on #32571
I took a look at the enormous-cluster jenkins config, and I see the QPS is [not adjusted](https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gce.yaml#L886), so it would be 5. That means that GC can delete 2.5 objects per second. But in the e2e test code, gcThroughput is [hardcoded as 10](https://github.com/kubernetes/kubernetes/blob/master/te

[2016-09-15 17:38] luxas commented on #32735
@dcbw Hah, that's exactly what I've been proposing in https://github.com/kubernetes/kubernetes/issues/26093 :)

I'm gonna revisit my PRs that reduces the deps as soon as v1.4 is out the door.

@thockin We marked it deprecated in v1.4, so if we're aggressive (which I think we should be in this case), `--configure-cbr0` could be removed _now_ when HEAD is targeting v1.5

We should delete the experim

[2016-09-15 17:46] yujuhong opened #32803 "CRI: expose optional runtime features"
Meta-issue for CRI: #28789

For some features, kubelet checks if the underlying runtime supports such features and reject the pod if necessary. One example is the `sysctl` support. Right now, kubelet simply checks if (1) the runtime is docker, and (2) if docker version is higher than the minimum requirement. With CRI, checking runtime versions directly is no longer viable. One way to solve this is

[2016-09-15 17:46] luxas commented on #32735
That was what I was thinking, the earlier we remove it, the higher is the chance that someone tries to use configure-cbr0 with v1.5-alpha and notices the removal early.
(Not everyone is reading the relnotes)

[2016-09-15 17:50] wojtek-t commented on #32571
So what I wanted to say is that 20 is default for controller-manager.

[2016-09-15 17:53] mikedanese commented on #23236
fyi Bazle POC: #32774

[2016-09-15 17:58] freehan opened #32804 "KUBE_LOGGING_DESTINATION=elasticsearch does not work on GCI"
E2E test `Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from pods on all nodes are ingested into Elasticsearch` is failing in `kubernetes-e2e-gci-gce-es-logging` suite

[2016-09-15 18:03] caesarxuchao commented on #32571
Yeah, I saw it's default to 20 now.

[2016-09-15 18:05] wojtek-t commented on #32571
@caesarxuchao - one change wrt to what Marek wrote I would suggest is that, instead of passing this object down the stack, I would suggest inserting the necessary information to the cache that you are already using there. WDYT?

[2016-09-15 18:10] madhusudancs commented on #32037
It looks like I actually did not re-assign. Trying again ...

[2016-09-15 18:19] caesarxuchao commented on #32571
I sent https://github.com/kubernetes/kubernetes/pull/32805. It's a one-line change.

[2016-09-15 18:24] moserke opened #32809 "Podmaster is legacy registry API"
When trying to disable the legacy docker registry API to conform with the CIS hardening benchmark for docker [https://benchmarks.cisecurity.org/tools2/docker/CIS_Docker_1.11.0_Benchmark_v1.0.0.pdf] I noticed that the podmaster has not had a version pushed for the v2 API.  This means I can not turn off the legacy API access.

Any chance can get the podmaster pushed to take advantage of v2?  This is

[2016-09-15 18:32] lavalamp commented on #32332
@pwittrock @spiffxp this is where we're collecting known issues for the release notes.

[2016-09-15 18:36] madhusudancs commented on #28615
Today's update:

#32613 was merged yesterday. It was also cherry-picked to release-1.4. All the 1.3 federation tests and many new [federation] tests are back to green now. We are investigating the remaining failures.

I have assigned #32733 to @mwielgus. @quinton-hoole is looking at the Ingress tests I believe.

cc @pwittrock

[2016-09-15 18:45] caesarxuchao commented on #32706
We plan to solve this issue by documentation. #32751 let users of older version kubectl see a more specific error message and the way to work around when the `kubectl rolling-update` fails. We will document the incompatibility in the 1.4 release note.

[2016-09-15 18:47] caesarxuchao commented on #32332
https://github.com/kubernetes/kubernetes/issues/32706 needs to get in the known issue of the release note.

[2016-09-15 18:51] janetkuo commented on #32697
scale rs not found error should be ignored, see https://github.com/kubernetes/kubernetes/commit/36522378f45607c5ec186948a8534520075e9f94

[2016-09-15 18:54] yujuhong commented on #32770
/cc @timothysc @hongchaodeng @xiang90

[2016-09-15 18:58] dcbw commented on #32735
My wish-list/plan is to (a) remove configure-cbr0 in favor of kubenet after making sure that kubenet does everything configure-cbr0 does, and then (b) get kubenet into a plain CNI plugin instead of its own plugin.

[2016-09-15 18:59] vishh commented on #32552
If @mtaufen cannot get to it sometime soon (< week), I will pick this up.

On Wed, Sep 14, 2016 at 9:51 PM, David Oppenheimer <notifications@github.com

[2016-09-15 18:59] timothysc commented on #32770
@hongchaodeng are there any known issues on the clientv3 prior to 3.0.8?   Just wondering if we need a rev bump.

[2016-09-15 19:00] timothysc commented on #32770
I can never repro this locally, and the leaks have been fixed.

[2016-09-15 19:08] erictune opened #32812 "Manual upgrade: No CA_CERT in metadata after upgrade on GCE"
During a manual upgrade test, described in [this doc](https://docs.google.com/document/d/1yv9tm5qeCqbyw5SWysHaXxSLDRZ-RmK8QRBrkbnh6Tg/edit#), a kubelet failed to communicate via SSL to its master.
This is currently blocking the 1.4 release.

There is not a repro for this yet.

The cluster was running 1.3, and was upgraded to 1.4 successfully, but upon downgrading to 1.3, the kubelets one one or mo

[2016-09-15 19:12] erictune commented on #32812
@mikedanese @gtank in case this is related to kubelet bootstrap changes in 1.4.

[2016-09-15 19:16] h0tbird commented on #29013
Ok, I will re-think my workflow.

[2016-09-15 19:18] erictune commented on #32812
Currently node is `gci`:
[code]

[2016-09-15 19:20] timothysc commented on #32770
So it's failing in different spots, but replicasets is the most common occurrence.

[2016-09-15 19:20] erictune commented on #32812
Correction.  The node is running 1.4.0-beta.5
[code]

[2016-09-15 19:22] fraenkel commented on #32796
@thockin What did you expect to happen? It will skip creating any EndpointSubsets. It handles having no ports.

[2016-09-15 19:22] yifan-gu commented on #32812
@erictune If the kubelet hasn't set the `--experimental-bootstrap-kubeconfig` then it will not go through the bootstrap code path.

[2016-09-15 19:45] timothysc commented on #32770
xref: https://github.com/coreos/etcd/pull/6367

[2016-09-15 19:51] liggitt commented on #31889
error occurred in framework setup, no additional reports since https://github.com/kubernetes/kubernetes/pull/32302 was fixed

[2016-09-15 19:51] #31889 closed

[2016-09-15 19:54] timothysc commented on #32770
ok, we have a bead on the issue.  It will not affect the released bits, but it does affect the UTs.

[2016-09-15 20:06] ltagliamonte commented on #32743
thank to @justinsb as for https://github.com/kubernetes/kubernetes/issues/30899 and https://github.com/kubernetes/kubernetes/issues/24152 the deployments have the same:
[code]
and this was causing the issue, just moving `cassandra` to `cassandra-${i}` and it solved the issue

[2016-09-15 20:06] #32743 closed

[2016-09-15 20:13] erictune commented on #32812
Not set.  For reference, args are:
[code]

[2016-09-15 20:15] yifan-gu commented on #32803
@yujuhong Why checking runtime versions is not viable?

[2016-09-15 20:18] lavalamp commented on #32605
This should probably be fixed, but it's not obvious how to do so, and it doesn't happen *that* much, so I'm definitely not going to work on it.

[2016-09-15 20:31] alex-mohr commented on #32551
Asking this to be P1 for GKE given how many customers are hitting it, though it's not GKE specific.

[2016-09-15 20:37] pwittrock commented on #32701
FYI @krousey Manually executed this test and it worked.

[2016-09-15 20:37] philips commented on #7203
@runcom step 1 is to get a proposal for the API change. There is an old proposal that could be used, see the feature for the old proposal link: https://github.com/kubernetes/features/issues/63

[2016-09-15 20:37] caesarxuchao commented on #28713
I'll close the issue. Last occurrence was more than a month ago.

[2016-09-15 20:37] #28713 closed

[2016-09-15 20:38] thockin commented on #32551
@matchstick for prio shuffle shuffle

[2016-09-15 20:46] philips commented on #23335
OK, so I think we have moved past the point of considering whether we can not implement attach. It is part of the CRI and so we will work to get it implemented there. @lucab and @timstclair are working on that.

[2016-09-15 20:46] #23335 closed

[2016-09-15 20:46] #32548 closed

[2016-09-15 20:50] pwittrock commented on #31811
Retries make sense to me.

[2016-09-15 20:57] k8s-merge-robot opened #32819 "[k8s.io] Kubectl client [k8s.io] Kubectl run --quiet job should not output anything except the command when --quiet is set {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31030/kubernetes-pull-build-test-e2e-gce/59085/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --quiet job should not output anything except the command when --quiet is set {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31030.

Previous issues for this test: #30708 #32548

[2016-09-15 21:00] thockin commented on #32796
I think it should create a Subset with a 0 port (or a dummy value).  We
don't currently represent port ranges, but if we did it would be (1-655356)
here.

On Thu, Sep 15, 2016 at 12:23 PM, Michael Fraenkel <notifications@github.com

[2016-09-15 21:01] thockin commented on #29013
How did you find yourself building in Alpine, in I may ask?

On Thu, Sep 15, 2016 at 12:17 PM, Marc Villacorta <notifications@github.com>
wrote:

[2016-09-15 21:04] girishkalele commented on #31811
@Random-Liu This issue is related to #29259 - it looks like the same logic for lines 281-290 is run for both e2e tests (`Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should be able to pull image from docker hub` and `Container Runtime Conformance Test container runtime conformance blackbox test when running a container wit

[2016-09-15 21:19] coufon commented on #30965
This error log has been changed to be more clear, see PR #32820

[2016-09-15 21:19] dchen1107 commented on #32812
Question: Could you please tell me why your nodes are running with GCI image at the first place? The test is starting with 1.3 release, which is using old debian-based containervm image, and I thought upgrade.sh doesn't change the image at all (separate topic).

[2016-09-15 21:20] spxtr commented on #32819
#32806

[2016-09-15 21:20] #32819 closed

[2016-09-15 21:20] Random-Liu commented on #30965
Close this one since this only happens once and it's 28 days ago.

[2016-09-15 21:20] #30965 closed

[2016-09-15 21:21] k8s-merge-robot opened #32821 "[k8s.io] Kubectl client [k8s.io] Kubectl run --quiet job should not output anything except the command when --quiet is set {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32718/kubernetes-pull-build-test-e2e-gce/59094/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --quiet job should not output anything except the command when --quiet is set {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32718.

Previous issues for this test: #30708 #32548 #32819

[2016-09-15 21:26] bprashanth commented on #32812
It does change to gci on gce with the default upgrade scripts, i brought this up on an email thread. I'm guessing something was dropped when we translated salt grains (containervm) to gci env vars.

[2016-09-15 21:28] Amey-D commented on #32538
We can append the the location of correct kubectl version to $PATH /etc/profile as part of configure scripts so that it shows up in users' PATH upon log in.  I'll send a PR unless someone else wants to do it.

[2016-09-15 21:32] saad-ali commented on #31762
Drive by comment: Why does the fencing need to be applied to the PV. A PV can only be consumed via a bound PVC object, a 1:1 relation. And the PVC object can specify exactly the access mode it needs, in this case just make sure the PVCs request RWO (RWO claims can be satisfied by RWX PVs so the "turn RWX volume types into safe RWO volumes with no extra complexity" issue is non-existent). The only

[2016-09-15 21:41] Random-Liu commented on #31811
@girishkalele Yeah, they are the same thing...Just image registry flake.

We can duplicate this to #20259, and I'll add image pulling retry to make this less flaky this.

[2016-09-15 21:42] timothysc commented on #32770
PR in flight.

[2016-09-15 21:42] dchen1107 commented on #32812
@bprashanth What the default upgrade scripts you were referring to? cluster/gce/upgrade.sh? I just double-checked with @vishh's test cluster which was upgrade to 1.4 through cluster/gce/upgrade.sh, the node is stay with debian-based containervm, but Kubernetes version is bumped up to 1.4-beta.X

[2016-09-15 21:46] dchen1107 commented on #32812
Ok, I am assigning this to @Random-Liu to confirm. If upgrade logic from 1.3 to 1.4 changes the underneath os, that is wrong. I strongly believe this is just a simple operational error.

[2016-09-15 21:49] vishh commented on #32812
My understanding is that upgrade.sh ignores base images altogether.

On Thu, Sep 15, 2016 at 2:47 PM, Dawn Chen <notifications@github.com> wrote:

[2016-09-15 21:51] cjcullen commented on #31798
Old title is no longer accurate (because of the workaround we added specifically for bindings). I'd like this issue to track kube-apiserver being smarter about the authorization questions that it asks.

[2016-09-15 21:53] girishkalele commented on #31811
Duplicate of #29259

[2016-09-15 21:53] #31811 closed

[2016-09-15 22:10] SleepyBrett commented on #32414
I think this is probably related to my issue here: https://github.com/kubernetes/kubernetes/issues/32304

[2016-09-15 22:10] SleepyBrett commented on #32304
Another update, this also stops the cpu metrics as well.

[2016-09-15 22:13] nikhiljindal commented on #32629
Sent https://github.com/kubernetes/kubernetes/pull/32823 to fix the issue using the 2nd option from my comment above.

[2016-09-15 22:20] bprashanth commented on #32812
Hmm

[code]

[2016-09-15 22:31] Random-Liu commented on #32812
I've tried and the node image did get updated to GCI.
[code]

[2016-09-15 22:43] chrishiestand commented on #17512
In addition to the case above, it would be nice to see what resource utilization we're getting.

`kubectl usage requests` might show:

[code]

In this example, the aggregate container requests are 4.455 cores and 20.1 GiB and there are 5 cores and 30GiB total in the cluster.

[2016-09-15 22:45] joshk0 commented on #28515
I know this potentially isn't the right forum, and I've already reached out on chat, but this is causing a huge amount of pain in GKE. Our log integrations have shut down because we sent them too much log data. Is there anyone in the org who could help to push an updated kube-dns out to that environment?

[2016-09-15 22:45] maisem commented on #27703
Closing this as it was a GKE infra issue.

[2016-09-15 22:45] #27703 closed

[2016-09-15 22:46] nikhiljindal opened #32826 "federation: need kubectl tests"
Currently we dont test kubectl with federation apiserver.
All our e2e tests directly use the clientset to send requests to the apiserver.

We need to setup these kubectl tests

cc @kubernetes/sig-cluster-federation

[2016-09-15 22:46] nikhiljindal commented on #32826
Example of an issue we could have found earlier, if we had these tests: https://github.com/kubernetes/kubernetes/issues/32629

[2016-09-15 22:57] nikhiljindal commented on #32826
Some options:

* We could update our e2e tests to use kubectl instead of directly using the clientset.
To do this, we would need another method like the existing [framework.KubectlCmd](https://github.com/kubernetes/kubernetes/blob/5766776cb30f13aa523bf58c37cb168192f106cb/test/e2e/framework/util.go#L2106), framework.FederationKubectlCmd that will send the request to federation control plane instead

[2016-09-15 23:13] ixdy commented on #24976
this is done, right?

[2016-09-15 23:22] smarterclayton commented on #31762
Not sure what you mean.  If you bind a PVC to an NFS PV and the node
is separated from the master, you *will* have two pods accessing that
NFS five minutes later when the node controller evicted the pod,.

Yes as long as the PV can't be rebound either object can serve as a
lock.  We talked from the PV perspective for two reasons - PVs already
have zone limits and for local storage the PV needs to

[2016-09-15 23:28] Cloven commented on #31762
I feel like this is a set of architectural epicycles caused by the desire to permit split-brain in the presence of persistence (of identity, of storage, ...).  As a dev and as an op, the idea that my semi-stateful pod could suddenly get multiple doppelgangers is the problem in the first place, and no concentric collection of workarounds and failure detectors is going to clear all the edge cases.

[2016-09-15 23:30] davidopp commented on #32552
According to #32812 upgrade.sh actually does install GCI when you go from 1.3 to 1.4 (does it install ContainerVM when you go the other direction?) So I think that means this issue is now a release blocker.

[2016-09-15 23:32] bprashanth commented on #31762
To clarify, you can do this with a hard forgivness policy. The volume lock is a *node* level guarantee. Meaning, there are 2 pods, one which the entire system can see, and only that only the kubelet on the node can see. If you end up in this situation, there is nothing but the kubelet on the node that can protect you really (ignore how you end up in such a situation, just assume you can, it will h

[2016-09-15 23:34] jayunit100 commented on #24976
Yup

[2016-09-15 23:34] #24976 closed

[2016-09-15 23:41] aaskey opened #32827 "Document role of cloudprovider healthchecks in L4 lb"
A load balancer type of service/deployment is created on GKE using the command below:
[code]
A load balancer was created automatically. This is nice. However, from Google Cloud Platform/Networking/Load balancing, it complains:
[code]
Should the load balancer to be created with health check by default? I don't see an option to enable load balancer health check in service manifest. Would such an opt

[2016-09-15 23:41] ixdy commented on #30600
Please add things I'm missing to https://github.com/kubernetes/kubernetes/projects/3!

[2016-09-15 23:49] bprashanth commented on #32827
kubelet does container level health checks so traffic doesn't go to unhealthy pods. If no pods are healthy, you (should) get an connection reset (RST).

If you use the source ip preservation feature (https://github.com/kubernetes/features/issues/27, alpha in 1.4) the service controller will program health checks for you so a node without endpoints doesn't get traffic.

We should probably surface t

[2016-09-15 23:50] k8s-merge-robot opened #32828 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/469/

Run so broken it didn't make JUnit output!

[2016-09-15 23:50] smarterclayton commented on #31762
And the default policy we have in place is a best-effort reclaim for
replicas, not hard forgiveness.  The node controller "breaks the lock"
after five minutes + graceful deletion.

Petsets by default will probably want hard forgiveness or another
guarantee (that's what the discussion of the PetSet Pod finalizer
would be - the PetSet controller owning the lock).  Having safe
defaults and matching u

[2016-09-15 23:52] caesarxuchao opened #32829 "RC/RS manager should check if pod's controllerRef gets removed"
[Pod updates handler](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L371) of RC/RS manager should take action for pod whose controllerRef gets removed. Currently the hanlder only care about pod label changes.

The result is, if there are two RCs with the same selector in the system (we suggest our users don't do this), and if both of them

[2016-09-15 23:56] hongchaodeng commented on #32770
@yujuhong What's the default logging level of unit test?

[2016-09-16 00:10] k8s-merge-robot opened #32830 "[k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: udp [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/23447/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: udp [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-16 00:20] vishh commented on #32552
I think I used upgrade scripts from v1.3.x to upgrade to v1.4.0. Bummer.
Working on a fix for this with Lantao.

On Thu, Sep 15, 2016 at 4:31 PM, David Oppenheimer <notifications@github.com

[2016-09-16 00:20] k8s-merge-robot opened #32832 "TestPodLogValidates {rest}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17049/

Failed: TestPodLogValidates {rest}

[code]

[2016-09-16 00:22] coufon opened #32833 "Pitfalls in node performance tests and verification"
We have several performance test running in node-e2e now, but we saw large variations over builds from test results. It makes setting the limits for latency and resource usage really hard. Here are some potential causes of the variations:

(1) We simply trust that if the tests run in series, and everything has been cleaned across the tests, they should not interfere each other. However, this might

[2016-09-16 00:28] coufon commented on #32833
@dchen1107 @yujuhong @Random-Liu

[2016-09-16 00:30] #32156 closed

[2016-09-16 00:30] erictune commented on #32156
I guess this is fixed at head or not reproducible.

[2016-09-16 00:36] dchen1107 commented on #32552
@davidopp This is not P0, and should't block 1.4 release. The decision we agreed upon is that upgrade.sh shouldn't upgrade the underneath os image for 1.4 release. #32812 is p0 blocker for 1.4, and @Random-Liu is working on it actively.

[2016-09-16 00:38] erictune commented on #32812
@mikedanese helped me debug this.
 He found that the metadata for the instance did not include the CA_CERT in it.

That seems wrong.

[code]

[2016-09-16 00:39] erictune commented on #32812
Renamed from "x509 failure for kubelet after upgrade test"

[2016-09-16 00:42] k8s-merge-robot opened #32834 "TestEtcdCreateFailsWithoutNamespace {etcd}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17050/

Failed: TestEtcdCreateFailsWithoutNamespace {etcd}

[code]

[2016-09-16 00:46] lavalamp commented on #32812
Yeah, that's the error you'd get if the proper ca isn't loaded.

[2016-09-16 00:49] davidopp commented on #32552
I agree, fixing this by just not having upgrade.sh update the OS image is a good fix for 1.4. Sorry for the confusion.

[2016-09-16 00:54] timstclair opened #32837 "High churn from ReplicationController when Pod cannot schedule"
If a Pod cannot be scheduled on any nodes (rejected by the kubelet), the ReplicationController will continuously recreate the pod trying to schedule it on every node. This causes very high churn & resource usage across the cluster.

For example, create a replication controller that creates a Pod with an AppArmor profile that is not loaded on any nodes (or if AppArmor is not enabled):

[code]

A (g

[2016-09-16 01:11] coufon opened #32838 "Test volume manager in node-e2e-test"
We don't have performance test for volume manager in node-e2e test. It should be added since it is an important part when we measure pod creation latency.

One problem to note is that we do not have "secret volume" in node-e2e tests. When we create a batch of pods in cluster through replicated controller, because the pods have default secret volumes with the same name, it takes some time for the v

[2016-09-16 01:12] coufon commented on #32838
@dchen1107

[2016-09-16 01:13] bprashanth commented on #32837
The contract here is if the pod fails, the RC will create another one, and the scheduler will assign a host to all unassigned pods. To avoid the churn one can surface what security profile is on which node through a node label scheduling constraint, then the pod gets stuck in pending.

The described churn is usually *beneficial* because there's a decent chance the replacement pod hits a node with

[2016-09-16 01:24] bprashanth commented on #22680
@timstclair complained about abrnomal sluggishness in a 1.4 cluster loaded with failed pods

[2016-09-16 01:26] timstclair commented on #32837
Given that, here are 2 other options that could fix this:

- Make the scheduler aware of security profiles, and other per-node resources. I worry this wouldn't scale well as we add more and more features to nodes.
- Add a concept of a "permanent" or "hard" rejection. A new type of rejection, which would prevent the pods from being reassigned to the node. How the pod is described here (given the in

[2016-09-16 01:38] spxtr commented on #32834
Guessing it's caused by #32770, happened at the same time as that one failed. Will reassign if it fails again.

[2016-09-16 01:38] #32834 closed

[2016-09-16 01:39] ekimekim opened #32839 "connects hang forever if service ip briefly has no associated pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): conntrack

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

[2016-09-16 01:44] hongchaodeng commented on #32770
If we looked at the test, they are sort of wrong themselves.
For example,
https://github.com/kubernetes/kubernetes/blob/e87edf9bd51fe655fdb6ef3e2886f0f15afbb22b/pkg/api/rest/resttest/resttest.go#L1235
It's doing another action on the same key, but it's watching at version "1" again.
From my understanding, if we have action "create, delete", I want to watch two actions one by one.
But it's watching

[2016-09-16 01:50] hongchaodeng commented on #32770
Even worse, it could be hiding problems.
For example, if  there is some event that happened in previous suites, then it will happen to next suites without differentiating and checking the actual values from ResultChan(). In such case, a wrong test might pass.

[2016-09-16 02:12] hongchaodeng commented on #32834
The balancer bug was just fixed in etcd 3.0.9
cc @timothysc

[2016-09-16 03:22] lavalamp commented on #32829
I don't think we need to rush a fix into 1.4, but we should definitely fix this soon.

[2016-09-16 03:33] feiskyer commented on #32803
+1 for this.

@yifan-gu Do you mean extend `Version()` API to include features? I think that's better than adding a new API.

[2016-09-16 03:37] thockin commented on #32803
Do we need this as an explicit API?  Why not just pass sysctl to the
runtime, and if it doesn't support them, it can either reject the request
or log-and-run-anyway...

On Thu, Sep 15, 2016 at 8:34 PM, Pengfei Ni <notifications@github.com>
wrote:

[2016-09-16 03:41] k8s-merge-robot opened #32842 "download_gcloud {PRE-SETUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8814/

Failed: download_gcloud {PRE-SETUP}

[code]

Previous issues for this test: #31121

[2016-09-16 03:44] feiskyer commented on #32803
@thockin One benefit is failing early before calling runtime API if features are not supported.

[2016-09-16 04:06] lavalamp opened #32843 "Endpoint controller hot-loops on failure"
Endpoint controller hot-loops when etcd is down-- in one cluster I saw 5 digits worth of failed POST requests.

#32461 fixes a log message but not the actual problem.

[2016-09-16 04:19] vishh commented on #32238
My PR was failing builds on windows and darwin. I have no clue why node e2e is being cross compiled. It is linux only. Re-opening this issue.

[2016-09-16 04:20] piosz opened #32844 "fluentd stuck in ContainerCreating after upgrade"
from @Random-Liu description:

I've tried the update 3 times, and every time I got the pod `fluentd-cloud-logging-kubernetes-master` stuck in `ContainerCreating` state.

In the 1.3 cluster, fluentd-cloud-logging-kubernetes-master is Running.
[code]

After updated to 1.4.
[code]

This happened everytime I try. In master kubelet.log, I found it full of:
[code]

[2016-09-16 04:23] piosz commented on #32844
Looks like a problem with kubelet/networking?

cc @dchen1107 @kubernetes/sig-node @thockin @kubernetes/sig-network @davidopp @gmarek @wojtek-t

[2016-09-16 04:34] AdoHe commented on #32702
For this issue, I rechecked build [6166](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6166), since I cannot reproduce this on my local due to the error I commented above, so I took a deep look into log, and just got some clue.
For this `should support inline execution and attach` suit test, the root error is:
[code]
and the correspondi

[2016-09-16 04:36] AdoHe commented on #32702
Above is what I got from logs, maybe not right, could provide some clue to debug this. ptal

[2016-09-16 04:45] thockin commented on #32844
@bprashanth @freehan @dcbw

[2016-09-16 04:56] Random-Liu commented on #32844
It stuck in `ContainerCreating` after upgrade, and recovered after downgrade.

When it stuck, kubelet log is full of:
[code]

[2016-09-16 04:58] Random-Liu commented on #32238
I'll send a PR to make node e2e only built on arm64, arm and amd64.

[2016-09-16 05:03] davidopp commented on #32837
Is this a release blocker? It seems to me like maybe not. We've talked about implementing the functionality you describe (one straightforward way to do it is to have the rescheduler add a node anti-affinity constraint to avoid a node where the pod has been failing) but I don't think it's feasible or necessary to do it for 1.4. WDYT?

[2016-09-16 05:03] Random-Liu commented on #32552
The fix is here https://github.com/kubernetes/kubernetes/pull/32840.
With #32840, we can also specify image type with flag `-o`:
[code]

[2016-09-16 05:10] aaskey commented on #32827
Retaining source ip info is very important for our applications. We are happy to see this source ip preservation feature.

Does GCE L4 LB replace original source IP with its own IP address?

[2016-09-16 05:44] rickypai commented on #14226
There's a caveat with https://github.com/lyft/metadataproxy and similarly https://github.com/dump247/ec2metaproxy. Those proxies uses the docker networking model where one container has an IP, which is different form Kubernetes pods.

Suppose I create a pod with an `nginx` container with environment variable of `IAM_ROLE=fooRole`, Kubernetes will create two containers, `nginx` with `IAM_ROLE=fooRo

[2016-09-16 05:48] davidopp commented on #32812
Will we get this problem if we don't upgrade to GCI (i.e. we stay with CVM) in upgrade.sh -N? I guess we can try it and find out.

[2016-09-16 05:50] vishh commented on #32812
Manual upgrades have been successful if we don't switch image types.

On Thu, Sep 15, 2016 at 10:49 PM, David Oppenheimer <
notifications@github.com> wrote:

[2016-09-16 06:02] bprashanth commented on #32844
Hmm, the master will have a pod-cidr of /30, which is just a single usable ip for fluent (0 is the network, .1 is gateway, .2 is usable ip, .3 is broadcast). It sounds like we're dropping that ip in cni.

Maybe there's a bug in our logic to shave off the broadcast address, that drops the .2 as well?
Any implications of running fluent in hostnetwork like all other master components?
Maybe we can si

[2016-09-16 06:07] #32812 closed

[2016-09-16 06:14] vikaschoudhary16 commented on #28311
@jeremyeder +1 for cells. Additionallly, I think it would be helpful if api is available for user to compose a cell using kv pairs (capabilities) she thinks are desrired for her workload. Different cells could be composed for different workloads over same nodes and then accordingly mentioned in pod spec.

thoughts?

[2016-09-16 06:22] m1093782566 commented on #30629
The 3nd PR for fixing job controller hot loop is #32850

[2016-09-16 06:22] vikaschoudhary16 commented on #28311
Wondering what could be the concerns if we trigger node-feature-discovery when a cell is composed to discover nodes with capabilities mentioned in the cell and labelling nodes with cell names.

[2016-09-16 06:57] piosz commented on #32804
Could you please provide some more info? What this suite is supposed to test? How can I reproduce locally?

cc @crassirostris

[2016-09-16 07:02] dchen1107 commented on #32812
re: https://github.com/kubernetes/kubernetes/issues/32812#issuecomment-247523236 If you don't change the underneath image during the upgrade, the issue shouldn't occur.

[2016-09-16 07:25] m1093782566 commented on #30629
@deads2k

When I look at the code of replication controller and job controller(as they are familiar with replica set controller), I find they both retry on failed pod creates.

1. replication controller, see https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L601

2. job controller, see https://github.com/kubernetes/kubernetes/blob/master/pkg/

[2016-09-16 07:39] vishh opened #32853 "Validation downgrade from v1.4.0 GCI to v1.3.x GCI"
Start a cluster with v1.4.0-beta.5
Then run `upgrade.sh v1.3.7` on release-1.3 branch.
Ensure that cluster comes up with v1.3.7

[2016-09-16 07:41] vishh commented on #32853
cc @gmarek

[2016-09-16 07:59] k8s-merge-robot opened #32854 "[k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/8676/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26425 #26715 #28825 #28880

[2016-09-16 08:45] h0tbird commented on #29013
@thockin nothing is forcing me to use Alpine I just like the distro. I run stuff on CoreOS and my aim is to solve the build-deliver-run pipeline with a single small container. By the way, I have [fixed](https://github.com/katosys/docker-kubernetes/commit/e3c8c892ddb35b023e423386cf749eed4180b9ea) the problem installing the GNU `grep` package :-)

[2016-09-16 09:11] wojtek-t commented on #32799
@timothysc - which [Performance] tests are running as regular/per-PR tests?

[2016-09-16 09:34] abcfy2 commented on #6862
+1

[2016-09-16 09:48] wojtek-t commented on #32789
Actually, both these failures are a different issue. The logs that are problematic are:
[code]

Why we don't have kubectl there?

[2016-09-16 09:52] k8s-merge-robot opened #32857 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17063/

Run so broken it didn't make JUnit output!

[2016-09-16 10:01] m1093782566 commented on #30688
@mml

I didn't realize that you have opened an issue before.

Have you fixed it?

If you have fixed it, I will close my PR #32850

[2016-09-16 10:10] kargakis commented on #30688
It's not fixed. The rate limiting queue is the first step but for the
separate issue we want to revisit some concerns raised in the PR that added
that controller.
You probably can go on and switch it to use the rate limiting queue and the
separate issue needs to be reworded to reflect the rest of the changes that
need to happen.

On Fri, Sep 16, 2016 at 12:01 PM, DuJun <notifications@github.com> w

[2016-09-16 10:11] kargakis commented on #30688
Oh, I am already commenting on "the separate issue" :)

On Fri, Sep 16, 2016 at 12:10 PM, Michail Kargakis <mkargaki@redhat.com>
wrote:

[2016-09-16 10:33] wojtek-t commented on #32571
But that's not what caused the density test to timeout. GC sending 20 extra requests when deleting 60000 pods does not change the big picture.

I looked into it and this seems to be a test issue.
The problem with this one is basically that we have 2000 of those small RCs (that are use to measure startup time). They were supposed to be already deleted when we start deleting this large RC, but after

[2016-09-16 11:16] m1093782566 commented on #30688
Thanks!

[2016-09-16 11:41] gmarek commented on #22680
Yeah - it's pretty low hanging fruit, but it seems that no one had time to pick it up:/

[2016-09-16 11:45] gmarek commented on #32829
+1 - it's a rather serious problem, but I'm against rushing the fix.

OT: It seems that interactions between RC/RSs, Pods, kubectl and probably a lot of other components are becoming comprehensible...

[2016-09-16 11:46] deads2k commented on #30629
Yeah, it's probably wrong or unintentional.

[2016-09-16 11:47] kargakis opened #32863 "All pod warning events / failure conditions should be propagated to replica sets"
This has been a big usability issue for a long time. Replica sets should have Conditions and aggregate pod failures.

Related to https://github.com/kubernetes/kubernetes/pull/19343

cc: @smarterclayton @bgrant0607 @kubernetes/api-review-team @kubernetes/kube-api @mfojtik

[2016-09-16 11:48] kargakis commented on #32863
Once we do this, we should switch the deployment controller to look into replica set conditions instead of listing events.

[2016-09-16 11:58] deads2k opened #32864 "Make apiserver fail readiness checks until posthooks are finished"
Update the API server to avoid reporting ready until the posthooks have completed.  That way an external observer can predict if the server thinks its startup is complete.

[2016-09-16 12:04] wojtek-t commented on #32770
@timothysc - if https://github.com/kubernetes/kubernetes/pull/32822 was supposed to help, it didn't - it is still failing.

[2016-09-16 12:11] zreigz commented on #32432
I have created demo with new value in ConfigMap: https://github.com/zreigz/kubernetes/commit/bb7d16f486d6a928ea3707196897f33e863f9c96

After code implementation I've executed command `hack/update-generated-protobuf.sh`
Unfortunately binary content is not stored and I don't know why. If you can take a look and help me to find cause of the problem.

[2016-09-16 12:19] AlessioMartorelli commented on #24829
Hi @streamnsight  how did you delete the secrets? I think I have the same problem but couldn't find a way to delete it. I'd also be ok with deleting the pods and starting from scratch if required.

Thanks

[2016-09-16 12:26] gmarek commented on #32799
My understanding of the current setup is:
- there are two performance tests: Density and Load (with different variations like number of pods/node etc.)
- there a two ways of running them: normal (on real clusters) and kubemark
- we have only basic kubemark test running per-PR, only to make sure that the given PR doesn't break kubemark setup
- we run density and load post submit in various configur

[2016-09-16 12:27] PI-Victor opened #32865 "kubectl set image should return a reasonable error"
`kubectl set image` should return a reasonable error for any resource that doesn't contain a pod spec.
ref: https://github.com/openshift/origin/issues/10947

[2016-09-16 12:34] bparees commented on #32865
@smarterclayton can this be assigned to @PI-Victor or otherwise indicate he's intending to fix it?

[2016-09-16 13:08] lucab opened #32869 "CRI: unify stdout and stderr streams for exec/attach"
In the [current CRI specification](https://github.com/kubernetes/kubernetes/blob/e8fbcb166928f57f29aaab7f51e64f2079be1020/pkg/kubelet/api/v1alpha1/runtime/api.proto#L597-L602), app execution (and perhaps attaching too, as per #29579) is supposed to return two separate streams for out and err:

[code]

While this fine for the specific Docker case where a daemon running under the same kernel keeps t

[2016-09-16 13:10] timothysc commented on #32770
@hongchaodeng has some ideas...

[2016-09-16 13:20] lucab commented on #24677
@dcowden if k8s is sitting in the middle between the container and journald (eg. if the runtime doesn't inject directly to journald) it can just attach additional fields before writing to journald. If k8s in not sitting in the log hotpath (ie. the runtime can inject directly to journald), it can just ask the runtime to do it.

[2016-09-16 13:39] feiskyer commented on #32869
@lucab CRI streaming APIs (attach/exec/port-forward) are addressed at https://github.com/kubernetes/kubernetes/issues/29579.

[2016-09-16 13:40] lucab commented on #29579
While implementing the attach/exec part for rkt, I had some concerns related to streams/tty/VMs interaction that I summarized here https://github.com/kubernetes/kubernetes/issues/32869. In the context of @timstclair work on this, I'd gladly have a more simpler abstraction which doesn't expose single streams for out and err across host/pod border.

[2016-09-16 13:50] #32657 closed

[2016-09-16 13:54] sekannia commented on #22135
Were you able to solve this issue.

[2016-09-16 13:56] lucab commented on #32869
Indeed, I linked it at the top. However this a partly different issue, which doesn't touch the topic of **how** to perform (generic) streaming operations but it is instead focused on **which** stream semantic should be exposed by container runtimes.

[2016-09-16 13:56] aknuds1 commented on #22135
@sekannia Too long ago, don't remember actually. Moved to Google Container Engine in the meantime.

[2016-09-16 14:01] m1093782566 commented on #31435
@freehan I am trying to fix this issue and have some questions to ask you.

I find this [PR](https://github.com/kubernetes/kubernetes/pull/30486/commits/3bf8679232fd0db511cbbeea5e68c707754f92bc) is a very useful reference for me. Besides, this PR mainly fixes two issues:

1. syncNetworkUtil in kubelet

2. fix loadbalancerSourceRange on GCE

My first question is should I create a util in kube-proxy

[2016-09-16 14:02] feiskyer commented on #32869
@lucab Check https://github.com/kubernetes/kubernetes/issues/29579#issuecomment-238665038, Option (3) will be based on http2, which supports multiplexed multi-channel stream with non-blocking.

[2016-09-16 14:10] sekannia commented on #22135
thanks

[2016-09-16 14:14] vaijab commented on #23629
This is no longer a problem. I have not seen this issue in a while, probably since 1.3.0. I take it this has been fixed now. Closing the issue.

[2016-09-16 14:14] #23629 closed

[2016-09-16 14:39] smarterclayton commented on #32869
I am -1 - many, many people rely on proper POSIX semantics for shell inputs.  Removing separation between stderr and stdout means a whole class of application stop working inside of Kubernetes.

[2016-09-16 14:39] smarterclayton commented on #32869
Also, we have semantics for TTY today - if those aren't captured in CRI that's a gap.

[2016-09-16 14:45] smarterclayton commented on #32869
So if you remove the separation, expectation would be that you always use a TTY single stream and that the CRI implementation would be expected to set up proper TTY?  Would that mean that for any client to receive multi-streams they would have to implement TTY on their end?  Or something else?

Of note too we don't have 2 streams - we also have the resize stream and the error stream.  I'm not sure

[2016-09-16 14:58] jonboulle commented on #32869
This seems a bit dramatic - is there really a whole class of applications and many, many people using attach regularly? We went through this discussion to try gain some more example use cases in https://github.com/kubernetes/kubernetes/issues/23335 and the only concrete thing that popped out was the OpenShift build system.

[2016-09-16 15:03] maciaszczykm commented on #29271
I'll take a look on it if it's not taken by anyone yet.

CC @cheld

[2016-09-16 15:48] ericchiang commented on #31365
Can we close this in favor of #31380?

[2016-09-16 15:51] pmorie commented on #31272
@derekwaynecarr The solution to this issue includes logging and/or events to make this more visible to operators and users.

[2016-09-16 15:57] mlbiam commented on #31365
yes, closing

[2016-09-16 15:57] #31365 closed

[2016-09-16 15:59] lucab commented on #32869
Thanks for your input @smarterclayton, I'm answering inline here below.

This doesn't touch POSIX semantics for shell inputs. Also this doesn't remove stderr/stdout separation for *applications running in a pod*. This merely concerns how the pod runtime carries this information to the kubelet.

Yes, for applications that need to be exec'd/attached the CRI-runtime will setup a proper tty. Output st

[2016-09-16 16:16] smarterclayton commented on #32869
I'm not sure what you're asking?  Whether "kubectl exec ... find" should put errors on stdout?  Common uses of exec include:

* streaming a backup out of a container via rsync or tar - requires two streams
* running find / cat operations in containers - two streams
* running bash - tty in most cases, although someone pointed out recently that ttys don't work in all containers
* external checks run

[2016-09-16 16:20] smarterclayton commented on #32869
The kubelet needs to preserve the distinction between stderr and stdout if it's a proxy for exec (otherwise who is providing that abstraction?).  This discussion seems only to make sense in terms of a proxy... which is not what I thought we agreed to in the other thread?

If CRI isn't providing the abstraction that answers the exec stream, this is an easier problem.  Which is why I suggested we st

[2016-09-16 16:21] smarterclayton commented on #32869
Maybe we should try to sort this out in a hangout - want to make sure I understand what is truly being proposed.

[2016-09-16 16:21] reikani commented on #30617
@danieljy Yes I am seeing that behavior as well.

[2016-09-16 16:37] mrunalp commented on #32869
I think https://github.com/docker/docker/issues/25542 could be fixed by having a separate tty attached to stderr.

[2016-09-16 16:40] #32742 closed

[2016-09-16 16:42] hongchaodeng commented on #32770
Here's my understanding of the scenario:

What's happening?
- A lot of get requests are sent due to the prev-value change. Note that they are quorum get.
- Those get request are cancelled due to the wrong logic in tests. What's happening inside etcd is that etcd server is still processing them and trying to send them until grpc fails.
- These get requests could block further writes from being proc

[2016-09-16 16:47] yujuhong commented on #32869
That's (resizing) what started the whole discussion in #29579, so we haven't addressed that yet in the current implementation.

[2016-09-16 16:48] bprashanth commented on #32844
ok so i just allocated a /29 to the master kubelet and the container took off (just rewrote /etc/defaults/kubelet and service restart). Not sure I'll be able to get to this by midday, I suggest:
* Someone tests out the dropping ip theory with a unittest to hostlocal ipam in cni (@freehan ?)
* Someone verify that using a /29 does't cause other issues (I don't know if we just chose a /30 because we'

[2016-09-16 16:52] bprashanth commented on #32844
@kubernetes/goog-gke because fluent is responsible for scraping master logs and we'd be blind without it AND ssh

[2016-09-16 16:53] piosz commented on #32844
@bprashanth can I assign you as an owner of this issue?

[2016-09-16 16:59] lavalamp commented on #32829
Did you mean "incomprehensible"? I think controllerRef (if bug free) will
actually make things a lot easier to understand.

On Fri, Sep 16, 2016 at 4:45 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-09-16 17:04] gmarek commented on #32829
Yes, sorry - incomprehensible. To many things to write today...

I agree that it'll make things easier from now on. The problem is that there are things (like this kubectl rolling-upgrade) in our main repo, that made some assumptions about implementation of the system and/or includes some hacky workarounds that only few people know about. I guess this is a symptom of system getting mature...

[2016-09-16 17:06] lavalamp commented on #32829
Yeah. We always knew the kubectl rolling-update contained a very hacky
rename step, even when it first went in. It finally bit us...

On Fri, Sep 16, 2016 at 10:04 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-09-16 17:06] jingxu97 commented on #29324
Based on @justinsb 's testing, the fix (#32242) is working. It seems a little bit late to push it to release 1.4.0 now, but we will definitely try to make it in release 1.4.1 (expected early Oct). We will also work on cherry-pick the PR to release-1.3 as well. Please let me know if you have any questions/issues. Thanks!

[2016-09-16 17:08] freehan commented on #32844
Let me check the ipam

[2016-09-16 17:11] timstclair commented on #32837
I agree. It's not a graceful failure right now, but it's still a failure case we're dealing with. Since it doesn't affect the working functionality, I wouldn't consider it a blocker.

[2016-09-16 17:12] lavalamp opened #32878 "Cherrypick kubectl rolling-upgrade patch to 1.3 branch"
It'd be great to have it in a 1.3.8 if we make it.

[2016-09-16 17:13] sebgoa commented on #32796
correct, it should create a subset with the PodIP that match the service selector. 0 port would work (or even no port at all if endpoints could support that).

[2016-09-16 17:15] wojtek-t commented on #32571
It seems that this is still not fixed. I took a quick look into logs from the last run before the cluster teared down and:
- there are still a bunch of 404 errors from RCs coming from GC
- there are huge number of call coming from route-controller (there should be those calls)

I've sent https://github.com/kubernetes/kubernetes/pull/32879 to actually copy all the logs to make debugging easier.

@g

[2016-09-16 17:17] gmarek commented on #32571
I have only one day and I'll need to prioritize. It'd better if someone else could. Or I can offload some other things.

[2016-09-16 17:17] sebgoa opened #32880 "`port-forward` API call does not support websockets, SPDY is still default."
While the `exec` and `logs` calls have been updated to be able to use websockets, the `port-forward` call is still stuck on SPDY.

We should enable port-forward over websockets.

PR that made the original switch for exec and logs I believe is:
https://github.com/kubernetes/kubernetes/pull/13885

and the work to be done should be in `pkg/kubelet/server/remotecommand`

probably using `pk/util/wsstre

[2016-09-16 17:18] sebgoa commented on #32880
@fraenkel since you fixed the headless service issue so fast :) do you want to have a look at that one ?

That would be a big help.

[2016-09-16 17:28] freehan commented on #32844
There is a bug in host-local ipam where `/30` subnet does not work properly. @dcbw

Can we just switch to use `/29`?

[2016-09-16 17:34] jingxu97 opened #32881 "AWS volume pending for detach for 30 minutes due to busy status"
During testing a AWS cluster, found AWS volume once was pending for detach about 30 minutes. According to the log, the following happened,
- controller issues a detach operation
- after detach response returns, it periodically checks the status until it reaches "detached". However, in this test, the status is "busy" all the time.
- after reaching the timeout 30 mins, detach function returns error

[2016-09-16 17:39] MrHohn commented on #31929
Seems like it is an oversight and folks intended to include this Informer library too.

I will again work on this after this library is included.

[2016-09-16 17:48] nikhiljindal opened #32883 "kubectl describe should be resilient to errors in fetching related info"
Forked from https://github.com/kubernetes/kubernetes/pull/32823#r79096971

Actual:
kubectl describe requests a number of resources from server and fails if any one of those request fails.

Expectation:
It should atleast display the information that it was able to fetch

A particular instance of this problem (with namespaces): https://github.com/kubernetes/kubernetes/issues/32629

[2016-09-16 17:48] nikhiljindal commented on #32883
@kubernetes/kubectl

[2016-09-16 17:50] sebgoa commented on #32880
@ngtuna here is the issue

[2016-09-16 17:51] fraenkel commented on #32880
@sebgoa Will take a look.

[2016-09-16 17:56] fraenkel commented on #32796
Looking at RepackSubsets, it will drop out endpoints with no ports so going with the 0 port is what I did.

[2016-09-16 18:06] #32691 closed

[2016-09-16 18:06] #32693 closed

[2016-09-16 18:06] #32694 closed

[2016-09-16 18:06] caesarxuchao commented on #32567
There is a podgc, which will take care of "terminating pods not terminating". See its doc: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podgc/doc.go

[2016-09-16 18:06] #32696 closed

[2016-09-16 18:11] goltermann commented on #32704
@gmarek Did you get to this cherrypick yet?

[2016-09-16 18:12] goltermann commented on #32541
Not a useful issue, closing.

[2016-09-16 18:12] #32541 closed

[2016-09-16 18:13] goltermann commented on #32377
@fabioy can you help answer for @jlowdermilk ?

[2016-09-16 18:16] fabioy commented on #32377
I think we're ok to re-enable this.

[2016-09-16 18:22] goltermann commented on #32467
@pmorie, we pulled this into the v1.4 milestone - any updates on a fix or if this should block 1.4?

[2016-09-16 18:26] ixdy commented on #32685
Another instance in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17063/:

[code]

[2016-09-16 18:27] ixdy commented on #32857
dupe of #32685

[2016-09-16 18:27] #32857 closed

[2016-09-16 18:27] #20676 closed

[2016-09-16 18:32] freehan commented on #32844
I do not think it matters on master, since there is no network route, no kube-proxy. Just need a cidr to run non-hostnetwork pods.

[2016-09-16 18:43] wojtek-t commented on #32770
A lot of get requests are sent due to prev-value. Note that they are quorum get.

There is just a single etcd instance - so whether this is quorum or not doesn't matter here.

Those get request are cancelled due to the wrong logic in tests. What's happening inside etcd is that etcd server is still processing them and trying to send them until grpc fails.

Actually - it is a valid usecase that user

[2016-09-16 18:46] timstclair opened #32889 "No nodes created in cluster downgrade"
Downgrading cluster with 3 nodes from `v1.4.0-beta.5` to `1.3.7`, no nodes were created.

[code]

/cc @davidopp

[2016-09-16 18:49] hongchaodeng commented on #32770
Quorum get blocks future writes.

The problem is not the cancelling. See my previous comments on the test itself.
If we expect to test cancelling requests, then we should have another set of tests for that, and have different checking workflow.

[2016-09-16 18:49] timstclair commented on #32889
Instances were created with correct template, but failed to register.

[code]

I'll dig into the logs after a meeting.

[2016-09-16 18:54] davidopp commented on #32889
Thanks for the report. I think we should wait until we get the new beta, before doing any more manual uprgade/downgrade testing, because the current one moves between ContainerVM and GCI. It should be ready in an hour or so IIUC.

[2016-09-16 18:55] wojtek-t commented on #32571
OK - I know what is happening with this route-controller. The problem is that we are trying to update "NetworkAvailable" condition for every node every sync period (no matter if it's already set correctly or not). I will send out a PR to fix it.

[2016-09-16 19:05] wojtek-t commented on #32571
PR is out for review.

During the next run of enormous-cluster (when we should have all logs) we should verify once again if we still have those 404 errors.

[2016-09-16 19:12] mml commented on #28322
Another issue to be addressed: when it's OK to deviate from `if err != nil` to `if err == nil`.

Arose in https://reviewable.kubernetes.io/reviews/kubernetes/kubernetes/32850#-KRno13tK6QCbUbm3egs

[2016-09-16 19:31] streamnsight commented on #24829
@AlessioMartorelli
`kubectl delete secret <secret_ref> --namespace=kube-system`

[2016-09-16 19:39] lavalamp commented on #32770
I think the tests watching a "1" expect a new etcd instance each time. Otherwise they would be horribly broken.

[2016-09-16 19:55] jfrazelle commented on #32700
leads back to https://github.com/kubernetes/kubernetes/commit/d76fa8a1197a6329da3125c8bfb2202dfead1273

[2016-09-16 20:10] mml commented on #28707
Fixed in #29737

[2016-09-16 20:10] #28707 closed

[2016-09-16 20:12] mml commented on #32605
Yeah, it's a P2.  It would make a good noogler or hygiene type task.

[2016-09-16 20:14] gmarek commented on #32704
No, sorry - I didn't have time. You can safely ignore this failure.

[2016-09-16 20:14] mml commented on #32843
@lavalamp I think this is already in review (#32776).  Maybe dup this to #30629.

[2016-09-16 20:17] deads2k commented on #32377
Opened https://github.com/kubernetes/kubernetes/pull/32896 to re-enable the test.  I don't know of a way for me to trigger the gke tests on the pull before merging

[2016-09-16 20:18] yifan-gu commented on #32803
Not saying including features in versions. My thought is the version itself is sufficient to provide information on what features are supported or not (e.g. docker 1.1x support feature a, b, c, etc)

Once the runtime tells us the version, we can infer what features are supported or not, right?

[2016-09-16 20:21] timstclair commented on #32889
I modified the scripts to stick with GCI for both, since AppArmor doesn't make sense without it.

[2016-09-16 20:36] smarterclayton commented on #32567
Technically even this would not be enough to guarantee we are only running
one instance of a user's pods at a time (due to node controller or drain
deleting pods) so we should be careful if we think we *must* solve "only
one version at a time".  ReplicaSets are philosophically structured for
where you *may* have to deal with the implication of two versions at once.

That said, I think waiting for

[2016-09-16 20:41] bprashanth opened #32900 "Handle master node pod-cidr better"
Figure out the requirements and make it more dynamic, see discussion on: https://github.com/kubernetes/kubernetes/pull/32886, it's also caused issues before (https://github.com/kubernetes/kubernetes/pull/27202, https://github.com/kubernetes/kubernetes/pull/27016, https://github.com/kubernetes/kubernetes/issues/29756). I actually think the nodecontroller allocates a cidr to the master, we can proba

[2016-09-16 20:43] yujuhong commented on #32889
Is GCI supposed to work with 1.3.7?

[2016-09-16 20:43] quinton-hoole commented on #32341
Not failed in 8 days.  Assuming it's fixed or a one-off flake.  This issue will be auto-reopened if it reoccurs.

[2016-09-16 20:43] #32341 closed

[2016-09-16 20:46] smarterclayton commented on #32883
We do this in some places but not others.  We should definitely try to get this into kubectl conventions so that we apply it in reviews.

[2016-09-16 20:47] spxtr commented on #31884
Oh, Jeff is OOO for the next week. @Q-Lee mentioned you might be up to investigate a flake?

[2016-09-16 20:51] quinton-hoole commented on #30869
@colhom might be able to help

[2016-09-16 20:59] timstclair commented on #32889
Yeah, it's the [default](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L39) in 1.3.7.

[2016-09-16 21:02] timstclair commented on #32889
From kubelet log:
[code]

/cc @vishh @derekwaynecarr

[2016-09-16 21:05] colhom commented on #30869
The `federation-image.tag not found` error is usually symptomatic of `FEDERATION=true` not being set for the `build/release.sh` process, however that is actuated. @wattsteve I'm pretty sure `local-up` doesn't even use the `release.sh` script, so you'll definitely have to do this on your own.

https://github.com/kubernetes/kubernetes/blob/master/build/release.sh#L40-L46

If you want to "hack it", y

[2016-09-16 21:06] colhom commented on #30869
\cc @icoloma

[2016-09-16 21:11] bprashanth commented on #32708
Yes

[2016-09-16 21:11] bprashanth commented on #32708
And obviously anyone can delete resources through a ui so we should never block a release on one person doing it, not that it came to that yet :)

[2016-09-16 21:15] lavalamp commented on #32843
Oh nice. That issue seems a bit more general. I edited #32776 so it will mark this closed when it merges.

[2016-09-16 21:19] gopinatht commented on #29727
Is there a fix for this issue? It looks like we need the API server to also launch in HTTPS (443) port.

[2016-09-16 21:21] timothysc commented on #32770
I'm still digging as to "how" this happens... we fixed a bunch of issues.  It's clear the watch is timing out.. sometimes.

Every single test fires up it's own client/server pair, each of which is also properly cleaned... now.

[2016-09-16 21:29] timstclair commented on #32889
@Random-Liu pointed out that I was using the [1.3.7 _branch_](https://github.com/kubernetes/kubernetes/tree/1.3.7), which for some reason is different from the [v1.3.7 _tag_](https://github.com/kubernetes/kubernetes/tree/v1.3.7).  If I can't reproduce this on `v1.3.7` it may be a non-issue.

[2016-09-16 21:31] Random-Liu commented on #32803
@yifan-gu Versions of different runtime mean different things. if we just let runtime return its version, kubelet must have some runtime specific logic to figure out what docker 1.1x support, what rkt 1.0x support etc.

[2016-09-16 21:35] etotheipi opened #32905 "Some ports in a PetSet exposed, others not"
Kubernetes version 1.3.6, vagrant cluster with three nodes (+master).

I have setup a PetSet and headless service for a Zookeeper ensemble.  DNS resolution works (i.e. `zookeeper-1.zookeeper-cluster`), and the pets appear to be able to talk to each other over the first port listed (2181).  However, get `Connection Refused` on the second and third port listed (2888, 3888).  I minimally modified the

[2016-09-16 21:37] yifan-gu commented on #32803
Fair enough.

[2016-09-16 21:38] hongchaodeng commented on #32770
@timothysc Repro steps?

[2016-09-16 21:39] pwittrock commented on #32733
@quinton-hoole Told me that this is not something we should consider a release blocker and they can work around if need be

[2016-09-16 21:47] chrislovecnm commented on #29324
@jingxu97 so this is not going into 1.4?

[2016-09-16 21:50] quinton-hoole commented on #32733
More precisely @jianhuiz is currently looking into it.  The test passes sometimes (~20%).   We can't release Federated ReplicaSets until we've root caused the problem, but it does not hold up the general release of Kubernetes v1.4.

[2016-09-16 21:54] lavalamp opened #32908 "kubelet: Limit the number of names reported for an image"
Observed a master etcd OOMing mainly due to the size of the node objects. The node objects were each 130-180k. Most of the space was due to a few images having many, many different names.

[2016-09-16 21:59] k8s-merge-robot opened #32909 "kubernetes-e2e-gke-staging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6444/

Run so broken it didn't make JUnit output!

[2016-09-16 21:59] k8s-merge-robot opened #32910 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13681/

Run so broken it didn't make JUnit output!

[2016-09-16 22:00] Random-Liu commented on #32022
This is a known issue, @coufon has a very detailed summary about this https://github.com/kubernetes/kubernetes/issues/32833.

For short, currently, we run performance test on the same node with the other serial tests. However he proved that the resource usage and pod start latency are highly depending on when the test is running. If the test is the first one on the node, its resource usage and pod

[2016-09-16 22:00] jingxu97 commented on #29324
@chrislovecnm Sorry for the wrong information. The fix for the PR will actually go into the release 1.4.0 (it got cherry-picked to 1.4.0). Please let me know if you have any questions about it.

[2016-09-16 22:00] nhlfr commented on #29727
There is no fix yet. Forcing every user to launch API server on 443 port sounds like a bad idea - please remember that this ticket is about local-up-cluster, not any custom deployments of Kubernetes.

To fix that issue, we need to have a way to provide a custom kubeapi endpoint to skydns, instead of assuming 443 port. I'll try to take a look on that on Monday.

[2016-09-16 22:01] fraenkel commented on #32880
@sebgoa  I see where we need to switch port-forward to use websockets on the backend.
However, It seems port-forward, exec and attach still use SPDY on the front-end. Is this supposed to be fixed in this PR as well?

[2016-09-16 22:08] Random-Liu commented on #32022
In fact, it's even hard to set a proper limit. From the previous failure, we can see that the 50% pod start latency limit is 16s, but it could take 1m7s sometimes... I don't think we should change the limit to 1m or so, it's only starting 10 pods...

I'll check the 1m case to see if there is anything weird.

[2016-09-16 22:11] quinton-hoole opened #32912 "kubernetes-e2e-gce-1.3-1.4-upgrade-master fails with ./hack/e2e.go: no such file or directory"
14:34:52 2016/09/16 14:34:52 e2e.go:437: Running: UpgradeUp
*14:34:52 stat ./hack/e2e.go: no such file or directory*
14:34:52 2016/09/16 14:34:52 e2e.go:439: Step 'UpgradeUp' finished in 8.50509ms
14:34:52 2016/09/16 14:34:52 e2e.go:115: error starting cluster to upgrade: error running UpgradeUp: exit status 1

[2016-09-16 22:18] jingxu97 commented on #32702
@AdoHe Your analysis is right, a job is not created. The old version of the test uses " --restart=Never". On new version of cluster, with this flag, only pod will be created, not a job. @jfrazelle has a fix #32898 for it. Thank you for help debug on this.

[2016-09-16 22:24] chrislovecnm commented on #29324
@jingxu97 👍

[2016-09-16 22:29] quinton-hoole commented on #32912
This started failing between [8:00 AM](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/) and [2:30PM](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/6/) today.

I think @ixdy mentioned that there was a corruption of the build tarball in GCS this morning.  Issue # for t

[2016-09-16 22:33] quinton-hoole opened #32915 "e2e permafail on upgrade: [k8s.io] Deployment deployment should support rollback when there's replica set with no revision"
on [kubernetes-e2e-gce-1.3-1.4-upgrade-master](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/)

[k8s.io] Deployment deployment should support rollback when there's replica set with no revision

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:79 Expected <[]extensions.ReplicaSet | len:1,

[2016-09-16 22:35] eparis opened #32917 "cAdvisor in 1.4 does not work on RHEL"
see: https://github.com/google/cadvisor/issues/1461

This issue is purely for tracking purposes.

[2016-09-16 22:37] ixdy commented on #32912
https://github.com/kubernetes/test-infra/issues/599

[2016-09-16 22:38] quinton-hoole opened #32918 "e2e permafail on upgrade: [k8s.io] Pods should not start app containers if init containers fail on a RestartAlways pod"
on [kubernetes-e2e-gce-1.3-1.4-upgrade-master](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/)

[k8s.io] Pods should not start app containers if init containers fail on a RestartAlways pod

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pods.go:913 Expected <*errors.errorString | 0xc8200e20d0>: { s:

[2016-09-16 22:46] ixdy commented on #31331
I think before we start cross-building all of these images, we need to figure out a way to standardize and/or templatize the Makefiles so we don't keep duplicating the same logic everywhere.

[2016-09-16 22:47] pwittrock commented on #29324
@justinsb I am planning on cutting another beta tonight.  Would you manually QA that this is working on Monday and then close the issue if it is?

[2016-09-16 23:08] streamnsight commented on #24829
btw, you WILL have to delete the pod and recreate it so it gets the new secret

[2016-09-16 23:18] timothysc commented on #32770
when digging through latest output across the tests e.g.

```make test WHAT=pkg/registry/networkpolicy/etcd KUBE_TEST_ARGS=-v```

I'm always seeing a triplet of:

``` failed to prepare current and previous objects: context canceled```

Still digging.

[2016-09-16 23:22] quinton-hoole opened #32920 "e2e permafail on upgrade: [k8s.io] Pods should invoke init containers on a RestartAlways pod"
on [kubernetes-e2e-gce-1.3-1.4-upgrade-master](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/)

[k8s.io] Pods should invoke init containers on a RestartAlways pod

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pods.go:798 Expected : 0 to equal : 2

[2016-09-16 23:24] pwittrock commented on #29904
@luxas Looks like you made it in under the wire.  I will be cutting a beta tonight with your cherrypick in it.  On Monday, please manually verify the issue is resolved and then close this issue.

[2016-09-16 23:24] quinton-hoole opened #32922 "e2e permafail on upgrade: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster."
On [kubernetes-e2e-gce-1.3-1.4-upgrade-master](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/)

[k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster.

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/monitoring.go:43 Sep 16 12:34:13.053: Expe

[2016-09-16 23:26] bprashanth commented on #32746
oh, my bad, we can just create the initial deployment without the field, let the autoscaler take over, and keep applying it

[2016-09-16 23:26] #32746 closed

[2016-09-16 23:29] quinton-hoole opened #32923 "e2e permafail on upgrade: [k8s.io] Pods should invoke init containers on a RestartNever pod"
On [kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/)

[k8s.io] Pods should invoke init containers on a RestartNever pod

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pods.go:729 Expected : 0 to equal : 2

[2016-09-16 23:30] hongchaodeng commented on #32770
This is the problem caused by watching "1". It keeps getting previous events.
Meanwhile, watching "1" has some other latency issue. I had done some benchmark that does watch from 1 and latency could spike up to 5 second. I need more time to do more testing on this.

But the tests themselves are problematic. We should fix them first. If it doesn't fix the problem, we will try to reproduce it then.

[2016-09-16 23:31] fdangtran opened #32924 "Remove VIP from OpenStack LoadBalancer Ingress IPs"
I don't see the point of including the VIP of the OpenStack LB as part of the Status.LoadBalancerIngress IPs of a service along with the floating IP associated with it. The VIP can be accessed only within the OpenStack cluster not from outside the cluster:

[code]

An annoying side effect of this occurs when creating a federated service: a DNS record is created with both the public (Internet) IP a

[2016-09-16 23:31] quinton-hoole opened #32925 "e2e permafail on upgrade: [k8s.io] Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod"
On [kubernetes-e2e-gce-1.3-1.4-upgrade-master](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/)
[k8s.io] Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pods.go:1022 Expected <*errors.errorString | 0xc

[2016-09-16 23:36] quinton-hoole opened #32927 "e2e permafail on upgrade: [k8s.io] Deployment ... (3 tests fail)"
On [kubernetes-e2e-gce-1.3-1.4-upgrade-master](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-master/5/)

**[k8s.io] Deployment RollingUpdateDeployment should delete old pods and create new ones**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:58 Expected <[]extensions.ReplicaSet | len:1, cap:1

[2016-09-16 23:37] dchen1107 commented on #32917
Both @derekwaynecarr and I think this shouldn't be the blocker for 1.4 since it only impacts running cAdvisor or Kubelet in a container. I can be convinced though.

[2016-09-16 23:39] bprashanth opened #32928 "More ingress TLS modes"
Do: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/types.go#L695
most importantly, https to backend because the customer doesn't have clarity into where exactly a CP is terminating their connection, and obviously no one wants to terminate in some other continent and go over the internet via http because sometimes governments do weird things with http exit traffic.

[2016-09-16 23:40] hongchaodeng commented on #32770
@timothysc I was assuming your previous comment says that you have changed/fixed the tests and you are still reproducing the problem?

[2016-09-16 23:46] ymqytw commented on #18064
`kubectl run` and `kubectl expose` use generators before creating, but `kubectl create` doesn't.
A common way that should works for all these command would be:

Insert the following steps in beginning of each command

1. If the flag --edit is set, retrieve the file or url after flag -f.
2. Let the user edit it and save it as a temp file at local disk.
3. Validate the resource configuration.
4. If

[2016-09-16 23:50] lavalamp commented on #32770
Why is watching from "1" problematic? There shouldn't *be* any previous
events, since we start etcd fresh for every test.

On Fri, Sep 16, 2016 at 4:41 PM, Hongchao Deng <notifications@github.com>
wrote:

[2016-09-16 23:50] trizvanov commented on #29324
Any ETA on when this is going to be ported to 1.3 ?
Thanks!

On Sat, Sep 17, 2016 at 3:07 AM, Jing Xu <notifications@github.com> wrote:

[2016-09-16 23:58] hongchaodeng commented on #32770
The **tests** are problematic. Inside each test there are many test suites not getting a fresh etcd.

Watching "1" will force etcd to query internal database for past events, potentially causing some latency issue on compacted env.

With all these said, it's all theories. We still need to do more logging and testing around it to find out real cause.

[2016-09-17 00:00] jeremywadsack opened #32929 "GCE persited disk sometimes gets mounted read-only in a single container"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "read-only"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug repo

[2016-09-17 00:06] bprashanth commented on #32929
I think 1.3.7 was big for storage fixes, @kubernetes/sig-storage can confirm

[2016-09-17 00:09] matchstick commented on #29324
@fabioy @timstclair Bringing this to your attention as you are both the release czars for 1.3. This is worth including in 1.3.8. Possibly even cutting a 1.3.8.

[2016-09-17 00:10] matchstick commented on #32929
@saad-ali @jingxu97 Can you PTAL?

[2016-09-17 00:12] janetkuo commented on #32489
I tried and it works on HEAD

[2016-09-17 00:13] janetkuo commented on #32489
It might be easier to use `kubectl scale`, though

[2016-09-17 00:16] bprashanth commented on #32489
oh yeah scale works, i assumed OP was trying to replace some field other than replicas like image. Closing for now please reopen if still an issue.

[2016-09-17 00:16] #32489 closed

[2016-09-17 00:19] janetkuo commented on #32768
I'm able to reproduce this from HEAD

[2016-09-17 00:26] janetkuo commented on #32768
This is because `kubectl` only recognizes HPA version as `autoscaling/v1` but not `extentions/v1beta1`. A better workaround it to change the HPA config to be `autoscaling/v1`, for example:

**extensions/v1beta1**
[code]

**autoscaling/v1** (I commented out the diff to make it more obvious):
[code]

cc @kubernetes/kubectl @AdoHe

[2016-09-17 00:31] janetkuo commented on #32564
cc @david-mcmahon @eparis @thockin

[2016-09-17 00:32] lavalamp commented on #32706
Let's leave this open while the test is red.

[2016-09-17 00:40] bprashanth commented on #32750
@thockin says we can already avoid search path fun by appending "." to the hostname (with gethostbyname, unconfirmed cross dns resolver)

[2016-09-17 00:41] spxtr commented on #32909
Infra problem, fixed now.

[2016-09-17 00:41] #32909 closed

[2016-09-17 00:41] spxtr commented on #32910
Infra problem, fixed now.

[2016-09-17 00:41] #32910 closed

[2016-09-17 00:49] pwittrock commented on #32711
@dchen1107 What needs to be done to cross this off my list of things I am hunting down?  Does the referenced PR need to be cherrypicked?

[2016-09-17 01:09] k8s-merge-robot opened #32932 "kubernetes-e2e-gke-staging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6448/

Run so broken it didn't make JUnit output!

[2016-09-17 01:22] lchi commented on #12520
Still looking for a patch? I can create a new ticket to track it as well

[2016-09-17 01:54] AdoHe commented on #32883
sure, we should get it into kubectl conventions.

[2016-09-17 01:55] AdoHe commented on #32768
I will take a look.

[2016-09-17 01:58] AdoHe commented on #32702
that's great. Excellent job :)

[2016-09-17 02:28] yifan-gu opened #32935 "kubeGenericRuntimeManager.SyncPod() kills non-existing pod sandboxes before creating it"
I am trying to integrate the newly merged SyncPod(), seems we should [distinguish from pod changed from pod being created] (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L379)

Otherwise kubelet will try to kill a non-existing pod which causes runtime to return an error that fails the sync loop.

e.g.

[code]

/cc @feiskyer @yujuhong @Random-Li

[2016-09-17 02:48] #30562 closed

[2016-09-17 02:56] m1093782566 commented on #31331
Yes, I agree.

[2016-09-17 03:20] k8s-merge-robot opened #32936 "[k8s.io] Proxy version v1 should proxy logs on node with explicit kubelet port [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/8715/

Failed: [k8s.io] Proxy version v1 should proxy logs on node with explicit kubelet port [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-17 03:26] thockin commented on #32750
http://stackoverflow.com/questions/19480767/domain-names-with-dots-at-the-end

http://www.dns-sd.org/trailingdotsindomainnames.html

On Fri, Sep 16, 2016 at 5:41 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-17 03:41] thockin commented on #32564
I would love to not depend on such esoteric bash-isms.

[2016-09-17 04:08] AdoHe commented on #32768
@adam-sandor please give a try with @janetkuo approach, I will check this after I finish local environment rebuild.

[2016-09-17 05:33] k8s-merge-robot opened #32939 "[k8s.io] Secrets should be consumable from pods in volume with Mode set in the item [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/9411/

Failed: [k8s.io] Secrets should be consumable from pods in volume with Mode set in the item [Conformance] {E2eNode Suite}

[code]

[2016-09-17 06:18] roberthbailey commented on #32844
We used to [give the master a /24](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L60). When did it switch to a /30?

[2016-09-17 06:22] tristanz opened #32940 "Pod network failure on master node restart when using ClusterIP"
I have observed network failures when the master node restarts and pods use fixed ClusterIPs.

I have two services (e.g. web and db) on the master node that use ClusterIP (for various reasons).  When I restart the master node of my cluster (`shutdown -r now`), everything comes back except the the web container can no longer connect to the database container (ClusterIP 10.0.0.128, PodIP 10.47.44.3)

[2016-09-17 06:54] k8s-merge-robot opened #32941 "[k8s.io] [Feature:Example] [k8s.io] CassandraPetSet should create petset {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/15253/

Failed: [k8s.io] [Feature:Example] [k8s.io] CassandraPetSet should create petset {Kubernetes e2e suite}

[code]

[2016-09-17 07:07] dsymonds commented on #29790
`--log_dir` exists in glog for use in systems where the system setup happens before the program starts, and so the relevant directory for log files can be created. Not creating log files if the dir doesn't exist is working by design; if you run the binary on another system, or directly, you might not want the log files spamming everywhere.

[2016-09-17 07:45] k8s-merge-robot opened #32942 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2273/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #28220

[2016-09-17 07:57] sebgoa commented on #32880
Hi, I think we can do both with exec, no ? kubectl can probably stay as is and we allow for both spy and websockets server side ?

@smarterclayton probably knows best.

[2016-09-17 08:15] k8s-merge-robot opened #32943 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17098/

Run so broken it didn't make JUnit output!

[2016-09-17 08:26] feiskyer commented on #32935
@yifan-gu It seems the problem is caused by https://github.com/kubernetes/kubernetes/pull/32934, could you fix it and try again?

[2016-09-17 09:54] n1koo commented on #30987
Should it be deployed on the current images at the moment?

[code]

Ends up empty and `kubelet` logs are full of mount errors indicating missing package too

While I see its in https://github.com/kubernetes/kubernetes/blob/1.3.7/cluster/images/hyperkube/Dockerfile#L31

And the `v1.3.7` seems to be quite recently rebuilt

[code]

[2016-09-17 10:36] kargakis commented on #28322
I am a fan of err != nil being the very first check after an error is
returned but there are cases, for example the PR this was brought up, where
you may need different handling for different errors (nevermind that most
if not all of our controllers just log errors atm). Then i think it makes
sense to quickly handle the err == nil case and not add to the
special-cased error handling one level of i

[2016-09-17 11:04] #32629 closed

[2016-09-17 11:48] k8s-merge-robot opened #32945 "[k8s.io] EmptyDir wrapper volumes should not cause race condition when used for git_repo [Serial] [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2274/

Failed: [k8s.io] EmptyDir wrapper volumes should not cause race condition when used for git_repo [Serial] [Slow] {Kubernetes e2e suite}

[code]

[2016-09-17 12:46] j4b3r commented on #29894
Hello

i try build k8s on ubuntu 14.04 and see this error:
(i  try 3 times and see this error again)

++ [0917 14:39:03] Starting etcd instance
etcd --advertise-client-urls http://127.0.0.1:2379 --data-dir /tmp.k8s/tmp.5wfjkqDkwB --listen-client-urls http://127.0.0.1:2379 --debug > "/dev/null" 2>/dev/null
Waiting for etcd to come up.
+++ [0917 14:39:03] On try 1, etcd: :
{"action":"set","node":{"k

[2016-09-17 13:12] chrislovecnm commented on #24286
@bgrant0607 https://github.com/kubernetes/kubernetes/pull/30577 is merged, closing.

[2016-09-17 13:13] chrislovecnm commented on #27476
@lwander this should be addressed in https://github.com/kubernetes/kubernetes/pull/30577

[2016-09-17 13:14] chrislovecnm commented on #25889
@jayunit100 https://github.com/kubernetes/kubernetes/pull/30577 is mergered and this is addressed. Shall we close?

[2016-09-17 13:15] chrislovecnm commented on #24030
@pwittrock https://github.com/kubernetes/kubernetes/pull/30577 is in, shall we close?

[2016-09-17 13:16] chrislovecnm commented on #27075
https://github.com/kubernetes/kubernetes/pull/30577 Resolved this.

[2016-09-17 13:16] #27075 closed

[2016-09-17 13:21] chrislovecnm commented on #24290
https://github.com/kubernetes/kubernetes/pull/30577 Includes initial support

[2016-09-17 13:21] #24290 closed

[2016-09-17 13:22] chrislovecnm commented on #10931
@brgrant0607 I recommend closing this.

[2016-09-17 13:36] 249043822 opened #32946 "fields.Selector should support more operator like 'in'"
As fields.Selector only support '=' or '!=' now, it's limited, for example, i want to watch secrets with names "aa", "bb","cc" ...,  i could not archive because in the fields.selector, the field only has one value, if it could support 'in', we can do like inTerm{field:"metadata.name", value:"aa,bb,cc"}

[2016-09-17 13:56] liggitt commented on #32946
I'm not sure exposing complex field selectors are desired generally, given the current inability of storage to efficiently index on arbitrary fields. In the particular case (kubelet watching secrets for a pod), that also would result in one watch per pod, which would not scale well.

[2016-09-17 13:58] k8s-merge-robot opened #32947 "[k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/23539/

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]

Previous issues for this test: #31502

[2016-09-17 14:09] dims commented on #32377
@k8s-bot gke test this

[2016-09-17 14:10] dims commented on #32377
Trying something i spotted for kubemark - https://github.com/kubernetes/test-infra/blob/eaf966048d71f06653bb791315d636ecab2e78d7/ciongke/cmd/hook/main.go#L51

[2016-09-17 15:44] pwittrock commented on #32927
I think I know what these are about and believe Janet cherrypicked a fix into the 1.2 tests.  These were not failing in gke 1.3->1.4 (likely only by luck and very bizarre race symptoms), so the cherrypick test fixes might not have made it into the 1.3 branch.

[2016-09-17 15:45] pwittrock commented on #32915
@janetkuo Is this the same as the other issues you have seen?

[2016-09-17 16:21] pwittrock commented on #32705
@saad-ali On Monday, please update the 1.3 / 1.2 test expectations so that we can get rid of this noise in our test grid.  (I can't keep track of the dozen tests we have decided the failures were expected for, and we are going to run into this again when we do upgrade testing against 1.5)

https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-17 17:33] madhusudancs commented on #32942
Looks like a duplicate of #28220. Assigning it to @dchen1107 for further triaging.

[2016-09-17 17:50] pwittrock commented on #24030
SGTM

[2016-09-17 17:50] #24030 closed

[2016-09-17 18:19] Mistobaan commented on #30495
just got this error as well

[2016-09-17 18:37] thockin commented on #32803
I am not sure that is a compelling enough reason on its own.

On Sep 15, 2016 8:45 PM, "Pengfei Ni" <notifications@github.com> wrote:

[2016-09-17 18:38] justinsb commented on #31332
There's no theoretical reason why we should care (we just treat the IDs as strings), and everything seems to be fine so far in testing.

Please open issues if you find anything, but in general we should be fine.

[2016-09-17 18:38] #31332 closed

[2016-09-17 18:52] thockin commented on #32796
Yeah, without trawling code (thanks!) It is not clear if a zero port would
work.  If I were clever, I would have written the validation to disallow 0,
because no-port-needed logic came later, and then would have expanded it to
make port=0 mean no-port-needed.

Simply trying it might be the best course, but we should audit kubectl, APi
validation, API defaulting, subset repacking, endpoints control

[2016-09-17 19:19] k8s-merge-robot opened #32949 "[k8s.io] ConfigMap should be consumable from pods in volume with mappings [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/8748/

Failed: [k8s.io] ConfigMap should be consumable from pods in volume with mappings [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-17 19:45] jmhodges commented on #30617
Yes, I'm seeing build breaks as well.

Exporting the GOOGLE_APPLICATION_CREDENTIALS environment variable right before the `auth activate-service-account` is not working for me (still). I'm trying a few different things again.

@cjcullen it would be cool to hear what we're supposed to be doing now

[2016-09-17 19:50] k8s-merge-robot opened #32950 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2276/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27479 #27675 #28097

[2016-09-17 19:52] davidopp opened #32951 "Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance]"

[2016-09-17 19:54] davidopp opened #32952 "[k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance]"

[2016-09-17 19:56] davidopp opened #32953 "Downward API volume should update labels on modification [Conformance]"

[2016-09-17 19:57] davidopp opened #32954 "Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession [Slow]"

[2016-09-17 19:57] jmhodges commented on #30617
Okay, you have to make sure you only export GOOGLE_APPLICATION_CREDENTIALS _after_ you've done the `auth activate-service-account` and `container clusters get-credentials` calls but, obviously, before the `kubectl` commands.

Your changes will look something like this commit https://github.com/jmhodges/howsmyssl/pull/132/commits/186db52eacace79942250ef0c6d908b2ab0bd516

[2016-09-17 19:58] davidopp opened #32955 "Downward API volume should update annotations on modification [Conformance]"

[2016-09-17 19:59] davidopp opened #32956 "Kubelet [Serial] [Slow] regular resource usage tracking for 0 pods per node over 20m0s"

[2016-09-17 20:00] #32238 closed

[2016-09-17 20:00] davidopp opened #32957 "Deployment paused deployment should be ignored by the controller"

[2016-09-17 20:01] davidopp opened #32958 "Kubelet [Serial] [Slow] regular resource usage tracking for 35 pods per node over 20m0s"

[2016-09-17 20:05] wojtek-t commented on #32571
OK - so #32891 fixed the problem with route-controller.

However, there are still a huuuge amount of GETs of RCs that ends with 404 error.
@caesarxuchao - could you please take a look?

Here is the example run with it:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/152/?project=kubernetes-jenkins&organizationId=433637338589
You can take

[2016-09-17 20:06] davidopp commented on #32951
dup 29397

[2016-09-17 20:06] #32951 closed

[2016-09-17 20:07] caesarxuchao commented on #32571
Yes , I'll take a look next week.

On Saturday, September 17, 2016, Wojciech Tyczynski <
notifications@github.com> wrote:

--
Regards,
Chao Xu

[2016-09-17 20:09] davidopp commented on #32955
dup 29633

[2016-09-17 20:09] #32955 closed

[2016-09-17 20:10] davidopp commented on #32953
dup 29633

[2016-09-17 20:10] #32953 closed

[2016-09-17 20:11] davidopp commented on #32699
see also #31429

[2016-09-17 20:13] davidopp commented on #32956
is this the same as #31935?

[2016-09-17 20:14] wojtek-t commented on #32571
@caesarxuchao - thanks (obviously I didn't mean during weekend - I meant next week).

@gmarek - I'm pretty sure that those calls without user-agent come from leader election:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L186

[2016-09-17 20:15] davidopp commented on #32958
same as #32942?

[2016-09-17 20:18] davidopp opened #32959 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability"

[2016-09-17 20:25] wojtek-t commented on #32571
@caesarxuchao - actually, one hypothesis about the reason for it is this one:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/garbagecollector.go#L549
In large clusters, the size of 100 might be too small.

The hipothesis might be completely incorrect, but in any case, I would make it larger (you are stoing only UIDs there, so event having its size of 1000 shou

[2016-09-17 20:32] davidopp commented on #28411
dup #29780

[2016-09-17 20:32] #28411 closed

[2016-09-17 20:33] davidopp commented on #32957
dup #32927

[2016-09-17 20:34] davidopp commented on #32692
dup #32927

[2016-09-17 20:38] davidopp commented on #32920
dup #32711

[2016-09-17 20:38] #32920 closed

[2016-09-17 20:42] davidopp opened #32960 "[k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"

[2016-09-17 20:43] davidopp opened #32961 "[k8s.io] Upgrade [Feature:Upgrade] [k8s.io] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]"

[2016-09-17 20:51] davidopp opened #32962 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]"

[2016-09-17 20:53] davidopp opened #32963 "[k8s.io] SchedulerPredicates [Serial] validates that InterPod Affinity and AntiAffinity is respected if matching"

[2016-09-17 20:54] davidopp opened #32964 "[k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching with multiple Affinities"

[2016-09-17 20:55] davidopp opened #32965 "[k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching"

[2016-09-17 20:56] davidopp opened #32966 "[k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching 2"

[2016-09-17 20:58] davidopp opened #32967 "[k8s.io] SchedulerPredicates [Serial] validates that NodeAffinity is respected if not matching"

[2016-09-17 20:59] davidopp opened #32968 "[k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected"

[2016-09-17 20:59] #30284 closed

[2016-09-17 21:00] davidopp opened #32969 "[k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid podAffinity is rejected because of the LabelSelectorRequirement is invalid"

[2016-09-17 21:00] davidopp opened #32970 "[k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAffinity and PodAntiAffinity setting as a string in the annotation value work"

[2016-09-17 21:02] davidopp opened #32971 "[k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching"

[2016-09-17 21:03] davidopp opened #32972 "[k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching"

[2016-09-17 21:06] davidopp opened #32973 "[k8s.io] Deployment deployment should create new pods"

[2016-09-17 21:06] wojtek-t commented on #32571
OK - so I'm 90% sure my hypothesis is actually correct. When I'm looking into the code i think that what is happening is that:
- you are putting in "absentOwnerCache" all objects for which we observe "deletion"
- unless I'm not missing anything, this also means "pods"

So there are two things that we should do:
- put the object to "absentOwnerCache" only if it actually has some dependents
- increa

[2016-09-17 21:09] #32957 closed

[2016-09-17 21:15] davidopp opened #32974 "[k8s.io] Upgrade [Feature:Upgrade] [k8s.io] master upgrade should maintain responsive services [Feature:MasterUpgrade]"

[2016-09-17 21:16] smarterclayton commented on #32880
It would be best to fix port forward to support websockets first.  I don't think that we need to switch kubectl away from SPDY at this time.  Websocket is a little less efficient than our spdy protocol last I checked and head of line blocking may be relevant (hard to say without a lot more testing), so we'd want a really concrete reason.

[2016-09-17 22:16] fraenkel commented on #32880
@sebgoa It turns out putting it in remotecommand won't work or do well. It is best to lift code over to the portforward package and re-implement. port forwarding has a different request pattern and uses different streams. I will give it a go and then we can discuss options.

[2016-09-17 23:21] quinton-hoole commented on #32927
Isn't there a problem with the assumption that all users will first upgrade
their clusters to the most recent v1.3.x (that includes e.g. that
cherrypick) before being able to successfully upgrade to v1.4.0 ?

Besides that, do we know that the upgrade from 1.3.w to 1.3.x (for any w <
x) will not display the same failure mode?

Mostly I'm trying to figure out how useful it is in practice to patch 1.

[2016-09-18 00:27] AdoHe commented on #32952
@davidopp could you please paste some test/log links here? That would be helpful for other people to debug.

[2016-09-18 01:14] choldrim commented on #26038
@stevesloka thanks hints, but I can found `/boot/cmdline.txt` file
perhaps I am using grub2 on debian like system, and I found the solution for me on this page [https://wiki.debian.org/LXC](https://wiki.debian.org/LXC)

for this issue, if someone using the debian like system, just add `GRUB_CMDLINE_LINUX="cgroup_enable=cpuset"` in `/etc/default/grub` and running `sudo update-grub2`

[2016-09-18 01:15] 249043822 commented on #32946
Is  one watch per pod necessary?  could we merge the secrets bounded to the current pods listed first and use only one watch? still if the secrets being watched don't changed(has no add or remove referenced by pods), the watch could being kept continue using the current field value set

[2016-09-18 01:46] davidopp commented on #32702
https://k8s-testgrid.appspot.com/google-kubectl-skew#gke-1.2-1.3-gci-kubectl-skew
https://k8s-testgrid.appspot.com/google-kubectl-skew#gke-1.2-1.3-cvm-kubectl-skew

[2016-09-18 01:47] davidopp commented on #32700
https://k8s-testgrid.appspot.com/google-kubectl-skew#gke-1.2-1.3-gci-kubectl-skew
https://k8s-testgrid.appspot.com/google-kubectl-skew#gke-1.2-1.3-cvm-kubectl-skew

[2016-09-18 01:47] davidopp commented on #32699
https://k8s-testgrid.appspot.com/google-kubectl-skew#gke-1.2-1.3-gci-kubectl-skew
https://k8s-testgrid.appspot.com/google-kubectl-skew#gke-1.2-1.3-cvm-kubectl-skew

[2016-09-18 01:50] davidopp commented on #32705
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-18 01:50] davidopp commented on #32704
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-18 01:50] davidopp commented on #32958
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-18 01:54] davidopp commented on #32927
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-18 01:58] jfrazelle commented on #32700
hmm the first 2 ran after it was merged but not the bottom ones I don't believe but looking into it

[2016-09-18 02:00] davidopp commented on #32918
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-cvm-1.4-upgrade-cluster
https://k8s-testgrid.

[2016-09-18 02:00] davidopp commented on #32925
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-cvm-1.4-upgrade-cluster
https://k8s-testgrid.

[2016-09-18 02:00] davidopp commented on #32923
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-cvm-1.4-upgrade-cluster
https://k8s-testgrid.

[2016-09-18 02:00] davidopp commented on #32711
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-cvm-1.4-upgrade-cluster
https://k8s-testgrid.

[2016-09-18 02:08] davidopp commented on #29831
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-18 02:08] davidopp commented on #32124
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-18 02:08] davidopp commented on #32954
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-18 02:09] jfrazelle commented on #32700
so this one is fixed here: https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster is there an image or something that needs to be updated?

[2016-09-18 02:09] davidopp commented on #32942
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster

[2016-09-18 02:10] davidopp commented on #32214
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster

[2016-09-18 02:10] davidopp commented on #32959
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster

[2016-09-18 02:10] davidopp commented on #32956
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster

[2016-09-18 02:10] davidopp commented on #29633
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster

[2016-09-18 02:17] davidopp commented on #29780
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:18] davidopp commented on #32915
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:18] davidopp commented on #28339
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:18] davidopp commented on #32973
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:18] davidopp commented on #31075
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:18] davidopp commented on #32961
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:18] davidopp commented on #32960
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:19] davidopp commented on #32922
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:19] davidopp commented on #29197
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:22] jfrazelle commented on #32700
how are the google-upgrade tests different than the release-1.4 blocking?

[2016-09-18 02:26] davidopp commented on #29629
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 02:30] davidopp commented on #32974
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:30] davidopp commented on #31935
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:31] davidopp commented on #32972
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:31] davidopp commented on #32971
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:31] davidopp commented on #28071
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:31] davidopp commented on #32970
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:31] davidopp commented on #32969
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:31] davidopp commented on #32968
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:31] davidopp commented on #32967
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:31] davidopp commented on #32966
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:32] davidopp commented on #32965
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:32] davidopp commented on #32964
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:32] davidopp commented on #32963
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:32] davidopp commented on #31918
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:32] davidopp commented on #32962
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:32] davidopp commented on #27324
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 02:37] davidopp commented on #32952
This is passing now, so closing.

[2016-09-18 02:37] #32952 closed

[2016-09-18 03:01] #32843 closed

[2016-09-18 03:06] bprashanth commented on #32124
Only the last link has failures, right? is that going from gci to cvm only on master?

[2016-09-18 03:43] k8s-merge-robot opened #32980 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10871/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075

[2016-09-18 03:43] k8s-merge-robot opened #32981 "[k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13689/

Failed: [k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27703

[2016-09-18 05:09] wojtek-t commented on #32571
@caesarxuchao - I've created https://github.com/kubernetes/kubernetes/pull/32983 for it.

[2016-09-18 05:12] davidopp commented on #32124
Now it is only failing there. Yes, what you said. (According to the [Jenkins description](http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCI/job/kubernetes-e2e-gke-gci-1.3-container_vm-1.4-upgrade-master/) "Deploys a cluster at v1.3 at gci, upgrades the master to v1.4 at container_vm, and runs the v1.3 tests.")

[2016-09-18 05:16] davidopp commented on #27318
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-gci-1.4-upgrade-cluster-new

[2016-09-18 05:19] davidopp commented on #30689
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-cvm-1.4-upgrade-cluster-new

[2016-09-18 05:22] davidopp commented on #27957
failed in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-gci-1.4-upgrade-master

[2016-09-18 05:23] davidopp commented on #29514
failed in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-master

[2016-09-18 05:39] davidopp opened #32984 "[k8s.io] DNS should provide DNS for services [Conformance]"
Failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 05:41] davidopp commented on #32694
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 05:54] davidopp commented on #26172
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 05:56] davidopp commented on #32512
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 05:57] davidopp commented on #31591
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 05:58] davidopp commented on #32642
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 05:59] davidopp commented on #31592
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 06:01] davidopp commented on #28768
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 06:02] davidopp commented on #32950
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 06:15] DImuthuUpe opened #32985 "Deleting deployment does not delete pods associated with it"
**Kubernetes version** (use `kubectl version`): v1.2.6

**Environment**:
- **Cloud provider or hardware configuration**: Virtual Machine with 4GB physical memory and 2 cpu cores
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04
- **Kernel** (e.g. `uname -a`): Linux ubuntu-m1 3.13.0-95-generic #142-Ubuntu SMP Fri Aug 12 17:00:09 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Manual (

[2016-09-18 06:46] DImuthuUpe opened #32987 "Adding an already deleted node port to service shows already acquired error"
**Kubernetes version** (use `kubectl version`): v1.2.6

**Environment**:
- **Cloud provider or hardware configuration**: Virtual Machine with 4GB physical memory and 2 cpu cores
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04
- **Kernel** (e.g. `uname -a`): Linux ubuntu-m1 3.13.0-95-generic #142-Ubuntu SMP Fri Aug 12 17:00:09 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Manual (

[2016-09-18 06:54] caesarxuchao opened #32988 "Data race: TestSecretController"
FAIL    k8s.io/kubernetes/federation/pkg/federation-controller/secret   3.195s

[code]

[log](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/32983/kubernetes-pull-test-unit-integration/45399?pli=1)

[2016-09-18 08:25] krmayankk commented on #29838
@AdoHe ping, let me know what you think

[2016-09-18 08:35] davidopp commented on #32958
dup #32703

[2016-09-18 08:35] #32958 closed

[2016-09-18 08:35] davidopp commented on #32703
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-cvm-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster
https://k8s-testgrid.

[2016-09-18 08:36] davidopp commented on #32956
dup #19647

[2016-09-18 08:37] davidopp commented on #19647
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-gci-1.4-upgrade-cluster

[2016-09-18 08:40] davidopp commented on #32959
dup #30519

[2016-09-18 08:40] davidopp commented on #30519
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 08:41] davidopp commented on #32954
dup #28427

[2016-09-18 08:41] #32954 closed

[2016-09-18 08:42] davidopp commented on #28427
failing in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-cluster

[2016-09-18 08:44] #32956 closed

[2016-09-18 08:53] LihuaWu opened #32991 "when using client-go library to communicate with master, client list pods with watch hang forever"
Problem: the following codes just hang and never returns

[code]

while codes like:

[code]

work as expected.
IMHO,  the first use is kind of misleading.

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (

[2016-09-18 08:55] davidopp commented on #32950
dup #30571

[2016-09-18 08:55] #32950 closed

[2016-09-18 08:56] davidopp commented on #30571
failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-cvm-1.3-gci-1.4-upgrade-master

[2016-09-18 08:56] davidopp commented on #32974
dup #32715

[2016-09-18 08:56] #32974 closed

[2016-09-18 08:57] davidopp commented on #32715
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-gci-1.4-upgrade-master

[2016-09-18 08:57] davidopp commented on #32918
dup #32714

[2016-09-18 08:57] #32918 closed

[2016-09-18 08:58] davidopp commented on #32925
dup #32713

[2016-09-18 08:58] #32925 closed

[2016-09-18 08:59] davidopp commented on #32923
dup #32712

[2016-09-18 08:59] #32923 closed

[2016-09-18 09:00] davidopp commented on #32922
dup #31626

[2016-09-18 09:00] #32922 closed

[2016-09-18 09:01] davidopp commented on #32942
dup #32703

[2016-09-18 09:01] davidopp commented on #32942
sorry, not a dup

[2016-09-18 09:03] davidopp commented on #32915
dup #32697

[2016-09-18 09:03] #32915 closed

[2016-09-18 09:03] davidopp commented on #32697
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

[2016-09-18 09:04] davidopp commented on #32973
dup #32695

[2016-09-18 09:04] #32973 closed

[2016-09-18 09:04] davidopp commented on #32695
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-master

[2016-09-18 09:04] davidopp commented on #32695
(title of bug says GKE, though above is GCE)

[2016-09-18 11:30] kevin-wangzefeng commented on #29177
/cc @kubernetes/huawei

[2016-09-18 12:40] kevin-wangzefeng commented on #4672
/cc @kubernetes/huawei

[2016-09-18 12:56] Dmitry1987 commented on #28339
@davidopp so this fix will be released in 1.4? :+1:

[2016-09-18 14:09] jsravn opened #32992 "kube-dns performs poorly when upstream dns server is out of service"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## kube-dns, resolv.conf, timeout, skydns

**Is this a BUG REPORT or FEATURE REQUEST?

[2016-09-18 14:20] m1093782566 opened #32993 "[Pet Set] Internal Replicas type should be int32"
I find the type of `Replicas` in apps/types.go is `int` while the type of `Replicas`(https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/types.go#L88) in `v1alpha1/types.go` is `int32`(https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/v1alpha1/types.go#L86)

[2016-09-18 14:31] k8s-merge-robot opened #32994 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13685/

Run so broken it didn't make JUnit output!

[2016-09-18 14:59] stp-ip commented on #31929
Coredns has its first release available (https://github.com/miekg/coredns/releases) might be a good time to check it out.

[2016-09-18 15:40] zhouhaibing089 commented on #32924
Generally, the VIP on the load balancer is accessible outside of the cluster, that why it called a virtual IP.

Curious about how floating ip showed up, and I do not think there is floating ip things in cloud provider?

[2016-09-18 16:03] zhouhaibing089 commented on #32794
I can prove that the service ip would get recreated, but not sure it would happen infinitely. according to my last experience, it would not while I am using the LBaaS V1 api, In fact, I do not think that the service ip should be recreated, either.

[2016-09-18 16:12] kargakis commented on #18064
@ymqytw validation happens during creation so all you really need is 1. and 2.

Also note that create is not using generators but all create subcommands do and that's where I think --edit would be more valuable.

[2016-09-18 16:37] holms commented on #18964
Maybe they can be passed from file? I mean s'rsly.. you need to lits 20 variables by hand?? I've specified them in yaml file already, but kubectl-run have no way to specify it.. without this, deployment is totally impossible when you need to run migrations first!

[2016-09-18 16:55] jonathan-kosgei opened #32996 "Glusterfs doesn't create subPath"
I have 3 containers in a pod with the following mount points
[code]
[code]
[code]

And the following pv & pvc :
[code]

[code]

The `{{app_id}}/git` subpath does not get created . I've reproduced this a few times and the only way I've been able to get `<>/git` to be created is by not mounting the second `/app` mount. If it's relevant the pod is in it's own namespace.

Oddly the following works, cr

[2016-09-18 18:57] quinton-hoole opened #32997 "federation e2e tests failing consistently with gce/util.sh: line 1192: local: `replica-pd=jenkins-us-central1-b-master-pd': not a valid identifier"
./hack/e2e-internal/.../cluster/gce/util.sh: line 1192: local: `replica-pd=jenkins-us-central1-b-master-pd': not a valid identifier

@colhom @madhusudancs FYI - this looks related to your recent work?  I don't see any obvious PR to blame, but I seem to remember you guys touching this part of the code recently?

BTW, I deleted a bunch of leaked resources in the relevant test project on Friday (9/16

[2016-09-18 18:59] kargakis commented on #28339
@Dmitry1987

This is not an issue and unrelated to the current test flake issue. If you want to prune older replica sets, use revisionHistoryLimit=0 but note that you won't be able to rollback to an older revision if you ever need to.

[2016-09-18 19:12] kargakis commented on #32697
You actually need 4c56b8c on top of 3652237

[2016-09-18 19:14] jonathan-kosgei commented on #32996
palm .. this worked
[code]
Odd though, that the dummy yaml above worked.

[2016-09-18 19:14] #32996 closed

[2016-09-18 19:54] davidopp commented on #28081
failed in
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-gci-1.4-upgrade-cluster

[2016-09-18 19:56] davidopp commented on #32962
dup #32505

[2016-09-18 19:56] #32962 closed

[2016-09-18 19:57] davidopp commented on #32505
failing in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master
https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-gci-1.2-cvm-1.4-upgrade-master

[2016-09-18 20:04] davidopp commented on #31402
Failed in
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-gci-1.4-upgrade-master

[2016-09-18 20:05] kargakis commented on #32725
cc: @kubernetes/kubectl

[2016-09-18 20:24] kargakis commented on #32567
@soltysh @caesarxuchao the thing that will take care of cleaning up terminating pods, be it the kubelet, or the gc, or X, doesn't matter in this case. I want the API to let me know when {kubelet, gc, X} did its job and cleaned up all terminating pods for a given controller.

[2016-09-18 20:25] kargakis commented on #32567
Btw, https://github.com/kubernetes/kubernetes/issues/32682 ...

[2016-09-18 20:30] gerred opened #32999 "MacOS Sierra Support: Build gcloud component and kubectl distribution with Go 1.7.x"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Apple MacBook Pro
- **OS** (e.g. from /etc/os-release): MacOS Sierra
- **Kernel** (e.g. `uname -a`): Darwin 16.0.0
- **Install tools**:  `gcloud components install kubectl`, `brew install kubernetes-cli`, or download from release
- **Others**:
Tested on both a GKE cluster and mi

[2016-09-18 20:48] bprashanth opened #33000 "Include timestamps in gci kern.log"
I'm used to at least seeing the weird timestamps dmesg gives when one doesn't use the `-T`, but these kern logs don't even show that: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.4-upgrade-master/10/artifacts/gke-jenkins-e2e-default-pool-44c9858e-yly1/

I this this is a recent regression, I've definitely used kern.log to debug i

[2016-09-18 21:14] bprashanth commented on #32715
Fishy

Artifacts https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.4-upgrade-master/23/artifacts/gke-jenkins-e2e-default-pool-be9fee4d-xtea/

Build https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.4-upgrade-master/23/build-log.txt

Node name `gke-jenkins-e2e-default-pool-be9fee4d-xtea`
Pod name `service-

[2016-09-18 21:24] kargakis opened #33002 "CSR controller has no unit tests"
@gtank @mikedanese

[2016-09-18 22:33] bprashanth opened #33005 "Upgrade before running any tests"
From the logs it looks like our upgrade tests are first coming up with a 1.3 cluster, running the first test, upgrading to 1.4 master, running all other tests.

Eg picked a random green run from:
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-cvm-1.4-upgrade-master

In the logs:

[code]

Then we wait for addons followed by the first test

[code]

Which runs the actual test, an

[2016-09-18 22:37] bprashanth commented on #32715
The logs seem to indicate that this is always (often?) the first test to run, because of which its the only test that suffers an upgrade event in between the test (i.e runs on 1.3, upgrade, verify on 1.4). Filed: https://github.com/kubernetes/kubernetes/issues/33005. Of course it should still work in the given scenario.

[2016-09-18 22:55] davidopp commented on #32715
I don't understand - I thought the way these tests worked was that they did an upgrade then ran the e2es? So it runs + verifies on the same version?

[2016-09-18 23:13] bprashanth commented on #32715
it looked like that was happening *during* the first test, or at least, I see `Server Version 1.3.8` just before the test, then the test runs, I see "Waiting for pods blah" then upgrade, then verify, and all other tests. Eg:
[code]

[2016-09-18 23:18] smarterclayton commented on #24240
Figured what this is (and it actually causes problems for OpenAPI as well as Swagger 1.0).

First bug is that we pass *versioned.Event instead of versioned.Event in api_installer - opening a PR to fix.  Second bug is that go-restful shouldn't act braindead on getting a pointer - will spawn something upstream.

We *probably* want to backport this to 1.4 if we expect end users to generate openapi fr

[2016-09-18 23:48] smarterclayton commented on #24240
Fixed in https://github.com/kubernetes/kubernetes/issues/24240

[2016-09-19 00:08] smarterclayton commented on #25460
I'd like to move this along in 1.5 slightly, probably by focusing on the minimal thing that would allow required / optional to be correct (not just omitempty) and allow us to validate everything around that.  Now that @mbohlool has generated openapi we can rely on struct tags more.

[2016-09-19 00:52] m1093782566 commented on #32993
Use go l.6 instead of 1.7 can get rid of `type checker error` mentioned before.

[2016-09-19 02:53] #31211 closed

[2016-09-19 02:54] andrewmclagan commented on #30495
also seeing this as of latest

[2016-09-19 03:08] bprashanth commented on #32993
I don't know why you're hitting issues but petset replicas should be int32 in internal types (this is a bug)

[2016-09-19 03:26] surajssd commented on #12526
@resouer now this problem can be solved using `init-containers`? Also with `init-containers` we don't need an extra container always running which only copies data around, and the sequence is also maintained as you asked!

And example pod def might look like:

[code]

[2016-09-19 03:30] m1093782566 commented on #32993
@bprashanth

Could you please explain why?

Can we fix it? Or could you please tell me how to fix it? I am still stuck in this issue.

My question is can we change the type declaration of `replicas`  both in `apps/types.go` and `v1alpha1/types.go` to int32(or int)? It make new beginner(like me) so confused.

BTW, I find some other places use the same `int32` both in `types.go` and `{group/version}

[2016-09-19 03:57] davidopp commented on #32715
Maybe you can take a look at
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-upgrade.yaml
and
jenkins/e2e-image/e2e-runner.sh
and see if this is the expected behavior.

My understanding is that the upgrade is supposed to finish before any of the tests are run. Maybe we are not properly waiting for the upgrade to finish, which would be bad.

[2016-09-19 04:02] k8s-merge-robot opened #33008 "[k8s.io] Pods should get a host IP [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13693/

Failed: [k8s.io] Pods should get a host IP [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-19 04:06] bprashanth commented on #32993
regardless it should obviously build so that is probably something wrong in your tree/environment (or the submit queue and e2e would be red)

[2016-09-19 04:18] bprashanth commented on #32993
sometimes an int is 4 bytes and sometimes its 8 but an int32 is always 32bits

[2016-09-19 05:17] humblec opened #33009 "GlusterFS dynamic provisioner doc is incomplete in 1.4 tree."
**Environment**:
- **Cloud provider or hardware configuration**: GlusterFS

GlusterFS dynamic provisioner doc does not carry information ( examples/experimental/persistent-volume-provisioning/README.md ) about e2e configuration for getting it worked. There is no mention on how we can configure `heketi` and other details about the storage class parameters which provisioner takes.

[2016-09-19 05:25] humblec commented on #33009
PR #https://github.com/kubernetes/kubernetes/pull/31854

[2016-09-19 06:28] mbohlool commented on #25460
I have a proof of concept for a validation framework #32824. If you think we can add something to that please comment there.

[2016-09-19 06:41] roberthbailey commented on #32900
If the master node is registered to the cluster, it shouldn't be treated any different from a regular node (modulo taints / unschedulability).

[2016-09-19 06:44] anioool commented on #31858
Hi @justinsb,

Any news in this topic?

[2016-09-19 06:48] opskumu commented on #21613
Version 1.2.4, with --masquerade-all issue was resolved.

[2016-09-19 07:38] mqliang commented on #13776
[code]
works for terms supporting zmodem/ymodem/xmodem , such as xshell, and iterm2(with zmodem integrating, see https://github.com/aurora/iterm2-zmodem). If we want send/receive file    using web term, it does't work, since web term does not support zmodem/ymodem/xmodem

[2016-09-19 08:26] kargakis commented on #32692
All of these failures are related to the cleanup phase of the test - pods are terminating but never actually removed. We should probably use a zero grace period for pods.

[2016-09-19 08:51] jeroenvisser101 commented on #32999
Can confirm, if it helps, I've collected some of these errors [here](https://gist.github.com/jeroenvisser101/5822d7c22ac75eaf126a3c8d64c2de77)

[2016-09-19 09:09] suonto commented on #32794
I have 2 possible approaches to this:
1) Caller needs to stop feeding obsolete host list in retry attempts
2) Skip member creation for hosts upon failure. Hosts will be immediately updated afterwards anyway.

[2016-09-19 09:27] sttts commented on #32869
Next to stdout, stderr and resizing, don't forget the error channel sending back a command return code. Something around the lines of:

[code]

[2016-09-19 09:41] n1tr0g commented on #26670
We hit the same limit. As it is now with the default AWS limitations you are able to to have only 50 services where you need to use ELB.

Our workaround will be to increase the max. inbound rules to 100, but this can be only used if you do not have other EC2 instances with more than 2 SG per network interface.

Hopefully there will be a fix before we hit ~100 ELB services.

[2016-09-19 09:42] arashbina commented on #6284
I like to contribute and looking for a task to start. Not sure if @krmayankk is working on this but if no one has taken this on I can work on it.

[2016-09-19 09:50] nhlfr commented on #30294
I still think we should close this ticket. If we will encounter some concrete issue with CRI, then we should create a bug about it.

For now, everything is fine with CRI and we started development of the runtime we discussed here as an external project: https://github.com/Mirantis/virtlet

[2016-09-19 09:50] jsravn commented on #32992
I think I'm going to just run dnsmasq locally on each node to handle parallel resolving. It'd be nice if kube-dns handled this better. Perhaps some documentation of this behaviour would be useful, since it took me a while to figure out what was going on.

[2016-09-19 10:07] zreigz commented on #32432
@pmorie @liggitt Can someone explain me why when I add some new filed (string or map) to ConfigMap structure it is not stored in etcd. Did I miss something ?

[2016-09-19 10:20] gmarek commented on #32704
Yes, yes, I know. It's just a cherry pick thing, that I didn't have time to do. How important this is?

[2016-09-19 10:22] dims commented on #31015
@timstclair @dchen1107 - will we cut 1.4 with a final release of cadvisor v0.24? Does lowering the priority mean that we may end up cutting 1.4 before cadvisor release happens?

[2016-09-19 10:53] xiangpengzhao commented on #29790
Thanks David ! @dsymonds

[2016-09-19 11:08] m1093782566 commented on #17468
/cc

[2016-09-19 11:20] ash2k commented on #1704
https://github.com/ash2k/smith
Here is a prototype of a similar idea (if I understand this issue correctly). The idea came to me a while ago and then I found this and other similar issues. Hopefully it may be useful to someone for inspiration, etc. Any feedback is appreciated.

[2016-09-19 11:52] m1093782566 commented on #32993
@bprashanth

Yes, I missed something in `apps/v1apha1/types.go` and my issue has nothing to do with petset replicas type.

Yes, I agree with you. I prefer to change replicas type from int to int32 as well.

[2016-09-19 12:12] lucab commented on #32869
After a direct chat with @smarterclayton, I see there are different usecases for keeping the streams separated and as such rkt will try to provide them separately to the kubelet.

I'm however still not completely sure about the relationship between streaming stdin/stdout/stderr and the TTY. I'm currently inclined to have different attach modes depending on whether the app is running with a TTY (in

[2016-09-19 12:18] rzarzynski opened #33013 "storage: in the future RBD images might become unaccessible in read-write mode"
The storage plugin for Ceph RBD employs _advisory lock_ mechanism to provide basic fencing for RBD images. Lock management is performed with the CLI `rbd` command (`rbd lock add`, `rbd lock remove` and `rbd lock list`).

Unfortunately, _advisory locks_ use the same infrastructure which is necessary to handle images with `exclusive-lock` flag set. That's the default for new RBD images in Jewel. Act

[2016-09-19 13:23] dshulyak commented on #29633
Naive fix would be to increase podLogTimeout in downstream api volume tests from 45s to, atleast as high as default reconciler loopSleepDuration, 100s. I think it will reduce frequency of flakes.

But what would be the good way to fix this? Refactor reconciler loop to work based on Watches to api-server? Marking https://github.com/kubernetes/kubernetes/issues/30189 as related

[2016-09-19 13:31] piosz commented on #20760
@crassirostris the plan is to:
- [ ] implement e2e test for GCL
- [ ] verify which tests relies on Elasticsearch and mark them as `[Feature:Elasticsearch]`
- [ ] change the default to `gcp`

cc @fgrzadkowski

[2016-09-19 13:38] jszczepkowski commented on #30519
There were 5 HPA test failures in one run, the reason is discussed in #30571.

[2016-09-19 13:38] #30519 closed

[2016-09-19 13:44] jayunit100 commented on #32770
`k8s.io/kubernetes/pkg/registry/storageclass/etcd TestWatch 32s`  for searchability

[2016-09-19 13:51] jszczepkowski commented on #30571
There are 5 test failures. Reason is always the same: resource consumer is not consuming any CPU and number of replicas immediately falls to 1. Resource consumer controller is requesting the proper amount:
[code]
However, requests are not reaching consumer pods.

It seems that problem lies with reaching consumer pod using service, because services are badly broken in the same this test run: see #3

[2016-09-19 13:51] jszczepkowski commented on #32984
CC @jszczepkowski

[2016-09-19 13:54] dshulyak commented on #32697
@janetkuo why https://github.com/kubernetes/kubernetes/pull/32825 is only for 1.2? I thought thats just a bug in cleanup function

[2016-09-19 14:04] rootfs commented on #32929
I wonder if read-only is the result of multi-attach, while the cause of multi-attach could be similar to #29324

@kubernetes/rh-storage

[2016-09-19 14:06] #28912 closed

[2016-09-19 14:26] justinsb opened #33015 "AWS VPC routing doesn't remove black-hole routes"
On AWS, with VPC routing, it doesn't appear that old routes are removed.  Eventually most CIDRs are reused, whereupon the routes will be replace.

But if you terminate an instance and the replacement comes up before the one is removed, the old PodCIDR route will remain in black-hole state.

[2016-09-19 14:36] kevin-wangzefeng commented on #27957
@davidopp can you find someone else to take a look? I'm not familiar with this test.

[2016-09-19 14:39] dmytroleonenko commented on #15929
Seeing it in a brand new cluster. 1.3.7 coreos

[2016-09-19 14:39] a-palchikov opened #33019 "kubectl fails to connect to apiserver inside a pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubectl,defaultconfig
Merge that possibly introduced the error: https://github.com/ku

[2016-09-19 14:44] timothysc commented on #32770
I see what @hongchaodeng is saying now re: rewatch @ 1.  The tests areas that are failing are in loops that are constantly re-issuing a watch at 1, even though b/c it's in a loop emitting it should not be 1, tests work fine when simply removing entirely.  So I'll put together a PR that ups the timeout + removed the ListOption.

Although I do think the negative tests should probably be re-written t

[2016-09-19 15:18] jszczepkowski commented on #28768
Part of #30571.

[2016-09-19 15:18] #28768 closed

[2016-09-19 15:32] gluke77 commented on #24225
@thockin If nobody is working on it, I'd like to pick the issue, pls.

[2016-09-19 15:45] gluke77 commented on #24225
So could you please assign me?

[2016-09-19 15:48] thockin commented on #24225
I can't assign to just anyone, unfortunately, but by responding here,
anyone else who might work on it will see that you are already in progress.

On Mon, Sep 19, 2016 at 8:46 AM, Illia Khudoshyn <notifications@github.com>
wrote:

[2016-09-19 16:03] pwittrock commented on #32772
I am encountering this a lot and it is getting painful.

[2016-09-19 16:04] pwittrock commented on #32770
@timothysc Thanks.  I am very much looking forward to that PR.  ;)

[2016-09-19 16:07] pwittrock commented on #32124
It is failing here as well at a cvm -> cvm:

https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-master

[2016-09-19 16:16] pwittrock commented on #32770
@timothysc Do you have an ETA for the PR to help us figure out if this should be moved to flaky as a stop-gap?

[2016-09-19 16:32] pwittrock commented on #29904
@luxas Can I mark this as resolved?

[2016-09-19 16:35] k8s-merge-robot opened #33022 "TestWatch {etcd}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17178/

Failed: TestWatch {etcd}

[code]

Previous issues for this test: #31262

[2016-09-19 16:35] k8s-merge-robot opened #33023 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6557/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26784 #28384

[2016-09-19 16:45] pwittrock commented on #32467
@pmorie Besides upgrade testing, there are only ~10 items blocking the 1.4 release and this is one of them.  How should we proceed?

[2016-09-19 16:51] bprashanth commented on #32900
@kubernetes/sig-node @kubernetes/sig-network  @freehan what's the expected behavior when there's a conflict between pod-cidr and node.podCIDR?

1. Does Kubenet handle changing cidr (we decided against this for changes to node.podCIDR, most of those arguments apply here too https://github.com/kubernetes/kubernetes/issues/19854)
2. Do other CNI plugins handle changing CIDR (there's going to be delay

[2016-09-19 16:57] bprashanth commented on #32844
I'm all for giving the master a /24 but giving it the one /24 we expect the nodecontroller to allocate feels weird, because the nodecontroller could randomize its allocations. Lets continue discussion on https://github.com/kubernetes/kubernetes/issues/32900, we have a stop gap fix so I'm closing this.

[2016-09-19 16:57] #32844 closed

[2016-09-19 17:16] coffeepac commented on #30709
@dcowden so as a heads up, I'm abandoning my earlier approach.  there's enough information for my current needs in the current fluentd + kubernetes-metadata filter plugin.

[2016-09-19 17:16] k8s-merge-robot opened #33025 "kubernetes-pull-build-test-e2e-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/24536/kubernetes-pull-build-test-e2e-gce/59496/

Multiple broken tests:

Failed: [k8s.io] V1Job should scale a job up {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29976 #30464 #30687

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e sui

[2016-09-19 17:20] freehan commented on #32900
Once pod cidr is set, kubenet will ignore subsequent changes.

if `reconcile-cidr` flag is set, kubelet will pass the change to network plugins.

For `cni` network plugin, it never takes node.podCIDR directly. It reads cni config files from directories.

[2016-09-19 17:21] lavalamp commented on #30632
@apelisse @foxish maybe the flake pinger shouldn't ping people for p2 issues?

[2016-09-19 17:25] jingxu97 commented on #32929
@jeremywadsack , thank you for report the issue with us. Could you please share the information including your project id, zone, the time period you notice the failure, so that I can check the kubernetes log?

Also is this GCE PD redis-cache only used by a single pod? You mentioned that "We have a fairly high rate of mount timeouts that never resolve. Perhaps 20% of the time.". Could you please pr

[2016-09-19 17:26] bprashanth commented on #32900
That's what I thought. So basically to get the behavior described elsewhere (start containers with pod-cidr and then *restart* with node.podCIDR) we would need kubelet to recreate all containers on change after writing new CIDR to file, and kubenet/other CNI plugins to pick up the change through file.

I don't see the point of piping the new cidr down the the plugins and having the plugins ignore

[2016-09-19 17:31] MikeSpreitzer commented on #31062
For the record, following is the solution I found.  The problem is that when using Mesos, the cluster operator does not launch the kubelet --- so the solutions in #26943 that modify how the kubelet is launched are not applicable.  Instead I modified the way the Mesos slave is launched on each worker node.  I am launching it in a Docker container, and the relevant Docker volume mount is now `--volu

[2016-09-19 17:48] bprashanth opened #33027 "kube-DNS request/limits messes with tail latency"
Long tail observed in normal case:

[code]

I tried a bunch of things like using hostNetwork and doing a lookup from 127.0.0.1, didn't help.

Then tried:
- drained the node (deleted all pods, cordoned the node)
- removed dnsmasq from kube-dns yaml
- removed static pod manifests for fluentd, kube-proxy from /etc/kubernetes
- modified podTemplate spec like of kube-dns rc to

[code]

basically kube-d

[2016-09-19 17:59] thockin opened #33029 "Service can change from headless -> non-headless and never gets an IP allocated"
This is probably not that hard to fix, but it will want an e2e case to cover it.

[code]

Additionally, if I manually assign an IP it is not verified:

[code]

And kube-proxy is VERY confused.

[2016-09-19 18:03] dchen1107 commented on #32711
A quick updates:

The issue is in 1.3 release branch's test infrastructure. All init containers in tests are running as expected on nodes, no issue in kubectl, master and kubelet at all. I even manually upgrade 1.3 cluster to 1.4 cluster and run the related tests this morning. Everything is fine except at the end, the test checks pod's status, and pod is removed.

[2016-09-19 18:03] freehan commented on #32804
`kubernetes-e2e-gci-gce-es-logging` is the suite in question.

It has been failing consistently. https://k8s-testgrid.appspot.com/google-gce#gci-gce-es-logging

[2016-09-19 18:03] thockin commented on #33029
We should probably just disallow Changing from "None" to anything else, the same way we disallow IP address changes.

[2016-09-19 18:04] aveshagarwal commented on #25320
I am trying to summarize the tasks here to capture the current state based on what I have found as its not clear what is being worked on, is already done or is yet to do. As @davidopp suggested to separate taints/tolerations and dedicated nodes features in one of his previous comments, I am updating the list for taints/tolerations and dedicated nodes features to graduate to beta here (please feel

[2016-09-19 18:05] aveshagarwal commented on #25320
/cc @derekwaynecarr

[2016-09-19 18:07] #33023 closed

[2016-09-19 18:11] pmorie commented on #32467
@pwittrock I don't think this should be a blocker -- this is the same as many, many other issues of the form 'pod didn't start in time'.  The root issue should be addressed (and is unknown to me), but I do not think that this particular manifestation of it constitutes a release blocker.

[2016-09-19 18:12] saad-ali commented on #32705
@pwittrock PTAL @ https://github.com/kubernetes/kubernetes/pull/32930

[2016-09-19 18:15] quinton-hoole commented on #32997
@colhom Here are some example logs to aid debugging:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/4332

[2016-09-19 18:15] Random-Liu commented on #32022
From above failure, we can see that 100% of cpu resource usage failures are on coreos.

@dchen1107 @yujuhong @yifan-gu @euank

[2016-09-19 18:15] bprashanth commented on #33005
Hmm, I don't think the framework does anything special for upgrades other than setting up a 1.3 cluster.

This https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-upgrade.yaml#L29 is just passing `--upgrade-target` to the e2e.go binary.  The e2e binary runs with a focus on `--ginkgo.focus=\[Feature:ClusterUpgrade\]`. So basically we're just invoki

[2016-09-19 18:24] jeremywadsack commented on #32929
Hi @jingxu97, thanks for helping dig into this. Following other issues I tried to find the kubernetes master to get the logs but I think we don't have access to that in GKE.

- Project ID: keylime-toolbox-1387
- Zone: us-west1-b
- Time periods:
    - About 07 Sep 2016 16:30 -0700 on pod `ga-redis-cache-1525130664-vgq3w`
    - About 16 Sep 2016 14:20 -0700 on pod `keylime-redis-cache-3629295551-o7m

[2016-09-19 18:24] kdima commented on #31968
We seem to be having the same issue. I tried running v1.4.0-alpha.3 and 1.4.0-beta.8. Issue seems to persist on both.
We have 3 masters and 3 worker nodes.
Our log output
[code]

[2016-09-19 18:31] thockin opened #33033 "Service loadBalancerSourceRanges doesn't respect updates"
1. Create a service, type LoadBalancer.
2. `kubectl edit` that and add a `spec.loadBalancerSourceRanges` field with a value
3. Observe that the iptables rules do not appear

It does seem that the GCE firewall rule is created.

1.4.x patch?

[2016-09-19 18:34] jingxu97 commented on #30689
I checked some of the failures and the finding is as follows

1. On 09-18: The test requires two nodes, and only one node is available.  (This is node issue, no fix on storage side)
2. On 09-17: The attach operation succeeded, but it took more than 5 mins to finish, which caused the test failed with timeout. It is very possible that gce disk attach takes more than 5 mins (although not often). Sugg

[2016-09-19 18:34] pwittrock commented on #32467
Awesome.  Thanks.

[2016-09-19 18:35] ConnorDoyle commented on #32468
A distinct possibility :) Some speculation follows, but bear with me.

The Kubelet right now interprets part of the pod spec as a QoS classification. From the Kubelet's PoV, QoS is a request from a user for preferential treatment. Presumably there's a reason for that request (e.g. e2e service latency negatively correlated w/ revenue). So in my mind QoS represents inversion of control, away from an

[2016-09-19 18:40] #32668 closed

[2016-09-19 18:44] thockin opened #33035 "service loadBalancerSourceRanges accepts ipv6, but fails"
Create a Service as put an IPv6 address in loadBalancerSourceRanges:

[code]

Watch kube-proxy's log fill up with:

[code]

Unclear whether it should:
a) reject v6 addresses in this field
b) accept v6 but not populate the firewall with them (obviously)
c) accept v6 but not populate the firewall with them, log an Event

[2016-09-19 18:46] krousey commented on #23964
This was fixed and reopened for a cherry-pick that did not happen.

[2016-09-19 18:46] #23964 closed

[2016-09-19 18:46] vishh commented on #32468
Binary resources should ideally not be considered for QoS. They might interfere with other QoS resources, but that should not affect the API.

The default limit range was meant to avoid users un-intentionally running best-effort pods. QoS will be per-deployment in reality. The fact that a plugin modified QoS is probably a feature that the cluster admin has setup.

The issue of OOMs should be allev

[2016-09-19 18:48] thockin opened #33036 "Services with clusterIP: None can be created with type LoadBalancer"
Create the following svc:

[code]

It should fail.

[2016-09-19 18:48] errordeveloper opened #33037 "Document cloud provider expecatations"
As part of @kubernetes/sig-cluster-lifecycle documentation effort, we should document very clearly what are the requirements of cloud providers to function. Codifying this is great, but we should make sure we have a plain text version.

[2016-09-19 18:50] derekmahar commented on #13610
@bgrant0607 @kamalmarhubi @erictune @thockin

Given that ConfigMaps cannot (yet) contain binary data (see #32432), I think the idea of a pre-populated, read-only volume type is still relevant.  For example, in order to deploy a binary file to a pod using a volume, I am torn between using a gitRepos or a ConfigMap volume.  Each has benefits and drawbacks:

### gitRepos

**Advantages**

- Can store

[2016-09-19 18:50] vishh commented on #32468
This intention is valid. In reality though, the set of available features does influence the API to a major extent.

[2016-09-19 18:50] timothysc commented on #32770
@pwittrock we're still debugging, what doesn't help is that these failures only seem to occur on GCE and no one care repro them outside of that environment.

[2016-09-19 18:56] nikhiljindal commented on #32733
I will take a look as well

[2016-09-19 18:57] thockin commented on #32603
Hi,

I have opened a number of bugs based on slack triage, but we're not using GH for support, so I am going to close this here.  We have a Google Cloud issue open and Slack.  Thanks.

[2016-09-19 18:57] #32603 closed

[2016-09-19 18:57] colhom commented on #32997
@quinton-hoole I believe this to be the source of dysfunction:

[code]

Which is turn caused by what you found, which causes the disk to not be cleaned up ahead of time:

[code]
https://github.com/kubernetes/kubernetes/blob/87b40782c9c1cc82ba42f75de4cf23126297e0a3/cluster/gce/util.sh#L1194

You can try this out in your local shell:
[code]

git blames leads us to this recent commit: https://github.

[2016-09-19 19:17] pwittrock commented on #32770
Frustrating.  Are you able to reliable reproduce using the "run until failure" test option?

[2016-09-19 19:19] bprashanth commented on #32715
Yeah, looks like it uses this test to verify the upgrade is working: https://github.com/kubernetes/kubernetes/issues/33005#issuecomment-248075391

I can surely make it do what you said (first upgrade, the run all tests), but eitherway this test should probably work, though it is weird that we're treating it specially.

[2016-09-19 19:28] timstclair commented on #31015
I'm working on the release right now. I'm still planning on getting this into 1.4

[2016-09-19 19:33] piosz commented on #32804
What is this suite supposed to test? Kubernetes installation with master and nodes running on GCI?

@Crassirostris could you please take a look?

[2016-09-19 19:37] colhom commented on #32997
@quinton-hoole fix is up in #33039

[2016-09-19 19:51] yifan-gu commented on #32935
@feiskyer After I update #32934 , now the syncloop hits https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L660 and returns.

Looks like it's just an issue because my old version of #32934 did something wrong, closing.

[2016-09-19 19:51] #32935 closed

[2016-09-19 19:56] Crassirostris commented on #32804
Looking into it already, trying to reproduce

[2016-09-19 20:03] lavalamp opened #33041 "Replication controller (and RS): Don't make more than 1k unschedulable pods"
Observed a cluster with a nonsensically high value for spec.replicas and replication controller was trying to honor it, and crushing the master in the process. RC should probably not make more than a reasonable number of pending pods, maybe like 500 or 1000, it should make enough to give signal to sizers looking for unscheduled pods but not more. Certainly not 150k+ as observed.

[2016-09-19 20:04] lavalamp commented on #33041
@erictune @davidopp which of you owns the controllers?

[2016-09-19 20:08] nicolasbelanger commented on #31708
+1

Same here.  Running the laster k8s version available today, 1.3.7...

[code]

[2016-09-19 20:12] pwittrock commented on #32704
@gmarek The total number of failing tests that the owners have said "You can safely ignore this failure" is making it very difficult to clearly understand how close we are to our goal.  Can I just skip this test when it runs against a server 1.4.0 or greater?

[2016-09-19 20:21] Crassirostris commented on #32804
Reproduced manually, will look at it closely tomorrow

How to reproduce:

* Set `KUBE_NODE_OS_DISTRIBUTION=gci`
* Run es_cluster_logging test

So yes, the only difference is the GCI as the node OS and this seems to be the case this suite is aimed for

[2016-09-19 20:25] luxas commented on #29904
@pwittrock Yes, you can.
Now when I tested it, unfortunately another issue was uncovered (known `sync/atomic` 32-bit golang issue indeed), but I'm glad this is in, it's a step further.

Will open separate issues for that and continue working with the Golang team.
Also things will get better when we have Go 1.7 officially.

I'll probably send a patch for it in time for 1.4.1 (just moving a struct f

[2016-09-19 20:25] #29904 closed

[2016-09-19 20:28] timothysc commented on #32770
Merged #32907

[2016-09-19 20:43] quinton-hoole commented on #32997
Awesome @colhom many thanks.  I'll make sure it gets merged ASAP.

[2016-09-19 20:54] ixdy commented on #32941
sorry @spxtr, wrong issue.

[2016-09-19 20:55] gmarek commented on #32900
NodeController respects CIDRs assigned by Nodes, but only if they're assigned in the object creation time. If NodeController will observe a Node object creation without the CIDR it'll start assigning one for it, and we'll have a race.

[2016-09-19 20:56] ixdy commented on #32941
looks like this was added recently in ##30577. @chrislovecnm can you take a look please?

[2016-09-19 21:10] maclof opened #33046 "Pod on GKE cluster stays ContainerCreating"
I've experiencing a strange issue with our GKE cluster, we have a few pods that will just stay as ContainerCreating for a very long time and eventually after what seems 8-40 minutes will create and change to running. We're using Kubernetes 1.3.6.

When using `kubectl describe pod` i see the following:
[code]

Eventually it creates and changes to running, but the amount of time it takes is really s

[2016-09-19 21:10] bprashanth commented on #32900
yeah i think the suggested flow is: pod-cidr doesn't make it into the node object, just into containers eth0 through CNI, nodecontroller assigns a CIDR, kubelet rewrites CNI config and somehow restarts all containers with new cidr.

There is a less generic flow: start all hostnetwork pods but block normal pods, wait till nodecontroller assigns a CIDR, then start normal pods.

[2016-09-19 21:12] quinton-hoole opened #33047 "e2e permafail: kubernetes-e2e-gce-federation-release-1.4 fails with " Quota 'FIREWALLS' exceeded. Limit: 100.0""
- Quota 'FIREWALLS' exceeded. Limit: 100.0

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation-release-1.4/176

@kubernetes/sig-cluster-federation , @madhusudancs , @nikhiljindal FYI

I'm going to manually clean up leaked resources in the GCE project while we fix the root cause of the leaking resources.

[2016-09-19 21:17] #33022 closed

[2016-09-19 21:17] yujuhong opened #33048 "CRI: Get ImageFS info for the runtime"
kubelet currently [relies on cadvisor](https://github.com/kubernetes/kubernetes/blob/12c248315f8191396574085591e1d749ab0fe670/pkg/kubelet/cadvisor/cadvisor_linux.go#L189) to get the ImageFS info for supported runtimes, i.e., docker and rkt. Without this information, the disk manager would not function properly and kubelet will fail to start.

To get the image filesystem information, the following

[2016-09-19 21:20] sjenning opened #33049 "kubelet: eviction: need timestamp on fs stats for eviction"
Right now there is a timestamp on the MemoryStats but not the FsStats.

In eviction we are using the timestamp to detect stats (or "observations" in eviction-speak) that have already been acted upon and just haven't been updated by cadvisor yet.

We need a timestamp on the FsStats as well so we can do the same stale-stat detection that we are doing for memory.  xref https://github.com/kubernetes/k

[2016-09-19 21:21] #30776 closed

[2016-09-19 21:21] quinton-hoole commented on #33047
Manually deleted all firewalls rules, forwarding rules and target pools in project ID: k8s-jkns-e2e-gce-f8n-1-4 (# 240006407461)

[2016-09-19 21:21] #33047 closed

[2016-09-19 21:23] thockin commented on #32900
What if we had a "kubernetes" CNI driver for IPAM and that driver would
fail any pod until the node has a podCIDR assigned?

On Mon, Sep 19, 2016 at 2:11 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-19 21:23] lavalamp commented on #20527
I think the next step here is probably to add a bit where you send the server the old object and the new object, and the server computes the patch and then applies it.

[2016-09-19 21:29] #32377 closed

[2016-09-19 21:31] bprashanth commented on #33041
it should only create 500 at a time, i think the apiserver should protect itself from dos (of course the rc gating can't hurt either)

[2016-09-19 21:35] jbhurat commented on #30278
Hi @brendandburns, I had a question regarding firewall and would like to know your thoughts,
Firewall rules need to be added for the following
-  For each POD endpoint, a rule has to be to accept incoming request
- A firewall rule has to be added to accept connections on the NodePort
- A firewall rule has to be added to accept incoming requests for the kubelet port

We can either have Kubelet/Kube

[2016-09-19 21:37] yujuhong commented on #32803
1. kubelet right now "rejects" a pod if the runtime doesn't support sysctl. To achieve the same effect, we'll need to either a) ask runtime to return a list of supported features or b) add a new "error" indicating the pod is not supported so that kubelet can reject the pod.
2. Handling version skew explicitly. If `sysctl` is added to version 1.1, an older server/runtime, e.g., 1.0, would simply ig

[2016-09-19 21:37] thockin commented on #13610
On Mon, Sep 19, 2016 at 11:50 AM, Derek Mahar <notifications@github.com> wrote:

git-sync as a sidecar is a better answer than gitRepo volumes, and self-updates

ConfigMap can be expanded into directories, as long as you have a key per-file.

Binary data is true, but if Secret adds plain-text support, ConfigMap
could add Binary...  maybe.  @pmorie @smarterclayton

Secret can do Binary data...

inl

[2016-09-19 21:39] pwittrock commented on #32960
@dchen1107 Please help @jingxu97 triage this issue.  This looks like it could be a real issue that we need to address.  Since you have gone through the process of triaging this test before, please give @jingxu97 lots of direction so she can work on the issue efficiently.

[2016-09-19 21:40] lymichaels commented on #27081
I'm using kubectl apply -f deployment.yaml everytime there's a new deployment and using annotations under metadata did the trick of forcing a pod re-create when there's a new deploy for me.

[2016-09-19 21:41] kokhang commented on #23568
Hi @ddysher, I also would like a solution for this issue as we deploy kubernetes with cloud provider.
Do you have a fix for this at the moment?

[2016-09-19 21:43] thockin commented on #32803
On Mon, Sep 19, 2016 at 2:38 PM, Yu-Ju Hong <notifications@github.com> wrote:

This is what I was thinking

Kubelet should NOT be checking versions of plugins.  It must be
neutral.  The question is which behavior is correct?  Rejecting pods
that use unsupported features or ignoring the features?  Note this has
implications for defaulting logic, too.  If we reject, we can never
default a new field

[2016-09-19 21:43] bprashanth commented on #32900
We can't fail *any* pod because a pod is responsible for the podCIDR, we can fail !(non-hostnetwork) pods.

The --pod-cidr option is already out there so we still need to figure out how it plays with a node.podCIDR. I guess we can say:

1. in standalone mode --pod-cidr trumps everything
2. in non-standalone mode, only hostnetwork pods are created till node.podCIDR shows up (--pod-cidr ignored)
3.

[2016-09-19 21:43] pwittrock commented on #31626
@dchen1107 This one as well please

[2016-09-19 21:48] aveshagarwal commented on #25320
@kubernetes/huawei

[2016-09-19 21:49] pwittrock commented on #29904
@luxas Thanks for all your work in this area.

[2016-09-19 21:50] MrHohn opened #33050 "kube-dns's graceful termination is not acting as expected."
After PR #31894, I did a bit experiments on kube-dns graceful termination and got some unintended result as below:
[code]

I guess it is because the other container `dnsmasq` was terminated before `kubedns`. DNS query from clients failed because `dnsmasq` is the actual connection point.

After a bit discussion with @girishkalele and @freehan, two solutions for this are:
1. Create another program w

[2016-09-19 22:01] janetkuo commented on #33019
cc @madhusudancs

[2016-09-19 22:02] janetkuo commented on #33019
The fix should probably be cherrypicked to 1.4, cc @pwittrock

Thanks @a-palchikov for spotting this!

[2016-09-19 22:09] dgonzalez commented on #31267
Hello. Is anyone working on this issue? Could I take it? I want to get into Kubernetes source slowly slowly and looks like a good place to start.

[2016-09-19 22:09] jingxu97 commented on #32960
I check this test, it only failed once for today since Sep 15 when the test started to run. For today's failure, it because in the first step to check all 3 nodes are ready, one node failed in ready state

[code]

 But I checked the kubelet log for the node around the same time, the node still was working normally
[code]

Will check the master log to see what is going on

[2016-09-19 22:10] #32908 closed

[2016-09-19 22:13] derekmahar commented on #13610
@thockin

I read about git-sync on slide 16 of Brendan Burns' [Composite Containers for Modular Architectures](http://www.slideshare.net/Docker/slideshare-burns) and @philips referred to it in a recent reply to [_How to perform automatic data copy/reset with Kubernetes ?_](https://groups.google.com/d/topic/kubernetes-users/ob437DP0tpY/discussion), but even that I find more complicated than simply

[2016-09-19 22:15] madhusudancs commented on #33019
@a-palchikov

I will take a look. But in the meantime:

[code]

is right. It shouldn't be `!IsEmptyConfig(defErr)`. See the discussion in your link for details.

[2016-09-19 22:18] smarterclayton commented on #29954
The last run was due to a GKE break (the test didn't have access to make calls to service accounts).  I think the one before that was #32302.  Going to close because I haven't seen this recur.  We have #29972 to cover that.  Note that it is possible for Docker to race and report invalid info (more likely outside of our tests, where we don't control docker version as tightly).

[2016-09-19 22:18] #29954 closed

[2016-09-19 22:19] janetkuo commented on #32985
cc @kubernetes/deployment

[2016-09-19 22:20] smarterclayton commented on #29521
The reference issue in #32345 was #32302.  Otherwise, that is a bizarre error, possibly an IPv6 address being spit out instead (15 bytes + '#'?).

[2016-09-19 22:24] smarterclayton commented on #13610
I think we need to fix the ConfigMap thing but it has a work around.

Do we have to allow inline volumes to be updated?  I think the value of an inline volume is more if they can't be updated (otherwise, use a config map).  Treating an inline volume like a piece of static, materialized config co-located with the template that stamps them out (RS / PS / D) that can be safely changed in a rollout is

[2016-09-19 22:26] spxtr commented on #32980
#31561

[2016-09-19 22:26] #32980 closed

[2016-09-19 22:28] thockin commented on #13610
Secret can store both, but it base64 encodes everything.  Eventually that
will be fixed.  But that is a hack.

ConfigMaps can be explicitly mapped key-to-file in the `volumes` block, and
that can be paths like "foo/bar/bat.txt"

#831 is specifically about pulling container images, so "but without the
Docker image" is something else :)  Where do you envision the data coming
from?

@smarterclayton:

[2016-09-19 22:30] davidopp commented on #32961
dup #32708

[2016-09-19 22:30] #32961 closed

[2016-09-19 22:34] janetkuo commented on #32494
cc @kubernetes/examples @zmerlynn @mattf

[2016-09-19 22:34] pwittrock commented on #32708
Happening here.  Doesn't look related to quotas.

http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-e2e-gce-1.3-1.4-upgrade-cluster/16/consoleFull

02:30:24 == Finished preparing node upgrade (to v1.4.0-beta.8). ==
02:30:24 == Upgrading nodes to v1.4.0-beta.8. ==
02:30:26 Sep 19 02:30:26.302: INFO: Unexpected error occurred: error running /workspace/kubernetes_skew/c

[2016-09-19 22:35] derekmahar commented on #13610
@thockin

I imagined it would work similar to how `kubectl` creates a ConfigMap where a directory on the `kubectl` host populates the object or volume type that would back the volume.  A volume would associate this directory with a volume name which a container could then map into its file system.  I think this is similar to what you described for a ConfigMap directory.

[2016-09-19 22:36] janetkuo commented on #32927
Should be fixed by #33030

[2016-09-19 22:36] #32927 closed

[2016-09-19 22:39] davidopp commented on #25321
Need to look into this (from https://github.com/kubernetes/kubernetes.github.io/pull/1244)

I would rewrite this as

Currently a PodDisruptionBudget has two components: a selector to specify a set of pods, and a description of the minimum number of pods from that set that must be available (i.e. an eviction will not be allowed if it will cause the number of available pods to fall below this thresh

[2016-09-19 22:42] yujuhong commented on #32022
I checked a few failures and it seems things are extremely slow in some cases. Even setting up network plugin could take up to 20s (this is a blocking operation, My best guess is that docker was extremely sometimes, but there lacks any docker operation latency metrics to corroborate my theory. The docker logs from the ubuntu images don't even have timestamps.

One thing I noticed is that kubenet i

[2016-09-19 22:45] a-palchikov commented on #33019
I see - I'll have to read it more carefully then

[2016-09-19 22:56] thockin commented on #33050
Something I have been meaning to try:

Put `STOPSIGNAL SIGCONT` in Dockerfile
Build and push image

We should deliver SIGCONT rather than SIGTERM.  I did a quick test and it
seems to work.  Otherwise trapping SIGTERM in the shell and ignoring it is
well documented...

On Mon, Sep 19, 2016 at 2:51 PM, Zihong Zheng <notifications@github.com>
wrote:

[2016-09-19 23:00] MrHohn commented on #33050
Thanks, I will take a look and test these.

[2016-09-19 23:04] janetkuo commented on #33019
@a-palchikov how did you run a pod with `kubectl`? Did you build your own `kubectl` image? Which `kubectl` version is that image?

[2016-09-19 23:05] trizvanov commented on #27388
I've been having a lot of troubles with spinning up my containers, where a particular one may take more than 2 minutes to start.
Is there a guide on setting up timeout values in Kubernetes ?

[2016-09-19 23:11] pwittrock commented on #33033
Is this a regression?

[2016-09-19 23:15] pwittrock commented on #32022
Moving this out of the 1.4 milestone since @Random-Liu said no action is required.

[2016-09-19 23:19] MrHohn opened #33053 "initialDelaySeconds of readinessProbe for kube-dns is too long."
From current [YAML file](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.base#L75) for kube-dns addon.

We are currently using initialDelaySeconds: 30 for readinessProbe for the kubedns container. And [the default state of Readiness before the initial delay is Failure](http://kubernetes.io/docs/user-guide/pod-states/#container-probes). This setup leads to a h

[2016-09-19 23:22] yujuhong commented on #32803
Ignoring features may be ok in some cases, and I think this is what we do in k8s today (older kubelets ignore new features).

On the other hand, if the feature is related to security (e.g., apparmor?), letting the runtime silently ignore it seems dangerous.

[2016-09-19 23:27] bprashanth commented on #32124
all recent failures in the 1.2->1.4 have the same signature
[code]

Which seems to indicate potential issues with kubectl exec, however i haven't been able to repro from test in the 1.2 branch against a ci/latest master and 1.2.7 nodes. Going to try looking up master logs.

[2016-09-19 23:27] chrislovecnm commented on #32941
This requires persistent storage.  Is this flaky on master?

[2016-09-19 23:34] chrislovecnm commented on #32941
@ixdy and @spxtr is this really a p0?

[2016-09-19 23:35] rmmh commented on #32322
Closing for lack of repro.

[2016-09-19 23:35] #32322 closed

[2016-09-19 23:39] rmmh commented on #32350
There was a kernel panic 2 seconds after this build started.

We need to get off trusty builders.

[2016-09-19 23:39] #32350 closed

[2016-09-19 23:39] rmmh commented on #32439
Generic timeout, closing.

[2016-09-19 23:39] #32439 closed

[2016-09-19 23:41] thockin commented on #32803
Can we somehow close the loop?  Maybe pass back the runtime's pod, then do
a diff or something?   I guess I am OK with feature flags, but I am worried
about the defaulting problem.

On Mon, Sep 19, 2016 at 4:23 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-09-19 23:41] timstclair opened #33056 "Upgrade 1.3.7 w/ GCI -> 1.4.0-beta.8 failed: health-monitor.sh not found"
Kubelet not running after upgrading GCI nodes to `1.4.0-beta.8`:

1. Create cluster running v1.3.7 on GCI 54 (see [config](https://gist.github.com/timstclair/b8ec1867338073bc0ed62ea4bcf1ffa3#file-patch-diff))
2. Upgrade masters to 1.4.0-beta.8 `[(v1.4.0-beta.8)] $ cluster/gce/upgrade.sh -M v1.4.0-beta.8`
3. Upgrade nodes to 1.4.0-beta.8 `[(v1.4.0-beta.8)] $ cluster/gce/upgrade.sh -N v1.4.0-beta.8`

[2016-09-19 23:43] vishh commented on #33056
cc @maisem

[2016-09-19 23:44] chrislovecnm commented on #32494
The jars need to be in the container.  You can use http, s3, hdfs hosted version of the jars as well.  If you need the jars in the container, then you need a custom container.

[2016-09-19 23:45] MrHohn commented on #33053
But then failureThreshold would be another concern.

[2016-09-19 23:46] thockin commented on #33053
I think 5 seconds is reasonable, or even 2 seconds with enough retries.
Try it and run e2e and see how many restarts it hits :)

On Mon, Sep 19, 2016 at 4:20 PM, Zihong Zheng <notifications@github.com>
wrote:

[2016-09-19 23:47] thockin commented on #33033
No.  This has never been "right" as far as I can tell.

On Mon, Sep 19, 2016 at 4:12 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-09-19 23:48] lavalamp opened #33057 "kube-apiserver: limit the size of node objects more than other objects"
Due to the frequency of status updates and the fact that etcd saves the entire object with every heartbeat, Kubernetes is more sensitive to the size of node objects than other objects in the system.

In practice, node objects that are merely 150k are enough to take down a small master.

We should think about what a sane size limit is, what to do when a component like kubelet attempts to violate th

[2016-09-19 23:49] AdoHe commented on #31267
@dgonzalez that would be great. @k82cn are you working on this now? If not we can have dgonzalez pick up this.

[2016-09-19 23:49] Amey-D commented on #33056
It will be useful to know the status and logs of kube-node-installation.service and kube-node-configuration.service after the upgrade (see https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/node.yaml)

[2016-09-19 23:50] AdoHe commented on #24225
@gluke77 please go ahead, you did own this now. :)

[2016-09-19 23:51] smarterclayton commented on #13610
I think I would argue that updates belongs to configmaps and secrets (because you have to deal with them), immutable things belong to pods (because they are easier to reason about).  The initial issue talks about immutable pod data (where config + pod definition = total config).

Discussing the complexity of achieving safe config map reuse in deployments convinced me that mutable config maps are m

[2016-09-19 23:53] pwittrock commented on #32960
You can see it failing consistently here:

- https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-cluster
- https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-cluster-new

[2016-09-19 23:55] rmmh commented on #32832
Fixed by #32822

[2016-09-19 23:55] #32832 closed

[2016-09-19 23:56] thockin commented on #13610
I would be OK with inline volumes, if someone wants to craft the smallest
possible proposal

On Mon, Sep 19, 2016 at 4:52 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-19 23:56] thockin commented on #13610
But where would we store that data in the API as it transits from your
computer to the API server and down to a kube node?  An inline volume or
configmap would be good for this.

On Mon, Sep 19, 2016 at 3:36 PM, Derek Mahar <notifications@github.com>
wrote:

[2016-09-20 00:02] timstclair commented on #33056
[code]
From `$ sudo journalctl -u kube-node-*`
[code]

[2016-09-20 00:11] ixdy commented on #32941
it's happening pretty frequently, but I don't think we care about examples tests as much.

[2016-09-20 00:13] smarterclayton commented on #13610
Doh - I just realized we have annotations for downward API (plan to).  So
we don't need inline volume if we can figure out how to handle binary data
(downward API allows base64 decoding).

[2016-09-20 00:21] smarterclayton commented on #13610
If we add that flag, that solves config map as binary as well.  Then create can support that scenario by passing an additional flag.

[2016-09-20 00:24] smarterclayton commented on #13610
Simple proposal:

1. Leave configmaps as they are today
2. Support annotation projection from downward API and env var the same
3. Add an "decodeBase64 bool" to the downward API volume and env var projections
4. Support "base64encode" on kubectl create
5. Give example for annotation in base64 for inline config
6. Profit

[2016-09-20 00:35] k82cn commented on #31267
@AdoHe , it's OK to let @dgonzalez pick up.
I think this's a set of issues to improve the error message (refer to the list in the description). I'm working on  #15834 which is one issue in the list, maybe @dgonzalez can also pick up one issue in the list :).

[2016-09-20 00:42] k82cn commented on #15834
@bgrant0607 , after check the code, the URL was built by `request.go:request(...)`; do you mean we should update it; or avoid to use `NewBuilder(...)`, instead, build url (http://127.0.0.1:8080/api/v1/pods?fieldSelector=metadata.name=counter) directly.

[2016-09-20 00:43] timstclair commented on #33056
Environment diff:
[code]

[2016-09-20 00:50] thockin commented on #13610
I'd almost rather have the volume - its conceptually much cleaner...

On Mon, Sep 19, 2016 at 5:24 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-20 00:57] bprashanth commented on #33053
can you get ready before you're alive? if not do you need to tune liveness? it can take O(10s) for a list with 100s of pods in the apiserver, and you don't want to crashloop on restart

[2016-09-20 01:09] bprashanth commented on #33053
don't quote me on the 10s metric, it is stale :)

[2016-09-20 01:18] dchen1107 commented on #33046
Can we have the related Kubelet log? Thanks!

[2016-09-20 01:19] pwittrock commented on #31015
@timstclair I am closing this now that your PR is merged.

[2016-09-20 01:19] #31015 closed

[2016-09-20 01:23] dagnello opened #33061 "vSphere Cloud provider: Volume detach is not issued when VM is not present"
When a vm is reported as no longer present in cloud provider and is deleted by node controller, there are no attempts to detach respective volumes.  For example, if a VM is powered off or paused, and pods are migrated to other nodes.  In the case of vSphere, the VM cannot be started again because the VM still holds mount points to volumes that are now mounted to other VMs.

In order to re-join thi

[2016-09-20 01:24] MHBauer commented on #11384
Is this complete or will it remain around until v2?

[2016-09-20 01:25] MrHohn commented on #33053
Hmm, I'm not sure about this logic. But as the current definition `The default state of Liveness before the initial delay is Success` says, the liveness probe would always succeed in the initial period. So I guess the  situation a container gets ready before it's alive will not happen.

[2016-09-20 01:26] pwittrock commented on #33019
@janetkuo Are you able to reproduce this?

[2016-09-20 01:28] bprashanth commented on #33053
so if you set an initial delay for liveness to something really high and an initial delay for readiness to something low, your endpoint gets traffic? that sounds sketchy, because if someone set a high initial delay on liveness it probably means the pod needs that long to boot up (eg: db load from snapshot) and sending it traffic in the interim is going to hit timeouts.

[2016-09-20 01:30] bprashanth commented on #33053
Anyway it shouldn't *really* matter if you take 5s or 30s to become ready, the deployment should handle it right? you will just have maxSurge dns pods up, and after minReadySeconds, the next pod gets created.

[2016-09-20 01:46] dchen1107 commented on #32960
They consistently failed with the following errors:

[code]
Here are the facts I collected based on the test dashboard:

* They only failed with two jobs: kubernetes-e2e-gce-1.3-1.4-upgrade-cluster & kubernetes-e2e-gce-1.3-1.4-upgrade-cluster-new. According to gcloud support doc, above issue normally is caused by partial upgrades of gcloud sdk, etc. and suggested to run command: gcloud component u

[2016-09-20 01:51] kevin-wangzefeng commented on #29503
The latest failures are caused by conflict of updating node taints, using runKubectlRetryOrDie() instead of RunKubectlOrDie() in "kubectl taint" test should fix them, I will send a PR to fix.

[2016-09-20 01:56] bprashanth commented on #32715
I'm not too worried about this, we know a service survives cluster upgrade from manual testing and we're not forcing any other test through upgrade. Also it is mostly green in the 2 links posted above and in https://k8s-testgrid.appspot.com/google-1.2-1.3-upgrade#gke-cvm-1.2-cvm-1.3-upgrade-master, demoting to p1, would be good to get some debug time on it if anyone has cycles though.

[2016-09-20 01:57] bprashanth commented on #32124
I setup a local gce version skew cluster, no repro in some 100 runs.
Now I'm trying to setup a gke version skew e2e cluster.

[2016-09-20 02:00] MrHohn commented on #33053
I think the logic is a bit tricky here.

If I understand correctly, the intention of liveness probe is to make sure the container is still alive, but not to make sure it is up. Instead we should use readiness probe to make sure the container is now able to provide service. And the traffic would be forwarded to endpoints after they are ready. If the container needs that long to boot up, we probably

[2016-09-20 02:15] jayunit100 opened #33062 "Viper docs to e2e"
_Problem_
- Viper configuration is lovely but the e2e --help really only encourages users to be more deeply dependent on flags, since it doesnt describe non-flag config via viper.
- Viper config is hardcoded to `e2e`.

_Solution_

Add a `--viper` config parameter.  This solves two problems.  (1) people can have different viper configs for different use cases `e2e-scale.json` `e2e-networking.json`

[2016-09-20 02:21] MrHohn commented on #33053
I may not understand the comments fully...But I think the whole point here is to well balance these two factors:
- Let those dns backend servers which are ready get exposed in service as soon as possible.
- Make sure those dns backend servers which take a long time to start can take their time without being mistakenly killed.

[2016-09-20 02:22] smarterclayton commented on #13610
I can think of several cases for env vars where I need json not to eat my values.

So follow up questions:

1. Should I be allowed to set binary values in annotations?
2. Should I be allowed to use those binary values in downward API?
3. Should the CLI support me setting those values?

I do think if annotations can solve the non binary case, then the binary case is really just an edge case of that

[2016-09-20 02:22] jayunit100 commented on #33062
This is also covered in #32902 above .

[2016-09-20 02:24] bprashanth commented on #33053
Yep. Just try setting it lower than liveness testing it.

[2016-09-20 02:37] AdoHe commented on #31267
@dgonzalez could you help with this one?

[2016-09-20 03:03] bprashanth commented on #32124
The good news is the exec reaches the node (this means master/node connectivity works, routes setup etc), but the not so good news is we're seeing an exit code of "-1", which is not even valid.

The container is running on the node `execpod: kubelet gke-jenkins-e2e-default-pool-257734be-2nb0`, logs:
Build: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-ma

[2016-09-20 03:33] k82cn commented on #31267
@AdoHe , I think we can let @dgonzalez pick up one issue in https://github.com/kubernetes/community/wiki/Roadmap:-kubectl . When all issue in the list merged, we can close this one directly :).

[2016-09-20 03:41] thockin opened #33065 "kubectl run should have uid and gid flags"
Akin to docker run.

[2016-09-20 03:56] pwittrock commented on #33019
Looking more closely, it looks like the kubectl version is the beta.8 version.  Did you mount this from the host volume or build it into an image?  What is the best way to reproduce?  I am assuming it is something like:

- untar the beta.8 tar
- run kube-up.sh
- execute `kubect run -t -i --image busybox test`
- in container call `kubectl get pods`

[2016-09-20 04:20] Random-Liu commented on #29478
Known compatible issues with docker 1.9 and docker 1.10:
- [ ] `seccomp=unconfined` is added in docker 1.11, for **docker <=1.10**, it should be `seccomp:unconfined`. This will cause error `failed to create a sandbox for pod "XXX": Error response from daemon: Invalid --security-opt: "seccomp=unconfined"` (See https://github.com/docker/docker/issues/24810)
- [ ] Using filter with empty engine-api v

[2016-09-20 04:20] feiskyer commented on #33048
Do we need to make an abstraction above cadvisor first? (so as to leverage such functionality to runtimes not support cadvisor)

[2016-09-20 04:23] xiaoping378 commented on #23535
Run ``iptables -F`` all nodes, will be OK in my env.

[2016-09-20 04:29] feiskyer commented on #29478
There is also an item above with same concern: which version of kubelet should backward to?

[2016-09-20 04:32] Random-Liu commented on #29478
@feiskyer I think that part means that on old containers there are no labels, and we can't do filter. Not exactly the same problem. :)

[2016-09-20 05:01] davidopp commented on #33041
I'm a little nervous about being too clever about preventing people from shooting themselves in the foot. But I think rate limiting is a better approach than hard capping. If people want hard capping they can use quota on number of pods.

[2016-09-20 05:17] thockin commented on #13610
How do you denote that an annotation is a binary value?

On Mon, Sep 19, 2016 at 7:23 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-20 05:20] AdoHe commented on #31267
SGTM.

[2016-09-20 05:22] justinsb commented on #33057
The heartbeats are expensive for watches also: https://github.com/kubernetes/kubernetes/issues/29772

On the heartbeat side, I was wondering if it would be possible to only "touch" the node when we "miss some beats".  I presume the problem here is that there could be multiple API servers.  One option could be for the apiservers to check in with the scheduler or KCM, but that's a whole new flow - t

[2016-09-20 05:35] xingzhou commented on #29876
Here is a solution for discussion:
for those pods that satisfy the following conditions:
- the pod has multiple containers
- some of the pod's containers are not in running status
- at least one of the pod's container is ready and in running status

when user use 'kubectl get pods' command, we can add an asterisk to the status of those pods and finally add one hint message to explain to the user t

[2016-09-20 05:49] davidopp commented on #27957
ok

[2016-09-20 06:06] #33050 closed

[2016-09-20 06:49] Starefossen opened #33070 "kubectl: unexpected signal during runtime execution"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `kubectl` `apply` `unexpected` `signal` `during` `runtime` `execution`

---

**Is thi

[2016-09-20 07:15] k8s-merge-robot opened #33072 "[k8s.io] MirrorPod when create a mirror pod should be recreated when mirror pod forcibly deleted {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/9510/

Failed: [k8s.io] MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suite}

[code]

Previous issues for this test: #28100

[2016-09-20 07:21] #10931 closed

[2016-09-20 07:25] Dmitry1987 commented on #28339
Thanks @kargakis , i didn't know it's expected behavior. Now it makes sense :)

[2016-09-20 07:26] dgonzalez commented on #31267
Yep. I can take it.

[2016-09-20 07:50] weherdh opened #33074 "Azure Disk: Failed mount on kubernets cluster"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0", GitCommit:"ff3ca3d616518087dc20180f69bb4038379f1028", GitTreeState:"clean", BuildDate:"2016-09-01T20:57:32Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Cloud provider or hardware configuration**: azure
- **Install tools**: ansible-

[2016-09-20 08:15] liubog2008 commented on #13479
Has there been any progress on this request? I want to limit emptyDir's storage to avoid node's OutOfDisk problem. Now we want to use lvm or loop device to solve this problem(I found it that you don't list this solution in disk-accounting doc. Is there any problem I don't know?). Could you give me some suggestions?

[2016-09-20 08:38] nhlfr commented on #31178
Due to discussion with @fabianofranz in #31240, we decided to change the approach a little bit. The idea is to provide `--curl` option to the `kubectl proxy` command, which will work like `--raw` in `kubectl get`. Why? Because no one provided any other usecase than curl, so in our opinion, there is no need to implement `--exec`.

[2016-09-20 08:47] kargakis commented on #32985
You tried to delete the deployment using the REST API directly or kubectl? Probably the latter. This should be fixed for 1.3.

[2016-09-20 08:56] xingzhou commented on #33065
do we now support docker's ```--user``` flag? I'd like to take some investigation on this.

[2016-09-20 09:00] AdoHe commented on #31267
Ping me if any problem. Thanks

[2016-09-20 09:22] gmarek commented on #32900
1. IIUC in standalone mode Node does not register in the NC, so we don't have a problem there
2. I know absolutely nothing about Kubelets startup - is it possible to guarantee, that Kubelet won't send Node object creation before checking if it should put a podCIDR in it?

[2016-09-20 09:40] dgonzalez commented on #31267
Will do. Thanks.

[2016-09-20 09:53] a-palchikov commented on #33019
@janetkuo I run a pod with `kubectl` mounted from host - it is the same version as the installed k8s (1.4.0-beta.8).
@pwittrock yes, once I've set up k8s, I ran a pod with kubectl mounted from host:
[code]

[2016-09-20 10:54] adam-sandor commented on #32768
It worked nicely. Thanks @janetkuo !

Btw I found the wrong configuration on this page: http://kubernetes.io/docs/user-guide/horizontal-pod-autoscaling/walkthrough/

[2016-09-20 11:08] kdima opened #33081 "Networking: external LB in 1.4.0-beta.8 blackholes external ip traffic"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-09-20 11:11] indrekj commented on #26309
@d6u Have you found a solution?

[2016-09-20 11:15] kargakis commented on #29229
An alternative to virtual clocks is minReadySeconds on the pod level (@bgrant0607 has already asked for it).

[2016-09-20 11:40] jsafrane commented on #28884
The test has not flaked for past 21 days (#31855 is completely broken run, not related to this bug). Actually, only #31113 looks like genuine bug either in Kubernetes or in the test, but I have no logs. I'll keep it open for another month or so, but I'm going to close it if I get no usable logs.

[2016-09-20 11:45] jonathan-kosgei commented on #23406
I'm having a similar issue on 1.3, I create a deployment which creates a replicaset , however deleting the deployment does not delete the replicaset and hence the pods it is under

[2016-09-20 11:55] gmarek commented on #32789
I don't know why - @ixdy ?

I haven't seen those error recently, so I guess this is fixed. OTOH I have seen a number of runs where cluster startup failed, but there's a fun thing about those failures. All of them occurred on runs on worker-22:
[code]
[code]

[2016-09-20 12:02] soltysh commented on #24643
The current state of the docs is correct, thus closing this issue.

[2016-09-20 12:02] #24643 closed

[2016-09-20 12:52] dynek commented on #17489
This is one very interesting topic. Still thinking on my side about such implementation. What comes to my mind if nginx and php-fpm are separate: managing uploaded files, serving both static and dynamic content means that nginx pod should be able to see all websites while php-fpm would only see one to be able to scale if one requires more ressources. And then what about cron jobs... In my case I h

[2016-09-20 12:55] gmarek commented on #32789
I found something even more interesting. Extending the log:
[code]

It seems that the cluster was created around 00:30 on 2016-09-20, MTV time (this is a default Jenkins time). But doing: `gcloud compute operations list --region=us-central1 --project=k8s-jkns-pr-kubemark | grep us-central1/addresses/k6k-e2e-agent-pr-22-0-kubemark-master-ip` gives the following result:
[code]

Which seems to indica

[2016-09-20 13:09] m1093782566 commented on #32481
Fixed.

[2016-09-20 13:09] #32481 closed

[2016-09-20 13:14] justinsb opened #33084 "Image GC tries to remove non-k8s docker container"
When we are running a non-k8s docker image, image GC does not understand that the image is in use, and repeatedly tries to delete the image every 5 minutes.  We should understand that the image is in use and not try to delete it.  (edited for correctness)

[code]

[2016-09-20 13:14] justinsb commented on #33084
cc @zapman449

[2016-09-20 13:18] irvingwa commented on #15817
@harold-sun Do you have the templates you got this working with? Mind putting them up somewhere?

[2016-09-20 13:19] k82cn opened #33087 "Add fieldSelector to kubectl.resource.Helper::List"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Kubernetes version** (use `kubectl version`):
master

**Description**  :

When working on #15834 , the proposed solution is to use `fieldSelector` instead of resource URL. And after go through the code, there's also a `TODO` in Helper::List to support `fieldSelector`. The purpose of this issue is to make Helper::List sup

[2016-09-20 13:19] zapman449 commented on #33084
Thanks @justinsb

For the record, "several times a second" was overstating.  Looks like it's spamming the logs once every 5 minutes.

However, instead of a backoff policy, image GC should see that it failed to delete an image, and then move on to the next image, rather than aborting the GC all together.

Relevant logs:

[code]

[2016-09-20 13:29] dshulyak commented on #32947
I see in api-server logs 2 different POST requests to create replica sets with delay of 4 seconds, here is a sequence of logs for the second one:

[code]

The only reason i can come up with is - https://github.com/kubernetes/kubernetes/blob/a765d5993202e0e8a4fdd0138c4aceead9b15fbb/pkg/controller/deployment/deployment_controller.go#L567. But I don't see any sequence of changes that will make it pos

[2016-09-20 13:29] rootfs commented on #33074
error `Failed to get Azure Cloud Provider` points to missing cloud config on the master.

Your controller-master doesn't have azure config options:
[code]

[2016-09-20 13:34] timothysc commented on #32770
Still occurring xref: https://github.com/coreos/etcd/issues/6476

[2016-09-20 13:37] #29259 closed

[2016-09-20 13:38] gmarek commented on #32505
I don't see failures in 1.3-1.4 tests.

For 1.2-1.4 thingy - we improved this test a lot in 1.3 and 1.4 timeframe and made it less sensitive to other tests' problems. I can't think of a way of fixing problems in 1.2 other than cherry picking lots of changes to the framework and scheduler-predicates test.

[2016-09-20 13:41] kenips commented on #30495
Seeing this on 1.3.7 and patch isn't on master either. @wayarmy, is this closed by mistake?

[2016-09-20 13:41] gmarek commented on #30762
Fixed.

[2016-09-20 13:41] #30762 closed

[2016-09-20 13:42] childsb opened #33088 "Cloud provider API quota per namespace"
In a cloud provider environment it's possible to use up the API quota grinding the cluster to a halt:

https://github.com/kubernetes/kubernetes/issues/31858

In a multi tenant environment, one user could consume the quota for an entire cluster.  Some cloud providers allow throttling of API calls by type but Kube does not differentiate on the call types, so DOS still possible.

[2016-09-20 13:43] gmarek commented on #31964
It's a long time since SchedulerPredicates failures. Currently GKE cluster startup fails. Reassigning to @roberthbailey to delegate.