[2016-03-14 18:28] jlowdermilk commented on #21421
The backwards compatibility issue with v1.2 `kubectl run` against v1.1 master should be fixed by #22849. Ike, I think we can close this unless we want to add an e2e job that specifically tests 1.2 kubectl with 1.1 master. wdyt?

[2016-03-14 18:31] thockin commented on #9107
Abhi will look at this for conclusion TODAY

[2016-03-14 18:32] derekwaynecarr commented on #22045
Using the `Event` pattern to know when caches were updated, you cant really create an `Event` that is about a `Namespace` today because of a validation error, so if I go that route, we need to loosen up:

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/events.go#L36

[2016-03-14 18:34] rakeshm commented on #22623
A few of us at Apprenda,  @taylorb-microsoft  and @johngossman are going to do a quick sync up this week.

We'll add to the shard doc @preillyme

[2016-03-14 18:36] wojtek-t commented on #22045
@derekwaynecarr - ok got it, thanks for explanation

 the other alternative is to have the admission controller annotate a namespace and have the controller block on state change + annotation, but i dislike that.

Why you don't like it? Actually it sounds pretty good (I would choose this one).
The solution with events also sound fine.

[2016-03-14 18:38] quinton-hoole commented on #22623
Could someone please grant me comment permission on the shared doc.  I'm
quinton@google.com

Thanks

Q

On Mon, Mar 14, 2016 at 11:35 AM, rakeshm <notifications@github.com> wrote:

[2016-03-14 18:40] jlowdermilk commented on #21421
I just manually verified `kubectl run` works by default with 1.2 client and 1.1 master.

[code]

I'm going to close this again, @ihmccreery and I can discuss offline whether/how to add e2e testing for client backwards compatibility.

[2016-03-14 18:40] #21421 closed

[2016-03-14 18:48] derekwaynecarr commented on #22045
@wojtek-t - i need to reason through what happens in the OpenShift case where we have two things interacting in namespace deletion.  it seems like you would need to set an annotation per namespace finalizer token that says admission has blocked new content creation.  thinking through that more, that works better than events since the event pattern only worked for core kube resources.

[2016-03-14 18:51] wojtek-t commented on #22045
I agree, that doesn't solve the problems, but it's not worse than events solution in my opinion (we have exaclty the same set of problems there).

[2016-03-14 18:52] derekwaynecarr commented on #22045
yeah, i think i have reasoned my way out of the event pattern since it doesn't help us in OpenShift where we have our own resources tied to namespace lifecycle.  the annotation pattern bugs me mostly because its an annotation and not a true field on the namespace, it makes putting policy around setting the annotation hard.

[2016-03-14 18:55] bgrant0607 commented on #22045
Don't use events.

[2016-03-14 18:57] derekwaynecarr commented on #22045
Another option is that we have two finalizers on the namespace:

"kubernetes" - used by the controller
"kubernetes.admission" - used by admission

We set both on create on the namespace.  When the admission sees its cache update, we remove "kubernetes.admission" from finalizer list.  The controller would then know it can then do its delete cleanup, and then remove "kubernetes".

That puts some imp

[2016-03-14 19:06] bgrant0607 commented on #22045
@derekwaynecarr I like 2 finalizers.

[2016-03-14 19:08] bgrant0607 commented on #22045
In general, we definitely need an explicit ACK from admission control

[2016-03-14 19:10] dchen1107 commented on #22603
Checked logs of the latest failure reported by @bgrant0607 at https://github.com/kubernetes/kubernetes/issues/22603#issuecomment-195249155

The problem is related to image pulling like what I mentioned in our 1.2 issue burndown meeting:

From events related to e2e-test-nginx-rc-iog5c, one can find that there is only pulling event for such image without pulled.
[code]

Docker daemon is not hang at

[2016-03-14 19:10] dchen1107 commented on #22603
https://github.com/kubernetes/kubernetes/issues/21000

[2016-03-14 19:11] dchen1107 commented on #22603
Besides documenting this as known docker issue if paralleling pull is enabled, I don't think we can do much for 1.2 release here. cc/ @bgrant0607

[2016-03-14 19:12] stevesloka commented on #15546
Hey @jimmycuadra were you able to get this working? I'm in the same position right now with the same question of how to get my ELB to healthcheck my api servers.

[2016-03-14 19:12] yujuhong commented on #16943
We have quite a few e2e tests that runs 100 pods per node regularly (e.g., tracking resource usage, and testing scheduler decisions.
`kubernetes-kubemark-high-density-100-gce` (thanks to @gmarek) runs 100 pods per node in a kubemark cluster. The only missing piece is running density test with a real kubelet near its maximum capacity (100 pods per node). @gmarek, will we be able to convert one of t

[2016-03-14 19:13] bgrant0607 commented on #22045
@derekwaynecarr I assume this isn't for 1.2?

[2016-03-14 19:13] dengemann commented on #18019
I'm having the same issue, working on master branch, but the proposed remedy does not apply for me: is it expected that `kubectl describe services <service name>` gives the same IP address as the usual get services listing. In the present case we're trying to access a [jupyter notebook](http://jupyter.org/) that is hosted on the master, I'm running the https://github.com/ogrisel/docker-distributed

[2016-03-14 19:14] stepanstipl commented on #22854
Thanks for comment, so you want both http & https. My use-case is https only, but I can see that keeping both http & https (or tcp & ssl) around makes sense. Perhaps one more annotation, smth. like:
- `service.beta.kubernetes.io/aws-load-balancer-ssl-only` - if set to true, only https (ssl) listener is set, else both original and ssl one are created

would cover this. (Not sure what would I prefer

[2016-03-14 19:15] nikhiljindal commented on #22182
https://github.com/kubernetes/kubernetes/pull/22898 fixes this

[2016-03-14 19:16] rwillard opened #22947 "Some Replication Controllers fail with lifecycle hooks"
Starting with a working cluster, wanted to add lifecycle hooks for slack integration. Half of the RC work correctly, and I can see the messages in slack. The other half fail to build properly in kubernetes at all now. When I comment out the lifecycle section for the ones that fail, the build works fine. I'm really at a loss, and there isn't any good error reporting come from kubernetes about this

[2016-03-14 19:23] derekwaynecarr commented on #22045
@bgrant0607 - I do not want to do a dual finalizer solution for 1.2.  Seems too risky this late in the process, and is still problematic when running multiple API servers behind a load balancer since there is no guarantee that because one admission controller ACK occured that the others had occurred.  So it's got problems.

I think for 1.2, we can reduce incidence of the flake by doing the followi

[2016-03-14 19:27] yujuhong commented on #22603
Just wanted to add that, there are a lot of failures where image pulling was slow (#21029), but did not hang. In those cases, you'd see a "Pulled" event in kubelet.log. The event never reached the apiserver because the pod was already deleted (due to test timeout), and the event was rejected at the time. E.g.,
[code]

I have checked quite a few failures and they all had this symptom. All image pul

[2016-03-14 19:28] nikhiljindal commented on #18558
Looks like lots of users have reported the TLS timeout issue as well while running kubectl commands: https://github.com/kubernetes/kubernetes/issues/13382

[2016-03-14 19:32] nikhiljindal commented on #13382
Reopening the issue since clearly users are still hitting it.
We seem to have hit the same issue in our e2e: https://github.com/kubernetes/kubernetes/issues/18558#issuecomment-194665285

As per the last update from @roberthbailey (https://github.com/kubernetes/kubernetes/issues/13382#issuecomment-175832658), it sounds like a kublet networking issue.
cc @dchen1107

[2016-03-14 19:32] karlkfi commented on #22843
@ixdy `kube-godep-licenses.Qtc34D/Godeps/LICENSES` is generated and then diffed against `Godeps/LICENSES`. See https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godep-licenses.sh#L47

The exit trap should be nuking that temp dir: https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godep-licenses.sh#L36

It's possible that something else is negating the exit trap, but I'

[2016-03-14 19:38] ixdy commented on #22843
@karlkfi I figured out what the problem was, and fixed it in #22892: the locale in the `kubekins-test` image was apparently different from my (and others') locale, so one of the `sort` calls was sorting things in a different order. Explicitly setting the locale made it deterministic.

[2016-03-14 19:39] hongchaodeng commented on #22908
@xiang90

I have found the sequence:
[code]

In this way, the client imports "testing" packages.

[2016-03-14 19:42] timothysc commented on #22908
@lavalamp ^ There you go ;-)

[2016-03-14 19:43] xiang90 commented on #22908
@hongchaodeng Can you try to fix this in etcd then?

[2016-03-14 19:46] eparis commented on #22843
general rule: If your script has `sort` it should have `LC_ALL=C sort`

[2016-03-14 19:57] ncdc commented on #16296
https://github.com/google/cadvisor/pull/1158 should help somewhat with the high cpu issue

[2016-03-14 20:02] lgreenlee opened #22950 "Configuration File Examples"
I am having a hard time finding a comprehensive resource for valid values permissible in configuration files. It would be really nice to have a reference that just describes the valid values and their use. For example: what are the total optional and required fields for a replication controller definition? A Service? A Pod? The documentation has many examples, but when there is any discussion of c

[2016-03-14 20:02] davidopp commented on #22937
As an aside, some of us (including me) were surprised to discover that we are running two instances of heapster (one as "eventer"). Can you explain this architecture, and the difference in functionality between the two heapsters?

[2016-03-14 20:07] davidopp commented on #22623
cc/ @colemickens

[2016-03-14 20:11] derekwaynecarr commented on #22045
I opened https://github.com/kubernetes/kubernetes/pull/22951 which should reduce incidence of the flake when running a single kube-apiserver since it will eliminate the watch notification delay by forcing a live-lookup of the latest namespace state after its deleted.

[2016-03-14 20:17] lavalamp commented on #22858
@liggitt you mean whether the client has a way to *enable* that check?

[2016-03-14 20:18] lavalamp commented on #22540
No-- the global timeout *must* be longer than any other timeout.

[2016-03-14 20:18] rwillard commented on #22950
http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_pod

[2016-03-14 20:21] lavalamp commented on #22908
Yup, WAI :)

(sidenote YAY we caught this in advance for once!)

[2016-03-14 20:21] #22908 closed

[2016-03-14 20:25] thockin opened #22952 "kube-proxy could reject packets for service IPs on non-service ports"
This might require some non-trivial restructuring of the iptables rules.  Lower prio

[2016-03-14 20:25] liggitt commented on #22858
no... `TLSInfo.ClientConfig()` never returns a `&tls.Config{}` with `InsecureSkipVerify` set to true.

[2016-03-14 20:28] smarterclayton opened #22953 "Use of Docker in release build should work over a remote daemon"
Currently the use of Docker in the build steps require colocated client and daemon due to filesystem mounts.  We should use docker build instead so that end users can perform build steps from systems that don't have Docker locally.

Spawned from #22738

[2016-03-14 20:52] lavalamp commented on #22858
Oh, you're right. That changed since I saw it.

[2016-03-14 20:53] lavalamp commented on #22858
I think admins can add their ca to the system list if they want to use self-signed certs for etcd.

Will raise priority again if I see a bunch of admins here complaining. :)

[2016-03-14 21:02] mwielgus commented on #22937
https://github.com/kubernetes/heapster/blob/master/docs/proposals/vision.md

[2016-03-14 21:02] piosz commented on #22937
https://github.com/kubernetes/heapster/blob/master/docs/proposals/vision.md#separation-of-use-cases

[2016-03-14 21:10] aanm commented on #22943
@dchen1107 With docker 1.9.1 works fine. When are you planing to support docker 1.10.X? Thanks in advance!

[2016-03-14 21:14] colemickens commented on #22612
@theobolo I'm addressing this Issue right now and wanted to circle back around to your comment. Can you elaborate on how you were deploying the Kubernetes addons? I would expect them to be able to connect to the insecure apiserver port if they were configured correctly. I don't want to add a comment to the CoreOS documents unless I really understand the issue.

[2016-03-14 21:45] theobolo commented on #22612
@about the kubernetes addons, i wasn't able to get all of them working.

My solution as you said was to configure them to connect to the insecure kube-apiserver port.
on the azure setup it's 172.18.0.12:8080 or kube-00:8080

By the way my real struggle is that the kubernetes service inside the cluster is not usable because of the certs problem and it's not mentioned in the docs.

It wasn't clear t

[2016-03-14 21:48] lavalamp commented on #22238
OK, I sent a quick PR.

[2016-03-14 21:49] kargakis commented on #21551
This is fixed now by https://github.com/kubernetes/kubernetes/pull/21661. Thanks @AdoHe

[2016-03-14 21:49] #21551 closed

[2016-03-14 21:50] lavalamp commented on #10136
@davidopp to delegate

[2016-03-14 21:50] kargakis commented on #21746
Fixed by https://github.com/kubernetes/kubernetes/pull/21972

[2016-03-14 21:50] #21746 closed

[2016-03-14 22:17] vishh commented on #22603
Would looking at the image pull duration from kubelet metrics help here?

[2016-03-14 22:34] bgrant0607 commented on #19830
cc @janetkuo

[2016-03-14 23:18] Random-Liu commented on #22943
Ref #19720
I'll have take a look.

[2016-03-14 23:30] yujuhong commented on #13382
@kubernetes/sig-api-machinery

[2016-03-14 23:43] janetkuo opened #22961 "The right way for Deployments to list ReplicaSets"
In deployment controller and deployment util, we list old ReplicaSets and new ReplicaSet of a deployment by listing the ones with labels matching deployment's selector.

We should instead:

1. find the ReplicaSet that controls the pods that deployment targets (pods with labels matching deployment's selector), but this doesn't allow us to find the old ReplicaSet with 0 replicas; or
2. find the Repl

[2016-03-14 23:50] lavalamp commented on #13382
It's not obvious to me what's going on, but it sounds like it could be
caused by some component running out of available FDs? Do our AWS turn-up
scripts not give apiserver an extended number of FDs?

On Mon, Mar 14, 2016 at 4:30 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-03-14 23:56] nikhiljindal commented on #13382
I wouldnt say that its happening only on AWS. We encountered the error in our e2e tests as well.
Also, we are seeing this in requests from kubelet and kubectl so maybe the issue is with the underlying client library that both are using to contact the server.

cc @krousey

[2016-03-14 23:56] bgrant0607 commented on #20986
Done.

[2016-03-14 23:56] #20986 closed

[2016-03-15 00:00] dchen1107 commented on #13382
@nikhiljindal are the logs for those e2e tests are saved somewhere? Looks like the logs of the most recent failure are deleted already. Without those information, I don't know what we can do here.

[2016-03-15 00:03] marun commented on #18802
This was fixed by #18804

[2016-03-15 00:03] #18802 closed

[2016-03-15 00:04] dchen1107 commented on #13382
From commented https://github.com/kubernetes/kubernetes/issues/13382#issuecomment-175321858, I don't think there is a kubelet network related issue. The issue is occurred when Kubelet tries to update NodeStatus to kube-apiserver and is rejected by server.

[2016-03-15 00:05] spxtr commented on #22895
I don't think we should retry on 404.

[2016-03-15 00:07] bprashanth commented on #22895
Unless it was a race where we were checking before the thing that uploads it?

[2016-03-15 00:12] david-mcmahon commented on #19849
The best route here to avoid modifications to the semantic versioning scheme we are currently using for K8S, is to update the tooling to handle branching from a X.Y.Z tag, but maintain the 3-part version scheme.  The versioning.md doc will be updated with details.

[2016-03-15 00:12] moomou opened #22963 "Advice on troubleshooting stuck pv creation at pending state"
Hey guys, I am trying to create `pv` and `pvc` resources via `kuberctl create -f pv-definition.json` but k8s doesn't make any progress and it just kept reporting `PENDING` states for them.

Looked at `kubectl get events` and logs from `api`, `controller`, but I don't see anything related to messages to `pv` or `pvc` creation. I have the disk created beforehand on gcloud and I have verified that th

[2016-03-15 00:14] bgrant0607 commented on #17538
Dupe of #11488

[2016-03-15 00:14] #17538 closed

[2016-03-15 00:15] bgrant0607 commented on #12143
Quick list (should update as we think of more things):
* RESTMapper (apiVersion+kind to path translation)
* Resource shortnames?
* printPodBase reason summarization
* Cascading deletion #1535
* Schema validation #5889
* Conversion / dry run / eliminate round-tripping and defaulting #11488, #3955, #22431
* Node drain
* Daemonset rolling update

[2016-03-15 00:16] yujuhong commented on #22603
Not necessarily. We already know sometimes image pull requests are slow on a node, but we don't know why. Adding the metrics won't help us figure out why...

[2016-03-15 00:17] bgrant0607 commented on #12143
FYI: https://github.com/rancher/kubectld

[2016-03-15 00:20] vishh commented on #22603
It might help us deterministically identify registry issues.

[2016-03-15 00:31] jeffpeiyt commented on #13382
@dchen1107 we are in an OpenStack based private cloud and faces the same issue

[2016-03-15 00:31] caseydavenport commented on #22932
Looks like it might be an issue with the Calico install - I'm out of the office this week, but @tomdee should be able to help!

[2016-03-15 00:33] nikhiljindal commented on #13382
We had increased the number of file descriptors for apiserver before: https://github.com/kubernetes/kubernetes/pull/6353, but the error at that time was specifically: `too many open files`.
Also, in the e2e failure: subsequent requests worked fine. There was just one command that failed.

e2e logs are at http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/32142/

[2016-03-15 00:34] dchen1107 opened #22964 "Revisit Container Runtime interface"
In many threads / meetings I mentioned that we are not satisfied with today's container runtime interface due to many reasons. Here are the top reasons off my head:
- Duplicated code for supporting SyncPod for all container runtime implementations, especially with Kubernetes defined policy: StartPolicy, PullPolicy, etc. We talked about changing today's declarative API to imperative API at this low

[2016-03-15 00:49] #16835 closed

[2016-03-15 00:51] pwittrock commented on #22876
I believe nodes use the pause container when starting pods.  Does this work as intended generally?

[2016-03-15 00:51] huang195 commented on #22873
Closing this, but it is a pain to define ABAC policies on a granularity of a user. For fine-grained control, that just means a lot of repetitive rules for different users. This isn't good especially for ABAC as it impacts performance as it linearly searches each policy for matches.

[2016-03-15 00:51] #22873 closed

[2016-03-15 00:52] pwittrock commented on #22881
@lavalamp Another use case for moving kubectl logic out of a thick client.

[2016-03-15 00:53] huang195 commented on #22584
Closing this as this is a known issue. Not much can be done until the cleanup work is done in these other packages.

[2016-03-15 00:53] #22584 closed

[2016-03-15 00:56] lavalamp commented on #22881
Yeah, there's a very long tail of things like this.

On Mon, Mar 14, 2016 at 5:52 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-03-15 01:01] liggitt commented on #22873
the ABAC authorizer is more useful as a bootstrapping policy, and a minimal implementation (live updating and reusable definitions are just two things that would be needed for it to be broadly useful)

fwiw, we're working on getting reusable role definitions upstreamed from OpenShift into Kube (hopefully in the 1.3 timeframe), so you could define a role once, then assign it to users globally or wi

[2016-03-15 01:06] #22700 closed

[2016-03-15 01:10] tomdee commented on #22932
I'm looking into this now. A `cni.log` from `/var/log/calico/cni` would be really useful

[2016-03-15 01:15] pwittrock commented on #22963
@moomou We are trying to standardize keeping help / debugging questions on StackOverflow and Slack.  You will probably get a more prompt response through those channels.

[2016-03-15 01:15] #22963 closed

[2016-03-15 01:17] tobad357 commented on #22932
@tomdee here you go
[cni.log.txt](https://github.com/kubernetes/kubernetes/files/173111/cni.log.txt)

I've also included the config I'm using

[code]

[2016-03-15 01:21] tobad357 commented on #22932
Reupload of log with only relevant parts
[partial_log.txt](https://github.com/kubernetes/kubernetes/files/173123/partial_log.txt)

[2016-03-15 01:22] tomdee commented on #22932
@tobad357 Thanks, I'm taking a look now.

[2016-03-15 01:26] tobad357 commented on #22932
@tomdee for your information I ran same version of calico under 1.2-alpha.7 and don't have issues however I do see similar things in the logs..
I can also see that an IP has been assigned to the pod if I do kubectl desribe pod on beta.1

[2016-03-15 01:26] caseydavenport commented on #22932
I took a look at the logs (couldn't resist) and it looks like the Calico CNI plugin is doing what I'd expect.

From the logs:
[code]

It reports that it creates `eth0` in the pod namespace right before kubelet reports that `eth0` doesn't exist.  I'd be interested to know which one is telling the truth...

The Calico CNI plugin would notice if the pod was running with host networking, and it wouldn

[2016-03-15 01:35] tobad357 commented on #22932
@caseydavenport Host networking isn't used unless I've screwed up completely
All pods call each other on the 10.240 network and services on 10.241
The hosts are on 172.16

[2016-03-15 01:35] bgrant0607 commented on #22603
Removed from 1.2 until we get more data about frequency and/or cause.

[2016-03-15 01:39] bgrant0607 commented on #22884
@nikhiljindal are you working on this?

[2016-03-15 01:45] nikhiljindal commented on #22884
Yes am working on this right now

[2016-03-15 01:46] ixdy opened #22967 "unit/integration flake: curl aborted while installing etcd"
http://pr-test.k8s.io/22949/kubernetes-pull-test-unit-integration/18401/
[code]

Seems like a github.com flake? Could probably retry this, but not sure whether it's worth it.

[2016-03-15 02:02] AdoHe commented on #22540
I must hang my head, definitely the global timeout must be longer than any other timeout.

[2016-03-15 02:12] AdoHe commented on #22881
@lavalamp so anything we can do now?

[2016-03-15 02:15] AdoHe commented on #22909
@brendandburns could you confirm this?

[2016-03-15 02:26] #22238 closed

[2016-03-15 02:29] tomdee commented on #22932
I'm struggling to get to the bottom of this. This piece of code is where the kubelet error is coming from - https://github.com/kubernetes/kubernetes/blob/v1.2.0-beta.1/pkg/kubelet/network/cni/cni.go#L145

It would seem that GetContainerIP is returning the string "Device "eth0" does not" and not signalling an error. That is then tripping up net.ParseCIDR.

I'll continue working on this tomorrow - s

[2016-03-15 02:45] nikhiljindal commented on #22884
Am not sure whats the best way to determine if the test is being run as part of the upgrade suite.
@ihmccreery Is there an env var or textContext has some info that I should use?

I see that textContext.repoRoot has `kubernetes-upgrade-gke-1.1-master` in its path (the exact value is `/jenkins-master-data/jobs/kubernetes-upgrade-gke-1.1-master-step1-deploy/workspace/kubernetes/`), which I can use?

[2016-03-15 02:54] yahavb opened #22968 "Mapping VMs to Pods using Guestbook sample"
Hello - I'm new to kubernetes and I just finish to work on the Guestbook sample. As indicated in the tutorial, after issueing the command kubectl scale --replicas=5 rc front-end I get 5 replicas for the frontend service. However, when I look at my list of VMs in my Compute Engine project is see only three VMs provisioned. Is there any way to understand how the 5 services/pods are deployed across t

[2016-03-15 03:00] nikhiljindal commented on #22884
Sent https://github.com/kubernetes/kubernetes/issues/22884 which uses RepoRoot

[2016-03-15 03:09] zhouhaibing089 opened #22970 "Node Periodically Cleanup"
I felt that there should be something which handles removing stopped container and unused images. If there is not, the disk space will take up full as the time goes by.

I see there is a `imageManager` inside the package `kubelet`, which seems like a GC for images when disk usage is high, however, for the stopped/killed container, it seems there is no such cleanup.

When I setup a vagrant kubernet

[2016-03-15 03:48] rata commented on #21877
Hi, just curious: is it expected that multi AZ kubernetes cluster on AWS will make it to v1.2?

[2016-03-15 03:51] AdoHe commented on #22970
@zhouhaibing089 `ContainerGC` should be what you want. refer here for more detail [https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L441](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L441)

[2016-03-15 04:34] tobad357 commented on #22932
Hmm this may be a timing issue.
I added some debug logs around the line above and then the error statement goes away.
I'm also pretty sure I've seen this error in alpha7 which means the issue with eth0 may not be the issue causing restarts but still filling the logs with red herrings.
Not sure though

[2016-03-15 04:41] zhouhaibing089 commented on #22970
@AdoHe I do meet a case that the node become read-only, But anyway, I am going to do some study here.

[2016-03-15 04:44] davidopp commented on #22937
#22940 merged, so closing this issue.

[2016-03-15 04:44] #22937 closed

[2016-03-15 04:44] pgmahesh opened #22973 "Way to identify Master IP public address"
Hi,

I am not sure if this needs to be raised as an issue; However , I do not find any provision to find the corresponding Master public IP address from the application that I run in POD?. ( say I create a kubernetes cluster A, with Master public IP address x.x.x.x; and I create a pod with my app (say a golang or J2ee) on a kubernetes minion belonging to that cluster A. from the App process that i

[2016-03-15 04:45] davidopp commented on #21563
Moving to next-candidate, upgrading to P1.

[2016-03-15 04:46] davidopp commented on #21547
ping?

[2016-03-15 04:46] davidopp commented on #20738
Moving this to next-candidate, upgrading to P1.

[2016-03-15 04:47] davidopp commented on #18367
ping @aronchick -- what do you have in mind here?

[2016-03-15 04:47] davidopp commented on #17575
ping @quinton-hoole

[2016-03-15 04:50] davidopp commented on #21500
Moving this to next-candidate

[2016-03-15 05:09] zhouhaibing089 commented on #22973
Maybe what you actually want is the address of `kube-apiserver`?

[2016-03-15 05:18] saad-ali opened #22975 "Review when auto-provisioned volumes be auto-deleted"
We need to think through the logic that triggers deletion of auto-provisioned volumes. When should it happen? As soon as a PVC is deleted? Should there be a grace period if the PVC is re-created? Are there race conditions in that logic?

@kubernetes/sig-storage @kubernetes/rh-storage

[2016-03-15 05:20] saad-ali commented on #22975
Will this logic currently delete the PV object if the actual disk is still attached?

[2016-03-15 05:23] jay-lau opened #22976 "Bind IP Address to the Pod"
Does Kubernetes have the feature of binding an IP address to a a Pod, even if the Pod restarted, it will still get its old IP?

[2016-03-15 05:36] pgmahesh commented on #22973
Yes. You are right.

[2016-03-15 05:42] liggitt commented on #22920
still not sure what the priority on this should be... would like @erictune to weigh in

[2016-03-15 05:43] liggitt commented on #22920
marking priority to match associated PR until we're sure this isn't blocking

[2016-03-15 05:47] luxas commented on #22876
@pwittrock Yeah, If one specifies `--pod_infra_container_image` to kubelet. But there are discussions about auto-detecting the arch for pause and kubelet defaults to the arch-specific pause image.

But here the `kubelet_perf` spins up `gcr.io/google_containers/pause` without leaving it possible to customize via a flag. That's the issue. But now, when #19905 is merged, it's possible for the `e2e` b

[2016-03-15 05:53] viglesiasce commented on #22976
You can bind the IP to a service and put pod(s) behind the service. Check out http://kubernetes.io/docs/user-guide/services/#choosing-your-own-ip-address

[2016-03-15 05:54] davidopp commented on #10136
Hey @mikedanese how would you like to own addon updater? Currently implemented in https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-addons/kube-addon-update.sh
but I assume your cluster deployment work will eventually sweep this up.

[2016-03-15 05:55] viglesiasce commented on #22973
You can use the dns name: kubernetes.default

[2016-03-15 05:57] viglesiasce commented on #22968
Kubernetes itself does not handle autoscaling of the cluster. It will bin pack the containers onto the existing cluster. You can use the following if your are using GKE:
https://cloud.google.com/container-engine/docs/resize-cluster

[2016-03-15 06:48] tobad357 commented on #22932
Some more information
All works well with 1.2-beta.0
The issue with constantly restarting containers still happens with 1.2-beta.1

[2016-03-15 06:52] gmarek commented on #16943
@yujuhong - yes I can. I plan on rethinking our scale testing this week, as they consume a lot of resources. I'll take high-density testing into account.

[2016-03-15 07:31] openxxs commented on #17994
Thanks @vishh , `--docker-root=/opt/docker` is really helpful. Kubernetes image GC works fine now.

[2016-03-15 07:58] wojtek-t opened #22978 "Lack of apiserver logs from kubemark-scale"
We are not able to debug kubemark-scale failure due to lack of apiserver logs.
The problem is the consequence of the following log:

    Uploading to gs://kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/885 (attempt 1)
    Error copying file:///var/lib/jenkins/jobs/kubernetes-kubemark-gce-scale/workspace/_artifacts: CommandException: Inadequate temp space available to compress file:///var/li

[2016-03-15 07:59] wojtek-t commented on #22978
@spxtr - can you please take a look what can we do with it?

[2016-03-15 08:25] fgrzadkowski commented on #22797
@bgrant0607 SGTM. I guess it's a policy decision so if we decide to update all design docs I'm fine with this :)

[2016-03-15 08:28] piosz opened #22979 "Release stable version of Heapster for Kubernetes 1.2"
cc @bgrant0607 @davidopp @fgrzadkowski @mwielgus

[2016-03-15 08:37] jsafrane commented on #22975
PVs with `PersistentVolumeReclaimPolicy: Delete` will be deleted when appropriate claim is deleted.  When it fails e.g. because tho volume is still attached to a node, the controller tries to delete the volume again in the next update (10 minutes by default), up to 3 times by default (kube-controller-manager --pv-recycler-maximum-retry X).

Currently it's not possible to check if the PV is attache

[2016-03-15 08:40] gmarek opened #22980 "Refactor e2e tests to use prometheus metrics across the board"
cc @Random-Liu @jayunit100 @yujuhong @timothysc @kubernetes/sig-testing

[2016-03-15 09:08] ksr1 commented on #22922
Was able to resolve the issue by restarting the following pods:
heapster-v11
kube-dns-v9
monitoring-influxdb-grafana-v2

[2016-03-15 09:08] #22922 closed

[2016-03-15 09:20] gmarek commented on #22980
I'm aware of following data structures currently used (all files in `test/e2e`):
- `KubeletMetrics` (kubelet_stats.go)
- `containerResourceUsage` (kubelet_stats.go)
- `LatencyMetric` (metrics_util.go)
- `PodStartupLatency` (metrics_util.go)
- `SchedulingLatency` (metrics_util.go)
- `SaturationTime` (metrics_util.go)
- `APICall` (metrics_util.go)
- `LogsSizeData*` (log_size_monitoring.go)
- `Resour

[2016-03-15 10:40] adaam commented on #17626
I found the reason why delete timeout.
It's because the security group of ELB are still stay at minion's security group.
Seems before create ELB, it will create SG(Security Group) A and insert SG A to allow all traffic to minions. Then it create ELB and use SG A as its SG.

When delete, THe process just delete the ELB and want to delete SG A, but SG A still at minion's SG act as a rule, so delete

[2016-03-15 10:44] bryk commented on #12143
RESTMapper (apiVersion+kind to path translation)
Resource shortnames?
printPodBase reason summarization
Cascading deletion #1535
Schema validation #5889
Conversion / dry run / eliminate round-tripping and defaulting #11488, #3955, #22431
Node drain
Daemonset rolling update

Add `kubectl create/apply` here. From what I've seen this is what most most projects embed kubectl for (including the UI).

[2016-03-15 10:50] hehailong5 opened #22981 "does kubernetes support random publish port in Pod?"
like the option -P in docker, a random publish port will be allocated. is there a working way in the kubernetes to achieve the same? I see the "hostPort" in the Pod can be used to specify the publish port, but when doing scaling in the same node, this would run into port collision.

[2016-03-15 10:57] soltysh commented on #22920
@bgrant0607 actually @liggitt created Job using the internal representation (`extensions` vs `v1beta1`), in which case the `manualSelector` is not set which means the selector should be generated (same as for `batch/v1`). For `v1beta1` there's no `manualSelector` but `autoSelector`, which has the opposite meaning, for backwards compatibility. That's why I'm giving his PR LGTM. @erictune agreed?

[2016-03-15 11:37] gmarek commented on #21083
It's done.

[2016-03-15 11:37] #21083 closed

[2016-03-15 11:38] gmarek commented on #18570
perf-dash.io is running.

[2016-03-15 11:38] #18570 closed

[2016-03-15 12:25] jayunit100 commented on #22980
Thanks for creating this @gmarek ; Can you rename the issue ? As of now, it sounds more like a "statement of fact" than an issue.

[2016-03-15 12:45] izogain opened #22983 "[question] Scaling down the pods"
Hi,
I was wondering if there is a way to tell kubernetes which pods to terminate first when changing the replicate value to a lower number.
Thx.

[2016-03-15 12:51] alexkappa opened #22984 "kubelet --hostname-override is ignored in v1.2.0-beta.1"
Running `kubectl get nodes` shows the master node name in the default aws format.

[code]

The `kubelet` is started using the following options. I only started seeing this when I used the `--register-schedulable=false` (`kubectl get nodes` wouldn't list the master node previously).

[code]

I believe this is causing new nodes to not be able to register, as I am getting the following errors on a ne

[2016-03-15 12:58] lgreenlee commented on #22950
Thanks, this helpful but it is very difficult to construct a working configuration file from that document alone. These fields map to configuration values in the files but there is no discussion of the actual syntax. Links to "spec" for example, a rather important section of the configurations is largely unexplained: https://github.com/kubernetes/kubernetes/blob/release-1.2/docs/devel/api-conventi

[2016-03-15 13:19] jimmycuadra commented on #15546
Using HTTP for the health check and as described by dhawal55 gets the job done.

[2016-03-15 13:25] piosz opened #22986 "Cannot create pod with the same name as a pod that has already finished"
I created pod with the following command:
[code]
The pod has finished successfully. The pod is not displayed in pod list, although when I try to run a pod with the same name I've got an error:
[code]

@bgrant0607 not sure if this works as intended. If yes it's at least very confusing.

cc  @fgrzadkowski @gmarek

[2016-03-15 13:29] jbeda commented on #8190
Agree with @smarterclayton on services.  They are a bit of a kitchen sink right now that conflate a bunch of things:
* Named label query for service discovery
* configuration information for kubeproxy (including ClusterIP allocation)
* external access control (via LB or not)

The fact that there is a "type" field smells wrong.

I'd love to see a way for other folks to replace the kube proxy with "

[2016-03-15 13:50] timothysc commented on #22980
@gmarek is the plan to push through the gateway arg if present.?.?

/cc @jeremyeder

[2016-03-15 13:53] gmarek commented on #22980
@timothysc - not yet. First we'd just like to use prometheus metrics (or rather samples) as a structure to store the data.

[2016-03-15 13:53] mark9white commented on #18387
Not sure if this is the right place to post, but it seems this is a subset of providing more general configurability over google-fluentd.conf. Another use-case would be allowing structured logging (ie JSON) from container output instead of just text logging.

[2016-03-15 13:58] timothysc commented on #22980
We need to label the metrics appropriately for a given test run.

Also I would like to ensure that we don't tie ourselves to tightly to any one technology.  Perhaps a set of wrapped metrics operations in the e2es utils.

[2016-03-15 14:04] justinsb opened #22987 "non_masquerade_cidr broken in 1.2"
non_masquerade_cidr isn't working in 1.2  It's a salt error I made, and we're working on it in #22879

[2016-03-15 14:05] justinsb commented on #22987
Not sure if this is really P1, but I'm treating it as one... non_masquerade_cidr really matters to users that use it!

[2016-03-15 14:06] huang195 opened #22988 "Allow ABAC authorizor to load policy file from etcd"
I'm interested to have ABAC module to load the policy file directly from ETCD. This is useful for a multi-apiserver HA setup as they're already using the same ETCD cluster and having a policy file replicated to multiple nodes is just less clean.

[2016-03-15 14:10] huang195 commented on #22988
I'm thinking the way for ABAC to differentiate between loading from a local file vs. ETCD is that ETCD should always start with etcd://, e.g., etcd://path/to/policy/file.

cc @smarterclayton @liggitt @erictune This is a small change. What do you think?

[2016-03-15 14:13] timothysc commented on #8132
xrefs: https://github.com/kubernetes/kubernetes/issues/22941
https://github.com/kubernetes/kubernetes/pull/22982

[2016-03-15 14:20] huang195 commented on #22988
By default, we can assume the list of ETCD servers that ABAC should load from are what the apiserver also uses. However, user should be allowed to specific a different set of ETCD servers, e.g., `--authorization-policy-file=etcd://1.1.1.1:2379/policy,etcd://1.1.1.2:2379/policy,etcd://1.1.1.3:2379/policy`, but this looks kind of ugly.

[2016-03-15 14:21] AdoHe commented on #22984
@alexkappa IIRC if you are using a cloud provider, kubelet  will query cloud provider for the node name, and when kubelet register the node, this node name is used as the `ObjectMeta.Name`, the host name is used as one of the node labels. @dchen1107 for more detailed explanation.

[2016-03-15 14:24] huang195 commented on #22988
another complication is http vs. https for reaching etcd. Now to think about it, it might be OK just to default to the list of etcd servers that the apiserver is using, and then one just need to specify `--authorization-policy-file=etcd://path/to/file`

[2016-03-15 14:35] luebken opened #22990 "`make quick-release` for release-1.2 on mac 10.11.3 fails"
[code]

[2016-03-15 14:36] luebken commented on #22255
+1
increased VM memory as @chenchun suggested

but than I ran into https://github.com/kubernetes/kubernetes/issues/22990

[2016-03-15 14:36] gmarek commented on #22980
I imagined something along those lines. I hope that @Random-Liu will want to work on it, and I'll just allow him to decide. If not I'll probably pick it up in ~two weeks.

[2016-03-15 14:41] justinsb commented on #21877
@rata: yes.  WIP docs should now work with master (and possible beta.1)... https://github.com/kubernetes/kubernetes/pull/20044  I'm working on polishing these up to be less WIP!

[2016-03-15 14:45] pgmahesh commented on #22973
Sorry I did not get you. Are you suggesting to use the DNS Name of the API Server in the App that I am deploying on to minion?.

If so that may not work, as the same app can undergo multi cluster deplyment.

[2016-03-15 15:00] huang195 commented on #22988
xref: #18565
xref: #17440

[2016-03-15 15:04] liggitt commented on #22988
I don't think I want to add side-loading objects from etcd using a non-API method

[2016-03-15 15:05] AdoHe commented on #22986
/cc

[2016-03-15 15:12] aanm commented on #1443
Any ETA?

[2016-03-15 15:16] wojtek-t opened #22991 "e2e flake: "PreStop [It] should call prestop when killing a pod" is flaky"
â€¢ Failure [308.652 seconds]
    PreStop
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pre_stop.go:167
      should call prestop when killing a pod [Conformance] [It]
      /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pre_stop.go:166

      waiting for server pod to start
      Expected error:
          <*errors.errorString |

[2016-03-15 15:19] zhouhaibing089 commented on #22973
@pgmahesh the dns name inside the cluster, not actually the dns name of the node.

[2016-03-15 15:28] smarterclayton commented on #8190
We've started conceptually making services the center of our application
design universe (which has been discussed a few times in various threads
around the future of services but is worth rehashing here).  Objects above
services try to line up in a 1:1 way (even if they're 1:N, it's really 1:1,
1:2-N) so that there is a logical default.  Some examples of that are
routes (ingresses) which we by co

[2016-03-15 15:32] MalteJ commented on #1443
I don't think anyone is working on this.

[2016-03-15 15:32] therc commented on #22366
cc @jimmidyson

[2016-03-15 15:33] therc commented on #22222
cc @jimmidyson

[2016-03-15 15:34] ndtreviv commented on #19113
+1 I'm using ECR on Kubernetes deployed to AWS, but just get PullImageError on all the pods.
The total set of instruction I have come across is to prefix the image part of the config with the ECR dets, eg:

`ID.dkr.ecr.REGION.amazonaws.com/IMAGE:TAG`

But it's not working :(

Using kube cluster setup scripts from here: curl -sS https://get.k8s.io | bash

[2016-03-15 15:36] jimmidyson commented on #22222
Where would the cluster name come from?

[2016-03-15 15:45] therc commented on #21285
The proxy seems to work well. I'm going to be running tests to look for dropped entries, but it's been able to handle 20G/day before replication without issues.

So, what's the next step?

We could either recommend the proxy+fluentd-elasticsearch setup or have yet another image as I originally suggested. I have a couple of issues open regarding the existing image. One is for reliability (#22366, s

[2016-03-15 15:46] pires commented on #1443
GCE and AWS don't support IPv6 so I'd figure this is very-low priority stuff.

[2016-03-15 15:47] #22182 closed

[2016-03-15 15:57] therc commented on #22222
Downward API? Passed explicitly by the admin?

[2016-03-15 16:00] therc commented on #22222
Just to be clear: I'm referring to the case where more than one Kubernetes cluster forwards to the same ES cluster, not the other way around. They are all set up to talk the same endpoint. If you do that, though, there's no easy way to tell if a log entry came from Kubernetes cluster A or B. You need to correlate with pod names running at the time in both.

[2016-03-15 16:22] screeley44 opened #22992 "UXP: kubelet volume mount errors are not surfacing properly for true root cause in 'kubectl describe' leading to confusing generic error message on failed mounts"
fyi @smarterclayton @pweil @pmorie
When using PV/PVC for Persistent Volume volume mounts, if something goes wrong in the builder, a generic error is surfaced in the 'kubectl describe' with the following event error description *unsupported volume type":

[code]

This only occurs when using the PV/PVC abstraction and not directly using a volume plugin.  These type of errors are common when using vo

[2016-03-15 16:32] alexkappa commented on #22984
@AdoHe indeed when `--cloud-provider` is set, `--hostname-override` is ignored. Should that be documented maybe? I could have saved me some trouble.

My particular issue was that my nodes kubelet didn't have `--cloud-provider` set so `--hostname-override` was in effect thus resulting in two different host naming conventions.

Thanks!

[2016-03-15 16:46] jeremyeder opened #22994 "Make maximum number of EBS attached volumes a tunable option"
We would like to be able to override the maximum number of EBS volumes attached to one node.  It can be wrapped in warnings about non-support etc....  The purpose is to do exploratory work on that limit, without having to recompile the application.

One suitable option is mentioned by @jsafrane here:  https://github.com/kubernetes/kubernetes/pull/22942#issuecomment-196797324

IOW, add KUBE_MAX_PD_

[2016-03-15 16:52] pmorie commented on #22992
I haven't had a chance to look at your proposal in detail yet, but I agree this is one of the most confusing things new users hit

[2016-03-15 17:03] SuperQ commented on #1443
What part of IPv6 isn't working?  I've been able to scrape targets over v6
juts fine.

For example:
  target_groups:
  - targets: ['[::1]:9090']

There are some strangeness with host:port specs in Go.
https://golang.org/src/net/ipsock.go#L107

On Tue, Mar 15, 2016 at 4:14 PM, André Martins <notifications@github.com>
wrote:

[2016-03-15 17:04] ihmccreery commented on #22884
I assume you meant #22969.

Use `serverVersionGTE`, (in `e2e/util.go`).

[2016-03-15 17:05] SuperQ commented on #1443
I'm sorry, too many mailing lists.  I got this confused with the Prometheus
list. *SIGH* :)

On Tue, Mar 15, 2016 at 6:03 PM, Ben Kochie <superq@gmail.com> wrote:

[2016-03-15 17:06] ihmccreery commented on #22884
There are constants at the top of `e2e/kubectl.go` that provide similar functionality to what you're looking for, I think.

[2016-03-15 17:08] ArtfulCoder commented on #22976
@jay-lau I am closing this issue. If your requirement is not met by cluster-ip, please re-open the issue.

[2016-03-15 17:08] #22976 closed

[2016-03-15 17:14] ebreton commented on #18884
Same question here. I have found some hint about using ingress in that matter, but nothing close to a tutorial, not mentioning adapted to this example :)

[2016-03-15 17:15] spxtr commented on #22672
Core jobs are all in. These are our feature labels in 1.2. Which should we run? We are already hitting upgrades and scalability suites.
[code]

[2016-03-15 17:27] huang195 commented on #22988
@liggitt I'm looking for a quick but clean way for ABAC to take input from a REST storage rather than from a local file. If I'm understanding the xrefs correctly, eventually all the runtime authorization policies should be stored in the Kubernetes etcd. When the authorization policy needs to be changed, well defined API methods will be invoked to allow these changes and persist them into the etcd.

[2016-03-15 17:27] justinsb commented on #22987
Fixed by #22989

[2016-03-15 17:27] #22987 closed

[2016-03-15 17:31] pwittrock commented on #19681
This has been failing pretty consistently in the gce 1.2 soak cluster

kubernetes-soak-continuous-e2e-gce-1.2

[2016-03-15 17:33] spxtr commented on #22978
https://cloud.google.com/storage/docs/gsutil/commands/cp#changing-temp-directories

Seems reasonable to set this to something in the workspace for the upload. This should get better once we're using multiple Jenkins machines to run e2e tests.

[2016-03-15 17:39] liggitt commented on #22988
Right. In general, I don't think it's a good idea to have more things talking to the etcd used to store API objects, in order to store non-API objects. Maybe I'm misunderstanding the proposal.

[2016-03-15 17:41] ihmccreery opened #22996 "Version-skewed client/master causing `fullyLabeledReplicas` errors in Kubectl apply"
When Kubectl is at v1.2 and master is at v1.1:

**Kubectl client Kubectl apply should apply a new configuration to an existing RC**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:537 Expected error: <errors.errorString | 0xc2084e5b20>: { s: "Error running &{/jenkins-master-data/jobs/kubernetes-upgrade-gke-1.1-1.2-step1-deploy/workspace/kubernetes/platfo

[2016-03-15 17:43] ihmccreery commented on #22996
@nikhiljindal Can I assign this to you to work on with #22884?

[2016-03-15 17:44] yujuhong commented on #22991
This is #20550.

[2016-03-15 17:56] yujuhong commented on #22970
@zhouhaibing089, for a complete documentation of image/container garbage collection, see http://kubernetes.io/docs/admin/garbage-collection/
Kubelet does remove exited containers with a few pre-defined thresholds (e.g., max global #containers, max containers per pod, etc).  We recently just added a new feature (#8347) to aggressively delete containers associated with deleted pods. Let us know if y

[2016-03-15 18:05] simonswine opened #22998 "Problem enabling --cloudprovider=aws in release-1.2"
Hi everyone,

I have just tried to upgrade my 1.2.0-alpha7 cluster to the latest beta and the AWS cloudprovider stopped working on the kubelet. I never see "Node sucessfully registered" on any version newer than alpha7.

(Maybe related to #22984)

Here the log outputs:

* alpha.8, first broken version:
[code]

* alpha.7, working fine
[code]

There are actually a lot of changes between this two tag

[2016-03-15 18:07] ihmccreery commented on #22996
EDIT: this is for v1.1 to v1.3, not v1.2.

[2016-03-15 18:07] huang195 commented on #22988
Put it more concretely, we have 2 etcd clusters in our environment, where 1 is used for kubernetes, and 1 is used for storing other configuration information. I'd like to put my abac policy file on the latter. This, however, doesn't work as abac can only load the file locally, not from etcd. So what I'm proposing is to have abac to also be able to load file directly from etcd (i.e., the one not us

[2016-03-15 18:09] huang195 commented on #22988
I realized maybe the title was confusing. Hopefully this clarifies it.

[2016-03-15 18:11] yujuhong commented on #22980
I asked @Random-Liu to help with the dashboard changes so that we have minimum regression tracking. He doesn't have cycles to commit to the larger-scale refactoring now, but we'll help when we can.

[2016-03-15 18:27] vishh commented on #20895
@cyphar: Were you able to make any progress?

[2016-03-15 18:30] ihmccreery commented on #22996
Or, rather, I'm not sure if it's for v1.2, because our jobs were configured wrong.

[2016-03-15 18:35] erictune commented on #22920
As mentioned [at the end of this commit description](https://github.com/kubernetes/kubernetes/pull/21776/commits/875755f992ada8639229b010a0a22d1f943e499b), but obviously not called out well enough:
`Users who are creating extensions.Job go objects and then posting them using the go client
will see a change in the default behavior.  They need to either stop providing a selector (relying on
selector

[2016-03-15 18:45] therc opened #23001 "Fluentd writes to the same index for all namespaces"
It would be nice to have logs end up in different indices based on a pod's namespace.

It looks like the ES plugin has a new feature in 1.4, which takes priority over `logstash-format`
https://github.com/uken/fluent-plugin-elasticsearch#target_index_key

[2016-03-15 18:47] erictune commented on #22920
I'm reclassifying this as P2.

[2016-03-15 18:55] gmarek commented on #22980
@timothysc @jayunit100 - can any of you find some cycles to help with it? If not it'll need to wait until someone will be able spend a nontrivial amount of time working on it.

[2016-03-15 19:22] ihmccreery commented on #22996
Looks like this applies to v1.2 as well as v1.3:

http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-stable-1.2-step2-kubectl-e2e-new/27/

[2016-03-15 19:25] erinboyd commented on #22992
@screeley44 another one is when gluster endpoints are missing, we get 'unsupported volume type'
@pmorie with your work extrapolating the permissions for NFS to automatically set supplemental groups, is there also a way to indicate more properly it's a permissions issue for it not mounting?

[2016-03-15 19:34] screeley44 commented on #22992
@erinboyd - the above discussion highlights the missing endpoints as the first example, it also discusses a similar rbd issue (missing secret file) but the point is, any of those type of volume plugin type of errors would be surfaced by adding the event in the volumes.go

[2016-03-15 19:45] #22884 closed

[2016-03-15 19:49] #22979 closed

[2016-03-15 20:10] Random-Liu commented on #22980
@gmarek I'm really sorry that I have no cycles for the big refactoring. However, after the framework is set up, I'd be happy to port the kubelet metrics to new framework. :)

[2016-03-15 20:13] paralin opened #23004 "GCE upgrade script is dangerously unreliable in some situations"
This happens when I tried to do an upgrade:

[code]

I actually did have kubectl compiling in the background and didn't realize it hadn't finished when I did the upgrade. But this resulted in a broken cluster. Initially it couldn't find the master, as it has deleted it. I did some frantic hacking.

[code]

Manually overrode this with "kubernetes" and skipped the existing master checks, and now I h

[2016-03-15 20:13] ihmccreery commented on #22996
@caesarxuchao I assume this was caused by https://github.com/kubernetes/kubernetes/pull/22847—is that a backward incompatible change?  It looks like v1.2 masters won't accept RCs without a `fullyLabeledReplicas` field?

[2016-03-15 20:17] caesarxuchao commented on #22996
Yes, I missed the "omitempty".

What's the easiest way to reproduce? I want to verify my PR will fix it.

[2016-03-15 20:24] ihmccreery commented on #22996
Launch a cluster at v1.1 and run Kubectl tests against it at v1.2 (for the first failure) and launch a cluster at v1.2 and run v1.1 Kubectl tests against it (for the second).

[2016-03-15 20:26] timothysc commented on #22980
We can add it to the todo list, but background task more-so then 1st class.

[2016-03-15 20:30] liggitt commented on #22920
I actually wanted an automatic selector, so I stopped providing a selector... was that not right?

[2016-03-15 20:33] bgrant0607 commented on #22996
We'll want this fix, but it shouldn't block the next bulk cherrypick.
cc @eparis

[2016-03-15 20:33] bgrant0607 commented on #22996
cc @janetkuo

[2016-03-15 20:36] huggsboson commented on #4869
I notice that the turnup script and docs still have: /:/rootfs:ro and --containerized.  I assume we're good getting rid of these.

[2016-03-15 20:37] pmorie commented on #4869
@huggsboson the mount to /rootfs is also used by cadvisor, but --containerized is only relevant for switching the mounter impl.

[2016-03-15 20:45] bprashanth opened #23007 "Kubectl shouldn't print throttling debug output"
This might be fixed in newer clusters:
[code]

[2016-03-15 20:46] luxas commented on #4869
... and we have to keep backwards-compability. Sadly.

[2016-03-15 20:47] pmorie commented on #4869
@luxas always :)

[2016-03-15 20:49] gmarek commented on #22980
Same on our side. This means that we should proceed with current @Random-Liu PR. I'll look at it tomorrow.

[2016-03-15 20:49] huggsboson commented on #4869
So we should keep /:/rootfs in there?  Or do we not run cadvisor as part of the containerized kubelet?  Sorry I'm not as familiar with cadvisor as I should be.

[2016-03-15 20:52] derekwaynecarr opened #23008 "Extremely high CPU usage in Kubelet on systemd nodes"
For each cgroup in the cgroupfs tree, cAdvisor is collecting network stats using the pid of the launching process.  On a systemd node where everything is managed in a cgroup by default, there are very large numbers of nodes in the cgroup tree!  This logic error in cAdvisor causes network stats to be read over and over again for the same pid for each cgroup in the tree.  The fix is to only read net

[2016-03-15 20:53] derekwaynecarr commented on #23008
/cc @vishh

[2016-03-15 20:55] luxas commented on #4869
`cAdvisor` is a must, but I haven't encountered any problems although I removed `/:/rootfs`.
@pmorie Do you have any code I could look at for curiousity?

[2016-03-15 21:02] tomdee commented on #22932
I'm still looking at this but struggling to reproduce it. @pmorie - have you make any changes in this area? @thockin said that you might have.

[2016-03-15 21:02] pmorie commented on #4869
@luxas I don't readily, but I could be mistaken.  Let me do a little digging and get back to you.

[2016-03-15 21:04] bprashanth commented on #22932
@dcbw

[2016-03-15 21:07] cyphar commented on #20895
@vishh Unfortunately no, there's a lot of things that need to be updated. Sorry for not posting an update.

[2016-03-15 21:08] yifan-gu opened #23010 "kubenet doesn't work on gce"
I am trying to launch a gce cluster with kubenet as plugin.

[code]

But the add-on pods never get running. I keep seeing errors:

[code]

However the path `/opt/cni/bin/bridge` does exist. But I noticed that I cannot execute the binary:

[code]

Further experiments show that the binaries that salt downloads from [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/cni

[2016-03-15 21:15] freehan opened #23011 "NETWORK_PROVIDER=kubenet broken on GCE"
Event for a pod:
[code]

The cni plugins do exist at /opt/cni/bin. They cannot be executed and bash is complaining:
[code]

[2016-03-15 21:16] yifan-gu commented on #23010
duplicate #23011

[2016-03-15 21:16] #23010 closed

[2016-03-15 21:17] yifan-gu commented on #23011
cc @dcbw @kubernetes/sig-network

[2016-03-15 21:25] eliaslevy commented on #17084
@bprashanth Apologies for the late reply.  I've been traveling for a number of weeks.

You've found the correct commit.  Specifically, the line that sets the masquerade rule is https://github.com/eliaslevy/coreos-kubernetes/blob/992ca32440f82917a910738610a1d7e9b6baba30/multi-node/aws/artifacts/scripts/install-worker.sh#L73.

As you may have noticed, I am not using the `kube-up.sh` provisioning scr

[2016-03-15 21:32] bprashanth commented on #23011
I'm guessing this is a shared lib problem, since /usr/grte/v4/lib64/ld-linux-x86-64.so.2 doesn't exist on my gce vm. We should update docs to make it clear how someone would install manually (if they run into such problems again) and statically link (if the problem is indeed the shared lib) with something like  `CGO_ENABLED=0 GOOS=linux godep go install ...`

Unsure how we'd support different GOOS

[2016-03-15 21:48] caesarxuchao commented on #22996
Explanation of the error:

The following is how the e2e test generates the data for `kubectl apply`:
[code]
Becuase FullyLabeledReplicas is not `omitempty`, `json.Marshal` applies the default value and the validation will fail because the schema pulled from the 1.1 master doesn't have this field.

[2016-03-15 21:49] caesarxuchao commented on #22996
Sent #23012 to fix.

[2016-03-15 21:54] tomdee commented on #22932
If it really is a regression from beta0 to beta1, the diff here might help - https://github.com/kubernetes/kubernetes/compare/v1.2.0-beta.0...v1.2.0-beta.1

The one change that jumps out this this one from @dcbw https://github.com/kubernetes/kubernetes/commit/bc62096ad5ea8ce15156b39cfd2333bc6f589905

[2016-03-15 21:59] nikhiljindal commented on #14318
Fixed by https://github.com/kubernetes/kubernetes/pull/22410

[2016-03-15 22:01] pmorie commented on #22932
@tomdee the changes that I made were at a higher level, and were around how the kubelet determines the pod IP to inject into:

1.  The hosts file that is bind-mounted into the container
2.  Environment variables that consume the pod IP via the downward API

Relevant PR is #22666

[2016-03-15 22:06] Calpicow opened #23013 "DaemonSet doesn't run in all nodes"
Using v1.2.0-beta.1. Deployed a DaemonSet with no node selector, but it's not running in all of them.

The two that are running are the ones with SchedulingDisabled.

[code]

[code]

[2016-03-15 22:06] bgrant0607 commented on #12143
@bryk Apply, I get.  What part(s) of create?

[2016-03-15 22:10] bprashanth commented on #17084
I think @justinsb should be able to help with AWS setup scripts, we can try to get this for 1.2.X

[2016-03-15 22:15] bgrant0607 commented on #22979
@piosz An issue helps for tracking, but more details would be useful in the future.

[2016-03-15 22:17] bgrant0607 commented on #22797
@fgrzadkowski Yes, please file an issue that we should update proposals and design docs. Some of them should really be converted to user docs, too.

[2016-03-15 22:19] bgrant0607 commented on #22920
@liggitt automaticSelector isn't true by default for v1beta1

[2016-03-15 22:20] bgrant0607 commented on #22986
@piosz Finished != deleted. WAI

Do `kubectl get pods --show-all`

[2016-03-15 22:21] bgrant0607 commented on #22986
We intentionally don't delete pods when they finish so people can see what status they finished with.

[2016-03-15 22:21] bgrant0607 commented on #22986
We should definitely document this behavior, though.

[2016-03-15 22:22] janetkuo opened #23014 "Implement --record in for all kubectl rollout subcommands"
Otherwise, those commands won't be recorded as change-cause when we do `kubectl rollout history`.

@kubernetes/sig-config @kubernetes/kubectl

[2016-03-15 22:26] caesarxuchao commented on #21829
Mostly fixed in #21927. Will reopen when we have more invalid links.

[2016-03-15 22:26] #21829 closed

[2016-03-15 22:29] mikedanese commented on #23013
can I see:
[code]

Do the nodes have enough resource? Are their host port conflicts?

[2016-03-15 22:37] spxtr commented on #22672
@bgrant0607 which of the above should we get running today? Reboot is an obvious candidate but I don't know much about the others.

[2016-03-15 22:40] thockin commented on #22932
I'm bringing up a new cluster, to be 100%v sure, but given the lack of failure on e2e, it looks like this is CNI specific, yes?  I need a signal on whether this is a stop-ship - @dcbw can you confirm or deny?  Marking p0 for triage

@goltermann @bgrant0607

[2016-03-15 22:44] bprashanth commented on #22932
Make sure you grab https://github.com/kubernetes/kubernetes/issues/23011 if you're running with kubenet (which btw we can also P0 triage, I thought ship had sailed)

[2016-03-15 22:44] bgrant0607 commented on #22672
cc @piosz @bprashanth @thockin @ihmccreery Any opinions re. which e2e tests you'd like run on the release branch?

My wild guess would be whichever of the following are reasonably stable (basically, subtract out experimental features):
[code]

[2016-03-15 22:46] bprashanth commented on #22672
`[Feature:Ingress]` is good. It's was running on realease 1.1 as well.

[2016-03-15 22:46] thockin commented on #22932
I don't think #23011 is a release-blocker, and I am not 100% sure this is either.

[2016-03-15 22:47] thockin commented on #23011
uggh.  These binaries need to be ultra-static or else we need to containerize them.

[2016-03-15 22:48] jonnymbgood opened #23017 "kubectl apply fails to create when resource is not found"
kubectl version: 1.1.2 & 1.1.8
kubernetes version: 1.1.2
stack: Vagrant running CoreOS 899.5.0 (master and nodes have static ips configured)

As I understand, `kubectl apply` will create a resource if one does not currently exist. When I call `kubectl apply -f resources/bootstrap-pod.json --v=6` I get the following:
[code]

If the pod is not found, then it should be created, correct?

[2016-03-15 22:49] ihmccreery opened #23018 "SchedulerPredicates limits number of pods failing on upgraded cluster (1.1->1.2)"
**SchedulerPredicates validates resource limits of pods that are allowed to run [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scheduler_predicates.go:348 Expected : 17 to equal : 20*

[code]

View logs and artifacts at https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-upgrade-gke-1.1-1.2-step6-e2e-old/22

[2016-03-15 22:49] bprashanth commented on #22672
`[Feature:ServiceLoadBalancer]` doesn't need to be run on the release branch, see https://github.com/kubernetes/kubernetes/issues/19552#issuecomment-171017736

[2016-03-15 22:49] ihmccreery commented on #23018
This is v1.1 tests running against a cluster with both master & nodes upgraded to v1.2.

[2016-03-15 22:50] david-mcmahon commented on #22672
Can I request that we standardize on a naming convention for jobs on Jenkins?
I have some tooling that is scraping data from Jenkins, but we have different naming conventions for jobs between branches.  Some jobs use the -N.N suffix and some use the -release-N.N suffix.

kubernetes-test-go
kubernetes-test-go-release-1.1
kubernetes-test-go-release-1.2

kubernetes-e2e-gke-serial
kubernetes-e2e-gke-s

[2016-03-15 22:51] Calpicow commented on #23013
Output at https://gist.github.com/Calpicow/c25057f849061deb5f2e. `cmd` and `env` parameters removed to avoid potential security issues.

[2016-03-15 22:52] lavalamp commented on #22540
No worries, that's what I'm here for :)

[2016-03-15 22:54] saad-ali commented on #22590
That PR has been ok'd to merge.
Going to close this issue since it is a duplicate of https://github.com/kubernetes/kubernetes/issues/20564

[2016-03-15 22:54] #22590 closed

[2016-03-15 22:55] ihmccreery commented on #23018
@davidopp to triage

[2016-03-15 22:55] ihmccreery commented on #23018
I'm also looking into it.

[2016-03-15 22:56] spxtr commented on #22672
@david-mcmahon file an issue against me about that. It's something I'd like to do soon.

[2016-03-15 22:59] lavalamp commented on #22881
This requires a design. And before that, I want to make a list of everything in this category so we can make sure to move the most important things server-side first.

[2016-03-15 23:00] lavalamp commented on #22881
#12143 is the parent issue.

[2016-03-15 23:00] Random-Liu commented on #21821
@yujuhong Are you mentioning this one #9896 ? :)

[2016-03-15 23:01] david-mcmahon opened #23021 "Standardize jenkins' job names for release branches"
Can I request that we standardize on a naming convention for jobs on Jenkins?
I have some tooling that is scraping data from Jenkins, but we have different naming conventions for jobs between branches. Some jobs use the -N.N suffix and some use the -release-N.N suffix.

kubernetes-test-go
kubernetes-test-go-release-1.1
kubernetes-test-go-release-1.2

kubernetes-e2e-gke-serial
kubernetes-e2e-gke-se

[2016-03-15 23:01] lavalamp commented on #12143
Deleting replication controllers. Actually reapers in general.

I want to make a list here and tackle the most important ones for 1.3. We may need a few different designs because there's a few different categories of things.

[2016-03-15 23:02] lavalamp commented on #12143
And by "list" I mean, I want to know everything that kubectl does that a client generated from e.g. swagger wouldn't.

[2016-03-15 23:03] lavalamp commented on #12143
Describe is another one.

[2016-03-15 23:03] lavalamp commented on #12143
All the generators.

[2016-03-15 23:06] yujuhong commented on #21821
Yes! This issue is broader because it applies to all docker calls (not just the ones that can block syncloop).

[2016-03-15 23:06] lavalamp commented on #12143
@caesarxuchao do you think you can help us make a list?

[2016-03-15 23:09] #22996 closed

[2016-03-15 23:10] caesarxuchao commented on #12143
Sure.

[2016-03-15 23:18] janetkuo opened #23022 "Add a check in `kubectl rollout undo` for paused deployment"
Stop the users early and remind them to resume the deployment if they want to do a rollback on a paused deployment.

@kubernetes/sig-config @kubernetes/kubectl

[2016-03-15 23:44] dchen1107 commented on #9896
For 1.3 release, we are talking about switching to use docker client library which has timeout for most of docker API calls.

[2016-03-15 23:51] yujuhong commented on #21821
Let's merge this with #9896 to avoid duplication.

[2016-03-15 23:51] #21821 closed

[2016-03-15 23:52] yujuhong commented on #9896
Prerequisites: switch to using the docker engine-api client #20895

[2016-03-15 23:53] metral commented on #22796
Wanted to throw it out there that I too am hitting not just the influxdb brokenness in godep, but also with `errorutil` and `heapster`

[code]

I'm on master https://github.com/kubernetes/kubernetes/commit/83135047285555ca92df30075f6fb01e22c1160c

[2016-03-15 23:53] #23008 closed

[2016-03-16 00:01] errordeveloper commented on #22932
xref https://github.com/weaveworks/weave/issues/2030

[2016-03-16 00:07] justinsb commented on #17084
@bprashanth you mean 1.2.1 or 1.2.2, right?  (i.e. not 1.2.0...)

[2016-03-16 00:08] rata commented on #21877
@justinsb that's great, thanks!

[2016-03-16 00:09] errordeveloper commented on #22932
It'd be easy for me to try reproducing this with `v1.2.0-beta.0`, if that could help?

[2016-03-16 00:12] errordeveloper commented on #22932
@thockin are you thing whether this may be final release blocker or the the next alpha? How alphas are cut, by the way?

[2016-03-16 00:20] bgrant0607 commented on #22932
@errordeveloper There's 1.2.0-beta.0 and 1.2.0-beta.1.

What we thought was the last batch of cherrypicks for 1.2.0 is in #23024 and, barring problems, we expect that to merge within the hour.

Then, if tests pass consistently, we expect to build 1.2.0 tomorrow morning.

So, if we decide this is a release blocker, it is the last remaining blocker.

[2016-03-16 00:20] jeffvance commented on #22992
I like it! Is there a PR?

[2016-03-16 00:25] guoshimin opened #23026 "go template not rendered in user guide"
In the new github pages-based user doc, go templates are not rendered correctly. For example, in Kubernetes 101, the template is missing in the command:

[code]

[2016-03-16 00:30] ihmccreery commented on #23018
It looks like the test isn't registering the resource requests by some of the pods (namely fluentd and kubeproxy):

[code]

[2016-03-16 00:37] dchen1107 opened #23028 "NodeProblem API"
We should introduce NodeProblem to Kubernetes Node API, so that different daemons on the node can report machine health issues to the control-plane through Kubelet. The machine health issues include bad cpu, bad memory, kernel deadlock, corrupted filesystems, etc. Once the control-plane has the visibility to those issues, we can discuss the remedy system.

[2016-03-16 00:41] bprashanth commented on #17084
Yep I meant for X > 0, pods not being able to resolve external names sounds cherry-pick worthy to me

[2016-03-16 00:43] ihmccreery commented on #23018
It looks like this is because https://github.com/kubernetes/kubernetes/pull/18218 was never backported to 1.1.  I'm bumping this down to P1, but I'd like to get it fixed as soon as possible regardless.

[2016-03-16 00:46] thockin commented on #22932
Any confirmation would be helpful
On Mar 15, 2016 5:20 PM, "Brian Grant" <notifications@github.com> wrote:

[2016-03-16 00:50] saad-ali commented on #11398
@pmorie I'm going to close this. Please reopen if you expected different behavior.

[2016-03-16 00:50] #11398 closed

[2016-03-16 00:56] saad-ali commented on #13556
Any updates on this?

[2016-03-16 01:06] freeformz commented on #22796
What are the steps I need follow in order to reproduce these?

With a clean $GOPATH `godep restore -v` works as advertised with k8s master.

Also output with `godep restore -v` would be helpful.

[code]

[2016-03-16 01:07] errordeveloper commented on #22932
I'll be able to run my test agains `v1.2.0-beta.0` AM GMT, it's pretty late here now...

[2016-03-16 01:13] #21114 closed

[2016-03-16 01:19] fejta commented on #22967
@ixdy we most definitely want to retry! Will you send a PR?

[2016-03-16 01:23] fejta commented on #8321
It has been nearly a near without any progress, I'm getting rid of it.

[2016-03-16 01:23] #8321 closed

[2016-03-16 01:27] errordeveloper commented on #22932
@tomdee so `Device "eth0" does no` come from `ip addr eth0`, that is called with a pipe like this `nsenter -- bash -c "ip addr show %s | grep inet | awk '{ print $2 }'"`, and we are clearly not handling the return code properly... Although, I do wish this code wasn't shelling out, debugging it as is should be doable if I knew how to stop the world in a reliable way, so any hint on that would be hu

[2016-03-16 01:29] timothysc commented on #17546
Re-starting down this road in prep for both etcd3 and potentially kafka.

[2016-03-16 01:56] bgrant0607 commented on #23018
Great catch, @ihmccreery!

[2016-03-16 02:03] bgrant0607 commented on #12143
@lavalamp reapers -- that's "cascading deletion"

[2016-03-16 02:18] jay-lau commented on #22976
Thanks @ArtfulCoder and @viglesiasce  will try for cluster-ip.

[2016-03-16 02:35] AdoHe commented on #23007
@bprashanth because we use `glog.Warningf` here, maybe we should update the log level.

[2016-03-16 02:36] AdoHe commented on #12143
/cc

[2016-03-16 02:41] alvinsay commented on #13355
+1 It will be very helpful.

[2016-03-16 02:42] AdoHe commented on #23017
@jonnymbgood actually in 1.1.2&1.1.8, kubectl apply will not create the resource if it doesn't exist, we have updated this behavior, would you mind giving a try v1.2.0-beta1, which contains this feature?

[2016-03-16 02:47] bprashanth commented on #22932
I'm not able to reproduce this with a simple test that creates a busybox pod using the stock CNI bridge plugin. The "eth0" thing might be a transient race of Status invocation that just fixes itself.

To isolate the unknown can either @tobad357 or @errordeveloper please try with:
1. Pass `--network-plugin=cni` and `--network-plugin-dir=/etc/cni/net.d` to the kubelet
2. Install CNI plugins into `/o

[2016-03-16 03:08] anguslees commented on #13556
@saad-ali My understanding is that it was fixed by https://github.com/kubernetes/kubernetes/pull/15537, merged in November.

I'd close this bug, but I don't think I'm allowed to do so...

[2016-03-16 03:12] lligithub commented on #10522
I encounter the same problem,can you give me a detail configuration of kuberenetes?

➜  ubuntu  /opt/bin/kubectl version
Client Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.8", GitCommit:"a8af33dc07ee08defa2d503f81e7deea32dd1d3b", GitTreeState:"clean"}
error: couldn't read version from server: Get http://localhost:8080/api: dial tcp 127.0.0.1:8080: connection refused

[2016-03-16 03:15] tobad357 commented on #22932
I've done some testing on my side
I built 1.2.0-beta0 up until the commit before https://github.com/kubernetes/kubernetes/commit/bc62096ad5ea8ce15156b39cfd2333bc6f589905 which works fine and then I rebuilt with https://github.com/kubernetes/kubernetes/commit/bc62096ad5ea8ce15156b39cfd2333bc6f589905included and the issues with restarting pods comes back.. looking at the logs of one pod it shows tha

[2016-03-16 03:26] saad-ali commented on #13556
Great, thanks! Closing as resolved by #15537

[2016-03-16 03:26] #13556 closed

[2016-03-16 03:49] liggitt commented on #22920
ok, got a recreator with a raw API request:

[code]

[2016-03-16 04:25] pwittrock commented on #22981
Each Pod has its own IP address so you shouldn't run into collision unless you have multiple containers in the same pod binding the same port

[2016-03-16 04:26] pwittrock commented on #22983
@izogain Thanks for your question.  We are trying to consolidate user support questions on Stack Overflow and Slack.  You should get a more expedient response through those channels.

[2016-03-16 04:26] #22983 closed

[2016-03-16 04:34] hehailong5 commented on #22981
the case is that I have one container in the pod with hostPort specified, when scaling multiple instances in the same node, only one Pod would make success, others failed with host port collision.

[2016-03-16 05:00] bgrant0607 commented on #22920
Hmm. Ok. Looks the e2e test is not testing autoSelector at all?

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/job.go#L209

[2016-03-16 05:17] justinsb opened #23032 "Are dynamic volumes supposed to be deleted?"
Are dynamic volumes supposed to be deleted when the PVC or PV is deleted?

A user brought this up on slack, and I think he opened an issue, but I can't find the issue, and it does appear to be the case that they are not deleted.

[2016-03-16 05:21] bgrant0607 commented on #22920
Sequence AIUI:
1. Defaulting in v1beta1: copies labels from template to selector, as original behavior, *ignoring autoSelector*
2. Conversion to internal rep: sets ManualSelector
3. Job strategy Validate: calls generateSelector, which sets controller-uid and job-name labels, and adds controller-uid to the selector
4. Validation: checks whether selector matches labels in template (2 times, if autoG

[2016-03-16 05:56] bgrant0607 commented on #23032
cc @saad-ali @thockin

[2016-03-16 06:11] spxtr commented on #22672
Hmm, I'm really not sure about some of these. The Volumes tests aren't currently run anywhere, and many of these aren't actually 1.2 features, but are experimental. Aside from reboot and ingress, are there any that actually need to be done now?

[2016-03-16 06:24] piosz commented on #22979
@bgrant0607 ack

[2016-03-16 06:28] pmorie opened #23033 "Kubelet developer on-boarding / component conventions docs"
There are a couple gaps that are closely related and entangled with one another:
1.  How do I make the right kind of changes at a higher level than Go coding guidelines?
2.  How do I approach some component of the system and learn the code effectively?

I originally brought this topic up in the sig-node meeting on Mar 15 and was encouraged to write up an issue with a wider scope by @dchen1107.  He

[2016-03-16 07:01] janetkuo commented on #18465
Follow up on update of deployment user guide https://github.com/kubernetes/kubernetes.github.io/pull/127#discussion-diff-56277180

[2016-03-16 07:23] wojtek-t commented on #17546
@timothysc - just to clarify what you would like to rename.
Are you talking about pkg/registry/*** ?
This one, I completely agree we should rename.

[2016-03-16 07:38] #22001 closed

[2016-03-16 07:48] erictune commented on #22920
@bgrant0607 there is a separate e2e test called https://github.com/kubernetes/kubernetes/blob/master/test/e2e/batch_v1_jobs.go

[2016-03-16 07:51] erictune commented on #22920
Well, we have e2e test of extensions/v1beta1 without auto, and batch/v1 with auto, but not the other two ways, one of which is the one Jordan is pointing out.

[2016-03-16 08:00] erictune commented on #22920
Agree with Brian's description of the fix.  I should have caught this case with more testing.

[2016-03-16 08:11] #22920 closed

[2016-03-16 08:14] bryk commented on #12143
You have a YAML file, perhaps with multiple resources. You want to create all of them or none, in transaction. I think it can be also called "batch API".

[2016-03-16 08:32] spxtr commented on #22672
In the meantime, I temporarily pointed the master jobs at release-1.2 to make sure they're not broken. They all passed, and I switched them back.

[gke-ingress](https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-ingress/2759/)
[gke-reboot](https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-reboot/939/)
[gce-ingress](https://cloud.go

[2016-03-16 08:46] piosz commented on #22672
`[Feature:ClusterSizeAutoscaling]` won't pass on release branch because it requires custom monitoring configuration. Since this is an experimental feature it doesn't need to run there.

cc @fgrzadkowski @mwielgus

[2016-03-16 08:47] xinxiaogang opened #23034 "kube-apiserver service endpoints got flushed after restart controller-manager"
This is a race condition issue for controller-manager especially when we use VIP to connect apiserver for both controller-manager and kube-proxy.
1. During controller-manager restart, an endpoints controller loop will started which responsible for service endpoints sync;
2. Two list-watch thread started which list-watch changes for services and pods;
3. The service list-watch will put changed serv

[2016-03-16 08:47] errordeveloper commented on #22932
@bprashanth I am testing bridge plugin now, as you suggested, instead of Weave plugin.

[2016-03-16 08:51] tobad357 commented on #22932
I've found the issue for the restarting pods. It is when using CNI and the docker image exports ports as well. This is due to a difference between the creation of the Container object when creating the pod and when checking if it has changed.
You should be able to replicate this by running a docker image with exported ports under kubernetes + cni. I should have pull request ready soon

[2016-03-16 08:55] zhouhaibing089 commented on #23034
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L136

Would it help by change this time longer?

[2016-03-16 08:59] gmarek opened #23036 "Errors in second density test runs"
When running Density test second time on the same cluster I'm seeing errors like:

[code]

cc @wojtek-t @kubernetes/sig-api-machinery

[2016-03-16 09:19] errordeveloper opened #23039 "pre-built CNI tools (cni-09214926.tar.gz) are unusable"
The code in master uses a tarball with CNI binaries which is located at:
[code]
It turns out that these binaries are not quite usable for most people and cause `file not found error` due to this:
[code]
Using the hyperkube image one can workaround this with:
[code]
Having done that, the binaries are still unusable and kublet spits out:
[code]

[2016-03-16 09:20] errordeveloper commented on #22932
Also, I have discovered #23039, which makes me a little suspicious whether tests agains CNI only ran on internal system of whoever uploaded the build...

[2016-03-16 09:21] bboreham commented on #22932
One thing that makes this kind of thing very hard to debug (at least for me, not hugely experienced working with k8s) is that after a short while k8s decides things are bad, kills a bunch of things and restarts them to try again.  I understand why it does that, but is there a way to stop it while I get a chance to look at what happened?

[2016-03-16 09:23] errordeveloper commented on #22932
@tobad357 I am not sure what you are saying exactly, but will wait for your pull-request.

[2016-03-16 09:25] tobad357 commented on #22932
@errordeveloper check this if statement https://github.com/kubernetes/kubernetes/blob/bc62096ad5ea8ce15156b39cfd2333bc6f589905/pkg/kubelet/dockertools/manager.go#L805

vs

https://github.com/kubernetes/kubernetes/blob/bc62096ad5ea8ce15156b39cfd2333bc6f589905/pkg/kubelet/dockertools/manager.go#L1593

you can see that the case is slightly different which means the container the hash is calculated ag

[2016-03-16 09:27] errordeveloper commented on #22932
@tobad357 that would explain why `kubectl run -i --tty busybox --image=busybox --restart=Never` worked just fine with Weave plugin!

[2016-03-16 09:27] tobad357 commented on #22932
@errordeveloper  correct

[2016-03-16 09:36] errordeveloper commented on #23039
cc @thockin

[2016-03-16 09:41] errordeveloper commented on #19
Isn't this mostly done already?

[2016-03-16 09:45] errordeveloper commented on #19720
[Kubernetes Anywhere project](https://github.com/weaveworks/weave-kubernetes-anywhere) uses 1.10, and currently passes [majority of the end-to-end tests](https://github.com/weaveworks/weave-kubernetes-anywhere/issues/43).

[2016-03-16 09:48] errordeveloper commented on #22932
Also, using the CNI binaries from the released tarball with a workaround #23039 and config from @bprashanth (https://github.com/kubernetes/kubernetes/issues/22932#issuecomment-197124674) I get this:
[code]

[2016-03-16 10:14] xinxiaogang commented on #23034
@zhouhaibing089 I think to make the logic strong, call apiserver after failing to get pod from cache would be better. But your recommendation would also an alternative.

[2016-03-16 10:23] mdshuai opened #23041 "[Bug] When "KUBE_MAX_PD_VOLS" > DefaultMax should use DefaultMax"
When KUBE_MAX_PD_VOLS > DefaultMax, should use DefaultMax
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L39-L51

[2016-03-16 10:35] zhouhaibing089 commented on #22970
@yujuhong I am new at this area, so the following consideration may be a little immature..

1.  the threshold to delete image defaults to be 80%-90%, how about do this cleanup periodically? I am thinking that unused images on the node is not useful at all, the only situation it may help is that image could be reused when another scheduled pod uses it, too.
2.  I feel the documentation on container

[2016-03-16 10:51] ncdc commented on #17731
This also happens if you e.g use the OpenShift ansible installer to deploy a cluster (which registers your nodes) and then manually edit the node config to set a cloud provider. The switch from not specifying a cloud provider to specifying one results in the node trying to delete and reregister itself, and OpenShift's policy doesn't allow nodes to delete themselves.

[2016-03-16 10:54] ncdc commented on #23041
cc @kubernetes/rh-cluster-infra

[2016-03-16 11:08] remoe opened #23044 "[addon/influxdb-grafana] InfluxDB sends anonymous statistics"
The current pod configuration of:

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/influxdb-grafana-controller.yaml

use this container: google_containers/heapster_grafana:v2.6.0-2

This has the default `reporting-disabled = false` in `/etc/influxdb/influxdb.conf`

It should be changed to `true` ?

btw: Where one find the dockerfiles for all this con

[2016-03-16 11:14] fgrzadkowski commented on #18570
Correct link is http://perf-dash.k8s.io/

[2016-03-16 12:08] AdoHe commented on #22984
@kubernetes/sig-node

[2016-03-16 12:28] paralin commented on #23032
@justinsb Was that me? https://github.com/kubernetes/kubernetes/issues/22907

[2016-03-16 12:30] piosz opened #23046 "Missing documentation how to enable monitoring in Kubernetes"

[2016-03-16 12:30] piosz commented on #23046
cc @fgrzadkowski @mwielgus

[2016-03-16 12:33] AdoHe commented on #22970
@zhouhaibing089 for your first question, unused image cleanup is already periodically, please refer [https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L947-L959](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L947-L959) for more details. Keeping unused images is necessary as we don't hope to always push the same image. For the ContainerGC impl

[2016-03-16 12:49] timothysc commented on #17546
@wojtek-t yup

[2016-03-16 13:01] screeley44 opened #23048 "UXP: generic volume error - 'unsupported volume type' should be reworded"
in volumes.go there is a generic error variable defined that is used when a failure occurs and no other error is surfaced, it is a catch-all when something goes wrong.

[code]

Think this should be reworded to something that is more reflective of the true issue and not so confusing for users.  This error mostly comes when a builder can not be created and it is typically not true that the volume ty

[2016-03-16 13:17] mathsnunes commented on #22178
Same problem here, @backender no success even with port exposed =/

[2016-03-16 13:26] jayunit100 commented on #23048
@screeley44 are you working on this?

[2016-03-16 13:32] mwielgus commented on #22782
Fixed: https://github.com/kubernetes/kubernetes.github.io/pull/135

[2016-03-16 13:32] #22782 closed

[2016-03-16 13:33] mwielgus commented on #22780
Fixe with https://github.com/kubernetes/kubernetes/pull/23037

[2016-03-16 13:33] #22780 closed

[2016-03-16 13:34] screeley44 commented on #23048
@jayunit100 - yes, I would like to submit the PR for this

[2016-03-16 13:38] errordeveloper opened #23049 "CNI_ARGS are not valid"
This might belong to CNI code, but failing it here to understand if I might be missing something.

We are currently calling CNI plugins with `CNI_ARGS` set to something like:
[code]
But the CNI code doesn't accept these keys, so I am really not sure how was this supposed to work...

[2016-03-16 13:39] errordeveloper commented on #23039
Ok, there is a seprate issue with [`CNI_ARGS`](https://github.com/kubernetes/kubernetes/issues/23049).

[2016-03-16 13:43] huang195 commented on #22988
@liggitt I'm currently working on adding this function, and it's completely backward compatible. Once I've got it working and fully tested it, I'd like to push it upstreams. Do you have any other suggestions on this proposal?

[2016-03-16 13:43] errordeveloper commented on #23049
cc @dcbw @rajatchopra @bprashanth

[2016-03-16 13:48] MaksymBilenko commented on #22764
+1 also I've noticed:
When I'm using credentials at `/var/run/secrets/kubernetes.io` for default namespace I'm able to create/delete rc/svc at kube-system namespace and other.
Is there a way to configure security for this?
Cheers

[2016-03-16 13:57] tobad357 commented on #22932
@thockin @bgrant0607 please see the pull request which is minimal.
Personally I'm ok to wait to put it in 1.2.1 as I have a patched build
However for someone new to kubernetes that decides to use weave, calico or similar and deploys a docker image with exported ports they will end up with pods restarting and zero logs on why
It's quite a bad experiance

[2016-03-16 14:02] bgrant0607 commented on #22932
cc @kubernetes/sig-network

[2016-03-16 14:03] bgrant0607 commented on #22932
@tobad357 Please reference this issue from the PR, not from commits.

[2016-03-16 14:05] tobad357 commented on #22932
@bgrant0607 sorry about that, added it to the pull request.

[2016-03-16 14:12] zhouhaibing089 commented on #22970
@AdoHe As you mean it is periodically, however it is a check on disk usage and decide whether to do garbage collection, what I mean is to do the real clean up on the unused image no matter how much the disk usage is.

Yes, for sure, avoiding pulling the same image is a good merit, but I am just thinking it **_may_** be better to cleanup it anyway, say once per day.

[2016-03-16 14:16] #22950 closed

[2016-03-16 14:56] justinsb commented on #23032
@paralin there it is!  Thanks for prompting me - there's a lot going on :-)

Going to close the AWS specific issue, because I saw this on GCE also, and copy over your comment:

I poked around a very little bit, and there is code to delete a volume, so I think it is supposed to clean up dynamic PDs.  Maybe we're not supposed to delete the PV/PVC, or I may have shut down my cluster too quickly.

[2016-03-16 14:56] justinsb commented on #22907
Closing in favor of #23032 , which is not AWS specific.

[2016-03-16 14:56] #22907 closed

[2016-03-16 15:00] AdoHe commented on #22970
@zhouhaibing089 well, there is some tradeoff, just like what garbage collected language does, we reclaim garbage only when resource is not used anymore or in some limited environment, we do collect when resource usage exceed range.

[2016-03-16 15:21] paralin commented on #23032
@justinsb I think deleting the PV object would semantically/logically imply deleting the underlying volume if it was dynamically created. Deleting the claim and making a new claim that bounds to the PV would re-use the dynamically allocated volume.

Is this how it is designed right now? I'd strongly vote for the above pattern :+1:

Thanks!

[2016-03-16 15:23] eparis commented on #23032
@kubernetes/rh-storage

[2016-03-16 15:24] AdoHe commented on #23041
@mdshuai this should be a bug, have open a PR #23054

[2016-03-16 15:25] errordeveloper commented on #23049
The error event looks like this:
[code]

[2016-03-16 15:25] jsafrane commented on #23032
A dynamically created volume is deleted when user deletes the **claim** that created it. See https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning

[2016-03-16 15:29] paralin commented on #23032
@jsafrane I would (as an end-user) prefer if it would delete it when the **pv** was deleted as this logically makes more sense - the PV provides the storage, the PVC consumes it.

Also I've tested deleting the PVC and can confirm that at least on AWS it doesn't delete the volume.

[2016-03-16 15:38] markturansky commented on #23032
@paralin that's how it works.  Deleting the claim is the trigger to delete the PV.  The actual resource is removed from the infrastructure and then the PV is deleted from the cluster.

[2016-03-16 15:39] stevesloka commented on #15546
Thanks @jimmycuadra I finally got it all working!

[2016-03-16 15:39] jsravn commented on #21022
I see this as well, but it happens after kubelet tears down the pod. Seems like some sort of race condition?

[code]

[2016-03-16 15:39] paralin commented on #23032
@markturansky okay, this makes some sense. I still think logically I would expect the PV to stay around in the unbound state until I deleted it via the PV api.

[2016-03-16 15:40] jsafrane commented on #23032
@paralin: I think that as an end user, you should not mess up with PVs much. You should create claim, let it bind to something (or dynamically provision it) and nag cluster admin if there is no free PV that would match your claim.

If the volume was dynamically provisioned, it should have 'PersistentVolumeReclaimPolicy: Delete' (please check). If it is not removed when you delete appropriate claim

[2016-03-16 15:44] DirectXMan12 commented on #23041
I'm not convinced that this is undesired behavior: https://github.com/kubernetes/kubernetes/pull/23054#issuecomment-197389156

[2016-03-16 15:58] markturansky commented on #23032
@paralin the PV can't stay around in an unbound state.  It is used and dirty with someone else's data.  To be "unbound" is to be available for another claim.  This is not that.  So, the PV is "released" and ready for reclamation.

We can't delete the PV *and then* the resource, because if removing the resource fails, it's now orphaned.  So we delete the resource and then the PV.

[2016-03-16 16:00] bprashanth commented on #23049
Yep, I swear we have a bug for this but maybe I forgot to file one, just ignore the extra args in your wrapper plugin if that's possible :)

Honestly I don't think the CNI plugins should barf if they're passed unknown env vargs. They should log a warning. I also don't think we should be passing custom env vars, given that they *do* barf.

I also don't like piling information down the one exec oper

[2016-03-16 16:03] bprashanth commented on #23039
@errordeveloper thanks for filing good issues
duping into https://github.com/kubernetes/kubernetes/issues/23011

[2016-03-16 16:03] #23039 closed

[2016-03-16 16:05] mrezaei00 opened #23055 "[Proposal] add support for labels in rolling-update"
**Background:**
In an effort to introduce personalities and roles for Replication Controllers, there exists N number of RCs that run the same image but labeled to show their role. E.g.
- RC 1:
[code]

- RC 2:
[code]
... and so on, all the way to...

- RC N:
[code]

**Proposal:**
Introduce a new way to update all of these RCs with one rolling-update transaction (specific example for rolling updates

[2016-03-16 16:17] jsafrane commented on #22994
I have sort of proof of concept that removes any checks from kubelet. This way, only scheduler enforces limit of nr. of attached volumes to a node. And it's wrong:

1. I have 39 pods, each with its own EBS volume, they run happily.
2. I schedule another 39 pods. Scheduler leaves them as 'Pending' / 'failed to fit in any node'. So far so good.
3. Now, I delete my 39 running pods. Scheduler does not

[2016-03-16 16:23] erictune commented on #15310
Can someone summarize what remains to be done for GA?

[2016-03-16 16:23] #22932 closed

[2016-03-16 16:25] #22941 closed

[2016-03-16 16:38] therc commented on #22537
I'm seeing this on ~1.2 on AWS, running fluentd-es 1.15:

[code]

The day after, this is still happening, also on another two out of ten nodes.

[2016-03-16 16:42] paralin commented on #23032
@markturansky @jsafrane this makes sense, thanks for the explanation. Just seems a bit counter-intuitive to have a object be deleted by its claim. But I understand the reasons and completely agree with those decisions.

[2016-03-16 16:50] bprashanth commented on #22932
@errordeveloper @tobad357 we're not quite at the stage where we're dog fooding CNI yet (kubenet is off by default). We hope to get there sometime between now and 1.3. Thanks for the quick turn around on this, please keep filing issues where different plugins/environments diverge.

[2016-03-16 16:59] therc commented on #22537
After some more investigation, any chance that 0.12.20 or even 0.12.21 could be pushed to all images? The latter has this:

https://github.com/fluent/fluentd/blob/v0.12/ChangeLog
[code]
As I said, I am still seeing errors with fluentd-elasticsearch, which uses 0.12.19. As far as I can tell, there's no explicit fluentd version anywhere, the Docker file just grabs whatever the APT repo in `https://t

[2016-03-16 17:00] bgrant0607 commented on #23032
Doesn't sound like this is a 1.2 issue. Removing from milestone.

[2016-03-16 17:01] jayunit100 commented on #23041
By definition KUBE_MAX_PD_BOLS is clearly overriding the defaultVal.  So I vote to close this issue.

[2016-03-16 17:03] bprashanth commented on #22672
@spxtr if you're planning to use a different project for the Ingress tests please set the quota to the limits in gce/gke-ingress

[2016-03-16 17:06] bgrant0607 commented on #22672
What's up with kubernetes-e2e-gce-scalability-release-1.2 ? Looks like it doesn't work yet.

[2016-03-16 17:07] simonswine commented on #22998
Ok I am getting a bit further now. With increased verbosity I got this:

[code]

I will take a look through the cloudprovider tomorrow to find the part where the nodename should be discovered

[2016-03-16 17:11] ihmccreery opened #23060 "Some services tests flaking after upgrading from v1.0 to v1.2"
[code]

View logs and artifacts at https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-upgrade-gke-1.0-1.2-step7-e2e-new/10

[2016-03-16 17:13] spxtr commented on #22672
Looks like scalability-release-1.2 is failing to make more than 10 nodes. cc @wojtek-t

[2016-03-16 17:14] quinton-hoole opened #23061 "Auto-generate historical report of e2e test results trends (i.e. Stability Summary over time)"
Joe and I have discussed this.  Here is a prototype.

https://goto.google.com/k8s-e2e-history

[2016-03-16 17:15] ihmccreery commented on #23060
This is a v1.2 test running against a cluster that's been fully upgraded from v1.0 to v1.2.

[2016-03-16 17:17] roberthbailey commented on #22672
We don't have enough CPU quota to make a larger cluster.

[2016-03-16 17:18] quinton-hoole opened #23062 "Alert someone when kubernetes-test-history stops running, and add report date"
The software that generates http://storage.googleapis.com/kubernetes-test-history/static/tests-e2e.html has crashed/stopped running a few times, and nobody knew.  Please add an alert.

Also, the above report does not indicate what date the report pertains to, which makes it very confusing, and difficult to tell whether the report is up to date (e.g. I looked today, and it was a week old, although

[2016-03-16 17:23] yujuhong commented on #22970
Kubelet now exposes images as part of the node status. Eventually, they will be incorporated into the scheduling decisions. Like @AdoHe said, we try to use the overall disk utilization as a signal to reclaim resources, but there are certainly some optimizations that we can do.

Assume there is a pod with two containers named FOO and BAR, and the restart policy is "Always". Every time when FOO or B

[2016-03-16 17:24] yujuhong commented on #15108
The docs should be modified to reflect this.

[2016-03-16 17:25] justinsb commented on #23032
Yes, thanks!  I was able to confirm that by deleting the PVC and not touching the PV, the PV & underlying disk were deleted (at least on AWS).  If we shut down the cluster without deleting the PVC, we leak the disk, but that is pretty much expected.

[2016-03-16 17:27] spxtr commented on #23062
http://storage.googleapis.com/kubernetes-test-history/static/index.html

That shows the date that it started, which is one day after the date it covers. That's not ideal. It's on my plate to improve this.

[2016-03-16 17:29] quinton-hoole commented on #23062
Aah - fair enough.  I always use the direct link, so I didn't see that index page at all.

[2016-03-16 17:30] lavalamp commented on #12143
@bryk That's not what create does today. (Maybe it should do that, but I'd
like to keep this issue about current functionality.)

On Wed, Mar 16, 2016 at 1:14 AM, Piotr Bryk <notifications@github.com>
wrote:

[2016-03-16 17:31] #18116 closed

[2016-03-16 17:31] paralin opened #23064 "Consider publishing the service account public key somewhere"
See: https://github.com/openshift/origin/issues/7973#issuecomment-197415222

It may be useful to expose this key in the API as a mechanism for verifying with the key in systems like OpenShift.

Presently to deploy OpenShift I have to SSH into the kubernetes master and grab the service account private key. [My efforts](http://github.com/paralin/openshift-under-kubernetes) towards deploying without

[2016-03-16 17:32] ihmccreery commented on #21699
There are a few v1.2 tests failing on v1.2 clusters after upgrading from v1.0:

- [x] Kubectl client Kubectl apply should apply a new configuration to an existing RC (#22996?)
- [ ] Services should be able to up and down services (#23060)
- [ ] Services should serve multiport endpoints from pods [Conformance] (#23060)
- [x] Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ... (#209

[2016-03-16 17:32] janetkuo commented on #21876
This now redirects to http://kubernetes.io/docs/user-guide/kubectl-overview/#operations and is fixed.

[2016-03-16 17:32] #21876 closed

[2016-03-16 17:36] bprashanth commented on #18116
Actually it times out. The suite is still running. The important part with flannel is to prove networking works  for the scalability suite (which we've proven by running > 50% of tests and the enormous cluster). I've been meaning to look at the timeouts but didn't have time (that's why it's feature, right?).

[2016-03-16 17:38] bprashanth commented on #18116
Actually it WAS timing out at one point. Now it's
[code]
Which is https://github.com/kubernetes/kubernetes/issues/21564

[2016-03-16 17:48] spxtr commented on #22895
It looks like `gsutil cp -r` might have a race condition.

[2016-03-16 17:48] yahavb commented on #22968
That make sense. thanks!

[2016-03-16 17:51] bprashanth commented on #22895
I think gsutil rsync (https://cloud.google.com/storage/docs/gsutil/commands/rsync) is better than cp -r for performance (especially if you have subdirs) and *may* not be subject to the same race

[2016-03-16 18:03] janetkuo commented on #22300
Didn't see this failure for a while. Closing.

[2016-03-16 18:03] #22300 closed

[2016-03-16 18:05] spxtr commented on #22672
Out of all the features above, it looks like only reboot and ingress are good candidates for 1.2. I checked which of the other features are actually being run, and a disappointingly large number of them aren't.

[2016-03-16 18:10] thockin commented on #23060
The strange thing is that it fails.  The command that is failing is:

[code]

How on earth is that failing?  And yet, the error says "Docker" which means it really IS getting all the way to kubelet...

[2016-03-16 18:14] thockin commented on #23060
cc @bprashanth @ArtfulCoder

[2016-03-16 18:21] ihmccreery commented on #23060
Also flaking: `[Fail] Services [It] should serve multiport endpoints from pods [Conformance]`:

[code]

Same run as above.

[2016-03-16 18:25] mml commented on #22489
We aren't cherrypicking bug fixes into 1.2 any more?

[2016-03-16 18:35] bprashanth commented on #23060
The lack of verbose logging from gke makes this nearly impossible to debug.

The test starts a single pod, waits till it's running (we should add a probe and wait till Ready), then loops around trying to exec into it. Looks like the busybox container in the pod is continuously getting killed on the node.
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-upgrade-gk

[2016-03-16 18:50] vishh commented on #22984
We should add a test under `test/e2e_node` for this feature to prevent this issue from happening again.

[2016-03-16 18:54] timstclair commented on #23033
I absolutely agree that this is a problem worth addressing, but I think more emphasis should be on cleaning up the code than documenting the current state of affairs (though I do think a higher level kubelet architecture document could be useful).

Following your first example, rather than documenting the higher level convention of when pointers should be read only, I think it would be better to a

[2016-03-16 19:00] pmorie commented on #23033
@timstclair

I agree with you there, and was trying to articulate that I was advocating for a least-effort solution that gets new people enough info to orient themselves while not taking a lot of time to generate.

I agree with you in general about this, but I have had numerous experiences where splitting a package is opening a pandora's box of circular deps, so my personal opinion is that such re

[2016-03-16 19:09] vishh opened #23070 "Track features that needs to be a part of release notes"
Currently, PRs having `release-note` label is automatically included as part of the release notes. This process does not work for big features though.
We need to track issues that represent features as well and include a gist from those issues in the release notes.

[2016-03-16 19:58] yujuhong commented on #22895
I don't think we own the "cloud-sdk-testing" bucket. How can we be sure that the cloud-sdk ci wasn't modifying the directory at the same time?

[2016-03-16 20:00] jcderr commented on #22004
I'm also seeing this.

[2016-03-16 20:05] jcderr commented on #12381
Tagging the subnets doesn't work well in all circumstances - for instance, I'm not using kube-up, and some of my clusters go into VPCs that I cannot edit the tagging of. Passing a flag with allowed subnets is greatly preferred.

[2016-03-16 20:05] derekparker opened #23073 "kubelet: Allow kubelet to contact apiserver in runonce mode"
Currently kubelet is limited to on-disk pod manifests and anything received from `--manifest-url` when in runonce mode.

[2016-03-16 20:13] yujuhong commented on #23060
[code]
Could be caused by https://github.com/docker/docker/issues/14203#issuecomment-174331054

[2016-03-16 20:14] roberthbailey opened #23075 "e2e flake: should do a rolling update of a replication controller"
[code]

Test logs: https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23068/kubernetes-pull-build-test-e2e-gce/32824/artifacts/

[2016-03-16 20:20] ncdc commented on #22964
cc @kubernetes/rh-cluster-infra

[2016-03-16 20:21] spxtr commented on #22895
I think that's the race condition. `gsutil cp` doesn't handle syncing up across multiple files, which it shouldn't. Rather than retry, maybe switching to rsync will fix it?

[2016-03-16 20:24] metral commented on #22796
My issues with `godep restore` went away when:

1. I switched from `go1.5` to `go1.5.3`
2. Appropriately reconfigured `GOROOT` & `GOPATH` for `go1.5.3`
3. Updated `godep` as I was using a version over 1 year ago

[2016-03-16 20:25] rnataraja commented on #22822
I figured it was the worker kube-proxy that was causing the bad certificates on the Kube-apiserver. Still need to figure out how to fix it. Commands look fine to me.

[2016-03-16 20:38] bprashanth commented on #23011
Essentially doing https://github.com/appc/cni/issues/85 would've prevented this bug :)

[2016-03-16 20:42] derekwaynecarr commented on #22796
Related PRs:

https://github.com/kubernetes/kubernetes/pull/21786
https://github.com/kubernetes/kubernetes/pull/21786

[2016-03-16 20:43] derekwaynecarr commented on #22964
cc @mrunalp

[2016-03-16 20:46] derekwaynecarr commented on #22964
I am supportive of a `ResourceManager` module

I am also supporting of defining a clear `PodLifecycleManager` module that I can invoke to kill a pod without needing to know about all the other related managers.

[2016-03-16 20:52] yujuhong commented on #23033
IMO, cleaning up the code is the priority, but it'd be good to have a general guideline so that we can all *work towards* the same goals. Documenting the current state as-it-is doesn't have much value because there are mixed (good and bad) coding patterns in kubelet, and we want to fix them (not just understand them). Eventually, the codebase should be more self-explanatory.

Agreed. We should hav

[2016-03-16 21:15] yujuhong commented on #22964
@derekwaynecarr, I understand your pain. I think half of the problem originates from the fact that kubelet doesn't have this feature, i.e., telling the pod worker to do something explicitly. Each worker today takes actions autonomously based on the pod spec and status (with the famous all-in-one SyncPod() function). We can certainly explore options to make this easier (e.g., saving internal states

[2016-03-16 21:16] tomdee commented on #23011
And see https://github.com/appc/cni/issues/126 for the CNI_ARGS problems

[2016-03-16 21:33] derekwaynecarr commented on #22964
@yujuhong this is related to my need for out of resource killing having a place to call to kill a pod, ideally with an option to block.

[2016-03-16 21:36] mikedanese commented on #23073
cc @dchen1107 @vishh

[2016-03-16 22:05] vishh commented on #23073
Can you describe the use case @derekparker ?

[2016-03-16 22:07] freehan commented on #23049
Here is the issue: https://github.com/appc/cni/issues/126

[2016-03-16 22:23] nikhiljindal commented on #16049
https://github.com/kubernetes/kubernetes/pull/23080 fixes this

[2016-03-16 22:23] nikhiljindal commented on #15915
https://github.com/kubernetes/kubernetes/pull/23080 fixes this

[2016-03-16 22:24] yujuhong commented on #22964
Yes, I knew :-)  I was just pointing out that It's *hard* to implement partly because it's not something kubelet supports naively. Until now, there has been no need for pod workers to do anything other than looking at the pod spec call SyncPod. We need to put into more work for sure, and I definitely agree that having a better interface will help.

[2016-03-16 22:29] nikhiljindal opened #23081 "api-ref docs: Generate an index for operations.html"
We generate an index for definitions.html. We should do the same for operations.html as well

Ex: https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/blob/HEAD/docs/api-reference/autoscaling/v1/definitions.html
https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/blob/HEAD/docs/api-reference/batch/v1/operations.html

@kubernetes/docs @caesarxuchao @bgrant0607

[2016-03-16 22:31] nikhiljindal commented on #23081
Actually the index in definitions.html does not look correct.
https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/blob/HEAD/docs/api-reference/autoscaling/v1/definitions.html shows only 2 items in index, even tough the doc has many definitions.

@caesarxuchao any idea why is this happening?

[2016-03-16 22:37] Q-Lee commented on #23055
Have you considered deployments? [Deployment](http://kubernetes.io/docs/user-guide/deployments/).

[2016-03-16 22:37] caesarxuchao commented on #23081
It's as expected. The index only shows the top-level objects.

[2016-03-16 22:44] #22968 closed

[2016-03-16 22:46] Q-Lee commented on #22973
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-16 22:46] #22973 closed

[2016-03-16 22:53] yifan-gu opened #23084 "Use PLEG to get ContainerStart events, and then run post-start hooks"
Today, the post-start hooks run after kubelet sends a "StartContainer" request to docker daemon. There could be race between the container becomes actually RUNNING and the running of the hooks. This becomes an real issue when the container's start-up time is long.

One way to handle this is to pull out the post-start hooks logic from container runtime to kubelet. In this case:
- Code can be reused

[2016-03-16 22:57] bgrant0607 opened #23085 "Document adoption FAQs"
Common questions about people wanted to adopt K8s/Docker/Rkt that we should document as FAQs:
1. What graph driver / filesystem do we recommend for distro Foo X.Y? Or how should we choose?
2. What networking solution would you recommend for cloudprovider Bar? Or how should we choose?
3. What network-attached storage system would you recommend? Or how should we choose?
4. We need to do X (e.g., mou

[2016-03-16 23:09] vishh commented on #23085
We (Google) don't test against multiple graph drivers. We test only against `Aufs`. More information on graph drivers [here](https://docs.docker.com/engine/userguide/storagedriver/selectadriver/).

https://github.com/Yelp/dumb-init

[2016-03-16 23:10] errordeveloper commented on #23039
@brendandburns thanks for finding the dup :)

[2016-03-16 23:11] bprashanth commented on #23085
IMO Kubernetes should have a default networking solution that works cross-cloudprovider. We should strive to document the shortcoming of using this default option, if any, but it should *just work* if they don't care about specifics.

Currently this should be true for:
[code]

Or if it isn't, I'd consider it a bug that needs investigation (because I haven't tried on DO etc).

There are several sol

[2016-03-16 23:12] errordeveloper commented on #23011
@tomdee also #23049, re `CNI_ARGS`... however I'm not too sure if your comment was mean to be on this ticket.

[2016-03-16 23:34] mikedanese commented on #23085
There seems to be a lot of hubbub over this. Is the only issue zombies? `while(;;) wait();` works pretty well.

[2016-03-16 23:42] bprashanth commented on #23085
I think it's a request from people who want to start multiple daemons in a container (i.e vms), it's convenient to have something handle sigterm and gracefully turn down the other daemons, just like init is notified of a reboot

[2016-03-16 23:45] bprashanth commented on #23085
i.e https://github.com/phusion/baseimage-docker#whats_inside

[2016-03-16 23:55] yujuhong commented on #23084
Post start hook will only be run after PLEG detects that the container is running. PLEG uses 1s relist period today, so there delay is slightly longer (for docker). Are there any concerns about this?

Related issue for probing: #20950

[2016-03-17 00:01] paralin commented on #22881
I... I actually didn't realize that the Kubernetes API wouldn't delete pods when the RC was deleted. Just discovered that one of my API driven projects isn't cleaning up pods properly. Whoops.

I would here prefer if the API did the deletion/cleanup on default, with an API parameter to prevent deletion of children.

[2016-03-17 00:02] hongchaodeng commented on #22448
Folks.
I'm currently having trouble in https://github.com/kubernetes/kubernetes/pull/22604.

The test failure is reproducible by running "MetricsGrabber" and it seemed to grab etcd server metrics as well. From the log:
[code]

Anyone have idea in this or can help do anything to resolve it? This is currently blocking me from moving forward.

[2016-03-17 00:18] janetkuo opened #23087 "Incorrect annotation copied from deployment to RS after rolling back"
Scenario:
1) Create a deployment d and record it. Change cause: d = "create", rs1 (v1) = "create" (copied from d).
[code]
2) Update d with apply. Change cause: d = "apply", rs2 (v2) = "apply" (copied from d)
[code]
3) Rollback d. Change cause: d = "apply" (unchanged since we don't record command in `kubectl rollout undo`), rs1 (v3) = "apply" (copied from d). However, **it should be either "create"

[2016-03-17 00:22] janetkuo commented on #23087
Other annotations (except for revision and apply) will also be copied from deployments to RSes after rolling back, and will have the same problem.

[2016-03-17 00:25] yifan-gu commented on #20950
Sounds reasonable to me.

[2016-03-17 00:50] justinsb commented on #12381
@jcderr I don't think we require a tag on the VPC (if we do, we can probably relax that requirement).  But - at least for now - k8s realistically runs best in its own subnet that it "owns".  This issue is pretty meandering, so if tagging subnets is a problem, perhaps you can open a new one, and explain your particular use case!

And you should use kube-up :-)

[2016-03-17 00:50] bgrant0607 commented on #23085
I don't think we want to recommend Phusion. Container-as-VM is the wrong model.

[2016-03-17 00:53] IanLewis commented on #23085
https://github.com/jwilder/docker-squash

[2016-03-17 00:56] nikhiljindal commented on #18497
https://github.com/kubernetes/kubernetes/pull/23091 fixes this

[2016-03-17 00:58] bprashanth commented on #23085
I was justifying the request not advocating the solution.
We should call this out in the FAQ.

[2016-03-17 00:59] zhouhaibing089 commented on #22970
@yujuhong I thought explanation saved my day, :)

If the images on that node are also reported as status to api-server and used by scheduler, then I would doubt on how much value it brings to us, maybe I have no insights here, two considerations come in my mind:

*   It may be the case that the same application would pick the same image, so it would have some side-effect to let the app get more po

[2016-03-17 01:01] nikhiljindal commented on #13400
As per https://github.com/kubernetes/kubernetes/issues/4700#issuecomment-194725971, we can use `"type": "object"` to represent a JSON object.

[2016-03-17 01:05] juretta opened #23092 "Getting started: "Running Kubernetes Locally via Docker" doesn't work on Max OS X"
## Problem description

The "**Download kubectl**" section mentions the following:

The `docker run` command doesn't publish any ports though, so the above does not work even if `localhost` is replaced with the correct IP address of the docker machine.

`kubectl get nodes` will then fail with:

[code]

_Note: `192.168.99.100` is the IP of the docker machine that I configured as described_
## Hypot

[2016-03-17 01:09] saad-ali commented on #23032
To be more specific, since I was a little confused about this logic, what happens to the PV is controlled by the `persistentvolume_recycler_controller` controller. When the controller sees that the `pv.Status.Phase` is set to `VolumeReleased`, and the [`PersistentVolumeReclaimPolicy`](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L295) is `PersistentVolumeReclaimDelete`, it

[2016-03-17 01:25] yujuhong commented on #22970
Ah sorry..the image affinity scheduling PR has already been merged. See https://github.com/kubernetes/kubernetes/blob/master/docs/devel/scheduler_algorithm.md

You're welcome. I hope in the future we will be able to get rid of the flags that requires knowledge of kubelet implementation.

The scheduler relies on many priority functions, and one of them tries to spread pods with the same selector. I

[2016-03-17 01:28] pwittrock opened #23093 "Local docker cluster on mac cannot create service with "External-IP""
I tried doing the wordpress example on my mac using the local docker cluster.  When I create the service, it does not assign an "EXTERNAL-IP", only a "CLUSTER-IP".

It would be great if the local dev k8s supported our examples (minus GCE specific stuff such as PVCs).

[2016-03-17 01:35] spxtr commented on #22672
By the way, my work YAMLfying the jobs makes it very easy to add new jobs. Here's a sample commit where I add just one feature job: https://github.com/kubernetes/kubernetes/pull/23094/commits/17898025f5086672fcb5066bea86dcc870e9a0e1 .

I think the original goal of adding the Feature labels was for owners of the features to manage their own jobs.

[2016-03-17 01:45] mrezaei00 commented on #23055
@Q-Lee I haven't played around too much with Deployments, but with some basic testing, it doesn't seem to add much value to the deployment process I have at this point. `rolling-update` has been working nicely, and hopefully it will be up to the same level as some of the other commands soon.

[2016-03-17 01:45] derekwaynecarr commented on #23085
@mikedanese - you may find this interesting:

http://blog.dscpl.com.au/2015/12/issues-with-running-as-pid-1-in-docker.html?m=1

It's a good write up on challenges we had with Python and educated me a lot.

[2016-03-17 02:22] AdoHe commented on #22984
@vishh I am not very clear about what you mean, add a e2e for what feature? `--cloud-provider` and `hostname-override`?

[2016-03-17 02:24] demohi commented on #22178
+1  same problem

[2016-03-17 02:27] paralin commented on #23093
I think this isn't possible in the same way Vagrant LoadBalancers aren't possible because you can't allocate a ip address outside a cloud provider.

I suppose you might be saying the examples need to be changed to make this more clear?

[2016-03-17 02:28] AdoHe commented on #23041
I agree that we can close this issue.

[2016-03-17 02:28] bgrant0607 commented on #23087
I'd prefer to record `undo`.

[2016-03-17 02:32] janetkuo commented on #23087
Recording undo/pause/resume is implemented in #23088.

[2016-03-17 03:12] colemickens commented on #22612
I don't know what this means.

Can we please move this discussion to a separate issue where we can suss out the details of what didn't work in that scenario for you? I don't really understand if you got it working after modifying files, if it still failed after modifying files, etc.

Thanks.

[2016-03-17 03:13] colemickens commented on #22612
The PR for this Issue is over on the docs repo: https://github.com/kubernetes/kubernetes.github.io/pull/149

[2016-03-17 04:23] ofthecure commented on #20567
@bprashanth I've had a few issues with the userspace mode, but the iptables mode has been pretty consistent. Are there particular tests that were showing flake?

The only thing I've found interesting about the iptables mode is that it seems to be less fair with distributing network traffic.

[2016-03-17 04:26] bprashanth commented on #20567
@ofthecure this was fixed, we just need to profile the resource usage now, for a lot of services and endpoints.

Yeah we use statistical mode in iptables and I've observed something similar too. I think we're sometimes not setting the probabilities right. Needs some digging.

[2016-03-17 04:44] zhouhaibing089 commented on #22970
@yujuhong thanks, it does make sense.

[2016-03-17 04:44] #22970 closed

[2016-03-17 05:19] bprashanth commented on #22925
This has been fixed on our end

[2016-03-17 05:19] #22925 closed

[2016-03-17 05:46] saad-ali opened #23098 "Document "Dynamic Provisioning of Volumes" feature for v1.2"
"Dynamic Provisioning of Volumes" was added as an experimental feature for v1.2.

Add documentation explaining 1) what it is, 2) how to use it, 3) indicating that it is an experimental feature, and 4) define or link to a definition of what an experimental feature in k8s is.

CC @kubernetes/sig-storage @kubernetes/rh-storage

[2016-03-17 06:02] hongchaodeng commented on #22448
I have found the problem.

Digging out apiserver dependencies with the new change reveals that it imports the following:
[code]

Metrics are registered in init() func in those packages.

/cc @xiang90

[2016-03-17 06:08] hongchaodeng commented on #22448
I will try to come up with a solution tomorrow. If anyone in other timezone would like to dig into it, that would be great :)

[2016-03-17 06:16] PradeepSingh1988 commented on #22436
@wallnerryan , i am getting same problem on below versions:
`kubernetes : 1.1.4
 docker: 1.10.3
 flocker: 1.10.2
os: ubuntu 14.04 trusty LTS`
 i am using `https://get.docker.com/|sh` to install docker, how did you install  the `1.11.0-dev` version of the docker?
Is this problem related to the docker version or flocker plugin?

[2016-03-17 07:26] glerchundi commented on #4710
any chance to cherrypick this into 1.1 branch?

[2016-03-17 07:29] innovia opened #23103 "Documentation for DNS is outdated - template fails sed replacement"
the following document is broken
http://kubernetes.io/docs/getting-started-guides/docker-multinode/deployDNS/

the following template http://kubernetes.io/docs/getting-started-guides/docker-multinode/skydns.yaml.in

has {{pillar['var']}} replacements - sed could not replace them since they are saltstack replacements

the [other document on github](https://github.com/kubernetes/kubernetes/tree/rele

[2016-03-17 07:33] janetkuo commented on #17631
I believe this is now fixed.

[2016-03-17 07:33] #17631 closed

[2016-03-17 07:36] bgrant0607 commented on #23103
cc @ArtfulCoder

[2016-03-17 07:41] bgrant0607 commented on #18183
cc @AdoHe

[2016-03-17 07:42] janetkuo commented on #20519
This change was made in #15980 as a work-around to fix 2 bugs when editing a list:
1) panic when editing a list object
2) editing a list of objects failed to update (without an error)

[2016-03-17 07:52] AdoHe commented on #18183
@bgrant0607 I will fix this today.

[2016-03-17 07:55] ghodss opened #23104 "Upgrading a node from kubelet 1.1.3 to 1.2.0 results in containers getting destroyed and recreated"
We upgrade our nodes by upgrading an RPM that stops the kubelet, updates the binary and starts it again. The behavior I'm seeing (100% consistently and reproducibly) is that when I upgrade the RPM, the new kubelet starts up, and after maybe 3-5 seconds starts killing and restarting the containers on the machine. Usually it does all of them, but sometimes it does a subset.

You can see the log of t

[2016-03-17 07:56] bgrant0607 commented on #18183
Thanks, @AdoHe. This is not especially high priority, but it seemed like it should be easy.

[2016-03-17 07:59] bgrant0607 commented on #23104
Looks like #17234 and #19206.

We need a documented policy about docker label and container-name changes.

For 1.2, at minimum, we need to document this under "Action required" in the release notes, and maybe recommend `kubectl drain` before upgrading each node.

cc @Random-Liu

[2016-03-17 08:02] davidopp opened #23105 "Make test/e2e/scheduler_predicates.go not break once the old docs repo is turned down"
`test/e2e/scheduler_predicates.go` does this:

[code]

This is a nice pattern -- using config from an example directly in a test, which ensures sure the example stays in sync with the code. But this is going to break once kubernetes/kubernetes/docs/user-guide/ is deleted. I assume what we need to do is to create a `testContext.DocsRepoRoot` variable that points to `kubernetes/kubernetes.github.io`

[2016-03-17 08:05] AdoHe commented on #22540
This can be closed.

[2016-03-17 08:08] davidopp opened #23106 "Make pod-with-node-affinity.yaml match the description in the documentation"
http://kubernetes.io/docs/user-guide/node-selection/
says "This node affinity rule says the pod can only be placed on a node with a label whose key is kubernetes.io/e2e-az-name and whose value is either e2e-az1 or e2e-az2. In addition, among nodes that meet that criteria, nodes with a label whose key is foo and whose value is bar should be preferred."

But the example, which is at
https://github.c

[2016-03-17 08:13] vsimon commented on #23013
Also seeing this issue.

[2016-03-17 08:18] innovia commented on #19113
I am running the 1.2.0-beta.1 on local virtualbox
seems like the ECR is only supported  on ec2 instances since they have the metadata service of 169.254.169.254 that the plugin uses to fetch region etc..

@therc how can i get the ecr pluging to work locally on virtualbox? i was forced to copy all the images to dockerhub and add a secret, would be great not to do that and use the ecr for everything

[2016-03-17 08:31] Random-Liu commented on #23104
@bgrant0607 Thanks, will do it today.

[2016-03-17 08:36] antoineco opened #23107 "DaemonSets empty selector after v1.1.8 to v1.2.0 upgrade"
After upgrading my cluster to v1.2.0, I see a lot of pods in Terminating state which are not cleaned up:

Attempt to delete all pods:

[code]

Result:

[code]

I see some strange messages stating that `heapster-v11` is manager by another DaemonSet:

[code]

At that point I was thinking about a conflict between ReplicationControllers and DaemonSets, so I tried to get rid this DaemonSet:

[code]

At

[2016-03-17 08:47] osallou opened #23108 "doc issue"
in api.md there is a link to swagger-ui API view

http://kubernetes.io/third_party/swagger-ui/

link does not work

[2016-03-17 10:02] antoineco commented on #23107
I managed to solve the issue of Terminating pods by restarting my Docker daemons of all nodes and cleaning up containers / volumes. Still it doesn't explain why I got the following message in my Controller Manager when deleting pods managed by a ReplicationController:

[code]

[2016-03-17 10:08] AdoHe commented on #22448
@hongchaodeng maybe you can add those metrics to `KnownApiServerMetrics`, since etcd register metrics at `init` function.

[2016-03-17 11:04] errordeveloper commented on #23049
Closing, as this needs to be fixed in the CNI.

[2016-03-17 11:04] #23049 closed

[2016-03-17 11:13] deromka opened #23111 "SkyDNS does not work when using it with Kubernetes Docker multinode setup"
I'm running kubernetes docker containers on CentOS Linux release 7.2.1511, 3.10.0-327.10.1.el7.x86_64.
I'm using the following script to run the kube-master [link](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.sh)
and the following script to run the SkyDNS [link](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-gui

[2016-03-17 11:22] AdoHe commented on #23007
This is not fixed in the v1.2.0 #23107, we should update this.

[2016-03-17 11:35] theobolo commented on #22612
inside the Utils.sh in /cluster/azure/ there is a problem with the AZURE_DOCKER_REGISTRY and AZURE_DOCKER.

By default the utils.sh is looking to gcr.io/google_containers/"hyperkubeimage"
But the last hyperkube 1.1.2 release can find at gcr.io/v2/google_containers/"hyperkubeimage"

You can Add to set

export AZURE_DOCKER_REGISTRY="gcr.io/v2"
export AZURE_DOCKER="google_containers"

Or just change

[2016-03-17 11:52] antoineco opened #23113 "Cgroup 'cpu.cfs_quota_us' error on container creation when CPU limit is low"
After upgrading my environment from Kubernetes 1.1.8 to Kubernetes 1.2.0, I see pods creation failing with the following resource limits set:

[code]

Translated to Docker container info:

| 1.1.8 | 1.2.0 |
| --- | --- |
| "Memory": 26214400, | "Memory": 26214400, |
| "MemoryReservation": 0, | "MemoryReservation": 0, |
| "CpuShares": 5, | "CpuShares": 5, |
| "CpuPeriod": 0, | "CpuPeriod": 100000,

[2016-03-17 12:12] deromka commented on #4869
If the things are working properly now, could you please push your changes, so we all can enjoy it?
I do not know, if it is related, but I cannot make the SkyDNS work, I have opened a new issue here:https://github.com/kubernetes/kubernetes/issues/23111

[2016-03-17 12:24] antoineco commented on #23113
It works with `limits.cpu = 10m`, translated to:

[code]

So now that I understand better, it will always fail with `limits.cpu` < 10m

[2016-03-17 12:24] paralin commented on #22106
I think the deployment process at least works now. I've deployed 10-15 clusters in the last month with no errors of this nature.

[2016-03-17 12:34] wallnerryan commented on #22436
@PradeepSingh1988, the issues with `invalid volume specification` i have not seen since i opened this. The `unable to set mountpoint` and `cant find volume` issues have been fixed using kubernetes greater than v1.2.0-beta.0. Heres the explanation below.

I was using kubernetes v1.1 and v1.2.0.6-alpha1 (v1.2.0alpha6 on github), these versions of kubernetes use flocker-go at revision 3f33ece70f6571f

[2016-03-17 12:35] paralin opened #23117 "AWS: Wily goes unresponsive after some hours"
I set up an AWS cluster on Wily last night, and this morning I can't ssh into the master, and the API is not responding either.

It looks to me like a memory overflow. I have the master on t2.micro, which might be too small.

Maybe we should install the "swapspace" package in the setup script? This way even if the server has a small amount of memory it won't run out.

[2016-03-17 12:37] spiddy commented on #13299
I did try your LB back then and it worked fine  (sticking to one instance).

How can I know which proxy-mode I'm using (userspace or iptables)?

[2016-03-17 12:52] simonswine commented on #22998
It looks like the problem was that my test vpc had DNS resolution no properly set up...

[2016-03-17 12:52] #22998 closed

[2016-03-17 13:01] jadhavnitind opened #23120 "Unable to create Secrets as Environment Variables."
Firstly tried create Secrets as Environment Variable in Pod as instructed on "http://kubernetes.io/docs/user-guide/secrets/" URL. But it is giving error like below
<snip>
error validating "pod.yaml": error validating data: [field fieldRef: is required, found invalid field secretKeyRef for v1.EnvVarSource, field fieldRef: is required, found invalid field secretKeyRef for v1.EnvVarSource]; if you ch

[2016-03-17 13:07] zhouhaibing089 commented on #19683
close it as https://github.com/kubernetes/kubernetes/pull/23040 get merged.

[2016-03-17 13:07] #19683 closed

[2016-03-17 13:28] #23022 closed

[2016-03-17 13:35] AdoHe commented on #18183
I think this should be fixed, I test this on HEAD.
[code]
@bgrant0607

[2016-03-17 13:52] bgrant0607 commented on #23107
cc @mikedanese

[2016-03-17 13:53] bgrant0607 commented on #23113
cc @vishh

[2016-03-17 13:53] bgrant0607 commented on #23108
cc @nikhiljindal

[2016-03-17 13:54] bgrant0607 commented on #23093
This is also true for many cloud providers.

[2016-03-17 13:55] bgrant0607 commented on #23093
cc @kubernetes/examples

[2016-03-17 13:56] bgrant0607 commented on #23093
We should have examples that demonstrate various approaches to external access:

* type=LoadBalancer
* type=NodePort
* Ingress
* apiserver proxy (for debug/admin purposes, not actual user traffic)

[2016-03-17 14:16] PradeepSingh1988 commented on #22436
I am seeing `invalid volume specification: ':/var/jenkins_home'` ,.
I have 3 node cluster with 2 minions and one master.
i created volume using flockerctl on openstack cinder and attached to minion1.
i created jenkins pod and k8 scheduled it to minion1, and flocker volume is attached and every thing is fine.

now i executed below command so that k8 does not schedule the pod on minion1 in future.
`

[2016-03-17 14:27] pmorie commented on #23033
@yujuhong

To me the salient point is how you form the certainty.

[2016-03-17 14:31] zhouhaibing089 commented on #23120
@jadhavnitind is this the thing you are talking about? https://github.com/zhouhaibing089/downward/blob/master/pod.json

[2016-03-17 14:39] jadhavnitind commented on #23120
Kubectl binaries are upto date.

[2016-03-17 14:44] zhouhaibing089 commented on #23120
@jadhavnitind I am able to run `kubectl create -f rc.yml`, the file is from the link you pasted above: https://github.com/pavlovml/match/blob/master/rc.yml

[2016-03-17 14:48] jadhavnitind commented on #23120
Its strange. Please pass your current version of Kubectl.

[2016-03-17 14:54] mdshuai commented on #23041
Thanks the comment

[2016-03-17 14:54] #23041 closed

[2016-03-17 14:54] zhouhaibing089 commented on #23120
I do not use a download version, I am using the built one, so there is no meaning version, :)

Could you try to use the `kubectl` while you run a `./cluster/hack/build-go.sh`?

Anyway, it would be better to give the kubectl version you are using, so other guys could help to reproduce it and fix it.

[2016-03-17 15:20] jadhavnitind commented on #23120
root@# gcloud version
Google Cloud SDK 101.0.0
bq 2.0.24
bq-nix 2.0.18
core 2016.03.11
core-nix 2016.02.22
gcloud
gsutil 4.17
gsutil-nix 4.16
kubectl
kubectl-linux-x86_64 1.1.7

root@# kubectl version
Client Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.7", GitCommit:"e4e6878293a339e4087dae684647c9e53f1cf9f0", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"1",

[2016-03-17 15:23] vpal commented on #22179
@pmorie thanks for dealing with this.
I think that it would improve security especially noways where it is common to just run images as they are provided and these mostly run as root and as mentioned changing this requires creating a new image which is a hassle.
It is also important to have this feature to have control  for example in micro images that do not even have an etc directory and only co

[2016-03-17 15:23] AdoHe commented on #23113
I tried to reproduce this on my local with HEAD:
the pod yaml file:
[code]
create pod with yaml:
[code]
and pod status:
[code]
and then I tried to reproduce directly with docker:
[code]
looks like a little bit tricky.

[2016-03-17 15:26] moserke commented on #21890
This is now resolved by https://github.com/kubernetes/kubernetes/commit/aa65fe890328f38b2801842f425225e0cd8c0442#diff-323fcf8997dce1391fed5f42578216b5.  I am cool with closing this issue, unless we want to leave it open for more conversation about different approaches.

[2016-03-17 15:27] ibalashov commented on #16168
JFYI, The issue is still there in google container-engine. There is a lot of 404 errors in kubelet log.

Also, `kubelet` takes process takes high cpu, even with no app-level containers is running, I assume partly because of this.

[2016-03-17 15:33] deromka opened #23124 "Starting Kubernetes Cluster on Centos7 and Fedora23 fails"
I'm trying setting up the Kubernetes cluster v1.2.0-beta.0 on Centos7 (and also tried on Fedora23) using cluster/kube-up.sh command,
I have added vsphere support into vagrant, so the Kubernetes scripts could provision VMs from my vSphere (it works, there is a pending pull request on this [link](https://github.com/kubernetes/kubernetes/pull/23121)).

The problem is during salt script execution: etc

[2016-03-17 15:34] jakubkulhan opened #23125 "Cannot create secrets from big (~6MiB) YAML file"
I tried creating secrets [with Hunspell dictionaries for Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/guide/current/hunspell.html). The dictionaries are quite big and serialized to Base64, they create about [6 MiB YAML file](https://github.com/kubernetes/kubernetes/files/178151/elasticsearch-config-hunspell.txt).

`kubectl` exists with this error in log:

[code]

Tested with releas

[2016-03-17 15:35] #18497 closed

[2016-03-17 15:39] zhouhaibing089 commented on #23120
@jadhavnitind it seems that you are using v1.1. and the feature you requested does not exist there, see the related code:

https://github.com/kubernetes/kubernetes/blob/release-1.1/pkg/api/v1/types.go#L793-L796

There is only `fieldRef`.

[2016-03-17 15:41] wallnerryan commented on #22436
Hmm, no, this seems to be the original problem I ran into. @mattbates since this surfaced again, we should look into if its a kubelet/k8s thing or a flocker thing. Looks more like a kubelet/k8s issue to me.

[2016-03-17 15:54] antoineco commented on #23113
@AdoHe did you `docker inspect` the container `c2cb6c436155`? It could be that the values of the `Cpu*` settings have already been adjusted but not cherry picked in the release 1.2 branch (?)

[2016-03-17 15:56] mwielgus opened #23127 "kubernetes-test-go takes ~43min occasionally hitting test timeout"

[2016-03-17 16:00] justinsb commented on #22638
We have the same problem for cn-north-1; expanding the issue to cover that also

[2016-03-17 16:02] agunnerson-explorys commented on #23111
I don't believe this is an issue with the docker multinode setup. I'm running into the same issue on a bare metal CentOS 7 mini-cluster (1 master, 4 nodes).

`skydns-rc.yaml`: https://gist.github.com/agunnerson-explorys/7e0b3fc9000addc56d46

kube2sky logs:
[code]

I don't see anything unusual on the `kube-apiserver` side of things:

[code]

[2016-03-17 16:07] mikedanese commented on #23107
@antoineco were the nodes NotReady? What is the output of kubectl get nodes -o json?

Seems like there was a problem syncing the container runtime after update. cc @dchen1107

[2016-03-17 16:13] mikedanese commented on #23107
Do you have docker logs and kubelet logs from that time?

[2016-03-17 16:34] macb opened #23130 "kubectl does not respect osx VPN dns"
I have a feeling this is more related to Go than kubernetes specifically but the `CGO_ENABLED=0` builds cause this problem to occur.

[code]

When rebuilding off the v1.2.0 tag with `CGO_ENABLED=1` in the `hack/lib/golang.sh` DNS works as expected:

[code]

You can also reproduce that the go dns implementation is lacking with the `CGO_ENABLED=1` bin via env variables:

[code]

As expected, it isn'

[2016-03-17 16:44] derekwaynecarr commented on #23093
It would help if we had a way to detect if a cluster supported
type=LoadBalancer

On Thu, Mar 17, 2016 at 9:57 AM, Brian Grant <notifications@github.com>
wrote:

[2016-03-17 16:46] paralin commented on #23093
@derekwaynecarr Exactly why I made the issue #22871

[2016-03-17 16:56] derekwaynecarr commented on #23113
A few details would help here:

* operating system
* docker version
* docker cgroup driver
* where/how you install docker

There have been some fixes in RHEL based distros to solve this problem, so it may be related.

[2016-03-17 16:57] derekwaynecarr commented on #23113
https://github.com/openshift/origin/issues/6822 discusses similar problems.

https://github.com/projectatomic/docker/pull/76#issuecomment-197009898 is fix we are carrying.

[2016-03-17 17:03] dchen1107 commented on #23104
Sorry for the breakage introduced by this. I did raise the concern when we first worked on #15089, unfortunately docker doesn't support mutable container label. We decided to move on with it because we thought upgrading kubelet binary without kubectl drain is illegal since 1.1 release, and our e2e test never test against this scenario. We didn't realize the customer build their own live-upgrade to

[2016-03-17 17:11] thockin opened #23134 "rolling update throws loglines to screen"
W0317 10:09:49.374877   21568 request.go:627] Throttling request took 53.854473ms, request: GET:https://104.154.56.141/api/v1/namespaces/default/pods?labelSelector=app%3Dbuttonmasher-backend%2Cversion%3Dv1

[2016-03-17 17:12] antoineco commented on #23107
The nodes were all in a Ready state. Sample:

[code]

I don't have Docker logs anymore unfortunately, I understand that it would have helped but they got lost in the cleanup. At that point the daemon was very unresponsive and the garbage collection didn't seem to work properly, looking at the number of dangling images I had. My drives had a hard time copping with a lot of writes which blocked the

[2016-03-17 17:18] mrunalp commented on #23113
This issue may need more investigation. Even with the Delegate=yes patch, I am seeing this. However, this isn't isolated to the systemd cgroups driver. I see the same issue with the cgroupfs driver as well. I will check if there is some kernel limitation that is preventing setting these values.

[2016-03-17 17:18] antoineco commented on #23113
@derekwaynecarr the OS is CoreOS 983.0.0 with Docker 1.10.2 (preinstalled). It uses the `systemd` cgroup driver, but `cgroupfs` shows the same results. From what I've seen this particular issue is purely related to the value of `CpuQuota`.

[2016-03-17 17:19] hongchaodeng commented on #22448
ref: https://github.com/coreos/etcd/issues/4771

@AdoHe Those aren't api server metrics. I even suspect "rest_client_request_xxx" should not be either.

[2016-03-17 17:19] mrunalp commented on #23113
@antoineco Could you try the cgroupfs driver as well?
I see the same issue with the cgroupfs driver
[code]

[2016-03-17 17:24] mrunalp commented on #23113
Here is the reproduction, isolated from docker.
[code]

[2016-03-17 17:28] vishh commented on #23113
1 millisecond is the minimum value for CFS quota. We need to fix it in code.

[2016-03-17 17:29] mrunalp commented on #23113
@vishh Thanks! That explains it.

[2016-03-17 17:30] vishh commented on #23113
I can post a patch for that.

[2016-03-17 17:31] mrunalp commented on #23113
@vishh yeah, makes sense to catch this in runc/libcontainer.

[2016-03-17 17:31] mrunalp commented on #23113
For posterity, it is documented here https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt

[2016-03-17 17:34] mrunalp commented on #23113
This could also be caught here in kubernetes to prevent even trying to spawn a container.

[2016-03-17 17:34] ixdy commented on #23105
We don't currently check out the docs repo in CI, so we probably need to do something more sophisticated. Currently this test only works because we [copy `docs/` into the release tarball](https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L1032). Are we planning to drop the docs from the release tarball?

[2016-03-17 17:35] vishh commented on #23113
@mrunalp: Thats what I intend on doing. It might be worth validating in libcontainer though :)

[2016-03-17 17:39] mrunalp commented on #23113
@vishh I'll add that :)

[2016-03-17 17:40] druidsbane commented on #21877
FYI, still seeing problem in final 1.2 release:
[code]

[2016-03-17 17:50] fgrzadkowski commented on #22449
Ping. Please add it to the release notes and/or user guide.

[2016-03-17 17:50] smarterclayton commented on #20309
This has shown up in a lot of other flows, where it's the top allocation in steady state use and somewhere around ~15% of total allocations.

[2016-03-17 17:55] smarterclayton commented on #20193
There have been arguments we should keep an internal version.  Arguments for are usually that it preserves flexibility to do internal refactors.  Arguments against is that it's one more conversion path to maintain, especially given that we *have* to round trip from our "preferred" version to all others with full fidelity.  I'm not convinced the internal refactor flexibility pays for itself in any

[2016-03-17 17:58] reflection opened #23138 "Kubernetes single-node docker on Fedora 23 fails"
Running the first command on [Running Kubernetes Locally via Docker](http://kubernetes.io/docs/getting-started-guides/docker/) fails on Fedora 23:

[code]

[2016-03-17 18:09] Random-Liu commented on #23104
I don't think the docker label related thing has anything to do with the container killing, because in fact we only rely on it to get `RestartCount` and `TerminationMessagePath` now.

Here is log for one of the pods `hello-www-weqj8_default(6fbdc794-ebe3-11e5-9bd3-005056894f70)`:
[code]
Looks like the pod contains 4 containers.
2 of them are dead at the start of the log:
[code]

 1 of them is kill

[2016-03-17 18:11] yujuhong commented on #23104
Clarification: We still get most of the information (UID, hash, name, etc) from the docker name itself, specifically to handle backwards compatibility.

However, I think one breaking change is #20615 (for future docker v1.10) that changed the docker name.
I am still looking at the logs to see if there are any other issues.

[2016-03-17 18:11] antoineco commented on #23113
But @AdoHe mentioned he can not reproduce it on HEAD with a CPU limit of 5m. It means on head to CpuQuota is set properly (or '0')

[2016-03-17 18:22] justinsb commented on #21877
@druidsbane can you open a new issue with details on what you saw and any hints on how to reproduce (e.g. any env variables you are setting prior to running kube-up)?  Thanks!

[2016-03-17 18:22] dchen1107 commented on #23104
Then it could be a new default function which changes PodSpec / ContainerSpec from 1.1 to 1.2 indeed, and kubelet kills the containers.

[2016-03-17 18:25] nikhiljindal commented on #23108
Yes, http://kubernetes.io/third_party/swagger-ui/ stopped working when we updated our site. Its tracked in: https://github.com/kubernetes/kubernetes.github.io/issues/112.

There is an open PR to change that link in api.md to point to api-ref docs instead of swagger-ui.

[2016-03-17 18:25] #23108 closed

[2016-03-17 18:26] Random-Liu commented on #23104
@ghodss What is the previous version you were using before upgrading?

[2016-03-17 18:32] dchen1107 commented on #23104
it is kubelet 1.1.3 from the issue's title

[2016-03-17 18:33] Random-Liu commented on #23104
@dchen1107 Silly me...Saw that...I tried to find it in the issue content... :)

[2016-03-17 18:34] vishh opened #23140 "Unify heapster configuration files"
As of now there exists more than 4 different ways to deploy heapster. This makes it hard to reliably update heapster configuration.
We should rework the configs to use a combination of salt and config objects to get rid of most of the duplicate config files.

[2016-03-17 18:43] yujuhong commented on #23104
I uploaded a PR #23141 to fix one particular problem: kubelet starts pod cleanup routine prematurely and kills desired pods.

The remaining problem is that the UID/container hash of the static pods seem to have changed after upgrade, as @dchen1107 said in https://github.com/kubernetes/kubernetes/issues/23104#issuecomment-198015681

[2016-03-17 18:49] paralin opened #23142 "AWS: jessie deployment needs additional cgroup kernel features enabled"
The AWS jessie deployment needs `CONFIG_CFS_BANDWIDTH=y` in the kernel.

See: https://github.com/openshift/origin/issues/8074#issuecomment-198029115

This might not be the easiest thing to do. Re-compiling the kernel is pretty unrealistic, and installing a package to enable the option is not something I'm too sure is possible.

For now a temporary fix is to use `wily` instead.

[2016-03-17 18:49] paralin commented on #23142
cc @justinsb @bparees @smarterclayton

[2016-03-17 18:52] ghodss commented on #23104
I too am inclined to believe it's not the labels issue. I recall seeing similar statements about the labels in the logs before and after I actually did the upgrade, but unfortunately I don't still have those logs.

Does kubelet do defaulting? I thought that was in the apiserver.

[2016-03-17 18:54] luxas commented on #17619
Is it required to pass `--resource-container=""` when running in a container and it is `v1.2`?

[2016-03-17 18:57] yujuhong commented on #23104
We use the same library to decode and validate a pod from non-apiserer sources.
https://github.com/kubernetes/kubernetes/blob/7e158006c06fd432b3461f83026b85a72721eddc/pkg/kubelet/config/common.go#L91

Yeah, the label-related messages are loud but harmless. We plan to switch to relying on labels (and stopped polluting the docker names) in the future. We will also be able to filter pods by labels, e

[2016-03-17 19:11] huggsboson commented on #19720
Using docker 1.10.3 on MacOSX with docker-machine when I start pods in a containerized kubelet (hyperkube /kubelet) I get the following error when starting busybox:
  10s		10s		1	{kubelet 127.0.0.1}			Warning		FailedSync	Error syncing pod, skipping: failed to "StartContainer" for "POD" with RunContainerError: "addNDotsOption: ResolvConfPath \"/mnt/sda1/var/lib/docker/containers/567bd3a384ee392ea5e

[2016-03-17 19:14] markpaychex commented on #831
+1. Need a simple way to use configuration data without having to rebuild images. Using git won't work because it then requires git to be a redundant highly available system. Network and persistent storage is not an option either. I just need to use some prepackaged data that varies between environments and can be updated independently of images. For now it looks like the way to do this is to depl

[2016-03-17 19:17] vishh commented on #19720
@ArtfulCoder: https://github.com/kubernetes/kubernetes/issues/19720#issuecomment-198038986

[2016-03-17 19:22] pmorie commented on #831
@markpaychex does ConfigMap not solve that problem for you?

[2016-03-17 19:24] huggsboson commented on #19720
I still got the error on 1.9.1, so can't attribute that to 1.10...
13s		13s		1	{kubelet 127.0.0.1}			Warning		FailedSync	Error syncing pod, skipping: failed to "StartContainer" for "POD" with RunContainerError: "addNDotsOption: ResolvConfPath \"/mnt/sda1/var/lib/docker/containers/bfa0d21913b5a8150afb4a32ea571376e2ad6353f832f1807ffc21bcf46973f9/resolv.conf\" does not exist"

[2016-03-17 19:32] huggsboson opened #23144 "Containerized hyperkube kubelet addNDotsOption: ResolvConfPath Warning"
This doesn't seem to have an impact, but describe pod is producing a warning on busybox startup.  Using the standard docker run command on an OSX box using docker 1.9.1 and 1.10.3:

[code]

[code]

The resolve conf seems fine though:

[code]

and here's the resolv.conf in the pod:

[code]

[2016-03-17 19:40] markpaychex commented on #831
@pmorie It would work for some things but I don't think it would cover all bases (such as xml files from libraries that require initialization from a file).

[2016-03-17 19:42] pmorie commented on #831
@markpaychex you can project configmap keys into files, and the API resource is completely agnostic of what you throw into the files - you can store json blobs, yaml blobs, xml, whatever you want.

[2016-03-17 19:46] mikedanese commented on #17619
yes

[2016-03-17 19:50] #16395 closed

[2016-03-17 20:05] luxas commented on #17619
Why? I don't even see the flag in http://kubernetes.io/docs/admin/kube-proxy/

[2016-03-17 20:06] spxtr commented on #22039
It seems like a good idea to jump straight to 1.6 once the k8s 1.2 release is out. We might run into scalability issues again, but we should try to fix forward instead of rolling back to 1.4.2... again.

[2016-03-17 20:14] derekwaynecarr commented on #23125
There is a limit to the maximum size of a secret in bytes at 1 MiB.

[2016-03-17 20:15] derekwaynecarr commented on #23125
What command did you use to create the secret?  Was it `kubectl create secret` subcommand?

[2016-03-17 20:21] swagiaal commented on #21931
@saad-ali

I have been thinking about this. We discussed yesterday that if we do not use the cache and rely just on the directory structure that we would need add information to the path about read-write vs read-only attach modes to solve the above issue. I am thinking now that the problem, at least as described above, would be fixed by the serialization of mount/unmount/attach/detach operations.

[2016-03-17 20:25] derekparker commented on #23073
@vishh definitely.

So, one of the biggest improvements that allowing a runonce kubelet to register with an apiserver provides is the ability to write higher level kubernetes objects into the apiserver (think daemonsets for example). Currently, all runonce modes simply assume static pod manifests live somewhere, but this can be limiting in certain situations.

Specifically, imagine you had a `kube

[2016-03-17 20:30] spiffxp opened #23146 "Extract SIG information out of wiki"
As a SIG owner I'd like to be able to edit my SIG's page in the wiki.  In order to do this, I need write access to the kubernetes/kubernetes wiki.  This is effectively the same as write access to the repo, lgtm privileges, etc.

It would be way more convenient if we could put SIG information in a place that is less critical to restrict.  Separate repo with a wiki?  Seperate repo with no wiki?  Spe

[2016-03-17 20:37] piosz commented on #22449
Added to the release notes.

[2016-03-17 20:37] #22449 closed

[2016-03-17 20:39] wojtek-t commented on #22039
@spxtr - we are already working with Golang folks. This is happening in the background.

[2016-03-17 20:42] acesyde commented on #21067
If you use powershell set env by $env:AZ_SUBSCRIPTION = "GUID"

[2016-03-17 20:45] colemickens opened #23147 "Admission controllers require insecure port to be open"
I activated admission controllers in my cluster and started getting this error when deploying kube2sky.

Inferred from the port 0 that it was the apiserver trying to go through an admission controller.

It's not clear if it's supported to disable the insecure port... For now I've simply re-enabled it.

[2016-03-17 20:45] colemickens commented on #23147
[code]

[2016-03-17 20:51] david-mcmahon opened #23148 "build_version value in logs has lost .build_number+hash metadata on Jenkins runs"
These values are critical for the release infrastructure.

$ curl -s http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-release-1.2/383/consoleText | awk -F= '/^[+ ]*build_version=/ {print $2}'
v1.2.1-beta.0

$ curl -s http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-release-1.1/2249/consoleText | awk -F= '/^[+ ]*build_version=/ {print $2}'
v1.1.9-beta.0.19+08de67eb0be382

[2016-03-17 20:51] atemerev commented on #17275
I can reproduce it on local Docker/kubernetes, Mac OS X 10.11.3.

After scaling up, new Cassandra nodes don't seem to join the cluster.

[2016-03-17 20:54] fgrzadkowski commented on #23111
@kubernetes/sig-network @thockin @bprashanth

[2016-03-17 20:59] dchen1107 commented on #23073
@derekparker  I am having difficulty to understand what you you mean above. I  guess you are referring to "read higher level kubernetes objects from the apiserver". If my understanding is right, what you described here does make sense to me.

[2016-03-17 21:00] ihmccreery commented on #22491
@piosz Any update on this?  We're seeing this in GKE, and would like to get it worked out.

[2016-03-17 21:01] derekparker commented on #23073
@dchen1107 exactly, sorry for the confusing wording!

[2016-03-17 21:03] ihmccreery commented on #22491
e.g.

- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial-release-1.2/15
- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial-release-1.2/13
- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial-release-1.2/11

[2016-03-17 21:07] ihmccreery commented on #21921
Happened again on 1.2 branch:

*** View logs and artifacts at https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow-release-1.2/89 ***

[2016-03-17 21:09] mikedanese commented on #17619
We can't remove the flag or change the default and the default is not "". It's still a flag but is not showing up because it's marked deprecated which is a stupid "feature" of cobra.

[2016-03-17 21:10] ihmccreery opened #23149 "SSH tunnels flakiness in GKE"
**KubeProxy should test kube-proxy [Slow]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubeproxy.go:105 Expected error: <errors.errorString | 0xc208554840>: { s: "Error running &{/jenkins-master-data/jobs/kubernetes-e2e-gke-slow-release-1.2/workspace/kubernetes/platforms/linux/amd64/kubectl [kubectl --server=https://104.154.105.26 --kubeconfig=/var/lib/jenkins

[2016-03-17 21:12] ihmccreery commented on #23149
cc @fabioy

[2016-03-17 21:12] rata commented on #22854
It might make sense to write an Ingress Controller, as the one on GCE (beta), that handles the SSL with an ELB. I haven't looked into it.

[2016-03-17 21:13] yujuhong commented on #21921
[code]
This is #20550

[2016-03-17 21:13] #21921 closed

[2016-03-17 21:15] ihmccreery opened #23150 "KubeProxy should test kube-proxy [Slow]"
**Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow]**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pd.go:121 Expected error: <*exec.ExitError | 0xc2083d8ed0>: { ProcessState: { pid: 12832, status: 256, rusage: { Utime: {Sec: 0, Usec: 404000}, Stime: {Sec: 0, Usec: 28000}, Maxrss: 23268, Ixrss: 0, Idrss: 0, Isrss: 0, Mi

[2016-03-17 21:15] ihmccreery commented on #23150
P0 for triage, then we can decide what to do from there.

[2016-03-17 21:16] ihmccreery commented on #23150
Ah, nvm; same as #23149.

[2016-03-17 21:16] #23150 closed

[2016-03-17 21:17] yujuhong commented on #20550
This keeps happening in our builds. See all the issues linked above. Re-opening so that we don't have to keep all the duplicates.

[2016-03-17 21:17] ihmccreery commented on #23149
This is causing Pod Disks tests to fail as well.

[2016-03-17 21:17] bprashanth commented on #23111
@deromka can you run: https://github.com/kubernetes/kubernetes/blob/master/test/images/clusterapi-tester/pod.yaml and kubectl logs on that pod when it's running, it should show you the services in your cluster. If it doesn't, you have problems connecting to apiserver from a pod.

@agunnerson-explorys what are your client/server versions? (kubectl version)

[2016-03-17 21:20] bprashanth commented on #20552
I believe this issue can be closed, we re-opened https://github.com/kubernetes/kubernetes/issues/20550 for the gcr.io weirdness and it shouldn't be failing in other modes because of previous fixes

[2016-03-17 21:21] janetkuo commented on #23087
After in-person discussion with @bgrant0607, we decided not to record `kubectl rollout` commands at all. It's intentional because `kubectl rollout pause/resume` doesn't really change the rollout (revision doesn't change), and recording `kubectl rollout undo` is less meaningful than the original change-cause (such as create/apply/edit...etc.)

I'll just fix the bug that the annotation is copied fro

[2016-03-17 21:22] janetkuo commented on #23087
We should document that we don't record `kubectl rollout` as well.

[2016-03-17 21:22] luxas commented on #17619
Ah, got it. But it's quite confusing when cobra doesn't display it. Thanks.

[2016-03-17 21:24] jakubkulhan commented on #23125
It was `kubectl create -f elasticsearch-config-hunspel.yml`, where `elasticsearch-config-hunspell.yml` is located [here](https://github.com/kubernetes/kubernetes/files/178151/elasticsearch-config-hunspell.txt) (Github does not allow `yml` file extension, so the uploaded file has been renamed to `txt`).

[2016-03-17 21:27] bgrant0607 commented on #21585
cc @madhusudancs

[2016-03-17 21:49] spxtr commented on #23148
Curiously, it's working as expected in master.

[2016-03-17 21:49] jlowdermilk opened #23152 "GKE e2e flake: Pod Disks should schedule a pod"
Flaked twice on kubernetes-e2e-gke-slow-release-1.2
[kubernetes-e2e-gke-slow-release-1.2/97](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow-release-1.2/97)
[kubernetes-e2e-gke-slow-release-1.2/80](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow-release-1.2/80)

[code]

[2016-03-17 21:50] lavalamp opened #23153 "hyperkube config files: system pods should be in namespace kube-system"
All the .json files here need to change: https://github.com/kubernetes/kubernetes/tree/master/cluster/images/hyperkube

[2016-03-17 22:01] ihmccreery commented on #23152
This is a duplicate of #23149.

[2016-03-17 22:02] ihmccreery commented on #23152
[code]

[2016-03-17 22:02] #23152 closed

[2016-03-17 22:05] spxtr commented on #23148
This is happening because `git describe` doesn't give you the commit if the tag points to HEAD.

[2016-03-17 22:05] antoineco opened #23155 "Could not determine public IP from AWS metadata."
In Kubernetes 1.2.0, the message `aws.go:745] Could not determine public IP from AWS metadata.` appears every 10 sec in the kubelet logs.

I don't think it is necessary to try to determine a public IP which doesn't exist every 10 sec (the instance is on a private subnet) nor to notify about it every 10 sec.

[2016-03-17 22:08] reflection commented on #23138
I resolved a couple issues on my end, and closing because this now works.  Sorry for the false alarm.
1)  Not sure if relevant, but followed these instructions for Fedora: "running docker with a manually defined network"
2)  Probably more relevant: I had remnants of etcd and a few other things from [Fedora (Single Node)](http://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/

[2016-03-17 22:08] #23138 closed

[2016-03-17 22:16] bgrant0607 commented on #21116
This is documented in release notes.

[2016-03-17 22:17] #21116 closed

[2016-03-17 22:22] nikhiljindal opened #23159 "Replace htmlpreview links by kubernetes.io links in release docs"
Right now, we replace HEAD by release version in htmlpreview links in versionize-docs: https://github.com/kubernetes/kubernetes/blob/0e229d59f09c0f221eb45ad193f5c0f8ef875fc9/build/versionize-docs.sh#L67.

We can probably replace the htmlpreview links by kubernetes.io links instead.

Ref https://github.com/kubernetes/kubernetes/issues/15910 for problem with htmlpreview links

cc @kubernetes/docs @c

[2016-03-17 22:26] nikhiljindal commented on #15910
We should replace htmlpreview links by kubernetes.io links before copying docs over to kubernetes.io: https://github.com/kubernetes/kubernetes/issues/23159

[2016-03-17 22:30] zombor commented on #22854
Yeah, if there's an Ingress controller that will setup an ELB that would probably be best. I haven't heard of any such thing though.

[2016-03-17 22:33] rata commented on #22854
On Thu, Mar 17, 2016 at 03:31:41PM -0700, Jeremy Bush wrote:

There isn't, I'm just saying maybe this is something to take into account when
solving this :)

[2016-03-17 22:34] fejta commented on #10352
@amygdala Thanks for letting me know about the email!

[2016-03-17 22:34] vishh commented on #23073
@derekparker: To summarize,

Goal is to get kubelet to run as pods and make upgrades/downgrades easier.
This PR proposes adding a functionality to kubelet that will make it run only a specific kind of pod (details TBD) and then exit?

[2016-03-17 22:35] therc commented on #22854
There isn't one yet, but I'll be working on the Ingress controller for AWS.

[2016-03-17 22:40] derekparker commented on #23073
@vishh

Correct, that is the ultimate motivation for this feature.

This PR does not restrict the kind of pod a kubelet will run, that is handled externally. As opposed to my initial patch (`--bootstrap-pod-label` flag) this feature is more general than just using a kubelet to run a kubelet (or any specific pod), but that is certainly our motivation.

This PR only proposes allowing the kubelet to

[2016-03-17 22:43] rata commented on #22854
On Thu, Mar 17, 2016 at 03:36:00PM -0700, Rudi C wrote:

Ohh, great! :-)

[2016-03-17 22:51] yujuhong commented on #23104
More background: For pods from non-apiserver sources, kubelet hashes the entire pod object and generate a UID for it. Any change in the pod spec leads to a new UID, and is considered a different pod. This is necessary because kubelet doesn't know how to validate updates to pods, so treating it as a new pod is simpler and safer.

[2016-03-17 22:52] #2990 closed

[2016-03-17 22:52] #3013 closed

[2016-03-17 22:52] #3121 closed

[2016-03-17 22:52] #3122 closed

[2016-03-17 22:52] #3123 closed

[2016-03-17 22:52] #3136 closed

[2016-03-17 22:52] #3341 closed

[2016-03-17 22:52] #3358 closed

[2016-03-17 22:52] #3820 closed

[2016-03-17 22:52] #4881 closed

[2016-03-17 22:52] #5601 closed

[2016-03-17 22:54] bgrant0607 commented on #15747
Didn't see anything here worth documenting at this point. Might have been useful 3 months ago. Closing.

[2016-03-17 22:54] #15747 closed

[2016-03-17 22:54] #3118 closed

[2016-03-17 22:54] #4292 closed

[2016-03-17 22:54] #4599 closed

[2016-03-17 22:54] #5078 closed

[2016-03-17 22:54] #6787 closed

[2016-03-17 22:54] #7248 closed

[2016-03-17 22:54] #7508 closed

[2016-03-17 22:54] #7989 closed

[2016-03-17 22:54] #8515 closed

[2016-03-17 22:54] #8684 closed

[2016-03-17 22:54] #9023 closed

[2016-03-17 22:54] #9338 closed

[2016-03-17 22:54] #9397 closed

[2016-03-17 22:54] #10306 closed

[2016-03-17 22:54] bgrant0607 commented on #21000
I think the most important of these are in the release notes.

[2016-03-17 22:54] #21000 closed

[2016-03-17 22:56] yujuhong commented on #23104
Forgot to paste the difference between v1.1.3 and a v1.2 pods:
[code]

The non-nil  securityContext seems to be the problem. The rest (status and annotations) is not relevant.

[2016-03-17 23:01] davidopp commented on #3515
why closed?

[2016-03-17 23:02] dchen1107 commented on #3573
I am not aware any test case for standalone kubelet was introduced.

[2016-03-17 23:04] spxtr opened #23162 "test-linkchecker has been red for a long time"
Here's a recent run: https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-test-linkchecker/29/

@caesarxuchao did you want this to be in critical builds? Right now I don't think anyone sees it.

[2016-03-17 23:09] mikedanese commented on #23073
Why can't it do a single list and run all assigned pods?

[2016-03-17 23:12] caesarxuchao commented on #23162
Thanks, @spxtr. Most errors are caused by the doc move. I've informed the related parties. I'll send out alarms if the build is still red after the docs are stable.

[2016-03-17 23:15] derekparker commented on #23073
By default it will, only problem is pods will only be assigned to that node once it registers. So:

1) Kubelet registers
2) Kubelet does a "list" against apiserver (this is already default code path, list then watch)
3) Kubelet has only just registered, nothing has been scheduled to it, so it gets nothing from the list
4) Pod is then scheduled to Kubelet, and is picked up by the Kubelet via the wa

[2016-03-17 23:15] fejta commented on #3515
Thanks for reopening! I closed a bunch of test-infra bugs because there are a large number of them and I want to draw attention to the ones that are still relevant/important.

Dropping the test-infra label and moving to kubelet based on the description.

[2016-03-17 23:16] quinton-hoole commented on #8879
@fejta FWIW I think that this is probably the root cause behind log uploads to GCS frequently timing out and failing.

[2016-03-17 23:17] thockin commented on #1111
We're so close on this.  The right time to try to get the last (hardest) uses of "minion" is probably right now - just after a release.  This will get us the most testing and leniency for mistakes :)

Interested in finishing?

[2016-03-17 23:27] thockin commented on #3515
Yeah, I still think we should do this more and that we should have WAAAAAAY more metrics that we expose.  Visibility into apps is way too low.

[2016-03-17 23:35] thockin commented on #22436
I'm going to make a new issue to cover the systemic error reporting, but it sounds like a driver is still returning ""

[2016-03-17 23:37] thockin opened #23163 "Verify volume.GetPath() never returns """
Any call to GetPath should be checked for "" and the pod should fail with a clear indication of why.  It's a bug in a driver, but it is surfacing badly, right now.

[2016-03-17 23:38] mattbates commented on #22436
Yes, this absolutely needs more investigation. Thanks @thockin. we'll pick this up and look to find the root cause over the next week.

[2016-03-17 23:39] thockin commented on #4710
sorry, we don't cherry pick features like this

On Thu, Mar 17, 2016 at 12:26 AM, Gorka Lerchundi Osa <
notifications@github.com> wrote:

[2016-03-17 23:55] thockin commented on #18670
Dup of #12226

[2016-03-17 23:55] #18670 closed

[2016-03-18 00:23] bprashanth commented on #20176
It would also be cool if:
[code]
Just created a self signed cert usable in an Ingress. I put in some code to e2e test Ingress that one can use to do this: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress_utils.go#L48
We can iterate on RSA vs ECDHE, size of key etc.

[2016-03-18 00:26] dchen1107 commented on #3573
@fejta I re-open this since I couldn't find anywhere I added test for standalone kubelet. Please feel free to close it if I am wrong. Thanks!

[2016-03-18 00:43] lavalamp opened #23166 "Change --storage-version default for 1.3"
for both Job and HPA. Tag the PR with a release-note label so we'll be sure and give the instruction to run update-storage-objects.sh in the release notes for 1.3.

I think it's safe to do this in head ~now.

@erictune @piosz

[2016-03-18 00:59] #23113 closed

[2016-03-18 01:01] paralin opened #23168 "AWS: wily image mounts /var/lib/docker to 3gb ephemeral drive"
It should mount it to /

[code]

and

[code]

Ephemeral is 3.7G while / is 32Gb. The docker images disk runs out almost immediately.

[2016-03-18 01:01] paralin commented on #23168
@justinsb

[2016-03-18 01:07] paralin commented on #23168
I'm using `m3.medium` instances, maybe this is wrong. Will revert to the default for now.

[2016-03-18 01:13] pwittrock opened #23169 "Make test fails using go 1.6 on Ubuntu Trusty"
When running go 1.6 make test fails:

[code]

And also

[code]

[2016-03-18 01:14] msaffitz opened #23170 "Pods Killed Every 5 Minutes After Upgrading to 1.2"
We've successfully been running 1.1.7 on AWS for several months.  After upgrading to 1.2 today nearly all of our pods are killed every 5 minutes.  In the logs we see `Killing container with docker id 661a6ded11b9: Need to kill pod.`, but beyond that there doesn't seem to be a clear cause.  I'm at a bit of loss for where to look next and how to debug this, and love any suggestions / recommendations

[2016-03-18 01:20] ghodss commented on #23104
1. Have we added something to the release notes saying that you should expect your pods to bounce if you upgrade the kubelet?
1. Do we have ideas on how to prevent this in 1.3? We can handle a full cluster bounce today, but I'd really rather not have to do deal with it in future upgrades.

[2016-03-18 01:26] liggitt commented on #23166
cc @deads2k

[2016-03-18 01:27] liggitt commented on #23147
Dupe of https://github.com/kubernetes/kubernetes/issues/13598

[2016-03-18 01:27] #23147 closed

[2016-03-18 01:28] liggitt commented on #13598
Would really like to see this fixed for 1.3

[2016-03-18 01:30] liggitt commented on #23127
https://github.com/kubernetes/kubernetes/pull/22919 would help with unit tests. TLS enabled etcd for registry unit test packages is pretty slow

[2016-03-18 01:52] roberthbailey commented on #13598
Me too. Are you guys going to have any bandwidth to work on it?

[2016-03-18 02:01] AdoHe commented on #22448
@hongchaodeng this is just some quick fix, AFAIK the `init` functions can not be skipped, seems you have fixed this on etcd side, great job :+1:

[2016-03-18 02:05] smarterclayton commented on #20176
Why would we want a self signed cert?

On Thu, Mar 17, 2016 at 8:23 PM, Prashanth B <notifications@github.com>
wrote:

[2016-03-18 02:07] smarterclayton commented on #9299
Why was this closed?

[2016-03-18 02:13] mikedanese opened #23172 "Proposal: single parameter kubelet bootstrap"
Kubelet bootstrap can take a single parameter and be achieved in three phases, each optoutable. The single parameter is the cluster-id.

The kubelet configuration (including kubeconfig) can be divided into three buckets. These three buckets answer the questions:
1. Where is the API and how do I trust it? This bucket consists of a list of endpoints of the API and a ca.crt to trust a secure to the e

[2016-03-18 02:17] bprashanth commented on #20176
Why not? only if don't specify --key and --cert
Because I see a lot of confusion around getting off the ground with certs in general (base64 encoding, type/key names to use, etc). If people can create a working L7 with some valid self signed cert, and they know things work, they can easily swap it out for something real?

[2016-03-18 02:24] liggitt opened #23173 "Retry on patch conflict uses internal version"
When the API server hits a conflict updating a resource in response to a patch request, it retries internally.

In the process, it recomputes the patch, but does so using the internal type as a schema. This breaks if the internal type is missing JSON tags (which we want to remove) or has different tags, or has a different field.

[2016-03-18 02:26] liggitt commented on #3933
We should prioritize this. It is masking issues like https://github.com/kubernetes/kubernetes/issues/23173

[2016-03-18 02:28] mikedanese opened #23174 "implement v2 of kubernetes deployments"
### Edit: a lot has change since this original issue description, read the later comments

It's time to declare bankruptcy on `cluster/salt/`. It served us dutifully but has grown to be unmaintainable. Let's learn form our experience and start building v2.

Some possible improvements I would like to see:
* use ansible, the technology the community settled on
  * or, ideally, eliminate all of Chef/

[2016-03-18 02:36] liggitt commented on #13598
I like how you can make sure all the same paths apply (authnz, admission, etc). I like the ability to give different components different permissions.

@smarterclayton was experimenting with a go library that let you do "loopback" calls via a channel so that you wouldn't pay network stack overhead, but could treat the rest of the handler chain consistently

[2016-03-18 02:55] justinsb commented on #23174
I think this looks great.

I am wary of the ansible idea, because you need only hang out in kubernetes-users to see that a large majority of people don't want to use anything but their preferred tool.  I am experimenting with a tool which can generate Terraform/CloudFormation/Chef/Puppet/Salt/Whatever templates (solving the many language problem by adding another language).  If we don't have a way

[2016-03-18 03:10] MikeSpreitzer commented on #21697
Moved to https://github.com/kubernetes/contrib/issues/576 at @thockin's suggestion.

[2016-03-18 03:10] #21697 closed

[2016-03-18 03:17] mikedanese commented on #23174
For reference here's the original ansible discussion https://github.com/kubernetes/kubernetes/pull/18287#discussion_r46877272. We should evaluate wheter it's feasible to use ansible without requiring python on the host. While the requirement is painful, it would be good to not reinvent the wheel. By picking something that a large group of people like, we get the largest group of potential maintain

[2016-03-18 03:28] pmorie commented on #23120
@zhouhaibing089 is right (thanks a lot for responding on this issue).

This feature is available in 1.2.0, which is released today.

[2016-03-18 03:31] pmorie commented on #23120
@jadhavnitind, is it possible for you to try it out on 1.2?

[2016-03-18 03:36] pmorie commented on #22943
@aanm certifying kube on docker 1.10 is going to be targetted for the 1.3 release.

[2016-03-18 03:44] pmorie commented on #21681
I'm sorry for being late to the party here, but I am glad that this didn't slip through the cracks, thanks a lot for pointing this out.

[2016-03-18 03:47] quinton-hoole commented on #6085
Why closed?

[2016-03-18 03:48] bprashanth commented on #23134
duping into https://github.com/kubernetes/kubernetes/issues/23007

[2016-03-18 03:48] #23134 closed

[2016-03-18 03:59] pmorie commented on #831
@markpaychex sorry, meant to link to the docs earlier on ConfigMap, please let me know if this helps clarify:

http://kubernetes.io/docs/user-guide/configmap/

[2016-03-18 04:08] jadhavnitind commented on #23120
Firstly I am using Kubernetes on Google Container Cluster. Its not on standalone instance or server.
So, I will have to use Kubectl to create any kind of resource using yaml/json file.
@pmorie I am not getting what version are you talking about?

[2016-03-18 04:13] smarterclayton commented on #13598
The network stack overhead isn't that bad on modern kernels.  Even the
loopback channels (emulated net.Conn) weren't substantially faster,
although tail latency was much better.

On Thu, Mar 17, 2016 at 10:36 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-03-18 04:24] bgrant0607 commented on #23170
@msaffitz

How did you upgrade?

What version of Docker are you running? Did you upgrade?

Were you using an experimental/alpha features?

What Linux distribution and kernel?

[2016-03-18 04:30] bprashanth commented on #10308
We already have v(4) on gce.
GKE clusters are still at v(2), not sure why.

[2016-03-18 04:33] Random-Liu commented on #23170
@msaffitz Could you please post the kubelet log somewhere?

[2016-03-18 04:35] markturansky commented on #23098
There is this: https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning

[2016-03-18 04:41] bgrant0607 commented on #23170
@msaffitz Also, what kind of controller were these pods created by?

[2016-03-18 04:42] bgrant0607 commented on #23170
Every 5 minutes sounds like Kubelet can't talk to apiserver. That's the node-controller timeout. Do Kubelet's logs suggest that might be the case? It may help to crank up logging to --v=4.

[2016-03-18 04:51] justinsb commented on #23174
Absolutely agree - I don't want to derail the conversation into rehashing the ~~vim/emacs~~ ansible/salt debate, so sorry for that.

I agree with the goals, and count me as interested in helping :-)

[2016-03-18 05:06] davidopp commented on #22848
@mml any progress on this?

[2016-03-18 05:07] davidopp commented on #22778
ping @derekwaynecarr

[2016-03-18 05:08] davidopp commented on #22764
cc/ @roberthbailey @a-robinson

[2016-03-18 05:09] davidopp commented on #22764
cc/ @erictune

[2016-03-18 05:34] iT2afL0rd commented on #1957
Big +1 for consul

[2016-03-18 05:36] davidopp commented on #17151
FYI the Huawei folks are starting work on taints and tolerations now.
https://github.com/kubernetes/kubernetes/blob/master/docs/design/taint-toleration-dedicated.md

[2016-03-18 05:47] luxas commented on #23153
I may take a look at it.
If I understand you correctly, the only thing that should be changed is adding `namespace: kube-system` to the files.

BTW, a thing I have been thinking about, why isn't kube-system automatically created? I have done this `namespace: kube-system` change locally a few times, and at least with `v1.1`, the static pods were in `kube-system`, but the `kube-system` namespace did

[2016-03-18 06:48] tsjsdbd commented on #21070
Maybe can choose using which network instead of specific IP address, for example if each Node have two network plane, and installation will no longer be a problem.

[2016-03-18 07:40] PradeepSingh1988 commented on #22436
JFI: flocker is able to attache the volume to the node2 when node1 goes off.
If you guys need any logs please let me know.

[2016-03-18 07:51] wojtek-t opened #23178 "Another performance test"
We may want to create the following performance test (assuming 1000-node cluster);
- create 29,000 running pods
- create 1000 pending pods
- list just the pending pods (using server-side filtering).

That's probably a realistic debugging scenario, and I would assume it gets much better performance than listing all 30,000 pods?

@davidopp @gmarek

[2016-03-18 07:56] colemickens commented on #23153
There's a chicken-egg problem. I tried it and it just ignored the missing namespace, it seems.

[2016-03-18 08:41] wojtek-t commented on #13775
Deep-copy generator is already migrated (I've just finished it).

I will do the conversion next.

[2016-03-18 09:13] hdanniel opened #23181 "kube-down.sh releases AWS Elastic IP"
When bringing down the cluster in AWS, the kube-down.sh script releases the Elastic IP address defined with MASTER_RESERVED_IP . The Elastic IP was allocated before the creation of the cluster.
This is an unexpected behavior, different from 1.1.8 where the Elastic IP was only disassociated from the kubernetes master instance not released from the AWS account. I think it should be released only whe

[2016-03-18 09:33] paralin commented on #23181
Is it possible to tag these somehow?

[2016-03-18 09:45] gmarek opened #23182 "When Jenkins master disk is full latest-build.txt is not updated"
It makes GCS not a perfect source of truth about build status.

cc @ixdy @spxtr

[2016-03-18 10:07] xinxiaogang opened #23184 "Network flapping cause service LB pool creation failure"
This case happens when there is network flapping.

During LB creation in servicecontroller, if there is network problem when getting response from cloudprovider, while, actually the LB has been created correctly, the LB creation will retry and retry with no chance to be success.

[2016-03-18 10:11] ElielHaouzi commented on #23092
Hi @juretta
Do you have any idea that when I try to establish the ssh tunnel I get "Incorect usage":

[code]

Thanks

[2016-03-18 10:45] ndeloof commented on #2630
It seems to me this issue is only caused by kubernetes relying on bind mount. When using docker volumes (i.e created using a volume driver, `docker volume` command, or implicit `VOLUME` from Dockerfile) the volume is initialized with content from the docker image, and can be `chwon`ed to match image requirements. Can't kubernetes use volume API to do the same ?

[2016-03-18 10:57] xinxiaogang opened #23186 "kubelet does not shut down old static pods when restarting the same time as manifest change"
I do `kube-push` to my cluster and meet the following issue:
- In my push, I update control plane manifest as well as kubelet command line arguments.
- After push, old static pods still running while new pods failed to run. Take apiserver as an example:
  - There are 3 running containers after push: `old apiserver`, `old apiserver pause`, `new apiserver pause`.
  - Run `docker ps -a | grep apiserv

[2016-03-18 12:21] gangefors opened #23187 "k8s cluster doesn't start on second boot using fedora23 on vagrant"
I've tried my best to get to the bottom of this problem finding similar problems but I can't seem to figure out why my cluster doesn't start on second boot.
I found [this unanswered question](http://stackoverflow.com/questions/36063594/starting-kubernetes-cluster-on-centos7-and-fedora23-fails) on stackexchange that probably is the same issue.

My setup is following this [guide](http://kubernetes.i

[2016-03-18 12:54] rakeshm commented on #22623
I added a summary of the Apprenda/Microsoft meeting to the doc with some upcoming key action items.

[2016-03-18 13:27] erimatnor commented on #21618
I've confirmed that Flannel 0.5.5 fixes the problem. Btw, another way to solve this without masquerading is to add a routing table entry to each host, pointing the VIP subnet (10.100.0.0/16) to the Flannel interface. Then packets will be sent via the Flannel interface and will have a "acceptable" source address.

[2016-03-18 13:29] #22184 closed

[2016-03-18 13:44] druidsbane opened #23188 "AWS Multiple-AZ Fails to Start Up and Register Nodes on Second AZ using 1.2"
[code]

The results of the initial cluster coming up are:
[code]

The failure when running the second command is:
[code]

[2016-03-18 13:44] druidsbane commented on #21877
Created issue: #23188

[2016-03-18 14:27] bgrant0607 opened #23189 "Create a post-upgrade stability test"
Test whether:
- Nodes are ready after upgrade
- Containers are immediately killed after upgrade
- Pods are killed within 10 minutes after upgrade
- Pods remain terminating 10 minutes after upgrade

cc @dchen1107 @mikedanese @quinton-hoole

[2016-03-18 14:28] jonnymbgood commented on #23017
I tried v1.2.0 that was just released and it creates the resource if it doesn't exist. Thanks! Closing...

[2016-03-18 14:28] #23017 closed

[2016-03-18 14:47] smarterclayton commented on #22623
We have an "ok" story for container runtime specific flags, but it needs to be upgraded to a "great" story.  We'd follow the `rkt` pattern for now probably.

Great question, we should try to figure out what those would be and then have the discussion of a set of them together.  ContainerSpecs were designed to be more generic than the default Docker container spec originally was, but I suspect we'l

[2016-03-18 14:47] agunnerson-explorys commented on #23111
@bprashanth Here are the versions:

[code]

They're the official packages from RHEL7/CentOS 7:

[code]

I actually rebuilt the cluster using the Ansible scripts from contrib and I'm not seeing this issue anymore. Those scripts were doing quite a few things that weren't in the documentation (like creating keys) which I suspect to have fixed whatever was causing the issue.

[2016-03-18 14:47] zhouhaibing089 opened #23191 "Mount config drive data if using openstack cloudprovider"
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L181 checks the instance id via reading the file `/var/lib/cloud/data/instance-id` which is generated by cloud-init, if this lookup fails, the metadata server is connected.

However in some cases, the metadata server is not always able to access, and since we write such code to read the instance

[2016-03-18 15:19] tobad357 opened #23192 "Convert Fibre Channel Volume code to use new mpio util code"
The iscsi volumes have been converted to support mpio.
The code used to find the mapped device path can most probably be reused for the Fibre Channel Volume module instead of having two different implementations in the code base.

See [fc_util.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/fc/fc_util.go#L54)
and the code under https://github.com/kubernetes/kubernetes/tree/mast

[2016-03-18 15:21] alex-mohr commented on #23166
@lavalamp I thought upgrade-storage-objects.sh was for major version changes, not minor version changes based on http://kubernetes.io/docs/admin/cluster-management/?  That is, only v1 -> v2 api would require it.

And since it's timely, is there a need to run that script between 1.1 and 1.2?  (Or for clusters created at 1.0, upgraded to 1.1, and now upgrading to 1.2?)  I don't see anything on relea

[2016-03-18 15:32] fgrzadkowski commented on #22986
Maybe it'd help if we print some warning that the existing pod which we conflict with is in state finished? We can also print a warning in `kubectl get pods` that some pods may have been omitted and you need to run `--show-all` to print everything. WDYT? @bgrant0607

[2016-03-18 15:37] bprashanth commented on #23111
go team ansible scripts!
I think @mikedanese is making cluster bootstrap scripts more robust in general

[2016-03-18 15:43] timothysc commented on #4548
Umm this is still outstanding, I don't believe this is done.

[2016-03-18 16:01] therc commented on #17183
I opened a few logging-related issues, mostly related to fluentd: #23001 (partitioning log indices by namespace), #22222 (log the cluster name), #22366 (report errors forwarding logs), #21285 (AWS support). More in general, it would be nice to add knobs so that admins can tweak logging, without requiring them to build a whole new image. I might open another issue just for that.

[2016-03-18 16:06] smparkes commented on #19452
This should probably not be an issue. It's more of a question.

To avoid having to use `-s`, use
[code]
This all just ends up in `$HOME/.kube/config`. I use names that match the docker-machine name.

To access the port via the docker-machine ip, expose the deployment as an external ip, e.g.,
[code]

[2016-03-18 16:09] therc commented on #16775
http://www.alpinelinux.org/posts/Alpine-3.3.2-released.html
I can't tell if it has the new musl or just cherrypicks (sounds like the latter).

[2016-03-18 16:11] jchauncey commented on #22222
How would you do this normally? How do you tell two clusters apart?

My first thought is the labels of a pod

[2016-03-18 16:12] therc commented on #16775
I don't see anything related:
http://git.alpinelinux.org/cgit/aports/commit/main/musl/APKBUILD?h=v3.3.2&id=56101f21b652321e32c4a02139ea042fccf6bebd

[2016-03-18 16:19] sosiouxme commented on #23001
Since namespaces can be deleted and re-created, it is also a good idea to index by both namespace and its UUID so that different incarnations of the same namespace can be distinguished easily.

[2016-03-18 16:32] markpaychex commented on #831
@pmorie Yes that may work I'll have to play around with it. Thanks!

[2016-03-18 16:43] therc commented on #22222
As far as I'm aware, the only component that knows about such a thing is the controller manager. It uses the cluster name to tag routes, load balancers, etc. Even the apiserver doesn't know about it and thus can't return it through any means.
I keep the cluster names outside of the cluster in the first place. For kube-dns, I just generate separate YAML files for separate clusters, with the cluster

[2016-03-18 16:47] msaffitz commented on #23170
Thanks.  Here are more details and answers the above questions:

1) I wasn't very specific with the behavior we're seeing-- here are further details.  We running 6 replication controllers and 1 Daemon Set.  3 of RCs have multiple replicas, and we're running a total of 17 pods across 6 nodes (at the moment).  Every 5 minutes almost all-- but not all-- of the pods are killed and restart.  The really

[2016-03-18 16:57] therc opened #23195 "Allow tuning of fluentd configuration without building new images"
There are several knobs in the plugins used by the fluentd setups, but none of them are exposed to users of the images. It would be great to have that, without requiring custom images: they're more work, tend to rot, etc.

I noticed that td-agent.conf supports an `@ include` directive. Would that work, along with drop-in files in e.g. /etc/td-agent/conf.d/? Is there a way perhaps to inject environ

[2016-03-18 16:59] #23148 closed

[2016-03-18 17:00] piosz opened #23196 "Using HPA in version autoscaling/v1 might return unexpected results in kubectl"
In Kubernetes 1.2 HPA was graduated to GA, new types are available in `apiVersion: autoscaling/v1`.The previous version, `apiVersion: extensions/v1beta1`, is still supported for backward compatibility. Also all Kubernetes core components in 1.3 still use objects in `extensions/v1beta1`.

In `extensions/v1beta1` if `CPUUtilization` in `horizontalPodAutoscalerSpec` was not specified it was set to `8

[2016-03-18 17:03] piosz commented on #22431
Closing in favor of #23196

[2016-03-18 17:03] #22431 closed

[2016-03-18 17:03] piosz commented on #23196
cc @fgrzadkowski @mwielgus @kubernetes/autoscaling

[2016-03-18 17:05] huggsboson opened #23197 "Multiple restarts of Docker based quick start guide kube cluster leads to serviceAccount tokens not functioning"
Quick context: I like to use the docker image based hyperkube kubelet to allow developers internally to quickly spin up and tear down a local instance of kubernetes to test code and configuration changes.  I use he manifests-multi set of json files (though I noticed it with the normal manifests as well) so that I can quickly reset kube's etcd back to a clean state.  I'm using docker-machine (1.10.

[2016-03-18 17:06] spxtr commented on #23182
I'm not sure that we should even try to fix all the things that go wrong when Jenkins runs out of disk. There are just too many things.

Instead, we should just try to keep Jenkins from running out of disk :)

[2016-03-18 17:06] dchen1107 commented on #22212
cc/ @timothysc

[2016-03-18 17:07] huggsboson commented on #23197
@fgrzadkowski

[2016-03-18 17:10] huggsboson commented on #23197
Also the docker run command I landed on (because it worked better than all the --make-shared mounting and /var/lib/kubelet:shared stuff, even with docker 1.10.3) is:
[code]

[2016-03-18 17:11] quinton-hoole commented on #23189
cc @fejta @kubernetes/goog-testing

I think that we already have such a thing, for the most part (compliments of @ihmccreery I believe).  In our CI system we install a previous version of Kubernetes on a cluster, create bunch of stuff on the cluster, upgrade the cluster, and run another bunch of tests against the created stuff. These are the so-called upgrade tests.  I will dig out the relevant PR

[2016-03-18 17:11] spxtr commented on #23169
Possibly related: port-forwarding e2e tests fail on 1.6 https://github.com/kubernetes/kubernetes/pull/22149#issuecomment-198074981

[2016-03-18 17:15] huggsboson commented on #23197
I wanted to use mktemp -d to work around this issue, but I think kubelet passes /var/lib/kubelet to the docker daemon for containers to mount files so the paths need to match inside the container and outside.  @fgrzadkowski suggested I could just remove the mount all-together, but I found that docker couldn't mount things under /var/lib/kubelet (probably because it only existed inside the containe

[2016-03-18 17:24] msaffitz commented on #23170
Here are the logs during the period when the pods are terminated:

https://gist.github.com/msaffitz/ba426d897ba27bd7e79f

[2016-03-18 17:24] spxtr commented on #23169
[code]
https://github.com/golang/go/commit/b50b21d3e130cf19de99c2736d038b636dde75c3 changed the function to check for ports outside of `[0, 65535]` and fail with "invalid port" otherwise.

[2016-03-18 17:27] goltermann commented on #18367
@aronchick I just did a walkthrough of the steps here, and everything looks in order.

The cluster had more services and pods in kube-system now than before, but I don't think keeping this walkthrough up-to-date with an exact list of default services is really needed.

[2016-03-18 17:28] bgrant0607 commented on #22986
Good idea @fgrzadkowski

[2016-03-18 17:31] trodriguez-photobox opened #23198 "Can't install Kubernetes cluster on AWS using Juju"
Following the official documentation for creating a Kubernetes cluster using Juju on AWS gives the following error:
make: *** No rule to make target `clean'.  Stop.

### Steps to reproduce
* Use the docker image pointed in the documentation to start a juju client
[code]
* Install curl
Log in as root and install curl: apt-get update && apt-get install -y curl
* Choose juju provider
[code]
* Launch

[2016-03-18 17:35] liggitt commented on #23196
The referenced issue (https://github.com/kubernetes/kubernetes/issues/22431) points out that lots of clients will have usability issues if they are unable to show the user what percentage the controller is acting on

from @danmcp:

from @jwforres:

[2016-03-18 17:36] jlowdermilk opened #23199 "clientcmd loader should use go-homedir or similar to get home directory"
For cross-platform compatibility (i.e. windows) https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/clientcmd/loader.go#L46 should use [go-homedir](https://github.com/mitchellh/go-homedir) or something similar to obtain user's home directory.

[2016-03-18 17:40] Random-Liu commented on #23170
@msaffitz I didn't see any pod/container get killed in the log, not covered in this part of log?

[2016-03-18 17:42] guilhem commented on #21070
@tsjsdbd I don't think this fit kubernetes networking model.
As I can see here http://kubernetes.io/docs/user-guide/ingress/ , this PR only define a `Cluster: A group of nodes firewalled from the internet` in case a node have more than 1 plane.
IMHO, if you want services on different planes you have to set up another k8s cluster for that purpose.

In my case, developers create pods and services de

[2016-03-18 17:42] msaffitz commented on #23170
Thanks @Random-Liu

This definitely covers the period.  The lines that are suspicious to me are:

[code]