[2019-07-15 12:04] razorsk8jz commented on #50375
+1

[2019-07-15 12:15] Hughen opened #80168 "The etcd pod is always running after closing down node for a long time"
**What happened**:
I have deployed a `v1.14.4` of the k8s cluster via kubeadm, with 3 masters, 3 etcd nodes, and the k8s cluster size of 5 nodes. As follow:
[code]
And then, the `node-2` is closed down for a long time, but `kubectl` outputs is running of the etcd pod status.
[code]
[code]
And, the every node status:
[code]

**What you expected to happen**:
All pods should be `unknown` or `error` i

[2019-07-15 12:54] dgunjetti commented on #48107
@dcbw please let me know if you have already started work on #80061, else I can take it up, as it is good first issue to pick up for me, I will add error counters for iptable, ipset, ipvsadm related apis.

[2019-07-15 12:55] ranjeetbath opened #80171 "Kubectl port forward drops the connections after 10 mins"
We are using Port Forward to forward DB2 connections to Nginx which is proxing to Cloud DB2.  What seems to happening is we are loosing the connection after about 10 mins even if DB2 query is still running (db2 update to a large table). We could also see the issue if we open a db2 connection and after 10 mins do some select statement. The connections seems to have dropped and we will need to recon

[2019-07-15 12:58] mattjmcnaughton commented on #80154
Taking a look at your pr now! This is a _very_ detailed issue, thanks for doing such a great job filing :)

[2019-07-15 13:00] taragu commented on #76538
/remove-lifecycle stale

[2019-07-15 13:03] ranjeetbath commented on #80171
sig/network

[2019-07-15 13:03] randomvariable commented on #80063
In addition to kubernetes/kubeadm#1367 there's some interest in this in relation to SELinux, as per kubernetes/kubeadm#279 and applying independent multi-level security categories to each file.

[2019-07-15 13:03] mm4tt commented on #79898
Summarizing,

With the https://github.com/kubernetes/kubernetes/pull/79937, GCE 5K looks very similar to what it was before (with RCs instead of Deployments):

![UaNJjNUN0SV](https://user-images.githubusercontent.com/2604887/61217428-f9deff80-a70f-11e9-8742-fc3a15f3501a.png)

![mwGKNve5ZDL](https://user-images.githubusercontent.com/2604887/61217446-01060d80-a710-11e9-9648-4db4999e5043.png)

When i

[2019-07-15 13:04] randomvariable commented on #80063
@vkhromov is this ticket ok to close given there's an escape hatch for you to use with your certificate generation processes?

[2019-07-15 13:05] ranjeetbath commented on #80171
USER <> DB2 Client - PORT FORWARD on a linux server <> Nginx <> Db2 on CLlous

[2019-07-15 13:21] mishushakov commented on #23291
Hey,
I have a bit complicated case here, where this would help. I have set up a mail-server within Kubernetes cluster and to function properly it has to have access the IPs (to do some spam checks, etc.).

Luckily my provider offers a PROXY protocol support for the LoadBalancer, so i have configured it in mail-server i use. I also have application inside of my cluster, which should be able to talk

[2019-07-15 13:26] nikhita commented on #80133
/cc @monotek @coffeepac

[2019-07-15 13:31] lhsm commented on #80089
/sig api-machinery

[2019-07-15 13:44] gaorong opened #80172 "node status is flapping between ready and not ready state because of long interval at which node lease renew"
**What happened**:
The node lease feature becomes beta and enables by default in v1.14. After upgrading our cluster to v1.14, we found some nodes become not ready occasionally and later become ready again after a few seconds.
In order to have a quick failure detection and recovery, our kubelet has a flag setting `--node-status-update-frequency=5s` and controller-manager has another flag setting `-

[2019-07-15 14:01] wojtek-t commented on #78701
All the failures I've see where the cluster didn't really start correctly (which doesn't have that much with scalability)...

[2019-07-15 14:02] wojtek-t commented on #78701
But anyway - we will take a look into it, maybe it is something specific to our setup.
@mm4tt

[2019-07-15 14:02] wojtek-t commented on #78701
/assign @mm4tt

[2019-07-15 14:16] ranjeetbath commented on #80171
@kubernetes/sig-network-test-failures

[2019-07-15 14:19] dims commented on #80172
@liggitt smells like a regression WDYT?

[2019-07-15 14:26] liggitt commented on #80172
cc @wojtek-t

[2019-07-15 14:38] pawelprazak commented on #58370
still happening in 1.12

[2019-07-15 14:40] alejandrox1 commented on #79533
Possible issue here is that we may have misconfigured upgrade/downgrade jobs (upgrading/downgrading to incorrect k8s versions).
For full discussion see https://docs.google.com/document/d/1LJxI9oCHaf--k9crxOU-oHtj8_bNa-6B5ZeAbVdZGYQ/edit?usp=sharing

[2019-07-15 14:40] alejandrox1 commented on #79740
Possible issue here is that we may have misconfigured upgrade/downgrade jobs (upgrading/downgrading to incorrect k8s versions).
For full discussion see https://docs.google.com/document/d/1LJxI9oCHaf--k9crxOU-oHtj8_bNa-6B5ZeAbVdZGYQ/edit?usp=sharing

[2019-07-15 15:08] dgunjetti commented on #80122
to avoid double bounce we can set  "service.spec.externalTrafficPolicy: OnlyLocal" in which case packet is delivered to local pod on VM.

[2019-07-15 15:25] rhockenbury commented on #80040
Out of curiosity, what 6 min timeout are you referring to?

[2019-07-15 15:31] pohly commented on #79986
This is invalid. `req.VolumeCapability.AccessType = &csipbv1.VolumeCapability_Mount` can and does get used to pass the `FSType` to the driver, also for ephemeral volumes. Whether the driver actually checks that and/or can do something with it is another story...

[2019-07-15 15:31] #79986 closed

[2019-07-15 15:39] #79884 closed

[2019-07-15 15:40] sergey-safarov commented on #80122
In this case I can see SIP device L3 IP address on server side.
But this not solves requirements use during a call one External IP on servers side for call delivered via `Cloud Load Balancer` and other External IP for call created from SIP server to SIP device.
That is stuck for Kamailio and FreeSwitch that I use.

[2019-07-15 16:05] timothysc commented on #79662
/assign @justinsb for triage.

[2019-07-15 16:21] vmwkkwong commented on #80040
@rhockenbury k8s timeout to force unmount the PV.

[2019-07-15 16:38] kfox1111 commented on #75482
Yeah. Generally, you want the network stack (kube-proxy,flannel,etc) to continue to function while draining the node of pods, so you don't want those to get deleted too early. But you do want a way to eventually completely clean all pods out. Typically I've seen upgrading docker/containerd/etc loose track of pods because of this issue, as kubelet still thinks they are on the node, but the engine n

[2019-07-15 16:39] bclau commented on #78857
/reopen

[2019-07-15 16:41] kow3ns commented on #80130
/assign @janetkuo

[2019-07-15 16:43] kow3ns commented on #80106
/remove-sig apps

[2019-07-15 16:43] kow3ns commented on #80106
/sig node

[2019-07-15 16:43] kow3ns commented on #80106
/sig api-machinery

[2019-07-15 16:45] kow3ns commented on #80038
We feel that audit logging is implemented specifically to meet this use case. Please feel free to reopen with clarification if we misunderstand your requirements.

[2019-07-15 16:45] kow3ns commented on #80038
/close

[2019-07-15 16:45] #80038 closed

[2019-07-15 16:48] kow3ns commented on #79995
The SIG would be interested to pursue this idea if you could offer a KEP in SIG Apps in the [enhancements repo[(https://github.com/kubernetes/enhancements).

[2019-07-15 16:48] kow3ns commented on #79995
/assign @mortent

[2019-07-15 16:49] kow3ns commented on #79810
/remove-sig apps

[2019-07-15 16:49] kow3ns commented on #79810
/sig node

[2019-07-15 16:51] dgunjetti commented on #80122
at Kamailio, can we configure external ip to be LB IP address, so that only one external ip address is used.

[2019-07-15 16:51] kow3ns commented on #79746
/assign @kow3ns

[2019-07-15 16:55] kow3ns commented on #79740
/assign @mortent

[2019-07-15 16:58] kow3ns commented on #79337
/assign @kow3ns

[2019-07-15 17:00] kow3ns commented on #79211
/assign @janetkuo

[2019-07-15 17:14] bclau commented on #78857
So, for the most part, port-forwarding tests work on windows now, with some interesting errors. The tests which are still failing:

    [sig-cli] Kubectl Port forwarding [k8s.io] With a server listening on 0.0.0.0 [k8s.io] that expects a client request should support a client that connects, sends DATA, and disconnects
    [sig-cli] Kubectl Port forwarding [k8s.io] With a server listening on localh

[2019-07-15 17:29] leuvataral commented on #73760
/remove-lifecycle stale

[2019-07-15 17:33] sergey-safarov commented on #80122
Please look #80110
At present time in `service yaml` file I cannot specify how many IP need use on NLB.

That is response for your question.
But how expect four outbound call from Kamailio to phone via same NLB?
NLB designed to accept call from internet to server. But how to make call in reverse direction?

[2019-07-15 17:38] irozzo-1A opened #80175 "SRV record not created for named port of service without selector"
**What happened**:
I created a headless service without selector for an external service in order to be able to do an SRV lookup as explained [here](https://github.com/kubernetes/dns/blob/1.11.0/docs/specification.md#242---srv-records)

**What you expected to happen**:
I expected to have an SRV record matching the following format: `_my-port-name._my-port-protocol.my-svc.my-namespace.svc.cluster-d

[2019-07-15 17:46] Ramyak commented on #72916
/remove-lifecycle stale

[2019-07-15 17:52] bswartz commented on #79355
@pure-yesmat My design involves a disruptive upgrade, in the sense that every pod attached to a volume would need to restart. In theory this should not be a big deal in a kubernetes cluster, but there are always users who do inadvisable things, so it's not something we take lightly. At a high level, the approach is to delete the old PV and create a new PV of the csi type, and to rebind the PVC, ki

[2019-07-15 17:56] paulgmiller commented on #76338
Actuallhy got a repro in a prod cluster today. Several pods coudn't even get dns because kube-proxy was sending them to invalid dns pods. Saved one of the kubeproxies to take a look at it's metrics (logs don't seem useful)

[2019-07-15 18:03] andrewsykim commented on #76338
Wondering if we need a kube-proxy equivalent to https://github.com/kubernetes/kubernetes/pull/63492 until there's a more generic way to handle this from apimachinery like you mentioned. Happy to implement if we feel it will fix the problem.

[2019-07-15 18:12] udipl commented on #62504
We also just hit the same problem. There can be many diverse root causes for a `SandboxChanged` event, and cluster administrators could use information about the root cause here.

[2019-07-15 18:59] neolit123 opened #80177 "e2e: remove usage of the DeprecatedMightBeMasterNode function from the e2e testing framework"
EDIT: the function was renamed to DeprecatedMightBeMasterNode, but the remove action is still pending.

instead of making assumptions that a node is "master" or not, we should make the choices more granular - e.g. can this node host workloads? we should remove usage of the function `IsMasterNode` from `e2e/framework`

see discussion here:
https://github.com/kubernetes/kubernetes/pull/80021#issueco

[2019-07-15 18:59] neolit123 commented on #80177
/remove-kind feature

[2019-07-15 19:00] neolit123 commented on #75601
added new ticket to remove IsMasterNode:
https://github.com/kubernetes/kubernetes/issues/80177

help wanted!

[2019-07-15 19:13] irozzo-1A commented on #80175
@kubernetes/sig-network-bugs

[2019-07-15 19:33] wojtek-t commented on #80172
@dims - not a regression - I think the only issue is that we may be missing some documentation, but other than that I think everything looks fine.

So how it works now is:
- There are two fields in Kubelet Config:
 (a) NodeStatusUpdateFrequency: https://github.com/kubernetes/kubernetes/blob/bbef01a20292d40ef4dff8e4c20f3423df679dfb/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L304
 (b) NodeSt

[2019-07-15 19:40] tedyu commented on #80172
How about making the default lease duration 12s (or 14s) ?

I can send out a PR once a new default is agreed upon.

[2019-07-15 19:47] BenTheElder commented on #80177
cc

[2019-07-15 20:28] josiahbjorgaard commented on #80177
/assign

[2019-07-15 20:35] derekwaynecarr commented on #79803
@sashayakovtseva can you elaborate your specific concern a little better?  is there a particular registry you want to support? is there a CRI change you would like to see to enable that registry?  are you trying to support another transport or something?

[2019-07-15 20:42] tedyu opened #80178 "Reuse FIFO code in DeltaFIFO"
**What would you like to be added**:
DeltaFIFO can reuse some code from FIFO (through composition)

**Why is this needed**:
Currently there is some code duplication between DeltaFIFO and FIFO.
Here are some overlapping fields:
[code]

[2019-07-15 20:45] neolit123 commented on #80177
that's the tricky part...
there is no sane way in kubernetes to tell if a node hosts a control plane or not.

which means that any calls to IsMasterNode have to be replaced with something that solves the underlying problem - for example are we calling IsMasterNode because we want to know if this node accepts workloads? or are we calling it to determine if there is a controller-manager on the node

[2019-07-15 20:56] matthias50 opened #80181 "Unable to get metrics from kubelet for static pods with cri-o"
**What happened**:

usageNanoCores and usageCoreNanoSeconds are always reported as 0 at the container level. There is no per container memory being reported. Overall pod usageNanoCores is also always 0

**What you expected to happen**:
Static pod CPU and memory metrics are available from kubelet as below for a node using Docker:

[code]
**How to reproduce it (as minimally and precisely as possible

[2019-07-15 20:58] matthias50 commented on #80181
/kind bug

/sig node
/area kubelet
/area kubelet-api

[2019-07-15 21:03] BenTheElder commented on #78701
AFAIK this happens because force push + not using boskos to manage resources, which is unique to the scalability presubmits. The per-PR cluster name thing is not reliable and in fact pretty reliably fails slowly but on force pushing to PRs, which is a frequent occurrence with Kubernetes's rebase workflow.

[2019-07-15 21:11] GregSilverman commented on #56903
After several months, this issue has resurfaced for us. Running k8s 1.13.1 using calico 3.3.2 on a local self-hosted set of nodes.

Symptoms include failure on dnstools running on non-coredns node:

[code]

Success running same query foorced to go through local name server on non-coredns node:

[code]

All service lookups failing on non-coredns nodes, but work when moved to nodes with a coredns po

[2019-07-15 21:20] fedebongio commented on #80089
/remove-sig api-machinery
/sig node

[2019-07-15 21:21] fedebongio commented on #80106
/remove-sig api-machinery

[2019-07-15 21:22] fedebongio commented on #80146
/assign @jpbetz

[2019-07-15 21:26] prameshj commented on #56903
what are the contents of /etc/resolv.conf in the pods?
Are all the coredns pods healthy? Since the issue seems to be happening all the time and not just intermittently, it is unlikely this is caused by some netfilter race condition. Maybe pods are not able to talk to other pods that are on different nodes?

[2019-07-15 21:38] neolit123 opened #80184 "CI image tarballs include wrong repository"
related to:
https://github.com/kubernetes/kubernetes/pull/80047

discussion on slack;
https://kubernetes.slack.com/archives/CEKK1KTN2/p1563193786381200

steps to reproduce:
[code]

open the `repositories` file in the tarball.

it has:
[code]

should be:
[code]

/assign @javier-b-perez
cc @BenTheElder @cblecker @justaugustus @fabriziopandini
/sig release testing
/kind bug
/priority important-soon

[2019-07-15 21:44] javier-b-perez commented on #80184
when you do the build (make quick-release or release) you need to specify the KUBE_DOCKER_REGISTRY and KUBE_DOCKER_IMAGE_TAG. Example:

KUBE_DOCKER_IMAGE_TAG=v1.13.9-beta.0.59_c00becd203d4ea
KUBE_DOCKER_REGISTRY=gcr.io/my-project

manifest.json:
"RepoTags":["k8s.gcr.io/kube-proxy:v1.13.9-beta.0.59_c00becd203d4ea","gcr.io/my-project/kube-proxy-amd64:v1.13.9-beta.0.59_c00becd203d4ea"]

[2019-07-15 21:45] javier-b-perez commented on #80184
The only issue that I have right now, is that you cannot leave KUBE_DOCKER_IMAGE_TAG.
I will send a fix for that. If empty it should use the same docker tag as the k8s.gcr.io name.

[2019-07-15 21:45] BenTheElder commented on #80184
I would generally expect k8s.gcr.io/* to at least be one of the tags unless overridden.

[2019-07-15 21:54] javier-b-perez commented on #80184
yes, k8s.gcr.io/* name will always be there. KUBE_DOCKER_REGISTRY is to add an additional name to the image achive

[2019-07-15 21:59] neolit123 commented on #80184
Q: would that mean that if you do `docker load` on the image tarball it will create a couple of image tags pointing to the same image SHA?

[2019-07-15 22:00] javier-b-perez commented on #80184
yes

[2019-07-15 22:05] neolit123 commented on #80184
it still feels odd to me that one of the `repo/image:tag` locations will be technically invalid as this image only exists in the CI location. but no strong opinions on my side.

[2019-07-15 22:06] difabion commented on #19317
Same issue.
[code]
In my case, this was a deployment of `cert-manager` that I was working into and only got as far as creating namespace, adding label, and deploying CRDs in line with Jetstack's installation docs.  Deleting the CRDs was fine but the namespace is stuck in status `Terminating`.  `kube-controller-manager` logs have this repeating ~30s:
[code]
No subordinate resources, ns config has a

[2019-07-15 22:08] BenTheElder commented on #80184
this is going to be true regardless for any image any time you build and image locally and don't push it.
(including say, building a kind node image ...)

[2019-07-15 22:35] msau42 opened #80186 "Support non-privileged pods in external storage tests"
**What would you like to be added**:
Add a parameter in the external storage test suite to toggle privileged or not.

**Why is this needed**:
Privileged pods shouldn't be required for most storage tests.

@kubernetes/sig-storage-feature-requests
/assign
cc @gnufied

[2019-07-15 22:39] neolit123 commented on #80168
/remove-sig scalability
/sig scheduling

by closed down, do you mean the node has shutdown?
i have no information why this is happening.

my guess is that if you do `kubectl delete` on that node the pod will be terminated.

[2019-07-15 22:42] paulgmiller commented on #76338
Somehow I completely missed heartbeat client in that PR the first two times I skimmed it. Taking a second look at how it should be used but at least repoening this issue would be good.

[2019-07-15 22:48] neolit123 commented on #79926
your questions need response from sig-node and sig-scheduling.
if/when they see `area/kubeadm or area/kubectl` they might think that this is something that the kubeadm/kubectl maintainers have to respond to, so they might skip answering, yet the kubeadm/kubectl maintainers cannot answer these questions. :)

[2019-07-15 23:00] #32727 closed

[2019-07-15 23:00] #74145 closed

[2019-07-15 23:24] heyste opened #80187 "Promoting the test `should create a ResourceQuota and capture the life of a replica set`"
Part of the Umbrella Issue from https://github.com/kubernetes/kubernetes/issues/78747

Promoting the test `should create a ResourceQuota and capture the life of a replica set` will add coverage for the endpoint `deleteAppsV1NamespacedReplicaSet`

[2019-07-15 23:26] heyste commented on #80187
The test goes through a number of steps to create a ResourceQuota before creating and deleting a ReplicaSet.

Creating the ResourceQuota uses a function newTestResourceQuota that calls for a v1.ResourcePersistentVolumeClaims.
As PVCs are currently not able to be used for conformance tests at this point in time I believe that this test can not be promoted to conformance.

The goal of getting a test

[2019-07-15 23:26] #80187 closed

[2019-07-15 23:27] roycaihw commented on #80073
/assign @yue9944882

Nice catch! Just to clarify, the parameters "namespace" and "name" should be under paths e.g.
- `"/apis/example.io/v1/namespaces/{namespace}/noxus/{name}":`
- `"/apis/example.io/v1/namespaces/{namespace}/noxus":`

instead of individual operations e.g. `"get":`, to align with native resources

[2019-07-15 23:28] GregSilverman commented on #56903
`etc/resolv.conf`:

[code]

Yes, coredns pods are healthy:

[code]

All nodes are open in calico:

[code]

And that is what it is!

[2019-07-15 23:30] heyste commented on #80187
/sig testing

[2019-07-16 00:50] gjmzj commented on #80152
/sig testing

[2019-07-16 00:58] yiqinguo commented on #55618
I have the same problem.
My k8s version v1.10.4
System version centos7 3.10.0-693.5.2.el7.x86_64

[2019-07-16 01:27] jasinner opened #80190 "Version information is exposed via API allows cluster fingerprint during exploit"
**What would you like to be added**:

Configuration option to disable version endpoint from API

**Why is this needed**:

If a cluster version is vulnerable to an exploit an attacker can fingerprint clusters using an API call to the 'version' api endpoint before launching an attacker. If exposure of the version could be turned off via configuration it would make it harder for an attacker to finger

[2019-07-16 01:31] jasinner commented on #80190
@kubernetes/sig-api-feature-request

[2019-07-16 01:31] #61946 closed

[2019-07-16 01:41] dims commented on #80098
@BenTheElder @aojea please see https://github.com/kubernetes/kubernetes/issues/78249 as well

[2019-07-16 01:45] mgdevstack opened #80193 "Add DNS test suite for Conformance E2E"
**What would you like to be added**:
This test suite provide a baseline for commonality between various DNS implementations as mentioned in the [specification document ](https://github.com/kubernetes/dns/blob/master/docs/specification.md)

**Why is this needed**:
```test/e2e/network/dns.go``` holds various E2E testing DNS functionality and they should adhere to provided specification.

Issue is so

[2019-07-16 01:57] malix0 commented on #6862
The LXD shim is under development https://github.com/automaticserver/lxe

[2019-07-16 02:05] BenTheElder commented on #78249
I understand the logistics are a bit problematic here but I think it's weird that we just skip for docker and if you're not using docker we fail if you haven't set up a magical seemingly undocumented test-handler.

Every new cluster setup tool that is on CRI that we use to test is going to need to figure this out and add the magical handler, which is a bit unfortunate. I'm not sure what the best s

[2019-07-16 02:39] Hughen commented on #80168
@neolit123
Yeah, the `node-2` has been down for a long time.
Don't you think this is not in line with the scheduling rules? `Kubelet` knows that the `node-2` has been down, but it has not changed the status of the pod, which does not meet the scheduling principle.

If pods' status are changed by do `kubectl delete pod`, I won't believe that `k8s` can also implement automatic smooth scheduling for

[2019-07-16 02:49] neolit123 commented on #80168
indeed, something is not right here.

[2019-07-16 02:55] mgdevstack opened #80194 "Upgrade agnhost image to add build-tools"
**What would you like to be added**:
Add `build-tools` package to include `dig` (+nslookup) tool in Agnhost image.

**Why is this needed**:
`dig` is important tool used in most of the network testing suite.
[Issue Source]: https://github.com/kubernetes/kubernetes/pull/79667#discussion_r303560200

/area conformance
/sig testing
/assign @bclau

[2019-07-16 03:04] #74155 closed

[2019-07-16 03:09] mgdevstack commented on #80194
Seems `bind-tools-9.11.6_p1-r1` already exist in agnhost:2.4.

[2019-07-16 03:13] Erically commented on #77728
[PLEG is not healthy: pleg was last seen active 3m46.303313348s ago; threshold is 3m0s
delete deployment  --force --grace-period=0，then check if the container has been deleted

[2019-07-16 03:28] #80127 closed

[2019-07-16 03:28] gaorong commented on #80172
@wojtek-t
thanks for comments.

I don't thank this can help me. as  comment before `NodeStatusReportFrequency` said: "nodeStatusUpdateFrequency is the frequency that kubelet computes node status. **If node lease feature is not enabled**, it is also the frequency that kubelet posts node status to master."

But what if we both want node lease feature enables (as this is an indeed helpful feature) an

[2019-07-16 03:46] wangzhuzhen commented on #78649
Met the same. Only get InnerError when POST to create pod.  The reason in my case is that  there already have an pod with the same podname and podnamspace in etcd yet (but not created  by k8s, because when create the old pod the POST request get timeout error return, when timeout error happend, we checked  and make sure that the old pod was written in etcd).

[2019-07-16 03:46] wangzhuzhen commented on #77290
Met the same. Only get InnerError when POST to create pod.  The reason in my case is that  there already have an pod with the same podname and podnamspace in etcd yet (but not created  by k8s, because when create the old pod the POST request get timeout error return, when timeout error happend, we checked  and make sure that the old pod was written in etcd).

[2019-07-16 03:51] liggitt commented on #79610
API clients interact with informers in multiple ways:
* registering event handlers to them
* taking handles to listers for stores populated by the informers

I'm not sure we'll be able to detect all the clients of the everything downstream of the informer using the current API.

cc @deads2k as the originator of the shared informer approach for thoughts

[2019-07-16 04:03] saiyan86 opened #80198 "Add IPv6 support to agnhost image"
**What would you like to be added**:

Add IPv6 support to ```agnhost``` image.

**Why is this needed**:

For testing we need to include IPv6, which is becoming more and more important. IPv4/v6 dualstack PR #73977 just got merged, and we should support IPv6 in ```agnhost``` image too.

PR #77794 also needs IPv6 support.

[2019-07-16 04:03] saiyan86 commented on #80198
/sig testing

[2019-07-16 04:04] gaorong commented on #80172
IMHO, we should add filed in Kubelet Config to let user tune the node lease renewing interval, WDYT?

[2019-07-16 05:12] Kiranjith83 commented on #79523
+1

[2019-07-16 06:02] luthienberen commented on #79926
thnx for information

/remove-area HA
/remove-area kubectl
/remove-area kubeadm

[2019-07-16 06:23] adisky commented on #80041
@dims We are working on the feature parity for both drivers, yet a rigorous testing needs to be done after migration flag enabled.  We are not testing every features of cinder csi driver (e2e testing in progress). Apart from that most important thing, we do not have any deployment strategy for csi driver.

[2019-07-16 06:26] juanpmarin commented on #39090
@max-rocket-internet I'm currently experimenting that same issue with the jvm, the HPA can't stabilize the deployments because of the cpu utilization at startup, so it's scaling up and down all the time,
do you found any workaround for that ?

[2019-07-16 06:29] #78093 closed

[2019-07-16 06:52] matte21 commented on #75980
I'm the author of the duplicate issue #76703, and I'd like to work on this. It would be my first contribution, there might be some friction associated with that.

[2019-07-16 06:57] cwdsuzhou opened #80201 "pull-kubernetes-kubemark-e2e-gce-big#ClusterLoaderV2 failed"
**Which jobs are failing**:

pull-kubernetes-kubemark-e2e-gce-big

**Which test(s) are failing**:

ClusterLoaderV2

**Since when has it been failing**:

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80196/pull-kubernetes-kubemark-e2e-gce-big/1150971899589693440/

**Reason for failure**:

core dump

**Anything else we need to know**:

[2019-07-16 07:00] RainbowMango commented on #80065
/assign @vkhromov

Assign this issue to you as you have present a PR.

[2019-07-16 07:03] cwdsuzhou commented on #80201
/priority critical-urgent

[2019-07-16 07:03] cwdsuzhou commented on #80201
/sig testing

[2019-07-16 07:10] mm4tt opened #80202 "[Failing Test] GCE 5K Performance (ci-kubernetes-e2e-gce-scale-performance)"
**Which jobs are failing**: ci-kubernetes-e2e-gce-scale-performance

**Which test(s) are failing**: Load test

**Since when has it been failing**: Last green run was of Friday (2019-07-12), weekend runs have been broken due to  https://github.com/kubernetes/kubernetes/issues/80124

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for fa

[2019-07-16 07:10] mm4tt commented on #80202
/sig scalability
/assign

[2019-07-16 07:15] cdivitotawela commented on #76155
I have the same issue. @sshuvaev did you find a solution.
When we run docker login it create credentials for the user and store at ~/.docker/config.json and this is not applicable when kubelet pull images. I have noticed permission denied error docker logs as well.

I believe there should be a way to pass the docker registry auth details in kubelet so that those can be passed to docker.

[2019-07-16 07:26] wojtek-t commented on #80172
That sounds like the cleanest option to me (rather than some playing with existing params).

@wangzhen127 - who is the owner of the feature on Node side.

[2019-07-16 07:29] mm4tt commented on #78701
Thanks @BenTheElder, will take a look and see what can be done to deflake these tests

[2019-07-16 07:34] mm4tt commented on #80202
The exact error the test failed with was:

[code]

[2019-07-16 07:36] yuchengwu opened #80203 "kubelet refuses to admit critical static pod"
**What happened**:
In our cluster, we have configured our system pod as static critical by applying `system-node-critical` priorityClassName. But these pods cannot get admitted by kubelet when node under memory resource pressure.

**What you expected to happen**:
Critical static pod should always be get scheduled and admitted even node under resource pressure.

**How to reproduce it (as minimally

[2019-07-16 07:49] cwdsuzhou opened #80204 "[Failing Test] k8s 1.13 pull-kubernetes-verify#godeps failed"
**Which jobs are failing**:

 pull-kubernetes-verify

**Which test(s) are failing**:

godeps

**Since when has it been failing**:

when I cherry picked this PR  a k8s 1.13, I found this Issue
https://github.com/kubernetes/kubernetes/pull/80197

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80197/pull-kubernetes-verify/1151003608582459392/

**Reason for failure**:

[2019-07-16 07:55] mars1024 commented on #73948
@PaulFurtado Thanks for your issue.
I've meet the same issue, and I'm trying to backport #77699 to my code base.

[2019-07-16 08:00] yuchengwu commented on #80203
workaround:
for K8S version <= 1.15 , this can be workaound by setting `scheduler.alpha.kubernetes.io/critical-pod: ""` annotation and kubelet enable `ExperimentalCriticalPodAnnotation=true` feature gate
however for version > 1.15, this feature has been removed from https://github.com/kubernetes/kubernetes/pull/79554

[2019-07-16 08:02] yuchengwu commented on #80203
/sig node
/assign @bsalamat

[2019-07-16 08:04] sashayakovtseva commented on #79803
@derekwaynecarr Sure, I want to support [Sylabs cloud](cloud.sylabs.io/library) and enable private image pulls from there with `imagePullSecret`. Now there is docker specific flow in kubelet, so there is no way I can pass credentials for a registry except docker (or with same API). [Sylabs cloud](cloud.sylabs.io/library) for instance makes use of access tokens, but there in no way to pass it with

[2019-07-16 08:06] cwdsuzhou commented on #80204
/sig testing

[2019-07-16 08:06] gjmzj commented on #80152
i found the test commands:
[code]
then i do some related tests manually as describe here https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods, and it works;
so why my dns test suits failed, did i miss sth

[2019-07-16 08:10] max-rocket-internet commented on #39090
Well according to this https://github.com/kubernetes/kubernetes/pull/68068 the CPU consumption is not used for calculation until the pod is `Ready` so you can easily work around the problem by having a pod not become ready until it's done all its init. i.e. with a `livenessProbe` or `readinessProbe`. We had these probes all along so I guess our issue was something else.

[2019-07-16 08:35] pytimer opened #80205 "Kubelet: cpu manager use the part of cpus"
I use the Kubernetes version `v1.11.6`, and i enable the cpu manager policy to `static`, i change the kubelet config file, and restart the kubelet, it works well. Now i want to set the container only use the part of cpus, but i find the cpu manager also use the all cpus on the node, so i want to how to do in my case? Is the Kubernetes can support this case?

[2019-07-16 08:35] pytimer commented on #80205
/sig node

[2019-07-16 08:44] RajaSureshAditya commented on #80012
Yes its working fine now , i have updated my /etc/resolv.conf and delete the core dns pods ,then its working  fine

thanks chrisohaver

[2019-07-16 08:44] #80012 closed

[2019-07-16 09:08] mgdevstack commented on #80194
https://github.com/kubernetes/kubernetes/pull/79667#discussion_r303732059
E2E failing with `dig` is not found.

[2019-07-16 09:12] rata commented on #56903
If it is suitable for that application, try adding DNSPolicy: Default for
the pod. That would probably solve the issue (if you can use that setting,
please read the docs :))

On Tue, Jul 16, 2019 at 1:31 AM Greg Silverman <notifications@github.com>
wrote:

--
Rodrigo Campos
---
Kinvolk GmbH | Adalbertstr.6a, 10999 Berlin | tel: +491755589364
Geschäftsführer/Directors: Alban Crequy, Chris Kühl, Iag

[2019-07-16 09:19] #74401 closed

[2019-07-16 09:22] mikekuzak commented on #2630
Why does pv.beta.kubernetes.io/gid not work for the local host path provisoner ?

[2019-07-16 09:34] fxposter commented on #60140
Same for us. clusters are generated using kops, ICMP is allowed, EOFs are still here.

[2019-07-16 09:54] mm4tt commented on #80202
There was a single, short spike in GET Secrets latency that correlates well with logrotate.

![Qo7Zdg8ND4K](https://user-images.githubusercontent.com/2604887/61283908-2f422680-a7be-11e9-8b77-229badd7c47b.png)

This single spike completely broke the last 5h api call latency.
If we were measuring the 99th percentile of latency over whole run (as we should) the test would pass with big headroom.

Sum

[2019-07-16 09:54] #80202 closed

[2019-07-16 09:55] msvticket opened #80207 "Support rerun of Job on update"
**What would you like to be added**:
Support for having a job being rerun on change of spec.template.  Something like a new field `updatePolicy` that defaults to the current behaviour with a value like `reject` and another value `rerun` for the new behaviour.

**Why is this needed**:
With a declarative approach for managing a k8s resources (using helm for example) the current workflow for handling

[2019-07-16 09:58] realdimas commented on #56903
Folks, I'd like to reiterate in this comment thread what Tim Hockin, Pavithra Ramesh and others mentioned already: node-local DNS cache daemon is considered to be a solution to multiple causes of DNS long-tail latency/timeout issue.

Please have a look at
- [original (alpha) KEP](https://github.com/kubernetes/enhancements/blob/ce862627297f58c970a89c02e88501bcf4a64622/keps/sig-network/0030-nodeloca

[2019-07-16 10:00] wojtek-t commented on #78701
I found the other reason - some parameters weren't correctly set in all previous release branches. https://github.com/kubernetes/test-infra/pull/13458 is supposed to fix it

[2019-07-16 10:02] msvticket commented on #80207
@kubernetes/sig-apps-workloads-api

[2019-07-16 10:05] msvticket commented on #80207
@kubernetes/sig-apps-feature-requests

[2019-07-16 10:14] GongWilliam opened #80208 "[CSI] add support block volume when expand volume"
hello, I found a problem that I think maybe need to be solved。

problem:
when mount a volume with block device form and need to call NodeExpandVolume RPC(because want to reflesh the block device info, e.g. iscsi lun), the response have to set  NodeExpansionRequired to true. So the resizer sidecar will set PVC type to PersistentVolumeClaimFileSystemResizePending, this means need to restart the pod.

[2019-07-16 10:18] mm4tt opened #80209 "[Performance] Etcd get node-lease latency is higher than put latency and not within SLO limits"
**What happened**:
When running GCE 5K scale tests (either kubemark or regular) we discovered that the get Lease latency is significantly higher than put Lease latency. This is counter-intuitive and what's even worse the 99th pctl of get lease latency is often not withing our SLOs. Some graphs

ApiServer Latency:
![PVSS3XgtWvQ](https://user-images.githubusercontent.com/2604887/61286449-29027900-a7

[2019-07-16 10:18] dims commented on #80041
@adisky Agreed. +1 to "rigorous testing needs to be done after migration flag". yes for the "deployment strategy" we just follow what ever the CSIMigration folks come up with (or the sig-storage folks in general). it's not a openstack/cinder specific problem.

[2019-07-16 10:19] george-angel commented on #56903
@realdimas and also introduces different kind of problems, like your dns deployment being no longer highly available.

Its worth mentioning that cluster configured to use local-dns-cache now solely depends on that local instance of dns resolver being up. If its down (upgrade/restart/w.e) that whole node cannot resolve.

[2019-07-16 10:20] kapil70war opened #80210 "access by pods hostanme"
Hi,@kubernetes/sig-Network-network
@kubernetes/sig-policy-network

Is there a way to access a pod by its hostname?
I have a pod with hostname my-pod-1 that need to connect to another pod
my-pod-2

what is the best way to achieve this with out services?

[2019-07-16 10:42] Pablo-CC commented on #74265
This would be useful for me too, I am deploying the (https://docs.gitlab.com/charts/)[Gitlab Helm chart] and different component access some services via an Ingress controller which checks the host name for redirection. So, it will be useful if I could add several names (all the ingresses in `kubectl get ing`) under the same IP

[2019-07-16 10:46] monotek commented on #80133
Sorry, guys!
Just uploaded it! :-)

https://quay.io/repository/fluentd_elasticsearch/elasticsearch?tab=tags

[2019-07-16 10:46] monotek commented on #80133
/close

[2019-07-16 10:46] #80133 closed

[2019-07-16 11:02] mm4tt commented on #80209
When analyzing yesterday's run we've noticed that we're close to the current IOPS limits.
We'll try raising the disk sizes on master in gce 5k tests as these limits scale linearly to  the disk sizes.

[2019-07-16 11:12] realdimas commented on #56903
Correct, this was a design decision and discussed extensively as part of the KEP process: see https://github.com/kubernetes/enhancements/pull/1005#pullrequestreview-231381118 and two other PRs linked earlier.

One of the initial ideas which I really liked was to shadow a ClusterIP of kube-dns in-cluster Deployment for node-local-dns (https://github.com/kubernetes/community/pull/2842#discussion-dif

[2019-07-16 11:14] mm4tt opened #80212 "Performance regression(s) in ci-kubernetes-e2e-gci-gce-scalability"
**Which jobs are failing**: ci-kubernetes-e2e-gci-gce-scalability

**Which test(s) are failing**: Density test

**Since when has it been failing**: First observed failure was on 2019-07-12 09:02:59 +0000 UTC

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

**Reason for failure**: resource usage constraints are violated (flaky)

/sig scalabili

[2019-07-16 11:18] dims commented on #76155
@cdivitotawela Chaminda, is this problem ONLY for the pause image? (do the other images load ok?)

[2019-07-16 11:19] neolit123 commented on #76155
it is already possible to configure the kubelet with the docker auth.
see here https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry

but make sure you have the credentials before the kubelet started (or simply restart the kubelet):
https://github.com/kubernetes/kubernetes/issues/69637

[2019-07-16 11:29] mm4tt commented on #80212
Looking at the scheduler cpu usage it's definitely became more spiky. The first failure occurred at 2019-07-12, but there were no changes in scheduler code around that time.

![W9woh9v26hC](https://user-images.githubusercontent.com/2604887/61290964-6b30b800-a7cd-11e9-87da-965696167048.png)

Golang version was updated on 2019-07-12, from v1.12.6-1 to v1.12.7-1, this might be related.

[2019-07-16 11:35] tanglrHello commented on #44371
nohup doens't work for me, but redirect stdout and stderr for the background process worked.
That is:
sleep 3 >/dev/null 2>&1 &

[2019-07-16 11:54] mm4tt commented on #79898
/close

[2019-07-16 11:54] #79898 closed

[2019-07-16 11:59] mm4tt commented on #77492
Sorry, this got deprioritized. The tests still flakes due to that, I think at this point the only reasonable action is to assume that the increase was caused by fluentd version upgrade and increase the constraints to add some headroom and deflake the test.

Will send a PR shortly.

[2019-07-16 12:01] PauloASilva commented on #79779
Hi @liggitt,

You're right. I did check it again and this is not valid for nodes that are already members of the cluster.

Is this "responsibility" a manual thing?
In case of collision shouldn't the kubelet exit with error as suggested by @neolit123?

This is what I got when testing this issue

[code]

Does this answer your question?
If not, get you please provide me guidance to collect required d

[2019-07-16 12:11] juanpmarin commented on #39090
We already have both liveness and readiness probe, I can't figure out what is the reason of our problem because when I do `kubectl get hpa` it shows the targets lower than 50% but it scales up anyway, is it the same for you ?

[2019-07-16 12:13] mm4tt commented on #77492
Ref. https://github.com/kubernetes/kubernetes/issues/80212

[2019-07-16 12:15] mm4tt commented on #76490
The prometheus issue is fixed, regarding the scheduler issue we don't have logs for it anymore. Will reopen a dedicated scheduler issue if it occurs again.
/close

[2019-07-16 12:15] #76490 closed

[2019-07-16 12:23] mboret commented on #30617
`ERROR: (gcloud.container.clusters.get-credentials) ResponseError: code=403, message=Required "container.clusters.get" permission(s) for "projects/....`

In my case, I get this error after a Gcloud service account recreation(delete/create with the same SA email - username@projectXXX.iam.gserviceaccount.com). Creating the SA with a different email fixed my issue.

[2019-07-16 12:25] dgunjetti commented on #80122
ok.. the scenario is single private ip is mapped by multiple external ip. In a non-k8s scenario do you configure multiple virtual IPs on SIP server, virtual IPs being same as multiple NLB? if so, then [Multus CNI](https://github.com/intel/multus-cni) needs to explored which allows creation of multiple interfaces in a pod.

[2019-07-16 12:33] msvticket commented on #80207
It would probably make sense to also support the value `ignore` on `updatePolicy`.

[2019-07-16 12:41] 0marq commented on #24725
The doc says only Always is supported for Deployments

You might want to consider switching to a Job

See
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pod-template
https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-template

[2019-07-16 12:43] sergey-safarov commented on #80122
On our case we create two statefulset of kamailio:
1) for public internet clients (equpment);
2) for VPN connected equipment (private IP range used).

[2019-07-16 12:45] zoobab commented on #6530
I do the following:

[code]
See here: http://www.zoobab.com/howto-run-a-privileged-container-with-kubectl

[2019-07-16 12:45] max-rocket-internet commented on #39090
Yes but these are different issues:
https://github.com/kubernetes/kubernetes/issues/78761
https://github.com/kubernetes/kubernetes/issues/78712

[2019-07-16 13:06] danikam commented on #77131
I've run into the same issue, but the solution of adding lines at the end of the

`kubectl edit clusterrole system:kube-scheduler`

output doesn't seem to work.

kubectl version: -Client: v1.12.7 -Server: v1.12.7
kubeadm version: v1.12.7

[2019-07-16 13:26] matthias50 commented on #80181
Note that this appears to be different from https://github.com/kubernetes/kubernetes/pull/73659 since this bug was fixed in 1.13.7 and I am running 1.13.7. I can successfully query the same stats for other, non-static pods on the same node where I could not get stats for the static kube-proxy pod.

[2019-07-16 13:44] wojtek-t commented on #80212
Does the increase correlate with this PR: https://github.com/kubernetes/kubernetes/pull/78447 ?

@yastij - FYI

[2019-07-16 13:44] MaryamTavakkoli commented on #66108
I have exactly the same issue. Worker node hangs at joining. Anyone found a solution? (Creating new token didn't help)

[2019-07-16 13:49] mm4tt commented on #80212
Hard to say, the first failure occurred before the PR was merged.
Also it started failing more often on Jul 15th, it might be that the failure on Jul 12th was a flake and the actual issue started on Jul 15th.

[2019-07-16 13:54] Cherishty commented on #79437
Hi @liggitt,
Your guidance

does work! Thanks a lot.

A little question I found is, seems I can NOT find any document to claim this operation (even from [offiical doc](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/)).
And the only thing I can figure out is `kube-apiserver --disable-admission-plugins=StorageObjectInUseProtection` in [kube-apiserver](https

[2019-07-16 14:00] Alisd96 commented on #77131
I think this is not a problem related to Kubernetes because when you run the command `kubectl edit clusterrole system:kube-scheduler` the default text editor of the OS will be open in terminal

[2019-07-16 14:10] sergey-safarov commented on #80122
You pointed me to important moment.
For call via Amazon VPN we also need static `privateIP`. Static IP via `kubernetes service` also not useful here.
Because `one to one` mapping will be more complex than simple IP assignments to Pod. Also NAT rules need to maintain on kubenetes host.

May be create kubernetes entity `ippull` like
[code]
Where IP address or IP network may be specified directly or

[2019-07-16 14:12] steven-sheehy commented on #39090
What we do is define a custom metric like transactions per second or request latency to scale off of instead of CPU. This is more accurate anyway since it's a business metric that you are completely in control of. We use the [Prometheus Adapter chart](https://github.com/helm/charts/tree/master/stable/prometheus-adapter) to scrape those custom metrics and make them available to the HPA. Full disclo

[2019-07-16 14:17] liggitt commented on #79779
an existing Node API object does not mean there is a competing kubelet. it **usually** means the kubelet restarted on a Node whose configuration was modified and it is expected to update the API object to match current state.

the deployment procedure should allocate unique hostnames. if that is not true, a unique name should be computed and given to the deployment procedure to construct the kubel

[2019-07-16 14:18] alculquicondor opened #80216 "[Scheduler] Remove NodeLister and PodLister accessors from Configurator interface"
https://github.com/kubernetes/kubernetes/blob/08522f8e5a1e74ccd318e6f8e2c5acf3da19e264/pkg/scheduler/factory/factory.go#L152

Given that the scheduler gets Pod and Node information from its cache instead of the listers, now the listers are unused.

However, unit tests are still making use of them. They should be accessed from the testContext instead.

/sig scheduling
/kind cleanup

[2019-07-16 14:19] alculquicondor commented on #80216
I can work on this

[2019-07-16 14:24] danikam commented on #77131
Thank you for your reply! I think there's a misunderstanding though - adding the lines to the file works fine, it just doesn't have the effect of making the annotation-second-scheduler pod run. It may just be related to a mismatch between the k8s version (1.12.7) I'm using and the fact that the https://github.com/kubernetes/kubernetes is on the latest version. About to re-try after checking out re

[2019-07-16 14:27] #80146 closed

[2019-07-16 14:28] yastij commented on #80212
@wojtek-t - it might be #78447 as it was merged on the 12th IIRC

[2019-07-16 14:35] juanpmarin commented on #39090
@steven-sheehy nice! I'll take a look at it, I think that metrics could be provided with Istio too 🤔
So the workaround is get rid of CPU

[2019-07-16 14:37] hex108 opened #80217 "Need send a message to permit plugin when preempting a WaitingPod"
**What would you like to be added**:

When preempting a pod that is a `WaitingPod` that permit plugins are waiting for [in here](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/v1alpha1/framework.go#L360), we need send a message(actually send a `Status`) to the `WaitingPod.`, otherwise permit plugins might wait until time out, and do not know the pod has been preempted

[2019-07-16 14:38] hex108 commented on #80217
cc @bsalamat @ahg-g

[2019-07-16 14:47] krzysied opened #80219 "Empty FirstTimestamp field in scheduler events"
**What happened**:
FirstTimestamp field in scheduler event is not set (has nil value).

**What you expected to happen**:
This field should always be set.

**How to reproduce it (as minimally and precisely as possible)**:
Scheduler any pod on k8s cluster (head version)

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.16
- Cloud provider or hardw

[2019-07-16 14:47] krzysied commented on #80219
/sig scheduling

[2019-07-16 14:51] krzysied commented on #80219
Based on [perfdash plot](http://perf-dash.k8s.io/#/?jobname=gce-100Nodes&metriccategoryname=E2E&metricname=DensityPodStartup&Metric=create_to_schedule) the issue started on 07/12/2019 between 06:24 PDT and 07:24 PDT.
It looks like #78447 can be a culprit here.

[2019-07-16 14:56] ahg-g commented on #80217
/ok-to-test

[2019-07-16 15:06] krzysied commented on #80219
IIUC v1beta1 is converted to corev1
https://github.com/kubernetes/kubernetes/blob/0791f5bc21e7f270e2be84e1db52166636d142d0/pkg/apis/events/v1beta1/conversion.go#L26-L40

However not all deprecated fields are not set in the recorded (e.g. DeprecatedFirstTimestamp):
https://github.com/kubernetes/kubernetes/blob/0791f5bc21e7f270e2be84e1db52166636d142d0/staging/src/k8s.io/client-go/tools/events/event_

[2019-07-16 15:14] dims commented on #64603
/close

[2019-07-16 15:14] #64603 closed

[2019-07-16 15:16] dgunjetti commented on #80061
is anyone working one this..

[2019-07-16 15:19] danikam commented on #77131
Seems to be working now after checking out release-1.12 in the https://github.com/kubernetes/kubernetes repo, except that setting --leader-elect=true causes the my-scheduler pod to hang on `attempting to acquire leader lease`:

[code]

[2019-07-16 15:33] draveness opened #80224 "Cleanup RegisterPriorityFunction in the scheduler"
/kind cleanup
/sig scheduling
/assign
/priority important-longterm

The `RegisterPriorityFunction` has deprecated which needs to be removed from the codebase.

+ [ ] Remove RegisterPriorityFunciton

[2019-07-16 15:34] draveness commented on #80224
/remove-kind feature

[2019-07-16 15:46] jmillikin-stripe commented on #76688
/remove-lifecycle stale

[2019-07-16 15:57] dbyron0 commented on #56903
@realdimas any chance of making the source for your node-problem-detector plugins available?  They sound super useful.  Thanks much for all the info.

[2019-07-16 16:00] PatrickLang commented on #78857
/milestone 1.16

[2019-07-16 16:29] max-rocket-internet commented on #79365
Any update @zq-david-wang?

[2019-07-16 16:38] kfox1111 commented on #65153
Can we start back up the discussion? It seems to have stalled.

[2019-07-16 16:56] alice-sawatzky commented on #79995
the cap on 100 missed jobs has caused some serious problems on our infrastructure; i would be hugely in favor of being able to reconfigure or disable this limit, or simply have it removed for CronJobs with a ConcurrencyPolicy of Forbid.

[2019-07-16 16:58] GregSilverman commented on #56903
@rata , I tested this on a `dnstools` pod running on a non-coredns node, and it appears to work. Now, I just need to figure out how I can use this attribute in an Argo workflow spec. Much appreciated.

Still, I find it strange that everything was working fine through late last week and that this only really started to happen yesterday.

[2019-07-16 17:09] GregSilverman commented on #56903
I take that back (it does seem intermittent now) :

[code]

[2019-07-16 17:11] #69687 closed

[2019-07-16 17:16] icelynjennings commented on #79389
Discussed on sig-node meeting, concluding to close this issue & KEP.

Presented use cases should be met by configuring Kubelet's container runtime - @dchen1107
An advantage of defining mirroring in the containerSpec would be that Kubelet could provide authentication to registries, whereas setting it in the container runtime means having to provide authentication manually. - @mrunalp

[2019-07-16 17:16] #79389 closed

[2019-07-16 17:18] reyou commented on #69687
Hey this is great @DXist. Just wondering, does it mean this feature will be available on the next release of k8s? So are we going to able to set deployment scalability between 0-N, and pods will not use any CPU or memory till they are awaken?

[2019-07-16 17:32] johnbelamaric commented on #78891
I agree with @mgdevstack here. We should not ignore "this will be deprecated one day" for current tests, but for new tests use NodeAffinity.

@k-toyoda-pi which tests specifically? In general, we should not demote these tests. If they use it in passing, we should fix them to not use it. If they are explicitly testing a deprecated feature, then we still need to do that until the deprecation period

[2019-07-16 17:51] difabion commented on #19317
Resolved using the script from [this comment](https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-497542245).

[2019-07-16 17:56] DXist commented on #69687
@reyou , scale-to-zero feature will be available if HPAScaleToZero feature gate is activated. The feature will be available for custom object or external metrics and not for resource metrics like CPU or memory.

[2019-07-16 18:03] reyou commented on #69687
Ah OK thanks for the clarification. I was thinking to have serverless behavior from the pods.
Seems like this is not the cause currently. Anyways great feature addon. Thanks!

[2019-07-16 18:31] davidz627 opened #80226 "Enable MountOptions tests for CSI Driver suite tests"
MountOptions were not even being passed through: https://github.com/kubernetes/kubernetes/pull/80191

There were no tests for mount options on CSI running, we can just enabled them somewhere in here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/drivers/csi.go

/sig storage

[2019-07-16 18:50] ahg-g opened #80227 "Simplify bind extension point integration tests"
**What would you like to be added**:
The [integration test for the scheduler framework bind extension point](https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler/framework_test.go#L676) is very complex and I should be simplified.

**Why is this needed**:
Tests should be simple to reason about, and also to avoid flakes.

/sig scheduling
/kind cleanup

[2019-07-16 18:54] congliu01 commented on #80227
I'd like to take a look at this.

[2019-07-16 18:58] dims commented on #79135
/close

[2019-07-16 18:58] #79135 closed

[2019-07-16 19:00] dims commented on #55435
/remove-sig architecture

[2019-07-16 19:18] kfox1111 opened #80228 "why --delete-local-data"
When draining a node, it complains about any pods that utilize an emptyDir volume, asking you to specify --delete-local-data to override. emptyDir is no different in lifecycle then the containers themselves, so why require a flag for emptyDir containing pods and not just all pods?

I think we should not need --delete-local-data for emptyDir pods.

[2019-07-16 19:28] GregoireW commented on #61051
I also face a pod like this in a GKE cluster:

NAME              READY   STATUS    RESTARTS
default-49fsc   0/2          Error         0

Describe:
   State:          Terminated
   Reason:       Error
   Exit Code:    255

As it was the first time I saw this kind of error status, I checked the state of my cluster. It turns out that a volume as been unmounted from the node itself but was still in u

[2019-07-16 19:42] kfox1111 commented on #80228
@kubernetes/sig-cli-feature-requests

[2019-07-16 19:45] MikeSpreitzer commented on #79488
This one just flaked again for me, this time on the TestNodePIDPressure test: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78966/pull-kubernetes-integration/1151190619947798528/

[2019-07-16 20:16] tallclair commented on #79881
Duplicate of https://github.com/kubernetes/kubernetes/issues/12968

[2019-07-16 20:16] #79881 closed

[2019-07-16 20:17] tallclair commented on #12968
/area security
/priority important-longterm

[2019-07-16 21:20] ksubrmnn commented on #79515
/assign @ksubrmnn

I'm talking to the owners of hcsshim now to see about another release

[2019-07-16 21:56] bsalamat commented on #80203
`PodSpec.Priority` is populated at admission time. It is populated by `Priority` admission plugin. If your cluster bring-up scripts do not enable this plugin, pod priority will not be populated.

[2019-07-16 22:01] neolit123 commented on #69871
/reopen

[2019-07-16 22:03] neolit123 commented on #69871
/milestone v1.16

[2019-07-16 22:44] davidz627 commented on #80208
is this issue related: https://github.com/kubernetes/kubernetes/issues/79990

[2019-07-16 22:45] davidz627 commented on #80208
/sig storage

[2019-07-16 23:15] feiskyer commented on #78723
close based on https://github.com/Azure/aks-engine/issues/1361.

@sylr feel free to re-open the issue if you still have questions.

/close

[2019-07-16 23:15] #78723 closed

[2019-07-16 23:48] paulgmiller commented on #76338
@thockin @andrewsykim  could we at least repoen this? I kind of care if other teams are hitting this and if they are all using aks. I may still try and show up at the api machine sig to get their opinion.

[2019-07-16 23:57] moshe010 commented on #80205
Are you requesting cpu in the pod spec?
adding the lines below will request 2 cpus for the pod
resources:
      requests:
        cpu: 2
      limits:
        cpu: 2

[2019-07-17 00:57] liggitt commented on #79958
this looks to be specific to the GKE IAM-based authorizer's handling of the `*` verb

/cc @cjcullen @sambdavidson

[2019-07-17 00:59] liggitt commented on #79958
/assign @mikedanese

[2019-07-17 01:06] tallclair commented on #63732
A small subset of this that I would like to see is autoapproving `client auth` CSRs where the CN matches the authenticated username of the requester. Effectively, the request is "give me a client certificate I can use to authenticate as myself".

The use case is for authenticating to kubelets. This could be done by just using the service account token to talk to the node directly, but doing so pot

[2019-07-17 01:21] MikeSpreitzer commented on #75980
No friction, it is perfectly normal for someone who raises an issue to submit a PR to fix it.

[2019-07-17 01:30] GregSilverman opened #80237 "No cni gets installed, even though it was explicitly done"
**What happened**:

Installed  v1.15.0:
`sudo  yum install -y kubelet kubeadm kubectl --disableexcludes=kubernetes`

and ran `sudo kubeadm init --pod-network-cidr=192.168.0.0/16` to create a master node,

then applied `kubectl apply -f https://docs.projectcalico.org/v3.8/manifests/calico.yaml`

But, instead got this:

[code]

Examining coredns pods gives:

[code]

**What you expected to happen**:

[2019-07-17 01:31] GregSilverman commented on #80237
/sig cni

[2019-07-17 01:32] GregSilverman commented on #80237
/sig dns

[2019-07-17 01:35] pytimer commented on #80205
No, i have two case about this issue.

One, allocate exclusive CPUs to the pod containers. I read the [Control CPU Management Policies on the Node](https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/) document and try it in my Kubernetes cluster, it works.

Two, the cpu manager use all the node cpusets, but i want the cpu manager only use the part of cpus, not all, because

[2019-07-17 02:47] cwdsuzhou opened #80239 "Enhance e2e test for VolumeAttachment with block volumes"
**What would you like to be added**:

Enhance e2e test for VolumeAttachment with block volumes

**Why is this needed**:

Current we lack e2e test for VolumeAttachment with block volumes

[2019-07-17 02:47] cwdsuzhou commented on #80239
/assign

[2019-07-17 02:53] ddebroy commented on #72139
@msau42 I was wondering if it make sense to perform the Zone Labels => NodeAffinity translations in `volumeutil` as part of the call to `volumeutil.CheckNodeAffinity` (which gets invoked by the VolumeBinding predicate) and thus pave the path for deprecation/removal of the VolumeZone predicate. Performing the translation at the point it is needed may be safer from a cluster downgrade perspective.

[2019-07-17 02:53] Hughen commented on #80168
So, is there any progress?

[2019-07-17 02:54] alejandrox1 commented on #78995
On the google doc: https://docs.google.com/document/d/1p3c_sOALbEzg2VH2OPz3w9yKwlwaU4jATyS0lqxFzt4/edit?usp=sharing

Still got a lot to do for step 1 but will ping when this is ready
/cc @mariantalla

[2019-07-17 03:26] zq-david-wang commented on #79365
... @max-rocket-internet  I am **not** working on this issue....
@hex108 are you working on this? Hope you dit not get  an impression that I am working on this.....

[2019-07-17 03:31] adminops commented on #80034
Version 1.15.0 changed too much.
after the 1.14.4 version is rolled back, the problem is solved.

[2019-07-17 03:42] yuchengwu commented on #80203
Thanks for the reminding, I checked PodPriority=true had been enabled for kubelet, controller, apiserver and scheduler,
[code]
also we can see `PodSpec.Priority` is populated after the pod had successfully been brought up. But as I had mentioned

seems that the creation steps for a static pod are
1. kubelet noticed a static pod manifest is placed in manifest path then
2. start to handle pod additi

[2019-07-17 03:43] silenceshell commented on #65233
Thanks @Moshem123 , this workaround is great for those people who still use old kubernetes version.

However it will meet an error if the pod have no volumes, so I improves it by adding a `has` to check whether the volumes exists or not.

[code]

[2019-07-17 03:48] kolorful commented on #79995
@kow3ns thanks! I've opened a KEP in the enhancements repo.

Issue: [enhancements /issues#1146](https://github.com/kubernetes/enhancements/issues/1146)
PR: [enhancements /issues#1145](https://github.com/kubernetes/enhancements/issues/1146)

[2019-07-17 04:01] jim3ma commented on #70013
Available solution from Alibaba Cloud OSS plugin:
https://github.com/AliyunContainerService/csi-plugin/blob/master/docs/oss-upgrade.md

Another solution: Buddy daemonset pods(two daemonset pod work as buddy)
when need upgrade, the buddy pod will take all fd from original pod and then serve fuse service.

[2019-07-17 04:22] #78002 closed

[2019-07-17 04:22] #80119 closed

[2019-07-17 04:29] #64082 closed

[2019-07-17 06:11] moshe010 commented on #80205
so you can use the --system-reserved=cpu=<num of cpus to reserve> in kubelet to do that.  For example --system-reserved=cpu=4 will reserve 4 cpus

[2019-07-17 07:16] mm4tt commented on #73884
The https://github.com/kubernetes/perf-tests/pull/643, which fixed fluentd memory constraint, has merged. I believe we can close this one.
/close

[2019-07-17 07:16] #73884 closed

[2019-07-17 07:37] #78376 closed

[2019-07-17 07:38] mm4tt opened #80242 "[Failing Test] ci-kubernetes-e2e-gce-scale-correctness"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are failing**: Timeout

**Since when has it been failing**: 2019-07-17

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

**Reason for failure**: One of the tests timed out

/assign
/sig scalability

[2019-07-17 07:54] wilmardo opened #80243 "CoreDNS does not working when replicated"
**What happened**:

When running the default deployment of CoreDNS there is no DNS between pods or to the internet.

**What you expected to happen**:

Fully functional DNS between pods and the internet.

**How to reproduce it (as minimally and precisely as possible)**:

I have this issue at home on a Rock64 cluster of three nodes and now also on a [kind ](https://github.com/kubernetes-sigs/kind) c

[2019-07-17 07:56] wilmardo commented on #80243
Will try to get one of my colleagues to reproduce this :)

/sig network

[2019-07-17 08:08] ricky1993 opened #80244 "API server etcd preflight check all member belongs to the same cluster"
**What would you like to be added**:
API server etcd preflight check all member belongs to the same cluster
**Why is this needed**:
Here is the story:
We find a etcd member abnormal and remove it from cluster, but we forget to remove it from apiserver options.
After one day, we fix the etcd server, and it restart for a new cluster.
Unfortunately, we restart apiserver and it writes part of data to

[2019-07-17 08:12] ricky1993 commented on #80244
/sig api-machinery

[2019-07-17 08:16] max-rocket-internet commented on #79365
Ah sorry, my mistake!

[2019-07-17 08:22] kong62 opened #80245 "kubectl get sources too slow"
version: v1.14.2
kubeadm: v1.14.2

First time:
kubectl get nodes -v=10
...
I0717 16:14:48.181289 2723522 request.go:942] Response Body: {"kind":"APIResourceList","apiVersion":"v1","groupVersion":"scheduling.k8s.io/v1beta1","resources":[{"name":"priorityclasses","singularName":"","namespaced":false,"kind":"PriorityClass","verbs":["create","delete","deletecollection","get","list","patch","update","w

[2019-07-17 08:35] hex108 commented on #79365
@zq-david-wang  Ah I missed that `not`:(  I'll try to fix it.

[2019-07-17 08:43] mm4tt commented on #80212
Summarizing what I've found so far:

There are two issues here
  1. Increased cpu usage of some components (mostly scheduler, sometimes api-server)
  2. Prometheus version of API Responsiveness sometimes fails for a lot of calls, e.g.
[code]
      or
[code]

Regarding 1, the mitigation has been already put in place, the threshold has been temporary raised. I'm still far from pinpointing the culpri

[2019-07-17 08:50] kong62 commented on #80245
solved!
 kubectl delete pod metrics-server-6c66b78c97-lt9ph -n kube-system

[2019-07-17 08:50] #80245 closed

[2019-07-17 08:50] kong62 commented on #80245
kubectl delete pod metrics-server-6c66b78c97-lt9ph -n kube-system

[2019-07-17 08:58] stevehorsfield opened #80596 "Support TLS Server Name overrides in kubeconfig file"
We are using multiple AWS EKS deployed clusters with private VPC-only access in combination with VPC-peering and tooling to provide multiple environments.

Currently, we deploy intermediary proxies to get round the limitation in EKS that the API servers are only routable from within the same VPC.

To establish a connection from another location, we have to include a `hosts` file override to point

[2019-07-17 09:09] wilmardo commented on #80243
Tried to reproduce this exact issue with a collegue running an Insiders Preview. Not exactly the same issue occurred but also no DNS inside the kubernetes cluster:

[code]

The first lookup to the internet works, the second lookup to the default kubernetes service fails. This time with a SERVFAIL. Scaling the deployment does not make a difference

[2019-07-17 09:23] Arun129 opened #80248 "Kubernetes - Container is not accessible using node port"
@kubernetes/sig-contributor-experience-test-failures

**What happened**:

Currently we have setup a kubernetes cluster with a single master and single worker node.

[code]
[code]
[code]

Here am using my worker node ip to access my container from master. Whereas I can able to access from worker node by cluster ip, please find the output below :

[code]
**What you expected to happen**:

Nginx conta

[2019-07-17 09:27] calvix commented on #80076
@andyzhangx
What should be replaced with three dots mentioned in your command? `...`

[code]

[code]

[2019-07-17 09:30] calvix commented on #80076
I have now affected node so i can execute any command you want

[2019-07-17 09:59] mm4tt commented on #80212
Regarding 1, I found that there are more symptoms than just increased scheduler cpu usage.
Around that time, other things started to happen, e.g.

Scheduler binding latency went up:
![EsZT5dm8BEc](https://user-images.githubusercontent.com/2604887/61366573-1dc65080-a88a-11e9-9f14-e00354dc3b5e.png)

Api Call Latency of POST pods/binding went up:
![0CQibnW4cBP](https://user-images.githubusercontent.c

[2019-07-17 10:04] kolexinfos commented on #46861
Deleting the deployment and running kubectl apply on your deployment.yaml resolves the issue.

[2019-07-17 10:08] krzysztof-jastrzebski opened #80250 "It takes more than 50s in average to add/remove node by ServiceController"
ServiceController refreshes node list every 100s which gives 50s in average for add/remove node from services(https://github.com/kubernetes/kubernetes/blob/29669a5e219ffabb99e5e68775f8ad55bf19c5e0/pkg/controller/service/service_controller.go#L208).
If we are using externalTrafficPolicy: Local then adding new pod/node to load balancer takes 50s in average as node need to be added first. This is als

[2019-07-17 10:09] krzysztof-jastrzebski commented on #80250
/sig network

[2019-07-17 10:10] Lemmork commented on #72811
Is there any workaround for this problem? I was wondering why my pods scale up with no traffic. Now I know why.

[2019-07-17 10:21] andyzhangx commented on #80076
@calvix is this issue happening again now? what I meant is when that issue happens again, find the azure file mount that has issue by `mount | grep pvc-xxx` and write down the file share name and then on another  node, run command like `mount -t cifs -o username=xxx,password=xxx,file_mode=0777,dir_mode=0777,vers=3.0 //xxx.file.core.windows.net/csivolumename /tmp/testmount` to check whether the rem

[2019-07-17 11:02] mm4tt commented on #80209
Looks like that increasing the disk sizing didn't help, the get lease latency is still visible higher than put lease and still not withing SLOs.

**etcd get|update lease latency**

Baseline run:
![NrzSgX3jagm](https://user-images.githubusercontent.com/2604887/61370365-89acb700-a892-11e9-961c-37b3591214f0.png)

Bigger disk run:
![ipWBfVXyU9r](https://user-images.githubusercontent.com/2604887/613703

[2019-07-17 11:05] realdimas commented on #56903
Here you go: uswitch/node-problem-detector#4 (specifically https://github.com/uswitch/node-problem-detector/pull/4/commits/e124ea7241a671978551dd13f6b3ffaf87f96a80).

You might want to parameterize & change bits & pieces there, as it is tailored to specific a setup.
Log an [issue in the repo](https://github.com/uswitch/node-problem-detector/issues/new) or [hit me on k8s slack](https://kubernetes.s

[2019-07-17 11:28] jsafrane opened #80251 "NVMe AWS EBS volumes with partitions can't be mounted"
**What happened**:
Checking `getDiskByIDPaths` for an unrelated bug I discovered that AWS volume plugin does not really support partitions on NVMe volumes. When `awsElasticBlockStore.partition` is set to say "1", these two cases can happen:

1. `devicePath` is set (e.g. from node.status). The function just appends partition number ("1") to it:
https://github.com/kubernetes/kubernetes/blob/29669a5e

[2019-07-17 11:32] pytimer commented on #80205
I set the `--system-reserved` is 2000m, it reserve 2 cpus. How to do it if i want to use cpus like `0-1,3`?

[2019-07-17 11:40] indradhanush commented on #60807
I had the same problem today and [this script](https://github.com/ctron/kill-kube-ns/blob/master/kill-kube-ns) worked for me.

[2019-07-17 11:44] moshe010 commented on #80205
according to https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cpumanager/policy_static.go#L51-L56 Reserved CPUs are taken topologically starting with lowest-indexed physical core. So this need to be extended if you want spacify what cpus to reserve

[2019-07-17 11:44] gnufied commented on #80251
nvme code path does not uses devicePath set in node object at all, afaik. So we have to fix this in the code that waits for device attachment on the node..

[2019-07-17 11:50] calvix commented on #80076
@andyzhangx

Yes

All file shares are broken and hanging.
Any  fs command on any file share folder will hang indefinitely including `cd /var/lib/kubelet/pods/d76244ac-a248-11e9-93f4-000d3a48b9d2/volumes/kubernetes.io~azure-file/pvc-d7600673-a248-11e9-93f4-000d3a48b9d2`

all the file shares can be mounted on another machine without any issues, so its something on the machine which blocks  the whole

[2019-07-17 12:13] andyzhangx commented on #80076
@calvix could you file an azure support ticket to azure file team? It's an azure file issue. Also provide
 - vm size
 - VM image(it's coreos, is it a standard Azure CoreOS image?)
 - how did you set up k8s cluster?
cc @RenaShahMSFT

[2019-07-17 12:27] PauloASilva commented on #79779
Hi @liggitt,
Thanks for the guidance.

Please check [this gist][1] where you'll find
* `kube-apiserver-audit.log`: the api server audit log
* `master-kubelet.log `: the log file from kubelet running on k8s master node
* `worker-kubelet.log`: the log file from kubelet running on k8s worker which joined the cluster with a duplicate hostname
* `node-api-object-updates.json`: updates do the node api o

[2019-07-17 13:00] wojtek-t commented on #80209
@jpbetz @jingyih - for any hints

[2019-07-17 13:08] tpoindessous commented on #66450
/remove-lifecycle stale

[2019-07-17 13:36] mm4tt commented on #80242
Looks like one suite didn't complete, unfortunately in the current setup it's impossible to pinpoint the culprit test, as we don't dump logs from pending suites on timeouts.
We should fix that as otherwise it's impossible to efficiently debug failures like this one.

[2019-07-17 13:38] mm4tt commented on #80242
With https://github.com/kubernetes/test-infra/pull/13487 it should become easy to identify which test is timing-out.

[2019-07-17 13:43] ranjujohn commented on #72395
Regarding the pod-eviction-timeout issue, I was also facing the same issue with k8s 1.15.0 and then read about the change as mentioned below.

"In version 1.13, the TaintBasedEvictions feature is promoted to beta and enabled by default, hence the taints are automatically added by the NodeController (or kubelet) and the normal logic for evicting pods from nodes based on the Ready NodeCondition is d

[2019-07-17 13:48] chrisohaver commented on #80243
The query to `kubernetes.` fails because it is not fully qualified.
Assuming your cluster domain is `cluster.local.`, the query should be for `kubernetes.default.svc.cluster.local.`.

It's up to the process doing the query to make the query name fully qualified, either by making an explicit fully qualified query, or implicitly via the domain search list in `/etc/resolv.conf` in its Pod.

Note that

[2019-07-17 13:53] ahg-g opened #80255 "TestScorePlugin is flaky"
**What happened**:

The new TestScorePlugin for the scheduler framework is flaky

**How to reproduce it (as minimally and precisely as possible)**:

An example:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/79465/pull-kubernetes-integration/1151429469014069250/

**Anything else we need to know?**:

The test evaluates that a pod should be scheduled on specific node with a higher scor

[2019-07-17 13:54] n0-1 commented on #79304
FYI: Debian maintainer just informed me current iptables is available in buster-backports now.

[2019-07-17 13:55] jglick commented on #65706
/remove-lifecycle rotten

[2019-07-17 14:06] ahg-g commented on #80255
/kind flake

[2019-07-17 14:12] liggitt commented on #79779
the audit log does not show higher than expected write rates to the Node API object:

cat ~/tmp/kube-apiserver-audit.log.txt | jq 'select(.objectRef.resource == "nodes") | select(.verb == "patch") | "\(.requestReceivedTimestamp) \(.requestObject.status.nodeInfo.bootID)"'

That shows alternating writes between the two nodes (based on different bootID), each writing ~5 times per minute, as expected.

[2019-07-17 14:13] ahg-g commented on #80217
Interesting interaction between the permit and preempt!

[2019-07-17 14:28] Bluewind commented on #72393
Shouldn't this be reopened until the bug is fixed?

Creating the two files also "solves" the issue for us.

[2019-07-17 14:41] andrewsykim commented on #80034
Okay, I'm going to close this for now, but if you see the issue again, please also share the endpoint resource corresponding to the IPVS rules that were lost.

/close

[2019-07-17 14:41] #80034 closed

[2019-07-17 14:46] msau42 commented on #72393
/reopen
cc @gnufied @humblec

[2019-07-17 15:08] jsafrane commented on #79780
I am afraid that the fix won't work for all volume plugins. I randomly checked where some volume plugins symlinks a device:

* iscsi: `/var/lib/kubelet/plugins/kubernetes.io/iscsi/volumeDevices/iface-default/127.0.0.1`
* aws: `/var/lib/kubelet/plugins/kubernetes.io/aws-ebs/volumeDevices/aws:/us-east-1d/vol-0e138b910f0fe4642`

So, iSCSI would be cleaned with this PR, but just as a coincidence, not

[2019-07-17 15:37] andscova commented on #78003
Is there any plan to update CoreDNS to v1.5.0 for the next k8s version? Otherwise could you point me to a guide to update manually?

[2019-07-17 15:41] chrisohaver commented on #78003
Yes. Or whatever the latest stable version of coredns will be at the time.

[2019-07-17 15:45] dbyron0 commented on #56903
Thanks @realdimas!

[2019-07-17 16:18] zanetworker commented on #60140
Any update on this one?

Facing the same issue when copying large files > 600MB. Basically the following errors:

`unexpected EOF` -> copy and exec outputs
`Error proxying data from client to backend: unexpected EOF` -> API-server
`error forwarding port <port> to pod <pod_id>, uid : EOF:` -> Kubelet

This is happening from within the cluster as well.

[code]

Any ideas?

[2019-07-17 16:20] yue9944882 opened #80258 "Subtest junit parsing is fragile, indicates failures when stdout interleaves with go test output"
test log output that interleaves go test output with server/background process stdout/stderr is not able to be parsed by the junit consumer, so the job thinks the test failed.

Examples:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1156611596072521728 thinks TestWebhookV1beta1/settings.k8s.io.v1alpha1.podpresets/delete failed

Actual test output:
[c

[2019-07-17 16:21] yue9944882 commented on #80258
/remove-kind failing-test
/kind flake
/sig api-machinery

[2019-07-17 16:21] yue9944882 commented on #80258
/sig testing

[2019-07-17 16:25] jpbetz commented on #80209
This is with etcd 3.3?

[2019-07-17 16:56] alenkacz commented on #79887
@mborsz I don't see any improvement in testgrid after the PR being merged. Is that expected?

[2019-07-17 16:57] tallclair commented on #63732
@liggitt raised the good point that allowing authenticated users to freely exchange credentials for an irrevocable certificate is a bad idea. The idea should be scoped down to service accounts first, and then we need to think about the revocation problem. Would it be sufficient to require short (by some definition) certificates?

[2019-07-17 16:59] alenkacz commented on #79711
@oxddr @wojtek-t any update on this one?

[2019-07-17 17:02] sashayakovtseva commented on #79803
@derekwaynecarr @mattjmcnaughton How can this issue appear in sig-node agenda?

[2019-07-17 17:08] alenkacz commented on #79277
@krzysied is there anything we can do to prove that hypothesis or remove the flakiness?

[2019-07-17 17:38] wojtek-t commented on #80209
Yes - the graphs around are with 3.3.
Though, we were also trying with experimental version of 3.4 (the one that we were evaluating the impact of concurrent reads), and it looks pretty similar.

[2019-07-17 17:43] vguaglione commented on #78684
Where is this image on quay.io?  I've tried the following:

docker pull quay.io/fluentd-elasticsearch/fluentd:v2.5.1
docker pull quay.io/fluentd-elasticsearch/fluentd:latest
docker pull quay.io/fluentd-elasticsearch/fluentd

and all three return the following error:

Error response from daemon: unauthorized: access to the requested resource is not authorized

[2019-07-17 17:46] javier-b-perez opened #80262 "Core k8s images should have 'amd64' in the container name"
**What happened**:
When we build with make to build k8s, it will use 'amd64' in the container names. This is not the case for bazel builds, which are still using something like 'kube-apiserver' instead of 'kube-apiserver-amd64'

**What you expected to happen**:
Images build with make or bazel should have 'amd64' in the container name

**How to reproduce it (as minimally and precisely as possible)*

[2019-07-17 17:47] wwitzel3 commented on #71714
/remove-lifecycle stale

[2019-07-17 17:47] javier-b-perez commented on #80262
/sig cluster-lifecycle
/assign @javier-b-perez

[2019-07-17 17:47] wwitzel3 commented on #71714
Waiting for an approved on the tests for the fix here: https://github.com/kubernetes/kubernetes/pull/76776

[2019-07-17 17:56] dims commented on #80262
+1 we need to standardize both builds to generate the same.
+1 to add `-amd64` to the bazel build

[2019-07-17 18:03] BenTheElder commented on #80262
FYI @neolit123 @fabriziopandini

[2019-07-17 18:03] BenTheElder commented on #80262
+1, cc @cblecker

[2019-07-17 18:10] BenTheElder commented on #75660
1.11 is unsupported by the project now, as is 1.12
/close

[2019-07-17 18:10] #75660 closed

[2019-07-17 18:13] neolit123 commented on #80262
bazel / docker build parity SGTM.

[2019-07-17 18:18] neolit123 commented on #80248
/remove-kind bug
/triage support
/sig aws

[2019-07-17 18:19] Bessonov commented on #57660
Activity!

[2019-07-17 18:19] Bessonov commented on #57660
/remove-lifecycle stale

[2019-07-17 18:33] egernst opened #80264 "PodOverhead: add scheduler integration test"
**What would you like to be added**:

add a scheduler integration test for Pod Overhead feature

**Why is this needed**:

Add test coverage, and help guarantee continued functionality of the PodOverhead feature in the scheduler.

[2019-07-17 18:37] egernst commented on #80264
/sig scheduling

[2019-07-17 18:41] yujuhong opened #80265 "Failing test on Windows: Kubectl logs should be able to retrieve and filter logs [Conformance]"
**Which jobs are failing**:
https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master
https://testgrid.k8s.io/sig-windows#gce-windows-master

**Which test(s) are failing**:
 Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance]

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:
[code]

#80126 switched to using the doc

[2019-07-17 18:47] cblecker commented on #80262
+1. Perhaps we should document a standard, like:
- All docker images that are arch specific should have the arch in the name
- Arch is only able to be omitted when it's a manifest-based tag (multi-arch)
- Document legacy exceptions, and hopefully bring them into compliance

/cc @kubernetes/sig-release

[2019-07-17 18:55] dinathom commented on #79355
@bswartz  We have tried the solution you propose but kubelet on the node may or maynot cleanup the paths for flexvolume depending on when kubelet was restarted.  Even if we are able to handle pod restarts, kubelet restarts is out of our control.  Do you have a proposal to handle unmounts/detach of flexvolumes because kubelet may/maynot call the flexvolume driver based on what its in-memory state i

[2019-07-17 18:57] waynr opened #80267 "recent changes to kube-conformance image's run_e2e.sh breaks sonobuoy"
**What happened**:

I ran `sonobuoy run --e2e-parallel 10` while running `watch -n 1 kubectl get ns` in another terminal to observe namespaces as the e2e tests ran. I only ever saw one e2e test case at a time.

I experimented a little and found that `sonobuoy run --e2e-parallel y` caused up to 2 e2e namespaces at a time to show up.

**What you expected to happen**:

I was expecting to see up to 10

[2019-07-17 18:58] waynr commented on #80267
@kubernetes/sig-testing-bugs

[2019-07-17 18:59] waynr commented on #80267
/area conformance

[2019-07-17 18:59] waynr commented on #80267
/area e2e-test-framework

[2019-07-17 19:04] justgotthis commented on #78795
Can we please re-open this bug? I did not see a solution to this. It was wrongfully closed referencing another issue. We are running into this bug as well currently so let me know if I need to open a new bug for this.

[2019-07-17 19:19] jpbetz commented on #80209
This is really good to know. I was wondering if the latency was an artifact of head-of-queue blocking in 3.3-, but with similar results with the experimental 3.4 release (which fixes the head-of-queue problem with fully concurrent reads), I think we can shift our search elsewhere.

Unfortunately, after thinking about this for a bit, nothing has yet come to mind on what the cause might be. Are we a

[2019-07-17 19:20] #79973 closed

[2019-07-17 19:23] jpbetz commented on #80209
Another basic question, do we know (roughly) how many etcd keys serve as leases (I'm assuming it's a low number) and what the general gets/second and puts/second are for the keys? It might be trivial for us to benchmark etcd performance in isolation and reproduce the issue if we have those numbers.

[2019-07-17 19:38] loginakhil opened #80269 "data race in client go"
**What happened**:

Data race in client-go with below sample code:
[code]

Data race:

[code]

**What you expected to happen**:
No data race
**How to reproduce it (as minimally and precisely as possible)**:
Using above given sample code

- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
`Amazon EKS`
- OS (e.g: `cat /etc/os-release`):
OSX

[2019-07-17 19:41] loginakhil commented on #80269
/sig api-machinery

[2019-07-17 19:44] jkennedyOM commented on #79523
+1 I am experiencing the same issue. NLB also supports UDP_TCP type, any service using     service.beta.kubernetes.io/aws-load-balancer-type: "nlb" should be able to mix TCP and UDP port configs.

[2019-07-17 20:13] messiahUA commented on #78684
@vguaglione it should be quay.io/fluentd_elasticsearch/fluentd

[2019-07-17 20:17] msau42 commented on #72139
What downgrade scenario are you thinking will break if we do the translation in the migration library?  The main reason why I think translation lib may be a good place is because the zone labels are a provider-specific thing (ie, GCE PD has special syntax to handle repd, Azure requires both region + zone labels), whereas `CheckNodeAffinity` is provider-agnostic and supposed to handle arbitrary lab

[2019-07-17 20:46] davidz627 commented on #68586
/remove-lifecycle stale

[2019-07-17 21:00] dims commented on #80262
@cblecker i like it. where is the best spot to doc this?

[2019-07-17 21:10] liu-cong opened #80272 "Add unit tests for Scheduler framework"
**What would you like to be added**:
Add unit tests for Scheduler [framework](https://github.com/congliu01/kubernetes/blob/73704f1b8e04c573185f230019cc1891375c283b/pkg/scheduler/framework/v1alpha1/framework.go#L264).

Currently there are only [integration tests](https://github.com/congliu01/kubernetes/blob/c54c4d1962d84b0659644f8ae9c9976b547d021f/test/integration/scheduler/framework_test.go#L435-L

[2019-07-17 21:11] a7i commented on #79523
@bhagwat070919 Any progress? I can collaborate on this, if you need a hand.

[2019-07-17 21:12] justaugustus commented on #80262
@cblecker @dims -- please doc as updates to: https://github.com/kubernetes/sig-release/blob/master/release-engineering/artifacts.md

[2019-07-17 21:34] congliu01 commented on #80272
Improves or fixes #79427 #80255 #80227

[2019-07-17 21:39] javier-b-perez commented on #80262
Created https://github.com/kubernetes/sig-release/pull/728

[2019-07-17 21:51] BenTheElder commented on #80243
Thanks @chrisohaver, do you know if we've documented this anywhere related to troubleshooting Kubernetes? I bet a lot of users are pulling out dig to test something like this and missing the point about enabling search paths.

[2019-07-17 22:26] dims commented on #80029
@lpabon my request is not for a new release or tag in libopenstorage/openstorage repository. Just to update the SHA we use in our k/k repository to one of the released versions ( https://github.com/libopenstorage/openstorage/tags ). This is not asking or demanding anything to be done in libopenstorage/openstorage, just that we should update what we use from there (and avoid a random SHA). We are t

[2019-07-17 22:29] dims commented on #80029
/assign @lpabon

[2019-07-17 22:36] dims commented on #80029
After a chat with @lpabon - apparently this request is coming across the wrong way https://kubernetes.slack.com/archives/C09QZFCE5/p1563402365367900

[code]

I am closing this out as it seems to add a over head
[code]

/close

[2019-07-17 22:36] #80029 closed

[2019-07-17 22:55] teng1 commented on #63371
Please, can this be addressed? This happened today:

Usecase:
Advising a local dev team that they can edit the schedule of a CronJob to later and prevent it running at the previously specified time;  in this case it runs a job to shut down AWS infrastructure overnight in a non production environment.

Outcome:
Infrastructure needed to be kept up for longer is immediately terminated!!!

[2019-07-18 00:12] bsalamat commented on #80203
Priority is populated when a pod object is created, but as you noted, the problem is that a pod object (mirror pod) for a static pod is created after the actual pod is created on the kubelet.

One option to solve this problem is to add logic to Kubelet to resolve PriorityClass for static pods.

@dchen1107 Who would be able to help with this issue?

[2019-07-18 00:17] liggitt commented on #80258
Do you have a representative link? The link in the description is not to the integration test job

[2019-07-18 00:19] sambdavidson commented on #79958
Hey Erika,

I was looking into this issue and I think I know what is going on.

Would your identity that you are using to call `kubectl auth can-i "*" rolebindings` happen to have the `container.thirdPartyObjects.update` permission? That would be case if your identity had a Google IAM role binding to a custom role with that permisson, _Kubernetes Engine Developer_, or _Kubernetes Engine Admin_.

A

[2019-07-18 00:22] liggitt commented on #80258
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestWebhookV1beta1 only shows two failures

[2019-07-18 00:34] dchen1107 commented on #80203
The issue is a regression caused by https://github.com/kubernetes/kubernetes/pull/79554. In this case, we should revert the pr until kube-proxy is properly moving to daemonset.

[2019-07-18 00:39] liggitt commented on #80244
Using distinct client credentials for each etcd cluster would prevent that. Checking all members would require all members to be available for an API server to start, which would impact availability

[2019-07-18 00:46] draveness commented on #79548
/reopen

[2019-07-18 00:54] draveness commented on #80272
/sig scheduling

[2019-07-18 01:06] bsalamat commented on #80203
I chatted with @dchen1107 offline. She and SIG node will discuss the solution to add code to Kubelet to resolve PriorityClassName to the numeric value of priority for static pods.

In the meantime, we are reverting #79554 until this issue is resolved.

[2019-07-18 01:35] leiyazhen opened #80278 "kubelet start fail for Streaming server stopped unexpected"
**Environment:**

Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.4", GitCommit:"a87e9a978f65a8303aa9467537aa59c18122cbf9", GitTreeState:"clean", BuildDate:"2019-07-08T08:51:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.4", GitCommit:"a87e9a978f

[2019-07-18 01:39] warlockhades opened #80279 "Error while initializing connection to Kubernetes apiserver"
**What happened**:
I installed the dashboard, but it doesn't work.
Here is the log:

**What you expected to happen**:
I want it work.
**How to reproduce it (as minimally and precisely as possible)**:
docker+kubernetes+calico
docker version: 3.10.0-514.el7.x86_64
kubernetes version: v1.13.2
calico version: v3.3.2

the commands to install calico:

the commands to install dashboard:

[rbac-kdd.txt](h

[2019-07-18 01:44] wangxiaoq commented on #61998
ping @ryanmcnamara

I use the K8S which version is 1.11.4 and encounter the same problem.  I want to reproduce the problem and find your way:

Could you tell me how to mannually create a same controllerrevision  identical to the first? Thanks in anvance.

[2019-07-18 02:29] solacens opened #80282 "Service discovery binary seems outdated for es v7.1.1 in fluentd-elasticsearch"
**What happened**:
On latest fluentd-elasticsearch, the elasticsearch replicas seems failed to form a valid cluster with the service discovery helper written in golang.

**What you expected to happen**:
Successfully boot up an elasticsearch cluster I guess.

**How to reproduce it (as minimally and precisely as possible)**:
Just use the yamls in [here](https://github.com/kubernetes/kubernetes/tree/

[2019-07-18 02:34] bluven commented on #70044
Same problem:
[code]

[2019-07-18 02:34] #73387 closed

[2019-07-18 02:35] #80255 closed

[2019-07-18 02:35] liggitt commented on #80258
/cc @jpbetz @roycaihw

[2019-07-18 02:38] andrewsykim commented on #76766
/remove-lifecycle stale

[2019-07-18 02:38] solacens commented on #80282
/sig instrumentation

[2019-07-18 03:16] yue9944882 commented on #80258
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&sort-by-flakiness=

@liggitt i see that test ranking #1 in the flaking list

[2019-07-18 03:22] yue9944882 commented on #80244
sounds more like brain-splitting the guy's talking about

[2019-07-18 03:26] ricky1993 commented on #80244
How about just checking the living member? It would not impact availability and provide more safety.

[2019-07-18 03:29] ricky1993 commented on #80244
I think it is misconfigured. If the apiserver connect to two different etcd cluster would cause that.

[2019-07-18 03:33] ricky1993 commented on #80244
Of course we have used different credentials for each etcd cluster, but in the story, the etcd server was start up with the original credential and empty-data as a new cluster unexpectedly (The original plan is restart it and add it to the original cluster).

[2019-07-18 03:42] pytimer commented on #80205
You mean if i want specify what cpus to reserve, i should modify the kubelet code about cpu manager, is it?

[2019-07-18 04:08] humblec commented on #72393
@lucaim @Bluewind which version of ceph cluster is in use in your setup ?

[2019-07-18 04:16] liggitt commented on #80258
Weird, it doesn't appear at all in http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2019-07-18 04:17] liggitt commented on #80258
Thanks for the heads up, we'll take a look

[2019-07-18 04:21] ks864148379 opened #80283 "kubectl cp is still escape when copy file from pod"
/sig cli

**What happened**:
Redacted

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.0-alpha.0.1722+bf86300241e51f", GitCommit:"bf86300241e51f011040d208e43f1cd2a5c0378a", GitTreeState:"clean", BuildDate:"2019-07-18T02:23:03Z", GoVersion:"go1.12.6", Compiler:"gc", Platform:"l

[2019-07-18 04:29] #80262 closed

[2019-07-18 04:34] danielqsj commented on #80269
I'd like to take it.
/assign

[2019-07-18 04:41] tedyu commented on #80203
I was thinking about the following change to CreateMirrorPod of pkg/kubelet/pod/mirror_client.go
[code]

[2019-07-18 04:41] ricky1993 commented on #80244
Maybe we can check: uniq count cluster id == 1

[2019-07-18 05:00] Michael754267513 commented on #80164
1

[2019-07-18 05:01] #80164 closed

[2019-07-18 05:41] yuchengwu commented on #80203
Hi, @tedyu thanks for hacking on that, I don't think this change can resolve the issue. As in my previous comment https://github.com/kubernetes/kubernetes/issues/80203#issuecomment-512089776 stated, the priority should be properly assigned before kubelet admit phase which means before calling Admit handlers at step 2, but your change happens at step 3

And one more question, why are you assign Pri

[2019-07-18 06:23] SataQiu commented on #80035
Hmm... I guess you created PV manually. You should not bind the PVs to the same node.
I suggest you use PVC instead of PV, dynamic provisioning can shedule Pod with PV well.

[2019-07-18 06:28] wojtek-t commented on #80209
Lease-per-node + O(1) other - so basically 5000.

We're capturing profiles from other components, so shouldn't be hard to extend to etcd.
I'm not sure how useful it will be [currently we're capturing 30s-profiles every N minutes], but I think it's at least some start that will give some initial information.

@mm4tt - would you be able to do that? It should be quite simple - I think we just need to

[2019-07-18 06:42] alexanderKhaustov opened #80286 "A Pod can never run due to AttachVolumeLimit"
/sig scheduling

**What happened**:
Pod is scheduled to a node, but is stuck in ContainerCreating because attach limit is exceeded
**What you expected to happen**:
Pod is not scheduled, but rather is in a "Pending" state and could be scheduled to another node
**How to reproduce it (as minimally and precisely as possible)**:
Create a GKE cluster with a single node of the g1-small type (this will li

[2019-07-18 06:46] shinebayar-g commented on #73738
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/ when I apply the following example
[code]

[code]

It literally said `apiVersion: autoscaling/v2beta1` there. I guess as @MaciekPytel mentioned it's changed in `v2beta2` version. But it's mentioned nowhere in docs. And example doc is incorrect :(

v2beta2 API is not available in `v1.13.7-gke.8` as of today.

Als

[2019-07-18 06:47] krzysztof-jastrzebski commented on #80250
/assign bowei

[2019-07-18 06:50] krzysztof-jastrzebski commented on #80250
/assign freehan

[2019-07-18 07:04] Ankur7890 opened #80287 "Kubernetes"
Need some understanding on sizing consideration of k8s cluster master components, in order to handle maximum 1000 pods how many master will work out and do the job specially in case of multi master mode having load balancer in front to route request to api server.

Will 3 master node(etcd, apiserver, controller, scheduler) enough to handle or require more to process the load.

[2019-07-18 07:07] mrwonkerz commented on #47711
Im having the same problem on Windows Nodes, after some hours all svc on one node loses their endpoints. Kubernetes V1.15

[2019-07-18 07:17] Ankur7890 commented on #80287
@Kubernetes/Sizing

[2019-07-18 07:25] ks864148379 commented on #80283
/area/kubelet

[2019-07-18 07:36] SataQiu commented on #74352
/cc

[2019-07-18 07:38] wojtek-t commented on #80209
I talked with @jpbetz offline about that too and he suggested that it may be related to the "write ahead buffer" feature added in 3.3.
What may be a useful experiment to do is to check whether it looked the same with etcd 3.2 (which at least I don't have any idea about).

[2019-07-18 07:39] leiyazhen commented on #80278
i found where the error come from.
[code]
is this a bug? because i have another node ,which has the same env.that one is normally
/sig bug

[2019-07-18 07:40] leiyazhen commented on #80278
i found where the error come from.
[code]
is this a bug? because i have another node ,which has the same env.that one is normally
/kind bug

[2019-07-18 07:50] mrwonkerz opened #80288 "All services loosing enpoints after a couple of hours on Windows Node"
**What happened**:
I figured out that all pods on one of my Windows Nodes weren't available anymore.
The pods are still running without errors and I can exec into them.
The service endpoints seem to have failed.
![image](https://user-images.githubusercontent.com/8045084/61439499-efa44780-a941-11e9-9124-15ad2c951679.png)
This happens to all of my Windows Nodes at some time during the day. Restartin

[2019-07-18 07:55] Bluewind commented on #72393
We are running a ceph cluster with `ceph version 14.2.1 (d555a9489eb35f84f2e1ef49b77e19da9d113972) nautilus (stable)`. kube-controller-manager is running `rancher/hyperkube:v1.14.3-rancher1` which internally uses `ceph version 10.2.11 (e4b061b47f07f583c92a050d9e84b1813a35671e)`. Also just to prevent any confusion: I've used `kubectl edit` to resize the PVC, not rancher.

[2019-07-18 07:58] mrwonkerz commented on #80288
/sig windows

[2019-07-18 08:02] Bluewind commented on #72393
This also seems related to #66757.

[2019-07-18 08:17] wojtek-t commented on #73585
Pods:
![image](https://user-images.githubusercontent.com/10743879/61441017-0ef0a400-a945-11e9-89ae-72ba804b6a45.png)

Nodes:
![image](https://user-images.githubusercontent.com/10743879/61441049-1b74fc80-a945-11e9-849c-fc6c4a2ce8b7.png)

Secrets:
![image](https://user-images.githubusercontent.com/10743879/61441102-30ea2680-a945-11e9-893f-d5cb22c8bd9c.png)

All coming from 5k-node tests.
So we basic

[2019-07-18 08:21] wojtek-t commented on #75731
@tedyu - if you would like to help with it, it would be great

[2019-07-18 08:23] lucaim commented on #72393
@humblec We are running ```ceph version 12.2.8 (6f01265ca03a6b9d7f3b7f759d8894bb9dbb6840) luminous (stable)```

[2019-07-18 08:26] wojtek-t opened #80289 "Migrate all uses of leader-election to use Lease API"
Currently, Kubernetes components (scheduler, kcm, ...) are using leader election that is based on either Endpoints or ConfigMap objects.
Given that both of these are watched by different components, this is generating a lot of unnecessary load.

We should migrate all leader-election to use Lease API (that was designed exactly for this case).

The tricky part is that in order to do that safely, I t

[2019-07-18 08:26] wojtek-t commented on #80289
@tedyu - if you would like to help with that, it would be great

[2019-07-18 08:27] wojtek-t commented on #80289
This is basically a spin-off from https://github.com/kubernetes/kubernetes/issues/14733 that we never did.

[2019-07-18 08:33] krzysied commented on #79277
IMHO the best way is to remove the race condition and check if it fixes the problem. IIRC the controller has many workers and two of the them can handle requests for the some rc. We could use the same logic as in [taint manager](https://github.com/kubernetes/kubernetes/blob/5de41340ce3917ab948573f6358b10512a0333ce/pkg/controller/nodelifecycle/scheduler/taint_manager.go#L191) so we ensure that all

[2019-07-18 08:45] mm4tt commented on #80242
The yesterday's run succeeded, but I still think it will be wort to have https://github.com/kubernetes/test-infra/pull/13487. Without it, we're blind in debugging such failures. Especially if this is flake and will fail again.

[2019-07-18 08:47] krzysied commented on #80219
This issue has been partially fixed on clusterloader side - https://github.com/kubernetes/perf-tests/pull/649. We can now observer proper values o the [perfdash plot](http://perf-dash.k8s.io/#/?jobname=gce-100Nodes&metriccategoryname=E2E&metricname=DensityPodStartup&Metric=create_to_schedule).

[2019-07-18 08:54] mm4tt commented on #80212
Unfortunately, the node-exporter turned out to be a red herring. Some graphs showing that

1. Node-exporter was disabled
![dmEC2PwJa6f](https://user-images.githubusercontent.com/2604887/61443472-dd2e0c00-a949-11e9-8829-328d50d61c7c.png)

2. Apiserver pod/binding post latency is still up
![KoWp3ykNZA1](https://user-images.githubusercontent.com/2604887/61443546-ffc02500-a949-11e9-93b1-7dc2018ef646.p

[2019-07-18 09:19] PauloASilva commented on #79779
Hi @liggitt,
I was not expecting kubelets to ping the API more often than usual. What we saw
during our research was exactly what you've said: they do it concurrently.

With concurrent updates the key itself (`/registry/minions/k8s-master`) gets
updated more often (~10 times per minute?). On each update, some properties
change, such as `address`, `bootID`, `machineID`, and `systemUUID` (see
[regis

[2019-07-18 09:40] cwdsuzhou commented on #79780
@jsafrane thanks for your advice, I would try to found a better approach

[2019-07-18 09:55] hex108 opened #80291 "Import cycle when adding plugins in scheduler NewRegistry"
**What happened**:

When I add new plugins in [`framwork.NewRegistry`](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/v1alpha1/registry.go#L57), there is an import cycle when compiling.

Suppose that we add the example plugin: `prebind` as following:

[code]
Then the file `pkg/scheduler/framework/v1alhpa1`(whose package is `k8s.io/kubernetes/pkg/scheduler/framework/v1

[2019-07-18 10:09] mm4tt commented on #80209
I'll run the tests with etcd3.2 to see if this is something that has been introduced in etcd 3.3. Will post an update here when I have the results.

[2019-07-18 10:13] bingoku commented on #62421
+1  Humans need too much

[2019-07-18 10:31] goudai commented on #76531
Using native.cgroupdriver=cgroupfs instead of systemd you will eliminate this error, I am sure.
/etc/docker/daemon.json
[code]
kubelet
[code]

[2019-07-18 11:11] DanHam commented on #76531
@goudai You're right. However, it is now recommended to use `systemd` rather than `cgroupfs` as the cgroup driver - see [HERE](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-drivers)

[2019-07-18 11:11] vguaglione commented on #78684
Thanks.  Is the v2.5.1 tag available?  If not, I imagine the latest is backward compatible with v2.5.1, yes?

[2019-07-18 11:30] monotek commented on #78684
https://quay.io/repository/fluentd_elasticsearch/fluentd?tab=tags

[2019-07-18 11:33] phidlipus opened #80295 "Can't create a secret when resourceNames definition is used in role"
**What happened**:
I created restricted service account, which can create, get and delete one particular secret in its namespace. Get and delete worked, but create didn't work.
role definition:
[code]
create secret:
[code]
When I removed `resourceNames` definition from role, I successfully created the secret.

**What you expected to happen**:
Secret created by service account with rights only for

[2019-07-18 11:36] phidlipus commented on #80295
@kubernetes/sig-auth-bugs

[2019-07-18 11:43] vguaglione commented on #78684
Thanks so much for the help.  I take it there are no substantial changes between 2.5.2 and 2.6?

[2019-07-18 11:44] oxddr commented on #79711
This is currently blocked by investigation by @mborsz on a packet drop we observe in large tests. As mentioned earlier in this issue, we suspect this may be causing long latency observed on the client side.

[2019-07-18 12:10] monotek commented on #78684
you cna check the changes in the pr: https://github.com/kubernetes/kubernetes/pull/79014/files

[2019-07-18 12:11] tedyu commented on #80203
Thanks for the feedback.
I modified the priority assignment after posting the previous comment.

I restored it to the first form.

I will keep what you said in mind.

[2019-07-18 12:16] vguaglione commented on #78684
Sounds good.  Thanks so much for the help, everyone!

[2019-07-18 12:25] BSWANG opened #80297 "Kube-proxy failed refresh Iptables/IPVS rule when Loadbalancer Service use ipv6 address"
**What happened**:
`Kube-proxy` failed refreash Iptables/IPVS rules when Loadbalancer Service use ipv6 address. Cause all newer services can not be access. `kube-proxy` logs:
[code]

**What you expected to happen**:
`Kube-proxy` **do not** config `Loadbalancer` address on node `iptables/ipvs`, related to #66607. Or `Kube-proxy` detect the ip version and config v6 address to `ip6tables/ipvs`.

**Ho

[2019-07-18 12:26] AnjanaAK opened #80298 "Kubernetes service sockets get disconnected if there is no traffic for a period of time"
**What happened**:

In my multi-node k8s cluster, The application's services successfully serve the requests until the 15th minute of a successful transaction.
If there are no transactions for 15 minutes, the services sockets get disconnected. And the requests return errors like :
[code]

But the error doesn't persist.  On the 5th try, the request is successful.
This pattern repeats for each reque

[2019-07-18 12:42] wangxiaoq opened #80299 "[Controller Manager][StatefulSet Controller] Missing update the replicas of Statefulset"
**What happened**:

I am reviewing the code of the StatefulSet Controller, and find a strange code snippet at:

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/statefulset/stateful_set_control.go#L485

and

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/statefulset/stateful_set_control.go#L488

After the

[code]

or

[code]

Should we have the
[code]

like

[2019-07-18 12:45] wangxiaoq commented on #80299
/sig scheduling

[2019-07-18 12:49] hex108 opened #80304 "Add default queue sort plugins for scheduler framework"
**What would you like to be added**:

Convert [`activeQComp`](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/internal/queue/scheduling_queue.go#L154) to default queue sort plugin for the QueueSort plugin extension point of the new scheduler framework.

**Why is this needed**:

Most of scheduler plugins has been added in the new framework. We could add default plugin set for the

[2019-07-18 12:52] hex108 commented on #80304
I have a in hand PR for it now, blocked by issue https://github.com/kubernetes/kubernetes/issues/80291, I will send the PR for it after the issue is resolved.

/assign

[2019-07-18 13:05] vivek-jain-mt commented on #66622
Hi @raphaeljoie,  were you able to identify the issue? I also have been facing the same issue with delays in multiples of 5.

[2019-07-18 13:08] chrisohaver commented on #80243
@BenTheElder, I don't believe the `dig` search behavior is documented anywhere in relation to Kubernetes.  We could make a mention of it in the [DNS troubleshooting docs](https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/).  Those docs direct the user to use busybox/nslookup as a client, which has its own caveats.  busybox versions > 1.2.8 always ignore the search path,

[2019-07-18 13:13] cwdsuzhou commented on #80204
someone has fixed it

[2019-07-18 13:14] cwdsuzhou commented on #80201
Seems someone has fixed it

[2019-07-18 13:19] vivek-jain-mt commented on #41078
Can anyone advise how to disable ipv6? I am also facing extreme slowness randomly.

[2019-07-18 13:45] krzysied commented on #80219
I closed #80222.
There is nothing more to be done regarding current issue.

[2019-07-18 13:45] #80219 closed

[2019-07-18 13:51] brancz commented on #49746
/remove-lifecycle stale

[2019-07-18 13:58] Myslik commented on #75981
/remove-lifecycle stale

[2019-07-18 13:59] Myslik commented on #75981
Can I somehow help with this?

[2019-07-18 14:08] #80172 closed

[2019-07-18 14:09] #80201 closed

[2019-07-18 14:21] mattjmcnaughton commented on #79389
Thanks for initiating this convo and helping move it along at sig-node @icelynjennings  :)

[2019-07-18 14:25] draveness commented on #80299
/remove-sig scheduling
/sig apps

[2019-07-18 14:35] tedyu commented on #75731
Line 1289 in store.go :
[code]
I think the code has moved since the comment was first made.
I clicked on the code link but it took a long time (without going there).

[2019-07-18 14:42] adelina-t commented on #80265
@yujuhong Hmm, there doesn't seem to be a redis port for windows > 3.2.100 : https://github.com/microsoftarchive/redis/releases

I guess we can modify the test to find "ready to accept connections" rather that "Ready ... ".

[2019-07-18 14:42] adelina-t commented on #80265
/cc @bclau

[2019-07-18 14:49] zhaofengcumt opened #80308 "kubectl cp Permission denied"
kubectl version:v1.12.4
when i cp a directory in the loclhost to a remote pod it says:
[code]
i am the root user in the local host and iotapp user in the pod

[2019-07-18 15:03] Dev0Null opened #80309 "Pods stuck in "Terminating" state indefinitely if the sole node in a single-node cluster goes down."
**What happened**:
Using a `kubeadm`-based local cluster, I've setup some simple "hello world" type applications as pods, deployments, etc. There is a single node on which these applications can run (master has not been configured to allow pods to run on it).

If the node is suddenly removed from the cluster (i.e. power is disconnected), `kubectl` will report the pods as being in a "Terminating" s

[2019-07-18 15:11] cadeniyi commented on #65153
Yes, I shall try and restart the discussion.

--
Chris Adeniyi-Jones
Principal Research Engineer
Phone: +441223400472
Chris.Adeniyi-Jones@arm.com<mailto:Chris.Adeniyi-Jones@arm.com>

From: kfox1111 <notifications@github.com>
Reply-To: kubernetes/kubernetes <reply@reply.github.com>
Date: Tuesday, 16 July 2019 at 17:41
To: kubernetes/kubernetes <kubernetes@noreply.github.com>
Cc: Chris Adeniyi-Jones

[2019-07-18 15:13] ahg-g commented on #80227
Bind plugin is flaky: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80305/pull-kubernetes-integration/1151863322098798593/

[2019-07-18 15:15] ahg-g opened #80310 "Scheduler's bind extension point is flaky"
**What happened**:
Bind extension point in the scheduler framework is flaky

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80305/pull-kubernetes-integration/1151863322098798593/

/sig scheduling
/kind flake

[2019-07-18 15:21] dcbw opened #80311 "NoRouteCreated NodeNetworkUnavailable condition should be set by a cloud-provider webook, not kubelet"
Instead of the layering violation that is kubelet setting NodeNetworkUnavailable/NoRouteCreated on startup, because this is only required by GCE + Kubenet, instead the GCE cloud provider should include a mutating admission webhook to set NodeNetworkUnavailable/NoRouteCreated on Node object admission.

This moves the responsibility for setting the condition to where it should actually live: in the

[2019-07-18 15:21] dcbw commented on #80311
/sig network

[2019-07-18 15:24] dcbw commented on #80311
Things that touch this:

pkg/controller/cloud/node_controller.go
pkg/controller/route/route_controller.go
pkg/kubelet/kubelet_node_status.go

The only big problem is kubelet setting the node condition on startup when the cloud provider is GCE. Only Kubenet needs this condition; other network plugins used on GCE (including OpenShift's default) do not need the condition as they do not use the cloud

[2019-07-18 15:34] #62778 closed

[2019-07-18 15:35] draveness commented on #80310
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80104/pull-kubernetes-integration/1151858154917597187

The last test case in `TestBindPlugin` cause the two flakes:

[code]

[2019-07-18 15:39] uablrek commented on #80297
Note that adding the LB-ip to iptables/ipvs (for ipv4 in ipv4-only and ipv6 in ipv6-only clusters) is necessary except where an external load-balancer that performs LB to nodeport is used. This includes, but is not limited to, all `metallb` users.

I propose an `--ignore-type-loadbalancer` flag to `kube-proxy`.

This would only be used in clouds with an external LB that uses nodeport as targets. W

[2019-07-18 15:40] draveness commented on #80310
/assign

[2019-07-18 15:45] liggitt commented on #80309
cc @smarterclayton for pod safety

[2019-07-18 15:47] neolit123 opened #80312 "the OWNERS file for /volume/portworx contains invalid format"
the OWNERS file for portworx volume contains a list of "maintainers" with a single person that is not a member of the k8s org.

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/portworx/OWNERS

in any case the OWNERS file should use a list of approvers and reviewers, see:
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/flexvolume/OWNERS

options:
- promote the user t

[2019-07-18 15:48] liggitt commented on #80295
This is working as designed. Authorization is based on the request path, not the content of the request body. That means resourceNames is not usable with the create verb. See  https://kubernetes.io/docs/reference/access-authn-authz/rbac/

/close

[2019-07-18 15:48] #80295 closed

[2019-07-18 15:52] kiuby opened #80313 "Invalid cache behavior using the Mutating Admission controller"
**What happened**:

I was doing some tests regarding mutating webhook (especially for istio), and i found a strange behavior.

Stopping a worker instance with a pod of the webhook running on it seems to break the admission controller for this webhook during approximatively 15 minutes.

After some debugging, the admission controller seems to cache the pod ip associated with this webhook service.

k

[2019-07-18 15:56] msau42 commented on #80312
@lpabon can you help to address the inconsistencies

[2019-07-18 15:56] kiuby commented on #80313
@kubernetes/sig-api-machinery-bug

[2019-07-18 16:10] neolit123 commented on #75604
/lifecycle frozen

[2019-07-18 16:21] tallclair commented on #80283
Do not report security issues through github. In the future, please follow the process described here: https://kubernetes.io/docs/reference/issues-security/security/

[2019-07-18 16:31] kiuby commented on #80313
@kubernetes/sig-api-machinery-bugs

[2019-07-18 16:34] MrD2 opened #80316 "Error when using go get with go modules"
**What happened**:
go get k8s.io/kubernetes/pkg/apis/core/v1 errors with

[...]
go: k8s.io/kube-aggregator@v0.0.0: unknown revision v0.0.0
go: error loading module requirements

**What you expected to happen**:
Correct installation of all indirect dependencies? Error does not specify problem

**How to reproduce it (as minimally and precisely as possible)**:
go mod init dns-tools
go get k8s.io/kube

[2019-07-18 16:53] MrD2 commented on #80316
/sig api-machinery
@kubernetes/sig-api-machinery-bugs

[2019-07-18 16:56] alanjds commented on #58614
Use case: I am installing a new API component. How to know the etcd endpoint to pass to the installer?

[2019-07-18 17:14] gnufied commented on #71470
This should be fixed now..

/close

[2019-07-18 17:14] #71470 closed

[2019-07-18 17:15] gnufied commented on #73036
/reopen
/remove-lifecycle-rotten
/lifecycle frozen

[2019-07-18 17:16] neolit123 commented on #80184
/close
should be resolved at this point.

[2019-07-18 17:16] #80184 closed

[2019-07-18 17:38] Pothulapati commented on #80092
CAdvisor is switched to `k8s.io/utils/inotify` https://github.com/google/cadvisor/pull/2269

Next, should be switching k/k. :)

[2019-07-18 17:56] OMamurphy commented on #79523
+1

[2019-07-18 18:00] michael-c-jones commented on #79523
+1

On Thu, Jul 18, 2019 at 12:58 Adam Murphy <notifications@github.com> wrote:

--
--
Michael Jones
michael@autoscaled.net

[2019-07-18 18:02] rgarcia89 commented on #71557
I would be also curious to hear how you resolved the issue as I am seeing the same in my 3 master mode cluster right now.
@linanster

[2019-07-18 18:07] jingyih commented on #80209
Correction, the "write ahead buffer" was added since etcd3.2.

https://github.com/etcd-io/etcd/pull/7105

[2019-07-18 18:12] jingyih commented on #80209
We will benchmark etcd with very frequent reads and writes on single or few keys.

[2019-07-18 18:15] shyamjvs commented on #80289
@wojtek-t Do you think this is something we can add to sig-scalability "good first issues"?

[2019-07-18 18:17] klamontagne-om commented on #79523
+1

[2019-07-18 18:18] wojtek-t commented on #80289
Added help-wanted - not sure it's really a good "first contribution" issue. Will tag couple more.

[2019-07-18 18:23] wojtek-t commented on #60097
I don't think we observed anything like that any time in the last couple months. Closing.

[2019-07-18 18:23] #60097 closed

[2019-07-18 18:30] jpbetz commented on #80209
The write ahead buffer is just a guess, so might not be worth spending lots of time trying to baseline from an etcd without it yet. I'd say focus on getting pprof output if possible, and trying to reproduce in a benchmark (which our team will do) are the best next steps.

[2019-07-18 18:32] WandersonAlves commented on #72811
+1

This Is a critical issue, and kubernetes are used by everyone, so...how people deal with this?

[2019-07-18 18:33] alculquicondor opened #80322 "[Scheduler] Query nodes only when there are no predicates"
In `genericScheduler.Schedule`:
https://github.com/kubernetes/kubernetes/blob/8d4c49faae61d0075ba740cae3f9f603528fb7bf/pkg/scheduler/core/generic_scheduler.go#L198

It seems that nodes are only used in the case there are no predicates. This call can be moved inside `findNodestThatFit`. Moving it there saves us from creating the node slice unless it is necessary.

Checking if there are no nodes (li

[2019-07-18 18:33] alculquicondor commented on #80322
I can work on this

[2019-07-18 18:53] nvtkaszpir commented on #60295
you can create configmap and then patch it:

[code]

[2019-07-18 19:00] tle-totalwine opened #80323 "Error when deploy nifi on K8s"
E 2019-07-18T18:54:48.222235840Z chmod: cannot access '/tmp/configure_statefulset.sh': No such file or directory

E 2019-07-18T18:54:48.222412340Z /bin/sh: 1: /tmp/configure_statefulset.sh: not found

E 2019-07-18T18:54:48.246670693Z E: Could not open lock file /var/lib/dpkg/lock - open (13: Permission denied)

E 2019-07-18T18:54:48.246708973Z E: Unable to lock the administration directory (/var/l

[2019-07-18 20:08] #72949 closed

[2019-07-18 20:12] roycaihw commented on #80244
cc @jpbetz @wenjiaswe @jingyih

[2019-07-18 20:16] roycaihw commented on #80313
/assign

[2019-07-18 20:17] roycaihw commented on #80316
cc @dims @liggitt

[2019-07-18 20:52] fabianvf commented on #54498
/remove-lifecycle rotten

[2019-07-18 21:17] liggitt commented on #80316
k8s.io/kubernetes is not intended to be used with go get

the published k8s.io/api repos can be used that way

If you want to depend on k8s.io/kubernetes with go modules, you would need to define require directives for matching levels of all of the published staging repositories in your go.mod file

/close

[2019-07-18 21:17] #80316 closed

[2019-07-18 21:21] MikeSpreitzer commented on #76846
We need some maintenance of the checklist here.

I updated the spreadsheet in four ways.  I added the completed task of defining the API object types, and the in-progress task of the registry strategy &etc for the config API objects.  I added a task for making the handler chain constructors invoke the new filter.  I added a task for agreeing on how the filter reacts to config changes.

[2019-07-18 21:23] freehan commented on #47711
May be fixed by this? https://github.com/kubernetes/kubernetes/pull/80273

[2019-07-18 21:37] PaulFurtado commented on #67577
@chiluk any update on that patch? No worries if not, I'm just making sure I didn't miss the patch going by

[2019-07-18 21:44] azalio commented on #69699
/remove-lifecycle stale

[2019-07-18 22:06] aaron-prindle commented on #76846
I've synced updated the checklist, syncing with all of the work completed so far and adding the changes mentioned.  Additionally synced some info back into the doc that was in the checklist.  Let me know if anything is missing, I believe both are in sync now.  Thanks.

[2019-07-18 23:10] misterikkit commented on #75738
@saad-ali Based on my read of the logs, it seems as though k8s assumes the VMDK is detached *because* the node is not found.
[code]

To me this suggests that the node or VM became unavailable before we attempted to detach the disk, and it remained attached. @divyenpatel I would expect little to no downtime for vMotion - is it possible that the Node object was deleted and recreated during the migra

[2019-07-18 23:39] davidz627 commented on #72139
I agree with @ddebroy that we probably shouldn't conflate this effort with CSI Migration. There may be the possibility for some code reuse or some common helper functions but I don't think this should take resources or be tracked under the CSI Migration effort. Right now the translation library does not handle the PV labels individually, you get the full PV translated (including PV labels if the s

[2019-07-18 23:42] jflatow opened #80330 "PodTemplateSpec metadata behaves differently within CronJob vs Deployment"
**What happened**:

According to the docs, these are both PodTemplateSpec (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#podtemplatespec-v1-core), however in one case it seems that the metadata applies to the Pod (Deployment) and the other to the Pod template (CronJob). The former seems more useful, but they shouldn't be different I think.

[code]

[code]

**What you expecte

[2019-07-18 23:47] jflatow commented on #80330
@kubernetes/sig-api-machinery-bugs
/sig sig-api-machinery

[2019-07-18 23:57] saad-ali opened #80332 "Backwards incompatible stricter validation added for `quobyte.Tenant`"
**What happened**:

* In Kubernetes v1.14 new API validation was added requiring an exiting field (`quobyte.Tenant`) to be populated.
* This breaks existing Kubernetes v1.13 API objects on upgrade, and violates Kubernetes Deprecation Policy.
* It was introduced in https://github.com/kubernetes/kubernetes/pull/68925/files#diff-81c0c668d90c62bb5b7a2334c09c7e50R877

**What you expected to happen**:

[2019-07-18 23:58] saad-ali commented on #80332
/milestone v1.16

[2019-07-18 23:58] davidz627 opened #80333 "Storage tests of form "multiVolume [Slow] should access to two volumes ... on different node" tests periodically skip"
Tests of the form  `should access to two volumes ... on different node` periodically skip in all jobs. Some examples include:
[code]

I think it has to do with some non-determinism in how the pods are scheduled in the test and then the test just gets skipped.

I think this line is getting triggered every couple of runs to skip the test:
https://github.com/kubernetes/kubernetes/blob/477304cdbdafed5

[2019-07-19 00:00] davidz627 commented on #80333
Since its hard to link to a specific case for testgrid, here's an example of what it looks like (white boxes indicate the test was skipped that run):

![skippy](https://user-images.githubusercontent.com/5459214/61499861-90fcbf00-a97d-11e9-8680-445cd6730b8d.png)

[2019-07-19 00:12] #74223 closed

[2019-07-19 00:30] msau42 commented on #79719
@kubernetes/sig-storage-bugs

[2019-07-19 00:36] draveness opened #80334 "Remove deprecated ExternalID from NodeSpec"
Remove deprecated ExternalID from NodeSpec since it should be removed in 1.13

	// see: https://issues.k8s.io/61966
	// +optional

ref: 61966

/sig node
/kind cleanup
/assign

[2019-07-19 00:36] draveness commented on #80334
/remove-kind bu

[2019-07-19 01:11] hex108 opened #80335 "[Flaky test] test/integration/garbagecollector"
**Which jobs are failing**:

pull-kubernetes-integration

**Which test(s) are failing**:

k8s.io/kubernetes/test/integration/garbagecollector

**Since when has it been failing**:

Found it today.

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80305/pull-kubernetes-integration/1151998317626920961/

**Reason for failure**:

message:Error from server (NotFound): pod

[2019-07-19 01:14] ddebroy commented on #72139
@msau42 I was thinking of the effect of downgrades from the perspective of persisting actual changes to the PV API objects but thinking more, it should not be an issue since no one is going to downgrade down to an old enough version of k8s when the predicates to consider NodeAffinity was not enabled by default. So please ignore that concern about downgrade.

[2019-07-19 01:19] ddebroy commented on #72139
I was thinking of `CheckNodeAffinity` calling a generic `TranslatePVLabelsToNodeAffinity` which can follow a pattern similar to CSI translation: look at the PV source and dispatch to a registered translation function (from the appropriate provider) that declares supports for the given PV source.

[2019-07-19 01:25] roycaihw commented on #80313
We suspect it's related to https://github.com/kubernetes/client-go/issues/374. The assumption is the HTTP2 client was unable to detect the connection being closed, and hung until TCP timed-out. I will try getting a local reproduce

[2019-07-19 01:44] msau42 commented on #72139
I was not proposing adding a translate labels-only method.   Using the same existing translation methods, I want to take a given in-tree PV and translate it to a CSI PV.  And the CSI PV should have PV.NodeAffinity filled in with the appropriate CSI topology labels.  This all happens in-memory in the scheduler predicate. Nothing gets persisted to the API object.

[2019-07-19 01:54] ahg-g opened #80336 "Add a pre-score extension point to the scheduling framework"
**Why is this needed**:
Cases, like even pod spreading, will need to pre-compute some data across all nodes, not just the ones that passed the filter phase.

/assign
/sig scheduling

[2019-07-19 01:54] msau42 commented on #80333
@kubernetes/sig-storage-test-failures
/assign @jsafrane

I don't like the way the fix in https://github.com/kubernetes/kubernetes/pull/78697 was done.  Tests should be using hard anti-affinity instead of preference otherwise you get flaky behavior like this.  We should have a per-driver method in the beginning of the test to check number of nodes in each driver's topology and skip if it doesn't me

[2019-07-19 02:04] msau42 commented on #69699
/assign @jingxu97

[2019-07-19 02:10] leiyazhen commented on #80278
is there anybody?
Jul 19 09:26:07 bd02 kubelet: I0719 09:26:07.166789   14688 docker_server.go:59] Start dockershim grpc server
Jul 19 09:26:07 bd02 kubelet: F0719 09:26:07.167012   14688 docker_service.go:412] Streaming server stopped unexpectedly: listen tcp [::1]:0: bind: cannot assign requested address
Jul 19 09:26:07 bd02 systemd: kubelet.service failed

the code is :
[code]
error in :
[code]

[2019-07-19 02:20] ricky1993 commented on #80289
I can help to do with it. @wojtek-t

[2019-07-19 02:21] kenwoodjw commented on #66844
Same issue on v1.15

[2019-07-19 02:31] chenchun commented on #80227
I think the racy comes from calling recordSchedulingFailure in case of bind failure before running unreserve plugin. The test is not flaky and it proves we should move recordSchedulingFailure after calling unreserve plugin just like what it does in https://github.com/kubernetes/kubernetes/pull/79639.
If we don't do that, a plugin which is registered as reserve + bind + unreserve plugin will have a

[2019-07-19 02:31] khteh opened #80338 "volumeMounts.mountPath doesn't work with secret items"
**What happened**:
I have the following in my statefulset yaml:
[code]
**What you expected to happen**:
I expect the secret is mounted on /app/appsettings.secret.json but it isn't. I don't know where it is mounted and the container crashes and I don't have a chance to `kubectl exec` into the container to inspect where the secret is mounted.
**How to reproduce it (as minimally and precisely as poss

[2019-07-19 02:45] dims opened #80339 "Get rid of staging/ (?)"
staging/ is counter to how go modules work. Are there alternatives to what we do today? How about

- git submodules?
- Just move repos out fully and vendor them back in?

What else?

[2019-07-19 02:45] dims commented on #80339
/area code-organization
/sig architecture

[2019-07-19 02:46] dims commented on #80339
cc @ibuildthecloud @BenTheElder

[2019-07-19 02:58] Avy4140 opened #80340 "error: yaml: line 2: mapping values are not allowed in this context"
Asarma-M15MBP:~ asarma$   curl -LO https://k8s.io/examples/application/wordpress/mysql-deployment.yaml
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   185  100   185    0     0    671      0 --:--:-- --:--:-- --:--:--   672
100  1238  100  1238    0     0   2009      0 --:--:-- --:--

[2019-07-19 02:59] hex108 commented on #80336
According to the design in [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md), it seems that pre-score could be done in [pos-filter](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#post-filter).

[2019-07-19 03:24] ibuildthecloud commented on #80339
Fundamentally I don't think there is anything wrong with the idea of "submodules" in one git repo.  The conflict is that staging exists in one location and then is expected to be consumed externally from another location (a different git repo).  It's the dual location that messes everything up.  The staging approach has consistently complicated interaction with k8s code externally.

It would be fa

[2019-07-19 03:46] mitar commented on #50309
/reopen
/remove-lifecycle rotten

[2019-07-19 03:46] Moriadry commented on #79913
I would like to help with it:)

[2019-07-19 03:48] mitar commented on #50309
I would like to access `status.containerStatuses[0].imageID` but it seems this is not possible.

[2019-07-19 03:50] mitar opened #80346 "Allow exposing status.containerStatuses[0].imageID through Downward API"
**What would you like to be added**:

It would be great if `status.containerStatuses[0].imageID` and `status.containerStatuses[0].image` could be exposed through Downward API and passed as an environment variable. That would allow the container to obtain information about which exactly digest of the image it is running, which can then be useful for any logging from that container.

**Why is this n

[2019-07-19 03:50] mitar commented on #50309
I opened https://github.com/kubernetes/kubernetes/issues/80346 for imageID.

[2019-07-19 03:51] mitar commented on #80346
/sig node

[2019-07-19 03:56] BenTheElder commented on #80339
staging/ -> cc @sttts @liggitt @nikhita

I'm not going to argue for or against staging in this comment, but I think a few points should be clarified....

----

To clarify which "k8s code" are you talking about? The staging libraries / client-go, or packages in this repo that are not in staging?

AFAIK the reason for staging was not so much seperate module lifecycle as being able to import those th

[2019-07-19 04:00] BenTheElder commented on #80339
Additionally, a dozen or so packages that are actually decoupled are in another repo without the staging mechanism today at [k8s.io/utils](https://github.com/kubernetes/utils)  (see also: [k8s.io/klog](https://github.com/kubernetes/klog), [sigs.k8s.io/yaml](https://github.com/kubernetes-sigs/yaml)).

[2019-07-19 04:05] draveness commented on #79913
#77155 has not been merged, please feel free to send PR after it gets merged.

[2019-07-19 04:09] tedyu commented on #80332
Does this mean that the following validation should be dropped ?
[code]

[2019-07-19 04:16] #73561 closed

[2019-07-19 04:16] goudai commented on #76531
@DanHam I know, but I follow the official advice and the results are not satisfactory.

[2019-07-19 04:26] yue9944882 commented on #80313
consider set `GODEBUG=http2debug=2` or `GODEBUG=http2debug=1` at your apiserver runtime to see if it's http2 client stucking?

[2019-07-19 04:26] smarterclayton commented on #80339
Staging primarily exists as a way to efficiently refactor and evolve the internal codebase of kubernetes as a unit in the monorepo while still enabling external publishing of useful libraries for the ecosystem.  Making it easy to vendor and fork k/k components has never been a primary goal, although plenty of people have worked to keep it possible for downstreams to patch / alter code.  We have op

[2019-07-19 04:29] yue9944882 commented on #80330
/sig apps

[2019-07-19 05:02] drew-512 commented on #63858
Really?  There's an absolute universe more information in 1GB  that 4MB,, just as it made sense to not make the limit 4096.  Although the above is true, can we agree there is huge difference, in human terms, between 4MB and say 1GB.

Pretty please change the limit to a round 1GB or something that is configurable at run-time by the service publisher or as a connection option.   Maybe an option flag

[2019-07-19 05:12] yue9944882 commented on #80269
/remove-sig api-machinery
/sig auth cli

[2019-07-19 05:17] #74163 closed

[2019-07-19 05:22] ShuYingya commented on #75439
/remove-lifecycle

[2019-07-19 06:02] draveness commented on #80336
The post-filter extension point is currently blocked by the filter extension point, I'll continue to work on that after filter get merged into the codebase.

[2019-07-19 06:12] nihongi opened #80348 "Deployment continues creating and evicting pods"
I have accidentally set requests and limits for ephemeral-storage 0Mi in a deployment spec, then it continues creating and evicting pods and it ends up with 12,512 evicted pods. It may become a DOS vulnerability. Why doesn't the pod's status become failed?  If it becomes failed, it's easy to understand and helpful preventing 12,512 useles pods.
Using k8s v1.11.

/sig usability

[2019-07-19 06:19] nihongi commented on #80348
@kubernetes/sig-usability-bugs

[2019-07-19 06:22] nihongi commented on #80348
/sig usability

[2019-07-19 06:24] wojtek-t commented on #80289
@ricky1993 - great! Please ping my on slack (wojtekt) if you have any questions about this.

[2019-07-19 06:44] Moriadry commented on #79913
Okay.

[2019-07-19 06:49] cameronattard commented on #72511
Please reopen.

[2019-07-19 06:55] librannk opened #80349 "elastic"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-07-19 06:57] librannk commented on #80133
thanks for adding .....@monotek

[2019-07-19 07:19] withlin commented on #76531
Same problem here with CentOS 7 + Kubernetes v1.14.3.

[2019-07-19 07:25] alenkacz commented on #80264
/assign

[2019-07-19 07:27] krzysied commented on #79277
I created #80319 for the testing purpose. Let's see if it will reduce the number of 409 calls.

[2019-07-19 07:34] betterphp commented on #66622
/reopen
/remove-lifecycle rotten

[2019-07-19 07:34] betterphp commented on #66622
:(

[2019-07-19 07:51] gatici commented on #6513
Dear  all,
I am  making  a  big installation with  helm charts  and  my installation is  failing everytime with  below error. I am  using  rke  cluster. Is  it  possible to increase  the   timeout   time of watch ?
How can  I do  it ?

Thanks,

- chart: so-4.0.0
  description: 'Release "dev-so" failed post-install: watch closed before UntilWithoutRetry
    timeout'
  revision: 1
  status: FAILED

[2019-07-19 08:05] ricky1993 commented on #80289
/assign

[2019-07-19 08:10] luthienberen commented on #79926
Will someone answer to this or there will be no help and i should close an issue?

[2019-07-19 08:17] bertinatto opened #80352 "MaxCSIVolumeCountPred allows only 16 unbound PVCs"
**What happened**:

The [MaxCSIVolumeCountPred predicate](https://github.com/bertinatto/kubernetes/blob/b5dfcf357a358ae48591ed7fda39ff72791f7fbe/pkg/scheduler/algorithm/predicates/predicates.go#L100), now deprecated in favor of the new CSI predicate, is used as a base for EBS, GCEPD, Azure and Cinder predicates.

Recently it was [found out](https://github.com/kubernetes/kubernetes/pull/80247#issue

[2019-07-19 08:18] bertinatto commented on #80352
/assign

I can take a look at it.

[2019-07-19 08:20] #73242 closed

[2019-07-19 08:22] jsafrane commented on #78940
@kubernetes/release-engineering ping again?

Short recap:

* This works:
[code]
    `cluster/gce/ubuntu/node-helper.sh` is there. (`cluster/gce/ubuntu` is symlink to `cluster/gce/gci`)

* This does not work:
    https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml#L107

    Fails with: `./hack/e2e-internal/../../cluster/../cluster/gce/

[2019-07-19 08:35] mm4tt commented on #80209
I've run an isolated test comparing etcd3.3 with etcd3.1. It looks like the etcd3.1 is slightly better but the issue still occurs there (gets longer than puts)

Below graphs for the two runs:

**etcd 3.3.10**
![89EyP2WzNU5](https://user-images.githubusercontent.com/2604887/61521541-b686d880-aa10-11e9-994b-e7447f53ab06.png)

**etcd 3.1.12**
![XiV5ViL4KaS](https://user-images.githubusercontent.com/2

[2019-07-19 08:43] wilmardo commented on #80243
Looked into this a bit further. Recreated the kind cluster with the same config as above:

[code]

Edited the CoreDNS configmap so it prints the logs and deployed a test pod:

[code]

Dropped to the shell and the busybox version is indeed > 1.2.8
[code]

So I used nslookup and look up the full path but the behavior is inconsistent:

[code]

CoreDNS log

[code]

Then I set the replicas to 1 in the

[2019-07-19 08:46] gatici commented on #31345
Hi  @wojtek-t

My big  deployment  with helm is  failing with  below error. I am starting the  helm  installation with
--timeout  5000  parameter.  Is there any  solution to  increase  watch   timeout  in kube-api ?

helm history   dev-so   -o  yaml
- chart: so-4.0.0
  description: 'Release "dev-so" failed post-install: watch closed before UntilWithoutRetry
    timeout'
  revision: 1
  status: FAI

[2019-07-19 08:53] bouk opened #80354 "client-go/testing: Can’t list pods after creating eviction"
The client-go Kubernetes fake client can’t list pods after an eviction is created.

**What happened**:

https://github.com/kubernetes/kubernetes/pull/71599 introduced a regression in the fake clientset, where creating an Eviction causes listing pods to fail with `item[0]: can't assign or convert v1beta1.Eviction into v1.Pod`. This is because the Eviction is stored next to the pods, so listing the

[2019-07-19 08:54] bouk commented on #80354
/sig testing

[2019-07-19 08:59] FedeBev commented on #76304
This is not working for me, and fallback in
[code]

I'm stuck on this problem, I'm back to dep for now.

Does anyone have a solution? I think is a shame a project like this doesn't use a well supported versioning

[2019-07-19 09:02] jsafrane commented on #74810
Fixed by #76151
/close

[2019-07-19 09:02] #74810 closed

[2019-07-19 09:06] liqlin2015 opened #80355 "Pod stay in ContainerCreating forever if failed to create sandbox"
**What happened**:

Kubelet failed to create sandbox for pod because of timeout when connect to docker engine. See the pod even
[code]

Since it's not a permanent env error kubelet should retry to create sanbox. In my case, I just deleted the pod in `ContainterCreating` status and new pod was successfully created.

**What you expected to happen**:

In some error cases kubelet should retry to creat

[2019-07-19 09:06] liqlin2015 commented on #80355
/kind node

[2019-07-19 09:11] jsafrane commented on #80333
/assign @tsmetana

[2019-07-19 09:12] jsafrane commented on #80333
That won't work for CSI.

[2019-07-19 09:12] nikhita commented on #80339
Experimenting in kubernetes/publishing-bot#196 to start respecting semver and figure out how disruptive versioned imports could be.

[2019-07-19 09:13] wojtek-t commented on #80209
@jpbetz - https://github.com/kubernetes/perf-tests/pull/658 is adding support for gathering profiles from etcd to our test framework.
However, to make it functional, it requires enabling "--debug" option in etcd. The problem is that the amount of logs it's producing would significantly affect the performance of the cluster itself, so it won't be really apples-to-apples comparison.
Is there any way

[2019-07-19 09:16] hex108 opened #80357 "Concurrent read/write error for NodeInfoSnapshot between scheduler and plugins"
**What happened**:

In the new scheduler framework, plugins and scheduler core share the same `NodeInfoSnapshot`, both of them use the `NodeInfoSnapshot` returned by [`func (f *framework) NodeInfoSnapshot()`](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/v1alpha1/framework.go#L444).  When scheduler core updates([`UpdateNodeInfoSnapshot`](https://github.com/kubernetes

[2019-07-19 09:18] wojtek-t commented on #80209
@jpbetz - apparently there is "--enable-pprof". And apparently I already enabled it for etcd months ago, so that already works for us.
So we should have profiles from those run tomorrow.

[2019-07-19 09:25] a-shink commented on #73810
@jverce Try to add annotation for NLB type balancer. Modified lb-echo.yml:
`
apiVersion: v1
kind: Service
metadata:
  name: source-ip-app
  labels:
    app: source-ip-app
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TC

[2019-07-19 09:35] nikhita commented on #76304
@FedeBev could you elaborate on the issue/error that you are facing? Running `go mod tidy` on the go.mod file with `require k8s.io/api kubernetes-1.14.1`, etc directives will fallback to using the corresponding to pseudoversion (this is expected).

[2019-07-19 09:42] TsubasaEX commented on #60903
So the question, is it about two nodes can't access a same PV or two pods can't access a same PV with RWO? Or both? Came into the same question.

[2019-07-19 09:55] ks864148379 commented on #80283
reply

[2019-07-19 10:44] humblec commented on #79719
@jparklab Didnt this https://github.com/kubernetes/kubernetes/pull/78222/files solve this issue ?

[2019-07-19 11:30] loqutus commented on #80349
/close

[2019-07-19 11:58] dims commented on #80339
@smarterclayton well said. To be fair, one issue i do have is that we don't have anyone who has graduated from `staging/`. When are we likely to have the first repo move out?

what we have today in staging/ has worked well to isolate components, but the resistance seems to be "oh if we move it out, then it will be hard to get anything done". Is that a fair statement?

[2019-07-19 12:19] egernst commented on #80264
Thanks @alenkacz!

[2019-07-19 12:29] mcluseau commented on #63858
@drew-512 streaming is native in protobuf...

[2019-07-19 12:38] tedyu commented on #80289
I am also interested in contributing.
Since there are multiple components, it would be good to keep discussion on this issue so that more people can get to know how the migration is done.

[2019-07-19 12:39] ksemaev commented on #72891
@mohamadnikan2013 dude pleade advice! I'm hitting the same issue, what do you mean by setting service name in statefulset?

[2019-07-19 12:49] Damien9527 commented on #78421
I met this too .
kube-proxy version : v1.14.3
CentOS Linux release 7.5.1804
4.18.4-1.el7.elrepo.x86_64

when i downgrade the kube-proxy version to v1.12.3.   the  deleted svc  ipvs . rule was cleaned.

[2019-07-19 13:01] DanHam commented on #76531
@goudai I agree that the current behaviour is not satisfactory and it really should be fixed - that after all is why we are all here reporting the issue!!

However, as far as I am aware, the warnings being generated when using systemd as the cgroup driver are harmless (albeit annoying) and can be safely ignored.

I would be hesitant to go against the official advice *just* to avoid having some fai

[2019-07-19 13:17] ksemaev commented on #71775
@llamahunter can you please explain these 2 things:
1) Why pods behind headless services without hyphen, and no hostname and subdomain specified still accessible by name?
2) What to do it I have 2 separate headless services connected to one pod (deploy/statefulset etc)?

[2019-07-19 13:19] smarterclayton commented on #80339
If no one had to vendor k/k (because staging move was completed), then there would be no issue, since everyone would just take from the published.  Each time we get a component into staging more people can vendor that component easily.

[2019-07-19 13:21] lisa commented on #76531
With respect, the additional load generated by these spurious data is not benign. The load causes additional disk I/O, CPU and memory usage. For those using network-attached logging, there is an additional network overhead (and its follow-on resource demands).

While the presence of the data in logs is in isolation benign, the effort to put them there is non-zero, which is especially true for low

[2019-07-19 13:38] feiskyer opened #80365 "Azure LoadBalancer would lose backends when the nodes are upgraded to latest model"
**What happened**:

After fixing https://github.com/kubernetes/kubernetes/issues/71594, Azure cloud provider updates the network configurations per instance, so that the nodes would be rebooted when they are added to ALB. But this introduces a problem, that the latest model of each instance is different now from VMSS.

Refer https://github.com/Azure/aks-engine/issues/1615#issuecomment-513158712:

[2019-07-19 13:43] rphillips opened #80366 "Node Lifecycle Controller Races"
**What happened**:
I have been looking at `pkg/controller/nodelifecycle/node_lifecycle_controller.go` due to a customer issue where pods not getting evicted. The [controller](https://github.com/kubernetes/kubernetes/blob/de967b717d0a31353c2e1e64960773cfdd7a9001/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L358-L391) is designed to spawn a few go routines. In the case of using taints t

[2019-07-19 13:47] yangquanxyz opened #80367 "TypeError: Request path contains unescaped characters"
在kubernetes环境中部署的nodejs项目中发送发送request的get请求时url中携带有中文参数时出现TypeError: Request path contains unescaped characters错误，在其他环境则不会

[2019-07-19 13:51] abdennour commented on #73570
I have the same issue.  I used it with -v=99 as verbose. The response from the master received quickly however, the rendering takes time.

[2019-07-19 14:07] mattjmcnaughton commented on #79926
I'd try also posting your question on Stack Overflow and the kubernetes-dev mailing list :)

[2019-07-19 15:03] msau42 commented on #80333
Can we check topology after driver has been installed?

[2019-07-19 15:04] hamzb commented on #45234
Any updates on this?

[2019-07-19 15:12] mattfarina commented on #80339
A smattering of a few thoughts...

1. What would it take to remove something from staging and instead import it to k/k?
2. There are also git [subtrees](https://git-scm.com/book/en/v1/Git-Tools-Subtree-Merging) as an alternative to submodules.
3. [multi-module repositories](https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories) are a thing. What happens if something in staging

[2019-07-19 15:19] jsafrane commented on #79794
I talked to @sjenning and there seem to be no easy way how to mark the pod as non-runnable. `Failed` is for pods that were running and exited, `ImagePullBackOff` (and similar) are for transient errors.

We agreed that an event would be the most appropriate.

[2019-07-19 15:27] #66170 closed

[2019-07-19 15:27] #71184 closed

[2019-07-19 15:34] krzysied commented on #79277
Based on results from #80319 race condition is not a problem here... I haven't spotted any difference in number of the 409 calls :/

[2019-07-19 15:38] sttts commented on #80339
Three points of view on staging, from different groups of consumers of k/k:

(a) Staging is under control for in-tree work.
(b) Staging is awful for people vendoring k/k (how many are that other than OpenShift, k3s?).
(c) Staging is invisible to people just using our libraries.

(b) is a small group and we should not optimizie primarily for them IMO. Instead, following @smarterclayton 's suggestio

[2019-07-19 15:42] smarterclayton commented on #80309
The use case you describe is working as designed.

It sounds like the bug here is that you didn't know how to manually indicate the node isn't coming back to kubeadm/kubernetes, which is a documentation / usability gap, and potentially the other components of the system (node object) should do a better job of indicating what the next steps are.

If the node isn't coming back, you would delete the

[2019-07-19 15:48] gyuho commented on #72102
Made some progress here https://github.com/etcd-io/etcd/pull/10911.

[2019-07-19 15:48] jsafrane commented on #79794
Fix: https://github.com/kubernetes/kubernetes/pull/80369

Comments from sig-node staff is very welcome there!

[2019-07-19 16:23] jsafrane commented on #80333
For example, OpenShift runs one master (tainted) and one node in each zone for tests. So the test needs to check for taints, topology, attach limits and who knows what else. The test would probably need to replicate all scheduler predicates.

[2019-07-19 16:26] Dev0Null commented on #80309
@smarterclayton Is there a way to configure nodes so that, if they are inaccessible for a specific amount of time, the pod will eventually die automatically (and if the node does come back "too late", we can then just trigger a job to reboot the node to force it into a "vanilla" state)? I'd like to automate the removal and/or rebooting of the node in such a use case, rather than having to manually

[2019-07-19 16:26] konghui commented on #80367
这个应该是你请求url的时候没有做url的编码，发送请求的时候如果出现中文需要做编码的，不可以直接发送的，这类问题你可以直接到stackoverflow看下，和k8s没有关系的。这里发问题最好用英文吧。

[2019-07-19 16:31] lavalamp commented on #80339
@ibuildthecloud  This is how life started out, and all of these things developed inappropriate cross-links to other packages that made it impossible to vendor just a little bit of Kubernetes or e.g. not use our weird build system. Most people strongly do not want to vendor all of our code to use the client.

I agree with @sttts above; vendoring / importing k/k is not supported: we do not try to ma

[2019-07-19 16:38] liggitt commented on #80338
/sig storage
cc @msau42

[2019-07-19 16:54] PMende commented on #42885
I would really like to see this implemented. I make ready use of `kubectl get all` combined with awk to troubleshoot borked prototype `kubectl apply`s. It would be nice if I were actually able to get *all* when I `get all`.

[2019-07-19 17:01] DanHam commented on #76531
@lisa

100% Agreed.

To clarify - while the error being reported is benign, the impact of flooding the logs with that error message will certainly have some impact exactly as you say.

[2019-07-19 17:05] pwittrock commented on #80339
@dims  kubectl is going through this process now.  *out* could mean a couple of different things , but I expect 6-9 months at the current rate of contributions.  @seans3 has been leading this, and we have had a number of other contributors from the community.

[2019-07-19 17:07] dims commented on #80339
@pwittrock ack, to be noted that `kubectl` just got into staging/ so no issues with that one for sure! and thanks to you all to drive that effort to get it out as well.

[2019-07-19 17:11] ORESoftware opened #80370 "Allow for composable pipelines for capturing logs etc"
At least on EKS, the config to send logs to CloudWatch is ridiculously verbose and complex. What happened to a standard pipeline:

[code]

I have this question on SuperUser and looking for an answer:
https://superuser.com/questions/1461621/is-there-a-way-to-define-a-second-container-which-can-capture-stdout-stderr

Our company is _not_ using kubernetes for everything, and as a devops engineer, I d

[2019-07-19 17:14] msau42 commented on #80333
I don't think the check needs to be that complex.  Attach limits could potentially be inferred at the general test case level by checking the limit after driver installation (and in this case I really hope a plugin can support 2).  So all the plugin's check needs to do is go through all the schedulable nodes and make sure there are enough nodes per its topology.

[2019-07-19 17:18] ejmarten commented on #69324
/reopen

[2019-07-19 17:18] mattfarina commented on #80339
I would like to point out that people are using packages in `pkg` today because there is no good alternative for some things. To avoid this they would have to copy the code out and keep up with the changes as they land in k/k. I don't know anyone that likes doing this but the alternative isn't appealing enough that they have done it.

I'm not suggesting we make it easier for folks. Just reminding

[2019-07-19 17:23] jsafrane commented on #80333
Does it include taints?

[2019-07-19 17:36] msau42 commented on #80333
On my kube-up cluster, my master status says "SchedulingDisabled" and most of e2e tests that do check node count look for this status. I'm not sure how taints impact that status:
[code]

[2019-07-19 18:01] ggpd commented on #59113
👋 Hello!

I have tracked down the root cause of this problem being the omission of error propagation in this [Object interface](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/meta.go#L33). The error is dropped in the implementation of [GetAnnotations](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis

[2019-07-19 18:08] freehan commented on #72511
We close issues if there is no response for 1 month.

[2019-07-19 18:34] nphmuller commented on #40422
/reopen

[2019-07-19 18:51] davidz627 commented on #80002
/kind failing-test
consistently failing here: https://testgrid.k8s.io/sig-gcp-compute-persistent-disk-csi-driver#Migration%20Kubernetes%20Master%20Driver%20Latest

[2019-07-19 18:58] alculquicondor opened #80372 "[Scheduler] Remove dependency of cache on algorithms"
`pkg/scheduler/internal/cache` shouldn't depend on `pkg/scheduler/algorithm`

We can move the listers into a a new package `pkg/scheduler/internal/listers` that both `algorithm` and `cache` can depend on.

We can also consider moving `predicates.NodeInfo` into the lister package or another one. This way, `Cache` interface doesn't need to repeat the NodeInfo's functions signatures but rather embed

[2019-07-19 19:00] ahg-g commented on #80336
ok, sounds good, I thought post-filter plugins will be executed per pod per node, not per pod. If it is invoked once per pod, then that solves the problem.

[2019-07-19 19:00] #80336 closed

[2019-07-19 19:02] draveness commented on #80372
/assign

[2019-07-19 19:03] alculquicondor commented on #80372
Hi @draveness I was planning to work on this.

[2019-07-19 19:07] alculquicondor commented on #80372
@bsalamat what would be your suggestion for NodeInfo? Maybe we can keep both listers and NodeInfo in a single package that is not internal.

[2019-07-19 19:07] cjschaef opened #80374 "debian hyperkube images affected by CVE-2019-1543"
**What happened**: Debian hyperkube images built for the `v1.12`, `v1.13`, `v1.14`, and `v1.15` releases contain `openssl` security vulnerability [CVE-2019-1543](https://nvd.nist.gov/vuln/detail/CVE-2019-1543)

**What you expected to happen**: Latest debian hyperkube images built using community automation should have patches to address existing `openssl` security vulnerability.

**How to reproduc

[2019-07-19 19:31] #70958 closed

[2019-07-19 21:13] cheftako commented on #60601
/remove-lifecycle stale

[2019-07-19 21:25] #77999 closed

[2019-07-19 21:39] smarterclayton commented on #80309
Rebooting a node is generally something your infrastructure would provide.
You would automate it by checking every few minutes if your node has had
the NotReady condition for more than X minutes, then trigger a remote
reboot (however that is done).

Kubernetes lets cloud providers handle this automatically, but you have to
write your own to do otherwise.

On Fri, Jul 19, 2019 at 12:26 PM Matthew G

[2019-07-19 22:02] mister-cholo commented on #80370
Good thinking, for example, fluentd can capture the stdout/stderr, so there must be some way for users to define other containers that can be put in a linux shell pipeline by k8s?

[2019-07-19 22:05] ddebroy commented on #72139
Clarified on slack and now it does make sense.

1. `TranslateCSIPVToInTree` should set `NodeAffinity` always (not directly related to this but helps with the general direction)
2. `TranslateInTreePVToCSI` will set `NodeAffinity` with topology upon detecting zone labels on the PV (mainly for pre-provisioned scenarios).

With the above two in place, scheduling predicates should be able to use the ab

[2019-07-19 22:29] Dev0Null commented on #80309
@smarterclayton Thank you for the help and detailed explanation.

Closing.

[2019-07-19 22:29] #80309 closed

[2019-07-19 22:57] lingtham opened #80381 "Multi-Attach error for Azure Disks still happening in v1.14 (preview for windows containers on AKS)"
**What happened**:
This is in Azure Kubernetes Service with the Windows container preview extension

Pods are running on node1, I deallocate node1, pods go to terminating state. Then, deployment recreates new pods on node2. However, those new pods are stuck in a ContainerCreating state for 18+ hours because of Multi-Attach error for the Azure Disks. The old pods are also stuck in a terminating sta

[2019-07-19 23:05] gjmzj commented on #80152
when i run the test with k8s v1.15.0 and sonobuoy v0.15.0, the same failure shows up.

[2019-07-19 23:06] lingtham commented on #80381
/sig azure
/sig windows

Also, sorry I just found the AKS repo after posting this so please let me know if I should move this

[2019-07-19 23:36] PatrickLang commented on #78857
this bug could be in https://github.com/kubernetes-sigs/sig-windows-tools/tree/master/cmd/wincat

[2019-07-19 23:37] PatrickLang commented on #78857
@benmoss - are you looking at this? if not @kkmsft may be able to take it

[2019-07-19 23:45] andyzhangx commented on #80381
@lingtham It's a known issue in upstream, in case of node failure, disk PV could not be moved to another node automatically now.
There is a working proposal in k8s community to track this issue: https://github.com/kubernetes/enhancements/pull/1116, still working on.

[2019-07-20 00:01] andyzhangx commented on #80381
@lingtham to workaround this issue, would you detach that disk and wait for a few minutes to check? thanks.

[2019-07-20 01:44] neolit123 commented on #76714
/remove-lifecycle stale

[2019-07-20 02:44] tedyu commented on #80366
It seems evictorLock is used to protect nc.zonePodEvictor , not nc.zoneStates .

[2019-07-20 02:57] tedyu commented on #80366
Do you see any error in the log.
Such as:
[code]

[2019-07-20 04:35] #74309 closed

[2019-07-20 04:49] Huang-Wei commented on #68701
/remove-lifecycle stale

[2019-07-20 04:53] zouyee commented on #79155
produce step:
a. create pod  with specified node and secret util pod running
b. stop the kubelet which pod running
c. delete secret
d. delete pod which will be hang
e. restart kubelet, pod will be mount secert always
f. restart kubelet, pod will be removed

kubelet would not be idempotent.
/cc @mattjmcnaughton

[2019-07-20 05:32] zouyee commented on #79603
/assign

[2019-07-20 07:04] draveness commented on #80367
/close

[2019-07-20 07:04] #80367 closed

[2019-07-20 07:40] sttts commented on #80339
Would be interesting to analyse what these packages in `pkg` are.

[2019-07-20 08:02] feloy opened #80386 "kubectl explain display Object instead of the name of the Kind"
**What happened**:

The command `kubectl explain pod.spec` displays " Object " for the resource spec.

**What you expected to happen**:

I would expect it displays the real name of the Kind, so I can use it in a Go program, and possibly with the full path, so I can use the path for the Go import.

**How to reproduce it (as minimally and precisely as possible)**:

kubectl explain pod.spec

**Anythi

[2019-07-20 08:03] feloy commented on #80386
/sig cli

[2019-07-20 08:38] wilmardo commented on #80243
The reason why it isn't working when replicated is that the traffic is between nodes and not on the same node. When I set the replicas to one and move the test pod to another node it isn't working. When I set the test pod on the same node as CoreDNS it is working again.
Might be network plugin related, I will keep digging :)

[2019-07-20 08:43] #69769 closed

[2019-07-20 08:43] #74238 closed

[2019-07-20 08:43] #63656 closed

[2019-07-20 08:44] redbaron commented on #59113
Hm, Set* methods also return no errors, therefore you can SetAnnotation and receive different result back on subsequent GetAnotations breaking symmetry.

I doubt API change is acceptable on that level, so there should be either some higher level type check of arts before descending into Unstructured codepath , for  instance instantiate desired object as a typed object to see if passes all the chec

[2019-07-20 09:36] aojea opened #80388 "E2Es for hostport/HostIP resolution to conformance does not support IPv6"
**Which jobs are failing**:

https://k8s-testgrid.appspot.com/conformance-all#kind%20(IPv6),%20master%20(dev)

**Which test(s) are failing**:

[sig-scheduling] SchedulerPredicates [Serial] validates that there is no conflict between pods with same hostPort but different hostIP and protocol [Conformance]

**Since when has it been failing**:

https://github.com/kubernetes/kubernetes/pull/78350

**Te

[2019-07-20 09:37] aojea commented on #80388
/assign
/cc @BenTheElder

[2019-07-20 10:23] dgunjetti commented on #23864
Hi,
I have made changes in code to add static nat rule to translate cluster-ip to pod-ip without port translation, so entire port range opens up between cluster-ip and pod-ip.

Implementation is simple. On presence of an annotation, I will be adding static nat rule.

I wanted to know if anyone would be interested before I proceed further.

Implementation is available at [mybranch](https://github.c

[2019-07-20 11:37] dgunjetti commented on #80122
Pod's IP address allocation is handled by network plugin, usually the ip range for pods is specified in network plugin configuration, creating a kubernetes object will not work. and dual stack support of ipv4/ipv6 is still in implementation phase AFAIK.

I think we need to explore more on possibilities of solving this via service. For one-to-one nat mapping of cluster-ip to pod-ip, I can provide c

[2019-07-20 11:58] Eric-918 commented on #70411
still get this problem on kube 1.13.3

[2019-07-20 12:47] #73887 closed

[2019-07-20 13:43] mindw commented on #52172
still a problem - since 1.10.x or so.
CoreOS.

[2019-07-20 14:20] hawran commented on #72782
As have been asked:
_The question is: Is it a feature or a bug?_
/remove-lifecycle stale

[2019-07-20 14:22] hawran commented on #72782
Oops, closed unintentionally, sorry for the mess.

[2019-07-20 14:33] agile6v commented on #80386
What can you see with `kubectl explain pod.spec --v=8` ?

[2019-07-20 15:41] jhorwit2 opened #80389 "PDBs using minUnavailable prevent draining unready pods"
**What happened**:

We were unable to drain pods on an unhealthy node that were stuck in pod initializing. The disruption budget has a `minAvailable` of 2. We had two healthy pods and a pod stuck in initializing thus it's unhealthy. A drain on the node with the unhealthy pod stuck in initializing was prevented.

**What you expected to happen**:

The pods should have been evicted because they are i

[2019-07-20 15:50] #74297 closed

[2019-07-20 15:50] #69307 closed

[2019-07-20 15:54] robertzhangwenjie commented on #76531
i also can repo it with following config after change cgroups to systemd
OS: Centos 7.6
K8S: v1.15.0
Docker:18.06.0 CE

[2019-07-20 16:22] gyuho opened #80390 "kube-controller-manager panic on horizonal pod autoscaler asserting "*v1beta2.MetricValueList""
**What happened**:

[code]

**What you expected to happen**: kube-controller-manager should not panic.

**How to reproduce it (as minimally and precisely as possible)**: Kubernetes 1.12.6, `k8s.gcr.io/cluster-autoscaler:v1.3.4`, and https://github.com/zalando-incubator/kube-metrics-adapter

**Anything else we need to know?**:

It's running `k8s.gcr.io/cluster-autoscaler:v1.3.4` and https://github.

[2019-07-20 16:25] gyuho commented on #80390
Could be related to https://github.com/kubernetes/kubernetes/issues/68011, but this happens with all the patches from the issue

/sig scalability
/cc @losipiuk

[2019-07-20 19:33] BenTheElder commented on #80388
/sig scheduling

[2019-07-20 19:54] #71012 closed

[2019-07-20 20:39] moshe010 commented on #80205
Yes,  selecting specific cpus are not supported so you need to modify the code to support that

[2019-07-20 23:00] kargakis commented on #25766
@kubernetes/sig-node-feature-requests

[2019-07-20 23:04] grosser commented on #57291
/remove-lifecycle rotten

[2019-07-20 23:47] dims commented on #80339
+100 @sttts that's how we ended up staging the cri stuff. k3s is a unique use case but yes we need to find out which ones are useful especially for controllers(?) and operators(?)

[2019-07-20 23:55] pytimer commented on #80205
Thanks, I know.

[2019-07-21 00:19] jparklab commented on #79719
@humblec No, it does not fix the problem that metric itself is nil. Also, my pull request fixes the problem that csi_metrics returns nil value for error and the caller expects non nill value when csi driver does not support metrics.

[2019-07-21 00:43] tedyu commented on #80389
Are you suggesting that PodPending phase be handled in a similar manner to how PodSucceeded and PodFailed are handled ?

[2019-07-21 01:52] smarterclayton commented on #80339
I'm not even sure it's *that* much more work.  We could in a single release
move most of the remaining components to staging, including kube-apiserver
(which would be everything that is left).  Kubelet, kube-proxy, Kcm, and
scheduler would go fast.  Tests would go fast once someone decides where to
put kubemark (which is bundled in e2e and depends on kubelet).  hyperkube
might be a bit uglier, but

[2019-07-21 02:22] timchenxiaoyu commented on #71424
I don't find code in kubelet  1.12.0 about this problem.    strange!

[2019-07-21 02:38] tedyu commented on #75731
From :
[code]
(called by RESTStorageProvider#v1beta1Storage)
I am trying to find the proper reference in store.go (original line number 1289) from the description.

[2019-07-21 03:35] sergey-safarov commented on #80122
Hi Deepack @dgunjetti

In this case I spoke not about docker IP pool that managed by network plugin.
I spoke about kubernetes or service IP address pool.
This pools used during pods (or service) creations for `--ip` option value of `docker run` command.
**Example**
[code]
Here we just request network plugin to assign IP. We not try to do it be self.
As example we have docker network `192.168.10.0/

[2019-07-21 04:27] sergey-safarov commented on #80122
Yes, I sure it will work for `public` IP and `private` IP assignments. Just need let pod know what IP assigned as static for pod. More details #80108.

**As warning**
I have catched issue with permanent udp  traffic and IP tables rules changes when docker container created (on host installed only docker, no kubernetes).
In this case Linux iptables connection tracking table populated half open flow

[2019-07-21 04:34] jingweno commented on #79523
I just ran into this. Any updates?

[2019-07-21 05:34] ibuildthecloud commented on #80339
Just to clarify a one thing, k3s is a very unique project and it's needs should ***not*** be considered.  The frustration with importing k8s code is for just writing controllers, which have to import code that originates from staging/.  If you have any code that depends on k8s.io/api and/or k8s.io/client-go and try to use modules, and your dependencies also have dependencies on k8s.io (which is co

[2019-07-21 05:51] wojtek-t commented on #76674
/remove-lifecycle stale
/lifecycle frozen

[2019-07-21 05:52] ibuildthecloud commented on #80339
Oh another thing, reading through this thread I'm thoroughly confused on the purpose of staging.  So do what you will, I bow out, I don't get it.

But, just to be clear, using k8s dependencies through go modules is really, really confusing.  The typical use case would be like "I want to write a controller against k8s 1.14.0".  So I end up with a go.mod like

[code]

It's hard to know what any of t

[2019-07-21 05:55] jingweno commented on #79523
Attempting to fix it with https://github.com/kubernetes/kubernetes/pull/80394

[2019-07-21 06:40] uablrek commented on #75502
Duplicate of #58329

[2019-07-21 06:42] uablrek commented on #75502
Implemented by PRs;  #75556 and #77006

[2019-07-21 07:11] millerick opened #80397 "Allow ConcurrentJobSyncs to be set for kube-controller-manager"
**What would you like to be added**:
The ability to set `ConcurrentJobSyncs` for the kube-controller-manager at runtime.  It looks like the option exists in the code, but a mechanism is not available to set it via kops.  If I understand the code correctly, a flag needs to be added in order to be able to set the value using kops.

**Why is this needed**:
We want to shift a lot of our batch processi

[2019-07-21 07:15] millerick commented on #80397
/sig scalability

[2019-07-21 07:15] millerick commented on #80397
I think scalability is the best fit since this is impacting our ability to fully utilize and scale how we use our kubernetes cluster.

[2019-07-21 07:51] sergey-safarov commented on #80122
Issue  when used docker with NAT and UDP transport for network traffic documented at  https://github.com/docker/libnetwork/issues/2423

[2019-07-21 08:59] aojea commented on #78099
@neolit123 I think that we can use an option to test_context to specify the cluster IP family the same way that exists one for the cloud provider

[code]

[2019-07-21 09:04] sergey-safarov commented on #80122
As I wrote before, for `statefulset` need define IP pools for pod assignments (directly or via service + iptables rules)
How you expect define such pools for IP address assignments request?

[2019-07-21 09:20] BenTheElder commented on #78099
Being able to override and specify exactly what you want the test to beleive about your cluster is nice, but ideally it should generally work without specifying _more_ flags. Surely we can detect this?

[2019-07-21 09:37] aojea commented on #78099
I was thinking during some time about this,  detecting the IP family is very simple having IPv4 or IPv6 only clusters, but with the introduction of dual stack I´m afraid about the supportability and reliability of the autodetecting mechanisms in the long term. If you see the dual stack PRs there are still a lot of unknowns about the cluster behavior.
My point is, let´s have something first stable

[2019-07-21 09:46] starplanet commented on #7339
+1

[2019-07-21 09:57] ahg-g commented on #80357
That is a very good catch. The binding cycle is run in a [separate goroutine](https://github.com/kubernetes/kubernetes/blob/c2a4369ba4f37ef8b1e639382b2f9fc14069ca7b/pkg/scheduler/scheduler.go#L545), and so updating NodeInfoSnapshot could happen concurrently with the execution of permit/prebind/bind/postbind plugins of another pod.

[2019-07-21 10:54] dianaabv16 commented on #23726
well, it may sound stupid, but maybe you didn`t install miniKube to run your cluster locally

[2019-07-21 11:09] #25456 closed

[2019-07-21 11:09] #73781 closed

[2019-07-21 11:26] OJFord opened #80399 "Env var to set location of .kube directory"
It doesn't seem possible to entirely move the `$HOME/.kube` directory, or, therefore, to use multiple under one user (should you want to for some reason - yes I'm aware of contexts).

Setting `$KUBECONFIG` takes care of the config yaml and relative files, but not `cache` and `http-cache` dirs, which are recreated in `$HOME` even if the directory is removed following setting the env var.

It would

[2019-07-21 13:54] zouyee commented on #54967
/reopen
/remove-lifecycle rotten

[2019-07-21 14:03] zouyee commented on #54967
related issue： https://github.com/moby/moby/issues/37918

[2019-07-21 14:13] zouyee commented on #79603
First drain the node, then remove the file, and restart kubelet.
But we would meet the errhttps://github.com/kubernetes/kubernetes/issues/66614

[2019-07-21 14:15] zouyee commented on #79603
/close
Closing this issue because of the above, but feel free to comment after I closed

[2019-07-21 14:15] #79603 closed

[2019-07-21 14:15] zouyee commented on #66614
/remove-lifecycle rotten
/reopen

[2019-07-21 14:18] sahandmax opened #80400 "Windows Node Fails on Join"
Hi
I want to use windows node but getting below error when use kubeadm join command
thanks for helping

[preflight] Running pre-flight checks
        [WARNING Service-Docker]: no supported init system detected: Access is denied.
[preflight] The system verification failed. Printing the output from the verification:
KERNEL_VERSION: 10.0.18362
DOCKER_VERSION: 18.09.2
DOCKER_GRAPH_DRIVER: overlay2

[2019-07-21 15:33] drew-512 commented on #63858
Sure... but we're hitting this limit and we're already in a stream call.  :\

[2019-07-21 15:54] tedyu commented on #80366
handleDisruption is called by monitorNodeHealth.

Not clear why evictorLock is needed in methods such as addPodEvictorForNewZone which are only called by monitorNodeHealth.

[2019-07-21 16:03] mcluseau commented on #63858
On Jul 21, 2019 17:36, drew-512 <notifications@github.com> wrote:
Sure... but we're hitting this limit and we're already in a stream call.  :\Sounds weird, you're talking about the limit of the Kubernetes' kubelet gRPC client talking to the CRI runtime? We never got this bug again and it's an old one.

[2019-07-21 16:50] droslean opened #80401 "[Failing Test] openstack conformance is failing in master-informing"
**Which jobs are failing**:
` ci-cloud-provider-openstack-acceptance-test-e2e-conformance`

**Which test(s) are failing**:
`Overall` [spyglass](https://prow.k8s.io/view/gcs/k8s-conformance-openstack/periodic-logs/ci-cloud-provider-openstack-acceptance-test-e2e-conformance/1563337047)

**Since when has it been failing**:
Since 16/7

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-info

[2019-07-21 18:20] irajdeep commented on #79209
/assign

[2019-07-21 19:04] bjhaid commented on #40610
For folks interested myself and @thockin had a brainstorm in this doc https://docs.google.com/document/d/1fH64mEfZH597luup-ZBfBNkiTVjfoFYGEa-G1G_TM6A/edit#, I wrote something that covered the last idea (which is Tim's preference): https://github.com/bjhaid/node-labels-to-files

[2019-07-21 19:42] neolit123 commented on #78099
in https://github.com/kubernetes/kubernetes/pull/80398
`IpFamily` is added as part of the context.

do you mean adding `e2enet.IpFamily()` as a function which will auto-detecting the ip family.
less flags for the framework binary is preferred.

[2019-07-21 20:25] bhagwat070919 commented on #79523
Thanks, @jingweno,

The Changes looks good.

[2019-07-21 20:39] lpgc commented on #63883
@awalmsley so what were the f/w issues?

[2019-07-21 22:26] tamalsaha commented on #76794
/remove-lifecycle stale

[2019-07-22 00:16] dgunjetti commented on #79866
which network plugin are u using? can we track down to iptables rule that does SNAT.

[2019-07-22 00:22] #74316 closed

[2019-07-22 00:22] #74361 closed

[2019-07-22 01:46] leopay opened #80403 "delete a service corresponding ipvs record not removed when kube-proxy in ipvs mode"
**What happened**:
delete a service corresponding ipvs record not removed when kube-proxy in ipvs mode

**Anything else we need to know?**:
it seems that the forloop will never to execute after #1703, as the line #1699
https://github.com/kubernetes/kubernetes/blob/c2a4369ba4f37ef8b1e639382b2f9fc14069ca7b/pkg/proxy/ipvs/proxier.go#L1697-L1713

**Environment**:
- Kubernetes version:
latest

[2019-07-22 01:57] WanLinghao commented on #80308
It seems you are trying to copy a directory located in a unauthorized directory. The `kubectl` command will compress the `test` directory and you have no authority to create files.

[2019-07-22 02:02] leopay commented on #80403
/sig network

[2019-07-22 02:08] WanLinghao commented on #80248
Why using port 32314?  I see no clue in your information

[2019-07-22 02:21] leopay commented on #80403
@namreg @Lion-Wei

[2019-07-22 02:29] hex108 commented on #80357
There are 2 proposals to solve it:

* Proposal 1: Add a RWLock for the struct `NodeInfoSnapshot`. It is an intuitive solution. Code need to hold a lock when visiting data of `NodeInfoSnapshot`.

   Pros:

   * No need to change the interface of [`FrameworkHandle`](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/v1alpha1/interface.go#L283).
   * There is little performa

[2019-07-22 02:40] kongkongk commented on #25456
/reopen
/remove-lifecycle rotten

[2019-07-22 03:09] wgy-home opened #80405 "kubernetes The pod of a node is always pending."
server version:
Docker version | 17.3.2
kernel version | 3.10.0-862.el7.x86_64
Kubelet version  | v1.10.5
Kube-proxy version | v1.10.5
system  | CentOS Linux 7 (Core)

[code]

####  The pod of this node is always pending.

[code]
#### pod describe
[code]

#### kubelet logs

[code]

why? help me,please.

[2019-07-22 03:15] wgy-home commented on #80405
sig/node

[2019-07-22 03:36] ProdanLabs opened #80407 "After deleting the service, kube-proxy cannot delete the corresponding IPtables rules."
kube-proxy.ERROR logs

Try `iptables-restore -h' or 'iptables-restore --help' for more information.
)

**Environment**:
- Kubernetes version :v1.14.3
- OS :CentOS Linux release 7.5.1804
- Kernel :4.19.45
- Network plugin and version : iptables-v1.4.21  flannel-v0.11.0
- Kube-proxy configuration:
[code]

[2019-07-22 04:12] goudai commented on #76531
@lisa @DanHam .
In my actual production environment, the kubelet CPU load in systemd is 30-80%, the CPU load is reduced to 8% after using cgroupfs.

[2019-07-22 04:33] konghui opened #80410 "user can use special http response code, not just between 200 and 400"
**What would you like to be added**:
Some people need accurate http response code for the http probe, not just default  200 < statuscode < 400
**Why is this needed**:
We run elasticsearch on the kubelet.circuit breaker will return 42x  if it has not enough heap for a request, it cause liveness probe faild restart the pod.
So we need ignore 42x requests on the liveness probe.

[2019-07-22 05:25] tbarrella commented on #49964
/remove-lifecycle stale

[2019-07-22 06:19] zouyee commented on #54967
k8s: 1.15
First we stop kubelet and modified kube-proxy configmap to `resourceContainer: "/"`, then delete kube-proxy and restart kubelet

[2019-07-22 06:19] zouyee commented on #54967
/close

[2019-07-22 06:19] #54967 closed

[2019-07-22 06:20] mumoshu commented on #68578
I'm working on this based on the following list of sources that potentially need the fix:

[code]

The following sources has direct invocations on `MergePatch` directly call `MergePatch` which deserves the fix:

- `pkg/kubectl/cmd/patch/patch.go`
- `staging/src/k8s.io/apimachinery/pkg/util/jsonmergepatch/patch.go`
- `staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go`
- `staging/src/k8s.

[2019-07-22 06:23] lingtham commented on #80381
Deleting and reapplying the deployment works around this issue but I was just wondering why this was happening. Thanks for letting me know!

[2019-07-22 06:23] #80381 closed

[2019-07-22 06:33] zouyee commented on #79492
/assgin

[2019-07-22 06:37] #78203 closed

[2019-07-22 06:43] zouyee commented on #79492
@obottaway any progress？

[2019-07-22 07:06] P1ng-W1n commented on #54967
Hi zouyee

I'm not sure I understand this explanation. Could you go into more detail please? Or could you please share the commit that implements this behavior?

[2019-07-22 07:08] zouyee commented on #80405
would you like to restart kubelet with `--v=6`?

[2019-07-22 07:08] zouyee commented on #80405
/assign

[2019-07-22 07:13] mborsz opened #80414 "E2E: [sig-network] Services should be able to create a functioning NodePort service"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1152911432807878672

has failed with:

[code]

It's only a single failure now, so maybe it's a flake, but even in that case we should try to take a look and deflake this test.

/sig network

[2019-07-22 07:13] mborsz commented on #80414
/cc @kubernetes/sig-network-bugs

[2019-07-22 07:14] knightXun opened #80415 "Container need preRemove hook"
**Why is this needed**:
As we all know, containers already has prestart and prestop hook. This is useful for container lifecycle. But When container is to be remove, No hook can be chosen to act. Which will be very hard for some situations such like logs collection or some device release operations. I think we better add a preRemove hook for container. It is very useful for many situations.

If yo

[2019-07-22 07:42] mm4tt commented on #80242
We got another timeout - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1152911432807878672
Luckily, the https://github.com/kubernetes/test-infra/pull/13487 went already in,  now we know which test timed-out:
![VNBSCtLcTLG](https://user-images.githubusercontent.com/2604887/61614724-bd0d8e00-ac64-11e9-93fb-93245b8d4cf5.png)

We also have full logs from

[2019-07-22 07:42] #80242 closed

[2019-07-22 07:57] zouyee commented on #77128
/assign

[2019-07-22 08:09] losipiuk commented on #80390
/sig autoscaling
/assign @krzysztof-jastrzebski
@krzysztof-jastrzebski can you triage please?

[2019-07-22 08:10] losipiuk commented on #80390
/sig-remove scalabilty

[2019-07-22 08:11] losipiuk commented on #80390
/sig remove scalability

[2019-07-22 08:11] losipiuk commented on #80390
/sig scalability remove

[2019-07-22 08:12] losipiuk commented on #80390
/remove-sig scalability

[2019-07-22 08:20] zouyee commented on #77128
I could not reproduce it, would you like running kubelet  with `--v=6` ?

[2019-07-22 08:45] pantaoran commented on #25766
This would be very important to have. I'm now forced to think of complicated workarounds just to debug my hooks.

[2019-07-22 08:49] Enelar commented on #69687
@DXist, I think @k8s-ci-bot misleading current status of the issue, which could lead to newly opened issues. My first impression was "it won't be released", and I was sad, read whole thread trying to understand "why".

In my case, I would like to start / pull messages from RabbitMQ queue, so there is no reason for preventing scale-to-zero. When first is ready, it pulls. If queue is empty long enou

[2019-07-22 09:01] imduffy15 commented on #65013
Hi All,

What approaches people using too workaround this?

From reading the comments I was hoping to follow the custom taint approach. However, I've noticed `kubectl drain` executes a cordon making it difficult to drain the node safely with this approach.

[2019-07-22 09:01] krzysztof-jastrzebski commented on #80390
API returned v1.Status instead of v1beta2.MetricValueList. We should check what is the type of the object
https://github.com/kubernetes/metrics/blob/13eb3b486029dcf3189111977d0865a933d92c28/pkg/client/custom_metrics/versioned_client.go#L234-L237.

[2019-07-22 09:05] casusbelli commented on #80332
@tedyu Yep, that's it, I'll create a pr.

/assign casusbelli

[2019-07-22 09:11] zouyee commented on #75707
It is not a bug, imagefs may be failed because cadvisor hasn't run successfully yet .

[2019-07-22 09:30] wojtek-t commented on #76374
/remove-lifecycle stale
/lifecycle frozen

[2019-07-22 09:37] zouyee commented on #75065
/assign

[2019-07-22 09:59] Pingan2017 commented on #80415
/sig node

[2019-07-22 10:02] chendave opened #80422 "doc for "fake-gitserver" need to be updated"
**What happened**:
Follow the "README", I hit below issue, the command there need a prefix "http" or "https".

[code]

**What you expected to happen**:
clone a fake repo successfully.

**How to reproduce it (as minimally and precisely as possible)**:
- follow the "README" here.
https://github.com/kubernetes/kubernetes/tree/master/test/images/agnhost#fake-gitserver

- create a pod
- create a servic

[2019-07-22 10:02] chendave commented on #80422
/assgin

[2019-07-22 10:02] chendave commented on #80422
/assign

[2019-07-22 10:32] nigelpoulton opened #80423 "change-cause annotation isn't recording correct commands"
**What happened**:
I create a Deployment (imperatively or declaratively) with the `--record=true` flag. Then I update the image using `kubectl set image` . The Deployment now owns two ReplicaSets, but the `change-cause` annotation for each ReplicaSet is showing the command that was used to create the initial RS.

**What you expected to happen**:
I expect the `kubernetes.io/change-cause` annotation

[2019-07-22 10:58] ralphlaude opened #80425 "Cassandra ENV-VARS MAX_HEAP_SIZE and HEAP_NEWSIZE not passed to the JVM"
**What happened**:
i am using this configuration (https://github.com/kubernetes/examples/blob/master/cassandra/cassandra-statefulset.yaml) for my Cassandra cluster in kubernetes. Each Cassandra node runs in Centos 7 VM. The ENV-VARS `MAX_HEAP_SIZE` and `HEAP_NEWSIZE` seems not to be set or pass to the JVM. This leads to Cassandra consuming much more more memory than configure. I have these values

[2019-07-22 11:00] SubhashC37 commented on #37705
In similar manner do we have any ticket to upgrade the pvc and change accessModes.
If we have a PVC created with accessMode as 'ReadWriteMany' and if we try to upgrade it by changing the accessModes 'ReadWriteOnce' then it throws "field is immutable after creation" error.

[2019-07-22 11:01] DXist commented on #69687
@Enelar , my PR handled the validation of zero value of `minReplicas` for object/external metrics so you can wait for the next K8S release or prepare your own K8S build from current master.

[2019-07-22 11:21] mm4tt commented on #80209
I checked the yesterday's run, we have etcd profiles for them. Thanks, @wojtek-t!

You can find the profiles [here](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1152986928522465283/artifacts/) (files starting with etcd_CPUProfile_)
I plotted the lease get/put latency over time for that run:
![10j0zxP2cxk](https://user-images.githubusercontent.com/260488

[2019-07-22 11:30] imroc opened #80428 "Let LB bind unschedulable node"
**What would you like to be added**:
Let LB bind unschedulable node or not bind only if there is no pod of service with local externalTrafficPolicy on that node

**Why is this needed**:
service controller will not bind the node if it is unschedulable, see code:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L605-L611
[code]
It is avoid to bind the

[2019-07-22 11:36] imroc commented on #80428
/sig usability

[2019-07-22 11:38] imroc commented on #80428
@kubernetes/sig-usability-feature-requests

[2019-07-22 11:49] imroc commented on #80428
cc @brendandburns

[2019-07-22 12:00] muditmn commented on #72392
i got the same issue.....if you want to reslove download the client bundle from Docker EE UCP by going into my profile section. Then shift this bundle on your UCP linux node then source the env.sh file.
Command:- source env.sh script

[2019-07-22 12:57] munnerz commented on #80339
FWIW, in order to force go modules to use the correct (or as you put it, the 'same' version across all repos), you can use the `replace` directive in your own projects go.mod file, like this: https://github.com/jetstack/cert-manager/blob/d9899e86bec20645c13f3a99e1e48bbf49399d23/go.mod#L125-L139

Whilst these still encode go module's 'reproducible' ref format, you can put branch names, tag names (e

[2019-07-22 13:25] mattjmcnaughton commented on #80415
Hi @knightXun thanks for your idea :)

This is an interesting idea! I'd recommend bringing this up in #sig-node or the weekly sig node meeting. If there's sufficient community interest, the next step would be creating a [Kubernetes Enhancement Proposal](https://github.com/kubernetes/enhancements/tree/master/keps).

[2019-07-22 14:01] knightXun commented on #80415
@mattjmcnaughton  maybe we can define more hook for container lifecycle

[2019-07-22 14:35] zouyee commented on #70767
/remove-lifecycle rotten

[2019-07-22 14:38] philip-fox opened #80431 "[Revisit] Odd timing behavior with Readiness Probes with `initialDelaySeconds` and `periodSeconds`"
/kind bug

**What happened**:
Similar to the now closed ticket: [Odd timing behavior with Readiness Probes with `initialDelaySeconds` and `periodSeconds`](https://github.com/kubernetes/kubernetes/issues/62036)

On that ticket, people have commented expressing wonder as to why the ticket was closed when the problem was never fixed. I'm also wondering this, and I've encountered the problem, and woul

[2019-07-22 14:41] philip-fox commented on #80431
/sig node

[2019-07-22 14:47] chrisohaver commented on #80243
Yes, sounds like it could be a problem with kindnet.  To narrow things dow further, you could try verifying pod-ip -> pod-ip connectivity across nodes.  That is, you noted that, pod-ip -> service-ip is not working across nodes.  You could test pod-ip -> pod-ip connectivity by sending queries to the coredns pod-ips directly.

What version of kindnet are you using?  0.5.0?

[2019-07-22 14:55] zouyee commented on #66614
/close

[2019-07-22 14:55] #66614 closed

[2019-07-22 15:17] benmoss commented on #78857
I'll take a look today, just got back from vacation

[2019-07-22 16:16] brianirish commented on #65013
I was lucky in that I experienced this issue while cordoning our testing environment, so we didn't experience a production outage.

@imduffy15 I think what I'm going to try is the following... it's going to be time-consuming but I think it's the safest bet.

- Double the number of nodes in the server group to bring online the new nodes first
- Place a custom taint on each "legacy" node
- As you sa

[2019-07-22 16:26] imduffy15 commented on #65013
Same as myself! Pity neither of us have a story for https://k8s.af/

Since my comment this morning I've been trying a few approaches, I've ended up with the following:

 - Create a new node pool of equal size in GKE with the upgraded kube version
 - Set the current node pool to not be able to grow beyond its current size - if your using regional nodes this can be annoying, let it bring up new node

[2019-07-22 16:28] alejandrox1 opened #80434 "[Failing Test] Errors bringing up kube-proxy in CI"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-alpha-features

**Which test(s) are failing**:
BeforeSuite

**Since when has it been failing**:
Failing since 7/18
The failure seems to have been introduced in https://github.com/kubernetes/kubernetes/compare/477304cdb...3f1cb97f9
https://github.com/kubernetes/kubernetes/pull/80229 is the only PR within that window that modifies any cluster con

[2019-07-22 16:30] swaykg commented on #55713
i'm having the same issue, node is NotReady, but pods are showing Running status, although they are hanging, but they do not reschedule. any workaround on this issue?

[2019-07-22 16:55] yue9944882 commented on #80339
i've noticed a number of projects importing k/k directly, even nowadays the crowd is getting larger considering those internal ones i presume.. here're a few reasons i can remember of driving folks to persist in importing k/k:
- directly importing internal types. even tho this is getting more difficult in the recent releases b/c we removed client library for internal types (tracked in #70657), but

[2019-07-22 17:02] stephen-dexda opened #80435 "Update docs with strategic merge patch deletion information"
**What would you like to be added**:

Information on deleting resource elements via strategic merge patching, (as documented at the difficult-to-discover https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md.

To at least:

https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/
https://kubernetes.io/docs/referen

[2019-07-22 17:05] imduffy15 commented on #27362
Hi All,

I'm still seeing this on the following version:

[code]

I am using recreate and can see my current pod go into a terminating state and my new pod come up. It is my understanding that the new pod should not come up until the old pod is terminated completely.

[2019-07-22 17:06] pratsub commented on #76956
Same issue I face in centos 7.6 version. kubeadm fails to start. I too eagerly waiting for solution.
k8s version 1.15.1

[2019-07-22 17:08] stephen-dexda commented on #80435
@kubernetes/sig-docs-feature-requests

[2019-07-22 17:32] Koderok commented on #80423
I would like to work on fixing this issue. I am looking at the relevant code and reproducing the issue locally. I will check if the behavior was different pre 1.12.

[2019-07-22 17:33] davidz627 commented on #73972
/remove-lifecycle stale
has this been resolved?

[2019-07-22 17:35] alvaroaleman commented on #77128
Seems that got fixed for 1.14.2+ with this PR: https://github.com/kubernetes/kubernetes/pull/77888
Thanks for looking at it!
/close

[2019-07-22 17:35] #77128 closed

[2019-07-22 17:44] jeefy commented on #79662
/cc

[2019-07-22 17:44] alena1108 commented on #65392
This issue has been punted multiple times. In reality, it hurts many users. Pods being stuck in unavailable state for 6+ mins is not a sustainable solution for keeping the production workloads highly available. I understand that the final solution most likely won't be simple, and would require more design discussions. But do you think a smaller fix by making `ReconcilerMaxWaitForUnmountDuration` c

[2019-07-22 18:16] nigelpoulton commented on #80423
Cheers @Koderok

I need to update this as it seems I may have misunderstood the behavior....

It seems that if you use the `--record` flag on every command, then the right command gets stored in the annotation.

I thought that using the `--record` flag on the command that initially created the object meant you didn't have to use it on future commands. It seems I was wrong.

**However...** I still

[2019-07-22 18:18] benmoss commented on #74759
Is this issue still true @pjh? I'm using CNI binaries that are built from the containernetworking/plugins source tree.

[2019-07-22 18:22] mcluseau commented on #63858
On Jul 22, 2019 18:31, Dave Augustus <notifications@github.com> wrote:`docker --version
Docker version 18.09.8, build 0dd43dd87f
kubelet --version
Kubernetes v1.12.7
`
So is there a way of dealing with this error other than deleting/creating the namespace?
Some cleanup process? or parameter adjustment?AFAIK using docker does not go through the same interface as containerd. You should probably be a

[2019-07-22 18:22] hh opened #80439 "WIP: Behaviour (e2e) Test Framework Requirements"
Our current e2e framework has some pain points and techical debt that needs to be enumerated and addressed.

@hh will sync [this google doc](https://docs.google.com/document/d/1nk0lTq2LOhMjMXAPdbA9JirLvooeggOMrqGSrZDbNco/edit#heading=h.u8uazl7t2tbi) into this issue description.

[2019-07-22 18:24] hh commented on #80439
/area test
/area conformance

[2019-07-22 18:25] hh commented on #80439
/sig testing