[2021-03-17 14:43] thejoycekung commented on #100314
/cc @soltysh

[2021-03-17 14:46] adisky opened #100336 "Prevent addition of new flags to kubelet"
#### What would you like to be added:
- Add a test to prevent adding of new flags to kubelet. It can verify the current number of flags and fail when a new flag has been added. Test can be modified if there is a valid reason to add flag instead of config.
- Update the SIG-Node developer doc to give preference to addition of config than flag.

#### Why is this needed:
There has been an ongoing effo

[2021-03-17 14:50] adisky commented on #86843
Created an issue  #100336 to prevent addition of new flags to kubelet, probably we will add a test case.
I also tried to find any KEP related to this, probably we need to write a KEP to track this efforts.

[2021-03-17 14:52] lrascao commented on #25238
I was also seeing this happening in EKS 1.18, can confirm it no longer occurs after moving to 1.19

[2021-03-17 14:52] rajpratyush commented on #94404
@adtac Hi this is my first time contributing to kubernetes. can you provide me some guidance on how to to get started?

[2021-03-17 14:53] neolit123 commented on #100336
like i commented on https://github.com/kubernetes/kubernetes/issues/86843 it's not clear whether SIG Node has agreed to the concept of migrating to config and to stop adding flags entirely.

if the SIG has agreed to that, adding such a blocking "flag-check" seems reasonable, but i wouldn't say necessary due to the relatively small number of approvers for the kubelet who can be aware of this proble

[2021-03-17 14:55] neolit123 commented on #100327
please open this issue in the the metrics-server repository.
if the maintainers explain that this is a core k8s bug - re-open this ticket.

thanks
/close
/sig insrumentation

[2021-03-17 14:56] neolit123 commented on #100327
/sig instrumentation

[2021-03-17 14:56] #100327 closed

[2021-03-17 14:56] neolit123 commented on #100328
/sig node

[2021-03-17 14:56] adisky commented on #100336
@neolit123 It is just about adding simple unit test. We are not completely enforcing here to add new flags that is the SIG decision, Its just to notice author/reviewer that if it is possible add it to config.

[2021-03-17 14:57] rajpratyush commented on #93795
@adtac Hi this is my first time contributing to kubernetes. can you provide me some guidance on how to to get started?

[2021-03-17 14:59] neolit123 commented on #100336
might be a good idea to open a mailing list discussion to give a heads up on this change in advance:
https://github.com/kubernetes/community/tree/master/sig-node#contact

[2021-03-17 14:59] rajpratyush commented on #95546
/remove-lifecycle stale

[2021-03-17 15:01] rajpratyush commented on #95546
@liggitt Hi this is my first time contributing to kubernetes. can you provide me some guidance on how to to get started?

[2021-03-17 15:04] neolit123 commented on #100309
i also remembered that the there could be issues if there are conflicting CNI configs in that folder.
maybe the recommendation is to just have a single CNI config there at all times.

[2021-03-17 15:13] liggitt commented on #82046
deployment scale subresource addressed in 1.21, remaining scale subresources will be addressed before closing this

/milestone v1.22

[2021-03-17 15:14] liggitt commented on #94622
moving out of the milestone and lowering priority becuase #100250 merged, leaving open because the fundamental issue is unresolved

/milestone clear

[2021-03-17 15:18] kishorj commented on #66306
The annotation `service.beta.kubernetes.io/aws-load-balancer-type` should be considered immutable and not modified after creating the service. In the short term we will document this behavior, and there will not be further changes to the kubernetes in-tree cloudprovider.

Further changes in this area should be handled in the [v2 cloudprovider](https://github.com/kubernetes/cloud-provider-aws), and

[2021-03-17 15:23] liggitt commented on #95546
I would start by reproducing the hang in a local build with the described config: TLS bootstrap on, RotateCertificates off.

To recreate, you can force the API calls made during TLS bootstrapping to block (e.g. putting a log message and long time.Sleep in the code paths that try to make synchronous requests to the API server during kubelet startup block).

Then work through the differences between

[2021-03-17 15:33] fromanirh commented on #75355
working to reproduce outside CI - way easier to debug

[2021-03-17 15:46] apelisse commented on #82046
The PR didn't merge and was milestone-cleared.

[2021-03-17 16:36] kangarlou commented on #99677
@jsafrane The code snippet that you linked (and the handling of volumes in the uncertain state) only applies to volume plugins that implement the `volume.CustomBlockVolumeMapper` interface:
https://github.com/kubernetes/kubernetes/blob/9e991415386e4cf155a24b1da15becaa390438d8/pkg/volume/util/operationexecutor/operation_generator.go#L993

I don't think that holds true for the in-tree GCP PD plugin

[2021-03-17 16:38] vinayakankugoyal commented on #7961
for coredns we could do something like: https://github.com/coredns/coredns/pull/4528

[2021-03-17 16:47] boldandbusted commented on #82381
Howdy, @thockin and good Kubernetes developers. I'd like to reopen this, and see it become a project to migrate to a non-RFC-reserved domain. While there may be headaches associated with migrating to a non-reserved domain (like, say, `.lan`), there's lots of potential head-scratching difficulties for users who find 'interesting' DNS problems due to this misconfiguration. Additionally, there is a c

[2021-03-17 17:16] hopik007 opened #100340 "RoleBinding: keda-auth-reader should be in kube-system namespace"
#### What happened:
During deploying Keda 2.1.0  issue when metric pod starting:

_W0317 16:10:21.774104       1 requestheader_controller.go:193] Unable to get configmap/extension-apiserver-authentication in kube-system.  Usually fixed by 'kubectl create rolebinding -n kube-system ROLEBINDING_NAME --role=extension-apiserver-authentication-reader --serviceaccount=YOUR_NS:YOUR_SA'_

#### What is def

[2021-03-17 17:20] roycaihw commented on #100070
/assign

[2021-03-17 17:23] jingxu97 commented on #99677
Thanks @kangarlou for bringing it up. It seems an issue in both MapVolume and MountVolume case. Should put MarkVolumeMounted before resize operation.

https://github.com/kubernetes/kubernetes/blob/9e991415386e4cf155a24b1da15becaa390438d8/pkg/volume/util/operationexecutor/operation_generator.go#L629-L677

[2021-03-17 17:37] roycaihw commented on #100070
/assign @roycaihw
(@k8s-ci-robot please)

I think it's the same issue as https://github.com/kubernetes/kubernetes/issues/94810 (I forgot https://github.com/kubernetes/kubernetes/pull/95783 wasn't merged yet. Sorry for dropping the ball) I will revive that PR.

[2021-03-17 17:37] roycaihw commented on #99911
/assign @roycaihw
(@k8s-ci-robot please)

I think it's the same issue as https://github.com/kubernetes/kubernetes/issues/94810 (I forgot https://github.com/kubernetes/kubernetes/pull/95783 wasn't merged yet. Sorry for dropping the ball) I will revive that PR.

/triage accepted

[2021-03-17 17:50] henrjan commented on #94404
Hi, is this issue still valid to work on?

[2021-03-17 17:59] lukeschlather commented on #69676
What's the equivalent to looking in dmesg if you're using a hosted solution like GKE (my actual question) or EKS/AKS?

I really just want to know what log to look at to know if a pod was evicted for going over its memory limit.

[2021-03-17 18:04] jingxu97 commented on #99677
cc @mauriciopoppe

[2021-03-17 18:05] danwinship opened #100342 ""e2e.test --help" panics due to bad flag-parsing code"
#### What happened:
I ran `e2e.test --help` and it panicked:

[code]

#### What you expected to happen:
no panic

#### How to reproduce it (as minimally and precisely as possible):
[code]

#### Anything else we need to know?:
The panic was introduced by #98787. I submitted #99704 as an attempt to fix this, but review led to the realization that there were further bugs and I don't know what the rig

[2021-03-17 18:13] 2rs2ts opened #100343 "Removing --root-ca-file from kube-controller-manager args does not update ServiceAccount token Secrets"
#### What happened:

I removed the `--root-ca-file` from my kube-controller-manager command line arguments, but the ServiceAccount token (`type: kubernetes.io/service-account-token`) Secrets did not receive any updates to their `ca.crt` keys.

#### What you expected to happen:

I expected that the `ca.crt` key would be removed, since it is implied by the ["accessing the API from a Pod"](https://ku

[2021-03-17 18:14] 2rs2ts commented on #100343
/sig api-machinery

[2021-03-17 18:44] #89374 closed

[2021-03-17 18:47] eddiezane commented on #94280
/remove-lifecycle stale

[2021-03-17 18:48] BenTheElder commented on #100309
This is arguably a bug in podman's packaging. It's not expected to have multiple CNI installed. I would not install this on a Kubernetes node.

It's runtime. The config has live reloading in containerd at least.

In either case such a feature would be at the container runtime level. containerd already supports configuring an alternative directory for both CNI configuration and binaries.

[2021-03-17 18:52] ahg-g commented on #94009
@Huang-Wei we should add a metrics to track the efficiency of the solution. The metric would track the number of pods that were not put back into the queue broken down by plugin and even type for example.

[2021-03-17 19:03] liggitt opened #100344 "ServiceAccount admission controller migration [Feature:BoundServiceAccountTokenVolume] master upgrade should maintain a functioning cluster"
#### Which jobs are failing:

sig-auth-serviceaccount-admission-controller-migration

#### Which test(s) are failing:

`ServiceAccount admission controller migration [Feature:BoundServiceAccountTokenVolume] master upgrade should maintain a functioning cluster`

#### Since when has it been failing:

3/9

#### Testgrid link:

https://testgrid.k8s.io/sig-auth-gce#upgrade-tests&width=20

#### Reason f

[2021-03-17 19:05] lack commented on #100259
Fair point. I added this (intentionally vague) section since some conversation on the sig-node mailing list with folks working on KIND suggested this may align with their goals in some way I'm not entirely clear on.

[2021-03-17 19:07] BenTheElder commented on #94622
`make test KUBE_RACE=-race KUBE_TIMEOUT=--timeout=240s WHAT=k8s.io/apiserver/pkg/server/filters GOFLAGS=-count=1` will do something comparable under make.

There's a bunch of stuff in there, generally it's not relevant for a unit test bug like this but the answer to what exactly it does is not easily concise.

Note that CI may have more load than your local machine running it once, and also curren

[2021-03-17 19:08] liggitt commented on #100344
/triage accepted

[2021-03-17 19:12] ehashman commented on #99803
@pacoxu yeah, there's one more PR left + one to take care of anything left over.

[2021-03-17 19:12] jsturtevant commented on #100284
Are these commands

[code]
run in a dockerfile?  What does the `whoami` in the container output?

[2021-03-17 19:19] #99831 closed

[2021-03-17 19:20] liggitt commented on #100344
last green run was on a517eccd9f990c

first red run was on bc13a38367cef5

delta: https://github.com/kubernetes/kubernetes/compare/a517eccd9f990c...bc13a38367cef5

looks like @wojtek-t did a fair amount of refactoring around the upgrade tests, possibly in https://github.com/kubernetes/kubernetes/pull/99857

[2021-03-17 19:21] liggitt commented on #100344
@wojtek-t, did the upgrade tests run successfully after that refactor?

[2021-03-17 20:00] Huang-Wei opened #100347 "[Umbrella] Fine-grained pods enqueuing in scheduler"
This is an umbrella tracking the items supporting fine-grained pods enqueuing in scheduler.

### Interface design in scheduler framework (Completed in 1.21)

- Surface info of failed plugins during PerFilter, Filter and Permit [#98041]
- Store a cluster event to plugin map in SchedulerQueue [#98241]

These two PRs introduced an interface (not an strict extension point) called `EnqueueExtensions`,

[2021-03-17 20:01] Huang-Wei commented on #94009
SG. I compiled a list to include on-going and to-do items here #100347.

[2021-03-17 20:01] Huang-Wei commented on #100347
/sig scheduling
/triage accepted

[2021-03-17 20:03] ahg-g commented on #100347
/cc

[2021-03-17 20:06] dims opened #100348 "Deprecate/replace apt.kubernetes.io and yum.k8s.io (or) move them to community owned repository"
- both `apt.kubernetes.io` and `yum.k8s.io` are redirects to google owned/operated package repository:
https://cs.k8s.io/?q=(yum%7Capt).kubernetes.io&i=nope&files=&excludeFiles=&repos=kubernetes/k8s.io
- deb/rpm packages are signed by folks in GOOG and uploaded to the repository (thanks @BenTheElder and others who take care of this!!!)

Choices are:
- Get a community owned key and setup our own re

[2021-03-17 20:14] justaugustus commented on #100348
This is a duplicate of https://github.com/kubernetes/release/issues/281, which is part of the over-arching Artifact Management epic here: https://github.com/kubernetes/sig-release/issues/1372.

Further, there is a project board capturing some of these asks here: https://github.com/orgs/kubernetes/projects/48
Work will begin in v1.22.

/close

[2021-03-17 20:14] #100348 closed

[2021-03-17 20:18] andrewsykim commented on #54482
/assign @nckturner
/triage accepted

[2021-03-17 20:18] andrewsykim commented on #52617
/assign
/triage accepted

[2021-03-17 20:19] dims commented on #100348
@justaugustus thanks! i wanted to be sure that we consider this and work through stuff way before we think of brand new use cases / scenarios.

[2021-03-17 20:19] andrewsykim commented on #52241
/assign @nckturner
/triage accepted

[2021-03-17 20:19] andrewsykim commented on #51292
/assign @cheftako
/traige accepted

[2021-03-17 20:19] andrewsykim commented on #51292
/triage accepted

[2021-03-17 20:20] justaugustus commented on #100348
@dims -- Thanks. Please comment on the original issue! :)

[2021-03-17 20:20] andrewsykim commented on #49425
cc @bowei
/triage accepted

[2021-03-17 20:20] aberres commented on #69676
To the best of my knowledge there is so far no built in way for GKE.

We are using `https://github.com/xing/kubernetes-oom-event-generator` in combination with alerting on a metric.
Just be aware: This only works if the main process is killed and the POD gets evicted. If a subprocess (like a gunicorn worker) is nuked you need to rely on the logging of your running application. See e.g. https://git

[2021-03-17 20:21] andrewsykim commented on #49402
/triage accepted

[2021-03-17 20:22] andrewsykim commented on #45594
/assign @cheftako
/triage accepted

[2021-03-17 20:22] andrewsykim commented on #39423
/triage accepted

[2021-03-17 20:23] andrewsykim commented on #25368
/assign @ayberk
/triage accepted

[2021-03-17 20:24] andrewsykim commented on #20472
/triage accepted
/assign @cheftako

[2021-03-17 20:24] andrewsykim commented on #18396
/assign @jpbetz
/triage accepted

[2021-03-17 20:50] spiffxp commented on #98326
https://github.com/kubernetes/kubernetes/pull/99698 will close this out by adding a blocking test and docs to test/e2e/README.md

[2021-03-17 20:51] jr0d opened #100349 "[kubeadm] etcd upgrade failure when ImageTag contains build metadata"
# Greetings!

#### What happened:
When attempting to upgrade kubernetes using kubeadm upgrade apply, kubeadm fails to parse an etcd imagetag containing build metadata in the form of `version_metadata` as a valid semver.

An example upgrade produces an error similar to:
[code]
Note this will occur even if the etcd version is unchanged.

#### What you expected to happen:
The `_` should be converted

[2021-03-17 21:14] jr0d commented on #100349
/sig cluster-lifecycle

[2021-03-17 21:24] Danil-Grigorev commented on #97970
Just wanted to add - having selectors as non-atomic values has is a high security vulnerability for operators which use this method. Whoever may reschedule high privileged pod on a specific Node, and if the pod security is compromised, attack er will gain unrestricted access to control-plane node for example.

[2021-03-17 21:49] apelisse commented on #39188
With regards to port name aliasing (which I think is related to the second part of that issue's name, "wrong merge key"), the semantics going forward for this list is that the associative key is `[port, protocol]`, which will make it impossible for people to use the"name aliasing", i.e. two identical ports (same port/protocol pair) with the same name.

SSA will not work with this, and field manage

[2021-03-17 21:57] lukeschlather commented on #69676
What is the component that actually OOMkills the container for going over the memory limit? Can that component simply log something? Where would that log go in GKE? The kubernetes apiserver logs? The node logs?

It seems like a lot of the related issues to this one get bogged down in how to deal with pathological cases (stuff getting killed by the kernel rather than simply getting killed for going

[2021-03-17 22:24] zshihang commented on #100344
[code]

looks like the coredns version naming change to be prefixed with v in https://github.com/kubernetes/kubernetes/pull/99752

[2021-03-18 00:00] neolit123 commented on #100349
/area kubeadm

[2021-03-18 00:00] neolit123 commented on #100349
/triage accepted

[2021-03-18 00:09] roycaihw commented on #99181
Having a low-priority access mutex ('L') means at least the requests within one custom resource will block each other. Need to reason about what regression we are introducing here (compared to the existing code, where most part of a request's lifecycle is parallelized). We don't want { do stuff } to be the entire lifecycle of a CR request.

[2021-03-18 00:11] dims commented on #98326
Nice work @spiffxp ... that jq stuff is something :)

[2021-03-18 00:50] vsxen commented on #100328
by the way, I konw it because had seen a issue about `systemd & docker` in my cluster

when I run `docker run -it --rm ubuntu bash` it will  hang,
when I run `docker run -itd nginx`, then docker ps  will show `Created`

systemd-logind
[code]

I search with google and change `max_replies_per_connection ` in `/etc/dbus-1/session.conf` file. (see mail list)

Also  I find  polkit & dbus has some error

[2021-03-18 00:50] #95684 closed

[2021-03-18 02:02] pacoxu commented on #100344
It is similar to #97919.

[2021-03-18 02:26] Purushotham233 commented on #87249
Facing a similar interference issue, cpu throttling reported for containers with integer in Guaranteed Pods. In our case the same node runs other Burstable and Guaranteed but fractional cpu containers.

Any inputs on the solve/workaround ?
@pperiyasamy @ipuustin

[2021-03-18 02:35] chenyw1990 commented on #100277
mark

[2021-03-18 02:38] pacoxu commented on #7961
@vinayakankugoyal
Thanks for the information.

You can comment with `/assign` even not a member. (or open issue https://github.com/kubernetes/org/issues to join the org 🎉)

[2021-03-18 03:20] jingxu97 commented on #100192
cc @smarterclayton @janetkuo

[2021-03-18 03:50] CaoDonghui123 commented on #100342
/assign

[2021-03-18 04:20] rushikeshpatil1007 opened #100358 "Vulenrability Name : Click jacking"
Vulenrability Description :

Clickjacking (User Interface redress attack, UI redress attack, UI redressing) is a malicious technique of tricking a Web user into clicking on something different from what the user perceives they are clicking on, thus potentially revealing confidential information or taking control of their computer while clicking on seemingly innocuous web pages.

The server didn't

[2021-03-18 04:54] #95637 closed

[2021-03-18 05:23] starchx commented on #66430
It is probably because one of the resources in a.yaml is referencing `cattle-system` namespace. The namespace will be kept in track and used for pruning:

https://github.com/kubernetes/kubernetes/blob/e22e9b4f836a401c61d1967300e853c9de0ffb36/staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go#L645

[2021-03-18 05:34] vinayakankugoyal commented on #7961
/assign
@pacoxu - I don't have an outside of google member to sponsor me yet. I am hoping to join the org one day!

[2021-03-18 05:55] #92959 closed

[2021-03-18 06:24] antaloala commented on #100151
Thanks a lot @liggitt for so clear explanation

[2021-03-18 06:24] wzshiming commented on #100328
This seems to be a issue with too many dbus connections, which is different from this issue

[2021-03-18 06:56] #89310 closed

[2021-03-18 07:34] fujitatomoya commented on #86539
related to:

- https://github.com/kubernetes/enhancements/issues/1948
- https://github.com/kubernetes/enhancements/pull/1949

[2021-03-18 07:53] oldthreefeng commented on #88333
same issue . I dont have any idea to fixed this.

[2021-03-18 08:15] srinathmatti commented on #100328
I know we can restart kubelet which will fix the issue but for time being, the environment where we are running this cluster will go in lockdown and we would not will be able to access / fix things

[2021-03-18 08:20] qingwave commented on #100340
It's a issue of [keda](https://github.com/kedacore/keda/issues) not the kubernetes

[2021-03-18 08:44] wzshiming commented on #100328
The part affected by dbus
- [ ] runc https://github.com/opencontainers/runc/pull/2862
- [ ] graceful node shutdown feature

[2021-03-18 08:57] adisky commented on #86843
/sig node

[2021-03-18 09:26] sunnoy opened #100365 "Container resource limit does not work"
The set memory limit is 4g ，But using more than 6g

![image](https://user-images.githubusercontent.com/19342276/111603147-04b83480-880f-11eb-95ff-b824df02f80b.png)

![image](https://user-images.githubusercontent.com/19342276/111603217-17cb0480-880f-11eb-9654-65ff016a9c75.png)

[2021-03-18 09:27] sunnoy commented on #100365
/sig apps

[2021-03-18 09:37] pyjlwc2016 opened #100366 "how to close serviceaccount/token fuction"
2021/03/18 16:40:53 Using namespace: kube-system
2021/03/18 16:40:53 Using in-cluster config to connect to apiserver
2021/03/18 16:40:53 Could not init in cluster config: open /var/run/secrets/kubernetes.io/serviceaccount/token: The system cannot find the path specified.
panic: could not create client config

[2021-03-18 10:04] invidian commented on #84298
/remove-lifecycle rotten

[2021-03-18 10:18] Korijn commented on #99061
This broke our cluster on upgrade as well. This breaking change is not noted anywhere in changelog/deprecation guides.

[2021-03-18 10:43] dims opened #100367 "Fixes for Deprecation of io/ioutil (in Go 1.16)"
Please see https://golang.org/doc/go1.16#ioutil

We have a lot of references to `ioutil` which we need to migrate to newer package(s) mentioned in the url above:
https://cs.k8s.io/?q=io%2Fioutil&i=nope&files=.*%5C.go&excludeFiles=&repos=kubernetes/kubernetes

We also need some verify scripts to ensure we don't add back this package

/area code-organization

[2021-03-18 10:44] dims commented on #100367
/sig architecture

(seems like this cuts across everything!)

[2021-03-18 11:44] harshanarayana commented on #100367
@dims  mind if I take a look at this ?

/assign @harshanarayana

[2021-03-18 12:02] lainosantos commented on #92594
Hello, I have been using Glusterfs + Heketi with TLS in Management and I / O Path, everything is ok. The only change was trusting the CA certificate on the kubernete hosts.

[2021-03-18 12:02] lainosantos commented on #92594
Hello, I have been using Glusterfs + Heketi with TLS in Management and I / O Path, everything is ok. The only change was trusting the CA certificate on the kubernetes hosts.

[2021-03-18 12:03] lainosantos commented on #92594
Hello, I have been using Glusterfs + Heketi with TLS in Management and I/O Path, everything is ok. The only change was trusting the CA certificate on the kubernete hosts.

[2021-03-18 12:08] dims commented on #100367
Ack @liggitt !

[2021-03-18 12:24] adtac commented on #94285
/remove-lifecycle stale

[2021-03-18 12:33] adtac commented on #94404
@henrjan yes, this is still valid.

@rajpratyush I recommend starting with the [contributor's guide](https://www.kubernetes.dev/docs/guide/) and reading from there.

[2021-03-18 12:33] adtac commented on #93795
@rajpratyush I recommend starting with the [contributor's guide](https://www.kubernetes.dev/docs/guide/) and reading from there.

[2021-03-18 12:37] dims opened #100371 "[1.22] Revert Revert "Promote SizeMemoryBackedVolumeSizing to beta""
When master opens up for `v1.22`, we need to add this back in:
https://github.com/kubernetes/kubernetes/pull/100346

/sig node

[2021-03-18 13:32] dims commented on #86843
cc @shubheksha

[2021-03-18 13:49] alculquicondor commented on #99497
cc @soltysh

[2021-03-18 14:00] wzshiming commented on #100365
Do you have a way to reproduce it?

[2021-03-18 14:02] liggitt commented on #99061
@andyzhangx, https://github.com/kubernetes/kubernetes/pull/97417 was a breaking change that should not have been merged. In all prior releases, the in-tree driver used the pod namespace and PVC namespace for locating secrets:

1.10:

https://github.com/kubernetes/kubernetes/blob/f170ef66340f6355d331ed90902574ff0532a20a/pkg/volume/azure_file/azure_file.go#L112
https://github.com/kubernetes/kubernet

[2021-03-18 14:03] liggitt commented on #99061
the csi translation library change in https://github.com/kubernetes/kubernetes/pull/97877/files#r596900593 may need adjustment as well

[2021-03-18 14:10] liggitt commented on #99061
cc @msau42

[2021-03-18 14:11] harshanarayana commented on #100367
@dims  For the script to verify the and ensure we don't add this back again, can I modify the existing `importverifier` toolchain to add a new `disallowedImports` field  with similar behavior support as that of `allowedImports` ?

[2021-03-18 14:14] liggitt commented on #100367
ioutil is extremely widely used, and is not actually a problem to continue using... make sure the importverifier doesn't complain if we depend on it transitively via a vendored dependency

[2021-03-18 14:16] harshanarayana commented on #100367
@liggitt Sure. I will keep that in mind.  I will enable this as a soft warning behavior if that is all right with everyone so that we can warn them but not fail the check right-away. Once we decide to enforce it, we can switch the config to fail the checks.

[2021-03-18 14:24] arek-jamanskiy opened #100372 "audit on configmap changes"
#### What would you like to be added:
configmap needs to have not only creationTimestamp, but also the last patching timestamp.
Better to have the ability to get all the history of the changes together with the historical values.

#### Why is this needed:
Such feature will help to investigate possible incidents, it also may allow rollbacks.

Now there is no possibility to investigate any incidents

[2021-03-18 14:39] dims commented on #100367
@liggitt ack on the warn/verify we can deal with that later (i'll check on possibilities). let's focus this issue to just the bulk replace

[2021-03-18 14:55] harshanarayana commented on #100367
Ack.  Thanks @dims  @liggitt

[2021-03-18 16:05] NovaHe commented on #100366
Maybe [automountServiceAccountToken](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-the-default-service-account-to-access-the-api-server) can help you
[code]

[2021-03-18 16:27] YanzhaoLi opened #100374 "pause container has seccomp=unconfined if pod were specified docker/default annotation"
#### What happened:
The Pod yaml is:
[code]
The `/pause` container for this pod has `seccomp=unconfined`

#### What you expected to happen:

IMO, as this [pr](https://github.com/kubernetes/kubernetes/pull/90948) shows, pod sandbox should always have `seccomp=runtime/default`

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

[2021-03-18 18:07] #95431 closed

[2021-03-18 18:07] #95433 closed

[2021-03-18 18:07] #94921 closed

[2021-03-18 18:07] #95079 closed

[2021-03-18 18:08] ehashman commented on #98326
/triage accepted

[2021-03-18 18:29] neolit123 commented on #100372
/sig api-machinery

[2021-03-18 18:30] neolit123 commented on #100374
/sig auth security

[2021-03-18 18:31] neolit123 commented on #100358
@kubernetes/sig-docs-en-owners
@kubernetes/sig-security

/sig security docs

[2021-03-18 18:33] neolit123 commented on #100366
please use the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you find a bug open a new issue.
/kind support
/close

[2021-03-18 18:33] #100366 closed

[2021-03-18 18:39] sftim commented on #100358
Hi @rushikeshpatil1007

Could you explain the risk that needs addressing? The steps-to-reproduce didn't make sense when I read them.

[2021-03-18 19:08] #94094 closed

[2021-03-18 19:08] #94328 closed

[2021-03-18 19:08] #94419 closed

[2021-03-18 19:08] #94849 closed

[2021-03-18 19:08] #93668 closed

[2021-03-18 19:19] #98326 closed

[2021-03-18 19:23] marosset commented on #99128
It looks like runtime classes are not compatible with dockershim FYI @jayunit100 @ravisantoshgudimetla
https://kubernetes.io/docs/concepts/containers/runtime-class/#dockershim

We still maintain test jobs that test dockershim clusters to ensure patch versions for v1.18-v1.20 don't container regressions.

[2021-03-18 19:23] marosset commented on #99128
/area test
/priority long-term

[2021-03-18 19:26] marosset commented on #99128
I was getting errors like
`Error: windows-2019 failed to create kubernetes rest client for update of resource: resource [node.k8s.io/v1/RuntimeClass] isn't valid for cluster, check the APIVersion and Kind fields are valid.`

[2021-03-18 19:28] BenTheElder commented on #99881
https://github.com/kubernetes/kubernetes/pull/100368 fixes most of the unit tests (not my PR). The one remaining is `k8s.io/kubernetes/pkg/volume/csi` `TestAttacherMountDevice` which fails with no logs.

[2021-03-18 19:35] dcbw commented on #100309
Giving kubelet a specific CNI config to pick up prevents the (perhaps uncommon) practice of changing network plugins in clusters from a default to another plugin, which I know people do.

And if/until Kube grows some kind of multi-network awareness, this is the job of the runtime itself (crio, containerd, docker) these days, not kubelet.

[2021-03-18 19:37] dcbw commented on #96018
@mskrocki ping? If we can get a ruleset from iptables-restore we can figure out where the hotspots are.

[2021-03-18 19:41] mskrocki commented on #96018
I dont have that one exactly. What about the one I linked above, I dont think it will be any different.

[2021-03-18 19:46] dcbw commented on #100212
@canuysal Kubernetes does not support port ranges for containers. Which is probably what you're running into; after the initial control connection on 554 the randomly assigned port is not being forwarded between camera + container. The port cannot be added after the container is started becuase (depending on the network plugin) they may not be able to dynamically update the ports on-the-fly. And y

[2021-03-18 20:07] thockin commented on #100313
Do we need to get this into 1.21 ?

[2021-03-18 20:11] caesarxuchao commented on #73698
/triage accepted

[2021-03-18 20:12] caesarxuchao commented on #100296
/triage accepted

[2021-03-18 20:14] caesarxuchao commented on #100372
/cc @tallclair do you know if the audit log already supports this?

[2021-03-18 20:28] thockin commented on #100212
And practically I don't see how it could.  There are two ways to look at this: static and dynamic.

Static: If we allowed pod port ranges, you could ask kubelet to map N incoming ports on the node to N  target ports on the pod.  The node only has 64K UDP ports available, so scheduling multiple pods that want this would be difficult and wasteful

Dynamic: We would need to detect a new connection an

[2021-03-18 20:31] caesarxuchao commented on #87615
Thanks @kevinwang15, @povsister. I'll take a look later this week.

[2021-03-18 20:31] thockin commented on #99712
Do we have updates or news on this?

[2021-03-18 20:38] prameshj commented on #99712
Then node-local-dns should not be on the datapath right? Not sure I understand what the issue is. Any packet captures you can share in scenario where NodeLocalDNS is enabled vs not?

[2021-03-18 20:41] thockin commented on #99299
@andrewsykim is working on better handling of terminating pods.  It's not clear that is happening here.

It might be worthwhile to spend some time inspecting the code and adding logs and/or metrics that might be useful to catch this in the wild...

[2021-03-18 20:42] thockin commented on #99268
@cuttingedge1109 ping

[2021-03-18 20:42] #99113 closed

[2021-03-18 20:42] thockin commented on #99018
ping @jayunit100

[2021-03-18 20:43] thockin commented on #98758
@prameshj Are we tracking this as a bug, as a feature request, or is it still needing triage?

[2021-03-18 20:44] thockin commented on #98570
@robscott @prameshj do we have a plan here?  More investigation or not?

[2021-03-18 20:45] prameshj commented on #98758
Actually this is is Working as Intended.. so if configuring the rule documented in https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/README.md#network-policy-and-dns-connectivity works, then this can be closed, IMO.

[2021-03-18 20:45] thockin commented on #98411
What's next on this?

[2021-03-18 20:47] #73760 closed

[2021-03-18 20:48] thockin commented on #58624
Accepting this - not committing to DOING it, but it doesn't need triage

[2021-03-18 20:48] andrei-verdes commented on #100296
@jouros logs should be in `/var/log/kube-apiserver.log` , probably need to create a volume for that.

[2021-03-18 20:49] caseydavenport commented on #100212
I agree Tim - this sounds like a limitation in the networking mode that's being used (i.e., outside of Kubernetes and not a bug).

Mailing list sounds like a good place to continue discussion, but I'd expect that using a network mode that gives pods real routable IP addresses (there are a bunch of options depending on your environment) would work here.

I would guess you can probably make this sce

[2021-03-18 20:55] sebsoto opened #100384 "Windows kube-proxy panics after a LoadBalancer service is created"
#### What happened:
kube-proxy panics when a LoadBalancer service is created after a deployment it is associated with is created and the pods are fully running.

#### What you expected to happen:
kube-proxy does not panic.
#### How to reproduce it (as minimally and precisely as possible):
1) Create 2 Windows nodes
[code]
2) Create a deployment, ensuring that the pods are scheduled on different nod

[2021-03-18 20:57] robscott commented on #100313
I'm not sure. It would be nice, but I don't think it's necessarily a release blocker. I'm happy to make a PR if we think it could make it in as a bug fix, but I think the diff could get relatively large.

[2021-03-18 20:59] aravindhp commented on #100384
/sig windows

[2021-03-18 21:00] prameshj commented on #98570
I think the next step here is to try and repro on GKE - 1.18 with the steps in https://github.com/kubernetes/kubernetes/issues/98570#issuecomment-769743964

I agree, the issue looks like propagation delay of endpoint IP to DNS records. If it is DNS, I would expect kube-dns to recover faster since it does not cache NXDOMAIN, but coreDNS would for [upto 30s](https://github.com/kubernetes/kubernetes/

[2021-03-18 21:13] thockin commented on #99299
This could be a fun way to learn more about kube-proxy internals for someone...

[2021-03-18 21:14] thockin commented on #99299
@aojea volunteers to help if someone picks this up

[2021-03-18 21:30] bridgetkromhout commented on #46508
Discussed at sig-network meeting on March 18, 2021.

[2021-03-18 21:37] thockin commented on #98577
If you run this on an endpointslice-enabled proxy, the removal of the label from Endpoints SHOULD propagate to EndpointSlice.  Can we confirm that?  If not, we should fix that.

[2021-03-18 21:44] jsturtevant commented on #100384
@sbangari @daschott are you aware of anything happening here?

[2021-03-18 22:54] aojea commented on #100220
checking in

3 days without failures here
https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&include-filter-by-regex=HostPort%20validates%20that%20there%20is%20no%20conflict&width=5

seems to be slowing down here too
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=HostPort%20validates%20that%20there%20is%20no%20conflict%20between%20pods&xjob=kops%7Cci-kub

[2021-03-18 23:03] matteoolivi commented on #53459
+1 for this proposal, it would be extremely helpful

[2021-03-18 23:06] jayunit100 commented on #99018
Ok, looking back,
- why are we still using `docker` for these tests ?
- do we need to update test-grid for these  ?
- are people ok with making the test more self-explanatory as noted above?

[2021-03-18 23:10] aojea commented on #100134
Folks I'm closing this, only 1 failure since jan18, more than 60 runs
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness&width=90&include-filter-by-regex=Conntrack.*ClusterIP

/close

[2021-03-18 23:10] #100134 closed

[2021-03-18 23:11] Huang-Wei commented on #93591
/remove-lifecycle stale

[2021-03-18 23:14] aojea commented on #100133
/assign
3 failures in the last 2 weeks
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness&include-filter-by-regex=ExternalName&width=90
/triage accepted

[2021-03-18 23:23] tabbysable commented on #100358
I'm unaware of any features on kubernetes.io that accept private user input where clickjacking would be of interest to an attacker. It's a public website that is totally reasonable for someone to iframe if they want to do so.

Therefore, my opinion is that there's no meaningful security issue here, but ultimately it's up to docs to decide if they want to take any action.

[2021-03-18 23:30] #98647 closed

[2021-03-18 23:30] #98976 closed

[2021-03-18 23:35] maplain commented on #98577
What I did is:
1. create a selector Service and an Endpoint with two Pods manually populated;
2. The Endpoint has the label `service.kubernetes.io/service-proxy-name: others` applied;
[code]
3. Verify the Service is not accessible, and the EndpointSlice has the label too
[code]

4. `kubectl edit` to update the Endpoint to remove the label. Found out the label is still on the EndpointSlice. In fact

[2021-03-18 23:42] aojea commented on #100135
/close

only 1 occurrence in 1 job in 2 months
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness&include-filter-by-regex=based%20session%20affinity&width=5

we should have min 2 occurrences to declare a flaky

[2021-03-18 23:42] #100135 closed

[2021-03-18 23:44] aojea commented on #100132
@swetharepakula weren't you working in this test in another issue? or am I mixing things?

[2021-03-18 23:49] aojea commented on #98577
We fixed that only 10 days ago https://github.com/kubernetes/kubernetes/pull/98116/commits/c421e22e2c6aa4d3fbe3abd7feb0035361539d22 :)

[2021-03-18 23:55] liggitt commented on #98182
Looks like it's pretty solidly failing on other release branches as well - https://github.com/kubernetes/kubernetes/pull/100380#issuecomment-802382245

did something get fixed in master and not propagated to release branches?

[2021-03-19 00:00] serathius commented on #99802
/reopen
@BenTheElder I looked through logs of one of the jobs https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-json-logging/1372319984549629952/artifacts/logs/kind-control-plane/kubelet.log
Looks like json format is not correctly configured. Do you know what can be missing?

[2021-03-19 00:00] swetharepakula commented on #100132
The one I was looking into is https://github.com/kubernetes/kubernetes/issues/93932. I don't think they are having the same problem. That test was failing because time it took for loadbalancer recreations for larger clusters.

[2021-03-19 00:04] aojea commented on #99018
yeah, well, that is the so called "maintenance" :)

[2021-03-19 00:09] jsturtevant opened #100388 "Add an e2e test for UNC paths windows when using gMSA"
#### What happened:
There was a regression in containerd that required a fix for gmsa working with UNC paths. See the fix at https://github.com/kubernetes-sigs/windows-gmsa/issues/30#event-4479102851

#### What you expected to happen:
We should have a test that validates this functionality.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

S

[2021-03-19 00:10] maplain commented on #98577
Looks like it's already fixed by @aojea, and it'll be included in 1.21.

I'll test it once 21 is out of the door. Meanwhile, feel free to close this one.

[2021-03-19 00:10] maplain commented on #98577
Looks like it's already fixed by @aojea, and it'll be included in 1.21.

I'll test it once 21 is out of the door. Meanwhile, feel free to close this one. @jayunit100

[2021-03-19 00:11] jsturtevant commented on #100388
/priority important-longterm

[2021-03-19 00:13] jayunit100 commented on #99018
## relaying discussion from sig-network today

ok, so i guess at the next sig-network meeting we need to make a call ~ i.e.  does someone want to maintain IPVS on testgrid, or not.  IF not i guess as @aojea suggested - we need to make a long term plan on wether its part of the overall tested/supported matrix.

[2021-03-19 00:14] swetharepakula commented on #100132
Looking at the test logs:

The service reachability fails at `Mar 10 12:54:33.113` :
[code]
but the pod creations, according the events, happened after the timeout (`Mar 10 12:54:33.287`)
[code]

I am not sure how to investigate this further.

[2021-03-19 00:15] unixfox commented on #57291
/remove-lifecycle stale

[2021-03-19 00:15] aojea commented on #100132
/close
Thanks @swetharepakula for investigating it, it also only failed once in the last 2 months
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness&include-filter-by-regex=NodePort%20listening&width=5
We are going to close until we have more failures, there was an issue fixed recently causing pods to time out, I can't find the reference right  now

[2021-03-19 00:15] #100132 closed

[2021-03-19 00:29] robscott commented on #98577
@aojea I think it makes sense to backport this. It looks like the fix would be helpful for at least this use case, and possibly others.

[2021-03-19 02:18] ganlei333 opened #100389 "debian10 containerd1.4.4 Unable to adapt k8s 1.20.4"
operating system: debian10
k8s:1.20.4
containerd:1.4.4
Binary deployment

Error: failed to create containerd task: OCI runtime create failed: container_linux.go:370: starting container process caused: process_linux.go:459: container init caused: process_linux.go:422: setting cgroup config for procHooks process caused: failed to write "1" to "/sys/fs/cgroup/memory/system.slice/containerd.service/ku

[2021-03-19 02:19] liggitt commented on #100374
/sig node

[2021-03-19 02:20] liggitt commented on #100365
/remove-sig apps
/sig node

[2021-03-19 02:37] pacoxu commented on #100374
/assign
Let me debug on this.

[2021-03-19 02:40] pacoxu commented on #100389
/sig node

[2021-03-19 02:56] pacoxu commented on #100340
Not even a keda problem as https://github.com/kedacore/keda/blob/e3ea0f76487c1e9c667b7d9937fa1ffc11b58f32/config/metrics-server/role_binding.yaml#L18-L29

/remove-kind bug
/kind support

/close
reopen if it can be confirmed to be a kube issue.

[2021-03-19 02:56] #100340 closed

[2021-03-19 03:16] #94012 closed

[2021-03-19 03:16] sunnoy commented on #100365
cup is easy to reproduce, memory is not easy to reproduce

env
centos 7.6
k8s 1.18

[2021-03-19 03:42] pacoxu commented on #98411
I wrote a document for kubeadm installation in https://github.com/kubernetes/website/pull/26675 on how to enable dual-stack via kubeadm.

[2021-03-19 03:51] Iceber commented on #100389
https://github.com/opencontainers/runc/pull/2812 improves runc error reporting in cases where memory limit is set too low.

[2021-03-19 03:52] YanzhaoLi commented on #100374
Sorry  @pacoxu .  It might be due to the failed scanning tool.

[2021-03-19 03:52] #100374 closed

[2021-03-19 04:07] mansikulkarni96 commented on #98704
/retitle "kubectl top node" does not return resource usage for Windows nodes

[2021-03-19 04:08] #98411 closed

[2021-03-19 05:32] akshaysharama opened #100390 "How to monitor CPU and MEM usage of pods running in K8S and push to monitor application"
I want to monitor CPU and MEM usage of pods and fed the metrics to monitor application, specially prometheus.
does there any application for it or apis?

[2021-03-19 05:59] pacoxu commented on #99624
As some comments in https://github.com/kubernetes/kubernetes/pull/99639#issuecomment-792628163, the `running pod` have a different meanings between `CRI` and `kubectl`.

[2021-03-19 06:21] uablrek commented on #99018
For the problem reported in this issue I must check if `internalTrafficPolicy: PreferLocal` really helps as described in https://github.com/kubernetes/kubernetes/pull/97081#discussion_r568101316.

If not, I would like https://github.com/kubernetes/kubernetes/pull/97081 to be reconsidered.

The more general discussions about proxy-mode=ipvs maintencance should be taken else where IMHO.

[2021-03-19 06:26] uablrek commented on #99018
And BTW we have a use-case where proxy-mode=ipvs works but proxy-mode=iptables doesn't;

Source-based policy routing can be used, like: "all traffic _from_ a loadBalancer ip routed to oam-router".

In some setups this can replace _very many_ destination routing rules. However this works _only_ with proxy-mode=ipvs since the reversed NAT is made before the routing decision.

[2021-03-19 06:30] BenTheElder commented on #100367
Most of the methods in ioutil have relatively simple implementations that seem stable, doubly so if it's deprecated 🙃
If go isn't planning to remove this package any time soon I'm also not sure it's worth the cost of forcing library consumers to use go1.16+?

[2021-03-19 06:30] BenTheElder commented on #100342
/sig testing
/sig cloud-provider

[2021-03-19 06:30] BenTheElder commented on #100342
/triage accepted

[2021-03-19 06:33] rushikeshpatil1007 commented on #100358
The user assumes that they're entering their information into a usual form
but they're actually entering it in fields the hacker has overlaid on the
UI. Hackers will target passwords, credit card numbers and any other
valuable data they can exploit

On Thu, Mar 18, 2021 at 7:23 PM Tabitha Sable ***@***.***>
wrote:

[2021-03-19 06:36] BenTheElder commented on #100336
This seems like the sort of thing that human approval covers. Whoever can approve the kubelet binary sources can approve adding flags.

A comment / docs seems sufficient for providing "just a notice" and takes zero maintenance / zero runtime cost.

[2021-03-19 07:38] canuysal commented on #100212
I tried same thing with a docker container, without kubernetes and it works(no host network). Shouldn't it work on kubernetes as well? I know I said It's not a k8s issue but this led me to think otherwise.

There is also this [issue](https://github.com/kubernetes/kubernetes/issues/94561) which is closed by a workaround,
This unanswered and deleted [stackoverflow question](https://webcache.googleus

[2021-03-19 07:39] canuysal commented on #100212
/reopen

[2021-03-19 07:47] harche commented on #99624
Yeah. But then that means `kubelet_running_pods` metric ends up misleading the user. Would it be possible to use API Pod instead of runtime pod?

[2021-03-19 08:55] LeeDustin opened #100391 "Using service principal to mount azure file as a persistent volume"
Currently the standard way of setting the PV on static azure files, i.e. create storage account and fileshare, create secret using the account name and secret of the storage account, then create the PV as below:

[code]

I am now wondering whether I can use service principal instead of the azure secret using storage account name and key to access the azure files.

Using secret means having access

[2021-03-19 08:57] LeeDustin commented on #100391
/sig auth

[2021-03-19 09:20] lubronzhan commented on #92496
@andyzhangx Sorry I missed the message. I turned it on by running
[code]

This depends on whether the base windows image has this `VDS_SP_OFFLINE_SHARED` flag on https://docs.microsoft.com/en-us/windows/win32/api/vds/ne-vds-vds_san_policy.
In my windows image, it was `VDS_SP_OFFLINE_SHARED` instead of `VDS_SP_ONLINE`.

I think we should enable it by default or at least document it if customer use

[2021-03-19 09:22] pacoxu commented on #99803
date +"%s"  && systemctl start kubelet && sleep 3600 && systemctl stop kubelet && date +"%s"

version & config | log size | lines
-- | -- | --
1.21 --v 4 --logging-format json | 140M -rw-r--r--. 1 root root 140M Mar 19 17:18 all-kubelet.log  | 293600
1.21 --v 4 | |
1.20 --v 4 | |
1.21 --logging-format json  | |
1.21 default  | |
1.20 default  | |

[2021-03-19 09:32] wy2249 commented on #99605
Hi, @adtac

This project idea is amazing! When I worked as a SRE intern last summer and tried to experiment and study k8s, I was hoping there is a web simulator to save my time and money! Cluster is expensive... Anyway I am super excited for this one!

Before I dig more into this project, may I have some clarification questions?

Firstly, are we gonna use the scheduler of k8s as pkg for this simul

[2021-03-19 09:48] #98692 closed

[2021-03-19 10:27] channing342 commented on #97100
after upgrade to v1.19.9 is normal now

[code]

![image](https://user-images.githubusercontent.com/4295390/111766680-c9863600-88e0-11eb-98c3-a6aea198cdd7.png)

[2021-03-19 11:23] jouros commented on #100296
I'm still very confused, I followed this <https://stackoverflow.com/questions/44469277/var-log-kube-apiserver-log-not-work-for-kubernetes1-6> where it says that with flags --audit-log-path= and --logtostderr=false I should get kube-apiserver logs. I already have  --audit-log-path=/var/log/kube-audit/audit.json which is writing to host /var/log/kube-audit/audit.json, so I added  --logtostderr=false

[2021-03-19 11:31] jouros commented on #100296
I also tried rep -E --color 'webhook' *.json | grep -Ev 'prometheus'

[code]

[2021-03-19 11:54] adtac commented on #99605
Good questions! I think we should start with a simple version that doesn't involve CRDs. We also don't want to duplicate the scheduler's logic anywhere, so we should use the default k8s one. You can spin a mock API server and a mock scheduler like we do in integration tests to achieve this.

So I think we'll want to simulate the real and complicated scheduler, but we will be restricting what resou

[2021-03-19 11:59] RobertKielty commented on #96068
### Triage Link for this failure
[when querying /stats/summary should report resource usage through the stats api](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=when%20querying%20%2Fstats%2Fsummary%20should%20report%20resource%20usage%20through%20the%20stats%20api)

### Error text
[code]
## Some sample failures
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernete

[2021-03-19 12:08] nepomucen opened #100396 "Usage of LocalStorageCapacityIsolation feature-gate from cluster operator perspective"
#### What happened:
The following question on Stack Overflow brought me here (I'm not the Original Poster):
[How can I better understand the local ephemeral storage configuration on k8s
](https://stackoverflow.com/questions/66435607/how-can-i-better-understand-the-local-ephemeral-storage-configuration-on-k8s)

I agree with OP, when reading documentation related to this specific feature-gate, it's

[2021-03-19 12:39] Frankkkkk commented on #97328
/remove-lifecycle stale

[2021-03-19 12:40] slinstaedt commented on #79224
Stumbled upon this while trying to migrate from docker swarm to kubernetes. I know you guys will hate to hear, but this is one of the few things docker swarm got right 4 years ago. Works exactly as discussed in this thread and also allows to reference docker specific stuff, besides secrets and env vars.

https://blog.sunekeller.dk/2018/04/docker-18-03-config-and-secret-templating/

[2021-03-19 12:42] aojea commented on #99018
Thanks Lars for digging into it, based on your comment we can skip the test as known issue.
We can reenable it once 97081 is solved
https://github.com/kubernetes/test-infra/pull/21447

[2021-03-19 12:52] luispabon commented on #79224
Kubernetes config has grown to a monster in the last 3 years or so, to the point simple things take gigantic yaml objects to express. The lack of this feature is a major part of why this is.

[2021-03-19 13:12] tsmetana commented on #74965
Hello, I'm still hitting the `unknown shorthand flag: 'f' in -f` problem with docker 20.10.5 on x86_64 (Fedora 33 with upgraded moby-engine) no matter what I try. I wonder if it's something in my environment (pretty possible) or having the new docker version is still not sufficient. The `build/run.sh make generated_files && make quick-release-images` simply didn't work for me. I'll keep digging in

[2021-03-19 13:22] andrei-verdes commented on #100296
@jouros
Audit logs are something else: Audit logs record requests made to the Kubernetes API.

There should be another file called `/var/log/kube-apiserver.log` inside that container, you need to create a volume so you can read what's in it after the apiserver crashed.

Just add these to your relevant sections within kube-apiserver.yaml:
[code]

[2021-03-19 13:28] kfirfer opened #100400 "node(s) didn't match pod affinity/anti-affinity description"
From time to time, pods couldn't scheduled on nodes because of affinity/anti-affinity

The event from kubelet example:
[code]

Would be better for traceability and troubleshooting if the event will post also the conflicted pods

[2021-03-19 13:29] kfirfer commented on #100400
/sig scheduling

[2021-03-19 13:56] jouros commented on #100296
Ok, I did:

[code]
root@master1:/var/log# cat kube-apiserver.log
root@master1:/var/log#

Nothing there?

This is k8s.gcr.io/kube-apiserver:v1.20.4

[2021-03-19 13:58] serathius commented on #99803
Are we sure that logs generated like this are comparable? Number of log lines should not change too much between 1.21, 1.20 and enabling json format.

Alternative approach to just running kubelet would be taking logs from our test infrastructure. https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

[2021-03-19 14:00] jouros commented on #100296
I can see that mount in  kubectl describe pod kube-apiserver-master1 -n kube-system
  kube-logs:
    Type:          HostPath (bare host directory volume)
    Path:          /var/log/kube-apiserver.log
    HostPathType:  FileOrCreate

[2021-03-19 14:01] NovaHe commented on #100277
mark

[2021-03-19 14:11] stephan2012 commented on #99712
Right. Not sure what the intention on the design was: Catch all DNS queries and redirect to the cache, or just kube-dns queries?

I'll try to arrange a test setup next week. It should include traffic to the external DNS server, I guess? Anything else?

[2021-03-19 14:19] neolit123 commented on #100390
hi, prometheus can be used for that:
https://itnext.io/k8s-monitor-pod-cpu-and-memory-usage-with-prometheus-28eec6d84729

please use the support forums for more questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
other user can help you there.

/kind support
/close

[2021-03-19 14:19] #100390 closed

[2021-03-19 14:19] alculquicondor commented on #99605
Note that CRDs don't have any effect on the default scheduler.

[2021-03-19 14:25] DanTulovsky commented on #95258
Have you had a chance to find out when GKE might support this fix?

Thank you
Dan

[2021-03-19 14:57] aravindhp commented on #98704
/retitle "kubectl top node" does not return resource usage for Windows nodes

[2021-03-19 15:08] PushkarJ opened #100401 "Moving to a fork for jwt-go with a CVE fix (transient dependency)"
#### What happened:

github.com/dgrijalva/jwt-go v3.2.0 is known to have a [CVE-2020-26160](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-26160) with severity rating as high. This is a dependency for etcd and heketi which is a dependency for kubernetes. Although the vulnerable function `verifyAudience` is not used, because of this dependency chain, security scanners tag kubernetes releas

[2021-03-19 15:19] mindlift commented on #99305
Thanks for the workaround @heilerich. I'm encountering this same issue and the workaround worked for me.

[2021-03-19 15:30] soltysh commented on #100138
Looks like #100345 should be able to help us with this.

[2021-03-19 15:39] sftim commented on #100358
I agree with https://github.com/kubernetes/kubernetes/issues/100358#issuecomment-802380660

To avoid reports like this, the website could serve `X-Frame-Options`. @rushikeshpatil1007 if that's what you'd like to happen, consider filing a report against the docs repository: https://github.com/kubernetes/website/issues/new/choose

I'm happy if no further action is taken with this issue.

[2021-03-19 15:57] caseydavenport commented on #100212
@canuysal sorry - I thought we had determined that this was not a problem with Kubernetes, nor a new enhancement request, and so generally we close issues once that's determined to be the outcome.

How did you configure networking for this container? If the above analysis is correct, the issue has nothing to do with how you launched the container (Docker vs Kubernetes vs something else), rather it

[2021-03-19 16:07] mikedanese commented on #98182
I think we need to cherry pick this:

https://github.com/kubernetes/kubernetes/commit/f85cbdb410d9c3ce26ad6527eb775f6a88554221

[2021-03-19 16:21] serathius opened #100405 "Mark the most volume heavy log lines calls as migrated to structured logging"
#### What would you like to be added:

As part of Alpha of Structured Logging migration we migrated top 22 most volume heavy log lines to structured logging https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging#selecting-most-important-logs.This issue is continuation of this work for Beta.

With mechanism to prevent regressions in directories marke

[2021-03-19 16:24] serathius commented on #100405
FYI this work is outside of scope for 1.21 and should be picked up after code freeze is lifted.

[2021-03-19 16:25] BenTheElder commented on #99802
I will dig into this today

[2021-03-19 16:27] errordeveloper commented on #46508
@bridgetkromhout I can see from the notes that it was discussed, but little info was logged... any chance someone could summarise the SIGs verdict, fi something was indeed decided?

[2021-03-19 16:31] thockin commented on #46508
No decision.

There's some work that feels like it could be adjacent - allowing
multi-CIDR for per-node IPAM, which pretty much demands an API to
expose the CIDRs available.  If we do that, this issue gets solved for
free EXCEPT...

in-cluster IPAM is *not* used everywhere, so an open question remains
- is this new API required (net-new for cloud providers) or optional,
and if optional, does that

[2021-03-19 16:41] serathius commented on #100405
/cc @ehashman

[2021-03-19 16:46] BenTheElder commented on #74965
It should just be the version of docker, the issue is the flag to specify a dockerfile being present in `docker buildx build`. I don't know about moby-engine packaging but that sounds correct, does moby-engine package the client with the server? Given the flag is in the client.

[2021-03-19 16:46] #99018 closed

[2021-03-19 17:05] mikedanese commented on #98182
I ran the cherry pick in https://github.com/kubernetes/kubernetes/pull/100407 manually and it seemed to do the trick.

[2021-03-19 17:12] alculquicondor opened #100408 "Kubelet doesn't check taints"
#### What happened:

The `GeneralPredicates` method doesn't check taints and tolerations.

https://github.com/kubernetes/kubernetes/blob/5ae856c36f2ea338a6f26301e368ef8331ef2e73/pkg/kubelet/lifecycle/predicate.go#L224

This is problematic in 2 scenarios:
- If the users bypass scheduler by setting a value in `.spec.nodeName`
- If the node restarts. The node would try to restart scheduled pods once

[2021-03-19 17:34] BenTheElder commented on #99802
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-json-logging/1372949245488795648/artifacts/kind-config.yaml

We can see that it is propagating `json` to the generated kind cluster config, however none of the kubelet extra args are making it down to kubeadm, presumably they're not merging into the generated extra args.

I will fix this.

[2021-03-19 17:37] tsmetana commented on #74965
The "moby-engine" package on Fedora provides both `/usr/bin/docker` and `/usr/bin/dockerd` and related bits so it should be fine in this regard -- I think docker client refuses to work if it can't contact the server anyway. I assume something else is broken. I'll figure it out (I hope).

[2021-03-19 17:42] bboreham commented on #46508
An optional API would satisfy my original request, so long as, where available, it matches what `kube-proxy` and/or `kube-controller-manager` are using.

In my use-case Kubernetes shouldn't be doing IPAM.

[2021-03-19 17:55] dustinspecker commented on #89107
We were able to fix this problem for us by changing our mtu to 1500. It was originally at 9050.

[2021-03-19 18:02] yuzhiquan commented on #100405
/cc
/cc @shiyajuan123 @qingwave

[2021-03-19 18:02] jsturtevant commented on #100126
Was there a command to diagnose and fix?

[2021-03-19 18:03] shubheksha commented on #100405
Anyone picking this up: feel free to tag me for reviews :)

[2021-03-19 18:37] aravindhp commented on #98704
/assign @mansikulkarni96

[2021-03-19 18:38] Jiawei0227 commented on #99518
So a little summary from CSI migration meeting:

For non CSI migration support vendors:
Mark them as deprecated for 1 year and then we can create a feature gate to disable it by default so that if any existing users are still using them they will be able to get some time fix it. And after two more releases we delete their code.

For 1.22, I will communicate with each in-tree vendors that does not

[2021-03-19 18:39] Timoses commented on #71162
/remove-lifecycle stale

[2021-03-19 19:27] ehashman commented on #100405
/remove-help

Can we please hold off on doing work for the upcoming cycle until the KEP has been updated and we have a WG in place to manage the migration?

This is not yet accepted for 1.22 and will require a KEP.

[2021-03-19 19:47] mcristina422 opened #100413 "api-server panic"
#### What happened:
EKS cluster api server panic'd. Possibly due to an overloaded cluster. If these are expected (due to closed connections etc) please ignore

#### What you expected to happen:
No panics (even if handled)

#### How to reproduce it (as minimally and precisely as possible):
No idea, just found in the cloudwatch logs while investigating scale issues

#### Anything else we need to kno

[2021-03-19 19:47] uablrek commented on #93456
## The CI test for this is temporary disabled

https://github.com/kubernetes/test-infra/pull/21447

## It should be re-enabled when this issue is solved

[2021-03-19 19:54] ingvagabund commented on #99605
This was intention behind building https://github.com/kubernetes-sigs/cluster-capacity. Right now it provides a number of pods what would get scheduled given the current state of a cluster before resources get depleted. With some help, the project can be extended to achieve what's suggested.

[2021-03-19 20:06] IanColdwater commented on #100358
I also agree with [#100358 (comment)](https://github.com/kubernetes/kubernetes/issues/100358#issuecomment-802380660).

For future reference, if you do find a security vulnerability in Kubernetes, public GitHub issues are not the appropriate place to report security vulnerabilities. You can find more information about our vulnerability disclosure process [here](https://kubernetes.io/docs/reference/

[2021-03-19 20:26] mateuszlitwin commented on #98935
Bump?

[2021-03-19 20:31] dtmirizzi commented on #90801
@soltysh Any update on the next gen scheduler?
I have seen daily jobs run days late in my 50~ node cluster.

[2021-03-19 20:31] Ananya-1106 commented on #99605
Hello everyone!
I am new to this but very curious to learn more about this, explore and help. Please guide me with what i should start?

[2021-03-19 20:36] Jeffwan commented on #100153
@fedebongio Yes. I will file a PR to address this

[2021-03-19 20:45] dims commented on #79224
@slinstaedt thanks for the feedback.

@luispabon not sure if you saw this last comment from @liggitt - https://github.com/kubernetes/kubernetes/issues/79224#issuecomment-655551516

[2021-03-19 21:29] talj-us-ibm-com commented on #75565
It is interesting that this issue is closed but there was/is not a resolution.

[2021-03-19 21:33] #95584 closed

[2021-03-19 21:38] bodhi-one opened #100415 "Reopen for issue 75565 (high CPU utilization in Docker for mac desktop)"
https://github.com/kubernetes/kubernetes/issues/75565

Was this issue ever resolved?  It is closed but the symptom is still occurring on Docker for Mac Desktop  with Kubernetes 1.19.7 built in.

#### What happened:

Docker for mac desktop version 3.2.2 (61853)

With kubernetes activated in docker for mac desktop and 4 CPUs setting docker shows ~ 30 % CPU utilization when not doing work with no pod

[2021-03-19 22:34] #95485 closed

[2021-03-19 22:37] adammw commented on #96321
/remove-lifecycle rotten

[2021-03-19 22:37] adammw commented on #96621
/remove-lifecycle rotten

[2021-03-20 00:25] BenTheElder commented on #99802
https://github.com/kubernetes-sigs/kind/pull/2145 should have been the fix but we'll need to confirm still.

[2021-03-20 00:41] yuzhiquan commented on #100152
/assign

[2021-03-20 02:04] jsturtevant commented on #100284
/triage needs-information

[2021-03-20 02:07] jsturtevant commented on #100252
/triage accepted
@chewong do you know if `image-repo-list-2004` is the right one for 20H2 tests?

[2021-03-20 03:05] thejoycekung opened #100419 "[Failing Test] subPath should unmount if pod is force deleted while kubelet is down (ci-kubernetes-gci-gce-serial)"
#### Which jobs are failing:
ci-kubernetes-gci-gce-serial

#### Which test(s) are failing:

- [sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow][LinuxOnly]
- [sig-storage] In-tree Volumes [Driver: gluster] [Testpattern: Pre-provisioned PV (default fs)] subPath should unmount

[2021-03-20 03:09] thejoycekung commented on #100419
/cc @kubernetes/sig-storage-test-failures

[2021-03-20 05:33] #99470 closed

[2021-03-20 07:00] pacoxu commented on #99803
@serathius Need check the log later?
I checked in a master node. I'd like to init a kubeadm master for testing later.
1. clear logs & kubeadm reset
2. config kubelet
3. kubeadm init
4. run for 1-2 hours.
5. stop kubeadm and kubelet
6. collect logs.

My current initial testing is a little strange to me. I will check the logs next Monday and Tuesday.

[2021-03-20 09:45] #83786 closed

[2021-03-20 13:05] canuysal commented on #100212
@caseydavenport thank you. I launched docker container with a regular docker run command, no additional network settings. Is there something different between docker and k8s container network policy that would cause this behaviour?

[2021-03-20 13:16] jayunit100 commented on #100213
should we close this ? its a generic problem in k8s as opposed to one which is specific to network policies....

[2021-03-20 13:33] dean-alphafx commented on #100213
Sure, considering the other ticket has been open since 2005, I don't see this being fixed any time soon.

[2021-03-20 13:44] guyguy333 opened #100420 "HPA: Invalid ScalingLimited status ?"
Hi,

I'm getting some issues with HPA. The issue is not happening on all my deployments on the same cluster and I can't figure out why I have a `ScalingLimited` with `TooFewReplicas` reason whereas I have all my pods running.

#### What happened:

I enabled HPA on all my deployments. Some HPA reports this error:

[code]

whereas deployment pods is the desired value. I guess I shouldn't have `TooFe

[2021-03-20 14:10] jayunit100 opened #100421 "start-apiserver (needs to run as root) gives misleading failure in gce/gci/configure_helper_test.go bc of chown"
#### What happened:

When poking around on a PR reproducer, i found that on my machine w/ zshell as the default, where id migrated some code over from an NFS share, had these failures...  turns out it was related to `chown` failures....  but we dont report that .  easy fix is to just improve the clogging in the clsuter helper stuff. (PR attached)

[code]

#### What you expected to happen:

Bash co

[2021-03-20 14:20] Moumouls commented on #45419
Ok my new deployed cluster was affected by this issue like @lingwooc  it seems that it came from Longhorn project (installed in my cluster).

When i deploy lot of volumes, volumes start to fail randomly and also PLEG error is raised on many nodes.
Following this comment https://github.com/longhorn/longhorn/issues/1210#issuecomment-671689746
My issue was resolved, and  nodes seems to not raise PLEG

[2021-03-20 14:20] jayunit100 commented on #100421
/sig testing

[2021-03-20 14:21] jayunit100 commented on #100421
yeah digging around that `chown` is the culprit... i guess `make test` fails unless your root?

[2021-03-20 15:16] pacoxu commented on #100413
It seems to be the same issues as #97962 which is fixed in v1.19.9(cherry-pick PR #98393).
@sxllwx  would you confirm?

[2021-03-20 15:17] pacoxu commented on #100413
@mcristina422  would you check if there are some other error messages that is the same as #97962  in apiserver logs?

[2021-03-20 15:46] prakhar101 commented on #99605
Hey !!!
I am quite interested in this project and want to do it with my full efforts by making  the utilization of my Kubernetes CKA & CKAD knowledge...So, @adtac sir , can you please provide your  guidance that how I  should proceed....
Thanks  in advance...

[2021-03-20 17:13] NinoFloris commented on #75942
This is still a thing and indeed makes it hard to create frugal clusters.
Will we get an answer other than kicking the can down the road by suppressing auto close bots?

[2021-03-20 17:53] #95568 closed

[2021-03-20 19:22] mcristina422 commented on #100413
Indeed this does look like a duplicate

/close

[2021-03-20 19:23] #100413 closed

[2021-03-20 20:56] #92690 closed

[2021-03-20 21:57] #95449 closed

[2021-03-20 22:37] BenTheElder commented on #99802
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-json-logging/1373397897571209216/artifacts/logs/kind-control-plane/kubelet.log

This is working now:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-json-logging/1373397897571209216

[2021-03-20 23:11] Freundschaft commented on #64924
sorry to comment on a closed topic, but was a global ndots option ever introduced?

[2021-03-21 02:48] BenTheElder commented on #99802
Note: we're currently grabbing the kubelet log using `jounralctl`, so in addition to some lines not being structured in kubelet yet, lines are prefixed with timestamp etc. by systemd. We can alter this if necessary. Currently the e2e does not inspect the log.

[2021-03-21 04:03] #86630 closed

[2021-03-21 05:23] sxllwx commented on #100413
Sorry for the late reply. Reading through the error-reporting Stack, it is indeed duplicated with issue https://github.com/kubernetes/kubernetes/issues/97962.

[2021-03-21 05:42] caesarxuchao commented on #87615
Thank you @KevinWang15 for the great analysis!

I took a look at https://github.com/golang/go/issues/34978 (reopened as https://github.com/golang/go/issues/40213). A brief summary:
* Triggering condition: a connection write error happens after the TLS handshake, but during the [h2 handshake](https://github.com/golang/net/blob/d523dce5a7f4b994f7ed0531dbe44cd8fd803e26/http2/transport.go#L190-L194).

[2021-03-21 05:46] caesarxuchao commented on #87615
@PaulFurtado ^^^^

Did https://github.com/golang/go/issues/34978  play a role in your case? It seems unlikely, since the triggering condition is "a connection write error happens after the TLS handshake, but during the [h2 handshake](https://github.com/golang/net/blob/d523dce5a7f4b994f7ed0531dbe44cd8fd803e26/http2/transport.go#L190-L194)".

[2021-03-21 06:05] zimmski commented on #95750
@JornShen can you give me some guidance on how to try out a MR on a production cluster? Do i have to build and pack everything by hand? Can you pinpoint me to the documentation?

Can you explain what you mean and how i can very what you need to know?

[2021-03-21 06:41] amitlevy21 commented on #88454
@zhouya0 still getting this error when try to apply a deployment or service with a name that has underscores

[code]

This is the kubectl client I'm using, latest stable:
[code]

Is this commit included in latest stable release? or the fix only applies for the image name? I can't use underscore for container names and metadata.name fields?

[2021-03-21 07:02] Swee1997 opened #100426 "Setting up a k8 cluster using kubeadm init in an offline/air-gapped environment"
Hi friends, I am trying to set up a k8 cluster in my work office in an offline environment, a.k.a nodes/PC in the cluster having no internet access. OS I am using is ubuntu 20.04 and calico for the networking.

Is there any things that I would need to change/add (like config files) when running
**kubeadm init --apiserver-advertise-address=$MY_IP_ADDRESS --pod-network-cidr=192.168.0.0/16  --ignore-

[2021-03-21 07:10] Swee1997 commented on #100426
/sig Network

[2021-03-21 07:18] anaconda2196 opened #100427 "http2: no cached connection was available"
Kubernetes Version: 1.17.4
metricbeat pod running on k8s nodes are overconsuming CPU.

[code]

Thanks in Advance.

[2021-03-21 09:08] #95695 closed

[2021-03-21 10:58] mlkmhd commented on #54918
none of the above solutions didn't worked for me.
I found out that my server does not have default route!

[code]

so I added the default gateway by the following command:
[code]

right now the `iptables` works fine

[2021-03-21 10:58] mlkmhd commented on #94188
none of the above solutions didn't worked for me.
I found out that my server does not have default route!

[code]

so I added the default gateway by the following command:
[code]

right now the `iptables` works fine

[2021-03-21 11:10] #95751 closed

[2021-03-21 11:10] #92620 closed

[2021-03-21 12:38] MyungChi opened #100432 "Cann't access API server from PODs"
I install and configured MetalLB on Kubernetes cluster. Then try to create LoadBalancer Type service.
( NodePort type service is working well. )

But, EXTERNAL-IP is pending status.

I got below error on MetalLB controller pod. Somebody can help to resolve this issues.

I also have simular issue when I try to install nginx ingress-controller.

    # kubectl logs controller-65db86ddc6-4hkdn -n meta

[2021-03-21 12:57] syntapy commented on #7923
/remove-lifecycle stale

[2021-03-21 12:58] syntapy commented on #7923
/remove-lifecycle frozen

[2021-03-21 13:50] jayunit100 commented on #100426
/assign @dougsland

[2021-03-21 13:54] jayunit100 commented on #100212
/assign @dougsland

[2021-03-21 14:34] Kappie37 commented on #100388
/assign

[2021-03-21 14:44] almas33 commented on #94404
@henrjan are you still working on this issue or should I work on it.

[2021-03-21 14:58] almas33 commented on #93795
Hi @adtac are you suggesting that name of workloads should be different for each test case  .
eg:-
`workloads:
  - name: 500Nodes_SchedulingSecrets`

[2021-03-21 15:37] mandala23 opened #100434 "Node Port not exposed on all nodes of the cluster"
I recently installed Kubernetes on 3-nodes Centos8 Stream running on vmware ESXi with the following configuration

v1.20 Kubernetes with Docker 19.03.13
Each Node with 3 network card : one wiht default route and used for bootstrapping cluster, one used for haproxy and the last for keepalived.
The last network card have same MAC address on all host: it is used for keepalived to mount this interface

[2021-03-21 15:47] mandala23 commented on #100434
/sig network

[2021-03-21 15:49] KevinWang15 commented on #87615
Hi, @caesarxuchao thanks for the summary!
Actually, in my experiment [documented here](https://github.com/kubernetes/kubernetes/issues/87615#issuecomment-800302487),
I could see repeated logs of "use of closed network connection", the logs are 100% matching.

The way I reproduced this issue is indeed very artificial, it's true that connection errors are unlikely during h2 handshake phase.
But agai

[2021-03-21 17:16] #95792 closed

[2021-03-21 17:16] #95794 closed

[2021-03-21 17:43] matteoolivi commented on #80609
@liggitt what's the status of this? Is there any concrete plan to move it forward?

[2021-03-21 18:17] #95796 closed

[2021-03-21 18:51] neolit123 commented on #100432
please try the support channels first.
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you find a bug re-open this issue or open a new one.

[2021-03-21 18:51] neolit123 commented on #100432
/kind support
/sig network
/close

[2021-03-21 18:51] #100432 closed

[2021-03-21 18:52] neolit123 commented on #100427
/sig api-machinery

[2021-03-21 18:53] neolit123 commented on #100427
/sig network

[2021-03-21 18:53] neolit123 commented on #100420
/sig autoscaling

[2021-03-21 18:56] neolit123 commented on #100415
this could be a docker for mac problem.
are you seeing the same problem on a Linux machine?

/sig node

[2021-03-21 18:58] neolit123 commented on #100401
/sig architecture
/area code-organization
for the dependency.

/sig api-machinery
for etcd.

[2021-03-21 19:01] neolit123 commented on #100391
/sig cloud-provider
/area provider/azure

[2021-03-21 19:02] neolit123 commented on #100391
if you are not getting a reply try asking on the k8s slack or support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-03-21 19:02] neolit123 commented on #100391
/sig storage

[2021-03-21 21:02] ns-jisorce commented on #98570
Hi @prameshj , "dix -x"  works right after the endpoint shows up, I would say less than 1 second. ( I have created the service then get its ip then delete the service then set this ip in the yaml `clusterIP: x.x.x.x` so it is static do then I can use dig -x  x.x.x.x)

[2021-03-21 22:36] aojea commented on #86944
/close

Feel free to reopen if you can reproduce it in an environment WITHOUT dockershim,

[2021-03-21 22:36] #86944 closed

[2021-03-21 23:22] #92738 closed

[2021-03-22 01:09] Riaankl opened #100437 "Write AppsV1DaemonSetStatus test - +3 endpoints"
# Progress <code>[4/6]</code>

-   [x] APISnoop org-flow : [AppsV1 DaemonSet Status lifecycle Test - +3](https://github.com/apisnoop/ticket-writing/blob/create-daemonset-status-lifecycle-test/Appsv1DaemonSetStatusLifecycleTest.org)
-   [x] test approval issue : #100437
-   [X] test pr : #100507
-   [X] two weeks soak start date : [Testgrid Link](https://testgrid.k8s.io/sig-release-master-informing

[2021-03-22 01:10] Riaankl commented on #100437
/triage accepted

[2021-03-22 01:28] Riaankl commented on #90877
/close
Changes into a "Status" only test

[2021-03-22 01:28] #90877 closed

[2021-03-22 02:12] Swee1997 commented on #100426
So I got back to my office and below is the specific problem I am having at the moment.

#### What happened:
kubeadm initialisation does not auto assign IP address to pods in an offline/air-gapped environment

#### What you expected to happen:
Pods are assigned with IP address after kubeadm init command

#### How to reproduce it (as minimally and precisely as possible):
Offline environment:

[code

[2021-03-22 03:29] lingsamuel commented on #96676
/remove-lifecycle rotten

[2021-03-22 03:56] povsister commented on #87615
Very impressive for your analysis. Nice work @KevinWang15  👍
If I understood the things correct, there is no further problem if you are just using the bundled http2 package in prior Go 1.16 release, because the type-assertion only fails with an explicit configured h2 transport, as Kubernetes does.
So, for Kubernetes, it needs the fix from  https://golang.org/cl/243258 on Go's h1 stack. That's a li

[2021-03-22 04:24] yqwang-ms commented on #83834
/remove-lifecycle stale

[2021-03-22 04:24] yqwang-ms commented on #86373
/remove-lifecycle stale

[2021-03-22 05:31] adtac commented on #99605
@Ananya-1106 @prakhar101 please see the previous comments in this thread :)

@ingvagabund thanks for that, that's an interesting project. From briefly reading the README, I agree there's some overlapping objectives.

[2021-03-22 05:33] adtac commented on #93795
@almas33 kinda, but I'm more interested in making sure that each test has a unique `testcase/workload` name identifier so that I can run it with `go test -run=name`

[2021-03-22 06:17] k82cn commented on #99973
/assign

[2021-03-22 07:02] umialpha commented on #97380
/remove-lifecycle stale

[2021-03-22 07:12] lelix commented on #100284
user manager\containeradministrator

[2021-03-22 08:35] smileusd opened #100445 "csi volume stay Error when csidriver created later kubelet start"
/kind bug
/sig storage

#### What happened:
When we upgrade kubernetes in cluster, our pods use csi volume with attachRequired as false in csidriver, something delete the csidriver and then kubelet restart. Pod stay `Error` though we recreate csidriver.
[code]

#### What you expected to happen:
Pod recover Running after csidrvier recreated.

#### How to reproduce it (as minimally and precisely as

[2021-03-22 09:01] mengjiao-liu commented on #100419
/assign

[2021-03-22 09:06] sylr commented on #96411
/remove-lifecycle stale

[2021-03-22 09:35] serathius commented on #99802
Awesome, thanks!!
/close

[2021-03-22 09:35] #99802 closed

[2021-03-22 09:42] rdxmb commented on #94927
/remove-lifecycle stale

[2021-03-22 09:48] chendave commented on #88093
/unassign @pancernik
as we haven't heard back for quite a long time.

/assign
I agree this is an area we can improve.

[2021-03-22 10:25] Swee1997 commented on #100426
I found the solution. What happened was that my Iface "eno1" was having a gateway of 0000 0000, I needed to open/set the the gateway. The following command does that:

`ip route add default via $MY_IP_ADDRESS
`

I am now able to set up the k8 cluster with IPs' auto assigned to the respecting pods after running

`kubeadm init --apiserver-advertise-address=$MY_IP_ADDRESS --pod-network-cidr=192.168.0

[2021-03-22 10:25] #100426 closed

[2021-03-22 10:43] pacoxu commented on #99624
@harche
I may follow the rules in https://github.com/kubernetes/kubernetes/blob/36f571404fcb136011024b89efaa2a0d089acd5f/pkg/printers/internalversion/printers.go#L740-L867 to make it consistent with `kubectl`

[2021-03-22 10:58] pacoxu commented on #100420
It seems that the ScalingLimited status is not updated correctly.
Would you check if there are events like FailedComputeMetricsReplicas or messages like 'failed to compute desired number of replicas based on listed metrics'?

[2021-03-22 11:13] saschagrunert commented on #94825
Fix for k/k in https://github.com/kubernetes/kubernetes/pull/100448

[2021-03-22 12:36] anupamdialpad commented on #60987
For those of you (like me) still using an older version & facing this problem. You tried `rm -rf` but that failed with `Device or resource busy`. You can try to umount the path by
* Identify the mounted path. I used `findmnt` to get the exact path
* `umount` those paths

[2021-03-22 13:15] talj-us-ibm-com commented on #100415
Per the original report 75565 the issue appeared to be in kubernetes perhaps in an issue with polling multiple times a second.

"Idle master constantly burns CPU/disk polling itself #75565"

"Foritus commented on Mar 25, 2019
The disk load appears to be entirely caused by etcd, presumably a second-order effect from the api server chatting to it a lot?"

This can certainly not have been closed as c

[2021-03-22 13:21] wzshiming opened #100453 "Kubectl .lock file is ambiguous"
#### What happened:

[code]
Use `/dir1/config.lock` and `/dir2/config`

#### What you expected to happen:

Use `/dir2/config.lock` and `/dir2/config`

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):

[2021-03-22 13:23] zwtop opened #100454 "[kube-apiserver v1.19.8] Internal error occurred: failed calling webhook "": converting (v1.AdmissionReview) to (v1beta1.AdmissionReview): unknown conversion"
#### What happened:
When call webhook, get response from apiserver:
[code]

Webhook server return v1.AdmissionReview, but kube-apiserver want v1beta1.AdmissionReview, and it can't convertion (v1.AdmissionReview) to (v1beta1.AdmissionReview).

#### What you expected to happen:
Get succeed from kube-apiserver.

#### How to reproduce it (as minimally and precisely as possible):
kube-apiserver v.1.19.

[2021-03-22 13:35] guyguy333 commented on #100420
The issue is gone alone without changing anything. I will let you know when it comes back, I will check potential metrics errors.

[2021-03-22 13:41] alculquicondor commented on #96651
any chance we can fix this before the test freeze?

[2021-03-22 13:43] zwtop commented on #100454
/sig auth

[2021-03-22 13:46] zwtop commented on #100454
/help

[2021-03-22 13:47] zwtop commented on #100454
/remove-help

[2021-03-22 13:53] gyliu513 commented on #100232
@pacoxu `lastHeartbeatTime` may not able to help much, as what I want is the real time / local time on each worker node.

Also I can config NTP, but this will involve some extra config, here I want to enable k8s can print out the local time so that I can have a global view of the time for each worker node ;-)

[2021-03-22 13:56] justinmchase commented on #25908
Can we get an update on this @dims ?

The initial KEP https://github.com/kubernetes/enhancements/issues/753 that you linked to appears to have been closed with this mesage:

Also [this comment](https://github.com/kubernetes/enhancements/pull/1980#issuecomment-703692887) on your other thread about the "last update" says:

I like many others just encountered this issue and spent a bunch of time tryi

[2021-03-22 14:34] browgregpa commented on #49387
If running unix
kubectl get pods --field-selector=status.phase!=Running --all-namespaces | grep -v "Completed"

[2021-03-22 14:39] rokcarl commented on #17512
Even with all the tools above (I currently use [`kubectl-view-utilization`]), none of them can answer: "Can I run 3 replicas of an application pod that requires 1500 mCPU on my app nodes?" I have to do some number-crunching manually.

[2021-03-22 15:08] manigandham commented on #17512
Highly recommend another great tool called **K9S**: https://github.com/derailed/k9s

It's a separate CLI tool but uses the same config context for access and offers a lot of terminal/UI utility for monitoring and managing your cluster.

[2021-03-22 15:16] gavinfish opened #100456 "Integration tests should not depends on e2e tests"
Originally tracked at #89185. After fixing "not include test files in import-boss" in #90380, we have a regression here:
`test/integration/auth/bootstraptoken_test.go` is using `k8s.io/kubernetes/test/e2e/lifecycle/bootstrap`.

We need remove dependencies from integration tests to e2e tests again.

/assign
/sig testing

[2021-03-22 15:35] thejoycekung commented on #100419
/cc @cpanato
cc'ing as a followup from Slack

[2021-03-22 15:38] thejoycekung commented on #99979
Some recent flakes:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1373982722380271616
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1373921315332820992
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1373905963559424000
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kuber

[2021-03-22 15:38] #92170 closed

[2021-03-22 15:41] thejoycekung commented on #100138
More recent flakes:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1373948999001706496
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1373888095178461184
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1373828703854792704
- https://prow.k8s.io/view/gs/kuber

[2021-03-22 16:18] neolit123 commented on #100456
/sig auth
as per the required change

[2021-03-22 16:18] neolit123 commented on #100456
/kind cleanup
/area test

[2021-03-22 16:20] neolit123 commented on #100453
/sig cli

[2021-03-22 16:21] neolit123 commented on #100453
/sig api-machinery
PR is for client-go

[2021-03-22 16:22] chewong commented on #100252
Yes, it should be the right one since it's using the default test image registry (`k8s.gcr.io/e2e-test-images`), which should have 20H2 support.

[2021-03-22 16:50] msau42 commented on #100419
/assign  @chrishenzie
to help investigate

[2021-03-22 16:56] msau42 commented on #99881
@gnufied can you help look into `TestAttacherMountDevice`?

[2021-03-22 17:04] gnufied commented on #99881
sure.

[2021-03-22 17:18] richardmcsong commented on #97397
/remove-lifecycle stale
Any thoughts/updates?

[2021-03-22 17:30] akshaysharama opened #100459 "K8S-1.16.3: Secure port for KCM and Kubescheduler health checks."
#### What happened:
Deployed K8S using kubespray, and could see all k8s system pods comes with hostIP.
KCM :-  ports health check (http 10252) as well as secure port(10257).
KUBE-Scheduler: health check(http 10251) as well as secure port(10259).
we could see these are exposed from outside k8s node. After exploring, we found that by default --bind-address is bind with 0.0.0.0(all interface), and th

[2021-03-22 17:35] jsturtevant commented on #99363
with the agnhost (https://github.com/kubernetes/kubernetes/pull/100410) merged we now have passing tests for all the windows tests using the gcr promoted registry

/close

[2021-03-22 17:35] #99363 closed

[2021-03-22 17:40] MikeSpreitzer commented on #96651
Are we still seeing a problem?  If so, an example CI failure would be helpful to examine.

[2021-03-22 18:20] thejoycekung commented on #100419
https://github.com/kubernetes/test-infra/compare/1acac7628...432c6e7dc
these were the test-infra changes between the passing/failing

[2021-03-22 18:32] guyguy333 commented on #100420
@pacoxu I think you're right, it looks like it's related to metrics:

I'm having these events.

[2021-03-22 18:37] tallclair opened #100460 "Consider renaming 'Kubernetes Source Code' release artifacts"
Github automatically adds a `Source code (tar.gz)` artifact to every release, which sounds very similar to the `Kubernetes Source Code` artifact that we generate as the release artifact. Assuming we don't have control over the naming or presence of the autogenerated source code artifact, I think we should consider renaming our published artifact to better disambiguate between the two.

[2021-03-22 18:56] instantlinux commented on #60987
A warning to anyone with those older versions still running: avoid invoking `rm -rf` in any affected `/var/lib/kubelet/pods` subdirectory. There could be live data still mounted under those pods: and you **will** lose it, even if for example it's a remote volume on NFS / EFS or the like. Instead, to stop such orphaned-pod warning logs, do an `mv` command to move the affected directory out from und

[2021-03-22 18:58] #99372 closed

[2021-03-22 19:17] abhisheksinghbaghel commented on #57923
/cc

[2021-03-22 19:42] msau42 commented on #60987
fyi, the fix in #95301 only removes empty directories. This is to address some use cases where the node rebooted and the mounts are gone but the directories remain.

It doesn't fix other scenarios that others are mentioning where the directory is still mounted. In those cases, you will need to work with the affected volume plugin owners to figure out what is going wrong that is preventing the volu

[2021-03-22 19:55] neolit123 commented on #100459
hi,

this version is no longer in support. support is provided only for 1.18+ at this point..

kubespray uses kubeadm. by default newer kubeadm versions use --bind-adress=127.0.0.1 and --port=0:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/manifests.go#L282-L283

please consult with the kubespray maintainers, they know about this.

/close
/sig cluster-li

[2021-03-22 19:55] neolit123 commented on #100459
/kind support

[2021-03-22 19:55] #100459 closed

[2021-03-22 20:08] jayunit100 commented on #98758
... ok, so shall we close?

[2021-03-22 20:09] jayunit100 commented on #99425
hi @khenidak , do you need anything from the netpol subproject on this one? if so  just reach out to me or @rikatz

[2021-03-22 20:22] BenTheElder commented on #100460
We distribute most of our artifacts outside of GitHub. We should probably stop uploading this one entirely.

[2021-03-22 20:24] BenTheElder commented on #100456
It would be helpful to outline an argument as to _why_ this is the case. I can imagine reasons, but none are mentioned here.

[2021-03-22 20:32] santhoshs123 commented on #74374
Is this issue fixed in k8s version 1.20? I used to hit this issue 100% of the times in 1.19, in 1.20 pod remains in pending until the pvc gets recreated, without any PVC not found events, once the pvc is recreated pod goes to running.

[2021-03-22 20:36] antaloala commented on #100151
I am the closing It.

[2021-03-22 20:45] BenTheElder commented on #95893
/sig api-machinery
/remove-sig testing

[2021-03-22 20:52] BenTheElder commented on #100421
/triage duplicate

https://github.com/kubernetes/kubernetes/issues/99881

This was? fixed already before this issue was filed (https://github.com/kubernetes/kubernetes/pull/100368 merged 4 days ago), please update your clone.

I do not see this error at 1a983bb958b

[2021-03-22 20:52] #100421 closed

[2021-03-22 20:53] BenTheElder commented on #100453
kubectl locks all files being read or written. I'm pretty sure but not positive that even if you pass `--kubeconfig` other files may be read.

[2021-03-22 21:27] BenTheElder commented on #99881
btw `/test pull-kubernetes-unit-experimental` can be used to test this in CI for now. When we figure out this test hopefully I will port this to `pull-kubernetes-unit` and `ci-kubernetes-unit` to shut the door on future regressions.

[2021-03-22 21:28] sbangari commented on #100384
I am taking a look at this.

[2021-03-22 22:04] dims commented on #100460
cc @kubernetes/release-managers @kubernetes/sig-release-leads

[2021-03-22 22:06] tomkcpr commented on #71647
Same here.  Executing the following on a newly built node yields:

oc whoami
Error from server (InternalError): an error on the server ("") has prevented the request from succeeding (get users.user.openshift.io ~)

[2021-03-22 22:30] chrishenzie commented on #100419
This is in [the kubelet logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1372706391768174592/artifacts/bootstrap-e2e-minion-group-n2h8/kubelet.log) for one of the failed tests:

[code]

This nil pointer deference happens on line 411. Looking at that line we have:
https://github.com/kubernetes/kubernetes/blob/1a983bb958ba663e5d86983c55a187fb8c429c51/pkg/

[2021-03-22 23:03] dougsland commented on #100212
Hi @canuysal ,

I believe the question returns to you, in this case, are you defining any network policy in your env? Are you using docker as runtime as well in k8s or other runtime like containerd/cri-o ? Any thing in the logs? Anything different in the tcpdump ? Are you using the same components and versions?

Looks like switching the component made the work (not really kubernetes).  Have you tr

[2021-03-22 23:12] chrishenzie commented on #100419
/remove-kind flake

[2021-03-22 23:28] canuysal commented on #100212
@dougsland Hi,
I tried some network policies, like allowing all udp network traffic but they didn't work. In this case however, I'm not using any network policies.

I'm using docker runtime, didn't check the logs on that.

With tcpdump, conntrack, I figured out packets reach the node but doesnt get forwarded to udp, if I use use netcat to forward it, it works. With using docker, however, It works

[2021-03-22 23:42] dougsland commented on #100212
Do you mind to share the step by step here so I can give a try following your steps as well?
@canuysal

No problem at all, here the list info: https://groups.google.com/g/kubernetes-sig-network
Additional info about sig-network/meetings etc: https://github.com/kubernetes/community/tree/master/sig-network
https://groups.google.com/g/kubernetes-sig-network

[2021-03-23 00:01] hysyzq commented on #69774
Same issue for me.

[2021-03-23 00:08] yunhjiang opened #100466 "Return the ObjectReference.Name on the AuditLog event for object created through GenerateName"
#### What happened:
When an object is created through the GenerateName and there is metadata.Name is not specified, the AuditLog event for it does not have the ObjectReference.Name populated.

#### What you expected to happen:
The ObjectReference.Name should specify the object name on the ResponseCompleted.

#### How to reproduce it (as minimally and precisely as possible):
1. Enable the Auditlog

[2021-03-23 00:10] yunhjiang commented on #100466
/sig api-machinery

[2021-03-23 00:24] justaugustus commented on #100460
We've got a thread going on w/ Tim.
/assign

[2021-03-23 00:27] ruiwen-zhao opened #100467 "Pods fail with "NodeAffinity failed" after kubelet restarts"
#### What happened:
The issue is basically same as https://github.com/kubernetes/kubernetes/issues/92067.

With the fix https://github.com/kubernetes/kubernetes/pull/94087 in place, kubelet will node lister to sync in [GetNode()](https://github.com/derekwaynecarr/kubernetes/blob/752135242e49dc571159eb51328bcfc7734e6033/pkg/kubelet/kubelet_getters.go#L241).

However, in the case of kubelet restart,

[2021-03-23 00:54] dims commented on #100460
@justaugustus can you please link so folks can follow the bread crumbs?

( cc @thockin )

[2021-03-23 01:37] justaugustus commented on #100460
@dims -- It's currently sensitive. Will share once there's an outcome.

[2021-03-23 01:48] BenTheElder commented on #100467
cc @neolit123 @ehashman
/sig node

[2021-03-23 01:58] roycaihw commented on #97394
/remove-lifecycle stale
/lifecycle frozen

[2021-03-23 02:03] dims commented on #100460
ACK. thanks for the heads up @justaugustus

[2021-03-23 02:17] mengjiao-liu commented on #100419
/unassign

[2021-03-23 02:23] zwtop commented on #100454
Should a flag --admission-webhook-version provide ?

[2021-03-23 02:24] zwtop commented on #100454
/kind support
/remove-kind bug

[2021-03-23 02:27] thejosephstevens commented on #93736
I'm guessing I'm not the only person to get hit by the most recent Quay outage. We're actively recovering (shifting to a backup registry), but would be great to see this supported explicitly at the k8s level (specifically in a way that the managed k8s providers will pick up, we don't have the option to customize our nodes in most cases)

![image](https://user-images.githubusercontent.com/5632093/1

[2021-03-23 02:34] thejoycekung commented on #98854
more instances:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1374151566793117696
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1374105513444249600
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1374013425532801024
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernete

[2021-03-23 02:40] zwtop commented on #100454
`admissionReviewVersions` can set in `validatingwebhookconfigurations.admissionregistration.k8s.io`.

[2021-03-23 02:41] zwtop commented on #100454
/close

[2021-03-23 02:41] #100454 closed

[2021-03-23 02:44] wzshiming commented on #100453
I found it has been fixed in 1.20, https://github.com/kubernetes/kubernetes/pull/93293
Close this

[2021-03-23 02:44] #100453 closed

[2021-03-23 03:17] BenTheElder commented on #100453
do we need to backport this? what version were you on?

[2021-03-23 03:17] umialpha commented on #95051
/remove-lifecycle stale

[2021-03-23 03:25] CaoDonghui123 commented on #100405
/cc

[2021-03-23 03:35] wzshiming commented on #100453
1.19, Of course it would be better if it could be backport. although i think upgrading Kubectl is not a problem.

Due to the patch of #93293, I think it is necessary to clean up some of the code here that will no longer be used https://github.com/kubernetes/kubernetes/pull/100455#discussion_r599216408

[2021-03-23 03:37] BobyMCbobs commented on #96770
Made a PR https://github.com/kubernetes/kubernetes/pull/100470 to address the image repo name change in various files in the repo. It appears that some image tags are unavailable or newer tags are available for existing image repos.

[2021-03-23 03:58] zorro786 opened #100471 "Kubeadm uses deprecated etcd default snapshot count"
#### What would you like to be added:
Kubeadm v1.20 has snapshot-count as 10000 in etcd [configuration](https://github.com/kubernetes/kubernetes/blob/release-1.20/cmd/kubeadm/app/phases/etcd/local.go) as default:

This has been changed in etcd 3.1 and since then (current latest version being 3.4) [default](https://github.com/etcd-io/etcd/pull/7160) is 100,000

#### Why is this needed:
Unless Kuber

[2021-03-23 03:58] zorro786 commented on #100471
/sig cluster-lifecycle

[2021-03-23 03:59] zorro786 commented on #100471
/wg Component Standard

[2021-03-23 04:00] zorro786 commented on #100471
/wg component-standard

[2021-03-23 04:52] BenTheElder commented on #100471
this is also what we have configured in kube-up.sh
https://github.com/kubernetes/kubernetes/blob/d25986b8a67314bce5667f45739a0e093184b926/cluster/gce/manifests/etcd.manifest#L56-L57

cc @aojea @neolit123

[2021-03-23 05:47] yunhjiang opened #100473 "AuditLog for update operation without change the object"
#### What happened:
At k8s, some controller will update the object even when there is no change to the object itself. One example is the cronjob, which will update the object blindly.

Currently such update will be recorded by the audit log event and passed to the backend. It's not easy for the backend to distinguish the update is success or not, especially if the auditlog is set to Request level,

[2021-03-23 05:48] msau42 opened #100474 "CSI migration doesn't count inline volumes for attach limit"
#### What happened:
From code inspection:
- Non-csi volume predicate [defers to the csi predicate](https://github.com/kubernetes/kubernetes/blob/65bdc9efe6a78e35189e727393c108cbe028c4b5/pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go#L232) if the plugin is migrated
- csi volume predicate [does not count inline volumes](https://github.com/kubernetes/kubernetes/blob/65bdc9efe6a78e35189e7

[2021-03-23 05:48] msau42 commented on #100474
@kubernetes/sig-storage-bugs
/assign @Jiawei0227
cc @jsafrane

[2021-03-23 06:08] msau42 commented on #100474
Also not quite related, but did we implement support for counting the equivalent in-tree and CSI volumes even if migration is off? The KEP [states that as a goal](https://github.com/kubernetes/enhancements/blame/master/keps/sig-storage/554-maximum-volume-count/README.md#L63), but then in the [implementation section](https://github.com/kubernetes/enhancements/blame/master/keps/sig-storage/554-maxim

[2021-03-23 07:03] canuysal commented on #100212
@dougsland this comment has the steps to reproduce kubernetes part. for docker,  you can do
[code]
And you should frames are rolling, if it hangs, it doesnt work.

[2021-03-23 07:18] chendave commented on #88093
We have couple of things to do before closing this issue,

* [ ] Move noderesource plugin args validation to apis/config/validation, currently, the validation logic is kept in the pkg/scheduler/framework/plugins instead.
* [ ] Consolidate all the validation logic if possible into one place, for example `QueueSort` plugin config could be done in the `validation` package instead.
* [ ] Drop unnecess

[2021-03-23 07:20] chendave commented on #88093
For this item, my opinion is that, we only need one validation when everything is finalized,  unless early exit is really needed before moving forward.

[2021-03-23 08:22] BenTheElder commented on #100415
- #75565 was closed by the author
- docker for mac is not open source and not part of the Kubernetes project, I don't recall seeing anyone working on that active here. etcd does have various tuning options that they could consider using

[2021-03-23 08:24] BenTheElder commented on #100408
@neolit123 this reminds me of your kubelet sync PR ...

[2021-03-23 08:29] uablrek commented on #98465
Set `iptables -P INPUT DROP` has consequenses for _all_ traffic in main netns, e.g `kubelet`. Please see;
https://github.com/kubernetes/kubernetes/pull/98816#issuecomment-804190190.

[2021-03-23 08:37] aojea commented on #100471
we should ask sig-scalability here , @wojtek-t has good insights always in all the etcd parameters

[2021-03-23 08:39] phantooom commented on #100467
/assign

[2021-03-23 08:40] CaoDonghui123 commented on #100248
/assign

[2021-03-23 08:46] lunhuijie opened #100478 "Delete the log of the component, it will still not rebuild the file to save it."
#### What happened:
1.when I delete the log's file of kubelet and find the status of kubelet is ok.
but i can't find where these logs go.
2.when I mv the log's file of kubelet to other path, it still write to this file.
then i rebuild the same file at the old path, it wouldn't write to this new file but still the one which moved to other path just now.
3.when I delete the logs of kubelet and resta

[2021-03-23 10:28] aojea opened #100481 "Failing jobs gci-gce-serial-*"
#### Which jobs are failing:

https://testgrid.k8s.io/sig-network-gce#gci-gce-serial-kube-dns-nodecache
https://testgrid.k8s.io/sig-network-gce#gci-gce-serial
https://testgrid.k8s.io/sig-network-gce#gci-gce-serial-kube-dns-nodecache
https://testgrid.k8s.io/sig-storage-kubernetes#gce-serial
https://testgrid.k8s.io/google-gce#gce-cos-master-serial&width=5

#### Which test(s) are failing:

[sig-stora

[2021-03-23 10:30] aojea commented on #100481
/sig testing
/sig storage
ping @spiffxp @BenTheElder @msau42

[2021-03-23 10:49] kaelzhang commented on #58692
Yes, this should probably be reopened

@fejta-bot is evil.

[2021-03-23 11:13] bart0sh commented on #99402
@cynepco3hahue any progress on the workaround fix?

[2021-03-23 11:30] leoryu commented on #43784
Any ideas about adding to kubeadm-config?

[2021-03-23 11:43] rafalkasa commented on #71871
To persist the Gluster endpoints, you also need to create a service.
[code]
Save the service definition to a file, for example `gluster-service.yaml,` then create the endpoints object

[2021-03-23 12:08] sftim commented on #91072
I'm going to mention an idea for completeness, though I don't recommend prioritizing it: we could add an admission controller to identify when an existing Service is being updated to remove its selector. The admission controller could accept such requests but add a `Warning` header to the response to point out the defined behavior, as it could be surprising.

[2021-03-23 12:19] h0jeZvgoxFepBQ2C commented on #70044
We also have the same problem sometimes... Dunno why :(

[2021-03-23 12:27] #99863 closed

[2021-03-23 12:54] gavinfish commented on #88150
/remove-lifecycle stale
/unassign

[2021-03-23 13:09] gavinfish commented on #100456
Description updated.

[2021-03-23 13:12] kgtw opened #100483 "Log and expose cgroup OOM events to the associated Pod resource"
#### What happened:

Previously the cadvisor library had a regex parsing error, which resulted in it falling back to returning
a string character of `/` when parsing system oom messages on kernels >= 5.0. This was fixed in google/cadvisor#2813

~Since cadvisor was bumped in #99875, system OOM event messages are no longer being emitted because of the following line, where its checking that the `eve

[2021-03-23 13:14] kgtw commented on #100483
/sig node

[2021-03-23 13:24] kgtw commented on #100483
/assign

[2021-03-23 13:30] nmiculinic opened #100485 "volume.kubernetes.io/selected-node never cleared for non-existent nodes on PVC without PVs"
#### What happened:

* PVC was created, & pod consuming this PVC. PVC is using the WaitForFirstConsumer policy.
* controller with SA `persistent-volume-binder` in `kube-system` namespace edited the PVC, attached the following labels:

[code]
* PVC is pending phase, it wasn't bound to the PV.
* The node in question was deleted, by cluster autoscaler 1.20 before the PV was provisioned and attached t

[2021-03-23 13:43] alculquicondor commented on #88093
We just need to make sure of 2 things:
- Validation messages contain the most amount of information for debugging. For example, a full path (in the KubeSchedulerConfiguration) to the failed fields.
- We validate for different usages:
  - kube-scheduler users (like in production clusters)
  - scheduler.New (like integration and e2e tests)
  - framework.New (like cluster-autoscaler) Although, if we

[2021-03-23 13:46] alculquicondor commented on #100408
I don't think this is a syncing issue. The logic doesn't check taints at all.

[2021-03-23 13:55] Riaankl opened #100486 "Write ApiService Test - +2 endpoints"
# Progress <code>[3/6]</code>

- [x] APISnoop org-flow: [APIServiceTest.org](https://github.com/apisnoop/ticket-writing/blob/master/APIServiceTest.org)
- [x] Test approval issue: [#100486](https://github.com/kubernetes/kubernetes/issues/100486)
- [x] Test PR: [#103092](https://github.com/kubernetes/kubernetes/pull/103092)
- [ ] Two weeks soak start date: testgrid-link
- [ ] Two weeks soak end date

[2021-03-23 14:05] liggitt commented on #80609
It's not on my list of items to push on for 1.22. If someone wanted to pick up https://github.com/kubernetes/kubernetes/pull/80618 (or an alternate approach) and resolve the items I identified, that would be excellent.

[2021-03-23 14:09] Riaankl commented on #100486
/triage accepted

[2021-03-23 14:19] nmiculinic commented on #100485
/sig storage

[2021-03-23 14:45] talj-us-ibm-com commented on #100415
In https://github.com/docker/for-mac/issues/3065

[code]

There does seem to be unclarity around who's issue this is.  Docker for mac team is saying kubernetes.  If there are tuning properties for etcd, and as this issue manifests only when kubernetes in Docker for mac is active, and the issue increases when more CPUs are allocated to Docker for mac, how can we prove whether the issues is in the k

[2021-03-23 14:53] johnSchnake opened #100489 "Airgap and registry substitution issues"
#### What happened:
User has an OPA Gatekeeper based admission webhook to enforce the sourcing of images from an internal mirror and is unable to pass conformance tests. This seems to be a case that should be able to be supported and be able to pass those tests.

#### What you expected to happen:
Conformance tests pass as long as:
 - user has appropriate images in their mirrors
 - user provides a

[2021-03-23 14:58] johnSchnake commented on #100489
/sig testing
/area conformance
/area e2e-test-framework

[2021-03-23 14:58] palnabarun commented on #86753
/assign

I will take a look at it.

[2021-03-23 15:04] joshimoo commented on #45419
@lingwooc in Longhorn v1.1 we natively support rwx via a custom ganesha image, with NFS soft mount, so you shouldn't have any hangs in the case where the nfs server is gone.

[2021-03-23 15:42] jsturtevant commented on #100388
@Kappie37 if you have questions feel free to reachout on slack in sig-windows

[2021-03-23 15:42] Moumouls commented on #45419
thanks @joshimoo i was wrong and it took me a while to find the final source. Longhorn and Istio work perfectly, the issue seems to be deeper.

[2021-03-23 15:44] jsturtevant commented on #100384
/triage accepted

[2021-03-23 15:46] jsturtevant commented on #100284
@lelix   Are those commands in a docker file or are they commands that the container executes when it is running?

[2021-03-23 15:51] Misteur-Z commented on #45419
Quoting myself for visibility, this issue is **5 years old**, a dozen versions have been released since, I think this is not a good place anymore to discuss PLEG issues. The root cause of this issue may be completely different depending on your setup/environment.

I just wonder if removing the Docker daemon from the equation helps with the recent container runtimes related changes.

[2021-03-23 15:55] lelix commented on #100284
in dockerfile

[2021-03-23 16:04] eloyekunle commented on #100478
/sig node

[2021-03-23 16:10] thernstig commented on #70044
Upvote the original issue is a good idea to show you also have this problem.

[2021-03-23 16:27] rikatz commented on #100248
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/95759?

[2021-03-23 16:28] BenTheElder commented on #74375
Another problem we have is not that any particular test is slow but just that we only add more tests.

With lots of features trying to go GA, and every one of them adding a conformance test, we've added a bunch more tests and times have gone up for presubmits cc @aojea.

[2021-03-23 16:30] rpasche opened #100492 "kube-proxy: persistent connection kept alive although readiness checks fails (and POD not ready)"
#### What happened:

We are running some logstash pods within our environment to receive data from external customers. We use the persistent queue feature within logstash to buffer events on disks. In case the buffer disks fills up, we want all connections *to* that POD to be terminated. While *new* connections do NOT make it to that POD, persistent connections can still transfer data to that POD

[2021-03-23 16:36] rpasche commented on #100492
/sig docs

[2021-03-23 16:39] msau42 commented on #100481
Is this the same as https://github.com/kubernetes/kubernetes/issues/100419?

[2021-03-23 16:39] aojea commented on #74375
IIRC the only problem that we have are the Serial tests, the parallel jobs run all the test in less than 30 minutes

[2021-03-23 16:41] #100419 closed

[2021-03-23 16:47] BenTheElder commented on #74375
No, even the parallel runs are seeing more and more tests added. We only run N test cases at a time.

GCE presubmit is up over an hour again. And the kind parallel jobs are sometimes passing the 40 minute timeout we had https://prow.k8s.io/?job=pull-kubernetes-e2e-gce-ubuntu-containerd

[2021-03-23 17:01] blurpy commented on #71871
It is not necessary to create a service manually, or endpoints. This is handled by the dynamic provisioning support. Except that sometimes a bug deletes the endpoints.

[2021-03-23 17:03] aojea commented on #100481
it seems so, sorry for the noise, I didn't check the test name failinf
As always, @thejoycekung is doing an excellent job catching these failures

/close
duplicate of https://github.com/kubernetes/kubernetes/issues/100419

[2021-03-23 17:03] #100481 closed

[2021-03-23 17:06] lavalamp commented on #100415
I'll repeat my comment from the other issue:

As far as whose "issue" this is, it's that kubernetes runtime actually is doing work even when the system is "idle" in order to make sure all components are still alive and ready etc.

Possibly you could compare the same install on different platforms to see if actually we somehow are triggering a docker for mac issue, but I kind of doubt that.

[2021-03-23 17:11] yunhjiang commented on #100473
/sig api-machinery

[2021-03-23 17:13] fromanirh commented on #75355
still working my way towards a reproducer.

[2021-03-23 17:13] fromanirh commented on #99230
still working my way towards a reproducer.

[2021-03-23 17:16] palnabarun commented on #100024
@Danil-Grigorev -- since SSA has opted out of the v1.21, can I retarget this for v1.22?

[2021-03-23 17:17] palnabarun commented on #94585
@inductor -- since SSA has opted out of the v1.21, can I retarget this for v1.22?

[2021-03-23 17:22] palnabarun commented on #93694
@hasheddan @justaugustus -- is this being worked on actively? Or, is it good to be retargeted for v1.22?

[2021-03-23 17:23] palnabarun commented on #96770
@spiffxp -- friendly heads up, Tomorrow March 24th Wednesday is the v1.21 Test Freeze. :)

[2021-03-23 17:24] palnabarun commented on #97026
@spiffxp -- friendly heads up, Tomorrow March 24th Wednesday is the v1.21 Test Freeze. :)

[2021-03-23 17:30] talj-us-ibm-com commented on #75565
"tune the lease flags on controller manager & scheduler"

Do you mean these parts of kubernetes:

https://v1-18.docs.kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/
https://v1-18.docs.kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/

If yes, which flags/settings?  I see 'lease' mentioned in terms of leader election.

[2021-03-23 17:30] palnabarun commented on #99803
@ehashman @serathius @pacoxu -- is this still being planned for v1.21?

[2021-03-23 17:38] andrei-verdes commented on #98963
@curtisr7 It will result in a warning so it can remain backwards compatible. If we threw an error, objects created without a spec.imagePullSecrets.name value, wouldn't be deletable in the cluster after applying my commit.

Can you please confirm that the issue is tracked in https://github.com/kubernetes/kubernetes/issues/94626 and close this issue yourself by commenting "/close"

[2021-03-23 17:44] liggitt commented on #100070
fixed by https://github.com/kubernetes/kubernetes/pull/95783

/close

[2021-03-23 17:44] liggitt commented on #99911
fixed by https://github.com/kubernetes/kubernetes/pull/95783

/close

[2021-03-23 17:45] #99911 closed

[2021-03-23 17:45] #100070 closed

[2021-03-23 17:49] curtisr7 commented on #98963
/close

[2021-03-23 17:49] #98963 closed

[2021-03-23 17:51] lavalamp commented on #75565
Yeah, change the lease duration to like 120 seconds and the renew to like 110 seconds, for example, and see if that makes a difference.

[2021-03-23 17:53] lavalamp commented on #75565
Actually you could try setting just leader-elect to false.

There's probably many such things that can be reduced or disabled when you don't need the system to respond to faults quickly.

[2021-03-23 18:01] Israphel commented on #25238
I'm 1.19 and I still see the issue. I tried @hermanbanken example and replicas want to go to 1, even though the HPA min is 3.

[2021-03-23 18:07] neolit123 commented on #100467
thank you for reporting this @ruiwen-zhao

[2021-03-23 18:07] neolit123 commented on #100467
this should be resolved with https://github.com/kubernetes/kubernetes/pull/99336 ideally?

[2021-03-23 18:13] neolit123 commented on #100471
i would argue that this is not a "deprecated" count; does etcd think of it that way?
to my the value boils down to user preference that may even involve some trial and error and perf benchmarks.

i was asked on slack about this and i don't have the historic context of why 10000 was pinned.

if @wojtek-t is and SIG Scale are OK with the change we can merge it for 1.22.

[2021-03-23 18:13] neolit123 commented on #100471
/sig cluster-lifecycle

[2021-03-23 18:14] BenTheElder commented on #100415
I'm sorry this is probably not what you wanted to hear, but ...

Kubernetes is not really responsible for the performance of any particular proprietary distros. If there are specific performance problems reported our contributors may take their time to look at them or anyone (new contributors) may attempt to contribute improvements. But a general complaint like this for a specific product is not v

[2021-03-23 18:16] BenTheElder commented on #100471
agree, I think this is just imprecise phrasing around ~"outdated" though, and the point stands for that.

https://kubernetes.io/blog/2018/12/11/etcd-current-status-and-future-roadmap/#etcd-v3-2-summer-2017 actually talks about increasing the snapshot count, but upstream tooling did not because we set the flag explicitly. It also talks about the tradeoffs

[2021-03-23 18:20] neolit123 commented on #100471
on the PR @ptabor is recommending that we lower it.

given this is very user setup specific and we have been running with this value for a while, i'm leaning towards a vote to not change it, but if others think otherwise lets pick a new value.

[2021-03-23 18:21] lavalamp commented on #100415
Re: etcd: it's almost certainly the case that the rest of the cluster is using etcd, rather than there being a "performance issue" with it.

The root cause is almost certainly that "idle" k8s clusters are *not actually idle* and this is *by design* so that they can recover rapidly from faults; k8s is not optimized for single-system use. There are many flags that could be configured to improve idle

[2021-03-23 18:43] neolit123 commented on #100408
scenario 1 is pretty bad, i will let the #sig-node slack know about this.

[2021-03-23 18:44] jsafrane opened #100499 "aws: Failed to mount partition on NVMe volume"
#### What happened:
When using a AWS EBS PV or on-line volume with a partition on a Nitro machine, the volume is available as NVMe device. Kubelet is not able to format & mount the partition:

[code]

It seems to me that AWS EBS volume plugin does not support partitions at all.

#### What you expected to happen:
The partition is mounted.

#### How to reproduce it (as minimally and precisely as pos

[2021-03-23 19:03] BenTheElder commented on #100489
there are multiple existing issues about this. in general we are attempting to move e2e images to k8s.gcr.io https://github.com/kubernetes/kubernetes/issues/96770

in the meantime the user could configure their cluster to user mirrors for these images

[2021-03-23 19:05] BenTheElder commented on #100408
It doesn't sound like a syncing issue, but we seem to have multiple issues with pod admission/management on restart https://github.com/kubernetes/kubernetes/issues/100467

[2021-03-23 19:40] alculquicondor commented on #100408
I'm aware of that issue. This should be unrelated.

[2021-03-23 19:45] gfiasco commented on #63726
Just an FYI openshift can achieve this https://docs.openshift.com/container-platform/4.6/networking/configuring-a-custom-pki.html

[2021-03-23 20:05] liggitt commented on #93320
https://github.com/kubernetes/kubernetes/pull/100488 in progress (targeting Kubernetes v1.22, assuming etcd v3.5.0 is available by then)

[2021-03-23 20:16] fedebongio commented on #95893
/assign @jpbetz
/triage accepted

[2021-03-23 20:17] fedebongio commented on #100343
/remove-sig api-machinery

[2021-03-23 20:18] fedebongio commented on #100372
/triage accepted

[2021-03-23 20:19] fedebongio commented on #100401
/remove-sig api-machinery
/cc @mikedanese

[2021-03-23 20:20] fedebongio commented on #100427
/assign @caesarxuchao
/triage accepted

[2021-03-23 20:21] fedebongio commented on #100466
/remove-sig api-machinery
/sig auth

[2021-03-23 20:21] deads2k commented on #100372
the audit log allows tracking RequestResponse bodies.  See https://kubernetes.io/docs/tasks/debug-application-cluster/audit/ for details.

The kube-api does not allow getting historical revisions of particular resources.  Such a change would need to go through a KEP process in https://github.com/kubernetes/enhancements

/close

[2021-03-23 20:22] #100372 closed

[2021-03-23 20:22] fedebongio commented on #100473
/cc @deads2k to comment on why is behaving as intended
/triage accepted

[2021-03-23 20:23] caesarxuchao commented on #100427
If you restart the pod, does that fix the issue?

This looks like https://github.com/kubernetes/kubernetes/issues/87615#issuecomment-803517109.

[2021-03-23 20:25] deads2k commented on #100473
The audit log is an log of requests.  It is not a log for resource impact.  I don't think this will move forward as an issue.  Instead, you can try a KEP in https://github.com/kubernetes/enhancements . The sig you're looking for review in the enhancements repo is sig-auth.

/close

[2021-03-23 20:28] yunhjiang commented on #100473
@deads2k  Is the auditlog part of sig-auth, instead of api machinery?

[2021-03-23 20:37] jpbetz commented on #95893
/assign @jingyih
Would you be willing to have a look at this one? It's been around for a while, so there might be multiple issues to close if you fix it.

[2021-03-23 20:38] deads2k commented on #100473
sig-auth owns the audit feature: https://github.com/kubernetes/community/tree/master/sig-auth .

[2021-03-23 20:59] gjkim42 commented on #100408
I would like to address this.
/assign

[2021-03-23 21:18] gjkim42 commented on #100408
I think it would be great to proceed after merging https://github.com/kubernetes/kubernetes/pull/100049.
ref: https://github.com/kubernetes/kubernetes/pull/100049/files#r599957017

[2021-03-23 21:19] jingxu97 commented on #92496
/remove-lifecycle rotten

[2021-03-23 21:24] #100342 closed

[2021-03-23 21:25] alculquicondor commented on #100408
Please add me as reviewer

[2021-03-23 21:31] antaloala commented on #100151
/close

[2021-03-23 21:31] #100151 closed

[2021-03-23 22:31] mikedanese commented on #100401
It looks like the project is abandoned.

https://github.com/dgrijalva/jwt-go/issues/428

@kubernetes/dep-approvers what do we do in these scenarios? We are using go-jose for core jwt needs but as long as this library remains in vendor/, there's a risk that usage will sneak in.

[2021-03-23 22:42] devZer0 commented on #75565
https://github.com/ubuntu/microk8s/issues/2007

[2021-03-23 22:43] devZer0 commented on #75565
https://github.com/ubuntu/microk8s/issues/1567

[2021-03-23 22:48] jmorcar commented on #24873
I found the best sophisticated project here :

https://github.com/pieterlange/kube-backup

So there is a great short commands to perform and reduce the command lines

For example if you get an inventory list to permit iterate after (like this command )

[code]

Then you can get any yaml from before list with a simple `kubectl get <item name> -n <namespace> -o yaml`

The project that I indicated be

[2021-03-23 23:02] pacoxu commented on #99803
I was working on it

[2021-03-23 23:32] Riaankl commented on #100486
Bug report created out of feedback from 23 March Conformance meeting to fix flake: [#100508](https://github.com/kubernetes/kubernetes/pull/100508)

[2021-03-24 01:08] neolit123 commented on #100471
/remove-wg component-standard
/sig scalability api-machinery

[2021-03-24 01:08] neolit123 commented on #100499
/sig storage
/sig cloud-provider
/area provider/aws

[2021-03-24 01:37] junhojang commented on #72811
/remove-lifecycle stale

[2021-03-24 02:33] kagaya85 commented on #99181
It is true that the cost of using locks is relatively high, perhaps we may solve this problem by using as few locks as possible to guarantee a portion of the creation-deletion order?

Such as using RWmutex to ensure the CRD delete operation **happens before** CR creation, and every CR create operation will check ths CRD status by using Rlock before write to etcd, if the CRD already deleted, return

[2021-03-24 02:41] wangyysde opened #100512 "Add flags to kubeadm for customizing the image version of etcd and coreDNS"
#### What would you like to be added:
Ref: #100174
Ref: #2411
Add flags to kubeadm for customizing  the image version of etcd and coreDNS
#### Why is this needed:
Sometimes users want to compile k8s components and build customized k8s component images, push them to the docker repository, and then install k8s with kubedm. At this time, they need to specify the tag of the customized k8s component. N

[2021-03-24 02:44] wangyysde commented on #100512
/cluster-lifecycle

[2021-03-24 02:44] wangyysde commented on #100512
/assign

[2021-03-24 03:44] mengjiao-liu commented on #100478
I can repeat the question
[code]

I've looked at the code and this is probably a problem with the Klog library.

I will try to fix this.

/assign

[2021-03-24 06:20] zengyongjie commented on #92460
same in 1.17.2

[2021-03-24 07:06] lunhuijie commented on #100478
I am also looking at this piece of code to solve this problem. If you have any nice idea, we can discuss it together. @mengjiao-liu

[2021-03-24 07:08] bobbypage commented on #100483
Isn't this working as expected? A system OOM is not a cgroup level OOM, but rather a machine level OOM. The example provided where a pod goes over the memory limit triggers a cgroup level OOM (not a system OOM), and as such the system OOM event should not be sent.

As you mentioned previously we were sending System OOM events unfortunately, but that was due a bug in the parsing of OOM messages, fi

[2021-03-24 07:16] mengjiao-liu commented on #100478
Now you can be sure that the problem is with the Klog library, because I test with Klog alone and repeat the problem as well @lunhuijie

[2021-03-24 07:30] lunhuijie commented on #100478
klog.go->output->switch s {    , I find v19 is differ to v20.
Every time I make a mistake when writing a file, an error value will be returned. In this code, the processing of the error return value is discarded. If you need to fix this problem, you may need to increase the judgment of the error return. @mengjiao-liu

[2021-03-24 07:49] BenTheElder commented on #99876
Tentatively `import-boss` is way too slow for this use case and `importverifier` is only capable of restricting imports within a particular package.

We'll need a different approach.

[2021-03-24 08:07] empinator commented on #78446
0xVox's comment helped my to work around this issue

I wrote small bash script which I run after I start the port-forward in a second terminal. It initiates a new, brief connection every X seconds. This way the connection handling stays open if you have long running jobs like database dumps (mysql, mongo, etc.)

[2021-03-24 09:00] pacoxu commented on #99803
The biggest change here that I observed is

In 1.20

In 1.21

[2021-03-24 09:20] kgtw commented on #100483
Hi @bobbypage, yes you are correct in that these are cgroup level OOM's that the provided example creates. I was more referring to the SystemOOM event message type, emitted as a Kubernetes event. Sorry about the confusion.

Prior to the v0.39.0 upgrade, cadvisor would always return `event.VictimContainerName == "/"`, even for cgroups for kernels >= 5.0. This can be verified by running the same exa

[2021-03-24 09:26] chendave commented on #88093
I checked it again, only one is related with issue,  while others are `KubeSchedulerConfiguration` related which should not belong to validation scope.

[2021-03-24 09:33] fabriziopandini commented on #100512
@wangyysde FYI, we are collecting kubeadm issues

As per comment on the related PR

[2021-03-24 09:38] BenTheElder commented on #99876
I have a prototype of doing this _much_ faster with ... bash, not sure what to call it yet and whether it's worth making general

It seems the main thing we need here is check that `github.com/prometheus/*` imports are only in this list:
https://github.com/kubernetes/kubernetes/blob/a1f2787897a81c375a4de28482b5eb649851800a/build/visible_to/BUILD#L431-L444

Which we can do with a non-generic script

[2021-03-24 09:41] mengjiao-liu commented on #100478
When deleting or moving log files,` L.File [infoLog] != nil`
https://github.com/kubernetes/klog/blob/master/klog.go#L928-L933

so log file is not rebuilt @lunhuijie

[2021-03-24 09:59] jsafrane commented on #100499
/triage accepted

[2021-03-24 11:04] akamac commented on #67202
`kube-router` service proxy does not have this bug. Though I still have to use `NodePort` type of service with `externalTrafficPolicy: Local`, but accessing the service via `ClusterIP/ExternalIP` (which is advertised via BGP in my case) preserves the source ip address. So I replaced `kube-proxy` with `kube-router`.

[2021-03-24 13:06] opsidao commented on #52817
@matthyx we're running 1.16 and being hit by this continuously when some of our elixir apps shutdown so cherry-picking it in 1.18 would at least put it closer in our update path :angel:

[2021-03-24 13:14] SataQiu commented on #100512
@wangyysde

You can list the images needed by kubeadm, and push them into your own repo, then run `kubeadm init --image-repository <your-own-repo-address>`.

[code]

[2021-03-24 13:18] pickfire commented on #78446
I had to do ssh local forward and run the same command remotely, extra 10 characters or so, quite troublesome.

[2021-03-24 13:24] wangyysde commented on #100512
@SataQiu Thanks. I know that we can specify the repository and version of k8s components by using --image-repository or --kubernetes-version flag . But I don't know how to specify the versions of  coreDNS and etcd.

[2021-03-24 13:29] jacek-jablonski commented on #95005
/remove-lifecycle stale

[2021-03-24 14:11] mengjiao-liu commented on #100478
Need to update the klog version to solve the issue after [it is fixed ](https://github.com/kubernetes/klog/pull/232)

[2021-03-24 14:27] dav3ydoo commented on #69041
I am currently working on a fix for this.  It's maybe 70% complete now.  I am new to the contribution community here so there is a little bit of a learning curve in relation to contributing.  Would be happy to assign it to myself once I figure out how to.

[2021-03-24 14:28] wangyysde commented on #100512
@fabriziopandini Thank you for your comments.

-  I know that we can specify the repository and version of k8s components by using --image-repository or --kubernetes-version flag. But I don't know how to specify the versions of coreDNS and etcd by using the existing image meta field.
-  Currently,as if the version of  the k8s components can be specified,but  the version of  the two external compon

[2021-03-24 14:31] matthyx commented on #52817
https://github.com/kubernetes/kubernetes/pull/100525
https://github.com/kubernetes/kubernetes/pull/100526
https://github.com/kubernetes/kubernetes/pull/100527

[2021-03-24 14:43] neolit123 commented on #100512
@wangyysde kubernetes components are moving away from flags in favor of configuration files.
we don't want to add more flags in kubeadm that duplicate options that are already in the config.

you should be using the --config and nothing else...unless something is only available as a flag (likely experimental at that point).

your PR cannot be accepted for other reasons too @fabriziopandini covered

[2021-03-24 15:11] fabriziopandini commented on #100512
/close
We can move the discussion on a new issue in the kubeadm repo if required.

[2021-03-24 15:12] #100512 closed

[2021-03-24 15:39] raravena80 commented on #69041
/assign dav3ydoo

[2021-03-24 15:44] alculquicondor commented on #14040
@soltysh has this been considered?

[2021-03-24 16:09] logicalhan commented on #100236
/assign @dashpole

[2021-03-24 16:10] logicalhan commented on #98356
/assign @serathius @DirectXMan12 @thockin

[2021-03-24 16:10] 0robustus1 commented on #95140
I have proposed cherry-pick PRs for [1.20](https://github.com/kubernetes/kubernetes/pull/100530), [1.19](https://github.com/kubernetes/kubernetes/pull/100534) and [1.18](https://github.com/kubernetes/kubernetes/pull/100535).

[2021-03-24 16:11] logicalhan commented on #98356
/cc @logicalhan

[2021-03-24 16:25] R37ribution commented on #74151
We are attempting to move from v1.14.3 to v1.19.7 and ran into the issue where kubelet overwrites `vm.panic_on_oom = 1` sysctl setting which is a setting we need enabled.

While there is some crude logic behind how the kernel kills PIDs during an OOM situation it still, in our opinion, leaves the system in an unpredictable state that may not have resolved the real reason the node ran out of memory

[2021-03-24 16:33] dougsland commented on #90066
@mcginne sorry the delay.

Correct.

Do you have an issue opened with more data?

[2021-03-24 16:46] johnSchnake commented on #100489
Moving images from one registry to another isn't the issue; the tests have constantly had new/old registries.

With respect to your suggestion, they use a mirror: they are _trying_ to use a mirror but the k8s code does not allow them to tell the tests to use it in some cases.

The comment https://github.com/vmware-tanzu/sonobuoy/issues/1223#issuecomment-804957927 points out which registries are no

[2021-03-24 16:46] mcginne commented on #90066
I haven't raised a separate issue yet as there was some discussion on performance impact between @lavalamp and @wojtek-t here https://github.com/kubernetes/kubernetes/issues/90066#issuecomment-773509313, and it sounded like this overhead was necessary for correctness. I can raise a separate issue about the performance impact if folks think there is some scope for improvement..

[2021-03-24 16:49] kumarvijendar opened #100539 "kubectl cp does not show any error for copying non existing file"
#### What happened:
I was copying a file using kubectl to one of my pod, accidentally I was giving a wrong path for my file
#### What you expected to happen:
kubernetes should've shown an error with an exit status
#### How to reproduce it (as minimally and precisely as possible):
 kubectl -n my-namespace cp not-existing-random-file-name pod-name:/tmp/potato.txt

The command completes silently and

[2021-03-24 16:57] giuseppe commented on #99230
I've opened https://github.com/google/cadvisor/pull/2837 to fix one issue I've seen.

I think we will also need to modify libcontainer to return memory stats from `/proc/meminfo` for the root cgroup

/cc @kolyshkin

[2021-03-24 17:01] kumarvijendar commented on #100539
/sig api-machinery

[2021-03-24 17:06] n0-1 commented on #96018
Hi,

I can reproduce the failure with upstream iptables.
As for run-time, iptables-legacy restores the attached dump in 6.5min on my testing VM, iptables-nft fails after 16min. :(
Maybe the ruleset is simply too big, but of course if legacy iptables eats it iptables-nft shall do as well.
Still investigating, just a quick status update.

Cheers, Phil

[2021-03-24 17:21] jingyih commented on #95893
@gyuho I found a pending PR (#84061) from you trying to address this issue. Are you still planning to work on it?

[2021-03-24 17:26] SergeyKanzhelev commented on #99845
/close

PR was merged: #99926

[2021-03-24 17:26] #99845 closed

[2021-03-24 17:30] SergeyKanzhelev commented on #99909
/close

the test was removed from conformance here: #100036

[2021-03-24 17:30] #99909 closed

[2021-03-24 17:40] exdx commented on #96382
I'm probably just going to close this unless there is some more traction from other members of the community. Seems like if my project is the only one potentially asking for this feature, then we should reassess our own implementation

[2021-03-24 17:44] b2cbre commented on #91808
K8s is by far one of the best infrastructure tools I have ever used or seen in my career.

Surely there's a solution beyond individually patching each set.  Such a rollout method contradicts the design pattern of tools like CNCF's Helm and Flux's Helm Controller.

Perhaps the unspoken & desired design of the Kube Scheduler includes PDBs limited to a single resource instance--e.g. a single stateful

[2021-03-24 17:58] ehashman commented on #100047
Removing SIG Node as this appears to be a SIG Storage issue.

/remove-sig node

[2021-03-24 18:03] ehashman commented on #99803
This is looking mostly fine to me: we see that for default (v=2 I think?) the number of log lines and sizes are the same and mostly comparable between releases.

Concern would be for (v=4) where log lines are comparable but size is nearly doubled. I think we should try to dig into why.

[2021-03-24 18:04] ehashman commented on #99803
We have now finished profiling, no code changes are required for this issue. Keeping this issue open to track any possible regressions with the v=4.

[2021-03-24 18:15] soltysh commented on #14040
@alculquicondor with `kubectl apply` that'd be my current recommendation rather than implementing replace or create.

[2021-03-24 18:35] spiffxp commented on #92460
/remove-sig testing
/sig api-machinery
I honestly don't know where this belongs either.  Not enough info to repro from any of the comments thus far.

[2021-03-24 18:36] spiffxp commented on #97026
/milestone v1.22

[2021-03-24 18:39] spiffxp commented on #99881
/milestone v1.22
@BenTheElder please move back if you think it's feasible to land this today

[2021-03-24 18:40] spiffxp commented on #99517
/milestone v1.22
@BenTheElder please move back if you think it's feasible to land this by today

[2021-03-24 18:42] spiffxp commented on #96770
I'll look into the feasibility of landing https://github.com/kubernetes/kubernetes/pull/100470 today and evaluate where that leaves us

[2021-03-24 18:44] spiffxp commented on #99876
AFAIK @BenTheElder is planning to land this today

[2021-03-24 18:46] soltysh commented on #100138
Hmm... looks like we might have missed some cases, I'll look into it more...

[2021-03-24 18:49] BenTheElder commented on #99517
https://github.com/kubernetes/kubernetes/pull/100046 is not bad, but I think we should move this to v1.22 to give time to consider doing something a bit more.

[2021-03-24 18:58] spiffxp commented on #100456
/triage accepted
/priority backlog
/milestone v1.21
This seems a simple enough fix to land (and thank you for doing this) but marking low enough priority to make it clear we may back out and wait for v1.22 if we don't have bandwidth for this

[2021-03-24 18:59] tallclair commented on #100460
@justaugustus I think it's safe to discuss openly at this point.

We had a report that the sha512 hashes on our release artifacts were incorrect. We have confirmed that the mismatch was due to a bug in the release pipeline, and not malicious. This issue here was just a point of confusion that came out of that discussion.

[2021-03-24 18:59] collimarco commented on #44954
It would be extremely useful to have a cluster ID that can be returned by the API. For example an immutable uuid could be created together with the cluster.

[2021-03-24 19:07] logicalhan commented on #98356
This is already possible through the debug API (if it's enabled)

`curl -XPUT http://localhost:8001/debug/flags/v --data 10`

[2021-03-24 19:07] logicalhan commented on #98356
/close

[2021-03-24 19:07] #98356 closed

[2021-03-24 19:07] logicalhan commented on #98356
(at least for the apiserver)

[2021-03-24 19:16] msau42 commented on #96852
CSI migration timeline is slipping. I think 1.23 will be the earliest that we can start considering removing this logic (on a plugin-by-plugin basis).

@kubernetes/sig-storage-feature-requests
cc @Jiawei0227 to add this to list of things we can remove once csi migration is GA.

[2021-03-24 19:19] jpbetz commented on #78995
The etcd images are not kubernetes specific. The main thing they do is automatically upgrade etcd one minor at a time, per etcd administration guidelines, when the cluster administrator upgrades etcd to a new version. E.g. if the cluster administrator upgrades to etcd 3.4 and the cluster is currently on 3.1, it upgrades first to 3.2 and then to 3.3 before upgrading to 3.4.

So I'm tempted to ask i

[2021-03-24 19:21] canuysal commented on #100212
I'm closing the issue and will try my chances on the mailing list. Thanks for all the help.

[2021-03-24 19:21] #100212 closed

[2021-03-24 19:26] gyuho commented on #78995
Yeah, I think we can implement some mechanism to update docs and container images in the registry for Kubernetes as part of etcd release process.

@ptabor @wenjiaswe Any thoughts?

[2021-03-24 19:28] #95778 closed

[2021-03-24 19:28] #95855 closed

[2021-03-24 19:51] justinsb commented on #78995
We could also do this in the etcdadm project, as that is a kubernetes-sigs project and is thus set up to push to k8s repos / follow k8s governance etc.

[2021-03-24 20:02] Huang-Wei commented on #93500
@denkensk Probably we can get it completed in 1.22.

[2021-03-24 20:05] eddiezane commented on #99252
I think this is still failing.

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100541/pull-kubernetes-e2e-kind/1374800857081581568

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=One%20pod%20requesting%20one%20prebound%20PVC%20should%20be%20able%20to%20mount%20volume%20and%20read%20from%20pod1

/reopen

[2021-03-24 20:13] dashpole commented on #100236
Good find.  That is definitely wrong.

/triage accepted

[2021-03-24 20:17] dashpole commented on #100236
The only thing i'm not sure of is if the UID is actually available when the event is being created.  That reference is created when the node is booting up, but the UID isn't available until the node object is created.

[2021-03-24 20:17] Huang-Wei commented on #96748
Are we going to treat this issue resolved by #99212 **completely**? Or prefer to still leave it open and explore other solutions in the future?

[2021-03-24 20:20] ahg-g commented on #96748
I think #99212 and if necessary https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2255-pod-cost (with a webhook to randomly set the cost) can address this issue reasonably ok.

[2021-03-24 20:28] serathius commented on #99803
@pacoxu We should look into which log lines are responsible for doubling log volume.
Could you run this script https://gist.github.com/serathius/e0bfb1c0f76a43da6ede15ce86ea7f85 to analyse log volume?

This script will look through all files in directory it was run from  and create a report of which logs are responsible for most volume. It will only work in `text` format. Report should look simila

[2021-03-24 20:34] msau42 commented on #99252
Looking at kubelet logs from https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100541/pull-kubernetes-e2e-kind/1374800857081581568

All volumes were mounted successfully:
[code]

But it looks like the container was not able to come up:
[code]

[2021-03-24 20:39] ptabor commented on #78995
The northstar IMHO is that we should get rid of process of 'updating' etcd by running consecutive minor versions of etcd
and instead etcd should have a dedicated tool: e.g. `etcdstoragectl migrate` (I would call it etcdadm, but the name is taken ;) ) process  that  knows the DB changes between different versions and explicitly 'fixes' the database instead of depending on the running for undefined

[2021-03-24 21:02] jpbetz commented on #78995
I'm a big fan of this approach. If we can get support for this one the etcd side then the solution w/r/t the `/cluster` direct might just to be drop these images and use upstream etcd.

Curious what others think.

[2021-03-24 21:27] gyuho commented on #78995
Yeah always wonder why we even need two separate etcd registries. I am open to dropping the whole container support in our release process, and let downstream project build their own. Or merge onto Kubernetes-community managed registry.

[2021-03-24 21:33] bobbypage commented on #100483
Hi @kgtw

My understanding here is that `SystemOOM` k8s events should only be sent if there is a System OOM (_not_ a cgroup OOM).

As you mentioned unfortunately, prior to  https://github.com/google/cadvisor/issues/2813 there was a bug on > 5.0 kernels such that the OOM parsing would consider cgroup OOMs as system OOMs and thus the cgroup OOMs were reported as SystemOOMs events incorrectly.

I don

[2021-03-24 21:52] jingxu97 commented on #100192
/assign @janetkuo @msau42

[2021-03-24 22:24] kgtw commented on #100483
Thanks for the clarification. In that case I think it will make sense to update this issue & associated pr to be a feature request instead of a bug, which would cover some of the criteria in #69676. Specifically logs in kubelet, and emitting the event to the pod resource.

[2021-03-24 23:08] Riaankl opened #100546 "Write ReplicaSet List and DeleteCollection test +2 endpoints"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow : [ReplicaSetListDeleteCollection](https://github.com/apisnoop/ticket-writing/blob/AppsEndpoints/ReplicaSetListDeleteCollection.org)
-   [X] test approval issue : #100546
-   [x] test pr : #101261
-   [X] two weeks soak start date : 19 May 2021 [Testgrid link](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-defaul

[2021-03-24 23:08] Riaankl opened #100547 "Write DaemonSet List and DeleteCollection test +2 endpoints"
# Progress <code>[4/6]</code>

-   [x] APISnoop org-flow : [DaemonSetListDeleteCollection](https://github.com/apisnoop/ticket-writing/edit/AppsEndpoints/DaemonSetListDeleteCollection.org)
-   [x] test approval issue : #100547
-   [X] test pr : #101995
-   [X] two weeks soak start date : 23 May 2021 [Test](https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial&include-filter-by-

[2021-03-24 23:09] Riaankl commented on #100547
/triage accepted
For Release 1.22

[2021-03-24 23:10] Riaankl commented on #100546
/triage accepted
For Release 1.22

[2021-03-25 00:47] dims commented on #100460
thanks @tallclair !

[2021-03-25 01:16] dims commented on #100401
@mikedanese looks like etcd already moved, and heketi has merged an update to the newer repo, so we can wait a bit for both etcd and heketi releases to come out and then we will be able to remove the old repo.

Also, could we persuade etcd to switch to go-jose?

[2021-03-25 02:01] adammw commented on #96314
JSON logging doesn't appear involve klog at all, instead component-base/logs package uses its own JSONLogger package based on zap.

[2021-03-25 02:04] wangyysde commented on #100539
/assign

[2021-03-25 02:05] adammw commented on #99270
Also not a flag per-se, but klog prints the go file and line writing the log, whereas the json logger does not.

[2021-03-25 02:09] CaoDonghui123 commented on #100539
It was fixed by #90333

[2021-03-25 02:32] pacoxu commented on #99803
Need I run for 1.20 and 1.21 with --v=4 separately?

For all the logs, the report is like below:
[code]

[2021-03-25 02:41] pacoxu commented on #99803
[code]

[code]

[code]

[code]

[2021-03-25 03:01] #99815 closed

[2021-03-25 03:10] wzshiming commented on #100466
Maybe you should watch the Update event,  Pod creation and metadata.Name filling are done by two different components.

[2021-03-25 03:10] denkensk commented on #93500
@Huang-Wei  Sure I will finish it in 1.22

[2021-03-25 03:25] houjun41544 commented on #97942
Is there any progress on this issue? I ran into a similar problem.
kubernetes v1.19.4

Integration test failed, log is as below：
[code]

It looks like etcd exited early. Etcd logs：
[code]

[2021-03-25 03:30] thejoycekung opened #100551 "[Failing Test] k8s.io/kubernetes/test/integration/job.TestMain (ci-kubernetes-integration-master)"
#### Which jobs are failing:
ci-kubernetes-integration-master

#### Which test(s) are failing:
k8s.io/kubernetes/test/integration/job.TestMain

#### Since when has it been failing:
https://github.com/kubernetes/kubernetes/compare/e71e284b7...d8193c950

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#integration-master

#### Reason for failure:
[code]

I can't seem to find a

[2021-03-25 04:32] ra312 commented on #90748
/reopen

[2021-03-25 04:38] adtac commented on #100551
/assign

[2021-03-25 05:18] abhinavthula commented on #78383
Hi, I would like to understand more about the priorityClassName: system-node-critical . can anyone helpm me with this?

As per my understading if we define priorityClassName: system-node-critical in the pod template , then that Jenkins job with that priorityClassName would be running first. Correct me if I am wrong

[2021-03-25 05:38] #90503 closed

[2021-03-25 05:40] aimuz commented on #100236
Is it possible to make it compatible so that the `uid` of the `node` event is always `nodeName`

[2021-03-25 06:14] BenTheElder commented on #99876
filed: https://github.com/kubernetes/kubernetes/pull/100552

[2021-03-25 06:23] yunhjiang commented on #100466
Thanks for checking, @wzshiming . However, I don't get your suggestion of  'watch the Update event'. Why it helps here? Currently our issue is,  we can't figure out from the audit log who and when it's created for such case.

Watch the Update event does not provide us such information, right? Although we can watch the 'create' event, but that will miss the information of who/when/sourceip etc, i.e

[2021-03-25 06:42] adtac commented on #100551
FYI: the `etcd already running at http://127.0.0.1:2379` error message is a red herring and isn't the real reason why this test is failing. When the integration tests are run with `make test-integration` instead of `go test`, the mutation detector is also started, which catches a bug in the job controller where we modify the shared cache. This root cause isn't present in the logs, but you can repr

[2021-03-25 06:42] BenTheElder commented on #100456
So while I think we should probably do this anyhow I want to note:

This issue lists the reasons:

- we have no intention to stage e2e (there's been much discussion about this since then)
- we generally don't want anything non-informational (required jobs) running only sometimes anyhow, it's just not reliable

Decoupling these seems like a good idea from a purely code-organization perspective, but

[2021-03-25 07:05] pacoxu commented on #100471
@ptabor 's comment on https://github.com/kubernetes/kubernetes/pull/100475#issuecomment-805592572

[2021-03-25 08:03] ivan-cai opened #100555 "Extremely slow detach/attach via controller-manager(in-tree volume plugin)"
#### What happened:
A in-tree volume plugin. kubernetes version is 1.12.4. 3253 nodes and 11000+ pvs in cluster.
If I recreate a pod (with pvc of this in-tree volume plugin), sometimes I found the volume would not be detach in   6min(maxWaitForUnmountDuration) . Because `attachedVolume.MountedByNode` always `true`,  `DetachVolume` only be called after timeout(maxWaitForUnmountDuration).
The recrea

[2021-03-25 08:03] ivan-cai commented on #100555
/sig storage

[2021-03-25 08:08] ivan-cai commented on #100555
@kubernetes/sig-storage-bugs

[2021-03-25 08:21] adtac opened #100556 "[flake] k8s.io/kubernetes/test/integration/apiserver/admissionwebhook: TestMutatingWebhookResetsInvalidManagedFields"
#### Which jobs are flaking:

pull-kubernetes-integration

#### Which test(s) are flaking:

k8s.io/kubernetes/test/integration/apiserver/admissionwebhook: TestMutatingWebhookResetsInvalidManagedFields

#### Testgrid link:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration

#### Reason for failure:

Not sure.

#### Anything else we need to know:

Example failures fr

[2021-03-25 08:24] adtac commented on #100556
There's even a failure in the post-submit master integration tests job: https://testgrid.k8s.io/sig-release-master-blocking#integration-master (ignore the test/integration/job failures, I have an open PR to fix that).

[2021-03-25 08:48] middlestone commented on #67875
hi tatsuhiro-t, I think my environment has the same issue, can you tell me how to confirm the connection between kube-proxy and load balancer is stale? and cause the kube-proxy still connects to the master that is gone.

[2021-03-25 08:48] javsalgar commented on #72226
We got this incident with one of our chart users as well: https://github.com/bitnami/charts/issues/5867

[2021-03-25 09:33] serathius commented on #99803
During KEP discussion @wojtek-t proposed to target 10% log increase from version to version.

Thanks to @pacoxu we see that beween 1.20 and 1.21 Kubelet log volume increased **x2** on --v=4. I think we should fix it before releasing 1.21.

Looking at reports from @pacoxu log line `Looks like PLEG: Write status"` grew from 33% of 28M (9MB) to 49% of 57M (27.9 MB). Fixing this log line should bring

[2021-03-25 10:15] pacoxu commented on #99803
https://github.com/kubernetes/kubernetes/blob/c0841211fdafa032c717bdb6f4955fdcfc183464/pkg/kubelet/pleg/generic.go#L386

[code]
Change to something like this ?

[2021-03-25 10:43] #90119 closed

[2021-03-25 11:45] Fish-pro commented on #99675
/assign
Working on these:
./staging/src/k8s.io/api/core/v1/types.go

[2021-03-25 11:46] Fish-pro commented on #99005
/assign

[2021-03-25 13:46] #95819 closed

[2021-03-25 13:51] ahmadbabaei commented on #94293
I have the same issue but with the deployment. isn't there any solution for it yet?

[2021-03-25 14:28] liggitt commented on #100556
cc @apelisse

[2021-03-25 14:34] prameshj commented on #98758
ok, let's close it. Please reopen if configuring the additional rule does not work.

/close

[2021-03-25 14:34] #98758 closed

[2021-03-25 15:19] deads2k opened #100560 "Pick up l7-lb-controller version that uses v1 APIs"
found this in https://github.com/kubernetes/kubernetes/pull/99840 while finding beta API dependencies for 1.22.  This will block `pull-kubernetes-e2e-gce-ubuntu-containerd` from running at all in 1.22

I *think* this is for this deployment: https://github.com/kubernetes/ingress-gce/blob/426c8588246e40b5d24a6230d5d3751766c94cd4/docs/deploy/resources/glbc.yaml  , and in ingress-gce I found https://g

[2021-03-25 15:35] giuseppe commented on #99230
another fix for cadvisor: https://github.com/google/cadvisor/pull/2839

[2021-03-25 15:42] neolit123 commented on #100471
closing and the PR based on the feedback from sig-scalability.

@zorro786 @lojies
thank you for bringing this topic up.

/close

[2021-03-25 15:42] #100471 closed

[2021-03-25 15:43] apelisse commented on #100556
Thanks!
/cc @kwiesmueller
/wg api-expression

[2021-03-25 15:44] soltysh commented on #100138
@thejoycekung from what I see #100345 merged on March 23rd, and looking at https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features&width=5 last failure is happening on March 22nd. The failures from above are from before the fix landed, b/c they are pointing a pods which are deleted (`pod.DeletionTimestamp != nil`) and that exact fix was added in that PR. I'll continue mon

[2021-03-25 15:45] navidshaikh commented on #100401
Ran [snyk](https://snyk.io/) on master branch and it lists the CVE as mentioned in the issue

[code]
Seeing another [CWE-338](https://cwe.mitre.org/data/definitions/338.html) for `github.com/satori/go.uuid` do we care about CWE too?

[2021-03-25 15:46] neolit123 commented on #100471
@zorro786 if you pass a --config file to kubeadm it will respect your custom value:

[code]

[2021-03-25 15:53] kwiesmueller commented on #100556
Oh no, what did I do :-/
I'll have a look. Might be that the admission webhook is not up quick enough.
/assign

[2021-03-25 16:09] aojea commented on #100560
/sig network
/triage accepted
I pinged some GCE sig-network folks in the PR
https://github.com/kubernetes/ingress-gce/pull/1384#issuecomment-807010731

[2021-03-25 16:23] prameshj commented on #98570
Thanks Julien. I meant to ask if "dig -x <pod ip>" works right away - pod ip is the new endpoint for the headless service. If that returns right away, it is unlikely to be DNS propagation delay, since the A and PTR records should be added as part of the same update.

Can you explain what you meant by `Indeed in GKE the issue is also happening with a static cluster ip for the service.`? If a cluste

[2021-03-25 16:34] tpepper commented on #73986
This would clearly be beneficial, given the artifacts are shipped stripped.

/help
wanted...Probably not so easy as to be a good first issue, but also probably not tremendously difficult to add https://github.com/kubernetes/release automation to record the symbols, validate they're usable for example by delve, and get them published in a standard place.

[2021-03-25 16:44] marosset commented on #99947
/assign @andyzhangx
Can you take a look?

[2021-03-25 16:46] jsturtevant commented on #99360
@claudiubelu do you know any history for this image?

[2021-03-25 16:57] PushkarJ commented on #100401
Thanks @dims, 100% agree @mikedanese with regards to getting this moving: I have pinged heketi maintainers again to remind to bump a new minor version release that points to the fixed fork. etcd is still on alpha release that has the fix (3.5.0 alpha).

@navidshaikh that's a good finding. Was not aware of the other vulnerable pkg. Maybe worth opening a separate PR about that too? Feel free to corr

[2021-03-25 17:31] liggitt commented on #100560
given that uses extensions/v1beta1 Deployments, that particular manifest seems unused

[2021-03-25 17:31] #100551 closed

[2021-03-25 17:47] neolit123 commented on #73986
@dlipovetsky

i know that this works for GCC object code, but have you tried it with Golang?

i agree that this is the preferred approach over not having binaries with debug symbols or having two sets of debug / release binaries. the fact that we release container images, makes things more complicated too.

[2021-03-25 17:50] neolit123 commented on #73986
i will try this later today.

[2021-03-25 18:05] serathius commented on #99803
Looks good, we can reduce two calls by using if on `klog.V(6).Enabled()`

[2021-03-25 18:29] jproig commented on #55405
The proposed solution will be useful for us aswel.
We implemented Atlassian Jira DataCenter version, and we are trying to use the /status healtcheck, that URL always returns a 200 code, but the content in the body reflects the real status.

[2021-03-25 18:51] #87917 closed

[2021-03-25 19:03] alculquicondor commented on #98434
I've updated the job description to include the metric names and labels I propose.

The ones that are preceded with TBD I'm not convinced we need.

I'm wondering if a KEP is an overkill.

[2021-03-25 19:16] derekwaynecarr commented on #100259
A good next step on this issue is to open a PR to the related e2e tests that documents why the tests are not good candidates for future inclusion in conformance.  Is that something you can assist with @lack ?

[2021-03-25 19:20] sftim commented on #56374
/sig security

[2021-03-25 19:33] liggitt commented on #93694
it looks like the only consistent failure is `Kubectl client Kubectl cluster-info should check if Kubernetes master services is included in cluster-info [Conformance]`, which was changed by https://github.com/kubernetes/kubernetes/pull/95202/files but broke pre-1.20 tests running with a 1.20+ kubectl

[2021-03-25 19:33] liggitt commented on #93694
If that is the only failure, this doesn't seem release-blocking to me

/milestone v1.22

[2021-03-25 19:57] lboix commented on #88183
Here is a workaround that could help, especially if you are using Kubernetes 1.14 : https://github.com/kubernetes/client-go/issues/741#issuecomment-807368949

[2021-03-25 20:13] ahg-g commented on #98434
I feel the metrics are straightforward enough. Perhaps we add each metrics in a separate PR in which we discuss the exact semantics.

[2021-03-25 20:15] ns-jisorce commented on #98570
Hi @prameshj , yes I confirm that returns right away.

So there is no way to ask k8s to allocate a static ip for a service of type ClusterIP. So the trick is to first set

[code]

then deploy that service and note the ip that shows in kubectl get services in the CLUSTER-IP column.
Then delete the service.
Then copy paste that IP into the yaml:

[code]

Then always use this update yaml file in the

[2021-03-25 20:20] puerco commented on #100551
Test is back on green. Thanks @adtac !

[2021-03-25 20:51] jingxu97 commented on #99677
I propose a fix here https://github.com/kubernetes/kubernetes/pull/100567

[2021-03-25 21:21] calebespinoza commented on #61207
@JuanValencia
Where did you run the commando nslookup? I've run it in all my nodes but all of them showed me the same output
`nslookup mongodb
Server:		127.0.0.53
Address:	127.0.0.53#53

** server can't find mongodb:   ##SERVFAIL`

[2021-03-25 21:28] charliedmcb commented on #61659
The "node-labels" flag has been in an Alpha state for kubelet for quite some time. Correct me if I'm wrong, but this issue seems to be addressing this by either graduating it from alpha, or removing it.

I'm curious if there are any plans for this to progress forward as its been in "priority important-soon" for quite some time.

I'm quite interested in using the "node-labels" flag for kubelet, but

[2021-03-25 21:31] deads2k commented on #100560
once we land the fix in https://github.com/kubernetes/ingress-gce/pull/1384 , anyone know how to update the image we use in e2e tests?

[2021-03-25 21:36] liggitt commented on #100560
/assign @freehan

The update to use v1 APIs is merged to `master` in https://github.com/kubernetes/ingress-gce/pull/1384

What version should be tagged we can pick up in https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/manifests/glbc.manifest#L20? Does https://github.com/kubernetes/ingress-gce/pull/1384 need to be picked back to one or more release branches?

[2021-03-25 21:38] liggitt commented on #100560
It would be helpful to get a `k8s.gcr.io/ingress-gce-glbc-amd64` version containing the fix tagged, so the manifest can be updated in https://github.com/kubernetes/kubernetes/pull/99840 to get e2e signal even before `master` opens for 1.22.

[2021-03-25 21:40] apelisse commented on #100024
there is a main new solution that was pushed as 1.21, and a smaller fix that will be merged in 1.22

[2021-03-25 22:04] aojea commented on #99268
/close
one month without answer
Feel free to reopen
Thanks

[2021-03-25 22:04] #99268 closed

[2021-03-25 22:07] freehan commented on #100560
Ack. We are planning to cut a release soon. Once the release is cut, I will update the k/k to use that

[2021-03-25 22:14] hanlins commented on #100434
Hi @mandala23, just confirming, you didn't set `externalTrafficPolicy` for your node port service to `LOCAL`, right? Is it possible for you to share your spec for reproduction? Also typically for node port service, kube-proxy will create some firewall rules in nat table, can you share the iptables rules for both the VM where node port works and doesn't work? Maybe using this to collect the rules:

[2021-03-25 22:15] roblappcoupa commented on #20902
For what it's worth you can see that by default `kubectl` specifies the propagation policy as `Background`. This can be seen running this command: `kubectl delete job my-job --dry-run=server -v=9`. In my case I was using a client library to delete jobs via the REST API but the propagation policy was not getting set. Once I set it to `Background` it started deleting the pod as well.

[2021-03-25 22:43] #99876 closed

[2021-03-25 22:53] aojea commented on #95515
/close
The proxiers efforts should better be focused to improve what we have, this seems hard to fix now

[2021-03-25 23:03] aojea commented on #95339
I'm going to close this because:
- I can't remember the last bug on NodePort, that kind of says we are not doing too bad on the testing area :)
- is not easy to scale the test for large number of nodes if we poll every node, we run tests with 100,500 and 1k nodes
- the e2e test is not meant to verify a deployment, it's for testing the project, so if you use a firewall you should be carefull
- it w

[2021-03-25 23:03] #95339 closed

[2021-03-25 23:19] spiffxp commented on #100456
/milestone v1.22
The PR didn't land in time. At this point I view this as nice to have. Even if it's low impact, let's wait until next release.

[2021-03-25 23:22] BenTheElder commented on #99876
NOTE: this was implemented for the actively pursued SIG instrumentation restrictions. It was not implemented for all rules, it's not clear that the utility was high enough for all of these. We can add more restrictions using any of these alternative tools in the future as necessary.

[2021-03-25 23:24] BenTheElder commented on #89267
Restrictions are in place again with an alternative mechanism.

[2021-03-25 23:33] spiffxp commented on #74375
I do. This fell off my plate. It's maybe something I can revisit as I look at addressing documentation and enforcement of ci policy for v1.22

We already have 5min for slow test threshold in e2e-tests.md doc in k/community/contributors under sig-testing. But that feels buried to me. It's also not enforced via any kind of automation. I've usually pointed to that doc in PRs when manually tagging tes

[2021-03-25 23:36] spiffxp commented on #99876
What rules weren't implemented?

Do you want to leave this open and move to v1.22 for those, or close this in v1.21 with a new issue (or not) for those rules?

[2021-03-25 23:50] lack commented on #100259
@derekwaynecarr I have a branch that relaxes the test so it works in the current environment and a separated mount namespace environment...  Can you explain a bit more what you mean about documenting this?  Where would that kind of documentation go?

[2021-03-25 23:59] vsxen commented on #98935
ping @celestehorgan  @sftim

https://github.com/kubernetes/enhancements/issues/361

[2021-03-26 00:00] claudiubelu commented on #99360
That image carried over from the original work from @benmoss . I have asked sig-testing previously if we could include that image's functionality into ``gcb-gcloud-docker`` image, but I think a better fit for that image would be ``kube-cross``, since that image is actually intended for cross-compiling applications in the first place (from a quick look, I didn't find any Windows-related gcc options

[2021-03-26 00:26] BenTheElder commented on #99876
There are a number of package groups in:
https://github.com/kubernetes/kubernetes/blob/a1f2787897a81c375a4de28482b5eb649851800a/build/visible_to/BUILD

It will take a bit to identify if any of them were actually used by any visibility rules, and if any of those are necessary (we have visibility rules on nearly every target, but most of that is pointless or implicit)

[2021-03-26 00:31] prameshj commented on #98570
Thanks. For some reason I thought nginx-service was headless in your previous example. I see it is a ClusterIP service with a valid clusterIP.

So I do see this output from BusyBox:

[code]

I can't remember how many timeouts happened AFTER the endpoint showed up, Maybe it was 2 or 3 times. Again, as Tim mentioned in previous comments not sure what the issue here is - other than, propagation delay

[2021-03-26 00:33] neolit123 commented on #73986
this would work:

[code]

but i don't think `strip main` is recommend and instead `go build ldflags="-s -w"` should be used.
also `go build` unlike msvc (gcc had this too i think) does not support writing the debug symbols to a separate file on the same command line, which means `go build` has to be called twice (?):

[code]

[2021-03-26 00:34] BenTheElder commented on #99876
Er: and the prometheus bit is the only part that was actively worked on in the past few years. Other changes were due to targets referenced by the package groups being moved or removed in the sources and therefore needing updating there as well.

For the most part active import management was done with import boss or importverifier, but I cannot say with certainty yet that there was no other usefu

[2021-03-26 00:36] sftim commented on #98935
Hi @vsxen
What did you have in mind?

[2021-03-26 00:42] BenTheElder commented on #99876
these were used in the past during the development of moving kubectl to staging, but now that it is staged that shouldn't be necessary I think. Everything else seems to either be the prometheus effort, or related to the kubectl move.

cc @seans3

[2021-03-26 00:43] liggitt commented on #98697
/milestone v1.21
/priority critical-urgent

Raising priority and adding to the milestone for triage since this looks like a data race in non-test code in a default-enabled filter. This unit test did not exist in 1.20 so it's not clear if this is a regression in 1.21 or not.

If this issue existed in 1.20, priority can be lowered to important-soon and it does not block 1.21, but should be fixed and

[2021-03-26 00:58] vsxen commented on #98935
If runtime(containerd or docker)  root  dir and kubelet root dir is not in same partition, ephemeral-storage usage by a pod is not enforced correctly.  such as
[code]
In this PR
https://github.com/kubernetes/website/commit/1034426bd51f40ad49365c15b5856f9703c863d5#r42390956

how to tell the kubelet to place container image layers and writeable layers

and the todo mean?
https://github.com/kubernete

[2021-03-26 01:16] nyarly opened #100572 "kubectl apply fails because "invalid: metadata.annotations: Too long: must have at most 262144 bytes""
#### What happened:

I'm attempting to incorporate Strimzi into our cluster configuration. Our process is GitOps style: specifically, we build a declarative configuration in code, and then `kubectl apply` the whole thing. I got the error referenced here:
https://github.com/strimzi/strimzi-kafka-operator/issues/4589

The Strimzi project's solution is to use `kubectl create` for the one CRD, which w

[2021-03-26 01:38] msau42 commented on #100047
/reopen

#100191 only fixed some of the flaking tests.

[2021-03-26 02:51] ivan-cai commented on #100555
cc @gnufied @yuga711 @jingxu97 @jsafrane

[2021-03-26 03:03] Jerry-Ge commented on #93270
Is there anyone still working on this issue? I may help.

[2021-03-26 03:04] Jerry-Ge commented on #93270
/remove-lifecycle rotten

[2021-03-26 03:10] JornShen commented on #95750
@zimmski this is one metrice record every relist time.

https://github.com/kubernetes/kubernetes/blob/9af6f70f8f05479c96efcb23c77447e15fb69eed/pkg/kubelet/pleg/generic.go#L199

Name is `pleg_relist_interval_seconds`. You can call kubelet's port 10250 api to get metrics infos. URI is https://127.0.0.1:10255/metrics. Or you can call its unsecurity port 10255 (using http). Call this URI in the node w

[2021-03-26 03:20] nyarly commented on #100572
/sig api-machinery
/sig cli

[2021-03-26 03:42] jingxu97 commented on #100555
The reason detach takes 6 mins to tigger is because on node side, kubelet did not successfully umount the volume and update node status volumeInUse. Detach can only be safely triggered after volume is unmounted at node side. There is 6 mins timeout, and detach will be triggered forcefully.

[2021-03-26 03:50] pacoxu commented on #100572
It should be similar to https://github.com/kubernetes/kubectl/issues/712.

[2021-03-26 04:19] unnati914 commented on #100396
Hey could you guide more on this?

[2021-03-26 04:57] liggitt commented on #100572
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/82292

[2021-03-26 04:57] #100572 closed

[2021-03-26 05:45] nyarly commented on #82292
The Strimzi Kafkas CRD, as of 0.22.1 (https://github.com/strimzi/strimzi-kafka-operator/releases) is 1,231,093 bytes. They're also, IIUC, generated from Java, so Go comment based solutions won't help.

[2021-03-26 05:46] BenTheElder commented on #99979
one of the most common flakes in kind jobs currently

http://storage.googleapis.com/k8s-metrics/flakes-latest.json

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Probing%20container%20should%20be%20ready%20immediately%20after%20startupProbe%20succeeds

failures like:

[2021-03-26 06:02] Huang-Wei commented on #96427
In general, we have several ways to tweak the framework handle:

https://github.com/kubernetes/kubernetes/blob/30a261d97c65f3e1e46a93eb368376f68935a057/pkg/scheduler/framework/interface.go#L588-L589

- Keep current `ClientSet` function, and add an additional `ClientBuilder` function for out-of-tree plugins to obtain Config (restclient.Config) and DynamicClient
- Mark current `ClientSet` function a

[2021-03-26 06:05] zhaojizhuang opened #100577 "kubernetes should support cross namespace ownerrefrence"
#### What happened:

kubernetes don't allow cross namespace ownerrefrence

[code]

#### What you expected to happen:
allow cross namespace ownerrefrence,as follows

[code]

#### Environment:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools: `kubeadm`
- Network plugin and v

[2021-03-26 06:12] chendave commented on #99580
Another problem here is if we don't want to overridden anything but just config a plugin which is accidently a default plugin, something like below,

[code]

scheduler will fail as well,

[code]

[code]

I think we need to De-dup here instead of just a warning here. I guess this PR https://github.com/kubernetes/kubernetes/pull/99582 should already cover this, I will go back to check it again, at l

[2021-03-26 06:16] zhaojizhuang commented on #100577
/sig  api

[2021-03-26 06:23] zhaojizhuang commented on #100577
/sig api-machinery

[2021-03-26 06:24] matthyx commented on #99979
Maybe we could speed up the review on https://github.com/kubernetes/kubernetes/pull/99998

[2021-03-26 06:30] BenTheElder commented on #99979
Thank you I will take a look. I'm making a pass through flakes tonight trying to identify if anything is on kind's end 😅

[2021-03-26 06:39] matthyx commented on #99979
I don't think it's kind... since running on my PC with kind it works 100%, I think the issue is either the resources... or contention in the queue as mentioned to @SergeyKanzhelev in the comment https://github.com/kubernetes/kubernetes/pull/99998#issuecomment-801427213

[2021-03-26 06:40] CaoDonghui123 commented on #100577
I think this is a feature, not a bug
https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/

[2021-03-26 07:02] mandala23 commented on #100434
Hello @hanlins. Thanks for your reply. externalTrafficPolicy is set to Cluster for deployed services.
[iptables_third_node_KO.txt](https://github.com/kubernetes/kubernetes/files/6209881/iptables_third_node_KO.txt)
[iptables_second_node_OK.txt](https://github.com/kubernetes/kubernetes/files/6209882/iptables_second_node_OK.txt)
[iptables_first_node_KO.txt](https://github.com/kubernetes/kubernetes/fi

[2021-03-26 07:03] ivan-cai commented on #100555
@jingxu97 Reason is not on node side. Umount volume succeeded quickly，and node.status.volumeInUse also be updated(`kubectl get node xxx -oymal` can see the change).
I think the problem is caused by apiserver or kcm. But I use cmd `curl` to watch the Node object, its' status.volumeInUse is updated. But I do not ensure if caused by nodeinformer in kcm.

[2021-03-26 07:05] mandala23 commented on #100434
Also, kube-proxy configuration below on all nodes

[code]

[2021-03-26 07:44] SataQiu commented on #100343
/assign

[2021-03-26 08:01] Bryce-huang commented on #89898
same issue on 1.16

[2021-03-26 08:19] mandala23 commented on #100434
I forgot calico configuration applied with kubectl :

[code]

[2021-03-26 08:32] mandala23 commented on #100434
I also try this :

One node with HaProxy in front of three other nodes:

3 other nodes with only one IP (no haproxy , no keepalived)

Same result (either with  ipvs or iptables modes for kube-proxy)

Kubernetes nodes on Centos 8 AppStream

[2021-03-26 09:02] zq-david-wang commented on #99162
Any chance the package got send on default route? Try
`tcpdump -i [default route interface] host [service ip]`
Any package referring to service ip shows up on default interface would indicating something about conntrack (or something else in kernel) wrong.

[2021-03-26 09:16] uablrek commented on #99162
/cc @andrewsykim

@aojea pointed out that you have updated ipvs in the kernel in; https://github.com/torvalds/linux/commit/35dfb013149f74c2be1ff9c78f14e6a3cd1539d1

Do you agree that this may be a kernel bug?

[2021-03-26 09:18] SataQiu commented on #100343
It looks like `rootCA` is always not empty. If `--root-ca-file` was not set, the controller will use the CA embedded in kubeconfig.

https://github.com/kubernetes/kubernetes/blob/30a261d97c65f3e1e46a93eb368376f68935a057/cmd/kube-controller-manager/app/controllermanager.go#L602-L623

https://github.com/kubernetes/kubernetes/blob/30a261d97c65f3e1e46a93eb368376f68935a057/cmd/kube-controller-manager/a

[2021-03-26 09:33] SataQiu commented on #100343
@2rs2ts Is the CA in kubeconfig used by the `kube-controller-manager` the same as the CA specified by the `root-ca-file` flag?

[2021-03-26 09:52] zhaojizhuang commented on #100577
/kind feature

[2021-03-26 10:01] zhaojizhuang commented on #100577
@CaoDonghui123 yeah... it is just a feature suggestion. For in my project, I want to build a `ownerReferences` which points to resource in another namespace

[2021-03-26 10:10] seaurching opened #100580 "ApiServer connect timeout between on worker and master with calico cni"
### kubernetes version
#### v1.20.5

### calico version
#### v3.18.1

### kubernetes-dashboard
#### v2.2.0

When deploy kubernetes-dashboard on worker node, it can't to startup and show CrashLoopBackOff status. And the logs is
[code]

And I set "nodeSelector" to master node, dashboard startup normally. Then deploy an pod on worker node to access the dashboard's api with `curl https://kubernetes-da

[2021-03-26 10:57] 0m1xa opened #100581 "Kube-apiserver probes failing if anonymous-auth is enabled"
#### What happened:
I've added `--anonymous-auth=false` to my kube-apiserver manifest and get readinessProbes of kube-apiserver failing.
If I set `--anonymous-auth=true` everything works as expected.
#### What you expected to happen:
Kube-apiserver works with disabled anonymous auth and all of the checks are passing
#### How to reproduce it (as minimally and precisely as possible):

- Add to your

[2021-03-26 11:02] 0m1xa commented on #100581
/sig api-machinery
/sig auth

[2021-03-26 11:22] gjkim42 opened #100582 "kubelet fails to validate valid resolv.conf"
#### What happened:

kubelet fails to validate valid `resolv.conf` and the 7th DNS search list is omitted.
[code]

#### What you expected to happen:

kubelet does not fail to validate valid `resolv.conf` and makes no event.
And pods should not ignore the 7th DNS search list.

#### How to reproduce it (as minimally and precisely as possible):

1. Make `/tmp/resolv.conf`
[code]

2. Start kubelet wit

[2021-03-26 11:23] gjkim42 commented on #100582
/sig node
/assign

[2021-03-26 11:52] #81756 closed

[2021-03-26 11:56] gjkim42 commented on #100582
/sig network
/sig apps

[2021-03-26 12:41] turowicz commented on #19077
Is this ever going to be a thing?

[2021-03-26 13:00] dims commented on #100396
@unnati914 not sure what you are asking here

[2021-03-26 13:22] AlekSi opened #100584 "Missing conformance image: k8s.gcr.io/conformance:v1.21.0-beta.1"
#### What happened:

[code]

#### What you expected to happen:

Image pulled successfully, like it does for `k8s.gcr.io/conformance:v1.21.0-beta.0`.

#### How to reproduce it (as minimally and precisely as possible):

[code]

[2021-03-26 13:42] AlekSi commented on #100584
/sig release
/sig testing

[2021-03-26 13:44] kgtw commented on #69676
@lukeschlather #100487 should cover the logging and oom event being created for the associated pod that you are wanting.

[2021-03-26 13:44] kgtw commented on #100483
/remove-kind bug
/kind feature

[2021-03-26 14:47] unnati914 commented on #100396
I want to work on this issue

[2021-03-26 14:57] pohly commented on #99957
/assign

[2021-03-26 15:01] atif1996 commented on #89898
Experienced this bug as well in 100's of clusters.  I am running v1.18

[2021-03-26 15:47] b2cbre commented on #91808
It is interesting that service resources can target any pod that matches its selector. I've encountered bugs in our deployment manifests whereby our selectors were not tight enough and traffic was routed to instances that should not have been servicing requests.

This is not an attempt at sarcasm.  I'm genuinely curious.

Why then are the selectors on PDBs different in behavior?

[2021-03-26 15:50] gavinfish commented on #96852
/remove-lifecycle stale

[2021-03-26 16:00] neolit123 commented on #100584
the missing image for this particular tag was caused by a bug.
discussion here indicated that its not trivial to re-release it:
https://kubernetes.slack.com/archives/CJH2GBF7Y/p1616523838082500

[2021-03-26 16:02] neolit123 commented on #100580
this doesn't seem like a core problem.

please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

or contact the Calico maintainers.

/kind support
/close

[2021-03-26 16:02] #100580 closed

[2021-03-26 16:06] jayunit100 commented on #46508
/area kube-proxy

[2021-03-26 16:06] hanlins commented on #6716
/area kube-proxy

[2021-03-26 16:06] uablrek commented on #67730
/area kube-proxy

[2021-03-26 16:07] rikatz commented on #90186
/area kube-proxy

[2021-03-26 16:07] aojea commented on #67730
/area kube-proxy

[2021-03-26 16:07] jayunit100 commented on #46508
/remove-area kube-proxy

[2021-03-26 16:07] danwinship commented on #98410
/area kube-proxy

[2021-03-26 16:08] danwinship commented on #98302
/area kube-proxy

[2021-03-26 16:08] rikatz commented on #90042
/area kube-proxy

[2021-03-26 16:08] dougsland commented on #96018
/area kube-proxy

[2021-03-26 16:08] danwinship commented on #98069
/area kube-proxy

[2021-03-26 16:08] amendoza-navent commented on #41193
I think this feature is really necessary for security reasons.

[2021-03-26 16:09] danwinship commented on #97052
/area kube-proxy

[2021-03-26 16:09] danwinship commented on #96996
/area kube-proxy

[2021-03-26 16:09] danwinship commented on #96935
/area kube-proxy

[2021-03-26 16:09] jayunit100 commented on #46287
/area kube-proxy

[2021-03-26 16:09] rikatz commented on #86024
/area kube-proxy

[2021-03-26 16:09] jayunit100 commented on #46287
hmm, hot reload for kube proxy i think wont be supported ? long issue around this...

[2021-03-26 16:09] danwinship commented on #96879
/area kube-proxy

[2021-03-26 16:10] rikatz commented on #90131
/area kube-proxy

@aojea or not? :D

[2021-03-26 16:10] uablrek commented on #23864
/area kube-proxy

[2021-03-26 16:10] dougsland commented on #95555
/area kube-proxy

[2021-03-26 16:10] hanlins commented on #62822
/area kube-proxy

[2021-03-26 16:11] jayunit100 commented on #45506
/area etcd

[2021-03-26 16:11] aojea commented on #62822
I think that we can close the issue since is tracked as enhacement
/close

[2021-03-26 16:11] rikatz commented on #85572
/area kube-proxy

[2021-03-26 16:11] #62822 closed

[2021-03-26 16:12] danwinship commented on #96868
/area kube-proxy

note that _either_ having a fixed kernel _or_ having a new-enough kubernetes would fix the known vxlan offload issue, so this sounds like it's something separate from the earlier bug.

[2021-03-26 16:12] danwinship commented on #96514
/area kube-proxy

[2021-03-26 16:12] rikatz commented on #82125
/area kubelet
/area kube-proxy

[2021-03-26 16:12] thockin commented on #41881
@bowei Can you give this a final update and then close if appropriate

[2021-03-26 16:12] rikatz commented on #81775
/area kube-proxy

[2021-03-26 16:14] rikatz commented on #74677
/area kube-proxy

[2021-03-26 16:14] dougsland commented on #94022
/area kube-proxy

[2021-03-26 16:15] rikatz commented on #72236
/area kube-proxy

[2021-03-26 16:15] dougsland commented on #93456
/area kube-proxy

[2021-03-26 16:15] rikatz commented on #71202
/area kube-proxy

[2021-03-26 16:15] jayunit100 commented on #41629
tim taking a look - this is still sorta relevant

[2021-03-26 16:15] dougsland commented on #93297
/area kube-proxy

[2021-03-26 16:16] aojea commented on #51292
/area kube-proxy

[2021-03-26 16:16] dougsland commented on #92369
/area kube-proxy

[2021-03-26 16:16] dougsland commented on #92019
/area kube-proxy

[2021-03-26 16:18] palnabarun commented on #100024
@apelisse -- in light of that, can we remove the v1.21 milestone?

[2021-03-26 16:18] thockin commented on #41629
I think we should close this - the current staging/ isn't SO bad and more or less captures the main points here.

[2021-03-26 16:18] #41629 closed

[2021-03-26 16:18] #17324 closed

[2021-03-26 16:19] rikatz commented on #71202
So we've been discussing about the evolution of kube-proxy and the maintainability of the modes (IPtables, ipvs, and so on) and we've reached a consensus that  we need to evolve the vendoring of kube-proxy logics, modules (also take a look at: https://github.com/kubernetes-sigs/kpng)

So right now, talking with other sig-network folks, (@thockin @aojea @jayunit100 @uablrek ) we think this is not a

[2021-03-26 16:20] #71202 closed

[2021-03-26 16:21] palnabarun commented on #100047
@msau42 -- is someone working on de-flaking the remaining tests?

[2021-03-26 16:25] aojea commented on #100427
Indeed it looks, feel free to readd sig-network if it turns out to be something different
/remove sig-network

[2021-03-26 16:33] jsturtevant commented on #96996
/priority important-longterm

[2021-03-26 16:37] thockin commented on #95555
I don't think there's any response to this issue from the k/k codebase?

[2021-03-26 16:37] #95555 closed

[2021-03-26 16:38] rikatz commented on #46287
/kind feature

[2021-03-26 16:38] joelsmith commented on #98498
I've seen this flake and variations of it in the pull-kubernetes-e2e-kind test on my 1.20 cherry-pick PR:
https://github.com/kubernetes/kubernetes/pull/100501

Across the various runs, I've seen at least one failure of each of the following:
[code]

[2021-03-26 16:38] rikatz commented on #44997
/kind feature

[2021-03-26 16:39] thockin commented on #28483
EndpointSlice does this right.

[2021-03-26 16:39] #28483 closed

[2021-03-26 16:39] rikatz commented on #18174
/kind feature

[2021-03-26 16:51] jingxu97 commented on #100555
I see. btw: you k8s version is too old. Better to upgrade the version and then test it again?
You mentioned 11000+ pvs in cluster. How many nodes in your cluster?

[2021-03-26 16:55] grosser commented on #45419
FYI we had this happen because of a containerd update from 1.4.3 to 1.4.4 (can see what was used to compile docker with `docker version`) ... still not sure why
see https://github.com/containerd/containerd/issues/5274

[2021-03-26 16:58] giuseppe commented on #99230
for completeness, the patch for runc/libcontainer: https://github.com/opencontainers/runc/pull/2873

[2021-03-26 18:01] melnikalex opened #100588 "Improve coverage of authorization metrics in apiserver (authorization_attempts)"
#### What would you like to be added:
Some metrics on authorization:
* overall approved
* overall denied
* overall latency

#### Why is this needed:
Many users run multiple authorizers in the authorization chain. When cluster administrators are making changes anywhere in the chain or updating the authorization components they'd like to have metrics around authorization to help detect anomalies soo

[2021-03-26 18:04] melnikalex commented on #100588
I'm thinking about submitting something similar to these CRs but for authorization:
https://github.com/kubernetes/kubernetes/pull/81509?_pjax=%2523js-repo-pjax-container

[2021-03-26 18:12] oz123 commented on #76928
I believe this is also a problem for openstack users who use Octavia loadbalancers in front of the kube-api-server.
The linked PR does specify this too.

[2021-03-26 18:37] claudiubelu commented on #99360
Seems to work. I have sent 2 PRs for this:

https://github.com/kubernetes/release/pull/1978
https://github.com/kubernetes/kubernetes/pull/100592

[2021-03-26 18:38] ehashman commented on #99803
Patch has been merged, @pacoxu can you please confirm the fix and close this issue?

[2021-03-26 18:48] rootmout opened #100594 "[CINDER] /kubelet/plugins/kubernetes.io/cinder/ doesn't exist"
#### What happened:
I try to use cinder volumes in my k8s cluster that is in an openstack cluster.
The volume is correctly created by cinder, the pvc is bound and the pod try to mount the volume that should have `/var/lib/kubelet/pods/<pod-id>/volumes/kubernetes.io~cinder/pvc-<pvc-id>` as path. However, he isn't existing on concerned node, and I get the following error (describe pod):

[code]

Oth

[2021-03-26 19:15] jingxu97 commented on #100047
my fix #100191 is merged yesterday. However, the test Deployment should run the lifecycle of a Deployment still failed twice after that. They have different cauess.

1. Pod failed to start within timeout (1min).
  - test result: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1375486825459617792
  - Kubelet.log: it shows that after volumes are mounted succe

[2021-03-26 20:16] coadler opened #100595 "`io.k8s.api.admission` types missing from OpenAPI spec"
#### What happened:

I'm attempting to use the Rust [API bindings](https://github.com/Arnavion/k8s-openapi) which are generated from the OpenAPI spec in this repo. I noticed that the `admission` section is completely missing. Looking further, it seems like the entire `admission` section is missing from the official OpenAPI spec all together. I'm not entirely sure if this is on purpose, but it woul

[2021-03-26 20:42] sathieu commented on #65502
A slightly different approach is needed with Istio with [CNI](https://preliminary.istio.io/latest/docs/setup/additional-setup/cni/). The problem is described [here](https://preliminary.istio.io/latest/docs/setup/additional-setup/cni/#compatibility-with-application-init-containers) *Init containers execute before the sidecar proxy starts, which can result in traffic loss during their execution*.

W

[2021-03-26 20:46] s3rj1k commented on #43299
This deserves to be in official docs, thanks @liggitt

[2021-03-26 21:37] coadler commented on #100595
/sig api-machinery

[2021-03-26 21:49] danquah commented on #67455
Don't know if this is relevant for the issue, but when I tried to do something similar directly via curl

[code]

I got the same behaviour (patch "applied" but nothing changed).

When I switched to patching against the /status subresource, it suddenly worked
[code]

[2021-03-26 22:10] aojea commented on #99850
runtime patches has merged, so it is on the people to install a version with the patches.

@mcwumbly are you able to test with one of those runtimes nigthly package and report back?

[2021-03-26 22:23] 2rs2ts commented on #100343
@SataQiu we weren't setting it in the kubeconfig explicitly, but I was originally using `--root-ca-file=/etc/ssl/certs/ca-certificates.crt`, so if the default behavior for the kubeconfig is to use `/etc/ssl/certs/ca-certificates.crt` if the CA isn't specified, then that makes a certain amount of sense. If that's true then I think the docs are just worded confusingly–what do you think?

[2021-03-27 00:06] innovate-invent commented on #45811
/reopen

[2021-03-27 00:43] mcwumbly commented on #99850
@aojea I'll circle back after the weekend and take a look.

[2021-03-27 01:18] oz123 opened #100596 "document _output directory"
#### What happened:
I spent quite a while figuring out how to build the docker images for k8s, when I finally succeeded, the build process told me the images are deleted. I was quite puzzled:
[code]
After I built the images again. only to receive the same message, I started digging, and I found out that the
images are exported with `docker save`.

#### What you expected to happen:
I think a notifi

[2021-03-27 04:24] #89776 closed

[2021-03-27 05:06] BenTheElder commented on #100596
FWIW _all_ output goes under `_output`, I think we should ensure this is sufficiently documented at least.
https://github.com/kubernetes/kubernetes/blob/master/build/README.md

[2021-03-27 05:11] BenTheElder commented on #100584
This image should be available in the newly released `v1.21.0-rc.0` (we had more fun getting it working), FWIW.

[2021-03-27 05:16] yogeek commented on #78757
/reopen

[2021-03-27 05:34] BenTheElder commented on #100581
Issue title should be:

?

[2021-03-27 06:52] oz123 commented on #100596
It took me a while to find this. Also, I tried using the scripts directly without much success. The makefile is much more helpful. It might be worth mentioning that in the linked document.

[2021-03-27 09:38] aojea commented on #99850
I will do it in my side once I have time next week, but a double ack will be great

[2021-03-27 11:21] SerialVelocity commented on #87126
@OPSTime Ping on the above

[2021-03-27 13:11] shuaisai commented on #43805
alter docker's file in /etc/docker/daemon.json

[2021-03-27 14:19] Kappie37 commented on #100388
@jsturtevant Will do, thanks!

[2021-03-27 15:14] pacoxu commented on #99803
OK. I will add new benchmark later with the fix.

[2021-03-27 16:06] liggitt commented on #100595
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/84081

the generated openapi spec currently only contains types served by the API server

[2021-03-27 16:06] #100595 closed

[2021-03-27 16:12] liggitt commented on #100581
If you disallow anonymous requests to all API server endpoints, it is expected that anonymous probes to the health endpoints will be rejected.

Your options are to configure the probe to provide credentials sufficient to authentic fixate for health's access, or use an alternate mechanism to determine server health. See related discussion in https://github.com/kubernetes/kubernetes/issues/43784

[2021-03-27 16:12] #100581 closed

[2021-03-27 16:14] liggitt commented on #100577
Cross namespace references are disallowed by design as described in https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/

See https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#object-references for details about the considerations behind namespace scoping references

[2021-03-27 16:14] #100577 closed

[2021-03-27 18:39] Kappie37 commented on #93795
@almas33 Are you working on this?

[2021-03-27 20:06] aojea commented on #99850
tested with KIND from HEAD with the containerd version with the fix, and it works

- run a pod and open a server listening only in ::1
[code]
- forward the port from outside
[code]
- create a connection
[code]

[2021-03-27 20:40] #95815 closed

[2021-03-27 21:07] BLasan commented on #99966
Would like to work on this if @minbaev 's not working

[2021-03-27 21:08] BLasan commented on #99966
/assign

[2021-03-27 21:09] BLasan commented on #99966
@minbaev pls unassign me if you're working on this

[2021-03-27 22:06] minbaev commented on #99966
/assign @minbaev

[2021-03-27 22:06] minbaev commented on #99966
I'm working on this

[2021-03-27 22:07] minbaev commented on #99966
/unassign @BLasan

[2021-03-28 00:55] wu0407 commented on #94415
this happen on 1.18 when docker socket is stuck

[2021-03-28 01:00] dims opened #100602 "github.com/BurntSushi/toml is unmaintained"
we have a transitive dependency that is unmaintained - https://github.com/BurntSushi/toml we don't use it directly but definitely a longer term concern. Alternative seems to be https://github.com/pelletier/go-toml

![image](https://user-images.githubusercontent.com/23304/112739106-6c712c80-8f3f-11eb-9d37-54b31b0e60cb.png)

[2021-03-28 01:03] wu0407 commented on #94415
containerd stucked when runc is block, so docker stucked too.
https://github.com/opencontainers/runc/issues/2828

[2021-03-28 01:13] sfgroups-k8s commented on #97283
Hi,
I have configured calico with FELIX_IPTABLESBACKEND as NFT, but still RHEL 8 server not able communicate PODs running on two different host.
**Here is my config**

1. Firewalld is disabled
2. SELINUX is disabled
3. Kubererntes version v1.18.6
4. Kernel version : `4.18.0-240.15.1.el8_3.x86_64`

[code]

looks like this config worked on CentOS 8 steam, but its not working for me

https://mihail-m

[2021-03-28 01:45] #95968 closed

[2021-03-28 04:01] champtar commented on #97283
IPIP offload is broken with at least Mellanox and VMware in RHEL 8.3, and Calico defaults to IPIP, so have a look at this bug this might be your problem: https://github.com/projectcalico/calico/issues/4384

[2021-03-28 04:15] kqsantacruz commented on #72502
FWIW, I'm also experiencing this issue using preemtible nodes in GKE, in my case running  1.18.16-gke.302, which I believe should contain the cherry-picked fix.