[2018-03-22 18:45] hdave commented on #20555
Follow-on to @ericuldall -- that won't work if the readiness probe uses HTTPS.  The readiness probe will work, but the gce health check will be configured for http.  See here:  https://github.com/kubernetes/ingress-gce/issues/42

[2018-03-22 18:46] ccs018 commented on #25908
It's a hack, but it'll have to do.

[2018-03-22 18:48] andrewshilliday commented on #61555
/sig network

[2018-03-22 19:00] Joseph-Irving commented on #25908
It definitely seems like plenty of people want this for a variety of reasons. It would be good to have some official support. I had the same problem with our own sidecar and jobs, so I had the sidecar use the kube api to watch status of the other container in the pod, if it terminated with a `completed` the sidecar would exit 0, if it errored the sidecar would exit 1. Maybe not the most elegant so

[2018-03-22 19:01] liggitt opened #61557 "piping stdin into kubectl exec sometimes hangs with docker 1.13+"
the following will frequently hang:
[code]

The issue is that the docker client does not reliably close the input stream.

Tracked upstream in https://github.com/moby/moby/issues/36516

Fixed in https://github.com/moby/moby/pull/36517

This issue will persist until kubernetes picks up a version of the docker client containing that fix.

[2018-03-22 19:03] msau42 commented on #59764
We also need to add those 2 known issues to 1.9, 1.8, 1.7 patch releases as well.

[2018-03-22 19:04] mikedanese commented on #61421
We definitely want hardware bound keys, but it's not our highest priority right now. I'd like to move service account token private key operations out of the apiserver soon. For TLS:
* RSA cipher suites without ephemeral DH require private keys that implement crypto.Decrypter although non-DHE suites are lower priority for our kubernetes clients and servers by default and we should probably recomme

[2018-03-22 19:06] xguerin commented on #60315
I'm having the same issue here. It seems to only happen when the container gets scheduled on a worker node. When scheduled on the master node, it works fine. Here is my job configuration:

[code]

I then connect to the container:

[code]

I am using `calico` so it might be a problem with that. I used `kubeadm` and checked that all my configuration matched.

[2018-03-22 19:27] unicell commented on #49063
@benbc I had the same issue with `v1.7.12`, could you suggest what recent version that does not have the problem? So that I can keep an eye on it when later upgrade my cluster. Thanks!

[2018-03-22 19:27] phsiao opened #61558 "apiserver returns 500 when it cannot query DNS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We did a schedule maintenance of our DNS resolvers used by apiserver, and apiserver becomes not healthy and get killed by health check.

[code]

with this liveness probe

[code]

**What you expected to happen**:

apiserver remains healthy while DNS server is not available.  We actually have two resolvers in resolv.conf w

[2018-03-22 19:28] liggitt commented on #56174
That only works if all new fields added to the Pod API are restrictive, which will likely not be the case (c.f. https://github.com/kubernetes/community/pull/1934)

That is closer to being workable (assuming new fields in the Pod API default to their current behavior), but is harder to explain

[2018-03-22 19:37] phsiao commented on #61558
/sig api-machinery

[2018-03-22 19:39] mikedanese commented on #55968
tracked in https://github.com/kubernetes/kubernetes/issues/61421 now

[2018-03-22 19:42] #55968 closed

[2018-03-22 19:46] faraazkhan commented on #60828
Hey @WanLinghao so are you saying this is resolved in 1.10. Because I can reproduce it pretty easily on 1.9.3.
So after first creating the service with the `env` tag using the manifest above and `kubectl apply`, I then modify the manifest to remove the `env` tag from the annotation.
The result of `kubectl describe svc nginx-lb` is pasted below:
[code]
Notice how the annotation no longer has the en

[2018-03-22 19:58] Draiken commented on #25908
This reminds me of a Gorillaz song M1 A1...

Hello? Hellooooooo? Is anyone there?

[2018-03-22 20:04] msau42 commented on #59764
The workaround for #61446 and #61456 is to not use subPath with hostPath volumes, and instead just specify the whole path in the hostPath volume.

[2018-03-22 20:14] apelisse opened #61559 "GKE Dashboard tests are failing because it's not started by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
GKE tests are failing. They are trying to check that the dashboard is alive, but the dashboard is disabled by default in GKE in Kubernetes 1.10.

**What you expected to happen**:
The test should either not run, or start the dashboard. Ideally, it would start the dashboard so we could see that it works, for now we'll just

[2018-03-22 20:18] apelisse commented on #61559
/priority critical-urgent

That's probably not true, but please change it to appropriate.

[2018-03-22 20:46] gnufied commented on #45615
@jingxu97 how do you mean? I think next step is removing the flag altogether from kubelet cli params.

[2018-03-22 20:52] jstott commented on #55867
Same on Azure (acs-engine) with 1.9.3 & same after upgrade to 1.9.6, looking for help as well.

[code]

[2018-03-22 20:59] DanyC97 commented on #54482
@liggitt what @daniilyar said is the same chat we had few days ago on slack ;)

[2018-03-22 21:09] irfanjs commented on #61426
i tried reading docs from different sites .. however not able to resolve the issue. can someone please give some pointers / direction please ?...

[2018-03-22 21:16] richtera commented on #57393
Which version will contain the new kubectl set image support for cronjobs? Is this just a command line patch or also system images?

[2018-03-22 21:28] roycaihw commented on #59387
Basic auth was removed from the openapi spec https://github.com/kubernetes/kubernetes/pull/34691#issuecomment-255258786 because swagger-codegen didn't work with multiple mechanisms using the same header key ("authorization") https://github.com/kubernetes/kubernetes/pull/34691#issuecomment-254577973, but username/password can still pass as the header key. Not sure if it's still true. I checked swag

[2018-03-22 21:37] liggitt opened #61563 "subPath volume mount umbrella issue"
This issue is tracking the status of the fixes for functional regressions related to the design change required to address [CVE-2017-1002101](https://github.com/kubernetes/kubernetes/issues/60813).

- [x] #61076: subPath volume mounts cannot be used with secret, configmap, projected, or downwardAPI volumes. *Fixed in 1.10.0, 1.9.5, 1.8.10, and 1.7.15*.
- [x] #61178: cleanup of subPath volume mount

[2018-03-22 22:36] casiodk commented on #25908
Yes, lets please get some traction +1

[2018-03-22 23:10] shyamjvs commented on #61481
Yes, at least I observe our 2k-node cluster came up successfully in [this run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/72) from yesterday. Should've likely fixed 5k too. If not, we can reopen this.

[2018-03-22 23:10] #61481 closed

[2018-03-22 23:16] jennybuckley commented on #59124
@sttts
Hmm, then I think the reason that the test doesn't fail pre-#59073 is because that post start hook isn't set up unless api-aggregation is being used. I guess the integration test for this will have to do that as well. Although the one in #60771 is still somewhat valuable to make sure new startup namespace creations in non aggregated apiservers are done correctly.

[2018-03-22 23:25] ianchakeres opened #61569 "Unit test for volume/fc fail on osx"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

`volume/fc` unit tests fail on osx.

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

To see this unit test fail, you need to run go test on an osx machine.

[code]

**Environment**:
- OS: macOS High Sierra v10.13.3

[2018-03-22 23:25] ianchakeres commented on #61569
/sig storage
/assign @ianchakeres

[2018-03-22 23:32] caesarxuchao commented on #43329
@lostllama what documentation were you referring to? Is it the openapi doc?

I don't know if we can just deprecate the support of query parameters for DELETE. I understand it's a breaking change, but it has been broken for a year.

[2018-03-23 00:01] thockin commented on #56887
/close

On Thu, Mar 22, 2018 at 9:02 AM rogovst <notifications@github.com> wrote:

[2018-03-23 00:01] #56887 closed

[2018-03-23 00:08] andyzhangx commented on #61464
Hi @rfranzke, I would like to confirm with you, which back off settings works in your case:
 - Setting#1
[code]

 - Setting#2
[code]

And what's your original backoff setting?

[2018-03-23 00:11] ianchakeres opened #61571 "Unit test for volume/rbd fails on osx"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

`volume/rbd` unit tests fail on osx.

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

To see this unit test fail, you need to run go test on an osx machine.

[code]

**Environment**:
- OS: macOS High Sierra v10.13.3

[2018-03-23 00:11] ianchakeres commented on #61571
/sig storage
/assign @ianchakeres

[2018-03-23 00:32] tamxdx commented on #54610
I'm using azureFile in my deployment yaml, but it does not have symbolic link support. I've read that I need to include "mfsymlinks" in my CIFS mount command..

sudo mount -t cifs //<your-storage-acc-name>.file.core.windows.net/<storage-file-share-name> /media/shared -o vers=3.0,username=<storage-account-name>,password='<storage-account-key>',dir_mode=0777,file_mode=0777,mfsymlinks

so how would I

[2018-03-23 00:38] andyzhangx commented on #54610
- for dyanmic provisioning, using:
https://github.com/andyzhangx/demo/blob/master/pv/storageclass-azurefile-mountoptions.yaml
 - for static provisioning, using:
https://github.com/andyzhangx/demo/blob/master/pv/pv-azurefile-mountoptions.yaml

mount options support of azure file is available from **v1.8.5**

[2018-03-23 00:45] yanxuean commented on #56227
/remove-lifecycle rotten

[2018-03-23 00:54] tverilytt commented on #2630
Hi!
I ended up with the below initContainers config for giving the node-red-docker container, which runs as a non-privileged user, access to a externally created disk. After trying a lot of things, it seemed the "runAsUser" 0 (root) did the trick.

Cheers
-jo

      initContainers:
        - name: volume-mount-hack
          image: nodered/node-red-docker:slim
          command:
            - sh

[2018-03-23 01:18] sethvargo opened #61572 "Provide a first-class way to get the Kubernetes API server CA cert"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Some clusters use a self-managed CA or a non-root trusted CA. Even for clusters using a trusted chain, some client libraries ignore root CAs and require the caller specify the trusted cert chain. In these situations, it would be helpful to have an API to retrieve the server's CA public key (in PEM format).

After lots of investigati

[2018-03-23 01:24] sethvargo commented on #61572
@kubernetes/sig-cli-feature-requests @kubernetes/sig-api-machinery-feature-requests

[2018-03-23 01:25] sethvargo commented on #61572
@kubernetes/sig-security-feature-requests for visibility

[2018-03-23 01:31] lcfang commented on #61469
Hi @deads2k , Thanks for your attention.
Do you have any idea about the priority? Shouldn't the `v1` has more priority than others?

[2018-03-23 01:35] sethvargo opened #61573 "Remove use of REDACTED in config output for public CA"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

`kubectl config view` shows:

[code]

The use of "REDACTED" for a CA here is misleading, since it's a public certificate that is not a secret.

**What you expected to happen**:

I expected to see the full CA in pem format (like when you cat `~/.kube/config`) or something like "SUPPRESSED" or "TRUNCATED"

**How to reproduce it (as m

[2018-03-23 01:36] sethvargo commented on #61573
@kubernetes/sig-cli-bugs @kubernetes/sig-security-bugs (for thoughts)

[2018-03-23 01:42] zjj2wry commented on #61573
@sethvargo use `kubectl config view --raw` you can see the complete certificate authority data

[2018-03-23 01:45] sethvargo commented on #61573
Hey @zjj2wry

Thank you - I have [another issue](https://github.com/kubernetes/kubernetes/issues/61572) tracking that 😄.

The point of this issue is that at best it's a bad UX; at worst it's a miseducation on pki. "REDACTED" isn't the right word here

[2018-03-23 01:56] zjj2wry commented on #61573
@sethvargo If there are multiple clusters displaying certificates, the configuration will be too long, so this switch is turned off by default. But we can add an example to help use. thanks

[2018-03-23 02:07] tamxdx commented on #54610
thanks andyzhangx! that did it.

[2018-03-23 02:28] dunv-viosoft commented on #61543
I has same issue

[2018-03-23 02:33] #59505 closed

[2018-03-23 02:51] sethvargo commented on #61573
Hey @zjj2wry

I don't personally view truncation the responsibility of the CLI... users can pipe things to a pager if they really care. That being said, I'm not concerned about the length. The issue is purely about the word choice of "REDACTED".

The term [redact](https://www.google.com/search?q=redact) means:

The use of the term "REDACTED" in the output implies that a CA public key is remove for

[2018-03-23 03:13] zhijiansd opened #61576 "Can't delete “rook” namespace"
Is this a BUG REPORT or FEATURE REQUEST?:
/kind/error
# kubectl get ns rook
NAME      STATUS        AGE
rook      Terminating   2d
I don't know if this is a bug。When I continue to delete，The following error occurred
# kubectl delete ns rook
Error from server (Conflict): Operation cannot be fulfilled on namespaces "rook": The system is ensuring all content is removed from this namespace.  Upon comp

[2018-03-23 03:21] #61576 closed

[2018-03-23 03:22] qq9338745 opened #61577 "kubelet won't start - /etc/kubernetes/pki/ca.crt: no such file or directory"
bug

What happened:
Performed a clean install on Oracle Linux release 7.3 and started kubelet
yum install -y kubelet kubeadm kubectl systemctl enable kubelet && systemctl start kubelet
`
systemctl status kubelet
tail -100f /var/log/messages | grep kubelet

kubelet: error: unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory`

What you

[2018-03-23 03:35] cblecker commented on #61573
Not quite a bug, but I think you're right @sethvargo a better term could be used there as it is a public key, not a private key.

@kubernetes/sig-auth-feature-requests
/remove-kind bug

[2018-03-23 03:49] mikedanese opened #61578 "protobuf optional lists are not textproto marshalable"
/bug
/sig api-machinery

[2018-03-23 03:51] feiskyer opened #61579 "DNS servers and search domains are not set for Windows Pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubelet is depending on docker container's ResolvConfPath (e.g. `/var/lib/docker/containers/439efe31d70fc17485fb6810730679404bb5a6d721b10035c3784157966c7e17/resolv.conf`) to setup dns servers and search domains. While this is ok for Linux containers, ResolvConfPath is always an empty string for windows containers. So tha

[2018-03-23 03:53] feiskyer commented on #61579
/sig windows
/sig node
/kind bug
/assign

/cc @PatrickLang @taylorb-microsoft @michmike @JiangtianLi

[2018-03-23 03:54] feiskyer commented on #61579
Let me fix this in v1.11

[2018-03-23 03:54] rbtcollins opened #61580 "kubectl cordon / uncordon don't accept -l parameters"
/kind feature

**What happened**:

ran kubectl cordon -l beta.kubernetes.io/instance-type=m3.2xlarge

got

[code]

**What you expected to happen**:

kubectl to cordon the nodes I'd specified.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.9 client, 1.5 server
- Cloud provider

[2018-03-23 03:54] feiskyer commented on #61579
/priority important-soon

[2018-03-23 03:57] feiskyer commented on #61579
/status approved-for-milestone

[2018-03-23 04:05] zjj2wry commented on #61421
@ericchiang got, thanks ：）

[2018-03-23 04:15] PatrickLang commented on #61579
This may have been fixed in https://github.com/Microsoft/SDN/issues/150

[2018-03-23 04:16] mikedanese commented on #61578
Failing test
[code]

[2018-03-23 04:35] lz000 opened #61581 "Not seeing mounted persistent volume in the instance"
I created a 200G disk with the command `gcloud compute disks create --size 200GB my-disk`
then created a PersistentVolume
[code]
then created a PersistentVolumeClaim
[code]
then created a StatefulSet and mount the volume to /mnt/disks, which is an existing directory.
[code]
I ran command `kubectl get pv` and saw that disk was successfully mounted to each instance
[code]
but when I ssh into an inst

[2018-03-23 05:03] feiskyer commented on #61579
@PatrickLang Not same.

This is what https://github.com/Microsoft/SDN/issues/150 has done, but it doesn't follow kubernetes dns policies.

[2018-03-23 05:10] sethvargo commented on #61572
@liggitt I think that's a great enhancement, but it still requires the user to parse the root ca out of the chain in whatever language they use (some are easier than others) or use openssl on the CLI and somehow automate it.

[2018-03-23 05:15] zjj2wry commented on #61580
@rbtcollins what your CLI version? kubectl already support it
[code]

[2018-03-23 05:16] zjj2wry commented on #61580
/sig cli

[2018-03-23 05:20] zjj2wry commented on #61577
/kind support
[code]
@qq9338745
The kubelet's ca file does not exist. Are you adding nodes or restarting? or use kubeadm join?

[2018-03-23 06:18] qq9338745 commented on #61577
no, i  haven't done adding nodes or restarting operation. this is a new environment.
does kub 1.9.6 support docker   17.06.2-ol ?

[2018-03-23 06:39] mdianjun opened #61582 "Scheduler_perf is not accurate"
The benchmark result of scheduler_perf:
[code]
The last two lines, ns/op were greater than 2 seconds, which I don't think it was right. In the code below, the total time of benchmark included performing `finalFunc()` and `nodePreparer.CleanupNodes()`, which stopped scheduler and apiserver , and cleaned nodes.
[code]

I added one line code to the end of this function as below:
[code]

And I execute

[2018-03-23 06:41] rfranzke commented on #61464
Hey, I tried with the first settings which are also the default values in the Azure cloud provider. Since it has worked with that and I'd like to have backoff, I didn't try disabling it at all (setting 2).

[2018-03-23 06:41] #61464 closed

[2018-03-23 07:30] vamsi397 opened #61583 "Certificates in my kubernetes are expired. What are the steps in redeploying certificates. After redployment pod health is affected. How do i overcome this?"
@kubernetes/k8s-sig-onprem-bugs
@kubernetes/k8s-sig-onprem-api-reviews
@kubernetes/k8s-sig-onprem-feature-requests
@kubernetes/k8s-sig-onprem-misc
@kubernetes/k8s-sig-onprem-pr-reviews
/sig auth
/sig api-machinery
pods status after certificate change. how to overcome this?

[mdupaguntla@iacap067 K8S_HA_Setup_Post_RPM_Installation_With_RBAC]$ sudo kubectl logs fluentd-es-v2.0.2-svflp
2018-03-23 07:

[2018-03-23 07:45] Zetanova commented on #53889
@andrewhowdencom Had the same issue and resolved it with
`kubeadm init --ignore-preflight-errors CRI`

kubeadm will generate the keys after the check

[2018-03-23 08:33] zjj2wry commented on #61577
The log says your ca file does not exist, please check it

[2018-03-23 08:37] qq9338745 commented on #61577
yes, i have mentioned that, there is no such dir or file . i don't know the root cause.

********************************************************************************************
[root@infbjvm555 log]# cd /etc/kubernetes/
[root@infbjvm555 kubernetes]# ls -rlt
total 0
drwxr-xr-x 2 root root 6 Mar 22 03:30 manifests
[root@infbjvm555 kubernetes]#

actually, there is no /etc/kubernetes/pki/ dir and

[2018-03-23 08:39] adelton commented on #61474
By the way, I see the same situation on Fedora 28 nightly composes, with `systemd-238-3.fc28.x86_64`.

[2018-03-23 08:46] feiskyer commented on #61456
The hostPath+subPath is actually also not working for previous versions (e.g. all v1.9.x). e.g. replacing above examples with any hostPath not existing inside kubelet container. In such case, kubelet is validating the hostPath inside its running container (fail since it doesn't exist), while the expected hostPath is on the node.

[2018-03-23 08:46] sekaiga opened #61586 "batch cronjobs , matches multiple kinds"
**this is a BUG REPORT**:
/kind bug
/sig api-machinery
**What happened**:
kubectl get all -n kube-system
error: {batch  cronjobs} matches multiple kinds [batch/v1beta1, Kind=CronJob batch/v2alpha1, Kind=CronJob]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
im not sure,
i start dashboard,heapster by k8s it happened.then i kubeadm reset.
i star

[2018-03-23 08:50] hzxuzhonghu opened #61587 "kubectl delete should use PropagationPolicy instead of OrphanDependents"
DeleteOptions.OrphanDependents has been deprecated, instead should use PropagationPolicy

/sig cli

[2018-03-23 08:51] ggaaooppeenngg commented on #43783
Is this setting compatable with kubeadm now?

[2018-03-23 09:01] Dhananjay-J-P opened #61589 "kubernetes cp command does not respond"
I want to copy one folder to pod, I am using below command

``kubectl cp keys $POD:/home/oracle/ ``

Issue is when I hit enter, I do not see any response(it does not exit after copying folder,this behavior is sporadic), as if the command is taking long time, although when I check POD I can see folder is copied.

I need to close it with ctrl+c to execute next command.

[2018-03-23 09:04] codebreach commented on #20391
Hey @phillydogg28, @abemusic and @jl-dos

We are facing the same issue and were wondering if any of you had found a workaround or a resolution?

Happening on GKE with no plugins on both 1.9.4-gke.1 and 1.7.12-gke.1. Node/Master OS is ContainerOS

[2018-03-23 10:11] jsravn commented on #47142
/remove-lifecycle stale

[2018-03-23 10:20] marrrvin commented on #59123
@php-coder I am in :)

[2018-03-23 10:40] #54465 closed

[2018-03-23 10:56] andyzhangx commented on #61456
@feiskyer it's not correct, hostPath+subPath is working on v1.9.3, I just tried. kubelet will only check whether subPath exists, if not, mkdir subPath in kubelet, related code is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L222-L242). Without the security path, finally docker will mkdir full subPath in host for containerized kubelet.

[2018-03-23 10:58] andyzhangx commented on #61456
@msau42 just loop me in for this PR, thanks.

[2018-03-23 11:11] allamand commented on #55045
Because the Pods are created by the Statefulset, is there a way to know which PVC to destroy after a Statefulset is scale down ? It would we nice to have a flag in the statefulset to configure if we want to keep the PVC or want to delete it wih Pods.

[2018-03-23 11:12] feiskyer commented on #61456
@andyzhangx hostPath is validated first (this is in container for containerized kubelet), see https://github.com/kubernetes/kubernetes/blob/d2835416544f298c919e2ead3be3d0864b52323b/pkg/kubelet/kubelet_pods.go#L207-L210

[2018-03-23 11:30] codebreach opened #61593 "Pod unable to connect to itself via service"
/kind bug

**What happened**:
Unable to route network requests from pod to self via service

**What you expected to happen**:
Network requests should work

**How to reproduce it (as minimally and precisely as possible)**:
- Deploy new cluster on GKE 1.9.4-gke.1 (containerOS)
- Set up Pod1, Service1 (to Pod1)
- bash into Pod1 and try to curl Service1
- Expected: curl succeeds
- Actual: curl fails (

[2018-03-23 11:41] arunjohn opened #61594 "Unable to authenticate user using x509 certs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Unable to Authenticate using x509 certs as per documentation.
Currently using a script that would automate creating user certs, and creating necessary csr and getting it approved as shown below:

[code]

The error I usually get while using this script is as shown below:

[code]

**What you expected to happen**:

I would e

[2018-03-23 11:41] #54474 closed

[2018-03-23 11:47] codebreach commented on #61593
/sig network

[2018-03-23 11:57] JWimsingues commented on #59867
Probably linked to this problem: I tried to solve it using your tips (delete from kubectl 1.9x, dashboard delete...) but now some of my pods are stuck in `terminating` status. Does anyone faced this problem afterwards?

[2018-03-23 12:08] arunjohn commented on #61594
/sig sig-auth-bugs

[2018-03-23 12:15] deads2k commented on #61469
Yes.  You can see a general pattern emerging here.  https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/aggregator.go#L213-L246

[2018-03-23 12:19] php-coder commented on #61420
@marrrvin submitted PRs for that: https://github.com/kubernetes/kubernetes/pull/61592 and https://github.com/kubernetes/website/pull/7823

[2018-03-23 12:20] andyzhangx commented on #61456
@feiskyer You are right, we happened to use same dir, e.g. /tmp, /mnt which exists on both kubelet container and host, if I use hostPath like `/andy`, we will get error like following:
[code]

So with contianerized kubelet, only following hostPath+subPath are supported before security path, it's quite tricky:
[code]

It's more like a hostPath+subPath issue for containerized kubelet, this security

[2018-03-23 14:25] tslavik commented on #55867
I have the same issue on AKS (1.8.7) in westeurope. It is woking again after restart nodes. thanks to @**otaviosoares**

[2018-03-23 14:55] ianchakeres opened #61596 "Update lv-provisioner image in e2e tests for k8s 1.10"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We need to update local volume provisioner used in local PV e2e tests for k8s 1.10, by leveraging a new provisioner image (v2.1.0).

**Environment**:
- Kubernetes version: v1.10

[2018-03-23 14:56] ianchakeres commented on #61596
/sig storage
/assign @ianchakeres

[2018-03-23 15:05] edevil commented on #17088
I started using GKE, after years of using home grown clusters with the nginx ingress, and was surprised by the IP per Ingress behaviour of the default ingress controller. I thought I could get around this by using a single ingress file in the kube-system namespace that aggregated all host/paths -> service rules but it turns out I cannot reference services in other namespaces.

Is there a better op

[2018-03-23 15:10] sokoow commented on #51835
Happened to us a few minutes ago on 1.8.9 too - anybody is looking for resolving this ? Restarting docker helps, but it's a bit ridiculous.

[2018-03-23 15:17] liggitt commented on #56174
Come to think of it, that's more or less what we're doing already:

a new field added to Pods that expands powers:
* defaults to whatever value maintains the current behavior / level of power
* the corresponding control field in PSP defaults to preventing the power expansion (otherwise existing PSPs suddenly allow more powerful pods)

a new field added to Pods that allows limiting powers:
* defaul

[2018-03-23 15:18] DanyC97 commented on #54482
@smarterclayton tagging you too as this does affect OpenShift too, i tried in Origin 3.7 with no success ...

[2018-03-23 15:20] WolfgangMau commented on #43168
went into the same problem ...
kubectl delete job myjobname -n mynamespace --cascade=false
deleted the job (which has had no pod anymore)

[2018-03-23 15:24] php-coder opened #61599 "EncryptionConfig: use standard method for parsing config file"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig auth

**What happened**:
Currently encryption config parsing uses a non-standard parsing method that pays no attention to the version of the config:

https://github.com/kubernetes/kubernetes/blob/dce1b881284a103909f5cfa969ff56e5e0565362/staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go#L67-L79

**What you exp

[2018-03-23 15:37] liggitt commented on #61589
likely a duplicate of https://github.com/kubernetes/kubernetes/issues/61557 (stdin consumption hangs, and `cp` uses stdin)

/close

[2018-03-23 15:37] #61589 closed

[2018-03-23 15:39] liggitt commented on #61577
simply installing the kubelet package does not configure it or join it to a cluster

see https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#instructions for instructions on joining a node to a cluster

[2018-03-23 15:39] liggitt commented on #61577
/close

[2018-03-23 15:39] #61577 closed

[2018-03-23 15:40] php-coder commented on #61599
@kubernetes/sig-auth-feature-requests

That's not so clear to me.. API types should belong to some API Group, correct? What API group should we use for that config?

Right now the config is:
[code]
How it will look like after this change?
[code]

[2018-03-23 15:42] liggitt commented on #61594
a client certificate must request `client auth` key usage, not `server auth`

[2018-03-23 15:42] liggitt commented on #61594
/close

[2018-03-23 15:42] #61594 closed

[2018-03-23 15:44] tookko commented on #23291
It would be great if there was an elegant way to integrate ingress also for other non-HTTP TCP protocols. For example, an IIOP proxy would be needed for CORBA based traffic, a simple L4 proxy cannot handle it.

[2018-03-23 15:51] liggitt commented on #61599
ah, didn't realize the documentation was already using `v1`. unfortunate the version is completely ignored by the loader.

we can discuss whether the config is ready to promote to v1

yes, I'd expect the group to be `apiserver.config.k8s.io`

[2018-03-23 16:04] sourcesoft commented on #13382
Not sure if this helps you guys, it this happens to me only when I'm trying to access the cluster using university, library or coffeeshop wifi.

Seems fine with office and home ISPs. It appears to be a firewall some one them are running (specially libraries that monitor data)

[2018-03-23 16:11] liggitt commented on #61587
duplicate of https://github.com/kubernetes/kubernetes/issues/59850?

[2018-03-23 16:18] tpepper commented on #61532
/sig storage

[2018-03-23 16:25] tpepper commented on #61581
/sig storage
/sig gce

[2018-03-23 16:31] liggitt commented on #61512
/priority failing-test

looks like it just started around midnight on 3/20: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestPreemptionStarvation

[2018-03-23 16:32] liggitt commented on #61512
seems to correspond with merge of Merge pull request #60953 from anfernee/sched-cache-resync

[2018-03-23 16:34] jdumars commented on #61596
@ianchakeres @saad-ali  @msau42 should this block the 1.10 release in your opinion?

[2018-03-23 16:40] ayushpateria commented on #59485
I might have a solution to this, the problem with using `additionalProperties` is that of forward-compatibility, we can't really use it with schemas that may be added with new fields later on. But to support maps what we can do is, we can allow it on the definitions that have only `additionalProperties` and no `properties`. When the author is specifying `additionalProperties` and not `properties`,

[2018-03-23 16:41] msau42 commented on #61596
No not a blocker

[2018-03-23 16:42] jberkus commented on #61559
Is this different from #60767?

[2018-03-23 16:48] krzyzacy commented on #61485
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-beta/48

green run now, took 10h, the previous cluster was somehow bad on beforesuite. I'll close this.

[2018-03-23 16:48] #61485 closed

[2018-03-23 16:57] krzyzacy commented on #61559
@jberkus we have enabled the plugin from all the blocking jobs so it's not a blocker, but in the long run this need to be in it's own feature.

[2018-03-23 17:08] zolij commented on #61543
me too

additional information:

- pv created automatically from pvc
- i can see the new volume on ceph side so it's created successful, only pod mount fails.

[2018-03-23 17:08] bsalamat commented on #61512
I started investigating this issue since yesterday. The preemption part of the test happens correctly, but for some reason scheduler believes that there are still not enough CPU to schedule the Pod. I will provide more updates when I find the root cause.

[2018-03-23 17:26] krzyzacy opened #61600 "[test flake] scheduler.TestPreemptionStarvation"
looks like this flakes 20-30% of the time, according to https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-integration

/kind flake
/sig scheduling

cc @jdumars @jberkus
(this might flakes the submit queue)

[2018-03-23 17:47] #28436 closed

[2018-03-23 17:59] mjaow opened #61607 "new nodes in cluster become very slow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When there are no enough resourse in my cluster,I need to add some new nodes in it (not many).Then all schedule come to new nodes.Soon the new nodes cannot hold the pressure and docker on this nodes become very slow.This make this nodes cannot work at that time.

**What you expected to happen**:

Why kube-scheduler do no

[2018-03-23 18:00] mjaow commented on #61607
/sig Scheduling

[2018-03-23 18:10] lavalamp commented on #50957
Quantity objects should always be represented by strings. It is correct to
reject ints IMO and I am surprised to hear that the ordinary API allows
them. I disagree w/ the email referenced by the OP.

Quantities are numbers with special properties and the point of dealing
with them this way is to make sure that users understand the properties and
enforce them in their own code.

Specifically, unquo

[2018-03-23 18:13] lavalamp commented on #43329
Everything in delete needs to be moved to query parameters (unfortunately)
as it is apparently non-standard to have a body in a delete request.

On Thu, Mar 22, 2018 at 4:33 PM Chao Xu <notifications@github.com> wrote:

[2018-03-23 18:21] lavalamp commented on #61572
I agree w/ @liggitt. Parsing the openssl cli output is not that bad. Also I prefer my security model to protect against MitM attacks, which this wouldn't. I recommend getting the CA out of band.

[2018-03-23 18:21] mindprince commented on #55679
/close

This is deprecated in 1.10 and going to be removed in 1.11: https://github.com/kubernetes/kubernetes/pull/61498

[2018-03-23 18:21] #55679 closed

[2018-03-23 18:40] rmmh commented on #61600
This started on the 19th or the 20th:  https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=1&pr=1#1574b9f9665ae419eeb3

[2018-03-23 18:41] zackify commented on #51835
This has been happening to me a lot on the latest 1.9.4 release on GKE

[2018-03-23 18:49] mikedanese commented on #53311
@destijl @immutableT for secret stuff

[2018-03-23 18:50] #61581 closed

[2018-03-23 18:50] lz000 commented on #61581
I found the reason, the config is wrong

[2018-03-23 18:55] php-coder commented on #56173
@parlakisik Hi, could you update the current status of this? Are you working on this? Are you still would like to implement this? Thanks!

[2018-03-23 19:07] lavalamp commented on #54579
I don't think we can take this up until we have a universal stored-object-upgrade solution (https://github.com/kubernetes/kubernetes/issues/52185). If we had that, then CRD objects with references could automatically be upgraded.

It might still be a bad idea for other reasons (per @liggitt's comment) but I think this is really not a good idea if changes to built in resources are going to have uni

[2018-03-23 19:11] parlakisik commented on #56173
@php-coder Hi , I didn't have time to test my code. I am still interested in implementing this one .

[2018-03-23 19:12] lavalamp commented on #54579
To be extra clear, all of @erictune, @liggitt, and myself are against working on this right now. Please, no one work on this right now--I don't want to reject your PRs! :)

Instead, work on the blocker I mentioned ;)

[2018-03-23 19:15] php-coder commented on #56173
/remove-help

[2018-03-23 19:48] nodefactory-bk commented on #51835
Same problem here on GKE 1.9.4-gke.1
seems to be related to volume mounts.
It happens every time with filebeats set up as described here:
  https://github.com/elastic/beats/tree/master/deploy/kubernetes/filebeat

Kubelet log shows this:
[code]

`kubectl delete pod NAME --grace-period=0 --force`
seems to work.
also restarting kubelet works.

[2018-03-23 20:14] thockin-cc commented on #17088
I think nobody is AGAINST a broader solution, but there are
conflict-resolution rules that need to be decided and access control issues
to work out.  I'd live to see a proposal.

On Fri, Mar 23, 2018 at 8:06 AM André Cruz <notifications@github.com> wrote:

[2018-03-23 20:15] dc70184 commented on #60813
This article states that:
•Kubernetes 1.7.0-1.7.13

Does this mean all versions between 1.7.0 and 1.17.13 are vulnerable? For example, is 1.17.6 vulnerable?

[2018-03-23 20:18] msau42 commented on #60813
anything between 1.7.0 and 1.7.13 are vulnerable, including 1.7.6

[2018-03-23 21:34] waynr commented on #58079
@zetaab Hey, I just spent a couple hours getting somewhat caught up on this and related issues/PRs. I'm wondering if you can point me to the latest viable effort toward addressing the PVC failover time in the case of node shutdown?

For reference, I'm currently working on a local branch off the `v1.9.3` tag with your https://github.com/kubernetes/kubernetes/pull/56846 fix backported and I'm seeing

[2018-03-23 21:40] spiffxp commented on #57911
Labels have been removed. We went from 220 to 178 for this repo.  There are 87 in the labels.yaml file used to propagate labels across repos.  Where are all the differences coming from, and what could we do next?

[code]
- Most of the non-standard labels are `area/` or `kind/` labels. Personally I think that's too much choice, but it would be interesting to see what the data says.
- The `status/`

[2018-03-23 21:40] #57911 closed

[2018-03-23 21:45] AishSundar commented on #59997
No failure 2 days since the fix. @jennybuckley the fix seemed to have worked. So please go ahead and close the issue. Thanks much.

[2018-03-23 21:49] jennybuckley commented on #59997
/close

[2018-03-23 21:49] #59997 closed

[2018-03-23 21:50] caesarxuchao commented on #43329
/reopen

[2018-03-23 21:50] caesarxuchao commented on #43329
/remove-lifecycle rotten

[2018-03-23 21:51] caesarxuchao commented on #43329
cc @roycaihw

[2018-03-23 21:58] zetaab commented on #58079
@waynr that idea kind of hit the wall. People does not accept using node taints to detach the volume. If node is shutdown. That was our target. I do not have ideas how we could improve this situation easily.

[2018-03-23 22:52] janetkuo commented on #61433
I filed #61615 for not setting pod-template-hash to adopted RSes and pods

[2018-03-23 23:04] xetys commented on #60807
if it is the rook one, take a look at this: https://github.com/rook/rook/issues/1488#issuecomment-365058080

[2018-03-23 23:13] justinbarrick commented on #60807
I guess that makes sense, but it seems buggy that it's possible to get a namespace into an undeletable state.

[2018-03-23 23:24] sethvargo commented on #61572
Hi @lavalamp. I disagree, please let me explain.

1. That requires the user has openssl installed
1. There's no documentation on how to do this in the k8s docs (which should be viewed as an action item if this is truly the path you want users to take)
1. Can you give me a 1-liner automated way to get the certificate out of the chain?

[code]

    includes a bunch of extra header information, and t

[2018-03-23 23:27] msau42 commented on #55045
PVCs created by the StatefulSet will have the name with format [StatefulSet name]-[PVC name]-[ordinal index]

[2018-03-23 23:34] #60560 closed

[2018-03-23 23:35] apelisse opened #61616 "OpenAPI is fetched for no reason on typical `kubectl get`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When you run `kubectl get pods`, we download the open-api (serially on top of that), for nothing since it's not used. Maybe we should just download the open-api if needed.

**What you expected to happen**:
OpenAPI is only downloaded if necessary (a.k.a, for types that are unknown from kubectl)

**How to reproduce it (

[2018-03-23 23:51] lostllama commented on #43329
@caesarxuchao The DELETE operation [here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#-strong-write-operations-strong--37) states that propagationPolicy is a query parameter.

[2018-03-23 23:55] chrislovecnm opened #61618 "adding capability in ginkgo-e2e.sh in order to set node instance groups for gce test"
/kind feature

**What happened**:

ginkgo-e2e.sh when running with gce requires you to use the same logic as kube-up.sh

**What you expected to happen**:

ginkgo-e2e.sh would support other installers besides kube-up.sh, when you provide the node instance-groups

**How to reproduce it (as minimally and precisely as possible)**:

Run

[code]

Without using kube-up.sh

**Anything else we need to know

[2018-03-24 00:17] orainxiong opened #61620 "Pod's PVCs using feature "Local Volume Scheduling" maybe not support re-scheduling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When one Node crashes, the Pods running on the Node will restart at surviving Node.

While the pods are in rescheduling process, the Pods using feature "Local Volume Scheduling" will raise "ErrVolumenodeConflict" and rescheduling failed.

**What you expected to happen**:
When One pod failed because of node crashing, We could image

[2018-03-24 00:17] orainxiong commented on #61620
/sig Scheduling
/sig storage

[2018-03-24 00:17] orainxiong commented on #61620
/assign @msau42

[2018-03-24 00:18] bsalamat commented on #61512
I spent quite a bit of time chasing this issue down and I think I now know what is going on. This issue is caused by a subtle race condition in equivalence cache. Equivalence cache is disabled by default, but [it is enabled in scheduler integration tests](https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler/util.go#L83).

Here is what happens:
1. Scheduler tries to sched

[2018-03-24 00:37] msau42 commented on #61620
Can you clarify more what you expect the behavior to be?

If you're using local volumes, and the node crashes, your pod cannot be rescheduled to a different node.  It must be scheduled to the same node.  That is the caveat of using local storage, your Pod becomes bound forever to one specific node.

[2018-03-24 01:11] rikatz opened #61622 "[Feature] - Support printing HTTP Liveness check return"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request

/kind feature

**What happened**:
It would be great if Liveness Checks supports returning the HTTP response.

The case here is that we have a liveness check that returns not only a different RC when something else fails, but also what have failed (DB integration, some integration failure).

Having this in Describe POD would be great so

[2018-03-24 01:16] rikatz commented on #61622
/sig api-machinery

[2018-03-24 01:18] #45190 closed

[2018-03-24 01:24] #61587 closed

[2018-03-24 01:34] MrHohn opened #61623 "Enhance validation for "ExternalName" type Service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement
/sig network

**What happened**:
According to the definition of ["ExternalName" type Service](https://kubernetes.io/docs/concepts/services-networking/service/#without-selectors), it should not have selectors. But currently in k8s, users are able to create an "ExternalName" type Service with selectors, which is confusing as the selecto

[2018-03-24 01:53] msau42 commented on #44460
This has been fixed

/close

[2018-03-24 01:53] #44460 closed

[2018-03-24 02:38] andyzhangx commented on #54610
hi guys, I am thinking add `mfsymlinks` as default mountoptions into azurefile mount, thus to support symbolic link in azurefile mount, let me know your thoughts, thx
@jdumars

[2018-03-24 02:56] #21500 closed

[2018-03-24 04:19] k82cn commented on #61410
Thanks very much, learned 👍

If so, maybe we can introduce a new label, named `kubernetes.io/nodename`; the label will be updated by kubelet to `.spec.NodeName`.

[2018-03-24 04:56] resouer commented on #61512
It seems like the race is:
[code]

i.e. step 5 VS 6 instead of 6 VS 7

We should fix it in that case later.

[2018-03-24 05:04] rdrgmnzs commented on #23483
/reopen

Would love to see this implemented for AWS. Separation of responsibility some times means that the operator for a k8s cluster may not have the permissions to create an ELB. Being able to attach and existing one would be extremely helpful.

[2018-03-24 05:22] rdrgmnzs opened #61625 "AWS Feature: Services should be able to use an existing ELB"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

Separation of responsibility some times means that the operator for a k8s cluster may not have the permissions to create an ELB. Being able to attach and existing one would be extremely helpful.

**What you expected to happen**:
I would like the ability to specify an existing AWS ELB (internal-myelb-12345.us-west-1.elb.amazonaws.com) i

[2018-03-24 05:54] mau21mau commented on #60333
Anyone have a fix for this?

[2018-03-24 06:31] orainxiong commented on #61620
I plan to deploy MySQL Galera Cluster with statefulset and local volume atop k8s.
MySQL Galera Cluster, aka MGR, is a widely used solution to build MySQL Multi-Master cluster to avoid a single-point-of-failure

The basic idea is this:
* Initial and build MGR cluster with one statefulset with three pods, and other corresponding resources;
* Hence node crash, k8s-scheduler can reschedule the pod to

[2018-03-24 06:35] gogeof commented on #61208
你是用kubeadm安装的吗 如果是的话我它有提供升级的 你看下它的帮助文档就知道 简单的话就是重装 使用新的van ben

[2018-03-24 07:15] hanxiaoshuai opened #61628 "fixtodo: move node status condition code to kubelet_node_conditions.go to be centralized"
**Is this a BUG REPORT or FEATURE REQUEST?**:
I notice there is a TODO in kubelet_node_status.go:`the node status condition code out to a different file`..So I move node status condition code to kubelet_node_conditions.go to be centralized and add unit test for the functions. I am not sure if this TODO is necessary.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as m

[2018-03-24 07:36] qq9338745 opened #61629 "why kubelet was not started /etc/kubernetes/pki/ca.crt: no such file or directory ?"
i just filed the bug #61577 but it was closed as configuration issue.  i just paste my step and ask for help what's wrong with my step:

i have just want to enable the one node(infbjvm555) kubernetes master.
here is my step :

Preparation :
  os is Oracle Linux release 7.3  or redhat7.1
1）swapoff -a to close swap .
2) disable selinux.
3) #vi   /etc/sysctl.d/k8s.conf
net.bridge.bridge-nf-call-ip6ta

[2018-03-24 07:55] foxyriver commented on #61593
[https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#a-pod-cannot-reach-itself-via-service-ip](url)
kubelet has solved this by setting --hairpin-mode. or you can execute  `ifconfig docker0 promisc` by hand to open promisc  mode of docker0 network.

[2018-03-24 08:28] codebreach commented on #61593
I somehow did not find this after two days of looking. Anyway I will give
it a shot and update in the next few hours.

Also want to bring to notice that this is happening on fresh clusters on
GKE with the defaults. Is this expected behaviour?

On Sat, Mar 24, 2018, 1:26 PM foxyriver <notifications@github.com> wrote:

[2018-03-24 09:49] codebreach commented on #61593
Doing `ps auxw|grep kubelet` on a node results in the following:

[code]
Note the lack of hairpin mode in the flags.

running `journalctl` I get:

[code]

@foxyriver do you know how to go about changing these flags on GKE? I am also discussing the same with GCP support...

[2018-03-24 09:58] codebreach commented on #61593
running `ifconfig docker0 promisc` does not fix the issue either. still get IO timeouts when hitting service from the pod that it points to.

[2018-03-24 10:07] liggitt commented on #61623
standard questions when we want to tighten validation:
* does it prevent a no-op update of existing persisted objects that would fail this new validation? (would block storage migration tasks)
* does it prevent deletion of existing persisted objects with finalizers that would fail this new validation? (update is required to remove finalizers to allow deletion)
* does it prevent controllers from up

[2018-03-24 10:13] liggitt commented on #61410
that seems like a mistake. It can't be trusted (since the kubelet sets it), and there is potential for overlap (two node objects having the same label)

[2018-03-24 10:51] stewart-yu opened #61630 "node-e2e case failed in my local"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Run node e2e test command in my local host:
[code]
error:
[code]

**What you expected to happen**:
pass the case

**How to reproduce it (as minimally and precisely as possible)**:
see before describe.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): master
- Cloud provi

[2018-03-24 10:54] stewart-yu commented on #61630
/area test
/sig testing

[2018-03-24 11:04] #53265 closed

[2018-03-24 11:04] #53406 closed

[2018-03-24 13:34] liggitt commented on #61410
That is not accurate, and is actively being restricted/tightened (see https://github.com/kubernetes/community/pull/911)

Currently, the DaemonSet controller directly assigns pods to nodes. With the Node authorization mode and NodeRestriction admission plugin in place (as they are in many default deployments), that means there is no way for a node other than the assigned node to get access to the s

[2018-03-24 13:37] liggitt commented on #61410
The bigger question is why the scheduler is being asked to pick a node when there is only one correct answer. The hoops we’re having to jump through to use affinity rules to try to pin to a particular node are a symptom of coupling priority enforcement to the node-selection/scheduling step.

[2018-03-24 13:46] liggitt commented on #61629
No, it is expected the kubelet service will continuously restart until ‘kubeadm init‘ on a master or ‘kubeadm join‘ on a node.

On a clean machine, that should work. cc @kubernetes/sig-cluster-lifecycle-bugs

Before running init again on an already setup machine, you probably need to ‘kubeadm reset‘

[2018-03-24 18:11] #52107 closed

[2018-03-24 18:46] briantopping opened #61632 "Add conventional configuration for KUBLELET_EXTRA_ARGS on RHEL"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: After determining I needed Kubelet to launch with extra arguments, I could easily see the unused `KUBELET_EXTRA_ARGS` in `10-kubeadm.conf`.

**What you expected to happen**: While it might be reasonable to add to the environment in that file, RHEL convention is to use an `EnvironmentFile` inside `/etc/sysconfig`.

**H

[2018-03-24 18:46] buchireddy commented on #38456
/remove-lifecycle rotten

[2018-03-24 19:12] bsalamat commented on #61512
Actually, I think it is between 6 & 7 and this is not caused by the two independent informers. It is between updating the eCache with predicate results and invalidating cache triggered by the informers.

[2018-03-24 19:44] josephglanville commented on #55982
/remove-lifecycle stale

@dixudx I haven't had time to write up full reproduction steps but basically you create any statefulset with a PVC size of `1024Gi` and then update something that should be updatable, say the image in the pod spec and the update will fail. I haven't tested this on newer versions yet.

[2018-03-24 19:45] davidopp commented on #61410
There was a long long debate about this (originally we decided not to do it (#42002) but then decided to do it (#59194). There are docs and whatnot mentioned in the latter issue that explain the rationale. In my mind the high-level reason is that DaemonSet is not simply "one instance of this pod on every node" but rather "one instance of this pod on every node that meets the constraints, possibly

[2018-03-24 19:50] liggitt commented on #61410
It's the metadata.name

[2018-03-24 19:50] davidopp commented on #61410
Oh, regarding my last paragraph, I guess it is just the metadata.name of the Node object itself?

Can we have the API server (maybe an admission controller) populate the hypothesized kubernetes.io/nodename label when the node is created?

[2018-03-24 19:56] liggitt commented on #61410
if we want a way to indicate affinity to a specific named node, we should actually enable that, not overload a special label on one object

[2018-03-24 20:01] davidopp commented on #61410
Like a new RequestedNodeName field in the PodSpec? That's conceivable but seems kind heavyweight. What's the objection to using a label, as long as the master sets it?

[2018-03-24 20:11] liggitt commented on #61410
That's the objection. It's overloading unstructured labels as an API because they're convenient.

[2018-03-24 20:13] #54371 closed

[2018-03-24 20:13] #54580 closed

[2018-03-24 20:26] phoracek commented on #59380
Do we need to open another Issue for shareable resources support? (I don't know much about Resource Manager, but I guess shareable resources should be taken into account while designing unlimited resources support.)

It would provide us more QoS support and it could directly benefit from Resource Classes. Maybe it would be even easier to first support shareable resources only since they, unlike un

[2018-03-24 20:34] resouer commented on #61512
@bsalamat Oh, thanks for enlighten, it's much clear now.

This should happen when multiple Pods (let's say 3) are preempted by Pod A. And caused by the race between:

6. Deletion of 3rd preempted Pod  ---> update cache + **invalidate eCache** + trigger 3rd re-try of Pod A
7. Pod A 2nd re-try fail due to ---> **update eCache**

If **update eCache of 7** happens after **invalidate eCache of 6**, the

[2018-03-24 20:34] #58637 closed

[2018-03-24 23:16] #51445 closed

[2018-03-25 00:17] #51373 closed

[2018-03-25 02:34] jberkus commented on #60589
re-opening until we have a good performance test result.

[2018-03-25 02:35] jberkus commented on #61372
since this is now fixed in 1.10, I'm taking it out of the milestone so that the release team doesn't keep checking it.

[2018-03-25 02:58] k82cn commented on #61410
There's is the [motivation](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/schedule-DS-pod-by-scheduler.md#motivation) for this feature.

An API seems heavy: not only a new API field, but also predicates (or others) enhancement for it. And it can not be re-used, e.g. both node selector, NodeAffinity can use labels.

Oh, yes, some taints are also update

[2018-03-25 07:24] MarounMaroun commented on #54542
I had the same issue, `journalctl` revealed:

[code]

I ran:

[code]

then restarted kubelet, all good.

[2018-03-25 09:25] mlmhl commented on #61248
There is a problem if we are just moving `attachedVolume.spec` from `attachedVolume` to `mountedPods`:
Currently we use `attachedVolume.spec` to generate `operationexecutor.AttachedVolume`(inside the [newAttachedVolume](https://github.com/kubernetes/kubernetes/blob/053a12aee9df71a5e4c2fbf291725ae897c8ec0e/pkg/kubelet/volumemanager/cache/actual_state_of_world.go#L651) method), which will be used to

[2018-03-25 11:55] avoidik commented on #50421
@jianglingxia what was the problem?

[2018-03-25 13:03] rfum commented on #55867
Same problem here in westeurope azure. Restarting not solving issue also. 3 node cluster is now down.

[2018-03-25 15:05] mrbobbytables opened #61639 "Deployment Controller failing to detect pod template change in rollout undo attempt"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig apps

**What happened**:
Attempting a `kubectl rollout undo` on a deployment where the only change between revisions is the addition of a **single** label fails with `DeploymentRollbackTemplateUnchanged`.

The addition of more than one label will successfully be detected as a Template change and the rollback will occur successfully.

**E

[2018-03-25 15:12] phsiao commented on #61558
It appears etcd check failed is what caused the apiserver to return 500 when one of the resolver is not available.  Below is a snippet of apiserver log when I iptables -j DROP on both resolver IPs.

The health checks also return failures in ~3ms, so it appears there is no chance for DNS timeout to happen and retry.

[code]

[2018-03-25 15:19] jdumars commented on #54610
@khenidak PTAL ^^

[2018-03-25 16:33] #54627 closed

[2018-03-25 16:40] waynr commented on #58079
Is that based on your discussion with @wlan0 here: https://github.com/zetaab/kubernetes/commit/0313435c0fe9e6ecf881b1baef973eada9e06baa#r27938288 ? Or is there additional mailing list or slack discussion I can review to get some background?

[2018-03-25 16:44] zetaab commented on #58079
https://github.com/kubernetes/kubernetes/issues/46442 that contains some discussion.

[2018-03-25 17:42] krzyzacy opened #61640 "[test failed] regular resource usage tracking resource tracking for 100 pods per node"
looks like this happens in both gke 1.9 -> 1.10 upgrade/downgrade

https://k8s-testgrid.appspot.com/sig-release-1.10-all#gke-1.9-1.10-upgrade-cluster
https://k8s-testgrid.appspot.com/sig-release-1.10-all#gke-1.10-1.9-downgrade
https://k8s-testgrid.appspot.com/sig-release-1.10-all#gke-1.9-1.10-upgrade-master

/sig node
/kind bug
/priority failing-test
/priority critical-urgent

cc @jdumars @jberkus

[2018-03-25 17:43] zolij opened #61641 "Persistent Volume size vs nfs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig storage

**What happened**:
I created a nfs persistent volume with 1 Gi size, then I created persistent volume claim and pod with that claim attached. After that inside the pod I write ~2G data with dd (from /dev/urandom). If I check nfs data from other location, the whole data is there.

**What you expected to happen**:
Say no more spa

[2018-03-25 17:59] krzyzacy commented on #61640
(is this might related to https://github.com/kubernetes/kubernetes/issues/60762?)

[2018-03-25 17:59] waynr commented on #46442
I'm having difficulty determining how compatible this issue and https://github.com/kubernetes/kubernetes/issues/58635 are. Can anyone clarify for me? As far as I can tell so far the proposal of a "node shutdown taint" that would allow the attach/detach controller to detach volumes from Nova instances (in the Openstack case which particularly interests me) is incompatible with the proposal for `Nod

[2018-03-25 18:03] waynr commented on #58079
Thanks, I'm still a little confused as to whether https://github.com/kubernetes/kubernetes/issues/58635 supercedes the older https://github.com/kubernetes/kubernetes/issues/46442 but I feel like I'm starting to understand the issues involved a little better.

[2018-03-25 18:27] resouer commented on #61512
/assign

Should include in equivalence cache for beta task.

[2018-03-25 18:48] mtaufen opened #61643 "Determine whether we should continue to require UID in node config source reference"
#### Reposted from https://github.com/kubernetes/kubernetes/pull/60100#discussion_r176604265:

This has been a requirement of dynamic Kubelet config since the original proposal, to require users to be completely explicit (time and space) about which ConfigMap to use. If the UID in the config source doesn't match the UID of the ConfigMap, the Kubelet currently rejects it.

IIRC there were concerns

[2018-03-25 18:49] mtaufen commented on #61643
/status approved-for-milestone

[2018-03-25 19:00] mtaufen commented on #61410
This is tangentially related: https://github.com/kubernetes/kubernetes/pull/61042

[2018-03-25 19:42] krzyzacy commented on #61640
[code]

looks like the performance log is... corrupted?

[2018-03-25 19:50] krzyzacy opened #61645 "[test failed] should ensure that critical pod is scheduled in case there is no resources available"
this is from https://k8s-testgrid.appspot.com/sig-release-1.10-all#gke-1.10-1.9-downgrade

looks like gke only?

/sig scheduling
/milestone v1.10
/kind bug
cc @jdumars @jberkus

/assign @janetkuo @kow3ns
wanna take a look?

[2018-03-25 20:03] krzyzacy commented on #61645
https://github.com/kubernetes/kubernetes/blame/8d9a9dcaf2ac28bc5fc3c522a907ccf6fce9f630/test/e2e/scheduling/rescheduler.go#L62

is this because dashboard addon is not always start by default anymore? aka https://github.com/kubernetes/kubernetes/issues/61559

cc @apelisse

[2018-03-25 20:08] krzyzacy commented on #61640
(fluentd? cc @dashpole @piosz as well)

[2018-03-25 20:28] chrislovecnm commented on #44254
/lifecycle frozen
/remove-lifecycle stale

[2018-03-25 20:49] aranyaka opened #61646 "Error starting minikube --vm-driver=kvm2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

@kubernetes/sig-cli-bugs

**What happened**:
When running

        minikube start --vm-driver=kvm2 --kvm-network=minikube-net

I get:

E0325 13:23:23.616867   27983 start.go:159] Error starting host: Error creating host: Error creating machine: Error running provisioning: ssh command error:
command : sudo systemctl -f restart crio
err     :

[2018-03-25 21:51] mtaufen opened #61647 "Provide a solution for instance-specific Kubelet configuration"
Certain flags, like `--hostname-override` are instance-specific, and thus won't play nice with shared configmaps under dynamic Kubelet config.

We should still have a solution to expose these parameters via a versioned Kubelet config API, rather than command-line flags.

A simple solution could be:
- Add a `KubeletInstanceConfiguration` object to `kubelet.config.k8s.io/v1beta1`.
- Like `KubeletCon

[2018-03-25 21:52] mtaufen commented on #61647
Also things like `--runonce`.

[2018-03-25 21:58] aranyaka commented on #61646
/sig cli-bugs

[2018-03-25 21:58] mtaufen opened #61648 "Migrate Kubelet CRI flags to kubelet.config.k8s.io (or some other versioned API backed by config files)"
This is part of migrating the Kubelet command-line to a Kubernetes-style API.

There are a number of [CRI-related flags](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/flags.go) that the Kubelet currently exposes. We should endeavor to provide these via a versioned Kubernetes-style API, a-la `kubelet.config.k8s.io/v1beta1`.

I'm bucketing all these into a single issue beca

[2018-03-25 22:04] hongchaodeng commented on #54498
/reopen
/remove-lifecycle rotten
I think @colemickens mentioned [here](https://github.com/kubernetes/kubernetes/issues/54498#issuecomment-339760892) he would work on this.

[2018-03-25 22:08] mtaufen opened #61649 "Provide a solution for os-specific component config"
The Kubelet currently has a single os-specific flag: `--windows-service`.

We anticipate that the Kubelet, and other components, will require more os-specific flags in the future.

We should standardize how os-specific configuration is structured and managed across componentconfig API groups.

Some options:
- Separate `--windows-config`, `--linux-config`, etc. flags, with corresponding `KubeletWin

[2018-03-25 22:16] mtaufen commented on #61649
/milestone v1.11

[2018-03-25 22:21] mtaufen opened #61650 "Migrate Kubelet --volume-plugin-dir to kubelet.config.k8s.io or remove the flag"
Flag name: `volume-plugin-dir`

Help text:

The full path of the directory in which to search for additional third party volume plugins

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--volume-plugin-dir` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an in

[2018-03-25 22:22] mtaufen opened #61651 "Migrate Kubelet --seccomp-profile-root to kubelet.config.k8s.io or remove the flag"
Flag name: `seccomp-profile-root`

Help text:

<Warning: Alpha feature> Directory path for seccomp profiles.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--seccomp-profile-root` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag, or

[2018-03-25 22:23] mtaufen opened #61652 "Migrate Kubelet --runonce to kubelet.config.k8s.io or remove the flag"
Flag name: `runonce`

Help text:

If true, exit after spawning pods from static pod files or remote urls. Exclusive with --enable-server

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--runonce` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-sp

[2018-03-25 22:24] mtaufen commented on #61652
This one, specifically, may be appropriate to #61647, because it should never be dynamically-configurable.

[2018-03-25 22:24] mtaufen opened #61653 "Migrate Kubelet --rotate-certificates to kubelet.config.k8s.io or remove the flag"
Flag name: `rotate-certificates`

Help text:

<Warning: Beta feature> Auto rotate the kubelet client certificates by requesting new certificates from the kube-apiserver when the certificate expiration approaches.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--rotate-certificates` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
AP

[2018-03-25 22:25] mtaufen opened #61654 "Migrate Kubelet --root-dir to kubelet.config.k8s.io or remove the flag"
Flag name: `root-dir`

Help text:

Directory path for managing kubelet files (volume mounts,etc).

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--root-dir` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag, or a descriptor of local

[2018-03-25 22:27] mtaufen commented on #61654
This pertains to #61647, as a description of local Kubelet-managed topology.

[2018-03-25 22:27] mtaufen opened #61655 "Migrate Kubelet --register-with-taints to kubelet.config.k8s.io or remove the flag"
Flag name: `register-with-taints`

Help text:

Register the node with the given list of taints (comma separated "<key>=<value>:<effect>"). No-op if register-node is false.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--register-with-taints` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kube

[2018-03-25 22:27] mtaufen opened #61656 "Migrate Kubelet --register-node to kubelet.config.k8s.io or remove the flag"
Flag name: `register-node`

Help text:

Register the node with the apiserver. If --kubeconfig is not provided, this flag is irrelevant, as the Kubelet won't have an apiserver to register with. Default=true.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--register-node` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or

[2018-03-25 22:28] mtaufen commented on #61656
managed by the Kubelet, see: #61647.

wrt this shouldn't be configured dynamically

[2018-03-25 22:28] mtaufen opened #61657 "Migrate Kubelet --really-crash-for-testing to kubelet.config.k8s.io or remove the flag"
Flag name: `really-crash-for-testing`

Help text:

If true, when panics occur crash. Intended for testing.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--really-crash-for-testing` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag,

[2018-03-25 22:31] mtaufen opened #61658 "Migrate Kubelet --provider-id to kubelet.config.k8s.io or remove the flag"
Flag name: `provider-id`

Help text:

Unique identifier for identifying the node in a machine database, i.e cloudprovider

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--provider-id` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag

[2018-03-25 22:32] mtaufen commented on #61658
Maybe related: https://github.com/kubernetes/kubernetes/pull/44258, https://github.com/kubernetes/kubernetes/pull/61042, https://github.com/kubernetes/kubernetes/issues/61410

[2018-03-25 22:32] mtaufen opened #61659 "Migrate Kubelet --node-labels to kubelet.config.k8s.io or remove the flag"
Flag name: `node-labels`

Help text:

<Warning: Alpha feature> Labels to add when registering the node in the cluster.  Labels must be key=value pairs separated by ','.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--node-labels` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If thi

[2018-03-25 22:33] mtaufen commented on #61659
@mikedanese @liggitt, IIRC it's hard to dynamically update these, even when you start the Kubelet with a new command-line, right?

[2018-03-25 22:34] mtaufen opened #61660 "Migrate Kubelet --node-ip to kubelet.config.k8s.io or remove the flag"
Flag name: `node-ip`

Help text:

IP address of the node. If set, kubelet will use this IP address for the node

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--node-ip` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag, or a descrip

[2018-03-25 22:34] mtaufen commented on #61660
This is an instance specific parameter.

[2018-03-25 22:34] mtaufen opened #61661 "Migrate Kubelet --lock-file to kubelet.config.k8s.io or remove the flag"
Flag name: `lock-file`

Help text:

<Warning: Alpha feature> The path to file for kubelet to use as a lock file.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--lock-file` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag, or a desc

[2018-03-25 22:35] mtaufen commented on #61661
This could be considered a descriptor of local topology
managed by the Kubelet: #61647.

[2018-03-25 22:38] mtaufen opened #61662 "Migrate Kubelet --kubeconfig to kubelet.config.k8s.io"
Flag name: `kubeconfig`

Help text:

Path to a kubeconfig file, specifying how to connect to the API server. Providing --kubeconfig enables API server mode, omitting --kubeconfig enables standalone mode.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--kubeconfig` flag should be migrated to the Kubelet's `kubelet.config.k8s.io`
API group.

#### Note

I go

[2018-03-25 22:39] mtaufen opened #61663 "Migrate Kubelet --image-service-endpoint to kubelet.config.k8s.io or remove the flag"
Flag name: `image-service-endpoint`

Help text:

[Experimental] The endpoint of remote image service. If not specified, it will be the same with container-runtime-endpoint by default. Currently unix socket is supported on Linux, and tcp is supported on windows.  Examples:'unix:///var/run/dockershim.sock', 'tcp://localhost:3735'

---

This is part of migrating the Kubelet command-line to a Kubernet

[2018-03-25 22:39] mtaufen opened #61664 "Migrate Kubelet --hostname-override to kubelet.config.k8s.io or remove the flag"
Flag name: `hostname-override`

Help text:

If non-empty, will use this string as identification instead of the actual hostname.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--hostname-override` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-

[2018-03-25 22:39] mtaufen commented on #61664
This is an instance-specific parameter.

[2018-03-25 22:40] mtaufen opened #61665 "Migrate Kubelet --experimental-qos-reserved to kubelet.config.k8s.io or remove the flag"
Flag name: `experimental-qos-reserved`

Help text:

A set of ResourceName=Percentage (e.g. memory=50%) pairs that describe how pod resource requests are reserved at the QoS level. Currently only memory is supported. [default=none]

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--experimental-qos-reserved` flag should either be migrated to the Kubelet's `k

[2018-03-25 22:40] mtaufen opened #61666 "Migrate Kubelet --experimental-mounter-path to kubelet.config.k8s.io or remove the flag"
Flag name: `experimental-mounter-path`

Help text:

[Experimental] Path of mounter binary. Leave empty to use the default mount.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--experimental-mounter-path` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an i

[2018-03-25 22:40] mtaufen opened #61667 "Migrate Kubelet --experimental-kernel-memcg-notification to kubelet.config.k8s.io or remove the flag"
Flag name: `experimental-kernel-memcg-notification`

Help text:

If enabled, the kubelet will integrate with the kernel memcg notification to determine if memory eviction thresholds are crossed rather than polling.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--experimental-kernel-memcg-notification` flag should either be migrated to the Kubelet's `kube

[2018-03-25 22:41] mtaufen commented on #61667
This flag was a hack because we saw instability when using this feature. Best route is stabilize and remove the flag, not elevate to versioned config.

[2018-03-25 22:42] mtaufen opened #61668 "Migrate Kubelet --experimental-check-node-capabilities-before-mount to kubelet.config.k8s.io or remove the flag"
Flag name: `experimental-check-node-capabilities-before-mount`

Help text:

[Experimental] if set true, the kubelet will check the underlying node for required components (binaries, etc.) before performing the mount

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--experimental-check-node-capabilities-before-mount` flag should either be migrated to the Kub

[2018-03-25 22:42] mtaufen opened #61669 "Migrate Kubelet --experimental-allowed-unsafe-sysctls to kubelet.config.k8s.io or remove the flag"
Flag name: `experimental-allowed-unsafe-sysctls`

Help text:

Comma-separated whitelist of unsafe sysctls or unsafe sysctl patterns (ending in *). Use these at your own risk.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--experimental-allowed-unsafe-sysctls` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply rem

[2018-03-25 22:42] mtaufen opened #61670 "Migrate Kubelet --experimental-allocatable-ignore-eviction to kubelet.config.k8s.io or remove the flag"
Flag name: `experimental-allocatable-ignore-eviction`

Help text:

When set to 'true', Hard Eviction Thresholds will be ignored while calculating Node Allocatable. See https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/ for more details. [default=false]

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--experimental-allocatable-ig

[2018-03-25 22:42] mtaufen opened #61671 "Migrate Kubelet --exit-on-lock-contention to kubelet.config.k8s.io or remove the flag"
Flag name: `exit-on-lock-contention`

Help text:

Whether kubelet should exit upon lock-file contention.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--exit-on-lock-contention` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag, or

[2018-03-25 22:44] mtaufen commented on #61671
This could be appropriate to `--instance-config` (#61647) due to the relationship with `--lock-file` (#61661).

[2018-03-25 22:44] mtaufen opened #61672 "Migrate Kubelet --enable-server to kubelet.config.k8s.io or remove the flag"
Flag name: `enable-server`

Help text:

Enable the Kubelet's server

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--enable-server` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag, or a descriptor of local topology
managed by the K

[2018-03-25 22:45] mtaufen opened #61673 "Migrate Kubelet --dynamic-config-dir to kubelet.config.k8s.io or remove the flag"
Flag name: `dynamic-config-dir`

Help text:

The Kubelet will use this directory for checkpointing downloaded configurations and tracking configuration health. The Kubelet will create this directory if it does not already exist. The path may be absolute or relative; relative paths start at the Kubelet's current working directory. Providing this flag enables dynamic Kubelet configuration. Presently

[2018-03-25 22:45] mtaufen commented on #61673
Local, kubelet-managed topology.

[2018-03-25 22:45] mtaufen opened #61674 "Migrate Kubelet --container-runtime-endpoint to kubelet.config.k8s.io or remove the flag"
Flag name: `container-runtime-endpoint`

Help text:

[Experimental] The endpoint of remote runtime service. Currently unix socket is supported on Linux, and tcp is supported on windows.  Examples:'unix:///var/run/dockershim.sock', 'tcp://localhost:3735'

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--container-runtime-endpoint` flag should either be migr

[2018-03-25 22:46] mtaufen opened #61675 "Migrate Kubelet --containerized to kubelet.config.k8s.io or remove the flag"
Flag name: `containerized`

Help text:

Running kubelet in a container.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--containerized` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag, or a descriptor of local topology
managed by t

[2018-03-25 22:46] mtaufen opened #61676 "Migrate Kubelet --cloud-provider to kubelet.config.k8s.io or remove the flag"
Flag name: `cloud-provider`

Help text:

The provider for cloud services. Specify empty string for running with no cloud provider.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--cloud-provider` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-s

[2018-03-25 22:46] mtaufen opened #61677 "Migrate Kubelet --cloud-config to kubelet.config.k8s.io or remove the flag"
Flag name: `cloud-config`

Help text:

The path to the cloud provider configuration file.  Empty string for no configuration file.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--cloud-config` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-spe

[2018-03-25 22:46] mtaufen opened #61678 "Migrate Kubelet --chaos-chance to kubelet.config.k8s.io or remove the flag"
Flag name: `chaos-chance`

Help text:

If > 0.0, introduce random client errors and latency. Intended for testing.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--chaos-chance` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considered an instance-specific flag, or a

[2018-03-25 22:47] mtaufen commented on #61678
Between this and `--really-crash-for-testing`, maybe we also want `KubeletTestConfig`? Though I'd like to avoid the proliferation of config objects...

[2018-03-25 22:47] mtaufen opened #61679 "Migrate Kubelet --cert-dir to kubelet.config.k8s.io or remove the flag"
Flag name: `cert-dir`

Help text:

The directory where the TLS certs are located. If --tls-cert-file and --tls-private-key-file are provided, this flag will be ignored.

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--cert-dir` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this c

[2018-03-25 22:47] mtaufen opened #61680 "Migrate Kubelet --bootstrap-kubeconfig to kubelet.config.k8s.io or remove the flag"
Flag name: `bootstrap-kubeconfig`

Help text:

Path to a kubeconfig file that will be used to get client certificate for kubelet. If the file specified by --kubeconfig does not exist, the bootstrap kubeconfig is used to request a client certificate from the API server. On success, a kubeconfig file referencing the generated client certificate and key is written to the path specified by --kubeconfi

[2018-03-25 22:48] mtaufen opened #61681 "Migrate Kubelet --bootstrap-checkpoint-path to kubelet.config.k8s.io or remove the flag"
Flag name: `bootstrap-checkpoint-path`

Help text:

<Warning: Alpha feature> Path to to the directory where the checkpoints are stored

---

This is part of migrating the Kubelet command-line to a Kubernetes-style API.

The `--bootstrap-checkpoint-path` flag should either be migrated to the Kubelet's `kubelet.config.k8s.io`
API group, or simply removed from the Kubelet.

If this could be considere

[2018-03-25 23:12] Ascendance commented on #15180
would love to have this feature 👍

[2018-03-25 23:39] liggitt commented on #54076
/remove-lifecycle rotten

[2018-03-26 01:11] lichuqiang commented on #61620
/cc

[2018-03-26 01:20] jianglingxia commented on #50421
the first problem:I can not config the controller manager to --cloud-config= --cloud-provider=openstack;
yeah,you correct that the doc https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes-1 write cinder supports only ReadWriteOnce access mode,but if two pod in one minion use the same volumeid you can try it!maybe the way not often use,thanks very much!

[2018-03-26 02:25] richmondwang commented on #10421
I also see this on few of my nodes..

[code]

Setting `fs.inotify.max_user_watches` worked though.

[2018-03-26 02:34] andyzhangx commented on #61526
@CaoShuFeng there are some error logs(could be regarded as warning) in azure cloud provider unit tests, while they all PASS, see below:

[code]

[2018-03-26 02:35] chenchun opened #61682 "Add a admission controller to set pods' hostnames"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I'd like each pod to be reachable via DNS records. Currently this is possible through https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods-dns-policy

But for deployments, I can't easily set each pod's hostname to its own name. This can be done by an admission controller. I can't find an existi

[2018-03-26 02:52] Lion-Wei commented on #61509
Did little research. If we use `kubectl apply` create a new object, with annotations you mentioned, the created object annotations will only have `kubectl.kubernetes.io/last-applied-configuration`.
I think it's little confusing, kubectl at least should give some error information in this situation.
@mengqiy , what do you think?

[2018-03-26 03:20] CaoShuFeng commented on #61526
Some azure unit tests need access to the Internet, so they fail in my environment.

[2018-03-26 03:20] #61526 closed

[2018-03-26 03:24] lichuqiang opened #61684 "Error reconciling pod volumes of Flexvolume on nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Reconciler in volumemanager of kubelet walks through pod volumes dir (in format of /pods/{podUid}/volume/{escapeQualifiedPluginName}/{volumeName}) and then tries to find its plugin basing on the `escapeQualifiedPluginName`

For flexvolume, the escapeQualifiedPluginName in the path(generated through `GetPath`) is of driverN

[2018-03-26 03:40] jurgenweber commented on #60066
I sometimes have pods that end up in a weird state, I am unsure if the cause is exactly the same as yours.

What I do is log onto the etcd server and use
[code]
( if unsure, start with etcdctl ls )

to remove from etcd and hence dashboard. I only do this in extreme circumstances and whe nI ahve confirmed the pod/container is most definitely not there.

[2018-03-26 03:43] hzxuzhonghu opened #61686 "gc controller should ignore all resources which do not have ownerRef or dependents"
Now gc controller only ignore some resources but many others should also ignored. Such as secretes configmaps, serviceaccounts...

[2018-03-26 03:44] #49792 closed

[2018-03-26 03:47] hzxuzhonghu commented on #61686
/sig apps

[2018-03-26 05:38] brucechou1983 commented on #52757
+1

[2018-03-26 05:38] feiskyer opened #61687 "kubectl get pod show wrong status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When there are multiple containers terminated in a Pod, some may succeed, while others may fail. Sometimes, `kubectl get pod` show completed while there are indeed containers failed, e.g.

[code]

**What you expected to happen**:

The status of the Pod should be shown as `Failed` or `Error`

**How to reproduce it (as min

[2018-03-26 05:39] feiskyer commented on #61687
/sig cli

[2018-03-26 06:33] #55602 closed

[2018-03-26 07:28] qq9338745 commented on #61629
thanks  for  @liggitt  reply.
can we summerize the configuration step for **one node master**  and point out what's wrong for my step ?

**Preparation:**
1）swapoff -a to close swap .
2) disable selinux.
3) #vi /etc/sysctl.d/k8s.conf
net.bridge.bridge-nf-call-ip6tables = 1
net.bridge.bridge-nf-call-iptables = 1

**installation:**

1) Installed the docker and configured the cgroup to systemd. restar

[2018-03-26 07:36] tirumaraiselvan opened #61690 "Deployment not showing current number of available replicas"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Although a pod corresponding to a deployment is running, deployment shows available replicas as 0. Even endpoints for the corresponding pod are not updated.

[code]

**What you expected to happen**:

Deployment should have available replica as 1 and endpoints should also be updated.
I tried deleting the controller-manage

[2018-03-26 07:41] kad commented on #61629
After this `kubeadm init` failure, which files do you have in `/etc/kubernetes/` ?

Also, can you show output of 'systemctl status kubelet' ?

Another thing, regarding warnings from `kubeadm init`:
[code]
please, make sure that NO_PROXY environment variable before running `kubeadm init` is set  something like `NO_PROXY=10.96.0.0/12,192.168.0.0/16`  (e.g. if your $localhost_ip is from 192.168.0.0/1

[2018-03-26 07:41] tirumaraiselvan commented on #61690
/sig apps
/sig node

[2018-03-26 07:45] x13n commented on #61190
@shyamjvs Is there anything else to do here or should this be closed now?

[2018-03-26 08:01] dixudx commented on #57443
/remove-lifecycle stale

[2018-03-26 08:08] #58195 closed

[2018-03-26 08:09] qq9338745 commented on #61629
before to run  "kubeadm init",
there is only manifest dir (and files)  and empty  pki dir .
after  run  "kubeadm init":

[root@infbjvm555 kubernetes]# ls -rlt
total 36
drwxr-xr-x 2 root root  109 Mar 26 10:40 manifests
drwxr-xr-x 2 root root 4096 Mar 26 10:40 pki
-rw------- 1 root root 5450 Mar 26 10:40 admin.conf
-rw------- 1 root root 5562 Mar 26 10:40 kubelet.conf
-rw------- 1 root root 5486 Ma

[2018-03-26 08:15] tianshapjq commented on #61643
Without uid, can dynamic config be watching for the changes of a configmap (that is, if the content of a configmap changes, kubelet will restart and apply the configurations automatically.)? Or delete the old configmap and recreate a new one would do?

[2018-03-26 08:19] funlake commented on #19764
+1 cry every time,any plans for single file volume mapping?

[2018-03-26 08:24] tianshapjq commented on #61650
file an issue to trace all the migrations would be better? too many issues about the migration at present.

[2018-03-26 08:33] arkadyark opened #61695 "Resources are not checked before scheduling pod with nodeName specified"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

**What happened**: Pod fails with status OutOfCpu

**What you expected to happen**: Pod to remain in 'Pending' until resources were available

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a node with X cpu resources
2. Create a pod with resource requests and limits, specifying in the spec nodeName=[node from s

[2018-03-26 08:35] arkadyark commented on #61695
/sig scheduling

[2018-03-26 08:42] shyamjvs commented on #61190
Let's close it once we're sure there are no more such failures. We may also
need to bump the threshold.

On Mon, Mar 26, 2018, 9:46 AM Kubernetes Submit Queue <
notifications@github.com> wrote:

[2018-03-26 08:48] KIVagant commented on #47180
[code]

[2018-03-26 09:05] dionmes opened #61696 "Kubelet node-ip support for dynamic IP's to support node autoscaling"
@kubernetes/sig-autoscaling-feature-requests

**What happened**:
Two interfaces on a node, a private and a public one.
Kubelet chooses the public one. With '--node-ip' I can force the node to use the internal ip, but with autoscaling and internal dynamic IP addresses this does not help.

**What you expected to happen**:
What I would like is not '--node-ip' but '--node-interface' so Kubelet can ret

[2018-03-26 09:09] m1093782566 commented on #56840
/close

change is available in #58687.

[2018-03-26 09:09] #56840 closed

[2018-03-26 09:31] CaoShuFeng commented on #50292
/re-open

[2018-03-26 09:31] CaoShuFeng commented on #50292
/reopen

[2018-03-26 09:32] CaoShuFeng commented on #50292
@tcharding
What's the situation of this issue?

[2018-03-26 09:36] zjj2wry opened #61699 "kubectl drain support --ignore-not-found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig cli

**What happened**:
kubectl delele and get support --ignore-not-found, but kubectl drain not support, add this flag will helpful when i write node ralative script

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernete

[2018-03-26 09:49] jdanekrh opened #61701 "Create Deployment with DNS records for FQDNs of the pods"
/kind feature

I'd like to combine Deployments feature with the pod DNS records feature as described in https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods-hostname-and-subdomain-fields.

My goal is that every pod in the deployments needs to have (arbitrary) DNS-resolvable FQDN, because my application depends on it (slave sends its FQDN to the master and then the master s

[2018-03-26 09:54] jdanekrh commented on #61701
@kubernetes/sig-network-feature-requests

[2018-03-26 10:09] ddongchen opened #61702 "resourcequota scopes should support user-defined scopes"
For the "ResourceQuota"->"ResourceQuotaSpec"->"Scopes", we just support defined scopes, they are:
const (
	// Match all pod objects where spec.activeDeadlineSeconds
	ResourceQuotaScopeTerminating ResourceQuotaScope = "Terminating"
	// Match all pod objects where !spec.activeDeadlineSeconds
	ResourceQuotaScopeNotTerminating ResourceQuotaScope = "NotTerminating"
	// Match all pod objects that have b

[2018-03-26 10:49] irvifa commented on #30558
We can use

[code]

This will create as well update `ConfigMap` if it's not exist yet

[2018-03-26 10:52] #61503 closed

[2018-03-26 10:56] dims commented on #61684
/sig storage
/sig node

[2018-03-26 11:05] WanLinghao opened #61703 "kubectl auth reconcile output is too long"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The object output is far beyond human-readable in `kubectl auth reconcile` command.
For example:
1. Create a role by xiaomi-role.yaml
xiaomi-role.yaml:
[code]
2. Here's another yaml file xiaomi-modify,yaml
[code]
3. execute `kubectl auth reconcile -f xiaomi-modify.yaml --output=yaml
`
Output of this command is 600+ lines,

[2018-03-26 11:35] piontec commented on #57897
OK, this started hitting us pretty hard, we're running into this situation right now for a couple of services: pods are there, Service is there, no labels nor selectors were changed, yet, the endpoint is not there. Here's an example:
[code]

[2018-03-26 11:39] foxyriver commented on #61593
@codebreach  According to the log, you installed flannel by cin plugin. Then you should execute `ifconfig cni0 promisc`, because the function of docker0 is replaced by cni0 in this case.

[2018-03-26 11:42] bstick12 opened #61707 "vSphere unable to detachVolume if node VM has been deleted"
/kind bug

**What happened**:

We had a pod with persistent storage. We drained the node. The node VM was deleted. The PV was not attached to the node that the Pod migrated too. The kube-controller-manager logs contained the following.

[code]

**What you expected to happen**:

The PV can be attached to the node it was migrated to.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-03-26 11:46] foxyriver commented on #61593
sorry, I didn't use GKE. :)

[2018-03-26 11:50] SharpEdgeMarshall commented on #57897
After upgrading from 1.8.4 to 1.8.6 we didn't see it again, but as you say it appears only when you add/remove/edit services and we didn't do that yet since the upgrade.

[2018-03-26 11:52] ggaaooppeenngg opened #61708 "allow-privilged is deprecated, how to setup kubelet without allow-priviliged=true?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig node

**What happened**:
how to setup kubelet withou -allow-priviliged=true, it is removed from kubeletconfiguration as well/
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
use master dev branch of kubelet to join master.

**Anything else we need to know?**:

**Environment**:
- Kub

[2018-03-26 11:55] Anumita opened #61710 "Kubectl create secret/configMap using --from-file option is failing"
I am trying to create a configmap from a file using the
"kubectl create configmap myconfigmap --from-file=game.properties"

The game.properties consists of the following key value pairs
enemies.name=aliens
lives.count=3
enemies.cheat=true
enemies.cheat=noGoodRotten
secret.code=UUDDLRLRBABAS
secret.code=true
secret.code=30

The command is failing with the error

"game.properties" is not a valid key

[2018-03-26 12:07] ggaaooppeenngg commented on #61708
related issue https://github.com/kubernetes/kubernetes/pull/57851

[2018-03-26 12:07] chrissound opened #61712 "panic: runtime error: invalid memory address or nil pointer dereference [signal SIGSEGV: segmentation violation code=0x1 addr=0x60 pc=0x627c26]"
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: Minikube
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`):
`Linux archamd 4.14.29-1-lts #1 SMP Wed Mar 21 17:41:42 CET 2018 x86_64 GNU/Linux`

**deployment.resize.yaml**

    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: "resize-deploymen

[2018-03-26 12:25] discordianfish commented on #43168
@soltysh Can we re-open this issue again?

[2018-03-26 12:36] shyamjvs commented on #61190
So bumping maxUnavailable for fluentd rolling-upgrade in https://github.com/kubernetes/kubernetes/pull/61472 is causing couple of issues:

- Our latest 5k-node performance [run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/129) failed as part of BeforeSuite where we're checking that ~all kube-system pods are running or ready. The reason i

[2018-03-26 12:40] wojtek-t commented on #61190
TBH, I don't know why it was merged without waiting for opinions...

I really vote for reverting that.

We don't want this - this may mean making cluster "not fully usable" from user perspective.Which is not really what we want to test.

[2018-03-26 12:43] kad commented on #61629
@qq9338745 according to your latest logs and provided information, kubeadm successfully created ca.crt and being able to launch kubelet correctly. Error messages from kubelet like
[code]
are normal, until the moment then you'll install CNI plugins based on your wish (see Network plugin installation section in Kubeadm docs).

Next thing, docker proxies: according to your logs, it is good that you u

[2018-03-26 12:56] liggitt commented on #61377
reopening to track fixes into release branches

[2018-03-26 13:00] mountkin commented on #61712
Duplicate of #61320
Upgrade kubectl should fix the problem

[2018-03-26 13:03] wojtek-t commented on #59338
It seems it's still not really fixed...

[2018-03-26 13:08] shyamjvs commented on #61190
SGTM. Let's revert it and increase our thresholds for the time-being. The discussion about changing fluentd rolling-upgrades can continue to happen in the background.

[2018-03-26 13:26] wojtek-t commented on #59338
Actually, it may potentially not be true - we only have evidence that this bug happened in clusters that are in 1.8.9 version (which has the fix), but it might potentially have happened before the upgrade....

[2018-03-26 13:30] liggitt commented on #61703
/kind enhancement
/sig auth

[2018-03-26 13:31] liggitt commented on #61686
this is not accurate. ownerRef allows expressing generic relationships between objects. all objects are allowed to set up those relationships and be managed by GC

/close

[2018-03-26 13:31] #61686 closed

[2018-03-26 13:32] liggitt commented on #61686
/sig api-machinery

[2018-03-26 13:32] wojtek-t commented on #59338
So I will close it for now until we have 100% proof for it.

[2018-03-26 13:32] #59338 closed

[2018-03-26 13:34] liggitt commented on #61712
this is fixed in 1.8+

/close

[2018-03-26 13:34] #61712 closed

[2018-03-26 13:36] liggitt commented on #61710
what server version do you have (output of `kubectl version`)? dots are allowed in 1.4.x+

[2018-03-26 13:38] liggitt commented on #61695
a pod with nodeName specified does not get scheduled, it is already assigned to the node. The scheduler only looks at pods which have not yet been assigned to a node.

/close

[2018-03-26 13:38] #61695 closed

[2018-03-26 13:44] kumudt commented on #49263
@MrHohn Yes. In the describe nodes, I can see an event with message Failed to start node healthz on 0.0.0.0:10256: listen tcp 0.0.0.0:10256: bind: address already in use.

K8s Version: v1.8.9
Installed with Kops 1.8.1 on AWS
OS Image: Debian GNU/Linux 9 (stretch)
Kernel Version: 4.9.0-6-amd64
Docker Run Time: docker://1.13.1

[2018-03-26 13:48] liggitt commented on #60614
no flakes seen in last triage period, closing

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestKMSProvider

/close

[2018-03-26 13:48] #60614 closed

[2018-03-26 13:52] andreyshamray opened #61716 "Pods stuck in terminating state on Windows nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Pods stuck in terminating state on Windows node after deleting it

**What you expected to happen**:
Pods get terminated and should disappear from kubectl

**How to reproduce it (as minimally and precisely as possible)**:
Run a pod with windows container
Delete it
Pods are still terminating

**Anything else we need to kno

[2018-03-26 13:52] pyk commented on #25908
So the proposed solutions that requires an upstream changes are:

1. [`sidecar: true`](https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-308545198) by @jmillikin-stripe
1. [Additional lifecycle hooks](https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-320416666) by @msperl
1. [`jobCompletedWith`](https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-36

[2018-03-26 14:09] codebreach commented on #61593
@foxyriver unfortunately seems to not work:

`ifconfig cni0 promisc` -> `cni0: ERROR while getting interface flags: No such device`

Output of `ifconfig` follows (no `cni0`).
All interfaces except `veth*`, `lo` and `eth0` have `PROMISC` set.
[code]

[2018-03-26 14:37] andyzhangx commented on #57070
close this issue since there is no work in k8s upstream

[2018-03-26 14:37] #57070 closed

[2018-03-26 14:43] jdumars commented on #60589
@yujuhong @krzyzacy @shyamjvs @wojtek-t @Random-Liu @wasylkowski-a any updates on this?  This is still blocking 1.10 at the moment.

[2018-03-26 14:47] JulienBalestra opened #61717 "Kubelet doesn't update static pod status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In the kubelet, when using `--pod-manifest-path` the kubelet creates static pods but doesn't update the status accordingly in the **PodList** (kubelet `/pods`).

You can find that kind of Pods with the following annotation:
[code]
The status will stay like that:
[code]

**What you expected to happen**:

The status is upd

[2018-03-26 15:02] shyamjvs commented on #60589
So the only part of this bug that was blocking the release is the 5k-node performance job. Unfortunately, we lost our run from today due to a different reason (ref: https://github.com/kubernetes/kubernetes/issues/61190#issuecomment-376150569)

That said, we're fairly confident the fix works based on my manual runs (results pasted in https://github.com/kubernetes/kubernetes/issues/60589#issuecommen

[2018-03-26 15:06] wojtek-t commented on #60589
+1
@jdumars - I think we can not treat this as non-blocker.

[2018-03-26 15:09] wojtek-t commented on #60589
Sorry, I edited my post above. I meant that we should treat it as "non-blocker".

[2018-03-26 15:12] jdumars commented on #60589
Ok, thank you very much.  This conclusion represents a tremendous amount of hours you have invested, and I cannot possibly thank you all enough for the work you have done. While we talk in the abstract about "community" and "contributors" you, and the others who have worked this issue represent it in concrete terms. You are the very heart and soul of this project, and I know I speak for everyone i

[2018-03-26 15:16] Tapppi commented on #51835
Same problem here on GKE 1.9.4-gke.1
Only happens with a specific filebeat daemonset, but recreating all nodes doesn't help either, it just keeps happening.

[2018-03-26 15:28] peter-bitfusion commented on #59110
:+1:  Deallocation would be really helpful for us as well. is there any progress or plans around this?

[2018-03-26 15:36] amitshowry commented on #55867
1. couldn't update deployment.
2. couldn't delete deployment, rs, pods
3. using --grace-period=0 --force will make pods to disappear but still  pods will be running inside server, manually tried docker stop / rm which is no use once again as pods started soon after issued stop and rm.

4. totally stuck see these  error in one of node.

 Warning  FailedNodeAllocatableEnforcement  17s (x39184 over 2

[2018-03-26 15:53] mtaufen commented on #61650
No, each flag is it's own discussion.

On Mon, Mar 26, 2018, 1:25 AM Drinky Pool <notifications@github.com> wrote:

[2018-03-26 15:54] dnoland1 commented on #57534
/remove-lifecycle stale

[2018-03-26 15:56] mtaufen commented on #61643
Dynamic Kubelet config never responds to ConfigMap mutations. This is a
safety feature that encourages incremental rollout (you must create a new
ConfigMap, and update each config source reference).

On Mon, Mar 26, 2018, 1:16 AM Drinky Pool <notifications@github.com> wrote:

[2018-03-26 16:02] joejulian commented on #60351
/reopen

[2018-03-26 16:04] joejulian commented on #60351
No, they field is being mapped just fine. If there is no user rbac role defined, the group role is applied. If there *is* a user role it is applied. This allows the user to override the group.

[2018-03-26 16:12] yujuhong commented on #61717
I don't think this is a bug. `/pods` only exposes what kubelet sees from the sources, and doesn't include statuses known only to kubelet. Since for static pods, their statuses are not written back to the source, they do not show up in `/pods`.

The fact that it has the `PodScheduled` condition is unintentional and a bug. It has just been fixed recently.

[2018-03-26 16:22] apelisse commented on #61645
I know nothing about that. @konryd

[2018-03-26 16:24] liggitt commented on #60351
I'm having a hard time understanding what you are proposing. Can you provide a concrete example of an x509 cert, and how you would like to see the API server handle it differently than it does today?

That sounds like mixing the authorization and authentication layers, which are intentionally separated today.

User and group RBAC grants are additive, and there are no plans to change that. It is un

[2018-03-26 16:36] liggitt commented on #61643
I'd leave that up to the thing driving the kubelet. It is quite counter-intuitive for a restarted kubelet to not use the config in the referenced configmap *sometimes*

[2018-03-26 16:44] SimoneRiboldi commented on #21692
We experience the same issue with MySQL datasource, but the page loads well, we just get this message when we refresh the dashboard.

[2018-03-26 16:49] nickchase commented on #59764
Adding:

* Use of subPath module with hostPath volumes can cause issues during reconstruction ([#61446](https://github.com/kubernetes/kubernetes/issues/61446)) and with containerized kubelets ([#61456](https://github.com/kubernetes/kubernetes/issues/61456)). The workaround for this issue is to specify the complete path in the hostPath volume.

[2018-03-26 16:57] mtaufen commented on #61643
Which is why I initially wanted [Verifiable ConfigMaps](https://docs.google.com/document/d/1yYmyYJu2mVqgOBPCSd2c_IPnGWItirbcN_5qbJaWZN0/edit#heading=h.p9zm9o7oiea0), to warn in cases of mutation. The argument that killed Verifiable ConfigMaps was that people could just use RBAC to restrict mutators to a few responsible individuals...

[2018-03-26 16:59] mtaufen commented on #61643
I don't like opening the door to the "oops I updated the configmap in place and hosed all my nodes" footgun, either.

[2018-03-26 17:02] nickchase commented on #59764
Flaky timeouts while waiting for RC pods to be running in density test -- Appears to be fixed?
Controller-manager sees higher mem-usage when load test runs before density -- Does this need a Relnote?
HostPath mounts failing with "Path is not a shared or slave mount" -- Resolved with addition to "Before Upgrading" section
kubeadm: etcd certs missing in self-hosted deploy (will be fixed in point rel

[2018-03-26 17:03] kevincox commented on #30576
/remove-lifecycle stale

[2018-03-26 17:03] joejulian commented on #60351
[code]
Apply that role to the accounting group
[code]
A user authenticates as user: john, group: accounting
John can list pods in the accounting namespace and access the logs of those pods. He cannot do anything in any other namespace.

Next, a user authenticates as user: admin, group: accounting
This user has access to the entire cluster because they get the admin ClusterRole bound to the usernam

[2018-03-26 17:06] dchen1107 commented on #61640
The issue shouldn't be the release blocker since there is slight memory usage increase in occurring in GKE related upgrade / downgrade tests, not on GCE ones. The discrepancy is still under investigation, but it should be caused by testing environment.

[2018-03-26 17:07] liggitt commented on #60351
That is how RBAC works today. What change in behavior are you proposing?

[2018-03-26 17:08] joejulian commented on #60351
The expectation is that an org would need managers within different org units that manage the creation of user accounts within their department. That manager should not be able to grant one of their users access outside their unit.

[2018-03-26 17:09] MrHohn commented on #49263
@kumudt Could you confirm what component is occupying port 10256? Have you tried `netstat -l` on the node?

[2018-03-26 17:12] AishSundar commented on #61484
Liujingfang1@ I see you have a PR out for the fix, thanks. Any ETA on when this will be merged? I can monitor test status once its in before pinging you to close the issue.

[2018-03-26 17:13] AishSundar commented on #59581
soltysh@ any update on this please?

[2018-03-26 17:19] nickchase commented on #59764
Added * In large clusters (~2K nodes) scheduling logs can explode and crash the master node. ([#60933](https://github.com/kubernetes/kubernetes/issues/60933))

[2018-03-26 17:23] divyenpatel commented on #61707
@kubernetes/vmware

[2018-03-26 17:24] liggitt commented on #60351
it sounds like you want a certificate attribute other than CN to map to a kubernetes username. use of an authenticating proxy that understands your pki and knows how to pull out a unique attribute to use for a username is the recommended approach.

[2018-03-26 17:42] joejulian commented on #60351
The only reason certificates is even part of this conversation is because they allow for the issuance of OU bound identities. They take care of allowing the accounting manager to add users to the accounting group. For the meat of this problem, I think we can ignore the x509 bits and just focus on rbac.

The problem is that a user in the accounting group can easily be given credentials that break o

[2018-03-26 18:13] jberkus commented on #59764
@nickchase

Yes on Controller-manager. Suggested text:

"Some users, especially those with very large clusters, may see higher memory usage by the kube-controller-manager in 1.10."

[2018-03-26 18:15] mtaufen commented on #61643
@deads2k

[2018-03-26 18:17] crimsonfaith91 commented on #61513
@mindprince The test has been removed and to be converted into an e2e test. The flakiness was due to a GC race condition. This issue can be closed.

[2018-03-26 18:17] mtaufen commented on #61643
Conversation diverged to slack, reposting here for record-keeping:

mtaufen [9:59 AM]
how do you pin something to a resource version?

liggitt [9:59 AM]
put resourceVersion in the object reference
and have the kubelet refuse to use it if the config map's resourceVersion doesn't match
that's the behavior you say you want, but you're depending on the kubelet having a local previously retrieved versi

[2018-03-26 18:19] mindprince commented on #61513
/close

[2018-03-26 18:19] #61513 closed

[2018-03-26 18:22] mtaufen commented on #61643
https://github.com/kubernetes/kubernetes/issues/56896 wrt structured status

[2018-03-26 18:29] smoya commented on #61717
I confirm that this behaviour is still happening. Having pods with status `Pending` where they are actually `Running`. The kubernetes API shows them as `Running` when Kubelet `/pods` endpoint as `Pending`.

[2018-03-26 18:35] jiayingz commented on #59380
My feeling is there are a lot missing pieces today to support shareable device resources. How about we wait after the f2f rwmg meeting during which I think there will be a good amount discussions on this topic? At the time we may have better ideas on the road blockers to support shareable device resources.

[2018-03-26 18:46] verb commented on #10834
/remove-lifecycle stale

[2018-03-26 19:01] benmathews commented on #45967
/remove-lifecycle stale

[2018-03-26 19:02] prune998 commented on #61076
Had the cleanup issue on GKE for few days (Google support looking into it... hope they will find this thread), but I'm now facing the 'failed to prepare subPath for volumeMount' error...
This is weird as some of my pods started fine and some other did not...

I'm on `1.9.4-gke.1`... will the 1.9.5 release soon ?

[2018-03-26 19:03] yujuhong commented on #61640
This is not a release blocker.

Both GKE 1.9 and 1.10 are using a newer COS m65 image with a newer docker version (compared with GCE tests). The new docker version has slightly higher RSS memory. The container runtime memory limit in the 1.10 was bumped because of that (see #59217). The 1.9 test still has the old, lower limit, which caused the upgrade test to fail.

[2018-03-26 19:04] yujuhong commented on #61640
The function that grabs the heap stats from kubelet's debug endpoint probably doesn't work as expected anymore. It'd only be called if the test fails, so you'd need to find a failed GCE run to compare.

[2018-03-26 19:19] kumudt commented on #49263
@MrHohn didn't find much in netstat -l
For port 10256, I could only see this.
tcp6       0      0 [::]:10256              [::]:*                  LISTEN

[2018-03-26 19:29] lavalamp commented on #54579
References by themselves won't solve that problem (what happens when some
federated cluster's control planes are upgraded?) and will more or less
guarantee that your data is in some inconsistent state as soon as something
is upgraded, which is why I want to block work on this until the stored
object upgrade path is solved.

I think you'll need to use dry run (which doesn't exist but will be added

[2018-03-26 19:47] ravisantoshgudimetla opened #61737 "Let descheduler handle preemption"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

I have started looking into implementing priorities while evicting pods in descheduler.

Following are my observations:

As of now, scheduler is doing preemptions to accomodate higher priority pods which cannot find nodes. We are having a overlapping functionality with descheduler which also evicts pods but with a broader goal of balan

[2018-03-26 19:47] ravisantoshgudimetla commented on #61737
/sig scheduling

[2018-03-26 20:04] msau42 commented on #61076
@prune998 this issue could show up during a container restart too.  This fix is planned to roll out in GKE this week.

[2018-03-26 20:09] lavalamp commented on #61381
/assign @cheftako

[2018-03-26 20:13] lavalamp commented on #61450
/sig node

Sounds like it should be one or the other. Adding the node SIG also, it's not clear if this is a defect in the machinery or the API.

[2018-03-26 20:14] lavalamp commented on #61450
/assign @yliaog

[2018-03-26 20:15] lavalamp commented on #61497
/remove-sig api-machinery
/sig apps

[2018-03-26 20:18] lavalamp commented on #61510
/assign @jennybuckley

[2018-03-26 20:22] spikecurtis commented on #60661
I don't think this will work for Kata Containers, and may not work for Windows containers (not an expert on what kind of caller info you can get from Windows sockets).

We currently have a FlexVolume + Unix Domain Socket solution prototyped and being tested. This attaches identity to a mount namespace. It's not the cleanest solution, but works fine on Linux. IMO, one of the main arguments for buil

[2018-03-26 20:26] lavalamp commented on #61558
We think this is working as intended, you can try to configure etcd via IP address rather than DNS / host name if you want? But if apiserver can't talk to etcd, it is not healthy and it's correct to report itself as unhealthy.

[2018-03-26 20:26] #61558 closed

[2018-03-26 20:33] lavalamp commented on #61578
cc @yliaog

(we don't understand this, will let Yu figure it out for us :) )

[2018-03-26 20:34] lavalamp commented on #61586
/remove-sig api-machinery
/sig cli

[2018-03-26 20:36] lavalamp commented on #61622
I think SIG Node owns the pod object that would need to change.

/remove-sig api-machinery
/sig node

[2018-03-26 20:38] lavalamp commented on #61702
cc @derekwaynecarr
cc @yliaog

[2018-03-26 20:46] mengqiy commented on #12668
/reopen

[2018-03-26 20:46] mengqiy commented on #12668
/assign

[2018-03-26 20:46] mengqiy commented on #12668
/reopen

[2018-03-26 20:46] mengqiy commented on #12668
/unassign

[2018-03-26 21:01] #54299 closed

[2018-03-26 21:01] #54663 closed

[2018-03-26 21:10] msau42 commented on #61620
If I understand correctly, the behavior you want is on a node failure, to have the Pod release its local PVC and obtain a blank new PVC on a different node.

We discussed this scenario a bit during the last storage f2f, and it was decided at that time that this behavior is very application, environment, and operator dependent, and would be very dangerous to implement something like this inside Kub

[2018-03-26 21:20] mengqiy commented on #59581
This test is flaky because it tries to do [`kubectl scale` on a deployment](https://github.com/kubernetes/kubernetes/blob/9bd4f12c336af339c35e773e1d71a37cad342f57/test/e2e/kubectl/kubectl.go#L779-L781) and it sometimes get an Optimistic Lock error. e.g. [log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-sig-cli/1828/) and [log](https://k8s-gubernator.a

[2018-03-26 21:32] jsoref opened #61739 "kubectl logs --help suggests: interactive=... If true, prompt the user for input when required."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl logs --help` says:
```      --interactive=false: If true, prompt the user for input when required.```

**What you expected to happen**:
Don't suggest that `If true, prompt the user for input when required` -- as it doesn't actually do that when used.

**How to reproduce it (as minimally and precisely as possible)

[2018-03-26 21:33] jsoref commented on #61739
/sig cli

[2018-03-26 22:06] bgrant0607 commented on #61185
See also: #17190, #17151, #17097, #14573

[2018-03-26 22:10] msau42 opened #61741 "fsgroup check in local volume plugin doesn't work for containerized kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
While triaging #61456, I also took a look at local.go and believe that [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/local/local.go#L288) will also have a similar issue, because it does an `os.Stat` on the `m.globalPath`, which may not be exposed at the same path in a contai

[2018-03-26 22:27] hofnarwillie commented on #24744
This worked for me:

[code]

[2018-03-26 22:31] janetkuo commented on #61645
Looking further, this test should've been skipped (#59004):
https://github.com/kubernetes/kubernetes/blob/9bd4f12c336af339c35e773e1d71a37cad342f57/test/e2e/scheduling/rescheduler.go#L44-L55

Why is it not skipped?

[2018-03-26 22:34] krzyzacy commented on #61645
this is a downgrade test, and looks like the test is not skipped in 1.9, what should be the intended behavior?

[2018-03-26 22:34] #61363 closed

[2018-03-26 22:34] #61596 closed

[2018-03-26 22:35] janetkuo commented on #61645
/assign @bsalamat

[2018-03-26 23:02] rramkumar1 commented on #59507
@thockin any thoughts on the finalizer approach?

[2018-03-26 23:15] jdanekrh commented on #48798
Nobody mentioned SELinux yet. I got this error when running `kubeadm join` on a Centos 7 machine with SELinux in Enforcing mode. Setting `setenforce 0` and reruning kubeadm fixed my problem.

[2018-03-26 23:56] dims commented on #60658
@zetaab is this now fixed with the changes referenced?

[2018-03-27 00:04] #46610 closed

[2018-03-27 00:16] sgorbaty commented on #60814
I noticed that the patch doesn't check for hard links. I don't know enough about this particular case if it'd add any risk, thought I let you all know.

[2018-03-27 00:24] BerserkerTroll commented on #48798
@jdanekrh https://github.com/kubernetes/kubernetes/issues/48798#issuecomment-359193792

[2018-03-27 00:33] zhangxiaoyu-zidif commented on #61665
Does this mean cpu and local ephemeral storage will be supported?

[2018-03-27 00:39] dims commented on #59978
/close

fixed in 7069

[2018-03-27 00:40] dims commented on #59943
moving this to https://github.com/kubernetes/cloud-provider-openstack/issues/25

[2018-03-27 00:40] #59943 closed

[2018-03-27 00:44] dims commented on #54101
closing in favor of https://github.com/kubernetes/kubernetes/issues/54012

[2018-03-27 00:44] #54101 closed

[2018-03-27 00:51] bsalamat commented on #61512
Yes. Exactly.

I don't think this scenario is not limited to preemption. If a few pods are deleted almost at the same time for any reason, the same race condition can cause problem. In fact, the scenario is not limited to pod deletions either. If any scheduling condition that invalidate eCache (for example volumes are added, etc.) changes, similar race condition could potentially exist. I don't ha

[2018-03-27 00:52] foxyriver commented on #61593
@codebreach whether there is a network named `kubenet ` in your host or not?

[2018-03-27 01:02] jiayingz opened #61747 "Generic way to support pod/container resource requests on extended resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently heapster exports pod/container resource requests on primary resources like cpu, memory, and storage. In 1.10, device plugin has graduated to beta. Cluster admins can install third-party device plugins to export non native extended resources, and after that users can request such resources in their container

[2018-03-27 01:03] jiayingz commented on #61747
cc @mindprince @vishh @ConnorDoyle @derekwaynecarr @RenaudWasTaken @kawych @piosz

[2018-03-27 01:11] janetkuo opened #61748 "test-cmd flake: error: could not fetch the scale for replicasets"
Start seeing flake in test-cmd deployment tests since 3/26 https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-integration

The failure seems related to `scale` subresource?
[code]
Could #60455 be related?

cc @p0lyn0mial @kubernetes/sig-cli-bugs

[2018-03-27 01:19] sekaiga commented on #61586
i found the reason.
the KUBECONFIG=/etc/kubernetes/admin.conf in the ~/.bash_profile had been removed.
add this config back,it works.
i don't know why had been removed.
i think the error message is not very clearly.

[2018-03-27 01:30] mengqiy commented on #59581
I guess this issue may be fixed by https://github.com/kubernetes/kubernetes/pull/60455.
Let's wait and see.

[2018-03-27 01:31] mengqiy commented on #12668
/remove-lifecycle rotten

[2018-03-27 01:32] derekwaynecarr commented on #61665
fyi @sjenning

[2018-03-27 01:56] #61018 closed

[2018-03-27 02:20] orainxiong commented on #61620
@msau42 Thanks for your reply. I got it.

I plan to encode delete PVC action into the operator, to allow kube-scheduler to reschedule the database instances to the surviving node.

But I am not sure  if there maybe has a conflict with _postpone-pvc-deletion-if-used-in-a-pod_
[https://github.com/kubernetes/kubernetes/issues/45143](url).

[2018-03-27 02:26] jpiper opened #61750 "hyperkube:v1.10.0 kube-proxy throwing ipset errors on startup"
/kind bug
/sig network

**What happened**:

Upgraded my kube-proxy from`  k8s.gcr.io/hyperkube-amd64:v1.9.6` to`  k8s.gcr.io/hyperkube-amd64:v1.10.0`

Upon startup, I get a load of these error messages. It looks like the container hasn't got the ipset binary in it.

[code]

[2018-03-27 02:45] msau42 commented on #61620
Ah, I think you need to delete both PVC and pod.

[2018-03-27 02:52] #57914 closed

[2018-03-27 02:52] #61465 closed

[2018-03-27 03:00] orainxiong commented on #61620
OK.
It is grateful of you. I will close this issue.

[2018-03-27 03:01] #61620 closed

[2018-03-27 03:43] qq9338745 commented on #61629
@kad

**_follow your guide, there is still warning,_**

[WARNING SystemVerification]: docker version is greater than the most recently validated version. Docker version: 17.06.2-ol. Max validated version: 17.03
        [WARNING FileExisting-crictl]: crictl not found in system path
        [WARNING HTTPProxy]: Connection to "**_https://infbjvm555_ip:6443_**" uses proxy "http://cn-proxy.test.com:80"

[2018-03-27 03:48] qq9338745 commented on #61629
thanks @kad  suggestion, i followed your guide but there is still warning.

[WARNING SystemVerification]: docker version is greater than the most recently validated version. Docker version: 17.06.2-ol. Max validated version: 17.03
        [WARNING FileExisting-crictl]: crictl not found in system path
        [WARNING HTTPProxy]: Connection to "https://infbjvm555_ip:6443" uses proxy "http://cn-prox

[2018-03-27 03:58] zetaab commented on #60658
@dims yes all fixed this can be closed

[2018-03-27 03:58] #60658 closed

[2018-03-27 05:54] codebreach commented on #61593
I figured it out! By default network policy is disable on GKE. To fix it
just enable network policy.

Here's the relevant part from the thread-> Since no CNI Plugins are
specified in the kubelet command line, k8s defaults to a minimal behavior -
NoopNetworkPlugin which sets the net/bridge/bridge-nf-call-iptables to 1 -
and the --hairpin-mode flag gets dropped. This was not the case in 1.5.

networ

[2018-03-27 05:54] #61593 closed

[2018-03-27 06:05] Anumita commented on #61710
Kubectl version:

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.1", GitCommit:"f38e43b221d08850172a9a4ea785a86a3ffa3b3a", GitTreeState:"clean", BuildDate:"2017-10-11T23:27:35Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"windows/amd64"}

Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.7", GitCommit:"8e1552342355496b62754e61ad5f802a0f3f1fa7", GitTreeStat

[2018-03-27 06:10] #54743 closed

[2018-03-27 06:20] #60178 closed

[2018-03-27 06:57] arkadyark commented on #61695
I see, would there be a way to use nodeName and still have resources be checked? I can re-work my use case to use a nodeSelector, but isn't this a bit of a limitation in what can be done with nodeName?

[2018-03-27 07:21] hamshif opened #61756 "Env From configmap doesn't work on minikube"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
minikube can't process envFrom configmap while GKE can
**What you expected to happen**:
minikube can process envFrom

**How to reproduce it (as minimally and precisely as possible)**:
minikube version: v0.25.1
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: my_app
  labels:
    app: my_app
spec:
  replicas: 1
  sel

[2018-03-27 07:53] kikisdeliveryservice commented on #60946
I ran into this exact same issue on macOS 10.13.3 when I ran "./build/run.sh make test" today.
**Environment**
Client:
 Version:	18.03.0-ce
 API version:	1.37
 Go version:	go1.9.4
 Git commit:	0520e24
 Built:	Wed Mar 21 23:06:22 2018
 OS/Arch:	darwin/amd64
 Experimental:	false
 Orchestrator:	swarm
Server:
 Engine:
  Version:	18.03.0-ce
  API version:	1.37 (minimum version 1.12)
  Go version:	go1.9

[2018-03-27 07:54] soltysh commented on #60403
Yes, duplicate of this and there's also https://github.com/kubernetes/kubernetes/issues/53331 touching this problem from a different perspective, though.

[2018-03-27 07:54] #60403 closed

[2018-03-27 07:55] soltysh commented on #59676
@janetkuo with #61201 merged do you think we can close this one?
@copland || @andor44 are you able to verify if ^ fixes the problem for you?

[2018-03-27 07:58] #60735 closed

[2018-03-27 08:04] cofyc commented on #49793
hi, @msau42 I'm going to work on this.

[2018-03-27 08:09] cakraww commented on #30558
@irvifa doesn't work in cloud builder  :(

[2018-03-27 08:10] orinciog commented on #31307
Hello!

I am also in same situation as @yanhongwang . Can someone answer to our questions, please?

Thank you.

[2018-03-27 08:14] feiskyer commented on #61716
/sig windows

[2018-03-27 08:15] feiskyer commented on #61716
@andreyshamray It needs sometime for kubelet to remove the pod. Could you wait a while and check whether the Pod removed?

[2018-03-27 08:18] k82cn commented on #61695
`nodeSelector` is the solution; if `nodeName` is set, kube-scheduler will ignore it :)

[2018-03-27 08:33] soltysh commented on #43168
Which kubectl version you guys are talking about?

[2018-03-27 08:40] kumudt commented on #49263
This shows that 10256 is listening by kube-proxy
[code]
But, the node events and kube proxy logs shows the same error log.
There are lot of retries on the kube-proxy pod though. Maybe it is trying to collide with it's own process. This is happening on only one of the nodes in our cluster.

[2018-03-27 08:46] andyzhangx opened #61758 "readOnly field does not work in FlexVolume PV"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Below `readOnly` field in flexvolume never works in all k8s versions, the actual `readOnly` will always be `false` even user set `flexVolume.readOnly` as `true`

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2018-03-27 08:58] yanhongwang commented on #31307
Hello @orinciog

By the way, in my case I use baremetal way.
https://github.com/kubernetes/ingress-nginx/blob/master/deploy/README.md#baremetal

All the pod are running without error, but port 80 can't be shown ...
And of course I remove 'hostNetwork' in yaml already.

Hong

[2018-03-27 09:37] ITler commented on #55691
@mcwienczek  Not sure anymore, but as far as I can remember, this was our problem and had nothing to do with k8s.
Double-check, if you really deploy docker registry secret to the correct namespace. Keep in mind, that the login credentials are valid for 24hrs only

[2018-03-27 09:49] chrissound opened #61761 "kubectl cp is very buggy"
`kubectl cp import/mysql/ resize-deployment-5545544bc9-56b6f:/var/lib/`

If I have a `mysql` directory within `import/mysql` directory it copies the contents of `import/mysql/mysql` INSTEAD???

In addition:

kubectl cp ../media nfs-server-72p8m:/exports returns success - but the files are not transferred...

If I add the trailing slash though it works... kubectl cp ../media nfs-server-72p8m:/expor

[2018-03-27 09:51] andreyshamray commented on #61716
Hi @feiskyer  actually I have waited for 1 day, and it is not deleting. Can delete it only using --grace-period=0 --force.  But  I don't want to use this manual approach). Could you pls give some advice on this?
Thanks in advance!

[2018-03-27 09:52] chrissound commented on #61761
kubectl cp import/mysqlold/ resize-deployment-5545544bc9-56b6f:/var/lib/mysql/
error: stat import/mysqlold/mysqlold: no such file or directory

/sig cli

[2018-03-27 09:53] discordianfish commented on #43168
kubectl was most likely 1.8.6. Can this be kubectl version related? Would assume it just sends a DELETE to the api?

[2018-03-27 10:49] jessehu commented on #3920
+1

[2018-03-27 11:08] chrissound commented on #61761
/kind bug

[2018-03-27 11:28] orinciog commented on #31307
@yanhongwang  Thank you very much for your response. This is also my case, running on baremetal, ingress is working on service port, but on port 80 is not listening.

[2018-03-27 11:41] k82cn commented on #61410
`predicates` will guarantee that. If there's only one candidate for nodeSelector/NodeAffinity, kube-scheduler will bind pod to it (if also passing other predicates). This's a valid case for nodeSelector/NodeAffinity :)

Also thinking the new field solution recently, it's just a different way of description to me: `.RequestedNodeName` vs. `NodeAffinity{ hostname in target}`; the other logic are sim

[2018-03-27 11:42] alanchchen commented on #58410
@feiskyer
It says a **Standard SKU** could support **any virtual machine in a single virtual network**, including blend of virtual machines, availability sets, virtual machine scale sets.

Perhaps it's the way to support multiple agent pools?

[2018-03-27 11:52] albamoro opened #61763 "kubelet v.1.10.0 missing from yum repo"
/sig release
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Upgraded kubernetes cluster from 1.9.5 to 1.10.0 successfully, however kubelets can only be updated to 1.9.6 as this is the latest version available in the yum repos.

**What you expected to happen**:
Cluster and kubelets would be in step version-wise

**How to reproduce it (as minimally and precisely as

[2018-03-27 12:03] fgbreel opened #61764 "kubeadm upgrade from 1.9.6 to 1.10.0: converting v1.ConfigMap to v1alpha1.MasterConfiguration: API not present in src"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Upgrading from `1.9.6` to `1.10.0` using `kubeadm` an error is thrown:

[code]

Running `kubectl -n kube-system get cm kubeadm-config -oyaml > kubeconfig.yaml` followed by `kubeadm config upload from-file --config=kubeconfig.yaml` I receive a hint about the issue:

[code]

**What you expected to happen**:
Successfully upg

[2018-03-27 12:06] fgbreel commented on #61764
@kubernetes/sig-cluster-lifecycle-bugs

[2018-03-27 12:10] CaoShuFeng opened #61766 "isolated advanced audit for multi tenants in kubernetes cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

The advanced audit feature has become v1beta1 version now. It's a reasonable feature request for a cluster admin to distribute audit events to tenants.

I have implement a [add-on](https://github.com/CaoShuFeng/k8s-audit-collector) to support this feature. But the community has  expressed some disagreement because it exposes the service

[2018-03-27 12:15] lichuqiang commented on #61766
/sig auth

[2018-03-27 12:19] lichuqiang commented on #61696
/sig node

[2018-03-27 12:28] mlmhl commented on #61758
It seems that this is not a special case for FlexVolume, other volume plugins also ignore `PersistentVolume.Spec.<PersistentVolumeSource>.ReadOnly`.

At present, we allow two approaches to set PVC's `ReadOnly` attribute: specified by `Pod.Spec.Volumes.PersistentVolumeClaim.ReadOnly`, or specified by `PersistentVolume.Spec.<PersistentVolumeSource>.ReadOnly`, but when we try to get the `ReadOnly` at

[2018-03-27 12:34] kad commented on #61629
`localhost` or `127.0.0.1` are not considered as good endpoints for API server and other k8s control plane services. So, control plane uses the real node IP address. So, in NO_PROXY (or no_proxy) variable user should have all ranges that covers node IP addresses (in your case, network from where infbjvm555 and other your nodes) and all the ranges that are used in cluster (pod CIDR, and services CI

[2018-03-27 12:35] athertahir opened #61767 "Allow nobrl parameter like docker to use sqlite over network drive"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 **kind feature**

**What happened**:
I want to use sqlite with azure file as a persistent volume. But when I try to do write operations I get "database is locked"

**What you expected to happen**:
I got the same issue using azure file with sqlite on my local VM but when I passed **nobrl** parameter while mounting it then it worked fine. Docker also a

[2018-03-27 12:36] gopishrk commented on #25012
The overlapping issue disappeared when:
1. Opened ssh session in putty with window size of putty is not maximized
2. Opened docker shell from the above ssh session using command 'docker exec -it <container_name> /bin/bash'
3. Maximized window size of the putty, now the overlapping issue is gone

[2018-03-27 12:57] neliel123 opened #61768 "POD is in PENDING STATE"
I have an init container which runs a java process...it runs in a loop and exits gracefully when all my required preprocessing events are met.
I just noticed that even if my java process completes and the thread is exited... my containers are not booting up and it is still in the PENDING state.

It seems that it is waiting for something from my initcontainer.
Are init containers not capable of run

[2018-03-27 13:39] php-coder opened #61770 "make clean_generated doesn't remove all generated files"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig api-machinery

**What happened**:
[It turned out by the hard way](https://github.com/kubernetes/kubernetes/pull/61608#issuecomment-376208064) that `make clean_generated` doesn't remove all generated files but only those that have `zz_generated` prefix. This is counter intuitive :(

In fact, **there is no way to clean all generated fi

[2018-03-27 13:41] #61020 closed

[2018-03-27 13:48] phsiao commented on #61558
@lavalamp I don't fully agree but I can see your points and I do agree that working around this "limit" is better than trying to make it more robust.

In the situation I have, apiserver can talk to etcd, it just that apiserver's stack did not try or retry the other resolver that is available before declaring failure.

[2018-03-27 13:49] dims commented on #61750
/assign @dims

[2018-03-27 13:55] jpiper commented on #61750
Using the kube-proxy docker image is my current workaround.

[2018-03-27 13:56] afritzler opened #61774 "Kubelet cannot register nodes since hostnames are used as node names on OpenStack"
**Is this a BUG REPORT**:
/kind bug
/sig openstack

**What happened**:
With #58502 an issue has been introduced to the openstack cloudprovider. This leads to a problem when the kubelet tries to get the `ExternalID` of the node.

https://github.com/kubernetes/kubernetes/blob/e3ac40264fa34bac9e4d1c95e56d1d6203554511/pkg/cloudprovider/providers/openstack/openstack.go#L419-L421

I don't see a way how

[2018-03-27 14:07] andyzhangx commented on #61758
@mlmhl thanks, according to your comments, I have figured out the working way to set readOnly as true could only be in pod, like following config:
[code]

It's a little tricky even I have already set readOnly in PV, it does not work

[2018-03-27 14:20] dims commented on #61774
@afritzler can you please try `--hostname-override` as a work around?

[2018-03-27 14:35] andyzhangx commented on #61758
IMO, following logic would be more reasonable, it has respect both pod and PV settings:
[code]

[2018-03-27 14:56] deaquino commented on #55867
@otaviosoares @tslavik How did you restart it?

[2018-03-27 15:05] andyzhangx commented on #61758
@rata

[2018-03-27 15:08] otaviosoares commented on #55867
@deaquino you can use azure dashboard or azure cli

Please note it doesn't solve the issue, just brings the cluster back alive.

[2018-03-27 15:14] afritzler commented on #61774
We tried that already. Didn't help though.

[2018-03-27 15:22] wgordon17 commented on #60217
Hey all, @kubernetes/sig-scheduling-feature-requests, any suggestions on this particular RFE?

[2018-03-27 15:32] rata commented on #61758
@andyzhangx thanks for the answer to: https://github.com/kubernetes/kubernetes/pull/61759#discussion_r177452925 :)

I'd prefer to wait for @saad-ali to comment, as this should probably be consistent across volume types and he has a more wide view of sig storage.

Hopefully he can provide some direction or reasoning, and then we can get the proper patch working easily :)

[2018-03-27 16:02] rramkumar1 commented on #59402
@m1093782566 What do you think about the above proposal?

[2018-03-27 16:20] #7204 closed

[2018-03-27 16:25] lavalamp commented on #61558
Hm, we're just using the standard go http client to do the resolution. Perhaps there are some env vars or os settings it is responsive to? Might be worth investigating. If you can't repro this behavior with a really short go program then maybe there's something to be investigated further here.

[2018-03-27 16:44] khenidak commented on #60646
@wlan0

I think my initial prognosis was incorrect. The way the controller work today is
1. Get all nodes
2. Get all routes `<-- this is where the problem is`
3. For every node check (no route, route points to correct node.PodCidr). if false create *new* route*
4. For every route check ((route is incorrect || black hole-ed) && in cluster cidr). if true *delete*
5. repeat every sync period

As you

[2018-03-27 16:47] #61569 closed

[2018-03-27 16:55] nicksardo commented on #60646
I've been confused about this thread from the start - doesn't Azure already have a cache behind ListRoutes? Which cloud provides are you referring to?

IMO, #2 should happen at some point regardless of caching.

[2018-03-27 17:10] MrHohn commented on #49263
@kumudt  Sounds like you are having a different issue other than just port collision. It would be better to file a new bug (with sig-node?).

[2018-03-27 17:14] moqichenle commented on #50295
Run these commands solved this issue:
`mkdir -p $HOME/.kube
  sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
  sudo chown $(id -u):$(id -g) $HOME/.kube/config`

After running them, kubectl is working.

[2018-03-27 17:19] liggitt commented on #61774
cloud providers are authoritative on node names, and `--hostname-override` does not affect a cloud provider-based node's name, because those names have to be deterministic in the cloud provider code that also runs on the apiserver and in the controller manager, not just in the kubelet (informed by `--hostname-override`)

[2018-03-27 17:20] liggitt commented on #61774
see discussion in https://github.com/kubernetes/kubernetes/pull/58114#discussion_r160840393 for more context

[2018-03-27 17:21] BugRoger commented on #61774
Same problem for us. Our metadata service reports the `hostname` as `xyz.novalocal`. and the name as `xyz`.

The kubelet aborts intial startup with:
[code]

The `--hostname-override` does work initially but get's ignored by `CurrentNodeName` here:
https://github.com/kubernetes/kubernetes/blob/v1.10.0/pkg/cloudprovider/providers/openstack/openstack_instances.go#L58

This just discards the `hostname

[2018-03-27 17:29] BugRoger commented on #61774
Ok, fair enough. Given that #58502 is wrong. The node's name in Openstack is `name` and not `hostname`.

[2018-03-27 17:37] Spittal opened #61780 "Creating a docker registry secret with dry run and output yaml flags doesn't print a valid Kubernetes Secret"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Upgraded Kubectl to version 1.10.0 and now the flag `--dry-run -o yaml` on the creation of a docker-registry secret doesn't print out `Kind: Secret` resulting in the following error:

[code]

**What you expected to happen**:
I expect the output to have a `Kind: Secret` attribute in the YAML output.

**How to reproduce it (

[2018-03-27 17:40] Spittal commented on #61780
@kubernetes/sig-CLI-bug

[2018-03-27 17:44] lavalamp commented on #49027
/remove-lifecycle rotten

[2018-03-27 17:44] dghubble commented on #61750
Looks `--cleanup-ipvs` defaults to true and the ipvs cleanup code calls `ipset`. If you set `--proxy-mode=iptables` it still calls the ipvs cleanup code, perhaps in that case this is noise. But certainly seems like a problem is using ipvs.

[2018-03-27 17:46] Spittal commented on #61780
/sig CLI

[2018-03-27 17:46] saad-ali opened #61781 "CSI E2E test failing on GKE"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The test ` [sig-storage] CSI Volumes [Flaky] Sanity CSI plugin test using hostPath CSI driver should provision storage with a hostPath CSI driver` is consistently failing in https://k8s-testgrid.appspot.com/sig-storage#gke-flaky

The issue is that GKE does not permit E2E framework to create new role, so the creation of r

[2018-03-27 17:54] saad-ali opened #61782 "CSI E2E test occasionally flakes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The CSI E2E test `sig-storage] CSI Volumes [Flaky] Sanity CSI plugin test using hostPath CSI driver should provision storage with a hostPath CSI driver` in https://k8s-testgrid.appspot.com/sig-storage#gce-flaky occasionally flakes with: `PersistentVolumeClaim pvc-dbv9r not in phase Bound within 5m0s`

Examples:

* https:/

[2018-03-27 17:57] xtophs opened #61783 "Kubernetes does not support Azure Standard Load Balancers when provisioning services of type LoadBalancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature
/sig azure

**What happened**:
Azure offers two different kinds of External Load Balancers, Basic and Standard. Differences are documented at: [https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-overview](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-overview)

**What

[2018-03-27 17:57] xandriaw commented on #58217
I'm also getting a similar error on VM trying to join an initiated Master as in t[he tutorial](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/)
Kubernetes v1.9.6
Docker version 18.03.0-ce, build 0520e24

[2018-03-27 18:10] ddehghan commented on #60066
unfortunately i don't have the repro environment anymore. We moved to google GCP to avoid all these issues of setting up a cluster.

[2018-03-27 18:12] irfanjs opened #61784 "Kubernetes : Unable to access deployed service"
Hello,
I have deployed the multi node cluster. one master and another worker. the cluster is working fine. when I deployed the one java service on one of the container in POD, it is not accessible.
these cluster is deployed on the VMs of azure cloud.

as per the doc, I tried accessing the service using NodePort and the external IP. but still not working.
following are the few commands to get the c

[2018-03-27 18:26] deads2k commented on #61748
It looks like `k8s.io/kubernetes/test/integration/deployment.TestDeploymentLabelAdopted` started failing at the same time.  That doesn't use the scaler right?

[2018-03-27 18:26] deads2k commented on #61748
What do the SHAs in https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-integration point to now?  I can't find those SHAs in the kube commit history.

[2018-03-27 18:38] msau42 opened #61785 "Remove alpha annotation for volume node affinity"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
It was deprecated in 1.10.  Can be removed in 1.11.

[2018-03-27 18:43] jhorwit2 opened #61787 "kubectl from cronjob example usage is incorrect"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli
/area kubectl

**What happened**:

[code]

If you try to use `--from-cronjob` though you get an error.

[code]

**What you expected to happen**:

The correct usage is `--from=cronjob/<name>` which is actually used in the example that's output in `--help`

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Try

[2018-03-27 19:05] deads2k commented on #61643
I plan to solve this in openshift using a single configmap and an external orchestrator that can track a separate, long-term state and have a simple consumer process that takes only the config file.  This gives me a layered separation of concerns that permits the config handling to changed at a different cadence than the thing it is managing so that skew management between components is easier.

I

[2018-03-27 19:06] rootfs commented on #59393
@zhangxiaoyu-zidif

[2018-03-27 19:11] titou10titou10 commented on #61764
Same problem on RHEL v7.4, migrating from v1.9.6 to v1.10.0
- Cloud provider or hardware configuration: bare metal
- OS (e.g. from /etc/os-release):
[code]
- uname-a:
`Linux sldops0196 3.10.0-693.21.1.el7.x86_64 #1 SMP Fri Feb 23 18:54:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
k

[2018-03-27 19:47] janetkuo commented on #61748
@krzyzacy any idea what the SHAs point to?

[2018-03-27 19:57] gnufied commented on #61781
Is role binding enough? Does GKE allows creation of service accounts and cluster roles? It does not make sense to create a role binding without corresponding service accounts and cluster roles. So, we are going to need those too right?

If yes - we will have to decide on a service account that will be shared by all CSI plugins?

[2018-03-27 19:59] krzyzacy commented on #61748
I replied on slack https://kubernetes.slack.com/archives/C09QZ4DQB/p1522175481000795

[2018-03-27 20:04] listx commented on #58012
I'm interested in spending some cycles on this as well (I only realized yesterday that some of the core addons that @rvkubiak identified depend on these so-called debian base images). @rphillips: I've taken a look at your prototype but am curious why you decided to use the remote builder and not just plain GCB.

[2018-03-27 20:06] rmorrise commented on #61076
Please make sure the fixed version is available on minikube windows! :heart:

[2018-03-27 20:16] msau42 commented on #61076
@rmorrise you should probably notify minikube maintainers to make sure they update their kubernetes versions.

[2018-03-27 20:21] msau42 commented on #61781
Nit: The issue is not the creation of rolebindings.  It's the creation of roles that doesn't work in GKE at the moment.  The local pv and external provisioner e2e tests are already creating rolebindings.

[2018-03-27 20:55] lmpetrie13 commented on #39178
Any updates on this issue?

I'm dealing with a similar situation... I've got 3 nodes, spread across 2 zones. I've then got a StatefulSet which deploys 3 pods, that have an antiAffinity with each other(so 1 per node). The StatefulSet also provisions one persistent volume per pod. So far every attempt to deploy has resulted in the following Scenario(Or it's reverse)...

Zone A: Node1, Node2, Pod1, P

[2018-03-27 20:58] mtaufen commented on #61643
I'm not sure you actually avoid these problems... don't you just have to solve them (from scratch, ignoring work that has already happened in core k8s) for your new layer of infrastructure?

I don't think we're talking about tracking a full history of config *in* the Kubelet. That's fine to leave up to an orchestrator.

In fact, a major point of Dynamic Kubelet Config is to enable orchestrators by

[2018-03-27 21:09] eugene-dounar opened #61793 "Kubelet has high CPU usage with high number of pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Kubelet uses 70+ CPUs on 128 CPU instance when running 200+ pods

**What you expected to happen**:
Kubelet uses under 10 CPUs

**How to reproduce it (as minimally and precisely as possible)**:
- Use AWS x1.32xlarge instance as Kubernetes node
- Run 250 pods

**Anything else we need to know?**:
We managed to run go pprof an

[2018-03-27 21:11] eugene-dounar commented on #61793
/sig node

[2018-03-27 21:16] eugene-dounar commented on #61793
Our best guess is that cAdvisor starts too much `nice du` and `find` processes, and for some reason forking takes too long.

- Should we try replacing starting `du` process with similar Golang code? Will this be accepted in kubernetes/cadvisor?
- Can we disable this metric? Is it critical for kubelet operation?

[2018-03-27 21:17] eugene-dounar commented on #61793
/area cadvisor
/area kubelet

[2018-03-27 21:32] rajansandeep opened #61794 "Unable to upgrade to v1.10 using kubeadm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When trying to upgrade kubernetes from v1.9.6 to v1.10.0 using kubeadm, it throws a version error and doesn't upgrade.

[code]

**What you expected to happen**:

Successfully upgrade to Kubernetes v1.10.0 via kubeadm

**How to reproduce it (as minimally and precisely as possible)**:

`kubeadm upgrade apply v1.10.0`

**Any

[2018-03-27 21:33] msau42 commented on #39178
There's 2 problems being discussed in this issue:
1) OP, on AWS, volumes are getting provisioned in zones where nodes do not exist.  Let's use this issue to discuss this.
2) Dynamic provisioning is not smart enough to look at pod affinity/anti-affinity policies.  Let's use https://github.com/kubernetes/kubernetes/issues/49906 to discuss that.  Solving that issue is currently under design.

[2018-03-27 21:35] msau42 commented on #54370
Let's use https://github.com/kubernetes/kubernetes/issues/49906 to discuss issue of scheduler and dynamic provisioning coordination.

The original reported problem of StatefulSets not being correctly scheduled in 1.8 alpha clusters has been fixed.
/close

[2018-03-27 21:35] #54370 closed

[2018-03-27 21:35] rajansandeep commented on #61794
/area kubeadm
/sig cluster-lifecycle

[2018-03-27 21:36] msau42 commented on #49906
Design proposal for integrating dynamic provisioning into the scheduler is here: kubernetes/community#1857

[2018-03-27 21:42] msau42 commented on #39178
@gnufied @jsafrane has the first issue been fixed for aws?

[2018-03-27 21:43] mikedanese opened #61795 "admission controller should be able to add private claims to serviceaccount ID tokens"
We need an extension point that can intercept TokenRequests, apply extra validation and add private claims to the provision token. Admission control seems like a reasonable place to extend the TokenRequest API in this way. This is required to support implementation of https://github.com/kubernetes/community/pull/1604 out of tree.

Questions:
1. Is admission control reasonable?
1. If so, how should

[2018-03-27 21:43] ericchiang opened #61796 "client-go credential providers 1.11 umbrella issue"
/sig auth
/kind feature

Work to be done for the "External client-go credential providers" (https://github.com/kubernetes/features/issues/541) feature over the 1.11 release cycle.

(note: this feature will be modified throughout the release)

## Features
- [x] Support for TLS client certs https://github.com/kubernetes/kubernetes/issues/61421 (possibly @awly)
- [x] promote API to v1beta1 https://gi

[2018-03-27 21:49] janetkuo commented on #59676
I'm going to close this, because the symptom looks like a GC controller issue (#60037).
Please feel free to reopen this issue if #61201 does not solve the problem.

[2018-03-27 21:49] #59676 closed

[2018-03-27 21:57] StephanX commented on #39178
@msau42 In my experience, it isn't simply that volumes are provisioned in availability zones where nodes do not exist, but also that pods are scheduled independently from PVs (on statefulset creation), then PVs are created without regard for scheduled pod locations.  Later, if a pod is reaped, there's no guarantee that it will be rescheduled in an AZ that matches the existing PV.

My best effort w

[2018-03-27 22:03] msau42 commented on #39178
@StephanX agree, but because the solutions for the two are completely different, I want to split them out into separate issues and track them separately.

[2018-03-27 22:03] lareeth commented on #61794
Are you using RPMs? They haven't been updated yet, you need to update kubeadm to the same version you want to upgrade to.

Related: https://github.com/kubernetes/kubernetes/issues/61763 https://github.com/kubernetes/release/issues/539

If not, download the latest binaries, and replace kubeadm with the latest version. Once upgraded, then replace the rest of the binaries, such as kubectl and kubelet

[2018-03-27 22:58] mindprince commented on #50658
Do we have any resolution for Scenario B?
@bsalamat @vishh @davidopp @bgrant0607 Should I add scheduler predicates that keep such pods as pending till the resource shows up on the node?

[2018-03-27 23:37] msau42 commented on #49793
/assign @cofyc

[2018-03-27 23:41] mkleint commented on #27000
Any update on this issue? Will pod support iops and bps option as docker?

[2018-03-28 00:20] neyz commented on #61764
I have the same error message from a fresh 1.9.6 to 1.10.0 on CoreOS

OS:
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1632.3.0
VERSION_ID=1632.3.0
BUILD_ID=2018-02-14-0338
PRETTY_NAME="Container Linux by CoreOS 1632.3.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://issues.coreos.com"
COREOS_BOARD="amd64-usr"

uname -a :
Linux k801 4.14.19-coreos #1 S

[2018-03-28 00:26] zhangxiaoyu-zidif commented on #59393
OK, let me see it ,and feedback soon. =)

[2018-03-28 00:35] mtaufen commented on #61662
/status approved-for-milestone

[2018-03-28 00:36] zhangxiaoyu-zidif commented on #59393
@larryck  Hi, one question is that do you use 'admin' as user or other user to mount cephfs by fuse ?

[2018-03-28 00:38] danlenar opened #61801 "Containerized kubelet won't start pods with host path volumes that contains type field"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Containerized kubelet running with the containerized flag can't start any pods with host path volumes that contains the type field such as DirectoryOrCreate

[code]

Stracing the kubelet revealed that stat from nsenter_mount.go returned unrecognized option

Actual:
[code]
Expected:
[code]

**Environment**:
- Kubernetes v

[2018-03-28 00:42] mtaufen commented on #61675
I need to know more about how this works to think through whether it makes sense in `--config` or `--instance-config`...

[2018-03-28 00:44] mtaufen commented on #61681
@yujuhong you were working on checkpointing, right?

[2018-03-28 00:45] dashpole commented on #61667
To be clear, you are saying we need to add a feature gate, and remove the flag, right?

[2018-03-28 00:48] liggitt commented on #61801
/sig storage

[2018-03-28 00:52] liggitt commented on #61780
cc @deads2k @juanvallejo

[2018-03-28 00:56] liggitt commented on #61764
from the 1.10 release notes:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md#before-upgrading

[code]

[2018-03-28 00:59] liggitt commented on #61764
changed in https://github.com/kubernetes/kubernetes/pull/57962

@kubernetes/sig-cluster-lifecycle-bugs is kubeadm persisting alpha configuration types?

[2018-03-28 01:00] liggitt commented on #61796
/priority important-longterm

[2018-03-28 01:02] dims commented on #61801
cc @dixudx Di Xu looks like `GetFileType` was introduced here - https://github.com/kubernetes/kubernetes/commit/57ead4898b850037c9544e034a5e5cc8420990ad - and the `stat` on centos does not support it

[2018-03-28 01:25] zhangxiaoyu-zidif commented on #59393
https://github.com/kubernetes/kubernetes/blob/c8841cea3092f0ef05d85b8686e552c93a040ec8/pkg/volume/cephfs/cephfs.go#L125

when no "--id" specified, the default user is admin, which will result in bug when user is not admin.

[2018-03-28 01:43] faraazkhan commented on #60828
Also just looking through the code, it seems that while we sync various things like subnets, listeners etc. on the ELBs, when it comes to tags, we are always simply adding additional tags: https://github.com/kubernetes/kubernetes/blob/eff07b6f555b6b5ef124a50c37be7a632e11c2ba/pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L1149. Add to that the fact that the ELB interface does not even referen

[2018-03-28 01:50] berlinsaint commented on #61764
use `kubectl -n kube-system edit cm kubeadm-config`
and edit the ：
![image](https://user-images.githubusercontent.com/10629930/38004132-7acd4688-326d-11e8-9073-d1da181539da.png)
save  and upgrade

[2018-03-28 01:59] alexef opened #61805 "Cannot update cronjob from within pod (NotAcceptable 406 error)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When calling `kubectl apply -f cronjob.yml` from within a pod (even with the admin service account attached to it), I get back a 406 NotAcceptable:

[code]

**What you expected to happen**:

I would expect the cronjob to be created/updated. Running kubectl apply manually, on my local machine, with the same manifest and t

[2018-03-28 02:01] feiskyer commented on #58410
@alanchchen Yep, I'm planning to add Standard SKU LB in v1.11 release

[2018-03-28 02:07] feiskyer commented on #61716
[here](https://github.com/feiskyer/kubernetes-handbook/blob/master/en/troubleshooting/pod.md#pod-stuck-in-terminating-or-unknown) is a reference to this issue. Checking kubelet logs will always help to troubleshoot such problem.

[2018-03-28 02:07] liggitt commented on #61795
extra validation is easy. private claims are tricky

anything you want an admission plugin to add into the object must be in the API, and will be indistinguishable from data submitted by the user once the object makes it into the REST handler.

[2018-03-28 02:07] xiangpengzhao commented on #61764
@liggitt what's our generic policy for API compatibility in such case? I guess I should have made the change compatible :)

[2018-03-28 02:12] liggitt commented on #61764
alpha-level APIs carry a 0-release compatibility guarantee (see https://kubernetes.io/docs/reference/deprecation-policy/)

kubeadm should not be persisting/using alpha data by default without making it clear that a configuration that may not be supported in the next release is being used

[2018-03-28 02:15] mengqiy commented on #59581
Looks like the problem has been resolved :)
/close

[2018-03-28 02:15] #59581 closed

[2018-03-28 02:26] zouyee commented on #61629
/area kubeadm

[2018-03-28 02:30] #54295 closed

[2018-03-28 02:43] hzxuzhonghu opened #61807 "It's time to remove ObjectMeta and *Options in core api"
https://github.com/kubernetes/kubernetes/pull/39709 has moved ObjectMeta  to meta/v1 and mark it deprecated in core api.
https://github.com/kubernetes/kubernetes/pull/40344 has moved ListOptions DeleteOptions to meta/v1 and mark it deprecated in core api.

So should remove it from core api group.

/sig api-machinery

[2018-03-28 02:44] hzxuzhonghu commented on #61807
@kubernetes/sig-api-machinery-misc

[2018-03-28 02:51] Lion-Wei commented on #12668
@mengqiy Sorry I'm not understand, what is this issue talking about, : (
Can we fix it?

[2018-03-28 03:05] liggitt commented on #61780
/status approved-for-milestone

[2018-03-28 03:25] macroxmu opened #61812 "kubernetes apiserver is not running"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind support

**What happened**:
after i init the cluster, and create rc successfully, while i create service, the kubernetes would fail
**What you expected to happen**:
create service successfully
**How to reproduce it (as minimally and precisely as possible)**:
`[root@localhost ~]# kubectl create -f ~/kuber/mysql-svc.yaml

Unable to connect to the s

[2018-03-28 03:27] dixudx commented on #61801
@danlenar Thanks for finding and fixing this bug. Good job.

Our CI did not fully cover the testing for containerized kubelet. Sorry for involving this issue.

[2018-03-28 03:46] mengqiy commented on #61484
ETA is this week. Maybe tomorrow :)

[2018-03-28 04:32] #47500 closed

[2018-03-28 04:59] aranyaka commented on #61646
@kubernetes/sig-cli-bugs
/sig cli

[2018-03-28 05:07] wenlxie opened #61813 "PVC level anti-affinity for local volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Now we use local volume feature. Our BM has 2 disks (`sdb` and `sdc`), each disk has 5 partitions.
For each partition, we create a local pv for it. We have two kind of pod, `A` has many write operation and `B` has many read operations. We don't want  `A` kind  pods bind to  the  PV which located at  the same disk like `sdb`. So each

[2018-03-28 05:19] krmayankk commented on #49793
@msau42 @cofyc in my thinking , its premature to do caching until we have some numbers to say its hurting. What is the number of mount points typically beyond which this starts hurting

[2018-03-28 05:25] jpiper commented on #61750
@dghubble In this case, I'm not using ipset, but it seems like the ipset binary should be in hyperkube. It's odd that it's in the `kube-proxy` docker image but not `hyperkube`

[2018-03-28 05:55] kmova commented on #58569
Thanks @msau42 for the very detailed response. It helped me to make my choice. I am currently exploring the option 1 suggested above to expose the device directory. Making some progress with getting this implemented in a generic way. https://github.com/openebs/node-disk-manager/pull/1

[2018-03-28 05:59] prabhamanu commented on #38178
@bigfreeZhou  May I know the name of the service ?

[2018-03-28 06:09] CaoShuFeng commented on #61812
Can you provide the output of these two command:
$ kubectl get rc -v=9
$ kubectl create -f ~/kuber/mysql-svc.yaml -v=9

[2018-03-28 06:19] macroxmu commented on #61812
[root@localhost ~]# kubectl get rc -v=9
I0328 14:15:56.499055   10213 loader.go:357] Config loaded from file /etc/kubernetes/admin.conf
I0328 14:15:58.549731   10213 round_trippers.go:417] curl -k -v -XGET  -H "Accept: application/json, */*" -H "User-Agent: kubectl/v1.9.5 (linux/amd64) kubernetes/f01a2bf" https://192.168.88.129:6443/api
I0328 14:16:09.366800   10213 round_trippers.go:436] GET http

[2018-03-28 06:28] CaoShuFeng commented on #61812
/sig network

[2018-03-28 06:31] myqq0000 opened #61815 "After ‘kubeadm init’ successfully a little while, images be cleaned up and the service stop"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After ‘kubeadm init’ a little while, images disappear (And I found it be free by kubelet...)
**What you expected to happen**:
kubernetes init successfully
**How to reproduce it (as minimally and precisely as possible)**:
`kubeadm init --pod-network-cidr=192.168.0.0/16`

**Anything else we need to know?**:
After 'kubeadm in

[2018-03-28 06:38] ConnorDoyle commented on #50658
@mindprince could it be rolled into the existing PodFitsResources predicate?

A related, but possibly separate issue is that although the first class resources like “memory” are explained in the docs as implicitly in the kubernetes.io domain, asking for “kubernetes.io/memory” doesn’t work.

[2018-03-28 06:40] farooqsap commented on #48798
Thanks setenforce 0  worked for me.

[2018-03-28 06:44] krmayankk commented on #61654
@mtaufen is it not possible to create one issue with all of these related migrate things ?

[2018-03-28 06:44] mindprince commented on #50658
Oh yeah, it would definitely be in `PodFitsResources` predicate.

[2018-03-28 06:46] voelzmo commented on #61774
See the original bug https://github.com/kubernetes/kubernetes/issues/57765 for some context why the switch was done from `name` to something else. I agree that this something else should not have been `hostname`, as the reverse lookup (finding a server given a certain hostname) seems to be hard in the nova API.

Best next option, imho: using UUID instead.

[2018-03-28 06:50] wackxu commented on #61785
I can help fix it

[2018-03-28 06:57] afritzler commented on #61774
A quick fix by @dims has just been merged here #61000. This should do the trick for now.

WDYT about @voelzmo idea of using UUIDs as the NodeName. Nasty output, but no worries about duplicate or invalide instance names.

[2018-03-28 07:06] spronin-aurea commented on #61793
I have the same issue with kubelet. It ends up with the following errors:
[code]

[2018-03-28 07:07] CaoShuFeng commented on #61805
I can't reproduce this.

Can you provide content of the `cronjob.yml`?

[2018-03-28 07:08] pacoxu commented on #57137
similar issue

POD status is "Failed" and then "Terminating", but cannot be removed util manually remove it.

[2018-03-28 07:09] krmayankk commented on #60619
/assign @krmayankk

[2018-03-28 07:10] krmayankk commented on #60619
/unassign @dixudx

[2018-03-28 07:11] krmayankk commented on #60619
i will make a PR for this next week. Internally we already haven this check enabled when deploying statefulsets

[2018-03-28 07:15] macroxmu commented on #61812
the api server seems crash, how can I find the log of api server?
That may can find the reason.

[2018-03-28 07:45] WanLinghao commented on #61761
track

[2018-03-28 07:49] CaoShuFeng commented on #61787
/close
closed by https://github.com/kubernetes/kubernetes/pull/61219

[2018-03-28 07:49] #61787 closed

[2018-03-28 07:55] CaoShuFeng commented on #61812
That depends on how the cluster is deployed.
Maybe `journalctl -u kube-apiserver`

[2018-03-28 07:56] wenlxie commented on #61813
／sig storage

[2018-03-28 08:21] myqq0000 commented on #60884
+1

[2018-03-28 08:25] alexef commented on #61805
Any content, for instance:

[code]

[2018-03-28 08:32] tanshanshan commented on #61768
Can you paste

 result?

[2018-03-28 08:34] #55416 closed

[2018-03-28 08:35] CaoShuFeng commented on #61805
Will it work after adding apiversion to it?
[code]

[2018-03-28 09:12] k82cn commented on #50658
Just have a quick check: `Scenario A:` is handled by the recent master; for the `Scenario B:`, the resource begin with `kubernetes.io/` is ignored by `IsScalarResourceName()` -> `IsExtendedResourceName()` when getting pod request. @ConnorDoyle , any background for that?

[2018-03-28 09:16] andyzhangx opened #61821 "Add raw block device support for azure disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/raw-block-pv.md
https://github.com/kubernetes/features/issues/351

**What you expected to happen**:
I will try to implement this feature for azure disk in v1.11
@jdumars @khenidak

**How to reproduce it (as minimally and precisely

[2018-03-28 09:17] linyouchong opened #61823 "GlusterFS dynamic provisioning problem in a IPv6 cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. Start a kubernetes cluster, gluster clusters and heketi over ipv6
2. Create a storageclass that use the heketi service ,its name is `gluster-heketi`
3. Create a pvc named `myclaim` ,the storageClassName is `gluster-heketi`
4. Wait for a while, a pv named `pvc-0b096382-31b5-11e8-8991-525400f66312` and a endpoint named `

[2018-03-28 09:18] andyzhangx commented on #61821
Actually there would be a new task for Windows support for Raw device, I will investigate that later.

[2018-03-28 09:25] tianshapjq opened #61826 "/configz doesn't work in 1.10"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
according to the [Reconfigure a Node's Kubelet in a Live Cluster](https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/) page, we can use /configz to fetch the whole config of kubelet. The question is, this API just reports 404 in 1.10 release which works fine in 1.8 in my setup.

**What you expected t

[2018-03-28 09:27] tianshapjq commented on #61826
appreciate if anyone can try the /configz API and feedback :)

[2018-03-28 09:28] alexef commented on #61805
@CaoShuFeng sorry, wrong formatting (I updated my previous comment now), apiVersion is already there, it makes no difference.

[2018-03-28 09:30] alexef commented on #61805
Also adding service account and clusterrole:

[code]

[code]

[2018-03-28 09:37] wackxu commented on #61813
/cc

[2018-03-28 09:39] CaoShuFeng commented on #61805
Hi, can your service account access some nonResourceURLs like `swagger-2.0.0.pb-v1` and `openapi/v2` ?

We can use "kubectl apply -f xxx.yml -v=9" to see the debug info

[2018-03-28 09:53] shyamjvs commented on #53455
@crassirostris @loburm Can we turn back on the audit tests on large-scale now?

[2018-03-28 10:00] zhangxiaoyu-zidif commented on #59393
/assign

[2018-03-28 10:25] ichiaohsu commented on #44559
I don't like the answer but it seems right.

I have an app called talk so naturally I named corresponding service "talk" for it.
I did get the error "Pipe tcp://10.0.0.1:5000 requires elevated privileges" and
"Error: listen EACCES tcp://10.0.0.1:5000"

When I change the service from "talk" to "talk-svc", the problem solved. I cannot explain either.

[2018-03-28 10:32] abhijeetab07 opened #61831 "Liveness probe http-get URL redirection(302) does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  The liveness probe configured doesn't support redirection of URL, error says "failed after 10 redirects" and restarts the container, when hit manually the same URL works fine i.e. first 302 then 200 status code. Although the documentation says status code 200 to 400 is supported. Is there a provision or a configurable pa

[2018-03-28 10:36] vistalba commented on #61764
Is the change suggested by @berlinsaint a permanent solution or do I have to do some chenages to be safe for the future?

[2018-03-28 10:38] #40997 closed

[2018-03-28 10:51] crassirostris commented on #53455
@shyamjvs Nope, this feature is a pre-requisite for enabling audit tests on large scale

/remove-lifecycle stale

[2018-03-28 11:06] abhijeetab07 commented on #61831
/sig kubectl

[2018-03-28 11:41] orainxiong opened #61832 "On master-node partition failure happens, statefulset's constituent pods cause data corruption"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Statefulset Controller can’t ensure pod replicas during master-node partition failure and causes data corruption.

The general sequence of events as below :

- Master-Node partition failure happens(maybe network failure);
- NodeLifecycleController is able to detect the unreachable node and evict the pods(just update API) for the nod

[2018-03-28 11:41] orainxiong commented on #61832
assign sig/apps
assign sig/storage

[2018-03-28 12:07] phsiao commented on #61826
Can you verify if the feature gate is enabled?

[2018-03-28 12:26] hanisami opened #61834 "Device as master and worker in Kubeadm"
/kind feature /sig node
Are we able while building custom Kubeadm clusters to use a device as a master node in one cluster and a worker in another?

[2018-03-28 12:33] CaoShuFeng commented on #61805
*Maybe* related to this patch:

https://github.com/kubernetes/kubernetes/pull/59293

[2018-03-28 12:38] CaoShuFeng commented on #61805
This change just fix the error message:
https://github.com/kubernetes/kubernetes/pull/61835

[2018-03-28 12:42] deads2k commented on #61807
heapster has consistently been a black sheep.  Can you search their repo to make sure they've stopped using it?

[2018-03-28 12:42] deads2k commented on #61807
@smarterclayton ready for this?

[2018-03-28 12:58] php-coder commented on #61599
The current state: @marrrvin is going to prepare PR for that.

Assigning to myself, because I can't assign it to Sergey directly.

/assign

[2018-03-28 13:18] avoidik commented on #50421
@jianglingxia in a case with multiple pods in one node, how did you managed scheduling to single node only?

[2018-03-28 13:26] deads2k commented on #61643
By creating a separate component that uses an existing configapi with our normal API guarantees, then a single version of the orchestrating process can easily manage multiple skewed levels of the base process.  This allows us to update the orchestration process out of band and only have a single level of the orchestration process so that you don't have to keep multiple API behaviors between three

[2018-03-28 13:31] amouat commented on #61572
I just stumbled on this issue, as I need to programatically retrieve the k8s CA cert. A simple command would make a lot of sense to me as well.

[2018-03-28 13:37] discordianfish commented on #47543
/remove-lifecycle stale
/lifecycle freeze

I'm so close writing a bot-bot unstaling these..

[2018-03-28 13:53] andreyshamray commented on #61716
Actually, I have attached kubelet log in the ticket and think the main reason is `failed to read pod IP from plugin/docker: Couldn't find network status for default/windows-IIS-container`
Also as there any option for kubelet to automatically force delete Terminating pods after some period?
And --containerized is also not solving my issue.
Thanks!

[2018-03-28 14:05] mtaufen commented on #61667
You need to add a feature gate and move it to the config API group OR
remove the flag.

On Tue, Mar 27, 2018, 5:46 PM David Ashpole <notifications@github.com>
wrote:

[2018-03-28 14:06] sethvargo commented on #61572
@amouat OMG hi! I'm not sure how to get this reopened for additional opinions. I agree that the dependency on `openssl` and `sed` is annoying (less mention not cross-system compatible)

[2018-03-28 14:07] mtaufen commented on #61654
I'd rather not track 30 parallel conversations in a single thread...

On Tue, Mar 27, 2018, 11:45 PM krmayankk <notifications@github.com> wrote:

[2018-03-28 14:07] amouat commented on #61572
Hey, I deleted my previous attempt as I wasn't getting the public key. Here's the correct version:

`openssl s_client -connect 23.251.141.119:443 2>&1 </dev/null | openssl x509 -pubkey -noout`

Again, annoying dep on openssl, but at least sed is gone.

[2018-03-28 14:24] juanvallejo commented on #61780
/assign

[2018-03-28 14:37] juanvallejo commented on #61780
@soltysh fyi

[2018-03-28 14:42] gnufied opened #61837 "Length of tmpdir set by bazel-tests are too long"
I noticed while trying to backport https://github.com/kubernetes/kubernetes/pull/61722 . The bazel unit test is failing because default tmpdir is `/root/.cache/bazel/_bazel_root/e9f728bbd90b3fba632eb31b20e1dacd/bazel-sandbox/8749598038616657393/execroot/__main__/tmp/` which is already 120 character long, whereas maximum path limit for unix sockets is 108 chars.

Not sure if anyone has been bit by

[2018-03-28 14:44] juanvallejo commented on #61780
The issue appears to be with the `kubectl replace` command, not with `kubectl create secret`:

[code]

Will look into this

[2018-03-28 14:44] liggitt commented on #61780
@juanvallejo fix is in #61808

[2018-03-28 14:45] liggitt commented on #61780
No, the output of `create secret` is missing kind/apiVersion.

[2018-03-28 14:46] juanvallejo commented on #61780
@liggitt thanks, just saw the PR

[2018-03-28 14:47] theonlydoo commented on #58805
also in 1.10

[2018-03-28 14:50] liggitt commented on #61557
/sig cli
/kind bug

[2018-03-28 14:52] theonlydoo commented on #58805
nb there is a pseudo template here :

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server_test.go#L174-L213

[2018-03-28 15:12] gnufied commented on #61837
/sig storage

[2018-03-28 15:14] liggitt commented on #9620
duplicate of https://github.com/kubernetes/kubernetes/issues/18787

/close

[2018-03-28 15:14] #9620 closed

[2018-03-28 15:17] kad commented on #61629
@qq9338745 so, if after adjusting your environment kubeadm installs the cluster, can we close this issue ?

[2018-03-28 15:18] praparn opened #61839 "Pod on K8S V1.9 with PV/PVC (NFS) can override storage limit request"
According to initial NFS share storage map with Persistence Volume (PV) and Persistence Volume Claim (PVC). We found that we can override storage limit that specific on PVC to use entire space on NFS

**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG Report
/kind bug

**Environment Information***
NAME           ZONE          MACHINE_TYPE   PREEMPTIBLE  INTERNAL_IP       STATUS
kubernetes-1   asia-

[2018-03-28 15:19] dims commented on #56876
/reopen

[2018-03-28 15:23] smarterclayton commented on #61807
I have been waiting for this my entire Kubernetes life.

[2018-03-28 15:44] golonzovsky commented on #57187
Would be very useful for container debug.

We move pod, which ended up being in inconsistent state, away from a service using relabeling, and then debugging is really hard without disabling liveness check.

[2018-03-28 15:50] mgdevstack commented on #53333
I came across the same issue while creating a multinode cluster from Kubernetes Source with `${DIND_PATH}/dind-cluster.sh up`.
I'm using Docker-Machine VM
If VM's swap is enabled we face error like -
[code]

	- The kubelet is not running
	- The kubelet is unhealthy due to a misconfiguration of the node in some way (required cgroups disabled)

If we disable swap with ```sudo swapoff -a``` Kubernete

[2018-03-28 15:52] Stono commented on #51835
Also hitting this problem on GKE 1.9.4-gke.1 like @Tapppi - the pods were removed from the docker daemon on the host node but kubernetes had it stuck in `TERMINATING`

[code]

[2018-03-28 15:52] gnufied commented on #61837
Closing for now. Looks like something we can workaround most of the time.

[2018-03-28 15:52] #61837 closed

[2018-03-28 16:15] lavalamp commented on #61572
Can you give an example system which has an API to retrieve its root CA?

[2018-03-28 16:20] lavalamp commented on #61572
Honestly I don't see how you're going to convince me a new API is necessary, but I'll reopen so you can try :)

If the openssl command line is too much headache this can certainly be written in a go program which would work on any HTTPS endpoint. This stuff is sent over every SSL connection, I'm not seeing what value a separate API would add.

[2018-03-28 16:27] mtaufen commented on #61643
Can you clarify what you mean by "multiple skewed levels of the base process?"

What are the three levels?

I wasn't really sure what context to wrap this with. Are you building this in Kubernetes or outside of Kubernetes? How does it interact with each node?

Ok, sg.

Regarding all the orchestration pieces; I think we're in general agreement that a controller needs to make higher-level decisions

[2018-03-28 16:28] sokoow commented on #51835
For us something new just happened a moment ago, when I forcibly removed a stuck pod using ```kubectl delete pod NAME --grace-period=0 --force```, the node that this pod was on just went into unhealthy. We're running docker 17-12CE, and restarting docker deamon on that box helped and uncorked the node.

[2018-03-28 16:33] hixichen commented on #53333
@mgdevstack  I am not familiar with your work scenario.
But would like to help.
https://github.com/docker/for-linux/issues/219
one direction you may want to check is the docker version.

[2018-03-28 16:36] jiayingz commented on #50658
@k82cn Extended resource is defined as resources not in the default kubernetes.io domain.

I think the question @mindprince was asking is if we implement the change on PodFitsResources to cover Scenario B, i.e., if a pod requests a non-existing resource in the kubernetes.io domain we will keep it pending, do people see any problems on this change? Also, if we implement this change, do we need to d

[2018-03-28 16:39] #61748 closed

[2018-03-28 16:39] #61780 closed

[2018-03-28 16:39] #61433 closed

[2018-03-28 16:44] cyphar commented on #58512
Ideally we would add a CRI method that allows the kubelet (and thus Kubernetes) to fetch the stream of an archive of a given path inside a container and to extract a stream of an archive to a path inside a container -- so that `cri-o` could support this improved `kubectl cp` just as well.

It should be noted though that (in my experience) the semantics of "what path to output to" (especially for s

[2018-03-28 16:44] #54760 closed

[2018-03-28 16:52] msau42 commented on #51835
For folks seeing this issue on 1.9.4-gke.1, it is most likely due to https://github.com/kubernetes/kubernetes/issues/61178, which is fixed in 1.9.5 and is being rolled out in GKE this week.   The issue is related to the cleanup of subpath mounts of a file (not a directory).  @zackify @nodefactory-bk @Tapppi @Stono

IIUC, the original problem in this bug is related to configuration of containerized

[2018-03-28 17:12] saad-ali commented on #61782
@lpabon says this may be due to https://github.com/kubernetes-csi/external-provisioner/issues/63

Once that is fixed we can check if this test goes green to verify.

[2018-03-28 17:13] msau42 opened #61843 "Add subpath e2e tests to cover regressions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
Make sure there's an e2e test for each regression we find.

PR: https://github.com/kubernetes/kubernetes/pull/61371

[2018-03-28 17:16] kad commented on #53333
@mgdevstack please file separate issue for `${DIND_PATH}/dind-cluster.sh`

[2018-03-28 17:33] AishSundar commented on #50064
This issue has resurfaced again and is one of the top flake currently. Here's the TestGrid link which will lead to Gubernator for detailed logs

https://k8s-testgrid.appspot.com/sig-storage#gce&include-filter-by-regex=Volumes%20PD%20should%20be%20mountable%20with

Please work on finding a fix for the flakes

/reopen
/priority failing-test
/priority important-soon

[2018-03-28 17:35] gnufied opened #61844 "subpath socket tests can flake because of long paths"
Subpath unix socket tests can flake because of long socket path. On Linux the path limit should be 108 chars or less.

/sig storage

[2018-03-28 17:36] janetkuo commented on #61748
I verified that `test-cmd.run_deployment_tests` is green again after the fix got merged. Thanks @deads2k!

[2018-03-28 17:43] AishSundar opened #61845 "Flaky Tests : [sig-storage] Volumes PD should be mountable with ext3 and [sig-storage] Volumes PD should be mountable with ext3"
## Flaky Job:
### pr:pull-kubernetes-e2e-gce
Consistency: 86.6%

## Flakiest tests:
* [sig-storage] Volumes PD should be mountable with ext3
Flakes in the past week: 14

* [sig-storage] Volumes PD should be mountable with ext4
Flakes in the past week: 22

This issue has resurfaced again and is one of the top flake currently. Here's the TestGrid link which will lead to Gubernator for detailed logs

[2018-03-28 17:44] janetkuo commented on #57641
Dup with #11505. Closing. Please check/join the discussions there.

[2018-03-28 17:44] #57641 closed

[2018-03-28 17:48] razor-x commented on #50612
Is there any current to do this via env vars or otherwise?

[2018-03-28 17:52] AishSundar opened #61846 "Flaky Test: [sig-api-machinery] Watchers should observe add, update, and delete events on pods"
## Flaky Job:
### pr:pull-kubernetes-e2e-gce
[Consistency: 86.6%](http://storage.googleapis.com/k8s-metrics/flakes-daily-latest.json)

## Flaky test:
### [sig-api-machinery] Watchers should observe add, update, and delete events on pods
[Flakes in the past week: 12](http://storage.googleapis.com/k8s-metrics/flakes-latest.json)

### TestGrid link which will lead to Gubernator for detailed logs

htt

[2018-03-28 17:56] razor-x commented on #56402
Would love to see kubernetes make it to this list https://wiki.archlinux.org/index.php/XDG_Base_Directory_support

[2018-03-28 17:57] sethvargo commented on #61572
Hey @lavalamp - thank you for reopening 😄

Here are the ones I can think of off the top of my head:

- [Vault](https://www.vaultproject.io/api/secret/pki/index.html#read-ca-certificate) provides it's own CA and CAs for any PKI infra it's managing
- [Google](https://pki.goog/roots.pem), specifically after the [change to the Google Maps API root CAs](https://developers.google.com/maps/root-ca-faq)
-

[2018-03-28 18:01] liggitt commented on #61572
That is an API that is inherently insecure (if you need it, you don't have the information you need to make it secure), and not one I'd support.

[2018-03-28 18:05] sethvargo commented on #61572
A colleague brought it to my attention that the K8S API server might not know it's TLS configuration actually. It could be running behind an LB or multiple LBs doing termination.

[2018-03-28 18:09] davidz627 commented on #57491
bump

[2018-03-28 18:10] davidz627 commented on #61781
/assign

[2018-03-28 18:10] bsalamat commented on #50658
I also think that we should add the check for kubernetes.io resources to the scheduler's PodFitsResources predicate. We should probably make cpu and memory aliases for kubernetes.io/cpu and kubernetes.io/memory as well.
AFAIK, this change should not cause any backward compatibility.

[2018-03-28 18:11] tallclair commented on #61766
This feature has some overlap with https://github.com/kubernetes/kubernetes/issues/53455, which could build in support for filtering (and authorizing) the event stream by namespace.

[2018-03-28 18:13] mindprince commented on #50658
Cool. I will send a PR to do that.

[2018-03-28 18:13] mindprince commented on #50658
/assign

[2018-03-28 18:14] davidz627 commented on #61781
Looks like cluster role creation is failing. The good news is that this is the cluster role required for the Kubernetes CSI External Components (attacher and provisioner) which share this cluster role. These are standard components and are shared among all existing deployments for CSI Drivers.

Therefore we should be able to add a predefined cluster-role for these components. We will remove the cr

[2018-03-28 18:37] saad-ali commented on #61845
Looks like it became flaky between 3/15 and 3/16

[2018-03-28 18:43] gnufied commented on #61845
The most likely reason of this flake is - https://github.com/kubernetes/kubernetes/pull/61071 since it contains a change which will prevent deletion of pods, if volume was not unmounted.

It is likely that - volume unmount issue was always there and we just had it masked because pod was getting deleted anyways. We need to find out, why volume is not getting unmounted.

[2018-03-28 18:43] ConnorDoyle commented on #50658
My main concern with that is vetting all the code that inspects container resource requests and limits, both in core and in the larger ecosystem.

I think it would help to enforce a canonical representation and always store that. Since to date it hasn’t been possible to use fully-qualified first class resources maybe it’s best to say, the domain is always implicit for kubernetes.io? On the other h

[2018-03-28 18:43] gnufied commented on #61845
/assign

[2018-03-28 18:48] gnufied commented on #61845
/unassign
/assign @jingxu97

[2018-03-28 18:51] jiayingz commented on #50658
cc @liggitt

[2018-03-28 18:55] yujuhong opened #61854 "Flaky tests: k8s.io/kubernetes/test/integration/ipamperf TestPerformance/RangeAllocator-KubeQPS10-Nodes10"
The new test (introduced by #61143) seems to be quite flaky.

Example failures:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61432/pull-kubernetes-integration/4240/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61848/pull-kubernetes-integration/4250/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61042/pull-kubernetes

[2018-03-28 18:56] jingxu97 commented on #61845
From the log, I think the issue is https://github.com/kubernetes/kubernetes/issues/61248. I have a PR to fix this https://github.com/kubernetes/kubernetes/pull/61549

[2018-03-28 18:58] amouat commented on #61572
It turns out I didn't actually need it for what I was doing, but some use cases would be served by just putting it in a config-map or secret. I note that there are similar stuff in kube-system secrets. This wouldn't be insecure as it would be using kubectl which has already been configured to use the cluster, it would just be a convenience method.

[2018-03-28 19:09] satyasm commented on #61854
It does connect to etcd and does a fair amount of node additions and
deletions. Most of the times I've looked at the error, it seems to be at
the startup when connecting to etcd. Is there a way to retain this
capability so we  can continue to check on demand but not necessarily run
every time?

On Wed, Mar 28, 2018, 11:56 AM Yu-Ju Hong <notifications@github.com> wrote:

[2018-03-28 19:29] jennybuckley commented on #61846
/assign

[2018-03-28 19:34] jennybuckley commented on #61846
I think this was fixed by #61494

[2018-03-28 19:45] satyasm commented on #61854
The error in 60142 has already been fixed, if you notice https://github.com/kubernetes/kubernetes/blob/master/test/integration/ipamperf/cloud.go#L135, we now have a lock and it should not be happening now.

For the rest, the error is in the startup itself, namely, https://github.com/kubernetes/kubernetes/blob/master/test/integration/ipamperf/main_test.go#L31, which is starting the framework connec

[2018-03-28 19:51] bsalamat commented on #56993
/remove-lifecycle stale

[2018-03-28 20:31] Overv commented on #61805
@CaoShuFeng That error message does not appear to be relevant to this issue. The patch you refer to, however, does seem to be related.

[2018-03-28 20:33] molerus opened #61856 "Pod anti-affinity doesn't work properly"
/kind bug

**What happened**:
The pods that are set to be mutually exclusive on a node are still run together. There seems to be a race condition.

**What you expected to happen**:
Only one pod with given label should be scheduled on the given node at given time.

**How to reproduce it (as minimally and precisely as possible)**:
I'm running a cluster of 300 nodes and I created 1000 pods in quick s

[2018-03-28 20:44] bsalamat commented on #59679
This issue is addressed.

[2018-03-28 20:44] #59679 closed

[2018-03-28 20:48] rajatjindal opened #61857 "feature: allow execAuth to trigger external auth command if user provided token has expired"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I had execAuth enabled in kubeconfig file and also had an expired token for same 'authinfo' user. The command `kubectl get pods` returned `error: You must be logged in to the server (Unauthorized)`

**What you expected to happen**:

I was hoping the execAuth will use the available token, and because it had already exp

[2018-03-28 20:52] #55520 closed

[2018-03-28 20:52] #43515 closed

[2018-03-28 20:52] #61356 closed

[2018-03-28 20:56] rajatjindal commented on #61857
@kubernetes/sig-auth-feature-requests

[2018-03-28 21:01] lavalamp commented on #59679
There is delay between an object being added/modified and it showing up in the informer. During that time, different apiservers may have different opinions about the active value. Is this a problem?

[2018-03-28 21:05] bsalamat commented on #61737
I have already explained [in the comments of this doc](https://docs.google.com/a/google.com/document/d/1v7hsusMaeImQrOagktQb40ePbK6Jxp1hzgFB9OZa_ew/edit?disco=AAAABjLhOI0) why a single component cannot perform preemption in a system that supports multiple schedulers, including custom schedulers.
In a system that supports multiple schedulers, each scheduler may have its own scheduling criteria. Whe

[2018-03-28 21:08] liggitt commented on #61839
reporting a size in a PV does not add enforcement to the underlying filesystem

see https://github.com/kubernetes/kubernetes/issues/36710#issuecomment-320379770

when matching a PVC to a pre-existing PV, the system will choose the smallest PV that satisfies the PVC's request/limit. that pod is then allowed to use whatever the filesystem backing that PV permits.

/close

[2018-03-28 21:08] #61839 closed

[2018-03-28 21:12] mindprince commented on #50658
Sent https://github.com/kubernetes/kubernetes/pull/61860 which will make sure that `*kubernetes.io/` resrouces will remain unscheduled if not exposed on any nodes.

My PR doesn't cover that. We can do that later if we really want to.

[2018-03-28 21:23] mtaufen commented on #10091
/remove-lifecycle rotten
/lifecycle frozen

[2018-03-28 21:29] rphillips commented on #58012
@listx Hi! The make process builds cross platform images using qemu. qemu needs root privileges for the running kernel to forward foreign (ppc, mips, etc) system calls to the proper qemu emulator. When I was testing this, GCB did not support root or privileged access to the main machine, thus the need for the remote builder.

[2018-03-28 21:41] jamiejackson commented on #7890
I'm containerizing an applications's components, one of which accesses a remote file system over SSHFS with autofs, so I could have used such a feature, too.

[2018-03-28 21:44] filbranden commented on #61854
Can we please disable this test for the moment? It's causing significant flakiness and blocking other PRs from being merged...

[2018-03-28 21:59] yujuhong commented on #61854
@satyasm I'd suggest disable the tests first to stop the bleeding, and debug the issue at your own pace. It's probably not a good idea to run performance tests in this environment anyway since the tests are run in parallel (IIRC). Maybe you can set up a separate post-submit test job for these special-purpose tests.

[2018-03-28 22:00] satyasm commented on #61854
@yujuhong can you take a look at PR https://github.com/kubernetes/kubernetes/pull/61863 ? It's add skip for short tests, which should avoid running this for very PR?

[2018-03-28 22:02] ericchiang commented on #61796
/status approved-for-milestone

[2018-03-28 22:05] bsalamat commented on #59679
This could also cause inconsistencies in resolving priority values of Pods when creation requests are handled by two API servers that have inconsistent defaults, but I am not sure if we could do much to prevent it.

We have done two changes to address the default priority class resolution in HA mode:
1. We no longer cache default priority class in the admission controller. So, the chance of cache

[2018-03-28 22:08] mtaufen commented on #12245
Guide on how to implement componentconfig: https://docs.google.com/document/d/1FdaEJUEh091qf5B98HM6_8MS764iXrxxigNIdwHYW9c/

[2018-03-28 22:09] lavalamp commented on #59679
This is not the only item for which it'd be nice to have a global lock on
apiserver or other synchronization mechanism. Will try to keep it in mind.
(other items: config changes, api version changes, admission webhook
enforcement, CRD handling, etc)

On Wed, Mar 28, 2018 at 3:07 PM Bobby (Babak) Salamat <
notifications@github.com> wrote:

[2018-03-28 22:10] yliaog commented on #61578
The panic happened when trying to serialize Verbs, which is defined as []string.

But as clearly documented only byte slice is accepted, []string is not expected. So to properly marshal / unmarshal the go structs, the Marshal/UnMarshal defined in .pb.go has to be used. The generic Marshal/Unmarshal functions in golang/protobuf or gogo/protobuf won't work.

 (https://github.com/gogo/protobuf/blob/4

[2018-03-28 22:13] AishSundar commented on #58012
I was looking into doing something very similar for building k8s test images under https://github.com/kubernetes/kubernetes/tree/master/test/images. We also need support to build cross platform images using qemu.

/cc

[2018-03-28 22:29] rphillips commented on #58012
@rvkubiak Your previous comment said that you might be starting on this soon. Were you able to start on automating these builds? If you need another set of hands; I can certainly help.

[2018-03-28 22:43] kfox1111 commented on #12245
doc is private

[2018-03-28 22:52] yliaog commented on #61702
supposedly workload in one namespace are started by one team, how the quota allocated to the team is sub-allocated to each workload is managed by the team, providing a finer granularity of quota management within a namespace is not very useful, IMO.

[2018-03-28 22:57] #61844 closed

[2018-03-28 23:11] calebamiles commented on #61763
should be fixed now, @albamoro

**cc: @jdumars, @kubernetes/kubernetes-release-managers**

[2018-03-28 23:12] calebamiles commented on #61763
/assign

[2018-03-28 23:12] calebamiles commented on #61794
/assign

[2018-03-28 23:13] calebamiles commented on #61794
rpms and debs have been published now, @rajansandeep

**cc: @jdumars, @kubernetes/kubernetes-release-managers**

[2018-03-28 23:13] orainxiong commented on #61785
/cc

[2018-03-28 23:20] satyasm commented on #61854
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61863/pull-kubernetes-integration/4296/ shows that ipamperf tests are now skipped during integration testing.

All checks have passed and @bowei has given /lgtm. Waiting for auto-merge.

@yujuhong can you close this issue once verified? thanks!

[2018-03-28 23:26] yujuhong commented on #61854
@satyasm the bot will do that automatically since your PR description says it fixes this issue.

[2018-03-28 23:41] dhawal55 commented on #61076
@liggitt is this fixed in gke release 1.8.10-gke.0? Don't see any mention in the release notes.

[2018-03-28 23:43] orainxiong commented on #60903
**ReplicaSet** can't ensure the at-most-one guarantee we wish.

In order to preserve the availability of ReplicaSet's pods, ReplicaSet will recreate a new pod when it found an old pod in the **termination/deleting** process.

But, you know, all operations are **asynchronize**. A pod in the **termination/deleting** process would continue to run for an arbitrary amount of time.  As a result of that,

[2018-03-28 23:52] msau42 commented on #61076
@dhawal55 yes gke 1.8.10-gke.0 has the fix.

[2018-03-28 23:58] listx commented on #58012
@rphillips rvkubiak handed off the work that he had with the ~30 core addon images to me. I only ran into this issue by accident while doing my own research about the current state of how debian-hyperkube-base was built.

Ultimately, who/what system would run the automation of running these remote cloud builds of these base images? Like, what is stopping us (open source K8s community) from adoptin