[2017-05-02 19:44] jingxu97 commented on #43515
cc @MrHohn do you know what error of the network not ready?
@discordianfish It might be helpful if you could share the kubelet log with us to debug. Thanks!

[2017-05-02 19:48] fisshy commented on #24903
I managed to solve this issue in Powershell by pointing docker client to my VM.

Using this command

Powershell
` & minikube docker-env | Invoke-Expression`

Terminal
`echo ${minikube docker-env}`

[2017-05-02 19:53] ReSearchITEng commented on #43815
I could not identify what's wrong on your end.
I strongly suggest you try to create a separate installation using the playbooks here: https://github.com/ReSearchITEng/kubeadm-playbook and try to see what's the difference.
PS: my last tests are with 1.6.2 , both kube* and images and seems fine.

[2017-05-02 20:03] wojtek-t commented on #45228
@jagosan can you clarify what did you mean by that?

[2017-05-02 20:05] dolobanko commented on #39710
Spent 2 days on this. Thanks.

[2017-05-02 20:08] davidopp commented on #22212
I'll label it 1.7 but the design is still under discussion.

[2017-05-02 20:14] jsravn commented on #45174
@jfoy that section looks like it's talking about backwards compatibility w/ http/1.0.

In the original issue w/ NodeNotReady, you're right kubelet should be sending updates. For whatever reason kubelet didn't detect that that receiving end was down. I swapped out the ELB for DNS, which seems to have fixed NodeNotReady for me, but now I'm getting stale updates.

[2017-05-02 20:16] MrHohn commented on #43515
@jingxu97 AFAIK, the "network not ready error" is benign, kubelet will retry after this error ([ref](https://github.com/kubernetes/kubernetes/blob/7f2011c1606876f3c1f7a672df24438df4896577/pkg/kubelet/network/kubenet/kubenet_linux.go#L570-L580))

cc @freehan

[2017-05-02 20:24] freehan commented on #42735
@DreadPirateShawn
Besides the error log, is there any problem that stands out?

We need kubelet log to confirm it as a race between kubelet pod status sync and cni network plugin execution.

cc: @yujuhong

[2017-05-02 20:24] rdsubhas commented on #41881
@deitch until then if anyone needs to do thins in the official nginx ingress, here is a shortcut:

- Set `host: <just the subdomain>` in Ingress rule, e.g. `host: myapp`
- And then use an init container to replace `server_name {{$server.Hostname}};` in the default nginx template with `server_name {{$server.Hostname}} {{$server.Hostname}}.*;`

[2017-05-02 20:55] foxish commented on #28658
/cc @crimsonfaith91

[2017-05-02 20:56] timothysc commented on #44887
@shenlanse do you have failure logs from 1.6?

[2017-05-02 21:12] fejta commented on #45198
This is part of https://github.com/kubernetes/kubernetes/issues/45198

[2017-05-02 21:21] timothysc commented on #45216
Are we certain proxy updates have not occurred in that window?

[2017-05-02 21:30] timstclair commented on #40476
Can we dedupe this with https://github.com/kubernetes/features/issues/279 ?

[2017-05-02 21:31] fejta opened #45244 "gke-alpha-features-1.6 suite cannot start a cluster"
/assign @pipejakob
@kubernetes/sig-cluster-lifecycle-bugs

Part of https://github.com/kubernetes/kubernetes/issues/44243
Triage cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#ea6679417165f10786e6
Testgrid: https://k8s-testgrid.appspot.com/release-1.6-all#gke-alpha-features-1.6

[code]

[2017-05-02 21:48] yujuhong commented on #42735
I am a bit lost in all these discussions. What exactly is the problem (besides the error message in the log) that we are dealing with?

[2017-05-02 21:58] yujuhong commented on #44473
#43632 provides a HostAlias field in the pod spec for users to specify host entries. Given the addition of that feature, I think users should not try to modify the host in the init or application containers, and kubelet should remain the authority of this file unless users explicitly mount this path.
@jstangroome, is the new HostAlias sufficient for your use case?

[2017-05-02 22:45] ahmetb opened #45249 "container.resources.{limits,requests} fields are not documented in the API/explain"
**Kubernetes version**: v1.6.2

**What happened**: The fields of `container.resources.limits` and c `container.resources.requests` are not documented in `kubectl explain` output or the API Reference documentation.

https://kubernetes.io/docs/api-reference/v1.6/#resourcerequirements-v1-core As it can be seen here. The `limits` and `requests` are rendered as untyped _object_ and they do not have any

[2017-05-02 23:10] gtaylor commented on #22984
To necro this thread, nodename-override would be wonderful.

[2017-05-02 23:41] caesarxuchao commented on #45210
I think the "where shoudl internal types should live" question is not specific to metrics.

Only external types should be vendored. If a vendoring repo needs to use the internal types, it should define its own copy that suits its needs. For example, apiserver and kubectl should have different copies of the internal types.

I submitted PRs that's going to make code generation tools work in case int

[2017-05-03 00:02] jmccarty3 commented on #43988
I have a very similar setup as @vdavidoff and have experienced issues seemingly related.  The cluster will operate just fine for several hours (12+). After the given time the kubelet seems to begin to kill pods which then throw them into a crash loop.

I see kubelet logs such as:

(Note that is the full line. Nothing comes after the 'for')

And events such as

Once in this state, the kubelet is un

[2017-05-03 00:27] matchstick commented on #44650
@dchen1107 is there a clear owner here? And what area should this be routed to?

[2017-05-03 00:39] yujuhong commented on #43988
@zihaoyu @jmccarty3 I think the "invalid network status" is just a red herring. If any of you can paste the kubelet logs, that'd help.

[2017-05-03 01:24] k8s-merge-robot opened #45257 "TestConfigMapController {sync}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5345/
Failed: TestConfigMapController {sync}

[code]

[2017-05-03 01:35] janetkuo commented on #44508
Filed #45259

[2017-05-03 01:43] shenlanse commented on #44887
@timothysc No,  looks good in 1.6.  But  I find another question as described above.

Under special conditions, there may be two leaders at the same time.

[code]

When leader renews lease, if apiserver timeout for this request(That is to say, the leader get failed response **after 1min**), other candidate will acquire leader during this 1min.

So old leader exits after 1min, however new leader ac

[2017-05-03 01:52] k82cn commented on #45237
kube-scheduler will use `request` for scheduler, but according to the node, pod description, there's still enough resource for more pods.

let me try it to see what happened.

[code]

/cc @kubernetes/sig-scheduling-misc

[2017-05-03 02:07] timothysc commented on #44887
If you are having issues communicating to the api-server then it would be more likely that all the operations would be failing too. So once connection is re-established the new leader will be detected.

fwiw there is no strict fencing built into kubernetes, so there exists "windows" but given the eventual consistency model we're good.

[2017-05-03 02:07] #44887 closed

[2017-05-03 02:08] xiangpengzhao commented on #44841
cc @mikedanese

[2017-05-03 02:10] xiangpengzhao commented on #45155
@xiechengsheng Great! Using log file is a better way:)

[2017-05-03 02:12] xiangpengzhao commented on #45237
Similar issues: #33777 #34920 (with `Insufficient CPU`)

[2017-05-03 02:43] xiangpengzhao commented on #45249
It might be because [Limits and Requests](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1484) are [ResourceList](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2972) type. ResourceList is a map `type ResourceList map[ResourceName]resource.Quantity`. I think generator cannot resolve it.

[2017-05-03 02:47] xiangpengzhao commented on #33732
FYI:
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

[2017-05-03 02:56] dunjut commented on #44702
1) Yes, Both `k8s-3` and `k8s-4` have 2 NICs, same as `k8s-2`.

2) `docker inspect kube-proxy-k8s-2` [result](https://gist.github.com/dunjut/b19bb0ff668e636774e43891d0e99760)

`docker inspect kube-proxy-k8s-3` [result](https://gist.github.com/dunjut/c52b8ff58c10fdcf2def2502b722fac3)

[2017-05-03 02:57] supereagle commented on #44473
New HostAlias is a great work. What about the PR #44481? The origin code really has logical error, and the etc-hosts file is overwritten every time. In order to keep the ip, host name and domain name in etc-hosts file up to date, maybe this code can be removed.

[2017-05-03 03:43] mub commented on #45163
Figured it out: need to run `gcloud container clusters get-credentials cluster-id` before running `kubectl`

[2017-05-03 03:43] #45163 closed

[2017-05-03 04:25] shashidharatd opened #45264 "federation: flake in deleting federated service during kubectl tests"
kubectl tests for federation is flaking in pre-submit tests.

Here is one such failure. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44987/pull-kubernetes-unit/28480/?log#log

We need to fix this with priority as pre-submit tests are affected by this issue.
After high level analysis and discussion with @nikhiljindal, it looks like identical issue which happened for secr

[2017-05-03 04:25] jstangroome commented on #44473
@yujuhong Yes, from reading the commits in #45148 it appears that HostAlias in the pod spec will remove the need for me to modify the `/etc/hosts` file directly from within an init or app container for my current use case.

[2017-05-03 05:18] k82cn commented on #45237
@Spindel , can you share scheduler's log?

[2017-05-03 05:22] xiangpengzhao commented on #45237
Two other resource related issues: #45213 #45220

[2017-05-03 05:30] MikaelCluseau commented on #44172
@jingxu97 even in case 1, how do you hide the storage access keys from the user without 2 objects? ie, accessing a Ceph snapshot will require a monitor list, a key, a pool, etc. I don't want my users to have access to that.

[2017-05-03 05:56] jingxu97 commented on #44172
Could subresource be used here to hide information from users? As Jan
mentioned before

"I checked Kubernetes and it is possible to have a namespaced Snapshot
object with a subresource (SnapshotStorage?). Access to the subresource
is subject of RBAC, so we can restrict users in creating, editing or
even getting the subresource and let only a controller or admin access it.

I checked Kubernetes sou

[2017-05-03 06:02] redbaron commented on #41916
if it is long polling, then it is apiserver which should be sending noop messages, which are then to be ignored by kubelet

[2017-05-03 06:13] k82cn commented on #45237
failed to reproduce in local cluster :(. I keep create & delete pods by following commands:

Create Pods:
[code]

Delete Running Pods:

[code]

[2017-05-03 06:21] lixiaobing1 opened #45270 "how many methods are there for KVM to run in k8s?"
including (1) running KVM images as container images, and (2)running KVM&VM in container images.

[2017-05-03 06:37] MikaelCluseau commented on #44172
You have the whole subject really well in mind :-) So this is a technical solution implying RBAC on subresources. It's 1 object in etcd, but 2 ones in the API anyway. Pure opinion here: I find the subresource approach much more complex to understand for the admin/user; I mean, why should I do `kubectl get snapshotstorage --all-namespaces` (and deduplicate the output if a snapshot is shared between

[2017-05-03 06:46] #44972 closed

[2017-05-03 06:52] #33732 closed

[2017-05-03 07:58] wojtek-t commented on #45216
I don't understand. But I'm pretty sure. Everything else takes exactly the same amount of time except from this one (and this is increase from ~30m to~1h) so it's not negligible.

[2017-05-03 08:05] jingxu97 commented on #44172
I think so far the workflow we want to support the most is that users
create snapshots and use them. In this way, snapshot represent user's data
which should be in user's namespace.
About Ceph, from document I think only Ceph block device support snapshots
and kubernetes currently does not support block device. For snapshot
command, it mentioned that "you must specify a user name or ID and a path

[2017-05-03 08:07] #42856 closed

[2017-05-03 08:10] Spindel commented on #45237
@k82cn Here are the logs from the scheduler, it doesn't look as much.

kubectl logs --namespace=kube-system kube-scheduler-coreos01.kub.do.modio.se --timestamps=true > scheduler.txt

[scheduler.txt](https://github.com/kubernetes/kubernetes/files/972739/scheduler.txt)

[2017-05-03 08:12] Spindel commented on #45237
Most pods here are created by the GitlabCI multi runner with the [kubernetes executor](https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/master/docs/executors/kubernetes.md)

My local reproduction case was starting "busybox" with a sleep command, and that showed the same problem though, so it wasn't CI-specific.

[2017-05-03 08:16] aachuthan commented on #45041
This again has recurred for us after the cluster ran for 24+ hours without any issues.

From  the dashboard the event notified  for the  node which re-started all pods was kubelet  restarting.The events also reported the node has rebooted ( possibly the new kubelet providing the new boot id for the node) though the aws node has not rebooted.

Syslog extract

May  2 17:16:02 ip-172-20-0-42 kubelet[

[2017-05-03 08:33] MikaelCluseau commented on #44172
Kubernetes does support Ceph RBD (Rados Block Device), it's what I use :) https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/rbd.

The ceph workflow is around this:
[code]

The key/user are usually those given to the "volume manager" (ie cinder in openstack). So, if "the user" is Kubernetes, then yes, the user has to provide its key to make operations on the images. But if "the

[2017-05-03 09:01] k8s-merge-robot opened #45274 "TestSandboxGC {kuberuntime}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5355/
Failed: TestSandboxGC {kuberuntime}

[code]

[2017-05-03 09:02] Spindel commented on #45237
If there is anything else I can do to help debug this, it would be really nice.
Our workaround is for now to not use resource limits at all on our containers, not in the CI or otherwise. This feels suboptimal.

Anything further would be welcome.

[2017-05-03 09:40] dgageot commented on #42926
Hi @dchen1107, I'd like to help validate docker 1.13.x and 17.03.x. Can you help me understand what kind of validation currently runs?

[2017-05-03 09:44] dgageot commented on #39162
@matthewadams @edevil You might be hitting a Docker for Mac issue. Sometimes, the disk is not mounted on `/var`. This is silently ignored and all the images are saved in memory rather than on the disk.

This command: ```docker run -it --rm --privileged --pid=host justincormack/nsenter1 /bin/sh -c 'mount | grep "/dev/sda1 on /var type"'```
Should output `/dev/sda1 on /var type ext4 (rw,relatime,dat

[2017-05-03 10:28] jsravn commented on #41916
I spent some time trying to reproduce this without much luck. Even if I kill -9 apiserver kube-proxy/kubelet seem to recovery pretty quickly, detect an EOF, and reconnect. The worst I could get was about a minute downtime by rebooting an apiserver node. So I'm not sure what is causing the behaviour where kubelet/kube-proxy seem to stop processing updates for a long time.

[2017-05-03 10:45] pmichali commented on #44848
I'll push a new patch incorporating some of the feedback from the previous commit and making some decisions regarding the implementation. Specifically...

- Will have a fixed precedence of IPv4 over IPv6 (backwards compatible), for both default route check and system interface check.
- Expecting that operator will have set-up IPv6 expecting to use it, so will alway check for them (after IPv4).
- W

[2017-05-03 10:52] jsravn commented on #41916
kube-proxy/kubelet already enable keepalive_time of 30s with interval of 30s. This is strace on socket options when it reconnects:
[code]
So in theory, it should detect outages when the probe fails. It doesn't set TCP_KEEPCNT, by default that is set to 9. So 4 minutes max outage before the keepalive probes should notice.

So I'm really baffled how it took an hour for one of my nodes to notice it l

[2017-05-03 10:57] zhouhaibing089 commented on #45000
@ashernevins take a look at [this](https://github.com/kubernetes/kubernetes/issues/44815#issuecomment-297077509)

[2017-05-03 11:10] Rev1408 commented on #45226
I was able to fix it myself, but it doesn't took correct I had Docker on my host and there is Docker in Minikube Docker in Minukube had issues I had to minikube ssh into minikube VM and follow this post

[http://stackoverflow.com/questions/23111631/cannot-download-docker-images-behind-a-proxy](url) and it all works nows,

There should be a better way of doing this, on starting minikube i have pass

[2017-05-03 11:38] vaibhavsood commented on #44022
Hi @Pensu ,

Some investigation into this i found that the issue is due to the hardcoding on line 32 in ./pkg/volume/metrics_du_test.go

(similar from comments here: https://github.com/kubernetes/kubernetes/pull/18580#discussion-diff-47389629)

I changed it to remove the hardcoding (patch attached) and the test case passes on SLES as well, i am not sure if the patch is appropriate so requesting yo

[2017-05-03 11:43] deads2k opened #45277 "Reassess names, fields, and groups for CustomResources"
https://github.com/kubernetes/kubernetes/pull/45115 lays out initial types for `CustomResources` (née TPR).  The API wasn't exposed anywhere (only testable via an aggregated API server), so to make progress to the meat of the CustomResources implementation, we merged it fairly quickly.

This issue is a spot to talk about what we don't like about the names and what we'd like changed.  Pulls are als

[2017-05-03 12:00] bboreham commented on #44963
Hi, I work on Weave Net; just seeing this issue for the first time.

I can understand how `OnlyLocal` could work in a situation like AWS or GCE where the cloudprovider has set up routes that make pod addresses reachable from anywhere.

I cannot see how it could ever work with an overlay network, in the absence of those routing rules.  How would the return packets get back to the original client?

[2017-05-03 12:08] yan234280533 opened #45278 "The GeneralPLEG's parameter plegRelistPeriod is too long in some Certain scenes ?"
The GeneralPLEG's parameter  plegRelistPeriod is too long in some Certain scenes.
Now the plegRelistPeriod  is  set as 1s, is too long in some  certain scenes  such as Serverless.
Can it set much more short , like 100ms ?

[2017-05-03 12:30] feiskyer opened #45279 "Flake of pkg/kubectl/cmd/util/openapi.TestOpenapi"
TestOpenapi failed frequently in recently CI runs, e.g. [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41766/pull-kubernetes-unit/28845/#k8siokubernetespkgkubectlcmdutilopenapi-testopenapi)

[code]

cc/ @pwittrock @kubernetes/sig-cli-bugs

[2017-05-03 12:34] shashidharatd opened #45281 "flake in unit tests of pkg/kubelet/kuberuntime"
kubernetes pre-submit unit tests for `pkg/kubelet/kuberuntime` pass some times and fails some times causing the flakiness. Here is one such failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44987/pull-kubernetes-unit/28850/?log#log

Passing:
[code]
Failing:
[code]

cc @kubernetes/sig-node-bugs

[2017-05-03 12:36] feiskyer commented on #45281
Yep, I'm checking with this

[2017-05-03 12:54] jones77 commented on #27442
Hi @ahuffman, Thanks for these instructions, I'm going through this to configure my RHEL7 Kubernetes cluster.

With regards:

Did you mean `/etc/kubernetes/certs/openssl.conf`?  This how this file is referenced everywhere else in your post.

[2017-05-03 13:04] deads2k commented on #45277
Types are located here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/pkg/apis/extensions/v1beta1/types.go .

[2017-05-03 13:05] ncdc commented on #45118
@smarterclayton @wojtek-t @dchen1107 @vishh @yujuhong @derekwaynecarr @sjenning do you think the NodeController should/should not delete a Node from storage in this situation: Node is configured to use a cloud provider, VM is powered off but not deleted? I would argue for "should not delete".

[2017-05-03 13:09] feiskyer commented on #45281
Sorry for introducing a flakiness. Sent out the fix in #45282.

[2017-05-03 13:13] feiskyer commented on #45279
/kind flake

[2017-05-03 13:14] feiskyer commented on #45281
/assign

[2017-05-03 13:15] feiskyer commented on #45274
/assign

[2017-05-03 13:18] feborges commented on #44298
I'm using kubeadm and it's with the same error.

kubectl get pods --all-namespaces

`kube-system    kube-dns-3913472980-l9lcv       0/3       rpc error: code = 2 desc = failed to start container "6ca41e9b4fdec3736aec177c092cc2219172415dfe0d820baa678838b65d8a36": Error response from daemon: cannot join network of a non running container: 3b691287affd705931dbda62c610fd794ba770e908c0c74738271ff8b185f

[2017-05-03 13:31] shashidharatd commented on #44490
/assign

[2017-05-03 13:31] shashidharatd commented on #44283
/assign

[2017-05-03 13:32] shashidharatd commented on #42894
/assign

[2017-05-03 13:33] shashidharatd commented on #42822
/assign
/sig federation

[2017-05-03 13:35] shashidharatd commented on #40536
/assign

[2017-05-03 13:36] shashidharatd commented on #42995
/assign

[2017-05-03 13:37] shashidharatd commented on #41253
/assign

[2017-05-03 13:38] shashidharatd commented on #42894
/assign

[2017-05-03 13:39] liggitt commented on #23720
Can you update the design/description to reflect the proposed approach?

[2017-05-03 13:41] shashidharatd commented on #41791
/assign
/assign @madhusudancs
/assign @csbell
/assign @marun

[2017-05-03 13:42] feiskyer commented on #45281
Dup of #45274.

/close

[2017-05-03 13:42] #45281 closed

[2017-05-03 13:46] liggitt commented on #42561
closing for insufficient info, please reopen with requested logs and info if this is still reproducible.

[2017-05-03 13:46] #42561 closed

[2017-05-03 13:56] micah opened #45284 "installing docker-engine fails"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): yes, and I looked through the troubleshooting guide, it is for people who are further advanced than the first step of installing the packages. I joined the IRC channel(s) and got no response there, and attempted to register to slack, bu

[2017-05-03 14:11] justinsb commented on #45118
A trivial answer is that PrivateDNSNames are not unique on AWS. A running
instance and a stopped instance could have the same IP, hence same
PrivateDNSName.

Rob / Marek: Can you clarify with a scenario where something unexpected
happens: what that is and what you expect to happen?

On Wed, May 3, 2017 at 9:06 AM, Andy Goldstein <notifications@github.com>
wrote:

[2017-05-03 14:17] suyogbarve commented on #45223
@adohe Use of --local flag should completely eliminate communication with api-server
I have sent a PR https://github.com/kubernetes/kubernetes/pull/45285 which should fix this issue

[2017-05-03 14:19] ncdc commented on #45118
@justinsb can we work around that somehow for ec2?

[2017-05-03 14:24] justinsb commented on #45118
I don't know what we are working around!  The concern is AWS instances that are Stopped but not Terminated?

Separately, we've been working since before 1.0 to get us off PrivateDNSName on AWS though...

[2017-05-03 14:26] gnufied commented on #45191
/assign @gnufied

[2017-05-03 14:27] timothysc commented on #44812
Just wondering why we couldn't do something very general like pass a formatting modifier string as a flag to other CLI commands too similar to server side queries but more general.

xref: http://research.cs.wisc.edu/htcondor/manual/current/condor_status.html see -format

[2017-05-03 14:31] ncdc commented on #45118
@justinsb the issue is that, depending on cloud provider, the NodeController may delete a Node from etcd if the VM is not Running. If you power off a VM, wait longer than the NodeController's eviction threshold (5 minutes by default), and then power the VM back on later, the NodeController will have deleted the Node from etcd in the interim.

Some cloud providers in the kube code base expect an in

[2017-05-03 14:33] JorritSalverda opened #45287 "Scaling or deleting statefulset in 1.5 cluster with 1.6 kubectl fails"
**BUG REPORT**

When running either `kubectl delete statefulset <statefulset name>` or `kubectl scale statefulset <statefulset name> --replicas=<count>` with kubectl 1.6.2 against a GKE cluster 1.5.6 it fails with an error like the following.

[code]

This happened the other way around as well with kubectl 1.5.x against a GKE 1.6.x cluster.

For scaling there's a working alernative by running `kub

[2017-05-03 14:36] xiangpengzhao commented on #45284
@micah http://stackoverflow.com/questions/tagged/docker might be the best place to ask for docker installation support.

[2017-05-03 14:39] xiangpengzhao commented on #45284
wrt your last question, you'd also better post it on http://stackoverflow.com/questions/tagged/kubernetes

[2017-05-03 14:50] justinsb commented on #45118
That is the current behaviour, but you've skipped the bit where something goes wrong :-)

Even if we fix this problem though @ncdc, do we close this issue?  I would vote to close this issue _now_ on the basis that there's no objective measure for when we can mark this issue resolved, and that we start again with a problem statement like the one you're describing, which feels actionable.

[2017-05-03 14:51] tomte76 commented on #44963
In our case we try to find a way to preserve the client ip of connections in our on-premises setup. Therefore we have kubernetes-clusters deployed on a VMs in e.g. openstack or proxmox running on bare metal.

As far as I understand I need the overlay network to spread the pods and communication across the minions in my cluster. And we would need OnlyLocal to have some pods running pinned on dedica

[2017-05-03 14:59] ncdc commented on #45118
@justinsb the intent of this issue was what I described. It's possible that it wasn't clear in the initial description.

[2017-05-03 15:05] justinsb commented on #45118
At least on AWS:

The the motivation for the filtering is that Terminated instances still have the old PrivateDNSName listed (IIRC), and so the names aren't unique unless you exclude Terminated.

But we don't have to exclude Stopped instances (power-off), and just mark the nodes NotReady.  I don't think that will cause problems, but it may be that the correct place to fix is actually somewhere els

[2017-05-03 15:06] ahuffman commented on #27442
@jones77 Yes, that's what I meant.  I'll go back and see if I can correct it.

[2017-05-03 15:06] #27442 closed

[2017-05-03 15:10] ncdc commented on #45118
At least 1 thing: if you have manually added labels to the node post-registration, those labels are gone when it rejoins.

[2017-05-03 15:11] jayunit100 commented on #22212
Yeah, i think for the 1.8 goal of daemonset->scheduler integration, this is very important, so we should push for an initial implementation at least, by 1.7

[2017-05-03 15:14] timothysc commented on #22212
I think settling on the design and maybe getting some of the bits in place is probably the best we can hope for b/c we're going to go past the feature deadline on this one.

[2017-05-03 15:21] xiechengsheng opened #45288 "Use kubemark to test k8s performance but get: !!! Error in ./hack/ginkgo-e2e.sh:117"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Keywords: kubemark, Error in ./hack/ginkgo-e2e.sh:117

---

**Is this a BUG REPORT o

[2017-05-03 15:21] x1957 commented on #27796
https://github.com/kubernetes/kubernetes/pull/44727 Submit Queue — PR is missing CLA label; needs one of cla: yes, cncf-cla: yes or cla: human-approved

I think I have done everything...

[2017-05-03 15:25] xiangpengzhao commented on #45287
Can the actions succeed with the same version of kubectl and cluster?

[2017-05-03 15:27] justinsb commented on #45118
That sounds like it would be correct for some classes of labels.

[2017-05-03 15:32] JorritSalverda commented on #45287
@xiangpengzhao yes that works fine.

[2017-05-03 15:35] gamename opened #45290 "Kubemark: ReplicationController reports "hollow-node" is invalid"
**This a request for help *and* a bug**

**What keywords did you search in Kubernetes issues before filing this one?**
"hollow-node"

---

**This a BUG REPORT** (choose one):

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
GCP

- **OS** (e.g. from /etc/os-release):
$ sw_vers
ProductName:    Mac OS X
ProductVersion: 10.12.4
B

[2017-05-03 15:40] JorritSalverda commented on #45287
Deleting them through the dashboard works fine, so I have a workaround without downgrading my kubectl version :)

[2017-05-03 15:42] xiangpengzhao commented on #45287
cc @foxish

[2017-05-03 15:54] scheetz commented on #41580
I have a similar issue when I do `helm upgrade`.  I have several pods, a couple with init containers.  The pod that gets stuck with Init:0/1 was not changed by the upgrade.

[2017-05-03 15:58] ixdy commented on #45216
The full list of changes between runs 393 and 394: https://github.com/kubernetes/kubernetes/compare/fb72285a7...508041e9d

[2017-05-03 16:03] yujuhong commented on #45278
@yan234280533 why is it too long? Could you explain your use case more so we can discuss whether this would actually help? There are many factors affecting kubelet's "responsiveness", tuning one parameter without an analysis may hinder other use cases (and very likely not achieve what you want). For example, frequent container listing (e.g., `docker ps`) calls may overwhelm the container runtime i

[2017-05-03 16:12] jingxu97 commented on #45067
cc @kubernetes/sig-storage-bugs

[2017-05-03 16:13] jingxu97 commented on #38923
cc @saad-ali

[2017-05-03 16:14] benjigoldberg commented on #40724
Ok, the issue for me was that I'm running `kubenet` but forgot to add `--non-masquerade-cidr` to my kubelet configuration. Doesnt look like a bug on my end.

[2017-05-03 16:14] wojtek-t commented on #45216
@ixdy - yes, I've already went through it. The only potential change is golang update.

[2017-05-03 16:16] ericchiang commented on #23720
@liggitt I can't edit the original comment but will open a PR to community today with updated proposal. That work?

[2017-05-03 16:23] xiangpengzhao commented on #45290
See: #38542

@k82cn @smarterclayton

[2017-05-03 16:27] xiangpengzhao commented on #45290
cc @gmarek

[2017-05-03 16:32] matt-potter commented on #42131
Hi! We see the exact same issue on 1.6.2. Using kubefed to create a federation control plane, and then joining the the host cluster to the federation. Deploy a RS and a Loadbalancer service, and this leads to both the service in the federation cluster context and the service in the host cluster context referencing the same ELB address (is this correct behaviour?). I can see the controller manager

[2017-05-03 16:35] jayunit100 commented on #22212
fair enough, both maybe can flow in for 1.8 then /me hopes

[2017-05-03 16:37] daniel-ac-martin opened #45293 "kubectl should be able to base64 decode secrets"
Currently if one wants to view secrets stored in k8s they must follow the process described here: https://kubernetes.io/docs/concepts/configuration/secret/#decoding-a-secret

This involves copy&pasting. It seems to me that kubectl could provide a more helpful interface to base64 decrypt the users on behalf of the user saving them the trouble.

[2017-05-03 16:47] deitch commented on #41881
@rdsubhas an init container where? In the nginx Deployment / DaemonSet (depending on your deployment preference)? I kind of did something similar with traefik, changing their template. Still, it shouldn't be _this_ hard.

[2017-05-03 16:59] ahmetb commented on #45249
@xiangpengzhao I understand now. Thanks.

If someone else can verify this is indeed the case (or point to another example that `object` is the resolved type for all maps) we can just close this.

However if there’s anything we can do to make it better, we should probably do it. At this point I am not sure why this is a map instead of a typed struct. If you know anyone who might have context on res

[2017-05-03 17:01] liggitt commented on #23720
yes, that should replace this

[2017-05-03 17:15] wojtek-t commented on #45290
@shyamjvs

Strange - we are running kubemark continuously and it is passing ...

[2017-05-03 17:18] rootfs commented on #45067
If you delete a PV directly, it won't trigger PV controller to unbind the PV from the PVC and storage backend to remove the image. You need to delete the PVC to delete the rbd image.

[2017-05-03 17:36] DirectXMan12 commented on #45210
(P.S. feel free to assign this to me if you want)

[2017-05-03 17:36] chrislovecnm commented on #44254
I believe this is a duplicate... https://github.com/kubernetes/kubernetes/pull/33573 would possibly fix this.

https://github.com/kubernetes/kops/issues/2087 may have a workaround

[2017-05-03 17:38] xiang90 commented on #45037
If you want to inspect etcd keys/values, restoring a new one member etcd server from that snapshot is the best option there: see https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster

I would suggest you to inspect etcd keys from all snapshot first. Then we can see if one of the snapshots actually contains a huge number of real keys.

etcd DB fils is a r

[2017-05-03 17:40] xiang90 commented on #45037
@mml @wojtek-t

I know you guys run quite a few k8s clusters with etcd3 backend. How often does the issue appear? Does it appear on all of your etcd clusters? Or just one of them? Or a handful of them? What is the percentage?

[2017-05-03 17:41] copejon commented on #45172
@msau42 Rethinking testing for NFS:  I'm not sure that this is something we want to do WRT e2e.  NFS is a supported feature of the core CI; it's baked into the GCI and debian images off which hosts are built.  Testing for it assumes that the hosts could be incorrectly configured, which is something we may not want to hide by skipping the tests.

[2017-05-03 17:42] rootfs commented on #44172
@MikaelCluseau good point. So in rbd PV/PVC, there are two keys: admin and user. Admin key is used to create and delete volume while user key is used to map/unmap rbd image. We can use the same idea here: a admin key in its own namespace and let controller use it to snap/clone.

[2017-05-03 17:49] MrHohn commented on #44963
cc @dnardo

[2017-05-03 17:54] msau42 commented on #45172
I am fine with requiring it for GCI and debian images, but I don't think we should require it for all environments (conformance).  Perhaps we should just skip the NFS tests for the local environment.  Not sure if anyone is developing and testing NFS locally.

[2017-05-03 18:04] mengqiy opened #45296 "build fails with error in apiserver repo"
build from HEAD fails with error in apiserver repo
It seems there is something wrong in `k8s.io/apiserver/pkg/util/proxy/dial.go`.
[code]

[2017-05-03 18:05] mengqiy commented on #45296
@kubernetes/sig-api-machinery-bugs

[2017-05-03 18:08] micah commented on #45284
@xiangpengzhao thanks for the pointer! I'll try over there as well.

The reason I thought it made sense to post it here was because it appears to be a genuine bug in the package that is provided by the http://apt.kubernetes.io/ kubernetes-xenial repository.

[2017-05-03 18:14] ixdy opened #45298 "bazel version stamping is somewhat broken"
Using a client based on https://github.com/kubernetes/kubernetes/pull/45248:

[code]

Oddly:
[code]
but also
[code]

I thought this used to work at some point in the past.

/cc @spxtr @mikedanese

[2017-05-03 18:32] lavalamp commented on #45037
So far it is rare. We are not sure what the trigger is. I can say in 5gb backup, the last actual key appears 32mb into the file. The rest of it is 0 bytes and stuff that appears to be little-endian 8 byte ints counting up, although. starts at 10000000 00000000 (not at 0100...) and continues to 356f0300 00000000, although it skips some values at the beginning. Then a big chunk of 0 bytes. Then it r

[2017-05-03 18:35] ixdy commented on #45298
oh, this is #40813; we need something similar to #42623 for bazel.

[2017-05-03 18:38] freehan commented on #44702
Okay. I think kubelet is not able to obtain the node IP address correctly. It may get confused for 2 NICs cases.

Can you post the output of `kubectl get node {NODE} -o yaml` for 2 nodes? 1 running `kube-proxy-k8s-2` and 1 running `kube-proxy-k8s-3`? Just to confirm

[2017-05-03 18:40] ixdy commented on #45298
though the go rules only support a single `linkstamp` package right now.

[2017-05-03 18:42] xiang90 commented on #45037
@lavalamp Can you try to run boltdb cmd pages/info against the snapshot file? Some rough info from these commands can be helpful.

[2017-05-03 18:47] XiaoningDing opened #45300 "[Proposal] Supporting active-standby applications in Kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

This is a feature request.

**What you expected to happen**:

Propose to have a built-in support for active-standby applications in Kubernetes.

Active-Standby applications are applications that have multiple running instances, but only one instance is active and serving workloads at one time. All other instances are idle (standby). If th

[2017-05-03 18:56] xiangpengzhao commented on #45296
Are you using GO v1.7.x? I also encounter this with GO v1.7.4. Build with GO v1.8.1 is OK.

[2017-05-03 18:58] xiangpengzhao commented on #45296
See https://github.com/kubernetes/kubernetes/issues/45214

[2017-05-03 19:11] xiangpengzhao commented on #45249
@smarterclayton or @vishh might give a more reasonable explanation.

[2017-05-03 19:14] mikedanese opened #45302 "breakup the certificates controller"
The signer and approver should be distinct controllers.

@pipejakob @jcbsmpsn

[2017-05-03 19:28] jkemp101 commented on #45234
@thockin Any thoughts on this approach?

[2017-05-03 19:33] marun commented on #41791
I think the bulk of this work will be done as part of the controller refactor, since the code to support integration testing can be reused by the upgrade test.  This is already true for the simple types (configmaps, secrets, daemonset) and should also be true for the workload types (replicaset, deployment, jobs) once their refactor is complete.

[2017-05-03 19:35] lavalamp commented on #45037
@xiang90 sent to you on slack.

[2017-05-03 19:36] dims commented on #45172
@copejon : it's running on the OpenStack CI system. I may have gotten past the problem with some iptables rules, if i see it again, will holler. Thanks.

[2017-05-03 19:39] dchen1107 commented on #44127
@davidopp I am assigning this to you because those tests failed roughly 75% at: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial since day one it was introduced to the kubernetes.

We are planning to cut 1.7 alpha-3, and this is one of the blocker issues for triage. On another hand, I noticed that SchedulerPriorities test suites were newly introduced,

[2017-05-03 19:40] lavalamp commented on #45037
In the pages output, there's a page "freelist" with 65535 items. I think someone has an int underflow bug.

[2017-05-03 19:41] marun commented on #45189
Is it necessary to restrict federation to only specific namespaces?  Or can a list/watch for a given type return only resources that a user has permission for?  For example, if a federation service account has access to namespace 'foo' on member clusters, but not 'bar', would a list/watch of secrets need to be restricted to namespace 'foo' to avoid a permission error or would it automatically retu

[2017-05-03 19:51] copejon commented on #45172
@dims Sounds good, thanks!

[2017-05-03 20:03] caesarxuchao commented on #45210
@DirectXMan12 https://github.com/kubernetes/kubernetes/issues/44065 is depending on it. I might just remove the internal types of metrics and send a PR to you. Let me know if you have other ideas :)

[2017-05-03 20:06] liggitt commented on #45189
Implicit ACL-filtered watch is not supported today, and is not likely to be added.

It would need to be restricted to namespace foo

[2017-05-03 20:07] jeffvance commented on #45172
@msau42 Jon and I discussed this a bit and are thinking:  it seems reasonable that a person deploying local *and* running e2e volume tests *and* seeing an error about the nfs-server pod not being created or nfs-client pods not mounting would either not run that test or would setup nfs locally. Are we missing something here? Thanks.

[2017-05-03 20:10] mengqiy commented on #45296
Using v1.8.1 works for me. Thanks.

[2017-05-03 20:10] #45296 closed

[2017-05-03 20:11] lavalamp commented on #45037
Hm actually in the code 0xffff is a marker value meaning that many or more. https://github.com/boltdb/bolt/blob/2e25e3bb4285d41d223bb80b12658a2c9b9bf3e3/freelist.go#L167

[2017-05-03 20:20] philips commented on #45300
I think in these cases you should have an external health mechanism from Kubernetes and then a tool that adds/removes labels from the active/passive pods to update the service.

I would suggest that either the external health mechanism either use etcd for the leader election or use locking on a ConfigMap or something.

[2017-05-03 20:30] lavalamp commented on #45037
I used the bolt dump command to print out the free list block. Something is clearly wrong, the block starts

[code]

The first thing in the block should be the count, but it is clearly just part of whatever sequence is there.

[2017-05-03 20:34] gamename commented on #45290
I found the problem.  The cluster wasn't configured properly.  Somehow, that translated into hollow-node being invalid.

I created a new cluster and it worked.

I did `./cluster/kube-up.sh` and *then* tried `test/start-kubemark.sh`.  That worked.

[2017-05-03 20:34] #45290 closed

[2017-05-03 20:42] tomte76 commented on #44963
In meanwhile managed it to deploy working flannel instead of weave. Sorry for the delay. I had some trouble with the openstack security groups. The observed behaviour also exists on flannel. The MASQ IP is now taken from the flannel required "--pod-network-cidr=10.244.0.0/16".

The wget from a cluster-external IP on the openstack floating ip and the NodePort as follows:

[code]

Logs from the word

[2017-05-03 20:43] jayunit100 commented on #45178
For completion

- [ ] kubelet: cleanup `policies` related to heartbeat/policy packages into a subpackage ( #45303 ).
- [ ] kubelet: clean up other top level files in respective packages. (1 or 2 PRs)
- [ ] kubeCTL: clean up all the imports (1 or 2 PRs)

[2017-05-03 20:46] dims commented on #29633
Can we please reopen this issue? I am seeing it regularly in my CI (Running e2e tests against local-up-cluster)

[2017-05-03 20:55] jwforres commented on #45279
Also seen in https://github.com/kubernetes/kubernetes/pull/45305

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45305/pull-kubernetes-unit/28905/?log#k8siokubernetespkgkubectlcmdutilopenapi-testopenapi

[2017-05-03 20:56] dims commented on #29633
@ivan4th : got a fix? :)

[2017-05-03 21:03] tomte76 commented on #44963
If I insert one iptables rule

`iptables -t nat -I POSTROUTING 3 ! -s 10.244.0.0/16 -d 10.244.2.2/32 -p tcp --dport 80 -j RETURN`

it works as expected

`212.9.183.78 - - [03/May/2017:21:00:11 +0000] "GET / HTTP/1.1" 302 327 "-" "curl/7.54.0"`

iptables-save looks like this now

[code]

[2017-05-03 21:06] lavalamp commented on #45037
The page command agrees with me.

[code]

[2017-05-03 21:08] xiang90 commented on #45037
@lavalamp

This seems like a boltdb issue (at least, related). Do you mind creating an issue here: https://github.com/boltdb/bolt?

[2017-05-03 21:15] xiang90 commented on #45037
@lavalamp

The page type should be `freelist`, no? Is this the same pages you sent me over slack?

[2017-05-03 21:27] thrawn01 commented on #1899
From reading the comment history; It it occurs to me that defining the concept of various states like 'Ready' or 'Pending' is a bit of a red herring. It can mean different things depending on what you are trying to accomplish, and could change in meaning as the kubernetes project matures.

The most flexible option would be some style of expression evaluation as @thockin proposed early on. However,

[2017-05-03 21:29] yujuhong commented on #44473
@jstangroome that's great. I think we can close this issue.

@supereagle we can verify the content of the file to see if it's up-to-date, but I think for now, removing the check is fine. Thanks!

[2017-05-03 21:33] #44473 closed

[2017-05-03 21:40] yujuhong commented on #45274
Should've been fixed by #45282

[2017-05-03 21:40] #45274 closed

[2017-05-03 21:45] smarterclayton commented on #45300
We talked about this in the early stages of StatefulSet design.  I do think that @bprashant

[2017-05-03 21:47] smarterclayton commented on #45300
@kubernetes/sig-apps-feature-requests

[2017-05-03 21:48] caesarxuchao commented on #45210
Sent #45306

[2017-05-03 21:52] lavalamp commented on #45037
I am possibly mixing up page ids and block numbers.

[2017-05-03 21:59] lavalamp commented on #45037
Pages 0 and 1 give two different locations for the freelist, which both seem to give valid free lists.

[code]

[code]

[code]

[code]

[2017-05-03 22:02] lavalamp commented on #45037
Yet the pages command clearly labels the first column as "page id" and says both 7919 and 8354 are free. Maybe this database is corrupt such that sequential page access doesn't work, but random page access does?

[2017-05-03 22:07] k82cn commented on #44127
here is the fix: https://github.com/kubernetes/kubernetes/pull/44309

[2017-05-03 22:09] k82cn commented on #44127
@dchen1107  it is added for code coverage :)

[2017-05-03 22:16] foxish commented on #45287
@kubernetes/sig-apps-bugs

[2017-05-03 22:18] foxish commented on #45287
@crimsonfaith91 This may be a good issue to look into.

[2017-05-03 22:19] lavalamp commented on #45037
hm, I was comparing pages command from the wrong snapshot. The correct snapshot indeed lists 8354 as the freelist (7919 is free).

[2017-05-03 22:29] ericchiang commented on #45293
The kubelet does decode secrets before exposing them to the pod.

[2017-05-03 22:30] vishh commented on #45249
A `map` was adequate at the beginning of the project (pre 1.0). Given that the current API will stay as-is for quite some time, identifying a means to handle `map` fields will be useful.

[2017-05-03 22:31] foxish commented on #45287
@JorritSalverda, can you post your manifest file? Would be interesting to try and reproduce this.
We think this might be due to the scale-down request that first goes out from kubectl, which should be using a PATCH, in place of using a PUT.

cc @kow3ns

[2017-05-03 22:32] lavalamp commented on #45037
Obviously not the problem we're looking for but still worth tracking: https://github.com/boltdb/bolt/issues/681

[2017-05-03 22:36] lavalamp commented on #45037
The actual last free block is 210031, not 68373.

[2017-05-03 22:37] ixdy commented on #45298
yeah, confirmed the bad version info is coming from `vendor/k8s.io/client-go/pkg/version`.
I don't understand why the api server is using that, though. @caesarxuchao @adohe @deads2k @liggitt

[2017-05-03 22:38] xiang90 commented on #45037
@lavalamp

But the check commands only say `1252482` and `1252483` is unreachabled. So the pages after `210031` should be still tracked by the freelist, no?

[2017-05-03 22:40] xiang90 commented on #45037
xref: https://github.com/coreos/etcd/issues/7870

etcd will track the snapshot pending duration, which might be the root cause of the unexpected growth of the db file. (We are still uncertain about the actual cause)

[2017-05-03 22:40] speedplane commented on #32257
I have 33 pods in my container (1 is substantive, the other 32 just run `tail` on log files). I get this all the time now.

[2017-05-03 22:57] lavalamp commented on #45037
Sorry, for that snapshot the last free block is 1252483 (1252482 is also in the free list). The total number of free blocks is 1255689.

[2017-05-03 23:34] xiang90 commented on #45037
@lavalamp Ah... OK. 1252483 is marked as "branch" (b+tree intermediate node). It should not be a free page listed in freelist, right? So the db file still seems to be corrupted somehow.

[2017-05-03 23:36] ixdy commented on #45298
cc @sttts
Is there a way to avoid having two `pkg/version/base.go`s?

[2017-05-03 23:55] yujuhong commented on #45279
I ran into this twice with my PR

[2017-05-04 00:06] gyliu513 opened #45318 "Do not use annotation for pod affinity"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-04 00:06] crimsonfaith91 commented on #45287
@foxish noted! i will prioritize this issue. :)

[2017-05-04 00:07] gyliu513 commented on #45318
/assign

[2017-05-04 00:14] pwittrock commented on #45279
Maybe this is a bug in the test infrastructure?

[2017-05-04 00:15] pwittrock commented on #45279
This [one](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/45305/pull-kubernetes-unit/28905/build-log.txt) too

[2017-05-04 00:36] lavalamp commented on #45037
Yeah.

[code]

I am confused that the page ID reported is not the page ID I passed to the command, but maybe that's how branch pages work.

[2017-05-04 00:49] mengqiy commented on #23199
@jlowdermilk Can we close this? since #17590 has been merged.

[2017-05-04 00:49] janetkuo commented on #44508
#45259 was lgtm'ed and pending approval from 1.4 release manager

[2017-05-04 00:54] pwittrock commented on #45279
Looks like the test is hitting [this](https://github.com/jstemmer/go-junit-report/issues/31)

The openapi test isn't failing, some other test is failing, but it missreports.

[2017-05-04 00:55] pwittrock commented on #45279
Example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5375?log#log

[2017-05-04 00:56] pwittrock commented on #45279
@jwforres

FYI:

[code]

[2017-05-04 01:03] davidopp commented on #44127
@bsalamat could you please verify that #44309 has fixed this problem, and close this issue once you have verified?

[2017-05-04 01:09] philips commented on #30518
I think this issue can be closed out. An ALB Ingress Controller is available as documented on kubernetes-users https://groups.google.com/forum/#!topic/kubernetes-users/92uFskIAnrE and it is documented in the kubernetes/ingress catalog: https://github.com/kubernetes/ingress/blob/master/docs/catalog.md

[2017-05-04 01:10] philips commented on #30518
@justinsb care to close this out?

[2017-05-04 01:14] pwittrock commented on #45279
Re opening this just to fix the missreporting

[2017-05-04 01:23] fejta commented on #45244
Any progress here? This is the last job which is always failing to start a cluster.

[2017-05-04 02:08] ddysher commented on #45053
@msau42 looking at this one

[2017-05-04 02:27] dunjut commented on #44702
* `kubectl get node k8s-2 -o yaml` [https://gist.github.com/dunjut/4161277c75269814dd64eab11f9d7735](result)

* `kubectl get node k8s-3 -o yaml` [https://gist.github.com/dunjut/d6e85eb62f8943f2d6da7c05537cfca7](result)

[2017-05-04 02:44] #44885 closed

[2017-05-04 02:58] xiangpengzhao commented on #40896
See: #45164 #44232

Comments from @cblecker

[2017-05-04 03:03] hiscal2015 opened #45324 "Error creating: pods "" is forbidden: SecurityContext.SupplementalGroups is forbidden"
Hi, all

I'm trying to deploy Jenkins with Kubernetes, Jenkins container will be running as GID 1000 and UID 1000, and I use glusterfs as storage backend.

Here is my part of deployment config:
[code]

I got error:
Error creating: pods "" is forbidden: SecurityContext.supplementalGroups is forbidden
Error creating: pods "" is forbidden: SecurityContext.RunAsUser is forbidden

How to fix it? Thanks

[2017-05-04 03:10] ashernevins commented on #45000
Thanks!

[2017-05-04 03:10] #45000 closed

[2017-05-04 03:21] #42492 closed

[2017-05-04 03:30] mkumatag commented on #44325
you should watch this - https://github.com/kubernetes/features/issues/288

[2017-05-04 04:41] mengqiy commented on #44589
Sorry for the delay.

The usage of old swagger:
kubectl [retrieve swagger using discovery API](https://github.com/kubernetes/kubernetes/blob/3a259d38b21881e51c8561c33f8f68ce2a3e9a88/pkg/kubectl/cmd/util/cached_discovery.go#L236).
It is implemented [here](https://github.com/kubernetes/kubernetes/blob/3a259d38b21881e51c8561c33f8f68ce2a3e9a88/pkg/kubectl/cmd/util/factory_object_mapping.go#L432).
And

[2017-05-04 04:48] DreadPirateShawn opened #45326 "Kubelet/cAdvisor memory usageBytes for node does not match sum of pod memory usage on said node"
**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu precise (12.04.4 LTS)
- **Kernel** (e.g. `uname -a`): 3.13.0-55-generic
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

We're seeing incongruous data being reported by kubelet/cAdvisor, with respect to node memory usage vs sum of

[2017-05-04 05:13] tacy commented on #45237
@Spindel  I can't reproduce it, use command:
`kubectl run busybox1 --image=busybox --requests="cpu=100m,memory=1Gi" --limits="cpu=1,memory=2Gi" --replicas=1 --restart=Never --command -- sleep 60`

[2017-05-04 05:53] mappedinn opened #45328 "NFS volume sharing issue between wordpress pod and mysql pod"
This repository [kubernetes-wordpress-with-nfs-volume-on-gke](https://github.com/mappedinn/kubernetes-wordpress-with-nfs-volume-on-gke) is trying to implement a wordpress application that shares an NFS volume between mySQL and wordpress. The idea behind sharing a NFS volume between pods is to implement in the next step a StatefulSet for mySQL. This StatefulSet application will need to share the da

[2017-05-04 06:13] supereagle commented on #44473
@yujuhong  Have submitted the PR #45329 to remove it. PTAL.

[2017-05-04 06:20] bowei commented on #44650
This does not look like a network issue -- the server certificate is coming up missing in the client's CA, which (I'm assuming) is the one that is mounted in at `/run/secrets/kubernetes.io/serviceaccount`. I suspect that if this file is missing, then the kubelet (API client) will no longer see the Kubernetes API server as a trusted TLS endpoint.

Seems like the place to start looking is whatever p

[2017-05-04 06:38] wojtek-t commented on #32257
@speedplane - to be honest, I don't undertsand what your wrote. what is "container" in "33 pods in my container"?
Also, if you believe there is a bug somewhere, please open a new issue instead of adding comment to more than half-year-old one.

[2017-05-04 06:45] bsalamat commented on #44127
I tried HEAD and made sure that #44309 is included, but after several successful runs of the test, my setup goes into the state that connection to the master fails with errors similar to the one below. I tried reaching to master from the same workstation running the tests. I had connectivity issues as well.

Unexpected error listing nodes: Get https://130.211.230.74/api/v1/nodes?fieldSelector=spec

[2017-05-04 07:06] yan234280533 commented on #45278
@yujuhong
In  fact, We use kubernetes to provide Serverless service. End-to-end time cost  of  deploy an  pod is about 2s. We find that as the  plegRelistPeriod  is set as 1s, it cost 800ms to report the status from kubelet to apiserver. So we try to  reedit the plegRelistPeriod   to 100ms , which can short the cost of eport the status from kubelet to apiserver to 200ms.

[2017-05-04 07:25] davidopp commented on #44127
This was a refactoring of the existing tests, not new test for 1.7.

@bsalamat Can you look into exactly what is failing, and decide if this should be a blocker? (Let's assume #44309 did not fix the problem -- should this be a blocker?)

[2017-05-04 07:35] xiangpengzhao commented on #44298
In this case, the `STATUS` is from [container.State.Waiting.Reason](https://github.com/kubernetes/kubernetes/blob/abd92fab1e8c1b638178d58efab7a09509a053c7/pkg/printers/internalversion/printers.go#L301). The Reason is from [here](https://github.com/kubernetes/kubernetes/blob/c51efa9ba0929a643544078d5c182ba75e4b4087/pkg/kubelet/kubelet_pods.go#L1363). One reason might be the content mentioned in thi

[2017-05-04 07:36] Spindel commented on #45237
I had to add a Node Selector as well to make it match, so the final yaml looks like this

[code]
Attaching log of "describe" on one of the nodes and the pod / creation,  including timestamps.
[commandlog.txt](https://github.com/kubernetes/kubernetes/files/975431/commandlog.txt)

[2017-05-04 07:42] wanghaoran1988 commented on #44127
@davidopp That PR was trying to fix the most failed scenario for "Pods created by ReplicationController should spread to different node", seems it worked. I am also looking into this one, and I already run the case half hour, but it never failed, still looking at this now.

[2017-05-04 07:53] Spindel commented on #45237
Further steps tested:
- Manually restart scheduler    - No difference
- Manually restart controller manager  - No difference
- Manually restart apiserver  - Jobs schedule!

All performed  on master, `docker kill <container id>`  and waiting for restart.

So, it seems that if I simply restart the apiserver,  the above job starts working properly.

I'm tempted to simply give up and make a cron job t

[2017-05-04 07:54] tobilarscheid commented on #25418
Hi,

I can't reproduce the bug as well. I did however come here by googling the issue, simply for the reason that updating the file in the container takes a few seconds after the config map has been updated. So just leaving this here in case someone ends up here as well!

[2017-05-04 08:11] liaoyw opened #45334 "Pod cgroup removed(process killed) before containers stopped, cause cni gets empty network namespace when TearDownPod"
**What keywords did you search in Kubernetes issues before filing this one?**
cgroup removed
May be related to https://github.com/kubernetes/kubernetes/pull/42585,  https://github.com/kubernetes/kubernetes/pull/42893, since it's merged,  start this new issue

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version:

[2017-05-04 08:15] gmarek commented on #45118
@ncdc - small clarification: 5 min threshold has nothing to do here. It only says that if Node is unresponsive for 5 or more minutes we'll start evicting Pods from that Node (modulo rate limiting). Deleting non-existing Nodes is a separate thing - when Node skips few heartbeats (currently 4) NC checks if cloud provider still returns the instance corresponding to that Node, and if not then delete t

[2017-05-04 08:29] gmarek commented on #45060
I think this is the first precedent of many to come, so we might as well spend some time to figure out where similar things should land in the future. @kubernetes/sig-api-machinery-api-reviews is probably the best ones to decide. `pkg/util` makes sense, though I think that `pkg/api` is also fine (despite the comment), as those functions will be useful for other projects that use Taints (and other

[2017-05-04 08:40] #45223 closed

[2017-05-04 08:43] jhagaurav026 opened #45336 "Templating init failed"
Templating init failed
Datasource named Prometheus was not found

how to resolve the issue ??? ASAP

[2017-05-04 08:50] jhagaurav026 commented on #45336
please view this screen shot

[2017-05-04 08:50] #45336 closed

[2017-05-04 09:11] hex108 opened #45339 "[Proposal]Add support to delete specified pods when scaling a deployment"
We've used kubernetes for a long time. There are some cases that we want/need to delete specific pods when scaling a deployment to smaller replicas, e.g.

* Case 1: we want to delete deployment A's pods on node N and do not affect deployment B's pods on the same node(node N).

* Case 2: we register deployment A's pods' ip to a load balancer. Then we remove some pods' ip from the load balancer for

[2017-05-04 09:17] xiangpengzhao commented on #45324
Did your apiserver switch on `SecurityContextDeny` admission controller ?

See: https://kubernetes.io/docs/admin/admission-controllers/#securitycontextdeny

[2017-05-04 09:17] kargakis commented on #45339
@kubernetes/sig-apps-feature-requests

This has also been mentioned in https://docs.google.com/document/d/1-H2hnZap7gQivcSU-9j4ZrJ8wE_WwcfOkTeAGjzUyLA

cc: @bgrant0607 @jbeda @mfojtik @tnozicka

[2017-05-04 09:24] hex108 commented on #45339
@kargakis Thanks, it seems I do not have permission to see it :( , I just applied.

[2017-05-04 09:51] JorritSalverda commented on #45287
One of the statefulsets where this fails has the following manifest:

[code]

The error is indeed the same for deleting the _statefulset_ as when scaling it up/down. For scaling the stafefulset `kubectl patch` works around the error. However even if it's already scaled down to 0 `kubectl delete` internally tries to do the same again, I guess, and fails doing that.

[2017-05-04 09:59] gyliu513 opened #45342 "Taint based evictions is broken"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-04 09:59] gyliu513 commented on #45342
/cc @gmarek related to #43444

[2017-05-04 10:17] sttts commented on #45298
@ixdy in the apiserver we could default to fake values and instantiate the /version endpoint with real values in kube-apiserver. But then client-go's version is still broken. Anybody else using the client-go version? Do we actually need that anywhere? /cc @caesarxuchao

[2017-05-04 10:17] wanghaoran1988 commented on #44127
Met the  same problem with the testing client and cluster both on the GCE cloud, but always pass if I run the testing code inside my internal network , with cluster on the GCE side.

[2017-05-04 10:36] Starefossen commented on #29206
Seing this on v1.6.1 as well.

[2017-05-04 11:01] abdasgupta commented on #44022
Hi Vaibhav,
Have you raised any PR on it? If raised, reviewing would be easier.
There is one thing I noticed:
```if e, a := (expectedEmptyDirUsage.Value() + getExpectedBlockSize(tmpDir)), actual.Used.Value(); e != a {```

In the above code, you are comparing actual used value with total of empty directory usage and expected block size. When you create a new file like "f1 created here with only "He

[2017-05-04 11:30] gmarek commented on #45342
This is not related to `TaintBasedEviction` - this flag changes only the way NC does the evictions in case of Node problems. What you show here is the problem with `NoExecute` taints themselves which is more serious. But we do have test that does pretty much exactly what you wrote (`test/e2e/taints_test.go`) and it's passing: https://k8s-testgrid.appspot.com/google-gce#gce-serial, which is strange

[2017-05-04 11:38] gmarek commented on #45342
I run exactly your commands (even with x and y) and it works for me every time. If for some reason you used `node.alpha.kubernetes.io/notReady` as a key for Taint, then you should notice that there's a default 5m toleration for that Taint.

[2017-05-04 11:40] gmarek commented on #45342
Plus #43444 is already fixed.

[2017-05-04 11:42] sheerun commented on #26202
it happens with helm so workaround is not possible

[2017-05-04 11:49] matt-potter commented on #35997
FYI, although I'm sure you're aware - also affects AWS multi AZ clusters (1.6.2)

[2017-05-04 11:54] sheerun commented on #26202
The working workaround for me is to explicitly set matchLabels in deployment:

[code]

[2017-05-04 11:58] drinktee commented on #18174
What about edit hosts to  "master   ip1,ip2,ip3"?
Does this work?

[2017-05-04 12:15] gmarek opened #45348 "DefaultTolerationSeconds admission controller overwrites existing tolerations"
At least at think it's what happens.
The code in daemoncontroller says:
[code]
And code in admission controller says:
[code]

Which seems fine. But for some reason I get only 300s toleration on fluentd daemons:
[code]

Effect is as expected - daemons get evicted and they're recreated straight away.
@kubernetes/sig-scheduling-bugs

[2017-05-04 12:43] gmarek commented on #26507
@yurishkuro - Architecture doc I saw, but somehow I missed deployment one when browsing, thanks! It's mentioned in it that you're (plural you of course:) working on writing a kubernetes setup for the whole stack - how this work is progressing?

IIUC ("Jaeger client libraries expect jaeger-agent process to run locally on each host.") currently there's no way to create an agent that'll be shared acr

[2017-05-04 12:59] jsravn commented on #41916
So to summarise my thoughts so far:
- Using an ELB is problematic because ELB doesn't handle the long lived kubelet/kube-proxy connections well, causing node NotReady outages if the ELB scales up and down. This can be mitigated by one of: 1) swapping to DNS 2) using more lenient grace periods on the node controller, to give kubelet a chance to reconnect (shouldn't take more than 4-5 minutes, I wou

[2017-05-04 13:10] k82cn commented on #45348
@gmarek , I think we should no call `v1helper.AddOrUpdateTolerationInPod` in `nodeShouldRunDaemonPod` which only check scheduler.predicates; this should be call when creating Pods in `dsc.manage`.

I'll create a PR for that.

[2017-05-04 13:20] gmarek commented on #45348
Yup. I already did.

[2017-05-04 13:23] michalmedvecky opened #45350 "Cinder volume attach does not work"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Openstack (unknown version)
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): 4.4.0-28-generic
- **Install tools**: kubeadm

**What happened**:

Cinder volume does not mount

**What you expected to happen**:

Cinder volume does mount

**How to r

[2017-05-04 13:26] jsravn commented on #18174
@drinktee It'd probably work if you use dnsmasq locally since it will round robin record sets but have not tested it.

[2017-05-04 13:43] micah commented on #45284
I had to install dbus, dmsetup and linux-image-extra for my kernel and then things worked.

[2017-05-04 13:43] #45284 closed

[2017-05-04 13:44] rrati commented on #45118
This isn't the case for only aws.  Looking at the code it appears at least openstack, aws, vsphere, ovirt, rackspace cloud providers also filter on available node.  I wasn't able to verify whether azure or others were doing the filtering.  If they weren't, then at best we have inconsistency with different cloud providers.

IMO we shouldn't be deleting a node from kubernetes if it is just stopped o

[2017-05-04 13:45] alexbrand opened #45353 "x509 auth: Multiple groups are not supported when using certificates generated by cfssl"
**Keywords**: x509 authentication certificates cfssl

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): `v1.6.2`

**What happened**: When using x509 authentication with a certificate that has multiple organizations in the Subject, the first organization is used as the user's group, but the rest are dropped.

**What you expected t

[2017-05-04 13:54] xiangpengzhao commented on #45284
Thanks @micah for the information!

[2017-05-04 13:58] koubas commented on #34043
@databus23 not yet Now I've just purposely turned off one of my masters and the new nodes failed to join the cluster, because they tried to connect to advertised addresses, instead of the ELB, so it's still causing real problems to us :(

[2017-05-04 14:00] gyliu513 commented on #45342
@gmarek can you please append you controller manager log here? I want to have a check for the log to see what is wrong with my environment. Thanks.

[2017-05-04 14:01] ncdc commented on #45118
@gmarek ouch, that's even worse! Isn't that only 40-50 seconds?

@justinsb and I chatted yesterday and I think there are a couple of possible ways to look at this:

1. I'm used to doing things the "old way" where I treat my servers as pets, and I want to be the one who decides when to retire/delete a server.
2. I'm willing to treat servers as cattle, and if I ever need to take a server down so I c

[2017-05-04 14:19] bboreham commented on #44307
We are getting reports of this still happening with 1.6.2 - why is kubelet even trying to run the CNI plugin on a hostNetwork pod?

[2017-05-04 14:23] kargakis opened #45357 "Add `kubectl set affinity` command"
The affinity fields are nesting a bunch of levels deep making it really hard to hand-craft a JSON/YAML file with configured affinity for a controller that this command is warranted.

@kubernetes/sig-scheduling-misc @kubernetes/sig-cli-misc

[2017-05-04 14:23] bboreham commented on #44307
NetworkPlugin cni failed to teardown pod \"weave-net-cf1zw_kube-system\" network: unable to release IP address: dial tcp 127.0.0.1:6784: getsockopt: connection refused"

Kubernetes can't tear down the old pod because the network daemon isn't running, but the network daemon isn't running because Kubernetes won't restart the pod until it can tear down the old one, and the pod **is** the network daem

[2017-05-04 14:29] gyliu513 commented on #45357
When using `kubectl set affinity`, the pods for the deployment should already be running, so how to make the updated affinity take effect?

[2017-05-04 14:37] kargakis commented on #45357
@gyliu513 once the {Deployment,DaemonSet,StatefulSet} PodTemplateSpec is updated, a new rollout kicks off - old pods are deleted, new pods are created. This could also work for ReplicaSets but you would have to manually kill the old Pods for the new Pods to be scheduled using the new affinity rules.

[2017-05-04 14:41] jayunit100 commented on #42002
**summary**

During 1.7 we need to:

- [ ] finish adding necessary for primitives that will allow daemonset-ish functionality without DOS in the scheduler #22212
- [ ] Also make sure gauranteed admission is working #40573

After 1.7:

- [ ] refine the primitives further to make sure they can be used by the scheduler for Daemonsets.
- [ ] implement daemonset in the scheduler using high prio / gaura

[2017-05-04 14:46] Deepakkothandan commented on #28226
@mgoodness @borsboom I am facing the same issue as @while1eq1. I am fairly new to k8s and playing around with it. Any suggestions would be helpful.

fit failure summary on nodes : NoVolumeZoneConflict (2), PodToleratesNodeTaints (1)

The pv, pvclaim and rc manifests are as follows,

`apiVersion: v1
kind: PersistentVolume
metadata:
  name: redisefs
spec:
  capacity:
    storage: 5Gi
  accessModes:

[2017-05-04 14:49] gyliu513 commented on #45357
@kargakis I see, so this is a `special update for affinity`. Can you please show more detail for how to define the command? i.e. the subcommand, help etc?

[2017-05-04 14:52] DirectXMan12 commented on #45210
I'd much rather copy some of the used types in instead, instead of just removing the internal metrics types.  `k8s.io/metrics` is intended to be consumed by both clients and API servers, so we can't just remove the ability to do conversions.

[2017-05-04 14:53] bboreham commented on #44963
So what does the return path look like?  Are the packets from the pod coming back to the original client with the pod's IP as source address, or is that getting rewritten to the service IP?

[2017-05-04 14:54] rafagsiqueira opened #45359 "User "system:serviceaccount:kube-system:kube-proxy" cannot list services at the cluster scope"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T22:51:55Z", GoVersion:"go1.8.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452

[2017-05-04 15:03] timothysc commented on #45357
Umm this would lead to more confusion imo.
This is a YAML problem not a control flow or spec problem.

/cc @hausdorff

[2017-05-04 15:05] kargakis commented on #45357
@gyliu513 you mean how would I use it? I was envisioning something like
[code]
Or something along those lines. I am not married to the subcommand name, if there are no mutually exclusive flags between pod and node affinity then I would prefer a single command, otherwise separate commands for each type of affinity make sense.

[2017-05-04 15:12] jbeda commented on #45357
I don't think it is sustainable to have a command for every tunable in every object. And it is strange that it is here but not on `kubectl run`. I understand the pain, but if yaml is too hard to edit that is the problem we should be tackling. Or have a plan to update everything.

Perhaps, in the meantime, use `kubectl patch`?

[2017-05-04 15:14] kargakis commented on #45357
We should stop adding stuff in `kubectl run` (look at the help text) and I can't see why using `kubectl patch` is any different from hand-crafting JSON/YAML files, it's just ... more scriptable than using an editor.

[2017-05-04 15:17] mccormd opened #45361 "--register-with-taints not tainting my controller nodes"
BUG REPORT

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:22:08Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7e

[2017-05-04 15:17] yujuhong commented on #45257
Another one: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45316/pull-kubernetes-unit/29014/

@kubernetes/sig-federation-bugs

[2017-05-04 15:26] ddysher commented on #45053
At which layer do we want to solve the problem? If at scheduling time, then we want to make `fsGroup` part of the resources managed by scheduler, which I don't know if it is desirable (e.g. kubernetes explicitly doesn't want to manage port as a resource). If at pod startup time, one option is to refuse new pods from using different `fsGroup`, but this does mean we give higher 'priority' to the fir

[2017-05-04 15:29] timothysc commented on #44127
Last 2 runs look green and one is still running.

[2017-05-04 15:33] kargakis commented on #45357
Probably dupe of https://github.com/kubernetes/kubernetes/issues/7296

[2017-05-04 15:36] jrynyt opened #45363 "kube-dns per node"
**Is this a request for help?**:
No

**What keywords did you search in Kubernetes issues before filing this one?**
kube-dns local
kube-dns each
kube-dns node

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Kubernetes version** (use `kubectl version`):
1.6.2

Containers' resolv.conf contain the kube-dns Service ClusterIP as the one and only nameserver. Given that Serv

[2017-05-04 15:42] liggitt commented on #45298
kubectl uses it for current version for user-agent, etc

[2017-05-04 15:47] timothysc commented on #18174
@kubernetes/sig-cluster-lifecycle-feature-requests there are several more issues with a similar theme referenced here, and it was the "contentious" part of our discussion on Tuesday.

[2017-05-04 15:52] gyliu513 commented on #45342
This is my controller log, there is no eviction message. @gmarek it would be great if you can share your log message here so that I can check what is wrong with my test.

[code]

[2017-05-04 15:57] tsn77130 commented on #43634
same problem for me, thanks for your opened issue, indeed apiserver message isn't very explicit

[2017-05-04 15:57] dchen1107 commented on #44127
Thanks everyone for helping on this issue. We are going to cut 1.7 alpha-3 shortly based on current test results. Thanks!

[2017-05-04 16:04] DreadPirateShawn commented on #45326
Note: Quite possibly related to https://github.com/kubernetes/heapster/issues/1593

[2017-05-04 16:05] guillelb commented on #29549
Can you explain how to do that? "This issue has been fixed once TLS enabled in cluster".
I have the same problem creating a basic deployment:
`Sync "default/my-first-nginx-201461591" failed with unable to create pods: No API token found for service account "default", retry after the token is automatically created and added to the service account`

I have service account "default":
`# kubectl get s

[2017-05-04 16:05] gmarek commented on #45342
@gyliu513 - you can look at the logs in http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1023/ (you can get times when the taint test was running from logs)

[2017-05-04 16:08] kfox1111 commented on #18174
using dnsmasq is the same issue as using another local load balancer. yet one more thing to manage per host.

[2017-05-04 16:15] discordianfish commented on #43515
@jingxu97 I hope I didn't miss some secrets in there, quite a talky log. But here it is: https://gist.github.com/discordianfish/ea71d76a87a302997819e1ffc9f340ff#file-gistfile1-txt-L1314

The database didn't respond anymore because it ran OOM and was killed, as also shown in the log. Although it appears like it was OOM killed *after* it became unresponsive in the log.. Either way, a bunch of other

[2017-05-04 16:20] pipejakob commented on #45244
Yup, with all of the alpha features turned on, we're scheduling more pods on the master than it can handle (at least, based on their spec resource requests). I don't think we need a larger instance type yet, so I've been looking at rebalancing their resource requests, and expect to have a code review out today.

[2017-05-04 16:37] ericchiang commented on #45353
cc @kubernetes/sig-auth-bugs

[2017-05-04 16:39] gmarek commented on #45342
@gyliu513 - with what `v` level are you running? On 4 there should be logs from `taint_controller` that says when it sees Node Taint update.

[2017-05-04 16:47] gmarek commented on #45118
Yes, I believe it's 40s.

I'm curious why we don't want to just change the implementation of cloud provider, so that we'll use 'full list' (i.e. one including not running Nodes, so only delete ones that are really not present) in NC?

[2017-05-04 16:49] ncdc commented on #45118
That also works for me, assuming it doesn't cause any issues.

[2017-05-04 17:06] luksa opened #45366 "system:discovery cluster role should include the "/" nonResourceURL"
**What keywords did you search in Kubernetes issues before filing this one?**
- system:discovery
- nonResourceURLs

---
**Problem description**
Shouldn't the system:discovery cluster role also allow listing the API server's root URL? It allows URLs like `/api`, `/apis`, `/healthz`, but not `/`, which would help in discovering API endpoints.

**Kubernetes version** (use `kubectl version`):
Client V

[2017-05-04 17:14] luxas commented on #45361
@mikedanese PTAL

I think I can confirm this issue, I'm pretty sure I hit this as well this morning...

[2017-05-04 17:22] SleepyBrett commented on #29738
This bit our 1.6 cluster hard. We run a self-hosted cluster and things like kube-proxy and flannel are distributed via daemonset. Suddenly every tainted node failed to come up properly because they don't have the overlay network or a kube proxy. So now instead of being able to add a new pool of tainted nodes (we do this not-infrequently) via a simple terraform apply (to spin up a new ASG of nodes)

[2017-05-04 17:23] bsalamat commented on #44127
The failure that I am observing is not necessarily a test failure. Every time that the test actually ran, it passed, but the problem is that after several execution of the test, the master becomes unreachable, which is a bit odd. I will take another look today.

[2017-05-04 17:25] yurishkuro commented on #26507
@pavolloffay started with a k8 template for all-in-one (https://github.com/uber/jaeger/pull/119)

The overall issue for real k8 templates is here: https://github.com/uber/jaeger/issues/58. Pavol mentioned there's a way to run jaeger-agent via daemon set

[2017-05-04 17:25] msau42 commented on #45053
I think enforcing at mount time would work.  I think it is ok because if two pods are sharing a volume, then they should be coordinating together anyway.

[2017-05-04 17:30] SleepyBrett opened #45367 "Think about requiring special privileges for setting some tolerations"
- Describe *in detail* the feature/behavior/change you'd like to see.
Since 1.6 daemonsets now respect node taints. This makes running a self-hosted kubernetes problematic as kube-proxy/flannel etc are all scheduled by daemonsets. In a very stable environment where you know all the node taints you use and can add those to all the daemonsets ahead of time this isn't much of an issue. However we add

[2017-05-04 17:35] jayunit100 commented on #44953
/assign @ravisantoshgudimetla

[2017-05-04 17:35] yujuhong opened #45368 "Test failures caused by kernel NULL pointer dereference on debian-based CVM"
Initially observed this in PR tests: https://github.com/kubernetes/kubernetes/pull/44326#issuecomment-299251676
Then I checked [ci-kubernetes-e2e-gce-etcd3](https://k8s-testgrid.appspot.com/google-gce#gce-etcd3) and found that the suite failed ~3 times and day and many of them were caused by the kernel panic.

A few examples:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kube

[2017-05-04 17:38] mengqiy commented on #26202
Another workaround is explicitly set the matchLabels you want to clear to nulls. It will clear the defaulted labels.

[2017-05-04 17:41] ingcsmoreno commented on #31548
@alouane check section "Creating a Secret Manually" here: https://kubernetes.io/docs/concepts/configuration/secret/#creating-a-secret-manually

[2017-05-04 17:47] liggitt commented on #45359
kubeadm is setting up the binding to the `system:node-proxier` role for that service account here:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/apiconfig/clusterroles.go#L160

@luxas @andrewrynhard can you take a look?

[2017-05-04 17:49] pipejakob commented on #45244
I sent out an internal proposal for how to scale these, and am working on the code to be able to override the defaults in the cluster scripts.

[2017-05-04 17:51] XiaoningDing commented on #45300
My thought is to introduce a system label like alpha.kubernetes.io/role-active to mark which instance is the current active role. Only one instance will have this label at any given time. This label can be assigned by a controller or elected through other ways.  And Kubernetes will update the associated service to include this additional label selector, so traffic routing will be done automaticall

[2017-05-04 17:54] rafagsiqueira commented on #45359
If it helps, this was my full kubeadm init command:
`kubeadm init --apiserver-advertise-address 52.170.213.130 --apiserver-cert-extra-sans=master.digify.com.br,node1.digify.com.br --pod-network-cidr=10.244.0.0/16`

[2017-05-04 17:55] liggitt commented on #45359
what does `kubectl get clusterrolebindings kubeadm:node-proxier -o yaml` show?

[2017-05-04 17:55] liggitt commented on #45359
and did you remove any clusterrolebindings after running kubeadm init?

[2017-05-04 18:04] quinton-hoole commented on #35997
This seems bad.  I'll try to take a look into it.  @kubernetes/sig-federation-bugs

[2017-05-04 18:04] rafagsiqueira commented on #45359
`apiVersion: rbac.authorization.k8s.io/v1beta1`
`kind: ClusterRoleBinding`
`metadata:`
`  creationTimestamp: 2017-05-04T17:38:38Z`
`  name: kubeadm:node-proxier`
`  resourceVersion: "97"`
`  selfLink: /apis/rbac.authorization.k8s.io/v1beta1/clusterrolebindingskubeadm%3Anode-proxier`
`  uid: 81f688d7-30f0-11e7-9d74-000d3a1b1785`
`roleRef:`
`  apiGroup: rbac.authorization.k8s.io`
`  kind: ClusterRol

[2017-05-04 18:06] henriquetruta commented on #31184
@quinton-hoole what's the status of this issue? Anyone working on it?

[2017-05-04 18:07] SleepyBrett commented on #45367
it was suggested the the following might work, it does not seem to:
`scheduler.alpha.kubernetes.io/tolerations: '[{"operator":"Exists"}]'`

[2017-05-04 18:09] rafagsiqueira commented on #45359
I have recreated the cluster afterwards and the problem did not happen again. Since I can't reproduce it, will close this.

[2017-05-04 18:09] #45359 closed

[2017-05-04 18:10] liggitt commented on #45359
creating a rolebinding would not have removed that error, since it does not grant permission to list things at the cluster scope.

there is a period of time at cluster start during which RBAC is initializing where requests are denied. it is likely the logging happened during that time period.

[2017-05-04 18:12] rafagsiqueira commented on #45359
Sorry for my misunderstanding. I ran into this log errors while trying to solve a 404 error when trying to kubectl log or kubectl exec any pod that is not running on the master node. Will open another issue for this.

[2017-05-04 18:15] aveshagarwal commented on #45361
@luxas as we discussed on slack, its an issue with kubeadm.

To double check, I also verified locally on cluster by adding --register-with-taints flag to kubelet and the node got registered with the provided taint as expected.

[2017-05-04 18:15] aardappel commented on #45228
Some advantages of using FlatBuffers:

- Can initially use it as "just" a JSON parser, and only gradually extend its role where efficiency is key.
- Strongly typed JSON parsing through a schema, so all JSON type problems get caught at parse time automatically.. at access time, you have strongly typed accessors that are guaranteed to be the correct type. No error handling needed in the access code.

[2017-05-04 18:17] liggitt commented on #45366
cc @kubernetes/sig-auth-misc

[2017-05-04 18:22] liggitt commented on #45353
certs with multiple organizations can work (there's a unit test at https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go#L577) but it depends on how the RDN of the cert is constructed.

[2017-05-04 18:26] alexbrand commented on #45353
Got it. I think it's mainly an issue with `cfssl` generating certs with misconstructed RDNs.

[2017-05-04 18:26] liggitt commented on #45353
partly the way cfssl constructs them, partly the way go flattens the multi-dimensional RDN (which they changed in 1.8)

[2017-05-04 18:32] aveshagarwal commented on #45367
@SleepyBrett it is kind of alluded in the documentation here: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

see this line: `As a special case, an empty key with operator Exists matches all keys and all values. Also as a special case, empty effect matches all effects.`

In general, it would be good to have some sort of restriction to not allow someone with not special privileg

[2017-05-04 18:33] aveshagarwal commented on #45367
@kubernetes/sig-scheduling-misc

[2017-05-04 18:34] mbohlool commented on #44589
Thanks. From what I read, we have two options:
1. Read openapi spec instead of swagger and convert it inline to old swagger (so no change in validation code)
2. Fix validation code to use openapi instead of swagger (prefered). You can use OpenAPI loader @pwittrock wrote.
Doing first one seems to be faster, but keep in mind, you need to cache result because it taking some time to load. I really pre

[2017-05-04 18:34] yujuhong commented on #42492
Thanks everyone for the help!

[2017-05-04 18:36] madhusudancs commented on #31184
@henriquetruta you can both disable the API and the controller now. [Federation API server](https://kubernetes.io/docs/admin/federation-apiserver/) now supports ` --runtime-config` which takes a list of APIs you want to enable/disable. [Federation controller manager](https://kubernetes.io/docs/admin/federation-controller-manager/) now supports `--controllers` which takes the list of controllers yo

[2017-05-04 18:36] madhusudancs commented on #31184
@nikhiljindal do you think we can close this issue now?

[2017-05-04 18:37] davidopp commented on #45367
I'm going to re-title this issue since the original request is already implemented, as @SleepyBrett noticed.

[2017-05-04 18:44] ffelicissimo opened #45371 "saltbase/salt/generate-cert/make-ca-cert.sh: No such file or directory"
Hi,
I'm trying to install the kubernetes cluster using **ubuntu 16.0.4 server** using the kubernetes.io documentation below link:

**Https://kubernetes.io/docs/getting-started-guides/ubuntu/manual/**

fernando@s500lxkubernetes01:~/kubernetes/cluster$ DEBUG=true KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
... Starting cluster using provider: ubuntu
... calling verify-prereqs
Identity added: /home/ferna

[2017-05-04 18:47] ericchiang commented on #45366
I think the original motivation for system:discovery is so when you run `kubectl version` against a cluster without credentials you get something useful. But since system:discovery is tied to system:unauthenticated, I'd really prefer we lock it down as much as possible. It's surprising when people can do stuff without needing credentials.

Does this break some tools or is this just a nice to have?

[2017-05-04 18:48] Rushit commented on #39559
Hi,

I could add some tests here. Is there any priority or should i just pick lowest first?

[2017-05-04 18:57] mengqiy commented on #44589
I'm leaning to the second option, too.
But as discussed in https://github.com/kubernetes/kubernetes/issues/39434 the client side validation will be moved to the server-side in 1 or 2 releases. So the client-side validation code won't live long.

[2017-05-04 19:03] smarterclayton commented on #40846
Yw :)

[2017-05-04 19:04] mbohlool commented on #44589
That means we should support old swagger for 2-3 releases. How much work do you think option 2 is?

[2017-05-04 19:10] foxish commented on #30628
cc @kubernetes/sig-apps-bugs

[2017-05-04 19:13] justinsb commented on #45368
Possibly related report here: https://github.com/kubernetes/kops/issues/874#issuecomment-293123067

Different stack trace, but reported as fixed by some patches which are _not_ in the 4.4 kernel for some reason.

[2017-05-04 19:17] justinsb opened #45373 "feature suggestion: kubectl describe service should show pod names"
It is easier to mess up the selectors on a service, than it is to diagnose that it has gone wrong.

If `kubectl describe service` showed the pod names for endpoints (not just the pod IPs), I think it would be as easy to diagnose as it is mess up :-)

Could probably add this, but wanted to see if there was any objection / reason why not etc before doing so.  cc @kubernetes/sig-cli-feature-requests

[2017-05-04 19:38] lukaszo commented on #30628
DaemonSet controller is already using rate limiting queue https://github.com/kubernetes/kubernetes/pull/32210 so it seems to be a different bug.

[2017-05-04 19:40] enj opened #45375 "Panic in TestCancelAndReadd"
`TestCancelAndReadd` has a race condition that causes a panic due to:

1. A very short wait-to-start-time of `100 * time.Millisecond` which causes `wg.Done()` to be called too many times
2. Not using a fake clock such as the code in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/queue/work_queue_test.go

[code]

cc @gmarek @davidopp @timothysc @liggitt @stevekuznetsov

xref:

[2017-05-04 19:47] spiffxp commented on #3120
@kubernetes/sig-testing-misc
/remove area/test-infra
/assign

I agree we've got the data

[2017-05-04 19:47] spiffxp commented on #3120
/close

[2017-05-04 19:47] #3120 closed

[2017-05-04 19:47] luxas commented on #45361
@aveshagarwal Sorry, seems like there were two different issues. Mine was kubeadm-specific (fixed here: https://github.com/kubernetes/kubernetes/pull/45376), but after reading this in more detail, it isn't set up with kubeadm.

@aveshagarwal Can you please revisit this issue? Sorry for the confusion

[2017-05-04 19:52] spiffxp commented on #17079
/assign

[2017-05-04 19:53] spiffxp commented on #17079
/close

I think testgrid.k8s.io satisfies this

[2017-05-04 19:53] #17079 closed

[2017-05-04 19:55] jsravn commented on #18174
Not really the same thing. In fact I'd recommend using dnsmasq in general per node to add additional DNS resiliency and performance, but getting off topic here :).

[2017-05-04 19:55] timothysc commented on #39559
Priority on code coverage for 1.7 cycle is low and TBH requires re-evaluation.
@k82cn do you have updated #'s?

[2017-05-04 19:56] mengqiy commented on #44589
That's not good. We definitely should use OpenAPI.

Should not be too much.

[2017-05-04 20:12] MrHohn commented on #44963
In this case, service IP shouldn't be involved, as the original destination IP is the node IP instead of service IP. I'd expect the return packets' source address got rewritten to the node IP.

[2017-05-04 20:14] david-mcmahon commented on #36259
(Still) hitting this on the current alpha release:
[code]

@caesarxuchao

[2017-05-04 20:20] gmarek commented on #45375
cc @smarterclayton

[2017-05-04 20:20] mattfarina opened #45377 "Update docker/distribution"
There is a bug around k8s use of Docker distribution that's trickling into helm development.

_&TLDR;_ K8s uses revision _cd27f179f2c10c5d300e6d09025b538c475b0d51_ of github.com/docker/distribution (a commit between releases). When helm development scripts try to install this package on Windows it runs into the bug https://github.com/docker/distribution/issues/1690 that has already been fixed. A s

[2017-05-04 20:24] wojtek-t commented on #45037
@lavalamp @xiang90 - what else can we do to debug the issue? Any ideas?

[2017-05-04 20:27] xiang90 commented on #45037
@wojtek-t

At this point, I am 90% sure the issue is not from k8s code.

We are going to implement https://github.com/coreos/etcd/issues/7870, and probably back port it to both 3.0 and 3.1.

Then we need to run k8s against this patched etcd to see if this is a problem from etcd itself or from boltdb when the snapshot growth happens.

[2017-05-04 20:28] xiang90 commented on #45037
@wojtek-t

It would be helpful if we can reproduce this issue. The etcd team will also develop a tool to strip out sensitive data, so that we can debug customer's data directory. But it might take us a while to finish.

[2017-05-04 20:36] MrHohn commented on #44963
@bboreham Also to clarify, this [`OnlyLocal` feature](https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-typeloadbalancer) ensures all external requests sent to the specific service (through nodeIP:serviceNodePort) be routed to backend pods on the same node. The incoming path will remain on the node without going out to other nodes. So it doesn't seem like the rou

[2017-05-04 20:36] davidopp commented on #29738
What do you mean by wildcard toleration?
Check out the API at

and let us know if doesn't let you do what you want.
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L2223

[2017-05-04 20:45] MrHohn commented on #45363
/area dns

Also see #32749. There was a WIP (#34523) that tried deploy dnsmasq on each node.

[2017-05-04 20:47] erictune commented on #45377
/assign @dchen1107
@kubernetes/sig-node-bugs

[2017-05-04 20:48] k8s-merge-robot opened #45380 "Failure cluster [b5cef4...] failed 182 builds, 33 jobs, and 1 tests over 1 days"
### Failure cluster [b5cef46ee8806414caa8](https://go.k8s.io/triage#b5cef46ee8806414caa8)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    33 jobs failed,    182 builds failed.
Failure stats cover 1 day time range '3 May 2017 19:06 UTC' to '4 May 2017 19:06 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 33 |

##### Top

[2017-05-04 20:48] k8s-merge-robot opened #45381 "Failing to start cluster in ip-alias suite"
### Failure cluster [ea6679417165f10786e6](https://go.k8s.io/triage#ea6679417165f10786e6)
##### Error text:
[code]

Testgrid: https://k8s-testgrid.appspot.com/google-gci#ip-alias&width=5
Gubernator: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ip-alias/1303?log#log

[Current Status](https://go.k8s.io/triage#ea6679417165f10786e6)

[2017-05-04 20:48] erictune commented on #45377
@mattfarina which K8s installer are you using to create your cluster? Is this a request for all installers to use the newer version?

[2017-05-04 20:51] erictune commented on #45375
@yujuhong you wrote this test.  Can you take a look?
@kubernetes/sig-node-bugs

[2017-05-04 20:52] erictune commented on #45373
@kubernetes/sig-cli-feature-requests
@pwittrock

[2017-05-04 20:55] erictune commented on #45371
Ubuntu maintainers: @Crazykev  @resouer @xlgao-zju

[2017-05-04 20:55] #36794 closed

[2017-05-04 20:55] #37259 closed

[2017-05-04 20:56] ixdy commented on #45380
This failure cluster is meaningless.

[2017-05-04 21:00] erictune commented on #45368
Bug scrub: trying to close non-actionable issues.  Cannot determine next steps or assignee.  Will reopen if this becomes actionable.

[2017-05-04 21:02] fejta commented on #45380
/assign
/unassign @ixdy

[2017-05-04 21:02] gmarek commented on #45375
No, I think it's mine. I'll take a look tomorrow. The quickest "fix" would be to increase the timeout.

[2017-05-04 21:04] mattfarina commented on #45377
The request is to update the vendored version of the dependency to a newer release that does not contain the issue. See https://github.com/kubernetes/kubernetes/blob/d23c73687a54bc645f59ad3f66c9ad731fda60a6/Godeps/Godeps.json#L825 (this is the tip of master when I grabbed it).

[2017-05-04 21:07] ixdy commented on #45380
To be more explicit: we probably shouldn't be creating clusters for "overall test run failed", at least not when there are other failures. It might be useful if there were no other failures (since that suggests some sort of test or cluster setup failure), but the three recent failures linked here also had corresponding test case failures.

This isn't really new. We've had "broken test run" issues

[2017-05-04 21:09] erictune commented on #45361
by the way, luxas, you could do `/assign @aveshagarwal`

[2017-05-04 21:10] #43412 closed

[2017-05-04 21:11] davidopp commented on #45357
Yeah I think affinity is too complex to fashion a reasonable way to express it on the command line.

[2017-05-04 21:11] erictune commented on #45353
@alexbrand closing since I think it is not a Kube problem.  Please complain if it should not be closed.

[2017-05-04 21:11] #45353 closed

[2017-05-04 21:12] #44699 closed

[2017-05-04 21:13] erictune commented on #45350
@kubernetes/sig-storage-bugs

[2017-05-04 21:14] erictune commented on #45348
/assign @k82cn

[2017-05-04 21:15] yujuhong commented on #40977
Closing obsolete bugs.

[2017-05-04 21:15] #40977 closed

[2017-05-04 21:15] erictune commented on #45342
@kubernetes/sig-scheduling-bugs

[2017-05-04 21:15] erictune commented on #45339
@foxish if we had this I guess Spark could use deployments?

[2017-05-04 21:15] #42110 closed

[2017-05-04 21:17] erictune commented on #45334
@kubernetes/sig-node-bugs

[2017-05-04 21:20] grodrigues3 commented on #45328
/close

This is application specific and is better suited for stack overflow.

[2017-05-04 21:20] grodrigues3 commented on #45328
/assign

[2017-05-04 21:20] grodrigues3 commented on #45328
/close

[2017-05-04 21:20] #45328 closed

[2017-05-04 21:22] davidopp commented on #45339
@hex108 the doc is shared with a number of SIG mailing lists already, but I also shared with kubernetes-dev so you should be able to view it if you join kubernetes-dev

evictionCost is mentioned briefly in the doc, but the main issue for this particular feature is #4301 and I think this is probably a duplicate and should be closed (add your requirements to that issue).

[2017-05-04 21:24] erictune commented on #45326
Not everything is in a Pod, but node bytes probably includes those things?

[2017-05-04 21:24] #45326 closed

[2017-05-04 21:24] grodrigues3 commented on #45375
@yujuhong we're trying to make sure all issues have associated sigs.  If you remove a sig label, can you add the correct sig/label.

[2017-05-04 21:27] erictune commented on #45324
Is the format supposed to be a range:
https://kubernetes.io/docs/api-reference/v1.6/#idrange-v1beta1-extensions

[2017-05-04 21:28] gmarek commented on #45375
I'll fix this tomorrow - no need to apply labels here.

[2017-05-04 21:30] erictune commented on #45302
Bug scrub says: Please apply sig label and assignee so that we have metadata for future bug analysis.

[2017-05-04 21:31] vishh commented on #45334
@Random-Liu @yujuhong what's the lifecycle of a pod with CRI? Is pod deletion at the CRI level happening asynchronously?

[2017-05-04 21:34] grodrigues3 commented on #45293
/kind feature

@kubernetes/sig-cli-feature-requests

[2017-05-04 21:34] erictune commented on #45293
Yes, though this is low priority since we mostly don't want end users to view these once they get into the system.

[2017-05-04 21:37] rtheis opened #45385 "kubelet iptables performance issue with --make-iptables-util-chains=true"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.5.3

**Environment**:
- **Cloud provider or hardware configuration**: Vagrant environment
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.2
- **Kernel** (e.g. `uname -a`): 4.4.0-62-generic
- **Install tools**: ansible
- **Others**:

**What happened**:
After creating 25 nginx

[2017-05-04 21:38] erictune commented on #45287
/assign @foxish
who is helping @crimsonfaith91

[2017-05-04 21:39] erictune commented on #45278
@kubernetes/sig-node-feature-requests

[2017-05-04 21:42] erictune commented on #45270
Please direct general use questions about Kubernetes to StackOverflow with the Kubernetes label

[2017-05-04 21:42] #45270 closed

[2017-05-04 21:43] luksa opened #45386 "[Proposal] Per-container automountServiceAccountToken"
Consider an app that is exposed publicly and for some reason needs to be able to modify cluster state (create pods, modify secrets or whatever). The more complex the app, the higher the changes of it including a vulnerability, which may expose the service account's token.

Splitting the part that talks to the k8s API server into a separate sidecar container, having the app communicate to the sidec

[2017-05-04 21:44] erictune commented on #45249
@mbohlool  could we generate docs for "well known keys" of a map that is acting like a struct, please?

[2017-05-04 21:46] erictune commented on #45237
/assign @k82cn
Thank you for looking into this.

[2017-05-04 21:47] erictune commented on #45234
@kubernetes/sig-network-feature-requests

[2017-05-04 21:48] grodrigues3 commented on #45228
/kind feature

[2017-05-04 21:48] #44933 closed

[2017-05-04 21:51] erictune commented on #45226
Please file to https://github.com/kubernetes/minikube

[2017-05-04 21:51] #45226 closed

[2017-05-04 21:52] erictune commented on #45220
@kubernetes/sig-scheduling-bugs

[2017-05-04 21:53] erictune commented on #45215
@kubernetes/sig-node-bugs

[2017-05-04 21:54] erictune commented on #45215
Thanks for the PR!

[2017-05-04 21:56] erictune commented on #45213
@kubernetes/sig-scheduling-bugs

[2017-05-04 21:56] liggitt commented on #45386
I'm not sure about it being much more secure once you're in the same process space

@kubernetes/sig-auth-feature-requests

[2017-05-04 21:59] #45207 closed

[2017-05-04 21:59] grodrigues3 commented on #45206
/assign @feiskyer

@kubernetes/sig-node-bugs

[2017-05-04 22:02] madhusudancs commented on #37105
These tests have been stable now. I am closing this.

[2017-05-04 22:02] #37105 closed

[2017-05-04 22:06] davidopp commented on #45213
@derekwaynecarr

[2017-05-04 22:07] jlowdermilk commented on #23199
Fixed by #17590

[2017-05-04 22:07] #23199 closed

[2017-05-04 22:10] paralin opened #45387 "CephFS: secret related logs too chatty"
On master: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cephfs/cephfs.go#L110

The server is running `kubernetes v1.5.2+43a9be4`.

[code]

This message doesn't really help with anything, and I'm seeing it output multiple times a second as you can see above. The message is overall useless since it's printed in a success condition and does not have enough information to be useful

[2017-05-04 22:14] ericchiang commented on #45302
@mikedanese is this issue also to address the comments brought up in https://github.com/kubernetes/kubernetes/pull/45059 about the scope of the CSR approver? E.g. if the approver should handle follow up requests for the serving cert?

[2017-05-04 22:21] bowei commented on #43100
stale test -- this was moved to the serial, slow suite

[2017-05-04 22:21] bowei commented on #43100
/close

[2017-05-04 22:21] #43100 closed

[2017-05-04 22:21] bowei commented on #43101
/close

[2017-05-04 22:21] #43101 closed

[2017-05-04 22:21] bowei commented on #43094
/close

[2017-05-04 22:21] #43094 closed

[2017-05-04 22:30] yujuhong commented on #45375
I honestly don't know what the correct sig is for controllers.

[2017-05-04 22:45] yujuhong commented on #45334
No. it's pretty much the same as before.

[2017-05-04 22:54] mikedanese commented on #45302
@ericchiang have you seen https://github.com/kubernetes/kubernetes/issues/45030?

[2017-05-04 22:54] rootfs commented on #45350
@michalmedvecky
- which openstack release and which cinder api version enabled?
- can you run `cinder show` after pod is created but the volume fails to mount?
- can you get kubelet log from node that runs the pod (above kubectl output shows it was `mm-kube-slave-1`)?

[2017-05-04 23:06] crimsonfaith91 commented on #45287
i am able to reproduce the bugs when running `kubectl delete` and `kubectl scale`. i will explore the codebase to identify the problem.

[2017-05-04 23:12] quinton-hoole commented on #31184
Does it fail gracefully?

On May 4, 2017 11:37, "Madhusudan.C.S" <notifications@github.com> wrote:

[2017-05-04 23:12] ericchiang commented on #45302
@mikedanese ah that's what I'm looking for, thanks.

[2017-05-04 23:18] ethernetdan commented on #45318
@gyliu513 probably will want to move the init container also to the PodSpec

[2017-05-05 00:08] gyliu513 commented on #45342
@gmarek I was using `-v=4` for the controller manager

[2017-05-05 01:26] fejta commented on #45063
Are we sure this is resolved? It remains the top source of flakiness in http://storage.googleapis.com/k8s-metrics/flakes/flakes-latest.json per https://github.com/kubernetes/test-infra/tree/master/metrics

[2017-05-05 01:30] fejta commented on #45063
@kubernetes/sig-cli-bugs what sig is this? I'm guessing sig-cli... but please correct me if I'm wrong!

[2017-05-05 01:32] fejta commented on #45023
@kubernetes/sig-api-machinery-bugs I believe this is fixed?

[2017-05-05 01:39] fejta commented on #44791
It looks like @bowei from sig-networking is attempting to hand off this issue to @kubernetes/sig-api-machinery-test-failures...

Bowei, when you do this will you please `/unassign` any networking people:
/unassign @thockin @dcbw @caseydavenport @thockin

And `/assign` leads for the api-machinery group?
/assign @lavalamp @deads2k

Thanks!

[2017-05-05 01:40] ncdc commented on #45063
@fejta this is probably more api machinery, since it's spdy related. But I'm not seeing TestStream show up significantly in the triage tool (https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestStream). Can you tell me how to find the 17 TestStream flakes listed in flakes-latest.json?

[2017-05-05 01:40] ncdc commented on #45023
Yes, I missed this one.

[2017-05-05 01:40] #45023 closed

[2017-05-05 01:44] fejta commented on #45063
Thanks for the quick update!!

Two thoughts:
1) Please check the `Include results from: [ ] PR` option at the top, which adds [results](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestStream) from PRs. Since PRs are less stable by default we hide these results.
2) The flakes-latest.json searches the past week so it looks like this will clear out tomorrow

[2017-05-05 01:44] gyliu513 commented on #45318
I think the init container still depend on annotations https://kubernetes.io/docs/concepts/workloads/pods/init-containers/ , can I specify in `PodSpec`? @ethernetdan

[2017-05-05 01:46] ddysher commented on #45053
Sounds good.

Then the workflow would be: if at mount time, we see different fsGroup, then kubelet will reject following pods.  But this means we'll make sure scheduler knows the decision from kubelet and doesn't repeatedly schedule the pod back.  In kubelet eviction oom case, i think we added a new condition to Node.  Since this condition is volume specific, I think we can have kubelet add some i

[2017-05-05 01:47] fejta commented on #41898
@mengqiy @kargakis looks like the PR is resolved, should we close?

[2017-05-05 01:53] mengqiy commented on #41898
Please wait until fix to be cherrypick into 1.4.

[2017-05-05 01:56] fejta commented on #41898
Which PR is this?

[2017-05-05 01:57] msau42 commented on #45053
I think it should be sufficient enough to have a "Mount failed" event for the pod (and the reason).  The scheduler cannot do anything special in this case.  The pod requested this specific volume, so it must be scheduled to this node because that is where the local volume is located on.  This is just a matter of an invalid pod configuration, and they will have to fix it and recreate the pod.

[2017-05-05 01:59] xiaoping378 commented on #44335
[code]
show the taints filed

[2017-05-05 02:08] k82cn opened #45393 "Flaky unit test of kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master branch

**What happened**:

I had seen several similar flaky tests as following, although the PR only change other components. Not sure who's working on it :).

[code]

Refer to following link for more info: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/

[2017-05-05 02:14] tobad357 opened #45394 "iscsi storage plugin only logs out of primary portal"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): iscsi

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kuberne

[2017-05-05 02:15] tobad357 commented on #45394
@humblec Want me to fix this or is there other work in the pipeline?

[2017-05-05 02:20] jeffchanjunwei commented on #23920
@xlgao-zju ，where do u set these NET_PLUGIN=cni  NET_PLUGIN=kubenet ?

[2017-05-05 02:20] xiangpengzhao commented on #45318
@gyliu513 FYI

[CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#pod)

[2017-05-05 02:22] xiangpengzhao commented on #45318
Seems like that the doc should be updated.
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

@hodovska @smarterclayton

[2017-05-05 02:25] ddysher commented on #45053
right, once the first pod was created, the PV/PVC binding relationship is already established, there is nothing can be done at scheduler side.

I'm going to create a PR based on https://github.com/kubernetes/kubernetes/pull/44897, and send you for review @msau42 ? Hopefully I can get it done this week :)

[2017-05-05 02:32] k82cn commented on #39559
@timothysc , the coverage number was updated in description:

* X: means the coverage is not 80%, but I'd suggest to keep it as is (added notes to it), e.g. no coverage on get/set is ok
* √: means the coverage is 80% now.

for now, the following three package need helps:

* pkg/api/validation
* plugin/pkg/admission/persistentvolume/label
* github.com/kubernetes-incubator/node-feature-discovery

BT

[2017-05-05 02:34] gyliu513 commented on #45318
Thanks @xiaopengzhao I filed an issue here https://github.com/kubernetes/kubernetes.github.io/issues/3649

[2017-05-05 02:35] msau42 commented on #45053
Awesome!  Thanks for jumping on this so quickly!  Also, don't worry about rushing, I think it will still be at least another week before I can get my change in.

[2017-05-05 02:46] mdshuai commented on #21729
Also met another build error:
[code]

[2017-05-05 02:47] gyliu513 commented on #45318
@ethernetdan @a-robinson What about merge this first and then handle init-container in a separate PR?

[2017-05-05 02:55] gyliu513 commented on #45367
/cc @davidopp I posted a doc patch to highlight those two special cases to make sure people can understand it correctly.

[2017-05-05 03:11] ddysher commented on #45053
sure, i'll take time to dig into the code base anyway :)

On Fri, May 5, 2017, 10:35 AM Michelle Au <notifications@github.com> wrote:

[2017-05-05 03:13] k82cn commented on #45367
As a object (e.g. Pod) owner, I can decide which taint is tolerated; but some taints maybe not really tolerated. So privilege is an option for that.

[2017-05-05 03:14] xlgao-zju commented on #23920
@jeffchanjunwei I just use k8s on my laptop, os I just local up k8s.
I add  NET_PLUGIN=cni NET_PLUGIN=kubenet in /hack/local_up.sh. And I use k8s 1.6. Hope I can help you. :）

[2017-05-05 03:25] gyliu513 commented on #29738
Related to https://github.com/kubernetes/kubernetes/issues/45367

[2017-05-05 03:39] cmluciano commented on #43340
@justinsb have the kops e2e tests been updated for this?

[2017-05-05 05:21] yyt030 commented on #45064
thanks to @Miyurz @tacy
i add args "--cgroup-driver=systemd" when starting kubelet service ,then the kubelet service is _active (running) and status ok;_
after i install kubernetes use kubeadm ,i will show logs ;
....

[2017-05-05 05:25] shiywang commented on #45393
Is this dup of https://github.com/kubernetes/kubernetes/issues/45279 ?

[2017-05-05 05:28] k82cn commented on #45393
Yes, I think so.

[2017-05-05 05:28] #45393 closed

[2017-05-05 05:56] mengqiy commented on #41898
Is there a easy way to cherrypick https://github.com/kubernetes/kubernetes/pull/44688 to 1.4?

[2017-05-05 06:01] thockin commented on #45234
It's an interesting problem, for sure.

the pods the service fronts.

All of the pods?  What if the pods behind a Service have different node
selectors?

Do we have grounds to believe that nodeSelector is commonly used enough to
matter here?

Node busyness (e.g. running a large batch as you suggest) is temporary.
Updating LB backend sets can be very slow and expensive (GCP is slow,
anyway).  We do

[2017-05-05 06:20] fzu-huang commented on #42554
OK·  I am now  sure that  it is because of an illegal node.  my kubelet in master start with param: ` --register-node=false`  , which make nodecontroller delete the pod on it.  But I still confuse that nodecontroller may not  delete all pods. Anyway, it is normal now.

[2017-05-05 06:20] #42554 closed

[2017-05-05 06:41] gmarek commented on #45118
It's strictly better than disabling it altogether, right? The drawback would be that if you create a VM which will get the same name (I guess it's a DNS name), than the suspended/whatever one, then it'll be treated by k8s as the old one, which may cause a issues when running StatefulSets (especially if old machine didn't release PV or sth, as IIUC k8s will believe that it's attached to the new mac

[2017-05-05 06:47] gmarek commented on #45342
@gyliu513 - let's move to slack, to have higher throughput communication.

[2017-05-05 07:25] wojtek-t commented on #40139
@shyamjvs - in your free cycles can you please take a look into those recent failures and see if we have anything new here?

[2017-05-05 07:27] wojtek-t commented on #45037
@xiang90 - great, thanks a lot for all the help with it!

[2017-05-05 07:29] davidopp commented on #44445
@kubernetes/sig-scheduling-feature-requests
@piosz @vishh @gmarek

[2017-05-05 07:32] davidopp commented on #44445
I assume you mean "When adding a noexecute *taint* to a node"

FYI the node.alpha.kubernetes.io/{notReady,unreachable} tolerations don't do anything in 1.6 unless you have the alpha feature enabled (I forgot the exact flag).

But can you explain what behavior you want? You want fluentd and heapster are never evicted due to taints under any circumstances? I think that makes sense for fluentd since

[2017-05-05 07:55] James-Dao opened #45397 "Pod attach volume timeout using scaleio2 in kubernetes1.6"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad

[2017-05-05 07:56] #45397 closed

[2017-05-05 07:58] JorritSalverda opened #45398 "PodDisruptionBudget updates are forbidden"
_PodDisruptionBudget_ is immutable at this moment. It would be a nice improvement to allow changes to it, at the least to the _minAvailable_ field. Not sure whether this counts as a _bug_ or a _feature request_ :)

After creating a _PodDisruptionBudget_ with the following manifest.

[code]

When changing the spec to let's say `minAvailable: 3` and re-running `kubectl apply` it returns the followin

[2017-05-05 07:58] gmarek commented on #44445
I'm not sure about heapster (@piosz), and the fact that fluentd doesn't have infinite toleration is a bug, that's getting fixed in #45349 - I hope I'll manage to put it into next patch release.

[2017-05-05 07:58] JorritSalverda commented on #45398
@davidopp can you get the right SIGs tagged? Thx

[2017-05-05 07:59] James-Dao opened #45399 "Pod attach volume timeout using scaleio2 in kubernetes1.6"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad

[2017-05-05 08:01] JorritSalverda commented on #44445
@davidopp I updated the typo (taint instead of toleration).

When filing this ticket I was still under the impression heapster was also a DaemonSet, but realized afterwards that it isn't. So yes, it only applies to fluentd.

[2017-05-05 08:02] gmarek commented on #45342
It's the same problem again. It was fixed by @aveshagarwal in #42913, but broken again in #42147 @bowei @thockin @lavalamp @roberthbailey. I'll send a fix today.

[2017-05-05 08:06] davidopp commented on #45398
@kubernetes/sig-apps-feature-requests

[2017-05-05 08:08] James-Dao commented on #45399
Pod event on Kubernets Dashboard  says:

MountVolume.SetUp failed for volume "kubernetes.io/scaleio/beeefcfd-3163-11e7-9abf-005056a3fdbf-pvc-561b808a-3163-11e7-9abf-005056a3fdbf" (spec.Name: "pvc-561b808a-3163-11e7-9abf-005056a3fdbf") pod "beeefcfd-3163-11e7-9abf-005056a3fdbf" (UID: "beeefcfd-3163-11e7-9abf-005056a3fdbf") with: exit status 1

Pod on Kubernets Dashboard says:
MountVolume.SetUp fail

[2017-05-05 08:11] James-Dao commented on #45399
Pod on Kubernets Dashboard says:
MountVolume.SetUp failed for volume "kubernetes.io/scaleio/beeefcfd-3163-11e7-9abf-005056a3fdbf-pvc-561b808a-3163-11e7-9abf-005056a3fdbf" (spec.Name: "pvc-561b808a-3163-11e7-9abf-005056a3fdbf") pod "beeefcfd-3163-11e7-9abf-005056a3fdbf" (UID: "beeefcfd-3163-11e7-9abf-005056a3fdbf") with: volume attach timeout
Error syncing pod, skipping: timeout expired waiting for

[2017-05-05 08:13] James-Dao commented on #45399
kubelet logs on the node:

5月 05 16:10:16 192-168-1-154 kubelet[25348]: Mounting arguments:  /var/lib/kubelet/pods/beeefcfd-3163-11e7-9abf-005056a3fdbf/volumes/kubernetes.io~scaleio/pvc-561b808a-3163-11e7-9abf-005056a3fdbf ext4 [rw defaults]
5月 05 16:10:16 192-168-1-154 kubelet[25348]: Output: mount: can't find /var/lib/kubelet/pods/beeefcfd-3163-11e7-9abf-005056a3fdbf/volumes/kubernetes.io~scalei

[2017-05-05 08:18] #45348 closed

[2017-05-05 08:20] gokhandincer opened #45400 "Get a config file from etcd..."
We are using systemd files as below on CoreOS
we couldn't succeed when we create from systemd to pod yaml

İs it possible a way;
 *  to get a config file from etcd
 * to use environment file
 * to create servise directory

Best Regards

[code]

[2017-05-05 08:22] davidopp commented on #22212
I think it's reasonable that we should be able to get the priority API into 1.7. I agree it's unlikely we'll get anything beyond that.

[2017-05-05 08:30] mccormd commented on #45361
Hi - just to confirm - I'm not using kubeadm.

[2017-05-05 08:35] kargakis commented on #4301
Copying cases from https://github.com/kubernetes/kubernetes/issues/45339#issue-226219257

[2017-05-05 08:35] kargakis commented on #45339
@hex108 moved your cases in https://github.com/kubernetes/kubernetes/issues/4301#issuecomment-299411273, feel free to leave additional comments there.

[2017-05-05 08:35] #45339 closed

[2017-05-05 08:38] gmarek commented on #44445
All DaemonSets shoud have infinite toleration, and we actually tried to do that, but failed. The fix is already merged in the head and I'm working on cherry-pick.

[2017-05-05 08:48] ddysher commented on #45053
Before going deeper into the code base, I want to make sure folks agree on the approaches to detect conflict.  When user creates a PV with path `/tmp/local-pv`, and a Pod with fsGroup "1000"; then kubelet bind mounts it to `/var/lib/kubelet/pods/id/volumes/kubernetes.io~local-volume/local-pv`. Now `/tmp/local-pv` permission changed from "0775/drwxrwxr-x; GID=0" to "2775/drwxrwsr-x";GID=1000".

Now

[2017-05-05 08:55] shyamjvs commented on #40139
Sure. I can look into this now.

[2017-05-05 08:55] gmarek commented on #44445
Cherry-pick: #45401

[2017-05-05 08:59] kargakis commented on #30628
This is similar to https://github.com/kubernetes/kubernetes/issues/43846 - a ratelimiting queue is not enough in this case because the DS will always create a new Pod successfully, the Pod runs OutOfcpu so it's terminated, and the DS will spin up the next one, and so on. We need a way to ratelimit such controllers and I suspect it's going to be easier with history objects, because then we can trac

[2017-05-05 09:06] sttts commented on #45298
kubectl could technically use the kube version. Anything that speaks against that?

[2017-05-05 09:08] yueawang commented on #23726
Thanks to @mamirkhani. I solved this error.
However I just found such info in "kubeadm init" output:
_Your Kubernetes master has initialized successfully!
To start using your cluster, you need to run (as a regular user):
  sudo cp /etc/kubernetes/admin.conf $HOME/
  sudo chown $(id -u):$(id -g) $HOME/admin.conf
  export KUBECONFIG=$HOME/admin.conf_

I think this is the recommended solution.

[2017-05-05 09:17] gfegit commented on #19113
@olalonde Thanks for tip.

[2017-05-05 09:17] dolobanko commented on #19113
@olalonde Thanks for tip.

[2017-05-05 09:23] luksa commented on #45366
It's just a nice to have. If someone wants to explore the API (or, for example, see if they can talk to the API server from within a pod), they usually start by  curling `/`. Right now, the response leads them to believe they can't do anything without being authenticated and authorized, which isn't really true.

I understand the security aspect of locking down everything as much as possible, but t

[2017-05-05 09:25] bboreham commented on #44963
OK, I marked the Weave Net issue as a feature request, since it is currently hard-coded to masquerade everything on and off the overlay; suggest you close this issue.

[2017-05-05 09:35] luksa commented on #45386
Maybe, but if, for example, the main container only has a path traversal vulnerability, allowing the token to be exposed to an external client (and there's no way to execute malicious code in the container itself), the proposed feature would make sense, right?

And even if we forget about the security aspect, it makes sense for an "automount" setting to primarily be at the container level, since t

[2017-05-05 09:50] gyliu513 opened #45405 "Put init-containers to PodSpec"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-05 09:51] gyliu513 commented on #45405
/assign

[2017-05-05 09:51] gyliu513 commented on #45405
related to https://github.com/kubernetes/kubernetes/issues/45318

[2017-05-05 09:53] smrutiranjantripathy commented on #21582
@colhom I know I'm very late in this conversation , but the document link that you have mentioned in your second comment is getting directed to a page not found link.

[2017-05-05 09:55] manuperera commented on #44963
I have the same problem. I have a service that is listening on port 1813 and I have included the next configuration to preserve source IP inside the container that runs in Kubernetes.

[code]

![image](https://cloud.githubusercontent.com/assets/28434493/25740377/93d3af0c-3186-11e7-9712-743979122d84.png)

When I send traffic UDP from a simulator to de Kubernetes's service I see that the source IP n

[2017-05-05 09:58] mappedinn commented on #45328
One extra question:

`etcd` can be replaced by `nfs`?

[2017-05-05 10:08] BastiPaeltz commented on #44821
Were you able to solve it? I'm currently running into the exact same problem right now.

[2017-05-05 10:09] rootsongjc commented on #42568
Kubernetes 1.6.0

[2017-05-05 10:20] Dm3Ch commented on #44821
@BastiPaeltz When I got this problem, the reason causes that was I have got wrong rights for user kering. The user keyring should have rw for pool and r for mon. I hadn't setted up r for mon

[2017-05-05 10:39] xeor commented on #22469
Is there any time estimate when we will get more powerful networkPolicy in kubernetes, or is this getting dragged behind because of 3rd party solutions like what `calicoctl` gives us?

[2017-05-05 10:57] #45106 closed

[2017-05-05 10:58] humblec opened #45410 "Allow user friendly glusterfs volume names for dynamically provisioned volumes."
**Kubernetes version** (use `kubectl version`):

Kube 1.6.1

**What happened**:

Atm, glusterfs dynamic provisioner does not allow or provide an option to customize the volume name.  There should be an option to take user input and create volumes based on  user suggestion.

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need

[2017-05-05 10:59] humblec commented on #45410
/assign @humblec

[2017-05-05 11:18] jacekn commented on #44322
I can confirm that this problem is no longer affecting latest released charms.

[2017-05-05 11:18] #44322 closed

[2017-05-05 11:32] deads2k commented on #44791
Namespace deletion makes me thing about https://github.com/kubernetes/kubernetes/pull/45304

[2017-05-05 11:41] ensonic commented on #44275
Sorry I don't understand. My cluster on GKE migrated to 1.6. What do I need to run to still be able to access `https://<kubernetes-master>/ui`. This previously required user-name + passwd. I don't get why one needs to disable `anonymous requests to the API` to `enable basic-auth` - how is a basic auth'ed user anonymous?

[2017-05-05 11:56] jkemp101 commented on #45234
Some thoughts:

* I agree that we should keep changes to the LB to a minimum.  They aren't meant to have many on the fly node changes.
* My particular implementation actually has two deployments behind a single service.  I have my regular web deployment and a canary deployment for the same app.  I would expect the service to route traffic to any node those two deployments may put a pod.  I am alri

[2017-05-05 11:58] wojtek-t commented on #45216
BTW - this regression is not visible at all in kubemark-500.

[2017-05-05 12:03] liggitt commented on #44275
The server won't send basic auth challenges to unauthenticated requests if anonymous auth is enabled. Without a challenge, the browser will never send its basic auth credentials.

A better way to access the UI via the API is to run `kubectl proxy` and access `http://localhost:8001/ui`

[2017-05-05 12:03] wojtek-t commented on #45216
Just to clarify what I was saying about, before regression:
[code]
After regression:
[code]

These are coming from those 2 runs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/393?log#log
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/406?log#log

The difference is ~3x

[2017-05-05 12:32] sharif786 commented on #44665
Great..thanks.. it worked ..

[2017-05-05 12:44] a-robinson commented on #45318
Sounds good to me, thanks.

[2017-05-05 12:48] #42479 closed

[2017-05-05 12:48] #45375 closed

[2017-05-05 12:48] gmarek opened #45416 "hack/update-staging-client-go.sh is pretty much impossible to use"
Or I don't know how to do that. It basically demands that I have some obscure list of dependencies in some obscure concrete revisions. I'm already 20 minutes in trying to make it happy and I still can't see the end of it. Can we make it run as a container in a clean repo, so that it can just download whatever it wants, generate what it's asked for and be done with it?

@kubernetes/sig-api-machiner

[2017-05-05 12:48] wojtek-t commented on #45216
So it seems that it is really related to Go.

I didn't yet to final analysis of this, but I grabbed some profile from kubemark-5000 and we are spending majority of time in Go-related stuff - see the following profile as an example:

[out.pdf](https://github.com/kubernetes/kubernetes/files/979021/out.pdf)

In particular, I'm seeing ~40% in runtime.selectgo, and ~50% in futex

@bradfitz - any though

[2017-05-05 12:52] liggitt commented on #45416
running hack/godep-restore.sh first works for me

[2017-05-05 13:05] gajju26 commented on #44325
Hi Manjunath,

I have gone through the link that you have mentioned. My understanding is described below:
As per the link, it is expected that the e2e tests will fail for the architectures arm, arm64, ppc64le, s390x and windows because required docker test images are not available yet due to lack of manifest list.
If my understanding is right then how other architecture are trying to implement Kub

[2017-05-05 13:08] xiangpengzhao commented on #45234
@thockin I think you @ wrong bowei :)

[2017-05-05 13:19] abrass opened #45417 "AWS ELB hostname and https -> https configuration"
Is this a request for help? : yes, but could not find any guidance in the troubleshooting

What keywords did you search in Kubernetes issues before filing this one?: Alot with kombination of: aws elb, kubernetes, https, annotation. Found lot of issues and information, but have no idea how to solve my problems.

If have generally two questions adressing the automatically created AWS ELB

1. Is it p

[2017-05-05 13:25] gmarek commented on #45416
Fair point - I'll send a PR that will make the script print this out.

[2017-05-05 13:29] xiangpengzhao commented on #45416
yeah, running `hack/verify-staging-client-go.sh` first and it tells me to run `hack/godep-restore.sh`, running it and then running `hack/update-staging-client-go.sh` makes my life better.

[2017-05-05 13:29] wojtek-t commented on #15095
This has already happened in the meantime (with shared informers work etc.)

[2017-05-05 13:29] #15095 closed

[2017-05-05 13:30] #35198 closed

[2017-05-05 13:32] gmarek commented on #45416
Right. I just assumed that "Run godep restore" actually means "go get", as usual when updating godeps, not `hack/godep-restore.sh`.

[2017-05-05 13:32] dims commented on #29453
/remove-area area/platform/openstack

Does not really involve any change in the current openstack related code in kubernetes/kubernetes for sure.

[2017-05-05 13:33] gmarek commented on #45416
Oh, and I see it's already fixed on the head, so I just was unlucky to had to run it on 1.6 branch.

[2017-05-05 13:33] #45416 closed

[2017-05-05 13:39] henriquetruta commented on #39482
Is this still valid? Any work on it?

[2017-05-05 13:48] huornlmj commented on #41038
Can anyone tell me how to manually disable the weak ciphers that are being exposed?

[2017-05-05 14:02] aveshagarwal commented on #45361
I tested it yesterday with latest master HEAD and it worked as expected. I am going to try 1.6.2 today the same way in container as @mccormd did.

[2017-05-05 14:27] pmichali commented on #44848
Since pushing this, I see there are some (old) issues discussing removing some of the code in the PR 45116 area, and to make arch. specific versions of ChooseHostInterface().  Not sure of the impact on the discussion here.

[2017-05-05 14:30] dims commented on #29453
/remove-area platform/openstack

[2017-05-05 14:36] Scukerman opened #45418 "Can't get kubectl describe cronjobs to work"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): there's no information about my question.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): cronjob

---

**Is this a BUG REPORT or FEATUR

[2017-05-05 14:36] luxas commented on #45361
/assign @aveshagarwal

[2017-05-05 14:37] luxas commented on #45361
Oops, @aveshagarwal was already assigned :)

[2017-05-05 14:40] luxas commented on #45216
@wojtek-t I hope we could try to investigate it as long as possible and try to fix it either on the k8s side (if some Go semantics has changed and we need to update it to preserve behavior) or on the Go side by using a newer 1.8 patch version if something was wrong but easily-fixable in the runtime

[2017-05-05 14:41] Spindel commented on #45237
Issue shows up again, this is with --v=4  to the scheduler.

I'll reboot the master, and increase verbosity further.

[scheduler-2017-05-05.txt](https://github.com/kubernetes/kubernetes/files/979390/scheduler-2017-05-05.txt)

[2017-05-05 14:55] deitch opened #45419 "Node flapping between Ready/NotReady with PLEG issues"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): PLEG NotReady kubelet

---

**Is this a BUG REPORT or FEATURE REQUEST?** Bug

**Kubernetes version** (use `kubectl version`): 1.6.2

**Environment**:
- **Cloud provider or hardware configuration**: CoreOS on AWS
- **O

[2017-05-05 15:04] seh commented on #16376
@caesarxuchao, have you thought more about which way you'll go here (change `cache.NewListWatchFromClient`, integrate the codec into `RESTClient`, or something else per @sttts's [suggestion](https://github.com/kubernetes/kubernetes/pull/43027/files#r106098606))?

[2017-05-05 15:13] quasiben opened #45420 "Errors with swagger generated code"
In HEAD for release-1.5 (and i think in master as well) the generated code from `v1.json` I believe has some issues with `Content-type` headers.  I think the issue comes down to the function

[code]

Throughout the code headers are set like the following:

And this in turn leads to `[...'Content-Type': '*/*'}]`.  My understanding is that this becomes a problem when the code finals reaches `rest.py

[2017-05-05 15:14] thockin commented on #22469
"more powerful" isn't helpful.  Can you say more about what actual problems
you are trying to solve?

On Fri, May 5, 2017 at 3:39 AM, Lars Solberg <notifications@github.com>
wrote:

[2017-05-05 15:15] DreadPirateShawn commented on #45326
Ahh, that would make sense. My apologies!

That being said, the numbers still don't seem to match what I see from raw Linux utils...

[code]

versus

[code]

[code]

@erictune Any chance you can help me close the loop here? Just trying to understand what I'm seeing, to grok what cAdvisor's memory usageBytes reflects in terms of the Linux system.

[2017-05-05 15:16] Spindel commented on #45237
And here is a -v7 log:

[scheduler-2017-05-05-v7.txt](https://github.com/kubernetes/kubernetes/files/979515/scheduler-2017-05-05-v7.txt)

[2017-05-05 15:16] timothysc commented on #45216
@wojtek-t

- Do you see any backup on the clients?
- What do the memory and cpu traces look like between the two runs?

On 1st blush the changelog for 1.8 has some suspicious items: https://golang.org/doc/go1.8#h2push

/cc @jeremyeder fyi.

[2017-05-05 15:19] #45318 closed

[2017-05-05 15:19] #45342 closed

[2017-05-05 15:19] thockin commented on #45234
@jkemp101 I understand your point, and I don't even disagree with it, but I'm not sure I see how to implement it cleanly.  If you use OnlyLocal you will get this behavior today (in exchange for a different set of risks).  I could *maybe* see using healthchecks for this, but to do that, every node would have to watch all pods, which is pretty much a non-starter (too expensive).

It's tricky to do g

[2017-05-05 15:20] Spindel commented on #45237
oh, sideways: kube-scheduler doesn't document the --v=$LEVEL flag at all.

[2017-05-05 15:23] pwittrock commented on #41898
@mengqiy no you need to create a new PR with the target branch of 1.4

[2017-05-05 15:23] erikbgithub commented on #7996
It's quite important actually if you have a tool for service discovery that uses ping to figure out if the service is there.

[2017-05-05 15:31] bradfitz commented on #45216
@wojtek-t, do you have a version of that out.pdf from before the switch to 1.8.x? I'd like to look for differences.

@timothysc, the optional http2 push stuff doesn't worry about me. That was a pretty small optional addition off to the side of existing http2 code. The most notable part there was that we made the decision to expose it all the way through to the main net/http package. But if you're

[2017-05-05 15:32] thockin commented on #7996
Recent docker versions install some iptables that blocks pod-to-pod traffic.  Have to remove those.  I don't have that docker installed here, so I can't be more specific right now.

Services do not ping.

[2017-05-05 15:34] thockin commented on #44963
Before we close, can we make an equivalent Flannel bug?  @caseydavenport
who own's flannel/canal?

On Fri, May 5, 2017 at 2:55 AM, manuperera <notifications@github.com> wrote:

[2017-05-05 15:39] timothysc commented on #45216
@bradfitz sorry I meant the items below that point.
More Context Support
Mutex Contention Profiling
...

[2017-05-05 15:48] farcaller commented on #22469
I'm looking forward to egress rules.

[2017-05-05 15:52] aveshagarwal commented on #45361
I just tested both containerized and non-containerized versions on latest 1.6 branch and both worked correctly.  I just had to remove and tweak some flags for kubelet as I am running in a local cluster settings. Here is what I get and it shows the taint assigned to the node:

[code]
Here is the script I used to run kubelet inside a container:

[code]

@mccormd Are you sure that your node was not a

[2017-05-05 15:54] thockin commented on #22469
Can you explain what you hope to achieve, rather than the mechanism you
think you might achieve it by?  As concretely as possible, please.

On Fri, May 5, 2017 at 8:49 AM, Vladimir Pouzanov <notifications@github.com>
wrote:

[2017-05-05 15:55] dims commented on #39929
@gnufied We can close this is issue now. right?

[2017-05-05 15:57] timothysc commented on #45220
@shenlanse did you verify?

[2017-05-05 16:00] aveshagarwal commented on #45361
@kubernetes/sig-scheduling-bugs

[2017-05-05 16:13] thockin commented on #45228
Bear in mind that, unlike the way proto tends to be used (the proto object is the primary representation) all of our code is written around native Go structs, and we unmarshal json/proto into those structs, and use native mechanisms (access a field, test a pointer for nil).

[2017-05-05 16:21] ncdc commented on #45418
@soltysh

[2017-05-05 16:23] senyan opened #45424 "Deployments seems to be not considered to be namesapced (v1.3.5)"
**Kubernetes version** (use `kubectl version`):
1.3.5

**What happened**:

I am using a admin namespace account try to deploy a pod but got the following error:
I0505 12:11:41.735369   47483 round_trippers.go:318] GET https://<hostname>/apis/extensions/v1beta1/namespaces/prod/deployments 403 Forbidden in 1 milliseconds
This seems indicates a get not works.
kubectl get deployment is not working als

[2017-05-05 16:24] senyan commented on #45424
To me this is more like a bug and not sure if get fixed in later versions.

[2017-05-05 16:25] #44522 closed

[2017-05-05 16:34] pipejakob commented on #45244
Back to green as of [2017-05-04 19:36 PDT](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-alpha-features-release-1.6/3979) and all runs since have [stayed green](https://k8s-testgrid.appspot.com/release-1.6-all#gke-alpha-features-1.6).

[2017-05-05 16:35] pipejakob commented on #45244
/close

[2017-05-05 16:35] #45244 closed

[2017-05-05 16:38] gnufied commented on #39929
We can close this but I think we should cherry pick linked PR to 1.5 - https://github.com/kubernetes/kubernetes/pull/41940 .

I don't have enough permissions to do that. :(

[2017-05-05 16:39] farcaller commented on #22469
I want to limit network access of specific pods to specific destination ip addresses, in case if the application inside of the pod is compromised.

[2017-05-05 16:40] pmichali opened #45425 "Coverage fails on CentOS as no shasum command"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No, indicating an issue that I can post a fix for...

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): shasum

---

**Is this a BUG REPORT

[2017-05-05 16:41] aardappel commented on #45228
@thockin : that's still a savings, as instead of `proto-wire -> proto-objects -> native-objects` you can now do `flat-wire -> native-objects`. But yes, even bigger savings could be had if you could separate out the relatively "static" data in your native objects, and keep them around as FlatBuffer instead. Doesn't need to be all or nothing though.

[2017-05-05 16:45] thockin commented on #45228
We already convert proto-wire -> native-objects, I am pretty sure.  It's
more than a little messy because we chose NOT to start with proto types,
and use JSON instead, and then proto got a lot of traction, but changing
was deemed prohibitive.

On Fri, May 5, 2017 at 9:41 AM, Wouter van Oortmerssen <
notifications@github.com> wrote:

[2017-05-05 16:47] thockin commented on #22469
You want to apply out-going firewall rules, based on destination IP address
(rather than hostname), varied by source pod?  Is that right?  Usually when
we dig into this, people want hostnames (e.g. github.com), not IP addresses.

On Fri, May 5, 2017 at 9:39 AM, Vladimir Pouzanov <notifications@github.com>
wrote:

[2017-05-05 16:48] yujuhong commented on #45419
@deitch, how many containers were running on the node? What's the overall cpu utilization of your nodes?

[2017-05-05 16:56] deads2k commented on #45277
Guess I'll start.  I think we need clarity between the `CustomResourceDefinition` and the "custom resource" that is provided.  I think including `Definition` in the name might look weird, but it will clarify any future discussion and documentation.

[2017-05-05 16:57] wiktortomczak opened #45426 "iptables not matching ingress packets with external IP as destination"
**What keywords did you search in Kubernetes issues before filing this one?**: iptables, externalIP

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`): `Linux gke-dump-qu

[2017-05-05 16:57] deitch commented on #45419
Basically none. kube-dns, weave-net, weave-npc, and 3 template sample services. Actually only one, because two had no image and were going to be cleaned up. AWS m4.2xlarge. Not a resource issue.

I ended up having to destroy the nodes and recreate. No PLEG messages since destroy/recreate, and they seem 50% ok. They stay `Ready`, although they still refuse to allow `kubectl exec` or `kubectl logs`.

[2017-05-05 17:26] aelmehra opened #45428 "API version "extensions/v1beta1" isn't supported, only supports API versions ["v1"]"
When I try to run kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/kubernetes-dashboard-no-rbac.yaml I receive the following error:

API version "extensions/v1beta1" in "https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/kubernetes-dashboard-no-rbac.yaml" isn't supported, only supports API versions ["v1"]

kubectl version
Client Versi

[2017-05-05 17:27] msau42 commented on #45172
Yes, I think the main concern here is that you may not be explicitly running volume tests.  In this case, it looks like it's just a CI system that is running all tests.  So I guess it's mostly a question to @dims.  Do you want NFS to be included as part of OpenStack CI?  At least for GCE CI, we definitely want NFS tests in.

I think there's a broader issue how to structure the volume tests to be a

[2017-05-05 17:29] bradfitz commented on #45216
@timothysc, I don't think those are involved here and I see no evidence they are.

[2017-05-05 17:34] deitch commented on #45419
Hmm... to add to the mystery, no container can resolve any hostnames, and kubedns gives:

[code]

FWIW, `10.200.0.1` is the kube api service internally, `10.200.0.5` is DNS, `10.50.20.0/24` and `10.50.21.0/24` are the subnets (2 separate AZs) on which masters and workers run.

Something just really fubar in the networking?

[2017-05-05 17:37] msau42 commented on #44792
This test got disabled due to #45101, so it has not been running for the last few days.  But we have not figured out the cause for the flakiness.

The symptom is that the nfs mount timed out, which is one of those "catch all" error types that could be any reason.  Perhaps, we should try to eliminate some variables here.  This test is running in parallel with a bunch of other random tests.  Maybe i

[2017-05-05 17:39] deitch commented on #45419
@bboreham could this be related to weave and not kube (or at least misconfigured weave)? Standard weave with the `IPALLOC_RANGE=10.100.0.0/16` added as discussed at https://github.com/weaveworks/weave/issues/2736

[2017-05-05 17:40] senyan commented on #45424
Turns out to be it is something in my key signing not works correctly.

[2017-05-05 17:44] wojtek-t commented on #45216
I don't. But I'm almost sure it that those futex and runtime.selecgo wasn't that significat before (which suggest golang scheduler?).
Anyway - to avoid guessing, I will try to grab those profiles on Monday from both 1.7.5 and 1.8.1 versions.

[2017-05-05 18:06] freehan commented on #23920
FYI, upstream cni repo has a PR to add port-forwarding plugin in flight https://github.com/containernetworking/plugins/pull/1

With this, one can set NET_PLUGIN=cni and include the port-forwarding plugin in the cni network config chain. Then it will be able to support hostport feature.

[2017-05-05 18:10] laf0rge commented on #44485
yes, since 2003. SCTP is not new: https://git.netfilter.org/iptables/commit/?id=8f578a09b56f010d5bcd30086a8f7c8132b35d92

kernel code for matching SCTP ports has been merged in 2004: https://git.kernel.org/pub/scm/linux/kernel/git/tglx/history.git/commit/net/ipv4/netfilter/ipt_sctp.c?id=37306cb0d818cdc3846d8ffbfe2d717125ee6a9b

kernel connection tracking code for sctp has been merged also in 2004:

[2017-05-05 18:19] xiangpengzhao commented on #45428
I think it's because your kubernetes version is too old...The latest release is 1.6.x

[2017-05-05 18:23] freehan commented on #44702
Yeah. As I suspected, node `k8s-2` takes 10.0.2.15 as the internal IP. Hence kube-proxy gets it.

@dunjut Is this causing other problems?

cc: @yujuhong

[2017-05-05 18:29] msau42 commented on #45053
There's already a bunch of linux-specific mount tools in mount_linux.go.  The Mount interface may be a good place to add this.  I am ok with either /proc or findmnt approaches.  You can check if findmnt is already installed on the debian and GCI images.

[2017-05-05 18:49] jingxu97 commented on #44792
How long this test timeout (5min?)? During this time, reconciler should
keep trying to mount nfs server. If we increase the timeout period, it will
decrease the chance of flakiness. If not, there might be something else
other than high load...

On Fri, May 5, 2017 at 10:38 AM, Michelle Au <notifications@github.com>
wrote:

--
- Jing

[2017-05-05 18:57] janetkuo commented on #44508
Fixed now

[2017-05-05 18:57] #44508 closed

[2017-05-05 18:59] freehan commented on #44307
@bboreham
We introduce the dockershim checkpointing in 1.6. For each pod sandbox, we maintain a checkpoint. If the containers are gone, then the information from the checkpoint will be used to tear down. However, we did not checkpoint if pod is in host network or not. Hence triggering network plugin for tear down for all. This assumes that the CNI plugin will not return any error if the input CNI_

[2017-05-05 18:59] yujuhong commented on #44702
kubelet uses the [IP address reported by the cloud provider](https://github.com/kubernetes/kubernetes/blob/v1.6.2/pkg/kubelet/kubelet_node_status.go#L394) if it exists, or the first non-loopback ipv4 address ([code here](https://github.com/kubernetes/kubernetes/blob/v1.6.2/pkg/kubelet/kubelet_node_status.go#L440)) if there is no cloud provider. In addition, it could be overwritten by kubelet flags

[2017-05-05 19:17] xeor commented on #22469
@thockin : sorry for being a little wage..

I'm currently experimenting with kubernetes in a small on-premise cluster using `canal` (calico/flannel) for networking.

Looking at the [calico policy](http://docs.projectcalico.org/v2.1/reference/calicoctl/resources/policy), there are at least a couple of things missing from [kubernetes networkPolicy](https://kubernetes.io/docs/api-reference/extensions

[2017-05-05 19:29] farcaller commented on #22469
I'd love to do it by host, but that brings a whole lot of additional complications, so it's fine if we start with IP-only.

[2017-05-05 19:29] caesarxuchao commented on #16376
@ash2k @seh i've been dealing with the registration code ofthen these days, so a new thought: will add the following init func solve the problem?
[code]
(similar to this [line](metav1.AddToGroupVersion(scheme, SchemeGroupVersion))

[2017-05-05 19:35] cehoffman commented on #44273
Add verification to this that I tried to run 3 separate pods totaling about 50-60mb of used RAM and ran into this continually occurring pod network failure. The running services were not stable and would constantly fail and restart despite there being 300Mb of system memory unused in the cluster over 3 machines.

Adding a new pool of machines based on the `n1-standard-1` type and decomissioning th

[2017-05-05 19:40] kargakis commented on #45424
Doesn't seem like an issue, closing

[2017-05-05 19:40] #45424 closed

[2017-05-05 19:45] jeffvance commented on #44792
@msau42 My initial thought is that running in parallel is desirable because of the extra randomness added to the tests, and I assume parallel tests suites complete faster. If you agree with that then maybe it's better to increase the timeouts? What do you think?

[2017-05-05 19:51] ericchiang commented on #44476
All auth providers currently override the "Authorization" header even if it's set. Should be an easy-ish check to add.

Long term we probably want to have the auth provider stop wrapping the transport and just act like a token source https://github.com/kubernetes/kubernetes/pull/39587#issuecomment-291961912, that way some central code would handle the HTTP headers and we wouldn't have to enforce t

[2017-05-05 19:52] msau42 commented on #44792
Increasing the timeout is also fine, but when do we draw the line?

[2017-05-05 19:52] carlosedp commented on #45350
I have the same problem when provisioning PersistentVolumes on Kubernetes on my Openstack cloud. My current deploy is a Mirantis 9.2 running Mitaka with a VMware backend for either compute and storage. Manually I can create volumes on Openstack and attach them to my instances.

Here is some info about my environment:

[code]
Here follows my logs and files:

## Created a Cinder StorageClass, PVC an

[2017-05-05 19:58] copejon commented on #44792
I've done some manual testing on this scenario in a GCE debian cluster using an nfs server pod, pv, pvc, and client pod.

- Colocated on the same node, mounting is consistently near-instant.
- When NFS server and client are on different nodes, the mount operation can take as long as 20 minutes.  It does eventually mount though.
- This same hanging of `mount` occurs when ditching k8s and using NFS

[2017-05-05 20:01] rikatz commented on #22469
@xeor About the 'to', you define in which object this rule applies. See the podSelector attribute [here](https://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/#_v1beta1_networkpolicyspec).

Anyway I don't think that a issue is the best place to look at this doubts, instead I would suggest you to use the Kubernetes Slack channel :)

Thanks

[2017-05-05 20:10] dchen1107 commented on #22212
I really wish we can make some progress on this in 1.7, at least locking down the design and API. Without API, a lot of other works are stalled, and here are several ones on the top of my brain:

* Preemption feature in scheduler and re-scheduler
* Ensure the availability and qualify of service, etc. SLA for daemonset.
* Converting Kube-proxy to daemonset pod from static pod or native daemon
* Cle

[2017-05-05 20:13] marun commented on #45257
This test is flakey due to poor fixture design.  If it were the code, we'd be seeing problems in e2e and the secret and daemonset types, which use the same controller.  I propose to do away with the test by extending the integration test to cover behavior on cluster addition (the one thing the controller unit test does in addition to the integration test).

@perotinus I'm hoping you're not working

[2017-05-05 20:13] jkemp101 commented on #45234
@thockin Are you leaning towards approach 1?

Approaches:
1. There is no reason to route traffic to nodes that would never have a pod running on it.  Therefore we should automatically figure out the correct nodes and take care of all of the details behind the scenes for the user.  This is probably a lot of work.
1. Adding an additional "selector" to services would work but adds yet more complexity

[2017-05-05 20:15] davidopp commented on #22212
Maybe I will break out the part of the proposal that just deals with these issues and put that up independently. I was trying to avoid separating this from #36716 but it seems combining them may be too much to swallow as a single unit.

[2017-05-05 20:17] rootfs commented on #45350
@carlosedp empty `attachments` in `cinder show`, this is likely fixed by #40423

[2017-05-05 20:18] thockin commented on #45234
I'm against option 2 until option 1 has been explored and decided to be
prohibitive.

On Fri, May 5, 2017 at 1:14 PM, Joe Kemp <notifications@github.com> wrote:

[2017-05-05 20:24] msau42 commented on #44792
I'm very surprised.  20 minutes sounds incredibly bad.  Were there any explanations as to why it could take so long?  If colocating doesn't see any issue, then perhaps could it be related to getting the networking routes or config propagated through the network?

Can you take tcpdumps of both the client and server sides?  It can hopefully give us clues if the packets are actually getting through,

[2017-05-05 20:31] yujuhong commented on #42568
kubelet and apiserver share the same validation library, but the supposedly "cluster-wide policy" (based on the error message) actually varies node by node. I think that's what tripped kubelet and made it think the pod was invalid and should just be ignored.

One solution is exposing this node information to the control plane (e.g., what @davidopp suggested). Another potential fix for "terminating

[2017-05-05 20:36] internaught commented on #37335
is there any documentation on how to perform this test? What's the process someone should take?

[2017-05-05 20:48] k8s-merge-robot opened #45433 "Failure cluster [4943e1...] failed 104 builds, 31 jobs, and 16 tests over 1 days"
### Failure cluster [4943e1fb3a8b1700e80c](https://go.k8s.io/triage#4943e1fb3a8b1700e80c)
##### Error text:
[code]
##### Failure cluster statistics:
16 tests failed,    31 jobs failed,    104 builds failed.
Failure stats cover 1 day time range '4 May 2017 18:54 UTC' to '5 May 2017 18:54 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] StatefulSet [

[2017-05-05 20:48] k8s-merge-robot opened #45434 "Failure cluster [5ddf67...] failed 90 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [5ddf6734d51cae63b480](https://go.k8s.io/triage#5ddf6734d51cae63b480)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    90 builds failed.
Failure stats cover 1 day time range '4 May 2017 18:54 UTC' to '5 May 2017 18:54 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 2 |

##### Top fai

[2017-05-05 20:59] carlosedp commented on #45350
Thanks @rootfs. I guess I have to wait for 1.7.0 since I have no idea on how to patch this manually.

[2017-05-05 21:03] bowei commented on #44791
@fejta -- looks like your comment did the trick

[2017-05-05 21:08] #40905 closed

[2017-05-05 21:12] perotinus commented on #45257
@marun I hadn't started taking a look at this, so have at it. Thank you very much!

[2017-05-05 21:26] shyamjvs commented on #44767
Seems like this issue is a duplicate of https://github.com/kubernetes/kubernetes/issues/45038 (I guess I missed this one earlier).
@gmarek Can we close this now that it is fixed (unless there's something more to be done)?

[2017-05-05 21:29] #44767 closed

[2017-05-05 21:29] thockin commented on #22469
On Fri, May 5, 2017 at 12:18 PM, Lars Solberg <notifications@github.com> wrote:

I need to understand what people want to achieve with egress.
- pod-to-pod egress?
- pod-to-outside egress?
- based on target IP or based on hostname?

We have "to" in the form of podSelector

"from CIDR" has been proposed, we just wanted to GA before adding more.

logging is not a universal feature, so we can't easil

[2017-05-05 21:31] thockin commented on #22469
On Fri, May 5, 2017 at 12:29 PM, Vladimir Pouzanov
<notifications@github.com> wrote:

You're in the vast minority of people I speak to.  Digging into
use-cases it is almost always of the form "allow pod to hit github but
nothing else".

[2017-05-05 21:39] xeor commented on #22469
@thockin , by egress, at least for my case is about pod-to-outside based on (also in my case), a subnet. In short, I want a pod to not have access to certain parts of my network. Or a pod that only can get out on the internet.

[2017-05-05 21:44] thockin commented on #22469
Thanks.  That is much clearer.

On Fri, May 5, 2017 at 2:39 PM, Lars Solberg <notifications@github.com>
wrote:

[2017-05-05 21:56] jimmycuadra commented on #43662
This is still broken as of 1.6.2 and has just become a big priority for my team, as it breaks our deployment automation. See my comment here: https://github.com/kubernetes/kubernetes/pull/44877#issuecomment-299584930

[2017-05-05 22:29] copejon commented on #44792
I'm not very familiar with tcpdump.   I've  tried `tcpdump -s 200 port 2049 -vv` on both nfs and client host VMs but the output is the same:

`tcpdump: listening on eth0, link-type EN10MB (Ethernet), capture size 200 bytes`

Followed by nothing.  This was executed while the client pod is stuck in `ContainerCreating` w/ events:

[code]

This was tested with a server pod & client pod.  I haven't bee

[2017-05-05 22:40] pmorie commented on #43112
I would definitely support a scheme similar to what is proposed here.  When I read what is proposed, I imagine a controller that creates a new snapshot-resource from a 'master' resource.  We _do_ have a similar pattern in OpenShift for the `ImageStream` and `Image` resources.

One thing we should consider is:  typically a rollout for an application might involve:

1.  Changes to the images used
2.

[2017-05-05 22:54] riturajtiwari opened #45438 "[GKE] Ingress does not connect to NodePort Service"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** : `is:issue is:open gke `

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**: Hitting the static IP assigned to my

[2017-05-05 22:58] sd2302 opened #45439 "How to resourcelimit IOPS/Bandwidth (IO Qos) for GlusterFS Pods in Kubectl ?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-05 23:10] renoirb commented on #40835
Well described. What is the linux kernel version you're using, which kernel modules (flanneld Backend) you have loaded (vxlan)?

[2017-05-05 23:14] msau42 commented on #44792
Try capturing everything except SSH traffic:

tcpdump -s 0 port not 22

Also, are you specifying hostname or IP when mounting?

[2017-05-05 23:21] maxx commented on #40835
This could potentially be worked around by adjusting the annotation on the node, but flannel overwrites it on startup.  I raised an issue for this just hours ago:

https://github.com/coreos/flannel/issues/712

I'm not sure what the right approach is exactly, but --public-ip won't work when run with a daemonset.

[2017-05-06 00:06] ash2k commented on #16376
@caesarxuchao I don't know what has changed, but I've been using `cache.NewListWatchFromClient()` without any issues for a while now.
See https://github.com/atlassian/smith/blob/6009186895464eada1f9adaf1bb5bd50bb7a5610/pkg/app/app.go#L173

However, lets imagine it does not work. I don't see how moving `metav1.AddToGroupVersion()` into an `init()` function will solve anything (see my comment above)

[2017-05-06 00:14] gnufied commented on #31272
@eparis why do you think mount table will have hundred of thousand lines? Should we choose to use mount table - I am assuming we will have to read mount points in kubelet's namespace. So basically `/proc/<kubelet_pid/mounts` and `/proc/mounts` .  A node running kubelet shouldn't have that many entries afaict. I might me missing something important though..

It does sound like reading mount table m

[2017-05-06 00:22] seh commented on #16376
I'm just watching this discussion with interest, having been adapting the various TPR examples out there for my own uses.

I don't like having to also now juggle a `runtime.Scheme` and a `rest.Config` in order to build a `rest.RESTClient`; that need doesn't arise in the most authoritative example, because [it operates on the global `scheme.Scheme` value](https://github.com/kubernetes/client-go/blo

[2017-05-06 00:28] ddysher commented on #45053
cool, i'll look at mount_linux.go and probably start with /proc approach

[2017-05-06 00:32] #45425 closed

[2017-05-06 00:38] shashidharatd commented on #43196
This issue is sorted out and fixed by multiple PR's. Here is the status of the CI job. https://k8s-testgrid.appspot.com/cluster-federation#soak-gce-test
We can close this issue.
/close

[2017-05-06 00:38] #43196 closed

[2017-05-06 00:41] #40966 closed

[2017-05-06 00:43] jagosan commented on #44791
@deads2k can you elaborate?  Are you suggesting that #45304, when merged, may resolve?  That you are looking into it?  None of the above?

[2017-05-06 00:45] #29503 closed

[2017-05-06 00:45] #32535 closed

[2017-05-06 00:46] #35658 closed

[2017-05-06 00:46] #37058 closed

[2017-05-06 00:46] #37882 closed

[2017-05-06 00:46] #37892 closed

[2017-05-06 00:46] #37896 closed

[2017-05-06 00:46] #37916 closed

[2017-05-06 00:46] #37937 closed

[2017-05-06 00:46] #37940 closed

[2017-05-06 00:46] #37947 closed

[2017-05-06 00:46] #37992 closed

[2017-05-06 00:46] #38022 closed

[2017-05-06 00:47] #38055 closed

[2017-05-06 00:47] #38065 closed

[2017-05-06 00:47] #38081 closed

[2017-05-06 00:47] #38470 closed

[2017-05-06 00:47] #38471 closed

[2017-05-06 00:47] #38472 closed

[2017-05-06 00:47] #38484 closed

[2017-05-06 00:47] #38487 closed

[2017-05-06 00:47] #38490 closed

[2017-05-06 00:48] #39174 closed

[2017-05-06 00:48] #39177 closed

[2017-05-06 00:48] #39292 closed

[2017-05-06 00:48] #39378 closed

[2017-05-06 00:48] #39704 closed

[2017-05-06 00:48] #40133 closed

[2017-05-06 00:48] #40356 closed

[2017-05-06 00:48] #40391 closed

[2017-05-06 00:48] #40599 closed

[2017-05-06 00:48] #40671 closed

[2017-05-06 00:48] #40681 closed

[2017-05-06 00:49] #40960 closed

[2017-05-06 01:04] k82cn commented on #45237
According to the latest log, the node is unschedulable. Suppose there's only one node here, right?

[code]

[2017-05-06 02:37] mkumatag commented on #44325
It fails because we haven't ported those test images for any other platform other than amd64.. Work on progress to make those tests images for all other architecture like arm, arm64, ppc64le, s390x..

[2017-05-06 03:53] monaka commented on #45207
Similar here on CoreOS 1298.7.0 / Kubelet v1.6.1_coreos.0.
And just in my case, it seems to be a harmless timing issue.
As it look serve.go runs after logs was shown.  Logs are like this.

[code]

[2017-05-06 04:27] shenlanse commented on #45220
Honestly, i didn't reproduce the bug in 1.6. But I have read the code of 1.6, think this problem still exists in logic.

[2017-05-06 07:55] xiangpengzhao commented on #42568
@yujuhong As per your comment, the validation of `privileged` is a _cluster-wide policy_ for apiserver, but a _node capability_ for kubelet, right?

and did you mean the below points by "potential fix":
* separate such validation logic out of the current shared validation library.
* apiserver checks the cluster-wide support of `privileged` and the other existing validation.
* kubelet checks the ot

[2017-05-06 08:03] Bregor commented on #44307
@freehan example from @bboreham was run on k8s-1.6.2

[2017-05-06 08:15] k82cn commented on #40782
/close

act as #41297

[2017-05-06 08:16] k82cn commented on #40782
/assign

[2017-05-06 08:16] k82cn commented on #40782
/close

[2017-05-06 08:16] #40782 closed

[2017-05-06 08:54] gajus commented on #43279
Same here. The only thing that helped on GKE is deleting all the VM instances.

[2017-05-06 09:07] bliuredhat commented on #45420
+1, The same question for me

[2017-05-06 09:47] xiangpengzhao commented on #33621
Arun, how is it going? @arun-gupta

[2017-05-06 10:40] xiangpengzhao commented on #33522
@zilman Can you see any pending pods after `kubectl create`? If so, this might be a scheduling issue.
@davidopp @k82cn

[2017-05-06 10:43] Spindel commented on #45237
coreos01.kub.do.modio.se is the master,   there are 6 nodes in this cluster, and 2 are labelled for the selection `gitlab=true`, both of them have resources enough to run at least two jobs within the limits.

[2017-05-06 10:53] bboreham commented on #44307
@freehan ok I understand why it got that way, but basically you force the plugin to never error on DEL. We have made this change now.

To clean up something that was never allocated, in a condition when the data store is unavailable, is an extreme interpretation of "best effort".

[2017-05-06 13:33] quasiben commented on #45420
In the mean time, i've patched `rest.py` with the following:

[code]

[2017-05-06 14:40] wanghaoran1988 commented on #45220
I see that we start a gorutine of the scheduledPodPopulator `go f.scheduledPodPopulator.Run(f.StopEverything)`, but we never wait the queue sysc, maybe we need wait  until `f.scheduledPodPopulator.HasSynced()` return true ?
here is the code:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L455

[2017-05-06 14:59] #45428 closed

[2017-05-06 16:07] luxas commented on #45145
PR uploaded: https://github.com/kubernetes/kubernetes/pull/45432 :+1:

[2017-05-06 17:03] discostur commented on #39722
@liggitt i'm facing the same problems but i think you can't change the api-server parameters (anonymous-auth=false) if you run your cluster on GCE (because google is managing the master node for you).

as i wrote in another issue:
https://github.com/kubernetes/dashboard/issues/1728#issuecomment-292953096

I tried to work around with my on premise cluster (where i have access to the apiserver manif

[2017-05-06 17:10] liggitt commented on #39722
If you disable anonymous auth, you have to move the health checks to the localhost:8080 port

[2017-05-06 17:11] liggitt commented on #39722
The best way to access the dashboard if you want to go through the API proxy is to run `kubectl proxy` locally and access http://localhost:8001/ui

[2017-05-06 17:12] discostur commented on #39722
@liggitt thanks for the tip, will try that as soon as i can ;)

[2017-05-06 17:58] #45405 closed

[2017-05-06 18:55] davidopp commented on #45220
@wojtek-t @bsalamat

[2017-05-06 19:17] #40986 closed

[2017-05-06 21:23] smarterclayton commented on #45118
I think stateful sets are unaffected by this unless both new and old
machines are booted at the same time AND either kubelet fails to
terminate the pods.  I can't think of how that would happen.

Not being able to unmount a volume could be caused by other admin
actions and is something we can warn about.

[2017-05-06 21:41] smarterclayton commented on #45249
We can just document the supported fields on the Godoc of Limits field?

[2017-05-06 22:18] smarterclayton commented on #40331
I've seen this as well.

[code]

I think there's a bug where we exit early from the manifest loop and then entire goroutine wedges or dies.

[2017-05-06 22:19] smarterclayton commented on #40331
Makes it hard to debug static pods.

[2017-05-06 22:40] daplho commented on #14017
Actually, it does come up still. Not quite sure what the definite cause is but it seemed to go away after a build of `kubernetes` and

[code]

[2017-05-07 02:05] mappedinn opened #45451 "What should be used for sharing the volume of StatefulSet between its pods: NFS ou etcd?"
I want to deploy a high performance (multi node) database. To do that, StatefulSet will be used.
So, what should be used for sharing the content of the database between the pods of the StatefulSet application? `NFS` could do the work? or `etcd`?

Thanks,

[2017-05-07 06:03] #38542 closed

[2017-05-07 07:42] luxas commented on #32749
Status update on this? Relevant anymore?
Would be cool to have...

[2017-05-07 08:13] gingerlime commented on #13355
just curious, but why isn't this working if the json key name is `level` rather than `severity` ?

... especially since the UI refers to it as `level` as well, and (to my very limited knowledge) I think it's usually referred to this way.

![screenshot_2017-05-07_10-12-11](https://cloud.githubusercontent.com/assets/524274/25778981/b9428ef6-330d-11e7-93d8-69dc45cff918.png)

[2017-05-07 08:40] ash2k opened #45454 "SharedInformer.Run() should wait for all spawned goroutines to stop"
This is an improvement/change request.

**What happened**:
`sharedIndexInformer.Run(stopCh <-chan struct{})` (k8s.io/client-go/tools/cache/shared_informer.go) calls `sharedProcessor.run()` and `controller.Run()` which spawn 2 goroutines for each attached listener and 1 goroutine. When `stopCh` is closed, `sharedIndexInformer.Run` returns, not waiting for all goroutines to finish.

**What you expec

[2017-05-07 08:51] chandanmad commented on #45147
The outout of this command kubectl get rc/nginx-controller -o=yaml , has service acccount at the following path 'spec.template.spec.serviceAccountName' , and the corresponding pod has service account at 'spec.serviceAccountName'. Both refer to the 'serviceAccountName' field of PodSpec struct but can be made to be different by patching the ReplicationController resource.

How does ReplicationContro

[2017-05-07 11:27] jayunit100 commented on #45361
Yeah , this sounds like the node was already registered . please confirm what avesh asked....

Otherwise register-with-taints semantics can be misleading.  We might want to revisit how we handle the "already registered but not tainted " register-with-taints behavior at some point , but maybe the dynamic kubelet config will solve that for us...

[2017-05-07 12:11] shahidhk commented on #43570
Duplicate of #15180

[2017-05-07 13:52] justinsb opened #45456 "defaultEtcdPathPrefix in sample-apiserver is doubled"
defaultEtcdPathPrefix is set to "/registry/wardle.kubernetes.io"

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start.go#L32

But this then results in a path in etcd which looks like:

`/registry/<servername>/registry/<servername>/<groupname>/<kind>/`

When defaultEtcdPathPrefix is set to `/`, we get `/<groupname>/<kind>/`

This is with etc

[2017-05-07 13:52] justinsb commented on #45456
cc @kubernetes/sig-api-machinery-bugs

[2017-05-07 13:54] warmchang commented on #17470
nice job!

[2017-05-07 14:07] justinsb opened #45457 "storage-backend should be consistent across all servers"
apiserver has storage-backend default to etcd2.  In 1.6, we're hoping to use UAS for additional API functionality, and for new servers the default has been changed to etcd3.

This is bad UX; it ends up where we have to know the default version of etcd in place at the time when the server project was first created (etcd2, 3, 4, 5...).  Not passing any argument will result in a different backend ass

[2017-05-07 14:08] justinsb commented on #45457
cc @pwittrock as I think you're the rare unicorn that does both UX and UAS

[2017-05-07 14:09] warmchang commented on #44063
Nice job!

[2017-05-07 15:50] wanghaoran1988 commented on #44476
@ericchiang So the tokens from command line should be used, right? if so I can send a pr to fix this.

[2017-05-07 18:35] kargakis commented on #15180
@kubernetes/sig-cli-feature-requests

[2017-05-07 18:35] #43570 closed

[2017-05-07 19:22] shahidhk commented on #15180
We are looking at this issue as it is a pressing use case for us. Currently we use port-forward to a pod, but when he service restarts, the tunnel breaks. I'm thinking of possible ways to implement a persistent tunnel to a service.

Taking service name as an argument and getting​ corresponding pod based on that to forward the port seems like the easiest one to implement. Restarts and multiple pods

[2017-05-07 19:30] ianchakeres commented on #40099
**I was unable to reproduce this issue on my Mac. I am running commit 79a2e35 from master on 2017-05-05.**

**Environment**: Dev

* **Cloud provider or hardware configuration**:
* **OS**: MacOS 10.12.14
* **Kernel**: Darwin Kernel Version 16.5.0
* **Install tools**: Go1.8.1
* **Others**:
**What happened**:

**I was unable to reproduce this issue on my Mac. I am running 79a2e35.**

[code]

[2017-05-07 21:09] k8s-merge-robot opened #45458 "Failure cluster [c38741...] failed 119 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [c3874172e135f03ec355](https://go.k8s.io/triage#c3874172e135f03ec355)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    119 builds failed.
Failure stats cover 1 day time range '6 May 2017 19:54 UTC' to '7 May 2017 19:54 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 2 |

##### Top fa

[2017-05-07 21:45] kargakis commented on #45357
I am not sure if editing YAML or piping to sed is any less complex from a UX perspective. Closing in favor of #7296

[2017-05-07 21:45] #45357 closed

[2017-05-07 22:21] mikedanese commented on #45361
@mccormd this looks like a dupe of https://github.com/coreos/flannel/issues/667 which is a problem with flannel (I notice your flannel annotations). It's fixed in the newest release of flannel.

[2017-05-07 22:43] ZachGoldberg opened #45459 "Pods cant access ServiceIPs/DNS in a fresh setup with kubeadm on ubuntu 16.04"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Yes, I have looked at and followed https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ and https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#does-the-service-work-by-ip to no avail

**What ke

[2017-05-08 00:33] chrisseto opened #45461 "kubectl delete parses cascade incorrectly"
**BUG REPORT**

**Kubernetes version**:
[code]

**Environment**:
- ~~**Cloud provider or hardware configuration**:~~
- **OS**: macOS 10.12.4
- **Kernel**: Darwin Kernel Version 16.5.0
- ~~**Install tools**~~:
- ~~**Others**~~:

**What happened**:
When running `kubectl delete statefullset NAME --cascade false` the cascade flag is ignored.

**What you expected to happen**:
Either cascade be set to f

[2017-05-08 01:07] lihan commented on #19475
+1

[2017-05-08 01:46] divyenpatel opened #45464 "Orphaned pod found - but volume paths are still present on disk"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Yes

**What keywords did you search in Kubernetes issues before filing this one?**
Orphaned pod found, but volume paths are still present on disk.
could not determine device for path
Could not construct volume information, volume is not

[2017-05-08 02:14] ericchiang commented on #44476
@wanghaoran1988 the client auth plugins shouldn't override the "Authorization" headers. Yeah feel free to send a PR.

[2017-05-08 02:41] justinsb commented on #45118
For a change of this significance, we'll want an e2e showing the problem, and then a PR that lets the e2e pass.

[2017-05-08 02:47] shenlanse commented on #43605
@timothysc  @erictune .  I am sure this problem exists. And i think we can find a better way to deal with it.

[2017-05-08 03:14] justinsb commented on #43340
@cmluciano not yet.  PRs welcome.

[2017-05-08 03:21] justinsb commented on #45368
@erictune for the kernel, this is as good as it gets IMO.  We have some patches that apparently fix a similar issue, which are in >= 4.7, but not in 4.4 for some reason.  I think if we understood those we'd be in good shape here; we could start with an e2e run with a 4.9 kernel (now that 4.9 is LTS).  If that does _not_ show this issue we can look at backporting to the recommended 4.4 kernel confi

[2017-05-08 04:51] justinsb commented on #44735
@zetaab looks like you solved it in #44798 - sorry I didn't get to this sooner :-)

[2017-05-08 05:15] gmarek commented on #45060
Ping @k8s-mirror-api-machinery-pr-reviews

[2017-05-08 06:13] xiangpengzhao commented on #45461
This might be by design or an issue of pflag. What I see is that:

- if a flag has a shorthand, you can use it both with or without `=`.
- if a flag doesn't have a shorthand, you can only use it with `=`.

For example:

`--output` has a shorthand `-o`.
[code]

`--all-namespaces` doesn't have a shorthand.
[code]

cc @adohe

[2017-05-08 06:40] shiywang commented on #45373
/subscribe

[2017-05-08 07:05] skyjia commented on #21582
`kubectl get po,deployment,rc,rs,ds,no,job -o yaml` ?

[2017-05-08 07:16] keyingliu commented on #43783
cc @yujuhong

[2017-05-08 07:35] dolftax commented on #27796
My PRs are pending because of CLA. I have signed it and am using same email address. Ex: https://github.com/kubernetes/kops/pull/2524 // Email : `jaipradeesh [AT] gmail.com`

@foxish @sarahnovotny :point_up: Take a look?

[2017-05-08 09:08] fzu-huang opened #45476 "Shall we add resource kernel-memory limit ？"
We see kernel memory cgroup is not setting, which means `default` to `No Account` in kubernetes, Limit kernel memory will be useful when many containers are running on one machine. New process will be prevented to create when kernel memory usage is too high.

There are description about kernel memory in cgroup doc:

Because the "kmem" counter is fed to the main user counter, kernel memory can
neve

[2017-05-08 09:37] #43961 closed

[2017-05-08 09:43] xialonglee opened #45479 "kubedns can resolve kubernetes and kubernetes.default.svc.cluster.local, but not kubernetes.default"
**Kubernetes version**: v1.6.0

**Environment**:
- **OS**: Centos 7
- **Install tools**: ansible
- **kubedns images and args**:
[code]

**What happened**:

When I clean my node's `/etc/resolve.conf` file (make it empty),
Kubedns could resolve resolve `kubernetes` and `kubernetes.default.svc.cluster.local`,
but **can not resolve** `kubernetes.default`, `kubernetes.default.svc`, because the library

[2017-05-08 10:27] xialonglee commented on #45479
cc @bowei @MrHohn

[2017-05-08 10:50] mccormd commented on #45361
Hi, apologies for the delay in trying this out - I can confirm it was the flannel bug and the newest version of flannel (7.1) resolved the problem for me.  Many thanks!

[2017-05-08 10:50] #45361 closed

[2017-05-08 11:00] ktsakalozos opened #45482 "Kubernetes master juju charm fails bundletester"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes versio

[2017-05-08 11:12] OrDuan commented on #26299
As other mentioned, there is not enough docs on this feature.
I was trying to create a container and use the `envFrom` but go no luck since I got this error:
[code]

In my yaml file I wrote:
[code]
Did I missed something ?

[2017-05-08 11:25] matt-tyler commented on #38075
I can look into fixing this if no-one else has already made a start on it?

[2017-05-08 11:38] erikgrinaker opened #45484 "podAntiAffinity namespace defaults to all, not current as documented"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): podAntiAffinity namespaces

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2017-05-08 11:48] guillelb commented on #43634
Thank you a lot!  This was my problem too.

[2017-05-08 11:50] fschuh opened #45486 "kubectl: insecure-skip-tls-verify doesn't work when using an http proxy"
---

**BUG REPORT**

**Kubernetes version** (use `kubectl version`): tested on both 1.6.2 and 1.5.3

**Environment**:
- **Cloud provider or hardware configuration**: Cluster is on Amazon AWS, kubectl is running on Docker-Toolbox in Windows (Docker version 17.04.0-ce)
- **OS** (e.g. from /etc/os-release): Alpine Linux 3.5
- **Kernel** (e.g. `uname -a`): Linux 46c5dc4c327e 4.4.66-boot2docker #1 SMP

[2017-05-08 11:53] jeroenjacobs1205 opened #45487 "kubernetes ignores /root/.docker/config.json"
I have docker setup with a private registry, the credentials are stored in /root/.docker/config.json.

Pulling images manually with "docker pull" works just fine, no issues there.

However, when images are pulled from Kubernetes it complains it's unable to authenticate.

Judging from the documentation here (https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/), thi

[2017-05-08 12:06] adohe commented on #7296
Thus I will document this to make it more clear.

[2017-05-08 12:09] benjigoldberg commented on #44852
Bump, have a patch that fixes this issue in my forked repo. Waiting to submit until acknowledgement of this issue!

[2017-05-08 12:09] benjigoldberg commented on #44822
Bump, have a patch that fixes this issue in my forked repo. Waiting to submit until acknowledgement of this issue!

[2017-05-08 12:10] benjigoldberg commented on #44856
Bump, have a patch that fixes this issue in my forked repo. Waiting to submit until acknowledgement of this issue!

[2017-05-08 12:14] jeroenjacobs1205 commented on #45487
Some logs:

[code]

What is that "Non-root verification doesn't support non-numeric user (jenkins)" stuff ??

[2017-05-08 12:15] adohe commented on #27308
@ahmetb good job 👍  I would take a deep look at your example and if possible I would like to we can have a discussion.

[2017-05-08 12:26] wojtek-t opened #45489 "Kubemark setup script is silently dropping errors"
I'm seeing the following in my logs:
[code]

There was an errors, and we silently skipped it.

@shyamjvs  @gmarek

[2017-05-08 12:54] deads2k commented on #44791
If the problem is slow namespace cleanup, then *some* of that slowness can be addressed by #45304 which ensures that the cleanup controller won't be throttled during its discovery which is extremely chatty.

Some of the slowness may be graceful deletion timing, but we don't even get to graceful deletion timing without addressing the discovery rate limiting on the namespace controller.

[2017-05-08 12:57] slaskawi commented on #23291
Perhaps this proposal (https://github.com/kubernetes/community/pull/446) might be connected (or may partially solve) to this issue.

[2017-05-08 13:04] adohe commented on #45178
I would like to help with kubectl related clean up. Also this should be part of job that we need to finish when we decouple kubectl from the core repo [https://github.com/kubernetes/community/pull/598](https://github.com/kubernetes/community/pull/598)

[2017-05-08 13:13] tartavull commented on #9207
I'll try 1.6, I was running 1.5.3

[2017-05-08 13:15] cmluciano commented on #45476
@kubernetes/sig-node-feature-requests

[2017-05-08 13:15] msau42 commented on #44792
@jeffvance would you be able to take over this investigation?  I'm at a conference this week, so will have limited time to debug.

If we look at the past failures and successes, can we find a correlation that the test always succeeds when the nfs server and client pods are co-located, and always fails when they are not?  This may help us determine if perhaps we are just not configuring the nfs ser

[2017-05-08 13:17] cmluciano commented on #45426
@kubernetes/sig-network-bugs

[2017-05-08 13:34] adohe commented on #45147
@kargakis ptal, I think you are more familiar with ReplicationController implementation than me.

[2017-05-08 13:36] liggitt commented on #45147
ReplicationController contains a pod spec object, which contains a serviceAccountName.

[2017-05-08 14:12] mikesplain commented on #28226
@Deepakkothandan @while1eq1 Are your nodes properly labeled with the failure domains? I've had this working fine for awhile but the biggest trick was to make sure nodes were properly labeled with regions (make sure `kubectl get nodes --show-labels` includes `failure-domain.beta.kubernetes.io/region`.   I also use a `failure-domain.beta.kubernetes.io/region` label as well on the pv, as mentioned ab

[2017-05-08 14:25] timothysc commented on #45300
Side-car with leader-election code is the simplest answer.

I've done it a number of times, or you could startup wrap as well if you don't want a side-car.  Building it into the primitives is thorny b/c there is no 1st class api object... (cough cough, snipe snipe)

/cc @mikedanese

[2017-05-08 14:40] jeroenjacobs1205 commented on #45487
Okay, This is madness... The documentation suggests that this file should be in $HOME/.docker/config.json. Since docker runs as root, I assume this means /root/.docker/config.json

Then I stumbled on this issue: https://github.com/kubernetes/kubernetes/issues/12835. This suggests /var/lib/kubelet as the parent directory, so I assumes this means /var/lib/kubelet/.docker/config.json

However, it see

[2017-05-08 14:42] shyamjvs commented on #45489
Good catch! Thanks for pointing.

[2017-05-08 15:02] nikhiljindal commented on #13306
This came up while discussing https://github.com/kubernetes/kubernetes/issues/35254 for federation.

@smarterclayton are you using this in OpenShift?

Lot of the discussion here is split across this issue and the corresponding PR (https://github.com/kubernetes/kubernetes/pull/13925).

The main thing this seems to be blocked on is to collect more use cases where this will be useful. I see the main

[2017-05-08 15:08] shyamjvs commented on #40139
Ok. Took me some time to debug the tests, but seems like there are at least a couple of interesting bugs here, mostly relating to docker. I might be wrong at some places, but I've mostly tried gathering evidence from logs wherever possible.

- 11061, 11049, 11024, 10347: [curl server-side flake]
CURL_RECV_ERROR while calling curl in cluster/get-kube.sh viz. connection was reset by peer.
It occured

[2017-05-08 15:09] ipedrazas commented on #45459
I'm seeing the same problem in one of my clusters. Which version of Docker are you running?

[2017-05-08 15:13] tharpa commented on #43344
I see the same issue while trying to deploy the cassandra cluster on the k8s cluster defined here: https://github.com/exoscale/multi-master-kubernetes.

Please provide me with some debugging and fixing hints!

[2017-05-08 15:20] wojtek-t commented on #40139
@shyamjvs Thanks a lot for this detailed analysis - this is great!

I have some comments below:

CURL_RECV_ERROR while calling curl in cluster/get-kube.sh viz. connection was reset by peer.
It occured only around the time of those runs, so most probably some temporary issue on the webserver.

Where this curl is coming from? Can we retry this?

The reason was systemd-networkd.service continuously f

[2017-05-08 15:25] ZachGoldberg commented on #45459
[code]

I'm skeptical that it's dockers fault, given that the networking works in a "regular" docker container but doesn't work inside a k8s pod.  I've been wrong before though...

[2017-05-08 15:33] Deepakkothandan commented on #28226
@mikesplain Below are labels for the node and EFS volume respectively which do contain failure-domain label. The k8s version that I am running is 1.5.4

![image](https://cloud.githubusercontent.com/assets/7385180/25811676/501addcc-3414-11e7-9ce3-a8489cae9e92.png)

![image](https://cloud.githubusercontent.com/assets/7385180/25811714/678f35de-3414-11e7-8c59-8d3b14589db2.png)

[2017-05-08 15:39] wojtek-t commented on #45216
So after some issues that I faced, I managed to produce a comparison for profiles. And now I can confirm with 100% confidence that the regression is because of Go upgrade.

So basically, I've run 5000-node kubemark cluster (from head) and run load test on it (just did first 15 minutes or so of it - it's enough).

At head (with Go 1.8.1):
- apiserver is pretty consistently using ~36 cores (all the

[2017-05-08 15:53] timothysc commented on #45216
1.8 :
[code]
Stands out like a sore thumb vs.
[code]

[2017-05-08 15:54] fabianofranz commented on #38075
@matt-tyler feel free to take it, thanks!

[2017-05-08 15:55] piosz opened #45498 "Remove cyclic deps"
Currently we have cyclic deps of:
- Heapster
- metrics API.

cc @lavalamp @DirectXMan12

ref #45176

[2017-05-08 16:24] pmorie opened #45499 "Determine the mutability story for PodPreset"
Currently the `PodPreset` resource is immutable. It cannot be altered (except for things like labels and annotations, like any other k8s resource) once it is created. This was a trade-off we made to:

1.    Avoid thinking through the complexities of updating such an object
2.    Avoid backing ourselves into backward compatibility expectations we would regret in the future

I think it should be mut

[2017-05-08 16:24] pmorie commented on #45499
See: https://github.com/kubernetes/kubernetes/issues/45499

[2017-05-08 16:32] spiffxp commented on #18162
should have been closed a while ago

[2017-05-08 16:32] #18162 closed

[2017-05-08 16:55] bcorijn commented on #43739
Seeing this in my logs as well. I had an issue some weeks ago that caused my master to become very slow to respond and often time-out. Figured out it was because of a CronJob that had been running every few minutes for several days without any clean-up, leaving some 3500 old jobs/pods around. I didn't check the kube-controller-manager logs back then, but wondering if this wouldn't be related?

[2017-05-08 17:13] vasartori opened #45502 "Kubelet fail when openstack certificate is expired"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.5.7

**Environment**:
- **Cloud provider or hardware configuration**: openstack
- **OS** (e.g. from /etc/os-release): Container Linux by CoreOS 1353.7.0
- **Kernel** (e.g. `uname -a`): 4.9.24-coreos
- **Install tools**:
- **Others**:

**What happened**: When the api certificate

[2017-05-08 17:19] bradfitz commented on #45216
I'm busy with OSCON this week. Maybe @tombergan can take a look.

[2017-05-08 17:21] smarterclayton commented on #44995
OpenAPI?

[2017-05-08 17:25] bradfitz commented on #45216
Do you have a self-contained `func BenchmarkFoo(b *testing.B)` we can run locally? Firing up 5,000 nodes is a little painful of a repro.

Or, do you know which HTTP handlers exhibit the most throughput decrease and what their write characteristics are so we can try to write a similar ServeHTTP benchmark func? Is the `k8s.io/apiserver/pkg/endpoints/metrics.(*fancyResponseWriterDelegator).Flush` flu

[2017-05-08 17:39] wojtek-t commented on #45216
We don't have any benchmark.

I'm not Go expert, but my feeling is that it's not about any particular handler that was slower. Looking into profiles, it seems that http2serverConn is slower, as @timothysc pointed above:

Go 1.7: net/http.(*http2serverConn).serve: 6.6%

Go 1.8: net/http.(*http2serverConn).serve: 57.03%
(out of which 96% going into runtime.selectgo)

It seems that either something i

[2017-05-08 17:44] jagosan commented on #44791
Thanks @deads2k.  Propose leaving issue as-is until post- #45304 merge.  At that point: if still flaky,

Related question in the comments above about 'reasonable time'.  It appears that test timeouts are convention rather than some SLO commitment; unless that interpretation is incorrect, I would propose increasing the timeout to resolve test flakiness and opening a new issue to investigate gracefu

[2017-05-08 17:48] deads2k commented on #44791
That's fine with me.

I don't have strong feeling on this issue, though I would be annoyed if queue were closed instead of increasing a timeout.

[2017-05-08 17:54] MrHohn commented on #45479
/area dns

but can not resolve kubernetes.default, kubernetes.default.svc

Did you check the content of `/etc/resolve.conf` in your busybox container? I suspect it does not have proper search paths set up.

[2017-05-08 17:57] deads2k commented on #13306
No, we are not.

[2017-05-08 18:03] DirectXMan12 commented on #45498
Heapster should be solvable by switching the legacy API files to use the type definitions from the non-legacy API directories in `k8s.io/metrics`.

Solving the cyclic deps for the metrics API is already in progress between me and @caesarxuchao (see https://github.com/kubernetes/kubernetes/pull/45384 and a few others).

[2017-05-08 18:08] bradfitz commented on #45216
The http2 server code did grow 3 more select cases between 1.7 and 1.8:

[code]

Could you try locally deleting those three new ones (wantStartPush, gracefulShutdownCh, and idleTimerCh) and re-measure?

That would at least tell us whether it's select getting wider vs. the runtime itself being slower at select?

But it might be easier for us to test locally rather than spinning up 5,000 VMs. I just

[2017-05-08 18:18] wojtek-t commented on #45216
How can I do it? Is it part of Godeps?

It's kubemark - so it is spinning 82 VMs (still takes time, but much easier than 5000 VMs). I can send more detailed instructions tomorrow if needed.

[2017-05-08 18:22] SleepyBrett commented on #43279
In my experience this means that you have a wedged docker daemon. `kubectl get pods -o wide | grep Unknown` will help you determine which node might be a fault. My general remediation strategy is to not fiddle with docker and just terminate the node.

[2017-05-08 18:22] bradfitz commented on #45216
I don't work on Kubernetes and don't use Godeps, so I can't help you there. You'd need to patch the standard library, but I'm not sure how you get the standard library (or binaries) for building your Docker images before they're pushed to GCR (presumably?). I'm not familiar with any of that process.

Well, I'm gone Tue-Fri, so no rush. But any instructions should also tell me how to patch in local

[2017-05-08 18:25] #44243 closed

[2017-05-08 18:25] wojtek-t commented on #45216
I checked and it's not part of Godeps - we have some somehow automatically pull them in.

@timothysc @thockin @jbeda - do you know we can do this?

[2017-05-08 18:27] caesarxuchao commented on #45498
I have some local changes that moved some heapster packages to the third_party/forked to avoid the cycle. I'll share more soon.

[2017-05-08 18:32] caseydavenport opened #45506 "Document etcd supported versions and supported transitions (matrix?)"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Vagrant
- **OS** (e.g. from /etc/os-release): CoreOS
- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:

I deleted a Namespace and did not receive a DELETED event.

**What you expected to happen**:

I would expect and event with `"type": "DELETED"` indicating the deletio

[2017-05-08 18:40] bowei commented on #32749
IMHO, the main issue that needs to be worked out is the address on which the dnsmasq will bind to locally in a way that is accessible to all pods on the node.

There are several choices:
* bind to node:53
* bind to a local only VIP (the proposed local service feature)
* bind to *:53

This looks to be a great fit for the local service feature -- but perhaps should not wait for that to land...