[2019-04-30 14:43] lbernail commented on #75443
The nodeport should appear in this list with something like:
[code]

Did you run the ipvsadm command on the same host? (host IP seems to be `172.16.1.7` instead of `172.16.1.9`)

The nodeport seems to work OK for `31481`

[2019-04-30 14:43] DarrienG commented on #77216
More info - it looks like this may be caused by Kubernetes somehow getting into a strange state where it isn't sure whether or not containers for the image exist.

In the case today, we had two crons scheduled to run on the same host. The first cron is stuck in ContainerCreating and not running at all. The second cron is stuck in ContainerCreating with an actual error:

[code]

However, if you loo

[2019-04-30 14:44] DarrienG commented on #77216
Going to add /sig apps as well. This probably isn't just in issue for crons, we just happen to hit it more with crons.

[2019-04-30 14:44] DarrienG commented on #77216
/sig apps

[2019-04-30 14:45] claudiubelu opened #77268 "Kubernetes test images should include Windows images in their manifest lists"
**What would you like to be added**:

/sig windows
/sig testing

/area conformance

The images used in Kubernetes tests should also include Windows images in their manifest lists. Right now, in order to run E2E tests with Windows nodes, the env var ``KUBE_TEST_REPO_LIST`` needs to be set, containing alternative repositories which contain Windows images (the ``e2eteam`` repository is mainly used).

[2019-04-30 15:07] vllry commented on #77264
There is a fix for this in #76399, when I get to the office I’ll look at backporting it.

/priority important-soon
/assign @vllry
/remove-triage unresolved

[2019-04-30 15:10] jeffreystoke commented on #77202
@jayunit100 @mattjmcnaughton thanks to your replies, I will repost this issue to these slack channel, and read more docs, seems I'm doing feature request not quite the Kubernetes way.

[2019-04-30 15:37] hprateek43 commented on #77266
@arun17sep2018 Can you describe the issue you are facing, the steps to reproduce locally and the version of the kubernetes you are using. Also would recommend you to go through documentation, as it seems you are looking for support in the wrong place.

[2019-04-30 15:40] tedyu commented on #77166
My concern was w.r.t. resource consumption of the potentially concentrated pod killing.
I think using worker pool serves as rate limiting so that related components are not stressed even if there are high number of pods to be killed in a short period of time.

Thanks

[2019-04-30 15:47] paulgmiller commented on #76338
@logicalhan  agree while those metrics showed some of the symptoms they weren't great to alert on. Currently thinking of adding  a much more positive sign we could point a liveness prove at in PR #77242

[2019-04-30 15:50] cblecker commented on #75833
I can also help out to get this upgrade in when it’s released. Thanks for all your work on this @wojtek-t!

[2019-04-30 16:01] MrD2 commented on #76308
Same happens to me.
Correction, it does not allow to use the default permissions outside of kube-system

[2019-04-30 16:22] #67892 closed

[2019-04-30 16:25] ZhimaoL commented on #72775
The same problem here. I am wondering is there any workaround for this issue?

[2019-04-30 17:14] jribeauv commented on #47368
Hi,

I totally agree and support sonykus request .
Hope somebody will be able to convince contributors to add this feature.
In the meantime is tere really no "tricky" way do send metadata to a docker container , part of Kubernetes deployment issued from a docker-compose  ?
Thx.
JP

[2019-04-30 17:37] base698 commented on #22888
Is this still a thing?  Lots of the proposal documentation link to dead pages.

[2019-04-30 17:41] jpbetz opened #77272 "leveraging etcd minor version features"
etcd 3.4 is slated for release in late June 2019. It includes additions to the API that Kubernetes can only leverage if the kube-apiserver knows it's making requests to a etcd 3.4+ cluster.

The kube-apiserver's `--storage-backend` flag is available to set the etcd major version ("etcd3").

Would it be acceptable to introduce minor version options to this flag, e.g. "etcd3.4" ?

An alternative wou

[2019-04-30 17:44] spiffxp opened #77273 "test/soak/cauldron uses Docker Hub to push/pull image"
We've deleted all repos from Docker Hub and will be retiring the org/user (ref: https://github.com/kubernetes/k8s.io/issues/237)

Apparently the `kubernetes/cauldron` repo is referenced for docker push and pull in https://github.com/kubernetes/kubernetes/blob/master/test/soak/cauldron/Dockerfile

It's unclear to me whether we have broken anything, or if this is dead code.  I would use https://cs.k

[2019-04-30 17:50] neolit123 commented on #77272
/sig api-machinery

[2019-04-30 17:51] SumGR commented on #40244
Do you have an example of what your deployments look like? I too just started running into this issue.

[2019-04-30 18:04] prashantgolash commented on #32220
I am new to Kubernetes community and was going through role board recommendations on older threads - https://discuss.kubernetes.io/t/dev-looking-to-start-contributing/4679/3.

If everyone is ok, can I pick this issue and work on it.

[2019-04-30 18:04] lumjjb commented on #22888
I think this issue can be closed. Mutating admission controller webhooks allowed this to be implemented as a webhook.

This can be achieved today with an external webhook.
One example to do this is a webhook we built: https://github.com/IBM/portieris

[2019-04-30 18:23] brancz commented on #58638
/remove-lifecycle stale

[2019-04-30 18:26] andrewsykim commented on #68947
/remove-lifecycle stale

We still need a better home for ControllerClient, it's been duplicated in a few places already

[2019-04-30 18:31] portante commented on #58638
@brancz, are there any plans to implement this request?

[2019-04-30 18:34] pires commented on #61937
@lingyanmeng one workaround is to build the `kubelet` with a command like:
[code]

The resulting binary should be located under `./_output/dockerized/bin/$GOOS/$GOARCH/kubelet`.

[2019-04-30 18:38] tedyu commented on #77272
It seems obtaining "cluster version" is more flexible: the version returned by etcd cluster would be more trustworthy compared to user input.

[2019-04-30 18:48] evan2645 commented on #77259
@marcosy raised a question in the sig-node slack channel recently about trying to get node uid from the kubelet api. I'm interested in this as well. We currently have daemonsets deployed, each one has to hit api server to learn the node uid.

[2019-04-30 18:52] vllry commented on #76376
/assign @vllry

[2019-04-30 18:55] vllry commented on #77264
@DockToFuture  I'm going to close this issue as a duplicate of #76727. The fix is in master and I'm working on backporting it.

[2019-04-30 18:55] vllry commented on #77264
/close

[2019-04-30 18:55] #77264 closed

[2019-04-30 18:58] brancz commented on #58638
I don't think there is anyone with bandwidth to do this currently, but I think there is general consensus that this is a good idea, so if you want to go ahead and implement this, I'd say go for it!

[2019-04-30 19:23] aaron-prindle commented on #76846
Regarding the Shuffle Sharding POC task, Mike created a POC of an implementation here:
https://play.golang.org/p/rwtKLj3yGoF

The full thread around this is here:
https://github.com/kubernetes/enhancements/pull/933#discussion_r274708574

[2019-04-30 19:38] SleepyBrett commented on #3312
We see this every time a node reboots. A new node takes probably 6-9m to get started and get all the daemonsets running. When the node reboots the stampede becomes a blocker. Exacerbated by the fact that none of the other pods can start before our flannel pod starts. So it's a crapshoot as to when it will become stable. After a reboot it can take 30-45 minutes for the node to stabilize.

[2019-04-30 19:41] tedyu commented on #77259
Should a feature gate be introduced for this addition ?

Thanks

[2019-04-30 19:42] marun commented on #58682
@liggitt An update via the status endpoint for a core type (e.g. `Namespace`) supports changes to metadata.  It appears that an update via the status endpoint for a CR does not allow changes to metadata.  Is my testing in error, or is this an intentional deviation in API behavior for CRDs?

[2019-04-30 19:45] MikeSpreitzer commented on #76846
I also created something in the Go Playground to evaluate the effectiveness of shuffle sharding for given settings.  See https://play.golang.org/p/sWvC8nOkPPp .  This ultimately answers the question: for `nHands` elephants, what is the probability (shown there as `probNextCovered`) that a random mouse completely collides with the elephants?

[2019-04-30 19:53] liggitt commented on #58682
Some built-in namespaces support updating metadata via status subresources, and some do not. Allowing it was an oversight in early built-in resources. See https://github.com/kubernetes/kubernetes/issues/20978 and https://github.com/kubernetes/kubernetes/issues/45539

[2019-04-30 20:03] kplimack opened #77277 ""get priorityclasses" should be sorted"
**What would you like to be added**:
When I run `kubectl get priorityclasses` I would like them sorted by value, descending.

**Why is this needed**:
The default ordering is by name, but when selecting an appropriate class, id like to see them ordered by value.  Its much more intuitive to find the right place to put my new pod

[2019-04-30 20:04] kplimack commented on #77277
```kubectl get priorityclasses --sort-by .value```

[2019-04-30 20:04] #77277 closed

[2019-04-30 20:42] wenjiaswe commented on #76895
https://github.com/kubernetes/kubernetes/pull/74690 enables mtls between etcd server and kube-apiserver on master vm, so I can imagine it would have impact on gcp master upgrade test. I know kubemark test is changed accordingly https://github.com/kubernetes/kubernetes/pull/76017.

[2019-04-30 20:59] wenjiaswe commented on #77127
@krzysied I was just wondering how is the performance test GCE-5000 look like after the revert PR #77158? Thanks!

[2019-04-30 21:03] mtaufen commented on #77238
Fixed.

[2019-04-30 21:03] #77238 closed

[2019-04-30 21:11] #76154 closed

[2019-04-30 21:11] #70258 closed

[2019-04-30 21:18] cswinter commented on #73543
/remove-lifecycle stale

[2019-04-30 21:38] timothysc commented on #25625
+1 to KEP, and it's also possible for add lifecycle hooks to enable arbitrary / custom behavior here.

[2019-04-30 21:51] jeffreystoke commented on #77202
Thank you everyone, I am closing it since we have podnodeselector admission controller for this purpose, and seems kubernetes guys would like to stay with that design for now.

[2019-04-30 21:51] #77202 closed

[2019-04-30 22:23] prashantgolash commented on #32220
It seems @sch00lb0y already created PR for this issue - https://github.com/kubernetes/kubernetes/pull/61642

It doesn't seem to have merged.
@sch00lb0y - Let me know if you are still working, else I can take a stab (Though most of the work is already done by you) to further drive this.

[2019-04-30 22:41] jeanluclariviere opened #77283 "Joining multiple masters to an existing HA cluster concurrently fails"
**What happened**:
When attempting to join 2 masters to a cluster concurrently, one succeeds and the other fails. The error we get is:  ` "error execution phase control-plane-join/etcd: error creating local etcd static pod manifest file: Get https://10.10.10.10:6443/api/v1/namespaces/kube-system/configmaps/kubeadm-config: EOF"`

In this case, I was using ansible. It wasn't until I introduced "seri

[2019-04-30 22:51] gordonbondon commented on #3312
We've been using this https://github.com/serhii-samoilenko/pod-startup-lock project to fix this problem for some time.

[2019-04-30 22:52] Huang-Wei opened #77284 "Umbrella issue for Even Pods Spread [Alpha]"
This issue works as an umbrella holding up all related items of implementing KEP "Even Pods Spread" in 1.16 as an alpha feature.

### Work Items

- [x] 1. API changes - #77327
	- Manual API changes
	- Auto-generated files
	- Defaulting, validation and spec removal if feature gate is disabled
    - Unit tests
- [x] 2. Scheduler Predicate Metadata calculation - #77760
    - build a new topologyPairs

[2019-04-30 23:10] #76042 closed

[2019-04-30 23:27] dcvtruong commented on #74741
Edited the Cronjob with the 'finalizers' did not seems to apply to the Job or Pod.  Any suggestion?

      apiVersion: batch/v1beta1
      kind: CronJob
      metadata:
        creationTimestamp: "2019-04-30T19:48:23Z"
        finalizers:
        - foregroundDeletion
        labels:
          app: elasticsearch-curator
          chart: elasticsearch-curator-1.0.1
          heritage: Tiller

[2019-04-30 23:38] jiatongw commented on #65618
I'll pick up this soon @andrewsykim

[2019-04-30 23:40] andrewsykim commented on #65618
Thanks @jiatongw! We'll need a KEP as per https://github.com/kubernetes/enhancements/issues/724 and there's more context from SIG network here https://groups.google.com/forum/#!topic/kubernetes-sig-network/erULVdDkLNw

[2019-04-30 23:53] bsalamat opened #77288 "Add Un-reserve extension point for the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and extension points for "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps/sig-schedu

[2019-05-01 00:04] yanghaichao12 commented on #76699
@zigmund so, Have you ever suspected it's probleme about HAproxy？

[2019-05-01 00:30] #69264 closed

[2019-05-01 00:30] #73297 closed

[2019-05-01 00:31] #75006 closed

[2019-05-01 00:44] danielqsj commented on #77288
I'd like to take it.

/assign

[2019-05-01 00:55] shigy123456 commented on #77255
hi@mattjmcnaughton,
Thank you for answering my question. My kubernetes version is not really up to date.
My question is whether the problem is caused by a low version of docker or a low version of kubernetes.
When I restart docker, I solve this problem, and judging from this solution, is it possible for me to upgrade docker to solve this problem, for example, I upgrade docker from 17.03 to 18.06?

[2019-05-01 00:59] jeanluclariviere commented on #77283
/sig cluster-lifecycle

[2019-05-01 01:33] arun0704 opened #77290 "While creating statfulsets pod , getting this issue "Warning FailedCreate 4s (x14 over 35s) statefulset-controller create Pod ztslenvoylb-0 in StatefulSet ztslenvoylb failed error: The POST operation against Pod could not be completed at this time, please try again.""
**What happened**:
I wrote the k8s initializer for watching statefulsets resorces and modify annotation and update the statefulsets. when i deploy my statefulset pods getting this issue.
"Warning  FailedCreate  4s (x14 over 35s)  statefulset-controller  create Pod ztslenvoylb-0 in StatefulSet ztslenvoylb failed error: The POST operation against Pod could not be completed at this time, please try a

[2019-05-01 03:15] taragu commented on #73371
/remove-lifecycle stale

[2019-05-01 03:50] #77138 closed

[2019-05-01 05:36] leakingtapan commented on #75476
@neolit123 there are 3 method being mentioned there, which one did you tried? Have you tried the volume resize feature [here](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/)?

[2019-05-01 05:38] deitch commented on #48180
/remove-lifecycle stale

[2019-05-01 05:40] deitch commented on #48180
@byxorna I like that idea. I had on my todo list for a client for over a year now to do something similar but never found the time (and prefer something properly supported). I still think this is the kind of thing that should be a first-class resource in Kubernetes, though.

[2019-05-01 05:50] leakingtapan opened #77294 "Persistence Volume Resize doesn't work for block volume"
**What happened**:
I created a block EBS volume using dynamic provisioning. Then I resized the volume from 10GB to 20 GB. Both PV and block volume reflects the change, but the PVC's capacity is still 10GB.

[code]
[code]

[code]

This could be caused by in-tree resize put the PVC condition under `FileSystemResizePending` state, but no one is acting on the condition since it is block volume:
[code]

[2019-05-01 05:53] leakingtapan commented on #77294
/sig aws

[2019-05-01 05:56] willblackie opened #77295 "move scheduler cache interface out of internal package"
Would you entertain moving this out of the internal package?
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/internal/cache/interface.go

I'm trying to create a scheduler from another package that references a few k8s modules so i can do some cluster sizing simulation.  Looks like the way to do this is either via /pkg/scheduler/scheduler.go (NewFromConfig) or /pkg/scheduler/core

[2019-05-01 07:23] anupam4881 opened #77296 "hpa problem on k8s v1.11.8"
What happened:
1. I configure HPA, metrics, helm as per below url
https://eksworkshop.com/scaling/deploy_hpa/
 helm install stable/metrics-server --name metrics-server  --version 2.0.4 --namespace metrics
 kubectl get apiservice v1beta1.metrics.k8s.io -o yaml
2. configure sample application
 kubectl run php-apache --image=k8s.gcr.io/hpa-example --requests=cpu=200m --expose --port=80
kubectl autosc

[2019-05-01 07:53] dassinion commented on #68270
I've got this issue on v1.14.1 as well. My cloud provider is AWS and two nodes has lose Internal IP address. Restart of kubelet didn't fixed this problem. As well as restart of node didn't help.
Only after `kubeadm reset` and rejoin to cluster again my node was back to cluster.

[2019-05-01 08:25] thzois commented on #76569
They can resolve an smtp server, so I guess yes they can..

[2019-05-01 09:19] anupam4881 commented on #77296
sig/autoscaling

issue is matrics is unknown unable to get metric data.

[root@ip-10-226-0-178 ~]# kubectl  get hpa
NAME         REFERENCE               TARGETS         MINPODS   MAXPODS   REPLICAS   AGE
php-apache   Deployment/php-apache   <**unknown**>/10%   1         4         1          3h
[root@ip-10-226-0-178 ~]#

logs---------------
E0501 09:07:01.725579       1 reststorage.go:144] unable t

[2019-05-01 09:44] tlvenn commented on #60596
@bsalamat can we reopen this issue please because as pointed out by @nevalla, the issue still exists. Thanks.

[2019-05-01 09:52] anupam4881 commented on #77296
After adding

 "command": [
              "/metrics-server",
              "--kubelet-insecure-tls",
              "--kubelet-preferred-address-types=InternalIP",
              "--logtostderr"
            ],

**new logs says :**

E0501 09:49:56.722767       1 manager.go:102] unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:ip-172-20-70-133.ap-south-1.com

[2019-05-01 11:49] neolit123 commented on #77283
/close
hello,
1.14 does not support this, so you have to slightly delay the joining of control-plane nodes.

for 1.15 we have this change:
https://github.com/kubernetes/kubernetes/pull/76821/commits/bc8bafd825816844b1a93af98b22b86a3f32a65e
that will enable support for concurrent join, but the change cannot be backported for 1.14.
thanks.

[2019-05-01 11:49] #77283 closed

[2019-05-01 12:38] benmathews opened #77299 "log dropped packets from network policies"
The [kube-ip-tailer](https://github.com/box/kube-iptables-tailer) provides some visibility into when and why networkpolicies are failing. It requires manually adding iptables log entries such as

    iptables -A CHAIN_NAME -j LOG --log-prefix "EXAMPLE_LOG_PREFIX: "

This is an onerous requirement that can and should be automated by kube-proxy as it writes the chains in the first place. I would pro

[2019-05-01 12:42] benmathews commented on #77299
@kubernetes/sig-network-feature-requests

[2019-05-01 12:49] mpashka opened #77300 "Allow filtering in watch API"
**What would you like to be added**:
In kubernetes watch API I want possibility to get watch notification only when specific field in target object is changed. In other words I want possibility to filter watch notifications on API server.

**Why is this needed**:
In big kubernetes clusters kubernetes API can be bottleneck. Each time API receives request it goes to etcd, fetches data from it and pr

[2019-05-01 12:52] mpashka commented on #77300
@kubernetes/sig-api-machinery-feature-requests

[2019-05-01 13:18] liggitt commented on #52241
as discussed in https://github.com/kubernetes/kubernetes/pull/61878 and https://github.com/kubernetes/kubernetes/issues/54482, when running with a cloud provider, components not located on the node must be able to build a mapping from node name to the instance in metadata. That means the mapping should not be based solely on a flag or config local to the node. Looking at an alternative attribute i

[2019-05-01 13:32] cwdsuzhou commented on #77076
Thanks, I would have a try

[2019-05-01 13:56] mattjmcnaughton commented on #77166
On Tue, Apr 30, 2019 at 08:41:25AM -0700, Ted Yu wrote:

Thanks for clarifying :) Do we have evidence of related components being
stressed when a high number of pods are killed in a short time? I ask because
transitioning to a worker pool may mean pods take longer to be killed, and we
only want to occur that cost if its necessary.

[2019-05-01 14:05] mattjmcnaughton commented on #77255
On Tue, Apr 30, 2019 at 05:56:13PM -0700, TimYin wrote:

No problem :)

To be honest, I think your best chance for getting helpful information to answer
this question is to ask it on either [Stack
Overflow](https://stackoverflow.com/search?q=kubernetes) or the [k8s community
forum](https://discuss.kubernetes.io/). Would you mind closing this issue and
asking in one of those locations?

Thanks so m

[2019-05-01 14:05] msau42 commented on #77294
/assign @gnufied

[2019-05-01 14:25] dims opened #77305 "components log to stderr *before* klog is initialized"
To recreate the problem use this diff against `hack/local-up-cluster.sh`:
http://paste.openstack.org/raw/750145/

See the `*-stderr.log` files below, they contain output from the binaries before klog is properly initialized. We specify `--log-file` when we start the components and the `*-log-file.log` files contain the correct logs once klog is initialized properly.
[code]

[2019-05-01 14:26] dims commented on #77305
cc @mtaufen @vincepri

[2019-05-01 14:33] dims commented on #77305
example output in *-stderr.log

[code]

[2019-05-01 14:35] dims commented on #77305
cc @tallclair @yuwenma

[2019-05-01 14:39] mshade commented on #45419
@Kanshiroron yes, we have a 3 master cluster and ran into this issue on one worker node yesterday. We drained the node and restarted it and it's come back cleanly. Platform is Docker EE with k8s v1.11.8 and Docker 18.09.2

[2019-05-01 15:17] caohe commented on #77273
Could I have a try? But I cannot find the `test/e2e/images` directory.

[2019-05-01 15:34] sch00lb0y commented on #32220
@prashantgolash I'm not working on it. Please take it forward. Thanks

[2019-05-01 15:35] bboreham commented on #44307
For the record, I believe the real problem was fixed by #47850

[2019-05-01 16:16] mohnishkodnani commented on #74817
cc @krmayankk One more, because we are using the combination of STS and local disk as PVC, when a node goes down, we have to do cleanup ourselves so that the pod can be re-scheduled on another host, otherwise the STS will always try to schedule to the node with the PVC name in the volume claim template. To do the clean up as well, it seems i write a node controller, and detect node down condition,

[2019-05-01 16:34] lbernail commented on #76664
/area ipvs

[2019-05-01 16:48] lbernail commented on #76664
@sepich If you have a test environment I have a test image with the fix discussed just above: `lbernail/hyperkube-amd64:v1.15.0-udp`
Commit here: https://github.com/DataDog/kubernetes/commit/8a7bd6c4d07b81b0a48b51d529dad3f1accd033f

This is not perfect, but I believe it is better. What happens is the following:
- udp target pod becomes NotReady
- IP is removed from RealServers immediately
- Becaus

[2019-05-01 16:51] msau42 commented on #74817
PV has a claimref field that tells you the PVC it is bound to

[2019-05-01 16:53] khenidak opened #77309 "Azure - Allow kubelet to run with no azure identity"
Currently there is no way to run `kubelet` without any `azure` identity (be it service principal or E/MSI). In reality `azure` code running on a worker node can use `azure` via - and only via - `IMDS` without the need to access ARM. Here is the proposed change

1. establish a new mode authN = `none` this mode, is basically telling the cloud provider to work `without` any identity, this means only

[2019-05-01 17:19] mohnishkodnani commented on #74817
We have to find the PVC, so in this case we dont know the PVC, hence we
dont know what claimref we have to check.
Scenario is this:
You have a hostname and you have to find all PVC's for that host.
The reasoning to do this is highlighted in the comments above.
So, in our workflows we have to go from HostName -> PV -> PVC List and
filter by volume Name.
Instead if fieldSelector volumeName was searc

[2019-05-01 17:22] llali opened #77310 "kubectl cp command fails passing full Windows path as target"
**What happened**: Running the following command in Windows fails:
kubectl cp -n test -c [container]  [pod]:/log "d:/log"

**What you expected to happen**:
error: src doesn't exist in local filesystem

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14
- Cloud provider or hardwa

[2019-05-01 17:35] msau42 commented on #74817
I mean once you list all the PVs on that host, then for each of those PVs, you can check PV.Spec.ClaimRef to get the PVC

[2019-05-01 17:44] bsalamat commented on #77288
Thanks, @danielqsj!

[2019-05-01 17:51] logicalhan commented on #73551
/remove-lifecycle stale

[2019-05-01 18:01] caseydavenport commented on #77299
I don't think this can or should be done by Kubernetes - NetworkPolicy implementation is outside the scope of k8s and is handled by individual plugins, each of which may implement network policy differently. Some may not use iptables at all.

If kube-iptables-tailer requires this chain, shouldn't that component set this up itself?

[2019-05-01 18:13] prashantgolash commented on #32220
Thanks for the confirmation. I will work on this.

[2019-05-01 18:25] tedyu commented on #76783
ping @m1093782566

[2019-05-01 18:26] tedyu commented on #76369
/ok-to-test

[2019-05-01 18:30] SleepyBrett commented on #76715
So I put up a new 1.14.1 cluster just to confirm that I wasn't crazy and I wasn't. Clearly something I did the first time was in error.

So yeah 1.14.1 + metricsserver + crio seems just fine now....

[2019-05-01 18:32] enj commented on #76105
/priority important-soon

[2019-05-01 18:33] liggitt commented on #76998
questions about client auth via the nginx ingress can be directed to https://github.com/kubernetes/ingress-nginx

/close

[2019-05-01 18:33] #76998 closed

[2019-05-01 18:34] enj commented on #73838
/priority backlog

[2019-05-01 18:35] enj commented on #73221
/priority important-longterm

[2019-05-01 18:38] enj commented on #70679
/priority important-longterm

[2019-05-01 18:40] enj commented on #69836
/priority important-longterm

[2019-05-01 18:41] enj commented on #68810
/priority backlog

[2019-05-01 18:41] enj commented on #67436
/priority important-longterm

[2019-05-01 18:42] enj commented on #65442
/priority important-longterm

[2019-05-01 18:44] enj commented on #65340
/priority awaiting-more-evidence

[2019-05-01 18:45] enj commented on #64801
/priority awaiting-more-evidence

[2019-05-01 18:45] enj commented on #64751
/priority important-longterm

@liggitt

[2019-05-01 18:47] enj commented on #64547
/priority important-longterm

[2019-05-01 18:50] enj commented on #63732
/priority awaiting-more-evidence

[2019-05-01 18:57] enj commented on #62185
/priority backlog
/help-wanted

[2019-05-01 18:57] enj commented on #62185
/good-first-issue

[2019-05-01 19:00] enj commented on #61185
/wg policy
/priority backlog

[2019-05-01 19:05] misterikkit commented on #68957
/remove-lifecycle stale

We hit some blockers, but it's still worth pursuing this when those blockers go away. Currently, our plan is that when we migrate predicates & priorities to the scheduling framework, we will be able to remove references to global variables.

[2019-05-01 19:26] ratliffstan commented on #69456
Can you tell me how you resolved the issue? I have the same problem with 1.13.

[2019-05-01 19:38] #71510 closed

[2019-05-01 19:41] stanislavkozlovski opened #77316 "kubectl try-again pod OR delete pod without re-scheduling"
**What would you like to be added**:
I'd like to add a way to short-circuits the backoff loop time and restart a pod.

**Why is this needed**:
You could achieve the same thing with `kubectl delete pod` but the issue with that is that it can reschedule the pod on another host

/kind feature
/sig node

[2019-05-01 19:53] liggitt commented on #77300
Node heartbeats are moved out to a node lease object for exactly this reason. See https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/0009-node-heartbeat.md

[2019-05-01 20:10] benmoss opened #77318 "Windows vSphere node crashing from VmsNicPxyLWMUninitialize"
I recently had a node crash on the [vSphere Windows test job](https://k8s-testgrid.appspot.com/sig-windows#cfcr-vsphere-windows-master). The crash dump file points to
the symbol `VmsNicPxyLWMUninitialize` from `VmsProxyHNic.sys`.

- [WinDbg logs](https://gist.github.com/benmoss/97656a165d3c4c042c22432a3e98725e)
- [Crash dump file](https://storage.googleapis.com/pivotal-e2e-results/crash%20dumps/du

[2019-05-01 20:11] gnufied opened #77319 "Add volume expansion tests to general storage framework"
Adding them to general storage framework will allow these to run with any configuration.

/sig storage

[2019-05-01 20:12] gnufied commented on #77319
/assign

[2019-05-01 20:14] benmoss commented on #75263
This looks like it's been fixed in a private KB that Microsoft should be releasing sometime soon

[2019-05-01 20:14] benmoss commented on #75197
This looks like it's been fixed in a private KB that Microsoft should be releasing sometime soon

[2019-05-01 20:15] resouer commented on #71662
/remove-lifecycle rotten

[2019-05-01 20:20] tallclair commented on #58211
I'm narrowing this to the documentation piece. For the feature enhancement part, see https://github.com/kubernetes/enhancements/issues/135

/help

[2019-05-01 20:26] mpashka commented on #77300
In that case I assume I can close this issue.
In addition to that but not related to kubernetes watch API
I suppose kubernetes API executes all requests in parallel.
That can be not efficient. E.g. if node list request takes 1 sec and we get 3 node list requests per second then requesting all 3 is inefficient. Instead after receiving some request API implementation can check if same request is alr

[2019-05-01 20:26] #77300 closed

[2019-05-01 20:48] dcvtruong commented on #74741
Looks like the finalizers is not supported in CronJob.  Also, it was set in the job template of the CronJob and did not work.

[2019-05-01 21:19] sigil66 commented on #52241
This broken functionality prevents us from utilizing the AWS provider in hand rolled clusters, and also EKS. Honestly the issue could be avoided if the private domain functionality in route53 and the VPC functionality correctly populated the internal DNS name in EC2.

I guess however in 2019 it's too much to ask for VPC functionality with custom internal DNS, like you know the setups I created for

[2019-05-01 21:28] jmoreira-netskope-com commented on #57725
Having exactly the same issue. Don't get it why closed with no answer.
Does anyone has a feedback please?

[2019-05-01 21:35] #71643 closed

[2019-05-01 21:45] logicalhan commented on #73336
/remove-lifecycle stale

[2019-05-01 22:03] saad-ali opened #77324 "Garbage collect VolumeAttachment objects to trigger detach"
**What happened**:

*Background:* The attach/detach controller create `VolumeAttachment` objects for CSI Volumes to indicate that a volume needs to be attached to a node. It deletes the object to indicate that the volume should be detached.

*Problem:* If the Attach/Detach controller crashes, and in the meantime the pod using that volume is deleted, when the AD controller restarts, it won't know t

[2019-05-01 23:29] alejandrox1 commented on #75326
[ci-kubernetes-e2e-gce-new-master-upgrade-cluster triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gce-new-master-upgrade-cluster&test=subPath%20should%20unmount%20if%20pod%20is%20gracefully%20deleted%20while%20kubelet%20is%20down)

[2019-05-01 23:34] alejandrox1 commented on #73884
This may also concern sig scalability
/sig scalability

[2019-05-01 23:42] alejandrox1 commented on #74897
Closing this as it doesn't seem to be a problem anymore.
/close

[2019-05-01 23:42] #74897 closed

[2019-05-01 23:43] alejandrox1 commented on #75643
/remove-milestone v1.14
/milestone v1.15

[2019-05-01 23:47] alejandrox1 commented on #76670
Assigning the api-machinery chairs to get some eyes on this:
/assign @lavalamp @deads2k

We need some help getting started on this.

[2019-05-01 23:51] alejandrox1 commented on #76895
#9679 may be of interest here.
Thank you @imkin @Katharine @wenjiaswe for taking a look at this

[2019-05-01 23:55] alejandrox1 commented on #76898
The test in this issue seemed to stop failing in https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new . This is good, it may mean that https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster just needs more runs to clear out.

[2019-05-01 23:58] alejandrox1 commented on #76721
Will observe for a couple more days. This hasn't been failing so frequently
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce-ingress&test=diffResources

[2019-05-01 23:59] ross-w commented on #77174
I am seeing the same panic on kubelet 1.14.1 when running in standalone mode. The same panic does not occur when running the kubelet connected to an API server.

[2019-05-02 00:19] jiatongw commented on #77197
/cc @SataQiu

[2019-05-02 00:46] gnufied commented on #31511
So, I think this is kinda hard to fix - but we are running into this in e2e tests. The problem is - if detach and delete race with each other then `Delete` can end up chewing through cloudprovider API quota while detach is in progress. If we could prevent detach and delete from running concurrently - we could save some API calls like how other volume operations can't run concurrently.

I know this

[2019-05-02 00:47] gnufied commented on #31511
I am going to reopen this tentatively, knowing full well that it is not easy fix.

/reopen

[2019-05-02 00:59] feiskyer commented on #77309
In-tree AzureDisk volume plugin is also depending on Azure credential to fetch lun id. we should figure out how to solve it without credential @andyzhangx

[2019-05-02 02:15] liggitt commented on #64547
folded into CSR v1 tracking issue https://github.com/kubernetes/kubernetes/issues/69836

/close

[2019-05-02 02:15] #64547 closed

[2019-05-02 02:16] liggitt commented on #67436
folded into CSR v1 issue https://github.com/kubernetes/kubernetes/issues/69836

/close

[2019-05-02 02:16] #67436 closed

[2019-05-02 02:17] liggitt commented on #75925
if there are no active csrtificate signing requests, then that message will be returned

/close

[2019-05-02 02:17] #75925 closed

[2019-05-02 03:42] #76783 closed

[2019-05-02 03:42] #77294 closed

[2019-05-02 06:30] kxion commented on #77259
very good. Thanks a lot.

[2019-05-02 07:08] bhakimi commented on #23864
is this still a possibility without killing iptables?

[2019-05-02 07:48] ppawel commented on #76531
Confirming also with centos 7.6.1810 with OpenShift:

[code]

Spamming dozens of entries per second.

[2019-05-02 07:58] brancz commented on #76715
Let us know if you figure out how to reproduce it, but for now happy that it works :)

[2019-05-02 08:15] pnrick commented on #42649
@diemus I have tried the way you mentioned on 1.14. no luck.
anyone still working on the issue?

[2019-05-02 09:05] cheng1li commented on #77251
@mattjmcnaughton , openstack-helm is a project which deploys openstack using kubernetes.
Users can create VM of hugepages size 2M. At the meaning while, user can also create 2G hugepage VM on the same host. So it needs both 2M hugepages and 1G hugepages on the host.
Until now, there is no needs for kuberntes hugepage support. As kuberntes doesn't support 2 sizes of hugepages existing on the host,

[2019-05-02 10:02] yastij commented on #66181
/remove-lifecycle rotten

[2019-05-02 10:32] MansM opened #77332 "Use kustomize in kubectl offline for just rendering"
**What would you like to be added**:
I want to use the -k/--kustomize flag in an "offline" environment to just render the manifests

**Why is this needed**:
So I can create the rendered manifests in a pipeline step which does not have access to the prod environment

Prefer also to have a method to get rid of the kubectl.kubernetes.io/last-applied-configuration annotation in the output of rendering

[2019-05-02 10:34] MansM commented on #77332
/sig cli

[2019-05-02 10:48] #71554 closed

[2019-05-02 11:03] nerzid commented on #72712
My issue turned out to be related to firewall.

I disabled the firewall and now it works though it's not a perfect solution.
`sudo ufw disable`

[2019-05-02 11:40] pniederlag commented on #69697
/remove-lifecycle stale

just ran into this  issue and had to user kubectl edit pv|pvc and remove finalizers in order to trash the objects

[2019-05-02 11:48] rtheis commented on #71719
Looks like https://github.com/kubernetes/enhancements/pull/900 is the future path forward and we'll live with the 1.11, 1.12 and 1.13 image CVEs for now since I'm not aware of any actual exploits.

[2019-05-02 11:57] cwdsuzhou commented on #77076
@pbarker  I found some `Kind、ApiVersion` I seems normal now. But `timeStamp` `CreationTimestmap` still missed

[2019-05-02 12:23] eadys commented on #50309
Did you get anywhere with this i am trying to do the same?

[2019-05-02 12:56] drewhemm commented on #61625
Am also hitting this issue. Creating multiple load balancers is inefficient and in many cases defeats the intended use-case benefits, for all types of AWS load balancer.

As long as we are not creating port collisions, a load balancer should be reused where possible as it is more cost-effective and entails fewer resources to manage.

[2019-05-02 13:51] #71656 closed

[2019-05-02 14:07] mattjmcnaughton commented on #77316
Thanks for sharing this idea @stanislavkozlovski !

Do you mind explaining more about your use case? I.e. do you want all pods to exhibit this short-circuit behavior or only certain groups of pods or only in one off instances?

If this moves forward, I'd imagine you'd want to create a [Kubernetes Enhancement Proposal (KEP)](https://github.com/kubernetes/enhancements). Another path to consider is w

[2019-05-02 14:14] mylesagray commented on #75040
Yes this indeed seemed to be a bug with PKS, it was reported to the team and can likely be closed here.

[2019-05-02 14:19] mattjmcnaughton commented on #77251
Ahh, thanks @cheng1li - that helps better understand what you're trying to do.

It looks like from the discussion in @derekwaynecarr 's original PR (https://github.com/kubernetes/kubernetes/pull/50859), this was an intentional decision, but perhaps one we intended to revisit in a later release.

Would love to hear thoughts from @derekwaynecarr and @dchen1107  :)

[2019-05-02 14:24] mattjmcnaughton commented on #76715
On Wed, May 01, 2019 at 11:31:40AM -0700, SleepyBrett wrote:

Cool, glad to hear its working! I think this more motivation to merge the listed
fixes back to 1.13.5, and there's an open pr to do so :)

[2019-05-02 14:32] msau42 commented on #69697
@pniederlag is this reproducible? If so can you provide PVC details?  Were all pods using that PVC deleted as well?

[2019-05-02 14:33] msau42 commented on #73625
/remove-lifecycle stale
/assign @xing-yang

[2019-05-02 14:41] ediband commented on #76820
Had the same issue, It got fixed after I updated the systemd libraries to the latest available on my CentOS 7

Hope this helps.

[2019-05-02 14:46] andyzhangx commented on #77309
fetch disk lun id is also a dependency in kubelet code now, after my investigation, it could be removed on Linux node, while it cannot be removed on Windows node, need to change the k/k upstream code, there is a disucssion on going here: https://github.com/kubernetes/kubernetes/pull/58177/files#r280452198, let' wait for the discussion result.

[2019-05-02 14:50] e-nikolov commented on #13488
@apelisse is there also a way to do this via the sdk or just kubectl?

[2019-05-02 15:10] khenidak commented on #77309
For Linux:
1- use IMDS my understanding is new api versions will have the disk/lun pairs.
2- don't use arm for `getDiskLun` the return of [Attach()](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/attacher.go#L57) is the second parameter passed to [WaitForAttach()](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/attacher.go#L135).

For Windows:
I d

[2019-05-02 15:38] johnSchnake commented on #76832
What are the restrictions that we are trying to place in the e2e framework? In the example given it looks like the only thing blacklisted is provider-specific implementations or the internal client. I know one of the recent changes was ensuring we dont use the internal client, is that all we want to blacklist for now? Or also all specific provider implementations? Some other dep we want to prevent

[2019-05-02 15:46] andyzhangx commented on #77309
`encode the value returned by Attach()` could be a good idea since currently it's a LUN num returned by Attach() and then it could be changed to the windows disk num, I will make the code change on v1.15 later, thanks for discussion.

[2019-05-02 15:49] sepich commented on #76664
Sorry, i was unable to quick test this on local dev cluster.
Tried to replace `kube-proxy` image with `lbernail/hyperkube-amd64:v1.15.0-udp` but it seems it does not work with k8s 1.13.
[code]
It then generates a lot of the same messages, and no any ipvs VIPs are created.
I've also tried on fresh new cluster `v1.14.1` with the same result.
Then tried `v1.15.0-alpha.1` but was unable to even start

[2019-05-02 16:01] NeilW opened #77344 "kubectl describe CronJobs - bad value in Successful Job History Limit"
**What happened**:

The history limit in the describe display has the incorrect number

[code]

**What you expected to happen**:

The history limit should show the default limit (3)

**How to reproduce it (as minimally and precisely as possible)**:

Add a cronjob with default history limit settings and run `kubectl describe cronjob`

**Anything else we need to know?**:

**Environment**:
- Kubernet

[2019-05-02 16:01] gjtempleton commented on #61007
/reopen

[2019-05-02 16:04] NeilW commented on #77344
/sig cli

[2019-05-02 16:08] yastij commented on #61007
/reopen
/remove-lifecycle rotten
/lifecycle frozen
/priority backlog

[2019-05-02 16:11] yue9944882 commented on #73421
/remove-lifecycle stale

[2019-05-02 16:14] danielqsj commented on #77344
/assign

[2019-05-02 16:53] Bessonov commented on #73108
Hey @neolit123 @WanLinghao @luxas ! Any movement on this?

[2019-05-02 17:09] ab77 commented on #12905
We ran into this (similar?) issue on AWS/ECS/EBS multi-container. Our container was writing a lot of logs (JBoss). The solution was to add a Docker volume (not bind volume) to Dockerrun.aws for the container file-system. We also disabled logs to disk, since it's going to stdout/CloudWatch.

[2019-05-02 17:11] cizixs commented on #77174
@liggitt After git bisecting between v1.13.3 and v1.14.1, I located the root cause to PR https://github.com/kubernetes/kubernetes/pull/75308.

This pr ignores kubeclient nil for csi plugin init, but nil kubeclient can cause nil pointer dereference later.

I'm willing to fix this with guide.

[2019-05-02 17:16] liggitt commented on #77174
thanks for tracking that down

/sig storage
/cc @msau42

/priority critical-urgent
since this makes standalone kubelets fail

[2019-05-02 17:23] BenTheElder opened #77349 "building on mac results in KUBE_SERVER_PLATFORMS[@]: unbound variable"
This issue was moved from https://github.com/kubernetes-sigs/kind/issues/471

**What happened**: building kubernetes with make fails on mac after https://github.com/kubernetes/kubernetes/pull/76974

**What you expected to happen**: building should not fail

**How to reproduce it (as minimally and precisely as possible)**: build from a mac

**Anything else we need to know?**: mapfile is not availab

[2019-05-02 17:24] BenTheElder commented on #77349
/sig release

[2019-05-02 17:27] mtaufen commented on #77349
@thockin

Ugh. Does the containerized build at least still work on Mac?
Ideally we'd stick to that as the recommended approach, since we can at least guarantee a correct environment.

I guess this is really Apple's fault, for refusing to upgrade the bash version on Macs (so they can avoid GPL) - the default on most Macs is 3.2.57, which dates to 2007 according to this blog post: https://itnext.io/

[2019-05-02 17:28] BenTheElder commented on #77349
the containerized build does not because this code runs on the host.

we should put a version check then, so we get a more understandable error.

[2019-05-02 17:31] BenTheElder commented on #77349
Up until this point we have supported it by using `read` instead, macOS's old system bash is annoying, but errors from deep within our bash waste more time supporting confused developers 🤷‍♂

[2019-05-02 17:34] BenTheElder commented on #77349
IIRC even in CI you ran into a bash version problem in fact just yesterday (?)

we could add a snippet like this to the main build if we don't want to switch to `read`:
https://github.com/kubernetes/kubernetes/blob/ef830e2bcf7a23a0ae74e8d8b9e8811a83142f38/hack/update-vendor-licenses.sh#L136-L147

[2019-05-02 17:53] MaurGi commented on #76517
Can you clarify @tv42 ? How can this non-load balancing the desired when I specify type:ClusterIP/sessionAffinity:None ?

[2019-05-02 18:04] ksubrmnn commented on #76316
Can you include kube proxy logs from where it crashes? Does proxier crash?

I would expect the endpoint to be recreated even if it is deleted. Which is still not optimal but shouldn't cause crashes. I'm interested to see where the error is.

[2019-05-02 18:05] neolit123 commented on #73108
we are currently evaluating the latest kube-bench results, but i'm unaware of how such an integration would happen in kubeadm.

[2019-05-02 18:11] tpepper commented on #77349
I worry about requiring brew and can imagine some folks systems might be managed in a way that disallow this.  Still it's reaaaaally painful having to debug and trying to keep things running with the crufty OSX dev userspace.  Given there are multiple snippets of brew install suggestions, it would be better imho to put them in one common top level place (ie: `build/common.sh`)

[2019-05-02 18:25] alejandrox1 commented on #76670
Been looking around and similar failures showed up on https://github.com/kubernetes/kubernetes/issues/75284

[2019-05-02 18:46] msau42 commented on #77174
/assign

[2019-05-02 18:47] alejandrox1 commented on #76670
/unassign @lavalamp @deads2k
/remove-sig api-machinery
/remove-sig testing
/cc @kubernetes/sig-scalability-test-failures

[2019-05-02 19:15] andrewsykim opened #77359 "Use Logf in test/e2e/framework/log"
**What would you like to be added**:
As part of https://github.com/kubernetes/kubernetes/issues/76206, we agreed that breaking up `Logf` into it's own package would be ideal. The main benefit is that we are breaking potential import cycles that occur from having `Logf` in `test/e2e/framework`.  We now need to go through all the e2e tests that use `framework.Logf` and replace it with `Logf` in `tes

[2019-05-02 19:15] andrewsykim commented on #77359
/assign @draveness

[2019-05-02 19:15] andrewsykim commented on #77359
/sig testing
/area testing e2e-test-framework

[2019-05-02 19:15] andrewsykim commented on #77095
@draveness, hope you don't mind I created the issue here https://github.com/kubernetes/kubernetes/issues/77359

[2019-05-02 19:20] tv42 commented on #76517
type:ClusterIP/sessionAffinity:None might count as changing the default (I'm not an expert on k8s ClusterIP). I'm just saying, most people will want the TCP/IP/UDP 5-tuple to be sticky. The title makes one think you're asking for the default to change.

[2019-05-02 19:23] BenTheElder commented on #77349
@tpepper fair, On systems with restricted `/usr` at least https://docs.brew.sh/Installation#untar-anywhere should work, if _that_ doesn't work i'd expect the setup is just too restrictive to build at all (?)

The check doesn't have to require homebrew per se either, even just "Sorry building on macOS is unsupported" is more helpful than:

[code]

[2019-05-02 19:26] rhockenbury opened #77360 "SAML auth with vSphere and zones API not working"
**What happened**:

The vSphere cloud provider is unable to fetch the node failure domain labels when using VCP with SAML auth because of an authentication failure.  For context, the SAML token auth is described here - https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/saml-token-authentication.html.  SAML auth support for the zones api was introduced in this PR - https://github

[2019-05-02 19:27] jiatongw commented on #77359
I can take `test/e2e/lifecycle` and `test/e2e/kubectl`

[2019-05-02 19:30] johnSchnake commented on #77359
I'll start with
[code]

[2019-05-02 19:32] lledru commented on #77359
hi, i can start with test/e2e/storage

[2019-05-02 19:35] MikeSpreitzer commented on #76699
Or, from the other direction: can you apply a load generator directly to a node & service NodePort, and get the same result, thus proving that HAProxy is not a critical part of the story?

[2019-05-02 19:35] andrewsykim commented on #77359
@johnSchnake hope you don't mind, assigning `test/e2e/cloud` to @lledru

[2019-05-02 19:35] johnSchnake commented on #77359
Nope, no problem at all. I just grabbed a few randomly.

[2019-05-02 19:36] gtie commented on #52172
This is still very much a problem (on 1.12.7 at least)

[2019-05-02 19:37] johnSchnake commented on #77359
Also, to be clear @andrewsykim , there isn't a need to do 1 PR/package right? The whole idea of this is to prevent it from being in one huge PR but if we put 2-3 packages in a PR you dont mind?

[2019-05-02 19:37] MikeSpreitzer commented on #76699
So you certainly are vulnerable to the conntrack collision problem, since the relevant iptables rule does not include `--random-fully`.  I would focus on that first.

[2019-05-02 19:38] imkin commented on #76895
@wenjiaswe since #74690 is reverted there is no issue with it.

The failure has changed now. I see the failure messages in the api-server as is not able to start

[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/1123164548979757056/artifacts/bootstrap-e2e-master/kube-apiserver.log

[2019-05-02 19:40] imkin commented on #76895
@alejandrox1 I think you have linked the wrong PR.

[2019-05-02 19:41] imkin commented on #77360
/sig vmware

[2019-05-02 19:45] liggitt commented on #76965
closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/62872

/close

[2019-05-02 19:45] #76965 closed

[2019-05-02 19:46] liggitt commented on #68508
closing as duplicate of https://github.com/kubernetes/kubernetes/issues/56567

/close

[2019-05-02 19:47] liggitt commented on #68508
oops, clicked on the wrong issue title. this is not talking about graceperiodseconds in deleteoptions

/reopen

[2019-05-02 19:51] caseydavenport commented on #76739
I believe the userspace proxy for Linux is deprecated.

@tedyu I suppose we'd be happy to have a PR to commonize code where it makes sense, but I personally don't feel it's of high value given the status of the Linux userspace proxy.

/kind cleanup
/remove-triage unresolved

[2019-05-02 19:52] caseydavenport commented on #76739
/remove-kind feature

[2019-05-02 19:52] wenjiaswe commented on #76895
@imkin Thanks for letting me know, I will probably add that in later when the performance regression investigation are done, but I know what went wrong with that PR and I will deliver with the correction.

[2019-05-02 20:00] #76739 closed

[2019-05-02 20:00] caseydavenport commented on #76645
Unfortunately, I think this just isn't going to be the case - there are real differences that exist based on the implementation details of these proxies that aren't going away. FWIW, the Linux userspace proxy is deprecated (or very soon to be so), so we should look to clean that up.

@ktsakalozos I think the point was that traffic sent to a headless service by definition does not use the kube-prox

[2019-05-02 20:16] smourapina opened #77363 "[Failing Test] verify.vendor failing in master-blocking:verify-master"
**Which jobs are failing**:
`master-blocking:verify-master`

**Which test(s) are failing**:
[verify.vendor](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/1123836606650781701)

**Since when has it been failing**:
Since 05/01.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#verify-master

**Reason for failure**:
[code]

[2019-05-02 20:16] andrewsykim commented on #77359
Yes! That was my intention. 2-3 packages per PR sounds reasonable to me

[2019-05-02 20:21] andrewsykim commented on #73643
/close

This was done in https://github.com/kubernetes/kubernetes/pull/75587

[2019-05-02 20:21] #73643 closed

[2019-05-02 20:42] #76022 closed

[2019-05-02 20:43] caseydavenport commented on #70202
The `subnet.env` file is written out by the flannel daemonset pods and probably shouldn't be modified by hand.

If that file isn't getting written, it suggests another problem preventing the flannel pod from starting up.  Are there other logs in the flannel pod? You can check with something like `kubectl logs -n kube-system <flannel-pod-name>`

Happy to continue discussing, but I'm going to close

[2019-05-02 20:43] #70202 closed

[2019-05-02 20:44] freehan commented on #72186
reopen if needed

[2019-05-02 20:44] #72186 closed

[2019-05-02 20:44] caseydavenport commented on #72462
Similar thread here: https://github.com/kubernetes/kubernetes/issues/70202

I think this is not a Kubernetes issue, so I'm going to close.

/close

[2019-05-02 20:44] #72462 closed

[2019-05-02 20:47] caseydavenport commented on #72712
@himanshurajput32 any updates on this?

[2019-05-02 20:48] caseydavenport commented on #71692
I think this is due to a mismatched node selector - the flannel pod installs this config, but it's only configured to run in `amd64` nodes, while the OP has this: `Labels: beta.kubernetes.io/arch=ppc64le`

/close

[2019-05-02 20:48] #71692 closed

[2019-05-02 20:49] bsalamat opened #77365 "Add Scheduling Framework Configuration"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and extension points for "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps/sig-schedu

[2019-05-02 20:52] andrewsykim commented on #76717
@willzhang the `SupportIPVSProxyMode` feature gate is default true since IPVS went GA so I don't think there's a need to support this in the component config

[2019-05-02 20:52] andrewsykim commented on #76717
If you want to enable IPVS, you have to set the `mode` field which it seems like you did in https://github.com/kubernetes/kubernetes/issues/76717#issuecomment-484438559

[2019-05-02 20:53] andrewsykim commented on #76717
/close

[2019-05-02 20:53] #76717 closed

[2019-05-02 20:54] freehan commented on #77265
Ping

[2019-05-02 20:58] #66545 closed

[2019-05-02 20:58] #71098 closed

[2019-05-02 20:58] listx commented on #58012
/remove-lifecycle stale

[2019-05-02 21:08] freehan commented on #73128
reopen if needed

[2019-05-02 21:08] #73128 closed

[2019-05-02 21:10] andrewsykim commented on #76892
@Bevisy Unfortunately kube-proxy does not check that the port is in use (by something other than kube-proxy) before allocating the node port so I this is expected behavior as far as I can tell.

/close

[2019-05-02 21:10] #76892 closed

[2019-05-02 21:10] rhockenbury commented on #77360
@dougm Would you mind taking a look at this?  I can provide more info if needed.

[2019-05-02 21:11] freehan commented on #71851
reopen if needed

[2019-05-02 21:11] #71851 closed

[2019-05-02 21:21] freehan commented on #68142
Fixed in GKE

[2019-05-02 21:21] #68142 closed

[2019-05-02 21:22] freehan commented on #67730
Ping

[2019-05-02 21:24] prameshj commented on #68321
@saidmasoud Were the nodes overcommitted on memory in order for kube-dns pods to be OOMKilled? Maybe the number of connections dnsmasq supports need to be reduced?

[2019-05-02 21:28] freehan commented on #66819
Fixed in 1.14.

[2019-05-02 21:28] #66819 closed

[2019-05-02 21:36] rfrink commented on #68981
Has anybody deployed Kafka in different availability zones?  Having some sort of socket connectivity errors at startup, across different datacenters, yet seems if path is open for all zookeeper and kafka sockets.  Thanks!

[2019-05-02 21:36] prameshj commented on #66651
This was attempted to be fixed in https://github.com/kubernetes/kubernetes/pull/59286

I took a look at https://github.com/kubernetes/kubernetes/pull/75059 which adds a retry, but looks like the error indicates conntrack binary is not installed?
it also was closed without comments? @mechpen

[2019-05-02 21:37] jingxu97 commented on #69697
@pnegahdar just want to make sure which version of kubernetes you are using

[2019-05-02 21:42] freehan commented on #66067
reopen if needed

[2019-05-02 21:42] #66067 closed

[2019-05-02 21:46] freehan commented on #64586
reopen if needed

[2019-05-02 21:46] #64586 closed

[2019-05-02 21:47] saidmasoud commented on #68321
sorry @prameshj let me clarify: it was not the `kube-dns` pods that were OOMing, it was the pods which had memory limits not high enough to run idle. the kube-scheduler kept trying to provision the pods literally hundreds of times (and I think a thousand times in one instance!!!) Once we deleted those deployments, the `EAI_AGAIN` errors went away.

[2019-05-02 21:53] andrewsykim commented on #77265
Great catch! Looks like a breaking change. One solution is to add support for replacing ipsets in `pkg/util/ipset` if a similar ipset already exists. Thoughts @m1093782566?

[2019-05-02 21:56] andrewsykim commented on #77265
I noticed we pass in `-exists` for ipsets but that only checks for identical ipset types. Maybe `pkg/util/ipset` needs to be smarter and do a full diff

[2019-05-02 22:01] prameshj commented on #64924
You can customize pod dns similar to the example here - https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-config
You can set ndots to 1.

From earlier comments, this seems like a musl implementation issue rather than kubernetes dns?
https://bugs.alpinelinux.org/issues/9017 says the dnsclient stops trying other searchpaths if a previous one returns unexpected error.

[2019-05-02 22:01] #64924 closed

[2019-05-02 22:03] curiouscod3 commented on #44273
Kubenet does not have netConfig. This is most likely due to lack of PodCIDR

[2019-05-02 22:03] thockin commented on #49239
@freehan Can you digest this issue, make sure new Endpoints work addresses it (or explicitly does not) and then close?

[2019-05-02 22:05] dougm commented on #77360
govc's `session.login` command only works with the SOAP endpoint currently.  The REST endpoint has its own session manager and requires a separate login.  At the moment, govc's tags commands login/logout when each command is run and don't use a persisted session (which are saved to ~/.govmomi/sessions).

However, you can use a token returned by `session.login -issue` to test SAML auth with the tag

[2019-05-02 22:08] andrewsykim commented on #77265
Alternatively we can add a new ipset which avoids the complication of trying to delete the old one but will require renaming the ipset entries 🤔

[2019-05-02 22:09] thockin commented on #65387
I have more or less spelled out the fix, but I don't have teh bandwidth to polish it off right now.  I am looking for volunteers...

[2019-05-02 22:11] thockin commented on #66103
iptables rule sequencing should be fixed now in all active branches.

[2019-05-02 22:11] #66103 closed

[2019-05-02 22:14] thockin commented on #52670
Moving discussion to https://github.com/kubernetes/kubernetes/issues/70159

[2019-05-02 22:14] #52670 closed

[2019-05-02 22:15] #72746 closed

[2019-05-02 22:17] #67572 closed

[2019-05-02 22:19] thockin commented on #68358
We fixed a bug in 1.14 and 1.13 that sends an ICMP reject rather than letting traffic flow down to the host, when there are no endpoints.  If you can reproduce against fairly recent versions, please reopen.

[2019-05-02 22:19] #68358 closed

[2019-05-02 22:20] thockin commented on #68358
(specifically a bug that would have caused exactly this)

[2019-05-02 22:20] jingxu97 commented on #73321
@michmike I think there is some confusion because I used subPath before in the title. This part is not the subPath feature we normally refer to. Volume subPath feature is mostly work except a few thing such as
cannot use a file as subPath because windows does not support it.
Could you help update the window doc? Thanks!

[2019-05-02 22:22] thockin commented on #68474
The risk here is particularly when there are a lot replicas on some nodes and only a few repicas on other nodes.  Without knowing your app it's hard to say how it is structured.  If you have many replicas behind the LB, that is the danger.

[2019-05-02 22:22] #68474 closed

[2019-05-02 22:23] thockin commented on #69364
Can anyone help me to repro this?  I have never seen it, and I don't have a lot to go on...

[2019-05-02 22:25] thockin commented on #69845
There is no way, currently to bypass this.  The design is that they are concentric.  I am going to re-title this as a feature request, but it's worth pointing out that on some platforms LB uses the node port, so bypassing it would just fail.

[2019-05-02 22:47] dannyk81 commented on #66103
wow! great news @thockin

Can you perhaps point to the PR/Fix? do you know which versions will have this fix?

[2019-05-02 22:58] mikebryant commented on #68358
Thanks for the info. We'll check again when we've upgraded. :)

[2019-05-02 23:00] #71622 closed

[2019-05-02 23:07] andrewsykim commented on #77265
Opened a fix for it here https://github.com/kubernetes/kubernetes/pull/77371, let's chat there :)

[2019-05-02 23:25] japettyjohn commented on #69364
@thockin I still have some pods doing this (going on 3 weeks), I left them up so they could be used for forensics.

In my case the process is trying to bind to 8080 and fails, "Error stopping HTTP server on port :8080 - listen tcp :8080: bind: address already in use". At the time it started there was another deployment which autoscaled out of control and had a far lower memory request than was nee

[2019-05-02 23:30] bsalamat opened #77372 "Add Permit extension point for the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and extension points for "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps/sig-schedu

[2019-05-02 23:37] Huang-Wei commented on #77372
I'd like to take this :)

[2019-05-02 23:56] alejandrox1 commented on #77359
@andrewsykim @draveness any chance we could hold of on `test/e2e/framework/deployment` just for a little while? I'm currently working on it on #77373 and `Logf` appears all over the place.

[2019-05-03 00:12] draveness commented on #77359
OK, I would start work on this package after your PR gets merged. :)

[2019-05-03 00:14] draveness commented on #77095
That's great. Thank you! 😆

[2019-05-03 00:15] gnufied commented on #71623
/reopen
/remove-lifecycle-rotten

[2019-05-03 00:16] gnufied commented on #71623
/lifecycle frozen

[2019-05-03 00:17] draveness commented on #77359
Here is a reminder: don't forget to import `log` package with alias - `e2elog`.

[2019-05-03 00:18] gnufied commented on #71623
Keeping this based on general interest that we want to fix this at some point. @liggitt if you think, we have tracked this elsewhere or we wouldn't be able to fix this - we can close.

[2019-05-03 00:19] imkin commented on #75930
Looks like #76299 was merged. Waiting for #77367 and #77375 to merge and then will close this.
@mansi-a thanks a lot for working on this one.

[2019-05-03 00:21] msau42 commented on #75782
One more improvement:
Being able to separate out fsgroup, mount, and resize from the mount operation metric

[2019-05-03 00:24] krmayankk commented on #72905
@ionutbiru  where did you add those labels ? Are they documented ?

[2019-05-03 00:45] Huang-Wei commented on #68981
FYI: we're under the development of an alpha feature called "Even Pods Spread". Hope that can resolve this issue. The earliest available release is 1.15.

KEP: [even-pods-spreading.md](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20190221-even-pods-spreading.md)
Development Issue: #77284

[2019-05-03 01:05] realAndyLuo commented on #12964
@hanqiulun
Your explanation is super helpful! Can you please point me to the official doc?

[2019-05-03 01:27] MrHohn commented on #68669
I recalled a couple of related bug fixes were merged recently, specifically https://github.com/kubernetes/kubernetes/pull/72682 added a `--metrics-port` flag that should allow user to configure metrics server address. It was cherrypicked into 1.11+.

Feel free to reopen if you still see the issue.
/close

[2019-05-03 01:27] #68669 closed

[2019-05-03 01:27] MrHohn commented on #68669
/triage-remove unresolved

[2019-05-03 01:28] MrHohn commented on #68669
/remove-triage unresolved

[2019-05-03 01:29] MrHohn commented on #68669
/remove-triage unresolved

[2019-05-03 01:39] cizixs commented on #77174
@msau42 I can confirm this issue occurs after PR https://github.com/kubernetes/kubernetes/pull/75308.

But the traceback is not really helpful to locate the error line since it's handled by `runtime.HandleCrash()`.

Is there a way to debug this kind of situation?

[2019-05-03 01:42] msau42 commented on #77174
@cnbailian do you see this issue in master? We did some refactoring to the csi volume init in 1.15 in https://github.com/kubernetes/kubernetes/pull/75129

[2019-05-03 01:45] ernoaapa commented on #72461
/remove-lifecycle rotten

[2019-05-03 01:55] cizixs commented on #77174
@msau42 The latest code still has this issue.

[code]

[2019-05-03 02:53] SataQiu commented on #68026
#77380
    pkg/apis/scheduling
    pkg/apis/storage/util
    pkg/apis/storage/v1beta1/util
    pkg/apis/storage/v1/util

[2019-05-03 05:48] cofyc commented on #71438
/reopen

[2019-05-03 05:53] rohitsardesai83 commented on #77024
@dims, https://github.com/etcd-io/etcd/pull/10687 is merged.

[2019-05-03 05:54] gertcuykens commented on #66994
/remove-lifecycle stale

[2019-05-03 06:05] pniederlag commented on #69697
@msau42 unfortunatly I don't have a scenario to easily reproduce this. I am still new to kubernetes and finding my way on handling volumes with pods and run into numerous problems on getting the pod stuck  attaching the volume (backed by an azure disk). So my use case probably was not a sane one (using terraform and kubernetes dashboard in parallel).

[2019-05-03 06:58] Pratima commented on #73906
Very much a pressing issue for us as well. It will be an issue for anyone using the [Terraform AWS EKS module](https://github.com/terraform-aws-modules/terraform-aws-eks) since it tags the SGs by default. The cloud provider is mis-using these tags to create NLB rules and search for SGs then it needs to be fixed. Could this issue be expedited?

[2019-05-03 07:15] glenjamin commented on #38456
I came across this issue when searching for solutions to our keepalive problems - we’re currently trying to make our application servers detect and close and keepalive connections during shutdown.

Is there any way to have kube-proxy remove itself from the flow and add the pod host:port combinations directly to the upstream load balancer pool?

[2019-05-03 07:19] JieJhih commented on #77365
I would like to work on it. Can you assign it to me?

[2019-05-03 07:20] draveness commented on #77365
Maybe we could split it into different phases.

[2019-05-03 07:30] rajusharma opened #77383 "eviction doesn't work with cronjob pods if PodDisruptionBudget specifies percentage minAvailable/maxUnavailable"
**What happened**:
PodDisruptionBudget is not working when CronJob and Deployment have same labels
Error:
[code]

**What you expected to happen**:
PDB should run

**How to reproduce it (as minimally and precisely as possible)**:
- Create CronJob and Deployment with same labels
- Use those labels in PDB selector

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubec

[2019-05-03 07:43] krmayankk commented on #63465
@kow3ns @kargakis  thoughts on this one ?

[2019-05-03 07:59] mkumatag commented on #69358
/remove-lifecycle stale

[2019-05-03 08:02] rajusharma commented on #77383
@kubernetes/sig-scheduling-bugs

[2019-05-03 08:19] jsafrane commented on #77102
@davidz627, do you have any details? Is the PV `Released` (=i.e. bug in external provisioner) or is it still `Bound`? Any finalizers on the PV? Any interesting logs in PV controller or external provisioner?

PVC must be deleted for PV reclaim policy to be executed. Is there any remaining finalizer on PVC? Or did you mean the **PV** never goes away?

[2019-05-03 08:26] draveness commented on #77365
Sorry, I just found out the un-reserved phase was already taken in #77288, I'd like to work on other phases if they were not taken.

[2019-05-03 08:26] cofyc commented on #71438
/remove-lifecycle rotten

[2019-05-03 08:31] jsafrane commented on #57923
IMO, `fsGroup` and `defaultMode` conflicts in Secrets (and other AtomicWriter volumes). `AtomicWriter.Write` prepares the volume with the right `defaultMode` first, i.e. a file is chmod to `400` (oct) and only after that `SetVolumeOwnership` is called to apply fsGroup:

https://github.com/kubernetes/kubernetes/blob/657a1a1a3457bc599005b1ca30c338c03e9d4aa0/pkg/volume/secret/secret.go#L251-L261

`Se

[2019-05-03 08:31] jsafrane commented on #57923
/reopen

[2019-05-03 08:43] aojea commented on #76491
I would try to downgrade docker to  Docker 17.03 or below to try to understand what caused the problem, if it was docker or kubernetes

[2019-05-03 08:53] steerben commented on #50321
+1 for reopening

[2019-05-03 09:10] #71688 closed

[2019-05-03 09:10] white-cloud commented on #45300
Hello,
Please i want to setup an active/standby for stateless application but still don;t know how can i start, any one can help with it , just instructions and steps would be helpful for me.

Thank you

[2019-05-03 09:20] amelbakry commented on #45300
@white-cloud @dbarochiya Please check this
https://github.com/amelbakry/kubernetes-active-passive

[2019-05-03 09:20] PaulFurtado opened #77387 "Updating Deployment annotations creates massive repetitive revision-history annotation, causing Deployment controller failure"
**What happened**:
We created a Deployment and continuously updated an annotation on it periodically for a week. Eventually, we noticed errors in the controller-manager logs due to the `deployment.kubernetes.io/revision-history` annotation growing too large.

Example annotations:
[code]
controller-manager error:
[code]

**What you expected to happen**:
1. Updates that do not change the revision nu

[2019-05-03 09:22] white-cloud commented on #45300
Thank you @amelbakry  i will check that .

[2019-05-03 09:30] PaulFurtado commented on #77387
/sig scalability

Not 100% sure where this one fits, I couldn't determine which group owns the Deployment/ReplicaSet controllers, but this is a scalability problem

[2019-05-03 10:04] SachinMaharana commented on #64168
Is this issue still outstanding?
I am encountering same issue. Even though downward API through environment variables is working fine, the file method is not working for podIP.

[code]

[code]

[2019-05-03 10:23] codingandcoding opened #77388 "Kube-dns has been CrashLoopBackOff"
**What happened**:
# kubectl  get pods -n kube-system -o wide
NAME                                      READY     STATUS             RESTARTS   AGE       IP                NODE
calico-etcd-jknbh                         1/1       Running            1          13h       192.168.56.101    k8s-node1
calico-kube-controllers-99bdf4cd4-vz5sb   1/1       Running            16         18h       192.168.56.

[2019-05-03 10:30] yastij commented on #77387
/sig apps

[2019-05-03 10:47] neolit123 commented on #77388
/sig network

[2019-05-03 10:48] jsafrane opened #77389 "AWS: volumes are not attached if they were detached shortly before"
E2e tests occasionally flake on AWS. It happens randomly to all tests that create a pod with a volume, write something to the volume, delete the pod and create a new one that reads from the volume. For example:

[code]

## High-level description
1. A/D controller detaches a volume from a node (= the old pod died)
2. Immediately after that (under 1s) it tries to attach the same volume to the same n

[2019-05-03 10:49] neolit123 commented on #77388
hi, you are running a unsupported version of k8s. the last supported version is 1.12, which will go out of scope when 1.15 is released.
[code]

for 1.10 you can try searching for help on stackoverflow or our support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example
thanks

/close

[2019-05-03 10:49] #77388 closed

[2019-05-03 10:52] jsafrane commented on #77389
Flow from AWS API perspective:

[code]

So far so good.

`19:20:07.932111: DescribeInstances(i-02b72eba7c14c5434)` = volume vol-0a90988d68c4166b5 **is back detaching**:
[code]

All timing is related to a response received, processed and logged by Kubernetes, which may be different to time corresponding request was sent. Everything in this report happens in sequence, there is no pararellism for a s

[2019-05-03 10:53] neolit123 commented on #77363
/assign @liggit @smarterclayton

as per:
https://github.com/kubernetes/kubernetes/pull/77136
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/1123836606650781701

PTAL. thanks.

[2019-05-03 10:54] neolit123 commented on #77363
/assign @liggitt

[2019-05-03 10:55] neolit123 commented on #77305
/sig architecture

[2019-05-03 10:56] neolit123 commented on #77290
/sig storage

[2019-05-03 11:02] jsafrane commented on #77389
@leakingtapan @d-nishi @micahhausler, this looks like a bug in AWS itself, `DescribeInstances` seem to return old data randomly. Can you please check AWS side of things?

And we probably need fix / workaround on Kubernetes side. How can we check that a volume has been 100% detached if `DescribeInstances` returns inconsistent data? We can check if a volume is `detaching` in `getMountDevice` and not

[2019-05-03 11:09] codingandcoding commented on #77388
hi，my kubectl version is v1.10.0
# kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:55:54Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322

[2019-05-03 12:03] zigmund commented on #76699
High there.

I made some tests today and problem apparently not in HAProxy. Executed few times load generator (siege in benchmark mode) on separate VM. Generator was pointed directly on kube node's port. ~1500-1600 RPS with no keep-alive and over 3500 RPS with keep-alive. Tested dummy service returning simple json from memory, 5 replicas.

![image](https://user-images.githubusercontent.com/1713091

[2019-05-03 12:07] alejandrox1 commented on #77363
Seem like #77136 also had something to do with bazel-test-master https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master :thinking:

[2019-05-03 12:13] #71699 closed

[2019-05-03 12:13] #50745 closed

[2019-05-03 12:57] danwinship commented on #67457
Are you connecting via direct pod IPs, or via service names/IPs?

Is it possible that the destination pod is dying and being restarted at any point? (eg, do "kubectl get pods" and see if RESTARTS is non-0).

[2019-05-03 13:08] danwinship commented on #77130
and line 75 is... `COMMIT`. Ah, classic `iptables-restore` error-reporting.

Are there any iptables-related errors/warnings before this in the kube-proxy logs? Or in the kubelet logs? What do you get if you run "`iptables-save`"?

[2019-05-03 13:36] christian-2 opened #77391 "Minor issue with source code in pkg/volume/iscsi/iscsi_util.go"
**What happened**:

Minor issue with the current source code in `pkg/volume/iscsi/iscsi_util.go`: The error message "Could not attach disk: Timeout after 10s" includes the verbatim string constant "10" (appears two times in adjacent rows), but the call to `waitForPathToExist(&devicePath, multipathDeviceTimeout, iscsiTransport)` in the preceding if statement refers to the Go constant `multipathDevi

[2019-05-03 13:37] mrbobbytables commented on #73743
As #76909 has been merged. I think this is safe to close :)
If not, please reopen.
Thanks @Huang-Wei @spzala !

/close

[2019-05-03 13:37] #73743 closed

[2019-05-03 13:40] alenkacz opened #77392 "[Failing test] //pkg/kubelet/oom failing on bazel-test-master"
**Which jobs are failing**:
ci-kubernetes-bazel-test

**Which test(s) are failing**:
//pkg/kubelet/oom

**Since when has it been failing**:
https://github.com/kubernetes/kubernetes/compare/a5a70b4de...ba28e0e0f
1st of May 23:29 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/milestone

[2019-05-03 13:44] alejandrox1 commented on #77392
/milestone v1.15

[2019-05-03 13:50] spzala commented on #73743
@mrbobbytables sounds good, thank you again for bringing this issue to the sig attention!

[2019-05-03 13:58] alejandrox1 commented on #76895
yes, I did, sorry... I meant to link to https://github.com/kubernetes/test-infra/issues/9679

[2019-05-03 14:23] smarterclayton commented on #77363
How did this merge and then later fail?

[2019-05-03 14:25] mcandre opened #77396 "Allow jobs to be rerun"
**What would you like to be added**:

The ability to instruct Kubernetes to execute a job again, after it has already run once.

**Why is this needed**:

Kubernetes has scheduled jobs, and Kubernetes has the ability to delete and create jobs, but no way to trigger an existing job to run again. This forces users into a more awkward workflow than necessary, for jobs expected to be triggered at inter

[2019-05-03 14:30] anthonyrisinger commented on #76965
I'm not sure this is a duplicate. The other issue specifically states:

This ticket is the exact inverse -- I don't care about the internal CRD types -- we need proper references to kubernetes objects within CRD definitions.

They are definitely related asks, but if we're going to leave the other one open can we add the requirements from this one so they do not get lost? I did go through some effo

[2019-05-03 14:30] liggitt commented on #77363
looks like verify-protobuf doesn't pick up the meta packages?

[code]

[2019-05-03 14:36] liggitt commented on #76965
yes, let's collect the `$ref` requests in a single issue

[2019-05-03 14:42] rhockenbury commented on #77360
Those commands work for me.

[code]

So that would imply the solution user, role, and permissions are set up correctly? Would you expect the `tags.attached.ls` to also work?  I seem to be getting a 404 when using with the `-r` flag - https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#tagsattachedls

[code]

Does seem to work when specifying  a tag name:
[code]

Are there any other govc co

[2019-05-03 14:42] andrewsykim commented on #77359
/lifecycle active

[2019-05-03 14:46] liggitt commented on #76965
fields can't be dropped without a version rev, so adding things to the API is a long-term commitment. when we were working through the v1 requirements, this was deferred (xref https://github.com/kubernetes/enhancements/pull/1002#discussion_r279429600)

[2019-05-03 14:50] liggitt commented on #76965
merged this with #62872

[2019-05-03 14:59] anthonyrisinger commented on #76965
Fair enough; being represented in the other ticket is enough for me :-) I'm
happy to wait and see where `$ref` support lands and I'm confident the
result will be useful to us.

On Fri, May 3, 2019, 9:49 AM Jordan Liggitt <notifications@github.com>
wrote:

[2019-05-03 15:19] liggitt commented on #77363
fixed in #77399

[2019-05-03 15:20] johnSchnake commented on #76342
Update: Not much extra work on this but I am of the mind that we split up the list of images due to the findings above. I'm not talking about decentralizing management, but simply providing some separation so that you can clearly see which test images are needed for conformance vs everything else.

This would mean people running airgap conformance testing would need < 1G of images today and, if we

[2019-05-03 15:34] yastij commented on #72413
/remove-lifecycle stale

api at #75744

[2019-05-03 15:43] msau42 commented on #57923
@jsafrane what do you think should be the solution? Fail if both fsgroup and default mode are set? Or have default mode override fsgroup?

Or should we need to to come up with a new API to specify volume ownership that is:

* Consistent across all volume types
* Consistent across inline and pvcs
* Handles all uid, gid, access settings
* Supports both Linux and windows semantics

[2019-05-03 15:46] johnSchnake commented on #77359
Taking
[code]

[2019-05-03 15:48] jayunit100 commented on #64137
So, to cross ref: https://github.com/kubernetes/kubernetes/issues/70324 , people seeing Kubelet CPU spiking + systemd / cgroup leakage might want to look at this or the other issue.  In our case kubelet CPU was going to 3000% within a few minutes and never returning from the part in the code where it started loading device plugins.  Im not sure which upstream issue this corresponds to , yet, thoug

[2019-05-03 15:52] jayunit100 commented on #70324
So, be careful, i guess in some solutions solution above  ^ of increasing watch allotment , can be a bandaid that might cause #64137 to occur, ironically.  Hence cross referencing these issues to each other as they are closely related (that is, i think certain types of Cgroup leaking is closely related it seems to kubelet CPU hogging)

[2019-05-03 15:57] sftim opened #77402 "Grammar nit in description for kubectl config rename-context"
**What happened**:

I noticed a typo when glancing at https://github.com/kubernetes/website/pull/14018/files#diff-e91420e95a03cf2795367c919ba0f025R7023

**What you expected to happen**:
A diff of `kubectl config rename-context` help would explain it best, I think.
(old = current, new = desired)

[code]

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl config rename-contex

[2019-05-03 15:58] apelisse commented on #13488
@e-nikolov What is the SDK?

[2019-05-03 16:04] sftim commented on #77402
/sig docs

[2019-05-03 16:07] mauilion opened #77404 "Ignoring the PVC error when not using storageClass correctly"
**What happened**:
When working with an nfs pv,pvc as specified here:

pv-volume.yaml
[code]
pv-claim.yaml
[code]
pod.yaml
[code]
I get an error in the logs:

[code]

**What you expected to happen**:
This same set of manifests worked prior to the introduction of the code outputting the error.
[expand_controller.go](https://github.com/kubernetes/kubernetes/blob/6c31101257bfcd47fa53702cea07fe2eedf2a

[2019-05-03 16:11] sftim commented on #77402
/sig cli

[2019-05-03 16:13] pbarker commented on #52757
Is anyone trying to push https://github.com/AliyunContainerService/gpushare-scheduler-extender into core?

[2019-05-03 16:14] gnufied commented on #57923
The API documentation of `DefaultMode` fwiw explicitly says it only guarantees file creation with given DeaultMode and specified DefaultMode may conflict with `fsGroup`:

[code]

I do not think we should change meaning of `DefaultMode` just yet.

[2019-05-03 16:18] #71279 closed

[2019-05-03 16:18] #71708 closed

[2019-05-03 16:23] sftim commented on #77396
@mcandre: If there were a contributed [plugin](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/) for `kubectl` that let you retrigger a job, would that count as a fix?

[2019-05-03 16:35] bowei commented on #70159
cc: @MrHohn may be relevant to garbage collection issues

[2019-05-03 16:38] johnSchnake commented on #77359
Taking 3 more:
[code]

[2019-05-03 16:48] tedyu commented on #77174
Can you post the trace for the panic ?

[2019-05-03 16:58] mauilion commented on #77404
In trying to reproduce this issue a second time I find that this is a flake. Some runs I can reproduce the problem with the above manifests some runs I can not.

[2019-05-03 17:18] MrHohn commented on #70159
Thanks for adding me --- this could be more useful when pairing with service finalizer (https://github.com/kubernetes/enhancements/issues/980).

[2019-05-03 17:46] wfernandes commented on #69052
So has this issue been addressed in a different fix?

[2019-05-03 17:56] johnbelamaric commented on #73497
/remove-lifecycle-stale
/remove-triage support
/kind bug

I think this is a significant issue that should be addressed. The initial surge in memory utilization means that you have to set the memory limit fairly high to avoid OOM, even if on a an ongoing basis the memory utilization is much much lower. We should be able to process the list without consuming so much memory.

@wojtek-t @lavalamp

[2019-05-03 17:57] andrewsykim commented on #75890
Initial node readiness gate KEP is here https://github.com/kubernetes/enhancements/pull/1003. I'll be iterating on it during the v1.15 cycle and hopefully we can have initial implementation in time for v1.16

[2019-05-03 18:03] bsalamat commented on #77365
@JieJhih Yes, I can assume that it is assigned to you, but I cannot formally assign it to you since you are not a member of K8s yet.
Please be aware that code freeze for 1.15 is May 30th. Your PR must be merged by then. Please give at least two week for the review process. In other words, you have about 10 days to send the PR. Please confirm that you can prepare the PR on time.

[2019-05-03 18:07] Huang-Wei commented on #77372
Per offline talk with Abdullah (@ahg-g) would like to give a try on it.

@ahg-g Go ahead to take this.

[2019-05-03 18:09] bsalamat commented on #77372
Thanks, @Huang-Wei!
@ahg-g, we assume this is assigned to you, although we cannot formally assign it to you since you are not a member of K8s yet.
Please be aware that code freeze for 1.15 is on May 30th. Your PR must be merged by then. Please give at least two week for the review process. In other words, you have about 10 days to send the PR. Please confirm that you can prepare the PR on time.

[2019-05-03 18:10] matthewejohnson711 commented on #77365
I dont even know

[2019-05-03 18:19] johnSchnake commented on #77359
Taking one more set today:
[code]

[2019-05-03 18:52] rmb938 commented on #77104
I can duplicate a similar issue with my own csi plugin. For me it's when volumes are being unpublished. I can only duplicate it when draining a node that has multiple volumes attached. My csi has a limit on the number of operations it can do at once so the detach operations end up being queued and 15 seconds is not enough time for it to get through the queue.

Being able to configure the kubelet's

[2019-05-03 18:54] yujuhong opened #77416 "Windows/GCE: kubelet does not write logs to file properly"
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/1124330363452133383/artifacts/e2e-3e2da0347d-36623-windows-node-group-sv9r/kubelet.log

The log file (kubelet.log) contains the flags and nothing else. This is a regression on the master branch since 1.14 works fine.

/cc @pjh @mtaufen

[2019-05-03 19:03] gnufied opened #77417 "Refactor volume resizing code to handle online and offline resizing for CSI migration"
As per design https://github.com/kubernetes/community/pull/3624/files , we need to refactor resizing code to handle migrated volumes.

[2019-05-03 19:03] gnufied commented on #77417
/sig storage

cc @leakingtapan @msau42

[2019-05-03 19:04] pjh commented on #77416
Looks like this has been happening since at least 04-19, bummer. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/1119365887820828675

[2019-05-03 19:08] pjh commented on #77416
Last time we got a full kubelet.log: [1119000479460757508](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/1119000479460757508/artifacts/e2e-1459f119e5-36623-windows-node-group-9d76/) on 04-18.

First time we got the short kubelet.log: [1119030928954363908](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/1119030928954363908/artifacts/

[2019-05-03 19:08] shrey-rajvanshi commented on #44371
nohup doesn't work for me. Even with `nohup sleep 1000 &`, kubectl exec hangs, waiting for the background process to complete. Any other ideas?

[2019-05-03 19:10] e-nikolov commented on #13488
I meant the Go client that can be used for talking to kubernetes from Go programs.

[2019-05-03 19:18] andrewsykim commented on #77095
I unassigned people if there were no PRs open to allow other contributors to grab work

[2019-05-03 19:18] leakingtapan commented on #77417
/assign

[2019-05-03 19:23] apelisse commented on #13488
No, you would have to re-implement the (very simple) logic that is implemented in kubectl.

[2019-05-03 19:28] yujuhong commented on #77416
Suspects:
https://github.com/kubernetes/kubernetes/compare/0772f852add44eab917409c291a5d82974bea822...d308368b2d720f732c9bef6e72ef6131388beb04

My bet is on the klog update:
https://github.com/kubernetes/kubernetes/pull/76474

[2019-05-03 19:40] akutz commented on #76899
/assign @akutz

[2019-05-03 19:46] newalp commented on #65937
@tonybranfort provided the right fix.
In summary I had to update my deployment and add ClusterRole, ClusterRoleBinding, Role, RoleBinding, ServiceAccount.
The deployment template provided was expecting a directory on my efs volume called /persistentvolumes. I had to replace this with just / for the pod to start.

See below for configuration I used:

`---
apiVersion: v1
kind: ConfigMap
metadata:

[2019-05-03 19:55] vaizki commented on #75817
What would these probes run against if the Pod has not been scheduled yet?

[2019-05-03 20:03] johnbelamaric commented on #73497
/remove-lifecycle stale

[2019-05-03 20:21] #71571 closed

[2019-05-03 20:55] timothysc commented on #71677
Update:

On evaluation of fpm/nfpm we considered it a bit awkward and possibly more difficult to maintain then just building standard packages in k/k.

Instead just move to clean it up and get bazel out of the generation business but just provide variable substitution where needed.

[2019-05-03 21:21] huguesalary commented on #76790
I am running into a similar issue where my cluster becomes unresponsive.

I reported this bug to Google since I'm running on GKE, but it could be unrelated to GKE. Here's the original bug report (https://issuetracker.google.com/issues/131888720):

We started noticing lots of 522 timeouts being reported by cloudflare.

522 timeouts are explained here: https://support.cloudflare.com/hc/en-us/article

[2019-05-03 21:22] #71154 closed

[2019-05-03 21:31] figo commented on #77359
will start with
[code]

[2019-05-03 21:35] khenidak commented on #65006
@kubernetes/sig-network-bugs

I don't think `ipvs proxier` was ever designed for ipv6. And this is not called out in the docs. The type itself is missing address family https://github.com/kubernetes/kubernetes/blob/master/pkg/util/ipvs/ipvs.go#L54:6. Even when the libnetwork bug is fixed we don't check `conntrack_ipv6` along a host of other things we need change to accommodate ipv6.

Action items:

[2019-05-03 21:38] khenidak commented on #65006
/kind feature

[2019-05-03 21:42] jingxu97 commented on #57923
discussed with @mesaugat, one proposal to fix this is that for volume types of secrets, configMap etc, we should set up the ownership along with mode together while writing the files (see code https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/atomic_writer.go#L396), so that no need to call SetVolumeOwnership function after finish writing the data at all. This way, it avoids SetV

[2019-05-03 21:52] liggitt commented on #57923
I explored something similar in https://github.com/kubernetes/kubernetes/pull/57935/files and couldn't get it to work with containers running as different uids with an fsGroup

[2019-05-03 22:12] #77363 closed

[2019-05-03 22:20] jingxu97 commented on #57923
@liggitt thanks for the information. I think we might still  honor fsGroup and defualtMode setting with the following restrictions
1. If user has different containers that run as different uids, they should not set defaultMode to 0400, maybe this could be validated and disallowed?
2. otherwise, user could set fsGroup and defaultMode freely. Although fsGroup seems does not bring much in this case.

[2019-05-03 22:58] cblecker commented on #77349
Fix inbound: https://github.com/kubernetes/kubernetes/pull/77362

[2019-05-03 23:05] bgrant0607 commented on #73841
@vikashiscoder Thanks for the suggestion, but you are essentially requesting a full system redesign, which is not feasible. The peer-to-peer architecture was considered and we decided against it, for a number of reasons. If you have specific scalability challenges, please file more specific issues with the details.

[2019-05-03 23:05] #73841 closed

[2019-05-03 23:22] ddebroy commented on #77102
I think in the `shoulddelete` [path](https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/controller.go#L1140), I missed adding checking for the `knownProvisioners` (besides just the `provisionerName`) for migration scenarios.

[2019-05-03 23:51] hardwaysun commented on #36222
Solve the issue by delete whitespace at each end of line.

[2019-05-03 23:56] bgrant0607 commented on #74405
/remove-sig cluster-lifecycle

[2019-05-04 00:01] bgrant0607 commented on #74405
/remove-sig cluster-lifecycle

[2019-05-04 01:41] draveness commented on #77045
We could have something like [.golint_failures](https://github.com/kubernetes/kubernetes/blob/master/hack/.golint_failures), make the `goimports` as the CI check, and label this issue with "good first issue" let the community help us with this.

/cc @andrewsykim @timothysc

[2019-05-04 01:51] chaos234 opened #77428 "kubectl version cmd not working correctly"
**What happened**: When I use `kubectl version` the output looks like the following: https://i.imgur.com/Td86Faj.png

**What you expected to happen**: It should normaly tell `Client Version: 1.14.1` or smth. similar.

**How to reproduce it (as minimally and precisely as possible)**: Unsure, when this happened. It seems that smth. is broken within kubectl, why evert.

**Anything else we need to kno

[2019-05-04 01:55] chaos234 commented on #77428
/sig release

[2019-05-04 02:11] liggitt commented on #2529
xref https://github.com/kubernetes/kubernetes/issues/76370

[2019-05-04 02:12] cblecker commented on #77045
We don't use goimports.. as you noticed it does some weird things and isn't needed. Why is this an issue?

[2019-05-04 02:24] andrewsykim commented on #76761
[code]

I believe the default CIDR allocated per node is `/24` so assigning `/24` for the pod network is going to be problematic. Can you reproduce this if you use a larger pod subnet like `/16`?

[2019-05-04 02:24] andrewsykim commented on #76761
/assign

[2019-05-04 02:26] liggitt commented on #77428
The output lists the full client version info, including build date, git version, etc

/close

[2019-05-04 02:26] #77428 closed

[2019-05-04 02:29] liggitt commented on #77169
/remove-sig architecture
/sig node

[2019-05-04 02:30] chaos234 commented on #77428
And why am I getting then the following error: https://i.imgur.com/1LptHOJ.png

/open

[2019-05-04 02:32] liggitt commented on #70585
/remove-sig architecture

[2019-05-04 02:33] liggitt commented on #74365
/sig apps
/remove-sig architecture

[2019-05-04 02:39] liggitt commented on #77428
kubectl shows the client version, and the server version it is configured to talk to

the server response was malformed, which means kubectl is configured to talk to a server that is not running kubernetes (it appears to be returning an html response)

[2019-05-04 02:40] liggitt commented on #77428
the issue was closed because this is a configuration error, not a bug in kubectl

[2019-05-04 02:55] ethercflow commented on #64743
@pshizhsysu @dims @thockin @pdecat @geekgonecrazy @mikejk8s @Evesy @tuminoid @huxiaoliang  @ylhyh @sumanmanuel @jstangroome @pshizhsysu @dmarkey @blepoutr @dnatic09 @amaurer @blepoutr @benamazing @bowei @amaurer Please look at this: https://pingcap.com/blog/try-to-fix-two-linux-kernel-bugs-while-testing-tidb-operator-in-k8s/

[2019-05-04 03:34] bgrant0607 commented on #74405
Ref #2529

[2019-05-04 03:43] bgrant0607 commented on #74405
@liurd

Thanks for the report.

Was it a Deployment controller in the Helm chart?

After a short time, OOMing containers should have resulted in CrashLoopBackoff. Did you observe that?

Was the node considered unready at some point? Was that because its local disk filled up? Something would have to have caused the pods to be killed so they could be replaced by their controller and rescheduled.

By

[2019-05-04 04:01] #76205 closed

[2019-05-04 04:01] #77203 closed

[2019-05-04 04:32] draveness commented on #77045
I think the problem we want to solve here is the inconsistency. And many kubernetes contributors do use `goimports` when submitting commits. That's the reason why there are many imports with alias like `v1 "k8s.io/api/core/v1"`. It is helpful to put some constraints on packages import, and `goimports` may be a good choice.

[2019-05-04 04:39] mikedanese opened #77436 "cleanup SlowStart in the various pod controllers"
It's extremely difficult to reason about and got copied and pasted a few times. It's causing bugs with incorrect expectation counting.

[2019-05-04 05:17] #56098 closed

[2019-05-04 05:18] uablrek commented on #71202
It *must* be clearified that proxy-mode=ipvs does **not** work in an ipv6-only cluster.

The support for ipv6 in proxy-mode=ipvs is re-classified as a "feature" in #65006

[2019-05-04 05:37] uablrek commented on #71202
@luxas

About https://github.com/kubernetes/kubernetes/issues/71202#issuecomment-445444687, apparently proxy-mode=ipvs was not intended to work with ipv6.

[2019-05-04 08:33] #71738 closed

[2019-05-04 08:34] sevensees commented on #70082
I have met the same problem in k8s cluster, this warning occurs 10+/s every time controller-manager elect leader on new master, and this will last 30+ mins. In this time range, most of the requests latency will increase extremely, etcd backend commit latency as well.

**Cluster Info:**
Kubernete version: v1.13.4
Etcd version: 3.2.24
Scale: 5000 nodes, 3 masters, 3 etcd instance, totally 55000 pods

[2019-05-04 09:22] godasisatish opened #77439 "k8s ingress external IP not taken"
<H1>
when created ingress in kube admin cluster address (external IP) not pick up
any one please help me
THANK YOU </H1>
installed in bare metal server OS: centos 7

[2019-05-04 09:23] godasisatish opened #77440 "ingress not pick address"
<H1>
when created ingress in kube admin cluster address (external IP) not pick up
any one please help me
THANK YOU </H1>
installed in bare metal server OS: centos 7

[2019-05-04 10:16] diemus commented on #42649
@pnrick you need to use updatestatus not update method. update method can not change status

[2019-05-04 13:13] liggitt commented on #57923
We can't currently tighten validation in a way that would invalidate data already allowed to be persisted in etcd. xref https://github.com/kubernetes/kubernetes/issues/64841

Also, we can't detect in the API validation what the natural uid is for containers that didn't specify a uid in the pod spec.

If we change how this is handled, I think it could only be done at runtime.

[2019-05-04 15:10] cofyc commented on #77084
/sig storage

[2019-05-04 15:41] tedyu commented on #77383
From DisruptionController#getExpectedScale:
[code]
Looks like all the finders returned nil, nil

[2019-05-04 15:43] cofyc commented on #77085
/sig storage

[2019-05-04 16:08] camilamacedo86 opened #77444 "API to provide the cluster host/ip for a Golang project when it in running inside of the cluster"
**What would you like to be added**:

**API to provide the cluster host/ip for a Golang project when it in running inside of the cluster**

**What is my goal?**

* Via the `k8s.io/client-go` I would like to get the cluster HOST ( public hostname or IP ) from inside of the cluster
* By a [Golang operator project](https://github.com/operator-framework/operator-sdk), I'd like to be able to get the cl

[2019-05-04 16:10] tedyu commented on #77383
I wonder if the additional log would tell us something:
[code]

[2019-05-04 16:12] camilamacedo86 commented on #77444
@kubernetes/sig-api-machinery

[2019-05-04 16:49] MorrisLaw commented on #77095
I can work on the kubectl package @andrewsykim

[2019-05-04 18:49] Chrischuck commented on #76832
I'd like to help on this issue, this would be my first issue so I'd need some help as well if that's OK.

[2019-05-04 19:10] vllry commented on #76491
/unassign @vllry

[2019-05-04 19:10] camilamacedo86 commented on #77444
@liggitt I updated the first comment in order to make it more clear. What evidence you are looking for? Has anything else that I could provide in order to help you with?

[2019-05-04 22:24] liggitt commented on #77444
the rest.Config is simply a config struct. If you populate it from a kubeconfig file, it contains the URL specified for the cluster in the kubeconfig file. If you populate it with InClusterConfig, it contains the value of KUBERNETES_SERVICE_HOST. I'm not sure I understand what you are asking for inside the cluster… you can provide a process inside the cluster an explicit kubeconfig, and it will be

[2019-05-04 22:26] aojea commented on #77115
what CNI plugin are you using? is the CNI configuration matching the pod-network?

[2019-05-04 22:44] camilamacedo86 commented on #77444
Hi @liggitt,

Following some clarofications.

**What is the goal?**

* Via the `k8s.io/client-go` I would like to get the cluster HOST ( public hostname or IP ) from inside of the cluster
* By a Golang operator project, I'd like to be able to get the cluster host ( public hostname or IP ) and create an ingress resource with this value in runtime.

**What means inside of the cluster? How I am check

[2019-05-04 23:13] vllry commented on #77440
/assign @vllry

Hi @godasisatish, we need significantly more information to determine if this is a bug. For example, how is your ingress controller set up?

[2019-05-04 23:58] figo commented on #76393
/remove-triage unresolved

[2019-05-05 00:43] liggitt commented on #33767
Server side export is deprecated

/close

[2019-05-05 00:43] #33767 closed

[2019-05-05 00:49] liggitt commented on #54974
@smarterclayton is this still an issue?

[2019-05-05 01:01] mikedanese opened #77451 "unit test flake: race in k8s.io/apiserver/pkg/storage/cache"
[code]

cc @wojtek-t

ref #73958

[2019-05-05 01:08] cwdsuzhou commented on #77404
/assign I will take a look

[2019-05-05 01:10] cwdsuzhou commented on #77404
/assign

[2019-05-05 01:26] jianglingxia commented on #77104
thanks for your repliy, but I print the kubelet -h can not search the flag about the csi timeout ? what about you fix the issue ?

[2019-05-05 01:44] danielqsj commented on #77391
/assign

[2019-05-05 01:45] #77115 closed

[2019-05-05 02:11] wtan825 commented on #50309
Eventually，I gave up using container ID. Instead, I used the soft link path "/var/log/pods/${POD_UID}/{{$ContainerName}}/*.log", and I mount the following directories to main Container：
ubuntu
 /var/log  // /var/log/pods->/data/docker/containers
/data/docker/containers
CentOS
 /var/log  // /var/log/pods->/var/lib/docker/containers
/var/lib/docker/containers

[2019-05-05 02:15] himao commented on #41881
Any update?
I need `Host: test-*.mydomain.com`,but it doesn't work because it doesn't pass validation at Kubernetes level.
I'm use the traefik controller,or any other way?

[2019-05-05 02:20] hoyho commented on #77104
You are right, the csiTimeout for kubelet is 15 second. As currently the csiTimeout is not configureable and is it hardcoded. So, If you want longer timeout, you may need to build Kubelet by yourself.

[2019-05-05 02:21] ssoor commented on #65965
/reopen
I'm having the same issue

[2019-05-05 02:28] jianglingxia commented on #77104
thanks @hoyho

yes,now it is hardcoded can not configureable,

but i modify the csi_plugin.go of the const  csiTimeout      = 15 * time.Second  to 20s always can not fix it ! the logs print the  rpc error: code = DeadlineExceeded desc = context deadline exceeded by warning is normal? how can you fix the problem?thanks

[2019-05-05 02:32] travisghansen commented on #41881
@himao it's not a 'supported' way but with `traefik` ingress controller I simply enabled the `file` backend and then manually created the following snippet/file:

[code]

While I'm using a persistent volume to mount the folder containing my `rules` files you could easily use a `ConfigMap` volume and manage everything with cluster resources.  I've been doing this for a couple years now and never ha

[2019-05-05 02:32] ethercflow commented on #61937
https://pingcap.com/blog/try-to-fix-two-linux-kernel-bugs-while-testing-tidb-operator-in-k8s/

[2019-05-05 02:38] hoyho commented on #77104
@jianglingxia
I don't use cinder-csi-plugin so have no idea how long will this plugin need. Anyway, I think 20s is quietly no different with default 15s. How about set to 30s or 1m. I have a csi plugin and I change to default timeout up to 60s. It works fine. You may try it.

[2019-05-05 02:47] jianglingxia commented on #77104
ok,really thanks @hoyho

another feature that the https://kubernetes.io/docs/concepts/storage/storage-limits/#dynamic-volume-limits the max volume limit  per node the csi can support, I set the value in driver but maybe can not work,you familiar with it ?

[2019-05-05 03:19] benamazing commented on #64743
@ethercflow Wow that's great! We've been suffered by this for a long time, will have a try the patch. Thanks!

[2019-05-05 03:26] smarterclayton commented on #54974
I see this in a 1.13 cluster

[code]

[2019-05-05 03:32] randmonkey commented on #74677
/assign

[2019-05-05 03:37] #77344 closed

[2019-05-05 03:39] xiang90 commented on #54974
/cc @hormes Can you take a look?

[2019-05-05 03:55] janetkuo commented on #77387
Agree with these, and if the limit is hit, the beginning of the history can be removed.

[2019-05-05 04:07] huguesalary commented on #76580
Try setting `strategy.rollingUpdate.maxUnavailable=0`, this will ensure that you always have a new pod running (and ready) before the old one gets terminated.

[2019-05-05 04:11] #72817 closed

[2019-05-05 04:47] shiywang commented on #75350
@khteh @liggitt for Node they have stuff like [Node.Status.Allocatable](https://github.com/fabric8io/kansible/blob/master/vendor/k8s.io/kubernetes/docs/proposals/node-allocatable.md) which is the utilization for now. In Pod, maybe we can calculate by `spec.containers[].resources.requests/spec.containers[].resources.limits` ? or we just disable showing `utilization %` for pod temporarily if that's

[2019-05-05 04:50] shiywang commented on #75350
also @kubernetes/sig-cli-feature-requests

[2019-05-05 05:34] WanLinghao commented on #76206
@andrewsykim  Hi, I was just in vocation, I still want to take:
test/e2e/framework/perf_util.go
test/e2e/framework/psp_util.go
test/e2e/framework/pv_util.go

[2019-05-05 05:37] WanLinghao commented on #77266
/close

[2019-05-05 05:37] #77266 closed

[2019-05-05 05:41] wojtek-t commented on #77451
@hormes - can you please take a look, you introduced this test and it may mean real problem with your code

[2019-05-05 05:43] himao commented on #41881
@travisghansen thank u,i will try it.

[2019-05-05 05:48] draveness commented on #76206
I could take `nodes_util.go` and `metrics_util.go`

[2019-05-05 06:20] yanghaichao12 commented on #76699
what's current size of the buckets?
and  you mentioned the TIME_WAIT connections is up to  15-16k. is it with keep-alive or not, or both? what's the value of these parameter:
[code]

[2019-05-05 06:27] deitch commented on #41881
I like it @travisghansen . But as you said, "it's not super clean." This thing really should be.

[2019-05-05 06:36] yanghaichao12 commented on #76699
another thing， why are there so many TIME_WAIT connections on servers?
Is it always the server that closes the connections instead of the client?

[2019-05-05 06:42] vllry commented on #75290
Reopen if needed
/close

[2019-05-05 06:42] #75290 closed

[2019-05-05 07:31] runningman84 commented on #60748
/remove-lifecycle stale

[2019-05-05 08:00] andyzhangx opened #77461 "remove VirtualMachineSizesClient dependency in azure disk GetVolumeLimits"
https://github.com/kubernetes/kubernetes/blob/df29573ec50375e831d833e27c63c23a88b983e8/pkg/volume/azure_dd/azure_dd.go#L170

**What would you like to be added**:
related to https://github.com/kubernetes/kubernetes/issues/77309

**Why is this needed**:

/assign
/sig azure

[2019-05-05 08:01] hormes commented on #54974
It is true that this problem exists today, I will submit a pr to fix it later. The approximate method is as follows:
1. enable WithProgressNotify in etcd watcher
2. handle the progress notify event, and create a Bookmark event for it to let reflector have the opportunity to update the resourceVersion

As the bookmark event is designed to an object type, we need a way to create an object(by passing

[2019-05-05 08:02] andyzhangx opened #77462 "remove VM API dependency in azure disk WaitForAttach"
**What happened**:
related to https://github.com/kubernetes/kubernetes/issues/77309

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Insta

[2019-05-05 08:53] whereisaaron commented on #66607
If I create an external loadbalancer I don't expect `kube-proxy` to hijack traffic addressed to that **external** loadbalancer.

That completely disregards any functionality the load balancer provides, including TLS termination, proxy protocol, logging, metrics, DPI firewalling, and... _the actual the load balancing algorithm!_

I'm perplexed that this is default behavior? It only seems useful if

[2019-05-05 08:57] #67710 closed

[2019-05-05 08:57] #71780 closed

[2019-05-05 09:12] mcluseau commented on #72467
Possibly linked to https://github.com/kubernetes/kubernetes/pull/72105

[2019-05-05 10:46] powerLambda commented on #45300
+1 for this proposal.

[2019-05-05 10:55] timoreimann commented on #66607
This issue was discussed a few weeks ago at a SIG Networking meeting. The problem was acknowledged, and the SIG is open to review a PR that demonstrates what a possible fix could look like. (IIRC, @thockin said to believe he was explicitly trying to prevent the kind of LB-bypassing behavior that can be observed right now when he originally built out kube-proxy.)

We (DigitalOcean) have volunteered

[2019-05-05 11:07] #77391 closed

[2019-05-05 11:31] chengxiangwang opened #77465 "When the number of jobs exceeds 500, cronjob cannot schedule, bug of pager.List"
**What happened**:
    When the number of jobs exceeds 500, cronjob cannot schedule, bug of pager.List
**What you expected to happen**:
    When the number of jobs exceeds 500, cronjobs are scheduled normally
**How to reproduce it (as minimally and precisely as possible)**:
    Create at least 501 jobs and one cronjob to see if cronjobs can be scheduled
**Anything else we need to know?**:
    inte

[2019-05-05 11:33] chengxiangwang commented on #77465
/sig bugs

[2019-05-05 11:40] liucimin commented on #77465
Would do you like to show  us the full error?

[2019-05-05 12:15] chengxiangwang commented on #77465
@liucimin Thanks, the error message is as follows：
[code]

[2019-05-05 13:54] feiskyer commented on #50752
We have moved the work item tracking to github project https://github.com/orgs/kubernetes/projects/12 and design docs to [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/azure/20190125-out-of-tree-azure.md). Let's close this issue since it is duplicated with them.

/close

[2019-05-05 13:54] #50752 closed

[2019-05-05 14:05] SergiusAC opened #77468 "LoadBalancer is not accessible from outside of cluster"
For testing I created Kubernetes on single node by using Virtualbox.
I created one Pod listening on port 4646, then I created LoadBalancer for that Pod.

Yaml file for Pod:
[code]
Yaml file for LoadBalancer:
[code]
Output of command `kubectl get nodes -o wide`:
[code]
Output of command `kubectl get all`
[code]
On other virtual machine that is located in the same network I'd like to get an access t

[2019-05-05 14:06] dixudx opened #77469 "Allow CSRRecognizer to Recognize Multiple Organizations"
**What would you like to be added**:
Currently csrRecognizer only recognize single org name named `"system:nodes"`. But for a valid certificate request, setting multiple organizations should be supported as well.

**Why is this needed**:
A use case:

We are managing a large cluster. Multiple teams from several BUs are joining the cluster. We need a better way to manage the kubelets, not just from

[2019-05-05 14:06] dixudx commented on #77469
/assign

[2019-05-05 14:26] SergiusAC commented on #77468
/sig network

[2019-05-05 15:20] shinebayar-g commented on #41881
@travisghansen Does sticky session works when using this method?

[2019-05-05 15:45] Bregor commented on #66067
@freehan but it is still broken, why did you close issue?

[2019-05-05 17:47] wojtek-t commented on #73635
/remove-lifecycle stale

[2019-05-05 18:33] travisghansen commented on #41881
@deitch yeah, I unfortunately don't think it's going with the `Ingress` spec.  As some of the teams are working on `IngressRoute` as `CRD`s maybe some day the next-gen spec will support it.

[2019-05-05 18:36] travisghansen commented on #41881
@shinebayar-g not really.  The example has a single backend pointing to the kubernetes `Service` so as far a `traefik` is concerned it's a single endpoint.  If you have stable pod names (ie: `StatefulSet`) you could do sticky sessions but otherwise that's one of the (several) downsides.

[2019-05-05 18:37] zigmund commented on #76699
@yanghaichao12
On one of the kubenodes (same values on all others)...

[code]

It is while I've tested without keep-alive. After we properly configured clients and enabled keep-alive, we have < 10 TIME_WAIT connections in containers, but still some retransmits (~3 per second) are there.

But we have so many conntrack connection on nodes because of websocket service (overall about 70-80k connection

[2019-05-05 18:40] zigmund commented on #76699
Not so many at the moment. As I said before, we configured clients and at the moment every node has ~1k TIME_WAIT connections.

But we still have retransmits.

[2019-05-05 18:53] mattjmcnaughton commented on #76761
/unassign

[2019-05-05 18:54] mattjmcnaughton commented on #76598
/unassign

[2019-05-05 20:57] liggitt commented on #77469
Thanks for the feature request, but this is a good case for an external approver. Without additional configuration, the in-tree approver does not know whether the additional groups should be allowed.

The in-tree approver is limited to the exact shape of the certificates automatically requested by kubelet bootstrap and client cert renewal.

/close

[2019-05-05 20:57] #77469 closed

[2019-05-05 20:58] liggitt commented on #77469
/sig auth

[2019-05-05 21:01] liggitt commented on #77465
cc @smarterclayton @jpbetz

Related to paging?

[2019-05-05 23:39] mikedanese commented on #73387
cc @tallclair per RuntimeClass.

[2019-05-06 00:54] Xaelias opened #77472 "kubeadm 1.14.1 - New control plane won't join, missing kubelet config"
**What happened**:
Standing up a new node from scratch (rebuilding actually), node won't join using kubeadm, and kubelet doesn't start (`/var/lib/kubelet/` is empty/doesn't exist).

**What you expected to happen**:
Node joins the cluster correctly.

**How to reproduce it (as minimally and precisely as possible)**:
Have a running cluster (in my case, 2 control planes running 1.14.1, was a 3 node cl

[2019-05-06 01:02] cam-cen commented on #26670
For reference this has been implemented https://github.com/kubernetes/kubernetes/pull/62774

[2019-05-06 01:05] Xaelias commented on #77472
/sig instrumentation
I think?

[2019-05-06 01:38] danielqsj commented on #77472
/remove-sig instrumentation
/area kubeadm

[2019-05-06 01:42] Xaelias commented on #77472
Thanks! :-)

[2019-05-06 01:57] zhangguanzhang commented on #75443
vip will move to another machine, the `172.16.1.240` is the vip, but cannot connect to the `vip:30394`

[2019-05-06 02:05] cwdsuzhou commented on #75476
Did you enable the feature-gate? It is alpha in k8s 1.9.
See https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

[2019-05-06 02:14] #65990 closed

[2019-05-06 02:31] yanghaichao12 commented on #76699
@zigmund can you set
[code]
and try it again？ i think it will be helpful

[2019-05-06 02:32] xhlim opened #77474 "Kube-controller-manager exception log problem when scale operation"
![image](https://user-images.githubusercontent.com/9361471/57204376-09dcb380-6fea-11e9-926b-b8425fd9edfd.png)
![image](https://user-images.githubusercontent.com/9361471/57204378-13661b80-6fea-11e9-9d08-89b4b58ef267.png)
An exception log occurs irregularly when the above command is executed.

[2019-05-06 02:32] lingyanmeng commented on #61937
Thanks @pires and @ethercflow for your guidance will try.

[2019-05-06 02:33] xhlim commented on #77474
![image](https://user-images.githubusercontent.com/9361471/57204417-4b6d5e80-6fea-11e9-98e1-2cddf9b191b2.png)

[2019-05-06 02:38] yanghaichao12 commented on #76699
@zigmund sorry，i just notice “every node has ~1k TIME_WAIT connections“，so i guess it's no need to set  net.ipv4.tcp_max_tw_buckets to smaller value.....

[2019-05-06 02:42] liucimin commented on #77465
@chengxiangwang
Thx for your reply.
 @liggitt
Yes it is a bug in the  syncAll function.
I will try to fix it.
https://github.com/kubernetes/kubernetes/pull/77475

[2019-05-06 02:47] xhlim commented on #77474
/sig scalability

[2019-05-06 03:08] mikedanese commented on #71162
Apparently the correct way to do this is using "azp". See: https://github.com/kubernetes/kubernetes/issues/18549#issuecomment-215284481

[2019-05-06 03:17] liucimin commented on #77465
/assign

[2019-05-06 03:29] randmonkey opened #77476 "kube-proxy still fails to cleanup iptables chains after restart"
**What happened**:
When deleting a node from cluster and then re-add it, `kube-proxy` reports:
[code]
The reason is just the same as #70615.
**What you expected to happen**:
That all chains get cleaned up properly.
**How to reproduce it (as minimally and precisely as possible)**:
Restart `kube-proxy` in `iptables` mode, with at least 1 service in k8s cluster.
**Anything else we need to know?**:
Th

[2019-05-06 03:29] randmonkey commented on #77476
/sig network
/area kube-proxy

[2019-05-06 03:46] vllry commented on #77476
/assign @vllry
/remove-triage unresolved

We have a fix in 1.14 (#76109) that disables the automatic cleanup altogether, perhaps that should get back ported to 1.13?

[2019-05-06 04:06] zigmund commented on #76699
@yanghaichao12 no difference.

[2019-05-06 04:25] whereisaaron commented on #66607
That's great @timoreimann, if it wasn't intentional then hopefully the PR can change the current default behavior. But for now we (1) know about it, and (2) have a workaround, so all good.

Feel free to send me your KubeCon tickets, if you want more time to stay and work on a patch 😉

[2019-05-06 04:31] cnighojkar commented on #75701
We faced same issue with v1.12.4 , when the installation for v1.12.4 will be unblocked.

[2019-05-06 04:42] yue9944882 commented on #66536
/reopen
#76346 is working on fixing the issue

[2019-05-06 05:17] #66756 closed

[2019-05-06 06:22] globervinodhn opened #77482 "E2E proposal: To verify NoExecute taint for pod rejection and scheduling on providing toleration"
**What would you like to be added**: A new E2E test to ensure that the pod is not scheduled on a "NoExecute" taint node without toleration and on providing the toleration is scheduled successfully in a single node environment.

**Why is this needed**: This E2E is necessary to verify the pod rejection on node taint and scheduling of the pod on providing relevant toleration.

Steps:
1. Create a node

[2019-05-06 06:30] NickrenREN commented on #69507
/remove-lifecycle stale

[2019-05-06 06:31] NickrenREN commented on #69507
Any comments  @gnufied @jingxu97  ?

[2019-05-06 06:47] jpbetz commented on #77465
cc @jingyih

As it stands, this API is error prone, but I'm not certain how to fix it.

The to `*batchv1.JobList` is not safe here. But it's not obvious since it works up to the page limit.

`pager.List` returns a `runtime.Object` which can be either the type returned by the `ListPageFunc` provided to `pager.New` (in this case `*batchv1.JobList`) if the result fits in a single page or `metainterna

[2019-05-06 06:49] jpbetz commented on #77465
/assign @jingyih

[2019-05-06 06:57] yanghaichao12 commented on #77474
i’ve test many times， but cannot reproduce it. what's the version of your k8 and etcd?
In general, this kind of error only occurs when concurrency，
Did you also do other operations on the object at the same time?

[2019-05-06 07:03] jiatongw commented on #77197
Since `test/e2e/framework/node` work was unsigned in #77095, I am going to create this package first.
How about move those 4 node related methods to `test/e2e/framework/node/resource.go` and **GetContainerPortsByPodUID** to `test/e2e/framework/endpoints/ports.go`?
@andrewsykim

[2019-05-06 07:09] xhlim commented on #77474
kubernetes version ：1.10.12
etcdctl version: 3.2.7
I have this problem when I reduce the number of instances to 0 and then expand to 2. Repeat operation

[2019-05-06 07:23] yanghaichao12 commented on #77474
yes, i've done the same thing but with different version.  Did you also do other operations on the object at the same time?or some job is still running?

[2019-05-06 07:25] garfield009 commented on #19018
Does anyone know what is the unversioned-types？

[2019-05-06 07:28] wojtek-t commented on #73497
Pagination + not waiting for all pages to be downloaded before processing them should visibly help with that.
@jpbetz was working on that and there should be visible improvement in 1.15 for it.

[2019-05-06 07:36] xhlim commented on #77474
![image](https://user-images.githubusercontent.com/9361471/57211832-491ffa00-7014-11e9-93ea-5af66d7b278d.png)
![image](https://user-images.githubusercontent.com/9361471/57211854-60f77e00-7014-11e9-9d7f-4b47319eff1f.png)
journalctl -fu kube-controller-manager | grep nginx
I checked it through the "journalctl -fu kube-controller-manager | grep nginx" and it was not manipulated by any other object du

[2019-05-06 07:41] yoavAqua opened #77487 "Unique Id for cluster"
Is there a way to find unique id for kubernetes cluster?
We are working with several environments and we couldn't find something to uniquely identify a cluster environment.

Our current workaround is to save all the node's on the cluster and use the node's machine id field to determine on which cluster you are.

[2019-05-06 07:46] yoavAqua commented on #77487
/sig api-machinery

[2019-05-06 07:54] globervinodhn opened #77488 "E2E Proposal: To verify 'requiredDuringSchedulingIgnoredDuringExecution' Node Affinity type"
**What would you like to be added**: An E2E test to verify the pod scheduling and execution behavior on NodeAffinity type "requiredDuringSchedulingIgnoredDuringExecution"

**Why is this needed**: The proposed test ensures that the scheduling and execution behavior of the pod on the nodes is verified for Node Affinity type.

Steps:
1. Create a pod with the necessary label/value for node Scheduling

[2019-05-06 07:55] liucimin commented on #77465
@jpbetz
I have the same analyze about this bug.
I push a pr to fix this.
Would do like to review it?

[code]

[2019-05-06 08:01] gouki777 opened #77489 "rotate-server-certificates keep applying for certificates"
hi
I have a problem for certificate-rotation,
my rotate-server-certificates have been repeating the application certificate,I don't know what went wrong.

when i restart kubelet serivce.
 my rotate-server-certificates have been repeating the application certificate

i look certificate-rotation
[https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#certificate

[2019-05-06 08:03] gouki777 commented on #77489
/sig node

[2019-05-06 08:11] mm4tt commented on #76760
Will be fixed by https://github.com/kubernetes/perf-tests/pull/507

/unassign

[2019-05-06 08:15] mm4tt commented on #73884
Found similar failure in a few recent CI / presubmit runs:

[code]

Will raise fluentd-gcp memory threshold, should help with the flakiness.

[2019-05-06 08:18] yanghaichao12 commented on #77474
@xhlim #50102 have fixed it.

[2019-05-06 08:35] wojtek-t commented on #77272
+1

I believe we should make it dynamic, instead of introducing a new value for the flag, because that would mean that many different providers has to start setting it differently.

Also, relying on the request to etcd makes it possible to do that dynamic (e.g. we can check it every minute or so if that didn't change in the meantime).

[2019-05-06 08:35] feiskyer commented on #77309
Update: PR #77483 would remove the VM API calls when getting the LUN number for AzureDisk.

[2019-05-06 08:41] wojtek-t commented on #54974
Is WithProgressNotify available in 3.3 etcd?

Ref https://github.com/kubernetes/kubernetes/issues/77272
@jpbetz - FYI

[2019-05-06 08:44] mm4tt opened #77492 "fluentd-gcp memory consumption has increased"
It's causing flakiness of the pull-kubernetes-e2e-gce-100-performance, see https://github.com/kubernetes/kubernetes/issues/73884#issuecomment-489542295

It's also visible in the [perf-dash graph](http://perf-dash.k8s.io/#/?jobname=gce-100Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=fluentd-gcp%2Ffluentd-gcp&Resource=memory)
![mKMPjAcrwZk](https://user-images.githubusercontent.c

[2019-05-06 08:44] mm4tt commented on #77492
/sig scalability
/assign

[2019-05-06 08:45] wojtek-t commented on #65497
@jpbetz - can we close it now?

[2019-05-06 08:46] mm4tt commented on #77492
We can rule out fluentd-gcp upgrade, the version that we use (v.3.2.0) hasn't changed since 1.13

[2019-05-06 08:50] krcroft opened #77493 "kube_proxy running under a static kernel reports false-positive module load failures"
<Reopened this valid and in-demand bug after the auto-bot expired it>

/kind bug
/sig network
/area kube-proxy

**What happened**:
Building a fully static Linux kernel with  kube_proxy's desired IP_VS (Virtual Server) modules linked statically:

CONFIG_IP_VS=y
CONFIG_IP_VS_RR=y
CONFIG_IP_VS_WRR=y
CONFIG_IP_VS_SH=y
CONFIG_NF_CONNTRACK_IPV4=y

Causes kube_proxy to believe that these features don't e

[2019-05-06 08:51] krcroft commented on #77493
/sig network
/area kube-proxy

[2019-05-06 08:56] GarbageYard opened #77494 ""kubectl get nodes" taking too much time to return result"
**What happened**: Executed command ```kubectl get nodes``` but it took more than a minute to return result

**What you expected to happen**: I expected to see the output almost instantly

**How to reproduce it (as minimally and precisely as possible)**: Install Kubernetes on CentOS VM with details as mentioned in Environment section below

**Anything else we need to know?**:
**Logs**
1) ```kubect

[2019-05-06 08:58] mm4tt commented on #77492
/assign @x13n

@x13n, could you take a look and help us debug?

[2019-05-06 09:06] krzysied commented on #77127
![apiserver_cpu_2 png](https://user-images.githubusercontent.com/25119199/57215968-c3d61e80-6fee-11e9-9dbc-d72343a7f624.png)

There is not visible change in apiserver cpu usage.

However there is an impact on pod startup latency #77126

[2019-05-06 09:19] PrasadG193 commented on #43932
I would like to work on this if this is still relevant.

[2019-05-06 09:30] tnqn opened #77496 "kubectl proxy not accepting requests against [::1]"
**What happened**:
When I use `kubectl proxy --address=0.0.0.0` or  `kubectl proxy --address=[::1]` to proxy the IPv6 loopback address to kubernetes api, the requests against [::1] are rejected by FilterServer, the default accept hosts has allowed the address though.
[code]
If I specify the port to 80, the requests aren't rejected:
[code]
**What you expected to happen**:
The requests against [::1]

[2019-05-06 09:30] jkryl commented on #74650
Pardon my ignorance of kubelet source code, but this looks very much similar to an issue we have been running to many times recently, when developing a CSI plugin. The problem is that when CSI volume publish is called and the mount point is not propagated from the CSI plugin pod (either missing bidirectional flag in yaml or not supported by underlaying k8s cluster implementation), the kubelet neve

[2019-05-06 09:38] gouki777 commented on #77489
and when i restart kubelet serivce.
my rotate-server-certificates have been repeating the application certificate
<pre>
[root@k8snode6]# systemctl restart kubelet.service

[root@k8s-m1 ]# kubectl get csr
NAME        AGE   REQUESTOR                            CONDITION
csr-fmqlf   36m   system:node:k8snode6           Approved,Issued
csr-rc47l   6s    system:node:k8snode6               Pending
</pre

[2019-05-06 09:43] krzysied commented on #77126
![pod_startup_regression_2](https://user-images.githubusercontent.com/25119199/57217382-c3d81d80-6ff2-11e9-8a5e-845ff4e3794d.png)

Currently pod startup latency is below 5s. It looks like #77158 could have fixed the issue. However the PR (#74690) that was reverted was merged 4 runs before regression happened.

[2019-05-06 09:43] tnqn commented on #77496
/sig cli
/assign @tnqn

[2019-05-06 09:47] x13n commented on #77492
Since the version didn't change, my guess is that some component(s) started generating more logs. Did CPU usage increase as well?

[2019-05-06 09:55] mm4tt commented on #77492
I believe it slightly increased, but it's not as visible as the memory increase, see http://perf-dash.k8s.io/#/?jobname=gce-100Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=fluentd-gcp%2Ffluentd-gcp&Resource=CPU

[2019-05-06 10:16] vkatsikaros opened #77499 "Flacky full go build of k8s on Ubuntu 18.04"
**What happened**:

I was following the [main "To start developing Kubernetes" instructions](https://github.com/kubernetes/kubernetes#you-have-a-working-go-environment). I am a go noob so I apologize if I have done something stupid and cause noise.

Consecutive runs of `make` succeed only some times. I have examples of successful and unsuccessful builds. #74876 reports one of the unsuccessful buil

[2019-05-06 10:17] wojtek-t commented on #76579
3 runs with 16 last commits reverted:
[code]

3 runs with 18 last commits reverted:
[code]

3 runs with 17 last commits reverted:
[code]

I'm running tests with last 16 commits reverted one more time, but it seems that the problematic commit might be this one:
https://github.com/kubernetes/kubernetes/pull/76215/commits/a2ec981f67360f5dace19bd3afa3b120da170484
[which is prometheus library dependenc

[2019-05-06 10:22] #71823 closed

[2019-05-06 10:25] x13n commented on #77492
Interesting. Can we rule out backend latency increase somehow? If the mean latency increased, the buffers utilization would follow. Unfortunately, fluentd doesn't expose request latency metrics today, only success/failures: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb

/cc @qingling128 @bmoyles0117

[2019-05-06 10:27] chengxiangwang commented on #77465
@liucimin Thanks, I think querying the cronjob list in the syncAll function after querying the batch job list requires a similar transformation.

[2019-05-06 10:56] pothos opened #77502 "build failure: cli-runtime kustomize pkg wants to import deleted factory code"
This line https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cli-runtime/pkg/kustomize/k8sdeps/factory.go#L24 references deleted code.
See https://github.com/kubernetes/cli-runtime/issues/2

[2019-05-06 11:00] pothos commented on #77502
@kubernetes/sig-cli-bugs

[2019-05-06 11:11] straville commented on #50375
+1

[2019-05-06 11:11] wojtek-t commented on #77451
I took a quick look and this is a test issue.
The problem is that the implementation explicitly assumes there is at most one call to dispatchEvent at a given time.

And this particular test breaks this assumption:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go#L639

The problem is that, a given iteration is finished when

[2019-05-06 11:23] #71836 closed

[2019-05-06 11:23] #71832 closed

[2019-05-06 11:46] loqutus commented on #77499
you probably need more memory, even on 16gb machine i have to add some swap:)

[2019-05-06 12:28] jakubek opened #77505 "tokencleaner not removing expired bootstrap tokens"
**What happened**:
kube-controller-manager with enabled option --controllers=*,tokencleaner is not removing newly created tokens. It works only after kube-controller-manager restart or after editing secret with token.

**What you expected to happen**:
It should remove all expired tokens from kube-system namespace, without restarting or touching secrets.

**How to reproduce it (as minimally and pre

[2019-05-06 12:37] vkatsikaros commented on #77499
@loqutus thanks for the input. Indeed with 16G it works as expected.

[2019-05-06 12:38] #77499 closed

[2019-05-06 12:46] wojtek-t commented on #76579
I did two more runs of it with last 16 commits reverted and the results were:
[code]

Just looking into repeatability of this, I'm leaning towards saying that it's the commit mentioned above.

Given that manual tests are a bit different than those automatic ones (e.g. the env where the test itself is running is workstation) I would suggest the following experiment:
- [temporary] revert that commit

[2019-05-06 12:49] wojtek-t commented on #76670
This is a duplicate of couple other bugs for regressions we have:
https://github.com/kubernetes/kubernetes/issues/75833
https://github.com/kubernetes/kubernetes/issues/76579
https://github.com/kubernetes/kubernetes/issues/77127

[2019-05-06 12:49] wojtek-t commented on #76670
All of them are under investigation or in-resolution.

[2019-05-06 13:01] Tyrion85 commented on #71887
Same issue

k8s: 1.14.1
Docker: 18.09.5
Linux: CentOS Linux release 7.6.1810 (Core)
Linux version 3.10.0-957.10.1.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC) ) #1 SMP Mon Mar 18 15:06:45 UTC 2019
cgroup-driver: systemd

[2019-05-06 13:25] atavakoliyext commented on #69052
@wfernandes [It appears so](https://github.com/kubernetes/client-go/commit/e70639fd33a0e7d16a1f1c82379061ef7aa375b3).

[2019-05-06 13:25] #71839 closed

[2019-05-06 13:35] qiwqwq opened #77508 "support label selector in resource quota scopeSelector"
**What would you like to be added**:
“A quota is matched and consumed only if scopeSelector in the quota spec selects the pod”
ScopeSelector it only support priorityClass, Is it possible to support label selector?
**Why is this needed**:
Different teams can be different namespace, but one team may be have many applications , quota management between different applications is troublesome。If scopeSe

[2019-05-06 13:48] liggitt commented on #77508
the scopes added so far have covered attributes of objects that incur different types of resource consumption (terminating pods, types of services, priority class levels, etc)

pod labels are fully under the control of the actor creating the pods, and can be freely changed without affecting the resources actually consumed by the pod, so they don't seem like a great control for quota to enforce on

[2019-05-06 13:50] liggitt commented on #77502
make sure you are using a level of sigs.k8s.io/kustomize that matches the level of k8s.io/cli-runtime you are using

you can find the referenced level in Godeps/Godeps.json (if using <= 1.14.x) or go.mod (on master if using > 1.14.x)

/close

[2019-05-06 13:50] #77502 closed

[2019-05-06 13:54] cwdsuzhou commented on #77258
You could check if `VolumeAttachment` still exist using `Kubectl get volumeattachment`.
Besides,  you can check if the volume detached successfully in csi driver logs.

[2019-05-06 13:56] vtereso commented on #16448
@renannprado However, if this were of sufficient large size to get into double digits for example, issues were persist unless have properly zero prefixed all files accordingly.

[2019-05-06 13:57] liggitt commented on #28551
export has been deprecated

/close

[2019-05-06 13:57] #28551 closed

[2019-05-06 14:01] ahg-g commented on #77372
Thanks @Huang-Wei and @bsalamat I will make this my priority and try my best to send a PR this week.

[2019-05-06 14:05] krzysied commented on #77080
IIRC The throughput is calculated based of pods becoming observable (returned by watch). My guess is that apiserver or etcd is overloaded during latency pod creation phase. This resulst in watch returning objects in bursts. Therefore the temporary (observed not real) throughput can increase, while the average throughput remains unchanged.

[2019-05-06 14:14] cwdsuzhou commented on #75652
/assign

[2019-05-06 14:14] cwdsuzhou commented on #75652
I would take a look

[2019-05-06 14:14] xigang commented on #60987
We have the same issue happening on:

- k8s v1.9.0
- cephfs
- centos 3.10.0-693.21.1.el7.x86_64
- docker version: 1.13.1

error message:
[code]

[2019-05-06 14:18] krzysied commented on #77080
About the density test regression:
![pod_cluster_list](https://user-images.githubusercontent.com/25119199/57230906-b97d4a00-7019-11e9-8f83-d7e1cc56d5a0.png)
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness&Resource=pods&Scope=cluster&Subresource=&Verb=LIST

![pod_cluster_list_count](https://user-images.githubusercontent.com/25119199/572

[2019-05-06 14:36] krzysied commented on #77080
I looks like the regression is caused by increased time of node controller listing all pods for each nodes.
- Before regression this action took about 17m to be performed. (Time measure between first and last pods list call)
- The first regression (that happened between runs 1117699728771911683 and 1118062113902825476) increased the time to 28m
- The second regression (runs 1119148959034511365 and

[2019-05-06 14:36] gnufied commented on #69507
@NickrenREN my opinion on this has not changed. But lets see what other people think. Also we should get input from sig-instrumentation.

cc @brancz @sjenning

/sig instrumentation

[2019-05-06 14:43] krzysied commented on #77080
It is possible that first regression could have been caused by [mTLS PR](https://github.com/kubernetes/kubernetes/pull/74690). It was introduced  between runs 1117699728771911683 and 1118062113902825476 and reverted between 1121685830616748032 and 1122772971874684928.

[2019-05-06 14:44] cwdsuzhou commented on #77324
@saad-ali could I take it?

[2019-05-06 14:46] krzysied commented on #77126
It looks like the regression was caused by increasing time needed by node-controller to list all pods for each node. This is result of [GCE-5000: density tests are failing](https://github.com/kubernetes/kubernetes/issues/77080).

[2019-05-06 14:55] krzysied commented on #77127
@wenjiaswe It looks like #77158 had impact on gce 5000 performance, even though the cpu usage hasn't changed. I posted update in #77080.

[2019-05-06 14:56] stoader opened #77511 "Azure Public IPs not"
**What happened**:
We deployed two Kubernetes clusters to the same Azure Resource Group. Created services of load balancer type on both clusters. One of the services never received a public IP. Upon investigation, we noticed that the first Kubernetes cluster deleted the Azure Public IP that was created for the service by the other cluster.

Apparently, all public IPs in the resource group are retr

[2019-05-06 15:04] stoader commented on #77511
@kubernetes/sig-azure-bugs

[2019-05-06 15:16] jpbetz commented on #77465
Right, all usages of pager.List need to be reviewed/fixed.

On Mon, May 6, 2019 at 3:27 AM JohnWang <notifications@github.com> wrote:

[2019-05-06 15:25] Stono opened #77512 "Changing `externalTrafficPolicy` on GKE results in short outage"
**What happened**:
Changing a service from externalTrafficPolicy `Local` to `Cluster` resulted in around 3 minutes of downtime for the service.  This was because the `Local` cloud target pools etc got deleted before the new `Cluster` configuration was added.

**What you expected to happen**
Not to have a period where there is no `Local` or `Cluster` backends, and no outage from making this change.

[2019-05-06 15:26] dhanvi commented on #29838
`kubectl get events --sort-by='.lastTimestamp'` is doing the trick for me.

[2019-05-06 15:27] Stono commented on #77512
/sig network
/sig gcp

[2019-05-06 15:34] SleepyBrett commented on #76715
@brancz because of the details of the patch, it's possible that for whatever reason the eviction manager wasn't making the calls to recompute the metric.

[2019-05-06 15:42] andrewsykim commented on #76761
/sig network

[2019-05-06 15:42] andrewsykim commented on #76761
/close

Closing this since I think it's just a matter of setting a higher pod network cidr. Feel free to re-open if you still see the issue after increasing the pod cidr

[2019-05-06 15:42] #76761 closed

[2019-05-06 15:45] mlococo commented on #41394
`maxUnavailablePerUpdateDomain` seems like an odd interface here. Wouldn't one of the common use cases be:

1. A distributed stateful application deployed into 3 failure domains. Let's call them rack1, rack2, and rack3.
2. 5 pods per failure domain.
3. Pods with affinity to nodes based on their physical layout. Maybe rack1 corresponds to availability-zone us-east-1a, rack2 is us-east-1b, and rack3

[2019-05-06 15:46] tedyu commented on #77492
Is it possible to perform some sort of bisecting to narrow the scope of search ?

Thanks

[2019-05-06 15:55] tedyu commented on #77494
Server is 1.13
Do you observe similar slowness if server runs 1.14 ?

Thanks

[2019-05-06 16:22] rohitsardesai83 opened #77515 "Deprecate the `--enable-logs-handler` option for the apiserver"
**What would you like to be added**:
Deprecate the flag which enables exposing logs of apiserver.

**Why is this needed**:
As per https://github.com/kubernetes/kubernetes/issues/77182#issuecomment-487439173, in order to disable accessing apiserver logs in the future, we need to deprecate the current default and wait for the requisite time period.

[2019-05-06 16:26] lavalamp commented on #73421
I agree there is a problem as stated by the OP.

@yue9944882 @aaron-prindle @MikeSpreitzer this is something that may need to be fixed shortly after flow control goes in.

@deads2k alternatively, maybe we can think about configuring this in the APIService object at the same time we put in custom subresources, if/when we do that. Actually now that I think about it, that might solve the problem comp

[2019-05-06 16:26] jpbetz commented on #77465
pager.ForEachItem is simpler

[2019-05-06 16:28] GarbageYard commented on #77494
I have installed it using Rancher Kubernetes Engine [Release v0.1.18](https://github.com/rancher/rke/releases/tag/v0.1.18). Post that, all others are release candidates. I can give it a try but is v1.13 having such issues?

[2019-05-06 16:30] rohitsardesai83 commented on #77515
/sig api-architecture

[2019-05-06 16:37] brancz commented on #69507
I can potentially see a cardinality issue as well, but I generally also think these metrics would quite nice to have.

[2019-05-06 16:38] bgarcial commented on #69590
I had the same error, but it was related with the management of the helm dependencies

My cluster version is 1.12.7, but the error in my case was by the following:

I was trying attach cert-manager as a helm dependency in my requirements.yaml helm chart file and when I do that, I execute `helm dep update` to tell to helm that attach to cert-manager.

Then a `*.tgz` cert-manager package is download

[2019-05-06 16:40] jpbetz commented on #65497
Yes, this is resolved.

[2019-05-06 16:40] #65497 closed

[2019-05-06 16:41] dims commented on #77515
/sig apimachinery

[2019-05-06 16:47] andrewsykim commented on #77197
sgtm! I'll assign you to `test/e2e/framework/node`

[2019-05-06 16:50] liggitt commented on #74372
can you give more details about how this is broken?

[2019-05-06 16:52] gnufied commented on #69507
Okay backing up - as I understand, these metrics for ephemeral volumes could be useful in-case 2MB of allocated storage space for emptydir backed volumes are filled up and users aren't aware? What is the use case we are looking at?

[2019-05-06 16:55] jpbetz commented on #54974
The basic `WithProgressNotify` functionality that periodically sends notifications is available on all of etcd 3.x. We could easily enable that and convert all progress notifications from etcd into bookmarks. There's nothing blocking us doing that immediately now that we have bookmarks.

[2019-05-06 17:12] jpbetz commented on #73497
Reflectors typically list from the watch which does not paginate.

[2019-05-06 17:17] MikeSpreitzer commented on #73421
Yes, I like that last idea.

[2019-05-06 17:51] paulgmiller commented on #76338
We got another repro on friday but in an ingress watch rather than kube-proxy watch. (In both cases the endpoints rot as deployments continue). We have a slight feeling that this has to do with the networking setup for aks clusters to reach their master. We're trying out a EnableSingleIPPerCCP preview flag in aks to see if that helps but may not know for >1 month.
Still think the additional health

[2019-05-06 18:00] tedyu commented on #77505
Do you see the following log ?
[code]
thanks

[2019-05-06 18:00] andrewsykim commented on #76338
cc @khenidak

[2019-05-06 18:08] lavalamp commented on #66688
/reopen
/lifecycle frozen

@jpbetz @liggitt @roycaihw This sounds like something that we might want to change for the v1 api.

[2019-05-06 18:09] #64751 closed

[2019-05-06 18:12] caesarxuchao commented on #52185
/remove-triage unresolved

[2019-05-06 18:12] jingyih commented on #77465
cc @caesarxuchao

[2019-05-06 18:13] jakubek commented on #77505
@tedyu no errors at all

[2019-05-06 18:15] andrewsykim commented on #53451
/remove-triage unresolved

[2019-05-06 18:16] andrewsykim commented on #53451
KEP implemntable for this https://github.com/kubernetes/enhancements/pull/992

[2019-05-06 18:16] qingling128 commented on #77492
Not sure if it's related, but we observed some memory consumption difference between k8s versions < 1.10 and versions >=1.10: https://github.com/fluent/fluentd/issues/2236#issue-391291898. Originally we thought it's triggered by log rotation change in k8s. But it's only a hypothesis that has not been proved.

[2019-05-06 18:16] andrewsykim commented on #65618
/remove-triage unresolved

[2019-05-06 18:16] andrewsykim commented on #65618
/assign

[2019-05-06 18:21] alejandrox1 commented on #77095
I can work on pod @andrewsykim

[2019-05-06 18:21] dparalen commented on #76761
@andrewsykim I've just confirmed all works when the pod network CIDR is 10.244.0.0/16. Is this limitation documented anywhere?
Thanks for help!

[2019-05-06 18:21] liggitt commented on #43214
/remove-triage unresolved

[2019-05-06 18:21] lavalamp commented on #66536
Yeah, I think it is totally reasonable to expect that field to be set for deletes as well as updates.

[2019-05-06 18:22] lavalamp commented on #19018
More commonly referred to as "internal" types nowadays, I think.

[2019-05-06 18:28] liggitt commented on #66536
yes, this is on the list for webhook GA, being fixed in #76346

[2019-05-06 18:33] andrewsykim commented on #65387
I can take this given I've run into this a while back

/assign

[2019-05-06 18:38] andrewsykim commented on #66607
I've started working on a fix for this https://github.com/kubernetes/kubernetes/issues/65387 which I think is related? (please correct me if I'm wrong).

/assign

[2019-05-06 18:46] andrewsykim commented on #76761
If you allocate a `/24` for your entire pod network but you are allocating /24 for each node then the control plane will quickly run out of pod CIDRs (after 1 node). I'm not sure there's documentation for that exact edge case but generally you should allocate a large enough CIDR. Hope that helps :)

[2019-05-06 18:50] pjh commented on #76666
I forgot to update this issue a few weeks ago, but @madhanrm was able to root-cause this issue as an HNS / HCS regression introduced in KB4486553.

@dineshgovindasamy @madhanrm @daschott @craiglpeters can you provide any updates on when the fix for this problem will be publicly available?

Right now we're still running our Kubernetes nodes using Windows VM images that we built in March, before the

[2019-05-06 18:53] pjh commented on #75421
Hi @nagiesek, I know that you were making some progress on this problem last week. Please share any updates you have when you have a chance, and let me know if I can gather any more information. Thanks!

[2019-05-06 18:58] wenjiaswe commented on #77127
Thanks @krzysied!

[2019-05-06 19:00] wenjiaswe commented on #77080
@krzysied, thanks you very much for your analysis. I will look into [mTLS PR](https://github.com/kubernetes/kubernetes/pull/74690) and submit it again after I resolve the performance issue. Thanks!

[2019-05-06 19:01] kvaps commented on #66661
@narun4sk all right, I've just updated haproxy.cfg:

[code]

now it is working fine

[2019-05-06 19:44] lavalamp commented on #73497
/assign @jpbetz

Joe is working on this if it isn't already finished. There is no reason reflectors can't start paginating.

[2019-05-06 19:45] munai-das commented on #62861
I too am facing the same issue on kubernetes 1.13.5 cluster. The issue should be reopened.

[2019-05-06 19:48] lavalamp commented on #73497
OK let's try to make a sensible comment, haha.

Re: OP: the memory usage is high probably not because of the initial list, but because everything is typically cached. A heap trace or whatever shows the allocator of the memory, which will be reflector, but reflector doesn't (shouldn't) keep references to things.

If reflectors are not paginating the initial list, we should definitely turn that on.

[2019-05-06 19:57] johnbelamaric commented on #73497
We slim down the in-memory cache by using our own smaller objects that just
keep the data we need. See
https://github.com/coredns/coredns/tree/master/plugin/kubernetes/object

On Mon, May 6, 2019 at 12:50 PM Daniel Smith <notifications@github.com>
wrote:

[2019-05-06 20:05] danwinship commented on #46625
/remove-triage unresolved
as per the checklist in the initial comment, we are still missing "NetworkPolicyPort with Protocol but not Ports means "any port with that protocol""

[2019-05-06 20:11] liggitt opened #77519 "Apply managedFields conversion only understands served types"
Found by failing TestApplyConvertsManagedFieldsVersion test in https://github.com/kubernetes/kubernetes/pull/70672 (https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/70672/pull-kubernetes-integration/1125470649859444738/)

It seems that conversion depends on schema info that is collected from *served* API versions only. However, managedFields stores data in etcd from REST versions serve

[2019-05-06 20:18] jennybuckley commented on #77519
This may be fixed in a more recent version of structured-merge-diff. I'll look into it

[2019-05-06 20:22] jingyih commented on #70082
As discussed [in another thread](https://github.com/etcd-io/etcd/issues/10610#issuecomment-484975440), the warning message is added in v3.2.23. Between v3.2.18 and v3.2.24, there are no changes related to performance (based on etcd changelogs for each release). Is there an actual performance regression when using etcd v3.2.24 in K8s 1.12?

[2019-05-06 20:32] andrewsykim commented on #65387
@donbowman I was only able to reproduce this when trying to reach the public IP from the host network. Reaching the public IP from inside the pod network is working (as per this [snippet of code](https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/proxy/iptables/proxier.go#L1147-L1159)). It's possible I missed a step in trying to reproduce this but wanted to confirm with you first. Are

[2019-05-06 20:43] jingxu97 opened #77520 "Adding support for windows storage metric"
**What would you like to be added**:
Adding support for measuring volume usage metrics in windows

**Why is this needed**:
Currently, for monitoring storage metric, we have two ways.
1. For local ephemeral storage (emptyDir, secret etc): it uses [metricsDu](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/metrics_du.go) which use "du" command to get the disk usage for the specified

[2019-05-06 20:43] jingxu97 commented on #77520
cc @yujuhong

[2019-05-06 20:55] fejta commented on #77041
No longer seem able to repro this:
[code]

[2019-05-06 21:08] lavalamp commented on #62861
/reopen

I don't think we got a resolution on this, ideally someone who knows the feature can tell us if the documentation is wrong or if there is some other bug.

[2019-05-06 21:16] jennybuckley commented on #77392
/remove-sig api-machinery

[2019-05-06 21:17] donbowman commented on #65387
Hi.

My situation. I have a DNS name (git.MYDOMAIN). It runs on a self-hosted gitlab via nginx-ingress via LoadBalancer in GKE.

Other pods of mine sometimes reference https://git.MYDOMAIN. They may happen to run in the same cluster as git.MYDOMAIN, they may run in a different cluster.

When they run in the same cluster on GKE, they fail if `externalTrafficPolicy: Local` is enabled. Specifically,

[2019-05-06 21:19] jennybuckley commented on #77451
/cc @jpbetz

[2019-05-06 21:21] jennybuckley commented on #77465
/sig apps

[2019-05-06 21:21] jennybuckley commented on #77487
/assign @lavalamp

[2019-05-06 21:25] jennybuckley commented on #77515
/assign @lavalamp

[2019-05-06 21:25] jennybuckley commented on #77519
/assign

[2019-05-06 21:26] andrewsykim commented on #65387
Based on the proxy rules (may be different at this point cause I'm looking at master), I don't think your traffic is even reaching the LB, it's just being dropped by the iptable rules on the host.

My original question was, are the pods trying to reach the same-cluster external IP have `hostNetwork: true`, if yes, can you reproduce on pods not on host network?

[2019-05-06 21:26] BenTheElder commented on #64393
Looks like this was never done for CRI?

[2019-05-06 21:27] BenTheElder commented on #64393
cc @aojea

[2019-05-06 21:29] lavalamp commented on #77487
There is not, but you're not the only one wanting something like this. Current best practice is to use the kube-system UID.

[2019-05-06 21:30] lavalamp commented on #77487
I am pretty sure there was a long email discussion on this on the SIG Architecture mailing list.

[2019-05-06 21:31] lavalamp commented on #77515
I'm in favor of deprecating this. It's potentially disruptive, I think an email blast to kubernetes-dev would be a good idea.

[2019-05-06 21:39] donbowman commented on #65387
I do not have `hostNetwork: true` set.

[2019-05-06 21:42] andrewsykim commented on #65387
Are you still on v1.10?

[2019-05-06 21:47] cjschaef opened #77521 "build/release.sh (hack/lib/golang.sh) requires minimum bash v4.4"
**What happened**:  building Kubernetes release and it failed due to a variable not being set ([with `set -u` enabled](https://github.com/kubernetes/kubernetes/blob/caf9d94d697ce327e0c1c3dee71a1f06a6fc918e/build/release.sh#L25)). It appears a [recent commit](https://github.com/kubernetes/kubernetes/commit/dcee810a3f544cd0669c252945b29bfeedcd119b) does not function as expected on `bash v4.3` (used

[2019-05-06 21:52] cjschaef commented on #77521
Some of the details I mentioned above, modified the `hack/lib/golang.sh` file to output some helpful information
- the diff of changes I made
https://pastebin.com/zrU28PRQ
- the results when running on Ubuntu 16 (bash 4.3)
https://pastebin.com/ph1648Ui
- the results when running on Ubuntu 16 (bash 4.3) without the `readonly` variable attribute (you can now see the variable is a `global` variable,

[2019-05-06 22:04] donbowman commented on #65387
[code]

this is the most recent version on gke afaik.

[2019-05-06 22:09] gdoctor commented on #65991
I can see a very similar thing happening in 1.14.x. I joined a 1.14.x node to a cluster, which completes the TLS bootstrapping process successfully, and stores current, signed certs at /var/lib/kubelet/pki/kubelet-client-current.pem.

I then delete the created /etc/kuberenetes/kubelet.conf, and join the node to a **different** 1.14.x cluster moments later. The kubelet is failing to complete the TL

[2019-05-06 22:22] mtaufen commented on #43932
I don't believe we've made any progress on it. @liggitt can correct me if I'm wrong about that.
Try disabling the insecure ports and see what happens.

[2019-05-06 22:26] andrewsykim commented on #65387
I opened a fix here https://github.com/kubernetes/kubernetes/issues/65387 based on the comments and some testing I did on my GKE cluster. It needs more validation though

[2019-05-06 22:28] andrewsykim commented on #65387
Again, I wasn't able to reproduce this for pods that are within the cluster CIDR. The rule that allows for pods inside the cluster CIDR to still reach pods behind an LB is this:
[code]

Are you able to check a rule like ^ exists on your cluster?

[2019-05-06 22:49] spiffxp commented on #77349
/assign @cblecker

[2019-05-06 23:18] alexmt commented on #59113
This hit me too. Very confusing behavior. It cost 2 man-hours to understand the root cause.

[2019-05-06 23:32] smiklosovic commented on #60161
This is still an issue in Kubernetes 1.14. I am on RHEL and I do have exact same results. It seems like

iptables -t nat -I POSTROUTING -j KUBE-MARK-MASQ

helped but honestly I am admitting I do not know what I am doing at this point.

[2019-05-06 23:33] zhouhaibing089 commented on #73497
Sometime ago, I read this:

That basically means the application needs to have a higher memory limits.

[2019-05-06 23:35] #70962 closed

[2019-05-07 00:07] donbowman commented on #65387
Here's an example, right now (www is hosted on ingress w/ loadbalancer w/ local policy).

Note: this example is from the node (not a pod).

[code]

[2019-05-07 00:12] renannprado commented on #16448
@vtereso if you're afraid of that then just do like this:

[code]

If you're afraid of having hundreds, same logic applies.

[2019-05-07 00:14] donbowman commented on #65387
Here's the full rules:

[code]

[2019-05-07 00:26] draveness opened #77524 "Add QueueSort extension point for the scheduling framework"
**What would you like to be added**:

The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have already added plugin interfaces and extension points for "reserve" and "prebind" plugins. We want to add queue sort extension point for the scheduling framework.

/sig scheduling
/kind feature

[2019-05-07 00:29] draveness commented on #77524
/cc @bsalamat

[2019-05-07 00:48] yujuhong commented on #77416
kube-proxy does not have this problem, but its log configuration is identical to kubelet's.

Configuration from kubelet.log:
[code]

Configuration from kube-proxy.log:
[code]

I manually started the kubelet process in powershell on a windows node, and one thing I noticed is that kubelet did log all the flags at the beginning, but after that, it output EVERYTHING to stdout.
This means that the log

[2019-05-07 01:37] #64021 closed

[2019-05-07 01:40] cheng1li commented on #77251
Thanks for your attention on this issue and fast reply @mattjmcnaughton

[2019-05-07 01:47] mkumatag commented on #77041
@fejta I have also seen in my test environment, I will try reproducing this and let you know how it goes!

[2019-05-07 01:52] msau42 commented on #74650
@jkryl I think we can potentially add that check but we need to make sure first it can work with ephemeral CSI drivers.  Ephemeral drivers would have to "stage" their directories somewhere, like /var/lib/kubelet/plugins/<csi driver>/, and then bind mount it to the publish path.

cc @vladimirvivien @kfox1111

[2019-05-07 01:55] weijinxy commented on #69697
thank you, it work for me

[2019-05-07 01:59] zq-david-wang commented on #77494
My guess is that your metrics server does not work well  and you need to check whether your metrics server is up.  It should be in kube-system namespace

[2019-05-07 02:17] bgrant0607 commented on #75324
Guidance on enum-like fields:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md#backward-compatibility-gotchas
https://github.com/kubernetes/kubernetes/issues/7856

Status fields:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties

Old event guidance:
https://githu

[2019-05-07 02:22] qianzhangxa opened #77527 "No debug info when building Kubernetes source code with `make all GOGCFLAGS="-N -l"`"
**What happened**:
I ran `make all GOGCFLAGS="-N -l"` to build latest Kubernetes source code, and then I see the binaries are still stripped:
[code]

And I can not use dlv to debug the binary:
[code]

In Makefile, I see the following comments:
[code]
But that seems not correct in my build.

**What you expected to happen**:
I expected Kubernetes binaries with debug info.

**How to reproduce it (as

[2019-05-07 02:26] qianzhangxa commented on #77527
/sig release

[2019-05-07 02:26] andrewsykim commented on #65387
^ can you show me the same test from within a pod? I just want to make sure it's reproducible inside a pod before I dig deeper

[2019-05-07 02:28] msau42 commented on #74372
The storage protection feature is supposed to prevent PVCs from being deleted until after Pods are done using them.  It does this by waiting for the Pod object to be completely deleted, which normally is how [kubelet signals](https://github.com/kubernetes/kubernetes/blob/62f5fd4c6c96ed33fb67aca8740ae660548f21df/pkg/kubelet/kubelet_pods.go#L900) that the volume has been unmounted.

In this case, wh

[2019-05-07 02:41] cblecker commented on #75833
Looks like 1.12.5 went out this afternoon. PR open (https://github.com/kubernetes/kubernetes/pull/77528), but expect tests to fail:
- Waiting for the docker hub image to publish. The PR is merged, so this should happen shortly.
- Need a new version of the bazel rules_go to be published.

[2019-05-07 03:12] garfield009 commented on #19018
thanks @lavalamp

[2019-05-07 03:27] msau42 commented on #73772
/remove-lifecycle stale

[2019-05-07 03:54] vllry commented on #71859
/lifecycle hold

[2019-05-07 03:55] vllry commented on #71859
/hold

[2019-05-07 03:57] vllry commented on #71859
Whoops
/hold cancel
/lifecycle frozen

[2019-05-07 03:59] vllry commented on #72547
/lifecycle frozen

[2019-05-07 04:24] thockin commented on #77476
also, I believe MARK-MASQ is co-owned by Kubelet, so it should not be removed

[2019-05-07 04:32] #76393 closed

[2019-05-07 04:32] #77273 closed

[2019-05-07 04:32] #77349 closed

[2019-05-07 05:02] draveness commented on #74689
Could you give more context about how to reproduce it with Deployment?

[2019-05-07 05:30] vllry commented on #71860
/lifecycle frozen

[2019-05-07 05:43] vllry commented on #71860
Are there any current blockers for this issue?

[2019-05-07 05:49] bgrant0607 commented on #75324
1. Test is overly specific and shouldn't be checking the message.

2. Test is overly specific and shouldn't be checking the reason.

3. Test shouldn't be checking for events, or lack thereof.

4. Ditto.

5. Shouldn't be checking an event, and cluster autoscaling shouldn't be covered by conformance, anyway.

6. Shouldn't be checking condition reason or message, or number of conditions. This is test

[2019-05-07 05:53] #77085 closed

[2019-05-07 06:16] draveness commented on #75674
Hi @kitfre, how is this going on? I could take it over if you don't have the time for this issue. :)

[2019-05-07 06:20] k commented on #23581
@sorenmat can this work on bare metal or does it need to be run in an ec2 node? I couldn't figure out how to auth it. In the README it says:

@c-knowles this is interesting...  looks like there is an operator for kubernetes: https://aws.amazon.com/blogs/opensource/aws-service-operator-kubernetes-available/

@r4j4h Thanks! Ambitious and I'm curious to see where it goes.

[2019-05-07 06:23] wojtek-t commented on #73497
Reflectors are listing (by default) from watchcache, and watchcache doesn't support pagination.

But your second comment was actually an important one - I don't think pagination would visibly help, because we are storing all objects in memory anyway (unless you're doing something like @johnbelamaric mentioned for CoreDNS).

Go 1.12 is waaaaaay better in that (and it's used in releases 1.14+)

[2019-05-07 06:28] wojtek-t commented on #76579
The revert has been temporarily merged - we will have the results tomorrow and re-revert if no impact.

However, in the meantime @krzysied found an interesting graph:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadRequestCount&Resource=nodes&Scope=cluster&Subresource=&Verb=POST
It seems that around that time nodes started failing.

I took a quick look

[2019-05-07 06:31] wojtek-t commented on #54974
OK - that would be cool actually.
We should just be careful, to NOT send bookmarks if the feature gate is off.

[2019-05-07 06:34] wojtek-t commented on #75833
Just to clarify the above (from @cblecker :
[code]

[2019-05-07 06:39] kitfre commented on #75674
Yes @draveness please do! I meant to update that I actually wasn't able to pick this up, but it slipped my mind 😨

[2019-05-07 06:42] #62112 closed

[2019-05-07 06:42] #68818 closed

[2019-05-07 06:43] draveness commented on #75674
/assign

[2019-05-07 07:14] GarbageYard commented on #77494
@zq-david-wang : Seems that must have been the issue. When i checked the container log for metric server, i found the following:

`[x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kube-apiserver-requestheader-ca"), x509: certificate signed by unknown authority]`

I cleaned up the nodes and t

[2019-05-07 07:24] #77084 closed

[2019-05-07 07:40] embano1 opened #77535 "Unclear status of dynamic topology-aware volume provisioning with vSphere Cloud Provider"
**What happened**:

On several channels in SIG VMware (Slack, email) users were asking about the status of whether topology-aware volume scheduling (`volumeBindingMode: WaitForFirstConsumer`) with dynamic provisioning is supported with the in-tree vSphere Cloud Provider (VCP). However, according to the [official K8s docs](https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-

[2019-05-07 07:43] #59033 closed

[2019-05-07 07:43] #60315 closed

[2019-05-07 07:43] #62504 closed

[2019-05-07 07:43] #25485 closed

[2019-05-07 07:43] #71078 closed

[2019-05-07 07:46] yoavAqua commented on #77487
@lavalampThanks for the reply :)
I'm sorry but what exactly is the "kube-system UID"?
Also, do you have any thoughts about our workaround? is the machine_id field unique for a single node on all the kubernetes environments (clusters)? couldn't get it from the documentation.

[2019-05-07 07:57] mm4tt commented on #77492
Bisection would be possible, but may be hard due to high variance of the memory consumption (see the first graph). Also we don't really have manpower to do it, we're currently facing few other regressions that have priority over this one.

Any other ideas how to debug this? Is fluentd-gcp exposing any prometheus metrics that might be useful to debug this? Can we compare some fluentd-gcp logs from

[2019-05-07 08:08] wojtek-t commented on #76579
![Screenshot from 2019-05-07 10-05-45](https://user-images.githubusercontent.com/10743879/57283632-e419e200-70af-11e9-9827-c06a07ab2c57.png)

@liggitt - we don't yet know if that's the only reason for regression, but apparently the revert I did helped for this particular metric ^^ And the impact is quite significant...

[2019-05-07 08:28] pnrick commented on #42649
@diemus Thanks! As you suggested, I used updatestatus and it worked like a charm. even on 1.11

[2019-05-07 08:29] XzenTorXz commented on #77258
The `VolumeAttachment` still exists, so i guess i create a ticket by the csi provisioner project.

The only problem I see here is that I see no connection between the `VolumeAttachment`and the `PersistentVolume`. I only can check all the attachment and see if the `PVC `still exists.

[2019-05-07 08:35] nobleXu commented on #60748
Another use case is /dev/pci_xxx for attaching pci devices on host.

When can this issue be solved?

[2019-05-07 09:18] YoubingLi commented on #77527
https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh

kube::golang::build_binaries() {
  # Create a sub-shell so that we don't pollute the outer environment
  (
    # Check for `go` binary and set ${GOPATH}.
    kube::golang::setup_env
    V=2 kube::log::info "Go version: $(go version)"

    local host_platform
    host_platform=$(kube::golang::host_platform)

    local goflags

[2019-05-07 09:31] Natim commented on #47202
A solution is to run a cron every "possible" hour depending on your timezone and skip it if the current time is not the expected one. I wish I could do it at the kubernetes level though.

For DST this means it will run twice a day rather than once and skip the first one or the second one depending on the DST.

[2019-05-07 09:55] mm4tt opened #77538 "Some [sig-network] tests don't work on "private" clusters"
Hello sig-network,

We, sig-scalability, are exploring using "private" clusters (i.e. the ones where nodes don't have public IPs) for our large (up to 5K nodes) scalability tests to avoid consuming expensive public IPs. More details in https://github.com/kubernetes/kubernetes/issues/76374

With a few minor modifications we managed to get an almost passing correctness test suite on a private cluste

[2019-05-07 09:57] GarbageYard commented on #77494
I performed the [following steps](https://github.com/rancher/rancher/issues/20027#issuecomment-490014906) and after this, i noticed that `kubectl` command is running without any lag.

[2019-05-07 09:57] mm4tt commented on #77538
@kubernetes/sig-network-bugs, please triage
/sig network

[2019-05-07 09:58] #77494 closed

[2019-05-07 10:16] YoubingLi commented on #77527
It is the problem of "-ldflags -s -w" and I will provide a PR ASAP.

/cc @YoubingLi

[2019-05-07 10:44] brancz commented on #69507
Or for capacity planning purposes.

[2019-05-07 11:12] sorenmat commented on #23581
@k Just to understand your use-case. You are running Kubernetes on bare metal, and need to provision AWS RDS databases?

[2019-05-07 11:20] Timoses commented on #71162
This is a it of a different scenario: It would be great if multiple oidc-issuer URLs (iss) were supported.

Scenario: In our case the IdP (issuer) can be reached over different domain names corresponding to different networks. Currently, it seems not possible to allow authentication via both networks (using different domains) as only one domain can be passed to `kube-apiserver --oidc-issuer-url`.

[2019-05-07 11:23] nikhita commented on #77521
I guess https://github.com/kubernetes/kubernetes/pull/77362 fixes this problem.

cc @cblecker

[2019-05-07 11:28] donbowman commented on #65387
Interestingly its working in a Pod on this cluster now. (?!) I guess some previous upgrade of k8s on gke has altered it?

on `node-a` cannot reach
on `pod` on `node-a` can reach.

hmmm.

[2019-05-07 11:46] krzysied commented on #76579
Regarding OOM, it looks like this was caused by increased logging in kube-proxy. https://github.com/kubernetes/kubernetes/pull/77541 will revert the change to verify this assumption.

[2019-05-07 12:21] mgdevstack commented on #77192
Observed this error in #77543.

Kubectl Version:
[code]

Kind Version:
[code]

Docker Version:
[code]

[2019-05-07 12:24] realAndyLuo commented on #64926
/reopen

[2019-05-07 12:26] realAndyLuo commented on #64926
@omadawn have you by any chance found the cause and solution? I have been experiencing similar issues

[2019-05-07 12:27] mysunshine92 opened #77544 "When restartPolicy is never and sandbox is exited,we should set pod phase is Failed"
**What happened**:
For pod's restartPolicy is never, first time there is no sandbox for a pod, kubelet will create a new sandbox for this pod.but for same reason(maybe network is notReady, so it can not set up network for this sandbox, kubelet will stop this sandbox), the sangbox status is notReady, then the next time kubelet will not create a new  sandbox,but the pod's phase is pending

**What yo

[2019-05-07 12:28] mysunshine92 commented on #77544
/sig node

[2019-05-07 12:35] dims commented on #77527
@YoubingLi @qianzhangxa please set `GOLDFLAGS` to an empty string and see if that helps

https://github.com/kubernetes/kubernetes/commit/7e01702a8827529b48f131ca287cf498391ff88b

[2019-05-07 12:42] dims commented on #77487
@yoavAqua i think it's this thread https://groups.google.com/d/msg/kubernetes-sig-architecture/mVGobfD4TpY/nkdbkX1iBwAJ

[2019-05-07 12:45] mattjmcnaughton commented on #77544
Thanks for opening discussion on this @mysunshine92 !

Could you start by adding clarification on what the current state is and adding an example to reproduce that current state?

Could you also share more about why you think this change would be a good idea? Thanks!

[2019-05-07 12:48] dims commented on #75833
Yea, it takes some time for the images to get published.

[2019-05-07 12:49] huanziye commented on #68447
same problem,how to solve it

[2019-05-07 12:53] mattjmcnaughton commented on #77488
Thanks for this idea @globervinodhn :)

I defer to the @kubernetes/sig-scheduling-feature-requests folks, but I imagine this could live in [test/e2e/scheduling/predicates.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduling/predicates.go#L386). The linked diff shows a similar test that you could either extend or use as a starting point.

Were you hoping to implement this? I

[2019-05-07 13:05] stanislavkozlovski commented on #77316
I think this would work, thanks for the idea!

Essentially, I'd like a one-off command to trigger this behavior. That would be more convenient and flexible than having a controller which does it automatically. You may not always want the stickiness that the controller gives you

[2019-05-07 13:17] #72394 closed

[2019-05-07 13:19] jsafrane commented on #57923
There should be a way how to provide e.g. ssh key as `0600`.

IMO, if user specifies `Mode` or `DefaultMode`, we should honor it and not to overwrite it during `fsGroup`. I know that `Mode` description mentions `"This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."`, I know it may break existing apps, but why user wrote `

[2019-05-07 13:28] liggitt commented on #76579
if a few more runs demonstrate the lower stats are stable, I'd like to bump to https://github.com/beorn7/perks/commit/4c0e84591b9aa9e6dcfdf3e020114cd81f89d5f9 (which has the bugfix for off-by-one stats on unflushed data, but not the map-to-slice translation).

If the stats go back up with that change only, that means:
* we're trying to gather meaningful stats from small sample sizes
* the math.Cei

[2019-05-07 13:31] liggitt commented on #76579
the fact that the 50% bucket with https://github.com/beorn7/perks/commit/4c0e84591b9aa9e6dcfdf3e020114cd81f89d5f9 perfectly aligns with the 90% bucket without that fix strongly indicates we were benefiting from the off-by-one error

[2019-05-07 13:32] wojtek-t commented on #76579
Yeah - that sounds reasonable. Let's wait one more day and bump it (we should have next run in finished in couple hours and after the next one will be triggered, we can bump - so tomorrow or today evening PST maybe?)

[2019-05-07 13:49] #71800 closed

[2019-05-07 13:50] YoubingLi commented on #77527
@dims
    Yes, this is my fix solution (Remove '-s -w' from goldflags).
    Meanwhile, I had verified that it works.

[2019-05-07 14:04] derWeihnachtsmann commented on #73049
Is there a explanation why this is working? As a Kubernetes-Beginner, I like this to know..

[2019-05-07 14:28] kangarlou opened #77546 "Enabling the unsafe net.ipv4.route.min_pmtu sysctl"
**What happened**:
Following the example in https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/#setting-sysctls-for-a-pod, I created a pod with 3 sysctls specified in the pod's security context. Setting the `net.ipv4.route.min_pmtu` sysctl resulted in the pod failing to start.

**What you expected to happen**:
I expected the pod to start with no issues. If there is something missin

[2019-05-07 14:32] kangarlou commented on #77546
/sig node

[2019-05-07 14:35] bgrant0607 commented on #77305
@dims Could you please remind me why klog is in SIG Architecture rather than SIG Instrumentation?

I added area/logging and sig/instrumentation.

[2019-05-07 14:37] bgrant0607 commented on #70496
/remove-sig architecture

[2019-05-07 14:38] bgrant0607 commented on #70496
/remove-sig scheduling
/sig apps

[2019-05-07 14:38] cjschaef commented on #77521
I don't think the `mapfile` is/was the only issue here. It was obviously `readonly` as I was testing with `KUBE_FASTBUILD=true`, so only `readonly` variables were being used and not scoped outside the function (in bash 4.3).
https://github.com/kubernetes/kubernetes/blob/eaafa5952f8073f51b13dbeafe406019995c8c0b/hack/lib/golang.sh#L204-L220

[2019-05-07 14:38] neolit123 commented on #77472
your etcd peer/server certificates seem valid as per the log above.
but i'm not sure why you are failing the etcd health check.

what happens if you enable `--v=4` on `join`.

in the case it works one should see something like:
[code]

[2019-05-07 14:44] bgrant0607 commented on #70496
Defer containers proposal: https://github.com/kubernetes/community/pull/483
Note there are a number of cases where defer containers could not be guaranteed to execute (e.g., preemption, OOM, disk full, other resource contention).

Comment on our current hooks generally: https://github.com/kubernetes/community/pull/1171#issuecomment-415503318

cc @kow3ns

[2019-05-07 14:52] neolit123 commented on #77305
the sponsor SIG was sig-arch:
https://github.com/kubernetes/org/issues/195#issuecomment-435507351

but should be sig-instrumentation, indeed.

[2019-05-07 14:52] vladimirvivien opened #77547 "Client-go fake dynamic client forces initialization with an empty slice of objects"
**What happened**:
When initializing client-go fake dynamic client, it requires an empty slice of objects or causes a panic:

[code]

**What you expected to happen**:
The following not to panic

[code]

**How to reproduce it (as minimally and precisely as possible)**:
Use the fake dynamic client in client-go without a list of initial objects (or nil)
[code]

[2019-05-07 14:54] Xaelias commented on #77472
With v4:
[code]
I think the pb is that kubelet doesn't get configured properly.
[code]
[code]

But also...
I ran `kubeadm reset` by mistake on one of the other two nodes.
I `ctrl+c`ed it before it finished, and it's mostly still up, but I think it's in a weird state. (that was after my initial post)
For instance it's not in the list of etcd nodes it's trying to reach out to...
I'm hoping I can get

[2019-05-07 15:02] neolit123 commented on #77472
that's probably it.
i would `kubeadm reset -f` all CP notes except the primary CP node and try re-joining the CP nodes again.

[2019-05-07 15:10] cwdsuzhou commented on #75652
@yittg  I  tested  it on k8s 1.14,  but did not found the issue you mentioned.

[2019-05-07 15:14] dparalen commented on #76761
@andrewsykim I see, that exactly matches what actually happens. There doesn't seem to be any [kubeadm CLI option](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#options) to change the node mask size; is `/24` a hard-coded constant in kubeadm?

IMO small device clusters (like mine vintage 4-node deployment) would be fine with just 64 pod IPs per node. On the other hand, more

[2019-05-07 15:15] bclau commented on #73489
Just an FYI, the image ``resouce-consumer/controller`` has officially been renamed to ``resource-consumer-controller``. This image has also been pushed to the ``e2eteam`` registry. We can proceed on this issue.

https://github.com/kubernetes/kubernetes/pull/75115

[2019-05-07 15:15] #75091 closed

[2019-05-07 15:16] dims commented on #77305
@bgrant0607 @neolit123 +1 to moving it. I'll start the process

[2019-05-07 15:22] bgrant0607 commented on #77135
I worry about creating resource instances in "limbo" state such that they can't be fixed, as with Allocs in Borgmaster.

The Service LB cleanup process sounds unsound. Changing the type and then immediately deleting would cause the same problem, no?

Why not create a finalizer specific to the types of resources being cleaned up? Or actually enumerate the resources somewhere? Or create a separate C

[2019-05-07 15:23] neolit123 commented on #77472
if only a specific CP node is not joining, try spawning a new machine (e.g. VM).

[2019-05-07 15:25] mysunshine92 commented on #77544
thanks for your comments. now that sandbox is exited, and kubelet will never create a new sandbox, if set the phase is pending, it will be confused.

[2019-05-07 15:26] thockin commented on #77135
Finalizer is what is happening now (for Service), but as I explored the
semantics, I found this topic and I thought it was worth discussing to see
if there was a larger impact.

On Tue, May 7, 2019 at 8:23 AM Brian Grant <notifications@github.com> wrote:

[2019-05-07 15:30] bgrant0607 commented on #72166
/remove-lifecycle rotten

[2019-05-07 15:32] bgrant0607 commented on #70249
/remove-sig architecture

[2019-05-07 15:38] mm4tt opened #77551 "Large tests (>500 nodes) fail on cluster set-up"
**Which jobs are failing**: sig-scalability-gce/gce-scale-performance

**Which test(s) are failing**: Up

**Since when has it been failing**: since today

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance

**Reason for failure**: Set-up scripts report only 500 nodes to be up, even though we see in api-server more nodes that registered

[2019-05-07 15:39] mm4tt commented on #77551
/sig scalability
/assign

[2019-05-07 15:39] bgrant0607 commented on #69896
/remove-sig architecture cli
/sig release

Does anyone even still use hyperkube?

Wouldn't they use kubeadm or k3s instead?

[2019-05-07 15:40] mm4tt commented on #77551
Looks like the pagination (controlled via --chunk-size) was enabled in kubectl. The default is 500 rows, which explains the behavior we see in the failing tests.
I wasn't able to find the culprit CL, but found an easy fix. Will send a PR shortly

[2019-05-07 15:42] bgrant0607 commented on #69640
/remove-sig architecture node

AFAIK, there is no plan to move the built-in PodPreset beyond alpha. If it is still needed, it would probably be implemented using CRD and admission webhooks.

[2019-05-07 15:44] bgrant0607 commented on #68357
Shouldn't this just be a KEP?

[2019-05-07 15:45] bgrant0607 commented on #68231
/remove-lifecycle rotten
/area code-organization

[2019-05-07 15:49] bgrant0607 commented on #66859
/area conformance

[2019-05-07 15:51] bgrant0607 commented on #48209
@seans3 Has this been resolved by moving kubectl into staging?

[2019-05-07 15:53] bgrant0607 commented on #24343
/area code-organization

This specific issue is no longer useful, so closing.
/close

[2019-05-07 15:53] #24343 closed

[2019-05-07 15:55] donbowman commented on #65387
ok w/o the node being able to reach this i'm still blocked (since my container registry might run there, and thus kubelet cannot reach, so my gitlab CI pipeline cannot reach).
but, i guess, now the pods w/o hostnetwork can, so some progress

[2019-05-07 15:59] andrewsykim commented on #65387
Thanks for checking @donbowman! https://github.com/kubernetes/kubernetes/issues/65387 should fix the internal reachability issue from the host. Though it requires SNAT.

[2019-05-07 16:01] brahmaroutu commented on #71627
/reopen

[2019-05-07 16:06] lavalamp commented on #73497
Good point about the watchcache. But, I still think we should at least experiment with paginated lists rather than lists that use the watchcache, have we?

[2019-05-07 16:11] neolit123 commented on #69896
AFAIK, SAP (the company) still use hyperkube.

[2019-05-07 16:18] rohitsardesai83 commented on #77515
Thanks @lavalamp , I have  posted in kubernetes-dev mailing list.

[2019-05-07 16:24] andrewsykim commented on #66607
I have a potential fix for this here https://github.com/kubernetes/kubernetes/pull/77523. The caveat is that internal traffic will have to go through SNAT but this is okay since source IP preservation only applies for external traffic anyways. Patch needs more validation/testing.

[2019-05-07 16:34] guillelb commented on #74689
The same behavior on K8S v1.13.3. Why K8S doesn't reschedule in other node? The Pod in the down node is Terminating forever.

[2019-05-07 16:37] wojtek-t commented on #73497
We did in the past, but it was at the beginning of pagination feature (like 2-ish years ago?)
I agree we should probably try again.

[2019-05-07 16:43] michmike commented on #76077
/assign @bclau

[2019-05-07 16:45] michmike commented on #75263
@benmoss please indicate the KB that fixed this

[2019-05-07 16:47] michmike commented on #75263
/assign @PatrickLang

[2019-05-07 16:50] michmike commented on #74991
/assign @PatrickLang

[2019-05-07 16:52] dineshgovindasamy commented on #75197
@benmoss can you please share the KB Details here? I will be able to update the public release date once i know the KB.

[2019-05-07 16:53] jingxu97 commented on #57923
Just noticed another issue https://github.com/kubernetes/kubernetes/issues/34982, maybe also relevant

[2019-05-07 17:00] michmike commented on #75319
@ksubrmnn will work with her team to identify an owner that will create a proposal
requirements
* pick a logging framework, with ETW tracing being a likely candidate
* provide options for default logging through running kubelet as a process or through a service manager
* provide guidance to convert ETW tracing to a file

[2019-05-07 17:42] bowei commented on #31364
/remove-triage unresolved

[2019-05-07 17:42] jennybuckley commented on #77519
At one point we were using the types registered to the scheme to generate the openAPI definitions used by apply, but we switched to using the installed endpoints instead, because it was less invasive (We needed to expose which types are convertible to which other types, and also a way to skip generating openAPI for internal types). We might want to revisit the first approach, given this use case.

[2019-05-07 17:50] thockin commented on #73049
The service says to forward port 3050 on the service VIP(s) to port 3000 on the backends.  The pods are listen()ing on port 3000, so they respond.  The fact that the pod does not expose 3000 in YAML is not relevant -- that declaration is advisory.

If I had a time machine I might consider changing the semantics to be more locked-down wrt pod ports, but it's not an easy thing to change and stay com

[2019-05-07 17:52] adampl commented on #66560
Please someone refresh the lifecycle...

[2019-05-07 17:54] adampl commented on #16448
That doesn't look like a proper solution ;)

[2019-05-07 17:57] benmoss commented on #75197
KB900259 is the KB I was given

[2019-05-07 17:58] benmoss commented on #75263
KB900259 is the KB that seems to have fixed this

[2019-05-07 18:12] mansinahar commented on #77212
@030 I came across the same issue as you today on a different Go project and just wanted to share that the behavior you saw was because, some of Go's core packages have `.c` files. For example: https://github.com/golang/sys/blob/master/cpu/cpu_gccgo.c. Since the [Kubernetes](https://github.com/kubernetes/kubernetes) project commits the [vendor](https://github.com/kubernetes/kubernetes/tree/master/

[2019-05-07 18:25] vtereso commented on #16448
This is what I was inferring by the zero prefix, which is a less than optimal solution as mentioned by @adampl, but I suppose it's ok.

[2019-05-07 18:35] brancz commented on #64730
/remove-lifecycle rotten

[2019-05-07 18:36] doubleyewdee commented on #73235
Use case is for folks who know what they've called their public IP resource but don't know what IP is assigned. It's a low-pri item. Will bump this and see if I can get to making a patch for a new annotation. If it goes stale again I will close and admit defeat. :)

[2019-05-07 18:55] andrewsykim commented on #77265
/remove-triage unresolved

[2019-05-07 19:08] ddebroy commented on #77102
We were missing the translation step during deletion causing external provisioner to reject the Delete request due to absence of `volume.Spec.CSI`. Fixed in https://github.com/kubernetes-csi/external-provisioner/pull/273/files

[2019-05-07 19:22] bgrant0607 commented on #16448
cc @pwittrock @seans3

[2019-05-07 19:28] g0lg0th7 commented on #72468
I have the same issue

[2019-05-07 19:32] rcernich commented on #69697
Looking at the error, I suspect this is related to #73098.  During namespace deletion, it appears the deletionTimestamp on leftover resources is continually updated, causing conflict errors when the controller tries to remove its finalizer.  Looks like the fix for this problem is in 1.14+

[2019-05-07 19:35] omadawn commented on #64926
I haven't measured it in a while. We've upgraded several times since this was opened and I haven't heard any of my customers complaining of it.

[2019-05-07 19:45] bgrant0607 commented on #74405
Other refs:
#32837

cc @kow3ns

It looks like it was decided at some point (https://github.com/kubernetes/kubernetes/pull/35342) to leave broken pods/containers on nodes in a "waiting" state to avoid controller hot loops. This is a problem for clients to figure out that something is wrong and what to do about it:
https://github.com/kubernetes/kubernetes/pull/74979#discussion_r263207428

[2019-05-07 19:46] bgrant0607 commented on #74405
Another ref: #76370

[2019-05-07 19:46] bgrant0607 commented on #76370
/sig apps

Ref #74405

[2019-05-07 19:49] prameshj commented on #66651
@Tatsu-Kishi Can you look at kubelet logs and see if there is any error message with conntrack binary not installed/cannot be downloaded?

[2019-05-07 19:51] prameshj commented on #68321
Thanks @saidmasoud, looks like this was a client-side error then. Closing this one, please reopen if this is something on the clusterDNS side.
/close

[2019-05-07 19:51] #68321 closed

[2019-05-07 19:51] shankar-bala opened #77557 "AWS not updating security group for loadBalancerSourceRanges"
Updating "loadBalancerSourceRanges" in the kubernetes service definition doesnt update the AWS security group

AWS security group must be in sync when we update the service definitions.

Create service.yaml file
kind: Service
apiVersion: v1
metadata:
  name: proxy-service-external
    namespace: test
  labels:
    app: test
    component: proxy
spec:
  selector:
    app: test
    component: proxy

[2019-05-07 19:54] shankar-bala commented on #77557
@kubernetes/sig-aws-misc

[2019-05-07 19:54] bgrant0607 commented on #76370
Node drains should use /evict and PodDisruptionBudget

[2019-05-07 19:57] timothysc commented on #66875
/assign @johnbelamaric

[2019-05-07 20:00] liggitt commented on #76370
that's correct, and they do. we'd just want to ensure the pod deletions resulting from draining a node wouldn't trigger a controller backoff

[2019-05-07 20:40] alenkacz commented on #77392
@fejta  fixed it. Thank you! See https://github.com/kubernetes/kubernetes/pull/77441#issuecomment-489791579

[2019-05-07 20:40] #77392 closed

[2019-05-07 21:13] costela commented on #16448
This might not be a solution to this exact issue, but [kubectl's new `-k` mode](https://kubernetes.io/blog/2019/03/25/kubernetes-1-14-release-announcement/), based on [kustomize](https://github.com/kubernetes-sigs/kustomize), **does** reorder resources.

Even if you're not interested in kustomize's other features, as long as you can upgrade your kubectl, you should be able to work around this limi

[2019-05-07 21:18] dannyk81 commented on #66103
ping @thockin :pray:

[2019-05-07 21:25] brahmaroutu commented on #73426
/remove-lifecycle stale

[2019-05-07 21:36] timothysc commented on #75324
I'm going to PR the main doc with a distillation of this and close this issue.

[2019-05-07 21:38] dims commented on #77305
cc @mtaufen

[2019-05-07 21:47] jaysonwor commented on #75839
A little off topic but wondering if someone could help guide me on how to access this endpoint? I've tried both k8s 1.13 and 1.14 and cannot access metrics/probes (i can only hit /metrics) via the api server http endpoint. Is it exposed somewhere else, or is it a flag I have to enable?

[2019-05-07 21:56] #70543 closed

[2019-05-07 22:02] mtaufen commented on #77416
Likely fix: https://github.com/kubernetes/kubernetes/pull/77562

[2019-05-07 22:14] benmoss commented on #73489
The horizontal pod autoscaler tests from https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling/horizontal_pod_autoscaling.go now pass against my cluster! We can add them to our various e2e runs and then mark this as closed

[2019-05-07 22:25] whereisaaron commented on #66607
Thank you for your work @andrewsykim! A example use case for your patch is `cert-manager` which accesses the external load balancer to verify the ACME HTTP01 auth file. There has been an [open `cert-manager` issue](
https://github.com/jetstack/cert-manager/issues/466) for over a year, as we had no idea why `cert-manager` was broken for just some users. It looks like this behavior was the culprit!

[2019-05-07 22:45] cblecker commented on #75833
[code]

Looks like new images are live.

[2019-05-07 22:50] davidz627 commented on #77102
Resolved by https://github.com/kubernetes-csi/external-provisioner/pull/273

[2019-05-07 22:50] #77102 closed

[2019-05-07 22:54] #76747 closed

[2019-05-07 23:09] bsalamat opened #77565 "Add Queue Sort extension point to the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and extension points for "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps/sig-schedu

[2019-05-07 23:24] imkin commented on #75930
/close

I am good with the changes already done. The https://github.com/kubernetes/kubernetes/pull/76299 fix would be part of 1.15 and https://github.com/kubernetes/kubernetes/pull/77367 would be cherry-pickable for 1.14.
https://github.com/kubernetes/kubernetes/pull/77375 would fix 1.13 and 1.12 is on it way out soon.

[2019-05-07 23:24] #75930 closed

[2019-05-07 23:25] imkin commented on #75780
I can take a look.

/assign

[2019-05-07 23:27] imkin commented on #75780
The latest version is 1.11.10
@liggit should we should jump to that?
https://golang.org/doc/devel/release.html#go1.11

[2019-05-07 23:27] bsalamat opened #77566 "Add Post-bind extension point to the scheduling framework"
**What would you like to be added**:
The [scheduling framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) is now implementable. We have [already added](https://github.com/kubernetes/kubernetes/pull/75848) plugin interfaces and extension points for "[reserve](https://github.com/kubernetes/enhancements/blob/master/keps/sig-schedu

[2019-05-07 23:29] bsalamat commented on #77565
This is a duplicate of #77524. Closing it.

[2019-05-07 23:29] #77565 closed

[2019-05-07 23:53] wgliang commented on #77566
I'd like to take this :)

[2019-05-08 00:06] bsalamat commented on #77566
Yours! Thanks, Leon!

[2019-05-08 00:14] imkin commented on #75780
Go 1.11.10 has this windows security fix.
https://github.com/golang/go/issues/30642

What is this upgrade solving?
What is our patch policy to upgrade dependecies like this?
- Do we need to prove clear impact on the project for such dependency upgrades?

https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/patch-release-manager

[2019-05-08 00:41] feiskyer commented on #73235
@doubleyewdee thanks, feel free to open a PR for it.

[2019-05-08 00:41] feiskyer commented on #73235
/remove-lifecycle stale

[2019-05-08 00:49] dwbrown2 opened #77570 "Unexpectedly large results from kubelet_volume_stats_used_bytes"
**What happened**:

We're trying to measure persistent volume utilization and Prometheus is currently reporting `kubelet_volume_stats_used_bytes` that is 20x+ the size of the corresponding persistent volume claim. It's happening in two persistent volumes that are both glusterfs -- they're not the only gluster volumes in this cluster, but they are the only ones that are PV+PVC volumes. The underlyi

[2019-05-08 00:52] #77288 closed

[2019-05-08 00:53] #77519 closed

[2019-05-08 00:54] dwbrown2 commented on #77570
@kubernetes/sig-storage-bugs -- apologies if I'm reporting this in the wrong place.