[2018-11-26 17:09] gnufied opened #71425 "Volume detach while mount e2e is flaking"
The newly introduced e2e which checks for detach while mount is in progress is flaking:

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/32313

/sig storage
/assign

[2018-11-26 17:13] jsafrane commented on #71424
Yeah, InstallCSIDriver runs in parallel with UninstallCSIDriver. UninstallCSIDriver updates the node while InstallCSIDriver is getting the current value. In most cases, InstallCSIDriver gets the old value (still with annotations) and does not update the node. Some locks are missing there.

But even with the locks it will be racy. We must make sure that UninstallCSIDriver grabs the lock before Inst

[2018-11-26 17:20] kfox1111 commented on #69195
I guess to prevent a future regression, we probably need a test that inserts a localhost.example.com <some other address> record somewhere during the test.

[2018-11-26 17:26] jberkus opened #71426 "Failing Test: [sig-storage] Detaching volumes should not work when mount is in progress"
**Which jobs are failing**: gce-cos-master-default, several others

**Which test(s) are failing**: Failing Test: [sig-storage] Detaching volumes should not work when mount is in progress

**Since when has it been failing**: 11/23

**Testgrid link**:  https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-default

**Reason for failure**:

See Triage: https://storage.googleapis.

[2018-11-26 17:28] ncdc opened #71427 "run_crd_tests is flakey"
**Which jobs are failing**: ci-kubernetes-integration-master, pull-kubernetes-integration

**Which test(s) are failing**: run_crd_tests

**Since when has it been failing**: earliest I have found is November 16, 2018

**Testgrid link**:
- https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-integration-master/6691
- https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/71

[2018-11-26 17:30] nikopen commented on #71427
/sig api-machinery

@jberkus @mariantalla

[2018-11-26 17:33] ncdc commented on #71427
cc @deads2k @sttts in case anything here rings a bell

[2018-11-26 17:34] jberkus commented on #71427
Linking to #70180, which is the general integration test flake issue.

[2018-11-26 17:36] saad-ali commented on #71424
We should see if we can handle this at the `plugin_watcher` layer so that it works for everyone.

We could use [goroutinemap](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/goroutinemap/goroutinemap.go) where key is the CSI driver name to ensure that two operations are not started in parallel for the same driver. But that's not the hard part, like you mentioned, the tricky part is e

[2018-11-26 17:36] nikopen commented on #71425
tracked under https://github.com/kubernetes/kubernetes/issues/71426

/close

[2018-11-26 17:36] #71425 closed

[2018-11-26 17:37] nikopen commented on #71426
/assign @gnufied

[2018-11-26 17:37] Freyert commented on #28962
Reading from https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/870#issuecomment-416883355 the new solution is:

[2018-11-26 17:37] lavalamp commented on #27114
@yra-wtag:

This is a bug report about your pod's liveness check, it is failing to express liveness as defined by Kubernetes. Your liveness check should **not** be passing if your pod is deadlocked.

It is possible that your pod, once it goes ready, will never ever go unready--and if it does, it should be restarted--but that is not true for all pods. So, if you want this behavior, build it into yo

[2018-11-26 17:38] gnufied commented on #71426
Looking into it.

[2018-11-26 17:38] lavalamp commented on #27114
@matthyx I'd certainly look at an API change PR!

[2018-11-26 17:43] lavalamp commented on #60914
/reopen
/lifecycle frozen

I still think we should have a discussion before doing anything that would encourage people to make really slow webhooks, esp mutating ones which run in serial. Add a few 30s webhooks to the system and you have a terrible user experience. Slow stuff should be done by controllers IMO. Webhooks should ideally execute in milliseconds.

[2018-11-26 17:49] Ramyak commented on #71327
Problem 1:

`Max pods per node` : It does not matter if the denominator is all nodes or current nodes. One with higher utilization will still end up with a lower score.
`Max pods per zone` : It is critical that the denominator is all nodes. Else we are ending up with highly imbalanced cluster.

Problem 2:

Here is an example list of selectors.
[code]

All pods matching any one service selector are

[2018-11-26 17:56] deads2k commented on #71427
@mbohlool I don't know that it's related, but https://github.com/kubernetes/kubernetes/pull/67006 landed in the past couple weeks.  I don't know of other significant CRD work.

[2018-11-26 17:56] lavalamp commented on #29838
/lifecycle frozen

[2018-11-26 18:11] gturetsky commented on #49466
Agreed - I think this would be a great/useful feature.

[2018-11-26 18:15] mariantalla opened #71430 "vSphere conformance tests are flaky"
**Which jobs are failing**:
- [sig-release-master-blocking#Conformance - vSphere-cloud-provider](https://k8s-testgrid.appspot.com/sig-release-master-blocking#Conformance%20-%20vSphere-cloud-provider) -- failed and not run since 2018-11-20
- [sig-release-master-blocking#Conformance - vSphere](https://k8s-testgrid.appspot.com/sig-release-master-blocking#Conformance%20-%20vSphere) -- failures over 20

[2018-11-26 18:16] mariantalla commented on #71430
Assigning `priority/important-soon` as conformance tests for specific providers are non-blocking.

/priority important-soon

[2018-11-26 18:19] mariantalla commented on #71430
/remove kind/failing-test
/kind flake

[2018-11-26 18:29] libesz commented on #71421
I see. Thanks. We might indicate this behavior and the reason for that in the docs if the controller-manager.

[2018-11-26 18:33] AishSundar commented on #71383
/priority critical-urgent
/remove-priority important-soon
/milestone v1.13

[2018-11-26 18:34] AishSundar commented on #71401
@krzyzacy is there anything more we need to do here to restart the soak job?

[2018-11-26 18:37] krzyzacy commented on #71401
@AishSundar the latest run (https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-beta/498) is currently running, let's wait for that to finish.

[2018-11-26 18:45] EvilCreamsicle commented on #53533
I think the issue this fails to address is that the upper limit is variable and not always known for some processes. The issue I am dealing with specifically focuses on using k8s to manage 3d model renderer nodes. Depending on the assets for the model and scene being rendered, the amount of ram required can vary quite a bit, and while most renders will be small, the fact that _some_ can be huge me

[2018-11-26 18:50] gyuho commented on #66785
@jpbetz

We already do that way, if I understand it correctly. Mark `"scheduledCompactRev"` in mvcc and schedule the actual compaction in the background but still requires the single writer lock in bolt DB.

Currently, we batch compaction by 10000 entries. And bolt DB only allows a single write transaction, so not sure how concurrent write to mvcc would help :)

[2018-11-26 19:09] msau42 commented on #71383
@mkimuram while we should update the test with your PR, I'm not sure if it's going to fix the failure.  Looking at one failing test log, these are the events I see on the failing pod:

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new-parallel/400
[code]

So it seems to be failing before even reaching the subpath logic.

[2018-11-26 19:15] nevola commented on #62720
Hi everybody, we've recently released nftlb 0.3 with the following new features:

- Stateless NAT support from ingress
- Automated DSR configuration from layer 3
- Flow mark per service and per backend
- Logging support per virtual service
- L7 helpers support
- Support of custom source IP instead of masquerading

Currently, kube-nftlb is able to manage the minimal options to create a working scal

[2018-11-26 19:33] DirectXMan12 commented on #28603
please file new issues or ask on slack or stackoverflow if you have a question, rather than resurrecting old issues.  To answer your question: no, HPA will not scale from zero to nonzero (see the referenced issues).

[2018-11-26 19:37] DirectXMan12 commented on #66848
/remove-sig scalability
/sig autoscaling

/close
(as per the merging of @jbartosik's PR)

[2018-11-26 19:37] #66848 closed

[2018-11-26 19:38] DirectXMan12 commented on #65097
we merged a change to the scale down process that should leave it slightly less prone to spike-y ness.  Has that helped at all?

[2018-11-26 19:53] mtaufen commented on #71374
I agree with @liggitt on this. The API server stores config, but shouldn't be responsible for orchestrating it; that typically falls to controllers or individual users. In this case, an example controller that can do this is the Machine Controller in the Cluster API.

This issue may be partially motivated by the requirement that the whole config be in the ConfigMap (we chose total override for vis

[2018-11-26 19:54] vladimirvivien commented on #71424
I am investigating this today.  Will update with fix/finding on a PR.

[2018-11-26 20:02] jingxu97 commented on #71400
Hi @Gaogong, I will help to fix this issue. The pod volume mount path is set up differently for flexvolume with other plugins.

[2018-11-26 20:07] davidz627 commented on #71424
A best practice for the driver should be to remove the registration sockets when the driver is uninstalled: this would generally remedy this problem for that particular driver in normal uninstall->install cases.
We do it for GCE PD here: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/kubernetes/base/node.yaml#L26

I still think the underlying problem s

[2018-11-26 20:14] ravisantoshgudimetla commented on #71234
I think tolerations are added to DS pod when we started using taints & tolerations in 1.6. PR - https://github.com/kubernetes/kubernetes/pull/41896, after that, we wanted to have backward compatibility when scheduler started scheduling DS pods, so we had to continue this. But even back in 1.6 the rationale behind DS pods adding those tolerations is same as now. We could have added a NoExecute` tol

[2018-11-26 20:20] ravisantoshgudimetla commented on #70180
I ran this test locally, it did not fail single time for TestTerminalPodEviction

for test in {1..1000};do go test -v k8s.io/kubernetes/test/integration/evictions -run TestTerminalPodEviction$;done

So, I am inclined to think this is side-effect of something else. I will keep monitoring the test to see if it is flaking.

[2018-11-26 20:20] leblancd commented on #61319
@uablrek , @StuCurry - Is it possible in your configuration to have *only* IPv6 address(es) for your node in each node's /etc/hosts file? This should cause the IPv6 address to get chosen for the node (and I believe that the /etc/hosts entry supersedes any DNS lookup when it comes to choosing the node IP, IIRC).
That said, I agree that we should consider fixing (enhancing?) this. I don't remember t

[2018-11-26 20:37] timothysc commented on #71202
Are you intending to target 1.14?

[2018-11-26 21:00] msau42 commented on #71383
Timeline of events:

Test pod started getting processed by kubelet:
[code]

It took a minute after the test pod was created for the csi driver to finish registering and mount to succeed, and then subpath event to trigger:
[code]

So #71428 should address the issue.  I was initially confused because the test logs didn't show the subpath event for some reason

[2018-11-26 21:12] msau42 opened #71433 "CSI plugin registration can be slow"
**What happened**:
From https://github.com/kubernetes/kubernetes/issues/71383#issuecomment-441796126, it took around a minute for the CSI plugin to register. It would be good to understand why it took so long and if it's normal/expected.

@kubernetes/sig-storage-bugs

/kind bug

[2018-11-26 21:13] msau42 commented on #71383
I opened up https://github.com/kubernetes/kubernetes/issues/71433 to investigate if 1 minute for csi plugin registration is expected

[2018-11-26 21:15] #60714 closed

[2018-11-26 21:16] liggitt commented on #70180
I don't think that is actually how the test runs... I think that is just a helpful attempt to give you a command to run just the failing test

[2018-11-26 21:19] msau42 commented on #64047
/remove-lifecycle stale

test is still flaking.  @humblec could you help take a look? It seems to be flaky most for gluster compared to other volume plugins

[2018-11-26 21:34] #71183 closed

[2018-11-26 21:38] liggitt commented on #71226
/close

this is a duplicate of https://github.com/kubernetes/kubernetes/issues/47228

export is not supported on RBAC resources currently. the fact that `kubectl get` accepts the --export parameter for a list objects without complaint is a bug (https://github.com/kubernetes/kubernetes/issues/49497), which was closed with this comment:

export is not uniformly supported, nor is it clear that it wil

[2018-11-26 21:38] #71226 closed

[2018-11-26 21:43] AishSundar commented on #71433
@msau42 @saad-ali is this a blocker for 1.13? do we have a baseline of how long its expected to take for the registration?

[2018-11-26 21:51] DirectXMan12 commented on #67970
/remove-lifecycle stale

[2018-11-26 22:01] liggitt commented on #70084
Enabling an admission plugin to make changes to a resource that are not allowed via the API call being made is a non-goal. That breaks down the layers of the apiserver and exempts admission from the same validation a normal API client must adhere to.

[2018-11-26 22:18] saad-ali commented on #71186
@sbezverk Either you or @pohly, feel free to create an issue on https://github.com/kubernetes/org/issues. And I can approve it.

Let's call the new repo: `github.com/kubernetes-csi/csi-lib-utils`?

[2018-11-26 22:22] timothysc commented on #43874
Please use mutating web-hooks for this type of behavior -

https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#admission-webhooks
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook

[2018-11-26 22:31] jberkus opened #71434 "Tracking: Complete list of Storage-related flakes for 1.13"
Per discussion at the burndown this morning, here's the list of test jobs that have storage-related flakes currently, and which tests are flaking on each.  If all get closed, we'll be able to close this issue.

The goal of this is to see if the current PRs we have in flight are expected to address a majority of test flakes.  As such, I've only included flakes that either occurred more than once, s

[2018-11-26 22:32] jberkus commented on #71383
I've added a tracker issue for the complete list of storage flakes: #71434

This is so that we can track whether we're addressing most of the flakes with the subpath fixes, or if additional fixes are required.

[2018-11-26 22:34] 1e100 commented on #53533
Yes, and in that case you'd then set your upper limit to "None" or something to that effect. My point is, it shouldn't be the default. Setting it to nothing completely defeats any kind of intelligent workload scheduling, since the master simply doesn't know the size of the "item" (job) it's about put into a "knapsack" (kubelet).

The problem here isn't that your job will be spilled to swap, it's t

[2018-11-26 22:51] AishSundar commented on #71434
/cc @saad-ali @msau42 @mkimuram @davidz627

[2018-11-26 23:00] CaryJ commented on #66013
If you're running under WSL (as @PatrickLang says he is), you're probably hitting this bug: https://github.com/Microsoft/WSL/issues/3399
A reboot will fix it until you have the proper fix installed.

[2018-11-26 23:01] sambdavidson opened #71435 "Create/Update of custom resources returns wrong error code for bad requests, 500 instead of 4XX"
**What happened**:
POST or PUT to a custom resource with a JSON body missing "kind" results in a 500 error:
[code]
A missing "apiVersion" also results in a 500 error:
[code]
Then with both "kind" and "apiVersion" defined we get the normal 4XX return codes.

**What you expected to happen**:
All bad inputs for create and update requests should be 4XX return codes.
E.g. Creating a `Role` with body of

[2018-11-26 23:02] msau42 commented on #71434
These are all the PRs and issues I know about tracking storage flakes

#71428 should solve most "subPath should fail" flakes, especially for csi plugins
#71429 should solve the "mount in progress" flakes
#64474 root causes the "local PV fsgroup" flake, but actually fixing it is very complicated. We're still deciding if we want to add such complication to fix a small corner case, or just not suppor

[2018-11-26 23:04] msau42 commented on #71434
cc @gnufied for volume metrics flakes

[2018-11-26 23:06] msau42 commented on #71434
@jberkus is there a way to sort these by flakiness so we can prioritize investigation/fixes?

[2018-11-26 23:12] msau42 commented on #71434
Using the triage tool helps sort by most failing, although it also gives us test failures that are not being tracked here:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=sig-storage

[2018-11-26 23:14] AishSundar commented on #71434
I see https://github.com/kubernetes/kubernetes/issues/64474 and https://github.com/kubernetes/kubernetes/issues/64047 have been open since May of this year. So I would take these off the blocker list for 1.13 unless
(i) error trace is different from before
(ii) its showing up way more frequently now (i.e., not much of a corner case anymore)

@jberkus can you help confirm that please?

[2018-11-26 23:15] bsalamat commented on #71234
+1 to @liggitt's [points](https://github.com/kubernetes/kubernetes/issues/71234#issuecomment-441384973).
Priority and toleration are two separate things and one should not imply the other. A high-priority pod should not have automatic toleration for NoExecute taint. An obvious example is the case that one runs a small number of critical pods in a cluster. She wants these pods to preempt others whe

[2018-11-26 23:30] davidz627 opened #71436 "XFS volumes should be mountable failing in COS tests [Should not be running at all]"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-cos2-k8sbeta-default
 ci-kubernetes-e2e-gke-cos1-k8sbeta-default

**Which test(s) are failing**:
[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Pre-provisioned PV (xfs)] volumes should be mountable

**Since when has it been failing**:
Forever

**Testgrid link**:
https://testgrid.k8s.io/cos-cos2-k8sbeta#gce-cos2-k8sbeta-default

**Reaso

[2018-11-26 23:31] davidz627 opened #71437 "XFS volumes should be mountable tests failing on Ubuntu"
Example failure: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-ubuntu2-k8sbeta-default/3021#sig-storage-in-tree-volumes-driver-gcepd-testpattern-pre-provisioned-pv-xfs-volumes-should-be-mountable

**Which jobs are failing**:
ci-kubernetes-e2e-gke-ubuntu2-k8sbeta-default
ci-kubernetes-e2e-gke-ubuntu1-k8sbeta-default

**Which test(s) are failing**:
 [sig-storage] In-t

[2018-11-26 23:31] msau42 opened #71438 "Flaky local pv tests"
**What happened**:
A number of local PV tests are flaky due to timeout:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=PersistentVolumes-local
[code]

@kubernetes/sig-storage-bugs

/kind bug

[2018-11-26 23:31] benjamin-maynard commented on #66231
@ChrisCooney did you resolve?

[2018-11-26 23:32] msau42 commented on #71434
Opened https://github.com/kubernetes/kubernetes/issues/71438 to track local PV flaky tests

[2018-11-26 23:32] msau42 commented on #71438
@cofyc would you have time to help look into these?

[2018-11-26 23:47] saad-ali commented on #71433
I took a look at this.

Looks like the external `driver-registrar` sidecar causes the delay (see [log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new-parallel/400/artifacts/_sig-storage_CSI_Volumes_Driver_csi-hostpath_Testpattern_Dynamic_PV_default_fs_subPath_should_fail_if_subpath_directory_is_outside_the_volume_Slow_/csi-hostpathplugin

[2018-11-26 23:48] saad-ali commented on #71433
Opened https://github.com/kubernetes-csi/driver-registrar/issues/76. Closing this.

[2018-11-26 23:48] #71433 closed

[2018-11-27 00:03] AishSundar commented on #71424
Is there an incoming PR for this?

[2018-11-27 00:04] liggitt commented on #71383
keeping open until flakes are verified cleaned up

[2018-11-27 00:05] AishSundar commented on #71383
/reopen

Reopening this issue until we can verify the fix in CI

[2018-11-27 00:06] anguslees commented on #53533
@1e100: You are conflating "total VM" size with "working set" size.  The workload needs to be scheduled based on _working set_ size, and the program will degrade once _working set_ size is exceeded (assuming there is enough total swap available).  You are also making the incorrect assumption that swapping (and other ram<->I/O degradation tradeoffs) won't happen just because swap is disabled.

(I'm

[2018-11-27 00:20] jberkus commented on #71434
@msau42 I'll bug the Gluster team about it, see if I can get some help from that end.

[2018-11-27 00:36] AishSundar commented on #71434
Since there are a few tests that fail across multiple jobs, here's a pivot on the tests instead of the job. @msau42 can you please edit this comment with known open issues tracking these failures?

Basically I see the following 4 categories of failures

**1.  PersistentVolumes-local  failures - Tracked by #71438 and #64474 **
*  [sig-storage] PersistentVolumes-local [Volume type: dir-link-bindmoun

[2018-11-27 00:38] msau42 opened #71439 "Flexvolume tests failing on cos and kops suites"
**What happened**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Flexvolumes

[code]

I think these jobs do not have the flexvolume directory properly configured.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
-

[2018-11-27 00:38] msau42 commented on #71439
/assign

[2018-11-27 00:38] msau42 commented on #71439
@kubernetes/sig-storage-test-failures

[2018-11-27 00:41] sbezverk commented on #71186
@saad-ali here you go: https://github.com/kubernetes/org/issues/268

[2018-11-27 00:49] msau42 commented on #71434
I don't have permission to edit your comment, but:
* [sig-storage] In-tree Volumes [Driver: gluster] [Testpattern: Inline-volume (default fs)] volumeIO should write files of various sizes, verify size, validate content [Slow] - Tracked by #64047

Also these CSI flakes are not covered by #71383:
* [sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath sho

[2018-11-27 00:50] BenTheElder commented on #51540
There is something for e2e running in CI currently FYI, but it does not work correctly, yet:
https://testgrid.k8s.io/sig-windows#Conformance%20acs-engine%20on%20Azure

Google (sig-node I think?) also has a prototype for e2e here:
https://testgrid.k8s.io/google-windows#windows-prototype

[2018-11-27 00:51] saad-ali commented on #71424
@vladimirvivien has been working on this today. He believes that he has the problem understood and is able to repro it. He is working on a fix/verification (which takes time since it requires multiple runs to repro/verify). He will add more information soon as he can.

[2018-11-27 00:55] 1e100 commented on #53533
Swapping of anonymous memory won't happen. Anything memory mapped (including program code and data) can and will still swap if there's memory pressure, that's why I suggested that RAM limits should be required by default: to make it less likely there's memory pressure in the first place. For workloads that need even stricter guarantees, there's also `mlockall()` and low `swappiness` value.

As a f

[2018-11-27 00:59] yujuhong commented on #51540
This is running against a fork to test Windows nodes/containers in GCE. We are working on stabilizing and upstreaming the cluster bring-up changes (`cluster/gce`) so that we can get rid of the fork.

[2018-11-27 01:06] tarmael commented on #36575
I had this problem as well. Solution in last line.

**Issue:**
The issue was the tutorial I was following suggested to install flannel yml from github, which (as of writing) uses default network: 10.244.0.0/16
Where as my tutorial I was following used network: 172.30.0.0/16

This resulted in the following errors:
# kubectl get pods --all-namespaces
kube-system   coredns-576cbf47c7-8frqd

[2018-11-27 01:09] towolf commented on #70997
@m1093782566 I reported similar issues in another bug recently. And I got the same messages in the log:

https://github.com/kubernetes/kubernetes/issues/70493#issuecomment-434791855

[2018-11-27 01:10] AishSundar commented on #71426
/reopen

Reopening until we can get some clean CI signal.

FWIW spoke to @saad-ali to confirm this is a pure test setup issue and there is a possibility that this might not be fixed fully.

[2018-11-27 01:14] AishSundar commented on #71423
FWIW this seems to be a long standing issue, atleast as far bck as 1.12 timeframe

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-09-01&sig=network&test=Services%20should%20have%20session%20affinity%20work%20for%20LoadBalancer%20service%20with%20ESIPP%20on

[2018-11-27 01:29] shyamjvs commented on #66026
/remove-lifecycle stale
:)

[2018-11-27 01:29] cofyc commented on #71438
sure
/assign

[2018-11-27 01:34] jberkus commented on #71434
Let me see how many disappear after the subpath merge, and then I can sort the rest by frequency.

[2018-11-27 02:08] anguslees commented on #53533
Yep, totally agree that we need to have a "size" that we use for scheduling and to avoid (unintentional) overcommit.  And we also want to avoid global VM thrash, because Linux has a poor time recovering from that.

Just to show where I'm going with this, my current strawman proposal is:
- Metaphor is that each container behaves like it's on a machine by itself with a certain amount of ram (given b

[2018-11-27 02:11] cofyc commented on #66859
/lifecycle frozen

[2018-11-27 02:20] #65661 closed

[2018-11-27 02:30] AishSundar commented on #71434
@saad-ali @msau42 @jberkus  I did a quick pass of all the above failures in triage to see which ones are new in 1.13 timeframe (i.e., post 10/01/2018) and beloq is the list (minus the CSI subpath and Detaach volume issues being fixed). I tried to order them by frequency, but all of these are pretty infrequent and seem to be passing now. still worth investigating to see if they should block 1.13

*

[2018-11-27 02:38] PatrickLang commented on #62046
/remove-lifecycle stale

[2018-11-27 02:39] zhouhaibing089 commented on #71435
I guess it is raised athttps://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/registry/rest/create.go#L148, which is checked in `rest.BeforeCreate`.

[2018-11-27 02:47] msau42 commented on #71434
Flexvolume expand is new for 1.13. cc @gnufied

For 1.13, I would focus on triaging the two CSI volumes failures you mentioned above.  @davidz627 can help look at the PD driver failure.  I will look at the hostpath csi test failure.

We did a big test refactoring around the end of 1.12 and beginning of 1.13 that may have drastically changed the test case names and line numbers of failures, which c

[2018-11-27 02:53] cofyc commented on #71438
These aggregated failures includes tests on non-master branches, e.g. release-1.11. Should we fix on these branches too?

[2018-11-27 02:57] msau42 commented on #71438
I would focus on failures on master branches

[2018-11-27 03:03] iver3on commented on #21873
i also meet this...kubernetes   192.168.0.1  not 192.168.3.1   who can help me

[2018-11-27 03:13] GaoRong commented on #71400
@jingxu97  I agree with you, Could you explain more specifically where is the compatibility issue?

AFAIK, there are many companies using flexvolume in production and many issues related terminating pod, If the compatibility is not very critical, maybe we should fix this issue first?

[2018-11-27 03:53] vladimirvivien commented on #71424
After spending a good amount of time chasing the cause for this issue, it came down to the plugin_watcher code that can handle fsnotify CREATE and fsnotify DELETE events concurrently here: https://github.com/kubernetes/kubernetes/blob/fad23990cea2f883c98684fc2f2b600a3c1bdbd8/pkg/kubelet/util/pluginwatcher/plugin_watcher.go#L114
The `goroutine` at that line number causes both CREATE and DELETE even

[2018-11-27 04:17] yra-wtag commented on #27114
@lavalamp

Your argument totally makes sense but then the liveness check is actually checking readiness, don't you think?  Cause any long running process can be considered a Deadlock. as this PR is trying to solve the issue of checking liveness with respect to readiness then there should be a way to define how long a pod should wait for readiness before it considers that as not `recoverable or ser

[2018-11-27 05:05] lavalamp commented on #27114
@yra-wtag:

No, I don't agree-- that's not what readiness implies to me at all, as a word (but it's not surprising that I think the word is used correctly since I was probably in the room when we designed the probes in the first place).

For your pod, if it goes unready for a long time, that means something is wrong. But that's definitely not the case for all pods!
* Maybe a dependency is unavaila

[2018-11-27 05:19] WanLinghao commented on #71350
I think you can achieve what you want via:
https://github.com/kubernetes/kubernetes/blob/fad23990cea2f883c98684fc2f2b600a3c1bdbd8/pkg/apis/core/types.go#L1952
https://github.com/kubernetes/kubernetes/blob/fad23990cea2f883c98684fc2f2b600a3c1bdbd8/pkg/apis/core/types.go#L1964

[2018-11-27 05:38] Chenditang opened #71441 "Session affinity supports filtering based on source IP"
Currently the session affinity based on client IP address, I propose the following changes to support  session affinity can choose the specified source IP.

[code]
for example, if sourceIP is set, only "192.168.56.0/24" supports session affinity.
[code]

/sig network
/kind feature

[2018-11-27 06:07] berlinsaint commented on #71071
@gjcarneiro do you mean that in kernel 4.15 , it has the same problem?

[2018-11-27 06:07] berlinsaint commented on #71071
@

你邮箱多少啊啊，，认识下。。少年

[2018-11-27 06:14] AishSundar commented on #71434
@jberkus @mariantalla @mortent can we please separate flaky test issues for each of the failing tests above and add them to 1.13 milestone for initial triage? thanks.

[2018-11-27 06:14] babalsurer opened #71446 "how Kubernetes work.?"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

/kind bug

[2018-11-27 06:14] uablrek commented on #61319
@leblancd Yes, an ipv6-only /etc/hosts is my workaround and works fine. I agree that no new knod should be added. The master processes seem to figure out if ipv6 shall be used already and if the problem is in those it should be an easy fix. If the problem is `kubelet` (I use --register-node=true) it may be a little trickier, but I think the `--address` must be given to kubelet in ipv6 and be an ip

[2018-11-27 06:39] uablrek commented on #61319
I can't see this problem on master (v1.14.0-alpha.0.197+bcef72bf06a89b) so it seems fixed already and I let this issue remain closed.

[2018-11-27 06:39] StuCurry commented on #61319
@uablrek @leblancd The /etc/hosts file is not configured on my node, but this should also be a solution.

Now I have configured --node-ip=9f01::90 (IPv6 address on the node) in the kubelet, the node object and hostNetwork: true pod will use the address I configured instead of the IPv4 address on the node.

[2018-11-27 06:44] annProg commented on #71071
点我头像就看到了

[2018-11-27 06:46] hex108 commented on #65797
/sig apps
/sig node

[2018-11-27 07:02] matthyx commented on #27114
@lavalamp do you mind sharing it? (if possible)

[2018-11-27 07:11] roywangtj commented on #65743
The .go files that are under [https://github.com/kubernetes/kubernetes/tree/master/vendor/github.com/containernetworking/cni/libcni] were all two years ago. Where can we find the libcni code merged?

[2018-11-27 07:44] liqlin2015 commented on #70835
@dchen1107 Kubelet did not process any other sync event at that time. The last sync event is housekeeping. So I suspect something was hanging when we do clean up in housekeeping. Well it's difficult to find out where it was hanging from code and log (I have set log level to `--v=4`).

In the time window, it did print some log like attaching volume failed, etc.

[2018-11-27 07:49] hwdevops commented on #66231
@cx1981
Make sure that the master node installs kube-proxy and network components (eg: calico). Referring to the implementation of kubeadm, you only need to configure the master node as node, and then configure Taint to disable scheduling.

[2018-11-27 07:57] kiddie92 opened #71448 "kubectl view object in two or more different namaspaces"
**What would you like to be added**: kubectl view object in two or more different namaspace, like this: kubectl get pods -n default and kube-system and so on..

**Why is this needed**: it is convenient to check several specific namespace

/kind feature

[2018-11-27 08:30] hjacobs commented on #67577
@prune998 see @vishh's comment and [this gist](https://gist.github.com/bobrik/2030ff040fad360327a5fab7a09c4ff1): the Kernel over-aggressively throttles, even if the math tells you it should not. We (Zalando) decided to disable CFS quota (CPU throttling) in our clusters: https://www.slideshare.net/try_except_/optimizing-kubernetes-resource-requestslimits-for-costefficiency-and-latency-highload

[2018-11-27 08:39] bboreham commented on #65743
@roywangti the repo for libcni is https://github.com/containernetworking/cni/

Part of the next step is to copy updated files into the location you pointed at.

[2018-11-27 08:55] nikopen commented on #67761
/remove-lifecycle stale

[2018-11-27 09:09] nikopen commented on #71446
Feel free to refer to the documentation: https://kubernetes.io/docs/home/?path=users&persona=app-developer&level=foundational

/close

[2018-11-27 09:09] #71446 closed

[2018-11-27 09:41] frankh commented on #65097
@DirectXMan12 could you link to the specific change?

[2018-11-27 09:54] nikopen commented on #67761
/sig scheduling

[2018-11-27 10:10] nikopen opened #71450 "ResourceQuota objects not refreshing anymore (while admission controller still working)"
**What happened**

ResourceQuotas are configured in every namespace of a busy production cluster. At some point the following happened:

- "status:used" got inflated / was more than the sum of Requests in namespaces
- "status:hard" refused to get updated via applying new manifests - "spec:hard" was normally updated but "status:hard" was stuck.
- attempted deleting and recreating the ResourceQuota,

[2018-11-27 10:15] nikopen commented on #71450
Possibly related issues:

https://github.com/kubernetes/kubernetes/issues/67761
https://github.com/kubernetes/kubernetes/issues/60037

[2018-11-27 10:29] suryamegham1729 commented on #60825
Any update on this bug fix release please?

[2018-11-27 11:09] Rajat-0 commented on #39090
@MorrisLaw I'll be happy to help on this, let me know If you need any.

[2018-11-27 11:37] okrause commented on #70741
`microk8s.daemon-etcd[1463]: WARNING: 2018/11/27 12:31:06 grpc: addrConn.resetTransport failed to create client transport: connection error: desc = "transport: Error while dialing dial tcp: lookup etcd.socket on 127.0.0.53:53: no such host"; Reconnecting to {etcd.socket:2379 0  <nil>}`

Same problem here. microk8s.daemon-apiserver is using my systems DNS resolver.

`$ sudo netstat -anp | grep '127

[2018-11-27 11:39] #61163 closed

[2018-11-27 12:01] geosword commented on #71381
I figured it out. I had to upgrade my ceph-common tool set. It works on all nodes, and without the api listening on localhost:8080

[2018-11-27 12:01] #71381 closed

[2018-11-27 12:09] djboris9 commented on #60914
@lavalamp I would like to do the opposite with the authorization webhook. If there is a network issue that blocks the connection between the kube-apiserver and an authorizer, the requests will have to wait for 30s.
To reduce this risk, I use a daemon on localhost that times out after 1s to return fast.
This is a special use-case where the authorizer can work with a best-effort strategy and has no

[2018-11-27 12:32] deitch commented on #43633
/remove-lifecycle stale

[2018-11-27 12:34] antoineco opened #71453 "Azure Disks occasionally mounted in a way leading to I/O errors"
**What happened**:

Azure Disks get randomly mounted in a way that makes then unusable, returning `Input/output error` for every disk I/O operation. Affected Pods remain in `CrashLoopBack` until someone manually recreates them.

**What you expected to happen**:

Azure Disks are consistently usable.

**How to reproduce it**:

Create the following StatefulSet. Adjust the replicas and delete the asso

[2018-11-27 12:34] prune998 commented on #67577
Thanks @hjacobs.
I'm on Google GKE and I see no easy way to disable it, but I keep searching....

[2018-11-27 12:40] lelvisl commented on #62061
Up?

[2018-11-27 12:47] rcorre commented on #67895
/remove-lifecycle stale

Still unclear that `-a` is default.

[2018-11-27 12:48] JoaAlteos commented on #70257
Thank you @ltupin, I can confirm that rebuilding the image from source and posting it to my private container registry fixes this issue.
It seems like the concat plugin was added, versions were bumped but a new image was not created.
Concat added: https://github.com/kubernetes/kubernetes/commit/079136fd5964502e6d3b43a6bdbabe24d078767d
Versions bumped without a new image: https://github.com/kuberne

[2018-11-27 12:50] antoineco commented on #71453
In my current test environment:

`$ kubectl describe pod azure-disk-failure-0`
[code]

`$ kubectl get node k8s-my-cluster-vmss00000x`
[code]

`$ tree /dev/disk/azure`
[code]

[2018-11-27 12:53] GitHubxsy opened #71454 "Can't get resource object（deployment、namespaces、configmap） from kube-apiserver"
**What happened**:
Can't get resource object（deployment、namespaces、configmap）  from kube-apiserver，but can get configmap and other resource object。

**What you expected to happen**:
get all resource object from kube-apiserver。
**How to reproduce it (as minimally and precisely as possible)**:
Low probability，maybe happen after etcd server change leader.

**Anything else we need to know?**:
Restart

[2018-11-27 12:59] timoreimann commented on #67577
@prune998 AFAIK, Google hasn't exposed the necessary knobs yet. We filed a feature request right after the possibility to disable CFS landed in upstream, haven't heard any news since then.

[2018-11-27 12:59] GitHubxsy commented on #71454
/sig api-machinery

[2018-11-27 13:10] rhubarb commented on #37218
Throwing in a metoo. The usefulness of this is obvious and not just for legacy apps.

[2018-11-27 13:14] milosjovac commented on #65130
Anyone have a solution for this?

[2018-11-27 13:31] antoineco commented on #71453
After deleting the failing Pod and waiting for it successful recreation:

In my current test environment:

`$ kubectl describe pod azure-disk-failure-0` (pod uid is now 38b167b3-f247-11e8-bf38-000d3a2f91ba)
[code]

`$ kubectl get node k8s-my-cluster-vmss00001a`
[code]

`$ tree /dev/disk/azure`
[code]

`$ mount -l` on the node
[code]

`$ ls -l /var/lib/kubelet/plugins/kubernetes.io/azure-disk/mount

[2018-11-27 13:41] chrisohaver commented on #71308
IMO, we cannot, due to the complications of reverse lookups I described in coredns/coredns#2327.
To handle reverse lookups correctly in that solution, you'd need to know the Pod and Service CIDRs, which are not trivial to determine at install time (Pod CIDR specifically is difficult to determine).

[2018-11-27 13:41] rhubarb commented on #37218
BTW I like ahakanbaba's idea above, and will probably use it as a workaround, but I really wanted different liveness frequencies and other conditions for my script vs httpGet... E.g. I want the script to check frequently and fail immediately, whereas the http can be infrequent

[2018-11-27 13:42] andyzhangx commented on #71453
/assign

[2018-11-27 13:53] dream83619 opened #71458 "Support ordinal index for normal (stateless) pod"
**What would you like to be added**:
Support ordinal index for normal (stateless) pod.

**Why is this needed**:
When we use docker swarm, there is a {{ .Task.Slot }}, which we use in a lot of scenario. (e.g. set spring cloud stream's instance index and identity application instance for logging). But kubernetes only support this feature for stateful-set. It will be very helpful to support this feat

[2018-11-27 13:55] wozniakjan commented on #70916
since it looked like no one was working on this and I experienced this when playing around with kubedb, I took the liberty and tried to implement events for namespace controller https://github.com/kubernetes/kubernetes/pull/71457. Any comments greatly appreciated.

[2018-11-27 13:57] mariantalla commented on #71430
`Conformance - vSphere` is now cleared out, but the `BeforeSuite` in `Conformance - vSphere-cloud-provider` has still not run since [run 1542736883](https://gubernator.k8s.io/build/k8s-conformance-cloud-provider-vsphere/head/ci/latest/1542736883).

[2018-11-27 14:00] berniechiu commented on #65130
@milosjovac I think u just need to rename to another ENV name

[2018-11-27 14:00] vengam opened #71459 "ingress host name"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.6.3
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:
below is my ingress file
kind: Ingress

[2018-11-27 14:35] mikecico commented on #43874
It does seem like a natural fit.  Is there a reason why this shouldn't be allowed from a PodPreset?

[2018-11-27 14:54] milosjovac commented on #65130
@berniechiu you are right. But this is the env variable that service (keycloak) requires in order to work, I couldn't change it. I could change the name of my service on the other hand and it now works. Thanks for the tip.

[2018-11-27 14:59] vladimirvivien commented on #71424
@davidz627 that is a great suggestion, will make not of it for documentation.

[2018-11-27 15:21] aelmanaa commented on #43633
feature needed indeed

[2018-11-27 15:37] mshaverdo opened #71463 "Panic in the AttachDetachController"
**What happened**:
During investigation of  nil pointer dereference panic, i've found that [operationGenerator.GenerateDetachVolumeFunc](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L389) has an issue:

`operationGenerator.GenerateDetachVolumeFunc` don't check 1st return value of `volumePluginMgr.FindAttachablePluginByName`  to `nil`

[2018-11-27 15:46] roberthbailey commented on #71398
I think that @justinsb is saying that both orders are racy (at least in cloud environments) for different reasons.

This is certainly true for certain types of deletions. If you "recreate" a VM that is part of a MIG it comes back with the same name. Also if you delete and recreate a preembtible VM (on GCE) it will come back with the same name (and a different IP address). Not having deleted the no

[2018-11-27 15:48] dims commented on #71463
/sig storage

[2018-11-27 16:00] jberkus commented on #71423
Sure.  But the failures have become 3X as frequent, so I still want a sign-off by sig-network.

[2018-11-27 16:05] pbarker opened #71464 "Dynamic audit webhook versioning"
**What would you like to be added**:
Currently dynamic audit configuration only allows for audit events to be sent in a pinned version https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/plugin/pkg/audit/dynamic/dynamic.go#L104. This should ideally be configurable.

/kind feature

[2018-11-27 16:06] pbarker commented on #71464
/sig auth

[2018-11-27 16:30] lbernail commented on #71358
I think it's pretty safe : the only impact would be TCP keepalive probes starting a lot earlier (so small increase in traffic)

To be on the safe side we could:
- not do anything is IPVS timeouts are not set in the configuration
- configure IPVS timeouts and tcp_keepalive_time if they are

[2018-11-27 16:42] AishSundar commented on #71383
As of this morning we are seeing CSI "subpath should fail" flakes in the following job

* [sig-release-master-blocking#gce-cos-master-slow](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-slow&include-filter-by-regex=CSI%20Volumes)
  * Multiple "subpath should fail" flakes in this slow job alone

* [sig-release-1.13-blocking#gce-cos-1.13-slow](https://k8s-testgrid.appsp

[2018-11-27 16:48] saad-ali commented on #71463
@mshaverdo how often have you run in to this?

@gnufied can you help put together a fix?

[2018-11-27 16:52] seh opened #71466 "Scheduler does not place some DaemonSet-created pods"
**What happened**:

I added nodes steadily to my Kubernetes cluster—reaching 200 or so worker nodes, in addition to three masters. As the nodes arrived, I was watching to see how long it took each node to appear after the underlying machine had booted, and then how long it took for the node to become "ready." A handful of nodes—four out of 200—would not become ready. The "calico-node" _DaemonSet_'

[2018-11-27 16:57] gnufied commented on #71463
We could fix this but IMO this should never be reproducible because this panic will only happen `FindPluginByName` function finds a plugin but the plugin is not attachable. This could never happen because we only initialize attachable volume plugins in attach/detach controller and hence `FindPluginByName` will ALWAYS return error if plugin is not attachable.

[2018-11-27 16:57] seh commented on #71466
/sig scheduling
/sig apps

[2018-11-27 17:03] saad-ali commented on #71383
@AishSundar root cause of this is a delay in an external sidecar containers and the tests not waiting long enough to accommodate the delay. There are no changes required in `kubernetes/kubernetes` (outside of test) to handle this. These should not be 1.13 blocking. We'll continue to look in to getting them non-flaky today. In the meantime, we can mark these tests as flaky to reduce the noise, if y

[2018-11-27 17:06] saad-ali commented on #71426
This test looks like it's been green since the fix merged.

[2018-11-27 17:09] saad-ali commented on #71463
`/s/FindPluginByName/FindAttachablePluginByName`

Yes that makes sense.

We need more info from @mshaverdo:

Also do you have any modification or are you running a standard k8s?

[2018-11-27 17:10] mkimuram opened #71469 "Test failure: [sig-storage] In-tree Volumes [Driver: hostPathSymlink] [Testpattern: Inline-volume (default fs)] subPath should fail if subpath with backstepping is outside the volume [Slow]"
### Failure cluster [719e67ed67ffe8253cc4](https://go.k8s.io/triage#{id})

Tracked in: https://github.com/kubernetes/kubernetes/issues/71434#issuecomment-441875062

##### Error text:
[code]
#### Recent failures:
[11/26/2018, 11:08:11 AM ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new-parallel](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-clu

[2018-11-27 17:11] seh commented on #71466
Note too that if I delete the unready nodes for which these pods were pending, the pending pods stick around, which sounds like #71349.

[2018-11-27 17:11] mkimuram commented on #71469
This flake in test is caused in the [preparation of hostPathSymlink driver](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/drivers/in_tree.go#L851), so this is not an issue for any k8s functionality.
So, this shouldn't block v1.13.

[2018-11-27 17:29] gnufied commented on #71463
it could be argued that - we should still fix this for sake for clarity. I will do that post 1.13.

/assign

[2018-11-27 17:58] aleks-mariusz commented on #71071
I am also seeing this repeatedly in my centralized logging system:

[code]

I'm running v1.12.3 (fresh install, not an upgrade).

[2018-11-27 17:59] gnufied opened #71470 "Failling Test: [sig-storage] Flexvolume expansion tests are flaky"
This is a child issue of https://github.com/kubernetes/kubernetes/issues/71434

For example - https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/21996

/sig storage

@aniket-s-kulkarni will you be able to look into this?

[2018-11-27 18:07] lavalamp commented on #27114
Totally in favor of that.

It's very specific, it wouldn't be a good example :)

[2018-11-27 18:10] mshaverdo commented on #71463
@gnufied I've sent a PR to fix this issue

@saad-ali
We faced it in about 30 minutes during rolling update, and, unfortunately, we're unable to reproduce it.
It was k8s with modified apiserver & kubelet, but there was no modifications in kube-controller-manager.

Panic trace:
[code]

[2018-11-27 18:12] matthyx commented on #27114
Could a native speaker tackle the documentation update? I don't mind updating the French translation once done...

[2018-11-27 18:15] saad-ali commented on #71383
Would be good to capture this as a known issue in release notes.

[2018-11-27 18:15] lavalamp commented on #27114
Yeah that sounds reasonable. I'll see if I can find some time, but if someone is inspired don't wait for me :)

[2018-11-27 18:21] dims commented on #71433
@saad-ali @msau42

Can we try the grpc options used in other spots?

Looks like the current options for the connect are here:
https://github.com/kubernetes-csi/driver-registrar/blob/master/pkg/connection/connection.go#L69-L73

cadvisor for example has `WithBlock` and `WithTimeout`
https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/google/cadvisor/container/containerd/client.go#

[2018-11-27 18:30] krzyzacy commented on #71401
/shrug

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-beta/488 took 19h50m to finish... timeout is 20h... let's give the job a bit more room...

[2018-11-27 18:30] jberkus opened #71472 "Flake in Kubectl port forwarding"
**Which jobs are failing**: gce-new-master-upgrade-parallel, and other tests (see triage link below)

**Which test(s) are failing**:

* [sig-cli] Kubectl Port forwarding [k8s.io] With a server listening on localhost [k8s.io] that expects a client request should support a client that connects, sends DATA, and disconnects
* [sig-cli] Kubectl Port forwarding [k8s.io] With a server listening on localh

[2018-11-27 18:35] msau42 opened #71473 "Flaky test: Image pull failed with "readlink /var/lib/docker/overlay2: invalid argument""
**What happened**:
Test logs show that there were issues pulling container images:

[code]

@kubernetes/sig-storage-bugs

/kind bug

[2018-11-27 18:35] msau42 commented on #71434
Opened https://github.com/kubernetes/kubernetes/issues/71473 for `[sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow]`.

[2018-11-27 18:42] msau42 commented on #71473
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-serial/1493#sig-storage-csi-volumes-driver-csi-hostpath-v0-testpattern-dynamic-pv-default-fs-subpath-should-unmount-if-pod-is-gracefully-deleted-while-kubelet-is-down-disruptiveslow

[2018-11-27 18:46] jingxu97 commented on #71400
Currently kubelet volume manager create a pod directory and mount the volume there. For most of plugins, the directory name is a combination of pod id, plugin name and volume name. So when kubelet restarts, volume reconstruction code will try to scan the directory and retrieve the pod id, plugin name and volume name from the directory name. However, flexvolume is a little bit different. The flexvo

[2018-11-27 18:50] msau42 commented on #71473
I spoke with node team, and they said the "readlink /var/lib/docker/overlay2: invalid argument" error is a known, un-rootcaused docker issue that may occur if the node unexpectedly crashes: https://github.com/moby/moby/issues/35747

[2018-11-27 18:51] AishSundar commented on #71383
@marpaia to followup on capturing this in Release notes

[2018-11-27 18:51] msau42 commented on #71473
cc @kubernetes/sig-node-bugs

[2018-11-27 18:57] MrHohn commented on #71423
cc @grayluck

[2018-11-27 18:58] msau42 commented on #71473
Since this is a long standing docker problem, I don't think this should be release blocking

[2018-11-27 19:01] leblancd commented on #61319
@uablrek , @StuCurry , @pmichali - Glad to hear that the /etc/hosts workaround is viable for you. @uablrek , I'm surprised this is fixed in master... I could be wrong, but I believe that the code in question is here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodestatus/setters.go#L164-L175
The for loop here is designed with a preference for IPv4 addresses. The enhancement to

[2018-11-27 19:13] grayluck commented on #71423
Ack. Will work on this.

[2018-11-27 19:20] Ramyak commented on #71327
Gentle ping.

[2018-11-27 19:29] AishSundar commented on #71470
/milestone v1.13
/kind failing-test
/priority critical-urgent

I am addind this to 1.13 milestone as critical-urgent until investigated and triaged otherwise. The Code freeze deadline for the fix is EOD tomorrow, 11/28

/cc @msau42 @jberkus @mariantalla @mortent

[2018-11-27 19:30] AishSundar commented on #71473
/cc @jberkus

[2018-11-27 19:38] OJFord commented on #5607
@thockin, you wrote:

and @dixudx said similar, but this is not true in Docker - 'just' `cap_add: - SYS_ADMIN` is enough.

[2018-11-27 19:41] msau42 commented on #71473
@jiayingz and I worked out the timeline of events:
1. a different hostpath csi test was running at 07:07, which uses the csi driver container images.
[code]
The test brought up the driver, decided to skip the test, and started bringing down the driver, but doesn't wait for it to fully brought down?

2. Afterwards, a reboot test ran
[code]

3.  While the reboot was happening, the hostpath container

[2018-11-27 19:43] msau42 commented on #71473
We can probably improve the storage tests to not bring up the driver if we're going to skip it.  I believe https://github.com/kubernetes/kubernetes/pull/70992 might address some of this.

[2018-11-27 19:50] alena1108 commented on #65879
We are observing this problem on k8s 1.11.3

[2018-11-27 19:58] MorrisLaw commented on #39090
Thank you @Rajat-0 I'll let you know if I need help. Keep an eye out for the PR too so you can review my changes. Thank you!

[2018-11-27 20:05] gnufied commented on #71470
@aniket-s-kulkarni if you read kubelet logs, it may contain clues about why status condition failed to update. I do agree that if `pvc.Status.Capacity` had correct value then condition should be removed too but apparently something happened.

[2018-11-27 20:38] liggitt commented on #71335
added to 1.13 release notes as deprecated and targeting removal in 1.15

[2018-11-27 21:07] lelvisl commented on #66603
I have same need

[2018-11-27 21:07] lelvisl commented on #66603
/remove-lifecycle rotten

[2018-11-27 21:19] msau42 opened #71476 "ci-cri-containerd-e2e-ubuntu-gce many tests fail with: failed to create containerd task"
**Which jobs are failing**:
ci-cri-containerd-e2e-ubuntu-gce

**Which test(s) are failing**:
Many failed in this run

**Since when has it been failing**:
This run failed on 10/25

**Testgrid link**:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/8226#sig-storage-in-tree-volumes-driver-gcepd-testpattern-inline-volume-default-fs-volumes-should-be-mountable

[2018-11-27 21:19] msau42 commented on #71476
cc @yujuhong @Random-Liu

[2018-11-27 21:20] msau42 commented on #71434
Opened https://github.com/kubernetes/kubernetes/issues/71476 for `[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Inline-volume (default fs)] volumes should be mountable`

[2018-11-27 21:20] jberkus commented on #71472
This flake is being addressed here: https://github.com/kubernetes/kubectl/issues/558

[2018-11-27 21:29] SidakM opened #71477 "Support PVC Expansion Through StatefulSet volumeClaimTemplates"
**What would you like to be added**:
Support and allow for users to increase the storage requests in the volumeClaimTemplates inside of a statefulset. The increased storage requests should propagate to all PVCs associated with the modified volumeClaimTemplates.

**Why is this needed**:
Since 1.11 persistent volume expansion is in beta which allows for a PVC's resource storage request to be increas

[2018-11-27 21:34] SidakM commented on #71477
@kubernetes/sig-apps-pr-reviews https://github.com/kubernetes/kubernetes/pull/71384

[2018-11-27 21:44] ncdc commented on #55410
/reopen

[2018-11-27 21:45] ncdc commented on #55410
We have a customer interested in seeing this fixed - if we submit a PR, are there objections to merging it?

[2018-11-27 21:47] ncdc commented on #55410
cc @pmorie

[2018-11-27 21:50] structurefall commented on #67345
I'm having a very similar issue. Due to some complexities of my environment, I need kubectl to hit a proxy with an internally-signed cert whose CA is trusted in the keychain, which was resulting in the following:

`$ kubectl get pods
Unable to connect to the server: x509: certificate signed by unknown authority`

I'm getting around it for now by printing the CA with `security find-certificate -p`

[2018-11-27 21:52] saad-ali commented on #71434
Thanks @davidz627 and @msau42.

@AishSundar:

Based on David's analysis this^^^ `pd.csi.storage.gke.io` flake is not a blocker for 1.13.

And based on @msau42's analysis the root cause of this^^^ `csi-hostpath-v0` flake is not sig-storage related (and is a known issue for many months).

[2018-11-27 21:56] saad-ali commented on #71383
@mtanino, per https://github.com/kubernetes/kubernetes/pull/71474#pullrequestreview-179028930, can you create a targeted fix increasing the timeout?

Looks like marking these tests as flaky will be difficult for 1.13, but if that doesn't fix it we will need to do that.

[2018-11-27 22:01] msau42 opened #71478 "Flaky test: container start fails with "linux runtime spec devices: lstat /dev/sdc: no such file or directory""
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-slow

**Which test(s) are failing**:
[sig-storage] In-tree Volumes [Driver: emptydir] [Testpattern: Inline-volume (default fs)] subPath should support creating multiple subpath from same volumes

**Since when has it been failing**:
Flaked once on 11/23

**Testgrid link**:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e

[2018-11-27 22:14] agladboy commented on #69770
@wgliang Will this document target to 1.13 release, if so I will rebase it to 1.13-dev. Thanks!

[2018-11-27 22:15] AishSundar commented on #71426
@jberkus are you ok closing this as per recent runs?

[2018-11-27 22:50] gnufied commented on #71470
I think the root cause of this issue is - same PVC is being considered twice for resizing while fs resizing was pending on the node.  The flow is like this:

1.  User edits the PVC and requests more size (this add pvc resize progress condition)
2. flexvolume plugin controller side resize is instant and hence it returns success immediately and pv size is updated and PVC gets fs resize condition.
3.

[2018-11-27 23:05] gnufied commented on #71434
I investigated flexvolume expansion issue. More detailed comment is here - https://github.com/kubernetes/kubernetes/issues/71470#issuecomment-442248513 but basically this failure should not be a release blocker. It is not a regression but in worst case will cause addition of an extra condition to the PVC. I am working on a fix but we can get this in for 1.13.1 as well.

[2018-11-27 23:43] vishh commented on #67577
Can you remove CPU limits from your containers for now?

[2018-11-27 23:48] nikopen commented on #71450
/remove-sig scheduling

[2018-11-27 23:55] AishSundar commented on #70955
One more known issue related to CSI raciness - https://github.com/kubernetes/kubernetes/pull/71440#issuecomment-442258737

[2018-11-28 00:04] liggitt commented on #71450
Do you have controller manager logs from the affected period?

[2018-11-28 00:08] ritazh opened #71482 "Support collapse nsg rules with multiple source ranges"
**What would you like to be added**:
When creating a service with annotation: `service.beta.kubernetes.io/load-balancer-source-ranges` containing multiple source ranges, the NSG should create a single rule with the source range collapsed. Currently, each source range listed in `service.beta.kubernetes.io/load-balancer-source-ranges` results in a new rule.

**Why is this needed**:
Support creation

[2018-11-28 00:10] Random-Liu commented on #71476
runc should never check `stat /run/containerd/io.containerd.runtime.v1.linux/k8s.io/6cfb2144321818493ad276acafb2d082b3233afd19b5f6c0558f268a8a7215cb/rootfs/sys/fs/pod8534b75c-d8de-11e8-b7cf-42010a800002/volume-injector`, which of course does not exist. It should be `.../rootfs/sys/fs/cgroups/cpu/pod....` etc.

We only know that the error is thrown out by this line https://github.com/opencontainers

[2018-11-28 00:13] Marusyk commented on #24215
any updates? why it was closed?

[2018-11-28 00:14] msau42 commented on #71383
Short term fix to bump the test timeout: https://github.com/kubernetes/kubernetes/pull/71483

[2018-11-28 00:16] saad-ali commented on #71470
Thanks for digging in to this @gnufied.

Based on https://github.com/kubernetes/kubernetes/issues/71434#issuecomment-442252599 we will move this to v1.14 and document it as a known issue for Flex resize.

/milestone v1.14

[2018-11-28 00:16] saad-ali commented on #70955
Also, flex volume resize issue: https://github.com/kubernetes/kubernetes/issues/71470

[2018-11-28 00:31] AishSundar commented on #71470
@gnufied @saad-ali is there any perceived user effect  if an extra condition gets added to the PVC ? is it just ignored?

[2018-11-28 00:43] mml commented on #59829
/remove-lifecycle stale.

On Tue, Nov 27, 2018 at 4:43 PM fejta-bot <notifications@github.com> wrote:

[2018-11-28 00:45] roywangtj commented on #65743
@bboreham, got it, Thanks!

[2018-11-28 00:56] wyardley commented on #28321
/remove lifecycle-stale

[2018-11-28 00:57] wyardley commented on #28321
/remove-lifecycle stale

[2018-11-28 01:04] bsalamat opened #71486 "Unschedulable pods may block head of the scheduling queue"
**What happened**:
In large clusters, events that trigger rescheduling of the unschedulable pods are frequent. For example, in a cluster with 1000 nodes, node updates, which are often just heartbeats, may happen at an average rate of 100/s. These events trigger rescheduling of unschedulable pods. The scheduler moves unschedulable pods to its active scheduling queue when such events are observed. T

[2018-11-28 01:06] saad-ali opened #71487 "Kubelet plugin registration should retry on failures"
**What happened**:

If kubelet plugin registration fails during the registration process, the kubelet never attempts to register the socket again (assuming the error was transient), unless the socket for the driver is deleted & recreated to trigger a new registration.

**What you expected to happen**:
Maybe retry with exponential backoff when kubelet plugin registration fails instead of just loggi

[2018-11-28 01:08] #71424 closed

[2018-11-28 01:12] AishSundar commented on #71434
@davidz627 @saad-ali here's the triage link for the ```[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should support existing directory``` specifically in release blocking jobs

https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=network,storage&job=ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new&test=subPath%20

[2018-11-28 01:31] AishSundar commented on #71434
Ah this is so confusing. So many different cases with different drivers :)

[2018-11-28 01:44] areed commented on #71233
I also saw this error with the postgres:10.6 image after an upgrade from 1.9.3 to 1.11.1.

[2018-11-28 02:33] jberkus commented on #71478
fixing tags:

/kind flake
/remove-kind failing-test

/priority important-soon

[2018-11-28 02:36] jberkus commented on #71470
Fix tags:

/kind flake
/remove-kind failing-test

[2018-11-28 02:41] jberkus commented on #71426
/close

[2018-11-28 02:41] #71426 closed

[2018-11-28 02:42] jberkus commented on #71436
Is this a separate issue from the known storage tests issues?

[2018-11-28 02:45] wgliang commented on #69770
@agladboy Good job.
No, we may be planning on the next version. And we should have a lot of things to improve, we should not be able to catch up with this train of 1.13.

 :)
Thanks.

[2018-11-28 02:47] gnufied commented on #71470
The condition exists as a messaging to the user about stage of volume resizing, but there aren't any actions taken based on that. So - user will not have any usage issues with PVC or anything, guess just the messaging will be kinda confusing.  Also - the issue itself is kinda rare. For example, this test flaked only twice between 11/13 and 11/27, so most users will most likely not run into this.

[2018-11-28 02:53] houz42 commented on #64667
@chenchun, thank you, it sounds good for my case. And sorry for the late reply.

[2018-11-28 02:53] #64667 closed

[2018-11-28 02:55] houz42 commented on #64667
@resouer, it sounds good, i will try it and another approach proposed by @chenchun. Than you

[2018-11-28 04:32] nikhita commented on #66582
/remove-lifecycle stale

[2018-11-28 05:16] timchenxiaoyu commented on #67382
some problem . k8s v1.11.1

lsof  -P  -p  `pidof  kube-apiserver`  |    grep  k8s-253.215.xx.xx:10250  -c
10199

[2018-11-28 05:42] AishSundar commented on #71383
As per discussion in release burndown meeting, this is not a 1.13 blocker.

@jberkus please move this issue to 1.14 if there are no pending issues you are concerned about

[2018-11-28 05:42] AishSundar commented on #70955
Also CSI driver registartion latency - https://github.com/kubernetes/kubernetes/issues/71383#issuecomment-442161755

@saad-ali ^^

[2018-11-28 05:44] AishSundar commented on #71470
Thanks @gnufied this is now moved to 1.14

[2018-11-28 05:49] Schnitzel commented on #66811
/remove-lifecycle stale

I do have the exact same situation, some more background:

We run Web Applications which need a Redis for Caching. Redis is created via a Rolling Deployment, so if we have a change on Redis a new pod is started before the old one is deleted. The Web Application talks to the Redis via a Service, when the new Redis is there the cache is empty and it will be recreated. So no

[2018-11-28 05:51] yuki90 opened #71494 "Don't need to update the deletionTimestamp if the pod is already in deleting phase"
Currently if one pod is stuck in deleting status and we delete the pod again, the deletionTimestamp will be updated to the latest timestamp.

It is better to keep the deletionTimestamp as when the first delete action taken. Then we can use it to trace how long the pod is stuck in deleting phase.

/sig api-machinery

[2018-11-28 05:55] AishSundar commented on #71423
@grayluck we plan to life code freeze for 1.13 tomorrow,11/28 5pm PST. If there is a new regression in 1.13 thats increased the flakes and needs addressing we need to get the fix in asap. Can you please let us know if this is a blocker for 1.13 by tomorrow, 11/28, morning 10am PST ?

[2018-11-28 06:00] uablrek commented on #61319
Maybe it is the `--node-ip=` param to kubelet that does it? I will make a test today.

[2018-11-28 06:17] darkworon commented on #66545
/remove-lifecycle stale

[2018-11-28 06:19] darkworon commented on #66545
Very important thing for critical pods, using PVC. Maybe possible any workaround?

[2018-11-28 06:37] yue9944882 commented on #71494
[https://github.com/kubernetes/kubernetes/blob/5dfe48b0ff464ca1f11805079476e72d3fe8ece0/staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go#L114](https://github.com/kubernetes/kubernetes/blob/5dfe48b0ff464ca1f11805079476e72d3fe8ece0/staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go#L114)

iiuc the deletion timestamp wont be updated unless you requests w/ a shorter grace period. how you

[2018-11-28 06:40] yue9944882 commented on #71459
@vengam plz move this issue to the repo of ur ingress controller instead. it's beyond the scope of kubernetes main repo.

/close

[2018-11-28 06:40] #71459 closed

[2018-11-28 07:46] bsalamat commented on #71486
@hex108 Yes, we basically need a [back-off mechanism for the scheduling queue](https://github.com/kubernetes/kubernetes/pull/57057). Another approach is to [differentiate between node heartbeats vs. actual node updates](https://github.com/kubernetes/kubernetes/issues/70316). We will pursue both of these approaches.

[2018-11-28 07:58] rossawan opened #71498 "@kubernetes/sig-Testing-test-failures,proposals: Worker node in "NotReady" state on master node in Kubernetes."
We have 1 master and 1 worker node.
NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.5 LTS"
--------------------------------------------
kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.2",
---------------------------------------------------------------------------------
Docker Version
Client:
 Version:      17.03.2-ce
 AP

[2018-11-28 08:16] rossawan commented on #71498
Sig-label done. Please help me on this issue. Thanks.

[2018-11-28 08:17] nikhita commented on #71435
This is fixed on master, but I can reproduce it on 1.11.

Posting a custom resource with a JSON body of `{}`:

on master:

[code]

on 1.11:

[code]

[2018-11-28 08:36] yue9944882 commented on #71435
[https://github.com/kubernetes/kubernetes/blob/5dfe48b0ff464ca1f11805079476e72d3fe8ece0/staging/src/k8s.io/apiextensions-apiserver/pkg/crdserverscheme/unstructured.go#L50](https://github.com/kubernetes/kubernetes/blob/5dfe48b0ff464ca1f11805079476e72d3fe8ece0/staging/src/k8s.io/apiextensions-apiserver/pkg/crdserverscheme/unstructured.go#L50)

we are transforming all non-status error into 500 status

[2018-11-28 08:42] SWBSanjeewa opened #71502 "vsphere cloud provider dynamic volume provisioning fails with message "No VM found""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig sig-vmware

**What happened**:
when try to create pvc using dynamic volume provisioning using storageclass, the status of the pvc is pending forever and below is the kubectl describe pvc output looks like

Events:
  Type       Reason              Age               From                         Message
  Warning    ProvisioningFailed  9s (

[2018-11-28 08:46] jethrogb commented on #62788
Another fantastic Kubernetes issue closed without resolution

[2018-11-28 08:58] yue9944882 commented on #71435
@nikhita instead of fixed, it's rather been shadowed by #70087

[https://github.com/kubernetes/kubernetes/blob/5dfe48b0ff464ca1f11805079476e72d3fe8ece0/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd.go#L80-L85](https://github.com/kubernetes/kubernetes/blob/5dfe48b0ff464ca1f11805079476e72d3fe8ece0/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/et

[2018-11-28 08:59] BSWANG commented on #66607
/remove-lifecycle stale

[2018-11-28 09:02] Xnyle opened #71505 "kubeadm init fail 90% of the time on aarch64 (rock64) due to TLS timeouts"
**What happened**:

When running kubeadmin (versions tested 11.5 to 12.3) init on a vanilla debian aarch64 the process times out/fails most of the times.

Why: I guess because kube-apiserver is hammerd with requests the whole time by kube-scheduler and kube-controller-manager pods. kube-apiserver sits at 100% cpu the whole time and the querying pods get TLS connection timeouts while the etcd pod i

[2018-11-28 09:14] lahsivjar opened #71506 "Configurable config map size"
**What would you like to be added**: As per commit https://github.com/etcd-io/etcd/commit/675b837d6d3396decd2a353b13b8435a116aa507 it seems etcd allows for configurable limit for request size but the max size is restricted in kubernetes side: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L4387

Can it be made configurable similar to etcd?

**Why is this needed**: To h

[2018-11-28 09:14] antoineco commented on #71344
@andyzhangx I can still observe this issue after applying this patch. Should I open a new issue or can we reopen that one?

[2018-11-28 09:14] alexpirine commented on #62788
/open

[2018-11-28 09:15] alexpirine commented on #62788
/reopen

[2018-11-28 09:16] alexpirine commented on #62788
Who can be assigned to this?

[2018-11-28 09:21] pontiyaraja opened #71507 "Remove privileged access from [sig-storage] HostPath test"
From the summary of the PR #69935

 [sig-storage] HostPath should give a volume the correct mode [NodeConformance] [Conformance]

 **may not** need to be labeled as [Privileged] as there is no privileged access requirement. (test is passing on SELinux enabled environment when Privileged=false in PodSpec.)

_Originally posted by @mgdevstack in https://github.com/kubernetes/kubernetes/pull/69935#iss

[2018-11-28 09:28] omri86 opened #71508 "Admission controller fails on timeout when failurePolicy set to Ignore"
Trying to set up a validating admission webhook on my GKE cluster using the following yaml:

[code]

And my server is still down, I can't run any pod on my cluster, getting the following error:

[code]

Even when I removed the `failurePolicy` field from my yaml file (which is supposed to default to `Ignore` as mentioned in the [official doc](https://kubernetes.io/docs/reference/generated/kubernete

[2018-11-28 09:58] yue9944882 commented on #71508
this will happen when calling webhook exceeds request timeout and the cause is that ur webhook is not responding.

[2018-11-28 10:06] omri86 commented on #71508
@yue9944882 Thanks for your reply.

I know that this happens because my webhook is not responding *but* from what I understand the `failurePolicy` field defines what happens in this kind of result:
[code]

So when setting it to `Ignore` - the pod should be up and running even though the webhook is not responding, am I wrong?

[2018-11-28 10:08] BrianChristie commented on #69676
This has been discussed in #sig-instrumentation on Slack and was brought up on the sig-node call yesterday to determine a path forward.

There are two requests:

1. Have an OOMKilled event tied to the Pod (as noted by @sylr)
2. Have a count of termination reason by Pod in the Kubelet (or cAdvisor?), exposed to Prometheus as a monotonically increasing counter

To summarize what's currently availabl

[2018-11-28 10:15] yue9944882 commented on #71508
no, actually, it's ur CREATE request failing not ur admission request, which is to say, ur CREATE request failed before apiserver getting know and ignore that response from ur webhook.  you can workaround by setting a shorter timeout in ur webhook i suppose

[2018-11-28 10:17] yue9944882 commented on #71508
@kubernetes/sig-api-machinery-feature-requests do you think about adding a timeout option to webhook configuration?

/kind feature

[2018-11-28 10:40] omri86 commented on #71508
@yue9944882  Thanks again for your help - but still I'm not sure I follow.

I've set up the webhook to some address, then I'm trying to send the CREATE request to that should arrive to that webhook - what you're saying is that as long as the webhook is down, every CREATE request sent will fail?
This seems a bit odd - is there any way around this? how will reducing the timeout helps in this scenari

[2018-11-28 11:03] shivakrishna9 commented on #70925
Is this issue still open?

[2018-11-28 11:10] nikopen commented on #71450
it was down for about 16 hours, and the conman logs are super verbose/spammy, about 300k per day... trying to filter out the junk and find something relevant.

grepping for "quota" only greps the "exceeded quota" messages of the admission controller not allowing new pods to be scheduled

[2018-11-28 11:30] dims commented on #62788
/remove-lifecycle rotten

[2018-11-28 11:31] dims commented on #62788
/sig node

[2018-11-28 11:39] mlmhl commented on #70316
The main reason for this problem is `kubelets`/`nodes` update their status too frequently and most of these updates are heartbeats without any meaningful change. Recently sig-node introduces a new [node heartbeat mechanism](https://github.com/kubernetes/community/blob/master/keps/sig-node/0009-node-heartbeat.md) to alleviate this problem. With this mechanism, kubelet will split heartbeat and node

[2018-11-28 12:11] amimof commented on #36222
OMG thank you!

[2018-11-28 12:31] yue9944882 commented on #55890
hitting this 😞

[2018-11-28 12:36] mikedanese commented on #70925
We are waiting for code freeze to be over before merging the fix.

[2018-11-28 12:48] cofyc commented on #71438
I've found one race which causes some flaky tests, e.g. [container not found ("write-pod")](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/32347#sig-storage-persistentvolumes-local-volume-type-blockfswithoutformat-two-pods-mounting-a-local-volume-one-after-the-other-should-be-able-to-write-from-pod1-and-read-from-pod2).

In `twoPodsReadWriteTest`, a volume is use

[2018-11-28 12:53] brancz commented on #69676
cc @kubernetes/sig-node-feature-requests

[2018-11-28 13:20] #70293 closed

[2018-11-28 13:38] mshaverdo opened #71510 "unusable option --deployment-controller-sync-period"
**What happened**:
Kube-controller-manager option `--deployment-controller-sync-period` seems completely unused in the code. All occurrences of related variable `DeploymentControllerSyncPeriod` are write-only or declaration:

[code]

**What you expected to happen**:
Maybe, it's better to completely remove this option?

/kind bug

[2018-11-28 13:40] gaorong commented on #71400
Maybe I didn't explain it clearly, I'm sorry for my poor English.

There is no compatibility problem in my opinion. Kubelet doesn't know the flexvolume path now. this is why the error "can't find plugin" is always reported after reconstruction, we can reproduce this issue easily. After this fix, everything will be ok.

[2018-11-28 13:59] tamalsaha commented on #64984
/remove-lifecycle rotten

[2018-11-28 14:11] mshaverdo commented on #71510
/sig api-machinery

[2018-11-28 14:15] nikopen commented on #71450
Can't fully verify the exact time when resourcequota froze, but this sequence of log lines are very near to it:

about 20+ lines of this:
[code]

then this failing for every existing API:
[code]
etc.

[code]

[code]

Failed to watch resourcequota:
[code]

leader election failure:
[code]

[code]
etc for all APIs again

[code]

waiting for caches:
[code]

@liggitt

[2018-11-28 14:15] mariantalla commented on #71268
Some fresh failures (`connection refused`) started overnight:

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-stable1-beta-upgrade-cluster-new/896

[2018-11-28 14:16] nikopen commented on #71450
after these events, the only thing not working was essentially the ResourceQuota controller, everything else looked fine

[2018-11-28 14:34] liggitt commented on #71450
do you have API server logs for a few seconds before and after `14:44:00.895058`? it looks like something significant happened with the apiserver, first being unavailable, then returning errors about default RBAC roles not being found. was the API server restarted as well when the issue was resolved, or just the controller manager?

a potential deadlock was fixed in the GC controller in 1.11 aroun

[2018-11-28 14:41] welemon opened #71511 "kubectl create support cronjob"
**What would you like to be added**:
[code]
**Why is this needed**:
Because of https://github.com/kubernetes/kubernetes/pull/68132
`kubectl run` is not recommended to create cronjob (with `--schedule` flags) anymore.
But there is no imperative command available for `kubectl create` to create cronjob.

/sig CLI

/kind feature

[2018-11-28 14:49] nyetwurk commented on #24744
I got this warning:
[code]

[2018-11-28 14:50] ggaurav10 commented on #62942
Hi,
I have been trying to enable `net.ipv4.ip_forward` in a statefulset by setting right values in securityPolicy of the podSpec part. I have created psp, clusterrole and the required clusterrolebinding to allow this. When I create the statefulset, evrything goes smoothly. However, when i check the value of `net.ipv4.ip_forward` after exec-ing into the container, I still see the value as 0.

The i

[2018-11-28 15:15] ravisantoshgudimetla commented on #71234
Thanks for explanation @liggitt @k82cn @bsalamat. As I told earlier, I am fine with `system-node-critical` pod having explicit `NoExecute` taint but we need to document that `system-node-critical` could be evicted but not preempted. I will created a docs PR for it.

Thanks @Huang-Wei for creating the issue. I will close this now.

/close

[2018-11-28 15:15] #71234 closed

[2018-11-28 15:32] styk-tv commented on #70601
I spent last 2 days with Keycloak (+Ldap) and K8s setup. Same exact configuration in k8s 1.9 worked flawlessly. Version below is producing
[code]
version:

[code]

[2018-11-28 15:47] krancour commented on #66527
Fast forward four months and I've implemented several controllers. I still think this is an issue, but I'm going to back-pedal a bit and re-frame the root cause.

Citing a specific example from the official sample controller:

[code]

The need for this isn't explained well. Is this some kind of optimization that perhaps doesn't belong in a basic example? Or is it 100% necessary-- in which case the

[2018-11-28 15:51] krancour commented on #66527
And to be fair, some of the optimizations and advanced uses demonstrated in the example are useful t me now that I kind of understand what's going on... but they were _very_ distracting when I was first cutting my teeth on controllers, and that's what this thread is really about-- making this topic more approachable for novices.

[2018-11-28 16:01] seh commented on #71466
Here are further findings from more testing today, this time with only a single master machine.

The controller manager log file is where all the action takes place. I see the daemon controller complain frequently that it wasn't able to update the status for the "calico-node" and "kube-proxy" _DaemonSets_:
[code]
Which other controllers write to _DaemonSets_? Is this controller racing against itse

[2018-11-28 16:07] PatrickLang commented on #68061
/remove-lifecycle stale

[2018-11-28 16:29] gnufied commented on #71476
/sig storage

[2018-11-28 16:32] saad-ali commented on #71433
@dims will do!

[2018-11-28 16:39] nikopen commented on #71450
There are 5 apiserver replicas, and it seems that at 14:40:02 they started restarting on a rolling update fashion - they're mirror pods so it wasn't triggered by a deployment, and not sure what triggered that, but there's loglines on shutting down and bringing up each apiserver very quickly (so no node restarts), then proceeding on the next one.

14:44 is during bringing up the 4th apiserver which

[2018-11-28 17:06] msau42 commented on #71383
Ok looks like the test still flaked.  Looking at https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/22043, the mount succeeded after a minute and proceeded to subpath processing, which (correctly) failed.  However, for some resaon, the test is not seeing the subpath event and still failed after 4 minutes.

On kubelet, subpath processing failed after a minute and

[2018-11-28 17:18] lbernail opened #71514 "In IPVS mode, kube-proxy doesn't handle graceful termination of UDP flows"
**What happened**:
On pods with a lot of DNS traffic, many DNS queries to the DNS ClusterIP fail during a rolling update of the DNS pods (in our case, we use coredns).

**What you expected to happen**:
Almost all DNS queries should succeed during a rolling update.

**How to reproduce it (as minimally and precisely as possible)**:
* Create a coredns (this would probably be the same with kube-dns) s

[2018-11-28 17:18] lbernail commented on #71514
/aera ipvs
/sig network

[2018-11-28 17:32] thockin commented on #27114
@chenopis might be able to help with docs.

I'll take a look at the API change.  I dislike the need for Kubelet to store state, and we'll need to be VERY VERY careful about defining the guarantees here, doubly so in the face of version skew.

[2018-11-28 17:32] uablrek commented on #61319
Confirmed;
* Without `--node-ip=` specified to `kubectl` and ipv4 addresses first in `/etc/hosts` the nodes gets ipv4 addresses
* Same as above but ipv4 addresses **last** in `/etc/hosts` the nodes gets ipv6 addresses
* If `--node-ip=` is specified with an ipv6 address the node gets that address regardless of `/etc/hosts`

The first/last thing in `/etc/hosts` is resolver specific I guess. I use li

[2018-11-28 17:35] uablrek commented on #61319
@leblancd Do you think this is worth fixing in ipv6-only or can it wait to dual-stack is supported?
If this is not fixed it should be a requirement to specify `--node-ip=` to kubelet if this is not fixed IMO.

[2018-11-28 17:39] thockin commented on #27114
Also to add to @lavalamp's excellent explanation: you can also add a custom HTTP server on a different port, as a container in your pod.  Pods are built EXACTLY for this!  This custom HTTP server can do anything you need - merge other health signals, execute periodic commands and cache results, check with other control-planes for advice, or even generate random numbers.

Then you can point your pr

[2018-11-28 17:57] lavalamp commented on #27114
Yeah, that's usually better, if you can do it for your workload. One especially nice thing is that you can test multiple versions of your health checking by putting them in parallel containers. Health checking can be very tricky to test, depending on the rarity of the condition you want to catch and how easy it is to reproduce without the actual thing you want to monitor.

One case where parallel

[2018-11-28 18:01] saad-ali opened #71517 "Allow CSI Drivers that support BOTH 0.x and 1.x to use old plugin dir"
**What happened**:
CSI allows 0.x drivers only in the deprecated kubelet plugin dir.
CSI allows 1.x drivers only in the new kubelet plugin dir.

If a driver implements both 0.x and 1.x (which is unlikely since the side car containers do not support this), kubelet requires the driver live in new kubelet plugin dir.

So CSI drivers that implement both 0.x and 1.x if they want a seamless transition b

[2018-11-28 18:15] drags commented on #71305
@kubernetes/sig-network-bugs

[2018-11-28 18:20] NickUfer opened #71518 "Kubelet with DynamicKubeletConfig fails to start on node reboot"
**What happened**:
The kubelet service configured with a dynamic kubelet config fails to start on machine reboot

**What you expected to happen**:
The kubelet should start properly

**How to reproduce it (as minimally and precisely as possible)**:
Use kubeadm to initialize a single node cluster with the feature gate DynamicKubeletConfig

**Anything else we need to know?**:
Workaround for this issu

[2018-11-28 18:23] liggitt commented on #71517
discussed in the burndown meeting, please go ahead and prepare the PR

[2018-11-28 18:31] jberkus opened #71519 "Flake: sig-storage] [Serial] CSI Volumes CSI plugin test using CSI driver: gcePD [Serial] should provision storage"
**Which jobs are failing**: Various upgrade and downgrade jobs

**Which test(s) are failing**: [sig-storage] [Serial] CSI Volumes CSI plugin test using CSI driver: gcePD [Serial] should provision storage

**Since when has it been failing**:

it's been a flake as long as we have history (to September), although it became more frequent around 10/3: https://storage.googleapis.com/k8s-gubernator/triag

[2018-11-28 18:32] jberkus commented on #71519
/remove-kind bug

[2018-11-28 18:35] MrHohn commented on #71423
Great observation. I checked on the commits around that date but wasn't able to find any change that may cause regression. Hasn't been able to reproduce the same failure locally as well.

[2018-11-28 18:49] jingxu97 commented on #71400
@gaorong maybe it is easier if we can talk directly. You can email me your contact information jinxu at google.com
Thanks!

[2018-11-28 18:55] saad-ali commented on #65392
I believe @jingxu97 has a proposal she put together for addressing this. It requires changes on the node side, so ideally we need sig-node to pick it up.

/milestone v1.14

[2018-11-28 18:55] Huang-Wei commented on #70316
@bsalamat @mlmhl Maybe we can try comparing old and new nodes after stripping their heartbeat info, like this:

[code]

[2018-11-28 18:56] AishSundar commented on #71517
/sig storage
/priority critical-urgent
/milestone v1.13

[2018-11-28 18:56] AishSundar commented on #71517
@dougm @cjwagner we need to wait for a fix for this before lifting code freeze

[2018-11-28 19:13] dmfenton commented on #67345
@soltysh @seans3 Is there anything I can do to help this issue move towards resolution? Thank you.

[2018-11-28 19:36] jberkus opened #71521 "Failing Test: [sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should be able to switch between HTTPS and HTTP2 modes"
**Which jobs are failing**: gce-cos-1.13-ingress

**Which test(s) are failing**:  [sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should be able to switch between HTTPS and HTTP2 modes

**Since when has it been failing**: 11/27, around 9am

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-1.13-blocking#gce-cos-1.13-ingress

**Reason for failure**:

Timeout

[code]

**An

[2018-11-28 19:37] jberkus commented on #71521
/milestone v1.13

[2018-11-28 19:40] jberkus commented on #71521
According to triage, this is a fairly new flake, so it's more likely than not representative of 1.13-related breakage.  https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=should%20be%20able%20to%20switch%20between%20HTTPS%20and%20HTTP2%20modes

[2018-11-28 19:57] MrHohn commented on #71521
cc @agau4779

[2018-11-28 20:03] dims commented on #71521
@jberkus looks like the same flake shows up in older versions too. right?

https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-cos-1.11-ingress
https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gce-cos-1.12-ingress

1.10 does not have the same test ...

[2018-11-28 20:04] msau42 commented on #71519
Looking at the linked failure, the pod failed to come up because of:
[code]

This error should have been fixed by https://github.com/kubernetes/kubernetes/pull/71095, which merged 11/16.

This particular test job is downgrading the cluster to 1.12, which will have this bug.  We could look into backporting #71095 if necessary.

[2018-11-28 20:07] MrHohn commented on #71521
Given that, seems likely caused by a recent change on GCE side. Not sure what changed yet.

[2018-11-28 20:11] jberkus commented on #71521
Oooh, well spotted.  I'd guess a problem with GCE's support of HTTP2.  Let's see if we can raise someone on the GCE side.

[2018-11-28 20:17] fOO223Fr commented on #24744
@nyetwurk you got this warning because when you first created the resource you didn't use --save-config flag [refer](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#in-place-updates-of-resources) here for detailed understanding of three way comparison which kubectl apply does

[2018-11-28 20:22] #71517 closed

[2018-11-28 20:22] msau42 commented on #71519
I see the test in the upgrade suite stopped failing after 11/21, which runs against 1.14 nodes.

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2636
I took a look at the last failure and saw:
[code]

I think this was the same issue as described in https://github.com/kubernetes/kubernetes/issues/70760#issuecomment-438863272, but the date of

[2018-11-28 20:24] msau42 commented on #71519
Oh actually, I think the upgrade suite was failing until 11/21, because of the backwards compatibility issues that were fixed in https://github.com/kubernetes/kubernetes/pull/71314

[2018-11-28 20:35] saad-ali commented on #70955
This issue is an caused by an external sidecar container (driver-registrar). Once it is fixed on the external sidecar, the issue will not exist with 1.13.0. So it does not make sense to capture it in Kubernetes release notes.

Instead the release notes for the external-container should capture this (I'll take care of that).

[2018-11-28 20:37] saad-ali commented on #70955
This is not actually a raciness issue. Regardless, the actual issue from 71440 is already captured in the release notes under `if kubelet plugin registration for a driver fails, kubelet will not retry...`

[2018-11-28 20:39] marpaia commented on #70955
So, thanks to @saad-ali, CSI raciness is represented in the notes and CSI driver registration latency does not require a known issue note.

In working with @gnufied, he came up with this note, which I've added to the known issues section of the doc:

[2018-11-28 20:41] saad-ali commented on #70955
LGTM

[2018-11-28 20:49] marpaia commented on #70955
All known issues up until this point are represented in the PR for the "final" release notes doc here: https://github.com/kubernetes/sig-release/pull/386

[2018-11-28 21:02] #65471 closed

[2018-11-28 21:05] matthyx commented on #27114
We do have something similar that is being deployed inside the same Spring context as the application, and we allow developers to write custom checks for that purpose... of course the drawback is that it takes as long as the application to be up.

I like the idea of a separate container within the same pod that will start faster, but what will happen if that health container dies:
- liveness: my a

[2018-11-28 21:06] wenjiaswe commented on #67974
/remove-lifecycle stale

[2018-11-28 21:07] wenjiaswe commented on #67974
@zoumo Jun, were you able to reproduce this issue? Do you also see if in v1.11?

[2018-11-28 21:09] wenjiaswe commented on #67974
/assign
/cc @roycaihw

[2018-11-28 21:14] ravisantoshgudimetla commented on #70180
Ohh sorry for the late reply, I tried this on Monday with race enabled and still not able to reproduce. @liggitt were you recommending me to run entire integration tests with race enabled?

[2018-11-28 21:21] AishSundar commented on #71521
/cc @agau4779

Adding Ashley who is trying to repro the issue locally.

[2018-11-28 21:30] MrHohn commented on #71521
/assign

[2018-11-28 21:38] jamstar commented on #66170
i just hit this. its very annoying and took me a while to figure out what/why it broke.

[2018-11-28 22:00] yastij commented on #65392
@jingxu97 - can we sync around this proposal, any KEP out there yet ?

[2018-11-28 22:11] RRAlex commented on #70806
So here is the new dump I've got under 1.12.3:

[code]
Does it make more sense to anyone and is it pointing to the reason for the stack dump?

[2018-11-28 22:14] wangzhen127 opened #71526 "Use Node-Problem-Detector v0.6.0 on GCI"
Node-Problem-Detector recently has a new release [v0.6.0](https://github.com/kubernetes/node-problem-detector/releases/tag/v0.6.0). We should start using the new version. This new version contains several new detection plugins. It also fixed a custom plugin bug. For more details, please see the NPD v0.6.0 release notes. We also plan to cherry pick the new NPD version to release-1.10, release-1.11,

[2018-11-28 22:17] wangzhen127 commented on #71526
/assign @wangzhen127

[2018-11-28 22:20] liggitt commented on #70180
not really, just trying to think of other differences between the standalone test and the CI env. might try running with race detection on with your local machine under load, in case that affects timing

[2018-11-28 22:32] davidz627 opened #71528 "Storage XFS volumes should be mountable test does not verify actual formatted filesystem"
This test does not verify what filesystem was actually formatted on the device. If we just always format `ext4` (would be a bug), all these "volumes should be mountable" tests will pass no matter what filesystem we pass in even if it is not supported.

/sig storage
/kind bug

/cc @msau42

[2018-11-28 22:35] msau42 commented on #71528
cc @mkimuram I think you opened a similar issue?

[2018-11-28 22:42] dims opened #71530 "Single source for DEBs and RPMs"
We have duplicate code in k/release and k/k for deb(s) and rpm(s).

The code in k/release is built using:
[code]

The code in k/k is built using:
[code]

Note that the code in k/release can sign the debs and rpms, while the one in k/k doesn't (AFAICT).

Since k/k is versioned and k/release is not, we need to drop the code in k/release and stick to the one in k/k. More specifically we need to chang

[2018-11-28 22:53] bsalamat commented on #70316
@Huang-Wei @mlmhl
I think #70366 that @mlmhl had sent earlier is more efficient. However, that PR does not filter out `Condition.LastHeartBeatTime`. In Wei's code, the heartbeat time is removed correctly. I think we should fix this issue and resubmit that PR.

[2018-11-28 23:02] Huang-Wei commented on #70316
@mlmhl could you resubmit a PR to:

- disregard `Condition.LastHeartBeatTime` in conditions comparison: https://github.com/kubernetes/kubernetes/pull/70366/files#diff-ec65f09af0e26d93696d5af4b593b764R1115
- and disregard timestamp in taints comparison: https://github.com/kubernetes/kubernetes/pull/70366/files#diff-ec65f09af0e26d93696d5af4b593b764R1093

[2018-11-28 23:04] erikwilson commented on #65109
I have been running into similar issues with trying to figure out how to setup custom authentication to GKE/EKS/AKS clusters, but since these providers are likely using webhook authentication themselves to provide normal user access there is no way for me effectively do the same. I doubt they have little incentive to provide a delegating webhook service since they want you to use their own auth pr

[2018-11-28 23:12] erikwilson commented on #65109
/remove-lifecycle rotten

[2018-11-28 23:16] liggitt commented on #65109
I would not expect managed environments like those to be willing to give up reliable identity for the reasons described in https://github.com/kubernetes/kubernetes/issues/65109#issuecomment-400902647

[2018-11-28 23:38] erikwilson commented on #65109
I am not entirely sure what you mean by reliable identity, I would imagine storing identity information in the cluster to be fairly reliable and auditable, and namespacing tokens to webhook auth could prevent information leakage and also provide an auditable log.

The managed clusters should exist to make deploying and using Kubernetes easier, when the management system necessarily limits customer

[2018-11-28 23:42] saad-ali commented on #71383
@mkimuram can you PTAL at this

[2018-11-28 23:45] msau42 commented on #71383
Is there a way to check if events are overloaded and not able to handle new events?  The MountVolume retries while the driver is not registered is very frequent and could have overloaded the event server.

[2018-11-28 23:46] mkimuram commented on #71528
@msau42 @davidz627

I think https://github.com/kubernetes/kubernetes/pull/70823 should address this issue.

[2018-11-28 23:48] saad-ali commented on #71383
Checking for the existence of an event seems like the wrong way to test this. Would checking pod status alone be insufficient? Ultimately that is what we really care about.

[2018-11-28 23:49] MrHohn commented on #71521
We reproduced the issue locally and seems like there are some issues on the GCE side --- we confirmed all k8s components are acting properly but the test backend is observeing inconsistent HTTP version on in-coming requests. We've raised an internal issue for this.

This shouldn't block the release though given it is on GCE side.

[2018-11-28 23:53] mkimuram commented on #71528
Also, to avoid a situation like need to skip specific filesystem for specific environment as explained in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/192 , csi gce driver will need to add skip like  https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/drivers/in_tree.go#L1135 .

[2018-11-28 23:55] msau42 commented on #71383
Checking for the specific event guarantees that we are failing with the correct error.  But perhaps events are not reliable enough to depend on.  Checking if the Pod never came up running would probably reduce the flakes but could potentially mask false negatives. cc @justinsb for any thoughts.

[2018-11-28 23:56] saad-ali commented on #70911
/milestone v1.14

[2018-11-28 23:59] davidz627 commented on #71528
closing due to duplicate of https://github.com/kubernetes/kubernetes/issues/70822

[2018-11-28 23:59] #71528 closed

[2018-11-29 00:14] krzyzacy commented on #71401
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-beta/500 finished (finally!)

/close

[2018-11-29 00:14] #71401 closed

[2018-11-29 00:15] msau42 opened #71534 "Failing test: [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] should work after update"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] should work after update

**Since when has it been failing**:
Since the tests were added in https://github.com/kubernetes/kubernetes/pull/70578

**Testgrid link**:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci

[2018-11-29 00:15] msau42 commented on #71534
/assign @davidz627

[2018-11-29 00:29] davidz627 opened #71536 "GCE PD CSI "should work after update" test failing"
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4399

**Which jobs are failing**:
sig-release-master-blocking

**Which test(s) are failing**:
[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] should work after update

**Since when has it been failing**:
Since the test was introduced

**Testgrid link**:
[sig-storage] CSI Volumes [Driver: pd.c

[2018-11-29 00:39] msau42 commented on #71536
oops i opened https://github.com/kubernetes/kubernetes/issues/71534 too

[2018-11-29 00:42] msau42 commented on #71534
PR is here: https://github.com/kubernetes/kubernetes/pull/71537

[2018-11-29 00:49] msau42 commented on #71534
Short term fix: move pd driver secret creation to when we deploy the pd driver
Long term fix: Move the update test into csiTestSuites so it can go through all the common checks/functions cc @jsafrane

[2018-11-29 00:51] dixudx commented on #71042
Prior to v1.10, the CLI would try to delete and recreate without any limitations if forced. And v1.10 added a check on conflict error when forced.  v1.12 started to add another check on invalid errors.

@liggitt Agree. I will suggest we should return more specific errors from apiserver. For the second case, we should return `BadRequest` to indicate that. WDYT?

[2018-11-29 00:54] msau42 commented on #71534
#71536 will track the short term fix.

Let's use this to track the long term fix
/assign @jsafrane
/unassign @davidz627

[2018-11-29 01:04] wavezhang commented on #71308
can we get Pod CIDR ```kubeadm-config``` configmap?

[2018-11-29 01:09] jberkus commented on #71153
This test just failed on both serial and soak today.

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cos-k8sbeta-serial/1668
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-beta/500

Might be random, but it does seem (per Triage as well) that failures are getting more frequent.

[2018-11-29 01:11] caseydavenport commented on #57130
I think this would be great to do. I think the way this is done today is a common point of confusion I see regularly for folks getting into Kubernetes networking.

I think something like what Tim suggested above would be a decent approach, mainly because it makes a clear point that IPAM is a responsibility of a network plugin / extension, and not part of Kubernetes itself.

Roughly:

- A CNI IPAM

[2018-11-29 01:13] jberkus commented on #71153
Changing to flake

/kind flake
/remove-kind failing-test

[2018-11-29 01:19] cblecker commented on #65928
/remove-lifecycle rotten

[2018-11-29 01:22] liggitt commented on #71042
I don't think that is an appropriate response, given the definition of the 400 http status code. 422 still seems correct for both, they are simply different causes

[2018-11-29 01:23] jberkus opened #71541 "Flake: [sig-scheduling] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]"
**Which jobs are failing**: soak-gce-gci-1.13, others

**Which test(s) are failing**: [sig-scheduling] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]

**Since when has it been failing**:

Rougly forever.  #63768 shows how this test was flaking back during the 1.11 cycle.  There's been no sudden increase in frequency, but a test that flakes roughl

[2018-11-29 01:39] AishSundar commented on #71534
for 1.13, we decided to revert the original test PR https://github.com/kubernetes/kubernetes/pull/71539

[2018-11-29 01:50] mysunshine92 commented on #71518
/sig node

[2018-11-29 01:58] MrHohn commented on #71423
Good catch on that, so the recent increase of flakiness likely is not caused by 1.13 changes so we shouldn't block release on this either.
cc @bowei

[2018-11-29 02:00] MrHohn commented on #71423
But we will be looking deeper into the root cause.

[2018-11-29 02:21] NickrenREN commented on #65392
@jingxu97, some other guys and i are talking about the Node Fencing implementation offline, will send the proposal out when ready

[2018-11-29 02:39] tyagiamreesh commented on #64002
I am also not able to delete namespace, even after editing `kubectl edit ns <my-namespace>`. When I run edit command again, kubernetes value under finalizers appers again.

[2018-11-29 03:14] kinglionsoft opened #71546 "Killing container after Started Container on Windows Server 2019"
**What happened**:
I create an image named aspnet-api-demo, which can run on Windows Server 2019. But on Kubernetes, the container was killed as soon as started and could not be started forever.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versio

[2018-11-29 03:19] kinglionsoft commented on #71546
/sig node

[2018-11-29 03:56] prbinu commented on #62920
@filmil
@ericchiang

K8S server version:
[code]

Getting this error with Azure OIDC token with distributed claims:

[code]

It seems like Azure Graph REST API returns non-200 HTTP status. I think it is because of  invalid “access token”. I’m not sure whether we are passing “access_token” or “id_token”

Azure doc says:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-beh

[2018-11-29 04:01] yue9944882 commented on #70806
[https://github.com/kubernetes/kubernetes/compare/v1.12.3...release-1.12](https://github.com/kubernetes/kubernetes/compare/v1.12.3...release-1.12)

@RRAlex 😞apologise, it didn't get into 1.12.3. (i thought it would). if you don't feel like waiting until next release, how about building ur own apiserver from release-1.12 HEAD as @lavalamp suggests? (run `make release` under this project)

[2018-11-29 04:09] #64734 closed

[2018-11-29 05:13] yue9944882 commented on #71508
trying to explain why your requests failed. the `failurePolicy` defines how we deal w/ responses returned from webhooks, while apiserver doesn't receive anything if the webhook is not responding so the `failurePolicy` didn't work. currently calling webhooks doesn't have a timeout but we have a __generic timeout__ (defaulted to 60s) for all in-coming requests which is the cause why you can't run an

[2018-11-29 05:41] liggitt commented on #71508
It should work. A failure policy of ignore should fail open on timeout or other call errors

[2018-11-29 05:44] #60825 closed

[2018-11-29 05:57] yue9944882 commented on #71508
then we need a proper timeout here

[https://github.com/kubernetes/kubernetes/blob/c2d93cb1b231b5d2ec58d722fc6d34719a88e3a7/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go#L167-L168](https://github.com/kubernetes/kubernetes/blob/c2d93cb1b231b5d2ec58d722fc6d34719a88e3a7/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go#L167-L168)

[2018-11-29 06:45] Pingan2017 commented on #71511
/assign

[2018-11-29 06:51] lixianyang commented on #70082
So, what's the suggestion of etcd version in 1.12.x ? 3.2.24 ?

[2018-11-29 06:56] Pingan2017 commented on #71511
i wanna work on this. give me several days

[2018-11-29 07:31] #70033 closed

[2018-11-29 07:35] #69804 closed

[2018-11-29 07:35] Celestialdeath99 commented on #64924
I am having the same issue. I am able to set this for most pods, and then it works, but there are some that are temporarily created when a pipeline for a CI job is executed on the cluster. I do not have control over that part of it so I cannot manually add the spec to the have the ndot value be 1. How can I override it globally and make the default be 1 for every new pod?

[2018-11-29 07:57] mlmhl commented on #70316
@bsalamat  @Huang-Wei  Thanks for all your advice, a new PR is submitted: #71551

@Huang-Wei This PR does not include your second suggestion(disregard timestamp in taints comparison) as I'm not sure if `Taint.TimeAdded` can be changed when node updating. If it can be changed, I will add this filter later, otherwise I think we can keep the current implementation to make the compare operation simple

[2018-11-29 07:59] MansoorMajeed commented on #54567
/remove-lifecycle stale

[2018-11-29 08:29] HackToHell opened #71567 "CRI log format needs to define maximum file name length better."
I recently ran into an issue with Fluentd being unable to buffer logs from kubernetes because the length was more than the OS maximum. https://github.com/fluent/fluentd/issues/2195

This might be a problem even in the newer CRI log format as kubernetes names can by upto 253 chars and the CNI defines a log line as

``` /var/log/pods/<podUID>/<containerName>_<instance#>.log ```

Where both the `cont

[2018-11-29 08:30] rbtcollins commented on #62504
Seems to be that this is a legitimate message that is just a diagnostic for why a pod is restarted. But, when something causes a persistent error (e.g. failing to get an IP as the OP reported), then the problem is that this is the only event being reported, rather than being additional information.

So - I'm not sure this bug is valid *per se*, but whatever is causing these other errors to not be

[2018-11-29 08:45] cooboos commented on #64002
I also got the same problem, and there is no pod in <rook-namespace>.

[2018-11-29 08:46] adam-stanek commented on #64924
Yeah, that was exactly my situation. I have not found any way to do that so I have finally gave up on this issue and written custom pod initializer for it. It works but I really hate that I had to resort to something like that to make our setup work again... It is few lines of go code but I might share it if you are interested.

[2018-11-29 08:47] #68996 closed

[2018-11-29 08:57] Xyrion commented on #49466
Any updates on if this feature will be created?

[2018-11-29 09:33] chenrui333 commented on #35054
where are we with this issue?

[2018-11-29 09:33] hongjyan commented on #68818
I give up kubeadm, it is too hard to debug for HA cluster on multihost openstack clouds, and setup it successfully by hard way accroding to experience from:
 [hardway](https://github.com/kelseyhightower/kubernetes-the-hard-way)
[hardway chinese edition on metal centos](https://jimmysong.io/kubernetes-handbook/practice/install-kubernetes-on-centos.html)
[how flannel work](https://tonybai.com/2017/0

[2018-11-29 09:34] tiukhtinvladimir commented on #66789
/remove-lifecycle rotten

[2018-11-29 10:09] pvanderlinden commented on #62421
/remove-lifecycle stale

[2018-11-29 10:15] eranchetz commented on #67940
+1

[2018-11-29 10:28] RobertDiebels opened #71554 "SandboxChanged + kubelet resource requirements"
**What happened**:
Pod gets restarted after SandboxChanged event.

**What you expected to happen**:
For the Pod to continue without issues.

**How to reproduce it (as minimally and precisely as possible)**:
I think this is caused either by a memory or cpu resource shortage for kubelet. I've set kube-reserved to cpu: 100m and memory to 100Mi. The same applies to system-reserved.

I believe this is

[2018-11-29 10:33] lbernail opened #71555 "kube-proxy/IPVS: arp_ignore and arp_announce break some CNI plugins"
**What happened**:
After PR: #70530, we noticed communications issue in our pods.
We use the Lyft CNI plugin (https://github.com/lyft/cni-ipvlan-vpc-k8s) which relies on two interfaces in pod:
* an IPVLAN interface connecting to the AWS VPC which has a VPC IP
* an Unnumbered point-to-point interface (veth) connecting to the host and that does not have an IP (it "borrows" the one from the IPVLAN in

[2018-11-29 10:38] wojtek-t commented on #71215
This is a duplicate of: https://github.com/kubernetes/test-infra/issues/10188

The problem is that prow started the job for the second time, which killed the underlying cluster from this run. And without cluster, it's not unexpected that the test timedout.

[2018-11-29 10:38] #71215 closed

[2018-11-29 10:39] shay-berman commented on #66181
@yastij   any update on this issue?

[2018-11-29 10:43] bluemalkin commented on #60665
You can use an annotation to use a static IP which you've created previously in the subnet of your choice.

[2018-11-29 11:07] therealgambo opened #71556 "Kubernetes HPA returning incorrect API version"
**What happened**:

When applying a HPA `autoscaling/v2beta1` manifest, kubernetes accepts the manifest and returns the `autoscaling/v1` version when querying the manifest.

**What you expected to happen**:
Manifest to maintain `autoscaling/v2beta1` api version

**How to reproduce it (as minimally and precisely as possible)**:

`kubectl create -f hpa-demo.yaml`
[code]

`kubectl get hpa -o yaml hpa

[2018-11-29 11:09] therealgambo commented on #71556
/sig autoscaling

[2018-11-29 11:12] linanster opened #71557 "etcd&apiserver down under 2-master(HA) configuration"
Hi all,
  I try to set up 2-master(HA) k8s,  the 2 master nodes get Ready, However, "etcd" and "kube-apiserver" on master2(node2) down. Need your help and appreciate your advice.

-----
info:
node1(master):10.249.244.51
node2:(master):10.249.244.52
keepalived vip: 10.249.244.59

[root@node1 ~]# kubectl -s https://10.249.244.51:6443  get pod -n kube-system -o wide
NAME                            RE

[2018-11-29 11:14] linanster commented on #71557
[root@node1 ~]# kubectl -s https://10.249.244.51:6443  get node -n kube-system
NAME    STATUS   ROLES    AGE   VERSION
node1   Ready    master   27m   v1.12.2
node2   Ready    master   12m   v1.12.2

[2018-11-29 11:15] RobertDiebels commented on #71554
/sig node
/sig docs

[2018-11-29 11:16] RobertDiebels commented on #71554
/sig node

[2018-11-29 11:17] gjcarneiro commented on #71071
Besides what happened, which is good to find out, I don't feel confident about IPVS until there is code in place that detects and resets a broken netlink socket.  Because from what I can guess from the logs and traces it is that the netlink socket gets into a broken state and the task that reads/writes from/to it will hang forever. I think kube-proxy needs to have code that detects this problem, a

[2018-11-29 11:19] vainu-arto commented on #51271
One possible cause for this issue was fixed by PR #64231.

[2018-11-29 12:02] dims commented on #35054
@chenrui333 we now have forked glog into `klog`, so  we can do whatever we wish. Someone has to look at the suggestions in this PR and propose a PR

https://github.com/kubernetes/klog/blob/master/klog.go#L407-L420

[2018-11-29 12:36] kvaps commented on #71555
I can say only that solution with arptables working fine with MetalLB.

[2018-11-29 12:39] m1093782566 commented on #71555
Oh, really? Glad you confirm that.

[2018-11-29 12:43] nerumo commented on #65267
@bsalamat yes, that's my scenario. I know that storages shouldn't be handled that way, but I can't afford to build a storage cluster

[2018-11-29 12:46] bhavin192 commented on #69038
Hey @gabrielfsousa are you able to see the CPU utilization with `kubectl top pods`

[2018-11-29 12:58] nladuguie commented on #66961
Hi, any ideas about the origin of this problem ?
We also have some nodes running into disk pressure, but not coming back from this state.
Our FS is not over used so we don't really understand what is going on.

[2018-11-29 13:44] Michael-Baylis opened #71562 "Node being deleted when network outage encountered"
**What happened**:
Occasionally when there is a network hiccup, a node is deleted from the k8s configuration.  When the network recovers, the kubelet service is stuck with
kubelet_node_status.go:377] Error updating node status, will retry: error getting node "cicsk8s8": nodes "cicsk8s8" not found
and from that point the node is unavailable
When I restart kubelet, it recreates the node and sometime

[2018-11-29 13:44] Michael-Baylis commented on #71562
/sig node

[2018-11-29 13:48] Michael-Baylis commented on #71562
Nov 29 13:27:49 cicsk8s8.hursley.ibm.com kubelet[47535]: I1129 13:27:49.636414   47535 server.go:1013] Started kubelet
Nov 29 13:27:49 cicsk8s8.hursley.ibm.com kubelet[47535]: E1129 13:27:49.641529   47535 kubelet.go:1287] Image garbage collection failed once. Stats initialization may not have completed yet: failed to get imageFs info: unable to find data in memory cache
Nov 29 13:27:49 cicsk8s8.h

[2018-11-29 13:49] Michael-Baylis commented on #71562
the above shows cicsk8s8 not being found,     being registered and then not being found again.
The second restart kept the cicsk8s8 registered.

[2018-11-29 13:50] Michael-Baylis commented on #71562
so the question is,  what would be deleting the node?  so I could go and look at those logs to determine why

[2018-11-29 14:08] resouer commented on #67874
Just discussed offline. There're actually two problems been mixed here.

The root cause of this issue is actually Device Plugin fails to allocate a device for many times. My suggestion is, in this case, it make more sense to handle it in Device Plugin and remove this device after certain number of `Allocate()` failures.

The second problem is what if scheduler was wrongly (or on purposed?) configu

[2018-11-29 14:22] hex108 commented on #70316
I am thinking whether we could move this logic(whether node became more schedulable) to kubelet, kubelet reports it through heartbeats.

[2018-11-29 14:32] MaciekPytel commented on #71556
This is working as intended. v1 is the default version of HPA so that's what you get if you don't request a specific version. You can get autoscaling/v2beta1 representation of your HPA by running `kubectl get hpa.v2beta1.autoscaling -o yaml hpa-demo`

A bit of explanaition: Internally all HPA objects are stored in the same way, regardless which version of API you used to create them. When you get

[2018-11-29 14:32] #71556 closed

[2018-11-29 14:42] mgdevstack commented on #70990
Just for quick update.
From the latest [commit](https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/70492/pull-kubernetes-node-e2e/112766/) of PR #70492, following points are observed from [testgrid report](https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/70492/pull-kubernetes-node-e2e/110020/nodelog?pod=&junit=junit_ubuntu_05.xml&wrap=on&logfiles=%2Fkubernetes-jenkins%2

[2018-11-29 14:42] lbernail commented on #71555
It doesn't look like arptables works with ipset

[2018-11-29 15:01] chrisohaver commented on #71308
No, it completely dependent on the network add on used.  It is available in the kubeadm configmap for flannel, but not all others.

[2018-11-29 15:12] lahsivjar commented on #71506
/sig apps

[2018-11-29 15:23] kvaps commented on #71555
Unfortunately arptables doesn't support ipsets, but `nft` do. (not fully implemented)

Eg:
[code]
But current implementation is not allowing to use it for arp rules for now:
[code]
Will answer:
[code]
I guess because there is still no type specified for `@nh,96,32`

BTW: nft does not allow to create set of integer components:
https://www.spinics.net/lists/netfilter-devel/msg36817.html

But there i

[2018-11-29 15:36] #70946 closed

[2018-11-29 15:52] alewitt commented on #71042
i would agree deleting and failing to recreate is not desired and having the system be smart enough to keep the old resource running in this case would be *nice*. But ultimately it is the user's responsibility to know what they are doing when using something like `--force`. Breaking the main use case, an immutable field change, to account for user error is not a great solution.

[2018-11-29 16:16] liggitt commented on #62920
The only credential passed when requesting the distributed claim is the access_token embedded in the distributed claim endpoint configuration:

https://github.com/kubernetes/kubernetes/blob/527d1c34ccb6404e1314da1253e97089fe075568/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go#L514-L517

From https://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaim

[2018-11-29 16:47] hhoover commented on #27607
Using IPv6 with 1.12, setting proper bind addresses works for the controller manager and scheduler pods. Works great. However, when running this particular command (`get cs`) the 127.0.0.1 is hard coded, so it shows those components as being unhealthy. This call should actually use the address these services are bound to, not 127.0.0.1.

<https://github.com/kubernetes/kubernetes/blob/527d1c34ccb64

[2018-11-29 16:57] #67907 closed

[2018-11-29 17:30] #71463 closed

[2018-11-29 17:56] apatil commented on #61937
@kolyshkin is there documentation for how to use https://github.com/opencontainers/runc/commit/6a2c15596845f6ff5182e2022f38a65e5dfa88eb in k8s?

[2018-11-29 18:03] changyaowei commented on #71562
![image](https://user-images.githubusercontent.com/12136478/49241558-1fe6b680-f443-11e8-8f0d-48555ee5c270.png)
![image](https://user-images.githubusercontent.com/12136478/49241810-ecf0f280-f443-11e8-9820-a06ffae0b7af.png)

When you restart kubelet, two goroutine works. In `syncNodeStatus func`  try to register node, in `fastStatusUpdateOnce` loop, it try to get node info,  before register done, it

[2018-11-29 18:04] soggiest opened #71565 "Flake: [sig-network] Network should set TCP CLOSE_WAIT timeout"
**Which jobs are failing**:
pull-kubernetes-e2e-kops-aws

**Which test(s) are failing**:
[sig-network] Network should set TCP CLOSE_WAIT timeout
Test (that's what the name appears as, I don't have any more info)

**Since when has it been failing**:
11-28-2018

**Testgrid link**:
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/71479/pull-kubernetes-e2e-kops-aws/115150/
https://testg

[2018-11-29 18:04] jingxu97 commented on #66181
@shay-berman , I am currently working with sig-node team on handling node shut down. I will make a proposal and discuss in sig-node meeting next Tuesday. Will post the update soon.

[2018-11-29 18:04] soggiest commented on #71565
/sig network

[2018-11-29 18:10] Michael-Baylis commented on #71562
Thats what I am seeing.  If I do a "watch kubectl get nodes",  I see the node appear briefly and then disappear again,  never to return unless I bouce kubelet again

[2018-11-29 18:11] Michael-Baylis commented on #71562
Didn't have this problem in v1.10,    only since I jumped to v1.12.2

[2018-11-29 18:16] cblecker commented on #71567
@kubernetes/sig-node-bugs

[2018-11-29 18:21] prbinu commented on #62920
thanks @liggitt. It is helpful.

Digging a little deep, it seems like Azure oidc token with '_claim_sources' doesn't work with the current Kubernetes implementation because:

1. The graph API URL embedded in the oidc token doesn't have a parameter - `api-version=1.6`, required by the graph server (hence we are getting `400 Bad Request` error)

2. The Azure oidc token doesn't have `access_token` em

[2018-11-29 18:47] msau42 opened #71569 "Operation executor doesn't seem to be throttling or backing off on retries"
**What happened**:
In this test, volume mount failed because the driver-registrar took a minute to come up.  However, it seems like volume mount operation is retrying without any sort of backoff.

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new-parallel/400
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-

[2018-11-29 18:48] msau42 commented on #71383
Tests are still flaking and actually it seems like in general storage flakes in slow are flaking more since 11-21 or so: https://k8s-testgrid.appspot.com/sig-storage#gce-slow

My theory is that the driver registration delay is causing a flood of events, which causes tests that check for events to fail.  I think this is revealing multiple issues in both the tests and product, and we should work on

[2018-11-29 18:48] changyaowei commented on #71562
In v1.10. not have fastStatusUpdateOnce func

[2018-11-29 18:50] msau42 opened #71570 "Don't rely on events in storage e2e tests"
**What happened**:
Based on discussion [here](https://github.com/kubernetes/kubernetes/issues/71383#issuecomment-442948413), events can be throttled and should not be used to validate failure conditions in e2e tests.  We should remove the event checks from subpath and local pv tests and just wait for pod failure.

@kubernetes/sig-storage-bugs

/kind bug

[2018-11-29 18:50] msau42 commented on #71570
/assign

[2018-11-29 18:52] vladimirvivien commented on #66802
/close

[2018-11-29 18:52] #66802 closed

[2018-11-29 18:52] aleks-mariusz opened #71571 "SSL_connect returned=1 errno=0 state=error: certificate verify failed - Invalid Kubernetes API v1 endpoint"
**What happened**:

Following #49570 i am having a similar issues, running kubernetes v1.12.3 with the fluentd-addon, with it trying to get kubernetes metadata from the cluster's API-server IP.  I am using fluentd v1.3.0 (latest at the time of this), and latest kubernetes.

and my org has a CA that i have the pub-key deployed on all my master/minion nodes, as well as had it signed the cert that th

[2018-11-29 18:56] saad-ali commented on #71569
I'll take a look at this.
/assign

[2018-11-29 18:57] DirectXMan12 commented on #60511
go ahead!  We're always glad to have contributions :-).  I think that validation still needs to be fixed.

/assign @Rajat-0

[2018-11-29 19:00] DirectXMan12 commented on #65097
it's the sliding window change.  The commit is 958cba1c82e39dbbd25600128b9041660f80afc8, and has a link to a doc with more info as well

[2018-11-29 19:04] Michael-Baylis commented on #71562
I am not sure what you are saying?  How does this relate to the fact the node is being deleted?

[2018-11-29 19:21] dashpole commented on #69999
/cc

[2018-11-29 19:22] dashpole commented on #69999
cc @jingxu97 for an ephemeral-storage related issue
This looks similar to something we have seen before, but I can't find the bug.

[2018-11-29 19:51] saad-ali commented on #71569
Problem is that reconciler depends on operation executor to do backoff. In the normal case operation executor returns a method that does the actual work. Any errors by that method result in exponential backoff.

But in this case, the error is coming from the code creating the mount method which is not handled by the back off logic, and is called again and again by the reconciler resulting in log a

[2018-11-29 19:57] wenjiaswe opened #71572 "Better documentation on k8s-etcd version compatibility"
**What happened**:
We need to a better documentation about the version compatibility between k8s and etcd. I did a quick search and didn't find anything other than historic upgrading issues and PRs, and notes spreading in CHANGELOGs.

**What you expected to happen**:
Have a clear doc/table on  version compatibility between k8s and etcd

**How to reproduce it (as minimally and precisely as possible

[2018-11-29 20:33] atavakoli commented on #69052
This is due to the value in ranges being copies rather than references.

I was able to fix this locally by changing the 3 lines starting at [client-go/tools/portforward/portforward.go#200](https://github.com/kubernetes/kubernetes/blob/409bfc4337f34ed119e66cb6cdd8f95e5deea5a1/staging/src/k8s.io/client-go/tools/portforward/portforward.go#L200) from:

[code]

to

[code]

I'm happy to submit a PR.

[2018-11-29 20:35] wyaeld commented on #67538
@wminshew wouldn't expect it to, @x13n comment above indicates the fix comes in on v1.11.3

[2018-11-29 20:36] atavakoli commented on #69052
It looks like @mtaylor91 already did this, but it was closed before being accepted because of CLA issues.

[2018-11-29 20:44] wminshew commented on #67538
Ah thank you for highlighting, you're absolutely right. Was confused by @marfenij comment about v1.10.9

[2018-11-29 20:53] liggitt commented on #69346
resolved in 1.12.2 in https://github.com/kubernetes/kubernetes/pull/69566

note that before upgrading your control plane to 1.13, all kubelets in your cluster must be at 1.11 or newer

[2018-11-29 20:53] liggitt commented on #69346
/close

[2018-11-29 20:53] #69346 closed

[2018-11-29 20:59] Nefelim4ag commented on #71139
Looks like fix.
Thanks!

[2018-11-29 20:59] #71139 closed

[2018-11-29 21:06] saad-ali commented on #71569
This will result in kubelet log spam and possibly kubernetes event spam.

It happens when someone creates a pod referencing a CSI volume before the CSI driver for that volume is installed. Which happens frequently in E2E tests because they install/remove driver with every test. But should be rare in real world usage since most users are likely to install a driver first before using it.

[2018-11-29 21:08] saad-ali commented on #71569
If release team is worried about this, we could create a quick PR to suppress logging/event generation of this these errors.

Otherwise we plan to address this more holistically for 1.14 and 1.13.1.

[2018-11-29 21:10] blakebarnett commented on #45363
@prameshj is the version in #70555 redirecting all queries to the default kube-system DNS service and caching cluster addresses then? I'm currently running gcr.io/pavithrar-k8s-dev/coredns-dnscache:latest and it's got the k8s plugin I'm assuming because all is working well... I'm wondering what the recommended/default deployment for this will be in 1.13 on GKE?

[2018-11-29 21:16] #69901 closed

[2018-11-29 21:30] prameshj commented on #45363
You can check by listing all daemonsets in kube-system namespace and checking if there is "node-local-dns" in the list.
How are you creating the cluster? Setting  KUBE_ENABLE_NODELOCAL_DNS environment variable to true will run this feature. It is disabled by default.
KUBE_ENABLE_NODELOCAL_DNS=true go run hack/e2e.go -v --up

It will be disabled by default on GKE too.

[2018-11-29 21:40] fedebongio commented on #71435
/cc @mbohlool

[2018-11-29 21:40] fedebongio commented on #71450
/cc @yliaog

[2018-11-29 21:41] fedebongio commented on #71454
/cc @fedebongio

[2018-11-29 21:41] blakebarnett commented on #45363
@prameshj we create the cluster via terraform and deploy the node-local-dns daemonset separately. I'm just concerned because it sounds like the functionality will change for this when it's deployed via GKE in the future (the lack of the kubernetes plugin). Is that the case? Should we continue using your other image?

[2018-11-29 21:42] fedebongio commented on #71494
/cc @liggitt

[2018-11-29 21:43] fedebongio commented on #71505
/remove-sig api-machinery
/sig cluster-lifecycle

[2018-11-29 21:44] fedebongio commented on #71508
/cc @mbohlool @caesarxuchao

[2018-11-29 21:44] fedebongio commented on #71510
/cc @cheftako

[2018-11-29 21:47] liggitt commented on #71494
correct, the deletiontimestamp is only modified for an existing object when the grace period is shortened

/close

[2018-11-29 21:47] #71494 closed

[2018-11-29 21:50] prameshj commented on #45363
Are you modifying the node-local-dns configmap in the yaml to include the kubernetes plugin?
If you are using the yaml as is from #70555, then the caches are not using kubernetes plugin. You can verify this by checking the configmap or the configfile by logging into one of the cache pods. The cache will still cache both cluster addresses and external hostnames, but cache misses will be forwarded t

[2018-11-29 21:55] liggitt commented on #71454
that response occurs when the apiserver is overwhelmed with requests. that can occur because of a hot-looping client, or because the apiserver's `--max-requests-inflight` is not set high enough for the amount of traffic you expect. larger servers should set that higher than the default, after testing to ensure they have sufficient capacity to serve higher numbers of requests

/close

[2018-11-29 21:55] #71454 closed

[2018-11-29 21:55] blakebarnett commented on #45363
Great, thanks!

[2018-11-29 22:03] liggitt commented on #45506
/reopen
/lifecycle frozen
/remove-lifecycle rotten

[2018-11-29 22:04] liggitt commented on #71572
closing in favor of https://github.com/kubernetes/kubernetes/issues/45506, which got autoclosed and had more context

see also https://github.com/kubernetes/website/pull/11060

[2018-11-29 22:04] liggitt commented on #71572
/close

[2018-11-29 22:04] #71572 closed

[2018-11-29 22:04] liggitt commented on #45506
/priority important-soon

[2018-11-29 22:08] prameshj commented on #45363
cool, thanks for trying this out! It would be great to get your feedback on the changes after enabling this - improvements in latency? any issues you are running into? Thanks for your earlier comment on the update to Calico Network policy rules, I added it in the readme.

[2018-11-29 22:12] spiffxp commented on #71507
/area conformance

[2018-11-29 22:30] msau42 commented on #68097
@mkimuram is this issue resolved?

[2018-11-29 22:36] blakebarnett commented on #45363
Yes it's a _dramatic_ latency improvement. We were seeing an uncomfortably large percentage of queries hitting the 5 second timeout, and even more taking 50 - 70ms. With this installed we see effectively 0 queries over 7ms.

On our AWS clusters we use kube-dns as a DaemonSet and were hoping for the ability to set `--cluster-dns` for kubelets in GKE as well, but this works well. Thanks for your wor

[2018-11-29 22:40] bluemalkin opened #71577 "Specifying Name for LoadBalancer in GCE"
/kind feature

**What would you like to be added**:
Ability to specify a name for the load balancer created on GCE through an annotation something like `cloud.google.com/load-balancer-name`. Currently it generates a long hash e.g. `a08653530f3b811e89c8642010a5a020`

Example:
[code]

[2018-11-29 22:41] bluemalkin commented on #71577
/sig gcp

[2018-11-29 22:42] prameshj commented on #45363
Great to hear, thanks for the feedback!

[2018-11-29 22:50] mkimuram commented on #68097
@msau42

Is this test still flake with the same error?
Then, we need to consider working on this.

And for short term workaround, we might reduce write size, as discussed [here](
https://github.com/kubernetes/kubernetes/issues/68097#issuecomment-417785486).
(If the issue is due to ganesha, this won't 100% avoid the flake, though.)

[2018-11-29 22:53] jpbetz commented on #70082
@lixianyang Yes, etcd 3.2.24 is recommended for k8s 1.12.x.

[2018-11-29 23:10] msau42 commented on #68097
I don't see the size error anymore, but there are pod timeout errors now.

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=nfs.*volumeIO%20should%20write%20files%20of%20various%20sizes%2C%20verify%20size%2C%20validate%20content

[2018-11-29 23:16] mbohlool commented on #55890
According to this: https://swagger.io/docs/specification/data-models/data-types/#free-form

the raw extension can define its openapi type as:

[code]

or alternatively

[code]

@sttts what do you think?
@luksa do you still work on this or you want me to send a PR?

[2018-11-29 23:19] sanjeevshar commented on #59959
Hi @rdrgporto ,

I am having trouble installing Kubernetes. I have followed the instructions but   "apt-get update" reports error due to which "apt-get install" also fails. It may have something to do with corporate firewall but I do not know what to ask IT guys to get around the problem.

# apt-get update
.......
.......
Reading package lists... Done
W: The repository 'http://apt.kubernetes.io ku

[2018-11-29 23:23] mbohlool commented on #56428
look like a bug, re-opening.

[2018-11-29 23:25] yliaog commented on #67761
/cc @yliaog

[2018-11-29 23:26] #70888 closed

[2018-11-29 23:26] #71056 closed

[2018-11-29 23:38] prbinu commented on #62920
Not tested, but based on the doc below, it returns a JSON struct, not JWT.
https://docs.microsoft.com/en-us/graph/api/user-getmemberobjects?view=graph-rest-1.0

[2018-11-29 23:49] liggitt commented on #62920
https://docs.microsoft.com/en-us/graph/api/user-getmemberobjects?view=graph-rest-1.0

If so, that is completely incompatible with the oidc spec. From https://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims:

[2018-11-30 00:01] msau42 opened #71578 "Flaky test: CSI test namespace deletion timed out"
**Which jobs are failing**:
pull-kubernetes-e2e-gce

**Which test(s) are failing**:
[sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (default fs)] subPath should support existing directory

**Since when has it been failing**:
First noticed 11/29

**Testgrid link**:
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/70756/pull-kubernetes-e2e-gce/61375/

**Reaso

[2018-11-30 00:01] msau42 commented on #71578
/kind flake
@kubernetes/sig-storage-test-failures

[2018-11-30 00:02] msau42 commented on #71434
I encountered another flake today: https://github.com/kubernetes/kubernetes/issues/71578

[2018-11-30 00:28] spiffxp opened #71579 "Document or remove KUBERNETES_CONFORMANCE_PROVIDER"
It's unclear to me why the env var `KUBERNETES_CONFORMANCE_PROVIDER` is necessary.  We should either document why it exists and when it is needed, or eliminate it.  My hope or current understanding is that `KUBERNETES_PROVIDER` should be sufficient

Brought to my attention in https://github.com/kubernetes/test-infra/pull/10250

/area conformance
/priority important-longterm
/kind cleanup

[2018-11-30 00:29] spiffxp commented on #71579
/sig testing

[2018-11-30 00:44] BenTheElder commented on #71579
/cc

[2018-11-30 00:45] prbinu commented on #62920
Kind of stuck now with Azure OIDC.

thank you @liggitt  for helping us identifying the issue

[2018-11-30 01:10] berlinsaint commented on #71071
1.12.3 with the same error.
After filter the INFO log,  all the proxy node log  is

`E1129 01:01:10.862180       1 proxier.go:430] Failed to execute iptables-restore for nat: exit status 1 (iptables-restore: line 7 failed
E1129 21:09:11.422553       1 proxier.go:1485] Failed to get IPVS service, error: Expected only one service obtained=0
E1129 21:09:11.422699       1 proxier.go:1116] Failed to sy

[2018-11-30 01:32] kinglionsoft commented on #71546
~ On Windows Servers, only docker ee surpports k8s.

[2018-11-30 01:32] #71546 closed

[2018-11-30 01:40] mkimuram commented on #68097
@msau42

I checked by changing the query like below and started to think that these issues are caused just because timeout is short for worst case, because similar error occurs in other drivers and other tests.

- [Time out issue for volumeIO tests](https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=io-client%5C%22.*%3A%20timed%20out%20waiting%20for%20the%20condition&test=.*volum

[2018-11-30 01:45] gnufied commented on #71578
/assign

[2018-11-30 01:46] enj commented on #62920
The Azure folks are well aware of this non-compliance.  The v2 Azure OIDC implementation aims to be fully complaint with the OIDC spec.  They should have proper support for distributed claims on the v2 endpoints in the near future.

See https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison

[2018-11-30 01:50] msau42 commented on #68097
Are you able to see from the logs if IO was still going on when the test timed out?

[2018-11-30 01:50] msau42 commented on #68097
Increasing the timeout makes sense if we think it's too short

[2018-11-30 01:59] msau42 opened #71584 "Pod using subpath with nfs is stuck in terminating"
**What happened**:
NFS server got restarted and caused the nfs mounts to be stale.  Pod deletion hung with:
[code]

**What you expected to happen**:
I think the [subpath directory traversing](https://github.com/kubernetes/kubernetes/blob/v1.9.7/pkg/util/mount/mount_linux.go#L780) needs to check for a [stale mount](https://github.com/kubernetes/kubernetes/blob/v1.9.7/pkg/volume/util/util.go#L184)

[2018-11-30 02:00] msau42 commented on #71584
@kubernetes/sig-storage-bugs
cc @jsafrane

[2018-11-30 02:01] msau42 commented on #71584
/assign

[2018-11-30 02:03] grailsweb commented on #61117
I am getting same error message on centos 7 node, its has lot of free memory.

[2018-11-30 02:06] berlinsaint commented on #71071
BTW. from above my logs , kube-proxy seems like still have many problems with iptables-restore  . all my node are UBUNTU 16.04 which have iptable's version 1.6.0.

[2018-11-30 02:48] dixudx commented on #49466
@Xyrion PR #68745 is addressing this feature. But we need to have a proposal for further discussions on  how to better implement this feature. I am working on it and will send it out in a few days.

[2018-11-30 02:59] k82cn commented on #65267
for such a statefulset, does each node equal with each other?

[2018-11-30 03:04] #65393 closed

[2018-11-30 04:52] tatsuhiro-t commented on #67183
Could someone check that whether this error handling is ok?
https://github.com/kubernetes/kubernetes/issues/67183#issuecomment-414207933

[2018-11-30 04:52] tatsuhiro-t commented on #67183
/remove-lifecycle stale

[2018-11-30 05:33] #34137 closed

[2018-11-30 05:45] #71108 closed

[2018-11-30 05:45] #71236 closed

[2018-11-30 06:02] #65853 closed

[2018-11-30 06:41] #71308 closed

[2018-11-30 06:44] ysaakpr commented on #62153
Yeah, this is a genuine need, We have many situations where we have to copy secrets between namespaces and which adds extra management care. Which is very crucial for secrets availability across namespaces. Our major blocker is on syncing cert-manager certificates and across namespaces. Its always beneficial to manage "ClusterSecrets" and manage them at Cluster level, though i am not very sure abo

[2018-11-30 06:47] ysaakpr commented on #62153
https://github.com/kubernetes/kubernetes/issues/70147

[2018-11-30 06:50] ysaakpr commented on #70147
Many tickets are on this and related features, what is the next step on this? Does anyone have what is the blocker and how to proceed on this ?, Would like to contribute.

[2018-11-30 06:54] yue9944882 commented on #70287
OMG, i hit this issue too! 😂

the log shows that the available controller is retrying frequently on error (of which the cause we could ignore in my case).

[code]

[2018-11-30 07:35] #65740 closed

[2018-11-30 07:38] ThePlenkov commented on #54601
@mhellsten did you use security context for this?

[2018-11-30 07:46] DylanBLE opened #71590 "Namespace deletion got stuck by Unknown pods"
**What would you like to be added**:
Should namespace controller be responsible for gc unknown pods?

**Why is this needed**:
Namespace stuck at Terminating state.

/kind feature

[2018-11-30 07:47] DylanBLE commented on #71590
/sig apps

[2018-11-30 07:50] m-no-2017 commented on #49466
The event loop of a pod already counts (re-)starts (Type: Normal, Reason: Started) and the JSON structure holds the value (Count-1) in [.status.containerstatuses.restartCount].

An example would be another field in the deployment field named something like "restartLimit: (int)", with reference to the mentioned information.

Instead of a event like "CrashLoopBackoff" it could be something like "Res

[2018-11-30 08:01] luksa commented on #56428
I opened a PR for this a few months ago, but it was ignored: https://github.com/kubernetes/kube-openapi/pull/85. The PR would also allow setting the appropriate type for the `RawExtension` type and is a prerequisite for fixing https://github.com/kubernetes/kubernetes/issues/55890

[2018-11-30 08:04] #71301 closed

[2018-11-30 08:04] #71369 closed

[2018-11-30 08:04] #70988 closed

[2018-11-30 08:11] rbtcollins commented on #39113
FWIW we're seeing multi-minute queuing of updates due to this on dense nodes (64 cores, 20-30 pods in a batch per node) - and this results in failures because until the status updates are pushed to the API server, kube-dns can't publish the endpoint, and other services being brought up can't use the new pods.

Three things are triggering this for us:
- test builds (spawn off a bunch of microservic

[2018-11-30 08:11] huanghuangzym commented on #67702
command:
        - /metrics-server
        - --metric-resolution=30s
        - --kubelet-insecure-tls
        - --kubelet-preferred-address-types=InternalIP,Hostname,InternalDNS,ExternalDNS,ExternalIP

int 0.3.1 try this command

[2018-11-30 08:19] mdeknowis commented on #37471
Same issue using MobaXterm (cygwin) and

[code]

[2018-11-30 09:10] #67186 closed

[2018-11-30 09:20] #71439 closed

[2018-11-30 09:20] #71514 closed

[2018-11-30 09:34] m1093782566 commented on #71514
@lbernail

I think we still need to keep this issue open even though we have merged #71515 - I assume they are different issues.

[2018-11-30 10:35] johnraz opened #71592 "Probe httpHeaders "Host" is lost after redirect"
Hello there,

I did search around and didn't find a report for this already, I hope it's  not a dupe.

**What happened**:
In an HTTP probe definition (readyness or liveness), the custom host header is not set properly after a redirect occurs.

**What you expected to happen**:
Seeing that #18233 states that redirects are weird but allowed, I would expect the custom headers to be maintained after th

[2018-11-30 10:38] johnraz commented on #71592
/sig node
/sig network

[2018-11-30 10:43] lbernail commented on #71555
Another option would be to use the `service-cluster-ip-range` and filter all queries but this flag is not in kube-proxy today

[2018-11-30 10:45] sylr opened #71594 "Azure provider triggers VMSS manual upgrade which restarts all instances at the same time"
**What happened**:

We have a v1.10.6 cluster hosted in Azure (deployed with https://github.com/Azure/acs-engine) using `VMSS`  for agent pool and we decided to change the VM Size of the VMSS instances for cost efficiency. The plan was:

 - Change the VMSS VM Size
 - Double the number of instances (the new instances being created with the new VM Size)
 - Drain the old instances
 - Upgrade the old

[2018-11-30 10:46] sylr commented on #71594
/sig azure

[2018-11-30 10:55] therealgambo commented on #71556
Is there a way to make `hpa.v2beta1.autoscaling` the default output in my cluster, for cluster operators this is confusing as they aren't seeing the true configuration.

[2018-11-30 10:57] lbernail commented on #71514
@m1093782566 yes I think the PR is a great improvement but we probably need a few other small fixes (like the conntrack thing I mentioned)

[2018-11-30 11:37] kvaps commented on #71555
Bad idea, it will handle `clusterIPs` but not `externalIPs` - which can be really differ

[2018-11-30 11:43] marc-sensenich opened #71595 "Cloud Controller Manager for Azure did not delete Scale Set instance"
**What happened**: Cloud Controller Manager for Azure did not delete Scale Set instance from the cluster after being removed by Cluster Autoscaler

**What you expected to happen**: The removal of the Scale Set instance from the cluster

**How to reproduce it (as minimally and precisely as possible)**: Create a Kubernetes cluster in Azure, scale the cluster up with an instance from a VMSS, remove t

[2018-11-30 11:43] kvaps commented on #71555
@lbernail can you explain more detail why Lyft CNI can not assign IPs to the right interfaces for avoid this kind of issues?

[2018-11-30 11:43] marc-sensenich commented on #71595
/sig azure

[2018-11-30 12:20] uablrek opened #71596 "Traffic loss with externalTrafficPolicy:Local and proxy-mode=ipvs"
**What happened**:

When a service with `externalTrafficPolicy:Local` is used with proxy-mode=ipvs only 1/nodes traffic gets through. The service have "type: LoadBalancer" and the loadBalancerIP is used for access.

If the service is accessed through the `NodePort` it works as expected.

The problem is that `kube-proxy` setup targets for **all** enpoints in ipvs for the loadBalancerIP while still

[2018-11-30 12:21] uablrek commented on #71596
/sig network
/area ipvs

[2018-11-30 12:40] uablrek commented on #69811
The `loadBalancerIP` and the `externalIPs` should be handled in *exactly* the same way by the `kube-proxy`. The are similar from a traffic point of view, just set in different ways. That would probably also simplify the code.

[2018-11-30 13:21] dims commented on #37471
/sig windows

[2018-11-30 13:31] satwikk commented on #66826
This resolved the issue. Missing "EOF"

https://stackoverflow.com/a/51615990/4673027

[2018-11-30 13:41] #61062 closed

[2018-11-30 13:49] uablrek commented on #68546
The `kube-ipvs0` is a dummy-interface and is also "DOWN" and is not involved in actual traffic. It is used more as an "address bag".

@WingkaiHo  Have you seen ip fragmentation to mtu=1500 on you internal net or just looked at `ifconfig`?

The mtu of `kube-ipvs0` should not really matter but if it does PR by @Lion-Wei should fix the problem.

[2018-11-30 14:09] bouk opened #71598 "client-go/testing: inconsistent behavior around evictions"
**What happened**:

I'm trying to test Eviction functionality in my program, but running into some inconsistencies around how Evictions are handled in the fake SimpleClient in the client-go testing functionality. Most notably, `client.PolicyV1beta1().Evictions(namespace).Evict` creates a different `Action` from `client.CoreV1().Pods(namespace).Evict`, and both are missing information.

`client.Pol

[2018-11-30 14:40] lbernail commented on #71555
Yes you are right. bad idea

It could definitely add IPs to these interfaces but it's not the choice that was made. More details here: https://eng.lyft.com/announcing-cni-ipvlan-vpc-k8s-ipvlan-overlay-free-kubernetes-networking-in-aws-95191201476e ("Unnumbered point-to-point interface"). I could probably PR a fix there.

I'm a bit worried that some other CNI plugins could break here though

[2018-11-30 14:49] liggitt commented on #70147
That feature request is not currently planned. See discussion in the issue for more details about the open questions.

It is not clear that a cluster secret type is the right approach. Most of the ways secrets are used (volume mounts, envvar values, etc) expose the values of the secrets to the things in the namespace. Broad exposure of data is not generally a desirable property for secrets.

The t

[2018-11-30 14:52] liggitt commented on #71598
POST requests *are* create requests. It doesn't matter if the object is persisted or not.

[2018-11-30 14:55] liggitt commented on #71224
not release-blocking, will leave open to track improvements to wording in the PR template

[2018-11-30 14:56] liggitt commented on #71521
the job has now had 16 green runs in a row. can it be closed?

[2018-11-30 15:16] jsafrane commented on #71584
+1, however, I don't like leaking NFS into other parts of Kubernetes.

[2018-11-30 15:21] uablrek commented on #70113
I can only reproduce this fault if I do;
[code]
This will automatically assign a link-local generated address to the interface and the problem occurs. But the `kube-ipvs0` should **not** be up. By default if I start v1.12.0 it is down.

Is some program, e.g network-manager, brings the interface up?

Anyway I think it is possible to suspress auto-generated link-local ipv6 addresses. I will try to f

[2018-11-30 15:21] m-no-2017 opened #71600 "Kube-Controller-Manager serves insecurely on IPv6 ([::]:<PORT>) (v1.12.0)"
**What happened**: kube-controller-manager starts but listens insecurely on IPv6, even if --secure-port and --bind-address is set

**What you expected to happen**: kube-controller-manager just listens securely when settings are provided

**How to reproduce it (as minimally and precisely as possible)**:
Start a cluster on v1.12.0 and set the systemd as follows:
<pre><code>  --bind-address=127.0.0.1

[2018-11-30 15:55] liggitt commented on #71600
you must set `--port=0` to disable insecure serving. unfortunately, the help text telling you this is hidden because the flag is marked as deprecated. opened https://github.com/kubernetes/kubernetes/pull/71601 to fix this and will pick to 1.13.x / 1.12.x

[2018-11-30 16:07] steven-sheehy commented on #70489
Looks like this is due to this file in [kubernetes/release](https://github.com/kubernetes/release/tree/master/debian/xenial/kubelet/lib/default) repo. @chuckha Can this file can be removed?

In systemd Environment can't override the same variable in an EnvironmentFile, the workaround is to create a systemd drop-in with another EnvironmentFile:

[code]

[2018-11-30 16:11] timothysc commented on #61326
@jpbetz @ixdy - Now that 1.14 is open could a googler please push an updated image.

/cc @kubernetes/sig-release

[2018-11-30 16:20] #71536 closed

[2018-11-30 16:22] Ramyak commented on #71327
/assign bsalamat

[2018-11-30 16:36] rdrgporto commented on #59959
Hi @sanjeevshar,

Did you add GPG key?

`curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -`

You could try too:

`sudo apt-get update --allow-unauthenticated`

Regards :vulcan_salute:

[2018-11-30 16:45] chuckha commented on #70489
I find it odd that the kubelet package is doing this https://github.com/kubernetes/release/blob/master/debian/xenial/kubelet/debian/kubelet.install#L3.

I think it makes more sense for that to happen in the kubeadm package, and then, only if the file doesn't exist I think. I have to think about the various scenarios, but I think it's sensible to not have the kubelet writing the /etc/default/kubele

[2018-11-30 16:46] uablrek commented on #70113
After creation;
[code]
should fix this problem. I will try to get time to do a PR.

[2018-11-30 16:52] manurodriguez opened #71606 "controller-manager and kubelet not taking into account --cloud-provider and --cloud-config until added twice"
**What happened**:
When running services kube-controller-manager in master nodes and kubelet in minion nodes the values from parameters --cloud-config and --cloud-provider are not taken into account, we have to pass them twice in the configuration file so the services can work with the cloud integration functionalities. In other words if we do not add them twice we cannot create Load Balancer serv

[2018-11-30 16:55] steven-sheehy commented on #70489
I don't think it should be in the kubeadm package either. Systemd doesn't require it to be there and its supposed to be a user supplied file. Having kubernetes create/supply it would cause difficulties/conflicts with users including it in their own deb file or when creating it dynamically via their provisioning scripts.

[2018-11-30 16:59] chuckha commented on #70489
Thanks for the explanation, I agree and have opened a ticket in kubernetes/release.

[2018-11-30 17:10] AishSundar commented on #71521
yes they rolled out a fixed on GCE end yesterday :) Closing now, @jberkus please reopen if it recurs.

/close

[2018-11-30 17:10] #71521 closed

[2018-11-30 17:33] yue9944882 commented on #56428
/remove-lifecycle rotten

[2018-11-30 18:07] dharmab commented on #33084
/remove-lifecycle rotten

[2018-11-30 18:07] dharmab commented on #33084
/reopen

[2018-11-30 18:10] jberkus commented on #71153
This is flaking pretty badly in the soak test:

https://k8s-testgrid.appspot.com/sig-release-1.13-all#soak-gci-gce-1.13

@dchen1107 can we get someone to look into this, and either fix the memory leak or change the parameters of the test?  Just saying "It flakes sometimes" doesn't really work for testing.

[2018-11-30 18:31] jpbetz commented on #61326
@timothysc Starting build/push of 3.3.10 image now

[2018-11-30 18:32] gnufied commented on #71470
/assign

[2018-11-30 18:33] thockin commented on #57130
I like the decoupling.  Making the plugins read an arbitrary annotation
moves it down to a node-config problem, which I think seems OK.

E.g.

Foo cloud provider controller observes a node has been assign x.y.z.0/24 in
the fabric.

Foo cloud provider controller writes annotation `foo.com/node-ip-range:
x.y.z.0/24` to the node

On-node plugin config knows that `foo.com/node-ip-range` is the trigger

[2018-11-30 18:36] juanvallejo opened #71612 "Kubectl - Introduce "custom-columns" variant to add additional columns to output"
Currently, `kubectl get` supports `--custom-columns` as one of its output format flags. The behavior of this flag allows a user to specify a comma-delimited list of `COLUMN_NAME` mapped to a jsonpath value: `COLUMN:.metadata.name`.

The problem with the current behavior is that only the columns that are specified are shown in the final output printed to the screen. In the example above, only the f

[2018-11-30 18:42] smarterclayton commented on #71612
I think this would be a lot like `-L`.  I would want it to be easy to add ("I like what you have, but I want this one more column").  I would probably lean more towards a syntax like:

[code]

It's ok to force me to use `-C` multiple times

[2018-11-30 18:59] seh commented on #71466
Another test today showed these results: Starting with one node and adding 599 more, only the first 80 became ready, with 520 sitting unready. There were 520 "calico-node" pods pending, and 520 "kube-proxy" pods pending.

I increased the log level on my active "kube-scheduler" container, and inspected the logs. It was grinding away trying to place the "kube-proxy" pods, finding they couldn't toler

[2018-11-30 19:03] ixdy opened #71613 ""[ACTION REQUIRED] Stackdriver Logging export config error" email spam"
I've been receiving email spam since approximately Thu, Nov 29, 1:18 PM PST from all of our test projects.

The content is pretty much the same for each project, looking something like the following:

I'm not sure what caused these emails to start appearing, but I'd like them to stop. :)

/kind failing-test
/sig instrumentation

[2018-11-30 19:10] wminshew commented on #67538
is this somehow related to the below post-upgrade logging (~1/min)?
[code]

Tried restarting the ds. Doesn't seem to be upsetting anything so not sure it's worth opening a new issue on, but can't seem to find any related information in other issues / on stackoverflow / google

[2018-11-30 19:16] seh commented on #71466
This problem is likely related to or a duplicate of #71486.

To work around the problem, I'm going to try relaxing the toleration on the "kube-proxy" _DaemonSet_ to allow the scheduler to place those pods more easily, unblocking the pending queue.

[2018-11-30 19:21] andrewsykim commented on #57130
The need for node readiness gates is something that comes up often (e.g. https://github.com/kubernetes/kubernetes/pull/33573). I think in previous discussions in SIG CP we agreed to wait and see how pod readiness gates progress until we adopt the same for nodes. I'm happy to own this and move it forward as it will address some of the other problems we face with node registration with cloud provide

[2018-11-30 19:47] BenTheElder opened #71614 "kubelet panic: concurrent map write"
**What happened**: kubelet paniced due to a concurrent map write

**What you expected to happen**: kubelet should not panic

**How to reproduce it (as minimally and precisely as possible)**: I'm seeing this running hack/ci/e2e.sh in https://sigs.k8s.io/kind

**Anything else we need to know?**: Logs are here:

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-pa

[2018-11-30 19:48] BenTheElder commented on #71614
the panic alone is here: https://gist.github.com/BenTheElder/f02da3f5473e32aa7fc3cb83db1a10fe

[2018-11-30 19:49] lavalamp commented on #44272
/remove-sig api-machinery

The logs subresource is an escape hatch, not a thing api machinery encourages or supports. IMO it should be moved to another component, where anything desired could be done. I'm not in favor of adding this filtering to kube-apiserver. If someone wants to work on re-routing this call such that it doesn't pass through apiserver, I'm happy to brainstorm about the design.

I

[2018-11-30 19:55] BenTheElder commented on #71614
looks like one of the writes is here:
https://github.com/kubernetes/kubernetes/blob/3156df3e806cb8bf468845b37eec939dee52a1d8/pkg/kubelet/remote/remote_runtime.go#L240

I don't see a mutex or anything being held. not sure where the other write was yet..

[2018-11-30 19:59] jpbetz commented on #61326
Build and staging push complete. We've requested promotion of the staging images to k8s.gcr.io. Client upgrade PR is https://github.com/kubernetes/kubernetes/pull/71615.

[2018-11-30 20:01] rkttu-devsisters commented on #65163
@PatrickLang @daschott

I thought this problem would be solved through the hotfix KB4467682 you mentioned at https://github.com/kubernetes/kubernetes/issues/66947, but that still did not solve the problem. Is it because the vNIC is deleted after a certain period of time because of the wrong OS's handling of Hairpin Mode?

And I tried building the Windows Node with the latest version of ACS Engine.

[2018-11-30 20:20] mtaufen commented on #71614
That delete looks like it merged yesterday: https://github.com/kubernetes/kubernetes/pull/66308

[2018-11-30 20:22] mtaufen commented on #71614
/cc @derekwaynecarr @RobertKrawitz @Random-Liu @yujuhong

[2018-11-30 20:50] RobertKrawitz commented on #71614
/assign RobertKrawitz

[2018-11-30 21:56] mauilion commented on #27607
Arguably, it's better to bind services like controller-manager and scheduler to 127.0.0.1 this restricts things that aren't sharing that stack to access it.

But I need access to the `/metrics` endpoint!!

Enter kube-rbac-proxy or any other proxy really. This enables you to deploy a solution that would require that callers to that `/metrics` endpoint come proper with a service account that allows

[2018-11-30 22:30] kkelkar opened #71622 "CPU manager tries to use offline CPUs"
**What happened**: kube-system pods (kube-flannel, kube-proxy, kube-sriov-device-plugin) go into failed state after bringing some CPUs offline

**What you expected to happen**:kube-system pods should be running

**How to reproduce it (as minimally and precisely as possible)**: When bringing up a worker node, enable CPU manager with static policy and take out CPUs used by the manager from kernel sc

[2018-11-30 22:33] kkelkar commented on #71622
/sig scheduling

[2018-11-30 23:00] marun commented on #68466
This problem has also been encountered in federation with the move to generate validation schema for federated template crds: https://github.com/kubernetes-sigs/federation-v2/issues/469

[2018-11-30 23:16] gnufied opened #71623 "API server silently ignoring fields should be verbose"
When api server silently ignores certain updates. Such as updating status without using node's status subresource, such errors never bubble up to the client. Client has no idea that write did not work as expected.

I understand that for backward compatibility we may not be able to fix this in current iteration but in long term perhaps rather than silently igoring such updates - we should throw an

[2018-11-30 23:33] saad-ali commented on #71186
`kubernetes/kubernetes` doesn't log CSI grpcs. The external components that do are being updated to use https://github.com/kubernetes-csi/csi-lib-utils/tree/master/protosanitizer

[2018-11-30 23:33] #71186 closed

[2018-11-30 23:35] verult opened #71624 "Failing test: [sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Inline-volume (ext*)] volumes should allow exec of files on the volume; failing in gce-multizone"
**What happened**: Test pod is not created successfully, likely due to it being scheduled in a different zone from where the PD is provisioned.

/kind failing-test

[2018-11-30 23:36] verult commented on #71624
/sig storage
/assign
/priority critical-urgent

[2018-11-30 23:56] CodeCorrupt commented on #67313
This may not be the best place. But if anyone comes across this with an answer to @goodhoko 's last question about an explication as to how the options interact, please share the link!

[2018-12-01 01:05] brahmaroutu opened #71627 "The header on the conformance document should show proper release information."
**What happened**:
The Conformance Document currently has a static header that is displayed from a file. The release information in the header should reflect proper release number so that the document reflect the current state.

**What you expected to happen**:
Should show proper current release information

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2018-12-01 01:09] brahmaroutu commented on #71627
#70626 in reaction to @spiffxp comments
  cf_header.md is still hardcoded to mention v1.9 at the top, could we parameterize this?

[2018-12-01 01:19] michaelkunzmann-sap opened #71628 "Build fails due to breaking change in k8s.io/apiextensions-apiserver"
**What happened**:

When building our go project (using pkg ```k8s.io/kubernetes@release-1.11```), we get this error:

[code]

It looks like that when we use ```dep```, it pulls the package ```k8s.io/apiextensions-apiserver``` directly from master
[code]

Where with this commit: https://github.com/kubernetes/apiextensions-apiserver/commit/ddd01a5e058617df9747c8442356f6421e0624e1

A breaking change

[2018-12-01 02:01] manigandham commented on #67538
This seems to have just created more issues. We now see these statements spammed in our logs in a 1.11.3 GKE cluster:

[code]
[code]

The first seems to have been solved by adding the ScalingPolicy found at https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-gcp

Does this logging actually get tested on GKE?

[2018-12-01 05:04] #71624 closed

[2018-12-01 05:32] danderson commented on #71305
For the record, this probably breaks at least Calico and Weave as well, based on my abject failures to get pod<>pod networking to function on Debian Buster (which has upgraded to iptables 1.8). I'm filing bugs for that now, but this breaking change to iptables may be worth a wider broadcast to the k8s community.

[2018-12-01 05:57] #60781 closed

[2018-12-01 08:55] gbraad commented on #7090
Just for information, the following discussion was related: https://stackoverflow.com/questions/29764612/failed-to-pull-images-from-dockerhub-in-kubernetes-0-15

The OP is in China and can therefore not pull from gcr.io (as this is hosted by Google), thanks to the GFW.

[2018-12-01 09:00] #65444 closed

[2018-12-01 09:00] #61275 closed

[2018-12-01 09:00] #65398 closed

[2018-12-01 10:41] zouyee commented on #67141
/remove-lifecycle stale

[2018-12-01 11:02] #53321 closed

[2018-12-01 12:58] miltosc opened #71633 "mounted xfs system on /dev/sdb but /dev/sdb does not exist"
**What happened**:

I created the following:

[code]

when i login to the pod i want to enlarge the xfs disk.

[code]
BUT
[code]

there is NO /dev/sdb so the xfs_growfs command does not work it says not mounted xfs disk

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.2", GitCommit:"17c77c7898218073f14c8d573582e8d

[2018-12-01 13:04] #63190 closed

[2018-12-01 13:50] joaocc commented on #60751
/remove-lifecycle stale

[2018-12-01 15:18] arun2arunraj commented on #66961
hi All,

We are also facing this problem. How to overcome from this state. Any help would be much appreciated.

[2018-12-02 00:41] tammersaleh commented on #11994
For those coming across this issue, and struggling to find the right field selector (I kept trying `metadata.name`), the incantation is:

[code]

[2018-12-02 02:15] rmb938 opened #71638 "kubeadm unmounts /var/lib/kubelet"
**What happened**:

kubeadm reset unmounts /var/lib/kubelet instead of just emptying the directory

**What you expected to happen**:

The directory to be emptied instead of unmounted

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a mount point i.e `/data/var/lib/kubelet`
1. Symlink `/var/lib/kubelet` to /data/var/lib/kubelet`
1. Launch a cluster with `kubeadm init`
1

[2018-12-02 03:34] yagonobre commented on #71638
Hi @rmb938, I'll try to reproduce this tomorrow, if possible create the issue on http://github.com/kubernetes/kubeadm

[2018-12-02 03:36] yagonobre commented on #71638
/assign

[2018-12-02 07:47] pontiyaraja commented on #59978
@dims @stevekuznetsov @timothysc @sjenning @bgrant0607  this issue was resolved in the PR #71550 . So we can close this issue.

[2018-12-02 08:35] aurolle commented on #20227
Hi, I really need these feature. Is there any update?

[2018-12-02 09:58] lbernail commented on #71514
The fix from the PR is not perfect yet for DNS traffic when qps is high (but it's definitely an improvement for UDP traffic which didn't support any kind of graceful termination). For example:

[code]

Will generate 5000qps and ~500 new entries in the IPVS table per second. With a UDP timeout of 30s this leads to 15000 entries maximum.

If we have 2 pods, when we delete one we have to wait for the

[2018-12-02 11:07] miltosc commented on #71633
Finally it needed
        securityContext:
          privileged: true

[2018-12-02 11:07] #71633 closed

[2018-12-02 11:19] nladuguie commented on #67129
Hi, Any news about how to resolve this issue ? We have the same problem after overuse of ephemeral storage which leads to disk pressure. The pods are evicted and the disk empty but the disk pressure flag persists.

[2018-12-02 11:19] Xnyle opened #71639 "Let kublet / kubeadm handle downloading images / configure insecure repositories, not docker"
**What would you like to be added**:

Let kublet handle downloading images, not the runtime (currently docker).
Extend the deployment/image config so that image is an url where http:// means: yes, i want to download it from an insecure repo.

**Why is this needed**:

Im failing to understand, why in order to use my own (dev,insecure) image registry, i have to configure docker on every node to know

[2018-12-02 13:32] dixudx commented on #64522
/remove-lifecycle stale

[2018-12-02 14:01] gacopl commented on #70363
why not use labels and node selectors or affinity ?

[2018-12-02 14:31] rmb938 commented on #71638
@yagonobre Thanks! I created the issue in kubeadm as well.

[2018-12-02 15:00] rmb938 commented on #71638
I did some more testing and it seems like this only happens when you do a `kubeadm reset` but there are no pod mounts.

i.e if there are pods mounted like this

[code]

running a reset works as expected. But if there are no pod mounts i.e

[code]

a reset unmounts `/data/var/lib/kubelet`

[2018-12-02 15:54] liggitt commented on #71639
That would break the boundary between the kubelet and the container runtime. The kubelet should not be configuring implementation details of container runtimes, only interacting with them via the container runtime interface API.

If you wanted to configure docker in a particular way on all your nodes (like adding an accepted insecure registry address or CIDR, or adding in trust roots to the docker

[2018-12-02 15:54] #71639 closed

[2018-12-02 16:46] dims commented on #59978
/close

[2018-12-02 16:46] #59978 closed

[2018-12-02 16:46] dims commented on #59978
Thanks @pontiyaraja !

[2018-12-02 18:11] neolit123 commented on #71638
/close
closing in favor of https://github.com/kubernetes/kubeadm/issues/1294
so that we can keep track in a single place.

[2018-12-02 18:11] #71638 closed

[2018-12-02 19:44] solomatov opened #71643 "Provide option to use kubectl run with port-forwarding"
**What would you like to be added**:
Provide option to forward ports in interactive mode similar to the option of ssh

**Why is this needed**:
I want to use kubernetes to run machine learning stuff. I run my training and tensorboard in parallel. I don't want to expose tensorboard outside of the pod since it might contain sensitive data.

[2018-12-02 19:47] neolit123 commented on #71505
this isn't really a kubeadm problem.
k8s is vastly untested on arches other than AMD64, although we did receive reports about successful mixed-arch clusters from the CNCF.
at one point for ARM we were suspecting a race condition in the kubelet instead of a "room to breathe" scenario.

please try kubeadm + kubelet + control-plane 1.13 and get back to this with a report of what you see.

also have a

[2018-12-02 19:49] solomatov commented on #71643
/sig cli

[2018-12-02 19:52] neolit123 commented on #71019
we have removed the feature gate from kubeadm 1.13 and it has moved under `kubeadm alpha kubelet` this feature is now not part of the standard init workflow. there are a number of problems with the DKC feature, one of which is related to privileges.

in terms of mixing:
`--dry-run and --feature-gates=DynamicKubeletConfig=true`
it's unlikely that we can backport a fix for that in 1.12 as this is no

[2018-12-02 19:52] #71019 closed

[2018-12-02 19:57] neolit123 commented on #71343
@cxj110
have you applied the rest of the steps like copying your KUBECONFIG file and installing a pod network plugin after kubeadm init finishes?

also does this work:
`kubectl get nodes`
?

if yes to both, please share you kubeadm configuration file or the command line you use to start kubeadm init.

[2018-12-02 20:02] neolit123 commented on #71249
`--pod-network-cidr=10.51.0.0/16`
this can be problematic if something on the host has already taken address in the same CIDR.

please try the WeaveNet CNI plugin instead from here:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

this same page has:

if it works with WaeveNet, then you can either report the problem to Calico or close the issue if you get it workin

[2018-12-02 20:03] neolit123 commented on #68580
/close
no further report was received.

[2018-12-02 20:03] #68580 closed

[2018-12-02 20:04] neolit123 commented on #68178
/close
no further reports received.

[2018-12-02 20:04] #68178 closed

[2018-12-02 21:18] geoffgarside commented on #71505
From what I’ve seen in the past most of the ARM64 issues stem from the poor RSA crypto in Golang 1.10 and earlier, it should be improved in 1.11 but k8s and importantly etcd need to be built with 1.11 for those RSA improvements to be seen. I’ve not looked into this for a while now so I’m not up to date on what version of Golang is being used at the moment for each of these.

[2018-12-02 21:30] geoffgarside commented on #71505
Looks like etcd 3.4 requires Golang 1.11+ based on the CHANGELOG, so they might work. Does kubeadm still default to 3.2.x? 3.2 appears to use Golang 1.8, 3.3 uses Golang 1.9.

[2018-12-02 21:35] dims commented on #71579
we may have to ping @zmerlynn as he has a TODO :) `TODO(zmerlynn): This is gross.`

https://github.com/kubernetes/test-infra/blob/master/kubetest/gke.go#L210-L220

[2018-12-02 21:41] dims commented on #71505
@geoffgarside yes kubeadm from 1.13 will use etcd `3.2.24`. In 1.14, it will be switched to 3.3 (follow along in https://github.com/kubernetes/kubernetes/issues/61326)

[2018-12-02 22:03] neolit123 commented on #71505
etcd 3.2.24 is built using 1.8.7:
https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/Makefile#L55

[2018-12-02 22:35] Xnyle commented on #71505
Will try 1.13 and report back when it's available as deb package, as I currently only have limited time for that toy cluster project.

[2018-12-02 23:17] dghubble commented on #66103
/remove-lifecycle stale

[2018-12-02 23:34] zhouhaibing089 commented on #59591
We've been thinking about this, too. Besides finalizers, we also want to take care of annotations and init containers(where those annotations and init containers are added by third-party systems).

Basically, we are trying to setup new RBAC clusterroles for finalizers, and checking authorization during admission(just like PodSecurityPolicy checks the `use` permission on podsecuritypolicies).

[2018-12-03 00:04] bclouser commented on #68190
For what its worth, I think I am seeing this as well, or at least something similar:
### Error
[code]
Configured manually from jenkins UI.

### Versions
[code]
### Bonus
Interestingly, if I add the container to the cluster manually configured for a static jenkins node it comes up all smiles:
`kubectl create -f ./jnlp-slave.yaml`

##### jnlp-slave.yaml:
[code]

I am happy to provide more info if th

[2018-12-03 00:32] spiffxp opened #71646 "Identify e2e tests that rely on events and thus flaky, rewrite to avoid"
This came up during a recent 1.13 release team meeting.  Event delivery is not actually guaranteed, so any e2e tests that rely on events are susceptible to flakes.  These will become more evident as a cluster is under load.

We should identify which e2e tests are using this anti-pattern, and determine if there is a recipe we can use to rewrite them to be less flaky.  For example, we could likely u

[2018-12-03 01:18] luckymagic7 commented on #26670
@hsingh6764 Many Thanks!! I created a new cluster and it works fine^^

[2018-12-03 01:33] m1093782566 commented on #71596
/cc @Lion-Wei

[2018-12-03 02:09] nicedudu opened #71647 "Error from server (InternalError): an error on the server ("") has prevented the request from succeeding"
**I don't know why this error occurred, I reloaded it many times but the problem still exists.**

[code]

/kind bug

[2018-12-03 03:04] zhixinwen commented on #39824
I agree. The doc gives a false sense that all the voluntary disruptions are constrained by PDB, which should be more clear.

[2018-12-03 04:11] mysunshine92 commented on #71647
/sig cluster-lifecycle

[2018-12-03 04:18] zhouhaibing089 commented on #71647
`kubectl version --v=7` should give more information like which endpoint is 500-ing.

[2018-12-03 04:50] nicedudu commented on #71647
Which command do I need to execute? I just started learning kubernetes.

[2018-12-03 05:53] nikhita commented on #64483
/lifecycle frozen

[2018-12-03 05:58] nikhita commented on #31792
/remove-lifecycle stale

[2018-12-03 06:31] olivejing opened #71649 "Issues with k8s networkpolicy and metrics-server"
Hi,

Kubernetes v1.11.2
calico: v3.1.3
metrics-server: v0.2.1
For k8s cluster, there are three control nodes: control-01, control-02, and control-03. metrics-server pod runs on control-02.
For k8s cluster, there are three control nodes: control-01, control-02, and control-03. metrics-server pod runs on control-02.
[code]
networkpolicy config:
[code]
when i run kubectl command on control-01/control

[2018-12-03 06:39] warmchang commented on #30189
Since the https://github.com/kubernetes/kubernetes/pull/64752 has been merged, can we close this?

[2018-12-03 06:51] WanLinghao commented on #69676
/cc

[2018-12-03 07:08] nikhita commented on #71598
/sig api-machinery

[2018-12-03 07:25] sfxworks opened #71652 "Config Upgrade"
**What happened**:
Trying to upgrade a config I found here

**What you expected to happen**:
It to migrate the config by running the command it gave me

**How to reproduce it (as minimally and precisely as possible)**:
Simply run the command with the config

**Anything else we need to know?**:
[code]

**Environment**:
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3", GitCom

[2018-12-03 07:32] sfxworks commented on #71652
`Please use kubeadm v1.11`

[2018-12-03 07:32] #71652 closed

[2018-12-03 07:36] Swatikp commented on #41040
/reopen

[2018-12-03 08:00] uablrek commented on #71596
On version;
[code]

The problem still persists;
[code]

Above it an `ipvsadm -L -n` from one node after a test. 7 connects are OK (the local ones) and the others lost.

[2018-12-03 08:05] liucimin commented on #65743
#71653

[2018-12-03 08:11] hristovpln commented on #41193
/reopen

[2018-12-03 08:12] m1093782566 commented on #71596
Seems you are right but I am not if it will break other e2e tests. I remember there is a hack for LB type service?

@Lion-Wei

[2018-12-03 08:31] uablrek commented on #71596
@m1093782566 This is in code only used for proxy-mode=ipvs, is it possible to limit the e2e tests to that case? Not final, but to check it e2e tests are broken a bit faster.

[2018-12-03 09:07] #71224 closed

[2018-12-03 09:40] zh168654 commented on #69082
any update? @prakashmishra1598

[2018-12-03 10:27] mrIncompetent opened #71655 "informer-gen does not respect `+resourceName` tag"
**What happened**:
Generated clients & informers for my types using:
[code]

One of the API types look the following:
[code]

**What you expected to happen**:

The generated `sharedInformerFactory` uses `usersshkeies` (As specified via the Tag on the type) within the `ForResource` function. But instead it uses `usersshkeys`:
[code]

The generated client correctly uses `usersshkeies`

**How to repr

[2018-12-03 10:31] #71249 closed

[2018-12-03 10:32] githubslayer commented on #47368
We would also like to have this feature. We want to use Argo to define our workflows and it has its own spec to define a container (not POD) and we'd like to add labels in the container section.

Thanks.

[2018-12-03 10:51] matthiasr commented on #57280
`/run` (at least on most systems) is automatically cleaned out on boot.

Is it safe to flush `/var/lib/cni` without also flushing `/var/{lib,run}/docker`? we run into this after node crashes, but we'd rather not re-pull all the images after every reboot.

[2018-12-03 10:54] mrIncompetent commented on #71655
/sig api-machinery

[2018-12-03 10:56] matthiasr commented on #57280
FWIW, I don't think this is a *flannel* issue per se, and it still happens in 1.12.1.

We use plain kubenet on the cluster in question, and the path is [set by Kubernetes](https://github.com/kubernetes/kubernetes/blob/eab977f6d4f70ee67ddde756d20e45d428f2a5f5/pkg/kubelet/dockershim/network/kubenet/kubenet_linux.go#L64). There was code to fix this [generally by GCing](https://github.com/kubernetes/k

[2018-12-03 11:02] jcassee commented on #42885
/remove-lifecycle stale

[2018-12-03 11:22] Nebulazhang opened #71656 "add /runtime-healthy api in kubelet"
**What would you like to be added**:
Sometimes we found there are some errors which are from docker error, but we cannot find it easily.
Can we add an api for runtime-healthy in kubelet?
We can check if  the docker is heath by kubelet's `/runtime-healthy` api.
Just like kubelet's  `/healthz`
**Why is this needed**:
We can check runtime(docker ) healthz.
And if kubelet finds some inner error about

[2018-12-03 11:31] Nebulazhang commented on #71656
We met an error :`docker ps` is ok, but `docker inspect` will hung .And PLEG is unhealthy and kubelet cannot delete one container. And `restart dockerd` can recover.
This error is concealed because `docker ps` is ok .
If kubelet can report it's runtime-health , we can find this error more easily

[2018-12-03 11:32] Nebulazhang commented on #71656
/sig node

[2018-12-03 11:35] lovejoy commented on #62956
if you use abac ,add `{"apiVersion": "abac.authorization.kubernetes.io/v1beta1", "kind": "Policy", "spec": {"group":"system:authenticated",  "namespace": "*", "resource": "poddisruptionbudgets","apiGroup": "*"}} ` this to your policy file

[2018-12-03 11:57] #71557 closed

[2018-12-03 11:57] linanster commented on #71557
resolved myself

[2018-12-03 12:19] WanLinghao commented on #71656
/cc

[2018-12-03 12:58] andyzhangx commented on #71594
/assign @feiskyer

[2018-12-03 13:00] krzysied opened #71659 "Scheduler - Scheduling throughput drop"
There is a significant drop in scheduling throughput in ci-kubernetes-e2e-gce-scale-performance test.

![scheduling_throughput](https://user-images.githubusercontent.com/25119199/49374898-0ecbcd00-f703-11e8-8788-e6803220ca9f.png)

It looks like change that cause this issue was introduced between 05/11/2018 (run 249) and 06/11/2018 (run 250)

/kind bug
/sig scheduling

[2018-12-03 13:05] raffaelespazzoli commented on #41193
/reopen

[2018-12-03 13:05] krzysied commented on #71659
/assign @bsalamat
/cc @wojtek-t

[2018-12-03 13:49] #68686 closed

[2018-12-03 13:52] #65868 closed

[2018-12-03 14:00] 4m3ndy commented on #24873
Hey guys just made this docker image for exporting the required yaml files for each component per namespace. these backups are exported then encrypted with a password and uploaded to S3 Bucket.

If any one would like to commit any changes or share any comments, you're more than welcomed :+1:
[https://github.com/ambient-innovation/k8s-backup](ambient-innovation/k8s-backup)

[2018-12-03 14:14] feiskyer commented on #71594
This is a known issue because VMSS API doesn't support configurations for each instance. Hence, Azure cloud provider would do manualupgrade for all instances whenever VMSS model is updated.

@sylr For safety, I suggest you do the manualupgrade step by step for all instances if you have changed the VMSS model.

[2018-12-03 14:44] qurname2 commented on #51785
I have a similar problem in version 1.11.3 on a freshly installed cluster. Any ideas?

[2018-12-03 14:55] sylr commented on #71594
@feiskyer How would I do that ? Once I change the VMSS Size I have just a few minutes before the Azure provider triggers the `manualupgrade` on all "old" instances.

[2018-12-03 15:01] gosoon opened #71660 "kubelet - ow to avoid pod to be evicted in node pressure？，I'm a little confused？"
Kubernetes v1.8.1

I've already tested when kubelet use ‘----eviction-hard=’  flag，notice that there's only a key here and no value，then only tested node disk is full（/ and /home used is 100%，this is equivalent to
nodefs.available=100%）pod not eviction, and i do not see pressure status use `kubectl describe node xxx` ，but I'm still wondering if this is standard practice, and it looks really weird。

[2018-12-03 15:02] gosoon opened #71661 "kubelet - How to avoid pod to be evicted in node pressure？，I'm a little confused？"
Kubernetes v1.8.1

I've already tested when kubelet use ‘----eviction-hard=’  flag，notice that there's only a key here and no value，then only tested node disk is full（/ and /home used is 100%，this is equivalent to
nodefs.available=100%）pod not eviction, and i do not see pressure status use `kubectl describe node xxx` ，but I'm still wondering if this is standard practice, and it looks really weird。

[2018-12-03 15:41] hex108 opened #71662 "Scheduler's predicates should be matched against kubelet"
**What would you like to be added**:
Make `GeneralPredicates` a MUST have predicate for scheduler.

**Why is this needed**:
Admin could configure scheduler's predicates. Take a extremely special case for example, we just configures `PodFitsHostPorts` predicates as following:

[code]
Suppose there are two kubelet nodes with same allocatable resource(kubelet A has 1 cpu and 500Mi left for allocating

[2018-12-03 15:42] hex108 commented on #71662
/sig scheduling
/assign @hex108
cc @resouer

[2018-12-03 15:54] #65727 closed

[2018-12-03 16:06] wojtek-t commented on #71659
I supposed this one may be related: https://github.com/kubernetes/kubernetes/pull/70274
It does a bunch of unnecessary memory allocations...

[2018-12-03 16:39] gnufied commented on #71578
Still investigating but what I think is happening is - because of https://github.com/kubernetes/kubernetes/issues/71614 bug, kubelet is crashing (I can confirm from logs that this happened) and when it does it appears that volume reconstruction logic for attacher (and few other) pods is failing and it is continuously printing following message in logs:

[code]

And because volume never gets unmoun

[2018-12-03 16:55] #65004 closed

[2018-12-03 17:14] ut0mt8 opened #71665 "Upgrading to 1.12.0 worker refuse to register with node not found"
**What happened**:

Manually bootstrapping a new cluster in v1.12 resulting in a strange message in kubelet logs :
3418 kubelet.go:2236] node "wrk00" not found
and worker did not register to api server (and so my install is not working at all since any worker have the symptom)

**What you expected to happen**:

Kubelet to register to api-server or at least a better error message

**How to reproduc

[2018-12-03 17:21] ut0mt8 commented on #71665
/sig bugs

[2018-12-03 17:22] deitch commented on #48180
/remove-lifecycle stale

[2018-12-03 17:30] johnSchnake opened #71666 "Conformance test for DaemonSet RollingUpdate to rigid on timeout"
When running conformance testing on a cluster with 8 nodes schedulable for jobs, the conformance test for rolling updates on daemon sets fails due to timeout.

Test name: `Daemon set [Serial] should update pod when spec was updated and update strategy is RollingUpdate [Conformance]`

Test code is here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/daemon_set.go#L326-L369
It u

[2018-12-03 17:34] johnSchnake commented on #71666
If there is agreement on the issue, I'm happy to implement the fix for this. I couldn't find anyone else really complaining about this timeout though so I wanted to be sure to get a sanity check first though.

[2018-12-03 17:35] pdecat commented on #59033
This issue is still present on GKE 1.11.2-gke.18 :(

[2018-12-03 17:43] gnufied commented on #71578
Also, I could confirm that kubelet crashed at 22.01:

[code]

And after that reconcile reconstruct never ran and hence naturally the volume was not mounted. There seems to be something wrong with reconstruction logic, it runs too late after kubelet starts. For example, in the entirity of kubelet logs it ran only once:

[code]

And never after kubelet recovered from crash. Also before crash when ku

[2018-12-03 17:48] MrHohn commented on #59033
@prameshj We will need https://github.com/kubernetes/kubernetes/pull/64640 to actually fix this right?

[2018-12-03 17:58] prameshj commented on #59033
That's correct.

[2018-12-03 18:02] MrHohn commented on #59033
Thanks! Reopening for tracking purpose.
/reopen

[2018-12-03 18:07] spiffxp commented on #71646
/cc @mariantalla

[2018-12-03 18:17] jberkus commented on #71646
Multiple Storage tests have this issue, as identified by @msau42, who was the one to identify the problem.

Ref: #71434

[2018-12-03 18:34] msau42 commented on #71646
I am tracking and working on storage related tests here: https://github.com/kubernetes/kubernetes/issues/71570

[2018-12-03 18:45] tallclair opened #71669 "Kubernetes apiserver cors-allowed-origins misconfiguration"
## Summary
A list of allowed origins can be supplied to the Kubernetes apiserver at runtime to support Cross-Origin Resource Sharing (CORS). Documentation states that this list "can be a regular expression to support subdomain matching"; however, every item in the list is treated as a regular expression in the CORS request handling middleware. Further, documentation and test cases do not contain e

[2018-12-03 18:48] darkworon commented on #66545
/remove-lifecycle rotten

[2018-12-03 19:08] 2rs2ts commented on #62204
/remove-lifecycle stale

[2018-12-03 19:21] msau42 commented on #64604
/remove-lifecycle stale

work is being planned for 1.14

[2018-12-03 20:02] davidz627 commented on #64635
/remove-lifecycle stale

[2018-12-03 20:07] gnufied commented on #71578
I think that this flake should mostly be gone once kubelet crash is fixed. However, we still may want to investigate expected time at which reconciler runs reconstruction. I suspect that, because of API being throttled, the reconstruction process just did not run in time and hence the test flaked. In properly behaving cluster - reconstruction process should run immediately after kubelet starts.

c

[2018-12-03 20:17] johnSchnake commented on #71666
@kubernetes/sig-testing Can I get someone to confirm/debunk my analysis above?

[2018-12-03 21:01] mitpwd opened #71671 "Request to hotfix 1.8.15 for CVE-2018-1002105 - proxy request handling in kube-apiserver"
We would need to see the CVE-2018-1002105 to be addressed with a hotfix in version 1.8.x (preferable targeting 1.8.15).

**What happened**:
Proxy request handling in kube-apiserver can leave vulnerable TCP connections in version 1.8.15.

**What you expected to happen**:
This vulnerability to be addressed in the Kubernetes 1.8 core functionality of the api server.

**How to reproduce it (as minimal

[2018-12-03 21:15] mbohlool commented on #71598
cc @caesarxuchao

[2018-12-03 21:16] mbohlool commented on #71623
@logicalhan @jpbetz

[2018-12-03 21:17] mbohlool commented on #71669
@cheftako @liggitt

[2018-12-03 21:17] yliaog commented on #71669
/cc @yliaog

[2018-12-03 21:35] misterikkit commented on #68951
I am back from my time off, so I can give these issues attention. I think that the last two issues might get moved to phase 2, as they require more refactoring than anticipated.

[2018-12-03 21:36] misterikkit commented on #68957
@PrasadG193 From our last conversation, it sounded like some of the consumers of `FeatureGate` are stateless, so injecting an object would require more refactoring. Can you list those here?

[2018-12-03 21:37] logicalhan commented on #71623
It's probably a bit dangerous to just start throwing error for situations where you did not before, since it would be possible to break people in very unexpected ways.

If we really wanted to enable this behavior, it would be better off explicitly enabled (for example, via a query param or something), so that we could gain the behavior only when it was explicitly desired. I don't have enough conte

[2018-12-03 21:39] misterikkit commented on #68955
@bsalamat I think the last time we discussed this, you had a reason that event handlers shouldn't all go inside the `core` package. It centered around how the cache code is organized relative to `core`.

[2018-12-03 21:41] liggitt commented on #71623
I don't think this is proposing erroring or failing. It is likely predicated on the ability to return warnings to the user in addition to existing API responses.

Something along those lines was proposed long ago in https://github.com/kubernetes/kubernetes/pull/36325

I have interest in reviving something in that direction to start to surface warnings related to unsupported or deprecated features.

[2018-12-03 21:51] liggitt commented on #71671
three minor versions of kubernetes are currently supported and receive bug and security fixes.

@kubernetes/sig-release

[2018-12-03 22:03] #71614 closed

[2018-12-03 22:13] timothysc commented on #71505
Closing this issue.

If you are still having an issue in 1.13, please feel free to reopen an issue here: https://github.com/kubernetes/kubeadm

[2018-12-03 22:14] redbaron commented on #71411
@liggitt , why doesn't kubelet's webhook authorization didn't reject subsequent requests on still open TCP connection from APIServer?

[2018-12-03 22:17] liggitt commented on #71411
Because the kube-apiserver <-> kubelet connection was established with the kube-apiserver's TLS credentials, which are broadly authorized against the kubelet API. The kubelet would authorize the kube-apiserver to make that request, and allow it.

[2018-12-03 22:18] logicalhan commented on #71623
Oh interesting, that thread has a lot of history. I was mostly responding to the bit here:

That PR is pretty information dense, I'll have to think about it some more. I appreciate you linking it though, it is quite helpful context.

[2018-12-03 22:30] bsalamat commented on #68955
@misterikkit Yes, the scheduler cache and its event handlers are owned by the external layer of the scheduler which lives in pkg/scheduler/scheduler.go. The cache is passed by the external component to the internal part of the scheduler. I believe the external part is responsible for updating the cache and the event handler should stay there.

[2018-12-03 22:30] prameshj commented on #69123
/sig network

[2018-12-03 22:32] redbaron commented on #71411
Hmm, I misunderstood how webhook authorization works then, I thought that no requests are trusted in that mode and even for /proxy requests, initiator's credentials are passed by APIServer to kubelet, which then comes back to apiserver for SubjectAccessReview.

So I thought scheme is like following:

Initiator -> APIServer (authn/authz) -> kubelet -> APIServer (SubjectAccessReview)

But seems it i

[2018-12-03 22:33] liggitt commented on #71411
the credentials authorized by the kubelet in that case are the apiserver's

[2018-12-03 22:53] mumoshu commented on #71411
@liggitt Thanks for the fix and the detailed summary!

Just for clarification - this vulnerability can't be exploited from **outside** of the cluster, as long as we disable [`anomymous requests`](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#anonymous-requests), right?

I'm asking because my users tend to open up K8S API endpoint to the Internet, occasionally restricting

[2018-12-03 22:55] gnufied opened #71673 "Stopping ./hack/local-cluster-up.sh leaves sidecar containers running"
Not sure if this is intentional  - but I have noticed that stopping `./hack/local-cluster-up.sh` via `Control-C` still leaves the sidecar containers such as `kube-dns` etc running:

[code]

I know we probably can't delete user pods but it seems like an oversight to leave this containers running. It causes endless spam in journcal logs:

[code]

[2018-12-03 22:56] gnufied commented on #71673
(taking a gues here)

/sig cluster-lifecycle

[2018-12-03 23:00] liggitt commented on #71411
Correct, escalations start with a single authorized request through kube-apiserver to the backend. Preventing that (either by disallowing anonymous requests with --anonymous-auth=false or by removing the default discovery permissions granted to anonymous users) mitigate the anonymous escalation. Be aware that can disrupt normal operations of a cluster, including load balancer and kubelet detection

[2018-12-03 23:06] neolit123 commented on #71671
@mitpwd, this might be a good signal that it's time for you to update.

it was discussed not so long ago, that by going outside of the maintenance skew, a version (e.g. 1.8 - 1.10) no longer has a patch manager. so one of the problems here is that there is no one to take the responsibility for merging patches for older branches.

sig-release can decide to kindly ask the current on-duty release tea