[2019-09-23 23:17] neolit123 commented on #82440
@kubernetes/sig-node-bugs

[2019-09-23 23:21] logicalhan commented on #82808
Alternatively, we can output timings in outputted logs when includeTiming query param is set. This would mean that we can decouple the two query params and customize the behavior for verbose output when the two are both present.

It makes using healthz with query params a bit simpler and more intuitive since we can do this:

`curl localhost:8080/healthz?verbose&includeTimings`
`curl localhost:8080

[2019-09-23 23:25] lavalamp commented on #82046
No, that is a bug, I think.

On Mon, Sep 23, 2019 at 4:19 PM Jennifer Buckley <notifications@github.com>
wrote:

[2019-09-23 23:35] jennybuckley commented on #82046
I think it's a bug too, but we already [support](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#request) making, say, a `deployment/scale` webhook, which looks at the `autoscaling/v1.Scale` being sent to that endpoint. So if we wanted to fix this for admission in general, I think we would have to call both the scale admission chain and then the regular ad

[2019-09-24 00:07] Nowaker commented on #82440
Update: I replaced `mysqladmin`-based liveness/readiness probe with `/bin/true`, and increased delaySeconds to 30 seconds and 10 seconds for readiness and liveness respectively, to show it's not due to `mysladmin` usage but the liveness declaration itself. I also increased the number of workloads to show the extent of the slowdown caused by the probes.

[code]

Results:

- 100 pods running without

[2019-09-24 00:18] liggitt commented on #83028
@jpbetz doesn't the error message seem strange to you?

The error message says the certificate is valid for the hostname we're trying to connect to, and is not valid for the first hostname listed in `--etcd-servers`. That certainly sounds like the bug #72102 that was supposed to be fixed in #81434 in 1.16

[2019-09-24 00:22] paivagustavo commented on #82808
@logicalhan but what `includeTimings` without `verbose` would return? If it returns the timing of every check, isn't this already verbose?

@jpbetz suggested that we return a structured data, with JSON or something (based on the `Accept` header). It is easier and more extensible, I like this approach better.

One thing that I would prefer is using query parameters instead of Headers, to be easier

[2019-09-24 00:26] logicalhan commented on #82808
My thought was that it would individually log out the timing details into kube-apiserver.log. The actual output of healthz would be the same.

[2019-09-24 00:31] #82195 closed

[2019-09-24 00:40] danbeaulieu commented on #82440
@Nowaker I believe the root cause is an inefficiency in moby when exec'ing in to a namespace. https://github.com/moby/moby/issues/39102
I did some testing to confirm by running the exec command via `docker exec` with the same period and then another test just running the same command directly on the host. Kubelet did add some overhead but very little compared to docker/moby.

I haven't tried other

[2019-09-24 00:47] liggitt commented on #82979
Thanks for the issue, but the `all` alias was intentionally removed fro documentation due to lots of user confusion about it not actually including all resources, and the inability to make it actually include all resources to to compatibility issues with scripts making use of it to do destructive things like deletion

/close

[2019-09-24 00:47] #82979 closed

[2019-09-24 00:51] julianvmodesto commented on #82046
Seems lower priority, but I think we'd want to track a TODO somewhere for similar changes for updating the manager for /scale on CRDs

https://github.com/kubernetes/apiextensions-apiserver/blob/aef9cf9c74430318df9fb4ddc9a728d7666e9815//pkg/registry/customresource/etcd.go#L239

[2019-09-24 01:01] mohnishkodnani commented on #53459
Same above, we have thousands of the CRD instances, and would love to be able to select them using field selectors. We also for now are planning to duplicate all that data in the labels, which is a real pain.
Please let me know if I can help in any way to make progress here.

[2019-09-24 01:21] jpbetz commented on #83028
Oh wait. The problem cluster already 1.16. Looking

[2019-09-24 01:29] gyuho commented on #83028
@jpbetz I don't think our fix handles DNS names in failover, since we can only get target IP from remote connection

ref. https://github.com/etcd-io/etcd/pull/10911/commits/db61ee106ca9363ba3f188ecf27d1a8843da33ab

[2019-09-24 01:36] Nowaker commented on #82440
Quick update: @chancez pointed out on Kubernetes Slack https://github.com/opencontainers/runc/commit/0a8e4117e7f715d5fbeef398405813ce8e88558b might be the reason why `docker exec` is slow in general. However, this probably doesn't explain why we're seeing a new `runc` spawned *at least* once a second when probe period is 10 seconds.

[2019-09-24 01:56] kewenwang-ai commented on #82118
Yes, I understand.

But there may exist a time lag between the scheduler and the controller.
After the controller split the crd into pod-group, there maybe a time lag before the scheduler do scheduling. And also there may be interspersed with other Pod scheduling or Pod resource released, which causes a change in resource state, so the pod-group maybe not the optimal when actually scheduling, even

[2019-09-24 01:57] kewenwang-ai commented on #82118
Here is an example of a CRD job (such as define the CRD as DLJob) for Deep Learning, which user only need to describe the total resources of the job and specify the container images.

[code]

This yaml declare a DLJob with the request for 8GPU and 8CPU, when do the splitting, this job could be split into [PodA, PodB] each with 4GPU or [PodA, PodB, PodC, PodD] each with 2GPU according to the curren

[2019-09-24 02:12] ashleydavis commented on #15478
It's pretty terrible that there's still no way for a cluster owner to use Docker log drivers after all this time.

I was able to get setup very quickly with Docker-Compose (simulating my K8s cluster) to pipe all stdout/err to my log aggregated service.

Trying to do this in Kubenetes? From this thread it looks like I'm going to have to augment the code for every microservice! Not good.

[2019-09-24 02:31] nileshkumar01 opened #83038 "Pod ephemeral local storage usage exceeds the total limit of containers xxGi"
**What happened**:

The problem we have is that the Windows pods in Kubernetes cluster were getting evicted with The node was low on resource: ephemeral-storage. error. When tried to set an ephemeral storage limit, the following were observed.The pod is only running if the ephemeral-storage limit is set to 16Gi or higher. The pod is getting evicted with Pod ephemeral local storage usage exceeds th

[2019-09-24 02:36] HelenaZheng commented on #83000
@zouyee

[~]#telnet 30.67.168.26 6443
Trying 30.67.168.26...
Connected to 30.67.168.26.
Escape character is '^]'.

30.67.168.26 is the VIP of aipserver

[2019-09-24 03:09] rudaym opened #83039 "Multiple persistent volumes mounting is not working"
**What happened**:
I have a container which expects multiple volume to be mounted and they have to be persistent. I created an NFS server and used that as a persistent volume mount. Binding between PV and PVC are going through fine, when look at the status of PV and PVC, I could see that they are bound to correct nfs shared directories. But when i perform the deployment, I see that both the volume

[2019-09-24 03:17] whereisaaron commented on #15478
Hi @ashleydavis, `dockerd` was deprecated in Kubernetes so there is no point introducing support for something that is no longer part of Kubernetes. Though you can still install it in addition to Kubernetes. Here is the background:
https://kubernetes.io/blog/2018/05/24/kubernetes-containerd-integration-goes-ga/

You don't need to augment containers unless you want to, Kubernetes natively streams s

[2019-09-24 03:20] rudaym commented on #83039
@kubernetes/sig-storage

[2019-09-24 03:22] BobyMCbobs commented on #82313
Last PR related to this: https://github.com/kubernetes/kubernetes/pull/79875

[2019-09-24 03:22] xwang95054 opened #83040 "kubernetes 1.13.10 cluster worker node cannot resolve dns"
root@da-master:/home/aella# kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.10", GitCommit:"37d169313237cb4ceb2cc4bef300f2ae3053c1a2", GitTreeState:"clean", BuildDate:"2019-08-19T10:52:43Z", GoVersion:"go1.11.13", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.10", GitCommit:"37d169313237cb4ceb2cc4b

[2019-09-24 03:25] danielqsj commented on #83007
yep, I think the code comment is outofdate, I will fix it.
/assign

[2019-09-24 03:27] ashleydavis commented on #15478
Thanks for the detailed response.  I'm definitely going to look into this.

With dockerd deprecated does that mean I can't deploy Docker images to Kubernetes in the future?

[2019-09-24 03:39] prabhakar-pal opened #83041 "kubeadm crashes when dualstack feature gate is enabled"
**What happened**:

Tried bringing up DualStack cluster using kubeadm by setting the "IPv6DualStack: true" feature gate. But it is crashing with "panic: assignment to entry in nil map" error

root@maglev-master-10-64-89-173:/etc/kubernetes/maglev/manifests# kubeadm -v=7 init  --ignore-preflight-errors=all --config /etc/kubernetes/kubeadm.conf
I0924 03:07:09.738125   23804 initconfiguration.go:190]

[2019-09-24 03:50] tedyu commented on #83041
Should have been fixed by commit 23b75cfcad29076a59737a2819cb85aab4580833

[2019-09-24 04:12] whereisaaron commented on #15478
@ashleydavis you can certainly keep using 'Docker' images (even without `dockerd` present), and you can keep deploying `dockerd` on your Kubernetes nodes for your own purposes (like in docker-in-docker builds) if you want. The core parts of docker have been extracted and standardised as 'OCI containers' and the `container-d` run-time.

https://www.opencontainers.org/
https://containerd.io/

Both D

[2019-09-24 04:21] ashleydavis commented on #15478
Thanks, I'm learning so much.

I just created a microservice that I called Loggy. The intention was for it to be sent logs by the Docker log driver and then forward them (via webhook) to Slack.

You can see the code here: https://github.com/artlife-solutions/loggy/blob/master/src/index.ts

It's pretty simple, receive a log and forward it via HTTP POST to Slack.

What's the quickest way to adapt th

[2019-09-24 04:27] liggitt commented on #83028
matching priority in original bug (https://github.com/kubernetes/kubernetes/issues/72102)

[2019-09-24 04:28] prabhakar-pal commented on #83041
@tedyu, is this part of 1.16.0?

[2019-09-24 04:32] tedyu commented on #83041
Would be fixed in 1.16.1

[2019-09-24 04:35] liggitt commented on #83028
We need to verify whether this was actually a regression in 1.16, or if the same issue existed in 1.15.4 and just never got hit because the first server specified in `--etcd-servers` was available on startup

[2019-09-24 05:25] jpbetz commented on #83028
k8s 1.15 uses etcd 3.3.13 and k8s 1.16 uses etcd 3.3.15. In etcd [3.3.14](https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.3.md#v3314-2019-08-16) we switched over to the new grpc based client side load balancer implementation. It's quite probable this is a regression. But I agree we should verify.

[2019-09-24 05:31] whereisaaron commented on #15478
@ashleydavis you could Build a container image with that micro-service in it, then either

1.  Deploy it you cluster as [Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) with a [Service](https://kubernetes.io/docs/concepts/services-networking/service/) that all containers on your cluster could then send to (using the [Service's cluster DNS name](https://kubernetes

[2019-09-24 05:37] ashleydavis commented on #15478
Sounds good thanks. I was just hoping not to have to change existing services. I'd just like to capture their stdout/error. Anyway to do that?

[2019-09-24 05:40] HelenaZheng commented on #83002
@zouyee
@/sig Node

I telnet the apiserver on the node, is ok. Is this can be think the connection between the node and apiserver  is ok?

And I found some other log

kubelet[3975]: ' exited with 126: , message: "OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused \"read init-p: connection reset by peer\": unknown\r\n"

[2019-09-24 05:42] cwdsuzhou commented on #82926
@13567436138  can you  show your manifests

[2019-09-24 05:43] mrwonkerz commented on #80288
@daschott I updated my Windows Nodes to the latest Windows Update last friday. Since then my services kept their endpoints, I will give it time till the end of this week. If it stays stable I will close this issue. Thanks for your help

[2019-09-24 05:47] rvadim commented on #64616
There are no documentation about this case. I spent a few hours in order to get proper configuration.

[2019-09-24 06:01] prabhakar-pal commented on #83041
/sig network

Thanks @tedyu  for your inputs

[2019-09-24 06:03] jpbetz commented on #83028
cc @dims

[2019-09-24 06:07] HelenaZheng opened #83044 "kubelet service not Runing -- kernel: SLUB: Unable to allocate memory on node -1 (gfp=0x20)"
The k8s node not Running, I found the kubelet service not running.

@/sig Architecture
@/sig Node
@/sig K8s Infra

KB rss:700KB rss_huge:0KB mapped_file:0KB swap:0KB inactive_anon:0KB active_anon:700KB inactive_file:40KB active_file:36KB unevictable:0KB
Sep 20 15:21:56 ida-lj4700146 kernel: [ pid ]   uid  tgid total_vm      rss nr_ptes swapents oom_score_adj name
Sep 20 15:21:56 ida-lj4700146 kern

[2019-09-24 06:13] HelenaZheng commented on #83044
@/sig Architecture
@/sig Node
@/sig K8s Infra

#du -sh /wls/docker/overlay2/5c7105ac9ffea5fc430efd8b17efbfeb75f0ab1ca65dcaf4a4c512ad31a9d8a5/diff /wls/docker/containers/8af95b66e758dbaebd0e3d279245f1131e46ed0357bd87da848a0da246486bca
du: cannot access ‘/wls/docker/overlay2/5c7105ac9ffea5fc430efd8b17efbfeb75f0ab1ca65dcaf4a4c512ad31a9d8a5/diff’: No such file or directory
du: cannot access ‘/wls/dock

[2019-09-24 06:14] prabhakar-pal commented on #83041
@tedyu, one side note, the above PR has not yet been cherry-picked to 1.16 branch

[2019-09-24 06:17] HelenaZheng commented on #83044
Sep 20 15:21:56 ida-lj4700146 kubelet[3975]: ' exited with 126: , message: "OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused \"read init-p: connection reset by peer\": unknown\r\n"
Sep 20 15:21:56 ida-lj4700146 kubelet[3975]: I0920 15:21:56.593204    3975 kuberuntime_container.go:553] Killing container "docker://c8b5a542e04688a32abbfb47b391c9170ef08dd

[2019-09-24 06:32] michmike commented on #74991
@tianyuansun we welcome any and all help in this area. you can sync with @benmoss offline and see if you can help us fix this.

[2019-09-24 06:49] jotrobin opened #83048 "Nodes are in <Not-Ready> state with error FailedNodeAllocatableEnforcement error."
I have a K8s cluster:
[code]

Following are the pods. 2 of the coredns pods are in pending state.
[code]

```kubectl describe nodes``` give this same error in **master** and both the **slaves**:

[code]

[2019-09-24 06:53] eddiesimeon commented on #83048
seems 1.16.0 new validates cni version in cni config
the follow pr fixes the issue -> coreos/flannel#1181

quick fix:
update file to /etc/cni/net.d/10-flannel.conflist to include the following just as it is in the PR
cniVersion: "0.2.0"

[2019-09-24 06:54] rhuss commented on #82942
The main use cases I see is for UI and tooling metadata which makes sense only in the context of this tooling (which would have some kind of fallback if the custom extensions are not given):

* Helping Web-UI with hints for the ui layout (`x-web-dropbox`, `x-web-radiobutton`, ...)
* Clustering parts of the schema to a single managed element, like the typical specification for resources with a spec

[2019-09-24 07:59] KeepTheBeats opened #83050 "When the time of a node changes to earlier, the pod may be "CreateContainerError" and can't recover itself"
**What happened**:

I have a node "nodeA", I will run a pod "podA" on "nodeA", and "podA" has a container "containerA".
The time now is "timeA".

1. I run "podA" on a "nodeA" at "timeA", so kubelet create a container named "containerA_0", we can use command "docker inspect xxxxxxx" to see the "Created" field of "containerA_0" is "timeA".

2. The time of "nodeA" is changed to "timeB" for some reaso

[2019-09-24 08:10] KeepTheBeats commented on #83050
/sig apps

[2019-09-24 08:23] zouyee commented on #83050
/sig node

[2019-09-24 08:25] danielqsj commented on #82864
@BruceShenC please upgrade your rbd-nbd client. From my side, after upgrade to `12.2.8`, the `--version` works:
[code]

[2019-09-24 08:29] filippomc commented on #51046
Hi, isn't there any plan to support other fields for CRDs? In my use case (create argo workflows) not being able to filter by status is quite a big limitation

[2019-09-24 08:49] wawa0210 commented on #74173
/assign

[2019-09-24 08:57] hakur commented on #82925
close this issue , my leader accepted my explain :wink:

[2019-09-24 08:57] #82925 closed

[2019-09-24 08:59] yastij commented on #76674
@liggitt - makes sense. Also note that this API wasn't used by anyone before AFAIK, due to the missing implementation of it, so I'm not sure anyone disabled it (e.g. via `runtime-config`).

For the next PRs do you prefer us:
- to fallback on `core/v1` if `events.k8s.io/v1beta1` is not available ?
- add an action required to avoid disabling `events.k8s.io/v1beta1` ?

[2019-09-24 08:59] HelenaZheng commented on #83044
Sep 20 15:21:59 ida-lj4700146 kernel: SLUB: Unable to allocate memory on node -1 (gfp=0x20)
Sep 20 15:21:59 ida-lj4700146 kernel:   cache: kmalloc-1024(5668:c8b5a542e04688a32abbfb47b391c9170ef08ddc611bdd8e2fca00070b4df8b3), object size: 1024, buffer size: 1024, default order: 3, min order: 0

[2019-09-24 09:11] bjliyp opened #83053 "namespaces status is Terminating,but resources is running,Pod status was running"
**What happened**:
We found that one of the namespaces in our k8s cluster has suddenly changed to Terminating, but all the resources in it are in normal use, and pod is running. Now I don't know why the namespaces have changed to Termination. Could you please tell me if there is any direction to address this problem?

**Environment**:
- Kubernetes version (use `kubectl version`):v1.11.3
- OS (e.g:

[2019-09-24 09:15] liangxianlong opened #83054 "How to use pod overhead in runtimeclass"
I read these links
https://kubernetes.io/docs/concepts/configuration/pod-overhead/
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/
https://github.com/kubernetes/kubernetes/pull/78484

but i also don't know how to use pod overhead in runtimeclass or kata-containers
@egernst
who can give me a yaml file about pod overhead??

[2019-09-24 09:24] wojtek-t commented on #76674
My personal opinion is that:
- we should add some action required in 1.16 release notes
- promote the API to v1 in 1.17

@liggitt - does that sounds reasonable to you?

[2019-09-24 09:31] taisph opened #83056 "Columns missing from kubectl get events watch"
**What happened**:

Running `kubectl get events --all-namespaces --watch` shows the usual initial events with the usual columns like message, kind, reason etc. But all events printed after those only show the namespace, name and age column which are useless on their own.

**What you expected to happen**:

Prior to kubectl 1.16.0 the initial columns and the watched events where identical. I expecte

[2019-09-24 09:35] wjentner commented on #82361
@danwinship excellent, thank you!
Do you know already in which version this will be released?

[2019-09-24 10:20] chmouel opened #83059 "Allow updating the Spec.Container.Command"
**What would you like to be added**:

As stated by the error we are not able to change a Container entrypoing  in the spec  :

[code]

We would like to know if there is a rational denying a modification of an Entrypoint

**Why is this needed**:

As the error says we do allow changing the Image name but when we change the image name the argument of the new image can/should be different and it would

[2019-09-24 10:22] chmouel commented on #83059
/sig api-machinery

[2019-09-24 10:33] liangxianlong commented on #83054
/sig api-machinery

[2019-09-24 11:02] liggitt commented on #83056
Kubectl uses capabilities added to the server in 1.15 (in https://github.com/kubernetes/kubernetes/pull/71548). Kubectl currently supports +/- 1 version of skew from the server, so upgrading to a 1.15 server would allow displaying full event output with --watch

/close

[2019-09-24 11:02] #83056 closed

[2019-09-24 11:20] DeborggraeveR commented on #66067
Bug still present in kubernetes 1.16.0

[2019-09-24 11:21] neolit123 commented on #48798
flannel has not updated their manifest to comply with the latest changes in k8s 1.16.
try a different CNI plugin, like Calico or WeaveNet.

[2019-09-24 11:21] neolit123 commented on #48798
...or patch the flannel manifests to use `apps/v1` instead of `extensions/v1beta1`

[2019-09-24 11:23] danwinship commented on #82361
1.17

[2019-09-24 11:57] mrbobbytables commented on #82767
Enhancement tracking issue ref: https://github.com/kubernetes/enhancements/issues/714

[2019-09-24 12:53] Ojaswy commented on #81526
Hello I am new to this and I want to contribute. How can I help with this issue?

[2019-09-24 13:07] jkaniuk commented on #82875
/cc krzysied

[2019-09-24 13:13] damemi commented on #81526
Hi @Ojaswy, if you look through the linked PRs (or search the codebase for the incorrect URL) you should find places where the url is still wrong. A lot of the locations I originally pointed out have been fixed with 1.16, but I think there may still be more. If you make your changes, open a pull request and link it to this issue.

[2019-09-24 13:14] krzysied commented on #82875
/assign

[2019-09-24 13:18] krzysied commented on #82875
[code]
There is a problem with creating deamonsets when node killer is enabled. When clusteroader creates daemonset it stores expected number of pods. When killed node reappears, the expected number of pods is not update, causing #pods != #expected pods.

[2019-09-24 13:52] Prodian0013 opened #83063 "iptables rules causing network unreachable"
**What happened*:
Pods on 10.244.0.0/16 network can reach each other but cannot reach the 10.96 network or node network.

`E0923 21:25:30.881753       1 reflector.go:134] github.com/coredns/coredns/plugin/kubernetes/controller.go:317: Failed to list *v1.Endpoints: Get https://10.96.0.1:443/api/v1/endpoints?limit=500&resourceVersion=0: dial tcp 10.96.0.1:443: connect: network is unreachable`

`NAME

[2019-09-24 14:04] nikhita commented on #65612
/remove-lifecycle stale

[2019-09-24 14:06] diegosucaria commented on #72811
In case this helps someone:

You can put any % value in the autoscaler...
for example, you can set a resource request of **100m** and set the autoscaler to **500%**
that will create new pods when the CPU usage is 500m.

btw, I think the autoscaler should use the limit too.

[2019-09-24 14:09] whereisaaron commented on #15478
Sure @ashleydavis, deploy your cluster, [deploy `fluentd`](https://github.com/kubernetes/kubernetes/issues/15478#issuecomment-534370477), and bang, you’re done 😺. Every application you deploy will have its stdout/stderr shipped to your favorite aggregator. 👍

[2019-09-24 14:14] Prodian0013 commented on #83063
After rebooting the node iptables changes and pod networking works.

[2019-09-24 14:26] theothermike commented on #72811
/remove-lifecycle rotten

[2019-09-24 14:26] theothermike commented on #72811
/remove-lifecycle stale

[2019-09-24 14:27] adelina-t commented on #82711
@jterry75  something as simple as: https://github.com/adelina-t/cri/commit/5d8e17860068d5d9e8276dab73bbcbbe4136a263 should work, however I still fell this is a temp fix. Dockershim doesn't explicitly set the hostname via the container config and yet it works after the container starts, which leads me to believe that there is an extra call ( CNI? ) that takes care of this.

[2019-09-24 14:55] selslack commented on #81469
@zegl any updates?

[2019-09-24 14:57] pdhung opened #83068 "Pause container got deleted but main container in Pod still run"
@kubernetes/sig-node-bugs @kubernetes/sig-api-machinery-bugs

Hi everyone,

During some maintenance of our kubernetes cluster, I have noticed that there are some pods that have orphaned pod containers; meaning their main Docker containers are running, but there is no corresponding pause container.

Some background info:
- _kubectl_ get pods doesn't show info about this pod, so it seems to have bee

[2019-09-24 15:00] tedyu commented on #83068
Can you give information about your deployment environment and k8s version ?

Thanks

[2019-09-24 15:02] pdhung commented on #83068
@kubernetes/sig-node-bug @kubernetes/sig-api-machinery-bug

[2019-09-24 15:03] dims commented on #83028
ack @jpbetz will follow along :)

[2019-09-24 15:14] pdhung commented on #83068
@tedyu: we are using docker 19.03.2 and k8s 1.15.3. k8s Cluster is HA with 3 nodes for controlplane and etcd; 8 nodes for workers.

The pod that has this problem is:
- The init process (pid 1) is _tini_ , which:
- Run java (elasticsearch) with min heap (Xmx) 5G and max heap (Xms) 15G
- Pod resources limit: 15G memory and 4 CPUs and have a PV Ceph RBD attached
- User has reported that when the heap

[2019-09-24 15:17] pdhung commented on #83068
@kubernetes/sig-node-bugs @kubernetes/sig-api-machinery-bugs

[2019-09-24 15:18] DarrienG commented on #77216
/remove-lifecycle-stale

This still happens to us.

[2019-09-24 15:18] DarrienG commented on #77216
I'll get it right on the first time some day.

/remove-lifecycle stale

[2019-09-24 15:19] loxal commented on #15478
After investing some time into K8s and logging I have setup a nice **ELK stack without explicit GELF configuration**. Please take a look at https://www.elastic.co/guide/en/beats/filebeat/current/running-on-kubernetes.html

My setup is Filebeat that pipes the logs to Logstash that filters & extracts and pipes their stuff into Elasticsearch. With Kibana I can view the logs and aggregate data.

[2019-09-24 15:27] jmickey opened #83070 "[cloudprovider-aws] AWS legacy cloud provider Load Balancer health check can use non-SSL port with SSL health check"
**What happened**:
When a load balancer is created via the AWS Cloud Provider can now use SSL, added in K8s v1.14 as part of this PR: #70309 which attempted to address this issue: #45746.

An unintended side effect of this change is that the health check port is not picked in a sensible manner - rather it will simply pick the first in the listener list. This can cause the SSL health check to utili

[2019-09-24 15:41] claudiubelu opened #83072 "Windows: Pod's Source IP address is not preserved when connecting to another pod through a Service Cluster IP"
**What happened**:

When connecting a Pod to another Pod through a Kubernetes Cluster Service, the client Pod's IP is not preserved, and instead, the Client IP seems to be the Pod's host node IP.

This can cause some tests to fail:

    should preserve source pod IP for traffic thru service cluster IP
    should create and stop a working application

**What you expected to happen**:

Pod's IP shou

[2019-09-24 15:48] PatrickLang commented on #82711
per @dineshgovindasamy his team is looking into it. One of the keys that needs to be set at container startup isn't set.

[2019-09-24 15:53] mm4tt commented on #82875
Wouldn't just stop ignoring the NotReady nodes when calculating number of replicas for DeamonSet fix the issue?

[2019-09-24 15:53] krish7919 commented on #81469
I can send a PR if one can let me know if this will be merged.

[2019-09-24 15:54] liggitt commented on #62872
capturing some random thoughts here so they don't drift away

We probably wouldn't want to enshrine particular openapi $ref ids in the custom resource definition API. Implications:
* On startup, the definitions currently known to the Kube API server would be resolveable for use by CRDs
* We would need to stabilize and put tests and compatibility guarantees around definition IDs for built-in kube-a

[2019-09-24 16:00] notpad commented on #82988
@nitkon , you can try this:
1. Run `crictl info` and check RuntimeReady is true
2. Add `--cgroup-driver=systemd` to the kubelet start command (For example, in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf)

[2019-09-24 16:09] andrewsykim commented on #82923
/platform aws

[2019-09-24 16:10] andrewsykim commented on #82923
/area platform/aws

[2019-09-24 16:10] andrewsykim commented on #82923
/label platform/aws

[2019-09-24 16:11] jmickey commented on #83070
@kubernetes/sig-cloud-provider-bugs
/sig platform/aws

[2019-09-24 16:11] andrewsykim commented on #82923
/area provider/aws

[2019-09-24 16:11] andrewsykim commented on #82923
/sig cloud-provider

[2019-09-24 16:13] jmickey commented on #83070
/area platform/aws

[2019-09-24 16:15] jmickey commented on #83070
/area provider/aws

[2019-09-24 16:20] andrewsykim commented on #83070
/assign @mcrute @nckturner @M00nF1sh @d-nishi

[2019-09-24 16:24] ArchangelSDY opened #83073 "[Azure] EnsureHostInPool TooManyRequests"
**What happened**:
Recently we upgraded our cluster from 1.14.4 to 1.14.7. Then we started to observe tons of following errors:
[code]

I guess the cause may be related to this line which was introduced recently:
https://github.com/kubernetes/kubernetes/blob/6f0f05150028dcaad4c3b5001d84b230502c16e6/pkg/cloudprovider/providers/azure/azure_vmss.go#L805

As we have hundreds of services with LoadBalan

[2019-09-24 16:27] ArchangelSDY commented on #83073
/sig cloud-provider
/area provider/azure

[2019-09-24 16:28] Russia9 commented on #82943
Hello. How does kubelet choose Internal and External IP for the node?

[2019-09-24 16:33] krzysied commented on #82875
As a short term fix - yes it would.
There will be a problem if at some point we want to have NotReady nodes and then change it status to Ready and see how big cluster handles it...

[2019-09-24 16:34] rikatz commented on #82943
Not sure. Anyway I'm building a new lab here (broke my old laptop) to check this. I've been thinking by now, You can change some options:

* In kubelet config (https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) change the --node-ip to the desired IP

* Also in kubelet config, when connecting to Kubernetes change the Master Address to your tun0 Address instead of the eth ad

[2019-09-24 16:43] jpbetz commented on #82292
/assign

[2019-09-24 16:45] Russia9 commented on #82943
Good. I also thought that this could be due to the deinstantion parameter of the tun0 interface:
[code]

[2019-09-24 16:50] liggitt commented on #53201
There are now multiple PRs in-progress trying to address this:
* https://github.com/kubernetes/kubernetes/pull/69415 (allow all characters except `=`, stale)
* https://github.com/kubernetes/kubernetes/pull/78910 (allow `:` only)
* https://github.com/kubernetes/kubernetes/pull/83032 (allow all characters except `=`)

Let's agree here on what we will do, then pick one PR to focus on implementing tha

[2019-09-24 16:52] jterry75 commented on #82711
@adelina-t - 100% correct that fix will work. But as @PatrickLang said we are trying to see if there is another bug at fault here before we create this workaround. Thanks!

[2019-09-24 16:55] smirnov-mi commented on #82889
Having the same issue here. I installed clean k8s 1.13.4 , didn't install or added anything.
Just upgraded to 1.14.7, then to 1.15.4 and now see the same issue trying to upgrade to 1.16.0

[2019-09-24 17:14] liggitt commented on #76674
I'd prefer to fix the v1.16 scheduler to use v1 events if v1beta1 Events are unavailable. How hard would it be to make https://github.com/kubernetes/kubernetes/pull/78447 conditional and pick that to v1.16?

If there's good evidence the API in its current shape meets our needs, that seems reasonable. Note that the scheduler/controllers should not switch to using the new v1 API until the release af

[2019-09-24 17:22] yastij commented on #76674
@liggitt - shouldn't be hard, we should just make #78447 able to know if `events.k8s.io/v1beta1` is served and fallback on core/v1

[2019-09-24 17:23] jterry75 commented on #82711
@adelina-t - On second thought I see no issues with just fixing this now as well. Here is the PR: https://github.com/containerd/cri/pull/1294

[2019-09-24 17:23] yastij commented on #76674
@liggitt - shouldn't be hard, we'd have check in  #78447  if `events.k8s.io/v1beta1` is served and fallback on core/v1 if not

[2019-09-24 17:30] hh commented on #82312
I've looked at the test and I think that seems to be promotable.

With regards to the audit logs, I see the e2e.test binary user agent in the logs when this test hits, but the test string (after the --) seems to be missing.

[2019-09-24 17:46] arafatmohammed opened #83074 "HPA throws unable to handle the request (get pods.metrics.k8s.io) error"
Hi,

ERROR I am trying to fix:
```the HPA was unable to compute the replica count: unable to get metrics for resource memory: unable to fetch metrics from resource metrics API: the server is currently unable to handle the request (get pods.metrics.k8s.io)```

I have gone through various GitHub issues and installation posts on how to get the metrics server running but it just doesn't seem to work.

[2019-09-24 17:47] PatrickLang commented on #83038
Can you share the running configz so we can see if any reserves are set on the node?
You can query them from a running node at
https://gist.github.com/PatrickLang/f4b90c4f9cb53fdf31910595daa29b30#getting-configuration-of-a-running-kubelet

[2019-09-24 17:49] kmala commented on #82743
@thockin do you think it is okay to provide an option for overriding? Just wanted to know the update such that i can work on the PR

[2019-09-24 17:59] Jefftree opened #83076 "Unable to run e2e node tests"
Did a fresh pull of k/k, set up a GCP project and ran `make test-e2e-node REMOTE=true` per instructions from https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/e2e-node-tests.md

Received an error that there was an unknown flag: `--test.timeout`.

[code]

[2019-09-24 18:02] Jefftree commented on #83076
/sig testing
/sig node

[2019-09-24 18:08] cezarsa opened #83078 "Data race in leader election"
**What happened**:

There are some race conditions in the leader election code present in the `k8s.io/client-go/tools/leaderelection` package. The race is triggered when contexts used with the LeaderElector are canceled either explicitly or by timeouts.  This can lead to undefined behavior during runtime.

**What you expected to happen**:

No race conditions to occur.

**How to reproduce it (as mi

[2019-09-24 18:15] liggitt commented on #83053
That means a delete request was issued against the namespace. The API server log or the [audit log](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/) (if you have it enabled) can be used to determine when the namespaces deleted and by who.

/close

[2019-09-24 18:15] #83053 closed

[2019-09-24 18:17] liggitt commented on #83059
In retrospect, allowing the image to be modified was likely a mistake. Immutability of pods is a desirable property. Running a completely different command is generally a good reason to roll out another pod, not rewrite an existing pod.

[2019-09-24 18:19] liggitt commented on #83054
/remove-sig api-machinery
/sig node
/cc @tallclair

[2019-09-24 18:23] liggitt commented on #82937
The description shows the apiserver is running:

The message about not removing old endpoints from the kubernetes service is non-fatal.

/close

[2019-09-24 18:23] #82937 closed

[2019-09-24 18:24] liggitt commented on #82995
/assign @robscott

[2019-09-24 18:25] liggitt commented on #82997
/sig node network

[2019-09-24 18:25] liggitt commented on #82997
/sig cluster-lifecycle

[2019-09-24 18:25] liggitt commented on #83007
/remove-kind bug
/kind documentation

[2019-09-24 18:27] liggitt commented on #82942
Note that these control server-side behavior when table output is requested so that clients don't have to manage jsonPath evaluation. Kubectl doesn't do anything with `additionalPrinterColumns`

[2019-09-24 18:35] arafatmohammed commented on #83074
@kubernetes/sig-autoscaling

[2019-09-24 18:39] wojtek-t commented on #76674
We should built in that check into recorder.

I think we believe it is.
@yastij - I think we should start working on it.

If we create a fallback for not-registered beta API, is it also needed?
And switch the recorder to use new API in 1.18?

[2019-09-24 18:39] blakebarnett commented on #67577
Has anyone built a debian stretch packages that includes this patch? I'm about to do so using https://github.com/kubernetes-sigs/image-builder/tree/master/images/kube-deploy/imagebuilder

Just thought I'd avoid duplicating efforts if it exists already.

[2019-09-24 18:45] liggitt commented on #76674
Agree.

As long as a event recorders fall back to core v1 for a single release if the new events.k8s.io/{v1,v1beta1} APIs aren't available, that's sufficient

[2019-09-24 18:50] arafatmohammed commented on #83074
/sig autoscaling

[2019-09-24 18:51] liggitt commented on #81310
I haven't, sorry.

cc @caesarxuchao @cheftako

[2019-09-24 19:01] Jefftree commented on #82312
The hostIPC and hostPID tests are under `tests/e2e_node` and don't get run as a part of Conformance (https://github.com/kubernetes/kubernetes/issues/66875#issuecomment-410893548). We may need to migrate the tests to the `tests/e2e` folder or create some other mechanism.

[2019-09-24 19:09] xwang95054 commented on #83040
/sig dns

[2019-09-24 19:11] xwang95054 commented on #83040
/sig network

[2019-09-24 19:15] noahhai commented on #50375
+1

[2019-09-24 19:16] kvokka opened #83081 "TTLAfterFinished feature does not work in 1.15.2"
**What happened**:

[code]

[code]

[code]

**What you expected to happen**:

Job should be cleaned up after TTL

**Environment**:
- Kubernetes version (use `kubectl version`): 1.15.2
- Cloud provider or hardware configuration: minikube
- OS (e.g: `cat /etc/os-release`): macOs 10.14.6
- Kernel (e.g. `uname -a`): Darwin MBP-Mike 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; roo

[2019-09-24 19:19] PatrickLang commented on #83038
Actually, I think I have enough info here. I didn't set any reserved on my host, but got it to reproduce.

`curl http://localhost:8001/api/v1/nodes/<node>/proxy/stats/summary | jq .pods`

shows

[code]

[2019-09-24 19:22] kvokka opened #83082 "Feature gates documentation improvement"
**What would you like to be added**:

When you are going through [feature gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) link it is not clear where and how you can use it.

**Why is this needed**:

Add some clearance with and show how the k8s administrator can enable/disable manifest with CLI and with manifest (see [link](https://godoc.org/k8s.io/kubernete

[2019-09-24 19:28] PatrickLang commented on #83038
That looks like node total usage, not container usage. Can prove it by running this on the node:
`fsutil file createnew c:\temp\bigfile 1073741824`

then stats/summary shows an increase in roughly 1Gi

[code]

This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/80838

[2019-09-24 19:32] PatrickLang commented on #83038
https://github.com/kubernetes/kubernetes/pull/81437 may fix this. I tested on an old cluster (v1.16-beta.1). Will try on v1.16

[2019-09-24 19:36] haircommander opened #83083 "Make fails from release branches due to api rule violation"
**What happened**:
Calling 'make' in release-1.14 and release-1.13 failed due to API rule violation
**What you expected to happen**:
make to complete after cloning the rop
**How to reproduce it (as minimally and precisely as possible)**:
`make` without a `make generated_files UPDATE_API_KNOWN_VIOLATIONS=true`
** Output **
[code]

[2019-09-24 19:36] haircommander commented on #83083
I don't know what sig this should be owned by

[2019-09-24 19:41] mcary commented on #74414
I just deleted a bunch of things in another team's namespace (:blush:).  I'd would love to have this feature.

[2019-09-24 20:10] egernst commented on #83054
@liangxianlong -- I am happy to add more documentation, though am wondering if it makes sense as a blog post, showcasing examples? For defining the RuntimeClass, you'll want something like the following:
[code]

To succeed in registering this, however, you'll need to make sure you enable the feature gate for PodOverhead for kubelet, api-server and the scheduler. When I test locally, I end up modif

[2019-09-24 20:24] yastij commented on #76674
@liggitt - should this gate `1.16.1` ?

[2019-09-24 20:34] mattmattox commented on #55713
I was able to workaround this using this [script](https://github.com/mattmattox/drain-node-on-crash) to  force drain any node that has gone into Not Ready status for greater than 5 mins (adjustable) then it will uncordon node the after it returns.

[2019-09-24 20:34] tedyu commented on #83054
A blog post on this subject would be helpful.

[2019-09-24 20:43] liggitt commented on #76674
I would expect a bug open in the 1.16 milestone, and a known issue added to the 1.16 release notes. I'd like to see a fix make 1.16.1, but as long as the work is prioritized, and the issue is well communicated, 1.16.2 seems acceptable.

[2019-09-24 20:55] #77168 closed

[2019-09-24 20:57] dharmab opened #83085 "Azure File Premium Persistent Volume fails due to HTTP 400 error"
**What happened**:

When attempting to create an Azure File Premium persistent volume claim, the following error appears in the controller-manager logs and the PVC remains in the the Pending phase.

[code]

**What you expected to happen**:

A persistent volume should be created and bound.

**How to reproduce it (as minimally and precisely as possible)**:

Resources used:

[code]

**Anything else w

[2019-09-24 21:00] dharmab commented on #83085
@kubernetes/sig-storage-bug

@kubernetes/sig-cloud-provider-bug

[2019-09-24 21:01] dharmab commented on #83085
@kubernetes/sig-storage-bug

[2019-09-24 21:02] dharmab commented on #83085
@kubernetes/sig-storage-bugs

@kubernetes/sig-cloud-provider-bugs

[2019-09-24 21:09] m0j0hn commented on #62742
tbvc, this exact same error message also results if the otherwise valid Base64 string is missing terminating `=` character(s) - I am mentioning this here so next time this happens to me or someone else, you find this hint:
    *Make sure your Base64 string is complete, especially if you ever copypasted it (which sometimes drops final `=` characters)*

[2019-09-24 21:15] kfox1111 commented on #82507
@saad-ali  This actually happened the other way around. We initially decided that there would only be support for one mode of operation. Either Persistent or Ephemeral. Since the alpha, drivers have started to show up that could realistically be used in either mode. Persistent for backing PV's and Ephemeral for backing ephemeral inline. So the spec was updated to cover this and the field was added

[2019-09-24 21:16] aojea commented on #79319
I think this can be closed, current CoreDNS version is 1.6.2 https://github.com/kubernetes/kubernetes/pull/82127

[2019-09-24 21:18] jpbetz commented on #83028
I've created a reproduction of the issue, it appears to be an issue on both 1.16 and 1.15:https://github.com/jpbetz/etcd/blob/etcd-lb-dnsname-failover/reproduction.md

I'm not 100% certain I've gotten the reproduction correct, so extra eyes on it are welcome.

[2019-09-24 21:21] alejandrox1 opened #83086 "[Failing Job] pull-kubernetes-node-e2e is failing"
**Which jobs are failing**:
pull-kubernetes-node-e2e

**Which test(s) are failing**:
The overall stage is failing in this job.

**Since when has it been failing**:
Started failing today at 13 PDT.

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e

**Reason for failure**:
There isn't too much info in the logs.
From https://prow.k8s.io/view/gcs/kuber

[2019-09-24 21:25] kfox1111 commented on #82507
Maybe some more specifics...

We don't currently have no plans on supporting pod inline volumes for any mode other then
ephemeral.
If the driver is marked as ephemeral, it can be used pod inline in an ephemeral way (no volumeHandle specified by the user, k8s managed volumeHandle). Currently it can not be used pod inline if it is not marked as supporting ephemeral.
If the driver is marked as persis

[2019-09-24 21:27] zerkms commented on #79319
Indeed, upgrading my cluster at the moment actually :-)

[2019-09-24 21:27] #79319 closed

[2019-09-24 21:48] PatrickLang commented on #83038
v1.16 works as expected. I created a pod with an emptydir, and usedByes was initially 0. ephemeral-storage was set to reserve=500Mi limit=1Gi. I created a 1Gi file and the pod wasn't evicted. I created another 100Mi file and the pod was evicted.

[2019-09-24 21:52] PatrickLang commented on #80838
@yujuhong @jingxu97 - is this still an issue? I'm seeing 0 reported after Jing's fix in https://github.com/kubernetes/kubernetes/pull/81437

[2019-09-24 22:04] liggitt commented on #83028
This was reproduced on 1.15.x as well, so it doesn't appear to be a 1.16 regression. The fix in 1.16 resolved IP TLS validation, but not hostname/DNS validation.

[2019-09-24 22:04] liggitt commented on #83028
Removing milestone, but leaving at critical. If a contained fix is developed, I'd recommend it be picked to 1.16.x if possible

[2019-09-24 22:11] janario opened #83089 "Delete pod with subpath volume shows warning while unmount volume files"
**What happened**:
When a pod with subpath volume is deleted kubelet shows warning of unmount about the files that are present in the volume itself

**What you expected to happen**:
Unmount the root subpath volume and do not scan volume files

**How to reproduce it (as minimally and precisely as possible)**:

My scenario
* nfs persistent volume
* persistent volume claim
* deployment/cronjob

It is

[2019-09-24 22:13] janario commented on #83089
https://github.com/kubernetes/kubernetes/pull/82698

/sig pr-reviews

[2019-09-24 22:15] jingxu97 commented on #80838
I plan to work on enable or add some e2e tests for it if possible.

[2019-09-24 22:37] jpbetz commented on #83028
If the 1st etcd member in the `--etcd-servers` endpoint list is unavailable during startup, the kube-apiserver terminates and reports an error like:

If the etcd member becomes unavailable after the kube-apiserver is started, the kube-apiserver will continue to run but will report the issue in the logs repeatedly, e.g.:

[2019-09-24 22:54] nileshkumar01 commented on #83038
@PatrickLang So we should move to v1.16 , i will test this today in our environment

[2019-09-24 23:01] xwang95054 commented on #83040
Found out the configuration issue. Close

[2019-09-24 23:01] #83040 closed

[2019-09-24 23:07] ixdy commented on #82767
https://github.com/kubernetes/kubernetes/pull/83093 removes the deprecated mondo test tarball.

[2019-09-24 23:23] liggitt commented on #83083
this likely means you have generation commands built from another branch in your path. try `make clean` first

[2019-09-24 23:23] liggitt commented on #83083
CI for those branches run make as part of every merge, FYI

[2019-09-24 23:26] liggitt commented on #83081
Did you enable the feature in the apiserver and controller manager? It's an alpha feature and is not enabled by default

[2019-09-24 23:39] kvokka commented on #83081
@liggitt As you can see in the first message, there is the output from the command `minikube ssh sudo kubeadm config view` with information, that the feature is enabled.

Corrent me, please if it was done wrong or there is not enough provided information.

Thank you.

[2019-09-24 23:42] thockin commented on #53201
I remain in favor of expanding it once and for all.  I simply have not had time/impetus to pursue it.

I do wonder if we have made our own lives extra complicated by overly-difficult compat rules that have little or no meaningful impact.

E.g. Adding an enum value should probably be something that is explicitly allowed, and client-side validators should warn but allow overrides (or validate based

[2019-09-24 23:47] roycaihw commented on #78499
/remove-lifecycle stale

[2019-09-25 00:06] liggitt commented on #53201
The two-release rollout outlines above is for server-side validation, not client-side (for skewed clusters and rollback compatibility, which are very impactful)

[2019-09-25 00:17] liggitt commented on #53201
I agree client-side validation of API data as duplication of the API server's job is not desired/recommended.

For API objects used to store data for consumption (configmaps, secrets, envvars, etc), my main concern is how consumers of those values will handle expanded value spaces (we don't know if they're being used in file names, in database columns that can only hold ascii characters, etc). For

[2019-09-25 00:30] ahg-g commented on #71859
We should also remove the dependency in autoscaler: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/simulator/predicates.go#L129

[2019-09-25 01:22] dims opened #83094 "kubectl wait on arbitrary jsonpath"
kubectl currently can `wait` on `condition` or `delete`
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go#L110-L111

In addition to the above, can we please add the ability to wait on high level summary that we have `phase`?
https://cs.k8s.io/?q=Phase%20.*json%3A%22phase&i=nope&files=&repos=kubernetes/kubernetes

why? Looks like we are not adding

[2019-09-25 01:22] dims commented on #83094
/sig cli

[2019-09-25 01:37] jpbetz commented on #83028
Created grpc/grpc-go#3038 to discuss the issue with the gPRC team

[2019-09-25 01:41] zouyee commented on #83086
related pr: https://github.com/kubernetes/test-infra/pull/14291
[code]

[2019-09-25 01:48] zouyee commented on #83086
/cc @dims

[2019-09-25 01:57] wuyafang commented on #82285
I have the same problem for k8s 1.13 version

[2019-09-25 02:03] eliteGoblin commented on #77575
I encountered the same issue, I found that after I change raw value of memory to percentage, it works:

[code]

my cluster is setup by kops v1.13
[code]

[2019-09-25 02:12] liangxianlong commented on #83054
my config.yaml
[code]
And the i execute
[code]
the results:
[code]
Any Suggestion?
@egernst

[2019-09-25 02:21] tedyu commented on #83054
unknown field "-featureGates"

Have you tried with featureGates without dash ?

[2019-09-25 02:23] romanzac opened #83095 "glusterfs, heketi: failed to create volume: failed to update endpoint"
**What happened**:
Creation of dynamic volume failed using Kubernetes plugin.
Volume successfully created and mounted when created by heketi-cli. The problem is most probably on Kubernetes side.

**What you expected to happen**:
Dynamic volume created and bound successfully on Kubernetes.

**How to reproduce it (as minimally and precisely as possible)**:
1) Prepare configuration to Heketi API and

[2019-09-25 02:32] romanzac commented on #83095
@kubernetes/sig-storage

[2019-09-25 02:32] liangxianlong commented on #83054
How to use dash?@tedyu

[2019-09-25 02:46] wuyafang commented on #82285
Ignore unschedulable pods #79657
this may help you

[2019-09-25 03:12] tedyu commented on #83054
[code]

[2019-09-25 04:28] liggitt commented on #83094
The reports of conditions' death have been greatly exaggerated :)

Rather than a specific phase field, a jsonpath evaluation and expected value might be interesting

[2019-09-25 04:56] epa095 commented on #44165
/reopen

[2019-09-25 05:31] ajinkya599 commented on #82724
There could be other such cases as well (especially in case of automation), where the kubectl command is not invoked from a shell that supports environment substitution, but invoked as a process.

For instance, take `get deployment` (In my automation, I want to verify the deployment):
`kubectl get deployment $deploymentname -o yaml`

I would also love to contribute.

[2019-09-25 05:32] danielzhanghl commented on #80969
@praveensastry  hi, is there any update on this? thanks much!

[2019-09-25 05:41] markzhang0928 commented on #82668
I suppose that it's still not clear why you need an additional container running in the same pod?

[2019-09-25 05:57] chiluk commented on #67577
This has now been merged into [Linus' tree](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/kernel/sched/fair.c?id=de53fd7aedb100f03e5d2231cfce0e4993282425) and should be released with 5.4.  I also just submitted it to linux-stable, and assuming that goes smoothly all distros that correctly follow stable process should start picking it up shortly.

[2019-09-25 06:10] deitch commented on #44165
/reopen

[2019-09-25 06:11] deitch commented on #44165
Is there any way to disable the rotten closure bot on this issue?

[2019-09-25 07:08] wojtek-t commented on #82818
In the meantime we also had another regressions; https://github.com/kubernetes/kubernetes/issues/83020

But reverting daemonsets and jobs fixed the problem. Closing this one. We will investigate it independently.

[2019-09-25 07:08] #82818 closed

[2019-09-25 07:47] liangxianlong commented on #83054
[code]
Does this means that the pod can maximum useuse 1024Mb memory  and 3 cpu?
@egernst @tedyu

[2019-09-25 07:52] mm4tt commented on #83020
Yesterday's run, with the reverted cos version, passed. Etcd wal syn duration seems to be back to normal

[2019-09-25 08:35] mm4tt commented on #83020
**cos-73-11647-163-0 (good)**
![HLGs1cg1LYn](https://user-images.githubusercontent.com/2604887/65583818-2de06780-df80-11e9-9afe-ffe5bcadc031.png)

**cos-rc-77-12371-44-0 (bad)**
![Q1DukMNyFK0](https://user-images.githubusercontent.com/2604887/65583840-3638a280-df80-11e9-8c9a-c4e14a31fb72.png)

[2019-09-25 08:59] liangxianlong commented on #83054
My kata-containers config:
[code]
The runtimeclass yaml:
[code]
The kubelet,kube-apiserver,and kube-scheduler
[code]
[code]
[code]
My pod yaml:
[code]
When i execute ```kubectl apply -f busybox-two.yaml```, i don't see any changes in cpu cgroup and memory cgroup?
@egernst @tedyu

[2019-09-25 09:07] odinuge commented on #82017
Looks like #82654 fixed the flaking in https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial!
The last 7 runs was executed after that was merged!

![Screenshot from 2019-09-25 11-02-32](https://user-images.githubusercontent.com/1467188/65586243-21f6a480-df84-11e9-9e97-fbf558af18de.png)

We still have a lot of failing tests, but those are not flaky; they are failing (ref. comment above).

Il

[2019-09-25 09:07] #82017 closed

[2019-09-25 09:20] juxuny commented on #48798
I have this issue on Ubuntu 16.04  with k8s 1.16 (I run ubuntu on vagrant)

Removing the cni plugin conf from /var/lib/kubelet/kubeadm-flags.env works fine

[2019-09-25 09:26] mm4tt commented on #82875
I think this should be good enough for know, given that it's going to be a one line change.

[2019-09-25 09:33] dims commented on #83094
something like the following?

[code]

[2019-09-25 09:38] dims commented on #83094
guess what i want to see is ... wait until all the items reached the phase (or) wait until the single item reached the phase i specified. right?

[2019-09-25 09:45] hainesc commented on #81227
/unassign @kharunsamuel1
/assign

[2019-09-25 09:54] zouyee commented on #83095
/assign

[2019-09-25 09:56] facewy commented on #76531
centos 7 + kubernetest 1.16 + docker 18.09 still has the problem.
Sep 25 17:56:13 server1.my.com kubelet[128060]: W0925 17:56:13.591911  128060 watcher.go:87] Error while processing event ("/sys/fs/cgroup/devices/libcontainer_70405_systemd_test_default.slice": 0x40000100 == IN_CREATE|IN_ISDIR): open /sys/fs/cgroup/devices/libcontainer_70405_systemd_test_default.slice: no such file or directory
Sep

[2019-09-25 10:44] aermakov-zalando opened #83107 "Ephemeral storage doesn't account for deleted files with open handles"
**What happened**:

A pod that creates large files in the ephemeral storage (either in an explicit `emptyDir` volume or just by writing to the container's filesystem) and then deletes them while keeping an open file handle will cause serious stability issues on the node while making it very hard for an operator to find out that it's the root cause. From kubelet's perspective the pod's `ephemeral-s

[2019-09-25 10:44] aermakov-zalando commented on #83107
@kubernetes/sig-node-bug

[2019-09-25 10:45] aermakov-zalando commented on #83107
@kubernetes/sig-node-bugs

[2019-09-25 11:02] aojea commented on #83095
@zouyee I only see the following errors:

I don't see any IP validation error, am I overlooking something?

[2019-09-25 12:18] rikatz commented on #82943
Hey @Russia9

While reading the docs, found this: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#considerations-about-apiserver-advertise-address-and-controlplaneendpoint

Can you please take a look if this solves your problem?

[2019-09-25 12:36] dims commented on #83086
/assign @random-liu @yujuhong

[2019-09-25 12:50] domleb commented on #17186
We are looking at doing this ourselves as we regularly have high load average issues from bursting containers.  So it would be great if this was added to kublet.  Is there any plan to pick this up again?

[2019-09-25 13:07] zouyee commented on #83095
[code]
The endpoint contains `qpm-gluster02` and `qpm-gluster01` which are hostname would not be updated, could you paste the topology info of heketi?

[2019-09-25 13:20] alikhil commented on #17512
Inspired by the answers of @lentzi90 and @ylogx, I have created own big script which shows actual resource usage (`kubectl top pods`) and resource requests and limits:

[code]

output example:
[code]

[2019-09-25 13:32] xxwassyxx commented on #45779
So this is actually what I ended up doing. I have the same situation where my app saw the hostname, being the shortname not FQDN. When I tried to join the nodes, being 3, it complained that the dns I told it to use was a FQDN, yet the hostname is not and denied joining. My resolution was as follows

[code]
Keep in mind mine is actually using helm and thats why you see the code for interpolation. B

[2019-09-25 14:04] alikhil opened #83111 "Add startup resource requirements"
**What would you like to be added**:

I would like startup resources requirements to be added. Now we have `request` and `limits` and I want something like `startup-request` for CPU and RAM.

**Why is this needed**:

Some applications use a lot of RAM and CPU during the startup and use not much while running. Now, such applications need to require high `requests` to be able to started. And when ap

[2019-09-25 14:08] alikhil commented on #83111
/sig apps

[2019-09-25 14:10] Russia9 commented on #82943
Hey. I didn't quite understand how to use what you sent. Can you explain a little how it works?

[2019-09-25 14:15] bart0sh commented on #77251
+1 for enabling multi size hugepages at both node and pod level. Enabling this on the node level looks like a good step in the right direction to me. This would make it possible to run workflows that require different hugepage sizes on the same node. It would also make load balancing more flexible and efficient.

Should we discuss this in more details on the next signode meeting?

[2019-09-25 14:26] skoef commented on #78235
I had the same issue, but it was solved when I explicitly set `serviceSubnet` in my `ClusterConfiguration`:

[code]

[2019-09-25 14:29] ahmad-diaa commented on #71859
I missed this one, will send a PR for it.

Is there a way to look for `factory.NewConfigFactory` calls  in all repos to avoid missing calls in other repos like this one?

[2019-09-25 14:34] ahg-g commented on #71859
unfortunately not, but this should be the only one and we need to work on a better interface with the autoscaler.

[2019-09-25 14:43] kvaps opened #83114 "CNI is stopped working after upgrade to v1.16"
**What happened**:

After upgrade kubernetes 1.15 --> v1.16, containers are stuck on `Pending`:

[code]

**What you expected to happen**:

Pods are up and running

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

After downgrade kubelet `v0.16.0-00` to `1.15.4-00` pods started working

**Environment**:
- Kubernetes version (use `kubectl versio

[2019-09-25 14:43] kvaps commented on #83114
/sig node

[2019-09-25 14:59] zouyee commented on #83114
similar issue: https://github.com/kubernetes/kubernetes/issues/83048

[2019-09-25 15:03] alejandrox1 commented on #83086
coreos image issues being tracked in https://github.com/kubernetes/test-infra/issues/14465

[2019-09-25 15:05] zouyee opened #83115 "sudo --validate failed"
**What happened**:
when run `make test-e2e-node PARALLELISM=1 FOCUS="CriticalPod" SKIP=""`, I founded  `sudo --validate || exit 1` failed.

[code]
**What you expected to happen**:
Test passed

**How to reproduce it (as minimally and precisely as possible)**:
Sudo version 1.8.6p7

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.17
- Cloud provid

[2019-09-25 15:14] zouyee commented on #83115
/cc @liggitt

[2019-09-25 15:29] andrewsykim commented on #80571
Doesn't LB Finalizer support fix this? We enabled this by default starting v1.16

[2019-09-25 15:30] andrewsykim commented on #80571
Initial PR: https://github.com/kubernetes/kubernetes/pull/78262
Bump to beta in v1.16: https://github.com/kubernetes/kubernetes/pull/81691

[2019-09-25 15:36] smarterclayton commented on #83024
Isn't component status deprecated?

[2019-09-25 15:43] liggitt commented on #83024
Not officially. It got stuck in the "the replacement must be available before it can be deprecated" trap, despite being fundamentally flawed and inapplicable to many topologies.

[2019-09-25 15:43] liggitt commented on #83024
I reopened the issue to push forward deprecation in https://github.com/kubernetes/enhancements/issues/553#issuecomment-529591505

[2019-09-25 15:53] danielqsj commented on #83111
/cc

[2019-09-25 16:08] liggitt commented on #83086
will by fixed by https://github.com/kubernetes/test-infra/pull/14466

[2019-09-25 16:41] github-aix-pw commented on #83114
agreed. as far as I can tell the bridget.sh script does not define cniVersion.

[2019-09-25 16:45] cwdsuzhou opened #83119 "Can k8s support getting cluster name"
Can k8s support getting cluster name, especially when managing multi cluster

[2019-09-25 17:00] sftim opened #83120 "Typo in API server shutdown-delay-duration help"
**What happened**: https://github.com/kubernetes/kubernetes/blob/327f53ba57aeaa4b7e7c20b1ef98c42b26b7ea7f/staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go#L218 has a typo, `/readzy` (should be `/readyz`)

This also shows up in the rendered documentation.

**What you expected to happen**:
Documentation has correct path for readyz endpoint.

**How to reproduce it (as minimally a

[2019-09-25 17:15] kylix3511 opened #83124 "unable to 'make' in kubernetes build with go version 1.13"
**What happened**:

[code]
**What you expected to happen**:
Build should working

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
Local MacOS
- OS (e.g: `cat /etc/os-release`):

- Kernel (e.g. `uname -a`):

[code]
- Install

[2019-09-25 17:16] gWOLF3 opened #83125 "Invalid Error: .container.volumes: hostPath type check failed: "not a directory""
**What happened**:
I received an error that type check failed on hostPath, that it is not a directory, even though it is.

**What you expected to happen**:
I did not expect to receive this error since the host path I passed is indeed a directory.

**How to reproduce it (as minimally and precisely as possible)**:
Simply pass any host path and set `type: Directory`

**Anything else we need to know?*

[2019-09-25 17:17] demisx commented on #17512
@amelbakry I am getting the following error trying to execute it on a Mac:

[code]

[2019-09-25 17:19] gWOLF3 commented on #83125
/sig storage

[2019-09-25 17:19] roycaihw commented on #63677
/assign

[2019-09-25 17:23] sasacocic commented on #43867
what about now? Anything change?

[2019-09-25 17:25] tpepper commented on #83124
/sig contributor-experience

We should add `go version` to the bug report template.

[2019-09-25 17:27] tpepper commented on #83124
I suspect this is the difference between building right now with go version 1.12.9 and 1.13.

[2019-09-25 17:50] neolit123 opened #83127 "decisions about the kubeadm release process"
with kubeadm moving out of tree (parent issue is here https://github.com/kubernetes/kubernetes/issues/78534)
sig release and sig cluster lifecycle need to make some decisions.

- should the kubeadm binary continue to be packaged as part of the node tarballs.
- what to do with some of the deb/rpm packages that kubeadm needs:
  - cri-tools
  - kubernetes-cni
- given kubeadm lives in a separate repo,

[2019-09-25 17:50] neolit123 commented on #78534
opened the topic about the kubeadm release process and packaging:
https://github.com/kubernetes/kubernetes/issues/83127

[2019-09-25 17:52] neolit123 commented on #83127
/remove-kind feature

[2019-09-25 17:54] aka-bo commented on #71319
I ran into this issue as well and was able to trace back to #72717 which was fixed in #72730. Essentially, the evictions API would fail to honor graceful terminations when called with a `nil` deleteOptions.

I was able to workaround this issue by passing an empty dict instead:

[code]

[2019-09-25 18:01] cgthayer commented on #17512
Woops,
"#!" needs to be the very first line.  Instead try "bash
./deployment-health.sh" to work around the issue.

/charles
PS. PR opened to fix the issue

On Wed, Sep 25, 2019 at 10:19 AM Dmitri Moore <notifications@github.com>
wrote:

[2019-09-25 18:04] #82147 closed

[2019-09-25 18:05] #82623 closed

[2019-09-25 18:06] #82663 closed

[2019-09-25 18:06] #82787 closed

[2019-09-25 18:06] #82897 closed

[2019-09-25 18:24] kylix3511 commented on #83124
/sig-release

[2019-09-25 18:53] saiyan86 commented on #82799
@zoltanromocsa Could you please open an support ticket on Azure? This issue seems irrelevant to kubernetes itself.

[2019-09-25 18:53] saiyan86 commented on #82799
/close

[2019-09-25 18:53] #82799 closed

[2019-09-25 18:55] alculquicondor commented on #71863
@hprateek43 wasn't there more work pending than just that PR?

/reopen

[2019-09-25 19:11] justaugustus commented on #83127
@neolit123 -- want to pop this on the agenda for next week's Release Engineering meeting?
https://docs.google.com/document/d/16GqCjnEh86w8yADcrUylNoE1y1sqjIMYNC_gdk5WPSQ/edit?usp=sharing

[2019-09-25 19:18] neolit123 commented on #83127
@justaugustus is that Monday, 15:00 UTC?
@timothysc are you OK with that day and time?

[2019-09-25 19:30] gnufied opened #83129 "CSI driver should not attempt to rollback mount on ownership change failure"
As I was reading this code, I looked into bits that try to rollback the mount operation if `SetVolumeOwnership` fails - https://github.com/kubernetes/kubernetes/pull/62486/files

I am not sure if this is the right thing to do because what could happen is,  a volume gets mounted but if `SetVolumeOwnership` fails, the volume will not be recorded as mounted in actual state of the world, which in itse

[2019-09-25 19:31] gnufied commented on #83129
None of the other in-tree drivers attempt to "undo" a failed `SetVolumeOwnership` change and I am not entirely sure why should CSI driver do this differently.

cc @jsafrane @msau42 @vladimirvivien

[2019-09-25 19:43] pjbgf opened #83130 "Refactor cluster/images/etcd-version-monitor to use legacyflags"
**What would you like to be added**:
Refactor cluster/images/etcd-version-monitor to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-25 19:52] tedyu commented on #83129
In csiMountMgr#applyFSGroup, only one error is returned.
It seems the following if block can log the error (instead of rolling back)
[code]

[2019-09-25 20:30] brunolemos opened #83134 "Desktop Push Notifications 🎉"
Based on your filters!

[2019-09-25 20:31] #83134 closed

[2019-09-25 20:50] #82962 closed

[2019-09-25 20:51] #83007 closed

[2019-09-25 20:52] #82767 closed

[2019-09-25 20:56] kvaps commented on #83114
Thank you guys, problem solved by updating plugin and adding csiVersion to csi config

[2019-09-25 20:56] #83114 closed

[2019-09-25 21:05] conwaychriscosmo commented on #78109
Hi,

After reading the issue description and some of the comments I want to confirm I am on the right path for the changes I am considering making.  Does it make sense to go through each *.go file in the component-base/config/v1alpha1 directory and replace each field with a pointer and add omitempty to the json definition as suggested?

For example, should I change,
[code]
to
[code]
and then repea

[2019-09-25 21:18] charleslong commented on #82997
New patch for this:

https://github.com/coreos/flannel/pull/1174

[2019-09-25 21:22] logicalhan opened #83136 "Health check latency metrics"
**What would you like to be added**:

Currently the apiserver has request latencies metrics, which are a histogram of requests to the apiserver. However, these request metrics do not include healthz. While we have recently added the ability to get back health check metrics from the healthz endpoint directly, we should also emit this data as a metric, so that we can monitor health check latencies.

[2019-09-25 21:32] rikatz commented on #82943
Hi @Russia9 I've validated some things here, here is what follows:

* InternalIP shown in kubectl get nodes represents the first address from your network cards.
[code]

* I've created a kubeadm cluster here, in a multi homed server, with the following command:

``kubeadm init --apiserver-advertise-address 192.168.0.10``

Note that this is my 'other' network card address (I've ens192, which is the

[2019-09-25 21:33] rikatz commented on #82943
btw I'm using kubeadm v1.16.0

[2019-09-25 21:38] rikatz commented on #81630
@KevinTHU I've verified here and kube-proxy is deployed by kubeadm with its healthz port enabled in port 10256

For this case, you can edit kube-proxy daemonset (``kubectl  edit daemonset -n kube-system kube-proxy``) and add the liveness and readiness checks there.

I'll anyway take a look into the options from kubeadm to make this a default, and also verify with the sig members if this is somethi

[2019-09-25 21:59] kfox1111 commented on #71907
Just ran into this myself.

[2019-09-25 22:04] nshah14 commented on #57801
You need to check if you are deploying in similar namespace as creds are created... imagepullsecrets works just fine but its in align with containers not as to one containers mapped variable.

[2019-09-25 22:04] RickyRajinder commented on #82724
@ajinkya599 Kubernetes uses [github.com/spf13/cobra](https://github.com/spf13/cobra) to create commands; I think this would be a better issue for that project.

[2019-09-25 22:11] hh commented on #82435
@johnbelamaric to find Deprecation steps from the developer perspective.
@ii will turn that into Documentation if necessary

[2019-09-25 22:14] aojea commented on #83006
/remove-triage unresolved

[2019-09-25 22:20] aojea commented on #83041
/remove-triage unresolved
master was fixed https://github.com/kubernetes/kubernetes/pull/82929
pending backport to 1.16 in https://github.com/kubernetes/kubernetes/pull/83025

[2019-09-25 22:25] aojea commented on #83063
hi @Prodian0013 , any clue that what could be the problem?
should we keep it open?

[2019-09-25 22:27] aojea commented on #80288
/remove-triage unresolved
per last comment

[2019-09-25 22:33] aojea commented on #81642
@wouter-dhaeze what's the status of the VPN after the upgrade?

have you lost access only to the `default-http-backend `? or are there other services affected?

can you do a `traceroute` from the pod in the datacenter to the pod in GCP?

[2019-09-25 22:40] aojea commented on #74011
@bgvladedivac the endpoint is configurable

xref: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/

[2019-09-25 22:44] kfox1111 commented on #71305
Kind of a creepy idea, but you could use nsenter to run the iptables command on the host in the hosts environment.

[2019-09-25 22:53] zouyee commented on #83048
/close

[2019-09-25 22:53] #83048 closed

[2019-09-25 23:17] liggitt commented on #83124
Duplicate of https://github.com/kubernetes/kubernetes/issues/78845

Support for go1.13 is being tracked in #82531

/close

[2019-09-25 23:17] #83124 closed

[2019-09-25 23:17] brunolemos commented on #83134
It works!

[2019-09-26 00:06] cblecker opened #83138 "Update to use go 1.12.10 on all supported branches"
https://groups.google.com/d/msg/golang-announce/cszieYyuL9Q/g4Z7pKaqAgAJ

@kubernetes/release-team
@kubernetes/release-engineering
@kubernetes/product-security-committee

/area release-eng
/sig release
/kind bug

[2019-09-26 00:06] romanzac commented on #83095
[root@qpm-gluster01 ~]# heketi-cli topology info

Cluster Id: 4f289422a2a7f083aefa1c6239653d98

    File:  true
    Block: true

    Volumes:

    Nodes:

	Node Id: 4784bfe108b9bf66cc7f260dc950af2d
	State: online
	Cluster Id: 4f289422a2a7f083aefa1c6239653d98
	Zone: 2
	Management Hostnames: qpm-gluster02
	Storage Hostnames: qpm-gluster02
	Devices:
		Id:1607342bd836d75b9ebf68bf54151326   Name:/dev/s

[2019-09-26 00:06] cblecker commented on #83138
/priority critical-urgent

[2019-09-26 00:06] cblecker commented on #83138
/milestone v1.17

[2019-09-26 00:10] cblecker commented on #83138
Looks like we need to update both the compiled go version, but also the net/http library too

[2019-09-26 00:11] romanzac commented on #83095
Heketi is not running on K8S and we don't use external DNS, name resolution is from synchronized hosts files.

[2019-09-26 00:23] cblecker commented on #82531
1.13.1 is now out

[2019-09-26 00:58] notpad commented on #83125
@gWOLF3 could you provide the environment info of your os and k8s? Is there anything special for the directory?

[2019-09-26 00:59] zouyee commented on #83115
/sig node

[2019-09-26 01:14] notpad commented on #83024
Hi @liggitt , then shall we need to fix this issue. If yes, could you help to approve the test for my pull request  https://github.com/kubernetes/kubernetes/pull/83066 . Thanks.

[2019-09-26 01:17] zouyee commented on #83095
`Storage Hostnames: qpm-gluster02` needed replace with ip.

[2019-09-26 01:23] #75608 closed

[2019-09-26 01:37] hh commented on #81759
Where we generate 'optional' metadata for OpenAPI Fields/Properties from code comments:

https://github.com/kubernetes/kubernetes/blob/master/vendor/k8s.io/kube-openapi/pkg/generators/openapi.go#L38
https://github.com/kubernetes/kubernetes/blob/master/vendor/k8s.io/kube-openapi/pkg/generators/openapi.go#L78-L86
https://github.com/kubernetes/kubernetes/blob/master/vendor/k8s.io/kube-openapi/pkg/gen

[2019-09-26 01:38] kewenwang-ai commented on #82118
I understand. But that's also why we don't want to use concurrent schedulers(multi-schedulers) from the beginning, because multi-schedulers could bring resource conflicts. So we hope all the schuduling should be done in one scheduler, and the atomicity could be guaranteed.

Even original pod scheduling is based on the snapshot of current node state. It is optimal at the scheduling time.

[2019-09-26 01:45] zouyee commented on #83125
I have pasted the manifest which did not reproduce your issue.
[code]

[2019-09-26 02:03] zq-david-wang commented on #83074
Check your metrics-server  logs, maybe it has trouble connecting api server. If you cluster has RBAC enabled,  you would need create cluster role bindings for you metrics-server

[2019-09-26 02:16] khenidak commented on #83006
We don't validate or assert that nodes are running in dual stack (i.e. has `ipv4` and `ipv6`), same as we don't validate that nodes have an `ipv6` address for `ipv6` cluster or the other way around. While it is possible, there are situations where the pod and services are not the same ipfamily as nodes if the CNI is clever enough to do it via encap/decap. Maybe we should validate by default and al

[2019-09-26 02:16] pigletfly commented on #52817
/reopen

[2019-09-26 02:23] pigletfly commented on #52817
still experience this on kubernetes 1.12.4.
delete event
[code]
and probe failed event
[code]

[2019-09-26 02:27] zoltanromocsa commented on #82799
The problem does not seem to be related to the Azure load balancer. In both our clusters the service runs behind the Azure load balancer and our connections are never idle for more than 30 seconds, therefore it cannot be a keepalive issue either.

[2019-09-26 02:45] pigletfly commented on #52817
/area/kubelet

[2019-09-26 02:46] pigletfly commented on #52817
/area kubelet

[2019-09-26 03:03] mrrandrade opened #83145 "Endpoint object not updated if service port has a name instead of a numeric port"
**What happened**: Kubernetes didn't update the **endpoints** object if **service** had a targetPort with name instead of

**What you expected to happen**: Endpoints to be updated.

**How to reproduce it (as minimally and precisely as possible)**:

Our cluster is up-to-date, but it has a lot of ancient residues like this yaml file from a very old metrics-server installation: https://github.com/kub

[2019-09-26 03:05] ahmad-diaa commented on #71859
@ahg-g https://github.com/kubernetes/autoscaler/blob/6c5a504681bc688d838f1b58006cbe0c93e13bfc/cluster-autoscaler/simulator/predicates.go#L195 seems like a blocker to getting rid of the configurator.

[2019-09-26 03:07] ZP-AlwaysWin commented on #82613
/close

[2019-09-26 03:07] #82613 closed

[2019-09-26 03:09] ZP-AlwaysWin commented on #82613
Bug fix has been merged into master

[2019-09-26 03:16] KevinTHU commented on #81630
@rikatz all right, I will add it manually first, and thanks for your help and following work, hope for a further improvement on kubeadm :)

[2019-09-26 03:45] hex108 commented on #82385
Sorry for late reply, I have been busy in the past days.

I write a proposal in https://docs.google.com/document/d/1ftrPlERI5GVzWh0qAM_fChrhcpsBTYyyCleVvmMNEJ4/edit?usp=sharing. PTAL @ahg-g @draveness @Adirio @danielqsj @SataQiu

[2019-09-26 04:20] daixiang0 commented on #66421
update

[2019-09-26 04:31] lavalamp commented on #78766
I consider #80465 the best defense against this issue.

[2019-09-26 04:48] sctlee commented on #82468
Hi there, I try to support this in #83149. As mentioned above, this may have compatibility issues.

I saw that someone provided an extra parameter `auth-header-groups-field-separator` to implemented this in [kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy). But I think that change is a bit too complicated.

[2019-09-26 04:54] YuikoTakada commented on #72956
I will fix
./cluster/gce/config-default.sh
./cluster/gce/config-test.sh

[2019-09-26 04:59] pjbgf opened #83150 "Refactor cmd/cloud-controller-manager to use legacyflags"
**What would you like to be added**:
Refactor cmd/cloud-controller-manager to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:00] pjbgf opened #83151 "Refactor cmd/genkubedocs to use legacyflags"
**What would you like to be added**:
Refactor cmd/genkubedocs to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:01] pjbgf opened #83152 "Refactor cmd/genman to use legacyflags"
**What would you like to be added**:
Refactor cmd/genman to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:03] pjbgf opened #83153 "Refactor cmd/genswaggertypedocs to use legacyflags"
**What would you like to be added**:
Refactor cmd/genswaggertypedocs to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:04] pjbgf opened #83154 "Refactor cmd/genyaml to use legacyflags"
**What would you like to be added**:
Refactor cmd/genyaml to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:05] pjbgf opened #83155 "Refactor cmd/hyperkube to use legacyflags"
**What would you like to be added**:
Refactor cmd/hyperkube to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:06] pjbgf opened #83156 "Refactor cmd/kube-apiserver to use legacyflags"
**What would you like to be added**:
Refactor cmd/kube-apiserver to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:07] pjbgf opened #83157 "Refactor cmd/kube-controller-manager to use legacyflags"
**What would you like to be added**:
Refactor cmd/kube-controller-manager to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:17] pjbgf opened #83160 "Refactor cmd/kube-proxy to use legacyflags"
**What would you like to be added**:
Refactor cmd/kube-proxy to use https://github.com/kubernetes-sigs/legacyflag

This is being implemented by #79916.

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @steal

[2019-09-26 05:18] pjbgf opened #83161 "Refactor cmd/kube-scheduler to use legacyflags"
**What would you like to be added**:
Refactor cmd/kube-scheduler to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:18] pjbgf opened #83162 "Refactor cmd/kubeadmin to use legacyflags"
**What would you like to be added**:
Refactor cmd/kubeadmin to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:19] pjbgf opened #83163 "Refactor cmd/kubectl to use legacyflags"
**What would you like to be added**:
Refactor cmd/kubectl to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:20] pjbgf opened #83164 "Refactor cmd/kubelet to use legacyflags"
**What would you like to be added**:
Refactor cmd/kubelet to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:21] pjbgf opened #83165 "Refactor cmd/kubemark to use legacyflags"
**What would you like to be added**:
Refactor cmd/kubemark to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:22] pjbgf opened #83166 "Refactor cmd/linkcheck to use legacyflags"
**What would you like to be added**:
Refactor cmd/linkcheck to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:22] RainbowMango commented on #83162
Can I take this task?
/assign

[2019-09-26 05:22] pjbgf opened #83167 "Refactor hack/make-rules to use legacyflags"
**What would you like to be added**:
Refactor hack/make-rules to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:23] pjbgf opened #83168 "Refactor pkg/client to use legacyflags"
**What would you like to be added**:
Refactor pkg/client to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:24] pjbgf opened #83169 "Refactor pkg/controller to use legacyflags"
**What would you like to be added**:
Refactor pkg/controller to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:29] pjbgf commented on #83162
@RainbowMango yes, sure. There is a pull request for the kube-proxy component that may serve as inspiration.

[2019-09-26 05:29] pjbgf opened #83170 "Refactor pkg/credentialprovider to use legacyflags"
**What would you like to be added**:
Refactor pkg/credentialprovider to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:29] Russia9 commented on #82943
Hi @rikatz
If you try to connect a server that has an ens33 interface but no ens192 interface to the cluster, then it will not work (at least for me)

[2019-09-26 05:30] pjbgf opened #83171 "Refactor pkg/kubeapiserver to use legacyflags"
**What would you like to be added**:
Refactor pkg/kubeapiserver to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:30] pjbgf opened #83172 "Refactor pkg/kubectl to use legacyflags"
**What would you like to be added**:
Refactor pkg/kubectl to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:34] Russia9 commented on #82943
I mean, the server must have a different ip address instead of 10.15.15.X.

[2019-09-26 05:36] RainbowMango commented on #83162
@pjbgf
Thanks.  I suggest creating one umbrella put all related task together.
How do you think?

[2019-09-26 05:36] RainbowMango commented on #83155
/assign

[2019-09-26 05:36] RainbowMango commented on #83161
/assign

[2019-09-26 05:37] pjbgf opened #83173 "Refactor pkg/kubelet to use legacyflags"
**What would you like to be added**:
Refactor pkg/kubelet to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:37] pjbgf opened #83174 "Refactor pkg/util to use legacyflags"
**What would you like to be added**:
Refactor pkg/util to use https://github.com/kubernetes-sigs/legacyflag

**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to address the pain-points of backwards-compatible ComponentConfig migration.

/wg component-standard
/priority important-longterm
/cc @stealthybox

[2019-09-26 05:44] RainbowMango commented on #75426
/assign

[2019-09-26 05:48] RainbowMango commented on #83157
/assign

[2019-09-26 05:51] RainbowMango commented on #83163
/assign

[2019-09-26 05:52] RainbowMango commented on #83164
/assign

[2019-09-26 05:52] pjbgf commented on #83162
I think all the issues will live under https://github.com/kubernetes/kubernetes/issues/75426. Is that right, @stealthybox?

[2019-09-26 05:55] RainbowMango commented on #83173
/assign

[2019-09-26 05:55] RainbowMango commented on #83172
/assign

[2019-09-26 05:55] RainbowMango commented on #83171
/assign

[2019-09-26 05:56] RainbowMango commented on #83169
/assign

[2019-09-26 05:56] thockin commented on #82743
I accept the use-case as real, so ok.

[2019-09-26 05:57] RainbowMango commented on #83174
/assign

[2019-09-26 05:58] RainbowMango commented on #83170
/assign

[2019-09-26 05:58] RainbowMango commented on #83154
/assign

[2019-09-26 05:59] RainbowMango commented on #83156
/assgin

[2019-09-26 05:59] RainbowMango commented on #83168
/assign

[2019-09-26 06:00] RainbowMango commented on #83167
/assign

[2019-09-26 06:03] sarjeet2013 commented on #74359
/remove-lifecycle stale

[2019-09-26 06:03] pjbgf commented on #83166
/assign

[2019-09-26 06:03] sarjeet2013 commented on #74359
@NickrenREN Thanks for the link. I haven't gotten chance to review it yet, but what's the current status of KEP?

[2019-09-26 06:05] pjbgf commented on #83160
/assign @alejandrox1

[2019-09-26 06:06] pjbgf commented on #83165
/assign

[2019-09-26 06:06] mozhuli commented on #83150
/assign

[2019-09-26 06:08] mozhuli commented on #83151
/assign

[2019-09-26 06:16] heartlock commented on #83152
/assign

[2019-09-26 06:17] heartlock commented on #83153
/assign

[2019-09-26 06:18] RainbowMango commented on #83156
/assign

[2019-09-26 06:24] clarklee92 commented on #83130
/assign

[2019-09-26 06:36] wojtek-t commented on #79464
/remove-lifecycle stale

[2019-09-26 06:49] tsrjzq opened #83175 "kubelet service failed with wrong number of possible NUMA nodes"
**What happened**: With CentOS 7.6, the kubelet systemd service may failed, because the numbers of NUMA nodes it reports is different from the actual number of nodes. the kubelet log is:

Sep 25 10:26:37 node50 systemd: Started Kubernetes systemd probe.
Sep 25 10:26:37 node50 kubelet: I0925 10:26:37.696734  275300 server.go:410] Version: v1.16.0
Sep 25 10:26:37 node50 kubelet: I0925 10:26:37.69710

[2019-09-26 06:51] Adirio commented on #82385
@hex108 Can I ask why are you storing a `map[string]time.Dutation` instead of a `map[string]time.Timer`?

When a plugin specifies a timeout, `time.Afterfunc` is called with a function that sends a reject to the `s chan *Status`. When a call to `allow(pluginName string)` is done, the corresponding `time.Timer.Stop()` method is called. That will avoid having to compute all the remaining duration as

[2019-09-26 06:54] Adirio commented on #82118
The scheduler cannot guarantee that there are no other schedulers, you would have to force that yourself. Even if you ensure that there is no second scheduler, there are still other sources that can modify the cluster state between the snapshot is taken until the decission is made (e.g., controller daemonset, failing or finishing pods).
As such, you will never be able to guarantee atomicity. And a

[2019-09-26 07:22] clarklee92 commented on #75426
/assign

[2019-09-26 07:23] zouyee commented on #83175
/sig node

[2019-09-26 07:45] answer1991 opened #83177 "CRITICAL!! PV-Binder-Controller will delete the new created PV"
**What happened**:

[PV-Binder-Controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go) will delete the new created (unused and unbound) PV if PV-Binder-Controller is on heavy load, when the PV related StorageClass ReclaimPolicy is OnDelete.

**What you expected to happen**:

Fix this critical bug to avoid to delete PV in mistake.

*

[2019-09-26 07:45] answer1991 commented on #83177
/assign
/sig storage

[2019-09-26 07:46] answer1991 commented on #83177
/sig scalability

[2019-09-26 07:51] till commented on #67577
Is anyone in the know how to follow if/how this change makes it down to CentOS(7)? Not sure how backporting etc. works.

[2019-09-26 08:01] hex108 commented on #82385
@Adirio Thanks for the suggestion! I planned to start only one timer for each `waitingPod`. After some thought, your suggestion is better. Doc updated.

[2019-09-26 08:02] Joseph-Irving commented on #83081
I've replicated your set-up (minikube 1.3.1, kube 1.15.2, same job manifest) and I've been unable to reproduce the issue, does this consistently happen or only sometimes?

Could you show what version of kubectl are you using `kubectl version --client`?
Also what does ` kubectl get job pi-with-ttl -o yaml` show?

[2019-09-26 08:03] answer1991 opened #83178 "Performance Issue of PV-Binder-Controller"
**What happened**:

[PV-Binder-Controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go) has some performance issue, especially the latency of binding a volume, which is not acceptable for a high QPS k8s cluster.

**What you expected to happen**:

Fix [PV-Binder-Controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/cont

[2019-09-26 08:04] answer1991 commented on #83178
/assign
/sig storage

[2019-09-26 08:04] wojtek-t commented on #62277
I looked into it for our scalability tests recently, and there are 8 components that are still using json:
- Prometheus server
- Prometheus operator
- ClusterLoader [this one is expected, we want to send json calls too]
- event-exporter
- glbc
- kubectl [I think this one is addon-manager, TBV]
- metrics-server
- pod-nanny

I already started migrating some of those.

[2019-09-26 08:08] answer1991 commented on #83178
/sig scalability

[2019-09-26 08:09] Uzuku commented on #81878
I encountered same error when importing virtual-kubelet, which imports k8s.io/kubernetes.
see https://github.com/virtual-kubelet/virtual-kubelet/issues/767

[2019-09-26 08:12] Adirio commented on #82385
@hex108 Looks nice, I made a small comment on a part that was not updated to the `time.Timer` approach.

[2019-09-26 08:18] cewood commented on #27744
@mml @anubhabMajumdar I believe this issue can be closed now, from what I could see all the intended binaries now include version logging.

[2019-09-26 08:32] jsafrane opened #83181 "Scheduler reports selectedNode annotation errors on late provisioning failure"
**What happened**:
Provisioning of a volume with `volumeBindingMode: WaitForFirstConsumer` failed and this event were created on a **pod**:

[code]

The event does not say anything useful and only confuses users.

**What you expected to happen**:
Either no event (event on PVC about failed provisioning could be enough) or something generic about "waiting for provisioning to finish".

**How to repro

[2019-09-26 08:37] Davidrjx commented on #76146
@iamdenchik, https://github.com/kubernetes/kubernetes/issues/76146#issuecomment-526534555,
you mean init with --apiserver-advertise-address on master, don't you?

[2019-09-26 09:05] gstolz commented on #37218
I would also love to have extended livenessProbe feature.
I understand that there needs to be prioritization of resources, but does this feature request needs to be closed? Voting for features would be nice.

[2019-09-26 09:18] cattermo commented on #51096
Did anyone find a solution to this?

[2019-09-26 09:35] wojtek-t opened #83182 "TaintBasedEviction test is flaky"
e.g. this one:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83179/pull-kubernetes-integration/1177132150030340097/

/assign @krzysied
who was already looking into that

[2019-09-26 09:35] NeilW commented on #66766
/reopen

This now causes conformance failure on e2e tests due to the promotion of the Nodeport test in #80655

[2019-09-26 09:36] NeilW commented on #66766
Still an issue on 1.16 when running in standard IPv4 mode

[2019-09-26 09:38] odinuge opened #83183 "Dynamic kubelet config metrics missing"
**What happened**:
The kubelet metrics related to [Dynamic kubelet config](https://github.com/kubernetes/enhancements/issues/281), except for one, are missing from the kubelet metric endpoint.

This applies to these metrics:
[code]

**What you expected to happen**:

I expect that the metrics mentioned above should be found in the `/metrics` endpoint on the kubelet.

**How to reproduce it (as minim

[2019-09-26 09:40] odinuge commented on #83183
/sig node
/cc logicalhan tallclair mtaufen

[2019-09-26 09:41] odinuge commented on #83183
/cc @logicalhan @tallclair @mtaufen

[2019-09-26 09:43] answer1991 commented on #78206
@bowei

Thanks for your reply.

I found my proposal does not work fine in an musl libc compiled container.

And I have another question: in an musl libc compiled container, if the application try to resolve a Service only with the Service name, the performance may be terrible? Because it will try to query with $ServiceName.$ClusterDomain firstly which must be failed.

[2019-09-26 09:55] odinuge commented on #83183
/assign

WIP proof of concept solution to fix (make it a bit easier to understand the problem) here: #83184

[2019-09-26 10:32] #59406 closed

[2019-09-26 10:32] #70924 closed

[2019-09-26 10:32] #59776 closed

[2019-09-26 10:32] #70262 closed

[2019-09-26 10:32] #77073 closed

[2019-09-26 10:44] akumadare opened #83186 "Kubernetes Node NotReady and unreachable"
**What happened**:

After high memory usage for a pod with Burstable QoS the Kubernetes node goes into a **NotReady** state.

kube-proxy logs show **iptables save** messages:

kubelet shows error trying to update lease:

TCP connection test to the node using **netcat** is successful on kubelet port (10250) and an example nodeport (32767).

TCP connection test to node using **netcat** on SSH port (

[2019-09-26 10:46] akumadare commented on #83186
@kubernetes/sig-network-bugs

[2019-09-26 10:59] iamdenchik commented on #76146
no
on worker node

[2019-09-26 11:03] albertvaka opened #83187 "[Feature request] Exponential backoff on restarts of unhealthy pods"
**Why is this needed**:

In some cases, a pod fails to reach a healthy state for an unrecoverable reason: bad configuration, bug in the software... when this happens, restarting the pod will not help with the problem and will just cause a load increase in the cluster due to the restarts.

My proposal is to define a "restartStrategy" field somewhere (Probe? Pod?), that can be tuned to either restar

[2019-09-26 11:29] jsafrane commented on #83085
cc @andyzhangx

[2019-09-26 11:33] #69374 closed

[2019-09-26 11:34] andyzhangx commented on #83085
@dharmab The smallest size of azure premium file is 100GB, that's the reason why you hit this issue.

[2019-09-26 11:42] albertvaka commented on #83187
/sig app

[2019-09-26 11:43] albertvaka commented on #83187
/sig community/discussion

[2019-09-26 11:43] albertvaka commented on #83187
🤷‍♀

[2019-09-26 11:45] albertvaka commented on #83187
/sig apps

[2019-09-26 11:48] jsafrane commented on #83085
If that is the case, it would be great if the provisioner reported a better error message.

[2019-09-26 11:54] zhengqisong opened #83189 "can not inject the token for the current service account into a Pod"
**test inject the token for the current service account into a Pod is failed**

**kubernetes version:** 1.5.3
**calico version:** 3.8.2
**os:** centos 7 4.4.193-1.el7.elrepo.x86_64

create pods yaml
[code]

kubelet log
[code]

get pods
[code]

[2019-09-26 11:56] andyzhangx commented on #83085
/area provider/azure

[2019-09-26 12:04] berlincount commented on #39188
Running into the same issue as well.

[2019-09-26 12:28] zhengqisong commented on #83189
/sig storage

[2019-09-26 12:51] danwinship opened #83191 "need a test of NetworkPolicy with IPBlock.Except"
`test/e2e/network/network_policy.go` needs a test to ensure that `ipBlock.except` clauses are implemented correctly. Specifically, that they are not implemented as "deny" rules.

eg, given a client pod with IP `A.B.C.D`, if you add a NetworkPolicy with:

    spec:
      ingress:
      - from:
        - ipBlock:
            cidr: 0.0.0.0/0
            except:
            - A.B.C.0/24

then it shoul

[2019-09-26 12:55] liggitt commented on #83189
That means your cluster has not enabled the service account token subresource required for the kubelet to create the token. Ensure `--service-account-signing-key-file` is passed to the kube-apiserver.

[2019-09-26 12:56] liggitt commented on #83189
/close

[2019-09-26 12:56] #83189 closed

[2019-09-26 12:57] rikatz commented on #82943
Master:
[code]

Node:

[code]

[2019-09-26 12:58] rikatz commented on #82943
My point is, I have two network adapters in different networks, the primary (routeable) is ens192 and still when I force the usage of ens33 it works.

Can you please verify the content of your /etc/kubernetes/kubelet.conf to see if the server endpoint is using the desired address?

Tks

[2019-09-26 13:00] cofyc commented on #83181
yes, the error message is confusing. "FailedScheduling" event will be emitted if the scheduler failed to schedule the pod.

How about wrapping the internal error message in `BindPodVolumes` function, e.g. `Failed to bind volumes: <internal reason>`? Users will know the pod failed because pod volumes not bound successfully. Sometimes, users can't just wait for the scheduler to recover from the erro

[2019-09-26 13:13] ahg-g opened #83193 "[migration] Refactor predicateMetadata into a collection of sub types"
**What would you like to be added**:

[predicateMetadata](https://github.com/kubernetes/kubernetes/blob/e5f276a1ab226f3590634a240a6a82aa9fefcb49/pkg/scheduler/algorithm/predicates/metadata.go#L129) contains a collection of variables that gets populated before running predicates. We want to refactor it into a collection of types, where each type contains the variables used by a specific predicate.

[2019-09-26 13:22] ahg-g opened #83194 "[migration] Fail framework creation when duplicate plugins registered at the same extension point"
There is no reason this should be allowed to happen, especially that we can't configure duplicate plugins differently since plugin configs is a separate list .

/sig scheduling

[2019-09-26 13:42] mr-karan commented on #73906
What's the current solution?

[2019-09-26 13:43] mkumatag commented on #73365
/remove-lifecycle rotten

[2019-09-26 13:50] zouyee commented on #83145
/assign

[2019-09-26 14:13] costinm commented on #82952
That's great - but if K8S has multiple entities signing certificates ( which will allow seemless integration with ACME or external CA or Vault ) - the signers should either use the internet CAs or have the public keys distributed by kubelet. It is otherwise impossible for a workload to know which CA are trusted.

[2019-09-26 14:17] liggitt commented on #82952
trust distribution is one of the items that needs to be resolved as part of bringing the CSR API to GA. See https://github.com/kubernetes/kubernetes/issues/69836

/close
closing this issue in favor of https://github.com/kubernetes/kubernetes/issues/69836

[2019-09-26 14:17] #82952 closed

[2019-09-26 14:17] rmohr opened #83200 "Support long-running requests on aggregated apiservers"
**What would you like to be added**:

Allow aggregated apiservers to register long-running request (to e.g. filter them out like it is done with the `logs` subresource), or leave it completely up to the aggregated apiserver to terminate connections after timeouts.

**Why is this needed**:

There are cases where one wants to create subresources on aggregated apiservers which should be allowed to ru

[2019-09-26 14:18] rmohr commented on #83200
/cc @deads2k
/sig api-machinery

[2019-09-26 14:21] deads2k commented on #83200
The aggregator does not have enough information to decide whether proxied requests are long running or not.  That responsibility logically belongs to the aggregated apiserver.  Proper plumbing may be a challenge.

[2019-09-26 14:29] zouyee commented on #83183
@kubernetes/sig-node-test-failures

[2019-09-26 14:33] costinm commented on #82952
But until there is a solution for trust distribution - can the comment on the site be updated and instead make a recommendation to use the public key of apiserver ( which is already distributed ) ?

Otherwise the feature is not usable, and we can't depend on it since on some clusters we might
get certs without knowing the public key. When trust distribution is solved you can add back the comment a

[2019-09-26 14:35] liggitt commented on #83183
/assign @logicalhan

[2019-09-26 14:35] costinm commented on #69836
Since #82952 is closed/duped - adding the comment:
Until there is a solution for trust distribution - can the doc be updated to make a recommendation to use the public key of apiserver ( which is already distributed ), and to not support using a separate root for cert signing ?

Otherwise the feature is not usable, and we can't depend on it since on some clusters we might
get certs without knowing

[2019-09-26 14:36] liggitt commented on #83183
it might be more appropriate to fix the 1.16 e2e tests run against skewed components to not rely on alpha-level metrics

[2019-09-26 14:37] costinm commented on #69836
I would also add that prioritizing #80057 would help a lot any app using Spiffee.

Do you have any info on the schedule and plans for implementing various features ? Should we
send patches to make it happen sooner ?

[2019-09-26 14:38] liggitt commented on #69836
I disagree that we should not support using a separate root. We should update the documentation to make it clearer that multiple signers, or signers that are not part of the API server serving cert CA bundle are a possibility.

[2019-09-26 14:39] liggitt commented on #69836
The KEP describing the current state of the CSR API just merged (https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190607-certificates-api.md). I think @mikedanese is planning to start design discussions for the GA issues this release.

[2019-09-26 14:42] liggitt commented on #82952
I would not be in favor of that. It would harden incorrect assumptions about issuers. The only two scenarios in which the CSR API is used by kubernetes components today are for kubelets to request client and serving certificates. In both cases, the cluster administrator is responsible for distributing the signer to the kube-apiservers (in the `--client-ca-file` and `--kubelet-certificate-authority

[2019-09-26 14:46] tedyu commented on #83200
I think we should also control the number of live long-running requests so that aggregated apiserver is not overloaded.

[2019-09-26 14:48] awouda commented on #79723
Hi,

It looks I have the same issue. Company policy dictates that all SG's have a specific name.
Before: we just had service deployment which result in an auto-generated ELB with an auto-generated SG with the 'wrong' name, but everything was working fine.

I'm now in the process of getting the correct name. So I created a custom SG "A" which has ingress rules SG "A1" and  "A2". I add this with
` s

[2019-09-26 14:54] rmohr commented on #83200
@tedyu would it make sense to make that based on the actual traffic? For instance especially in the kubevirt case, we have "serial console" connections to VMs, which very often send nothing for a long time.

[2019-09-26 14:57] rmohr commented on #83200
I was thinking that maybe registering this on the apiregistration object might be a solution. Not sure if at this level the aggregator can differentiate based on that.

[2019-09-26 15:00] ahmad-diaa commented on #71859
@alculquicondor I could think of two options for now:
- exporting `getPredicateMetaDataProucer()` https://github.com/kubernetes/kubernetes/blob/e5f276a1ab226f3590634a240a6a82aa9fefcb49/pkg/scheduler/factory/plugins.go#L506
- postponing this until we migrate the factory package to the scheduler

WDYT?

[2019-09-26 15:07] andreib1 commented on #81723
This has gone a bit cold - does anyone have any information that I can feed back to my client?

[2019-09-26 15:08] mrrandrade commented on #83145
Api documentation says clearly that you have to specify the name (in this case, 'https') as a named port in the Pod's spec.

[code]
I'm guessing just a mention in the official documentation [here, maybe](https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service) will suffice to clear things up!

[2019-09-26 15:09] timothysc commented on #81759
So I'm going to defer to daniel on this one.
/unassign @timothysc
/assign @lavalamp

[2019-09-26 15:27] xing-yang commented on #74359
@sarjeet2013 We have not got much review comments since last update.  Your review is welcome.

[2019-09-26 15:46] HamdiAlaa commented on #33074
still wanna know an anwser?

[2019-09-26 16:09] alculquicondor commented on #82118
Let me state the steps (almost requirements) in more low level terms that I can extract from this request:

1. Make it possible to add CRDs to the scheduling queue.
1. Schedule the CRD by "reserving" resources in more than one node.
1. Call an external API to transform the CRD into pods. The call would contain a list of (node, reserved resources).
1. Schedule the pods in the same cycle.

Note that

[2019-09-26 16:36] costinm commented on #69836
I didn't say 'we should not support a separate root' - quite the opposite, we should, when a mechanism to distribute those separate roots is defined. Right now there is no way for the user of the API to know which public key was used to sign his cert, or to have that public key available in other namespaces or workloads. So the docs should reflect the current status - only apiserver's CA ( or the

[2019-09-26 16:48] costinm commented on #69836
Regarding the KEP - not sure what's the process to comment on it, but it doesn't seem to address the issue of how to distribute the signer's public key. One option is to save a full chain in the status (including the public key of the signer) - but that is only 1/2 of the problem. Having other workloads in the cluster discover the root CAs that are authorize to sign keys in the cluster is the othe

[2019-09-26 16:58] yastij opened #83203 "kube-scheduler should fallback to core/v1 Events if events.k8s.io/v1beta1 is unavailable"
In v1.16.0 https://github.com/kubernetes/kubernetes/pull/78447 migrated kube-scheduler to emit events against the v1beta1 API, but didn't implement a fallback to core/v1 in case `events.k8s.io/v1beta1` is not available. we should fix this.

The fix would targed v1.16.2

/assign @yastij
cc @wojtek-t @liggitt

/sig scheduling
/priority important-soon

[2019-09-26 17:19] seans3 commented on #49343
/remove-lifecycle rotten

[2019-09-26 17:20] seans3 commented on #49343
/area kubectl
/priority P2

[2019-09-26 17:21] seans3 commented on #49343
/assign

[2019-09-26 17:38] awly commented on #69836
The KEP only reflects the current Beta status.
We should add all the new requirements (including signer info distribution) when updating it for GA.

For distribution, we discussed using `ConfigMaps` in the past.
Since signer certs are generally not sensitive, those ConfigMaps could be made readable to anyone in the cluster.

[2019-09-26 17:39] liggitt commented on #69836
The current status is that consumers of the CSR API must know/obtain trust roots out of band. I agree the docs should be clearer about this.

@mikedanese will be opening a PR to fill in the "Beta to GA" requirements section

It is important to note that this is not the "primary" CA, but is just the CA used to verify the API server's serving certificate. There is no requirement for that to overlap

[2019-09-26 18:07] alculquicondor commented on #71859
@maciekpytel Is there a reason why the autoscaler can't use `predicates.GetPredicateMetadata` directly?

That appears to be the only value that's written to `factory.predicateMetadataProducer`.

[2019-09-26 18:07] wojtek-t commented on #78481
/remove-lifecycle rotten

[2019-09-26 18:21] deads2k commented on #82952
I concur.  The only in-tree usage of CSR API is used today to provision kubelet client and serving certs.  Any relationship to a signer used to recognizing the in-cluster kube-apiserver serving cert is purely coincidental on a a per-distro basis, that is not the way it is designed.

[2019-09-26 18:24] deads2k commented on #69836
I think that it's important to support multiple signers before we more to GA so that we can be confident of the shape of the API.  Distribution of trust is not the same problem and could reasonably be handled separately.

@munnerz do you have a concrete design for multiple signers via a CSR endpoint?  As I recall cert-manager either has that power or considered that power at some point.

[2019-09-26 18:47] Russia9 commented on #82943
Hello @rikatz.

The following is written in /etc/kubernetes/kubelet.conf:
[code]

From which we can conclude that the nodes access the apiserver via the tun0 interface. But I am still worried about the Internal IP of the node in the cluster.

For example, when viewing logs with the kubectl logs command, you access the node by its Internal IP.

[2019-09-26 18:52] Russia9 commented on #82943
Also, when I try to connect a server with the following network interfaces to the cluster:
[code]
when I enter `kubectl get pods -n kube-system` I get:
[code]
And `kubectl describe pod calico-node-rq4fg -n kube-system`:
[code]

[2019-09-26 18:56] Russia9 commented on #82943
If I try to run pod on the eh -s05 server, then I will get an infinite status: container creating for it:
[code]

[2019-09-26 19:04] liggitt commented on #83145
correct, the name has to match a named port in a pod spec. a documentation change to clarify that would be welcome

/remove-kind bug
/kind documentation

[2019-09-26 19:10] liggitt commented on #23720
closing inactive issues

if this is desired, a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/) can be opened with a proposal

/close

[2019-09-26 19:10] #23720 closed

[2019-09-26 19:11] liggitt commented on #82362
closing due to lack of information

/close

[2019-09-26 19:11] #82362 closed

[2019-09-26 19:14] ahg-g commented on #83194
/label help-wanted

[2019-09-26 19:14] ahg-g commented on #83194
/help-wanted

[2019-09-26 19:16] liggitt commented on #83068
/remove-sig api-machinery

[2019-09-26 19:17] liggitt commented on #82958
/remove-sig api-machinery
/remove-sig usability
/remove-sig cli

[2019-09-26 19:17] coffeepac commented on #78684
closing this as fixed.  thanks for the patience and sorry for the troubles!

/close

[2019-09-26 19:17] #78684 closed

[2019-09-26 19:18] ahg-g commented on #83194
/help
/good-first-issue

[2019-09-26 19:18] ahg-g commented on #83193
/help

[2019-09-26 19:58] liggitt commented on #67966
fyi, fix in progress in #59113 for this

[2019-09-26 20:17] rikatz commented on #82943
Yes, you are right. I've found this issue (https://github.com/kubernetes/kubeadm/issues/203) that's pretty similar to this situation.

Unfortunately, as --node-ip (or whatever is the Config object for it) is set as an IP that should be announced, and not an interface.

So the solution by now, the following can be followed:

* kubeadm --apiserver-advertise-address 192.168.0.10
* Change each of the

[2019-09-26 20:19] jennybuckley commented on #83059
/sig node
/remove-sig api-machinery

[2019-09-26 20:20] Russia9 commented on #82943
Thanks, I'll try this tomorrow.

[2019-09-26 20:20] jennybuckley commented on #83078
/cc @cheftako

[2019-09-26 20:21] jennybuckley commented on #83200
/assign @deads2k

[2019-09-26 20:41] Prodian0013 commented on #83063
yes I was able to reproduce the issue but still dont know whats causing it.

[2019-09-26 20:55] dims commented on #83094
cc @hpandeycodeit

[2019-09-26 21:08] Prodian0013 commented on #83063
the rules in question are:

After a fresh kubeadm init these rules are added to iptables.  These rules appear to be added by kube-proxy.  I tried to following to remove the rules but the rules are repopulated when the pods come back up.

`systemctl stop kubelet;
crictl stop $(crictl ps -q);
crictl rm $(crictl ps -qa);
iptables -F;
systemctl restart firewalld;
systemctl start kubelet;`

After reboo

[2019-09-26 21:09] dims commented on #83094
@deads2k Can you please suggest some command lines that will be useful for a "generic wait"?

[2019-09-26 21:17] goatmale commented on #64137
We also seem to be having this problem. Thank you all for clearly documenting the cause and outlining workarounds.

[2019-09-26 21:39] #82460 closed

[2019-09-26 21:43] #54247 closed

[2019-09-26 21:53] johnbelamaric commented on #73425
/reopen
Umbrella issue

[2019-09-26 21:54] johnbelamaric commented on #73425
/remove-lifecycle stale
/lifecycle frozen

[2019-09-26 21:56] awly commented on #78321
/remove-lifecycle stale

[2019-09-26 22:24] Prodian0013 commented on #83063
Im seeing this issue with versions `1.14.7` and `1.15.3`.

No issue with `1.13.11`

[2019-09-26 22:25] Huang-Wei commented on #82796
This issue has been fixed in the master branch, and will be cherrypicked into v1.15.5 and v1.16.1.

- 1.15 - https://github.com/kubernetes/kubernetes/pull/82907
- 1.16 - https://github.com/kubernetes/kubernetes/pull/82902

[2019-09-26 22:29] guineveresaenger commented on #83086
Have we confirmed this issue has been addressed by ^^ merging?

[2019-09-26 22:30] PatrickLang commented on #82711
@adelina-t  - this seems to be working the last two days with that change. Is this ready to close?

[2019-09-26 22:37] natereid72 opened #83210 "Include readiness probe deny traffic to startup probe functionality"
**What would you like to be added**:
Add readiness probe deny traffic function to startup probe function when readiness probe isn't declared.

**Why is this needed**:
Startup probe prevents a long starting container from triggering a liveness and/or readiness probe condition. Ready aims to determine if a container is ready to serve traffic. Liveness probe is a subset of readiness; therefore, if re

[2019-09-26 22:41] natereid72 commented on #83210
@kubernetes/kep

[2019-09-26 22:47] liggitt commented on #83086
Yes, the merge queue has been unblocked

[2019-09-26 22:47] #83086 closed

[2019-09-26 22:52] PatrickLang commented on #82711
@Random-Liu @adelina-t - I was mistaken and this isn't tracked as part of the network namespace. The fixes.

open question - is there any case where we wouldn't set this when creating the sandbox?

[2019-09-26 23:15] howardjohn opened #83212 "DNS resolution fails when EndpointSlice is enabled on 1.16"
**What happened**:

When I run kubernetes 1.16, everything is working well:

[code]

Then I try to enable EndpointSlice:

[code]

and DNS resolution seems to break

where `endpointslice.yaml` is

<details>

[code]
</details>

**What you expected to happen**:

DNS resolution to work with EndpointSlice

**How to reproduce it (as minimally and precisely as possible)**:

Repro given above

**Anything

[2019-09-26 23:20] howardjohn commented on #83212
@kubernetes/sig-network

[2019-09-26 23:23] howardjohn commented on #83212
Actually looks like if I enable the endpoint controller as well things work - https://kubernetes.io/docs/tasks/administer-cluster/enabling-endpoint-slices/ never mentions it is ok to not enable the endpoint control either. Is this the expectation?

[2019-09-26 23:46] rlam3 commented on #27308
New to kubernetes.... So should we be using kubectl or kubectx now?
https://ahmet.im/blog/kubectx/

[2019-09-27 00:07] cblecker commented on #83138
Actually, nvm on the last point. net/x/http is up to date. This was in go's internals, rather than the library.

[2019-09-27 00:07] cblecker commented on #83138
PRs are open to cherry pick back to release branches:
https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+83139

[2019-09-27 00:13] cblecker commented on #83138
test-infra bump: https://github.com/kubernetes/test-infra/pull/14492

[2019-09-27 00:35] draveness commented on #83194
/assign

[2019-09-27 00:36] draveness commented on #83193
/assign

[2019-09-27 00:40] purva-n commented on #80702
kubetest --provider=local --test --test_args="--host=https://<master:ip>:6443
--kubeconfig=/root/.kube/config --report-dir=<e2e report dir path>
--ginkgo.focus=\[Feature:Performance\]"

On Thu, Sep 5, 2019 at 2:53 PM janluk <notifications@github.com> wrote:

[2019-09-27 00:46] #73395 closed

[2019-09-27 00:46] davidz627 opened #83216 "Volume+PV of volume provisioned by in-tree plugin and meant to be deleted by migration may be broken"
@ddebroy brought this up.

If a volume is provisioned using the in-tree plugin - then the cluster is upgraded and migration is turned on - the path for migration may never pick up the volume for deletion since it is not annotated with the external provisioner name. This could result in leaked volumes/PV's.

We could potentially resolve this by overwriting the annotation on the PV when in-tree Dele

[2019-09-27 00:47] davidz627 commented on #83216
/sig storage

[2019-09-27 00:48] davidz627 commented on #83216
/close
duplicate of https://github.com/kubernetes/kubernetes/issues/79043

[2019-09-27 00:48] #83216 closed

[2019-09-27 00:55] alejandrox1 commented on #77095
Checking back on things.
There is no more work to be done for moving provider-related code from the framework util.go file so that is essentially done.

[2019-09-27 01:32] alejandrox1 commented on #82641
random question: how are these things updated? How are PRs such as https://github.com/kubernetes/kubernetes/pull/83209 generated?

[2019-09-27 01:41] NickrenREN commented on #74359
@sarjeet2013 sorry, we have not get much time to push the feature forward recently. Will do it soon, comments are welcome.

[2019-09-27 02:48] gitzl opened #83221 "apiserver EOF"
use client-go call kuberneres api
error : apiserver EOF

why ?

[2019-09-27 02:49] paxatasadey commented on #73906
Can you please share the details likebwhat you are trying and the error you
are getting?

On Thu, 26 Sep, 2019, 7:14 PM Karan Sharma, <notifications@github.com>
wrote:

[2019-09-27 02:58] kewenwang-ai commented on #82118
Yes, the steps you understand  is right.
We realize that there is some intrusive of our requirements, and that's why we hope to discuss these requirements first.

We propose this requirement based on the following reasons:

- The solutions based on kube-batch([kube-flow](https://www.kubeflow.org/docs/about/kubeflow/)) are a little unfriendly to user. Because user don't know the current snapshot of

[2019-09-27 02:59] ZP-AlwaysWin opened #83222 "CRD AllowUnconditionalUpdate modify"
Kubenetes built-in resource objects StatefulSet、Deployment、DaemonSet ... of fields AllowUnconditionalUpdate default is true。

[code]
Why CRD resource of fields AllowUnconditionalUpdate default is false?

[code]

**What would you like to be added**:
Can add a way to modify the update policy of the default CRD?

**Why is this needed**:

Because there are many custom resources, not every custom resou

[2019-09-27 03:01] kewenwang-ai commented on #82118
But if it is what you said, it seems there is no way to guarantee the atomicity, not even the current soultion.

Of course you choose use one shceduler or more, but once you use mutiple schedulers, you have already introduced resource competition conflicts, no matter use our proposal or not.

We only hope a better soultion for this issue.

[2019-09-27 03:01] ZP-AlwaysWin commented on #83222
/kind feature
/sig wg/component-standard

[2019-09-27 03:24] romanzac commented on #83095
Many thanks. It worked for me. :)

Would this behavior be changed by #83104  ?

[2019-09-27 03:49] cofyc opened #83224 "Feature Request: Scale in StatefulSet at an arbitrary position"
**What would you like to be added**:

We encountered a problem in production to run databases with local PVs and StatefulSet. It's inconvenient to scale in the database when pods on the node to delete are not the last ordinal indices of the StatefulSet.

I hope we can scale in StatefulSet at an arbitrary position, e.g. delete pod-1 but keep pod-2 in a StatefulSet of 3 replicas.

**Why is this need

[2019-09-27 05:29] pjbgf commented on #83173
This issue is redundant and its scope will be covered with https://github.com/kubernetes/kubernetes/issues/83164.

/close

[2019-09-27 05:29] #83173 closed

[2019-09-27 05:32] pjbgf commented on #83164
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:34] pjbgf commented on #83172
This issue is redundant and its scope will be covered with https://github.com/kubernetes/kubernetes/issues/83163.

/close

[2019-09-27 05:34] #83172 closed

[2019-09-27 05:35] pjbgf commented on #83171
This issue is redundant and its scope will be covered with https://github.com/kubernetes/kubernetes/issues/83156.

/close

[2019-09-27 05:35] #83171 closed

[2019-09-27 05:55] pjbgf commented on #83130
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:55] pjbgf commented on #83150
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:55] pjbgf commented on #83151
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83152
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83153
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83154
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83155
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83156
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83157
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83160
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83161
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83162
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:56] pjbgf commented on #83163
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:57] pjbgf commented on #83165
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:57] pjbgf commented on #83166
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 05:57] pjbgf commented on #83167
This is currently on hold, pending some long term steer.

/hold

[2019-09-27 06:05] #80457 closed

[2019-09-27 06:22] wenjiaswe commented on #82641
@alejandrox1 I am following [Adding or updating a dependency](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/vendor.md#adding-or-updating-a-dependency) to update etcd.

[2019-09-27 06:24] pjbgf commented on #83170
This issue is redundant. The refactoring will be based on the /cmd/ components that refer to this package instead.

/close

[2019-09-27 06:24] pjbgf commented on #83169
This issue is redundant. The refactoring will be based on the /cmd/ components that refer to this package instead.

/close

[2019-09-27 06:24] #83170 closed

[2019-09-27 06:24] pjbgf commented on #83168
This issue is redundant. The refactoring will be based on the /cmd/ components that refer to this package instead.

/close

[2019-09-27 06:24] #83169 closed

[2019-09-27 06:24] pjbgf commented on #83174
This issue is redundant. The refactoring will be based on the /cmd/ components that refer to this package instead.

/close

[2019-09-27 06:24] #83168 closed

[2019-09-27 06:24] #83174 closed

[2019-09-27 06:52] #80288 closed

[2019-09-27 06:52] eastonliu opened #83225 "installed kubernetes with kubeadm have an error!"
**What happened**:
I installed kubernetes with kubeadm ,executing kubeadm init have an error:
[etcd] Creating static Pod manifest for local etcd in "/etc/kubernetes/manifests"
[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s
[kubelet-check] Initial timeout of 40s passed.

Unfortunately, an

[2019-09-27 07:18] hprateek43 commented on #71863
@alculquicondor I am working on structuring the other PRs corresponding to this

[2019-09-27 07:52] houjun41544 opened #83226 "Suggest DevicePluginPath folder is created under the kubelet root directory"
Currently, DevicePluginPath is set to "/var/lib/kubelet/device-plugins".
[deviceplugin/v1alpha/constants.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/deviceplugin/v1alpha/constants.go)
[deviceplugin/v1beta1/constants.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/deviceplugin/v1beta1/constants.go)

When the kubelet root directory is changed b

[2019-09-27 07:57] aojea commented on #83063
@Prodian0013

it seems the kube-dns service has no endpoints, and kube-proxy install rules to deny the traffic directed to that service.
Can you try to find out what happen with the kube-dns endpoints services?

[2019-09-27 08:04] houjun41544 commented on #83226
/sig node

[2019-09-27 08:09] odinuge commented on #83183
That sounds perfect! He answered in the PR, so hopefully we can get this working again. I have wrapped my head around this issue for quite a few hours now, so I understand that it is kinda hard to understand by just reading this issue. Here https://github.com/kubernetes/kubernetes/pull/83184#discussion_r328954605 is some more background info that hopefully makes sense.

[2019-09-27 08:13] #77018 closed

[2019-09-27 08:15] FengyunPan2 opened #83228 "The cgroup name can't be nil while systemReserved is designated"
**What happened**:
Currently kubelet just check 'systemReserved' and 'kubeReserved' parameters, did not check cgourp name. Or:
\----
Sep 27 14:38:56 k8s-0454-db511213 kubelet[2728]: F0927 14:38:56.247087    2728 kubelet.go:1359] Failed to start ContainerManager Failed to enforce System Reserved Cgroup Limits on "": failed to set supported cgroup subsystems for cgroup []: Failed to set config for s

[2019-09-27 08:16] FengyunPan2 commented on #83228
/sig cgroup

[2019-09-27 08:20] FengyunPan2 commented on #83228
Look: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cgroup_manager_linux.go#L246
and
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/node_container_manager_linux.go#L126
, if systemReserved and kubeReserved do not designated, kubelet broken.

[2019-09-27 08:24] tracyshen commented on #64133
any idea...

[2019-09-27 08:26] zxx287856774 opened #83230 "failed to ensure node lease exists, will retry in 7s ,the k8s node offen notReady"
controller.go:115] failed to ensure node lease exists, will retry in 7s, error: Get https://10.204.243.89:6443/apis/coordination.k8s.io/v1beta1/namespaces/kube-node-lease/leases/10.204.60.13?timeout=10s: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
k8s version v1.15
i config kube-apiserver  --feature-gates=NodeLease=false ,but it's not worker

[2019-09-27 08:36] wsxedcer opened #83232 "After the edge node deploys keepalived, the vip forwarding record of ipvsadm will be deleted."
/kind bug
/sig network
/area ipvs

After the edge node deploys keepalived, the vip forwarding record of ipvsadm will be deleted

CNI ： calico v3.8.2
kubernetes:  1.14.7
proxyMode: ipvs
OS: centos 7
kernel: 4.4.190-1.el7.elrepo.x86_64
keepalived version:   v1.3.5
ipvsadm version:  v1.27
docker: 18.09.8

192.168.11.188 VIP
192.168.11.184 edge,  keepalived + ipvsadm + ingress-nginx(DaemonSet、hostNetw

[2019-09-27 08:53] ushell commented on #58692
The error reason is `kubectl cp` not use right pod file path.

example:

Pod WORKDIR set '/var/www/html'

if you want copy `/var/www/html/foo.log` to your location file folder

you will run `kubectl cp POD_NAME:foo.log /Users/foo/foo.log` , it work ok,

if run `kubectl cp POD_NAME:/var/www/html/foo.log /Users/foo/foo.log` will get warning.

[2019-09-27 09:11] designgrill commented on #29616
Expanding on what @Dmitry1987 shared:

`aws ec2 describe-instance-attribute --instance-id i-xxxxxxxxxxxxxxxxx --attribute userData --output text --query "UserData.Value" | base64 --decode | zcat`

This will print the UserData

[2019-09-27 09:14] wknapik commented on #60751
Let's not close this without at least some guidance for those who find this issue in the future.

/remove-lifecycle stale

[2019-09-27 09:29] edganiukov commented on #64616
/remove-lifecycle stale

[2019-09-27 09:51] avarf opened #83235 "Kubectl works and all the pods are up but no traffic goes through"
**What happened**:
We have a small in house cluster consists of 5 nodes which we run our platform on it. Our platform consists of different components which they communicate via http or amqp both among themselves and also to outside of the cluster.

From yesterday no traffic goes to the components and they became unreachable while they are up, there is no error, neither in our components nor in k8

[2019-09-27 10:56] #76322 closed

[2019-09-27 11:06] xiaoanyunfei commented on #83226
/assign

[2019-09-27 11:34] pupapaik commented on #61486
This workaround works for me. Thanks

[2019-09-27 11:45] richard-scott commented on #82285
What version of Kubernetes will #79657 get into? I've just used v1.15.4 and still have the issue that pending pods (when I can't launch more EC2 nodes due to limit reached) block hpa downscaling.

[2019-09-27 11:46] peter-wangxu commented on #79823
@mattjmcnaughton @ConnorDoyle any update on this?

A similar problem occurred in our virtualized environment when shrink the VM spec by CPU.

if user shrinks the VM from 32 to 16 cores, the pods ocurrpy removed cores(17-31) will definitely failed to start as cpuset out of range.

[2019-09-27 11:55] Adirio opened #83240 "[Scheduler framework] Split scheduling cycle into filter and score cycles"
**What would you like to be added**:

A separate cycle for filtering and scoring phases in the scheduler framework.

**Why is this needed**:

Currently, the scheduler framework is divided into two separate cycles, the schedulign and the binding cycles. These cycles are run in different threads which give some asynchronous capacity to the scheduler. This allows the first hook in the second cycle to

[2019-09-27 11:59] Adirio commented on #82385
A bit related to this, are plugins that are waiting and set an initial timeout allowed to extend this timeout? I think this feature could also open some doors, such as co-schedulers that decide that a pod needs to be scheduled in the next batch instead of this one.

[2019-09-27 12:00] deads2k commented on #83200
Aggregated apiservers are specified by cluster-admins.  The control of how long the request stays open belongs to the destination server.  Control over requests overall belongs to priority/fairness (see other KEP).  I don't think we want a secondary system controlling the lifespan of proxied connections.

[2019-09-27 12:08] Joseph-Irving commented on #83224
/sig apps

[2019-09-27 12:31] ahg-g opened #83241 "[migration] Refactor priorities to use NodeScore/NodeScoreList"
**What would you like to be added**:
Refactor priorities to use [NodeScore/NodeScoreList](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/v1alpha1/interface.go#L35-L44) instead of [HostPriority/HostPriorityList](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/api/types.go#L337-L345)

**Why is this needed**:
The next step for migration is to implement

[2019-09-27 12:49] nikhita commented on #82860
Fixed in https://github.com/kubernetes/kubernetes/pull/82410 and https://github.com/kubernetes/kubernetes/pull/83077 (will be present in v1.16.1)

/close

[2019-09-27 12:49] #82860 closed

[2019-09-27 12:51] kvokka opened #83242 "`kubectl wait` for un-existed resource."
**What happened**:

I can not avoid exit with error for uncreated resource, which is misleading by the command name:

`kubectl wait --selector=foo=bar --for=condition=complete jobs`
`kubectl wait --for=condition=complete jobs/foo`

Even if this behavior if intentional the user should have an option to continue waiting instead of exit with error code.

In the contrast, if the resource already exist

[2019-09-27 12:52] kvokka commented on #83242
/sig cli

[2019-09-27 13:06] damemi commented on #83241
I'd like to help with this if that's okay
/assign

[2019-09-27 13:11] ahg-g commented on #83241
Certainly, thanks Mike.

[2019-09-27 13:17] draveness commented on #83240
I'm not sure I agree with this statement.

Are you suggesting the pod has to wait before scoring extension point if the pods have to scheduled by a group? Please feel free to correct me if I'm wrong.

If we decided to implement this, we have to face the same metadata update problem in the permit plugin, and probably we'll come up with another version of `Updater`.

The binding cycle could run in p

[2019-09-27 13:21] OrlinVasilev commented on #59867
I hit the same issue because of uncoptability between kubectl and kube-apiserver .. with newer version of kubectl works. e.g.
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf62f72849d5cbcd5a3", GitTreeState:"clean", BuildDate:"2017-11-20T05:28:34Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Ma

[2019-09-27 13:41] ahg-g opened #83244 "[framework] a consistent interface for plugin extended functionality"
**What would you like to be added**:
A consistent way for adding extended functionality to plugins.

**Why is this needed**:
Currently we have two types of plugins that support adding some sort of optional functionality: PreFilter allow adding "AddPod/RemovePod" implementations through an "Updater" interface, while Score includes a NormalizeScore, which must be implemented, but plugins that don't

[2019-09-27 13:41] ahg-g commented on #83244
/sig scheduling
/cc @Huang-Wei @alculquicondor

[2019-09-27 13:52] ahg-g commented on #83244
/help
/good-first-issue

[2019-09-27 13:56] Prodian0013 commented on #83063
It appers on after kubeadm init the kube-dns endpoint is showing `Addresses:          <none>`

[2019-09-27 13:59] alculquicondor commented on #82118
Maybe it's time to get a more detailed design.
What I meant is that the changes are intrusive to the current scheduler design, it's input and output, not that Pod scheduling is affected.
In particular, there seem to be 2 requirements that are very hard to fulfill today:

1. Insert CRDs in the scheduling queue. Today, we only insert Pods, which have well define properties.
2. Reserve resources in m

[2019-09-27 14:03] alculquicondor commented on #71863
Thanks @hprateek43. Just remember to not put the word "Fixes" in your PR description unless it's the last PR.

[2019-09-27 14:07] ahg-g commented on #82118
To add to what @alculquicondor and @Adirio feedback, this change also requires scheduling pods that didn't go through the API server yet, and so all admission logic and webhooks will be bypassed.

[2019-09-27 14:15] Adirio commented on #83240
I think we could debate this for quite long, but filtering is usually linear to the number of nodes while scoring can have cuadratic or cubic relations to the number of nodes if you start adding complex metrics that depends on where others pods are scheduled.

Yes

The idea is to be able to run filtering and scoring cycles also in parallel. Similar to how the binding cycle has been extracted from

[2019-09-27 14:26] aojea commented on #83063
ok, seems we've found the problem, I think that in 1.14 you should be using CoreDNS instead of KubeDND because [CoreDNS went GA in 1.11](https://kubernetes.io/blog/2018/07/10/coredns-ga-for-kubernetes-cluster-dns/) and it's probably that KubeDNS was deprecated after 3 cycles.

The kube-proxy behavior is correct, please check that you are doing the upgrade correctly https://kubernetes.io/docs/tasks

[2019-09-27 14:30] ahg-g commented on #82118
Correct, k8s by design is eventually consistent: it does not guarantee that the cluster will always be in the expected state, but guarantees that eventually it will.

For example, pods could get evicted by kubelet, and that will certainly break what is referred here as "atomic" scheduling. In summary, whether you implement the proposed solution or not, you will always need some sort of a controlle

[2019-09-27 14:45] Prodian0013 commented on #83063
Heres the kubeadm init logs: https://gist.github.com/Prodian0013/e7440857431a99c025be9c35d903f0e3

By default 1.15.3 is using coreDNS

[2019-09-27 14:55] raravena80 commented on #45509
This could be implemented similarly to how AWS Autoscaling Groups have a termination policy, but in the case of Kubernetes it would pods instead of instances. https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html

[2019-09-27 15:04] dfang commented on #82843
[depreaction timeline for heapster](https://github.com/kubernetes-retired/heapster/blob/master/docs/deprecation.md)

1.  submitted a pr for this
2.  yes
3.  yes, or kubernetes dashboard

[2019-09-27 15:09] feered commented on #65933
Running Kubernetes 1.16 and running into similar issues as OP.

`kubectl get nodes -o json | jq '.items[]|[.metadata.name, .spec.providerID, .status.nodeInfo.systemUUID]'`
[code]

The UUID matches across the board. The log from control-manager is giving me this:

[code]

Note the empty `VM UUID:`.

[2019-09-27 15:09] liggitt commented on #83221
Do you have more information about how you are setting up client-go, or the API server you are connecting to?

[2019-09-27 15:14] alculquicondor commented on #83244
`Extensions` should have only 2 implementations:

[code]

or

[code]

I think `Extensions` is a good suffix.

[2019-09-27 15:27] sysC0D commented on #77557
Same issue, NLB doesn't update security groups.
K8s version: v1.13.10
CloudProvider: AWS
Provisioner: EKS

[2019-09-27 15:46] Prodian0013 commented on #83063
It appears the coreDNS service is still called kube-dns.  This should probably be changed to avoid further confusion.

https://github.com/kubernetes/kubernetes/blob/898042007cf3063794398fd2954e1b5b0ee813aa/cluster/addons/dns/coredns/coredns.yaml.base#L176

Im still unsure why the service is not coming up.

[2019-09-27 15:50] Vacant0mens commented on #74173
opened an issue [here](https://github.com/JeffAshton/win_pdh/issues/2) the same day as my comment above:

[2019-09-27 16:02] tedyu commented on #83225
[code]

[2019-09-27 16:07] aermakov-zalando commented on #75674
/remove-lifecycle stale

[2019-09-27 16:44] Huang-Wei commented on #83244
A kind reminder that `/good-first-issue` issue is more prepared for new contributors.

If you're active/experienced contributors, hold on jumping in unless it's not taken after several days.

[2019-09-27 16:53] raesene opened #83253 "CVE-2019-11253: Kubectl/API Server YAML parsing vulnerable to "Billion Laughs" Attack."
* Fixed in master / v1.17.0 by #83261
* Will be fixed in v1.16.2 by https://github.com/kubernetes/kubernetes/pull/83433
* Will be fixed in v1.15.5 by https://github.com/kubernetes/kubernetes/pull/83434
* Will be fixed in v1.14.8 by https://github.com/kubernetes/kubernetes/pull/83435
* Will be fixed in v1.13.12 by https://github.com/kubernetes/kubernetes/pull/83436

**Original description follows:*

[2019-09-27 16:55] uditgaurav opened #83254 "To increase the CPU load on a pod so that it would get scheduled to a new node"
@kubernetes/sig-contributor-experience-<group-suffix>
PROBLEM STATEMENT
Is there any way by which i can increase the CPU load on a pod such that for time being the CPU Request is more than the CPU Limits so that the pod gets reschedule to a new node.
[code]

I tried doing it by stress but couldn't find a way out of it.

[2019-09-27 16:55] jekohk commented on #68712
I totally agree with this- currently the only way to get the full picture of a Job is to read its conditions along with status fields which is error prone and a lot of extra work. I think a good start would be to add a new field `status.failedTime` as suggested by @smarterclayton so as to not break compatibility for users already depending on `status.completionTime`

[2019-09-27 16:55] raesene commented on #83253
/sig cli

[2019-09-27 16:56] dbousamra commented on #45438
I have same issue still. Any updates?

[2019-09-27 16:56] draveness commented on #83244
Emmm.. I'm sorry to say this but this looks like a hack to me, I never saw this in any of Golang interfaces. Is it quite common when we want to have an optional method in Golang? If it isn't, I prefer to have the original approach.

[2019-09-27 16:58] aojea commented on #83063
Yeah, seem my theory was wrong :sweat_smile:

Try to troubleshoot the service and the pods, this is what I see

[code]

[code]

[2019-09-27 17:08] alculquicondor commented on #83244
What we are trying to do is to have a common pattern for our interfaces.
Sadly, this is the best we can do with golang's type system.

But, I somewhat agree with @draveness. Maybe we can wait until we see that a new optional method is needed for other extension points?

[2019-09-27 17:11] rikatz commented on #81630
/remove-sig network

[2019-09-27 17:11] raesene commented on #83253
To update based on ideas from @liggitt and @bgeesaman , it's also possible to use this issue to cause a denial of service to the `kube-apiserver` by using curl to POST the YAML directly to the API server, effectively bypassing the client-side processing.

Steps to reproduce.

1. Save the YAML as a file called `yaml_bomb.yml`
2. for a valid kubernetes cluster, run `kube proxy`
3. from the directory

[2019-09-27 17:19] ahg-g commented on #83244
As Aldo mentioned, we don't have a way to properly define "optional" methods in golang, we already have this pattern for the PreFilter interface, I see value in making it consistent between PreFilter and Score.

We don't expect that to happen very often, so to me this is less of a concern.

[2019-09-27 17:21] ahg-g commented on #83244
we can even make Extensions a variable of type PreFilterExtensions rather than a function, and so a plugin implementation doesn't even need to implement any extra methods beyond PreFilter or Score.

[2019-09-27 17:33] bowei commented on #45438
@dbousamra it would be great to open a new issue against the kubernetes/ingress-gce repo. This issue has accumulated a bunch of unrelated discussions/issues which make it hard to address the problem you are seeing.

[2019-09-27 17:36] Huang-Wei commented on #83244
The most basic API machinery type system used this. E.g., `runtime.Object`:

https://github.com/kubernetes/kubernetes/blob/cd95e57c71a194a80064b00a44e42a222003dac8/staging/src/k8s.io/apimachinery/pkg/runtime/interfaces.go#L250-L257

[2019-09-27 17:58] janitha09 commented on #82412
HOSTNAME_OVERRIDE

[2019-09-27 18:04] rikatz commented on #82515
AFAIK what I saw to this was an OPA rule (gatekeeper, whatever) with an admission webhook that allows someone from a namespace to publish an ingress with only allowed hosts. Here is an example: https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/

So maybe by now, using an Admission Webhook solves your problem now? :)

[2019-09-27 18:23] hpandeycodeit commented on #82950
@myan9 The following should work:

[code]

[2019-09-27 18:36] #83254 closed

[2019-09-27 18:39] magikid commented on #65835
/remove-lifecycle stale

Still seeing this issue.

[2019-09-27 18:47] uditgaurav opened #83256 "To increase the CPU load on a pod so that it would get scheduled to a new node"
@kubernetes/sig-contributor-experience-<group-suffix>
PROBLEM STATEMENT
Is there any way by which i can increase the CPU load on a pod such that for time being the CPU Request is more than the CPU Limits so that the pod gets reschedule to a new node.
[code]

[2019-09-27 19:49] kvokka commented on #83081
From the previous attempt I had to reset the minikube with `minikube start --cpus 8 --memory='4096mb' --feature-gates="TTLAfterFinished=true"` and then I tried it again and it works.

Have no idea why it did not work at the first attempt.

But it is resolved, so we may close it.

[2019-09-27 19:49] #83081 closed

[2019-09-27 19:51] wxwang33 commented on #78761
We are seeing the same behavior. Has this issue been resolved?

[2019-09-27 19:53] costinm commented on #82952
Then document that the CSR API is not meant for user-space components and should be used only by kubelet.

Right now there is nothing that I've seen that mark the CRD as internal-only.

[2019-09-27 19:54] costinm commented on #82952
My point is you can't have it both ways - if it is meant for apiserver and kubelet, document that explicitly so people don't attempt to use it for other things.

If it is a normal API that any app can use - there is no way to use it if the root CA is unknown. The only root CA that is currently available to pods is the apiserver CA.

[2019-09-27 19:57] jbeda commented on #83253
Just saw this -- we should stop accepting yaml server side. Or have a "simple yaml" variant that gets rid of references.

Any real world usages of users sending yaml to the api server?  Can we go JSON/proto only?

[2019-09-27 20:00] mauilion commented on #83253
Nice find!

[2019-09-27 20:01] costinm commented on #69836
I don't think ConfigMap is viable - unless it is distributed to all namespaces. I think an important use case for the API is to use the CSR API to generate certificates for services running in a namespace, and use TLS to connect from a different namespace. That requires both client and server to know the root CAs that are trusted.

Again: I am extremely happy to have multiple CAs, it fits perfectl

[2019-09-27 20:04] #77083 closed

[2019-09-27 20:09] lavalamp opened #83259 "Authentication token cache can live-lock"
https://github.com/kubernetes/kubernetes/blob/release-1.16/staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go#L70-L91

This code releases the lock to do the actual work. This means if there are N simultaneous requests for a token, apiserver will look it up N times. If that happens in parallel, OK, maybe it's not the end of the world, but as it happens it migh

[2019-09-27 20:10] liggitt commented on #83253
I don't think we can simply drop a supported format. Disabling alias/anchor expansion or bounding allocations seem more reasonable. I have a fix in progress that does the latter.

[2019-09-27 20:15] awly commented on #69836
It should be possible to allow CA bundle ConfigMap access across namespaces, right?

[2019-09-27 20:17] cmanzi commented on #78761
@wxwang33 What is your metrics-server resolution set to? That fixed it for me (on 1.14.6).

[2019-09-27 20:31] davidz627 commented on #78524
/remove-lifecycle rotten

[2019-09-27 20:57] brandond commented on #4040
The only mention in the public docs is here: https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ which links directly to the struct definition on github.

It appears that the Swagger docs have been deprecated, and I'm unable to find any documentation for the KubeletConfiguration resource kind in the new docs. It's referred to in at least one place, but is still not actually co

[2019-09-27 21:00] tedyu commented on #83259
For #2 above, it seems stripedCache would be used this way:
[code]

[2019-09-27 21:03] danwinship opened #83263 "fallout from kube-proxy no longer doing "unnecessary" updates"
#81517 makes it so that the iptables proxier only tries to do an iptables-restore when things have actually changed, rather than doing it every `iptablesSyncPeriod` whether or not things have changed. As @squeed just pointed out in that PR, it turns out there's some fallout from this:

1. If an `iptables-restore` call fails (eg, timed out getting the lock) then we used to retry at most `iptablesSy

[2019-09-27 21:06] danwinship commented on #83263
(I'm planning to fix this, I just wanted guidance on which approach to take)
/assign danwinship

[2019-09-27 21:06] #68947 closed

[2019-09-27 21:23] rikatz commented on #81630
Hi @KevinTHU

Reached the community and they pointed me to this PR: https://github.com/kubernetes/kubernetes/pull/75323

It's on hold right now, but please follow there :)

[2019-09-27 21:29] echoboomer commented on #78846
I'm still having this issue and I cannot figure out why. I'm seeing `missing request for cpu` all over the place even though we have requests and limits in every single `Deployment`.

[2019-09-27 22:05] rikatz commented on #83242
Can take a look into this.

/assign @rikatz

[2019-09-27 22:10] niketanand123 opened #83264 "Node "not ready" state when sum of all running pods exceed node capacity"
I have 5 nodes running in k8s cluster and with around 30 pods.
Some of the pods usually take high memory. At one stage we found a node went to "not ready" state when the sum of memory of all running pods exceeded node memory. Anyhow, I increased the resource request memory to high value for high memory pods but shouldn't node controller kill all the pods and restarts all instead of making a node t

[2019-09-27 22:29] tedyu commented on #78846
Can you post / attach log (snippets) showing the error ?

[2019-09-27 22:55] tedyu commented on #83259
If I read the code right, the use of stripedCache is to reduce the collision between requests.

Some benchmark run may be needed across different choices of number of shards.

I looked under staging/src/k8s.io/apiserver/pkg/authentication/token/cache/ - there is BenchmarkStripedCache

[2019-09-27 22:56] KVSocial commented on #37471
Same problem with us:

`bash -c "./kubectl --kubeconfig .kube/config exec -i -t $(./kubectl --kubeconfig .kube/config get pods -n adaptive-admin-be -l workload.user.cattle.io/workloadselector=deployment-adaptive-admin-be-adaptive-admin-be -o=custom-columns=:metadata.name --no-headers) -n adaptive-admin-be -- bash -c \"cd app && ../vendor/phalcon/devtools/phalcon migration run\""`

and then

OCI ru

[2019-09-27 22:59] tedyu commented on #83259
32 shards of 128 each:
[code]
1 shard of 4096
[code]

[2019-09-27 23:08] #73543 closed

[2019-09-27 23:25] roycaihw commented on #74560
I agree having a package (`k8s.io/component-base/logs` in this case) define its command line flags in `init()` is problematic. This issue was also reported in https://github.com/kubernetes/kubernetes/issues/75403

ways to fix:

1. as @ash2k suggested, let's remove `klog.InitFlags()` from `init()` in `k8s.io/component-base/logs`, and properly call `klog.InitFlags()` in any `main()` that needs it.

[2019-09-27 23:38] wxwang33 commented on #78761
I will check later as I don't have direct access to it. Will update and thanks for the quick response!

[2019-09-27 23:55] tallclair commented on #83054
First, verify that the overhead was set on the pod:
[code]

Also, resource limits are only set on the cgroup if all containers in the pod have limits set.

[2019-09-27 23:56] tallclair commented on #83054
Er, sorry, I don't think we apply any limits to the pod cgroup right now, but those changes are planned.

[2019-09-28 00:31] notpad commented on #83244
Can I help with this?

[2019-09-28 00:31] notpad commented on #83244
/assign

[2019-09-28 00:52] kfox1111 opened #83265 "local blockdevice"
I tried to use a local volume block device in minikube. Its trying to call losetup with the -j option and its failing as the losetup in minikube does not provide this option. This may effect other distro's as well. The end result is lock block devices don't work on the platform.

[2019-09-28 00:52] kfox1111 commented on #83265
/sig storage

[2019-09-28 01:39] cblecker commented on #83138
All bumps done!

[2019-09-28 01:39] #83138 closed

[2019-09-28 01:51] draveness commented on #83244
Thanks, @huang-wei, that's good example.

[2019-09-28 01:55] draveness commented on #83194
/remove help
/remove good-first-issue

[2019-09-28 01:55] draveness commented on #83194
/remove-good-first-issue
/remove-help

[2019-09-28 03:10] ruchikaguptaa opened #83266 "support delete resource by name with --all-namespaces=true"
**What would you like to be added**:
Something like kubectl delete cm abcd --all-namespaces

**Why is this needed**:
There is no other way of doing this apart from scripting it. This would come in really handy if a bad change caused a resource to be created across namespaces.

[2019-09-28 03:12] ruchikaguptaa commented on #83266
/sig cli

[2019-09-28 03:22] Icedroid commented on #76531
centos 7 + kubernetest 1.14.6 + docker 18.09 still has the problem.
`$ systemctl status kubelet -l
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /usr/lib/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: active (running) since 六 2019-09-28 11:10:14 CST; 11min ago

[2019-09-28 03:43] Icedroid commented on #43856
centos 7.2 + kubernetes 1.14.6 + docker 18.09 has the save issue.
[code]

reboot can slove

[2019-09-28 04:20] antoinne85 commented on #45509
@enisoc In looking at the deletion precedence rules you linked quite some time ago, the following thoughts come to mind. They're likely not terribly useful, but you never know.

Related, though in a different area...

If I were to examine my own personal design goals for the software systems we run, the pod termination process for scaling down would have some kind of cooperative aspect to it. For

[2019-09-28 05:39] tianyuansun commented on #74991
![image](https://user-images.githubusercontent.com/31433937/65812056-81f38200-e1f4-11e9-892b-d8c871549849.png)

OK @michmike . above is my test result, kubelet v1.13.4, windows vs linux. only two pods on each node, with many cpu and mem available.

[2019-09-28 05:51] #83175 closed

[2019-09-28 05:55] pjbgf commented on #83253
Sounds like something that should be treated as a security issue (DoS) and have a CVE associated to it. That would help users to understand whether or not they are vulnerable to it.

[2019-09-28 10:38] ahg-g commented on #83244
thanks @notpad

[2019-09-28 11:16] iam404 commented on #64133
Moving to docker's builtin log rotate solved this for us. - https://docs.docker.com/config/containers/logging/json-file/

[2019-09-28 11:28] albertvaka commented on #83187
Feel free to close if this is the current behaviour, I was under the impression that in some circumstances we still had busy restart loops.

[2019-09-28 11:46] zouyee commented on #83095
Yes, I will update later.

[2019-09-28 11:51] zouyee commented on #83264
/sig node

[2019-09-28 12:18] #83095 closed

[2019-09-28 13:05] #80571 closed

[2019-09-28 13:30] damemi commented on #83241
This is now covered in https://github.com/kubernetes/kubernetes/pull/83262

[2019-09-28 16:00] neolit123 commented on #83225
/remove-kind bug
/triage support

[2019-09-28 16:02] neolit123 commented on #83225
- are you passing a configuration file to `kubeadm init`?
- what is your `kubeadm init` command line?
- is `master1` the host of the node (check `hostname` command), are you overriding it?

[2019-09-28 16:14] neolit123 commented on #83127
added agenda item for Monday, 30th.

[2019-09-28 16:25] #77166 closed

[2019-09-28 16:25] #77255 closed

[2019-09-28 17:48] johnSchnake opened #83272 "Conformance script for v1.16.0 doesn't report results to Sonobuoy if failures"
Same as an issue that occurred for v1.14.0: the failing test causes ginkgo to exit non-zero which causes the script to abort without running the `saveResult` routine.

A recent PR to this script fixed a race but we didn't realize that now that the command was running in the foreground (and not the background) that the non-zero status would impact that script.

Currently, Sonobuoy can get around th

[2019-09-28 17:52] johnSchnake commented on #83272
/assign

The PR in question that re-emerged this problem.

FWIW Sonobuoy is adding an integration suite that will be able to test this going forward (soon).

 - I think we need to fix the script (and get it cherrypicked into v1.16.x branches)
 - I think that if the go runner proves stable over v1.16 then we default to it going forward
 - We consider removing run_e2e.sh entirely if we think we can

[2019-09-28 19:28] #77295 closed

[2019-09-28 20:13] ddebroy commented on #79043
/remove-lifecycle stale

[2019-09-28 20:29] #73838 closed

[2019-09-28 20:29] #73221 closed

[2019-09-28 20:29] #76369 closed

[2019-09-28 21:31] ggilley commented on #50375
+1

[2019-09-28 22:31] #71662 closed

[2019-09-28 23:32] #73336 closed

[2019-09-29 00:03] julianvmodesto commented on #82046
/cc @nikhita @liggitt – if you have context about background on implementation and how to fix this?

[2019-09-29 01:59] hex108 commented on #82385
There is no special need for this now. We could consider it when it is actually needed.

[2019-09-29 02:35] #31511 closed

[2019-09-29 03:11] #82948 closed

[2019-09-29 04:06] draveness commented on #83193
/remove help

[2019-09-29 05:07] uablrek commented on #75502
Discussed in some length in PR https://github.com/kubernetes/kubernetes/pull/75556.

Conclusion; To ensure that the needed functions is supported (e.g modules loaded) is too complex and the added value is to small to make it worth it.

[2019-09-29 05:07] #75502 closed

[2019-09-29 06:23] yasongxu commented on #83266
found same issue

 [https://github.com/kubernetes/kubernetes/issues/44718](https://github.com/kubernetes/kubernetes/issues/44718)

[https://github.com/kubernetes/kubernetes/issues/18282](https://github.com/kubernetes/kubernetes/issues/18282)

[code]

[2019-09-29 06:39] draveness commented on #82213
/help

[2019-09-29 07:15] RainbowMango commented on #82213
/assign
/remove-help

[2019-09-29 07:15] paalkr commented on #72775
I'm also still facing this issue on a 1.14.6 cluster, built on AWS (not EKS). It's a little frustrating, and it cost us money as the whole cluster has to scale out once in a while to accommodate all unnecessary PODs.

[2019-09-29 07:27] tcmichael opened #83282 "Recreating a Stateful Pod with a terminating pvc may cause Pod Pending sometimes."
**What happened**:
Recreating a Stateful Pod with a terminating pvc may cause Pod Pending sometimes.(because of  `persistentvolumeclaim "xxxxx" not found`)

**What you expected to happen**:
The pod with a terminating pvc should always be able to be recreated and then always running.

**How to reproduce it (as minimally and precisely as possible)**:
0. Run statefulset services with local-pvs create

[2019-09-29 07:27] tcmichael commented on #83282
/sig-apps

[2019-09-29 07:59] 928234269 commented on #83256
Do you just want pods not to be dispatched to a node? You can add anti-affinity to the pod.

[2019-09-29 09:32] ximenzaoshi opened #83285 "Add the priority policy of least limits to scheduler"
**What would you like to be added**:
In the scheduler's priority process, calculating one node's score based on the node's allocated pods' limits. The less the limits are, the higher score the node will get.
**Why is this needed**:
In a typical k8s cluster, most pods may be burstable, which means their limits >= requests. When scheduling these pods, we want to make the resource limits per node mor

[2019-09-29 09:33] ximenzaoshi commented on #83285
/sig scheduling

[2019-09-29 09:44] ZP-AlwaysWin commented on #83222
/assign @deads2k
hi @deads2k  I looked at the source code, this part of the code is written by you, can you specify this parameter when creating CRD?
Best Wishes

[2019-09-29 09:52] draveness commented on #83285
/assign

Are you requesting something like LeastResourceAllocation but score the nodes with `limits` instead of `requests`?

[2019-09-29 09:58] skilxn-go commented on #83230
/sig area/apiserver

[2019-09-29 09:58] 573009114 commented on #75870
我也遇到了。怎么解决呢？

[2019-09-29 10:03] gauravjain59 opened #83287 "kubectl cp : error: src doesn't exist in local filesystem"
**What happened**:
kubectl cp from pod container to local file system always give below error
error: src doesn't exist in local filesystem

**What you expected to happen**:
should copy file from pod to local file system

**How to reproduce it (as minimally and precisely as possible)**:
kubectl cp pod:remote/file d:\local-folder -c container1 -n local-namespace

**Anything else we need to know?**:

[2019-09-29 10:04] skilxn-go commented on #83230
/area apiserver
/sig api-machinery

[2019-09-29 11:51] s2maki commented on #45509
ding! ding! ding! We have a winner!

AWS realized this many years ago and implemented something that's good enough.  Let's just copy that.

[2019-09-29 14:00] zouyee commented on #83287
/triage more-information

[2019-09-29 14:01] zouyee commented on #83287
/triage needs-information

[2019-09-29 14:10] zeniri commented on #23722
**ConfigMap File:**
[code]
**Error:** The ConfigMap "configmap_test" is invalid: metadata.name: Invalid value: "configmap_test": a DNS-1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character (e.g. 'example.com', regex used for validation is '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*')

**name: config

[2019-09-29 14:37] shubhamsre opened #83290 "Adding support for _ (underscore) to the configmap metadata.name field"
**What would you like to be added**:
Adding _ to the configmap name as configuration files that are fetched from various configuration management tools support it.

**Why is this needed**:
Allow underscore in configMapKeyRef key's #23722
When it is allowed in the configMapKeyRef key's, it should also be allowed in metadata.name field of configmap.

**ConfigMap File:**
[code]
**Error:** The ConfigM

[2019-09-29 15:37] mikedanese commented on #82952
Would you say that this concern is covered by "No clear way for signers to indicate/distribute trust roots for issued certs" from #69836 and "No guarantee on who trusts the certificate" from https://github.com/kubernetes/enhancements/pull/1097#discussion_r321007736? If so, we are tracking it. We are in a situation where the certificates API grew organically over a few years and the current form is

[2019-09-29 15:38] mikedanese commented on #82952
https://github.com/kubernetes/kubernetes/issues/63726 is also relevant.

[2019-09-29 15:43] tedyu commented on #83282
In the master code base, PersistentVolumeClaimInformer is used by stateful_set.go

Which version are you using ?

[2019-09-29 15:55] thockin commented on #23722
We had to pick a character set for names.  We chose the same one we use in
most other k8s resources - DNS.  It felt weird to me at first, but I got
over it.

Some k8s names MUST be DNS compatible because they are used to build DNS
records.  We thought it better for most other resources to follow the same
style.

On Sun, Sep 29, 2019, 7:11 AM Shubh <notifications@github.com> wrote:

[2019-09-29 17:11] #82670 closed

[2019-09-29 22:18] Cryptophobia commented on #82923
Also faced this issue when upgrading from 1.14.6 to 1.14.7 with kops:

[code]

Thank you for all the responses here guys. We are going to revert.

[2019-09-29 23:36] echoboomer commented on #78846
Actually, I did some thinking and I believe our HPA is targeting `Jobs` - we're using a selector that was present on `Pods` created by `Deployments` and `Jobs`, so we've added an extra label to keep that from happening. Seems plausible. Apologies for reopening this!

[2019-09-29 23:47] #83115 closed

[2019-09-29 23:51] saiyan86 commented on #83186
hi @akumadare have you tried opening a support ticket on AWS? It seems this needs some in-depth troubleshooting like ```tcpdump```.

[2019-09-29 23:56] #67382 closed

[2019-09-29 23:56] #68546 closed

[2019-09-30 01:02] natereid72 commented on #83210
After some further pondering, I believe having readiness and liveness evaluate same condition, have liveness period and threshold stretched out past period of acceptable readiness wait would resolve issue as well. pod would have traffic held off, if readiness didn't succeed after x number of periods, liveness would fail enough as well and restart.

[2019-09-30 01:58] #46381 closed

[2019-09-30 02:12] thxCode commented on #79359
/remove-lifecycle stale

[2019-09-30 03:04] yuyulei commented on #83282
statefulset controller tries to create pvc only when create stateful pod. If when creating pvc, the pvc has existed, the create operation will skip, no matter which status the pvc is.

So how about ideas below:

1. Simplily, add "pvc is terminating" check, when creating stateful pod.
2. Statefulset controller add pvc event to watch, then if find pvc missing when syncing pod, recreate pvc.

[2019-09-30 03:30] peter-wangxu opened #83298 "Add more scheduler metrics with different granularity"
**What would you like to be added**:
With the support of scheduler v2 support, we are now able to develop a lot of plugins out of tree. while the current metrics in sheduler lacks of state for plugins, for example, i need to know:
1. which plugins failed(the name, the type of error?)
2. how many errors occurred in different scheduling phase(prefilter,postfilter,prebind,postbind??)
3. also for main

[2019-09-30 03:31] peter-wangxu commented on #83298
/sig scheduling

[2019-09-30 04:00] #72461 closed

[2019-09-30 04:32] ximenzaoshi commented on #83285
yes, but maybe a little different.  The score should be caculated on a ratio like limit/capacity instead of a absolute value. I am not sure this request of feature is regular enough, just raise a discussion here.

[2019-09-30 04:36] Nurlan199206 opened #83300 "kubectl apply -f Unable to connect to the server: proxyconnect tcp: EOF"
How to make work `kubectl apply -f` behind proxy?

my env:
[code]

my case:
[code]

[2019-09-30 04:40] cyrilthank commented on #26202
faced this issue in https://github.com/kubeflow/kubeflow/issues/4184

[2019-09-30 06:24] wgliang commented on #83298
It is reasonable to count the number of calls and the time consumption of different scheduling stages. We also need to better understand the scheduling process and performance.

/assign

[2019-09-30 06:27] gayathrimenathtcl opened #83304 "kubectl error tls: failed to find any PEM data in certificate input"
**What happened**:
I am deploying an admission controller with kube-rbac-proxy as a sidecar container to validate the yaml before creating it. TLS has enabled [https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#authenticate-apiservers](using this). I am getting a tls error while applying the yaml.

I am able to log the certificate, but it is in not readable f

[2019-09-30 06:54] rmohr commented on #83200
So moving that filter to the apiserver library and doing the filter in the core apiserver should do the trick?

I guess we would probably need a feature flag or something, since all currently built apiservers rely on the global timeout.

[2019-09-30 07:33] iAmPrasoon opened #83306 "Connection reset by peer error while running SCTP client/server in Kubernetes."
**What happened**: I am running a SCTP based client outside kubernetes cluster and SCTP based server inside kubernetes cluster. The client is getting connected to server but while send/recv it is giving "connnection reset by peer error".

**What you expected to happen**: The client and server should be able to send and recv messages.

**How to reproduce it (as minimally and precisely as possible)*

[2019-09-30 07:40] huang-jy opened #83307 "Enhancement Request: Allow forcing a drain, even with PodDisruptionBudgets"
**What would you like to be added**:
Allow `kubectl drain` to have an additional flag (e.g. `--ignore-poddisruptionbudgets` or `--ignore-pdbs`) to allow a `drain` to drain pods off a node, even if they violate PodDisruptionBudgets

**Why is this needed**:
There are times where you want to drain pods off a node even if violating a PDB. For example, if you are running a one-worker node kubernetes cl

[2019-09-30 07:41] huang-jy commented on #83307
/sig node

[2019-09-30 07:41] odinuge commented on #83287
Duplicate of https://github.com/kubernetes/kubernetes/issues/77310
/sig cli
/closing

[2019-09-30 07:42] odinuge commented on #83287
/close

[2019-09-30 07:42] #83287 closed

[2019-09-30 07:51] iAmPrasoon commented on #83306
@kubernetes/sig-network-bugs

[2019-09-30 07:56] iAmPrasoon commented on #83306
priority/critical-urgent

[2019-09-30 08:02] Ravibhardwaj05 opened #83308 "kubelet service not starting"
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
   Active: activating (auto-restart) (Result: exit-code) since Mon 2019-09-30 13:29:40 IST; 1s ago
     Docs: https://kubernetes.io/docs/
  Process: 12806 ExecStart=/usr/bin/kubelet (code=exited, status=255)
 Main PID: 12806 (code=exited, status=255)

[2019-09-30 08:24] PengTaoWW opened #83309 "Topology manager merge the hints from all hint providers find the best one. but providing preferred = false causes cpu to bind core failed"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-09-30 08:30] #83309 closed

[2019-09-30 08:55] PengTaoWW opened #83311 "Topology manager offer hints make pod bind cpuset fail."
**What happened**:

I want to bind the CPU to which the numa node belongs, but the pod creation fails after specifying the number of CPUs in the yaml of the pod. The reason for the failure is Topology Affinity Error. I read the relevant code and found that a piece of code caused the hints generated by the topology manager to be unschedulable. If  delete it,  can successfully complete the binding I

[2019-09-30 08:56] PengTaoWW commented on #83311
/sig node

[2019-09-30 09:03] jsafrane commented on #83177
Something does not sound right between steps 1. and 2. The external provisioning is initiated by the PVC controller itself. It gets a PVC, checks it does not know how to provision it and adds annotation that it should be provisioned externally. So the PVC controller has seen the PVC and should have it in its cache.

In theory this should be pretty robust. There must be a bug somewhere. Did the con

[2019-09-30 09:04] gayathrimenathtcl commented on #83304
/area apiserver /area admission-control /sig api-machinery

[2019-09-30 09:08] miguelbernadi commented on #81421
The code tested in the referenced issue was released in v1.16.0 so you'll have to upgrade before you can use it @dayyehm. The people reporting it worked were using the unreleased version to verify it, not using an official release.

[2019-09-30 09:13] prary opened #83313 "Scope selector on LimitRange object"
**What would you like to be added**:
Scope selector should be enabled on LimitRange object similar to the way ResourceQuota object
**Why is this needed**:
So that different resource limit and requests are applied on low priority class pod.

Details :- I have two kind of Pod one normal pods and other image builder pods. Image builders pod are much smaller in size. If user doesn't specify resource l

[2019-09-30 09:15] aojea commented on #83306
there is a similar bug that was fixed in 1.16 related to sctp and node ports, can you check if this is related https://github.com/kubernetes/kubernetes/issues/81474?

[2019-09-30 09:17] squeed commented on #83263
Two ideas, one for healthz, one for useful metrics. All of these are made more complicated by the fact that the *ChangeTracker skips trivial and A-B-A changes. Figuring out those details will take a bit more thought.

For useful healthz, we set a timestamp when we get a non-trivial service or endpoint change. Clear that timestamp when we successfully sync iptables. If the timestamp is too old, fai

[2019-09-30 09:18] kwiesmueller commented on #75564
/remove-lifecycle stale

[2019-09-30 09:19] timyinshi commented on #79788
we have solve the problem,we have the hyperkube-mips

[2019-09-30 09:19] #79788 closed

[2019-09-30 09:34] zouyee commented on #83308
/sig node

[2019-09-30 09:35] timyinshi commented on #79271
we have solve the problem.

[2019-09-30 09:35] #79271 closed

[2019-09-30 09:35] zouyee commented on #83308
/triage needs-information

[2019-09-30 09:36] xieyanker commented on #76531
+10086 same issue
docker version: 18.09.6
kuberentes: 1.14.3
OS: ubuntu18.04

[2019-09-30 09:38] lotusirous opened #83315 "Failed to allocate pods on master node"
I installed a Kubernetes cluster with 2 physical machines (master and slave) by using `kubeadm`.  I allowed allocating pods on master by executing the following command (from [the official document](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/) and [stack overflow question](https://stackoverflow.com/questions/43147941/allow-scheduling-of-pods-on-kubernetes-master)):
[cod

[2019-09-30 09:40] #78930 closed

[2019-09-30 09:44] jeremykerr-sp commented on #73810
I'm seeing the same issue

[2019-09-30 09:44] jeremykerr-sp commented on #73810
/reopen

[2019-09-30 09:44] timyinshi commented on #78576
@BenTheElder i got the answer,thanks.

[2019-09-30 09:44] #78576 closed

[2019-09-30 09:45] lotusirous commented on #83315
/sig scheduling

[2019-09-30 09:50] timyinshi commented on #77255
@mattjmcnaughton ok,thanks.

[2019-09-30 09:55] mborsz opened #83316 "[k8s.io] [sig-node] kubelet [k8s.io] [sig-node] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s."
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness
**Which test(s) are failing**:

[k8s.io] [sig-node] kubelet [k8s.io] [sig-node] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s.
**Since when has it been failing**:
2019-09-26
**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kuberne

[2019-09-30 09:58] timyinshi commented on #66757
i find that when the ceph server can not be connected,then the error will be found,so when have the problem ,then can check the ceph client's config whether it is right,or chech the ceph server whether can work normally.

[2019-09-30 10:34] max-rocket-internet commented on #72775
That's not a usable work around...

[2019-09-30 10:46] iAmPrasoon commented on #83306
No, the referenced bug is different. I am able to connect through the nodeport service but while send/recv messages, I am getting "connection reset by error".
As you can see in the wireshark I am getting INIT, INIT_ACK messages but after than it fails.

[2019-09-30 11:03] zillani commented on #82970
This request makes sense. Almost every kubectl command now has Options struct as this simplifies unit testing (I believe) and so they planned to use this pattern just like in, annotate.go, apply.go etc..

[2019-09-30 11:05] KeepTheBeats opened #83317 "Static pods be evicted when diskPressure. Commit c05d506 doesn't seem to work."
**What happened**:

My k8s version is 1.15.
I want my static pods which are not in "kube-system" won't be evicted when diskPressure.
I found that after PR: https://github.com/kubernetes/kubernetes/pull/80491/files ,  static pods should not be evicted when diskPressure.
I won't update to 1.16 temporarily.
So I cherry-picked this commit: c05d5060193221dd5ebcf031d2b2708af5d00c5f to my kubelet.

But w

[2019-09-30 11:07] #71438 closed

[2019-09-30 11:13] KeepTheBeats commented on #83317
/sig apps
/sig usability
/sig cluster-lifecycle
/sig node

[2019-09-30 11:27] danwinship commented on #83263
Yeah, I guess that's equivalent to what I'd implemented, though slightly simpler in implementation: https://github.com/danwinship/kubernetes/commit/9a14e3410cf

[2019-09-30 11:30] viv01 opened #83319 "[ERROR] plugin/kubernetes: no next plugin found"
Hi,
I am getting this error in coredns on my k8s cluster -

2019-09-25T07:21:58.078Z [INFO] linux/amd64, go1.11.4, 6b56a9c
CoreDNS-1.3.1
linux/amd64, go1.11.4, 6b56a9c
2019-09-25T07:21:58.078Z [INFO] plugin/reload: Running configuration MD5 = 235c03285caca1f5e78f4752677a657d
**2019-09-27T12:08:55.426Z **[ERROR] plugin/errors: 2 121.1.168.192.in-addr.arpa. PTR: plugin/kubernetes: no next plugin fou

[2019-09-30 11:33] #83319 closed

[2019-09-30 11:33] viv01 commented on #83319
will reopen later

[2019-09-30 11:40] luigizhou commented on #81526
Hi, is this still stalled?
I would like to try and contribute if it's ok

[2019-09-30 12:32] alenkacz commented on #83316
is there someone who can pick this up since it's constantly failing in the master-informing? Thanks :)

[2019-09-30 12:39] eero-t commented on #79601
Note that this can differ between different host OSes and container implementations, e.g. Fedora host + CRIO vs. Ubuntu host + dockerd behave differently in this respect to /dev/dri/* files.

/remove-lifecycle stale

[2019-09-30 12:43] oded-dd commented on #78645
Our kube-apiserver are full with it:

[code]

[2019-09-30 12:49] alenkacz opened #83321 "TestTaintBasedEvictions is flaky"
**Which jobs are failing**:
https://testgrid.k8s.io/sig-release-master-blocking#integration-master

**Which test(s) are failing**:
TaintBasedEvictions

**Since when has it been failing**:
probably since it was added in this PR? https://github.com/kubernetes/kubernetes/pull/81856

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#integration-master

**Reason for failure**:
[cod

[2019-09-30 12:51] alenkacz commented on #83321
cc. @damemi

[2019-09-30 13:10] deads2k commented on #69836
Simplest solution is an injector.  Jetstack and openshift both have mechanisms for doing that.

[2019-09-30 13:22] rikatz commented on #83242
@kvokka just a question: Deleted conditions are also something you're looking for?

I imagine a situation where you wan't a deleted condition for an object that wasn't even created. This seems pretty strange to me :) but let me know if this is also a scenario.

Tks

[2019-09-30 13:37] myan9 commented on #82950
@hpandeycodeit Thanks for your help! I got a column of ```<none>``` with your suggestion, so I guess this doesn't work...

[2019-09-30 13:38] damemi commented on #83321
Looking into this. We moved it to integration because it was flaking in e2e too

[2019-09-30 13:43] kvokka commented on #83242
@rikatz Thank you for your response!

For me simple wait until timeout is more than enough. If the developer want to control the object persistence/deletion just let him do it. Sounds reasonable?

The example scenario of the expected behaviour is described in [this article](https://medium.com/@kvokka/managing-db-migrations-with-kubernetes-365a9f8596c6).

[2019-09-30 13:45] jsafrane opened #83323 "Scheduler does not prioritize volume sizes"
**What happened**:
With `volumeBindingMode: WaitForFirstConsumer`, scheduler does not take PV sizes into account when scheduling a Pod that can run anywhere and PVC that can find several available pre-provisioned PVs with various sizes.

**What you expected to happen**:
Scheduler tries to find as small PV as possible.

**How to reproduce it (as minimally and precisely as possible)**:
Let's have th

[2019-09-30 13:46] jsafrane commented on #83323
/sig storage
/assign @msau42
Should this be part of topology GA?

[2019-09-30 13:54] rikatz commented on #83242
Right.

It might be pretty trickier than I thought it was, but I'm already taking a look.

The biggest problem is that the function used to 'visit' an object expects it to exists (ResourceFinder.Do().Visit) so I'm taking a look to check if it's possible to 'bypass/loop' into it ;)

[2019-09-30 14:04] mannevijayakrishna commented on #82792
I have resolved the issue.   thank you very much for all your help.

[2019-09-30 14:04] #82792 closed

[2019-09-30 14:08] mborsz commented on #83316
@dchen1107 Could you help us here?

[2019-09-30 15:11] tedyu commented on #83317
Raised PR #83325

[2019-09-30 15:11] gongguan commented on #82494
During that period, the pod's network is abnormal, so kubelet failed to get pod IP from eth0 device(as log printed). Delete the pod makes sandbox and pod's network recreated, so endpoint becomes ready.

[2019-09-30 15:23] VegarM commented on #53023
Observed in one of our clusters as well, where the reported number of available/ready pods seems to be wrong.

This happened to 2 other DaemonSets running in this cluster as well. We "fixed" one of them by changing the DaemonSet pod spec which triggered a rolling update. After the update the counts were correct. We've not been able to find any misbehaving node or other signs that indicate somethin

[2019-09-30 15:23] tedyu commented on #83308
Which release are you using ?

[2019-09-30 15:48] neolit123 commented on #83315
/sig cluster-lifecycle

this command is correct.

this also depends on Taints and Tollerations.
even if dev-slave is NotReady, pods can land on it if the deployment prefers this Node.

you can `kubectl delete` the node. this is manual operations, but you can automate it.

to get get feedback try asking on #sig-scheduling (k8s slack).

[2019-09-30 15:48] #73382 closed

[2019-09-30 15:49] andrewsykim commented on #82923
Cherry-pick merged for v1.14.8 (https://github.com/kubernetes/kubernetes/pull/82954). Please re-open if you see issue in v1.14.8

/close

[2019-09-30 15:49] #82923 closed

[2019-09-30 15:54] squeed commented on #83263
I implemented a simple version of the last-change metric at https://github.com/squeed/kubernetes/commit/7099e3346066b64a3d5d70c2aac1787e8dd837a7

[2019-09-30 16:03] ahg-g commented on #83298
This is something @liu-cong is already working on as part of #82427. Lets track all metric-related improvements under one issue. How about we close this one and add all your requests to #82427.

@liu-cong, do you have a doc that you can share so that the community can make suggestions what other metrics we may want to add?

[2019-09-30 16:20] alexec commented on #81610
Is the work-around for this to manually update the SGs?

[2019-09-30 16:30] liu-cong commented on #83298
Actually I am working on a doc that aims to include all metrics(existing and new) in scheduler. I am gonna share it shortly and create a master issue that tracks them all.

[2019-09-30 16:35] msau42 commented on #83177
What version of CSI provisioner are you using? There was a bug in older releases in the lib-external-provisioner where it was not checking for the annotation.

[2019-09-30 16:35] msau42 commented on #83177
@kubernetes/sig-storage-bugs

[2019-09-30 16:41] msau42 commented on #83224
@kubernetes/sig-apps-feature-requests

[2019-09-30 16:42] alejandrox1 commented on #83177
/priority critical-urgent
/milestone v1.17

[2019-09-30 16:43] alejandrox1 commented on #83177
What version of Kubernetes are you using?

[2019-09-30 16:50] ddebroy commented on #83177
@answer1991 can you please specify the CSI driver you are using and it's version?
Do you happen to be using something like EBS CSI or GCE PD CSI by any chance?

[2019-09-30 17:01] alejandrox1 commented on #78524
/priority critical-urgent

[2019-09-30 17:07] tedyu commented on #83224
[code]
Did you mean scale in/out ?

[2019-09-30 17:40] simonferquel commented on #83253
I did a pr on go-yaml 1 year ago to mitigate this issue on some of our server side components: https://github.com/go-yaml/yaml/pull/375. Hope it helps!

[2019-09-30 17:42] johnSchnake opened #83329 "Test framework should support custom taints during testing"
**What would you like to be added**:
A flag/config option for the framework which allows you to specify taints which should be supported by workloads.

What we would do is create a mutating webhook which would ensure pods tolerate a given list of taints. After the tests are completed, the webhook would be removed.

**Why is this needed**:
This helps users who run in heavily tainted environments co

[2019-09-30 17:43] johnSchnake commented on #83329
/area e2e-test-framework

[2019-09-30 17:44] hh commented on #82435
From https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-parts-of-the-api :

PodSpec is core/v1. Does that mean it can only be dropped in core/v2?

Does this mean we can drop it from core/v1 without having a core/v2?

[2019-09-30 17:47] hh commented on #82435
To be clear these are the API Operations we are choosing to drop:

#### PodTemplate v1 core
- [ ] List
- [ ] ListAllNamespaces
- [ ] Watch
- [ ] WatchList
- [ ] Create
- [ ] Read
- [ ] Patch
- [ ] Replace
- [ ] Delete
- [ ] DeleteCollection

[2019-09-30 17:57] mcandre opened #83330 "Convention for SSHing to a container as part of a Kubernetes job?"
Hi,

I want to automate some of the deployment steps for my database components with Kubernetes jobs. Specifically, I want to automate triggering a user cache update in ProxySQL.

Unfortunately, this application was not designed with automation in mind, and does not appear to offer a remote HTTP / TCP call or simple SQL command. Rather, it requires a shell command to be executed. In a bare metal w

[2019-09-30 18:03] alenkacz commented on #83321
/assign damemi

[2019-09-30 18:07] erikwilson commented on #83272
`saveResults` is probably never called due to `set -o errexit`, it can probably be fixed by adding a `set +e` or `set +o errexit` before line 70.

[2019-09-30 18:10] rtheis opened #83332 "Kubernetes API server stuck on metrics server API service discovery check failure"
**What happened**:

Occasionally, the metrics server API service `v1beta1.metrics.k8s.io` fails discovery after cluster creation.  The discovery checks often continue failing until the API service is deleted and recreated.  Sometimes, discovery will eventually succeed without intervention but this could take 30 or more minutes.  This problem primarily impacts Kubernetes v1.15, but has been seen at

[2019-09-30 18:10] rtheis commented on #83332
/sig api-machinery

[2019-09-30 18:12] rtheis commented on #83332
Here are some of the metrics server pod log errors captured during discovery failure:

[code]

[code]

[code]

[code]

[2019-09-30 18:14] rtheis commented on #83332
Here are some of the API server errors captured during discovery failure.  These error repeat many times.

[code]

[code]

[code]

[2019-09-30 18:16] cwdsuzhou commented on #83177
agree with @jsafrane , pv controller should have seen the pvc.

See the codes and the comments.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L524-532

From the comments, we should `double check` pvc when pvc it not found and the pv is bound by` external binder`.

But from the codes, we should `double check` pvc when pvc is not found a

[2019-09-30 18:25] mtcode commented on #81281
Is there still ongoing work as part of this?  I have a use case where the scoring is not precise enough, and I'm running a custom scheduler now that increases the scoring range to 1000.

[2019-09-30 18:27] johnSchnake commented on #83272
Yes that is exactly why it is but in the past when I recommended removing/modifying the errexit code I've gotten pushback from a googler just due to convention: see https://github.com/kubernetes/kubernetes/pull/76039#discussion_r271507996

Just will add something like `... && ret=0 || ret=$?` to the lines that need this

[2019-09-30 18:30] hpandeycodeit commented on #83094
/assign

[2019-09-30 18:44] listx commented on #78534
Dumb question: Why are we trying to move kubeadm out of k/k repository? I guess just for better code organization? I'm having trouble finding a clear ELI5 answer in the links. Thanks!

[2019-09-30 18:57] neolit123 commented on #78534
@listx
the reasons are tribal knowledge but they benefit both the kubernetes repository and kubeadm.

a couple of examples:
- faster development process of kubeadm; merging PRs without flakes and not having to run kube-up tests on a unrelated deployer.
- less noise from kubeadm issues and PRs in k/k.
(users might still report kubeadm issues in k/k, but ideally we should move them to k/kubeadm).

[2019-09-30 18:58] costinm commented on #82952
Understood - however even as it is today, organically grown and all, the API is quite useful and can solve major usability problems for Webhooks  and systems like Istio. The main gap is just the documentation that states that unknown roots might sign the cert. If it is updated to recommend that only the apiserver cert ( distrubted by kubelet to all pods) will be used to sign for regular workloads

[2019-09-30 18:59] costinm commented on #82952
For the record - the current plan for Istio is to attempt to use this API as is, but verify if the cert is signed by the apiserver key. If it is - we'll use it, and enable use of SDS ( which is the protocol used by envoy to provision certificates). Otherwise we'll fallback to Citadel and mounted secrets.

[2019-09-30 19:01] costinm commented on #63726
/cc costinm

Istio ( in particular multi-cluster and SDS provisioning ) would also benefit of this.

[2019-09-30 19:10] costinm commented on #69836
AFAIK injector can't inject a configmap - just modify the pod specification to add a mount of an existing configmap. It is possible to have a controller that creates configmaps in each namespace, and it is possible to have the injector add a base64-encoded env variable or similar. Unless there is some other mechanism I don't know.

Do you have any links to the mechanisms used by Jetstack or opensh

[2019-09-30 19:31] ruchikaguptaa commented on #83266
Is there any hack/workaround I can use for now?

[2019-09-30 19:37] rikatz commented on #82008
/remove-triage unresolved

[2019-09-30 19:57] hh commented on #82435
/area api-machinery

[2019-09-30 19:58] hh commented on #82435
/sig api-machinery
/area api-review

[2019-09-30 19:59] dhanvi commented on #82008
@rikatz Apologies for not making it clear in the first place. Below are more details of the feature I am requesting.

Currently a service with the name `nginx` in `default` namespace will have the DNS in the format of `nginx.default.svc.cluster.local`, I am requesting for a subdomain field when configured can have the DNS like `nginx.subdomain.default.svc.cluster.local`

[2019-09-30 20:02] rikatz commented on #83242
I've made an initial and dirty PR just to see if this is the path to follow :D

[2019-09-30 20:04] rikatz commented on #82008
@dhanvi about what @chrisohaver sent to you before: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods

CoreDNS follows this specs, this doesn't solves the problem?

[2019-09-30 20:07] damemi commented on #83321
Not sure yet, but I do see this in the logs of the failing tests: `node_lifecycle_controller.go:1117] Controller detected that all Nodes are not-Ready. Entering master disruption mode.` which, if I understand this, would remove all the taints and mark nodes as reachable (which would explain why the test is failing waiting for node taints: https://github.com/kubernetes/kubernetes/blob/master/test/i

[2019-09-30 20:07] Nowaker commented on #57601
Instead of changing the default for everyone, can we at least get a configuration option for that?

I'm not super-familiar with Kubernetes internals, but maybe it would belong to Kubernetes API server, which could be configured to autoset `automountServiceAccountToken: false` if `automountServiceAccountToken` is not explicitly defined.

[2019-09-30 20:08] chrisohaver commented on #82008
This would collide with the current name scheme in the k8s dns spec.  A query like `nginx.subdomain.default.svc.cluster.local` is currently interpreted in the following way:
* `default` is the namespace
* `subdomain` is a service
* `nginx` is an endpoint of the service

[2019-09-30 20:09] #78524 closed

[2019-09-30 20:13] chrisohaver commented on #82008
Perhaps instead of explaining the feature you want, can you explain the problem you are trying to solve?

[2019-09-30 20:14] dims commented on #82532
Update: CAPG now as a presubmit and a periodic job that starts up a cluster and runs the e2e/conformance tests

- https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#e2e%20tests
- https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#pr-e2e

Thanks to @vincepri for the hand holding and for all the changes in CAPG to be able to get these jobs going quickly.

[2019-09-30 20:16] awly commented on #69836
Good point, this is also a part of GA improvements.
We should make the CSR->Signer mapping more transparent and deterministic.

One option is to have some signer ID in the CSR, and then all other signers ignore it.
Another option is to have the CSR controller attach that ID based on which signer was used.

I personally like the former, but we can hash it out in the KEP PR once @mikedanese or someo