[2015-12-16 23:28] saad-ali commented on #18778
Not much, we're at the mercy of GCE latency. We do multiple attach/detach per test each of which may take many minutes to complete.

See https://github.com/kubernetes/kubernetes/pull/16766 and https://github.com/kubernetes/kubernetes/issues/15382#issuecomment-153268655

[2015-12-16 23:32] vishh commented on #18776
@yifan-gu: A part of the problem is that of kubelet running inside a mount namespace.
The other part is that of introducing mounts into containers. Perhaps @pmorie can better summarize the latter use case.

[2015-12-16 23:40] ihmccreery commented on #18704
Similarly, I believe, (though the converse test) http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20947/console

[code]

[2015-12-17 00:01] thockin commented on #18791
@artfulcoder

On Wed, Dec 16, 2015 at 2:55 PM, Timothy St. Clair <notifications@github.com

[2015-12-17 00:05] thockin commented on #18788
It's very manual. Fixed.

[2015-12-17 00:05] #18788 closed

[2015-12-17 00:08] caesarxuchao commented on #18531
Currently `KUBE_API_VERSIONS` serves two purposes: 1. deciding if a version will be registered to `latest` and the `RESTMapper`; 2. deciding the order of the versions in the `RESTMapper`.

`I think we can relieve it from the version ordering responsibility`. Because 1. The order is not needed by the server, as @lavalamp pointed out this morning, versions are encoded in the url, and the etcd storag

[2015-12-17 00:08] vishh commented on #18620
cc @piosz

[2015-12-17 00:10] nikhiljindal commented on #16737
Yes with deployments API, you can set maxUnavailable to 100% and then it will always update old pods with new ones, irrespective of whether they are failing or not.

We plan to graduate deployments to beta pretty soon.

Also, you guys should check out the proposal for rolling-update like command using deployments API: https://github.com/kubernetes/kubernetes/pull/18404

[2015-12-17 00:11] quinton-hoole opened #18794 "storage unit test flakes with "Unexpected error: too old resource version: 2 (3)""
Looks like a unit test flake. A race between two concurrent instances of this test updating the same resource?
[code]

cc @saad-ali

[2015-12-17 00:12] quinton-hoole commented on #18794
Actually this is etcd stuff, not PD storage.  Relabelling accordingly.

[2015-12-17 00:14] vishh commented on #18652
Maybe @bprashanth can help you with the network issues.

[2015-12-17 00:16] quinton-hoole commented on #18794
#17915 is where it happened.

[2015-12-17 00:20] jlowdermilk commented on #18739
I relaunched the soak cluster with change and test is now passing again. Thanks @yujuhong.

[2015-12-17 00:20] #18739 closed

[2015-12-17 00:28] thockin opened #18796 "Configuring no exponential backoff"
From logs on a turnup from head:

[code]

Now, I know I have something broken (my apiserver is not up) but it seems excessive to log this so much.

[2015-12-17 00:41] spxtr commented on #18778
Should we move these tests to the slow suite?

[2015-12-17 00:47] smarterclayton commented on #5164
Good question.  80% of use cases I've walked over are fairly simple
(single loop, some resync).  Obviously this pattern works best for
maintaining simple invariants.  Kelsey and I talked a bit about a
"libkube" that bridged the gap for more complex function.  At the
limit, only a development team can really solve certain problems.  I
think that the way past the simple problem is the formalization

[2015-12-17 00:53] saad-ali commented on #18778
It looks like the merge bot currently doesn't monitor the `gce-slow` suite. I don't want the tests to be moved there, if that means that failures will be ignored.

If we can get `kubernetes-e2e-gce-slow` added to the list of suites that, if not green, will block the merge queue, then I'm fine with moving the two >5 min run time tests to the slow suite.

[2015-12-17 01:13] jayunit100 commented on #18768
no prob.  thanks for the heads up also :).  we should keep this in mind for new users  **VMs that die fast w/ eth-ifup problems may more than likely be machine/vbox errors than anything else**

[2015-12-17 01:29] HardySimpson commented on #18754
@timothysc do you mean that #18418 cheat me?

[2015-12-17 01:54] spxtr commented on #18778
Merge bot doesn't, but it's in critical builds on Jenkins so the build cop is responsible for keeping it green.

[2015-12-17 02:19] feihujiang commented on #18720
@ihmccreery I understood, thanks for your detailed information.

[2015-12-17 03:20] feihujiang opened #18800 "Some Comments in test-cmd.sh are wrong"
Tests for pods in ```test-cmd.sh``` just check whether pods are exist or not, they don't check the status of pods. So I think the comments as follows in ```test-cmd.sh```  are wrong
[code]
Maybe could be replaced with the follows
[code]

[2015-12-17 03:25] HaiyangDING opened #18801 "Shall we consider implement an "annotation selector" in Kuberentes?"
Currently, we have had a decent mechanism for label querying. However, querying annotations is not well supported yet. I noticed this when implementing the multi-scheduler feature in which I found the scheduler cannot "watch&list" pods in the api-server with specific annotations. Having an "annotation selector" would help scheduler watch the pods it actually cares (although we could also choose no

[2015-12-17 03:35] #18082 closed

[2015-12-17 03:59] marun opened #18802 "NodePort services broken by default-deny firewall rules"
Non-cloud installs of fedora and centos include the iptables-service package by default, which adds the following rules:

    -A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
    -A INPUT -p icmp -j ACCEPT
    -A INPUT -i lo -j ACCEPT
    -A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
    -A INPUT -j REJECT --reject-with icmp-host-prohibited

These rules don't affect pod-o

[2015-12-17 04:12] manusu opened #18803 "1.1.1 privileged forbidden yet"
At first,i installed kubernete1.0.1.After found it not allowed privilege container, i install a higher version 1.1.1. now i meet two problem.
1.when i build a example,i found service is up,but there is no pod running, describe it shows "Replicas:   0 current / 1 desired ;service Pods status 0 running/ 0waiting /0 succeeded /0 failed“
2.then i try to create a privilege container in a pod,it report

[2015-12-17 04:55] pikeas opened #18805 "kube-up broken if python3 is default"
[code]

Python3 has a print() function, print statements will fail. I ran kube-up on a system where python3 is the default python, so kube-up failed at the print statement.

kube-up should at least fail gracefully, or preferably be compatible with both Python 2 and Python 3.

[2015-12-17 05:25] #17363 closed

[2015-12-17 05:36] jlowdermilk commented on #18744
cc @dchen1107

[2015-12-17 05:48] andrejvanderzee commented on #2630
@pmorie From which version are pod.spec.securityContext.supplementalGroups and pod.spec.securityContext.fsGroup supported? Does it also apply to non-existing hostPaths that are created when the POD starts for the first time?

[2015-12-17 05:51] jlowdermilk commented on #18758
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We try to consolidate troubleshooting/support questions onto stackoverflow as that makes them easier to discover for other users who may encounter similar issues. The Kubernetes team scans stackoverflow on a regular basis, and will try to ensure your questions don't go unanswered. Thanks for usi

[2015-12-17 05:51] #18758 closed

[2015-12-17 05:59] piosz commented on #18620
cc @mwielgus @fgrzadkowski

[2015-12-17 05:59] saad-ali commented on #18778
Being in the critical builds list is not sufficient. I really don't want breaking changes slipping in. These tests are stable enough that if they break that is enough of a signal to block further merges.

[2015-12-17 06:05] jlowdermilk commented on #18774
@tnine the build setup for development is a bit finicky. The [development guide](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md) is a good place to start. There's a section on godeps that should help you fix your setup.

[2015-12-17 06:06] jlowdermilk commented on #18785
cc @justinsb

[2015-12-17 06:13] Hui-Zhi commented on #17035
I'm already working on write the code about enable the devices under cgroup/devices. And the changes include the kubectl and scheduler parts.

[2015-12-17 06:13] caesarxuchao commented on #18762
This should be resolved when #18531 is solved.

Yeah, adding a group now is kind of painful. We should automate some steps. We have a doc on the steps required to add a group: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/adding-an-APIGroup.md

[2015-12-17 06:14] jlowdermilk commented on #18800
Sounds right. A pr would be welcome.

[2015-12-17 06:27] Dingshujie commented on #18803
check kube-apiserver command flags, whether --admission-control contain SecurityContextDeny, This plug-in will deny any pod with a SecurityContext that defines options that were not available on the Container, so  restart kube-apiserver and delete it, you can create a privilege container

[2015-12-17 06:44] joltup commented on #13585
+1

[2015-12-17 06:44] tslater commented on #13585
+1

[2015-12-17 07:26] kendung opened #18807 "Proposal: kubernetes should have a lease mechanism for each Pod"
as we all know, the resources managed by Kubernetes are precious. We need to define a mechanism for kubernetes to manage the resources more efficiently:

1, when define Pod spec, we can introduce a expire time for it.
2, Before expire time reached, kubernetes will send out notification mail to users for reclaiming the resources.
3, Kubernetes also have ability for users to extend the expire time u

[2015-12-17 07:30] thockin commented on #18807
This is a pretty good example of something that can be totally built on top
of kubernetes and doesn't need much help from the core of the system.

On Wed, Dec 16, 2015 at 11:26 PM, kendung <notifications@github.com> wrote:

[2015-12-17 07:58] magicwang-cn opened #18808 "scheduler: filterNonRunningPods can be moved to add/update func"
every pod scheduling will traversal [pods cache](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L429) to filter the (`api.PodSucceeded`) and (`api.PodFailed`) pods,  can we move the filter to [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/framework/controller.go#L236) to reduse the filtering time/temporary me

[2015-12-17 07:59] niceysj commented on #17887
When I get fixed guide???

[2015-12-17 08:06] feihujiang commented on #18801
Yes, I'm working on this now, any feedback is welcome. :)

[2015-12-17 08:08] kendung commented on #18807
@thockin from some point of view, this can be built on top of kubernetes. Kubernetes has the capability to make users' pod more available by way of replication controller. From resource management perspective, resource allocation and resource reclaim should both exist for the closed loop system. At least, kubernetes should have a basic framework for users to define some rules bind to the pod for r

[2015-12-17 08:21] janetkuo commented on #18558
Current failure rate in kubernetes-e2e-gce-parallel: 2/190 (1%), in kubernetes-pull-build-test-e2e-gce: 9/849 (1%).

[2015-12-17 08:38] janetkuo commented on #18558
All failures look the same -- the pod is successfully created, but somehow got killed by kubelet (line 7).
[code]
Since the pod is killed, the test can't find it when doing clean-up and throws the error.

[2015-12-17 08:57] gmarek commented on #17443
@smarterclayton is this fixed?

[2015-12-17 09:01] gmarek opened #18809 "integration flake: FAILED: pod never started running timed out waiting for the condition"
e.g. from https://github.com/kubernetes/kubernetes/pull/18786 (t probably will be rerun before someone will look into it: https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/08218285b7b6048831d47494d19e1420f9c382ce/kubernetes-pull-test-unit-integration/6315/)

[code]

Assigning to @ixdy for lack of better ideas.

cc @davidopp @wojtek-t @lavalamp @brendandburns

[2015-12-17 09:01] gmarek opened #18810 "Integration tests are really flaky."
It's an umbrella issue for various flakes in our integration tests. For lack of a better idea I put it under the test-infra team and assigned to @ixdy, but if someone have better one please reassign/change team.

@davidopp @lavalamp @wojtek-t @fgrzadkowski @thockin @brendandburns @dchen1107 @bgrant0607

- [x] #18811 netcat isn't installed
- [ ] #18809 pod never started running timed out waiting fo

[2015-12-17 09:02] #17329 closed

[2015-12-17 09:05] gmarek commented on #17181
@brendandburns - does this still happen?

[2015-12-17 09:07] feihujiang commented on #17443
:+1: This is fixed for me.

[2015-12-17 09:18] gmarek commented on #17443
Thanks. Closing.

[2015-12-17 09:18] #17443 closed

[2015-12-17 09:20] fgrzadkowski commented on #12722
Oh yes. You're right! It's just that #18351 was sent for review as one of the first PRs in a row. Before it got merged I sent bunch of other PR, that were earlier. So in the end this became the last PR :)

Sorry for the confusion and thanks for keeping an eye on it :)

[2015-12-17 09:31] gmarek opened #18811 "integration flake: netcat isn't installed"
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/4774e7146e0980b0ab9e0a8027e50254e7f6945d/kubernetes-pull-test-unit-integration/5270/

[code]

cc @kubernetes/goog-cluster
@thockin please triage

[2015-12-17 09:33] #18354 closed

[2015-12-17 09:54] rrfeng opened #18812 "virt7-testing repo disappeared?"
http://cbs.centos.org/repos/virt7-testing

[2015-12-17 10:12] aclisp opened #18815 "kubelet can not detect docker root correctly when using devicemapper"
First, kubelet's option `--docker-root` does not help because it is actually a cadvisor option at https://github.com/kubernetes/kubernetes/blob/master/Godeps/_workspace/src/github.com/google/cadvisor/container/docker/factory.go#L42

I find kubelet detects docker root by contact docker runtime when NewDockerManager is called.
[code]

This is the info output on my host using the devicemapper driver

[2015-12-17 10:24] #18746 closed

[2015-12-17 10:27] wojtek-t commented on #18794
I think this may be solved by https://github.com/kubernetes/kubernetes/pull/18635

[2015-12-17 10:47] kargakis commented on #18558
We shouldn't error out if a [pod](https://github.com/kubernetes/kubernetes/blob/0b932384235aeb22273db1ae21d74ef2b5e26910/pkg/kubectl/stop.go#L261) is not found.

[2015-12-17 10:47] soupdiver commented on #18755
Ok, now I got it.
To be honest I haven't thought that far yet. Working on my problem the first step was to get the request to all nodes in the first place. I will think more about that and post my thoughts/ideas here

[2015-12-17 10:56] marktheunissen commented on #13355
+1 this would be a great feature

[2015-12-17 10:59] wojtek-t commented on #13331
@timothysc - is this still a problem?

[2015-12-17 11:13] mqliang commented on #18808
How about move the filter logic to list&watch client?

[2015-12-17 11:27] mqliang commented on #18808
Why not move the filter logic to list&watch client?

[2015-12-17 12:25] #18656 closed

[2015-12-17 12:53] nickschuch commented on #7890
Hmm, scratch that, that was a very raw thought, I see now we pretty much have that via the "mount" package and volumes provide a higher level.

Currently updated my goal to creating a "fuse" volume, going to write some code and see what other thoughts come from there. That will allow us to also mount the other fuse filesystems.

[2015-12-17 13:04] deads2k commented on #18762
I had no idea there was a doc.  Glad our steps line up. :)

Is there any plan to better automate the checking?  I'm worried about people accidentally skipping a step.  Code still compiles even with pieces missing.

[2015-12-17 13:08] ttllyy commented on #18342
@saad-ali
k8s version:1.1.2
docker version:1.9.0
Too many local volums.
On one nodes, run command: docker volume ls
partial results:
local               11206c68b6296244a875e80cfc932d78deb9f54b8b7bf25154b516c1d108ba1f
local               a6d23d68ec44870ab8b386dbbaf4af503b7d9b44ea249b2873ae245ced899b63
local               4adac6cb358132615a1e1421adc68b59d66b157e1659626e173b50998642a740
local

[2015-12-17 13:28] deads2k commented on #18531
I agree.  On the client side, I think that clients should either take the coded default (like you suggested) *or* they'll specify an preferred ordering in their kubeconfig file.

[2015-12-17 13:29] timothysc commented on #13331
I'll close and reopen if we still see it post eval.

[2015-12-17 13:29] #13331 closed

[2015-12-17 13:35] brendandburns commented on #18543
@rroopreddy @frosenberg what version of the cassandra image are you using?

From that stack trace it looks like its an old cassandra image...

thanks!
--brendan

[2015-12-17 13:37] frosenberg commented on #18543
I tried both, the one in the yaml file (i think v6) and I also built my own
by also rebuilding the java code.

On Thu, Dec 17, 2015 at 2:36 PM Brendan Burns <notifications@github.com>
wrote:

[2015-12-17 13:44] wojtek-t commented on #12207
The remaining point is a duplicate of #17546 - closing this one.

[2015-12-17 13:44] #12207 closed

[2015-12-17 14:00] brendandburns commented on #18543
please try `gcr.io/google_containers/cassandra:v7` which I just pushed with the latest code.  From looking at the line in the stack trace, I believe this is fixed at head, but I'm not sure it was pushed out in an image...

If it does re-occur, can you re-paste your stack trace?

Thanks!
--brendan

[2015-12-17 14:07] mwielgus opened #18826 "Update Influxdb client to 0.9+ with api version v2"
Currently we are on 0.8 with deprecated api.

[2015-12-17 14:20] brendandburns commented on #17981
@luxas I have a working Raspberry PI cluster and have built a bunch of ARM binaries for various pieces.  I'm happy to advise and review the PRs..

We can keep this open as a tracking issue.  Please assign the PRs to me.

[2015-12-17 14:21] brendandburns commented on #17435
Closed by #18131

[2015-12-17 14:23] brendandburns commented on #17275
Sorry for the delay on this, I will try to repro this sometime soon.

[2015-12-17 14:23] brendandburns commented on #17062
I'm going to close this in favor of the various efforts to improve the single node docker experience.

[2015-12-17 14:23] #17062 closed

[2015-12-17 14:29] brendandburns commented on #12493
@ihmccreery I don't think so...  Have we seen repros recently?

[2015-12-17 14:40] brendandburns commented on #18755
I can definitely see use cases for this in the UDP service, but I don't think that it's core functionality.  I can easily see doing something like:

[code]

I'm going to close this issue since I don't think we want to bake it into `kubectl` @soupdiver please feel free to re-open if you have use-cases that you think we should re-consider.

Thanks!

[2015-12-17 14:40] #18755 closed

[2015-12-17 14:41] chesleybrown commented on #499
Thank you @streamnsight. I think I had to remove _all_ spaces from it as well.

[2015-12-17 14:42] brendandburns commented on #18754
@timothysc meant that this is a duplicate of the issue in #18418, @timothysc feel free to close.

This also matches data that we see in performance testing.  Its basically not going to change until we re-architect the way that we lay out pod -> machine assignment in etcd, or we get etcd to support cross-object pre-conditions.

[2015-12-17 14:45] brendandburns commented on #18771
cobra is easy to change (we have several owners including myself and @eparis)

looks like its as simple as linking in:  https://github.com/russross/blackfriday

[2015-12-17 14:47] brendandburns commented on #18811
I think we just need to install netcat on our jenkins worker box, I'll do that.

[2015-12-17 14:52] wojtek-t opened #18828 "Kubemark sometimes fails to start"
The error is as following:

    16:31:54 Removing intermediate container 18f25494a537
    16:31:54 Successfully built 7969077b67a9
    16:31:54 gcloud docker push gcr.io/k8s-jenkins-kubemark/kubemark
    16:31:54 The push refers to a repository [gcr.io/k8s-jenkins-kubemark/kubemark] (len: 1)
    16:31:54 push or pull gcr.io/k8s-jenkins-kubemark/kubemark is already in progress
    16:31:54 make: **

[2015-12-17 14:53] brendandburns commented on #18810
@smarterclayton can you find someone on the red hat side to tackle some of this, maybe @deads2k for test-cmd?

[2015-12-17 14:57] smarterclayton commented on #18810
@kargakis or @ironcladlou can you look at #17966

[2015-12-17 15:04] resouer commented on #15484
Just out of curiosity, do we really want this? Or it is still in discussing?

[2015-12-17 15:09] brendandburns commented on #18811
I installed netcat on the worker node.  That should fix this issue.

[2015-12-17 15:15] luxas commented on #17981
@brendandburns Are you OK with using `resin/rpi-raspbian` instead for `armbuild/debian` for `ARMv6` compability?
And how about including `flannel` besides `etcd` in `cluster/images`?

[2015-12-17 15:22] jsafrane opened #18830 "Dynamically provisioned volumes are bound after 10 minutes"
I'm testing dynamic provisioning on AWS. When I create a claim with `volume.alpha.kubernetes.io/storage-class` annotation, Kubernetes creates a PV, marks it as Bound, while the claim is still `Pending`. The claim gets `Bound` only after 10 minutes, i.e. on the next provisioner controller refresh.

When the provisioning is complete, the claim should be marked as Bound immediately, probably somewher

[2015-12-17 15:22] swagiaal commented on #18785
Supporting this requires the Attach/Detach controller which is proposed in #15524. That will solve the issue for all volumes not just EBS

[2015-12-17 15:22] jsafrane commented on #18830
cc @markturansky @pmorie @kubernetes/rh-storage

[2015-12-17 15:27] kargakis commented on #17966
Have you seen this since https://github.com/kubernetes/kubernetes/pull/18013 ?

[2015-12-17 15:28] hongchaodeng opened #18831 "Change scheduling complexity from O(containers) to O(nodes)"
So far the scheduling algorithm complexity is O(containers) -- not O(pods) nor O(nodes). The scheduling latency becomes higher as more containers/pods get scheduled -- last time we observed 20 ms on 0 pods and it increased to 200ms on 30k pods.

After fixing #18255, #18452, #18466, #18413, #18170, and making use of scheduler test suite #18458, we found that majority of time was spent on `PodFitsRe

[2015-12-17 15:30] hongchaodeng commented on #18831
Scheduling rate raw data on density test (30k pods on 10k nodes):
https://storage.googleapis.com/profiling/2015-12-16/10knodes-30kpods-perf-density-log.txt

[2015-12-17 15:30] streamnsight commented on #499
I pushed this PR https://github.com/kubernetes/kubernetes/pull/17286 for the documentation over a month ago but it's still has not made it into the repo.
@erictune @brendandburns @smarterclayton

[2015-12-17 15:30] kargakis commented on #18810
Most probably fixed by https://github.com/kubernetes/kubernetes/pull/18013

[2015-12-17 15:30] hongchaodeng commented on #18831
/cc @xiang90 @davidopp @wojtek-t @HaiyangDING @gmarek

[2015-12-17 15:33] jsafrane opened #18832 "Failures when deleting dynamic volumes"
There is a race between deleting a pod which uses a dynamically provisioned volume and deleting appropriate claim.

E.g:
1. User runs a pod with a dynamically provisioned claim.
2. User deletes the pod
3. User deletes the claim.

At step 2, the pod is deleted from the API server and kubelet starts (slowly) tearing the pod down - stopping containers, detaching volumes etc.

At step 3, when the user

[2015-12-17 15:33] jsafrane commented on #18832
@kubernetes/rh-storage

[2015-12-17 15:42] markturansky commented on #18832
This race will continue even after detaching moves from Kubelet to an attach/detach controller.

@thockin simple question for you... is it a standard practice to save state on an object using annotations that are known by all actors in the system?

e.g, Set a "provisioning required" annotation on a PV, which is processed by another controller that, in turn, sets the "provisioning completed" value.

[2015-12-17 15:54] xiang90 commented on #18754
@brendandburns

check https://github.com/kubernetes/kubernetes/issues/18831

[2015-12-17 16:00] xiang90 commented on #18808
ref https://github.com/kubernetes/kubernetes/issues/18831

[2015-12-17 16:01] xiang90 commented on #18808
I think this is a subset of the optimization we can do in #18831. Basically, we should try not to traverse pods when scheduling by caching the node state incrementally.

[2015-12-17 16:19] rootfs opened #18833 "Godeps broken due to docker pkg move"
Verifying Godeps failed:
[code]
[Recent Docker commit](https://github.com/docker/docker/commit/27220ecc6b1eedf650ca9cf94965cb0dc2054efd) moved `github.com/docker/docker/pkg/timeutils` and `github.com/docker/docker/pkg/units`, thus other Godeps such as `github.com/google/cadvisor/api` and `github.com/google/cadvisor/http` are also broken.

[2015-12-17 16:20] rootfs commented on #18833
@dchen1107 @lavalamp

[2015-12-17 16:41] markturansky commented on #18333
Attach/detach will require an interlock between the controller trying to delete PVs: https://github.com/kubernetes/kubernetes/issues/18832

[2015-12-17 16:50] #18582 closed

[2015-12-17 16:54] ncdc commented on #18528
cc @kubernetes/rh-cluster-infra @smarterclayton @deads2k

[2015-12-17 17:01] stevekuznetsov opened #18834 "Pod backoff log not useful"
The logging message [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L415) leads to log lines like:

[code]

Which aren't terribly useful.

[2015-12-17 17:11] wojtek-t commented on #18831
Awesome - I'm happy to review your changes.

@kubernetes/sig-scalability @davidopp

[2015-12-17 17:11] liggitt commented on #18760
p1, since this is a regression and compatibility issue

[2015-12-17 17:22] markturansky commented on #18832
https://github.com/kubernetes/kubernetes/issues/15524

[2015-12-17 17:22] markturansky commented on #15524
This proposal will need to account for the race between the detaching controller and the controller that deletes the PV https://github.com/kubernetes/kubernetes/issues/18832

[2015-12-17 17:23] thockin commented on #18807
My point was that there's nothing here that requires to be in the core of
the system.  It's very much a policy decision that can be implemented (or
not) differently for different installations.  Rules like "if no traffic to
the service for a long time, the pod should be reclaimed" are not really
generically applicable - a Pod may be "behind" any number of Services.

Anyway, I don't see this going

[2015-12-17 17:30] mikedanese commented on #7660
I'm reasigning this to you @davidopp. It's currently a p1 but I'm not working on it.

[2015-12-17 17:31] mikedanese commented on #5755
cc @fgrzadkowski

[2015-12-17 17:34] eparis commented on #18771
Definitely make any changes to cobra. I'm not sure if we'd want a LongMd: field or just a flag to indicate if Long was markdown...

We need some way to convert md back to just plain text for `--help` but leave it as md for the md docs...

[2015-12-17 17:41] spxtr commented on #18778
Is there an alternative way to speed this up? `kubernetes-e2e-gce` has been creeping up in run time and it's passing two hours lately.

[2015-12-17 17:44] timothysc commented on #18760
@liggitt chatted with @xiang90 today, they are hoping to have a 2.2 update next week-ish.

[2015-12-17 17:51] gmarek commented on #18828
It's caused by the concurent pushes of kubemark image to GCR. The fix is to append something unique to the name of the image.

[2015-12-17 18:00] thuey commented on #13585
+1

[2015-12-17 18:16] smarterclayton commented on #18531
The injection of preferred ordering has to go with the codec though.  Today
a RESTMapping is a value object which contains a codec.  We probably need
to be able to create a codec for a particular mapping, which might mean
that something about the rest mapper interface needs to be split out (the
part that returns mappings, and the part that returns client and codec).
That's a bigger refactor though

[2015-12-17 18:20] vishh commented on #18815
The linking is important for fluentd compatibility. I can send a fix for this issue.

[2015-12-17 18:24] yifan-gu opened #18841 "rkt pods stay in pending for a long time"
For some reason, the rkt pod's state stays in `pending` for a while even it's already started and running. Needs investigation.
[code]

Afther a while
[code]

/cc @yujuhong

[2015-12-17 18:28] vishh commented on #17035
@Hui-Zhi: Can you open a separate issue for devices handling and post your design before you start working on a PR?

[2015-12-17 18:35] saad-ali commented on #18778
I looked into ways to speed things up. The bottleneck is the create/attach/detach/delete PD times, which are outside our control. And these tests need to do serial attaches/detaches in order to test those scenarios. Why don't we just move the two slow tests to the slow suite, and make the slow suite one of the suites that the merge-bot watches?

[2015-12-17 18:37] jlowdermilk commented on #18775
Looks like the issue here is the project ran out of quota for backend services.

[2015-12-17 18:50] yujuhong commented on #18841
When kubelet first syncs the pod, it should
 1. create and start all containers
 2. generate the status

It seems that for `rkt`, the containers are still not considered running at step (2). Because kubelet syncs every minute now, it'd wait until the next sync to generate the status again. We should figure out why the containers are not considered running at the time.

[2015-12-17 18:50] smarterclayton commented on #15925
This is somewhat complicated - the kubelet tends to have a few code paths that overlap :)  The kubelet, upon detecting a pod has been deleted on the api server, should have a way to stop in process pull requests (or at least signal that they are not needed) so that it acknowledges the delete immediately.

[2015-12-17 18:55] wojtek-t opened #18845 "Horizontal pod autoscaling tests are broken"
These tests are failing:

    Horizontal pod autoscaling (scale resource: CPU) [Skipped] [Autoscaling] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5

    Horizontal pod autoscaling (scale resource: CPU) [Skipped] [Autoscaling] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1

They failed first in:
http://kubekins.dls.corp.google.com/view/Critical%2

[2015-12-17 18:57] spxtr opened #18846 "Move gcloud components update calls into Jenkins job"
We're hitting occasional issues with the flock call timing out (#18579), and it clutters up e2e.sh (and other places). We should have a single Jenkins job that updates gcloud components periodically. It's tough to do this all at once, so I propose to do it like this:

- [x] Make a Jenkins job that grabs the flock and updates gcloud components.
- [x] Remove updates from `hack/jenkins/e2e.sh`. Cherr

[2015-12-17 19:00] jlowdermilk commented on #18846
Sounds reasonable. The one tricky bit about 1) is you need to update gcloud components on the jenkins master and all slaves. Just something to think about.

[2015-12-17 19:04] wojtek-t commented on #18845
@ArtfulCoder - since you're current oncall - can you please take a look?

[2015-12-17 19:10] ArtfulCoder commented on #18845
investigating.

On Thu, Dec 17, 2015 at 11:05 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2015-12-17 19:19] vishh commented on #18438
cc @timstclair for specific plans around `NodeAllocatable`

[2015-12-17 19:23] vishh commented on #16110
xref: https://github.com/docker/docker/milestones/1.9.2

On Mon, Dec 14, 2015 at 10:48 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-12-17 19:24] knobunc commented on #18802
Related to bug https://bugzilla.redhat.com/show_bug.cgi?id=1280279

[2015-12-17 19:27] ihmccreery commented on #12493
Assigning to @a-robinson as author of that test.

[2015-12-17 19:29] timstclair opened #18848 "Scheduler should use node `Allocatable` instead of `Capacity`"
We added a new field to `NodeStatus`: `Allocatable`. Allocatable represents the *schedulable* resources on a node, while capacity is the total resources on a node (including resources claimed by non-k8s workloads, such as kernel usage, container runtime, and other native processes). More details here: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/node-allocatable.md

`Allocat

[2015-12-17 19:32] timstclair commented on #18438
I just filed https://github.com/kubernetes/kubernetes/issues/18848 for using Allocatable in the scheduler. We should start using Allocatable to schedule in 1.2, but we won't enforce it on the Kubelet side until a later release.

[2015-12-17 19:34] kcraft commented on #12534
@tdeheurles This solved my problem. For some reason the setup script I downloaded assumes that the master is on localhost (or whatever the default is), and that isn't the case for me.

[2015-12-17 19:39] ihmccreery opened #18849 "Clarify INSTANCE_PREFIX and KUBE_GCE_INSTANCE_PREFIX in e2e.sh"
Right now we set `KUBE_GCE_INSTANCE_PREFIX` separately from `INSTANCE_PREFIX` (which we set to `E2E_CLUSTER_NAME`), but in `cluster/gce/config-default.sh` and `cluster/gce/config-default.sh` `INSTANCE_PREFIX` gets overwritten with `KUBE_GCE_INSTANCE_PREFIX` anyway.  We should just have `KUBE_GCE_INSTANCE_PREFIX` set as `CLUSTER_NAME` and never touch `INSTANCE_PREFIX` at all in `e2e.sh`.

cc @spxtr

[2015-12-17 19:44] ArtfulCoder commented on #18845
Am seeing the followin error in the log: Node is out of sufficient disk.

Could this be another quota issue ?

*08:10:56* Latency metrics for node
e2e-autoscaling-minion-so3z*08:10:56* Dec 17 08:10:56.281: INFO:
{Operation: Method:pod_start_latency_microseconds Quantile:0.9
Latency:10m32.051945s}*08:10:56* Dec 17 08:10:56.281: INFO:
{Operation: Method:pod_start_latency_microseconds Quantile:0.99
L

[2015-12-17 19:45] roberthbailey opened #18851 "Admission control settings don't match in gce for config-default.sh and config-test.sh"
SecurityContextDeny is [enabled by default](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L116) when we run e2e tests but as of https://github.com/kubernetes/kubernetes/pull/16986 is has been removed from the admission control plugins in [config-default.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L110).

This means that o

[2015-12-17 19:46] ihmccreery commented on #18849
xref #18852

[2015-12-17 19:48] ihmccreery commented on #18849
Assigning to @spxtr since you've expressed interest in cleaning up `e2e.sh`.

[2015-12-17 19:49] ihmccreery commented on #18849
`KUBE_GCE_INSTANCE_PREFIX` was introduced in #3056.

[2015-12-17 19:52] vishh commented on #17183
cc @a-robinson

[2015-12-17 19:53] timothysc commented on #18848
/cc @kubernetes/sig-scheduling

[2015-12-17 19:53] a-robinson commented on #12493
Wow, I think I wrote that test in a different lifetime...

Are there any flake logs you can point me to?

[2015-12-17 19:55] caesarxuchao commented on #18762
Agree, I don't have concrete plan though. I personally got bitten by missing `types.generated.go` twice. It just decodes everything to empty without giving an error message.

If we can reduce the steps involved adding a group, people will have much less chance missing a step. The most obvious improvement is keeping the groups in a central place and let all 5 shell scripts refer to it.

[2015-12-17 19:59] #18705 closed

[2015-12-17 20:18] yujuhong commented on #18796
I see the same spam in my log, and the apiserver was working fine. The code seems to log [either way] and for every request (https://github.com/kubernetes/kubernetes/blob/76e6281168c40521a45aba813c39702bcede3bdf/pkg/client/unversioned/restclient.go#L99).

/cc @jayunit100 @krousey

[2015-12-17 20:31] tmc commented on #14238
This can easily render a master unresponsive. Should the default aws provisioning scripts enable a swap file?

[2015-12-17 20:35] markturansky commented on #14217
Can it be as simple as moving all the provisioning/recycling related stuff to provisioning.go within the existing package structure?  It would just be cut and paste from one file to another. No import changes anywhere.

[code]

[2015-12-17 20:36] ArtfulCoder commented on #18845
I could reproduce this in a manual test run as well on my own e2e cluster.

[2015-12-17 20:41] davidopp opened #18853 "Prevent evicted pods from being scheduled back onto the same node"
Add something like
`AvoidPreviousNode bool` to `api.DeleteOptions`

Semantics is: if the pod is managed by a replication controller, scheduler will try to put the replacement pod on a node different from the one where the pod you are deleting was previously running. (If the pod is not managed by a replication controller, then the option has no effect.)

Proposed implementation is
- add `AvoidPrevi

[2015-12-17 20:51] jayunit100 commented on #18796
Yes this is excessive, i can fix this.

[2015-12-17 20:51] ArtfulCoder commented on #18845
I see the following error that seems relevant:

Dec 17 12:42:11.923: INFO: event for rc: {horizontal-pod-autoscaler } FailedGetMetrics: failed to get CPU consumption and request: failed to unmarshall heapster response: invalid character 'h' in literal true (expecting 'r')
Dec 17 12:42:11.923: INFO: event for rc: {horizontal-pod-autoscaler } FailedComputeReplicas: failed to get cpu utilization: fai

[2015-12-17 20:52] krousey commented on #18537
@dhawal55 could you report the output of kubectl version? It might help me try to reproduce this.

[2015-12-17 20:53] ArtfulCoder commented on #18845
The outofdisk errors seem to occur even on successful runs. (so it should not be causing the failure)

[2015-12-17 21:02] jayunit100 commented on #18796
One thing im noticing, i think these contiguous logs happen at startup when a bunch of clients are made.
Nevertheless can be turned down I think.

[2015-12-17 21:11] #17242 closed

[2015-12-17 21:23] wojtek-t commented on #18845
It seems like a cleear regression - it was constantly passing and now it's constantly failing. It seems that it must have been caused by one of the PRs merged around that time...

[2015-12-17 21:25] ihmccreery opened #18857 "Integration flake: runReplicationControllerTest flake"
Log here: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/324de120b7f3152cf68a61aed66d02ca9f63433f/kubernetes-pull-test-unit-integration/6475/

[code]

[2015-12-17 21:26] nikhiljindal commented on #18788
@thockin Thanks for the quick fix!
Can you document the steps somewhere.
We will have to do this everytime we push docs for a new release.

I am trying to document all the steps in pushing a new release https://github.com/kubernetes/kubernetes/pull/17983

[2015-12-17 21:34] krousey commented on #18537
FWIW I have not been able to reproduce this after several attempts. Here's the versions I ran:

[code]

[2015-12-17 21:37] spxtr commented on #18846
Also on PR Jenkins.

[2015-12-17 21:45] dchen1107 commented on #18815
@aclisp Thanks for reporting the issue.

[2015-12-17 21:52] chrislovecnm commented on #15524
@saad-ali how is this progressing??

[2015-12-17 21:57] ArtfulCoder commented on #18845
The other issue in this failure seems to be that the HPA cant figure out cpu resource

30s         0s         2         rc                            HorizontalPodAutoscaler                         Warning   FailedGetMetrics        {horizontal-pod-autoscaler }               failed to get CPU consumption and request: metrics obtained for 0/1 of pods
30s         0s         2         rc

[2015-12-17 21:57] ArtfulCoder commented on #18845
@vishh has there been a recent change in heapster whereby HPA cant get cpu consumption ?

[2015-12-17 22:09] ArtfulCoder commented on #18845
@deads2k I think you made changes in this area recently. It seems that HPA's ScaleRef.Kind might not be set correctly. you can bring up a cluster with the latest changes and try to create a rc and hpa and see if it scales. it won't

HPA.yaml
[code]

[2015-12-17 22:09] dchen1107 commented on #18787
@ncdc I agreed we should enforce the image access / usage after the image is pulled, and haven't put much thoughts on how to achieve that yet.

But I don't think option 1 is the right approach here because all cons you listed there, especially the first one: Overrides user-specified intent in image pull policy. Assuming the user specify the pullPolicy as Never or IfNotPresent, they expect when the

[2015-12-17 22:10] ixdy commented on #18845
#18442 went in when this started failing and looks suspicious, but I don't know for sure.

[2015-12-17 22:13] ixdy commented on #18845
side note regarding `OutOfDisk`: if you read carefully, it is indicating that `OutOfDisk` is false, though it's not super clear from the message:
[code]

[2015-12-17 22:20] caesarxuchao commented on #18845
Perhaps it's this line: https://github.com/kubernetes/kubernetes/pull/18442/files#diff-14e587756a43b61fca9ee19d8defb927R55. I'm verifying it now.

[2015-12-17 22:23] ixdy commented on #18851
I'm not really sure what this setting does - should we just remove it for e2e tests?

[2015-12-17 22:25] ArtfulCoder commented on #18845
yeah, I went into the historical logs and saw that those were present in
succesful runs as well.

On Thu, Dec 17, 2015 at 2:20 PM, Jeff Grafton <notifications@github.com>
wrote:

[2015-12-17 22:29] vishh commented on #13048
@roberthbailey: What if these system pods go pending after triggering a re-schedule event? There is currently no means to define priority.

[2015-12-17 22:30] dchen1107 commented on #18770
The issue is filed based on several offline design discussions including several attempts of improving Kubelet Metrics API made by @timstclair (#15691, #15862, #16621, #17708, #18544, ...).

cc/ @erictune

[2015-12-17 22:30] nikhiljindal opened #18861 "Update hack/cherry_pick_pull.sh to run build/versionize-docs.sh"
We need to run build/versionize-docs.sh while cherrypicking docs changes to release branch.
The script for cutting the release runs versionize-docs but cherrypick script does not.

I am not sure if we can edit users commit that is being cherrypicked, we can maybe add another commit to the cherrypick PR?

cc @ihmccreery @zmerlynn @caesarxuchao

[2015-12-17 22:33] dchen1107 commented on #18769
please see #18770

[2015-12-17 22:36] ihmccreery commented on #17805
Ping @bprashanth.  Shouldn't this issue be `kind/flake`?  And shouldn't the test under consideration be in the `FLAKY` suite?  Right now, there's a test in `PARALLEL_SKIP` that references this issue.

[2015-12-17 22:43] ArtfulCoder commented on #18845
@caesarxuchao will take a look since he has context.
I will try to rollback the change locally and see if it fixes the problem.

[2015-12-17 22:44] dchen1107 commented on #18769
@huang195 From the high-level, we are convergent. We want to refactory cAdvisor so that Kubelet can only collect those core metrics used by our core control loops through cAdvisor library. The metrics (including custom metrics) are used for monitoring and other non-core control loops can be collected through a different pipeline, including a separate cAdvisor pod.

[2015-12-17 22:46] dchen1107 commented on #18744
@saad-ali please triage. Thanks!

[2015-12-17 22:50] saad-ali commented on #18744
@rootfs Can you please take a look at this.

[2015-12-17 22:56] dchen1107 commented on #18845
Quickly scan through, and think the root cause is:

Dec 17 12:42:11.923: INFO: event for rc: {horizontal-pod-autoscaler } FailedGetMetrics: failed to get CPU consumption and request: failed to unmarshall heapster response: invalid character 'h' in literal true (expecting 'r')

Agreed with @ixdy OutOfDisk is not the issue here.

[2015-12-17 23:01] childsb commented on #12399
Request change to P1 issue.  This is a security hole and a blocker for OpenShift.

Currently if a single node is compromised this issue exposes the entire cluster.

[2015-12-17 23:07] childsb commented on #15524
OpenShift Online is blocked on an a security hole related to this re-design : https://github.com/kubernetes/kubernetes/issues/12399

How can we help move this along?  Is there any chance for 1.2?

[2015-12-17 23:10] yujuhong commented on #18796
I see the error message more often in the kubelet.log.
[code]
IIUC, the [comment] (https://github.com/kubernetes/kubernetes/blob/76e6281168c40521a45aba813c39702bcede3bdf/pkg/client/unversioned/restclient.go#L114) seems to suggest that the function will be called for every request.

[2015-12-17 23:23] jayunit100 commented on #18796
Since there are many usage patterns, I think as suggested by krousey we can just delete it.  That is simpler.  Maybe another time we can create an event or something.

[2015-12-17 23:23] caesarxuchao commented on #18845
It's actually this line: https://github.com/kubernetes/kubernetes/blame/master/plugin/pkg/admission/namespace/autoprovision/admission.go#L48

@ArtfulCoder, I think rollback #18442 will fix the problem "no kind {extensions replicationcontrollers} has been defined".

I'm afraind the "cannot get CPU usage" is another problem we need to fix.

[2015-12-17 23:34] ihmccreery opened #18866 "Kubectl should warn if master and nodes are more than 1 version skewed"
Per our [versioning policy](https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md).

[2015-12-17 23:41] dhawal55 commented on #18537
v1.1.2
On Dec 17, 2015 12:54 PM, "krousey" <notifications@github.com> wrote:

[2015-12-17 23:44] caesarxuchao commented on #18845
Here's the detailed explanation of the `"no kind {extensions replicationcontrollers} has been defined".` error.

The hpa controller calls the client library to update the scale [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L143), client sends a request via the [ExtensionsClient](https://github.com/kubernetes/kubernetes/blob/master/pkg/client

[2015-12-17 23:46] vishh opened #18868 "Issue with kubelet stats API"

[2015-12-17 23:58] vishh commented on #18845
AFAIK no changes have happened to either HPA or the heapster APIs recently.

[2015-12-18 00:06] ArtfulCoder commented on #18845
Reverting the PR + working around the cpuUtilization function fixes the problem...
I hard-coded cpuutilization in the func below to verify that the HPA works...

func (h *HeapsterMetricsClient) GetCPUUtilization(namespace string, selector map[string]string) (*int, time.Time, error) {
        consumption, request, timestamp, err := h.GetResourceConsumptionAndRequest(api.ResourceCPU, namespace, sele

[2015-12-18 00:07] ArtfulCoder commented on #18845
I will reintroduce the changes of 18442 and keep the cpuUtil func change and see if that still works...

[2015-12-18 00:13] Fei-Guang opened #18871 "cluster/ubuntu/util.sh: line 271: KUBE_CONFIG_FILE: unbound variable during installing addon on on Bare-metal ubuntu"
ubuntu@k8s:~/kubernetes/cluster/ubuntu$ ./deployAddons.sh
Creating kube-system namespace...
./../../cluster/../cluster/../cluster/ubuntu/util.sh: line 271: KUBE_CONFIG_FILE: unbound variable
./../../cluster/../cluster/../cluster/ubuntu/util.sh: line 271: KUBE_CONFIG_FILE: unbound variable

[2015-12-18 00:13] Fei-Guang commented on #18871
ubuntu@k8s:~/kubernetes/cluster/ubuntu$ export KUBE_CONFIG_FILE=config-test.sh
ubuntu@k8s:~/kubernetes/cluster/ubuntu$ ./deployAddons.sh
Creating kube-system namespace...
namespace "kube-system" created
The namespace 'kube-system' is successfully created.

Deploying DNS on Kubernetes
replicationcontroller "kube-dns-v10" created
service "kube-dns" created
Kube-dns rc and service is successfully dep

[2015-12-18 00:15] HaiyangDING commented on #18853
Thanks for filing up the issue, I'll start right away.

[2015-12-18 00:17] pbx0 opened #18872 "Proposal for kubelet version reconciliation utility"
Currently, CoreOS, is planning to ship the kubelet via a container to avoid having the kubelet version pinned to our OS release. We 'd like the kubelet version be based on the api-server version or user specified.

This is being implemented as a service file that runs a utility to determine, in a best-effort approach, the latest safe version of a kubelet to run by attempting to contact an api-serv

[2015-12-18 00:17] HaiyangDING commented on #18831
Great work, I am expecting your PR!

[2015-12-18 00:22] erictune commented on #17035
Yes, please open a issue before you get to deep into coding, @Hui-Zhi

[2015-12-18 00:23] LongTu commented on #17331
@vishh Hi, I was trying to work on this issue.
1. Do you know what is the json schema of disk usage information? Is it like: struct {nodeName string, usage uint64}? May I put it in /pkg/kubelet/cadvisor/types.go?
2. For the  (/apis/metrics/v1beta1) to expose disk usage information, Is there any document/examples to do it? (it seems that the src code already have pkg/apis/componentconfig/v1alpha1,

[2015-12-18 00:26] erictune commented on #17035
@thockin
I agree you can't have separate resources which count overlapping sets of actual things.

In https://github.com/kubernetes/kubernetes/issues/17035#issuecomment-155526469 I suggested a hacky workaround that gets you part of the way there: a resource for the superset of things, and labels to prefer/requires a subset.

[2015-12-18 00:27] ArtfulCoder commented on #18845
So we do need to revert 18442.
With #18442 and my cpuUtil change, we are back to this error

0s          0s         1         rc                            HorizontalPodAutoscaler                         Warning   FailedRescale           {horizontal-pod-autoscaler }               New size: 3; error: Internal error occurred: no kind {extensions  replicationcontrollers} has been defined; known resou

[2015-12-18 00:28] ArtfulCoder commented on #18845
Essentially, we have two issues going on
1. One was caused by #18442
2. The other is that metrics_client.go's GetCPUUtilization can't parse cpu util from heapster.

[2015-12-18 00:56] HardySimpson commented on #18754
@brendandburns  I get it.
what do you mean by ?

[2015-12-18 01:02] rootfs commented on #18744
@saad-ali this needs backport, is it fine to cherry pick https://github.com/kubernetes/kubernetes/pull/15562?

[2015-12-18 01:10] saad-ali commented on #18744
@rootfs Yes, let's get #15562 cherry picked to the 1.1 release branch. Let me know if you need help with creating the cherry pick.

[2015-12-18 01:15] ncdc commented on #18787
@dchen1107 if you really want to ensure your running images don't change, you should be referring to them by their content-addressable ID. In OpenShift, we have ImageStream resources which store metadata about tags and images, and our resources for performing builds and deployments use the information in the image streams to translate a pull spec such as `foo/bar:latest` into `foo/bar@sha256:...`

[2015-12-18 01:23] rootfs commented on #18744
@saad-ali cool, backport proposed

[2015-12-18 01:32] ArtfulCoder commented on #18845
Reverted 18442 (done)
Seems to have fixed e2e as well (in my manual run).

[2015-12-18 02:16] huang195 commented on #18769
@dchen1107 I will take a look at the related issues you mentioned in #18770, and once I have more clarity on a generic interface of the core and non-core metrics, I will post it here to get more feedbacks before proceeding further.

One clarification question: if we're going forward with collecting the non-core metrics using a separate cadvisor pod, how will the metrics information be exposed to c

[2015-12-18 02:27] markturansky commented on #14217
@pmorie see above comment

[2015-12-18 02:37] markturansky commented on #18830
This occurs because the claim will not be Bound until the volume is fully provisioned.  The provisioner updates the PV w/ "provisioning completed" annotation, but no update of the PVC occurs.  The next sync period of the binder correctly advances the claim to Bound, but it is a better user experience to not wait.

I added an explicit update of the claim after the volume is updated.  See #18877.

[2015-12-18 03:01] janetkuo commented on #18558
@kargakis thanks! Fixing it in #18878.

[2015-12-18 03:02] vishh commented on #17331
cc @pwittrock

[2015-12-18 03:23] HardySimpson commented on #18831
Is the change happens in etcd or in the memory of sheduler?

[2015-12-18 03:47] streamnsight commented on #8441
having the same problem: how did you resolve this?

[2015-12-18 04:30] janetkuo opened #18879 "e2e test failure: Build step 'Set build status on GitHub commit' marked build as failure"
Recent 5 e2e test (#21196~21199, 21201) failed even though tests are passed.
[code]

cc @ixdy @quinton-hoole @k8s-oncall

[2015-12-18 04:40] ixdy commented on #18879
Apparently the latest version of the GitHub API Jenkins plugin (which I just upgraded tonight) is broken. Good to know!

Downgrading back to the previous version.

[2015-12-18 04:42] ixdy commented on #18879
https://issues.jenkins-ci.org/browse/JENKINS-32132 is the relevant bug.

[2015-12-18 04:43] ixdy commented on #18879
Should be fixed on PR Jenkins.

[2015-12-18 04:43] #18879 closed

[2015-12-18 04:51] roberthbailey commented on #13048
True, that would be an issue.

[2015-12-18 04:54] roberthbailey commented on #18851
Me neither, but the change to the GCE environment hasn't been mirrored anywhere else that I can see. This admission control is still enabled in [AWS](https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/config-default.sh#L129), [Vagrant](https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/config-default.sh#L56), [Kubemark](https://github.com/kubernetes/kubernetes/blob/

[2015-12-18 05:53] ixdy commented on #18879
I apparently reverted the wrong plugin. Let's try again...

[2015-12-18 06:31] ixdy commented on #18879
Actually fixed: https://github.com/kubernetes/kubernetes/pull/17398#issuecomment-165689090

[2015-12-18 06:32] janetkuo commented on #18879
:+1: Thanks!

[2015-12-18 06:53] Hui-Zhi commented on #17035
I'll open a separate issue for it, also will include the design next week earlier.

[2015-12-18 07:16] wojtek-t commented on #18831
I don't think we should change anything in etcd - this should be scheduler change.

[2015-12-18 08:14] jainvipin commented on #18670
Useful feature to have.
@ravigadde - I use out of band mechanism to avoid this issue...

[2015-12-18 08:34] davidopp commented on #18831
I think the caching you're proposing doesn't cause any new problems to multiple-scheduler configuration (in the current code without a cache, with multiple schedulers the new pod can be bound by scheduler A in between scheduler B doing List and doing work on the result), but it's worth thinking about.

ref/ #18745

[2015-12-18 08:35] davidopp commented on #18831
Actually it's not the same as #18745; #18745 is about multiple schedulers scheduling the same pod at the same time, but my concern here is multiple scheduler scheduling different pods onto the same node at the same time. Kubelet will detect conflict anyway, so it is not a correctness problem, just maybe an increase in conflicts.

[2015-12-18 08:49] Bretto opened #18884 "Guestbook vagrant EXTERNAL_IP issue"
Sorry for the newbie question but could someone explain how to setup the external Ip on the  'frontend' service. I know that Vagrant don't support "type: LoadBalancer" and I don't know how to expose an Ip to my host. Thanks

[2015-12-18 08:52] ravigadde commented on #18670
@jainvipin The goal is to use the standard interface for pod creation, which can be accomplished by providing flexibility in the pod spec.

[2015-12-18 09:06] jaywayjayway opened #18885 "field keyring must be set when I create PV in kubernetes v.1.1??"
v.1.1,when I create PV(Ceph  backend) , it told me that   field keyring is required.

[code]
before v1.1,it worked well with  ` secretRef`.

## Now , field `keyring ` must be set ???

[2015-12-18 09:48] mqliang commented on #17130
I sent a PR to add namespace index for Replication. Benchmark shows it can improve the look up efficiency about 2 times with 100 namespaces( each with 10 RCs each with 10 pods), and about 20 times with 1000 namespaces( each with 10 RCs each with 10 pods).

If it look good, I am glad to send a PR to add namespace index for Job & DaemonSet

[2015-12-18 09:52] wojtek-t commented on #18701
I've run it few times, and it seems that #18635 is indeed solving this issue (there seem to be another one, which I'm looking into right now).
However, for this one, we are waiting for #18635 to be merged.

[2015-12-18 10:29] steveeJ commented on #18776
@vishh the rkt feature that @yifan-gu has linked doesn't use a new mount namespace, just chroot.
I'm interested in learning about the second problem you mention, *introducing mounts into containers*. What parts of the host does the kubelet need to see, and is the chroot possibly too limiting for this?

[2015-12-18 11:15] mqliang commented on #3024
Is there anybody working on this now? If not, I'd like to volunteer myself to do this work.

[2015-12-18 11:33] wojtek-t opened #18891 "e2e flake: Kubectl client Kubectl run job should create a job from an image when restart is Never [Conformance]"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/21242/#

[2015-12-18 13:32] wojtek-t commented on #18701
Seems to be fixed by #18635

[2015-12-18 13:32] #18701 closed

[2015-12-18 13:34] jayunit100 opened #18892 "Further evaluate client backoffs for Rest clients in chaos scenarios."
The new clients exp. backoff functionality is now merged, but , needs to be evaluated on a cluster, to make sure that (when configured) it is actually backing off the way we expect it to.
- Measure how many requests are created when etcd goes down (thundering herd) without the exponential backoff policy.
- Does the "thundering herd" of requests back down when we trigger a backoff policy w/ > 0 sec

[2015-12-18 13:35] deads2k commented on #18845
@ixdy @ArtfulCoder Is there a way to run the extended test that failed before merge when I update this?  In OpenShift, we can tag a test for `[extended:test-bucket-you-want-run]`.

[2015-12-18 14:10] ncdc commented on #18787
cc @smarterclayton

[2015-12-18 14:20] timothysc commented on #11962
@wojtek-t we can finally close this one now.

[2015-12-18 14:21] smarterclayton commented on #18787
Our concern is that this is seen as a security risk in regular production use of Kubernetes for certain organizations that have what they consider secret images.   We're looking for the most orthogonal solution that gets them over the hump so they aren't blocked by this.  There definitely needs to be a real solution, but I think pull always is similar in many ways to our other kubelet policies.

[2015-12-18 14:22] ncdc commented on #18787
@dchen1107 would you at least accept a PR that adds a flag to enable pull always, defaulted to false?

[2015-12-18 14:27] wojtek-t commented on #11962
I think there is two more actions to do here
- replace go-etcd with new etcd client in cluster/addons/dns/kube2sky
- removed go-etcd dependency completely.

[2015-12-18 14:28] timothysc commented on #11962
There is a separate issue for that.  #18791

[2015-12-18 14:29] wojtek-t commented on #11962
OK - then I guess we can close this one.

[2015-12-18 14:29] #11962 closed

[2015-12-18 14:30] wojtek-t commented on #18791
Once this is done, we should remove go-etcd dependency from Godeps.

[2015-12-18 16:10] hongchaodeng commented on #18831
Hi @davidopp , Thanks for your comments.

The concern exist today without my changes. The optimistic scheduling will bring conflicts in one manner or the other. I'm not trying to make a tradeoff here. The changes proposed is just trying to make the existing cache more efficient.

[2015-12-18 16:40] ArtfulCoder commented on #18845
we dont have such a tag though there is an open issue to introduce custom test tags.
for now, you can just manually verify that hpa works when you reintroduce this PR.
You can also ask one of us (with gce e2e access) to run that test manually..

[2015-12-18 16:41] kargakis commented on #14516
Should "PUT /deployments/foo/instantiate" work only on inert or in every deployment? I would guess the latter.

[2015-12-18 17:02] marun commented on #18802
cc: @thockin

[2015-12-18 17:17] ihmccreery commented on #13062
See @deads2k's https://github.com/kubernetes/kubernetes/issues/18845#issuecomment-165780104, too, about tagging tests for test before merge.

[2015-12-18 17:24] mephux commented on #18833
any update on this?

[2015-12-18 17:26] thockin commented on #18802
Won't this reject all pod-pod traffic and node-pod traffic (kube-proxy
userspace)?

On Fri, Dec 18, 2015 at 9:03 AM, Maru Newby <notifications@github.com>
wrote:

[2015-12-18 17:31] thockin commented on #18833
Aren't we locked to a commit number?  Isn't that the point of godep?
Changes at head should not break us.

On Thu, Dec 17, 2015 at 8:20 AM, Huamin Chen <notifications@github.com>
wrote:

[2015-12-18 17:35] knobunc commented on #18802
There are other rules that aren't shown that allow traffic to hit the vxlan port (for pod-pod):
  ACCEPT     udp  --  anywhere             anywhere             multiport dports vxlan /* 001 vxlan incoming */
[Which is a little scary, we should probably filter that by nodes in the cluster]

And to allow local traffic from the node to the pod IPs:
ACCEPT     all  --  10.1.0.0/16          anywhere
AC

[2015-12-18 17:44] smarterclayton commented on #14516
I believe every is correct - It would simply be a no-op if the deployment
was not inert (or if the deployment already fired)

On Fri, Dec 18, 2015 at 11:42 AM, Michail Kargakis <notifications@github.com

[2015-12-18 17:55] ihmccreery opened #18895 "runServiceTest flaky on release-1.1"
Failing with

[code]

We've seen this pain before: #6045, #14680.

I'll up the timeout in a PR shortly.

[2015-12-18 18:10] smarterclayton commented on #18255
Issue was merged

[2015-12-18 18:10] #18255 closed

[2015-12-18 18:18] vishh commented on #18776
@steveeJ: chroots are not an issue for kubelet. Kubelet might have to propagate mounts from the host mount ns into that of the user container.

[2015-12-18 18:19] ArtfulCoder commented on #18851
we should not have securitycontextdeny in our e2e tests.
I thought we dont have it in e2e tests because I have a e2e test that expilictly ensures that privileged pods that have security context are allowed
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/privileged.go#L117

[2015-12-18 18:26] evanj opened #18898 "Corrupt TCP packets can be delivered to applications due to a veth driver bug"
*Summary*: when packets are routed from hardware to a veth device (like Kubernetes does), the veth device marks them as "checksum good". If those packets are corrupt, applications inside containers will receive corrupt data, instead of discarding them.

This is caused a [bug in the Linux kernel we are trying to get patched](http://thread.gmane.org/gmane.linux.kernel/2111961). We were [impacted by

[2015-12-18 18:35] hongchaodeng commented on #18255
@smarterclayton
#18534 was way too huge. Can you help explain how it avoids expensive reflect operations in `MetaNamespaceKeyFunc`.

[2015-12-18 18:41] krousey commented on #18537
@dhawal55 `kubectl version` should output both a client and server version, along with commit hashes like my comment above.

[2015-12-18 18:57] deads2k commented on #18845
@caesarxuchao Thanks for taking the time.  This write up was extremely useful.

[2015-12-18 18:57] roberthbailey commented on #18851
It sounds like we first need to find out why that e2e test is passing, cause it to fail, and then fix the admission controllers so that it passes again. Likewise on GKE.

[2015-12-18 19:11] ihmccreery commented on #13062
Closing in favor of #10548.

[2015-12-18 19:13] Logician commented on #13997
I have a cluster running t2.small instances (with 2 gb of memory opposed to the 1gb of t2.micro) already up for over 2 full days without issues.

[2015-12-18 19:14] evanj commented on #18898
Upon further consideration, since I think Kubernetes relies on Docker to create containers (I think?), this probably needs to be fixed in Docker itself? I filed https://github.com/docker/docker/issues/18776 ; I'd love help getting someone's attention on it. Thanks!

[2015-12-18 19:15] ArtfulCoder commented on #18851
My suspicion is that the cluster does not have the SecurityContextDeny...

On Fri, Dec 18, 2015 at 11:01 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-12-18 19:22] ArtfulCoder commented on #18791
something similar to https://github.com/kubernetes/kubernetes/pull/18635/files

[2015-12-18 19:27] erictune commented on #16779
I don't want to require putting a special field on the `PodSpec`.  That requires every pod creator to remember to set the field, rather than just the person who sets up the service account.

If we put a `doNotMountApiToken` flag on the service account, that does not need to affect `imagePullSecrets`, right?

Are you using the api token as an image registry credential in OpenShift?

Also, as long a

[2015-12-18 19:27] jlowdermilk commented on #15052
These tests are now correctly skipped for GKE.

[2015-12-18 19:49] vishh commented on #18787
Is updating user configs to be `PullAlways` an option here?
Reaching out the registry directly will help with other use cases as well like image size feasibility checks. So I'm in favor of that approach.

[2015-12-18 19:50] ncdc commented on #18787
@vishh updating in what way? As in hoping the users will do it themselves? Or via an admission controller?

[2015-12-18 19:51] vishh commented on #18769
@huang195: Can we discuss the impact of #18870 in that issue itself?

[2015-12-18 19:52] vishh commented on #18787
Ideally, users update their configs. It that is not an option, may be via a
custom admission controller?

On Fri, Dec 18, 2015 at 11:51 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-12-18 19:55] ncdc commented on #18787
Yeah, we can't rely on users, sadly. If a flag is unpalatable, would you all take this as an admission controller (off by default)?

[2015-12-18 19:57] pmorie commented on #14516
@ironcladlou

Now it's obvious.  lol.

[2015-12-18 19:59] vishh commented on #18787
Personally, admission controller seems to be the least *hacky* solution. So
SGTM. cc @davidopp

On Fri, Dec 18, 2015 at 11:56 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-12-18 20:19] brendandburns commented on #18898
@evanj yes, I think that this is exclusively a Docker bug.  We're happy to work around it in Kubernetes, but getting it fixed in Docker and in the kernel seems like the right solution.

[2015-12-18 20:20] smarterclayton commented on #18787
Is having Kubelet policy considered hacky?  What's the difference
between this and saying whether the kubelet accepts privileged pods?

[2015-12-18 20:26] madhusudancs commented on #3024
@mqliang I am working on it. You can follow the progress here - https://github.com/madhusudancs/kubernetes/commits/deployment-pod-selector I haven't pushed my latest changes yet. I will do so soon. I am fixing up e2e tests for Deployments.

[2015-12-18 20:28] vishh commented on #18787
@smarterclayton: By changing the config, we are not overriding the API. That was the rationale.

[2015-12-18 20:30] pmorie opened #18907 "Codecgen diff in master"
I get a diff when I run hack/update-codecgen in master, and the validation script fails it.  That seems wrong.

Changed files afterward:

[code]

@ncdc has been able to reproduce something similar, but not exactly equivalent.

I'm running go 1.5.1 on Fedora 22

[2015-12-18 20:30] smarterclayton commented on #18255
Instead of reflection to look up name and namespace, we use an
interface (a fast path) that allows direct field access.  That makes
cache key construction require no reflection.

[2015-12-18 20:51] ncdc commented on #18907
I just get the 1st 2 files listed above

[2015-12-18 21:23] pmorie commented on #18907
I've updated to the latest godep version and rebuilt from latest master, same result.

[2015-12-18 21:30] dvohra commented on #17215
Same issue with the mysql Docker image.

ubuntu@ip-172-30-1-200:~$ kubectl describe pod mysql-6a6hl
Name:				mysql-6a6hl
Namespace:			default
Image(s):			mysql
Node:				127.0.0.1/127.0.0.1
Labels:				app=mysql
Status:				Running
Reason:
Message:
IP:				172.17.0.3
Replication Controllers:	mysql (2/2 replicas created)
Containers:
  mysql:
    Image:		mysql
    State:		Running
      Started:		Fri, 18

[2015-12-18 21:37] timothysc commented on #18791
@ArtfulCoder yes.
xref: https://godoc.org/github.com/coreos/etcd/client

[2015-12-18 21:44] #14304 closed

[2015-12-18 21:45] pmorie commented on #18907
I downgraded to golang 1.4.2, rebuilt stdlib, clean build, regen, and I get no diffs.  So, seems like this points to the output of codecgen being different under golang 1.4 and 1.5.

[2015-12-18 21:47] erictune commented on #17549
Okay, the names are:
- "Request Authorization", which uses non-body aspects of the request (user from headers, path components of the URL).
- "Field Authorization", which uses fields of the Json from the body

[2015-12-18 21:48] pmorie commented on #18907
Okay, seems like this is not an issue, since we don't support 1.5.  I think perhaps we should have codecgen bail out if you're running under 1.5 -- any thoughts about that?

[2015-12-18 21:49] luxas commented on #18230
Related to #15577

[2015-12-18 21:54] luxas commented on #13904
This could probably be closed.
Isn't it possible to just run `kubelet` with `--config=/etc/kubernetes/manifests-multi`?

[2015-12-18 21:57] evanj commented on #18898
Sounds reasonable to me. Apologies for the spam, but I'd love help getting the right people involved in Docker and/or the kernel to actually pay attention for this. Thanks! Marking as closed.

[2015-12-18 21:57] #18898 closed

[2015-12-18 22:01] luxas commented on #8711
Hasn't this been fixed now? Maybe it could get closed.

[2015-12-18 22:05] luxas commented on #5755
This would be great now when we're heading for official ARM support #17981

[2015-12-18 22:11] smil2k opened #18911 "Usage of nss-switch for kubernates service name resolution"
Hi All,

I'm just wondering whether anybody toyed with the idea already to use nss-switch to provide the DNS records for the services?

It seems to me that running a DNS server internally and updating / configuring it everywhere seems to be a bigger job than creating s small NSS hosts backend which connects kubeproxy and asks for the service Ip.

What do you think?

Cheers,

Tamas

[2015-12-18 22:11] brendandburns commented on #18907
Yeah, I saw this too, and it seems to change Linux vs OS X also.  This makes me grumpy, I assume it's something to do with the random generator we're using?  We should probably switch to some sort of consistent random number/symbol generator.

--brendan

[2015-12-18 22:16] pmorie commented on #18907
@brendandburns It's a killer if you're on a stack that happens to not play nice

[2015-12-18 22:19] pmorie commented on #18907
omg.  I am now seeing the same behavior under go 1.4...

[2015-12-18 22:20] #17435 closed

[2015-12-18 22:20] brendandburns commented on #17275
I just built a new cassandra image with some bug fixes.  Can you re-check with `gcr.io/google_containers/cassandra:v7`

thanks

[2015-12-18 22:42] jayunit100 commented on #18796
just fyi, @yujuhong PR available to remove these 2 logs if you or anyone else can quickly glance it over .

[2015-12-18 22:50] erictune commented on #18007
I'll LGTM `kubectl rsync` if someone upstreams it.

On Tue, Dec 15, 2015 at 7:25 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-12-18 22:56] erictune commented on #18342
turns out I had not deleted the pods.

[2015-12-18 22:57] huang195 commented on #18769
Sure, @vishh. Let me post my question there

[2015-12-18 22:57] huang195 commented on #18770
if we're going forward with collecting the non-core metrics using a separate cadvisor pod, how will the metrics information be exposed to collectors such as heapster? Will kubelet provide a directory service that helps heapster find where cadvisor pod can be accessed or will kubelet act as a middle-man (similar to the way the code works today) that gets metrics from cadvisor and servicing them out

[2015-12-18 23:04] vishh commented on #18770
Heapster will have to get metrics from cAdvisor directly. Heapster can
query the IP:Port information for all the cAdvisor's in the
cluster(essentially one per node), and can collect metrics using cAdvisor's
IP directly.

On Fri, Dec 18, 2015 at 2:58 PM, Hai Huang <notifications@github.com> wrote:

[2015-12-18 23:05] erictune opened #18912 "Update secret docs to use `kubectl create secret`"
Particularly example to use `kubectl create secret docker-registry` to make an imagePullSecret.

This was added in #16028.

[2015-12-18 23:06] jimmidyson commented on #18770
So are you expecting cadvisor pod to be a daemon set?

[2015-12-18 23:12] ixdy opened #18913 "data race in k8s.io/kubernetes/pkg/storage/etcd"
Unit tests are pretty consistently (but not 100%) failing with

[code]

Probably related to the Go 1.5.1 effort? @mikedanese @kubernetes/goog-testing

[2015-12-18 23:16] ixdy commented on #18913
#18635 is suspiciously timed.

@wojtek-t @timothysc @k8s-oncall

[2015-12-18 23:18] smarterclayton commented on #18007
It's a lot of code :). But it does seem to work well across all the
major platforms.

[2015-12-18 23:20] ixdy opened #18914 "TestWatchEtcdError fairly consistently timing out"
Not 100%, but it's happening frequently enough to block merges

[code]

Unclear if related to #18913. #18635 makes me highly suspicious - looks like the failures started right around when it was merged.

@kubernetes/goog-testing @k8s-oncall @wojtek-t @timothysc @mikedanese

[2015-12-18 23:26] vishh commented on #18770
Yes

On Fri, Dec 18, 2015 at 3:07 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-12-18 23:29] timothysc commented on #18914
@ixdy What time did the UT's start failing?   I'm guessing it was after the 1.5 update.

[2015-12-18 23:40] #16561 closed

[2015-12-18 23:41] timothysc commented on #18914
@ixdy that test was originally disabled b/c of flakes that we seen and re-enabled on client update b/c we had not seen the flakes.  I submitted a PR to re-disable..

[2015-12-18 23:42] timothysc commented on #18913
Data-race is likely due to 1.5

[2015-12-18 23:45] kevinsimper commented on #15940
@activeshadow I am also reading up on this and when exposing a replicationController through a service, then it will be load-balanced inside Kubernetes, but you would still need to do things like TLS termination.

[2015-12-18 23:46] ixdy commented on #18914
The first instance of this test timing out occurred in kubernetes-test-go build 4751, which started at 5:59am PST this morning. This was one build after #18635 was merged, but well before #13838 was merged.

[2015-12-18 23:51] ixdy commented on #18913
Yeah, first failure I see in kubernetes-test-go is build 4765, which is the first build including #13838 (bumping up Go version).

[2015-12-18 23:53] dklesev commented on #11684
+1

[2015-12-19 00:24] dhawal55 commented on #18537
weird..it seems to work now. Earlier I was getting the timed out error every time.

[2015-12-19 00:24] #18537 closed

[2015-12-19 00:29] timothysc commented on #18913
I think I have a quick fix for this.

[2015-12-19 00:38] ghodss opened #18920 "Metrics do not get registered correctly for 4xx and 5xx HTTP requests"
Repro:

1. Start up a kube cluster.
2. Make some API calls that result in 404 (e.g. http://apiserver/aaa or http://apiserver/api/v1/pods/aaa) or 503 (kill etcd and make some API calls).
3. Visit http://apiserver/metrics.

Expected behavior: The metrics that have a "code" tag (e.g. apiserver_request_count and rest_client_request_status_codes) should have lines referring to code="404" or code="503".

[2015-12-19 00:45] huang195 commented on #18770
How will heapster find the port that cadvisor listens to? If each cadvisor is running in a separate pod, it could be mapped to different host port on different host.

[2015-12-19 00:53] ixdy commented on #18914
Lowering priority since test is disabled, but we should fix and reenable it eventually.

[2015-12-19 01:12] timothysc commented on #18914
It was originally created against a fake server, when we enabled against a real server, there were no guarantees given from the coreos folks on the client side, we should probably add as a requirement for etcd3.

[2015-12-19 01:25] Sha01in commented on #15103
+1

[2015-12-19 01:47] vishh commented on #18770
Host port is not required. Remember Pods can talk to each other directly ;)

On Fri, Dec 18, 2015 at 4:45 PM, Hai Huang <notifications@github.com> wrote:

[2015-12-19 02:49] yifan-gu opened #18922 "kubelet/rkt.go is getting too big. should be split into small modules"
Helper functions are scattered in a lot of places. This makes the file to long, and hard to read. Should move them to separate files. We also could split different interfaces (e.g. pod vs image) into different files.

[2015-12-19 03:12] activeshadow opened #18923 "Do services break HTTP streaming (ie. server-sent events)?"
I have an HTTP server that publishes server-sent events over a connection using the following response headers:
[code]
When talking directly to the server over a local connection (such as loopback or on my local network), my client continually gets published data. However, when I run the server in a pod and talk to it via a service IP address (more specifically, from a client completely outside th

[2015-12-19 04:11] brendandburns opened #18924 "Return a "disabled" message for extension APIs that are turned off."
Right now, if an extension api (e.g. DaemonSet) is disabled, we return 404 and not much other info.  While this is legal, it doesn't give a great user experience.  We should return the 404, but also a message indicating how to activate the API.  e.g. a JSON status message that says "inactive" or something like that.

[2015-12-19 05:26] thockin commented on #18923
It's certainly possible - how long is "a while"  Is this "a while with no
traffic" or is it actually getting traffic periodically?

On Fri, Dec 18, 2015 at 7:13 PM, Active Shadow LLC <notifications@github.com

[2015-12-19 05:32] thockin commented on #18911
Unless you mean something else - nss just provides a handful of facilities
(and some config to prioritize between them) for name resolution.  The most
common cases being dns and /etc/hosts.

Are you talking about using /etc/hosts instead of DNS?  See teh Docker
debacle (which is still not solved in 1.9) regarding /etc/hosts.

On Fri, Dec 18, 2015 at 2:11 PM, Tamas <notifications@github.com> wrote:

[2015-12-19 05:38] roberthbailey commented on #8711
Yep. I'm not sure when it was fixed but sometime between when I filed it and now it's been resolved.

[2015-12-19 05:38] #8711 closed

[2015-12-19 07:01] davidopp commented on #18787
Admission controller sounds fine.

[2015-12-19 07:02] davidopp commented on #15052
Reopening because @jszczepkowski mentioned that it is also sometimes failing in GCE, where it should work.

[2015-12-19 07:34] streamnsight opened #18927 "kubectl with TLS secured etcd on Mac OS X: error: couldn't read version from server: the server has asked for the client to provide credentials"
I use CoreOS. Deployed Kubernetes on top of the regular etcd/flanneld stack

I added TLS encryption and authentication to etcd. Not sure if it is related.

when using kubectl, on mac OS X Yosemite, I get an error:
`error: couldn't read version from server: the server has asked for the client to provide credentials`

even though I supplied the certs and keys

[code]

It does work when I use a Linux

[2015-12-19 07:36] davidopp commented on #18831
Yeah I was just thinking it might increase the rate of conflicts, if the cache replaces re-listing, so that the scheduler uses data that is less fresh when making scheduling decisions. It's not a reason to not make the change you suggested, but something to watch out for once we have multiple schedulers.

[2015-12-19 08:12] mikedanese commented on #15052
is this a dup of #17829 at this point?

[2015-12-19 09:18] davidopp commented on #8132
containerd uses gRPC
https://github.com/docker/containerd

[2015-12-19 10:16] jayunit100 commented on #18924
yup, any kube endpoint should be understandable by the apiserver, even if apiserver has to say "you disabled this feature!".  Thanks for creating this issue it will save a lot of documentation maintainance headaches !

[2015-12-19 10:32] imesh commented on #14887
I encountered this issue in Kubernetes 1.1.3. Is this fixed now?

[2015-12-19 10:53] jezell commented on #10959
Was seeing this same problem today resizing instance groups in gke (not in e2e tests but on a production gke cluster running kube 1.1.3 / docker 1.9). So don't think serializing the images has made the problem go away. Kind of a pain to resolve since I had to restart docker daemon and manually repull images down to the node via docker pull to get pods to start.

[2015-12-19 10:56] wojtek-t opened #18928 "Data race in httptest.Server - pkg/storage/etcd, pkg/registry/generic/etcd"
The failure is the following:

    WARNING: DATA RACE
    Write by goroutine 95:
      sync.raceWrite()
          /tmp/workdir/go/src/sync/race.go:41 +0x2e
      sync.(*WaitGroup).Wait()
          /tmp/workdir/go/src/sync/waitgroup.go:124 +0xf9
      net/http/httptest.(*Server).Close()
          /tmp/workdir/go/src/net/http/httptest/server.go:168 +0x80
      k8s.io/kubernetes/plugin/pkg/auth/authe

[2015-12-19 10:56] wojtek-t commented on #18928
The failure comes from: TestOIDCAuthentication

[2015-12-19 11:19] Smana commented on #18868
I just want to mention my original issue as it doesn't seem to match the description above:
http://stackoverflow.com/questions/34329525/why-do-kubelet-failed-to-get-stats-from-docker-error-500

Actually in my case i get an error 500
[code]
And this is a real error because Heapster can't get the value (nothing inserted into influxdb).

One of my collegue tried on his server (which runs in ubuntu) a

[2015-12-19 13:27] wojtek-t opened #18929 "unit flake: pkg/storage/etcd is flaky"
=== RUN   TestWatch
--- FAIL: TestWatch (0.03s)
	etcd_watcher_test.go:269: An injected error did not cause a graceful shutdown

@timothysc

I will take a look on Monday.

[2015-12-19 13:51] timothysc commented on #18929
This is weird, I literally ran the test dozens of times and never saw a flake.

[2015-12-19 14:02] timothysc commented on #18929
So I think there is subtle issues in the test around timing that I'm just not seeing locally.  A quick fix is to either sleep or forcing a Gosched to allow the other goroutines to cleanup prior to the check.

[2015-12-19 14:04] timothysc commented on #8132
+ etcd3 is also making the switch.

[2015-12-19 14:08] timothysc commented on #18928
xref: #18917

[2015-12-19 14:49] activeshadow commented on #18923
I can setup a test to get you an accurate amount of time if you need me to, but "a while" is roughly 2-3 minutes. Once whatever happens happens, I get absolutely no published traffic at all.

I know the server is still responsive, because I see log messages saying data's being published and GET/POST requests are responded to.

[2015-12-19 14:51] fgimenez opened #18931 "Missing allow-privileged flag for juju provider"
In the apiserver and kubelet upstart templates for juju the `--allow-privileged` flag is missing.

I've prepared this branch [1] with a fix, let me know if I should submit the PR

Thanks! :)

[1] https://github.com/kubernetes/kubernetes/compare/master...fgimenez:juju-allow-privileged?expand=1

[2015-12-19 16:16] smarterclayton commented on #18787
We should put that in API conventions or a design doc then.  I think
it's a good principle to hold, but we haven't applied it a lot.

[2015-12-19 16:38] spinus commented on #16779
@erictune to make a pod you have to remember (or just check in the docs) lot of stuff already. Reality is that you always check it with the docs, not only because of field number but also because API is evolving. I don't think this one field change a lot. I'm not against any solution, just saying that probably adding a field doesn't change too much.

I would ask about not doing negative flags agai

[2015-12-19 16:46] liggitt commented on #16779
Off the top of my head, `automountServiceAccountToken *bool`, defaulting to true, on either the service account or the pod spec seems ok. I do wish we had a clearer idea of how we want to specify automounts in general, to tie this in better

[2015-12-19 16:47] spinus commented on #18632
@saad-ali Hi, sure I'll repost the question.

 I think I followed the docs and couldn't make it working and I think:
1) I'm missing something (probably good reason to go to stackoverflow)
2) implementation is bad
3) documentation is bad
2 and 3 are reasons why I put the question here and not on stackoverflow in the first place. Maybe it's wrong that I used that "question" but I was not sure what's

[2015-12-19 17:47] suryaveerc opened #18933 "Application response sent from the POD goes missing."
I have installed kubernetes on openstack. The setup has one master and one node on coreos.

I have a pod hosting an SIP application on UDP port 5060 and I have created service as **NODEPORT** on 5060.

**The spec:**

    "spec": {
        "ports": [
          {
            "port": 5061,
            "protocol": "UDP",
            "targetPort": 5060,
    	"nodeport": 5060,
    	"name": "sipu"

[2015-12-19 17:56] PiotrKlimczak commented on #17911
Same problem problem here.
Having this fixed in code would be fine.

[2015-12-19 19:24] huang195 commented on #18770
OK, I just saw that you're expecting cadvisor pods to be running as a daemon set, so the host ips are known to the heapster pod collecting the metrics information. Reading how to communicate with a daemon set, I found some information here: https://github.com/kubernetes/kubernetes/blob/master/docs/admin/daemons.md#communicating-with-daemonset-pods, and it says

I take it this means cadvisor will n

[2015-12-19 19:35] vishh commented on #18770
I was *not* suggesting using services. I was instead suggesting using the
Pod IPs directly.

[2015-12-19 20:00] smil2k commented on #18911
AFAIK nssswitch is used in order to define how "gethostbyname" does the name resolution (and other calls like users, groups etc...)

It is fully modular, "files" and "dns" is only an SO file loaded dynamically under /lib, they provide certain functionalty.

This a new module could be introduced "k8s", which tries to lookup in kubeproxy first and then in files/dns. IPs within the SDN is meaningless

[2015-12-19 20:42] #18535 closed

[2015-12-19 20:45] donbeave opened #18934 "can't resolve 'kubernetes.default' through kube-dns cluster ip"
I have installed the latest version (1.1.3) on vultr. Whole cluster are works cross datacenter and cross regions.

My services list:

[code]

If I tried to ran this command `nslookup kubernetes.default` inside `busybox` pod I will receive this error:

[code]

But actually, my DNS works well through pod's IP directly.

This is my description of `kube-dns` service:

[code]

So, the following works w

[2015-12-20 00:54] streamnsight opened #18935 "trying to access apiserver web tools: unauthorized"
i posted a question/ issue here
https://github.com/kubernetes/kubernetes/issues/18927

which brings me other troubles:

trying to access the apiserver Web components, I get a
`unauthorized`
answer in the browser (after clearing the HTTPS warning)

I tried in Chrome and Safari (Mac OS X Yosemite)
The CA used to sign the apiserver key / cert is in my keychain
It just seems like it's the api-server f

[2015-12-20 02:36] #17498 closed

[2015-12-20 05:10] #18660 closed

[2015-12-20 05:11] thockin commented on #18923
Nothing that I know of should be timing out on that small timescale.  Not
to say there's not something I don't know about.  I'm assuming TCP here -
UDP has some oddities.

Is this on the userpsace proxy or iptables?

On Sat, Dec 19, 2015 at 6:49 AM, Active Shadow LLC <notifications@github.com

[2015-12-20 06:59] yifan-gu commented on #18928
cc @yifan-gu

[2015-12-20 07:52] housebolt commented on #10323
For those who run across this thread and are trying to figure out how to specify an IP address for a LoadBalancer, it's now available and working in a fairly recent release. Add "loadBalancerIP": "{{ IP ADDRESS }}" to the "spec" section of your LoadBalancer service file. Confirmed working on GCE, but make sure your node cluster is updated and current.

[2015-12-20 10:18] drora commented on #16188
just met this issue on v1.1.3
after master node reboot, lost control over the cluster.

(kubectl config was empty, probably lost data on attached ebs storage, wasn't able to re-gain control and recover, couldn't find more data about how to re-config master back to existing cluster on aws)

from kubelet log ::
"Unable to write event: 'Post https://{IP}/api/v1/namespaces/default/events: dial tcp {IP

[2015-12-20 12:37] kha0S commented on #11543
+1 this is really important in many setups

[2015-12-20 15:29] wojtek-t commented on #18928
I've just seen the same error in a different test:

    Write by goroutine 48:
      sync.raceWrite()
          /tmp/workdir/go/src/sync/race.go:41 +0x2e
      sync.(*WaitGroup).Wait()
          /tmp/workdir/go/src/sync/waitgroup.go:124 +0xf9
      net/http/httptest.(*Server).Close()
          /tmp/workdir/go/src/net/http/httptest/server.go:168 +0x80
      k8s.io/kubernetes/pkg/storage/etcd/testin

[2015-12-20 15:42] wojtek-t commented on #18928
I've also seen exactly the same in pkg/storage/etcd.

[2015-12-20 15:44] wojtek-t commented on #18913
I think this one is fixed. We still have some problems, but this is a different issue - see:
https://github.com/kubernetes/kubernetes/issues/18928

[2015-12-20 16:04] justinsb commented on #13997
I believe there are a number of problems in here, that cause nodes to go NotReady.

As a tip, when a Node goes not ready, if you determine the AWS instance id by doing `kubectl get nodes <node-name> -ojson` you can then terminate the instance and - because the nodes are in an auto-scaling group - it will be replaced automatically.  I have heard of some people that pre-emptively kill their nodes ea

[2015-12-20 16:05] moolitayer commented on #18428
@nikhiljindal though it is not explicit in the documentation, it looks like we can assume that GET operation will always return with a non empty status. is that correct?

[2015-12-20 16:17] itsjimbo opened #18937 "Spark Example - Incorrect worker hostPort property"
Following the example for
http://kubernetes.io/v1.1/examples/spark/README.html

The worker-controller json file
http://kubernetes.io/v1.1/examples/spark/spark-worker-controller.json

Utilizes  "hostPort": 8888 which is incorrectly specified, this should be removed as all the replicas started will try to occupy the port 8888 (unless you change replicas: 1). After following the example and using kub

[2015-12-20 16:22] huang195 commented on #18770
How will the consumer of such metrics get the list of Pod IPs of cadvisor Pods? Sorry if I missed this being already described somewhere.

[2015-12-20 16:24] DarkSkull91 commented on #1328
it doesn't seems that I can install on CentOS 6.5

[2015-12-20 16:40] drora commented on #13997
thanks for elaborating @justinsb.
as for my report -
1) I have to say that I had found an internal issue that caused pod errors to overwhelm elasticsearch and influx and probably resulted these crushes extensively.
2) I did use default aufs. will try to move to btrfs asap (no other non-default settings).
3) switching the default instance to m3 is cool, but I will stick to t2.medium (small startups

[2015-12-20 17:24] smarterclayton commented on #18907
I've seen it in 1.5 Mac and 1.4 Linux (although I can double check).

[2015-12-20 17:24] smarterclayton commented on #18907
Although in my case I got stability on an individual platform.

[2015-12-20 18:45] smarterclayton opened #18939 "Generated client files should not have mixed case"
We do not use mixed case filenames in our codebase - a few have cropped up as part of generation `pkg/client/types/generated/unversioned/componentStatus.go` that should be nixed.  They should be `componentstatus.go` or `component_status.go`.  coding-conventions.md should be updated to call this out explicitly, which I will do in a separate PR.

@caesarxuchao @lavalamp @krousey not sure who is acti

[2015-12-20 18:56] caesarxuchao commented on #18939
I'll fix it. Thanks for catching that.

On Sunday, December 20, 2015, Clayton Coleman <notifications@github.com>
wrote:

--
Regards,
Chao Xu

[2015-12-20 19:40] smarterclayton commented on #18939
Documented in https://github.com/kubernetes/kubernetes/pull/18942

On Sun, Dec 20, 2015 at 1:56 PM, Chao Xu <notifications@github.com> wrote:

[2015-12-20 20:26] wojtek-t opened #18943 "e2e flake: Deployment deployment should create new pods"
Example failure:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/21458/

@nikhiljindal @janetkuo

@nikhiljindal - can you please take a look?

[2015-12-20 20:59] runseb commented on #18513
I am running into exactly the same issue.
k8s 1.1.2 in single docker mode
docker 1.9.1

the secrets directory are empty, the mounts fails and the images of the pods don't get downloaded.

[2015-12-20 21:50] runseb commented on #18513
I just tested it with docker 1.8.3 , still the same issue.

[2015-12-20 22:02] piontec commented on #18513
I also tested with 1.8.3 and it doesn't work

[2015-12-20 22:41] davidopp commented on #13997
Thanks for the thorough update, @justinsb.
https://aws.amazon.com/ec2/instance-types/
says T2 storage is "EBS-only." How much storage do you actually get? We should definitely set our defaults to something that will work out-of-the-box, and then provide instructions on how people can crank it down to small instance sizes (along with warnings about the corresponding risks). Of course we should also

[2015-12-21 00:08] justinsb opened #18944 "kube-ui incorrectly shows 'OutOfDiskReady' status"
On a k8s cluster running 1.1, the status on this page (and possibly others) shows the status as "OutOfDiskReady", though the disk is not out of disk:
`https://<ip>/api/v1/proxy/namespaces/kube-system/services/kube-ui/#/dashboard/nodes`

<img width="1183" alt="screen shot 2015-12-20 at 7 01 43 pm" src="https://cloud.githubusercontent.com/assets/100893/11921028/77871bd8-a74c-11e5-98b0-2b8e97f238f9.p

[2015-12-21 00:16] justinsb commented on #13997
So it appears that a t2 does get 32GB of disk, which actually should be plenty (i.e. I think I'm wrong here).  The disk will eventually fill up, but an m3.medium (with which I get good results) should fill up much faster.  Because there's only one volume, we are forced to use aufs also.

I have a cluster of 4 t2.micros and one of them is immediately at 100% CPU - the one with influxdb.  Logging in

[2015-12-21 02:16] mikedanese commented on #18944
Dup of #18160. It's fixed in latest release of kube-ui

[2015-12-21 02:47] Random-Liu opened #18945 "We should use the resource returned by api client in Kubelet"
In `pkg/client/unversioned/pods.go`, most of the apis return a `pod` which has been set default values by apiserver such as `Resource Version`, `UID`, normalized timestamp ([related issue](https://github.com/kubernetes/kubernetes/pull/18410#issuecomment-165019877)) and so on.

[code]

The functionality is very useful, but we haven't fully used them now in status manager or mirror pod manager.

Whe

[2015-12-21 03:31] dove-young opened #18947 "Daemonset Waiting forever when Pod pull image failed."
Here is what I saw,  it failed to pull the image due to authentication erron when it first try. Then I fixed the authentication, and it did not try again.  16 minutes later it was still pending and waiting.

My image pull policy is IfNotPresent. Daemon restart policy is default.

Kubernetes release is  v1.1.2, Docker version is v1.8.2. Host OS is Fedora 22 x86-64.

[code]

[code]

[2015-12-21 03:34] tombenner commented on #8593
Quick bump on this. Our config is too long to visually scan, so I use an alias to print the current context, but I'd love to remove the alias in favor of an official subcommand. We're hoping to have more of the team using Kubernetes soon, and the fewer aliases we have to share, the better.

This seems like a common need. If it'd help move it forward (and if there's a consensus around the subcomman

[2015-12-21 05:29] jaywayjayway opened #18949 "kubernetes 1.1 create pod with mounting rbd image error"
as titile showed,my ceph cluster  worked healthly ,

[code]

as belove , it's my pod  with needed image named foo ,

[code]

[code]

when I create pod with `kubelet create -f pod.yaml`, it show me:

[code]

then ,I go to the node with pod, search the log

[code]
## But wen I change  `readOnly: false` to `readyOnly: true`,And `map` foo image to host. it can be successful .But only read .

[code]
##

[2015-12-21 07:27] wojtek-t commented on #12765
Can we really prioritize it - it happened 5+ times over the weekend.

[2015-12-21 08:10] gmarek opened #18952 "e2e fail: Services should serve identically named services in different namespaces on different load-balancers"
This test reliably fail on gke-test and gke-1.1:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-test/10906/

[code]

@kubernetes/goog-gke
@ihmccreery please reassign.

[2015-12-21 08:12] gmarek opened #18953 "e2e fail: Services should be able to change the type and nodeport settings of a service"
It constantly fails on gke-test and gke-1.1:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-test/10906/

[code]

@kubernetes/goog-gke
@ihmccreery please reassign

[2015-12-21 08:18] wojtek-t commented on #18928
One more failure is here:
https://00e9e64bacc0329d30a8c72bf3aacbc7eab2390b5b3326030c-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/logs%2Fkubernetes-test-go%2F4825%2Fartifacts%2Fjunit_v1,extensions-v1beta1_20151220-020118.stdout?qk=AD5uMEu0agHjHt_eE9SdciXlWznADg9yBAO45jdlu8PjKdUKcgnXwXmKYrvnIR8uoVY7BTxf_dw0R5EmJYq0u82zpS-4Q0Fl81fVmj7roGIV5IRwT3aC_FHdh1cY4tn7237S

[2015-12-21 08:20] gmarek commented on #18775
The same thing happened for gke-subnet suite.

[2015-12-21 08:42] gmarek commented on #18952
I cleaned up the project to bring it down below quota again. This needs to be monitored.

[2015-12-21 08:42] gmarek commented on #18953
I cleaned up the project to bring it down below quota again. This needs to be monitored.

[2015-12-21 08:42] gmarek commented on #18775
I cleaned up the project to bring it down below quota again. This needs to be monitored.

[2015-12-21 08:54] wojtek-t commented on #18928
I think I have a hypothesis what can be happening here (although, I'm not able to reproduce it locally).
Basically - it seem for me that there is a race in etcdWatcher (it has always been there, but Go 1.5 exposed it to the world).

What I think is happening here is that:
1. when you call Watch() on etcdHelper, it starts a new go-routine calling etcdWatch()
2. however, there is no synchronization

[2015-12-21 09:05] willmore opened #18955 "AWS - EC2 API DescribeInstances outage brought down clusters in region"
On `2012.12.18` the AWS region us-east-1 experienced an outage affecting service of the DescribeInstances and DescribeTags APIs. This is turn brought our two independent clusters operating in the region, as [the Kubelet AWS clustering mechanisms](https://github.com/kubernetes/kubernetes/blob/7069a811164f68473dd1b94ee2b2abc169e35d81/pkg/cloudprovider/providers/aws/aws.go#L2100-L2119) rely on the De

[2015-12-21 09:32] drora commented on #15160
just met this issue on v1.1.3
after master node reboot, lost control over the cluster.

(kubectl config was empty, probably lost data on attached ebs storage, wasn't able to re-gain control and recover with etcd, couldn't find more info about how to re-configure master back to existing cluster on aws)

kubectl get nodes ::
"error: couldn't read version from server: Get http://localhost:8080/api: d

[2015-12-21 09:33] drora commented on #15160
this is a major deal here for production use.
very easy to repro locally (via vagrant).
just spin up a cluster using kube up,
restart master vm
lose cluster.

[2015-12-21 09:34] drora commented on #16188
this is a major deal here for production use.
very easy to repro locally (via vagrant).
just spin up a cluster using kube up,
restart master vm
lose cluster.

[2015-12-21 09:54] #18091 closed

[2015-12-21 10:24] wojtek-t commented on #18928
I've sent #18956 - although I hope that it will solve most of problems here.

[2015-12-21 10:34] wojtek-t commented on #18929
This should also be fixed by #18956

[2015-12-21 10:48] wojtek-t opened #18958 "e2e flake: Services should work after restarting kube-proxy"
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/10042/

expected to retrieve pods
     [service1-48igt service1-57dir service1-i1ojq],
only retrieved
    [service1-i1ojq service1-i1ojq service1-48igt service1-i1ojq service1-48igt service1-48igt service1-i1ojq service1-48igt service1-48igt]

@thockin

[2015-12-21 10:56] wojtek-t commented on #18958
Maybe with ip-tables based kube-proxy, we should increase the number of tries to connect to pods?

Currently, we are doing 3*#pods tries:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L1339

maybe it's to few now?

@thockin - WDYT?

[2015-12-21 11:05] wojtek-t opened #18960 "Jenkins unit test failures"
I've seen a bunch of times Jenkins failures like this:

FATAL: Could not checkout 816f93bdbab33cd1b96c7d5de66b39d214a9c50b
hudson.plugins.git.GitException: Could not checkout 816f93bdbab33cd1b96c7d5de66b39d214a9c50b

Maybe we should retry it?

@kubernetes/goog-testing

[2015-12-21 11:06] wojtek-t commented on #18928
However - my PR will not fix OIDC test - I think that one is unrelated...

[2015-12-21 11:27] wojtek-t commented on #18943
One more instance:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/21523/#

[2015-12-21 11:31] saiwl opened #18962 "could pod be killed before it is deleted in a service?"
when delete a pod, kubernetes first deletes it in etcd via apiserver, then the controllers and kubelet do some stuff based on the  changing of objects storaged in etcd, am i right?
so here comes the question, after a pod has been deleted in etcd, the endpoint controller and kubelet both should react, but which one will complete first? if the pod has been actually killed by kubelet on node, and the

[2015-12-21 11:33] gmarek commented on #18958
cc @kubernetes/goog-gke

[2015-12-21 11:35] gmarek commented on #18775
We do have quota now in this project, but it's still failing. Reassigning to @bprashanth and bumping priority.

[2015-12-21 11:37] gmarek opened #18963 "e2e flake: Proxy version v1 should proxy through a service and a pod [Conformance]"
It failed in soak gke test:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gke/5503/

[code]

cc @kubernetes/goog-gke

[2015-12-21 11:39] romanmandryk opened #18964 "kubectl run --env parsing naive"
I'm running application with several env variables. One of them has a key ending with ==. Another variable has a comma separated list of email addresses. While perfectly valid on *nix and windows, we can't pass these values into Kubernetes run command. It fails with "error: invalid env:"

Example command:
`kubectl run MyApp --env="THIS_ENV=isOK" --env="HAS_COMMAS=foo,bar" --env="HAS_EQUALS=jJnro54

[2015-12-21 12:09] gmarek commented on #17781
We should cherry-pick #17995 to v1.1, as it failed in http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-1.1/937/

[2015-12-21 12:10] royklopper commented on #17219
@peterbourgon Kubernetes checks the Amazon API for resources with the tag named "KubernetesCluster". This must resemble the name of the cluster. Hope this will solve your problem.

[2015-12-21 12:36] wojtek-t commented on #17966
I think we didn't. Let's close it now and we will reopen if we observe it again.

[2015-12-21 12:36] #17966 closed

[2015-12-21 12:37] wojtek-t commented on #18713
Did we see it since #18814 was merged?

[2015-12-21 14:29] ssergiienko opened #18967 "Kubelet exec network plugin calls Setup Pod and TearDown pod in any order"
Kubelet exec network plugin calls Setup Pod and TearDown pod in any order. This breaks logic, when Teardown is called for pod before this pod actually created (Setup not called at this moment).

More over sometimes Teardown even not called at all. When we create|delete pod fast - setup is called but Teardown - no.

We have made 3(!) workarounds to accomplish what we need.

Expected behaviour:
1. I

[2015-12-21 14:29] justinsb commented on #18944
Ah presumably yes, thanks.  I searched for "OutOfDiskReady", but I guess the order is random ("ReadyOutOfDisk")!

[2015-12-21 14:29] #18944 closed

[2015-12-21 14:42] activeshadow commented on #18923
I'm not sure how to answer your last question. However, after doing some additional testing with different clients (ie. curl), I'm not seeing the same issue. So, it must be something weird with the JavaScript EventSource. Sorry to have wasted your time.

[2015-12-21 14:42] #18923 closed

[2015-12-21 14:48] gmarek opened #18969 "In 1000 node clusters some nodes fail to register/become running"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-enormous-cluster/7/consoleFull

This is a blocker for a 1000-node effort.

cc @kubernetes/goog-control-plane @kubernetes/goog-node @brendandburns @davidopp @wojtek-t @fgrzadkowski

[2015-12-21 14:49] gmarek opened #18970 "Save logfiles from components even if cluster hadn't started successfully."
We observe failures of 1000-node startups when one or few nodes don't get registered. Because cluster startup fails we don't save any logs from any component, which makes this pretty much impossible to debug.

Setting this a P0, as this blocks debugging of #18969.

cc @ixdy @brendandburns @davidopp @wojtek-t @kubernetes/goog-node @kubernetes/goog-control-plane

[2015-12-21 14:58] gmarek commented on #18558
@janetkuo Reopening to make sure it fixed the flakyness. Please close after few days of successful runs.

[2015-12-21 15:13] jimmidyson commented on #18833
This is a bug in godep itself. If packages are missing from dep's master branch then it can't restore them... There are some hacks iirc in the scripts to sort this out - I'm hitting the same issue in #17883 so will try to fix it as part of that.

[2015-12-21 15:18] jimmidyson commented on #18833
The (hacky) solution seems to be to use the `preload-dep` from https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh#L27-L43 to preload the Docker dependency. This is rubbish but not much else we can do I don't think.

@eparis - think it was you that guided me to this solution last time we hit it. Still the "right" thing to do or is there a better solution?

[2015-12-21 15:38] lordkada commented on #17275
Hmmm... I've changed the cassandra version as you told and recreated everything from scratch..
Ad you can see at the bottom of the log file, I've pods continuously trying to restart:
[code]
# Get Pods
[code]
# Describe nodes
[code]
# Get Pods again
[code]

[2015-12-21 16:13] mqliang opened #18972 "WIP: Add pod-to-rc cache for RC/Job/DaemonSet/Endpoint"
K8s use Labels and Selector to couple pods and the ReplicationController, currently, when find the rc for a pod, k8s will traverse all rcs to find the matching one, which is not efficiency.

Some optimization could be done to improve the look up time, such as:
1. add namespace index, so that filter first on namespace and then search in that namespace for a match. see https://github.com/kubernetes/

[2015-12-21 16:17] mqliang commented on #18972
I will send some PRs address each in turn.

[2015-12-21 16:20] mqliang commented on #18972
The same "equivalent cache" optimization skills has been introduced into Scheduler:
https://github.com/kubernetes/kubernetes/issues/17390

[2015-12-21 16:35] justinsb opened #18975 "AWS: Master stops responding on t2.micros"
I'm trying to break #13997 into its component issues.

An issue which I was able to reproduce: when launching on t2.micros, after a little less than 24 hours, the master stopped responding to `kubectl get nodes`.  I was also unable to SSH in to the instance.  When I rebooted the master instance through the AWS API it did come back online (the instance took 30 minutes to reboot, but I don't think t

[2015-12-21 16:39] justinsb commented on #13997
I was able to reproduce the master going offline on a t2.micro - it stopped responding to API requests and I was unable to SSH in, though I was able to recover by rebooting the master.  Tracking this as #18975.  (It did not appear to have exhausted its CPU credits, and the disk was not full)

[2015-12-21 16:45] ae6rt commented on #12533
I see the same type of motdgen service errors on kubernetes 1.1.3 with this version of CoreOS

[code]

[code]

[2015-12-21 16:50] drora commented on #13997
Hi,
just to be clear, master is going offline regardless to the instance type after reboot.

just met this issue on v1.1.3
after master node reboot, lost control over the cluster.

(kubectl config was empty, probably lost data on attached ebs storage, wasn't able to re-gain control and recover with etcd, couldn't find more info about how to re-configure master back to existing cluster on aws)

kub

[2015-12-21 17:04] jvalencia commented on #16188
This fix has been pulled into 1.2, but is not in 1.1.

We run 1.1 but during cluster up, we copy master's cluster/aws/templates/format-disks.sh

[2015-12-21 17:15] sachingharge opened #18976 "Questions regarding HPA"
Hello Team,

I have few questions regarding HPA (Horizontal pod autoscaling) on CoreOS/AWS.

1. I noticed that when you create HPA for particular replication controller which don't have resources defined then current CPU column always displayed "Waiting" after even waited for longer time. Is that correct behaviour?

2. When I defined resources as stated below for one of the replication controller

[2015-12-21 17:20] cpg1111 opened #18977 "Receive "the namespace of the provided object does not match the namespace sent on the request" when creating a secret in the default namespace."
Hey there, not entirely sure if this is an issue, but when I do not specify a namespace for a secret it fails saying I need a namespace in the secret's metadata.  So I use the default namespace for now.  I am trying to create this secret through a script that is not using kubectl to do this and is talking directly to the api server.  Is there any reason why the apiserver wouldn't assume it's using

[2015-12-21 17:50] ihmccreery commented on #18895
Fixed via #18896.

[2015-12-21 17:50] #18895 closed

[2015-12-21 17:51] spxtr commented on #18960
I'm looking into this.

[2015-12-21 18:01] crawford commented on #12533
(I know nothing about kubelet internals, so this may be completely absurd) motgen is a very short-lived process which does not remain after exit. Is this a race between the kubelet inspecting the motgen cgroup counters and the service itself dying?

[2015-12-21 18:05] ixdy commented on #18960
Not sure of a root cause, but I think this started happening more frequently when I started checking out the release branch (in addition to the PR merge branch) to support #18047.

[2015-12-21 18:08] mikedanese commented on #18962
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-12-21 18:08] #18962 closed

[2015-12-21 18:10] mikedanese commented on #18947
How did you fix the authentication error?

[2015-12-21 18:12] ihmccreery commented on #18953
Am I inferring correctly that we ran out of static IP address quota in the project?

Reassigning to @fejta as this falls squarely inside his projects-as-cattle project.

[2015-12-21 18:12] ihmccreery commented on #18952
Am I inferring correctly that we ran out of static IP address quota in the project?

Reassigning to @fejta as this falls squarely inside his projects-as-cattle project.

[2015-12-21 18:13] mikedanese commented on #18935
You need to pass an authentication header.

[2015-12-21 18:13] mikedanese commented on #18935
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-12-21 18:13] #18935 closed

[2015-12-21 18:14] mikedanese commented on #18934
@ArtfulCoder

[2015-12-21 18:20] ihmccreery commented on #18720
Closed #18720 via #18773.

[2015-12-21 18:20] #18720 closed

[2015-12-21 18:21] ihmccreery commented on #18665
With #18773 in, hopefully this will resolve itself.

[2015-12-21 18:25] mikedanese commented on #18976
cc @mwielgus @jszczepkowski since maybe we should add documentation

[2015-12-21 18:34] wojtek-t opened #18980 "unit/integrations tests on per-PR builder are timing out"
I'm not sure what happened, but our unit/integration tests started timing out recently (I mean build is timing out).

    I1221 17:31:43.944771    4488 genericapiserver.go:303] Node port range unspecified. Defaulting to 30000-32767.
    Build timed out (after 45 minutes). Marking the build as aborted.
    Build timed out (after 45 minutes). Marking the build as failed.
    FATAL: Unable to delete

[2015-12-21 18:34] wojtek-t commented on #18980
Note that those tests are still working (i.e. these are not hanging forever tests - something is still working on them).

[2015-12-21 18:40] justinsb commented on #18975
I thought I had lost the error message from `kubectl`, but I found it:

[code]

[2015-12-21 18:54] nikhiljindal commented on #18943
Could be due to https://github.com/kubernetes/kubernetes/pull/17398.
@janetkuo Can you please take a look?

[2015-12-21 18:54] nikhiljindal commented on #18943
cc @ironcladlou @kargakis

[2015-12-21 19:00] spxtr commented on #18960
I reset the PR builder job config to the format recommended [here](https://github.com/jenkinsci/ghprb-plugin). If that doesn't fix this then I'll set it back.

[2015-12-21 19:11] spxtr opened #18981 "Split e2e.sh into job definitions and runner scripts"
I'd like to split e2e.sh in half. The first half contains the job definitions and the block of exports. There can be three of these files, each  in their own branch: master, release-1.0, and release-1.1. The second half contains the job runner itself in master only. Jenkins jobs will have to be modified to run both.

It's a bit of a pain to do this without breaking all the current jobs, so I'll ha

[2015-12-21 19:41] stensonb opened #18982 "Support for managing revoked certs"
Authenticating users via x509 certs is important, but the project seems to be missing a mechanism to revoke certs (without throwing the entire chain away and regenerating ALL certs for all users).

It would be great to be able to declare which certs are invalid, and have the kube-apiserver, kubelets, and all other cert-dependent services deny service for requests with the now-invalid cert.

https:

[2015-12-21 19:43] spxtr commented on #18960
[No  luck](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/6990/console).

[code]

[2015-12-21 20:06] gmarek commented on #18952
We run also out of networks, firewall rules, backend services and target pools.

[2015-12-21 20:08] davidopp commented on #18975
@brendandburns

[2015-12-21 20:11] ixdy commented on #18980
The unit tests have started taking much, much longer. From the run you linked, note the timestamps:
[code]

We haven't changed really changed anything on Jenkins - we still only run at most 3 unit/integration builds on a single VM. Maybe moving to Go 1.5 made things more heavyweight? Or maybe something changed about the VMs themselves?

[2015-12-21 20:19] ixdy commented on #18980
post-submit Jenkins doesn't really have any CPU contention and is also running much slower:
[code]

Seems like something is wrong with our tests.

[2015-12-21 20:21] wojtek-t commented on #18980
hmmm - also build is much much longer:

    +++ [1221 16:46:57] Building go targets for linux/amd64:
    ...
    +++ [1221 16:52:50] Placing binaries

It's strange - it's much faster than 6 minutes when I'm doing it locally...

[2015-12-21 20:23] ixdy commented on #18980
I'll bump up the timeout on kubernetes-pull-test-unit-integration (again) - this time from 45m to 60m. We definitely need to track down this slowdown though.

[2015-12-21 21:40] ixdy commented on #18981
I might vote for just 2 filenames: `e2e-runner.sh` and `e2e-jobs.sh`. `e2e-runner.sh` should only be called from the master branch, but `e2e-jobs`.sh would be different for each branch.

The advantage of this is when we create a new release branch, we don't have to do anything special other than updating the branch we pull `e2e-jobs.sh` from.

You could also combine steps 2+4 and 3+5 by making `e2

[2015-12-21 21:43] spxtr commented on #18981
Ok, that sounds good.

[2015-12-21 21:44] ixdy commented on #18981
x-ref #17734

[2015-12-21 21:46] ixdy commented on #18981
also cc @karlkfi @justinsb @kubernetes/goog-testing as FYI

[2015-12-21 22:30] spxtr commented on #18981
Actually, I don't think it's worth calling e2e.sh from e2e-runner.sh, because it would need to know what branch to call it on, which I could pass as a parameter or something, and I don't think it's worth the effort :P

[2015-12-21 22:33] ixdy commented on #18981
Good catch.

[2015-12-21 22:48] spxtr commented on #18960
Waiting for another failure. Please link here if you notice one.

[2015-12-21 22:51] caesarxuchao commented on #18577
@nikhiljindal

[2015-12-21 23:20] piersy commented on #13585
+1

[2015-12-21 23:26] dolphyvn commented on #8441
looking for this

[2015-12-21 23:33] Bretto commented on #5699
I am getting the same and I don't know how to fix it, every time I need to "vagrant destroy" to restart...

[2015-12-21 23:36] ixdy commented on #18335
If anyone sees this again, it'd be helpful to link the failing builds so we can investigate with the additional logging enabled.

[2015-12-21 23:53] ihmccreery commented on #18981
Why?  Is this somehow a prerequisite to your work collapsing `e2e.sh` into `e2e.go`?

Yes.  The reason we originally split the runners out into versioned files (one on each branch) was that we wanted to make forward progress (potentially very drastic forward progress) on master without borking the release branch (there's plenty of reading material about this in #17734).  This is a very clear rever

[2015-12-22 00:00] ihmccreery commented on #18846
Is this fixed?

[2015-12-22 00:00] ihmccreery commented on #18579
Closing in favor of #18846.

[2015-12-22 00:00] #18579 closed

[2015-12-22 00:06] ihmccreery commented on #18778
It needs to be sufficient.  If it isn't, that's a problem we need to resolve.

We don't want to block merge-bot on the slow suite because a test flaking blocks the queue for however long it takes to rerun the suite.  With these tests, that suite will be ~3 hours, which is an unacceptably long time to block the merge queue, in my opinion.

Think of non-merge-bot-blocking test suites as "nightly", i

[2015-12-22 00:09] spxtr commented on #18981
Turns out the test-running section of e2e.sh is badly out of date on the release branches, because nobody (myself included) took the time to backport their changes. In order to source control release jobs I'll have to backport some of the changes, but they're all to this part of e2e.sh, so it makes more sense to me to remove the need to do this before proceeding. My changes in particular can't be

[2015-12-22 00:13] spxtr commented on #18846
Not finished yet. The job is on both Jenkinss and looks happy, and the section is removed from e2e.sh on master. Still need to remove it on release branches and then get rid of the flock line in the Jenkins job.

[2015-12-22 00:22] mqliang commented on #18964
@mikedanese I volunteer myself to fix this.

[2015-12-22 00:29] yifan-gu commented on #18776
@vishh @pmorie Is kubelet required to run in a separate mount space than the host? What's the use case for it?

[2015-12-22 00:30] saad-ali commented on #18744
This should be fixed with cherry pick of #18744 to `kubernetes:release-1.1` in PR #18875

[2015-12-22 00:30] #18744 closed

[2015-12-22 00:36] spxtr commented on #12765
Not sure if it's helpful to link these anymore, but this is failing nearly one out of every four runs.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9984/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9979/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9976/
http://kubekins.dls.corp.google.

[2015-12-22 00:44] spxtr commented on #18960
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/7016/console

[2015-12-22 01:02] pmorie commented on #18776
Not sure I understand the question @yifan-gu

On Monday, December 21, 2015, Yifan Gu <notifications@github.com> wrote:

[2015-12-22 01:12] philips commented on #18872
One nice extension would be having the node object hold on to the version of the kubelet that should run. Then the node could boot, check itself on the k8s node API, and download and run the correct version of the kubelet. Having this metadata on node would also open the potential for having a rolling update policy on the kubelet versions.

[2015-12-22 01:12] yifan-gu commented on #18776
@pmorie Sorry, I mean if kubelet is running as a "container", what's the reason that we can't let it run in the host mount namespace? I probably missed this part.

[2015-12-22 01:22] sinzone commented on #8190
For the ones interested small Kong + Kubernetes tutorial http://k8s.uk/using-kong-with-kubernetes.html

[2015-12-22 02:07] Bretto opened #18990 "Error after vagrant halt ./cluster/kube-up.sh"
I can start a fresh vagrant/kubernetes setup with no issue but if I
[code]
I get this error:
[code]
so I have to do a vagrant destroy and start from scratch... how do I fix this ?

[2015-12-22 02:09] nikhiljindal opened #18991 "apiserver: Should api prefix be configurable"
Forked from review comments for https://github.com/kubernetes/kubernetes/pull/18113

Right now, we allow users to configure apiPrefix and apiGroupPrefix while bringing up apiservers (https://github.com/kubernetes/kubernetes/blob/master/pkg/genericapiserver/genericapiserver.go#L147).
But that doesnt really work since "/api" and "/apis" are hardcoded all through our code, both in server and client.

[2015-12-22 02:13] caesarxuchao commented on #18991
I remember openshift needs this prefix to be configurable. IIRC, it's `/oapi`. Don't know if this is still true.

[2015-12-22 02:20] nikhiljindal commented on #18991
I see "api" hardcoded in kubectl: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L543 so kubectl will be broken for them if they were using a different prefix.

[2015-12-22 02:51] smarterclayton commented on #18991
It should be possible to prefix /API with something - the original code would work if --server was a URL with a prefix segment.  I don't think we want to allow /api, /apis, or /oapi to change, but letting someone do --server=http://foo.com/bar/bad (which looks for /bar/bad/api) I think is ok.

[2015-12-22 02:52] smarterclayton commented on #18991
I *think* we should allow third parties to have any URL prefix they want (i.e. /api and /apis are special for backcompat and discovery), but make sure someone does not configure the master that way.

[2015-12-22 04:19] Bretto opened #18993 "Issue running Release v1.2.0-alpha.5"
cd to kubernetes and run:
[code]
error:
[code]
am I missing something ?

[2015-12-22 05:12] saad-ali commented on #18776
@yifan-gu Longer term we'd like to see third party volume plugin code removed from the Kubernetes code base and containerized. In order to support fully custom mount/unmount logic running inside a container we'd need something like Docker's volume mount propagation mode.

[2015-12-22 05:34] saad-ali commented on #18778
Think of non-merge-bot-blocking test suites as "nightly", if that makes sense. There are just some tests that take too long to block the world on. This seems to be one of them.

I'd argue that it's worth fixing/removing the flaky tests in the slow suite first. Once the slow test suite is in a state where a test failure strongly correlates with a regression, then we should have the merge-bot block

[2015-12-22 07:01] wojtek-t opened #18996 "e2e flake: Deployment deployment should delete old pods and create new ones"
Example failure:

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/21619/#

@nikhiljindal @janetkuo

[2015-12-22 07:03] suryaveerc commented on #18933
Just an update on this issue: I tested this with **TCP** and it works fine.

[2015-12-22 07:49] AdoHe commented on #18967
@ssergiienko what version you are using? and what tests you did? You know kubernetes is asynchronous and eventually consistent, I also did some tests and print out some logs from my test plugin, I think the test result is strange. I am not sure whether this is a bug for kubelet, next I will hack the kubelet and add some logs to the kubelet main loop.

[2015-12-22 08:02] wojtek-t commented on #18928
It seems that my fix #18956 didn't help...

[2015-12-22 09:00] kargakis commented on #18943
I cannot access any of those links. Can somebody post the output that indicates the failure here?

[2015-12-22 09:31] runseb commented on #18513
pinging @brendandburns to get his thoughts on this ?

[2015-12-22 09:56] runseb commented on #18513
This is a duplicated of #18239 and the answer seems to be in #16055 which indicates that hyperkube image 1.1.2 may not have nsenter ?

[2015-12-22 10:03] tg90nor commented on #13556
I also have a problem with hostname not matching instance name. In our setup openstack adds .novalocal to hostname. There is no metadata value that specifies the instance name only.

Maybe there should be a field in the openstack cloud config file, to specify hostname suffix, so it can be stripped away?

[2015-12-22 10:23] wojtek-t commented on #18928
One more try to fix tests has just been merged #18999 (although I'm still not able to reproduce them locally)

[2015-12-22 10:29] wojtek-t commented on #18928
Since TestOIDCAuthentication is a different issue - I'm creating a separate issue for that one.

[2015-12-22 10:30] wojtek-t opened #19002 "Data race in TestOIDCAuthentication"
The test is failing with the following race:

    WARNING: DATA RACE
    Write by goroutine 95:
      sync.raceWrite()
          /tmp/workdir/go/src/sync/race.go:41 +0x2e
      sync.(*WaitGroup).Wait()
          /tmp/workdir/go/src/sync/waitgroup.go:124 +0xf9
      net/http/httptest.(*Server).Close()
          /tmp/workdir/go/src/net/http/httptest/server.go:168 +0x80
      k8s.io/kubernetes/plugin

[2015-12-22 10:32] urashidmalik commented on #17882
Issue persists. Validated on 1.1.2. (Cloudformation)

Tried on v1.1.2 getting same error

ERROR
![image](https://cloud.githubusercontent.com/assets/173068/11953232/6e570142-a853-11e5-92c8-1c8e2a4040cd.png)
Version
![image](https://cloud.githubusercontent.com/assets/173068/11953270/b5740264-a853-11e5-8867-23dadd003ff3.png)
POD
![image](https://cloud.githubusercontent.com/assets/173068/11953282/c251

[2015-12-22 10:33] wojtek-t commented on #18845
This one is actually fixed now.

[2015-12-22 10:33] #18845 closed

[2015-12-22 10:41] wojtek-t commented on #18960
I've seen it at least 5-10 times today. One example:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/4aa2121a8e19347b67866cccd5bea738049018d7/kubernetes-pull-test-unit-integration/7063/?debugUI=DEVELOPERS

[2015-12-22 10:55] gmarek opened #19003 "unit flake: k8s.io/kubernetes/pkg/controller/deployment"
This test flaked in #18998, which clearly couldn't impact controller code in any way.

@mikedanese I'm assigning it to you, as you're the one who did last nontrivial changes in deployment controller. Feel free to reassign.

cc @nikhiljindal @mikedanese @wojtek-t @kubernetes/goog-control-plane

[2015-12-22 10:59] wojtek-t commented on #19003
Can you please past the link to failure?

[2015-12-22 11:13] gmarek commented on #19003
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/8d79c606dc29f8caeedb5c0c929a55f4f7f142de/kubernetes-pull-test-unit-integration/7057/build-log.txt

[2015-12-22 11:35] florenthobein commented on #13355
I agree this would greatly increase log readability on the gcl console.

[2015-12-22 11:39] runseb commented on #18239
@2opremio did you manage to find a solution for this ?

[2015-12-22 11:39] magicwang-cn opened #19005 "scheduler: Maximum parallel for findNodesThatFit and PrioritizeNodes"
see [PR](https://github.com/kubernetes/kubernetes/pull/19004)
modify func (`PriorityFunction`) 's last param (`nodeLister NodeLister`) to (`nodes chan *api.Node`). then findNodesThatFit and PrioritizeNodes can be running parallel.
1. once findNodesThatFit finishs predicate, insert the node to channel;
2. priorityFunc in PrioritizeNodes just waiting to read this channel

[2015-12-22 11:40] magicwang-cn commented on #19005
@xiang90 @davidopp @wojtek-t  @HardySimpson @hongchaodeng

[2015-12-22 11:45] 2opremio commented on #18239
@runseb Unfortunately not

[2015-12-22 11:47] 2opremio commented on #18513
@runseb the image in #18239 has nsenter (it was built from master)

[2015-12-22 11:48] runseb commented on #18239
@2opremio is there a version of the hyperkube image and docker for which it works ?

[2015-12-22 11:57] 2opremio commented on #18239
As explained in the report above it does work in certain Vagrant VMs like https://github.com/weaveworks/weave/blob/vagrant-pin-docker/Vagrantfile using 2opremio/hyperkube:81b6ac4 , which is just hyperkube built from commit 816ac4 (you would probably get the same result building from master). See the [simplified version of the boot script I am using](https://gist.github.com/2opremio/12eafc0c2485d8d

[2015-12-22 11:59] mqliang commented on #17390
Intuitively, equivalence pods are created by the same rc, and usually a rc would have a replica number 3-5, so it may improve the efficiency about 3-5 times. But some convincing measurement or benchmark are needed.

[2015-12-22 12:01] magicwang-cn commented on #19005
before optimized,Latest benchmark result on master :
[code]

after optimized:
[code]

[2015-12-22 12:10] wojtek-t commented on #18928
Unfortunately the second fix also didn't help (it seems that flakes are rare even after the first fix, but they are still present... - I will debug more.

[2015-12-22 12:20] runseb commented on #18239
I am running on a single node docker deployment, I tried with docker 1.8.3 and official hyperkube image 1.1.2 (trying now with 1.1.3 which was pushed yesterday). I am still at a loss to understand the issue.

[2015-12-22 12:23] wojtek-t commented on #18928
One more attempt is in #19006

[2015-12-22 12:28] ssergiienko commented on #18967
@AdoHe Kubernetes 1.0.3
If by "what tests you did?" you mean "how to reproduce this" then this is easy - create some RC via kubectl and then delete it... many times in loop with very little delay (we do this with our web-interface start|stop button).

I know that this is due asynchronous nature of kubernetes but if some events in pod lifecycle are lost then this is bug.

Let's assume that in Setup

[2015-12-22 12:39] wojtek-t commented on #18713
I think that it was fixed by increasing the timeout. Please reopen this issue if you observe it again.

[2015-12-22 12:40] fgrzadkowski commented on #18647
The same happened today:
[code]
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9991/

[2015-12-22 12:40] wojtek-t commented on #18913
Yes - this one is fixed. The remaining issue is: #18928, so closing this one.

[2015-12-22 12:40] #18913 closed

[2015-12-22 12:44] fgrzadkowski commented on #18647
False alarm. Failure I've listed has a different root cause.

[2015-12-22 12:46] AdoHe commented on #18967
@ssergiienko I know what you mean. Just like `calico` kubernetes plugin, if the `setup` `teardown` order is not guaranteed, there may be some network sources leak. I will add more logs to kubernetes main loop and try to reproduce this issue.

[2015-12-22 12:51] ttllyy opened #19008 "rolling-update is forced to delete old pod?"
if rolling-update is forced to delete old pod, some responses about old pod will be interrupted.
Example:
Rc (myapp) define replicas 2 and contain 2 pods(myapp-mtlz8, myapp-an78c).
rolling-update rc (myapp).
When create a new pod(myapp-ed4988fb0b53ed961037a026068d1a3d-i8wvt) and start to delete a old pod(myapp-mtlz8).
If old pod is being processed some requests, but the old pod is deleted. So some

[2015-12-22 12:58] sttts commented on #18681
@huang195 thanks for the analysis. In https://github.com/kubernetes/kubernetes/pull/18965 I have decoupled both options.

[2015-12-22 13:33] ssergiienko commented on #18967
@AdoHe Yes, `if the setup teardown order is not guaranteed` - this is the most annoying issue. And if Teardown is absent at all - it's wrong too, but it's easier to workaround.
Anyway, Thanks for help!

[2015-12-22 13:35] azr commented on #16737
I'm having the issue except nothing fails, it's just a pod takes at least 1h to be ready.
To change this set you `--timeout=` to something really bigger than your boot time.

[2015-12-22 14:04] fgrzadkowski commented on #18996
This is actually happening pretty often in gce-parallel:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/13230/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/13239/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/13246/

[2015-12-22 14:09] runseb commented on #18239
@2opremio so you got this to work on docker 1.8.3 with your image 2opremio/hyperkube:81b6ac4 ?

[2015-12-22 14:14] antoineco commented on #4455
@vishh: The default CPU limits set for the monitoring add-on are not realistic in general. These defaults should be increased or better determined when `kube-up` is invoked.

The CPU usage of the components involved in monitoring a cluster running 50 pods on 4 nodes is presented below.

---

**InfluxDB** (300 mC) - idle at 600% :exclamation:

<img src="https://cloud.githubusercontent.com/assets/32

[2015-12-22 14:23] runseb commented on #18239
related #16969 #13791 which have been merged

https://github.com/kubernetes/kubernetes/pull/16969
https://github.com/kubernetes/kubernetes/pull/13791

[2015-12-22 14:35] ihmccreery commented on #18641
@gmarek (or @wojtek-t) What part of this is test-infra?  What does the test-infra team need to do to enable the performance work to be done?

[2015-12-22 14:37] ihmccreery commented on #18371
@jcajka We'll happily accept PRs to add support for whatever architecture(s) you're interested in.  I see it going in two ways:

1. somehow decouple the build infra from the architectures, or
1. explicitly support whatever architecture you're trying to build on.

[2015-12-22 14:38] ihmccreery commented on #18371
I'm marking as priority/P3 for now, but there's something more specific you want/need, please feel free to speak up.

[2015-12-22 14:39] ihmccreery commented on #18155
As far as I understand, this isn't something the test-infra team needs to be working on.  Please correct me if I'm wrong, but I'll remove the label until then.

[2015-12-22 14:40] wojtek-t commented on #18980
hmm - I took a quick look into few random test outputs and it seems that the extremely long things are:
- building - up to 6-7 minutes
- hack/test-go - up to 25 minutes

However, I did some experiments and run:

1. what Jenkins is running:

        wojtekt@wojtekt-work:~/go/src/k8s.io/kubernetes$ make clean
        wojtekt@wojtekt-work:~/go/src/k8s.io/kubernetes$ hack/test-go.sh -- -p=2
It takes ~

[2015-12-22 14:44] peterbourgon commented on #17219
@royklopper That's fine, but it doesn't address the original issue.

[2015-12-22 14:46] ihmccreery commented on #18099
This sounds great to me.  I'd like to see a more thorough design document before serious work begins, so that different teams can weigh in with their needs, etc.  This will be a pretty involved effort, especially if we intend to follow through, (and not leave with some command-line flags, some environment variables, and some data structures).

cc @spxtr specifically, as your work simplifying `e2e.

[2015-12-22 14:50] wojtek-t opened #19012 "Scheduler has 2 rate-limitters doing almost the same"
In scheduler we have two rate-limitters:
- QPS limits: defining client QPS limits:
https://github.com/kubernetes/kubernetes/blob/master/plugin/cmd/kube-scheduler/app/server.go#L124
- Binding limits: defining max bindings limits:
https://github.com/kubernetes/kubernetes/blob/master/plugin/cmd/kube-scheduler/app/server.go#L148

It doesn't make much sense o have both - we have exactly 2 writes per bi

[2015-12-22 15:12] ihmccreery commented on #18097
This doesn't look like a test infra issue as much as an HPA-specific test issue.  Removing test-infra label, feel free to clarify with what you all need from test-infra to get this done.

[2015-12-22 15:14] timstclair commented on #18538
/cc @davidopp

[2015-12-22 15:19] gmarek commented on #18641
Well - it's performance test infrastructure, for which we don't have a specific team AFAIK. We're handling this ourselves.

[2015-12-22 15:20] wojtek-t commented on #18794
Since this code change significantly since then, I'm closing this one. Please open another issue, if you observe it again.

[2015-12-22 15:22] ihmccreery commented on #17879
@gmarek is this done?  Anything else need to happen?  If so, can you please clarify a bit what the workplan is?

[2015-12-22 15:24] gmarek opened #19014 "e2e flake: Kubelet [Serial] regular resource usage tracking for 35 pods per node over 20m0s"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1226/

[code]

cc @kubernetes/goog-node

[2015-12-22 15:24] ihmccreery commented on #17834
Closing as obsolete; please reopen with an explanation if you disagree.

[2015-12-22 15:24] #17834 closed

[2015-12-22 15:25] ihmccreery commented on #17421
Yes, Shippable has been turned off.  Travis can't run our integration tests, due to containerization issues, I believe; Travis is just used for building & linting.  We now run unit & integration tests in our own Jenkins instance.

[2015-12-22 15:25] #17421 closed

[2015-12-22 15:25] gmarek commented on #17879
It's done-ish. We tried to enable it today, but test failed because of lack of file descriptors. I'll look into it given soon.

[2015-12-22 15:29] ihmccreery commented on #17336
@mml sounds reasonable to me, though I'm wary of going out of our way to make Git do something unexpected.  As a developer, I tend to prefer the "standard" over the "correct", even if that means I have to `git stash` or something.  Can you point to other instances where something like this has been implemented, or perhaps some way that Git itself has solved this problem?

[2015-12-22 15:30] ihmccreery commented on #16602
Ping @bprashanth.

[2015-12-22 15:31] jayunit100 commented on #18097
Hi, we've been ccing test infra on all HOA related issues as a matter of practicality. Wether the label is required I'm not sure

[2015-12-22 15:31] ihmccreery commented on #16602
(This is very much related to #10548.)

[2015-12-22 15:34] wojtek-t commented on #3119
@gmarek is working roughly on it

[2015-12-22 15:34] ncdc commented on #18976
cc @DirectXMan12

[2015-12-22 15:34] gmarek commented on #18642
Seeing that noone seems to care about it, I'm going to remove it.

[2015-12-22 15:35] wojtek-t commented on #1277
This is extremely old issue and a lot has been done since then. Can we close it?

[2015-12-22 15:38] ihmccreery commented on #16158
Related to #10548.

[2015-12-22 15:39] ihmccreery commented on #15639
@thockin @fgrzadkowski Is this covered by #11751/#18893?

[2015-12-22 15:57] AdoHe commented on #15056
@glerchundi from your solution, I can see you use a `json` file to configure the etcd, but from the latest kubernetes release, it seems that there is no such configuration option. So how to use secure connection to etcd?

[2015-12-22 15:59] josselin-c commented on #1277
It's okay with me

-----Message d'origine-----
De : "Wojciech Tyczynski" <notifications@github.com>
Envoyé : ‎22/‎12/‎2015 16:36
À : "kubernetes/kubernetes" <kubernetes@noreply.github.com>
Cc : "josselin-c" <thecr3pe@gmail.com>
Objet : Re: [kubernetes] Kube-proxy scaling/perf (#1277)

This is extremely old issue and a lot has been done since then. Can we close it?
—
Reply to this email directly or

[2015-12-22 16:07] xiang90 commented on #19012
/cc @hongchaodeng Related to what we have found.

[2015-12-22 16:38] ihmccreery commented on #14763
Related to #10548.

[2015-12-22 16:55] ihmccreery commented on #18778
I totally hear that.  We're doing a lot right now trying to prioritize fixing flakes.  Rest assured that I'll be taking this stuff into account when working on my follow-up to @bprashanth's #17791.

@saad-ali any specific ideas for improving how we monitor critical builds?  What can we do better to be sure that critical builds are taken seriously?

[2015-12-22 17:28] ihmccreery commented on #18097
@jayunit100 Thanks.  The `area/test` label is sufficient for test stuff, unless you have something specific to infra (e.g. need some modification to the e2e framework).

[2015-12-22 17:33] yujuhong commented on #19014
Thanks for reporting. The test flaked twice in the last 30 builds. Looking now.

[2015-12-22 17:34] ihmccreery commented on #18981
Yes, that's by design, (as weird as that sounds).  The idea was that test infrastructure should be self-contained, and that we should expect that a given branch could take care of itself.  Right now, though, test infra is (1) moving very quickly and (2) not self-contained, thus the painful state we're in right now.

See what you can do about the skip lists; that's the big blocker, as far as I can

[2015-12-22 17:39] skevy commented on #18934
@donbeave any luck on this? fighting the exact same problem on an Azure deployment. worked fine with 1.1.2

[2015-12-22 17:52] vishh commented on #4455
For v1.1, heapster limits were dynamically updated based on cluster size.
AFAIK, there is an issue open to update resource limits even after cluster
bootup, for example when nodes are added or removed.

On Tue, Dec 22, 2015 at 6:15 AM, Antoine Cotten <notifications@github.com>
wrote:

[2015-12-22 17:55] 2opremio commented on #18239
yes

On Tuesday, December 22, 2015, runseb <notifications@github.com> wrote:

[2015-12-22 17:58] DirectXMan12 commented on #18976
Yes -- the target for CPU autoscaling is "percentage of CPU request", so if there are no CPU request values defined on your pods, the HPA controller will fail to calculate the scaling factor.

Limits are not needed for horizontal pod autoscaling.  The target value for CPU-based autoscaling is specified as a percentage of the CPU request.  This is then compared to the actual CPU being used to deter

[2015-12-22 18:06] justinsb commented on #18975
This happened again on the same cluster.  I was unable to SSH in, but this time I just left it alone (did not restart it).  Some hours later, it started responding to SSH again, and uptime indicated that it had not rebooted.

Looking at the `dmesg` output, I can see that kube-apiserver was killed by the OOM killer.  (dmesg output below).  And then some time later, td-agent was killed by the OOM ki

[2015-12-22 18:13] #13062 closed

[2015-12-22 18:13] antoineco commented on #4455
Heapter's **memory** limit is determined automatically, the CPU limit is always 100m. This value is OK, but 100m CPU (and 200Mi memory) for InfluxDB is wildly unrealistic, which was the original topic of this issue.

[2015-12-22 18:16] spxtr commented on #18809
Seeing this often.

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/7102/console
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/7100/console

[2015-12-22 18:25] vishh commented on #4455
@antoineco: What is the size of your cluster?

[2015-12-22 18:34] #17725 closed

[2015-12-22 18:35] #18833 closed

[2015-12-22 18:51] smarterclayton opened #19018 "Remove the concept of "unversioned" types and replace it with common server types and type reuse"
The unversioned concept is not needed.  Every object demonstrably has a schema that constitutes a single version (there is no object without a version).  Unversioned is a limited concept intended to solve two cases - api objects that are not retrieved in the context of a locked version (/apis/, /api/, Status errors encountered outside a scheme), and the reuse of objects across versions.  The latte

[2015-12-22 18:56] smarterclayton commented on #19018
This aligns with other changes we are making (like the internal API group getting a value "__internal" when registered)

[2015-12-22 19:22] yifan-gu commented on #19002
@wojtek-t It looks like the server is stilling handling some request while it's stopped.
Can you check if
https://github.com/kubernetes/kubernetes/pull/18917/files fix this?

[2015-12-22 19:25] smarterclayton opened #19019 "Replace dashes with underscores in go2idl client generation code"
`k8s.io/kubernetes/cmd/libs/go2idl/client-gen/generators/generator-for-type.go` should be `k8s.io/kubernetes/cmd/libs/go2idl/client-gen/generators/generator_for_type.go` as per coding conventions.

@caesarxuchao @wojtek-t

[2015-12-22 19:25] smarterclayton commented on #19019
`client-gen` may remove because it is a command.

[2015-12-22 19:32] caesarxuchao commented on #19019
Thanks for catching it.

[2015-12-22 19:38] antoineco commented on #4455
See my proposal #19020

[2015-12-22 19:40] ihmccreery commented on #18952
Note that this test is in the parallel-flaky suite, and after #19021 is merged, it will simply be `[Flaky]`.  It should be cleaned up and moved out of that suite, or added to the `[Disruptive]` or `[Serial]` labels.

[2015-12-22 19:43] offlinehacker opened #19022 "fluentd logging should set dynamic elasticsearch type based on logged data"
## Problem:

Currently all logs logged with fluentd are saved to elasticsearch under one type, which could cause problems if multiple containers are logging json output with same attributes. Fluentd logging should have distinct type names based on namespace name and container name
## Possible solution:

We fixed this by using elasticsearch_dynamic plugin type: https://github.com/uken/fluent-plugin

[2015-12-22 19:43] ihmccreery commented on #15052
I'm closing this as a duplicate of #17829.

[2015-12-22 19:43] #15052 closed

[2015-12-22 19:48] ihmccreery opened #19023 "All DaemonRestart tests are flaky in parallel"
#17829 notes that the Controller Manager test is flaky, but actually, *all* of the DaemonRestart tests are in the `PARALLEL_FLAKY` suite.

They should all be de-flaked, or moved into [Serial] or [Disruptive] if they can't be run in parallel for some reason.

(In #19021, I'm removing the notion of parallel-flaky: either a test is flaky or it's not—and if it shouldn't be run in parallel, then it oug

[2015-12-22 19:53] ihmccreery commented on #19023
Note that these tests were noted as parallel-flaky in #11339.

[2015-12-22 19:54] ihmccreery opened #19024 "ServiceAccounts tests are flaky in parallel"
`ServiceAccounts` e2e tests are flaky when run in parallel, and should be deflaked.  Or, if they shouldn't be run in parallel, feel free to add the `[Disruptive]` or `[Serial]` label to the appropriate tests.

These tests were marked as flaky-in-parallel in #11291.

Assigning to @saad-ali; feel free to reassign.

[2015-12-22 19:55] ihmccreery commented on #19024
Note that I'm removing the notion of "flaky-in-parallel" in #19021 entirely, so they're just be considered "flaky".

[2015-12-22 20:09] ixdy commented on #18980
`-p=2` is limiting Go to using only 2 CPU cores, rather than the number available on the machine, so it makes sense that it's slower with that flag.

I think the limit comes from Travis and Shippable, where CPU is more constrained. We can probably try removing it or setting it to something higher and see if that helps.

[2015-12-22 20:16] ihmccreery opened #19026 "Namespaces should delete fast enough is flaky in parallel"
`Namespaces should delete fast enough (90 percent of 100 namespaces in 150 seconds)` is flaky in parallel.  It was marked as flaky-in-parallel in #13810.

It should be deflaked. Or, if they shouldn't be run in parallel, add the `[Disruptive]` or `[Serial]` label to the test.

[2015-12-22 20:24] ihmccreery commented on #10548
As I'm working through this, I'm trying to drive down the number of different ways we partition tests so that it's clearer.  E.g. in #19021, I'm removing the notions of having flaky-in-parallel and flaky-in-gke.  Either a test is flaky or it's not.  While this might seem cumbersome, it will significantly reduce the cognitive load of having to deal with N different partitions of the tests.

[2015-12-22 20:28] ihmccreery opened #19027 "Remove `Pods should cap back-off at MaxContainerBackOff` from [Slow]?"
Now that #12648 is merged, can we remove `Pods should cap back-off at MaxContainerBackOff` from the `[Slow]` suite?  https://github.com/kubernetes/kubernetes/pull/13180 marked it as slow with a PR reference to #12648.  We should either remove it, or mark it as slow-by-design.

[2015-12-22 21:00] mikedanese commented on #16623
This hasn't flaked in a week

[2015-12-22 21:04] mikedanese commented on #19026
@davidopp I can look at this if you like. I have 2 other flakes that I am assigned to at the moment though and I'm not familiar with the test.

cc @derekwaynecarr

[2015-12-22 21:31] joshk0 opened #19029 "iptables kube-proxy could handle UDP backend changes better"
I encountered a strange issue after opting-in to kube-proxy iptables support.

Steps to repro (I think):
1. Create a Service for a UDP port (say 8125; in my case, this was statsd)
2. Create pods that bind to this Service
3. Start a client Pod that uses the Service, e.g. via environment variable which specifies the VIP for the Service. This client writes a UDP packet to the Service every 10 seconds

[2015-12-22 21:36] spxtr commented on #18960
I set `git config --global http.postBuffer 524288000` as suggested in several places. LMK if it fails again.

[2015-12-22 21:37] luxas opened #19030 "Forward cluster/get-kube-local.sh to https://get.k8s.io/local and document it"
@fgrzadkowski You mentioned in `cluster/get-kube-local.sh` that one may: `wget` or `curl` ` https://get.k8s.io/local` to get kubernetes-in-docker up and running fast.

However, it seems like you guys haven't made the forwarding rule yet.
After that I may send a PR that informs the user of this feature.

[2015-12-22 21:54] wojtek-t commented on #18980
ohh - I though that -p=2 is just causing to run up to 2 tests in parallel - not limiting the cpu usage.

[2015-12-22 21:57] wojtek-t commented on #19003
This failed again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/4945/

@mikedanese @nikhiljindal - can one of you please take a look?

[2015-12-22 22:06] ihmccreery commented on #14763
Right now we have 5 tests that are both `[Skipped]` and `[Conformance]` ... can we make a rule that you can't have a test that's labeled as both?

[code]

[2015-12-22 22:07] #18929 closed

[2015-12-22 22:07] ihmccreery commented on #14763
(I'm hoping that in fixing #10548 we'll get rid of `[Skipped]` entirely, but this would make progress toward that.)

[2015-12-22 22:08] #18796 closed

[2015-12-22 22:57] nikhiljindal commented on #18943
First failure:
[code]
Second:
[code]

[2015-12-22 23:11] nikhiljindal opened #19032 "master.Config.StorageVersion is redundant with KUBE_API_VERSIONS"
master.Config.StorageVersion enables users to change the storage version for each group supported by api server.
Same thing can be done using KUBE_API_VERSIONS env variable.

Documentation says to use KUBE_API_VERSIONS to switch the storage version https://github.com/kubernetes/kubernetes/blob/master/docs/admin/cluster-management.md#switching-your-clusters-storage-api-version.

Do we need to suppo

[2015-12-22 23:11] freehan opened #19033 "Next Step for Private Registry addon"
Continuing discussion in #1319
## Current state:

https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry
## What can be done:
1. Switch the kube-registry image storage to use GCS/S3.
2. Expose external ip for kube-registry. Better with TLS and authentication enabled.
3. On each node, add kube-registry as insecure-registry. This can be done by setting flag KUBE_ENABLE_INSECURE

[2015-12-22 23:12] nikhiljindal commented on #19032
cc @kubernetes/sig-api-machinery

[2015-12-22 23:17] caesarxuchao commented on #19032
We still need master.Config.StorageVersion. Because in #18925, we *stops* requiring the versions in KUBE_API_VERSIONS to be in the order from most preferred to least, so users cannot use KUBE_API_VERSIONS to change the storageVersions anymore. They should use --storageVersions to change the storage version, by default the storage version will be the first version in the `availableVersions` in each

[2015-12-22 23:21] nikhiljindal commented on #18991
Yes it seems fine to allow third parties to have any URL prefix, but is there a real use case?
We will need to do some work to enable that.

cc @kubernetes/sig-api-machinery

[2015-12-22 23:29] smarterclayton commented on #18991
Third parties should be registering their endpoints for each version
with the apiserver - there should be no scenario under which a client
ever knows anything about the path except as an opaque value.
Anything other than the root discovery URL is arbitrary (and that
should be opaque as well to anything except the client defaulting
code).

[2015-12-22 23:34] mikedanese opened #19035 "Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster failed twice today"
Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster.

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/monitoring.go:46 Dec 22 15:15:02.489: monitoring using heapster and influxdb test failed

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9994/
http://kubekins.dls.corp.google.com/v

[2015-12-22 23:37] mikedanese opened #19036 "e2e flake: Density [Skipped] [Performance] should allow starting 30 pods per node"
Density [Skipped] [Performance] should allow starting 30 pods per node

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/density.go:149 There should be no high-latency requests Expected : 1 not to be > : 0

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3584/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/

[2015-12-22 23:37] sachingharge commented on #18976
@DirectXMan12
Okay, it means CPU request value mentioned is compared against target to determine autoscaling.

As per my understanding, combination of request and limit resources will help to determine and use only dedicated resources values for particular pod.

I need some examples or inputs on how to determine and use most appropriate CPU and RAM values for resources.

[2015-12-22 23:40] yujuhong opened #19037 "Kubelet should handle pod deletion better"
kubelet is responsible for deleting pods when the `DeletionTimestamp` is set. Normally a pod worker (goroutine) will kill the containers in a pod and  generate a new status. Then the status manager will [delete the pod](https://github.com/kubernetes/kubernetes/blob/0b647564fce5e3450536388fa0067ca2e347310f/pkg/kubelet/status/manager.go#L376) after successfully updating the status. However, if the p

[2015-12-23 00:20] HaiyangDING commented on #18754
cc @HaiyangDING

[2015-12-23 00:26] saad-ali commented on #19024
I have no context on `ServiceAccounts`. I believe they fall under the `control-plane` team. Reassigning to `control-plane` team TL for triage.

[2015-12-23 01:03] justinsb commented on #18604
I hit this also.

I was also seeing this error in syslog around the same time (repeating rapidly):

[code]

Is it possible that we "leak" connections in this case?  Or could it be that rapid retries just overwhelm the connection tracking table?

[2015-12-23 01:22] rasekar2000 opened #19039 "missing sentinel.py in redis image creation"
Hello Team,

https://github.com/kubernetes/kubernetes/blob/release-1.1/examples/redis/image/Dockerfile#L8

COPY sentinel.py /sentinel.py file is missing in this latest version.

Thanks and Regards,
Raj

[2015-12-23 01:29] Random-Liu commented on #19037
A Humble Idea:
I found that pod worker has no state associated to specific pod, maybe for the no corresponding pod worker problem, we can always have a reaper pod worker which handles all the updates of all the other dead pod workers.

[2015-12-23 01:47] #18871 closed

[2015-12-23 02:48] saad-ali commented on #18778
The goal is to minimize the amount of time required to identify a breaking change and get it rolled back. The first part of what you said, "fixing flakes", I think is a critical first step. Once that happens we can empower on-call to hunt down and roll back any PR that causes a regression in a critical build, instead of letting it go since it's probably a flake.

[2015-12-23 02:48] roberthbailey opened #19041 "Add Auth to the controller manager and scheduler endpoints"
https://github.com/kubernetes/kubernetes/pull/18357 exposes the controller manager and scheduler (which both use host networking) by binding them to `0.0.0.0` instead of `127.0.0.1` by default. I'm creating a tracking bug to add auth to these endpoints, as this could otherwise become a security risk in the future. For now we believe it's ok as they only expose debugging data (pprof and metrics).

[2015-12-23 03:51] nikhiljindal opened #19044 "Jenkins failing with `build/common.sh: No such file or directory`"
Logs:
[code]

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/21725
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/21724

cc @kubernetes/goog-testing

[2015-12-23 05:50] thockin commented on #18604
Justin,

It's possible, of course, but no other indicators of leaks.

On Tue, Dec 22, 2015 at 5:04 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-12-23 06:09] nikhiljindal commented on #19044
https://github.com/kubernetes/kubernetes/pull/19045 is out to fix this

[2015-12-23 06:17] thockin commented on #19029
With a UDP "connection" you can be sending packets to the old IP to your
heart's content and they will go nowhere and that is just part of using
UDP.

Take the proxy out of the picture: If you net.DialUDP to a non-existent
port and send data, it will happily "succeed" but there's nobody
listening.  If you have a UDP "connection" to an IP:port and are sending
data and the remote side dies, your app

[2015-12-23 06:21] thockin commented on #18934
What does /etc/resolv.conf look like when DNS is not working (inside a pod)

On Sat, Dec 19, 2015 at 12:46 PM, BeaVe <notifications@github.com> wrote:

[2015-12-23 06:25] thockin commented on #18933
UDP through the proxy is pretty geared towards DNS - single-use connections
with very short timeouts.  You might need to crank the UDP timeout up
(available in kube v1.1) - see `--udp-timeout` on kube-proxy

or you can try the pure iptables proxy in kube v1.1

On Mon, Dec 21, 2015 at 11:04 PM, suryaveerc <notifications@github.com>
wrote:

[2015-12-23 06:29] wojtek-t commented on #19036
@gmarek - can you please increase limit for kibana (one of those failures above)?

[2015-12-23 06:33] wojtek-t commented on #19044
I've just merged it manually - hopefully will fix the problem.

@k8s-oncall - FYI

[2015-12-23 06:34] wojtek-t commented on #18794
I've just seen it again - reopening.

[2015-12-23 06:35] thockin commented on #18717
Logs are not found and this is obviously some infra flake.  Closing for now.

[2015-12-23 06:35] #18717 closed

[2015-12-23 06:35] wojtek-t commented on #18794
I'm on vacation now - may look into it once I'm back.

[2015-12-23 06:39] thockin commented on #16883
This is P0

[2015-12-23 06:40] wojtek-t commented on #19002
I'm OOO now, so I cant verify. @gmarek - maybe you can take a look? We may want to merge that PR.

[2015-12-23 06:43] wojtek-t commented on #18928
@fgrzadkowski - hopefully it was finally fixed in the fourth attempt :)
I will keep it open for some more time to monitor it, but it seems that is finally done now.

[2015-12-23 06:47] thockin commented on #18963
This is not the proxy with which I am at all familiar.  @lavalamp for a better assignee?

[2015-12-23 06:59] thockin commented on #18911
libnss is a library - for us to use that, we'd have to force every
container to use our library, which is a non-starter.

That aside, read over https://github.com/docker/docker/issues/17190 for a
sense of why manipulating files in a user's container is a really hard
problem and a bad idea :)

On Sat, Dec 19, 2015 at 12:00 PM, Tamas <notifications@github.com> wrote:

[2015-12-23 06:59] #18911 closed

[2015-12-23 07:34] gmarek opened #19048 "Figure out the root cause for 1000 node cluster density flakes"
In some of the runs we observe pod startup lantencies > 1m and we have no idea how.

cc @kubernetes/goog-control-plane @brendandburns @wojtek-t @fgrzadkowski @davidopp

[2015-12-23 07:38] #19003 closed

[2015-12-23 07:42] gmarek commented on #19036
I'm not sure if that's a correct course of action - currently the limit is .05 CPU, and it passes nearly all the time. This failure is for nearly .5 CPU so it's a 10x difference. Increasing it that much will make the test pretty much useless and we'll miss real regression.

Sadly, I think we need to learn how to live with sporadic failures of this kind - we depend on 3rd party code, which may have

[2015-12-23 07:56] Hui-Zhi opened #19049 "Nvidia GPU should be supported in K8s, and the feature could be added like this."
Please let know if this design is OK for GPU in K8s or you need more details.
#
# Requirements:

GPU is important to lots of workloads, such as machine learning, video stream decoding/coding, etc... But Kubernetes doesn't support schedule/tracking it which need to be.
#
# Design:

To support GPU in K8s, there's 2 capabilites need to be enabled,

[code]
#
# YAML example:

apiVersion: v1
kind: Pod
m

[2015-12-23 08:04] donbeave commented on #18934
@skevy I was solved it with one experimental flag `proxy-mode=iptables`, I running Kubernetes proxy in this way:
[code]

[2015-12-23 08:18] AdoHe commented on #18967
@ssergiienko Based on the latest kubernetes, I did more tests. First I use this script to do pod creation and deletion:
[code]
Then I write a custom network plugin, add some log sentences to `setup`, `teardown` commands. I also add extra logs to `kubelet`, especially the `podStorage` <b>merge</b> method, `DockerManager` <b>SyncPod</b> <b>KillPod</b> methods. From the test result, I think the `setu

[2015-12-23 08:20] gmarek commented on #17931
It happened again: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/a4202cbee9eb362da61cd2c4c74e217ca4fd0bdc/kubernetes-pull-build-test-e2e-gce/21745/build-log.txt

@timstclair - what's the status of this?

[2015-12-23 08:35] gmarek commented on #19002
So far I'm unable to reproduce the problem on the head, which suggests it's a rare flake.

[2015-12-23 08:37] gmarek commented on #19002
It failed in the same minute I wrote previous message.

[2015-12-23 08:51] yifan-gu commented on #19002
@gmarek Even if you pulled #18917 ?

[2015-12-23 08:51] fgrzadkowski commented on #15639
AFAIU the answer is not. This issue is about images for tests. I'm trying to address production images.

[2015-12-23 08:52] gmarek commented on #19002
Yup. It doesn't help.

[2015-12-23 08:54] gmarek commented on #17781
Actually it isn't fixed. It just failed in gke-ci: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/10073/

[2015-12-23 08:55] fgrzadkowski commented on #19030
I'm not sure what PR you want to send, but I think that for now we should just remove this comment from the script. I hoped to get it done faster, but this will have to wait until next year.

[2015-12-23 09:07] wojtek-t commented on #19036
ohh - I didn't look at the exact value. I agree that incrasing it to 0.5 doesn't make much sense. I will think if we can do something else to prevent such future failures...

[2015-12-23 09:15] luxas commented on #19030
OK, I just thought about adding that info to `docker.md`.
So the user don't have to type the long `docker run` command, but instead just type `curl`.
I'll wait for it :smile:
Maybe you could self-assign if you're gonna do it

[2015-12-23 09:19] gmarek commented on #19036
Changed the name to match most other flake related issues.

[2015-12-23 09:25] gmarek commented on #3119
Current plan is to embed them into scalability test runs, in the same way we do with API call latencies and e2e pod startup times.

[2015-12-23 09:27] gmarek commented on #19036
To sum it up:
- first failure is 'real flake' in a meaning, that really something bad happened with kibana
- second failure is a long e2e startup latency. I believe it's the same thing as (#19048)
- third failure is long pod POST call, which we were observing for quite some time, but thought it's a temporary issue with infrastructure (#18608)

[2015-12-23 09:35] SunWeicheng0001 commented on #17205
I use ubuntu to deploy k8s, which came the same result. I use the script in cluster/ubuntu. All the thing are maintain default, except some configuration in cluster/ubuntu/config-default.sh
my deploy output is as follows
[code]
Anybody know why?

[2015-12-23 10:17] luxas commented on #16943
@yujuhong How do you measure these things?

The thing is, I'm gonna try to reproduce this on 3 quad-core Raspberry Pi 2´s.
But I don't know which program I should use...

Just now I'm working on merging my [kubernetes-on-arm](https://github.com/luxas/kubernetes-on-arm) work with k8s: #17981, and this would be great to know.
Thanks!

[2015-12-23 10:17] errordeveloper commented on #16706
@lavalamp I am using a script already:
[code]

[2015-12-23 10:28] errordeveloper commented on #16706
However, I just thought it'd be much nicer to have one of the these two:

a) Allow passing DNS name instead of IP address:
[code]

b) Allow passing interface name instead of exact IP address:
[code]

Although, in both cases I'm not sure why I would have to pass all these flags with the same value an a shortcut would be even much nicer!

[2015-12-23 10:30] errordeveloper commented on #16706
Of course, I can stick with what I have. I might make a pull-request to add a helper script in the upstream container image, if people think it's appropriate.

[2015-12-23 10:31] gmarek commented on #19048
One observation: all 'bad' pods are created within few seconds - they generally have consecutive, or nearly consecutive numbers. E.g.
[code]
Slowest ones are: 1, 2, 7, 4, 6, 5, 3, 11, 12, 10

With @wojtek-t we've seen the same thing on >1m startup latencies in 1000-node cluster runs. We're not seeing such failures in Kubemark, but it's possible that they are small enough to pass under the threshol

[2015-12-23 10:44] gmarek opened #19053 "e2e flake: Services should work after restarting apiserver"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10009/
[code]

@kubernetes/goog-csi

[2015-12-23 10:51] luxas commented on #4869
@pmorie As I understand it, docker has merged the required code for this and will be available in `1.10`
Ref: #18776
So this will be easier in the future

[2015-12-23 10:59] kargakis opened #19054 "Server-side cascading deletion"
I think it makes sense to maintain the ability to choose between cascading and non-cascading deletion once we move reaping server-side (https://github.com/kubernetes/kubernetes/issues/12143). This will most probably be a field in api.DeleteOptions. Opening this issue to track that change and capture any discussion regarding server-side reaping.

cc: @liggitt @bgrant0607 @soltysh @deads2k @smarterc

[2015-12-23 11:06] AdoHe commented on #18868
@Smana from your stackoverflow link, I think the root cause is this: `unable to find Docker container "d3c1a6936a84028bd420f75c44a13a6ad7c816b651d33877352f2708dccbd943"`, this is because the `cadvisor` cannot get this container in the Docker container namespace.

[2015-12-23 11:07] smashraf opened #19055 "The DnsName and vnet should be able to be passed as desired and should not be hardcoded"
Right now when we create a vm the vnet value as will as the dns name are hardcoded.There should be an option to pass vnet name as well desired dnsvalue for the vm to be created.

[2015-12-23 11:10] AdoHe commented on #18868
@vishh I use this script to test the `/stats/` api, and find it is ok.
[code]
Also from the latest kubernetes code, I think in success case, we get HTTP status code `200`, so what you mean even get HTTP error code in success case?

[2015-12-23 11:15] dalanlan commented on #17205
@SunWeicheng0001  Please pull from HEAD. Stick to the doc.

[2015-12-23 12:17] resouer commented on #16706
Personally, I prefer your work around to adding a new flag :)

[2015-12-23 13:39] kargakis opened #19059 "kubectl enhancements for Deployments"
I want to be able to 1) expose a Deployment as a service and 2) attach to a running Deployment.

So a couple of enhancements that may need to happen in kubectl:
[code]

@kubernetes/kubectl @nikhiljindal

[2015-12-23 14:00] calvix opened #19060 "mount ceph (or any other) volume with specified uid,gid and umask"
Hello,

currently i am trying to setup OpenShift with Ceph as a Persistent storage. When I try to run default OpenShift templates like mysql-persistent and mongodb-persistent. I run into problems because ceph pv is mounted with default mount dir permission (0755) and default uid and gid (root root).

Services likes mysql and mongodb can not write into data folder (which is where ceph pv is mounted

[2015-12-23 14:23] SunWeicheng0001 commented on #17205
@dalanlan I just pull from the HEAD, but it remains same... Is there any other problems?

[2015-12-23 15:01] gmarek commented on #18996
New one: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/13293/

[2015-12-23 15:01] #17826 closed

[2015-12-23 15:04] gmarek opened #19064 "e2e flake: Deployment deployment should scale up and down in the right order"
It failed 3 times in last half a day:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/13297/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/13289/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/13287/

cc @janetkuo @nikhiljindal @wojtek-t @kubernetes/goog-csi @kuberne

[2015-12-23 15:05] bboreham opened #19065 "VAGRANT_DEFAULT_PROVIDER: unbound variable"
If you have vagrant installed but none of the providers is found and you haven't set `VAGRANT_DEFAULT_PROVIDER`, this happens:

[code]

[2015-12-23 15:32] fgrzadkowski commented on #19044
This was fixed by reverting #18893 in #19045

[2015-12-23 15:32] #19044 closed

[2015-12-23 15:59] gmarek opened #19067 "unit flake: k8s.io/kubernetes/pkg/util/wait"
It failed in unrelated PR #18702

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/4aa2121a8e19347b67866cccd5bea738049018d7/kubernetes-pull-test-unit-integration/7211/build-log.txt

Assigning @bprashanth as he's the last one to touch this directory.
cc @brendandburns @smarterclayton @thockin @jayunit100 @ncdc

[2015-12-23 16:04] jonathan-kosgei opened #19068 "Flannel doesn't start"
I'm working with 2 centos 7.1 nodes trying to setup a kubernetes cluster with flannel and etcd. However flannel fails with the following error:
-- Logs begin at Wed 2015-12-23 13:00:41 UTC, end at Wed 2015-12-23 16:03:54 UTC. --
Dec 23 16:03:47 sc-test2 systemd[1]: docker-storage-setup.service: main process exited, code=exited, status=1/FAILURE
Dec 23 16:03:47 sc-test2 systemd[1]: Failed to start

[2015-12-23 16:05] jonathan-kosgei commented on #19068
I set the key like so, on the master:
etcdctl mk /coreos.com/network/config '{"Network":"172.17.0.0/16"}'

[2015-12-23 16:16] #15368 closed

[2015-12-23 16:16] fgrzadkowski commented on #15368
I've changed my approach to containerized kubelet, so this one is not needed anymore.

[2015-12-23 17:04] smarterclayton commented on #19054
In another issue we discussed whether cascade should default true or false.  After thinking it over a fair amount, I believe it would be more correct to default false.  Also captured for posterity - graceful period seconds and cascade have to be distinct options (graceful probably affects the children in this case), but we can't use graceful = 0 to indicate cascade false (since user may want to ca

[2015-12-23 17:06] liggitt commented on #19054
also, combining grace and cascade gets weird...

[2015-12-23 17:26] philips commented on #18776
@saad-ali  Is there a design document on how you see the third party plugins will be pulled out and isolated?

[2015-12-23 17:40] Hui-Zhi commented on #17035
I have opened an issue for this,#19049 ,could u help review it?

[2015-12-23 18:06] mzupan commented on #18652
anything on this.. i'm trying to run things inside the kube-system namespace and not sure if its forcing a location to a certain service or what

[2015-12-23 18:29] rasekar2000 commented on #19039
import json
import sys

data = json.load(sys.stdin)

if data and "endpoints" in data and len(data["endpoints"]) > 0:
  host = data["endpoints"][0].split(":")[0]
else:
  host = "localhost"

print "sentinel monitor mymaster %s 6379 2" % host
print "sentinel down-after-milliseconds mymaster 60000"
print "sentinel failover-timeout mymaster 180000"
print "sentinel parallel-syncs mymaster 1"

--> Taken

[2015-12-23 19:10] lakhindr opened #19071 "Cassandra (example) doesn't start."
The simplest way to reproduce is to run kubernetes in Docker, using hack/local-up-cluster.sh
(latest code from github, today: commit ac0ce7257b89e01d96fee4cecc3560beff682e9c)

And then run 'kubectl create -f /usr/src/kubernetes/examples/cassandra/cassandra.yaml'

/usr/src/kubernetes# kubectl get po
NAME        READY     STATUS             RESTARTS   AGE
cassandra   0/1       CrashLoopBackOff   2

[2015-12-23 19:24] joshk0 commented on #19029
to try it) to kill NAT entries.  Seems like a pretty easy project for
someone to tackle.

Yeah, this is basically my suggestion here. With the userspace kube-proxy in this scenario, as long as the proxy itself stays up, the endpoints can rotate out without affecting reachability.

With iptables, when an endpoint rotates out, the socket will continue connecting to a dead endpoint. So that's a concr

[2015-12-23 20:18] jdreno opened #19072 "ABAC example_policy_file.jsonl missing "spec":"
pkg/auth/authorizer/abac/example_policy_file.jsonl does not have the "spec" element wrapping the policy spec parts ("user" and afterward), as required for version v1beta1.  Hence it does not parse correctly.

[2015-12-23 20:31] cognitiaclaeves commented on #1319
It turned out that it was easier to just deploy a v2 registry container
<https://docs.docker.com/registry/deploying/>. ( I had previously been
trying to get a v1 registry working out of a VM. )

The reason for the private registry is to give kubernetes nodes a means for
running images in a protected subnet. The way it is now, I pull images I
need from outside registries, tag and push them into the

[2015-12-23 21:03] alexisvincent commented on #9822
Whats the status on this?

[2015-12-23 21:21] alexisvincent commented on #17562
+1

[2015-12-23 21:25] saad-ali commented on #18776
@philips No detailed design doc yet, but high level proposal here: https://github.com/kubernetes/kubernetes/issues/18333

[2015-12-23 21:46] jason-riddle opened #19073 "Deploying/updating pods across multiple namespaces"
So far, the examples listed for when using namespaces deal with isolating different environments (dev, prod, etc.). My use case is slightly different. I don't want to use namespaces to isolate pods at an environment level but at a team level (team A, team B, etc.).  While it looks like namespaces can accomplish this, I also need to roll out the same replication controller and service to each names

[2015-12-23 21:54] jason-riddle commented on #19073
I would ideally like to specify multiple namespaces.
[code]
and if possible, avoid using a bash for loop, since if the task were up to <code>kubernetes</code> then it could stop or minimize propagating failures or handle any other scenario that might come up.

[2015-12-23 22:09] alexisvincent opened #19075 "Replication Controller with metadata.name length equal to 55 characters fails."
When creating a replication controller whose metadata.name has a length of exactly 55 characters, the template pods will fail to start with:

[code]

repeated many times.

Desired Action:
Pod is created successfully

Actual Action:
Pod fails with error above

Steps to reproduce:
Create a replication controller with a name exactly 55 characters long.

Here is a json config for reproducibility.

[co

[2015-12-23 22:34] janetkuo commented on #18996
I'm OOO and will be back on Jan 5. I don't have my laptop with me at this
moment. I'll look at this when possible.

Janet
On Thu, Dec 24, 2015 at 12:01 AM Marek Grabowski <notifications@github.com>
wrote:

--
Best,
Janet Kuo

[2015-12-23 22:36] janetkuo commented on #18943
I'm OOO and will be back on Jan 5. I don't have my laptop with me at this
moment. I'll look at this when possible.

Janet

On Wed, Dec 23, 2015 at 7:58 AM Nikhil Jindal <notifications@github.com>
wrote:

--
Best,
Janet Kuo

[2015-12-23 22:37] janetkuo commented on #19064
I'm OOO and will be back on Jan 5. I don't have my laptop with me at this
moment. I'll look at this when possible.

Janet
On Thu, Dec 24, 2015 at 12:04 AM Marek Grabowski <notifications@github.com>
wrote:

--
Best,
Janet Kuo

[2015-12-23 22:51] suryaveerc commented on #18933
Thanks for the suggestion.

As you suggested I switched to pure iptables proxy. Below is the kube-proxy.service, which I changed:
[code]

Now, nothing is working. I mean I can't connect to service or nodeport. Pods are only accessible from the pod IPs.

I don't see change in iptables after creating services. sudo iptables -L -nvt nat.

[code]

Thanks

[2015-12-23 23:04] huang195 commented on #18681
@sttts: glad we can help. However, I'd like to understand more about making code contributions in this project. As you can see, I've opened a PR (#18711) for this problem after finding the workaround as it could help more folks getting the `kubectl logs` command working. That PR was assigned to @jdef, but it was stuck in an Open state for a while now (maybe because I am not white listed? I'm not s

[2015-12-23 23:25] therc commented on #19049
Reserving one GPU to one pod is a start, but it should also be possible to pack several jobs on the same GPU, if the sum of their video memory requirements fit what the GPU offers, to increase utilization. There are limits in terms of cores each GPU provides, of course, but there also seem to be limits in the runtime as well. This paper claims that as of a few years ago you couldn't share a GPU mo

[2015-12-23 23:49] jmartin127 opened #19076 "skydns not working on local ubuntu setup"
I have kubernetes running locally using hack/local-up-cluster.sh.  I then installed the add-ons using: cluster/ubuntu/deployAddons.sh.  However, DNS is not working properly as seen by:

Running nslookup within a simple buxybox pod:
[code]

Here are the skydns logs:
[code]

resolv.conf on the skydns pod

[code]

resolv.conf on the host

[code]

The skydns pod is not running with net=host

The comma

[2015-12-24 00:36] smarterclayton commented on #18928
I just saw it https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/2ba3e9748cdcba7f5cb58ef34c697ada2d8c0ba5/kubernetes-pull-test-unit-integration/7258/

[2015-12-24 00:51] yifan-gu commented on #19002
Closing, as this should be fixed by #18917
Feel free to reopen if the failure happens again :)

[2015-12-24 00:51] #19002 closed

[2015-12-24 01:04] anguslees commented on #13556
@tg90nor: I think https://github.com/jsafrane/kubernetes/commit/7fc8bcae60b14cb59f803a53868172218fc6b034 addresses your issue.

[2015-12-24 01:14] karlkfi commented on #14763
@ihmccreery The conformance test script skips `[Skipped]` tests. I assume the skipped tests are flakey and need to be fixed to be less flakey, but I really have no idea why they were added to conformance. We don't really have any formal process of adding things to conformance or skipped in the first place. So we probably want to formalize those before adding arbitrary rules around them.

[2015-12-24 01:20] karlkfi commented on #18241
For reference: #18322 uses license sentence matching to create a list of Godep project licenses.

[2015-12-24 03:35] keithdadkins commented on #15160
Same issue with m3.medium and ubuntu vivid. Lost cluster after master rebooted (emergency mode).

[2015-12-24 04:14] stuartbassett opened #19077 "Image pull progress should be exposed"
If a container is waiting for an image to be pulled before it can start, it would be nice to see the progress of that pull in kubectl, so that the user can know if they have time for another cup of coffee.

An api endpoint to give a progress update, possibly with a watch option, would be ideal.
It would also be helpful to include this in the container information in each pod.

For example, running

[2015-12-24 04:33] davidopp commented on #18848
@resouer Would you be interested in working on this?

[2015-12-24 05:37] tg90nor commented on #13556
Indeed it does. Thanks!

[2015-12-24 06:04] resouer commented on #18848
@davidopp It's interesting, I'm in :)

[2015-12-24 06:14] linfan commented on #10522
Mac 10.11.2 installing kubernetes 1.1.3 got same issue:

[code]

I think the fix didn't catch the root cause.

[2015-12-24 06:36] resouer commented on #18848
And I can see on node side, #18611 is closely related and hopefully to be merged.

[2015-12-24 06:39] wojtek-t commented on #18928
yeah - I've also seen one flake of pkg/registry/generic/etcd
However, since the last fix I didn't see any pkg/storage/etcd failure.

[2015-12-24 07:35] spxtr commented on #18960
Still failing ~1/20

[2015-12-24 07:58] gmarek commented on #18928
I've seen one now: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/dec5096bfd0dc6f3c4894a9fe88850efae110825/kubernetes-pull-test-unit-integration/7275/build-log.txt

[2015-12-24 07:59] wojtek-t commented on #18928
yeah - me too :)

Those flakes are much less frequent now, but they are still there...

[2015-12-24 10:04] sttts commented on #18681
@huang195 sorry, that we did duplicated work. I simply did not know about #18711. Otherwise, I would have helped to get that in of course.

In general we are very happy about contributions. If you have PRs in the pipe, let us know. Having said that, I think in the case of #18711 it was unlucky timing. @jdef left for xmas vacations on the day the PR was created.

About a better process: we usually

[2015-12-24 11:37] cameronbrunner opened #19079 "Representation of Organizational Entites"
@davidopp

We have a need to be able to label pods with the 'primary' user in order for our custom scheduler to make better decisions during periods of resource contention.  Additionally we would like to have our users belong to one-to-many groups representing an organizational hierarchy such that our group base scheduling decisions can be made.  I think that native representation of organizationa

[2015-12-24 11:48] cameronbrunner opened #19080 "Cluster Scoped Resources"
@davidopp

Kubernetes should add Cluster Scoped Resources .  Cluster Scoped resources are consumable resources that do not belong to any specific node but instead belong to the cluster.  A simple example are software licenses that can be shared through an network license server.  These resources should be tracked as normal consumable resources and should be usable by the scheduler when determining

[2015-12-24 12:09] cameronbrunner opened #19081 "Label Data Typing"
@davidopp

There needs to be a method to specify the data type of a label when it is something other than a string.  In #18261 strings can be interpreted as integers but there is no way to represent a values that are natively numbers as numbers throughout Kubernetes.  Kubernetes should additionally support float, boolean, and integer labels.  The additional datatypes are most useful when integrati

[2015-12-24 12:21] cameronbrunner opened #19082 "Create an opaque integer resource"
@davidopp

There should be a simple way to add a new resource to a node (kubelet), bind the resource to specific data source on the node (ie number of open file descriptors), and dynamically update the value at the API server.  Once available at the API server the dynamic resources can be used by the scheduler when placing pods.

If/when #19080 is implemented this functionality should be extended

[2015-12-24 12:50] huang195 commented on #18681
@sttts thanks for clarifying the procedure we should follow regarding opening PRs. We will follow this in the future and make sure we get one of the folks you mentioned help us shepherd the work.

Is the Waffle board connected to github in anyway, or is it something that's completely separate? Is that something our team should also use when getting more involved with the project or is it mostly us

[2015-12-24 14:23] jonboulle commented on #18776
@saad-ali it's unclear to me from that proposal whether the plugins just require access to the host namespace or to arbitrary mount namespaces

[2015-12-24 14:30] davidopp commented on #19079
@erictune

[2015-12-24 14:32] davidopp commented on #19082
#9044 is related

[2015-12-24 16:42] mzupan commented on #18652
so running the kube-up example in aws and tcpdumping I found the controller I believe hits

[code]

So I have heapster running in kube-system with a service.. and I can hit the following URL for my other cluster at

[code]

stats are displayed but still nothing for

[code]

[2015-12-24 18:28] mzupan commented on #18652
I enabled `--v=5` on the controller

I'm getting

[code]

[2015-12-24 18:31] gmarek commented on #19067
And again: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/dec5096bfd0dc6f3c4894a9fe88850efae110825/kubernetes-pull-test-unit-integration/7290/build-log.txt

[2015-12-24 18:39] jmartin127 commented on #19076
I was able to get this working by adding the following to the kubelet startup command within hack/local-up-cluster.sh:
--cluster-dns=10.0.0.10 --cluster-domain=cluster.local

[2015-12-24 18:39] #19076 closed

[2015-12-24 18:58] smarterclayton opened #19084 "Defaulting is 35% of total conversion time and ~10% of total decode time"
Running a before (on top of #19047) and after with defaulting removed from our generated code (not generated), total conversion time drops significantly, and number of allocations is halved.

[code]

We should only generate defaulting for objects that have them, and we should inline to public methods (like #19047) rather than going through reflection.  It's likely we can realize most of the before

[2015-12-24 18:58] smarterclayton commented on #19084
@kubernetes/sig-api-machinery @wojtek-t

[2015-12-24 19:38] smarterclayton opened #19085 "Optimization in copy: structs with only primitives (no pointers) can be bulk assigned"
DeepCopy is used in our etcd caching path, watch paths, and cache store paths.  Some of my upcoming changes (#17922) remove it from the decode critical path except in certain cases.

Right now it's roughly ~3us and ~25 allocations to perform a copy:

[code]

That's not terrible, except this is the most expensive operation in those paths today in terms of master CPU.  A few optimizations to deep co

[2015-12-24 19:58] #18642 closed

[2015-12-24 22:23] saad-ali commented on #18333
@thockin might have some thoughts on this.

The way I see it, one of the goals of Kubernetes is portability for end users. So where possible, we try to achieve that for users by introducing abstractions that they can choose to deploy against and isolate themselves from implementation details. To this end, we'd like to be container implementation agnostic where possible. Docker is the most popular

[2015-12-24 23:15] saad-ali commented on #18333
## Proposal 3: Keep Third-Party Plugin Code “In-Tree”
Both proposal 1 and 2 propose containerizing and removing third party plugin code from the Kubernetes code base. The primary reason for this is to decouple Kubernetes and third party plugin code so that each can be maintained independently. Both of those proposals require Kubernetes to expose an API that third party developers can develop again

[2015-12-24 23:19] #18531 closed

[2015-12-25 02:20] resouer commented on #19073
I'm afraid what your request is conflicts with kubernetes's design. Personally, I did not feel that hard to accomplish that with some scripts :)

cc the authority of kube api area: @bgrant0607

[2015-12-25 02:56] aronchick opened #19094 "[User Story] 3x Number of Pods Per Node"
- [x] Hung docker daemon yet kubelet remains in 'Ready' status - https://github.com/kubernetes/kubernetes/issues/17525
- [x] RFC: Determine the scalability goal for v1.2 kubelet - https://github.com/kubernetes/kubernetes/issues/16943
- [ ] Evaluate the benefits of adopting docker event stream - https://github.com/kubernetes/kubernetes/issues/16831
- [ ] Container garbage collection should define M

[2015-12-25 03:00] aronchick opened #19095 "[User Story] Improve HPA to bring to GA"
- [ ] HPA needs to handle discovery, controller credentials, privilege escalation protection - https://github.com/kubernetes/kubernetes/issues/16177

[2015-12-25 03:03] yunzhonghe71 opened #19096 "how to restore data form pod when use rc"
For example,I use a rc to start a pod to run a mongo database docker ,when the pod failures,the rc will automatically start another pod,but the data from the previous pod losts,how should i do to restore the data?

[2015-12-25 03:04] aronchick opened #19097 "[User Story] Secrets should be exposed to containers as environment variables"
- [ ] Expose secrets to containers in environment variables -  https://github.com/kubernetes/kubernetes/issues/4710

[2015-12-25 04:31] suryaveerc commented on #18933
Hi,

I didn't noticed the second 200 OK message in the log posted above. But that tells the story.

The backgroud is, The SIP client and server both connects on port 5060. So, when server in the POD replies on port 5060, the request is intercepted by the kube-proxy and being redirect to the POD itself because of the iptable rules.

From above, log of POD :

**Actual request to POD**
***10.244.2.1.

[2015-12-25 05:08] bbgw opened #19098 "misplaced cassandra-controller.yaml excerpt in examples/cassandra"
It should be `cassandra.yaml` at the place of the current first occurrence of the sample `cassandra-controller.yaml`.

[2015-12-25 08:22] combk8s commented on #19080
@davidopp @cameronbrunner
+1
Recently, our team is working on add a cluster scoped resource (muti IPs) to k8s, and it’s now in heavy development, we plan to send a proposal of the design to community in a couple of days, hoping it could meet the general requirements of community.
But PVClaim model maybe have some problem in RC. PVClaim need an unique name but pod of RC need self's resource claim f

[2015-12-25 09:13] mqliang commented on #19080
multi IP is very flexible and useful, expect your PR.

As far the PV Claim model, it may not suitable for IPs: for PV, we need bind it to Pod, but for IP, it's a better choice to put it in ReplicationController, and let rc to distribute it to RC.

[2015-12-25 09:26] mqliang opened #19101 "WIP: Scheduler should take node's region/zone information into consideration"
Current, k8s will add some region/zone related label to node, see:
https://github.com/kubernetes/kubernetes/pull/16866
[code]

Scheduler should take those information into consideration, scheduler should spreads pods to different zone/region.

[2015-12-25 09:44] #19101 closed

[2015-12-25 10:23] mqliang opened #19102 "RFC: move region/zone informatiopn to node.spec or annotation, instead of as a label"
@vishh @davidopp @justinsb @bgrant0607  @gambol99 @dchen1107
https://github.com/kubernetes/kubernetes/pull/17265 and https://github.com/kubernetes/kubernetes/pull/16866  introduced  region/zone labels.

I propose to move region/zone information to `node.spec`, instead of as a label, since this is the information which kubelet could get from cloud provider, just like `ExternalID` and `ProviderID`.

[2015-12-25 10:30] mqliang commented on #18394
@vishh
I propose to move the region/zone information to `node.spec`, instead of as a label in https://github.com/kubernetes/kubernetes/issues/19102. Since the region/zone information is get from cloud provider, just like `ExternalID`and `ProviderID`, and making it as label may lead some issue as you mentioned. After all, if we make region/zone information a node label, why not make `ExternalID`and

[2015-12-25 10:50] mqliang opened #19103 "WIP: Scheduler should support configure spreading pods as a hard requirement"
@davidopp

Current, scheduler support spreading pods between region/zone as a soft requirements, .

Our team also working on spreading  pods between region/zone, but from our perspective, we think it's ***hard*** requirements.  Since region/zone is for high usability, if we make it as a soft requirement, then region/zone is much meaningless.

So I proposed to at least make it configurable, user ca

[2015-12-25 11:52] #19103 closed

[2015-12-25 12:09] sttts commented on #18681
@huang195 we use it in our team and would also track your PRs in it. While not mandatory, if it fits your team's workflow, it might be worth a try.

[2015-12-25 13:19] resouer commented on #19102
Sorry man, have to -1 for this, `region/zone` information is not always comes from cloud provider, it  should be able to be set manually by admin (for example, consider the case that your k8s is running on bare-metal).

Moreover, being a `label` means it can be easily filtered by node selector and  updated freely on the fly, while `Node.Spec` wouldn't (not so easy at least).

[2015-12-25 14:49] resouer commented on #19081
This is interesting. Is it possible for you to give some explicit examples of this use case here?

[2015-12-25 14:55] mqliang commented on #19102
If k8s run on bare-metal, admin could still set it manually(such as set it by startup flag, just like `nodeName`), if not set, all the nodes would belong to the same region/zone by default.

Labels is flexibly, but it will lead some updates and deletions related issues https://github.com/kubernetes/kubernetes/issues/18394, and `Node.Spec` can also support update.

[2015-12-25 15:09] mqliang commented on #19102
In addition, labels ***should*** always be set by user, not by the some components of k8s. If some components of k8s, such as scheduler need those information, at least it ***should*** set as annotation, not label.

[2015-12-25 15:12] liggitt commented on #19102
Things that use selectors should use labels. Zone and region are two common dimensions for scheduling, but there could be others. I wouldn't want to make zone and region special cases. I also wouldn't want to repeat the zone/region info in the spec and in labels

[2015-12-25 15:14] liggitt commented on #19102
I think the root cause of https://github.com/kubernetes/kubernetes/issues/18394 is the node managing its own zone/region/label info. I think you'll have issues regardless of where that info is stored (spec or labels) if it is unclear whether the node has responsibility for that or not.

[2015-12-25 15:49] mqliang commented on #19102
But labels ***should*** always be set by user, not by the some components of k8s. Even if some components of k8s(such as scheduler need those information), at least it should set as ***annotation***, not label.

If we want those information easily filter by selector, why not extend annotation and add "AnnotationSelection", AFAIK, there are some proposal to make annotation more similar with label,

[2015-12-25 16:01] liggitt commented on #19102
If the kubelet sets labels that the user configured, I think that counts as user-set. When it is indirectly set via cloud provider data, that is a little less clear. I would prefer the kubelet-set labels be much more constrained ("set these labels in particular" rather than "stomp all labels"), but I still prefer region/zone being a specific use of a general mechanism, and wouldn't want to promote

[2015-12-25 16:09] mqliang commented on #19102
If most of maintainer disagree to move region/zone to `node.spec`, I wholeheartedly recommend to make it as annotation, we can benefit a lot if they are set as annotation:

1) it can be easily easily filtered by "AnnotationSelector" once https://github.com/kubernetes/kubernetes/issues/18801 is implemented.

2) In addition, user could write a admission controller to apply those annotation automical

[2015-12-25 18:44] davidopp commented on #19102
@mqliang

Why do you say this? I looked at
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/labels.md
and it didn't say anything about only being set by humans.

[2015-12-25 18:48] davidopp commented on #19081
In the worst case we can encode the type in the label name (for example, num_cores implies an integer, is_foo implies a boolean, etc.), in addition to using the operator to imply the type. I agree this requires some kind of schema (though perhaps it could be hardcoded), unlike if you had explicit types. As for float, do we want to encourage people to use it? So far we've been using things like mil

[2015-12-25 18:56] davidopp commented on #19080
I think we eventually want to do explicit scheduling of PVs. I haven't kept up with all of the PV proposals though. It would be much better if we can try to unify IMO.

@thockin @vishh @markturansky @bgrant0607 @smarterclayton @kubernetes/rh-storage @pmorie

Also see #17324