[2016-02-21 06:46] ixdy opened #21640 "unit/integration flake: Timed out waiting for kubelet to answer"
http://pr-test.k8s.io/21180/kubernetes-pull-test-unit-integration/15343/
[code]

[2016-02-21 07:23] colemickens commented on #21067
What version of `azure-xplat-cli` is being used?

[2016-02-21 07:54] bgrant0607 commented on #21530
Dupe of #20787

[2016-02-21 07:54] #21530 closed

[2016-02-21 07:54] bgrant0607 commented on #20787
Another: https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21369/kubernetes-pull-build-test-e2e-gce/29340/build-log.txt

[2016-02-21 07:54] bgrant0607 commented on #20787
cc @liggitt

[2016-02-21 07:57] davidopp commented on #21561
I think I found the problem with the route controller.

RouteController.reconcileNodeRoutes() appears to run once every 5s (it actually uses the same flag as the NodeController, NodeSyncPeriod). It calls GCECloud.ListRoutes() which calls gce.service.Routes.List(gce.projectID) but it is just once, not once per node or per route. So I don't think that's a problem. Then it calls reconcile().

reoncil

[2016-02-21 08:07] davidopp commented on #21563
I think I found a problem in route controller (see #21561). It would also explain the bazillion calls to compute.instances.get, since GCECloud.CreateRoute() calls GCECloud.getInstanceByName() which calls gce.service.Instances.Get().

I looked through the Kubelet code for calls to the cloud provider and didn't find anything worrisome.

[2016-02-21 08:37] wojtek-t commented on #21261
@dchen1107 - another instance:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21340/kubernetes-pull-build-test-e2e-gce/29611/build-log.txt

[2016-02-21 09:24] wojtek-t commented on #21313
Unfortunately, it seems that it didn't help:

    15:11:59 STEP: Collecting resource usage data
    15:11:59 Feb 20 15:11:59.953: INFO: Closed stop channel.
    16:27:36 Feb 20 16:27:36.934: INFO: Error while trying to SSH to 162.222.177.178:22, skipping probe. Error: error getting signer for provider gce: 'error reading SSH key /var/lib/jenkins/jobs/kubernetes-e2e-gce-scalability/workspace/.ssh/g

[2016-02-21 10:24] yaron2 commented on #21067
0.9.15

[2016-02-21 11:24] erimatnor commented on #21618
curling the master service `10.100.0.1` (kubernetes) seems to work from a node in the cluster, while curling/querying DNS `10.100.0.10` (kube-dns) does not work (curl just hangs due to no connection). One difference between these two that I can see is that the master service maps to a "real" host IP, while kube-dns maps to a Flannel IP. I tried curling another service that we have a fixed VIP for,

[2016-02-21 12:26] liggitt commented on #20787
At first glance it looks like it is being signed with a different key than expected. Can dig tomorrow

[2016-02-21 13:32] g0194776 opened #21643 "apiserver was unable to write a JSON response: Internal error occurred:"
Hi guys,

[code]

[code]

thanks a lot,
Kevin Yang.

[2016-02-21 13:51] cescoferraro commented on #7562
I am doing this by using nodeSelector on the rc and hostPath on the pv for my clustered databases. And it works well.

[2016-02-21 15:30] AdoHe commented on #21463
Another occurrence:
[code]
[https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21369/kubernetes-pull-build-test-e2e-gce/29640/build-log.txt](https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21369/kubernetes-pull-build-test-e2e-gce/29640/build-log.txt)

[2016-02-21 15:34] AdoHe commented on #21467
Another occurrence:
[code]
[https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21369/kubernetes-pull-build-test-e2e-gce/29640/build-log.txt](https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21369/kubernetes-pull-build-test-e2e-gce/29640/build-log.txt)

[2016-02-21 15:55] justinsb commented on #21625
@AdoHe right - I'd say we should make sure it's correct before worrying about scalability of goroutines.  Not that we won't have to worry about it, just maybe not yet! The code may actually be correct & I might be missing a trick though.

[2016-02-21 16:06] AdoHe commented on #21625
@justinsb you are right we have to make sure it's correct before worrying about scalability of goroutines. Will we address this in 1.2? I am happy to offer some help if need.

[2016-02-21 16:15] thockin commented on #21618
There were bugs in flannel this last 6months specifically around bridging
host to virt net.  Can you upgrade flannel to 0.5.5 andake sure it is
running with --ip-masq ?
On Feb 21, 2016 3:25 AM, "Erik Nordström" <notifications@github.com> wrote:

[2016-02-21 16:20] wattsteve commented on #7562
Yes, but if you follow that pattern, you need a singleton RC (replica=1) that pins the pod onto a host, *per node instance* in your clustered database (or whatever you're clustering). So, as an example, to deploy a 3 node MongoDB ReplicaSet this way, for each Mongo Instance you would need a singleton RC with a NodeSelector pointing to unique Kube Host (leaving you with 3 RCs). That approach uses K

[2016-02-21 19:37] DazWilkin commented on #21633
Thanks for your prompt response.

You are correct. I am able to get make to work to generate the secret.

However, in order to do so (and perhaps this is where I'm confused) I had to build a copy of Kubernetes and then install mercurial to install godep:

http://kubernetes.io/v1.1/docs/getting-started-guides/binary_release.html
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/develo

[2016-02-21 20:07] davidopp commented on #7562
What @wattsteve said. Besides being cumbersome to set up and manage, the approach you described is not self-healing, i.e. it eventually requires manual intervention to avoid falling below a quorum.

[2016-02-21 20:45] v1k0d3n commented on #17889
@yuandan this was repaired by this change (6 days ago). repull your local copy of the repo...

https://github.com/kubernetes/contrib/blob/master/ansible/roles/kubernetes/files/make-ca-cert.sh

[2016-02-21 20:52] mwielgus opened #21647 "HPA doesn't scale down if cpu usage is 0."
cc: @piosz @fgrzadkowski

[2016-02-21 21:13] smarterclayton opened #21648 "Proposal: First-generation of `kubectl set *` commands"
For 1.3 we'll be considering adding a number of commands developed upstream in OpenShift into kubectl - specifically, commands that assist the user in performing very common mutations to our core objects.

Current implementations are:
- Adding or removing volumes from an object with a pod template
- Adding or removing environment variables from an object with a pod template
- Adding or removing li

[2016-02-21 21:35] aronchick commented on #18780
Don't think of the number as a unique, ordered list. Multiple items can have the same number (though not ideal) and there can be gaps. After each milestone, you can do a reordering exercise - or really any time you want to re-evaluate what you want to be next. Using priority labels, ideally, would accomplish this, but, due to their coarseness, they're an inefficient tool.

[2016-02-21 21:47] davidopp commented on #20878
ping

[2016-02-21 21:53] mwielgus opened #21649 "HPA kubectl describe prints incorrect minReplicas"
[code]

[2016-02-21 21:54] davidopp commented on #21374
@derekwaynecarr do you think you can look at this one too?

[2016-02-21 22:00] davidopp commented on #21367
@lavalamp You assigned this to me but it looks more like a node issue - do you agree? Or you are saying you think it is a problem with graceful deletion logic in API server?

[2016-02-21 22:03] mikedanese commented on #21374
I pretty positive this is a dup of #21129. The reason that service accounts look like they aren't becoming ready is that it's the first thing in an e2e tests that requires a watch to be working.

[2016-02-21 22:09] davidopp commented on #21332
@ncdc Is there a chance you could take a look at this?

[2016-02-21 22:11] davidopp commented on #21332
BTW I'm not sure if you can access the logs,in case not:

[code]

[2016-02-21 22:27] smarterclayton commented on #21367
Could we be losing some incremental updates?  We have to explicitly
preserve graceful deletion in the config store map, and then reapply it, so
it's possible that it's getting dropped?  I know we only observe this long
delay some times, so I don't think it's an all the time bug.

On Thu, Feb 18, 2016 at 4:48 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-02-21 22:30] davidopp commented on #21332
One obvious problem with the test is that it ignores there return value from `framework.WaitForPodRunning(pod.Name)`. It's pretty clear from the logs that the pod is simply not starting, and times out after the 5 minute podStartTimeout. But the test just marches along because it ignores the return value, and then fails later, as you'd expect given that the pod wasn't created.

Moreover, "should su

[2016-02-21 22:34] smarterclayton commented on #21493
I think a gap that we'll want to sort out is the pattern by which side car
node containers can dynamically participate in the kubelet lifecycle.
Storage volumes, network plugins, lifecycle checks, pod lifecycle
interceptors (like the proposed container commit + push work) all seem to
want to play a part in the lifecycle of the node - some are obvious call
outs, some are not.  Reactive callouts are

[2016-02-21 22:48] bprashanth commented on #20916
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/29659/console
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21431/kubernetes-pull-build-test-e2e-gce/29659/

From docker logs:
[code]

Which smells like https://github.com/kubernetes/kubernetes/issues/20995
@kubernetes/goog-node IIUC we're running 1.9 in the GCI image now, right?

[2016-02-21 22:52] bprashanth commented on #21451
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21431/kubernetes-pull-test-unit-integration/15458/?debugUI=CLOUD
[code]

[2016-02-21 23:05] mwielgus commented on #21649
It is fixed in head but the kubectl in gcloud still prints the wrong value.

[2016-02-21 23:32] erictune commented on #21463
Another occurrence:
[code]

[2016-02-21 23:55] mwielgus commented on #21647
This was fixed in #21149.

[2016-02-21 23:55] #21647 closed

[2016-02-22 01:03] bprashanth commented on #21138
@spxtr Maybe we can just tail /var/log/docker in the meahwhile? i'm seeing node not ready a lot and having docker logs would help either rule out or assign blame to docker and/or some kernel lock up.

[2016-02-22 01:21] hurf commented on #21543
cc myself and @HaiyangDING

[2016-02-22 01:36] kevin-wangzefeng commented on #21543
/cc @kubernetes/huawei

[2016-02-22 01:55] bprashanth commented on #18963
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/29677/consoleFull
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21440/kubernetes-pull-build-test-e2e-gce/29677/?debugUI=CLOUD
[code]

[2016-02-22 02:01] bprashanth commented on #18963
In case it helps, 2 more failures from prs I was reviewing:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/11690/?debugUI=CLOUD
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/11753/?debugUI=CLOUD

[2016-02-22 02:10] justinsb opened #21651 "AWS: Add configurable source range for LoadBalancers"
The equivalent of #21431

[2016-02-22 02:14] bprashanth commented on #21651
@freehan fyi

[2016-02-22 02:19] therc commented on #20962
@thockin can this make it into 1.2? I just rebased it.

[2016-02-22 02:41] aronchick commented on #21493
@therc So, just want to capture your issues:

- You don't want to have to monitor the sidecar (if there was an automated way to do this would that help)?
- Third parties charge per container (effectively doubling cost)
- You don't want to have to build a separate image for tracking/auditing/etc.

What if, rather that building a sidecar, you had a simple client in the main container itself that res

[2016-02-22 02:46] aronchick commented on #6079
In particular, customers are very confused about the path for node upgrades. The items in "Post 1.0" are the ones they're looking for. Essentially:
- Node evacuation
- In-place k8s component upgrades
- Node rejoining

[2016-02-22 02:50] aronchick commented on #21275
IMHO, I believe a lot of this comes down to breaking out cloud provider to make it easier, and breaking cloud providers out of core. @brendandburns has some thoughts on this.

But, yes, we need to have solutions for the largest clouds today. In order of priority, i'd say:

1. Terraform
2. Cloud Formation
3. Deployment Manager
4. Chef/Puppet
5. Everything else

[2016-02-22 03:11] davidopp opened #21653 "Create 'kubectl undrain' as an alias for 'kubectl uncordon' ?"
It's non-intuitive that the opposite of 'kubectl drain' is 'kubectl uncordon'. Should we create a 'kubectl undrain' that is an alias for 'kubectl uncordon'? My only concern would be that people might assume undrain will move the pods that were running on that machine prior to the drain, back onto that machine.

cc/ @mml

[2016-02-22 03:20] mqliang commented on #21543
##### Part 2: "Work Stealing" Algorithm for "Redistribute Pods onto new nodes added by a cluster auto-scaler" feature

"Work Stealing"  algorithm, see http://supertech.csail.mit.edu/papers/steal.pdf is very suitable for the  "Redistribute Pods onto new nodes added by a cluster auto-scaler" feature. If this algorithm generally looks good, I will send I proposal to describe the design&implementation

[2016-02-22 03:21] davidopp commented on #6079
Simple node evacuation is in 1.2 (`kubectl drain` / `kubectl uncordon`). @mml has a doc out with ideas for next steps (#17393), but we haven't had a chance to prioritize them relative to other efforts.

In-place upgrade (kube-push.sh) definitely needs some love. #17397 is probably the best issue for tracking that.

I was looking into "node rejoining" the other day in response to a user question. I

[2016-02-22 03:57] therc commented on #21493
This is definitely not something for 1.2. I really just wanted to spend a week or two in codegen hell. :-)

The main drivers were having services that only talk gRPC and not wanting to add an HTTP handler just for health checks. That calls for two ports; although grpc-go gained support for HTTP serving on the same port last week, I don't think the other languages are as lucky. I was assuming that

[2016-02-22 04:26] thockin commented on #21493
On Sun, Feb 21, 2016 at 7:58 PM, Rudi C <notifications@github.com> wrote:

I forget if this is properly fixed in docker.  @dchen1107 @bprashanth
@vishh might recall.

[2016-02-22 04:43] thockin commented on #18780
We should decide on this or close it before we start 1.3

On Sun, Feb 21, 2016 at 1:35 PM, David Aronchick <notifications@github.com>
wrote:

[2016-02-22 04:51] caesarxuchao commented on #21451
Another occurrence:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21175/kubernetes-pull-test-unit-integration/15340/?debugUI=CLOUD

[2016-02-22 05:00] bprashanth commented on #21493
*That* bug should be fixed, but the feeling I got from the response to the bug was that docker exec is not something they'd ever meant to be taken seriously in production. That might've changed since, you can infer for yourself: https://github.com/docker/docker/issues/14444. The exechealthz sidecar just gives you control over the docker exec stack.

[2016-02-22 05:04] thockin commented on #21493
Yeah, I would make your side-car export HTTP - Docker gave us exec but they
don't seem to actually want people to use it :(

On Sun, Feb 21, 2016 at 9:01 PM, Prashanth B <notifications@github.com>
wrote:

[2016-02-22 05:07] thockin commented on #21630
I agree that the controller should backoff, regardless of the cloud
provider.

On Sat, Feb 20, 2016 at 6:23 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2016-02-22 05:20] #16654 closed

[2016-02-22 05:20] thockin commented on #16654
The 256Mi formatting is fixed.  I have a new issue, though.  New bug coming.

On Mon, Feb 15, 2016 at 6:45 AM, Dario Minonne <notifications@github.com>
wrote:

[2016-02-22 05:21] thockin opened #21654 "Quota error formats memory as milli-bytes"
Re-running my demo for quota.  The error I get when I ask for `4.1Gi` is:

[code]

4100m CPU makes sense, but formatting memory as milli-bytes is pretty silly.

@sdminonne @lavalamp

[2016-02-22 05:37] mfanjie commented on #21529
After DEBUG issue is fixed, kube-up still failed for a server behind a proxy, I am using KUBERNETES_PROVIDER=vagrant.

Observation:
1. there is not error on master and node-1 provision logs while the kube up stuck at waiting kube-apiserver services.
cluster "vagrant" set.
user "vagrant" set.
context "vagrant" set.
switched to context "vagrant".
Wrote config for vagrant to /Users/fmeng/.kube/config

[2016-02-22 05:37] thockin commented on #2770
I don't follow your comment, sorry.  I'm arguing (I think) that the
abstraction across cloud-providers is artificial to the point of not being
useful, and that we'd do better to get out of the way of cloud providers
and let them act as observer/controllers.  This has the side-effect of
making it possible for anyone to build a new cloud provider or extend an
existing one without sending pull reques

[2016-02-22 05:44] #20667 closed

[2016-02-22 06:25] erictune commented on #21463
And again.

[2016-02-22 06:41] bgrant0607 commented on #21648
cc @janetkuo

[2016-02-22 06:44] bgrant0607 commented on #21589
There are examples in the kubectl help text:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_delete.md

[2016-02-22 06:44] #21589 closed

[2016-02-22 06:51] bgrant0607 commented on #21587
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-22 06:51] #21587 closed

[2016-02-22 06:58] davidopp commented on #7562
Sorry, that came off a little more negative than I had intended. :) What you're doing is indeed the best you can do with what we have right now, and I'm glad you find it usable.

[2016-02-22 07:00] davidopp commented on #18566
(That said, if we can fix it in the next few days, that would obviously be even better.)

[2016-02-22 07:04] bgrant0607 commented on #21582
Try `kubectl get --export`. It doesn't dump all objects, though.

Import isn't needed, since `kubectl create -f` can be used.

[2016-02-22 07:07] bgrant0607 commented on #21566
See also #17151, #17097, and https://github.com/kubernetes/kubernetes/blob/master/docs/design/taint-toleration-dedicated.md

cc @davidopp

[2016-02-22 07:13] wojtek-t commented on #21500
Please do NOT set limits just based on Density test. It's possible to do some more extensive tests (I think that even load.go would generate more load but we should first make it work in larger clusters: #20638)

[2016-02-22 07:15] xinxiaogang opened #21656 "Pods unable to get IP addresses"
In my cluster, I meet a race condition issue which I think happened in kube-scheduler. Here is my phenomena:
- My minion node has CIDR for docker at /27 which allows 32 docker IPs.
- The Pod has been scheduled to one minion node but could not start as expected with the following docker error message:

[code]
- I logon to my minion and find that there are already 30 containers running. So the new s

[2016-02-22 07:17] wojtek-t commented on #21127
Yes - we are planning to support larger cluster (we will definitely support 5000-nodes at some point - it's not yet defined when).

[2016-02-22 07:22] bgrant0607 commented on #21558
In the getting-started guide, did you see the instructions about how to change the number of nodes?

In general, these types of questions should be asked in the support forums, such as stackoverflow.

I'll leave this issue open to add a reference from the node management doc back to the getting-started guides.

[2016-02-22 07:23] xinxiaogang opened #21657 "Replication controller to re-schedule Pod in `ContainerCreating` and `ImageNotReady` status for a long time"
I have meet an issue in my cluster described here https://github.com/kubernetes/kubernetes/issues/21656.

My question is, my Pod in a RC was scheduled to a node which docker CIDR already full. So the Pod stay in `ImageNotReady` status. Only after I delete the Pod manually by `kubectl delete pod`, the Pod got rescheduled to another node.

I think from RC perspective, some loop should take the respo

[2016-02-22 07:47] AdoHe commented on #21551
@smarterclayton I decide to add a `showStatus` field to every describer.

[2016-02-22 08:07] roberthbailey commented on #21629
I must admit that I have not tried this configuration with any of the 1.2 alpha releases.

[2016-02-22 08:31] Toplife opened #21660 "How to start a container in pod?"
Hi all,
Now I want start a container by k8s pod,below is my docker run command
:
` docker run -it -d --name=aaa--net=host -v /opt/headedness/phantomjs:/data/phantomjs/bin/phantomjs -v /opt/ctcrawler/log:/data/log xxx/app/xxx -endpoint http://xxx/c2/ -selenium http://localhost:4444/wd/hub`
How to change this command to .yaml file?
below is my .yaml file,but not working:

[code]
Please help...

[2016-02-22 08:37] gmarek commented on #21500
On top of what @wojtek-t wrote - those are 99th percentiles. I can produce 100th ones, but it still won't be enough, as we're probing containers every 60 seconds. Hence we do need to leave some slack for all the components.

[2016-02-22 08:38] fgrzadkowski commented on #18566
Autoscaling for multiple MIGs should work in a similar way as for a single MIG. Each will grow separately, but that's fine. The difference is that we will be rounding number of machines separately for each MIG, so it possible that will have slightly higher number of machines, e.g.:
* MIG_1 should have 50.3 nodes so we give 51 nodes
* MIG_2 should have 49.2 so we give it 50 nodes
Altogether we have

[2016-02-22 08:44] gmarek commented on #21500
Note that most critical component is an API server, throttling which could have huge performance impact. OTOH if we really do need to limit components it'd be better to do it on ControllerManager/Scheduler. Throttling those will still have an impact by reducing system responsiveness, but it's still better than throttling API server which could break our SLO (on top of reducing system responsivenes

[2016-02-22 09:11] jsafrane commented on #14217
I started splitting provisioners from generic volume plugins in https://github.com/kubernetes/kubernetes/pull/21559. I needed to create a special `MountableVolumePlugin` interface - until now, all volume plugins needed to implement `NewBuilder`/`NewCleaner` interfaces, with the PR it's only optional. And cloud provisioners won't implement it - there will be eventually many of them (AWS SSD / AWS m

[2016-02-22 09:13] wojtek-t commented on #19048
Ok - I added logging suggested by @lavalamp
This seems solved - I will reopen if if we observe it again at some point.

[2016-02-22 09:13] #19048 closed

[2016-02-22 09:16] wojtek-t commented on #21261
And one more:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21340/kubernetes-pull-build-test-e2e-gce/29704/build-log.txt

[2016-02-22 09:16] piosz opened #21664 "Change HPA e2e tests to not rely on master proxy"
Instead of generating load from inside of e2e there should be created a pod, which does it.

Forked from #20925

[2016-02-22 09:22] piosz commented on #20925
@ihmccreery the test is as deterministic as possible. The only undeterministic part here is relying on service level load balancing (when using master proxy to access it). Alternatively we can create a load generator which runs inside of the cluster as a pod. Created issue #21664 for this.

#21594 has fixed the problem partially, but there is still an issue with throttled master proxy requests. #2

[2016-02-22 09:23] piosz commented on #20925
[code]

[2016-02-22 09:40] wernight commented on #20835
Another tool which would also fix many more cases, but I'm not sure about latency, would be simple **nfs** support. Supporting nfs volume as simply as gfs disks or docker registry.

[2016-02-22 09:48] dove-young opened #21668 "tunneler.go:195] Won't attempt to install ssh key: InstallSSHKey function is nil"
I am running kube-v1.1.2 on Fedora 22.  I am confusing why the install ssh key always failed, and  the most strangest fact was I did not found anybody talking about it.  Don't you really use this feature?

Here is my kube version

[code]
Here is my apiserver paramter and log output for ssh-keyfile error.
[code]

[2016-02-22 09:51] luebken commented on #14127
The PR https://github.com/kubernetes/kubernetes/pull/15246/ deleted some details about proposed container hooks `PreStart` and `PostRestart` and some reason passed to the handler (delete, health, dependency). Any pointers to a design doc or something similar to followup on this?

[2016-02-22 10:03] #21129 closed

[2016-02-22 10:34] wernight commented on #8773
There is a feature request on Cobra, https://github.com/spf13/cobra/issues/107, but not yet resolved.

[2016-02-22 10:39] wernight commented on #17489
As some pointers after some testing:

 - pro single Pod with Nginx and PHP-FPM or uWSGI containers: Can mount a local writable disk and share it with both which is very useful if you've a single instance and want Nginx to serve for example user uploaded files. Lower latency?
 - pro multiple Pods, one for Nginx, one for PHP-FPM or uWSGI container: Can scale Nginx and backend independently, and `kub

[2016-02-22 10:44] wojtek-t commented on #21484
Another failure:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce/12049/

[2016-02-22 10:46] soltysh commented on #19701
One option to address your issue will be using `ActiveDedlineSeconds` on a [job](https://github.com/kubernetes/kubernetes/blob/98a801a37b2c862fff64c03e03698da928696563/pkg/apis/batch/v1/types.go#L68-L70), which sets relative time for a job to be active. Other option was raised in https://github.com/kubernetes/kubernetes/issues/17244.

[2016-02-22 10:50] piosz opened #21669 "kubectl describe hpa broken"
[code]

[2016-02-22 10:53] hanikesn commented on #19701
ActiveDedlineSeconds doesn't work very well, either you set it very high and you have to wait longer than necessary to wait for the job to finish. Or you have to adjust it constantly, because you job might be failing because it gets killed.

[2016-02-22 10:55] AdoHe commented on #21669
@piosz could you provide version info? I would take a look. Thanks very much.

[2016-02-22 11:03] piosz commented on #21669
[code]
Thanks!

[2016-02-22 11:06] piosz commented on #21669
Ups, I've already fixed this #16025. Should be cherry-picked to release-1.1

[2016-02-22 12:07] wojtek-t opened #21672 "ReplicationControllerManager is too slow to support 1000-node clusters"
I've finally debugged the main problem that is causing load.go test failures in 1000-node clusters.

The problem is basically getPodController() method:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L202

Here is exactly what is happening:
- in load test in 1000-node cluster, we create ~3500 replication controllers, which altogether have

[2016-02-22 12:14] wojtek-t commented on #21672
I think that what we should do for 1.2 is some kind of parallelization.
The solution that I would suggest is:
- in the Informer framework add a support for processing events in parallel
- however, just to avoid problems, we should ensure that a given object would always be processed by exactly the same worker (that way we e.g. avoid problems of processing the same object syncurrently multiple time

[2016-02-22 12:18] wojtek-t commented on #21672
Although - to be clear, what I'm suggesting above is a short-term fix for 1.2 - we should think about some long-term solution too (e.g. introducing Indexing or sth like that, but that shouldn't be a blocker for 1.2).

[2016-02-22 12:28] piosz commented on #20925
It seems the throttling was enabled for almost a year and we noticed it recently after #21377 was merged. We haven't had any problems before, so throttling is here not the case.

Still investigating.

[2016-02-22 12:34] wojtek-t commented on #20638
I managed to debug something serious here - see: #21672

[2016-02-22 12:36] sdminonne commented on #21654
:)  @thockin. Having a look and let you know

[2016-02-22 12:37] wojtek-t commented on #21672
https://github.com/kubernetes/kubernetes/pull/21674 is showing how I would imagine parallelization that I described above (this is just proof-of-concept). Any comments are welcome.

[2016-02-22 12:38] wojtek-t commented on #20638
To be honest, I think that #21672 is the only serious problem there.

[2016-02-22 12:47] smarterclayton commented on #2770
I think Eric and I were arguing that there would be multiple
independent controllers per cloud provider that are more decoupled
than the single interface we have today.  A service load balancer
controller for GCE that is strongly decoupled from the disk attach
logic for GCE, so that it can be selectively enabled.

[2016-02-22 12:53] smarterclayton commented on #21493
We'll continue to need exec - if we need an alternate performant implementation that is actually maintained we should document it.  Practically, both runc and rocket need an implementation as well.

[2016-02-22 13:08] luebken commented on #16412
+1

[2016-02-22 13:36] sdminonne opened #21677 "ResourceQuota should check NodePort services usage and limits"
NodePort services claim a port on every node in the cluster: admin may want to limit NodePort services via quota mechanism.

As soon @derekwaynecarr #20446 will be merged I'd like to supply a PR for this.

API should be modified adding only:
[code]
or similar.

@thockin @bgrant0607

[2016-02-22 14:26] mqliang opened #21679 "Draining Node for Planned Maintenance/Cluster Scaling Down Proposal"
Draining Node for Planned Maintenance/Cluster Scaling Down Proposal
---

#### Motivation
----
1. Bringing an individual node or a batch of nodes down for planned maintenance is a common administrative task, to for example install a Service Pack or hardware upgrades.
2. If we have a large cluster, but with low resource usage rate, and Pods just spreading on all nodes, we want to drain some nodes so

[2016-02-22 14:28] mqliang commented on #21543
close this in favour of https://github.com/kubernetes/kubernetes/issues/21679

[2016-02-22 14:28] #21543 closed

[2016-02-22 14:40] mqliang commented on #21679
@mml @davidopp

[2016-02-22 14:44] ncdc commented on #21332
@davidopp I wrote the tests originally. I'm sorry I didn't check the error returned from pod creation or when waiting for the pod to be running. Not sure what I was thinking there...

As for not deleting the pod that is created, this is handled by framework's AfterEach (it deletes the entire namespace at the end of each test). Also, each test runs in a separate namespace.

[2016-02-22 14:47] ncdc commented on #21332
Also, as I wrote in 21650, if you want me to roll the error checking fixes into my #21602, I can do that

[2016-02-22 14:50] AdoHe commented on #21672
:+1:

[2016-02-22 14:51] AdoHe commented on #21672
+1

[2016-02-22 14:54] gmarek commented on #19895
It's still happening. #20686 didn't help with it, as the problem is that system pods started from manifest are not listed in the API server. The logic added in #20686 was already there, though for all pods, not only kube-system ones: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduler_predicates.go#L157.

We need to do something harder if we want to keep this test (and I think

[2016-02-22 14:55] MikeSpreitzer commented on #21168
OK, I see you opened issue #21529 for this and PR #21531 fixed it.  Thanks.  I will respond to the larger question under #21529.

[2016-02-22 14:56] gmarek commented on #19895
I also think that we should revert #20686, as it duplicates existing functionality.

[2016-02-22 15:04] MikeSpreitzer commented on #21529
Yes, there is also the problem of the image pulls done by the docker engines.  Regarding usage of the cluster/ubuntu scripting when the target machines are in a restricted environment but the machine running kube-up is not, this can be fixed without any changes to the scripting maintained at https://github.com/kubernetes/kubernetes/.  In my own work I am pursuing this approach: before installing k

[2016-02-22 15:07] AdoHe commented on #21668
@dove-young kube-apiserver will just get ssh key distribution function if your platform support.

[2016-02-22 15:20] justinsb opened #21681 "We should sanitize mountPath"
A user made an error setting their mountPath - they set a docker-style mountpath `mountPath: /data/ldap/db:/var/lib/ldap`

However, the error that they got (and inspection of the code) indicates that we just passed that straight through to docker (`API error (500): invalid mode for volumes-from: /var/lib/ldap`).  Docker treats the 3rd argument as a mode flag.

We should sanitize the input, both to

[2016-02-22 15:21] liggitt opened #21682 "Headless services fail validation if targetPort is set"
In 1.0 and 1.1, headless services that specified a mismatched port/targetPort were tolerated (the targetPort was ignored).

https://github.com/kubernetes/kubernetes/pull/17862#issuecomment-186666199 tightened validation to reject these services. That causes problems when upgrading from currently-working clusters.

[2016-02-22 15:41] erictune commented on #15985
A big chunk merged: #21434
One more, smaller PR in progress.

[2016-02-22 15:46] liggitt commented on #21682
1.2 candidate to avoid breaking backwards compatibility

[2016-02-22 15:54] mikedanese commented on #8773
Cobra already supports bash completion

[2016-02-22 15:57] caleblloyd commented on #21396
@AdoHe @thockin anyone had time to look into this?  Seems like a pretty big problem unless the next minor release is going to default to using the IP Tables KubeProxy instead of the Userspace KubeProxy.

[2016-02-22 16:11] #21316 closed

[2016-02-22 16:19] thockin commented on #20835
The only sane behavior for partitions of a single block device is that they may be used in the same pod (or not at all).

Allowing subdirectories is something we have looked at before and is much easier and more useful than multiple partitions.

We do have NFS support - just point a pod at your NFS server though an `nfs` volume.

[2016-02-22 16:36] quinton-hoole commented on #21672
@wojtek-t Awesome debugging!
Your proposed solution seems reasonable, although can't you avoid processing the same object concurrently multiple times with a relatively simple channel?  That way you could avoid the sharding complexities you mention (even though the complexity is not that high).

[2016-02-22 16:42] bprashanth commented on #21672
We've come a long way if in memory computations are now the bottleneck for the replication controller manager :)

https://github.com/kubernetes/kubernetes/pull/19043 is an attempt to serve the results of the store list from a lookup cache

[2016-02-22 16:45] thockin commented on #21682
oh hell.  Yeah.  I don't think this is worth a breaking change.  We should either roll that back ASAP or change it to nuke any user-provided value and replace it with the `port` value.  I think the latter is potentially dangerous and also not worth the risk, so I think we should rollback #17862 and just update the docs for targetPort.

@feihujiang objections?

[2016-02-22 16:46] bprashanth commented on #21672
Sequentially within a single worker. The RC manager runs 5 workers by default, though, and they should process RCs in parallel: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L184

[2016-02-22 16:46] thockin commented on #21682
Who has time to do this?  It doesn't look like an auto-rollback is doable.

[2016-02-22 16:48] thockin commented on #21681
Docker doesn't have a way to specify colons in paths (unless they have fixed it and I didn't notice), so we should probably also reject colons, even though it is broken and wrong.

[2016-02-22 16:49] bprashanth commented on #21261
IMO this is blocked on the lack of logs when a build times out, just like https://github.com/kubernetes/kubernetes/issues/21138 (and they're probably the same root cause)

[2016-02-22 16:54] liggitt commented on #21682
Already opened a PR in https://github.com/kubernetes/kubernetes/issues/21680

[2016-02-22 16:54] thockin commented on #21660
Support requests should go through StackOverflow where they are easier to discover by others.  When you post there, please include details of what you are trying and the errors you are getting.  I can see a number of things that are just not the Kubernetes API.  You should probably start by looking at our API docs - Kubernetes is not a simply translation of Docker.

[2016-02-22 16:54] #21660 closed

[2016-02-22 17:14] timbunce commented on #19228
I don't know if this is relevant here, but the `master/docs/getting-started-guides/docker-multinode/skydns-*.yaml.in` lag behind the `master/cluster/addons/dns/skydns-*.yaml.in` files. E.g. the former skydns-rc.yaml.in refers to `gcr.io/google_containers/kube2sky:1.11` but the later refers to `1.12`. I noticed this when I stumbled into #12534.

[2016-02-22 17:15] bgrant0607 commented on #21463
@janetkuo @kargakis @mqliang

This test failure appears to be the most common in the PR builder.

[2016-02-22 17:21] thockin commented on #2770
oh, yeah, I am fine with that too, but I don't think we really want to have
a generic L7 controller which uses plugins to get GCE, AWS, haproxy, NGINX,
etc support.

Curiously we ARE using single controller+plugins for storage mostly because
the API across plugins is simple enough that plugins are feasible and the
controller logic is complicated.  It's a tradeoff.

On Mon, Feb 22, 2016 at 4:47 AM,

[2016-02-22 17:32] innovia opened #21690 "common.sh unbound variable on kube-up.sh"
I clone the source

checked out the tag for alpha 1.2 v8
make release

[code]

[2016-02-22 17:38] runseb commented on #16670
yes, confirmed for me as well, it works on 1.2.0-alpha.8 with docker 1.10

[2016-02-22 17:39] lavalamp commented on #21672
I think I have a PR addressing this sitting in my review queue for weeks now. I'll look for it shortly.

[2016-02-22 17:40] justinsb opened #21691 "ElasticSearch should be backed by persistent volumes"
Now that our PV support is greatly improved, we should see whether it is now possible to back ES with persistent volumes.  Not having PVs makes it too easy to ES to get into a weird state when it loses the leader.

[2016-02-22 17:41] bprashanth commented on #21672
I think that's https://github.com/kubernetes/kubernetes/pull/19043

[2016-02-22 17:41] bprashanth commented on #20503
Cherrypick was merged so I'm closing this

[2016-02-22 17:41] #20503 closed

[2016-02-22 17:41] thockin commented on #20403
@pmorie  status on this?

[2016-02-22 17:43] thockin commented on #20987
@ArtfulCoder this is marked as P0 - what's the status?

[2016-02-22 17:44] mikedanese commented on #21374
Let's see if this is fixed

[2016-02-22 17:44] #21374 closed

[2016-02-22 17:45] innovia opened #21692 "grafana dashboard init failed - Template variables could not be initialized"
i did git clone
git checkout v1.2.0-alpha.8
make release
./clutser/kube-up.sh

when i try to go to grafana i get  and click containers
the dashborad is undefined
Dashboard init failed
Template variables could not be initialized: InfluxDB Error: <br/>404 page not found

request:

/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/api/datasources/proxy/1/series
[code]
response:
404 pag

[2016-02-22 17:48] rsuniev commented on #21555
Temp fix. Change your ~/kubernetes/vagrant/provision-minion.sh
-    curl -sS -L --connect-timeout 20 --retry 6 --retry-delay 10 https://bootstrap.saltstack.com | sh -s
+    curl -sS -L --connect-timeout 20 --retry 6 --retry-delay 10 https://gist.githubusercontent.com/rmohr/43941d0881f0682b99a7/raw/5b5e075e373cd81689e991eaef6cd95beb7b2d2a/bootstrap-salt.sh | sh -s
and ./cluster/kube-up.sh again

[2016-02-22 17:48] ihmccreery commented on #19715
We have users running production clusters in v1.1.7.  If we need to patch this is v1.1, we'll have to release & roll out a v1.1.8 before distributing a v1.2 client.

Is there any way we can patch this in v1.2 rather than back-patching to v1.1 (and v1.0)?

[2016-02-22 17:50] ihmccreery commented on #19740
I'm closing this as not actually the issue; there were just a bunch of failing tests in the version-skewed scenario; not actually something breaking.

[2016-02-22 17:50] #19740 closed

[2016-02-22 18:10] streamnsight commented on #8042
@ArtfulCoder this is what I am using, yet it is not the latest: the skydns docker image is 2015-10-13, while the repo has updates from this month. So my question is where do we find the most recent built images?

[2016-02-22 18:11] bgrant0607 commented on #21560
This originally was about reads rather than writes.

[2016-02-22 18:13] bprashanth commented on #20987
I think the issue that made it a P0 is resolved. The 5 failures were because of a bad salt variable for gke addressed in https://github.com/kubernetes/kubernetes/pull/21641 (should no longer happen). I'm bringing this down to P1.

However looking through the failure we did hit a few more on gce-slow last week:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-

[2016-02-22 18:13] ihmccreery opened #21693 "v1.1 e2e failure against v1.2 master: Services should be able to change the type and nodeport settings of a service"
This test is failing when running v1.1 of the test against a v1.2 master, (regardless of the version of the nodes):

**Services should be able to change the type and nodeport settings of a service**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:585 Feb 22 06:28:54.826: got unexpected len(Status.LoadBalancer.Ingress) for NodePort service: &{{ } {mutabil

[2016-02-22 18:15] bgrant0607 commented on #21062
cc @kubernetes/sig-node

[2016-02-22 18:16] bgrant0607 commented on #21062
cc @kubernetes/kubectl

[2016-02-22 18:16] lavalamp commented on #21640
Something holding the port already?

[2016-02-22 18:18] lavalamp commented on #21605
@dchen1107 to delegate

[2016-02-22 18:24] lavalamp commented on #21451
I think @ixdy's theory is worth following up on: https://github.com/kubernetes/kubernetes/issues/21451#issuecomment-186489495

@dchen1107 to delegate

[2016-02-22 18:25] lavalamp commented on #21463
@janetkuo let me know if you've got too much on your plate right now.

[2016-02-22 18:26] bprashanth commented on #21451
This is probably https://github.com/kubernetes/kubernetes/issues/21451#issuecomment-186523407, re-assigning to @ixdy unless he has investigated otherwise

[2016-02-22 18:26] lavalamp commented on #15493
Chao, do you have cycles to take a look?

[2016-02-22 18:27] wojtek-t commented on #21672
Sequentially within a single worker. The RC manager runs 5 workers by default, though, and they should process RCs in parallel: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L184

This is not a problem - the problem is processing pods within a controller framework which is done sequentially.
RCs are processed by workers, 5 in parallel, bu

[2016-02-22 18:27] erictune commented on #21463
This happened again.
This test is too flaky.
I am going to send a PR to skip it, and someone can deflake it and re-enable later.

[2016-02-22 18:27] ihmccreery commented on #21693
This just started failing Feb 18, 2016 10:22:29 PM.

[2016-02-22 18:28] bprashanth commented on #21484
Can we dupe this with https://github.com/kubernetes/kubernetes/issues/21484, or change the title to reflect to 0 status code issue?

[2016-02-22 18:28] ihmccreery commented on #21693
See http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-1.1-master-step4-e2e-old/ and http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-1.1-master-step6-e2e-old/

[2016-02-22 18:29] wojtek-t commented on #21672
Yeah - it seems that #19043 would also address this issue.
However, I'm not convinved about that PR - I will comment on it.

[2016-02-22 18:30] bprashanth commented on #21512
This is probably not getting done for 1.2, there's an email thread about creating external resources and the time we can expect it to take in general

[2016-02-22 18:31] luxas commented on #19228
@timbunce I have a fix for this, #21504, and are working on `docker-multinode` UX that probably will start DNS somewhat automatically #21646

[2016-02-22 18:34] lavalamp commented on #19715
@caesarxuchao Do you have cycles for another round of "actually, don't encode the version/kind"?

[2016-02-22 18:36] jlowdermilk commented on #21062
@AdoHe I believe kubelet already uses `clientcmdapi.Config`. Adding a check in [getContext()](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/clientcmd/client_config.go#L277) that current context exists if specified sounds like the right approach.

[2016-02-22 18:43] liggitt commented on #20787
not a different key... looks like two tokens are being created (note the different generated secret.name):
[code]

[code]

[2016-02-22 18:44] caesarxuchao commented on #15493
I thought Patch is retried in the server. I'll investigate.

[2016-02-22 18:49] lavalamp commented on #21367
@davidopp it's risky psyco-analyzing my past self, but I think I was thinking that this is a test problem and it's a test for a feature that control-plane owns?

[2016-02-22 18:53] lavalamp commented on #21654
Why did you ask for milli-bytes, then? 4.1Gi = 4.1*2^30 = 4402341478.4 :)

[2016-02-22 18:54] quinton-hoole commented on #18780
I'm happy to close this as "will not implement", but that requires that we start to use "priority" to consistently mean "importance" and not "urgency" (the latter of which is captured in the "milestone" pseudo-label).  I still think that renaming "priority" to "importance" will make this more likely to happen, but it seems I'm in the minority here (see @bgrant0607 's "deckchairs" comment above, an

[2016-02-22 18:54] #18780 closed

[2016-02-22 18:54] MikeSpreitzer opened #21697 "Need a simple example CNI network plugin"
There should be a simple example CNI plugin.

[2016-02-22 18:56] bprashanth commented on #21693
[code]

I think this is because we introduced a /status endpoint and the old test was just doing something wrong (it was checking the status.loadbalancer was 0 length right after the Service update, and the only reason that ever worked was because the Service update would clobber status -- which we started preventing with the /status endpoint).

@caesarxuchao can you cherry-pick your test fix?

[2016-02-22 18:56] saad-ali commented on #21492
Closed with #21494

[2016-02-22 18:56] #21492 closed

[2016-02-22 18:56] yujuhong commented on #21367
We explicitly checked whether the DeletionTimestamp is set in https://github.com/kubernetes/kubernetes/blob/7e158006c06fd432b3461f83026b85a72721eddc/pkg/kubelet/config/config.go#L415
It'd be strange that the incremental update got lost and then magically reappeared tens of seconds later, unless there was another update to the pod (which wasn't observed in the apiserver log).

I think we may need m

[2016-02-22 18:58] yujuhong commented on #21367
We haven't ruled out whether the event was delayed at the apiserver, or that the kubelet was slow in processing the event (or even dropping the event by mistake).

[2016-02-22 19:00] dchen1107 commented on #21523
I could reproduce the issue only during docker reboot test so far. Adding a little bit logging, one can see the docker daemon received SIGTERM and start to persistent current state, and refuse to start other containers by throwing such error message. Meanwhile, kubelet could pick up such error during next syncLoop, which is misleading here:

[code]

Second experimental I had is after docker back t

[2016-02-22 19:03] dchen1107 commented on #21523
Sent too quickly...

Since it is rare, and it only failed when a docker creation state, not affect all running containers, I inclined to not revert back docker 1.9.1 release. Instead, we should document this as known issue.
The workaround I have is removing docker network checkpoint file.

[2016-02-22 19:04] jlowdermilk commented on #21322
This looks to be fixed with the new cvm that has docker 1.9.1 (#21514)

[2016-02-22 19:04] #21322 closed

[2016-02-22 19:05] davidopp commented on #21679
Thanks for your thoughts on this. We'll take a look after the 1.2 push is finished.

[2016-02-22 19:07] dchen1107 commented on #20280
@justinsb should we close this one since both prs are merged for a while? Thanks!

[2016-02-22 19:07] dchen1107 commented on #17870
Status on this one?

[2016-02-22 19:07] ihmccreery commented on #20825
Fixed #20825 via #20833.

[2016-02-22 19:07] #20825 closed

[2016-02-22 19:08] ihmccreery commented on #19724
Fixed #19724 via #20740.

[2016-02-22 19:08] #19724 closed

[2016-02-22 19:09] ihmccreery commented on #17965
Fixed #17965 via #20595.

[2016-02-22 19:09] #17965 closed

[2016-02-22 19:13] piosz commented on #21669
This only happens with kubectl in version 1.1 so removing milestone.

[2016-02-22 19:13] bgrant0607 commented on #21672
cc @mqliang

[2016-02-22 19:15] ihmccreery opened #21698 ""Deployment paused deployment should be ignored by the controller" e2e failing after upgrade from v1.0"
[code]

See http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-1.0-master-step7-e2e-new/

[2016-02-22 19:15] bgrant0607 commented on #21672
If you make any changes to ReplicationController, please make the same changes to ReplicaSet.

cc @madhusudancs

[2016-02-22 19:16] bprashanth commented on #21523
Overall I agree with 1.9+workaround+documentation. I'm just trying to figure out the workarounds.

I'm not sure how conclusive this is since we don't pay much attentiont to soak and regular e2es are  running < 30 pods per node.

That is also bound to help with: https://github.com/kubernetes/kubernetes/issues/20916#issuecomment-186937279, but I think ordering will be imporant:
- stop docker
- docke

[2016-02-22 19:18] ihmccreery opened #21699 "v1.0 upgrades to v1.2: outstanding issues"
This is just an overview of outstanding issues, many of which should be straightforward-ish cherry picks.

- v1.2 Kubectl against v1.0 cluster
  - [x] **Kubectl client Kubectl run deployment should create a deployment from an image [Conformance]** is failing (should be resolved with #21423).
- v1.0 e2es against a v1.2 master
  - [ ] **Events should be sent by kubelets and the scheduler about pods

[2016-02-22 19:18] waprin opened #21700 "GKE Does Not Define GCE Networks for 10.219 or 10.216"
GKE uses a 10.219.0.0/16 and 10.216.0.0/16. However nowhere does it explicitly define that it's creating a network doing that, it just creates routes. Some tools use the GCE networks to use firewalls (specifically, I ran into this issue using Google's internal firewall enforcer). To fix this I had to manually create dummy networks with those ranges.

[2016-02-22 19:19] ihmccreery commented on #19726
This has appeared on post-v1.0-to-v1.2 clusters.

[2016-02-22 19:20] lavalamp commented on #16764
@krousey Do you think we'll do more on this for 1.2 or should we kick it to the next release?

[2016-02-22 19:21] bprashanth commented on #21523
I guess just stop, poll till docker pid is gone, rm -rf /var/lib/network/files/*, start; should work.

[2016-02-22 19:22] lavalamp commented on #16040
What is the exit criteria for this issue?

[2016-02-22 19:22] bgrant0607 commented on #14961
It sounds like controllerRef could have a performance benefit, also: #21672

[2016-02-22 19:23] bgrant0607 commented on #21672
controllerRef (#14961) could effectively act as an index. We should do that in 1.3.

[2016-02-22 19:24] ihmccreery commented on #21699
A lot of these issues are going to be tough to solve, because v1.0 doesn't have any semver capabilities.  I'm skeptical that we want to put engineering effort into adding that extra dependency for a release that's so far out of date. cc @roberthbailey

[2016-02-22 19:28] vishh commented on #21523
As mentioned a couple of time earlier in this issue, can we instead switch to v1.8.3 and instead focus our energy on validating docker v1.10 and fixing possible issues with that release?

[2016-02-22 19:28] bgrant0607 commented on #21672
In the mean time, it seems like it would be pretty easy to memoize the result of the lookup, recheck that the selector matches, invalidate the cached result if it didn't still match, and use the cached result otherwise.

[2016-02-22 19:29] yujuhong commented on #17870
Commented the PR. I think the PR will not do what it intends to do and will leave the pod in the pending state with no new informaiton.

[2016-02-22 19:30] mikedanese commented on #21672
DaemonSetController likely has similar issues

[2016-02-22 19:30] derekwaynecarr opened #21701 "Namespace deletion assumes a graceful deletion period even if pod is in terminal state"
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/namespace/namespace_controller_utils.go#L303

This should differentiate based on pod status and only add the graceful termination period to the time estimate if the pod is not in a terminal state.

/cc @quinton-hoole

[2016-02-22 19:33] krousey commented on #16764
I think we got a lot of this. There are some remaining items that may have to wait. Specifically:

- [x] Get consensus on an interface - examine kubectl's Builder.
- [x] Conscript runtime.Unstructured (or similar type).
- [x] Make a codec supporting the type.
- [x] Implement the client.

Are done.

- [ ] Type needs to allow easy/standardized metadata introspection.

Version, Kind, and Name are eas

[2016-02-22 19:35] dchen1107 commented on #21523
The users could have configured their docker network checkpoint directory. Are we going to detect that to complicate our simple babysitter script? And why if it is rare issue?

[2016-02-22 19:35] wojtek-t commented on #21672
@bgrant0607 - it's easy if we assume that we don't have overlapping sectors. If we don't (which is what the code is currently doing), creating a new RC can result in changing belonging of different pods (this is what is currently happening - in other words creating an RC can effectively invalidate all existing pods in the worst case - or at least we should iterate over all pods).
It's definitely p

[2016-02-22 19:36] yifan-gu opened #21702 "Cluster logging support for rkt"
Currently, kubernetes uses fluentd to read and export docker logs. The logs are json files which have been symlinked to `/var/log/containers/*.log`[1]

As rkt pods save logs as journal files under the pod's directory, in order for the fluentd to work for rkt pods, we need to make it understand the journal log files. We might need to symlink the log files under `/var/log/containers/` as well to app

[2016-02-22 19:36] ihmccreery commented on #19726
Seeing messages like:

[code]

[2016-02-22 19:37] lavalamp commented on #16764
OK, I think we made good progress on this. Thanks.

[2016-02-22 19:38] thockin commented on #21651
Is anyone working on this?  I don't know that it should be a release blocker if nobody is owning it.

To do this, we should probably change "net.beta.kubernetes.io/gce-source-ranges" to "service.beta.kubernetes.io/load-balancer-source-ranges" so it is not GCE specific.  @freehan we should probably make that change, anyway, for clarity.

[2016-02-22 19:39] ihmccreery commented on #19726
P0 for triage/explanation, then we can decide if/how we want to fix it.

[2016-02-22 19:40] ihmccreery commented on #21698
P0 for triage, then we can decide if/how we want to fix it.

[2016-02-22 19:43] wojtek-t commented on #21107
Hopefully we've already have all necessary quota now. Will try to move it tomorrow again.

[2016-02-22 19:43] janetkuo commented on #21698
Dup #21491

[2016-02-22 19:44] #21698 closed

[2016-02-22 19:44] ihmccreery commented on #19726
See http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-1.0-master-step4-e2e-old/ and http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-1.0-master-step6-e2e-old/

[2016-02-22 19:44] thockin commented on #21630
@kubernetes/goog-cluster @kubernetes/goog-control-plane anyone have time?

[2016-02-22 19:44] janetkuo commented on #21491
Another failure reported by @ihmccreery :
[code]
See http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-1.0-master-step7-e2e-new/

[2016-02-22 19:45] vishh commented on #21702
For the short-term, is it possible to configure fluentd to ingest logs from
journald?

On Mon, Feb 22, 2016 at 11:36 AM, Yifan Gu <notifications@github.com> wrote:

[2016-02-22 19:47] thockin commented on #21625
Any help proving there is a problem would be useful to help prioritize.  @AdoHe if you have any bandwidth at all, go for it.  Mission #1: convince ourselves that there is an actual problem or document why not.

[2016-02-22 19:48] yujuhong commented on #21523
+1  docker itself gave up on  v1. and just moved on with v1.10. I think we've spent too much time investigating and working around the *known* issues of docker v1.9.

[2016-02-22 19:48] ihmccreery commented on #16040
This is a longer-standing issue that won't be completed for v1.2.  For v1.2, we have v1.2 Kubectl tests running against v1.1 and v1.0 clusters, with tests that are expected to fail disabled (see #18581 and #19608, among others).

Going forward, I'd like to actually see us get a better handle on this, either by writing tests where we can hotswap the version of `kubectl` out, or something similar.

[2016-02-22 19:49] ihmccreery commented on #16040
See also #2953 as another way to consider making headway on this.

[2016-02-22 19:49] ihmccreery commented on #16040
More specifically, an actual design doc with what we want to do, caveats, etc., then an implementation.

[2016-02-22 19:50] dchen1107 commented on #21261
A little bit summary here:

* docker used to kill pre-running docker containers at startup stage, but recent releases, they move this logic to shutdown stage, which is good. But docker 1.9.1, since the rearchitect of docker daemon including separate docker network, persistent network &  storage state requires much long time.
* Meanwhile, our supervisor babysitter script does respect such change in

[2016-02-22 19:50] ihmccreery commented on #21698
Ah, yes, this is just a flake.

[2016-02-22 19:51] yifan-gu commented on #21702
@vishh There is a [journald plugins for fluentd](https://github.com/reevoo/fluent-plugin-systemd)
Will try that out.

[2016-02-22 19:52] dchen1107 commented on #21475
Not sure about this one because pr builder doesn't collect enough debugging information.

[2016-02-22 19:52] bprashanth commented on #21523
I'm not comfortable shipping 1.9 without a workaround if there is potential that the node is hosed (i.e docker is wedged and no amout of restarting brings it back). Running into this on O(10) nodes in a 100-1000 node cluster will be a bad experience.

[2016-02-22 19:53] c1freitas commented on #10323
Does this work with AWS?

[2016-02-22 19:57] wojtek-t commented on #21672
DaemonSetController likely has similar issues

@mikedanese - yeah, but to be honest it seems to be that there would be only a couple of DaemonSets in a single cluster (like O(10)). If that's the case, it shouldn't be the problem now ;)
But thanks for pointing on it - I will keep that in mind.

[2016-02-22 19:57] ihmccreery commented on #20823
We should never have a version that has extra periods.  Back in pre-v1.0, we had versions like `v0.7.0.1234`, but now it will be `v1.2.0-alpha.1234`, which should be perfectly compliant.

[2016-02-22 19:57] dchen1107 commented on #19895
How can kubelet knows which kube-system pods belonging to which node? Not all kube-system pods are static pods, especially we want to get rid of all left static kube-system pods.

My problem is actually with the test written like this. I talked to @davidopp offline. we should rewrite this test properly by creating a deterministic environment since it requires one. I re-assign this back to @davidop

[2016-02-22 20:00] ihmccreery commented on #20823
See https://github.com/kubernetes/kubernetes/pull/16102

[2016-02-22 20:04] yujuhong commented on #21523
In my case, this is how I reproduced it:
 1. build fresh test cluster
 2. start 100 pause pods, wait until the pods are running and delete them.
 3. repeat (2) if everything works fine

The test usually fails the second time if it's going to fail. Note that I didn't explicitly kill docker, and supvervisord showed no sign of docker being killed unexpectedly.
However, I think @dchen1107 may be right

[2016-02-22 20:07] quinton-hoole commented on #21630
@thockin I can potentially take a look at this later this week, once ubernetes-lite tests are stabilized and docs are written.  If anyone has time before then, please have at it.  I'll update this issue before I start working on it, to avoid any confusion.  Provisionally assigning to myself.

[2016-02-22 20:12] bprashanth commented on #21630
@quinton-hoole we should just do https://github.com/kubernetes/kubernetes/issues/15095.

I wanted to add backoff to the workqueue (https://github.com/kubernetes/kubernetes/tree/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/pkg/util/workqueue) when writing the RC manager but it got dropped. Essentially it would be great if we requeue items with non-terminal errors, rate limit retries and avoid backoff f

[2016-02-22 20:13] bgrant0607 commented on #18780
With respect to P3: I use P3 to distinguish things that I think are low enough that we'd never do them, but aren't objectionable, so someone from the community could potentially do them.

[2016-02-22 20:16] piosz commented on #12455
No sure what do you mean by

All rate metrics are aggregated on node level. Also all metrics that are exposed by cadvisor on node level are being scrapped by Heapster. Some kind of disk and network metrics are exported by Heapster, please take a look into [metrics.go](https://github.com/kubernetes/heapster/blob/heapster-scalability/metrics/core/metrics.go#L197) to verify if this is what you want.

[2016-02-22 20:16] bgrant0607 commented on #21672
@wojtek-t We break overlap ties using creation timestamp. If an older RC still exists, a new one can't take over its pods, so creating a new RC shouldn't invalidate existing memoized results.

[2016-02-22 20:17] bgrant0607 commented on #21672
I don't object to parallelization. The 2 approaches can be complementary.

[2016-02-22 20:18] dchen1107 commented on #21523
I am totally open to any opinion on this, but @vishh @bprashanth and @yujuhong how much confidence you guys have with docker 1.10 release here?

We validated docker 1.9.X release since Oct, 2015 (https://github.com/kubernetes/kubernetes/issues/16110). We performed functional tests, integration tests and performance validation tests.

Our entire jenkins project moves to docker 1.9.1 test more than

[2016-02-22 20:23] quinton-hoole commented on #21630
@bprashanth Regarding #15095 I'm not a fan of having such different polling frequencies configured for test vs production (as per the original proposal) as it will undoubtably mask errors in testing.  However I'm a huge fan of generalized backoff and rate limits, as proposed further down there.

It looks like #19335 (already merged) is good enough to remove this from the blockers queue for 1.2.  A

[2016-02-22 20:24] justinsb commented on #21475
Yeah, I was obliged to create an issue to track the flake, though I don't see how anyone could magically debug this.  I propose we treat as low priority unless we see it happen again.  Do we have a P4?

[2016-02-22 20:24] yujuhong commented on #19571
@dustymabe, let's close this issue and discuss in #8347 so it's easier to track.

[2016-02-22 20:24] #19571 closed

[2016-02-22 20:25] bprashanth commented on #21672
Sorting by timestamp is a sub-optimal solution because an single RC can manage pod with different labels. So if we have 3 RCs a,b,c, and podA matches a,b, and we choose a from timestamp, then podB comes in and matches a,b,c and we choose c by timestamp, we're back to fighting.

This is just another case of overlap we fumble.

[2016-02-22 20:28] bprashanth commented on #21630
Yeah I'm talking about unified backoff/retry policy in the workqueue.
This will probably still happen on GCE. I suggest applying the same pattern we used for AWS backoff: https://github.com/kubernetes/kubernetes/pull/19335#discussion_r53561760

[2016-02-22 20:31] bprashanth commented on #21630
The link is broken. I meant encapsulate https://github.com/kubernetes/kubernetes/pull/19335/files#diff-fe3eb574eb9c040028e842395d85585dR92 into a Backoffer interface and reuse in GCE. You'll just need to check the cloudprovider specific error for backoff in `ReportError`.

[2016-02-22 20:31] dchen1107 commented on #21475
@justinsb haha... thanks! I marked this as P3 for now. Also I do think @lavalamp might be right on this. So far all node not ready issue can be categorized into two issues:

1) https://github.com/kubernetes/kubernetes/issues/20096 Hairpin mode triggers the kernel issue which cause docker process becoming zombie process.
2) docker unclean restart https://github.com/kubernetes/kubernetes/issues/2126

[2016-02-22 20:32] justinsb commented on #21625
From the user's log (I don't think there's anything secret in here...):

[code]

This was triggered by an AWS CoreOS 1.1.7 configuration where the user had two subnets (in the same AZ), but hadn't tagged anything with a KubernetesCluster tag, so AWS was rejecting the call.  (I believe we've actually remedied this in 1.2)  But any persistent problem with ELB creation should trigger the same problem

[2016-02-22 20:34] justinsb commented on #21651
I hope I can get to it if nobody else has bandwidth.

[2016-02-22 20:35] quinton-hoole commented on #21630
@bprashanth Sounds perfectly sensible, but not a 1.2 blocker, right?

[2016-02-22 20:35] juanjoperl opened #21705 "Prioritized pods (ubernetes)"
For a possible workaround to the problem of federation, can kubernetes have this behabour?: the ability the services have several sets of labels to select pods. The first set would be the priority, the second come into play if the priority pods do not respond, and so on.
With this capability, could have pods tagged area, and the services have sorted priority areas

[2016-02-22 20:37] justinsb commented on #21630
I don't think we should rely on #19335.  It is a "last resort" for unknown problems, whose job it is to delay calls so we don't lock out the account.  I don't expect k8s to function well if it is triggered.  Also, #19335 is reactive, not preventative - it only triggers once we're already hitting the limit.

We know we have an over-eager retry loop here, and I think we should fix it.

I don't know

[2016-02-22 20:39] quinton-hoole commented on #18780
One final post-script comment.  Right now we are explicitly using "priority" as a sub-scale of "urgency" in the sense that P0 and P1 items for release-1.2 are blockers (must be done before we release 1.2).  Stuff that is not a true blocker, is being dropped to P2 in many cases (even though it might be very, very important). It's not yet totally clear to me how we reconcile this with the plan above

[2016-02-22 20:39] thockin commented on #21523
I'll take known issues over unknown issues.  I lean towards declaring 1.9 DOA and telling people to use 1.8 or 1.10, and press on the 1.10 qual and docs (regarding the storage conversion).

[2016-02-22 20:39] justinsb commented on #21625
Sorry, commented on the wrong issue.  I'm going to delete the above comment.

[2016-02-22 20:42] thockin commented on #21500
We will have the same issue with the DNS server at some point.

[2016-02-22 20:43] quinton-hoole commented on #21630
@justinsb Totally agreed.  Provisionally dropping to milestone next-candidate, but leaving P1, as I agree that it's important that we fix this.

[2016-02-22 20:44] wojtek-t commented on #21672
@bgrant0607 - ok thanks. To be clear, I also don't object caching (in fact I think we need it, but we may need to be careful with it).

[2016-02-22 20:51] thockin commented on #15050
I'm not clear on what the actual problem is or what the proposed fix is - can someone catch me up?

[2016-02-22 20:52] thockin commented on #21219
I'm unblocking 1.2 on this

[2016-02-22 20:56] justinsb commented on #15050
I'm pretty sure it is fixed, but we had a bug on AWS where we were trying to mount the whole volume instead of just the partition when a partition was specified for an EBS volume.  We just need to verify that it is indeed fixed.

How can I tag this to say "do not block the release, and do not block cutting the branch, but justin (or anyone else aws) should really just find the time to test this"?

[2016-02-22 20:57] antoineco commented on #15050
@thockin before a filesystem is created one should create a partition. Currently the filesystem is created directly on the device. First this is not a correct approach, second it contradicts the fact that a `volume` can mount a specific partition.

[2016-02-22 20:57] gmarek commented on #21500
We should make an effort to have master self register, which will allow for easier monitoring of resource usage.

[2016-02-22 20:58] yujuhong commented on #21629
Sadly our test cluster doesn't register the master node, so we don't test this configuration.

@luxas, perhaps you can check the apiserver log and see who sent the DELETE request for these pods? There are only a few components that may actually delete those pods, and it's most likely to be the node controller.

[2016-02-22 21:00] ncdc commented on #21525
cc @kubernetes/sig-api-machinery

[2016-02-22 21:00] ncdc commented on #21525
cc @deads2k

[2016-02-22 21:00] davidopp commented on #21500
^ We can do that for 1.3, we already decided to drop it from 1.2.

[2016-02-22 21:01] justinsb commented on #15050
@antoineco I don't think there's anything wrong with mounting the whole volume if you don't specify a partition - I don't think we're going to fix that (certainly not in 1.2).  What do you believe the problem there to be?

What I believe we have fixed is that originally when a user specified a partition to mount, we ignored it and tried mounting the volume instead.

[2016-02-22 21:02] yujuhong commented on #21702
Does that mean `kubectl logs` won't work? We'll need more documentation in this case.

[2016-02-22 21:05] bprashanth commented on #21523
We're waiting for https://github.com/kubernetes/kubernetes/pull/21703. I believe the problems with 1.9 are surfacing as various node not ready/cluster timeout bugs (https://github.com/kubernetes/kubernetes/issues/20916#issuecomment-186937279). We're hoping restarting docker gracefully mitigates all of them. If that happens, this becomes just another (vaguely understood) docker bug.

[2016-02-22 21:07] dchen1107 commented on #21523
@thockin I want to clarify the issue reported here a little bit more:

* AFAIK, it is a rare case. Besides our own tests performed locally to stress the node, we didn't observe such issue through e2e tests. Talked to @yujuhong she couldn't reliably reproduce the issue even stretch our node very much.
* The problem doesn't hurt any running pods / docker containers.
* When we hit the issue, the arri

[2016-02-22 21:12] vishh commented on #21702
No kubectl logs will translate to an equivalent command on rkt, which I
believe works already. This is specific to cluster level logging.

On Mon, Feb 22, 2016 at 1:03 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-02-22 21:21] wonderfly opened #21707 "All Trusty GCE e2e jobs failing due to moved ENV variable definitions"
They all started to fail on Feb 19th with the error of `bash: line 102: KUBERNETES_PROVIDER: unbound variable`. Seems to have been caused by #21524 that moved environment variable definitions to job configs, which did it for all jobs but Trusty GCE jobs. I was pulling my hair out trying to get it fixed, but there are many pieces moved from/into branches, so I'd lean on @spxtr to help out. :smile:

[2016-02-22 21:25] innovia commented on #21692
some logs:

[code]

and here are the grafana logs
[code]

[2016-02-22 21:27] antoineco commented on #15050
It is not completely invalid, but if you do so tools like `fdisk` will throw warnings like "Device does not contain a recognized partition table." (see my [previous comment](https://github.com/kubernetes/kubernetes/issues/15050#issuecomment-145536852))

[2016-02-22 21:30] sjenning commented on #21640
The previous masterless case just _barely_ passed with a 12.5 second timeout (25 tries at 0.5 second interval)

[code]

I think we just need to increase the timeout.

[2016-02-22 21:35] #21261 closed

[2016-02-22 21:48] caesarxuchao commented on #15493
Patch is retried at server-side five times before an error is returned: https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/resthandler.go#L92, so I expect this issue to occur very rarely. In fact, it has passed last ~400 kubernetes-gce-e2e tests.

If we want to make this test less flaky, I'd recommend increase the number of the retries at the server-side. What do you guys think?

[2016-02-22 21:49] mml commented on #21523
@dchen1107 I think we are seeing this show up in e2e tests.  #20916

[2016-02-22 21:57] janetkuo commented on #21467
Filed #21710 to fix the "wrong event" failure mode.

[2016-02-22 22:05] dchen1107 opened #21712 "kubernetes-e2e-gke failed after upgrading to latest gcloud package"
Since 12:30pm today, kubernetes-e2-gke started to fail after upgrading to the latest gcloud packages

For example, http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1531/consoleFull

This blocks our merge-bot too.

cc/ @ihmccreery

[2016-02-22 22:07] swagiaal commented on #20262
Hmm.. I am a little uneasy with all the stored state :/... I'll offer some suggestions which could help:

What if we ask the nodes instead of the provider. All the plugins know the path to the device (or at least know how to find it). So maybe we can extend that to provide a list of attached volumes. And when attachedVolumes != desiredVolumes we attach/detach to match.

Similar to health checks th

[2016-02-22 22:09] dchen1107 commented on #20916
Yes, it looks like #21523 caused by unclean shutdown docker.  https://github.com/kubernetes/kubernetes/pull/21703 was merged a couple of minutes ago, which should fixed / mitigate hugely on this issue.

[2016-02-22 22:15] jlowdermilk commented on #21411
This is yet another dupe of #20916. If #21703 has not fixed it, we'll reopen the other issue that has more context.

[2016-02-22 22:15] #21411 closed

[2016-02-22 22:17] nikhiljindal commented on #21525
Changing HasPrefix to Contains seems fine to me.

@ethernetdan Feel free to send a PR.

[2016-02-22 22:21] andyzheng0831 commented on #21707
I see there is a PR #21708 sent out for review by @spxtr. Is that PR able to fix this issue, or there is additional work to do?

[2016-02-22 22:22] nikhiljindal commented on #21353
ok, that sounds good to me. Lets re-fetch the spec when validation fails for type not found.

@AdoHe You want to send a PR for that?

Marking this as 1.2 P2 as per https://github.com/kubernetes/kubernetes/issues/21042

[2016-02-22 22:23] lavalamp commented on #15493
It'll fail if an actual conflicting change was made, though. Do we know
what the nature of the conflict was? Maybe first we need to add some log
messages to figure out what the conflict was next time it occurs.

On Mon, Feb 22, 2016 at 1:49 PM, Chao Xu <notifications@github.com> wrote:

[2016-02-22 22:23] wernight commented on #20835
I agree with what you say.

The point is "at your NFS server" which I don't have and I'd like to avoid setting up.

[2016-02-22 22:24] ArtfulCoder commented on #20550
@freehan and I investigated this today and there is a potential bug in the pullimage backoff logic, where we dont seem to retry at all.
We are trying to nail the issue and come up with a fix.

If this is the bug we think it is, it would need to go in v1.2

[2016-02-22 22:24] wernight commented on #8773
I'm talking about ZSH.

[2016-02-22 22:25] dustymabe commented on #8347
Since we closed #19571 I'd like to copy some of that issue contents here:

In the past there have been some issues (#1148 is one) about cleaning up containers. Now in kubelet there are a few options to control garbage collection of containers.. (the docs for these was added in https://github.com/kubernetes/kubernetes/pull/13087)

- maximum-dead-containers-per-container
- maximum-dead-containers

S

[2016-02-22 22:26] spxtr commented on #21707
That should fix it. It was a small mistake on my end that led to calling the master-branch e2e script instead of that on release-1.1, where the trusty configs live.

[2016-02-22 22:28] roberthbailey commented on #21712
/cc @jlowdermilk

[2016-02-22 22:32] andyzheng0831 commented on #21707
OK. So I leave it to you, or you can reassign the issue to you. I don't have permission for reassignment.

[2016-02-22 22:32] gmarek commented on #21500
Yup. That's what I meant.

[2016-02-22 22:34] jchauncey opened #21714 "why do daemonsets often say they were misscheduled?"
I've noticed that when looking at the description of a daemonset it will say that it was misscheduled onto 2 nodes. It also normally has the wrong Pod Status.

[code]

[2016-02-22 22:34] bprashanth commented on #15493
This happened last week: https://github.com/kubernetes/kubernetes/issues/15493#issuecomment-185509422

[2016-02-22 22:39] jlowdermilk commented on #21712
The above link isn't a gcloud failure. The cluster failed to create in the 30min time limit, possibly due to transient networking problems in us-central1-f.

[2016-02-22 22:39] dchen1107 commented on #16623
on failure instance: http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/29491/consoleFull

[2016-02-22 22:43] jlowdermilk commented on #21712
Last 3 runs are green, so this was a transient problem.

[2016-02-22 22:43] #21712 closed

[2016-02-22 22:43] justinsb commented on #21690
@innovia I can't actually reproduce this.  What environment variables do you have export-ed?  I'm wondering if these errors only occur if you choose a different set of options from the ones I'm using..

[2016-02-22 22:52] janetkuo commented on #21463
[code]

Filed #21715 for this

[code]
Which kind of makes sense, but may be surprising to users, since they won't necessarily reflect the actual number of pods.

Filed #21713 for this

[2016-02-22 22:52] lavalamp commented on #21672
I also vote for memoization. The more I think about it, the more I think adding parellization into the controller framework/informer is very dangerous. I don't think consumers of that code are expecting their handlers to be called in parallel right now.

[2016-02-22 22:54] caesarxuchao commented on #15493
@lavalamp you are right. I thought an actual conflicting change would result in a different error message but it's not. I'll add the logs.

[2016-02-22 23:07] bprashanth commented on #21672
+1. Many controllers treat the serialization in the Informer like a write lock, including the Ingress controllers in contrib and who-knows-what downstream.

[2016-02-22 23:09] janetkuo opened #21716 "integration flake: In hack/test-cmd.sh, get unexpected frontend pod"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21713/kubernetes-pull-test-unit-integration/15643/?debugUI=CLOUD
[code]

Looks like in `hack/test-cmd.sh` L707, pod frontend-9i1jc hasn't been deleted by `kubectl delete rc,hpa frontend "${kube_flags[@]}"` before we check that no pod exists. Maybe it's related to delete grace period.

cc @caesarxuchao

[2016-02-22 23:11] bprashanth commented on #20550
Fyi @fejta is tagging all the untagged (latest) images. That should significantly reduce the pull image load.

[2016-02-22 23:12] goltermann commented on #19094
@aronchick I'm pushing this out of v1.2.  We've achieved the 100 pods per node goal, though not via closing each of these subissues.

[2016-02-22 23:18] caesarxuchao commented on #21716
Could you try if adding `--grace-period=0` to the cleanup command fix the flake?

[2016-02-22 23:23] janetkuo commented on #21716
@caesarxuchao Thanks, this should work. Will add this to all delete in hack/test-cmd.sh.

[2016-02-22 23:33] caesarxuchao commented on #21716
Just in case you don't already know, --grace-period=0 only works for pods.

[2016-02-22 23:43] janetkuo commented on #21716
@caesarxuchao I thought grace-period also works for other resources such as deployments, jobs, replicasets since it's referenced in their reaper? Is it not the case?

[code]
[code]

[2016-02-22 23:44] lavalamp commented on #21484
@bprashanth this is #21484, did you mean something else?

[2016-02-22 23:46] bprashanth commented on #21484
Bah i meant https://github.com/kubernetes/kubernetes/issues/18963

[2016-02-22 23:54] lavalamp commented on #18963
Dup of #21484.

[2016-02-22 23:54] #18963 closed

[2016-02-22 23:56] guoshimin commented on #21566
The dedicated nodes design doc describes exactly what we need. Any projection on when that will land?

[2016-02-22 23:56] lavalamp commented on #21672
Also take a look at #17277.

[2016-02-23 00:15] dchen1107 commented on #8347
@timstclair I am assigning this one to you. I want to change kubelet flag to support 100 pods by default, meanwhile, we have to change maximum-dead-containers to some bigger numbers, like 200ish so that we wouldn't lose previous termination information. But there is a catch is that gc is only trigered when dead containers are reached maximum-dead-containers value, which is not good.

[2016-02-23 00:16] #21707 closed

[2016-02-23 00:22] dchen1107 commented on #13749
I am closing this one since we handle this issue now explicitly through each cloud provider. For example, #21632 is merged for all os distros on aws.

[2016-02-23 00:22] #13749 closed

[2016-02-23 00:26] vishh commented on #19720
https://github.com/docker/docker/releases/tag/v1.10.2

[2016-02-23 00:28] lavalamp commented on #21484
OK, so I misread. The '0' is the index of the attempt, not the status code.

[2016-02-23 00:29] dchen1107 opened #21722 "Collect logs even kube-up.sh failed"
We run into a lot of issues when kube-up.sh failed, and cluster is not ready. But there is no logs collected from node. For example, http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4784/gcsObjects/ simply exit without any log collections.

xx/ @spxtr

[2016-02-23 00:29] lavalamp commented on #21484
I think the pod probably just needs a readiness check.

[2016-02-23 00:31] spxtr commented on #21722
[GCS logs for that run](https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4784/)

[2016-02-23 00:32] dchen1107 commented on #21722
But the failure indicates several nodes notready, not log collected from those nodes at all.

[2016-02-23 00:33] thockin commented on #18019
The doc is in.  We can close this?

As another idea, we could show the IP-or-hostname, but if len(hostname) > 16, show hostname[0:13] + "..." in normal output and show the whole thing in -o wide.

We don't have a lot of precedent for this, but it doesn't sound awful to me.  I'm going to move this out of the milestone but leave it open.  If anyone disagrees, let me know.

[2016-02-23 00:34] janetkuo commented on #21716
Per in-person discussion with @caesarxuchao, `--grace-period` doesn't work for `kubectl delete rc` or `hpa`, so adding it to `kubectl delete rc,hpa frontend "${kube_flags[@]}"` won't fix this flake.

After this delete command, rc reaper should scale rc down to 0 so there should be no pods. A temp fix will be to add `kubectl delete pods --all` after this line to clean up potential remaining pods. H

[2016-02-23 00:43] janetkuo commented on #21716
Un-assigning myself to fix other e2e test flakes first.

[2016-02-23 00:46] timbunce commented on #19228
That's great news. Thanks @luxas.

[2016-02-23 00:50] ArtfulCoder commented on #20550
@freehan Is sending out a PR fix.
The kubelet basically does not reset the pull image backoff time for podName:containerName tuples.
In a normal usage situation, we should not be hitting this situation.
We hit it in tests, and the PR fix should address it for all scenarios..

[2016-02-23 00:50] caesarxuchao commented on #15493
In #21723 I added a log entry if there is a meaningful conflict. That said, I don't think we have a meaningful conflict in this particular e2e test.

After taking a closer look at the implementation of `kubectl apply`, I think the submitted `patch` is precise, so we shouldn't retry at the client side if server reports a meaningful conflict.

[2016-02-23 00:51] ArtfulCoder commented on #20550
I would suggest we have this v1.2, just in case...
If a user hits this situation, it will take the kubelet about 10 mins to recover..

[2016-02-23 00:54] dvohra commented on #19720
Is the link posted to indicate that the '-d' is replaced with 'daemon' in 1.10.2? The Changelog does not indicate so.

[2016-02-23 00:57] yujuhong commented on #21640
I randomly sampled 5 green builds and they all have this test (starting kubelet in masterful/less mode) finished in 3s or less.

Judging for the successful masterless mode startup before the failure, kubelet spent the most time trying to register credential providers (a 10s gap in the log).
The same roughly applies to the failed "masterful mode", based on where the log message stopped.

From https

[2016-02-23 00:58] yujuhong commented on #19720
I think @vishh was simply pointing out that docker v1.10.2 is out and we should validate that.

[2016-02-23 01:03] ArtfulCoder commented on #20987
We have a kubelet PR fix going out for review today..

[2016-02-23 01:18] mqliang commented on #21672
Yes, I have two PRs which try to speed up `getPodController()` method:
1) https://github.com/kubernetes/kubernetes/pull/17277, which add namespace index  for cache
2) https://github.com/kubernetes/kubernetes/pull/19043, which add a look-up cache

I will rebase them soon if the optimization skills looks good.

And there is a issue which point out a another potential problem of `getPodController()`

[2016-02-23 01:20] ixdy commented on #21451
The container that cAdvisor is naming is the same container that tests are running in.

In kubernetes-test-go/8711 currently running, I see this line:
[code]

And `docker ps` shows a matching container:
[code]

(`kubernetes-test-go-release-1.1` is also running, hence the 0.2 image also here.)

I still have no idea what would be trying to kill this container, though.

[2016-02-23 01:20] lavalamp opened #21729 "build system can get permanently broken"
(there's some extra debug output in the below)

[code]

Manually changing the KUBE_ROOT_HASH value to a different constant got me working again.

[2016-02-23 01:23] ixdy commented on #21451
So to address https://github.com/kubernetes/kubernetes/issues/21451#issuecomment-186489495, I don't think that the kubelet is trying to delete the cAdvisor's container, since it isn't actually running in one.

[2016-02-23 01:35] janetkuo commented on #21467
#21715 should fix the "old replica sets are not fully scaled down" failure mode.

[2016-02-23 01:39] janetkuo commented on #21463
#21715 should already fix the "old replica sets are not fully scaled down" failure mode.

[2016-02-23 01:39] yujuhong commented on #16943
I ran the 100 pods/node density test in a 100-node kubemark cluster and it passed three times in a row. I used the same configuration as the jenkins kubemark suite: 10 n1-standard-2 gce instances.
I pasted one of the [test logs](https://gist.github.com/yujuhong/52a94d598fd3adf47555)  in case any of you want to take a look.

[2016-02-23 01:44] lavalamp commented on #21484
I added one & tried it--indeed, the pod spent a fair amount of time in running but not ready state. PR sent.

[2016-02-23 01:48] vishh commented on #21392
The underlying issue was that stackdriver was incorrectly rendering `CPU` metrics. This has been fixed and users should not be seeing this issue anymore.

[2016-02-23 01:48] #21392 closed

[2016-02-23 01:51] justinsb opened #21731 "AWS support for docker 1.9.1 workarounds"
We need an AWS equivalent to #21727 and #21703

It might be that systemd doesn't have the same problems, because it properly tracks when processes are running, though it seems more likely that the AWS testing has not yet been thorough enough to find these problems.

[2016-02-23 01:51] justinsb commented on #21731
cc @dchen1107

[2016-02-23 01:51] AdoHe commented on #21353
@nikhiljindal I will send a PR to fix this.

[2016-02-23 01:53] bgrant0607 commented on #21467
Merging so we can watch the failure rate over night

[2016-02-23 01:53] bprashanth commented on #21523
We're hammering the network checkpoint: https://github.com/kubernetes/kubernetes/pull/21727. Hopefully that doesn't cause more crashing or burning.

[2016-02-23 01:54] bgrant0607 commented on #21467
Both of those fixes are now merged

[2016-02-23 02:03] janetkuo commented on #21451
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21726/kubernetes-pull-test-unit-integration/15681/?debugUI=CLOUD

[2016-02-23 02:08] bgrant0607 commented on #21491
@kargakis @nikhiljindal @janetkuo @mqliang

This test is racy. It pauses the Deployment and then deletes the ReplicaSet without confirming the controller has observed the pause.

If we implemented generation/observedGeneration, we could use that to determine that pause had been observed.

Or, if we could scale paused deployments (#20273), we could pause, scale, and wait for the scale to take effec

[2016-02-23 02:11] smarterclayton commented on #21062
Are there any backwards compatibility implications here?  would this break
users who have existing configs (that fallback to default namespace)?

On Mon, Feb 22, 2016 at 1:36 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2016-02-23 02:19] caesarxuchao commented on #19715
If we want to patch this in 1.2, we can strip the APIVersion if it's "extension/v1beta1" and the kind is DeleteOptions, that should fix the bug. We'll need to keep it that way until we retire release-1.1. Maybe this solution has other disadvantages I haven't foreseen yet.

Or, if we can patch 1.1, we just need to register v1.DeleteOptions in pkg/apis/extensions/v1beta1/register.go. This is more sa

[2016-02-23 02:35] dove-young commented on #21668
@AdoHe It is what I suppose kube-apiserver would do.  But I really could use ssh key via ssh-agent in kube-master machine.

[code]

Oh, wait, wait, I found some interconnect errors. Let me put them here in order others will be alert.

1. In my 1st try, I used **correct key file** which I've already installed in remote machines and I can communicated with them using ssh command. But **I choosed inc

[2016-02-23 02:41] janetkuo commented on #19299
We should wait for rs's pods to be available (not just running) before creating the deployment, since we set minReadySeconds to 5. Filed #21734 to fix this.

[2016-02-23 02:41] feihujiang commented on #21682
Yes, I agree this isn't worth a breaking change, But could we give an warning log that targetPort isn't equal to port and would be ignored?

[2016-02-23 02:46] AdoHe commented on #21062
@jlowdermilk I think kubelet directly use `client.Config` not `clientcmdapi.Config`. Also [getContext()](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/clientcmd/client_config.go#L277) already checks whether the user-specified current context exists, the problem is that if not exist, we just skip. We need to do something if the current context not exist, like log a war

[2016-02-23 03:06] ixdy commented on #21451
I looked at all build logs for the unit/integration tests on PR Jenkins, going back to Jan 26 or so (build 11025). The first failure showing "You cannot remove a running container" was in build 14769, which happened on Weds Feb 17 at approx 8:06am (PST). So it was likely some change between 2/13 - 2/16 (since I think PR load was lower over the long weekend), perhaps the upgrade to Docker 1.10.1 on

[2016-02-23 03:12] ixdy commented on #21451
For reference:
[code]

[2016-02-23 03:32] liggitt commented on #21682
There's no facility in validation for warning. I don't think spamming the server log in response to API requests is that helpful here

[2016-02-23 04:18] bgrant0607 commented on #19299
Merged #21734, but rather than waiting for events, this test should await (at least) one redis-slave replica after creating the deployment, pause, wait for all the pods to become available, update to redis, unpause, and wait for the deployment to fully roll out.

[2016-02-23 04:22] smarterclayton commented on #19715
What's the expected outcome for extensions/v1beta1?  Deprecation and
removal in 1.3 by smaller groups?

Where possible I'd prefer to not add exclusions to new code for old
bugs but I don't have a strong opinion either way.  I will note that
extensions are v1beta1 for a reason...

[2016-02-23 04:28] smarterclayton commented on #2770
Yes, I would much rather have a GCE L7 service load balancer controller
that is independently compilable and shares most of its code without
necessarily having to be the same binary.

On Mon, Feb 22, 2016 at 12:21 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-02-23 05:21] ddysher commented on #7452
What's the plan for the deprecation?  We are using nginx in front of apiserver which drops support for SPDY since version 1.9.5.  Our workaround is to use an older nginx, but would like to see http/2 support go upstream :)

[2016-02-23 05:23] jumpkick opened #21735 ""Running Kubernetes locally via Docker" should address services opening ports on node's public IP"
The stated objective of [Running Kubernetes locally via Docker](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md) is to setup a **single node** Kubernetes cluster using Docker.

The instructions do produce a functioning installation on a single node via hyperKube.

However, every service that is exposed for internal communication inside the single node is

[2016-02-23 05:44] feihujiang commented on #21682
Yes, that sounds reasonable. I just think that targetPort was ignored is a little unfriendly to user.

[2016-02-23 05:52] rideswitch commented on #20475
@ArtfulCoder sorry for the delay. When might you have time to do a screenshare?  Or, if you want I could make you a shell script that sets it all up (if you have vagrant and virtualbox installed on linux or mac).

[2016-02-23 06:02] nikhiljindal commented on #20293
I agree that we can do both - matching and extensible short names (I see value in both)

I also wanted to point out that we want this to work for federated api server resources as well.
As long as we use continue to use RESTMapper for matching as @caesarxuchao mentioned, we should be fine I think.

Also https://github.com/kubernetes/kubernetes/pull/14383 is adding a --preferred-version flag that u

[2016-02-23 06:02] ArtfulCoder commented on #20475
hi, the shell script would be great.
I will set up vagrant and virtual box on mac.

[2016-02-23 06:03] bgrant0607 commented on #19299
#21734 didn't solve the problem:
[code]
Buckets/kubernetes-jenkins/logs/kubernetes-e2e-gce-flaky/12185

[2016-02-23 06:15] bgrant0607 commented on #21467
This most recently failed with:
[code]
which should be fixed by #21710, which was merged after #21715.

[2016-02-23 06:23] piosz commented on #21669
fixed by #21670, will be released in 1.1.8

[2016-02-23 06:23] #21669 closed

[2016-02-23 06:47] gmarek commented on #21029
New one: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1556, which is a dupe of this, according to @freehan

[2016-02-23 07:06] MaxDaten commented on #16412
@luebken I didn't :( Currently I creating the riak ring with a discovery script in the container which I execute manually. I'm waiting for the persistance volumes to get manually reclaimable somehow. Before that, a autodiscovery via hooks isn't really possible afaik. So I didn't investigate the hooks further. Sorry

[2016-02-23 07:15] wojtek-t commented on #21313
This just happened again:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4789/consoleFull

I've increased priority of the PR to help with debugging to P0 as well as priority of this issue.

[2016-02-23 07:24] bgrant0607 commented on #19299
The first 4 pods created do become available and responsive: nginx-controller-8xqt9, nginx-controller-af5wx, nginx-controller-afbi5, nginx-controller-i13tp

The log then contains:
[code]
Note the more than 3-minute gap.

CreationTimestamp of the available pods are both 2016-02-22 20:41:26.

CreationTimestamp of the unavailable pods is 2016-02-22 20:44:45 -- which is the second before availability

[2016-02-23 07:32] bgrant0607 commented on #19299
I don't think it could be due to lack of #21030. The adopted RS doesn't have pod-template-hash, but it does have a label that the Deployment-generated RSes don't (pod: nginx).

[2016-02-23 07:32] wojtek-t commented on #21672
@mqliang - #19043 is much more important for now. So please focus on it first. I will try to look into it today too.

[2016-02-23 07:34] wojtek-t commented on #21672
@lavalamp @bprashanth - I agree that we should NOT change the controller framework to be non-serial in general. But what I'm suggesting is to add a possiblity to process coming events in parallel.
So if we set the number of workers to 1, we are back to processing the in serial in the same order in which they are coming. We can make this a default behavior, so it will be totally up to users to swit

[2016-02-23 07:36] mqliang commented on #21672
@wojtek-t OK, I will rebase it soon and apply the same optimization skill to ReplicaSet(And maybe DaemonSet)

[2016-02-23 07:42] wojtek-t commented on #21672
@mqliang - thanks!
Please apply it to ReplicaSet - we can change DaemonSet later (or at least in separate PR).

[2016-02-23 07:45] #20755 closed

[2016-02-23 07:45] #20912 closed

[2016-02-23 07:55] nikhiljindal commented on #21491
Another hack to fix this will be to generate an event when controller sees the paused deployment, but depending on events is discouraged https://github.com/kubernetes/kubernetes/issues/21511

As far as I know, I dont think anyone is working on observedGeneration.

@kargakis By when do you think https://github.com/kubernetes/kubernetes/pull/20273 will be merged?

[2016-02-23 08:23] bgrant0607 commented on #19299
kube-controller-manager.log
[code]

AFAIK, it appears the ReplicaSet did delete the pod in question.

Is a `del:-1` expectation normal?

[2016-02-23 08:49] #18422 closed

[2016-02-23 08:50] wojtek-t commented on #21672
@bgrant0607 @lavalamp

@wojtek-t We break overlap ties using creation timestamp. If an older RC still exists, a new one can't take over its pods, so creating a new RC shouldn't invalidate existing memoized results.

Yes, but the problem is if a pod is attached to some new RC, and then you change the selector of older RC so that it is now matching that pod. Then if we use caching, we won't observe

[2016-02-23 08:54] mqliang commented on #21672
BTW, usually, a rc will have a replica number 3-5, so https://github.com/kubernetes/kubernetes/pull/19043 could only speed up `getPodController()` about 3-5 times.

If https://github.com/kubernetes/kubernetes/pull/19043 is not enoght to fix this issue, we may need https://github.com/kubernetes/kubernetes/pull/17277, too. https://github.com/kubernetes/kubernetes/pull/17277 will have a 2 times impro

[2016-02-23 09:25] Random-Liu opened #21739 "unversioned client unit test TestBackoffLifecycle failed"
I met this in #21349.
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/15730/testReport/junit/

This test should have nothing to do with kubelet, so it seems to be a flake.

[2016-02-23 10:40] #20787 closed

[2016-02-23 11:09] xied75 commented on #18019
Looks great. Thanks to all for the work. :+1:

[2016-02-23 11:45] #11324 closed

[2016-02-23 11:50] luxas commented on #21629
@yujuhong Yeah, a `DELETE` request was sent by `nodecontroller`:
[code]
[code]

Roughly what happened:
 - `node theninja hasn't been updated for 23m`
 - `Recording status change NodeNotReady event`
 - `Update ready status of pods on node [theninja]` => `Error: Server rejected event`
 - `Updating ready status of pods to false`
 - `Recording Deleting all Pods from Node theninja`
 - `Starting deletio

[2016-02-23 12:03] piosz opened #21742 "Kubectl describe hpa should print hpa related events"

[2016-02-23 12:03] piosz commented on #21742
cc @fgrzadkowski @mwielgus @kubernetes/autoscaling

[2016-02-23 12:43] kargakis opened #21746 "cluster/kube-push.sh fails"
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/developer-guides/vagrant.md

I have a running cluster in vagrant, had to make some code changes and push back but `cluster/kube-push.sh` fails with:
[code]

[2016-02-23 12:52] gmelekh opened #21747 "Question: kubectl fails to communicate with Kube-apiserver because of api versioning"
Hello kubernetes experts.
I try to create multi-master cluster on Centos 7 Atomic Host on a cloud.
The system include 3 master machines and 3 node machines.
I am focused on starting up the master machines.
I would like the kubelet to rump up all the services on startup.
Kubelet initialized with systemd ,watching manifests directory at /etc/kubernetes/manifests
kubelet starts kube-apisrver and podm

[2016-02-23 13:20] #8476 closed

[2016-02-23 13:25] justinsb opened #21748 "AWS kube-up: we should check the region"
Users often specify the zone as "us-east-1" instead of a zone.  We can check for this by checking the region against the describe-regions call.

[2016-02-23 13:26] kargakis commented on #21491
@nikhiljindal it's moving forward but I am not sure. We still need to sort things out like new rs creation during paused... I am going to submit a PR adding observedGeneration to deployments later today, that should be much more trivial to get in and use here as a fix.

[2016-02-23 13:37] piosz commented on #21166
Pod autoscaler set status in a wrong way. Increasing priority.

[2016-02-23 13:57] justinsb commented on #12121
We merged #19335.  @SpencerBrown's issue above was caused by an incorrect setup while creating a LoadBalancer (multiple subnets, not tagged), which we are more tolerant of in 1.2 and I've opened issues around the frequency of retries in the servicecontroller loop.

Closing :-)

[2016-02-23 13:57] #12121 closed

[2016-02-23 14:08] kpatryk commented on #20786
I guess it is not solved yet. I spent half a day reading github issues related to this subject and trying to make it work in AWS with Ubuntu Vivid , but it fails to pull images if you serialize config.json with a new docker format.

In fact I created 2 clusters in AWS: one based on kubernetes from release v1.1.7 and second one based on 1.2.0-alpha.8. In both this new format does not work.

So afte

[2016-02-23 14:28] piosz commented on #21166
I investigated this issue and it's seems that everything works as intended. Added unit tests which verifies it.

@mwielgus could you also please verify that everything here is ok?

[2016-02-23 14:29] piosz commented on #21166
@thockin is it possible that your pods were using ~1000% od cpu (which is 1core in this case)?

[2016-02-23 14:29] wojtek-t commented on #21451
There were a bunch of those failures in our jenkins tests today:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-test-go/
runs: 8727, 8728, 8732

[2016-02-23 14:40] wojtek-t opened #21751 "e2e flake: Pods should be restarted with a docker exec "cat /tmp/health" liveness probe [Conformance]"
Happened in GKE suite:

    06:07:58 STEP: Creating pod liveness-exec in namespace e2e-tests-pods-2lof2
    06:07:58 Feb 23 06:05:51.859: INFO: Waiting up to 5m0s for pod liveness-exec status to be !pending
    06:07:58 Feb 23 06:05:51.888: INFO: Waiting for pod liveness-exec in namespace 'e2e-tests-pods-2lof2' status to be '!pending'(found phase: "Pending", readiness: false) (28.867408ms elapsed)

[2016-02-23 14:42] rootfs commented on #12746
@bliss you don't need have to be privileged mode. You can set `securityContext`  to match the dest selinux label

[2016-02-23 14:47] ncdc commented on #7452
I prototyped this with a prerelease version of go1.6. It worked somewhat, but there were some rough spots (probably stuff I was doing incorrectly). We can't move to http/2 until go1.6 at the earliest, and even then we'll have to do R&D to see if it's technically feasible. I had been hoping that the http/2 support in go1.6 would allow me to create streams just like we can do in spdystream, but that

[2016-02-23 14:48] piosz commented on #21541
I'm not sure whether describe should print annotations. I know that custom metrics are specified by annotations but describe doesn't print annotations for any other resource. Annotations for hpa are accessible with `kubectl get hpa -o yaml`.

@bgrant0607 any opinion?

[2016-02-23 14:55] bgrant0607 opened #21753 "e2e flake: RollingUpdateDeployment should delete old pods and create new ones [failed remove pods]"
A new failure mode:
[code]
Buckets/kubernetes-jenkins/logs/kubernetes-e2e-gce/12118

cc @janetkuo @kargakis @mqliang @nikhiljindal @ironcladlou

[2016-02-23 15:02] ddysher commented on #7452
Thanks for the heads up. Looking at the linked comments, there is no intention to add the support in go1.6, so I guess it's probably still months away.

[2016-02-23 15:02] bgrant0607 commented on #21672
@wojtek-t Yes, good point. A selector change is another case where the cached backrefs would need to be invalidated. An alternative is that we could implement controllerRef, which wouldn't require invalidation in that case.

[2016-02-23 15:02] pmorie opened #21755 "KubeletManagedEtcHosts [It] should test kubelet managed /etc/hosts file"
Observed during:

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21043/kubernetes-pull-build-test-e2e-gce/29860/

[code]

[2016-02-23 15:03] bgrant0607 commented on #21672
@mqliang Yes, many users will use small RCs. Some will use fairly large ones, however, and we do want to scale in both scenarios.

[2016-02-23 15:06] #21200 closed

[2016-02-23 15:08] wojtek-t commented on #21672
@bgrant0607 - since this is too close to 1.2 to do anything very sophisticated, I think that what @mqliang suggested which is invalidating the whole cache in case of update of any ReplicationController that is changing the selector is good enough.
I think that changing selector of ReplicationController is rare enough so that we can leave with it in 1.2 and come up with something better for 1.3 whe

[2016-02-23 15:17] smarterclayton commented on #8476
+1

On Tue, Feb 23, 2016 at 8:20 AM, k8s-merge-robot <notifications@github.com>
wrote:

[2016-02-23 15:18] bgrant0607 commented on #21672
I agree.

[2016-02-23 15:23] ncdc commented on #20497
@Fizzadar @stepanstipl is this still happening to you? If so, could you please report the versions of your:

- apiserver(s)
- kubelet(s)
- kubectl

If it's still happening, how easy is it to reproduce?

Thanks!

[2016-02-23 15:24] fgrzadkowski commented on #21649
Fixed by https://github.com/kubernetes/kubernetes/pull/21670

[2016-02-23 15:24] #21649 closed

[2016-02-23 15:25] fgrzadkowski commented on #21547
Adding this test should not block cutting release branch.

[2016-02-23 15:38] gmarek commented on #21458
Reopen if happens again.

[2016-02-23 15:38] #21458 closed

[2016-02-23 15:40] piosz opened #21757 "Missing support for hpa v1 in kubectl describe"
cc @fgrzadkowski @mwielgus @kubernetes/autoscaling

[2016-02-23 15:59] magmax commented on #21067
Try by setting the environment variable ``AZURE_STORAGE_ACCOUNT`` to an existing one in the selected subscrition.

You can select the subscription by setting the environment variable ``AZ_SUBSCRIPTION``.

[2016-02-23 16:00] huang195 opened #21761 "Need more clarifications on Kubernetes on Mesos HA setup"
Kubernetes HA setup in standalone mode is well explained where there are multiple api servers, but only one instance of scheduler and controller manager running at any instance in time. A process called podmaster will use etcd backend to elect a leader where the scheduler and controller manager will be running.

However, in the case of Kubernetes-on-Mesos, this is more complicated (and not well do

[2016-02-23 16:01] huang195 commented on #21761
@sttts @jdef I'd be interested to take on this work. Is this something of interest?

[2016-02-23 16:06] piosz opened #21763 "HPA in unable to write an event"
[code]

[2016-02-23 16:07] piosz commented on #21763
cc @fgrzadkowski @mwielgus @kubernetes/autoscaling

[2016-02-23 16:19] errordeveloper opened #21764 "Multi-doc YAML from URL"
Looks like when deploying a resource from a URL multi-doc YAML is not handled properly, unlike with a local file.

This results in  only first document being created (i.e. the replication controller):

[code]

This creates both, the service and the replication controller:
[code]

However, using a URL and `kind: List` works fine:
[code]

The [exact difference between two files](https://github.com/k

[2016-02-23 16:20] errordeveloper commented on #21764
Would be make sense to try verifying if this will work instead:
[code]

[2016-02-23 16:21] piosz commented on #21763
I have no idea what is the problem here. The code which generates events in HPA hasn't been touched for a few months.
cc @lavalamp @kubernetes/sig-api-machinery

[2016-02-23 16:42] thockin commented on #21729
Dup of #20904 ?

On Mon, Feb 22, 2016 at 5:21 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-02-23 16:47] piosz commented on #21079
There is a problem with exporting events from HPA #21763, also kubectl describe doesn't print events for hpa (fix in #21756).

[2016-02-23 16:47] thockin commented on #21705
That implies support for this sort of priority at the load-balancers, which I don't think is a broad-enough feature to be a core part of the system.  Or maybe I don't understand the suggestion?

[2016-02-23 16:49] erictune commented on #20951
For 1.2, generation of selectors happens in Create strategy.  We put it there because UID is not available as early as defaulting.  This is awkward.  For 1.3, we should move UID generation early enough to generate selector in the defaulting pass.

[2016-02-23 16:51] erictune commented on #20951
Currently, we cannot test jobs in examples/examples_test.go due to above comment.

[2016-02-23 16:55] justinsb opened #21765 "e2e flake: panic in 'RollingUpdateDeployment should scale up and down in the right order' [nil pointer dereference]"
Seen here https://github.com/kubernetes/kubernetes/pull/17913#issuecomment-187724995

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/29960/
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/17913/kubernetes-pull-build-test-e2e-gce/29960/artifacts/?debugUI=CLOUD
[code]

[2016-02-23 16:56] thockin commented on #21166
They were all run with `--limits=cpu=100m` - I can try to repro later today

On Tue, Feb 23, 2016 at 6:29 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2016-02-23 17:04] justinsb commented on #21526
thockin suggested:

Also see discussion in #18019

[2016-02-23 17:05] bprashanth commented on #21625
@adohe @justinsb this has evolved into 2 issues:

1. Races in the current code. The easiest solution of course is to just drop the parallelism to 1. The delta fifo should always give us the latest update and everything should work out OK.

2. Rewriting the service controller. We shouldn't use the kubelet pattern IMO because we don't care about instantaneous response when a container dies (which is

[2016-02-23 17:06] justinsb commented on #18019
I already had opened #21526 as a help-wanted for a future improvement to kubectl output, so I'm going to close this one.  The doc change is in for 1.2, hopefully we'll do something nicer in 1.3 via #21526

[2016-02-23 17:06] #18019 closed

[2016-02-23 17:26] codefx9 opened #21766 "Check for default serviceaccount in kube-addons.sh script is inadequate"
Hi,
Check for default serviceaccount in kube-addons.sh script is in adequate. See the stack trace below. The relevant code is here: https://github.com/kubernetes/kubernetes/blob/v1.1.7/cluster/saltbase/salt/kube-addons/kube-addons.sh#L173 (also present on master branch as of today)

`Feb 23 11:34:44 k24-master kube-addons.sh[17696]: namespace "kube-system" created
Feb 23 11:34:44 k24-master kube-a

[2016-02-23 17:29] antoineco commented on #15073
Just for information for people who might use the GitHub search, as of Kubernetes 1.1.7 the errors logged by the `kubelet` look like:

[code]

Deleting the pod or restarting `kubelet` doesn't help, the instance keeps failing attaching the EBS with the same errors if the pod get rescheduled on the same host.

@BugRoger thanks for the fix!

[2016-02-23 17:33] pwittrock opened #21767 "PR merge failure: [Fail] Daemon set [It] should run and stop simple daemon"
PR builder failed when trying to merge

log:

Summarizing 1 Failure:
[Fail] Daemon set [It] should run and stop simple daemon
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/daemon_set.go:117
Ran 137 of 237 Specs in 426.097 seconds
FAIL! -- 136 Passed | 1 Failed | 0 Pending | 100 Skipped

â€¢ Failure [335.605 seconds]
Daemon set
/go/src/k8s.io/kubernetes/_output/dock

[2016-02-23 17:48] #21303 closed

[2016-02-23 17:58] lavalamp commented on #21716
Can't you change the default by setting a field in the pod's metadata? (In the template in the RC/Job/deployment/etc.)

[2016-02-23 18:00] lavalamp commented on #21751
Does it need a liveness probe, maybe?

[2016-02-23 18:00] bprashanth commented on #21484
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/12131/?debugUI=CLOUD

[2016-02-23 18:00] lavalamp commented on #21751
@dchen1107 to delegate

[2016-02-23 18:01] caesarxuchao commented on #21763
@piosz what client are you using? If you are using the clientset, are you using the function in this file: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/typed/generated/core/unversioned/event_expansion.go?

[2016-02-23 18:08] bprashanth opened #21769 "Pr builder times out running across 30 nodes"
Or maybe I'm misreading the logs. From https://github.com/kubernetes/kubernetes/pull/21730#issuecomment-187492710,  https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21730/kubernetes-pull-build-test-e2e-gce/29886/?debugUI=CLOUD

The "received interrupt" message stands out the most but I think that's only during upload-to-gcs.sh.
[code]

@kubernetes/goog-testing

[2016-02-23 18:10] justinsb commented on #15073
Oh... the _same_ host.  I bet I messed up that case...

I'm going to move into 1.2 so I take another look at this!

[2016-02-23 18:11] caesarxuchao commented on #21716
Thanks @lavalamp, I think set the [TerminationGracePeriodSeconds](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1204) to 0 would work. @janetkuo do you want to do this?

[2016-02-23 18:11] bprashanth commented on #21517
[code]

Sounds similar to https://github.com/kubernetes/kubernetes/issues/20550, which I believe we're just addressing with retries (punting on the deeper issue of diagnosing potential flake in reaching gcr)

[2016-02-23 18:22] bprashanth commented on #20550
In a normal usage situation, we should not be hitting this situation. We hit it in tests, and the PR fix should address it for all scenarios..

Can you clarify? it sounds like, eg: nginx-pod:nginx will just keep building up backoff time such that the Nth nginx-pod running in the cluster (in any namespace), will fail once (eg to ping gcr.io) and inherit whatever exponential value left behind by the

[2016-02-23 18:26] bprashanth commented on #20916
This happened once last night on https://github.com/kubernetes/kubernetes/pull/21706#issuecomment-187456964 but the lack of logs makes it impossible to debug

[2016-02-23 18:30] bprashanth commented on #21722
This is a p0 IMO because it makes several p0s really hard if not impossible to debug (eg: https://github.com/kubernetes/kubernetes/issues/20916)

[2016-02-23 18:36] ihmccreery commented on #19715
If the correct answer here is "That's fine, we expect this test to break and we don't care," that's a reasonable answer, and we can fix the v1.1 test accordingly and call it a day.  But if we consider this a bug that we want users to not experience, then we should fix it in v1.2, since we have to assume that there will be older clients floating around.  cc @kubernetes/kube-api for executive decisi

[2016-02-23 18:36] jdef commented on #21761
xref https://github.com/mesosphere/kubernetes-mesos/issues/787

[2016-02-23 18:37] freehan commented on #21029
@gmarek That failure is different. I am reopening the other ticket

[2016-02-23 18:39] freehan commented on #18281
New Failure:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1556/consoleFull

[code]

[2016-02-23 18:39] justinsb opened #21774 "AWS: kube-addons still running multiple copies"
I thought this was fixed but I still see multiple kube-addons running:

[code]

[2016-02-23 18:40] caesarxuchao commented on #21693
@bprashanth cherry-picking the test fix (https://github.com/kubernetes/kubernetes/commit/90b4662d8d02d98c2df4ed36e9f0b1e1e016517a#diff-20a4e2095b63ecd60dd25e78bcd67372R608) will break the test when running against 1.1 master. How about removing this check in 1.1?

[2016-02-23 18:41] jackgr commented on #2770
+1 to comments by @erictune and @smarterclayton.

[2016-02-23 18:43] bprashanth commented on #21693
That test should confirm that the lb is destroyed, and the service.ingress.status is cleared. As long as that's preserved I'm fine removing the check.

[2016-02-23 18:47] ihmccreery commented on #20925
@piosz What's the status of this?

[2016-02-23 18:52] timstclair commented on #18708
This should be fixed by #21448, please reopen if it happens again.

[2016-02-23 18:52] #18708 closed

[2016-02-23 18:54] lavalamp commented on #21739
@Random-Liu Please link to the externally available logs when filing these: https://cloud.google.com/console/storage/kubernetes-jenkins/pr-logs/pull/21349/kubernetes-pull-test-unit-integration/15730/

(under the "Google Cloud Storage Upload Report")

[2016-02-23 18:55] knittingdev commented on #20497
We ran into this issue today. It appears we hit a memory limit on our node and docker stopped responding. Once docker stopped responding we were unable to terminate pods.

Using `kubectl delete pod NAME --grace-period=0` allowed us to delete the pods stuck in the `Terminated` status.

Running Docker 1.8 on CoreOS 815.0.0,

[code]

[2016-02-23 18:56] lavalamp commented on #21739
Also, it's helpful to include the logs of the failed test:

[code]

[2016-02-23 18:57] jdef commented on #21761
I don't think anyone on the k8s-mesos team has explored podmaster yet. A point of conflict may be that podmaster has one process to elect leaders, and the k8s-mesos scheduler HA has another. I have no idea what's involved in using k8s podmaster, or what the guarantees are re: split-brain scenarios.

If podmaster is an external controller (it runs outside of the master binaries), then it might be p

[2016-02-23 18:58] caesarxuchao commented on #19715
I would say it's a bug for v1.1 master to barf at DeleteOptions, we should patch v1.1. And if our users haven't applied the patch on their v1.1 master, I would expect the impact to be minimum, because DeleteOptions have no effect on extensions/v1beta1 objects anyway, users have to reason to send DeleteOptions to v1.1 extensions endpoints.

[2016-02-23 19:00] lavalamp commented on #21739
This code/test should probably be changed to use a Clock: https://github.com/kubernetes/kubernetes/blob/e62cf38fa932c1357fe0848de60559aaf3f73a95/pkg/util/clock.go#L26

[2016-02-23 19:01] yujuhong commented on #21629
Your node `theninja`stopped posting node status update, so the node controller decided to evict the pod. You will want to check the kubelet.log of the `theninja` node to find out why.

[2016-02-23 19:01] ihmccreery opened #21775 "Surface quota issues better in loadbalancer e2es"
**Services should serve identically named services in different namespaces on different load-balancers** started failing sometime overnight when run from v1.1 against a v1.2 cluster:

[code]

See http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step4-e2e-old/ and http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-

[2016-02-23 19:03] bprashanth commented on #21735
I agree we should follow best practices. I think the installation assumes the same things as say, apt-get install nginx does, but in this case some services are created for free and they might expose system information when the user didn't intend to. @fgrzadkowski

[2016-02-23 19:06] lavalamp commented on #21739
Yeah, the problem is attempt 1 took much longer than expected, so attempt 2 did not need to wait so long (I guess). I think this can be fixed by the test just setting and using a fake clock in the backoff object.

[2016-02-23 19:07] ihmccreery commented on #21775
Hm... looks like we're maxed out on quota for forwarding rules & global addresses, and we're close to full on target pools.  My guess is that's what's causing this, not anything in the code.

[2016-02-23 19:07] ihmccreery commented on #21775
(Except of course that we're leaking stuff.)

[2016-02-23 19:07] lavalamp commented on #21739
@jayunit100 this is your baby, right? Can you fix this?

[2016-02-23 19:09] nikhiljindal commented on #21491
Great. I see that https://github.com/kubernetes/kubernetes/pull/21754 should fix this.

[2016-02-23 19:12] quinton-hoole opened #21777 "e2e script refactor broke ubernetes-lite e2e tests"
#21524 broke ubernetes-lite e2e tests.  PR to fix incoming.

Specifically:

https://github.com/kubernetes/kubernetes/blob/ac644e03bd6acb322beb66e0e51c2dba1051dfcd/hack/jenkins/job-configs/kubernetes-e2e.yaml#L159

setting KUBE_GCE_ZONE to an empty string causes it to be defaulted to (currently) "us-central1-b" rather than the zone in which the master components reside, leading to the following err

[2016-02-23 19:13] huang195 commented on #21761
@jdef thanks for the pointers on the related works. It seems that the Mesos team has taken a slightly different approach from Kubernetes when trying to address HA. Kubernetes in HA mode has only 1 scheduler + 1 controller manager running at any time. However Kubernetes-on-Mesos in HA mode will have multiple schedulers running at any time (it seems controller manager's HA mode will be similarly des

[2016-02-23 19:14] ArtfulCoder commented on #20987
the image pull issue should be resolved by https://github.com/kubernetes/kubernetes/pull/21724

[2016-02-23 19:14] caesarxuchao commented on #21693
These are verified after the `waitForLoadBalancerDestroy`. I'll just remove the check.

[2016-02-23 19:14] lavalamp commented on #19715
@caesarxuchao Yes, it's a bug, but we can't fix version incompatibilities by patching the widely-distributed thing. :( We have to fix them by patching the new thing.

However... @ihmccreery, if you omit the "--grace-period=0" in the command `$ ./cluster/kubectl.sh delete job run-test --grace-period=0`, does it work? As long as plain `kubectl delete` works, I'm not sure this is a big deal, since it

[2016-02-23 19:14] quinton-hoole commented on #21777
@kubernetes/goog-testing @kubernetes/sig-testing @spxtr FYI

[2016-02-23 19:15] lavalamp commented on #19715
@smarterclayton Yes, eventual removal via slow attrition. I don't think it'll be gone by 1.3 though.

[2016-02-23 19:16] bprashanth commented on #21775
This is what a failure to just not create loadbalancers would look like. I don't think the leaks are going to get addressed in 1.2 (it's known and we've opened and closed several issues for them), I'm fine leaving this open to track the leaks though.

[2016-02-23 19:17] colemickens opened #21778 "jenkins: job builder updater fails to create "kubernetes-upgrade-gce-1.1-master" job"
I'm working on getting Jenkins running CI jobs for Azure. I want to reuse the existing built infrastructure (I like the declarative, auto-updating job builder stuff).

I'm trying to bootstrap the existing job (and document it a bit more as I go).

I created a Jenkins machine (just one for now). Pulled a Kubernetes branch down. Created a `jenkins_jobs.ini` in the `kubernetes/` root directory and ex

[2016-02-23 19:19] colemickens commented on #21778
Looks like I need to install multijob project:

[code]

[2016-02-23 19:19] ihmccreery commented on #21775
Can we add logic, either to the test or the lb controller logic, so that a lack of quota gives a more reasonable response than just "it didn't come up, we don't know why"?

[2016-02-23 19:20] ArtfulCoder commented on #20550
the PR has the v1.2 milestone on it.

[2016-02-23 19:20] juanjoperl commented on #21705
Forgiveness because I am newcomer to kubernetes. My question arises from some days when I read the documentation.

My need is to have two centers, with a few tens of milliseconds of latency between them, and I would like to have a single cluster. I know the future existence of Ubernetes but I was wondering if a partial solution to the current kubernetes be possible. I think my choice would focus o

[2016-02-23 19:20] jayunit100 commented on #21739
sure, just saw this

[2016-02-23 19:20] mikedanese commented on #20497
@knittingdev what is the version of the kubelet?

[2016-02-23 19:22] Random-Liu commented on #21739
@lavalamp Thanks a lot! I will do better next time, :)

[2016-02-23 19:25] ihmccreery commented on #19715
Yes, and removing the grace period logic from the test also fixes the test.

Maybe, but `./cluster/kubectl.sh delete job run-test --grace-period=0` on a v1.1 client does in fact work, (I don't know if the grace period is respected, but it doesn't barf, at least).

[2016-02-23 19:29] knittingdev commented on #20497
@mikedanese `Kubelet Version:        v1.2.0-alpha.5.675+e21f5974277fe1`

[2016-02-23 19:30] nikhiljindal commented on #21753
Looks like the test timed out while waiting to delete the pods.
The deployment and replica set were deleted fine.

The timeout is currently set to 30s.

[2016-02-23 19:30] bprashanth commented on #20550
Yeah i added it. It doesn't matter since it looks like it's going in today, but understanding the scope is important eitherway because we're seeing image pull issues across the board.

[2016-02-23 19:30] lavalamp commented on #19715
Oh. Well, in that case, I think we have to fix it.

On Tue, Feb 23, 2016 at 11:25 AM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2016-02-23 19:33] caesarxuchao commented on #19715
that's because in 1.1 the client encode the DeleteOptions to `v1`: https://github.com/kubernetes/kubernetes/blob/release-1.1/pkg/client/unversioned/jobs.go#L92. I think this behavior is wrong, the correct way is registering DeleteOptions in extensions/v1beta1.

Btw, in 1.1 , there is discrepency in clients, e.g., in Deployment client, DeleteOptions is encoded to extensions/v1beta1: https://github.

[2016-02-23 19:36] piosz commented on #21763
The code which generates mentioned event is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L90

The answer seems to be yes, but please verify.

[2016-02-23 19:41] pwittrock opened #21782 "PR builder flake: [Fail] Deployment [It] deployment should delete old replica sets"
PR builder failed with this error message.  Unrelated to the actual changes:

Summarizing 1 Failure:

[Fail] Deployment [It] deployment should delete old replica sets
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:196

Ran 137 of 237 Specs in 532.033 seconds
FAIL! -- 136 Passed | 1 Failed | 0 Pending | 100 Skipped

[prbuildflake.txt](https://github.com

[2016-02-23 19:44] lavalamp commented on #19941
@deads2k I think your PR will address this, right?

[2016-02-23 19:47] ncdc commented on #21681
This doesn't sound like a regression. Is it strictly required for 1.2 or could it wait for 1.3?

[2016-02-23 19:49] justinsb commented on #21782
Just hit this also.  A little more context:

[code]

[2016-02-23 19:51] ncdc commented on #20986
Is this a requirement for 1.2 still? If so, is anyone working on it?

(This seems more like 1.3 to me)

[2016-02-23 19:52] ncdc commented on #21625
Have we determined if there actually are races or not?

[2016-02-23 19:53] piosz commented on #20925
How can I reproduce locally?

[2016-02-23 19:53] justinsb opened #21783 "AWS: Error logged from ECR"
[code]

Not sure if it's because I'm running in us-west-2 or because I haven't launched/opted-in to ECR.

[2016-02-23 19:54] lavalamp commented on #19715
@ihmccreery did you copy-paste the wrong test name as the title of this issue? Is this about pods or jobs?

[2016-02-23 19:54] nikhiljindal commented on #21782
Its a different test case, but the failure seems to be same as https://github.com/kubernetes/kubernetes/issues/21753.

The test timed out deleting pods.

[2016-02-23 19:56] bprashanth commented on #21775
The easiest would be to teach the servicecontroller to just send an event anytime the error code returned from the cloudprovider corresponds to out of quota, and print all events associated with the service on failure. This would still not show up in the failure message.

To get this to show up in the failure message we can:

1. surface out-of-quota as some more generic field in service.lb.status

[2016-02-23 19:57] justinsb commented on #21783
Ugh... ECR is only available in us-east-1.  I'm not sure if we are supposed to use it from e.g. us-west-2.

[2016-02-23 19:59] piosz commented on #20925
It seems that in build http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step7-e2e-new/441/ your PR #21594 was not picked. I can see in logs: `beta.kubernetes.io/instance-type=n1-standard-1`. Could you please re-trigger the suite?

[2016-02-23 19:59] justinsb opened #21784 "AWS: We should log to the same place as GCE logs"
The k8s MOTD tells the user to check /var/log/startupscripts or something like that, but we don't log to there on AWS.

We should log to there, both during cloud-init execution & during /etc/rc.local execution

[2016-02-23 20:08] colemickens commented on #21778
That did the trick. Will document in a PR.

[2016-02-23 20:08] #21778 closed

[2016-02-23 20:18] erictune commented on #15985
Last PR is #21776

[2016-02-23 20:23] ncdc commented on #21234
@deads2k I just hit this in 21781 :-(

[2016-02-23 20:24] bprashanth commented on #18281
[code]
This looks like a race between populating the endpoints list and the /status, /read methods exposed through the master proxy.

https://github.com/kubernetes/kubernetes/blob/master/test/images/network-tester/webserver.go#L241
https://github.com/kubernetes/kubernetes/blob/master/test/images/network-tester/webserver.go#L85

It looks like the webserver pod is just trying to confirm that it can

[2016-02-23 20:27] derekwaynecarr commented on #21234
since @deads2k is ill, I will take a look.

[2016-02-23 20:35] jdef commented on #21761
By all means, a PR for additional docs is welcome

On Tue, Feb 23, 2016 at 2:15 PM, Hai Huang <notifications@github.com> wrote:

[2016-02-23 20:36] lavalamp commented on #19715
Looks like this is about jobs. Do jobs actually support graceful deletion? If not, this is just cargo-cult code and we should remove all the code that sets it for jobs.

Options:
* Make the job client stop sending delete options (if jobs don't respect them anyway)
* Make the job reaper not send delete options (if jobs don't respect them anyway)
* Otherwise, add a special codec to the job client th

[2016-02-23 20:45] erictune commented on #19715
No code in our respository deletes jobs except namespace cleanup (`pkg/controller//namespace/namespace_controller_utils.go`), which uses DeleteCollection, which has no DeleteOptions.

[2016-02-23 20:46] huang195 commented on #21761
OK, will work on the docs over the next few days and submit for review later this week. Thanks!

[2016-02-23 20:48] #21777 closed

[2016-02-23 20:50] derekwaynecarr commented on #21234
So my current theory is the following:

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/limitranger/admission.go#L98

The limit ranger lru cache is being populated to an empty list when the `LimitRange` resource itself is being created.  The watch is not notifying of the new `LimitRange` before the pod creation then happens.  The limit range cache looks at its last entry

[2016-02-23 21:01] nikhiljindal commented on #21753
Actually 30s is the DefaultTerminationGracePeriodSeconds for pods, so our timeout should be greater than that.

I am trying to reproduce the failure locally and will see if increasing the timeout fixes it.

[2016-02-23 21:01] erictune commented on #12520
#20347 is going to allow for calling out to a webhook to make an authorization decision.   @ericchiang can you say anything about your plans for that code yet?

[2016-02-23 21:02] druidsbane commented on #21783
I was just having this same issue as in the image is in East but I can't pull the image while in the west region for the pods.

[2016-02-23 21:02] therc commented on #21783
That's very dumb of Amazon... but the GA announcement seems to imply it's a supported, suboptimal arrangement:

https://aws.amazon.com/blogs/aws/ec2-container-registry-now-generally-available/

[2016-02-23 21:04] druidsbane commented on #21783
@therc but technically:

[2016-02-23 21:06] lavalamp commented on #21206
Let's close this--logs change went in, if we see it again, it will be easier to debug. Also it seems some docker changes have gone in, so maybe we won't see this again at all.

[2016-02-23 21:06] #21206 closed

[2016-02-23 21:07] eparis commented on #21451
Hit this just now in https://github.com/kubernetes/kubernetes/pull/21786

[2016-02-23 21:20] justinsb commented on #21783
I'm inclined to say we only support ECR in us-east-1 for now (in 1.2).  And as long as this is just a warning and not affecting functionality, we accept that this warning will appear (in 1.2).  I don't want to disable ECR in k8s in us-west-2, and then have AWS launch ECR in us-west-2 but k8s users be unable to use it.

It's not clear whether the us-west-1 ECR and the us-east-1 ECR will share image

[2016-02-23 21:22] caesarxuchao commented on #19715
Only Pod has a DeleteStrategy, so as we expected, Pod is the only object that respect DeleteOptions.

So I'll just remove the use of non-nil DeleteOptions that causes this bug.

[2016-02-23 21:24] janetkuo commented on #21716
Thanks I'll submit the fix.

[2016-02-23 21:24] mml commented on #20916
Wow, we are really playing whack-a-mole with collecting the logs of interest in every possible case.  Is there a bug somewhere to make it easier to specify "here's a test: always collect these files, and when it fails additionally collect these files".

[2016-02-23 21:24] ihmccreery commented on #19715
It's about `kubectl run`, which used to create bare pods, and as of https://github.com/kubernetes/kubernetes/pull/17195, creates jobs.

https://github.com/kubernetes/kubernetes/pull/17195/files#diff-540d8a63e8b72b4e05dda54ae37f77d2R371 did just basically find-and-replaced pod for job in the test; but perhaps that was naive.

cc @janetkuo

[2016-02-23 21:25] justinsb commented on #21783
Oh ... scratch that.  They definitely don't share images, because the hostname is baked into the image name.

We probably should be fetching credentials only when we see a request for the image.  Ideally we would be able to log in to the us-east-1 registry when a us-east-1 hosted ECR image is requested, but I don't know if we have the credentials to do that when we're in us-west-2.

[2016-02-23 21:27] jchauncey opened #21789 "daemonsets randomly die and never come back"
I am noticing on my AWS cluster that a daemonset pod will just die and never come back. The logs dont show the process exiting so something is definitely killing it. If anyone has a suggestion for how to get more debug output I will.

[2016-02-23 21:28] ihmccreery commented on #19715
I guess the name "Simple pod" also doesn't really reflect reality as of #17195, as well.

[2016-02-23 21:32] ihmccreery commented on #19715
Any reason we can't just nix the whole

[code]

line?

[2016-02-23 21:32] lavalamp commented on #20951
@erictune Why not just replicate the necessary logic here: https://github.com/kubernetes/kubernetes/blob/master/examples/examples_test.go#L114

[2016-02-23 21:34] ericchiang commented on #12520
Our plans mainly leverages [dex](https://github.com/coreos/dex) and the groups proposal in that repo (coreos/dex#175) to define a webhook service.

dex runs inside kubernetes and the API server queries it using the webhook plugin. Users will be assigned to dex groups, groups will be mapped to k8s resources, and dex will use this information to make authz decisions. Administrators will go through d

[2016-02-23 21:35] therc opened #21791 "Allow local releases for one platform"
I'm trying to get at the release tarballs for individual binaries. I'm not talking about the compressed ones, but rather `_output/release-stage/server/linux-amd64/kubernetes/server/bin/kube-controller-manager.tar` and co. Unfortunately, it looks like I have to build stuff for seven between server and client platforms in order to get them. I only want to build local containers for the various binar

[2016-02-23 21:42] lavalamp commented on #19715
You want to delete the job. Replacing the NewDeleteOptions with nil seems
to be the solution we're converging on.

On Tue, Feb 23, 2016 at 1:32 PM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2016-02-23 21:43] caesarxuchao commented on #19715
Yes. Putting together a PR now.

[2016-02-23 21:43] bprashanth commented on #20916
Just the normal system logs (i.e apiserver, controllermanager, kubelet, docker etc that we collect for every test failure) should help: https://github.com/kubernetes/kubernetes/issues/21722. If we can't ssh/rsync logs from some nodes, that's useful to know as well.

[2016-02-23 21:44] nickethier commented on #1615
Really excited about this feature so I followed the chain of issues down the rabbit hole.

Shared PID namespaces depends on the following tree:
  * docker/docker#10163
    * docker/docker#13453
      * opencontainers/runc#105 or opencontainers/runc#454

The runc changes are tagged with milestone `0.1.0` which is scheduled for the end of March.

[2016-02-23 21:44] gurvindersingh commented on #18549
/sub

[2016-02-23 21:55] bprashanth commented on #21765
@janetkuo

[2016-02-23 21:55] janetkuo commented on #21753
But we set pod spec's `terminationGracePeriodSeconds` to 0 when creating new deployments / RSes in the e2e tests. Shouldn't pods be deleted immediately? cc @caesarxuchao

[2016-02-23 22:02] spxtr commented on #18122
Done. Next up: #21015

[2016-02-23 22:02] #18122 closed

[2016-02-23 22:04] mml commented on #21653
Has someone actually complained?  I don't know that anybody actually *expects* `unfoo` to exist, and the docs for drain explicitly point you to `uncordon`.

[2016-02-23 22:04] spxtr commented on #20997
Done.

[2016-02-23 22:04] #20997 closed

[2016-02-23 22:11] rideswitch commented on #20475
I have added a script to create the whole setup from the ground up.  Please
checkout https://github.com/rideswitch/kubernetes-echo and follow the
README.md.  If you have any problems please let me know.

On Mon, Feb 22, 2016 at 11:03 PM, Abhi Shah <notifications@github.com>
wrote:

[2016-02-23 22:12] caesarxuchao commented on #21716
I might be wrong. `TerminationGracePeriodSeconds` probably only affects the grace period given by kubelet to the target container, but doesn't affect when the pod is deleted from etcd. Let me double check.

[2016-02-23 22:16] janetkuo commented on #21765
Filed #21795 to fix this

[2016-02-23 22:19] #21166 closed

[2016-02-23 22:19] thockin-cc commented on #21166
I am, of course, dumb.  I totally forgot that CPU cgroup is
work-conserving, so even with limit=100m, it will still use more CPU.

On Tue, Feb 23, 2016 at 8:57 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-02-23 22:22] quinton-hoole opened #21797 "Make ubernetes lite e2e tests run in parallel"
... and skip all disruptive, slow, serial, flaky and feature tests.

Right now, all of the above classes of test run by default, due, apparently, to incorrect defaulting?

[2016-02-23 22:25] janetkuo opened #21798 "e2e flake: deployment should delete old replica sets [failed remove pods]"
Should be related to #21753 since they share the same failure mode.

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21793/kubernetes-pull-build-test-e2e-gce/30058/artifacts/?debugUI=CLOUD

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/30058/

[code]

cc @bgrant0607 @kargakis @mqliang @nikhiljindal @ironcladlou @soltysh

[2016-02-23 22:25] janetkuo commented on #21753
#21798 is similar to this one.

[2016-02-23 22:26] caesarxuchao commented on #21716
Sorry, it looks I'm wrong. We should set [DeletionGracePeriodSeconds](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L122) to 0.

[2016-02-23 22:27] caesarxuchao commented on #21753
@janetkuo  `terminationGracePeriodSeconds` only affects when kubelet kills the container, it doesn't affect when the pod is removed from Pod. Sorry I gave the wrong comment in the other issue.

[2016-02-23 22:29] freehan commented on #18281
The test looks really racy to me. I think the following 15 retries prevents it  to fail much more often, but not completely.
https://github.com/kubernetes/kubernetes/blob/master/test/images/network-tester/webserver.go#L232

I will submit a pr to enfore webservers to wait till alll endpoints are up before they start to contact each other.

[2016-02-23 22:31] quinton-hoole opened #21800 "Investigate e2e tests that fail in ubernetes lite clusters"
Many of these seem to require fixes to the tests.  Will confirm each one independently...

====

Summarizing 19 Failures:

[Fail] Proxy version v1 [It] should proxy logs on node using proxy subresource [Conformance]
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:276

[Fail] Daemon set [It] should run and stop complex daemon
/go/src/k8s.io/kubernetes/_output

[2016-02-23 22:37] ch-acctg opened #21801 "Holding a pod termination until clean up finished"
Hi, we are trying to utilize Kubernetes to schedule our containers.  We have long running processes that we want to perform rolling updates on.  We can monitor when they are ready to be removed and can expose that to kubernetes.  However, it doesn't appear that kubernetes holds termination until preStop completes.  It appears that preStop is fire and forget in 1.1.

Also, it appears that setting -

[2016-02-23 22:47] jtblin commented on #20382
ping @justinsb @roberthbailey

Who else could chime in regarding the proposed change?

[2016-02-23 22:51] bprashanth opened #21803 "e2e flake: RollingUpdateDeployment should scale up and down in the right order [failed remove pods]"
Deployment test failed:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21399/kubernetes-pull-build-test-e2e-gce/30050/?debugUI=CLOUD
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/30050/consoleFull

[code]

There's a lot going on here, but looking closer at the logs

In the test:
[code]

So the pod was still around from 21:34 -> 21

[2016-02-23 22:52] bprashanth commented on #21605
This potentially also happened on https://github.com/kubernetes/kubernetes/issues/21803 (didn't want to sink time into parsing logs once again, but that bug has a brief summary)

[2016-02-23 22:57] timstclair commented on #8347
Should we respect the MinAge to GC for deleted pods?

[2016-02-23 23:03] thockin commented on #20392
I'm assigning this to next milestone to decide whether and how to promote the annotation to a full feature.

[2016-02-23 23:06] #20724 closed

[2016-02-23 23:09] janetkuo commented on #21753
@caesarxuchao per our latest discussion with @bgrant0607, `terminationGracePeriodSeconds` should be the cure, right?

[2016-02-23 23:10] caesarxuchao commented on #21753
Yes. Just out of curious, could you try DeletionGracePeriods as well? I guess it won't pass the validation.

[2016-02-23 23:15] janetkuo commented on #21753
Try creating an RC with spec.template.metadata.deletionGracePeriodSeconds=0, the RC is created with that value set, but its pods are created without that value being set and their  terminationGracePeriodSeconds = 30

[2016-02-23 23:15] caesarxuchao commented on #21029
Probably another occurrence:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21794/kubernetes-pull-build-test-e2e-gce/30062/?debugUI=CLOUD

[2016-02-23 23:18] caesarxuchao commented on #21753
Thanks for the info!

[2016-02-23 23:20] bgrant0607 commented on #21753
stop (implemented by #18077) is also racy. It doesn't confirm that the controller has observed that the deployment has been paused before it deletes the ReplicaSets.

cc @kargakis @soltysh @ironcladlou

[2016-02-23 23:21] yujuhong commented on #8347
No, I don't think we need to, but if it's keeps the implementation cleaner/easier, I think it's ok.

[2016-02-23 23:24] bgrant0607 commented on #21782
Dupe of #21798

[2016-02-23 23:24] #21782 closed

[2016-02-23 23:24] dchen1107 commented on #20916
Quickly scan through the limited available logs with @bprashanth. Based on the timestamp, I think the test failure could be fixed by one of our prs fixing node bootup and being merged yesterday after 17:00pm:

1) #21641: mitigate the issue caused by hairpin mode
2) #21703: gracefully shutdown docker daemon
3) #21727: remove potential corrupted docker network checkpoint file
before start docker dae

[2016-02-23 23:25] lavalamp opened #21806 "Job & HPA need to be in upgrade storage object test"
I had this fixed in my version of the job move, but I guess it got lost somewhere along the way.

The upgrade storage test needs to exercise the upgrade path for both Job and HPA.

@nikhiljindal @erictune @piosz

[2016-02-23 23:26] bprashanth commented on #20910
A lot of node flakes are fixed as of yesterday, so now I'll keep an eye on the dashboard for these (it hasn't failed since yesterday)

[2016-02-23 23:27] bgrant0607 commented on #21803
See also #21753

[2016-02-23 23:31] bgrant0607 commented on #19299
cc @bprashanth

[2016-02-23 23:31] quinton-hoole commented on #21800
@mml FYI

[2016-02-23 23:31] yujuhong commented on #21570
We discussed in the team meeting today and decided to punt this. We'll have a better, more well-thought out solution for the next release. For example, we can reserve and limit the resources for kubelet/docker properly, in additional to rate-limiting the docker client. Also, we'll set these resource/qps limits based on the machine size as well.

[2016-02-23 23:32] ixdy commented on #21769
This might be another manifestation of #20778, but I'm not sure.

[2016-02-23 23:33] bprashanth opened #21808 "Parse logs for common known errors post test"
It would be great if we could grep logs like /var/log/kern.log for some known error messages as we upload them to GCS, and dump the output in the Jenkins e2e build information. I imagine this working like:

[code]

This would be especially helpful in debugging larger clusters, because today I think we club several errors under, say, "container runtime is down" when it could be any number of issues

[2016-02-23 23:42] quinton-hoole commented on #21800
The above results are from a local test run.
CI Test results are at:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite
Pending #21799, the above job should produce equivalent output to the above every hour or so.

[2016-02-23 23:42] janetkuo opened #21809 "e2e flake: deployment should label adopted RSs and pods [minUnavailable/maxSurge violated]"
Looks similar to #19299

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21795/kubernetes-pull-build-test-e2e-gce/30065/?debugUI=CLOUD
[code]

The pod-template-hash label are added as expected; there's a new RS with 3 replicas as expected; however, all 3 the pods are unavailable. Those 3 pods are adopted and should be ready before the deployment is created. Looks l

[2016-02-23 23:42] nikhiljindal opened #21810 "e2e flake: RollingUpdateDeployment should delete old pods and create new ones [minUnavailable/maxSurge violated]"
Observed this while trying to reproduce https://github.com/kubernetes/kubernetes/issues/21753 locally.

Log:

[code]

[2016-02-23 23:43] quinton-hoole commented on #21800
@kubernetes/goog-control-plane @davidopp FYI

[2016-02-23 23:43] nikhiljindal commented on #21810
cc @janetkuo @kargakis @mqliang @ironcladlou @bgrant0607

[2016-02-23 23:43] quinton-hoole commented on #21800
@justinsb FYI

[2016-02-23 23:50] bgrant0607 commented on #21810
Ok, that's new.

[2016-02-23 23:56] ernestoalejo opened #21811 "Fluentd-gcp 1.16 panic"
I'm using fluentd-gcp, and I have updated it manually to the latest version the repo has (`gcr.io/google_containers/fluentd-gcp:1.16`). Today it started to throw panics and it's not logging anything to Cloud Console from that node.

[code]

[2016-02-23 23:57] quinton-hoole opened #21812 "e2e failure (ubernetes-lite): "Proxy version v1 should proxy logs on node using proxy subresource" fails on multi-zone clusters"
Proxy
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:40
  version v1
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:39
    should proxy logs on node using proxy subresource [Conformance] [It]
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:60

    Expected error:

[2016-02-23 23:58] bgrant0607 commented on #21810
No it's not. Similar to #19299

[2016-02-23 23:58] ixdy commented on #21451
`kubernetes-test-go-release-1.1` [build 4514](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/4514) failed in the same way, which suggests it's not a code issue:
[code]

I see there's an newer docker available (1.10.2). I'll try upgrading to that on the post-submit Jenkins slave to see if it helps any.

[2016-02-23 23:59] janetkuo commented on #21810
In the failed case, deployment.spec.replicas=3, new RS's spec.replicas=3 (wrong) and status.replicas=2 (ok), old RSes' total spec.replicas=2 (ok) and status.replicas=2 (ok).

[2016-02-23 23:59] huang195 opened #21813 "Can one run multiple K8sm instances in the same mesos cluster"
Couple of questions about K8sm:

1) Can one run multiple K8sm frameworks in a mesos cluster? E.g., different K8sm versions or the same version but belongs to different users.

2) If the answer is 'yes' to the first question, will mesos assign part of a mesos node to one K8sm framework and another part to a different K8sm framework?

@jdef @sttts

[2016-02-23 23:59] bgrant0607 commented on #21809
cc @bprashanth @nikhiljindal

[2016-02-24 00:00] quinton-hoole opened #21814 "e2e failure (ubernetes-lite): "Daemon set should run and stop complex daemon" fails on multi-zone clusters"
• Failure [29.848 seconds]
Daemon set
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/daemon_set.go:194
  should run and stop complex daemon [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/daemon_set.go:193

  Expected error:
      <*errors.StatusError | 0xc2086e0500>: {
          ErrStatus: {
              TypeMeta: {Kind: "Stat

[2016-02-24 00:02] janetkuo commented on #21810
Events look valid.

[2016-02-24 00:03] bgrant0607 commented on #21541
@piosz Feel free to describe the content of the specific annotations you are using.

[2016-02-24 00:04] quinton-hoole opened #21815 "e2e failure (ubernetes-lite): "MetricsGrabber should grab all metrics from a Scheduler" fails on multi-zone clusters"
• Failure [6.048 seconds]
MetricsGrabber
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/metrics_grabber_test.go:158
  should grab all metrics from a Scheduler. [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/metrics_grabber_test.go:133

  Expected
      <sets.String | len:3>: {
          "scheduler_e2e_scheduling_latency_microse

[2016-02-24 00:05] quinton-hoole commented on #21814
ref #21800

[2016-02-24 00:07] ArtfulCoder commented on #21604
1. are you using AWS routes v/s flannel or some other network plugin ?
2. are you using kubeproxy in userspace mode or iptables mode ?

3. did you use kube-up to bring up the cluster ?

[2016-02-24 00:09] dchen1107 commented on #21359
One failed instance today:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-gce/5921/console

[2016-02-24 00:12] ixdy commented on #21451
I'm also running an experiment on `pull-jenkins-builder-4` to see if I can detect what might be trying to delete the container. If you see any new failures on builder-4 (starting ~now) please link them.

[2016-02-24 00:13] quinton-hoole commented on #21815
Ref #21800

[2016-02-24 00:18] caesarxuchao commented on #21763
It looks like to be caused by a negligence when I replaced unversioned.client with the clientset. Sent #21816 to fix.

[2016-02-24 00:19] freehan commented on #21029
Looks like image pull is hanged.

I could only find 'Pulling' event in kubelet.log. No sign of pull failure or retry.
[code]

[2016-02-24 00:21] pwittrock commented on #21320
Sorry about that:

For context see: https://github.com/kubernetes/kubernetes/pull/20782

Looks like the issue is a compile error that wasn't checked:
Looks like this broke the node e2e test suite:

09:00:58 I0216 09:00:58.908726 31269 run_e2e.go:103] Failure Finished Host e2e-node-coreos-beta.c.kubernetes-jenkins.internal Test Suite Failed to compile e2e_node:
09:00:58
09:00:58 # k8s.io/kubernetes

[2016-02-24 00:24] dchen1107 commented on #8347
I think we do need to respect the MinAge since this is part of gc policy being documented already. We introduced MinAge initially is for some good reasons, for example, even with removed pods on node, we want to leave some buffer time so that out-of-band daemon on the node can collect logs of removed pods if necessary. We don't really use that today, but that is the initial design.

[2016-02-24 00:28] jayunit100 opened #21817 "Proposal to rework examples."
Today in @kubernetes/sig-testing we discussed the idea of improving the examples over time with a new policy, based on.
- a few, domain driven examples that are artfully curated by developers, i.e., less than 4.
- covering all features in the examples : rather than duplicating the core features using non idiomatic kube techniques.
- converting the existing examples which don't actually "tell a sto

[2016-02-24 00:29] jayunit100 commented on #21817
cc/ @bparees .  Shall we assign this issue directly to you ?  I'd like to collaborate on it as well.

[2016-02-24 00:30] dchen1107 commented on #8347
For 1.2 release, I really want to have some low low hanging fruits so that we can unblock the feature of supporting 100 pods per node by default (#21570):

* Container gc should be triggered periodically to make sure the dead containers of per container is capped by maximum-dead-containers-per-container no matter maximum-dead-containers is hit or not
* Once a pod is removed (not terminated) by ups

[2016-02-24 00:33] jayunit100 opened #21818 "Decide what to do about suites."
Given that we dont really have suites in ginkgo, we discussed in @kubernetes/sig-testing today possible alternatives.

- one idea: actually implementing, in code, a programmatic way to define tests.
- another more practical idea: improve the docs and add a README right inside of tests/e2e which pointed to the exact definition of conformance tests and so on, and how to use the filters.

Since the f

[2016-02-24 00:33] nikhiljindal commented on #21753
I will send a PR to fix deploymentReaper stop

[2016-02-24 00:38] dchen1107 commented on #21029
I observed a new failure but with totally different cause. I will file a separate issue to handle the new failure. Close this one.

[2016-02-24 00:38] #21029 closed

[2016-02-24 00:42] #21797 closed

[2016-02-24 00:43] zmerlynn opened #21819 "Busybox pod running on GCE cluster can't resolve "metadata""
Repro:
* Created cluster at master (in my case, roughly `v1.2.0-alpha.8.225+c1bd13ec4bcedf`) on GCE
* Create busybox template ala https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns
* Badness:
[code]

(I found this with the Spark template trying to extend it to use an ACL'd GCS bucket, but it's easy to see with `busybox`.)

[2016-02-24 00:47] dchen1107 opened #21820 "e2e flaky: should be able to up and down services (service verification failed)"
Entire log can be accessed at:  http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12147/consoleFull

[code]

[2016-02-24 00:47] dchen1107 commented on #21820
cc/ @kubernetes/goog-cluster

[2016-02-24 00:51] thockin commented on #20475
I just spun up vagrant from our default vagrant install, and I can not
repro the problem:

[code]

On Tue, Feb 23, 2016 at 2:11 PM, Eric Harrison <notifications@github.com>
wrote:

[2016-02-24 00:52] freehan opened #21821 "Add timeout to all docker calls"
forked from #21029
tracking related cases in this issue

The go-dockerclient we use don't support timeout for any operation. We are switching to use docker engine-api #20895
Strongly suggest we enforce timeout for image pull once we switch to the new docker client.

[2016-02-24 00:53] bprashanth commented on #21820
Probably not going to get to this today but the first step would be checking what happened to the service endpoints in kube-proxy logs.
[code]
Was the one endpoint we hit on the same node? etc

[2016-02-24 00:55] mml commented on #21814
@quinton-hoole if you're not already into it, I'll take this one.

[2016-02-24 00:56] dchen1107 opened #21824 "e2e flaky: Port forwarding With a server that expects a client request: should support a client that connects, sends no data, and disconnects [Conformance]"
I couldn't find any issue for this one, thus it must be a new regression we are having here. The log can be accessed at: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12127/consoleFull

[code]

cc/ @lavalamp

[2016-02-24 00:58] timstclair commented on #8347
It looks like that is already the case? Or is there a bug in the current implementation (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/container_gc.go#L195)

[2016-02-24 01:00] quinton-hoole commented on #21814
Cool, all yours @mml.  Just yell if you need a hand.

[2016-02-24 01:01] quinton-hoole commented on #21814
#21799 just merged, so the following should start generating reproducible results shortly.
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite

[2016-02-24 01:03] janetkuo opened #21826 "Remove Codec from GroupMeta struct"
Follow up https://github.com/kubernetes/kubernetes/pull/21445#issuecomment-185497560:
Remove the Codec from GroupMeta struct to prevent future misuse: https://github.com/kubernetes/kubernetes/blame/master/pkg/apimachinery/types.go#L37

@kubernetes/sig-api-machinery

[2016-02-24 01:03] lavalamp commented on #21824
@ncdc

[2016-02-24 01:04] quinton-hoole opened #21828 "e2e failure (ubernetes-lite): "Daemon set should run and stop simple daemon" fails on multi-zone clusters"
• Failure [29.846 seconds]
Daemon set
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/daemon_set.go:194
  should run and stop simple daemon [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/daemon_set.go:139

  Expected error:
      <*errors.StatusError | 0xc209412980>: {
          ErrStatus: {
              TypeMeta: {Kind: "Statu

[2016-02-24 01:06] caesarxuchao opened #21829 "Invalid links in docs"
I've set up a Jenkins job to verify the links in our docs daily. The following is a list of invalid links it found. I'll try to fix them myself and reach out to folks if I can't figure out what the correct link is.

[code]

@lavalamp @bgrant0607 for triage.

[2016-02-24 01:06] bgrant0607 commented on #19299
One thing I don't understand is why we call the same functions (CreationObserved, DeletionObserved) when we perform the mutations (manageReplicas) and when we observe them via the framework (addPod, deletePod).

[2016-02-24 01:06] zmerlynn commented on #21819
Confusingly:
[code]

[2016-02-24 01:06] quinton-hoole opened #21830 "e2e flake: "Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recreate pod, verify contents, and repeat in rapid succession""
• Failure [1033.846 seconds]
Pod Disks
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pd.go:267
  should schedule a pod w/ a readonly PD on two hosts, then remove both. [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pd.go:164

  Expected error:
      <*errors.errorString | 0xc209d73110>: {
          s: "gave up waiting for pod

[2016-02-24 01:07] quinton-hoole commented on #21830
Ref #21800

[2016-02-24 01:11] quinton-hoole opened #21831 "e2e failure (ubernetes-lite): "Deployment deployment should delete old replica sets" fails in multi-zone clusters"
• Failure [313.647 seconds]
Deployment
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:68
  deployment should delete old replica sets [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:55

  Expected error:
      <*errors.errorString | 0xc2080308c0>: {
          s: "timed out waiting for the condition",

[2016-02-24 01:12] bgrant0607 commented on #19299
Also, this seems bad, given the negative delete expectation, which I believe is due to the bogus `DeletionObserved` call:
[code]
It seems like we need `CreationExpected` and `DeletionExpected` functions.

[2016-02-24 01:13] quinton-hoole opened #21832 "e2e failure (ubernetes-lite): Services should be able to change the type and ports of a service" fails on multi-zone clusters"
• Failure [325.247 seconds]
Services
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:869
  should be able to change the type and ports of a service [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:683

  Feb 23 12:57:44.934: Could not reach HTTP service through 104.197.33.53:32324 after 5m0s: timed out waitin

[2016-02-24 01:15] quinton-hoole opened #21833 "e2e failure (ubernetes-lite): "Kibana Logging Instances Is Alive should check that the Kibana logging instance is alive" fails on multi-zone clusters"
• Failure [126.078 seconds]
Kibana Logging Instances Is Alive
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kibana_logging.go:42
  should check that the Kibana logging instance is alive [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kibana_logging.go:41

  Expected error:
      <*errors.StatusError | 0xc209c18000>: {

[2016-02-24 01:17] yujuhong opened #21834 "e2e flake: RollingUpdateDeployment should delete old pods and create new ones [ Test Panicked]"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/30094
https://cloud.google.com/console/storage/kubernetes-jenkins/pr-logs/pull/21790/kubernetes-pull-build-test-e2e-gce/30094/

[code]

[2016-02-24 01:17] dchen1107 commented on #21523
#21727 was merged yesterday, which removes the potential corrupted docker checkpoint file between stop and start the docker daemon. Along with two more other pr merged yesterday, we didn't observe any node bootup issue.

But I have to confess that we might still run into docker/docker#18527, but it should be either transient which is what I recorded at https://github.com/kubernetes/kubernetes/issu

[2016-02-24 01:17] quinton-hoole opened #21835 "e2e failure (ubernetes-lite): "Services should be able to up and down services" fails on multi-zone clusters"
• Failure [75.647 seconds]
Services
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:869
  should be able to up and down services [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:272

  Expected error:
      <*errors.errorString | 0xc208e8b2b0>: {
          s: "service verification failed for: 10.0.243.22, exp

[2016-02-24 01:17] ncdc commented on #21824
@lavalamp this is what I was talking about in the `kubectl timed out` port forwarding flake that I just fixed. Now that that flake is (hopefully) resolved, we've moved on to this. The only time in my testing the other day when I ran into this is when the pod that had the "missing" log entries didn't appear to get assigned an IP address.

[2016-02-24 01:18] bgrant0607 commented on #19299
There's a comment in the Job controller that claims the informer won't report deletions by the controller, but I don't see why that would be true.

[2016-02-24 01:18] ncdc commented on #21824
Oh wait, the log above shows that it's running `kubectl logs` which my PR removed...

[2016-02-24 01:18] caesarxuchao opened #21836 "e2e flake, building binaries failed with"tar: Error is not recoverable: exiting now""
[code]
full log:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21822/kubernetes-pull-build-test-e2e-gce/30098/?debugUI=CLOUD

@ixdy could you take a look? Thanks.

[2016-02-24 01:18] quinton-hoole opened #21837 "e2e failure (ubernetes-lite): "Services should be able to create a functioning NodePort service" fails on multi-zone clusters"
• Failure [320.249 seconds]
Services
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:869
  should be able to create a functioning NodePort service [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:400

  Feb 23 13:07:09.509: Could not reach HTTP service through 104.197.33.53:30123 after 5m0s: timed out waiting

[2016-02-24 01:19] dchen1107 commented on #20908
There is no logs at all for those pr builder. But both #21703 and #21727 were merged yesterday, and after that we didn't observe Node NotReady any more. Close this!

[2016-02-24 01:19] #20908 closed

[2016-02-24 01:19] lavalamp commented on #21824
Oh, has your fix not merged yet?

[2016-02-24 01:19] bprashanth commented on #19299
No i think there's a race in the expiration cache. The expectations are stored in a cache. The cache is a ttl store, because we have dropped watches etc. So essentially we say:
- create 5 pods
- set expectations = 5, ttl = X Seconds

and everytime something changes we check:
- observed pods via watch == 5?

if the answer is no, we go back to sleep.
This is pretty simple.

The race is hit when an e

[2016-02-24 01:19] ncdc commented on #21824
Ha, no, it hasn't. #21602

[2016-02-24 01:20] ncdc commented on #21824
Manual merge?

[2016-02-24 01:20] quinton-hoole opened #21838 "e2e failure (ubernetes-lite): "ConfigMap should be consumable from pods in volume with mappings" fails on multi-zone clusters"
• Failure [7.649 seconds]
ConfigMap
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/configmap.go:332
  should be consumable from pods in volume with mappings [Conformance] [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/configmap.go:176

  Expected error:
      <*errors.errorString | 0xc209778a30>: {
          s: "pod 'pod-config

[2016-02-24 01:21] lavalamp commented on #21824
Yeah, I asked for one.

On Tue, Feb 23, 2016 at 5:20 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-02-24 01:22] quinton-hoole opened #21839 "e2e failure (ubernetes-lite): "Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host" fails on multi-zone clusters"
• Failure [945.247 seconds]
Pod Disks
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pd.go:267
  should schedule a pod w/ a RW PD, remove it, then schedule it on another host [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pd.go:117

  Expected error:
      <*errors.errorString | 0xc20967de20>: {
          s: "gave up waiting fo

[2016-02-24 01:22] thockin commented on #21819
Confirm.  It looks like something is only allowing 4 search paths now.
This is double screwy because we are supposed to have an e2e for metadata!
Investigating more.  @artfulcoder

[code]

On Tue, Feb 23, 2016 at 5:07 PM, Zach Loafman <notifications@github.com>
wrote:

[2016-02-24 01:23] quinton-hoole opened #21840 "e2e failure (ubernetes-lite): "SSH should SSH to all nodes and run commands" fails on multi-zone clusters"
• Failure [5.649 seconds]
SSH
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/ssh.go:92
  should SSH to all nodes and run commands [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/ssh.go:91

  Feb 23 13:29:02.551: Ran echo "Hello" on 104.154.89.141:22, got error error getting signer for provider gce: 'error parsing SSH key -----BE

[2016-02-24 01:25] quinton-hoole opened #21841 "e2e failure (ubernetes-lite): "Deployment deployment should support rollback" fails on multi-zone clusters"
• Failure [1315.679 seconds]
Deployment
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:68
  deployment should support rollback [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:64

  Expected error:
      <errors.aggregate | len:1, cap:1>: [
          {
              Op: "Get",
              URL: "https

[2016-02-24 01:26] bgrant0607 commented on #19299
Ah, there are calls to ExpectCreations and ExpectDeletions, before the creation/deletion loops. That doesn't explain why we are satisfying the expectations immediately, though.

[2016-02-24 01:27] quinton-hoole opened #21842 "e2e failure (ubernetes-lite): "ConfigMap updates should be reflected in volume" fails in multi-zone clusters"
• Failure [97.446 seconds]
ConfigMap
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/configmap.go:332
  updates should be reflected in volume [Conformance] [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/configmap.go:271

  Timed out after 90.001s.
  Expected
      <string>: Error reading file /etc/configmap-volume/data-1: open /

[2016-02-24 01:27] spxtr opened #21843 "Remove outdated E2E scripts"
### These should probably be supported

**`hack/e2e.go`** with various flags to turn on and off various options.
**`make e2e_test`** is an alias for `go run hack/e2e.go -v --build --up --test --down`
### These are used by `hack/e2e.go`

**`hack/e2e-internal/*`**
**`hack/ginkgo-e2e.sh`**
### These should probably be removed right away

~~**`cluster/test-conformance.sh`**~~ #23353
~~**`hack/conforma

[2016-02-24 01:27] bgrant0607 commented on #19299
Also, Expect* should be doing atomic adds, like Seen.

[2016-02-24 01:28] thockin commented on #21819
ubuntu does not seem to have this problem.

On Tue, Feb 23, 2016 at 5:22 PM, Tim Hockin <thockin@google.com> wrote:

[2016-02-24 01:29] quinton-hoole opened #21844 "e2e failure (ubernetes-lite): "Proxy version v1 should proxy logs on node with explicit kubelet port using proxy subresource" fails on multi-zone clusters"
• Failure [5.845 seconds]
Proxy
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:40
  version v1
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:39
    should proxy logs on node with explicit kubelet port using proxy subresource [Conformance] [It]
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernet

[2016-02-24 01:30] bprashanth commented on #19299
Because they've expired.
- last expectation expired
- new expectation is stored
- new expectation (stored under the same key as last expectation) is deleted by key

and so the get for the expectations of rc-ns/rc-name doesn't return anything. So the rc manager decides that something is up (because no expectations -- so maybe watch was dropped?) and decides to relist pods from local store. But loca

[2016-02-24 01:31] quinton-hoole opened #21845 "e2e failure (ubernetes-lite): "Proxy version v1 should proxy to cadvisor using proxy subresource" fails on multi-zone clusters"
• Failure [5.850 seconds]
Proxy
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:40
  version v1
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:39
    should proxy to cadvisor using proxy subresource [Conformance] [It]
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:61

[2016-02-24 01:31] thockin commented on #21819
Edit: busybox seems to allow 3 now.  It used to work.  THIS RIGHT HERE is
why EVERYONE needs to manage upstream images.

On Tue, Feb 23, 2016 at 5:27 PM, Tim Hockin <thockin@google.com> wrote:

[2016-02-24 01:31] bprashanth commented on #19299
Expect inserts into the store, which happens with a lock. The theory is that a delete happens by key just after the insert (wrongfully, based on an old timestamp comparison).

[2016-02-24 01:32] quinton-hoole opened #21846 "e2e failure (ubernetes-lite): "ConfigMap should be consumable from pods in volume" fails in multi-zone clusters"
• Failure [9.647 seconds]
ConfigMap
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/configmap.go:332
  should be consumable from pods in volume [Conformance] [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/configmap.go:101

  Expected error:
      <*errors.errorString | 0xc209c70f60>: {
          s: "pod 'pod-configmaps-4157b440-

[2016-02-24 01:33] yujuhong commented on #8347
Yes, that's already the case today.

I think what we really need is the MinAge since the container stopped (#13562). We currently use the "Created" time, which doesn't mean much because the container may have been created a long time ago, but just recently stopped. We still need time to inspect the container and get logs. This will change the semantics of the GC policy, so it may not be for v1.2.

[2016-02-24 01:33] bgrant0607 commented on #19299
@bprashanth But that clobbers existing expectations.

[2016-02-24 01:34] quinton-hoole opened #21847 "e2e failure (ubernetes-lite): "Proxy version v1 should proxy logs on node using proxy subresource" fails in multi-zone clusters"
Failure [5.848 seconds]
Proxy
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:40
  version v1
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:39
    should proxy logs on node using proxy subresource [Conformance] [It]
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:60

[2016-02-24 01:37] huang195 commented on #21813
I found this issue: https://github.com/mesosphere/kubernetes-mesos/issues/201

Looks like the answer to the first question is 'no'. What if we're talking about different frameworks, e.g., 1 K8sm + 1 Spark? Will that work? If so what is the answer to the 2nd question?

[2016-02-24 01:37] bprashanth commented on #19299
Hmm, if you're ever setting expectations it should always be OK to clobber. You should either never be in the body of the controller (you have unexpired expectations) or be in the body (you're the only one in the body for that ns/RC -- because of the workqueue, and you're expectations either didn't exist or are satisfied). At this point you should be in control of setting the expectation.

We eval

[2016-02-24 01:38] thockin commented on #21819
busybox:glibc works, busybox:uclibc does not work, and that happens to be
what :latest points to.

On Tue, Feb 23, 2016 at 5:31 PM, Tim Hockin <thockin@google.com> wrote:

[2016-02-24 01:40] zmerlynn commented on #21819
Hm, maybe I'm having a separate issue in Spark, then, and I stripped it down to the wrong repro. :P

Try:
[code]
(It looks like my spark image is Jessie based, in the end.)

[2016-02-24 01:42] zmerlynn commented on #21819
I actually can't get the smaller search path busybox repro to work, either.

[2016-02-24 01:46] thockin commented on #21819
Jessie works for me:

[code]

On Tue, Feb 23, 2016 at 5:43 PM, Zach Loafman <notifications@github.com>
wrote:

[2016-02-24 01:47] yujuhong commented on #21821
I think we have an old issue lying somewhere; will update if I find it.

[2016-02-24 01:48] quinton-hoole opened #21848 "e2e failure (ubernetes-lite): "Daemon set should run and stop complex daemon" fails on multi-zone clusters"
• Failure [29.848 seconds]
Daemon set
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/daemon_set.go:194
  should run and stop complex daemon [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/daemon_set.go:193

  Expected error:
      <*errors.StatusError | 0xc2086e0500>: {
          ErrStatus: {
              TypeMeta: {Kind: "Stat

[2016-02-24 01:50] quinton-hoole opened #21849 "e2e failure (ubernetes-lite): "MetricsGrabber should grab all metrics from a Scheduler" fails on multi-zone clusters"
• Failure [6.048 seconds]
MetricsGrabber
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/metrics_grabber_test.go:158
  should grab all metrics from a Scheduler. [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/metrics_grabber_test.go:133

  Expected
      <sets.String | len:3>: {
          "scheduler_e2e_scheduling_latency_microse

[2016-02-24 01:53] quinton-hoole commented on #21849
Duplicate

[2016-02-24 01:53] #21849 closed

[2016-02-24 01:55] jdef commented on #21813
Now that k8sm supports roles, you could (and people have, I'm told) run
multiple instances of k8sm on the same cluster by statically partitioning
your mesos slaves using roles. For example, if you had 6 slaves you could
assign all the resources from slaves 1 - 3 to role A, and all the resources
from slave 4 - 6 to role B; then run two instances of k8sm, each instance
configured to consume resource

[2016-02-24 01:58] quinton-hoole commented on #21848
Ref #21800

[2016-02-24 01:58] quinton-hoole commented on #21847
Ref #21800

[2016-02-24 01:58] quinton-hoole commented on #21845
Ref #21800

[2016-02-24 01:58] quinton-hoole commented on #21844
Ref #21800

[2016-02-24 01:59] quinton-hoole commented on #21842
Ref #21800

[2016-02-24 01:59] quinton-hoole commented on #21841
Ref #21800

[2016-02-24 01:59] quinton-hoole commented on #21840
Ref #21800

[2016-02-24 01:59] quinton-hoole commented on #21839
Ref #21800

[2016-02-24 02:00] quinton-hoole commented on #21838
Ref #21800

[2016-02-24 02:00] quinton-hoole commented on #21837
Ref #21800

[2016-02-24 02:00] huang195 commented on #21813
I didn't know k8sm already support roles :-) Have to try that out.
Regarding running spark along with k8sm, I'd imagine they would have different executors, but if I'm looking at k8sm code here: (https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/pkg/scheduler/components/framework/framework.go#L136), if an offer comes with multiple executor ids, k8sm would decline the offer. Is thi

[2016-02-24 02:00] quinton-hoole commented on #21835
Ref #21800

[2016-02-24 02:01] quinton-hoole commented on #21833
Ref #21800

[2016-02-24 02:01] quinton-hoole commented on #21832
Ref #21800

[2016-02-24 02:01] quinton-hoole commented on #21831
Ref #21800

[2016-02-24 02:02] quinton-hoole commented on #21828
Ref #21800

[2016-02-24 02:02] quinton-hoole commented on #21812
Ref #21800

[2016-02-24 02:12] ArtfulCoder commented on #21820
Not sure if this qualifies as flaky:
It only failed once in available history.

Here is the test result history
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12152/testReport/junit/(root)/Kubernetes%20e2e%20suite/Deployment_RecreateDeployment_should_delete_old_pods_and_create_new_ones/history/

[2016-02-24 02:13] bprashanth commented on #21820
These days they say that's flaky :)

[2016-02-24 02:17] thockin commented on #21819
https://github.com/docker-library/busybox/issues/9

[2016-02-24 02:31] AdoHe commented on #21625
@ncdc I am doing test to determine whether there are actually races.

[2016-02-24 02:35] AdoHe commented on #20497
@mikedanese this is strange, docker stopped responding cause node state transfer, the node may be not ok to schedule any new pod, but deleting Terminated pod should be ok.

[2016-02-24 02:36] AdoHe commented on #20497
@knittingdev could you provide `kubelet` log when you do non-graceful deletion: `kubectl delete pod NAME` ?

[2016-02-24 02:40] AdoHe commented on #21821
+1 really necessary for image pulling.

[2016-02-24 02:41] jdef commented on #21813
Pretty sure that the executorIDs received by k8sm are only for executors of
the same framework. So k8sm wouldn't see spark executors.

On Tue, Feb 23, 2016 at 9:01 PM, Hai Huang <notifications@github.com> wrote:

[2016-02-24 02:50] thockin commented on #21705
Got it.  We do not have that capability in kube-proxy right now,
though as Ubernetes Lite rolls out, it might start to matter
(@quinton-hoole @justinsb).  The kube-proxy (as of 1.2) is pretty dumb
and doesn't really know whether a backend is "up" or not.  It's just a
VIP.  We *could* start to bias traffic to zone-local backends, but
we'd have to talk about the heuristic to use.

In other words, tr

[2016-02-24 02:59] bgrant0607 commented on #19299
I think I see.

* When the controller decides to create N pods, it sets an expectation for N pods
* When the controller decides to delete N pods, it sets an expectation for N pods
* If a creation or deletion API call appears to fail, it is subtracted from the expectation
* When the creation/deletion is observed via watch, it is subtracted from the expectation
* manageReplicas, which does the creat

[2016-02-24 03:12] quinton-hoole commented on #21800
Oh boy!  Running this against the latest build (above was a build a few days old), all tests passed in Jenkins.  Awesome!

18:23:52 Ran 137 of 237 Specs in 497.158 seconds
18:23:52 SUCCESS! -- 137 Passed | 0 Failed | 0 Pending | 100 Skipped

Twice in succession so far.

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/380/

Provisionally closing dependent issues.  Yeeha!

[2016-02-24 03:13] quinton-hoole commented on #21814
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:13] #21814 closed

[2016-02-24 03:13] quinton-hoole commented on #21815
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:13] #21815 closed

[2016-02-24 03:13] quinton-hoole commented on #21830
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:13] quinton-hoole commented on #21848
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:13] #21848 closed

[2016-02-24 03:13] quinton-hoole commented on #21847
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:14] quinton-hoole commented on #21845
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:14] quinton-hoole commented on #21844
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:14] #21844 closed

[2016-02-24 03:14] quinton-hoole commented on #21842
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:14] #21842 closed

[2016-02-24 03:14] quinton-hoole commented on #21841
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:14] #21841 closed

[2016-02-24 03:15] quinton-hoole commented on #21840
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:15] #21840 closed

[2016-02-24 03:15] quinton-hoole commented on #21839
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:15] #21839 closed

[2016-02-24 03:15] quinton-hoole commented on #21838
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:15] #21838 closed

[2016-02-24 03:15] quinton-hoole commented on #21837
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:15] #21837 closed

[2016-02-24 03:17] quinton-hoole commented on #21835
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:17] #21835 closed

[2016-02-24 03:18] quinton-hoole commented on #21833
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:18] #21833 closed

[2016-02-24 03:18] quinton-hoole commented on #21832
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:18] #21832 closed

[2016-02-24 03:18] quinton-hoole commented on #21831
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:18] #21831 closed

[2016-02-24 03:18] quinton-hoole commented on #21828
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:19] quinton-hoole commented on #21828
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:19] quinton-hoole commented on #21812
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:19] #21812 closed

[2016-02-24 03:19] quinton-hoole commented on #21828
Fixed! https://github.com/kubernetes/kubernetes/issues/21800#issuecomment-188037923

[2016-02-24 03:19] #21828 closed

[2016-02-24 03:19] #21847 closed

[2016-02-24 03:20] #21845 closed

[2016-02-24 03:28] bprashanth commented on #19299
I think that's a case of waking up at the wrong time, so we start with:

__I0223 04:44:45.240349__       5 expiration_cache.go:87] Entry e2e-tests-deployment-dfejl/nginx-controller: &{add:0 del:0 key:e2e-tests-deployment-dfejl/nginx-controller} has expired
I0223 04:44:45.240414       5 controller_utils.go:152] Controller e2e-tests-deployment-dfejl/nginx-controller either never recorded expectation

[2016-02-24 03:42] mikedanese commented on #21767
These tests only fail when run in parallel with other tests. ref #16623

[2016-02-24 03:54] bparees commented on #21817
How many tests/blogs/docs/etc are going to be broken if we start moving this stuff around?  Does that need to be a consideration?  (tests obviously do, blogs/docs less so)

[2016-02-24 04:00] jayunit100 commented on #21817
Don't even have community consensus just an idea.
I think many blogs (ha, probably including my own) will be broken but I don't think that should be a huge concern.  The technical debt is a bigger issue...

[2016-02-24 04:00] justinsb opened #21853 "AWS: Wily cannot install Docker (upstream issue)"
AWS Wily cannot install Docker, due to: https://github.com/docker/docker/issues/18444

[2016-02-24 04:13] dove-young opened #21854 "kubectl exec and kubectl logs doesn't work with apiserver"
Here are my pods info. Both <code>kubectl exec</code> and <code>kubectl logs</code> does not work in my installation.

 Kubernetes v1.1.2 on Fedora 22. Docker version 1.8.2

[code]

[code]

[code]

[2016-02-24 04:14] jumpkick commented on #21735
@bprashanth in the case of something like MySQL when apt-get installs it on Ubuntu, by default only local unix socket connections are allowed.   A administrator must reconfigure it to bind remote tcp ports/addresses.

When folks build docker images they most certainly override that behaviour to make service accessible on tcp 3306, as IP communication is needed for a database container to be at all

[2016-02-24 04:15] roberthbailey commented on #12611
/cc me & @ihmccreery

[2016-02-24 04:15] justinsb commented on #21853
Also vivid.

Here's a portion of /var/log/syslog showing the installation failure:

[code]

Salt then fails to install anything that depends on docker (e.g. kube-apiserver)

[2016-02-24 04:17] justinsb commented on #21853
One potential workaround might be to add a policy to disable start:

`/usr/sbin/policy-rc.d:`

[code]

(must be executable)

[2016-02-24 04:29] justinsb commented on #21784
GCE MOTD during install:

[code]

[2016-02-24 04:31] saad-ali commented on #20734
Created a cherry pick for #19600 (PR https://github.com/kubernetes/kubernetes/pull/21855). If there is another 1.1 release (v1.1.9), this fix will be in that release. Otherwise, it'll be in the v1.2 release.

[2016-02-24 04:35] nikhiljindal commented on #21753
https://github.com/kubernetes/kubernetes/pull/21857 should fix this

[2016-02-24 04:35] nikhiljindal commented on #21798
https://github.com/kubernetes/kubernetes/pull/21857 should fix this

[2016-02-24 04:38] AdoHe commented on #21854
@dove-young for the second `logs` command, the GET request is ok:
[code]
but still get `404`which is strange, could you provide your apiserver log?

[2016-02-24 04:57] nikhiljindal commented on #21042
The caching problem is being tracked in https://github.com/kubernetes/kubernetes/issues/21353.
Closing this one

[2016-02-24 05:25] ixdy commented on #21451
I've now upgraded all PR Jenkins nodes to Docker 1.10.2. Will watch to see if that changes anything.

[2016-02-24 05:42] AdoHe commented on #21809
Another occurance:
[code]
[https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21535/kubernetes-pull-build-test-e2e-gce/30139/build-log.txt](https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21535/kubernetes-pull-build-test-e2e-gce/30139/build-log.txt)
seems #21795 can fix this.

[2016-02-24 05:45] dove-young commented on #21854
I change apiserver to <code>--v=9</code> and retry again. Here is the part of log around the exec command

[code]

[2016-02-24 05:45] bgrant0607 commented on #21834
Dupe of #21765

[2016-02-24 05:45] #21834 closed

[2016-02-24 05:47] dove-young commented on #21854
Here is the ssh tunnel part

[code]

and here is the Dailing part

[code]

[2016-02-24 05:56] bgrant0607 commented on #21829
cc @johndmulhausen

[2016-02-24 05:56] ixdy commented on #21451
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/21175/kubernetes-pull-test-unit-integration/15950 just hit this again, so docker 1.10.2 doesn't help.

[2016-02-24 05:59] piosz commented on #21166
Thanks @thockin for verifying!

[2016-02-24 06:05] piosz commented on #20925
In run http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step7-e2e-new/442 we are still using n1-standard-1. @ihmccreery could you please update to use n1-standard-2?

[2016-02-24 06:15] davidopp commented on #21244
This test passed at least the last 200 PR builder runs (I got bored after scrolling through that many). I'm going to close the issues, and we can re-open it if it recurs (hopefully helped by #21573).

[2016-02-24 06:18] davidopp commented on #21244
Oh actually I must be wrong, since @pwittrock ran into it on #20415. That's weird though, as I don't see any failure in the PR builder history, yet he said he ran into it just six hours ago. I started here
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/30142/testReport/junit/%28root%29/Kubernetes%20e2e%20suite/ConfigMap_updates_should_be_reflected_in_volume__Confor

[2016-02-24 06:19] dengshuan opened #21858 "AWS policy and role in region cn-north-1 has cn suffix"
As documented [here](http://docs.amazonaws.cn/en_us/aws/latest/userguide/iam.html)

and

So policy template in cluster/aws/templates/iam/kubernetes-{master,minion}-policy.json and role principal in cluster/aws/templates/iam/kubernetes-{master,minion}-role.json should be treated differently for cn-north-1 region.
The role `Statement.Principal.Service` should be `ec2.amazonaws.com.cn` and `Resource`

[2016-02-24 06:28] davidopp commented on #12245
Dropping to P2 - @mikedanese said he thought he'd be able to get everything except API server into v1.2, and I think that's fine.

[2016-02-24 06:29] davidopp commented on #15310
My understanding is that everything is done here for 1.2, so I'm moving to next-candidate.

[2016-02-24 06:32] bgrant0607 commented on #15879
we should also add something about not strengthening validation: #21680

cc @liggitt

[2016-02-24 06:42] piosz commented on #21079
I verified that HPA exports appropriate events for all cases mentioned here, but due to #21763 the events was not successfully exported.

[2016-02-24 06:42] #21079 closed

[2016-02-24 07:01] #21682 closed

[2016-02-24 07:03] davidopp commented on #21651
Can we close this? Looks like the PR was merged but then there were a bunch of comments after it was merged.

[2016-02-24 07:18] davidopp commented on #20643
ping

[2016-02-24 07:20] madhusudancs commented on #15310
@davidopp yeah, everything proposed for 1.2 is done.

[2016-02-24 07:20] davidopp commented on #21155
ping - someone who understands this issue (not me) please confirm doing this for GCE is a 1.2 blocker, or else move it to next-candidate or remove milestone tag completely and demote to P2.

[2016-02-24 07:33] gmarek commented on #20916
There's a long standing p0 for collecting those logs: #10423

[2016-02-24 07:43] ArtfulCoder commented on #21819
Binaries/libs cannot link against busybox since busybox is a statically linked binary.
So programs that run in busybox container would probably bring in their own libc.

But there are two scenarios where busybox ndots issue could hurt:
1. user directly uses busybox nslookup/dig.
2. program does an exec and invokes busybox's nslookip.

[2016-02-24 07:57] cdpb opened #21859 "Kubelet could not tear down volume NFS"
Hi all,

I am using a 3 node coreos test cluster with kubernetes 1.1.17.
My kublets complaing something like:

[code]

Indeed, the volume is not empty, but how is it even possible that some persistent data are on the host system, if I mount everything via NFS from a external host? The volume `pv-gitlab-*` no longer exist on the NFS host and there are currently no mounted nfs volumes on the coreos

[2016-02-24 07:59] #20570 closed

[2016-02-24 08:01] #21542 closed

[2016-02-24 08:02] #21757 closed

[2016-02-24 08:13] davidopp commented on #21679
Hi @mqliang . I took a quick look at what you've done here, and I think it is actually a proposal for (at least part of) moving `kubectl drain` to the server (something hypothesized in #17393). One quick comment I'd make is that I think we want the constraints on the impact on the pod (like `MaxUnavailable`) to be specified in a separate object (see #12611) so that it can be used to limit disrupti

[2016-02-24 08:25] innovia commented on #21690
@justinsb
[code]
is it because the the enable cluster logging ? i thought this was  a flag to remove ELK pods

[2016-02-24 08:28] caesarxuchao opened #21862 "e2e flake, "Unable to connect to the server: dial tcp xxx: i/o timeout""
This happens running "Update Demo" test.
[code]

Not sure if this is related to #20908.

Full log: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21445/kubernetes-pull-build-test-e2e-gce/30131/?debugUI=CLOUD

[2016-02-24 08:29] piosz commented on #21742
fixed in #21760

[2016-02-24 08:29] #21742 closed

[2016-02-24 08:35] ParagDoke commented on #21588
+1

[2016-02-24 08:38] #21540 closed

[2016-02-24 09:19] wojtek-t opened #21866 "e2e flake: Kubelet failed in scalability test"
One of our scalability test runs failed with:

    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework.go:84 Feb 23 13:57:52.186: All nodes should be ready after test, Not ready nodes: [{{ } {e2e-scalability-minion-9rwz /api/v1/nodes/e2e-scalability-minion-9rwz 03080b91-da72-11e5-8b5f-42010af00002 64561 0 2016-02-23 13:11:31 -0800 PST map[kubernetes.io/hostname

[2016-02-24 09:19] wojtek-t commented on #21866
@dchen1107 - can you please take a look or delegate?

[2016-02-24 09:21] wojtek-t commented on #21313
And one more failure:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4808/consoleFull

[2016-02-24 09:27] AdoHe commented on #21866
More complete info:
[code]

[2016-02-24 10:06] gmarek commented on #21313
I hope that #21759 will solve this.

[2016-02-24 10:34] gmarek commented on #21359
[code]

Which means that it's not a problem with master machine, but some HollowPods are not starting in the external cluster.

[2016-02-24 10:36] metmajer commented on #10522
I experience the very same issue on AWS and, usually, I can't connect to my cluster anymore the day after I had set it up - which is a huge blocker. Here's the output from `kubectl.sh version`:

[code]

[2016-02-24 11:03] gmarek commented on #21359
Sadly there are no logs in case of such failure.

[2016-02-24 12:13] soltysh commented on #21079
@bgrant0607 isn't the part of this issue relating to all controllers still valid, maybe a separate issue?

[2016-02-24 12:36] soltysh commented on #20966
@nikhiljindal can you assign this one to yourself since you're addressing it in the linked PR.

[2016-02-24 12:46] deads2k commented on #19941
Yes, with a hardcoded order for now built on types that could accept discovery based order post-1.2.

[2016-02-24 12:47] kargakis commented on #20966
#21857 just syncs the status, doesn't have to do anything related to the cleanup policy. I have addressed it already in #20273.

[2016-02-24 12:53] soltysh commented on #20966
I see

[2016-02-24 13:25] ericandrewlewis opened #21873 "Example configuration for DNS add-on doesn't connect to Kubernetes API"
The [example config for the DNS add-on](https://github.com/kubernetes/kubernetes/blob/release-1.1/cluster/addons/dns/skydns-rc.yaml.in) doesn't include configuration for the kube2sky container to talk to the Kube API.

Launching the default config in a new Kube cluster I see these errors in the kube2sky container

[code]