[2021-09-10 04:10] #104057 closed

[2021-09-10 04:19] zwpaper commented on #64623
after dive into the source code, the main stopper for a daemonSet to run `OnFailure` pods is the API validation here, https://github.com/kubernetes/kubernetes/blob/51ff4bb814a394aa5753b559e87fcdf3fc775d9f/pkg/apis/apps/validation/validation.go#L347, both daemonset and pod controller could work as expected in some simple scenarios, but it is not easy to cover all the cases caused by the change.

@s

[2021-09-10 04:53] venkatsc commented on #102482
Thank you @Kartik494  for the hint. I don't remember exactly which CRD the cluster has and it was long time ago.

[2021-09-10 04:53] #102482 closed

[2021-09-10 05:14] neolit123 commented on #104888
this looks buggy.
not sure what changed between 1.21 -> 1.22, maybe something around these proposals:
https://github.com/kubernetes/enhancements/search?q=apparmor

/sig node auth security

[2021-09-10 05:17] neolit123 commented on #104869
/sig cloud-provider storage
/area provider/aws

[2021-09-10 05:29] pacoxu commented on #104888
/cc @saschagrunert

only [3 prs](https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+apparmor+is%3Aclosed+milestone%3Av1.22) in 1.22 that is related to apparmor.
- https://github.com/kubernetes/kubernetes/pull/97968
- https://github.com/kubernetes/kubernetes/pull/103378
- https://github.com/kubernetes/kubernetes/pull/103465

[2021-09-10 06:01] SergeyKanzhelev commented on #104878
Yes, this was created as a starting point: https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/

Step by step migration is different depending on where k8s is run. One specific issue tracking this: https://github.com/kubernetes/website/issues/25879

also another clarification is needed here: https://github.com/kubernetes/website/issues/28449

[2021-09-10 06:11] pacoxu commented on #104138
/triage accepted

[2021-09-10 06:27] pacoxu commented on #101695
/triage accepted

[2021-09-10 06:33] kerthcet opened #104890 "tracing PRs for promoting pause image to tag 3.6"
#### What would you like to be added:
Pause Image Update Orders crossing multi projects.

#### Why is this needed:
Since pause image is related to several projects, e.g. kubernetes, kind, cri-o, minikube, containerd. And there's a discussion about the upgrade order above these projects in [slack](https://kubernetes.slack.com/archives/C0BP8PW9G/p1631032292078800), this issue will collect them toget

[2021-09-10 06:39] kerthcet commented on #104890
@endocrimes , help to review this if necessary. And I think an update to the [updating-pause-images.md](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/updating-pause-images.md) is needed after we close this issue. I'll track this anyway.

/assign

[2021-09-10 07:11] pacoxu commented on #104336
@katiekeel As #103458 is merged, you could try the 1.23.0-alpha.0 kubectl.
[code]

/close
as the dup issue is fixed in 1.23.

[2021-09-10 07:12] #104336 closed

[2021-09-10 07:30] pacoxu commented on #104864
Would you try `kubectl --v=6 get pod ` or even `kubectl --v=9 get pod` to get debug level logs of kubectl to know what happened?

A guess would be there are two types with same name `pod` in you cluster(which have different api-groups, you can check with `kubectl  api-resources  |grep pods`). Because this is similar with that kubectl get two different resources together like `kubectl get pod,secre

[2021-09-10 07:30] timebertt commented on #99003
/remove-lifecycle stale

[2021-09-10 07:44] slaskawi opened #104893 "Refactor `audit_test.go`"
#### What would you like to be added:

The `test/integration/controlplane/audit_test.go` contains a lot of duplicated code around checking if certain audit events are there.

The `testAudit*` functions combine both actions for the tests and the assertions for the audit events. Decoupling those two things will enable us to move the "actions" code higher of the stack and unify the audit events evalu

[2021-09-10 07:44] slaskawi commented on #104893
/assign

[2021-09-10 07:55] chendave opened #104895 "Implement the logic for `RequiredDuringSchedulingRequiredDuringExecution`"
#### What would you like to be added:
The rule of Node Affinity `RequiredDuringSchedulingRequiredDuringExecution` has been marked as a TODO item longer than 5 years, while the semantic of the rule is clearly defined and pretty straightforward,

	// scheduling time, the pod will not be scheduled onto the node.
	// If the affinity requirements specified by this field cease to be met
	// at some poin

[2021-09-10 08:21] neolit123 commented on #104893
please clarify in the description which audit_test.go this is about, since this repository has multiple.

i'm going to assume it's https://github.com/kubernetes/kubernetes/blob/08eaea4590821ab099551e334bfc0e0b2ebee348/staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go

/sig api-machinery

[2021-09-10 08:21] neolit123 commented on #104893
/remove-kind feature
/kind cleanup
/area test

[2021-09-10 08:22] neolit123 commented on #104890
/sig release

[2021-09-10 08:36] pacoxu commented on #76146
/remove-sig cli

[2021-09-10 08:45] pacoxu commented on #104371
/triage accepted

[2021-09-10 08:51] cdzhangyong opened #104896 "how to set elasticsearch JVM"
How to set elasticsearch JVM
I want set elasticsearch jvm Xms and  Xmx。
I edit es-statefulset.yaml as:
          resources:
            # need more cpu upon initialization, therefore burstable class
            limits:
              cpu: 1
              memory: 3.5Gi
            requests:
              cpu: 100m
              memory: 3.5Gi
          env:
            - name: "NAMESPACE"

[2021-09-10 08:51] neolit123 commented on #104896
please try the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-09-10 08:52] #104896 closed

[2021-09-10 09:13] pacoxu commented on #98782
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/kubectl/pkg/util/qos/qos.go#L35-L38

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/apis/core/helper/qos/qos.go#L37-L40

It seems to be duplicate functions here.

[2021-09-10 09:16] shivanshu1333 commented on #104872
To track status of merged/open PRs:

- cmd/kube-proxy/app/server_others.go
- pkg/proxy/metaproxier/meta_proxier.go
- pkg/proxy/service.go https://github.com/kubernetes/kubernetes/pull/104891#partial-pull-merging
- pkg/proxy/util/utils.go
- pkg/proxy/util/iptables/traffic.go
- pkg/proxy/util/endpoints.go
- pkg/proxy/config/config.go
- pkg/proxy/healthcheck/service_health.go
- pkg/proxy/topology.go

[2021-09-10 09:28] pacoxu commented on #79547
My workaround would be

[code]

[2021-09-10 09:55] cloudcafetech commented on #82178
@neolit123
Using 1.20 kubeadm, I followed as per your instruction ```kubeadm reset``` then adding the ca.crt in /etc/kubernetes/pki folder then run ```kubeadm init``` but got following error .... (Seems its looking ```ca.key``` file)

[code]

[2021-09-10 10:15] rjshk013 commented on #70202
in my case  myAmazonEKSCNIRole was the culprit.I didn't give proper oidc id in that role.I rechecked trust relationship section & corrected the values .After that my pods shows running
 kube-system   aws-node-29rwz             1/1     Running       20         74m
kube-system   aws-node-ffvc4             1/1     Running       20         74m
kube-system   coredns-65ccb76b7c-f96q4   1/1     Running

[2021-09-10 10:16] neolit123 commented on #82178
we have our external CA mode e2e test green, so you must be doing something wrong:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-external-ca-1-20

probably not providing all the required certificates if ca.key is missing.
https://kubernetes.io/docs/setup/best-practices/certificates/

here is how the e2e test works. you can use `kubeadm init phase ...` to generate th

[2021-09-10 10:22] soltysh commented on #102316
What Jordan wrote in https://github.com/kubernetes/kubernetes/issues/102316#issuecomment-852101050 is my explanation why this is not a bug, but an intentional behavior.

/close

[2021-09-10 10:23] #102316 closed

[2021-09-10 10:29] soltysh commented on #98782
The intention for duplicates is coming from the fact that kubectl can't rely on packages from kuberentes main repository. Either way they should both be identical except for the fact that the internval version will use internal APIs, whereas kubectl's version will use versioned. @pacoxu feel free to open a PR updating kubectl version updating it to match both versions.

[2021-09-10 10:29] soltysh commented on #98782
/triage accepted
/assign @pacoxu

[2021-09-10 10:35] cloudcafetech commented on #82178
@neolit123

Thanks for reply ...

In this comments (https://github.com/kubernetes/kubernetes/issues/82178#issuecomment-527230686) you mentioned

And that I did.

Then Why?

I am using below init command

```kubeadm init --control-plane-endpoint drk8s.example.com:6443 --pod-network-cidr=10.244.0.0/16 --upload-certs --v=9 | tee kubeadm-output.txt```

[2021-09-10 11:20] soltysh commented on #101695
I spoke with @RinkiyaKeDad, he'll be looking at the this. In short I'm proposing to update https://github.com/kubernetes/kubernetes/blob/758ad0790ceae9e7be0554637c0fd623ff02e45f/staging/src/k8s.io/cli-runtime/pkg/printers/json.go#L37-L82 to properly handle escape chars handling. Looking at [JSON spec](https://datatracker.ietf.org/doc/html/rfc8259#section-7) I'd suggest using `strconv.QuoteToASCII`

[2021-09-10 11:24] CIPHERTron commented on #104872
@shivanshu1333 I can help with the `pkg/proxy/util` files i.e.
* `pkg/proxy/util/iptables/traffic.go`
* `pkg/proxy/util/utils.go`
* `pkg/proxy/util/endpoints.go`

Could you please assign me that? Thanks!

[2021-09-10 11:57] CIPHERTron commented on #104872
/assign

[2021-09-10 13:27] alculquicondor commented on #104895
There is already an open issue for it: https://github.com/kubernetes/enhancements/issues/2358

There is nothing stopping us from implementing it, but it's mostly a sig-node feature.

I'm closing this issue so we can keep one discussion only

/close

[2021-09-10 13:27] #104895 closed

[2021-09-10 14:25] jtslear commented on #25238
I'm seeing this on Kubernetes 1.20.8.

We may need to figure out how to separate the `spec.replicas` here when other things, such as an HPA, are involved.  Being that this field defaults to a value of `1`, we cannot simply remove it from our Deployment objects.  This forces users to create an extra step of grabbing the current replica count, and feeding it into their Deployment object.  This may b

[2021-09-10 15:03] liggitt commented on #104888
0d2257151932c4e236e6a5fb2116793a03120cac is the only one that would have a runtime impact

[2021-09-10 17:50] ehashman commented on #104292
/cc @mmiranda96

[2021-09-10 17:52] ehashman commented on #104292
/kind flake
/remove-kind failing-test

I see looking more closely at the Fedora and Ubuntu jobs that this is flaking and not failing every time, it's just flaking the majority of the time.

[2021-09-10 18:33] apelisse commented on #25238
Can you explain precisely what behavior you're seeing and what you're trying to do?

We've basically fixed this bug with server-side apply in 1.22.

[2021-09-10 19:08] ehashman commented on #104648
Note that identical UIDs on static pods pose a problem for calculating pod lifecycle of static pods, tracked in https://bugzilla.redhat.com/show_bug.cgi?id=1933760#c27

Why the static pod UIDs were not changing between boots was a source of confusion for me---if pods are mortal, surely the static pod should get a new UID after dying/terminating, I reasoned, regardless of the unchanged name/manifes

[2021-09-10 19:18] SergeyKanzhelev commented on #104878
Filed another one: https://github.com/kubernetes/website/issues/29665

[2021-09-10 19:18] SergeyKanzhelev commented on #104878
KEP xref: https://github.com/kubernetes/enhancements/issues/2221 for tracking

[2021-09-10 19:19] rtheis commented on #73698
/remove-lifecycle rotten

[2021-09-10 19:20] ehashman commented on #104648
Elaborating on this a little bit... Right now, we see the following behaviour when a node reboots:

- Static pods terminate, node shuts down
- Node starts up, kubelet does its reconciliation loop
- Static pods are launched prior to API server sync and enter pending state, if the container runtime does not retain information on the previous static pod status [true on OpenShift because we call cri-o

[2021-09-10 20:28] thiagolsfortunato commented on #90066
until waiting for Kubernetes upgrade to version 1.21+, I'm using yq to delete managed fields from the output.

[code]

[2021-09-10 20:30] smarterclayton commented on #104648
Turns out this actually is not an illegal transition (which I realized during dealing with soft admission).  A pod that fails soft admission post start is put back into pending because it's not actually running and the kubelet has decided to hold it.  It's strictly better for the kubelet to communicate this because the alternative is a user has no idea that the pod wouldn't be running.  So I think

[2021-09-10 21:36] kishorj commented on #96764
/remove-lifecycle stale

[2021-09-10 21:40] apelisse commented on #104820
@liggitt @sttts I'm sure we've talked about it in the past but I can't remember, what are your thoughts?

[2021-09-10 21:43] jtslear commented on #25238
@apelisse

Ok, after further testing, I can confirm that this indeed working correctly, it just isn't immediately apparent, and I am still building an understanding, but feel free to tell me where I'm wrong, and guide me as needed.  For the purposes of the below demonstration, I'm going to utilize `client config` and `server config` to describe the Deployment object I create, and the Deployment ob

[2021-09-10 21:48] apelisse commented on #25238
Thanks for the example @jtslear, I'm assuming you've been applying the changes with `kubectl apply`, without the `--server-side` flag?

[2021-09-10 21:51] jtslear commented on #25238
That's correct.  We use Helm for most our deployments; I'm not sure how Helm accomplishes the same task, but the behavior that we see is appears the same that I describe.

[2021-09-10 21:59] MikeSpreitzer opened #104922 "anti-windup mechanism in queueset is too aggressive"
#### What happened:
I looked into why TestDifferentWidth in `queueset_test.go` needs surprisingly wide tolerance for divergence from the ideal result.  One reason is the anti-windup mechanism at https://github.com/kubernetes/kubernetes/blob/b47f8263e18c7b13dba33fba23187e5e0477cdbd/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go#L726-L742 is canceling the "credit"

[2021-09-10 22:00] MikeSpreitzer commented on #104922
@kubernetes/sig-api-machinery-bugs
/cc @yue9944882
/cc @tkashem
/cc @wojtek-t
@deads2k
@lavalamp

[2021-09-10 23:57] khenidak commented on #104329
the former and we should be able to cherry pick it.

[2021-09-10 23:57] khenidak commented on #104329
@aojea  for another look.

[2021-09-11 02:02] geotransformer commented on #94524
Seems not fixed or happened again

$ sudo kubeadm upgrade plan --config=/etc/kubernetes/kubeadmin-config.yaml
[upgrade/config] Making sure the configuration is correct:
W0907 09:19:49.862338   19491 common.go:94] WARNING: Usage of the --config flag with kubeadm config types for reconfiguring the cluster during upgrade is not recommended!
[preflight] Running pre-flight checks.
[upgrade] Running clu

[2021-09-11 03:13] jclab-joseph opened #104929 "If specify RuntimeClass, it seems to find containerd without using cri-o."
#### What happened:

If specify RuntimeClass, it seems to find containerd without using cri-o.

[code]

#### What you expected to happen:

When using CRI-O, Pods must be created with CRI-O.

#### How to reproduce it (as minimally and precisely as possible):

- Install kubelet with cri-o
- `... Ready ... v1.18.20   ... Ubuntu 20.04.2 LTS   5.4.0-81-generic     cri-o://1.18.4`
- create pod with spec

[2021-09-11 03:26] jclab-joseph commented on #104929
Perhaps this is an issue with kata-containers.

[2021-09-11 03:26] #104929 closed

[2021-09-11 06:32] neolit123 commented on #94524
passing --config to upgrade is not recommended, you should just pass a version as flag.
what are the contents of the file?

[2021-09-11 06:42] kamikazechaser opened #104930 "Namespace not found, even when created at the earliest"
#### What happened:

[code]

An error was thrown in spite of namespace being created earlier. Running apply a second time fixes the issue.

#### What you expected to happen:

`No error as namespace was created earlier.`

#### How to reproduce it (as minimally and precisely as possible):

kubectl apply -R -f build

#### Anything else we need to know?:

I have seen similar issues on here and skaffol

[2021-09-11 07:10] #100022 closed

[2021-09-11 10:11] szuecs commented on #91492
/remove-lifecycle stale

[2021-09-11 11:27] praparn commented on #40422
Is it possible for append this option on deployment yaml itself? A lot of need to use this feature for check and record history purpose.

[2021-09-11 12:30] PranshuSrivastava commented on #104878
Hey, can I also work on this?

[2021-09-11 13:04] jyz0309 commented on #104872
I can help to migrate the last group
[code]
Could you please assign me that? Thanks!

[2021-09-11 13:04] jyz0309 commented on #104872
/assign

[2021-09-11 13:14] #92019 closed

[2021-09-11 15:44] CIPHERTron commented on #104872
Heyy @shivanshu1333 I've also opened a PR for migration of `pkg/proxy/util` to structured logging. Could you please update here? Thanks!

[2021-09-11 19:40] #87603 closed

[2021-09-11 19:40] #98994 closed

[2021-09-11 21:14] #91845 closed

[2021-09-11 23:09] zt185019 opened #104935 "failed to create patch: failed to create two-way merge patch: unable to find api field in struct HorizontalPodAutoscalerSpec for the json field "behavior""
#### What happened:
Helm upgrade fails with the following error:
`UPGRADE FAILED Error: failed to create patch: failed to create two-way merge patch: unable to find api field in struct HorizontalPodAutoscalerSpec for the json field "behavior"`
#### What you expected to happen:
Expected to have the upgrade uninterrupted, hpa configuration updated with the modified field to a different value. (perio

[2021-09-11 23:15] zt185019 commented on #104935
/sig autoscaling

[2021-09-12 01:02] cloudcafetech commented on #82178
I did generating all certs using below command ... but same error (Seems its looking ca.key file)

```kubeadm init phase certs all --control-plane-endpoint=drk8s.example.com:6443 --apiserver-cert-extra-sans=localhost --v=9```

- Error

[code]

[2021-09-12 01:03] liggitt commented on #104820
I don't have all the strategic merge patch context paged in, but the custom MarshalJSON implementation won't work (see comment at https://github.com/kubernetes/kubernetes/pull/104857/files#r706719139)

[2021-09-12 02:18] liggitt commented on #104888
/assign @saschagrunert

[2021-09-12 02:19] liggitt commented on #104930
What order were the failed resources created in? Can you add --v=6 to see what order the create requests were made in?

[2021-09-12 04:48] pacoxu opened #104938 "UT Failure: TestRestart data race"
### Failure cluster [7914285bf8bd5294763c](https://go.k8s.io/triage#7914285bf8bd5294763c)

##### Error text:
[code]
#### Recent failures:
[2021/9/4 上午2:00:19 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-generate-make-test-count10/1433851876134096896)
[2021/9/3 下午8:00:05 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view

[2021-09-12 06:32] pacoxu commented on #104938
/sig node

[2021-09-12 06:38] TBBle commented on #97783
Coming to this late, but is this test being run _anywhere_? I can see it in [sig-windows/release-master-windows.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml) (with a dedicated job, which means if that also has the "latest tests break" issue from this ticket, it wouldn't reproduce there), but [the dashboard](https://t

[2021-09-12 07:10] oneiro-naut commented on #104888
@saschagrunert The issue seems could be a kubectl issue since the issue can be reproduced with following `kubectl version` as well.
[code]

[2021-09-12 08:12] kouk commented on #101584
Does anyone have a workaround for this?

[2021-09-12 09:11] pacoxu opened #104940 "UT failure: panic: duplicate metrics collector registration attempted"
### Failure cluster [1b410c50dc9c60031af5](https://go.k8s.io/triage#1b410c50dc9c60031af5)
https://storage.googleapis.com/k8s-triage/index.html?text=prometheus

##### Error text:
**TestRecordOperation**
[code]

**TestRecordOperation**
[code]
**TestGetHistogramVecFromGatherer**

[code]

#### Recent failures:
[2021/9/4 上午2:00:19 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/ku

[2021-09-12 09:12] pacoxu commented on #104940
/assign
I will do some initial research on this.

[2021-09-12 10:18] kamikazechaser commented on #104930
https://gist.github.com/kamikazechaser/8b3feaa3660b4775bb93fc920069ccb0

[2021-09-12 11:41] liggitt commented on #104930
I think so

[2021-09-12 14:08] sachinkumarsingh092 commented on #102490
@wilsonehusin the [conformance go-runner](https://github.com/kubernetes/kubernetes/tree/master/cluster/images/conformance/go-runner) seems to be removed/replaced now. I think `test/conformance/image/go-runner` the new location for this. Is `gorunner` built by k/release working fine now, to start making the required changes? Also, are you currently working on this? If not then I'd like to take this

[2021-09-12 14:50] simrangupta234 opened #104941 "[Flaky test] Kubernetes e2e suite.[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should conform to Ingress spec"
#### Which jobs are failing:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1432573009574498304

#### Which test(s) are failing:
[code]
[code]
#### Since when has it been failing:
08/31/2021

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress&exclude-non-failed-tests=

[2021-09-12 15:55] simrangupta234 commented on #104941
/sig testing

[2021-09-12 16:13] dims commented on #104941
cc @aojea

[2021-09-12 18:12] aojea commented on #104941
only 1 failure in last 15 runs and no failure in last 12 is not enough to know if is a infra hiccup, an environment issue, a flake, ...
As a rule of thumb we should open issues if one test fails at least 2 times in 10 executions

[2021-09-12 18:46] PranshuSrivastava commented on #104878
/assign

[2021-09-12 22:01] liggitt commented on #104930
yeah, the namespace has to be created first

[2021-09-12 22:01] #104930 closed

[2021-09-13 00:11] #104941 closed

[2021-09-13 01:38] MatrixManAtYrService commented on #61406
As far as I can tell, this is still an issue.

/remove-lifecycle stale

[2021-09-13 01:59] pacoxu commented on #77603
/remove-lifecycle rotten
/reopen

[2021-09-13 02:17] anguslees commented on #66311
Is there a version of the future where we can have node isolation _and_ kubelet authn using node-generic bearer tokens?

I don't think that's possible?  I think we either need node-specific audiences, or we need to deprecate kubelet authn by tokens entirely (remove `--authentication-token-webhook`).   (Or abandon node isolation as a goal)

[2021-09-13 02:35] EricWvi commented on #104861
/cc

[2021-09-13 03:20] pacoxu commented on #77603
/triage accepted

[2021-09-13 03:32] wzshiming commented on #101097
/reopen

[2021-09-13 04:44] pacoxu commented on #104940
/sig instrument

[2021-09-13 04:45] pacoxu commented on #104940
/sig instrumentation

[2021-09-13 06:16] celiawa opened #104945 "New pod can't start after the volume failed to unmount."
/sig storage

#### What happened:
1. Pod is deleted and volume failed to unmount like [the comment in 53214](https://github.com/kubernetes/kubernetes/issues/54214#issuecomment-341357733), because of node_exporter deployed without mountPropagation (we deployed from rancher.)
2. The new pod is rescheduled to the same node as before.
3. The new pod stucking in "ContainerCreating" with error "Unable t

[2021-09-13 06:28] ishangupta-ds commented on #103043
Hi @dims @MadhavJivrajani

Taking up files:
1 test/conformance/image/go-runner/main.go
1 test/conformance/image/go-runner/tar.go
1 test/conformance/image/go-runner/tar_test.go

from https://cs.k8s.io/?q=%22github.com%2Fpkg%2Ferrors%22&i=nope&files=&excludeFiles=vendor%2F&repos=kubernetes/kubernetes

[2021-09-13 06:29] YuxiJin-tobeyjin commented on #89939
any news ?

[2021-09-13 06:56] mkumatag opened #104947 "Bump github.com/json-iterator/go to v1.1.12"
#### Which jobs are failing:

Kubernetes tests and some of the components using `github.com/json-iterator/go` are failing with golang tip because the [issue](https://github.com/golang/go/issues/48238#issuecomment-917321536) reported and got fixed in the [json-iterator v1.1.12 release](https://github.com/json-iterator/go/releases/tag/v1.1.12)

#### Which test(s) are failing:
Sample test report can

[2021-09-13 06:57] mkumatag commented on #104947
cc @Karthik-K-N

[2021-09-13 06:58] mkumatag commented on #104947
/sig api-machinery

[2021-09-13 06:58] mkumatag commented on #104947
/assign @Karthik-K-N

[2021-09-13 07:45] scravy commented on #48180
I would love to see this as an api-resource, same as there are `roles` and `clusterroles`; something like `env` and `clusterenv`.

[code]

I guess using CRDs and all the afore mentioned tools this could already be done with kubernetes as of now, but a built-in solution that "just works" would arguably the greatest.

[2021-09-13 07:51] Karthik-K-N commented on #104947
Working on required changes

[2021-09-13 07:51] Karthik-K-N commented on #104947
/assign @Karthik-K-N

[2021-09-13 08:11] daniel-hutao opened #104950 "JobSpec.Suspend isn't exists at batch/v1 & batch/v1beta1 ..."
#### What happened:

When I'm coding with a Job Kind, I found the JobSpec has a Suspend field by using command: `kubectl explain job.spec.suspend`, and it show like below:

[code]

So I think the Suspend field should exists with batch/v1-JobSpec, but I don't found it at *k8s.io/api/batch/v1/types.go@v0.20.2*

Then, I checked the batch/v1beta1/types.go, the Type with JobTemplateSpec.Spec is batchv1

[2021-09-13 08:14] ialidzhikov commented on #98035
ping @liggitt

/remove-lifecycle stale

[2021-09-13 08:21] daniel-hutao commented on #104950
/sig apps

[2021-09-13 08:36] dguendisch commented on #100277
Sure, I guess no one is asking to flip the default. The ask is instead to NOT flip anything on kubelet restart but stick to the existing container status as reported/written-down in the resp. pod resource.

[2021-09-13 08:48] lining2020x commented on #104950
By git blame at master branch
[code]
you can see that the `Suspend` field was add in commit `ba708e5fc9ed` .
[code]
It was added in v1.21.0
[code]

[2021-09-13 09:14] daniel-hutao commented on #104950
Thank you very much for the help. I'm using the Kubebuilder 1.19.2(2021-05-27), it's a relatively new version, so it has high cost to update k8s.io/api package. And k8s v1.21 is only used at our dev environment, so considering the compatibility problem, I decided to give up using the JobSpec.Suspend feature.

[2021-09-13 09:14] daniel-hutao commented on #104950
/close

[2021-09-13 09:14] #104950 closed

[2021-09-13 09:31] slaskawi commented on #103923
Hey @tallclair

I'd be more than happy to work on this issue!

I can see the following annotations being used ([link](https://github.com/kubernetes/kubernetes/blob/9ce17c87738937c9ea0aae980e48493c678fcd4f/staging/src/k8s.io/pod-security-admission/api/constants.go#L40-L45)):

[code]

Comparing to the KEP, the missing ones are:

- `pod-security.kubernetes.io/enforce-policy` - The code seems to use a

[2021-09-13 09:51] pacoxu opened #104956 "kubernetes-e2e-gce-stable1-latest-upgrade-master-parallel failed for oidc-discovery-test pod"
#### Which jobs are failing:
kubernetes-e2e-gce-stable1-latest-upgrade-master-parallel

#### Which test(s) are failing:
Many test case failed. I noticed that the oidc-discovery failed for a cert invalid. And after some analysis, I find the Internal IP is not detected properly. `35.227.180.194` is the external IP of `10.138.0.6`.

The error message here is `failed to validate with in-cluster discov

[2021-09-13 10:07] luxas commented on #104661
Absolutely, thanks for volunteering!

Let's chat on the Kubernetes Slack (join at https://slack.k8s.io/ if you're not already there) and if needed, hop on a short video call to get you going with this task? I'm @luxas on the Kubernetes Slack as well, please send me a message when you're there.

[2021-09-13 10:23] calvin0327 commented on #104938
I find the reason for it,  but I don't know the solution is suitable, correct me if not.

[2021-09-13 10:46] hanikesn commented on #69507
/remove-lifecycle stale

[2021-09-13 10:49] dsaydon90 opened #104961 "Job controller not respect backoffLimit in case of node failure"
In my case, I want to run 1 `Job` that runs 1 `Pod`. This `Pod` during his lifecycle **must not** be **recreated** and **not** be **rebooted** because my app can't start from where it stops. In another words, if the `Pod` failed for any reason such as **application** issue or **infrastructure** issue (like node failure), the `Pod` should not be recreated and the `Job` should be marked as **Failed*

[2021-09-13 10:53] dsaydon90 commented on #104961
/sig apps

[2021-09-13 10:59] aojea commented on #100849
ok, this seems to work https://github.com/kubernetes/kubernetes/pull/104844, but it will  be nice to have more feedback
@chenyw1990 would you be able to test https://github.com/kubernetes/kubernetes/pull/104844 and see if this solve your issue?

[2021-09-13 11:42] luxas commented on #104207
/cc @luxas

[2021-09-13 12:08] wojtek-t commented on #104922
I started wondering what would happen if we would remove that completely:
- basically the virtual time of a particular queue can go arbitrarily into past, as long as there is always something in the queue (when at any point in time we empty the queue, the next incoming request will bring it back to "now")
- the queue may accumulate "credit" only if there is no request being currently processed fro

[2021-09-13 12:30] aslafy-z commented on #88709
/remove-lifecycle stale

[2021-09-13 12:31] pacoxu commented on #104961
#98238  fixed something similar in 1.22, could you try 1.22 to confirm it?
I will try later.

[2021-09-13 12:39] danwinship commented on #85572
/remove-help
/remove-good-first-issue
/remove-lifecycle stale

[2021-09-13 12:39] danwinship commented on #85572
/remove-lifecycle rotten

[2021-09-13 12:51] RinkiyaKeDad opened #104964 "[Failing Test][sig-node] node-kubelet-serial-containerd"
#### Which jobs are failing:

node-kubelet-serial-containerd

#### Which test(s) are failing:

kubetest.Node Tests

#### Since when has it been failing:

Sep 11 19:47 UTC+05:30

#### Testgrid link:

https://testgrid.k8s.io/sig-release-master-informing#node-kubelet-serial-containerd

#### Reason for failure:

e2e.go: Node Tests -

[code]

E2eNode Suite: [sig-node] Memory Manager [Serial] [Feature:M

[2021-09-13 13:02] endocrimes commented on #104964
/triage accepted
/priority important-soon
/assign

[2021-09-13 13:53] swatisehgal commented on #104964
/cc @cynepco3hahue

[2021-09-13 14:14] luxas commented on #104090
cc @luxas

[2021-09-13 14:19] liggitt commented on #104888
I misread the issue... it's not that the container isn't running, it's that the status is weird?

what does `kubectl get pod hello-apparmor -o yaml` show?

if the pod data looks correct, then this is an issue with the pod printer. if the pod data looks incorrect, then it's an issue with the node reporting.

either way, I think this is sig-node

/remove-sig auth
/remove-sig security

[2021-09-13 14:21] WarheadsSE commented on #25238
A little more detail:

The Deployment object can/will be edited separately of the HPA. Because the HPA does not have an admission/mutating controller that ensures the the `.spec.replicas` count is overridden with the current value the HPA feels is correct, we see this behavior.

[2021-09-13 14:23] liggitt commented on #104888
it seems possible this is related to pod admission regressions in the kubelet in 1.22 (xref https://github.com/kubernetes/kubernetes/issues/104560)

[2021-09-13 14:24] liggitt commented on #104888
cc @smarterclayton @rphillips

[2021-09-13 14:24] cynepco3hahue commented on #104964
I think it can happen when the environment does not have enough memory to allocate enough hugepages. We are using `n1-standard-2` machines that should have 7.5Gi of memory, so it is unclear who consumes all the memory under the node.

[2021-09-13 14:56] neolit123 commented on #82178
i will give it a try with 1.20 and report back.

[2021-09-13 15:03] neolit123 commented on #104964
duplicate:
https://github.com/kubernetes/kubernetes/issues/104754

it's also a "flaky test" because it passes sometimes.
/close

[2021-09-13 15:04] #104964 closed

[2021-09-13 15:05] neolit123 commented on #25238
/sig autoscaling

[2021-09-13 15:28] neolit123 commented on #82178
i cannot reproduce the problem with the latest 1.20.x:

[code]

maybe you are missing the kubeconfig part?

also move to 1.21 or .22 because 1.20 will be going out of support later this year.

[2021-09-13 16:07] rHermes commented on #41568
Agreed

[2021-09-13 16:33] marosset commented on #97783
All I can find is the definition for a pre-submit job that has not been triggered in a very long time. https://github.com/kubernetes/test-infra/blob/7562f6f1ca5e73357264ad194accf5373404c2b0/config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml#L3

It looks like James disabled the jobs recent

I think it was because the nVidia GRID drivers were not getting installed properly on our Wi

[2021-09-13 17:26] MikeSpreitzer commented on #104922
@wojtek-t : yes, that sounds plausible.  I will give it a try.

[2021-09-13 17:29] tkashem commented on #104922
do we actually need an anti wind-up mechanism here?

from dispatch - https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go#L696
[code]

so if `virtualStart` goes back into past, that queue is more likely to be selected for dispatch, right?

[2021-09-13 17:33] wojtek-t commented on #104922
True, but if there are more requests than we're able to process, then each queue would be accumulating "credit" over time.

[2021-09-13 17:34] wojtek-t commented on #104922
IN other words - I think we need some windup protection, but I have a feeling (no hard proof) that what i proposed above should be enough.

[2021-09-13 18:10] zx8 commented on #90329
/remove-lifecycle stale

[2021-09-13 18:50] yhrunyk commented on #104521
@alculquicondor @ahg-g I enabled v4 logging for the kube-scheduler. Not much more logs, though you might find it useful.

`
   log: I0913 13:13:24.391670       1 eventhandlers.go:173] add event for unscheduled pod example-deploy/example-pod
   log_time: 2021-09-13T13:13:24.391795782+00:00

   log: I0913 13:13:24.391912       1 eventhandlers.go:173] add event for unscheduled pod example-deploy/exam

[2021-09-13 18:52] furkatgofurov7 opened #104974 "Question: Why to vendor runc in k8s"
It is more of a question since I was trying to find out the reason why runc is vendored in k8s.
Can someone share some thoughts about why runc is vendored in k8s in a bit more detail, since I was not able to find any mention of it in the repo(why to vendor, where it is used, what it is used for?). However, as I went through the repo  a bit,  I got to know that Kubelet is trying to use it  from the

[2021-09-13 18:55] furkatgofurov7 commented on #104974
@odinuge @saschagrunert @dims @kolyshkin

[2021-09-13 18:56] mattcary commented on #100331
/assign

This is a duplicate.

[2021-09-13 18:59] mattcary commented on #100331
/close

[2021-09-13 18:59] #100331 closed

[2021-09-13 19:27] manugupt1 opened #104976 "EFS performance degradation eventually leads to nodes being un-responsive"
#### What happened:

We are running EFS mounts on a single node with a rate of 150 pods per 5 minute being scheduled by a
cronjob. When we run these settings, we see two things

1. One performance of the node degrades over time and we see messages like

[code]

2. Even after the pods were terminated, found a lot of dangling volumes on the node:

[code]

These mount did not get unmounted for hours.

[2021-09-13 20:27] #103431 closed

[2021-09-13 20:29] tcervi commented on #98106
Hi @dkatipamula, just out of curiosity did you manage to put kernel.core_pattern changes to work using manual configs or DaemonSet with privileged containers?

[2021-09-13 20:58] cjcullen opened #104980 "CVE-2021-25741: Symlink Exchange Can Allow Host Filesystem Access"
A security issue was discovered in Kubernetes where a user may be able to create a container with subpath volume mounts to access files & directories outside of the volume, including on the host filesystem.

This issue has been rated **High** ([CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:H/A:H](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:H/A:H)), and assigned **CVE-

[2021-09-13 21:02] dprotaso commented on #104329
Cherry picks made:

1.22 https://github.com/kubernetes/kubernetes/pull/104972
1.21 https://github.com/kubernetes/kubernetes/pull/104973
1.20 https://github.com/kubernetes/kubernetes/pull/104975

[2021-09-13 21:03] alculquicondor commented on #104521
Could you confirm if these are logs from all the schedulers running (even the ones that are not leaders)? Just trying to make sure if the three log lines for `add event for unscheduled pod example-deploy/example-pod` are expected.

[2021-09-13 21:34] alculquicondor commented on #104521
Given what @liggitt said in https://github.com/kubernetes/kubernetes/issues/104521#issuecomment-914657017 -- discarding ordering issues in the client code -- another possibility is that we are creating more than one informer factory, one which we use for the lister and the other where we register the events. I'm looking into this, but so far I haven't found any problems.

[2021-09-13 21:35] dsalaza4 commented on #25238
Are there any workarounds for this? In my specific case, we do `kubectl apply` for our HPA and deployment configs MANY times a day and this is causing the cluster to provision/deprovision nodes all day.

[2021-09-13 21:46] dobesv commented on #25238
You have to *remove* the `spec.replicas` from the deployment spec, then `kubectl apply` will stop resetting the replica count after the next deploy.

[2021-09-13 21:51] Israphel commented on #25238
what's the min kubernetes version for that?

[2021-09-13 21:55] dsalaza4 commented on #25238
@dobesv I did some basic testing but it seems like not specifying `replicas` in my `yaml` file simply defaults them to `1` after an `apply`. :thinking:

[2021-09-13 22:13] lavalamp commented on #104842
Judging from the comment it sounds like whoever wrote that believed that the APF controller was interfering with the test (probably by writing back a status). The fix might be to disable that controller for that test.

[2021-09-13 22:43] #103184 closed

[2021-09-13 23:36] renukamanavalan opened #104984 "requiredDuringSchedulingIgnoredDuringExecution evicts pod when node label changes"
#### What happened:
Applied a damonset with affinity/nodeAffinity/requiredDuringSchedulingIgnoredDuringExecution with a node label as required
The pods were created on the node as expected.
**After the pods reached running phase** and I even paused few minutes, I **removed the label from the node.**
**The pod was instantly terminated**

#### What you expected to happen:
Pod continues to run, as th

[2021-09-14 00:20] dobesv commented on #25238
I don't know.

OK, I don't know why.

[2021-09-14 01:01] jayunit100 opened #104987 "Improve docs on running host_processs.go e2e tests...."
@weiwenli97  has some details on issues encountered w/ host-process tests... using this as an issue to track them.

[2021-09-14 01:01] jayunit100 commented on #104987
/sig windows

[2021-09-14 01:29] renukamanavalan commented on #104984
/sig scheduling

[2021-09-14 01:31] renukamanavalan commented on #104984
Reference: [here](https://kubernetes.io/docs/concepts/scheduling-eviction/_print/#node-affinity)

<copy/paste>
_The "IgnoredDuringExecution" part of the names means that, similar to how nodeSelector works, **if labels on a node change at runtime such that the affinity rules on a pod are no longer met, the pod continues to run on the node**. In the future we plan to offer requiredDuringSchedulingRe

[2021-09-14 01:48] mtaufen commented on #104956
The conformance test appears to still be [passing](https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master%20-%20kubetest2&include-filter-by-regex=ServiceAccountIssuerDiscovery), so maybe it's an issue with this specific job?

[2021-09-14 02:04] weiwenli97 commented on #104987
I want to run host_process.go e2e tests.

First, I installed Windows dev environment in my local machine using kubernetes 1.22+.

Then, I followed the guidance to enable --feature-gates=WindowsHostProcessContainers=true for both kubelet and api-server. Also, I updated hcsshim and config.toml.

After that, I created a host-process pod and it worked well.

At last, I wanted to run host-process e2e t

[2021-09-14 02:22] smileusd commented on #99483
@pacoxu @bunniseng Does any update for this? I think it is not only cadvisor not ready in kubelet, because the real space in container also not ready. Maybe need some policies to find whether hugepage has been allocated finished and reflect to kubelet and scheduler.

[2021-09-14 02:57] pacoxu commented on #99483
/cc @bart0sh @cynepco3hahue

[2021-09-14 03:10] TBBle commented on #97783
That disablement shouldn't have affected `pull-kubernetes-e2e-aks-engine-gpu-windows-dockershim` though. The PRs explicitly said "that don't have gpu", and it didn't touch that job, it added a skip to the other jobs:
* `ci-kubernetes-e2e-aks-engine-azure-master-staging-windows`
* `ci-kubernetes-e2e-aks-engine-azure-master-staging-windows-serial-slow`
* `ci-kubernetes-e2e-aks-engine-azure-master-wi

[2021-09-14 03:34] san-coding commented on #104418
Hey, is this issue still open? I would like to work on this, I am new to open source

[2021-09-14 03:34] san-coding commented on #104987
Hey, is this issue still open? I would like to work on this, I am new to open source

[2021-09-14 03:35] san-coding commented on #104980
Hey, is this issue still open? I would like to work on this, I am new to open source

[2021-09-14 03:37] chymy commented on #74551
I have a similar problem in kubelet logs:
[code]

[code]

Is there any solution?

[2021-09-14 03:41] RainbowMango commented on #103942
@mcbenjemaa are you still working on this? How is it going and do you need help?

[2021-09-14 03:56] liggitt commented on #98035
we can keep it open until then

[2021-09-14 04:04] cloudcafetech commented on #82178
Thanks.

Will update you shortly.

[2021-09-14 05:45] yxxhero commented on #104629
@konstantin-tkachuk Do you have any ideas to  reproduce this issue? Thanks very much.

[2021-09-14 05:48] wzshiming commented on #103500
@anyyyy
Have a way to reproduce it ?

[2021-09-14 05:50] wzshiming commented on #103500
/reopen
/remove-kind support
/kind bug

[2021-09-14 05:51] wzshiming commented on #103500
/sig cli

[2021-09-14 06:01] simrangupta234 opened #104993 "[Failing test] Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: windows-gcepd] [Testpattern: Dynamic PV (ntfs)][Feature:Windows] subPath should support existing directories when readOnly specified in the volumeSource"
#### Which jobs are failing:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-20h2-containerd-1-22/1436843438946390016

#### Which test(s) are failing:
Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: windows-gcepd] [Testpattern: Dynamic PV (ntfs)][Feature:Windows] subPath should support existing directories when readOnly specified in the volumeSource

#

[2021-09-14 06:02] simrangupta234 commented on #104993
/sig testing

[2021-09-14 06:05] MadhavJivrajani opened #104994 "Cleanup admission/eventratelimit to use clock.RealClock"
#### What happened:
While working on https://github.com/kubernetes/kubernetes/pull/104578, I realized that https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/eventratelimit/clock.go implements another `realClock` rather than using the one already implemented in https://github.com/kubernetes/apimachinery/tree/master/pkg/util/clock.

I'm not sure why this was re-implemented, b

[2021-09-14 06:05] MadhavJivrajani commented on #104994
/remove-kind bug
/kind cleanup
/sig auth

[2021-09-14 06:07] MadhavJivrajani commented on #104994
/cc @MikeSpreitzer fyi

[2021-09-14 06:07] MadhavJivrajani commented on #104994
/assign

[2021-09-14 06:12] kmala commented on #88543
The issue is fixed by https://github.com/kubernetes/kubernetes/pull/102344 .

[2021-09-14 06:12] #88543 closed

[2021-09-14 06:31] voigt commented on #102676
Hi @odinuge, @liggitt, @dims, @kolyshkin
Bug-Triage here 👋!

I noticed that this ticket is still labeled for 1.22 and as a release-blocker. As 1.22 is already released I'm moving it to v1.23.

Furthermore, I'd like to reconsider whether this bug is an actual release blocker for 1.23 or whether we can remove that label as well...?

/milestone v1.23

[2021-09-14 06:33] pacoxu commented on #104984
/sig apps
The logic to delete daemonset pod is in kube-controller-manager.

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemon_controller.go#L943-L1054

It seems that **`IgnoredDuringExecution`** interpretation is not matched with the logic for DaemonSet.

[2021-09-14 06:34] pacoxu commented on #104980
/triage accepted
/lifecycle frozen
/area security
/kind bug
/committee security-response

[2021-09-14 06:36] pacoxu commented on #104980
/committee product-security

[2021-09-14 06:41] pacoxu commented on #104974
There are already some discussions in #104325.
Would you discuss this in that thread?

[2021-09-14 06:46] pacoxu commented on #104993
/sig storage

[2021-09-14 07:25] cynepco3hahue commented on #99483
@smileusd IIUC correctly we just mount hugepages under the relevant container, so the container already should start with configured hugepages under it.
Also, some reproduce steps are not clear for me
[code]
What do you mean by `start kubelet with enable hugepage`?
`echo xxxx > /proc/sys/vm/nr_hugepages`, once you updated a number of hugepages under the node, you should restart the kubelet, it is

[2021-09-14 07:40] Kartik494 commented on #104945
Hi @celiawa  i have tried this in my environment by using [reference](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/) , i found that pvc is bound to the firstly created pod only and only option  left is to delete pv and pvc and then create again for mount

[2021-09-14 07:52] george-angel commented on #66430
/remove-lifecycle stale

[2021-09-14 08:09] yhrunyk commented on #104521
@alculquicondor Yes, those logs come from all of the kube-scheduler replicas, we have 3 of them.

[2021-09-14 08:09] odinuge commented on #102676
This was fixed by #104530, so it should be ok to close it. It has had some time to soak now, and things look ok. Sorry for the confusion.

/close

[2021-09-14 08:09] #102676 closed

[2021-09-14 09:10] qalinn commented on #83360
Any update on this ticket?

[2021-09-14 09:33] sanchayanghosh commented on #104471
/assign

[2021-09-14 09:51] leberknecht commented on #60140
Dont know if it helps, but we have a similar problem here, my colleague runs into the EOF, im not. He is running `kubectl ` on a mac, im on linux, wondering if that could be related?

[2021-09-14 09:58] celiawa commented on #104945
Hi @Kartik494,  we found if CRI is docker, the problem can't be reproduced, but if containerd, the problem is there.

[2021-09-14 09:59] wangshiyang opened #104999 "kubectl multiple-clusters config error"
What happened:
When I use `kubectl config` to set up my cluster, I get the error message: `unknown flag: --client-certificate-data`.

How to reproduce it (as minimally and precisely as possible):
like this commad:
`kubectl config --kubeconfig=mycluster-config2 set-credentials clusteruser2 --client-certificate-data=BASE64DATA --client-key-data=BASE64DATA`
Anything else we need to know?:
I use the o

[2021-09-14 10:17] hardy4yooz opened #105000 "Failed to extract certificate from certificatesigningrequest"
#### What happened:
Follow the documentation [create-private-key](https://v1-21.docs.kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#create-private-key), certificate not generated as expected.

![image](https://user-images.githubusercontent.com/4044094/133239465-9172ec39-5fdf-4ebe-aac8-3388a00116e1.png)
Nothing returned.
![image](https://user-images.githubusercontent.

[2021-09-14 10:34] RinkiyaKeDad commented on #104754
@neolit123 would we still consider this as flaky? It has been failing continuously since Sep 11 19:47 UTC+05:30. Only passed once for commit `dcfe8f5d5` since then.

[2021-09-14 10:37] pacoxu commented on #104999
/sig cli
You may misunderstand the [docs](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/).

The key with the suffix `-data` can be used in kubeconfig file. It is not supported as `kubectl config set-cluster ` flags.

[2021-09-14 10:38] leonardpahlke commented on #104754
The tests have been successfully run once today. Test grid: [link](https://testgrid.k8s.io/sig-release-master-informing#node-kubelet-serial-containerd), Successful test: [link](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-containerd/1437421504995266560)

[2021-09-14 10:40] wangshiyang commented on #104999
Then what should i do？

[2021-09-14 10:50] Kartik494 commented on #104945
@celiawa i have checked with docker as a CRI , i will test with  containerd and revert the same to you, Thanks for the information

[2021-09-14 10:51] pacoxu commented on #104999
I am not sure if there is other approaches.

You may just save the base64 to file and use the command `kubectl config set-cluster`.

Or edit the kubeconfig like.
[code]

/cc @eddiezane
Can this be a feature request? 😄

[2021-09-14 10:56] chance2021 commented on #90345
Make sure there is **no proxy** setup in your environment. If so, add `no_proxy=<KubeAPI IP Address>` in the command, like...
[code]

[2021-09-14 10:59] pacoxu commented on #105000
/sig auth

I cannot reproduce it in my CentOS 8 with steps in https://v1-21.docs.kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#create-private-key.

Would you check the  csr/myuser details ?
`kubectl get csr myuser  -o yaml`

Is the status of csr/myuser missing?

[2021-09-14 11:04] Shubham82 commented on #43916
Hi  folks,
I have set explicitly limit (which should automatically set the request to same value), but still the problem persists . Anything I'm missing here. please let me know if anything more needs to be done.

[2021-09-14 11:13] hardy4yooz commented on #105000
![image](https://user-images.githubusercontent.com/4044094/133247588-153da977-6034-458d-b1d7-c724a61a2cfb.png)

[2021-09-14 11:18] hardy4yooz commented on #105000
status details are as follows,

[code]
It seens ok with old apiVerson `apiVersion: certificates.k8s.io/v1beta1`

[2021-09-14 11:18] matthyx commented on #60140
@leberknecht could you ask your colleague to try with this macOS build?
https://www.swisstransfer.com/d/9462837d-5def-4ce9-9055-7a1015550cac

[2021-09-14 11:28] slaskawi commented on #104893
@neolit123 It's `test/integration/controlplane/audit_test.go` but I believe the API Machinery SIG works there as well.

[2021-09-14 11:29] cynepco3hahue commented on #99437
I think we can close it now, the orphans job is looking green now.
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans

[2021-09-14 11:30] cynepco3hahue commented on #99437
Feel free to re-open if you will encounter issues with the reported test under a different job.

[2021-09-14 11:31] cynepco3hahue commented on #99437
/close

[2021-09-14 11:32] #99437 closed

[2021-09-14 13:41] YanzhaoLi commented on #103046
Hi @danielfoehrKn , I hit oomkilling before kubelet kick pod eviction. But I didn't set `kube-reserved` but only set `system-reserved`.  So I wonder only set `system-reserved` but not `kube-reseverd` can really cause this issue? What if I didn't set these two valure, can this issue be avoid?

[2021-09-14 13:51] danielfoehrKn commented on #103046
@YanzhaoLi the memory limit on the top-level pods cgroup (default:kubepods) is calculated as Capacity - kube-reserved - system-reserved - eviction hard.
So if `kube-reserved` is 0, make sure your `system-reserved` is high enough.

You want to keep the  memory limit on kubepods + any other memory consumption outside of kubepods (e.g in system.slice) below Capacity of the node or you risk a global O

[2021-09-14 13:52] leberknecht commented on #60140
@matthyx can you point me to a github branch instead? Using an unauthored binary is not an option :/

[2021-09-14 14:01] sanchayanghosh commented on #104868
/assign

[2021-09-14 14:07] dgrisonnet commented on #102056
/cc @jan--f

[2021-09-14 14:13] GounGG commented on #71139
use 3.31 of etcd, this problem still exists.

kubernetes: 1.16.3
scheduler log:
[code]

[2021-09-14 14:16] YanzhaoLi commented on #103046
@danielfoehrKn  Thanks very much for the details. Make sense.

[2021-09-14 14:22] matthyx commented on #60140
Please check this comment https://github.com/kubernetes/kubernetes/issues/60140#issuecomment-913444120

[2021-09-14 14:26] MikeSpreitzer commented on #104994
Better yet, use the one in https://github.com/kubernetes/utils/blob/master/clock/clock.go

[2021-09-14 14:41] #97807 closed

[2021-09-14 14:43] TomatoAres opened #105007 "kubeadm upgrade can't work with customize pause image"
#### What happened:

When I upgrade my k8s cluster `1.20.4->1.21.4` with customized configuration to ensure pause image doesn't upgrade,

[code]

but upgrade step is failed in preflight:

`[preflight] Some fatal errors occurred: [ERROR ImagePull]: failed to pull image registry.tke.com/library/pause:3.4.1:`

I found this error occurs in this link`preflight->CheckClusterHealth->CheckClusterHealth->c

[2021-09-14 15:39] marosset commented on #104418
@san-coding
We cannot de-serialize the existing metrics job due to its nature.
We can however create new test cases that do not need to be run in parallel and do deeper validation of metrics like Jay suggested above.
I'm not sure if @FriedrichWilken is still working on the issue. If not feel free to work on this.

Thanks!

[2021-09-14 15:42] marosset commented on #104987
@weiwenli97 you need to pass in --feature-gates=WindowsHostProcessContainers=true to the e2e.test binary too like we do here https://github.com/kubernetes/test-infra/blob/2b1842bf54cad06e7733bf7e82aba9b74daf2e89/config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml#L733

@ mention me for faster responses in the future :)

[2021-09-14 15:47] FriedrichWilken commented on #104418
/unassign

[2021-09-14 16:01] marosset commented on #104418
/retitle Add non-serialized metrics tests for Windows

[2021-09-14 16:11] #102822 closed

[2021-09-14 16:20] neolit123 commented on #105007
if you wish to conform kubeadm you can upload your custom image to your private registry and create a tag / alias for the version that kubeadm needs.

in your example kubeadm needs `3.4.1` you can upload your `3.2` and alias the tag to be `3.4.1`.

IMPORTANT: kubeadm currently does not support custom pause images. in the long term the pause image will no longer be known in the kubelet and kubeadm

[2021-09-14 16:20] #105007 closed

[2021-09-14 16:21] neolit123 commented on #105007
/area kubeadm

[2021-09-14 16:21] neolit123 commented on #105007
/sig cluster-lifecycle

[2021-09-14 16:23] ravisantoshgudimetla commented on #98499
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1437494476271521792

Another failure ^

[2021-09-14 16:23] neolit123 commented on #104974
+1 discussions should happen in a single place.

also #code-organization on k8s slack is the channel to discuss vendor topics.

/close
/kind support

[2021-09-14 16:24] #104974 closed

[2021-09-14 16:41] jayunit100 commented on #104987
oh ! `--node-os-distro=windows` @weiwenli97  :) should fix it !

[2021-09-14 17:07] marosset commented on #104987
Yup, we check to make sure node-os-distro is windows and the feature is enabled.

https://github.com/kubernetes/kubernetes/blob/86c64375305d5f18a1372e36f5a50041bf3ccd48/test/e2e/windows/host_process.go#L37-L40

[2021-09-14 17:08] Riaankl commented on #95129
/remove-lifecycle stale

[2021-09-14 17:18] smarterclayton opened #105014 "Eviction and soft admission failures should stop pod probes"
The only places pod probes are being managed are HandlePodAdd/HandlePodRemove, but there are other lifecycle changes that cause probes to need to stop (evict, soft admission failures, static pod restart).  The podManager calls should be moved inside sync*Pod and be made reentrant - syncPod should guarantee probes have started, syncTerminatingPod and syncTerminatedPod should guarantee they are stop

[2021-09-14 17:19] alculquicondor commented on #104521
I was right: We had 2 informers in 1.19. We fixed that in 1.20 via #93044
Let me see if I can cherry pick.

[2021-09-14 17:39] MadhavJivrajani commented on #104994
/sig api-machinery

[2021-09-14 17:43] Huang-Wei commented on #104521
That sounds promising. Thanks for digging into the problem!

BTW: it'd be great if @yhrunyk can confirm the problem is gone in 1.20.

[2021-09-14 17:45] alculquicondor commented on #104521
FYI, we are a bit tight on the deadline for 1.19 patch releases. I'm asking sig-release if we can squeeze this cherry-pick.

[2021-09-14 18:11] renukamanavalan commented on #104984
Thanks Paco for the update.

[2021-09-14 18:38] renukamanavalan opened #105017 "OnDelete for Daemonset: terminates running pod w/o waiting for pod to exit"
#### What happened:
Kubernetes version: client: 1.21.1 server 1.21.4

I deploy a ds (_pasted below_) with updateStrategy as "OnDelete".
I apply this ds and it started pods in two nodes as expected, say node-a & node-b
Later I added an anti-affinity as hostname notIn [ node-b ]
Applied the updated ds

This **immediately terminated the pod** running **on node-b**

ds:
[code]
#### What you expected t

[2021-09-14 18:39] renukamanavalan commented on #105017
/sig scheduling

[2021-09-14 19:10] ehashman opened #105019 "[KEP-2400] Add the ability to set a system-reserved quantity of swap on a node"
#### What would you like to be added:

Add the ability to set a system-reserved quantity of swap on a node.

- KubeletConfiguration/kubelet CLI flag changes to specify quantity
- Code updates
- e2e tests

This should be a single PR.

#### Why is this needed:

See https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2400-node-swap#beta

[2021-09-14 19:14] ehashman opened #105020 "[KEP-2400] Add support for controlling swap consumption at the pod level via cgroups"
#### What would you like to be added:

Add support for controlling swap consumption at the pod level via cgroups.

- Code changes (currently this is only supported per-container)
  - Ensure we handle usage of swap during container restart boundaries for writes to tmpfs (which may require pod cgroup change beyond what container runtime will do at container cgroup boundary).
- e2e tests that exercis

[2021-09-14 19:15] ehashman opened #105021 "[KEP-2400] Add swap memory to the Kubelet stats API"
#### What would you like to be added:

Add swap memory to the Kubelet stats API so that we have metrics on swap utilization.

- Code changes
- Add e2e coverage

#### Why is this needed:

See https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2400-node-swap#beta

[2021-09-14 19:17] ehashman opened #105022 "[KEP-2400] Determine a set of metrics for measuring node performance with swap enabled"
#### What would you like to be added:

Determine a set of metrics for node QoS in order to evaluate the performance of nodes with and without swap enabled. We want to also better understand relationship of swap with memory QoS in cgroup v2 (particularly `memory.high` usage).

This issue does not require any code changes. We welcome outside feedback and test results.

#### Why is this needed:

See

[2021-09-14 19:19] ehashman opened #105023 "[KEP-2400] Verify MemoryPressure behaviour with swap enabled"
#### What would you like to be added:

Verify MemoryPressure behaviour with swap enabled and document any changes for configuring eviction.

- New e2e tests (start with manual verification and then develop this into automated e2es)
- Documentation updates, as needed

#### Why is this needed:

See https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2400-node-swap#beta

[2021-09-14 19:20] sharathbabupulumati opened #105024 "Telnet on nodeip and nodeport is failing"
Hi Team,

I have a scenario where I need to expose my application outside to the cluster which is a top based service. So fir that I choose nodeport as my option.

Where,  I have deployed 3 nodeport services with different port numbers  consecutively for exposing multiple endpoints.

But, I see that only few of the exposed ports are succeeded using telnet.
For ex. I have deployed a 3 node port ser

[2021-09-14 19:21] ehashman opened #105025 "[KEP-2400] Add e2e tests that exercise all available swap configurations"
#### What would you like to be added:

We need e2e coverage and validation of behaviour for the following scenarios:

- cgroupsv1 + LimitedSwap
- cgroupsv1 + UnlimitedSwap
- cgroupsv2 + LimitedSwap
- cgroupsv2 + UnlimitedSwap

We also need to ensure that the container runtimes in test-infra are bumped to the right versions so that the swap memory parameters are correctly passed through.

#### Why

[2021-09-14 19:22] ehashman commented on #105019
/sig node
/triage accepted
/priority important-soon

[2021-09-14 19:22] ehashman commented on #105019
/kind api-change

[2021-09-14 19:23] ehashman commented on #105020
/sig node
/triage accepted
/priority important-soon

[2021-09-14 19:24] ehashman commented on #105021
/sig node instrumentation
/triage accepted
/priority important-soon
/cc @bobbypage @dashpole

[2021-09-14 19:25] sharathbabupulumati commented on #105024
/sig network

[2021-09-14 19:25] ehashman commented on #105022
/sig node
/triage accepted
/priority important-soon
/area monitoring reliability
/help

[2021-09-14 19:25] ehashman commented on #105023
/sig node
/triage accepted
/priority important-soon
/area test

[2021-09-14 19:25] ehashman commented on #105025
/sig node
/triage accepted
/priority important-soon
/area test

[2021-09-14 20:24] fedebongio commented on #104842
/triage accepted

[2021-09-14 20:25] fedebongio commented on #104893
/triage accepted

[2021-09-14 20:25] fedebongio commented on #104922
/triage accepted

[2021-09-14 20:26] fedebongio commented on #104947
/remove-sig api-machinery
/cc @liggitt

[2021-09-14 20:27] fedebongio commented on #104994
/assign @logicalhan
/triage accepted

[2021-09-14 20:59] eddiezane commented on #104999
You could achieve this with:

[code]

[2021-09-14 21:07] rphillips commented on #104648
@liggitt we have a PR pending review https://github.com/kubernetes/kubernetes/pull/104847

[2021-09-14 21:08] eddiezane commented on #104999
This can be done but it's a bit messy. Not sure we'd want to add a flag for it though.

[code]

[2021-09-14 21:20] aojea commented on #105024
/kind support

[2021-09-14 21:35] ehashman commented on #69831
/remove-triage accepted

[2021-09-14 21:35] ehashman commented on #86984
/remove-triage accepted

This still needs a reproducer

[2021-09-14 21:36] ehashman commented on #105014
/sig node

[2021-09-14 21:37] ehashman commented on #104862
/sig testing
/cc @dims

[2021-09-14 21:41] ehashman commented on #104533
This is a duplicate of the linked issue https://github.com/kubernetes/kubernetes/issues/43916

Closing.

/close

[2021-09-14 21:41] #104533 closed

[2021-09-14 21:58] fischor commented on #102808
@liggitt Please have a look at #105027

[2021-09-14 21:58] mattysweeps opened #105028 "Flaky Conformance Test in K8s v1.21: should complete a service status lifecycle"
#### Which jobs are flaking: Kubernetes Conformance Tests

#### Which test(s) are flaking: `should complete a service status lifecycle`
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L2517

#### Testgrid link:
Seeing flakes on this downstream on release 1.21

#### Reason for failure:
Object modifications to the service cause the patch to fail.
[code]

#### Anythin

[2021-09-14 22:06] fischor commented on #102808
For reference: https://developers.google.com/protocol-buffers/docs/reference/go-generated#package

[2021-09-14 22:10] ehashman opened #105029 "Improve unit tests for Kubelet configuration APIs"
There are two main issues right now with the test coverage for the Kubelet configuration APIs (internal type defined by [pkg/kubelet/apis/config/types.go](https://github.com/kubernetes/kubernetes/blob/fa2657b8b2f839b88834579917abda1a816a1970/pkg/kubelet/apis/config/types.go) and serializable type at [staging/src/k8s.io/kubelet/config/v1beta1/types.go](https://github.com/kubernetes/kubernetes/blob/

[2021-09-14 22:10] ehashman commented on #105029
/triage accepted

[2021-09-14 22:15] liggitt commented on #105028
Patch calls are _supposed_ to be retried internally by the API server if the object was modified concurrently... they aren't expected to return conflict errors, so the e2e test seems like it would be correct.

_However_, the REST implementation for Service specifically overrode normal Update behavior and looks like it would prevent that from working properly prior to https://github.com/kubernetes/

[2021-09-14 22:16] liggitt commented on #105028
/sig network

[2021-09-14 22:33] manugupt1 commented on #103754
Hi @jsafrane

QQ: Why do need we need an `extensiveMountPointCheck` for subPath volumess?
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/subpath/subpath_linux.go#L297

FYI: I am investigating this at https://github.com/kubernetes/kubernetes/issues/104976

[2021-09-14 23:08] wongma7 commented on #104976
@manugupt1 can you include an example cronjob (can snip out private stuff) to show the # of subpaths and volumes given we think the subpath /proc/mounts consistent read errors are a factor? thx.

[2021-09-14 23:09] wongma7 commented on #103754
re: why extensive check must be done for subpaths, it must be because for bind mounts the stat method used by IsLikelyNotMountPoint does not work so for subpath volumes it makes sense we are forced to do the extensive check else we may remove data on host instead of the mount point...ref: https://github.com/kubernetes/kubernetes/issues/72347

@manugupt1 and I found moby's implementation which trie

[2021-09-14 23:37] shuheiktgw commented on #105029
Hi @ehashman, I'm new to kubernetes/kubernetes repository but I'd like to work on this issue as my first one if I may!
/assign @shuheiktgw

[2021-09-14 23:45] #101146 closed

[2021-09-15 00:43] weiwenli97 commented on #104987
Thank all of you very much! @marosset @jayunit100
I pass --feature-gates=WindowsHostProcessContainers=true when running e2e.test. And the test could be triggered.
I just build the e2e.test using --feature-gates=WindowsHostProcessContainers=true and it doesn't work.

[2021-09-15 01:20] rajakshay commented on #100420
Hi,
I am seeing the same behavior. The HPA status.condition is reporting incorrect status for type `ScalingLimited` with `TooFewReplicas`.

Details:
* Deployed `metrics-server` version `v0.5.0` from the latest release https://github.com/kubernetes-sigs/metrics-server/releases/download/metrics-server-helm-chart-3.5.0/components.yaml

* Running metrics-server with log level verbosity `--v=10`. No er

[2021-09-15 01:47] #100258 closed

[2021-09-15 02:07] wangshiyang commented on #104999
Thanks, this method solved my problem.

[2021-09-15 02:07] #104999 closed

[2021-09-15 02:10] mengjiao-liu commented on #105021
I want to work on it.
/assign

I see that the names and types of metrics have not been determined in the [KEP documentation](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2400-node-swap). Should we determine them before implementation? @ehashman

[2021-09-15 02:43] cloudcafetech commented on #82178
@neolit123

I am doing as follows just adding --control-plane-endpoint=drk8s.example.com:6443 along with your set of commands

[code]

Till now its OK, generating cerificate & kubeconfig.

But when run below command

```kubeadm init --control-plane-endpoint drk8s.example.com:6443 --pod-network-cidr=10.244.0.0/16 --upload-certs --v=9 | tee kubeadm-output.txt```

- Getting below error

[code]

- LB

[2021-09-15 04:03] chenyw1990 commented on #100849
Hi aojea, I have test #104844 on v1.21.1
before merge #104844, there are 6 connections to kube-apiserver from kubelet
![image](https://user-images.githubusercontent.com/1468240/133368542-39edd3b3-798b-44c5-bcf1-8a2674f8aee2.png)

after merge  #104844, there is only 1 connection to kube-apiserver from kubelet
![image](https://user-images.githubusercontent.com/1468240/133368600-3d586687-500b-4521-b8

[2021-09-15 05:55] pacoxu commented on #105029
#96675 is a problem with the default value of a flag/configuration. If we have the default_test.go, it should not happen then.

[2021-09-15 06:00] sanarvaez commented on #79224
I would also be interested in this  feature. Reopen it.

[2021-09-15 06:26] pacoxu commented on #105019
I will work on it if my other tasks are not urgent. (I would like to be a backup.)

[2021-09-15 06:50] kolomenkin commented on #101584
Unfortunately the best way is not to use Kubernetes outside of pet projects.
From my experience in 2021 Kubernetes is still not a production-ready solution.
It is full of obvious bugs in design and implementation. No one should use it for production ever.

Examples:
- the current issue. We can treat cronjobs as production not-ready for many years because this problem can affect any project at any

[2021-09-15 06:56] pacoxu commented on #105024
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ is a nice doc for debugging services.

[2021-09-15 07:08] SergeyKanzhelev commented on #104938
/triage accepted
/assign @calvin0327

[2021-09-15 07:52] pacoxu commented on #105017
/sig apps
this is similar to #104984?

[2021-09-15 08:35] PierreAdrienDelisle commented on #53459
+1

[2021-09-15 08:36] neolit123 commented on #82178
You need to figure out why the api server is not starting or responding on
healthz.
On Sep 15, 2021 05:43, "Cloud Cafe" ***@***.***> wrote:

[2021-09-15 08:40] #102582 closed

[2021-09-15 09:22] cloudcafetech commented on #82178
@neolit123

Not able to :(

If I use l 3rd command ```kubeadm init phase kubeconfig all``` without LB (drk8s.example.com) then there was no issue, API server coming up with local end point.

[code]

But if I use ... then error coming ...

[code]

[2021-09-15 10:15] joca-bt commented on #83094
We also need this. It's flexible enough to cover lots of use cases.

[2021-09-15 12:13] kiddingl commented on #76146
I got the same errors with binary  in my cluster

[2021-09-15 12:24] fusida opened #105039 "[e2e-test] fail for ingress-nginx-controller validating webhook"
#### What happened:
k8s version: 1.20
ingress-nginx: installed

when we run e2e-test and k8s-conformance, something wrong was happened, because it create ingress three times in the same "host + path":
test/e2e/network/ingress.go  line: 1020
[code]
it cause:
[code]
log info :
[code]

#### What you expected to happen:
run e2e-test without error
#### How to reproduce it (as minimally and precisely as

[2021-09-15 12:57] dromaniuk commented on #53459
+1

[2021-09-15 12:57] #96514 closed

[2021-09-15 13:02] vilmosnagy commented on #60140
@matthyx your kubectl build solved the issue in my case.

[2021-09-15 13:26] pacoxu commented on #105039
/sig network
link to a PR discussion in #100449

[2021-09-15 13:40] Debanitrkl commented on #104878
Started this https://hackmd.io/@XzECIhDGRqCtGVrLiJFzxQ/rkyZS_JQF for the documentation, will be updating here

[2021-09-15 13:49] hichamuntitled opened #105041 "Pods cannot mount any volume"
Hello,

I've just deployed a new kubernetes cluster on openstack.
pods without volume are running perfectly. But when I create a pod that uses a volume, it stuck in ContainerCreating status.

When I describe the pod, I see :

[code]
In openstack console I can see the the volume is properly created and it's mounted to /dev/sdc.

Did I miss something ?

pvc.yaml

[code]

pod.yaml

[code]

storageCla

[2021-09-15 13:51] pacoxu commented on #105041
/sig storage

[2021-09-15 13:55] Michael-M-Zhang commented on #92463
Same issue on my centos system.
sudo yum update
Repository extras is listed more than once in the configuration
Last metadata expiration check: 2:48:25 ago on Wed 15 Sep 2021 07:04:01 PM CST.
Error:
 Problem: cannot install both kubelet-1.18.4-0.x86_64 and kubelet-1.22.1-0.x86_64
  - cannot install the best update candidate for package kubernetes-cni-0.8.7-0.x86_64
  - cannot install the best upda

[2021-09-15 14:17] alculquicondor commented on #102136
/unassign @gaorong
as they seem inactive

I can take it over
/assign

[2021-09-15 14:19] jleni commented on #69697
/reopen

[2021-09-15 14:20] serathius commented on #102439
I see two issues that need to be addressed:
* Fix handling of `Errorf` in klog code, this should be done by creating an issue to klog
* Fix remaining errors, @umangachapagain  can you prepare a list of those errors and ask for help on #wg-structured-logging Slack channel?

[2021-09-15 14:25] eddiezane commented on #104138
This is happening because we don't have a specific describer for CRD's. It currently uses the [genericDescriber](https://github.com/kubernetes/kubernetes/blob/73d51a21dbe7504a00423877e272a279a21a115f/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L278). That array is being printed [here](https://github.com/kubernetes/kubernetes/blob/73d51a21dbe7504a00423877e272a279a21a115f/staging/src/k8s.io/

[2021-09-15 14:32] eddiezane commented on #104138
@harjas27 would you like to take a look at this one since you were just in the describers?

[2021-09-15 14:33] Kartik494 commented on #105041
Hi @hichamuntitled Could you check that the volume is not binding to a pod which you created on cluster previously, i also got problem related to that i.e if i once created a pod on a worker node and bind the volume to that pod and after deleting the pod if i created a new one , then i got the similar error of volumeAttachment , Make sure you have not done this , and if so please check the pod by

[2021-09-15 15:24] hichamuntitled commented on #105041
Hi @Kartik494
I've already checked that, both the pod and the pvc are newly created. and there is no attachment at all

[code]

[2021-09-15 15:30] rubber-ant opened #105043 "'kubectl diff' ability to show what is going to be removed"
#### What would you like to be added:

when I run this command:
`kubectl diff -f  template.yaml`

I can see the difference between the file _template.yaml_ and the current online configuration  ONLY of what is going to add or change but not remove.

Is it possible to also show in the difference what is going to be removed from the current configuration?

#### Why is this needed:

It will give a fu

[2021-09-15 15:37] howardjohn commented on #104138
Newline or `-`, no big preference really. Both SGTM, whatever is more consistent I suppose

[2021-09-15 16:00] apelisse commented on #105043
`kubectl diff` shows you what apply would do. Apply usually doesn't remove resources, unless you use prune, is that what you're referring too? While I think that makes sense, I think `kubectl apply --prune` is mostly non-recommended so I don't know if we would invest time in this.

[2021-09-15 16:01] mrueg commented on #88547
@liggitt as the project was upgraded to go-1.14+ is that still something that needs to be done?

[2021-09-15 16:04] Kartik494 commented on #105041
Thanks for the information, i will test this in my environment and will let you know if i found something on this

[2021-09-15 16:25] ahg-g commented on #104521
so I looked at that before, but couldn't find places where the InformerFactory pod informer is used. The separately created pod informer was used to setup the events and lookup the pod where the error was triggered.

[2021-09-15 16:32] SergeyKanzhelev commented on #104878
@Debanitrkl if you want to take an individual item like https://github.com/kubernetes/website/issues/25879 - it is very straightforward to write. Issue points to a similar document, need to explain how to drain node, stop kubelet, change config, start kubelet back. Only missing step comparing to the linked document is how to change configuration.

[2021-09-15 16:43] ciarancoffey commented on #60140
@matthyx works for me also
[code]

[2021-09-15 16:43] alculquicondor commented on #104521
This is the PR that introduced the lister check, and you can see that it used the shared informer factory lister https://github.com/kubernetes/kubernetes/commit/133a02540fce435996a1104357e123b9f5b29093#diff-53cc60f8818dce859b9222be5c8dc93d511fbc942cc17a0e85c10f260d74ca72R201

[2021-09-15 16:43] Debanitrkl commented on #104878
Okay alright, will begin with that issue

[2021-09-15 17:04] Huang-Wei commented on #104521
Here is a summary on the underlying problem across releases:

- in k8s versions <= 1.19, scheduler maintains two podInformers - one is from the sharedInformerFactory the other is created independently (code of v1.19.14 below). This is problematic.
    https://github.com/kubernetes/kubernetes/blob/0fd2b5afdfe3134d6e1531365fdb37dd11f54d1c/cmd/kube-scheduler/app/options/options.go#L288-L289
- in theo

[2021-09-15 17:10] manugupt1 commented on #104976
I did a bit of digging in because

[code]

and found that the /proc/mounts is being changed. My theory is that when a lot of times the pods are scheduled /proc/mounts keep on changing and we keep on getting consistent read errors.

Deployment steps can be found at:
https://github.com/kubernetes/kubernetes/files/7156864/deployments.zip

[2021-09-15 17:11] ahg-g commented on #104521
ah, I missed this https://github.com/kubernetes/kubernetes/blob/0fd2b5afdfe3134d6e1531365fdb37dd11f54d1c/pkg/scheduler/factory.go#L202

in theory, the fix to 1.19 could have been to only change the line above to use the independent pod informer.

[2021-09-15 17:11] karezza commented on #95968
Recommend this one be revisited.

[2021-09-15 17:16] karezza opened #105044 "Recommend revisit of previously reported issue which was never assigned 95968: Pod status.containerStatuses[].imageId depends on container runtime"
https://github.com/kubernetes/kubernetes/issues/95968

The imageID value is inconsistent gaining 'docker-pullable' if using docker, but not if using containerd, though as the reporter says, it adds 'docker-pullable' related to a test that containerd is also performing and which one would expect to also result in a similar value being prepended.  (see original ticket)

This inconsistency caused an

[2021-09-15 17:17] PranshuSrivastava commented on #104878
I will also be adding to this file.

[2021-09-15 17:18] SergeyKanzhelev commented on #104556
/triage accepted
/assign @mmiranda96

[2021-09-15 17:22] ehashman commented on #104556
/cc

[2021-09-15 17:26] SergeyKanzhelev commented on #105014
/triage accepted
/assign @ehashman

[2021-09-15 17:27] SergeyKanzhelev commented on #104824
/triage accepted

[2021-09-15 17:28] SergeyKanzhelev commented on #104789
/remove-sig node

removing for now letting sig windows to triage

[2021-09-15 17:29] SergeyKanzhelev commented on #104789
Also dockershim removal is planned for 1.24, just FYI

[2021-09-15 17:31] SergeyKanzhelev commented on #104815
/cc @fromanirh

[2021-09-15 17:31] ehashman commented on #104815
This bug doesn't seem to have enough details to reproduce or further investigate. You must include logs from the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Once more details are provided, the bug will be accepted.

/triage needs-information
/cc @fromanirh

[2021-09-15 17:31] ehashman commented on #104815
(note: none of the attached logs say anything about an interrupted system call)

[2021-09-15 17:33] SergeyKanzhelev commented on #104861
/triage accepted
/remove-sig node

This issue seems to be worked on. Looks like sig network issue

[2021-09-15 17:35] SergeyKanzhelev commented on #104888
/triage accepted
/priority important-soon

[2021-09-15 17:48] ehashman commented on #104424
As is, this is expected behaviour. Daemonset pods aren't evicted on normal node drain. Eventually the daemonset controller will update that pod's status given that the kubelet is no longer checking in.

Graceful shutdowns might help with this; that feature is currently in beta: https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/

The feature is on by default but you will need to con

[2021-09-15 17:48] ehashman commented on #104424
/close

Feel free to reopen if the above does not help.

[2021-09-15 17:49] #104424 closed

[2021-09-15 17:50] SergeyKanzhelev commented on #104581
/triage needs-information

If no repro on latest versions available, we will close the bug.

[2021-09-15 17:51] ehashman commented on #104445
/remove-sig node
/sig instrumentation
/assign @serathius

[2021-09-15 17:53] SergeyKanzhelev commented on #104471
Is there any reason to run `docker restart 6bbb31604cd8` to restart container? It is not supported and may lead to reconciliation issues

/close

[2021-09-15 17:54] #104471 closed

[2021-09-15 17:54] SergeyKanzhelev commented on #104531
/triage accepted
/cc @bobbypage

[2021-09-15 17:55] SergeyKanzhelev commented on #104516
/remove-kind bug
/kind feature

[2021-09-15 17:56] SergeyKanzhelev commented on #104639
/remove-sig cluster-lifecycle
/triage accepted

[2021-09-15 17:58] SergeyKanzhelev commented on #104629
/triage needs-information

let's wait for repro

[2021-09-15 17:59] SergeyKanzhelev commented on #104629
/cc @ehashman

it may have been fixed in 1.22 with all the refactoring

[2021-09-15 18:01] alculquicondor commented on #104521
Yeah, I considered that, but it's also theoretically more risky, as we don't have soak time for such change. See https://github.com/kubernetes/kubernetes/pull/105015#issuecomment-919574618 for context.

[2021-09-15 18:02] #104521 closed

[2021-09-15 18:04] ahg-g commented on #104521
it would be good if the OP can verify the fix and report back.

[2021-09-15 18:07] serathius commented on #104445
I think the issue is about Summary API having start time for node metric, but this timestamp is incorrect.
/sig node
/remove-sig instrumentation
/unassign

[2021-09-15 18:10] serathius commented on #104445
When discussing adding node start time metric to /metrics/resource endpoint I remember that SIG Node response to this was that there is no good way to define node start time. I don't think we will be able to provide correct value here.

As summary API is technically deprecated, it makes no sense to fix it. We should warn users against using it and wait for removal of Summary API.

[2021-09-15 18:37] ehashman commented on #104556
Node has a general practice of trying to have a corresponding presubmit job for every periodic job. This ensures that we can invoke the periodic job on PRs as needed. Hence, I don't think we should remove the presubmit without removing the periodic.

There are a few possible paths forward:

1. The presubmit job might be broken, as it looks like the periodic is green. We could try to fix the presub

[2021-09-15 18:44] karezza commented on #105044
I had a misunderstanding.  I thought docker support had been removed so when I installed my cluster recently I thought it would select containerd by default, this was not the case.  Switched over to containerd, and given that docker is no longer supported am closing this case.

[2021-09-15 18:45] karezza commented on #105044
I had a misunderstanding. I thought docker support had been removed so when I installed my cluster recently I thought it would select containerd by default, this was not the case. Switched over to containerd, and given that docker is no longer supported am closing this case.

[2021-09-15 18:45] #105044 closed

[2021-09-15 18:47] ehashman opened #105047 "Remove DynamicKubeletConfig from node tests"
/kind cleanup
/sig node
/area test

Deprecation issue: https://github.com/kubernetes/enhancements/issues/281

Currently, our e2e tests have a dependency on the deprecated DynamicKubeletConfiguration feature. At minimum, we use the feature to set the KubeletConfiguration, and we check metrics from it (e.g. https://github.com/kubernetes/kubernetes/issues/104041).

We've also seen that the use of thi

[2021-09-15 18:48] ehashman commented on #105047
/triage accepted
discussed in 2021-09-15 SIG Node CI meeting: https://docs.google.com/document/d/1fb-ugvgdSVIkkuJ388_nhp2pBTy_4HEVg5848Xy7n5U/edit#heading=h.o9f87erxdnxm

[2021-09-15 20:28] andrewsykim commented on #104869
/assign @wongma7

[2021-09-15 20:28] andrewsykim commented on #104869
/triage accepted

[2021-09-15 20:30] andrewsykim commented on #104131
/assign @jpbetz

[2021-09-15 20:30] andrewsykim commented on #104869
/needs-triage

[2021-09-15 20:31] andrewsykim commented on #104869
/triage needed

[2021-09-15 20:31] andrewsykim commented on #104869
/label needs-triage

[2021-09-15 20:32] bowei commented on #104131
Joe -- do you need any help investigating this?

[2021-09-15 20:48] SergeyKanzhelev opened #105053 "Spike in runtime memory consumption on http://perf-dash.k8s.io/"
#### What happened:

Looking at memory dashboard - surprised to see this clear spike:

![image](https://user-images.githubusercontent.com/9950081/133507155-384d3e2d-b37a-4f0b-b20f-57371ff81ba8.png)

http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-master&metriccategoryname=E2E&metricname=LoadResources&PodName=e2e-big-minion-group%2Fruntime&Resource=memory

#### What you expected to happen:

No memo

[2021-09-15 21:12] rubber-ant commented on #105043
@apelisse

yes something like `prune`

For example, when using `kubectl diff` with a new flag  `--overwrite=true`

`kubectl diff -f  file.yaml --overwrite=true` will act as it will overwrite the full configuration from the file to the current config
so I can see if the actual file configuration is really the same as the current config or if something is missing.

[2021-09-15 21:34] liggitt commented on #88547
yes, these manually maintained maps should be swapped to the stdlib impls:

[code]

[2021-09-15 21:51] rubber-ant commented on #105043
the improvement I'm talking about is also mentioned at end of this page   https://kubernetes.io/blog/2019/01/14/apiserver-dry-run-and-kubectl-diff/

![image](https://user-images.githubusercontent.com/2983049/133514614-d7d92413-5478-4061-a1f5-aec1f77e74f3.png)

[2021-09-15 22:11] apelisse commented on #105043
Yeah, I don't know if I disagree. I'd be happy to guide you if you want to work on this.

cc @seans

[2021-09-15 22:39] eddiezane commented on #104138
Actually @soltysh would like to see this be achieved by https://github.com/kubernetes/enhancements/issues/515 instead.

[2021-09-15 22:59] dims commented on #83094
it's been more than an a month
/unassign AjithPanneerselvam

[2021-09-15 23:18] geotransformer opened #105059 "kubeadm join failed when kubelet configured with --register-node=false"
#### What happened:
kubeadm join failed when kubelet configured with --register-node

#### What you expected to happen:
it should join the node to the cluster

#### How to reproduce it (as minimally and precisely as possible):
1. have a cluster running
2. boot up another node and install kubeadm, kubelet and kubectl
3. Prepare the kubeadm-config.yaml. Config the kubelet with --register-node=false

[2021-09-16 00:18] amitkatyal commented on #104424
@ehashman I understand that daemon sets pods will not be removed but is it expected for headless service exposing the daemonset pods to return the IP address of POD which is not reachable? BTW, if the daemon set is exposed via the normal service, then it doesn't return the IP of the daemon set POD which is not reachable so was wondering if the same needs to be addressed for the headless service as

[2021-09-16 00:49] yangjunmyfm192085 commented on #104445
Okay, let's wait for the release of metrics-server v0.6.0

[2021-09-16 02:25] verycici opened #105061 "the "^M" appears in the output."
What happened:

When Use kubectl -n namespace exec -it pod -- bash -c "command" > test.txt . the "^M" appears in the output.

For example:

$ kubectl -nkube-system exec -it kube-proxy-4pkq9 -- sh -c "ls -al /" > 1.txt
$ cat -t 1.txt
total 68^M
drwxr-xr-x   1 root root 4096 Sep  7 11:18 .^M
drwxr-xr-x   1 root root 4096 Sep  7 11:18 ..^M
-rwxr-xr-x   1 root root    0 Sep  7 11:18 .dockerenv^M
lrwxr

[2021-09-16 03:22] #104980 closed

[2021-09-16 03:23] pacoxu commented on #105043
/sig cli api-machinery

[2021-09-16 03:35] pacoxu commented on #105059
/area kubeadm
/sig cluster-lifecycle node

[2021-09-16 05:05] #94519 closed

[2021-09-16 05:13] pacoxu commented on #105061
/sig cli

[2021-09-16 05:20] MarcMielke commented on #97445
very related read(s):

- https://engineering.indeedblog.com/blog/2019/12/unthrottled-fixing-cpu-limits-in-the-cloud/
- https://engineering.indeedblog.com/blog/2019/12/cpu-throttling-regression-fix/

[2021-09-16 05:57] yxxhero commented on #105021
@mengjiao-liu May I  be a backup? Thansk very much. wo can work together for this KEP.
/assign

[2021-09-16 06:04] fusida commented on #105039
it think it should run by unique "host + path", not just unique name

[2021-09-16 06:16] mengjiao-liu commented on #105021
Of course, very happy to work with you.

[2021-09-16 06:18] pacoxu commented on #20508
`--record` started to be deprecated in 1.22 since #102873.
We may close this one. Discussions in #40422.

[2021-09-16 06:27] fusida commented on #105039
I think it's not a good idea to remove ingree-nginx validating webhook or remove e2e-test/ingress.go code in line 1020.
just run test repeat by unique "host + path", not just unique name.

[2021-09-16 06:29] bharath-b-hpe opened #105063 "k8s control plane components support insecure cipher suites"
#### What happened:
Nessus tool scan reports insecure cipher suites is supported by the kube-apiserver, kube-controller-manager and kube-scheduler components.

#### What you expected to happen:
Should not have any vulnerabilities reported in nessus tool scan.

#### How to reproduce it (as minimally and precisely as possible):
- kubernetes cluster is installed and is in operational state
- Setup an

[2021-09-16 06:38] bharath-b-hpe commented on #105063
/sig security
/wg data-protection
/wg security-audit
/committee security-response

[2021-09-16 06:43] bharath-b-hpe commented on #105063
/area security
/sig security
/sig api-machinery
/wg security-audit
/committee product-security

[2021-09-16 06:44] knight42 commented on #88547
/assign

[2021-09-16 06:45] knight42 commented on #105063
This issue might be related to https://github.com/kubernetes/kubernetes/issues/88547

[2021-09-16 07:06] pacoxu commented on #105059
I think this is expected. If `--register-node=false`, the node will not register to the cluster(However, kubeadm join/init will check the node status.)

[code]

[2021-09-16 07:42] danbrad commented on #104584
I am seeing this with Windows Server 2019 nodes on AKS with 1.21.

One out of 3 nodes succeeds after a few restarts, but the other two are stuck in a never-ending crash loop.

[2021-09-16 08:06] bharathi-subramanian commented on #104980
Is it different from CVE-2017-1002101 https://github.com/kubernetes/kubernetes/issues/60813

[2021-09-16 08:07] yhrunyk commented on #104521
@ahg-g I will provide feedback as soon as we deploy it to our cluster.

[2021-09-16 08:08] #101229 closed

[2021-09-16 08:41] vaibhav2107 commented on #102836
/remove-lifecycle stale

[2021-09-16 09:00] Shubham82 commented on #104073
Fixed it here: #105067

[2021-09-16 09:30] RyanAoh commented on #105061
Is the file `1.txt` created by a windows-based text editor？
It seems that this is because the windows-based text editors will have a special carriage return character (CR+LF) at the end of lines to denote a line return or newline, which will be displayed incorrectly in Linux (^M).

[2021-09-16 09:36] slaskawi commented on #103923
My previous comment was totally wrong. Please disregard it. I looked at a wrong piece and messed up labels with audit annotations.

Here's a more accurate version:

* `pod-security.kubernetes.io/enforce-policy` - seems to be missing.
* `pod-security.kubernetes.io/audit-violations` - replaced by `pod-security.kubernetes.io/audit` ([link](https://github.com/kubernetes/kubernetes/blob/32783f75684e0e5

[2021-09-16 09:49] konstantin-tkachuk commented on #104629
Sadly, I have no new information about how to intentionally reproduce this issue. I am open to ideas.

I have a single Pod that is in the above described state right now, but I am just ignoring it, because the regular containers are working as they should.

[2021-09-16 09:57] tavolodobela commented on #104815
Unfortunately I don't have any more logs other than the linked kubelet and containerd logs from pastebin. What else could I give you?

[2021-09-16 10:10] chibbert commented on #60140
Thanks @matthyx  - I've been doing some testing with your kubectl binary with the resume fix, and it is working well for me.

I'm running kubectl in a WSL2 session, talking to a GKE cluster.

Prior to testing your binary, I was getting times when the copy would fail more often that not. The transfer was only around 60Megabytes.

Using your binary I got this output when repeatedly trying the copy:

[2021-09-16 10:22] matthyx commented on #60140
Thanks a lot for all the testing... I will work on my PR to make it mergeable and add an option to set the number of retries like wget:
[code]

[2021-09-16 11:07] jsafrane commented on #104976
Looking at your deployments, that's lot of mounts for a single pod. If your theory about inconsistent read is true, you should hit the same issues when using any other CSI driver or even in-tree one. It should not be EFS specific. Can you re-test without EFS?

[2021-09-16 11:34] neolit123 commented on #105059
--register-node=false is unsupported by kubeadm. kubeadm relies on the kubelet to create and manage the node object and i don't think we want to support manual creation of node objects.

Also from my experiments in the past, feeding a custom node object gets accepted and updated by the kubelet but the node never becomes ready.

You can play with workarounds but i do not think there is much we can

[2021-09-16 11:35] neolit123 commented on #105059
/remove-kind bug
/kind feature

[2021-09-16 11:49] luisyonaldo opened #105068 "kubectl config set-credentials add`interactive-mode` and `provide-cluster-info` options"
#### What would you like to be added:
Add `--exec-interactive-mode` and  `--exec-provide-cluster-info` to `kubectl config set-crendtials` command.

Example:
[code]

#### Why is this needed:
`interactiveMode` is a required field in`client.authentication.k8s.io/v1` API version , which means it is not possible to set the minimum set of fields/options needed to [configure](https://kubernetes.io/docs/r

[2021-09-16 11:50] luisyonaldo commented on #105068
Let me know if this is desired and I can work on PR to add the mentioned functionality.

[2021-09-16 11:57] luisyonaldo commented on #105068
/sig CLI

[2021-09-16 13:18] alculquicondor commented on #104521
The fix is now in 1.19.15 :)

[2021-09-16 13:26] lllamnyp commented on #93019
/remove-lifecycle-rotten
@JarnoRFB does this solve your problem?
https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html

[2021-09-16 13:55] sunchill06 opened #105072 "topologySpreadConstraint doesn't work fine when only one worker node is eligible for workload"
#### What happened:
Created a deployment with topologySpreadConstraint with topology key kubernetes.io/hostname, with the following config
topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            foo: bar

Created deployment with 2 replicas and both the pods landed on

[2021-09-16 14:08] hectoralicea commented on #100695
Does anyone know which version of kubernetes was the version that introduced this bug?

[2021-09-16 14:46] champtar commented on #104980
I'm curious, was the fix for CVE-2017-1002101 incomplete ? (#60813 / https://kubernetes.io/blog/2018/04/04/fixing-subpath-volume-vulnerability/)

[2021-09-16 15:05] neolit123 commented on #105063
related to https://github.com/kubernetes/kubernetes/issues/91444

[2021-09-16 15:11] neolit123 commented on #105053
/sig scalability

[2021-09-16 15:17] neolit123 commented on #105053
the graph doesn't have zoom, so it is a bit difficult to click on the points and find which was the first run that had the higher mem usage.

[2021-09-16 15:36] leonardpahlke opened #105073 "[Failing test][sig-scheduling][sig-network] ci-kubernetes-gce-conformance-latest-kubetest2"
#### Which jobs are failing:
Conformance - GCE- master - kubetest2

#### Which test(s) are failing:
* Kubernetes e2e suite: BeforeSuite
* kubetest2: Test

#### Since when has it been failing:
`15.09.2021 04:05 PDT`

#### Testgrid link:
[TestGrid link](https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master%20-%20kubetest2)
[Failed Job link (one of them)](https://prow

[2021-09-16 15:48] sabattle commented on #74741
We're currently running k8s 1.19 and we're running into this issue. Is there a known solution for 1.19.x users?

[2021-09-16 15:49] pohly commented on #86984
The plan indeed is to deprecate `--log-file-max-size` and `--log-file`, see https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components

[2021-09-16 16:46] ardaguclu commented on #105043
@rubber-ant Are you planning to work on this?

[2021-09-16 17:12] jmprovencher opened #105074 "[Feature Request] Rollout-Restart permission"
#### What would you like to be added:

I know this might not be the perfect place for feature request, but I'm not sure I would have been able to submit that in the enhancement repository.

Currently, the `kubectl rollout restart deployment` command requires `edit deployment` using the RBAC Authorization model defined [here](https://kubernetes.io/docs/reference/access-authn-authz/rbac/). This appr

[2021-09-16 17:24] jmprovencher commented on #105074
/sig auth

[2021-09-16 17:25] #104947 closed

[2021-09-16 17:37] neolit123 commented on #105072
/sig scheduling

[2021-09-16 18:17] skaven81 commented on #104980
Are there any notes regarding how to exploit this vulnerability, or is that embargoed until a fix is available?

[2021-09-16 18:35] #104707 closed

[2021-09-16 18:35] #104648 closed

[2021-09-16 18:56] manugupt1 commented on #104976
Hi @jsafrane

That is a good point. I was able to test it with scratch volumes are emptyDir.
[cronjob_scratch.txt](https://github.com/kubernetes/kubernetes/files/7180132/cronjob_scratch.txt)

Here is a diff showing two different pods affecting mount points

[code]

I noticed that frequency is much lower in this scenario though.
[code]

 This above results are on 3 attempts here: https://github.com

[2021-09-16 18:59] alculquicondor commented on #102136
I'm not going to backport this, but I will support a cherry pick if anybody needs it. 1.20 would be the oldest that can be fixed.

[2021-09-16 18:59] alculquicondor commented on #102136
cc @damemi

[2021-09-16 19:07] SergeyKanzhelev commented on #105053
clicking on dots on the border of a spike returns this jobs:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1435930293679689728/

Happened around 09/09/2021.

[2021-09-16 19:23] neolit123 commented on #105053
the commit for that run is c964fe60013
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1435930293679689728/clone-log.txt

[2021-09-16 19:43] #104073 closed

[2021-09-16 20:02] alculquicondor commented on #95989
This was actually solved. See https://kubernetes.io/blog/2021/08/06/server-side-apply-ga/#server-side-apply-support-in-client-go for reference.

[2021-09-16 20:05] alculquicondor commented on #95989
And as part of the godoc: https://pkg.go.dev/k8s.io/client-go@v0.22.1/applyconfigurations

[2021-09-16 20:14] caesarxuchao commented on #88547
/triage accepted

Thanks, @knight42

[2021-09-16 20:15] caesarxuchao commented on #105043
/triage accepted

[2021-09-16 20:16] thockin commented on #105024
+1 to @pacoxu - @sharathbabupulumati please take a look at that and let us know if something seems like it's a bug.

[2021-09-16 20:16] #105024 closed

[2021-09-16 20:16] caesarxuchao commented on #105063
cc @liggitt
/triage accepted
/sig auth

[2021-09-16 20:20] aojea commented on #105073
@amwat @cheftako I didn't dig much into this failures, but 3/3 failures I saw are because the konnectivity agent fails to be scheduled due to cpu constraints, is it the environment or the konnectivity agent? or both?
[code]

[2021-09-16 20:21] aojea commented on #105073
/remove sig-network

[2021-09-16 20:22] thockin commented on #104838
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ might also help

[2021-09-16 20:22] #104838 closed

[2021-09-16 20:30] thockin commented on #104766
ping @caseydavenport

[2021-09-16 20:33] bridgetkromhout commented on #105073
/remove-sig network

[2021-09-16 20:35] thockin commented on #104724
I'm going to close this - if you feel there's more information to provide, please reopen

[2021-09-16 20:36] #104724 closed

[2021-09-16 20:36] thockin commented on #104643
I'm going to close this - if you feel there's more information to provide, please reopen

[2021-09-16 20:36] #104643 closed

[2021-09-16 20:39] thockin commented on #104618
@eliecer2323 I  think there was some confusion.  when @RyanAoh asked about finalizers, they meant "on the server" not "in your own YAML".  That field is almost certainly being set by a controller, which is preventing your service from being deleted.

If you `kubectl get` that Service, you should see the `metadata.finalizers` field and that will tell you who is the culprit.

[2021-09-16 20:39] #104618 closed

[2021-09-16 20:42] thockin commented on #104480
@artb1sh - can you please write a little (or a lot) more about a concrete example and how you think it SHOULD work?  There are all sorts of sidecars, and some of them would just not make any sense in the model you're suggesting.  So I suspect you have something more concrete in mind.  Please share?

[2021-09-16 20:42] #104388 closed

[2021-09-16 20:58] kevindelgado opened #105082 "Add Apply methods to the dynamic client"
#### What would you like to be added:
Add `Apply` and `ApplyStatus` methods to the dynamic client [ResourceInterface](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/dynamic/interface.go#L33)

and an implementation in [client-go/dynamic/simple.go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/dynamic/simple.go)  that calls the P

[2021-09-16 20:58] kevindelgado commented on #105082
/assign

[2021-09-16 20:58] kevindelgado commented on #105082
/sig api-machinery

[2021-09-16 21:07] aojea commented on #105028
/cc

[2021-09-16 21:16] rikatz commented on #105039
So per previous comment on the PR, it seems that the test is trying to run with Validation Webhook enabled.

As this is up to each ingress implementation to implement or not a validation webhook, we can not surely say "Validation Webhook" should be part of the k8s e2e test, as for what e2e test does is create 3 entries on the API and check if the 3 were created.

IMO running that e2e tests on an e

[2021-09-16 21:48] rubber-ant commented on #105043
@ardaguclu nop, just reported.

[2021-09-16 22:08] thockin commented on #105028
So has this been flaking forever or did something change?

[2021-09-16 22:16] thockin commented on #105028
Where is it flaking?  I am not seeing it

[2021-09-16 22:27] mmiranda96 commented on #104556
I've created https://github.com/kubernetes/test-infra/issues/23642 to keep track of the jobs you mention. If we move forward with the merge plan, I think it would make sense to:
1. Clean the target jobs.
2. Update the target jobs to match these features.
3. Drop the current jobs.

Let me know your thoughts.

[2021-09-16 23:46] amwat commented on #105073
I'm not sure if the environment changed recently.
looking at the commit range when it started to fail

https://github.com/kubernetes/kubernetes/compare/4c014e5ca...1c1d2e4ed
https://github.com/kubernetes/kubernetes/pull/102592 seems suspect

cc @pacoxu @cheftako

[2021-09-17 00:19] #104544 closed

[2021-09-17 02:04] aimuz commented on #100236
@pacoxu https://github.com/kubernetes/kubernetes/pull/100847#issuecomment-918984189

@dashpole
It is indeed the best practice to change to a standard way, but the impact involved is very large.

[2021-09-17 02:34] yuzhiquan commented on #105047
Can ci ignore `[Feature:DynamicKubeletConfig]` test failing for now, just make some pr which not relevant to these can merge first.

[2021-09-17 02:57] pacoxu commented on #105073
let me check.
#102592 is to add toleration for `konnectivity-agent`. So it may be scheduled to a node with `NoExcute` taint node.

The master node is with NoSchedule taint.
[code]
Should we remove the toleration for NoSchedule?

[2021-09-17 03:04] pacoxu commented on #105073
#102592 is to fix #102582 which is just asked for NoExecute toleration.
I follow up kube-proxy and node-local-dns DaemonSet toleration settings and add both NoExecute and NoSchedule.

I opened #105084 to remove the NoSchedule toleration.

[2021-09-17 05:53] #105073 closed

[2021-09-17 06:19] davesuketu215 commented on #60140
@matthyx: Could you please share the PR number or a notification whenever this change is merged? Eagerly waiting for this change.
Also, do share if this change will reflect when we re-download or upgrade kubernetes environment in our systems.

[2021-09-17 06:52] kerthcet commented on #105047
if you want to skip the test, `/skip ***` may help.

[2021-09-17 06:59] matthyx commented on #60140
@davesuketu215 here it is: https://github.com/kubernetes/kubernetes/pull/104792
This only affects the cli client and doesn't require any node or api-server change... which means as soon as you can download an official binary build (not sure if we have nightly ones) it will work in your environment if you use the new `kubectl`.

[2021-09-17 08:03] Jayaram059 commented on #43867
any further thoughts to rename the namespace ?

[2021-09-17 09:02] michael-db opened #105092 "/api/..../service/proxy broken for service not backed by pod"
We have a service with an endpoint that is not for a pod but a process that (for technical reasons not relevant to this report) needs to run outside Kubernetes.
That service works fine, except we also want to be able to access it via the proxy api path.
When we do that, we get the unhelpful error message "no endpoints available for service <service>".
In our case, this error is false: there is an

[2021-09-17 09:07] cmssczy commented on #105043
I try to run command `kubectl diff -f file` and found that It could display what is going to be removed. Did I misunderstand?

[code]
[code]

[2021-09-17 09:15] pacoxu commented on #105019
/assign

[2021-09-17 09:46] CKchen0726 opened #105094 "Overflow when podInfo.Attempts and p.podMaxBackoffDuration are large enough"
#### What happened:
There is a overflow  risk when podInfo.Attempts and p.podMaxBackoffDuration are large enough, such as `podInfo.Attempts == 64` and `p.podMaxBackoffDuration = math.MaxInt` in a 64-bit system, you will get a `duration` equal to -9223372036854775808, absolutely, such the duration is not correct.
[code]
[code]
#### What you expected to happen:
`duration` is a positive number that l

[2021-09-17 09:48] CKchen0726 commented on #105094
/sig scheduling

[2021-09-17 09:48] CKchen0726 commented on #105094
/assign

[2021-09-17 09:54] rubber-ant commented on #105043
@cmssczy,
get your full configuration YAML and delete a deployment or sts and then try it.
or
extreme but easy way  to test
try to pass an empty YAML file, it should show up all to delete with the `-` symbol but it doesn't.

[2021-09-17 09:56] tungdam commented on #27000
+1

[2021-09-17 10:04] illusion202 opened #105096 "informer factory start caused error: stream error when reading response body, may be caused by closed connection"
#### What happened:
When I start numbers of informer factories to list and watch serval k8s clusters pods（about 100+ clusters）**at the same time**，I probability got the following error log：

I0818 15:21:45.785777  277770 trace.go:205] Trace[316394150]: "Reflector ListAndWatch" name:k8s.io/client-go/informers/factory.go:135 (18-Aug-2021 15:20:41.181) (total time: 64603ms):
Trace[316394150]: [1m4.60

[2021-09-17 10:09] illusion202 commented on #105096
/sig

[2021-09-17 10:44] illusion202 commented on #105096
sig/api-machinery

[2021-09-17 10:44] illusion202 commented on #105096
/sig api-machinery

[2021-09-17 10:59] dimakow commented on #105020
/assign

[2021-09-17 11:10] Karthik-K-N opened #105097 "Few of the kubernetes tests are failing due to build failures"
#### Which jobs are failing:

Following kubernetes tests are failing
make test WHAT=k8s.io/kubernetes/vendor/k8s.io/csi-translation-lib/plugins
make test WHAT=k8s.io/kubernetes/pkg/controller/job

#### Which test(s) are failing:

Sample failure error trace

[code]

Full Test report can be found [here](https://prow.ppc64le-cloud.org/view/gs/ppc64le-kubernetes/logs/periodic-kubernetes-containerd-con

[2021-09-17 11:14] mkumatag commented on #105097
This we have started seeing with tip golang(1.18) version

[2021-09-17 11:16] mkumatag commented on #105097
/sig storage
/sig apps

[2021-09-17 11:53] neolit123 commented on #105092
/sig network

[2021-09-17 13:13] cmssczy commented on #105043
@rubber-ant got what you said.
But why `kubectl diff -f busybox.yaml` could get what we expected?

[2021-09-17 13:19] kishoreakshat opened #105099 "HPA autoscaling/v2beta2 not honoring behavior"
#### What happened:

While using autoscaling/v2beta2 api, if we specify an HPA spec as follows:

[code]
Initially, I had kept the CPU request for my application pod to '1m'. Due to this, CPUUtilization shot up to 100% which triggered a scale up for my deployment 'podinfo'.

The scaling behavior observed was as follows:

[code]

I then modified my deployment to have 200m CPU requests which reduced

[2021-09-17 13:47] eliecer2323 commented on #104618
thanks for your support @thockin, this is the entire description of the service, specifically the finalizer says `service.k8s.aws/resources`

[code]

[2021-09-17 14:35] #104994 closed

[2021-09-17 14:42] serathius commented on #99270
KEP to deprecate klog specific flags was accepted. Work will be tracked in https://github.com/kubernetes/enhancements/issues/2845

[2021-09-17 14:42] #99270 closed

[2021-09-17 14:43] jyz0309 commented on #103214
/assign
I will try it.

[2021-09-17 14:44] serathius commented on #102434
Any progress on this?

[2021-09-17 14:52] serathius opened #105101 "Fix incorrectly migrated structured logs"
#### What happened:

When working on enabling static analysis for structured logs on whole codebase https://github.com/kubernetes/kubernetes/issues/102439 we have noticed that there are multiple places that were incorrectly migrated. https://github.com/kubernetes/kubernetes/pull/103293#issuecomment-885028839
Before we enable static analysis we need to fix those places.

#### What you expected to h

[2021-09-17 14:53] serathius commented on #105101
/triage accepted

[2021-09-17 14:56] vibhorrawat commented on #105101
Hi @serathius can this be treated as good first issue? I'm interested to contribute. Let me know your thoughts.

[2021-09-17 14:58] shivanshu1333 commented on #105101
/assign

[2021-09-17 15:04] serathius commented on #105101
@vibhorrawat Thanks for your interest, looks like it was already taken. This issue is pretty simple to implement, but it's done in larger context of Structured Logging migration, so similar issues are usually done by members of [Structured Logging Working Group](https://github.com/kubernetes/community/tree/master/wg-structured-logging). If you are interested in this topic please reach out to as vi

[2021-09-17 15:04] serathius commented on #99265
cc @pohly

[2021-09-17 15:07] pacoxu commented on #105073
The CI is green now.

[2021-09-17 15:09] vibhorrawat commented on #105101
@serathius Thank you for your response. I'm a member for the wg over slack and did attended couple of meetings. I will keep an eye for such issues and looking forward to contribute. Thank you

[2021-09-17 16:10] lauchokyip commented on #83094
Will work on this incorporate with @rahulchheda PR https://github.com/kubernetes/kubernetes/pull/92277.
I am new to `kubectl wait` and JSON handling so need some definitely time to come out with a PR. Please give me some time :)

/assign

[2021-09-17 16:59] marosset opened #105102 "Investigate if DefaultMemoryThrottlingFactor should be set differently for Windows"
https://github.com/kubernetes/kubernetes/blob/6a84310f8bc99aadb8019976c34a704d8d1f9b73/pkg/kubelet/apis/config/v1beta1/defaults.go#L41 sets DefaultMemoryThrottlingFactor to 0.8.
We should investigate if this value should be set different for windows.

/sig windows
/area kubelet

[2021-09-17 17:32] jtslear commented on #25238
I am attempting to address recommendations and the behaviors others have reported via a documentation update here: https://github.com/kubernetes/website/pull/29739

For those that have chimed in, I thank you very much for your time.  Please feel free to help me improve our documentation as you see fit to help others that have run into this same situation.

[2021-09-17 18:26] liggitt opened #105104 "openapi schema indicates incorrect return types for delete and deletecollection operations"
1. Many (most?) types do not specify ReturnDeletedObject in their storage configuration
2. For those types, the generated schema specifies `v1.Status` as the return type for deleting a single item and collection of items
3. The actual behavior of deleting a single item :
   * Deleting a job with `propagationPolicy=Orphan`, `propagationPolicy=Foreground`, or  no `propagationPolicy` (which defaults

[2021-09-17 18:26] liggitt commented on #105104
/sig api-machinery
/kind bug
/triage accepted

[2021-09-17 18:40] caleb15 commented on #100483
After this I'll be able to associate a OOM with the pod where it happened, right? If so that would be fantastic! With the current OOM description I have no idea how to correlate a process ID the culprit pod. Normally I'd just look at memory usage or restart count, but brief memory spikes might not be logged and due to https://github.com/kubernetes/kubernetes/issues/50632 the pod might not be resta

[2021-09-17 19:12] mertyildiran opened #105105 "Query string is not forwarded in case of WebSocket connections in `UpgradeAwareHandler`"
#### What happened:

For an `UpgradeAwareHandler` handler created by this line:

https://github.com/kubernetes/kubectl/blob/d11f42ab701cb66eec24aa24b3f19939d6409e32/pkg/proxy/proxy_server.go#L214

query string is not forwarded to the upstream if it's a WebSocket connection.

It's disappearing somewhere in this function:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apima

[2021-09-17 19:15] BenTheElder commented on #102976
this is still true and still unneeded log noise
/remove-lifecycle stale

maybe architecture instead since these are generated API docs AFAICT
/sig architecture

[2021-09-17 20:24] mgutierrez98 commented on #95052
Is this issue still open? If so I would like to work on it.

[2021-09-17 20:26] #101291 closed

[2021-09-17 20:30] jhughes2112 commented on #60987
I can attest that it's still a problem in kubernetes 1.22.  I have the AWS CSI plugin for EBS volumes and a statefulset that is failing to terminate.  I can `kubectl delete --force pod X` but this does not stop the logs from throwing every couple of seconds:
[code]

This was a troublesome pod that I was having a hard time getting the container to run, and at some point (perhaps after I explicitly

[2021-09-17 20:34] mgutierrez98 commented on #96717
Hello is anyone currently working on this?

[2021-09-17 21:11] khenidak commented on #105092
/assign @khenidak

@michael-db i do believe this has been closed for security purposes. a malicious user can use api-server to jump to endpoint bypassing firewall rules.

[2021-09-17 21:12] khenidak commented on #105092
/triage needs-information

[2021-09-17 21:16] khenidak commented on #104861
thanks for this. I think we should keep the issue open. The fix should have zero code change (assuming we don't change the deprecated dockershim and kubenet). But we need to track it.

/assign @khenidak

[2021-09-17 21:18] pmanno commented on #101743
Any luck replicating the issue?

[2021-09-17 21:19] khenidak commented on #104491
/assign @khenidak

I honestly never seen anybody uses IP (IPv4 or IPv6) instead of host name. I also wonder if container runtime will treat `<IP>/<name>` different from `<host-name>/<name>` and try to re-pull it. IOW maybe we shouldn't fix this.

[2021-09-17 21:21] khenidak commented on #104394
This https://github.com/kubernetes/kubernetes/pull/100125 should close this issue. I will close please feel free to reopen if the issue is still there.

/close

[2021-09-17 21:23] khenidak commented on #103860
/honk

yes. please.

[2021-09-17 21:31] liggitt commented on #104394
note that until https://github.com/kubernetes/kubernetes/pull/105089 is merged and the next 1.22 patch release is cut, this is unresolved for 1.22

[2021-09-17 21:32] liggitt commented on #104394
reopening just to track the backport

[2021-09-17 21:33] liggitt commented on #104394
https://kubernetes.io/releases/patch-releases/#1-22 is the timeline for 1.22 patch releases... one was just cut, which means the next isn't planned for ~1 month

[2021-09-17 23:06] theunrealgeek commented on #96717
@mgutierrez98 I am currently working on this issue, have a rough PR out and still addressing feedback.

/remove-lifecycle stale

[2021-09-17 23:16] warent commented on #83471
I'm getting this in GKE suddenly... Not sure why yet

[2021-09-17 23:28] #80712 closed

[2021-09-18 00:01] SergeyKanzhelev commented on #105102
Sorry for confusion, I meant the default for cert directory

[2021-09-18 00:38] mcwumbly commented on #104491
Since IPv6 doesn't work, I suspect _no one_ has seen that :)

But I was told it was common in some scenarios to use IPv4 instead of hostname. I haven't personally seen this either, but let me see if I can find someone who has to comment with a bit more color.

[2021-09-18 01:37] wujiangfa-xlauncher opened #105112 "When the node is abnormal, the output format of the Top node is incorrect"
#### What happened:
![image](https://user-images.githubusercontent.com/53930349/133867892-9fc7ac50-736f-446d-9118-a397e84ee431.png)

#### What you expected to happen:
![image](https://user-images.githubusercontent.com/53930349/133867896-3017f88e-419f-40da-826e-2452a1f3628c.png)

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environme

[2021-09-18 01:45] pacoxu commented on #105112
/sig cli

[2021-09-18 01:50] pacoxu commented on #105099
/sig autoscaling

[2021-09-18 01:55] pacoxu commented on #105096
Same error message in https://github.com/helm/helm/issues/7997.

According to  @lavalamp 's [comments](https://github.com/helm/helm/issues/7997#issuecomment-683886838), it may be caused by operations that take more than 60 seconds hit the global timeout.

[2021-09-18 01:59] pacoxu commented on #105105
/sig cli
(not sure if it is caused by network or apimachinery)

[2021-09-18 02:31] #92852 closed

[2021-09-18 03:03] zhangguanzhang commented on #55713
may you need set this for kube-apiserver :
[code]

[2021-09-18 03:04] zhangguanzhang commented on #74651
may you need set this for kube-apiserver :
[code]

[2021-09-18 03:32] eggiter opened #105114 "CPUManager releases CPUs of init containers while they are being reused in app containers"
#### What happened:
+ CPUManager releases CPUs of init containers while they are being reused in app containers.

#### What you expected to happen:
+ Certainly kubelet should not release any of CPUs which are being used in containers.

#### How to reproduce it (as minimally and precisely as possible):
+ Start kubelet using static policy.
+ Create a pod with 1 init container(request 4cpu) and 1 app

[2021-09-18 03:34] eggiter commented on #105114
/sig node
cc @fromanirh

[2021-09-18 03:35] eggiter commented on #105114
/sig node
/assign @fromanirh

[2021-09-18 05:55] mertyildiran commented on #105105
@pacoxu I've actually tried to disable the call to `tryUpgrade` function and the issue persisted.

One of the WebSocket upgrade related headers producing this issue `-H "Connection: Upgrade" -H "Upgrade: websocket" -H "Sec-WebSocket-Version: 13" -H "Sec-WebSocket-Key: x3JJHMbDL1EzLkh9GBhXDw=="`

So I looked at the calls to `IsUpgradeRequest` in the codebase:
- https://github.com/kubernetes/kuberne

[2021-09-18 06:32] shuheiktgw commented on #105029
@ehashman @pacoxu I've added tests for pkg/kubelet/apis/config/v1beta1/defaults.go so would you review the PR?
https://github.com/kubernetes/kubernetes/pull/105116

I start working on pkg/kubelet/apis/config/validation/validation_test.go next!

[2021-09-18 07:15] pacoxu commented on #103561
/assign @calvin0327
Would you help to implement this?

[2021-09-18 07:36] #98465 closed

[2021-09-18 08:34] chenchun opened #105118 "The behavior of FakeEvents.CreateWithEventNamespace is not inline with kubernetes.typed.core.v1.events.CreateWithEventNamespace"
#### What happened:
Server rejected events send by recorder with fake clients

#### What you expected to happen:
Server don't reject events send by recorder with fake clients

#### How to reproduce it (as minimally and precisely as possible):
[code]

Run this program, you will get
[code]

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud

[2021-09-18 08:42] chenchun commented on #105118
/sig api-machinery

[2021-09-18 14:33] AbelTaylor opened #105123 "kubeadm init fail in 1.21.5"
#### What happened:

I used the command 'kubeadm init --kubernetes-version {{ k8s_main_version }} --token={{ token }} --certificate-key {{ certificate_key }} --control-plane-endpoint {{ master_vip }}:{{port}} --upload-certs --token-ttl 0' to initialize a high-availability kubernetes 1.21 or 1.22 cluster, but it failed. The same command was successful when I initialized version 1.20. Did I miss som

[2021-09-18 16:23] jbpoint opened #105124 "Update kubernetes v1.21"
Hello,

can i upgrade directly from v1.15?

Thanks

[2021-09-18 18:27] avikatgithub commented on #60140
@matthyx - What are steps to download the cli client and use it to test the changes that you made to fix the download issue.

[2021-09-18 19:37] #101319 closed

[2021-09-18 19:37] #101331 closed

[2021-09-18 19:58] mertyildiran commented on #105105
@pacoxu I actually couldn't reproduce it in isolation. I guess the issue is invalid/nonexistent. I'm sorry for filing this issue.

[2021-09-18 19:58] #105105 closed

[2021-09-18 20:43] matthyx commented on #60140
If you don't fear running a binary built on my PC, you can check several comment up to see download links for Linux amd64 and MacOS.
Otherwise you can checkout my branch and run `make kubectl`.

[2021-09-18 21:23] ejose19 commented on #99986
I'm in the same boat as @schellj, besides the `kubectl get pod` clutter, it also stop other commands from working without any extra steps (like `kubectl logs`) so one needs to manually remove all `shutdown` pods or register a job for it. A configurable threshold for just `shutdown` pods (like @SergeyKanzhelev mentioned) seems like a must (and probably, most users would expect that `shutdown` pods

[2021-09-18 21:37] #65706 closed

[2021-09-18 21:37] #98302 closed

[2021-09-18 23:58] aojea commented on #104862
/cc

[2021-09-19 00:04] aojea commented on #104862
I think we have to parameterize this
https://github.com/kubernetes/kubernetes/blob/a73f45dd96d01bbb2e8b2071a3aafdcdaeed0582/cluster/addons/dns/coredns/coredns.yaml.in#L76

[2021-09-19 01:42] chrisohaver commented on #104862
I think the safer way is to configure kublet to send the correct resolv.conf to all “default” dns policy pods, not just fix in coredns.

[2021-09-19 02:05] BinacsLee commented on #105094
/assign

[2021-09-19 02:34] astraw99 commented on #69980
Yes, sometimes we may delete the PVC accidentally, need tool to reset 'Terminating' to 'Bound'.

[2021-09-19 03:41] currypapi opened #105128 "no matches for kind "Ingress" in version "networking.k8s.io/v1""
#### What happened:
I get this error:
[code]

#### What you expected to happen:
Should run.
#### How to reproduce it (as minimally and precisely as possible):

Installing ingress:
[code]

#### Anything else we need to know?:
The example code i'm trying to get running. This might be a simple mistake on my end, but i'm unsure as to what it may be, so thanks in advance!
Code: https://github.com/Jarro

[2021-09-19 03:43] currypapi commented on #105128
/sig network

[2021-09-19 04:36] karezza commented on #104380
I'm experiencing this today, seeing this error on my two master nodes.
[code]

The whole cluster is down.  I was performing activities which were using the hard drive quite a bit.  Not sure if that helps with debugging.  Might be time to reboot the system hosting the node vms.  But I think I'll experiment some more being that it is a dev cluster.
[code]

[2021-09-19 07:12] pzheng1025 opened #105129 "CSI e2e test subpath parameters are incorrect"
#### What happened:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/subpath.go#L162-L164
In subpath.go, `filePathInSubpath` and `filePathInVolume` are defined as follows

[code]

#### What you expected to happen:
From the variable name, should `filePathInSubpath` and `filePathInVolume` be swapped? Like:
[code]

[2021-09-19 07:17] pzheng1025 commented on #105129
/sig storage
/sig testing

[2021-09-19 08:27] DanielGrunberger commented on #104980
Does the vulnerability still exists when using the "subPathExpr" field of container spec or just with the "subPath" field?

[2021-09-19 08:43] aojea commented on #104862
Doh, right :)

[2021-09-19 09:48] xiaopingrubyist opened #105131 "claim cached in pvcontroller is not the newest may cause unexpected results"
#### What happened:
in our cluster, cluster is big cluster ,more than 10,000 nodes.  we developed a dynamic provisioner for local-volume, when there is a pvc of local-pv created, the local provisioner will provision related pv. the thing is we create the pvc, then delete the pvc, then create the pvc again, in the second creation, our provisioner provisioned the pv very fast and the pv related clai

[2021-09-19 09:54] abhiatmsit commented on #61117
is this issue fixed in kubernetes version
kubelet restart doesnt help

Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.1", GitCommit:"632ed300f2c34f6d6d15ca4cef3d3c7073412212", GitTreeState:"clean", BuildDate:"2021-08-19T15:45:37Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.1", GitCommit:

[2021-09-19 10:08] zishen opened #105133 "cespare should update to v2.1.2"
**What happened:**

When imported and build with -buildmode=plugin or anything use dynamic link, go will throw

when dynamic linking, R15 is clobbered by a global variable access and is used here:
[cespare:54](https://github.com/cespare/xxhash/issues/54)

and this happened in go 1.17 and 1.17.1
![截图](https://user-images.githubusercontent.com/7522079/133923522-20686d19-3f04-424e-ba2d-cebacaca0338.P

[2021-09-19 14:06] YanzhaoLi commented on #104980
Since v1.19.15 has already released.  But I couldn't find which commit fix this issue: https://github.com/kubernetes/kubernetes/commits/v1.19.15

[2021-09-19 14:09] mertyildiran commented on #105105
Duplicate of https://github.com/kubernetes/kubernetes/issues/77142

[2021-09-19 14:22] #104862 closed

[2021-09-19 14:27] champtar commented on #104980
Fix is here #104253
When using VolumeSubpath feature, K8S mount the volume then bind mount the subpath and give that to the runtime. The source part of the mount (the subpath) is attacker controled, so we need to prevent symlink exchange attack. As the mount syscall take path and not file descriptor, we open the source path and check that it's in the volume, and we use `/proc/<kubelet pid>/fd/<fin

[2021-09-19 14:35] mertyildiran commented on #77142
@TheDiveO I'm having the same exact issue. I reproduced it in isolation with [this repository](https://github.com/mertyildiran/kube-proxy-websocket-testcase). My private image has the same issue with the [same exact proxy code](https://github.com/mertyildiran/kube-proxy-websocket-testcase/blob/master/main.go).

First, I thought that the query string is disappearing within [this method](https://git

[2021-09-19 17:40] Huang-Wei commented on #86373
@yqwang-ms In 1.22 and 1.23, we introduced several enhancements to mitigate this problem. But note they're not applicable for extenders:

1. Fine-grained enqueuing semantics #100347

    Plugins can implement an `EventsToRegister()` function to specify which events can move the unschedulable Pods (failed by that plugin) back. In the before, we move Pods back without taking the type of events into

[2021-09-19 19:18] neolit123 commented on #105123
note, this will give you tokens that expire immediately, so you have to add new ones if you want to join nodes to the cluster.
but maybe that's what you want.

maybe something in the "urgent" section of the release notes:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#urgent-upgrade-notes

IIRC, the only thing there is to make sure containerd is configured with th

[2021-09-19 19:18] #105123 closed

[2021-09-19 19:48] kishorj commented on #84366
/remove-lifecycle rotten

[2021-09-20 04:20] MikeSpreitzer commented on #104922
Here is a visualization of the existing queueset TestWindup:

[windup.pdf](https://github.com/kubernetes/kubernetes/files/7193590/windup.pdf)

[2021-09-20 06:28] pacoxu commented on #105128
Your server version is v1.10.0 which is really old.

[2021-09-20 06:29] pacoxu commented on #105124
/kind support
When I use kubeadm, it suggests upgrading 1 minor version each step. like https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2021-09-20 06:30] pacoxu commented on #105124
/retitle Update kubernetes v1.21 directly from 1.15

[2021-09-20 07:06] michael-db commented on #105092
Thank you, Khaled, it looks like what you are referring to is https://github.com/kubernetes/kubernetes/issues/58761

If this were a bug then we would have had to do a workaround anyway, but if it is an unavoidable restriction then the page at  https://kubernetes.io/docs/concepts/services-networking/service/ should document it (in addition to the other restrictions) so that anyone else who hits thi

[2021-09-20 07:57] MadhavJivrajani commented on #105131
/sig storage

[2021-09-20 08:16] timebertt opened #105146 "`$deleteFromPrimitiveList` is not idempotent"
#### What happened:

Patching an object without finalizers using `$deleteFromPrimitiveList/finalizers` results in the given finalizers being added.

#### What you expected to happen:

`deleteFromPrimitiveList` is idempotent in case there are other list elements than the removed one.
I expected `deleteFromPrimitiveList` to also be idempotent in case the list is already empty.

#### How to reproduce

[2021-09-20 08:18] timebertt commented on #105146
/sig api-machinery

[2021-09-20 08:52] pohly commented on #99265
Which command shows flags by group?

It might make sense to have only one set of log flags which all can be set via configuration files. That set then could include:
- the remaining klog flags (`-v` and `-vmodule`)
- `--log-flush-frequency`
- `--logging-format`
- future JSON-specific options

Just beware that moving `-v` will mark it as "DEPRECATED: use config file" in kubelet. Is that what we wan

[2021-09-20 10:47] shivanshu1333 commented on #105101
/reopen

[2021-09-20 10:51] shivanshu1333 opened #105148 "Fix incorrectly migrated structured logs"
#### What happened:
When working on enabling static analysis for structured logs on whole codebase https://github.com/kubernetes/kubernetes/issues/102439 we have noticed that there are multiple places that were incorrectly migrated. https://github.com/kubernetes/kubernetes/pull/103293#issuecomment-922694019
Before we enable static analysis we need to fix those places.

#### What you expected to ha

[2021-09-20 10:59] #99252 closed

[2021-09-20 11:06] serathius commented on #105101
/reopen

[2021-09-20 11:10] serathius commented on #105101
Closing for https://github.com/kubernetes/kubernetes/issues/105148

[2021-09-20 11:10] #105101 closed

[2021-09-20 12:40] gauravrao08 opened #105149 "no matches for kind "IAMPolicy" in version "iam.cnrm.cloud.google.com/v1beta1""
#### Which jobs are failing:
iam.cnrm.cloud.google.com/v1beta1

#### Which test(s) are failing:
IAMPolicy
#### Since when has it been failing:
https://github.com/GoogleCloudPlatform/k8s-config-connector/blob/531fa4f6b0211f5fb92131c33f3c7d0d5eed8fc5/samples/tutorials/workload-identity/policy-binding.yaml
#### Testgrid link:

#### Reason for failure:

#### Anything else we need to know:

apiVersion:

[2021-09-20 12:42] salim-buet03 opened #105150 "Preserving Source IP in NGINX Ingress Controller"
Hi,

I am new to Kubernetes :) I am developing a simple flusk app, that stores client real IP address.
I have made docker image and deployed it in Kubernetes. Then created service. And then Installed kubernetes ingress-nginx.
Everything working fine, except I cant print client real IP address, it always returns pod. I have spent almost 5/6 days and tried all possible solutions from google.

## dep

[2021-09-20 13:15] fromanirh commented on #105114
/triage accepted
/priority important-soon

[2021-09-20 13:17] alculquicondor commented on #99986
Note that if we deliver a solution just for shutdown pods in kubernetes, it would arrive at 1.24 at the earliest (it's a new feature and needs to go through the KEP process). By then, the Job API will be fixed and we can already lower the threshold.

[2021-09-20 13:17] crossphoton commented on #105061
Hi,
Can you tell how to reproduce this?
Here's what I tried on minikube.

- started minikube
- created a namespace `test`
- create a nginx pod
- ran `kubectl --namespace=test exec -it nginx -- sh -c "ls -al /" > cat.txt`

There's no `^M` in the output.

Kubernetes: 1.22.1
GoVersion: 1.16.7

[2021-09-20 13:17] fromanirh commented on #105114
thanks for filing this bug. The scenario lacks a key information: which kind of flows trigger the removal of the init container?
AFAIU, the kubernetes GC can trigger the removal, then this bug. There is any other flow? For example, which other flow do trigger an explicit container removal?

In other words, we would like to have sufficient information to write a e2e test to cover this case (now or

[2021-09-20 13:41] lauchokyip commented on #105061
@crossphoton , I was able to reproduce using [Kubernetes Playground](https://www.katacoda.com/courses/kubernetes/playground), they key is the command `cat -t 1.txt`
[code]

[2021-09-20 13:41] dprotaso commented on #99867
/remove-lifecycle rotten

[2021-09-20 13:44] lauchokyip commented on #105061
I don't think this is a bug, when you run `kubectl` with the flag `-t ` , [docker will convert \n to \r\n](https://github.com/moby/moby/issues/37366#issuecomment-401157643)

[2021-09-20 13:48] crossphoton commented on #105061
@lauchokyip Ah yes,

I used `cat cat.txt` for the output. Didn't even notice that.

[2021-09-20 13:57] GeorgeTsilias commented on #70732
This issue is still apparent on K8s v1.21+.

    spec:

      imagePullSecrets:

      - name: {{ imagePullSecrets }}

      containers:

        image: "{{ repository }}:{{ image.tag }}"

        imagePullPolicy: Always

        name: foo

      initContainers:

      - name: init-wait

        image: "{{ repository }}:{{ image.tag}}"

        command: ["/wait.sh"]

Specifying the imagePullSecret

[2021-09-20 14:11] verycici commented on #105061
you can try it .

$&nbsp;a=`kubectl -nkube-system exec -it kube-proxy-nrxwb -- sh -c "ls -al /|wc -l"`
$ echo $a
22

$ echo $a &gt; 111.txt
$ cat -t 111.txt&nbsp;
22^M

the $a is not a&nbsp;integer，it's 22^M.&nbsp;If I put the&nbsp; "$a" in the script,&nbsp; I can't compare it with other numbers

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-09-20 14:17] lauchokyip commented on #105061
Can you try
[code]

[2021-09-20 14:19] pacoxu commented on #105150
/sig network
/area ingress

[2021-09-20 14:40] verycici commented on #105061
I tried. It's no problem

$ kubectl -nkube-system exec -it kube-proxy-nrxwb&nbsp; -- sh -c "stty -onlcr &amp;&amp; ls -al /" &gt; 1.txt
$ cat -t 1.txt&nbsp;
total 76
drwxr-xr-x&nbsp; &nbsp;1 root root 4096 Sep 20 13:59 .
drwxr-xr-x&nbsp; &nbsp;1 root root 4096 Sep 20 13:59 ..
-rwxr-xr-x&nbsp; &nbsp;1 root root&nbsp; &nbsp; 0 Sep 20 13:59 .dockerenv
drwxr-xr-x&nbsp; &nbsp;2 root root 4096 Jun 23 04

[2021-09-20 14:46] #104554 closed

[2021-09-20 14:56] dramich commented on #104554
@deads2k @luyou86 The fix merged to close this issue does not fix the underlying issue with the DefaultControllerRateLimiter. The bucket is not being used correctly so this does not work as intended, please read my issue description again as to what is actually happening.

[2021-09-20 15:19] luyou86 commented on #105104
@liggitt
is only to modify api/openapi-spec/swagger.json doc?

[2021-09-20 15:35] luyou86 commented on #105104
[code]

modify like this, is ok? but swagger 2.0 not support "oneOf"

[2021-09-20 15:43] liggitt commented on #105104
I don't see a way to make the schema correct, since a 200 can return either a Status or Job, depending on delete options specified... if we had to pick just one, I *think* I'd pick the specific object type, not status, since clients have to be generally prepared to receive a status object from any operation on any endpoint

[2021-09-20 15:53] soltysh commented on #105097
/triage accepted

[2021-09-20 15:53] soltysh commented on #105097
/assign @Karthik-K-N

[2021-09-20 15:56] #105097 closed

[2021-09-20 16:00] neolit123 commented on #105124
+1, none of the components support skipping minor versions, including kubeadm, kubelet, api-server, etc.

/close

[2021-09-20 16:12] schellj commented on #99986
Understood. At least in my mind, having a lower gc threshold doesn't entirely solve the issue with shutdown pods as those are pods that have behaved as intended and shouldn't be considered failed and kept around in the first place.

[2021-09-20 16:22] NikhilSharmaWe commented on #104418
I would like to contribute to solve this issue. Can someone help me to get a clear picture what are trying to do and how can I proceed.

[2021-09-20 16:27] khenidak commented on #105092
/triage accepted

ack. I think we should update docs. to speak on why this is restricted. I will start a PR for this.

Thanks @michael-db for filing this.

[2021-09-20 16:28] alculquicondor commented on #99986
cc @bobbypage to answer why the pods are not simply deleted.

[2021-09-20 16:28] SergeyKanzhelev commented on #99986
this statement is questionable. We just don't know in some cases. If it was a job that hasn't finished yet, it is failed, even with the clean termination. If the pod failed to clearly terminate, we also want to keep information about that pod around. It is clear that pods that were terminated with the graceful termination are "happier" then ones that crashed on their own. But it is clearly not 100

[2021-09-20 16:31] khenidak commented on #104491
The concern i have with this is image identity re GC and what not. Imagine this scenario, two images that look like this:

https://kal-registry.io/my-fantastic-app-image
https://<kal-registry.IP>/my-fantastic-app-image

The are the same image but to GC and anything that operates on images (including pull secrets) they are two different images.

@cpuguy83  -- do you have thoughts on this?

[2021-09-20 16:32] alculquicondor commented on #99986
The fixed Job controller will consider any pod deletion a failure, even after the pod is completely removed from the API.

[2021-09-20 16:36] soltysh commented on #105017
/assign @kow3ns

[2021-09-20 16:38] soltysh commented on #104961
/assign @soltysh

[2021-09-20 16:39] ritazh commented on #102391
please try the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-09-20 16:40] #102391 closed

[2021-09-20 16:41] SergeyKanzhelev commented on #99986
How will job controller know that job run to completion vs. was terminated by graceful termination?

[2021-09-20 16:43] kow3ns commented on #104745
agree. This sounds like a HELM UX issue. Please file against that project.

[2021-09-20 16:43] kow3ns commented on #104745
/close

[2021-09-20 16:43] #104745 closed

[2021-09-20 16:44] soltysh commented on #104714
/triage accepted
/assign @ahg-g

[2021-09-20 16:45] alculquicondor commented on #99986
I should have said: any pod deletion of a pod that doesn't have a Suceeded phase is considered a failure. The full design is here: https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2307-job-tracking-without-lingering-pods#algorithm

[2021-09-20 16:45] soltysh commented on #104583
/assign @kow3ns

[2021-09-20 16:48] schellj commented on #99986
@SergeyKanzhelev Pardon me for speaking too generally. In the case affecting me in particular, pods have successfully been gracefully shutdown due to a preemptible node being scheduled for deletion, which is the expected behavior. In this case it would be preferable for the pods to simply be deleted, as they were in prior versions of kubernetes (< 1.21, I believe).

[2021-09-20 16:49] soltysh commented on #104487
@atiratree fyi

[2021-09-20 16:51] kow3ns commented on #104288
/remove-sig apps

[2021-09-20 16:51] kow3ns commented on #104288
/sig node

[2021-09-20 16:52] kow3ns commented on #104288
This feature is managed by sig-node. I'm not actually sure if this is a known constraint or a bug.

[2021-09-20 16:53] kow3ns commented on #104233
This seems like either a bug in your application definition or the tool you are using to deploy. It does not seem like an issue with the underlying controller logic or API.

[2021-09-20 16:53] kow3ns commented on #104233
/remove-sig apps

[2021-09-20 16:56] soltysh commented on #104012
/assign @soltysh

[2021-09-20 17:04] renukamanavalan commented on #105017
#104984 and this stemmed out of single experiment. The issue #104984 seems to be a bug and  it is at a different level, "ignoredDuringExecution".

Even if not ignored (due to #104984), the onDelete should defer the action, but it is not. This issue is for OnDelete.

[2021-09-20 17:07] manugupt1 commented on #104976
@jsafrane

I tried this and I did not get as many errors on 1.20; would you be open to some sort of special optimization for subPaths.

[code]

[2021-09-20 17:18] #102145 closed

[2021-09-20 17:24] neolit123 commented on #105133
/sig architecture
/area code-organization

[2021-09-20 17:33] neolit123 commented on #105149
hi, this doesn't seem like a upstream Kubernetes issue.
IAMPolicy is part of the Google Cloud API, thus please report the problem to the Google Cloud support instead.

/kind support
/close

[2021-09-20 17:33] #105149 closed

[2021-09-20 17:35] neolit123 commented on #104720
/sig api-machinery instrumentation

[2021-09-20 17:53] sajanraj opened #105152 "service=git-upload-pack": dial tcp: lookup github.com on 10.96.0.10:53: server misbehaving"
#### What happened:
service=git-upload-pack": dial tcp: lookup github.com on 10.96.0.10:53: server misbehaving

[code]
#### What you expected to happen:
pods should connect to external ip/dns
#### How to reproduce it (as minimally and precisely as possible):
add repo in argocd - not an issue in argo
#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`

[2021-09-20 18:16] mmiranda96 commented on #105023
I'm interested in this, taking a look...
/cc

[2021-09-20 18:52] ehashman commented on #105047
The tests aren't currently failing so they don't need to be ignored: https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

The issue is that if the kubelet is restarted and never comes back up, the test run doesn't complete and so we don't get results.

[2021-09-20 18:53] ehashman commented on #105047
/kind deprecation

[2021-09-20 19:26] cpuguy83 commented on #104491
For GC these are just references the runtime is able to understand when it should clean up the blobs and snapshots related to it.

Note that containerd just uses `url.Parse` to parse an image reference and should work just fine this way unless there's something in the cri code path that's messing with it.

[2021-09-20 20:01] #101288 closed

[2021-09-20 20:26] julienlau commented on #90179
Naïve suggestion following this very interesting discussion : why everything should be stored in etcd ?
Maybe the control plane storage backend should be extended with another engine SQL or NewSQL (or maybe an event broker) to segregate some of etcd workload ? This may also enable to crank down some lease timeout and have large cluster more reactive ?

Back in the days DC/OS used CockroachDB to st

[2021-09-20 20:59] liggitt commented on #104648
picked to 1.22 in https://github.com/kubernetes/kubernetes/pull/105075

will be in the next 1.22 patch release (1.22.3), schedule to be announced at https://kubernetes.io/releases/patch-releases/#1-22

[2021-09-20 21:03] mrunalp commented on #104459
Some other ideas:
1. There are a bunch of constant metrics which could just be cached and returned from cadvisor.
2. Look into a LinkedHashMap (or similar data structure) to keep the data in memory that allows O(1) deletes and updates on the container data and avoid some churn.

[2021-09-20 22:00] mrunalp commented on #104459
For a first iteration, even looping over a hashmap should do.

[2021-09-20 22:12] spiffxp commented on #102607
What is left to do before we can call this done?

[2021-09-20 22:17] guodongli-google opened #105155 "A bug that mutates a not-used copy of a struct"
Report a bug that mutates a not-used copy of a struct.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/meta.go#L49-L50

Here "PatchMeta" is struct which will be copied by value. The mutation on the copy receiver "pm" doesn't do anything to the original struct in the caller. As a consequence, this mutation has no meaningful effect.

[cod

[2021-09-20 22:48] bobbypage commented on #99986
Thanks @schellj for the feedback. We are looking into the behavior for handling pods on shutdown.

In the original design of the [graceful node shutdown KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2000-graceful-node-shutdown) it was decided to not explicitly delete pods, but rather pod them into failed phase. This followed the pattern for kubelet evictions and also ma

[2021-09-20 22:54] Riaankl commented on #100486
/remove-lifecycle stale
https://github.com/kubernetes/kubernetes/pull/103092

[2021-09-20 22:54] schellj commented on #99986
@bobbypage I'm not entirely sure, but I'm guessing that on GKE prior to [1.20.5-gke.500](https://cloud.google.com/kubernetes-engine/docs/release-notes#May_03_2021), there was a different process that would cordon and drain their preemptible nodes.

[2021-09-20 23:03] jsturtevant commented on #101908
/remove-lifecycle rotten

[2021-09-20 23:09] gjkim42 commented on #105155
/cc

Just curious... is this ever meaningfully used?

[2021-09-21 00:08] zhouhaibing089 commented on #75677
Sorry that I didn't pay enough attention to the latest updates. This issue is no longer valid considering that watch cache size is already dynamic.

Ref:

* https://github.com/kubernetes/kubernetes/issues/90058

[2021-09-21 00:08] #75677 closed

[2021-09-21 00:38] rikatz commented on #105150
/move ingress-nginx

[2021-09-21 00:38] rikatz commented on #105150
/transfer ingress-nginx

[2021-09-21 00:39] rikatz commented on #105039
/close

[2021-09-21 00:39] #105039 closed

[2021-09-21 00:40] rikatz commented on #105128
/remove-kind bug
/kind support
As @pacoxu stated, you need to update your Kubernetes cluster. Kubernetes community supports -3 versions (which means, from v1.22 to v1.20)

Thanks!

[2021-09-21 02:27] brianpursley commented on #105146
Strange.  It looks like attempting to delete a nonexistent primitive actually adds it.

Below is a slightly different take on your example, client-side only and without any finalizers to start with.  It tries to delete `fancy.io/foo` which is nonexistent and it ends up being added:

[code]

I also tested with some previous versions of kubectl (back to 1.10.2 even) and saw the same thing, so it app

[2021-09-21 03:47] wilsonehusin commented on #102490
Looks like it was moved by #103874.

I don't have capacity to take on this at the moment. Feel free to give it a go! (and thanks)

/unassign
/assign sachinkumarsingh092

[2021-09-21 03:47] jackdpeterson commented on #17512
My hack (on k8s 1.18; EKS)
[code]

[2021-09-21 03:50] denkensk commented on #93500
/remove-lifecycle stale

[2021-09-21 06:17] NikhilSharmaWe commented on #105155
I would like to change the value reciever to reference reciever.

[2021-09-21 06:18] NikhilSharmaWe commented on #105155
/assign

[2021-09-21 06:35] adisky commented on #104878
Create a doc to explain how to change the runtime (mostly moving away from dockershim) https://github.com/kubernetes/website/issues/25879

Deprecation of the Docker container runtime should be clear in /docs/setup/production-environment/container-runtimes/
https://github.com/kubernetes/website/issues/28449

Dockershim deprecation: Private registries support with Containerd
https://github.com/kuber

[2021-09-21 06:45] ringerc commented on #49387
This is a seriously confusing usability issue when getting started with k8s.

As a new user I found it very confusing that my pods showed Running, but readiness checks were failing, so the real status was "0/2". I understand why readiness is distinct from pod status, but it's definitely something kubectl could help users with.

`kubectl wait pod --for status=Ready --all --all-namespaces` will repo

[2021-09-21 06:50] timebertt commented on #105146
I just checked: the same thing happens when directly talking to the API server (so it's not a kubectl-only bug):

[code]

[2021-09-21 06:52] timebertt commented on #105146
@brianpursley that's good to know. But I guess, this is not expected behavior, right?

[2021-09-21 07:29] malcolm061990 commented on #95983
The correct command is without stdout sign:
[code]

[2021-09-21 07:40] middlestone commented on #59110
@RenaudWasTaken  preStop is called when the pod/job is terminated. It is not getting called when the pod is completed successfully, so if we want to release network device after job completed, it seems that preStop is not a good workaround.
Before deallocate is merged, or for old version of kubernetes, do you have any suggestion? thanks in advance.

[2021-09-21 07:50] bart0sh commented on #59110
@middlestone if you're interested in this topic please consider recent activity here https://github.com/kubernetes/enhancements/pull/1949

[2021-09-21 08:05] sajanraj commented on #105152
/sig Network
/wg Policy

[2021-09-21 08:17] NormanLYJ commented on #83471
Getting the same issue on EKS, image size is over 1 GB

[2021-09-21 09:10] middlestone commented on #59110
@bart0sh thanks, I am really interesting in device plugin for network devices.

[2021-09-21 09:49] sunchill06 commented on #105072
Can someone please look into this?

[2021-09-21 09:53] MadhavJivrajani commented on #105155
/sig api-machinery

[2021-09-21 09:57] julienlau commented on #72395
/remove-lifecycle rotten

[2021-09-21 11:07] slashpai opened #105163 "Large label value for the metric `kubelet_started_pods_errors_total` with label `message` when there is a error"
#### What happened:

While reviewing labels in prometheus noticed this metric `kubelet_started_pods_errors_total` whose label value is large (700+ characters) since it was a error log message.

Example:

[code]

The metric is from [kubelet code block](https://github.com/kubernetes/kubernetes/blob/v1.22.0-rc.0/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L813)

#### What you expected to happen:

[2021-09-21 11:12] dgrisonnet commented on #105163
I agree that error logs should never be part of metrics, it is not the correct vector to convey this kind of information. Logging would be more appropriated here.

/sig instrumentation
/sig node

/cc @ehashman

[2021-09-21 11:36] brianpursley commented on #105146
I don't think it is expected behavior.  It is surprising to me at least.  I am curious to know what someone who has more experience with Strategic Merge Patch has to say though.

[2021-09-21 12:03] pchan opened #105165 "Introduce JSON logging format for kube-proxy"
#### What would you like to be added:

Structured logging support in k8s allows specifying logging in JSON. Many k8s components like apiServer, scheduler have support for json. This issue tracks adding JSON logging support for kube-proxy.

#### Breakdown of the task

To get json logging support, changes have to be made in kube-proxy and Kind e2e script (for Prow/CI runs) which uses KubeProxyConfig

[2021-09-21 12:14] Zheaoli commented on #105148
/assign

[2021-09-21 12:20] Zheaoli commented on #105165
/sig kube-proxy

[2021-09-21 12:29] pacoxu commented on #105165
/area kube-proxy

[2021-09-21 12:42] platbr commented on #41193
/reopen this feature is necessary.

[2021-09-21 12:46] swatisehgal commented on #105047
This is affecting our PR: https://github.com/kubernetes/kubernetes/pull/97415

/cc @AlexeyPerevalov

[2021-09-21 13:10] neolit123 commented on #105128
+1, if the server is too old, it does not know about newer API types.

/close

[2021-09-21 13:10] #105128 closed

[2021-09-21 13:12] neolit123 commented on #105155
/kind bug
/triage accepted

[2021-09-21 13:14] neolit123 commented on #105155
isn't that a problem here as well?
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/meta.go#L166

[2021-09-21 13:29] shivanshu1333 commented on #105148
/assign @jyz0309

[2021-09-21 13:34] jyz0309 commented on #105148
/assign

[2021-09-21 14:01] luyou86 commented on #104554
@deads2k is another fix  needed to solve this issue?

[2021-09-21 14:49] yxxhero commented on #105163
@ehashman @dgrisonnet
I want to work on this.
/assign

[2021-09-21 15:01] vasim38 opened #105172 "kubernetes endpointslices object not working with "AddressType: FQDN""
As the kubernetes provides feature called "endpointslices" specifically to be useful for larger clusters, endpointslices are not working with "addressType: FQDN"

As mentioned below (case A & case B), case A) works fine and Iptables rules are modified accordingly. For Case B) with "addressType: FQDN" It didn't work at all. There was no change in Iptables rule. Also it is not clear how the dns get

[2021-09-21 15:12] MadhavJivrajani opened #105173 "Implement `AfterFunc` for k8s.io/utils/clock"
#### What happened:
[`k8s.io/utils/clock`](https://github.com/kubernetes/utils/blob/master/clock/clock.go) ideally should be a replacement for [`k8s.io/apimachinery/pkg/util/clock`](https://github.com/kubernetes/apimachinery/blob/master/pkg/util/clock/clock.go). Currently, its almost there, but not quite as it lacks implementation for the `AfterFunc` method. Once https://github.com/kubernetes/kube

[2021-09-21 15:13] MadhavJivrajani commented on #105173
/remove-kind bug
/kind cleanup
/sig api-machinery
/assign

Will wait for the next bug triage session to validate this issue before starting working on it :)

[2021-09-21 15:16] MadhavJivrajani commented on #105173
cc @MikeSpreitzer @wojtek-t

[2021-09-21 15:21] 0xSc0ut opened #105174 "[ERROR SystemVerification]: missing cgroups: memory"
Hi I have been facing below mentioned error in one of my worker node

[preflight] Running pre-flight checks
	[WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at https://kubernetes.io/docs/setup/cri/
[preflight] The system verification failed. Printing the output from the verification:
KERNEL_VERSION: 3.10.

[2021-09-21 15:28] fiksn commented on #20165
It is true that you can't easily rotate key, but as far as I have checked you can still rotate service account secrets. Trick is that JWT contains something like:

```"kubernetes.io/serviceaccount/secret.name": "default-token-g8rln",```

so while the JWT has no expiry and will remain valid forever, API server checks for the existence of `default-token-g8rln`. As soon as I've deleted this secret (w

[2021-09-21 15:34] thockin commented on #103860
All told,  the iptables mode has been pretty stable - hopefully we don't
depend on too many overly-modern things.  route_localnet still needs to be
resolved properly (IMO) as a bug.

On Tue, Sep 21, 2021 at 4:20 AM Dan Winship ***@***.***>
wrote:

[2021-09-21 16:14] alculquicondor commented on #93500
@denkensk do you still need this?

[2021-09-21 16:29] sajanraj commented on #105152
$ sudo nano /run/systemd/resolve/resolv.conf
add below namserver for google dns
            nameserver 8.8.8.8
$ systemctl daemon-reload
$ kubectl -n kube-system rollout restart deployment coredns

This edit has solved my issue. i don'tt know this one is a prefferable work around.

[2021-09-21 16:29] #105152 closed

[2021-09-21 16:54] marosset commented on #88153
/remove-lifecycle rotten
/triage accepted

[2021-09-21 16:58] claudiubelu commented on #88153
/cc @claudiubelu

[2021-09-21 17:53] ahg-g commented on #86373
@Huang-Wei what would be the best way to verify that #100347 improved things in practice?

[2021-09-21 17:55] spiffxp commented on #102607
Not trivially runnable because they don't pass? Fixed the "don't pass as not root" part.  Need to confirm whether the rest is fixed.

Not question of flaky tests, but still seems to only work in CI, maybe? Need to double check to confirm

[2021-09-21 18:09] vasim38 commented on #105172
/sig archietecture

[2021-09-21 18:10] vasim38 commented on #105172
/sig architecture

[2021-09-21 18:38] liggitt opened #105179 "k8s.io/kubernetes/test/integration/job.TestParallelJobWithCompletions/finalizers=true"
#### Which jobs are flaking:

test-integration

#### Which test(s) are flaking:

TestParallelJobWithCompletions

#### Testgrid link:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestParallelJobWithCompletions&width=5

#### Reason for failure:

[code]

#### Anything else we need to know:

Started flaking badly on 9/17

[2021-09-21 18:39] liggitt commented on #105179
/assign @alculquicondor

[2021-09-21 18:52] liggitt commented on #105099
cc @josephburnett

does this have any implications for the v2 API PR, or is this an implementation issue on the controller side?

[2021-09-21 18:56] #103423 closed

[2021-09-21 18:56] #104938 closed

[2021-09-21 18:56] #88547 closed

[2021-09-21 18:58] liggitt commented on #105146
looks like this was reported in https://github.com/kubernetes/kubernetes/pull/82320 as well

[2021-09-21 19:00] alculquicondor commented on #105179
It's likely #104739
If this is super urgent, feel free to revert and I'll rework it in the following days. Otherwise, I'll have a look tomorrow.

[2021-09-21 19:03] liggitt commented on #105179
it's flaking really frequently... go ahead and revert to clean that up

[2021-09-21 20:09] akshatki opened #105182 "Constant 'Skipping invalid IP: ".' error entries in Kube-Proxy logs"
#### What happened:

As we update Kube-proxy to version 1.21, we observe a stream of following error entries within the Kube-proxy logs:

Skipping invalid IP: ".

#### What you expected to happen:

As we do not see anything wrong with the EKS cluster itself, this message should not be reported as an error.

#### How to reproduce it (as minimally and precisely as possible):

1. Launch an EKS cluste

[2021-09-21 20:10] liggitt commented on #105118
fake clients are not intended to replicate validation rules enforced by the server. This is true not only for events, but for all fake clients for all API types

[2021-09-21 20:11] liggitt commented on #105118
if you want to exercise various error responses using the fake client, you can prepend a reactor that returns the desired errors

/close

[2021-09-21 20:11] #105118 closed

[2021-09-21 20:15] caesarxuchao commented on #105082
/triage accepted

[2021-09-21 20:17] KnVerey commented on #105068
Thank you for the issue report and for submitting a PR in support of it!

To avoid needing to supply specific flags for every possible field, kubectl also has a `kubectl config set` command. Does that work in this case, and if not, would fixing that command to work with these fields be an acceptable alternative to adding bespoke flags, in your view?

[2021-09-21 20:18] caesarxuchao commented on #105146
/cc @apelisse
/triage accepted

[2021-09-21 20:18] caesarxuchao commented on #105173
/triage accepted

[2021-09-21 20:20] neolit123 commented on #105174
this seems like a problematic Linux distribution to run k8s on.

try getting support / feedback on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this might help you too:
https://www.raspberrypi.org/forums/viewtopic.php?t=203128

/kind support
/close

[2021-09-21 20:20] #105174 closed

[2021-09-21 20:57] ashwin153 opened #105183 "Parameterize CronJob by scheduled time"
#### What would you like to be added:

A way to parameterize a CronJob by the time that the instance was scheduled to start.

#### Why is this needed:

I have a data pipeline that I would like to schedule on Kubernetes; however, the pipeline is parameterized by the scheduled time. It uses this timestamp to read from data sources, so it is important that this timestamp exactly matches the schedule

[2021-09-21 21:00] ialidzhikov opened #105184 "Azure CCM: failed to delete load balancer: not a vmss instance"
/kind bug
/sig cloud-provider
/area provider/azure

#### What happened:

Azure in-tree CCM fails to delete a load balancer:

[code]

The corresponding logs:

[code]

The clouprovider config is:

[code]

The Nodes are actually Azure VMs that belong to a VMO (aka vmss with flexible orchestration mode) - regular VMs and managed independently of the vmss. So those VMs are managed on Azure as `Microsof

[2021-09-21 21:04] liggitt commented on #105074
/remove-sig auth
/sig apps

The operation for restarting a deployment is not distinguished from any other edit currently. Routing to sig-apps for the feature request.

[2021-09-21 21:04] liggitt commented on #105074
Traditionally, the way sub-object policy is enforced is via admission, which has both the old and new object information, and the user information, in order to make decisions about whether the particular write request should be allowed.

[2021-09-21 21:47] joantomas commented on #87491
+1 we have also the same problem with a NFS mount running in on-premise with k8s version 1.18.6

[2021-09-21 21:48] rikatz commented on #92369
Yeah, I was going to keep working on this and ask some folks here to help me.

@nehaLohia27 this is one of the issues I told you so, do you want to help me moving things to outside of pkg/proxy?

Thanks Dan.

[2021-09-21 21:52] liggitt opened #105186 "PodSecurity: do not require `runAsNonRoot: true` if a non-zero `runAsUser` value is provided"
#### What would you like to be added:

Relax the `restricted` Pod Security Standard to accept either of `runAsNonRoot: true` or a non-zero `runAsUser` value

#### Why is this needed:

It seems silly to require a pod to set `runAsNonRoot: true` to pass the restricted profile when it has already explicitly set `runAsUser: <non-zero-value>`. I ran into this putting together pod security benchmarks, u

[2021-09-21 22:00] liggitt commented on #105186
cc @kubernetes/sig-security-pr-reviews @kubernetes/sig-auth-pr-reviews

[2021-09-21 22:07] liggitt commented on #105186
hmm... actually, it looks like the kubelet has added windows-specific enforcement around this:

https://github.com/kubernetes/kubernetes/blob/2bfb2eba80824ad14a2b6838b3a8bc602fc7f4e6/pkg/kubelet/kuberuntime/security_context_windows.go#L34-L40

I'm not actually sure that matches the expectations of people using the field, or how the default container image username aspect maps on windows...

[2021-09-21 22:13] scr-oath commented on #96242
/remove-lifecycle stale

[2021-09-21 22:13] scr-oath commented on #96242
/reopen

[2021-09-21 22:14] scr-oath commented on #96242
/remove-lifecycle rotten

[2021-09-21 22:47] kishorj commented on #100779
/remove-lifecycle stale

[2021-09-21 22:55] aojea commented on #105182
/triage accepted
nice report thanks
/cc @aojea @khenidak

[2021-09-21 22:56] ashwin153 commented on #105183
/sig scheduling

[2021-09-21 23:00] khenidak commented on #105182
Thanks.

is your service defined with `.Spec.ExternalIPs = {""}`?

[2021-09-21 23:06] Huang-Wei commented on #86373
We used to talk about dedicated metrics verifying the effect in practice. Before it's taking in place, the quantitative way to verify is to observe `schedule_attempts_total` - the value is expected to be a lot lower than before. In a non-quantitative way, the low-priority pods should have more fair chances to be scheduled.

[2021-09-21 23:22] knkarthik commented on #55713
I'm still having this issue on EKS `v1.20.7-eks-d88609`. The behaviour is same as observed by @ricosega and others.

[code]

[2021-09-21 23:54] #105179 closed

[2021-09-22 00:44] manugupt1 commented on #104976
Apologies, I am still learning about kubernetes and code base. The above patch is wrong and does not work. I created something that works. However, let me summarize the findings.

1. Everytime, I skip the ConsistencyCheck, I do not get this problem. I think changing that is a no-go; I would like to understand that.
2. Related to @jsafrane's   question around, if Unmount is even called on Slack. I

[2021-09-22 00:59] yuzhiquan commented on #105047
@ehashman https://github.com/kubernetes/kubernetes/pull/102162 is failing on pull-kubernetes-node-kubelet-serial, but in this pr does not relevant to these test case, would you like to help me on this?

[2021-09-22 01:11] yuzhiquan commented on #102434
@Priyankasaggu11929 We can mobe on this now, https://github.com/kubernetes/kubernetes/blob/master/vendor/k8s.io/klog/v2/klog.go#L1626 is merged

[2021-09-22 01:32] NikhilSharmaWe commented on #105165
I would like to contribute towards this feature.

[2021-09-22 01:32] sftim commented on #105186
Yet Another Defaulting Admission Controller? (to infer `runAsNonRoot` from a non-zero `runAsUser` value).

&mdash;would that even help?

[2021-09-22 01:33] NikhilSharmaWe commented on #105165
@pchan can you explain the 3rd point, I am unable to understand.

[2021-09-22 02:16] shivanshu1333 commented on #104569
If we need to fix this I can happily pick it up, please suggest.

[2021-09-22 02:21] pacoxu commented on #105183
Create a run-once cronjob to run on a specific date to create a new cronjob.
😄
/sig apps

[2021-09-22 02:27] akshatki commented on #105182
I performed a 'kubectl get svc <svc_name> -o yaml' and I could confirm that my services do not have an explicit .Spec.ExternalIPs = {""}. The output for one of them was as follows:

[code]

[2021-09-22 02:43] EricWvi commented on #105182
/assign

[2021-09-22 03:09] jyotimahapatra commented on #100914
Hi 👋 I'm the bug triage shadow. I wanted to nudge the conversation again in the context of 1.23 release. Do we need to follow this up in 1.23?

[2021-09-22 03:12] jyotimahapatra commented on #104083
Hi 👋 I'm the bug triage shadow for release 1.23. The associated PRs on this issue seem to have been merged. I would like to learn if this issue needs further follow up.

[2021-09-22 03:36] jurgen-weber-deltatre opened #105187 "HPA is scaling down even though there is a broken metric"
#### What happened:
There is an unavailable custom metics via the prometheus adapter and HPA is still scaling down my deployment. This is contrary to the documentation and my expectation.

#### What you expected to happen:
When any one metric in a HPA is invalid/not available scale down events should not occur.

#### How to reproduce it (as minimally and precisely as possible):
* have a custom met

[2021-09-22 03:38] jurgen-weber-deltatre commented on #105187
/sig autoscaling

[2021-09-22 03:42] pacoxu commented on #100914
- #99145 (apiserver image dockerfile) was merged in 1.21.
- #96134  cluster/gce support for non-root apiserver was merged in 1.21.
- `kubeadm init --feature-gates=RootlessControlPlane=true` was supported after 1.22

I think we can close this issue.

https://github.com/kubernetes/enhancements/issues/2568 is for tracking kubeadm support rootless control plane. (It is alpha now and will be beta in 1.

[2021-09-22 04:05] yqwang-ms commented on #86373
@Huang-Wei Glad to hear that you have done so much to improve this, thanks! :) Will try to leverage scheduling framework and these plugins.

[2021-09-22 04:08] yqwang-ms commented on #83834
/remove-lifecycle stale

[2021-09-22 04:27] CaptainHulk23 commented on #79224
did you find a solution?

[2021-09-22 04:46] davidtseng commented on #102885
/close

[2021-09-22 04:46] #102885 closed

[2021-09-22 05:34] nehaLohia27 commented on #92369
yes sure @rikatz would help you in this..

[2021-09-22 05:52] justaugustus commented on #104083
@jyotimahapatra -- I'm seeing a few PRs to `master` (https://github.com/kubernetes/kubernetes/pull/104142, https://github.com/kubernetes/kubernetes/pull/104970) and a set of cherry picks that were opened by @ialidzhikov, but were closed without a merge:
- https://github.com/kubernetes/kubernetes/pull/104219
- https://github.com/kubernetes/kubernetes/pull/104220
- https://github.com/kubernetes/kube

[2021-09-22 06:35] aojea commented on #105182
There was a similar problem with blank spaces too on the field `loadBalancerSourceRanges` , in this case the IPs were invalid because a blank space was added
https://github.com/kubernetes/kubernetes/pull/94107

[2021-09-22 06:46] calvin0327 commented on #103561
@pacoxu Yes, I want to have a try.

/assign

[2021-09-22 06:55] nannancy commented on #94900
Hi 👋 I'm the bug triage shadow. I wanted to nudge the conversation again in the context of 1.23 release. Do we need to follow this up in 1.23?

[2021-09-22 07:02] eggiter commented on #105114
No, there is not other flow that can tigger this removal AFAIK.

[2021-09-22 07:03] calvin0327 opened #105189 "upgrade coredns to 1.8.6 to fix a regression bug"
FYI: @neolit123

Last week a regression was [reported](https://github.com/coredns/coredns/issues/4834) for 1.8.4 for the _rewrite_ plugin. There is a workaround. FYI AFAIK, AKS has [decided to defer rolling out 1.8.4](https://github.com/Azure/AKS/issues/2521#issuecomment-911901518), skipping over the version, since a fix will be in 1.8.5 (already merged).
Describing the regression as succinctly as

[2021-09-22 07:04] nannancy commented on #95279
Hi 👋 I'm the bug triage shadow. I wanted to nudge the conversation again in the context of 1.23 release. Do we need to follow this up in 1.23?

[2021-09-22 07:05] calvin0327 commented on #105189
/assign

[2021-09-22 07:08] eggiter commented on #105114
- Since there is no other flow can tigger the removal of completed init containers, will this be a waste of CPUs for those who were assigned to these completed init containers? These CPUs can not be assigned to other Pods as long as the Pods which the completed init containers belong to are not completed.
- Well, this is another story which is little relevant with the current issue.

[2021-09-22 07:23] Saikiranbelana commented on #58876
I was unable to join my master node with kubeadm join command.

Here is what i get when i run with `--v=5`

### Failed to request cluster-info, will try again: Get "https://172.31.41.122:6443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s": net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
[code]

Any help would be appreciat

[2021-09-22 07:32] raesene commented on #105186
On the overall point, I'd agree needing both to be set would likely confuse users, setting a non-root UID in `runAsUser` implies the `runAsNonRoot: true` piece.

I'd guess that yep a mutating admission controller to add an `runAsNonRoot: true` where a `runAsUser` value was set to not been UID 0 would work, but it feels pretty hacky.

Also that Windows setup looks ... odd I wouldn't usually equate

[2021-09-22 07:51] calvin0327 commented on #105189
/kind feature
/sig network cluster-lifecycle
/area dns

[2021-09-22 08:20] denkensk commented on #93500
Actually, I have Implemented this in our internal version last year to support our needs. I can list the details first. I hope you can give me some feedback. @Huang-Wei @alculquicondor  If we can reach an agreement, I can submit the pr to upstream.

1.  Add field `schedulerCache` in `framework`
2. Add functions in `FrameworkHandle` to operate the `SchedulerCache` like `AssumePod`,`FinishBinding` a

[2021-09-22 08:23] Jamstah commented on #77508
We have a situation where some of our pods require software licenses. We would like to label them and use a resourcequota to ensure we stay within our purchased limits.

So, +1 trip this being reopened!

[2021-09-22 08:24] Jamstah commented on #77508
/reopen

[2021-09-22 08:26] neolit123 commented on #105189
thanks for the summary @calvin0327
updating coredns to 1.8.5 in kubeadm 1.22 (current release) makes sense.

i'm also +1 to backport the 1.8.5 patch update to kubeadm 1.21.x
@pacoxu WDYT?

/triage accepted

[2021-09-22 08:45] sfrank-mc commented on #94892
/remove-lifecycle stale

Any news about this?

[2021-09-22 08:54] denkensk commented on #93591
How about if we want to use `the used resource / the allocated resource` like utilization rate to affect the order of pod out of the queue, not only the scheduled pods will affect the results, but also the deleted pods will affect the results.

[2021-09-22 08:59] neolit123 commented on #99808
/lifecycle rotten

[2021-09-22 08:59] neolit123 commented on #99808
/lifecycle frozen

[2021-09-22 09:18] tsuna commented on #89263
/reopen

[2021-09-22 09:19] rajula96reddy opened #105191 "[Failing test][sig-node] ci-kubernetes-node-kubelet-serial-containerd"
#### Which jobs are failing:
node-kubelet-serial-containerd

#### Which test(s) are failing:
 - kubetest.Node Tests

#### Since when has it been failing:
`20.09.2021 15:40 PDT`

#### Testgrid link:
[Testgrid](https://testgrid.k8s.io/sig-release-master-informing#node-kubelet-serial-containerd)
[One of the Failed jobs](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-se

[2021-09-22 09:41] pacoxu commented on #105189
Agree.

We should cherry-pick the fix to 1.22 for the regression.

[2021-09-22 09:49] sanposhiho commented on #94601
/remove-lifecycle stale

[2021-09-22 10:02] rajula96reddy commented on #105191
This is already tracked in https://github.com/kubernetes/kubernetes/issues/104754. There closing this

[2021-09-22 10:02] #105191 closed

[2021-09-22 10:36] VivekThrivikraman-est opened #105192 "In kubeproxy ipvs mode UDP traffic to Loadbalancer IP fails after node reboot"
#### What happened:
In ipvs mode client traffic(UDP) to a pod behind LoadbalancerIP is blackholed after node having the pod is rebooted.
The issue seems to be similar to the below iptable issue, since client continuously tries to connect to the loadbalancerIP (even before kubeproxy has applied all rules), and we see that  stale conntracks entries remain even after rules are applied. After the stal

[2021-09-22 10:38] VivekThrivikraman-est commented on #105192
/sig network

[2021-09-22 10:40] VivekThrivikraman-est commented on #105192
@uablrek @aojea

[2021-09-22 10:45] m-yosefpor commented on #68737
The manual approach doesn't work with GitOps workflows as PVC objects does not exist in git, but rather are created from VolumeClaimTemplate. The statefulset controller should resize the PVCs itself.

[2021-09-22 10:46] uablrek commented on #105192
/assign

I'll try to reproduce this using [ctraffic](https://github.com/Nordix/ctraffic) but it may take some days.

[2021-09-22 10:59] fromanirh commented on #100145
/remove-lifecycle stale

[2021-09-22 11:00] RyanAoh commented on #104012
I have reproduced this by the following case:
1. Create a cronjob with schedule "@every 3m"
2. After 2 mininutes, update the schedule to "@every 5m"
3. Wait to the job created by cronjob crontroller.

Then, you can see that the `.status.lastScheduleTime` will be always 3 minutes before the Job's `.spec.metadata.creationTimestamp`.

[2021-09-22 11:11] mcbenjemaa commented on #103942
[code]

[2021-09-22 11:21] primeroz commented on #68737
For what is worth it works for me with gitops as long as you can delete the statefulset by hand , when argocd , in my case, recreate the statefulset with the updated size it will find the resized disks and adopt them for the nodes

[2021-09-22 11:30] pchan commented on #105165
Kind is used to run e2e testing and recently it was updated for enabling json logging for control plane components. Issue https://github.com/kubernetes/kubernetes/issues/100748

[2021-09-22 11:32] frankruizhi commented on #57726
Maybe you could use $(DB_NAME) instead.

[2021-09-22 11:32] pchan commented on #100748
Filed #105165 for kube-proxy. Are we good to close this issue ?

[2021-09-22 11:34] zhangguanzhang commented on #55713
Did you solve this problem？

[2021-09-22 11:42] jsafrane commented on #104976
Kubelet needs to clean up bind-mounts it created. At the same time, kubelet can be restarted at any time, for example after unmounting the subpath bind mounts and before unmounting the real volume mounts. Therefore before unmounting anything it ensures that it's still mounted and it does so by reading /proc/mounts. We haven't been able to find any other reliable mechanism to ensure that kubelet do

[2021-09-22 11:58] serathius commented on #100748
sg

[2021-09-22 11:58] #100748 closed

[2021-09-22 11:58] deads2k commented on #104554
A token bucket rate limiter will only refill at the defined rate.  If enough requeues are added, it will take a long time for the refill rate to clear the queue.

If a max wait is introduced, then requeues will be inserted into the queue faster than the refill rate of the token bucket rate limiter.  A max wait will violate the token bucket rate limiter and we want token bucket rate limiting behavi

[2021-09-22 12:31] jmprovencher commented on #105074
Perfect thanks! I know that currently it's not distinguished from any other edit operation, however I really feel like it would make sense to separate both. We tend to try to forbid developers to be able to manually edit a deployment in a production environment (for obvious security reasons) but we would like them to be able to restart the deployment if necessary.

[2021-09-22 12:53] chrisohaver commented on #105189
FYI, There's a reload plugin bug reported in coredns 1.8.5, where coredns crashes when its configuration is changed.   https://github.com/coredns/coredns/issues/4880.

[2021-09-22 12:57] m-yosefpor commented on #68737
Actually the manual steps is the pain (pvc resizing). All our changes should be applied via PRs which should be approved and then deployed automatically to staging and then if app is healthy, to production. Right now we can resize our apps with the manual steps described in this thread, but it does not fit in gitops workflow.

[2021-09-22 12:58] fromanirh commented on #102880
/remove-lifecycle stale

[2021-09-22 13:13] aojea commented on #105192
yeah, ipvs kube-proxy doesn't have some of the latest "conntrack stale" fixes like https://github.com/kubernetes/kubernetes/pull/104151/ , mainly because I'm not very familiar with IPVS and I can't know if all of them are needed or only some of them.

[2021-09-22 13:18] primeroz commented on #68737
:+1:

[2021-09-22 13:29] alculquicondor commented on #93500
My main worry is step 2. That plugin might misuse those functions in inappropriate extension points. For that, I would like to understand why you can't achieve what you want within the existing framework. Can you provide a summary of that here?

[2021-09-22 13:44] spiffxp commented on #99517
/priority important-longterm

[2021-09-22 13:44] danwinship commented on #92369
the cloud controller has its own private copy of basically this entire directory, so this is a good candidate for moving to component-helpers or something

[2021-09-22 13:47] rikatz commented on #92369
@nehaLohia27 is going to start tackling with moving GetHostname() (and the testers, etc) from `pkg/util/node` to component-helpers/node/hostname

On past I've opened 2 PRs that can be used as a reference

https://github.com/kubernetes/kubernetes/pull/101157/files
https://github.com/kubernetes/kubernetes/pull/100931/files

[2021-09-22 13:47] rikatz commented on #92369
ok cool Dan, we were aligning that right now.

@nehaLohia27 as proposed by Dan, try to move all the pkg/util/node :)

[2021-09-22 14:01] neolit123 commented on #105189
Thanks for the notice @chrisohaver
I guess we should wait for the next patch.

[2021-09-22 14:13] fromanirh commented on #101945
/remove-lifecycle stale

[2021-09-22 14:24] liggitt commented on #105186
Yeah... the windows-specific behavior is undocumented... I think I would still lean toward making the `restricted` level require `runAsNonRoot: true` or a non-zero `runAsUser`.

[2021-09-22 16:04] khenidak commented on #105182
iirc we have to ignore and log the error. Because there some cloud providers that sets this as " ". And since there is no validation in place for that, we can not afford to add validation now (break the api). What i am looking into is limit the amount of times we log this error on proxy or remove it at all.

[2021-09-22 16:24] vasim38 commented on #105172
Can someone please take a look ?

[2021-09-22 16:32] Huang-Wei commented on #93591
Theoretically, it's doable. But that means you have to sort ALL the pods on each pop() - i.e., with a time complexity O(N•logN) instead of O(logN). I don't think we'd like to go in this direction.

I don't quite follow, what do you mean by "deleted pods will affect the results".

[2021-09-22 17:11] chrishenzie commented on #103132
/remove-lifecycle stale

[2021-09-22 17:22] Huang-Wei commented on #93500
I'm also concerned with making the entire `SchedulerCache` manipulatable. This'd over-expose the scheduler internals  IMO.

I'd prefer to build a lightweight "contract" between schedulerCache and plugins. For instance, we can follow #103383 to setup a reserved StateKey to store pods that need to be assumed/forgot. In this way, both in-tree and out-of-tree plugins follow the same pattern: if you wa

[2021-09-22 17:23] SergeyKanzhelev commented on #105053
/assign @haircommander

[2021-09-22 17:30] ehashman commented on #105053
There appears to be a spike on the same versions of k8s (v1.23.0-alpha.1.289+c964fe6001376c), I'd consider checking the version of containerd as well as the scalability tests.

[2021-09-22 17:36] SergeyKanzhelev commented on #105023
/assign @mmiranda96

feel free to unassign yourself if decided to

[2021-09-22 17:36] everpeace commented on #93591
Yeah, rebuilding heap takes O(N•logN).  However, if we could step away from a heap and a user could give the function for pod rank in the queue instead, I think we could just use a hash map for the internal queues.  This can achieve `O(N)` pop (scan the map and select the minimum score) and `O(1)` add/update/delete.  In this case, we should support both data structures (heap and hashmap) for inter

[2021-09-22 17:36] SergeyKanzhelev commented on #105025
/help

[2021-09-22 17:37] ahg-g commented on #86373
@Huang-Wei we have tests running on daily basis on perf-dash, I am wondering if we can add `pod_scheduling_duration_seconds` to [perf-dash](https://github.com/kubernetes/perf-tests/blob/81c96c34e3c1f11c5fe91744ef7ce7bf44c2fe5c/clusterloader2/pkg/measurement/common/scheduler_latency.go#L39), this metric includes the time a pod was waiting until scheduled broken down by attempts, if there is is sign

[2021-09-22 17:38] ehashman commented on #105163
/triage accepted

[2021-09-22 17:38] SergeyKanzhelev commented on #105163
/triage accept

[2021-09-22 17:39] SergeyKanzhelev commented on #105053
/triage accept

[2021-09-22 17:44] SergeyKanzhelev commented on #104288
/kind documentation
/remove-kind bug
/triage accepted
/assign @ehashman

[2021-09-22 17:45] Jc2k commented on #72236
/remove-lifecycle stale

Are there any updates on this? The security issue still where you have an external ip on kube-ipvs0 and can now access internal ports still seems to be present?

[2021-09-22 17:48] SergeyKanzhelev commented on #104445
Do you know if this is fixed in metrics server?

[2021-09-22 17:49] SergeyKanzhelev commented on #104445
/triage needs-information

Can you please add info on name of timeserias and other steps to repro ti understand exactly what is needed here. Thank you!

[2021-09-22 17:49] Jc2k commented on #72236
FWIW, looks like kube-router did a similar fix to the one proposed by @rmt [here](https://github.com/kubernetes/kubernetes/issues/72236#issuecomment-483452622).

[2021-09-22 17:52] SergeyKanzhelev commented on #102763
/close

this sounds like a feature request that needs a proper KEP.

[2021-09-22 17:52] #102763 closed

[2021-09-22 17:55] ehashman commented on #86984
/close

Since we are deprecating this flag, I think there's no point in fixing any bugs here.

[2021-09-22 17:55] #86984 closed

[2021-09-22 17:57] SergeyKanzhelev commented on #104815
/close

if you can get kubelet logs when the issue repro, it probably be enough if this is a k8s problem. Please re-open if you have more information

[2021-09-22 17:57] #104815 closed

[2021-09-22 17:59] SergeyKanzhelev commented on #104629
kubelet logs from the node with this container might help. Also if there is a chance to try it with 1.22, it will help us understand whether the bug is already fixed.

[2021-09-22 18:03] marosset commented on #86984
@ehashman Thanks for the updates and closing this issue!
(and sorry I have been slow to respond on this issue)

[2021-09-22 18:11] verult commented on #101791
/remove-lifecycle stale

[2021-09-22 18:18] txomon opened #105198 "hpa resources using apiVersion autoscaling/v2beta2 conflict with autoscaling/v1"
#### What happened:

When creating hpa resources with apiVersion v2beta2, the resources get all translated to v1 regardless of whether they are retrocompatible or not, making it impossible to know whether a resource that is returned is the real underlying resource.

#### What you expected to happen:

1) Only hpa apiVersion v2beta2 that use fully compatible configuration should be returned when que

[2021-09-22 18:32] txomon commented on #105198
/sig autoscaling

[2021-09-22 18:33] Huang-Wei commented on #86373
Are the pods in perf-dash scheduled successfully in one attempt? If so, I don't think `pod_scheduling_duration_seconds` can tell whether #100347 has saved us unnecessary attempts or not.

[2021-09-22 19:02] haircommander commented on #105053
it seems between runs [one](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1435968546407452672/clone-log.txt) (around 227), [two](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1435930293679689728/clone-log.txt) (around 249) and [three](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2

[2021-09-22 19:26] bobbypage commented on #102818
/remove-lifecycle stale

[2021-09-22 19:58] #104922 closed

[2021-09-22 20:02] ahg-g commented on #86373
We don't know, we don't have a metric exposed in the dashboard to track that.

[2021-09-22 20:08] manugupt1 commented on #104976
Hi,

Test results from 1.20.

On the last night's instance, I still got the same amount of mount points.

For the second question about blocking. I was able to reproduce the issue again get around 4000 dangling mounts.

[code]

The reconciler is going in loops

[code]

[code]

I can see the above log going infinitely with different pods names. Not sure why.

[2021-09-22 20:09] unixfox commented on #90131
/remove-lifecycle stale

[2021-09-22 20:25] dims commented on #105053
@haircommander your `two` and `three` seems to be the same url?

@SergeyKanzhelev the `nodes.yaml` in `one` and `two` show the same containerd version
- https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1435968546407452672/artifacts/nodes.yaml
- https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/143593029367968972

[2021-09-22 20:29] alculquicondor opened #105199 "Job controller: Updates might override stale data"
When investigating #105179, @liggitt and I discovered that the job controller does a GET request of the job before issuing any Job status update.

https://github.com/kubernetes/kubernetes/blob/752c4b7f0b3630fb58f8489cb30748be79cde4f2/pkg/controller/job/job_controller.go#L1357-L1373

This is problematic because it can masquerade any incompatibilities between the job sync and the latest state of the

[2021-09-22 20:35] haircommander commented on #105053
oops sorry updated! seems that one is [also the same](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1435981633135054848/artifacts/nodes.yaml)

[2021-09-22 20:38] aojea commented on #105182
yeah, validation train has left the station some time ago :smile:
I was trying to mean that the error should point to the service causing the issue, so users can act on it ...

[2021-09-22 20:40] dimakow commented on #104626
@krahil can this issue be closed then?

[2021-09-22 20:45] alculquicondor opened #105200 "Tracking with finalizers might count a Pod more than once"
This bug is limited to feature gate JobTrackingWithFinalizers.

Investigating #105179, I discovered that sometimes a Pod might be counted more than once.
This could be due to #105199, but there is another failure scenario:

1. Pod A finishes, triggering a sync
2. During sync, Job controller:
    1. Adds UID to `status.uncountedTerminatedPods` status: `{succeeded: 0, uids:[A]}`
    2. Removes final

[2021-09-22 20:45] alculquicondor commented on #105200
Thanks to liggit@ for helping me come up with a solution. I'll send a PR soon.

[2021-09-22 20:54] PushkarJ commented on #104083
CVE-2021-33910 seems to affect systemd. AFAIK, we do not use systemd at runtime in k8s container images, so IMO cherry picks may not be needed as the impact of this CVE is minimal at best.

@vinayakankugoyal With that in mind and since https://github.com/kubernetes/kubernetes/pull/104142 already fixes this maybe the issue can be closed  ?

[2021-09-22 20:55] Frankkkkk commented on #99305
/remove-lifecycle stale

[2021-09-22 21:07] apelisse commented on #105146
The best workaround for now is probably to json merge patch the whole list with the resourceVersion set.

I don't know much about the code nor the bug, but it really looks like a bug rather than a feature, so we should be able to fix it without causing too much surprise to other users. We generally have limited interest fixing smp but that seems worthy.

Is somone interested in looking at it?

[2021-09-22 21:59] vinayakankugoyal commented on #104083
I don't know what the guidance on this stuff in kubernetes is. The debian-base image we use has this vuln and hence the kube-proxy images built from that would also have this vuln. Since we fixed it in master would be want to backport it to n-1 and n-2?

[2021-09-22 22:18] Jc2k commented on #93456
/remove-lifecycle stale

[2021-09-22 22:24] PushkarJ commented on #104083
The policy for these kind of scenarios is still being built out here: https://github.com/kubernetes/community/pull/5853

Will leave it to Release team to make the final decision on cherry picks until then!

[2021-09-22 23:59] ehashman commented on #104459
Scratch notes from reproducing on an OpenShift cluster...

[code]

Concur that MakeLabelPairs/NewDesc are by far the bulk of kubelet allocations:

<table>
<thead>
        <tr>
          <th id="flathdr1">Flat</th>
          <th id="flathdr2">Flat%</th>
          <th>Sum%</th>
          <th id="cumhdr1">Cum</th>
          <th id="cumhdr2">Cum%</th>
          <th id="namehdr">Name</th>
          <th

[2021-09-23 00:54] yangjunmyfm192085 commented on #104445
in metrics server v0.6.0, we will use /metrics/resource Kubelet endpoint instead summary API

[2021-09-23 01:30] sbwfnhn commented on #104034
Is crio 1.21.3 fixed? This problem still occurs after the upgrade.

[code]

[2021-09-23 01:35] yangjunmyfm192085 commented on #104445
as issue [#803](https://github.com/kubernetes-sigs/metrics-server/issues/803) described ,
`run these stats/summary?only_cpu_and_memory=true queries. In particular, I ran these queries before, during, and after the time I was getting missing nodes from the output of kubectl top nodes, which was running on a 10-second watch loop.`

the result is:
for example : the startup time of the node test-us-we

[2021-09-23 01:44] uptownaravi commented on #101459
/close

[2021-09-23 01:44] #101459 closed

[2021-09-23 02:14] zerkms commented on #92851
/remove-lifecycle stale

[2021-09-23 02:51] KanShiori opened #105202 "kube-scheduler run failed when use v1beta2 `KubeSchedulerConfiguration` and Scheduler Policy"
#### What happened:
Before Kubernetes v1.22, I used Scheduler Policy and `--scheduler-name` flag to get my custom scheduler.
In Kubernete v1.22, `--scheduler-name` is removed, so I want to use v1beta2  `KubeSchedulerConfiguration` to set the scheduler name.
But I got a error:
[code]

Then I use v1beta1 `KubeSchedulerConfiguration`, it works.

#### What you expected to happen:

#### How to reproduc

[2021-09-23 02:53] KanShiori commented on #105202
/sig scheduling

[2021-09-23 04:17] krahil commented on #104626
Sure, this issue can be closed now.

[2021-09-23 04:17] #104626 closed

[2021-09-23 05:02] honghaiw commented on #104491
Hi,
Some of our telco customers are using the IPv4 addresses of their internal private Harbor services, in these cases, customers export Harbor services using literal IPv4 address directly instead of a FQDN, perhaps they don't want to configure new FQDNs on their DNS server.
They will meet this issue if they want to use IPv6 address for private Harbor services in future.
If this issue will not be

[2021-09-23 05:13] MadhavJivrajani commented on #103096
/remove-lifecycle stale
/lifecycle frozen

[2021-09-23 05:53] hanamantagoudvk opened #105203 "Downward API doesn't support status.podIPs to be used"
Hi ,

I am trying to use downward API in daemonset spec to set `IP ` and `IP6` environment variables using the pod's status.podIPs array.

But it throws error as shown below.

Whether downward API could be enhanced to support accessing status.podIPs[0] or status.podIPs[1] ?
With dual-stack feature implemented , this makes a case for accessing both values.

[2021-09-23 05:54] hanamantagoudvk commented on #105203
/sig api

[2021-09-23 05:56] hanamantagoudvk commented on #105203
/sig api-machinery

[2021-09-23 06:39] denkensk commented on #93591
Sorry, I mean, if we delete the running pod, the resource usage will be reduced, and the rate of this tenant will be reduced. This may affect the order of queues.

[2021-09-23 06:48] luisyonaldo commented on #105068
@KnVerey I did not know about `kubectl config set`, sadly it does not work for the `exec` options.

[code]

The issue is that [Exec](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/clientcmd/api/types.go#L144) config is `Exec *ExecConfig` and current logic does not handle struct types that are pointers.

I'll see if I can find my way trough go reflection and

[2021-09-23 06:57] pacoxu commented on #105203
[code]
This is supported since https://github.com/kubernetes/kubernetes/pull/83123 v1.17+.

[2021-09-23 07:06] denkensk commented on #93500
1. This can be special. Considering the topology information like gpu topology, We will select a suitable set of resources for a set of pods(like batch jobs). So it's needed to reserve resources for pod in advance.
2. Another reason is that It's better to completely move the logic of generic_scheduler.go to run as plugins. Moving assume/forget to run as plugins fits the framework's reserve/unreser

[2021-09-23 07:13] denkensk commented on #93500
I think it's a good idea. This can not only ensure the security of cache, but also provide the way for the plugins to operate internal cache on assume/forget Pods. I can do some research to test this.

[2021-09-23 07:42] george-angel commented on #75457
/remove-lifecycle stale

[2021-09-23 08:07] vaibhav2107 commented on #99854
/remove-lifecycle stale

[2021-09-23 08:10] vaibhav2107 commented on #84210
/remove-lifecycle stale

[2021-09-23 08:54] bobymark commented on #72370
Hi everyone,
I have a K8s setup, everything is working fine for me.
When I ping the pod service IP. there is response like below.

_Request timeout for icmp_seq 1
92 bytes from 10.20.60.15: Redirect Host(New addr: 10.20.60.103)
Vr HL TOS  Len   ID Flg  off TTL Pro  cks      Src      Dst
 4  5  00 0054 5d0d   0 0000  3f  01 ba9e 10.20.19.111  10.20.60.103

But at the same time, I am able to ssh and

[2021-09-23 08:57] r10r commented on #94825
/remove-lifecycle stale

So v1.22 is out for a while now.
Is there someone who has already upgraded to v1.22  and can confirm that the getFsInfo errors  are fixed?

[2021-09-23 08:58] r10r commented on #94825
So v1.22 is out for a while now.
Is there someone who has already upgraded to v1.22  and can confirm that the getFsInfo errors  are fixed?