[2022-01-28 22:44] ww3pl commented on #107844
/sig cluster-lifecycle

[2022-01-28 23:20] ehashman commented on #107733
@TeddyAndrieux my mistake, I just saw the 1.22 backport at https://github.com/kubernetes/kubernetes/pull/106394 - you are correct. Was going to drop a line here but you beat me to it :)

[2022-01-28 23:36] uhari03 commented on #105746
@tallclair I'm interested in working on this, but it'll be my first time working with publishing k8s images.

Do we have a GCR present already for this? If yes, how do I get access or reference it for the cloudbuild.yaml files.

If no, should I be the one creating the google groups + GCRs?

[2022-01-28 23:40] uhari03 commented on #106401
since it's been a couple of months, i'm going to try and take a stab at this
/assign

[2022-01-28 23:57] smarterclayton commented on #105204
While investigating fix for 3 (cancelling the syncPod method early) I discovered a very rare race condition in the kubelet that could lead to pods reporting exit code 0 when they had never had a successful container run.  That's addressed in https://github.com/kubernetes/kubernetes/pull/107845, but does not impact the original issue here.

[2022-01-29 00:40] ww3pl commented on #107844
/area kubeadm

[2022-01-29 00:52] msau42 commented on #101333
Similarly, https://github.com/kubernetes/kubernetes/pull/106322 turned the cloning tests into offline tests. I think we should also add corresponding online tests.

[2022-01-29 01:23] draeath commented on #28746
coreutils' `tail` has the following. However it's implemented, it would be super nice if `kubectl logs` had similar.

    -F     same as --follow=name --retry

    -f, --follow[={name|descriptor}]
           output appended data as the file grows; an absent option argument means 'descriptor'

    --retry
           keep trying to open a file if it is inaccessible

[2022-01-29 02:15] TBBle commented on #69608
/reopen

https://github.com/kubernetes/kubernetes/issues/69608#issuecomment-1002681415 intended to keep this ticket active, but named the wrong lifecycle, I assume by accident.

[2022-01-29 02:20] msau42 commented on #96635
I think the key here is that this issue occurs if the kubelet restarts. This points to a problem with volume reconstruction logic. cc @jingxu97 @gnufied
@kubernetes/sig-storage-bugs

[2022-01-29 02:57] yxxhero commented on #107838
/sig node

[2022-01-29 03:01] yxxhero commented on #107838
I didn't understand your question, but I think it's normal. Do you have any specific needs? I think you should set restart policy: never (or onfailure) @hj-johannes-lee

[2022-01-29 03:58] gjkim42 commented on #107733
@TeddyAndrieux
Can you explain how can we reproduce the problem? I think it is hard for me to reproduce the issue.

[2022-01-29 04:10] gjkim42 commented on #107733
Cherry-picking https://github.com/kubernetes/kubernetes/pull/107695 to v1.22 looks fine.

[2022-01-29 04:41] celiawa opened #107849 "Umount intree volume failed when csiMigrationRBD enabled."
### What happened?

Volume couldn't be umount successfuly for an intree rbd volume when csi migratation enabled.

With kubelet loglevel=4, can see the csi plugin volume path is unmounted.
[code]

The pv is still mounted to the intree plugin path(the line of rbd2)/var/lib/kubelet/pods/c6aaef09-ce5b-44b2-944c-7a8a72bafb26/volumes/kubernetes.io~rbd:
[code]

Because the volume still mounted in intree

[2022-01-29 05:22] celiawa commented on #107849
/sig storage

[2022-01-29 06:52] celiawa commented on #107849
When "kubectl get no worker1 -oyaml", found that the same intree volume showed twice in volumesAttached section, one is the intree image format, the other is the csi migrated format. Not sure whether this matters for the umount issue.

[code]

[2022-01-29 06:59] liushi001 commented on #107483
I checked it, but I found our version has not include its prerequisites #104743.

[2022-01-29 07:50] TeddyAndrieux commented on #107733
It was a bit tricky but I manage to reproduce by deploying a single-node and then I edit a first time the kube-apiserver static pod manifest and wait for the pod to be deleted, and once it's deleted and not yet re-created I edit the manifest a second time then if you are (un)lucky the pod will never restart

Not a super easy way to reproduce, I agree 😄

Using this "method" I manage to reproduce se

[2022-01-29 08:04] jlsong01 commented on #107562
@sftim Hey, I would like to add a warning in case the key rewritten to uppercase.

Since it has not been triaged, could I go for it now?

[2022-01-29 08:55] damalhot commented on #107743
Upgraded to v1.22.6 and still facing the issue. Giving you a background of my requirement:  I need to know IPv6 address of the host on which a pod is running. So I used `status.hostIP` of a pod. This will return me IPv6 address of node only if I have set --node-ip=IPv6,IPv4. If I do not set (i.e. let it default single stack on IPv4) or set to IPv4,IPv6 (i.e. dual-stack), `status.hostIP` returns me

[2022-01-29 09:10] #102517 closed

[2022-01-29 10:48] #107766 closed

[2022-01-29 11:47] gjkim42 commented on #107733
Thanks to @TeddyAndrieux. I can reproduce this bug quite easily.

1. Make a static pod not terminating within graceTreminationSeconds.
2. Change the static pod manifest with the same name (e.g. I simply change its `.spec.resources.requests.cpu`)
3. Change the static pod multiple times again while the static pod is terminating(updating)

Then, the static pod with the same name never starts again.

[2022-01-29 11:51] knabben opened #107853 "Improve network policy tests reliability on Windows nodes"
### What would you like to be added?

Decrease the TCP Retransmission time of AGNHOST Windows image from 3 seconds to 1 second.
Probe timeout can be decreased as well to 2 seconds.

The RTO can be consistent on both Linux and Windows machines, providing a more reliable probing on network policy test suite.

Default RTO on windows agnhost:

[code]

### Why is this needed?

The [Windows Operational

[2022-01-29 11:51] knabben commented on #107853
/sig-windows
/sig-network

/assign @hxietkg
/cc @claudiubelu

[2022-01-29 11:53] knabben commented on #107853
/sig windows
/sig network

/assign @hxietkg
/cc @claudiubelu

[2022-01-29 12:14] aojea commented on #107853
RTO is a system value, isn't it?
I don't think tests should modify global system values

what error margin are we referring here? is this about specific tests or in general?

[2022-01-29 13:13] #104173 closed

[2022-01-29 13:20] gjkim42 commented on #107733
The bug is still reproduced at master(after #107695)

/reopen

The problem is that terminating static pod requests termination to podWorkers and removes it from podManager.

When a static pod is waiting to start and termination requested, the static pod is enqueued to workQueue at podWorkers, but it cannot be re-requested again as it has been already removed from podManager.

https://github.com/ku

[2022-01-29 13:47] gjkim42 opened #107856 "make test_e2e_node fails by default with the docker deprecation."
### What happened?

$ make test-e2e-node

fails with an error `[7] E0129 22:41:05.743374  624494 test_context.go:496] Unsupported CRI container runtime: "docker"`

because of the docker deprecation. I think we have to fix the default options for helper scripts.

### What did you expect to happen?

$ make test-e2e-node

succeeds in common cases by default.

### How can we reproduce it (as minimally

[2022-01-29 14:05] djschny commented on #69608
/reopen

[2022-01-29 15:19] andyzhangx commented on #106543
Azure File CSI driver supports nfs protocol: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/nfs, and this doc may be helpful: https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/718

[2022-01-29 15:27] liggitt opened #107857 "pull-kubernetes-integration timing out"
### Which jobs are flaking?

pull-kubernetes-integration

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&graph-metrics=test-duration-minutes

### Which tests are flaking?

Unclear, the entire job is regularly failing with a 2 hour timeout

Relevant failures:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1487329344

[2022-01-29 15:31] liggitt commented on #107857
bad runs all have a junit stdout of 700+ MB, good runs are ~300-400MB

[2022-01-29 15:41] neolit123 commented on #107844
hi,

i don't think that is in scope of the command. the command's purpose is to generate a kubeconfig from state on disc, such as a CA and the kubeadm configuration file.

the kubeadm configuration API documentation is linked from so many different locations...including the ones you've mentioned.

both the `init` and `join` pages have:

the kubeadm config page has:

i don't think those pages need

[2022-01-29 15:41] #107844 closed

[2022-01-29 16:12] liggitt commented on #107857
taking a random failed test in a random failed run, it looks like etcd dies, then the test keeps trying until the 10 minute timeout:

[code]

[2022-01-29 16:21] liggitt commented on #103512
this started happening again, but without a clear cause. closing this in favor of a fresher investigation issue https://github.com/kubernetes/kubernetes/issues/107857

/close

[2022-01-29 16:22] #103512 closed

[2022-01-29 16:33] aojea commented on #107857
/cc

[2022-01-29 16:54] yardenshoham commented on #50791
/assign

[2022-01-29 18:34] doshyt commented on #70249
@justaugustus hi, I'm with the Bug triage team for 1.24 - we noticed that this issue has not been updated for a while. I wonder if there is any work planned or expected that would go into 1.24?  Thanks!

[2022-01-29 18:41] doshyt commented on #105841
Hi all, Bug triage for 1.24 here. Wanted to check what's the expectation for this issue w.r.t 1.24? Is it still relevant and planned to be completed? Also, I see quite a few dependencies in its history - would be great to get an updated summary of blockers if any, and see whether 1.24 is still a relevant target. Thanks!

[2022-01-29 18:53] doshyt commented on #98035
@liggitt - I'm from Bug triage for 1.24. This issue caught my eye since there were no updates for a long time. It seems everything is done and ready to be wrapped. Do you prefer this issue to be closed after 1.24 is released or now while we are in it? Thanks!

[2022-01-29 19:18] #100844 closed

[2022-01-29 19:19] knabben commented on #107853
Will need to test - was expecting to be able changing the rto with netsh inside the container only, If this is not possible, totally agree to not change global values.

default rto for windows is 3s, the probe timeout is 3s (on netpol test code), not giving time to probe TCP retransmission, in case the first packet is lost. The other option is to simply increase the probeTimeout values above the r

[2022-01-29 19:38] aojea commented on #107853
if first packet is lost that network is very unreliable , I mean, what benefit do you have in a cluster that passes the test but has a high packet drop rate?

[2022-01-29 19:45] aojea commented on #107853
I think we have very strict probe timeouts and we can use higher values and consolidate in, let's say 5 seconds , the TCP stack will handle the initial packet lost

[2022-01-29 19:47] knabben commented on #107853
Yep, probably it will not pass much of the tests even if the change is applied.
Still think the probe timeout can be fixed for Windows though, to at least > rto.

[2022-01-29 19:48] aojea commented on #107853
sorry, @knabben I edited that comment, I didn't get it right, you are right and we should leave room for the OS to handle it, but I think that the right fix is in increasing the probes timeouts

[2022-01-29 19:50] knabben commented on #107853
Thanks Antonio. Yes, agree on the approach as well. @hxietkg is working on it.  I will change the description after his input.

[2022-01-29 19:51] aojea commented on #107853
we don't have consistency, but 5s is also used in some service tests,

[code]

[2022-01-29 20:59] NikhilSharmaWe commented on #106401
/assign

[2022-01-29 21:18] #104419 closed

[2022-01-29 21:19] aojea commented on #107857
Thansk to @MikeSpreitzer, now we have metrics on this job https://github.com/kubernetes/kubernetes/pull/106190

His script expect a tarball, so I've modified it to use a directory directly, because we can access the gcs bucket directly with `gsutil`

[code]

I've dumped the metrics from this job https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/107847/pull-kubernetes-integration/1487329344

[2022-01-29 22:18] #104638 closed

[2022-01-29 23:18] Hecim1984 commented on #104432
Pomoc mi treba koliko imam ETH, BTC i ostali coinna? I gdje mogu  ⛰🏔⛏ rudarit?

[2022-01-30 01:43] liggitt commented on #107463
the cloneHeader panic matches what was fixed in https://github.com/kubernetes/kubernetes/pull/107452 and released in v1.22.6

[2022-01-30 01:43] #107463 closed

[2022-01-30 04:18] bryfry opened #107862 "apiserver: Flag docs references service-account-signing-key flag which doesn't exist"
### What happened?

Within kube-apiserver the `service-account-signing-key` flag is referenced in the help string but this flag does not exist
https://github.com/kubernetes/kubernetes/blob/63e7ee43bb5394abd6dd5010be47ebcb22ec0ef8/pkg/kubeapiserver/options/authentication.go#L316-L321

### What did you expect to happen?

kube-apiserver should reference the correct flag `service-account-signing-key-f

[2022-01-30 04:19] bryfry commented on #107862
/sig-docs
/sig-cli

[2022-01-30 04:20] bryfry commented on #107862
/sig docs
/sig cli

[2022-01-30 04:20] #104524 closed

[2022-01-30 06:22] shuheiktgw commented on #107702
Thank you for your input, @BenTheElder! Let me check if we can reduce the concurrency 👍
Let me know if you already know where I should look into!

[2022-01-30 06:23] shuheiktgw commented on #107702
/assign

[2022-01-30 07:13] shuheiktgw commented on #107702
Created a PR to reduce the parallel run to 1!
https://github.com/kubernetes/kubernetes/pull/107864

[2022-01-30 07:40] BenTheElder commented on #107702
That seems excessive, that's not what we're doing in presubmit is it?

[2022-01-30 09:25] #94285 closed

[2022-01-30 10:38] Mirdrack commented on #79365
My application is running on a pod with a `sql-proxy` as **sidecar**.
I have solved this adding resource limits to the sidecar definition on the deployment but now I'm confused about how I should read the metrics.
Should I read the value as an average of my containers?
[code]
Also I have trying set this on my HPA definition but I have faced two issues:
1.- Documentation is not clear about how to r

[2022-01-30 12:03] painhardcore commented on #91552
/remove-lifecycle stale

[2022-01-30 14:03] DiptoChakrabarty commented on #100460
Hi @justaugustus @puerco I am part of the bug triage team for v1.24. We noticed that this issue hasn't been updated for a while. Just wanted to check if there is any work planned that would go into this.

[2022-01-30 14:06] DiptoChakrabarty commented on #105353
Hi @uhari03 I am part of the bug triage team for v1.24 , there hasn't been any activity for this issue for a long time , wanted to check up if there is any work planned for this. Thank You.

[2022-01-30 15:08] JanJannos opened #107866 "Kubernetes (K3S) POD gets "ENOTFOUND" after 5-20 hours of airing time"
### What happened?

I'm running my Backend on Kubernetes on around 250 pods under 15 deployments , backend in written in NODEJS.

Sometimes after X number of hours (5<X<30) I'm getting ENOTFOUND in one of the PODS , as follows:

{
  "name": "main",
  "hostname": "entrypoint-sdk-54c8788caa-aa3cj",
  "pid": 19,
  "level": 50,
  "error": {
    "errno": -3008,
    "code": "ENOTFOUND",
    "syscall": "

[2022-01-30 16:28] #103247 closed

[2022-01-30 17:12] aojea commented on #107866
This seems related to the K3S distribution https://github.com/external-secrets/kubernetes-external-secrets/issues/860#issuecomment-967111142
Please , open the issue in their repository
/close

[2022-01-30 18:20] xmudrii commented on #97294
This is still an issue to my knowledge.
/remove-lifecycle stale

[2022-01-30 18:32] vaibhav2107 commented on #105332
/remove-lifecycle stale

[2022-01-30 18:33] vaibhav2107 commented on #105114
/remove-lifecycle stale

[2022-01-30 18:36] vaibhav2107 commented on #97007
/remove-lifecycle stale

[2022-01-30 20:52] brianpursley commented on #91847
/remove-lifecycle stale

[2022-01-30 21:37] JohnRusk commented on #102672
@wojtek-t you wrote:

I'm finding that the lack of watch cache chunking is coming up more and more in discussions that I have with colleagues about load management.

So I have a question/suggestion - what makes the chunking from watch cache hard?  Is the difficulty in _incrementally querying the watch cache_ (one page at a time)?  If so, why not _identify_ all the objects to be returned in the fir

[2022-01-30 21:51] JohnRusk commented on #102672
Related issue https://github.com/kubernetes/kubernetes/issues/82655

[2022-01-30 22:03] dbason commented on #106055
/remove-lifecycle-stale

[2022-01-30 22:03] dbason commented on #106055
/remove-lifecycle stale

[2022-01-30 22:08] sftim commented on #107562
/triage accepted

[2022-01-30 22:08] sftim commented on #107562
PRs welcome!
/language en

[2022-01-30 22:09] sftim commented on #107562
Oh, sorry. I was thinking this was the _documentation_ issue. I'm the wrong person to ask about adding the warning to `kubectl`; that's a decision for [SIG CLI](https://github.com/kubernetes/community/tree/master/sig-cli).
/remove-triage accepted

[2022-01-30 22:09] sftim commented on #107562
/transfer kubectl

[2022-01-30 22:17] stephen-dexda commented on #82525
/remove-lifecycle stale

[2022-01-30 22:30] #91072 closed

[2022-01-30 23:44] ahg-g commented on #107679
/triage accepted

[2022-01-31 00:32] #95735 closed

[2022-01-31 03:21] mgutierrez98 commented on #94901
/remove-lifecycle stale

[2022-01-31 03:21] mgutierrez98 commented on #94901
/remove-lifecycle rotten

[2022-01-31 03:33] SurajPratap10 opened #107873 "Missing annotation to specify private, static IPs (AWS NLB)"
### What would you like to be added?

Only annotation to specify EIP allocations for an external NLB is available:

// ServiceAnnotationLoadBalancerEIPAllocations is the annotation used on the
// service to specify a comma separated list of EIP allocations to use as
// static IP addresses for the NLB. Only supported on elbv2 (NLB)
const ServiceAnnotationLoadBalancerEIPAllocations = "service.beta.k

[2022-01-31 03:44] SurajPratap10 opened #107874 "Fake metadata: Concurrent map usage because of mutation of scheme"
### What would you like to be added?

https://github.com/kubernetes/kubernetes/blob/f90267f0629e546d1c5217c19138e2e8f68bfa92/staging/src/k8s.io/client-go/metadata/fake/simple.go#L50-L52

Lines 50 to 52 in f90267f
![Screenshot 2022-01-31 091220](https://user-images.githubusercontent.com/92919173/151735928-774e907c-c34e-4712-9f48-e45f8da663ba.jpg)

### Why is this needed?

This scheme mutation leads

[2022-01-31 05:00] MadhavJivrajani commented on #107874
/sig api-machinery

[2022-01-31 06:28] jlsong01 commented on #107874
seems it's the dup of https://github.com/kubernetes/kubernetes/issues/107823, which I have been working on.

[2022-01-31 06:31] jlsong01 commented on #107874
/assign

[2022-01-31 07:04] #107862 closed

[2022-01-31 08:02] yxxhero commented on #106047
/remove-lifecycle stale

[2022-01-31 08:26] pohly commented on #105392
/remove-lifecycle rotten

[2022-01-31 08:29] pohly commented on #105392
@pchan started working on such a tool in the context of issue #102237.

/assign @pchan

[2022-01-31 09:34] MadhavJivrajani commented on #107874
Thanks for bringing that up @jlsong01!
/close
@SurajPratap10 please follow up on that issue if needed!

[2022-01-31 09:34] #107874 closed

[2022-01-31 09:35] MadhavJivrajani commented on #107873
/sig network

[2022-01-31 09:36] MadhavJivrajani commented on #107873
/sig cloud-provider
(? please feel free to remove if not relevant)

[2022-01-31 09:43] MadhavJivrajani commented on #107856
/sig node

[2022-01-31 09:43] MadhavJivrajani commented on #107856
/cc @adisky @endocrimes

[2022-01-31 09:52] sftim commented on #107825
I think this should be filed against `kubectl`
/transfer kubectl

[2022-01-31 09:54] MadhavJivrajani commented on #107828
/cc @jpbetz @apelisse

[2022-01-31 09:57] endocrimes commented on #107856
/assign

[2022-01-31 09:58] MadhavJivrajani commented on #107873
@SurajPratap10 is this a duplicate of https://github.com/kubernetes/kubernetes/issues/107822 ?
If so, please close this one!

[2022-01-31 10:06] MadhavJivrajani commented on #107788
@wuyudian1 do you think it'd be ok to open it against rancher and close this? If not, please provide more info on what we could help with, thanks!

[2022-01-31 10:10] mk46 commented on #19309
I think this issue is already addressed in https://github.com/kubernetes/kubernetes/pull/20313 and https://github.com/kubernetes/kubernetes/pull/23473.

[2022-01-31 10:10] mk46 commented on #19309
Can we close?

[2022-01-31 10:32] wojtek-t commented on #102672
We were discussing that in the past too. And at the high-level it seems to work but:
- that saved list is kept in-memory only - so what if a client for continuation reaches a different kube-apiserver?
- the cache storing those "precomputed" lists would obviously have to be TTL-based (or somewhat like that). Configuring it correctly so that it won't cause significant RAM increase is definitely not

[2022-01-31 11:01] wojtek-t commented on #107133
It's possible, but it's slightly more complicated that you think - because you need to additionally handle deletions.
It's certainly possible, but it will complicate the code...

No - etcd never goes back in time (unless you restore from backup, which k8s doesn't reliably support anyway).
So no - it will not be an issue later.

[2022-01-31 11:28] neolit123 commented on #107844
xref https://github.com/kubernetes/website/issues/31575

[2022-01-31 11:38] lukos commented on #76790
We are using Ubuntu so not that! Thanks.

[2022-01-31 11:41] aojea commented on #107857
another riddle we didn't solve, why the periodic job doesn't timeout?

https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5

[2022-01-31 12:01] rtheis commented on #73698
/remove-lifecycle rotten

[2022-01-31 12:54] wojtek-t commented on #59848
Sure - those are all good, but are only partial mitigations, not a full solution. And what we're trying to do is to provide full solution.
FWIW - https://github.com/kubernetes/enhancements/pull/3142 is one of the things we're looking at.

[2022-01-31 12:58] arvid-m commented on #105369
/remove-lifecycle rotten

[2022-01-31 13:32] liggitt commented on #107857
tagging api-machinery because the closest cause I can see seems to be somewhere in apiserver <-> etcd communication

[2022-01-31 14:28] matti commented on #54482
answering to myself: hostname override does not work as: https://github.com/kubernetes/kubernetes/pull/64661/files#diff-f38ee9f130deb5f4bcd61d857729306f8416f7810ee28a21f20d954f9f4faba3R360

[2022-01-31 14:38] #104746 closed

[2022-01-31 15:09] edsiper commented on #24677
You should use Fluent Bit:

https://docs.fluentbit.io/manual/pipeline/outputs/splunk

[2022-01-31 15:27] aojea commented on #107857
another angle, the most expensive suites:
- good job
[code]

- failing job
[code]

[2022-01-31 15:44] uhari03 commented on #105353
@DiptoChakrabarty waiting for a review/merge on the following right now: https://github.com/kubernetes/kubernetes/pull/105415

[2022-01-31 17:19] enj commented on #98035
/assign @ritazh

[2022-01-31 18:36] tkashem commented on #107857
cc @tkashem

[2022-01-31 18:46] MikeSpreitzer commented on #107857
@aojea : can we update the scripting so that we get the Prometheus scrapes both in the timeout and the success case?

[2022-01-31 18:58] acumino commented on #107313
Since this PR #105448 is closed and the PR which supersede it  #105797 is not tackling this issue. I think we should actively pursue this issue. WDYT?

[2022-01-31 20:07] aojea commented on #107857
I think that we should, also we should try to get some info about the environment to try to understand why the tests stop and etcd keeps running, maybe dumping the process running at that moment, ...

[2022-01-31 20:20] bertinatto opened #107886 "Kubelet panics when attaching CSI volumes"
### What happened?

The Kubelet panics when:

1. It's started with the `enable-controller-attach-detach=false` option;
2. When a CSI volume is attached to a Node.

From the Kubelet logs:

[code]

### What did you expect to happen?

Either document that this is not supported (and stop the panic'ing) or support and test this use case.

### How can we reproduce it (as minimally and precisely as possi

[2022-01-31 20:20] bertinatto commented on #107886
/sig storage

[2022-01-31 20:20] bertinatto commented on #107886
/assign

[2022-01-31 20:31] dims commented on #93620
i think we have sufficient guidance now https://github.com/kubernetes/sig-release/blob/master/release-engineering/platforms/guide.md

[2022-01-31 20:31] #93620 closed

[2022-01-31 20:35] yelhouti commented on #107591
@uablrek I tried crio, same issue, please /reopen

[2022-01-31 20:51] JohnRusk commented on #102672
Thanks for the detailed reply @wojtek-t . The issues you point out make sense.

I'm left with a couple of concerns about the current direction, which I'd like to share with you.  I'm not saying they're show-stoppers, but they do seem like the might be relevant.

My first concern is about the advice that would then be given to developers (e.g. of 3rd-party things that will run in K8s). If I underst

[2022-01-31 20:57] rbo54 opened #107888 "Scheduling issue when both pod affinity and pod topology spread are specified"
### What happened?

I'm trying to deploy 150 stateful sets, each containing a pod with a replica count of 4.
The pod specification specifies both pod affinity (since the four replicas in a namespace share a volume),
as well as they specify pod topology spread with a maxSkew  of 4.

These pods are deployed by a helm chart for the stateful set and pod, and a shell script invokes the helm chart
in a

[2022-01-31 21:01] bduffany commented on #92382
For anyone running into this, I managed to speed it up by deleting old entries in `~/.kube/config`. I had a bunch of configs for old AWS clusters I was no longer using, as well as a local `kind` cluster. I removed everything except GKE clusters which are currently up and running.

Maybe the CLI was trying to communicate with these clusters and failing after a timeout?

[2022-01-31 21:04] scheung38 opened #107889 "[Question] Autopilot creation results in two warnings"
### What happened?

[code]

Why are we getting that?

Is this related to account quota exceeded the number of resources such as vCPU?

### What did you expect to happen?

2 gk3 nodes to be created

gcloud container --project <PROJECT_ID> clusters create-auto <CLUSTERNAME> --region "europe-west2" --release-channel "rapid" --network "<PROJECT_ID>/global/networks/default" --subnetwork "<PROJECT_ID>/r

[2022-01-31 21:05] rbo54 commented on #107888
/sig scheduling

[2022-01-31 21:05] bduffany commented on #92382
/reopen

[2022-01-31 21:10] bduffany commented on #92382
Also, if anyone wants a workaround for their shell prompt, you can use this command instead of `kubectl config current-context`:

[code]

This command runs in about 2ms, vs `kubectl config get-context` which takes `32ms` on my setup.

[2022-01-31 21:16] BenTheElder commented on #93620
Perhaps at somepoint we should revisit applying step 2 and so on to existing platforms https://github.com/kubernetes/sig-release/blob/master/release-engineering/platforms/guide.md#step-2-testing

A number of the existing platforms don't appear to be meeting the guidelines.

[2022-01-31 21:21] haircommander commented on #107447
what version of CRI-O/kubernetes are you using? using latest main of both kubernetes and cri-o with your reproducer causes the container to be evicted because of it exceeding ephemeral storage

[2022-01-31 21:21] haircommander commented on #107447
oh I see now:
[code]
my mistake

[2022-01-31 21:22] haircommander commented on #107447
another mistake: I was using CRI stats provider, instead of cAdvisor stats provider (as is default)

[2022-01-31 21:33] BenTheElder commented on #99517
this isn't going to land, there's just too many other higher priority things to work on.

[2022-01-31 21:33] #99517 closed

[2022-01-31 21:37] uablrek commented on #107591
/reopen

Crio does not set any "CNI-*" rules at all.

[2022-01-31 21:40] #102378 closed

[2022-01-31 22:37] yelhouti commented on #107591
@uablrek it is flannel, I created a fresh cluster with: `--ip-masq=false` instead of `--ip-masq` and the problem disappeared.
Although the [doc](https://github.com/flannel-io/flannel/blob/master/Documentation/configuration.md#key-command-line-options)

although this seems to indicate that `--ip-mask` only affects outgoing traffic, it doesn't. I created an issue on both flannel and kubepray.
I ll t

[2022-01-31 23:49] dakoner opened #107891 "Indexed Job with completions>1, parallelism>1, backoffLimit=0: failing pods are deleted but shouldn't be"
### What happened?

I wrote a simple job spec where the pod always fails with an exit code of zero (intentionally, by running the 'false' command).
It uses indexed jobs with parallelism=completions=W and backoffLimit=0.  I want each pod to run at least once to failure or success, and have the pod objects remain after completing or failing, until I delete the job.

Based on a careful read of the do

[2022-02-01 00:18] jyotimahapatra commented on #105801
https://github.com/kubernetes/kubernetes/pull/105954 merged

[2022-02-01 00:18] #105801 closed

[2022-02-01 01:03] antoninbas opened #107892 "CrashLoopBackoff for static controlplane Pods on Ubuntu 21.10"
### What happened?

I have been running K8s v1.23.3 successfully on Ubuntu 20.04 and Ubuntu 21.04 using the same configurations. It's a single Node cluster running on a Vagrant VM. The cluster is created with kubeadm. When I switch to an Ubuntu 21.10 (impish) VM, and create a new cluster, the control plane Pods immediately start entering CrashLoopBackoff.

kube-apiserver logs
<details>

[code]

</

[2022-02-01 01:04] antoninbas commented on #107892
/sig cluster-lifecycle

[2022-02-01 01:06] BenTheElder commented on #70249
I don't believe there are any further changes in 1.24.

Sorry @tallclair I missed your reply https://github.com/kubernetes/kubernetes/issues/70249#issuecomment-887055048

I don't think that will be hard at all. Distroless has pretty much the same proposition when using anything beyond "base", e.g. the "static" image has glibc from debian packaging.

If we can settle on what information we wish to

[2022-02-01 01:09] fundead commented on #98656
/remove-lifecycle stale

[2022-02-01 02:19] helayoty commented on #103499
@enj  👋 I'm in the release 1.24 bug triage shadow. Does this issue still target release 1.24? If yes, would you please update the kind and priority fields for us to track it better?

[2022-02-01 02:48] antoninbas commented on #107892
I was able to find the following in the kubelet logs:
[code]
Then I realized that Ubuntu 21.10 switched to cgroup v2 by default (https://discourse.ubuntu.com/t/impish-indri-release-notes/21951):

which seems to not be supported in K8s: https://github.com/kubernetes/enhancements/issues/2254

I confirmed that it was the root cause by rebooting with the `systemd.unified_cgroup_hierarchy=0` kernel par

[2022-02-01 02:51] nsspradeep commented on #107889
@scheung38 These notifications in UI about failed scale down events about "Cant' scale down a node because there's no place to move its Pods" and "Pod is blocking scale down because it’s a non-daemonset, non-mirrored, non-pdb-assigned kube-system pod" are not relevant for autopilot clusters and are meant for standard GKE clusters.

We are currently rolling out a fix that will avoid these notificat

[2022-02-01 02:54] smarterclayton commented on #107817
Reading the doc (and from vague memory) the startup probe is part of pod initialization, vs container initialization.  However, the website documentation is ambiguous.  No matter what, the api doc and the website doc need to be more specific about intent:

(godoc)

[2022-02-01 03:08] enj commented on #103499
Yes, definitely targeting 1.24

/priority important-soon
/kind cleanup deprecation

[2022-02-01 03:09] enj commented on #103525
/priority important-soon
/kind cleanup deprecation

[2022-02-01 03:12] smarterclayton opened #107894 "Pod probes could start earlier depending on type of probe and container status"
During termination, some pod probes could be stopped before all containers finish.  For instance:

* Liveness exec probes can stop when the pod is terminal and when the first failure happens - at that point the container will not be restarted
* Readiness exec probes can stop when the pod is terminal and the first failure happens - the container is unlikely to go ready again.

However, we cannot pe

[2022-02-01 03:13] smarterclayton commented on #107894
/sig node

[2022-02-01 03:19] subhamkrai commented on #74178
@ahmetb @marckhouzam I'm interested in this support and thanks for adding this feature. One question: in which version this is planned to be released? Looking forward to this.

[2022-02-01 03:26] smarterclayton commented on #107473
Copying some notes from the PR:

There's an overlapping change that needs to be made before this will be totally correct (https://github.com/kubernetes/kubernetes/issues/105014) - you can't rely on the pod manager to correctly indicate whether a pod "has terminated", because the pod manager just tracks desired pods, not "pods the kubelet is running".

However, even after that change this may not b

[2022-02-01 03:43] liggitt commented on #107889
Thanks for the info, @nsspradeep

Since this isn't tracking an issue with the Kubernetes components, I'll close this issue at this point

[2022-02-01 03:43] #107889 closed

[2022-02-01 04:16] #107873 closed

[2022-02-01 04:45] ramineni commented on #107447
@haircommander  Is CRI stats provider used by default in 1.23 by default?
And also problem is seen only if containerLogMaxSize is less that the ephemeral storage limit set , if its more than the ephemeral storage limit , its the right behavior , pod gets evicted in my setup.

[2022-02-01 04:51] blackzlq opened #107895 "Update libgmp10 in bullseye-v1.1.0 (latest) to patch CVE-2021-43618"
### What happened?

gcloud container images list-tags k8s.gcr.io/build-image/debian-base | grep bullseye
aa2e259dfe20  bullseye-v1.0.0       1969-12-31T16:00:00
c9026ac9ebc6  bullseye-v1.1.0       1969-12-31T16:00:00

sudo docker run -it k8s.gcr.io/build-image/debian-base:bullseye-v1.1.0 /bin/sh
Password:
# apt-get update
Get:1 http://deb.debian.org/debian bullseye InRelease [116 kB]
Get:2 http://

[2022-02-01 04:52] blackzlq commented on #107895
/sig release

[2022-02-01 06:24] jlsong01 commented on #107891
/assign

[2022-02-01 07:51] hariharanrbn commented on #101776
/reopen

[2022-02-01 08:07] Ferenc- commented on #89899
/remove-lifecycle stale

[2022-02-01 08:14] #107411 closed

[2022-02-01 09:09] aojea commented on #107591
@yelhouti glad you found it

We try to track only the issues that affect Kubernetes itself, since this is not a kubernetes issue we suggest you to open the issue in the corresponding project and close this one.

Thanks

[2022-02-01 09:54] freefri opened #107899 "Kubelet under MemoryPressure but there are much memory left on the node"
### What happened?

I am just reopening https://github.com/kubernetes/kubernetes/issues/52386

 `kubectl describe node 10.0.10.132` shows:

[code]

On the allocated resources section from `kubectl describe` shows (check also the events):

[code]
`kubectl describe` also describes a Taint:

[code]

But `kubectl top node  10.0.10.132` shows:

[code]

And some **pods are evicted** because of memory re

[2022-02-01 09:55] freefri commented on #52386
I have reopened this issue as a new issue https://github.com/kubernetes/kubernetes/issues/107899

Feel free to join the discussion there

[2022-02-01 09:56] freefri commented on #107899
/sig node

[2022-02-01 10:42] Aleksey-Kudryavtsev commented on #89898
In our case (AKS, K8s v1.21.2, ASP.NET Core 6) the issue is reproducible with a test app that is stressing the CPU for 1.5 seconds every 300-600 seconds at random. These short spikes are not visible on the azure portal under Insights. I've not tried running it without CPU limits yet (the limit is 50m right now).

[2022-02-01 10:49] jsafrane commented on #99042
For the record, this has been fixed by https://github.com/kubernetes/kubernetes/pull/99223

[2022-02-01 10:54] mhkarimi1383 commented on #65233
Hi thanks worked for me ;)
but I want to make it reverse my workarounds with adding `not` after `has` didn't worked
do you have any ideas

[code]

[2022-02-01 11:28] zzvara commented on #100483
The issue around silent pod-process OOM kills is a mess and comes biting in the ass over and over again, where a crucial pod-process that is not PID 1 dies and services go offline perfectly silently.  This happens with Selenium, Spark Operator, any JFrog chart, Couchbase and so, just to name a few.

1. It is very hard to identify what is the problem and where.
2. K8S can not do recovery. Let's say

[2022-02-01 11:32] kgtw commented on #100483
I no longer have capacity available to address the PR comments for this to be merged as it would involve a significant rework.

For those that are wanting a quick solution to the immediate problem, you can use the [oomie](https://github.com/kgtw/oomie) service which was the original inspiration for opening this issue/pr.

[2022-02-01 12:30] neolit123 commented on #107892
/area kubeadm kubelet
/sig node

kubeadm already performs some validation for cgroup v2 vs v1:
https://github.com/kubernetes/system-validators/blob/master/validators/types_unix.go#L65-L72
if you have detailed proposal for that you can log an issue in the above repository.

the cgroup v2 support is Beta (enabled by default, i assume):
https://github.com/kubernetes/enhancements/tree/master/keps/sig-

[2022-02-01 14:24] pchan commented on #105392
@pohly  Can you try again please. I am not a member yet, so I need to comment on the issue.

[2022-02-01 15:48] simonwgill commented on #89898
I've had another dig into what might be going on here, because this keeps making less and less sense.

Given that load can reproduce the issue (thanks Aleksey), I'm wondering if it's down to the go net/http client's implementation of timeouts and concurrency.

Every probe gets associated with a worker object in the kubelet, and the [loop for that worker is executed in a goroutine](https://github.c

[2022-02-01 16:33] julienFlowdesk commented on #97445
I have been confronted to the same problem.

First, node application are in fac using multithreading behind the user's back, cf :
https://nodejs.org/api/child_process.html

[2022-02-01 16:35] Aleksey-Kudryavtsev commented on #89898
@simonwgill , I don't have time to look into it further at the moment unfortunately. We'll increase the probing timeouts for now.

I tried with the CPU limit removed and the issue is gone (it's been running for 3 hours now).

I think we might be looking at different issues because this is not just a kubelet issue in my case (curl is also seeing the delays).

Sharing the code just in case (the logi

[2022-02-01 16:44] #97071 closed

[2022-02-01 16:51] julienFlowdesk commented on #97445
I have been confronted to the same problem. Here is what I found (post-kernel patch for the cfs bug), not 100% sure on it though, so do not quote me on that :

On a GKE cluster with kernel version: 5.4.120+.

First, node application are in fact using multithreading behind the user's back, cf :
https://nodejs.org/api/child_process.html
https://www.geeksforgeeks.org/how-to-handle-child-threads-in-no

[2022-02-01 17:08] Tebeye commented on #50295
Hello, I am getting same error even I copied the configuration file from **/etc/kubernetes/admin.conf**
Even I tried `export KUBERNETES_MASTER=http://MasterIP:8080`
Does anyone know another alternative to solve this problem?

[2022-02-01 18:44] antoninbas commented on #107892
The issue seems to be caused by my containerd config.toml. I was using a custom config, and carrying it over from older versions of Ubuntu. If I switch to the default config and explicitly set the cgroup driver to systemd (as per https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd), then things start working correctly with cgroup v2.

The key differences in the c

[2022-02-01 18:44] antoninbas commented on #107892
/close

[2022-02-01 18:46] #107892 closed

[2022-02-01 18:55] neolit123 commented on #107892
AFAIK, cgroupfs (the alternative driver) has no plans to add support for cgroups v2, but i don't have a link to a statement to confirm that.

[2022-02-01 19:45] apelisse commented on #107828
yeah, if I'm understanding this bug correct, it is a duplicate. This has nothing to do with dry-run, but with going from client-side to server-side.

Fields that were added by client-side won't be removed by server-side, we already have a bug open for that (#99003).

Please re-open if I'm wrong.

/close

[2022-02-01 19:46] #107828 closed

[2022-02-01 19:49] apelisse commented on #107828
FYI @julianvmodesto @seans3

[2022-02-01 20:03] RichardoC commented on #104252
Thanks for chiming in, I take your point about the API server port and that k8s doesn't usually stop you doing something bad but I do think this is a case where I would expect the API server to reconcile this back to the "correct" state.

I'm sure there are alternative ways of fixing this that will enable heterogeneous endpoint ports?

[2022-02-01 20:11] bbecker-te commented on #56341
I just got the same error trying to add this property. Its still not allowed?
[code]

[2022-02-01 21:15] 2-face opened #107906 "Exclusive CPU used by init container returns to defaultCPUSet pool causing kubelet go into reboot loop"
### What happened?

When init container does its job it's removed and CPU assigned to it via cpuset returns to the defaultCPUSet pool even though this CPU is in cpuset used by another container.  Because of that kubelet seeing drift between **defaultCPUSet** and **exclusive CPUs** assigned to running containers fails to start.

### What did you expect to happen?

* CPU used by init container shoul

[2022-02-01 21:17] 2-face commented on #107906
/sig node

[2022-02-01 21:23] fedebongio commented on #107857
/triage accepted

[2022-02-01 21:23] fedebongio commented on #107828
/triage accepted

[2022-02-01 21:23] fedebongio commented on #107874
/triage accepted

[2022-02-01 22:14] blankenshipz opened #107908 "Cannot produce older builds of Kubectl on Apple Silicon"
### What happened?

I'm trying to build kubectl `v1.18.20` using the command `./build/run.sh make kubectl KUBE_BUILD_PLATFORMS=darwin/amd64` and the build fails

[code]

### What did you expect to happen?

I expected the build to run and output the binary targeted at darwin/amd64

### How can we reproduce it (as minimally and precisely as possible)?

From an Apple Silicon Mac with Docker-For-Mac i

[2022-02-01 22:22] aojea commented on #104252
@RichardoC apparently apiserver multiports are going away , so may comment maybe outdated :)

https://github.com/kubernetes/kubernetes/pull/107872

[2022-02-01 22:29] shuheiktgw commented on #107702
I'll keep investigating the issue, yet if someone knows what we should do here please take the issue 🙏
/unassign

[2022-02-01 23:04] shuheiktgw commented on #107702
@BenTheElder I've looked into [the job defenition](https://github.com/kubernetes/test-infra/blob/af7ef01953f8105a62537324e0ee7c8c58980415/config/jobs/kubernetes/sig-testing/verify.yaml) but I could not find the part where we reduce the concurrency. If that is the case, one solution I could come up with is to make either of [those two configurations ](https://github.com/kubernetes/kubernetes/blob/m

[2022-02-01 23:12] apelisse commented on #100012
Apply never uses `JSONPatchType`. It uses strategic merge patch for built-in types, and json merge patch for CRs.

[2022-02-02 01:05] Huang-Wei commented on #89036
/remove-lifecycle stale

[2022-02-02 01:28] vinaykul opened #107911 "[FG:InPlacePodVerticalScaling] Add support in containerd for returning Resources in ContainerStatus CRI API"
### What would you like to be added?

[In-place Pod Vertical Scaling feature](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1287-in-place-update-pod-resources) allows for resizing of CPU and memory resources of running pods without having to restart the pod and its containers.

This is achieved by making the Container.Resources field mutable and allowing the API user to use

[2022-02-02 01:31] vinaykul commented on #107911
/assign @ruiwen-zhao
/assign @mikebrow
Ruiwen has offered to help with this. Thanks a lot Ruiwen!

[2022-02-02 01:35] vinaykul commented on #107911
/sig node
/cc @derekwaynecarr @dchen1107

[2022-02-02 03:45] shyamjvs commented on #107133
Thanks @wojtek-t.

Could you clarify this part? Do deletions not correspond to an RV as well?

[2022-02-02 03:48] mehabhalodiya commented on #55369
@arun-gupta Does it need to work on? Please let me know, I want to try to resolve it.
Thank you.

[2022-02-02 04:30] #103525 closed

[2022-02-02 04:53] zestysoft commented on #105204
I ran into this recently, and I agree with @liggitt  that the mount "not registered" warning may be coincidental to the pod failure.

I was testing seccomp with this:
`kubectl run -it bash --image=r.j3ss.co/amicontained --restart=Never bash`

and would see the pod error out with that "not registered" warning in the description of the pod.  However, if I defaulted to the normal restart behavior, I

[2022-02-02 05:25] adisky commented on #107911
I can also help with this!!

[2022-02-02 05:34] adisky commented on #107801
closing this one as we have an issue for cgroupv2 job & rest are fixed
https://github.com/kubernetes/test-infra/pull/25032
/close

[2022-02-02 05:34] #107801 closed

[2022-02-02 06:40] zestysoft commented on #105204
Actually, the two runs have different outputs -- Here's the output with restart set to "Never":
[code]

and this is without me using the --restart=Never command line parameter:
[code]

[2022-02-02 08:51] wojtek-t commented on #107133
They do, but obviously deleted objects are not part of the list. As I'm saying, it's doable for sure, but given the second part of my above comment, I don't think it's worth it.

[2022-02-02 09:20] phsys commented on #104789
Upgraded to Docker EE 20.10.9 and the issue of docker leaking handles still persists. Can we please re-open this issue and try triaging it @marosset ?

[2022-02-02 09:29] jlsong01 commented on #106496
/assign

[2022-02-02 09:31] rohankmr414 commented on #102545
/assign

[2022-02-02 09:39] jlsong01 commented on #107891
@dakoner Hey, I have checked out the code of v1.22, seems it's 'by-design' behavior, that all repetition pod but one is deleted after Terminating.

Since they are parallel pod and we need not keep them all but take ONLY one for user inspect if needed.

[2022-02-02 09:48] Aleksey-Kudryavtsev commented on #89898
With the CPU limit removed I did get one probe failure eventually after running it for 20 hours.

[2022-02-02 10:06] pacoxu commented on #107908
https://github.com/kubernetes/kubernetes/blob/d4b49be81a28a2de1c63bbd84ceb1bf3660fa983/hack/lib/golang.sh#L51

/sig release cli

https://github.com/kubernetes/k8s.io/blob/aafecb8676b1dde098e23594983fc41bf6b6ac15/k8s.gcr.io/images/k8s-staging-build-image/images.yaml#L468

[2022-02-02 10:07] pacoxu commented on #107891
/sig apps

[2022-02-02 10:18] mkjpryor commented on #77662
/remove-lifecycle rotten

I would also like to see this feature. For my use case, I need to be able to delete all the `LoadBalancer` services before deleting a cluster, because they correspond to load-balancers in the underlying cloud and the the cluster will not delete cleanly until they are gone.

[2022-02-02 10:20] ball-hayden commented on #105464
/remove-lifecycle rotten

^ as above, still interested in helping out. @nicelkaim would you be able to give any hints?

[2022-02-02 10:49] jpiper commented on #72236
@Jc2k How do we go about proposing this as an agenda item then? This seems like an awful bug to have.

[2022-02-02 10:58] Jc2k commented on #72236
@jpiper I was given [this link](https://docs.google.com/document/d/1yW3AUp5rYDLYCAtZc6e4zeLbP5HPLXdvuEFeVESOTic/edit) but thats all.

That doc mentions someone called hanamant is involved in IPVS at that meeting, is that @hanamantagoudvk? Maybe they can help us get this security issue resolved.

[2022-02-02 11:01] Jc2k commented on #72236
@jpiper given you reproduced it on cilium, maybe worth dropping a line to security@cilium.io as well?

[2022-02-02 11:32] hj-johannes-lee commented on #107838
@yxxhero Hello, I actually changed the contents of the issue a little bit, since I see it as a bug that happens from the "restartPolicy" with "Always" option. Can you take a look?

[2022-02-02 11:36] jpiper commented on #72236
@Jc2k in the mean time, I'm just going to use `kube-router`'s IPVS proxy implementation. I can delete the old kube-proxy daemonset and then install `kube-router` and it clears up all the old cruft and just works, I don't get this issue or the other one in `https://github.com/kubernetes/kubernetes/issues/75262` either. I verified this approach works with calico, will need to verify cilium as well

[2022-02-02 11:43] Jc2k commented on #72236
Oh thats a really good tip. I've been bitten by #75262 too.

[2022-02-02 11:51] #103150 closed

[2022-02-02 13:13] fromanirh commented on #107805
the failures here seems genuine, and alarming. The test cases are not giving enough data, making the troubleshoot unnecessarily hard. Let's fix this first: https://github.com/kubernetes/kubernetes/pull/107915

[2022-02-02 14:29] dakoner commented on #107891
Thanks @jlsong01 but this is an Indexed job with static work assignment where at least one pod per task index needs to remain.  Instead, all but one pod is terminated.

IE, if Im asking for parallelism=5 and restartPolicy=Never.  At the end of the job, there should be 5 pods remaining, not 1.  The pods with exit status info and logs are being terminated and cannot be inspected.

That can't be by d

[2022-02-02 15:36] SEJeff commented on #49937
/reopen

[2022-02-02 15:36] SEJeff commented on #49937
/remove-lifecycle rotten

[2022-02-02 16:07] matthyx commented on #107063
Funny, when looking at the logs, it seems node fixes itself regarding to disk pressure (from [this](blob:https://prow.k8s.io/0a55fdf0-4b36-4826-87b7-d767e22d75f6) log):
[code]

Basically disk pressure is present from `Feb  2 10:54:47.778` to `Feb  2 10:55:26.923` and then no pressure until test times out waiting for `container-disk-hog-pod` to disappear...

[2022-02-02 16:10] ritpanjw commented on #56876
@nikhita @sttts 👋 I'm in the release 1.24 bug triage team. Since this issue is marked as a release blocker for 1.23 but does not carry milestone 1.24, want to find out if we are still seeing this in 1.24, accordingly milestone can be updated

[2022-02-02 16:24] phsys commented on #104789
Attaching a snippet highlighting the extent of handle leak
![dockerd_handle_leak](https://user-images.githubusercontent.com/90021542/152194405-6ee9dcbd-1c19-430a-a169-fc34b897f4e6.PNG)

[2022-02-02 16:24] geotransformer commented on #107320
kubectl delete the secret, but the new secret still causes problem

cacher.go:419] cacher (*core.Secret): unexpected ListAndWatch error: failed to list *core.Secret: unable to transform key "/registry/secrets/xxxx/xxxxxx-sa-token-d28wj": invalid padding on input; reinitializing...

[2022-02-02 16:32] MarcSkovMadsen commented on #17144
I would like this issue reopened. It would make it so much easier for "simple" datascience users on our Jupyterhub that needs a minimum of monitoring. They can do `kubectl get logs` and `kubectl get pods`. Would be so much easier for them if this feature was supported.

[2022-02-02 16:46] geotransformer commented on #66844
Any workaround you tried

[2022-02-02 18:00] #104090 closed

[2022-02-02 18:13] matthyx commented on #107063
/assign @endocrimes
Since you're planning on redesigning them.

[2022-02-02 18:22] SergeyKanzhelev commented on #107804
/assign @endocrimes

[2022-02-02 18:23] SergeyKanzhelev commented on #107803
/cc @haircommander

[2022-02-02 18:27] SergeyKanzhelev commented on #100219
/sig storage
/triage accepted

[2022-02-02 18:28] SergeyKanzhelev commented on #107733
/triage accepted
/assign @rphillips

[2022-02-02 18:29] SergeyKanzhelev commented on #107730
/triage accepted
/assign @tnqn

[2022-02-02 18:30] SergeyKanzhelev commented on #107730
/remove-label triage/needs-information

[2022-02-02 18:30] SergeyKanzhelev commented on #107730
/remove-triage needs-information

[2022-02-02 18:34] SergeyKanzhelev commented on #107906
@2-face you are using old kubernetes version that is not supported. Please try to reproduce the issue on a new version of Kubernetes.

/triage needs-information

/assign @cynepco3hahue

[2022-02-02 18:34] xing-yang commented on #81089
/remove-lifecycle stale

[2022-02-02 18:39] SergeyKanzhelev commented on #107899
/triage needs-information

It is not very clear when the measurements taken (between kubectl top and free -h) and what is hapenning on the node at that time. Perhaps kubelet is evicting something? kubelet.log may help troubleshoot, please attach. Also steps to repro would be useful

[2022-02-02 18:41] liggitt opened #107919 "API clients should be able to distinguish "invalid transition" validation errors from "invalid content" errors"
### What would you like to be added?

When validating update requests, the API server should indicate in returned errors when they are due to a forbidden  transition from the old object, rather than inherently invalid content in the new object.

User story 1: If I submit an update request trying to change an immutable field to an otherwise valid value, the returned error should indicate the error

[2022-02-02 18:41] liggitt commented on #107919
/sig api-machinery
for mechanics

/sig architecture
for API guidelines

[2022-02-02 18:41] SergeyKanzhelev commented on #107856
/triage accepted
/assign @endocrimes
/priority important-soon

[2022-02-02 18:41] geotransformer commented on #66844
cl1:/etc/kubernetes/manifests# cat /data/kubernetes/secrets.conf
apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
    - secrets
    providers:
    - aescbc:
        keys:
        - name: key1
          secret: BG5hleucjlD5ZDkFYUxoGLHHhBA/AeoNruHM0i70/ZI=
    - identity: {}

cl-2:~$ sudo cat /data/kubernetes/secrets.conf
apiVersion: apiserver.config.k8s

[2022-02-02 18:44] SergeyKanzhelev commented on #107838
/assign @ehashman
/triage needs-information

[2022-02-02 18:45] geotransformer commented on #66844
https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

Try to recover it from this documentation

Rotating a decryption key
Changing the secret without incurring downtime requires a multi step operation, especially in the presence of a highly available deployment where multiple kube-apiserver processes are running.

Generate a new key and add it as the second key entry for the current

[2022-02-02 18:47] SergeyKanzhelev commented on #107817
This might be fixed already in later versions of k8s. 1.19 is out of support in open source. Please try to reproduce on later version

/triage needs-information

[2022-02-02 18:54] eddiezane commented on #107908
darwin/arm support was added to Go 1.16 which we started using for Kubernetes 1.21.

I don't think the tooling (container) will be updated here since 1.18 is EOL but you should be able to build it locally with just `make kubectl KUBE_BUILD_PLATFORMS=darwin/amd64` if you have Go 1.16+ installed.

sig-release feel free to say otherwise

/close

[2022-02-02 18:54] #107908 closed

[2022-02-02 19:03] 2-face commented on #107906
@SergeyKanzhelev on 1.18 - the issue happens sometimes, on 1.21 I haven't seen the problem however I would like to confirm if this has been fixed (even indirectly).

[2022-02-02 19:14] atiratree opened #107920 "Option for acknowledging terminating pods in rolling update"
### What would you like to be added?

It could make sense to wait for a pod to be terminated before scheduling a new one for the issues mentioned bellow. Even though some issues can be partially mitigated by proper setup of maxUnavailable and maxSurge, it is not applicable for all of them.

I would like to propose a new opt-in behaviour that would solve this. Deployment controller would include Te

[2022-02-02 19:27] atiratree commented on #107920
This was discussed in last sig-apps meeting with a following decision (https://www.youtube.com/watch?v=8hs2jDfbXsw):
1. let's wait for this issue to get more traction before pursuing it further
2. document the current behaviour

[2022-02-02 19:28] atiratree commented on #107920
/sig apps

[2022-02-02 19:50] blackzlq commented on #107895
@dims

[2022-02-02 19:50] blackzlq commented on #107895
@kubernetes/sig-release-leads

[2022-02-02 19:58] SergeyKanzhelev commented on #104789
/reopen

(based on the comment from @phsys)

[2022-02-02 20:01] SergeyKanzhelev commented on #107906
during triage @cynepco3hahue and @rphillips mentioned they vaguely remember this being fixed. Since it doesn't repro on 1.21, I'm going to close the issue. Feel free to reopen if more evidence is found that issue still persists.

/close

[2022-02-02 20:02] #107906 closed

[2022-02-02 20:04] SergeyKanzhelev commented on #107805
/triage accepted
/priority important-soon

[2022-02-02 20:08] 2-face commented on #107906
@SergeyKanzhelev thanks!

[2022-02-02 20:16] andrewsykim commented on #86245
/triage accepted

[2022-02-02 20:17] andrewsykim commented on #106476
(fixing https://github.com/kubernetes/kubernetes/issues/106476#issuecomment-1016907646)

/triage accepted

[2022-02-02 20:41] bridgetkromhout commented on #107672
Hi, @ialidzhikov - thanks for this bug report. As 1.21 has only a few months left before it enters maintenance mode in April, we'll probably want to see a reproduction in a more recent version of k8s. If you find a way to trigger this failure, please let us know.

[2022-02-02 21:02] max-sixty opened #107922 "Setting a defaultRequest on a LimitRange sets an implicit Limit"
### What happened?

Using a `LimitRange`, I'm hoping to have a default request, but _not_ a default limit.

Setting this:

[code]

Seems to set these in a container:

[code]

### What did you expect to happen?

I would have expected this output:

[code]

### How can we reproduce it (as minimally and precisely as possible)?

As above

### Anything else we need to know?

Possibly this is WAI, and I'

[2022-02-02 21:05] andrewsykim commented on #107246
/triage accepted

[2022-02-02 21:09] andrewsykim commented on #107672
/triage accepted
/assign @bridgetkromhout

Accepting it but we should try to reproduce it against a recent version before trying to troubleshoot this further.

[2022-02-02 21:09] andrewsykim commented on #107822
/kind feature
/assign @nckturner

[2022-02-02 21:10] andrewsykim commented on #107822
/assign @kishorj

[2022-02-02 21:16] nckturner commented on #107822
Currently this is supported in the [AWS Load Balancer controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) and the in-tree provider is deprecated and no longer accepted features.  If you still think you need this feature, please reopen this issue on the [cloud-provider-aws](https://github.com/kubernetes/cloud-provider-aws) repository and we can discuss it there.

/close

[2022-02-02 21:16] #107822 closed

[2022-02-02 21:35] NikhilSharmaWe commented on #107246
@andrewsykim Could you please give your thoughts on this comment https://github.com/kubernetes/kubernetes/issues/107246#issuecomment-1017722675.

[2022-02-02 21:40] ruiwen-zhao commented on #107911
Looking at the containerd code, I think we just need to add to containerd's [container_status.go](https://github.com/containerd/containerd/blob/f0a32c66dad1e9de716c9960af806105d691cd78/pkg/cri/server/container_status.go) something like this:

[code]

This work is currently blocked by: a) cri-api updated with `Resources` field, which is part of https://github.com/kubernetes/kubernetes/pull/102884,

[2022-02-02 22:18] max-sixty commented on #107922
Sorry, this was actually GKE autopilot setting the limits, not K8s

[2022-02-02 22:18] #107922 closed

[2022-02-02 22:23] KIVagant commented on #17144
@MarcSkovMadsen , there are other tools like `kubetail` or `stern` that can help with logs. As for getting Pods, we should all just suffer.

[2022-02-02 22:25] geotransformer commented on #66844
Configure the same secret across three control-plane node and docker restart the apiserver container. apiserver pod becomes ready

/your-k8s-directory/kubernetes/secrets.conf

[2022-02-02 22:36] gnufied commented on #99877
/remove-lifecycle rotten

[2022-02-02 22:39] ruiwen-zhao opened #107925 "kubetest.Up of ci-containerd-e2e-cos-gce-1-4 is failing"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-cos#containerd-e2e-cos-1.4

### Which tests are failing?

kubetest.Up

### Since when has it been failing?

01/24/2022 17:22 PST

### Testgrid link

https://testgrid.k8s.io/sig-node-cos#containerd-e2e-cos-1.4

### Reason for failure (if possible)

[code]

### Anything else we need to know?

_No response_

### Relevant SIG(s)

/sig node

[2022-02-02 22:46] dobsonj commented on #79980
/assign

[2022-02-02 23:01] bluemiaomiao opened #107926 "bash: line 1: hack/make-rules/helpers/cache_go_dirs.sh: Permission denied"
### What happened?

Run `make` in Kubernetes 1.22.x project dir:

[code]

Golang info:

[code]

Docker info:

[code]

### What did you expect to happen?

Build Success!

### How can we reproduce it (as minimally and precisely as possible)?

Clone the k8s source code.
Run `go mod download` and `make`

### Anything else we need to know?

_No response_

### Kubernetes version

1.22.x

### Cloud provi

[2022-02-02 23:30] bluemiaomiao commented on #107926
Looks like there's a problem with file permissions...
When I use the following command to modify can compile successfully:

[code]

[2022-02-02 23:30] #107926 closed

[2022-02-02 23:51] #107733 closed

[2022-02-02 23:54] astoycos commented on #107372
I've made pretty good progress here for the sig-net related tests, Just stuck on. `TestMultipleServiceChanges` since the test is actually pretty broken/complicated so trying to get it working again

[2022-02-03 00:02] dobsonj commented on #103267
/remove-lifecycle stale

[2022-02-03 00:57] bobbypage commented on #107830
More investigation -- containerd version was bumped from passing run to failing run

passing version:

[code]

failing version:

[code]

[2022-02-03 02:51] robscott opened #107927 "EndpointSlice controller sync fails when Node is not found"
### What happened?

The following appears in EndpointSlice controller logs when a Node specified by `pod.spec.nodeName` is not present in the Node informer cache:

[code]

This is caused by  https://github.com/kubernetes/kubernetes/blob/baad1caee9dea68c6f9de9c14b23cfe6a96a80f8/pkg/controller/endpointslice/reconciler.go#L174-L177

Node is used to populate zone, without it, that field would be empty

[2022-02-03 02:51] robscott commented on #107927
/sig network
/cc @aojea @danwinship @freehan

[2022-02-03 02:54] #100643 closed

[2022-02-03 05:47] denkensk commented on #105661
I draft a proposal to solve this. It would be grateful if you could review and give comments. @Huang-Wei @ahg-g @alculquicondor @damemi
https://docs.google.com/document/d/12F1YXsvy4SmumPiL3LHMLnuMHvyMqSzDqF-L9J37ZfA/edit?usp=sharing

[2022-02-03 05:48] denkensk commented on #105661
/remove-lifecycle stale

[2022-02-03 05:58] #104787 closed

[2022-02-03 06:53] mayanksinghse commented on #89898
Observed same issue with (k8s v1.22.1,dataceneter,Rhel 8.3) and timeoutSeconds: 10 resolved our issue.
[code]

[2022-02-03 07:51] #105394 closed

[2022-02-03 08:40] pohly commented on #105782
/remove-lifecycle stale

[2022-02-03 08:41] freefri commented on #107899
I will try to elaborate a little bit more on how and when the issue happened:

We are running our pods in a OKE cluster made of 5 pretty **small nodes** (OCI **VM.Standard.E3.Flex** with 8GB of memory)

After a few weeks (maybe 4 or 6 weeks) of everything running smooth one of the nodes stops accepting pods. At this time I am making the measurements displayed above.

When doing those measurements

[2022-02-03 08:57] DiptoChakrabarty commented on #94626
Hi @pacoxu @liggitt Bug Triage for v1.24 here . I wanted to know if this issue is still targeting the 1.24 release. If yes could you update its priority field.

[2022-02-03 09:01] #99948 closed

[2022-02-03 09:08] YevheniiPokhvalii commented on #78227
You need to add `watch` to your role to avoid this error.

[2022-02-03 09:30] aojea commented on #107927
heh, this is easy to repro with an unit test

Since the Node object is only required for topology, I think that is more resilient to log and keep going, in an edge case, a Service with one endpoint will not work at all ... Also, I see there is a handler for Node objects, so I think that when the Node event is received the controller will reconcile and set the topology information...

I thought in

[2022-02-03 09:42] oldgiova commented on #78761
Same problem here: we have many Completed pods from scheduled cronjobs; just after deleting all those pods, the HPA starts working again.
[code]

[2022-02-03 09:46] sureshamk commented on #54200
I use this handy method

`kubectl get secrets <secretname>  -o json  | jq '.data | map_values(@base64d)'`

[2022-02-03 10:06] Kartik494 commented on #107487
@wsq704252212 Could you explain the issue a bit more on how does not added `monotonic` blocking   pod management policy

[2022-02-03 10:17] Kartik494 commented on #106996
@pkit this seems to issue with updating parameters only? i am not able to replace it while updating `provisioner` in sc.Throwing error as:

`The StorageClass "example" is invalid: provisioner: Forbidden: updates to provisioner are forbidden`

[2022-02-03 11:50] rthakur-est opened #107928 "POD fails to attach correct sriov device on ungraceful node reboot"
### What happened?

POD with sriov nic device attached to it fails to attach correct sriov device up on node is hard rebooted after volumes are attached to it. The node is a VM in openstack cloud provider environment and the PCI address of the sriov VF changes on node hard reboot when additional volumes are attached to the VM.

Moreover, the same scenario works with graceful node reboot.

This is

[2022-02-03 11:51] rthakur-est commented on #107928
/sig node

[2022-02-03 12:16] matthewbyrne commented on #105703
@nilesh-telang , we're seeing this same issue, on AWS only. I've successfully communicated externally (dig www.google.com) during a graceful termination period of my deployment on GKE and self hosted kubernetes clusters.

[2022-02-03 12:30] vinaykul commented on #107911
@ruiwen-zhao I did a quick scan. It looks like the right place to add support. Please verify container.Container.Spec() returns the resource values that are in-effect on the container (actual cgroup values).

You can try it out using this PR if there's a way to pick up runtime/v1alpha2 locally. But yes you will need to wait for it to merge and CRI update to be picked up by containerd before any co

[2022-02-03 12:34] zhuyouzhufu opened #107929 "After upgrading to 1.22.6, controller manager unhealthy"
### What happened?

![image](https://user-images.githubusercontent.com/34908518/152342651-4198d18e-81db-46e8-ade1-3826f7d5ad7c.png)

Here is my controller management profile information
cat > /opt/kubernetes/server/conf/kube-controller-manager.conf << EOF
KUBE_CONTROLLER_MANAGER_OPTS="--logtostderr=false \\
--alsologtostderr=true \\
--v=2 \\
--log-dir=/opt/kubernetes/server/logs \\
--leader-elect=

[2022-02-03 12:35] ahg-g commented on #105661
Thanks, left few comments on the doc.

[2022-02-03 12:37] zhuyouzhufu commented on #107929
![image](https://user-images.githubusercontent.com/34908518/152344083-10f4e5f5-4e9f-4115-916c-06a0618acf4f.png)
![image](https://user-images.githubusercontent.com/34908518/152344116-ecc8f5df-0d83-4259-ae09-c548188a95d5.png)

[2022-02-03 13:03] #86843 closed

[2022-02-03 13:26] sj98ta opened #107930 "kubeadm init --dry-run --upload cert fails in upload-certs phase with 'secret not found'"
### What happened?

Executing the command `kubeadm init --dry-run  --upload-certs`,  the command fails with

[code]

### What did you expect to happen?

I would expect the dry run with upload-certs to have succeeded.

### How can we reproduce it (as minimally and precisely as possible)?

Execute the command `kubeadm init --dry-run  --upload-certs`

### Anything else we need to know?

_No response_

[2022-02-03 13:47] rtheis commented on #107297
We are also seeing this error on our managed service starting with Kubernetes version 1.23.  We are using Calico CNI and run iptables version of kube-proxy.  We can see kube-proxy listening on the node port.  We only have 1 version of kube-proxy running.  It seems that kube-proxy is doing this to itself.  The good news is that these errors appear to be noise in the logs since we haven't seen any p

[2022-02-03 14:16] wreed4 commented on #484
Any solutions to this yet?  I'm also looking for a graceful solution to this.  I know GoDaddy built something like this as well which I thought they were going to open-source, but it doesn't seem like they have.

[2022-02-03 14:28] gjkim42 commented on #107733
@rphillips

Let me align all PRs to be merged to fix this issue.

- #107695
    - [x] #107761
    - [ ] TODO: release-1.22
- #107900
    - [ ] #107931
    - [ ] #107932

[2022-02-03 14:44] ljani commented on #107685
I hit the same issue, but as a workaround you can install `v1.19.15` first. (And should?)

[2022-02-03 14:48] aojea commented on #107297
This was fixed by https://github.com/kubernetes/kubernetes/pull/107413

It's a duplicate of https://github.com/kubernetes/kubernetes/issues/107170

/close

Please reopen if I'm mistaken

[2022-02-03 14:48] #107297 closed

[2022-02-03 15:04] #95047 closed

[2022-02-03 15:22] elmiko commented on #106543
hi @svoruga , this feature is still in tech preview for openshift container platform. once it has landed into a general availability realse of ocp, it will be added to the aro platform. i am not sure which specific release of ocp that will be, but it should be coming within the next 2-3.

[2022-02-03 15:38] neolit123 commented on #107685
Currently, the way k8s packages are prepared, we should not make changes like that...but they still happen because we cannot apply changes only to minor branches. For example, a patch release should not change a minor version dependency. To be able to properly do that AFAIK it requires significant changes in the package repos - e.g. separate repo per minor.

Also, we should stop making kubeadm dep

[2022-02-03 15:49] Zempashi commented on #107685
@ljani , yes I workaround by using 1.18.X -> 1.19.15 -> 1.20.15 and then new version. As far I understood, kubernetes doesn't require us to upgrade to each patch version ?

@neolit123 Really no big deal, It's already workarounded, it's more an issue for other user that might encounter the issue. Thanks anyway, and too bad it can't be fix easily, but I quite understand the packaging nightmare ;)

[2022-02-03 16:07] ehashman commented on #107803
/assign @kolyshkin

[2022-02-03 16:07] ehashman commented on #107803
/triage accepted

[2022-02-03 16:28] simonwgill commented on #89898
@mayanksinghse What kind of timeout can you use if that workload is just running in a container?

[2022-02-03 17:25] eigood commented on #83938
That's a "warning", because it has a "W" as the first character.  You can also see "I" and "E" lines.

[2022-02-03 17:32] johnSchnake opened #107936 "Updating the test framework to ginkgo 2.0"
### What would you like to be added?

Updating the test framework to ginkgo 2.0 will eventually happen I'm sure and I just wanted to have some notes related to this that people can reference.

### Why is this needed?

Just tracking issues that would be related to any updating of ginkgo from 1.0 to 2.0.
- [ ] Custom reporters deprecated https://onsi.github.io/ginkgo/MIGRATING_TO_V2#removed-custom-r

[2022-02-03 17:32] johnSchnake commented on #107936
/area e2e-framework
/sig testing

[2022-02-03 17:33] chris13524 commented on #83242
/remove-lifecycle stale

[2022-02-03 17:33] johnSchnake commented on #107936
/area e2e-test-framework

[2022-02-03 17:34] johnSchnake commented on #107936
/kind cleanup

[2022-02-03 17:39] johnSchnake commented on #107936
/remove-kind feature

[2022-02-03 17:40] fedebongio commented on #107919
/cc @lavalamp @deads2k for visibility
/triage accepted

[2022-02-03 17:43] neolit123 commented on #107685
yes, that is correct. unless explicitly mentioned in release notes.

[2022-02-03 17:49] aojea commented on #107936
For the ones interested, ginkgov2 was already tested against Kubernetes and works, it does requires some changes though

https://github.com/kubernetes/kubernetes/pull/105147

Most of the work required is to adapt the reporters

[2022-02-03 17:51] neolit123 commented on #107930
/transfer kubeadm

[2022-02-03 17:57] khenidak commented on #107929
Hi, can you please share controller manager logs?

[2022-02-03 17:59] khenidak commented on #107927
/tirage accepted

[2022-02-03 17:59] khenidak commented on #107927
/triage accepted

[2022-02-03 18:03] chris13524 commented on #83242
I use:

[code]

This feature in `kubectl wait` would be killer!

[2022-02-03 18:05] khenidak commented on #107482
@yysu  can you check kernel logs as well?

the lock is held by iptables userspace client executable. It usually executes in < 1s and exists releasing the lock. if it hanged (which should be mirrored somewhere in kernel logs) then lock is held and you get the above behavior.

[2022-02-03 18:07] nishant-siddh commented on #99828
/assign

[2022-02-03 18:38] robscott commented on #107927
Yes, very much so. It feels like a race condition, and I wouldn't have thought much of it until I saw a related incident. It seems like it can be triggered in a cluster with a sufficient combination of node and pod churn, which is very possible during a scale up or down. As one relatively concrete example, you can imagine that a Node deletion occurs before a Pod, but Pod GC controller has not clea

[2022-02-03 18:38] khenidak commented on #106713
Packets get re-written way before they hit any of ports opened by proxy's port-opener which are higher up in the stack.

Now to `bind` v. `listen` discussions. TCP connections are accepted by kernel `if and only if` the receiving socket is at `listening` state, binding does not put kernel into "start accepting connections and queue them in accept queue for process to pick them up" (again assuming

[2022-02-03 18:42] caseydavenport commented on #105703
I missed this earlier, but this analysis isn't quite right - the iptables that get removed during shutdown are for the Service which allows inbound traffic to the terminating endpoint. Those will be removed because during termination, new connections are not directed to the terminating endpoint. However, the iptables that are removed shouldn't impact _outgoing_ connections from the pod to other ne

[2022-02-03 18:45] caseydavenport commented on #105703
Yes - I think it could be. If the liveness probes fail consistently, I believe the kubelet will terminate the pod before reaching the full termination grace period.

In addition to the CNI theory above, you should double-check that your liveness probes are being served throughout termination even after the SIGTERM. That seems to be another likely culprit here. Maybe try terminating a pod and see i

[2022-02-03 18:56] dcbw commented on #107583
@mhadimani could you provide a full controller-manager log per https://github.com/kubernetes/kubernetes/issues/107583#issuecomment-1018261352 ?

[2022-02-03 18:59] dcbw commented on #107591
/close
as this issue appears to be flannel-cni-plugin

[2022-02-03 18:59] #107591 closed

[2022-02-03 19:03] dcbw commented on #106976
/triage accepted

[2022-02-03 19:13] akamac commented on #86479
So, is there any way to listen on IPv4 addresses (all of them)?

[2022-02-03 19:18] dmaizel opened #107937 "Automatically delete a cluster scoped resource that has a namespaced ownerRef"
### What would you like to be added?

I understand that in Kubernetes v1.20+, this is not possible and if a cluster-scoped resource specifies a namespaced resource as an owner, it is treated as having an unresolvable owner reference and is not able to be garbage collected.
What is the solution in that case? How can I make sure that the dependent resource is deleted?

### Why is this needed?

I am

[2022-02-03 19:39] dmaizel commented on #107937
/sig architecture

[2022-02-03 20:04] #59876 closed

[2022-02-03 20:11] aojea commented on #86479
hmm, that will requires to expose this setting

https://github.com/kubernetes/kubernetes/blob/b0bc8adbc2178e15872f9ef040355c51c45d04bb/staging/src/k8s.io/apiserver/pkg/server/options/serving.go#L44-L46

just curious, what is the use case for having IPv6 on the host and not in the apiserver, is not possible to disable ipv6 in the host?

[2022-02-03 20:33] aojea commented on #107927
is not done by these handlers?

https://github.com/kubernetes/kubernetes/blob/7efc928dfa3ad88b5efa880eca5abe1be6550fd0/pkg/controller/endpointslice/endpointslice_controller.go#L516-L527

I honestly didn't go so deep, but is worth verifying and covering with an unit test that a node update/add fixes an endpoint with a pod that has no topology information

https://github.com/kubernetes/kubernetes/bl

[2022-02-03 20:45] akamac commented on #86479
I'm considering options to have a load balancer (HAProxy static pod in hostNetwork) for api-server on control plane nodes  listening on the same port as api-server. Then I would point api-server VIP to `localhost` via hosts file on the control plane nodes.
This is a workaround for the absence of hairpin in AWS NLB (with instances added by id) or Azure LB.
I'm looking for a generic solution that wi

[2022-02-03 20:54] khenidak commented on #105203
/close
if you believe that we need to talk more about this, then please re-open.

[2022-02-03 20:54] #105203 closed

[2022-02-03 21:06] vaibhav2107 commented on #96981
/remove-lifecycle stale

[2022-02-03 21:08] vaibhav2107 commented on #99697
/remove-lifecycle stale

[2022-02-03 21:09] vaibhav2107 commented on #102394
/remove-lifecycle stale

[2022-02-03 21:10] Riaankl commented on #100486
/remove-lifecycle rotten

[2022-02-03 21:12] Riaankl opened #107939 "Write ControllerRevision Lifecycle Test +7"
# Progress <code>[1/6]</code>

- [x] APISnoop org-flow: [Appsv1ControllerRevisionLifecycleTest.org](https://github.com/apisnoop/ticket-writing/blob/master/Appsv1ControllerRevisionLifecycleTest.org)
- [ ] Test approval issue: [#](https://issues.k8s.io/)
- [ ] Test PR: [!](https://pr.k8s.io/)
- [ ] Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/)
- [ ] Two weeks soak end date:
-

[2022-02-03 21:12] Riaankl commented on #107939
/triage accepted

[2022-02-03 21:42] khenidak commented on #105617
Just ack-ing.. I am assigned and is looking into this!.

[2022-02-03 21:42] khenidak commented on #105617
/remove lifecycle/stale

[2022-02-03 21:42] khenidak commented on #105617
/remove lifecycle-stale

[2022-02-03 21:57] bridgetkromhout commented on #105617
/remove-lifecycle stale

[2022-02-03 21:58] #107079 closed

[2022-02-03 22:57] ruiwen-zhao commented on #107911
According to [runtime-spec](https://github.com/opencontainers/runtime-spec/blob/main/specs-go/config.go#L163), the `Resources` contain cgroup information for handling resource constraints for the container. So I think they are the values we are looking to get here.

[2022-02-03 22:58] andrewsykim commented on #107927
(re-posting here from the sig-network call today)

Is it an option to returned a specific error in `reconcileByAddressType` for this case and return a requeue error with a shorter duration for the workqueue?

[2022-02-03 23:02] liggitt commented on #107929
componentstatus only checks controller-manager and scheduler health on 127.0.0.1: https://github.com/kubernetes/kubernetes/blob/7efc928dfa3ad88b5efa880eca5abe1be6550fd0/pkg/registry/core/rest/storage_core.go#L349

This only works when controller-manager and scheduler run local to the apiserver and bind their healthz ports to 127.0.0.1. This limited topology support and fragile assumption about the

[2022-02-03 23:03] #107929 closed

[2022-02-03 23:05] aojea commented on #107927
more food for thought:
- a pod can not be created  if a Node didn't exist before
- if we know that a Node has been deleted, we know that the pods referencing that node will eventually disappear and they are invalid

[2022-02-03 23:07] ryanmcnamara commented on #91492
This is potentially out of scope for this issue (apologies in advance), but I think folks looking for what I am might find themselves here.

Is it possible enable preemption, but have it actually *block* if a PDB would be violated? We rely on PDBs for stability and the risk of violating a PDB via a voluntary disruption is unacceptably high for us. That said, preempting pods without violating PDBs

[2022-02-03 23:09] thockin commented on #106024
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1669-proxy-terminating-endpoints

Once that applies to internal and external, I think it does what you need.  If all endpoints are Terminating but also Serving, we will use those.  If any endpoints are Serving and not Terminating, we will prefer those.

So dup of  https://github.com/kubernetes/enhancements/issues/1669 ?

[2022-02-03 23:09] #106024 closed

[2022-02-03 23:14] robscott commented on #107927
Although that might help, the specific incident I observed actually resulted in the controller exceeding the max retries after the exponential backoff and dropping from the queue.

Maybe true to say that a Pod can not be scheduled if a node matching `spec.nodeName` hasn't existed before, but I think it could still exist.

Although that would simplify a lot, I don't think it's safe to assume that a

[2022-02-03 23:54] TDanielsHL commented on #79365
Wondering if this issue should remain open, it seems what another user pointed out above could be the cause, and was true in my case:

[2022-02-04 00:21] bibin-sebastian commented on #52326
Yeap . It would be great to apply commands across multiple namespaces without having to do one by one.

[2022-02-04 01:01] jabdoa2 commented on #106024
@thockin https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1669-proxy-terminating-endpoints solves part of the issue. If I understand it right it would still include terminating but ready pods in a service. That enables the `preStop` workaround (https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1669-proxy-terminating-endpoints#motivation) for this usecas

[2022-02-04 01:11] KnVerey commented on #94698
It isn't ever available in the last-applied annotation. That only contains the state that was applied in creating the _current_ version. No information is stored about the state applied to create any previous versions. That's why this incompatibility with apply exists and could not be resolved without a massive increase in storage usage, as explained in my first comment.

[2022-02-04 01:17] johngmyers commented on #94698
When a procedure is invalid, having it fail frequently and noticeably is better than having it rarely fail. Procedures that reliably fail teach people to not perform them. Things that rarely fail, in subtle ways, are what lead to disasters.

[2022-02-04 01:39] andrewsykim commented on #107927
Ah gotcha, but the retry is implemented inside endpointslice controller and not specific to the way workqueue is implemented generically:

https://github.com/kubernetes/kubernetes/blob/f24d917d3c69a4b08cee99148e74bbda74614601/pkg/controller/endpointslice/endpointslice_controller.go#L297-L314

So if we did have a specific error to check we can check it in `handleErr` and not count it towards the ma

[2022-02-04 02:38] ahg-g commented on #91492
sounds reasonable, would like to contribute an enhancement for that? note that the KEP freeze is in effect, so this can only be implemented in 1.25 .

[2022-02-04 02:55] Huang-Wei commented on #91492
Isn't this policy already defaulted in the current impl? (just some potential bug out there)

[2022-02-04 03:16] denkensk commented on #91492
Is it already supported here？
https://github.com/kubernetes/kubernetes/blob/39931456db6bcef7676f705ceb48bf772287c16b/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L264-L270

[2022-02-04 03:32] able8 commented on #107838
I also encountered this problem. The CrashLoopBackOff status maybe not be right here.
Because the container command is  ["/bin/sleep", "30s"] ,
What I expected:
Running => Completed => Running => Completed => Running => Completed ...

What's happening now :
Running => Completed => CrashLoopBackOff => Running => Completed => CrashLoopBackOff ...

[2022-02-04 05:06] BenTheElder commented on #106506
https://storage.googleapis.com/k8s-triage/index.html?test=Events%20should%20be%20sent%20by%20kubelets%20and%20the%20scheduler%20about%20pods%20scheduling%20and%20running

single 1.21 failure. i'm going to call this closed for now.

[2022-02-04 05:06] #106506 closed

[2022-02-04 06:57] FaraSys opened #107943 "Log rotate for containerd runtime. Splits the log into parts"
### What happened?

My evn: Kubernetes 1.20.7 with runtime: containerd
My problem:
I have a lot of microservices running in kubernetes. To one microservice a large number of calls and logs are written in large numbers.
During the closing of the log and the creation of a new file to continue the logs, one of the logs is divided into parts. One part of the messages remains in the closed log, and the

[2022-02-04 07:32] MikeSpreitzer commented on #107857
@aojea : I created #107944 to generalize the script that runs Prometheus on the scrapes.  But it is another matter to collect the process list when a test times out; I do not know where that change would go.

[2022-02-04 08:31] FaraSys commented on #107943
/sig instrumentation

[2022-02-04 08:55] aojea commented on #107857
I think we can trap some signal, I can't remember which one,  @BenTheElder you have done this before IIRC?

[2022-02-04 08:58] aojea commented on #107927
yeah, I´m not mean missing, I meant deleted :)

https://github.com/kubernetes/kubernetes/blob/f24d917d3c69a4b08cee99148e74bbda74614601/pkg/controller/endpointslice/endpointslice_controller.go#L529-L531

[2022-02-04 10:02] rudolfbyker commented on #73056
/remove-lifecycle stale

It does not seem to have anything to do with the runtime, or whether data is sent or not. Still trying to figure out what triggers it. In any case, a PR that ensures that `kubectl` does proper error reporting will go a long way in figuring out what makes it bail.

### Notes

Below are some tests on my Drupal pod. But first, some notes:

- I'm piping it through `pv` on my m

[2022-02-04 10:54] ahg-g commented on #91492
No it is not supported. The scheduler prefers to avoid preempting pods violating PDB, but doesn't block on them: https://github.com/kubernetes/kubernetes/blob/39931456db6bcef7676f705ceb48bf772287c16b/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L214

[2022-02-04 10:56] rudolfbyker commented on #73056
If I run this command over and over, eventually I get lucky, and get a complete file that works:

[code]

That smells like a race condition or at least some time-dependent issue somewhere in `kubectl exec`.

[2022-02-04 10:56] ahg-g commented on #91492
documented here as well: https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/#poddisruptionbudget-is-supported-but-not-guaranteed

[2022-02-04 12:09] DracePhoenix commented on #106704
I do have pretty much the same issue, i'm running the newest Kubernetes 1.23.3 on a Ubuntu 20.04 running as a VM on VMware.
Whenever i try to join my cluster from another VM, I'm getting the same errors, here are mine.

I0204 12:49:22.520307    5863 patchnode.go:31] [patchnode] Uploading the CRI Socket information "/var/run/dockershim.sock" to the Node API object "server-083" as an annotation
[kub

[2022-02-04 12:28] DracePhoenix opened #107946 "Kubernetes on Ubuntu 20.04 VM, second VM can't join the cluster: nodes "servername" not found, error uploading crisocket"
### What happened?

i'm running the newest Kubernetes 1.23.3 on a Ubuntu 20.04 running as a VM on VMware.
Whenever i try to join my cluster from another VM, I'm getting these errors:

I0204 12:49:22.520307    5863 patchnode.go:31] [patchnode] Uploading the CRI Socket information "/var/run/dockershim.sock" to the Node API object "server-083" as an annotation
[kubelet-check] Initial timeout of 40s p

[2022-02-04 12:29] kerthcet commented on #106083
/remove-lifecycle stale

[2022-02-04 12:41] neolit123 commented on #106704
We never understood why the node object is not created and the problem seems only reproducible by a few users.

I would not exclude something weird to be happening in the kubelet related to network connectivity at kubelet startup. You cannot procreate the node object and use it with CSR bootstrap, from my tests.

[2022-02-04 12:48] kerthcet commented on #107888
is there any logs useful for digging? like pod logs.

[2022-02-04 13:03] andyzhangx commented on #97031
this subPath issue was fixed in `1.21.9`, `1.22.6`, `1.23.2`

[2022-02-04 13:06] neolit123 commented on #106704
You could pass high value to the kubelet verbosity --v=5 or more and look at the logs for events failing to create the node object. This local kubelet connects to the leader api server over an LB to register the node, so maybe something is happening at that point.

[2022-02-04 13:09] mborsz opened #107948 "namespace-controller fails to delete namespace if there are too many objects of a given type"
### What happened?

I tried to remove namespace in a cluster with 70k CRD objects. The namespace-controller was triggering DELETECOLLECTION call which was failing to make any progress on deletion due to List (part of DeleteCollection) taking more than 34s of timeout hardcoded in the kube-apiserver's code. It was retrying every 1m, but each call was failing with timeout, without deleting a single o

[2022-02-04 13:09] mborsz commented on #107948
/sig scalability

[2022-02-04 13:31] mborsz commented on #107948
/cc @wojtek-t

Is the fix mentioned in "Anything else we need to know?" a proper fix?

[2022-02-04 13:34] wojtek-t commented on #107948
Seems like  duplicate of: https://github.com/kubernetes/kubernetes/issues/90743

I suggest closing this one and following on the original one.

[2022-02-04 13:36] rbo54 commented on #107888
Hi Kerthcet. I will be happy to provide pod logs but I'm not sure how that would help. The normally running pods are producing normal output in their logs. The Pending pods have not been scheduled, so they have no logs. Are there some logs from the scheduler that could be collected that would be helpful? If so, which kube-system pods should I get logs from?

[2022-02-04 13:36] mborsz commented on #107948
/close

[2022-02-04 13:36] #107948 closed

[2022-02-04 14:08] kerthcet commented on #107888
Maybe you can provide the logs by describing the pending pods to see the scheduling failures.

[2022-02-04 14:13] dgrisonnet opened #107949 "Kube-apiserver exposes metrics with status code 0 for streaming requests"
### What happened?

I was looking at the metrics exposed by the kube-apiserver and noticed that some of the `apiserver_request_total` metrics had a
status code set to 0 in Kubernetes 1.23. Looking a bit more into the metrics, I noticed that it was affecting the `/healthz` and `/readyz` endpoints as well the streaming requests with the verbs `GET` and `POST`.

![2022-02-04-145959_2488x1049_scrot](h

[2022-02-04 14:13] dgrisonnet commented on #107949
/sig api-machinery

/cc @benluddy @tkashem

[2022-02-04 14:22] rbo54 commented on #107888
Will do. My system is down today for upgrade. I'll post that early next week. Thank you Kerthcet. The basic problem though is those pods have affinity to other pods as shown above that have already been scheduled and are running on node worker-10 as shown above.  However they cannot be scheduled because worker-10 has 110 pods executing and it will execute no more. If things were balanced according

[2022-02-04 14:35] benluddy commented on #107949
The common factor between the zero statuses on the pod subresources seems to be https://github.com/kubernetes/kubernetes/blob/v1.23.3/pkg/registry/core/pod/rest/subresources.go#L195, which seems to know the status returned from the backend (around https://github.com/kubernetes/kubernetes/blob/v1.23.3/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go#L343-L360) before the ResponseWrite

[2022-02-04 14:41] aojea commented on #107949
/cc

[2022-02-04 14:41] mborsz commented on #90743
We have seen a cluster hitting this issue recently.

I'm wondering how we can actually fix this issue.
IIUC we discussed the following options so far:
* Implementing pagination inside of DeleteCollection call so that even if it times out we should have made some progress
  * This approach has an issue that if we time out, then the next call will try to delete the same set of items, if they use gra

[2022-02-04 14:57] wojtek-t commented on #90743
I opened https://github.com/kubernetes/kubernetes/pull/107950 to add support for context cancellation in DeleteCollection (this isn't a full solution, because List call itself isn't fully supporting it, but at least we won't be leaking goroutines deleting objects and colliding with the next DeleteCollection calls).

Regarding the main problem - I would actually expect to use pagination internally.

[2022-02-04 15:03] MadhavJivrajani commented on #107520
/close
Fixed by https://github.com/kubernetes/kubernetes/pull/107542

[2022-02-04 15:03] #107520 closed

[2022-02-04 15:11] MadhavJivrajani commented on #95110
/lifecycle frozen

[2022-02-04 15:11] etavene opened #107951 "kube-proxy tracelog shows iptable save command output"
### What happened?

In kube-proxy's  trace log I could see  iptables save command which took 3+ mins to execute. Would like to know why and when kube-proxy does iptables save call and does it have any impact on  k8's etcd ?  kube-proxy running in ipvs mode

I1217 12:04:07.406781       1 node.go:135] Successfully retrieved node IP:
  2 I1217 12:04:07.406906       1 server_others.go:176] Using ipvs

[2022-02-04 15:52] mborsz commented on #90743
Thanks Wojtek!

[code]

I think we can do similar to https://github.com/kubernetes/kubernetes/pull/107950 fix to the List call, right?
In the case I have seen, the etcd-level list was really fast (etcd logged latency like 500ms), but the overall call took ~45s (spent mostly in the deserialization loop IIUC). We can add a similar check in the deserialization loop.

Re external vs internal paginatio

[2022-02-04 16:12] mcaden commented on #99061
I just re-encountered this in 1.22.4. Is there a new approach or does this issue need to be reopened (or a new one created)?

[2022-02-04 17:00] neolit123 commented on #107946
dulpicate of:
https://github.com/kubernetes/kubernetes/issues/106704

i will rename that issue to reflect the problem better.

/close
/sig cluster-lifecycle

[2022-02-04 17:00] #107946 closed

[2022-02-04 17:01] neolit123 commented on #106704
same report in https://github.com/kubernetes/kubernetes/issues/107946

/retitle kubelet does not create Node object during TLS bootstrap; kubeadm join fails at missing Node object
/sig node
/area kubeadm kubelet
/priority awaiting-more-evidence

[2022-02-04 17:20] afbjorklund commented on #104878
Will there be any documentation on how to move from dockershim to cri-dockerd, or is this all up to Mirantis's project to fix ?

Cordon
Drain
~~Uninstall Docker~~
~~Install containerd~~
\+ Install cri-dockerd
Change kubeadm flags to point to the new endpoint and systemd
Start the kubelet
Describe the node
Uncordon the node

And assuming something similar (to containerd) would apply, if changing th

[2022-02-04 17:41] sftim commented on #104878
@afbjorklund I recommend shifting this kind of discussion into issue 106917 - `https://github.com/kubernetes/kubernetes/issues/106917`

I'd like to treat _this_ issue is a parent / umbrella issue for work we've already accepted.

[2022-02-04 17:43] robscott commented on #107927
But how do we know that a deleted node name won't be reused? Anything we do here around Node state seems like it would involve making unsafe assumptions.

[2022-02-04 17:45] robscott commented on #107927
I'd actually gone down a very similar path for other forms of error handling previously, but yeah, the possibility of an infinite backoff/sync loop due to invalid data is not ideal.

[2022-02-04 17:47] aojea commented on #107927
yeah, that is right, I didn't think carefully about that

[2022-02-04 17:52] awels commented on #105626
Wouldn't CephFS also be a filesystem that allows RWX?

[2022-02-04 17:52] awels commented on #105626
/remove-lifecycle stale

[2022-02-04 18:05] afbjorklund commented on #104878
Missed that it was only about containerd, sorry

[2022-02-04 18:08] #99877 closed

[2022-02-04 18:08] aojea commented on #107951
are that kube-proxy and etcd running on the same host?

[2022-02-04 18:20] jhoblitt commented on #103356
The design proposals have been removed.  Is there any current motion on similar functionality to reschedule a statefulset when a node is offline?

[2022-02-04 18:37] mmiranda96 commented on #107412
Timeout increase didn't fix the flakiness. I'm taking a deeper dive, I'll update this issue with my findings and if possible, I'll send a PR with the fix.

[2022-02-04 18:38] etavene commented on #107951
Yes, it is a single node deployment.

[2022-02-04 18:44] aojea opened #107953 "apiserver logs error "Unable to remove endpoints from kubernetes" at start"
Is this supposed to avoid the error message that I removed in https://github.com/kubernetes/kubernetes/pull/107677?

The error that I see in current master is this:
[code]

With this PR it is different, but there's still an error:
[code]

My expectation is that errors only get logged when something really went wrong. According to my analysis in https://github.com/kubernetes/kubernetes/commit/be4bf

[2022-02-04 18:44] aojea commented on #107953
/assign

[2022-02-04 18:45] thomas7kuo commented on #56582
Please reopen this issue. I have a legit [use case](https://stackoverflow.com/questions/70356303/k8s-access-control-to-single-pod/70358418#70358418) and it could enhance the security and access control for many systems

[2022-02-04 19:22] benluddy opened #107954 "DeepCopy of JSONSchemaProps doesn't deeply copy XValidations."
### Failure cluster [89c7abe10b4e83db5885](https://go.k8s.io/triage#89c7abe10b4e83db5885)

##### Error text:
[code]
#### Recent failures:
[2/4/2022, 5:54:09 AM ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-generate-make-test-count10/1489552395456221184)
[2/3/2022, 11:54:15 PM ci-kubernetes-generate-make-test-count10](https://prow.k8s.io

[2022-02-04 19:25] grosser opened #107955 "kubectl version should fail when given extra arguments"
ran
[code]
instead of
[code]
and got no error and then though that was the right version
kubectl should fail for unexpected extra arguments

[2022-02-04 19:25] benluddy commented on #107954
/assign

[2022-02-04 19:25] mcallaghan-geotab commented on #32457
@bobbypage  - 300 + (60 x 5) == 600; since the Google HTTPS Load Balancer TCP timeout is _exactly_ `600s`, shouldn't the defaults be _HIGHER_ than this? They specifically recommend `620s`.

https://cloud.google.com/load-balancing/docs/https/#timeouts_and_retries

(1) HTTP keepalive timeouts FYI (not related to this issue)

An HTTP keepalive timeout, whose value is fixed at 10 minutes (600 seconds)

[2022-02-04 19:43] grosser commented on #107955
/sig cli

[2022-02-04 20:05] johnSchnake opened #107957 "e2e-framework: Consistent use of configurable timeouts"
### What would you like to be added?

Cleanup work to remove more of the deprecated timeouts, especially throughout the conformance tests. There are newer, configurable timeouts that are available via the framework.Timeouts object.

Some of the deprecated framework timeouts constants are still used: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L87-L154

For insta

[2022-02-04 20:07] johnSchnake commented on #107957
/remove-kind feature

[2022-02-04 20:13] #96428 closed

[2022-02-04 20:17] #105320 closed

[2022-02-04 20:18] khenidak commented on #107927
prologue:

- There are legitimate situations where a pod may no have node assigned. An example: Before scheduling pods won't have this field set, this can go longer if the scheduler is down. Among other things I can think of that lead to this situation is node object delete (scale down) without deleting the pods assigned to it or in place node repave+replace.

- As discussed yesterday I purpose to

[2022-02-04 20:35] smarterclayton commented on #107927
All controllers are out of date.  Kube is a distributed system, you are downstream of the truth, and you can never see the truth as it is now, only the truth as it was some time in the past (which for various reasons may be much much more than seconds).

In general, you ALWAYS need to retry everything when you are "downstream of the truth" situation forever.  Reconcile means "I'm not in charge, I

[2022-02-04 21:13] #104786 closed

[2022-02-04 21:24] smarterclayton commented on #106884
@ahg-g

Possible, although I believe this would be a massive regression in pod end to end latency, and potentially be two orders of magnitude more impactful to end users than the change we instituted here, since pod termination can take up to 30s to clean up resources due to various contention in the kubelet.  It would have a pretty strong impact on jobs, batch, knative, and rolling restart worklo

[2022-02-04 22:08] aojea commented on #107957
/cc

[2022-02-04 23:09] aojea commented on #107951
your node is under pressure and that causes that everything fails

[2022-02-04 23:22] aojea commented on #107927
since https://github.com/kubernetes/kubernetes/pull/105490 all watchers from the same client use the same TCP connection, they can not hit different api servers if they are using http2 (that is the default)

[2022-02-04 23:41] ruiwen-zhao commented on #107911
Created a draft PR on containerd https://github.com/containerd/containerd/pull/6517. Unit test now passes but I will probably need the CRI change to be merged for e2e test.

[2022-02-04 23:49] 2rs2ts commented on #100343
/remove-lifecycle stale

[2022-02-05 01:25] robscott commented on #107927
Thanks for the great discussion here! I agree with @smarterclayton and @khenidak on all points, especially that this could be triggered for a wide variety of reasons, and that the EndpointSlice controller should likely retry indefinitely. It can use the same exponential backoff, just without a retry limit.

What I'm stuck on is how we handle the partially valid state in the meantime. Even if we re

[2022-02-05 02:07] jlsong01 commented on #107955
/assign

[2022-02-05 02:20] andyzhangx commented on #99061
@mcaden that's an issue in azure file csi migration, you could
 - option 1. disable azure file csi migration by
[code]

after apply the above config, delete pods with failed azure file mount.

 - option 2. use csi driver PV config instead of in-tree
 follow: https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

[2022-02-05 03:32] bgrant0607 commented on #25238
@apelisse Is there a way with SSA to specify an initial value of a field, such as spec.replicas, but not take ownership of it?

Discussion with @tamalsaha:
https://twitter.com/tsaha/status/1489720742300160004

[2022-02-05 03:33] msau42 commented on #99061
@andyzhangx has this been fixed?

[2022-02-05 03:36] andyzhangx commented on #99061
@msau42 it's fixed in upstream, and being rolling out in AKS

[2022-02-05 04:18] #107954 closed

[2022-02-05 05:58] palnabarun commented on #104821
/remote-lifecycle rotten
/lifecycle frozen

[2022-02-05 05:58] palnabarun commented on #104821
/reopen

[2022-02-05 06:40] MikeSpreitzer opened #107964 "APF does not resize final work when not queuing"
### What happened?

While reviewing the code in queueset.go, I noticed that the block of code that resizes the final work if it is too wide (`if oldestReqFromMinQueue.workEstimate.FinalSeats > uint(qs.dCfg.ConcurrencyLimit) ...`) appears only in `findDispatchQueueLocked` --- not also in the no-queuing code path (`dispatchSansQueueLocked`).

### What did you expect to happen?

Since the resizing is

[2022-02-05 07:04] aprodigalson opened #107965 "chain KUBE-SERVICES cat not see with iptables v1.8.4 (nf_tables)"
### What happened?

kube-proxy is running, proxy-mode is iptables, but not found KUBE-SERVICES  in iptables nat table .

[root@minion:~]$ iptables -t nat -nL PREROUTING
Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination
DOCKER     all  --  0.0.0.0/0            0.0.0.0/0            ADDRTYPE match dst-type LOCAL
Warning: iptables-legacy tables present, use iptables

[2022-02-05 07:14] aprodigalson commented on #107965
/sig network

[2022-02-05 08:10] Nivedita-coder opened #107966 "[Failing test] capg-conformance-v1beta1-ci-artifacts"
### Which jobs are failing?

master-informing[ capg-conformance-v1beta1-ci-artifacts](https://testgrid.k8s.io/sig-release-master-informing)

### Which tests are failing?

- capg-e2e.BeforeSuite
- periodic-cluster-api-provider-gcp-conformance-v1beta1-ci-artifacts.Overall

### Since when has it been failing?

02-02-2022 17:47 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informi

[2022-02-05 15:39] liggitt commented on #107954
hmm... latest run of the count10 job with this commit failed:

[code]

[2022-02-05 15:59] benluddy commented on #107954
Interesting, that's a different TestRoundTrip? :eyes:

[2022-02-05 16:06] LittleChimera commented on #99629
/remove-lifecycle rotten

[2022-02-05 16:14] drfrink opened #107969 "Kubeadm init fails, Kubelet fails to start"
### What happened?

Running into an issue with kubeadm init on a raspberry pi cluster

`
I0205 12:29:12.192138    5348 initconfiguration.go:117] detected and using CRI socket: /var/run/dockershim.sock
I0205 12:29:12.196554    5348 interface.go:432] Looking for default routes with IPv4 addresses
I0205 12:29:12.196600    5348 interface.go:437] Default route transits interface "wlan0"
I0205 12:29:12.

[2022-02-05 16:26] benluddy commented on #107954
It seems to be getting lost here https://github.com/kubernetes/kubernetes/blob/66af4ecfd5c4152542a95710edd9db9a4166464f/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation_test.go#L84.

[2022-02-05 16:26] liggitt commented on #107954
yeah... this is squirrely... that test is doing the following:
1. fuzzing internal types
2. converting them to an openapi struct (which populates the extension `x-kubernetes-validations` pointing to internal `ValidationRule` structs)
3. serializes that to openapi json (which serializes Rule and Message in upper-case because there are no json tags on that struct)
4. deserializes that to v1 JSONSche

[2022-02-05 16:27] redbaron commented on #74415
/remove-lifecycle stale

[2022-02-05 16:27] liggitt commented on #107954
I'll open another PR strengthening the test, and will tag in @sttts to figure out what the right thing to do here is

this is the first structured extension we're adding that had subfields where capitalization mattered... I'm not 100% sure what we're doing here (serializing the internal types) is correct

[2022-02-05 16:39] liggitt commented on #107954
PR in progress in https://github.com/kubernetes/kubernetes/pull/107970

[2022-02-05 17:10] neolit123 commented on #107969
the go compiler should be able to do this automatic alignment of 64bit POD types, so potentially a bug there.

offending function:
https://github.com/kubernetes/kubernetes/blob/release-1.23/vendor/github.com/google/cadvisor/manager/container.go#L640

this could be due to some of the fields in:
https://github.com/kubernetes/kubernetes/blob/7c7f40d92fc044d46cbb6411d35dae6c39bd9478/vendor/github.com/

[2022-02-05 17:14] #101674 closed

[2022-02-05 19:02] amarkevich commented on #52521
@andyxning both mentioned issues are closed. any chance to have extended event lifetime by default?

[2022-02-06 01:15] #100846 closed

[2022-02-06 03:17] #104785 closed

[2022-02-06 05:42] jfremy opened #107973 "Bug in node_status_updater.go - UpdateNodeStatuses"
https://github.com/kubernetes/kubernetes/blob/9b09612d1b0a6ec441833f928cbb205d936da59c/pkg/controller/volume/attachdetach/statusupdater/node_status_updater.go#L92

UpdateNodeStatuses will exit immediately if updateNodeStatus returns an error.
It does mark the node for which the call failed for later update but all the following nodes in the update list are left unchanged and therefore won't be upd

[2022-02-06 05:57] jfremy commented on #107973
/sig storage

[2022-02-06 05:57] acumino commented on #107491
@zbogdan7 , is you etcd is running properly, maybe it can be an issue related to non-graceful termination of etcd.

[2022-02-06 07:08] NikhilSharmaWe commented on #107957
@aojea and @johnSchnake I would like to work on it.

Could you please give me some idea or steps should be taken on how can I prevent the source code from using deprecated timeout constants.

- @johnSchnake mentioned that `Updating every reference to the deprecated values may take time, but some of them should be straight forward.` How can we know that where these constants are used in the repo an

[2022-02-06 08:58] zbogdan7 commented on #107491
Yes, that's right, the termination of entire cluster was non-graceful in my case. After, I couldn't start it again and had to re-initialize the cluster.
But I'd like to know how to start it again, even if I take a risk of lose some data?
P.S. Also I wouldn't mind if you suggest me please some standard configurations to resolve such non-graceful terminations and unpredictable restart/shutdown.

[2022-02-06 09:54] acumino commented on #107491
Can you first check if etcd is able to start? If not then it's the issue I described [here](https://github.com/kubernetes/kubernetes/issues/107491#issuecomment-1030758212). If you don’t have any important data that you want to recover, then you could simply delete the etcd data directory (usually at /var/etcd/data ).

For confirmation can you post the log of etcd startup?

[2022-02-06 10:20] #104855 closed

[2022-02-06 12:36] NorseGaud commented on #70082
Hey everyone, so it seems like ext4 has a write barrier cache can cause crappy performance even on a fast SSD. Check this out https://medium.com/paypal-tech/scaling-kubernetes-to-over-4k-nodes-and-200k-pods-29988fad6ed

[2022-02-06 13:20] #104091 closed

[2022-02-06 13:45] jlsong01 commented on #107891
Sorry for the late response.

As you mentioned: "the docs indicated that an Indexed Job with static work assignment keeps at least", could you please provide the document link for my reference?

[2022-02-06 15:36] #107937 closed

[2022-02-06 16:15] panzerox123 commented on #107534
Hey! So I looked through the code, and it seems that every implementation of the `GuaranteedUpdate` interface eventually passes the control to the `store` structure's implementation of the same, which converts the the `ptrToType` Object to a Pointer at https://github.com/kubernetes/apiserver/blob/56ff18e72e23862ac6fd0c6ddd57238be8324ba3/pkg/storage/etcd3/store.go#L317 . So I guess `ptrToType` vari

[2022-02-06 16:20] #36621 closed

[2022-02-06 16:26] dakoner commented on #107891
I looked again and I don't think the docs guarantee the behavior I am describing.  In particular, it looks like Pods have to exit with an exit code of 0 ("successful completion"), otherwise pods that are part of a job are deleted.

However, think about what this implies: if you submit a job that contains pods that error out, you can't ever determine their exit code or logs, because they are immedi

[2022-02-06 16:33] dakoner commented on #107891
BTW< here's the doc that I was following: https://kubernetes.io/docs/concepts/workloads/controllers/job/
Note that it says that pods are not normally deleted if restartPolicy="Never".

It says to use restartPolicy="never" to retain pods, but as I pointed out, if a pod returns false, the pod is deleted immediately.
So actually, I think I did what the docs said!
https://kubernetes.io/docs/concepts/w

[2022-02-06 16:35] lauchokyip commented on #106617
/triage accepted
/priority backlog
/assign @ardaguclu

[2022-02-06 16:51] lauchokyip commented on #106617
/remove triage accepted

[2022-02-06 16:51] lauchokyip commented on #106617
/remove triage/accepted

[2022-02-06 16:52] lauchokyip commented on #106617
/remove-triage

[2022-02-06 16:54] lauchokyip commented on #106617
/remove-triage accepted

[2022-02-06 16:54] lauchokyip commented on #106617
/remove-priority backlog

[2022-02-06 17:03] lauchokyip commented on #106617
Sorry @Spongman  for the spam! Now I understand why , I will put the label back.
/triage accepted
/priority important-longterm

[2022-02-06 17:04] lauchokyip commented on #106617
/assign @eddiezane

[2022-02-06 18:16] robscott commented on #105986
/remove-lifecycle stale

[2022-02-06 18:27] NikhilSharmaWe commented on #107973
/assign

[2022-02-06 19:20] #102881 closed

[2022-02-06 22:32] hholst80 commented on #84210
Is this really needed? The pause container is executed for all pods. It has init signaling and reaps zombie processes.

http://en/almighty-pause-container

![Screenshot_20220206-233203.jpg](https://user-images.githubusercontent.com/6200749/152704279-fbcc06b3-0e6a-49b1-bbb7-c58886d8ca82.jpg)

[2022-02-06 22:32] remram44 commented on #23398
This issue is still linked from https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#limiting-access-of-etcd-clusters

[2022-02-06 22:34] segevfiner commented on #84210
Only with PID namespace sharing enabled, which is not the default AFAIK and has other implications.

[2022-02-06 23:32] #107856 closed

[2022-02-07 01:57] celiawa commented on #107849
Hi @humblec, could you please help look on this. We're depending on this issue.

[2022-02-07 01:57] hxietkg commented on #107853
Initial RTO is set to 3s in RFC 793, but it is updated to >=1s by RFC 6298, and modern OSes (windows, Linux etc..) use 1s, but image agnhost:2.32 is still using 3s RTO, 1s is enough for a roundtrip packet in modern network, network latency is less than 100ms in most of network env.

Just increasing probeTimeout from 3s to 4s/5s may handle the initial packet lost, but for a test testing a 'deny rul

[2022-02-07 01:58] jlsong01 commented on #107891
I think the point here is `backoffLimit` with value 0

`backoffLimit` specifies the number of retries before considering a Job as failed. However, it can not guarantee each pod to run at least once to failure or success.

For the issue, the `backoffLimit` was set as 0, so when the first pod (of the five pods) failed,  the job failed as well. when a job is identified as failed, the current `active`

[2022-02-07 02:07] jlsong01 commented on #107891
as mentioned in the previous comment, for the specific case, the pods remains or not is not determined by the exit code, but the current job is failed or not. If job failed, all the active pod at that time will be deleted, however the failed or succeed pod will be kept.

Is it possible to increase backoffLimit?

I am not sure if this would be new feature or improvement for k8s. We can discuss it i

[2022-02-07 03:49] infa-ddeore commented on #65798
this plugin now has `--all` flag to show groups info as well

[code]

[2022-02-07 04:09] jpbetz commented on #107795
/assign

[2022-02-07 04:21] T4cC0re opened #107980 "Object (/v1, Kind=Endpoints: test-endpoint) keeps changing, diffing without lock"
### What happened?

When diffing an `Endpoints` object with `--server-side=true`, there is no diff produced, but this message is printed:

[code]

A diff without `--server-side=true` yields empty output as expected

### What did you expect to happen?

I expected there to be simply no diff. A client-side diff reports no changes, as expected.

### How can we reproduce it (as minimally and precisely

[2022-02-07 04:21] lauchokyip commented on #106617
/unassign @eddiezane

[2022-02-07 04:22] lauchokyip commented on #106617
@ardaguclu can you please assign yourself on this issue ? Thanks!

[2022-02-07 04:24] #76772 closed

[2022-02-07 05:30] ardaguclu commented on #106617
Thanks @lauchokyip

/assign

[2022-02-07 05:44] diannaowa commented on #107717
The logs show that Kubelet is deleting some important system files

[2022-02-07 05:53] shyamjvs commented on #107133
Got it. Thanks for your inputs @wojtek-t.

Closing the issue for now.

[2022-02-07 05:53] #107133 closed

[2022-02-07 06:25] humblec commented on #107849
@celiawa sure, will take a look at this, meanwhile, can you check the workload behavior with deployment if possible.
Also, I would like to check the logs of above statefulset execution if possible.

Kubelet, kube controller manager and csi-rbd plugin logs from csi-rbdplugin pod .

[2022-02-07 06:27] humblec commented on #107849
/assign @humblec

[2022-02-07 06:47] nilesh-telang commented on #105703
Hi @caseydavenport thank you for the detailed explanation and I agree with the points that you have specified.

Considering that we have not been able to reproduce this issue on any of our staging clusters, I too suspect that the issue may not be at the service level or in the kubernetes algorithm during shutdown.  At this point I am suspecting that the root cause could be that AWS is reclaiming t

[2022-02-07 06:57] celiawa commented on #107849
Thanks @humblec, Here is the sidecar images.
[code]

Yes, I set csiMigrationRBD feature Gate enabled. Actually I raised this ticket [107488 ](https://github.com/kubernetes/kubernetes/issues/107488 ) :)

Will collect and upload the log soon~

[2022-02-07 07:11] nikhita commented on #107966
/cc @cpanato @sayantani11
this looks related to the recent changes cert-manager scripts in capg

[2022-02-07 07:28] celiawa commented on #107849
Hi @humblec, I just did a retest, created intree pod/pvc/pv, enabled csiMigrationRBD and then deleted pod. Please refer to below logs:
[csi-rbd.log](https://github.com/kubernetes/kubernetes/files/8013124/csi-rbd.log)
[kubelet.log](https://github.com/kubernetes/kubernetes/files/8013126/kubelet.log)
[kcm.log](https://github.com/kubernetes/kubernetes/files/8013127/kcm.log)

The related pod, pvc, and

[2022-02-07 07:39] humblec commented on #107849
@celiawa this is one of the demo I captured 3/4 days back and unmount was happening.. https://drive.google.com/drive/folders/1Dc5lYFzjleKXxztxcZtGQ_rVlnQeHFN_ .. will check whats going on here.

[2022-02-07 07:42] rmoesbergen commented on #78761
For those who are seeing this issue on GKE, here's the google bugtracker for the issue:
https://issuetracker.google.com/issues/204415098

[2022-02-07 07:49] humblec commented on #107849
@celiawa while I go through the logs, can you please perform the test with `deployment` or `pod` and check it works?  I just wanted to isolate  `statefulset` part  here.  Also please share the `va` objects (Describe)  from above experiment.

[2022-02-07 07:56] celiawa commented on #107849
@humblec, found that the difference from the demo was that the pod in my scenario was created before csiMigrationRBD was enabled. And just had a test if I create the statefulset after csiMigrationRBD  the umount also successfully.

[2022-02-07 07:58] cpanato commented on #107966
this is not related to the cert-manager scripts and it is related more to capi, see https://kubernetes.slack.com/archives/C8TSNPY4T/p1643801670063279 and was fixed in this pr https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/500 for the main branch and there is a PR in flight for the v1beta1 branch https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/503

I will check
/a

[2022-02-07 07:59] aojea commented on #107980
/cc @apelisse

[2022-02-07 07:59] humblec commented on #107849
Thats good.. actually that demo has 2 parts, first part `existPVC` show a situation where PVC existing and csimigration enabled and rest of the operations like pod attach, unmount, resize...etc. The second part is new volume creation after migration enabled.

 if I may ask, can we create a PVC before migration enabled and attach to a pod after enabling the migration and check ?

[2022-02-07 08:00] tossmilestone commented on #107943
@FaraSys Do you means some of your logs are missing?

[2022-02-07 08:07] aojea commented on #107853
there are always trade-offs , in a busy CI I've seen more than 1sec delay and seems that the report is about false positives like that, you have to choose between more stable or faster, ... just my 2 cents

[2022-02-07 08:09] celiawa commented on #107849
Yes, had tested that created a PVC before migration enabled and attached to a pod after enabling the migration, and this worked well.

[2022-02-07 08:09] FaraSys commented on #107943
@tossmilestone Quite right. I also think it's a bug

[2022-02-07 08:22] tossmilestone commented on #107943
@FaraSys It should be a designed behavior, see https://github.com/kubernetes/community/commit/ee2abbf9dbfa4523b414f99a04ddc97bd38c74b2?short_path=800a0ac#diff-800a0acf0cc17ebe3bdccb4c2522424749974495d6f589c5130268b4b930cb6f

The `P` means a part of the log line.

[2022-02-07 08:23] hxietkg commented on #107853
Does the 1+ seconds delay happen to Windows node/cluster only? RTO has already been 1s in Linux cluster for a long period, and seems it works well, if the 1s+ delay is caused by underlay network, not windows specific, we need to increase probeTimeout to 4 seconds for both windows and linux.

[2022-02-07 08:31] FaraSys commented on #107943
@tossmilestone What does RUNTIME mean in this text? ContainerD or Docker?
"Partial (P) is used when a log entry is split into multiple lines by the **runtime**"

[2022-02-07 08:36] tossmilestone commented on #107943
the runtime could be ContainerD or Docker, kubelet parse the log from the runtime and store it as the CRI log format

[2022-02-07 08:46] tossmilestone commented on #107943
The `runtime` means the CRI runtime, in you case, it should be containerd.

[2022-02-07 08:56] jsafrane commented on #105626
CephFS is a filesystem, it does not allow block volumes. Unless you hack them via `losetup`, but then Ceph RBD would be a much better choice.

[2022-02-07 09:16] tossmilestone commented on #107717
The kubelet could not decide where the log path the cri provided is system-important or not, the host os should run the kubelet with restricted permission to protect it to delete the system files.

[2022-02-07 09:21] aprodigalson commented on #107965
Because the iptables version used by the kube-proxy container is inconsistent with the host side, the container is iptables v1.8.3 (legacy), and the host side is iptables v1.8.4 (nf_tables)

If want to solve this problem, need to modify the iptables version of the kube-proxy container to keep it consistent with the host side

[2022-02-07 09:21] #107965 closed

[2022-02-07 09:39] adisky commented on #107969
/triage accepted
This has been fixed in cadvisor  https://github.com/google/cadvisor/pull/3029
we need to bump cadvisor in k/k

cc @bobbypage @SergeyKanzhelev

[2022-02-07 09:52] MadhavJivrajani commented on #107980
/sig api-machinery cli

[2022-02-07 10:33] adisky commented on #107969
related to https://github.com/kubernetes/kubernetes/issues/106977

[2022-02-07 10:51] avarf opened #107985 "Some pod to pod connection fails on EKS"
### What happened?

We have a cluster on EKS and from 2 days ago we noticed some network issues in our cluster. Imagine a scenario in which we have 2 workers nodes (w1 and w2) and 3 pods with their own services (A, B and C). Pods A and B are located on w1 and pod C are located on w2.

The problem is A cannot reach C but B can. When I go inside pod A and try `curl -vvv http://C/` the DNS resolves t

[2022-02-07 11:07] cortex3 commented on #70082
I fixed this issue by changing to a locally deployed VPN server. The ping times between masters changed from ~60ms to ~3ms and the alert is gone.

[2022-02-07 11:33] haoruan commented on #107319
I’d like to help
/assign

[2022-02-07 11:42] neolit123 commented on #107969
i think this one can be closed, given there is so much detail in https://github.com/kubernetes/kubernetes/issues/106977

[2022-02-07 11:45] julienlau commented on #70082
Ok for performance, but this is not true that disabling write barrier has no effect on data loss !
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/storage_administration_guide/ch-writebarriers

The only condition were it's ok to do fsync writes with write barrier cache disabled  is if you are using Battery-backed write cache.

However the people considering this relev

[2022-02-07 11:52] humblec commented on #107849
Thanks @celiawa for above information !.. so, below things works:

- [x] Enable `csiMigration` and then , create PVC, create POD, Delete Pod ...etc :  **Works**

- [x] Create a PVC, Enable `csiMigration`,  Delete POD, Delete PVC...etc : **Works**

The situation here is:

*Create statefulset pod, enable migration, then scale down statefulset:  where we see the `device or resource busy`..

[2022-02-07 11:53] rtheis commented on #105790
/remove-lifecycle stale

[2022-02-07 12:01] neolit123 commented on #107788
/close

please reopen if there is evidence this is a core k8s issue.

[2022-02-07 12:02] #107788 closed

[2022-02-07 12:02] neolit123 commented on #107951
/sig network

[2022-02-07 12:02] neolit123 commented on #107953
/sig network

[2022-02-07 12:05] neolit123 commented on #107985
hello, EKS is a managed k8s solution that may or may not deploy a custom version of k8s components.
please contact EKS support first. if they confirm this is a core k8s bug you can re-open this issue and include their feedback.
thanks

/area provider/aws
/sig cloud-provider
/close

[2022-02-07 12:05] #107985 closed

[2022-02-07 12:12] saschagrunert opened #107989 "Move `pkg/kubelet/cri/remote` to `cri-api` staging"
### What would you like to be added?

The cri-api repository already exposes a bunch of interface definitions there:
https://github.com/kubernetes/cri-api/blob/master/pkg/apis/services.go

The actual implementation of those interfaces, namely `RuntimeService` and `ImageManagerService` are part of the kubelet internal implementations:
https://github.com/kubernetes/kubernetes/blob/a266805f33197ba175

[2022-02-07 12:13] saschagrunert commented on #107989
/sig node

[2022-02-07 13:12] celiawa commented on #107849
Yes @humblec,  that's my test result.

[2022-02-07 15:20] hj-johannes-lee commented on #107838
@SergeyKanzhelev Could you let me know what more information would need to be provided?

[2022-02-07 15:29] tkashem opened #107991 "k8s.io/apiserver/pkg/server/filters.TestTimeoutHeaders flakes"
### Which jobs are flaking?

`pull-kubernetes-unit`

### Which tests are flaking?

Unit test `TestTimeoutHeaders` in `k8s.io/apiserver/pkg/server/filters` package flakes
[code]

### Since when has it been flaking?

https://storage.googleapis.com/k8s-triage/index.html?date=2022-01-25&pr=1&job=unit&test=TestTimeoutHeaders

### Testgrid link

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pul

[2022-02-07 15:32] tkashem commented on #107991
/assign

[2022-02-07 15:32] tkashem commented on #107991
I have a PR in the works

[2022-02-07 15:50] johnSchnake commented on #107957
@NikhilSharmaWe I linked to the constants that are commented as being deprecated and showed an example.

The way the timeouts should be referenced are via `f.Timeouts.<specificTimeout>`. This `.Timeouts` struct can be configured, the deprecated constants can't be.

The unknown is in which cases they can easily be swapped (do you have access to the framework object?) or if you need to pass the meth

[2022-02-07 15:59] endocrimes commented on #107800
Looks like https://github.com/kubernetes/kubernetes/pull/107832 fixed [containerd-node-e2e-1.4](https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.4), which is nice progress. I'll look into the others again tomorrow (won't get a chance today).

[2022-02-07 16:26] dakoner commented on #107891
Thanks for patiently explaining that.  I can adjust backoffLimit and that's the workaround I have now.
It still seems reasonable that I should be able to ensure that my pods aren't deleted prematurely if I configure it as such and the backoffLimit really isn't the right variable to set that in a static work assignment.

[2022-02-07 16:41] humblec commented on #107849
While going through the provided logs, I can see below sequence:

The CSI driver received an **unpublish** call which was successful at  07:09:55.925956 :

[code]

Then as expected `NodeUnstage` was attempted ,

I can see there was a successful `NodeUnstage` for PVC (pvc-db77597c-4f07-4b51-b794-ee5e31fedb05) at **07:09:56.029849**
[code]

But without much delay I can see another attempt to `Unstag

[2022-02-07 17:35] danwinship commented on #85572
That was wrong; kube-proxy adds rules to redirect pod-to-LB and node-to-LB traffic directly to the service IP, so traffic from within the cluster will never hit the actual LB regardless of whether there is a DROP rule. (And traffic from outside the cluster is never expected to hit a node with no endpoints.)

This was also wrong, because, as above, we also rewrite node-to-LB traffic (a few lines be

[2022-02-07 17:36] danwinship commented on #85572
/triage accepted

[2022-02-07 18:14] oomichi commented on #105837
/remove-lifecycle stale

[2022-02-07 19:36] vaibhav2107 commented on #105844
/remove-lifecycle stale

[2022-02-07 19:38] vaibhav2107 commented on #103587
/remove-lifecycle stale

[2022-02-07 19:40] vaibhav2107 commented on #98607
/remove-lifecycle stale

[2022-02-07 21:15] apelisse commented on #107980
/triage accepted

[2022-02-07 21:17] apelisse commented on #107980
Yeah, there are a few things that I don't understand here.

What is the problem you're concerned about:
1. the poor interaction between client-side and server-side?
2. The warning about "keeps changing, diffing without lock"?
3. The time change?

[2022-02-07 21:52] zerkms commented on #89938
/remove-lifecycle stale

[2022-02-07 23:11] aojea commented on #107951
/close
/remove sig-network
/kind support

The node is not in good health, etcd fails and it cascades that to the rest of the cluster

since etcd is very io intensive, is probably the disks are saturated too

[2022-02-07 23:11] #107951 closed

[2022-02-07 23:18] #75175 closed

[2022-02-07 23:25] #96764 closed

[2022-02-08 00:20] kishorj commented on #96764
The issue has been fixed in v1.19 and later releases, PR https://github.com/kubernetes/kubernetes/pull/89562.
Unfortunately, the cherry pick did not make to previous releases. Either update your k8s to 1.19 or later, or use a static nodeport assignment if on older releases.

[2022-02-08 01:36] tallclair commented on #105746
Yeah, if you look at the PR you linked the registry `gcr.io/k8s-staging-sig-auth` is already set up for this (https://github.com/kubernetes/k8s.io/pull/2921)

[2022-02-08 01:46] RA489 commented on #100683
/remove-lifecycle stale

[2022-02-08 02:09] tossmilestone commented on #107964
/assign
I could help to fix it if this is a bug

[2022-02-08 02:11] celiawa commented on #107849
This PVC is not shared, used by only this pod .

I had a retest, the pod uid is changed.

Before I scale-dwon the pod, the pv mountpoint is as below.
[code]

Then I delete the pod, the csi mountpoint is removed, the left is the rbd mountpoint.
[code]

If I manually umount the mountpoint, then the pod is automatically deleted successfully.

[code]

The steps I did as below:
1. Create an intree pvc/

[2022-02-08 02:35] jmcmeek commented on #107817
Is this behavior is specific to OpenShift 4.6 - which uses Kubernetes 1.19?  It looks like a change from https://github.com/kubernetes/kubernetes/pull/101093 is missing.

https://github.com/openshift/kubernetes/blame/release-4.6/pkg/kubelet/prober/worker.go#L246-L248 has
[code]
vs
https://github.com/kubernetes/kubernetes/blob/release-1.19/pkg/kubelet/prober/worker.go#L246-L248, which keeps the com

[2022-02-08 03:20] #107991 closed

[2022-02-08 03:27] lauchokyip commented on #106617
Removing triage accepted until more people provide their inputs
/remove-triage accepted
/remove-priority important-longterm

[2022-02-08 05:01] BenTheElder commented on #70249
@tallclair nudged me about this, digging around shows that distroless images persist package versions by putting the package control file in `/var/lib/dpkg/status.d/$package`, which is _close_ to normal dpkg `/var/lib/dpkg/status` (one big file with a blank line between packages, and some additional info beyond the control file)

Source: https://github.com/bazelbuild/rules_docker/commit/f5432b813e

[2022-02-08 05:17] MikeSpreitzer commented on #107964
/assign

[2022-02-08 05:18] BenTheElder commented on #70249
I think if we wanted to continue with this approach for the iptables image it would look like:
1) rewrite the iptables / iptables-nft select hack script to be a static go binary instead of a shell script
2) convert the image build to look like kubernetes-sigs/kind images/haproxy, but instead of haproxy do the iptables binaries and stage them and their libraries, add the version select script + sym

[2022-02-08 05:42] wzshiming commented on #106035
/remove-lifecycle stale

[2022-02-08 06:50] adisky commented on #107800
containerd  `configure.sh` script is still running while we are verifying container runtime & getting error `ctr not found`
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/1490923386925223936/artifacts/bootstrap-e2e-minion-group-9dsx/serial-1.log

and `/etc/profile.d/containerd_env.sh` is still not yet written,
https://github.com/containerd/containerd/blob/main/

[2022-02-08 07:06] Kartik494 commented on #106409
@5279314 these volume limits error you getting is on specific node only? or you get the same behaviour across all nodes?

[2022-02-08 07:27] NikhilSharmaWe commented on #107989
@saschagrunert Are you talking about importing only
`github.com/kubernetes/cri-api`
instead of
[code]

[2022-02-08 08:48] saschagrunert commented on #107989
@NikhilSharmaWe no I was more proposing an actual implementation for the existing interfaces there:
https://github.com/kubernetes/cri-api/blob/420de3a7ed3068cb89974a143e1ae345c0090576/pkg/apis/services.go#L96-L124

I would like to highlight this comment which states that it's probably not a good idea now: https://github.com/kubernetes/kubernetes/pull/106501#issuecomment-1032102323

[2022-02-08 10:36] #92229 closed

[2022-02-08 10:55] humblec commented on #107849
@celiawa thanks for above update,

Can you give some more information about this mention? in previous comment, everything refers to same POD UUID, so the question

[2022-02-08 11:02] humblec commented on #107849
@msau42 @jsafrane @Jiawei0227 any thoughts on whats special about the scenario described here and https://github.com/kubernetes/kubernetes/issues/107849#issuecomment-1032139085 or any thoughts on https://github.com/kubernetes/kubernetes/issues/107849#issuecomment-1031676448

To summarize:

- [ ] Create a PVC , Enable CSI Migration, Attach to POD, Delete POD, Delete PVC :  This is **working** as ex

[2022-02-08 11:03] wojtek-t opened #108003 "Evolve watchcache to optimize LIST calls and support pagination"
This issue is significantly inspired by discussion I had with @smarterclayton an year ago or so. However, given that we're facing more and more issues and concerns related to it, it's probably the highest time to actually get back to it.

The key point that I didn't realize back then (not sure about Clayton) is that actually, we can do that in an incremental way as opposed to how I was thinking ab

[2022-02-08 11:04] wildermesser commented on #107647
The same problem is in my k8s 1.20.11 (same version as in topic). Kube-controller-manager log:
[code]
I expect that replica count shouldn't decrease because I set `horizontal-pod-autoscaler-downscale-stabilization: 24h0m0s` for kube-controller-manager and didn't set custom `stabilizationWindowSeconds` for `scaleDown` behavior in HPA manifest.

[2022-02-08 11:46] zerols opened #108005 "test/e2e/testing-manifests/statefulset/etcd/statefulset.yaml run error"
### What happened?

i have copy test/e2e/testing-manifests/statefulset/etcd/statefulset.yaml and run in k8s v1.21.3 then it show me /bin/sh 37 bad substitution。
confused：
- what diferent between collect_member and member_hash  and cut -d':' -f1 | cut -d'[' -f1 whether wrong
-  37 bad substitution  SET_ID=${HOSTNAME:5:${#HOSTNAME}} is this line ?

### What did you expect to happen?

it would run 3

[2022-02-08 11:56] #105274 closed

[2022-02-08 13:29] celiawa commented on #107849
Sorry @humblec , I might mislead you, please ignore this sentence.  I meant the pod uid is different as i did a retest. The pod is not the one from the previous comment.

[2022-02-08 13:34] souleb opened #108008 "Replacing key in StringData secret result in extra key in live object"
### What happened?

I have applied a secret

[code]

Then tried to update a key

[code]

As a result I have

[code]

### What did you expect to happen?

I expected a key replacement like:

[code]

### How can we reproduce it (as minimally and precisely as possible)?

k apply --server-side=true -f stringdata-secret.yaml

### Anything else we need to know?

_No response_

### Kubernetes version

<de

[2022-02-08 13:36] souleb commented on #108008
/sig api-machinery

[2022-02-08 14:56] jasperjonker commented on #81089
+1

[2022-02-08 15:12] #107440 closed

[2022-02-08 15:21] ikogan commented on #104357
I'm wondering if this is related to https://github.com/ceph/ceph-csi/issues/2238

[2022-02-08 15:42] xhejtman opened #108009 "kubelet deadlock with many parallel mounts"
### What happened?

We have kubernetes 1.20.8/9 with rke2. If we spawn like 100 new pods each mounting only a single pvc like this:
[code]
which is NFS provisioned volume (a single volume on host and mount --bind attached to the pods).
We got whole node stuck in container creating as the mount is not possible with the error:
[code]

It seems that even any other volume cannot be mounted.

All is fi

[2022-02-08 17:36] smira commented on #105820
/remove-lifecycle stale

[2022-02-08 17:40] joell commented on #104171
/remove-lifecycle stale

@jpbetz: Is there anything further I can provide that will aid in identifying the underlying bug causing this issue?

[2022-02-08 17:59] #107230 closed

[2022-02-08 17:59] #107795 closed

[2022-02-08 18:17] elijahomolo commented on #71869
This is also being experienced on version v1.20.11, the container images seem to be reasonably sized. If it's an issue of usage increasing faster than GC can clean it up or GC being held, how would that be validated?

[2022-02-08 18:27] neolit123 commented on #108009
/sig node

[2022-02-08 18:38] endocrimes commented on #106884
/cc
To follow up from sig-node meeting, next steps:
- double check that this is definitely failing on fully-`terminated` pods (bug), or whether this is the expected behavior of a `terminating` container holding up resources (expected behavior, and a container-aware filter is required in the scheduler)

[2022-02-08 18:38] endocrimes commented on #106884
/assign

[2022-02-08 18:49] nadenf commented on #7890
/remove-lifecycle stale

[2022-02-08 18:51] dims commented on #100707
Re-opening as we haven't cleaned up docs  ( cc @sftim )

[2022-02-08 18:55] sftim commented on #100707
Thanks @dims

[2022-02-08 19:06] MadhavJivrajani commented on #108003
/assign
Happy to collaborate and drive this as and when discussion progresses :)

[2022-02-08 19:29] hakman commented on #100707
@dims I think https://github.com/kubernetes/kubernetes/pull/107096 is the last leftover of kubenet removal.

[2022-02-08 19:35] jackfrancis commented on #101035
/remove-lifecycle stale

https://github.com/kubernetes/kubernetes/pull/104484 is still in-progress

[2022-02-08 19:42] BenTheElder commented on #108005
e2e test manifests are internal details of the e2e tests, they're not meant for any other usage?

what are you copying this manifest for?

[2022-02-08 19:56] srfrnk commented on #94892
Any plans of working on that at some point?

[2022-02-08 19:59] ahg-g commented on #106884
Thanks @endocrimes

[2022-02-08 20:42] senser-adi commented on #75803
I'm having the same issue but i'm trying to run k8s cluster based on kubeadm on a github running, so I can't really modify "/etc/docker/daemon.json"...
Any other options I can try?
thanks a lot!

[2022-02-08 20:47] khenidak commented on #107927
@robscott the controller must get actual state of the system to the desired state of the system. We can make some sane assumptions e.g. if lost the entire desired state we can assume that something is up and wait a little (i think Tim described something similar in our discussion). But that does not apply on partial state because we simple don't know what happened and we can not tell for sure that

[2022-02-08 20:56] khenidak commented on #107927
I understand the assertion you are making, but i disagree. Go's transport itself is a connection pooled transport, unless we use a custom transport? we *do* want pooled connections simply because a busy client with a single upstream connection can easily overrun socket buffers on both sides.

[2022-02-08 21:00] neolit123 commented on #75803
run `docker info` on the machine and check the value of cgroup driver.

see https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/
pass a `kubeadm init --config ...` that has ClusterConfgiuration and KubeletConfiguration and be explicit about the `cgroupDriver` value in the KubeletConfiguration equals `cgroupfs` or `systemd` matching your docker.

but also see:
https://kubernetes.

[2022-02-08 21:19] leilajal commented on #108008
/assign @Jefftree
/cc @apelisse
/triage accepted

[2022-02-08 21:20] leilajal commented on #108003
/triage accepted

[2022-02-08 21:21] leilajal commented on #107964
/triage accepted

[2022-02-08 21:21] yliaog commented on #108003
/cc

[2022-02-08 21:23] benluddy commented on #107949
/assign

[2022-02-08 21:23] leilajal commented on #107949
/triage accepted
/assign @benluddy

[2022-02-08 21:23] aojea commented on #107927
that is how golang http2 is implemented, there is a connection pool, if the host:port connection is in the pool, it is reused, you can not have 2 TCP connections to the same host:port using the standard library, you have to use a custom transport https://github.com/kubernetes/enhancements/pull/3034 ... but better to not hijack this issue ;)

[2022-02-08 21:31] liggitt commented on #107927
fwiw, that doesn't match the data structured used by the http2 client pool, which is a map of host:port to a *list* of connections: https://github.com/golang/net/blob/cd36cc0744dd695657988f15f08446dc81e16efc/http2/client_conn_pool.go#L48

[2022-02-08 21:34] apelisse commented on #108008
This is fundamentally a duplicate of #89938. To be frank, we're not going to solve #89938 and I'm going to go close it now. This feature is broken by design and can't be salvaged. I will suggest you pretend the `stringData` field doesn't exist.

[2022-02-08 21:34] liggitt commented on #107927
if a single http2 connection reaches max_concurrent_streams, new connections to the same host can be dialed:

https://github.com/golang/net/blob/cd36cc0744dd695657988f15f08446dc81e16efc/http2/transport.go#L868-L876

[2022-02-08 21:35] apelisse commented on #107442
is there anything left to do here?

[2022-02-08 21:36] apelisse commented on #89938
As you mentioned earlier, I'm going to close this as "broken by design". I'll even throw a quote from @liggitt [1]:

[1]: https://github.com/kubernetes/kubernetes/issues/107442#issuecomment-1008926682

[2022-02-08 21:36] #89938 closed

[2022-02-08 21:40] JayCase commented on #91913
Seeing a similar message, but with different Wxyz and exec.go line number. Same issue?

W0208 15:40:30.618579   57912 exec.go:201] constructing many client instances from the same exec auth config can cause performance problems during cert rotation and can exhaust available network connections; 3161 clients constructed calling "aws"

[2022-02-08 21:41] liggitt commented on #91913
on what version of client-go?

[2022-02-08 21:45] JayCase commented on #91913
Ah, thanks!

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.9", GitCommit:"4fb7ed12476d57b8437ada90b4f93b17ffaeed99", GitTreeState:"clean", BuildDate:"2020-07-15T16:18:16Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"darwin/amd64"}

Time to have IT update :)

[2022-02-08 21:50] jyotimahapatra opened #108014 "Change apiserver healthiness check in KCM"
### What happened?

KCM startup has a dependency on apiserver availability https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/controller-manager/app/helper.go#L37.

When we have an apiserver that uses kms keys, an error in the kms plugin, the kms service, or a customer mistake of deleting the key interrupt the  kube-controller-manager startup because of the dependency on healt

[2022-02-08 22:04] aojea commented on #107927
(bear in mind I'm not a golang developer and this may be wrong, but so far is what I found in this area)
I'm assuming we want multiple TCP connections with multiple streams each, to the same host port. You can have one TCP connection per request without multiplexing, but that sounds highly ineffective. See related issues

https://github.com/golang/go/issues/37373
https://github.com/golang/go/issue

[2022-02-08 22:11] aojea commented on #107927
bear in mind that is an option to announce to the peer

[2022-02-08 22:12] jsturtevant commented on #98574
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1490546265753128960

[2022-02-08 22:25] neolit123 commented on #108014
/sig api-machinery auth

[2022-02-09 00:46] zerols commented on #108005
I want to install an etcd cluster in the k8s cluster for use by other microservices .

[2022-02-09 01:22] tallclair commented on #81089
FWIW, I'm sold on the value of this. I rescind my earlier comments. I'm not sure about a generic solution for all volumes (I don't like overwriting file permissions), but allowing an explicit owner to be set for ProjectedVolumes (or maybe all atomic writer volumes) makes sense to me.

A solution for this will need a KEP, if anyone is interested in picking it up.

[2022-02-09 01:38] #104820 closed

[2022-02-09 01:56] dylanPowers commented on #63214
/remove-lifecycle stale

[2022-02-09 02:04] liushi001 commented on #107749
I'm wondering whether those lock of CNI should be necessary after PodWorker refactorred from #104847, which moves pod killer to PodWorker.
@dcbw @smarterclayton

[2022-02-09 02:58] jyotimahapatra commented on #82531
Hi 👋 . Checking in from bug triage for 1.24. Should we be tracking progress on this issue for 1.24 release?

[2022-02-09 02:59] jyotimahapatra commented on #97026
Hi 👋 Im checking in from bug triage team for release 1.24. Should we track this issue for release 1.24?

[2022-02-09 03:00] jyotimahapatra commented on #102849
Hi 👋 I'm checking in from the bug triage team for release 1.24. I wanted to check if this issue is targeted for release 1.24.

[2022-02-09 03:09] yccharles commented on #55045
mark

[2022-02-09 03:12] celiawa commented on #107849
[kubelet-pod-before-migration.log](https://github.com/kubernetes/kubernetes/files/8029066/kubelet-pod-before-migration.log)
[kubelet-pod-after-migration.log](https://github.com/kubernetes/kubernetes/files/8029067/kubelet-pod-after-migration.log)

Hi @humblec , I collected the kubelet log that pod was created before or after migration enabled.

For the pod created after migration, then scale-down s

[2022-02-09 03:43] lauchokyip commented on #12123
/assign

[2022-02-09 04:05] Kartik494 commented on #105956
/remove-lifecycle stale

[2022-02-09 04:14] Kartik494 commented on #105956
I have tried with creating two `PV` 1 with 100Mi storage capacity and another one with 10Mi , and when i create statefulsets the corresponding pvc get created for 10 Mi.Here are the outputs

`kubectl get pvc

NAME        STATUS   VOLUME     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
www-web-0   Bound    test-pvv   10Mi       RWX            test-pv        5s
`
and

kubectl describe pvc www-web-0

[2022-02-09 04:29] BenTheElder commented on #108005
These manifests are not meant for that purpose, they are test files.

You could try something like https://bitnami.com/stack/etcd/helm

I don't think there are any official Kubernetes etcd deployment manifests https://etcd.io/docs/v3.5/install/#installation-as-part-of-kubernetes-installation

[2022-02-09 04:31] Kartik494 commented on #105956
I have also tried creating a `PV` with request.storage as `30Gi` and for requesting a `PVC` request for 10Gi , then PV gets a new instance with the storage capacity of `10Gi` and that `pvc` bound to it.

kubectl get pv
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS      CLAIM               STORAGECLASS   REASON   AGE
block-pv

[2022-02-09 04:47] NikhilSharmaWe commented on #107919
@liggitt I would like to collaborate for adding this feature, Could you give me some idea how should be our approach while adding feature.

- What kind of changes we should think about for making `kubectl` differentiate the errors caused by the existing and the new object, as a result log more informative `error` description.

[2022-02-09 05:11] divyenpatel opened #108019 "Disk becomes ReadOnly on Windows Node"
### What happened?

Some of the Disks are becoming Readonly on the Windows Node.

### What did you expect to happen?

- ReadWrite Disk should not be becoming Readonly Disk.
- The disk should not become ReadOnly unless user is asking to mount the volume as Readonly in the Pod Spec.

### How can we reproduce it (as minimally and precisely as possible)?

Create a Pod without Readonly ask in the Pod S

[2022-02-09 05:21] divyenpatel commented on #108019
/sig windows

[2022-02-09 05:22] divyenpatel commented on #108019
cc: @pradeep-hegde @xing-yang @ddebroy

[2022-02-09 05:37] humblec commented on #107849
@celiawa Thanks for capturing it!, do you have the csi rbd plugin logs captured for above iterations too? especially for second scenario.. if yes, can you please provide the same?

[2022-02-09 06:11] celiawa commented on #107849
[csi-rbd-before-migration.log](https://github.com/kubernetes/kubernetes/files/8029965/csi-rbd-before-migration.log)
[csi-rbd-after-migration.log](https://github.com/kubernetes/kubernetes/files/8029966/csi-rbd-after-migration.log)

The mountpoint for the pod that created after migration as below, only csi mountpoint.
[code]

For the pod created before migration:
The mountpoint as below before migra

[2022-02-09 06:35] zerols commented on #108005
if i use kubeadm init k8s and 3 or 5 master , which  deployment  depends on

[2022-02-09 06:48] jainpratik163 commented on #106424
any update on this

[2022-02-09 07:07] ialidzhikov commented on #72757
/remove-lifecycle rotten

[2022-02-09 07:13] humblec commented on #107849
```Please note that during a cluster upgrade you must drain each node (remove running workloads) before updating or changing configuration of your Kubelet.```

@celiawa considering draining is one of the prerequisite mentioned while enabling migration https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-csi-migration-beta/#how-to-try-out-csi-migration-for-existing-plugins , we have to do

[2022-02-09 07:38] #103907 closed

[2022-02-09 07:48] celiawa commented on #107849
Hi @humblec, In my current test enviroment, I didn't upgrade the k8s cluster. I just fresh installed a 1.23.3 cluster.
If I drained the node after migration enabled. The draining was failed.
As after migration enabled, the migration is auto completed in a few seconds. When did drain, it also failed to umount the volume.  The pod stuck in Terminating status.

If I drained the node before migration

[2022-02-09 07:52] aojea commented on #69882
I think this can be closed or renamed to "kubelet pass pod annotations to CRI", since dockershim removal there is no CNI code in Kubelet

[2022-02-09 07:55] aojea commented on #107749
@liushi001 that code is no longer in the kubelet since the dockershim removal, or am I  looking at the wrong place? can you please verify that happens on master?

[2022-02-09 07:56] humblec commented on #107849
@celiawa  Basically drain each node sequentially and complete that for all nodes in the cluster should be the process. so, the pod get moved along to working nodes ( but there kubelet does not know about the migration ), but finally all nodes are upgraded and next pod reschedule and scale down is different in my perception.

@Jiawei0227 wdyt?

[2022-02-09 08:20] aojea commented on #86479
I can't understand how do you solve the hairpin problem that way, is not the traffic been directed to the LB vip too?
or do you mean that you don't use the AWS NLB and use the haproxy instead? what VIP do you use then?

I don't remember the details, but the apiserver should be available to the pods too, that don't reach it through the node, they use the the kubernetes.default Service

[2022-02-09 08:29] ritpanjw commented on #68397
Hi 👋 . Checking in from bug triage for 1.24. Should we continue to track progress on this issue for 1.24 release?  If yes, would you please update the priority field for us to track it better?

[2022-02-09 08:30] ritpanjw commented on #100313
Hi 👋 . Checking in from bug triage for 1.24. Should we continue to track progress on this issue for 1.24 release? If yes, would you please update the priority field for us to track it better?

[2022-02-09 08:55] SCLogo commented on #72395
/reopen
Is that possible it happens with less resources. Our node had 7 pods.
is that possible it happens because of missing reservations for kubernetes and for nodes?

[2022-02-09 09:05] liushi001 commented on #107749
Yes, these locks exsits in dockershim. The K8S version is 1.22, and dockershim is still used.

[2022-02-09 09:12] stefanprodan commented on #108008
How about removing `stringData` from the API or at least mark it as deprecated? @souleb and I got to this issue because Flux users do use `stringData` when encrypting secrets with SOPS in Git. What do you suggest we tell our users?

[2022-02-09 09:25] omertuc commented on #98213
/remove-lifecycle stale

[2022-02-09 09:27] aojea commented on #107749
the deprecation started in 1.20 https://kubernetes.io/blog/2020/12/02/dockershim-faq/

[2022-02-09 09:39] chendave opened #108021 "kubeadm: enhancement around certs managed by kubeadm"
### What would you like to be added?

1. Add the feature of certs rotation which should be similar with kubelet client cert rotation, the certs will be automatically rotated when the expiration is approaching.
2. The valid period of certs signed by local CA is set to 1 year, we'd better to make it configurable instead of hard-coded as 1 year even that kubeadm is not used for production.
https://gi

[2022-02-09 09:46] uablrek commented on #69882
Does the CRI's have a KubeClient usually? And read the pod spec for other purposes?

If so, this may be a pure CRI-plugin -> CNI-plugin issue.

[2022-02-09 09:49] chendave commented on #108021
Technically, there should be not obstacle to implement this, but something worth to do it or not.

@neolit123 I am trying to find something I could contribute to kubeadm in the past few weeks, and found this is something might be considered as a feature. I'd like to hear from you, and I'd happy to draft a KEP if you are positive on this, thanks!

/sig cluster-lifecycle

[2022-02-09 09:59] liushi001 commented on #107749
Sorry, I just noticed it has been deprecated in 1.20 but removed in 1.24, and our old version cluster was still use dockershim, but in our latest version of the product has been replaced by containerd.

[2022-02-09 10:54] saschagrunert commented on #104325
/remove-lifecycle stale

[2022-02-09 11:28] neolit123 commented on #108021
/transfer kubeadm

[2022-02-09 11:47] 249043822 commented on #105022
We test that if swap enabled and also there are containers using swap, the metrics like io and cpu would rise.
the specific metrics include  ` si so bi bo in cs sys`
[code]

Our linux system has 4GB swap capacity
[code]

[2022-02-09 12:13] minac commented on #78570
@DavidSimner I believe this is a problem still for everyone. Is it still for you?
If so could you please reopen the issue so that the right people (not bots) have a look at it.
Thank you for raising it in the first place, it's an obscure way to treat the final logs.

[2022-02-09 12:22] fengchenghu commented on #72811
+1

[2022-02-09 12:35] abstrask commented on #65973
/remove-lifecycle stale

[2022-02-09 13:34] simonjpartridge opened #108023 "Cronjob fails to be scheduled - reports JobAlreadyActive even though there are no jobs active"
### What happened?

A cronjob that is expired fails to be scheduled after the first run. The cronjob reports that it has an active job. Even though the referenced job has completed successfully.

We never see the event `SawCompletedJob` in the cronjob even when the child job completes.

We have been running this job for over a year with no problem and this problem seems to have started occuring af

[2022-02-09 13:45] xing-yang commented on #108019
cc @jingxu97 @mauriciopoppe

[2022-02-09 13:45] xing-yang commented on #108019
/sig storage

[2022-02-09 13:49] xing-yang commented on #108019
@divyenpatel do you know if those disks that became ready-only are part of offline resize or online resize operation?

[2022-02-09 13:49] xing-yang commented on #108019
cc @gnufied

[2022-02-09 14:10] MadhavJivrajani commented on #108023
/sig apps

[2022-02-09 14:23] Crazybus commented on #106309
/remove-lifecycle stale

[2022-02-09 15:46] ivanspasov99 opened #108025 "When finalizer is set I can still update the object"
### What happened?

The [k8s docs states](https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/#how-finalizers-work): Marks the object as read-only until its metadata.finalizers field is empty.

There was NO problem updating the cr. Is this a bug or outdated docs as it states the opposite?

I have found that if I use `kubctl -f apply` it returns warning but still updates th

[2022-02-09 15:58] neolit123 commented on #107969
/close

[2022-02-09 15:58] #107969 closed

[2022-02-09 16:19] rennokki opened #108026 "HPA should use the limits instead of requests"
### What happened?

One issue that got closed in the past and was not re-opened: https://github.com/kubernetes/kubernetes/issues/72811

Basically, the HPA should look for the limits to fit the pods onto nodes. Not sure why requests are counting towards the HPA's metrics to see when it's the best time to scale the pods.

### What did you expect to happen?

The HPA to look for resources limits inste

[2022-02-09 16:20] rennokki commented on #108026
/sig autoscaling

[2022-02-09 16:49] kbelow commented on #102818
I had an opportunity to test shutdownGracePeriod: "60s" and shutdownGracePeriodCriticalPods: "30s"  with the change made in PR https://github.com/kubernetes/kubernetes/pull/103137

The outcome has not changed since this issue was created ...
[code]

After more carefully reading https://github.com/kubernetes/kubernetes/pull/103137, I would agree with a comment from bobby-page
[code]

[2022-02-09 16:50] dims opened #108028 "Deprecate cgroups v1 and enable cgroups v2 by default"
Pieces are ready in containerd, runc etc. Folks like Docker Desktop that depend on the containerd/runc etc have already switched. Some OS images now default to cgroups v2 as well.

Can we please start down the path to enable cgroups v2 as the default across all the stuff we do? (kubeadm/image-builder/kubelet etc).

thanks!

[2022-02-09 16:52] dims commented on #108028
/sig node

cc @adisky @endocrimes

[2022-02-09 17:10] kevindelgado commented on #5889
Fixed by #105916

[2022-02-09 17:17] liggitt commented on #5889
tracked in feature https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2885-server-side-unknown-field-validation

alpha in 1.23, targeting beta in 1.24

[2022-02-09 17:17] #5889 closed

[2022-02-09 17:20] dudicoco commented on #25238
@apelisse thank you for the documentation, it's very clear.

However, I don't think it is usable in most real word scenarios where we store our yamls in git and use helm/CI/controllers to apply new configs.

[2022-02-09 17:20] andrewsykim commented on #100313
I believe this will be fixed in https://github.com/kubernetes/kubernetes/pull/106497

[2022-02-09 17:24] apelisse commented on #25238
Because they rely on multiple steps? i.e. "commit this, apply that, commit that, apply this" kind of sequence?

[2022-02-09 17:28] dudicoco commented on #25238
@apelisse because a special logic would need to be added to any tool/system which adds the flag only when adding an hpa to an existing deployment.

[2022-02-09 17:40] aravindhp commented on #102849
Hi @jyotimahapatra. This is not on track to be fixed in the 1.24 time frame. We shouldn't add this to a milestone until https://github.com/microsoft/Windows-Containers/issues/136 is resolved.

[2022-02-09 17:54] neolit123 commented on #108028
the underlying Linux cgroup Vx choice is transparent to kubeadm.

it performs validation for v1 vs v2 (dependent on statfs / CGROUP2_SUPER_MAGIC) using the k/system-validators repository:
https://github.com/kubernetes/system-validators/blob/master/validators/types_unix.go
https://github.com/kubernetes/system-validators/blob/master/validators/cgroup_validator_linux.go#L62

we could remove the v1 ch

[2022-02-09 18:16] derekwaynecarr commented on #108028
I agree with @neolit123 .

I also think its expected that we maintain v1 compatibility for o(years) based on set of popular community leveraged operating systems, and monitoring tools.  It is far more workload specific than our migration with CRI choice which is more transparent.

This was the expectation when we first started to pursue v2 support.

Any new features in the resource model that we c

[2022-02-09 18:17] ehashman commented on #107925
/triage accepted
/cc @adisky
/assign @SergeyKanzhelev

[2022-02-09 18:19] ehashman commented on #104292
Appears to be fixed on Fedora, but not on Ubuntu. Progress!

/assign @mmiranda96

[2022-02-09 18:21] ehashman commented on #106904
/assign @rphillips

[2022-02-09 18:21] ehashman commented on #107802
/triage accepted
definitely still failing

[2022-02-09 18:23] ehashman commented on #107928
This bug doesn't seem to have enough details to reproduce or further investigate. You must include your the container runtime, full kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Once more details are provided, the bug will be accepted.

/triage needs-information

[2022-02-09 18:24] ehashman commented on #108009
This does not appear to be a kubelet issue but rather a performance issue with your NFS mounts. Have you tested to see if this works for a different kind of mount (e.g. configmap or tmpfs)?

/sig storage
/triage needs-information

[2022-02-09 18:26] mrunalp commented on #108028
There are still gaps and kernel feature differences where customers are relying on v1 and v2 doesn't have a clear replacement yet. I agree with Derek that we will have to support v1 for a while.

I am a :+1: on more v2 usage and feedback for sure so we can identify and address issues and move it towards GA.

One item on my list for 1.24 is to write a blog with @bobbypage on current status of cgrou

[2022-02-09 18:29] ehashman commented on #107717
@diannaowa From what you have shared here, it sounds like you have concluded that you had a bug in your CRI implementation. If you can demonstrate that the kubelet has broken the CRI guarantees then we may be able to fix those bugs, but we are not able to provide you with assistance for fixing issues with your custom CRI implementation. For that, we would need a *full* dump of all kubelet logs fro

[2022-02-09 18:29] #107717 closed

[2022-02-09 18:40] davidmatson commented on #78947
/reopen

[2022-02-09 18:40] xhejtman commented on #108009
Why it does not mount eventually? The result is, there are like 10 pending pods waiting for mount which never happens until kubelet restart.

I agree this can be caused by slow bind mount of NFS. But why it does not recover once load is gone?

[2022-02-09 19:20] intjonathan commented on #40610
We're in exactly this situation and it's not just performance, but cost. Cross-AZ Kafka traffic is serious money at scale. Right now we're relying on GET requests to the node metadata API, but that's going to get locked down for compliance. A pattern for exposing certain fields and not others would satisfy both needs nicely.

[2022-02-09 19:27] champtar commented on #106292
Fixed in 1.23+ as go was updated

[2022-02-09 19:27] #106292 closed

[2022-02-09 19:41] #103450 closed

[2022-02-09 19:41] rajdas98 opened #108031 "All environment variables are getting exposed between pods"
### What happened?

All environment variables are getting exposed to all of the pods within a namespace.

I have mounted a config map(envs) with one of my deployments and I can see all those configmap envs from another pod.

* K8sVersion: v1.22.0

### What did you expect to happen?

Ideally, all configmap envs shouldn't be accessible between the pods.

### Anything else we need to know?

_No respo

[2022-02-09 19:47] rajdas98 commented on #108031
/sig storage

/sig apps

[2022-02-09 20:25] rajdas98 commented on #108031
False Issue. Apologies for it.

[2022-02-09 20:25] #108031 closed

[2022-02-09 20:35] neolit123 commented on #108025
/sig api-machinery

[2022-02-09 20:39] neolit123 commented on #106704
someone on the #kind k8s slack reported the same problem:
https://kubernetes.slack.com/archives/CEKK1KTN2/p1644355310447249

i've asked for detailed logs from all components.
without these we cannot continue trying to figure out what's happening...

[2022-02-09 20:58] Warxcell commented on #72811
Use >100%, as suggested above. You can achieve same thing.

[2022-02-09 22:07] bobbypage commented on #107830
I haven't been able to repro this locally... [here is my attempt](https://gist.github.com/9a12b94280ae38dd67b198fa29fd707b) to run the test, but it passes when run locally.

[2022-02-09 22:09] #106129 closed

[2022-02-09 22:37] T4cC0re commented on #107980
@ardaguclu This is what tanka does internally to compare the local state (rendered as yaml) with the k8s API. This works on every other object, except for `Endpoints`-Objects. And this worked in a previous version of Kubernetes, so I believe this is a regression.

@apelisse I would expect a `kubectl diff -f test.yml --server-side=true` to properly diff the change, instead of erroring out. It does

[2022-02-09 23:28] endocrimes commented on #107800
Fixing the systemd units ordering definitely feels like the right way to deal with this - rather than chasing down race conditions between them

[2022-02-09 23:31] Riaankl opened #108035 "Making remaining untested Node endpoints ineligible for conformance"
**Why:**
There are three `Node` endpoints showing up on [APISnoop]( https://apisnoop.cncf.io/conformance-progress/endpoints/1.24.0/?filter=untested) as untested for conformance.
Due to the fact that endpoints tested for conformance [should not be dependant on Kubelet](https://github.com/kubernetes/community/blame/master/contributors/devel/sig-architecture/conformance-tests.md#L36) these endpoint s

[2022-02-09 23:55] ehashman commented on #107830
/triage accepted

[2022-02-09 23:55] ehashman commented on #107804
/triage accepted

[2022-02-09 23:58] apelisse commented on #107980
I don't know how this would have worked before 1.20, did we have server-side apply at that time? For sure we know that client-side and server-side integration aren't great.

[2022-02-10 00:18] apelisse commented on #25238
What special logic needs to be built? I guess I must be missing that part.

[2022-02-10 00:50] PradeepKumar-15 commented on #107583
@aojea @dcbw
controller-manager log file that shows 'endpointslice-controller' startup was skipped is attached with this post.
Look for line _'Not starting endpointslice-controller since discovery.k8s.io/v1beta1 resources are not available'_

[kube-controller-manager-log.txt](https://github.com/kubernetes/kubernetes/files/8037153/kube-controller-manager-log.txt)

[2022-02-10 00:52] PradeepKumar-15 commented on #107583
Fyi @mhadimani

[2022-02-10 00:58] Riaankl commented on #108035
/cc @johnbelamaric @dims

[2022-02-10 01:47] #107592 closed

[2022-02-10 01:49] wzshiming commented on #105881
/remove-lifecycle stale

[2022-02-10 01:54] kerthcet commented on #107710
/close as pr merged.

[2022-02-10 01:54] #107710 closed

[2022-02-10 02:10] PradeepKumar-15 commented on #107583
I am pretty new to go and this code base so i could be way off here but i think the error is resulting out of this function: https://github.com/kubernetes/kubernetes/blob/ec1738576d8511a4cc03973d26b5606ec04e8693/staging/src/k8s.io/client-go/discovery/discovery_client.go#L347

Looks like 'ServerGroupsAndResources' function in discovery_client.go is returning the apiGroups, map of apiResources and e

[2022-02-10 04:49] #107111 closed

[2022-02-10 06:16] wnz27 opened #108037 "kubectl taint not take effect"
### What happened?

<img width="1259" alt="截屏2022-02-10 14 10 13" src="https://user-images.githubusercontent.com/12094918/153348742-4a0f35e4-fe5b-453a-9761-6c7f06cc9769.png">

### What did you expect to happen?

this taint could set success

### How can we reproduce it (as minimally and precisely as possible)?

I can't know why

### Anything else we need to know?

_No response_

### Kubernetes ver

[2022-02-10 06:22] wnz27 commented on #108037
<img width="1243" alt="2" src="https://user-images.githubusercontent.com/12094918/153349622-bc6d8ade-7b6c-4a50-9015-5768c6b4269f.png">
<img width="1148" alt="3" src="https://user-images.githubusercontent.com/12094918/153349636-6b1c55ec-4d61-42d5-81b4-a2ecdd3ab5ed.png">
this success once and next second this is none again

[2022-02-10 07:14] lzhecheng commented on #98359
/assign

[2022-02-10 07:14] lzhecheng commented on #98359
I will take the task.

[2022-02-10 07:21] bobbypage commented on #107830
Did some more digging on this run - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-cgroupv2-containerd-e2e-gce/1491574794880028672

I picked on the failures to investigate -

[code]

So one of the storage tests is attempting to exec a command on the node but the container is exited. The failure is here -  https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/utils/local

[2022-02-10 07:33] mfine commented on #51650
We're running into the same issue with overloaded pods going from "ready" to "unready" - we are using the failed "readiness" probes to take the overloaded pods out of their service and to keep requests away from them. Having the ability to distinguish between autoscaling with pods that are getting "ready" on startup and pods that become "unready" during normal service would be very useful - while

[2022-02-10 08:31] zbogdan7 commented on #107491
Thanks, I've already reinitialized the cluster. I'll try to reproduce the issue and let you know about results.

[2022-02-10 08:41] MadhavJivrajani opened #108040 "kubelet: Race condition in nodeshutdown unit test"
### What happened?

There seems to be a race condition in the following unit test

https://github.com/kubernetes/kubernetes/blob/40c2d049465417f510e4182b05953a49fc5693d4/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go#L617

The race happens between
read at
https://github.com/kubernetes/kubernetes/blob/40c2d049465417f510e4182b05953a49fc5693d4/pkg/kubelet/nodeshutdown/nodeshutdown_manage

[2022-02-10 08:42] MadhavJivrajani commented on #108040
/sig node
/cc @adisky @endocrimes

[2022-02-10 08:43] thesuperzapper commented on #107598
For those watching, I have raised a proposal for the "Downscale Pod Picker" API to be implemented in the [OpenKruise](https://openkruise.io/) project in the same way as [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189). Hopefully, this will get this sorely needed feature into user's hands sooner.

See the proposal here: https://github.com/openkruise/kruise/issues/902

[2022-02-10 08:44] MadhavJivrajani commented on #108040
/remove-kind bug
/kind flake

[2022-02-10 08:45] thesuperzapper commented on #45509
For those watching, I have raised a proposal for the "Downscale Pod Picker" API to be implemented in the [OpenKruise](https://openkruise.io/) project in the same way as [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189). Hopefully, this will get this sorely needed feature into user's hands sooner.

See the proposal here: https://github.com/openkruise/kruise/issues/902

[2022-02-10 08:45] thesuperzapper commented on #4301
For those watching, I have raised a proposal for the "Downscale Pod Picker" API to be implemented in the [OpenKruise](https://openkruise.io/) project in the same way as [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189). Hopefully, this will get this sorely needed feature into user's hands sooner.

See the proposal here: https://github.com/openkruise/kruise/issues/902

[2022-02-10 08:49] aojea commented on #107583
the lease for leader election is not being renewed, I don't know if the controller manager should bail out at that point

you have multiple errors against the apiserver, maybe a  broken webhook?

erver is currently unable to handle the request, authentication.istio.io/v1alpha1: the server is currently unable to handle the request, authentication.k8s.io/v1beta1: the server is currently unable to ha

[2022-02-10 08:54] princerachit commented on #106884
Hello, I see that the comments above say that this issue started occurring with version 1.22 due to kubelet changes. Since this issue is open I believe it has not been fixed any any subsequent version including 1.23? I am asking this because I can see this [comment refering to a fix](https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-990028254). However, the issue of the comment i

[2022-02-10 08:58] mgazza commented on #51650
Would it help people if I made the "ready-hpa" public?

[2022-02-10 09:14] chenhong0129 opened #108041 "Pod stuck in Terminating when deleting , kubelet Error: "UnmountVolume.TearDown failed for volume:remove /var/lib/kubelet/pods/xxx/volumes/kubernetes.io~glusterfs/test-gluster-pv: directory not empty"
### What happened?
When I update resource with "kubectl apply -f test.yaml", old pod is Terminating and cannot delete successfully. Kubelet log  Error: "UnmountVolume.TearDown failed for volume:remove /var/lib/kubelet/pods/xxx/volumes/kubernetes.io~glusterfs/test-gluster-pv: directory not empty

[code]
In kubelet code I know that the question happend in os.Remove(mountPath)，but what would cause th

[2022-02-10 09:15] #107107 closed

[2022-02-10 09:20] dudicoco commented on #25238
The logic is:
1. check if deployment exists without an hpa
2. if 1 is true, add the flag `--field-manager=handover-to-hpa`

Please correct me if I misunderstood how this new feature works.

[2022-02-10 09:21] chenhong0129 commented on #108041
/sig storage

[2022-02-10 09:28] Jiawei0227 commented on #107849
So the error happens when you fresh install a cluster with CSIMigrationRBD enabled? And then you install a sts using RBD but the unmount failed?

[2022-02-10 10:08] MadhavJivrajani commented on #108037
/sig cli

[2022-02-10 10:50] wojtek-t opened #108043 "TestErrConnKilled - data race"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106948/pull-kubernetes-unit/1491713959680544768

[code]

/sig api-machinery
/kind bug
/priority important-soon

[2022-02-10 10:58] mengjiao-liu commented on #97355
/reopen

[2022-02-10 11:15] bobbypage commented on #107830
I was able to repro the test failures locally now, with running it as follows: https://gist.github.com/9a12b94280ae38dd67b198fa29fd707b.

After investigating the cgroup error above, the issue became more clear -- the test is no longer configuring containerd correctly. Specifically, containerd is no longer configured to use the systemd cgroup driver.

As background, the test is expected to pick up

[2022-02-10 11:20] aojea commented on #108043
It seems something is racing writhing the logs ?

cc: @MikeSpreitzer

[2022-02-10 12:54] NikhilSharmaWe commented on #107504
@alculquicondor I would like to work on it if we still need this improvement.
I am not able to fully understand about what we are actually trying to achieve here, what do you mean by `Cache the actual operation of a requirement (for example, as a function) instead of storing it as a string`, could you please elaborate.

I need some help, some similar examples in the repo and code pointers would be

[2022-02-10 12:57] matthyx commented on #107505
@NikhilSharmaWe please have a look at https://github.com/kubernetes/kubernetes/pull/107819
The issue is that the `busctl` command available is too old and doesn't include `emit`.

[2022-02-10 13:04] NikhilSharmaWe commented on #107505
@matthyx I see, it looks like we are not just adding a condition for `busctl` instead we are replacing it with `dbus`.

It looks you are already working on it. Please inform if I can help in anyway.

Thanks for the response.

[2022-02-10 13:07] matthyx commented on #107505
Both are possible... it was easier to get a CI signal if that was used in all cases. I might put the condition later.

I am waiting for @bobbypage comments in the PR, but feel free to propose other solutions that might work with older systemd versions.

[2022-02-10 14:07] alculquicondor commented on #102867
@hprateek43 can you work on this for 1.24?

[2022-02-10 14:20] alculquicondor commented on #107504
I believe @yuzhiquan is still working on it.

Think of it this way: the goal is to avoid doing a switch when matching. We already know what the operation is, so we shouldn't need the switch. Figure out a way to do that :) But before merging, you have to verify that it actually improves performance.

I don't have code pointers.

[2022-02-10 15:45] mhadimani commented on #107583
Hi @aojea
We have been trying to replicate this issue in our env and from our observations, the controller does not proceed into querying the API server for API resources unless it has been successful in the leader election process.

Is this not the case ?

From the logs, we still see the PUT call to update the lease has failed -

Feb 09 17:15:06 dummy-host1 kube-controller-manager[3822]: E0209 17

[2022-02-10 17:13] AWSmith0216 opened #108049 "Pods not consistently being cleaned up"
### What happened?

We have a K8S 1.22.3 environment using containerd (no docker) where pods are not being consistently cleaned up. The basic idea is that we have a process that spawns several pods every couple of minutes, and those pods are subsequently deleted. They do not show up doing a 'kubectl get pods'. However, running 'crictl pods' shows that these pods sometimes stick around in a NotRead

[2022-02-10 17:34] jprogramtech commented on #69696
Do we have a solution for this issue? I've been working with my cluster for two years and have never had an issue with scale down now all of a sudden i'm getting scaling issues with 'Pod is blocking scale down because it’s a non-daemonset, non-mirrored, non-pdb-assigned kube-system pod' and "Pod is blocking scale down because it has local storage" taking a look at logs I see 'no.scale.down.node.po

[2022-02-10 17:40] fedebongio commented on #108014
/cc @lavalamp @logicalhan @cheftako @deads2k I'm sure you have some opinions here
/triage accepted

[2022-02-10 17:41] ehashman commented on #107943
/remove-sig instrumentation
/sig node

It appears this is working as expected. The partial log line entry is prefixed with P, and the remaining half of the log line is prefixed with F, per the doc linked above.

/close

[2022-02-10 17:42] #107943 closed

[2022-02-10 17:42] fedebongio commented on #108043
/cc @tkashem
/triage accepted

[2022-02-10 17:43] fedebongio commented on #107991
/triage accepted

[2022-02-10 17:43] fedebongio commented on #107954
/triage accepted

[2022-02-10 18:30] ehashman commented on #106884
@princerachit that issue is different, where we saw OutOfCpu on node restart. It has been fixed. No restarts are required to trigger the issue reported here.

[2022-02-10 20:06] AWSmith0216 commented on #108049
/sig node

[2022-02-10 20:23] dims opened #108051 "Make CloMonitor happy"
See https://clomonitor.io/projects/kubernetes/kubernetes Most of the things that the tool is complaining about, we have information just not in the form the tool accepts. So let's try to see if we can point to existing resources with a placeholder file or something?

![image](https://user-images.githubusercontent.com/23304/153490612-99490839-7373-4bb3-8b91-82842c758238.png)

For example the Roadma

[2022-02-10 21:25] aojea commented on #108014
this iissue is a good example on why I think the controller manager should not start if the apiserver is not healthy https://github.com/kubernetes/kubernetes/issues/107583

[2022-02-10 21:41] dims commented on #108035
looks like we have `createCoreV1Node` and `deleteCoreV1Node` already listed in [test/conformance/testdata/ineligible_endpoints.yaml](https://github.com/kubernetes/kubernetes/blob/3866cb91f22da6eb49dab10dd5c33385690b57b4/test/conformance/testdata/ineligible_endpoints.yaml)

If i remember the context behind https://github.com/kubernetes/community/blame/master/contributors/devel/sig-architecture/conf

[2022-02-10 22:01] bobbypage commented on #107830
Here is one way that it can be fixed:

[code]

alternatively we can consider to revert the two PRs above...

[2022-02-10 22:16] kfox1111 commented on #68737
/remove-lifecycle stale

[2022-02-10 22:19] derekwaynecarr commented on #108035
The 3 endpoints are served by kube-apiserver.  The first 2 of the 3 are invoked by kubelet clients, I would expect APIs invoked from a kubelet to be covered under conformance.  The last call is I believe invoked by node lifecycle controller in kcm and I would expect the served API from kube-apiserver to be conformant as well.

[2022-02-10 22:25] derekwaynecarr commented on #108035
I think conformance should not be eligible to give the appearance for a newly schedulable node.  So if something like create node was added under conformance, I do not believe CSR approval flows to make that node trusted for workload in conformance.  At best, the create node flow would be able to say here is a node but conformance should never be allowed to make that node trusted.

[2022-02-10 22:27] bobbypage commented on #107800
See https://github.com/kubernetes/kubernetes/issues/107830#issuecomment-1034794589 and https://github.com/kubernetes/kubernetes/pull/108054

[2022-02-10 22:29] derekwaynecarr commented on #108035
One issue for delete node collection is it may be impractical for that call to succeed in some deployments.  I guess if we could scope the delete node call to a node that was not yet trusted, it could work?

[2022-02-11 01:02] PradeepKumar-15 commented on #107583
I was reviewing the whole log and noticed that this controller-manager instance had issues with either updating/fetching the lease object at only 2 timestamps 17:15:06 and 17:15:11 which is still within 15 seconds from 17:15:03 (15 seconds is the lease timeout) after it assumed leader role and it could be the reason it did not bail out yet.

  We also noticed that around this same time frame, one

[2022-02-11 01:13] PradeepKumar-15 commented on #107583
I am trying to share the rest of the log file but it has too much of company specific information so i am trying to remove the before uploading the log file here

[2022-02-11 01:28] jyotimahapatra commented on #108014
checks on apiserver unhealthy is definitely good. And hence the question about excluding certain checks like kms through a flag. When kcm is up , apiserver unhealthiness does not make it shut down. Following that, it might be ok to let the kcm start under certain hc failures and let the controllers recover when apiserver comes back. The kcm healthiness could also be more specific about which contr

[2022-02-11 01:29] apelisse commented on #106387
/remove-lifecycle stale

[2022-02-11 02:40] jonyhy96 commented on #107205
hi @pablocavalieri the fix pr has been merged, maybe u could use it to locate which container is causing the problem.

[2022-02-11 04:42] dinesh25cs commented on #34314
I got the same issue we have debuged using below commands it works really
[Yesterday 22:51] John Chang
KUBERNETES:
Deleting node and rejoining it to the cluster:
On MASTER:
1. kubectl undordon node_name
2. kubectl delete node node_name
3. kubeadm token create --print-join-command (show the kubeadm join token info)
On NODE:
1. kubeadm reset
2. kubeadm join 10.87.208.94:6443 --token eah77w.1yfl82ahi

[2022-02-11 06:10] theunrepentantgeek commented on #106286
/remove-lifecycle stale

[2022-02-11 06:38] gangadharsingh056 commented on #105418
Dear sir,

I will follow your instructions for future errors due to unused volume.

On Thu, 14 Oct 2021, 10:29 am Kartik Sharma, ***@***.***>
wrote:

[2022-02-11 07:20] #107849 closed

[2022-02-11 07:29] humblec commented on #107849
Hey @celiawa This is great news !!!! :tada:  Just to be clear, you drained it sequentially (https://github.com/kubernetes/kubernetes/issues/107849#issuecomment-1033458695 or as mentioned by @Jiawei0227 ) and everything worked smoothly ?  or `InTreePluginRBDUnregister: true` also played a role here. ?

Really appreciate if you can once again provide the complete process you followed. Also any chanc

[2022-02-11 07:32] #107434 closed

[2022-02-11 07:38] sagaraspl commented on #71869
Yes we are facing this issue on DOKS on v1.20.11, cleaning won't happen on right time and then it started to have so many Evicted pods in our cluster. Is it fixed in any higher version of Kubernets?

[2022-02-11 07:57] #99483 closed

[2022-02-11 08:17] xie-jinwei opened #108063 "standalone kubelet panic because of nil pointer in VolumeManager"
### What happened?

I tried to run a standalone kubelet (without kube-apiserver, so no kubeClient in kubelet), but there is a panic "invalid memory address or nil pointer dereference"

The corresponding logs:

[code]

### What did you expect to happen?

I expect standalone kubelet to run without panic.

### How can we reproduce it (as minimally and precisely as possible)?

Run a standalone kubelet

[2022-02-11 08:19] xie-jinwei commented on #108063
/sig node

[2022-02-11 08:26] chenhong0129 commented on #108041
/var/lib/kubelet/pods/xxx/volumes/kubernetes.io~glusterfs/test-gluster-pv directory info，The directory is not mounted to gfs:
[root@node01 ~]# ll /var/lib/kubelet/pods/43f9c957-4c89-47e3-bf90-8d7f43f51040/volumes/kubernetes.io~glusterfs/test-gluster-pv
总用量 0
drwxr-xr-x. 3 root root 18 2月   9 17:19 common
drwxr-xr-x. 3 root root 18 2月   9 17:19 upLoad

[root@node01 ~]# stat /var/lib/kubelet/pods/43

[2022-02-11 08:27] ardaguclu commented on #108037
I think we can close this issue, since it does not look like a bug.

/close

[2022-02-11 08:28] #108037 closed

[2022-02-11 08:55] Nivedita-coder opened #108064 "[Failing test] gci-gce-ingress"
### Which jobs are failing?

master-blocking [gci-gce-ingress](https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress)

### Which tests are failing?

- ci-kubernetes-e2e-gci-gce-ingress.Overall
- kubetest.Test
- Kubernetes e2e suite.[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should conform to Ingress spec
- kubetest.diffResources
- Kubernetes e2e suite.[sig-network]

[2022-02-11 09:32] VivekThrivikraman-est opened #108065 "UDP traffic to Loadbalancer IP fails after node reboot (mode ipvs)"
### What happened?

We have a scaled set up with 159 nodes, ~11k pods and ~1500 services(k8s in ipvs mode), there on every node restart we are seeing many client UDP requests to multiple LBIP:port serving UDP traffic is getting black holed because of invalid conntrack entry. We are running in k8s version 1.23.3, so I suppose all the latest fixes for conntrack issues should be available.
The UDP cl

[2022-02-11 09:57] bo-er commented on #30189
But what if I am updating a configmap from pod A, and if pod A restarts, my current operation is interrupted.  Is it possible to speed up without pod restarting?

[2022-02-11 10:12] huylv commented on #91600
@windayski, @devopsteachpractice: I'm still looking for answer to this issue. How do I troubleshoot and solve this?

[2022-02-11 10:22] kerthcet commented on #107888
When we calculating matched pods, we are namespace selected. So in your scenario, the ratio is always 4:0, so I think the PodTopologySpread plugin works as well. If you want to allocate your pods averagely, maybe you can refer to NodeResourceFit plugin for help. https://kubernetes.io/docs/reference/scheduling/_print/#scheduling-plugins

https://github.com/kubernetes/kubernetes/blob/49dc22638164c41

[2022-02-11 10:44] bart0sh opened #108067 "Containerd-hugepages job fails due to infrastructure issues"
### Which jobs are failing?

sig-node-containerd#node-kubelet-containerd-hugepages

### Which tests are failing?

none

### Since when has it been failing?

Feb 09 2022 18:30 EET

### Testgrid link

https://testgrid.k8s.io/sig-node-containerd#node-kubelet-containerd-hugepages

### Reason for failure (if possible)

It looks like some infrastructure setup issue with JWT token. This is a quote from t

[2022-02-11 10:56] aojea commented on #107927
/assign

I think we can do better, before listing the nodes the function `ShouldPodBeInEndpointSlice` checks that the Pod has IPs, so we know that the Node already existed and simplifies the scenario we are  handling.

The PodGC will check if there are orphan nodes and delete them, but the node can go missing and come back, ... I'm testing these corner cases , will send a PR once I have them cover

[2022-02-11 11:04] Kartik494 commented on #108063
I would like to work on this

[2022-02-11 11:04] Kartik494 commented on #108063
/assign

[2022-02-11 13:10] KlavsKlavsen opened #108069 "kube-controller-manager defaults to listen on 127.0.0.1 ONLY"
### What happened?

a pretty standard kubeadm setup of k8s 1.22.5 - and kube-controller-manager runs in a pod - but it is set to ONLY listen on 127.0.0.1 - making its metrics endpoint unreachable by other nodes in the cluster - meaning Prometheus can't monitor it :(

### What did you expect to happen?

IMHO kube-controller-manager SHOULD listen on 127.0.0.1 (for local node access I guess) - AND an

[2022-02-11 13:22] rbo54 commented on #107888
Thanks kerthcet. This is a very helpful response. Let me try that out. Tom

[2022-02-11 13:23] KlavsKlavsen commented on #108069
kube-scheduler has the exact same problem :(

[2022-02-11 13:35] aojea commented on #108069
This is "secure" by default.

Opening in a public IP makes it accessible for everyone , 🤔

The IP is not hardcoded, people can choose the ips , why the default should be changed?

[2022-02-11 13:46] endocrimes commented on #104824
/remove-lifecycle rotten

[2022-02-11 14:07] #107830 closed

[2022-02-11 14:31] cawoodm commented on #25478
Expose already offers 2 ports, one of which (port) is superfluous for nodeports since we only care about the nodePort and the targetPort. Adding one more port would really help everyone confronted with the thousands of tutorials using `kubectl expose` which don't mention that you can't specify a nodeport.

[2022-02-11 14:35] KlavsKlavsen commented on #108069
@aojea I will try to explain more clearly.
I agree listening on localhost is "secure" - but it does mean that you cannot monitor it (reach the /metrics endpoint) - so that kinda defeats the purpose of having a metrics endpoint :)
Problem is - the services currently can ONLY be set to listen on localhost OR public ip.
public ip is bad  as its EASY to accidently open it up to the world.
Which is WHY

[2022-02-11 14:36] KlavsKlavsen commented on #108069
Currently its not even getting an ip from the cluster-cidr range - which is what it argue that it should have - to have a default that is usable for monitoring AND secure.

[2022-02-11 14:41] D1abloRUS opened #108071 "Documentation: protobuf encoding of Watch events do not include "k8s\x00" prefix"
### What happened?

Hi!

In the [documentation](https://kubernetes.io/docs/reference/using-api/api-concepts/#protobuf-encoding), all k8s types used for protobuf encoding must start with `"k8s\x00"` but some api responses for example(http 504):
[code]
 start with the error type.

### What did you expect to happen?

Following the documentation protobuf response must be start with `"k8s\x00"`

### Ho

[2022-02-11 14:53] idvoretskyi commented on #108051
/cc @idvoretskyi

[2022-02-11 14:53] neolit123 commented on #108069
this is an advanced use case that has been discussed mutliple times and it's a kubeadm setup default that we will not change.

some users use a proxy for this.

kubeadm allows you to customize any IP that you want for the component static pod:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/
also check extraArgs and extraMounts if you want to add serving c

[2022-02-11 14:54] #108069 closed

[2022-02-11 15:36] liggitt commented on #108071
/remove-kind bug
/kind documentation

The distinction is whether the response is using chunked streaming encoding or not.

The first request returns a non-200 error code and an encoded Status object (adding `-v` shows a non-200 status code).

The second request returns a 200 and starts streaming watch Event protobuf objects, the first and last of which happens to be an Error event. Those are encod

[2022-02-11 16:04] endocrimes commented on #106884
So I finally got some time to look at this today. I can't reproduce this on my systems, even after scheduling 6500 pods concurrently with @shioshiota's repro case. (I wonder if Docker for Mac or something has some slow termination issues?).

I'm trying to piece things together from the provided log file now, but with kubelet logs it can be a little tricky to reverse engineer what went on in racier

[2022-02-11 16:10] aojea opened #108074 "Deprecate IPs with Leading Zeros ( CVE-2021-29923 )"
To summarize the situation:

1. Since golang 1.17 IPv4 addresses with leading zeros are considered invalid. #100895
2. Kubernetes decided to keep compatibility with stored data so it forked previous parsers to allow IPs with leading zeros. #104368
3. The rest of the Kubernetes ecosystem seems to prefer to use default parsers and consider that data invalid https://github.com/kubernetes/kubernetes/p

[2022-02-11 16:11] aojea commented on #108074
/sig network
/priority important-soon
/assign @thockin @aojea

[2022-02-11 16:14] suvl commented on #87491
/remove-lifecycle rotten

[2022-02-11 16:16] SubhasmitaSw commented on #108051
@dims can you point to some backdrop around CloMonitor? I need a brief understanding before approaching this.

[2022-02-11 16:16] aojea commented on #108074
requesting input from @liggitt about the proposal

I think that this are the places that use the parsers for validation
https://github.com/kubernetes/kubernetes/blob/df53ae8bbdfb08492dfe662c1ac1e13a4198bbb0/test/integration/apiserver/cve_2021_29923_test.go#L56-L64

[2022-02-11 17:08] dims commented on #108051
@SubhasmitaSw the background is that the CNCF has launched a tool clomonitor to help projects do better in adopting best practices and establish a baseline for where information is stored so it is easy for any end users of projects to find things easily. the code for clomonitor.io is at https://github.com/cncf/clomonitor/ so that is open sourced as well. Hope this helps

[2022-02-11 17:13] idvoretskyi commented on #108051
Right, please also note that we are still in an alpha state, so happy to hear the feedback through the issues here - https://github.com/cncf/clomonitor/issues

[2022-02-11 17:27] liggitt commented on #108074
Yes

log/metric (and even warning) seem ok... less sure about writing to the API object

Probably ok, though can get pretty messy (pod spec and service immutability on update are particularly messy)

Can use the existing pattern of plumbing validation opts into validation, and setting whether to tolerate based on the presence of leading-zero IPs/CIDRs in the existing object

I'm less certain about

[2022-02-11 17:43] PushkarJ commented on #105662
Thinking about whether [CodeQL scanning](https://github.com/github/codeql-go) that is available as part of Github Repos be good alternative. I will ask the github admins, if we have it available for K8s org in general and if it can be enabled on repo level.

/remove-lifecycle rotten

[2022-02-11 17:54] tnqn opened #108077 "Long delay in creating Endpoints when periodical Service resync happens"
### What happened?

We observed a long delay in creating Endpoints for Services when periodical Service resync in EndpointsController happens. For example, one Service was created at “2022-02-07T19:44:59Z” but its Endpoints was created at “2022-02-07T19:47:30Z”, with 2m30s delay.

We also observed lots of Endpoints were updated intensively around that time even there was no update to their corresp

[2022-02-11 17:59] logicalhan commented on #108014
Yeah I agree with you, I'm not generally in favor of removing the apiserver healthiness check for reasons exactly like this.

Why is it a problem that the controller manager is restarting in this situation? What problem are you trying to fix?

[2022-02-11 18:07] robscott commented on #103888
I believe this has been fixed, please reopen if not.

/close

[2022-02-11 18:08] #103888 closed

[2022-02-11 18:20] jyotimahapatra commented on #108014
I agree and I'm not advocating a removal. Im looking for a way to exclude certain kind of health check.

The issue I'm facing is certainly not a widespread issue. We are operating a platform for customers to create clusters on and we apply the general configs. Certain clusters do use kms encryption. Cluster admins can delete/disable kms keys and make the cluster unhealthy. From a platform team per

[2022-02-11 18:25] ajeebpeter commented on #40413
I have got the same question on my CKAD and killed my time. Ideally the option is change network policy. but that was restricted, . Now I am  curious why a question like that appeared. Is it a mistake? or any solution!!.