[2020-05-08 07:14] bjethwan opened #90885 "Read-only NFS based PV PVC allowing writes to the filesystem"
Read-only NFS based PV PVC allowing writes to the underlying filesystem, when I made the changes by exec'ing into the pods (mounting those pvc based volumes)

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:
[code]

[code]

[2020-05-08 07:16] bjethwan commented on #90885
/sig storage

[2020-05-08 07:44] giuseppe commented on #90710
yes, there are still some open issues in cAdvisor, I am addressing them here: https://github.com/google/cadvisor/pull/2469

The cAdvisor PR is currently blocked on a new runc release, I hope we can move forward without it

[2020-05-08 08:05] ylhyh commented on #65016
I'm using win-bridge plugin, here is the cni config:
[code]

By executing ipconfig /all in the Windows Pod, I can see the pod retrieved correct DNS settings (server and suffix search list):
[code]
But the DNS suffix Search list is not work:
[code]

Execute "Get-DnsClientGlobalSetting" in powershell, UseSuffixSearchList is False:
[code]

If I manually set Suffix Search List in the Pod by execute "S

[2020-05-08 08:06] bjethwan commented on #90885
I tried below yaml too....but still I can write to the underlying nfs based volume

[code]

[2020-05-08 08:21] feiskyer commented on #65016
@marosset please have a look at the above issues

[2020-05-08 08:21] #85888 closed

[2020-05-08 08:47] Nowaker commented on #57601
Still a valid concern.

[2020-05-08 08:56] tahsinrahman commented on #68244
hi @mtaufen, the core package for testing componentconfig types was added, and tests for kubeproxyconfig was added https://github.com/kubernetes/kubernetes/pull/86144

after that tests for kubeletconfig was added, but it didn't get any feedback from respective owners, so its just hanging there https://github.com/kubernetes/kubernetes/pull/86034

i'll resolve the conflict and try to get a review fr

[2020-05-08 09:03] #87784 closed

[2020-05-08 09:04] rdxmb commented on #65098
Just an idea - maybe this is a workaround for you:

You can have two services. One quite "normal" and another with
`publishNotReadyAddresses: true` . In my case, with minIO I have a headless service for that - where the different pods can talk to each other.
I have also set a `initialDelaySeconds: 60`

Another service (in my case with `ClusterIP`) is for routing the traffic from the clients.

When

[2020-05-08 09:21] irbekrm commented on #90833
Hi! Could I please pick this up as my first issue?

[2020-05-08 09:23] irbekrm commented on #90833
/assign

[2020-05-08 09:35] mm4tt commented on #90833
Hey @irbekrm, that's great to hear!

The extremely high level explanation of what we'd like to do is in this comment - https://github.com/kubernetes/kubernetes/pull/90722#discussion_r420045355

I'll try to post more detailed steps here soon, but a good start would be to familiarize yourself with the kubemark code, especially the part where we mock CRI (I think this is the entry point - https://git

[2020-05-08 09:49] mercury77 commented on #85794
Please can you provide more information about what you did please?
We're facing same issue .
Thanks in advance for your support !!

[2020-05-08 09:52] SerialVelocity commented on #87126
/remove-lifecycle stale

[2020-05-08 11:09] insertjokehere commented on #87615
I'm seeing an identical issue on 1.16.8 - every so often (sometimes once every couple of days, sometimes every couple of weeks) the node becomes NotReady, with reason Kubelet stopped posting node status, and "use of closed network connection" filling the logs

[2020-05-08 11:24] #83584 closed

[2020-05-08 11:24] #40358 closed

[2020-05-08 11:30] bart0sh commented on #90851
@tedyu The change looks good to me. Would you be willing to submit a PR?

[2020-05-08 11:38] hasheddan commented on #90830
We are still getting an error in the watch here (ref: https://github.com/kubernetes/kubernetes/blob/90f7ae54acbbab22460fe5fabded02d9b912b834/staging/src/k8s.io/client-go/tools/watch/until.go#L78). It looks like @tnozicka + @spiffxp were attempting to fix this in https://github.com/kubernetes/kubernetes/pull/75111. From what I can see in a failed run, we are successfully scaling down that `Stateful

[2020-05-08 11:58] bjethwan commented on #79395
--as-group not working

k -n bipin  get pods
No resources found.

k -n bipin auth can-i --as-group=system:masters get pods
error: requesting groups or user-extra for xyz without impersonating a user

k -n bipin auth can-i --as-group=system:masters get pods
error: requesting groups or user-extra for xyz without impersonating a user

k -n bipin auth can-i --as-group=system:authenticated get pods
err

[2020-05-08 12:23] #87481 closed

[2020-05-08 12:35] danwinship commented on #90483
So, as above, this is reported against a fairly old version of kubernetes, and the description sounds very much like a known bug that has since been fixed. You should upgrade. If you see the problem with a more recent version, please reopen this bug or file a new one.

/remove-triage unresolved
/close

[2020-05-08 12:36] #90483 closed

[2020-05-08 12:46] anderseknert commented on #79395
@bjethwan you always need to provide a user for impersonation as well, like `--as=johnrando --as-group=system:authenticated`

[2020-05-08 12:57] nrockwell3 commented on #90821
@lavalamp
Units are milliseconds. Standard deviation of response times.

Double entries are a result of running each scenario twice. The "Throughput as % baseline" calculations are based on the average of the throughput for the two samples.

The number of # samples indicates the number of requests in each run. The tests run for an hour.

I will run again with .000000001

[2020-05-08 13:03] AlcipPopa commented on #50375
I also would need this for monitoring purposes.

[2020-05-08 13:26] wojtek-t commented on #90821
+1 - changing the value should result in different numbers

[2020-05-08 13:27] Baykonur commented on #90814
/sig cloud-provider

[2020-05-08 13:29] liggitt commented on #90821
unless the dominating factor is a constant-cost performance penalty from use of the goaway chance sync.Pool

[2020-05-08 13:47] liggitt commented on #90813
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=watch%20closed%20before%20UntilWithoutRetry%20timeout signal has not improved, which surprises me... I expected use of watch bookmarks to resolve the issue

[2020-05-08 13:53] wojtek-t commented on #90813
@liggitt - I understand where it comes from.
Basically what is happening is:
- we first list: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/statefulset.go#L586
- we do a bunch of stuff
- and only after that we start watch from RV got in the initial step:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/statefulset.go#L615

So bookmarks won't help.
https://git

[2020-05-08 14:00] dims opened #90899 "Need a new label "do-not-merge:required-jobs-failed""
Can we please add a label when we update the status(es) from prow jobs that are required have failed?

Reviewers can look for things to be lgtm-ed can use say : `label:approved -label:do-not-merge:required-jobs-failed"`
Approvers can rely on reviewers lgtm use say : `label:lgtm -label:do-not-merge:required-jobs-failed"`

Essentially, I feel this will help us write better queries to find things tha

[2020-05-08 14:01] dims commented on #90899
/sig contributor-experience

[2020-05-08 14:01] wojtek-t commented on #90813
https://github.com/kubernetes/kubernetes/pull/90898 should fix this problem (just the statefulset test).
I'm going to clean up the other PR for other tests independently.

[2020-05-08 14:01] dims commented on #90899
@nikhita @cblecker WDYT?

[2020-05-08 14:14] LappleApple commented on #90899
+1. This comes out of @dims and I trying to perform a targeted query for ready-to-merge PRs on behalf of a SIG with a heavy workload. Having this label would definitely help going forward.

[2020-05-08 14:33] liggitt opened #90902 ""error building openapi models" error logged serving CRD containing x-kubernetes-int-or-string"
extracted from https://github.com/kubernetes/kubernetes/issues/85127#issuecomment-605890538

[code]

produces this log line:

[code]

/sig api-machinery
/assign @apelisse
/priority important-soon

The message is a no-op, and means server-side apply for that custom resource falls back to "no schema" mode.

[2020-05-08 14:33] suvsap opened #90903 "Reduce cost for Kubernetes nodes"
Hi Team,

We have the below nodepools which are dedicated for the individual client.  As part of cost reduction exercise can you kindly let me know how can we reduce cost for the nodes at the same time ensure optimum performance?

[code]

[code]
Kindly find the nodes associated with the nodepools

[code]

Thanks in advance for your help.

Regards,
Suv

[2020-05-08 14:33] liggitt commented on #85127
extracted the newly found issue to https://github.com/kubernetes/kubernetes/issues/90902 to track separately

/close

[2020-05-08 14:34] #85127 closed

[2020-05-08 14:45] suvsap commented on #90903
/sig Node

[2020-05-08 14:58] liggitt commented on #90610
bumping priority since this impacts API compatibility and we would expect to pick a fix back to 1.16-1.18

[2020-05-08 14:59] oxddr commented on #87324
/close

[2020-05-08 14:59] #87324 closed

[2020-05-08 15:03] dpepper commented on #28969
They both go down at the same time.
What's to prevent pod A from starting again on node 2, and therefore getting the IP address that was previously assigned to pod B?
It's definitely a problem when both nodes are getting IPs of each other. Cassandra complains that an existing node already holds the tokens the current node is trying to get and refuses to start.

Did anyone find a solution for this?

[2020-05-08 15:07] mrbobbytables commented on #30656
Thanks for the thoughtful reply @whereisaaron :) I think that captures things quite well.

[KEPs](https://github.com/kubernetes/enhancements/#enhancement-tracking-and-backlog) can be quite daunting, but I want to provide a little context around them. Kubernetes itself is very large; potential changes have a very large blast radius, both for the contributor base and users. A new feature might seem

[2020-05-08 15:16] yann-soubeyrand commented on #90444
Hi @thockin, thanks for your answer!

Of course it can be done outside of Kubernetes core. I proposed to implement this in the core as I thought it was a relatively common and generic scenario. In addition, this feature, without being mission critical, must be implemented carefully to serve its purpose (load balance traffic to external endpoints and react promptly to changes in the set of endpoint

[2020-05-08 15:19] divyenpatel commented on #90814
@Baykonur Kubernetes and VCP are emitting various Prometheus metrics which can help identify what causes overall performance issues.

In VCP we emit metrics for overall volume creation operation as well as an individual API call to vCenter for creating volume.  If you can scrape vSphere metrics from Kubernetes Controller, we can identify where the issue is - VC is responding slow or cluster is tak

[2020-05-08 15:23] survivant commented on #72220
I just found this issue after looking for hours.  I'm not alone :)

we should have to rely on external command like : grep, awk, jq...

so as my understanding.. we can't find with regex in jsonpath for now.

I was trying to find all pods starting with name : test*    (I wanted to add a label only on those pods)

[2020-05-08 15:34] liggitt opened #90904 "fieldManager errors can fail create/update/non-apply-patch API calls"
**What happened**:

FieldManager errors were encountered in an Update API request (xref https://github.com/openfaas/faas-netes/issues/630#issuecomment-625440515):
[code]

This error blocked an update request that worked in prior Kubernetes versions.

**What you expected to happen**:

The particular error that occurred there should be tracked down and resolved separately, but I would expect field m

[2020-05-08 15:54] allamand commented on #28969
You can force podA to stay on node1 using local storage and persistent volume claim

[2020-05-08 16:46] Baykonur commented on #90814
That is great, I will have a look at the links and come back to you.

[2020-05-08 18:06] balusarakesh commented on #90079
I'm also seeing the same issue, but in my case after 30-40 minutes the node was able to attach, not really sure what the issue was and how it got resolved itself. This started happening when we switched from kops to EKS.

[2020-05-08 18:22] liggitt commented on #69836
design moved to https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190607-certificates-api.md

history at https://github.com/kubernetes/enhancements/commits/master/keps/sig-auth/20190607-certificates-api.md

v1 API adjustments described in https://github.com/kubernetes/enhancements/pull/1691

[2020-05-08 18:22] #69836 closed

[2020-05-08 18:31] #86131 closed

[2020-05-08 18:33] piedepoy commented on #53180
wow, I searchin and you help me.! thanks @seemacalibrecode

[2020-05-08 19:17] Yagora commented on #90763
I can do this for my first contribution, maybe it's better if I specify in the Run all test paragraph : It's better to use make test because it excludes some directories when it runs unit tests.

Do you thinks it's enough ?

[2020-05-08 19:28] brianpursley commented on #90763
I will defer to someone from the sig testing team to answer that question.

`go test ./...` definitely won't work, so that should be removed from the docs altogether, IMO.

The other `go test` examples, I'm not sure if there is a reason to keep them in the docs or not.  They can work sometimes, depending on what you are testing, but they don't work universally... for example, if I try to `go test`

[2020-05-08 19:38] jieyu opened #90905 "Incorrect parsing of YAML strings"
**What happened**:

Trying to apply the following pod would result in a parse error:

[code]

[code]

The problem is the `0999` part. Since it's not a valid octal number, it should be treated as string and not quote is needed. This can be validated by multiple ways:

1. Check this online [yaml->json conversion tool ](https://onlineyamltools.com/convert-yaml-to-json?input=apiVersion%3A%20v1%0Akind%

[2020-05-08 19:44] jieyu commented on #90905
/sig api-machinery

[2020-05-08 19:49] liggitt commented on #90905
thanks for the report, this is a duplicate of https://github.com/kubernetes/kubernetes/issues/82296

/close

[2020-05-08 19:49] #90905 closed

[2020-05-08 20:08] logicalhan opened #90908 "Add a metric for apiserver self-requests"
Currently we don't have an easy way of determining what number of requests are apiserver self-requests. This has historically bitten us, since we used to have a 50(?) QPS limit on apiserver self-requests (which thus has been removed). Even so, it would be a good idea to know this generally, since this may be helpful in pinpointing performance regressions for apiserver.

/sig api-machinery instrume

[2020-05-08 20:15] neolit123 commented on #90763
+1 (not a sig-testing member though)

[2020-05-08 21:08] mo-mirzania commented on #85794
Just stopped firewalld service on master and worker nodes!

[2020-05-08 21:51] immutableT commented on #90856
I am adding some background on GCM to help us navigate the decision on approach - caching DEK vs.  hierarchical key structure (as suggested by @mikedanese).

From [NIST 800-38D](https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-38d.pdf) (emphasis and omissions are mine):
### Recommendation for Block Cipher Modes of Operation: Galois/Counter Mode (GCM) and GMAC.
- The total numb

[2020-05-08 22:01] sarojsingh002 commented on #53881
How do you set up environment variable for config. Could some one please explain in details. I am using windows home and trying to docker-compose.yml to k8 but when i do kompose up it says:
`Error while deploying application: Get http://localhost:8080/api: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it.`

Thanks in advance

[2020-05-08 22:33] msau42 commented on #90868
/reopen

I don't really want to get into the habit of defining per test case flags in e2e.test. There are thousands of test cases and it would be unwieldy to discover all the flags available and understand how to use them.

What factors would influence how many volumes you want the test to create? Can we just hardcode a value in the test case?

[2020-05-08 22:52] AndrewSav commented on #30656
For me inspecting the filesystem as root, and running utilities that can interact with filesystem as root, is the number one reason of wanting to get support for the requested feature. In short, this suggestion does not solve my problem at all.

[2020-05-08 23:07] Riaankl opened #90912 "Write deleteCoreV1CollectionNamespacedPodTemplate test+promote - +1 endpoint coverage"
# Progress `[7/7]`
* [x] Original approval issue: #90746
* [x]  APISnoop org-flow: [deleteCoreV1CollectionNamespacedPodTemplate.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/deleteCoreV1CollectionNamespacedPodTemplateTest.org)
* [x]  test approval issue: [kubernetes/kubernetes#90912](https://github.com/kubernetes/kubernetes/issues/90912)
* [x]  test pr : [#90912](https://github.com

[2020-05-08 23:09] Riaankl commented on #90912
/sig testing
/sig architecture
/area conformance

[2020-05-08 23:11] Riaankl commented on #90912
/area conformance

[2020-05-08 23:19] Riaankl commented on #90746
Closing in favour of #90912
/close

[2020-05-08 23:20] cblecker commented on #90899
We can use `-status:failure` for this already in search queries. A new label isn't necessary :)

/close

[2020-05-08 23:21] #90899 closed

[2020-05-08 23:22] Riaankl commented on #90746
@hh please close  in favour of #90912 and place #90912 in Issues Triage on org dashboard

[2020-05-08 23:32] Riaankl opened #90913 "Write deleteCoreV1CollectionNamespacedPod test - +1 endpoint coverage"
# Progress `[6/7]`
* [x] Original approval issue: #90663
* [x]  APISnoop org-flow: [deleteCoreV1CollectionNamespacedPodTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/deleteCoreV1CollectionNamespacedPodTest.org)
* [x]  Test approval issue: [kubernetes/kubernetes#90913](https://github.com/kubernetes/kubernetes/issues/90913)
* [x]  Test pr: [PR](https://github.com/kubernetes/kuber

[2020-05-08 23:34] Riaankl commented on #90913
/sig testing
/sig architecture
/area conformance

[2020-05-08 23:36] #86060 closed

[2020-05-08 23:36] #72252 closed

[2020-05-08 23:40] Riaankl commented on #90663
@hh please close in favour of #90913 and place #90913 in Issues Triage on org dashboard

[2020-05-08 23:40] Riaankl commented on #90913
During Conformance Meeting:

 Is there a way to write this test so it is resource agnostic?
If we are just changing the resource... can be parameterize the resource-type

[2020-05-08 23:41] Riaankl commented on #90912
During Conformance Meeting:

 Is there a way to write this test so it is resource agnostic?
If we are just changing the resource... can be parameterize the resource-type

[2020-05-08 23:49] Riaankl opened #90914 "Write deleteCoreV1CollectionNamespacedEvent test+promote - +1 endpoint coverage"
# Progress `[7/7]`
* [x] Original approval issue: #90619
* [x]  APISnoop org-flow: [deleteCoreV1CollectionNamespacedEventTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/deleteCoreV1CollectionNamespacedEventTest.org)
* [x]  Test approval issue: [kubernetes/kubernetes#90914](https://github.com/kubernetes/kubernetes/issues/90914)
* [X]  Test pr: [PR](https://github.com/kubernetes/k

[2020-05-08 23:49] Riaankl commented on #90914
/sig testing
/sig architecture
/area conformance

[2020-05-08 23:51] Riaankl commented on #90914
During Conformance Meeting:

Is there a way to write this test so it is resource agnostic?
If we are just changing the resource... can be parameterize the resource-type

[2020-05-08 23:52] Riaankl commented on #90619
@hh please close in favour of #90914 and place #90914 in Issues Triage on org dashboard

[2020-05-09 00:10] Riaankl opened #90916 "Write AppsV1Deployment resource lifecycle test - +6 endpoint coverage"
# Progress `[6/7]`
* [x] Original approval issue: #89340
* [x]  Test approval issue: [kubernetes/kubernetes#90916](https://github.com/kubernetes/kubernetes/issues/90916)
* [x]  Test pr: #92589
* [x]  Two weeks soak start date: 5 Nov 2020 [testgrid-link](https://testgrid.k8s.io/sig-apps#gce&include-filter-by-regex=Deployment&include-filter-by-regex=should%20run%20the%20lifecycle%20of%20a%20Deployme

[2020-05-09 00:10] Riaankl commented on #90916
/sig testing
/sig architecture
/area conformance

[2020-05-09 00:19] Riaankl commented on #90916
BobyMcbobs commented in original Issue: Unsure if the endpoint replaceAppsV1NamespacedDeploymentStatus is able to be hit. When this endpoint is attempted to be updated the data after retrieving the update resource doesn't reflect the values in the update

[2020-05-09 00:20] robscott commented on #85572
/remove-lifecycle rotten

[2020-05-09 00:20] robscott commented on #85572
/remove-lifecycle stale

[2020-05-09 00:21] Riaankl commented on #89340
@hh please close in favour of #90916 and place #90916 in Issues Triage on org dashboard

[2020-05-09 00:23] mapatel7 commented on #83125
Was there a solution to this issue? I'm facing this issue as well.

[2020-05-09 00:25] blackwith commented on #83125
Yeah you have to remove the type field and it's works :)

Le sam. 9 mai 2020 à 02:23, Mithil Patel <notifications@github.com> a
écrit :

[2020-05-09 00:27] mapatel7 commented on #83125
No it doesn't work correctly. If we remove the type file it doesn't give the error but it also doesn't mount the directory which exists on the host. When i go into the directory on the pod, it is empty.

[2020-05-09 00:29] Riaankl opened #90917 "Write CoreV1NodeStatus test+promote - +2 endpoint coverage"
# Progress `[2/6]`
* [x] Original approval issue: #88358
* [x]  Test approval issue: [kubernetes/kubernetes#90917](https://github.com/kubernetes/kubernetes/issues/90917)
* [ ]  Test pr: ?
* [ ]  Two weeks soak start date: testgrid-link
* [ ]  Two weeks soak end date:
* [ ]  Test promotion pr: ?

This issue is created to allow edit by @Riaankl

/wip
/hold

# Identify an untested feature Using APISn

[2020-05-09 00:29] Riaankl commented on #90917
/sig testing
/sig architecture
/area conformance

[2020-05-09 00:30] Riaankl commented on #90917
@hh comment from original issue:
We would need to tag [Serial] and have nodes that can be targeted for destructive.
Serial implies Disruptive.

Deterministic... kubelet would over-written the status.

This test may not be possible with current constraints.

We need to work across all platforms (systemd vs windows vs... others).

Conformance is missing a framework for disruptive cross-cloud tests.

[2020-05-09 00:32] Riaankl commented on #88358
@hh please close in favour of #90917 and place #90917 in Issues Triage on org dashboard

[2020-05-09 00:40] dick-nux commented on #85794
Found the problem, it is iptables forwarding rules, check kube-proxy configuration。

[2020-05-09 00:50] Riaankl opened #90918 "Write ServiceStatus resource lifecycle test - +2 endpoint coverage"
# Progress `[2/6]`
* [x] Original approval issue: #89135
* [x]  Test approval issue: [kubernetes/kubernetes#90918](https://github.com/kubernetes/kubernetes/issues/90918)
* [ ]  Test pr: ?
* [ ]  Two weeks soak start date: testgrid-link
* [ ]  Two weeks soak end date:
* [ ]  Test promotion pr: ?

This issue is created to allow edit by @Riaankl

/wip
/hold

# Identifying an untested feature Using AP

[2020-05-09 00:51] Riaankl commented on #90918
/sig testing
/sig architecture
/area conformance

[2020-05-09 00:55] Riaankl commented on #90918
Comment from original Issue #89135
Currently, this test is having issues writing to the ServiceStatus endpoints (via patch and update).
The data is patched without errors, but the data when fetched is no different to before the patching.

[2020-05-09 00:58] Riaankl commented on #89135
@hh please close this Issue in favour of #90918 and place in Sorted Backlog of Issues on org dashboard

[2020-05-09 01:02] ananclub opened #90919 "kubeadm don't pull arm64 images"
**What happened**:
Kubeadm tool did not pull correct image on arm64 os.It pull x86_64 images.
And kubelet can not work.

**Environment**:
- Kubernetes version (use `kubectl version`): v1.18.2
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersion:"go1.13.9", Co

[2020-05-09 01:11] brianpursley commented on #89259
/assign

[2020-05-09 01:17] saltFisher opened #90920 "How can create lvm in Pod?"
In k8s 17, i created a pod which configured raw block device by local volume. Then, I created lvm in the pod based on this raw device, I found I can create pv and vg correctly, but I can’t create lv.
I had given privilege authorization.

[2020-05-09 01:19] saltFisher commented on #90920
/sig storage

[2020-05-09 01:22] Riaankl opened #90921 "Write CoreV1ConfigMap test - +2 endpoint Coverage"
# Progress `[6/7]`
* [x] Original approval issue: #87120
* [x]  Test approval issue: [kubernetes/kubernetes#90921](https://github.com/kubernetes/kubernetes/issues/90921)
* [x]  Test pr: [PR](https://github.com/kubernetes/kubernetes/pull/87212)
* [x]  Two weeks soak start date: 24 April 2020 [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&include-filter-by

[2020-05-09 01:22] Riaankl commented on #90921
/sig testing
/sig architecture
/area conformance

[2020-05-09 01:27] Riaankl commented on #90921
/assign @raymonddeng99

Issue created to replace #87120

[2020-05-09 01:27] #90632 closed

[2020-05-09 01:28] #90308 closed

[2020-05-09 01:33] Riaankl commented on #87120
@hh please close this Issue in favour of #90921 and #90921 place in In Progress Issues on org dashboard

[2020-05-09 02:29] mikefang426 commented on #78352
Is there anyone actually using Spanish kubectl in real life?

[2020-05-09 02:34] liuxu623 opened #90922 "support variable sized pod-CIDRs for different-sized node (was: Allow --node-cidr-mask-size to change: make NodeIPAM controller support variable sized CIDRs)"
- cluster cidr is 192.168.0.0/16
- set --node-cidr-mask-size 24
- add two nodes podCIDR will be 192.168.0.0/24 and 192.168.1.0/24
- set --node-cidr-mask-size 23 and restart controller-manager
- delete node 192.168.1.0/24
- add a node pod CIDR will be 192.168.0.0/23
- 192.168.0.0/24 and 192.168.0.0/23 overlap

I write some test code
[code]

[2020-05-09 02:35] liuxu623 commented on #90922
/sig network

[2020-05-09 02:35] Riaankl opened #90923 "Write CoreV1Endpoints test - +4 coverage"
# Progress `[7/7]`
* [x] Original approval issue: #87762
* [x]  Test approval issue: [kubernetes/kubernetes#90923](https://github.com/kubernetes/kubernetes/issues/90923)
* [x]  Test pr: [PR](https://github.com/kubernetes/kubernetes/pull/88778)
* [x]  Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&include-filter-by-regex

[2020-05-09 02:39] Riaankl commented on #87762
@hh please close this Issue in favour of #90923 and #90923 place in In Progress Issues on org dashboard

[2020-05-09 02:39] #86138 closed

[2020-05-09 02:41] andrewsykim commented on #90873
/area provider/aws

[2020-05-09 02:42] everpeace commented on #90841
I'm closing this because Histogram exposes _sum_ (ref: https://github.com/kubernetes/kubernetes/pull/90842#issuecomment-626086700)

[2020-05-09 02:42] #90841 closed

[2020-05-09 02:45] andrewsykim commented on #90922
It would be nice if node ipam can handle cases where either cluster-cidr or node-cidr-mask-size changes but generally I don't think changing them is supported.

[2020-05-09 02:45] andrewsykim commented on #90795
/area provider/vmware

[2020-05-09 02:46] andrewsykim commented on #90770
/area provider/vmware

[2020-05-09 03:04] enj commented on #90533
I agree with Jordan on this.  I am happy to improve performance here, but there must be no changes to user facing config.

The options I see are:

1. Carry a patch in your own fork of the API server code (not a great long term solution)
1. Avoid P-384 (not realistic)
1. Fix Go's P-384 implementation (hard because crypto)
1. Implement `AttemptToVerifyClientCertIfGiven` (I do not think it would not

[2020-05-09 03:22] wonleing opened #90924 "User "system:kube-scheduler" cannot list resource "replicationcontrollers" in API group "" at the cluster scope"
newly kubeadm init, and found following error in `kubectl cluster-info dump`

k8s.io/client-go/informers/factory.go:132: Failed to list *v1.ReplicationController: replicationcontrollers is forbidden: User "system:kube-scheduler" cannot list resource "replicationcontrollers" in API group "" at the cluster scope

What's reason? How to fix it?

[2020-05-09 03:24] liggitt commented on #90924
Is the message persistent or did the scheduler continue after that? Did the time correspond with the API server startup? Requests while the API server is starting can be rejected while the authorization cache is being initialized.

[2020-05-09 03:40] #86118 closed

[2020-05-09 03:52] l1b0k commented on #87615
go may have problem deal with h2 upgrade.
`golang.org/x/net/http2/transport.go`

[code]

[2020-05-09 03:54] ypnuaa037 commented on #87615
@mYmNeo have you ever reproduce the problem after  recompiling with go 1.14

[2020-05-09 04:41] #86074 closed

[2020-05-09 07:44] #86145 closed

[2020-05-09 07:53] BenTheElder commented on #90919
Can you be a little bit more specific?
Which container runtime and version?
Any proxies?
Which images?

[2020-05-09 07:55] raelga commented on #78352
Not yes, cause is not implemented at this point, but may come handy.

[2020-05-09 07:56] BenTheElder commented on #90860
LinuxOnly things should still be in conformance, as I understand it (and hope?!?). Agree with the other reasons.

[2020-05-09 07:58] BenTheElder commented on #90854
Worth noting https://github.com/kubernetes/kubernetes/pull/78547#issuecomment-527578153

[2020-05-09 08:01] BenTheElder commented on #90810
cc @aojea

[2020-05-09 08:06] BenTheElder commented on #90807
@kubernetes/release-engineering
@kubernetes/release-managers

[2020-05-09 08:06] aojea commented on #90810
Another link to track this
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Services%20should%20be%20rejected%20when%20no%20endpoints%20exist

[2020-05-09 08:22] OriHoch commented on #89080
Yes, it's quite annoying

You can use [yq](https://mikefarah.gitbook.io/yq/) or [jq](https://stedolan.github.io/jq/) to do it

[code]

[2020-05-09 08:27] tarunwadhwa13 commented on #89898
We too are facing the same issue in our cluster.

Kubernetes Version - 1.16.8
Kernel - 4.4.218-1
OS - Centos 7

Installed using Kubespray

In our case, timeouts were not related to application but related to specific nodes in cluster. In our 13 node cluster, node 1 to 4 had some kind of issue wherein the pods running on these nodes had random failures due to timeouts.

Checked that there weren't a

[2020-05-09 08:48] aojea commented on #90810
wow, are we really hitting these limits?

[code]

[2020-05-09 08:55] mYmNeo commented on #87615
AFAIN, the problem is no longer existed.

[2020-05-09 08:55] ananclub commented on #90919
I pull the ***-arm:v1.18.2 images and docker tag them to **:v1.18.2,then works.

[2020-05-09 08:55] #90919 closed

[2020-05-09 09:15] aojea commented on #90810
I'm always against bumping timeouts on tests but this has 3 seconds, and checking in kind a netcat against a service without endpoints in my idle laptop gives me 1 second to receive the ECONNREFUSED

[code]

@danwinship should we increase the `connect` timeout first?
 the test tries several times in a loop and is weird we always hit the rate limit for this test, no?

[2020-05-09 10:00] lwmqwer opened #90928 "Expose IP camera as service in edge node"
kubenete 1.17.3

With one master and three workers
Two wokers are edge node which is just an arm64 router which has one wan port and 8 lan port.
Master(x86)
Worker1(Arm64)
eth0 192.168.100.59
br0 192.168.188.1
lan0-lan8 Ethernet ports with PoE function.
lan3 attach a IP camera with IP 192.168.188.232.

Deploy a service like this
apiVersion: v1
kind: Endpoints
metadata:
  name: camerahttp-service
s

[2020-05-09 10:04] lwmqwer commented on #90928
/sig network

[2020-05-09 10:12] defool opened #90929 "APIs to show recent revisions of configMap"
**What would you like to be added**:
APIs to show recent revisions of configMap.

**Why is this needed**:
Reversion history of configMap is useful for troubleshooting and rollback.

[2020-05-09 10:23] defool commented on #90929
/sig api-machinery
/kind feature

[2020-05-09 10:32] justaugustus commented on #90807
Will investigate next week.
/assign
/area release-eng

[2020-05-09 10:40] matrixji commented on #89392
We finally reproduced our problem, this issue seems from some mis-configuration of haproxy. And I summarize below:

- In this case, we have incorrect ipvs rule of calico-typha service.
- Firstly, we check the endpoint (It's correct, 192.168.18.122 is new node after pod migrate done):
[code]
  but in ipvs, the rules are still with old endpoint address (192.168.18.123 already powered off):
[code]
-

[2020-05-09 11:13] rprasad17088 commented on #70202
I also encountered exactly same problem while creating rook-ceph-operator pod, enforcing SELinux to 0 on worker nodes resolved the issue.

[2020-05-09 11:17] ysaakpr commented on #14188
What is the status of this issue? Is there way to get Pod Index in the parallel job with a `completion ` set. I am currently on Kubernetes 1.14.  Have to create parallel jobs with index to do associated tasks

[2020-05-09 11:24] svangeepuram opened #90930 "Kubernetes - Building - IPv4/IPv6 dual stack cluster"
Hello!

I am not able to find proper documentation to build IPv4/IPv6 dual stack cluster.  Please provide specific references/instructions to build dual stack Cluster.

Regards,
Chary

[2020-05-09 11:26] ndrpnt opened #90931 "`kubectl apply --server-side` doesn't honor `--force` flag"
**What happened**:

A resource is not replaced (deleted and recreated) when passing the `--force`
flag to `kubectl apply --server-side` and the change cannot be applied.

**What you expected to happen**:

I expected the service to be replaced.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:

`kind`

- Kubernetes vers

[2020-05-09 11:30] svangeepuram commented on #90930
/sig Docs

[2020-05-09 11:33] ndrpnt commented on #90931
/sig api-machinery
/wg api-expression

[2020-05-09 11:48] #83377 closed

[2020-05-09 11:53] itaysk commented on #89080
If anyone came here looking for a way to get rid of `managedFields`, check out [kubectl-neat](https://github.com/itaysk/kubectl-neat). It removes not only this, but also other commonly unwanted fields, and hides fields that are set to their default values. It was created some time ago with the goal to make kubernetes yamls more readable, but since the 1.18 release it has gotten more popular thanks

[2020-05-09 11:56] ndrpnt commented on #90931
/sig cli

[2020-05-09 12:11] weizhouBlue commented on #90258
yes, I prefer to think it of a kernel issue , which should be work when 5-tuple does not overlay totally. But this influences on the stability of api-server , so I raise it

[2020-05-09 14:30] aojea commented on #90930
It's documented here
https://kubernetes.io/docs/concepts/services-networking/dual-stack/

[2020-05-09 14:57] liggitt commented on #90929
Thanks for the request. Closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/22368 which includes revision management as a goal

[2020-05-09 14:57] #90929 closed

[2020-05-09 14:58] tedyu commented on #90334
On k8s 1.18 (without patch), half an hour into pod execution (using @matthias50 's pod def), I saw the following logs accumulated:

[code]

[2020-05-09 14:58] liggitt commented on #90930
Thanks for the link @aojea

/close

[2020-05-09 14:58] #90930 closed

[2020-05-09 15:33] tamalsaha opened #90933 "kubectl get -o yaml | json should not show managedFields by default"
**What would you like to be added**:
With the introduction of `managedFields` in object meta `-o yaml` output is harder to read. I would like to propose that command `-o yaml | json` commands by default hide the `managedFields` from output and show it if user passes a flag like `--show-managed-fields`.

**Why is this needed**:
I miss the readable outputs of `-o yaml` command.

/sig cli

[2020-05-09 15:47] ConcurrencyPractitioner commented on #90908
@logicalhan Can this issue be considered a newbie one?  I'm hunting for issues which might be a good first PR.

[2020-05-09 16:10] jpenekusu commented on #56582
My use case is, given a chaos engineering service hosted in a namespace, to make chaos engineering on cluster namespaces. I would like to reduce the attack surface in case the chaos engineering service account is stolen. This is why I would like to be able to create a role that can grant delete permission on pods given a pattern match on pod resourceName (i.e: regex) or labels.

[2020-05-09 16:53] #86058 closed

[2020-05-09 16:58] danwinship commented on #90810
In OCP it looks like we're hitting a kernel bug such that the rate limiting counters may not get reset correctly in some circumstances (which is making us fail the test almost 100% of the time with RHEL 8.2 kernels). That's being worked on.

For the k8s CI flakes, I'm guessing that the problem is that sometimes the parallelization of tests ends up pitting the "rejected when no endpoints" test up a

[2020-05-09 17:15] liggitt commented on #90933
Thanks for the request, https://github.com/kubernetes/kubernetes/issues/90066 is already open to discuss this

[2020-05-09 17:15] #90933 closed

[2020-05-09 17:18] tamalsaha commented on #90066
I would like to propose that command `-o yaml | json` commands by default hide the `managedFields` from output and show it if user passes a flag like `--show-managed-fields`.

[2020-05-09 17:36] liggitt commented on #90066
While I agree the output is verbose, kubectl tries *very* hard to be as transparent as possible when outputting what the server returns in json/yaml format. Introspecting/manipulating particular fields in the response is less than ideal.

[2020-05-09 17:54] #86164 closed

[2020-05-09 18:03] svalluru-aai commented on #60807
Still trying to understand. Forgive me. I may have clicked thumbs down by mistake.
Yes, indeed, tools haven't been done to perfection.
Those, giving a thumbs down without an explanation, doesn't make sense.

[2020-05-09 18:08] faintdream opened #90935 "kubectl deprecate message has typo"
**What happened**: when i run `kubectl exec <somepod> date` , it shows a deprecate message which has a typo

example
[code]
**What you expected to happen**: expected deprecate message without typo of having word kubectl once

**How to reproduce it (as minimally and precisely as possible)**:
run  `kubectl exec <somepod> date`
**Anything else we need to know?**:
no
**Environment**:
- Kubernetes vers

[2020-05-09 18:10] faintdream commented on #90935
/sig ui

[2020-05-09 18:48] BrijJhala commented on #79224
+1 to reopen it. @connorworkman can you please give me more detail how did you reference env. variable in configmap.  I have checked that example link  but did not see any detail. thanks and appreciate your help

[2020-05-09 19:06] afrouzMashaykhi commented on #89254
Hi,unfortunately I can't reproduce the issue.
and another thing is that  in doc https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-to-delete-objects it said --prune is an alpha feature.

[2020-05-09 19:12] jayaddison commented on #90637
Thanks @neolit123.  After a fresh install of the latest package dependencies here, I was able to bring up a cluster successfully.  Unfortunately I can't yet pinpoint exactly what change(s) resolved this error, but if I run into this again I'll add more detailed remediation notes.

[2020-05-09 20:57] #86079 closed

[2020-05-09 21:06] Riaankl commented on #89340
/close
Close in favour of #90916 and place #90916 in Issues Triage on org dashboard

[2020-05-09 21:10] Riaankl commented on #89340
/close
Close in favour of #90916 and place #90916 in Issues Triage on org dashboard

[2020-05-09 21:11] #89340 closed

[2020-05-09 21:12] Riaankl commented on #88358
/close
Close in favour of #90917 and place #90917 in Issues Triage on org dashboard

[2020-05-09 21:12] #88358 closed

[2020-05-09 21:13] Riaankl commented on #89135
/close
Close this Issue in favour of #90918 and place in Sorted Backlog of Issues on org dashboard

[2020-05-09 21:13] #89135 closed

[2020-05-09 21:14] Riaankl commented on #87120
/close
Close this Issue in favour of #90921 and #90921 place in In Progress Issues on org dashboard

[2020-05-09 21:14] #87120 closed

[2020-05-09 21:15] Riaankl commented on #87762
/close
Close this Issue in favour of #90923 and #90923 place in In Progress Issues on org dashboard

[2020-05-09 21:15] #87762 closed

[2020-05-09 21:27] Riaankl opened #90936 "Write CoreV1Pod and CoreV1PodStatus lifecycle test - +4 coverage"
# Progress `[7/8]`
* [x] Original approval issue: #88545
* [x]  Test approval issue: [kubernetes/kubernetes#90936](https://github.com/kubernetes/kubernetes/issues/90936)
* [x]  [APISnoop PR](https://github.com/cncf/apisnoop/pull/290)
* [x]  Test pr: [PR](https://github.com/kubernetes/kubernetes/pull/90942) - Reverted due to flakes
* [x] New Test [PR](https://github.com/kubernetes/kubernetes/pull/9

[2020-05-09 21:29] Riaankl commented on #88545
/close
close this Issue in favour of #90936 and #90936 place in In Progress Issues on org dashboard

[2020-05-09 21:30] #88545 closed

[2020-05-09 21:30] aojea commented on #90810
@BenTheElder are the nodes getting metrics that can identify this anomalous ICMP behaviour?something like `nstat -asz | grep Icmp`

[2020-05-09 21:37] Riaankl opened #90937 "Write CoreV1ServiceAccount resource lifecycle test+promote - +3 endpoint coverage"
# Progress `[6/6]`
* [x] Original approval issue: #89071
* [x]  Test approval issue: [kubernetes/kubernetes#90937](https://github.com/kubernetes/kubernetes/issues/90937)
* [x]  Test pr: [PR](https://github.com/kubernetes/kubernetes/pull/90193)
* [x]  Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&include-filter-by-regex=lifecyc

[2020-05-09 21:41] Riaankl commented on #89071
/close
close this Issue in favour of #90937 and #90937 place in In Progress Issues on org dashboard

[2020-05-09 21:41] #89071 closed

[2020-05-09 21:44] liggitt commented on #54974
@wojtek-t is the bookmark feature complete now?

[2020-05-09 21:48] liggitt commented on #90813
https://github.com/kubernetes/kubernetes/pull/90818 and https://github.com/kubernetes/kubernetes/pull/90898 resolved the flakiness

[2020-05-09 21:48] liggitt commented on #90813
closing this, #90815 and #90855 can cleanup the test functions as followups

/close

[2020-05-09 21:48] Riaankl commented on #90746
/close
close this Issue in favour of #90912 and #90912 place in Issues on to Triage org dashboard

[2020-05-09 21:48] #90813 closed

[2020-05-09 21:49] #90746 closed

[2020-05-09 21:50] Riaankl commented on #90663
/close
close in favour of #90913 and place #90913 in Issues Triage on org dashboard

[2020-05-09 21:50] #90663 closed

[2020-05-09 21:51] Riaankl commented on #90619
/close
close in favour of #90914 and place #90914 in Issues Triage on org dashboard

[2020-05-09 21:51] #90619 closed

[2020-05-09 21:53] Riaankl commented on #89340
/close
Close in favour of #90916 and place #90916 in Issues Triage on org dashboard

[2020-05-09 21:54] Riaankl commented on #88358
/close
 close in favour of #90917 and place #90917 in Issues Triage on org dashboard

[2020-05-09 21:56] Riaankl commented on #89135
/close
close this Issue in favour of #90918 and place #90918 in Sorted Backlog of Issues on org dashboard

[2020-05-09 21:58] #79040 closed

[2020-05-09 22:01] harutyundermenjyan commented on #87198
Hello,
I have the same issue as well, the cluster deployed by the rancher, checked for PodSecurityPolicy, it disabled by default.

[2020-05-09 22:08] Riaankl commented on #87120
/close
close this Issue in favor of #90921 and #90921 place in In Progress Issues on org dashboard

[2020-05-09 22:10] Riaankl commented on #87762
/close
Close this Issue in favour of #90923 and #90923 place in In Progress Issues on org dashboard

[2020-05-10 01:03] moret commented on #86436
/remove-lifecycle stale

[2020-05-10 02:01] whereisaaron commented on #30656
I was wrong about that, because your injected debug container shares the process namespace with your target Pod, you can access the filesystem of any process in any container in the Pod from your debug container. And that would include both the container filesystem and any filesystems mounted into those containers.

https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/#

[2020-05-10 02:05] dwin commented on #61486
The fix described in https://github.com/kubernetes/kubernetes/issues/61486#issuecomment-542314543 worked for me on EKS.

[2020-05-10 02:50] bmwiedemann commented on #70131
It seems, #89136 fixed it for the kubernetes packages.
However, I have the feeling that go's build IDs were meant to be deterministic - because I never saw more than 2 different results when I varied levels of parallelism.
And instead of patching it out in every software, it would be good to understand and fix where that 1 bit of non-determinism comes from.

other packages I saw with this issue:
*

[2020-05-10 03:40] grahamoptibrium commented on #72817
Let me further this issue by explaining a use-case I'm currently fighting with.

I have a CRD and a resource of Kind: MyCRD in a common yaml/directory.

When I run `kubectl apply -f both.yaml`; the request to create the CRD is sent, and the request to create the resource is also sent; but before the CRD has actually been created, leading to a 'no such kind' failure.

[2020-05-10 03:50] yiyang5055 commented on #86024
/cc

[2020-05-10 03:52] yiyang5055 commented on #85650
/cc

[2020-05-10 03:55] yiyang5055 commented on #89267
/cc

[2020-05-10 03:55] 13567436138 opened #90945 "kubectl create secret docker-registry --from-file=docker shows error"
**What happened**:
[code]

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if t

[2020-05-10 05:07] #90085 closed

[2020-05-10 07:30] sbueringer commented on #87615
Do you already know if go1.14 will be backported to 1.18?

[2020-05-10 07:56] hkamel opened #90947 "[Failing Test] gce-device-plugin-gpu-master (ci-kubernetes-e2e-gce-device-plugin-gpu)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.19
/priority critical-urgent
/sig testing

[2020-05-10 08:11] pjbgf commented on #84623
/remove-lifecycle stale

[2020-05-10 09:55] george-angel commented on #46287
/remove-lifecycle stale

[2020-05-10 10:10] #85932 closed

[2020-05-10 10:31] msftnadavbh commented on #29838
This is still happening, is there any timeline to fix this?

[2020-05-10 12:17] jayaddison commented on #90637
While I'm still not 100% certain, the root cause in the case experienced here *may* have been https://github.com/kubernetes/kubernetes/issues/87964

[code]

[2020-05-10 14:04] OPSTime commented on #87126
lifecycle/stale

[2020-05-10 14:09] parthyadav3105 opened #90950 "Pod with hugepage get stuck in terminating state on deletion"
Hugepages: Pod deleting stuck

Created a pod with following configuration:

###### nginx-hugepages.yml

[code]

On deleting pod, __kubectl delete -f nginx-hugepage.yml__. It gets stuck at "pod nginx1 deleted" forever.

[code]

__kubctl get pods -A__

[code]

### Nginx1 Pod Details:

__kubectl describe pod nginx1__

[code]

__kubectl get pod nginx1 -o yaml__

[code]

__kubectl logs nginx1__

[code]

[2020-05-10 14:11] parthyadav3105 commented on #90950
/sig node

[2020-05-10 14:27] Asday commented on #14040
This seems useful to me as someone completely new to k8s.  I'm reading the docs and trying to futz my way through how I'd use it in a sensible manner, and it looks like I don't want to use `apply` at all, because that could mean that the cluster state drifts from my version-controlled configuration.  This means I'd always do `git pull && kubectl replace -R -f .` on push, except when something's ne

[2020-05-10 14:31] mattjmcnaughton commented on #89443
@sam-gaylert I'm going to open this back up for someone looking for a first commit. Lmk if you're still interest in getting sig-node, and happy to find an issue for you :)

[2020-05-10 14:31] mattjmcnaughton commented on #89443
Opening this back up for folks :)

I'm happy to mentor whoever picks this up if that'd be helpful :)

[2020-05-10 14:59] mattmoor opened #90952 "Package leaderelection has data races"
**What happened**:

We use the `leaderelection` package downstream in Knative (currently 1.16.x libs), and virtually any unit testing I try with the `LeaderElector` fails under `-race` due to assorted data races.

For example:
[code]

**What you expected to happen**:

I'd expect folks to be able to safely use the `leaderelection` package under `-race`.

**How to reproduce it (as minimally and prec

[2020-05-10 14:59] mattmoor commented on #90952
/sig api-machinery

[2020-05-10 15:56] tedyu commented on #90952
[le-race-test.txt](https://github.com/kubernetes/kubernetes/files/4605983/le-race-test.txt)
The above is based on the test you gave.

I ran the test in Goland several times but didn't see the race.

Also the line numbers in the trace don't match what master branch has.

Mind running on master branch and updating the trace if you reproduce it ?

thanks

[2020-05-10 16:08] tedyu commented on #90952
The write race seems to be between Get():
[code]
and Update():
[code]

[2020-05-10 16:17] tedyu commented on #90950
[code]
It seems the container was not successfully created.

Was there anything informative from kubelet log (you can turn on more verbose logging) ?

[2020-05-10 16:17] mattmoor commented on #90952
On my phone now, but there were multiple flavors of race uncovered.  There was also a write to write race between release and the renew code.

[2020-05-10 16:37] Isan-Rivkin commented on #87844
/remove-lifecycle stale

[2020-05-10 16:39] hkamel opened #90955 "[Flaky Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

May 10 12:32:41.317: while cleanup resource
Unexpected error:
    <errors.aggregate | len:1, cap:1>: [
        [
            {
                error: {
                    cause: {
                        s: "PersistentVolume pvc-49a03378-bd10-4ff3-a165-287

[2020-05-10 18:05] frittentheke commented on #73628
/remove-lifecycle rotten

[2020-05-10 18:08] hkamel commented on #90586
The job starts to fail again since yesterday, with a failure on [sig-scheduling] @kubernetes/sig-scheduling-bugs.

**Reason for failure**

            Reason: "Invalid",
            Details: {
                Name: "pod0-sched-preemption-low-priority",
                Group: "",
                Kind: "Pod",
                UID: "",
                Causes: [
                    {

[2020-05-10 18:18] parthyadav3105 commented on #90950
Few logs from kubelet on worker node(_```journalctl -u kubelet```_):
[code]

<br>

__Note: One of the log says-__
```nestedpendingoperations.go:301] Operation for "{volumeName:kubernetes.io/empty-dir/b7c8450c-9d1b-4c36-b69a-82cfdafd3dd0-hugepage-1gi podName:b7c8450c-9d1b-4c36-b69a-82cfdafd3dd0 nodeName:}" failed. No retries permitted until 2020-05-10 10:56:37.687316194 -0700 PDT m=+1030.203515711

[2020-05-10 18:54] tedyu commented on #90950
Yeah - should be fixed by https://github.com/kubernetes/kubernetes/pull/90897

[2020-05-10 18:55] parthyadav3105 commented on #90950
Found the logs just after pod creation:
[code]

[2020-05-10 20:17] tedyu commented on #90950
Haven't found much from the second snippet:
[code]
docker was used to handle the container subsequently.

[2020-05-10 20:57] hh commented on #90921
/assign @BobyMCbobs

[2020-05-10 21:02] zioproto commented on #69314
With the 2 PRs merged above ☝️ the issue is now fixed.
The annotation `cloud.google.com/network-tier: Standard` will work.

However you will have to wait a bit more time to see the changes in GKE.

For #88487 you will need a GKE cluster running Kubernetes 1.18
and for #88532 you will need a  GKE cluster running Kubernetes 1.19

[2020-05-10 21:14] Riaankl commented on #90912
/assign @heyste

[2020-05-10 21:14] Riaankl commented on #90914
/assign @heyste

[2020-05-10 21:14] Riaankl commented on #90913
/assign @heyste

[2020-05-10 21:14] hh commented on #90912
/assign @heyste

[2020-05-10 21:45] Riaankl opened #90957 "Watch event test verification tooling"
* [Ticket status](#sec-1)
* [Current problem](#sec-2)
* [Proposed solution](#sec-3)

This Issue replace #90574

# Ticket status
* [ ]  [K8s watch events test tooling #323](https://github.com/cncf/apisnoop/pull/323)
* [ ]  [Watch event test verification tooling #90574](https://github.com/kubernetes/kubernetes/issues/90574)
* [X] [PR #91416 ](https://github.com/kubernetes/kubernetes/pull/91416)
# Cu

[2020-05-10 21:47] Riaankl commented on #90957
/sig testing
/area conformance
/assign @BobyMCbobs
/cc @hh

[2020-05-10 21:48] Riaankl commented on #90957
This Issue replace #90574

[2020-05-10 21:49] Riaankl commented on #90574
This ticket Closed and replaced by of #90957
/close

[2020-05-10 21:50] #90574 closed

[2020-05-10 22:38] BobyMCbobs commented on #90957
AI: Must allow for other events to occur through the expected watch events stream

# Example
expected watch events:
1. Added
2. Modified
3. Deleted

must allow the following to be valid:
1. Added
2. Modified
3. Modified
4. Deleted

[2020-05-10 22:58] justaugustus commented on #90698
Moved the debian base image items to a previously-opened issue: https://github.com/kubernetes/kubernetes/issues/58012

[2020-05-10 23:26] neolit123 commented on #90761
/retitle [Flaky Test] kubeadm-kinder-upgrade-1-18-master (ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-18-master)

/priority important-soon
/remove-kind failing-test
/kind flake

the test seems to be timeouting occasionally now.

this appeared to be a temporary network speed issue.

in the meantime i have created this PR which attempts to catch network flakes early and reduce overall network traffic

[2020-05-11 00:31] alwaysastudent commented on #17406
DNS resolutions are flaky with the setting for Calico VXLAN + CoreDNS
[code]
K8s version v1.17.0

[2020-05-11 01:06] ahmad-diaa commented on #90627
@Huang-Wei

After looking through the logs I came up with some information that might be useful
- As far as I understand, the reason for the flake is the `nominatedNodeName` of the medium priority pod not being cleared
- That is because the update request for removing `nominatedNodeName` returns the following error: `Operation cannot be fulfilled on pods "medium-priority": the object has been modi

[2020-05-11 01:35] lsytj0413 commented on #89443
Can you assign this to me？I'd be interested!

[2020-05-11 01:59] cofyc opened #90958 "Remove BindTimeoutSeconds from KubeSchedulerConfiguration"
`KubeSchedulerConfiguration.BindTimeoutSeconds` configures volume bind timeout for `VolumeBinding` plugin. It is not necessary after #83726.

- [x] Add versioned counterparts of `VolumeBindingArgs` and tests in `pkg/scheduler/apis/config/scheme/` https://github.com/kubernetes/kubernetes/issues/91139
- [ ] Eliminate `KubeSchedulerConfiguration.BindTimeoutSeconds` and configure via PluginConfig only

[2020-05-11 01:59] cofyc commented on #90958
/sig scheduling
/assign

[2020-05-11 02:16] zhouya0 commented on #90945
/assign

[2020-05-11 03:00] cofyc commented on #90958
cc @ahg-g @alculquicondor @Huang-Wei

[2020-05-11 03:21] yinkun111 opened #90961 "IPv4 kubernetes pod mount volume failed , errors is: pod try to connect openstack IPv6 endpoint ( cinder)"
**What happened**:
my kubernetes is Ipv4 environment, integrate with openstack, but a pod "container-registry-registry-0"  unable to attach voulume, because this pod try to connect openstack cinder ipv6 endpoint.
I am confusing ,why all ipv4 k8s pod will try to connect ipv6 openstack cinder endpoint?

kubectl describe the pod, get following errors:
 '''
  Warning  FailedMount  24m (x83 over 17h)

[2020-05-11 03:23] liuxu623 commented on #90838
/sig network

[2020-05-11 03:23] cofyc opened #90962 "VolumeBinding improvements track issue"
Once volume binding logic is implemented as a VolumeBinding scheduler plugin (#83726), the following improvements can be done:

- [x] Revert assumed volume cache in `Unreserve` extension point (https://github.com/kubernetes/kubernetes/pull/82934#issuecomment-538269188) (https://github.com/kubernetes/kubernetes/issues/91654)
- [x] Share pod volume binding cache via `framework.CycleState` (see [desi

[2020-05-11 03:23] cofyc commented on #90962
/assign
/sig scheduling
/sig storage
cc @msau42 @ahg-g

[2020-05-11 03:26] zhouya0 commented on #90945
Thanks for this bug reporting. I made this PR to fix it.
https://github.com/kubernetes/kubernetes/pull/90960
Just don't know which version could merge this PR :)

[2020-05-11 03:59] zhouya0 commented on #90931
/cc @apelisse

[2020-05-11 04:12] apelisse commented on #90931
Good to know, that's certainly worthy of a fix.

[2020-05-11 04:16] apelisse commented on #89080
Discussion is going-on in #90066

[2020-05-11 04:25] apelisse commented on #90931
/wg api-expressino

[2020-05-11 04:25] apelisse commented on #90931
/wg api-expression

[2020-05-11 05:33] stealthybox commented on #68109
also if 0.0.0.0 is the value, the api-server will fallback to the address in your default network interface.
e.g. 192.168.0.1.

Just noting here for future readers:

This is not how binding to `0.0.0.0` behaves.
If the kube-apiserver or any other process binds to 0.0.0.0 + some port, all interfaces on that machine will respond to the --bind-port.
This includes any CNI bridges as well as interfaces

[2020-05-11 05:49] #90807 closed

[2020-05-11 05:50] runlevel5 commented on #90807
Thanks for fixing the issue.

[2020-05-11 05:55] ndubbala commented on #87735
Have you tried below steps ?

https://success.docker.com/article/user-namespace-runtime-error

[2020-05-11 06:02] Huang-Wei commented on #90627
If that's the case, you can set `podCopy.ResourceVersion = "0"` here:

https://github.com/kubernetes/kubernetes/blob/7937aa60a3dcc2d447e06847ae68fe1d9319630c/pkg/scheduler/scheduler.go#L802

You can raise a PR and manually try `/test pull-kubernetes-integration` for ~20 times to see you can reproduce the flake.

[2020-05-11 06:07] Huang-Wei commented on #90958
SG. BTW: we won't introduce a v1alpha3 version - v1beta1 will be the next version.

/ref #89701.

[2020-05-11 07:33] irbekrm commented on #90833
Thanks for your advice @mm4tt ! I read through the kubemark code and was then trying to understand what the change in #90806 actually does. I am having a bit of hard time finding where in the codebase the annotation that is overwritten in #90806 is actually used, was wondering if you could point me in the right direction please?

[2020-05-11 07:42] Sn3b commented on #47862
+1

[2020-05-11 07:57] oke-py commented on #90935
#89919 fixed this issue. It may be available in the next release.

[2020-05-11 08:07] liamkell opened #90968 "Namespace Resources deleted when invalid annotation applied with force flag"
**What happened**:
When updating a namespace with an invalid namespace via `kubectl apply --force`
the resources within the namespace are deleted

**What you expected to happen**:
Even with the force flag specified I would not expect an invalid annotation
to result in deletion of resources from a namespace.

**How to reproduce it (as minimally and precisely as possible)**:
#### **`setup.yaml`**
[c

[2020-05-11 08:10] liamkell commented on #90968
/sig api-machinery

[2020-05-11 08:15] aermakov-zalando commented on #77603
/remove-lifecycle stale

[2020-05-11 08:24] wojtek-t commented on #54974
Bookmarks went GA in 1.17.
[FTR though, bookmarks are implemented in watchcache layer as of now.]

[2020-05-11 08:30] andyzhangx commented on #56005
Update: here is the initial working SMB CSI driver:
https://github.com/csi-driver/csi-driver-smb
Will migrate to https://github.com/kubernetes-csi/csi-driver-smb

[2020-05-11 08:51] fergusontom commented on #81270
Why was this closed?

[2020-05-11 08:51] andyzhangx commented on #56005
already created a repo migration tracking issue here: https://github.com/kubernetes/org/issues/1867

[2020-05-11 09:19] acondrat commented on #60164
I can still see this in 1.14. Should we reopen this issue?

[2020-05-11 09:47] pohly commented on #90868
The defaults must be usable so that users do not need to understand them. The flags can be discovered with `go test ./test/e2e -args -help` - not ideal, but at least they show up.

That's effectively what the default value for the flag does.

This is a way to to run a custom stress test: the default is so low, it just tests that the feature works. By increasing it as high as the underlying CSI dri

[2020-05-11 09:48] pohly commented on #90868
The bigger issue is: how do users of the test suite actually learn what tests they run and what those tests do? I suspect the answer to that is simply "read the source", in which case they'll also find the knobs that can be used to tweak testing.

[2020-05-11 10:30] oxddr commented on #81360
/remove-lifecycle stale
/lifycycle frozen

[2020-05-11 10:49] faintdream commented on #90935
Thanks for your reply and effort 👍

On Mon, 11 May, 2020, 1:27 PM Naoki Oketani, <notifications@github.com>
wrote:

[2020-05-11 10:54] jconway opened #90973 "Allow override of oom_score_adj values"
**What would you like to be added**:

Provide a Kubernetes mechanism to allow certain pods (maybe with RBAC controls on which ones) to override the `oom_score_adj` values which are currently set based on QoS heuristics. This would allow PostgreSQL pods to actively set `oom_score_adj` to the recommended values, and would make use of Burstable QoS pods a more reasonable alternative for PostgreSQL po

[2020-05-11 10:57] nikhita commented on #90798
Please see [here](https://kubernetes.io/docs/tasks/tools/install-kubectl/) for instructions on how to install a newer version of kubectl.

If you need additional help with the issue, please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve

[2020-05-11 10:57] #90798 closed

[2020-05-11 11:03] nikhita commented on #90750
Hi @13567436138,  please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes) along with additional information on what steps were followed and how to reproduce this error.

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier fo

[2020-05-11 11:03] #90750 closed

[2020-05-11 11:20] wojtek-t commented on #81360
/lifecycle frozen

[2020-05-11 11:21] xiaoxiadazhi commented on #88565
@kubernetes/sig-storage-bugs

[2020-05-11 11:55] brissenden commented on #72335
I have the same issue. The only difference is that the node crashed and left all the volume attachment that can't be removed. As author already mentioned, it affects also `csi-cinder-controllerplugin` plugin.

[2020-05-11 12:09] alejandrox1 commented on #90947
Looking at 1 of the runs, these pods failed to reach a "Running" state after 10 minutes
[code]

Then, while dumping events from the kube-system namespace these couple look interesting
[code]
[code]

That kube proxy image seems to not exist (?), I tried pulling it from another machine and got this
[code]

The commit that is part of the kube proxy tag, 7d53ecee37ceba , does coincide with the k/k com

[2020-05-11 12:33] g3rzi opened #90975 "SelfsubjectRulesReviews does not indicate results are incomplete for kubelets with Node authorizer"
**What happened**:
I checked if kubelet (`/var/lib/kubelet/pki/kubelet-client-current.pem`) has permissions for `get pods`
with Selfsubject**Access**Reviews and I saw that it has.
But when I checked its permissions with Selfsubject**Rules**Reviews it didn't show it.

**What you expected to happen**:
I expected that the API Selfsubject**Rules**Reviews will show that `/var/lib/kubelet/pki/kubelet-cl

[2020-05-11 12:34] g3rzi commented on #90975
/sig api-machinery

[2020-05-11 12:36] #85869 closed

[2020-05-11 12:39] hasheddan commented on #90947
@alejandrox1 looks like `push-build` failed in https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-bazel-build/1259001233771859968/

[code]

/cc @justaugustus

[2020-05-11 12:51] alejandrox1 commented on #90947
I think it there may be an outdated manifests used for this job.
The kube proxy images are being built.
If you look for `kube-proxy-bootstrap-e2e-minion-group` in the logs of other ci jobs, i.e., https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1259808048835203074 you will see that an alpha 3 with a k/k commit is being used.
For example,
[code]

The thing is that, I t

[2020-05-11 13:05] alejandrox1 commented on #90947
Mmm  though im not 100 sold on the image name being the problem. Checking out both kube-proxy and kube-proxy-amd64 both exist and both seem to be updated frequently
https://console.cloud.google.com/gcr/images/k8s-artifacts-prod-bak/US

[2020-05-11 13:12] zhiyu0729 opened #90977 "Single instance deployment will be unavailable during eviction"
**What happened**:
When the pod is evicted, the service is unavailable.
[code]
If use `PodDisruptionBudget`, Pod can't be evicte.
[code]

**What you expected to happen**:
* When voluntary disruptions occur, old pods should not be evicted from the `Endpoints`  immediately until the new pod is available.
* If there is only one replicas, Pods should be allowed to be evicted until a new Pod is success

[2020-05-11 13:12] zhiyu0729 commented on #90977
/sig apps

[2020-05-11 13:17] cofyc commented on #90627
duplicated https://github.com/kubernetes/kubernetes/issues/89259

[2020-05-11 13:22] aojea commented on #90947
/assign
I had similar issues trying to use the debian-iptables image, let me check if I'm able to solve it here too

/cc @justaugustus @dims @BenTheElder
FYI

[2020-05-11 13:28] hasheddan commented on #90947
@aojea this may help:

[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-bazel-build/1259001233771859968/

[2020-05-11 13:35] danwinship commented on #90704
/remove-triage unresolved

[2020-05-11 14:05] damemi commented on #90586
@hkamel I have a fix for the preemption test here: https://github.com/kubernetes/kubernetes/pull/90979

[2020-05-11 14:07] hasheddan commented on #90586
Thanks @damemi!

/assign @damemi

[2020-05-11 14:42] loomsen commented on #61226
me too.

/reopen

[2020-05-11 14:49] liggitt commented on #90859
Things that depend on internal API types can reasonably make use of validation functions on those internal types as well. Moving the static validation to `pkg/scheduler/apis/config/validation` so we can call them from ValidateKubeSchedulerConfiguration makes sense to me.

[2020-05-11 15:10] jkaniuk opened #90981 "[Failing test] kubemark-500 failing due to no NetworkProgrammingLatency samples"
**Which jobs are failing**:
ci-kubernetes-kubemark-500-gce-stable3
**Which test(s) are failing**:
load test
**Since when has it been failing**:
2020-05-06
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-1.15-500
**Reason for failure**:
`[measurement call NetworkProgrammingLatency - NetworkProgrammingLatency error: got unexpected number of samples: 0]`
**Anythi

[2020-05-11 15:19] mrobson opened #90982 "Automatic session scanning discovers all iSCSI devices during login and can cause LUN assignment issues"
**What happened**:
The issue stems from use cases were 1 initiator is used for multiple LUNs. Because of this, all of the LUNs are discovered and mapped on a node when it does its initial discovery / login via AttachDisk[1]. Because a pod never mounts the device on any of the other nodes, it is never removed.

[1] https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/volume/iscsi/iscsi_ut

[2020-05-11 15:19] mrobson commented on #90982
/sig storage

[2020-05-11 15:19] mrobson commented on #90982
/assign

[2020-05-11 15:19] hasheddan commented on #90981
/milestone v1.19
/cc @kubernetes/ci-signal

[2020-05-11 15:21] alculquicondor commented on #90958
/remove-kind feature

/kind cleanup

[2020-05-11 15:23] alculquicondor commented on #90958
That should be part of the existing PR

[2020-05-11 15:32] dims commented on #85454
@humblec we are going in the other direction, trying to push to remove stuff and end up with distroless images. If you need specific changes, the recommendation is to roll your own. (problem being addressed is the security posture / tons of CVE's in images we ship)

[2020-05-11 15:36] aojea commented on #90947
Seems the job is failing to install the nodes with an error related to the LICENSES folder

[code]

Seems LICENSES has a recent history of changes:
https://github.com/kubernetes/kubernetes/pull/85220
https://github.com/kubernetes/kubernetes/pull/90575

I'm not able to correlate between the changes and job failures, @thockin @dims @liggitt you have better insights in the LICENSES folder, what's the

[2020-05-11 15:37] #90851 closed

[2020-05-11 15:42] liggitt commented on #90947
I think https://github.com/kubernetes/kubernetes/pull/90575 changed LICENSES in the root of the built artifacts from a file to a folder

/assign @thockin

[2020-05-11 15:44] impop opened #90984 "kubeadm-flags.env not properly downloaded from master when joining cluster from worker node"
## What happened

We have created a cluster with Kubeadm in Azure. Master node successfully created and ready with azure provider
![image](https://user-images.githubusercontent.com/16975749/81578464-c22dfc00-93a2-11ea-8aef-2d631c2cc849.png)

When creating the master with `kubeadm init` the config.yaml was:

[code]

And the resulting `kubeadm-flags.env` is:

[code]

Then in the worker node we used

[2020-05-11 15:49] g3rzi commented on #90975
This is a more clean display that show the bug:
[code]

I think the problem is related to the fact that the kubelet.conf file contain the kubelet certificate which is part of the group `system:nodes`:
[code]

[2020-05-11 15:49] g3rzi commented on #90975
/sig auth

[2020-05-11 15:52] impop commented on #90984
/sig cloud-provider

[2020-05-11 15:59] ahg-g commented on #90859
Sounds good to me as well. We should keeping calling the validation logic from the plugins because the framework is currently being instantiated directly by CA.

[2020-05-11 16:02] alculquicondor commented on #90859
Sound good.
Opening for contributors

/help

[2020-05-11 16:09] ahg-g commented on #90958
Thanks @cofyc I think the order should be to first add the versioned counterparts in a separate PR, then remove the flag which I guess will happen as part of v1beta1

[2020-05-11 16:10] ahg-g commented on #90958
we can do it in a separate smaller PR for API reviewers.

[2020-05-11 16:21] stackempty opened #90986 "Azure disk detach/attach failure - due to deleted node (vmss)"
**What happened**:

Same symtoms as https://github.com/kubernetes/kubernetes/pull/82640

The detach is not successful until controller-manager is restarted

controller-manager logs:
[code]

**What you expected to happen**:
The detach operation should know that a node is not active or its been deleted and should assume the disk is detached.

**How to reproduce it (as minimally and precisely as poss

[2020-05-11 16:22] stackempty commented on #90986
/sig azure

[2020-05-11 16:24] micahlmartin commented on #82595
Can confirm this also appears on EKS 1.16

[2020-05-11 16:25] stackempty commented on #90986
/sig cloud-provider

[2020-05-11 16:33] stackempty commented on #90986
paging @andyzhangx @feiskyer

[2020-05-11 16:35] alculquicondor commented on #89259
/close
dupe #90627

[2020-05-11 16:35] #89259 closed

[2020-05-11 16:43] brianpursley commented on #90627
Sorry, didn't mean to take this one for you. I worked the duplicate issue and submitted a PR. Feel free to review that PR, or submit your own if you have a different solution.

[2020-05-11 16:43] nrockwell3 commented on #90821
I ran the experiment with `--goaway-chance=0.000000001` and got the best throughput (blue line in table) of any test.
<img width="963" alt="Screen Shot 2020-05-11 at 12 12 02 PM" src="https://user-images.githubusercontent.com/22150226/81585252-e2998e80-9381-11ea-9cf2-b851925dafe2.png">

[2020-05-11 16:57] Huang-Wei commented on #90627
This sometimes happens. But we usually take the first PR unless it's clearly worked by someone.

In terms of which style to resolve the Conflict error, I'm asking here: https://kubernetes.slack.com/archives/C0EG7JC6T/p1589216075286800.

[2020-05-11 17:03] mcristina422 commented on #90066
I find that everyday workflows like `kubectl edit` and `-o yaml | json` are extremely impacted by the addition of `managedFields`. I think every developer will have a similar shocking reaction to this field. While the blog post is a great resource, more communication is necessary for introducing this field and its usefulness.

At first I thought that hiding it by default in `-o yaml | json` would

[2020-05-11 17:04] lavalamp commented on #90821
I strongly suspect the difference is down to luck about the particulars of where your worker/control plane nodes ended up.

I say that because I doubt you made anything close to a billion requests during this test and therefore not even one GOAWAY should have been sent. (It's why I picked the number 1/billion.) Therefore you should be paying the cost of the sync.Pool or whatever else, but not reap

[2020-05-11 17:07] ksubrmnn commented on #65016
@dineshgovindasamy @JocelynBerrendonner PTAL

[2020-05-11 17:12] ixdy commented on #90883
this should be fixed by #90927.

cc @BenTheElder

[2020-05-11 17:14] kapil-rn commented on #90851
@tedyu & @bart0sh : Thanks for the quick turnaround.

[2020-05-11 17:38] jberkus commented on #90973
FYI, allowing vm.overcommit_memory=2 together with cgroups memory limits has been a request for Kernel developers for at least 6 years.  cgroupsv2 was supposed to deliver this, but ultimately failed; as I understand it, they fell afoul of fundamental memory management issues in Linux.

[2020-05-11 17:52] claudiubelu commented on #89262
So, I figured out what's happening.

As you can see, the test is flaky. When it fails, the following error could be seen in the agnhost worker pods:

    2020/05/11 15:23:32 --slaveof param and/or --backend-port param are invalid. lookup agnhost-master: no such host

That basically means that either the DNS name could not be resolved, or it's just a general network failure. To be more precise as t

[2020-05-11 17:59] liggitt commented on #87615
I would not expect so. Changes to etcd and bbolt seem to be required to support go1.14, which is a bigger change than is typically made in release branches.

[2020-05-11 18:01] sbueringer commented on #87615
@liggitt Okay thx. Looks like we (at least for our clusters) need a mitigation strategy in the meantime :)

[2020-05-11 18:08] liggitt commented on #90977
The documentation for maxUnavailable says "one can prevent all voluntary evictions by specifying 0." From my understanding, that policy blocking node drain is working as designed.

[2020-05-11 18:19] 2uasimojo commented on #79354
@vincepri Can you please explain it to me? The description makes it sound like I don't need to set it if I'm using a standard Kind. In my case, I'm using PersistentVolumeClaim, which is core/v1, and I'm still getting the error.

[2020-05-11 18:23] hasheddan commented on #89262
@claudiubelu thanks for investigating! I think I have a proposed fix, mind if I tag you for review?

[2020-05-11 18:41] claudiubelu commented on #89262
Sure

[2020-05-11 18:48] thockin commented on #90947
FTR, I am looking at this, please don't revert my revert revert yet

[2020-05-11 18:54] ksubrmnn opened #90991 "Golang errors in Dockershim don't stop Kube Proxy from building"
**What happened**:
When making changes to dockersshim, a syntax error occured that did not prevent Kube Proxy from being built locally. It did however result in some failing tests.

**What you expected to happen**:
Kube proxy would not compile with errors in dockersshim
**How to reproduce it (as minimally and precisely as possible)**:
In pkg/kubelet/dockershim/network/cni/cni_windows.go, there was

[2020-05-11 18:56] ksubrmnn commented on #90991
@kumarvin123 hopefully this captures what you saw

[2020-05-11 18:56] ksubrmnn commented on #90991
/sig windows

[2020-05-11 18:59] ksubrmnn commented on #90991
@mrbobbytables Is this considered contributor experience? Do you know if there's a SIG that focuses on building, etc or is this handled on a SIG by SIG basis?

[2020-05-11 19:23] zhan849 commented on #45419
We also see this issue in 1.16.8 + docker 18.06.2
[code]

See docker can encounter timeout in writing to file socket way before PLEG not healthy and node flap. In this case, kernel is able to kill the stuck process and the node can recover. but in many other cases we see, node is not able to recover and not even can be ssh-ed, so maybe also a combination of different problems.

One biggest pain po

[2020-05-11 19:23] immutableT commented on #90856
I am adding PCI DSS requirements relevant to the protection of secrets at rest:

**3.5.3 Store secret and private keys used to encrypt/decrypt cardholder data in one (or more) of the following forms at all times**:

- Encrypted with a key-encrypting key that is at least as strong as the data encrypting key, and that is stored separately from the data-encrypting key

- Within a secure cryptographic

[2020-05-11 19:35] thockin commented on #90947
Failed to repro, but I also get:

[code]

[2020-05-11 19:45] neolit123 commented on #90984
/remove-sig cloud-provider
/sig cluster-lifecycle
/area kubeadm
/triage support

hello,

the kubelet is soon doing to remove all/most its flags, so instead you should use the KubeletConfiguration
https://godoc.org/k8s.io/kubelet/config/v1beta1

just pass it like so to `kubeadm init`:
[code]

https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

worker nodes joining the cluster

[2020-05-11 19:45] #90984 closed

[2020-05-11 19:47] aojea commented on #90947
@thockin seems that this is only affecting the *-plugin-gpu-* jobs

[2020-05-11 19:48] odinuge commented on #85938
@bart0sh is correct, you have to check the cgroup on the host and not inside the container. You can look at the e2e test to see how it is verified there (by mounting the host cgroup as a volume): https://github.com/kubernetes/kubernetes/blob/43c56eb4038ee9f6b7275f5aefe3aba6fd5f181b/test/e2e_node/hugepages_test.go#L44-L89.

In case you are wondering if the cgroup enforcement work, you can try to mm

[2020-05-11 19:49] #85938 closed

[2020-05-11 19:49] odinuge commented on #85148
/reopen

[2020-05-11 19:49] odinuge commented on #85148
/remove-lifecycle rotten

[2020-05-11 19:50] thockin commented on #90947
Yeah, I think I messed up the `kubetest` invocation.  It should have run tests.

[2020-05-11 19:52] harik8 opened #90993 "I don't see a prompt in kubectl alpha debug"
I followed the kubectl debug example from https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#debugging-with-ephemeral-debug-container.

But I don't see an ephemeral container prompt. It stops at Defaulting debug container name to <container_name>

Install Kubernetes v1.18.1 and follow the steps given in the above link to create ephemeral debug pod.

$ kubectl run ephemer

[2020-05-11 20:00] thockin commented on #90947
OK, I got it to run a test but it doesn't fail this way.  I have another umask fix, let me back that out.

[2020-05-11 20:01] claudiubelu commented on #65016
@ylhyh Interesting find. There are a few things that I would like to correct to what you've written there, but for the most part, it is worth implementing.

Let's see. The thing that is not quite correct is that after setting the DNS Suffix Search List with ``Set-DnsClientGlobalSetting`` you'll be able to completely resolve Partially Qualified Domain Names. Yes, I've checked, ``nslookup kubernetes

[2020-05-11 20:24] tedyu commented on #90334
On a node with patched kubelet (1.18 branch), I observed the following in kubelet.log:
[code]
Please note the 0.logXX files are gone:
[code]

[2020-05-11 20:43] connorworkman commented on #79224
@BrijJhala I think the doc shows a pretty complete example, but here is a shorter version that I've pulled from one of the deployments that use this workaround:
Create secrets with env variables:
`---
apiVersion: v1
kind: Secret
metadata:
  name: example-secrets
  namespace: example
type: Opaque
stringData:
  ELASTICSEARCH_USERNAME: "redacted"
  ELASTICSEARCH_PASSWORD: "redacted"
...`

Create a co

[2020-05-11 20:46] matthias50 commented on #90334
I tried this on a 1.15 patched kubelet (yea, I have only old clusters) and observed some really odd behavior. I see messages like this in the kubelet log:

[code]
I looked at your code, and I don't see how it could be possible to get a negative value for the number of logs to remove, so I'm a bit puzzled. I'll try and debug some more.

[2020-05-11 20:48] Urvik08 opened #90996 "Testing nic failure on bare-metal kubernetes cluster"
I have a 4 node cluster which runs in HA mode ie 3 masters and 1 worker nodes. I am trying to test nic failure on a node and to simulate that I ran `ifdown eth0` which is the public nic on which k8s is running on node 2.

I was expecting the node to be marked not ready and pods to evict and failover to other nodes. However, that isn’t the case. The pods and nodes remain in “ready” state. I have de

[2020-05-11 20:51] thockin commented on #90947
I can't get it to fail like this.

On my run I see 27/27 pods running, but this run seems stuck with:
`24 / 30 pods in namespace 'kube-system' are running and ready`
...where that varies from 24 - 26.

My personal kubetest invocation:

[code]

And my run failed, but with:

[code]

[2020-05-11 20:54] thockin commented on #90947
Further more, I can't think of ANY way the old non-directory LICENSES file would be present unless there's some cache that is not invalidated when it needs to be and is leaking across tests

[2020-05-11 20:57] harik8 commented on #90993
/sig CLI

[2020-05-11 20:59] tedyu commented on #90334
[rm-excess-log-7.txt](https://github.com/kubernetes/kubernetes/files/4612033/rm-excess-log-7.txt)
Please see updated patch.
The negative count is fixed - this may happen for a live container.

[2020-05-11 20:59] Urvik08 commented on #90996
/sig network

[2020-05-11 21:00] justaugustus commented on #90947
@spiffxp @fejta -- is this greenhouse/bazel?

[2020-05-11 21:07] msau42 commented on #90868
Since increasing the parameter depends on the csi driver/storage system, then I would recommending splitting this up into 2 test cases: 1) test basic functionality 2) test stress scenario, and add the parameter to the driver test config similarly to other stress tests: https://github.com/kubernetes/kubernetes/blob/9b44fa4a07b14b3dbc644f80e087d516677632f0/test/e2e/storage/testsuites/testdriver.go#L

[2020-05-11 21:08] msau42 commented on #90868
At least for the storage tests, because we are intending that they be run externally, having all the tunables in one place I think makes it easier to discover.

[2020-05-11 21:08] spiffxp commented on #90947
I sincerely doubt greenhouse.  I don't understand enough about the bazel build in this repo to say one way or the other.

Why it would be consistently affecting this and no other job that runs in the same cluster, e.g.
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default
- https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

[2020-05-11 21:08] enviel opened #90997 "Internal error occurred: failed calling webhook "mutations.agones.dev": Post https://agones-controller-service.agones-system.svc:443/mutate?timeout=30s: dial tcp 10.96.195.169:443: connect: connection refused"
**What happened**:
When I deployed my configurations I got this error
[code]
So basically I'm deploying my configs using GitLab Auto DevOps or CI/CD
The GitLab Runner is in the same machine and OS with the Minikube
I'm using Windows version of GitLab Runner

The error only happened with Agones Fleet and FleetAutoscaler config

I know this looks like an Agones problem and I've created an issue on A

[2020-05-11 21:13] aojea commented on #90947
and why started to fail this morning, if the patch was merged a few days ago?

[2020-05-11 21:14] enviel commented on #90997
/sig api-machinery
/sig cli
/sig network

[2020-05-11 21:22] thockin commented on #90947
Jordan figured it out.  This node image has /home/kubernetes baked in.

[2020-05-11 21:26] thockin commented on #90947
2nd time I get to use this today:

https://66.media.tumblr.com/8bda4db3eec8e4af5a623730db5f3404/tumblr_pozpf78qTa1xz4q4mo1_500.gifv

[2020-05-11 21:28] xing-yang commented on #84226
/assign @RaunakShah

[2020-05-11 21:45] xing-yang commented on #84226
@RaunakShah is interested in working on this.

[2020-05-11 21:54] mattjmcnaughton commented on #89443
/assign @lsytj0413

[2020-05-11 21:54] mattjmcnaughton commented on #89443
Awesome - feel free to reach out on k8s-slack if you have questions, or if you already have a plan, feel free to tag me in the pull request. Thanks :)

[2020-05-11 22:15] matthias50 commented on #90334
So, no more negative count and logs don't grow without bound. But it still seems to leave around more log files than it should.

These are the log files after it has been running for a while:
[code]

It seems like all the 1.log.* files should have been deleted at that point. I see the same pattern repeated if I keep letting it run:

[code]

kubelet logs:
[code]

[2020-05-11 22:19] tedyu commented on #90334
Please note that 1.log.20200511-215458.gz no longer showed up in the second snippet of the above post.
Meaning only logs for 3 containers are kept.

This should be expected.

[2020-05-11 22:48] zerkms commented on #49466
/remove-lifecycle rotten

[2020-05-11 22:58] happinesstaker commented on #63726
I am planing to work on this trust distribution issue and compiled a draft of design options and consideration. It is still in early stage so I would like to involve more people here to give their brilliant idea and help analyze pros&cons of options.

Since it would be too long to paste the entire content here, I put them in a Google Doc at:
https://docs.google.com/document/d/1zC7BQdMMFRPuZpMd9Efd

[2020-05-11 23:00] liggitt commented on #90997
What is installing the admission webhook? Is it being installed while the backing pod is still starting? Are the resources intercepted by the webhooks being created while the backing pod for the admission webhook is still starting?

[2020-05-11 23:03] enviel commented on #90997
@liggitt

the admission webhook is installed when agones is installed i think, and the agones is already installed before the config was deployed

[2020-05-11 23:03] liggitt commented on #90991
dockershim is not used by kube-proxy, is it?

[2020-05-11 23:07] liggitt commented on #90997
Is 10.96.195.169 a service IP or a pod IP?

[2020-05-11 23:13] liggitt commented on #90997
And is the kube-apiserver being started with `--enable-aggregator-routing` locally and/or in CI?

[2020-05-11 23:15] enviel commented on #90997
sorry about the IP, I've updated the post to match the latest error

i was reinstalling the cluster several times trying to fix the problem so i just copied the error log from the previous issue from the agones github issue
hence the IP from the kubectl get services -A doesn't match the IP from the error logs

that was the agones-controller-service ClusterIP where the webhook is
the agones-control

[2020-05-11 23:20] enviel commented on #90997
@liggitt

i didn't use CI for the kubernetes, i just simply use the CI to deploy my config which will execute this command
`kubectl apply -k Deployment/minikube`

the kubernetes is installed using this command

`minikube start -p agones --kubernetes-version v1.14.0 --driver=hyperv --hyperv-virtual-switch=minikube --cpus 2 --memory 4096`

[2020-05-11 23:36] msau42 commented on #78737
We sent an email out to sig-storage in July 2019 and got no response. We just forwarded the email to the wider kubernetes-dev mailing list.

This is our proposed plan for moving forward with moving kube-controller-manager to distroless:
- [x] Send out the email notice that this change is coming
- [ ] Mention this change in release notes for 1.19
- [ ] We can continue to support flexvolume master b

[2020-05-11 23:36] liggitt commented on #90997
It sounds like your kube-apiserver is running in a network environment where it can resolve the service to the cluster IP but either the cluster IP routing is not set up, or the backing pod is not available. Can you check if there are endpoints available for the agones services (`kubectl get endpoints -A`)?

[2020-05-11 23:37] tedyu opened #90999 "Mirror pod deletion should respect grace period"
**What happened**:
Currently when the mirror pod is deleted, it is deleted without grace period.

When static pod yaml was removed from the manifests directory, @sjenning observed
[code]

The cause has two aspects:
* DeleteOrphanedMirrorPods doesn't consider grace period from pod spec
* cleanupOrphanedPodCgroups prematurely cleans up the underlying cgroup

**What you expected to happen**:
The desi

[2020-05-11 23:37] tedyu commented on #90999
/sig node

[2020-05-11 23:38] tedyu commented on #90999
Thanks to @sttts and @sjenning for investigation into this matter.

[2020-05-11 23:38] tedyu commented on #90999
/assign

[2020-05-11 23:39] enviel commented on #90997
@liggitt
kubectl get endpoints -A
[code]

[2020-05-11 23:41] enviel commented on #90997
@liggitt
the problem is there is no problem when i deployed the same config directly from CLI instead of from GitLab CI Runner

[2020-05-11 23:45] liggitt commented on #90997
I'm having a bit of a hard time following the setup. Are you saying your CLI and the github runner are targeting the same server? Or that you are setting up a new minikube environment locally and in the github runner, and the minikube set up from the github runner encounters this error?

[2020-05-11 23:49] enviel commented on #90997
yes my CLI and Gitlab runner are targeting the same kubernetes server cluster
basically the CLI and Runner are using the same kubectl exe file

[2020-05-11 23:55] zhan849 commented on #90664
thanks @fedebongio for triage. It might due to a metrics component we have internally that had tcp connection leak when polling etcd metrics. After a new version of that component got rolled out, socket usage seems stable.

/cc @tedyu @jpbetz @jingyih

/close

[2020-05-11 23:55] #90664 closed

[2020-05-12 00:10] liggitt commented on #90997
That's because those are the only resources intercepted by the agones webhooks:

https://github.com/googleforgames/agones/blob/release-1.5.0/install/yaml/install.yaml#L1673-L1751

In https://github.com/kubernetes/kubernetes/issues/90997#issuecomment-627022609, I see:
* the endpoints for the agones services are 90m old
* the endpoints for the mysql service are 89m old

Does that mean at the time yo

[2020-05-12 00:13] GetchaDEAGLE commented on #70411
I'm having the exact same issue as @sumitKash. I tried with both CentOS 8 and Ubuntu 18.04 with the same results. What am I missing? I'm using the option to let Kubernetes manage/create all the certificates. The kube-api-server pod keeps restarting over and over.

[2020-05-12 00:17] enviel commented on #90997
oh damn i think you were right!!
because the script was upgrading the agones so that the new namespace got the new service account

[code]

I'll try to delay the deployment to check that

[2020-05-12 00:42] RaunakShah commented on #84226
Thanks @xing-yang!
/assign @RaunakShah

@jsafrane are we okay with either of these?

[2020-05-12 00:48] matthias50 commented on #90334
So I can see keeping 2, (current + previous) but why 3?

[2020-05-12 00:49] liggitt commented on #90991
Dockershim is used by the kubelet, not by kube-proxy, so a syntax error in it would not prevent kube-proxy from building, it would prevent the kubelet binary from building.

[2020-05-12 00:49] #90991 closed

[2020-05-12 00:50] tedyu commented on #90334
[code]

[2020-05-12 00:52] BenTheElder commented on #90883
/assign

[2020-05-12 00:55] ahmad-diaa commented on #90627
No worries, I haven't started implementing yet and your PR seems to be  following the correct approach as well according to this:
https://kubernetes.slack.com/archives/C0EG7JC6T/p1589216911287100

[2020-05-12 00:57] roycaihw commented on #85548
The keep-alive rest connection behavior is discussed in https://github.com/kubernetes-client/python/issues/1158

/close

[2020-05-12 00:57] #85548 closed

[2020-05-12 01:00] matthias50 commented on #90334
So why not `containersToKeep := 2` :) I don't understand the rationale for the extra set of logs above and beyond current and previous.

[2020-05-12 01:03] tedyu commented on #90334
I will use 2 when I open the PR.

[2020-05-12 01:06] #90977 closed

[2020-05-12 01:08] liggitt commented on #90968
Agree that deleting resources hoping the invalid error is due to an immutable field issue that would be resolved by a delete/recreate is not good.

There's a server side aspect that needs to return enough information for the client to know that *all* errors were due to immutable fields, and a client-side aspect that restricts delete/recreate to objects that are otherwise valid.

[2020-05-12 01:08] #90869 closed

[2020-05-12 01:11] liggitt commented on #90975
What is the SelfSubjectRulesReview response from the server? Note that not all authorizers support enumerating permissions, and the API object status includes an `incomplete` attribute which explicitly indicates the result is incomplete.

See https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/authorization/types.go#L188

[2020-05-12 01:19] wonleing commented on #90429
yes, please close this. Network issue's cause is docker.
failed to Statfs no such file or directory problem's cause probably is flannel. opened another issue: https://github.com/coreos/flannel/issues/1288

[2020-05-12 01:21] BenTheElder commented on #90883
fixed https://github.com/kubernetes/kubernetes/pull/90927

[2020-05-12 01:21] BenTheElder commented on #90883
/close

[2020-05-12 01:21] #90883 closed

[2020-05-12 01:26] wonleing commented on #90924
The time (E0511 10:17:44.750080) does not match my current local time. Is there a method to flush the old message of dump?

[2020-05-12 01:40] zhiyu0729 commented on #90977
Is there currently a way to keep stateless single instances uninterrupted when they are evicted?

[2020-05-12 01:43] liggitt commented on #90977
No, the removal of one pod is the signal to spin up another instance. A replica count of 2 is required to allow eviction without interruption.

[2020-05-12 01:47] msau42 commented on #69799
/remove-lifecycle stale
/assign @jsafrane

[2020-05-12 02:01] andyzhangx commented on #90986
hi @stackempty have you done sth manually on the node? if node is deleted finally, the disk would be in unattached state finally, then disk attach to another node would succeed finally.

[2020-05-12 02:10] msau42 opened #91001 "Test flake: [sig-storage] CSI mock volume CSI volume limit information using mock driver should report attach limit when limit is bigger than 0 ["
**Which jobs are flaking**:

**Which test(s) are flaking**:
[sig-storage] CSI mock volume CSI volume limit information using mock driver should report attach limit when limit is bigger than 0 [

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/1259424774514282497

**Reason for failure**:
[code]

**Anything else we need to know**:
- links to go.

[2020-05-12 02:11] msau42 commented on #91001
@kubernetes/sig-storage-test-failures

[2020-05-12 02:11] msau42 commented on #91001
@bertinatto could you help investigate this flake?

[2020-05-12 02:12] zhiyu0729 commented on #90977
Do we need to consider a solution to keep the service available?
Involuntary disruptions make single-instance services unavailable. I think it is reasonable. Should voluntary disruptions consider the availability of single-instance services?
I know that the guarantee level of the single instance service is not high, but I still don't want to be unavailable when being voluntary disruptions evicted.

[2020-05-12 02:22] smarterclayton commented on #90977
If you want to keep the pod available, set a longer termination grace period and delay shutdown in your process.  You will be removed from serving rotations, but your process will still be alive.

[2020-05-12 02:31] jamihuq commented on #85499
Hi,
Any update for the issue by @yamaszone

[2020-05-12 02:34] cchildress commented on #74151
/remove-lifecycle stale

[2020-05-12 02:35] ylhyh commented on #65016
@claudiubelu, I think the "403 Forbidden" issue is caused by default RBAC setting.

As your reminder, I found another thing interesting:

1. Set Suffix Search List to **["default.svc.cluster.local", "svc.cluster.local", "cluster.local"]** by executing by Set-DnsClientGlobalSetting:
  - for nslookup:
    - kubernetes - WORK
    - kubernetes.default - WORK
    - kubernetes.default.svc - WORK
    - k

[2020-05-12 02:58] pingood commented on #75409
Is there any fix for this?
Running v1.17.5 and hitting same issue.

[2020-05-12 03:07] enj commented on #83562
Other than namespaces, does core Kube have any resources that require prerequisites to be met before creation?

[2020-05-12 03:11] liggitt commented on #83562
There are a few:
* service accounts (and tokens) before pods (because of secret volume injecting admission)
* roles/clusterroles before bindings (because of escalation checks)
* runtimeclass before a pod using that runtimeclass

[2020-05-12 04:56] pytimer opened #91003 "Kubemark pre-existing e2e skipping all tests"
**What happened**:

Kubemark pre-existing provider have some problem now, i want to update the code about it, but now i have the e2e problem. I'm beginner with kubemark, i don't know what's wrong with it.

Using kubemark `pre-existing` provider to run performance tests. Now i have two cluster, one of kubemark cluster, another is external cluster. But when i continue to run `test/kubemark/run-e2e-t

[2020-05-12 05:23] g3rzi commented on #90975
It has `"incomplete":false`
Details:
[code]

[2020-05-12 05:24] ycwdaaaa commented on #75065
Is there any update?  I meet this bug too

[2020-05-12 05:33] pytimer commented on #91003
/sig scalability

[2020-05-12 05:59] yue9944882 opened #91006 "Error updating managedFields in custom resource: failed to update ManagedFields: failed to convert old object"
**What happened**:

1. following https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition to create a CRD named `crontabs.stable.example.com` and then following https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-custom-objects to create a CR named `my-new-cron-obje

[2020-05-12 06:00] yue9944882 commented on #91006
/area custom-resources
/wg apply

[2020-05-12 06:00] andyzhangx commented on #90986
as discussed offline, the issue is probably due to vmss instance compute name change(`workeb81800007f`), user should **not** change vmss instance compute name, otherwise it would break disk attach/detach, since compute name is used in vmss node name passing, code is here: https://github.com/kubernetes/kubernetes/blob/v1.15.11/staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go#L267-

[2020-05-12 06:01] lyveng commented on #86944
I'm working on a fix for this issue and testing it out in our clusters. I've tested it in our clusters and it seems to work. The fix uses a mutex to avoid the race condition between the create pod(cni cmdAdd) and delete pod(cni cmdDel) flow. I'll raise a PR once I'm run the integration tests.
Is anyone aware if it would be possible to add tests for race conditions? If so can you guys point me to s

[2020-05-12 06:12] rajaishwary commented on #59864
@amitkumarjain4u2u Your aws server ip where pods are running will be different.
So, you need to do kubectl port-forward to server's port which can be accessible as:

http://[host]:[port]/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/#!/login

[2020-05-12 06:19] knight42 commented on #80399
I would like to take over this.

/assign

[2020-05-12 06:45] zhiyu0729 commented on #90977
It seems that the eviction started, the pod was removed from the endpoint?

[2020-05-12 07:08] #90947 closed

[2020-05-12 07:25] angao commented on #90859
I can help do this change.

[2020-05-12 07:45] #90945 closed

[2020-05-12 07:46] #90685 closed

[2020-05-12 08:01] g3rzi commented on #90975
I noticed that it also doesn't show that it has permissions to view `services` and `nodes`.
It probably related to the Node authorizer:
https://kubernetes.io/docs/reference/access-authn-authz/node/#overview

Because I assume that these rules doesn't appear in RBAC.

[2020-05-12 08:10] cristiklein commented on #64783
Update on this issue, my college @jakubkrzywda has taken over and produced a [KEP](https://github.com/kubernetes/enhancements/pull/1749) to address the above feedback.

[2020-05-12 08:11] mm4tt commented on #90833
Hey @irbekrm, the change in https://github.com/kubernetes/kubernetes/pull/90806 is actually a workaround and it has nothing in common with the long-term solution we'd like to have. What we did in https://github.com/kubernetes/kubernetes/pull/90806 was to simply add a large label to kubemark node object to artificially increase their size. Long term, we'd like to have kubemark nodes mimic the struc

[2020-05-12 08:24] 13567436138 opened #91011 "error compile"
[code]

[2020-05-12 08:58] #91011 closed

[2020-05-12 09:00] pancernik commented on #90859
/assign

[2020-05-12 09:10] claudiubelu commented on #65016
Indeed, nonetheless, the 403 is given by the Kubernetes API itself, which means that the name was resolved and connected to, which is why we got the server response.

So, one small note on the experiments you've done there: the DNS Suffix Search List is not useful for Fully Qualified Domain Names like ``kubernetes.default.svc.cluster.local``. The purpose of those DNS Suffix Search List is to be ab

[2020-05-12 09:25] changsen-dev commented on #48819
check your terminal proxy(http_proxy && https_proxy)

[2020-05-12 09:32] borgerli opened #91015 "use lazy umount to avoid pod terminating problems caused by volume mounting dir accessed by other pods"
This problem relates to  k8s.io/utils/mount utility, please refer to
issue: https://github.com/kubernetes/utils/issues/163
PR: https://github.com/kubernetes/utils/pull/164

1. In K8s cluster with docker in /var/lib/docker and kubelet in /var/lib/kublet, create two pods as follows:

- pod p1
[code]
- pod p2
[code]
get pod's uid: `kubectl get po -o jsonpath='{range .items[*]}{.metadata.name}{"\t"}{.

[2020-05-12 09:37] borgerli commented on #91015
/sig node

[2020-05-12 09:59] kargakis commented on #38612
Deployment controller fixed in https://github.com/kubernetes/kubernetes/pull/84123

[2020-05-12 10:01] kargakis commented on #38612
Actually, all controllers are handled by 84123.

[2020-05-12 10:01] #38612 closed

[2020-05-12 10:03] mm4tt commented on #90981
/assign

@hasheddan, it shouldn't be in the v1.19 milestone. The tests that is failing is 1.15 test and the root-cause is in our perf-test infra
/remove-milestone v1.19

[2020-05-12 10:08] alexellis commented on #89651
The new alternative command `kubectl create deployment` doesn't seem to provide the same functionality - it can't take many of the requisite flags. What would you suggest to users trying to migrate?

[2020-05-12 10:08] mm4tt commented on #90981
It's a duplicate of https://github.com/kubernetes/perf-tests/issues/1068

[2020-05-12 10:14] 13567436138 opened #91017 "can I use dlv with k8s in linux unit file"
···
[Service]
ExecStart=/root/kubernetes_go/bin/dlv --listen=192.168.198.154:39999 --headless=true --api-version=2 exec  /opt/kube/bin/kube-apiserver \
  --advertise-address=192.168.198.154 \
  --allow-privileged=true \
  --anonymous-auth=false \
  --authorization-mode=Node,RBAC \
  --bind-address=192.168.198.154 \
  --client-ca-file=/etc/kubernetes/ssl/ca.pem \
  --endpoint-reconciler-type=lease

[2020-05-12 10:19] mm4tt commented on #90981
Actually, it looks like it fails consistently since May 6th - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-1.15-500

The culprit is this PR which has enabled NPL on May 6th - https://github.com/kubernetes/perf-tests/pull/1218
I analyzed build logs from May 5th and 6th, in May 5th run NPL was disabled in May 6th is was enabled.
Given this is not a regression, NPL never worked

[2020-05-12 10:35] chendave commented on #82775
/remove-lifecycle rotten

this issue still stands.

[2020-05-12 11:36] aojea commented on #90810
I took a look at the failures here and there are different reasons, but I think the test is quite ok, most of them seems environmental issues unrelated to the test:

This test failed because it couldn't create the pod
[code]

This one failed because was not able to resolve?

[code]

This run out of resources again
[code]

and out of resources too

[code]

[2020-05-12 11:41] SaifJerbi commented on #36152
I test it and it works, i'm using a shared virtual machine as a proxy between the k8s cloud hosted and the local developers machine, so the --address make my VM forwarding all request to the cloud
kubectl port-forward --address 0.0.0.0 pod/mypod 8888:5000

[2020-05-12 11:42] knight42 commented on #80399
/remove-lifecycle stale

[2020-05-12 11:47] stackempty commented on #90986
Hi @andyzhangx

We don't change the instance compute name and i see the right format in the azure metadata service for the instances - What you're referring to seems to be the computer name, and we do use the defaults as provided by azure. See https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-instance-ids#scale-set-vm-computer-name

The attach/detach oper

[2020-05-12 11:49] aojea commented on #90810
@liggitt @spiffxp the  `Node didn't have enough resource: pods, requested: 1, used: 110, capacity: 110` is something we should investigate in a separate issue?

[2020-05-12 12:04] aojea commented on #90922
This has some consequences that I don't think Kubernetes can handle right now because it will imply that you have to delete all the nodes that overlap with the new mask.
In your example, if you don't delete one of the nodes or you reasign all the masks in all nodes, you can't increase the mask, otherwise, the new masks in one node will overlap with the masks of the other nodes.

[2020-05-12 12:09] knight42 commented on #80399
@OJFord Hi! I have filed a PR #91020 the implement this feature, plz give it a try!

[2020-05-12 12:23] sylr commented on #87137
ping

[2020-05-12 12:27] wojtek-t opened #91021 "Bump spf13/cobra dependency to 1.0.0 version"
Cobra 1.0.0 release was released a month ago:
https://github.com/spf13/cobra/releases/tag/v1.0.0

We should bump our vendor to use that (instead of 0.5 version we currently use).

As a bonus - in 0.6 version, support for "Context" was added, which would help me with cleaning up UnitWithoutRetry - see https://github.com/kubernetes/kubernetes/pull/90815

/help wanted
/kind cleanup

[2020-05-12 12:29] Seb0042 opened #91022 "Add debug for kubeadm"
**What would you like to be added**:
More debug information for kubeadm when doing "kubeadm upgrade plan" and get this message:
invalid configuration: kind and apiVersion is mandatory information that needs to be specified

**Why is this needed**:
because even in --v=5 or higher the cause is difficult to find.
I suggest changing code from:

       if err != nil {
                        return err

[2020-05-12 12:30] liuxu623 commented on #90922
The problem is we use bitmap record the cidr is used or now, but if we increase --node-cidr-mask-size, maybe more than one node use the cidr, so we need to know how many nodes use the cidr, if is zero we can use the cidr.

So I try use a map record how many nodes use the cidr, you can see #90926 and help me review the code, thank you.

[2020-05-12 12:32] Seb0042 commented on #91022
/sig Apps

[2020-05-12 12:34] andyzhangx commented on #90986
@feiskyer `workeb81800007f` should be a valid compute name according to https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-instance-ids#scale-set-vm-computer-name, do you know why we define the format like this?
https://github.com/kubernetes/kubernetes/blob/d94a81c724ea8e1ccc9002d89b7fe81d58f89ede/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_

[2020-05-12 12:36] #90981 closed

[2020-05-12 12:50] damemi commented on #90586
#90979 has merged and the latest run for this test in https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial was green, hopefully it will stay that way now. Sorry for the problems

[2020-05-12 12:52] hasheddan commented on #90586
@damemi no worries! Thanks for the fix :) Will continue to monitor

[2020-05-12 12:52] #90586 closed

[2020-05-12 12:58] wojtek-t commented on #91021
@gongguan - in case you're interested in helping with this one too

[2020-05-12 12:58] sylr commented on #87137
/remove-lifecycle rotten

[2020-05-12 13:05] matthias50 commented on #90334
Thanks for the fix @tedyu. Look forward to seeing the PR.

[2020-05-12 13:06] gongguan commented on #91021
Sure, I'll look into it.
/assign

[2020-05-12 13:06] MorrisLaw commented on #88820
/assign @timoreimann

[2020-05-12 13:18] liggitt commented on #90975
The node authorizer does not enumerate permissions, so it does not contribute to SelfSubjectRulesReview results

[2020-05-12 13:21] suvsap commented on #90903
sig/Infra

[2020-05-12 13:21] suvsap commented on #90903
/sig Infra

[2020-05-12 13:24] suvsap commented on #90903
/sig network

[2020-05-12 13:37] alculquicondor commented on #90859
Thanks @angao, but @pancernik already has experience in this particular stack. I have other tasks that need attention. You can ping me in slack.

[2020-05-12 13:43] chrischdi opened #91023 "kubelet "failed to initialize top level QOS containers" on cgroup mount leaks"
**What happened**:

Sometimes we can see kubelets stuck in a restarting loop and never getting healthy again.

The kubelet at the end fails with
[code]

The issue seems to be a leak of mount information from our `csi-nodeplugin` pod.
The issue is that `/proc/self/mountinfo` contains cgroup mount information from the pod which should not be the case. Because of that the kubelet tries to use the pat

[2020-05-12 13:45] chrischdi commented on #91023
/sig node

[2020-05-12 13:45] chrischdi commented on #91023
/area kubelet

[2020-05-12 13:50] impop commented on #90984
Thanks a lot @neolit123 I will defo try that.

[2020-05-12 13:55] imba-tjd commented on #90131
My case: I'm learning k8s moving from docker.
I'd like to use the native nginx binary and manage /etc/nginx/nginx.conf and proxy_pass by myself (I only have one server).
At this time if I use an ingress controller, it would conflict with nginx (don't know if there is a workaround?).
So personally I'd like NodePorts only bind to 127.0.0.1 or ::1
Though I know my situation is rare.

[2020-05-12 13:58] brianpursley commented on #86355
Possibly related to https://github.com/kubernetes/kubernetes/issues/86678

[2020-05-12 14:02] aojea commented on #86355
Let's see if removing `socat` makes it less flaky
https://github.com/containerd/cri/pull/1470

[2020-05-12 14:03] chrischdi commented on #91023
Example patch for kubelet similar to cadvisor:
[code]

[2020-05-12 14:15] liggitt commented on #91006
the fact that this returns an error is a bug that will be fixed, but note that managedFields are always populated server-side, so even after this is fixed, it will not be possible to persist an update without managedFields set

[2020-05-12 14:17] liggitt commented on #91006
cc @apelisse

#90906 will resolve/mask the error, but it would be good to root cause the specific reason for the message

[2020-05-12 14:21] mcandre opened #91026 "No tooltip for the weird clock button above logs in dashboard"
There are tooltips for the download button, the font buttons. No tooltip for whatever the clock button does.

[2020-05-12 14:23] mcandre opened #91027 "Dashboard logs forcibly open in new tab"
The Web browsing user has no control over whether log hyperlink opens in the current tab vs. a new tab.

[2020-05-12 14:24] mcandre commented on #91027
Same issue with exec.

[2020-05-12 14:27] mcandre opened #91028 "Awkward navigation from logs <-> exec"
**What would you like to be added**:

Please offer more links for quickly jumping back and forth between logs for a pod, and exec to a pod.

**Why is this needed**:

The user currently has to find the pod all over again in the main pod list. It really slows you down when troubleshooting.

Also, extra page loads in between logs and exec is wasteful at layer 3.

[2020-05-12 14:37] claudiubelu commented on #90142
Indeed, it's quite easy to build the test images now, especially due to several changes we've managed to get in (for example, the Agnhost Image Centralization PRs, which cumulatively reduced the the image count by 20+). This can still be an issue if we have to rebuild every single image that is used across all the supported Kubernetes versions, like we had to do because of the February Updates.

F

[2020-05-12 14:50] danwinship commented on #90810
The test consistently flakes much more than average though. eg, it has flaked 4 more times since I filed this issue last week:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1258117288343638019
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1258639700051103744
- https://prow.k8s.io/view/gcs/kubernetes-jenkins

[2020-05-12 14:53] danwinship commented on #90810
@aojea note that I was linking to PR runs not periodic runs (since I had that link handy) so in some cases failures might be due to bad PRs...

[2020-05-12 15:07] michaelgugino commented on #80389
/remove-lifecycle stale

[2020-05-12 15:33] zakkg3 commented on #70147
https://github.com/zakkg3/ClusterSecret/pull/1
thanks for the advice ;)

[2020-05-12 15:54] apelisse commented on #91006
Absolutely, 2nd report for this bug, I don't think it's a big thing, but we're certainly missing a test here.

[2020-05-12 15:54] apelisse commented on #91006
Thanks for the report @yue9944882, would you be able to share the CRD?

[2020-05-12 15:55] alejandrox1 commented on #87092
Excuse the delayed answer but huge update happened https://github.com/kubernetes/kubernetes/issues/88971
and a ton of GKE-based jobs got removed.

[2020-05-12 15:55] #87092 closed

[2020-05-12 15:57] michael-db commented on #87724
In case the reason this has attracted no response is because the problem is unclear, the scenario is the following sequence of calls to the CSI driver:

(1) GRPC call: /csi.v1.Node/NodePublishVolume   for consumer A, driver bind mounts target_path
(2) GRPC call: /csi.v1.Node/NodePublishVolume   for consumer B on same node, volume is the same so target_path is the same, no way to distinguish it fro

[2020-05-12 16:04] squeed commented on #90259
The case is connecting to `127.0.0.1:$NODEPORT`. Let's say that's 8888, pointing to pod 10.0.0.1:9999.

1. Emit packet. `127.0.0.1:xxxxx -> 127.0.0.1:8888`
2. NAT PREROUTING rules run, do DNAT, add conntrack entry. packet is `127.0.0.1:xxxxx -> 10.0.0.1:9999`
3. Routing decision. normally, 127.0.0.1 would be dropped as a martian, but `route_localnet` permits this
4. NAT POSTROUTING rules run, do M

[2020-05-12 16:21] SaschaHeyer commented on #70179
Same issue

[2020-05-12 16:44] liggitt commented on #91006
looks like the crontab example at https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition

[2020-05-12 16:45] tedyu commented on #90334
In order to clean up containersByName map (so that there is no memory leak),  I have been debugging since last night (informed by kubernetes-e2e-kind test result).

I am inclining to not bound log retention for dead container by the number of containers.
Instead, use a safe period for all dead container logs (beyond which cleaning is performed).

[2020-05-12 16:56] derekwaynecarr commented on #90973
Just noting that kubelet is -999, the infra/sandbox image is typically -998.  In past we explored, pods with highest priority having the ability to influence oom_score_adj.  Thanks for the detailed write-up.

[2020-05-12 17:04] neolit123 commented on #91022
/close
/remove-sig apps
/sig cluster-lifecycle
/area kubeadm

hi, please open this ticket in the kubernetes/kubeadm repository.
thank you.

[2020-05-12 17:04] #91022 closed

[2020-05-12 17:36] ahg-g opened #91029 "Split scheduler framework implementation into a separate pkg"
Split the scheduler framework into an interface pkg and an implementation pkg.

We can keep the interface files (interface.go, types.go, listers.go and cyclestate.go) under ```scheduler/framework/v1alpha1``` and move the implementation to ```scheduler/framework/runtime```.

Ideally plugins should only depend on the interface pkg.

/cc @Huang-Wei @alculquicondor
/sig scheduling

[2020-05-12 17:37] apelisse commented on #91006
Cool, thanks, we should be able to build a test with that.

[2020-05-12 17:42] liggitt commented on #90975
https://github.com/kubernetes/kubernetes/pull/91030 fixes setting `incomplete:true` correctly when the API is requested with a kubelet's credentials

[2020-05-12 17:51] jsafrane commented on #84226
I would prefer to check for `VolumeAttachment` existence, it looks cleaner from API point of view.

[2020-05-12 17:53] brianpursley opened #91031 "make should warn if experimental docker features are not enabled before attempting to use them"
**What would you like to be added**:
`make` should check if dockerd has experimental features enabled and warn the user if they do not

**Why is this needed**:
I was trying to get e2e tests running locally, and when kubetest ran `make quick-release` in k/k it failed with:

[code]

After some troubleshooting, I discovered this is because buildx is not available, since I didn't have [experimental fe

[2020-05-12 17:56] msau42 commented on #84226
Hm that means external-provisioner needs to watch and lookup VolumeAttachment objects?

[2020-05-12 18:00] brianpursley commented on #91031
Actually, I'm not sure this was my issue after all...

/close

[2020-05-12 18:00] #91031 closed

[2020-05-12 18:07] neolit123 commented on #75601
/remove-lifecycle stale
/milestone clear

[2020-05-12 18:08] jsafrane commented on #84226
Checking PV finalizers will work, but basing API on finalizers looks quite odd.

[2020-05-12 18:09] xing-yang commented on #84226
I see that external-provisioner only has a PersistentVolumeClaimLister, but not a PersistentVolumeLister.  So we'll need to add a Lister to watch PersistentVolume objects too if we check finalizer on PV's?

[2020-05-12 18:12] msau42 commented on #84226
For a multi-attach volume, you can have multiple VolumeAttachment objects for the same PV on different nodes. Would external-provisioner be able to properly serialize without races in this case?

[2020-05-12 18:12] mowings commented on #53023
Same issue on v1.16.3. We saw this with both node-exporter and kube-proxy, out of 28 nodes, we saw that the ds only showed 27 available, despite all pods being deployed.

The thing these two have in common were that they were evicted  on a single node due to disk pressure. I'm guessing that the DS controller fails to update the pod count once things recover.

[2020-05-12 18:16] damoon commented on #47862
+1
just to give berney something to do

but seriously, a colleague assumed UDP would work like TCP does and wasted more time then useful. i did the same before too.
maybe kubectl could give a warning when port-forward is used on a service with a UDP port?
this would at least safe debug time until this feature exists.

[2020-05-12 18:16] RaunakShah commented on #84226
I prototyped adding a PersistentVolumeLister and checking for external-attacher Finalizer before calling `csiClient.DeleteVolume` here - https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L1037

Albeit with fairly primitive testing, it seems that this creates a loop of dependancies between external-attacher and external-provisioner:
1. external-provisio

[2020-05-12 18:21] jsafrane commented on #84226
Would external-provisioner be able to properly serialize without races in this case? I think so. At the time `Delete()` is called, PVC was deleted, so no new VolumeAttachment can be created (unless someone creates it manually).

No, `Delete()` call from the provisioner lib gets PV:
https://github.com/kubernetes-csi/external-provisioner/blob/94aaacb096c91dcf36bd5f31ba4808503ad92acf/vendor/sigs.k8s.

[2020-05-12 18:26] freehan commented on #85741
@ZLget
Can you provide the following info? Please feel free to anonymize the IPs and names in the output.
- iptables-save

[2020-05-12 18:50] yokeshvs commented on #18755
I am looking to achieve exactly the first point, update the log-level across all pods. I can make an actuator call to update the log level, but is there a way I can do it on all pods with single request?

[2020-05-12 18:57] inceptiona7 commented on #79224
+1 reopen

[2020-05-12 19:07] tedyu commented on #90334
[rm-excess-log-8.txt](https://github.com/kubernetes/kubernetes/files/4617874/rm-excess-log-8.txt)
This is close to what I would present.
All tests passed.

[2020-05-12 19:14] matthias50 commented on #90334
I'm not a fan of the time based cleanup, especially with 30 minutes to do so. A rogue pod can do a lot of logging to a node in 30 minutes. What was the memory leak issue you encountered?

[2020-05-12 19:29] tedyu commented on #90334
Since the containersByName map is a field of containerLogManager, it cannot hold the metadata for 2 (or 3) (latest) dead containers forever (given container Id).
Therefore comes the need for time bound.

[2020-05-12 19:43] javidiaz opened #91036 "Allow setting FQDN as hostname of pods."
**What would you like to be added**:

The ability to set the Linux kernel hostname field ([the nodename field of struct utsname](http://man7.org/linux/man-pages/man2/uname.2.html)) of a pod to its fully qualified domain name (FQDN). Currently, when a pod is configured to have FQDN (e.g., foo.subdomain.namespace.svc.company.com), the hostname field of the kernel includes its shortname. Hence, uname

[2020-05-12 19:44] javidiaz commented on #91036
/cc @timothysc

[2020-05-12 19:47] matthias50 commented on #90334
I never quite go the reason for keeping the map. From what I can tell, you can simply keep the logs of any containers which still exist, not keep any map and delete the rest. This should  always get you the logs of the running container and the previous one (if it exists). I say this because no matter how many times a container resets, there are always two containers on the node.

[code]
so 193 re

[2020-05-12 19:56] andrewsykim commented on #90435
ping @xishengcai -- can you share logs from kube-proxy please?

[2020-05-12 20:06] alculquicondor commented on #91036
cc @derekwaynecarr

[2020-05-12 20:16] fedebongio commented on #90908
In the triage meeting was mentioned that would be good to have similar issues to track other well known actors like controller-manager and kubelet. But let's keep this one for api-server calling itself to have it done.
/cc @cheftako @deads2k

[2020-05-12 20:17] fedebongio commented on #90931
/cc @kwiesmueller

[2020-05-12 20:18] fedebongio commented on #90952
/cc @cheftako

[2020-05-12 20:18] fedebongio commented on #90952
/cc @caesarxuchao

[2020-05-12 20:20] fedebongio commented on #90968
/cc @lavalamp @kwiesmueller @seans3

[2020-05-12 20:22] fedebongio commented on #90997
Thank you @liggitt for taking a look!

[2020-05-12 20:23] fedebongio commented on #91006
/assign @apelisse

[2020-05-12 20:38] lavalamp commented on #90968
Given that this is a namespace, and force is a delete-and-recreate, probably all of the contained resources were going to get deleted even if the replacement namespace were valid. I think there's no safe way to do this to a namespace.

IMO:
* kubectl should probably warn the user that this is super extra dangerous for namespaces.
* we should rename `--force` to `--delete-and-recreate` or something

[2020-05-12 20:45] liggitt commented on #90968
When a manifest contains multiple items, some of which have immutable fields which actually do require a delete-and-recreate approach, there is no single invocation that accomplishes forcing those items to be applied while safely taking no action on other items. If we expect clients to delete/recreate to make changes to immutable fields, the server should include enough information for the client

[2020-05-12 20:49] liggitt commented on #91027
thanks for the report... this probably belong under https://github.com/kubernetes/dashboard

[2020-05-12 20:54] lavalamp commented on #90968
The update manifest in the OP doesn't have multiple items, though?

[2020-05-12 20:55] lavalamp commented on #90968
(I have no idea what --force would do on a multi-item manifest and I'm scared to find out)

[2020-05-12 21:35] thockin commented on #91036
I'll skip the sermon about why this is wrong - I've said it before, and I can tell you have heard it before :)  I ACK the friction that this causes for customers who want to containerize existing applications without deep, risky code changes..

As you called out, it's really the failure-mode that is the most nefarious here.  It's just not going to be obvious to end-users why their pods are failing

[2020-05-12 21:40] captain-kark commented on #44812
Hopefully this helps someone, I've only tested it very briefly on darwin/BSD.

[code]

[code]

It will print the timestamp first, but will be run against each pod individually. Pipe through `sort` to merge all pod logs together in the order they happened in the cluster.

[2020-05-12 21:49] tedyu commented on #90334
[rm-excess-log-local-map.txt](https://github.com/kubernetes/kubernetes/files/4618596/rm-excess-log-local-map.txt)
Moved the map local to containerLogManager#rotateLogs()
Simplified the patch a bit by keeping existing methods.

[2020-05-12 21:54] Nowaker commented on #44812
Can't live without https://github.com/johanhaleby/kubetail. Simple syntax, colored output (different color per pod).

[2020-05-12 22:05] sjenning commented on #90973
Using `vm.overcommit_memory` causes overcommitment to fail at `malloc` time i.e. the point of virtual memory address space growth vs normal overcommit which is more like "`malloc`, yay, it worked!, write a byte to the `malloc`'ed region triggering an on-demand page allocation, BOOOOOM killer!"

As @jberkus pointed out, it would be lovely if we could make `malloc`s fail at the cgroup level, based o

[2020-05-12 22:16] metral commented on #30603
/remove-lifecycle stale

[2020-05-12 22:26] neolit123 commented on #90935
/sig cli

/close

[2020-05-12 22:26] #90935 closed

[2020-05-12 22:31] Huang-Wei opened #91038 "[Umbrella] scheduler PostFilter extension point"
## Background

Per discussion in the [draft design doc](https://docs.google.com/document/d/1lBZOA-vjo2m52242q4dZ1L1W-RrNyr14F63PfQ5YUr8/view) and [brainstorming issue](https://github.com/kubernetes/kubernetes/issues/90025), we've come out with a good shape on how scheduler preemption logic can be refactored into.

I've done some evaluation work and decided to go with the option that introducing a

[2020-05-12 22:31] Huang-Wei commented on #91038
/sig scheduling

[2020-05-12 22:35] neolit123 commented on #90158
/sig release
/priority backlog

i think the /packages folder was always empty (maybe the files are just hidden).
you can ask in the #sig-release channel on slack.

[2020-05-12 22:36] neolit123 commented on #90238
/sig node

[2020-05-12 22:37] neolit123 commented on #90238
try asking in the #sig-node channel on k8s slack.

[2020-05-12 22:39] neolit123 commented on #90661
can you show the full examples?

`--config` errors for kube-proxy are managed by kube-proxy.

/sig network
/remove-kind feature
/kind bug
/priority awaiting-more-evidence

[2020-05-12 22:40] neolit123 commented on #90661
full examples, as in the full command lines and what errors are you seeing.

[2020-05-12 22:40] neolit123 commented on #90748
/sig node

[2020-05-12 22:41] neolit123 commented on #91026
hi, try logging the same issue here:
https://github.com/kubernetes/dashboard

and provide full details about the version you are using + ideally a screenshot.
thanks

/close

[2020-05-12 22:41] #91026 closed

[2020-05-12 22:42] neolit123 commented on #91026
/sig ui

[2020-05-12 22:42] neolit123 commented on #91027
+1
please log the issue in k/dashboard.

/sig ui
/close

[2020-05-12 22:43] #91027 closed

[2020-05-12 22:43] neolit123 commented on #91028
again please log dashboard issues in k/dashboard and provide details about the version.
thanks.

/sig ui
/close

[2020-05-12 22:44] #91028 closed

[2020-05-12 23:40] zadm commented on #70411
Hello,

I'am facing the same issue without using  a load balancer on the front
I'am trying to integrate kubernetes to gitlab and i have this error
` log.go:172] http: TLS handshake error from 34.74.90.67:6325: local error: tls: bad record MAC\n","stream":"stderr","time":"2020-05-12T23:31:17.946990982Z"}

Anyone have a fix to this  please  ?

Thanks in advance
`

[2020-05-12 23:45] tedyu commented on #90999
In basicMirrorClient#DeleteMirrorPod, there is place holder for grace period:
[code]
One option is to give non-zero period, such as 60 seconds.

[2020-05-12 23:46] tedyu commented on #90999
@liggitt
What do you think ?

[2020-05-13 01:42] liuxu623 commented on #90922
The problem is node `192.168.0.0/24` and node `192.168.1.0/24` use `192.168.0.0/23`，only  192.168.0.0/24 and 192.168.1.0/24 all deleted then we can release `192.68.0.0/23`, but we use bitmap now, delete a node `192.168.0.0/24` or `192.168.1.0/24` will release `192.68.0.0/23`.

https://github.com/kubernetes/kubernetes/pull/90926/files#diff-a8ab00a26d321bed050bda3418c91d4dR212-R225

So I try use map

[2020-05-13 01:54] liuxu623 commented on #90922
If Occupy() return error, NodeIPAMController will not start, we don't want this.

[2020-05-13 02:12] q843922994 commented on #89651
https://kubernetes.io/zh/docs/tasks/run-application/run-stateless-application-deployment/

[2020-05-13 02:27] enj opened #91042 "Add test coverage for SelfSubjectRulesReview and node authorizer"
An integration test should be added to confirm that the node authorizer interacts correctly with the `SelfSubjectRulesReview` API.

Test the 4 permutations of node authorizer=on/off with identity isNode=true/false.

xref: #90975 #91030

[2020-05-13 02:27] enj commented on #91042
/sig auth
/area tests

[2020-05-13 02:27] enj commented on #91042
/area test

[2020-05-13 02:30] enj commented on #91042
/good-first-issue

[2020-05-13 02:45] tedyu commented on #90334
Moved the map local to containerLogManager#rotateLogs()
Simplified the patch a bit by keeping existing methods.
[rm-excess-log-local-map-2.txt](https://github.com/kubernetes/kubernetes/files/4619528/rm-excess-log-local-map-2.txt)

[2020-05-13 02:47] BobyMCbobs commented on #90957
# Tooling goals
- [ ] Set up a watch for resource through a static label to the resource with DynamicClient
- [ ] Manage the watch if it dies
- [ ] Feed the watch to the function
- [ ] Read all the watch events from the `resourceWatch.ResultChan()` at the end of the test, ensuring that the events occur
  - question: What does doing this mean to tests which check `watchEvent.Object` data? (e.g: htt

[2020-05-13 03:01] yue9944882 commented on #91006
__update__: to remove some entries from managedFields, i was able to work-around by patching the managedFields w/ a list of single non-empty managedField e.g. a merge patch like:

[2020-05-13 03:10] denkensk commented on #91038
/cc

[2020-05-13 03:15] everpeace commented on #91038
/cc

[2020-05-13 03:59] smileusd commented on #78756
/reopen

[2020-05-13 04:00] #90795 closed

[2020-05-13 04:01] smileusd commented on #78756
@jsafrane  @msau42  PTAL

[2020-05-13 04:11] Salamandastron1 commented on #8976
/close

[2020-05-13 04:50] chrischdi commented on #91023
Thank you and sorry for that :-( I've added the missing part :+1:

[2020-05-13 05:57] 13567436138 opened #91043 "create svc externalname --tcp has no effect"
**What happened**:
···
[root@master01 f]# kubectl create svc externalname test12 --external-name=www.baidu.com2 --tcp=8800:80 -n test -o yaml
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2020-05-13T05:50:25Z"
  labels:
    app: test12
  name: test12
  namespace: test
  resourceVersion: "1608488"
  selfLink: /api/v1/namespaces/test/services/test12
  uid: a116509b-31e1-4bfe-b6e9-6244

[2020-05-13 06:11] khatrig commented on #83038
I have the same issue. No matter the epithermal storage space I provide, It gets defaulted to 20Gi.

 resources:
      limits:
        ephemeral-storage: "600G"
      requests:
        ephemeral-storage: "500G"

Name           Used (GB)     Free (GB) Provider      Root
----           ---------     --------- --------      ----
Alias                                  Alias
C                   0.18

[2020-05-13 06:11] pytimer commented on #91003
I found kubernetes performance tests were moved to https://github.com/kubernetes/perf-tests, use `clusterloader2` instead of `test/kubemark/run-e2e-tests.sh`, so i think this issue not a bug, close it.

/close

[2020-05-13 06:11] #91003 closed

[2020-05-13 06:28] nileshkumar01 commented on #83038
@rushins @khatrig we have got this working in our environment using 1.15.4 by setting
limits:
ephemeral-storage: "20Gi"

So far it's been working.

[2020-05-13 07:19] #90975 closed

[2020-05-13 07:25] Danil-Grigorev commented on #90844
/area provider/vmware

[2020-05-13 07:29] pjbgf commented on #81115
Linked two PRs that enable seccomp by default for pod sandbox.

[2020-05-13 07:41] pjbgf commented on #81146
@cji can you please update the item 29 with:

Closed, resolved with CoreDNS v1.6.2. https://github.com/kubernetes/kubernetes/issues/81137#issuecomment-582048793

[2020-05-13 08:17] chenpfeisoo opened #91047 "kubetest --ginkgo.focus=Service timed out waiting for the condition"
**What happened**:

When I execute the command to run the service case, the console always prints the timeout, and the pod is not running

`network-perf-1259   iperf-e2e-pod-0                       0/1     Completed   0          3h41m
 network-perf-1259   iperf-e2e-pod-1                       0/1     Completed   0          3h41m`
`May 13 16:14:36.533: FAIL: Unexpected error:
    <*errors.errorStri

[2020-05-13 08:18] chenpfeisoo commented on #91047
pod status

[2020-05-13 08:21] chenpfeisoo commented on #91047
pod  status

`network-perf-1259   iperf-e2e-pod-0                       0/1     Completed   0          3h41m
network-perf-1259   iperf-e2e-pod-1                       0/1     Completed   0          3h41m`

Shouldn't pod running  or recreate   when there is a case? Although it's a job

[2020-05-13 08:27] pjbgf commented on #81143
/assign

[2020-05-13 08:33] gavinfish commented on #90168
/assign

[2020-05-13 08:56] marquiz commented on #90238
Hmm, it's kubelet who is running the probes so if you kill the node there is no one executing them, anymore. Routing is changed only after the node is determined not to be ready. Or am I mistaken?

[2020-05-13 09:06] invidian opened #91050 "Increase log level for TLS handshake error logs for kube-apiserver"
**What happened**:

Then load balancer probes kube-apiserver in TCP mode, every probe logs `http: TLS handshake error from ...` message in `kube-apiserver` logs on default log level and this is annoying, it bloats the logs all over and makes debugging more difficult.

**What you expected to happen**:

kube-apiserver should log those errors only on highre log levels (even 2 will be an improvement).

[2020-05-13 09:06] ZhangSIming-blyq commented on #3595
[code]
In my test result, attaching init-containers configuration above will let the following pod get the sysctl parameter which users want.

[2020-05-13 09:07] invidian commented on #70411
Since there is not so much of rejection that this should be fixed and I see the simple way to resolve it, I created #91050 to track actionable thing to do.

[2020-05-13 09:09] invidian commented on #91050
/sig api-machinery

[2020-05-13 09:18] marquiz commented on #90129
Or you could use a toleration in the pod spec
[code]

I'd suggest to close this issue

[2020-05-13 09:39] antonmatsiuk commented on #43916
We hit the same problem with symfony +  apache apps running in k8s. Disabling caching means patching symfony framework which is not an option at all. Any plans on kubernetes not to count cache/buffers in used_memory of containers?

[2020-05-13 10:26] aojea commented on #90922
Thanks for the explanation @liuxu623 , it makes more sense to me now.
However, this seems an important change on the behavior of the IPAM and usually a KEP is required.
Let's ask Tim what will be the best way to proceed

/assign @thockin

[2020-05-13 10:51] mydockergit commented on #89731
?

[2020-05-13 11:26] ghouscht commented on #76928
/remove-lifecycle rotten
This is also a problem on our on-prem clusters, with L4 loadbalancers in front of the apiserver.

[2020-05-13 11:28] TomaszKlosinski commented on #70147
So Kubernetes developers think that duplicating secrets (e.g. using some external application to sync them) is the right "solution" to this problem?

[2020-05-13 11:45] khatrig commented on #83038
ephemeral-storage: "20Gi" does not work either.
Windows Docker images come with 20Gi as default scratch space so no issues spotted if the utilization is less than 20Gi. Asking for more ephermal-storage does not work.

Get-PSDrive from within the container always shows:

Name           Used (GB)     Free (GB) Provider      Root

C                   0.06                  19.81   FileSystem    C:\

[2020-05-13 12:46] mrobson commented on #84595
@tedyu I think 88440 is promising, but I still think it makes sense to add some logging here. Do you want want to proceed with my open PR, your suggestion in kubelet_pods.go or both?

[2020-05-13 13:03] ahg-g opened #91058 "Pre-calculate affinity terms in PodInfo"
**What would you like to be added**:
The scheduler framework now has a new pod wrapper type named PodInfo which we can use to decorate the pod with pre-processed information. This issue is focused on processed affinity terms, which are expensive to do frequently especially when evaluating the anti affinity terms of existing pods.

**Why is this needed**:
Improves anti-affinity performance.

/sig s

[2020-05-13 13:26] alculquicondor commented on #88919
The pending process is described in https://github.com/kubernetes-sigs/reference-docs/issues/138#issuecomment-605467979
and there is sample code in kubernetes-sigs/reference-docs#143

[2020-05-13 13:26] angao commented on #88919
/assign

[2020-05-13 13:55] ahg-g commented on #91058
I will split this into three PRs:
1) Add processed Required (anti)affinity terms
2) Remove all direct process of (anti)affinity terms, and use NewPodInfo as a proxy.
3) Add processed preferred (anti)affinity terms

[2020-05-13 14:02] yue9944882 opened #91063 "Watch-related options ("watch"/"allowWatchBookmarks") should be pruned from DELETECOLLECTION's openapi parameter"
/kind bug
/sig api-machinery

take quota's DELETECOLLECTION openapi schema as example:
[code]
the parameter "allowWatchBookmarks" and "watch" should be removed from the list to avoid confusions.. and this will also help shorten the list.

/cc @kubernetes/sig-api-machinery-misc

[2020-05-13 14:19] shelbaz commented on #55051
I created a cron job using a Yaml file with this config (need to fix the formatting, check https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/) :
********************************************************************************
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: delete-failed-pods
spec:
  schedule: "*/30 * * * *"
  failedJobsHistoryLimit: 1
  successfulJo

[2020-05-13 14:24] puja108 opened #91064 "Some docs do not reflect the changes to kubectl run command since 1.18"
**What happened**:

Since Kubernetes 1.18 the `kubectl run` command is not creating deployments anymore, but pods. Furthermore, some flags (e.g. [--replicas](https://github.com/kubernetes/kubernetes/issues/89651)) have also been deprecated.

I stumbled upon a few places where the docs do not reflect that:
- https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#setup uses deprec

[2020-05-13 14:25] puja108 commented on #91064
/sig docs

[2020-05-13 14:29] tedyu commented on #84595
You can proceed with your PR.

[2020-05-13 14:51] mcginne commented on #90725
@wojtek-t I've checked the ConfigMaps and secrets, and the number of bindings for each secret and configmap is between 0 & 6 - most are closer to 1 - so that doesn't seem very much.

We hit the issue again, and again all watchers ended up attached to 1 apiserver.. Here is the total number of watchers of each type:
[code]
And here is the breakdown of watch events:
[code]
So there are actually a lot

[2020-05-13 15:04] krackjack29 commented on #65502
Is there any plan to add this feature??

[2020-05-13 15:14] wojtek-t commented on #90725
Different resources are independent. So as long as you have enough resources, and bottleneck is e.g. not in "golang memory allocation" layer (which we actually already observed over time), they don't interfere with each other.

I've seen clusters with 250,000+ goroutines working absolutely fine.
The only bottlebeck I'm aware in this area is at the golang memory allocations level, if you're quickly

[2020-05-13 15:24] mtttcgcg commented on #74741
We also see this behavior in 1.14.6.  Jobs are cleaned up, but the associated pods are not.

[2020-05-13 15:34] smarterclayton commented on #65013
Possibly, or a taint, or a label.  Something concrete.

[2020-05-13 15:36] hasheddan commented on #90830
`StatefulSet` flake does not appear to be happening frequently anymore, but now seeing `[sig-network] Services should be able to switch session affinity for LoadBalancer service with ESIPP on [Slow] [DisabledForLargeClusters] [LinuxOnly]` @kubernetes/sig-network-misc

/remove-sig apps
/sig network
/retitle [Flaky Test] gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)
/remove-kind failing-test

[2020-05-13 15:42] hasheddan commented on #90955
/retitle [Flaky Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)
/remove-kind failing-test
/kind flake

This only flaked once so I will follow-up and close if this does not show again.

[2020-05-13 15:48] zadm commented on #70411
Hello,

Thank you for your response

Is it the raison why the kubernetes integration fails ?

I have installed gitlab locally and i'am facing the same issue
Error in gitlab  `There was a problem authenticating with your cluster. Please ensure your CA Certificate and Token are valid.`

As i said in the last comment, the same credentials works fine with curl
What could be the issue ?

Regards

[2020-05-13 16:34] javidiaz commented on #91036
Using a field in the Pod spec for this feature is probably more flexible than using the Kubelet. I guess if someone has to enforce this, it could always be done with an out-of-tree admission webhook. Nevertheless, I believe using Pod spec would have the same failure-mode, right?

To improve the UX of the failure-mode we could have an admission plugin that controls the pod size when this feature is

[2020-05-13 16:47] sftim commented on #79830
If so, I'm keen to document an alternative.

[2020-05-13 16:48] kwiesmueller commented on #91006
/assign

[2020-05-13 16:55] thockin commented on #91036
Yes, exactly.

Yes

You need to manage pod name, subdomain, and namespace length.  Also suffix, but that doesn't change, so it can be more assumed.  The real layering violation here is that you need to know from your Deployment (or equivalent top-most workload API) how all the layers underneath that will affect the pod name.

In truth, this problem already exists.  If you make a deployment name th

[2020-05-13 17:13] BrijJhala commented on #79224
Thanks @connorworkman great inputs. so  I have tried to access env variable in config map as below. when I look my data directory and do cat in configmap data, it does not show env variable set there.
it shows as below. Appreciate your help.

search.username=XYZ
search.password=$ES_URL

[code]

In deployment config:
[code]

[2020-05-13 17:22] #88390 closed

[2020-05-13 18:04] ZhiFeng1993 commented on #91042
/assign

[2020-05-13 18:37] Matty9191 opened #91070 "Service account key rotation is not well documented"
**What happened**:

After rotating the SA public and private keys, the API server is unable to validate tokens minted off the old private key.

**What you expected to happen**:

Based on the documentation and the notes in [34029](https://github.com/kubernetes/kubernetes/pull/34029) and [20165](https://github.com/kubernetes/kubernetes/issues/20165), I would have expected the API server to accept th

[2020-05-13 18:49] Matty9191 commented on #91070
/sig auth
/sig product-security

[2020-05-13 18:59] dims commented on #70131
Ack. going to close this out. we can open some new issues when something else pops up.

/close

[2020-05-13 19:01] dims commented on #78737
@msau42 let's do it in time for 1.19 like you said, we are not removing a feature here. ( cc @liggitt )

[2020-05-13 19:23] demisx commented on #57250
I confirm that with removed `use-proxy-protocol: 'true'` from ingress config map (e.g. no proxy protocol enabled) and this in the ingress:

[code]

the Network Load Balancer is created with healthy nodes in each target and the client IP is preserved. I am using the latest nginx-ingress `v1.36.3` .

[2020-05-13 19:33] robscott opened #91072 "Endpoints, EndpointSlice, and EndpointSliceMirroring controllers do not clean up resources when Service selector is removed"
**What happened**:
When a Service selector is removed, the corresponding Endpoints and EndpointSlice resources are not removed by their controllers.

**What you expected to happen**:
The corresponding Endpoints and EndpointSlice resources to be removed by their controllers.

**How to reproduce it (as minimally and precisely as possible)**:
Remove a selector from a Service that has matching Pods.

[2020-05-13 19:50] alculquicondor commented on #85031
/reopen

I just saw this again

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91071/pull-kubernetes-integration/1260644528591736833

[2020-05-13 19:54] rkojedzinszky opened #91073 "Kubelet gets "Timeout: Too large resource version" error from the API server after network outage"
**What happened**:
I have disconnected a node from network for a few minutes. After reconnecting, I keep receiving such error messages from kubelet on the node, even after 15 minutes in reconnected state:

[code]

**What you expected to happen**:
I expect that after network recovery kubelet reconnects to the Apiserver as before, and after a recovery such timeouts do not occur.

**How to reproduce

[2020-05-13 19:58] aojea commented on #90830
I think we can decrease the priority, right?
now is just flaky, previously it was completely red

[2020-05-13 19:58] rkojedzinszky commented on #91073
/sig node

[2020-05-13 20:01] rkojedzinszky commented on #91073
/sig api-machinery

[2020-05-13 20:12] gnufied commented on #89268
Still seeing this here - https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90907/pull-kubernetes-integration/1260640250275827716

[2020-05-13 20:20] alculquicondor commented on #89268
This issue was more general, around kube-apiserver failing to start.
Please open a new one specific to `TestMaxResourceSize`

[2020-05-13 20:36] stefanlasiewski commented on #87615
Does this problem only happen after a NIC failure? We're seeing the same error message in our  v1.16.8 clusters, but there is no associated NIC failure.

[2020-05-13 20:38] ndrpnt opened #91074 "Add a `Plan` kind"
**What would you like to be added**:

A way (through a `Plan` kind?) to save a list of changes to be applied later, with
the guarantee to not cause any additional conflicts/resource addition/resource deletion.

The workflow would look like:

- Generate a `Plan` with `kubectl diff --recursive --server-side -oyaml -f manifests.yaml > plan.yaml`
  - This would be even more useful if/when `kubectl dif

[2020-05-13 20:39] gnufied opened #91075 "TestMaxResourceSize integration test being flaky"
**Which jobs are flaking**:

test/integration is flaking.  For example - https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90907/pull-kubernetes-integration/1260640250275827716

**Which test(s) are flaking**:

     --- FAIL: TestMaxResourceSize/StrategicMergePatchType_should_handle_a_patch_just_under_the_max_limit (32.01s)
        max_request_body_bytes_test.go:125: expected success or

[2020-05-13 20:41] gnufied commented on #91075
/sig-api-machinery

[2020-05-13 20:41] gnufied commented on #91075
/sig api-machinery

[2020-05-13 20:42] gnufied commented on #89268
alright filed - https://github.com/kubernetes/kubernetes/issues/91075

[2020-05-13 20:45] liggitt commented on #91075
This test submits a large request. The CI machines have no resource guarantees, and tend to be overcommitted. This seems likely to simply be resource starvation on the test machines.

[2020-05-13 20:45] liggitt commented on #91075
/sig testing

what is the recommendation here?

[2020-05-13 20:45] robscott commented on #91072
/remove-triage unresolved

[2020-05-13 20:47] liggitt commented on #91075
The same test in post-submit:

https://k8s-testgrid.appspot.com/sig-release-master-blocking#integration-master&width=5&sort-by-failures=&include-filter-by-regex=TestMaxResourceSize

[2020-05-13 21:00] RaunakShah commented on #84226
@msau42 @jsafrane @xing-yang Would appreciate your reviews at https://github.com/kubernetes-csi/external-provisioner/pull/438

Based on the discussions above, i've gone with the volumeattachment approach.
If you feel that there's a potential race condition that needs addressing too, please let me know!

[2020-05-13 21:37] tedyu opened #91076 "Probe timeout should take initial delay into account"
**What happened**:
Pods won't go into a Ready state when there's a readiness probe configured with intialDelaySeconds with a value greater than timeoutSeconds.

**What you expected to happen**:
Pod should go into ready state with the specified initial delay.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a deploymentconfig with a pod and endpoint that has a startup de

[2020-05-13 21:37] tedyu commented on #91076
/sig node
/assign

[2020-05-13 21:38] tedyu commented on #91076
[code]
It seems we should take p.InitialDelaySeconds into account for the timeout.
Otherwise the probe wouldn't function when p.InitialDelaySeconds is specified (which would be longer than the default one second timeout).

I have a patch which I am verifying

[2020-05-13 22:32] matthias50 commented on #90334
Not sure what is going on. Doesn't seem to rotate logs.

These logs were there after a while:
[code]
Kubelet logs had *nothing* with container_log_manager in them even though kubelet is started with v=4.

[2020-05-13 22:58] #85354 closed

[2020-05-13 23:02] tedyu commented on #90334
If containerLogManager#pruneDeadContainerLogs is called, we should see:
[code]
note: I refreshed rm-excess-log-local-map-2.txt once last night since the initial version had a bug.

Currently debugging a prober bug.
I would get back to this soon.

[2020-05-13 23:13] kwiesmueller commented on #91006
Okay, i think the problem is a difference between the converters for crds and non-crds.
When resetting the managedFields, we have to send `{[]}` insted of just an empty object or null.
This is to allow not sending them without causing them to change (as documented).

For internal resources, that results in an update with a single incomplete/invalid managedFields entry. The Updater then tries to fi

[2020-05-13 23:18] liggitt commented on #91006
Shouldn't https://github.com/kubernetes-sigs/structured-merge-diff/blob/master/merge/update.go#L65 avoid trying to convert to an empty version that is never valid?

[2020-05-13 23:18] kwiesmueller commented on #91006
@yue9944882 as a temporary workaround it just worked for me to reset the managedFields with a body like this: `{"metadata":{"managedFields": [{"apiVersion": "stable.example.com/v1"}]}}`

[2020-05-13 23:20] kwiesmueller commented on #91006
@liggitt yeah, we could check the version before doing the conversion if it's empty.
But as far as i see, the conversion should still be able to remove managers with outdated/removed versions. At least that's what i understood as the reason for it being this way.

[2020-05-13 23:20] kwiesmueller commented on #91006
And the crd converter does not return any error that is able to hand that information to the updater.

[2020-05-13 23:25] liggitt commented on #91006
It's unclear to me what a user is supposed to do if they get in a scenario where a field manager update cannot successfully convert… is their object just stuck?

[2020-05-13 23:28] liggitt commented on #91006
isn't that explicitly an invalid managedFieldEntry?

[2020-05-14 00:08] AndrewSav commented on #78564
/remove-lifecycle stale

[2020-05-14 00:21] kfox1111 commented on #71907
I just hit this again.

[2020-05-14 00:50] tallclair commented on #81518
/remove-lifecycle stale

[2020-05-14 03:37] #86196 closed

[2020-05-14 04:05] manojchandrabss opened #91087 "How to restart 100's of pods at a time"
Hi team,

we are having 1000's of pods running for our application. due to some reason we need to restart 100's of pods. is there any way we can do it in kubernetes using kubectl or any other tool. Please advice. it should be pure pod restart

[2020-05-14 04:30] 13567436138 opened #91088 "kubectl create deploy‘’s code‘s logic has problem’"
**What happened**:
···
if len(generatorName) == 0 {
		generatorName = generateversioned.DeploymentBasicAppsV1GeneratorName
		generatorNameTemp, err := generateversioned.FallbackGeneratorNameIfNecessary(generatorName, clientset.Discovery(), o.CreateSubcommandOptions.ErrOut)
		if err != nil {
			return err
		}
		if generatorNameTemp != generatorName {
			cmdutil.Warning(o.CreateSubcommandOptions.Err

[2020-05-14 04:46] manojchandrabss commented on #91087
/sig CLI

[2020-05-14 04:51] shrirama opened #91089 "using new storage device/volumes to pods without restarting pods"
**What would you like to be added**:
k8 pod does not detect newly added volumes/disks. can we have a mechanism to add newly added disk/volume to be visible in pod without restarting pod?
**Why is this needed**:
the application may require new on-demand storage  volume for stateful applications. Restarting pod is not an option as it takes time and loose state.

[2020-05-14 04:57] shrirama commented on #91089
/sig-storage

[2020-05-14 04:58] shrirama commented on #91089
/sig storage

[2020-05-14 05:22] enj commented on #90856
So I tried reading the hierarchical key structure but I will admit I am unable to parse what the image is trying to say ...

---

@immutableT would it be valuable to perform this experiment:

1. Create a cluster with KMS configured (to some cloud KMS) and create a large number of encrypted at rest secrets (100k?)
1. Set KMS `cachesize` cache size to > 100k
1. Restart cluster
1. Measure start up ti

[2020-05-14 05:22] feiskyer commented on #90986
@andyzhangx The function `extractVmssVMName()` is used to get the name from IMDS, and its format is `<scalesetname>_<vmId>`.

[2020-05-14 05:26] lyveng commented on #86944
/remove-lifecycle stale

[2020-05-14 05:30] feiskyer commented on #90986
From the above `compute.VirtualMachineScaleSetVMsClient#Update` errors, seems the request has been sent to VMSS but failed because it's not active. @stackempty Do you know the VM state during that time?

[2020-05-14 05:43] veeramalla-f5 opened #91090 "Print more details like path, termination to "kubectl get ingress" output"
**What would you like to be added**:
I have a fanout ingress for host pytest-beta.com with paths /payment and /product. Kubernetes does not print the detailed output when I use kubectl get ingress command. Please have a look at expected output section.
current output:
**oc get ingress**
NAME           HOSTS                          ADDRESS        PORTS     AGE
ingress-4         pytest-beta.com

[2020-05-14 06:02] Huang-Wei commented on #91029
And we can use this chance to remove the "v1alpha1" literal from `scheduler/framework/v1alpha1` as there is only one version of framework interface.

[2020-05-14 06:12] zhouya0 commented on #91088
/assign

[2020-05-14 06:40] #69358 closed

[2020-05-14 06:54] dhineshbabuelango opened #91091 "Not able to use the desired Security group when creating loadbalancer from kubernetes"
**What happened**: I am trying to create a service type load balancer by mentioning the annotation **service.beta.kubernetes.io/aws-load-balancer-security-groups** with a security group id but it is throwing error

CONFIG:
![image](https://user-images.githubusercontent.com/51995628/81902170-44602f80-95f2-11ea-9520-c53f68a9c7cc.png)

ERROR:
![image](https://user-images.githubusercontent.com/5199562

[2020-05-14 06:57] MikeSpreitzer opened #91092 "Improve ClientConfigLoadingRules#Load documentation"
**What happened**:
I wanted to learn about kubeconfig merging.  I started with the user-facing documentation, which is an imprecise muddle.  So I looked at the code, and found the same imprecise muddle (although with the benefit of being in the context of actual datatypes).
Look at https://github.com/kubernetes/client-go/blob/d4685ebf697c8e0d9c8ae48db6c0ce34221d0326/tools/clientcmd/loader.go#L163-

[2020-05-14 06:57] MikeSpreitzer commented on #91092
@kubernetes/sig-api-machinery-bugs

[2020-05-14 06:58] MikeSpreitzer commented on #91092
@deads2k

[2020-05-14 07:09] melvio commented on #56402
/remove-lifecycle stale

[2020-05-14 07:27] stephenstrangeMD commented on #56402
/remove-lifecycle stale

[2020-05-14 07:30] VGerris commented on #20555
Hi, this did not work for me in GKE with Kubernetes 1.15. I need to setup the / and /healthz for it to work. Perhaps /healthz + readiness probe is a working combination? There is some need for more documentation on the subject :).

[2020-05-14 07:42] #79907 closed

[2020-05-14 07:42] #83044 closed

[2020-05-14 07:49] mengxianghu-kkk commented on #74340
Maybe the memory is too small

[2020-05-14 07:57] szlyunnan opened #91094 "envents Killing container with id docker://xxx:Need to kill Pod"
**Describe**:
- Docker Version
   - 17.03.2-ce
- Kubernetes Version
   - v1.11.6

**Pod status**:
  `Terminating `

**Pod Events**:
   `Killing container with id docker://xxx:Need to kill Pod`

When exec docker ps in node host,  app container status is running, also view the logs using docker logs.
But docker exec -it xxx bash into app container, is error: rpc error: code = 2 desc = containerd: co

[2020-05-14 08:16] feiskyer opened #91096 "Azure cloud provider failed because of VirtualMachineScaleSets.virtualMachines.GET not allowed errors"
**What happened**:

The following errors would be reported when Azure VMSS orchestrationMode is set to VirtualMachines:

[code]

This is because VirtualMachines orchestrationMode doesn't support LIST virtual machines API. We should skip VMSS with those types in cloud provider.

Note the issue would happen even if the VMSS is not part of Kubernetes cluster because cloud provider lists all VMSS in t

[2020-05-14 08:16] feiskyer commented on #91096
/assign

[2020-05-14 09:18] stackempty commented on #90986
I am not sure of the state at the time, but i believe the VM was in some kind of failed state. The VM has since been deleted, but we had errors on the scaleset at the time.

The events on the VMSS look like this.

[code]

The VM was eventually deleted by the autoscaler, but the disk was never re-attached to a different node, and the pod remained in `ContainerCreating` for about 2 days until contro

[2020-05-14 09:24] rkojedzinszky commented on #91073
It seems that after some more time, kubelet recovers. Sometimes it takes one hour, sometimes two. Recovery is successful when I receive similar logs:
[code]

What is the reason that it takes so long for it to recover?

[2020-05-14 09:31] romanseidl commented on #15128
This seems to be still open. There is no documentation on the available fields.

[2020-05-14 09:32] romanseidl commented on #15128
/reopen

[2020-05-14 09:34] romanseidl commented on #15128
There is now many issues with this problem and they keep coming. Just because this simply never gets fixed. For years and years.

[2020-05-14 09:38] romanseidl opened #91101 "Another duplicate of fieldSelector syntax and usage not documented #15128"
**What would you like to be added**:
Documentation that has been missing for years.

**Why is this needed**:
Either just drop the feature or document it. Else it is simply useless.

I am looking forward to this Issue being removed for the duplication. But it seems to be intentional. There is already many duplicates of the first issue because this keeps getting ignored.

[2020-05-14 09:39] romanseidl commented on #91101
/sig docs

[2020-05-14 09:43] stawii commented on #85020
It works when you create Service, but fails on edit/patch. Workaround is to delete and (re)create service each time you need to add/change ports, BUT this isn't easy way!
Firstly, it happens for service to become unavailable for a moment, and this moment tends to sometimes longer than expected due to propagation errors:
[code]
or even:
[code]
Which clearly is not true as service is deleted and aft

[2020-05-14 09:43] kwiesmueller commented on #91006
Yes and it should result in the fields being cleared. I suppose we should clear it before going into an update.

Regarding the conversion question, i'm not too sure myself.
As far as I understand, it only fails if there is an existing manager with an old version. If the objects can't be converted to this managers version, because it is not known, we remove said manager.
So if the conversion fails

[2020-05-14 10:06] pjbgf commented on #81145
TL;DR
---
This is a non-issue in places where HTTP2 is enforced and cannot be disabled. As HTTP2 won't accept ciphers within their list of [bad cipher suites][] - which covers all ciphers this issue wants to remove from the kubelet.

From a security perspective, this may be a false positive if cluster admins have no way to disable HTTP2 on the kubelet, which I could not confirm. If that is the cas

[2020-05-14 10:18] mcginne commented on #90725
Our 32 core hosts are ~65% utilised, and it is only using ~ 10GB RAM on a 64 GB host, so should be plenty of resources spare.
Strange we are clearly being limited by the watcher performance, when we are not close to what you think the limits should be. There must be something subtly different about our workload I guess.
Not really sure where to go next with this, other than make sure we don't exce

[2020-05-14 10:57] darthenik commented on #43867
Still nothing?

[2020-05-14 11:14] distorhead commented on #86163
@dims Hello. Why closed?

There is unanswered question:

https://github.com/kubernetes/kubernetes/issues/86163#issuecomment-564601874

There is a detailed way to reproduce the issue, which does not provided in https://github.com/kubernetes/kubernetes/issues/58477

[2020-05-14 11:26] wojtek-t commented on #82364
/remove-lifecycle stale

[2020-05-14 11:47] dims commented on #86163
/reopen

[2020-05-14 12:43] mdavid626 commented on #23291
Please add support for TCP/UDP ingress! This is essential!!! If you want to expose e.g. a database with a fixed port with different hostnames or run a load balancer for non-HTTP traffic (e.g. for RabbitMQ).

e.g., two namespaces:
namespace1: db.myhost1.com:27017 (routes to db in namespace1)
namespace2: db.myhost2.com:27017 (routes to db in namespace2)

[2020-05-14 12:46] #76846 closed

[2020-05-14 12:58] yanivroz commented on #50375
+1

[2020-05-14 13:43] alculquicondor commented on #91029
+1

[2020-05-14 13:48] liggitt commented on #91073
The root cause is https://github.com/kubernetes/kubernetes/issues/82428, deduplicating against that issue

[2020-05-14 14:01] hkamel opened #91107 "[Failing Test] kubeadm-kinder-master (ci-kubernetes-e2e-kubeadm-kinder-master)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

Error: unknown cluster "kinder-regular"
 exit status 1
Ran 5 of 11 tasks in 0.000 seconds
FAIL! -- 2 tasks Passed | 3 Failed | 6 Skipped
see junit-runner.xml and task logs files for more details
Error: failed executing the workflow

**Anything else we need

[2020-05-14 14:02] andyzhangx commented on #80488
/remove-lifecycle stale

[2020-05-14 14:02] thomacos commented on #88157
We are still very interested into this issue being resolved.

/remove-lifecycle stale

[2020-05-14 14:14] hkamel commented on #91107
/sig testing

[2020-05-14 14:14] hkamel commented on #91107
remove /sig cluster-lifecycle

[2020-05-14 14:18] hkamel commented on #91107
/remove-sig cluster-lifecycle

[2020-05-14 14:20] borgerli commented on #91015
/assign

[2020-05-14 14:23] neolit123 commented on #91107
hi, let's track this in here: https://github.com/kubernetes/kubeadm/issues/2142
given we are already having discussion about it.
you can add the above ticket to your CI-signal project.

thanks.

/close

[2020-05-14 14:24] #91107 closed

[2020-05-14 14:24] hasheddan commented on #91107
Will do, thanks @neolit123!

[2020-05-14 14:48] #78861 closed

[2020-05-14 15:04] liggitt commented on #91070
That is why you are getting unauthorized errors. To be valid, a secret-based service account token must 1) have a valid signature and 2) still exist in a backing secret. Specifying both public keys took care of 1, but when you deleted the secret, you revoked the old token.

[2020-05-14 15:10] mritd commented on #87615
The `--goaway-chance` option was added in 1.18. Will this option alleviate this problem?

[2020-05-14 15:13] alculquicondor commented on #68701
/reopen

We might be ready for this, performance-wise.

However, this is change of semantics that I'm not sure plays well with API deprecation policies.

[2020-05-14 15:25] mlbiam commented on #89163
Got the v1 protocol working.  started working on v2 to find out that v2 and v3 aren't supported.  Just v1 and v4 with binary and base64 variants.

[2020-05-14 15:27] liggitt commented on #91070
To trigger creation of new token secrets while leaving the old ones valid, reset the 'secrets' field of the serviceaccount. A rough sketch of what this could look like is:

[code]

Obviously, step 4 is the least well-defined, since it means triggering a recreation of every pod in the system and redistributing updated tokens to anything that captured them for out-of-cluster use.

[2020-05-14 15:28] liggitt commented on #91070
Something like https://github.com/kubernetes/kubernetes/issues/91070#issuecomment-628709708 should be added to the service account admin documentation page, with lots of caveats around step 4.

Long-term time-bound service account tokens will make it much more reasonable to rotate keys automatically, since all minted tokens have a finite lifetime

[2020-05-14 15:29] liggitt commented on #87615
No. That only has an effect if the kubelet is actually able to reach the API server and get a response back.

[2020-05-14 15:39] liggitt commented on #91101
is https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/ what you are referring to?

[2020-05-14 15:42] belissner commented on #73597
Hello, we also had this issue and a Rescan storage on VMware cluster where the K8s nodes reside has solved the issue.

[2020-05-14 15:51] Shubhangi7490 commented on #79224
I thought this was already a feature until I got stuck with this issue. I don't understand why this has not been implemented yet. Please reopen this issue

[2020-05-14 15:58] tedyu opened #91110 "TestCmdInitFeatureGates/feature_gate_PublicKeysECDSA=true is flaky"
**Which jobs are flaking**:
kubernetes-integration

**Which test(s) are flaking**:
TestCmdInitFeatureGates/feature_gate_PublicKeysECDSA=true

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88980/pull-kubernetes-integration/1260947494611718147

**Reason for failure**:
[code]

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
- links to speci

[2020-05-14 15:59] alculquicondor opened #91111 "Add integration tests for pods becoming schedulable"
Pods can become schedulable due to different reasons. Some of them span across different objects (like nodes added, pods being scheduled, etc).

The logic goes all the way from getting the events to moving pods in the scheduling queues and finally doing the scheduling attempt.

More coverage would be useful.

[2020-05-14 15:59] alculquicondor commented on #91111
/sig scheduling

[2020-05-14 16:01] alculquicondor commented on #91111
/help

[2020-05-14 16:08] Matty9191 commented on #91070
Thanks @liggitt for the explanation. That makes perfect sense, and it looks like your comment in 22351 was spot on. Hopefully this thread will others who are checking into this!

[2020-05-14 16:18] luisdavim commented on #27858
/reopen
/remove-lifecycle rotten

This is still an issue, I'm trying to record some events from a job that is created as a child of my custom resource and most of the times I don't get the events.

[2020-05-14 16:46] tedyu commented on #90950
#90897 has been merged.
You can build kubelet and try again.

[2020-05-14 16:51] apelisse commented on #90610
/wg api-expression

[2020-05-14 16:52] apelisse commented on #90904
/wg api-expression

[2020-05-14 16:59] coreyoconnor commented on #47368
IMO this request is still valid. Tho I can't currently offer any assistance. Nor does it look like anybody else is available. Still, best keep valid requests open?

/remove-lifecycle rotten

[2020-05-14 17:08] #56180 closed

[2020-05-14 17:08] gautierdelorme opened #91114 "CRD invalid field validations return empty values"
**What happened**:

I created a custom resource definition with a pattern (regex) validation. Then, I created a custom resource with invalid fields and it failed with an empty value in validation error details.

[code]

**What you expected to happen**:

The creation of custom resources with invalid fields should fail with given (invalid) values in validation error details:

[code]

**How to reprod

[2020-05-14 17:10] gautierdelorme commented on #91114
/sig api-machinery

[2020-05-14 17:20] soltysh commented on #42552
Above is sufficient answer and I'm not expecting us fixing this.
/close

[2020-05-14 17:20] #42552 closed

[2020-05-14 17:26] tedyu commented on #90334
I would expect to see the following since there had been 5 containers shown in above listing (containersToKeep == 2):
[code]

[2020-05-14 17:27] Manjunath34 opened #91115 "How to create master & node with full setup in yaml"
How to create master & node with full setup(etcd controller api scheduler docker) through yaml

[2020-05-14 17:37] dims commented on #79224
note just reopen is not going to help unless someone is ready to roll up their sleeve and help with writing a KEP. 🤷

/reopen

[2020-05-14 17:52] tedyu commented on #90334
In the log of a patched 1.18 node, I saw the following:
[code]

[2020-05-14 18:03] tedyu commented on #90334
@matthias50
Can you take a look at what I observed and see if you get the same behavior on this patch ?

[rm-excess-log-local-map-3.txt](https://github.com/kubernetes/kubernetes/files/4630129/rm-excess-log-local-map-3.txt)

[2020-05-14 18:05] rikatz commented on #88986
Red Hat released the kernel 3.10.0-1127.8.2.el7.x86_64 but the problem still persists. Let's wait until a new kernel release arrives

[2020-05-14 18:10] camille-rodriguez commented on #21582
Looking for an update, this would be a great feature. Also, both links regarding migration are pointing to a 404 now

[2020-05-14 18:14] johnbelamaric commented on #90957
More or less, yes. If we need to read results mid-test, I think that will be OK, rather than waiting for the end. The main point is to wrap the watch such that it gets restarted if it fails. That wrapper will need to sit between the raw watch channel and the test:

raw watch -> channel -> wrapper (restarts watch if closes/fails prematurely) -> channel consumed in test

I'm a little surprised there

[2020-05-14 18:15] nicowilliams commented on #91036
It's very difficult and in some cases even impossible for applications to reliably, portably, and securely determine the FQDN of the host they are running on without the nodename being set to that FQDN to begin with.

For example, the `defdname` field of `res_state`/`res_nstate` is not a committed public interface in most C library resolver APIs.  Neither is `/etc/resolv.conf` something that appli

[2020-05-14 18:18] johnbelamaric commented on #90957
Also, if we have the "protected watch" wrapper, not sure we need to retry the test on failure. AFAIU, the only reason we wouldn't see the watch events we expected would be because of etcd compaction, which would not be expected to happen in e2e clusters, and even if it did it would not happen to event histories that are brand new (i.e., it only compacts old history). Again would like @smarterclayt

[2020-05-14 18:27] BenTheElder commented on #90117
this kubectl test is our biggest flake source right now https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-kubernetes-e2e-kind
going to take a poke at it today hopefully.

[2020-05-14 18:51] thanos1983 commented on #54918
The only solution that worked for me on v1.18.2 with centos 7.

I tried both weave and flannel both the same problem.

Thanks a million :)

[2020-05-14 18:57] Huang-Wei commented on #68701
The API doesn't give a clear explanation on it in my eyes.

And given that PodAffinity has been there for 10+ releases, to be honest I guess rare users have noticed this implicit semantics... or at lease not care too much.

[2020-05-14 20:10] fedebongio commented on #91050
/sig auth

[2020-05-14 20:11] fedebongio commented on #91063
thank you @liggitt for looking at the PR

[2020-05-14 20:12] fedebongio commented on #91074
/cc @apelisse @kwiesmueller

[2020-05-14 20:15] fedebongio commented on #91114
/assign @roycaihw
Haowei, would you be able to take a look to this one please?
Thanks!

[2020-05-14 20:17] figassis opened #91117 "Kubernetes-managed hosts file not in sync with node for HostNetwork pods"
**What happened**: I added a node to a cluster and updated /etc/hosts in all nodes, but the etdc pod on the new node was crashing because the etcd pods in other nodes could not resolve the new node's name. I deleted the etcd pods and they came back up still missing the hosts entry, which was already in the respective node's hosts file.

**What you expected to happen**: I expected each pod to come

[2020-05-14 20:18] connorworkman commented on #79224
@BrijJhala

I think you forgot to envFrom the secretRef in your container spec, like this:
[code]

[2020-05-14 20:18] figassis commented on #91117
/sig network

[2020-05-14 20:28] raelga commented on #30784
/remove-lifecycle stale

[2020-05-14 20:29] raelga commented on #30784
/remove-lifecycle rotten

[2020-05-14 20:32] caseydavenport commented on #90083
Just wanted to clarify a few things I read above:

Flannel uses VXLAN, but it is still a routed network (there is a routed hop between the pod and the VXLAN tunnel, so you don't actually get L2 networking between pods on separate hosts).

Calico doesn't _require_ this, it's just the default. You can set that value to whatever you like.

It looks like this is the fundamental issue here. You seem to

[2020-05-14 20:33] #90083 closed

[2020-05-14 20:46] aojea commented on #73099
@BenTheElder is right, it seems to be present in kind jobs now only

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Kubectl%20client%20Simple%20pod%20should%20support%20inline%20execution%20and%20attach

[2020-05-14 20:56] caseydavenport commented on #72044
/unassign

[2020-05-14 20:58] thockin commented on #89898
I have no idea what might cause spurious probe failues.  @derekwaynecarr have you heard any other reports of this?

@tarunwadhwa13 are you saying PROBES failed (always same node) or user traffic failed?  If you have any other information about what was going on with those nodes when the failures happen, it would help.  Check for OOMs, high CPU usage, conntrack failures?

[2020-05-14 21:00] thockin commented on #89917
Ping @ankita-1420

To echo Bowei - the Ingress API intentionally does not cross namespaces.  If you REALLY need to do that, you can maybe use the service-NEG controller and link the NEGs together manually though an HTTP LB directly?

[2020-05-14 21:00] #89917 closed

[2020-05-14 21:01] #89920 closed

[2020-05-14 21:08] thockin commented on #90997
Is this resolved now?

[2020-05-14 21:10] danwinship commented on #91036
I have never heard anything from the OpenShift PMs about any customers having problems with this, and searching for "fqdn" in bugzilla/jira doesn't turn up any obvious RFEs.

[2020-05-14 21:13] ashutoshgngwr commented on #89917
Ping @thockin @bowei

In case someone else wanders here with a similar issue. Another solution could be to create a service of type [`ExternalName`](https://kubernetes.io/docs/concepts/services-networking/service/#externalname) in the same namespace as the ingress resource. The said `ExternalName` service could point to the FQDN of any service in another namespace.

[2020-05-14 21:13] thockin commented on #90903
Hi,

This doesn't look like a Kubernetes bug report or feature request.  Please use one of the other mechanisms for such requests - slack, discuss, StackOverflow etc

[2020-05-14 21:13] #90903 closed

[2020-05-14 21:24] alculquicondor opened #91120 "Document how to create in-tree plugins"
We have recently changed how plugin args are parsed, defaulted and (#90859) validated.

The process is more complicated than most standard API uses.
We need to document this.

/kind documentation

/help

[2020-05-14 21:25] alculquicondor commented on #91120
/sig scheduling

[2020-05-14 21:28] immutableT commented on #90856
Yes it would be. Furthermore, I think it would be a useful metric to have (see #91119).

While I am working on this experiment, I can provide some rough numbers based on my environment.
Since we measure the latency at both points: kube-apiserver and kms-plugin, by subtracting the median latency at kube-aipserver from that of kms-plugin, I estimated the overhead of over the Unix Domain Socket commu

[2020-05-14 21:29] matoszz commented on #57601
Also, is anyone aware of how to simply set a newly created service account as the namespace "default"? There appears to be no way of even creating a new account and using that as the default pods would assume.

[2020-05-14 21:30] andrewsykim commented on #90854
The 1 second IPVS delay also sounds very familiar to what we saw in https://github.com/kubernetes/kubernetes/issues/70747 and https://github.com/kubernetes/kubernetes/pull/71114. Disabling `conn_reuse_mode` fixed this performance issue for a lot of users and kube-proxy does try to set this on start up. @skamboj can you confirm if `net/ipv4/vs/conn_reuse_mode` to is set to `0` to rule out that issu

[2020-05-14 21:33] thockin commented on #89956
Are you saying that 2 pods in the same deployment get different resolv.conf?

That seems like a real bug - please confirm?

[2020-05-14 21:34] andrewsykim commented on #90854
/area ipvs

[2020-05-14 21:34] thockin commented on #89956
@neolit123 when dealing with sig-net bugs, please leave the triage/unresolved label until sig-net confirms.  Otherwise we lose issues.  Thanks!

[2020-05-14 21:43] wking commented on #65618
This was addressed via kubernetes/enhancements#1144 (see [here][1]) and #90126.

[1]: https://github.com/kubernetes/enhancements/pull/1144/files#diff-55982acee19ca4466736d3b3c150218aR146

[2020-05-14 21:43] neolit123 commented on #89956
sure, i will know from now on. i guess this is more of a case where my `/triage support` prevented the sig-network bot from adding the `triage/unresolved` label.

also not sure what happened with the triage changes KEP and when it become reality.

[2020-05-14 21:58] matthias50 commented on #90334
Seems to be working now. I see these logs after a while:

[code]

Slightly different because I have the .gz files and 5 log files per container, but it is cleaning up everything else, so I am happy.

Here are the "removed" logs:
[code]

[2020-05-14 21:59] Huang-Wei commented on #90025
All working items are tracked at #91038.

[2020-05-14 21:59] #90025 closed

[2020-05-14 22:06] #90072 closed

[2020-05-14 22:06] aojea commented on #90961
hi @yinkun111 ,

how is done this integration? using the cloud-provider-openstack and the cinder-csi-plugin?

https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-cinder-csi-plugin.md

[2020-05-14 22:08] hamburgerbun opened #91121 "Azure 1.17.3, 1.18.2: subscriptionId and resourceGroup left out of az client URLs?"
**What happened**:
running a cluster deployed non-AKS cluster on azure, where kubelet is given extra default options --cloud-provider=azure and --cloud-config=/etc/kubernetes/azure.json, kubelet on both master and worker nodes never seems to figure out how to do vmSet reads on azure rest api where with extra verbosity, errors show up suggesting chunks of the URL don't get filled in.

May 14 20:15:

[2020-05-14 22:08] #90276 closed

[2020-05-14 22:11] hamburgerbun commented on #91121
/sig cloud-provider

[2020-05-14 22:12] thockin commented on #90427
Think of Endpoints as a derived resource from {Service, Pods} in the normal case (selector).

When there's no selector, you are signing up to manage the Endpoints yourself.  There is no controller involved, nor any port remapping.

In this case, you have updated the Service object, but not updated the Endpoints object.

[2020-05-14 22:12] #90427 closed

[2020-05-14 22:12] #90429 closed

[2020-05-14 22:15] thockin commented on #90444
In 6 years I have not heard anyone ask for this, and there's a viable workaround, so the chances of it being accepted right now are very low.  If tons of users suddenly pop up, we could reconsider.

The simple fact is that we have too many really URGENT things that have no workarounds at all, and we can't reasonably make time to review and support it right now.

[2020-05-14 22:15] #90444 closed

[2020-05-14 22:15] alculquicondor commented on #88174
## The scores

- `PodTopologySpread`: This score calculation is somewhat complicated, but can be resumed as:
  1. Calculate number of matching pods per topology. There is some new feature that takes in consideration the skew #90820
  2. Normalize by `(minCount+maxCount-currCount)/maxCount*100`.

  The effect is that pods with the lowest count get a score of `100`. Then the rest of the scores go fr

[2020-05-14 22:16] #90446 closed

[2020-05-14 22:17] thockin commented on #90512
ping on this?  Can we confirm it's a bug with a repro?

[2020-05-14 22:19] thockin commented on #90764
@johnbelamaric

[2020-05-14 22:25] thockin commented on #90922
The short answer is that this field was not designed to be changed.

The longer answer is that it COULD be (re)designed to be changeable, but as you point out that would require to change the bitmap-based allocator to something more sophisticated.  AND it would have to be done in a way that we can upgrade existing clusters with existing allocations.

I won't say that we would not take such a chang

[2020-05-14 22:25] rikatz commented on #90446
Tks Tim, I was going to close this today after the second cycle (two sig-network meetings)

[2020-05-14 22:26] thockin commented on #90922
I am going to re-title this and declare it a feature request with relatively low prio.  If someone wants to step up to implement, we can talk.

[2020-05-14 22:52] johnbelamaric commented on #90764
/assign

[2020-05-14 22:56] johnbelamaric commented on #90764
Yes, I have seen this before, that if the nodes have an external address it will use that one, which means the firewall must be open for that. If the nodes do not have an external IP then the test will pass just fine. It's not as much a bug as an inconvenient implementation. But we can treat it as a bug and fix it. The intent of the test is to make sure the service is plumbed properly.

[2020-05-14 22:57] johnbelamaric commented on #90764
/remove-triage unresolved

[2020-05-14 23:06] lavalamp commented on #88174
Sounds reasonable.

It's mathematically equivalent to changing the formula to e.g. `(minCount+maxCount-currCount)/maxCount*50`, right?

Have you considered doing that instead of changing the weight? It seems like that'd help everyone except those who specifically already increased `PodTopologySpread`, instead of just people who are using the defaults?

[2020-05-14 23:54] liggitt commented on #91114
Thanks for the report. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/90128

[2020-05-14 23:54] #91114 closed

[2020-05-14 23:56] liggitt commented on #90128
Another openapi validation value issue reported at https://github.com/kubernetes/kubernetes/issues/91114, would be good to consider how both of these can be fixed at the same time

[2020-05-15 00:05] lavalamp commented on #88174
It'd make sense to me if the available functions were in the same scale / units so that they'd compose better, but it's not obvious how to do that--what would the units be? One thought is to make the units "std deviations from the mean"--if we knew the output frequency of each function, we could maybe do that. So basically this would measure how unusual a preference is, I guess.

(I don't think th

[2020-05-15 00:21] chief93 commented on #90083
@caseydavenport thanks for you reply!

1. Yes, my thoughts about how Flannel works were a little bit wrong, but in any case the kube-router fits perfectly for me (it doesn't spam the ARP table of upstream router)
2. About you cite:

Yes, but in every docs I have encountered about Calico setup were saying that this is a very bad idea to change the default network addresses. I think that in Kuberene

[2020-05-15 00:28] unstableunicorn commented on #59876
@juniormayhe
We came across this after updating to docker-desktop 2.3.0.2. [issue#1703](https://github.com/docker/for-win/issues/1703#issuecomment-366701358) finally had the answer for us:
Instead of:
[code]
It works with:
[code]
I can not find any official information on this but I hope this helps someone else who comes across this issue.

[2020-05-15 01:01] djjayeeta commented on #72775
/reopen

[2020-05-15 01:06] alculquicondor commented on #91120
/good-first-issue

[2020-05-15 01:12] Asday commented on #53533
One might venture to say that the applications running in those containers are written incredibly poorly.

[2020-05-15 01:23] hex108 commented on #86630
/remove-lifecycle rotten

I'll do it in following days.

[2020-05-15 01:35] djjayeeta commented on #72775
I am facing the same issue, #85207 doesn't seem to fix the issue. My version
 Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.8-gke.6", GitCommit:"f97d54712d01b555515656671a2cf171b4f47bb8", GitTreeState:"clean", BuildDate:"2020-03-25T20:11:05Z", GoVersion:"go1.13.8b4", Compiler:"gc", Platform:"linux/amd64"}

It seems to happen only with CPU metrics, I tried using memory metr

[2020-05-15 01:44] skamboj commented on #90854
I can confirm that `net/ipv4/vs/conn_reuse_mode` is indeed `0`. Sorry didn't mention it in the bug report but we did find those issues and rule that out as well as some other settings like `net/ipv4/tcp_timestamps`, `net/ipv4/tcp_tw_reuse` and `net/ipv4/tcp_tw_recycle`. Changing those values does not change the behavior.

Please note that we can reproduce this behavior on an "empty" cluster with a

[2020-05-15 02:41] jasonliu747 commented on #52757
related issue: https://github.com/NVIDIA/k8s-device-plugin/issues/169

[2020-05-15 02:47] michaelgugino opened #91128 "[Flakey Test] pull-kubernetes-e2e-kind high failure rate"
**Which jobs are flaking**: pull-kubernetes-e2e-kind

**Which test(s) are flaking**: Various

**Testgrid link**: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind

**Reason for failure**: Unknown

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
- links to specific failures in spyglass appreciated

[2020-05-15 03:03] liggitt commented on #91128
I know @BenTheElder is already aware, but I didn't see another tracking issue. In general, our CI nodes seem more resource constrained recently (xref https://github.com/kubernetes/kubernetes/issues/91075)

[2020-05-15 03:29] AndrewSav commented on #53533
This is kind of irrelevant, and fingerpointing is rarely constructive. Kubernetes ecosystem is built to support wide range of application profiles, and singling out one of them like this does not make much sense.

[2020-05-15 04:07] answer1991 opened #91131 "GOAWAY may cause client error when client request server in high concurrency"
**What happened**:

We enabled [GOAWAY](https://github.com/kubernetes/kubernetes/pull/88567) feature in our large-scale cluster, and we found client(Kubelet) may got error(500 http code response) like `request declared a Content-Length of N but only wrote 0 bytes` after received GOAWAY frame.

I had already re-produce this bug and open an [issue](https://github.com/golang/go/issues/39086) in golan

[2020-05-15 04:08] answer1991 commented on #91131
cc @lavalamp @liggitt @deads2k @wojtek-t

[2020-05-15 04:12] answer1991 commented on #91131
/sig api-machinery

[2020-05-15 04:46] #91088 closed

[2020-05-15 05:02] BenTheElder commented on #91128
In addition to the resource constraints we may be hitting in the CI there've been multiple seemingly unrelated issues hitting us
- iptables userspace lock being held too long (hopefully improved in CNI plugins 0.8.6 which we've rolled out)
- this particular test case has started flaking excessively: https://github.com/kubernetes/kubernetes/issues/73099
- kubelet bug with auto-selected node IP not

[2020-05-15 05:02] #86007 closed

[2020-05-15 05:02] #74674 closed

[2020-05-15 05:27] sparkoo commented on #90512
@thockin I've provided script that reproduce the issue on my minikube https://gist.github.com/sparkoo/21fc1ef85872d2919f73e9d03f06693e so you can try it on your side.

[2020-05-15 05:37] BenTheElder commented on #91128
better flake hunting data:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-kubernetes-e2e-kind

[2020-05-15 07:07] invidian commented on #91050
I found some extra conversation around this topic here: https://github.com/golang/go/issues/26918.

Notes:
- I think there should be a metric produced counting TLS handshake errors, so they can still be monitored

[2020-05-15 07:14] win-t commented on #53533
lol, this is a kernel feature, an application can use `madvise(2)`, and we don't block madvise syscall,
so it is eligible for the user to leverage this feature on their design, you cannot say "are written incredibly poorly",

[2020-05-15 07:22] yqwang-ms commented on #83826
/remove-lifecycle stale

[2020-05-15 07:32] SvenMW commented on #70082
I'm hitting this bug over and over again in a rancher deployment, any news on this?

[2020-05-15 07:43] metatick commented on #53533
Your reply indicates you don't understand workloads many developers are working with.

The workload I mentioned deals with different sized data sets provided by users, hence the large range of possibly resource requirements.

Sure, we _could_ use memory mapped files to keep memory use consistent. W'd then need to rewrite any libraries to use memory mapping themselves, which would include more-or-l

[2020-05-15 07:47] ylhyh opened #91132 "hostAliases not work in Windows pod"
**What happened**:
spec.hostAliases do not work in Windows pod

**What you expected to happen**:
It's able to use spec.hostAliases add entry to "c:\windows\system32\drivers\etc\hosts"

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a Windows pod with hostAliases settings:
[code]
2. Check c:\windows\system32\drivers\etc\hosts in Windows pod, entry "172.16.126.238 host.e

[2020-05-15 07:49] ylhyh commented on #91132
/sig sig-windows

[2020-05-15 07:58] vincent-pli opened #91133 "Document the size of "terminationMessage""
In out case, we use `terminationMessagePath` to point to certain file, use it to pass information between `Pod/Container` to our `Controller`,  seems the file has size limitation to `4096`
https://github.com/kubernetes/kubernetes/blob/96e13de777a9eb57f87889072b68ac40467209ac/pkg/kubelet/kuberuntime/kuberuntime_container.go#L420

So do we document the limitation somewhere, thanks

[2020-05-15 07:58] imchand opened #91134 "hpa is not able to collect metrics from metrics server"
**What happened**:
i have deployed a php-apache server and configured hpa.  seems like hpa is not able to collect metrics from metric server.

 **kubectl top pod**
Error from server (ServiceUnavailable): the server is currently unable to handle the request (get pods.metrics.k8s.io)

root@ubuntu:~# **kubectl get hpa**
NAME         REFERENCE               TARGETS         MINPODS   MAXPODS   REPLICAS

[2020-05-15 08:04] llussy commented on #70082
This happens every seven days.33 hours at a time.  o(╥﹏╥)o
![image](https://user-images.githubusercontent.com/18432966/82026734-bbb2c380-96c5-11ea-990c-097149e2455a.png)

[2020-05-15 08:05] #86336 closed

[2020-05-15 08:06] gautierdelorme commented on #90128
I reported the other related issue linked by @liggitt. How do we want to fix that? Should we make a code change in go-openapi? I shared a diff to resolve it in the other issue.

[2020-05-15 08:14] ylhyh commented on #65016
@claudiubelu

`ClusterFirstWithHostNet is not supported for DNS. Windows treats all names with a ‘.’ as a FQDN and skips PQDN resolution`

Described here: https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/

[2020-05-15 08:43] bboreham commented on #90072
Sorry I missed the notifications on this issue.  The best place to report an issue with Weave Net is https://github.com/weaveworks/weave/issues/new, where there is a template requesting useful information like log files.

[2020-05-15 08:53] vincent-pli commented on #91133
/sig docs

[2020-05-15 09:47] #89728 closed

[2020-05-15 09:47] #90627 closed

[2020-05-15 09:48] #91021 closed

[2020-05-15 10:22] makkes commented on #90764
Good point. However, we only assign an external IP address to be able to SSH into the host and thus block all other ports.

[2020-05-15 10:27] Helcaraxan commented on #88472
Another outsider jumping in here (sorry :sweat_smile:). I have no contribution history within the k8s project but I do have a significant experience with Go modules and their workflows for small and large Go projects.

The problem of transitive dependencies on `client-go` (and other k8s components) has been one that keeps coming up very frequently in the #modules channel (and others) on the Gopher

[2020-05-15 11:01] cofyc commented on #90958
should I add the versioned counterparts in exiting v1alpha2 or new version v1alpha3?

[2020-05-15 11:07] cofyc opened #91139 "Add versioned counterparts for VolumeBindingArgs"
part of https://github.com/kubernetes/kubernetes/issues/90958

also, we need to add tests in pkg/scheduler/apis/config/scheme/

/sig scheduling
/kind cleanup

[2020-05-15 11:07] cofyc commented on #91139
/assign

[2020-05-15 11:12] lllamnyp commented on #87016
This is, apparently, to be expected. `kill -s SIGINT 1` executes quickly and postgres begins its graceful shutdown. However, the graceful shutdown happens in the background. From the kubelet's point of view, the preStop hook has ran to completion, so kubelet immediately sends a SIGTERM to postgres. What you are looking for, is a handler for SIGTERM in the entrypoint of your container.

[2020-05-15 11:29] chief93 commented on #90594
Seems like I found a highly-likely working solution for getting cluster up and running again after described disasters:

1. [pre-condition for LXC] make sure that hypervisor has disabled swap by executing `swapoff -a`
2. recommended to start the working nodes AFTER master node
3. **IMPORTANT** (direct related to the described issue) - after getting nodes running, RESTART the `CNI` controller pod (

[2020-05-15 11:31] SergeMerge commented on #85987
Hello there.

I have faced the exact same problem with kubernetes installed by kubespray. My cluster configuration - 4 nodes (4 masters and 4 workers at the same time). Cluster's kube-controller-manager and kube-scheduler restarts every day without any known reason - state was just Error and that's all.

Is there any updates for this issue? Or maybe somebody knows how to fix this?

[2020-05-15 11:40] ahg-g commented on #90958
The existing v1alpha2.

[2020-05-15 11:50] balous opened #91141 "Infinite drain with terminating pod with node affinity and PDB"
**What happened**:
I've set up two resources:
- a statefulset with two replicas, node affinity to two nodes and pod antiaffinity to itself. The pods take some time to terminate.
- a pod distruption budget requiring one replica of the statefulset to be present

(this is just a stripped down scenario of what we observe in production cluster)

Then I've proceeded with two steps:

1) kill one of the p