[2019-06-27 13:10] mattjmcnaughton commented on #79434
Hi @Ravikiran7161 !

I think you may have the best luck creating an issue on either Jenkins/or whatever you used to deploy Jenkins to k8s (i.e. helm, etc...).

/remove-sig node

[2019-06-27 13:11] frapposelli commented on #79469
/cc @frapposelli

[2019-06-27 13:12] mattjmcnaughton commented on #79457
Hi @Nebulazhang !

Thanks for posting :)

I think this is a repo of https://github.com/kubernetes/kubernetes/issues/39758 - could I trouble you to close this issue, and instead offer a "plus one" on that issue? Thanks!

[2019-06-27 13:42] aroundthecode opened #79478 "Stateful set scaling causes SecurityContext loss"
**What happened**:
Scaling a StatefulSet causes SecurityContext reset to default

**What you expected to happen**:
SecurityContext should be preserved upon scaling

**How to reproduce it (as minimally and precisely as possible)**:
deploy a StatefulSet set with

[code]
first Pod correctly gets securityContext values.

Scaling to 2 reset StatefulSet securityContext to {}
[code]

 Second Pod is there

[2019-06-27 13:57] aroundthecode commented on #79478
/sig scalability

[2019-06-27 13:58] mcandre opened #79479 "env valueFrom another env var"
**What would you like to be added**:

`spec.containers[n].env.valueFrom.environmentVariable`

**Why is this needed**:

In order to reduce application code involved with munging Kubernetes environment variables.

[2019-06-27 14:04] draveness commented on #79464
I met this problem too

[2019-06-27 14:05] sttts commented on #79472
enum and int-or-string is solved in v3.

My main question is: if we want to produce a v3 compatible spec using the go-openapi/spec types, what is missing?

[2019-06-27 14:11] draveness commented on #79464
I met this problem during development several hours ago, but I solved it by rebasing the master branch, is this still exists? I just ran tests against the master, and passed the tests without this error:

[code]

[2019-06-27 14:15] ronakpandya7 commented on #79466
/sig network
/sig node

[2019-06-27 14:16] ronakpandya7 commented on #79466
Hello @dpoison,

We are facing the same issue in our kubernetes cluster.

Did you find any workaround here?

Thanks in advance

[2019-06-27 14:48] max-rocket-internet commented on #79365
Here the job:

[code]

And here's the deployment:

[code]

I deleted all the `Completed` pods and the HPA started working again. And then when new `Completed` pods are present, I see these events:

[code]

[2019-06-27 14:56] max-rocket-internet commented on #79365
Maybe worth noting that even though I got these events and the HPA is saying `failed to get cpu utilization: missing request for cpu` it still didn't transition to `<unknown> / 70%` after 10 minutes. But if I create the HPA while there is these `Completed` pods then it stays in `<unknown>` state.

[2019-06-27 15:10] wojtek-t commented on #79464
Hmm - the test is running every 20 minutes, and fetching from head, so I think it's something different...

[2019-06-27 15:29] draveness commented on #79464
Where could we find the original code to run the test?

[2019-06-27 15:39] paemason opened #79809 "Unable to create PVC using a storage class with vSphere storage policy defined (secure connection to vCenter)"
Expectation-
We should be able to create PVCs via a storageclass with storagePolicyName defined while using a singed ca cert for secure communications with vCenter.

Bug-
The PVC created with a storageclass with storagePolicyName defined fails with a `x509: certificate signed by unknown authority` error when PVCs created with a storageclass without the storagPolicyName work against the same vCente

[2019-06-27 15:49] sttts commented on #79464
`kubernetes/pkg/generated` has generated code which we don't commit. Either skip the tests or generate before. Not sure how I can help here. This is pretty test environment dependent.

[2019-06-27 16:02] wojtek-t commented on #79464
Thanks Stefan - that explains a lot. I will look how to do that the easiest way then.

[2019-06-27 16:26] gbharanikumar opened #79481 "@kubernetes/sig-network: Regarding SCTP multi-homing support in Kubernetes"
Could you please let me know where do we stand with SCTP multi-homing support in K8s?
I am looking at the feasibility analysis of on boarding one of the Telecom NF to my k8s cluster which has SCTP interface to another Telecom NF. And i want to have the SCTP multi-homing feature for high avialability, etc

[2019-06-27 16:34] gbharanikumar commented on #79481
@kubernetes/sig-network

[2019-06-27 16:34] gbharanikumar commented on #79481
not sure how to add the label

[2019-06-27 16:38] lumjjb commented on #22888
@sharmagaurav03 I believe there are multiple solutions out there, each platform may use a different one. IBM uses https://github.com/IBM/portieris afaik for their offering. But like @ams0 mentioned, a lot of this are just helm charts/deployments on top of an existing kubernetes cluster, and are easily configurable.

[2019-06-27 16:52] odinuge commented on #79455
/sig cli

[2019-06-27 17:14] slmingol commented on #30861
Had a user of our Openshift 3.11 cluster just run into this exact issue as well.

{code}
15:50:27      State:      Terminated
15:50:27        Reason:   ContainerCannotRun
15:50:27        Message:  oci runtime error: container_linux.go:235: starting container process caused "process_linux.go:292: setting oom score for ready process caused \"write /proc/264715/oom_score_adj: invalid argument\""
15:5

[2019-06-27 17:15] Cherishty commented on #79437
@liggitt  Thanks you
While according to the [same page](https://microsoft.sharepoint.com/teams/ProjectCarina/_layouts/OneNote.aspx?id=%2Fteams%2FProjectCarina%2FShared%20Documents%2FCarina&wd=target%28CAP.one%7C89072344-4855-4B77-A8B4-E29BF40CF7E7%2FCluster%20proxy%7C9E2462D6-DD8E-4B45-A974-D4A58EF8DDC0%2F%29
onenote:https://microsoft.sharepoint.com/teams/ProjectCarina/Shared%20Documents/Carina/CA

[2019-06-27 17:24] RobertKrawitz commented on #79466
"Resource temporarily unavailable" maps to EAGAIN, which can be returned by exec() if the process has reset its real UID but is above its resource limit, or by fork() for any number of reasons including PID exhaustion.  Unfortuantely, the message is not clear on whether it was the fork() or exec() that failed.  How many pods are you running, and what are the values in `/proc/sys/kernel/pid_max` an

[2019-06-27 17:29] MikeSpreitzer opened #79485 "build flake: pull-kubernetes-bazel-build fails with "UNAVAILABLE: 502:Bad Gateway""
**Which jobs are failing**:
pull-kubernetes-bazel-build
pull-kubernetes-bazel-test

**Which test(s) are failing**:
N/A

**Since when has it been failing**:
Not sure.  Noticed it midday 27 June 2019.

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78808/pull-kubernetes-bazel-build/1144269794934001664
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78808

[2019-06-27 17:32] tamalsaha opened #79486 "kubebuilder and controller-* libraries should follow k8s release cadence"
Kubebuilder is becoming the common way to develop operators /controllers for Kubernetes. With the release of various new features of CRD, it seems that new annotations are added to kubebuilder instead of code-generator repo. But one issue with kubebuilder and its controller-runtime and controller-tools repos is that these are not released with the same cycle as Kubernetes. In recent times, these l

[2019-06-27 17:32] tamalsaha commented on #79486
/sig apimachinery
/sig arch

[2019-06-27 17:35] tamalsaha commented on #79486
/area custom-resources

[2019-06-27 17:36] soggiest opened #79487 "[Failing Test] [sig-network] DNS configMap nameserver failing in master blocking"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
[sig-network] DNS configMap nameserver [IPv4] Forward PTR lookup should forward PTR records lookup to upstream nameserver [Slow][Serial]Changes

**Since when has it been failing**:
6/20/2019

**Commit Diffs that began failing test**
https://github.com/kubernetes/kubernetes/compare/00e13dbc1...4e0b76469

**

[2019-06-27 17:37] MikeSpreitzer opened #79488 "integration flake: pull-kubernetes-integration fails k8s.io/kubernetes/test/integration/scheduler"
**Which jobs are failing**:
pull-kubernetes-integration

**Which test(s) are failing**:
k8s.io/kubernetes/test/integration/scheduler

**Since when has it been failing**:
Noticed it midday 27 June 2019

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78808/pull-kubernetes-integration/1144269794938195969/

**Reason for failure**:
Unknown

**Anything else we need to kn

[2019-06-27 17:40] hoyho commented on #30553
/reopen

[2019-06-27 17:41] hoyho commented on #30553
Currently, `reconciler.reconcile()` don't have a clear logic.  There's a code block to detach volume from `actualStateOfWorld`. That code should be moved to a function like the following `attachDesiredVolumes()`, which can make code cleaner and easier to understand

[2019-06-27 17:50] ronaldmiranda commented on #70147
+1

[2019-06-27 17:53] #68658 closed

[2019-06-27 18:11] MikeSpreitzer commented on #79485
A retest of the bazel build succeeded, so this is definitely a flake.

@kubernetes/sig-testing-pr-reviews : if you are not the best folks to tag on this, please update with a better tag.

[2019-06-27 18:18] Katharine commented on #79485
Looks like the RBE cluster briefly became unavailable? Infrastructure failure we can't do much about, probably.

[2019-06-27 18:37] #75050 closed

[2019-06-27 18:50] robottaway opened #79492 "Sometimes Fails to Restart Pod causing stuck PodInitializing"
**What happened**:

Approximately 1 in 10 times when starting a POD (we run 100s of this across 20+ clusters) we end up in state of PodInitializing which never moves forward because at Docker level everything is broken. You can see below that Docker knows it started container and it failed, but Kubernetes never seems to find out and therefore never tries to restart container.

[code]

Correlating

[2019-06-27 19:00] robottaway commented on #79492
/sig node

[2019-06-27 19:05] s-pace commented on #67940
/remove-lifecycle stale

Happy to help to integrate it.

[2019-06-27 19:09] MikeSpreitzer commented on #79488
A retest succeeded, so this is definitely a flake.

@kubernetes/sig-testing-pr-reviews : if you are not the best folks to tag this with then please update the tag.

[2019-06-27 19:13] BenTheElder commented on #79488
/remove-sig testing
/sig scheduling

[2019-06-27 19:15] BenTheElder commented on #79488
PR reviews is definitely not the right alias for test failures 🙃

most test are owned by the SIG that owns the code under tests.

[2019-06-27 19:23] jaypipes commented on #79470
Interesting bug. I dug into this and it turns out that it's actually the `kubectl label` command that is the problem. The `kubectl taint` command prints "modified" any time overwrite is supplied because underneath the covers, the Node object is indeed modified. The `kubectl label` command ALSO always modifies the underlying Node object whenever `--overwrite` is supplied, however it does not report

[2019-06-27 19:27] jaypipes commented on #79470
/area kubectl
/sig cli

[2019-06-27 19:28] jaypipes commented on #79470
/remove-sig node

[2019-06-27 19:47] #68466 closed

[2019-06-27 19:55] #71985 closed

[2019-06-27 19:55] #73086 closed

[2019-06-27 20:02] MikeSpreitzer commented on #79488
@kubernetes/sig-architecture-bugs this flake's for you

[2019-06-27 20:19] fedebongio commented on #79464
/cc @roycaihw @jennybuckley

[2019-06-27 20:19] liggitt commented on #79457
a PUT to the `/debug/flags/v` endpoint allows this

[code]

/close

[2019-06-27 20:19] #79457 closed

[2019-06-27 20:20] fedebongio commented on #79472
/assign @roycaihw

[2019-06-27 20:22] fedebongio commented on #79486
/cc

[2019-06-27 20:22] logicalhan commented on #79486
/cc @DirectXMan12

[2019-06-27 20:22] liggitt commented on #79486
Thanks for the feedback. Please raise this issue against the relevant projects for discussion/visibility.

/close

[2019-06-27 20:22] #79486 closed

[2019-06-27 20:24] ReSearchITEng commented on #79470
Thanks for digging into it.
I am looking from the ansible p.o.v., how should we mark the task: "changed" or "unchanged". From this angle IMO option 1 is ideal, and have the output match what code does. But it means changing quite some code I guess.

[2019-06-27 20:29] roycaihw commented on #79472
thanks for listing the pain points. Can we fold the umbrella issues into a single one (we can use this one and close the others)?

https://github.com/kubernetes/kubernetes/issues/60937
https://github.com/kubernetes/kubernetes/issues/51163
https://github.com/kubernetes/kubernetes/issues/25716

[2019-06-27 20:40] liggitt commented on #79437
The finalizer is also added by the pv-protection and pvc-protection controllers. You can disable that feature by passing --feature-gates=StorageObjectInUseProtection=false to the kube-controller-manager. Note that this is not recommended, and can result in data loss, and the feature will be unconditionally enabled in future releases.

[2019-06-27 20:49] liggitt commented on #79488
/remove-sig architecture
/sig scheduling

[2019-06-27 20:56] #72091 closed

[2019-06-27 20:56] #73141 closed

[2019-06-27 21:07] dcbw commented on #76731
/remove-triage unresolved

[2019-06-27 21:09] bowei commented on #79459
cc: @prameshj

[2019-06-27 21:11] dcbw commented on #61005
@vinayitp this looks like the problem:

`I0614 13:35:33.882819 1 proxier.go:1375] Network programming took 162590.882750 seconds`

That is a *really* long time for iptables-restore to run and not at all expected. What iptables and kernel versions do you have, and how many services/pods int he cluster?

[2019-06-27 21:11] dcbw commented on #61005
/remove-triage unresolved

[2019-06-27 21:13] dcbw commented on #79304
@danwinship follow up with Phil Sutter too, since it maybe it's some argument ordering thing in iptables-nft?

[2019-06-27 21:18] freehan commented on #77439
reopen if needed

[2019-06-27 21:18] #77439 closed

[2019-06-27 21:19] spiffxp commented on #78831
/assign @mgdevstack

[2019-06-27 21:20] spiffxp commented on #78828
/assign @devaips

[2019-06-27 21:21] freehan commented on #72511
open if needed

[2019-06-27 21:21] freehan commented on #70945
reopen if needed

[2019-06-27 21:21] #70945 closed

[2019-06-27 21:22] #62594 closed

[2019-06-27 21:33] spiffxp commented on #78834
/assign @zachmandeville

[2019-06-27 21:34] spiffxp commented on #78835
/assign @devaips

[2019-06-27 21:37] dcbw commented on #78948
@maxstr are there downsides to connmark? eg is it possible to just switch to using connmark rather than nfmark?

[2019-06-27 21:37] danwinship commented on #78948
If we're switching to ct-based marking, we should use `connlabel`, not `connmark`; it's designed for having different people use different bits of, as opposed to `connmark`/`mark`, where in theory you're supposed to be using all the bits together to represent a single piece of data.

[2019-06-27 21:53] maxstr commented on #78948
Based on what I know I think either connmark or connlabel would be sensible defaults; I'm not aware of any downsides of using them over nfmark except for other users possibly already being reliant upon nfmarks for other purposes.

[2019-06-27 21:55] alecthomas commented on #72511
Has this been fixed?

[2019-06-27 21:57] akanso opened #79496 "Multiple LimitRange objects can have conflicting values in the same namespace"
Within the same namespace, we can create two conflicting LimitRange objects that can block the creation of any pod

**What happened**:

For a given resource, e.g. `memory`, if the `min` specified in the first LimitRange is `greater than` the `max` specified in the second LimitRange, then we would be blocked from creating any pod.

**What you expected to happen**:

The second LimitRange object shou

[2019-06-27 21:57] #73120 closed

[2019-06-27 22:00] danwinship commented on #78948
The theoretical downside is that the mark/label would automatically be associated with all packets in the connection, not just the one that you marked. So if you were marking to indicate something specific to a single packet in a larger connection, then you couldn't switch from nfmark to ctmark. But that shouldn't be a problem for what kube-proxy is using marks for.

[2019-06-27 22:10] liggitt commented on #18394
v1.16 changes made in https://github.com/kubernetes/kubernetes/pull/79305

/milestone v1.17

[2019-06-27 22:29] #79344 closed

[2019-06-27 22:30] #79398 closed

[2019-06-27 22:50] tamalsaha commented on #79486
I have refiled https://github.com/kubernetes-sigs/kubebuilder/issues/827

[2019-06-27 22:58] #73142 closed

[2019-06-27 23:06] tedyu commented on #79478
Was PodSecurityContext involved ?

Thanks

[2019-06-28 00:00] davidz627 commented on #79355
/cc @saad-ali @msau42 @verult

[2019-06-28 00:32] tedyu commented on #79437
[code]
Since data loss may be incurred, I wonder if the above statement needs modification.
Did you mean that the feature would be disabled ?

thanks

[2019-06-28 00:40] msau42 commented on #79355
@kubernetes/sig-storage-feature-requests

[2019-06-28 00:43] #78766 closed

[2019-06-28 00:43] liggitt commented on #79437
Did you mean that the feature would be disabled ?

No. The feature prevents data loss. It will be unconditionally enabled in a future release.

[2019-06-28 01:00] #73190 closed

[2019-06-28 01:41] Cherishty commented on #79437
Thanks for your clarification @liggitt

Yes, I do know the motivation of finalizer, but I believe much of users occur the issue (may be a bug?) that pv(c) stuck in "**terminating**" even **NO** pod is binding on it

[2019-06-28 01:48] liggitt commented on #79437
If the finalizer on the PVC isn't getting removed when all the pods are gone, that is a bug (or the controller manager that does the deletion isn't running).

[2019-06-28 01:58] liggitt commented on #79496
It is possible to create conflicting policies that prevent creation of any object. This isn't a bug, but a possibility of independent policy objects.

/close

[2019-06-28 01:58] #79496 closed

[2019-06-28 02:01] liggitt commented on #79479
You can reference other envvars using $(NAME) syntax. See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#envvar-v1-core

[2019-06-28 02:01] #79479 closed

[2019-06-28 02:01] #73155 closed

[2019-06-28 02:38] Nebulazhang commented on #79457
Thanks ! It's helpful

[2019-06-28 02:59] answer1991 commented on #73958
/cc

[2019-06-28 03:09] #78807 closed

[2019-06-28 03:40] alejandrox1 opened #79499 "hack/update-bazel produces warnings"
**What happened**:
Got the following error while trying to run `hack/update-bazel.sh`:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Ran this on a fresh install of ubuntu 19.04, Go 1.12.6, and bazel 0.26.1.

**Anything else we need to know?**:
Seems like the change might have been due to the update in vendored deps from #78187 ( https://github.com/kubernetes/kubernetes/

[2019-06-28 03:41] alejandrox1 commented on #79499
Not sure who owns this...
/sig testing

[2019-06-28 03:46] BenTheElder commented on #79422
for containerd you want these settings in the config file (default path `/etc/containerd/config.toml`)
[code]

see: https://github.com/containerd/cri/blob/master/docs/config.md

[2019-06-28 03:47] sudheshpn commented on #79373
Do we need to set --cloud-provider gcp on kubelet?

[2019-06-28 03:52] alejandrox1 commented on #79499
Seems like the errors are "warnings" and can be ignored?
https://github.com/bazelbuild/bazel-gazelle/pull/556#issuecomment-504587744

@BenTheElder would you happen to have some recommendation for this? It seems that BUILD files are updated by update-bazel :woman_shrugging:

Also, out of curiosity, how is this setup in the presubmits (why is it working there)?

[2019-06-28 03:54] BenTheElder commented on #72956
I updated the checklist since that felt nice but stopped trying to track every single PR mapped to it 😅

Super close :-)

[2019-06-28 04:03] BenTheElder commented on #79499
/sig release
this is not a failure
/retitle hack/update-bazel produces warnings

there was some discussion on the original PR about filtering them out but nothing conclusive
I'll file a PR to do that now..
/assign

[2019-06-28 04:03] #72460 closed

[2019-06-28 05:03] BenTheElder commented on #79499
aside: this is actually form https://github.com/kubernetes/kubernetes/pull/79287 :-)

we're working around the lack of `pkg-config` support because we only need it for this package and on all known systems we compile on so far it only needs the one link flag as previously specified in the cgo config.

[2019-06-28 05:04] #73224 closed

[2019-06-28 05:56] samsonahk opened #79503 "'brew install kubectl' on Linux Lite but failed"
I got problem in installing kubectl in Linux Lite v4.4

I added the user 'linuxbrew' first.  Then I installed docker by root.  The error messages are as follows:

hack/generate-docs.sh
Last 15 lines from /home/linuxbrew/.cache/Homebrew/Logs/kubernetes-cli/03.generate-docs.sh:
!!! [0628 13:31:23]  1: /tmp/kubernetes-cli-20190628-11831-1he0qrj/src/k8s.io/kubernetes/hack/lib/golang.sh:715 kube::golan

[2019-06-28 06:00] BenTheElder commented on #79499
filed https://github.com/kubernetes/kubernetes/pull/79502

[2019-06-28 06:16] BenTheElder commented on #78527
/assign
/lifecycle active

[2019-06-28 06:21] prameshj commented on #79459
This test is looking up PTR record for 8.8.8.8 and gets "dns.google", but is actually expecting "google-public-dns-a.google.com." When I run the dig command on a non-k8s environment, I see "dns.google" as well.

$ dig +short -x 8.8.8.8
dns.google.

 Both "dns.google" and "google-public-dns-a.google.com." resolve to 8.8.8.8. So looks like this test is not an actual failure.

[2019-06-28 06:29] tedyu commented on #79437
I wonder if the tests added below cover that @Cherishty described:

    Merge pull request #78410 from MrHohn/svc-finalizer-e2e

    [e2e] Add tests for service load balancer finalizer

[2019-06-28 06:29] samsonahk commented on #79503
@kubernetes/sig-CLI-test-failures

[2019-06-28 06:40] tedyu commented on #79437
Looking at pvc_protection_controller, it seems the DeleteFunc was missing in the following case:
[code]
If I am correct, I can submit a PR.

thanks

[2019-06-28 06:50] hoyho commented on #79499
Glad to see it. The output message is so misleading that I have spent hours on this issue 🙃🙃

[2019-06-28 07:00] BenTheElder commented on #79499
sorry about that 😅 the output does say "error" but it's actually considered a non-fatal warning in the upstream code and doesn't cause the script (or build) to fail.

[2019-06-28 07:05] #72724 closed

[2019-06-28 07:16] alenkacz commented on #79488
/assign

[2019-06-28 07:18] oschen commented on #43783
Can anyone show me what is the tag name to change per container process limit in a kubernetes deployment .yaml file ? Thanks .

[2019-06-28 07:23] snowplayfire opened #79509 "Some works about improving scheduler performance"
We have made some progress on scheduler performance,  details are as follows.

**What would you like to be added**:
Improve performance:
- 1. [scheduler: establish node topology info cache](
https://github.com/kubernetes/kubernetes/pull/79360)
- 2. [ Scheduler: reduce iteration and conversion to improve perfermance](
https://github.com/kubernetes/kubernetes/pull/79465)
- 3. [abandon iteration in I

[2019-06-28 07:23] dpoison commented on #79466
@RobertKrawitz
We are running on every node (inclusive of kube-system pods) are 38-40. The number of pods running on each node is approx 45 to 50, we have a total of 6 nodes running on the cluster so approx total pods are 250. here is the data you asked for.
cat /proc/sys/kernel/pid_max - 32768
cat /proc/sys/kernel/threads-max - 1160059
FYI: we have not set any resource limits, we are running on d

[2019-06-28 07:27] zqzzq opened #79510 "'kubectl apply' failed when change the number of the volumeMounts"
**What happened**:
in my cluster I have a deployment with 5 volumeMounts and 5 volumes :
[code]
then I used ‘ kubectl apply -f ’ to change the number of the volumeMounts and volumes to 3, the new deployment is:
[code]
but I get an error:
[code]
I don't quite understand about
[code]
How did this error happen?

**What you expected to happen**:
The deployment successful update
**Environment**:
- Kube

[2019-06-28 07:44] draveness opened #79511 "Refactor the scheduling framework integration tests with ginkgo"
**What would you like to be added**:

Refactor the framework integration test with ginkgo to make sure each test run with a separated scheduler.

**Why is this needed**:

We do add reset methods in #79424 to test plugins to mitigate the sharing state problems, but **refactor the framework integration tests with ginkgo and run each test with separated scheduler** would help us to ensure the tests w

[2019-06-28 07:44] draveness commented on #79511
/remove-kind feature
/kind bug

[2019-06-28 07:50] zakthan opened #79512 "logging dropped packets network policies"
**What would you like to be added**:

It would be very nice if we could log denied ingress/engress traffic when using network policies

**Why is this needed**:

Currently when  a network policy  rule denies some traffic, that is not logged anywhere making troubleshooting very difficult.

[2019-06-28 08:04] feiskyer opened #79513 "LoadBalancer is stuck on pending state when annotation azure-load-balancer-resource-group is set to empty string"
**What happened**:

LoadBalancer is stuck on pending state when annotation azure-load-balancer-resource-group is set to empty string.  The error would be:

[code]

Though the error message introduces some confusion here, it's actually because the resourceGroup name is missing when cloud provider trying to list publicIPs:

[code]

**What you expected to happen**:

The service should be provisioned

[2019-06-28 08:11] feiskyer commented on #79513
/assign

[2019-06-28 08:15] zouyee commented on #79466
pleg is not ready because runtime is not healthy.
`remote_runtime.go:92] RunPodSandbox from runtime service failed: rpc error: code = Unknown desc = failed to start sandbox container for pod "cronjob-crm-timeaccounting-sync-1561580700-dl2s7": Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "process_linux.go:301: running exec setns pr

[2019-06-28 08:19] yue9944882 commented on #65517
/reopen
/remove-lifecycle rotten

ouch..

[2019-06-28 08:20] zouyee commented on #79466
/assign

[2019-06-28 08:20] zouyee commented on #79466
/assign

[2019-06-28 08:24] feiskyer commented on #79459
@prameshj  Could you help to file a PR and fix the test case?

[2019-06-28 08:31] simonswine commented on #23064
I am quite interested in that. As far as I am aware there is no way to get those public keys in many hosted kubernetes environments (EKS, GKE, ...), certainly not in an unified way. I think it would be really useful to expose that on the apiserver.

/reopen
/remove-lifecycle stale
/sig auth

[2019-06-28 08:52] wawa0210 opened #79515 "The kubernetes 1.15 kube-proxy report "Unable to find HNS Network specified by cbr0" on windows node"
**What happened**:

When i upgrade my kubernetes cluster windows node  to 1.15,the windows node kube-proxy cannot work properly.  My  windows deployment cannt access by Nodeip:Port on this node but it can access by  the same cluster other nodes with  Nodeip:Port

When i rollback my windows node  to 1.14.1 .  the kube-proxy works good, everything is ok

The kube-proxy logs  Loop Report that.

[code

[2019-06-28 09:05] wawa0210 commented on #79515
@kubernetes/sig-windows

[2019-06-28 09:05] wawa0210 commented on #79515
/sig windows

[2019-06-28 09:07] #73247 closed

[2019-06-28 09:37] rohith-vallabhaneni commented on #71928
I ran into the same issue, I scheduled deployments using rancher UI and then I saw the same issue, then I realised that the EBS volumes were created in different availability zones, the issue is resolved by creating a new storageclass with only one availability zone in parameters.

[2019-06-28 09:40] justaugustus commented on #79389
@icelynjennings -- looks like a great idea! You should definitely file an official KEP for this and raise it with @kubernetes/sig-node-proposals at a meeting. :)

ref: https://docs.google.com/document/d/1ho1SOZ5PzkcKeSpRYVYVOht4pG5758uP_34twOWVabA/edit?usp=drivesdk

[2019-06-28 09:47] rohith-vallabhaneni commented on #34583
I'm using EKS to deploy my services integrating it with rancher, I ran into the same issue as mentioned above. My setup is something like this:
1. I have added few labels for the worked nodes to seperate the nodes per namespace/team  as each team requires different types of instances.
2. I created the nodes for the pods in that node needs persistant volumes in a single availability zone as aws EBS

[2019-06-28 10:04] boogie777 commented on #79422
Hello, @neolit123 and @BenTheElder
thanks a lot for your quick anwers !

according the tips given to provide the path of the sandbox directly in containerd config ; the reset of the cluster with the firewall rule dropping access the the outside is a great success :D

We now have only pause image pulled from our repo
`
[root@zinfpaasmaster01bv ~] # crictl -r unix:///run/containerd/containerd.sock -

[2019-06-28 10:29] aroundthecode commented on #79478
here is an exctract of the helm chart deployng statefulset:

[code]

[2019-06-28 10:47] ronakpandya7 commented on #79466
Hello @zouyee
`container-runtime-endpoint(default:/var/run/dockershim.sock)` this file is exist in my case

output::
[code]

[2019-06-28 11:12] cwdsuzhou commented on #79194
Seems too many volume mounting  at the same time.  Could you help fix it? Or I can have a try.

[2019-06-28 11:18] dpoison commented on #79466
@zouyee

Yes, /var/run/dockershim.sock exists.

[2019-06-28 11:20] cwdsuzhou commented on #79333
The log is mainly due to failing umount at first and triggered backoff limit. I would like more logs to dig why it failed at first

[2019-06-28 11:24] kirrmann opened #79523 "Support UDP with AWS NLB"
**What happened**:
```Error creating load balancer (will retry): failed to ensure load balancer for service default/test: Only TCP LoadBalancer is supported for AWS ELB```

**What you expected to happen**: kubernetes creating an AWS NLB for UDP

**How to reproduce it (as minimally and precisely as possible)**: Create service with annotation `service.beta.kubernetes.io/aws-load-balancer-type: nlb`

[2019-06-28 11:25] dims commented on #77678
/sig storage

[2019-06-28 11:30] derWeihnachtsmann commented on #71502
also got this issue. My cluster-yaml looks like the following:

My StorageClass:
![grafik](https://user-images.githubusercontent.com/16196578/60338934-8e72ff00-99a7-11e9-8695-e703044aedd8.png)

My Workload-Configuration:
![grafik](https://user-images.githubusercontent.com/16196578/60339056-f1fd2c80-99a7-11e9-918d-1608c4f9efa7.png)

![grafik](https://user-images.githubusercontent.com/16196578/60339

[2019-06-28 11:31] rsolus commented on #72308
This issue is really problematic in my project. Is there anyone who can help to solve it?

[2019-06-28 11:43] snowplayfire commented on #79509
/sig scheduling

[2019-06-28 12:25] jaypipes commented on #79470
@ReSearchITEng well, if you want Ansible to be accurate, it should always say "changed", since in both labels and taints, the object will always be updated in backing storage (etcd).

I've decorated this issue with sig-cli and will ask for their input on Slack.

[2019-06-28 12:34] neolit123 commented on #79422
thanks for the confirmation.
we should probably include docs for the other CR with respect to setting the "pause" image.
/close

[2019-06-28 12:35] #79422 closed

[2019-06-28 13:03] joaocc commented on #60751
@wknapik The reason for having proposing this approach is that, after a cursory read on both the project's page (https://issihosts.com/haveged/) and the underlying algorithms (http://www.irisa.fr/caps/projects/hipsor/), it seemed to a sensible solution for "normal" usage.
In our case, facing a situation where entropy is depleted, execution slowed down tremendously, affecting the system usage.

[2019-06-28 13:05] krzysied commented on #79277
Another example of logs:
[code]
The two first lines are calls form cluster loader that change replicas from 5 to 6.

It looks like there is always two status updates calls. Maybe this 409 is cause by raced condition...
Replciation controller has [many workers](https://github.com/kubernetes/kubernetes/blob/3bd11af6a18d8ebaa3a0aeb2e66c2bb6f260b069/pkg/controller/replicaset/replica_set.go#L189). Assu

[2019-06-28 13:08] odinuge commented on #79499
https://github.com/kubernetes/kubernetes/pull/79287 was merged before this discussion was resolved https://github.com/kubernetes/kubernetes/pull/79287#discussion_r296493509, so we kinda saw this coming. :/

Hopefully we can get the fix from @BenTheElder in #79502 merged as quick as possible 😄

[2019-06-28 13:12] eduardobaitello commented on #76531
Same problem here with CentOS 7 + Kubernetes v1.15.0.

[More details here:](https://serverfault.com/questions/973131/systemd-process-with-uncommon-cpu-usage-on-kubernetes-cluster)

[2019-06-28 13:24] krzysied commented on #79277
Assuming that race condition was always in replication controller code, it doesn't explained the reason for increased number of 409 calls. IMHO the update calls latency increased (milliseconds) or rc events are more grouped than they used to.

[2019-06-28 13:40] sirdank commented on #73434
FWIW, this is working for me using AKS with a container image built on mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-20190611-windowsservercore-ltsc2019.

[2019-06-28 13:54] mattjmcnaughton commented on #79492
Thanks for your detailed issue!

It looks like you are currently using 1.11.8 on the server, which isn't officially supported. Is upgrading to a supported release (i.e. 1.13, 1.14, 1.15) an option for you?

[2019-06-28 13:56] andrewsykim commented on #73382
@cezarsa were you able to verify your patch reduces CPU usage?

[2019-06-28 13:57] andrewsykim commented on #73382
@m1093782566 @lbernail

Thoughts?

[2019-06-28 13:59] andrewsykim commented on #73382
It's also worth noting here that we recently added IPVS graceful termination and back ported that to older versions so the "slow to update" may just be backend server entries going through graceful termination because they still have conntrack entries. @mrrandrade are you able to confirm if that's the case?

[2019-06-28 14:15] odinuge commented on #79454
Hi @ramnar! Thanks for posting this issue! It turns out that this duplicate output has been in kubectl, and all the other cli cmds, since `v1.9`. 😄

This should be fixed by https://github.com/kubernetes/kubernetes/pull/79493, and hopefully we can cherry pick it back to at least `v1.15`.

[2019-06-28 14:35] zouyee commented on #79421
/assign

[2019-06-28 14:36] lbernail commented on #73382
Based on the perf analysis (thank you @cezarsa ) it looks like we really need to optimize the calls to `GetNodeAddresses`

Doing it less is definitely a very good idea (thanks for the PR).

We could probably also do it more efficiently by filtering the kube-ipvs0 interface (we are not interested by these addresses for nodePorts (unless I'm missing something):
https://github.com/kubernetes/kubernet

[2019-06-28 14:47] andyzhangx opened #79528 "attach/WaitForAttach timeout value is too small in CSI driver"
**What happened**:
attach/WaitForAttach timeout value is too small in CSI driver, it's all 15s which is really too small:
https://github.com/kubernetes/kubernetes/blob/967b23c727c5240bea78dfbcc9dfb09a973defd4/pkg/volume/csi/csi_plugin.go#L57

Compared to built-in driver timeout, it's really too small:
 `podAttachAndMountTimeout` is [2 minutes](https://github.com/kubernetes/kubernetes/blob/b812eaa1

[2019-06-28 14:51] timothysc commented on #76833
Closing in favor of issues in the other repos.

[2019-06-28 14:51] #76833 closed

[2019-06-28 14:55] alejandrox1 commented on #76832
/cc

[2019-06-28 15:05] #78348 closed

[2019-06-28 15:25] andrewsykim commented on #79400
Looks like this was fixed in https://github.com/kubernetes/kubernetes/issues/68703, what's the image you are using @lurenjia528

[2019-06-28 15:25] yastij commented on #78865
I'm not able to reproduce it with 1.13 cluster, I'm having the following

[code]

@pickledrick - if you have access to generated certs you can use the secure port

[2019-06-28 16:07] kkmsft commented on #79067
/sig azure

[2019-06-28 16:10] justinsb commented on #79523
/sig aws

[2019-06-28 16:11] randomvariable commented on #74527
/sig aws

[2019-06-28 16:14] andyzhangx commented on #79067
I think it may be related to redhat os, the error says:
[code]

Could you ssh to the node, and check whether `/var/lib/kubelet/plugins/kubernetes.io/azure-disk/mounts/<diskmount>` exists and mounted correctly already?

I guess there is something wrong with the udev rule, could you also check whether there is a dir `/dev/disk/azure` on that node, you could find more debugging skills here:
https://g

[2019-06-28 16:14] #73089 closed

[2019-06-28 16:15] #73236 closed

[2019-06-28 16:21] justinsb commented on #79523
/kind feature

[2019-06-28 16:21] randomvariable commented on #79523
/remove-kind bug

[2019-06-28 16:21] andyzhangx commented on #79067
BTW, how do you set up k8s cluster on redhat? @LiquoriChris

[2019-06-28 16:22] mcrute commented on #79523
/milestone v1.16

[2019-06-28 16:22] justinsb commented on #79523
/milestone v1.16

[2019-06-28 16:26] mcrute commented on #77813
/retitle AWS ELB configuration changed

[2019-06-28 16:30] Verolop opened #79533 "[Failing Test] Kubectl client Conformance test failing"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-new-master-upgrade-master-parallel

**Which test(s) are failing**:
Kubectl client [k8s.io] Kubectl run deployment should create a deployment from an image [Conformance]
**Since when has it been failing**:
6/22
**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-new-master-upgrade-master-parallel
**Reason for failure**:
I loo

[2019-06-28 16:31] alejandrox1 commented on #79533
/milestone v1.16

[2019-06-28 16:31] hpandeycodeit commented on #79455
`set-context`      `Sets a context entry in kubeconfig`

As mentioned in the description, It creates an entry in kubeconfig.

To set the current-context use `use-context`

` use-context:      Sets the current-context in a kubeconfig file`

[2019-06-28 16:32] hpandeycodeit commented on #79455
/close

[2019-06-28 16:32] #79455 closed

[2019-06-28 16:42] justinsb commented on #79279
k8s services themselves don't currently support port ranges (I believe), but I think the ask here is for using a single security group per ELB, regardless of the number of ports?

We talked about this in sig-aws, and @randomvariable suggested that you were asking that we combine contiguous port range to reduce the number of security group rules - is that correct?

[2019-06-28 16:45] justinsb commented on #78429
Should we move this issue to https://github.com/aws/amazon-vpc-cni-k8s ?

[2019-06-28 16:48] justinsb commented on #78409
We discussed in sig-aws and agreed that this is a great goal that we should strive towards.  Not assigning it to a particular milestone as we imagine there will be many smaller PRs towards achieving this.

[2019-06-28 16:48] justinsb commented on #78199
Related to #78409

[2019-06-28 16:49] sethpollack opened #79535 "EKS 1.13 nodes can't communicate with ECR"
**What happened**:
Starting seeing this error on nodes after upgrading to nodes to 1.13:
[code]

**Anything else we need to know?**:
Nodes running 1.12 with EKS 1.13 were able to pull images and adding the VPC default security group to the worker launch configurations fixed the issue for the 1.13 nodes.

**Environment**:
- EKS 1.13

[2019-06-28 16:50] hibbert commented on #79279
I think I've found what I wanted here - to allow the SG to be created and managed outside k8s - https://github.com/kubernetes/kubernetes/pull/62774. I didn't know about that at the time, I'm yet to test it.

[2019-06-28 16:50] sethpollack commented on #79535
/sig aws

[2019-06-28 17:03] #78527 closed

[2019-06-28 17:03] #79513 closed

[2019-06-28 17:15] #73303 closed

[2019-06-28 17:33] vsiddharth commented on #78429
A more accurate place for this issue would be https://github.com/aws/containers-roadmap/tree/master/preview-programs/eks-windows-preview

[2019-06-28 17:37] cezarsa commented on #73382
@andrewsykim The patch definitely had a good impact on performance, while working on the patch I figured that there are actually 2 main code paths that were responsible for the bad behavior. When `--nodeport-addresses` is set the main culprit was `GetNodeAddresses` as shown on the profile I sent earlier. However, without `--nodeport-addresses` set the main culprit becomes `realIPGetter.NodeIPs()`

[2019-06-28 18:02] zhan849 commented on #78409
Update - #78140 added informer-fed node cache and query aws cloud provider by ID if possible.

`GetCandidateZonesForDynamicVolume()` is another function we need to revise to see if we are able to leverage node cache. The current impl filters out master, which is not something we can leverage node cache, but since other cloud providers don't filter out master node (i.e. gce), if we can do the same,

[2019-06-28 18:04] davidz627 commented on #79355
Hi @trevormeiss at this time unfortunately I don't believe anybody is working on this problem. Some designs have been proposed in the past: notably I believe @bswartz wanted to have a solution where you could create new CSI PV's in your system and do an "atomic pointer swap" of the PVC to the new PV. Although I believe there were quite a few unknowns to that approach and nobody is currently invest

[2019-06-28 18:10] utkuozdemir commented on #66067
I have the same issue on Kubernetes version 1.14.2 on Ubuntu 18.04

[2019-06-28 18:18] spiffxp commented on #79432
We're still figuring out how to work with GitHub's registry (ref: https://github.com/kubernetes/org/issues/812) so I wouldn't recommend that as an immediate path forward

I would recommend pulling code out to a new repo in kuberentes-sigs (kuberentes/org issue + written decision from sig-inst to help you create that)

And follow https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io#creating-

[2019-06-28 18:39] draveness opened #79538 "Consider use schedulerCache to replace fields in PluginFactoryArgs"
**What would you like to be added**:

Consider use schedulerCache to replace fields in PluginFactoryArgs
[code]

ref: https://github.com/kubernetes/kubernetes/pull/79076#discussion_r297803683

/assign

[2019-06-28 18:40] draveness commented on #79538
/sig scheduling
/priority backlog

[2019-06-28 19:03] KIVagant commented on #17144
@axsaucedo , because it's an extremely slow feature for big clusters.

[2019-06-28 19:16] maxstr commented on #78949
I'll note our setup is similar to what was described in this issue: https://github.com/kubernetes/kubernetes/pull/75893

[2019-06-28 19:17] #71478 closed

[2019-06-28 19:20] klzsysy commented on #78421
I met

Leading to a high CPU usage

[code]

[2019-06-28 19:41] thockin commented on #79466
32Ki pid_max is pretty low - I would suggest cranking that up significantly, e.g. 1Mi -- this smells of that failure.  That said, you probably have a thread leak somewhere.

I'll close this because I don't think it is a bug in Kubernetes.  If more evidence turns up that it IS a bug, please reopen!

[2019-06-28 19:41] #79466 closed

[2019-06-28 19:45] thockin commented on #79461
I don't see how this could possibly be a Kubernetes issue.  We don't touch anything here.  There's not enough her to know exactly what your app is doing or what is not working.

[2019-06-28 19:45] #79461 closed

[2019-06-28 20:18] #66448 closed

[2019-06-28 20:32] BenTheElder commented on #79535
You should probably file product support for EKS with AWS directly, generally speaking they don't appear to be super active here and this looks like an EKS issue rather than a Kubernetes issue.

[2019-06-28 20:43] khenidak opened #79541 "hack/update-vendor.sh is broken due to incorrect testing of empty array"
error in update vendor after running `pin-dependancy.sh`

Here is how you can repro on current head:
1- ./hack/pin-dependency.sh k8s.io/utils c55fbcf `ok no errors`
2- hack/update-vendor.sh

[code]
the test for empty bash array is broken, since bash considers it as an unset var.
https://github.com/kubernetes/kubernetes/blame/master/hack/update-vendor.sh#L271

[code]

[2019-06-28 20:44] BenTheElder commented on #79541
/assign
/sig release

[2019-06-28 20:46] liggitt commented on #79437
yes, pvcAddedUpdated should be changed to pvcAddedUpdatedDeleted, handle tombstone objects, and be called from the deletionhandler

[2019-06-28 20:47] sethpollack commented on #79535
It's related to an SDK change that went into 1.13 of EKS, and 1.14+ of upstream.

[2019-06-28 20:57] #79454 closed

[2019-06-28 21:07] spiffxp commented on #79432
ref: https://github.com/kubernetes/kubernetes/pull/79390#issuecomment-506831535 some other locations to watch out per cs.k8s.io

[2019-06-28 21:19] #72961 closed

[2019-06-28 21:19] #73244 closed

[2019-06-28 21:24] spiffxp commented on #78834
https://github.com/kubernetes/kubernetes/pull/79122#issuecomment-506766182 indicates the test in question can't be promoted as written

Also, in the context of this issue, I feel like that test is a poor example of something that _directly_ exercises the endpoints listed in the description.  Let's try to avoid promoting tests that incidentally hit these endpoints

[2019-06-28 21:28] spiffxp commented on #78834
/assign @devaips
since you were also working on #79122

My advice would be to:
- punt on rewriting the test that indirectly exercise these endpoints
- retitle this issue as Write Scale Tests for Conformance, move this to a different umbrella issue

[2019-06-28 21:35] BenTheElder commented on #79541
/lifecycle active

[2019-06-28 21:37] awly commented on #78321
IIUC retries are happening here https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/request.go#L720-L808
We could add a special case to handle non-transient errors for GET requests.

But I don't think exit code is a good proxy for deciding about retries.
I'm working on a KEP for credential plugins now and plan to add `error` field to response object. That sounds

[2019-06-28 21:40] yguo0905 commented on #77546
I don't think `net.ipv4.route.min_pmtu` ever worked as it's hardly to believe a sysctl got **un**namespacified in the kernel (it's always the other way around).

`net.core.somaxconn` is a good example of namespaced networking sysctl. However, the above suggested `net.ipv4.tcp_rmem` is not in some cases - it's unnamespaced in kernel 4.14 and became namespaced in 4.15.

In general, this is hard to d

[2019-06-28 21:55] memorais commented on #72467
I just changed to containerd instead of cri-o and the problem stopped happening.

[2019-06-28 22:20] #71374 closed

[2019-06-28 22:47] rlk833 opened #79546 "oidc cache does not work when muliple users and configs for same oidc provider"
**What happened**:
We using go-code kubectl cli package. We are a long running app serving to many different Kubernetes clusters. Each cluster has a different user credentials and bearer token to access it. But they all use the same issuer and clientid. The oidc cache is keyed off of these two only.

So what happens is when we switch to another configuration it pulls in the oidc provider for the o

[2019-06-28 22:53] eddieparker opened #79547 "kubectl logs -f should wait when in state PodInitializing"
It's a minor gripe, but when I'm trying to find out why my pod fails, I tend to "kubectl logs -f [podname]".  A common problem is that it's still initializing and kubectl tells me to go away.

Given that I specified '-f', I'd rather it just hang out in that state and then start piping logs when it's ready, versus me having to manually poll for when it's out of that state.

[2019-06-28 22:54] eddieparker commented on #79547
/kind feature
@kubernetes/sig-cli-feature-requests

[2019-06-28 22:59] bsalamat opened #79548 "Remove Critical Pod Annotation"
[Critical Pod Annotation](https://github.com/kubernetes/kubernetes/blob/665e76d97623447d13bb3b33b68591a985b49c9d/pkg/features/kube_features.go#L58) is an experimental feature that lets Kubernetes control plane know about a pod being a critical pod by adding a specific annotation to the pod. This was added in 1.5 when K8s didn't have pod priority. Pod priority allows us to mark pods as critical wit

[2019-06-28 23:05] rlk833 commented on #79546
@kubernetes/sig-auth

[2019-06-28 23:09] #77169 closed

[2019-06-28 23:21] #73200 closed

[2019-06-28 23:27] rlk833 commented on #79546
@kubernetes/sig-auth-bugs

[2019-06-29 00:22] #66828 closed

[2019-06-29 00:22] #67345 closed

[2019-06-29 00:26] dannyk81 commented on #60751
For what it's worth, we've deployed a haveged daemonset on our test/pre clusters and it's working really well, I can't attest to the quality of random numbers but this solved out entropy depletion issues.

[2019-06-29 00:34] #78560 closed

[2019-06-29 00:44] draveness commented on #79548
/assign

[2019-06-29 00:50] bhagwat070919 commented on #79523
I am taking up this Feature Development.

How can this be assigned to me?

[2019-06-29 01:23] #73410 closed

[2019-06-29 02:21] #79171 closed

[2019-06-29 02:21] #79541 closed

[2019-06-29 02:36] lurenjia528 commented on #79400
the machine I use is arm , I download the source code `https://github.com/kubernetes/kubernetes`  make the source code , and build the image

[2019-06-29 02:39] thockin commented on #77546
SGTM, can you drive that?

On Fri, Jun 28, 2019, 2:41 PM Yang Guo <notifications@github.com> wrote:

[2019-06-29 02:55] RainbowMango commented on #79523
maybe /assign @bhagwat070919  is ok.

[2019-06-29 02:55] RainbowMango commented on #79523
/assign @bhagwat070919

[2019-06-29 03:03] echoboomer commented on #78846
Upgrading kube version, `metrics-server` version, and forcing usage of the new `hpa` formatting seems to have resolved this for us.

[2019-06-29 03:39] zouyee commented on #78733
/assgin

[2019-06-29 03:39] zouyee commented on #78733
/assign

[2019-06-29 03:44] MikeSpreitzer commented on #79485
I am not familiar with what the RBE cluster is.
I read https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/flaky-tests.md , and drew the implication that we do not want flakes and developers who get bitten by them should do something about it.  It looks like you are telling me that there is a category of flakes that we just have to tolerate.  Is there any guidance yo

[2019-06-29 03:45] MikeSpreitzer commented on #50564
@josiahbjorgaard please feel invited to do so.

[2019-06-29 03:52] johnSchnake commented on #69373
So this is a frustratingly hard problem due to how large the list of functions which are tied to ssh is.

I made an ast tool to try and assist with this and have iterated on that quite a bit today. I will spend a bit of time validating the results I've gotten and turning it into a reasonable looking list.

TIL: It is really hard to do something like simply list all the callers of a function when a

[2019-06-29 03:54] johnSchnake commented on #69373
For conformance tests, it may be easier to do something like check the call stack when ssh'ing and ensuring we aren't in a conformance test and erroring if we are. Otherwise, I don't know how we'd enforce this.

[2019-06-29 05:51] blessedwithsins opened #79556 "Kubelet keeps failing"
Hi Team,

I'm trying to install Kubernetes HA cluster on GCP using GCE. I'm not using GKE for this purpose and trying to use Kubeadm to do the same. However, on my nodes Kubelet keeps failing even after attempting several times.

Below is the error along with details:-

root@kube-master-1:/etc/systemd/system/kubelet.service.d# kubectl version
Client Version: version.Info{Major:"1", Minor:"13", Git

[2019-06-29 06:28] #70664 closed

[2019-06-29 06:28] #56149 closed

[2019-06-29 06:28] #70499 closed

[2019-06-29 07:29] #73506 closed

[2019-06-29 07:29] #73502 closed

[2019-06-29 07:29] #71400 closed

[2019-06-29 08:22] qw1mb0 commented on #72775
+1

[2019-06-29 08:31] mucahitkurt commented on #74374
@janetkuo
Do you have any concern with [my solution alternative](https://github.com/mucahitkurt/kubernetes/commit/1ab4b97b8b63228ea25fc541233df15eb0e3d598) that has no race condition I think?

[2019-06-29 10:15] gaorong commented on #78842
kubemark has supported on-premise cluster.

ref: https://github.com/kubernetes/kubernetes/pull/44394

[2019-06-29 10:32] #70257 closed

[2019-06-29 11:41] #68231 closed

[2019-06-29 12:34] #73520 closed

[2019-06-29 14:37] mattjmcnaughton commented on #78733
Commented on the pr :) Thanks for tackling @zouyee !

[2019-06-29 14:39] mattjmcnaughton commented on #79556
Updating sigs to what I think will give the best chance of us getting helpful eyes on this :)

/remove-sig node
/sig cluster-lifecycle

[2019-06-29 14:53] mcluseau commented on #72051
If metrics-server is not wanted anymore, resolution is:
`kubectl delete apiservice v1beta1.metrics.k8s.io`

[2019-06-29 15:31] morvencao opened #79563 "Kubernetes autoscaler breaks the session affinity"
**What happened**:

We have an application which needs the request to be routed to the same pod where it is initiated from.

Our backend applications are stateful applications, we started with kubernetes service with `SessionAffinity` of `ClientIP`.  and we need to horizontally add/remove pod with kubernetes autoscaler.

However, we find that sometimes request from the same client go to another po

[2019-06-29 15:35] morvencao commented on #79563
/sig autoscaling

[2019-06-29 15:37] morvencao commented on #79563
/sig network

[2019-06-29 15:47] draveness commented on #75674
/unassign

[2019-06-29 16:34] draveness commented on #79547
I think this is quite convenient if we have a flag to wait and follow the log of a pod like this:

[code]

[2019-06-29 16:37] draveness commented on #79547
/assign

[2019-06-29 18:58] hh opened #79564 "Verify namespace deletion during e2e AfterSuite rather than AfterEach test"
**What would you like to be added**:

Move per test namespace deletion from AfterEach test to AfterSuite.

**Why is this needed**:

We will be creation hundreds to thousands of new e2e tests.
We create a namespace for each one.
After the test, we need to delete them.
This currently extends each test by usually 20+ or more seconds.

[2019-06-29 18:59] hh commented on #79564
During the `BeforeEach`, when we create the namespace, is there an existing way to track the creation (to ensure/observe deletion later)?

`BeforeEach` => call to `f.CreateNamespace()`:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/framework.go#L215

Within `AfterEach` we call `deleteNS`

`AfterEach` => call to `deleteNS()`
https://github.com/kubernetes/kubernetes/blob/ma

[2019-06-29 19:04] hh commented on #79564
/area conformance
/area test

@kubernetes/cncf-conformance-wg

[2019-06-29 19:05] hh commented on #79564
/sig testing

[2019-06-29 20:27] smarterclayton commented on #79564
The namespace serial tests call utility methods that wait for namespaces to be deleted.  If we change aftertest to not wait, we have to check those preconditions still hold.

The biggest impact of this change is that parallel tests will execute faster, increasing the load on the apiserver and controller manager, which may change performance tests or expose additional flakes in our tests.  It shoul

[2019-06-29 20:31] hh commented on #79564
@johnSchnake suggested an alternative verification/observation point within a custom reporter that shoots off necessary cleanup.

[2019-06-29 20:41] #73510 closed

[2019-06-29 20:41] #73538 closed

[2019-06-29 22:25] lzhfromustc commented on #79350
Thank you for your reply! I reported the usage of atomic64 because I saw grpc-go developers handled this as a bug and fixed it. Since it is fine for kubernetes, I am closing this issue.

[2019-06-29 22:25] #79350 closed

[2019-06-29 23:30] tedyu commented on #79556
[code]
@blessedwithsins
Have you tried adding the above file ?

[2019-06-30 00:06] tedyu commented on #79547
I wonder if '--wait' is needed since '-f' is already present.
Meaning waiting in PodInitializing state should be the default.

[2019-06-30 00:48] draveness commented on #79547
It would be better we remain forward compatibility, and we don't what how the users dealt with `kubectl`. If we change the default behaviour which may break some users' shell script.

[2019-06-30 01:26] vinicyusmacedo commented on #74353
@pohly I would like to work on this issue.

[2019-06-30 01:46] #73412 closed

[2019-06-30 03:42] zq-david-wang commented on #79563
Agree.  If scale down would take pod's metrics into account, terminating pods with least usage of some custom metric, that would be wonderful.
Of course, application sould handle sigterm to shutdown gracefully.

[2019-06-30 03:43] #78420 closed

[2019-06-30 03:57] chendave commented on #78730
@dradoaica Looks like the issue is not existed in v1.14.1 anymore,

[code]

Steps I have tried,
[code]

Force delete the statefulset and the pv list
[code]

Then re-create the `statefulset`, everything looks okay, cannot re-produce your issue in my side.

You might want to verify this on 1.14 as well?

[2019-06-30 06:46] davidq2q commented on #49918
Having this issue on v1.13.5. Deleted a cronjob, pods are still being created for some reason 15 minutes afterwards.

[2019-06-30 07:25] yanivroz commented on #72511
@freehan - why did you close if it wasn't fixed?

[2019-06-30 08:35] tan-tan-kanarek commented on #78429
Solved.
Apparently the vpc admission webhook was defined on the default namespace while my deployment of windows pods was on a different namespace.

[2019-06-30 08:35] #78429 closed

[2019-06-30 08:51] #79166 closed

[2019-06-30 12:57] #66959 closed

[2019-06-30 13:38] draveness commented on #75942
/remove-lifecycle stale

[2019-06-30 15:00] zouyee commented on #79421
`resolvConf` not `resolverConfig `

[2019-06-30 15:01] zouyee commented on #79421
/close

[2019-06-30 15:02] zouyee commented on #79265
/assgin

[2019-06-30 15:03] zouyee commented on #79265
/assign

[2019-06-30 16:53] dradoaica commented on #78730
seems to be from using `--grace-period=0 --force` on deleting

[2019-06-30 17:29] liggitt commented on #79533
1.16 stops serving that API group as of https://github.com/kubernetes/kubernetes/pull/70672

The kubectl conformance tests should not be using extensions/v1beta1 types. The 1.15 branch should be updated to call the GA APIs

[2019-06-30 18:39] kwiesmueller commented on #75564
Thanks @liggitt we discussed this at the last api meeting and are now working on a solution or rather a KEP first to outline and discuss the approach.

[2019-06-30 19:17] jonsys commented on #44665
This issue was that I was using root account, switched back to regular user and executed the command which fixed my issue.

[2019-06-30 23:07] #59117 closed

[2019-06-30 23:48] cezarsa opened #79577 "kubelet: Images with the same size on a node do not have a stable order"
**What happened**:

When two or more images on a given node have the same size, their order inside the `node.status.images` field set by the `kubelet` process is not deterministic.

This problem has the side effect of continually triggering controllers which assume this list to be always equal on node updates unless images are added or removed.

**What you expected to happen**:

The order of image

[2019-06-30 23:52] cezarsa commented on #79577
/sig node

[2019-07-01 01:25] feiskyer commented on #79459
Any updates on the issue?

[2019-07-01 01:47] warmchang opened #79579 "Useless newline output"
**What happened**:
Useless newline output.

**What you expected to happen**:
Remove useless line breaks.

**How to reproduce it (as minimally and precisely as possible)**:
Run "kubectl get all --all-namespaces" or "kubectl get all":
[code]

**Anything else we need to know?**:
N/A

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardware configuration: VM

[2019-07-01 01:49] warmchang commented on #79579
@kubernetes/sig-cli-misc

[2019-07-01 01:55] ypnuaa037 commented on #76382
Hi, Is there any progress on this issue? We had this problem too, if we delete controller-manager container by 'docker rm -f ' quickly after controller-manager starts, there is a small probability that it will happen (pod still running, but container removed). It seems PLEG missing the event of this container (event channel wasn't full)

[2019-07-01 02:17] #74900 closed

[2019-07-01 02:41] dixudx commented on #64522
/remove-lifecycle stale

[2019-07-01 02:41] halfcrazy commented on #79419
Could you try to curl a 'cluster IP' to identify it is a DNS error? Maybe you can try an ipv4 curl using `curl -4 bd-college-model`.

[2019-07-01 02:47] lovingyu commented on #76531
hi , i found in k8s v1.15.0 the default cgroupDriver in  /var/lib/kubelet/config.yaml  is cgroupfs.
i changed it to  systemd ，also changed docker‘s cgroupdriver to systemd.

like this:
# cat /etc/docker/daemon.json
{
    "exec-opts": [
        "native.cgroupdriver=systemd"
    ],
    ......
}
# cat /var/lib/kubelet/config.yaml
......
cgroupDriver: systemd
......

Then reload config and restart doc

[2019-07-01 03:01] zouyee commented on #79155
/assgin

[2019-07-01 03:03] zouyee commented on #79155
/assign

[2019-07-01 03:16] gj19910723 commented on #79333
more syslog as below:

[code]

[2019-07-01 03:20] metral opened #79581 "Draining a node with a pod that uses an AWS NLB does not deregister instances or close the nodeports on said node"
**What happened**: Using a pod like the nginx-ing-cntlr with an AWS Network Load Balancer (NLB), and then draining the node its running on to force a migration to another node pool, does not reliably deregister the drained nodes from the NLB Target group. This causes the nodeport used by the NLB to remain open, and the drained node ends up continuing to funnel traffic for other pods cause of `exte

[2019-07-01 03:20] metral commented on #79581
/sig-aws

[2019-07-01 03:21] metral commented on #79581
/sig aws

[2019-07-01 03:26] metral commented on #79581
Related:
- https://github.com/kubernetes/kubernetes/issues/65013#issuecomment-422214870
- https://github.com/kubernetes/kubernetes/issues/44997

[2019-07-01 03:38] shimron opened #79582 "container level TerminationGracePeriodSeconds"
**What would you like to be added**:
setup TerminationGracePeriodSeconds on container level
**Why is this needed**:
For some reason, pod may have two containers, container A can handle SIGTERM signal，but it may require seconds to half an hour to stop gracefully； container B wouldn't deal the SIGTERM（can be force killed）, so it can only be killed when the termination grace period reached.

In curre

[2019-07-01 03:45] fudali113 commented on #78646
i am used `kubectl edit` change yaml config，error information in the first comment

[2019-07-01 03:58] shimron commented on #79582
/sig apps

[2019-07-01 04:28] hainesc commented on #78646
You must make sure when first applied, did the `schedule value` wrapped by `"` or `'`?
If it did, why do you edit it and remove the `'`?

[2019-07-01 04:44] shimron commented on #79582
/sig node

[2019-07-01 06:02] globervinodhn opened #79586 "Change E2Es for Node Affinity validation to not use events"
**What would you like to be added**: As per the comment, https://github.com/kubernetes/kubernetes/pull/77857#issuecomment-503683546

the E2Es for Node Affinity should be modified to use informers sot hat they can be promoted to conformance

**Why is this needed**: To promote node affinity validation E2Es to conformance

@mgdevstack

[2019-07-01 06:06] wojtek-t commented on #73527
/remove-lifecycle stale
/lifecycle frozen

[2019-07-01 06:09] globervinodhn commented on #79586
/sig testing
/area conformance

[2019-07-01 06:09] globervinodhn commented on #79586
/kind cleanup

[2019-07-01 06:35] Erokos commented on #63022
Hi, any progress on this? I'm a bit confused looking at the correspondence, did I understand correctly that by adding something like
`--node-labels=role=prod`
to my user data looking like this:

`/etc/eks/bootstrap.sh --use-max-pods true --b64-cluster-ca {aws_eks_cluster.eks_cluster.certificate_authority.0.data} \
  --apiserver-endpoint ${aws_eks_cluster.eks_cluster.endpoint} ${var.eks_cluster_nam

[2019-07-01 06:59] globervinodhn opened #79590 "E2E Proposal: New E2E to ensure pods are scheduled to same nodes always"
**What would you like to be added**: The new E2Es are needed to check that the pod satisfying the underlying conditions is scheduled to same nodes in each run.

**Why is this needed**: To validate pod scheduling based on node affinity/node Selector

**Plan for test yaml using Node Selector:**
1. Acquire a node from the cluster, say Node1
2. Taint Node1 with 'test-blue' with NoSchedule effect. Also

[2019-07-01 06:59] globervinodhn commented on #79590
/sig testing

[2019-07-01 07:13] tedyu commented on #73527
@wojtek-t
SelectorFromValidatedSet calls sort. However, the goal for creating the selector is for calling selector.Matches where the sorting can be skipped.
[code]
How about passing a flag to AsSelectorPreValidated() which skips the sorting step ?

[2019-07-01 07:14] andyzhangx commented on #76740
someone able to work on this? This is a blocking issue for upgrade to metrics server to v0.3.x if there is windows node

[2019-07-01 07:44] #74706 closed

[2019-07-01 08:10] zakthan commented on #79512
/remove-triage unresolved

[2019-07-01 08:27] lbernail commented on #73382
I think we can really optimize: `GetLocalAddresses` https://github.com/kubernetes/kubernetes/blob/8327e433590f9e867b1e31a4dc32316685695729/pkg/proxy/ipvs/netlink_linux.go#L148

The only interface with a large number of IP addresses will be kube-ipvs0, so instead of listing all local routes we can list all interfaces and filter the call to list routes: https://github.com/kubernetes/kubernetes/blob/

[2019-07-01 08:31] johscheuer commented on #79487
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/79459 ?

[2019-07-01 09:02] pohly commented on #74353
Thanks for the offer. Let's see whether I can assign it to you...

/assign @vinicyusmacedo

If you want to discuss it further, feel free to reach out to the folks currently maintaining the E2E framework (the testing-commons sub-project of SIG-testing, see https://github.com/kubernetes/community/tree/master/sig-testing#subprojects). I'm less active there at the moment.

[2019-07-01 09:17] #73620 closed

[2019-07-01 09:36] better0332 commented on #79213
I have reproduce this issue, 4 pod evenly distributed, no matter what ipvs scheduler(rr/lc), it inevitabe hit the same pod. I think its hard to resolve unless the pod order is random.

[2019-07-01 09:41] faraznazeer opened #79595 "Re-scheduling evicted pods in kubernetes to a specific node using custom scheduler"
Is there a way to re-scheduling evicted pods in kubernetes to a specific node using custom scheduler?
@kubernetes

[2019-07-01 09:45] oxddr opened #79596 "gce-scale-performance fails due to long LIST ReplicationControllers"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-performance

**Which test(s) are failing**:
load

**Since when has it been failing**:
2019-06-28 however we've observing this behavior earlier as well

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
too long latency on `LIST ReplicationController`

**Anything else

[2019-07-01 09:45] oxddr commented on #79596
/sig scalability

[2019-07-01 09:50] mm4tt commented on #76012
/assign @oxddr

@oxddr will be taking over this effort.

[2019-07-01 09:54] jicki commented on #76531
OS CentOS 7
K8S: 1.14.3
Docker: 18.09.6

Kubeadm install

/var/logs/message

[code]

[2019-07-01 09:54] krzysied commented on #79096
Investigating load test latency of replicationcontroller LIST will be handled in separate issue - #79596

[2019-07-01 10:22] prameshj commented on #79459
I'm on vacation for the next 2 weeks, so won't be able to look at it before that. Tagging @rajansandeep

[2019-07-01 10:36] huzy96 commented on #79336
Thank you very much for helping me solve this problem. @GitHubxsy

[2019-07-01 10:36] #79336 closed

[2019-07-01 10:41] jonsys commented on #58988
Thanks a lot @DamienVStone this worked for me.

[2019-07-01 11:07] rthallisey commented on #78842
I haven't tested with the pre-existing cluster scripts in quite a bit of time.  It's likely the scripts there are outdated and need updating.

[2019-07-01 11:22] oxddr commented on #76012
/remove-lifecycle stale

[2019-07-01 11:36] justaugustus opened #79597 "pull-kubernetes-e2e-aks-engine-azure consistently failing"
**Which jobs are failing**:
pull-kubernetes-e2e-aks-engine-azure

**Which test(s) are failing**:
`Up`

**Since when has it been failing**:
[2019-05-10 05:20:51 +0000 UTC](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/77719/pull-kubernetes-e2e-aks-engine-azure/1126718651890667520)

**Testgrid link**:
No Testgrid, but job history: https://prow.k8s.io/job-history/kubernetes-jenkins/pr-

[2019-07-01 11:38] justaugustus commented on #79597
@kubernetes/sig-azure
/assign @ritazh
cc: @feiskyer @andyzhangx @khenidak
/milestone v1.16
/priority important-soon

[2019-07-01 11:38] justaugustus commented on #79597
/sig azure

[2019-07-01 11:53] RainbowMango commented on #79582
IMO, it's not a common case.

I guess you ignored SIGTERM signal for container B, why do you do that? Why not just terminate in case of SIGTERM signal?

It's unusual for a container to take so long time to stop.

[2019-07-01 12:13] Pluies commented on #67662
Hitting the same issue on EKS 1.13.7, and we are using Istio as well (1.2.0). We ran into the issue while doing a rolling-upgrade of the cluster, with a lot of pod churn, so I assume that the above hypothesis around admission-controller / sidecar injection might be correct. :)

[2019-07-01 12:15] jewee commented on #70147
+1 it would be very handy to have cluster wide secrets

[2019-07-01 12:25] shimron commented on #79582
@RainbowMango   Indeed, container B ignored SIGTERM while it was started with a bunch of shell scripts (bash -c) to do some init steps and share php scripts to container A.

Container A is an nsq consumer  written in go which is used to execute php scripts based on the nsq message info.  For some reason, the execution of  php scripts may take a long time to complete, the maximum time could be half

[2019-07-01 12:27] RainbowMango commented on #79579
No redundant newline on my local-up cluster. :)

[2019-07-01 12:35] RainbowMango commented on #78124
@MrHohn Maybe this issue can be closed now.

[2019-07-01 12:47] rajansandeep commented on #79459
/assign

[2019-07-01 12:49] mattjmcnaughton commented on #79577
Nice debugging here :)

[2019-07-01 12:59] timyinshi commented on #77728
I also encountered this problem. I found that docker could work normally. For example, when I inquired docker logs, information could be returned normally。
I think there is something wrong with the container of kube_proxy_pause, so I deleted a container of kube_proxy_pause. I found that my container was not started.
So I thought there might be a problem with kube_proxy_pod, so I removed kube_proxy

[2019-07-01 13:13] wojtek-t commented on #73527
AsSelectorPreValidated() is already a bit of a hack by iself (I know I'm the one who added it). And I'm bit reluctant of making it even more strange looking...

[2019-07-01 13:20] tedyu commented on #73527
Can SelectorFromValidatedSet skip calling sort ?
I would think that the selectors have equal weight.

[2019-07-01 13:21] #73289 closed

[2019-07-01 13:25] wojtek-t commented on #73527
It can't - it would e.g. break the assumption that you can compare them.
Or will be printed randomly when you print them.
The potential drawbacks are larger than the gain from it (i.e. majority of selectors are fairly small and memory allocations/gc connected to building selector are usually more expensive the this sort).

[2019-07-01 13:29] wojtek-t commented on #78562
Aaah ok - that's what you meant.
No - the only restarts that we observed were OOMs (i.e. the first one restart was also an OOM).

[2019-07-01 13:33] rhockenbury commented on #75978
/remove-lifecycle stale

[2019-07-01 13:54] alexkreidler commented on #23291
I would love to see a natively supported method in Kubernetes for a L4 ingress. This would make exposing services so much easier.

Thanks everyone for discussing and working on this, but I would really love to see this idea take the next steps towards reality. Hopefully some maintainers pick up on this?

[2019-07-01 13:55] neolit123 commented on #79556
`/var/lib/kubelet/config.yaml` is a file that `kubeadm init/join` generates

[2019-07-01 14:08] krsna1729 commented on #75973
/remove-lifecycle stale

[2019-07-01 14:10] alejandrox1 commented on #79487
yes, yes it is. Thank you for the catch.
Will move onto the other one.
/close

[2019-07-01 14:10] #79487 closed

[2019-07-01 14:11] alejandrox1 commented on #79459
We are seeing the same issue in master branch:
testgrid: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial
job: ci-kubernetes-e2e-gci-gce-serial

(adding for context for others) this one issue references the v1.14 ci jobs in: https://testgrid.k8s.io/sig-release-1.14-all#gce-cos-k8sstable1-serial
/milestone v1.16

[2019-07-01 14:23] eero-t opened #79601 "Can't specify correct user / group name for security context"
**Rationale**

Device files require user to be in a specific group to access them.  Names of these groups are de-facto standardized between distros (if they're present), but the corresponding IDs are not.

ID used inside container needs to match the one on the host for device access to work.  Therefore, for access to work across distros (i.e. container to be agnostic about the underlying OS), user

[2019-07-01 14:28] alejandrox1 commented on #79096
/milestone v1.16

[2019-07-01 14:35] eero-t commented on #79601
Trying to apply random sig as nothing seems to quite fit: @kubernetes/sig-policy  /sig policy

(How the heck bug reporter is supposed to know which sig is most appropriate???)

[2019-07-01 14:37] johnSchnake commented on #69373
Below is a link to the full set of tests that I found linked to SSH behavior.

TL;DR;

Main suite: 32 tests as well as the entire `framework.AfterEach` when collecting metrics.

All node conformance: 150 tests
 - multiple methods like setupCNI use SSH when running each test

Scalability - 12 density tests
Scalability - 10 load capacity tests

2 unit tests related volume mounts.

Full dump here: ht

[2019-07-01 14:44] eero-t opened #79602 "Pod securityContext should support options supported both by PodSecurityPolicy & container securityContext"
**What would you like to be added**:

I would expect the same security options to be available in Pod securityContext as what are in *both* PodSecurityPolicy and container securityContext.  Specifically, adding/removing capabilities and privilege escalation.

**Why is this needed**:

Typing same thing to all container securityContexts is tiresome and error prone when one could just set them once i

[2019-07-01 14:46] eero-t commented on #79602
/sig policy

[2019-07-01 14:47] eero-t commented on #79602
/sig wg-policy

[2019-07-01 14:49] johnSchnake commented on #69373
- There are currently no `Conformance` tests that use the SSH features that I was able to find (except the `NodeConformance`.
 - Seems reasonable to add skips for the 32 other tests; thats not too bad
 - Do we care the scalability tests use SSH? It is in a different suite entirely.

Update/correction to the above: The `framework.AfterEach` calls a method `StopAndSummarize` but I think in that cont

[2019-07-01 14:50] eero-t commented on #79602
/sig auth

[2019-07-01 14:51] eero-t commented on #79601
/sig auth

[2019-07-01 14:58] pperiyasamy opened #79603 "cpumanager doesn't start kubelet when isolcpus set"
**What happened**:

I'm trying to install Kubernetes using kubeadm on single node cluster with CPUManager feature-gate set with 'true' and its policy is set to 'static'. But Kubelet process is failed to start and seeing the following error.

[code]

**What you expected to happen**:

kubelet should be up and running with 'static' cpu manager policy and it should be able to allocate isolated cores e

[2019-07-01 15:18] thockin commented on #8190
Adding here so we don't forget (I hope).

Node.status.addresses uses 'type' as merge key but that is not sufficiently unique.

https://github.com/kubernetes/kubernetes/pull/73977

[2019-07-01 15:25] flyer103 commented on #79510
/sig api-machinery
/sig cli

[2019-07-01 15:27] answer1991 commented on #76579
/cc

[2019-07-01 15:29] cschramm commented on #72393
Same issue as @lucaim here. The warnings about the missing etc files break the JSON output. Adding empty files on the executing node fixes resizing.

[2019-07-01 15:56] nikkatalnikov opened #79606 "kubectl wait works for Deployment, but does not for StatefulSet"
**What happened**:
[code]
works for Deployment, but it does not work for StatefulSet

**What you expected to happen**:
Expected that kubectl wait works for StatefulSet

[code]

[2019-07-01 15:56] nikkatalnikov commented on #79606
/sig kubectl

[2019-07-01 16:01] flyer103 commented on #79510
Try to use a higher version of `kubectl`? For example, v1.11

[2019-07-01 16:04] nikkatalnikov opened #79607 "kubectl wait stucks if YAML declaration contains different resource types"
**What happened**:

The following YAML

[code]

does not work for

[code]

it simply stucks. However,

[code]

works as expected

**Why is that needed?**:

I think it will simplify devops' life not to care about how YAMLs are composed from kubectl prospective, but rather compose them from logical prospective (for humans).

[2019-07-01 16:06] answer1991 opened #79608 "distinguish logical processing timeout and response body write timeout from 504 response"
**What happened**:

We observed lots of 504 response in our monitor system, which get metrics from `apiserver_request_total`.  Which mislead us to troubleshooting etcd and webhook performance.

After troubleshooting, we find there are two ways to record 504 in `apiserver_request_total` metric:

1. logical processing timeout: such operation etcd timeout, or calling webhook timeout.
2. response body

[2019-07-01 16:06] answer1991 commented on #79608
/kind api-machinery
/assign

[2019-07-01 16:19] answer1991 commented on #79608
/sig api-machinery

[2019-07-01 16:38] nikkatalnikov commented on #79606
/sig cli

[2019-07-01 16:39] nikkatalnikov commented on #79607
/sig cli

[2019-07-01 16:50] andrewsykim commented on #79213
It's worth noting IPVS is an L4 load balancer so the scheduling algorithm only applies when establishing connections. Can you confirm you are seeing this for each connection and not per request?

[2019-07-01 16:51] andrewsykim commented on #79213
@myonlyzzy can you share more details on how you opened those connections from service A to B?

[2019-07-01 16:52] andrewsykim commented on #79213
cc @lbernail @m1093782566

[2019-07-01 17:21] yuxiangqian commented on #79397
@msau42 @gnufied

[2019-07-01 17:25] draveness commented on #79511
The unreserve plugin flakes again with https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/79109/pull-kubernetes-integration/1145723758279921668/ in #79109

[code]

[2019-07-01 17:25] #73173 closed

[2019-07-01 17:49] bdonnahue commented on #66108
@jarvisuser90 just to be clear on the sequence of events. You init the master, then init the worker, then create the token, then join the worker?

[2019-07-01 17:53] MrHohn commented on #78124
@RainbowMango Thanks for the ping. I'm closing this in favor of #53451, which will be left open until we enable the finalizer feature by default.
/close

[2019-07-01 17:53] #78124 closed

[2019-07-01 17:59] jarvisuser90 commented on #66108
@bdonnahue I use Kubeadm to init the master node and then create the worker join command (done on master done). I then run the join command on worker node that inits and joins the cluster. Hope that helps.

[2019-07-01 18:06] bdonnahue commented on #66108
@jarvisuser90 ahh ok thanks. I am doing the same and the join appears to hang. I see the following in /var/log/mesages: failed to load Kubelet config file /var/lib/kubelet/config.yaml

[2019-07-01 18:22] msau42 commented on #79397
@kubernetes/sig-storage-feature-requests

[2019-07-01 18:34] liggitt opened #79610 "Dynamic informers do not stop when custom resource definition is removed"
**What happened**:

Once started, dynamic informers for custom resources are not stopped.

**What you expected to happen**:

After the dynamic informers resynced, they would stop informers belong to no-longer-existing resources.

**How to reproduce it (as minimally and precisely as possible)**:
1. Start a cluster with garbage collection and quota enabled with high enough verbosity to see API reque

[2019-07-01 18:35] pure-yesmat commented on #79355
Thanks @davidz627.
@bswartz can you share your current design/proposal/thoughts?

[2019-07-01 18:48] ahg-g opened #79611 "TestUnreservePlugin is flaky, again"
**What happened**:
TestUnreservePlugin is flaky: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/79109/pull-kubernetes-integration/1145723758279921668/

**What you expected to happen**:
Test to always pass.

**How to reproduce it (as minimally and precisely as possible)**:
This is a flaky test, but the issue is that the unreserve plugin didn't get the change to execute before the test

[2019-07-01 18:48] wojtek-t commented on #79096
Apart from #79596 everything else from this issue has been fixed. Closing this one.

[2019-07-01 18:48] #79096 closed

[2019-07-01 18:49] timothysc commented on #77197
@jiatongw @andrewsykim - can we close this issue?

[2019-07-01 18:52] ahg-g commented on #79611
/help

[2019-07-01 18:54] jiatongw commented on #77197
@timothysc  func **PickNodeIP**(c clientset.Interface) string { is not refactored yet. Will open a PR and `fix` this issue later

[2019-07-01 19:07] mcrute commented on #79523
/cc

[2019-07-01 19:09] jakepearson opened #79612 "Could not simulate an error in discovery/fake/ServerVersion"
**What happened**:

I was trying to write a test in a service I'm working on to catch if an error returns from `client.Discovery().ServerVersion()`. When I overrode the result of the fake client with a reactor to return an error I did not get the error back.

**What you expected to happen**: If the reactor is set to return an error, it should come back.

**How to reproduce it (as minimally and pre

[2019-07-01 19:11] gnufied commented on #79397
Just to confirm.. is total mount and unmount timings out of scope for this issue?

[2019-07-01 19:11] inc0 opened #79613 "Allow custom weights for kubernetes scheduler - custom controllers"
** Problem **

Currently we run very job-heavy Kubernetes cluster. That means we have a lot of very small jobs, hence a lot of `Completed` Pods. Problem is, Kubernetes scheduler doesn't seem to take these into account when trying to schedule new pod. As effect, we experience 2 orders of magnitude more pods in one node vs another. That means we're quickly running out of disk space on said node when

[2019-07-01 19:12] inc0 commented on #79613
/sig scheduling

[2019-07-01 19:14] jakepearson commented on #79612
/sig testing

[2019-07-01 19:19] vincepri opened #79616 "Move pkg/kubectl/drain out of k/k repository"
**What would you like to be added**:
I'd like to propose we move `pkg/kubectl/drain` outside of k/k repository. One possible option is to move (or stage) it in `k8s.io/kubectl`.

**Why is this needed**:
Clients that want to drain/cordon nodes will need to have an explicit dependency on k/k, or copy the code outside, or use other ways. To standardize the approach offered in this library, we propose

[2019-07-01 19:20] lbernail commented on #79213
kube-proxy performs client-side load-balancing so the "lc" algorithm will only apply from the perspective of each node.
So if your 4 client pods are on different nodes they can all connect to the same pod (because from the IPVS perspective there is a single connection in the node database)

lc only makes sense if you have a lot of connections to a service on each node (but it will still only be a

[2019-07-01 19:20] ncdc commented on #79616
Or possibly k8s.io/client-go?

[2019-07-01 19:21] ncdc commented on #79616
cc @dims

[2019-07-01 19:21] vincepri commented on #79616
cc @detiber

[2019-07-01 19:22] ncdc commented on #79616
cc @sttts re client-go possibility

[2019-07-01 19:27] #73641 closed

[2019-07-01 19:27] #28407 closed

[2019-07-01 20:28] #66789 closed

[2019-07-01 20:28] #73605 closed

[2019-07-01 20:31] msau42 commented on #79397
I think we should consider node operations too. But we could track it as a separate issue if that's easier?

[2019-07-01 21:26] yliaog commented on #79510
/cc

[2019-07-01 21:27] yliaog commented on #79610
/cc

[2019-07-01 21:39] yujuhong opened #79622 "Test failure: Proxy version v1 should proxy through a service and a pod [Conformance] failing on Windows"
**Which jobs are failing**:
https://testgrid.k8s.io/sig-windows#gce-windows-master
https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master

**Which test(s) are failing**:
Proxy version v1 should proxy through a service and a pod [Conformance]

**Since when has it been failing**:
06/28
**Testgrid link**:
https://testgrid.k8s.io/sig-windows#gce-windows-master
https://testgrid.k8s.io/sig-

[2019-07-01 21:44] robottaway commented on #79492
@mattjmcnaughton we are in process of upgrading control plane and kubelet to 1.13.7 (latest EKS release). Will report back in a week or so if we are still able to replicate this issue. Thank you for the quick reply!

[2019-07-01 21:55] robottaway commented on #79492
Also here is a link to the issue filed in the Moby project where a PR is already raised to address the issue of event being dropped: https://github.com/moby/moby/issues/39427

[2019-07-01 21:58] #79434 closed

[2019-07-01 22:00] yliaog commented on #79510
@zqzzq
I did a diff of your new deployment and the old one, they look to be very different. It is *not* just remove 2 volumes, as you suggested.

kubectl apply is doing a strategic merge patch, which might fail when the changes in your new deployment are *not* compatible, and hence, not patchable to your old deployment yaml.

[2019-07-01 22:07] kfox1111 opened #79624 "Support drivers that support both ephemeral and non ephemeral modes"
We would like to have drivers that can be used in both ephemeral and non ephemeral modes be supported.

csi-driver-hostpath is an example that can be used in either ephemeral or non ephemeral modes, but only one at a time.

To support both at one time, the driver needs to be aware of which mode its operating on, on a per volume basis. One suggestion would be to use the existing pod info on mount f

[2019-07-01 22:08] kfox1111 commented on #79624
@kubernetes-sig-storage-feature-requests

[2019-07-01 22:09] #75617 closed

[2019-07-01 22:09] kfox1111 commented on #79624
@msau42 @vladimirvivien @pohly

[2019-07-01 22:10] kfox1111 commented on #79624
@kubernetes/sig-storage-feature-requests

[2019-07-01 23:03] jingxu97 commented on #75801
/remove-lifecycle stale

[2019-07-01 23:13] msau42 commented on #55517
/reopen
/lifecycle frozen

[2019-07-01 23:15] jpbetz commented on #79209
@jeffliu27 Were you still thinking of working on this? Sounds like @vnktram is also interested.

[2019-07-01 23:16] msau42 commented on #55517
This is an untested configuration and as we're adding more features and designing around AD controller/kubelet coordination for things like migration, this functionality is bound to get broken.

We should think about how to support the [static pod scenario](https://github.com/kubernetes/kubernetes/issues/55517#issuecomment-402218274) outlined above considering the move towards CSI and eventually r

[2019-07-01 23:44] msau42 opened #79628 "Improve logging when AD controller lets kubelet attach volumes"
**What would you like to be added**:
Add a lower-level log (2) and/or pod event (info level) whenever the attach detach controller decides to skip processing a volume and let kubelet handle the attaching.

**Why is this needed**:
The typical volume attach handling is done by the attach detach controller running in the master.
 It used to be handled by kubelet, but was moved to a single controller

[2019-07-01 23:45] msau42 commented on #79628
We need to make sure this doesn't cause log spam

[2019-07-01 23:55] roycaihw commented on #79209
FYI https://github.com/kubernetes/kubernetes/pull/79376 is making webhooks context-aware, which makes it easier to [plumb high level trace from rest request handler](https://github.com/kubernetes/kubernetes/pull/79376/files#diff-7861f33474e4eb8d21cf1d33de5e4d4eR132) down to the [lower level webhook invocation](https://github.com/kubernetes/kubernetes/pull/78610/files#diff-e057ec5b2ec27b4ba1e1a3915

[2019-07-02 00:10] ahg-g opened #79629 "Scheduler: affinity priority function lists nodes from the informer cache instead of scheduler cache"
**What happened**:
#79076 modified the scheduler configuration such that NodeInfo is read from the scheduler cache. [NodeInfo is used in calculating pod affinity priority along with NodeLister](https://github.com/kubernetes/kubernetes/blob/38e8b8a9f65e66b779a0985e17868b036c1d601b/pkg/scheduler/algorithmprovider/defaults/register_priorities.go#L73). NodeLister is a light wrapper around a corelister

[2019-07-02 00:35] draveness commented on #79629
/assign
/remove-help

[2019-07-02 00:55] loganhz commented on #79359
If we edit the default kubernetes endpoint to point to the node’s public ip, then `curl.exe -k https://kubernetes.default.svc.cluster.local` works

[2019-07-02 00:57] liggitt commented on #79601
/remove-kind bug
/kind feature
/sig node

[2019-07-02 00:57] liggitt commented on #79601
/remove-sig auth

node is probably a better fit since this is related to process invocation and container runtime plumbing

[2019-07-02 01:33] RainbowMango commented on #79616
@vincepri Can i reserve this issue?

[2019-07-02 01:35] RainbowMango commented on #79616
/assign

[2019-07-02 01:37] zsl3203 opened #79632 "kube-scheduler in CrashLoopBackoff Error after passing custom scheduling policy"
**What happened**:

I'm trying to pass a custom policy configuration to the scheduler but some error occurred, the k8s
deployment failed and the kube-scheduler CrashLoopBackOff.

**What you expected to happen**:

Run well

**How to reproduce it (as minimally and precisely as possible)**:

I'm trying the pass the conf to scheduler through kubeadm init
[code]
where scheduler.yaml is as following
[co

[2019-07-02 01:37] warmchang commented on #79579
@RainbowMango Try minikube, the reproduce step:
[code]

[2019-07-02 01:38] draveness commented on #79611
cc/ @danielqsj

[2019-07-02 01:44] RainbowMango commented on #79610
@liggitt  I would like to work on it! As this my first issue in api-machinery sig.
/assign

[2019-07-02 01:47] srslafazan opened #79633 "Kubernetes Service not forwarding to ports other than 80 and 443"
**What happened**:

Kubernetes Service (NodePort, LoadBalancer, ClusterIP) does not forward to ports other than 80 and 443. (Ex: 5432 times out, and 27017 times out, etc.)

It forwards requests from the host machine correctly, but not requests from containers.

**What you expected to happen**:

Kubernetes Service should forward to ports other than 80 and 443, when specified.

**How to reproduce it

[2019-07-02 01:49] liqlin2015 commented on #79268
@yliaog We restarted kubelet, kube-scheduler, kube-controller-manager, kube-apiserver.
I have not tried with k8s v1.14.x.

@WanLinghao There is no proxy setting. And why need to disable firewall? We did not enable firewall service.

[2019-07-02 02:09] #71627 closed

[2019-07-02 02:37] yqwang-ms opened #79635 "Allow to scheduler (extender) to update Pod Env: NVIDIA_VISIBLE_DEVICES"
**What would you like to be added**:
Allow to scheduler (extender) to update Pod Env: NVIDIA_VISIBLE_DEVICES.

**Why is this needed**:
Currently, it is too tedious and complicated to let scheduler extender or a standalone scheduler to pass GPU placement decision (e.g. Node: A, GpuIndex: 2,3) to nvidia-container-runtime.

This is because the device plugin Allocate() rpc, can only know the GPU place

[2019-07-02 02:45] yqwang-ms commented on #79635
/sig scheduling
/sig api-machinery

[2019-07-02 03:04] yehaifeng commented on #68211
I get the same issue in openshit 1.13, kubernetes 1.11.0
When pod restart and then mount fail.

Jul 01 18:45:48 paas-node010002.99bill.com origin-node[54267]: E0701 18:45:48.898167   54267 remote_runtime.go:209] StartContainer "c442998c576878395b30d2c831c3d42fbdbf75171b21a22ccde0e1141fdd3671" from runtime service failed: rpc error: code = Unknown desc = failed to start container "c442998c576878395

[2019-07-02 03:32] RainbowMango commented on #79616
/assign @hzxuzhonghu

[2019-07-02 03:32] RainbowMango commented on #79616
/unassign @hzxuzhonghu

[2019-07-02 04:04] yue9944882 commented on #79610
ref #77480

[2019-07-02 04:28] liggitt commented on #79635
you can use `metadata.annotations['annotationname']` as a `valueFrom.fieldRef.fieldPath`

[2019-07-02 04:29] liggitt commented on #79635
see https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api

[2019-07-02 04:44] yqwang-ms opened #79640 "Default scheduler crash if scheduler extender filter returns a not found node"
**What happened**:
Default scheduler crash if scheduler extender filter returns a not found node

**What you expected to happen**:
Default scheduler just should consider the not found node as not an candidate, instead of crash itself (panic).

**How to reproduce it (as minimally and precisely as possible)**:
1. The cluster only have 1 node: 0.0.0.1
2. One scheduler extender (with nodeCacheCapable

[2019-07-02 04:45] yqwang-ms commented on #79640
/sig scheduling

[2019-07-02 04:53] yqwang-ms commented on #79635
Thanks @liggitt , I do see you can use [this ](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api) to inject as a file, but I want to inject as Env NVIDIA_VISIBLE_DEVICES, and only in this way nvidia-container-runtime can pick it up.

For Env fieldRef seems different, please check current validation:
https://github.

[2019-07-02 04:57] liggitt commented on #79635
The expression I referenced works as an envvar as well. See https://github.com/kubernetes/kubernetes/blob/6d8dd211111474f277ef8e390a3eeed2465fb9e0/pkg/apis/core/validation/validation.go#L2141-L2153

There's an e2e test that makes use of it here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/expansion.go#L341-L347

[2019-07-02 06:10] yqwang-ms commented on #79635
Great!!! Thanks @liggitt

[2019-07-02 06:12] wenlxie opened #79643 "Feature request: resource quota management for CSI inline volume"
**What would you like to be added**:

`CSI Inline volume` is a really valuable feature for users, but there is no resource quota management for it.
A common scenario is:
- There is a storage class, which implemented by csi driver like `kubernetes.io.csi.local`,  there is also resource quota setting for this storageclass in user's namespaces.(https://kubernetes.io/docs/concepts/policy/resource-quot

[2019-07-02 06:12] wenlxie commented on #79643
/sig storage

[2019-07-02 06:30] yqwang-ms commented on #79635
@liggitt BTW, can we allow scheduler (extender) to add Pod resource limit (such as cpu, memory) if they are not specified before and the pod is not bound, or support resource limit to refer the annotation?

[2019-07-02 06:35] robbierafay commented on #79556
I am having similar issue . I am trying to run `kubeadm init` on a fresh Ubuntu 18 install on GCP with k8s 1.15.0 and docker version 18.09.5. For some reason the kubeadm install fails as kubelet  fails health check. kubelet process is running but is not listening on health check port 10248 and also none  of the static pods are getting started.

Killing kubelet and  running it manually with increas

[2019-07-02 06:56] xiaozhongliu commented on #79419
Never mind, problem is not on bd-college-model. A weird problem that I could't event reproduce it any more.

[2019-07-02 06:56] #79419 closed

[2019-07-02 06:57] robbierafay opened #79644 "Kubelet does not start static pods on fresh k8s 1.15 install with Ubuntu18"
**What happened**:
I am trying to start a fresh cluster with kubeadm init. Kubelet health check failed and install failed.

**What you expected to happen**:
Kubelet to start control plane static pods

**How to reproduce it (as minimally and precisely as possible)**:
# kubeadm init --pod-network-cidr=10.244.0.0/16

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kub

[2019-07-02 07:00] robbierafay commented on #79644
/sig cluster-lifecycle

[2019-07-02 07:06] pohly commented on #79624
How does kubelet decide whether it shall add that `csi.storage.k8s.io/ephemeral` key to the `NodePublishVolumeRequest.volume_context`? I think it has to depend on that (to be implemented) `CSIDriver.Mode`, because otherwise we end up modifying the `volume_context` also for drivers which don't support ephemeral, which may surprise them.

[2019-07-02 07:46] axsaucedo commented on #17144
@KIVagant fair enough, that does makes sense 👍

[2019-07-02 07:56] xphh commented on #45509
Finally found this issue! This also bother me a lot. So what is the solution guys? I found a similar way that using Jobs to terminate pods which need to. However, it's so weired for handling workers as jobs. Hope a built-in way.

[2019-07-02 08:09] alexeldeib commented on #79597
/cc @jackfrancis @CecileRobertMichon

[2019-07-02 08:12] george-angel commented on #60665
/remove-lifecycle stale

[2019-07-02 08:42] idealhack commented on #63267
@lledru Hi, feel free to take a look at the remaining tasks and work on :)

/lifecycle frozen

[2019-07-02 09:14] peters0908 commented on #71887
Same here:
k8s: 1.13.4
Docker: 18.09.3
Linux: RHEL 7.6 3.10.0
cgroup-driver: systemd

[2019-07-02 09:15] manimike00 commented on #79644
you can try kubernetes 1.14. The version 1.15 also makes the same error for me also.

[2019-07-02 09:21] pujunYang commented on #58042
I have disable --feature-gates=TaintNodesByCondition=false, but node still has taint

[2019-07-02 09:24] dpoison commented on #79466
@thockin
We have increased pid_max to 1Mi. let us see if we face this issue again.

We checked running processes per node is note more than 5K at a time. Is there any way to check total processes running on node (inclusive host and containers)?

one thing we got in this time between. we found systemd-coredump error on the node.

`Jun 28 15:47:37 node03 systemd[1]: systemd-coredump@2-10790-0.servic

[2019-07-02 09:28] josephburnett commented on #79275
@draveness if you plan to work on this, let's coordinate.  I have a more complete change for #79035 which uses types to keep spec replicas separate from status replicas.

[2019-07-02 09:29] dpoison commented on #79466
/re-open

[2019-07-02 09:35] tnozicka commented on #54525
/reopen
/remove-lifecycle rotten
/sig apps

Yeah, some controllers like DS delete evicted pods on it's own, and Statefulset needs it because of pod identity.

I think at some point we have made Deployments not account Evicted pods into it's state as it was causing problems.

Except when someone creates the pod manually (not by a controller) then he likely cares about it being evicted.

How about w

[2019-07-02 09:38] draveness commented on #79275
I think that one would cover this issue. what do you think of closing this?

[2019-07-02 09:43] josephburnett commented on #79275
The HPA runaway bug was because we got spec and status replicas confused.  We returned status replicas to maintain the current scale, which causes when there are more Pods than we asked for (e.g. during a Deployment update).

We really should return a boolean instead of plumbing through the current scale.  I didn't want to include that in #79035 because it would make the change **much** larger.  I

[2019-07-02 09:48] draveness commented on #79275
SGTM, I could send a PR later after yours get merged. What do you think?

[2019-07-02 10:18] josephburnett commented on #79275
If you have time to work on this issue, I recommend doing so right after #79035 merges.  I'll wait to submit my spec/status type change until after you fix this issue.  So please, go first.  :)

[2019-07-02 10:26] draveness commented on #79275
Hi Joseph, you could take it over if you want, I don't want to block your work. 😁

[2019-07-02 10:55] AceHack commented on #20227
/remove-lifecycle rotten

[2019-07-02 10:57] josephburnett commented on #79275
You wouldn't be blocking my work.  I have many other things to do related to these problems.  Such as backporting #79035 to previous k8s versions.  Writing an E2E test to guard against this in the future.  And fixing another stuck HPA bug (https://github.com/kubernetes/kubernetes/issues/79158).  Your help would be welcome.  Go ahead!

[2019-07-02 11:15] neolit123 commented on #79556
on a quick look i don't see any errors in the above log.

^ did you set these?

please share your kubeadm configuration file or any flags you pass to `kubeadm`

[2019-07-02 11:16] Erokos commented on #63022
By looking at the bootstrap.sh script, I'm not sure that it accepts node label settings. When specifying and trying out:
`/etc/eks/bootstrap.sh --use-max-pods true --b64-cluster-ca {aws_eks_cluster.eks_cluster.certificate_authority.0.data} \ --apiserver-endpoint ${aws_eks_cluster.eks_cluster.endpoint} ${var.eks_cluster_name} --kubelet-extra-args --node-labels=node.kubernetes.io/role=prod`

or when

[2019-07-02 11:30] oxddr opened #79651 "[Failing Test] gce-cos-master-scalability-100 cannot download kubernetes.tar.gz (404)"
**Which jobs are failing**:
gce-cos-master-scalability-100

**Which test(s) are failing**:
cluster cannot be created

**Since when has it been failing**:
7/02 01:56 PDT

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

**Reason for failure**:
get-kube.sh cannot download kubernetes.tar.gz - it's getting 404

**Anything else we need to know**:
n

[2019-07-02 11:37] paol commented on #70010
I'd like to second this bug report. Currently we are developing a device plugin, and the behavior surrounding UnexpectedAdmissionError is very undesirable.

We have worked around it by never returning errors from DevicePluginServer.Allocate(). Instead we return a "poison" value in ContainerAllocateResponse.Envs that causes the container creation to fail, which K8S handles in a much more amenable w

[2019-07-02 11:38] willzhang commented on #24330
it helpd me ,thanks you very much!!

[2019-07-02 11:41] alenkacz opened #79652 "Multiple GCE test suites in master-blocking are failing"
**Which jobs are failing**:
gce-cos-master-slow
gce-cos-master-alpha-features
gce-cos-master-ingress
gce-cos-master-default

**Which test(s) are failing**:
It fails during the test suite start up

**Since when has it been failing**:
01:31 PDT today

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-slow
https://k8s-testgrid.appspot.com/sig-release-maste

[2019-07-02 11:42] alenkacz commented on #79652
/sig release

[2019-07-02 11:44] ilchebedelovski opened #79653 "Duplicate rows in Changelog for v1.12.7"
**What happened**:
There is a duplicate row in the Changelog for v1.12.7

**How to reproduce it (as minimally and precisely as possible)**:
[CHANGELOG-1.12](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#changelog-since-v1127) the first and the fourth row are exactly the same.

/sig docs

[2019-07-02 11:44] robbierafay commented on #79556
Yes neolit123, used thise flags for kubelet. Was simply doing kubeadm init --pod-network-cidr=10.244.0.0/16

Noticed this error in logs

I0702 08:01:52.288620   20022 metadata.go:212] Failed to Get service accounts from gce metadata server: Get http://metadata.google.internal./computeMetadata/v1/instance/service-accounts/: dial tcp: lookup metadata.google.internal. on 127.0.0.1:53: no such host

R

[2019-07-02 11:46] alejandrox1 commented on #79652
/milestone v1.16
/cc @soggiest

[2019-07-02 11:46] robbierafay commented on #79556
I think I was hitting https://github.com/kubernetes/kubernetes/issues/30195

[2019-07-02 11:48] robbierafay commented on #79644
I think I was hitting https://github.com/kubernetes/kubernetes/issues/30195 .
Realized I was using consul as local DNS server. Changed that to GCP allocated DNS server and kubeadm suceeded.

[2019-07-02 11:51] oxddr commented on #79652
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100 is also affected.

I've checked some latest GCS buckets and they are missing *tar.gz packages.

[2019-07-02 11:53] cuericlee commented on #63814
In order to fix this issue, I suppose PR #57741 help to omit nil/empty filed from now on, even new filed was added in the future. I will prevent restarting container continues. we need to make decision to close this kind of issue since 1.8.x -> 1.9.x, 1.11.x -> 1.12.x and so on.
It does not help for migration immediately to omit nil/empty filed, but if it go into 1.16.x from now on, it will help o

[2019-07-02 12:17] n0-1 commented on #79304
This is unrelated.

Yes, reordering of matches should not happen. Up to some point in time iptables-nft used native nftables comments for the comment extension but that turned out to be a bad choice and I changed it to use xt_comment.ko instead. IIRC, this should be responsible for extension reordering in the rule above because native nftables comments were simply added last (iptables-nft didn't k

[2019-07-02 12:26] mgdevstack commented on #79126
@globervinodhn, Could you verify once again. If issue is fixed, feel free to close this issue.

[2019-07-02 12:44] mattjmcnaughton commented on #79492
Cool - looking forward to hearing the results after the upgrade :)

[2019-07-02 12:50] mattjmcnaughton commented on #79603
Thanks for reporting your issue @pperiyasamy !

From the logs, I'm seeing the following instructions:
[code]

Have you tried that?

[2019-07-02 13:18] oxddr commented on #79652
I had a brief look at [ci-kubernetes-build](https://prow.k8s.io/?job=ci-kubernetes-build) and it seems, that for a reason tars are not created.
[code]

On the other hand ci/latest.txt file is created. This file is used by get-kube.sh script to determine Kubernetes version to run tests with.
[code]

I think there are two thing to do:
1. fix ci-kubernetes-build so it start to create tars, so we can

[2019-07-02 13:18] oxddr commented on #79651
duplicate of https://github.com/kubernetes/kubernetes/issues/79652

/close

[2019-07-02 13:18] #79651 closed

[2019-07-02 13:37] robbierafay commented on #79644
It turned out to be a DNS issue. Closing ticket. It would have cretainly helped to have more relevant kubelet logs.

[2019-07-02 13:37] #79644 closed

[2019-07-02 14:04] msau42 commented on #79643
cc @vladimirvivien @pohly @kfox1111

@kubernetes/sig-storage-feature-requests

[2019-07-02 14:08] benmoss opened #79658 "Windows vSphere node crashing from ExfAcquireRundownProtection"
I recently had a node crash on the [vSphere Windows test job](https://k8s-testgrid.appspot.com/sig-windows#cfcr-vsphere-windows-master). The crash dump file points to the symbol `ExfAcquireRundownProtection` from `netio.sys`.

- [WinDbg logs](https://gist.github.com/benmoss/ccf17496a13a4f1e72730b3dd4295480)
- [Crash dump file](https://storage.googleapis.com/pivotal-e2e-results/crash%20dumps/dump06

[2019-07-02 14:09] benmoss commented on #77318
looks like this has been resolved by a recent KB
/close

[2019-07-02 14:09] #77318 closed

[2019-07-02 14:09] benmoss commented on #75299
looks like this has been resolved by a recent KB
/close

[2019-07-02 14:09] #75299 closed

[2019-07-02 14:09] benmoss commented on #75263
looks like this has been resolved by a recent KB
/close

[2019-07-02 14:09] #75263 closed

[2019-07-02 14:09] benmoss commented on #75197
looks like this has been resolved by a recent KB
/close

[2019-07-02 14:09] #75197 closed

[2019-07-02 14:31] jsafrane opened #79660 "Add e2e test(s) for volume scheduling limits"
Right now, we have e2e test for [volume scheduling limits](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190408-volume-scheduling-limits.md) that executes only CSI mock driver with artificial limit of 2 volumes per node.

We need a test with real CSI driver(s).

Proposal:

* Allow individual test storage drivers to specify if they support CSI limits.
* Add a test that p

[2019-07-02 14:31] jsafrane commented on #79660
/sig storage

[2019-07-02 14:32] jsafrane commented on #79660
/assign

[2019-07-02 15:04] karthikeayan commented on #20352
Me too facing this.

[2019-07-02 15:09] daudn commented on #45509
@xphh if you don't have long running tasks, CloudRun is the most efficient solution. However, CloudRun has a timeout of 15 minutes. So it is useless to my use-case. Hope it helps!

[2019-07-02 15:40] pperiyasamy commented on #79603
Yes @mattjmcnaughton , I've deleted this file and tried ít again, but same issue occurred.
isn't it due to isolcpus boot parameter set on the system ?  can you look from that perspective ?
Because I've seen k8s worked fine with 'static' cpu manger policy when isocpus is not set on a CentOS VM.

[2019-07-02 15:46] kfox1111 commented on #79643
Quota on ephemeral volumes can be complicated. Take for example, the image driver:
https://github.com/kubernetes-csi/csi-driver-image-populator
Since it uses container instances as a backing store, the usage could be 100% the image, or less depending on who else is using the image. Do you count any/all of of that, some or none? Just the changes the user wrote on top?

emptyDir also needs to stay s

[2019-07-02 15:50] mm4tt commented on #78845
@liggitt, I think it got broken again with https://go-review.googlesource.com/c/go/+/184098
Could you take a look when you have a moment?

[2019-07-02 15:58] oxddr commented on #79652
/cc

[2019-07-02 16:01] jsafrane commented on #78940
@kubernetes/release-engineering PTAL, it looks like a stupid bug somewhere.

[2019-07-02 16:12] alejandrox1 opened #79662 "[Failing Test] Nodes resize test failing in master-blocking"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
* [sig-cluster-lifecycle] Nodes [Disruptive] Resize [Slow] should be able to add nodes
* [sig-cluster-lifecycle] Nodes [Disruptive] Resize [Slow] should be able to delete nodes

**Since when has it been failing**:
These tests have been failing since 6/28
Failures coincide with the following changes: https:

[2019-07-02 16:12] alejandrox1 commented on #79662
/sig cluster-lifecycle

[2019-07-02 16:18] fgsalomon commented on #61581
Hi, I'm having a related problem.
My `PersistentVolume` and `PersistentVolumeClaim` are defined as `ReadOnlyMany`. The volume can be accessed from within the container and I can see it in the GCE instance under `/home/kubernetes/containerized_mounter/rootfs/var/lib/kubelet/plugins/kubernetes.io/gce-pd/mounts/`.
I'd like to mount this volume under a different folder of the GCE instance, say `/mnt/d

[2019-07-02 16:30] DrmagicE commented on #59717
I got the same issue. Any solutions? @YanjieGao

[2019-07-02 16:31] #78712 closed

[2019-07-02 16:36] kfox1111 commented on #79624
The csi pod info on mount spec covers that. The pod info is passed to the driver only if the CSIDriver (https://kubernetes-csi.github.io/docs/csi-driver-object.html)'s podInfoOnMount flag is set to true. maybe we just keep that convention. If the driver doesnt care to know, then it dosn't set podInfoOnMount.

So, I think it would be something like:
[code]

If podInfoOnMount is true, we always pass

[2019-07-02 16:37] jaypipes commented on #78995
Yes, I think this is a good example of where `/cluster` scripts are referenced from the docs: https://github.com/kubernetes/website/pull/14929

[2019-07-02 16:39] soggiest opened #79668 "[Failing Test] Uses kubeadm/kinder to run kubeadm-e2e and e2e tests"
**Which jobs are failing**:
ci-kubernetes-e2e-kubeadm-kinder-upgrade-stable-master

**Which test(s) are failing**:
task-01-add-kubernetes-versions
task-11-reset
task-12-delete

**Since when has it been failing**:
07/02/2019

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-stable-master

**Reason for failure**:
[code]

**Anything else we need to know**

[2019-07-02 16:40] soggiest commented on #79668
/sig cluster-lifecycle

[2019-07-02 16:44] soggiest opened #79669 "[Failing Test] Uses kubeadm/kinder to run kubeadm-e2e and e2e tests against a cluster created using kinder's skew-master-on-stable workflow"
**Which jobs are failing**:
ci-kubernetes-e2e-kubeadm-kinder-master-on-stable

**Which test(s) are failing**:
task-09-reset
task-10-delete
task-01-add-kubernetes-versions

**Since when has it been failing**:
07/02/2019

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master-on-stable

**Reason for failure**:
[code]

**Anything else we need to know**:
Looks re

[2019-07-02 16:45] soggiest commented on #79669
/sig cluster-lifecycle

[2019-07-02 16:47] neolit123 commented on #79668
caused by missing files in GCS buckets:
https://kubernetes.slack.com/archives/C09QZ4DQB/p1562077303458500

/sig testing
/assign

[2019-07-02 16:49] cblecker commented on #78940
Q: Did this *ever* run successfully?

[2019-07-02 16:49] neolit123 commented on #79669
see https://github.com/kubernetes/kubernetes/issues/79668#issuecomment-507757951

/assign
/sig testing

[2019-07-02 16:51] dineshgovindasamy commented on #79515
@ksubrmnn @madhanrm Can you take a look please?

[2019-07-02 16:53] alejandrox1 commented on #79652
/cc @xmudrii  @justaugustus

[2019-07-02 16:56] pohly commented on #79624
So this basically extends what's considered "pod info". Works for me.

[2019-07-02 16:57] dcbw commented on #79304
@n0-1 thanks Phil; seems like Debian needs an iptables update to 1.8.3 then.
/close

[2019-07-02 16:57] #79304 closed

[2019-07-02 16:57] ksubrmnn commented on #79515
Looking into this

[2019-07-02 16:59] yliaog commented on #79268
@liqlin2015 I think restarting kube-apiserver would suffice to fix it,  i.e. kubelet, kube-scheduler, kube-controller-manager do *not* need to be restarted. If this is indeed the case, it means the resolution is cached inside kube-apiserver. how long did you wait before restarting the apiserver? it could be that the cache has a long TTL.

[2019-07-02 17:06] justaugustus commented on #79652
I _think_ we're unblocked with https://github.com/kubernetes/release/issues/797 merged.

[2019-07-02 17:06] fejta-bot opened #79670 "pr:pull-kubernetes-integration flaked 32 times in the past week"
### Flaky Job: pr:pull-kubernetes-integration
 Flakes in the past week: **32**
 Consistency: **94.90%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| k8s.io/kubernetes/vendor/k8s.io/apiextensions-apiserver/test/integration/conversion TestWebhookConverterWithWatchCache | 8 |
| k8s.io/kubernetes/vendor/k8s.io/apiextensions-apiserver/test/integration/conversion TestWebho

[2019-07-02 17:08] rjohnson3 commented on #44528
/reopen

[2019-07-02 17:53] jclarksnps commented on #49387
@albertvaka I believe the point here is that there should be a simple way to get all pods that aren't ready, without writing obtuse json path syntax (which I don't think will work anyway due to CrashLoopBackOff) being excluded from the filter.  The fact that pods in a CrashLoopBackOff state are excluded from a query such as kubectl get pods --field-selector=status.phase!=Running is pretty bizzare.

[2019-07-02 17:59] yguo0905 commented on #77546
Sure, created https://github.com/kubernetes/website/pull/15248 to change the doc.

[2019-07-02 18:33] neolit123 commented on #79632
/sig scheduling

[2019-07-02 19:22] marciopribeiro87 commented on #72102
I'm running kubernetes 1.11.9 and etcd 3.2.24 , running on AWS provisioned by KOPS 1.12.0 and im seeing the same error message :

Unable to create storage backend: config (&{etcd3 /registry [http://127.0.0.1:4001]    true false 1000 0xc42039fa00 <nil> 5m0s 1m0s}), err (dial tcp 127.0.0.1:4001: connect: connection refused)

[2019-07-02 19:23] globervinodhn commented on #79126
Weird as it might sound, due to some unknown reason I still experience slowness for this particular testcase

[2019-07-02 19:41] fishercht1995 commented on #79632
You can try to build a scheduler in a pod.

[2019-07-02 19:48] odinuge commented on #73956
/remove-lifecycle rotten

[2019-07-02 19:58] rdxmb commented on #75540
/remove-lifecycle stale

[2019-07-02 19:59] rdxmb commented on #75540
/remove-lifecycle stale

[2019-07-02 20:52] inc0 commented on #79613
FYI, this is a mechanism I was referring to https://docs.openstack.org/nova/latest/user/filter-scheduler.html#writing-your-own-filter

[2019-07-02 20:59] OJFord commented on #60748
Another one is `/dev/fuse`, which with docker requires `--device=/dev/fuse --cap-add=SYS_ADMIN`, but in k8s today needs `hostPath: { path: /dev/fuse } ; securityContext: { privileged: true }`.

[2019-07-02 21:03] benmoss commented on #62046
This has an additional implication: on services that are configured to `externalTrafficPolicy: "local"`, Windows nodes will still happily forward traffic to other nodes, whereas Linux nodes will drop packets instead of forwarding.

https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-nodeport

[2019-07-02 21:16] pure-yesmat commented on #79355
@davidz627 would you mind sharing the storage bi-weekly meeting details

[2019-07-02 21:55] dims commented on #79652
One more - https://github.com/kubernetes/release/pull/800

[2019-07-02 22:18] liggitt commented on #78845
@mm4tt updated, though it looks like building takes *waaaaaay* longer with latest go devel... I'm sure some of our generation scripts are making go ast or list or build calls that were reasonable under gopath mode and are unreasonable in go modules mode

[2019-07-02 22:23] BenTheElder commented on #78845
@liggitt yes, the code generators are extremely slow under module mode https://github.com/kubernetes/code-generator/issues/69

[2019-07-02 22:41] #78599 closed

[2019-07-02 22:41] #78699 closed

[2019-07-02 23:05] wuestkamp commented on #24725
I would also like to completely start a new pod instead restarting. @janpaul123 your workaround sounds ugly as hell, but thanks for suggestion ;)

[2019-07-02 23:08] mattparkes commented on #62504
We just hit this case, which makes it hard to diagnose what the _actual_ problem with the Pod/Container was.

Can this ticket be re-opened?

[2019-07-02 23:10] davidz627 commented on #79355
@pure-yesmat PTAL https://github.com/kubernetes/community/tree/master/sig-storage#meetings

[2019-07-02 23:42] harishsrini commented on #79658
@benmoss Is there any chance we can repro this locally? We looked at the dump and think that the failure could be happening either during Container Start or Termination. But in order to understand the issue further, it would be helpful if we can setup a local repro. Do you think setting up a local repro is feasible? If yes, can you please share the steps that we can use to setup a local repro?

[2019-07-02 23:44] feiskyer commented on #62046
still pending on https://github.com/kubernetes/kubernetes/pull/62093#issuecomment-495326334.

[2019-07-03 00:16] ORESoftware opened #79676 "You should be able to get logs for everything in a namespace"
This should work as expected:

[code]

[2019-07-03 00:41] ORESoftware opened #79678 "Soooo --all-namespaces should be the default"
So I started using namespaces for the first time, and I ran:

[code]

nothing was showing up...I was really confused, debugging stuff for 30+ minutes..
finally I was like, even tho this is really dumb, maybe they are behind a namespace, so I did:

[code]

and finally my pods showed up.  so yes there is:

[code]

but this should really be the default, shouldn't it?  You will save people a lot of ti

[2019-07-03 00:55] almiche commented on #79678
While this might sound like a good idea if you're running a single deployment with a few pods, once you start running multiple dozens of deployments and objects it starts to become less and less useful to have this become the default. I also suspect exposing all objects without specifying namespace is probably a non-goal. Namespaces were created for a reason which is to logically segment resources

[2019-07-03 00:59] almiche commented on #79676
What would be the purpose of doing this I'm curious. This seems similar to the [issue](https://github.com/kubernetes/kubernetes/issues/79678) you created previously about --all-namespaces being the default on all commands. The problem with this is when you run a large scale cluster with dozens of k8s resources within the same cluster getting all logs dumped at the same time doesn't really serve a

[2019-07-03 01:45] wenlxie commented on #79643
@msau42  @kfox1111  Thanks for reply

I do agree some kind of ephemeral volumes provided by some csi driver is hard to define the usage and set the quota, but the case I list is a bit different with this.
More typical scenario is the csi ephemeral volumes use the same driver with storage class.  For storage class, user need to specific the request size of PVC, so it doesn't have the issue for how

[2019-07-03 02:22] ramnar commented on #79678
I think this is more of a usability bug.

**kubectl get pods**  gives the list of all pods in default namespace.By default no pods are present in default namespace. So it does give a message saying **No Resources found**.

Improving this message a little bit will be helpful like **No Resources found in default namespace**

[2019-07-03 02:23] ramnar commented on #79678
@kubernetes/sig-cli
/sig cli

[2019-07-03 02:26] songchuangyuan opened #79684 "How to Regenerate Certificate in Version k8s 1.6.2"
There are no commands to regenerate certificates, such as "kubeadm alpha phase certs".only this：
![image](https://user-images.githubusercontent.com/46445562/60558689-aa4a1c80-9d7c-11e9-986b-db8316895aed.png)
But make a mistake，like this：
[certificates] Generated CA certificate and key.
failure while creating API server key and certificate [unable to sign certificate [x509: cannot parse IP address

[2019-07-03 02:42] xphh commented on #45509
@daudn Thanks for your advice, but we do have long running tasks (mainly for video streams). So after discussed with my colleagues about several possible ways, we decided to utilize the readiness probe. As far as we know, kubernates would scale down the 'NotReady' pods with a higher priority, so we can send a signal to inform our program in pod (which we want it down) to disable the specific readi

[2019-07-03 02:50] almiche commented on #79678
@ramnar I could implement this if that's alright with you !

[2019-07-03 02:52] oomichi opened #79686 "Use framework.ExpectEqual() for e2e tests"
**What happened**:

After fixing golint failures under `test/e2e`, we need to put `gomega` for each `Expect()` and `Equal()`.
Then common error checking code has become like:

`gomega.Expect(foo).To(gomega.Equal(bar))`

We can replace this code with `framework.ExpectEqual(foo, bar)` which is more readable and easy to be understood what the code does.

Now we have following e2e test directories whi

[2019-07-03 02:55] oomichi commented on #79686
/sig testing

[2019-07-03 02:56] ramnar opened #79687 "kubectl help for commands with boolean options is misleading"
**What happened**:
kubectl version --help has the following section.

Options:
  -c, --client=false: Client version only (no server required).
  -o, --output='': One of 'yaml' or 'json'.
      --short=false: Print just the version number.

**What you expected to happen**:
It should actually be

Options:
  -c, **--client=true**: Client version only (no server required).
  -o, --output='': One of 'y

[2019-07-03 02:57] ramnar commented on #79687
@kubernetes/sig-cli
/sig cli

[2019-07-03 02:57] #79635 closed

[2019-07-03 03:08] ramnar opened #79688 "Invalid options for some kubectl commands should throw error"
**What happened**:

**kubectl cluster-info dumpp** is not throwing any error as there is no such option as dumpp.Only option dump is available

Same is the case with the following command
**kubectl version i love kubernetes**

**What you expected to happen**:

Error should be displayed for both the above command

**How to reproduce it (as minimally and precisely as possible)**:

Run the following

[2019-07-03 03:08] ramnar commented on #79688
@kubernetes/sig-cli
/sig cli

[2019-07-03 03:10] chendave opened #79689 "agnhost image build failed for ARM arch"
**What happened**:

cd $GOPATH/src/k8s.io/kubernetes/test/images/agnhost

$ make
../image-util.sh bin webhook
../image-util.sh: line 145: GOARM: unbound variable
Makefile:23: recipe for target 'bin' failed
make: *** [bin] Error 1

**What you expected to happen**:

The binary or image should be built successfully.

**How to reproduce it (as minimally and precisely as possible)**:
see my desc above,

[2019-07-03 03:10] chendave commented on #79689
/assign

[2019-07-03 03:18] tanshanshan commented on #79687
--client default value is false if you use true ,it means  `Client version only (no server required)`.
--short default value is false , if you use true ,it means `Print just the version number.`
so ,I think it is right.

[2019-07-03 03:27] timyinshi opened #79691 "Kubectl takes a long time to execute"
/kind bug
/sig cli

**What happened**:
When I executed the kubectl get pod command in the k8s cluster, I found that the first execution time was very long, and it was very fast after the second execution. May I ask why? Is there any configuration of apiserver that can solve this problem?
my command is:
kubectl get pod -n kube-system

**What you expected to happen**:
I want to be able to quickly re

[2019-07-03 04:06] andyzhangx commented on #75233
**Workaround**
 - on agent node, run “mount | grep cifs” to get all cifs mounts
 - check every cifs mount, e.g.
[code]
 - if `s -lt …` failed (in above example), run:
[code]

And then the pod will be in terminated soon.

[2019-07-03 04:10] BenTheElder opened #79693 "podIP = "" for hostNetwork pod"
**What happened**: `status.podIP` is unset on a `hostNetwork: true` networking daemonset pod used by [kind](https://sigs.k8s.io/kind) (read via the downward api). Previously this was reliably set to match the hostIP.

**What you expected to happen**: This should be the hostIP (which is set).

**How to reproduce it (as minimally and precisely as possible)**: We know the kind CI tests cover this htt

[2019-07-03 04:10] k-toyoda-pi commented on #78891
Hi, I found some tests use deprecated feature which is `kubectl run --generator`.
If we can demote these tests from conformance, should we change `framework.ConformanceIt` to `ginkgo.It` and delete it from test/conformance/testdata/conformance.txt?

[2019-07-03 04:10] BenTheElder commented on #79693
/sig network
/cc @liggitt @khenidak
/priority important-soon

[2019-07-03 04:12] ORESoftware commented on #79678
sure, how about

[code]

[2019-07-03 04:20] khenidak commented on #79693
/assign @khenidak

[2019-07-03 04:37] k-toyoda-pi commented on #79686
I will work test/e2e/kubectl.

[2019-07-03 04:47] BenTheElder commented on #79689
I'm pretty sure this is supposed to be built via `make all WHAT=agnhost` from `test/images` which does default this environment variable.

https://github.com/kubernetes/kubernetes/blob/c8cee54240a0f36264b4de62423617dbc30b57aa/test/images/Makefile#L18

[2019-07-03 04:51] ORESoftware commented on #79676
so what command do you use to get all the logs for the pods in a namespace etc?

[2019-07-03 04:58] ramnar commented on #79687
Hi,
**kubectl version --client** is returning the following. Looks like default value is true. Am i missing something

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:53:57Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"windows/amd64"}

[2019-07-03 05:02] ramnar commented on #79678
We should wait for kubernetes members to comment if this change should be taken up

[2019-07-03 05:06] ricky1993 opened #79697 "eviction request make a performance spike to etcd"
**What happened**:
We have about 8000 pdbs in our cluster. When we call several eviction requests at the same time, etcd will meet a performance spike.
**What you expected to happen**:
eviction request read pdbs from apiserver cache
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2019-07-03 05:08] ricky1993 commented on #79697
/sig api-machinery

[2019-07-03 05:14] chendave commented on #79689
@BenTheElder , thanks for the information!
I think the harness of the shell scripts could bring us a little more,
1.  GOARM should only been set when the ARCH is ARM
2.  Make a binary is possible where a Makefile is presented

[2019-07-03 05:31] almiche commented on #79676
So the logs command requires a resource to be specified one option would be to do the following `kubectl logs deployment/<deployment> -n <namespace>` this would return the logs of all the pods within a given deployment. There is also a `all-containers` option for when fetching the logs of a given pod which is available.

 For reference from the source code:

[2019-07-03 05:32] BenTheElder commented on #79689
That seems reasonable, but we should probably avoid computing this in many places, currently the GOARM=${GOARM:-7} is going to always be 7 when building in the currently supported way.

We should change that if we're going to compute it elsewhere.

cc-ing @cblecker @dims @spiffxp for test/images fun ...

[2019-07-03 05:39] yue9944882 commented on #79697
/sig scalability
/cc @wojtek-t

throttling evictions at server-side may be a better fix i presume

[2019-07-03 05:48] #73956 closed

[2019-07-03 05:52] ricky1993 commented on #79697
We use eviction to auto migrate pods. If throttling eviction requests, it will make migration latency too long.
I am not sure if list without rv by designed (get pdb consistently) or not (just forget to add rv).

[2019-07-03 05:54] BenTheElder commented on #65180
another PR like https://github.com/kubernetes/kubernetes/issues/65180#issuecomment-493385520 just brought this issue back up. I went with `kind/feature` for now but imho `kind/test` makes a little more sense ...

[2019-07-03 06:16] tanshanshan commented on #79687
`kubectl version --client ` means you have set --client , the same as `kubectl version --client=true`

[2019-07-03 06:26] wojtek-t commented on #79697
What does eviction do (I can't remember from the top of my head)? Would you be able to quickly point me to the code?

[2019-07-03 06:28] answer1991 commented on #79209
Good idea. We can add trace to context just like [RequestInfo and User](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/request/context.go#L77).

[2019-07-03 06:33] smekkley commented on #33969
For people who might find this issue again..
podman pull gcr.io/google-containers/hyperkube:v1.15.0 works.
https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/hyperkube?gcrImageListsize=30

[2019-07-03 06:33] ricky1993 commented on #79697
pkg/registry/core/pod/storage/eviction.go:104 Create
create a eviction will list all pdbs, make sure eviction the pod won't break any pdb. If check passed, it will create the eviction, otherwise it will return 429 to reject.

[2019-07-03 06:34] wojtek-t commented on #79468
Fixed by https://github.com/kubernetes/kubernetes/pull/79480

[2019-07-03 06:34] #79468 closed

[2019-07-03 06:41] myonlyzzy commented on #79213
yes,  it is a client-side load balance。I understand it wrong. But  why serviceA 4 pod ( run on 4 different node) allways connect service B  one Pod， that should be random.

[2019-07-03 06:59] DrmagicE opened #79702 "cadvisor in kubelet should expose container labels"
**What would you like to be added**:
I am trying to use build-in cadvisor to monitor the containers. I scrape the metrics from api-server：`http://localhost:8080/api/v1/nodes/minikube/proxy/metrics/cadvisor` and get some metrics like this:
[code]

The `docker inspect` command prints the container labels:
[code]
It is reasonable to remove the internal labels(annotation.io.xxxx, io.kubernetes.xxx), b

[2019-07-03 06:59] wojtek-t commented on #79697
Thanks - so this is what is problematic:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/pod/storage/eviction.go#L236

So what you're saying is that you have 8000 PDBs in a single namespace? [because we only list pdbs from pod`s namespace].

I'm we should list from etcd, because otherwise we risk using old version of pdb (e.g.we are allowed to evict only 1 pod, and we just d

[2019-07-03 06:59] wojtek-t commented on #79697
@kubernetes/sig-apps-bugs

[2019-07-03 07:28] ricky1993 commented on #79697
Thanks a lot for your reply.
How about retrying conflict update pdb, instead of re-listing all pdbs?
https://github.com/kubernetes/kubernetes/blob/75a39b70072954634169f7bc0731795019d04bac/pkg/registry/core/pod/storage/eviction.go#L223

[2019-07-03 07:33] wojtek-t commented on #79697
How about retrying conflict update pdb, instead of re-listing all pdbs?

Hmm - I'm not sure I understand.
Ohh, but I know what else we can do (maybe that's what you had on your mind).

In case of conflict, instead of relisting all PDBs, we should simply GET the current version of that PDB (we already know that there is exactly one which we are supposed to use).
That would reduce the cost of retrie

[2019-07-03 07:39] s-ito-ts commented on #79686
I can work test/e2e/scheduling.

[2019-07-03 07:46] ricky1993 commented on #79697
@wojtek-t  - That's what I mean.
I will take a look and send a PR in a few days.

[2019-07-03 08:05] jsafrane commented on #78940
Most probably not, I haven't found a working e2e tests on Ubuntu. Still, `cluster/kube-up.sh` works well, there must be something slightly different in test setup scripts.

[2019-07-03 08:14] nerusnayleinad commented on #34731
Is this actually right? While `kubectl create service ...` works, `kubectl expose ... --type ExternalName ...`  is also valid, but it is not allowing you to select an external name.

With this approach, `--type ExternalName` should throw an error when doing `kubectl expose`

[2019-07-03 08:26] wojtek-t commented on #79697
@ricky1993 - great!
Please ping me on slack if I won't be responding to it.

[2019-07-03 08:31] thdrnsdk opened #79704 "Kubeadm upgrade does not upgrade if minor version difference is 2 or more."
I'm currently using version 1.13 of kubenretes. I upgraded to kubeadm 2 weeks ago to install the newly released version 1.15, but it failed because minor version difference was 2 or more.

I know that kubeadm is a GA, but I do not understand that minor versions are not upgraded because they differ by 1 or more.

**What would you like to be added**:
Upgrading using kubeadm after 1.13 is not limited

[2019-07-03 08:33] thdrnsdk commented on #79704
/sig kubeadm

[2019-07-03 08:40] daudn commented on #45509
@xphh I tried loads of hacky solutions. Unfortunately, none of them were suitable solutions for a production-ready application. Have you implemented your solution or are you trying to implement it? In case you have implemented it, and it works fine do let me know. I can give readiness probe another attempt again!

[2019-07-03 08:41] DaiHao commented on #78972
/reopen

[2019-07-03 08:52] chendave opened #79710 "`make all WHAT=agnhost` from `test/images` failed with root"
**What happened**:
login system root, and run below command from "test/images" dir,

[code]

Will fail with below error message,
./image-util.sh: line 91: : command not found

This is cause by the empty string like "" cannot be understood as a shell command.

**What you expected to happen**:
image should be built successfully.

**How to reproduce it (as minimally and precisely as possible)**:
[cod

[2019-07-03 08:52] chendave commented on #79710
/assign

[2019-07-03 08:53] oxddr opened #79711 "[Failing Test] gce-master-scale-performance - RC timed out"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
load

**Since when has it been failing**:
02-07-2019

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
RC has timeout out. The reason for the timeout seems to be related to slow API calls.

**Anything else we need to know**:
https://p

[2019-07-03 09:10] avik-so commented on #20227
@vfreex Has SPDY been deprecated and migrated to WebSocket or HTTP/2 yet?

[2019-07-03 09:41] johnwrobinson commented on #50375
+1 here, too

[2019-07-03 09:44] Kilz78 opened #79715 "COREDNS dns entry"
Hi,

I saw a lot of topic regarding coreDNS but I do not found any simple topic that explain how to add a DNS entry. I have a kubernetes cluster with CoreDNS. On my old cluster I had just to add some entry in my /etc/hosts and all pods can resolve the entry that I set on my /etc/hosts.

I would like to deploy an application which I need to have some services, and one external storage. So I set up

[2019-07-03 09:51] oxddr commented on #79711
Actual error:

[code]

All mentions of test-u3fcbg-30/small-rc-39
[code]

It seems RC has timed out creating pod store, but was operating just fine for the rest of the load test.

[code]

Based on the trace it seems, that pod listing took 2m10s - 10s more than deadline. Still quite a lot.

However based on the api_responsiveness measurements, we simply got unlucky here. Both measurements didn't in

[2019-07-03 09:51] oxddr commented on #79711
/close

This seems to be flake :(

[2019-07-03 10:01] zouyee commented on #79421
/reopen

[2019-07-03 10:24] Ntr0 opened #79716 "CSI expanding persistent volume does not call csi.ControllerExpandVolume"
**What happened**:
Deployed a csi driver with volume expansion capability (online). Defined following storage class:

[code]
Created a pvc:
[code]
Increasing the requested storage parameter in the pvc works as expected: First ControllerExpandVolume is called, then NodeExpandVolume.
But increasing the storage size in the underlying pv has the effect, that only NodeExpandVolume is called, (which of

[2019-07-03 10:26] aojea commented on #79715
Can you check this blog https://coredns.io/2017/05/08/custom-dns-entries-for-kubernetes/?
I think that will solve your scenario

[2019-07-03 11:04] luksa opened #79718 "Include controllers in command line completion of kubectl logs"
**What would you like to be added**:
Command line completion of `kubectl logs` currently suggests only pod names, but it should also suggest the names of various controllers (which are also supported by `kubectl logs`). For example:
[code]

**Why is this needed**:
The current completion is incomplete.

[2019-07-03 11:04] luksa commented on #79718
/sig cli

[2019-07-03 11:28] jparklab opened #79719 "kubelet crashes in calcAndStoreStats when csi node does not support volume stats"
**What happened**:

kubelet crashed due to nil pointer dereference inside calcAndStoreStats function in pkg/kubelet/server/stats/volume_stat_calculator.go

`Jul 03 06:50:42 kubelet[4440]: E0703 06:50:42.852792    4440 runtime.go:73] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
Jul 03 06:50:42 kubelet[4440]:

[2019-07-03 11:36] wojtek-t commented on #79711
I think we should figure out what to do to avoid this flake in the future instead of closing this.

[2019-07-03 11:38] #79509 closed

[2019-07-03 11:48] tedyu commented on #79719
@jparklab
Sounds like you have a PR ready.

Mind letting us know the PR number ?

Thanks

[2019-07-03 11:50] oxddr commented on #79711
I was about to open a separate issue to track this, but let's reuse this issue then.

@mborsz - you mentioned you had a similar problem in the past. Any chance for any pointers?

[2019-07-03 11:54] randomvariable opened #79737 "e2e tests for CIS compliance on kubeadm"
Part of #683

/kind feature
/area security
/area testing
/milestone v1.16
/priority critical-urgent
/assign @yastij

Given updated tests in #1648, produce an e2e suite for CIS compliance that vendors can re-use for compliance.

[2019-07-03 12:05] randomvariable opened #79720 "etcd image should be world executable to allow running as non-root"
Part of https://github.com/kubernetes/kubeadm/issues/683

**What happened**:
* Attempt to run `k8s.gcr.io/etcd:3.3.10` as a non-root user
* Get `standard_init_linux.go:211: exec user process caused "permission denied"`

**What you expected to happen**:
It runs

**How to reproduce it (as minimally and precisely as possible)**:
[code]

/sig release
/sig cluster-lifecycle
/area security

And as part

[2019-07-03 12:09] cristifalcas commented on #5774
/remove-lifecycle stale

[2019-07-03 12:17] randomvariable commented on #79720
/assign randomvariable
/lifecycle active

[2019-07-03 12:24] jaypipes opened #79721 "AllowPrivilegeEscalation incorrectly printed as hex value of *bool"
**What happened**:

When doing `kubectl describe psp <policy>`, the Allow Privileged Escalation output shows a hex-encoded value instead of a stringified boolean:

https://twitter.com/loswillios/status/1146090111169380354

**What you expected to happen**:

Show the stringified boolean value instead.

**How to reproduce it (as minimally and precisely as possible)**:

`kubectl describe psp <policy>`

[2019-07-03 12:25] jaypipes commented on #79721
/sig cli

[2019-07-03 12:26] jparklab commented on #79719
I do not have a PR yet, but happy to make one. I'll add the PR number once I created it.

[2019-07-03 12:39] Ntr0 commented on #79716
@kubernetes/sig-storage-bugs

[2019-07-03 13:00] hibbert opened #79723 "Still unable to manage all SGs outside K8S after PR #49445"
**What happened**:

* Create SG outside of K8s - a SG rule has a range of ports which are opened via K8s
* Add this into service.beta.kubernetes.io/aws-load-balancer-security-groups
* Ensure load balancer switches from the range back to individual ports, the CIDR will be 0.0.0.0/0 if loadBalancerSourceRanges was removed too

**What you expected to happen**:
* K8S doesn't modify the SG

**How to re

[2019-07-03 13:00] hibbert commented on #79279
That doesn't work. Logged https://github.com/kubernetes/kubernetes/issues/79723 for this

[2019-07-03 13:01] hibbert commented on #79723
/sig aws

[2019-07-03 13:03] RainbowMango commented on #79610
@yliaog
Your PR https://github.com/kubernetes/kubernetes/pull/77480 seems try to solve the same problem as this issue.  I'm feeling confused as you closed your PR.
https://github.com/kubernetes/kubernetes/pull/77480#issuecomment-494064519

Cloud you please give me some clues? As well as your idea about this issue?

[2019-07-03 13:03] trathborne commented on #79579
The extra newlines go to STDERR. Try:

    $ kubectl get all > /dev/null

and you'll get just the empty lines!

[2019-07-03 13:12] hibbert commented on #79723
https://github.com/kubernetes/kubernetes/issues/49445

[2019-07-03 13:12] frankjiao commented on #79686
I will work /test/e2e/apps

[2019-07-03 13:24] benmoss commented on #79658
@harishsrini we ran into this while running the Windows conformance suite. We have only seen this crash once over the course of several weeks of testing. The best I can do in terms of a repro is just giving you [this script](https://gist.github.com/benmoss/50bde6205c1e9b69c2d18e13596a8362) that we use to run the tests, a potentially important bit being that we set `$PARALLELISM` to 25.

[2019-07-03 13:31] DTMad commented on #72220
This is still a problem - please fix this

[2019-07-03 13:33] Shuanglu opened #79726 "User/Client certificate signing using the certificates.k8s.io API is unable to authenticate with k8s apiserver"
**What happened**:
In AKS-engine cluster, I followed https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/ to generate a client certificate for a test human user.  However with the cert/key I got, I got 401 error when connect to k8s apiserver like "curl --cert <cert> --key <key> '<apiserver>/api/v1/namespaces/default/pods/shell-demo".
I used cfssl to directly generate the cert/key and it

[2019-07-03 13:37] chrono2002 commented on #62421
+1

[2019-07-03 13:39] Shuanglu commented on #79726
/sig auth

[2019-07-03 13:41] krejkrejkrej commented on #72220
/remove-lifecycle rotten

[2019-07-03 13:41] hibbert commented on #79723
Note - I'm not sure if this is related to the aws cloud config, which I can't change as I'm using EKS

https://github.com/kubernetes/kubernetes/commit/9f62e81be59fe5b5e15ee06a4178e689d8a0a02e

Add aws cloud config:

    [global]
    disableSecurityGroupIngress = true

[2019-07-03 13:42] RainbowMango commented on #79616
We have reached an agreement that moving to k8s.io/client-go, right?

[2019-07-03 13:46] alanjcastonguay commented on #79691
The first=slow one is populating a resource cache, and the second=fast one benefits from that cache. Kubectl doesn't natively know that "pod" exists or what the URL routes for a pod are; it asks the server for a list of resources. Look for the cache directories in `~/.kube/`.

Delete the cache. Run `kubectl get pods -v=6` twice. See second one makes far fewer http requests.

Run `kubectl get resou

[2019-07-03 13:48] detiber commented on #79616
@RainbowMango There was a discussion the other day between myself, @michaelgugino and @vincepri, and it appears there is additional logic for drain that is in `pkg/kubectl/cmd/drain` as well

[2019-07-03 13:58] OJFord commented on #72991
/remove-lifecycle rotten

Thank you for opening this issue, I've been bitten by this too, and who knows how much longer it would have taken me to try without `subPath`!

[code]

I'm not using rkt.

I don't know what's being mounted when I have `subPath` specified, the permissions look as expected, but the directory's empty - perhaps it's creating it because it thinks it doesn't exist? (Which is de

[2019-07-03 14:07] lbernail commented on #79213
The IPVS code in the kernel controls how the lc scheduler implemented. The implementation is there: https://github.com/torvalds/linux/blob/v4.15/net/netfilter/ipvs/ip_vs_lc.c#L46-L55

The lc scheduler iterates over the destination list and keeps the first one with the lowest number of connections.
My understanding is that destinations are added to the list every time an endpoint is added so all no

[2019-07-03 14:14] msau42 commented on #79716
I'm unsure increasing PV size is a supported sequence.  cc @gnufied

[2019-07-03 14:28] Ntr0 commented on #79716
me neither. And I would be fine with the solution, that it is not supported. But then NodeExpandVolume should not be called, right?

[2019-07-03 14:34] oxddr commented on #79711
I've checked apiserver logs around that time and it seems that latency of this call on its side were order of tens of miliseconds
[code]

I've checked also another trace from around that time, with long listing time:
[code]
and it shows similar symptoms (long listing time on the client side, short on the apiserver side)
[code]

Current hypothesis is that it's actually not a flake, but rather sympt

[2019-07-03 14:35] gnufied commented on #79716
When you manually increase the PV size without expanding the underlying volume, you have basically broken the contract of a PV. PV should always store actual size of the volume since PV has no `PV.Status.Size` field.

Calling `NodeExpandVolume` is right thing to do because PV has bigger size than what is stored in PVC's status.

[2019-07-03 14:37] oxddr commented on #79711
/kind failing-test

[2019-07-03 14:45] Ntr0 commented on #79716
Alright, thanks for the clarification.

[2019-07-03 14:45] #79716 closed

[2019-07-03 15:03] OJFord commented on #72991
Actually, it's weirder - the `subPath` _is_ mounted at the correct location, and files in the sub path root are correctly shared.

However, a _directory_ within that `subPath`, when written to in the container, goes to:
[code]
and not the mounted `hostPath`.

[2019-07-03 15:13] wdec opened #79732 "Cluster port name used as implicit endpoint selector"
**What happened**:

When running a cluster service and manually created endpoints, the port name set on the cluster definition acts as an implicit selector - suitable end-points do not get mapped to the cluster service.

**What you expected to happen**:
Port name shouldn't be an implicit selector.

**How to reproduce it (as minimally and precisely as possible)**:
Using the following spec file "spe

[2019-07-03 15:15] oxddr commented on #79711
My understanding is that, due to packet drop TCP retries causing visible latency on the client side, while apiserver's latency is fine, because it's logged before actual packets are sent. In the end client is able to get all packets, but it takes time. @mborsz may be able to provide more details - that's his hypothesis.

There were no retries (no trace of them in build-log and apiserver logs).

[2019-07-03 15:19] alejandrox1 commented on #79596
Hi all, want to help keep track of this issue
/milestone v1.16
/priority critical-urgent

@krzysied do you have any updates on this?

[2019-07-03 15:32] wdec commented on #79732
/sig api-machinery

[2019-07-03 15:33] yu2003w opened #79735 "Add api to query which admission controller plugin are enabled"
**What would you like to be added**:
Added API to query which admission controller plugin are enabled.
**Why is this needed**:
We usually need to know which admission controller plugin are enabled at runtime.
For example, I want to deploy application which needs capability of CAP_NET_ADMIN.
However, if PodSecurityPolicy is enabled, need to create proper PSP before deploying applications. It's nece

[2019-07-03 15:39] yu2003w commented on #79735
/sig api-machinery

[2019-07-03 15:50] jsafrane commented on #74545
kubelet will reject to mount / prepare one of those volumes, because pv.volumeMode does not match expected usage.

I don't think we have a test for mismatched volumeMode and its usage in a pod, it would be great to have one, but I don't think it needs to run with multiple pods.

[2019-07-03 15:53] jsafrane commented on #74545
https://github.com/kubernetes/kubernetes/pull/75071 (not merged)

https://github.com/kubernetes/kubernetes/pull/74693 (merged)

[2019-07-03 16:11] jaypipes commented on #79159
How many CPUs does your host node have? The static allocation policy means that you will need to have >6 CPUs on the node in order for this Job to run there (because you are reserving 1 CPU for the host via command line flags and you are using parallelism of 6). At least, that's what I think the static CPU manager resource allocation does....

[2019-07-03 16:12] #79528 closed

[2019-07-03 16:33] yue9944882 commented on #79697
alternatively, will pagination probably help ease the pressure? it'll skip the cache tho but presents us from a "spike"..

[2019-07-03 16:36] timothysc commented on #79737
@yastij - needs a KEP on this imo.

[2019-07-03 16:40] oscarlofwenhamn commented on #79678
The title of this issue could use an update, if the priority has been shifted to improving the output of an empty `default` namespace. Maybe it's early to claim the consensus seems to be that --all-namespaces should **not** be the default, but I personally agree that it shouldn't be.

Take note of the shorthand `-A`, to make typing it a bit easier, or the option to [set the namespace preference](h

[2019-07-03 16:42] rleonardibm commented on #75175
any word on this?  seems broken for ICP 3.1.0

[2019-07-03 16:53] kunickiaj commented on #53657
/reopen
/remove-lifecycle rotten

Seeing the same issue here, a year later.

[2019-07-03 17:01] jeffliu27 commented on #79209
@jpbetz  yes, currently working on it

[2019-07-03 17:10] PatrickLang commented on #78479
@dineshgovindasamy  - do you think this will be fixed once we migrate to ContainerD?

[2019-07-03 17:18] josiahbjorgaard commented on #50564
@MikeSpreitzer I've tested the behavior of ScaledValue and created PR #79738 with the changed comment.

[2019-07-03 17:23] dineshgovindasamy commented on #78479
yes it will be fixed when we migrate to ContainerD

[2019-07-03 17:28] andrewsykim commented on #75274
Please see discussion in https://groups.google.com/forum/#!topic/kubernetes-sig-cloud-provider/32N59IYXogY regarding standardized labels, I think we need to have more discussions for what to do there.

[2019-07-03 17:29] yastij commented on #79737
@timothysc - **if** this issue involves writing a test suite around security, that the community can vendor and re-use, we'll need to track it under k/k and poke sig-auth/testing, wdyt ?

[2019-07-03 17:31] yliaog commented on #79610
the PR #77480 has more work to do

1) the interface is not structured the way we like it to be, @caesarxuchao raised the issue in the comments. as dynamic informer can be used outside resource quota, or garbage collector, it should have a generic interface.

 2) since the dynamic informer is shared, it can only be stopped when 'safe', i.e. all users of it are 'aware' that it is stopped, and no lon

[2019-07-03 17:33] ReillyProcentive commented on #69678
/remove-lifecycle stale

I think we should leave this open until the EFS driver is at least beta quality.

[2019-07-03 17:41] pure-yesmat commented on #79355
Thanks, it seems the link is still to be updated?
https://docs.google.com/document/d/1FQx0BPlkkl1Bn0c9ocVBxYIKojpmrS1CFP5h0DI68AE/edit

[2019-07-03 18:03] queeno opened #79739 "Using non-443 ports for admission webhooks requires firewall rule in GKE"
**What happened**:

I was investigating kubernetes-sigs/kubefed#1024 and I stumbled across an issue which I believe might be a bug in Kubernetes.

I have successfully recreated this issue using some test configuration, so you don't need to deploy kubefed to reproduce it.

[code]

After applying the YAML, you can see that a pod gets created:

[code]

As well as a service:

[code]

The other resourc

[2019-07-03 18:06] cpanato opened #79740 "[Failing Test] Test Deployment deployment should support rollback is failing on master informing"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-new-master-upgrade-master-parallel

**Which test(s) are failing**:
[sig-apps] Deployment deployment should support rollback

**Since when has it been failing**:
06-22 - 17:13 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-new-master-upgrade-master-parallel

**Reason for failure**:
[code]

**Anything else we need to

[2019-07-03 18:09] cpanato commented on #79740
I will look in test together with @alejandrox1

[2019-07-03 18:09] queeno commented on #79739
@kubernetes/sig-api-machinery-bug

[2019-07-03 18:29] WeiBanjo commented on #78056
We have same issue in our company. We are trying to limit developer to access/read all secrets in a namespace. But we want to give ability for develop to know the name of the secret.

[2019-07-03 19:01] alejandrox1 commented on #79740
/milestone v1.16

[2019-07-03 19:01] msau42 commented on #69678
The nfs driver in core Kubernetes is meant to be a generic nfs client that works across all platforms and environments.  Adding specific EFS binaries and options is not possible at this time, and CSI Is the way to go for all new provider-specific functionality.

[2019-07-03 19:13] harishsrini commented on #79658
Thanks @benmoss . We will try this internally and ping you if we need any additional information.

[2019-07-03 19:14] #66757 closed

[2019-07-03 19:14] redbaron commented on #72480
/remove-lifecycle stale

Sent from ProtonMail mobile

-------- Original Message --------
On 3 Jul 2019, 20:12, fejta-bot wrote:

[2019-07-03 19:19] neolit123 commented on #79669
after this merged the CI should stabilize:
https://github.com/kubernetes/release/pull/814
please check again tomorrow.

[2019-07-03 19:19] neolit123 commented on #79668
after this merged the CI should stabilize:
https://github.com/kubernetes/release/pull/814
please check again tomorrow.

[2019-07-03 19:37] msau42 opened #79743 "VerifyAttachedVolumes is missing from CSI"
**What would you like to be added**:
Support regular verify and bulk verify attach operations in CSI.

**Why is this needed**:
This is important for updating AD controller actual state when volumes may get attached out of band.  For example, a node deletion and recreation (with the same name) can cause volumes to be detached from the node. And AD actual state needs to be updated to retrigger an at

[2019-07-03 19:37] msau42 commented on #79743
@kubernetes/sig-storage-feature-requests

[2019-07-03 19:38] soggiest commented on #79669
Will do!

[2019-07-03 19:39] avorima opened #79744 "Add ready field to NodeSpec"
**What would you like to be added**:

A boolean field in the `NodeSpec` that is set to `true` when the node has the condition of type `NodeReady` set to `True`, and `false` otherwise.

**Why is this needed**:

Currently there's no way to create a simple watcher of ready nodes. Instead you just have to watch all nodes and filter out those that aren't ready. Just filtering nodes for `spec.unschedula

[2019-07-03 19:43] avorima commented on #79744
Sorry, this is just a shot in the dark because I can't really make out what SIG is affected here but I think it's most likely just an API change
/sig api-machinery

[2019-07-03 20:21] chrissound commented on #73123
How would I determine all relevant groups @liggitt ?

[2019-07-03 20:52] #79611 closed

[2019-07-03 20:52] #76465 closed

[2019-07-03 21:08] liggitt commented on #79740
https://github.com/kubernetes/kubernetes/pull/70672 stopped serving those APIs in 1.16.

The test in the release-1.15 branch should skip if the server it is testing against does not serve the deprecated extensions/v1beta1 API

[2019-07-03 21:13] liggitt commented on #79739
You can control whether kube-apiserver resolves endpoints or speaks to service IPs using the `--enable-aggregator-routing` option. GKE enables that option, because service IPs are not routable from the API server.

[2019-07-03 21:16] #71398 closed

[2019-07-03 21:17] timothysc commented on #79737
From chatting on steering it appears that there have been a longstanding series of complaints WRT CIS.  I'd ideally like to get some public facing docs and e2e suite that can be pointed at as the k8s-blessed set of tests.

@kubernetes/sig-auth-feature-requests

[2019-07-03 21:17] OJFord opened #79746 "Share volumes between deployment and cron job"
**What would you like to be added**:

Association between `JobSpec/PodTemplate/PodSpec` and a separate `PodSpec` in, for example, a deployment.

**Why is this needed**:

When you have a pod with a few containers sharing some volumes, and then say a `CronJob` that should also do something with these volumes, it feels clumsy to need to specify them twice, once for each controller's `PodSpec`. It als

[2019-07-03 21:19] devaips commented on #78835
Closed due to test [being deemed a non-viable](https://github.com/kubernetes/kubernetes/pull/79085#issuecomment-503270945) candidate for Conformance.

[2019-07-03 21:19] #78835 closed

[2019-07-03 21:19] liggitt commented on #79739
/assign @roycaihw

can you take a look at the network routing in this case?

[2019-07-03 21:19] OJFord commented on #79746
Sorry bot.
/sig api-machinery

[2019-07-03 21:20] liggitt commented on #79737
@kubernetes/sig-node-feature-requests @kubernetes/sig-api-machinery-feature-requests as the other two components the bulk of the CIS recommendations are targeted at

[2019-07-03 21:22] BenTheElder commented on #79459
this is failing back to 1.12
/reopen
/assign
filing cherry picks of @rajansandeep's fix 🙏

[2019-07-03 21:22] liggitt commented on #73123
Because group membership is provided by the authenticators configured for your cluster, the mapping from a username to a set of groups is external to kubernetes and dependent on your configured providers.

[2019-07-03 21:25] BenTheElder commented on #79459
1.15 https://github.com/kubernetes/kubernetes/pull/79745
1.14 https://github.com/kubernetes/kubernetes/pull/79748
1.13 https://github.com/kubernetes/kubernetes/pull/79749
1.12 https://github.com/kubernetes/kubernetes/pull/79750

[2019-07-03 21:37] liggitt commented on #79735
This would be part of the component configuration effort. Once there is a versioned, serializable struct representing the apiserver configuration, it would likely be surfaced via a `/configz` endpoint.

[2019-07-03 21:38] liggitt commented on #79735
note that most API clients would likely not be authorized to call this API

[2019-07-03 21:44] devaips commented on #78834
I've updated the Title and Description. We could put this under umbrella ticket https://github.com/kubernetes/kubernetes/issues/78749

[2019-07-03 21:50] wongma7 commented on #74545
@jsafrane there is a corner case where kubelet will mount such a volume but only if its feature gate is off: https://github.com/kubernetes/kubernetes/issues/76044

[2019-07-03 21:52] saad-ali commented on #79355
@pure-yesmat Link for Storage SIG Meeting agenda: https://docs.google.com/document/d/1-8KEG8AjAgKznS9NFm3qWqkGyCHmvU6HVl0sk5hwoAE/edit

[2019-07-03 22:16] outception commented on #72991
not every version fo k8s have this bug:

v1.13.4 √ (Ubuntu)
v1.14.1 × (DigitalOcean)
v1.15.0 √ (Minikube)

[2019-07-03 23:46] #79693 closed

[2019-07-04 01:02] draveness commented on #79686
I could work on these file

[code]

[2019-07-04 01:07] hex108 commented on #79159
There is 4 cpus. The pod of the job will finish in a while, it will not hold the cpu for a long time, and cpu manager will release their cpu once they finish.

[2019-07-04 01:07] tdmalone commented on #73856
/remove-lifecycle rotten

[2019-07-04 01:39] draveness commented on #79686
I created #79754  #79755 and #79756 to cleanup gomega in these files, I could take more to work:

[code]

[2019-07-04 01:44] alejandrox1 commented on #76206
Hi @WanLinghao can I help out with test/e2e/framework/pv_util.go ?

[2019-07-04 01:45] alejandrox1 commented on #77197
/cc

[2019-07-04 01:50] alejandrox1 commented on #77095
Hey all, i don't see anything in progress for providers.go.
yall mind if i take it?

[2019-07-04 01:58] WanLinghao commented on #76206
@alejandrox1 OK

[2019-07-04 02:30] clarklee92 commented on #79686
I will work for the rest：
`test/e2e/auth`
`test/e2e/autoscaling`
`test/e2e/common`
`test/e2e/framework`

[2019-07-04 02:38] jianglingxia opened #79757 "Ceph CSI provisioner volume failed"
**What happened**:
I  test in k8s v1.13.0 and deploy two ceph csi plugin then create pvc but can not dynamic create pv and volume

the pvc log is :
Events:
  Type       Reason                Age                   From                                                                                     Message
  ----       ------                ----                  ----

[2019-07-04 02:38] jianglingxia commented on #79757
/sig storage

[2019-07-04 03:23] goudai commented on #76531
This problem causes the kubelet CPU to be overused

[2019-07-04 03:40] yue9944882 commented on #79746
/sig storage

[2019-07-04 03:41] yue9944882 commented on #79744
/sig node
/remove-sig api-machinery

[2019-07-04 04:23] #73515 closed

[2019-07-04 04:28] lampnick opened #79764 "kubectl cp kube-system/etcd-master:/usr/local/bin/etcdctl /etcdctl"
**What happened**:
Returned error message: "tar: removing leading '/' from member names"
**What you expected to happen**:
Don't return above error message
**How to reproduce it (as minimally and precisely as possible)**:
Use this command: kubectl cp kube-system/etcd-master:/usr/local/bin/etcdctl /etcdctl
**Anything else we need to know?**:
BusyBox v1.29.3 (2018-10-01 22:37:18 UTC) multi-call binar

[2019-07-04 05:51] yue9944882 opened #79768 "Dummy OpenAPI types generated from metav1.Fields"
/kind bug
/sig api-machinery
/wg server-apply

this should probably be an issue in the openapi generator [kubernetes/kube-openapi](https://github.com/kubernetes/kube-openapi). the swagger docs doesn't properly represent the openapi schema for `metav1.Fields`:

[code]

the correct form should probably make use of `additionalProperties` to mark the value type:

[code]

/cc @jennybuckley @apelisse
/c

[2019-07-04 06:16] superbrothers opened #79770 "Remove ja_JP translation for kubectl"
(I'm a native Japanese speaker.)

ja_JP translation for kubectl is not maintained. If not also maintained in the future, it has a negative effect for ja_JP users rather than a positive effect.

Therefore, I propose to remove ja_JP translation for kubectl. Before I create a PR that removes it, I will try asking #kubernetes-docs-ja members whether they can maintain or not.

- https://github.com/kube

[2019-07-04 06:19] superbrothers commented on #79770
I should have chosen a regular issue😥Please remove `kind/feature` label.

[2019-07-04 06:21] superbrothers commented on #79770
/sig cli

[2019-07-04 06:22] superbrothers commented on #79770
/remove-kind  feature

[2019-07-04 06:25] #73685 closed

[2019-07-04 06:34] eddieparker commented on #79547
Just a suggestion, could you make something like '-F' act as "follow and wait" if you're worried about backwards compatibility?

That was you avoid longer command lines; although admittedly you do end up using one extra short arg.

[2019-07-04 06:48] brancz commented on #75779
/remove-lifecycle stale

[2019-07-04 07:18] ankilosaurus opened #79773 "HPA condition status is incorrectly reported"
What happened:
HPA status condition and result seems out of sync.
[code]

What you expected to happen:
ScalingLimited should have message in sync with reason "TooFewReplicas"
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Create deployment with desired replica count less than HPA Min replicas
[code]

Environment:
- Kubernetes version (use `kubectl version`): v1.12.8
- Cl

[2019-07-04 07:19] aksgithub commented on #79773
/sig scalability

[2019-07-04 07:24] aksgithub commented on #79773
https://github.com/kubernetes/kubernetes/blob/cf7662d3a1f05c1c47b08084a80d6442dbb2a4c0/pkg/controller/podautoscaler/horizontal.go#L733-L741 seems wrong

Looked at the code and I think it can be restructured like this:
[code]

[2019-07-04 07:26] wojtek-t commented on #79711
I'm not sure it's exactly true. We're logging that the request finished after Write() operation to responseWriter is finished. And my understand was that it is actually a synchronous operations (we've seen a bunch of cases in the past that slow client was slowing down that operation).
But maybe I'm missing something

[2019-07-04 07:28] Erokos commented on #63022
Sorry I was being inprecise, the labeling works, what I wantd was to create node roles. Once again sorry, my mistake.

[2019-07-04 08:10] SaintLiber commented on #59119
Server:   v1.14.0
Client:    v1.14.0
Patch URI: https://172.18.141.129:6443/api/v1/namespaces/default/services/example
BODY:
{
    "spec":{
        "ports":[
            {
                "name":"port-0",
                "port":6666,
                "protocol":"TCP",
                "targetPort":6666
            }
        ]
    }
}
Response:
{"kind":"Status","apiVersion":"v1","metadata":{},"status

[2019-07-04 08:15] qiyongxiao commented on #78965
有哪位懂的人可以帮我解决一下这个问题吗

[2019-07-04 08:17] sqeven opened #79775 "Everything can be K8S"

[2019-07-04 08:17] Madhu-1 commented on #79757
@jianglingxia please make sure the monitor IP and port address are valid and reachable from provisioner pod, this will be a ceph-csi issue it's not related to kuberentes.

[2019-07-04 08:22] yue9944882 opened #79776 "[Umbrella Issue] Apiserver flow-control API model tracker"
/sig api-machinery

- Flow-schemas should be applied to a set of namespaces https://github.com/kubernetes/kubernetes/pull/77048#discussion_r293007047
- Setting queueLengthLimit of a PL to zero executes the inbound requests immediately https://github.com/kubernetes/kubernetes/pull/77048#discussion_r300041647

[2019-07-04 08:24] superbrothers commented on #79770
This issue will be closed because #kubernetes-docs-ja members (@nasa9084, @inductor, @kakts) will maintain ja_JP translation dictionary file. Thank you, guys! :tada:

[2019-07-04 08:24] #79770 closed

[2019-07-04 08:27] yue9944882 commented on #76846
\+ @mars1024

tracking testing/benchmark/optimization of shuffle-sharding algorithm

[2019-07-04 08:28] yue9944882 commented on #79776
/cc @deads2k  @lavalamp @MikeSpreitzer @aaron-prindle

[2019-07-04 08:30] ricky1993 commented on #73585
Should we add a feature gate for kubelet using list option with bookmark?

[2019-07-04 08:35] jianglingxia commented on #79757
really thanks for your reply,

and the monitor ip and port can reached ,i found that the secret yaml that the adminID and adminKey value can not base64, because exec the command :ceph [-m 178.178.178.189:1091,178.178.178.19:1091,178.178.178.188:1091 --id YWRtaW4= --key=***stripped*** -c /etc/ceph/ceph.conf fs get cephfs --format=json] the id and key then base64 again. i don't no why and i will iss

[2019-07-04 08:37] wojtek-t commented on #73585
I just updated the KEP couple days ago: https://github.com/kubernetes/enhancements/pull/1119
The metrics is already exposed and gathered, we just need to expose it in perf-dash (hopefully this week will be done) and that will enable switching the the feature to Beta. And with that, we should change informer framework to use this feature (I don't think we need any additional feature gate - we may r

[2019-07-04 08:39] Madhu-1 commented on #79757
@jianglingxia can you please create the same issue in ceph-csi repo we can discuss over there

[2019-07-04 08:43] mars1024 commented on #76846
/cc @mars1024

[2019-07-04 08:51] PauloASilva opened #79779 "Race condition in Kubelet service"
@kubernetes/sig-api-machinery-bugs

 **What happened**:

Race condition in Kubelet causes Kubernetes cluster to become unstable due to high CPU load when two nodes share the same hostname or `--hostname-override` value.

**What you expected to happen**:

Since node hostname or `--hostname-override` value is used to compute the etcd key name (`/registry/minions/[NODE-HOSTNAME]`), the system should

[2019-07-04 08:59] cwdsuzhou opened #79780 "Dir automatically create would not be automatically removed when using csi raw block volume"
**What happened**:

dir crated in /var/lib/kubelet/plugins/kubernetes.io/csi/volumeDevices would not be automatically removed.

**What you expected to happen**:

when a pod delete the, the dir would be removed

**How to reproduce it (as minimally and precisely as possible)**:

create a pod using csi raw block volume and delete it

**Anything else we need to know?**:

![image](https://user-images.g

[2019-07-04 08:59] cwdsuzhou commented on #79780
/sig storage

/assign

[2019-07-04 09:04] PauloASilva commented on #79779
@kubernetes/sig-api-machinery-bugs

[2019-07-04 09:04] song-jiang commented on #72236
Any updates on this issue? @m1093782566

[2019-07-04 09:06] Jeff-Tian commented on #56903
Works like a charm!

[2019-07-04 09:10] Jeff-Tian commented on #56903
Works like a charm!  However, the file ld-musl-x86_64.so.1-fix-musl-1.1.18-r3-alpine3.7.tar.gz in the original comment is not easy to download because it hosts on the AWS s3, which is blocked from some area so I created a mirror and validated it works:

[code]

you are done.

[2019-07-04 09:38] Pandoraemon commented on #27000
Any update on this issue?

[2019-07-04 09:53] imroc opened #79783 "LoadBalancer's healthcheck packet will be dropped in ipvs mode"
**What happened**:

Hi, I'm from the TKE team. In [TencentCloud TKE](https://intl.cloud.tencent.com/product/tke), LB health check packet source ip is LB's own ip (Service's ExternalIP)，and the LB will not do SNAT, when kube-proxy has ipvs enabled in 1.12，the the LoadBalancer's healthcheck packet to NodePort will be dropped by node, so the LB will think the node is unhealthy.  I tested 1.10 and fou

[2019-07-04 09:54] imroc commented on #79783
/sig network

[2019-07-04 09:55] imroc commented on #79783
cc @m1093782566

[2019-07-04 10:14] Aracki commented on #26158
`selfLink is a URL representing this object. Populated by the system. Read-only.`

[2019-07-04 10:26] krelst commented on #69687
Just leaving my use case over here: a deployment of which the pods pull messages from gcloud pub/sub, autoscales on number of outstanding messages on the subscription, and should scale back to 0 pods whenever there are no messages left on the subscription.

[2019-07-04 10:38] imroc commented on #79783
It’s a bit long, but I hope you can read it patiently.

[2019-07-04 11:05] seemacalibrecode commented on #53180
Unlink kubectl using "rm '/usr/local/bin/kubectl'
and then link again using "brew link kubernetes-cli"

This worked for me on Mac.

If you want to install freshly on mac, use "brew install kubectl"

[2019-07-04 11:18] Dysproz commented on #70732
It still does not work. :<
initContainers can't pull images from private repo.
`unauthorized: authentication required`
/reopen

[2019-07-04 11:35] DXist commented on #69687
I have similar use case and successfully implemented this behavior on premises. At the moment I'm trying to pass [review](https://github.com/kubernetes/kubernetes/pull/74526#issuecomment-499058825) of SIG API Machinery team.

[2019-07-04 11:54] neolit123 commented on #74965
/lifecycle frozen

[2019-07-04 11:55] timyinshi opened #79788 "how to build hyperkube for linux/mips"
/kind bug
/sig release

**What happened**:
we are building hyperkube for  linux/mips,i find hyperkube have  the amd/arm,my question :do hyperkube have the linux/mips ? if have not ,how to build the linux/mips  version?

**What you expected to happen**:
we want to get hyperkube for   linux/mips

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-07-04 12:31] #65869 closed

[2019-07-04 12:41] jsafrane opened #79794 "Block volume used as filesystem in a pod does not give clear error message"
When a raw block PV is used as a filesystem one in a pod (i.e. in pod.spec.containers[x].volumeMounts), kubelet correctly won't start the pod, but it does not give user any information why.

In pod events I can't see anything useful:

[code]

The pod is `ContainerCreating` forever. It should get `Failed` with a clear message.

In kubelet logs I can see:
[code]

/sig storage
/kind bug
/priority imp

[2019-07-04 13:54] liggitt commented on #79726
/triage support
/sig aws

[2019-07-04 13:55] liggitt commented on #79726
/assign @micahhausler

[2019-07-04 13:56] #79697 closed

[2019-07-04 14:02] liggitt commented on #79775
/close

[2019-07-04 14:02] #79775 closed

[2019-07-04 14:05] liggitt commented on #79732
/remove-sig api-machinery
/sig network

The name mapping to the endpoints is intentional, but needs documentation

[2019-07-04 14:16] krzysied commented on #79596
Currently I'm investigating the issue.

Based on [latency plot](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadResponsiveness&Resource=replicationcontrollers&Scope=cluster&Subresource=&Verb=LIST) I wouldn't say this issue is critical/urgent - it has potential to make test flaky but not to break it.

The problem with replication controller "started" aft

[2019-07-04 14:25] JnMik commented on #34314
Happens to me as well.
Any hint ?
[code]

[2019-07-04 14:34] mattjmcnaughton commented on #79744
Thanks for the idea @avorima !

Since this is an API change to a fairly fundamental type, I think we would most likely want to file a `KEP` for this. Please see https://github.com/kubernetes/enhancements for more info - and please let me know if you have any questions.

[2019-07-04 14:38] frittentheke commented on #57250
@smrutiranjantripathy with ExternalTrafficPolicy=Local and an attachment of type "instance" of the nodes to your NLB the source IP of the incoming connection is preserved. Using PROXY protocol, for that reason, seems unnecessary then. I've run into issues with Kubernetes 1.13.7 still applying SNAT (with the ClusterIP) to such traffic causing the source IP to be overwritten/SNATTed away again.
And

[2019-07-04 14:50] akanso opened #79801 "Ambiguous error message when creating Binding (error: object does not implement the Object interfaces)"
**Issue:**

Ambiguous error message when using `kubectl apply` to create a `Binding` to assign a pod to a node.

Using `kubectl create` solves the issue.

I understand that `Binding` is a special K8s resource that can only be `created`. However the error message is ambiguous. A better message is to issue a `warning` about using `apply` on an immutable resource.

**Behavior, and to replicate:**

[c

[2019-07-04 15:07] MikeSpreitzer commented on #79776
Regarding setting the queueLengthLimit of a priority level to zero, my proposal is not that it grants anything exceptional; rather it is merely treated uniformly with other values: zero is the limit on the length of a queue.  So I might reword the above to something more like "Allow zero queue length limit".

[2019-07-04 15:18] sashayakovtseva opened #79803 "Arbitrary image registry auth in CRI"
Currently in order to pull from private registry one can use secrets (as described [here](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/)). However it is tightly integrated with Docker and there is no other way to support different registries. This is especially weird as there is CRI that can has `PullImage` method.

Is there any way to make kubelet pass `ima

[2019-07-04 15:20] sashayakovtseva commented on #79803
/sig node

[2019-07-04 15:26] queeno commented on #79739
Hi @liggitt
Thanks for your explanation and thanks for showing me the apiserver configuration. It's great that Google makes that visible!

I understand that by setting `--enable-aggregator-routing=true` the apiserver will route its requests to the endpoint IPs rather than service IPs, which describes exactly the behaviour I am seeing here.

I have run another couple of tests. I have created a fire

[2019-07-04 15:31] jsafrane commented on #79794
`Volume "volume1" has volumeMode "Block", but is specified in volumeMounts` comes from depths of Desired State of World Populator (DSWP):

https://github.com/kubernetes/kubernetes/blob/7cb5df672813326952171be6c9ab52d821b85c1a/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go#L529-L536

This code does not have access to event recorder and even if it had, it would be called too

[2019-07-04 15:37] wgliang opened #79805 "Adaptive retry-after interval on rate limiting to prevent request overload"
**What would you like to be added**:
In our  cluster (1K Nodes/1W Pods), we found that a large number of logs with a return code of 429 will appear for a long time when kube-apiserver is started:

`I0704 17:28:00.800884 227416 maxinflight.go:111] GET /api/v1/services?resourceVersion=0: (7.054μs) 429 [[kubelet/7bff6911345 (linux/amd64) kubernetes/801b699] 10.10.10.10:41957]
`
In turn, the service w

[2019-07-04 15:54] skandabhatt commented on #34314
Keep the powershell scripts running. Don't shutdown the windows machine or close the powershell window. If you had to restart the machine. Run the join script again.

Sent from Yahoo Mail on Android

  On Thu, 4 Jul 2019 at 7:57 PM, Jean-Michael Cyr<notifications@github.com> wrote:
Happens to me as well.
Any hint ?
Conditions:
  Type             Status    LastHeartbeatTime                 LastTran

[2019-07-04 16:12] liggitt commented on #79739
The pod IPs are not directly routable either. Historically, all contact between the API server and pods (for purposes of serving pod/proxy subresources, services/proxy subresources, admission webhooks, and apiservice routing) has gone through an ssh tunnel between the apiserver and the node network. As far as I know, that configuration is specific to GKE/GCE.

Agree that whatever firewall rules ar

[2019-07-04 16:17] dims opened #79806 "make bazel-release fails with python3"
`make bazel-release` fails with the following error

[code]

[2019-07-04 16:17] dims commented on #79806
/sig release

[2019-07-04 16:42] dims opened #79808 "make quick-release-images fails when building conformance image"
[code]

[2019-07-04 16:45] wojtek-t commented on #77080
This is now fixed.

[2019-07-04 16:45] #77080 closed

[2019-07-04 17:06] apelisse commented on #79768
Has this been a problem for you?

This seems correct, just "underspecified". We typically have objects with no properties or additionalProperties meaning that they are arbitrary objects.

[2019-07-04 17:12] mk811 opened #79810 "Kubernetes Pod environment variables integrated with key-value store database."
**What would you like to be added**:
Integrating key-value store (let's say consul) with Kubernetes.
Inject environment variable to POD by calling API of the key-value store when the POD is deployed.
What I want to request is adding to `apiKeyRef` as a way to inject environment variable.

Let's say, we have a Key-Value store.
The response of its API to get some key is as below:
[code]

To Get the

[2019-07-04 17:16] mk811 commented on #79810
/sig apps

[2019-07-04 17:19] yue9944882 commented on #79768
i found this when i was checking if there's any mismatches between generated models from openapi spec and k/k models.. fine w/ if this is designed, can be a bit confused tho..

[2019-07-04 17:23] apelisse commented on #79768
Thanks for finding it :-) We can keep it open, definitely not the highest priority though

[2019-07-04 17:37] yue9944882 commented on #79805
server-side rate-limit is under development per https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md. we have no plan to move the client-side forward in the foreseeable future.

[2019-07-04 17:49] yue9944882 commented on #79768
does the object type w/o property really stands for arbitrary types? e.g. i see the generated java model will be a empty object w/o any fields so it cant be used for unmarshalling.

[code]

by reading swagger specification, i think either `additionalProperties: true` or `additionalProperties: {}` can be representing a free-form object.. (per FREE-FORM-OBJECT section here https://swagger.io/docs/sp

[2019-07-04 18:42] #79808 closed

[2019-07-04 19:24] sergeygalkin commented on #50375
+1

[2019-07-04 20:03] OJFord commented on #75378
/remove-lifecycle stale

[2019-07-04 20:10] OJFord commented on #75378
My use-case is not tmpfs; this is an issue whenever a pod provides a fuse filesystem backed by physical disk on the node, for other pods to consume.

Currently, in order to use it in another pod it needs to be `local`/`hostPath` (or some other PV), but there's really no need to have to create a mountpoint on the node for it other than this; as OP says, doing so

[2019-07-04 22:41] #73717 closed

[2019-07-04 23:42] #71073 closed

[2019-07-05 00:43] #73548 closed

[2019-07-05 02:41] DrmagicE commented on #79702
/sig node

[2019-07-05 02:45] #26670 closed

[2019-07-05 02:45] #72244 closed

[2019-07-05 02:46] #74886 closed

[2019-07-05 03:03] gyliu513 commented on #79563
Kubernetes 1.9 already support HPA, please refer to https://stackoverflow.com/questions/54663845/is-it-possible-to-apply-hpa-for-statefulset-in-kubernetes for detail.

Can you help append more detail for your Application and HPA YAML file here?

[2019-07-05 03:19] hchenxa commented on #79563
the stateful application has order, and when the scaledown triggered, I think it will also kill the pod with order to not to break the statefulset pods order.

[2019-07-05 07:45] cgzchen commented on #54923
docker run parameters
--device-read-iops

[2019-07-05 07:50] #73687 closed

[2019-07-05 08:11] peter-wangxu opened #79823 "Kubelet cpu manager should refresh cpuset if cpu topology changed"
**What happened**:
A node was previously installed with kubelet and use the static manager
as the node only contained 1 core, the /var/lib/kubelet/cpu_manager_state was initialized with
[code]
later, the node was upgrade to 4 cores, and the file was not refreshed and the newly added cpus cannot be used by any workload anymore

**What you expected to happen**:
the kubelet should be aware of this cp

[2019-07-05 08:19] cwdsuzhou opened #79824 "VolumeManager frequently saves vol info if csi block mount failed."
**What happened**:

![image](https://user-images.githubusercontent.com/12230714/60708160-fee9c500-9f3f-11e9-917e-c2b47773e901.png)

volumeManager frequently saves vol info if csi block mount failed.

**What you expected to happen**:

Should not frequently save vol info. If it already exists, return.

**How to reproduce it (as minimally and precisely as possible)**:

This issue occurs when csi raw

[2019-07-05 08:19] cwdsuzhou commented on #79824
/assign

[2019-07-05 08:22] wydinspur opened #79825 "The pvc status obtained through the fabric interface is incorrect."
v1.14.1,When there is a problem with the storage type, the created pvc is always pending, but the state obtained through the fabric interface is Boud.

[2019-07-05 08:25] tianyuansun commented on #77921
can i help fix this? @justaugustus

[2019-07-05 09:01] queeno commented on #79739
Thanks @liggitt.

I'm still a bit surprised that GKE requires `--enable-aggregator-routing=true`, but I guess it might date back to before the advent of VPC native clusters. If so, will you consider turning it off at some point?

That said, there is a lot that I ignore. Thanks so much for your help!

[2019-07-05 09:32] mzmudziak commented on #62036
I am also running into this issue, the `readinessProbe` doesn't start for quite a long time (longer than the `initialDelaySeconds`) if the `periodSeconds` is set to a higher value.

[2019-07-05 09:37] samsonahk commented on #79503
Today I tried again.  I increased ram from 4GB to 5GB.  This time I executed the commands in ubuntu but still failed.

$ brew doctor
Your system is ready to brew.

$ brew update

Updated 1 tap (homebrew/core).
==> Updated Formulae
acpica              django-completion   kubeprod            pushpin
aliyun-cli          erlang              libgweather         sonar-scanner
ask-cli             exploit

[2019-07-05 09:39] hzxuzhonghu commented on #65012
As bookmark has been implemented ref: https://github.com/kubernetes/kubernetes/pull/75474

Have looked int to the bookmark implementation carefully, the core mechanism to send resource version to clients periodically.

Which is similar to #65087, which added an eventtype `HeartBeat EventType = "HEARTBEAT"`. Whatever i want to say, we can leverage this event to detect if a connection is alive.  (Si

[2019-07-05 09:49] mars1024 commented on #76846
ref to [https://github.com/mars1024/shuffle-sharding](https://github.com/mars1024/shuffle-sharding) , WIP

[2019-07-05 09:51] bergmeister opened #79830 "'kubctl create' to have 'pod' option"
**What would you like to be added**:

`kubectl create pod`

**Why is this needed**:

For exam purposes (CKAD) it is useful to be able to generate various templates and `kubectl create` offers various options that are useful together with the `--dry-run -o yaml` option. However, there is no template for creating a `pod`.

Currently the only way to generate a simple `pod` template is by using `kubec

[2019-07-05 09:53] bergmeister commented on #79830
/sig CLI

[2019-07-05 09:53] wojtek-t commented on #65012
Depending on how frequently you would like to send it, it may have significant performance implications.
I would much rather prefer using http2 Ping for that purpose.

[2019-07-05 09:54] thangbn commented on #34314
Happen to me as well

[2019-07-05 09:54] mm4tt commented on #78845
Thanks @liggitt for taking a look and updating your branch. I tried it with the golang head, but either something doesn't work or it indeed takes waaaaay longer, and waaaay is additional few hours.

I run:

[code]

And I killed it after ~90min as it didn't seem to moving forward. Is it expected to take that long?

[2019-07-05 10:02] hzxuzhonghu commented on #65012
The bookmarks event is sent around 1s periodically now , right?  This would not introduce another extra event sending, we just check on client side, if it does not see any events received in like 10s, close its connection as kubelet does.

[2019-07-05 10:05] wojtek-t commented on #65012
No, it's currently being send only ~2-3s before the watch will timeout. With 1s period, we won't keep up.

[2019-07-05 10:07] vatansoni89 commented on #75436
I am getting the same issue.
2019-07-05T09:56:41.1837910Z Error: validation failed: error validating "": error validating data: ValidationError(Deployment.spec.template.spec): unknown field "imagePullPolicy" in io.k8s.api.core.v1.PodSpec

2019-07-05T09:56:41.1980030Z ##[error]Error: validation failed: error validating "": error validating data: ValidationError(Deployment.spec.template.spec): unkno

[2019-07-05 10:11] hzxuzhonghu commented on #65012
What does this mean?
https://github.com/kubernetes/kubernetes/blob/e12f96adc64d6608796938223bd1db7aefbf0d1e/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L764-L779

[2019-07-05 10:19] hzxuzhonghu commented on #65012
I see that, here it just send bookmark event to a buffer.

[2019-07-05 10:21] wojtek-t commented on #65012
Yes - and then we efficiently check which watches will terminate soon and send bookmark only to those.

[2019-07-05 10:23] answer1991 opened #79832 "Different Webhook with same name have same label-value in metric webhook_admission_duration_seconds"
**What happened**:

Different Webhook with same name have same label-value in metric `webhook_admission_duration_seconds`. For now, we can add two or more Webhooks using the same name. Webhooks with same name will get the same label-value in metric `webhook_admission_duration_seconds` and record different Webhooks into the same label-value metric.

**What you expected to happen**:

Difference Webh

[2019-07-05 10:25] answer1991 commented on #79832
/sig api-machinery
/good-first-issue

[2019-07-05 10:26] answer1991 commented on #79832
We can create a MutatingWebhookConfiguration with two or more Webhooks which have same name?

[2019-07-05 10:27] samsonahk commented on #79503
I give up!  I did not use brew to compile but apt install for ubuntu.  Successful.

[2019-07-05 10:27] #79503 closed

[2019-07-05 10:28] gjcarneiro opened #79833 "When cpuCFSQuotaPeriod is changed in kubelet, CPU limits are not enforced correctly"
**What happened**:

Containers are not being correctly CPU limited, after changing cpuCFSQuotaPeriod from the default 100ms to 10ms.

Even though I have cpu limit 500m in the container, I can run a program with an infinite loop, and see it consuming 100% of CPU.  In fact, the total CPU usage exceeds 100%, due to additional processes running.

**What you expected to happen**:

It should be limited

[2019-07-05 10:35] gjcarneiro commented on #79833
/sig node

[2019-07-05 10:40] imeoer commented on #79832
/assign

[2019-07-05 10:55] answer1991 opened #79835 "Remove panic in staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go"
Remove panic in [staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L188), please return error instead following [golang CodeReviewComments](https://github.com/golang/go/wiki/CodeReviewComments#dont-panic).

[2019-07-05 10:56] answer1991 commented on #79835
/sig api-machinery
/good-first-issue

[2019-07-05 10:56] zizhuo-yan commented on #79835
/assign

[2019-07-05 11:04] answer1991 commented on #79835
Please also add some log if `versioner.UpdateObject()` returns error

[2019-07-05 11:30] yue9944882 commented on #79832
/sig instrumentation
/cc @logicalhan

[2019-07-05 11:30] yue9944882 commented on #79835
/remove-kind bug
/kind cleanup

[2019-07-05 11:31] yue9944882 commented on #79801
/sig cli

[2019-07-05 11:32] yue9944882 commented on #79779
/sig node

[2019-07-05 12:28] oxddr commented on #66651
Thanks for having a look.

I don't have this cluster nor logs at this point. It's possible that there were some problem with restoring there.

[2019-07-05 12:34] Pothulapati opened #79838 "APIService backed by service that 404s on / fails on clusters with v1.15"
**What happened**:
[smi-metrics](https://github.com/deislabs/smi-metrics/blob/master/chart/templates/apiservice.yaml) runs as a APIService but it fails with `Failed Discovery Check` and the endpoint returns `service unavailable` on kubernetes clusters with v1.15. It works with all previous cluster versions perfectly but gives the following status on v1.15 but I also don't see any changes in Releas

[2019-07-05 12:36] Pothulapati commented on #79838
/sig api-machinery

[2019-07-05 12:55] #69559 closed

[2019-07-05 13:20] avorima commented on #79744
@mattjmcnaughton Ok, that'll be a first but I'll give it a shot. Should I file the KEP under sig-node?

[2019-07-05 13:40] gun1x commented on #68734
Why was this closed? This would be extremely useful.

[2019-07-05 13:42] rohanricky opened #79839 "How to run K8 pods with multiple docker daemons?"
I am creating multiple docker daemons each with a different partition to host the images.

[code]
To run a container from specific image I specify -H for docker like:
`docker -H unix:///var/run/custom_docker.sock pull image`

How to specify `-H` host location in the pod.yaml to run the container inside the pod?

I tried mounting the docker.sock and doing a docker run via the command argument in th

[2019-07-05 13:45] rohanricky commented on #79839
/sig cluster-lifecycle

[2019-07-05 13:54] dims commented on #75770
@mborsz it makes sense, since it's hard for anyone else to try `5000 nodes`, can the scalability team please come up with a patch against klog that works? (file an issue/pr etc in that repo too!).

Thanks,
Dims

[2019-07-05 14:14] alejandrox1 commented on #74917
The test mentioned in this issue is still failing:
`[k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 100 pods per node`
see https://testgrid.k8s.io/sig-node-containerd#e2e-gci-serial

/cc @kubernetes/sig-node-test-failures
/milestone v1.16
/priority important-soon
/remove lifecycle-rotten

[2019-07-05 14:15] alejandrox1 commented on #74917
/remove-lifecycle rotten

[2019-07-05 14:15] aojea commented on #70248
I´ve found the problem with the DNS tests, it was environmental, related to the CI configuration.

CoreDNS needs a different configuration to run in the CI because of:

1. The CI doesn´t provide IPv6 external connectivity, thus we can´t use upstream DNS servers and CoreDNS fail to work. We need to configure CoreDNS to work offline
2. The CI adds to the resolv.conf the following domains to search:

[2019-07-05 14:39] mattjmcnaughton commented on #79744
I would think so! Maybe before writing the full sig, we can leave this issue open for a couple of days and see if anyone has thoughts. Additionally, I'd mention your idea in #sig-node on Slack and see if you garner any interest. And possibly even attend the sig-node weekly meeting and present it then :)

[2019-07-05 14:55] yue9944882 commented on #79838
that sounds bad.. i didnt remember any breaking change except for making the port confiugrable..

/cc @liggitt

[2019-07-05 15:01] mattjmcnaughton commented on #79779
Thanks for reporting this issue @PauloASilva and thanks for the detailed bug report!

Could you share a little more about why multiple nodes would have the same hostname? I'm trying to figure out if the proper fix here is fixing this issue or making the implicit assumption that nodes in the same cluster don't have the same hostname more explicit.

[2019-07-05 15:04] mattjmcnaughton commented on #79794
/sig storage
/remove-sig node
I think this is most appropriately triaged via sig-storage, but please feel free to assign back to sig-node if y'all disagree.

[2019-07-05 15:05] justaugustus commented on #79652
This was caused by changes to the build/release tooling, which have since been reverted (https://github.com/kubernetes/release/pull/814).

Here are the aforementioned jobs and their first green run of the `Extract` test since the k/release revert:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/1146183904512708613
- https://prow.k8s.io/view/gcs/kubernetes-jenk

[2019-07-05 15:05] #79652 closed

[2019-07-05 15:12] mattjmcnaughton commented on #79803
Thanks for your question :)

From what I'm reading in https://kubernetes.io/docs/concepts/containers/images/#using-a-private-registry, it looks like there are a variety of different strategies possible for configuring access to an arbitrary image registry... however, I agree that the `ImagePullSecret` appears to map closely to Docker.

It may be worth discussing this in #sig-node on Slack, or even

[2019-07-05 15:13] mattjmcnaughton commented on #79824
/remove-sig node

Going to let sig-storage triage this. Happy for sig-node to be involved if we could be helpful :)

[2019-07-05 15:18] liggitt commented on #79838
what does interrogating the service directly return?

[2019-07-05 15:19] justaugustus commented on #79668
This was caused by changes to the build/release tooling, which have since been reverted (https://github.com/kubernetes/release/pull/814).

Here is the first green run of the tests since the k/release revert:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-stable-master/1146506659837775872

Closing this out, but continued discussion on tooling/process

[2019-07-05 15:19] #79668 closed

[2019-07-05 15:19] justaugustus commented on #79669
This was caused by changes to the build/release tooling, which have since been reverted (https://github.com/kubernetes/release/pull/814).

Here is the first green run of the tests since the k/release revert:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master-on-stable/1146477984689950724

Closing this out, but continued discussion on tooling/process impr

[2019-07-05 15:19] #79669 closed

[2019-07-05 15:20] liggitt commented on #79838
`kubectl get -v=8 --raw /api/v1/namespaces/$ns/services/https:$servicename:443/proxy/`

[2019-07-05 15:23] mattjmcnaughton commented on #79833
I'm new to the world of CPU quotas... so apologies if what I'm saying doesn't make sense...

In reading https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt, I'm seeing the following:

each given "period" (microseconds), a group is allowed to consume only up to
"quota" microseconds of CPU time.  When the CPU bandwidth consumption of a
group exceeds this limit (for that period), the tas