[2017-10-27 20:27] nikhiljindal opened #54717 "GCECloud: Should Delete return NotFound error"
Some Delete methods in GCECloud return resource NotFound errors while others mask it.

For ex: DeleteHealthCheck returns NotFound: https://github.com/kubernetes/kubernetes/blob/5cb1cccd403d9d9b9c24d04ee7092e1064523afa/pkg/cloudprovider/providers/gce/gce_healthchecks.go#L68 while DeleteTargetHttpProxy masks it:https://github.com/kubernetes/kubernetes/blob/5cb1cccd403d9d9b9c24d04ee7092e1064523afa/pk

[2017-10-27 20:28] julia-stripe commented on #54716
/sig api-machinery

[2017-10-27 20:28] nikhiljindal commented on #54717
/sig gcp

[2017-10-27 20:37] caesarxuchao commented on #54715
The change is between kubernetes-1.8.2 and client-go 5.0.1 is https://github.com/kubernetes/client-go/commit/35ccd4336052e7d73018b1382413534936f34eee?w=1, a version update of k8s.io/api.

And the diff in k8s.io/api is: https://github.com/kubernetes/api/commit/ab58bff255355656c8910430ad98ab51e34e0f32. I don't think it worth tagging a v5.0.2.

[2017-10-27 20:37] hmarcelodn opened #54718 "HA 2 Clusters in differents AZ for Azure"
Hi,

I have 2 clusters running in Azure for 2 different Availability Zones and I would like to cluster the etcd masters following https://kubernetes.io/docs/admin/high-availability/#replicated-api-servers .

I created the discovery token for 3 masters. When I try to init etcd container it fails:

[code]

Both clusters were created by acs-engine in different AZ. Is that an issue related to having 2

[2017-10-27 20:45] sttts commented on #54715
The pb change does not look significant, I agree.

[2017-10-27 20:52] Quentin-M commented on #54482
Interestingly having a somewhat related issue it seems.
- With `--cloud-provider=aws` (with custom provisioning, not kubeadm),
- Hostname of the instances (container linux) are set to `ip-172-16-46-149` (not fully qualified)
- So the CSRs for TLS bootstrapping are requested with `subject= /O=system:nodes/CN=system:node:ip-172-16-46-149`
- Because the controller-manager expects the hostname to be f

[2017-10-27 20:59] BenTheElder commented on #54095
cc @spiffxp

[2017-10-27 21:08] mml commented on #53936
/sig api-machinery

[2017-10-27 21:17] adnavare commented on #52266
I have submitted a PR here https://github.com/kubernetes/website/pull/6077

[2017-10-27 21:37] lavalamp commented on #54665
Maybe this is a duplicate of #11000

[2017-10-27 21:38] #54583 closed

[2017-10-27 21:38] #54129 closed

[2017-10-27 21:54] caseydavenport commented on #46610
@abhinavdahiya for your use case, is there a reason you can't use `--cni-bin-dir=/cni_plugins/opt/cni/bin`?

Kubernetes only supports a single plugin, so I don't see what supporting individual vendor directories buys us.

[2017-10-27 21:55] lavalamp commented on #53828
This has been changed already and can be closed, right?

[2017-10-27 21:55] #53828 closed

[2017-10-27 22:12] andrewsykim commented on #49625
I think in general there should be a volume interface that cloud providers use, though I would be interested to hear what sig-storage has to say about the interface with respect to CSI.

[2017-10-27 22:18] mengqiy commented on #54205
It seems this is not a kubectl bug, see https://github.com/kubernetes/kubectl/issues/89#issuecomment-340076151.

/reopen

[2017-10-27 22:19] mengqiy commented on #54205
/unassign @mengqiy @seans3
/sig node apimachinery

[2017-10-27 22:19] cheftako commented on #54712
I think @liggit is right. It seems like there are a few use cases. One is for things like webhook e2e tests, programmatically testing if the system is ready to test, rather than sleeping and hoping. Another is seeing which webhooks are actually hooked up to a type when you are seeing odd results. (i.e. maybe something in the middle of a chain isn't being invoked). Lastly is something like a health

[2017-10-27 22:19] mengqiy commented on #54205
/sig api-machinery

[2017-10-27 22:24] mindprince commented on #54205
Also note https://github.com/kubernetes/kubectl/issues/89#issuecomment-339860831, this only happens in [GKE alpha clusters](https://cloud.google.com/container-engine/docs/alpha-clusters) (`--enable-kubernetes-alpha`) that turn on all alpha features.

[2017-10-27 22:30] freehan opened #54723 "Pod in graceful termination should not be on the ready address list of related Endpoints objects"
**What happened**:
Pod in graceful termination (Readiness: True, Status: Terminating) still shows up in the ready addresses section of related Endpoints objects.

**What you expected to happen**:
Pod in graceful termination should show up in the unready addresses section of related Endpoints objects.

**How to reproduce it (as minimally and precisely as possible)**:
Set up service and point to pod

[2017-10-27 22:32] freehan commented on #54723
Any objections?

cc @thockin @bowei @dchen1107 @yujuhong

[2017-10-27 22:35] freehan commented on #54723
I am not sure if users are relying on this broken behavior.

[2017-10-27 23:01] mml opened #54726 "Require review for changes to conformance test set"
Currently, anyone can add or remove the `[Conformance]` tag to any e2e test.  Since this tag now represents the definition of kubernetes (see also https://github.com/cncf/k8s-conformance), we need to insert stricter review here.

Initially, the plan is for all changes to this set to be reviewed by sig-architecture, but this bug isn't about the review policy.  Only about a mechanism for controlling

[2017-10-27 23:02] mml commented on #54726
/sig architecture
/sig api-machinery
/assign

[2017-10-27 23:03] jaytaylor commented on #13382
Tip: Ensure your proxy settings aren't messed up.

Verify the path to the master, e.g.:

[code]

The output may be informative as to what the source of the issue is.

[2017-10-27 23:06] spiffxp commented on #54095
Trying to compare [[velodrome bigquery-metrics](http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1)] to [[triage job=pull-kubernetes-unit](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-unit)]

This particular test isn't really showing much for [[triage test=TestCRD](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestC

[2017-10-27 23:16] BenTheElder commented on #54095
I'm not sure about the triage / bigquery results but I've been seeing this particular flake quite a bit while shepherding some PRs. 2-3x in a row on the same PR(s).

[2017-10-27 23:17] fejta-bot opened #54730 "Failure cluster [cc7300...] failed 90 builds, 9 jobs, and 1 tests over 1 days"
### Failure cluster [cc7300d5bc83784c99f9](https://go.k8s.io/triage#cc7300d5bc83784c99f9)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    9 jobs failed,    90 builds failed.
Failure stats cover 1 day time range '26 Oct 2017 22:06 UTC' to '27 Oct 2017 22:06 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Dockershim [Se

[2017-10-27 23:17] fejta-bot opened #54731 "Failure cluster [c42417...] failed 86 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [c4241712c69f91d0a3f6](https://go.k8s.io/triage#c4241712c69f91d0a3f6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    86 builds failed.
Failure stats cover 1 day time range '26 Oct 2017 22:06 UTC' to '27 Oct 2017 22:06 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| ExtractFederation | 2 |

[2017-10-27 23:17] fejta-bot opened #54732 "Failure cluster [9c0f0e...] failed 73 builds, 36 jobs, and 1 tests over 1 days"
### Failure cluster [9c0f0ea69594c02d7bb7](https://go.k8s.io/triage#9c0f0ea69594c02d7bb7)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    36 jobs failed,    73 builds failed.
Failure stats cover 1 day time range '26 Oct 2017 22:06 UTC' to '27 Oct 2017 22:06 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Timeout | 36 |

#####

[2017-10-27 23:27] spiffxp commented on #54095
Why is a "unit" test spinning up apiserver and etcd?  Would it make sense to move this to test/integration?

[2017-10-27 23:34] yastij commented on #49625
@andrewsykim - I'm usually busy during sig storage meetings to discuss the matter, might be interesting to see what we can do about this one @rootfs @saad-ali

[2017-10-27 23:51] #54711 closed

[2017-10-27 23:53] bowei commented on #54723
I thought there was another issue about this, not sure if it will be possible to dig it up...

[2017-10-28 00:30] MrHohn commented on #54571
Not sure how this can happen, specifically from the code:
https://github.com/kubernetes/kubernetes/blob/4c8539cece2f0a6e6974b30d00c7341e10320bc5/test/e2e/framework/networking_utils.go#L243
We always send request from `config.HostTestContainerPod` and it never changes during test.

[2017-10-28 01:21] MrHohn opened #54736 "Fluentd pod failed to become ready on master"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Fluentd pod failed to become ready on master after upgrade from 1.8->HEAD.

Logs from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1043:
[code]

Multiple CIs are hitting this:
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upg

[2017-10-28 03:00] xiangpengzhao commented on #54671
@lovejoy @OJezu thanks for pointing it out! I send PR #54739. PTAL.

[2017-10-28 03:14] guoh1988 opened #54740 "Default kube-apiserver --cert-dir path is transient, loses auto-generated TLS key on restart"
# LAN Platform，Configuration is as follows：
## #  1.etcd 3.1.7
/usr/bin/etcd --name=default --data-dir=/var/lib/etcd/default.etcd --listen-client-urls=http://0.0.0.0:2379
## 2.flannel 0.7.0
/usr/bin/flanneld -etcd-endpoints=http://192.168.206.14:2379 -etcd-prefix=/kube/network
## 3.docker 1.12.6
/usr/bin/dockerd-current --add-runtime docker-runc=/usr/libexec/docker/docker-runc-current --default-ru

[2017-10-28 03:28] #54670 closed

[2017-10-28 03:38] m1093782566 opened #54742 "Should update ipvs proxy local up way in README.md"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

As #54288 which support specify proxy mode for local-up.sh is already in, we should update ipvs proxy local up way in README.md

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ver

[2017-10-28 03:39] m1093782566 commented on #54742
/assign

[2017-10-28 03:42] brendandburns opened #54743 "Need to be able to control which nodes are added to a cloud load balancer."
For various reasons (network topology, heterogenous nodes, etc) a user may want to control the addition of a node to a cloud load balancer.

A specific issue with the Azure Container Instances connector which introduces a _virtual_ node can be found here:

https://github.com/Azure/aci-connector-k8s/issues/51

The right way to do this is via a node annotation, e.g.

`alpha.service-controller.kubern

[2017-10-28 03:44] m1093782566 commented on #54742
/area kube-proxy

[2017-10-28 06:03] hzxuzhonghu commented on #54723
This case DeletionTimestamp should be set,  so this pod should be not in endpoint subset.
https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/controller/endpoint/endpoints_controller.go#L438

[2017-10-28 07:31] zhangmingld opened #54747 "Do we have any parameter to stop showing the mirror pod?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
We use static pod as our lb in the HA,and the node \master are on the same machine,so we can see mirror pod with "kubectl get pod --all-namespace",but k8s collect the performance data of these mirror pods，we dont need this。So，do we have any parameter to stop showing the mirror pod?

**What you expected to happen**:
we

[2017-10-28 07:43] zhangmingld commented on #54747
/sig api-machinery
/sig node

[2017-10-28 10:33] #50781 closed

[2017-10-28 12:58] lastonoga commented on #53887
@euank

i switched to overlay2 and it solved the problem.
But anyway, there are a lot of images that are stored on each node.

I make image update of deployment (with apply and gitlab CI) and it does not delete "old" replicasets

[2017-10-28 13:16] zihaoyu commented on #45419
Hit similar issue:
[code]

[2017-10-28 13:23] fraenkel commented on #54514
Should secrets have the same behavior?

[2017-10-28 13:30] xuchenhao001 commented on #44694
@imriss Thanks for your attention!
Now I'm using kubeadm 1.8 offline init by this command after manually load all of the images into docker:
[code]
The offline images are:
[code]
That's just for k8s 1.8.0, with pod network `flannel v0.8.0`.
:smile:

[2017-10-28 13:31] antoineco commented on #54514
I'd be tempted to say yes.

[2017-10-28 13:42] christianhuening opened #54751 "PodSecurityPolicy + RBAC does not prevent Privileged Pods when more than one policy is in place"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
First off: PSP in general works for me. If I only create the hereafter mentioned restricted policy and nothin else, I cannot create privileged Pods etc.. That way I think I can validate my general apiserver settings etc are working properly in regard to PSP.

Here's the problem:

I created two PodSecurityPolicies as per t

[2017-10-28 15:33] hzamani commented on #50522
Adding `imageFormat: "1"` to `storageclass.parameters` solved my problem on `v1.8.1+coreos.0`. Another solution is to build your own image based on hyperkube image.

[2017-10-28 16:04] christianhuening commented on #54751
Biggest Thanks to @liggitt ! This totally was not a bug in K8s, but a wild ClusterRoleBinding left in the depths of my cluster granting superuser access for all ServiceAccounts. Everything is working as expected!

[2017-10-28 16:04] #54751 closed

[2017-10-28 16:15] liggitt commented on #54751
for anyone troubleshooting a similar issue, these authz checks (run as a superuser able to impersonate other users, and run against the secured API port) can help diagnose open permissions granted to all authenticated users (the `system:authenticated` group) or all service accounts (the `system:serviceaccounts` group):

[code]

if any of those return `yes`, it means that the associated set of user

[2017-10-28 17:39] cblecker commented on #50879
/assign
@PaulCharlton Is this still the case?

[2017-10-28 17:54] jiaqingw commented on #40968
gleaming over the comments above, IMHO, why not just use an environment variable such as

KUBECTL_NS=myns kubectl ....

[2017-10-28 18:08] cblecker commented on #54731
@kubernetes/sig-multicluster-test-failures Looks like the CI tests need to be updated since the code moved.

[2017-10-28 18:10] cblecker commented on #54718
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-10-28 18:10] #54718 closed

[2017-10-28 18:12] cblecker commented on #54707
/sig network
/area dns

[2017-10-28 18:14] cblecker commented on #54706
I see that you have posted your question already to Stack Overflow.

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted in multiple forums, with

[2017-10-28 18:14] #54706 closed

[2017-10-28 18:15] cblecker commented on #54690
/sig scheduling

[2017-10-28 19:55] MrHohn commented on #54736
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/17205 has the same symptom as well.

/sig instrumentation

[2017-10-28 20:37] philipn commented on #45626
FYI, we haven't seen this problem reoccur since upgrading to an AMI with a newer kernel (August 14th).

[2017-10-28 21:09] imriss commented on #44694
Thanks @xuchenhao001 and @luxas :)

[2017-10-28 21:29] davidopp commented on #25321
Why do you need to update the PDB when using Helm?

[2017-10-28 21:30] crassirostris commented on #54736
[code]

@loburm Could you please take a look?

[2017-10-28 21:30] crassirostris commented on #54736
/unassign @crassirostris
/assign @loburm

[2017-10-28 21:42] crassirostris commented on #54736
@MrHohn It doesn't seem like an upgrade issue actually. It happens exclusively on master and I see it happening just after regular cluster startup. In the prom-to-sd logs:

[code]

Why is metadata server unaccessible from the master? @ihmccreery Can it be related to the metadata-proxy?

[2017-10-28 22:47] polasekr opened #54753 "Pod created by JOB is pending as cannot be scheduled"
BUG REPORT

/kind bug

**What happened**:
I created couple jobs to run a set of reports. All the jobs are using same job template. Changes in the template are:
- jobname
- environment variables
Two jobs were running, third job couldn't be scheduled.

POD YAML
[code]

Describe node
[code]
Output of kubectl get node -l pmx=run
[code]
Output of kubectl get po -l app=pmx-report
[code]
**What you expec

[2017-10-28 22:54] davidopp commented on #54491
I have a REALLY dumb question. What causes a pod to restart? (As opposed to being deleted.)

[2017-10-28 23:59] caseydavenport commented on #54295
/area ingress

[2017-10-29 00:16] caseydavenport commented on #54069
@stewart-yu how did you create your cluster?

[2017-10-29 00:48] victorgp commented on #7433
@thockin do you think now this will be easier to achieve with the introduction of IPVS in kube proxy? https://github.com/kubernetes/kubernetes/pull/46580

Now with IPVS there should be more flexibility to do a better load balancing

[2017-10-29 01:34] aledbf commented on #49614
@myaspm can we close this issue?

[2017-10-29 01:38] aledbf commented on #37386
This can be closed. The nginx ingress controller removes the status field from the ingress rules if there's only one replica running when is replaced or ceases to exist.

[2017-10-29 02:09] #17208 closed

[2017-10-29 02:55] fejta-bot opened #54755 "Failure cluster [d6a4c0...] failed 95 builds, 16 jobs, and 10 tests over 1 days"
### Failure cluster [d6a4c017d4239fba6d58](https://go.k8s.io/triage#d6a4c017d4239fba6d58)
##### Error text:
[code]
##### Failure cluster statistics:
10 tests failed,    16 jobs failed,    95 builds failed.
Failure stats cover 1 day time range '27 Oct 2017 22:39 UTC' to '28 Oct 2017 22:39 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Service

[2017-10-29 04:41] stewart-yu commented on #54069
Sorry, i forgot close it. May be docker version too lower, i have upgrade  docker, it 's OK. @caseydavenport

[2017-10-29 04:41] #54069 closed

[2017-10-29 04:57] stewart-yu commented on #54753
have you paste incorrect? the pending pod is `pmx-report-2514-j0gxl`, but you sescribe pod is `pmx-report-2514-f0j9r`. Beside, the pod `pmx-report-2514-f0j9r` discribe messege are ```message: 'No nodes are available that match all of the following predicates::
      Insufficient cpu (1), MatchInterPodAffinity (6), MatchNodeSelector (7), PodToleratesNodeTaints
      (1).'```, may be you need more a

[2017-10-29 07:00] shiywang commented on #40968
only thing users are going to change about their current context is the
namespace.  I would expect that to be the #1 command invoked from within
config by far.

sounds good, will continue working on my pr next week.

I will create an issue for this.

[2017-10-29 09:19] jianzhangbjz commented on #54012
/cc

[2017-10-29 12:18] dimthe opened #54760 "Error syncing pod after new node is added"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG maybe

/kind bug

**What happened**:

I had a perfectly working cluster up untill the point where i had to format one of the nodes and rejoin it in the cluster afterwards. That said host was added in the cluster as a minion/worker/node but whatever pods that get assigned onto this node crash with error syncing pod errors.

**What you expected to ha

[2017-10-29 12:20] dimthe commented on #54760
/sig kubespray

[2017-10-29 12:23] dimthe commented on #54760
/sig cluster-ops

[2017-10-29 12:33] pineking commented on #53497
@vishh @cmluciano could we add this feature request https://github.com/kubernetes/kubernetes/issues/52412 into milestone v1.10 or v1.11?

[2017-10-29 14:12] dimthe commented on #54760
after more debugging  i came to realize that kubectl run alpine --image-alpine will fail  but kubectl create -f .yaml will work

is there a logic behind this ?

[2017-10-29 14:32] obeattie commented on #47131
Not to add to the noise, but we've encountered this issue in production, and it ended up leading to a complete cluster outage of all ≈300 nodes (through a very unfortunate series of events.)

I have gathered all the relevant logs from our 3 k8s master and 9 etcd nodes. There may not be anything of additional interest there, but if you would like to see them please let me know and I can share them

[2017-10-29 15:06] polasekr commented on #54753
/sig scheduling

[2017-10-29 15:09] spzala commented on #17208
@davidopp Thanks !!

[2017-10-29 15:20] zouyee opened #54762 "kubectl need to update"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 kubectl need to update

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
-

[2017-10-29 15:27] polasekr commented on #54753
@stewart-yu  Yes, it looks like a unintentionally pasted wrong kubectl pod describe when I was grabbing logs from history. Having said that, features influencing scheduling would be same as:
- Affinity rules
- Resource requirements
Regarding your second comment, I either understand the message incorrectly, or I hit a bug as I think.
I have cluster with 7nodes and 1 master. 3 nodes are labeled with

[2017-10-29 17:18] OJezu commented on #53428
@andyzhangx On which host is this file located, and how do I get there?

[2017-10-29 17:50] kksriram commented on #51965
@destijl i caught up on the discussion here and on the Azure PR. Where in the k/k code can I find examples of out of tree providers (for other areas in kubernetes) that deal with a similar problem? I assume kms providers are not unique in suffering this problem.

Webhooks in the authn and authz process?

[2017-10-29 19:11] kalise commented on #53433
Hello,
I'm facing a similar issue with v1.8.1.
APIs server manually started without RBAC but only with Node authorizer:
`  --admission-control=NamespaceLifecycle,ServiceAccount,LimitRanger,DefaultStorageClass,ResourceQuota \
  --authorization-mode=Node \`

I get this error:
`systemctl status kube-proxy -l
...
kube-proxy[29050]: E1029 14:11:39.060323   29050 reflector.go:205] k8s.io/kubernetes/pkg/

[2017-10-29 19:15] liggitt commented on #53433
That is the recommended configuration

[2017-10-29 19:16] nikhita commented on #54579
/cc @sdminonne

[2017-10-29 19:22] sakshamsharma commented on #51965
@kksriram As far as I know, out-of-tree providers are not yet implemented in any stable form in k8s, although an implementation for cloudproviders is in the works. @luxas can perhaps point you to more details on that.

[2017-10-29 19:23] kalise commented on #53433
@liggitt not a big deal but disagree with this. Why force to use both the Node and RBAC at same time to get system working? I think this is something to fix.
Thanks

[2017-10-29 19:32] liggitt commented on #53433
The node authorizer authorizes kubelets only. If you have other components in the system, you need another authorizer to allow their requests. The RBAC authorizer does that by default if they are using standard usernames.

[2017-10-29 19:35] liggitt commented on #53433
You're not forced to.

You can use the permissive authorization mode if desired at the cost of subdivided API access between any components.

You can use RBAC only, grant the system:node role to all kubelets at the cost of subdivided kubelet API access.

There's a variety of options available, but combining the Node and RBAC authorizers will work well for most.

[2017-10-29 19:43] lucasvel commented on #53288
Using kubeadm here and the proposed solution (referenced after this) hasn't worked for me:

- update the kubeadm package to 1.8.0-1
- remove the /etc/kubernetes/kubelet.conf file
- restart the kubelet to allow it to bootstrap

I'm getting
`kubelet: error: failed to run Kubelet: cannot create certificate signing request: Unauthorized`
after restarting kubelet and the following entry in the API serv

[2017-10-29 19:52] kalise commented on #53433
@liggitt Thanks you are right. In my mind, if we have two options: Node and RBAC, I assume they are independent each other, i.e. it is possible to enable only Node without having to enable the RBAC and get the system working. Anyway, not a big deal. :)

[2017-10-29 20:20] nikhita commented on #52752
https://github.com/kubernetes/sample-controller has been created (though there is no actual content there). Maybe this can be closed now.

[2017-10-29 20:48] nikox94 commented on #35637
OK so I have my setup up and running. If you read more closely the guy is having the cluster based in GCP and using CloudDNS for the federation DNS.

I now have set up a cluster in GKE with federation running on it and then I have a DNS zone in CloudDNS that I am using for the federation dns.
I created a cluster in AWS and joined it, with a service exposed on a LB in AWS. Currently we have the sce

[2017-10-29 20:50] nikox94 commented on #35637
Now I will wait some hours or days for the AWS LB to change the underlying IPs for the federated service.

Also please bear in mind that the 3rd record from the top above was created by me and is meant to be the "solution". I.e. there is no reason in this case to create A records and one should simply create CNAME records and that's it.

I am not sure why at all we are creating A records... will h

[2017-10-29 22:09] rdsubhas commented on #25321
@davidopp I can give a few examples: Some start with a 3-node ElasticSearch and a certain PDB, then change replicas, and increase the PDB. i.e. Every time someone changes the replicas of a deployment or statefulset, the corresponding PDB numbers are directly or indirectly linked.

[2017-10-29 23:26] AaronFriel opened #54765 "Feature request: ZFS utils in Hyperkube base image."
/kind feature

**What happened**:

Ran Hyperkube using ZFS backed storage. Lots of warnings in logs due to missing zfs utils. See #54754.

**What you expected to happen**:

No errors in the logs.

**How to reproduce it (as minimally and precisely as possible)**:

Install Docker CE, run Hyperkube with all Kubernetes directories on ZFS mounts.

**Anything else we need to know?**:

ZFS utils are abse

[2017-10-30 00:09] marceldempers commented on #51752
@jcharlytown  I'll give you an overview of my issue and how I solved it. We're running a Jenkins container which relies on keeping its configuration on disk. Our Kubernetes cluster lives in a resource group that we consider as "immutable" as we have multiple Kubernetes clusters, when we want to upgrade K8, we simply destroy everything our resource group and add a new K8 installation (all scripted)

[2017-10-30 01:01] cblecker commented on #54765
cc: @kubernetes/sig-storage-feature-requests @tallclair @ixdy

[2017-10-30 02:30] lf1029698952 opened #54770 "kubernetes node run on the physical machine, the host sudden restart(reboot) without reason"
**What happened**:
I have many physical machine as kubernetes node, 64cores and 384G memory, and More than 100 containers are run on each node.
cpu utilization: 20%
memory utilization: 60%
It looks normal at zabbix，but the physical machine host are sudden restart(reboot) sometimes, there is no any logs in var/log/message
and the same configuration in virtual machine（16cores 64G memory 20containers

[2017-10-30 02:55] fejta-bot opened #54771 "Failure cluster [7ae8d6...] failed 60 builds, 25 jobs, and 1 tests over 1 days"
### Failure cluster [7ae8d67ec4ce2d5e4077](https://go.k8s.io/triage#7ae8d67ec4ce2d5e4077)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    25 jobs failed,    60 builds failed.
Failure stats cover 1 day time range '29 Oct 2017 01:38 UTC' to '30 Oct 2017 01:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 25 |

##### Top

[2017-10-30 02:55] fejta-bot opened #54772 "Failure cluster [ab3c21...] failed 56 builds, 7 jobs, and 2 tests over 1 days"
### Failure cluster [ab3c21b03d3164bc51cc](https://go.k8s.io/triage#ab3c21b03d3164bc51cc)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    7 jobs failed,    56 builds failed.
Failure stats cover 1 day time range '29 Oct 2017 01:38 UTC' to '30 Oct 2017 01:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Density [Seria

[2017-10-30 03:14] lovejoy commented on #54671
@xiangpengzhao  We also require the error message included in the **Event**， could you add it？

[2017-10-30 03:18] feiskyer commented on #51322
[code]

[code]

@narasi From the first and second round, pods running on different nodes got same IPs, which is not expected. So I think you have miss configured the CNI network plugin. Each node should receive a different subnet.

May I ask which network plugin are you using? And could you check whether the subnet are configured differently on different nodes?

[2017-10-30 03:46] caseydavenport commented on #53526
/assign

[2017-10-30 03:53] caseydavenport commented on #47222
@thockin I suspect we should probably revert the original PR. While I understand it might not have been the intention for Services, if I understand this correctly then it's a breaking change to a v1 API.

Can we at least point to any documentation that indicates this was a code bug rather than a supported behavior?

[2017-10-30 04:20] #49614 closed

[2017-10-30 05:02] MrHohn commented on #42542
Ref the on-going proposal https://github.com/kubernetes/community/pull/1276.

[2017-10-30 05:04] MrHohn commented on #54736
Yeah I agree, edited the title. Sorry for the confusion.

[2017-10-30 05:12] wwsean08 commented on #43788
Seeing as nobody appears to be working on this I began working on it today and have a few of the files done, hope to have a pull request up soon of all of the scheduler tests being updated to use asserts.

[2017-10-30 05:58] m1093782566 opened #54775 "IPv6 judgement bug: `isIPv6 := svcInfo.clusterIP.To4() != nil`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There is a bug in ipv6, see:

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1346

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1157

**What you expected to happen**:

The judgement logic should be:

[code]

**How to reproduce it (as minimally and pr

[2017-10-30 05:59] multimac commented on #53853
I just had to have a manual delay between starting the `kubelet` service, and running `kubeadm init`, to give it time to download the image.

This was only really a problem with testing locally, after moving to AWS the image downloads in ~5 seconds.

[2017-10-30 06:00] m1093782566 commented on #54775
/assign

cc @danehans @leblancd

[2017-10-30 06:10] lf1029698952 commented on #54770
/area node-lifecycle
/area nodecontroller

[2017-10-30 06:11] lf1029698952 commented on #54770
/kind bug

[2017-10-30 06:25] shashidharatd commented on #54731
The federation code is removed from k/k, but we are yet to add it to k/f, that's why we are seeing this failures. once we are able to add the federation code in k/f (as soon as the dependent repos have been updated with the latest changes in k/k, we will be unblocked), we will fix these ci jobs.

/cc @marun @irfanurrehman @kubernetes/sig-multicluster-pr-reviews

[2017-10-30 06:43] danielqsj commented on #50916
I also encountered the same problem in 1.7.8 .

[2017-10-30 06:52] #53975 closed

[2017-10-30 07:49] xiangpengzhao commented on #54671
Seems like the `handlerErr` is already included in the `msg` according to `m.runner.Run` implementation.

`msg, handlerErr := m.runner.Run(kubeContainerID, pod, container, container.Lifecycle.PostStart)`

https://github.com/xiangpengzhao/kubernetes/blob/3dfaa086b39ac18ae44dfc1614350f7eb1565fa4/pkg/kubelet/kuberuntime/kuberuntime_container.go#L161

[2017-10-30 08:08] darkprisco commented on #54706
Anyhow I haven't received any answer on stackoverflow.. by the way.. tks

[2017-10-30 08:19] #49828 closed

[2017-10-30 08:19] #49928 closed

[2017-10-30 08:33] sttts commented on #54095
We saw the same issues in integration tests. That's why we haven't spent the time to move it.

https://github.com/kubernetes/kubernetes/pull/54704 is going to improve the situation.

[2017-10-30 08:48] jsafrane commented on #53360
I started updating iSCSI, Gluster and Ceph RBD to Fedora 26 (Gluster 3.12.1,  Ceph "Jewel", 3.10.x) in #54300.
TODO: CephFS. Any volunteer?

[2017-10-30 08:50] sttts commented on #52752
Oops, forgot the new repo in the push script.

[2017-10-30 08:54] sttts commented on #52752
Tadaa, pushed https://github.com/kubernetes/sample-controller 🎉

[2017-10-30 08:55] andyzhangx commented on #53428
I think you should edit the same file on all masters, otherwise it may be not consistent.

[2017-10-30 09:04] #52752 closed

[2017-10-30 09:06] jsafrane commented on #53360
sorry, Fedora 26 has Gluster 3.10.6, not 3.12

[2017-10-30 09:34] CaoShuFeng commented on #53379
/assign

[2017-10-30 09:54] sdminonne commented on #54579
@lavalamp, personally I agree with @stts, my understanding is that a coupling problem does exist but it's totally on the CRD creation/handling side. A CR/CRD is explicitly created with a reference to a native object. If the object does not exist anymore, it's a user error.

@nikhita thanks
@clamoriniere1A  FYI

[2017-10-30 10:08] lovejoy commented on #54671
the **m.runner.Run** in **master** seems same as **release-1.7** ,And I found the **msg** is empty in **release-1.7**，so the **handlerErr** may not included in **msg**.

[2017-10-30 10:20] saurabhdevops commented on #51096
@chrissound  Would you mind suggesting what you did to resolve this? I am facing a similar issue.

[2017-10-30 10:30] #54423 closed

[2017-10-30 10:49] xiangpengzhao commented on #54671
ping @sjenning and @derekwaynecarr for confirmation. thanks!

[2017-10-30 11:23] mishamo opened #54789 "Stateful set miscalculates used quota"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Statefulset cluster does not complete deployment

**What you expected to happen**:
Statefulset cluster to roll out successfully

**How to reproduce it (as minimally and precisely as possible)**:
 - Quota set up on a namespace with a hard limit of 300m cpu (and 3900Mi memory).
 - Apply the following minimal statefulset:
[c

[2017-10-30 11:28] mishamo commented on #54789
/sig apps

[2017-10-30 11:42] arthur0 commented on #52563
The **Keystone V2 API** is deprecated and **will be removed in the next OpenStack release** (Queens).
Since Mitaka [release notes](https://docs.openstack.org/releasenotes/keystone/mitaka.html):
Keystone supports `project_id` in the catalog. It works the same as `tenant_id`. Use of `tenant_id` is deprecated and catalog endpoints should be updated to use `project_id`.

[2017-10-30 11:57] dims commented on #54770
/sig node

[2017-10-30 11:58] dims commented on #54762
/sig testing

[2017-10-30 11:59] dims commented on #54658
/sig testing

[2017-10-30 11:59] dims commented on #54648
/sig node

[2017-10-30 12:00] dims commented on #54633
/sig autoscaling

[2017-10-30 12:01] dims commented on #52728
/area build-release

[2017-10-30 12:01] dims commented on #52728
/sig testing

[2017-10-30 12:02] dims commented on #52277
/sig network

[2017-10-30 12:02] dims commented on #54102
/sig node

[2017-10-30 12:03] dims commented on #54566
/assign

[2017-10-30 12:03] dims commented on #54566
/close

please see comment above and reopen if necessary

[2017-10-30 12:03] #54566 closed

[2017-10-30 12:04] dims commented on #52996
/sig node

[2017-10-30 12:04] dims commented on #53029
/sig api-machinery

[2017-10-30 12:05] dims commented on #52631
/sig node

[2017-10-30 12:05] dims commented on #52800
/sig testing

[2017-10-30 12:05] dims commented on #53492
/sig storage

[2017-10-30 12:06] dims commented on #52255
/area build-release
/sig testing

[2017-10-30 12:06] dims commented on #51934
/sig node

[2017-10-30 12:07] dims commented on #52214
/sig aws

[2017-10-30 12:07] dims commented on #52215
/sig gcp

[2017-10-30 12:08] dims commented on #52215
/assign

[2017-10-30 12:08] dims commented on #52215
/close

old flake.

[2017-10-30 12:08] #52215 closed

[2017-10-30 12:08] dims commented on #52216
/assign

[2017-10-30 12:08] dims commented on #52216
/close

old flake

[2017-10-30 12:08] #52216 closed

[2017-10-30 12:09] dims commented on #50733
/sig security

[2017-10-30 12:10] dims commented on #50733
/sig auth

[2017-10-30 12:11] dims commented on #52151
/area build-release

[2017-10-30 12:12] dims commented on #50956
/sig api-machinery

[2017-10-30 12:12] dims commented on #52398
/sig gcp

[2017-10-30 12:12] dims commented on #52781
/sig node

[2017-10-30 12:13] dims commented on #54467
/sig node

[2017-10-30 12:13] dims commented on #54608
/sig api-machinery

[2017-10-30 12:16] dims commented on #53142
@pires hey, so we need to update the stuff under examples/elasticsearch/

http://dims.dynu.net/hound/?q=elasticsearch&i=nope&files=examples%2F.*&repos=kubernetes

So basically update the images, yaml files etc and test that everything works (and submit a PR)

[2017-10-30 12:17] dims commented on #53142
/sig testing

[2017-10-30 12:17] dims commented on #53881
/sig windows

[2017-10-30 12:17] dims commented on #53777
/sig api-machinery

[2017-10-30 12:17] dims commented on #53706
/sig node

[2017-10-30 12:18] dims commented on #53036
/sig api-machinery

[2017-10-30 12:18] dims commented on #52982
/sig testing
/area build-release

[2017-10-30 12:18] dims commented on #52921
/sig cli

[2017-10-30 12:19] dims commented on #52850
/sig network

[2017-10-30 12:19] dims commented on #52846
/sig testing

[2017-10-30 12:19] dims commented on #52641
/sig node

[2017-10-30 12:20] dims commented on #52624
/sig network

[2017-10-30 12:20] dims commented on #52409
/sig cli

[2017-10-30 12:20] jcharlytown commented on #51752
@marceldempers, thanks very much for you explanation. This is almost _exactly_ the use case I am thinking about. In general, from out perspective, compute resources like the k8s setup have a different (shorter) life cycle than data. Hence, I try to separate them in terms of resource groups.

However, we were planning on using azure-disk volumes. As far as I can tell, the _azure-disk_ provider cann

[2017-10-30 12:20] dims commented on #52151
/sig api-machinery

[2017-10-30 12:21] dims commented on #52048
/sig storage

[2017-10-30 12:21] dims commented on #51930
/sig api-machinery

[2017-10-30 12:22] dims commented on #51485
/sig api-machinery

[2017-10-30 12:22] guangxuli commented on #54276
@aveshagarwal If you didn't work on this, I am pleasure to send PR to fix this. :)

[2017-10-30 12:32] Sil5nc5 commented on #31424
+1

[2017-10-30 12:50] luigi-riefolo commented on #42594
any updates?

[2017-10-30 12:57] aveshagarwal commented on #54276
yeah sure. thanks.

[2017-10-30 13:08] pires commented on #53142
Ah, so there's no documentation updates anymore. OK I'll take care of it, assign it to me.

[2017-10-30 13:09] alexnuttinck opened #54791 "g"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-10-30 13:11] #54791 closed

[2017-10-30 14:00] BezVezeE commented on #33483
Hi there, i tried to setup ILB on gke to expose internal address on the network so i cann access the app from gce to gke, but the thing is i cant ping the expoesed address from gce node,

any ideas??

[2017-10-30 14:04] bviolier commented on #33483
@BezVezeE Are you trying to access the app from a GCE instance in the same project AND the same region? Because ILB's only work in the same project & region.

[2017-10-30 14:06] cmluciano commented on #54027
@kubernetes/sig-api-machinery-bugs

[2017-10-30 14:10] ScorpioCPH commented on #53497
PR: [Add stub device plugin for conformance e2e test](https://github.com/kubernetes/kubernetes/pull/54792)

[2017-10-30 14:12] AaronFriel commented on #54765
This might not be a good idea. Not having the ZFS utilities in my image didn't prevent Kubernetes from working, it merely produced a large number of warnings from failures to query the zfs volumes.

But the result is now I see the docker container repeatedly query for all volumes using this command:

[code]

This however is slow. It's very slow:

[code]

It runs this every thirty seconds, I think.

[2017-10-30 14:16] sttts opened #54793 "auditing: DATA RACE on apiserver shutdown"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54485/pull-kubernetes-unit/61488/

Probably due to https://github.com/kubernetes/kubernetes/pull/53695

[2017-10-30 14:18] sttts commented on #54793
@hzxuzhonghu

[2017-10-30 14:22] JoschaP commented on #54723
+1

[2017-10-30 14:24] crassirostris commented on #54793
I suggest to rollback now, think later

[2017-10-30 14:24] sttts commented on #54793
@crassirostris agree. Let me create a revert PR.

[2017-10-30 14:26] hzxuzhonghu commented on #54793
I will check ASAP

[2017-10-30 14:26] AaronFriel commented on #54765
[code]

Stat errors are vastly preferable to high CPU usage.

[2017-10-30 14:30] sttts commented on #54793
@crassirostris @hzxuzhonghu can you lgtm https://github.com/kubernetes/kubernetes/pull/54795 ? it will go through the queue and takes some time. If we find a fix meanwhile, we can hold the revert

[2017-10-30 14:35] hzxuzhonghu commented on #54793
I donot have lgtm permission

[2017-10-30 14:38] sttts commented on #54793
It is lgtm'ed now. Now let's find a fix without a hurry. I looked into the backtrace and it looks like the Wait and the Add on the waitgroup race. Why?

[2017-10-30 14:39] irfanurrehman commented on #53432
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#9.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 14:39] #53432 closed

[2017-10-30 14:42] hzxuzhonghu commented on #54793
WaitGroup should be atomic operation.

[2017-10-30 14:42] irfanurrehman commented on #53431
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#8.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 14:42] #53431 closed

[2017-10-30 14:45] hzxuzhonghu commented on #54793
Sorry. I have network limit at home. Can not visit the ci url.

[2017-10-30 14:47] irfanurrehman commented on #52726
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#10.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 14:47] #52726 closed

[2017-10-30 14:47] irfanurrehman commented on #53178
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#11.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 14:47] #53178 closed

[2017-10-30 14:59] irfanurrehman commented on #52455
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#12.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 14:59] #52455 closed

[2017-10-30 15:00] sttts commented on #54793
[code]

[2017-10-30 15:05] irfanurrehman commented on #52643
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#13.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:05] #52643 closed

[2017-10-30 15:11] xsgordon commented on #54376
/sig openstack

[2017-10-30 15:14] irfanurrehman commented on #52270
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#14.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:14] #52270 closed

[2017-10-30 15:14] irfanurrehman commented on #52341
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#15.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:14] #52341 closed

[2017-10-30 15:19] irfanurrehman commented on #46464
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#16.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:19] #46464 closed

[2017-10-30 15:19] sisteming opened #54798 "Pod started before hostname is updated in kube-dns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Using statefulsets (and hence a headless service) to run MongoDB. The initial setup comes up correctly. When a pod is deleted, on GKE the new pod restarted will get a new IP address that has to be updated in kube-dns. There seems to be a race condition where the following scenario can happen:
- The pod process starts
-

[2017-10-30 15:19] irfanurrehman commented on #46645
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#17.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:19] #46645 closed

[2017-10-30 15:20] irfanurrehman commented on #46994
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#18.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:20] #46994 closed

[2017-10-30 15:20] irfanurrehman commented on #47159
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#19.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:20] #47159 closed

[2017-10-30 15:20] irfanurrehman commented on #47522
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#20.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:20] #47522 closed

[2017-10-30 15:20] irfanurrehman commented on #47565
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#21.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:20] #47565 closed

[2017-10-30 15:21] irfanurrehman commented on #48732
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#22.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:21] #48732 closed

[2017-10-30 15:21] irfanurrehman commented on #49041
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#23.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:21] #49041 closed

[2017-10-30 15:21] irfanurrehman commented on #49639
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#24.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:21] #49639 closed

[2017-10-30 15:21] irfanurrehman commented on #49644
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#25.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:21] #49644 closed

[2017-10-30 15:21] irfanurrehman commented on #50529
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#26.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:21] #50529 closed

[2017-10-30 15:22] irfanurrehman commented on #50540
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#27.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:22] #50540 closed

[2017-10-30 15:22] irfanurrehman commented on #50734
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#28.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:22] #50734 closed

[2017-10-30 15:22] irfanurrehman commented on #50735
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#29.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:22] #50735 closed

[2017-10-30 15:23] irfanurrehman commented on #50737
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#30.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:23] #50737 closed

[2017-10-30 15:23] irfanurrehman commented on #50746
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#31.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:23] #50746 closed

[2017-10-30 15:23] irfanurrehman commented on #50761
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#32.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:23] #50761 closed

[2017-10-30 15:23] irfanurrehman commented on #50815
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#33.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:23] #50815 closed

[2017-10-30 15:23] irfanurrehman commented on #50817
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#34.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:24] #50817 closed

[2017-10-30 15:24] irfanurrehman commented on #51806
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#35.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:24] #51806 closed

[2017-10-30 15:27] sisteming commented on #54798
@kubernetes/sig-network

[2017-10-30 15:30] zamai commented on #4789
spec:
      volumes:
      - name: config-volume
        secret:
          defaultMode: **0400**
Adding 0400 mode worked for me!

[2017-10-30 15:43] irfanurrehman commented on #15675
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#36.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:43] irfanurrehman commented on #17575
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#37.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:43] #17575 closed

[2017-10-30 15:44] irfanurrehman commented on #19443
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#38.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:45] #19443 closed

[2017-10-30 15:45] irfanurrehman commented on #21124
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#39.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:45] #21124 closed

[2017-10-30 15:45] irfanurrehman commented on #21705
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#40.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:45] #21705 closed

[2017-10-30 15:46] irfanurrehman commented on #23614
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#41.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:46] #23614 closed

[2017-10-30 15:47] irfanurrehman commented on #24996
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#42.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:47] #24996 closed

[2017-10-30 15:48] irfanurrehman commented on #25592
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#43.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:48] #25592 closed

[2017-10-30 15:48] irfanurrehman commented on #26329
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#44.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:48] #26329 closed

[2017-10-30 15:48] irfanurrehman commented on #26669
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#45.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:48] #26669 closed

[2017-10-30 15:49] irfanurrehman commented on #26723
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#46.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:49] #26723 closed

[2017-10-30 15:49] irfanurrehman commented on #26725
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#47.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:49] #26725 closed

[2017-10-30 15:50] irfanurrehman commented on #26921
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#48.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:50] #26921 closed

[2017-10-30 15:50] irfanurrehman commented on #27372
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#49.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:50] #27372 closed

[2017-10-30 15:51] irfanurrehman commented on #27809
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#50.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:51] #27809 closed

[2017-10-30 15:51] irfanurrehman commented on #27966
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#51.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:52] irfanurrehman commented on #27969
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#52.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 15:52] #27969 closed

[2017-10-30 15:53] pwittrock commented on #53524
/assign @apelisse

[2017-10-30 15:53] pwittrock commented on #53524
/priority important-longterm

[2017-10-30 15:54] cmluciano commented on #37386
/close

[2017-10-30 15:54] #37386 closed

[2017-10-30 16:19] irfanurrehman commented on #28335
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#53.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 16:19] #28335 closed

[2017-10-30 16:27] cmluciano commented on #54707
cc @bowei

[2017-10-30 16:28] cmluciano commented on #54755
@kubernetes/sig-gcp-bugs

[2017-10-30 16:33] cmluciano commented on #52624
Is your master node running the kube-proxy service?

[2017-10-30 16:39] krzyzacy commented on #52800
we already stopped 1.5 testing support
/close

[2017-10-30 16:39] #52800 closed

[2017-10-30 16:45] nikox94 commented on #35637
AWS ELB IPs have not yet changed. Will wait a bit more, if they don't change will look into a way of manually triggering a change.

[2017-10-30 17:06] spzala commented on #40305
@andronat Hi, since it's been long the issue was discussed last and I found a related discussion/fix here https://github.com/kubernetes/kubernetes/pull/40630 - just wondering if that has addressed this issue and we can close this? Thanks!

[2017-10-30 17:11] dchen1107 commented on #49480
Bumping CNI to v0.6.0 (#51250) has introduced a huge pod creation latency regression. Please see https://github.com/kubernetes/kubernetes/issues/54651 for details.

[2017-10-30 17:15] liggitt commented on #54751
Opened https://github.com/kubernetes/website/pull/6097 to add checks to PSP doc

[2017-10-30 17:31] #54690 closed

[2017-10-30 17:54] irfanurrehman commented on #28276
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#54.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 17:54] #28276 closed

[2017-10-30 17:58] irfanurrehman commented on #28812
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#55.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 17:58] #28812 closed

[2017-10-30 17:59] irfanurrehman commented on #28894
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#56.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 17:59] #28894 closed

[2017-10-30 17:59] irfanurrehman commented on #29331
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#57.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 17:59] irfanurrehman commented on #29335
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#58.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 17:59] #29335 closed

[2017-10-30 17:59] irfanurrehman commented on #29340
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#59.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 17:59] #29340 closed

[2017-10-30 17:59] irfanurrehman commented on #29348
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#60.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 17:59] #29348 closed

[2017-10-30 18:00] irfanurrehman commented on #29723
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#61.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:00] #29723 closed

[2017-10-30 18:00] irfanurrehman commented on #29875
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#62.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:00] #29875 closed

[2017-10-30 18:00] irfanurrehman commented on #30394
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#63.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:00] #30394 closed

[2017-10-30 18:00] irfanurrehman commented on #30398
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#64.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:00] #30398 closed

[2017-10-30 18:00] irfanurrehman commented on #30543
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#65.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:00] #30543 closed

[2017-10-30 18:00] irfanurrehman commented on #30869
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#66.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:01] #30869 closed

[2017-10-30 18:01] irfanurrehman commented on #31152
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#67.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:01] #31152 closed

[2017-10-30 18:01] irfanurrehman commented on #31184
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#68.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:01] #31184 closed

[2017-10-30 18:02] irfanurrehman commented on #31283
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#69.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:02] #31283 closed

[2017-10-30 18:02] irfanurrehman commented on #31816
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#70.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:02] #31816 closed

[2017-10-30 18:02] irfanurrehman commented on #32014
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#71.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:02] #32014 closed

[2017-10-30 18:02] irfanurrehman commented on #33284
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#72.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:02] #33284 closed

[2017-10-30 18:03] irfanurrehman commented on #33292
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#73.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:03] #33292 closed

[2017-10-30 18:03] irfanurrehman commented on #33312
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#74.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:03] #33312 closed

[2017-10-30 18:04] irfanurrehman commented on #33612
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#75.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:04] #33612 closed

[2017-10-30 18:05] irfanurrehman commented on #33622
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#76.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:05] #33622 closed

[2017-10-30 18:05] irfanurrehman commented on #33667
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#77.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:05] #33667 closed

[2017-10-30 18:06] irfanurrehman commented on #34130
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#78.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:06] #34130 closed

[2017-10-30 18:07] irfanurrehman commented on #36327
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#79.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:07] #36327 closed

[2017-10-30 18:08] irfanurrehman commented on #36657
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#80.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:08] #36657 closed

[2017-10-30 18:12] janetkuo commented on #54575
All test failures look similar: `getsockopt: connection refused`. It should be due to network issue instead of DaemonSet.

@kubernetes/sig-network-bugs

[2017-10-30 18:19] yujuhong commented on #54723
Agreed. Shouldn't this filter out terminating pods already? @freehan

[2017-10-30 18:19] irfanurrehman commented on #36815
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#81.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:19] #36815 closed

[2017-10-30 18:19] irfanurrehman commented on #36921
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#82.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:19] #36921 closed

[2017-10-30 18:19] irfanurrehman commented on #36923
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#83.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:19] #36923 closed

[2017-10-30 18:20] irfanurrehman commented on #37570
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#84.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-30 18:20] #37570 closed

[2017-10-30 18:24] bsalamat commented on #53913
@k82cn told me that he won't be able to get to this for 1.9 due to family situation. So, I am assigning this back to myself, but it would be great if anyone else could help add it for 1.9.

/assign

[2017-10-30 18:24] phsiao opened #54804 "Reduce cpumanager default logging verbosity"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

On 1.8+ kubelet with --cpu-manager-policy=static, there is a constant stream of logging every 10 seconds or so in the following formats:

`kubelet: I1030 14:13:15.116477   23623 cpu_manager.go:239] [cpumanager] reconcileState: updating container (pod: kube-proxy-47dt8, container: kube-proxy, container id: f0f24b4647d8a96

[2017-10-30 18:24] bsalamat commented on #53913
/unassign k82cn

[2017-10-30 18:26] phsiao commented on #54804
/sig node

[2017-10-30 18:34] chrislovecnm commented on #26670
This is supported through the cloud controller manager configuration. You can name a single group to be used now

[2017-10-30 18:39] freehan commented on #54723
I can reproduce this consistently on my cluster(build from HEAD). I will debug further and come back.

But everyone agrees on the expected behavior, right?

[2017-10-30 18:42] mbohlool commented on #54332
We also have a [c# client](https://github.com/kubernetes-client/csharp) you may want to check out. It is generated using autorest instead of swagger-codegen.

[2017-10-30 18:57] #54684 closed

[2017-10-30 19:02] antoineco commented on #51594
@kow3ns are there already open issues for the last 3 points you suggested?

[2017-10-30 19:22] RochesterinNYC commented on #44511
Came across this as well today. Although, in my case, some resources were correctly created in the namespace while one failed out.

[code]
(The `something-in-main-system` deployment is successfully deployed to the `main-system` namespace but the `main-system-environment` ConfigMap fails during the initial `kubectl apply -R -f .`).

[2017-10-30 19:56] jianhuiz commented on #53566
This is because that moving federation controllers to sync controller failed to update
`Status.ObservedGeneration` (e.g. https://github.com/kubernetes/kubernetes/blob/release-1.8/federation/pkg/federatedtypes/deployment.go#L55) which is used by kubectl for it to proceed the next step. This bug applies to `ReplicaSet`, too

[2017-10-30 19:57] enisoc opened #54810 "GCE: Dashboard add-on has no permissions by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When you start up a v1.8.2 cluster on GCE with the default `kube-up.sh` script, the dashboard add-on is installed by default, but it uses the `kube-system:default` service account, which has no permissions.

This leads to errors like the following when you load the dashboard:

[code]

**What you expected to happen**:

An

[2017-10-30 20:00] #54742 closed

[2017-10-30 20:10] lavalamp commented on #54693
cc @jpbetz @caesarxuchao

[2017-10-30 20:12] lavalamp commented on #54697
What exact commands did you use? Did you use kubectl or call the api directly?

cc @jennybuckley

[2017-10-30 20:13] lavalamp commented on #54697
Also, what (exact) version of kubectl and apiserver?

[2017-10-30 20:16] #54715 closed

[2017-10-30 20:18] lavalamp commented on #54716
My guess is that something went wrong with the caching layer. I take it those repro steps are a guess? I would guess that this bug would make random things stop working, not those specific endpoints.

@wojtek-t do you have any ideas?

[2017-10-30 20:19] lavalamp commented on #54716
cc @jpbetz

[2017-10-30 20:21] ahmetb commented on #54810
Possibly a duplicate of #39722.

[2017-10-30 20:22] julia-stripe commented on #54716
Updated the issue description to say that I can't reliably reproduce this issue. It seems plausible that this bug is just making random things stop working.

[2017-10-30 20:22] lavalamp commented on #54740
I don't think this is an apiserver problem, it sounds like maybe the cert was rotated at some point in the past but a kube-dns with old credentials remained running?

@deads2k do we expect clients with old certs to be dropped at some point?

[2017-10-30 20:22] lavalamp commented on #54740
Adding sig network as they own kube-proxy.

[2017-10-30 20:25] lavalamp commented on #54747
You can add labels and use a label selector to exclude pods with those labels?

The list of fields which are selectable is tightly controlled (due to performance/complexity considerations) and it's unlikely we'll be adding this to that list, sorry.

[2017-10-30 20:25] #54747 closed

[2017-10-30 20:26] everett-toews opened #54814 "Pod with initContainer takes long to delete"
/kind bug

**What happened**:

When running a pod with an initContainer it took 1m45.245s to delete

**What you expected to happen**:

It should take much less time to delete a pod. When the pod is run without an initContainer it took 3.653s to delete.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

If you comment out the `initContainers` section in that manifest, the d

[2017-10-30 20:27] bowei commented on #54651
@dnardo @freehan

[2017-10-30 20:30] ceridwen opened #54815 "Kubernetes 1.8 OpenApi Spec is invalid"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I pass the 1.8 OpenAPI spec to Swagger's validator, I get an error that looks like:

[code]

The full output is at https://gist.github.com/ceridwen/a0007517d5410bdca0ae1653f136646f.

**What you expected to happen**:

I expected validation to pass.  Validation on the 1.6 and 1.7 specs passes.

**How to reproduce it (

[2017-10-30 20:33] everett-toews commented on #54814
@kubernetes/sig-node-bugs

[2017-10-30 20:34] freehan commented on #54651
Good catch... This is why we need to bump CNI version at the early stage of a release cycle.

[2017-10-30 20:35] everett-toews commented on #52004
@pshizhsysu Is your pod using any `initContainers`?

I ran into similar symptoms in https://github.com/kubernetes/kubernetes/issues/54814

[2017-10-30 20:39] mattmoor opened #54816 "Unable to delete Job with initContainers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

See: https://groups.google.com/forum/#!topic/kubernetes-users/YVmUgktoqtI

**What you expected to happen**:

The Job to be deleted.

**How to reproduce it (as minimally and precisely as possible)**:

I was using an initContainer to `git clone` a repo.

**Anything else we need to know?**:

**Environment**:
- Kubernetes ve

[2017-10-30 20:43] luxas commented on #51965
@kksriram @sakshamsharma There are out-of-tree cloudproviders in alpha in v1.8 yes, probably beta in v1.9
https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/
https://kubernetes.io/docs/tasks/administer-cluster/developing-cloud-controller-manager/
https://kubernetes.io/docs/concepts/architecture/cloud-controller/

Authn/authz webhooks: https://kubernetes.io/docs/admin/auth

[2017-10-30 20:44] etsangsplk opened #54817 "Aws go sdk offeres interface for each of its service, suggest to program against those rather than concrete implementation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig api-machinery

**What happened**:
aws sdk offers interface for each of its service. example:
https://github.com/aws/aws-sdk-go/tree/master/service/autoscaling/autoscalingiface
We are using the concrete implementation and not program against the interface,
we should program against it and tests  should use that for mock
Also why are

[2017-10-30 20:47] #53767 closed

[2017-10-30 20:48] #54667 closed

[2017-10-30 20:48] #54624 closed

[2017-10-30 20:52] Qix- commented on #35335
I hate to bump, but 'bump'. Still an issue here. Can confirm `--tail=1` works but `--tail=0` does not.

[2017-10-30 20:55] AaronFriel commented on #54765
Reverting my own change to hyperkube reduced CPU usage significantly:
![image](https://user-images.githubusercontent.com/788800/32195242-c288f556-bd8a-11e7-9328-0c91c072d565.png)

[2017-10-30 21:01] enisoc commented on #54810
@ahmetb Thanks. This issue was indeed mentioned at the end of that thread, although most of that thread is about a separate issue. Can we consolidate here for the new issue?

Something helpful linked from that thread is the example of how this was fixed for heapster:

https://github.com/kubernetes/kubernetes/pull/46750/files

[2017-10-30 21:03] kow3ns commented on #25321
@rdsubhas

For stateful applications, in the general case, you should not have to modify the maxUnavailable field of the PDB.

1. You should set the maxUnavailable field of a PDB to the maximum number of **planned** disruptions that you are willing to take. For most production deployments of stateful applications this is always 1.
    1. Lets use ZooKeeper as an example. If you deploy an ensemble

[2017-10-30 21:04] pwittrock commented on #53524
@sttts where should this go?

https://github.com/kubernetes/code-generator/pull/17

[2017-10-30 21:04] kksriram commented on #51965
@luxas trying to find examples of out of tree providers elsewhere in kubernetes to see how they handle being loaded, called etc. I'll go take a look at the CCM stuff.

[2017-10-30 21:05] kow3ns commented on #51594
@antoineco I was planning on using this issue.

[2017-10-30 21:12] enisoc commented on #54575
@janetkuo @kow3ns This seems related to the new `apps/v1` DaemonSet.

The connection refused error is happening because kube-apiserver is crashing:

[code]

[2017-10-30 21:26] matthiasr commented on #54816
Was this job created with the same combination of versions? Can you reproduce the issue or was it a one-off?

If you can reproduce it with these versions, can you is you upgrade the client to the newest 1.7.x? With upgrading the client to 1.8.x? If you can, with both server and client upgraded? (with minikube?)

[2017-10-30 21:27] ericchiang commented on #51965
@kksriram try looking at CRI, since @destijl mentioned above that he was considering a gRPC API with basic encrypt/decrypt calls. https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/apis/cri

[2017-10-30 21:29] rafamarangoni commented on #40244
+1

[2017-10-30 21:36] bowei commented on #54502
/assign

[2017-10-30 21:36] bowei commented on #54502
/sig network

[2017-10-30 21:37] joan38 commented on #29097
Can anyone point this `kubectl set image` feature in the API?
https://kubernetes.io/docs/api-reference/v1.8/#patch-22

[2017-10-30 21:44] cblecker commented on #54772
/sig scalability

[2017-10-30 21:49] enisoc commented on #45398
@kow3ns After reading this thread, I'm convinced we need an answer for mutating PDBs through `kubectl apply` (and thus Helm). For things like Pods, it's ok that you can't mutate them because we have things like Deployment that allow you to declaratively transition to a new Pod template. There's no such thing for PDB, so we are essentially preventing users from managing PDBs declaratively. They wou

[2017-10-30 21:51] mattmoor commented on #54816
I haven't touched the cluster/client since, so definitely those version.  It happened twice (before I switched to `gitRepo` volumes).

I believe I'm on the latest version of the cluster Container Engine supports, but given that I couldn't delete these previously I wasn't exactly eager to fill my cluster with them! :)

I can post back once GKE is on 1.8.x, or if I have a chance to put together a po

[2017-10-30 21:59] nikox94 commented on #35637
OK so "we are in the game" as we say in Bulgaria. Issue reproduced!

Now AWS changed LB IPs:
[code]

This means new LB IPs are now `52.38.9.41, 52.38.14.25`.
However looking over at GCP we see that in CloudDNS:
[code]

The A records created by Federation are still there, but now pointing to the wrong IP. We should instead have created CNAME records. The CNAME record I created for testing is still

[2017-10-30 22:04] kow3ns commented on #54575
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/daemonset/strategy.go#L140 needs an update

[2017-10-30 22:05] sjevs commented on #54645
@stewart-yu you are right. This was fixed in `v1.8.0`.

[2017-10-30 22:07] mattmoor commented on #54816
This was enough for me to repro it (perhaps it can be reduced further):
[code]

The volumes are necessary, without them it deletes just fine.

[2017-10-30 22:07] enisoc commented on #54575
Ah, well... I guess it's halfway working as intended. We put that there to make the tests fail if we forgot to update it when adding a new version. We had hoped it would fail during presubmit tests though. :(

[2017-10-30 22:09] ceridwen commented on #54815
/sig api-machinery
/sig api

[2017-10-30 22:13] janetkuo commented on #54575
Sending a fix now

[2017-10-30 22:20] mml opened #54821 "When running e2e tests, maybe call the "client" version the "e2e test" version?"
This is to avoid some confusion that has come up when people are reading the instructions.  See also https://github.com/cncf/k8s-conformance/pull/33/files.

@WilliamDenniss

/area conformance
/sig api-machinery
/kind feature
/assign

[2017-10-30 22:20] mml commented on #54821
These were just added in #53551

[2017-10-30 22:23] mengqiy commented on #54205
@kubernetes/sig-api-machinery-bugs @kubernetes/sig-node-bugs

[2017-10-30 22:34] pmorie commented on #52252
I could really use this in service-catalog.  @mbohlool is this still something that you plan to do?

[2017-10-30 22:38] #54562 closed

[2017-10-30 22:54] crimsonfaith91 commented on #54575
I wonder why the test is not failing on submit queue tests. Do i need to fix deployment and replicaset?

[2017-10-30 23:07] srflaxu40 commented on #11543
I think this is still an issue with kubeadm v1.8.2.  There needs to be way more doc for AWS as a cloud provider, or maybe something out-of-the-box with kubeadm.  At the moment, it seems super under doc'ed, especially when many people have this use-case right?

[2017-10-30 23:28] marceldempers commented on #51752
I mainly used file-share because we've had good experiences with it especially for Jenkins which does not rely much on fast disk I\O operation so file-share is good enough. We just wanted something simple that can offload the Jenkins files outside of the cluster area. I probably would have looked at azure-disk or some other data store if it were more critical "hot" data that needed to be highly av

[2017-10-30 23:43] kow3ns commented on #54575
The rest of the group is not merged, and the v1 PR takes the selector mutability into account.

[2017-10-30 23:44] janetkuo commented on #54575
Since this bug crashes apiserver I'd expect it to affect many other e2e tests.

[2017-10-30 23:47] crimsonfaith91 commented on #54575
Noted, we need to fix deployment and replicaset when the v1 PR is merged.

[2017-10-30 23:50] mbohlool commented on #52252
Most probably I won't get to this till Q1. I assume this is a nice to have feature but let me know if it is not.

[2017-10-30 23:53] kent-at-multiscale commented on #14188
Has there been any movement on this in two years?

I have a few use cases where I have a batch of jobs I need to execute. The size of the batch is static. Right now I have to do unnecessary scripting in order to generate N copies of a Job from a template with different names and have each one act on one index into a list of inputs. Having a mechanism where I could create one Job (template?) and cr

[2017-10-30 23:56] mbohlool commented on #51163
@munnerz @sttts correct. Just serving an OpenAPI spec at /swagger.json should solve this. Your spec would have a constant part that is defining CRUD operations on CRD and then plugin the model there. I may not get to this in 1.9 so your help is appreciated here.

[2017-10-30 23:58] kent-at-multiscale commented on #14188
If you want an idea for how to make this more appealing to users, you could provide a mechanism where a user provides a Job template and an array of input elements and have the Kubernetes controller generate one Job for each input element. For static work queues, having the input queue directly in the Job YAML or JSON (or perhaps as a ConfigMap) would be very easy to use and would satisfy a lot of

[2017-10-30 23:59] mbohlool commented on #51163
Also I think this is the wrong issue to discuss CRD's OpenAPI support. For now we are supporting CRDs with OpenAPI v2. The spec generation in apiextensions-apiserver should somehow downgrade the model from v3 to v2. We need a new issue for this.

[2017-10-31 00:17] guoh1988 commented on #54740
@lavalamp My cert uses apiserver generated in "/var/run/kubernetes/",When my machine restarts, the certificate will restart and be generated in "/var/run/kubernetes/"

**1.kube-apsierver 1.6.7**
/usr/bin/kube-apiserver --logtostderr=false --v=2 --etcd-servers=http://192.168.206.14:2379 --insecure-bind-address=0.0.0.0 --allow-privileged=false --service-cluster-ip-range=172.17.0.0/16 --admission-con

[2017-10-31 00:23] freehan commented on #54723
I figured out what is going on:

0. Set up a deployment with 3 replicas and service pointing to them.
1. Scale down deployment by 1. One backend pod got deleted.
2. Pod informer is going to inform endpoint controller of a pod update event. The event handler is here: https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/controller/endpoint/endpoints_controller.go#L99
3. The handler checks i

[2017-10-31 00:24] freehan commented on #54723
This bug is introduced by #50934

[2017-10-31 00:42] davidopp commented on #25321
FWIW this discussion has now forked into two parallel threads, here and #45398. I'd suggest coalescing them into one place.

[2017-10-31 00:43] davidopp commented on #45398
FWIW this discussion has now forked into two parallel threads, here and #25321. I'd suggest coalescing them into one place.

[2017-10-31 00:55] k82cn commented on #14188
I'm thinking if we can support Job related requirement in [kube-arbitrator](https://github.com/kubernetes-incubator/kube-arbitrator) which is target for batch related jobs.

[2017-10-31 01:03] thockin commented on #54119
This is a help-request, not a bug.  StackOverflow is probablybetter for you.

a) Use a selector, rather than manual endpoint creation
b) look at pod `hostname` and `subdomain` fields
c) create a headless service (clusterIP: None) with the same name as the pod `subdomain`

[2017-10-31 01:03] #54119 closed

[2017-10-31 01:24] janetkuo commented on #54575
Not quite sure how this test isn't failing before but is now consistently failing. I'd expect the commit that triggers this to block the submit queue.

The e2e test is still accessing DaemonSet through extensions/v1beta1 endpoints. From the above apiserver log it's hard to tell what updates DaemonSet via apps/v1 before the code panics. I tried to reproduce it locally, and found that garbage collec

[2017-10-31 01:30] liggitt commented on #54213
What endpoints get populated for that service?

Tightening validation for existing objects (especially ones with known instances of data in the wild) is fraught. It can prevent deletion, migration, and status updates.

@thockin is this a bug in validation or in the API docs?

[2017-10-31 01:46] crimsonfaith91 commented on #54575
When apps/v1 gets introduced, it may be ordered before apps/beta1 alphabetically. IIRC, there is a change on the apps/v1 PR that changes the order of API versions such that apps/v1 is ranked _before_ apps/v1beta2 and apps/v1beta2 _before_ apps/v1beta1. Perhaps this problem can be fixed when the PR merges.

[2017-10-31 01:49] wackxu commented on #54213
@liggitt If you use tow same port name in the different container of pod, when you expose as service, only the first container that meet the service targetPort as endpoints get populated for that service
you can see from here, the second is never exposed.
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/pod/util.go#L28-L50

[2017-10-31 01:50] hzxuzhonghu commented on #54793
@sttts I think I know. In this case, waitGroup is not valid.   https://github.com/golang/go/blob/master/src/sync/waitgroup.go#L43-L48

	// - Adds must not happen concurrently with Wait,
	// - Wait does not increment waiters if it sees counter == 0.
https://github.com/golang/go/blob/master/src/sync/waitgroup.go#L82-L85

[2017-10-31 01:53] lf1029698952 commented on #54770
I'm probably already aware of the problem, This is caused by the kernel bug of the Linux system。
kernel BUG at fs/xfs/xfs_aops.c:1062!
CentOS7 use xfs as file system default, this is a xfs bug.
RedHat officials already know the problem, but no formal patch fixes have been issued.
[RHEL7: kernel crash in xfs_vm_writepage - kernel BUG at fs/xfs/xfs_aops.c:1062!](https://access.redhat.com/solutions/2

[2017-10-31 02:01] smarterclayton commented on #54213
That seems pretty reasonable.  Ports are first come, first serve on a shared IP.

Given this could be in the wild tightening validation here is potentially breaking.

[2017-10-31 02:07] mikedanese opened #54831 "Flex volume causes pod to be undeletable"
/kind bug
/sig storage

I can create a pod with a flexvolume that is undeletable. To reproduce:
1. Write a pod with an image that doesen't exist.
2. Add a flex volume to that pod.
3. Create the pod.
4. Delete the pod.

The pod remains in terminating forever with this in kubelet logs:

[code]

This is on head.

[2017-10-31 02:07] lichuqiang commented on #54804
/cc @ConnorDoyle

[2017-10-31 02:08] wackxu commented on #54213
If user want to expose the second container as service in this way, he never get what he want, I think we should prevent user from using same portName in all container of pod.

[2017-10-31 02:13] shiywang commented on #54645
@mengqiy do you think we can have a cherry-pick make it into v1.7 ?

[2017-10-31 02:17] feiskyer commented on #49970
@chartotu19 Didn't make to reproduce the problem. For your question

kubelet starts itself first and then create other components based on manifests (e.g. under /etc/kubernetes/manifests/). Before apiserver ready, you should see the connection refused error in kubelet logs.

Not sure about this problem, I think the entry is still the old one (data in etcd shouldn't be lost at least).

There are a

[2017-10-31 02:20] dockerPractice opened #54832 "I want to connect my service.."
/kind bug
/sig kubernetes
/sig node

**What happened**:
It can't be connected to be made my service on Web browser.

**What you expected to happen**:
Connect to my service

**How to reproduce it (as minimally and precisely as possible)**:
First, I made 'my-deploy.yaml' like this.

[code]
And then, I made 'my-service.yaml' like this
[code]
So, I created the deployment and service,
[code]
[code]
 an

[2017-10-31 02:33] #54831 closed

[2017-10-31 02:39] ApsOps commented on #29097
@joan38 I do this, but docs UI seems to have gone downhill. So can't find anything now 🤷‍♂️
[code]

[2017-10-31 02:43] dims opened #54834 "41 flakes: k8s.io/kubernetes/pkg/printers/internalversion TestDescribeServiceAccount"
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestDescribeServiceAccount
[code]

Looks like we may have to sort the order in which things are printed.

[2017-10-31 02:48] dcparker88 commented on #34978
@VinceMD I'm starting down this path as well, creating a 3 node c* cluster in kubernetes, and running in to a lot of the same issues (pods won't rejoin the cluster after being deleted, etc.) - are you having any luck with the changes you made? I'm looking to automate as much of this as I can, since we will be deploying many clusters, and running manual administrative tasks on them isn't a good opt

[2017-10-31 02:48] dims commented on #54834
/sig api-machinery

[2017-10-31 02:51] liggitt commented on #54213
As long as that pod util function continues to return a single port number for a single port name, you are correct, routing this way won't work.

It is possible, API-wise, to make the endpoints controller propagate both ports to the Endpoints object, though I'm not sure whether the networking layer would be happy routing that way (one service IP:port routing to multiple ports on the same pod IP)..

[2017-10-31 03:04] timothysc commented on #47131
@obeattie I'm sooo sorry.  I'm updating the client tomorrow, and going to poke folks about getting the next rev in line for release.
/cc @luxas @roberthbailey @jbeda

[2017-10-31 03:14] CaoShuFeng commented on #54793
I run this command serveral times, and it always success:
`go test -v k8s.io/kubernetes/cmd/kube-apiserver/app/testing -run TestRun$ -race`

Can your reproduce this issue?

[2017-10-31 03:18] liggitt commented on #54834
dupe of https://github.com/kubernetes/kubernetes/issues/54619, fixed in https://github.com/kubernetes/kubernetes/pull/54628

[2017-10-31 03:18] #54834 closed

[2017-10-31 03:22] wackxu commented on #54213
yeah, it is right that we can use this way. But I preferred the first way because I do not want the service is aware of the change of port and I can change my port arbitrary.

[2017-10-31 03:33] anguslees opened #54836 "kubelet should run CNI plugins as network=host containers"
/kind feature

Currently CNI plugins need to be "manually" distributed and installed onto the host filesystem, and hope they match the target filesystem's ABI, etc so that they can eventually be executed by kubelet.  We already have a much more sophisticated mechanism for managing all of that - containers!

We should run CNI plugins *as containers* in the host network namespace.  That way they can

[2017-10-31 03:33] anguslees commented on #54836
/sig node network

[2017-10-31 03:36] kent-at-multiscale commented on #14188
I don't fully understand what `kube-arbitrator` is. The readme starts with "As a cluster admin", but what I am discussing is for a cluster user, not an admin. I have jobs to run, somebody else manages the cluster.

Could you elaborate a bit on what `kube-arbitrator` is?

[2017-10-31 03:42] hzxuzhonghu commented on #54793
Yes, I can reprodue.

[2017-10-31 03:48] hzxuzhonghu commented on #54793
Surely, there exist data race. When waitGroup counter=0.   func Wait is called, then Add(1) called, this case may occur.
I searched by google, and do not find very good method.  And an issue in golang repo [ync: WaitGroup showing up with race detected] (https://github.com/golang/go/issues/8054), but still no conclusion using waitGroup . I think we should use atomic to count by self, and discard wa

[2017-10-31 03:52] liggitt commented on #54810
the version of the dashboard currently deployed via kube-up exposes those permissions to anyone able to access the dashboard's IP, so default permissions are not really appropriate on a secured system.

https://github.com/kubernetes/kubernetes/pull/53046 is open to update the dashboard to a version that requires users to authenticate using their own credentials

[2017-10-31 04:34] feiskyer commented on #49864
@andyzhangx the certs could be attached when running containers with hostPath mounts.

[2017-10-31 04:50] liggitt commented on #54740
1. the best solution is to create a key specifically for the purpose of signing tokens, in a non-transient location (e.g. `openssl genrsa -out /var/lib/kubernetes 2048`), and explicitly specify that to the apiserver (with `--service-account-key-file`) and the controller manager (with `--service-account-private-key-file`)

2. the next best solution is to have the apiserver place its generated certs

[2017-10-31 05:09] liggitt commented on #54697
To recreate:

1. `kubectl apply -f ...` a normal extensions/v1beta1 DaemonSet. The object is created:

[code]

2. `kubectl apply -f ...` the same file edited to be a bogus `extensions/v1beta2`. The object is fetched from the server at
[code]
This patch is sent by kubectl and accepted by the API server:
[code]

There's at least a couple bugs here:

1. `kubectl apply` fetches a different version for

[2017-10-31 05:14] jhorwit2 commented on #54697
Sorry, I ran `apply` like @liggitt's example.

kubectl and the apiserver are 1.8.1 but i've tested this on 1.8.0 as well (why i put 1.8.x). I haven't tested this on 1.7.x.

[2017-10-31 05:16] feiskyer commented on #48705
The problem should be fixed in release-1.7.

@rocketraman @krish7919  Opened a cherry-pick PR to release-1.6 #54839.

[2017-10-31 05:43] feiskyer commented on #49857
@JuneZhao Didn't figure how to reproduce it. Do you still have such problems? or do you know how to reproduce it?

[2017-10-31 05:43] liggitt commented on #54697
fix for the apiserver ignoring kind/apiVersion-changing patches in https://github.com/kubernetes/kubernetes/pull/54840

[2017-10-31 06:00] irfanurrehman commented on #38223
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#86.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:00] #38223 closed

[2017-10-31 06:04] ConnorDoyle commented on #54804
Thanks for filing this bug. Do you plan to work on fixing it too, or should we find someone to pick it up?

[2017-10-31 06:05] irfanurrehman commented on #38537
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#87.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:05] #38537 closed

[2017-10-31 06:05] irfanurrehman commented on #38893
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#88.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:05] #38893 closed

[2017-10-31 06:06] bowei commented on #54502
I commented on the PR. It seems like the fix for now is override the instance name that the kubelet uses to be the first DNS label, rather than FQDN, as that is the instance name expected in the cloud provider. We should not bake the FQDN into the cloud provider, as that name is not guaranteed to be stable or be unique.

[2017-10-31 06:07] irfanurrehman commented on #38897
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#89.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:07] #38897 closed

[2017-10-31 06:07] irfanurrehman commented on #39482
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#90.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:07] #39482 closed

[2017-10-31 06:07] irfanurrehman commented on #39555
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#91.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:07] #39555 closed

[2017-10-31 06:07] irfanurrehman commented on #39746
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#92.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:07] #39746 closed

[2017-10-31 06:08] irfanurrehman commented on #39749
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#93.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:08] #39749 closed

[2017-10-31 06:08] irfanurrehman commented on #39856
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#94.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:08] #39856 closed

[2017-10-31 06:08] irfanurrehman commented on #39984
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#95.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:08] #39984 closed

[2017-10-31 06:08] irfanurrehman commented on #39985
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#96.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:08] #39985 closed

[2017-10-31 06:09] irfanurrehman commented on #39986
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#97.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:09] #39986 closed

[2017-10-31 06:09] irfanurrehman commented on #39987
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#98.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:09] #39987 closed

[2017-10-31 06:10] irfanurrehman commented on #39989
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#99.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:10] #39989 closed

[2017-10-31 06:10] irfanurrehman commented on #40323
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#100.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:10] #40323 closed

[2017-10-31 06:10] irfanurrehman commented on #40536
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#101.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:10] #40536 closed

[2017-10-31 06:11] irfanurrehman commented on #40989
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#102.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:11] #40989 closed

[2017-10-31 06:11] irfanurrehman commented on #41673
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#103.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:11] #41673 closed

[2017-10-31 06:11] irfanurrehman commented on #41791
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#104.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:12] #41791 closed

[2017-10-31 06:12] irfanurrehman commented on #42131
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#105.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:12] #42131 closed

[2017-10-31 06:12] irfanurrehman commented on #42324
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#106.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:12] #42324 closed

[2017-10-31 06:13] irfanurrehman commented on #42352
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#107.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:13] #42352 closed

[2017-10-31 06:13] irfanurrehman commented on #42356
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#108.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:13] #42356 closed

[2017-10-31 06:13] irfanurrehman commented on #42511
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#109.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:13] #42511 closed

[2017-10-31 06:14] irfanurrehman commented on #42559
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#110.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:14] #42559 closed

[2017-10-31 06:19] tomoe commented on #54132
@dims thx for following up. will bring one up soon.

[2017-10-31 06:36] feiskyer commented on #37797
Closing the issue based on https://github.com/kubernetes/kubernetes/issues/37797#issuecomment-311098924

[2017-10-31 06:36] #37797 closed

[2017-10-31 06:53] irfanurrehman commented on #42618
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#111.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-10-31 06:53] #42618 closed

[2017-10-31 06:58] utsav2307 commented on #54482
Any exact solution for this?

[2017-10-31 07:03] ss22ever commented on #52276
@dims @henriquetruta using your repo https://github.com/dims/k8s-cloud-provider/ and doing a make build shows me this output https://gist.github.com/ss22ever/885e9e19b91fa39248875a929c3a77df

[2017-10-31 07:19] jamiehannaford commented on #52276
@ss22ever You might need to make sure you're using the latest gophercloud. This commit was added recently: https://github.com/gophercloud/gophercloud/commit/d8b7bfe90431e0eafb697424b3a1fe2de76287d3.

[2017-10-31 07:56] wojtek-t commented on #54716
Hmm - I vaguely remember something similar.
@liggitt do you remember what exactly that was and in what version it was fixed?

[2017-10-31 08:34] feiskyer commented on #42151
@garrardkitchen  @vriesmarcel Which version of kubernetes are you deploying? Just checked v1.8 has no such problem.

[2017-10-31 08:38] jianglingxia commented on #52323
I have occur the problem,k8s version 1.6.9
![image](https://user-images.githubusercontent.com/25783555/32214376-995f9534-be59-11e7-9a42-d4c7429c4dfa.png)
![image](https://user-images.githubusercontent.com/25783555/32214401-afa55996-be59-11e7-83f4-5f431c4b9c48.png)
![image](https://user-images.githubusercontent.com/25783555/32214453-deaa942c-be59-11e7-857d-55ddd51c3d8f.png)
can you help me? @pineki

[2017-10-31 08:39] feiskyer commented on #42800
@arnouthoebreckx Did you still encounter the problem?

Are you deploying a cluster below v1.5.3 version? If so, please upgrade and retry again.

[2017-10-31 08:50] ddlaat commented on #53881
+1

[2017-10-31 08:55] feiskyer commented on #43608
Have been fixed in #45523. Closing this issue.

[2017-10-31 08:55] #43608 closed

[2017-10-31 09:25] samlyhuang opened #54850 "use kubenetes to pull image pull from private registry is broken"
docker version:17.09.0
system version: CentOS Linux release 7.2.1511 (Core)
kubernetes version : 1.6.2

when i use kubectl to create a  deployment,find this issue :
Error syncing pod, skipping: failed to "StartContainer" for "rolling-update-test" with ErrImagePull: "rpc error: code = 2 desc = Error response _from_ daemon: {\"message\":\"Get http://192.168.31.150:5000/v2/nginx-web/manifests/v3: no

[2017-10-31 09:30] hchenxa opened #54851 "can not get pod image name by jsonpath when use label selector"
I tried to use label selector to get container image name, but it can not show the image name when lables selector provided.

[code]

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubect

[2017-10-31 09:38] samlyhuang commented on #54850
sorry, I am new in kubernetes. Can you give an example ?
Thank you very mach

[2017-10-31 09:38] hchenxa commented on #54851
/sig cli

[2017-10-31 10:42] mmisztal1980 commented on #41444
any progress on this? This would be huge

[2017-10-31 10:44] yuexiao-wang opened #54855 "Deprecated usage message is not getting printed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Deprecated usage message is not getting printed , such as --container-port in kubectl export, --interactive in kubectl log,  --experimental-use-openapi-print-columns in kubectl get.

Because cobra is used in kubectl, the issue is imported by cobra.
https://github.com/spf13/cobra/issues/463
https://github.com/spf13/cobra/

[2017-10-31 10:47] yuexiao-wang commented on #54855
/sig cli

[2017-10-31 10:56] guoh1988 commented on #54740
@liggitt thks

[2017-10-31 10:57] dims commented on #47131
Additional details from @obeattie https://community.monzo.com/t/current-account-payments-may-fail-major-outage/26296/95?u=oliver

[2017-10-31 11:18] dims commented on #54816
/sig storage
/sig api-machinery

[2017-10-31 11:18] goloxxly commented on #54221
Hi,
I had the same issue. I have a cluster set up through `kubeadm` and then installed heapster following [this  description](https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md).

I could see the same error message:

[code]
But after some minutes it got fixed without any further manual action.

From what I can see in the logs I think that creating the rbac ClusterRoleBinding after

[2017-10-31 11:19] ScorpioCPH commented on #54412
PR for this proposal is here: https://github.com/kubernetes/kubernetes/pull/54792

[2017-10-31 11:24] vriesmarcel commented on #42151
On latest version it now works

[2017-10-31 11:36] gmarek commented on #53485
@sttts please add regression test for leaking resources when CRDs are used. @kubernetes/sig-scalability-misc looks for leaks when using basic resources, but they can't own whole ever-expanding landscape.

[2017-10-31 11:38] dims commented on #54850
/sig node

[2017-10-31 11:38] wackxu opened #54857 "Add create priorityclass sub command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

As priorityclass is imported from v1.8, we should support  `create priorityclass`  sub command, because
 the definition of `priorityclass` is simple and it is convenient for us to create `priorityclass`.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2017-10-31 11:47] tcolgate opened #54859 "Frequent "end of JSON input", from kubectl >= 1.7 with old/empty cache"
/kind bug

**What happened**:

Running newer kubectl version beyond 1.6 gives errors for simple get commands if the command has not been run for "some time" (annecdotally about 15m). Versions < 1.8.2 fail with `unexpected end of JSON input", 1.8.2 fails with a net.OpError (see below).

Deleteing ~/.kube/cache and ~/.kube/http-cache can more reliably reproduce the problem on the newer versions.

Th

[2017-10-31 11:56] TristanPeers commented on #32987
Please re-open, still an issue in 1.7.2

[2017-10-31 11:59] hzxuzhonghu opened #54860 "GenericAdmissionWebhook restClient should be cached"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
currently,  restClient is constructed each time call Admit, this is low efficiency.
**What you expected to happen**:

we should cache this, because this will not change.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `

[2017-10-31 11:59] hzxuzhonghu commented on #54860
/sig auth

[2017-10-31 12:05] phsiao commented on #54804
@ConnorDoyle I can take a look and see what I can or cannot do with this.

[2017-10-31 12:10] yuexiao-wang commented on #54855
@kubernetes/sig-cli-bugs

[2017-10-31 12:18] crassirostris commented on #52162
Friendly ping on this issue

/cc @yujuhong @Random-Liu FYI, can it be a part of the kubelet API, which can be accessed from inside of the pod?

[2017-10-31 12:22] mattjmcnaughton commented on #54633
Hi @tesi-nahid !

I think the Kubernetes 1.7 documentation on hpa with custom metrics could be helpful - here's the link: https://v1-7.docs.kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-custom-metrics

Let me know if you have any questions :)

[2017-10-31 12:22] andronat commented on #40305
Hello @spzala, yes #40630 solves this. I’m closing it.

[2017-10-31 12:22] #40305 closed

[2017-10-31 12:29] mattjmcnaughton commented on #54578
Hi @kishorekumark !

Thanks for reaching out with your question. A couple of questions to try and get some more info to help with debugging:

1. Are you always seeing this error or just sometimes? If you try and run the same pod on, for example `minikube`, does it successfully auto-scale?
2. Are all pods in the "Ready" state when you get this error message? I thought I saw something in the logs ab

[2017-10-31 12:32] wackxu commented on #54857
/sig cli

[2017-10-31 12:38] phsiao commented on #54804
"updating container" log line should be easy to deal with, it is doing a logging without setting a level, and if there is a convention on what should be the level of this type of logging (and similar in this file), I can submit a PR to add .V(x). support for it.  Any preference on how the logging level should be handled?

[2017-10-31 12:40] jsafrane opened #54863 "flake: DATA RACE in registry tests"
/kind bug

pull-kubernetes-bazel-test failed testing staging/src/k8s.io/apiserver/pkg/registry/generic/registry:go_default_test:

[code]

Full logs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54856/pull-kubernetes-bazel-test/13345/

[2017-10-31 12:40] jsafrane commented on #54863
/kind flake

[2017-10-31 12:43] jsafrane commented on #54863
Not sure if @kubernetes/sig-api-machinery-bugs is the right one here... Please route to proper place.

[2017-10-31 12:57] dims commented on #54863
@jsafrane dup of https://github.com/kubernetes/kubernetes/issues/54793 ?

[2017-10-31 13:07] piwi91 opened #54864 "Controller Manager - Service Controller - Clean up load balancer error (OpenStack)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Load balancer in Openstack isn't removed after removing a Load balancer service and results in an error in the controller manager: `service_controller.go:749] Failed to process service. Retrying in 5s: json: cannot unmarshal string into Go struct field LoadBalancer.listeners of type listeners.Listener`

**What you expect

[2017-10-31 13:09] piwi91 commented on #54864
/sig openstack

[2017-10-31 13:17] tcolgate commented on #54859
/sig cli

[2017-10-31 13:20] spzala commented on #40305
@andronat  thanks!!

[2017-10-31 13:35] badloop commented on #35536
I did successfully install the dashboard, and its running, but I can't seem to authenticate using any of the tokens that are in the list of secrets.

[2017-10-31 13:35] containscafeine commented on #40346
FWIW, I hit this issue today and I'm unable to exec into the heapster pod since they have now based it off scratch and it has no sh, bash, curl, etc binaries.

[2017-10-31 13:52] ITPROMatthew commented on #41444
With effort to remove cloudprovider dependencies out of kubernetes core I doubt we will see this.

However there is already support for DigitalOcean Load Balancing using https://github.com/digitalocean/digitalocean-cloud-controller-manager however its still Alpha.

I am successfully using the DO CCM on k8s 1.8.x and seems to be working fairly well. been using it since 1.7.3.

[2017-10-31 14:13] jsafrane commented on #54863
No, my race is somewhere deep in gRPC and #54793 is about API server shutdown with no gRPC in call stack

[2017-10-31 14:18] dims commented on #54863
Thanks @jsafrane

[2017-10-31 15:33] ConnorDoyle commented on #54804
I can help review #54865.

For the second part, it might be related to [this TODO](https://github.com/kubernetes/kubernetes/blob/c2a18cca6b79d4f3764d50f2c418b965e32864a2/pkg/kubelet/cm/cpumanager/cpu_manager.go#L272) we left for ourselves in the CPU manager code. We should fetch the current resource config and only update the `CpusetCpus` field.

[2017-10-31 15:34] ConnorDoyle commented on #54804
@nqn volunteered to look into the second half of this.

[2017-10-31 15:36] bgrant0607 commented on #43405
Ref #3949

[2017-10-31 15:43] huzhengchuan commented on #54850
https://kubernetes.io/docs/concepts/containers/images/#using-a-private-registry
I think this can help you!

[2017-10-31 15:49] spiffxp commented on #54524
/priority important-soon
ci-kubernetes-e2e-gci-gke-alpha-features is the only remaining failing job, which is not on release-master-blocking

Seems like https://github.com/kubernetes/test-infra/pull/5095 didn't catch this job and a followup PR would be appropriate

/assign @danehans @MrHohn
since they took care of this failure for the gce job

[2017-10-31 15:51] spiffxp commented on #54571
/remove-priority critical-urgent
/priority important-soon
ci-kubernetes-e2e-gci-gke-alpha-features is the only remaining failing job, which is not on release-master-blocking

Seems like kubernetes/test-infra#5095 didn't catch this job and a followup PR would be appropriate

/assign @danehans @MrHohn
since they took care of this failure for the gce job

[2017-10-31 15:56] phsiao commented on #54804
Great.

Regarding the second half, the best I can find so far indicates that the error is the result of attempting to modifying devices.allow when the cgroup already has children.  I will dig more also just to confirm.

`rpc error: code = Unknown desc = failed to write a *:* rwm to devices.allow: write /sys/fs/cgroup/devices/kubepods/burstable/pod74095402-a88b-11e7-9aea-90b11c4094cf/f0f24b4647d8a9

[2017-10-31 15:56] spiffxp commented on #54637
/status approved-for-milestone

[2017-10-31 16:04] spiffxp commented on #54574
PR's continue to await review

[2017-10-31 16:12] #53032 closed

[2017-10-31 16:19] andrestc commented on #53373
I'm also experiencing this issue but with a fresh kubernetes 1.8.x install.

kubelet logs:
[code]

[2017-10-31 16:29] danehans commented on #54651
@squeed sig-network is planning to add ipv6 alpha support for the 1.9 release.

[2017-10-31 16:35] phsiao commented on #54804
Here is what I found:

[code]

https://www.kernel.org/doc/Documentation/cgroup-v1/devices.txt

[2017-10-31 16:45] masroorhasan commented on #54332
@mbohlool found the c# client while looking through all the k8s clients in that repo. I ended up installing the pre-release package from nuget and unfortunately as I tried to integrate it with my .NET 4.6.1 project I ran into a bunch of issues while using it, see: [11100](https://github.com/dotnet/corefx/issues/11100) and [7522](https://github.com/dotnet/corefx/issues/17522).

I ended up creating

[2017-10-31 16:51] spzala commented on #40540
@bpulito hi, just trying to help out and see if we can close this issue, I tried running this example and it worked well for me - using existing GCR image as provided in pod.json or using my own image using the instructions provided in the readme. I could create pod and also access it. The only difference is I didn't push to GCR but to my own docker hub (as the instruction also says that you can u

[2017-10-31 16:58] edovale commented on #42885
I am running 1.8.2 in both, cli and server and still do not see ingresses returning when calling kubectl get all

[2017-10-31 17:05] alexef commented on #11883
@justinsb @mrIncompetent `--hostname-override` has no effect when cloud-provider=aws

This is also a problem from us.

[2017-10-31 17:46] cblecker commented on #54832
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-10-31 17:46] #54832 closed

[2017-10-31 17:47] ritsok opened #54870 "Job backoffLimit does not cap pod restarts when restartPolicy: OnFailure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When creating a job with `backoffLimit: 2` and `restartPolicy: OnFailure`, the pod with the configuration included below continued to restart and was never marked as failed:

[code]

[code]

**What you expected to happen**:

We expected only 2 attempted pod restarts before the job was marked as failed. The pod kept resta

[2017-10-31 17:59] ritsok commented on #54870
@kubernetes/sig-api-machinery-bugs

[2017-10-31 18:00] cblecker opened #54873 "Flaky pre-submit: pull-kubernetes-unit - test-cmd.run_recursive_resources_tests"
Test Grid: https://k8s-testgrid.appspot.com/presubmits-kubernetes#pull-kubernetes-unit&include-filter-by-regex=run_recursive_resources_tests
Last good: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50627/pull-kubernetes-unit/61621/
First bad: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit/61622/
Suspected commit range:

[2017-10-31 18:02] cblecker commented on #54873
/priority failing-test
@smarterclayton commented on this issue here: https://github.com/kubernetes/kubernetes/pull/54533#issuecomment-340653151:

[2017-10-31 18:03] kksriram commented on #51965
A few of us in our team are discussing an initial strawman proposal. I hope to bring it to sig-auth tomorrow. I would have loved to get it out today for reviewers to read, but it might be tonight Pacific time before we can get anything meaningful together.

[2017-10-31 18:03] nikhita commented on #54815
/cc @mbohlool

[2017-10-31 18:56] cmluciano commented on #54836
Do you have a request for anything beyond examples like https://kubernetes.io/docs/tasks/administer-cluster/calico-network-policy/ or https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network ?

I think many CNI plugin maintainers are already distributing their software in containers.

[2017-10-31 18:56] cmluciano commented on #54836
/assign

[2017-10-31 18:56] yianL opened #54878 "Inconsistent watch behavior with resourceVersion specified"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm working on a tool that reports deployment statuses to an external source, which utilizes the deployment watch api. However, I've seen some unexpected behavior with the watch api, and I couldn't find proper documentation for it:

- Scenario I: when you start a watch call with a resourceVersion that is too old, you wil

[2017-10-31 18:59] yianL commented on #54878
/sig api-machinery

[2017-10-31 19:00] liggitt commented on #54716
I've never seen a timeout... I've seen persistent `409 Conflict` errors returned when the watch cache was persistently stale[1] (fixed in 1.6.11, 1.7.7, 1.8.0) because etcd missed delivering watch events after a member rejoined[2] (fixed in etcd 3.2.6+[3])

[1] https://github.com/kubernetes/kubernetes/pull/43152#issuecomment-329583303
[2] https://github.com/kubernetes/kubernetes/pull/43152#issueco

[2017-10-31 19:03] destijl commented on #51965
@kksriram that's great! I want to check expectations though: if your intention is to get the API reviewed and implemented for 1.9 and the vault integration rewritten to use it, I think that's unlikely given we're already past feature freeze and code freeze is coming up quickly.

[2017-10-31 19:57] rdsubhas commented on #25321
@kow3ns

You have just reinforced change management. Someone starts with 3 servers, sets maxUnavailable to 1 as you said, then goes up to 5 or more servers, sets it to 2, then at some point gets fed up of deleting and changing, sets it to 33%, then scale up more, then increase the quorum, set it to 20%, and so on. Even with the limited example you provided, change management is already clearly the

[2017-10-31 20:03] cmluciano commented on #53800
bump @kubernetes/sig-instrumentation-bugs

this also affects some sig-net tests https://k8s-testgrid.appspot.com/sig-network#gci-gce-ip-alias

[2017-10-31 20:11] crassirostris commented on #53800
That's a different issue, google cloud project is misconfigured

/cc @fejta @krzyzacy

[2017-10-31 20:11] cmluciano commented on #9552
/close

fix in https://github.com/kubernetes/kubernetes/pull/9509

[2017-10-31 20:11] #9552 closed

[2017-10-31 20:12] cmluciano commented on #9125
@kubernetes/sig-network-feature-requests do we think this is still relevant?

I think we might still be missing some conntrack references.

[2017-10-31 20:13] cmluciano commented on #20567
/close

issue feels stale at this point

[2017-10-31 20:13] #20567 closed

[2017-10-31 20:14] cmluciano commented on #46083
/unassign

/assign @m1093782566

[2017-10-31 20:15] cmluciano commented on #48240
/close

issue stale

[2017-10-31 20:15] #48240 closed

[2017-10-31 20:16] mbohlool commented on #54815
I am aware of this. As far as I remember, swagger-codegen still uses these description fields and we found it useful to include them. I just remember these were warnings at the time not errors. I maybe wrong, but I would say this works as expected unless you have a reason to see this a problem for any tool consuming OpenAPI spec.

[2017-10-31 20:17] cmluciano commented on #53906
fixed by https://github.com/kubernetes/kubernetes/pull/54109

[2017-10-31 20:17] #53906 closed

[2017-10-31 20:18] phsiao commented on #52818
Also failed unit test run due to TestDevicePluginReRegistration:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54865/pull-kubernetes-unit/61857/

[2017-10-31 20:19] cmluciano commented on #51344
/close

I think we have done a pretty good job at reducing these, closing for now

[2017-10-31 20:19] #51344 closed

[2017-10-31 20:20] krzyzacy commented on #53800
@cmluciano why a sig-network test need to run stackdriver test?

[2017-10-31 20:22] #54775 closed

[2017-10-31 20:22] crassirostris commented on #53800
@krzyzacy These are basic tests which guarantee that no feature breaks logging, so it's OK

[2017-10-31 20:23] cmluciano commented on #53800
thanks @crassirostris

[2017-10-31 20:24] krzyzacy commented on #53800
ah, it's running under it's own peoject `k8s-jenkins-gce-gci-ip-aliases` rather than fetching from the pool, I'll find owner of the project as I don't have permission to configure it

[2017-10-31 20:24] cmluciano commented on #53800
Good question, I'm not 100% sure so I'll defer to @crassirostris 's answer.

I'm just trying to deflake sig-net's dashboard :P

[2017-10-31 20:28] krzyzacy commented on #53800
/assign

[2017-10-31 20:28] krzyzacy commented on #53800
@crassirostris btw I'm not sure why it fails in the gke job

[2017-10-31 20:33] ericchiang commented on #53077
The insecure port has known gaps in functionality, and is being considered for deprecation.

@deads2k's suggested the following https://github.com/kubernetes/kubernetes/pull/54879#issuecomment-340896950

Going to close this issue.

[2017-10-31 20:33] #53077 closed

[2017-10-31 20:36] krzyzacy commented on #53800
Added the required roles, waiting for result from next run

[2017-10-31 20:36] freehan opened #54885 "Service Nodeport and Healthcheck Nodeport Collision"
I came across a cluster where it has 2 services with port collision.

One service looks like this:
[code]

The other looks like:
[code]

I checked the logic that allocates nodeport and healthcheck nodeport. They went thru the same node port allocator. Port allocation mainly happens in `initNodePorts`, `updateNodePorts` and `allocateHealthCheckNodePort`. The file in question is https://github.com/k

[2017-10-31 20:37] freehan commented on #54885
cc @kubernetes/sig-network-bugs

[2017-10-31 20:38] crassirostris commented on #53800
@krzyzacy As I've mentioned, the original issue is unrelated

[2017-10-31 20:38] crassirostris commented on #53800
@krzyzacy Thanks!

[2017-10-31 20:46] baldwinSPC commented on #41444
yes, the code @ITPROMatthew references is the go forward code and where we're contributing and working. FlexVolume work can be found here: https://github.com/StackPointCloud/digitalocean-flex-volumes

[2017-10-31 20:51] ihmccreery commented on #54736
This is definitely metadata proxy related.

Are you still seeing this?  I introduced a bug in https://github.com/kubernetes/kubernetes/pull/54150 that I fixed in https://github.com/kubernetes/kubernetes/pull/54725.

[2017-10-31 20:52] crassirostris commented on #54736
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1078

Same issue today. Again on master

[2017-10-31 20:53] derekwaynecarr commented on #53672
@tianshapjq -- thanks for the feedback, i have been distracted looking at other topics, but hope to return to this later this week.

[2017-10-31 20:54] ihmccreery commented on #54736
Okay.  My guess is that the metadata proxy isn't getting scheduled on the master for some reason.  Looking ...

[2017-10-31 20:57] sjevs commented on #54645
@shiywang @mengqiy I just cherry-picked

[2017-10-31 21:11] ericchiang commented on #54665
Here's my initial list. Will try to find a home in github.com/kubernetes/website when I get a chance.

| flag | kind | from | to | notes |
|---|---|---|---|---|
| `--client-ca-file` | CA | (clients)  | API server | Clients can still use other creds (e.g. bearer token) instead of client cert. |
| `--etcd-cafile` | CA | API server | etcd | |
| `--etcd-certfile` | client cert | API server | etcd | |

[2017-10-31 21:15] ihmccreery commented on #54736
Hm.  The master's [kubelet log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1078/artifacts/bootstrap-e2e-master/kubelet.log) shows that it's got the right node label and that a proxy is being scheduled:

[code]

[2017-10-31 21:27] mmisztal1980 commented on #41444
Thanks guys

[2017-10-31 21:50] xqianwang commented on #41359
@ahmmadkour Hi , I still have the same issue even I created an app in azure.

[2017-10-31 22:02] WilliamDenniss commented on #54821
+1 for "e2e test" version. A lot of people think `kubectl` when they hear "client".

[2017-10-31 22:21] kfox1111 commented on #32266
ping

[2017-10-31 22:49] mengqiy commented on #54873
I'm looking into this now.

[2017-10-31 22:58] ihmccreery commented on #54736
Okay, I'm seeing the same thing on a newly-created HEAD cluster.  Metadata-proxy is running and serving requests ... my next guess is that the iptables rules are messed up.

[2017-10-31 23:08] ceridwen commented on #54815
I believe that swagger-codegen is more liberal with what it will generate code from than from what it considers to be valid OpenAPI.   The problem with this is that other tools are stricter about their interpretations.  I'm using a Python library that only operates on valid OpenAPI JSON to look at the spec, and like swagger-codegen in validate mode, it will throw an unhandled exception when I run

[2017-10-31 23:30] enisoc commented on #54810
@liggitt Do you know if they plan to cherrypick the dashboard version bump to 1.8.x?

If not, we should print some link at the end of kube-up.sh to a page that explains, "There's no secure way to run dashboard versions <1.7.x. If you want to enable it at your own risk, do this."

[2017-10-31 23:47] ihmccreery commented on #54736
The iptables rules are fine:

[code]

[2017-10-31 23:49] ahmetb opened #54891 "kubectl explain: Ignore trailing period"
As a frequent user of `kubectl explain` I propose we ignore the trailing period (`.`) character in the argument passed to this command:

* As long as argument is non-empty when trailing period is removed, I think it's safe
* You use `kubectl explain` by keep adding fields (e.g. `service`, then `service.spec`,  then `service.spec.ports` ...) so it's very easy to forget a trailing `.` at the end.
*

[2017-10-31 23:49] ahmetb commented on #54891
/kind friction

[2017-11-01 00:52] janetkuo commented on #54575
Since `panic` crashes apiserver and makes debugging harder which defeats the purpose of using it, we should return error on unsupported versions  instead.

[2017-11-01 01:03] garyyang85 opened #54897 "node not ready between whiles when under heavy load"
I have a kubernetes cluster with 160 node, 3 master behind load balanceer.  Just run the performance test to set up 30 pod on each node, during this test, many node became node ready between whiles and then recovered soon.  Check the logs of kubelet, it reports:
**the server has received too many requests and has asked us to try again later**

I wonder if this a right behavor? Our product environm

[2017-11-01 01:10] tristanpemble opened #54898 "kube-apiserver crashes when patching a NodePort service with two ports"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Re-applying a NodePort service that has two ports fails and crashes the API server:

[code]

**What you expected to happen**:

Do not crash, service is configured correctly.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernet

[2017-11-01 01:33] samlyhuang commented on #54850
Thank you everyone,I have solved this problem. I use kubectl to create myregistrykey ,then pull images is successful.

[2017-11-01 01:39] itowlson opened #54899 "Azure: clusters with many services run out of NSG rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: When I expose a service of type LoadBalancer, the Azure cloud provider creates an inbound security rule in the network security group (NSG) associated with the subnet.  However, an Azure NSG has a limit of 200 inbound security rules.  A large cluster that exposes many services can exhaust this limit.

**What you expected t

[2017-11-01 01:51] elaron commented on #32266
Ping! Is there any progress here?

[2017-11-01 02:10] lichuqiang commented on #54898
Seems that in func **updateNodePorts**, it ignored nodeport protocol when Detecting duplicate nodeport, I would have a fix on it :)

[2017-11-01 02:22] YaweiWu commented on #53566
+1

- Kubernetes version:

[code]

- OS:

`CentOS Linux release 7.4.1708 (Core)`

[2017-11-01 02:27] liggitt commented on #54665
There are logical groupings of config, which is extremely difficult to see as flags sorted by name with no other structure. Structured apiserver config would make a lot of these clearer.

## TLS traffic to API server (serving certificates)
--tls-cert-file, --tls-private-key-file, --tls-sni-cert-key

## API server communication with other components:

### apiserver -> etcd
--etcd-cafile, --etcd-cer

[2017-11-01 02:29] arthur0 commented on #53566
Same for me, using a hybrid environment (OpenStack + GKE). The only way to delete deployments is creating them in another namespace different than the default and delete the namespace itself.

[2017-11-01 02:36] zjj2wry commented on #54851
@hchenxa when use `label selector`, will return `KIND:List` Object. so cause you can not get pod image.

you can use` kubectl get pods -l run=nginx-roll --namespace=ivt -o yaml`, then rewirite your `jsonpath` template.

[2017-11-01 03:08] feiskyer commented on #48900
@githubvick I think the latency is expected, before the service is available, kubernetes needs to do a few things:

- kubelet pull mongodb image and create the container ( the time depends on image pulling and start container)
- service/endpoints controller discover the pod's IP
- kube-proxy configure actuall rules for the service ( it could be slow if there are many services in cluster)

So the s

[2017-11-01 03:09] yanxuean opened #54903 "improve the relation of ExecInContainer and Exec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:
keep the relation between ExecInContainer and Exec be consistence with PortForward in streaming server
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware c

[2017-11-01 03:09] feiskyer commented on #48705
Fixed in #54839, will be included in next 1.6 release.

[2017-11-01 03:09] #48705 closed

[2017-11-01 03:10] #34457 closed

[2017-11-01 03:10] #50720 closed

[2017-11-01 03:13] cblecker commented on #54903
/sig node

[2017-11-01 03:14] cblecker commented on #54897
/sig node

[2017-11-01 03:14] cblecker commented on #54898
/sig network

[2017-11-01 03:22] spiffxp opened #54904 "[e2e flake] [sig-apps] Job should run a job to completion when tasks sometimes fail and are not locally restarted"
/priority failing-test
/priority important-soon
/sig apps
/kind flake
@kubernetes/sig-apps-test-failures

I remember mentioning this test case during the last sig-testing update at our community meeting, and see it's still [the top flake for a number of PR jobs](http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1).  It also flakes across many of our postsubmit jobs: [triage report](https

[2017-11-01 03:32] spiffxp opened #54905 "[job failure] ci-kubernetes-e2e-kubeadm-gce"
/priority critical-urgent
/sig cluster-lifecycle

This job is on the release-master-blocking dashboard, and prevents us from cutting 1.9.0-alpha.2 (kubernetes/sig-release#22). Is there work ongoing to bring this job back to green?

https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce

It looks like the issue is log collection.  Probably the same issue that's affecting the presu

[2017-11-01 03:34] xiangpengzhao commented on #54898
@lichuqiang  FYI: I think this would be fixed in https://github.com/kubernetes/kubernetes/pull/49258

[2017-11-01 03:34] spiffxp commented on #54637
/status approved-for-milestone

[2017-11-01 03:35] xiangpengzhao commented on #54898
/cc @freehan Maybe this is the time to have another review on #49258 and merge it :)

[2017-11-01 03:37] xiangpengzhao commented on #54898
/assign

[2017-11-01 03:39] lichuqiang commented on #54898
@xiangpengzhao Fine, That makes sense

[2017-11-01 03:40] xiangpengzhao commented on #54885
/cc

[2017-11-01 03:42] xiangpengzhao commented on #54878
/cc @caesarxuchao

[2017-11-01 03:42] spiffxp commented on #54905
/priority failing-test
@kubernetes/sig-cluster-lifecycle-test-failures
even though it's not a "test" that's failing, the job as a whole is still failing

[2017-11-01 04:35] scheng1 commented on #50345
@scheng1

[2017-11-01 04:37] xiangpengzhao commented on #54885
@freehan I'm not clear on your context. Which case were you facing?
- config and create the two services as you mentioned manifests, then get errors due to the collided ports?
- create the two services without specifying the two ports, then get the services and find they have collided ports?

Also, what is the expected behavior you were thinking of?
-

[2017-11-01 04:39] anguslees commented on #54836
Yep, but these are "installer" containers, that copy binaries onto the host filesystem - because kubelet currently just uses naive `exec()` and needs host filesystem executables.  I'm suggesting we modify kubelet to run plugins as containers directly and avoid this need to go via the host filesystem at all.

[2017-11-01 04:44] #54903 closed

[2017-11-01 05:20] pycaster opened #54907 "Failed to find device for the volumeID. Error: could not find attached Cinder disk."
@k8s-sig-openstack-bugs

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

In an attempt to mount a volume to pod which is dynamically provisioned by kubernetes with cinder plugin, I am seeing,

[code]

**What you expected to happen**:

I expect the volume to be successfully mounted onto pod.

**How to reproduce it (as minimally and precisely as possible)**:

Here is the yaml to r

[2017-11-01 05:52] hchenxa commented on #54851
Thanks @zjj2wry , now worked with `kubectl get pods -n ivt -lrun=nginx -o jsonpath='{.items[0].spec.containers[0].image}'`

[2017-11-01 05:52] #54851 closed

[2017-11-01 06:13] YuxiJin-tobeyjin commented on #31424
+1

[2017-11-01 06:19] feiskyer commented on #44705
@renerchen Could you remove "--hostname-override" from kubelet config and try again? Override hostname may cause problems on some cases.

[2017-11-01 06:21] kumarganesh2814 opened #54910 "kube-dns crashloopbackoff after flannel/weave install"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
$ sudo kubeadm reset
$ sudo systemctl restart kubelet.service
$ sudo kubeadm init --pod-network-cidr=10.244.0.0/16
$ kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
$ kubectl get pod --all-namespaces
kube-system   kube-dns-545bc4bfd4-jp5kf

[2017-11-01 06:23] weiwei04 commented on #52121
Came into the same problem, checked the code, seems we use `reflector` + `reflector_name` + `auto incrementing` as metric names, for must of reflector, the use a default name provided by [getDefaultReflectorName](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/reflector.go#L134) which is go filename.

I think the proper way is use `reflector_last_resou

[2017-11-01 06:37] feiskyer commented on #41850
I also met a similiar problem but it's not totally same with this one. When I configured a wrong node name, kubelet can't get an external ID from azure, so it refuses to start.

@colemickens Could you also provide related kubelet logs?

[2017-11-01 06:48] wackxu opened #54911 "populate priorityclassname in priority admission controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

**What you expected to happen**:

As https://github.com/kubernetes/kubernetes/pull/54625 say,

we print `priority` and `priorityclassname` when describe pod, but now the priority admission controller only populate priority for pod, so the priorityclassname may be empty and it is strange for user.so we should also popula

[2017-11-01 06:57] shiywang commented on #54873
I also met this flake yesterday, and I rebased my pr, seems it pass https://github.com/kubernetes/kubernetes/pull/54202

[2017-11-01 06:58] k82cn commented on #54911
/sig scheduling

[2017-11-01 07:15] tanhui2333 commented on #50522
I have same problem
that is output:
Events:
  FirstSeen	LastSeen	Count	From				SubObjectPath	Type		Reason			Message
  ---------	--------	-----	----				-------------	--------	------			-------
  41m		8m		133	persistentvolume-controller		Warning		ProvisioningFailed	Failed to provision volume with StorageClass "ceph-rbd": failed to create rbd image: executable file not found in $PATH, command output:

[2017-11-01 07:20] KeithTt opened #54914 "missing cgroups: memory"
docker version: 1.12
kube version: 1.8.2

when I run `kubeadm init --pod-network-cidr=192.168.0.0/16 --kubernetes-version=v1.8.2`, it reports:

[code]

the docker info:

[code]

[2017-11-01 07:27] KeithTt commented on #54914
@kubernetes/sig-Kubeadm Adoption-test-failures

/sig 1.8.2-test

[2017-11-01 07:50] feiskyer commented on #54899
@itowlson Seems the NSG quota could only be increased by creating [request support](https://docs.microsoft.com/en-us/azure/azure-supportability/resource-manager-core-quotas-request) at azure portal. Is there any way to automate this via API?

[2017-11-01 07:53] feiskyer commented on #54850
cool. Closing the issue since it's been resolved.

@samlyhuang feel free to reopen it if you still have problems.

[2017-11-01 07:53] #54850 closed

[2017-11-01 07:59] samlyhuang commented on #54850
ok

[2017-11-01 08:01] zatricky commented on #52326
@liggitt: From a programmatic point of view, true. This is unusual. You can just make two (or more) separate queries. However, from an ops pov, it makes sense that this is something that should "just work".

I was disappointed to realise it wouldn't work as-is. :-/

[2017-11-01 08:02] BezVezeE commented on #33483
@bviolier the gce node is on us-central1-f and the kubernetes cluster is on  us-central1-a ...
they are in the same region and also they are on the same project.

here is the yaml file of the loadbalancer

`apiVersion: v1
kind: Service
metadata:
  annotations:
    cloud.google.com/load-balancer-type: Internal
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"

[2017-11-01 08:11] KeithTt commented on #54914
resolved by enable cgroup memery subsystem in debian, it is disabled defaultly in debian.

[code]

[2017-11-01 08:12] #54914 closed

[2017-11-01 08:15] #49979 closed

[2017-11-01 08:15] #50064 closed

[2017-11-01 08:15] #50065 closed

[2017-11-01 08:19] m1093782566 opened #54916 "gce-ipvs CI job failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There are some failures in ubuntu-gce-ipvs CI job. See, http://k8s-testgrid.appspot.com/google-gce#ubuntu-gce-ipvs

**What you expected to happen**:

We want to see CI job green!!

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

@Lion-Wei @stewart-yu in my team will

[2017-11-01 08:19] m1093782566 commented on #54916
/assign

[2017-11-01 08:27] tianshapjq opened #54917 "[feature] for GPU and hugepages, default must match defaultRequest in LimitRange if both are specified"
**Is this a BUG REPORT or FEATURE REQUEST?**:
feature request

**What happened**:
As far, GPU and hugepages are particular resources which reqiure limits must equal to requests.
But this rule may be broken when creating LimitRange, LimitRange with different values in default and defaultRequest can be created successfully, which would cause error in creating pods afterwards.
We should not leave thi

[2017-11-01 08:27] feiskyer commented on #54707
@joeyea323 Are you using Default dnsPolicy?  upstreamNameservers only works with ClusterFirst dnsPolicy.

[2017-11-01 08:27] tianshapjq commented on #54917
/sig node

[2017-11-01 08:33] KeithTt opened #54918 "Unable to update cni config: No networks found in /etc/cni/net.d"
OS version: debian jessie
docker version: 1.12.6
kube version: 1.8.2

when I run `kubeadm init`, the rsyslog reports:

[code]

and the progress hangs:

[code]

[code]

I installed kubernetes-cni by deb package:

[code]

[2017-11-01 08:36] KeithTt commented on #54918
/kind bug

[2017-11-01 08:39] gogeof opened #54922 "calico plugin kube-dns can't access api-server"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

[code]

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.8.2
- Cloud provider or hardware configuration:none
- OS (e.g. from /etc/os-release):ubuntu 16.04
- Ker

[2017-11-01 08:40] tianshapjq commented on #54917
@derekwaynecarr @vishh I have committed PR fixing this issue, please check when you are free :)

[2017-11-01 08:41] weiwei04 commented on #52121
opened a pr to fix this, ptal @smarterclayton @lavalamp thanks :)

[2017-11-01 08:45] tianshapjq commented on #53672
@derekwaynecarr I have filed an issue related to hugepages, would you please check when you are free? link: #54917

[2017-11-01 08:52] chenchun commented on #54203
@m1093782566 I think you have a few mistakes in your ipset example

[code]
MASQUERADE is only valid in POSTROUTING chain.

[2017-11-01 08:53] andyxning opened #54923 "Support disk io requests and limits"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Kubernetes should support disk io requests and limits.

/cc @kubernetes/sig-node-feature-requests

[2017-11-01 08:57] davidopp commented on #54923
This is already in progress

https://github.com/kubernetes/features/issues/361
https://github.com/kubernetes/features/issues/362
https://github.com/kubernetes/features/issues/363

[2017-11-01 08:58] samlyhuang opened #54924 "get error '404 page not found' when using traefik"
docker version:17.09.0
system version: CentOS Linux release 7.2.1511 (Core)
kubernetes version : 1.6.2
traefik version: v1.4.1

when I using traefik to loadblance and run command 'wget test.traefik.io' ,get the error '404 page not found'.
where is my problem?

**Below is my config:**

[code]

[code]

[code]

[code]

[2017-11-01 09:05] jiaqianjing commented on #48252
@spzala thx, you can close this issue.

[2017-11-01 09:14] cpanato opened #54925 "Conformance tests: should provide Internet connection for containers - ping is blocked in Azure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The test checks the internet connectivity using ping, and in one of our case, when using Azure as cloud provider it block the ping by default and we are not enabling that because there is no need for that.
line of the test: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/networking.go#L52

Maybe this

[2017-11-01 09:15] m1093782566 commented on #54203
oops.. My mistake.

My full example is,

1. create a KUBE-MARK-MASQ chain in nat table,

[code]

2. jump to MASQUERADE when mark match 0x4000/0x4000

[code]

3. jump to KUBE-MARK-MASQ for any matched ipset,

[code]

Does it work for you :)

BTW, I already sent a PR about using ipset in ipvs proxy mode, xref: https://github.com/kubernetes/kubernetes/pull/54219

Any comments are welcome.

[2017-11-01 09:18] cpanato commented on #54925
@kubernetes/sig-testing

[2017-11-01 09:35] fisherxu opened #54927 "Set kubelet start parameters node-ip/enable-controller-attach-detach/cloudprovider lead to panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
When I set kubelet start parameters like --node-ip=‘Host-ip‘ and --enable-controller-attach-detach=false and cloudprovider=‘Cloud’，then kubelet will observed a panic like:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**En

[2017-11-01 09:44] bainim opened #54929 "How to install and configure kubernetes using Ubuntu 14.04"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:

**What you expected to happen**:
I'm expecting to have a master and two slaves(nodes)
**How to reproduce it (as minimally and precisely as possible)**:
I can't found how to get this scénario beacause all what i found is about ubuntu 16.04 and i think that there is a huge difference between the two ubuntu version.
Is

[2017-11-01 09:44] dstockton commented on #32987
Still an issue in 1.7.2

[2017-11-01 09:45] tesi-nahid commented on #54633
Thank you @mattjmcnaughton.
I have some  problem with
1-enabling aggregation layer
2- adding  autoscaling/ v2beta1  to apiserver

[2017-11-01 09:57] sttts commented on #53524
Usually into the community repo or even just as google doc. I would not commit it into k/code-generator.

[2017-11-01 10:00] #54575 closed

[2017-11-01 10:01] dims commented on #54905
@spiffxp yep https://github.com/kubernetes/kubernetes/pull/54813 should fix it

[2017-11-01 10:13] fasaxc commented on #54203
@m1093782566 There's a small bug in your iptables rule there; to match a `hash:ip,port` rule, I think you need:
[code]
You may also need `-p tcp`, but maybe that's taken care of by the protocol in the ipset itself.

[2017-11-01 10:25] sambott commented on #28241
I've started looking at this, at the moment I've added an optional list of additional ECR registryIds (AWS account numbers) to the cloud config. This way when it builds up the keychain it can add additional credential providers at this stage.

The nicer way, as @therc mentioned would be to change the DockerConfigProvider interface to use LazyProvide(url string) to allow the repo url to be passed t

[2017-11-01 10:47] #54032 closed

[2017-11-01 10:48] hanikesn commented on #51150
This just caused another outage of our production cluster. Not being able to limit the number of non-running pods is the number one reason our clusters became unavailable.

[2017-11-01 11:03] kargakis opened #54932 "kubectl rollout history should show me the images that each revision run"
@kubernetes/sig-cli-feature-requests @kubernetes/sig-apps-feature-requests

[2017-11-01 11:11] vbmade2000 commented on #54929
@bainim Have you checked `http://stuartingram.com/2016/08/31/installing-kubernetes-on-ubuntu-14-04/` ?

[2017-11-01 11:28] jsravn commented on #53736
@m1093782566 Did you cherry pick it? :) I'm itching to try some ipvs goodness. Or do you think we should wait for 1.9?

[2017-11-01 11:34] dims commented on #54927
/sig node

[2017-11-01 11:35] dims commented on #54925
already fixed : https://github.com/kubernetes/kubernetes/pull/53381

[2017-11-01 11:36] dims commented on #54925
/close

[2017-11-01 11:36] #54925 closed

[2017-11-01 11:36] dims commented on #54910
/sig network

[2017-11-01 11:37] m1093782566 commented on #54203
@fasaxc

Sorry, I am not sure I understand the bug...

What's the difference between

[code]

and

[code]
?

[2017-11-01 11:37] dims commented on #54918
/sig network

[2017-11-01 11:37] dims commented on #54924
/sig network

[2017-11-01 11:38] #54668 closed

[2017-11-01 11:38] m1093782566 commented on #53736
I would suggest wait for 1.9. There are some known bugs in 1.8 and should be fixed in 1.9.

[2017-11-01 11:39] dims commented on #54929
Thanks for your interest in Kubernetes. Please use StackOverflow or the kubernetes-users mailing lists for these kinds of questions. (You will get many more people reading them there than filing an issue.)

https://stackoverflow.com/questions/tagged/kubernetes
https://groups.google.com/forum/#!forum/kubernetes-users

/close

[2017-11-01 11:39] #54929 closed

[2017-11-01 11:39] dims commented on #54907
/sig openstack

[2017-11-01 12:58] gogeof commented on #54922
@kubernetes/sig-network

[2017-11-01 13:01] bainim commented on #54929
Thank you for your response @vbmade2000  but in this example there is no nodes , i think that just about master !

[2017-11-01 13:05] spzala commented on #48252
Thanks @jiaqianjing ! @grodrigues3 can you please close the issue since I do not have privilege to close? Thanks!

[2017-11-01 13:20] piaoyu commented on #30656
+1

[2017-11-01 13:24] cmluciano commented on #54836
cc @kubernetes/sig-network-feature-requests @kubernetes/sig-node-feature-requests

cc some CNI devs:
@squeed
@caseydavenport
@bboreham
@dcbw

[2017-11-01 13:38] nikhita commented on #54891
Created https://github.com/kubernetes/kubernetes/pull/54938.

[2017-11-01 13:43] mattjmcnaughton commented on #54633
Cool - do you mind describing more about the problems that you're facing? I.e. posting error messages/stack traces/etc? Thanks!

[2017-11-01 13:49] squeed commented on #54836
This is a fine idea. Some interesting issues:

1. The "installer" sidecars copy both the binaries and the CNI configuration file. So there would still need to be an installer until we clean up how the kubelet picks which CNI configuration to use.
2. The plugins need access to `/var/run/netns`, which will need to be a recursive bind mount.
3. CNI plugins tend to "delegate" to other plugins. This in

[2017-11-01 13:58] ironcladlou opened #54940 "Namespaced dependent of cluster scoped resource is sometimes erroneously garbage collected"
If a namespaced resource is owned by a cluster scoped resource, and the namespaced dependent is processed **before** the cluster scoped owner has ever been observed by the garbage collector, the dependent will be erroneously deleted. The cause is a race condition in the GC's [virtual node handling](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/graph_builder.g

[2017-11-01 14:11] tesi-nahid commented on #54633
thank you for your reply,the scenario that i am working is I have one cluster with 2 nodes,one amd64  and one raspberry pi ,hpa autoscalling for cpu-percent is working,but I  do not know how to do autoscalling for Qps(query per second)
 could you please tell me how can I do these configurations?
1- how can I enable aggregation layer?or where should I put this flag "--enable-aggregator-routing=true

[2017-11-01 14:11] mattiasberge opened #54941 "failed to create rbd image: fork/exec /usr/bin/rbd: invalid argument, command output:"
/kind bug
/sig storage

## **What happened**:
**logs of controller-manager**
W1101 14:05:30.134407       7 rbd_util.go:364] failed to create rbd image, output
W1101 14:05:30.134459       7 rbd_util.go:364] failed to create rbd image, output
W1101 14:05:30.134507       7 rbd_util.go:364] failed to create rbd image, output
E1101 14:05:30.134529       7 rbd.go:323] rbd: create volume failed, err: fai

[2017-11-01 14:36] #48900 closed

[2017-11-01 15:00] satyamsah opened #54944 "not able to create a pods out of the replication controller"
I followed  kubenetes deployment from

https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

http-rc .yml is replicaiton controller file:

[code]
and started as : kubectl create -f rc.yml

output is :
`replicationcontroller "http-rc" created`

But even after few minutes , I am getting no preogres:

NAME DESIRED CURRENT READY AGE
http-rc       7               0         0

[2017-11-01 15:04] polasekr commented on #54753
I hate to bump it up, but this is a critical issue for me which I need to resolve quickly or at least to get understanding which allows me creating a usable workaround.
Since there was no more comments from stewart-yu I don't know whether it is my wrong understanding of the scheduler's message or it is a bug as I suggested.

[2017-11-01 15:08] phsiao commented on #54944
`kubectl describe replicationcontroller http-rc`

may show you why it is not making progress.

[2017-11-01 15:13] #48727 closed

[2017-11-01 15:19] rpothier commented on #49480
xref https://github.com/kubernetes/kubernetes/issues/52179

[2017-11-01 15:23] satyamsah commented on #54944
Name:		http-rc
Namespace:	default
Image(s):	httpd
Selector:	app=hello-world
Labels:		app=hello-world
Replicas:	7 current / 7 desired
Pods Status:	0 Running / 7 Waiting / 0 Succeeded / 0 Failed
No volumes.
No events.

This is what I am getting

[2017-11-01 15:24] multi-io commented on #27796
Hi. I’m trying to sign up to the CNCF CLA to be able to submit code, and I’m failing to do so. This is the PR where the corresponding check fails:

https://github.com/kubernetes-incubator/external-dns/pull/376

The commits were made using my corporate mail address. I signed up at LinuxFoundation using my private Github account and associated private mail address (not the same as the corporate mail

[2017-11-01 15:29] phsiao commented on #54944
Then you can figure out why they are waiting via `describe pod <pod name>` or `get event`.

[2017-11-01 15:37] airstand commented on #54753
I also have the same issue.

[2017-11-01 15:49] cmluciano commented on #54922
cc @caseydavenport

[2017-11-01 15:57] screeley44 commented on #45726
I'm experiencing same issue on latest dirty build version 1.9.Alpha...have there been any workarounds or ideas about this yet?

[2017-11-01 16:04] #52834 closed

[2017-11-01 16:20] Markbnj commented on #40908
@kachkaev I think maybe you could set up an exec probe on the database container that just runs the query that breaks when the db fails. There's a lot of flexibility on exec probes and you could pretty easily test the results of the query, or do whatever else needed to check the health of the db container.

[2017-11-01 16:31] satyamsah commented on #54944
[code]
The issue in below is similar  except the registry :
https://github.com/kubernetes/kubernetes/issues/7090
https://github.com/kubernetes/kubernetes/issues/29838

Any clue

[2017-11-01 17:00] pycaster commented on #54907
As mentioned [here](https://gitlab.cncf.ci/kubernetes/kubernetes/blob/70dd10cc506d699240dac323f7b625deab345cc4/pkg/volume/cinder/cinder_util.go#L218),

I manually did "udevadm trigger" and found this line,

[code]

But this did not generate a device by-id.

[2017-11-01 17:40] spiffxp commented on #54636
/status approved-for-milestone
accepting this as a member of @kubernetes/sig-scalability-bugs

[2017-11-01 17:56] kow3ns commented on #48327
We've addressed this in the referenced PRs.

[2017-11-01 17:56] #48327 closed

[2017-11-01 17:57] kow3ns commented on #51594
ref #7856

[2017-11-01 18:02] kow3ns commented on #54932
@kargakis Can't they just use the --revision flag to view the details of a particular revision? I'm not opposed to adding image, but where do we cut off the details? Some users might also want to see resource requests for instance.

[2017-11-01 18:04] caesarxuchao commented on #54940
`OwnerReference` doesn't have a `namespace` field was by design, because we didn't see use cases of cross-namespace garbage collection. I still think we don't have such use cases.

Also, as your PR shows, without the `namespace` field, we can't reliably support the case where the owner is cluster-scoped while the dependent is namespace-scoped, or the reverse. These might be valid use cases. Do you

[2017-11-01 18:04] josdotso commented on #20625
I would like to see the kubernetes service anchored by default in the `kube-system` namespace.  Users are encouraged to reach `https://kubernetes` in a normal namespace because it works in `default` namespace.

However, one must use `https://kubernetes.default` (more something more qualified) if not originating from `default` namespace.  This seems like a user interface issue.

[2017-11-01 18:10] cblecker commented on #54944
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-11-01 18:10] #54944 closed

[2017-11-01 18:13] freehan commented on #54885
@xiangpengzhao When I checked the cluster, there were 2 services with colliding ports. I am not sure what brought the cluster into this state.

[2017-11-01 18:13] pycaster commented on #54907
This has been fixed. It turned out to be a hypervisor setting that had to be enabled to allow generation of disk by-id. The fix that I did at the hypervisor level was using this KB,

http://virtuallyhyper.com/2012/03/missing-links-to-devices-on-linux-vms-under-devdiskby-id/

[2017-11-01 18:13] #54907 closed

[2017-11-01 18:16] ironcladlou commented on #54940
@caesarxuchao

I might be misunderstanding... my PR makes it possible for owner to be cluster scoped and dependent to be namespace scoped.

@jim-minter found this while developing service broker stuff, where a cluster scoped object is created by the system which owns other objects created automatically in namespaces. I'll leave it to him to further elaborate on the rationale.

I have some more que

[2017-11-01 18:17] phyrwork commented on #48069
I'm having the same issue in 1.7.6

[2017-11-01 18:19] enisoc commented on #54575
The first run with this change is still in progress, but this test already passed:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/2457

Thanks for the quick fix @janetkuo!

[2017-11-01 18:22] caesarxuchao commented on #54940
I misread the code. Anyway, if the dependent is cluster-scoped, and owner is namespace-scoped, even your PR can't handle that, right?

[2017-11-01 18:26] ironcladlou commented on #54940
@caesarxuchao

I don't have a test case for it, but I'll bet it works already on master if both objects are in the uidToNode cache before processing (keep in mind my PR just fixes a race condition, doesn't actually introduce any new support), and the restmapper fix for the race is  generic.

HOWEVER, I just noticed a flake in the test-cmd GC CRD tests, and I'll be it's because of a stale restmappe

[2017-11-01 19:08] caesarxuchao commented on #54940
If the dependent is cluster-scoped, and owner is namespace-scoped, how do you infer what namespace the owner belong to when creating the virtual node?

Yeah, that's what I thougtht.

[2017-11-01 19:57] cmluciano commented on #54910
This seems related to the CNI tests. Can you try the same with 1.8.2 ?

[2017-11-01 20:11] artooro commented on #28969
I was able to resolve most of my issues by making the Datastax Opscenter container use the DNS name of the headless service in front of the cassandra nodes instead of by IP.

The cassandra nodes still use a startup script to resolve the IP of opscenter, and of the seed node. This is still problematic as if the opscenter POD restarts it gets a new IP and all the nodes no longer know how to get to i

[2017-11-01 20:11] #54873 closed

[2017-11-01 20:15] vladimirvivien opened #54954 "Remove ScaleIO dependency on drv_cfg binary for containerization"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Currently, the ScaleIO Kubernetes volume plugin has a dependency on a local binary `drv_cfg` to be accessible so it can do a device map.  This dependency makes it hard to containerize the kubelet in a production environment.

**What you expected to happen**:
Ability to wrap kubelet binary into a container.

**How to repro

[2017-11-01 20:15] vladimirvivien commented on #54954
/assign

[2017-11-01 20:55] nikhiljindal commented on #54717
https://github.com/kubernetes/kubernetes/pull/54746 updates the cloud provider to consistently return NotFound errors for all resources.

[2017-11-01 21:03] nicksardo commented on #54717
+1 for returning NotFound to the consumer. I don't recall the specifics, but I believe I've hit a use case that required me to know whether it was deleted or not.

Agreed, each invocation of all changed funcs need to be checked for logic changes. Thankfully, it's easily fixed with a helper `ignoreNotFound(...)`

[2017-11-01 21:23] donutloop commented on #54910
The same issue here

kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.2", GitCommit:"bdaeafa71f6c7c04636251031f93464384d54963", GitTreeState:"clean", BuildDate:"2017-10-24T19:38:10Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/arm"}

[2017-11-01 21:39] ihmccreery commented on #54736
cc @dnardo

[2017-11-01 21:48] destijl commented on #51965
@kksriram wrote up a strawman and shared with sig-auth this morning:
https://docs.google.com/document/d/1S_Wgn-psI0Z7SYGvp-83ePte5oUNMr4244uanGLYUmw/edit?ts=59f965e1#heading=h.d26ktd3t9943

[2017-11-01 21:52] aysark commented on #12835
Running into this issue as well.. docs seem dated.  I'm able to successfully pull images when in minikube.

[2017-11-01 21:53] kopollo commented on #44665
[http://localhost:8080/-](http://localhost.support:8080/-)

[2017-11-01 22:09] kevincvlam opened #54959 "Cluster autoscaler scales up too much"
/kind bug
**What happened**:
I created a Alpha Google Container Engine cluster with two nodepools. One of the nodepools uses an instance-template that has a Tesla K80 GPU and installs nvidia drivers using a start-up script.

The nodepool with the GPU, (GPU Nodepool) had auto-scaling enabled, with a minimum number of nodes of 1 and maximum of 3.

I had 1 node up from the GPU nodepool and scheduled

[2017-11-01 22:09] Random-Liu commented on #54736
Note that we moved fluentd out of host network recently. https://github.com/kubernetes/kubernetes/pull/54395

[2017-11-01 22:12] kevincvlam commented on #54959
@kubernetes/sig-autoscaling-bugs

[2017-11-01 22:13] mikedanese opened #54960 "Create guidelines, documentation and tooling about apiextension PKI"
* how do I implement rotation?
* can I use the kubernetes certificates API?

[2017-11-01 22:20] khenidak opened #54961 "Azure Cloud Provider: Load Balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug

/kind bug
/sig azure

**What happened**:
The following behaviors observed in Azure Cloud Provider
*Dangling LB Resources*
With hyper-active large clusters specially with a lot of create/delete services calls the provider does not cleanly delete IP Config/LB Rule/NSG Config. This can be tested with creating a fairly large cluster (100+ nodes) and c

[2017-11-01 22:32] lavalamp commented on #51965
That doc looks pretty good to me.

[2017-11-01 22:44] pwittrock commented on #53524
@ssts move to kubernetes/community#1315

[2017-11-01 23:06] yonran commented on #30558
I hope `kubectl replace configmap` will support `--from-file`. In the meantime, I’ve been using some bash scripts to convert --from-file to the json structure required by `kubectl replace`: https://gist.github.com/yonran/c5590a52179aa4841d1067991338b920

[2017-11-01 23:13] munnerz commented on #54940
I can't comment on the test flake itself, but is it not possible for the garbage collector to determine that the owning type is non-namespaced via the discovery API?

[2017-11-01 23:22] mml commented on #53524
ITYM @sttts

On Wed, Nov 1, 2017 at 3:46 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2017-11-02 00:06] ihmccreery commented on #54736
Thanks, yup. We're trying to root cause; unclear if that's what caused it, or a change in the metadata proxy.

[2017-11-02 00:17] Random-Liu opened #54962 "Heapster panics"
I also hit https://github.com/kubernetes/heapster/issues/1838 when running cri-containerd as the container runtime.

The reason is that we don't populate stats like `UsageNanoCore` in cri-containerd integration now. @abhi is adding the containerd support in cadvisor, after that we should have full summary metrics.

However, heapster should not panic in this case anyway.

@piosz @kubernetes/sig-ins

[2017-11-02 00:27] khenidak commented on #54899
@feiskyer no, only support request.

[2017-11-02 00:27] yujuhong commented on #54962
+1. Many new CRI integration would run into this issue.

[2017-11-02 00:31] andyxning commented on #54923
@davidopp Thanks. Will leave some comments there. :)

[2017-11-02 00:35] dchen1107 commented on #54923
Actually they are different requests. All above feature requests are related to local disk capacity as the first class resource in Kubernetes, but not disk io.

[2017-11-02 00:36] tamalsaha opened #54965 "Bug: Kubelet does not assign Host IP for pods with HostNetwork for --cloud-provider=external"
I am trying to test CCM in DigitalOcean using Ubuntu 16.04 64-bit image using Kubeadm 1.8.0. I have found that Kubelet will not assign IP for pods with `HostNetwork: true`, if I start kubelet with `--cloud-provider=true`.  This breaks CNi plugins like Calico #510 .

Reproducible steps:
[code]

[code]
We are supposed to see the external IP of the Host for these pods (except kube-dns pod).

[2017-11-02 00:37] tamalsaha commented on #54965
/kind bug
Reopedn here from https://github.com/kubernetes/kubeadm/issues/514, since looks like Kubelet bug.

cc; @wlan0 @luxas @andrewsykim

[2017-11-02 00:38] tamalsaha commented on #54965
/sig cluster-lifecycle

[2017-11-02 00:49] andyxning commented on #54923
@dchen1107 Thanks for pointing this. :)

I will read @davidopp referenced features later and update here whether those already existing features cover what i want to do.

BTW, I have fired a PR about adding disk io metrics to [heapster #1450](https://github.com/kubernetes/heapster/pull/1450), according to [cgroup doc](https://www.kernel.org/doc/Documentation/cgroup-v1/blkio-controller.txt) It shou

[2017-11-02 00:51] davidopp commented on #54923
Very sorry, @dchen1107 is right. I mis-read the original question.

[2017-11-02 00:52] #54723 closed

[2017-11-02 00:52] #54804 closed

[2017-11-02 00:55] agilgur5 commented on #44815
For reference, the original mention of this solution seems to be here: https://github.com/kubernetes/kubernetes/issues/23748#issuecomment-230390309

It looks like the documentation for this is missing, which makes this case fairly confusing/misleading, and the projection docs seem to make it more misleading as well -- not sure if  it's missing because auto updates apparently don't work as per that

[2017-11-02 01:03] itowlson commented on #54899
The proposed fix is:

- Provide a 'shared NSG rule'
- Introduce an annotation whereby the user can ask for the service to be exposed via the shared rule instead of a dedicated rule
- If a service has this annotation, add its public IP to the shared rule's destinations instead of creating a dedicated rule

This would allow up to 2000 destination IPs.  We need to work out what the scope of sharing i

[2017-11-02 01:08] phsiao opened #54967 "cpu_manager "failed to write a *:* rwm to devices.allow" error message"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig node

**What happened**:

On 1.8+ kubelet with --cpu-manager-policy=static, there is a constant stream of logging every 10 seconds or so in the following formats:

`kubelet: E1030 14:13:05.012702 23623 remote_runtime.go:302] UpdateContainerResources "f0f24b4647d8a9694427eb7900ce93c8402f81d5b7724eb2207f1a4755f79986" from runtime service f

[2017-11-02 01:08] phsiao commented on #54967
/cc @nqn @ConnorDoyle

[2017-11-02 01:13] foxish commented on #54904
It looks to me like the queue's exponential backoff is causing this failure. The quick fix may be just reducing the number of expected completions to 3 from 4.
However, from looking at the controller enqueue mechanism, it seems while we increase the backoff time every time there are additional failures, we don't reset that number when there are successful completions.
I can make an argument that w

[2017-11-02 01:19] foxish commented on #54904
I mean in specific - with parallelism=N, if there are N-1 successes and 1 failure, we'd still start increasing the backoff time. That seems odd to me.

[2017-11-02 01:41] madhanrm opened #54968 "Fix targetport and port in winkernel proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Target port and Ports were interchanged.

**What you expected to happen**: If the target ports and ports are different, they wouldn't work as expected

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cl

[2017-11-02 01:47] m1093782566 commented on #54916
cc @cmluciano

[2017-11-02 02:18] cookeem commented on #54910
I meet the same problem when I use v1.8.2, finally I figured out that can not use`--cgroup-driver=systemd`, it must use cgroupfs!

- Set the docker daemon to use cgroupfs:
[code]

- Set kubelet use cgroupfs too:
[code]
- Reload daemon setting then restart kubelet and docker
[code]

Everything works great!
[code]

[2017-11-02 02:37] phsiao commented on #54798
I would have assumed that DNS entry for mongo-0 be deleted as the pod got deleted, so the second error message `getaddrinfo("mongo-0.mongo") failed: Name or service not known` makes sense.

Does your resolver cache responses?

[2017-11-02 02:54] chinakevinguo commented on #54221
@goloxxly If you have a solution, please record it here..

[2017-11-02 03:11] xiangpengzhao commented on #54885
It's strange... I will try to dig into it later.

[2017-11-02 03:37] llxxbb commented on #54910
@cookeem it works! The command "kubeadm join" on the other nodes run ok, but "kubectl get nodes" can't find them!

[2017-11-02 03:38] thockin commented on #42542
Why are you experiencing so many timeouts that this matters?  Timeouts are not normal.

[2017-11-02 03:44] phsiao commented on #42542
For our use case, we don't use the kube-dns as pod's resolver, and we delegate cluster domain to kube-dns pods.   Each of our datacenter has at least two resolvers, and that allows us to do regular maintenance on the resolver hosts without extended disruptions.   Timeouts is important as that help detect the issue and can rotate to use another resolver while the other one is down for maintenance.

[2017-11-02 03:54] #48252 closed

[2017-11-02 03:55] smarterclayton commented on #49338
Implemented

[2017-11-02 03:55] #49338 closed

[2017-11-02 03:56] ConnorDoyle commented on #54967
/assign

[2017-11-02 03:58] smarterclayton commented on #47131
I think this error message:

Is actually caused by the etcd3 storage watch code in kubernetes not properly handling the expiration of the revision and restarting the watch from the RV reported by the error.  We should be able to transparently restart the watch without logging that error.  It is *not* the hanging error described later in the thread.

[2017-11-02 04:00] smarterclayton opened #54974 "All etcd3 watches close after 10m or so"
It appears that we are not properly handling the watch expired error by continuing the watch from the most recent RV seen on a watch.  When compaction occurs watches appear to terminate (the RV we started the watch on no longer exists).  We should be able to restart the watch at the last RV we received on the watch at the storage level and continue.

[code]

[2017-11-02 04:00] smarterclayton commented on #47131
Spawned https://github.com/kubernetes/kubernetes/issues/54974

[2017-11-02 04:03] xiang90 commented on #54974
The progress notification is designed to handle hanging watches (still move the watcher forward if there is no updates). Not sure why it is not enabled.

/cc @jpbetz

[2017-11-02 04:09] madhanrm commented on #54968
/sig windows

[2017-11-02 04:20] smarterclayton commented on #54974
/sig api-machinery

On Thu, Nov 2, 2017 at 12:03 AM, Xiang Li <notifications@github.com> wrote:

[2017-11-02 04:24] m1093782566 opened #54978 "Should update ipvs proxy kubeadm way in README.md"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

As #53962 which support specify proxy mode for kubeadm is already in, we should add ipvs proxy kubeadm way in README.md.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2017-11-02 04:24] m1093782566 commented on #54978
/assign

[2017-11-02 04:25] #50586 closed

[2017-11-02 04:59] kumarganesh2814 commented on #54910
@cookeem and Others in Group
Thanks for instruction are helpful to me
So what I did here is enable cgroupfs on both Docker and Kubelet then restart whole cluster again now its looks fine , Also this is case with RHEL only on CentOS systemd works fine but yeah it has to be same for kubelet and docker deamon.

@llxxbb Have you setup KUBECONFIG var in env

 env |grep KUBE
KUBECONFIG=${HOME}/admin.con

[2017-11-02 05:48] CaoShuFeng commented on #48787
@luxas  @vishh
Can you take a look at this:
https://github.com/kubernetes/community/pull/1311

[2017-11-02 06:16] Random-Liu commented on #54736
Thanks @dnardo for debugging this!
@dnardo found that `net.ipv4.conf.all.route_localnet` on master node is 0, which should be 1.

I set it to 1, and it does fix the issue.

[2017-11-02 06:18] Random-Liu commented on #54736
I've included the fix in https://github.com/kubernetes/kubernetes/pull/54838.

[2017-11-02 06:24] KeithTt commented on #52389
meet the same problem, how do you solve this issue...

[2017-11-02 06:25] xiaosadexiaohai opened #54981 "etcd shutdown kubernetes after the delay becomes high"
Under normal circumstances
![image](https://user-images.githubusercontent.com/18409309/32312576-85989b68-bf6c-11e7-85dc-37b7e3779dab.png)
Only in the case of etcd services
![image](https://user-images.githubusercontent.com/18409309/32312593-9c520f9c-bf6c-11e7-9988-fee0c1a3841b.png)
etcd machine shutdown case
![image](https://user-images.githubusercontent.com/18409309/32312620-b962c5d6-bf6c-11e7-9d

[2017-11-02 06:49] weiwei04 commented on #52696
I think this is related with #28486

[2017-11-02 06:50] euank commented on #7181
As of 1.8, the `--api-servers` flag was removed from the kubelet.

Since flags are on the way out in favor of componentconfig/configmaps (e.g. https://github.com/kubernetes/kubernetes/issues/19831 and https://github.com/kubernetes/kubernetes/pull/29459), I think we can actually consider this issue largely a moot point now.

Given the work to move away from flags is underway, I think we can close t

[2017-11-02 06:50] #7181 closed

[2017-11-02 07:23] euank commented on #54924
If you're receiving a 404, that probably means Kubernetes is doing what it should be (e.g. ingress failures should be 500s).

Can you figure out what the 404 is coming from by increasing traefik and the 'rolling-update-test' service's logging and checking if it hit them?

I also think that this issue likely belongs in [traefik's bug tracker](https://github.com/containous/traefik/issues) since the

[2017-11-02 07:25] guangxuli commented on #51455
will close this issue, per #24246.

[2017-11-02 07:25] #51455 closed

[2017-11-02 07:34] abitrolly commented on #37705
Am I correct that there are few levels of support for PVC resizing, and here is the status:
**Kubernetes**:
* PV (done in 1.8)
* PVC (done in 1.8)

**GCE**:
* PD (growing only and not ready)

**OS**:
* fsresize (growing only and not ready)

[2017-11-02 07:38] abitrolly commented on #37705
Another question is how to issue a command to resize volume attached to specific pod/replicaset from command line. As a quick test for current status.

[2017-11-02 07:43] #40790 closed

[2017-11-02 08:08] jianglingxia opened #54984 "how kubernetes interact openstack when config the cloud provider to openstack"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i config the para --cloud-config=/etc/kubernetes/kube_openstack_config  --cloud-provider=openstack
-bash-4.2# kubectl get nodes
NAME            STATUS    AGE       VERSION
k8s-jlx-node1   Ready     22d       v1.6.9+a3d1dfa6f4335
k8s-jlx-node2   Ready     1d        v1.6.9+a3d1dfa6f4335
how the kubelet interact openstack and get

[2017-11-02 08:10] jianglingxia commented on #54984
/sig openstack
/sig storage

[2017-11-02 08:11] jianglingxia commented on #54984
/assign @FengyunPan

[2017-11-02 08:16] WanLinghao commented on #54789
run
kubectl get quota --all-namespaces
to see if you have set any quota

[2017-11-02 08:27] etiennetremel commented on #53526
For the one looking for a temporary way to fix it you have to mix named port with value, see below:

[code]

[2017-11-02 08:37] exploitht commented on #45790
/close

[2017-11-02 08:40] brancz commented on #54962
In fact, as far as I am aware, not a single CRI implementation currently implements any of the stats calls.

[2017-11-02 08:52] sttts commented on #54793
Closing as the revert merged.

[2017-11-02 08:52] #54793 closed

[2017-11-02 08:53] goloxxly commented on #54221
Hi @chinakevinguo ,
I'm saying that in my case the system first showed the same error that you mentioned, but then it became healthy without any human interaction. I just suggest to you to try try installing heapster in this order:
[code]

[2017-11-02 09:00] msbl3004 commented on #52715
I am facing this same issue on Centos 7.3 with kubeadm 1.8. The command kubeadm init fails with following error:

**[root@localhost ~]# kubeadm init**
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.8.2
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks
[preflight] Starting the kubelet service

[2017-11-02 09:02] weiwei04 commented on #54214
We see some other case may cause `rbd: failed to unmap device /dev/rbd0:Error: exit status 16`,

1. every kubelet run with node_exporter and node_exporter is deployed by k8s daemonset with -v /:/rootfs:ro (mount kubelet host rootfs into node_exporter container).

2. the rbd device is mounted before node_exporter started, because k8s 1.6.7 not support mount propagation, when the rbd plugin unmount

[2017-11-02 09:10] KeithTt commented on #43805
good job!

[2017-11-02 09:14] kargakis commented on #54904
cc @soltysh

[2017-11-02 09:17] mishamo commented on #54789
Hi, quota is definitely set up. The issue is that usage is miscalculated when the stateful set is rolled out:

[code]

[2017-11-02 09:20] beatlejuse opened #54986 "kubelet key "--volume-plugin-dir" on kubernetes 1.8.1"
/kind bug

**What happened**:
I update CoreOS from 1409.7.0 to 1520.8.0 and kubernters from 1.6.1 to 1.8.1 and now i have error when "rook-agent" conteiners running.
all (3) rook-agent conteiners have status RunContainerError.
And in conteiners logs i see this:
kubectl -n rook-system logs rook-agent-mklwd
failed to open log file "/var/log/pods/7a5eb042-be51-11e7-8ce2-0050569d04a3/rook-agent_1.log"

[2017-11-02 09:24] beatlejuse commented on #54986
/sig node

[2017-11-02 09:41] digglife commented on #48378
@jeffbr13 Thanks. It works.

[2017-11-02 09:42] sbuliarca commented on #53489
We removed the condition in roles in the end.
Thank you for your suggestion.

[2017-11-02 09:47] kargakis commented on #53459
This would also be useful for our controllers. Today we use one controller per supported `pj.spec.agent` field (one for kubernetes pods and one for jenkins jobs) and we are handling the filtering inside the controller which is not ideal.

[2017-11-02 09:51] kargakis commented on #54932
I don't want to see the details of a particular revision. I want to figure out where in the history I am running a particular image. Resource requests are depending on the image that is running so I would argue that it is a lower-priority field to care about. Similarly, most configuration options resolve around the image that is running.

[2017-11-02 09:52] kargakis commented on #54932
I don't want to see the details of a particular revision. I want to figure out where in the history I am running a particular image. Resource requests are depending on the image that is running so I would argue that it is a lower-priority field to care about. Similarly, most configuration options revolve around the image that is running.

[2017-11-02 10:14] #52121 closed

[2017-11-02 10:14] #50037 closed

[2017-11-02 10:44] fvigotti commented on #54494
Me too , I can't get my previous flexvolume running, I got this error
[code]
in kubelet.log
while the cifs plugin `init` output is :
[code]

I think that this is a quite severe issue, we are at second update and not yet fixed ? :) no one is using flexvolumes in production with version 1.8  ??

[2017-11-02 10:53] weiwei04 commented on #54870
I think this is because for `restartPolicy: "OnFailure"`, kubelet will try to restart failed pod in place, and the pod status will be `Running` even the container is failed to run, so jobcontroller get a illusion as the pod is still running. Here's my naive thoughts: for short-term to avoid this, just use `restartPolicy: "Never"`(will lose temp data write to emptyDir if container restarts), for lo

[2017-11-02 10:54] tamalsaha commented on #50037
Hi,
I think there is still an issue left here, which is supporting StrategicPatch for CRDs. We are interested in using PATCH for parameter substitution as mentioned in @bgrant0607 's big doc https://docs.google.com/document/d/1cLPGweVEYrVqQvBLJg6sxV-TrE5Rm2MNOBA_cxZP2WU/edit#  .

I understand that there are technical challenges in supporting this. Given how popular CRDs are, it will be very weird

[2017-11-02 10:54] ash2k commented on #54863
This is a dupe of https://github.com/kubernetes/kubernetes/issues/53124

[2017-11-02 11:02] ash2k commented on #50975
This is a dupe of #37598.

[2017-11-02 11:02] #50975 closed

[2017-11-02 11:02] ash2k commented on #37598
Duplicated by #50975.

[2017-11-02 11:03] ash2k commented on #37598
/kind bug
/area build-release
/area client-libraries

[2017-11-02 11:04] mwielgus commented on #54959
Can you attach node definition (`kubectl get node -o yaml`)?

[2017-11-02 11:21] crassirostris commented on #54736
@ihmccreery @dnardo @Random-Liu Thanks a lot for debugging!

@Random-Liu Could you please add `fixes #54736` to the PR description?

Also, what about previous branches? Is it going to work on 1.7 and 1.8 branches, or we need to propagate your fix there?

[2017-11-02 11:50] m1093782566 commented on #54203
**Help Wanted**

I want to solve the hairpin problem reported in #53775 and made a prototype mixed with ipset, iptables and ipvs.

1. I created a local up cluster with IPVS proxy mode.

2. I created a service with ClusterIP type

[code]

3. the nginx-service has only 1 endpoints

[code]

4. I enabled **hairpin_mode** for all virtual devices on the host

[code]

5. The IPVS rules for the service lo

[2017-11-02 11:54] fvigotti commented on #54494
because it was strange for me to see the "-e" in the error ( which is an arg passed to echo in the flexvolume ) I've removed it.. but still.. somewhere seems that there is a prepended "/" at the beginning of the command output but I think that something is wrong in the source of kubernes...
here is the errror
[code]

[2017-11-02 11:55] dims commented on #54954
/sig storage

[2017-11-02 11:55] dims commented on #54981
/sig api-machinery

[2017-11-02 12:01] nikhita commented on #50037
@tamalsaha Just to clarify, you mean strategic merge patch for custom resources, right? i.e. the types defined by the CRD.

[2017-11-02 12:15] barrywhart commented on #47992
I agree, this is a surprising limitation. We run Airflow on Kubernetes, and it needs the worker pods to have DNS entries, otherwise it can't [access logs on the worker pods](https://github.com/apache/incubator-airflow/blob/1.8.2/airflow/www/views.py#L730-L757).

[2017-11-02 13:01] ironcladlou commented on #54940
@munnerz

That's essentially the approach I took in https://github.com/kubernetes/kubernetes/pull/54943, but:

1. It introduces a failure/retry mode in a critical processing path (as the discovery client is occasionally stale and thus periodically refreshed)
2. It doesn't address inter-namespace references (which is of secondary importance)

Explicit references as @caesarxuchao suggests provides t

[2017-11-02 13:19] dims commented on #54974
@xiang90 - Are these the spots that need to be fixed?

[code]

[2017-11-02 13:37] spzala commented on #48252
Thanks @jiaqianjing

[2017-11-02 13:56] cmluciano commented on #54203
@m1093782566 IIRC hairpin mode needs to be enabled by the CNI plugin. The [CNI bridge plugin](https://github.com/containernetworking/plugins/blob/master/plugins/main/bridge/bridge.go#L49) supports this at the moment. I'm not sure if there are any 3rd  party CNI plugins that have enabled hairpin mode yet.

xref: https://github.com/kubernetes/kubernetes/issues/53269#issuecomment-334590862 , https://

[2017-11-02 14:00] fasaxc commented on #54203
@m1093782566 can you post the `iptables-save` output?  I find it much easier to read than `iptables -L` (which also hides some detail).

[2017-11-02 14:07] fasaxc commented on #54203
I often use commands like this to get a quick idea of which rules are being hit:
[code]
Then you could use tcpdump to snoop on the interfaces.  Does it all work in the non-hairpin case?

[2017-11-02 14:13] cmluciano commented on #54916
/assign

adding myself for tracking purposes

[2017-11-02 14:17] kevincvlam commented on #54959
Yup see below. Thanks for your help!

[code]

[2017-11-02 14:19] m1093782566 commented on #54203
@cmluciano Thanks for your quick feedback. Hairpin mode works in kube-proxy iptables mode in my environment.

[2017-11-02 14:23] kevincvlam commented on #54959
Worth noting, not sure if I should add this in another issue, but it is related: also noticed that if the GPU nodepool was instead set to a minimum of 0, and 0 instances are up, then a scale-up wouldn't be triggered for a pod requesting a GPU. The pod shows an autoscaler event saying that the scale-up was not triggered because no nodes would cause the pod to be schedulable.

[2017-11-02 14:24] xiangpengzhao commented on #54885
Seems like there is a race condition. PR #54999 sent. PTAL.

[2017-11-02 14:27] MaciekPytel commented on #54959
The last part (scale-from-0) is expected - support for GPU in scale-from-0 was only recently added to CA (https://github.com/kubernetes/autoscaler/pull/401) and will be included for the first time in 1.0.2 (next release).

[2017-11-02 14:36] mongrelion commented on #26707
@JorritSalverda so does your `podSpec` example fix the issue?

[2017-11-02 14:37] MaciekPytel commented on #54959
@bskiba @mwielgus Also note that this is a 1.7 cluster, so it runs CA 0.6. Is there anything that we fixed for 1.0 that could account for this?

If anyone reproduces it the output of `kubectl get events --all-namespaces | grep cluster-autoscaler | grep Pod` may be useful - it should provide both scale-up plan and the list of pods CA is trying to help with the scale up.

[2017-11-02 14:43] AndrewKoryakin opened #55002 "namespaces stuck in terminating"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
 Namespaces stuck terminating.
**What you expected to happen**:
Namespaces deleted
**How to reproduce it (as minimally and precisely as possible)**:
I try to delete namespace, but one of nodes in cluster was unavailable at that time.

**Anything else we need to know?**:
After node returned, nothing changed (only pods chang

[2017-11-02 14:53] xiang90 commented on #54974
@dims Right, that is the first part of the story. After receiving the progress notification, the k8s internal watcher needs to update its index/rev. so re-watch will start from the last progress notification point. maybe it already does it, but i think it is not yet.

[2017-11-02 14:58] gogeof commented on #54922
@cmluciano @caseydavenport
I'm sorry, it's my mistake. I have copy one old 10-calico.conf into /etc/cni/net.d/10-calico.conf befault create calico plugin. It seems calico plugin has initialised by reading this old one sometimes. After calico pod start, it will generate a new one 10-calico.conf and overwrite the old one, so I have spent a long time to find out my mistake.

[2017-11-02 15:01] fvigotti commented on #54494
I have some insight , after a small investigation..
done because I still not understand why the "-ne" in your case and "-e" in my case params gets logged from kubelet.. while those are `echo` arguments in bash script..

I've found that there must be something strange in the flexvolume driver caller because some standard-and-working-in-1.7.x bash  commands doesn't work anymore..
replacing those two

[2017-11-02 15:02] #54922 closed

[2017-11-02 15:13] AndrewKoryakin commented on #55002
For those who have the same problem. Removal of ThirdPartyResources solved the problem

[2017-11-02 15:13] liggitt commented on #54940
GC was intentionally disallowed cross-namespace references to begin. If we revisit that, we need to consider carefully the implications, like leaking information about objects in other namespaces, and blocking deletion of objects in other namespaces.

[2017-11-02 15:14] kevincvlam commented on #54959
Is this something that could be fixed by using a newer version? I was playing with v1.8.1-gke.0, but I couldn't expose the node GPU to pods after installing the drivers manually. Tried adding node-labels as both 'nvidia.com/gpu=Tesla-K80' and 'alpha.kubernetes.io/nvidia-gpu-name=Tesla-K80'.

eg.
[code]

[2017-11-02 15:16] cablespaghetti commented on #54494
Thanks Francesco. I'll try hacking around with the driver I'm using. The most puzzling thing for me is that the example drivers don't seem to work either! If I have some spare time, I'll go digging around in the source code.

[2017-11-02 15:18] ironcladlou commented on #54940
Info leak was a concern I had with inter-namespace references... would there be a similar concern with cluster scoped owners? Is this all to say that validation of the namespace field would have to tie into RBAC?

To be clear, you can actually create a cluster scoped owner reference today and it'll usually work unless you trigger the race described in this issue.

[2017-11-02 15:18] squeed commented on #54203
Hairpin mode for the CNI plugin isn't applicable here, because we're masquerading the source address.

One thing you may wish to consider is adding a rule that matches `(src == dst)` for which you'll need the bpf module. Something like

`iptabes -t nat -A POSTROUTING -m bpf $(nfbpf_compile RAW 'ip[12:4] = ip[16:4]') -j MASQUERADE`, and an equivalent for ipv6.

[2017-11-02 15:19] andyzhangx commented on #53881
AFAIK, k8s could run on windows 2016 server. Could your win10 run docker service successfully? I think you could run "docker run -d microsoft/aspnet", try a windows container first.

[2017-11-02 15:23] chinni505 commented on #54542
Nov 02 15:12:12 kubernetes-master kubelet[2313]: I1102 15:12:12.324007    2313 controller.go:114] kubelet config controller: starting controller
Nov 02 15:12:12 kubernetes-master kubelet[2313]: I1102 15:12:12.323899    2313 feature_gate.go:156] feature gates: map[]
Nov 02 15:12:12 kubernetes-master systemd[1]: Starting kubelet: The Kubernetes Node Agent...
Nov 02 15:12:12 kubernetes-master systemd

[2017-11-02 15:40] fvigotti commented on #54494
eureka,
after deeper investigation I've found the root of all that bad sentiment...
the environment  of the new coreos images is f***ed ;)
docker run --rm -ti quay.io/coreos/hyperkube:v1.8.2_coreos.0 bash
then try to run "echo -e hello" and you see the error that we are seeing :) the -e is printed!, and so for all other commands that didn't work!
what the hell... probably this hyperkube image is h

[2017-11-02 15:41] shyamjvs commented on #53327
@dashpole Friendly ping. Wdyt is the best way out here? I agree with @wojtek-t on not tweaking real kubelet code to match hollow-kubelet behavior. Can we make hollow-kubelet wait for the pod to be running before deleting or sth? We need to resolve this asap - this is urgent.

[2017-11-02 15:46] dsfranzi opened #55003 "StatefulSet pulls image from docker hub instead of internal registry"
/kind bug

**What happened**:

I'm using Kubernetes 1.5 in OpenShift.
I pushed all my customized docker images to OpenShift's internal registry. When using a DeploymentConfig, everything works fine, kubernetes pulls the right image.

When using a StatefulSet, Kubernetes won't find my docker image in the internal registry and instead pulls an image from docker hub.

My StatefulSet:

[code]

It woul

[2017-11-02 15:47] cablespaghetti commented on #54494
Maybe use /bin/echo or something instead? Very strange...

[2017-11-02 15:50] fvigotti commented on #54494
using the full url of the command is the first thing I've tried at the end I was trying to run my script wrapped in another script ( exec bash $CIFSPLUGIN ) but the problem is that bash itself is broken
enven the `if [ "" == "" ]; then` doesn't work.. I don't  even can see which version of bash they are using,
results? stop using hyperkube, but anyway they should have informed us before.. I'm goin