[2016-06-30 21:59] smarterclayton commented on #260
Be sure to capture design asks on the proposal doc after you finish review

On Jun 30, 2016, at 1:25 AM, Jan Chaloupka <notifications@github.com> wrote:

PetSets example with etcd cluster [1].

[1] kubernetes/contrib#1295
<https://github.com/kubernetes/contrib/pull/1295>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubern

[2016-06-30 22:00] goltermann commented on #27086
yes, this is done, I'll close

[2016-06-30 22:00] #27086 closed

[2016-06-30 22:04] ConnorDoyle opened #28310 "Discovering, bookkeeping and isolating platform resources other than CPU time and main memory."
## Overview

Users may want to schedule pods based on additional resources beyond the dimensions that Kubernetes already accounts and isolates. Any attempt at static enumeration would be incomplete, so this proposal discusses a plan for _discovering_, _bookkeeping_, and _isolating_ custom resource types.
### Discovery

Discovery involves enumerating available features and resources on the node so

[2016-06-30 22:12] philips commented on #18112
@bgrant0607 @gtank this can be closed, right?

[2016-06-30 22:12] philips commented on #18112
#25562 is merged

[2016-06-30 22:15] mikedanese commented on #18112
We need to merge the controller PR and the kubelet integration hasn't been submitted yet.

[2016-06-30 22:18] ConnorDoyle opened #28311 "Hardware feature discovery to add node labels with a unique prefix (e.g. `scheduler.alpha.intel.com/<feature-name>`)."
_Note: Relates to issue [#28310: Discovering, bookkeeping and isolating platform resources other than CPU time and main memory.](https://github.com/kubernetes/kubernetes/issues/28310)_

This issue tracks work related to discovering binary (present/absent) hardware platform features.

All processors are not the same, and some workloads exhibit different performance characteristics based on whether

[2016-06-30 22:24] ivan4th commented on #26840
@smarterclayton just to be clear, do you mean kubectl client-side code is unmarshalling to internal repr it or is done during PatchResource() on the server side?

[2016-06-30 22:24] ConnorDoyle opened #28312 "Accounting and feasibility for opaque integer resources in the API server and scheduler."
_Note: Relates to issue [#28310: Discovering, bookkeeping and isolating platform resources other than CPU time and main memory.](https://github.com/kubernetes/kubernetes/issues/28310)_

_See also: [#28311: Hardware feature discovery to add node labels with a unique prefix (e.g. `scheduler.alpha.intel.com/<feature-name>`).](https://github.com/kubernetes/kubernetes/issues/28311)_

This issue tracks

[2016-06-30 22:29] ivan4th commented on #26840
... Probably you mean this line in the sever code? https://github.com/kubernetes/kubernetes/blob/5478aa828b3becb4ca198efcdaf2877c6285c03c/pkg/apiserver/resthandler.go#L573

[2016-06-30 22:30] ConnorDoyle opened #28313 "Support for isolating opaque resources."
_Note: Relates to issue [#28310: Discovering, bookkeeping and isolating platform resources other than CPU time and main memory.](https://github.com/kubernetes/kubernetes/issues/28310)_

Perform extra isolation actions in the Kubelet based on pod annotations for pod lifecycle events: `pre-start`, `post-start`, `update`, `termination`. Lifecycle events except `pre-start` could conceivably be hacked

[2016-06-30 22:34] justinsb opened #28314 "kubectl: jsonpath is not very intuitive"
As a user, I want to see a list of (for example) pods and their imageIDs.

There are some hacks.

I think I could use jq to get one columns:  `kubectl get pods -ojson | jq .items[].status.containerStatuses[].imageID`

I think I could learn jsonpath: kubectl get pods -o jsonpath='{.items[*].status.containerStatuses[].imageID}'

But tying this back to a particular pod is hard.

I would really like t

[2016-06-30 22:40] yujuhong commented on #19720
Let's use #25893 track documentation.

[2016-06-30 22:40] #19720 closed

[2016-06-30 22:45] balajismaniam opened #28315 "Online resource oversubscription and external QoS control"
Some jobs in the cluster are allocated resources (i.e., provisioned) to handle maximum loads and unexpected load spikes. As a result, a cluster might remain under-utilized. The cluster utilization can be improved if these temporarily unused resources from over-provisioned jobs can be used for running best-effort jobs. On the other hand, allowing many best-effort jobs jobs to run without any QoS co

[2016-06-30 22:45] davidopp commented on #28312
cc/ @kubernetes/sig-scheduling

[2016-06-30 22:45] davidopp commented on #28310
cc/ @kubernetes/sig-scheduling @kubernetes/sig-node

[2016-06-30 22:46] davidopp commented on #28311
@kubernetes/sig-scheduling

[2016-06-30 22:46] davidopp commented on #28313
@kubernetes/sig-node

[2016-06-30 22:47] davidopp commented on #28315
@kubernetes/sig-scheduling @kubernetes/sig-node

[2016-06-30 22:51] balajismaniam opened #28316 "External QoS controller and implement resizing a Pod/Container resource envelope via update in the API server."
Note: Relates to #28315 (Online resource oversubscription and external QoS control).

Background:
An external QoS controller can continuously monitor the cluster utilization and application performance and perform some actions. The actions performed by the external QoS controller include the following:
1. Tag pods and nodes so that only certain pods can be scheduled on some nodes.
2. Evict pods an

[2016-06-30 22:53] rata opened #28317 "No way to set permissions (mode) on secret and configmap files"
Hi,

There is currently no way to set permissions on secret files mounted as volumes.
This is an issue with some tools that enforce them, like ssh for ssh keys, or
just if we want/need the permission to be other than 0444.

I've asked in the mailing list and I was suggested to open a proposal to enhance
(at least) secrets to support this. The ML thread is here:
https://groups.google.com/forum/#!to

[2016-06-30 22:54] davidopp commented on #28316
@kubernetes/sig-scheduling @kubernetes/sig-node

[2016-06-30 22:57] #28269 closed

[2016-06-30 22:57] vishh commented on #28316
Can you elaborate on the SLO issues? We are continuously improving QoS support.
* We added Out Of Resource eviction based on memory usage and are working towards supporting evictions based on disk as well.
* We are improving cgroups based isolation by having QoS and pod level cgroups.

[2016-06-30 22:58] vishh commented on #28315
This seems to be related to veritical pod auto-scaling - https://github.com/kubernetes/kubernetes/issues/10782

[2016-06-30 22:58] gtank commented on #18112
The controller PR https://github.com/kubernetes/kubernetes/pull/25764 was blocked on a problem with a deep dependency of cfssl. It should be ready to merge soon.

[2016-06-30 23:04] jlowdermilk commented on #28171
kubectl download instructions added to the guide in https://github.com/kubernetes/kubernetes.github.io/pull/765.

[2016-06-30 23:04] #28171 closed

[2016-06-30 23:07] jingxu97 opened #28318 "Kubelet on a node dead right before pod is created and assigned to that node cause pod disappear on apiserver"
The steps to reproduce the issue, on a working gce cluster
1. Choose a node, edit /usr/sbin/kubelet-checker.sh, change sleep time to a large number (600s)
2. Create a pod and make sure it is assigned to the node you chose in step 1
3. kill kubelet process (kubelet process will be restarted automatically after > 5mins )
4. Check pod status, at the beginning, it is ContainerCreating/(or pending), af

[2016-06-30 23:08] vishh commented on #28313
https://github.com/kubernetes/kubernetes/pull/25899 introduces the ability to create new runtimes or possibly wrappers to existing runtimes. It should be fairly straightforward to isolate other resources.

[2016-06-30 23:15] Kapaski commented on #28098
Thanks for help @jlowdermilk , happy to close this issue.

[2016-06-30 23:17] davidopp commented on #28310
ref/ #19082

[2016-06-30 23:17] davidopp commented on #28311
ref/ #19082

[2016-06-30 23:17] davidopp commented on #28312
ref/ #19082

[2016-06-30 23:19] hongchaodeng commented on #27548
ref: #20572

[2016-06-30 23:23] fejta commented on #24343
My understanding is that the two biggest problems we face are:

1. merge thoughput
2. review latency

@lavalamp is leading an effort to address (1). I argue this effort is successful: http://submit-queue.k8s.io/#/e2e shows that merge rate, queue length and percentage of time the queue is open has dramatically improved. The evidence suggests this problem is solved for the current load. I am confide

[2016-06-30 23:31] smarterclayton commented on #26840
You're right, we're always mutating the annotation (to make it canonical),
even when it hasn't changed.  This one is tough - preventing init container
changes isn't the right solution, but the annotation should also be
preserved in canonical form if it hasn't changed.  Since this is an alpha
feature, and the plan is to move this to beta (and part of the structs)
soon, I'm not sure this has to be f

[2016-06-30 23:32] #25234 closed

[2016-06-30 23:32] yujuhong commented on #28318
This is working as intended.

- Node controller detects that the node has been inactive for > 5 minute, and evicts/deletes all pods assigned to the node.
- The pods are not managed by a replication controller/set, so no new pods will be created.

[2016-06-30 23:32] #28318 closed

[2016-06-30 23:34] smarterclayton commented on #28243
"singular" is the signal that the user asked for a single item, so we should return an error (instead of displaying empty lists).

[code]

[2016-06-30 23:36] #27849 closed

[2016-06-30 23:38] timstclair opened #28320 "Clean up node-e2e resources after tests run"
We can't currently use the same delete namespaces functionality of the cluster e2e tests since we're not running a controller manager. We should either run the controller manager for the node e2e's, or we should create another mechanism to cleanup after tests.

/cc @vishh @pwittrock @caesarxuchao

[2016-06-30 23:41] harlowja commented on #24343
I think those are good things to solve, but IMHO (and from what I believe is mine and others prior experience) they are nice but not sufficient in the long term.

[2016-06-30 23:52] janetkuo opened #28321 "kubectl should provide better error message when validation failed"
I found many users confused when they see this error message:

[code]

For most of them, the command just failed, and they don't know how to move on.

We should provide better error message, and communicate better what they should do next.

@kubernetes/sig-cli-feature-requests

[2016-07-01 00:05] mml opened #28322 "We need a style guide"
`gofmt` eliminates a lot of ambiguities, but they still come up.  One example is how we choose to stringify otherwise opaque objects.  That came up in #28134.

The issue relates a bit to usability (debug logs) and developer experience, but it's cross-cutting.

@bgrant0607 for lack of a more obvious target.

[2016-07-01 00:10] caesarxuchao commented on #25252
kubectl's "match-server-version" flag is default to false and in our repo it's set to true only in test-cmd.sh. I don't think many people set this flag in production, and even if they do, they expect kubectl to complain. So I think the fix is fine.

[2016-07-01 00:11] quinton-hoole opened #28324 "Cluster Federation e2e tests failing on Jenkins: Invalid value for 'entity.managedZone.dnsName': 'k8s-federation.com', invalid"
17:03:25 E0630 23:53:23.712061       1 controllermanager.go:128] Failed to start service controller: googleapi: Error 400: Invalid value for 'entity.managedZone.dnsName': 'k8s-federation.com', invalid

[2016-07-01 00:11] #28098 closed

[2016-07-01 00:14] spxtr commented on #28227
Sounds good.

[2016-07-01 00:25] bgrant0607 commented on #7660
@mikedanese @davidopp Please file more specific issues for remaining work.

[2016-07-01 00:25] #7660 closed

[2016-07-01 00:28] bgrant0607 commented on #27548
@hongchaodeng I think better use cases for multi-resource transactions are #1468 and #8625 -- uses that would be underneath the current API rather than exposed through the API.

[2016-07-01 00:37] quinton-hoole commented on #28324
cc: @nikhiljindal @madhusudancs @mml FYI

It seems like k8s-federation.com falls foul of the clouddns golang API parameter validation (even though this works through the clouddns command-line tool).  I'll have to register and use another test DNS zone.

[2016-07-01 00:49] #27120 closed

[2016-07-01 00:50] erictune opened #28325 "Make node upgrade able to use local binaries"
cluster/gce/upgrade.sh -N does not support local binaries. It has to upgrade to an official release.

This means that we cannot do a test of a node upgrade before we cut a release.  For 1.3.0, we had to cut an extra beta release just to have a release tarball on our release site in order to upgrade.

The scripts should be able to use a local build (this is possible for master upgrades already).

[2016-07-01 00:50] erictune commented on #28325
@david-mcmahon

[2016-07-01 00:52] xiangpengzhao commented on #28255
PR #28143 Jenkins GCE Node e2e failed due to this issue. Please help me to request a re-test after your PR #28323 being merged. Thanks @Random-Liu

[2016-07-01 00:58] saad-ali commented on #28214
Looks like this test flaked at 2016-06-28 20:47 PDT
A fix (https://github.com/kubernetes/kubernetes/pull/28160) was merged on 2016-06-29 01:33 PDT

Closing.

[2016-07-01 00:58] #28214 closed

[2016-07-01 01:00] thockin commented on #24343
There's also the issues of a) notification volume and b)
cohesion/discoverability.

To (a): It is IMPOSSIBLE to pay attention to the notification stream on the
mega-repo.  I tried for a long time, but gave up.  Practically, this means
there ARE issues being filed against a project for which I am an owner,
which I am not seeing.  This means there will inevitably be issues that
just ROT.  Bad.

To (

[2016-07-01 01:03] elsonrodriguez commented on #28205
@RobDeBagel Hey, sorry about that.

I think I got a fix, but I need your help to test it. I'm traveling and my cellular upload speeds are not so great.

Please take a look at this and let me know if it solves the issue:
https://github.com/elsonrodriguez/kubernetes/commit/8b08ff5b648de46c72f9500fb350e19d974cb036

[2016-07-01 01:16] fejta commented on #24343
I totally agree that (a) is a large source of the perceived problem of review latency and/or open->commit latency for PRs.

I believe you have been experimenting with some things here? And there are other ideas: we can programmatically assign issues and PRs to people in a better way; we can help people determine the current status of a given PR and whether the assignee needs to act on it.

My goal

[2016-07-01 01:21] saad-ali commented on #28081
This test failed while executing `kubectl exec`:

[code]

The test method [kubectlExecWithRetry()](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/framework.go#L637) currently retries on `i/o timeout`, it should also retry on `connection timed out`.

[2016-07-01 01:21] k8s-merge-robot opened #28326 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/10776/

Run so broken it didn't make JUnit output!

[2016-07-01 01:22] maisem commented on #27764
Upgrading the master to v1.3.0-beta.2.224+27e212baad161c fails. Well it doesn't complete.

Trying v1.3.0-beta.3.

[2016-07-01 01:32] maisem commented on #27764
Upgrading to v1.3.0-beta.3 works, will do one last verification when we cut v1.3.0.

[2016-07-01 01:39] thockin commented on #27489
I really like this attack.  OPen questions:

What IPs to use?  I think we have to use link-local addresses, or maybe we
can actually trick this into working with 127.0 addresses?

I don't think we want to do this for all SNAT packets - that will include
external traffic through load-balancers.  We could add a rule  to recognize
the packets from X to X and add another mark, though.

Not urgent prio

[2016-07-01 01:41] k8s-merge-robot opened #28327 "Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6076/

Failed: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27316 #27773

[2016-07-01 01:49] bprashanth commented on #27489
By "this" you mean the ip encap idea? @girishkalele I thought that didn't work because the connection was stateful so it dropped packets on the way back with martian source, did you actually figure that out? i agree that would be pretty cool.

[2016-07-01 01:51] saad-ali commented on #28010
Looks like a random environment failure:
[code]

Closing. Can reopen if we see this again for further investigation.

[2016-07-01 01:51] #28010 closed

[2016-07-01 01:56] caesarxuchao commented on #28320
There is no way to delete a namespace from the api server if there is controller manager is not running.

[2016-07-01 02:01] erictune commented on #27152
Concrete example of intersection:

- user rc-manager can read/write pods in all namespaces
- user eric can create read/write pods and secrets in namespace N
- rc-manager acting as eric can read/write pods in namespace N (and nothing else)

---

I'm not sure I follow deads's comment that "I grant someone the ability to create RCs, I shouldn't also have to grant them the power to create pod".  Do yo

[2016-07-01 02:05] Random-Liu commented on #28154
@javiercr Kubelet will only be restarted when it is not healthy, you should let supervisord restarts it to make your cluster more reliable.

In v1.2, the most frequent reason that causes kubelet to be restarted is docker hung because of some docker bug.

In v1.3, we add timeout to all docker operations, which should solve the problem. (More information: https://github.com/kubernetes/kubernetes/iss

[2016-07-01 02:06] devlina commented on #10396
Hi @vishh , eventer container is not able to start due to this:
[code]
top command says : KiB Mem:   4047456 total,  3884808 used,   162648 free
Do I need more memory in the system to run the heapster pod? or, something else is broken.

[2016-07-01 02:24] iT2afL0rd opened #28328 "Creating and terminating pods infinitely when deployment and rc have the same selector"
If you have a rc and then create a deployment for the rc(deployment and rc has the sample selector), the cluster will create and terminate pod infinitely.

[2016-07-01 02:36] vishh commented on #10396
The error seems to indicate that the memory limit for `eventer` is set to a
value that is lesser than `4MB`.

On Thu, Jun 30, 2016 at 7:07 PM, devlina <notifications@github.com> wrote:

[2016-07-01 03:04] #27582 closed

[2016-07-01 03:27] quinton-hoole commented on #28324
Now I'm confused:

9:49:41 E0701 02:40:49.542354       1 controllermanager.go:128] Failed to start service controller: googleapi: Error 400: Invalid value for 'entity.managedZone.dnsName': 'ubernetes.io', invalid

This works just fine locally.

[2016-07-01 03:34] bgrant0607 commented on #28322
Thanks, @mml. Yes, we need a style guide. This is "contributor experience".

cc @pwittrock @grodrigues3

[2016-07-01 03:35] chowyu08 opened #28330 "grafana no pods monitor information"
Docker Version - 1.11.2
Kubectl Version - 1.2.4
I create heapster, influxdb, grafana to monitor kubernetes , by kubectl create -f  ./cluster/addons/cluster-monitoring/influxdb
file from :  https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-monitoring/influxdb
I can access grafana, kube status and influxdb (the latter by appending :http to the url ) ,but I cannot access the

[2016-07-01 03:39] girishkalele commented on #27489
@thockin @bprashanth

It worked on the way from A to B, it routed packets to the second routing table, injected them into the tunnel and then back from the other end of the tunnel, then DNAT to the cbr0 ->veth B.

With the SYN response however, conntrack failed to match the packets to the flow, so they couldn't SNAT on the way back...I didn't investigate further though, it might be possible to fix

[2016-07-01 03:48] thockin commented on #27489
You resused their addresses - how does that even work?

On Thu, Jun 30, 2016 at 8:40 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-01 03:59] girishkalele commented on #27489
Yes, GRE tunnels must specify a local interface ip as local address. In this case, we just create two tunnels pointing between two local IPs on the node. The tunnels themselves have no ips - they are just point-to-point links.

[code]

Gist: https://gist.github.com/girishkalele/905e5e4a260e9c88cbce1504caa8fc99

[2016-07-01 03:59] k8s-merge-robot opened #28332 "[k8s.io] Pods should be restarted with a docker exec "cat /tmp/health" liveness probe [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19481/

Failed: [k8s.io] Pods should be restarted with a docker exec "cat /tmp/health" liveness probe [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-01 04:02] madhusudancs commented on #28324
@quinton-hoole I would like to debug this, could you please add me to the GCE project where these jobs run?

[2016-07-01 04:04] thockin-cc commented on #27489
Won't that encap all traffic between eth0 and cbr0?

On Thu, Jun 30, 2016 at 9:00 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-01 04:06] quinton-hoole commented on #28324
@madhusudancs This is in the Jenkins e2e test.  The problem, I suspect, this the lack of a trailing '.' in the DNS name.

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-federation/

[2016-07-01 04:07] quinton-hoole commented on #28324
@madhusudancs The GCE project is k8s-jkns-e2e-gce-federation

[2016-07-01 04:09] madhusudancs commented on #28324
Yeah, likely. Also the managed zone names on the project have a trailing dot (did you add now?).

[2016-07-01 04:10] quinton-hoole commented on #28324
@madhusudancs No, clouddns adds the trailing dot automatically.
The problem is almost definitely that controller manager is looking for the name without the trailing dot, and can't find it.

[2016-07-01 04:11] quinton-hoole commented on #28324
@madhusudancs My local setup has the controller manager configured with the trailing dot and it works.  Much appreciated if you could fix the config that get fed through to Jenkins.

[2016-07-01 04:14] quinton-hoole commented on #28324
Actually @madhusudancs don't worry, I'll sort it out now.

[2016-07-01 04:17] madhusudancs commented on #28324
@quinton-hoole alright, thanks!

[2016-07-01 04:20] madhusudancs commented on #28324
@quinton-hoole also, when you do that could you also please revert back this - https://github.com/kubernetes/test-infra/pull/249?

[2016-07-01 04:27] quinton-hoole commented on #28324
@madhusudancs Yes, done in https://github.com/kubernetes/test-infra/pull/251.

It would be great if you could LGTM that for me now.

[2016-07-01 04:30] madhusudancs commented on #28324
@quinton-hoole Done.

[2016-07-01 04:31] #28324 closed

[2016-07-01 04:35] johanhaleby commented on #28290
@jlowdermilk Thanks for your reply. Yes we have resource limits which had to be increased significantly because of this issue for us to even start the pod:

[code]

With a 1 core machine the resource limit was set to 384Mb but when deploying it to a 2 or 4 core machine type it wouldn't start due to OOM issues (it was killed by the kubelet since it consumed too much memory).

Do you mean the Java a

[2016-07-01 04:40] quinton-hoole opened #28335 "Don't require a trailing '.' in federation-controller DNS zone"
See https://github.com/kubernetes/kubernetes/issues/28324

[2016-07-01 04:41] quinton-hoole commented on #28335
@madhusudancs FYI :)

[2016-07-01 04:43] k8s-merge-robot opened #28336 "kubernetes-e2e-gke-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5992/

Run so broken it didn't make JUnit output!

[2016-07-01 04:43] k8s-merge-robot opened #28337 "[k8s.io] DNS should provide DNS for pods for Hostname and Subdomain Annotation {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13104/

Failed: [k8s.io] DNS should provide DNS for pods for Hostname and Subdomain Annotation {Kubernetes e2e suite}

[code]

[2016-07-01 04:49] devlina commented on #10396
Oh I mixed up `m` and `Mi`. Will fix it. Thank you.

[2016-07-01 05:23] nqn commented on #28316
@vishh It's not SLO issues seen in the current Kubernetes implementation. I think @balajismaniam is referring to it as a general issue as in SLO violations when co-locating latency critical services with sub millisecond response time requirements. Classic noisy neighbor problems with a mix of OS and hardware resource congestions[1][2]. Use case being scheduling memcached on Kubernetes and safely c

[2016-07-01 05:59] thockin commented on #28317
This one.  I think `type KeyToPath` is what you want.  I'd be OK with a mode field, but I expect we'll eventually grow a userID and groupID, so if you want to implement those, that would also be OK, but we need to intersect it with FSGroup.  And it all needs sane defaults.  We may also want a `PodSecurityContext.UMask field` which bounds the default file mode.

As for how to write a proposal - thi

[2016-07-01 06:20] #28221 closed

[2016-07-01 06:42] k8s-merge-robot opened #28339 "[k8s.io] Deployment deployment should delete old replica sets {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10295/

Failed: [k8s.io] Deployment deployment should delete old replica sets {Kubernetes e2e suite}

[code]

[2016-07-01 06:47] wernight commented on #24925
Yes you're right. Ok so there is only the `XXXm` notation. That was actually my question (updating my own doc).

[2016-07-01 06:54] #25252 closed

[2016-07-01 07:27] thockin commented on #23273
http://yaml.org/spec/ ?

On Tue, Jun 28, 2016 at 2:06 AM, Jian Zhang <notifications@github.com>
wrote:

[2016-07-01 07:35] johanhaleby commented on #28290
The problem was indeed with the JVM settings. We started our JVM like this:

[code]

but when we switched to:

[code]

the settings were taken into account. I still don't understand why I didn't saw this locally though but I'm just glad we managed to resolved it. Thanks for your help.

[2016-07-01 07:35] #28290 closed

[2016-07-01 07:36] sdminonne commented on #25067
+1 this will help in our major use case.
Obviously I would prefer the second one, eventually renaming `ScheduledJob` to something more generic or at least less `Job`-oriented. Internally we've a `TimeInitiatedActivity` entity which is pretty similar.

[2016-07-01 07:37] sdminonne commented on #25067
@timstclair FYI

[2016-07-01 07:47] k8s-merge-robot opened #28341 "[k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should not be able to pull from private registry without secret {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/5640/

Failed: [k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should not be able to pull from private registry without secret {E2eNode Suite}

[code]

[2016-07-01 07:55] akostadinov commented on #28243
@smarterclayton , besides singular, we need to also account for "specific". I liked most the idea to be like `ls`. Show a list of items that were found but print on **stderr** error messages and return non-zero status.

[2016-07-01 08:04] Random-Liu commented on #28341
Same with https://github.com/kubernetes/kubernetes/issues/28255, the fix is under review https://github.com/kubernetes/kubernetes/pull/28323.

[2016-07-01 08:27] k8s-merge-robot opened #28342 "[k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10300/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26139

[2016-07-01 08:47] k8s-merge-robot opened #28343 "[k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10301/

Failed: [k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}

[code]

Previous issues for this test: #28069 #28168

[2016-07-01 09:01] prasenforu commented on #19171
@ yossi-cohen,
I was looking for this type solution (hostNetwork: true) but this I am not scale UP more than 1 container in each host.

[2016-07-01 09:17] Trane9991 commented on #28278
@bprashanth  @jlowdermilk
This is very nice feature, but I'm running on the GCE which is 1.2.4 Kubernetes version, and can't try it out :(
Thank you!

[2016-07-01 09:27] Trane9991 opened #28345 "Feature: LifnessProbe based on parsing log."
Would be very nice to have feature of Lifness/Readness Probe based of pod logs.

For example: Mark pod as unhealthy if "Started" not appeared in the logs in the 30 sec period duting pod start.

[code]

or checking some periodically log to ensure application is working

[code]

Thank you.

[2016-07-01 09:37] gmarek commented on #27444
Can we just have latest-not-amd64.txt specially for this case? I think we should do absolutely everything we can to make it as fast as possible, as long as it doesn't compromise the test coverage in the long run (i.e. as long as we block SQ no more than small X hours after the regression).

[2016-07-01 10:05] kargakis commented on #28067
@yujuhong thanks, can you re-assign this to the rightful owner?

[2016-07-01 10:16] k8s-merge-robot opened #28346 "[k8s.io] Events should be sent by kubelets and the scheduler about pods scheduling and running [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10305/

Failed: [k8s.io] Events should be sent by kubelets and the scheduler about pods scheduling and running [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-01 10:44] AdoHe commented on #28314
@kubernetes/kubectl

[2016-07-01 10:51] AdoHe commented on #28225
@geriBatai I think you should use `kubectl apply` to create the original resource, please give a try.

[2016-07-01 10:56] AdoHe commented on #28115
Then I think there are two issues we need to track: 1. `--grace-period` option should be ignored or just returns error if users are not using `--force` option. 2. `kubectl replace --force` should always make sure the old resource has been deleted before create the new resource.

[2016-07-01 11:03] geriBatai commented on #28225
@AdoHe I'm not really following. There's a bug somewhere in apply diff code (my naive understanding on the issue says that "name" is dropped somewhere because it's optional for a single port) so it wouldn't matter whether you apply or create the first object.

You can always work around issues, e.g. use `kubectl patch`, but that's not what this ticket is about.

[2016-07-01 11:16] k8s-merge-robot opened #28348 "[k8s.io] Deployment deployment should support rollback {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10308/

Failed: [k8s.io] Deployment deployment should support rollback {Kubernetes e2e suite}

[code]

[2016-07-01 12:24] soltysh opened #28349 "Extended CronJob with the ability to create generic objects"
This is taken from https://github.com/kubernetes/kubernetes/issues/25067#issuecomment-229721345:

[2016-07-01 12:24] deads2k commented on #27152
I would deny them from creating pods directly.  The RC/pods example makes it a little less clear since one covers the other, but one reason for creating a second API is to create a curated sub-set of functionality from some larger component.  Allowing access to the smaller API can result in an escalation to perform work that the user doesn't have the power to perform.

I'm also not convinced that

[2016-07-01 12:25] soltysh commented on #25067
:+1: for the generic template idea. I've created https://github.com/kubernetes/kubernetes/issues/28349 to handle that one as soon as we have SJ in.

[2016-07-01 12:31] deads2k commented on #28314
I don't speak jsonpath, but with a golang template:
`kubectl get secrets -o go-template='{{ range .items }}{{ .metadata.name }}    {{ .type }}{{ "\n" }}{{ end }}'`

[2016-07-01 12:48] agustincastanio commented on #14170
@biswars I hope this helps:

[code]

[2016-07-01 12:53] cristifalcas opened #28350 "scheduler and controller-manager stop after problems with etcd cluster"
We are using kubernetes 1.2.5 and we noticed that if there are issues with the etcd cluster, the scheduler and controller-manager are dying.

We tested this by blocking access to 2 of our 3 node cluster. After a while (maximum 5 minutes) we found both the scheduler and controller-manager down.

Those are the logs from scheduler:

[code]

And from controller-manager

[code]

From my understanding o

[2016-07-01 12:54] Zapadlo commented on #12533
I don't know if I'm seeing the same thing or its an unrelated issue:

[code]

[code]

[code]

[code]

[2016-07-01 13:04] noose commented on #25368
What about this one? If we can't use AWSElasticBlockStore in multi-az deployment then Kubernetes is not production ready :(

[2016-07-01 14:24] ddska commented on #28185
I started using insecure mode because of this bug: https://github.com/kubernetes/kubernetes/issues/24086
I'm working on front-end part and need CORS headers. So I'm using http just for development.
I turned insecure mode on using flags mentioned above, but I didn't remove secure bindings and port. So https mode works too.

[2016-07-01 14:33] justinsb commented on #25368
@noose let's keep marketing statements out of the issue tracker ;-)  You can use EBS volumes with persistent volumes in multiple AZs today, and they will be scheduled correctly.  With PetSets in 1.3, PetSets automatically create EBS volumes span the available zones and everything is scheduled correctly.

This issue is about better surfacing the error for a particular case: when specifying an EBS v

[2016-07-01 14:35] nunoh commented on #16047
+1 for this too

[2016-07-01 14:45] timstclair commented on #25067
@timothysc

[2016-07-01 14:53] ahuffman commented on #27442
I'm working with RedHat support to get to the bottom of how to properly generate the certs with openssl.  I'll be providing the solution as soon as we have a fix that could be moved into the docs.

[2016-07-01 15:11] justinsb commented on #25368
@noose that's great.  Be sure to check out the dynamic volume stuff as well if you haven't already seen it (it's on that same multizone page).  It saves you having to create the EBS volumes in the EC2 API, and just creates them for you.

[2016-07-01 15:14] smarterclayton commented on #28260
Possibly one option would be split the token out into its own file if we're rapidly updating it, and reference it from the config file via path.

[2016-07-01 15:34] balajismaniam commented on #28316
Thanks, @nqn. @vishh I was referring to the SLO issues that @nqn has described above.

[2016-07-01 15:35] gmarek opened #28356 "Daemons started on master node are not reachable"
In v1.2.5 Daemon Pods are started on master machine, which is Unschedulable (this may be a problem, or not - I'm not certain what the decision was). For some reason Pod that is started on master machine is not reachable from other machines (it's reachable from master though). After upgrade to v1.3.0-beta.3 problem persists.

Repro:
- start a cluster (certainly from 1.2 branch, but I think it'll wo

[2016-07-01 15:55] erictune commented on #27152
Some second APIs do what you said (provide controlled access to powerful
actions).    Other second APIs just provide automation of tasks a user
could do (if they didn't need sleep).  Like RCs.

On Jul 1, 2016 5:25 AM, "David Eads" <notifications@github.com> wrote:

"I grant someone the ability to create RCs, I shouldn't also have to grant
them the power to create pod". Do you mean you want to prev

[2016-07-01 15:57] gmarek opened #28357 "Disable running node e2e on release branch PRs"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28354/node-pull-build-e2e-test/12888/

cc @fejta @dchen1107

[2016-07-01 16:02] dchen1107 commented on #28357
Rantao, can you take a look at this one?

[2016-07-01 16:02] quinton-hoole opened #28358 "Federation e2e tests failing on Jenkins: Failure to resolve service DNS names"
4 out of 6 federation e2e tests are now passing consistently on Jenkins, but both of the DNS tests are failing to resolve even local federated service DNS names.  It smells like a KubeDNS misconfiguration issue, although that's still just a guess.  The clouddns names seem to be getting populated correctly.
These tests are all passing on dev test clusters, so I strongly suspect this to be a bug in

[2016-07-01 16:06] k8s-merge-robot opened #28359 "[k8s.io] Mesos applies slave attributes as labels {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10321/

Failed: [k8s.io] Mesos applies slave attributes as labels {Kubernetes e2e suite}

[code]

[2016-07-01 16:16] k8s-merge-robot opened #28360 "kubernetes-verify-master: broken test run (googlesource.com 502s)"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/787/

Run so broken it didn't make JUnit output!

[2016-07-01 16:20] stensonb commented on #27884
To keep a record of where we're at: two days ago (June 29th), we upgraded all of our nodes to CoreOS 1010.6.0.

We haven't seen any issues since the upgrade (though, the problem is intermittent -- so I'm not sure it's been "fixed").

[2016-07-01 16:31] erictune opened #28361 "problem with upgrading nodes"
Reported by @fgrzadkowski when attempting a 1.2.5->1.3.0-beta.3 upgrade test.
Nodes cannot register as apiserver is returning 415 error code
[code]

[2016-07-01 16:31] erictune commented on #28361
@dchen1107

[2016-07-01 16:33] erictune commented on #28361
Never mind, filip later realized that this was due to upgrading nodes before master by accident, which is not expected to work under our current upgrade SLA.

[2016-07-01 16:33] #28361 closed

[2016-07-01 16:34] erictune opened #28362 "After upgrading nodes they are marked as "NetworkUnavailable""
[code]

[2016-07-01 16:35] erictune commented on #28362
@dchen1107

[2016-07-01 16:35] Random-Liu commented on #28357
@dchen1107 Sure. :)

[2016-07-01 16:35] erictune commented on #28362
After upgrading 1.2.5 to 1.3.0-beta.3

[2016-07-01 16:36] dchen1107 commented on #28103
@shayderi based on the information you provided, you are running kubernetes 1.1.7 release. We introduced stats/summary API in 1.2 release, which includes pod related metrics. Before 1.2, only container level metrics are exported, but you can "reverse engineer" pod metrics through labels and container metrics. I think your issue has nothing to do docker.

[2016-07-01 16:36] erictune commented on #28362
@Random-Liu

[2016-07-01 16:38] erictune commented on #28362
@fgrzadkowski found this during upgrade testing.

[2016-07-01 16:39] mikedanese commented on #28356
I wonder if this is a problem with pods in general.

[2016-07-01 16:44] girishkalele commented on #27489
Yes, but only the traffic going to the tunnel interface gets encapsulated using the eth0 and cbr0 IPs as the outer IP header.
If this laundry scheme can get past conntrack issues, it would be best to create two loopback interfaces with 127.0.1.x addresses to use for the tunnel so that we don't depend on the eth0 and cbr0 interfaces.

[2016-07-01 16:44] ncdc commented on #28051
Related #25811

[2016-07-01 16:45] gmarek commented on #28356
I don't know who knows anything about master network. @thockin?

[2016-07-01 16:46] dchen1107 commented on #28362
@fgrzadkowski From the logs you posted above, looks like the route is created ("already exists, alreadyExists"), routecontroller marked this as NetworkUnavailable wrongly.

On upgrading a node, is the existing route removed? If no, routecontroller should tolerate the RouteExist error simply.

[2016-07-01 16:48] dchen1107 commented on #28362
I currently marked it as 1.3 milestone blocker. @Random-Liu could you please conform the issue and fix it if yes? Thanks!

[2016-07-01 16:51] Random-Liu commented on #28362
@dchen1107 Sure, I'll look into it.

[2016-07-01 16:52] mikedanese commented on #28356
Another question, do pods allocated on the master and not on the host network have connectivity connectivity before the restart?

[2016-07-01 16:52] mikedanese commented on #28356
@freehan has been working on this.

[2016-07-01 17:12] thockin commented on #28356
Why are pods running on the master?  That seems like a disastrously bad assumption.  The master may or may not have a link to the "real" pod network.

[2016-07-01 17:20] mikedanese commented on #28356
@thockin that appears to be the case. At least on GCI, the kubelet flags on the master specify a --pod-cidr that doesn't match the route created by the route controller. I'm bringing up a v1.2.5 cluster now.

I don't know what you are referring to when you say "disastrously bad assumption". Knowing the caveats, this is a useful feature. Adding a taint to the master once NoScheduleNoPlace policy is

[2016-07-01 17:28] bprashanth opened #28364 "gke 1.3 test clustster failing bringup because build images not found"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress-release-1.3/720/consoleFull
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-1.1-1.3-upgrade-cluster/
[code]

gce-1.3 seems fine
@kubernetes/goog-testing

[2016-07-01 17:29] yujuhong commented on #28067
Let's just close this as a dup of #25277

[2016-07-01 17:29] #28067 closed

[2016-07-01 17:31] Random-Liu commented on #28362
There seems to be some kind of race, the route is created again right after successfully created:
[code]
And report error forever.

[2016-07-01 17:32] mml commented on #27744
And also flag values.

[2016-07-01 17:34] thockin commented on #28356
I think there's a difference between a "drained" node and the master.  We
don't make that distinction.  No user pod should "accidentally" run on the
master.  In situations like GKE it just WILL NOT work.

On Fri, Jul 1, 2016 at 10:21 AM, Mike Danese <notifications@github.com>
wrote:

[2016-07-01 17:35] erictune commented on #28364
Raising prio as this is blocking release.

Dawn said that she has seen this problem before, and thinks it may be a race in the test infra.
Or a GCR.io issue.

[2016-07-01 17:35] erictune commented on #28364
@david-mcmahon

[2016-07-01 17:38] dchen1107 commented on #28364
Yes, I saw this before due to some version screw issue in the test infra.

[2016-07-01 17:38] bprashanth commented on #28364
@kubernetes/goog-gke since http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-release-1.3/ seems ok

[2016-07-01 17:38] roberthbailey opened #28365 "Remove the defer calls that catch panics"
They tend to hide bugs in production: software crashes make it really clear when there is a problem; catching panics papers over the issue and makes it more difficult for monitoring systems to catch failures.

/cc @lavalamp @krousey

[2016-07-01 17:39] freehan commented on #27498
True. This one is slightly different. I think deadlock on `lo` interface also showed up before.

[2016-07-01 17:40] lavalamp commented on #28365
SGTM, they're no longer useful since we run apiserver with kubelet and it'll restart.

[2016-07-01 17:43] erictune commented on #28364
This seems like it could be an infra failure (build or GCR) because tests initially passed with the latest commits on the branch but then started failing.

[2016-07-01 17:43] erictune commented on #28364
@david-mcmahon pointed this out.

[2016-07-01 17:45] girishkalele opened #28366 "Improve kubedns QPS to be closer to GCE DNS server performance"
Ran a DNS performance test against the kubedns pod vs the native GCE DNS server.
kubedns performance was only around 10% that of going directly to the GCE DNS at "169.254.169.254".

The single kubedns pod seems to max out at around the same performance as provided by the GCE DNS to each unique IP address. Since all 10 Pods are running the same query-file, we would expect the dnsmasq caching would

[2016-07-01 17:47] yujuhong commented on #27498
Haven't seen any new occurrence since #28299 landed. We'll know in a day or so whether this problem has been fixed.

[2016-07-01 17:48] yujuhong commented on #27884
@stensonb thanks for keeping us posted! It'd be good to know if the new CoreOS update solved the issue.

[2016-07-01 17:51] cjcullen commented on #28260
Yeah, that was the original plan. Then you are back in the "multiple files for config" world, but maybe that's okay for just the automatically-refreshed token case. For the general case (being able to persist config for a specific auth-provider), it's still nicer to have all config in one place.

[2016-07-01 17:52] david-mcmahon commented on #28364
224+27e212baad161c landed in Job #969 on http://kubekins.dls.corp.google.com/view/CI%201.3/job/kubernetes-e2e-gke-release-1.3/ and stayed green until Job #974 and then it fell over (between 6:25pm and 6:44pm PDT)

[2016-07-01 17:56] erictune commented on #28364
Specifically, from http://kubekins.dls.corp.google.com/view/CI%201.3/
I see these failures:
- kubernetes-e2e-aws-release-1.3 : failing since before we cut beta.3
- kubernetes-e2e-gce-master-on-cvm : I don't understand what version this is running
- [kubernetes-e2e-gke-reboot-release-1.3](http://kubekins.dls.corp.google.com/view/CI%201.3/job/kubernetes-e2e-gke-reboot-release-1.3/lastSuccessfulBuild

[2016-07-01 17:56] matchstick opened #28367 "Storage streaming write e2e test (graceful and non)"
@kubernetes/sig-storage
Our current tests in pd.go are lacking a way to exercise both large streaming writes (as if to a log file) and  big data movement in general. Also once we add these larger writes we should delete pods while they are writing both gracefully and ungracefully.

[2016-07-01 17:57] dvohra opened #28368 "requiredDuringSchedulingIgnoredDuringExecution not ignored"
For node affinity in node selection the requiredDuringSchedulingIgnoredDuringExecution nodeAffinity setting is supposed to ignore any modifications made during runtime. But, if a Pod is pending due to unavailability of a suitable node as no node with a matching label exists, and a node is made suitable by updating a node's label during runtime, the pending Pod starts running. Is the requiredDuring

[2016-07-01 17:57] markine opened #28369 "log rotation on node breaks kubectl logs --follow / docker logs --follow"
Hello,

There is an [upstream problem with docker's json-file log driver](https://github.com/docker/docker/issues/23913). The command 'docker logs --follow' (and subsequently 'kubectl logs --follow') stops generating log output when the node that hosts the given container rotates the container logs.

**Environment:**

Running kubernetes 1.2.4 on AWS.

**Impact**

logspout or other tools that rely

[2016-07-01 17:59] mikedanese commented on #28356
GKE master kubelets are not registered so this could never happen in GKE. If a user chooses to register the master kubelet, they are opting into a mode where the master can run allocations like any other node. This obviously has some caveats, like if you want those pods to be able to talk to pods on other nodes you need to correctly configure the master bridge. What you get is kubectl logs, heapst

[2016-07-01 18:06] mikedanese commented on #28356
We traditionally enable alpha and expert features in GCE and not other platforms because if we don't, they don't get tested.

[2016-07-01 18:07] david-mcmahon commented on #28364
So if we assume all of the HEAD failures that occurred on the branch after `224+27e212baad161c` was already can be discounted (I'd still like to figure this out), then we're dealing with just kubernetes-e2e-gke-serial-release-1.3 looking bad with `224+27e212baad161c` and it's a long list of failures:
http://kubekins.dls.corp.google.com/view/CI%201.3/job/kubernetes-e2e-gke-serial-release-1.3/146/

[2016-07-01 18:13] erictune commented on #28364
What is weird is that at least one test passes at 224+27e212baad161c but fails at 1.3.0-beta3

[2016-07-01 18:14] girishkalele commented on #28366
cc @bprashanth @thockin @ArtfulCoder

[2016-07-01 18:17] erictune commented on #28364
Compare:
- http://kubekins.dls.corp.google.com/view/CI%201.3/job/kubernetes-e2e-gke-release-1.3/974/consoleFull
  - passed
  - `GitVersion:"v1.3.0-beta.3"`
- http://kubekins.dls.corp.google.com/view/CI%201.3/job/kubernetes-e2e-gke-release-1.3/975/consoleFull
  - failed
  - `GitVersion:"v1.3.0-beta.2.224+27e212baad161c"`

[2016-07-01 18:18] erictune commented on #28364
So, the only different is changing the version tag.

[2016-07-01 18:19] janetkuo commented on #13621
@osterman `--show-all` is only relevant to pods (i.e. either hides/displays terminated pods). If you want those "terminated" RSes (we call them old RSes) be gone (garbage collected), and I assume they're created by a "supernova" Deployment, you can set the Deployment's [`.spec.revisionHistoryLimit`](http://kubernetes.io/docs/user-guide/deployments/#revision-history-limit) to determine how many old

[2016-07-01 18:19] erictune commented on #28364
Was this caused by asking @ixdy to restart those jenkinses?

[2016-07-01 18:22] maverick-racheal opened #28370 "kubernetes metadata not added to logs generated from fluentd."
We are using the td-agent.conf from https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/td-agent.conf and the logs are mounted at  varlog inside the fluentd docker container.

<POD-NAME>-_default_controller-manager-c2f07985a124ff0a46c0c41ee468ad6e5f63a7615b1b1445523c5bc9293d294e.log
<POD-NAME>-_default_scheduler-a41d0a71e91ec5751284a1200a4cc23

[2016-07-01 18:23] roberthbailey commented on #28364
Have there been any commits to the release branch since we cut the beta3 release last night? In the past, we've sometimes seen issues where tests will fail until the first commit is pushed to the branch *after* a release has been cut.

[2016-07-01 18:25] maverick-racheal commented on #28370
The missing part is the kubernetes metadata which is added by the fluent-plugin-kubernetes_metadata_filter plugin. This plugin is added in the Docker file of fluentd.
{"log":"2016-07-01 18:06:26 +0000 [info]: gem 'fluent-plugin-elasticsearch' version '1.5.0'\n","stream":"stdout","time":"2016-07-01T18:06:26.88984336Z"}
{"log":"2016-07-01 18:06:26 +0000 [info]: gem 'fluent-plugin-kubernetes_metadata

[2016-07-01 18:25] dharmisha commented on #6342
I am not able to run the kubectl exec on my kubernetes cluster which is on ubuntu and it just gives an error , upgrade request required. Is there a way to make kubectl exec work?

[2016-07-01 18:26] k8s-merge-robot opened #28371 "[k8s.io] Kubectl client [k8s.io] Simple pod should support port-forward {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10327/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support port-forward {Kubernetes e2e suite}

[code]

[2016-07-01 18:26] freehan commented on #28356
The network route is not created for master. I thought that was intentional, no? You want to restrict access to master right? Plus there is no kube-proxy on master.

[2016-07-01 18:28] janetkuo opened #28373 "Better way to communicate deployment's RS garbage collection"
I've seen many users find it confusing. It seems that just documenting ideas about `.spec.revisionHistoryLimit` isn't enough. The help text of `--show-all` may be confusing too (`When printing, show all resources (default hide terminated pods.)`).

An example of user confusion: https://github.com/kubernetes/kubernetes/issues/13621#issuecomment-229171096

How may we make this more intuitive in term

[2016-07-01 18:31] janetkuo commented on #13621
I should say, it's only relevant to pods for now. https://github.com/kubernetes/kubernetes/pull/27510 is planning to hide 0 replica RSes by default.

[2016-07-01 18:32] erictune commented on #28364
That must relate to the image pull errors.

[2016-07-01 18:35] ncdc commented on #6342
@dharmisha would you mind asking your question in StackOverflow? This issue was about nsenter vs docker exec.

[2016-07-01 18:39] cjcullen commented on #27401
All of these appear to be failures to get pods running. I'm trying to pick at live clusters as they are going by.

[2016-07-01 18:39] dvohra opened #28376 "another-annotation-key: another-annotation-value with preferresDuringSchedulingIgnoredDuringExecution"
Kubernetes version 1.2.5
Kubectl 1.2.5
Multi node cluster
Multi etcd cluster

If _nodeAffinity_ is set to _preferresDuringSchedulingIgnoredDuringExecution_ and the _another-annotation-key: another-annotation-value_ is also set, according to documentation "In addition, among nodes that meet that criteria, nodes with a label whose key is another-annotation-key and whose value is another-annotation-v

[2016-07-01 18:39] mml commented on #27744
#28374 is the same thing but adds flags.

[2016-07-01 18:40] freehan commented on #28038
Can you confirm if it is still a problem for you?

[2016-07-01 18:41] ixdy commented on #28364
CI builds aren't pushed to gcr.io - so something like `gcr.io/google_containers/kube-
proxy:c7973d967d2273e7856e5471b8c82a7b` is side-loaded, at least for GCE. I don't know how cluster deployment for GKE CI works.

[2016-07-01 18:44] dchen1107 commented on #28362
One question: If there is such race issue, it should happen no matter upgraded or newly created clusters. Why we never see this before? I am questioning on @fgrzadkowski's test now.

[2016-07-01 18:44] erictune commented on #28364
That explains why:
[code]
when I try from my laptop.

[2016-07-01 18:45] dchen1107 commented on #28362
@Random-Liu is trying to reproduce the issue for a while, and will update the test result quickly.

[2016-07-01 18:45] ixdy commented on #28364
Right, we don't push those tags to gcr.io.

[2016-07-01 18:48] cjcullen commented on #27401
One of the failures is the nettest Pod failing to schedule on one of the 3 nodes. From the `docker.log` on that node:
[code]

[2016-07-01 18:49] ixdy commented on #28364
Did anything change on GKE side yesterday?

[2016-07-01 18:53] ixdy commented on #28364
hm, though the other GKE CI builds (on master) are unaffected. This is strange.

[2016-07-01 18:55] cjcullen commented on #27401
It looks like it is one node that becomes unable to start pods. In this case gke-jenkins-e2e-default-pool-120e62cd-r75t

[2016-07-01 18:56] cjcullen commented on #27401
I'm also seeing some filesystem layer verification errors:
[code]

[2016-07-01 19:01] Random-Liu commented on #28362
Here is the node status during the test:

1) At 1.2.5
**kubernetes-master:**
[code]
kubernetes-minion-5r0m:
[code]
kubernetes-minion-a2xp:
[code]
kubernetes-minion-q9ar:
[code]

**2) Upgrade master to 1.3.0-beta.3**
kubernetes-master: (**happened once**)
[code]
kubernetes-minion-5r0m:
[code]
kubernetes-minion-a2xp:
[code]
kubernetes-minion-q9ar:
[code]
**3) Upgrade node to 1.3.0-beta.3**
kubernete

[2016-07-01 19:11] osterman commented on #13621
@janetkuo thanks! Didn't know about `.spec.revisionHistoryLimit `. That was something else we wanted

[2016-07-01 19:12] mml commented on #28364
We don't log the gcloud commands we issue.  It looks like, among other things, the tag change affects the --cluster-version flag we hand to gcloud container clusters create.

I don't have permission to access the project, but I wonder if we can simply examine the objects created by the current in-progress test to see if they all make sense.

[2016-07-01 19:14] dchen1107 commented on #28362
Based on @Random-Liu's test, I think this is a red herring. I removed 1.3 milestone from it and dropped the priority to P1.

[2016-07-01 19:15] osterman commented on #28373
I think by default the `get` command should hide resources that are inactive and then the `--show-all` command generalized to work across resource types. If that's unreasonable, then the `--show-all` flag should be renamed to `--show-all-pods`.

[2016-07-01 19:16] erictune commented on #28364
@maisem tells me that the way that images are loaded may be different on GKE (vs GCE) for beta vs x.y.z releases.

Also, someone in the GKE meeting just now said that there is sometimes a problem with the test infra when there is a release tag with no commits after it.  We might need to push a whitespace change to the branch.

[2016-07-01 19:21] thockin commented on #28356
Yeah, I think the idea that master can run user-pods is something that
should be explicitly chosen, not accidental.  At least, as long as we have
"master nodes".

On Fri, Jul 1, 2016 at 11:27 AM, Minhan Xia <notifications@github.com>
wrote:

[2016-07-01 19:26] mikedanese commented on #28356
Ok. Closing since this is the intended behavior

[2016-07-01 19:26] #28356 closed

[2016-07-01 19:28] #28255 closed

[2016-07-01 19:29] ixdy commented on #28364
kube-proxy looks OK:
[code]

We're missing other pods?

[2016-07-01 19:30] rondinelisaad commented on #22351
To get the default toker secret execute:
sudo kubectl get secrets  --all-namespaces
the result will be something like this:
NAMESPACE       NAME                  TYPE                                  DATA      AGE
calico-system   default-token-jon84   kubernetes.io/service-account-token   3         5m
default         default-token-cqe56   kubernetes.io/service-account-token   3         4m
kube-sys

[2016-07-01 19:33] bprashanth commented on #28364
Where is that from?

The last run of http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-release-1.3/1010/consoleFull

has
[code]

[2016-07-01 19:34] thockin commented on #19171
If you use the host network, then you can't have multiple instances on a
node with statically assigned ports, obviously.  They will collide.  Is
that what you're describing?

On Fri, Jul 1, 2016 at 2:02 AM, prasenforu <notifications@github.com> wrote:

[2016-07-01 19:34] ixdy commented on #28364
That was from the k8s-jkns-gke-serial-1-3 project, though the cluster just turned down.

I think those error messages are red herrings; they only appear while the cluster is still being turned up and images are being loaded.

[2016-07-01 19:40] ixdy commented on #28364
Looking at gke-slow-1.3 now. Same thing:

[code]

[2016-07-01 19:45] ixdy commented on #28364
Also curious:
[code]

Compare to the GKE CI job on master branch:
[code]

[2016-07-01 19:45] bprashanth commented on #28364
It's only waiting for 6 pods and at the end I see 6 pods running/ready, the tests should start without addons (some might fail without DNS). Although figuring out why the addons weren't created might be a clue.

[2016-07-01 19:50] roberthbailey commented on #28364
thanks @ixdy -- that clearly points the finger at the addons as the problem. I think the messages about side loading kube-proxy may have been a red-herring....

[2016-07-01 19:55] ncdc commented on #28376
It looks like maybe you have a typo? `preferresDuringSchedulingIgnoredDuringExecution` should be `preferredDuringSchedulingIgnoredDuringExecution` (preferre**d**, not preferre**s**). Or are you using `preferredDuringSchedulingIgnoredDuringExecution` and it's still not working?

[2016-07-01 20:01] ixdy commented on #28364
It's actually waiting for at least 8 pods, which is why it's failing:
[code]

[2016-07-01 20:03] k8s-merge-robot opened #28378 "[k8s.io] Deployment paused deployment should be ignored by the controller {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10331/

Failed: [k8s.io] Deployment paused deployment should be ignored by the controller {Kubernetes e2e suite}

[code]

Previous issues for this test: #28067

Dupe of https://github.com/kubernetes/kubernetes/issues/25277

[2016-07-01 20:07] dvohra commented on #28376
I had also used "preferred" but an error was generated and turned out nodeAffinity prefix is "preferres".
Refer
http://kubernetes.io/docs/user-guide/node-selection/

Should be "prefers" if it has to be as "preferres" is misspelled.

And the setting preferresDuringSchedulingIgnoredDuringExecution does have a use case when none of the nodes have a label matching the nodeAffinity label. Another node

[2016-07-01 20:22] cjcullen commented on #27839
More flakiness in our GKE-test backend. Because we use it for so much CI stuff, I'm going to try to get the configuration a little closer to our prod backend.

[2016-07-01 20:24] rmmh commented on #28326
[code]

[2016-07-01 20:25] vishh commented on #28320
Huh. Can you elaborate a bit more?

On Thu, Jun 30, 2016 at 6:56 PM, Chao Xu <notifications@github.com> wrote:

[2016-07-01 20:25] rmmh commented on #28360
Bunch of 502s from googlesource.com. Closing as not repro -- unfortunate flake

    fatal: unable to access 'https://go.googlesource.com/crypto/': The requested URL returned error: 502

[2016-07-01 20:25] #28360 closed

[2016-07-01 20:29] ncdc commented on #28371
This isn't a port forwarding issue. Looking at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10327/, there are 3 similar/related failures from 3 completely unrelated tests. So whatever this is, it's really strange, but I'm reasonably certain it's got nothing to do with port forwarding itself.

[2016-07-01 20:30] ncdc commented on #28376
Looking at the code, I'm seeing that it should be "preferred". It's possible the documentation has a typo. What error were you getting?

I'm also confused by the documentation stating that the scheduler should take into account arbitrary annotations on a pod to give higher weights to nodes with labels that match said annotations. @kubernetes/sig-scheduling @ingvagabund is the documentation correct

[2016-07-01 20:33] jlowdermilk commented on #28342
Dupe of #27839

[2016-07-01 20:33] #28342 closed

[2016-07-01 20:34] kevensen opened #28380 "AWS Region validation prevents operations in non-standard regions"
I know it sounds like lunacy but there are non-standard AWS regions in which Kubernetes might be deployed (e.g. Eucalyptus).  Instead of enumerating each zone in pkg/credentialprovider/aws/aws_credentials.go, perhaps it would be appropriate to add a flag in a configuration file to disable the check.

The region validation would be enabled by default, handling the vast majority of cases.  In the ed

[2016-07-01 20:37] erictune commented on #24925
No, 0.1 notation also means 10% of **a core**.  Where are you seeing otherwise?

[2016-07-01 20:37] ncdc commented on #28371
Ok, the `error when stopping "STDIN":...` output comes from https://github.com/kubernetes/kubernetes/blob/ef0c9f0c5b8efbba948a0be2c98d9d2e32e0b68c/pkg/kubectl/cmd/util/helpers.go#L60-L70, and the reason it says `STDIN` is because the e2e test sends what to delete to kubectl via stdin (`-f -`).

Not sure why the apiserver started returning `http.StatusForbidden` yet.

[2016-07-01 20:38] ncdc commented on #28371
@bprashanth @ixdy @lavalamp is there any way to get the GKE master logs? Or do you know why the GKE master would return "forbidden" when trying to delete things in the e2e test?

[2016-07-01 20:40] caesarxuchao commented on #28320
When you delete a namespace, in the storage layer it will not actually delete it from the namespace, it will update the DeletionTimestamp and set the namespace's [finalizer](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L2543). The finalizer field will prevent a naive deletion request from succeeding. The namespace controller will notice the update, deletes all resources

[2016-07-01 20:40] #28243 closed

[2016-07-01 20:49] bprashanth commented on #28364
Oh, I guess we made it wait for 8 in https://github.com/kubernetes/test-infra/pull/122/files#diff-a4ca333487b05827cb35ea441b36c00dR22 but that logic is flawed then, because 6 are static pods @girishkalele

[2016-07-01 20:53] ixdy commented on #28364
Though that check had been working fine up till last night:
[code]

[2016-07-01 20:58] vishh commented on #28192
@euank We can use the same issue I think. When can we get a node with the overridden config? This change is blocking PRs.

[2016-07-01 20:58] rmmh commented on #28326
Timed out uploading to GCS:
[code]

[2016-07-01 20:58] #28326 closed

[2016-07-01 20:58] bprashanth commented on #28364
Yeah sorry my last comment was slightly off topic. The check was not checking what we wanted to. Doesn't explain why addons are not created suddenly.

[2016-07-01 21:01] vishh commented on #27204
Honestly, it doesn't matter. If there are plans on moving rkt to the new CRI, rkt will have to place pods within the cgroups created by kubelet.

Quite likely :) Thanks for your patience!

What is the difference between `rktnetes` vs `rkt`? As long as pods are running in the cgroups that kubelet created, nothing else matters, at-least for this specific issue/feature.

[2016-07-01 21:07] girishkalele commented on #28364
@bprashanth

The check for 8 pods will actually catch the "failure to launch addons" failure, since 2 out of the 6 are created by the addon manager.

[2016-07-01 21:09] ixdy commented on #28364
Since this appears to be GKE-specific, do we want to take discussion to an internal bug?

[2016-07-01 21:11] yujuhong commented on #28357
The PR (#28354) is a cherry-pick to the v1.2 release branch.
IIRC, the v1.2 node e2e didn't have junit file yet.

Also, the error below was due to the fact that the old image was deleted during upgrade.
`projects/kubernetes-jenkins-pull/global/images/e2e-node-coreos-stable20160218-image'. The referenced image resource cannot be found., invalid`

Overall, I think the node e2e test for the 1.2 branc

[2016-07-01 21:12] geoffhendrey commented on #27497
This was caused by using latest k8s instead of stable. I have already filled a ticket on docs asking them to expunge the "latest" build as an option since it does not work with the DNS instructions as described in the tutorial.

[2016-07-01 21:15] #23838 closed

[2016-07-01 21:17] kargakis opened #28381 "Add readyReplicas to Deployments"
https://github.com/kubernetes/kubernetes/pull/29481 adds ReadyReplicas to Replica Sets.
https://github.com/kubernetes/kubernetes/pull/32771 adds AvailableReplicas/MinReadySeconds to ReplicaSets

We still need to add ReadyReplicas to Deployments.

[2016-07-01 21:17] ixdy commented on #28364
Opened internal bug 29942775.

[2016-07-01 21:22] girishkalele opened #28382 "e2e: Enhance wait for pods ready to exclude static pods"
https://github.com/kubernetes/test-infra/pull/122 changed wait for minimum pods ready to 8.
However, we need to enhance the e2e go code to also exclude static pods.

From @bprashanth : These static pods will have the annotation below which can be used to filter them out.

`kubernetes.io/config.source: file`

[2016-07-01 21:34] thockin commented on #28366
It might just be SkyDNS.  Weave also has a DNS server that they claim performs really well.  It's very different, and would be pretty much a rewrite again, but maybe we should consider it medium term?

@errordeveloper

[2016-07-01 21:39] k8s-merge-robot opened #28383 "kubernetes-e2e-gke-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1648/

Run so broken it didn't make JUnit output!

[2016-07-01 21:39] k8s-merge-robot opened #28384 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/7551/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26784

[2016-07-01 21:39] cjcullen commented on #27401
gke-prod-parallel is also running 1.2.5 in pretty much the exact same environment, so this appears to have something to do with the project this test is running in. I'm continuing to dig...

[2016-07-01 21:41] girishkalele commented on #28366
@thockin Yes, it looks like kubedns/skydns performance is the bottleneck.

Because, even when the queryfile contained only local service records and dnsmasq cache was set to 1, QPS didn't increase a lot. This case should have skydns servicing all requests with no forwarding required.

@ArtfulCoder and I did some more measurements.

1. Bump up dnsmasq cache size to 64K - the kubedns performance inc

[2016-07-01 21:45] mml opened #28385 "federation service controller doesn't always delete underlying services"
I actually see two problems here.  The state here is that the tests have run successfully to completion.

[code]
- [ ] We're not deleting the namespace from the second cluster.
- [x] It seems sometimes the services aren't deleted when the parent service goes away.  That's hidden in `1-c`.  We should add a test.

@kubernetes/sig-cluster-federation

[2016-07-01 21:45] mml commented on #28385
@quinton-hoole guessing at priority.

[2016-07-01 21:46] girishkalele commented on #28366
@errordeveloper Is there a Docker image with the Weave DNS server that we can drop in and do a test ? It won't resolve service DNS IPs, but we will get an idea of external forwarding performance.

Another option is to use the DNS server built into Consul. There is a new kubernetes/kube2consul project starting up.

https://www.consul.io/docs/agent/dns.html

[2016-07-01 21:51] bprashanth commented on #28366
What else was sharing that machine? did you try giving it unlimited cpu/memory?

[2016-07-01 21:55] girishkalele commented on #28366
@bprashanth

Just the standard set to pods scheduled on minions - they shouldn't have been very busy.
One noticeable thing is that kubedns is logging very verbosely, I am going to build a test container with all that logging removed, I am not sure if the logging framework logs asynchronously or blocks and flushes the log stream synchronously.

[2016-07-01 21:58] bprashanth commented on #28366
There's a -quiet option
Make sure you aren't maxing out on the 1/10th of a cpu core and how much ever memory that pod manifest gives you on a populated node.

[2016-07-01 21:58] bprashanth commented on #28366
https://github.com/kubernetes/contrib/blob/master/exec-healthz/exechealthz.go#L43
you should be able to specify that through the "args" field in yaml directly

[2016-07-01 22:00] quinton-hoole commented on #28385
@mml By design we do not delete underlying services. It's a slightly complex problem.  If the services were already present in the cluster before creating the federated service, we adopt them.  And we don't want to delete such adopted services (as other clients are probably using them).  And it's not ingeneral possible to know which ones we created and which ones we adopted (without applying label

[2016-07-01 22:02] girishkalele commented on #28366
@bprashanth Good tip - let me crank up the cpu limits on the DNS containers.

The exechealth -q option is already there - this is the kubedns daemon going crazy printing every query and datastructure like so:

[code]

[2016-07-01 22:08] bprashanth commented on #28366
you should be able to bring its log level down with --v

[2016-07-01 22:10] cjcullen commented on #27401
The failing node also appears to be the last one alphabetically... At least that's what has happened in the three failures I've dug deeply into.

[2016-07-01 22:12] bprashanth commented on #28345
can't you just write an exec probe that does: cat log | grep regex?

[2016-07-01 22:13] Random-Liu commented on #28341
The fix has been merged https://github.com/kubernetes/kubernetes/pull/28323, close this one. Feel free to reopen if this happens again.

[2016-07-01 22:13] #28341 closed

[2016-07-01 22:14] Random-Liu commented on #28250
The fix has been merged https://github.com/kubernetes/kubernetes/pull/28323, close this one. Feel free to reopen if this happens again.

[2016-07-01 22:14] #28250 closed

[2016-07-01 22:14] smarterclayton commented on #28373
Hiding zero scale RS by default seems strange, since users may never know
that the RS exists otherwise.  Possibly we could sort the list more
effectively?

On Jul 1, 2016, at 2:28 PM, Janet Kuo <notifications@github.com> wrote:

I've seen many users find it confusing. It seems that just documenting
ideas about .spec.revisionHistoryLimit isn't enough. The help text of
--show-all may be too confusin

[2016-07-01 22:22] cjcullen commented on #27401
Not the last one alphabetically. The currently running test is failing all on the -0wfq node.

[2016-07-01 22:23] smarterclayton commented on #28260
Absolutely.  Frequently refreshed tokens was not the original use case,
which was a well encapsulated and easily delivered config blob.  Multiple
config files suck - but unexpected write conflicts (and locking on config)
also sucks

Adding a tokenFile key to the config that is optionally set by login
providers that frequently change values which overrides a token value seems
much more strongly ali

[2016-07-01 22:31] smarterclayton commented on #28314
I would like a columns syntax as well, which is thought we had already.

[2016-07-01 22:39] comcast-david commented on #28038
No.  When I set hairpin_mode to 1 manually, it is unaffected by a kubelet restart.

No.

This may be the problem.  When I exec into the kubelet container and attempt to modify the value of hairpin_mode, it fails.

[code]

[2016-07-01 22:45] Random-Liu commented on #28362
I've run the test for several times, and never reproduce the problem #28389. I've sent a walkaround for this, but I'm not sure whether we want to walk around it before we understand it.

[2016-07-01 22:56] Random-Liu commented on #28343
The test is only one of bunch of gke test failure, dup to https://github.com/kubernetes/kubernetes/issues/28364.

Close this one.

[2016-07-01 22:56] #28343 closed

[2016-07-01 23:02] therc commented on #28373
As just one data point: a few weeks ago I had 2680 replicasets in one of my clusters. I think they originated from somewhere between 7 and 10 deployments. I noticed that while trying to debug why kube-dashboard's `/workload` was so slow. `kubectl get rs` was useless, also because, with so many entries, it's hard for a human to quickly tell columns with single-digit, non-zero entries (1-9) from the

[2016-07-01 23:06] euank commented on #28192
@yifan-gu was kind enough to offer to help here (thanks!), so quite soon.

[2016-07-01 23:10] yujuhong commented on #28382
Just curious, why shouldn't we wait until the static pods are ready too?

If you really want to tell whether the pod is a mirror pod (reflecting the status of the static pod), it's better to check the `kubernetes.io/config.mirror` key, since this is the only annotation that has been used outside of kubelet.

[2016-07-01 23:11] dubstack commented on #28192
Thanks @yifan-gu :smile:

[2016-07-01 23:12] bprashanth commented on #28382
Ideally we'd wait till everything is ready, addons + static + master. But waiting on the static pods needs to scale with number of nodes.

[2016-07-01 23:20] girishkalele commented on #28382
@yujuhong Yes, the problem is the hard coded value of 8 that is the only parameter for the waitForPods()  logic today. Counting the static pods muddies up the calculation and satisfies the value of 8 too early.

Removing static pods from the count will atleast prevent test suites from starting prematurely.

But, as Prashanth says, if we knew or could calculate exactly how many system pods there wi

[2016-07-01 23:21] cjcullen commented on #27401
Aaaaaand now it's passing. WTF.

[2016-07-01 23:26] erictune opened #28390 "Don't show poddisruptionbudgets in 1.3.x because they aren't done"
Change some env var to not show them.  Cherry pick to 1.3.

[2016-07-01 23:30] saad-ali commented on #18333
Closing this.

Flex Volumes was merged as part of v1.2.
Attach/detach controller is introduced in v1.3.
Dynamic Volume Provisioning was introduced as alpha in v1.2 and is being fully flushed out in for v1.4.

The discussion around in-tree vs out-of-tree plugins is continuously being revisited as the project matures: https://groups.google.com/forum/#!topic/kubernetes-sig-storage/9o1vA4jFwqk

[2016-07-01 23:30] #18333 closed

[2016-07-01 23:36] smarterclayton commented on #28373
As noted as long as a new user knows there are others (and how to see them)
it's less of an issue to hide them.

On Jul 1, 2016, at 7:02 PM, Rudi C <notifications@github.com> wrote:

As just one data point: a few weeks ago I had 2680 replicasets in one of my
clusters. I think they originated from somewhere between 7 and 10
deployments. I noticed that while trying to debug why kube-dashboard's
/wor

[2016-07-01 23:37] dvohra commented on #28376
![preferred-errormessage](https://cloud.githubusercontent.com/assets/3654431/16536704/12af0134-3faa-11e6-99b3-d9eb9cd794df.jpg)

Error message output is enclosed.

[2016-07-01 23:39] girishkalele commented on #28366
@bprashanth

Eliminated logs from kubedns and bumped up CPU to 1000m.
Marginally improved QPS from ~ 290 to ~ 341.

Will leave testing this where it is, and if we get Weave or Consul DNS available, we can rerun the tests.

[2016-07-01 23:40] cjcullen commented on #27319
Another noisy test to fill my inbox...

This is going to fail until we get a release image for 1.3.0 built.

[2016-07-01 23:44] thockin commented on #28366
I think ConsulDNS requires running Consul, which sounds pretty
heavy-weight.  We could also engage with skydns folks on expected perf
(@bketelsen).  We could also look at CoreDNS (@miekg) which is much newer
and riskier, but maybe a better fit longer term?

@smarterclayton - have you guys done DNS perf numbers?

On Fri, Jul 1, 2016 at 4:40 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-01 23:45] yifan-gu commented on #28192
@vishh New image created, you should be able to access it: https://console.cloud.google.com/compute/imagesDetail/global/images/test-e2e-node-coreos-alpha-1068-20160701-cgroupfs?project=coreos-gce-testing

Tests passed, and the cgroup driver is changed to cgroupfs

[2016-07-01 23:48] erictune opened #28392 "Enabling API in released kube clusters needs to be last step and subject to scrutiny"
Developers really really seem to want to write their API types before they write their tests, controllers, docs, etc.  So, we should continue to let them do that.

And developers need a way to turn on API in e2e tests so they can iterate on their design.

At the same time, a kubernetes release should not by default enable any API that is not "complete", by the appropriate measure (e.g. having comp

[2016-07-01 23:49] erictune commented on #28392
@lavalamp

[2016-07-01 23:49] erictune commented on #28392
See for example https://github.com/kubernetes/kubernetes/issues/28390 as something that we could have caught.

[2016-07-01 23:51] miekg commented on #28366
[ Quoting <notifications@github.com> in "Re: [kubernetes/kubernetes] Improve..." ]

~500 qps sounds really slow. Is every request going to etcd?

CoreDNS has much better caching, in the (non optimized version) I can easily do
15K qps, but SkyDNS should be able to get to those as well.

Longer term I think CoreDNS makes much more sense. Note the "SkyDNS" middleware
in CoreDNS is a cleaned up versio

[2016-07-01 23:52] timstclair opened #28393 "[node e2e] Test secret volumes in the node summary test"
Address TODO in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/summary_test.go (from https://github.com/kubernetes/kubernetes/pull/28195)

[2016-07-01 23:53] cjcullen commented on #27401
I'm going to close this for now. No idea what was wrong or what fixed it, and the logs I did have weren't helpful.

[2016-07-01 23:53] #27401 closed

[2016-07-01 23:53] bketelsen commented on #28366
I've been out of the loop, but happy to help.  Also: There's a container "Hack Room" in the 13th of July at GopherCon - would be a good time to sit down and work through things.

10:00am - 5:00pm
Room: 4f
Container Technologies
Hack on and discuss the various container technologies written in and powered by Go

[2016-07-01 23:53] timstclair opened #28394 "[node e2e] Test hostpath volumes in the node summary test"
Address TODO in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/summary_test.go (from #28195)

[2016-07-01 23:55] thockin commented on #28366
Girish, have you take a profile?

On Fri, Jul 1, 2016 at 4:54 PM, Brian Ketelsen <notifications@github.com>
wrote:

[2016-07-01 23:56] timstclair opened #28395 "UsedBytes is nil in the summary API"
The following fields are nil in the summary API on ubuntu-trusty-docker10 and coreos-stable20160622:

[code]

/cc @kubernetes/sig-node

[2016-07-01 23:57] timstclair commented on #28395
Also, clean up the TODO in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/summary_test.go (from #28195) once this is resolved.

[2016-07-02 00:04] girishkalele commented on #28366
@miekg This version of kubedns does not use etcd - in-memory lookup for local services.

The dnsperf sample queryfile will be 100% hitting the forwarding to cloud DNS path. Container logs show i/o timeouts forwarding to GCE DNS, but there are no timeouts when dnsperf is configured to hit GCE DNS directly, so this is a skydns issue losing track of UDP ports or something IMO. The GCE DNS server dire

[2016-07-02 00:14] k8s-merge-robot opened #28399 "kubernetes-soak-continuous-e2e-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/5825/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26982

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usag

[2016-07-02 00:15] girishkalele commented on #27671
@bprashanth

I think @gmarek is right - if this was occurring around the same time as #27873 (cbr0 bridge losing its IP address) and all readiness probes would fail. If this happens again, we can reopen.

[2016-07-02 00:16] devlina commented on #26769
I am exactly facing same issue. I can see cluster nodes graphs but pods dropdown is empty. Do I need to add pods to grafana manually.

[2016-07-02 00:21] miekg commented on #28366
[ Quoting <notifications@github.com> in "Re: [kubernetes/kubernetes] Improve..." ]

Ack.

Ack.

Could it be re-using ports so fast the the client code is using a new port while
a response is still inflight?

I would almost say, what does CoreDNS do... but I get that would be a hassle to
setup and configure, if it all possible.

/Miek

--
Miek Gieben

[2016-07-02 00:23] ncdc commented on #28376
@dvohra I tested on Kube 1.3 (I realize you're testing on 1.2.5), and I had to change the pod definition to make it work. This is what worked for me:

[code]

I had to tweak the contents of `scheduler.alpha.kubernetes.io/affinity` to get it to pass validation.

[2016-07-02 00:26] miekg commented on #28366
[ Quoting <notifications@github.com> in "Re: [kubernetes/kubernetes] Improve..." ]

Is SkyDNS running inside docker when you do this? When you directly hit GCEDNS
are you running in docker as well?

[2016-07-02 00:28] #23778 closed

[2016-07-02 00:31] girishkalele commented on #28366
Yes in both cases.

[2016-07-02 00:32] erictune opened #28401 "NetworkPolicy not enabled"
@thockin says NetworkPolicy works, but when I try a cluster with 1.3.0, I don't see it.
[code]

[2016-07-02 00:33] yujuhong commented on #28124
The new cluster started failing again:

Some information I gathered:

The goroutines:
https://gist.github.com/yujuhong/38109e05df58146a20e8a70a1d6617fa

[code]

[code]

Will check later(?) to see if the memory uasge keeps increasing

[2016-07-02 00:34] yujuhong commented on #28399
See #28124 for the resource usage test failures.

Note: I didn't check the heapster and influxdb test

[2016-07-02 00:35] thockin commented on #15995
I'm trying to page in the details of this bug but something eludes me.  The docks for NFS say "Server is the hostname or IP address of the NFS server".  So what's not working?

[2016-07-02 00:36] thockin commented on #28401
@caseydavenport

[2016-07-02 00:36] thockin commented on #28401
@kubernetes/sig-network

[2016-07-02 00:39] thockin commented on #28366
Have you pulled a profile?  Do you know how?

On Fri, Jul 1, 2016 at 5:31 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-02 00:39] kevensen commented on #28380
I'd like to work on the solution.  If you'd like to assign this to me, that's just fine.

[2016-07-02 00:46] bprashanth commented on #28401
on my HEAD cluster:
[code]

Which is running:
[code]

and
[code]

So maybe it's just not on by default?

[2016-07-02 00:57] erictune opened #28405 "Need "action required" notes in CHANGELOG.md"
We need to fill in the "action required" section of our release notes (in kubernetes/CHANGELOG.md).

Rather than everyone sending a PR against CHANGELOG.md,  and having lots of merge conflicts, let's take advantage of the automatic release note generation that @david-mcmahon has written (thanks! it is a big improvement over 1.2).

For that to work, I need is for everyone who wrote a PR that requir

[2016-07-02 00:57] caseydavenport commented on #28401
@thockin - If I understand correctly, #26017 didn't go into v1.3.0.  So, while the apiserver still supports it in v1.3.0, it won't be enabled in kube-up clusters.

[2016-07-02 00:58] elibixby commented on #15995
You can't use cluster DNS as the hostname. It would make it really easy to
set up a NFS server behind a PV (i.e. one kubectl create -f ) if you
could...

On Fri, Jul 1, 2016 at 5:36 PM Tim Hockin <notifications@github.com> wrote:

[2016-07-02 01:01] devlina commented on #28330
I am having same issue. No pods are showing up in pods dashboard.  It can show nodes' metrics under cluster dashboard though.

[2016-07-02 01:05] bprashanth commented on #27671
Yeah maybe it was a kubelet DOUBLE restart that led to the readiness probe finally passing. Lets close for now.

[2016-07-02 01:05] #27671 closed

[2016-07-02 01:16] euank opened #28407 "kubelet summary api: Node.Network metric nil on hosts without eth0"
Captured from: https://github.com/kubernetes/kubernetes/pull/28195#issuecomment-229441908

The below is my best guess:

The `pkg/kubelet/network/DefaultInterfaceName` const of `eth0` is used by various container networking pieces to assume / work with the default interface within a container. This assumption, that within a container the interface is `eth0`, is generally true and so works. (cc'd pe

[2016-07-02 01:18] miekg commented on #28366
[code]
169.254.169.254 that's also the IP used when directly querying GCEDNS?

[2016-07-02 01:21] miekg commented on #28366
Also SkyDNS might be throttled, while direct queries to gcedns might not. I have no way of checking that from here.
To actually prove or disprove performance figures of SkyDNS we would need to do a standalone test. I'm actively working on testing and performance tuning CoreDNS, so I might give SkyDNS a whirl as well - time permitting.

[2016-07-02 01:22] prasenforu commented on #19171
Thank you Tim for reply.

But what is the alternative solutions to achieve this.

I want to do mapping /etc/hosts of host to pod host file as well as want to do scale up & scale down.

Environment I am using
One Master & 2 node (minions) setup

[2016-07-02 01:36] dchen1107 opened #28408 "Introduce Kubelet verify"
Haven't thought through all the detail yet, but file this issue to carry more discussion ...

Node team is working on node conformance test suites. The test suite can be divided into two set: System configuration verification and Kubelet functionality test (create, delete, etc.). The system configuration verification test suite can be repackaged as an image and run at node bootup time, or simply i

[2016-07-02 01:36] dchen1107 commented on #28408
cc/ @Random-Liu

[2016-07-02 01:53] dvohra commented on #28376
Thanks for the update. As v1.3.0 was made available only a few hours ago have not yet tested on 1.3.0.

[2016-07-02 01:53] dchen1107 commented on #23397
@thockin reported https://github.com/docker/containerd/issues/275

[2016-07-02 02:41] vishh commented on #28408
Is system configuration already part of node conformance test suite or is
that something yet to be defined?

On Fri, Jul 1, 2016 at 6:36 PM, Dawn Chen <notifications@github.com> wrote:

[2016-07-02 02:45] dchen1107 commented on #28408
@vishh Quota from above: "...node conformance test suites. The test suite can be divided into two set: System configuration verification and Kubelet functionality test ..." :-)

[2016-07-02 02:47] girishkalele commented on #28366
@thockin @miekg

Yes, 169.254.169.254 is the GCE DNS server in both cases.

I got pprof data,  but I don't understand the 60 ms total part, it was a 30 second profile.
I started the pprof server and used ```go tool pprof <url>``` - is that going to work ?

[code]

[2016-07-02 02:56] k8s-merge-robot opened #28411 "Deployment deployment should support rollover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/5037/

Failed: Deployment deployment should support rollover {Kubernetes e2e suite}

[code]

[2016-07-02 03:05] derekwaynecarr commented on #28192
I need to catch up on this issue more next week, but the Red Hat e2e setup will support testing with the systemd driver and would provide a heterogeneous environment.  I am able to assist in rounding out the systemd support per our previous chats during 1.4 release cycle. I would prefer we demonstrate the function works both with and without systemd before making it required in 1.5 to allow for so

[2016-07-02 04:29] thockin commented on #28366
I am not sure how to interpret that - is that all you got?

On Fri, Jul 1, 2016 at 7:48 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-02 04:38] thockin commented on #19171
What you're asking is essentially "I want multiple programs on a machine to
use the same port".  It just doesn't work (not the way you want).

Why do they need to be in the host network?

On Fri, Jul 1, 2016 at 6:22 PM, prasenforu <notifications@github.com> wrote:

[2016-07-02 04:50] thockin commented on #28401
Damn.  Can we cherry pick JUST the --runtime-config setting, or should we
pick the whole PR?

@david-mcmahon

On Fri, Jul 1, 2016 at 5:58 PM, Casey Davenport <notifications@github.com>
wrote:

[2016-07-02 05:01] prasenforu commented on #19171
I have some important entry in /etc/hosts file same I need in pod host file.

Instead of using  host network can you suggest any alternative solution.

[2016-07-02 05:05] thockin commented on #15995
Ahh, right, because the host doesn't use kube-DNS.  Thanks for the kick in
the head.  We might be able to get away with a `resolveAsServiceName`
boolean to mutate processing of the Server name.  Does someone have time to
prototype?

On Fri, Jul 1, 2016 at 5:58 PM, elibixby <notifications@github.com> wrote:

[2016-07-02 05:09] thockin commented on #19171
You could add a Service with no selector, and a corresponding Endpoints
that pointed to the IP.  That would get a real DNS name.

Or we could discuss the ability to inject extra /etc/hosts entries into
containers (would not ship until 1.4 earliest)

On Fri, Jul 1, 2016 at 10:02 PM, prasenforu <notifications@github.com>
wrote:

[2016-07-02 05:45] k8s-merge-robot opened #28413 "kubernetes-e2e-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/5043/

Run so broken it didn't make JUnit output!

[2016-07-02 06:14] justinsb commented on #28314
Thanks @deads2k for the tip on golang templates - that is easier.

@smarterclayton aha - you are right - we have custom columns: http://kubernetes.io/docs/user-guide/kubectl-overview/#custom-columns

`kubectl get pods  -o=custom-columns=NAME:.metadata.name,RSRC:.metadata.resourceVersion`

Though this is not listed in the help:
[code]

I think it would also be nice to accept `NAME` to mean `NAME:..

[2016-07-02 06:18] prasenforu commented on #19171
OK thanks.

[2016-07-02 06:31] k8s-merge-robot opened #28415 "[k8s.io] Generated release_1_3 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10360/

Failed: [k8s.io] Generated release_1_3 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}

[code]

[2016-07-02 07:01] #19171 closed

[2016-07-02 07:24] k8s-merge-robot opened #28416 "[k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19535/

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-02 07:33] wernight commented on #24925
That was my understanding from:

Ok both are equivalent. Would you mind having on http://kubernetes.io/docs/user-guide/compute-resources/ or http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_resourcerequirements that `100m` is the same as `0.1` and those two are the only valid notations?

[2016-07-02 07:41] #26222 closed

[2016-07-02 09:14] kargakis commented on #28378
Dupe of https://github.com/kubernetes/kubernetes/issues/25277 but the bot insists on keeping an issue open about the flake

[2016-07-02 09:16] #25867 closed

[2016-07-02 10:06] Trane9991 commented on #28345
Common case when log writing log only to stdout.

[2016-07-02 13:55] errordeveloper commented on #24114
Good question, Brian. The main technical difference is that flannel wants
to own the same bridge Docker owns, while Weave Net has it's own bridge
that it manages independently. The effect of this is that you don't need
"bootstrap-docker". Secondly, Weave Net provides very robust IPAM
functionality, as well as DNS. Also, Weave Net has other features that
flannel doesn't have, but these are the most

[2016-07-02 14:09] justinsb commented on #28359
@rmmh did you mean to assign this to me?

[2016-07-02 14:26] MichielDeMey opened #28418 "[AWS] Error creating VPC Subnet"
I believe the issue is that we don't take into account that the Subnet availability zone can differ slightly from the  actual availability zone.

Relevant source line:
https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/cluster/aws/util.sh#L836

Editing the line and adding an "a" to the availability zone perameter resolved the problem.
I believe that when leaving

[2016-07-02 14:47] jbeda commented on #24114
In this context extra features can be a disadvantage. There is a danger we
will depend on those features and make it harder to run without them. We
shouldn't lock ourselves in to vendor specific features.
On Sat, Jul 2, 2016 at 6:56 AM Ilya Dmitrichenko <notifications@github.com>
wrote:

[2016-07-02 15:35] aabed commented on #28027
Ping

[2016-07-02 15:38] bobrik opened #28419 "Broken images in docs"
![image](https://cloud.githubusercontent.com/assets/89186/16541143/315ed446-4073-11e6-9c1a-a34d5982fc62.png)

It's also not obvious why not link to http://kubernetes.github.io/ directly.

[2016-07-02 16:38] jonathan-kosgei commented on #22932
Hi I'm having the same error,  NetworkPlugin cni failed on the status hook for pod 'nginx' - invalid CIDR address: Device "eth0" does not exist, what was the fix exactly?

[2016-07-02 17:17] bprashanth commented on #26834
@caesarxuchao @janetkuo Id suggest adding some logs to the SI pipeline to figure out where the update is getting dropped

[2016-07-02 17:47] david-mcmahon commented on #28401
I suppose we have the start of a 1.3.1 train.

[2016-07-02 19:24] smarterclayton commented on #28314
Heh, if you have to read the docs to figure it out the feature
obviously isn't "done".

[2016-07-02 19:29] smarterclayton commented on #28366
We've done DNS perf, mostly to ensure we hit the DNS cache from skydns
properly in most cases based on TTL.  If we fall through the cache or
cache isn't on then we're mostly GC limited due to the creation cost
of  the skydns records.  I've seen upwards of 30-40k qps in core
cases.

I haven't tested now that we've moved DNS to the nodes though, so will
follow up.

[2016-07-02 19:30] smarterclayton commented on #28366
Looks like the profiler wasn't able to get enough samples (or
something was caching DNS on the client side and you weren't hitting
the server).

[2016-07-02 19:37] miekg commented on #28366
[ Quoting <notifications@github.com> in "Re: [kubernetes/kubernetes] Improve..." ]

If you update to the latest Go DNS version you should see up to 30% improvements
in this. (The runtime reflection has been removed).

/Miek

--
Miek Gieben

[2016-07-02 19:43] k8s-merge-robot opened #28420 "[k8s.io] Kubectl client [k8s.io] Kubectl cluster-info should check if Kubernetes master services is included in cluster-info [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10397/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl cluster-info should check if Kubernetes master services is included in cluster-info [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-02 20:33] luxas commented on #17981
Yes, thanks!
Looking forward to see the full release notes for v1.3 :smile:

[2016-07-02 23:23] k8s-merge-robot opened #28423 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/852/

Run so broken it didn't make JUnit output!

[2016-07-02 23:29] spxtr opened #28424 "testclient should support label selectors for all object types"
It works for [fake pods](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/testclient/fake_pods.go):

[code]

But for fake [jobs](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/testclient/fake_jobs.go), rcs, etc, it does not apply the label selector:

[code]

I'm not familiar with how these files are generated. Is this a pain to fix? It caused

[2016-07-02 23:32] #23957 closed

[2016-07-03 00:16] k82 commented on #28359
@rmmh / @justinsb , I'd like to work on this issue, is that OK to you :).

[2016-07-03 00:53] k8s-merge-robot opened #28426 "[k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10411/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}

[code]

[2016-07-03 01:13] k8s-merge-robot opened #28427 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/6057/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28010

[2016-07-03 03:21] k8s-merge-robot opened #28429 "[k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10417/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26138

[2016-07-03 05:56] krmayankk commented on #28078
@bprashanth the examples in the link you mentioned doesn not have the pointers to petset.yaml. where can i find it ?

[2016-07-03 06:51] krmayankk commented on #28078
@bprashanth another few issues i see are -
- why cant the creation of petset automatically create the service
- there should be an option to create the petset without the associated pvc

[2016-07-03 07:27] krmayankk commented on #28278
@bprashanth @Trane9991 i am eagerly waiting for a petset example for redis which does master slave as well as sentinel setup and bootstraps the cluster using petsets and does not require any manual process like creating a bootstrap pod and deleting it later. Would love to see how it would work with petsets and init containers for master, slave and sentinels all in one

[2016-07-03 08:30] AdoHe commented on #28381
I like this feature :)

[2016-07-03 11:43] vklonghml opened #28433 "[k8s]k8s always pull image from https://index.docker.io/v1/, not from local host"
i run a k8s cluster in ubuntu 14.04
k8s version:1.2.5
docker version:1.11.2

there exits nginx image in local host, but when execute command:kubectl run my-pod  --image=nginx --port=80, it always pull image from url:index.docker.io, and shows problem as bellow:
 Failed to pull image "nginx": Error while pulling image: Get https://index.docker.io/v1/repositories/library/nginx/images: dial tcp: look

[2016-07-03 12:48] kargakis commented on #25236
We could make it configurable at the very least. Something like `--change-scaling-settings` (we already do this in OpenShift with `oc rollback`. ). @pwittrock this is where we need to know the last size for a replica set and https://github.com/kubernetes/kubernetes/pull/28162/files#diff-9035ca88b01f4a0aab7c52b8bf8a753fR79 will be useful

[2016-07-03 16:22] thockin commented on #25543
So what's the right kube-proxy fix?

On Mon, Jun 27, 2016 at 12:00 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-07-03 16:26] thockin commented on #10294
On Mon, Jun 27, 2016 at 7:14 AM, Amanpreet Singh
<notifications@github.com> wrote:

Go's pretty easy, you'll get the swing of it pretty quickly.  The tour
on golang.org is really quite good.

"None" means headless.  "Headless" itself is just the silly name that
happened to stick, describing the behavior.  We should support
--cluster-ip=<IP address> too, and plumb the value straight into the
`servi

[2016-07-03 16:36] thockin commented on #27883
When we see a leak, the "description" field in GCE's structures should tell us what Namespace and Service were in play.

[2016-07-03 16:42] ApsOps commented on #10294
@thockin Thanks. I actually sent a PR #28239 if you could take a look. It seems there's some confusion around the use of this flag.
Right now, I've added support for just `--cluster-ip=None`. I can extend it to support any IP address if we're on the right track.

[2016-07-03 17:14] thockin commented on #15690
This was fixed as part of the kube-dns rewrite

[2016-07-03 17:17] jbeda commented on #27444
If we move to just building hyperkube (and deprecate the individual binaries) we'll have less to build and package up.  I imagine that will speed things up. #16508

[2016-07-03 17:37] jbeda opened #28435 "Release tarballs are too big"
The Kubernetes 1.3 release tarball is 1.4G.  That is insane.  While we know that much of this is due to the fact that we include all architectures, it make kubernetes feel heavier than it is.

Much of the space is the fact that 4 server platforms are now created and packaged with everything else.  Each target is a ~325M tarball.  These tarballs include both individual binaries along with Docker im

[2016-07-03 18:40] justinsb opened #28436 "route-controller does not escape cluster name"
On GCE, if you create a cluster with a name like `gce.cluster.com`, then KCM will fail to create the routes, because it includes the cluster name in the route name, but does not escape it to meet GCE requirements.

See https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L2178

The following error is logged (lightly edited):

[code]

Possible solutions:
- In

[2016-07-03 19:01] spxtr commented on #28435
[code]

If the point of the release is for end-users to turn up a kubernetes cluster, do they even need the binaries? Why not just give them the image?

I also think it makes sense to split the release up by server architectures.

@david-mcmahon

[2016-07-03 19:07] justinsb commented on #28435
Some previous discussion here: https://github.com/kubernetes/kubernetes/issues/9253  Apparently some of the duplication is/was for CoreOS?

Although kube-up uses this tarball, there's no need to: the expanded files are also available for direct download (kubectl, kubelet), and gcr.io has all the images.

[2016-07-03 19:14] justinsb commented on #28418
To use kube-up, you have to specify a zone, not a region.  Some AWS API calls might auto-choose for you, but kube-up requires you to pick a zone.

[2016-07-03 20:00] bprashanth commented on #28078
Please contribute such an example. When I thought of doing it I wanted to put the sentinel as a container in each redis pod.

External identities to pets is on the agenda, but no definite timeline has been discussed.

We don't create the service for any workload collection (replica set, deployment etc). If we did the user would be stuck with one set of defaults.

This is already possible.

[2016-07-03 20:17] bgrant0607 commented on #28106
@rmmh Where is the mapping of tests to owners?

[2016-07-03 20:22] k8s-merge-robot opened #28437 "[k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10468/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-03 20:40] k8s-merge-robot opened #28438 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3857/

Run so broken it didn't make JUnit output!

[2016-07-03 20:50] k8s-merge-robot opened #28439 "[k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10469/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26139 #28342

[2016-07-03 21:41] MichielDeMey commented on #28418
Aha. Thank you for clarifying the issue at hand!
Could we improve the error message to let the user know about such a silly mistake? 🙂

[2016-07-03 22:28] Random-Liu commented on #28433
@vklonghml
The `ImagePullPolicy` controls the behavior of image pulling.
By default the `ImagePullPolicy` is `IfNotPresent`, which causes the Kubelet to not pull an image if it already exists.
However, if the image tag is "latest", k8s will set the default `ImagePullPolicy` as `Always`, which causes the Kubelet always try to pull again no matter what.

So, what you should do is:
1) Either write yo

[2016-07-03 23:30] k8s-merge-robot opened #28440 "kubernetes-e2e-gke-staging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6087/

Run so broken it didn't make JUnit output!

[2016-07-04 01:45] bprashanth opened #28442 "Higher fidelity health checks"
## Motivation

Today health checks suffer from at least 2 limitations
- Long pipeline: readiness -> kubelet -> master -> endpoints controller -> kube-proxy -> iptables
- Dead nodes cause unacceptable downtime: because the health status is push based, we only mark an endpoint unready after 40s

There are a few ways to handle this:
- Kube-proxy uses connection information to mark endpoints unhealthy

[2016-07-04 01:45] bprashanth opened #28443 "Better service/ingress routing rules"
## Motivation

If I was setting up frontend infrastructure on kube, I might do something like this:

[code]

Today, there's only 1 routing rule at the Service layer (rr to all endpoints), and 1 routing rule at the ingress layer (http hostname, path prefix match). This is insufficent to express more complex group membership patterns we see in PetSet (leader election, broadcast) and common routing p

[2016-07-04 02:39] thockin commented on #2770
Circling back on older issues, I think the jury is in - making cloud providers be controllers is the better design.  As we evolve cloud provider we should head in this direction.  It will come at some cost, but I think the benefits of it prevail.

[2016-07-04 02:45] euprogramador commented on #22932
@jonathan-kosgei Bug for CNI driver tab caracteres not allowed in file, i am submit pull request for correction. Verify tour file contains tab caracters and remove

[2016-07-04 02:45] thockin commented on #22650
Circling back to old issues in my inbox.  Let it be knows that I used to
not like this feature.  I still don't, but I used to, also.  In reality it
is very niche and rather weird in its behavior.  But I was convinced to
keep it because it was useful for some important cases.  Having a way to
disable it would be OK to me.

On Mon, Mar 7, 2016 at 3:00 PM, Clayton Coleman <notifications@github.com>
w

[2016-07-04 02:46] thockin commented on #14388
Can you retest this against 1.2.5 or 1.3.0 ?  I'm going close it as "old" but if it persists, please re-open!!

[2016-07-04 02:46] #14388 closed

[2016-07-04 03:07] angry-tony opened #28445 "Question : K8s networking"
I am wondering if K8s can offer resources from multiple network interfaces?
I would like to attach multiple Network Interfaces (public eth0, private eth1) on nodes and would like to bind specific applications that I run on mesos's nodes on specific interfaces?
does not mesos need distinct physical networks like OpenStack has four distinct physical networks??

is there any reference guide or doc?

[2016-07-04 03:16] k82 commented on #26930
@jdef , just go through the code; the `--km-path` will only point to the `km` binaries in master and Mesos agent will fetch it. It did not match this requirement.

[2016-07-04 03:24] brendandburns commented on #28445
Please ask questions on Stack Overflow or the Slack channel (http://slack.kubernetes.io) issues are to be used for problems with the code or feature requests.  Asking on Stack Overflow ensures that your answers are easy to find by others.

Thanks!

[2016-07-04 03:24] #28445 closed

[2016-07-04 03:56] rata commented on #28317
@thockin thanks for the quick response! Sorry the delay, I was busy at work and university and I just had a few minutes to play with this now (but very excited to do it! :)). Very nice the doc, btw, on how to run a local kubernetes cluster so I easily try things :-)

I think I prefer to start small and then do more stuff later :-). Yes, I see the fsGroup thing all over the place, but I'm not sure

[2016-07-04 04:07] #23032 closed

[2016-07-04 04:17] brendandburns commented on #27851
I'll take this.  There is a library here:

https://github.com/howeyc/gopass

That appears to do the trick, but we need some refactoring so that it can read from an arbitrary reader to fit our usecase.

[2016-07-04 04:21] thockin commented on #3933
I just tried to remove these again.  It fails in jsonpath formatting, now.

[2016-07-04 04:35] thockin commented on #21396
Is this still an issue?  I'm going to close it for inactivity, but if it is real and reproduces on 1.2.5 or 1.3.0, please reopen.

[2016-07-04 04:35] #21396 closed

[2016-07-04 04:36] rata commented on #28317
Oh, my repo was kind of old. Updated to latest master and now the code is quite different. But the permissions for secrets are changed now! Isn't this a backwards incompatible change?

I see where it is hardcoded now, but the code seems to be shared.

@pmorie (I see you are the owner, now that I updated my k8s repo, I didn't know before, sorry) isn't a backwards incompatible change that mode permi

[2016-07-04 04:49] mikelorant opened #28449 "Kubernetes 1.3.0 on Ubuntu requires libltdl7 package"
Kubernetes 1.3.0 when installed on Ubuntu 15.10 (ami-ba98b0d9) gives the following error when running the docker binary.

[code]

This is easily solved by installing the package libltdl7:
apt-get install libltdl7

Are there any other workarounds to this issue?

[2016-07-04 05:32] jonathan-kosgei commented on #22932
@euprogramador My `/etc/cni/10-calico.conf` and `/etc/rkt/10-calico.conf` look like:
[code]
My `/etc/network-environment` has:
[code]
I've checked and I don't have tabs in either files.

[2016-07-04 06:10] k8s-merge-robot opened #28450 "[k8s.io] EmptyDir wrapper volumes should becomes running {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10495/

Failed: [k8s.io] EmptyDir wrapper volumes should becomes running {Kubernetes e2e suite}

[code]

[2016-07-04 06:18] thockin commented on #17226
Circling back to older issues: Would some extra fields in the NFSVolumeSource be sufficient for this?  It gets a little more awkward with dynamic provisioning, but static provisioning would work...

[2016-07-04 06:22] wojtek-t commented on #27595
@gmarek - can you please check if those metrics-related failures are the ones GC-related? Or something new?

I will take care of those with disappearing pod (I think it's failing kubelet).

[2016-07-04 06:26] thockin commented on #21070
I am circling back to older issues.

I think I am generally OK with using BindAddress for this, or some other way to flag it.  If someone has the time, it might be worthwhile to think through the options.

A specific IP would break localhost.  Does a nodeport on localhost matter? What about a list of bind-addresses?  What about a white-list of interfaces?  Or a black-list?  Does this affect anythi

[2016-07-04 06:28] wojtek-t commented on #25543
@thockin - didn't we decided that we just want to discover this problem in NodeProblemDetector and then mark this node as not-healthy (whatever that means - adding a new condition or extending NodeReady or ...)? In my opinion if it would be clear to user why this node is not healthy, this should be good enough.

FYI in https://github.com/kubernetes/kubernetes/pull/28015 I worked around this in our

[2016-07-04 06:42] thockin commented on #23748
It's not possible to have 2 mounts at the same path.  One would just override the other.  Specifically, the configMap mount is not just writing files into a directory, it actually bind-mounts a whole dir over the mount point.

It may be possible in Kubernetes v1.3 to mount JUST a single file from the configmap with the volumeMount.subPath` field, but I have not tried doing that OVER another volume

[2016-07-04 06:47] thockin commented on #18703
All of the attach/detahc mount/unmount logic has been rewritten for v1.3

[2016-07-04 06:47] #18703 closed

[2016-07-04 06:51] thockin commented on #25543
It wasn't clear to me if kube-proxy should do something different or not.

On Sun, Jul 3, 2016 at 11:29 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-07-04 07:11] vklonghml commented on #28433
@Random-Liu thks a lot

[2016-07-04 07:12] vklonghml commented on #28433
@Random-Liu thks a lot

[2016-07-04 07:12] #28433 closed

[2016-07-04 07:23] gmarek opened #28451 "Infinite retries of PersistentVolume POSTs"
During all our tests we see one PV POST that succeeds:
[code]
All consecutive ones return 409 and are retried every 10s:
[code]
Some runs of our scalability tests are failing on PV POST latencies.

cc @wojtek-t @fgrzadkowski @saad-ali

[2016-07-04 07:58] sanderploegsma opened #28452 "Cannot deploy more than one pod per node with custom metrics"
I am having problems autoscaling an application using custom metrics. Due to the fact that it uses websockets, I would like to scale based on the number of connections instead of CPU. I followed [this documentation](https://github.com/mwielgus/kubernetes.github.io/blob/custom-metrics/docs/user-guide/horizontal-pod-autoscaling/index.md#support-for-custom-metrics), which states that I have to use a

[2016-07-04 08:00] colachg commented on #12379
Hi,@johnnyzz why the hyperlink is unavaliable.I met the same problem.

[2016-07-04 08:32] gmarek commented on #28451
Originally I expected that it's the problem with https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/controller.go#L1167

But I don't see the logs from this `for` loop anywhere, so it's probably something different. In this loop we can fail early if we get a 409 response, but I don't think it's critical. I'll leave it to @saad-ali to investigate further.

[2016-07-04 09:14] Hui-Zhi commented on #25557
For dedicated GPU, so far I think the Driver version/Family/Memory/Cores, even the NVML is not necessary.

[2016-07-04 09:14] k82cn opened #28453 "[Proposal] Integrate kube-DNS with external DNS"
I'd like to draft a  proposal on integrating Kube-DNS with external DNS, e.g. Mesos-DNS; if any comments/suggestions, please let me know.

[2016-07-04 09:21] aga20 opened #28454 "PV with GlusterFS disk-encryption"
Hi guys!

Maybe isn't exactly an issue... We are using GlusterFS cluster to PV and PVC. It works good until we try to enable glusterfs disk-encryption (see: http://www.gluster.org/community/documentation/index.php/Features/disk-encryption ). Without PV I can mount the encrypted cluster when I put the master key to a specified path (for example /etc/glusterkey/master_key) on the client (on server I

[2016-07-04 09:23] k8s-merge-robot opened #28455 "Kubectl client Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/5146/

Failed: Kubectl client Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}

[code]

[2016-07-04 09:30] gmarek commented on #28451
A thought - it may be addon-updater's fault.

[2016-07-04 09:33] gmarek opened #28456 "InfluxDB PersistentVolume creation sometimes takes long time."
It seems that it's used by admission control:
[code]

This sometimes makes us violate our 1s SLO for API calls. Why admission takes so much time?
cc @wojtek-t @fgrzadkowski @derekwaynecarr @saad-ali

[2016-07-04 09:46] wojtek-t commented on #27984
I recommend writing tests demonstrating (lack of?) desired behaviors.

+100

[2016-07-04 09:46] qianzhangxa opened #28457 "Propose to introduce a new flag "--executor-id" to K8sm scheduler"
Hi,

I see currently K8sm scheduler will generate the executor ID with a hash calculation (https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/pkg/scheduler/executorinfo/id.go#L33), but I am not sure why a hash calculation is needed here. @jdef, can you please help?

I think we can simplify it by just introducing a flag (e.g., "--executor-id") to K8sm scheduler so that an executor I

[2016-07-04 10:17] johnnyzz commented on #12379
Hi, @colachg, nothing is lost in GIT, the URL of the former document is [here](https://github.com/kubernetes/kubernetes/blob/ab4448a0d645d7d4875e974a55520aae683ca9b0/docs/getting-started-guides/docker-multinode/master.md).

[2016-07-04 10:32] jianzhangbjz opened #28461 "The label "alpha.kubernetes.io/nvidia-gpu: 1" configed in YAML file, didn't have took effect in the current Kubernetes/master branch"
Hey guys,

I added a print info in kubernetes/pkg/kubelet/dockertools/docker_manager.go to debug the command of supporting NVIDIA GPU. The code and the YAML as the below, but when I check the
/tmp/kubelet.log, it shows **"Jian: the NvidiaGPU value: 0"**! So, I assumed this command

[code]

did not have took effect!  So, what's the problem with that?
docker_manager.go code:

[code]

the YAML conten

[2016-07-04 11:02] jsafrane commented on #27460
Observer today at https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27714/kubernetes-pull-test-unit-integration/33654

[code]

[2016-07-04 11:36] cheld commented on #27603
@freehan can you update

https://storage.googleapis.com/kubernetes-release/network-plugins/cni-${CNI_RELEASE}.tar.gz

with the latest cni release?

Is there are reason why we are not using the official URL?

https://github.com/containernetworking/cni/releases/download/v0.3.0/cni-v0.3.0.tgz

[2016-07-04 11:40] cristifalcas commented on #28350
We had now the kube-controller-manager service die because it lost the election?

        I0704 14:34:30.932466     933 leaderelection.go:295] lock is held by v-is-st-nod-01.company.net and has not yet expired
        I0704 14:34:32.934409     933 leaderelection.go:295] lock is held by v-is-st-nod-01.company.net and has not yet expired
        I0704 14:34:34.941212     933 leaderelection.go:295] l

[2016-07-04 11:47] k8s-merge-robot opened #28462 "[k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10510/

Failed: [k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-04 11:52] euprogramador commented on #22932
@jonathan-kosgei you are running it in a ansible playbook ?,
/etc/cni/net.d/10-calico.conf "etcd_authority": "{{etcd_authority}}" should have ip ETCD server, and the environment must have the tambpém DEFAULT_IPV4 settings such as the server ip and ETCD_AUTHORITY with the ip of the server ETCD.

[2016-07-04 11:54] euprogramador commented on #22932
@jonathan-kosgei you using systemd? /etc/enviroment should be set in kubelet variables section

[2016-07-04 12:10] jonathan-kosgei commented on #22932
Yes, on the server I have :
`/etc/cni/net.d/10-calico.conf`
[code]
and `/etc/network-environment`:
[code]
and the following flags on kubelet:
` --network-plugin=cni --network-plugin-dir=/etc/cni/net.d`

[2016-07-04 12:42] workhardcc opened #28465 "systemctl stop kube-proxy will not clean the iptables"
kube version:1.22
1. There is a svc running in k8s cluster which use nodeport 30003
2. `systemctl stop kube-proxy` in minion A, `ss -antpl | grep 30003` you will found the port 30003 is free
3. In minion B，` telnet $A_IP 30003` success( or  `nc  $A_IP 30003`)
4. `iptable -F -t nat` in minion A
5. Repeat step 3, ` telnet $A_IP 30003` failed
So I think should clean the iptables when kube-proxy abnor

[2016-07-04 13:33] rata commented on #28317
Oh, and found the fsGroup in the spec: http://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/#_v1_podsecuritycontext That was easier than I thought :)

[2016-07-04 13:41] liggitt commented on #28317
Sort of a dupe of https://github.com/kubernetes/kubernetes/issues/4789, though more targeted (file mode only)

[2016-07-04 13:42] liggitt commented on #28317
mode, uid, gid, and path/filename seem like the most common options we'Il want per key

[2016-07-04 13:48] bboreham commented on #28366
@girishkalele, errordeveloper asked me to respond: the DNS functionality is only packaged with Weave Net at the moment, but it wouldn't be too hard to re-package.

However the origins of our performance claims came from not using etcd, so if this particular test is running in-memory then the ultimate cause of your slowdown must be elsewhere.  We're all using @miekg's library in the front end.

[2016-07-04 13:49] rata commented on #28317
@liggitt oh, didn't find it before. Thanks a lot!

[2016-07-04 13:50] nowprovision commented on #28317
I definitely feel this should apply to ConfigMaps from the start, especially as they in their infancy at the moment and less heartache to tackle this now. ConfigMap uses KeyToPath too, so this seems like natural point to be able to specify filemode, userId, groupId and tackle both secrets and configmaps at same time.

[2016-07-04 13:52] rata commented on #28317
@nowprovision yes, I (we? wanna help?) can make it for both, configmaps and secrets. There is pretty much code shared, I think

[2016-07-04 13:58] colachg commented on #12379
Thanks,@johnnyzz I have executed [master.sh](https://github.com/kubernetes/kube-deploy/tree/master/docker-multinode) well.Then I run `kubectl get nodes`, everything work well.
But after rebooting the master-node, some container can't be started up. what should I do to restart them?

[2016-07-04 13:59] rata commented on #4789
Hi, is someone working on this? I opened another issue (https://github.com/kubernetes/kubernetes/issues/28317) that is quite similar, although I was planning to extend it for configmaps too (as was requested there).

If someone is working on this, can we coordinate to not step over each other?

[2016-07-04 14:01] ernestoalejo commented on #28063
Note this also affects GKE and leaves the deployment in an unrecoverable status. If 1.3 will take much longer to reach GKE it will be highly appreciated to cherrypick the fix into a version that can be released quicker.

[2016-07-04 14:48] bboreham commented on #28401
I read it about five times, and as far as I can see #26017 adds code to set the `--runtime-config` if `NETWORK_POLICY_PROVIDER` is nonblank, and also sets `NETWORK_POLICY_PROVIDER` to `"none"` on GCE only.

For the purposes of this issue, wouldn't it be simpler to set the `--runtime-config` to enable `networkpolicies` unconditionally?

[2016-07-04 15:06] euprogramador commented on #22932
@jonathan-kosgei post your kubelet.service?

[2016-07-04 15:17] jonathan-kosgei commented on #22932
[code]

[2016-07-04 15:26] euprogramador commented on #22932
@jonathan-kosgei you are not setting the / etc / network-environment in your file as variables, it may be the error, add EnvironmentFile=-/etc/network-environment

[2016-07-04 15:27] euprogramador commented on #22932
@jonathan-kosgei inform it is work, ok?

[2016-07-04 15:30] jonathan-kosgei commented on #22932
Okay, let me try that.

[2016-07-04 15:34] jonathan-kosgei commented on #22932
Tried it, but I still get the same error:
[code]

[2016-07-04 15:34] jonathan-kosgei commented on #22932
I deleted and recreated the nginx pod.

[2016-07-04 15:46] johnnyzz commented on #12379
I think this is still the same issue, see the script [common.sh](https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/common.sh) and the function `kube::multinode::bootstrap_daemon()`, this starts another docker daemon, but it is not installed by default to start after reboot. Now you should start it manually, and/or add it to your startup configuration yourself (Init/systemd/...

[2016-07-04 15:50] luxas commented on #28453
cc @kubernetes/sig-network

[2016-07-04 16:25] rata commented on #28317
@liggitt it seems filename is already possible with this PR that is merged already: https://github.com/kubernetes/kubernetes/pull/25285

[2016-07-04 16:27] rata commented on #28317
@pmorie https://github.com/kubernetes/kubernetes/pull/25285 says the permission change on secret's files was on purpose and I think you ack there. It is like a breaking change, though.

@nowprovision can you share what is your motivation to add this for configmaps too? Make them more similar? Do you have a use case where you would use this feature?

[2016-07-04 16:34] natostanco commented on #23404
what about an optional flag for trimming like spaces and new lines when creating secrets?

[2016-07-04 16:54] jonathan-kosgei commented on #22932
#https://github.com/projectcalico/calico-containers/issues/949

[2016-07-04 17:13] pskrzyns opened #28470 "Adding provider bm (bare metal)"
I would like to add new provider `bm` for running tests on bare metal

At this moment i found something about 64 non conformance tests failing on bare metal so I would like to add to them
[code]
which will allow us to monitor status of currently passing tests.

`framework.SkipIfProviderIs("bm")` will be removed from other tests as they will be fixed on bm or documentation describing how to run the

[2016-07-04 17:15] pskrzyns commented on #28470
cc @kubernetes/sig-testing @kubernetes/sig-rktnetes

[2016-07-04 17:16] rmmh commented on #28106
@bgrant0607 it's in PR #28402, I'll correct this assignment. Feel free to comment with any other corrections.

[2016-07-04 19:06] thockin commented on #23404
We should not mutate the user's input, and adding flags is feature creep.

[2016-07-04 19:10] thockin commented on #28317
The only tricky part is to define what happens when fsGroup is set AND this
is set.  Who wins?

On Mon, Jul 4, 2016 at 6:52 AM, rata <notifications@github.com> wrote:

[2016-07-04 19:12] thockin commented on #28453
While we're certainly not against changes of any flavor, we have to understand the motivations and the benefits.

[2016-07-04 19:12] thockin commented on #28453
sorry, did not mean to close

[2016-07-04 19:22] girishkalele commented on #28366
@bboreham @errordeveloper

Thanks for your reply - we would like to run with your DNS server dropped in to replace the kubedns implementation to get another datapoint, if the repackaging is easy, it would be a good test.

Yes, there is no etcd involved anymore, the cause of the slowdown is elsewhere.

I still need to figure out my pprof tracing skills to get a better and more useful trace.

[2016-07-04 19:26] rata commented on #28317
On Mon, Jul 04, 2016 at 12:11:24PM -0700, Tim Hockin wrote:

Haven't played and looked carefully at the fsGroup documentation, but if the
fsGroup is set and only matters for the files, then this "wins". If you don't
want that, you don't define the mode bits and only use the fsGroup.

I don't want, though, this to be too complicated and have weird conditions.

I will look into fsGroup more in detai

[2016-07-04 19:31] girishkalele commented on #28453
@k82

Do you mean integrating them into a single software component or a proposal to enhance DNS interoperability between Kubernetes and Mesos clusters ?

[2016-07-04 21:15] hongchaodeng commented on #27984
Seems like you guys all agree with that.
Let's discuss it on Wed meeting and make sure we all agree on the "desired behaviors".

[2016-07-04 21:16] hongchaodeng opened #28472 "Clarifying API Guarantee on ListOptions.ResourceVersion"
Currently in ListOptions, the docs \[[link](https://github.com/kubernetes/kubernetes/blob/ef0c9f0c5b8efbba948a0be2c98d9d2e32e0b68c/pkg/api/types.go#L2229-L2230)\] says "(no effect on list yet)".

However, in storage.Interface, List API has ResourceVersion ([link](https://github.com/kubernetes/kubernetes/blob/ef0c9f0c5b8efbba948a0be2c98d9d2e32e0b68c/pkg/storage/interfaces.go#L127)):
[code]

Even wo

[2016-07-04 21:16] hongchaodeng commented on #28472
@xiang90 @lavalamp @kubernetes/sig-api-machinery

[2016-07-04 21:36] ivan4th commented on #25106
@smarterclayton as the issue turned out to be indeed present in apiserver code, I've submitted the PR above to fix it. It doesn't address the problem of internal repr usage in e2e test though, but that's semi-cosmetic issue that probably deserves an issue of its own.

[2016-07-04 22:41] rata commented on #28317
@nowprovision ping? :)

[2016-07-04 22:51] smarterclayton commented on #28472
The desire was to support it for causal consistency for clients.  So I think we want to fix etcd_helper.

[2016-07-04 22:58] xiang90 commented on #28472
@smarterclayton So the doc here: https://github.com/kubernetes/kubernetes/blob/ef0c9f0c5b8efbba948a0be2c98d9d2e32e0b68c/pkg/api/types.go#L2229-L2230 is wrong?

[2016-07-04 23:36] rbtcollins opened #28475 "bad error for deployment with no labels"
This trivial deployment:

[code]

Which is missing the metadata.labels map, gives a misleading error:

[code]

The spec.selector is defined in the API docs as optional, not required.

[2016-07-05 01:15] justinsb opened #28477 "DNS federation API doesn't support changing resource records on Route53"
I'm writing a controller to set DNS hostnames though annotations, and I get an error while trying to change an existing record, when using AWS Route53

[code]

I believe this is because we are using CREATE as the action, but should probably be using UPSERT.  I don't know if I'm using the API wrong though (I don't _think_ I should be deleting the previous record first, for example).

cc @quinton-ho

[2016-07-05 02:20] smarterclayton commented on #28472
That comment predates the watch cache by at least a release.  As we found
in OpenShift, watch cache added capabilities that were not 100% reflected
back into etcd_helper (since all Kube resources were switched to watch
cache).

Allowing future reads is valuable.

On Mon, Jul 4, 2016 at 6:58 PM, Xiang Li <notifications@github.com> wrote:

[2016-07-05 03:14] quinton-hoole commented on #28477
Hi @justinsb

The dnsprovider interface for resource record sets is still pretty basic, and only supports add and remove operations right now:

https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/dnsprovider/dns.go#L46

We could add an update method quite easily, if it's important?

Q

[2016-07-05 03:20] mdshuai opened #28481 "[Bug]Node status is OutOfDisk even has sufficient disk"
In my env there is sufficient disk but after run kubernetes all-in-one env(hack/local-up-cluster.sh), the node status is always "OutOfDisk"
[code]

[2016-07-05 03:23] k82 commented on #26930
@jdef , would you help to review the patch?

[2016-07-05 03:25] mdshuai commented on #28481
@derekwaynecarr Could you help check this. thanks so much.

[2016-07-05 03:54] hongchaodeng commented on #28472
I would like to add a test for it to make sure on the capabilities/guarantees.
But I need the exact answer for whether this api:
[code]
is still right? Yes or no?
If No, is the behavior on cacher/watch_cache the desired behavior that we should test?

[2016-07-05 04:36] ruiwen opened #28482 "`util.sh` in `cluster/azure/` seems to be trying to export Bash arrays, but that's not supported"
v1.3.0

Background
I was trying to use `kube-up.sh` to set up a cluster on Azure, but the script seemed not to take my `AZURE_RESOURCE_GROUP` envvar, so I started poking around `cluster/azure/util.sh`

In `get-common-params()` on Line 167, the script first declares some array variables, like so
[code]

In the middle, on Line 182 and 186, it attempts to assign to entirely different variables,

Line

[2016-07-05 04:51] k82 commented on #28453
@thockin , the motivation is that: when using `k8sm` (Kubernetes on Mesos), there're some other frameworks (e.g. Spark) on Mesos would like to access Pod (e.g. FTP server) by name.

@girishkalele , both solutions are candidates; currently, I prefer single component: let `kube-dns` get `name<->IP` mapping information from Mesos, and let Mesos configure DNS server; I'm going to do more investigation

[2016-07-05 05:26] thockin commented on #23748
My curiosity got the better of me, and I tried it.  It works!  The only
caveat here is that, because of the way bind mount works, the auto-updating
feature of config-map volumes will not update the file.

On Sun, Jul 3, 2016 at 11:42 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-07-05 05:28] thockin commented on #23748
I'm going to close this issue, but please let me know if you can't make it work.  My exact YAML is below.

[code]

[code]

[2016-07-05 05:28] #23748 closed

[2016-07-05 05:34] amitbitcse commented on #26769
@devlina
No graphs come up even after adding pods manually to grafana.
Also, please check if you are getting any stats in heapster on accessing below url
http://xxx.xxx.xxx.xxx:8080/api/v1/proxy/namespaces/kube-system/services/heapster/api/v1/model/namespaces/kube-system/pods/nginx-5otae/stats

In my case, no stats are coming up which means heapster is not communicating properly with Kubernetes.

[2016-07-05 05:47] justinsb commented on #28477
It's important to me - important enough that I can contribute one :-)

I created a dns controller for k8s, so I need to be able to update the DNS records as members come and go.  I'm using it in kops for registering master nodes, so they are actually relatively static, but I still need to fix it:
https://github.com/kubernetes/kops/pull/26

[2016-07-05 05:49] thockin commented on #13358
I'm closing this as a dup,  #13748 has more info

[2016-07-05 05:49] #13358 closed

[2016-07-05 05:51] mdshuai commented on #28481
In the same instance, I use branch release-1.3. the node status works well. OutOfDisk=false
[code]

[2016-07-05 06:28] wojtek-t commented on #28472
@hongchaodeng - the comment is no longer true; and yes - the bahavior of etcd_helper and cacher are inconsistent.

Basically the ResourceVersion for List should have the semantic:
- if unset (or zero), there is basically no guarantee on what List will return
- if set, it should return a result that is at least as fresh as the given resourceVersion

This semantic is implemented in cacher.

[2016-07-05 06:36] thockin commented on #13748
I am revisiting old issues that never got resolution.  This one is a doozy.  Pulling from my own comments above, I'll try sketch a proposal:

Currently a ServiceSpec looks like this (comments stripped down):
[code]

Propose to change it to:
[code]

In the case of something like RDS you would say:

[code]

It feels really simple, after all the debate.  am I missing something?  This is a good projec

[2016-07-05 06:41] thockin commented on #13748
For the record, the DNS server, Endpoints controller, and kube-proxy would all have to change.  Maybe more.

[2016-07-05 06:42] thockin opened #28483 "Idea: make Service->Endpoint relationship explicit"
Today, the relationship between Service and Endpoint is implied by them having the same name.  It would probably be cleaner to make that relationship explicit.  We could add an optional object reference field to Service, which indicated the associated Endpoints to use.  If not provided, default to current behavior.  This would trivially allow Service aliases to point to the same Endpoints object.

[2016-07-05 06:46] #24055 closed

[2016-07-05 06:48] thockin commented on #24529
This is pretty old.  Please reopen if it still reproduces

[2016-07-05 06:48] #24529 closed

[2016-07-05 07:37] wojtek-t opened #28484 "PodGC default threshold causes OOMs on small master machines."
I've seen a cluster (from 1.2.4) where there is a job and the pods it is starting are simply crashing.
The problem is that those failed pods are not being garbage collected.

In the example cluster I've seen, we were able to produce ~13.000 failed pods over the week and it seems it none of these were ever garbage collected.

This basically results in constantly increasing memory usage of master co

[2016-07-05 07:39] nhlfr commented on #25403
So, are we going to close this issue?

[2016-07-05 07:40] wojtek-t commented on #28484
To clarify - the cluster was from 1.2.4 release.

[2016-07-05 07:46] soltysh opened #28486 "Job controller should not rely on calculating pod for its status"
Currently [our job controller](https://github.com/kubernetes/kubernetes/blob/35a345269eac879b0d9f25110d598845dcf8a62f/pkg/controller/job/controller.go#L452-L456) relies on completed and failed pods to stay around to be properly calculated. This might become cumbersome when a job will be big (iow. high completions number). It would be nice to re-implement this part so that those status numbers are

[2016-07-05 07:47] soltysh commented on #28486
This will be related to #28484.

[2016-07-05 07:48] nhlfr commented on #27583
I'm looking on this

[2016-07-05 07:54] gmarek commented on #27142
It's caused by #28456. #28467 should help a bit by reducing number of calls, but it still may happen until the root cause is fixed.

[2016-07-05 07:55] liyimeng opened #28487 "hyperkube build for 3rd party registry broken again in 1.3.0"
Because of the revert on commit ca3ee9e5a19f346c7c1e29178d2ca117c93ce8c2,
when building for 3rd party registry, hyperkube is broken again.

[2016-07-05 07:55] gmarek commented on #27595
#28467 will help a bit, but the root cause is #28456

[2016-07-05 08:00] gmarek commented on #28484
To be clear. The problem is that GC kicks in only after accumulating 12.5k Pods in the system and small (1, 2 core) master machines can't really handle this amount of load.

[2016-07-05 08:16] cheld commented on #28189
IMHO, the images should be pulled from a private registry. To achieve this I suggest the following steps:

Step 1: Leverage and enhance the existing mechanisms
- Use the REGISTRY parameter in the make file of Hyperkube to build a Hyperkube for your own private registry
- Add script private-registry.sh that launches private registry (and maybe some supporting functions)
- Add an option to master.sh

[2016-07-05 08:16] thockin commented on #24350
Dup of #24295 I think

[2016-07-05 08:16] #24350 closed

[2016-07-05 09:00] chbatey opened #28491 "Garbage collection doesn't delete images tagged with multiple repositories"
This leads to our clusters slowly filling up all available space.

For our cluster we have the same image tagged with multiple repositories e.g. registry/test/name and then registry/release-candidate/name

The garbage collector only deletes images by id and docker (or at least the version we're using 1.8.3) doesn't support deleting images by id when there are multiple tags.

[code]

Could we also

[2016-07-05 09:16] kevin-wangzefeng commented on #23720
/cc @kubernetes/huawei

[2016-07-05 09:23] k8s-merge-robot opened #28492 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13272/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236

[2016-07-05 09:46] chbatey commented on #28491
The spotify docker gc has a similar option but just uses -f on the image removal: https://github.com/spotify/docker-gc

[2016-07-05 09:47] k8s-merge-robot opened #28493 "[k8s.io] Kubectl client [k8s.io] Kubectl label should update the label on a resource [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10570/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl label should update the label on a resource [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-05 09:57] #28492 closed

[2016-07-05 11:29] vefimova commented on #25418
Hi, I'm working on this one

[2016-07-05 12:01] pires commented on #24145
Who's responsible for updating this issue? For instance, the first item in the list is fixed.

[2016-07-05 12:33] #25383 closed

[2016-07-05 12:48] csimplestring opened #28496 "ScheduledJob tutorial/example?"
Hi,

The new version 1.3 now supports the ScheduledJob, but I can not find any documentations or related examples. Can anyone help to provide some documentation or tutorial for the ScheduledJob?

Thanks a lot.

[2016-07-05 12:52] crunchie84 opened #28497 "Amount of skydns pods does not scale with cluster needs"
We are running kubernetes 1.2.4 on GKE. We observed that when we increased load on our system by 20% our outbound connections from our pods started to fail 80% of the time. After much diagnosing we found that our cluster was running with just one `kube-dns` pod. This pod was being hammered and resulted in failures to resolve DNS requests.

Our cluster started smaller (3x VM 8 core if i remember co

[2016-07-05 12:56] crunchie84 commented on #28497
Note; our cluster started smaller (3x VM 8 core if i remember correctly) and is currently almost doubled in size/cores (10x VM 4 core)

[2016-07-05 14:54] virtuald commented on #28189
Step 1 is a bad solution IMHO, I imagine that one of the goals of an example deploy like docker-multinode is to get a user up and running as quickly as possible with as little work as possible. Recompiling docker images is just an extra step that it seems should be avoided if possible (which it is).

I like the idea of patching the manifest files.

If you refer to my PR for docker-multinode (https

[2016-07-05 14:55] bboreham commented on #28366
@girishkalele I pushed an image `weaveworks/dnstest` which runs our DNS server, to DockerHub.  It's actually the unmodified Weave Net daemon, but with packet bridging turned off through command-line options.

By default it is listening on `0.0.0.0:53` and upstream is read from `/etc/resolv.conf` inside the container.

So, I could get one instance running with `kubectl run --image=weaveworks/dnstes

[2016-07-05 15:20] asalkeld opened #28502 "configmap behaviour change since v1.2.0"
In v1.2.0 we could do the following:

[code]
i.e. mulitple configmap volumes could reference one configmap.
(note that both volumes reference "openstack-default-files")

Since https://github.com/kubernetes/kubernetes/commit/9b6a505f8a28edacb5aae00b951e61806901a59a (or the one before - this commit does not build) we can not do this, but have to have a one to one mapping of configmap-volume to confi

[2016-07-05 15:23] asalkeld commented on #28502
My git bisect log
[code]

[2016-07-05 16:21] wstrange commented on #24745
@wernight There is an option on the gcloud to disable creation of the default GCE (Google) load balancer.   For example:
gcloud container clusters create mycluster --network "default" --num-nodes 1 \
  --machine-type  n1-standard-2 --zone $ZONE \
  --disable-addons HttpLoadBalancing \
  --disk-size 50 --scopes storage-full

You would then have to configure your own load balancer - say using the ng

[2016-07-05 16:36] thockin commented on #13748
On Tue, Jul 5, 2016 at 7:06 AM, rata <notifications@github.com> wrote:

indeed you are!

That's right.  Making it a CNAME explicitly avoids most of the
problems of re-resolution.

[2016-07-05 16:53] jdef commented on #28457
we used hashing to determine the executor ID in order to avoid task launch
attempts on incompatible executors. executorsInfo's used to launch new
tasks on a running executor must be identical to the executorInfo
originally used to launch the executor in the first place. otherwise Mesos
will refuse to launch the new tasks. we attempt to bypass this failure mode
and refuse offers from incompatible e

[2016-07-05 16:54] jdef commented on #28457
Is there an additional use case for avoiding hashes?

On Tue, Jul 5, 2016 at 12:53 PM, James DeFelice <james@mesosphere.io> wrote:

[2016-07-05 16:55] bprashanth commented on #24745
Or do it yourself https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc

You setup the nginx controller per the README, the same way on all platforms: https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#deployment

[2016-07-05 17:00] k8s-merge-robot opened #28503 "[k8s.io] Variable Expansion should allow substituting values in a container's args [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19703/

Failed: [k8s.io] Variable Expansion should allow substituting values in a container's args [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-05 17:02] caseydavenport commented on #28401
@bboreham Yeah, I think that is _probably_ fine.

The original intention was to not expose an API if there was nothing there to implement it - what do people think?

[2016-07-05 17:07] bboreham commented on #28401
Can you clarify how setting `NETWORK_POLICY_PROVIDER="none"` gives something different to "nothing there to implement it"?

[2016-07-05 17:09] caseydavenport commented on #28401
@bboreham - If it's setting the value to "none" then I think that is a bug according to the original intention.

[2016-07-05 17:11] rata commented on #13748
On Tue, Jul 05, 2016 at 09:36:53AM -0700, Tim Hockin wrote:

Great, so we are thinking similar in that regard.
I'll try to work on this on my spare time too :)

Thanks again, Tim!

[2016-07-05 17:12] bboreham commented on #28401
Well, like I say, I had to read it about five times and I'm still not sure, but I can't see it being set to anything else within #26017

[2016-07-05 17:14] jdef commented on #26930
Yes, just provided some feedback on your PR

On Mon, Jul 4, 2016 at 11:24 PM, Klaus Ma <notifications@github.com> wrote:

[2016-07-05 17:18] colemickens commented on #28482
This can assign this to me. I'll look at it asap.

[2016-07-05 17:42] derekwaynecarr commented on #28456
I suspect its related to this:

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/persistentvolume/label/admission.go#L83

and it tries to make a call-out.

cc @justinsb - would this make sense to you as a culprit of slowdown?

[2016-07-05 18:04] hongchaodeng commented on #28472
Thanks for clarifying.
I will add a test to make sure that and also change the comment.

[2016-07-05 18:48] dstynchula opened #28505 "get.k8s.io fails on AWS (1.3.0)"
# This is the script I used to bring up the cluster.
# The vpc_id is for a VPC named 'PROD'
# That vpc has a 172.30.0.0/16 CIDR and 172.30.2.0/24 is not in use.

export KUBERNETES_PROVIDER=aws
export KUBE_AWS_ZONE=us-east-1a
export AWS_DEFAULT_PROFILE=QA
export MASTER_SIZE=m3.medium
export NODE_SIZE=t2.micro
export NUM_NODES=1
export AWS_S3_REGION=us-east-1
export AWS_S3_BUCKET=PROD-kubernetes-1
e

[2016-07-05 19:14] girishkalele commented on #28366
@bboreham

You got it, https://github.com/kubernetes/contrib/pull/1189 has the exact test I am running, the yaml file fires off 10 parallel dnsperf jobs.

The 4 parameters to the container are consumed by runjob.sh. You can change the IP address to point to your dnstest pod. Arg 4 can point to one of the 2 query files in the container - the 10k entry queryfile-example-short and queryfile-example-c

[2016-07-05 19:36] dstynchula commented on #28505
Using subnet CIDR override: 172.30.2.0/24
... Starting cluster in us-east-1a using provider aws
... calling verify-prereqs
... calling kube-up
Starting cluster using os distro: jessie
Uploading to Amazon S3
Creating PROD-kubernetes-1
make_bucket: s3://PROD-kubernetes-1/
Confirming bucket was created...
+++ Staging server tars to S3 Storage: PROD-kubernetes-1/devel
upload: ../../../../tmp/kubernete

[2016-07-05 19:39] dstynchula commented on #28505
# It looks like docker has failed to start on the master:
admin@ip-172-30-2-9:~$ ps aux
USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root         1  1.6  0.1  28612  4756 ?        Ss   19:32   0:05 /sbin/init
root         2  0.0  0.0      0     0 ?        S    19:32   0:00 [kthreadd]
root         3  0.0  0.0      0     0 ?        S    19:32   0:00 [ksoftirqd/0]
root

[2016-07-05 19:41] luxas commented on #27857
Hmm, @fejta where should I begin?
Running the test n times in order to hopefully catch a failure and debug it?
Or what's your method of catching flakes?

[2016-07-05 19:43] dstynchula commented on #28505
this message keeps appearing in syslog:

[2016-07-05 19:46] bogdando commented on #18174
One does not simply use a load balancer for HA, see:

This seems natural to rely on the existing components. Anyway, in turn, HA proxies or load balancers require a reliable split-brain detection, which is the VIP shall never be running on *several* nodes. Therefore, here comes a Pacemaker with STONITH as well. As the heartbeat cannot prevent that corner case on its own. And here is again we have

[2016-07-05 20:00] k8s-merge-robot opened #28507 "[k8s.io] Kubectl client [k8s.io] Kubectl run rc should create an rc from an image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10598/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run rc should create an rc from an image [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-05 20:21] mikedanese commented on #18174
We obviously want this feature, hence the p1 issue attached to the next milestone. The previous attempt at implementing has some (solvable) issues. If someone submits an implementation that works through all the issues, I will happily review and merge. Until then, I suggest fronting the apiservers with a mature loadbalancer with a proven HA story.

[2016-07-05 20:38] matthewdupre opened #28510 "cluster/kube-up.sh uses max-age parameter unavailable in Ubuntu Xenial version of gcloud."
[code]

max-age=0 comes from the `gsutil -m -q -h "Cache-Control:private, max-age=0" cp "${tar}" "${tar}.sha1" "${stagine_path}"` call out of cluster/gce/util.sh.

I saw the problem with the Ubuntu 16.04 google-cloud-sdk version 111.0.0-0ubuntu1~16.04.0, installed from apt-get.  Removing google-cloud-sdk and installing from here: https://cloud.google.com/sdk/downloads#apt-get fixed the problem.  `

[2016-07-05 20:57] dstynchula commented on #28505
Under advice from justinb, I enabled dns-hostname resolution on the vpc. This moved the ball down the field, and now I'm getting another error. Kubectl is configured, but returns:

Unable to connect to the server: x509: certificate signed by unknown authority

[2016-07-05 20:59] ncdc commented on #28502
cc @pmorie

[2016-07-05 22:02] smarterclayton commented on #27796
Can you describe the process for migration of CLAs?

[2016-07-05 22:04] caniszczyk commented on #27796
@smarterclayton we will let the community know as soon as we have the new system up and running, there are a few approaches we are discussing to minimize any workflow disruption

[2016-07-05 22:23] ixdy commented on #27462
So it looks pretty clear that the GitHub PR builder plugin doesn't handle multiple executors very well. We try to check out `origin/pr/${ghprbPullId}/merge`, but increasingly frequently this is set to a different PR that we're testing at the same time.

There was a rework of some of the envvar code recently, and I tried upgrading the plugin to see if that fixed the issue, but I then ran into a dif

[2016-07-05 22:29] colemickens commented on #4869
When is `--containerized` no longer needed to be passed to `kubelet`? Can it be removed when `/var/lib/kubelet` is mounted as `shared`? Just making sure it doesn't require a specific version of `docker` or anything else.

[2016-07-05 22:34] huggsboson commented on #4869
I've been running 1.2 with var lib kubelet mounted shared for a while.  configMap doesn't work with --containerized in docker 1.10.3.  I'm not sure how things look in 1.3.

[2016-07-05 22:52] rata commented on #13748
From https://github.com/kubernetes/kubernetes/pull/11838 it seems @brendandburns might be interested too.
@brendandburns Do you agree with tim's proposal in comment https://github.com/kubernetes/kubernetes/issues/13748#issuecomment-230397975 ?

Thanks! :-)

[2016-07-05 22:57] k8s-merge-robot opened #28514 "kubernetes-soak-continuous-e2e-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/7574/

Run so broken it didn't make JUnit output!

[2016-07-05 23:09] fluxrad opened #28515 "kube-dns v15+ cannot set verbosity"
When replacing kube-dns v11 (as defined w/ the v1.2.4 release) with v15 in the v1.3.0 release, we notice that the `skydns` container inside the `kube-dns` pod is overly verbose. This appears to be due to an inability to turn of `Info` logging within [dns.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/dns/dns.go#L583). Neither the `--v` flag, nor the `--stderrthreshold=2` flags appear

[2016-07-05 23:29] girishkalele commented on #28366
@thockin @miekg

Pprof trace when kube-dns was verified active with 1000 millicores (not the default 100m).

[code]

[2016-07-05 23:30] girishkalele commented on #28366
And full pprof dumps at https://gist.github.com/girishkalele/4f36ccf342e87eeba064e63b14ebe0aa

[2016-07-05 23:47] davidopp commented on #28484
ref/ #22680

[2016-07-05 23:56] bprashanth commented on #7562
Can we start by introducing this as `storage-class=sticky-local-disk`?
Something like:
* A new predicate function that gets pvs for a pod and rejects all but the one host specified in `kubernetes.io/stickyness` annotation.
* Modify the volume manager on the kubelet to set the annotation to `pod.Spec.NodeName` before mounting a hostpath volume.
* Write a provisioner that hooks up all PVCs with the

[2016-07-06 00:02] thockin commented on #28366
Man, that is just not what I expect to see.  I don't know what it means..so
much time in syscall and futex..

On Tue, Jul 5, 2016 at 4:31 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-06 00:08] mikefedyk commented on #7562
What happens when the node disappears temporarily or forever?  Leaving the pod stuck in an unschedulable state seems like a bad idea.  If it moves over to another node, then it would have high data affinity, and a startup script could logic that if the data dir is empty, restore from latest backup or replication slave.  The stickiness or affinity should not leave the pod in an unschedulable state

[2016-07-06 00:28] gtaylor commented on #23580
@guoshimin Is your scala implementation specifically for Kubernetes? If so, I don't suppose that it's open source? Keen to see how other people are tackling this in production.

[2016-07-06 00:29] girishkalele commented on #28366
Another trace - tree output shows origin of the syscall. Not familiar with the runtime.readvarint and runtime.pcvalue - something commonly seen in Golang ?

[code]

[2016-07-06 00:33] jason-riddle commented on #23748
Thanks so much for this!

[2016-07-06 00:36] qianzhangxa commented on #28457
Thanks @jdef for your comments!

Can you please elaborate why Mesos will refuse to launch the new tasks? My understanding is, if framework tries to launches a task whose executor ID is new to Mesos agent, the agent will launch the executor (e.g., "km minion") first rather than refusing the task, right?

I understand the hashing is used to determine the executor ID. However my concern is, "--advert

[2016-07-06 00:37] davidopp commented on #7562
@bprashanth : That sounds reasonable, my only concern is whether we will end up throwing it all out when we implement "full" local persistent volumes, which should work for any kind of controller and should allow you to launch a new pod (unrelated to any earlier pod that created or used the persistent local volume) and have it use an existing local volume (use cases for this are "clean up" tasks a

[2016-07-06 00:49] girishkalele commented on #28366
It seems like there is a new UDP socket created for every DNS forward request.
There are a lot of connections to 169.254.169.254 brought up and torn down seen in netstat...we should be able to mux/demux multiple queries based on DNS query transaction id and not need a unique socket for every forwarded request ?

[code]

[2016-07-06 00:53] saad-ali commented on #28502
@asalkeld Thanks for reporting. It's not behavior that is explicitly supported. That said, it wasn't intentionally removed and seems useful. So we'll take a look in to why it's not working and see if we can bring it back for 1.3.1.

[2016-07-06 01:01] thomaso-mirodin opened #28519 "Node Controller doesn't recheck that a node has the correct AWS tags on retry"
Context: I'm currently working on getting minions working with AWS Spot Fleet. Instead of using the workaround discussed in #24472 I decided to setup a service that would regularly poll the AWS API, list the instances and tag them as required (see: https://github.com/thomaso-mirodin/spot-fleet-tagger for my basic impl).

It seems that if a newly registered kubelet fails the first cloud provider he

[2016-07-06 01:01] ixdy commented on #27462
Yeah, https://github.com/jenkinsci/ghprb-plugin/issues/366 is almost certainly the more recent issue.

[2016-07-06 01:06] colemickens commented on #28180
I need JWT updated for Azure cloudprovider. PR for just updating jwt-go and fixing breakage is here: https://github.com/kubernetes/kubernetes/pull/28520

[2016-07-06 01:22] saad-ali commented on #14443
@jsafrane

[2016-07-06 01:25] saad-ali commented on #28451
@jsafrane

[2016-07-06 01:38] ixdy commented on #27462
Upgraded the plugin, and tests are running again. Let's see if we keep having issues with the checkouts.

[2016-07-06 01:39] thomaso-mirodin commented on #23580
@gtaylor Shimin's co-worker here

Ours is specific for kubernetes as it relies on pod annotations to determine the appropriate role. Sadly it isn't open source, however @jtblin did write something very simliar and did open source it (https://github.com/jtblin/kube2iam) :D

Our internal one differs from kube2iam only in automatically running the needed iptables command if it isn't already set and r

[2016-07-06 01:46] #25315 closed

[2016-07-06 02:14] jtblin commented on #23580
Author of https://github.com/jtblin/kube2iam, we're using it in our environment for quite some time without issue. We also use a slightly more restricted set of permissions than the example in the README, we only give `sts:AssumeRole` to a specific role instead of `root`. I shall update the README.

The code is inspired from the original `kube2sky`, using similar APIs.

[2016-07-06 02:14] abstrctn commented on #18307
Adding a few more instance template settings which I had modified but weren't preserved when upgrading from 1.2.4 to 1.2.5, in addition to tags:

* Default service account API scopes. (I'd added several which disappeared.)
* Custom metadata attribute. This feels trickier since the `kube-env` and `startup-script` attributes will necessarily change when upgrading the node version, but it also feels

[2016-07-06 02:16] jtblin commented on #14226
If you're interested I created https://github.com/jtblin/kube2iam, inspired from the original kube2sky, using similar APIs, which sets temporary AWS credentials using `sts:assumeRole` based on annotations. We've been using it in our system for quite some time without any issue.

[2016-07-06 02:23] dims commented on #28515
@fluxrad : is https://github.com/kubernetes/kubernetes/blob/master/pkg/dns/dns.go#L583 the only line that's verbose? which other lines show up as frequently?

[2016-07-06 02:32] jdef commented on #28457
yes, a slave running w/ kubelet-executor-id 1 would spin up a brand new
executor instance if you restarted the scheduler configured to launch tasks
using kubelet-executor-id 2. how do you propose to handle running multiple
kubelet-executors (and kube-proxy's) on the same agent instance? i'd expect
that, without additional kubelet-executor changes, havoc would ensue.

an alternative might be to upd

[2016-07-06 02:37] bprashanth commented on #7562
Does the existing local volume the new pod uses have the same data? (sorry if I missed a proposal, can you point me at it?). I'm specifically targetting the database + local storage case for latency and cost in prod, and easy of prototyping in dev.

There's a way to give people local storage today with something like Gluster, but it involves more moving parts/failure modes.

The binding annotation

[2016-07-06 02:40] smarterclayton commented on #13748
@ncdc since we want this for service refs do you have a warm body to help?

On Tue, Jul 5, 2016 at 6:52 PM, rata <notifications@github.com> wrote:

[2016-07-06 02:51] smarterclayton commented on #4869
What's the failure with config map?

On Tue, Jul 5, 2016 at 6:34 PM, huggsboson <notifications@github.com> wrote:

[2016-07-06 03:10] ronaldpetty commented on #23375
I am using 1.3 and recreated something similar.

1. create Pod spec with nodeName: fakeServer
2. kubelet create -f pod.yml
3. kubectl describe pod X | grep ^Node
4. kubelet delete pod X (doesn't exit)
5.  kubectl delete pod --now=true X (does exit)

[2016-07-06 03:19] fluxrad commented on #28515
It appears that this issue is specifically related to DNS queries against kubernetes services. Queries that resolve against external DNS are _not_ logged by default.

Running the following script:

[code]

I get the following information repeated over and over:

[code]

This script was run on localhost against a minikube cluster. However in a proper cluster, since each pod has `ndots:5` set in `/e

[2016-07-06 03:32] k8s-merge-robot opened #28523 "[k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10618/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}

[code]

[2016-07-06 03:38] #28465 closed

[2016-07-06 04:18] hongchaodeng commented on #28472
Add a test: #28524

[2016-07-06 05:04] thockin commented on #13748
I think @rata wants a shot at implementing, if we don't mind.

On Tue, Jul 5, 2016 at 7:41 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-07-06 05:15] ixdy commented on #27462
Latest version of the plugin (1.32.8) is broken in a new and fun way:
[code]

Looking at the logs, it seems to be repeatedly querying PRs without abandon; I see lines like
[code]
repeating a few times per PR per minute.

Downgrading back to 1.31.4 again...

[2016-07-06 05:18] thockin commented on #28366
That might be a good optimization in skydns, but I don't see that being the
killer.

Am I reading it right?  Only 23% is accounted for by the top call-tree?
That sounds pretty healthy to me, it means we have a very long tail of
functions each taking a small amount of CPU time.  Am I misinterpreting?

On Tue, Jul 5, 2016 at 5:50 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-06 05:19] ixdy commented on #27462
https://github.com/jenkinsci/ghprb-plugin/issues/377 if you want to follow along.

[2016-07-06 05:25] k82 commented on #28453
@thockin , does it make sense ? :).

[2016-07-06 05:25] girishkalele commented on #28027
@aabed

Note - we no longer use kube2sky but seeing your patch would help understand your issue better.

Eliminating namespace from the DNS entry makes this method not multi-tenant, since all services in all namespaces will collapse and conflict.
Removing the .svc. keyword in the middle of the entry will cause DNS entries for non-service entities to collide/conflict too.
Let me know if my understa

[2016-07-06 05:27] thockin commented on #28453
As I said - we're open to ideas.  We probably don't want to carry a ton of baggage in-core JUST for mesos, but if we can describe the need in generic terms maybe we can come up with something we want anyway, win-win.

Details needed...

[2016-07-06 05:30] thockin commented on #28401
I think it's fine to unilaterally enable - we believe it to be a beta-grade API, so people should be free to use it.

[2016-07-06 05:31] girishkalele commented on #28366
@thockin Yes, (fairly new to pprof output for Go) apart from the first entry, there are no obvious hotspots. Increasing the CPU allocation also doesn't help performance (if cgroup throttling was the issue which we wouldn't see in the pprof sampling (is this correct ?)).

Then, it would seem that its the lost queries that are affecting the QPS.

[2016-07-06 05:36] davidopp commented on #7562
There is no spec or design written down anywhere, I am just saying that I think the requirements for the long-term solution include being able to have a controller create a replacement pod, or another controller create any kind of pod, and have it bind to the persistent data that is already on the machine (presumably created by some now-gone pod), to support the use cases I mentioned.

Ideally the

[2016-07-06 05:42] roberthbailey commented on #18307
As I mentioned earlier in this issue, the IGM template at the new version is recreated without looking at any changes you've made manually to the old template. If you want to specify different fields in the template, you can create a node pool at the new version and let GKE create the instance template for you with the correct parameters. In particular, you can specify service account scopes and c

[2016-07-06 06:07] ixdy commented on #27462
also, the latest version made the bot comment more - you can see this on some of the PRs I linked. maybe the config XML changed?

[2016-07-06 06:08] thockin commented on #28366
lost queries?  Where are they getting lost?

On Tue, Jul 5, 2016 at 10:31 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-06 06:13] thockin commented on #14940
What's the status on this?  It's 6 months old - is it still valid?

[2016-07-06 06:18] thockin commented on #24552
Ref #8190

[2016-07-06 06:19] thockin commented on #28483
Ref #8190

[2016-07-06 06:24] thockin opened #28525 "Add Google Cloud DNS support to LoadBalancer Services"
#23576 added an annotation to support DNS on Route53 on AWS.  To _really_ do this right, we need to think harder about how we want to evolve Service and Ingress.  In the mean time, it seems reasonable to do the same trick with GCE Cloud DNS.  add an annotation and watch DNS appear.

This would be a great opportunity for a community-contributed patch, if anyone is looking for ideas.

[2016-07-06 06:29] #24779 closed

[2016-07-06 06:40] thockin commented on #19975
I think a controller that programs upstream DNS is the right pattern here.

[2016-07-06 06:40] #19975 closed

[2016-07-06 06:43] thockin commented on #14545
To circle back to this:  What we can do in GCE is set up static routes which send the service IP range for a given cluster to one or more kube nodes in that cluster.  The kube-proxy logic takes over and delivers traffic.

[2016-07-06 06:43] #14545 closed

[2016-07-06 06:49] gmarek commented on #22680
We also need to make sure that Jobs don't loose successes/failures if we GC their pods. Ref. #28486

cc @soltysh @erictune @wojtek-t

[2016-07-06 06:51] piosz commented on #20064
@mksalawa will work on this

cc @fgrzadkowski

[2016-07-06 07:01] wojtek-t commented on #22680
I have a counter proposal to scaling it based on master size.
Can't we just adjust it dynamically during runtime, based on the number of nodes in the cluster?

[2016-07-06 07:11] miekg commented on #28366
[ Quoting <notifications@github.com> in "Re: [kubernetes/kubernetes] Improve..." ]

Are you implying there is a better way to do this (in Go)?

Why does SkyDNS even see multiple outstanding queries with the same query ID?
There is an option to suppress identical queries going upstream: https://godoc.org/github.com/miekg/dns#Client
(actually using the query ID - might be solving a longstanding TODO

[2016-07-06 07:14] jianzhangbjz opened #28526 "add NVIDIA GPU feature into k8s+Mesos cluster"
It will be nice if add the latest NVIDIA GPU feature into K8s+Mesos cluster. Like [ NVIDIA GPU discovery, could support more than 1 GPU on 1 Minion, more than 1 GPU on 1 Pod. #28216 ](https://github.com/kubernetes/kubernetes/pull/28216) shows.

[2016-07-06 07:31] gmarek commented on #22680
We can, but why should it be a function of number of Nodes? Reason for it being a function of master size is that it causes a memory problem on master if set too high.

[2016-07-06 07:39] wojtek-t commented on #22680
Yeah - but master size should depend on the number of nodes. And you can't get master size from anywhere (instead of startup scripts). And you can get number of nodes during runtime, which will allow you to adjust the value of this flag during runtime.

[2016-07-06 08:06] miekg commented on #28366
Me neither, sadly. Is this the go runtime or the "user" code in Go DNS that
needs to be tweaked?
On 6 Jul 2016 1:02 a.m., "Tim Hockin" <notifications@github.com> wrote:

[2016-07-06 08:07] miekg commented on #28366
Maybe setup a TCP connection to the upstream and use that, in stead of
using udp every time?
On 6 Jul 2016 12:30 a.m., "Girish Kalele" <notifications@github.com> wrote:

[2016-07-06 08:10] gmarek commented on #22680
I thought about doing it in the startup scripts, similarly to how we set heapster resources - we should have master size there. If we do it dynamically we probably need to expose the flag that will disable dynamic behavior, as I imagine some admins might want to have full control over this value.

[2016-07-06 08:16] Tebro opened #28527 "Openstack cloudprovider does not detect Cinder volume attachment correctly"
Trying to attach a cinder volume to a pod fails with the following log messages:

[code]

When checked in horizon the volume is attached to the correct instance, but the pod never starts because mounting times out.

[2016-07-06 08:30] wojtek-t commented on #22680
Is there currently a flag to control it?

[2016-07-06 08:34] fgrzadkowski opened #28528 "Ubernetes lite is not working on GCE"
I run commands from http://blog.kubernetes.io/2016/03/building-highly-available-applications-using-Kubernetes-new-multi-zone-clusters-a.k.a-Ubernetes-Lite.html and it doesn't work. The problem is in the second command which adds nodes in the second zone:

[code]

and specifically in `get-master-env`:

[code]

There are few problems:
* `KUBE_MASTER` is never set
* `ZONE` points to the new zone with

[2016-07-06 08:38] gmarek commented on #22680
Yup - it's `TerminatedPodGCThreshold`.

[2016-07-06 08:42] wernight commented on #24745
I'll try it out. That README needs more details like what is the [default backend](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/default-backend.yaml) necessary for, which fields of [nginx-ingress-controller](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/default/rc-default.yaml) are required, and such. I'll be happy to m

[2016-07-06 08:56] qianzhangxa commented on #28457
I am not proposing to have multiple kubelet-executors running on the same agent instance :-) I just wanted to confirm with you that is NOT _Mesos will refuse to launch the new tasks_, actually it is K8sm scheduler tries to make sure there can be only one kubelet-executor on an agent, if the existing one on the agent is not compatible, it is K8sm scheduler to decline the offer of that agent, rather

[2016-07-06 09:30] k8s-merge-robot opened #28529 "EmptyDir volumes should support (non-root,0777,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6097/

Failed: EmptyDir volumes should support (non-root,0777,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-06 09:32] gmarek commented on #26184
We moved kubemark-500 to separate project.

[2016-07-06 09:32] #26184 closed

[2016-07-06 09:34] gmarek commented on #23820
We started monitoring the usage in test to look for regressions: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L53

[2016-07-06 09:34] #23820 closed

[2016-07-06 09:35] gmarek commented on #20445
cc @lavalamp for triage.

[2016-07-06 09:41] fgrzadkowski commented on #28528
I was wrong. First of all method `get-master-env` is not needed as we are reusing an existing template where all the variables are correctly set. The error which I see is not important. Secondly when I retried the whole operation all nodes joined the cluster.

[2016-07-06 09:41] #28528 closed

[2016-07-06 09:52] mikefedyk commented on #7562
I think data gravity can be thought of in MTTR terms.  In the postgres case with one or more replication slaves, if the node a postgres master instance is running on dies, another instance on a different node can take over as master (see recent talks by jberkus) automatically, but you also want a new slave to come up to replace the failed master.  In that case, the MTTR is very quick, and the trad

[2016-07-06 11:09] dshulyak commented on #28483
If you don't mind - i would like to work on it.

[2016-07-06 11:35] dims commented on #28496
@smarterclayton @soltysh is this related to work in https://github.com/kubernetes/kubernetes/issues/2156 ? (As in the feature is not fully implemented yet?)

[2016-07-06 11:52] ae6rt commented on #3752
As a user, I have had occasion to want service names with dots in them.  Our pre-kubernetes legacy (the state of things way back last year) service discovery design traffics in names like users.1.xoomapi, where xoomapi is an internal top level domain.  Our supporting DNS always resolves names on this TLD to 127.0.0.1, where a sidecar proxy listening on 127.0.0.1 handles the actual request on behal

[2016-07-06 11:56] Kamshak commented on #25265
That would be very nice, exact same use case as @spiralman here! Is there a way to achieve this right now?

[2016-07-06 12:02] dims commented on #28314
@justinsb May i submit a PR? (adding custom-columns into --help text)

[2016-07-06 12:07] jszczepkowski commented on #28079
There is problem with credentials. It seems to be a duplicate of https://github.com/kubernetes/kubernetes/issues/27839.

[2016-07-06 12:07] #28079 closed

[2016-07-06 12:08] jszczepkowski commented on #27835
There is problem with credentials. It seems to be a duplicate of #27839.

[2016-07-06 12:08] #27835 closed

[2016-07-06 12:12] jszczepkowski commented on #28327
Duplicate of #28097.

[2016-07-06 12:12] #28327 closed

[2016-07-06 12:23] soltysh commented on #28266
Both credentials and TLS handshake problems seem to be part of #27839. Nothing wrong with jobs itself. I'm closing in favor of the other issue which is tracked by the gke team.

[2016-07-06 12:23] #28266 closed

[2016-07-06 12:39] dims commented on #26424
Looks like PR #26541 is close to merging.

[2016-07-06 12:40] soltysh commented on #28496
@csimplestring unfortunatelly the feature is not fully implemented as @dims mentioned. It's targeted for 1.4. Once it's in I'll make sure to have a working example, that's for sure :)

[2016-07-06 12:52] sttts commented on #26424
Waiting for #25273 to go in.

[2016-07-06 13:36] tweakmy opened #28532 "petset pods should not scheduled on the same node"
I followed the guide to http://kubernetes-v1-3.github.io/docs/getting-started-guides/ubuntu-calico/ to setup a 1 master 2 node on a local vm.

Using http://kubernetes-v1-3.github.io/docs/user-guide/petset/ and glusterfs, I was able to create petset with 2 replica, however, after manually killing one pods, it still schedule 2 petset pods on the same node. Not sure this is intended due to alpha stat

[2016-07-06 13:37] huang195 opened #28533 "Question about `--containerized=` of the kubelet"
This flag has the following the description:

[code]

This has been labeled as "experimental" for a while. Is this still up-to-date? If so, what is the caveat of using this flag and running a kubelet inside of a container?

[2016-07-06 13:41] asalkeld commented on #28502
I have a fix for this, will post a PR soon.

[2016-07-06 13:50] k82 commented on #28453
Got your point; more generic term & more details. I'll draft a summary :).

[2016-07-06 14:56] derekwaynecarr commented on #28481
I suspect this is related: https://github.com/kubernetes/kubernetes/pull/28176

[2016-07-06 14:57] derekwaynecarr commented on #28481
/cc @ronnielai @vishh

[2016-07-06 14:59] derekwaynecarr commented on #28481
devicemapper will not return inodes free since its block level.

[code]

we need to be able to differentiate knowing inodes free value from 0.

/cc @kubernetes/rh-cluster-infra

[2016-07-06 15:09] bprashanth commented on #28453
Fyi you can already get predictable dns names for pods with kube-dns, either through a pod annotation (1.2) / field (1.3), or through petset (1.3).

https://github.com/kubernetes/kubernetes/blob/master/build/kube-dns/README.md#a-records-and-hostname-based-on-pods-hostname-and-subdomain-fields
https://github.com/kubernetes/kubernetes.github.io/blob/release-1.3/docs/user-guide/petset.md#network-iden

[2016-07-06 15:20] therc opened #28535 "DaemonSet controller reports bogus port conflicts at node startup"
The DaemonSet controller complains about port conflicts when a new node starts. See below for some confusing and misleading errors. I am running something that's just a few commits short of the full 1.3.

| LastSeen | Ct | Name | Kind | Reason | Message | Source |
| --- | --- | --- | --- | --- | --- | --- |
| 22:55:21Z | 1 | HOST | Node | Starting | Starting kube-proxy. | {kube-proxy HOST} |
| 22:

[2016-07-06 15:27] therc commented on #28535
@mikedanese

[2016-07-06 15:39] alexanderkiel commented on #26009
I have the same problem. I run Kubernetes v1.3.0 and have two pods from one replicaset running on two identically configured workers. One pod has my custom search domain in it's resolv.conf and the other not.

[code]

[code]

[code]

[code]

I run kubelet with `--cluster-dns=10.3.0.10` and `--cluster-domain=cluster.local` as direct process (no rkt or docker) on both workers.

[2016-07-06 15:59] wojtek-t opened #28537 "e2e flake: kubemark-gce-scale"
2000-node kubemark failed with:
[code]
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-gce-scale/1263/

Seems to be related to http2 - any ideas?

@timothysc @krousey

[2016-07-06 16:06] ConnorDoyle commented on #28313
#140 also discusses lifecycle hooks.

[2016-07-06 16:12] bprashanth commented on #24745
Please do :)

[2016-07-06 16:43] huggsboson commented on #4869
I didn't dig in to deeply, just that the expected files didn't appear.  This is docker 1.10.3 via docker-machine on os x.

[2016-07-06 16:45] krousey commented on #28537
Seems that way. We create a non-dialing client pool when we configure the transport: https://github.com/kubernetes/kubernetes/blob/786b7989a0913d6a9e3b420d59e69ba9939baffd/vendor/golang.org/x/net/http2/configure_transport.go#L18

And that seems to cause the error to be returned here: https://github.com/kubernetes/kubernetes/blob/786b7989a0913d6a9e3b420d59e69ba9939baffd/vendor/golang.org/x/net/http

[2016-07-06 16:47] krousey commented on #28537
Also, that's like... at least 249 TLS handshakes we didn't have to do. So yay?

[2016-07-06 16:51] krousey commented on #28537
@wojtek-t It might be worth considering the validity of these scale test results as they may no longer be stressing actual concurrent connections anymore.

[2016-07-06 17:02] caseydavenport commented on #14940
I believe this issue is still valid, but I'm not aware of anyone working on it.

For Calico we've been able to work around it for the cases we were seeing (3 and 4 above).  I haven't tested 5 and 6 personally.

[2016-07-06 17:08] chrisleck opened #28538 "Allow use of encrypted secrets"
If secret contents could be encrypted/decrypted by an encryption provider plugin (e.g., KMS on AWS) running in the kube master or in kubelets (though the kubelet option may require more complex IAM setup), then it would be acceptable to check in secret manifests into source control.

This is a significant pain point for my team at the moment.

[2016-07-06 17:16] bprashanth commented on #7562
I think I'm talking about implementing exactly this, without a new type of volume (for now).
If the pod/user knows what they're doing, they ask for a specific host-path like
[code]
Which translates to:
* Setting sticky-host is like setting spec.NodeName on all referencing pods.
* Any number of RCs can reference this pv, as long as sticky-host is set.
* If stick-host is unset, it gets set to the ho

[2016-07-06 17:29] girishkalele commented on #28366
@thockin

Lost messages- kube-dns logs show "failure to forward request : i/o timeout" errors.
From direct tests against the GCE DNS server, we saw no lost or dropped packets.
If we believe GCE DNS is responding, then these replies are getting lost somewhere.

[code]

[2016-07-06 17:29] freehan commented on #14940
We are basically looking at reconciliation and disaster recovery. Currently, network plugins only has a bunch of hooks where kubelet can trigger.  Need a sync loop for reconciliation or some sort. Also, we are dealing with multiple runtimes. I believe the new runtime interface can simply things. Need major rework to make this right.

[2016-07-06 17:30] quinton-hoole commented on #28477
@justinsb What we're doing elsewhere is simply doing a Remove followed by an Add instead of an Update operation.  Will that not work for you here?  Of course an Update would be a bit better, but only marginally so.

[2016-07-06 17:33] girishkalele commented on #28366
@miekg

I actually meant if we were able to use a single UDP socket to every upstream DNS server, it would save a lot of churn. Possible would need to "NAT the query transaction ids" to correctly correlate upstream replies.

I will try and force upstream TCP in kube-dns, see if that helps performance.

[2016-07-06 17:34] krousey commented on #27839
This is broken again. From api server log

[code]

Api server is crashing. @lavalamp Did we recently remove the top-level panic recover?

cc: @jlowdermilk

[2016-07-06 17:37] krousey commented on #27839
Seems that we have. The console of the e2e is:

[code]

Which seems to indicate a crash followed by periods of unavailability until the apiserver restarts.

[2016-07-06 17:37] bprashanth commented on #25543
yeah this is a docker bug (https://github.com/docker/docker/issues/7101), unsure if there's a pod level workaround, couldn't make out if it was specific to hostNetwork. the work around is restarting docker.

It happened more frequently in 1.9, but still happens on 1.11 (node team empirical data). To surface it to the NPD we need to either send some http event to a NPD server (vaporware) or write t

[2016-07-06 17:39] cjcullen commented on #27839
I'm guessing https://github.com/kubernetes/kubernetes/pull/28520 is the culprit.

[2016-07-06 17:40] freehan commented on #27603
Let me double check if 0.3.0 included some required fixed and come back.

[2016-07-06 17:48] deads2k commented on #28450
@rmmh It's not clear how or why I was chosen.  Something I'm not seeing?

[2016-07-06 17:49] miekg commented on #28366
[ Quoting <notifications@github.com> in "Re: [kubernetes/kubernetes] Improve..." ]

Interestingly this is something I'm exploring for CoreDNS (kicked off partially,
by this discussion): https://github.com/miekg/coredns/issues/184, but for TCP
sockets. Didn't completely realize this can (and maybe) should be done for UDP
socket as well - always assumed this is super check (at least when compared to

[2016-07-06 17:51] freehan commented on #27603
The following two fixes are not in 0.3.0. Need at least one of them to fix a major problem. See https://github.com/kubernetes/kubernetes/issues/24953  I will update the binary with HEAD.

https://github.com/containernetworking/cni/pull/237
https://github.com/containernetworking/cni/pull/254

[2016-07-06 17:51] jlowdermilk commented on #28439
That looks like metadataserver flakiness on the jenkins builder vm. Not sure what can be done better in client, but worth knowing this is a place where using gcp creds for kubectl can bite us.

[2016-07-06 17:59] rmmh commented on #28450
@deads2k please see https://groups.google.com/d/msg/kubernetes-dev/Cq7rrGIbQ8w/2vES0WZ9AwAJ

If you do not want to maintain this test you can follow the instructions in that post to change your assignments (remove yourself as the assignee of this bug after doing that).

If you do not want to maintain any tests you can leave the kubernetes-maintainers team. You will receive no further flake assignm

[2016-07-06 18:01] rmmh commented on #28359
@justinsb you are the randomly-assigned owner of this per https://groups.google.com/d/msg/kubernetes-dev/Cq7rrGIbQ8w/2vES0WZ9AwAJ

[2016-07-06 18:06] wojtek-t commented on #28537
@krousey - thanks for debugging;

However, I think I'm missing something. This was a flake - it's not failing constantly. And this is kubemark-2000, which mean we have 2000 fake nodes in kubemark and each of them have at least one open connection to apiserver. So apiserver has at least 2000 open connections all the time. And you are saying, the limit is 250?

regarding our scale test - we are not

[2016-07-06 18:10] yujuhong commented on #28106
kubelet on node `gke-jenkins-e2e-default-pool-6b7e7558-ipr4` got restarted during the test because it failed the health check. Not sure why/how kubelet failed due to the lower verbosity of logging in gke.

[2016-07-06 18:10] krousey commented on #28537
This limit is HTTP2 streams within a single connection. My guess is the e2e suite just happened to have 251 concurrent requests over a single transport this one time. Probably not related to the scale.

[2016-07-06 18:17] randalloveson commented on #27997
I believe I'm seeing something a lot like this. No one job with anywhere near 48k pods, but many jobs did create multiple pods when their existing pods were in a Pending state (this is with parallelism 1 and completions 1 and container restart policy Never). I would think that the jobs would only make a new pod if they were sure the old one had failed or otherwise wasn't going to make any more con

[2016-07-06 18:19] fejta commented on #27857
My typical strategy is to read the code and dig through the logs -- ideally both a successful and unsuccessful run -- to determine what should happen and what actually happens. When logs are missing then I add that logging so I can debug further. Eventually I figure out what to fix.

I also tend to look at the blame / source history for whoever has been involved with the test and contact that pers

[2016-07-06 18:23] freehan commented on #14940
If we want to do reconciliation, we have to know the current state. The best way I can think of is thru a cni  Status interface.

For `bridge` + `host-local ipam`, we can cheat by cleaning up the ip checkpoint files. I think this is the only thing that maybe leaking, right? @dcbw

[2016-07-06 18:26] mtaufen commented on #28337
P2 so I'm investigating during spare cycles.

Looking at the first two instances' Kubelet logs, it seems that there are issues connecting to the docker daemon:
e.g. `E0701 03:03:09.309050    3313 kubelet.go:3090] Error getting image list: Cannot connect to the Docker daemon. Is the docker daemon running on this host?`

Looking at the first two instances' Docker logs, I see a lot of:
`time="2016-06

[2016-07-06 18:32] david-mcmahon commented on #28435
cc @robertbailey

[2016-07-06 18:37] roberthbailey commented on #28435
So I just came across this (while downloading the 1.3.0 binaries) and I agree that this is completely ridiculous. We need an owner for this issue for 1.4.

[2016-07-06 19:22] justinsb commented on #28477
The problem is that there's a window where we have no record, I think?  And at least on AWS an immediate add will fail because the delete will still be propagating, so it's a non-trivial window.

I'm playing around with building a `ResourceRecordChangeset`, and moving the Add and Remove methods to it, and then adding an Apply method on the changeset.  The idea is that on AWS & GCE it will be atomi

[2016-07-06 19:49] quinton-hoole commented on #28477
@justinsb I think the right way to do it is:

1. Provide an Update() method, which takes the old and the new state as inputs.  This alone will provide the atomic update functionality you're looking for, and should work consistently across all DNS providers.
2. Separately, provide support for multi-operation transactions.  This we could do in one of two ways:
    1. Provide BeginTransaction() and C

[2016-07-06 19:59] lavalamp commented on #28484
Yeah. There's a flag for this already.

[2016-07-06 20:00] lavalamp commented on #22680
https://github.com/kubernetes/kubernetes/issues/25831

[2016-07-06 20:01] wojtek-t commented on #28484
@lavalamp - why did you close that?
Even though the flag exists, it's not used and this is a real problem.

[2016-07-06 20:07] smarterclayton opened #28544 "pkg/apiserver should not be a dependency of pkg/genericapiserver/options"
The addition of the RBAC settings to `pkg/genericapiserver/options` added a dependency from that code to pkg/apiserver (and also coupled pkg/apiserver to the registry implementations of security).  /options needs to not depend on low level code details so it can be imported from external code and used to do validations.

A couple of changes need to be made:

1. The flags in `pkg/genericapiserver/o

[2016-07-06 20:07] jfrazelle commented on #19648
It looks like you are running with the docker-engine apparmor profile which was not shipped because of problems on various docker versions....

You can follow the steps here to remove that specific profile. https://github.com/docker/docker/issues/19707#issuecomment-174869804

[2016-07-06 20:13] y2kenny opened #28545 "kubelet 1.3.0 fail to start static pods after upgrading from 1.2.4"
## Environment

A working v1.2.4 single master, multi-node cluster
CoreOS stable 1010.5.0
Docker version 1.10.3, build 8acee1b
kubelet binary located in /opt/bin/ start by kubetlet.service as defined here:

[code]

/etc/kubernetes/manifests/ contain two manifests:

[code]

[calico-etcd.manifest.txt](https://github.com/kubernetes/kubernetes/files/350809/calico-etcd.manifest.txt)
[kubernetes-master.

[2016-07-06 20:16] girishkalele opened #28546 "kubedns returns non-authoritative records for local services"
Same behaviour exists in 1.2.

[code]

[2016-07-06 20:17] ConnorDoyle commented on #28313
Hey @vishh I took a look at the new interfaces. Is your suggestion that to isolate a new resource, we could wrap one of the existing runtimes, forward all calls to that backing implementation, and do extra logic in e.g. `ContainerRuntime::Start` and `ContainerRuntime::Stop`? (and amend `container.PodSandboxResources` to represent other resource types.)

[2016-07-06 20:17] lavalamp commented on #28484
@wojtek-t because this is a dup-- we already have #22680 and #25831 filed about this.

[2016-07-06 20:17] #28484 closed

[2016-07-06 20:25] lavalamp commented on #20445
I agree with my past self:

I just saw another PR out to raise the max-in-flight limit, which would resolve this as a side-effect.

[2016-07-06 20:31] osterman opened #28548 "Possible Bug: `kubectl get svc blah -o yaml --export` output invalid for import"
We use `kubectl get` together with `-o yaml --export` to take backups of resources in our cluster. The problem is when we `--export` services, they cannot be reimported unless we edit them to remove invalid data.
## what
- Running `kubectl get svc blah -o yaml --export` outputs invalid `spec.clusterIP` (we see the value as `<unknown>`)
## expectation
- `spec.clusterIP` should be blank if it's not

[2016-07-06 20:42] osterman opened #28551 "Possible Bug: `kubectl get svc --export` omits `NodePort`"
We've defined a `Service` that needs to be port-bound to the host-machine on a specific port, which is then associated with our ELB. This `Service` fronts a `Deployment` that acts like our "mesh" router (which we call `edge-router`). When we `--export` a service, the `nodePort` we originally defined is dropped. Upon re-import, it will be assigned some random `nodePort`.
## what
- Using `--export`

[2016-07-06 20:45] vishh opened #28552 "Enable memory and disk usage based eviction by default in future releases"
Memory based evictions is currently opt-in and disk based evictions will also be opt-ins only.
Both of these features are useful to almost all kubernetes users. Some informed users might want to tune these features to meet their infrastructures requirements.
I propose enabling these features by default in a release after the one where they are introduced.
Specifically,
- Enable memory based disk e

[2016-07-06 20:49] mikedanese opened #28553 "maintaine kube-dns in cluster/addons"
Not everyone uses salt. We need to maintain cluster addons (even required ones) in cluster/addons/ so they are visible to users. This is where people go to look for addons. The change in location is causing a lot of confusion for non-kube-up deployment users as there was no release notes or migration path on how to deploy from the new location.

cc @girishkalele

[2016-07-06 20:51] mikedanese commented on #28553
The kube-addon-manager is also optional. Many users deploy addons using just kubectl.

https://kubernetes.slack.com/archives/sig-cluster-ops/p1467837392000173

[2016-07-06 20:52] maisem commented on #27764
Upgrading from 1.2.5 to 1.3.0 works!
All the addons are running as well.

Closing this issue.

[2016-07-06 20:52] #27764 closed

[2016-07-06 20:56] girishkalele commented on #28553
Would restoring the dns directory that was present under cluster/addons with a README.md help ?

The README would just contain instructions directing users to the new location - the effort in 1.3 was to reduce the duplication of the skydns yaml files so that DNS RC enhancements (switch to kube-dns from kube2sky, adding dnsmasq caching and federation changes) are clean and contained.

[2016-07-06 20:56] osterman commented on #28551
Interestingly enough, if you omit the service name (e.g. `foo`) and use `--export`, the `nodePort` is preserved and the `clusterIP` is set! See below.

Running `kubectl get svc edge-router -o yaml  --export`
[code]

Running `kubectl get svc -o yaml --export`, filtering for `edge-router`
[code]

[2016-07-06 20:57] osterman commented on #28548
Related: https://github.com/kubernetes/kubernetes/issues/28548

[2016-07-06 20:59] osterman commented on #28548
Behavior observed in k8s 1.2.4 & 1.3.0

[2016-07-06 20:59] osterman commented on #28551
Behavior observed in k8s 1.2.4 & 1.3.0

[2016-07-06 20:59] k8s-merge-robot opened #28554 "Kubectl client Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/5265/

Failed: Kubectl client Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27328 #27926

[2016-07-06 20:59] osterman commented on #28551
Related: https://github.com/kubernetes/kubernetes/issues/28548

[2016-07-06 21:08] caseydavenport commented on #28401
I've opened https://github.com/kubernetes/kubernetes/pull/28549 to enable the NetworkPolicy resource by default and remove the funky logic in cluster/common.sh to set the runtime config.

[2016-07-06 21:36] Random-Liu commented on #23971
https://github.com/kubernetes/kubernetes/pull/27708#issuecomment-228114420 is https://github.com/kubernetes/kubernetes/issues/28341, and should have been fixed by https://github.com/kubernetes/kubernetes/pull/28323.

The original issue should also have been fixed long time ago. Let's close this one. Feel free to reopen if it happened again.

[2016-07-06 21:36] #23971 closed

[2016-07-06 21:56] pmorie commented on #7562
I would prefer not to base anything upon the `storage-class` annotation as it will probably go away once the storage classes proposal is adopted.

[2016-07-06 22:13] bprashanth commented on #7562
yeah it's a means to an end. The point is that we can solve the "uniqueemptydir" issue by just writing a simple storage provisioner that populates hostPath with a known unique usable location, and solve the stickyness problem out of band for just hostPath volumes.

There are a lot of ideas in this bug and I'd like to iterate on new types, formalize emptydir semantics, uid in secrets etc if possibl