[2021-03-28 07:05] BenTheElder commented on #94029
/remove-lifecycle rotten

[2021-03-28 07:13] BenTheElder commented on #100602
regarding alternatives:
https://github.com/kubernetes-sigs/kind/blob/83b25fd2085e06f9deffbf70010733f3b2fb45d7/pkg/cluster/internal/patch/toml.go#L91-L94

also worth noting: https://github.com/containerd/containerd/blob/1b05b605c860e3052dc2fb298fcf98987f9a811d/go.mod#L6
(we should probably file an issue there too?)

[2021-03-28 07:27] BenTheElder commented on #100602
https://pkg.go.dev/github.com/pelletier/go-toml#Marshal may make it difficult for projects to switch.

caddy seems to be using https://github.com/naoina/toml but that has a single release in 2017

https://github.com/caddyserver/caddy/blob/b54fa4123975195c721ff5a5c0b43c4622009676/go.mod#L18

[2021-03-28 08:22] almas33 commented on #93795
@Kappie37 you can go ahead if you want

[2021-03-28 11:43] pravarag commented on #93795
@almas33 @adtac I would like to work on this issue if someone has not started already

[2021-03-28 11:44] pravarag commented on #94404
@almas33 I would like to work on this issue if you haven't started already.

[2021-03-28 13:29] rikatz commented on #100434
/assign

I'll take a look during this week on this.

[2021-03-28 13:33] rikatz commented on #100582
@gjkim42 do you need something from networking perspective? @dougsland is willing to help you take a look into this, if needed :)

[2021-03-28 13:34] Dieken commented on #89898
- k8s-1.14.8
- CentOS 7.7.1908
- linux kernel 3.10.0-1062.18.1.el7.x86_64
- coredns 1.3.1

`kubectl get event --all-namespaces` shows some pods fail to response readinessProbe time to time:

[code]

I identified the cause was the pod spent 5s to do dns lookup,  further investigation showed the node where the failing pod ran on lost incoming udp packet time to time, so the pod resent dns query 5s l

[2021-03-28 13:57] #54514 closed

[2021-03-28 14:36] gjkim42 commented on #100582
@rikatz @dougsland
Thanks.
I am trying to confirm that relaxing the constraints of the resolvconf causes no critical problem.
https://github.com/kubernetes/kubernetes/pull/100583#issuecomment-808838062
https://github.com/kubernetes/kubernetes/pull/100583#issuecomment-808893351

It would be nice to get your feedback.

[2021-03-28 17:00] #76206 closed

[2021-03-28 17:30] Dieken commented on #89898
Somebody pointed me to this link:  https://cloud.tencent.com/developer/article/1583706  (It's in Chinese, but most important information is in English)

It's recommended to insert this podConfig to your pod template:

[code]

The most important option is `single-request-reopen`.

[2021-03-28 17:42] sfgroups-k8s commented on #97283
Thanks based on this I need to run these two commands, My server running on VMWare:

https://github.com/kubernetes-sigs/kubespray/issues/7268

[code]

to keep this setting during reboot:

[code]

[2021-03-28 17:52] liggitt commented on #79464
This does not seem actionable as long as we don't intend to commit the generated code.

[2021-03-28 17:52] #79464 closed

[2021-03-28 17:57] liggitt commented on #86811
I think this was resolved by https://github.com/kubernetes/kubernetes/pull/95423 in 1.20

@apelisse , can you confirm?

[2021-03-28 18:03] champtar commented on #97283
Or you can switch from IPIP to VXLAN or even pure routing ;)

[2021-03-28 21:37] kvaps commented on #99602
Just faced with this problem again:

[code]

haproxy config for now includes just single server:

[code]

[2021-03-29 00:37] wilsonehusin commented on #100371
note to self / 1.21 and 1.22 release notes team -- let's make sure the PR body on the original PR is copied over to the new PR. `krel` will think that the old release note and documentation has been covered in 1.21, but we will (I will update this comment with link) manually override it to not show up in 1.21 release notes.

[2021-03-29 01:21] readerx commented on #97283
@sfgroups-k8s Have you solved your problem yet?

The firewall is off in your environment，So it's not the same problem that I have

[2021-03-29 01:23] h4ghhh opened #100607 "statefulset pods whose terminationGracePeriodSeconds is 0 didn't migrate when node is not-ready"
#### What happened:
I set statefulset pods' terminationGracePeriodSeconds to 0s.
When the node is down, statefulset pods don't migrate, and the state is still running.
[code]
logs:
[code]
I did a analysis as follow, and PR is https://github.com/kubernetes/kubernetes/pull/100598

[code]

[code]

[code]

#### What you expected to happen:
Statefufset pods whose terminationGracePeriodSeconds is 0 migr

[2021-03-29 02:09] logicalhan commented on #75779
/remove-lifecycle stale

[2021-03-29 02:34] chaochn47 commented on #69579
We start to see this again...

[2021-03-29 03:10] #95159 closed

[2021-03-29 03:26] pacoxu commented on #99803
New testing results.

version & config | from to | duration | log size | lines(lines/seconds) | size per line
-- | -- | -- | -- | -- | --
1.21 json | 10:33:28- 10:48:59 | 15m31s | 5.8M (6.3K/s) | 12230 (13.1 ) | 5988864 /12230 = 489.686
1.21 default text | 16:59:00 - 17:08:28 | 9m28s | 3.2M (5.77K/s) | 7632 (13.4 ) | 3269991 / 7632 = 428.4579
1.20 default text | 15:16:46 to 15:38:08 | 21m22s | 7.3

[2021-03-29 03:41] pacoxu commented on #99803
/close
as the testing result looks good to me.

[2021-03-29 03:41] #99803 closed

[2021-03-29 03:49] pacoxu commented on #96645
Do you mean that you edit the status part of quota?

`editing the status` is not acceptable.

[code]

You can only edit the `spec.hard` part in this example.

If you modify the `status.hard.pods`, it shows `resourcequota/webs-compute-resources edited` but nothing is changed.

An easy way to debug into the process is running `kubectl edit quota --v=9`.
[code]

[2021-03-29 03:51] pacoxu commented on #96645
/kind support
/remove-kind bug
/close

[2021-03-29 03:52] #96645 closed

[2021-03-29 05:35] MikeSpreitzer opened #100611 "There is no way to pass arguments to the test subject in integration testing"
#### What happened:
I wanted to run an integration test and use the `-args` option of `go test` to pass parameters to the program being tested.  I could not find a way to do so.  I tried `KUBE_TEST_ARGS="-args $the_args_I_wanted"` but this failed because those args were followed by `-short=true` in the actual program invocation (see https://github.com/kubernetes/kubernetes/blob/770d3f181c5d7ed100d

[2021-03-29 05:37] MikeSpreitzer commented on #100611
@kubernetes/sig-testing

[2021-03-29 05:37] MikeSpreitzer commented on #100611
/sig testing

[2021-03-29 06:40] AntonOfTheWoods commented on #60140
Looks like this is still an issue with 1.20

[2021-03-29 06:40] pacoxu commented on #45506
information from kubeadm code:

https://github.com/kubernetes/kubernetes/blob/ba0817b746ad55eabcf8d6f0395bffa0cfc55af9/cmd/kubeadm/app/constants/constants.go#L451-L463

https://github.com/kubernetes/kubernetes/blob/ba0817b746ad55eabcf8d6f0395bffa0cfc55af9/cmd/kubeadm/app/constants/constants.go#L289-L290

[2021-03-29 06:51] Ghosgt commented on #100596
i had the same problem

[2021-03-29 07:00] palnabarun commented on #99061
@liggitt -- Can the `release-blocker` label be removed since the revert (#100563) has been merged now?

[2021-03-29 07:24] ushell commented on #73049
mark it, container'port can receive traffic from service targetPort, even containerPort is wrong

[2021-03-29 07:45] edwardstudy opened #100613 "Weight of score plugin was reset by extension points because of same name in scheduler framework"
#### What happened:
Hi, there. We had a customized plugin to extend score/postBind points in scheduler framework. That means it works at score point to priority and record shared data at postBind point. When I used below config. The weight of score plugin didn't work as 6(reset as 1) because of postBind config. Though I can add `weight` to postBind plugin as a workround. But it's a bit confused th

[2021-03-29 07:48] edwardstudy commented on #100613
/sig scheduling

[2021-03-29 08:15] adtac commented on #98697
I'm afraid I won't have the time to look into this in the short term. Unassigning so that someone else can take a look.

/unassign

[2021-03-29 08:17] egoroof commented on #87733
Have the same issue :(

[2021-03-29 09:11] AlekSi commented on #100584
Thank you, `k8s.gcr.io/conformance:v1.21.0-rc.0` will do for us.

[2021-03-29 09:11] #100584 closed

[2021-03-29 09:56] KeithTt commented on #65346
Has swagger-ui been dropped now?

I enable the ui in the config file of apiserver:
[code]

But only got the paths without ui:
[code]

And `/openapi/v2` return a large json which can not read...

Is there a API doc of kubernetes?

[2021-03-29 09:59] hassenius commented on #80040
I can confirm that this is very much still an issue as of Kubernetes 1.19
Several days after shutting down a node, pods are still in a Terminating state, blocking proper recovery of the desired pod count.

[2021-03-29 11:59] Kappie37 commented on #100546
/assign

[2021-03-29 12:00] Dentrax commented on #86715
Same error on `v1.20.2`

`$ minikube start --alsologtostderr`

[code]

[2021-03-29 12:25] igtsekov commented on #99349
I have the exact same issue. @L-maple were you able to find a workaround?

[2021-03-29 12:35] mborsz opened #100621 "gce-master-scale-performance is failing"
#### Which jobs are failing:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance
#### Which test(s) are failing:

#### Since when has it been failing:
03-27
#### Testgrid link:

#### Reason for failure:
Two different failure reasons
#### Anything else we need to know:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/13758555

[2021-03-29 12:36] mborsz commented on #100621
/milestone v1.21

[2021-03-29 12:36] mborsz commented on #100621
/sig scalability
cc @kubernetes/release-team

[2021-03-29 12:37] mborsz commented on #100621
In both cases we have no master logs which makes it nearly impossible to debug this. https://github.com/kubernetes/test-infra/pull/21553 should fix the issue with missing logs.

In the meantime, I'm running a manual run of the same config as the last failing run

[2021-03-29 12:44] mborsz commented on #100621
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1375855502717620224:

one of the reasons for failure is:
[code]

[code]

We also see quite a few OOMs on ~10 nodes. The processes that are oom killed looks quite random: pause pods, system-logind, systemd-journal. It's quite unlikely that those are the processes that eats all the memory

[2021-03-29 12:51] gjkim42 opened #100622 "Feature: Relax the constraints of the PodDNSConfig"
#### What would you like to be added:

Relax the constraints of the PodDNSConfig

#### Why is this needed:

The limit of the number of DNS search paths and length of the DNS search list has been removed from libc.
xref: https://github.com/kubernetes/kubernetes/issues/100582

#### Implementation plan
- [ ] Confirm various DNS resolvers
  - [x] `glibc 2.17-323`
  - [x] `glibc 2.28`
  - [x] `musl 1.2

[2021-03-29 12:52] gjkim42 commented on #100622
/sig node
/sig network
/assign

[2021-03-29 12:56] t3hmrman commented on #53533
Is there any actual downside to leaving swap on and setting `fail-on-swap=false`?

I understand the decision/recommendation and can understand it will take some time to work through reconsidering it, but the regardless of how that goes am I correct in thinking that the only actual immediate downside is over-committed memory and the resulting degraded memory performance for some workloads on the ma

[2021-03-29 13:11] alculquicondor commented on #93270
I doesn't look like there is any interest in this anymore

/close

[2021-03-29 13:17] neolit123 commented on #99602
hi, maybe you can add this as an agenda item for sig-network's zoom meeting and talk to them:
https://github.com/kubernetes/community/tree/master/sig-network#contact

[2021-03-29 13:22] abdennour commented on #74099
any deadline for fixing this issue ?

[2021-03-29 13:22] abdennour commented on #74099
/reopen

[2021-03-29 13:23] neolit123 commented on #100594
/sig storage
/kind support
(?)

[2021-03-29 13:24] neolit123 commented on #100594
if you are not getting a response you can also ask @ the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
this might be a problem outside of core k8s...

[2021-03-29 13:24] mborsz commented on #100621
I checked serial console logs for one of nodes where OOM has been reported and most likely metrics-server is a component that consumes a lot of memory and triggers OOM killer on nodes.

In my manual run that is currently happening we see that it fails and jumps from node to node triggering OOMs on another node:

[code]

[2021-03-29 13:25] neolit123 commented on #100607
/sig apps

[2021-03-29 13:26] liggitt commented on #99061
I'd like @andyzhangx or @msau42's input on whether a revert or change to https://github.com/kubernetes/kubernetes/pull/97877/files#r596900593 is required as well

[2021-03-29 13:27] ivan-cai commented on #100555
@jingxu97 There are 3253 nodes in cluster.

[2021-03-29 13:33] alculquicondor commented on #96427
Before exposing more internals.

I believe both of these are already covered with the current Handler interface. You can get a `ClientSet` and the `SharedInformerFactory`.

@yuanchen8911 Have you tried those?
Do you have other use cases where you absolutely need the `restclient.Config`?
Could you describe your use case with more detail so we can brainstorm other solutions other than what you propo

[2021-03-29 13:34] liggitt commented on #65346
Yes, in 1.14

[2021-03-29 13:46] nithu0115 commented on #75065
/reopen

[2021-03-29 14:11] mborsz commented on #100621
From successful run:
[code]

There are multiple instances of metrics-server, but all of them in a short period of time (when the cluster starts). They are recreated by pod_nanny.

It looks like in failed runs pod_nanny for metrics-server failed to resize metrics-server deployment to a size appropriate for 5k node cluster.

[2021-03-29 14:17] liggitt commented on #100024
/milestone v1.22

[2021-03-29 14:19] mborsz commented on #100621
From pod_nanny logs (in the manual run):
[code]

[2021-03-29 14:20] mborsz commented on #100621
Indeed, 'etcd_object_counts' disappeared:

➜  ~ kubectl get --raw /metrics | grep etcd_object_counts
➜  ~

[2021-03-29 14:26] adampl commented on #70047
/remove-lifecycle stale

[2021-03-29 14:30] mborsz commented on #100621
It looks like etcd_object_counts has been renamed (https://github.com/kubernetes/kubernetes/pull/99785) and this makes pod_nanny not able to resize metrics-server. For that reason metrics-server is not setting any resources (should be set by pod_nanny based on the value of the metric) which allows it to schedule on small nodes (other than the "heapster" one) and OOM continuously breaking other com

[2021-03-29 14:33] mcwumbly commented on #99850
lgtm. I went through the steps from the original post and can now curl etcd's health endpoint without adding an IPv4 listener.

[code]

[code]

[code]

[code]

[code]

[2021-03-29 14:36] mborsz commented on #100621
/cc @erain @logicalhan

Is it intentional that etcd_object_counts disappears in 1.21 version? Shouldn't we move this to at least 1.22 to give some grace period when both metrics are available?

[2021-03-29 14:42] logicalhan commented on #100621
@erain I can't remember, did we delete the original? We should probably retain it for a release or two prior for the reason above.

[2021-03-29 14:44] dims commented on #100621
cc @ehashman

[2021-03-29 14:46] spiffxp commented on #100611
/priority important-soon
/triage accepted

[2021-03-29 14:47] andyzhangx commented on #99061
@liggitt I don't think we should revert #97877 since in current csi translation, we could not get pod namespace now, so anyway, the csi translation for azure file inline volume is broken. Will fix that later since I am still on vacation.

[2021-03-29 14:50] liggitt commented on #99061
ok

[2021-03-29 14:51] liggitt commented on #99061
moved from 1.21 milestone to 1.18 milestone since the remaining regression issues are on release branches

[2021-03-29 14:52] logicalhan commented on #100621
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go#L46-L62

Are you sure they are gone?

[2021-03-29 14:53] logicalhan commented on #100621
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go#L105-L109

We are double writing at the moment.

[2021-03-29 14:56] logicalhan commented on #100621
Ah actually I think the deprecated version was incorrect, so the metric was hidden a release too soon.

https://github.com/kubernetes/kubernetes/pull/100632

[2021-03-29 14:58] spiffxp commented on #75601
For those who have commented on this recently: what specifically are your plans?

The testing-commons subproject that was driving this was moved to best effort. If someone wants to continue working on this, that's great. Let the broader SIG Testing community know.

If nobody's driving a real plan though I am tempted to suggest we close this. Refactoring for refactoring's sake may not be the best u

[2021-03-29 15:00] spiffxp commented on #75601
/remove-priority important-soon
/priority backlog
/lifecycle rotten
I'm starting the 30d clock to close this out unless someone steps forward to claim ownership

[2021-03-29 15:09] Kappie37 commented on #100546
Dear @Riaankl,
When I run
[code]

It only returns
``` deleteAppsV1CollectionNamespacedReplicaSet | ReplicaSet```
not listAppsV1ReplicaSetForAllNamespaces.

What does this mean? What should I do?

Regarding
[code]

What should I see after implementing the tests?
All 4 rows? Right now I see 0 rows when running it (without editing code)

Lastly, could you tell me which parts need to be addressed in t

[2021-03-29 15:15] Kappie37 commented on #99468
@wojtek-t Do you mean that you want to check if there are overlapping test (logic) in the file volume.go or also overlapping test (logic) with other files?

[2021-03-29 15:53] Riaankl commented on #100546
@Kappie37 This issue is created to show a planned PR to the conformance meeting.
It is just a proof of concept before creating the conformance PR.
What we do:
I create a local cluster and create a test.
In the cluster, I have [APISnoop](https://github.com/cncf/apisnoop/#apisnoop-readme) running to see what user agents are hit by the test.
Before I run the test I delete all cluster logs.
Then I run

[2021-03-29 16:02] mborsz commented on #100621
/reopen

Thanks for a fix!
I would like to keep it open until we see at least a single green run to double check that this was the only issue in the test

[2021-03-29 16:47] Huang-Wei commented on #96427
What we are referring to is particular CientSets based on custom resources, see [here](https://github.com/kubernetes-sigs/scheduler-plugins/blob/268c1b71a08fb6fa1a5fbcebac85c6fe543622be/pkg/capacityscheduling/capacity_scheduling.go#L117).

For now, it's inconvinient to reuse the same clientConnection to construct CRD based informers. We had to work it around by re-configuting the client path in pl

[2021-03-29 16:57] bowei commented on #41881
This is where the PathType `PathTypeImplementationSpecific` comes in. Creating a portable re syntax between implementations is quite a fraught topic: there are many subtle difference in behavior between re engines (PCRE, Re2, ECMAScript etc).

For Ingress spec -- use of PathTypeImplementationSpecific allows for implementations to use their own syntax to specify that the expression is a regex. For

[2021-03-29 17:01] aojea commented on #99850
lovely, thanks for double checking, we can close it now
cc: @mikebrow
/close

[2021-03-29 17:01] #99850 closed

[2021-03-29 17:03] chrisjohnson commented on #41881
If somebody gets the time to test this out and confirm that we can use suffix patterns such as `Host: foo.*` (using nginx ingress controller's `~` feature) would you please post back here with your sample config so we can learn from it and also to confirm that this ticket truly is ready to be closed?

[2021-03-29 17:18] alculquicondor commented on #96427
In that case, I prefer minimal changes: Add a method that returns `restclient.Config`

[2021-03-29 17:42] egoroof commented on #87733
/reopen

[2021-03-29 17:57] bowei commented on #41881
For host, a suffix wildcard is not supported wrt to the definition:

see https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#support-for-hostname-wildcards

[2021-03-29 18:06] Huang-Wei commented on #96427
`restclient.Config` exposes too much info like password, bearerToken, so woundn't be a good option:

https://github.com/kubernetes/kubernetes/blob/e29c568c4a9cd45d15665345aa015e21bcff52dd/staging/src/k8s.io/client-go/rest/config.go#L53

[2021-03-29 18:11] oomichi commented on #65706
I also am facing this issue on Kubernetes v1.17.12 on EKS.
Everything is good except our statefulset volumeClaimTemplates status.

/reopen
/cc @oomichi

[2021-03-29 18:11] oomichi commented on #65706
triage/accepted

[2021-03-29 18:12] oomichi commented on #65706
/triage accepted

[2021-03-29 18:37] alculquicondor commented on #96427
The plugins are already running in the same binary, why wouldn't it be trusted?

[2021-03-29 18:59] medyagh commented on #100309
how about allow it is an optional config for kubelet and if user doesn't specify it, then it fall back to lexicographic order ? that way if users really wants to config it with a specific CNI why not allow them to set it explicitly

[2021-03-29 19:02] chrisjohnson commented on #41881
Then I'm confused why this ticket is being closed since it exists to request support for exactly that

[2021-03-29 19:07] Huang-Wei commented on #96427
I rethink it a bit, and honestly believe this the most viable way. Also it seems unnecessary to expose an extra `DiscoveryClient` as users can [obtain it](https://github.com/kubernetes-sigs/scheduler-plugins/blob/268c1b71a08fb6fa1a5fbcebac85c6fe543622be/pkg/generated/clientset/versioned/clientset.go#L73) from the CRD clientset.

I will go with an implementation to expose the `restclient.Config`. T

[2021-03-29 19:08] deitch commented on #41881
I second that. I would want to reopen it (I opened the original issue), but I apparently have insufficient rights. Would a maintainer please reopen it? Much appreciated, thank you.

[2021-03-29 20:00] tkashem commented on #98697
(looking at it now)

/assign

[2021-03-29 20:16] tkashem commented on #98697
found the data race and put out a quick fix for this: https://github.com/kubernetes/kubernetes/pull/100638

[2021-03-29 20:43] bowei commented on #41881
I would create a new issue for your specific use case -- the original title is "Allow RegExp or wildcard for ingress domain and/or path";

it is quite broad (note: the "and/or") and some of the functionality is possible now:

* wildcards
* regex via ImplementationSpecific

[2021-03-29 20:53] chrisjohnson commented on #41881
We already have several people gathered here, watching this ticket, who all seem to be in alignment on what we are after. I would rather not throw that away and start from scratch simply because the title may not be exactly perfect. Surely we can rename the title of tickets? The example requested right in the original ticket body is asking for exactly this thing, and the followup discussion is all

[2021-03-29 21:48] bowei commented on #41881
/reopen

We should fix the title of this issue to match the proposal, if the use case is more narrow.
Support to allow regexp in general in a portable way is not currently planned for the reason explained above. Implementations can do things on their own, but not in a way that will be guaranteed by the API.

The issue with suffix wildcards is that is does not interact well with some uses (certs is

[2021-03-29 21:53] bowei commented on #41881
/triage accepted

[2021-03-29 22:01] tabbysable commented on #95086
/lifecycle frozen

This will always be a good idea, but it's a rainy-day idea.

[2021-03-29 23:05] logicalhan opened #100640 "storage_object_counts should be calculated on writes not in a polling loop"
#### What happened:

Currently, we generate the data for etcd_object_counts/apiserver_storage_objects metric in a polling loop:
https://github.com/kubernetes/kubernetes/blob/6572fe4d90173a1e97fda3e0cc28acc95e3f560a/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L1424-L1440

This is not ideal and has caused the storage interface to expose a `Count` method which does not take a

[2021-03-29 23:06] logicalhan commented on #100640
/sig api-machinery
/cc @dashpole

[2021-03-29 23:13] tkashem commented on #98697
I ran `stress`, and it looks good so far:
[code]

[2021-03-29 23:17] tkashem commented on #98697
cherry-picked it for `1.21` - https://github.com/kubernetes/kubernetes/pull/100642. Can someone please let me know if I did it correctly?

[2021-03-29 23:19] thockin commented on #95570
I might also be OK with some additional parameter to indicate how many IPs to block off, assuming at the bottom of the range.

[2021-03-29 23:22] liggitt commented on #100640
context for timeout/tracing is fine. switching to compute on write means an HA server can be forever out of date, right?

[2021-03-29 23:23] liggitt commented on #100640
also, I don't know that I'd want to recompile count on every create/delete if it is expensive

[2021-03-29 23:25] thockin opened #100643 "Consider: remove node-port conflict prevention in kube-proxy and kubelet"
Background:  Kube-proxy (https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1099-L1128 https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1259-L1292  bernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1440-L1478 https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1253-L1281) and kubelet (https://github.com/k

[2021-03-29 23:51] logicalhan commented on #100640
We can also just compute on demand via a GaugeFunc. Then we auto-throttle at the rate of metric scrapes.

[2021-03-30 01:25] PaulFurtado opened #100648 "CNI: loopback adapter gets state set to down due to PID recycling"
#### What happened:
I have been chasing a bug where the `lo` interface on our kube nodes periodically gets its state set to down and causes all sorts of havoc on the node and I have finally come to the conclusion that it is due to PID recycling. Today I finally diagnosed this after I compiled many different logs on the system and noticed the PIDs wrap around

#### What you expected to happen:
Kube

[2021-03-30 01:25] PaulFurtado commented on #100648
/sig network

[2021-03-30 01:45] KeithTt commented on #65346
Thanks a lot for your reply.

I found the usage of OpenAPI: https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md

but I do not think it is convenient....

[2021-03-30 03:13] mlycore commented on #94293
Do you mean you cannot delete Pod after delete the Deployment ? The cascade thing?

[2021-03-30 04:37] Mohkam commented on #81020
/remove-lifecycle rotten

i am also facing this issue. it looks like a bug in AKS. my nodes are with failure-domain/zone=0 but pvs are being tagged for westus2-2 or -3.

[2021-03-30 05:31] jingxu97 commented on #80040
cc @xing-yang

[2021-03-30 05:57] uablrek commented on #100643
Would it be possible to use eBPF and create a filter that blocks bind on the node-port range?

I have not worked with eBPF myself and may be over estimating it's magic powers. Perhaps some Cilium guy can advice? They have written the best eBPF description I have read; https://docs.cilium.io/en/v1.9/bpf/

[2021-03-30 06:19] yuga711 commented on #80040
Referring a PR (https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/529) for a similar issue with the vSphere CSI driver.

[2021-03-30 06:21] sofat1989 commented on #100178
@Pingan2017 how to add `TimeOut` for syscall.Stat? Could you explain more？

[2021-03-30 06:26] DorChen commented on #82512
@sofat1989 I meet the same issue on 1.14.8 version, have this issue be fixed?

[2021-03-30 07:02] mborsz commented on #100621
https://gke-scalability-prow.corp.goog/view/gcs/gke-scalability-prow/logs/ci-kubernetes-e2e-gke-1.20-5000-performance/1376444124651065347 has passed

In kube-scheduler logs I see that metrics-server was correctly upsized by addon-manager (resizes happens on the very beginning of the test + hash in the name changes which means that deployment's spec has changed).

[code]

[2021-03-30 07:05] rootmout commented on #100594
It turns out  that `kubernetes.io/cinder` provisioner is deprecated since k8s v1.11 [1] and `cinder.csi.openstack.org` must be used instead. A good example of use : [cinder-csi-plugin/nginx.yaml](https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/cinder-csi-plugin/nginx.yaml)

[1] https://kubernetes.io/docs/concepts/storage/storage-classes/#openstack-cinder

[2021-03-30 07:05] #100594 closed

[2021-03-30 07:24] mborsz commented on #100621
The issue seems to be resolved. I triggered another manual run in the internal project to make sure that it's not flake. We expect result in ~4h.

[2021-03-30 07:25] fristonio commented on #100643
Hey @uablrek
Yeah, we have something similar for Cilium already where we block `bind{4,6}` for NodePorts(https://github.com/cilium/cilium/pull/9880/).
I believe at this point we don't have any eBPF infrastructure in the proxy though? It will be interesting to see how we can bring eBPF to the proxy.

[2021-03-30 07:38] uablrek commented on #100643
Perhaps an out-of-process agent may be the best first approach.

[2021-03-30 07:53] liulangwa commented on #79384
tks

[2021-03-30 07:57] macchiang commented on #59078
Hi guys,
`p10k instant prompt` sovled my slow issue....
https://github.com/romkatv/powerlevel10k#instant-prompt

[2021-03-30 08:08] ahmadbabaei commented on #94293
Yes exactly. The deployment deletion won't delete the pods. They can be scaled up and down.

[2021-03-30 08:10] gavinfish commented on #100611
/assign

[2021-03-30 08:16] withlin commented on #82296
same issue.

[2021-03-30 08:22] wojtek-t commented on #95110
/remove-lifecycle stale
/help wanted

[2021-03-30 09:08] igtsekov commented on #99349
I might have found a workaround.
In my setup, I have a global HPA scale down stabilization period of 5 minutes (300s), that we set with the `--horizontal-pod-autoscaler-downscale-stabilization` option of the [kube-control-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/). If I set [this](https://kubernetes.io/docs/tasks/run-application/horizontal-

[2021-03-30 09:14] bcho commented on #94293
We have a cluster observed similar issue as this case. Our setup flow is:

1. create a deployment
2. deployment creates the replica set, then pod
3. delete the deployment
4. deployment deleted, but the rs and pod are still remaining in the cluster

From KCM's log, we can see many log line like this:

However we didn't reproduce it in other clusters with similar flow (and we didn't see the cache sy

[2021-03-30 11:04] Aqilmirza opened #100661 "BUG: pods getting scheduled when any one matchExpressions getting satisfied while defining multiple matchExpressions"
As per defines in kubernetes documentation [https://v1-19.docs.kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/] that - `If you specify multiple matchExpressions associated with nodeSelectorTerms, then the pod can be scheduled onto a node only if all matchExpressions is satisfied.`

However, pods getting scheduled on nodes even if any one of the "matchExpressions" getting satisfied

[2021-03-30 11:06] Aqilmirza commented on #100661
/sig scheduling

[2021-03-30 11:24] aojea commented on #100643
I agree with you about that the port-holding logic, but after discussing it with @danwinship , I couldn't stand against the argument that is a real threat, more or less likely, but that the port-forwarding can steal a process port is real.

That seems like a nice and easy project and covers both kubelet and kube-proxy, can we adopt it in sig-network? I'm bad with names, something like port-conflic

[2021-03-30 12:06] mborsz commented on #100621
The manual test has passed. I believe this is resolved.

[2021-03-30 12:06] #100621 closed

[2021-03-30 12:15] #98697 closed

[2021-03-30 12:25] palnabarun commented on #94585
/milestone v1.22

[2021-03-30 12:25] palnabarun commented on #88981
/milestone v1.22

[2021-03-30 12:29] wojtek-t commented on #99468
With other files - @msau42 would be the best POC to ask for more details.

[2021-03-30 12:41] uablrek commented on #100643
I like the "without a living process" approach. As I understand a eBPF filter can stay in the kernel after the program that loaded it has terminated. Right?

It would be good to have a run-once command executed as a part of K8s startup like;
[code]

[2021-03-30 13:44] danwinship commented on #100643
Should this be a KEP?

We need a list of criteria. eg

1. It's not possible for two Services to claim the same NodePort? (I think this is already guaranteed by the apiserver independently of the port opening.)
2. It's not possible for two Pods on the same node to claim the same HostPort? (I think this is already guaranteed by the scheduler independently of the port opening.)
3. It's not possible f

[2021-03-30 14:27] smira opened #100674 "e2e test OIDC discovery fails with ECDSA service account key"
#### What happened:

e2e test `[sig-auth] ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]` fails with ECDSA Service Account key

#### What you expected to happen:

e2e test to succeed with ECDSA Service Account key

#### How to reproduce it (as minimally and precisely as possible):

Use ECDSA key for the service account key.

####

[2021-03-30 14:27] smira commented on #100674
/sig testing

[2021-03-30 14:35] jjschwarz opened #100675 "DualStack Node only appears to receive IPv4 InternalIP"
#### What happened:

I used kubeadm to deploy Kubernetes v1.20.5 to a dual stack CentOS v7.9 host with the command:

kubeadm init --upload-certs --feature-gates IPv6DualStack=true

During the initialization I noticed that it issued certificates for the IPv4 address, the IPv4 loopback and the IPv6 loopback address.  After initialization
the command:

kubectl get nodes k8s-1.devtest.bugs.net -o go-t

[2021-03-30 14:37] jjschwarz commented on #100675
/sig network

[2021-03-30 14:41] adtac commented on #99605
@Harshrai3112 @joyliu-q @Hangzhi @wy2249 @Ananya-1106 @tigllon (I hope I didn't miss anyone)

Hello! As you might know, the GSoC project proposal phase has begun. It goes on till the 13th of April, so you have approximately two weeks to submit a proposal. Refer to the [GSoC timeline page](https://developers.google.com/open-source/gsoc/timeline) for full details.

Kubernetes is a part of the CNCF o

[2021-03-30 14:43] smira commented on #100674
Changing the service account key type to RSA fixes the test:

[code]

[2021-03-30 14:44] tgraf commented on #58624
I'm happy to get this to a concrete proposal with a KEP based on what we have learned with CiliumNetworkPolicy.

[2021-03-30 15:23] Kappie37 commented on #99468
@wojtek-t Thank you!

@msau42 Could you direct me to a general area of where to look or some strategy for searching?

Additionally, is it okay if I assign myself to work on it?

Kind regards

[2021-03-30 15:46] #70013 closed

[2021-03-30 15:49] thejoycekung commented on #100230
From the last few days:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1376694916591128576
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1376121002546696192
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1376027888423276544

[2021-03-30 16:03] yogeek commented on #45419
Thank you @grosser !

After your message, we deployed a test cluster (we currently are in K8S 1.19.8) with half the nodes with containerd 1.4.4 and the other half in container 1.4.3 and we managed to reproduce the issue by updating frequently the number of pods on specific nodes (scale up and down a simple deployment with a node selector to overload targeted nodes). This caused the PLEG duration t

[2021-03-30 16:22] neolit123 commented on #100661
/kind bug

[2021-03-30 16:43] renukamanavalan opened #100677 "Master continues to use deleted node's etcd"
#### What happened:
**Kuberntes version:** 1.18.6
### Summary:
Created a master via init, added another one via "join", after sometime, drained & deleted the joined-node. Still etcd spews messages like, `etcdserver: leader changed`. Later when I intentionally removed /etc/kubernetes from deleted node & rebooted it, it made the first master "inoperative". Any kubectl command says "connection to ser

[2021-03-30 16:50] bowei commented on #95258
@vbannai -- do we have a timeline on what CNI binaries are used in which release?

[2021-03-30 16:55] bowei commented on #39423
@freehan has made some improvements in parallelization of the Service controller; may be relevant to this:

[code]

[2021-03-30 17:35] BondAnthony commented on #86064
Hi @qiffang, at the time it was the latest release of Amazon Linux, I did this test in October of 2020.

[2021-03-30 17:39] eMGabriel commented on #91220
/remove-lifecycle stale

[2021-03-30 17:50] inductor commented on #94585
@palnabarun Sorry I thought I replied but that is fine.

[2021-03-30 17:50] steliosAnastasakis commented on #29838
you need to first do a `kubectl get events -o=json` to see what fields you can use for it. in some cases `lastTimestamp` for example is being included in metadata and is empty or duplicated (i think helm includes it in some "managedFields"). You need to find the proper time field that can be used for sort and use that one. as example, in some projects i use
`get event --sort-by='.lastTimestamp' `

[2021-03-30 17:51] bpstelios10 commented on #29838
you need to first do a `kubectl get events -o=json` to see what fields you can use for it. in some cases `lastTimestamp` for example is being included in metadata and is empty or duplicated (i think helm includes it in some "managedFields"). You need to find the proper time field that can be used for sort and use that one. as example, in some projects i use
`get event --sort-by='.lastTimestamp' `

[2021-03-30 17:53] BenTheElder commented on #100674
SIG Auth own their test cases (it's tagged in the test name), SIG Architecture own conformance. Testing owns the frameworks, CI, tooling, etc.

[2021-03-30 17:56] BenTheElder commented on #100648
Are you using dockershim? You mention a cri-o fix but not how Kubernetes comes into play here.

[2021-03-30 19:02] Kappie37 commented on #99468
/assign

[2021-03-30 19:46] liggitt commented on #100674
/assign @mtaufen
/priority critical-urgent
/milestone v1.21

because this is in the conformance suite, it must not restrict valid+supported cluster configurations

[2021-03-30 20:02] zenbones opened #100682 "Misleading events show warnings but no positive affirmation when the warning is corrected"
When getting a description of relevant events, for example this from 'kubectl describe pdb <name>'...

[code]

This information is good to know. The fact is that it has been corrected. In the same report, just above it...

[code]

And an attempt to drain the node yields...

[code]

So, all is well, and the pod has been found by the PDB and appropriately protected. It would be great of there were a

[2021-03-30 20:17] fedebongio commented on #100556
/triage accepted

[2021-03-30 20:18] fedebongio commented on #100640
/triage accepted

[2021-03-30 20:33] BenTheElder commented on #99957
I think this will also impact the GCE jobs once we even get cluster bring up to succeed with the removals.

[2021-03-30 20:52] muff1nman opened #100683 "Daemonset Status is not updated when Pod create fails"
#### What happened:
A Daemonset's status field was not updated following its failure to create Pods.

#### What you expected to happen:
A Daemonset's `.status.desiredNumberScheduled` should be set to match the number of matched nodes and `.status.numberUnavailable` should be set to reflect any failures where the daemon pods are not running or available even when a Pod cannot be created (i.e. due t

[2021-03-30 20:55] muff1nman commented on #100683
/sig apps

[2021-03-30 20:58] unixfox commented on #64623
/remove-lifecycle stale

[2021-03-30 21:16] aojea commented on #100674
/reopen
the image needs to be promoted and bumped in the e2e test

[2021-03-30 21:37] PaulFurtado commented on #100648
Ah yeah, I thought I mentioned docker in the issue but I see that I missed that. Yes, this is with dockershim, so kubernetes is referencing namespaces by PID.

So a simple fix with dockershim could be for kubelet to reference the netns via the `NetworkSettings.SandboxKey` of the infra container, excerpt from `docker inspect`:
[code]

However, might this also be a problem for runtimes other than do

[2021-03-30 22:07] aojea commented on #100648
/assign @dcbw @squeed

[2021-03-30 22:20] smira commented on #100674
promote image PR: https://github.com/kubernetes/k8s.io/pull/1847

[2021-03-30 22:27] thejoycekung commented on #100138
Triage is showing that nothing has flaked since the 23rd, so I'm pretty confident closing this now. https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=surge%20pods%20onto%20nodes%20when%20spec%20was%20updated

Thanks so much for your help @soltysh !

/close

[2021-03-30 22:27] #100138 closed

[2021-03-30 22:32] BenTheElder commented on #100677
/area kubeadm
/sig cluster-lifecycle
kubeadm runs a single etcd instance on the first control plane node (`kubeadm init`) unless you provision etcd yourself.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

[2021-03-30 22:36] chenlrambus commented on #99061
I encountered same issue.
Is this fixed ?
any workaround for this issue ?

[2021-03-30 22:42] alexandrsemak commented on #96240
I will join your party:

`pod/xxxxxxxxx   Error: failed to create containerd task: OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting \\\"/var/data/kubelet/pods/5aa7b825-4192-4240-8563-c7997914f907/volume-subpaths/xxxxxxx/xxxxxx/0\\\" to rootfs \\\"/run/containerd/io.containerd.runtime.v2.

[2021-03-30 22:50] renukamanavalan commented on #100677
Yes, Init brought in the first instance of etcd, in master**-1**
When master**-2** joined, the second instance started.

I could see messages like "leader changed"

When I remove master**-2** (the node that joined) using `delete node`, in master**-1**, I could still see "leader changed" messages spewing periodically, though `kubectl get nodes` lists only one node.

Later when I intentionally remov

[2021-03-30 23:55] mikedanese commented on #100401
Looks like Azure SDK issue is fixed in https://github.com/Azure/azure-sdk-for-go/issues/14283 and should be resolved with a dependency bump.

[2021-03-30 23:56] mikedanese commented on #100401
@PushkarJ do you have a heketi issue we can reference here?

[2021-03-31 00:00] PushkarJ commented on #100401
Here you go:
https://github.com/heketi/heketi/issues/1841

[2021-03-31 01:58] CaoDonghui123 commented on #100661
/assign

[2021-03-31 02:03] navidshaikh commented on #100401
@PushkarJ : It was a transient dependency and fixed where it came from in https://github.com/Azure/azure-sdk-for-go/issues/14283, next dep bump should fix it.
[code]

[2021-03-31 02:03] pacoxu commented on #100683
Let me reproduce it to confirm if this is a status update issue.
Thanks for the detailed reproduce steps.

[2021-03-31 02:14] pacoxu commented on #100682
/sig app

[2021-03-31 02:14] pacoxu commented on #100682
/sig apps

[2021-03-31 02:24] pacoxu commented on #100675
Refer to https://github.com/pacoxu/website/blob/5a6c4244c44b3d3e474f62731919ec0d2637518c/content/en/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md

The document is targeting 1.21 and it can be used for 1.20 with DualStack feature gate on.

[code]

Node IP dual-stack can be configured in nodeRegistration.kubeletExtraArgs. It will configure `kubelet --node-ip` with both ipv4 a

[2021-03-31 02:26] JhoLee commented on #87888
I have a same issue.
When I use subPath on PVC or nfs, hostPath, Kubelet says it can not prepare subPath.

Running on on-premise cluster.
Running NFS server with K8s, and NFS subdir provisioner on it to use dynamic PV provisioner.

[2021-03-31 02:35] pacoxu commented on #100677
I think you can refer to #74112 or https://stackoverflow.com/a/60297375/1926952.

The correct way to delete a master node with kubeadm would be `kubeadm reset`. It will call etcd member remove as #74112.

If you use `kubectl delete node`, the etcd member is still in the etcd cluster. The StackOverflow link may help.

[2021-03-31 03:21] wangyysde commented on #100683
There are the same results on k8s 1.19.4. I will try to it.

[2021-03-31 03:21] wangyysde commented on #100683
/assign

[2021-03-31 03:40] pacoxu commented on #100683
I'm not quite sure. But it may be something that is expected.
If `desiredNumber` is calculating `quota` as well, `0` pod for ds is correct.

[2021-03-31 03:50] pacoxu commented on #94417
/close
/remove-kind bug

@goyalmayankk It works as design.

[code]

- Cronjob create Job every minute ("*/1 * * * *")
- `completions` 5 is for every Job
- every job has completion of 5.

[2021-03-31 03:50] #94417 closed

[2021-03-31 04:03] tanjing2020 commented on #100661
Reference use case： TestNodeAffinityPriority
multiple nodeSelectorTerms：then the pod can be scheduled onto a node if one of the nodeSelectorTerms can be satisfied
~~
name: "Pod with multiple NodeSelectorTerms ORed in affinity, matches the node's labels and will schedule onto the node",
			pod: &v1.Pod{
				Spec: v1.PodSpec{
					Affinity: &v1.Affinity{
						NodeAffinity: &v1.NodeAffinity{

[2021-03-31 04:04] renukamanavalan commented on #100677
Thanks a lot Paco. I will try your suggestion.

Just one more consultation request.

I am running my master node VM in managed environment.

1. Say I have 5 VMs running as **master nodes** in control-plane cluster.
    The etcd cluster will have all 5 node names as master nodes

2. A VM could get deleted & re-created anytime, but using same node name.
    The VM got re-imaged, so it lost all its c

[2021-03-31 04:45] Hitesh-Agrawal opened #100695 "Pods stuck on terminating"
#### What happened:
Pods stuck on terminating
#### What you expected to happen:
Pods to Terminated after failing Readiness and Liveliness Probe
#### How to reproduce it (as minimally and precisely as possible):
1) Create a Deployment.
2) kubelet fails to delete and recreate the pod after terminationGracePeriodSeconds: 300
3) Had to forcefully delete the pod after it was stuck in Terminating State.

[2021-03-31 04:56] pacoxu commented on #100677
For me, I use `kubectl exec` or `docker exec` to the etcd pod/container
[code]

- `etcdctl member list` to show the member id
- `etcdctl member remove <memberID>` like dc543c4d307fadb9 (remove unused members)
- If you have 5 master nodes, etcd cluster would be healthy with  3  healthy nodes.

[2021-03-31 05:03] Hitesh-Agrawal commented on #100695
Below are the liveliness and readiness probe failure (which are for tcp port 6565), if you see closely the container successfully restart on Mar 26 and Mar 27 , but it failed to restart on Mar 28
`I0325 00:00:04.048891   17532 prober.go:124] Readiness probe for "XXXXXXXXX(75ba2b6a-b39c-4745-b6a6-e2bf4d02afda):ABC" failed (failure): dial tcp 10.54.5.69:6565: connect: connection refused
I0326 00:00:

[2021-03-31 05:07] Hitesh-Agrawal commented on #100695
/sig cluster-lifecycle

[2021-03-31 06:19] RA489 commented on #100695
/kind support

[2021-03-31 06:20] RA489 commented on #100683
/kind support

[2021-03-31 06:20] RA489 commented on #100675
/kind support

[2021-03-31 07:03] muff1nman commented on #100683
@pacoxu The ds controller taking quota into account doesn't make sense as quota is a namespace level aspect and it isn't known by the controller whether its own pods will be restricted or other pods owned by other controllers in that namespace.

[2021-03-31 07:55] squeed commented on #100648
I actually discovered the same bug in CRI-O a few years ago and wrote a blog post about it: https://www.caseyc.net/home/localhost-special-1/

CNI itself can do nothing; it takes the namespace path as passed. If we were maintaining Dockershim, I'd say we should properly bind-mount the netns. But since this is all going away (both dockershim and, more immediately, the container), we can just stop te

[2021-03-31 08:00] BenTheElder commented on #100648
cc @dims @mikebrow

[2021-03-31 08:01] #96804 closed

[2021-03-31 09:17] bacmat opened #100697 "When was nodeName introduced?"
Hi, I'm having issues assigning a pod to a specific node name. It seems to work fine in our test environment but not in our stage/prod environment.

We're running on quite old server versions and the test environment (where it works as intended) is running on 1.12 and the stage/prod is running on 1.10.13. When I'm checking the deployment in test I can see "nodeName" but in stage/prod it's not ther

[2021-03-31 09:25] wdec opened #100698 "conntrack entries not cleared when switching service endpoints"
#### What happened:

When running a single-leader/follower pod-setup front-ended by a k8s service, upon the switchover of the leader pod corresponding to a change in the service endpoints, established TCP sessions to the leader do not get disconnected. The conntract rules for the established TCP sessions are not cleared.
This is a serious problem for leader/follower based setups with long living s

[2021-03-31 09:29] wdec commented on #100698
/sig network

[2021-03-31 09:58] bacmat commented on #100697
Thanks for your reply. We succeeded to add it manually to the deployment but had some problems when trying to upgrade the deployment with Helm, so it's pretty much solved now.

[2021-03-31 09:58] #100697 closed

[2021-03-31 11:02] raul1991 commented on #97588
Seems like the job is no more present in the `kubectl get jobs.batch` list . I am assuming it correctly exited and hence not present. So let's close this issue.

[2021-03-31 11:03] #97588 closed

[2021-03-31 11:33] nikhita commented on #100602
/sig architecture

[2021-03-31 12:49] neolit123 commented on #100677
thanks @pacoxu for providing help in this support ticket.
@renukamanavalan yes, you have to use kubeadm reset that removes a member or you have to remove it manually using etcdctl.

closing this, but feel free to ask more questions.
/close

[2021-03-31 12:49] #100677 closed

[2021-03-31 13:07] alculquicondor opened #100705 "Regression: Multi-AZ Clusters test timing out in big clusters"
From https://github.com/kubernetes/kubernetes/pull/98699#issuecomment-810916947

After #98699, Multi-AZ Clusters tests in 1.19 and 1.20 started timing out as createBalancedPodForNodes is extremely inefficient in scale: for each node (out of 5k), it lists all pods in a cluster serially (each list takes ~5s), which translates to ~7 hours.

Optimizing this function by listing pods once and then in me

[2021-03-31 13:08] alculquicondor commented on #100705
/triage accepted

[2021-03-31 13:28] AliceZhang2016 commented on #100705
/assign

[2021-03-31 13:52] karolinepauls commented on #93018
/remove-lifecycle rotten

[2021-03-31 14:09] dims opened #100707 "Dockershim deprecation side-effect : "kubenet" will be gone!"
Tracking issue for this ask from sig-network. When [dockershim will be removed](https://github.com/kubernetes/enhancements/issues/2221) from kubernetes/kubernetes, `kubenet` will be removed as well

![image](https://user-images.githubusercontent.com/23304/113157689-20590d00-9209-11eb-8383-95c857b8128e.png)

[ ] - cleanup references in Kops and Kops jobs ( [here](https://cs.k8s.io/?q=kubenet&i=nope

[2021-03-31 14:09] dims commented on #100707
/assign

[2021-03-31 14:19] dims commented on #100707
cc @thockin @aojea

[2021-03-31 14:27] vickeyrihal1 opened #100708 "support of pause for Windows 2019"
#### What would you like to be added:
support for Windows 2019 for [pause build.](https://github.com/kubernetes/kubernetes/tree/master/build/pause)

#### Why is this needed:
AWS EKS windows is supported only on 2019 at latest.

https://github.com/kubernetes/kubernetes/tree/master/build/pause

[2021-03-31 14:47] chenlrambus commented on #99061
There is no way to downgrade AKS. The creation of LIS/KIS issue has been fixed.
Now, the agent is down. This happened a few days back. I was able to bring it back after reboot VM.
Last night I did  reboot VM. It does not help. I submitted a ticket to Microsoft for the issue.

-Leland

From: Nikash Narendra ***@***.***>
Reply-To: kubernetes/kubernetes ***@***.***>
Date: Wednesday, March 31, 2021 at

[2021-03-31 14:47] renukamanavalan commented on #100677
One more question.

First my THANKS to Paco & Lubomir!

In my second scenario, where a re-imaged VM attempting to join (_as master_) using same node name as it had before re-imaging, could I simply delete the node (`kubectl delete node`) and  then join (`kubeadm join ...`)

[2021-03-31 14:49] smira commented on #100674
I believe with #100687 merged this can be closed as all the fixes were done and backported to 1.21

[2021-03-31 14:52] neolit123 commented on #100677
the etcd members have storage on a VM, but even if you delete this storage and whole VM, the etcd member has to be deleted using etcdctl from the etcd cluster.

[2021-03-31 14:54] wainersm opened #100710 "e2e tests should be adapted for Kata Containers"
One way (maybe the easiest today) of running the e2e tests for testing Kata Containers [1] with Kubernetes is to deploy an admission controller webhook to mutate pods so that they will have set the `runtimeClassName` properly. The caveat of such as approach is the webhook mutating not just test pods but also admin ones, which could drive to false-positives.

Regardless, I've been using the project

[2021-03-31 14:57] wainersm commented on #100710
/sig testing

[2021-03-31 14:57] wainersm commented on #100710
/sig storage

[2021-03-31 15:09] mcginne opened #100711 "Pods remain Pending indefinitely when apiserver is under heavy load"
#### What happened:
If I put the apiserver under heavy load I find that pods can sit in Pending status indefinitely, until the load on apiserver is reduced.

#### What you expected to happen:
Pods should schedule eventually, even if delayed

#### How to reproduce it (as minimally and precisely as possible):
I put the Kube apiserver under heavy load - I have 200 pods making `get pods` requests agai

[2021-03-31 15:14] #100674 closed

[2021-03-31 15:17] mcginne commented on #100711
/sig scheduling

[2021-03-31 15:18] erismaster commented on #96770
@spiffxp We're past Test Freeze now - should this be moved to 1.22?

[2021-03-31 15:19] spiffxp commented on #96770
/milestone v1.22

[2021-03-31 15:29] renukamanavalan commented on #100677
Thanks Lubomir!

Will "kubeadm reset" work from a re-imaged VM that has no locally available data ?

[2021-03-31 15:30] neolit123 commented on #100677
i would not work, since the VM would not have the admin.conf or certificates on disk required to connect to the k8s / etcd clusters.
you should try the etcdctl commands that @pacoxu gave.

[2021-03-31 15:38] sladyn98 commented on #100556
I tried this locally
[code]

and it passes, so maybe I can try stress testing this

[2021-03-31 15:41] renukamanavalan commented on #100677
FYI: For automated scenarios, I prefer not to have the need to get into other VMs. So I am trying to look for other possibility,

Question: (_hopefully last_)
I could manually copy in /etc/kubernetes/admin.conf and /etckubernetes/pki/* files into this re-imaged VM.

With those **files in place,** will running `kubeadm reset" from this re-imaged VM could work ?

[2021-03-31 15:43] aojea commented on #100707
Also, announced  on the sig-network mailing list Feb 1st
https://groups.google.com/g/kubernetes-sig-network/c/nW_1gYTqW_0/m/fKkl2oNGBQAJ

@aramase I think that you also have some dependency in kubenet in some jobs IIRC

[2021-03-31 16:00] neolit123 commented on #100677
it should in theory, but i haven't tried something like that.

you should make sure to call `kubeadm reset` before deleting control-plane VMs...

[2021-03-31 16:14] renukamanavalan commented on #100677
THANK YOU Lubomir!!

I will make sure to add my findings & resolve to this thread

[2021-03-31 16:15] amendoza-navent commented on #24725
Is there a workaround for this? I'm testing an application to see a failure cause, and the constant restarts make noise in logs.

[2021-03-31 16:17] dims commented on #100707
thanks @aojea

[2021-03-31 16:17] #78693 closed

[2021-03-31 16:21] eddiezane commented on #5164
This could be implemented as a kubectl plugin at first and if there is desire we can upstream.

/close

[2021-03-31 16:22] BenTheElder commented on #100710
Alternatively you could just make kata the default runtime in the test cluster..?

Kata seems to actually be failing the expectations of the test here. Why not fix that or simply not run these test cases?

Ultimately storage tests are sig storage's call, but wherever possible we expect to make tests portable so we can potentially include them in conformance, and the cluster is expected to pass the

[2021-03-31 16:22] #5164 closed

[2021-03-31 16:23] eddiezane commented on #5889
/remove-sig cli

[2021-03-31 16:31] eddiezane commented on #9298
/assign @dougsland

[2021-03-31 16:31] eddiezane commented on #10693
/assign @dougsland

[2021-03-31 16:38] eddiezane commented on #12123
We would accept a PR with @apelisse's above solution.

/triage accepted
/help

[2021-03-31 16:39] j-zimnowoda commented on #17512
[code]

[2021-03-31 16:49] eddiezane commented on #16089
kubectl docs and help has been improved since this issue was opened.

We're more than happy to merge future improvements and don't need a lingering issue for this.

/close

[2021-03-31 16:49] #16089 closed

[2021-03-31 16:49] seans3 commented on #14040
The canonical way to **create or update** is `kubectl apply`. If the reservation with using `kubectl apply` is the size of the resource (because it stores the entire applied config in the `last-applied-annotation`), then the user should use server-side apply: `kubectl apply --server-side ...`. Server-side apply went beta in version `1.16`. Closing.

/close

[2021-03-31 16:49] #14040 closed

[2021-03-31 16:55] BenTheElder commented on #100695
This looks like a docker bug? kubelet depends on the container runtime to delete containers.
/sig node
/remove-sig cluster-lifecycle

[2021-03-31 16:55] eddiezane commented on #17237
Server side apply helps address this. When need patch may be used.

/close

[2021-03-31 16:55] #17237 closed

[2021-03-31 17:02] jjschwarz commented on #100675
OK, trying to make sure I don't miss anything here...but we seem to have two examples (command line and YAML) which have slightly different information in your example.  So my questions are:
1. The command line version doesn't specify any of the node information (just the pod and service networks).  Is the node information for kubelet and the API ncessary, or is that optional?
2. I assume based on

[2021-03-31 17:02] #17512 closed

[2021-03-31 17:15] zerodefect commented on #81001
/remove-lifecycle stale

[2021-03-31 17:15] Saksow commented on #41638
So what's the recommendation? Not using subPath?

[2021-03-31 17:24] amarjothi opened #100719 "coredns in containercreating state : invalid configuration: no configuration has been provided, try setting KUBERNETES_MASTER environment variable"
#### What happened:

`NAME                                                         READY   STATUS              RESTARTS   AGE

calico-kube-controllers-568b9cfb7-lrzh7   1/1     Running             0          26h
calico-node-49zr8                                         1/1     Running             0          2d1h

**coredns-5d6ccf5984-ct9px                       0/1     ContainerCreating   0

[2021-03-31 17:25] BenTheElder commented on #100674
Thanks!

[2021-03-31 17:28] amarjothi commented on #100719
/sig K8s Infra

[2021-03-31 17:54] #12143 closed

[2021-03-31 17:57] KnVerey commented on #16448
As some of the more recent comments allude to, the issue of resource creation ordering is a lot more complicated than just Services->Deployments. Even if we were to implement a dependency graph between all built-in kinds, which would be non-trivial, we would still encounter several stumbling blocks:
1. Custom resources.
1. A successful `create` is not always sufficient to provide behavioural start

[2021-03-31 17:57] #16448 closed

[2021-03-31 18:03] soltysh commented on #8876
`kubectl exec` along with a few others can easily find the first pod in a any workload (deployment, stateful set, daemon set, etc) and execute desired command.

/close

[2021-03-31 18:04] #8876 closed

[2021-03-31 18:08] rikatz commented on #58624
/area network-policy

[2021-03-31 18:12] rikatz commented on #58624
@tgraf one thing we've been discussing in Network Policy v2 is if we want L7 to be part of Network Policy, or if Netpol will be only related to L3/L4, and maybe L7 be other object like AppPolicy, TrafficPolicy, etc.

Doing L3/L4 related is easier for CNI providers to adopt without too much caveat, but still allowing the extensibility of the Network Policy object to selectors that ends on a combina

[2021-03-31 18:12] rikatz commented on #51891
/area network-policy

[2021-03-31 18:12] rikatz commented on #51726
/area network-policy

v2 feelings!

[2021-03-31 18:13] rikatz commented on #87709
/area network-policy

[2021-03-31 18:14] rikatz commented on #83400
/area network-policy

[2021-03-31 18:15] rikatz commented on #74679
@bowei we can close this, as Ingress v1 is already available right?

I'll close, can re-open if necessary

/close

[2021-03-31 18:15] #74679 closed

[2021-03-31 18:16] rikatz commented on #94776
/area network-policy

[2021-03-31 18:17] rikatz commented on #98173
/area network-policy

[2021-03-31 18:17] rikatz commented on #97727
/area network-policy

[2021-03-31 18:17] rikatz commented on #97660
/area network-policy

[2021-03-31 18:17] rikatz commented on #97553
/area network-policy

[2021-03-31 18:19] aramase commented on #100707
@aojea that's right! We do have quite a few jobs running with kubenet. Thanks for the heads up.

[2021-03-31 18:22] jsturtevant commented on #100708
The pause image is built and published for Windows as of image version `k8s.gcr.io/pause:3.4.1` and has 2019, 1903, 1909, 2004 support.  As of `k8s.gcr.io/pause:3.5` it has 20H2: https://github.com/kubernetes/kubernetes/pull/97322

[code]

Is there something else your looking for?

[2021-03-31 18:25] jjschwarz commented on #100675
Testing on the full cluster shows that it works just fine with the manually declared pod network and service cidr blocks.
Thank you!

[2021-03-31 18:25] #100675 closed

[2021-03-31 18:28] sftim commented on #100358
Addressed via https://github.com/kubernetes/website/pull/27344
/close

[2021-03-31 18:28] #100358 closed

[2021-03-31 18:35] #88886 closed

[2021-03-31 18:50] khenidak commented on #100707
I know this sounds like a big deal but it is not. kubenet is using CNI components that live out side the tree in addition to route controller/node-ipam (both will remain). A simple wrapper for these CNI component can act as a replacement. I am not sure we need to have this as part of a kubernetes sig or not.

[2021-03-31 19:05] msau42 commented on #96961
I am not aware of Kubernetes setting up/modifying these OS files. At first glance I suspect this is a distro issue rather than a Kubernetes issue.

[2021-03-31 19:29] Huang-Wei opened #100723 "Explore `go buildmode` to simplfy building custom scheduler binary"
## Background

Kube scheduler, along with other Kubernetes core components, provides extensions to build custom scheduling logic to fit different business needs. As of today, the scheduler provides 3 ways to achieve that:

1. scheduler framework (the most recommended)
2. scheduler extender
3. multiple schedulers

The 2nd and 3rd options don't apply to the subject of this issue, but let me mention

[2021-03-31 19:32] Huang-Wei commented on #100723
cc/ @ahg-g @alculquicondor @damemi @seanmalloy @yuanchen8911 @denkensk @cwdsuzhou

[2021-03-31 19:48] damemi commented on #100723
I am not familiar with Go plugins, but if I understand this you mean that a user could compile a custom plugin entirely separately from any scheduler image, and then by passing the path to that code the vanilla binary would be able to interact with it? And this would not require any changes to the compiled vanilla registry?

[2021-03-31 19:56] damemi commented on #100723
That would be really cool, and worth looking into. I think the requirement to compile 3rd party plugins into an entire scheduler image has been a necessary shortcoming of the framework. Something like this would also open the possibility of CLI tools to manage and install plugins, similar to krew

[2021-03-31 19:57] alculquicondor commented on #100723
@adtac almost pitched this for GSoC 😅

[2021-03-31 20:06] jsturtevant opened #100725 "[Flaky Test] Kubernetes e2e suite.[sig-apps] ReplicaSet Replace and Patch tests [Conformance]"
#### Which jobs are flaking:
Since March 25th 2021, mostly windows jobs but a few others:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=ReplicaSet%20Replace%20and%20Patch%20tests#fcd31aadf7e9b5edc7c6

 22 ci-kubernetes-e2e-windows-gce-2004 ►
25 ci-kubernetes-e2e-windows-gce-20h2 ►
17 ci-kubernetes-e2e-windows-containerd-gce ►
12 ci-kubernetes-e2e-windows-gce-2019 ►
10 ci-ku

[2021-03-31 20:34] brandond commented on #85330
We are still seeing this occasionally - is there any info we can collect now that logging has been improved?

[2021-03-31 21:08] aojea commented on #100698
I'm confused with this issue, so you mention that is an iptables problem

but you are using IPVS

the part on how to reproduce is misleading too

so, one thing is how conntrack works, that reports only the observed state from the host (if there is no rst/fin the conntrack can't know that the connection was closed) and other is the implications of having a TCP connection in conntrack waiting to tim

[2021-03-31 21:25] aojea commented on #96760
@thockin do you want to persist on this?
See Jordan's comment https://github.com/kubernetes/kubernetes/pull/97547#issuecomment-754639388

[2021-03-31 21:41] bradbeam opened #100726 "job does not report problem when pods cannot be created because referenced service account does not exist"
#### What happened:
When creating a job that references a service account that doesn't exist, the job will hang indefinitely[1]. There are errors reported in the controller manager[2], but the job itself does not report anything.

[1]
[code]

[2]
[code]

#### What you expected to happen:
Something similar to pod creation -
[code]

So some combination of the below would probably be fine
- The job i

[2021-03-31 21:51] bradbeam commented on #100726
/sig api-machinery
/sig scheduling

[2021-03-31 22:12] dims commented on #100707
@khenidak let's not add yet-another-CNI :) hoping this will nudge folks to switch to an existing one.

[2021-03-31 22:16] Riaankl opened #100727 "Write StatefulSet List, Patch And DeleteCollection test +3 endpoints"
# Progress <code>[5/6]</code>

-   [X] APISnoop org-flow : [StatefulSetListPatchAndDeleteCollection.org](https://github.com/apisnoop/ticket-writing/blob/AppsEndpoints/StatefulSetListPatchAndDeleteCollection.org)
-   [X] test approval issue : [kubernetes/kubernetes #100727](https://github.com/kubernetes/kubernetes/issues/100727)
-   [X] test pr : kuberenetes/kubernetes #102254
-   [X] two weeks soa

[2021-03-31 22:38] zshihang commented on #100047
since all tests flakes emitted logs regarding service account token, let's focus on Pod & PodStatus tests, which help us to get rid of intricacy added by the deployment/replicationcontroller

take https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1375319470997770240 as an example, this test is trying to create a pod and wait for its running but timed out after two

[2021-03-31 22:43] jingxu97 commented on #100047
I also observed sandbox took more than 2 mins to create https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-808455587

This only happens in Kind cluster.

[2021-03-31 22:57] BenTheElder commented on #100707
@dims I think the point was moreso that if you want something that looks like kubenet you can have it very easily with standard CNI plugins and a straightforward CNI config .json

both kubenet and this configuration would be lacking all of the additional functionality in overlay networks but if you were fine with kubenet you will be fine with this instead of needing to migrate to calico/cillium/..

[2021-03-31 23:11] aojea commented on #100707
that is containerd kubenet replacement https://github.com/containerd/containerd/blob/master/docs/cri/config.md#cni-config-template

[2021-03-31 23:24] BenTheElder commented on #100047
It's possible this is related to disk throttling in CI. We're looking to switch to local SSD for CI potentially but @spiffxp and I are stretched thin.

Anyone can gain access to check the CI cluster, see: https://github.com/kubernetes/k8s.io/blob/98ae8167f8e96add963bbc26120b5ca8e5797731/groups/groups.yaml#L520

But _if_ it's not that it's probably a kubernetes or containerd bug.

It would be helpf

[2021-03-31 23:51] msau42 commented on #100047
I don't know if you're aware, but there is a new [GKE ephemeral local ssd node pool feature]( https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/local-ssd#creating_a_node_pool_using_ephemeral_storage_on_local_ssds) that sets mounts kubelet root and container fs on local SSDs. It's one flag to enable, I don't know how difficult it will be to switch and test prow to it.

[2021-03-31 23:54] spiffxp commented on #100047
The issue is that terraform doesn't support this as an option yet, but I'm aware and very interested to try it

[2021-04-01 00:22] kassarl opened #100729 "Flaking pull-kubernetes-e2e-aks-engine-azure-file Invalid Resource Name"
#### Which jobs are flaking:

pull-kubernetes-e2e-aks-engine-azure-file
pull-kubernetes-e2e-azure-file-windows

#### Which test(s) are flaking:

AzureFile CSI Driver End-to-End Tests: Dynamic Provisioning should create a volume on demand with mount options [kubernetes.io/azure-file] [file.csi.azure.com] [Windows]
AzureFile CSI Driver End-to-End Tests: Dynamic Provisioning should create multiple PV

[2021-04-01 00:55] BenTheElder commented on #100723
Go plugins are very painful to use and generally an RPC mechanism is used instead.

See e.g.
https://www.reddit.com/r/golang/comments/b6h8qq/comment/ejkxd2k?utm_source=amp&utm_medium=&utm_content=comment_timestamp
For some reasons why go plugins are not really in use anywhere and should probably be avoided.

[2021-04-01 01:19] lpgc commented on #50309
its truly inconceivable to me that the Open Container Initiative specs do not provide any mechanism for processes within a container context to portably obtain either their image or container id ... both of which are INCREDIBLY useful even just for the purposes of logging and tracing ....

[2021-04-01 01:19] dims opened #100732 "Failure cluster [1a38ff5f...] Feature:SCTPConnectivity tests in e2e-cos-alpha-features CI job"
### CI Job https://testgrid.k8s.io/sig-node-containerd#e2e-cos-alpha-features
### Failure cluster [1a38ff5fa767d2a886a5](https://go.k8s.io/triage#1a38ff5fa767d2a886a5)

##### Error text:
[code]
#### Recent failures:
[3/31/2021, 4:49:25 PM ci-cri-containerd-e2e-cos-gce-alpha-features](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-alpha-features/137736239240865792

[2021-04-01 01:23] lpgc commented on #80346
just having the image id and container id is essential for logging and tracing... this should be specified at the r/t level such that any OCI conformant environment expressed this information in a std fashion ... irrespective of the container mgmt environment in which it is executing...

[2021-04-01 01:53] PaulFurtado commented on #100648
@squeed I actually linked your PR above and read that blog a bit after posting this! :smile:

I made the same tweak to the loopback plugin in our infrastructure, but this can just as easily happen with any other type of network plugin. Here's a random example in a plugin we used to use: https://github.com/lyft/cni-ipvlan-vpc-k8s/blob/1afdba72a7f5dca9f51666792a7769f0cfca2a51/plugin/unnumbered-ptp/u

[2021-04-01 02:16] Huang-Wei commented on #100723
Thanks @BenTheElder for the valuable points! We will keep them in mind as we do researches. I think it's still worthy spending time to evaluate whether the benefits can really outweigh its pains.

[2021-04-01 03:14] wzshiming commented on #100695
This is a duplicate issue https://github.com/kubernetes/kubernetes/pull/98507

[2021-04-01 03:19] wzshiming commented on #100695
/assign

[2021-04-01 03:30] pacoxu commented on #100708
There is a simple changelog for pause image in https://github.com/kubernetes/kubernetes/blob/master/build/pause/CHANGELOG.md

[2021-04-01 06:00] rishi1111 commented on #80818
Do you have any references to how do this with ansible?

[2021-04-01 06:22] nevermore-muyi commented on #96240
I've solved the problem.
I use privileged mode of my pod and i mount **/dev** directory on the pod. So when removing mount point of **/dev** direcoty, the problem solved.

[2021-04-01 07:09] CaoDonghui123 commented on #100661
you need to change the yaml file to this

[code]

[2021-04-01 07:11] akshaysharama opened #100740 "Kubeproxy healthz port exposed to outside kubernetes cluster."
#### What happened:
We've deployed k8s(1.16.3) using kubespray, and could see 10256(kube-proxy healthz port) is exposed to outside the cluster/k8s node and by default bind address is 0.0.0.0 which is all interface.

we tried changing 0.0.0.0 to localhost(127.0.0.1), and now port is closed from outside the cluster or k8s node.

1) Is this the right way?
2) Where we are using kube-proxy health check

[2021-04-01 07:56] oldthreefeng commented on #91073
1.18.0 get same error .  restart docker and kubelet return OK.

so ,  should I update the 1.18.0 to 1.18.6+ ?

[2021-04-01 08:09] pacoxu commented on #100719
I cannot reproduce it with part of your kubeadm configurations. (feature-gates: "TTLAfterFinished=true")
As the error message shows, I suspect the kubelet kubeconfig is not configured correctly.

- check `/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf` --kubeconfig configuration on the problem node.
- check /etc/kubernetes/kubelet.conf if kubelet is using this file

Simple way to test i

[2021-04-01 08:27] adisky commented on #100602
containerd is moving to `https://github.com/pelletier/go-toml`
ref: https://github.com/containerd/containerd/pull/5278

[2021-04-01 08:34] amarjothi commented on #100719
[root@kube-master-1 ec2-user]# kubectl get pod --kubeconfig=/etc/kubernetes/kubelet.conf -n=kube-system
NAME                                      READY   STATUS              RESTARTS   AGE
calico-kube-controllers-568b9cfb7-l2bb2   1/1     Running             0          8m56s
calico-node-6g5jm                         1/1     Running             0          79m
coredns-6c6f7bf499-lmkhk

[2021-04-01 08:37] amarjothi commented on #100719
[root@kube-master-1 ec2-user]# cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf"
Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/config.yaml"
# This is a file that "kubeadm init" and "kubeadm join" generate at runtime, populating

[2021-04-01 09:13] Jiajing-Hu opened #100744 "Can I use IP:PORT as external-ip of LoadBalancer Service?"
**Cluster information:**
Kubernetes version: 1.16.8
Cloud being used: bare-metal
Installation method: ansible
Host OS: centos7
CNI and version: calico 3.15
CRI and version: docker 18.09

**my question**
I create a new LoadBalancer with my own Loadbalancer server, which needs both ip and ports. So I wonder if I can save the port in 「external-ip」. is it illegal or not ?

_for example:_
[code]

in ot

[2021-04-01 09:25] chenyw1990 opened #100745 "when apiservers have different RV for infrequently updated resources, client-go will get too large resource version error and relist the source again and again"
#### What happened:
In a large cluster, even if the configmap has not changed, kube-apiserver will receive many list configmap requests
In the problem scenario, we have two kube-apiservers A and B. A pod managed by kubelet references configmap A as a volume. If configmap A is changed and kubelet's http2 connection is switched by the GOAWAY #88567, then kubelet will relist configmap A from the apis

[2021-04-01 09:25] chenyw1990 commented on #100745
/sig architecture

[2021-04-01 09:33] vickeyrihal1 commented on #100708
Awesome! thanks guys.

[2021-04-01 09:33] #100708 closed

[2021-04-01 09:34] wdec commented on #100698
I'll rephrase that. The issue is the same in that the conntrack entry corresponding to the NAT between the client-service-endpoint for established sessions does not get cleared.

In what way misleading?
For a given service IP, when a service endpoint gets removed, the system should clear the conntrack entries for that endpoint. Not doing so means that clients that had an open TCP socket to the ser

[2021-04-01 09:41] Bryce-huang commented on #97512
/remove-lifecycle

[2021-04-01 09:46] serathius opened #100748 "Expand JSON e2e tests to cover all control plane components"
With recent migration of Kubelet to structured logging https://github.com/kubernetes/kubernetes/issues/99802 introduced e2e tests that enable JSON in Kubelet.

Organized migration of other components haven't yet started and is on best effort bases, yet some line were already migrated.
As code-base will be slowly migrated, we need to expand the test to avoid errors like https://github.com/kubernete

[2021-04-01 09:46] serathius commented on #100748
/sig instrumentation

[2021-04-01 09:46] serathius commented on #100748
/help

[2021-04-01 09:47] aojea commented on #100698
ahh I got it now, thanks for the detailed explanation, I was confused with the conntrack comments,  since conntrack status is totally independent of the socket status.

Ok, so you want that when a pods stop being part of a service (but it is still alive) it should clean all the conntrack entries so current connections will break ...

[2021-04-01 09:47] aojea commented on #100698
/triage accepted
/assign

[2021-04-01 09:48] aojea commented on #100698
/area kube-proxy

[2021-04-01 10:00] alexandrsemak commented on #96240
Yeah I am going left the party. K8s had state races we have bad pod in CronJob which failed and K8s was tried mount secret to terminated pod....

[2021-04-01 10:12] aojea commented on #100707
that is not what ip-masq-agent does?
https://github.com/kubernetes-sigs/ip-masq-agent

[2021-04-01 10:24] wdec commented on #100698
Yes, that would be great. We're having to do per application server and client side check to deal with this now.

[2021-04-01 10:24] Jiajing-Hu commented on #100744
/help

[2021-04-01 11:27] adabuleanu commented on #98471
Hi

I am using k8s 1.20.4 and installing rook 1.2.7 with ceph as a persistent storage. I managed to hit a scenario where the garbage collector deletes some of the ConfigMaps made by the ceph operator that have a reference to a Namespaced CRD, although the CRD resource is not deleted. This behavior did not happen in k8s 1.19.6.

This is my deleted cm
[code]

This is the owner CRD resource
[code]

A

[2021-04-01 12:02] adabuleanu opened #100751 "Garbage Collector is removing Resources with owner reference to Custom Resource"
#### What happened:
I am using k8s 1.20.4 and installing rook 1.2.7 with ceph as a persistent storage. I managed to hit a scenario where the garbage collector deletes some of the ConfigMaps made by the ceph operator that have a reference to a Namespaced CRD, although the CRD resource is not deleted. This behavior did not happen in k8s 1.19.6.
A similar behavior was seen on https://github.com/kuber

[2021-04-01 12:03] adabuleanu commented on #98471
Since this ticket was closed, I am opening https://github.com/kubernetes/kubernetes/issues/100751 to track the issue on k8s 1.20

[2021-04-01 12:07] adabuleanu commented on #100751
/sig api-machinery

[2021-04-01 12:11] liggitt commented on #100751
The configmap's ownerReference is invalid. It has name set to `kube-system`, but the owner's name is actually `paas-hostpath-ceph-cluster`

[2021-04-01 12:11] #100751 closed

[2021-04-01 12:15] liggitt commented on #100751
The secret references with an invalid apiVersion are still a problem you need to fix, but will result in GC leaving the secrets, not deleting them

[2021-04-01 12:21] SataQiu commented on #100740
FYI: #44968

[2021-04-01 12:41] SataQiu commented on #100719
@amarjothi Did you check if Calico is working properly?
I guess this error(`invalid configuration: no configuration has been provided, try setting KUBERNETES_MASTER environment variable`)  is reported by Calico CNI.
You can check Calico logs firstly:
[code]

[2021-04-01 12:54] eduardoriveror commented on #69973
[code]

This actually worked. After moving the certs and restarting kubelet, a new *kubelet-client-current.pem* was created and the node became ready

[2021-04-01 13:47] adabuleanu commented on #100751
yes, you are right. I somehow missed that. So, this is appearing in k8s 1.20 instead of k8s 1.19 because of this fix?
https://kubernetes.io/docs/setup/release/notes/

[2021-04-01 13:53] dims commented on #100707
@BenTheElder Got it. thanks! it's enlightening to read this stuff, as i have no clue about networking :)

[2021-04-01 13:55] SahilChaudhary25 opened #100752 "Not able to run podman in kubernetes pod if privilege field in security context is false even though user is root"
#### What happened:
Not able to run podman in kubernetes pod if privilege field in security context is false even though user is root while setting privilege to true it is working fine in both root & non root

#### What you expected to happen:
Podman should be worked when privilege field in security context is false

#### How to reproduce it (as minimally and precisely as possible):

#### Anything

[2021-04-01 14:34] liggitt commented on #100751
yes. In earlier releases, the invalid reference would have triggered the config map deletion arbitrarily when the controller manager was restarted. Now it consistently and immediately handles the config map as having an absent owner.

[2021-04-01 14:50] wojtek-t commented on #100745
https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1904-efficient-watch-resumption will address it (it's going beta in 1.21 release)

[2021-04-01 15:09] vbhakta8 commented on #18622
So are we leaving them plural?

[2021-04-01 15:30] jsturtevant commented on #100725
it's started failing consistently in Windows Dockershim https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-dockershim-master

[2021-04-01 15:41] liggitt commented on #100682
I don't think this is specific to PDBs

[2021-04-01 15:43] jsturtevant commented on #100725
looks like there were updates to this tests which may have caused issues for Windows: https://github.com/kubernetes/kubernetes/compare/01f7495b6...30a261d97

https://github.com/kubernetes/kubernetes/pull/100191 was merged on the 24th and we started seeing flakes the day after

[2021-04-01 16:10] lavalamp commented on #18622
Not all mistakes are fixable.

IMO we should close this issue as "won't fix". I don't think there's anything to be done about it now, the benefit of changing this is just too small compared to the user disruption it would cause.

[2021-04-01 16:11] mattsawyer77 commented on #60134
It appears that this issue, or one very similar, has recurred in the last few days. We've found that we can't create new nodes currently, and we're getting essentially the same error as the OP.

[2021-04-01 16:16] thockin commented on #18622
Hypothetically, what would we need to make this migration seamless?  Could
etcd or apiserver (hypothetically) do some behind-the-scenes magic to offer
both names?

On Thu, Apr 1, 2021 at 9:10 AM Daniel Smith ***@***.***>
wrote:

[2021-04-01 16:18] justinsb commented on #100707
I'd ask that we be very clear in our communication that we are removing the kubenet *flags*, but that the networking mode commonly known as kubenet remains fully functional.

The configuration steps have been moved from flags to a more manual configuration.  Specifically: cni template with the configuration @BenTheElder listed, and ip-masq-agent (or other ways of setting the `MASQUERADE` rules).

[2021-04-01 16:21] logicalhan commented on #18622
This thread is hilarious.

[2021-04-01 16:22] dims commented on #18622
LOL indeed @logicalhan :)

[2021-04-01 16:22] lavalamp commented on #18622
All existing clients have to use the plural form and the singular form in different places. We would have to keep this working approximately forever. That doesn't sound like an improvement to me. Since both paths have to be documented (not just work!) and the documentation has to explain why it is like that, it doesn't even really reduce complexity for users.

[2021-04-01 16:23] luk4z7 commented on #60134
@mattsawyer77 I had the same issue early in this morning, but in centos 7 and gnupg 2 2.0.22-5

[2021-04-01 16:25] jValdron commented on #60134
@mattsawyer77 / @luk4z7, see https://github.com/kubernetes/kubernetes/issues/97077#issuecomment-741698560

Solved the issue for me.

[2021-04-01 16:27] jsturtevant commented on #100725
#100191 added a 30 second time out that is running waiting for the pods to come up.

The windows nodes are still pulling the image at the 30 second timeout.

Test failes at 10.11.31:
[code]

You can see the image is still being pulled.
[code]

[2021-04-01 16:29] dkleissa commented on #60134
I think I'm agreeing with @mattsawyer77.

While we're running a different setup (not on Amazon Linux 2), in CentOS7 installs have started to fail with the `https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/repomd.xml: [Errno -1] repomd.xml signature could not be verified for kubernetes` error.

I can reproduce the issue by starting a centos7 container and trying to install

[2021-04-01 16:34] jsturtevant commented on #100725
the pod for https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/1377589886483173376 was finished pulling but hadn't started:

[code]

[code]

[2021-04-01 16:49] aojea commented on #100698
@wdec there is a problem with this, as correctly pointed out by @bowei https://github.com/kubernetes/kubernetes/pull/100755#issuecomment-812017678 ,  this can break graceful teardowns ... it also can cause that pods fail to close TCP connections ...

[2021-04-01 16:55] Toasterson commented on #91570
/remove-lifecycle stale

[2021-04-01 17:04] wdec commented on #100698
Not sure I follow; What is graceful teardown?

The "fail to close TCP connections" isn't much of an issue IMO; it's a general tcp practice to have a keepalive, or it can be enabled if needed.
On the other hand, having clients with (or without) a keepalive continue being connected to an end-point that they shouldn't be is a major problem.

[2021-04-01 17:10] jsturtevant commented on #100725
same for https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1377437636595027968

[code]

[code]

[2021-04-01 17:12] jsturtevant commented on #100725
It is definitely a timing issue for Windows (due to slower pull times)  and looks to be a timing issue even on linux though it happens fewer times.  We could increase the time out... I noticed it doesn't look like we have a consistent timeout for pods starting across tests.

[2021-04-01 17:16] jsturtevant commented on #100725
Another option would be to use the `e2epod.VerifyPodsRunning(c, ns, "sample-pod", false, replicas)`  which has a longer timeout (5 min)  and is used earlier in the tests. Once running check the values on the replica set

[2021-04-01 17:16] dkleissa opened #100757 ""repomd.xml signature could not be verified for kubernetes" error when installing Kubernetes from yum repo on CentOS7"
#### What happened:
When attempting to install k8s from a yum repo on CentOS7, yum encounters the following error:

```https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/repomd.xml: [Errno -1] repomd.xml signature could not be verified for kubernetes```

This discussion started in an existing closed issue that appears to be related: https://github.com/kubernetes/kubernetes/

[2021-04-01 17:18] dkleissa commented on #100757
/sig release

[2021-04-01 17:26] BenTheElder commented on #100748
If all components have this flag do we just want to enable it on all components?
We already increase the log level on all components in CI, it should be pretty straightforward to expand this to all:
- pick a new environment variable name for the script with a more appropriate name for all components instead of just kubelet
- set it on the job in addition to the old kubelet one, by sending a PR to

[2021-04-01 17:27] neolit123 commented on #100752
i think this is a podman problem not a k8s problem, try the support channels first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you confirm a bug open the issue again.

side note: your kubectl is much older than the server.

/sig node
/kind support
/close

[2021-04-01 17:27] #100752 closed

[2021-04-01 17:30] neolit123 commented on #100744
hi, please use the support channels for questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/sig network
/kind support

[2021-04-01 17:30] #100744 closed

[2021-04-01 17:33] thejoycekung commented on #100252
Started passing after March 25 -- from https://github.com/kubernetes-sigs/windows-testing/pull/259 looks like.

/close

[2021-04-01 17:34] #100252 closed

[2021-04-01 17:41] aojea commented on #100698
There is a great explanation here https://pracucci.com/graceful-shutdown-of-kubernetes-pods.html

so, there is  a period of time before the pod is removed that it may need to do some stuff ... however, once it initiates the deletion the pod is removed from the endpoints, so you can not differentiate in this case if the pod has left the service or is just being deleted.

default in linux for a esta

[2021-04-01 17:45] dkleissa commented on #100757
Also, when trying to manually verify `repomd.xml` it looks like 1) a new push happened at 8:13pm EDT, which is consistent with when we saw the failures begin, and 2) maybe the key has expired?

Running this:
[code]

Results in:

[code]

[2021-04-01 17:51] thejoycekung opened #100758 "[Flaky Test] [sig-node] Pods should cap back-off at MaxContainerBackOff [Slow][NodeConformance]"
#### Which jobs are flaking:
ci-kubernetes-e2e-windows-gce-2004
ci-kubernetes-e2e-windows-gce-2019
ci-kubernetes-e2e-windows-gce-20h2

Happening on master-informing and 1.21-informing.

#### Which test(s) are flaking:
[sig-node] Pods should cap back-off at MaxContainerBackOff [Slow][NodeConformance]

#### Testgrid link:

- https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2004-maste

[2021-04-01 17:56] thejoycekung commented on #97040
Triage shows no failures for this test on CI or presubmit, so I'm going to close this issue: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestStorageVersionBootstrap

/close

[2021-04-01 17:56] #97040 closed

[2021-04-01 17:58] bowei commented on #100698
Your analysis looks correct. Yes, this is a case of "too many pigeons (states) in not enough mailboxes (representations in the API).

[2021-04-01 18:23] ravisantoshgudimetla commented on #65098
I think this has been a long due request from various kubernetes users. I agree that adding this field to pod might be beneficial in the long run, having said that as this never materialized I believe having that field in the statefulset is better  for now. We can have a follow-up to move this field to pod for every controller. I can work on this in 1.22 timeframe if @kubernetes/sig-apps-misc  fol

[2021-04-01 18:26] thejoycekung commented on #94568
@liggitt -- No recent failures in the past 2 weeks, are you okay if we close this? https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Test_Run_Positive_VolumeMountControllerAttachEnabledRace

[2021-04-01 18:34] sladyn98 commented on #100194
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1377144613701160960
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1376718323915427840

Noticed some more flakes on this one

[2021-04-01 18:34] sladyn98 commented on #100194
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default&width=5&exclude-non-failed-tests=

[2021-04-01 18:42] smarterclayton commented on #65098
Agree.  StatefulSets should be at least equivalent to DaemonSets and Deployments.  I would say we should add it to SS for now since it is a requirement to leverage minReadySeconds behind service load balancers to prevent killing pods in rotation before the new pods show up in rotation (i.e. normal SLB on clouds you have to wait long enough to see your new pod with maxUnavailable) .

[2021-04-01 18:51] thejoycekung commented on #100194
Yep, looks like this is still flaking quite frequently: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Subpath%20Container%20restart%20should%20verify%20that%20container%20can%20restart%20successfully%20after%20configmaps%20modified

Going to re-ping SIG Storage.

[2021-04-01 18:59] soltysh commented on #65098
:+1: for my side as well, @ravisantoshgudimetla make sure to add that to one of the upcoming sig-apps meetings.

[2021-04-01 19:01] sladyn98 opened #100760 "[Flaking-test] Kubernetes e2e suite.[sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] listing validating webhooks should work [Conformance]"
#### Which jobs are flaking:

kubeadm-kinder-latest

#### Which test(s) are flaking:

AdmissionWebhook [Privileged:ClusterAdmin] should mutate pod and apply defaults after mutation [Conformance]

#### Testgrid link:

https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-latest&width=20

#### Reason for failure:

[code]

#### Anything else we need to know:

Triage: https://storage.goo

[2021-04-01 19:10] thejoycekung commented on #94567
/milestone clear

I don't think this will make it into 1.21, but it is worth noting that this has flaked for the periodic bazel 1.20 job a few times in the last 2 weeks, and only once for presubmit: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=Test_UncertainVolumeMountState

[2021-04-01 19:14] thejoycekung commented on #100760
/sig api-machinery

Thanks for logging this @sladyn98 ! I've added it to the CI Signal board as well.

[2021-04-01 19:17] ravisantoshgudimetla commented on #65098
Done, added it to the agenda doc.

[2021-04-01 19:25] sladyn98 opened #100761 "[Flaking-Test] Kubernetes e2e suite.[sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should unconditionally reject operations on fail closed webhook [Conformance]"
#### Which jobs are flaking:
kubeadm-kinder-latest
  e2e-kops-gce-latest
  e2e-kops-gce-stable

#### Which test(s) are flaking:
AdmissionWebhook [Privileged:ClusterAdmin] should unconditionally reject operations on fail closed webhook

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-latest&width=20

#### Reason for failure:

[code]

#### Anything else we nee

[2021-04-01 19:25] sladyn98 commented on #100761
This one has started to flake consistently

[2021-04-01 19:39] Dringho commented on #57291
Also having this problem. We have a deployment of worker pods that sometimes picks some jobs with memory leaks, so we added a check that provokes a exit code = 0 when the accumulated memory goes over certain threshold.
As with previously described, when we get a bad sequence of several jobs in leak issues all our workers end up on the CrashLookBackoff and no work gets done.

I agree with the solut

[2021-04-01 19:42] derekrprice commented on #57291
I still think that the most obvious thing is that if the pod has been pinging as ready and healthy for longer than the CrashLoopBackOff would pause, then the backoff should be skipped.

[2021-04-01 20:05] neolit123 commented on #100761
/sig api-machinery

[2021-04-01 20:06] alculquicondor commented on #90402
/unassign @AliceZhang2016

/help

[2021-04-01 20:12] caesarxuchao commented on #100726
/sig apps
/remove-sig api-machinery

[2021-04-01 20:13] caesarxuchao commented on #100760
/assign @jpbetz
/triage accepted

[2021-04-01 20:25] thockin commented on #100707
Who is "we" here and where do we need to be clear? :)

[2021-04-01 20:31] thockin commented on #100648
@squeed @dcbw It's not clear to me if this is a bug in kubernetes or a potential-bug in containerd or a documentation issue?

[2021-04-01 20:36] #95627 closed

[2021-04-01 20:46] jpbetz commented on #100760
The vast majority of failures (212 of 223) are from kops tests:

[code]

The failing kops test runs have a wide range of timeout related failures, e.g.: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/e2e-kops-gce-stable/1377594167231778816

/sig-remove api-machinery
/sig cluster-lifecycle

[2021-04-01 20:46] jpbetz commented on #100760
/remove-sig api-machinery

[2021-04-01 20:48] thockin commented on #100643
IIRC The dockershim implementation of hostPorts will NOT install the port-forward if it can't also open the port and will fail to start the pod.  I do not know if the CNI equivalent will do that?  This is the real risk vector - someone claims hostPorts that attack the node daemons.

Kube-proxy merely complains about it but proceeds anyway.  I don't think it's OK to do otherwise - we don't really h

[2021-04-01 20:52] thockin commented on #99801
Is there followup to do on this?

[2021-04-01 20:53] thockin commented on #99712
Hi!  Just pinging this bug to keep it alive and see if there are updates

[2021-04-01 21:02] neolit123 commented on #100760
cc @kubernetes/kops-maintainers
pinged #kops-devs on slack as well.

maybe this is the temporal non-QoS Prow cluster problem?

[2021-04-01 21:03] aojea commented on #99801
there are still failures https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=KubeProxy%20should%20set%20TCP%20CLOSE_WAIT%20timeout%20&xjob=kops

but there are other tests that flake in kind , right now following the conversation here https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-811513297

[2021-04-01 21:03] jsturtevant commented on #100758
looked into the errors for a few recent failures.  And it looks like there might be something happening with the connection to the runtime and timeout of the start up for the pods or some resource contention. They all have `rpc error: code = DeadlineExceeded desc = context deadline exceeded`

We don't see this in aks-engine runs.  We run all serial/slow tests in a separate job.  Maybe that is an o

[2021-04-01 21:04] neolit123 commented on #100761
/sig cluster-lifecycle

maybe the same problem as:
https://github.com/kubernetes/kubernetes/issues/100760#issuecomment-812162771

this can happen due to low resources (CPU/network BW) in the Prow cluster.

[2021-04-01 21:09] justinsb commented on #100707
I guess anyone writing something that might appear on twitter as attributed to the project - release notes, PR titles .. even issue titles  :smile:

[2021-04-01 21:10] danwinship commented on #100732
was going to say "SCTPConnectivity shouldn't be in the alpha features job", but then I saw that you already fixed it and just didn't close this issue
/close

[2021-04-01 21:11] #100732 closed

[2021-04-01 21:12] prameshj commented on #99712
It should just catch queries destined to kube-dns IP address or to the special link-local IP address exclusively reserved for node-local-dns.

traffic to external DNS server will be a good start. From the description so far, node-local-dns shouldn't be on the path at all.

[2021-04-01 21:18] thockin commented on #99425
ping to @khenidak

[2021-04-01 21:19] neolit123 commented on #100760
...but i'm not seeing the same flakes on the 1.20 branch in this job:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-1-20

both kubeadm-kinder-1-20 and kubeadm-kinder-latest run in the same Prow cluster.
so this might be an actual problem.

[2021-04-01 21:21] liggitt commented on #94568
yeah, looks like https://github.com/kubernetes/kubernetes/pull/100215 resolved it

/close

[2021-04-01 21:22] #94568 closed

[2021-04-01 21:23] prameshj commented on #99712
The other thing that might be related - if requests to externalDNS are being configured via a kube-dns configmap stubdomain, then those will go through node-local-dns. Could that be applicable here?

[2021-04-01 22:10] caseydavenport commented on #100707
I feel like that's not a fair characterization though. I think what's happening is we're removing kubenet, and that's OK. Users can easily build something themselves that mimics the way kubenet behaved if that's what they are into, but it's not really "kubenet" any more than Calico is kubenet.

I'm not really sure what the true definition of kubenet is and isn't, to be honest. Is it just bridge+ho

[2021-04-01 22:38] #93058 closed

[2021-04-01 22:52] thejoycekung commented on #100760
at @neolit123's advice I went and checked some of the jobs that also run in the `k8s-infra-prow-build` cluster and run this test, and they seem to be green:
- [Conformance - GCE - master - kubetest2](https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master%20-%20kubetest2&include-filter-by-regex=AdmissionWebhook)
- [conformance-ga-only](https://testgrid.k8s.io/sig-rel

[2021-04-01 22:58] thejoycekung commented on #100725
/milestone v1.21

[2021-04-01 22:58] jsturtevant commented on #98180
this flaked on https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1377646770007314432  and it is due to the timeout being to short for windows.  The images were still pulling:

[code]

Looks similar to the timeouts introduced in https://github.com/kubernetes/kubernetes/issues/100725#issuecomment-812023276

[2021-04-01 23:13] neolit123 commented on #100760
this seems like sufficient evidence to me.
we can leave these issues open and if the tests suddenly stop flaking it further confirms it.

[2021-04-01 23:25] liggitt commented on #100723
Go plugins were looked at early in extension point mechanisms. We would want to make sure they were part of a coherent extension approach before adding use to a single core component.

[2021-04-01 23:47] msau42 commented on #100194
/assign @verult

[2021-04-02 00:18] neolit123 commented on #100740
https://pkg.go.dev/k8s.io/kube-proxy/config/v1alpha1#KubeProxyConfiguration

[code]

kubeadm uses the defaults for these, but you can override them by passing this configuration to kubeadm init:

[code]

note that there is a separate HealthzBindAddress and BindAddress.
i recommend to only change HealthzBindAddress to localhost, but if you change BindAddress to localhost this means that, for exampl

[2021-04-02 00:18] neolit123 commented on #100740
/remove-kind bug
/kind feature support

[2021-04-02 00:25] jsturtevant commented on #100047
Was looking at the failure in "should run the lifecycle of a Deployment" in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100759/pull-kubernetes-e2e-kind/1377720517594714112

I noticed that the test logs just hang for the 1 minute timeout instead of printing out the status, I would expect the output to continue to print while the deployment is not ready.

[code]

I also saw the pod d

[2021-04-02 01:32] zshihang commented on #100047
following the same test flake in https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-811511712

in the containerd logs:
[code]
this [function](https://github.com/containerd/containerd/blob/251e3d15de5059632b7c5b0ea77990670767fcb9/pkg/cri/server/sandbox_run.go#L59:22) took ~2m to complete.
however, it finished pretty quick for other pods during the same period:
[code]

seems not rel

[2021-04-02 01:57] yojay11717 opened #100766 "statefulset，volume's name verification is invalid"
#### What happened:

I mount a comfigmap with the name "jetty-start.ini", it can not work.

![image](https://user-images.githubusercontent.com/80832542/113371503-1d8d2200-9399-11eb-9461-c51cb08a9471.png)

![image](https://user-images.githubusercontent.com/80832542/113371284-9049cd80-9398-11eb-911e-3df949db7dab.png)

#### What you expected to happen:
Like deployment, it is not allowed to set such a

[2021-04-02 01:58] justinsb commented on #100707
My concern is that we don't want users to think that the functionality commonly known as kubenet is in any way going to stop working.

kubenet is the MVP of networking plugins: use PodCIDRs instead of separate IP allocation; use infrastructure or host level routes such that pods can route to pods.

I believe most CNI providers have adopted this approach now - but we tried a number of other approac

[2021-04-02 02:18] mzyfree opened #100767 "kubeadm v1.20.5 generate wrong kube-proxy configmap on rhel 8.2"
#### What happened:
run command to deploy v1.20.5 kube-proxy:
[code]
kubeadm config file
[code]
kube-proxy configmap has never been init.
[code]
And the kube-proxy can not build any iptable rules between service and endpoint even if there exists some backend endpoints.
endpoints
[code]
But no iptable rules:
[code]

#### What you expected to happen:
kube-proxy is ok and function well.

#### How to

[2021-04-02 02:22] mzyfree commented on #100767
/sig cluster-lifecycle

[2021-04-02 02:32] mzyfree commented on #100767
I think the kubadm shoud init the kube-proxy default config in defaults.go
[code]
But in my case,this function hasn't been called at all.

[2021-04-02 02:54] pravarag commented on #90402
@alculquicondor can I work on this issue ?

[2021-04-02 03:13] dims opened #100769 "Failure cluster [55e8769e...] Probing container should be restarted with an exec liveness probe with timeout"
### Failure cluster [55e8769ef3cfb42758c2](https://go.k8s.io/triage#55e8769ef3cfb42758c2)

The following test:
`[sig-node] Probing container should be restarted with an exec liveness probe with timeout [MinimumKubeletVersion:1.20] [NodeConformance]`

consistently fails in these CI jobs:
- https://testgrid.k8s.io/sig-node-containerd#image-validation-node-e2e
- https://testgrid.k8s.io/sig-node-conta

[2021-04-02 03:14] NovaHe commented on #100766
comfigmap name muste be [Alphanumeric](https://whatis.techtarget.com/definition/alphanumeric-alphameric)
`jetty-start.ini` dot `.` is non alphanumeric，you can try to remove it

[2021-04-02 03:15] dims commented on #100769
cc @andrewsykim @SergeyKanzhelev @ehashman

[2021-04-02 05:03] anupam128 commented on #73412
For us, the same setup that works with Azure Files on Azure Kubernetes Service doesn't work with OpenShift on Azure with Azure Files. Using Azure disks works.

[2021-04-02 05:33] liggitt commented on #100766
Closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/97309

[2021-04-02 05:33] #100766 closed

[2021-04-02 05:34] liggitt commented on #100766
Thanks for the report. The missing validation is a known issue, but tricky to tighten compatibly

[2021-04-02 05:45] #92592 closed

[2021-04-02 05:58] qingsong-cn opened #100773 "kube-porxy.1.18.17 start BUG"
F0402 13:51:09.710069  126711 server.go:497] error loading config file "/opt/k8s/cfg/kube-proxy-config.yml": no kind "KubeProxyConfiguration" is registered for version "kubeproxy.config.k8s.io/v1alpha1" in scheme "k8s.io/client-go/tools/clientcmd/api/latest/latest.go:50"

cat kube-proxy-config.yml
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
bindAddress: 0.0.0.0
metric

[2021-04-02 06:19] pacoxu commented on #100767
The reason seems to be that the `./kubeadm_config.yml` is not the same as the kubeadm config in your cluster.

To show the difference, `kubeadm  upgrade diff --config kubeadm_config.yml`
` kubeadm config view` can view current kubeadm config. (It is deprecated) please use 'kubectl get cm -o yaml -n kube-system kubeadm-config' to get the kubeadm config directly.

I tried with your yaml.
[code]

[2021-04-02 06:27] itsecforu opened #100774 "Saving the file after performing job k8s"
After reading a lot of manuals, I still don't understand if it is possible to save a file to the host after performing a job or a cronjob.

My Job got PVC and PV like that:

[code]
and:

[code]

Let's say I'm running a script that saves the output to a file:

[code]

Is there some way to save it to the host or send it somewhere?

[2021-04-02 06:58] squeed commented on #100648
@thockin this is a dockershim bug - it needs to stop passing pid/ephemeral namespace paths to CNI.

[2021-04-02 07:18] pacoxu commented on #100773
The same error can be found only in https://github.com/kubernetes/kubernetes/pull/52198#issuecomment-353374993

Would you check the kube-proxy image version?

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.9.md#network-1

[2021-04-02 07:41] qingsong-cn commented on #100773
kube-proxy v1.18.17
I use  v1.18.17 Server binaries
Download it here
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md

[2021-04-02 07:51] adabuleanu commented on #100751
Thanks for the clarification.

[2021-04-02 08:05] qingsong-cn commented on #100773
thank you
I get
systemd file   kube-proxy.service
I use --kubeconfig parameter，this is error
need --config

[2021-04-02 08:17] mzyfree commented on #100767
The configmap of kubeadm in my env:
[code]
And the kubeadm init config file below
[code]
It is the same.

[2021-04-02 08:23] mzyfree commented on #100767
After I config the proxy configmap manual,kube-proxy still can not write date to iptables.And I debug its log level to 6.
I see the iptables data which kube-proxy would like to add into iptables in log.
[code]
But at the same time,I watch the iptable rules in nat table and KUBE-SERVICE chain.The rules doesn't change at all.
[code]
My os is rhel 8.2 and iptables version is 1.8.2,So the flush data t

[2021-04-02 08:35] pacoxu commented on #100767
/sig network

[2021-04-02 08:48] #93594 closed

[2021-04-02 08:58] BenTheElder commented on #100761
that shouldn't apply as easily to kops jobs

[2021-04-02 08:58] BenTheElder commented on #100757
this is tracked in https://github.com/kubernetes/release/issues/1982

[2021-04-02 09:01] BenTheElder commented on #60134
current issue is tracked in https://github.com/kubernetes/release/issues/1982 and is not the same as https://github.com/kubernetes/kubernetes/issues/60134#issuecomment-597342643

instead of an issue with the image it's an issue with usage of an expired key

[2021-04-02 10:35] hnhbwlp commented on #48528
@lavalamp  We still have demand for this feature. We have a scenario where the traffic of a specified pod needs to be arbitrarily removed. Of course, this requirement can be completed through labels, but because pod is created through workload, and the business needs to modify the workload to keep unanimous of workload templete and pod  , which may cause pod reconstruction, which is not what we ex

[2021-04-02 10:50] #96142 closed

[2021-04-02 12:12] #100725 closed

[2021-04-02 12:31] dims commented on #100769
Hoping https://github.com/kubernetes/test-infra/pull/21625 will fix this

[2021-04-02 12:37] amorey opened #100779 "Termination + start of new master de-registers nodes from AWS ELB (both CLB and NLB)"
#### What happened:

After a master node instance is terminated and a new master node joins the cluster, worker node instances targeted by AWS ELBs are de-registered from the load balancers. In the case of CLBs, instances are removed as listeners and then added back. In the case of NLBs, instances are drained and then re-initialized.

#### What you expected to happen:

I expected the new master no

[2021-04-02 12:47] dims commented on #100648
@squeed is there proposed patch somewhere?

[2021-04-02 12:50] pacoxu commented on #93347
/remove-lifecycle rotten

[2021-04-02 13:04] dkleissa commented on #100757
Per @BenTheElder's comment in the related ticket, it seems like key is fixed but the error will remain on CentOS7 and it is safe to disable the repo_check: https://github.com/kubernetes/release/issues/1982#issuecomment-812449935

[2021-04-02 13:04] #100757 closed

[2021-04-02 14:25] kcburge commented on #71765
Please reopen.

[2021-04-02 14:42] yashpanchalecosmob opened #100781 "Kubernetes bypasses external firewall ports on Hetzner and AWS"
#### What happened:

We have been using freeswitch on kubernetes setup by dialing on port 5060 using a third party application for SIP calls.
Our config for kubernetes was at network mode host and default config was listening to udp 5060.
Now after blocking all other ports except ssh on aws security groups we were still able to make calls to the server.
This same issue was repeated for Hetzner as

[2021-04-02 14:50] dev999k8 opened #100782 "Kubespray not working with loadbalancer type and external IP on Ingress Conroller on IPVS"
Cluster information:
Kubernetes version: 1.19
Cloud being used: Bare Metal
Installation method: Kubespray
Host OS: Centos7, Centos8, Ubuntu 20.04
CNI and version: Kube-router 1.2
CRI and version: docker 19.03

Machines: 2

I’ve checked out latest master of Kubespray (27/03/20201) and configured for 1 control pane only in hosts file. Thereafter, I modified k8s-cluster config to install “kube-router

[2021-04-02 14:50] dev999k8 commented on #100782
Want to add to above - I setup 2 fresh 20.04.2 LTS boxes (1 single control pane and 1 worker node) and did the same thing above and got same result - as soon as I deploy nginx ingress controller, the worker node stops being able to connect to port 6443 on master…really baffled.

To be noted - I’m using the master (control pane) external ip to host as ingress controller - could this be causing it?

[2021-04-02 14:54] #73613 closed

[2021-04-02 15:45] chillosu commented on #95854
Anyone want to take a shot at setting this standard? There is too high of a reliance upon the registry to always be up, and the benefits of always getting the latest is just as important as the resilience to be able to run an image you already have cached locally.

[2021-04-02 15:55] #96043 closed

[2021-04-02 15:55] #96067 closed

[2021-04-02 16:00] msau42 commented on #100047
BTW, it looks like the deployment lifecycle test uses a [1 minute timeout](https://github.com/kubernetes/kubernetes/blob/5ad79eae2dcbf33df3b35c48ec993d30fbda46dd/test/e2e/apps/deployment.go#L249), and the pod lifecycle test uses a [2 minute timeout](https://github.com/kubernetes/kubernetes/blob/5ad79eae2dcbf33df3b35c48ec993d30fbda46dd/test/e2e/common/node/pods.go#L934), which is shorter than the [

[2021-04-02 16:26] jsturtevant commented on #100047
I noticed the same thing about the inconsistency in pod startup timeouts while working on a few of the other timeout flakes: https://github.com/kubernetes/kubernetes/issues/100725#issuecomment-812049965  Increasing and having consistent timeouts would likely help with a subset of the flakes

[2021-04-02 16:28] lavalamp commented on #48528
@hnhbwlp Please take this to SIG Network. I'm not blocking this, but I won't have time to work on it either.

[2021-04-02 16:36] soltysh commented on #100047
@jsturtevant can you open a PR aligning these timeouts to that we can unblock the release?

[2021-04-02 16:43] jsturtevant commented on #100047
sure, as @msau42 pointed out I don't think it will fix all these flakes but hopefully help with some.

[2021-04-02 16:50] soltysh commented on #100047
We'll unblock the release and will continue investigating this.

[2021-04-02 17:06] jsturtevant commented on #100047
Sounds good. I was looking at this last night and noticed many of these in this issue use https://github.com/kubernetes/kubernetes/blob/5ad79eae2dcbf33df3b35c48ec993d30fbda46dd/test/e2e/apps/replica_set.go#L507

The comments combined with the output we are seeing leads me to wonder if that is the function that should be used here:

https://github.com/kubernetes/kubernetes/blob/5ad79eae2dcbf33df3b3

[2021-04-02 17:20] jasondamour commented on #46861
pinging

[2021-04-02 17:20] jakerobb commented on #57291
@derekrprice I'd refine that a bit -- the exponential backoff should _reset_, such that the wait time for this restart is zero and it starts growing again from there.

[2021-04-02 17:25] sanposhiho opened #100783 "Make more effective use of golangci-lint"
Hi team.
Currently, this repository runs golangci-lint using `./hack/verify-golangci-lint.sh` added in #99120

I personally think that lint should be used a little more effectively.
Currently we have the script, but golangci-lint is giving us errors for the master brunch's code. This means that this script is not working.

FYI: https://github.com/kubernetes/kubernetes/issues/99243

So I think we n

[2021-04-02 17:28] jsturtevant commented on #100047
regarding the timeouts, looks like there are at least two other places these are set as well beyond what was listed in (https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-812591494)

https://github.com/kubernetes/kubernetes/blob/5ad79eae2dcbf33df3b35c48ec993d30fbda46dd/test/e2e/framework/timeouts.go#L23

https://github.com/kubernetes/kubernetes/blob/5ad79eae2dcbf33df3b35c48ec993d3

[2021-04-02 17:40] janetkuo commented on #100047
@jingxu97 Yes, the status should be achievable after Deployment has scaled down all old replicas, scaled up all new replicas, and the new replicas all become available.

From where the patch failed:
https://github.com/kubernetes/kubernetes/blob/5ad79eae2dcbf33df3b35c48ec993d30fbda46dd/test/e2e/apps/deployment.go#L311-L317

We need to also check that `generation <= status.observedGeneration` as wel

[2021-04-02 17:57] #93671 closed

[2021-04-02 18:41] zenbones commented on #100682
It's not specific to PDBs, I see the same issue in probes (startup and licenses anyway).

David Berkman

________________________________
From: Jordan Liggitt ***@***.***>
Sent: Thursday, April 1, 2021 8:41:50 AM
To: kubernetes/kubernetes ***@***.***>
Cc: David Berkman ***@***.***>; Mention ***@***.***>
Subject: Re: [kubernetes/kubernetes] Misleading events show warnings but no positive affirmatio

[2021-04-02 18:49] BenTheElder commented on #100783
`make verify` is how these linter scripts are run, we don't need another makerule. you can run a specific verify with `make verify WHAT=golangci-lint`

If it is not running in CI then it must have been explicitly excluded.

[2021-04-02 18:52] BenTheElder commented on #100782
Is there any reason to expect this is a kubernetes issue and not a kubespray issue? This repo has a lot of issues and contributors have significantly less bandwidth for responding to issues related every distro versus the code developed here.

This sounds like a configuration / usage issue with kubespray and your ingress, not a kubernetes bug.

https://github.com/kubernetes-sigs/kubespray

[2021-04-02 18:56] BenTheElder commented on #100774
/triage support

You can write directly to the host by using a `hostPath` volume. This is considered a privileged pod because you could easily mount something sensitive, so these are only usable by a root container.

I would recommend instead uploading the results somewhere (could be minio, could be cloud storage, a database ...), but you can definitely achieve this.

https://kubernetes.io/docs/co

[2021-04-02 18:56] sanposhiho commented on #100783
👀 👀
I'm new to the development of this repository, so I didn't know about this, thanks. ❤️

It seems to be explicitly excluded, as you say.

https://github.com/kubernetes/kubernetes/pull/99120/files#diff-7d0aff81f66f2fa4e129a3e8d4e0a19b95fa7ad922aff6a3bc6c7430d11157cfR38

[2021-04-02 18:56] BenTheElder commented on #100774
/kind support

[2021-04-02 18:57] dev999k8 commented on #100782
@BenTheElder I'm getting this also non-kubespray method - on centos + ubuntu.

1.18 works perfectly, but not 1.19+ - so I need to urgent sooner or later.

Is there someone can try my reproducing my steps / setup on there end?

[2021-04-02 18:57] BenTheElder commented on #100774
regarding "send it somewhere": kubernetes does not natively have anything like this, but you can run code in your pod to upload it somewhere using the tool of your choice. for saving it to the host see hostpath above.

/assign
/close

[2021-04-02 18:57] #100774 closed

[2021-04-02 18:59] pjh commented on #100758
Thanks James for taking the first look, I'm checking on this now.

/assign

[2021-04-02 19:00] BenTheElder commented on #100783
there's a _lot_ to take in in this repo 🙃

we can un-exclude it when we have confidence in it, I think we're not there yet.

the tricky problem with these usually is that we have such a large volume of code, so the benefit of fixing the lints has to be very high for people to focus on this, otherwise it's just too much work to get the whole repo updated and all of the changes reviewed.

I agree th

[2021-04-02 19:17] sanposhiho commented on #100783
Yeah, This repository is quite large, so if we just enable a lot of linter without thinking about it, it will take a long time to run...

For example, I think the following strategies can be used to optimize the use of linter

- Use only minor checks on the code for testing with `exclude-rules` on config file
- Enable more linters, especially for packages that need to be readable.

What do you thi

[2021-04-02 19:36] jfpucheu commented on #94293
Hello All,

We got the similar issue on a cluster of 6000 pods.

- Deployment deleted but ReplicaSet Still Here.
- ReplicaSet deleted but Pod Still Here.

The issue come from the garbage Collector of kube-controller-manager . When too many Object on database , the garbage collector can't Get all objects on api to see what should be deleted.

In Our case , this log in controller logs give us a clue

[2021-04-02 19:48] Huang-Wei commented on #73698
Not sure if #95783 can help on this issue.

[2021-04-02 20:20] PriyankaH21 opened #100786 "[sig-node] [ci-kubernetes-kind-e2e-parallel] Probing container should be restarted startup probe fails"
#### Which jobs are flaking: `ci-kubernetes-kind-e2e-parallel`

#### Which test(s) are flaking: `Probing container should be restarted startup probe fails`

#### Testgrid link:
`https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&include-filter-by-regex=Probing%20container%20should%20be%20restarted%20startup%20probe%20fails

#### Reason for failure:

[code]

#### Anything else

[2021-04-02 20:24] PriyankaH21 commented on #93740
Is this resolved yet? I just saw another failure today - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1374470616530292736

[code]

[2021-04-02 20:28] PriyankaH21 commented on #100220
Saw another failure today - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1377943903289741312

[2021-04-02 20:38] PriyankaH21 opened #100787 "[sig-api-machinery] AdmissionWebhook - should mutate custom resource with pruning [Conformance]"
#### Which jobs are flaking: `ci-kubernetes-e2e-kubeadm-kinder-latest`

#### Which test(s) are flaking:
- `Kubernetes e2e suite: [sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should mutate custom resource with pruning [Conformance]`
- `kinder.test.workflow: task-07-e2e`

#### Testgrid link: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-latest

[2021-04-02 20:43] PriyankaH21 opened #100788 "[sig-node][NodeConformance] when querying /stats/summary should report resource usage through the stats api"
#### Which jobs are flaking: `ci-kubernetes-node-kubelet`

#### Which test(s) are flaking:
- `E2eNode Suite: [sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api `
-  `e2e.go: Node Tests`

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1376358064403255296

#### Reason for failure

[2021-04-02 20:49] swetharepakula commented on #93740
The most recent failure does not look to be because of rbac permissions. But I realize this issue is tracking multiple errors and this error looks more similar to the original problem described.

The rbac permissions in #100257 has not been merged in yet.

[2021-04-02 21:40] justinmchase commented on #47202
Can we re-open this issue please? It seems like this is not an optional feature for cron jobs.

[2021-04-02 22:16] jsturtevant opened #100789 "[Flake] Deployment RollingUpdateDeployment should delete old pods and create new ones"
#### Which jobs are flaking:
pull-kubernetes-e2e-kind

#### Which test(s) are flaking:
Deployment RollingUpdateDeployment should delete old pods and create new ones

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100785/pull-kubernetes-e2e-kind/1378053507000569856

#### Reason for failure:

[code]

There is there is an error:

[code]

The containerd logs have:

[co

[2021-04-02 22:52] erhhung commented on #58692
Why this issue should be closed solely because it's not a serious bug or error is baffling. It is obviously a **very real and annoying issue of usability** given how many people have complained about it. Asking people to copy/move the file into the `WORKDIR` first is not a solution—I could just as easily ignore the warning in the first place.

If an output message is confusing and **serves no info

[2021-04-02 23:02] #95028 closed

[2021-04-02 23:28] Huang-Wei commented on #94009
@yuzhiquan Are you still working on this?

[2021-04-02 23:47] pjh commented on #100758
I've sent https://github.com/kubernetes/test-infra/pull/21640 and https://github.com/kubernetes/test-infra/pull/21640 to stop running the `[Slow]` tests except specifically in the Serial test job for GCE Windows.

[2021-04-03 00:20] danielyaa5 commented on #58692
Preach brother

On Fri, Apr 2, 2021 at 3:52 PM Erhhung Yuan ***@***.***>
wrote:

--
Daniel Yakobian
Case Western Reserve University - Comp Sci

[2021-04-03 00:25] srinicrick65 commented on #78898
hi Team I am facing the same issue. Any solution for this ? I am blocked guys as there is a POC  . I tried with k3d, Kind, minikube and its there everywhere.

k3d version v4.4.0
k3s version v1.20.4-k3s1 (default)
kubectl version : 1.2.0
helm : 3.0.2 (Using helm for deploying the pod)

Though these files and folders are there .  Even if I remove type still the mount does not happen and it throws th

[2021-04-03 00:30] srinicrick65 opened #100790 "Volume Mount hostpath: Unable to mount volumes for pod: timeout expired waiting for volumes to attach or mount"
hi Team I am facing the below issue. Any solution for this ? I am blocked guys as there is a POC . I tried with k3d, Kind, minikube and its there everywhere.

k3d version v4.4.0
k3s version v1.20.4-k3s1 (default)
kubectl version : 1.2.0
helm : 3.0.2 (Using helm for deploying the pod)

Though these files and folders are there . Even if I remove type still the mount does not happen and it throws the

[2021-04-03 00:51] verult commented on #100194
Test is flaking maybe half of the time. This test is failing in gce-ubuntu-master-default - not sure if it's failing in any other dashboards, nor whether this is run anywhere else.

This is a subpath test which
1. Creates a configmap
2. Creates a container that mounts the configmap
3. Fails a liveness probe and waits for the container to restart.
4. Fixes liveness probe and waits for the container

[2021-04-03 01:17] liggitt commented on #100787
This looks the same as https://github.com/kubernetes/kubernetes/issues/100760

[2021-04-03 02:04] verult commented on #100194
Reproduced this bug. The container failed with:
[code]

Same as the original issue

[2021-04-03 04:51] AmirHossein1372 commented on #75803
According to [kubeadm init shows kubelet isn't running or healthy](https://stackoverflow.com/a/52196985/4856712):
`sudo swapoff -a `
`sudo sed -i '/ swap / s/^/#/' /etc/fstab `
**then reboot the machine**.

[2021-04-03 04:58] coffeepac commented on #79432
After the sig-inst meeting yesterday, Han has taken an action to create a new repo:  kuberenetes-sigs/addons.  I've agreed to move all the three sig-inst addons over.  (fluentd-elasticsearch, fluentd-gcp, metrics-server).

after its moved we can start exploring moving the image out of quay.

[2021-04-03 05:08] #96091 closed

[2021-04-03 06:00] hibby50 commented on #58678
Can you specify what section of that doc resolved the issue for you? I am running into the same problem

[2021-04-03 07:02] VigneshSP94 commented on #99299
@thockin  @aojea I would like to pick this up. Can I get it assigned?

[2021-04-03 08:27] aojea commented on #99299
/assign @VigneshSP94

some tips, kube-proxy expose some prometheus metrics and, when used with log lever > 4 logs much more detailed information.
I think that we should leverage that to try to solve this particular problem, and improve our logging and metrics based on this experience.

[2021-04-03 08:30] aojea commented on #100220
That job have additional test failures
[code]

some related to deployments, let's wait to the resolution of this https://github.com/kubernetes/kubernetes/issues/100047, there is a possibility that are interconnected

[2021-04-03 11:14] #96106 closed

[2021-04-03 13:55] adrian-gierakowski commented on #74819
Not rotten

[2021-04-03 15:15] cpanato commented on #51292
I think I can try this, does someone can provide some initial direction? like where those configs/manifests are located.
@aojea @jayunit100 @rikatz

/assign

[2021-04-03 15:15] sladyn98 commented on #100556
https://github.com/kubernetes/kubernetes/blob/5ad79eae2dcbf33df3b35c48ec993d30fbda46dd/test/integration/apiserver/admissionwebhook/invalid_managedFields_test.go#L127

Would increasing the timelimit here give more time to the admissionhook to come up ?

[2021-04-03 15:27] maisem commented on #47930
/unassign

[2021-04-03 15:35] sladyn98 opened #100795 "[Failing test] Kubernetes e2e suite.[sig-autoscaling] DNS horizontal autoscaling kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios"
#### Which jobs are failing:
 e2e-kops-gce-stable
 e2e-kops-gce-latest

#### Which test(s) are failing:
DNS horizontal autoscaling kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios

#### Since when has it been failing:
I cannot quite see the testgrid date since its been failing for a long time

#### Testgrid link:
https://testgrid.k8s.io/sig-cluster-lifecycle-ko

[2021-04-03 15:44] sladyn98 opened #100796 "[Flaking test] Kubernetes e2e suite.[sig-apps] ReplicaSet should serve a basic image on each replica with a public image [Conformance]"
#### Which jobs are flaking:
(97)  e2e-kops-gce-latest
(130) e2e-kops-gce-stable

#### Which test(s) are flaking:
 ReplicaSet should serve a basic image on each replica with a public image

#### Testgrid link:
https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-gce-latest&width=5

#### Reason for failure:
[code]

#### Anything else we need to know:
- links to go.k8s.io/triage appreciated
- lin

[2021-04-03 15:47] sladyn98 commented on #100796
Is this somewhat related to https://github.com/kubernetes/kubernetes/issues/97026

[2021-04-03 16:19] #96208 closed

[2021-04-03 17:16] imriss commented on #72759
@kullu-ashish , We immediately moved to a different AMI version. Thanks for the info about the recall. Is there any feeds about the recalled AMI versions available?

[2021-04-03 17:32] BenTheElder commented on #100790
This is your problem.
When you pick the `Directory` hostpath type it must exist on the host and must be a directory, as your responsibility.
You can instead use one of the other types like some of your other volumes, or double check that you've created this as expected.

[2021-04-03 17:36] BenTheElder commented on #100782
Someone else from SIG Network can hopefully comment re: IPVS doesn't work. I don't use centos or kubespray or IPVS. I recommend using the iptables backend which is better tested + supported IMHO.

[2021-04-03 18:21] #93115 closed

[2021-04-03 20:21] srinicrick65 commented on #90263
Hi Guys I am facing this same issue . I am using the below . For directory i can use DirectoryOrCreate but what about type Socket?
k3d version v4.4.0
k3s version v1.20.4-k3s1 (default)
kubectl version : 1.2.0
helm : 3.0.2 (Using helm for deploying the pod)

Please find my deployment.yaml file

[code]

root@srini-Virtual-Machine:~/Documents/helmcharts-edge/helmcharts-edge# kubectl get events -n edg

[2021-04-03 21:35] kwiesmueller commented on #100556
I think so.
Looked at it a few days ago, I'm not sure how much we should increase it.
I don't want to slow down the tests a lot more if we can avoid it.
Do we know if the other admission tests (duplicate owner ref) have the same issue?

[2021-04-03 21:53] monotek commented on #79432
Nice :)

[2021-04-03 22:29] spicysomtam commented on #50375
Very surprised this is still open. Come on kube developers lets have an enhancement for the people who need real world monitoring and alerting.

[2021-04-04 00:09] jfgauron opened #100797 "Kubeadm join randomly fails with etcd store not starting"
#### What happened:

I have an issue where joining a node to the control plane fails. What I find weird is the issue appears to be completely random. If I just reset the node using `kubeadm reset -f` and try `kubeadm join` again, there is about a 50% chance that it will succeeds.

#### What you expected to happen:

`kubeadm join` to act consistently.

#### How to reproduce it (as minimally and pre

[2021-04-04 00:14] jfgauron commented on #100797
/sig cluster-lifecycle

[2021-04-04 00:22] hochuenw-dd opened #100798 "Multiple MatchExpressions in the MutatingWebhookConfiguration"
#### What would you like to be added:
Allow users to have multiple matchExpressions. Objects with label `label1: true` OR `label2: true` can be sent to the same webhook server backend.
[code]

Currently, it seems users have to achieve such feature by removing the selectors and writing some logic in the webhook server itself.

#### Why is this needed:
This allows the OR'd logic

[2021-04-04 00:23] hochuenw-dd commented on #100798
/sig api-machinery

[2021-04-04 01:36] dims opened #100799 "Deprecate and remove DynamicKubeletConfig (?)"
Stuck in beta since `v1.11`:
https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L37-L40

/sig node

[2021-04-04 01:37] dims commented on #100799
cc @SergeyKanzhelev @ehashman

[2021-04-04 02:00] dims opened #100800 "sig-node-arm64 test grid is stale"
@lubinsz @vielmetti https://testgrid.k8s.io/sig-node-arm64#Summary seems out of date. Could we get things green before we release 1.21 this week? if we can't get a reliable signal, then we should probably reconsider this set of CI jobs showing up in test grid.

/sig node

[2021-04-04 06:09] pzheng1025 opened #100802 "K8S openapi spec mark ContainerImage.name as required"
#### What happened:
`ContainerImage` is defined as
[code]
For `Names []string`, both `[]` and `nil` are valid and they will be serialized to `[]` and `null` in Json respectively.
However in openapi-spec/swagger.json, `ContainerImage.names` is marked as required so `null` is not allowed.
[code]
This cause a mismatch when doing deserialization based on openapi spec.

#### What you expected to happen

[2021-04-04 06:23] uablrek commented on #100782
How do you install `kube-router`? What functions of kube-router are enabled?

More ot the point, is `kube-router` replacing `kube-proxy`?

[2021-04-04 08:35] #96203 closed

[2021-04-04 09:07] gosoon opened #100803 "kubelet syncloop failed"
#### What happened:
The new pod successfully scheduled is always in the pending state,and kubelet did not generate SyncLoop logs,kubelet seems to be stuck somewhere in Syncloop.

After log “SyncLoop (housekeeping)”, no new SyncLoop logs are generated.
[code]
There is no useful error log.

[code]
Is there a better way to troubleshoot such problems？

#### What you expected to happen:

#### How to re

[2021-04-04 09:58] 24-komal commented on #29972
how to solve this issue so that the pod start

[2021-04-04 10:56] MadhavJivrajani commented on #99966
Hey @minbaev! Are you still working on this? If not, I'd like to take a crack at this 😄

[2021-04-04 10:59] MadhavJivrajani commented on #100400
Hi! I'd like to try working on this issue if possible 😄
/assign

[2021-04-04 12:18] dev999k8 commented on #100782
Kube-router installation via kubespray. Also tried manually via there techdocs.

Using router, firewall and service proxy.

[2021-04-04 12:26] uablrek commented on #100782
Kube-router as "service proxy" means that it takes over the job of kube-proxy. You must disable kube-proxy otherwise there will be conflicts. I think the problem is that both kube-router and kube-proxy in ipvs mode tries to configure ipvs. So;

Disable kube-proxy.

[2021-04-04 12:38] dev999k8 commented on #100782
@uablrek Kube-proxy is already removed, it is not running. As mentioned above the setup works fine on kube 1.18, just not 1.19+.

[2021-04-04 13:17] rikatz commented on #100767
/area kube-proxy

[2021-04-04 13:22] uablrek commented on #100782
The above is misleading. Kube-router has no iptables mode.

Since `kube-router` is installed as service proxy and `kube-proxy` is disabled, this is a kube-router problem.

Please raise an issue on kube-router. I close this issue.

/close

[2021-04-04 13:22] #100782 closed

[2021-04-04 13:29] jayunit100 commented on #100740
/assign

[2021-04-04 13:39] jayunit100 commented on #100767
/assign @dougsland

[2021-04-04 13:40] jayunit100 commented on #100767
(doug is ramping up on various kube proxy stuff so will be a fun reproducer for him) :)

[2021-04-04 15:17] neolit123 commented on #100781
/remove-kind bug
/kind support
/sig network

i don't think external firewall is something that kubernetes can just bypass.
you might get more feedback on:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-04-04 15:18] neolit123 commented on #100779
/area provider/aws
/sig cloud-provider

[2021-04-04 15:21] neolit123 commented on #100773
/close
/kind support
/sig network

[2021-04-04 15:21] #100773 closed

[2021-04-04 15:22] neolit123 commented on #100789
/sig testing

[2021-04-04 15:22] neolit123 commented on #100789
/sig apps

[2021-04-04 15:23] neolit123 commented on #100789
/remove-sig testing
/retitle [Flake] Deployment RollingUpdateDeployment should delete old pods and create new ones

[2021-04-04 15:24] neolit123 commented on #100795
/sig autoscaling

[2021-04-04 15:24] neolit123 commented on #100796
/sig apps

[2021-04-04 15:24] neolit123 commented on #100802
/sig node api-machinery

[2021-04-04 15:26] neolit123 commented on #100803
if this is the kubelet version too, it is out of support.
please try with 1.18+.

/sig node

[2021-04-04 15:29] apelisse commented on #100556
Can we make the webhook blocking so that the request will wait for it to be ready? Can we make sure that it's up-and-running somehow before performing the actual test? Having an arbitrary "wait" before we start the test seems wrong.

[2021-04-04 15:51] jayunit100 commented on #100740
i think to follow up its worth a quick check to see if we can still pass conformance when nodeports only bind to 127 -- i assume not.  in that case, really the workaround here is a workaround only for special cases where theres a very high level of security required etc.

[2021-04-04 16:43] #19475 closed

[2021-04-04 16:50] unixfox commented on #69699
/remove-lifecycle stale

[2021-04-04 16:57] nicomitchell commented on #93795
@almas33 @pravarag @Kappie37 if no one is currently working on this, I'd like to take a crack at it.

[2021-04-04 17:38] rikatz commented on #100434
Hi @mandala23 so just to clarify some bits:
* You are not running Calico in eBPF mode right?
* Have you tried switching kube-proxy to ipvs and see what happens?

The first thing that came to my mind here is that probably you are being able to hit the nodePort, which is hitting the Pod but when returning, this might be getting masquerading wrong (maybe because of the amount of network interfaces),

[2021-04-04 18:19] nicomitchell commented on #93795
/assign

[2021-04-04 18:33] knabben commented on #94022
/remove-lifecycle rotten

[2021-04-04 18:36] minbaev commented on #99966
Hey @MadhavJivrajani we have a pr that is merge-ready for this
https://github.com/kubernetes/kubernetes/pull/100322

[2021-04-04 19:46] #95970 closed

[2021-04-04 19:46] #95704 closed

[2021-04-04 20:10] aidinhass commented on #74551
I am not sure how much this is relevant to this thread but try https://localhost:2746 instead of 127.0.0.1:2746.

[2021-04-04 20:47] #95307 closed

[2021-04-05 00:01] jfgauron commented on #100797
I made a repo to reproduce the issue: https://github.com/jfgauron/debug-kubernetes-etcd.

I also noticed that `kubeadm join` fails at the `control-plane-join/etcd` phase:

[code]

etcd store not being started is what causes `kube-apiserver` crash loop:

[code]

`kubeadm join --v=10` output:

[code]

[2021-04-05 02:53] #96289 closed

[2021-04-05 05:20] jingxu97 commented on #94022
cc @jingxu97

[2021-04-05 07:02] yashpanchalecosmob commented on #100781
Yes that is exactly what we thought but it seems that is does in this case.

[2021-04-05 07:42] Kappie37 commented on #93795
@nicomitchell Of course! Could you explain what you did so noobs like me could learn?

[2021-04-05 07:57] harche commented on #99624
@pacoxu Please feel free to tag me for review once you submit the PR.

[2021-04-05 11:21] zhangguanzhang commented on #76146
/reopen
/remove-lifecycle rotten

[2021-04-05 12:02] #96090 closed

[2021-04-05 12:37] uablrek commented on #23864
If this is a limited corner case would it be acceptable to interpret something like;
[code]
as a full IP forwarding service?

The used combination `clusterIP: None` and `type: LoadBalancer` is currently forbidden.

NodePorts would be disabled for this service. External load-balancers using nodeports can't forward all ports anyway. The `kube-proxy` load-balancer can be modified without much problem

[2021-04-05 12:44] CaoDonghui123 commented on #100802
/assign

[2021-04-05 13:14] dims opened #100824 "Failure cluster [3918a822...] HostPath should give a volume the correct mode"
### Failure cluster [3918a82299c386f0bb13](https://go.k8s.io/triage#3918a82299c386f0bb13)

##### Error text:
[code]
#### Recent failures:
[4/4/2021, 1:07:07 AM ci-containerd-soak-cos-gce](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-containerd-soak-cos-gce/1378574813106278400)
[4/3/2021, 8:26:17 PM ci-kubernetes-e2e-gce-stable2-stable1-upgrade-master](https://prow.k8s.io/view/gs/kubernet

[2021-04-05 13:27] vielmetti commented on #100800
@dims Happy to help - any suggestions welcomed. In particular I'm not sure what exact hardware these tests are running on, and I could potentially provide something.

[2021-04-05 13:28] dims commented on #100824
/triage accepted

[2021-04-05 14:29] liggitt commented on #100556
The poll and timeout are fine. lastErr is only getting set, never unset. If validateManagedFieldsAndDecode returns nil, lastErr should get cleared.

[2021-04-05 14:31] liggitt commented on #100556
Hmm.. actually, the one failing is the Update request, after the Patch request has already been checked. The patch request passing means the webhook was effective and working, the update request should work consistently the first time.

[2021-04-05 14:36] cynepco3hahue opened #100838 "Memory manager should re-use memory allocated for init containers"
#### What happened:

Start the pod with init containers will consume appContainersMemory + initContainersMemory.
You can see it explicitly under the memory manager state file(`/var/lib/kubelet/memory_manager_state`)

#### What you expected to happen:

The Memory manager should re-use the memory allocated for the init containers.

#### How to reproduce it (as minimally and precisely as possible):

[2021-04-05 14:39] cynepco3hahue commented on #100838
/sig node

[2021-04-05 15:16] derekrprice commented on #57291
@jakerobb Yes, that would be perfect.

[2021-04-05 15:44] kfox1111 commented on #89911
/remove-lifecycle stale

[2021-04-05 15:51] harche commented on #72881
/remove-lifecycle rotten

[2021-04-05 16:19] nicomitchell commented on #93795
Sure! For the record I am a noob to this project as well, but my process for trying to solve issues on open source projects generally goes like this:

- Read the issue and figure out what files are going to be relevant. In this case I know the relevant file is going to be in test/integration/scheduler_perf because of the issue title and I know a performance-config.yaml file is going to be importan

[2021-04-05 16:30] erismaster commented on #100047
@soltysh Hi, Bug Triage lead here, is this issue still blocking the 1.21 release? I saw above that you said you'd unblock the release and continue investigating, but I still see the release-blocker label.

[2021-04-05 16:31] palnabarun commented on #100047
cc: @thejoycekung for a signal on what our CI feels. :)

[2021-04-05 17:08] harche commented on #72881
/remove-lifecycle stale

[2021-04-05 17:22] edreed commented on #99947
There's something odd going on here. As the test description indicates, it deletes the pod for the StatefulSet and expects it to be recreated. When the kubelet attempts to recreate the pod, however, the mount point for the volume is no longer there.

[code]

From the log above, we can see the pod was deleted succesfully. It was then rescheduled but failed because the volume mount point does not ex

[2021-04-05 17:31] msau42 opened #100840 "storage e2e: make read-only block optional"
#### Which jobs are failing:
vsphere CSI

#### Which test(s) are failing:
CSI Volumes [Testpattern: Dynamic PV (block volmode)] multiVolume [Slow] should concurrently access the single read-only volume from pods on the same node

#### Since when has it been failing:
since the test was introduced

#### Testgrid link:
n/a

#### Reason for failure:
[code]

#### Anything else we need to know:

[2021-04-05 17:35] msau42 commented on #100840
This test tries to set [pod.volumes.readonly in block mode](https://github.com/kubernetes/kubernetes/blob/7604762805defb056bf5762abd90a3500edf0b60/test/e2e/framework/pod/create.go#L234) which I think most volume plugins don't support. I think read-only block can only be enforced at attach-level, not node stage/publish level.

I double checked pd csi implementation to see why the test is passing th

[2021-04-05 17:48] ReillyBrogan commented on #74551
@aidinhass It's not relevant at all as `port-forward` has to do with TCP proxying and has nothing to do with HTTPS.

If you are interested in reading more about this you should read up about the [OSI model](https://en.wikipedia.org/wiki/OSI_model) as this issue is a [layer 4](https://en.wikipedia.org/wiki/Transport_layer) issue. HTTPS is a [layer 7](https://en.wikipedia.org/wiki/Application_layer)

[2021-04-05 18:04] prameshj commented on #23864
The KEP isn't out yet. I will try to get a WIP version by end of this week.. sorry for the delay.  The high level proposal is to introduce a new field to the ServicePort API object - "allPorts" boolean field, while still requiring a valid targetPort.
Setting "allPorts" to true will not be supported for NodePort services.

As an aside, allocation of NodePorts can be disabled for LoadBalancer servic

[2021-04-05 18:46] sladyn98 commented on #100556
But isnt the patch request alos failing to report the adequate warnings
[code]

[2021-04-05 18:52] jsturtevant commented on #98180
is fixed by https://github.com/kubernetes/kubernetes/pull/100785

[2021-04-05 18:56] jfgauron commented on #100797
I wasn't able to reproduce the issue on 1.19.0. Seems to be specific to 1.20.x.

[2021-04-05 19:03] #99028 closed

[2021-04-05 19:09] danwinship commented on #100643
The CNI equivalent does not do port opening at all, because it just exits after setting up the iptables rules, so even if it opened the port it would just close it immediately afterward...

Yeah, NodePorts without port opening seem mostly unproblematic as long as
  1. the administrator doesn't do something "ill-advised" like set the nodeport range to `0-65535` so that they can create a service wit

[2021-04-05 19:11] sladyn98 commented on #100194
Could we check if the configmap value was updated for sure to rule out that scenario ?

[2021-04-05 19:13] danwinship commented on #100643
Hm... kubelet/dockershim also doesn't recreate the hostport iptables rules if they get deleted (either while kubelet is running, or after a restart).

[2021-04-05 19:33] dims opened #100841 "windows jobs in release-master-informing are in bad shape"
![image](https://user-images.githubusercontent.com/23304/113617143-0877f380-9624-11eb-8706-cb034f25d9ec.png)

- https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2004-master
- https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2019-master
- https://testgrid.k8s.io/sig-release-master-informing#gce-windows-20h2-master

cc @ibabou

[2021-04-05 19:36] dims commented on #100841
/sig windows
/sig testing

https://github.com/kubernetes/test-infra/pull/21654 and https://github.com/kubernetes/kubernetes/pull/100815 should help with at least the one bad test that take too long

[2021-04-05 19:54] enj commented on #99765
/triage accepted

[2021-04-05 20:46] aojea commented on #51292
@cpanato I'm not familiar with the problem but seems that there is an option already
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/cluster/gce/config-default.sh#L490-L492

@MrHohn may be more familiar with the issue, or maybe @amwat ??

[2021-04-05 20:56] aojea commented on #100767
@mzyfree it is probably that you are mixing iptables versions, and your kube-proxy is not using the same version that you are using in the host, please check both iptables and try to make your system consistent only using one flavor.

released images already has a fix to detect the iptables version in the host https://github.com/kubernetes/kubernetes/issues/94700

[2021-04-05 21:10] ehashman commented on #96981
/remove-lifecycle rotten

[2021-04-05 21:11] ehashman commented on #96981
/triage accepted
/assign

[2021-04-05 21:14] MrHohn commented on #51292
@aojea @cpanato Thanks for following up on this! So this issue is mostly related to the GCE startup scripts, where we have two options to install kube-proxy, either via a per-node static pod or a daemonset. Unfortunately we haven't been able to enable kube-proxy daemonset mode by default for gce (I believe there are a few outstanding concerns that block this), that said we shouldn't remove the sta

[2021-04-05 21:34] christopherhein commented on #90533
/remove-lifecycle stale

[2021-04-05 22:06] michaelgugino commented on #96981
Egress IP's aren't the only IPs that cause problems.  Anything that adds an IP to an instance for whatever reason will show up in the CSR, and that is undesireable.  Ideally, just the hostname shows up.

[2021-04-05 22:12] MrHohn commented on #100740
@neolit123 Thanks for the clarification. A quick comment is that we've been using kube-proxy's healthz endpoint as the health check target of the GCP network load balancer (service with `type=LoadBalancer`). I suspect a few other cloud provides may have a similar dependency. Defauling `HealthzBindAddress` to localhost might break the LB functionality in this case.

[2021-04-05 22:15] vincentmli commented on #100781
@yashpanchalecosmob, if you could draw a simple network path diagram of the sip call path, and provide more kubernetes deployment details like pod, it could be useful, if you suspect there is networking issue in Kubernetes, I recommend iptables trace https://youtu.be/9HNKRP7x57M, it is very handy once you have clear picture what the packet path look like.

[2021-04-05 22:24] neolit123 commented on #100740
understood @MrHohn ,

it might be too late change the kube-proxy default of HealthzBindAddress at this point.
i was wondering whether  we should change the value kubeadm passes to kube-proxy for HealthzBindAddress to localhost, but this will likely break users too.

@jayunit100

yes, i agree. you can still check conformance if you'd like.

i will close this ticket, because the change on the sides

[2021-04-05 22:25] #100740 closed

[2021-04-05 22:40] scottilee opened #100843 "Create a logging style guide"
#### What happened:
While working on adding structured logs to the codebase I noticed there's inconsistencies in how logs are written. For instance, the word "csr" would be [lowercase in some log statements](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/certificates/certificate_controller.go#L177) and [uppercase in other log statements](https://github.com/kubernetes/kubernete

[2021-04-05 22:40] logicalhan commented on #100843
/assign @serathius

[2021-04-05 23:08] tkashem opened #100844 "kubelet liveness probe (to kube-apiserver) has its own account"
#### What happened:
kubelet liveness probe receives an HTTP `429 (Too Many Requests)` response because the kube-apiserver is under some load but still functioning:
[code]
The above liveness probe error may lead kubelet to restart a busy but "healthy" apiserver instance.

Restart of healthy apiserver instance(s) due to the above scenario is not desirable and to avoid this we wanted to `exempt` ( us

[2021-04-05 23:08] tkashem commented on #100844
cc @lavalamp @MikeSpreitzer @deads2k

[2021-04-05 23:09] tkashem commented on #100844
/sig auth

[2021-04-06 00:19] #99947 closed

[2021-04-06 00:19] feiskyer commented on #97467
I'm closing this issue since there's no update for a long time. @staebler feel free to reopen if you still see the same issue.

/close

[2021-04-06 00:19] #97467 closed

[2021-04-06 00:35] tonglil opened #100845 "kubectl kustomize does not work with inline patches"
#### What happened:

Trying to use Kustomize that's built into kubectl, but it gives an error:
[code]

#### What you expected to happen:

To work the same as Kustomize:
[code]

#### How to reproduce it (as minimally and precisely as possible):

Follow this doc's demo: https://kubectl.docs.kubernetes.io/guides/example/inline_patch/

#### Anything else we need to know?:

When the adjustment is made

[2021-04-06 00:48] kishorj opened #100846 "cloud-provider service controller race with node sync and service updates"
#### What happened:
The cloud-provider service controller handles node sync and service reconcile events independently. The node sync eventually invokes the `UpdateLoadBalancer` for each of the affected service resources. The service reconciler invokes `EnsureLoadBalancer`, `UpdateLoadBalancer`, `EnsureLoadBalancerDeleted` etc. APIs from the cloud provider implementation. Since both of these event

[2021-04-06 00:51] kishorj commented on #100846
/sig cloud-provider

[2021-04-06 01:29] dims commented on #100841
cc @jayunit100

[2021-04-06 01:48] dcbw commented on #96018
Phil and Pablo have posted patches to improve iptables-nft performance to iptables-legacy levels based on the ruleset from this issue:
https://marc.info/?l=netfilter-devel&m=161730110620551&w=2
https://marc.info/?l=netfilter-devel&m=161730896024892&w=2

[2021-04-06 02:26] yqwang-ms commented on #83725
/remove-lifecycle stale

[2021-04-06 02:26] yqwang-ms commented on #87278
/remove-lifecycle stale

[2021-04-06 03:13] pacoxu commented on #100845
/sig cli

[2021-04-06 03:32] thockin commented on #48528
I acknowledge the desire for this, but we have to think carefully about how
to represent it in a compatible way.

On Fri, Apr 2, 2021, 9:28 AM Daniel Smith ***@***.***> wrote:

[2021-04-06 03:35] pacoxu commented on #100799
#61673 as well.

[2021-04-06 03:38] wzshiming commented on #88406
/assign

[2021-04-06 03:42] jfgauron commented on #100797
I have updated the previously mentioned repository with logs from a test that failed: https://github.com/jfgauron/debug-kubernetes-etcd/tree/main/logs.

[2021-04-06 06:18] chenyw1990 opened #100849 "kubelet don't share transport by default after #95427"
#### What happened:
In #95427, client-go don't share transport when c.Dial is not nil, https://github.com/kubernetes/kubernetes/blob/b0abe89ae259d5e891887414cb0e5f81c969c697/staging/src/k8s.io/client-go/transport/cache.go#L136
but kubelet custorm Dial by default, https://github.com/kubernetes/kubernetes/blob/b0abe89ae259d5e891887414cb0e5f81c969c697/cmd/kubelet/app/server.go#L929

After PR is integ

[2021-04-06 06:18] chenyw1990 commented on #100849
/sig api-machinery
/sig node

[2021-04-06 06:35] shuoliu1 opened #100850 "Pod is invalid: spec: Forbidden: pod updates may not change fields other than `spec.containers[*].image`, `spec.initContainers[*].image`, `spec.activeDeadlineSeconds` or `spec.tolerations` (only additions to existing tolerations)"
update deployment section podname Environment value

[2021-04-06 06:59] mandala23 commented on #100434
Hello Ricardo,

Thanks for the feedback.

Calico is not running in eBPF mode . I have tried to switch to ipvs mode and it is still the same problem. NodePort is reachable on the Node where the pod is hosted, not on the Other Node.

With ipvs mode, pod can be reachable on internal pod network from each node. In iptables , pods cannot be reach with a ping from other node (it can only be reach from t

[2021-04-06 07:12] ingvagabund commented on #91983
/remove-lifecycle stale

[2021-04-06 07:28] couloum commented on #96868
@dcbw , sorry for the delay in my answer.

I confirm that disabling checksum offload DOES solves the issue. I use this command to disable checksum offload:
[code]

Regarding your question about `random-fully`. I was able to manually test that, as described here: https://github.com/projectcalico/calico/issues/3145#issuecomment-734234736
Manually disabling `random-fully` solved the issue as well. Ho

[2021-04-06 07:56] wojtek-t commented on #78481
/remove-lifecycle stale

[2021-04-06 08:03] jsafrane opened #100854 "Run scheduler stress tests with pods sharing the same PV"
#### What would you like to be added:

https://github.com/kubernetes/kubernetes/pull/74716 added e2e test `Pods sharing a single local PV [Serial]` that creates 50 Pods to test for races in storage topology scheduling. It should be an integration test instead, we don't need to abuse a real kubelet with 50 pods.

/sig storage
/sig scheduling
/assign @cofyc

[2021-04-06 08:05] jsafrane commented on #100854
Note than in https://github.com/kubernetes/kubernetes/pull/100531 we reduced the number of pods to 2, therefore the test is very unlikely to hit any races. That's why we need to have it in the integration test instead.

[2021-04-06 08:33] serathius commented on #100843
Please check out our migration guide https://groups.google.com/forum/#!forum/kubernetes-wg-structured-logging
Let me know if there is anything missing or unclear

[2021-04-06 08:46] zerkms commented on #92851
/remove-lifecycle stale

[2021-04-06 09:06] shelltea commented on #96240
Same problem.

Kubernetes version :v1.16.7
Docker version: 18.09.7
OS: CentOS 7.4
Kernal version: 3.10.0-1160.6.1.el7.x86_64

[code]

[2021-04-06 09:21] ialidzhikov opened #100855 "LoadBalancer cannot be deleted when the underlying resource group is deleted"
#### What happened:

I recall that this issue was reported previously in https://github.com/kubernetes/kubernetes/issues/75198. It was fixed in the master back then with https://github.com/kubernetes/kubernetes/pull/93962 and it was cherry-picked into `release-1.19` with https://github.com/kubernetes/kubernetes/pull/94713.
However we still observe the same issue with the legacy azure cloud-control

[2021-04-06 09:22] ialidzhikov commented on #100855
/sig cloud-provider
/area provider/azure
/cc @feiskyer @andyzhangx @nilo19

[2021-04-06 09:28] n0-1 commented on #96018
A fix to allow for large rulesets currently under review: https://marc.info/?l=netfilter-devel&m=161769909013299&w=2
Performance improvement applied meanwhile: https://marc.info/?l=netfilter-devel&m=161676942405027&w=2

[2021-04-06 10:19] cpanato commented on #51292
thanks @MrHohn for the input, so should we close this issue and open a new open when the removal can be done?

[2021-04-06 11:04] max-rocket-internet commented on #90066
I've installed kubectl version `v1.20.5` but the annoying `managedFields` output is still present. When will the fix be in a stable release?

[2021-04-06 11:35] timolehto commented on #95498
Yeah @janetkuo definitely this should be clarified as @jalaziz suggests...

If it even makes sense to have features like max surge/unavailable with this behaviour. I mean what's the point? If basically immediately when you make a deploy all old pods change their state to terminating then when exactly would the max surge settings and max unavailable settings be useful? I'm failing to see any point

[2021-04-06 11:49] vickeyrihal1 commented on #100708
@jsturtevant @pacoxu - is there any public image available for windows? just like k8s.gcr.io/pause:3.2

[2021-04-06 11:58] Davidrjx commented on #95704
that's grateful but now i made choice with bypassing.

[2021-04-06 12:01] makkes commented on #90066
@max-rocket-internet it is targeted for 1.21, see #96878 for details.

[2021-04-06 12:29] jsafrane commented on #100840
read-only block volume is indeed weird and I would not mind if we don't test it. However, it is possible to achieve with podman or docker: `docker run -ti --device /dev/mapper/ssd-test:/dev/test:r centos:8`. The device looks writable (has `w` bit), but all writes fail.  I did not check if we have similar functionality  it in CRI.

[2021-04-06 12:34] srinicrick65 commented on #100790
Hi Ben the directory is available in my host. I have fixed this issue . This issue is there in **v1.20.4-k3s**1 and the issue is fixed in **v1.20.5-k3s1** but k3d (k3d version v4.4.0) is using v1.20.4-k3s1 . can you upgrade you stable version of k3s to v1.20.5-k3s1 or apply the volume mount fix

[2021-04-06 12:45] adtac commented on #94836
/remove-lifecycle stale

[2021-04-06 13:04] danwinship commented on #96981
Specifically, with `--cloud-provider={aws/azure/gce/openstack}`, if you add a second IP or second network interface to the node via the cloud APIs then those IPs will show up in `node.Status.Addresses`, and from there the CSR, even though you may not have intended those IPs to be used for reaching kubelet. With `--cloud-provider=vsphere`, if you even just add an extra IP to the node with `ip addr

[2021-04-06 13:14] pacoxu commented on #100708
k8s.gcr.io/pause:3.4.1

k8s.gcr.io/pause:3.5

both are ok

[2021-04-06 13:18] alculquicondor commented on #90402
yes

[2021-04-06 13:23] uvwild commented on #92928
I have this issue after trying to reinitialize a gardener k8s cluster after a scheduled password change.
the
k8s 1.18.6 using openstack provider
docker.io/kubermatic/machine-controller:v1.25.0

`Error updating Endpoint Slices for Service kube-system/machine-controller-webhook: Error updating machine-controller-webhook-5tjj2 EndpointSlice for Service kube-system/machine-controller-webhook: Operatio

[2021-04-06 13:32] andyzhangx commented on #100391
it's always using account name & key to mount azure file, so it's by design

[2021-04-06 13:35] andyzhangx commented on #100097
fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/592, won't run this test for in-tree driver any more

[2021-04-06 13:35] andyzhangx commented on #100097
/close

[2021-04-06 13:35] #100097 closed

[2021-04-06 13:41] scottilee commented on #100843
@serathius When I go to that link it's a Google Group with no conversations. Where exactly can I find the migration guide?
<img width="1189" alt="Screen Shot 2021-04-06 at 6 41 26 AM" src="https://user-images.githubusercontent.com/7443383/113720102-26d10400-96a3-11eb-9cb5-b31bb77ed25f.png">

[2021-04-06 13:47] neolit123 commented on #100799
the feature was enabled in kubeadm as optional, but we removed it recently.

prior feedback from users was that they could not get it work with the kubeadm wrapped option or by following the official docs:
https://kubernetes.io/blog/2018/07/11/dynamic-kubelet-configuration/

dynamic reconfiguration of services is a interesting discussion, yet from what i've seen SIG Arch are mostly not in favor.
b

[2021-04-06 13:48] neolit123 commented on #100850
please try asking in the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-04-06 13:48] #100850 closed

[2021-04-06 13:56] neolit123 commented on #100797
To see the stack trace of this error execute with --v=5 or higher

we are not seeing such problems in the kubeadm e2e tests for 1.20:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-1-20

this is a 3 control-plane node cluster with stacked etcd (colocated etcd members on the CP nodes).

we also have kubeadm usage in a few companies in their products.

reading:
https:/

[2021-04-06 14:17] liggitt commented on #100798
the recommended way to accomplish this would be to define multiple hooks in a single configuration object, each with a distinct selector

[2021-04-06 14:17] #100798 closed

[2021-04-06 14:19] liggitt commented on #100799
I don't think that's in the same bucket... dynamic refresh of a time-bound portion of a configuration (like a CA bundle or an authentication token) seems very different from changing the configuration.

[2021-04-06 14:21] uvwild commented on #92928
i deleted the endpointslices and the machine-controller-webhook and ran kubeone apply again....
now the reconcile error is:

`E0406 14:12:42.684586       1 machine_controller.go:363] Failed to reconcile machine "democluster-pool1-67648bd9b4-xtft9": failed to create machine at cloudprovider, due to instance 5352e4b7-0d84-4938-92e6-0d5f686ce899 became not active: instance became not active after 10.

[2021-04-06 14:50] neolit123 commented on #100799
i still consider it dynamic reconfiguration of a service, that may or may not have behavior changes.
changing the CA bundle that a server accepts can have behavior changes for clients trusting the same server.

[2021-04-06 14:52] liggitt commented on #100845
In v1.21, kubectl is updated to use v4 kustomize. Does that resolve this issue?

/assign @monopole

[2021-04-06 15:09] serathius commented on #100843
Oh sorry, error when copy-pasting
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md

[2021-04-06 15:11] neolit123 commented on #100707
we discussed this deprecation in the SIG CL meeting and agreed that we should be clear in release notes that this about removing flags and kubenet would continue to work after that.

[2021-04-06 15:23] neiljerram opened #100862 "kubelet panic on new node when Node resource already exists"
#### What happened:

kubelet service panicked and therefore failed to register a newly booted node with the cluster:
[code]

#### What you expected to happen:

kubelet registered the new node with the cluster.

#### How to reproduce it (as minimally and precisely as possible):

Before booting up the new node (or before starting the kubelet service on it), create a matching Node resource like this:

[2021-04-06 15:27] BenTheElder commented on #100790
K3s is not part of the Kubernetes project. We have nothing to do with it and I have no idea when it will be fixed. K3s is a fork. Please file k3s bugs with k3s.

[2021-04-06 15:27] #100790 closed

[2021-04-06 15:32] Riaankl opened #100863 "Write Read, Patch & Replace Replictest Status +3 endpoints"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow : [Read-Patch-Status-for-Replicaset.org](https://github.com/apisnoop/ticket-writing/blob/create-replicaset-status-lifecycle-test/Appsv1ReplicaSetStatusLifecycleTest.org)
-   [X] test approval issue : [kubernetes/kubernetes#100863](https://github.com/kubernetes/kubernetes/issues/100863)
-   [X] test pr : kuberenetes/kubernetes #101260
-   [X]

[2021-04-06 15:36] davecozz commented on #89898
Does anyone know if this issue affects v1.19+ ?

We're facing similar problems with v1.18.x on multiple clusters.

`Readiness probe failed: Get http://xxx.xxx.xxx.xxx:8080/health: net/http: request canceled (Client.Timeout exceeded while awaiting headers)`

[2021-04-06 15:40] robscott commented on #51292
Yeah I think this is far enough out that it's probably best to close this for now. Thanks for following up on this!

/close

[2021-04-06 15:41] #51292 closed

[2021-04-06 15:50] Riaankl commented on #100863
/triage accepted

[2021-04-06 16:38] thejoycekung commented on #100758
/close

Now that both kubernetes/test-infra#21640 and kubernetes/test-infra#21642 have merged, this test won't run anymore.

[2021-04-06 16:38] #100758 closed

[2021-04-06 16:45] nyarly commented on #79606
Is `rollout status` replacing `wait` generally, or is there a timeline for StatefulsetConditions to be updated properly?

[2021-04-06 16:53] amarjothi commented on #100719
`apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: "2021-04-01T06:18:33Z"
  generation: 1
  labels:
    k8s-app: kube-dns
  managedFields:
  - apiVersion: apps/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:labels:
          .: {}
          f:k8s-app: {}
      f:spec:
        f:progressDeadlineSecond

[2021-04-06 16:56] amarjothi commented on #100719
`[root@kube-master-3 nodeagent]# k describe pod coredns-6c6f7bf499-hxbc2 -n=kube-system
Name:                 coredns-6c6f7bf499-hxbc2
Namespace:            kube-system
Priority:             2000000000
Priority Class Name:  system-cluster-critical
Node:                 kube-worker-2/10.179.16.35
Start Time:           Tue, 06 Apr 2021 17:42:24 +0100
Labels:               k8s-app=kube-dns

[2021-04-06 16:57] caseydavenport commented on #100707
I would guess that for most users, "kubenet == the dockershim implementation", and I suspect users who see a release note stating the kubenet will continue to work will not expect that they now need to implement their own CNI network configuration and distribute it to all of their nodes.

[2021-04-06 16:59] neolit123 commented on #100719
did you install the kubelet / kubeadm / ... from the official RPM packages?

the kubelet package installs a package called `kubernetes-cni` that is required by some CNI plugins.

[2021-04-06 17:01] neolit123 commented on #100707
it seems appropriate to have docs explaining what actions the users need to take.
or as @justinsb mentioned, we could link to https://github.com/kubernetes/kubernetes/issues/100707#issuecomment-811518514

[2021-04-06 17:02] amarjothi commented on #100719
Not rpm but downloaded binaries

[2021-04-06 17:07] neolit123 commented on #100719
did you install `cni-plugins-linux-amd64-...` ?

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl
^ you can follow the guide "without a package manager".

but i would suggest you start over and use RPM.

this might solve the problem. but i have not context as mentioned here:
https://github.com/kubernetes/kubernetes/issues

[2021-04-06 17:08] amarjothi commented on #100719
# Install the cni plugins
write_to_log 'Install cni plugins'
cd /tmp
cat cni-plugins-linux-amd64-v0.8.2.tgz | tar -C /opt/cni/bin/ -zxvf -

yes I have.

[2021-04-06 17:09] neolit123 commented on #100719
i'd try from scratch with the RPM packages.

[2021-04-06 17:10] amarjothi commented on #100719
it should work with kubelet binary too right?

[2021-04-06 17:11] caseydavenport commented on #100707
@justinsb My point was that, by this definition, both Calico and Flannel (and probably others) are kubenet :)

I think to users, kubenet is something more specific than that. Namely, it's the "built-in" networking option.

[2021-04-06 17:18] justinsb commented on #100707
How about we err on the side of caution, and be very explicit that we're removing the flags, and that users that want the equivalent behaviour can set it up using a CNI configuration - it likely suffices to link to https://github.com/kubernetes/kubernetes/issues/100707#issuecomment-811518514

[2021-04-06 17:23] pravarag commented on #90402
/assign

[2021-04-06 17:41] jayunit100 commented on #93945
we should probably write an e2e for this but low prio b/c this is a really weird corner case - i.e. why would you ever run iis w/ a 10M

[2021-04-06 17:42] jayunit100 commented on #93945
maybe worth closing ? not sure, @marosset any thoughts?

[2021-04-06 17:44] dims commented on #100862
Hey @neiljerram, we are unable to support k8s distros. can you please file this in openshift github repo?

/close

[2021-04-06 17:44] #100862 closed

[2021-04-06 18:05] Random-Liu commented on #100707
IIRC, one big difference between dockershim kubenet/containerd CNI template vs. Calico/Flannel is that:
1) dockershim kubenet / containerd CNI relies on kubelet to [pass it the pod CIDRs through CRI](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/kubelet_network.go#L59).
2) Calico / Flannel retrieves that from the apiserver directly.

And the kub

[2021-04-06 18:07] clong- commented on #67250
Still seeing this issue on v1.20.5.

[2021-04-06 18:22] jsturtevant commented on #100789
This looks to have happened here too: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100278/pull-kubernetes-e2e-kind/1379270871885025280:

[code]

I am not sure if it specific test.  It looks more related to issue running the tests on kind.

[2021-04-06 18:25] tonglil commented on #100845
Thanks, I guess it could.
I'm not sure what version of kustomize `kubectl` is using so I'm unable to test that specifically.

[2021-04-06 18:50] spiffxp commented on #100047
FWIW this would be my decision tree for release-blocker or not:
- have we narrowed this down to a specific set of tests?
  - no, still occurring randomly across tests:
    - has the flake rate reduced since time of filing, and is it acceptably low?
      - no -> still release-blocking
      - yes -> not release-blocking
  - yes, specific set of tests:
    - do these tests exist in the previous rel

[2021-04-06 18:56] dchen1107 commented on #100707
GKE still has some dependencies on kubenet today even we planned to get off it for a while. Just confirmed it with the engineering team internally.

[2021-04-06 19:43] derekwaynecarr commented on #100799
we discussed this in sig-node and @SergeyKanzhelev said he would explore this in more depth during 1.22.

[2021-04-06 19:49] Huang-Wei commented on #85677
/remove-lifecycle stale

[2021-04-06 20:09] xmudrii commented on #72638
Currently, there are no plans for implementing this. It has been decided to leave the issue open to avoid duplicates. Ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1600779436038700?thread_ts=1600768354.032500&cid=CJH2GBF7Y

[2021-04-06 20:13] dims commented on #100841
All 3 jobs are under an hour and half.

/close

[2021-04-06 20:14] #100841 closed

[2021-04-06 20:15] jpbetz commented on #100849
/triage accepted
/assign @yliaog

[2021-04-06 20:16] jpbetz commented on #100802
/triage accepted
/assign @roycaihw

[2021-04-06 20:16] dims commented on #100800
@vielmetti we need the original developers of the arm64 jobs to respond and revive what they were running earlier (and reporting to test grid) :(

Looks pretty bad

![image](https://user-images.githubusercontent.com/23304/113773064-7fc88880-96f3-11eb-8c31-3c8a829c39d4.png)

[2021-04-06 20:17] jpbetz commented on #100787
/triage accepted
/assign @jpbetz

[2021-04-06 20:17] jpbetz commented on #100745
/triage accepted
/cc @jpbetz

[2021-04-06 20:24] mmerrill3 commented on #100328
Hi, is there a version of kubernetes that we should be using where the dbus singleton was not getting the close method called on it?  We see this issue with k8s 1.20.5 and 1.20.2.

We previously didn't see this error on k8s 1.19.6.

[2021-04-06 20:36] mlsorensen commented on #72597
This would really be nice. Not all use cases bind to localhost in the pod.

As a workaround - the socat script above can also be added as a sidecar to the pod, in cases where the pod/destination IP is known or you are willing to discover it via a sidecar startup script.

[2021-04-06 21:14] yliaog commented on #100849
how many connections between kubelet and kube apiserver on one node after PR #95427 in your case? it's mentioned it increases by five times, does that mean before the PR, there is one connection, after the PR, there are 5 or 6 connections?

[2021-04-06 21:16] kris-nova commented on #90066
what is the delta between this and #96878? there is a comment in the PR that says this issue still should remain open after the merge?

what else are we missing?

[2021-04-06 21:16] pohly commented on #72638
I vaguely remember a plan (or at least the intention) to ensure that different tags really reference different commits. Do I remember correctly and is that still planned even if the bigger changes around semantic versioning don't get implemented?

Right now it can happen that v0.20.0 and v0.21.0-beta.1 (or so - I'm making this specific example up) reference the same commit if nothing in the code c

[2021-04-06 21:51] lavalamp commented on #67610
Another option would be to implement the Marshaller interface in metav1.ObjectMeta...

[2021-04-06 21:51] apelisse commented on #90066
managed fields are still downloaded, they are stripped by the client. We could possibly omit them server-side.

[2021-04-06 22:13] thejoycekung commented on #100047
Let's go with removing the release-blocker label. I was leaning towards saying this is not a blocker yesterday (just a very annoying flake), but I wanted to see if #100785 would help reduce some of the flakiness (but looking at the data in Triage it doesn't seem like it).

That being said, I think Aaron's suggestion to look at how these tests perform on 1.20 was a really good idea, and it looks li

[2021-04-06 22:33] ehashman commented on #53533
Swap KEP draft up at https://github.com/kubernetes/enhancements/pull/2602

Feature tracked at https://github.com/kubernetes/enhancements/issues/2400

Aiming for an alpha MVP for 1.22 release (the upcoming one). PTAL!

[2021-04-06 22:35] perezjasonr opened #100869 "Experimental patches ignores etcd on join phase control-plane-prepare"
#### What happened:

Using kubeadm join phase control-plane-prepare all <join string> --experimental-patches /path/to/dir
adds the patch for everything except etcd

#### What you expected to happen:

I expect the patch to include etcd

#### How to reproduce it (as minimally and precisely as possible):

create a patch file for all 4 manifests that kubeadm generates

do an init with experimental pat

[2021-04-06 22:36] ehashman commented on #53533
(And sorry, I realized I assigned this and left everyone hanging - I've sent out some [emails to the mailing list](https://groups.google.com/g/kubernetes-sig-node/c/I-Mu10XkxSw/m/7EZOBZDkBgAJ) and we have been iterating on a [design doc](https://docs.google.com/document/d/1CZtRtC8W8FwW_VWQLKP9DW_2H-hcLBcH9KBbukie67M/edit#) I used to develop the draft KEP above.)

[2021-04-06 23:26] lavalamp commented on #67610
After investigating this for longer than I care to admit, I think a golang fix is probably the best thing.

Switching to a pointer risks NPE in all existing clients since an existing function call would not cause a compile error.

Implementing Marshaler in the enclosing object doesn't help people using alternative json encoders, and is extremely inconvenient. It might add an unacceptable slow down

[2021-04-06 23:30] liggitt commented on #67610
When I tried that, it broke the stdlib json encoder as well because ObjectMeta is inlined everywhere, so it made the top-level object implement json.Marshaler and just encode metadata.

[2021-04-06 23:38] lavalamp commented on #67610
Yeah, that sounds like another bug, for which a fix could change behavior for a bunch of existing uses. :(

[2021-04-06 23:48] scottilee commented on #100843
Okay, that works!

[2021-04-06 23:48] #100843 closed

[2021-04-07 00:03] aramase opened #100870 "Enable dual-stack tests on windows"
Currently the dual-stack tests are marked `LinuxOnly`: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/dual_stack.go

We should be able to enable some of these tests for windows too as a first step for setting up windows dual-stack periodic jobs.

/assign
/cc @aojea

/sig network
/sig testing

[2021-04-07 00:37] jsturtevant commented on #100870
This will require Windows Server 2004+ (10.0.19041+)

[2021-04-07 00:38] jsturtevant commented on #98574
This occurred again here: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1379422765500600320

[2021-04-07 00:40] aramase commented on #100870
Thanks, James! Adding the doc here for reference: https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#ipv4-ipv6-dual-stack

[2021-04-07 01:25] chenyw1990 commented on #100745
@wojtek-t thank you so much, i think this enhancement can fix this issue.
@jpbetz I think that the PR #94364 can fix this issue, I will merge it to our branch, and test again, wait my new report.

[2021-04-07 01:30] neolit123 commented on #100869
hi,

kubeadm join creates a manifest file as part of the phase `control-plane-join`, not the `control-plane-prepare` phase:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/phases/join/controlplanejoin.go#L150
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/

something else to note is that kubeadm init/join process can be broken down into phases comple

[2021-04-07 01:30] #100869 closed

[2021-04-07 01:32] neolit123 commented on #100869
this seems accurate to me:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/phases/join/controlplanejoin.go#L46-L47

the patches only matter for the etcd sub-command/phase that generates the etcd manfiest.

[2021-04-07 01:40] neolit123 commented on #100869
/sig cluster-lifecycle

[2021-04-07 02:02] wilsonehusin commented on #98232
## `TopologyAwareHints` feature falls back to default behavior

The feature gate currently falls back to the default behavior in most cases. Enabling the feature gate will add hints to `EndpointSlices`, but functional difference only takes place on non-dual stack kube-proxy implementation. [The fix will be available in coming releases](https://github.com/kubernetes/kubernetes/pull/100804).

------

[2021-04-07 02:10] chenyw1990 commented on #100849
before the PR, there is one connection, after the PR, there 3 connections,
there are some  customization capabilities in our product, and we'll have another two connections.
In our kubelet startup parameters, rotate-certificates=false

[2021-04-07 02:13] kishorj commented on #66306
Closing this issue since we will not add new features to the in-tree code.

/close

[2021-04-07 02:13] #66306 closed

[2021-04-07 02:30] palnabarun commented on #100047
Moving it to the next milestone for now as it is not a 1.21 release blocker anymore.

/milestone v1.22

[2021-04-07 03:09] pacoxu commented on #100795
It seems to be related with ENABLE_DNS_HORIZONTAL_AUTOSCALER setting in kops gce cluster.

As we are moving from `kube-dns and autoscaler` to `coredns with node-local-dns`, does this still needed? I think this need a cleanup. Let me check the background.

/assign
/area dns

[2021-04-07 03:16] amarjothi commented on #100719
There is no problem with cni, what i meant was - it should work irrespective of using rpm or kubelet binary. I have found the problem, the kubelet config - on all the other nodes other than node 1, are incorrect. I used kubeadm for bootstrapping, on the first node passed in config file.

[2021-04-07 03:31] amarjothi commented on #100719
there is no problem with the cni - calico nodes are running. What i meant was it should work irrespective of whether it is rpm install or binary install of kubelet. I am checking the kubelet config on the worker nodes.

[2021-04-07 03:42] liggitt commented on #100849
Some increase was expected, since multiple REST clients constructed from a config with a custom dialer cannot safely share a transport, and client-go constructs a REST client for each API group/version accessed. Something like https://github.com/kubernetes/kubernetes/pull/97821 would be required to rework how client-go constructs clients to start sharing REST clients above the transport level betw

[2021-04-07 03:51] amarjothi commented on #100719
there is no problem with the cni - calico nodes are running. What i meant was it should work irrespective of whether it is rpm install or binary install of kubelet. I am checking the kubelet config on the worker nodes. i had used kubeadm for bootstrapping passing in an initial config file, and then kubeadm join.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm

[2021-04-07 03:51] yliaog commented on #100849
do you know where in the code the 5 connections are created? are they all safe to share the transport?

also are the 5 connections all active all the time? if not, IdleConnTimeout should cause the connection to be closed.

[2021-04-07 04:17] feiskyer commented on #100855
Thanks for reporting the issue. It should be a bug inside cloud provider.

/triage accepted

[2021-04-07 04:27] voutcn opened #100871 "Admission webhook metrics improvement"
#### What would you like to be added:

- Add a `namespace` label to admission webhook related [metrics](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics.go#L125-L157)
- Extend the max value of the webhook latency histogram buckets metrics to 10s

#### Why is this needed:
Bad admission webhooks can reject/timeout/fail critical requests

[2021-04-07 04:27] voutcn commented on #100871
/cc logicalhan

[2021-04-07 04:29] voutcn commented on #100871
/sig api-machinery

[2021-04-07 05:09] chenyw1990 commented on #100849
I test the code on master branch, if I change rotateCertificates to false, there are 6 connections between kubelet and kube-apiserver

![image](https://user-images.githubusercontent.com/1468240/113813430-76e2c000-97a2-11eb-9307-651b0d17f852.png)

![image](https://user-images.githubusercontent.com/1468240/113813300-384d0580-97a2-11eb-91e1-c0a3236add41.png)

[2021-04-07 05:18] chenyw1990 commented on #100849
transport will share when config.Transport not nil
https://github.com/kubernetes/kubernetes/blob/b0abe89ae259d5e891887414cb0e5f81c969c697/staging/src/k8s.io/client-go/transport/transport.go#L46

if rotateCertificates  is true, config.Transport will set in kubeletcertificate.UpdateTransport
https://github.com/kubernetes/kubernetes/blob/b0abe89ae259d5e891887414cb0e5f81c969c697/cmd/kubelet/app/server

[2021-04-07 05:19] zorro786 commented on #96752
@mborsz I am interested to increase deletion rate too, trying to understand your issue here. Does it mean with default settings at controller manager (--kube-api-qps=30), in one second only max 15 pods will go from RUNNING->TERMINATED? Or is this rate about after TERMINATED to removal from API Server?

[2021-04-07 05:51] violuke commented on #47202
We're considering using Argo instead which looks like it may be pretty much a drop in replacement with time zone support.

https://argoproj.github.io/

https://github.com/argoproj/argo-workflows/blob/master/docs/cron-workflows.md

[2021-04-07 06:01] wzshiming commented on #100328
@mmerrill3
Currently waiting for the upstream dependency to release a new version. all versions should have the same error. Maybe you can upgrade godbus to v5.0.4 separately

[2021-04-07 06:24] BenS-Move commented on #99605
@adtac Hello, I am a first-year graduate student from East China Normal University in China. I am very interested in this project, and I'm familiar with the implementation process for this project，because I have been involved in the implementation of a similar website [play.golang.org](https://play.golang.org/). The online learning  website where I am involved in  is [kfcoding.com](http://kfcoding

[2021-04-07 06:55] mborsz commented on #96752
In that case, only 15 pods will be marked to be deleted (by setting deletetionTimestamp != 0; pod phase will not change IIUCC). Then kubelets will remove objects from API server, once they terminate the process running on the node.

[2021-04-07 07:02] zorro786 commented on #96752
I see okay, I was interested to increase the rate at which pod status changes from RUNNING -> TERMINATED after deletion. If I delete say 1000 pods at once, their state changes from RUNNING -> TERMINATED in small batches.

[2021-04-07 07:04] logici commented on #100166
I get the same problem as well. In my case, I have three nodes in my cluster. two nodes in the cluster are NotReady frequently except the leader.
kubernetes version: 1.19
os: ubuntu20.04
Network plugin and version: 3.13.2
runtime: containerd
I created a Kubernetes using with microk8s.

There are prometheus alerts.
![alert](https://user-images.githubusercontent.com/34180157/113821726-1017d380-97af-

[2021-04-07 07:22] zhousam commented on #97110
is this PR the final solution to CVE-2020-8554？Do we have plans to imple the second path "Attempt to redesign the external IP feature, deprecate the old behavior, and manage the migration to the new feature" in future version of kubernetes?

[2021-04-07 07:29] clh-cod commented on #100166
This problem I have in a production environment.
Finally, the reason is that another machine has the same IP.

[2021-04-07 07:39] logici commented on #100166
thanks, @clh-cod. I have checked the ip of nodes just now. But it does not fit my case.

[2021-04-07 08:01] aojea commented on #100870
wow, impressive, didn't know that this was possible :clap:

[2021-04-07 08:23] masap opened #100880 "kube-proxy userspace mode doesn't support endpointslices"
#### What happened:
The service name resolution does not work.
[code]

And then, ```kube-proxy``` outputs following logs.
[code]

#### What you expected to happen:
[code]
#### How to reproduce it (as minimally and precisely as possible):
Specify userspace mode to ```kube-proxy``` config file.
[code]

#### Anything else we need to know?:
It can be solved by specifying a feature gate ```EndpointSlic

[2021-04-07 08:24] masap commented on #100880
/sig network

[2021-04-07 08:47] #100166 closed

[2021-04-07 09:23] nielsbasjes commented on #94301
As far as I understand right now:
-  #97083 should address `exec` and `portforward` issues.
-  #95981 should address `logs -f` in HTTP/2 (SPDY) situations.

@djzager / @vinayvenkat / @Nit123 Does that mean this issue has been fully resolved (i.e. can be closed)?
Or is there something remaining?

[2021-04-07 09:32] shcherbak commented on #92460
the same issue in 1.19.7

[2021-04-07 10:09] rafis commented on #74848
/reopen

[2021-04-07 10:19] pacoxu commented on #100795
As https://github.com/kubernetes/kops/commit/2844abd2255fbc91df4ad17a8a5922084cc4a7f8#diff-2983fab4084c9924c5b2b08ee707eb513c749db933e7b3481b8a746ddf033875, kops gke will migrate to coredns after 1.20.

So we should skip it.

[2021-04-07 10:29] pacoxu commented on #100795
Should we remove # Should keep target in cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml and ENABLE_DNS_HORIZONTAL_AUTOSCALER related scripts ?

[2021-04-07 10:45] marseel commented on #97071
/remove-lifecycle stale
We have new run that failed again with similar errors:
[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Inline-volume (xfs)][Slow] volumes should store data
[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Pre-provisioned PV (xfs)][Slow] volumes should store data

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctne

[2021-04-07 10:59] marseel commented on #93932
FTR it's still failing: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1379041394391257088

[2021-04-07 11:02] marseel commented on #100331
Related issue: https://github.com/kubernetes/kubernetes/issues/97071
These errors still appear in our tests:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1379403890172104704
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1379041394391257088

[2021-04-07 11:36] KeithTt commented on #47520
I have tried all the answers in this issue but do not help.

Finally, I update the python3.6.3 to python3.6.8, then it works.

Hope this info helps someone...

[2021-04-07 12:14] rikatz commented on #100434
About the ping, the behavior is right: this is because while iptables mode adds a NAT rule for a specific serviceip:port, in IPVS mode to work proper kube-proxy adds the service IP to a network interface (kube-ipvs0, usually). You can see that with an `ip a` on any node. So because the IP address properly exists, it's reachable and you can ping when using ipvs mode.

I don't have an env to test yo

[2021-04-07 12:18] perezjasonr commented on #100869
thank you for the explanation. I would have rather not done phases manually but due to project requirements (namely, not being able to assign folder permissions for dirs that kubeadm manages) we had to do it atomically. Although I haven't tried skip phases.

I guess it makes more sense now that you've explained it but I still don't understand which join command is supposed to do in the end if the

[2021-04-07 13:50] neolit123 commented on #100869
this is an interesting use case. can you explain the folder permissions problem in more detail with examples?

you can try to pass patches to the whole `control-plane-prepare all`, but break down the `control-plane-join` into its sub-phases and pass the patches only to the `etcd` sub-phase.

[code]

i agree that the lack of consistency is misleading here.
i've logged an issue for that and we can d

[2021-04-07 14:02] perezjasonr commented on #100869
absolutely!
if youre familiar with platform One, the control plane components do not run as root. they run as 1000 or 1001 etc...

so obviously as you said its a strange use case and certainly out of the norm, but kubeadm doesn't accommodate this, naturally the components crash since they cannot read the certs and such owned by root per kubeadm. What I ended up doing is atomically breaking down th

[2021-04-07 14:08] neolit123 commented on #100869
i don't see how we can make the kubeadm process to stop requiring root, since it has to execute `systemctl ...` to start the kubelet.
but for the overall folder permissions problem this might be interesting to you:
https://github.com/kubernetes/enhancements/labels/sig%2Fcluster-lifecycle

please give your comments if you have any.

there might other complexities that we are completely unaware of.

[2021-04-07 14:17] perezjasonr commented on #100869
sorry to clarify, kubeadm itself is run as root, its the control plane components that do not so we go in (again as root) and manually modify perms of the folders kubeadm creates/managers etc...youre right theres no way to not run kubeadm as root because of systemctl and such this was just for containers kubelet spins up.

ok lemme check it out.

yes and indeed i do expect to deal with the selinux

[2021-04-07 15:12] howardjohn opened #100888 "Add support for full URL semantics (query params, etc) in webhook URL"
#### What would you like to be added:

Support all/more valid URL is webhook URLs. Currently, query params are rejected.

#### Why is this needed:

This is needed to pass information to the webhook server. Because of this limitation, we are required to do gross hacks. We (Istio) originally allowed `webhook.example.com/k1/v1/k2/v2/k3/v3` to pass arbitrary kv pairs. We then found users wanted to pas

[2021-04-07 15:45] neolit123 commented on #100870
/kind feature
/area test

[2021-04-07 15:53] rdxmb commented on #97288
Is there an actual solution or workaround to get along with this?

I have the same problem with nodes running `v.1.20.5`

[2021-04-07 16:07] dashpole commented on #100871
/triage accepted

This was discussed at the last sig meeting

[2021-04-07 16:08] ehashman commented on #100405
/triage accepted

[2021-04-07 16:15] ehashman commented on #100748
/triage accepted

[2021-04-07 16:47] damemi commented on #92143
/remove-lifecycle stale

[2021-04-07 16:52] thejoycekung opened #100889 "[Flaky Test] Networking Granular Checks: Services should function for pod-Service(hostNetwork): udp"
#### Which jobs are flaking:
ci-kubernetes-e2e-gce-cos-k8sbeta-default

#### Which test(s) are flaking:
Networking Granular Checks: Services should function for pod-Service(hostNetwork): udp

#### Testgrid link:
https://testgrid.k8s.io/sig-release-1.21-blocking#gce-cos-k8sbeta-default

#### Reason for failure:
[code]

#### Anything else we need to know:
Looks like this test got less flaky over the

[2021-04-07 16:53] palnabarun commented on #93740
/milestone v1.21

(marking in the current milestone until we get confirmation whether it is relevant to the release or not)

[2021-04-07 16:53] palnabarun commented on #93740
Slack Discussion Thread: https://kubernetes.slack.com/archives/CN0K3TE2C/p1617806625036800

[2021-04-07 16:55] thejoycekung opened #100890 "[Flaky Test] Networking Granular Checks: Services should function for service endpoints using hostNetwork"
#### Which jobs are flaking:
ci-kubernetes-e2e-gce-cos-k8sbeta-default

#### Which test(s) are flaking:
Networking Granular Checks: Services should function for service endpoints using hostNetwork

#### Testgrid link:
https://testgrid.k8s.io/sig-release-1.21-blocking#gce-cos-k8sbeta-default

#### Reason for failure:
[code]

#### Anything else we need to know:
Triage looks like it's mostly flaking

[2021-04-07 16:55] thejoycekung commented on #100889
/sig network

[2021-04-07 16:57] palnabarun commented on #100889
/milestone v1.21

(marking in the current milestone until we get confirmation whether it is relevant to the release or not)

[2021-04-07 16:58] palnabarun commented on #100890
/milestone v1.21

(marking in the current milestone until we get confirmation whether it is relevant to the release or not)

[2021-04-07 16:58] palnabarun commented on #100889
Slack Thread: https://kubernetes.slack.com/archives/CN0K3TE2C/p1617806533035800

[2021-04-07 16:58] palnabarun commented on #100890
Slack Thread: https://kubernetes.slack.com/archives/CN0K3TE2C/p1617806533035800