[2017-07-27 18:52] caesarxuchao commented on #49733
It looks like we need to pass around the versioned objects in the admission chain.

[2017-07-27 18:52] caesarxuchao commented on #49038
Created https://github.com/kubernetes/kubernetes/issues/49733.

[2017-07-27 18:54] janetkuo opened #49734 "Cross-group conversions should be tested in roundtrip test"
From https://github.com/kubernetes/kubernetes/pull/49454#discussion_r129645760:

@kubernetes/sig-api-machinery-bugs @caesarxuchao @sttts @deads2k @lavalamp

[2017-07-27 18:56] mageshmcc commented on #43805
I am facing the same issue on Ubuntu 16.04.2, pls let me know, if there are any workarounds

# cat /etc/issue
Ubuntu 16.04.2 LTS \n \l

# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.2", GitCommit:"922a86cfcd65915a9b2f69f3f193b8907d741d9c", GitTreeState:"clean", BuildDate:"2017-07-21T08:08:00Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

#

[2017-07-27 19:03] caesarxuchao opened #49737 "Update client-gen doc"
https://github.com/kubernetes/community/blob/master/contributors/devel/generating-clientset.md is out dated, especially after https://github.com/kubernetes/kubernetes/pull/49192 unified the tags used by client-gen.

[2017-07-27 19:03] janetkuo opened #49738 "Deployment is missing from apps/v1beta generated conversion code"
https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.2/pkg/apis/apps/v1beta1/zz_generated.conversion.go does not have Deployments

This can be fixed by adding the following line to https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.2/pkg/apis/apps/v1beta1/doc.go
[code]
I didn't find this comment documented anywhere, though.

This means that Deployment conversion has not worked correc

[2017-07-27 19:03] caesarxuchao commented on #49737
@mfojtik could you help?

[2017-07-27 19:05] krzyzacy commented on #49704
So this should be back to normal for the next run. However Prow is affected by the Jenkins outage so next ci job might take a while to run. I'll watch this.

[2017-07-27 19:30] mtanino commented on #48609
@whitecolor @jsafrane
Since the document have been updated, I think we can close this issue. Thanks.

[2017-07-27 19:30] smarterclayton opened #49740 "Readiness check fails with `http2: no cached connection was available` which is not a server problem"
[code]

This is a bug on the client side, not the server, and should *not* be reported as a failed health check.

[2017-07-27 19:55] krzyzacy commented on #49672
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48905/pull-kubernetes-e2e-gce-etcd3/43357 latest run looks good, but there's a giant queue in now.

[2017-07-27 20:09] #31550 closed

[2017-07-27 20:13] hongchaodeng opened #49745 "Kubernetes watch events are out of order"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

/kind bug

**What happened**:

I create CRD and two custom resources. Then watch it from "0". The two events are out of order:

[code]
The object with larger resource version is delivered before the one with smaller version.
For more context, I create "test" object before "test2".

**What you expected to happen**:
Events should be delivere

[2017-07-27 20:13] caesarxuchao commented on #49718
/sub

[2017-07-27 20:13] smarterclayton opened #49746 "etcd3 storage has no instrumentation, grpc client metrics aren't any good either"
In etcd2 we tracked latency, count per resource, and a few other options.  etcd3 storage has none of this instrumentation.  We could use the gRPC metrics, but they don't provide useful info (this is from adding the default indicators, and as you can see tell us nothing):

[code]

We can't add key level logging to the client, because we'd blow up on high cardinality metrics.  Instead, I think we sh

[2017-07-27 20:13] smarterclayton commented on #49746
I think this is required for any serious cluster debugging.

[2017-07-27 20:17] janetkuo commented on #49672
@krzyzacy is this fixed? Can we close this issue?

[2017-07-27 20:17] ravisantoshgudimetla commented on #49723
/cc @jayunit100

[2017-07-27 20:21] krzyzacy commented on #49672
Yeah I think so, I'll close this and keep monitoring sq.

/close

[2017-07-27 20:22] #49672 closed

[2017-07-27 20:49] janetkuo commented on #49734
Can we fix this by changing

[code]

to

[code]
?

[2017-07-27 20:57] dcbw commented on #49686
https://github.com/kubernetes/kubernetes/pull/47250 was already merged to fix #49722, so can this issue be closed as well?

[2017-07-27 20:59] caesarxuchao commented on #49497
cc @cheftako

[2017-07-27 20:59] dcbw commented on #49675
@bowei is it the case that *only* localhost is in resolv.conf in these cases, or that resolv.conf is one of the nameservers?  Honestly I can't think of a great excuse to have 127.0.0.1 in a pod's resolv.conf unless that pod is hostNetwork=true.  Otherwise that allows pods to bypass cluster DNS entirely.

[2017-07-27 21:00] krzyzacy commented on #49704
https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gke-ingress-release-1-7 - ingress is green now, I'll close this. Other jobs are still soaking.

/close

[2017-07-27 21:01] caesarxuchao commented on #49338
cc @jpbetz

[2017-07-27 21:02] lavalamp commented on #49497
I am not sure if adding an export boolean to list options is great-- it might not play well with the content type negotiation (alternative get formats) @smarterclayton is working on.

In regards to the permissions-- LIST is very powerful, don't give it to people and expect them not to be able to see every secret.

[2017-07-27 21:02] caesarxuchao commented on #49391
cc @mbohlool

[2017-07-27 21:03] janetkuo commented on #49734
The above change works locally.
[code]

[2017-07-27 21:05] caesarxuchao commented on #49402
cc @cheftako

[2017-07-27 21:06] uiansol commented on #49612
Today I got the same error but my case is just a little different: My case is run a service in a on-premises cluster exposing it as load balancer. It's requires a cloud provider that doesn't exist in on-premises.

I found the ServiceController.go where it's managed and it's seen to be a easy solution. But is it require a proposal as it's a enhancement?

@FengyunPan I would like to help in a propos

[2017-07-27 21:06] caesarxuchao commented on #49423
cc @jpbetz

[2017-07-27 21:06] bowei commented on #49675
@dcbw -- yes, there was a comment at some point to remove all mentions to 127.0.0.1 and emit errors (i.e. event) if we are left with no nameservers.

[2017-07-27 21:10] caesarxuchao commented on #49424
cc @mbohlool

[2017-07-27 21:15] caesarxuchao commented on #49465
cc @mbohlool

[2017-07-27 21:15] lavalamp commented on #49435
As @supereagle says, we don't recognize a difference between lists and arrays. Maybe it is a distinction about your language? Can you paste a .yaml you got and a .yaml that you expected?

[2017-07-27 21:15] #49435 closed

[2017-07-27 21:16] mbohlool commented on #49465
This look like a problem with old swagger 1.2. We do not aggregate swagger 1.2 spec. When kubectl move to OpenAPI, it should by fix this by design.

[2017-07-27 21:17] caesarxuchao commented on #49472
cc @jpbetz @cheftako

[2017-07-27 21:19] smarterclayton commented on #49497
We should at minimum talk about export parameter plus list before we add
the flag.  Export has some gaps today

On Thu, Jul 27, 2017 at 5:02 PM, Daniel Smith <notifications@github.com>
wrote:

[2017-07-27 21:24] uiansol commented on #36220
I also interested in something like this. I need to be able to create load balancer on-premises without a cloud provider.

@dgonzalez Did you have some progress on this feature? I would like to help in some discussion and maybe a proposal for this feature.

[2017-07-27 21:25] lavalamp commented on #49487
@kargakis the first line there was supposed to be a joke, sorry. :) I know that the actual reason for returning 0 is the % sign means it is not an int.

More seriously: I actually agree with the parsing function that percentages are not ints. Users who want to do this should not use IntOrString. Is there a place in the API that wants to do this?

[2017-07-27 21:27] dcbw commented on #49270
Given this workaorund, can this issue be closed?

[2017-07-27 21:42] sttts commented on #49734
@janetkuo Only works if we don't reuse kind names. It's hard to believe that we don't. But maybe my assumption was too pessimistic and it really works.

I have started to use the registered conversion funcs for this test https://github.com/kubernetes/kubernetes/pull/49748, but this lead me to very strange issues with our global schema. So I am still investigating this.

[2017-07-27 22:12] thockin commented on #49730
I get a google 404 for those URLs.  Are you sure it's not your provider DNS hijacking.

[2017-07-27 22:14] caesarxuchao commented on #47837
Thanks @liggitt. How about this: for non-mutating admission plugins (like PodSecurityPolicy), we make sure they validate PUT request of pods as well; for mutating admission plugins (like quota), in the short term we just keep the affected fields immutable. Will that work?

[2017-07-27 22:28] caesarxuchao commented on #49734
Can we blacklist such kinds if there is any? I expect reuses to be rare.

[2017-07-27 22:32] mwielgus commented on #47837
The main use case that VPA has is to modify pod cpu/memory requests in the initializer.

@caesarxuchao will it work with what you suggests?

[2017-07-27 22:35] sttts commented on #49734
Sure, and it seems we have no such conflicts (for top-level objects) right now. So the blacklist is empty anyway. Wondering about @gmarek's new events API. That might be a first example.

[2017-07-27 22:41] thockin commented on #49730
We had a wildcard DNS record, for some reason.  I will see if we can delete that - I don't think of anything we're doing with it - it must be a leftover.

[2017-07-27 22:41] alena1108 commented on #49314
@jianglingxia

[code]

there are no specific parameters passed on the scheduler start besides address and cloudconfig

[2017-07-27 22:44] thockin commented on #49730
I removed the wildcard record.  Such name lookups should now give you NXDOMAIN responses.

[2017-07-27 22:46] #49730 closed

[2017-07-27 22:47] Iodun commented on #5607
+1 need for /dev/fuse

[2017-07-27 22:48] caesarxuchao commented on #47837
No, that would require complex changes in the quota admission plugin.

BTW, is there a doc on VPA?

[2017-07-27 22:50] tuannvm commented on #45726
same issue happened with me:

* I use persistent volume for my deployment (deployed via helm) --> deployment successful --> pods was scheduled to node #1 --> the EBS volume was mounted to the same node

* But when pod was rescheduled to node #2, kubernetes didn't know how to `unmount` the volume from the node #1 and mount into node #2 ---> it must be done manually (`manually` detach volume from no

[2017-07-27 23:01] #46195 closed

[2017-07-27 23:11] mwielgus commented on #47837
https://github.com/kubernetes/community/pull/338

[2017-07-27 23:12] mwielgus commented on #47837
cc: @kgrygiel

[2017-07-27 23:16] mwielgus commented on #47837
@caesarxuchao Why can't we simply pass all spec updates to pods via quota admission plugin?

[2017-07-27 23:19] #49679 closed

[2017-07-27 23:22] xiang90 commented on #25055
@caesarxuchao What is the current progress on this issue?

[2017-07-27 23:35] philloooo commented on #43744
same here, would be great if we can support the latest policy

[2017-07-27 23:46] caesarxuchao commented on #25055
GC doesn't propagate the grace period. Is there a new use case?

[2017-07-28 00:00] FengyunPan commented on #49612
Yeah, you can file a pr@uiansol

[2017-07-28 00:00] #49612 closed

[2017-07-28 00:04] #45080 closed

[2017-07-28 00:12] pluttrell opened #49753 "Add support for IPv6 to AWS ELBs"
/kind feature

The Kubernetes does a nice job of providing support for AWS ELBs using IPv4 to back `type=LoadBalancer` Services. Amazon also provides support for IPv6 and both IPv4 & IPv6 by prepending the FQDN for the ELB with `ipv6.` or `dualstack.` respectively. Reference this [aws doc](http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-internet-facing-load-balancers.html).

Thi

[2017-07-28 00:54] dcbw commented on #48923
@ryanlyy what IP addresess do the two containers attached to cni0 have, and what IP address does the cni0 bridge have?  Can the containers ping the bridge IP?

[2017-07-28 01:15] k82cn commented on #49691
I will not reject RC by ResourceQuota in this case; but when RC try to create pod, it will be rejected. If you want to get some info, try `kubectl get rc`.

[2017-07-28 01:17] k82cn commented on #49701
/sig apps

[2017-07-28 01:29] dixudx commented on #49734
/cc

[2017-07-28 01:35] inetkiller commented on #49701
/area apiserver
/area controller-manager

[2017-07-28 01:38] inetkiller commented on #49701
/kind bug

[2017-07-28 01:55] CaoShuFeng commented on #48787
@luxas Here "other ways" means I have other ways to contribute my idea to community?

[2017-07-28 02:08] smarterclayton commented on #47837
Can someone do a review of the implications of mutable pod specs in admission?  Most should have provisions for that, and allowing mutation during initialization is acceptable.

Quota is the odd man out, where we need to determine when to reject:

1. At first mutation over?
2. At the end of initialization and report to user?
3. Whenever an initializer asks for too much (burden on initializer)?
4.

[2017-07-28 02:28] jianglingxia commented on #49432
@dims cinder also monopoly， if the first pod instance mounts the cinder, the cloud hard disk that the cinder represents is exclusive to the node (only the other pod copies of the pod on the same a nodes can be mounted)，Can you help me solve this problem?thanks

[2017-07-28 02:35] caesarxuchao commented on #48893
Controllers should not retry immediately if CREATE fails due to initialization timeout. This part is not controversial. I'll send a PR.

Regarding if we should update existing controllers list/watch uninitialized objects, I think
* We should hide uninitialized controller objects from controllers, e.g., hiding uninitialized replicasets from the replicaset controller.
* We have to expose uninitializ

[2017-07-28 02:41] jianzhangbjz commented on #49691
@k82cn Okay, I see, thanks very much. :)

[2017-07-28 02:41] #49691 closed

[2017-07-28 02:44] #32991 closed

[2017-07-28 03:11] WIZARD-CXY commented on #46984
After doing some homework, I know stats.Summary has two parts: one is machine stat and the other is pod stats.The pod stats provider used for now is kubelet. It calls GetContainerInfoV2 to get pod stats
[code]
I think we can extend this function like below to fullfill "Refactor kubelet to have the flexibility to consume container stats either from cadvisor or from CRI." as yujuhong's need.
[code]

[2017-07-28 03:31] julia-stripe commented on #49314
I posted a patch that i believe fixes this issue at https://github.com/kubernetes/kubernetes/pull/49661 -- for us it's resolved the issue so far, but I'm not very reliably able to reproduce so it's a bit hard to check. @alena1108 could you apply #49661 and see if your validation tests pass?

[2017-07-28 04:08] supereagle opened #49755 "Method names are not correct in comments generated by deepcopy-gen"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[pkg/apis/apps/zz_generated.deepcopy.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/zz_generated.deepcopy.go#L88-L96):
[code]

The method name in comment does not match the real method name.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else w

[2017-07-28 04:09] supereagle commented on #49755
/sig api-machinery

[2017-07-28 04:29] philipn opened #49756 "Zero-downtime upgrades of stateful deployments/statefulsets should be possible"
Currently, does not appear possible to provide zero-downtime updates to stateful Deployments or StatefulSets.

For **StatefulSets**, it looks like most users are deploying third-party stateful applications rather than frequently-updated internal applications.  This could explain the lack of functionality here.  How I imagine this could work is:
   * Something akin to `maxUnavailable: 0` could be p

[2017-07-28 04:45] sajattack commented on #49753
@kubernetes/sig-aws-feature-requests

[2017-07-28 05:16] valentin2105 commented on #1443
Hi !
I'm really interested about IPv6 in k8s bare-metal cluster,

With 1.7.x, I'm able to reach APIserver via IPv6 and to reach kubelet in IPv6 (from managers).

I'm blocked with :

- Expose nodeport in IPv6 (it bind on, but no answer while reach them)
- Got IPv6 in pods network. (using Calico). the most important part.

Any people got solutions for the last two points ?

[2017-07-28 05:54] WanLinghao commented on #49633
@qubusp
It seems I got the same error.
Looks like it can't connect to the service on 10.194.110.4:6443.
By the way,did you boot the kubeadm behind a http proxy or not?
Mine was behind a proxy,I was thinking if it was caused by this.

[2017-07-28 05:56] Phanindra48 commented on #35758
Hi @bprashanth, is there a way to get source ip in k8s cluster (v1.6.x) running in aws. I have raised a similar question in this https://github.com/kubernetes/features/issues/27 but couldn't resolve from the suggestions that I got. Any help/suggestions would be greatly appreciated.

[2017-07-28 06:05] qubusp commented on #49633
@WanLinghao yes, it is behind a proxy and i can not move it - it's on a virtual machine in my home lab.

[2017-07-28 06:10] WanLinghao commented on #49633
@qubusp did you check if any daemon were listening on port 6443?

[2017-07-28 06:11] roffe commented on #36220
I'm gonna Trump this one. -"Good idea doesn't work"

The Type Loadbalancer is well implemeted but requires a cloudprovider.

Instead of trying to make some LB images that you magicly specify and unicorns comes out you should look into creating your own cloud provider which can provide this for you.

[2017-07-28 06:17] qubusp commented on #49633
@WanLinghao it is not listening.

[2017-07-28 06:18] wojtek-t opened #49757 "GPU consistently failing in 1.7 branch"
GPU tests in 1.7 branch started consistently failing:
https://k8s-testgrid.appspot.com/release-1.7-blocking#gke-gpu-1-7

The other ones became flakey recently:
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-gpu-1-7

@vishh - can you please take a look - this will be blocking 1.7.3 patch release?

[2017-07-28 06:18] vaibhavswarnkar commented on #49716
@jianzhangbjz @yastij Do we have a way to use this watch API?

[2017-07-28 06:25] wzhliang commented on #49686
Yes please close this one.

[2017-07-28 06:25] #49686 closed

[2017-07-28 06:26] #48691 closed

[2017-07-28 06:26] thockin commented on #34508
What was the ultimate decision here?  AFAIK, people are still adding beta fields as annotations for 1.8

[2017-07-28 06:28] WanLinghao commented on #49633
@qubusp
ahahaha~
I have solve the problem on my PC.
add
no_proxy=$no_proxy,$YOURIP
on /etc/environment file and reboot your PC.
$YOURIP is the 10.194.110.4 on your PC which the daemon tried to connect to.
You may try. good luck

[2017-07-28 06:39] qubusp commented on #49633
10.194.110.4 is localhost

Best regards/S pozdravem Yakob Yakov +420 774 202 295

On Fri, Jul 28, 2017 at 8:29 AM, WanLinghao <notifications@github.com>
wrote:

[2017-07-28 06:44] WanLinghao commented on #49633
@qubusp
yeah,I know it is localhost.
The daemon try connects to localhost via proxy which cause the error.
At least this is how things goes in my case.

[2017-07-28 07:05] supereagle opened #49760 "Use group clients with explicit version from client-go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Like `clientSet.Core()` in #49535, some other **Deprecated** group clients without version are still used.

**What you expected to happen**:
Replace all **Deprecated** group clients with versioned group clients.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2017-07-28 07:12] k8s-merge-robot opened #49761 "pr:pull-kubernetes-e2e-gce-etcd3 flaked 169 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-etcd3
 Flakes in the past week: **169**
 Consistency: **80.00%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Stage | 110 |
| [sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should provide basic identity | 43 |
| [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] Replic

[2017-07-28 07:25] brancz commented on #49746
Latency metrics actually just have to be enabled for the grpc metrics: https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/master/client_metrics.go#L64-L66

They are only disabled by default as they can potentially produce a lot of metrics, but this seems like a perfect use case to enable them. Now it's just a question of how to do that with the etcdv3 client.

[2017-07-28 07:26] brancz commented on #49746
/cc @xiang90 @heyitsanthony @gyuho

[2017-07-28 07:35] supereagle commented on #49760
/sig api-machinery

[2017-07-28 07:55] madhusudancs commented on #49213
@luxas I can't make it to the meeting tomorrow too.

@irfanurrehman @shashidharatd feel free to go if you can tomorrow.

Sure.

[2017-07-28 08:03] yastij commented on #49753
/cc

[2017-07-28 08:06] jsafrane commented on #48609
/close

[2017-07-28 08:06] jsafrane commented on #48609
/assign

[2017-07-28 08:06] jsafrane commented on #48609
/close

[2017-07-28 08:06] #48609 closed

[2017-07-28 08:11] qubusp commented on #49633
@WanLinghao - it doesn't work

[2017-07-28 08:28] zjj2wry commented on #49701
@inetkiller maybe your deployment set ```revisionHistoryLimit: 10```. can you ```kubectl get deploy``` check this.

[2017-07-28 08:29] ZhangYou0122 commented on #15128
+1

[2017-07-28 08:36] FengyunPan opened #49769 "Url can't parse the providerID of OpenStack instance"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The normal providerID of OpenStack instance is like: openstack:///39d205c2-82ab-4245-bc34-8bf5c3260c33, but OpenStack cloud provider can not get instanceID from ProviderID.
Filter by:
/------------------
/# kubectl get node kube-minion-hkuuhsvxwzpy -o yaml | grep openstack
  providerID: openstack:///39d205c2-82ab-4245-bc34

[2017-07-28 08:59] mfojtik commented on #49737
/assign

@caesarxuchao i'll try write something up later today

[2017-07-28 09:12] #49657 closed

[2017-07-28 09:18] inetkiller commented on #49701
@zjj2wry I change revisionHistoryLimit to 20, problem still exists

[2017-07-28 09:22] FengyunPan commented on #49769
/sig openstack

[2017-07-28 09:24] feiskyer commented on #49757
The Container Engine API is not enabled for project. Maybe there are some settings wrong on the project?

[2017-07-28 09:35] k82cn commented on #42002
If using DaemonSet, we need to enhance DaemonSet to support start only one daemon (scheduler) on a set of nodes (master nodes).

[2017-07-28 09:40] luxas commented on #42002
That's not necessary, the scheduler is active/passive, so it can be deployed as a DS on all master nodes.

[2017-07-28 09:53] xiangpengzhao commented on #49695
/sig cli

[2017-07-28 10:10] #48530 closed

[2017-07-28 10:24] lypht commented on #49730
Thanks, Tim.  It potentially could have been DNS hijacking (noticed it in the United Club lounge in Newark, on their private WIFI).  Granted, that would be a fantastic location for a pineapple.  Glad the wildcard was purged.

[2017-07-28 10:27] fasaxc commented on #48841
I just ran into this while doing rolling update testing of our networking plugin.  Starting the new pod first would confuse our daemon since it only expects one instance.  Is there any mileage in enhancing the kill-first algorithm to pre-pull the new image and maybe pre-prep the new pod but to still do the cutover as kill-then-start.  That could avoid the headaches of temporarily doubling CPU usag

[2017-07-28 10:40] lukaszo commented on #48841
@fasaxc Currently `RollingUpdate` strategy first kills the old pod and then starts a new one.
If we add `MaxSurge` option to the strategy it will be configurable.

[2017-07-28 10:57] noname85 commented on #37518
@ged15  This is still an issue.
Please re-open this issue

[2017-07-28 11:05] RaDiu5 commented on #37518
@ged15 can you reopen a ticket? This is still an issue

[2017-07-28 12:07] devikaturi opened #49775 "."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-28 12:08] #49601 closed

[2017-07-28 12:08] #49122 closed

[2017-07-28 12:15] dgoodwin commented on #49497
@lavalamp @smarterclayton in the current state of the PR I actually reverted the addition of export to ListOptions. The handler layer was already parsing ExportOptions and deciding if it should do a store.Get or an exporter.Export (which implied a store.Get). I split that up, handler now does store.Get or store.List, then if appropriate calls Export on the objects we got back.

[2017-07-28 12:29] tusharbanne commented on #41573
H,
Not sure if this is the right place to ask. But not able to understand how to resolve the error.

MountVolume.SetUp failed for volume "kubernetes.io/configmap/b690cfd1-7386-11e7-b005-080027f96241-config" (spec.Name: "config") pod "b690cfd1-7386-11e7-b005-080027f96241" (UID: "b690cfd1-7386-11e7-b005-080027f96241") with: references non-existent config key.

[2017-07-28 12:34] deads2k opened #49776 "openapi in 1.7 allocates an enormous amount of space from regex"
Starting a large data set (32gb allocated, 4gb resident) in the api server causes about 7.5gb allocations of `regexp.(*bitState).reset`.  The tree for that shows:

[code]

This appears to be due to openapi aggregation.

@lavalamp @mehdy If there is an easy fix in 1.7 it might be worth it.  Otherwise this should be addressed for 1.8.

[2017-07-28 12:40] jianzhangbjz commented on #49723
/cc

[2017-07-28 12:43] jianzhangbjz commented on #49158
/cc

[2017-07-28 12:49] dhananjaysathe opened #49777 "GCP Instance Live Migration and PD"
We use kubernetes/openshift on our nodes.
When the node is live migrated due to compute engine Maintenace we have currently set it to "live-migrate" .

Now every instance has a set of fixed disks (typically store data/metadata that moves and lives with the instance). These disks follow the instance life cycle and get deleted when deleting an instance.
The other is a set of disks managed by the sch

[2017-07-28 12:59] supereagle commented on #49755
@caesarxuchao  Do you know how to generate the `zz_generated.deepcopy.go` files? I'm not sure where is the script for that.

[2017-07-28 13:15] ReSearchITEng commented on #49065
kubeadm 1.7.2 -> issue still there

[2017-07-28 13:25] pires opened #49780 "v1.7.x: kube-proxy crash because of nil pointer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Ran `kube-proxy` 1.7.2 with the same configuration as previously working v1.6.7 and it crashed:
[code]

**What you expected to happen**:

`kube-proxy` works as in version 1.6.7.

**How to reproduce it (as minimally and precisely as possible)**:

The command line is show in the first line of the log above.

**Anything else we need t

[2017-07-28 13:27] fasaxc commented on #48841
@lukaszo Yeah, I understand what was being proposed in this issue.  I was wondering if the kill-then-start mode can be improved to reduce the downtime.  (Start-then-kill requires apps to be updated to support running multiple instances in the transition period and it sounds like there are problems to be overcome in quota/scheduling.)

[2017-07-28 13:29] pires commented on #49780
/sig @kubernetes/sig-network-bugs

[2017-07-28 13:33] ncdc commented on #49780
This was recently fixed by #49137 in master.

[2017-07-28 13:34] wanghaoran1988 commented on #49492
@aveshagarwal I am not clear about the problem, why the topologyKey is empty? I see the key have values:
`"topologyKey": "failure-domain.beta.kubernetes.io/zone"`

Could you give me some pointers?

[2017-07-28 13:37] bbeaudreault commented on #47800
I think this is a concurrency issue. I've not been able to reliably reproduce it but anecdotally have noticed that the logging is much less stable when multiple people are tailing at once. I can tail logs off-hours when no one is around and it will be fine for hours without this error.

But during the work day when multiple people are tailing the same log we all will all see the error quite regula

[2017-07-28 13:37] pires commented on #49780
Thank you @ncdc. Raising awareness to get this backported to 1.7.

[2017-07-28 13:43] aveshagarwal commented on #49492
@wanghaoran1988  my guess is that they might have updated topology key to something (so that its not empty now) during upgrade to 1.7.
The issue is that if the topology key is empty in 1.6 for pod anti affinity PreferredDuringSchedulingIgnoredDuringExecution, and then its upgraded to 1.7, it would fail because now 1.7, incorrectly, it requires the topology key to be not empty  for pod anti affinit

[2017-07-28 13:55] humblec commented on #49335
/assign @humblec

[2017-07-28 14:08] M0nsieurChat commented on #29972
Hi,

I've got the exact same issue with a Deployment and a initContainer exiting correctly.

[code]

Regards,

[2017-07-28 14:09] smarterclayton commented on #49776
This is all API server startup - for small clusters it's about 20-60% of startup time

[2017-07-28 14:16] wanghaoran1988 commented on #42001
// @mdshuai

[2017-07-28 14:22] #43757 closed

[2017-07-28 14:22] #49660 closed

[2017-07-28 14:22] #45615 closed

[2017-07-28 14:28] ravisantoshgudimetla commented on #49723
/cc @gmarek @sjug

[2017-07-28 14:34] wanghaoran1988 commented on #49492
@aveshagarwal Thanks, that make sense !

[2017-07-28 14:37] andor44 commented on #49492
@wanghaoran1988 @aveshagarwal no, it was not updated, it was set incorrectly. `topologyKey` needs to be under another object `podAffinityTerm`, but it was one level up. Since before 1.7 it was not mandatory it was silently ignored. We updated to 1.7 which made it mandatory, hence the failure.

[2017-07-28 14:54] mdaniel commented on #47800
In my case, I doubt that it is multiple people tailing simultaneously, but I will try to remember to start several `kubectl logs -f` and see if that impacts things

I experience it pretty regularly, but I haven't tried reproducing it in any self-contained system -- there are so many variables to consider :(

@bbeaudreault do you also experience that log lines are intermixed with other Pod's output

[2017-07-28 14:56] wanghaoran1988 commented on #49432
@jianglingxia I suggest you using different pv for the pods,  per pv per pods, if you are deploy mysql, try statefulSet instead of deployment.

[2017-07-28 14:58] wanghaoran1988 commented on #49440
Close, feel free to reopen if you have other concerns.

[2017-07-28 15:00] andor44 commented on #49492
To clarify, `preferredDuringSchedulingIgnoredDuringExecution` should have been:
[code]

but it was:
[code]

Omitting `topologyKey` is no longer permitted in 1.7, therefore the second one became invalid.

[2017-07-28 15:00] wanghaoran1988 commented on #49440
/close

[2017-07-28 15:01] wanghaoran1988 commented on #49440
/assign

[2017-07-28 15:01] wanghaoran1988 commented on #49440
/close

[2017-07-28 15:01] #49440 closed

[2017-07-28 15:08] cblecker commented on #49775
/assign

[2017-07-28 15:08] cblecker commented on #49775
/close

[2017-07-28 15:08] #49775 closed

[2017-07-28 15:11] pmorie opened #49783 "Make it possible to see which items are currently awaiting insert into a rate-limited workqueue"
It would be really useful to be able to make an assertion in a test that a particular item was waiting for requeue in a rate-limited workqueue.  This would allow a unit test for a controller method to ensure that the controller had correctly requeued a workitem.

/kind feature
/sig api-machinery

[2017-07-28 15:15] #49669 closed

[2017-07-28 15:15] yastij opened #49784 "DaemonSet should respect node status like mem and disk pressure"
when we decide if node shoud run daemon pod the ds should respect other node status as stated here in [#L1103](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemoncontroller.go#L1103). @lukaszo @kargakis

/assign
/sig apps
/area workload-api/daemonset

[2017-07-28 15:16] yanns commented on #27796
I signed the CLA as documented (with the correct github & email account) and it does not work for this PR: https://github.com/kubernetes/charts/pull/1578

[2017-07-28 15:19] yastij commented on #49753
@pluttrell will submit a PR next week

/assign

[2017-07-28 15:20] xiangpengzhao commented on #49756
/sig apps

[2017-07-28 15:25] bbeaudreault commented on #47800
@mdaniel I've never seen that. We have a few hundred pods, and haven't witnessed it once or seen anyone else complain about it.  But if somehow the streams are being crossed for you, that could also point to a concurrency issue possibly. In your case it may not be multiple readers, but possibly multiple writers. I've not looked at the code though, so just a guess.

[2017-07-28 15:28] timothysc commented on #4548
Closing this as there are a bunch of ecosystem tools that do this now-a-days.

Thank you internetz!!

[2017-07-28 15:28] #4548 closed

[2017-07-28 15:49] lukaszo commented on #49784
cc @davidopp

[2017-07-28 16:08] gjcarneiro commented on #1615
Are you guys sure this is not implemented already?!  Because I am running 5 containers in a single pod, with kubernetes 1.7.2, and `ps ax` shows all the processes running, with process ID 1 being a pause container:
[code]
How to explain this unless shared PID namespaces are already implemented?  Or is it a side-effect of running with docker 17.06?

[2017-07-28 16:09] jingxu97 commented on #34137
I am working on this feature, assign the issue to myself. Will send out a proposal soon.

[2017-07-28 16:12] mikedanese opened #49787 "Allow configuring resync period for CSR approver"
/sig auth

[2017-07-28 16:14] githubvick commented on #49389
Just found out the properties to set from here.

https://github.com/kubernetes/kubernetes/blob/a47614dd1502e84617dfdea7fd1c39d467bb3b97/pkg/cloudprovider/providers/azure/azure.go#L36

Now I'm getting the same error as that as in here https://github.com/Azure/acs-engine/issues/194

Is there a workaround/fix for this in 1.5.2? I'm using centos and there are no rpm>1.5.2 to upgrade for kubernetes,kub

[2017-07-28 16:14] divyenpatel opened #49789 "/hack/cherry_pick_pull.sh fails with Error creating pull request: Unprocessable Entity (HTTP 422)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
$ git pull upstream master
$ ./hack/cherry_pick_pull.sh upstream/release-1.6 49689
+++ Updating remotes...
Fetching upstream
Fetching origin
+++ Creating local branch automated-cherry-pick-of-#49689-upstream-release-1.6-1501258299
Branch automated-cherry-pick-of-#49689-upstream-release-1.6-1501258299 set up to track remot

[2017-07-28 16:16] verb commented on #1615
@gjcarneiro it is implemented and enabled when running docker >= 1.13.1.
That version of docker has not been fully qualified for use with 1.7, but
there's nothing stopping you from using it. Let us know how it works!

On Fri, Jul 28, 2017, 18:09 Gustavo J. A. M. Carneiro <
notifications@github.com> wrote:

[2017-07-28 16:19] jayunit100 commented on #49723
+1

[2017-07-28 16:25] chezbut commented on #44033
Some things need to be a statefulset that aren't really that stateful but need something like an EBS volume attached via PVC. So therefore now we can't autoscale those?

[2017-07-28 16:26] emsearcy commented on #27796
For case-by-case troubleshooting, please email helpdesk@rt.linuxfoundation.org if you haven't already.

[2017-07-28 16:47] ant31 commented on #48841
@fasaxc could you open another issue to discuss your proposition ?

@janetkuo is there a decision about integrating this feature before moving GA?

[2017-07-28 16:47] deads2k commented on #49497
So are you proposing we use the content type negotiation instead of the existing query parameter?

The export parameter already exists.  I could see switching it to an enumerated type and having "true" map to something.  It seems very reasonable to extend it from get to list since "export my deployments" is a natural step from "export my deployment named foo".  Probably more likely even.

[2017-07-28 16:56] ryanj commented on #27796
Due to the CNCF requirement that we use corporate email addresses as our LF recovery email, I've been locked out of my personal LF account.  I've emailed helpdesk and they recommended creating a new LF account.

[2017-07-28 16:57] gyliu513 opened #49792 "Enable generating random ports with host port mapping"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind feature

This is a problem that I found when testing https://github.com/projectcalico/k8s-policy/issues/109 . The problem is that when I use `hostport` mapping feature in calico, I was always need to specify pods `hostPort` as following in `ports` section.

[code]

The problem is that if one node start two such pods, only one pod can b

[2017-07-28 16:57] gyliu513 commented on #49792
/sig network

[2017-07-28 16:57] caesarxuchao commented on #49755
cc @sttts

[2017-07-28 16:58] caesarxuchao commented on #49755
make generated_files

[2017-07-28 17:06] tallclair commented on #48561
Yeah, I wasn't thinking about the blocking use case. I'm OK with keeping `omitStages` for that reason, although I'd be interested in any suggestions to improve on the API...

[2017-07-28 17:09] msau42 commented on #49156
Fixed by #49595
/close

[2017-07-28 17:09] #49156 closed

[2017-07-28 17:09] msau42 commented on #49150
Fixed by #49595
/close

[2017-07-28 17:09] #49150 closed

[2017-07-28 17:23] mdaniel commented on #47800
Thanks for your suggestion, Bryan, as I am able to blow up the kubelet at will now; I get one of these explosions for each kubectl that attaches:

[code]

I'll see if I can get it to explode in a more isolated environment, since it doesn't appear to be related to the pods that are running

[2017-07-28 17:24] msau42 opened #49793 "Cache mounts on the host"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage

**What happened**:
 In #48402 a new mount check was added to handle the case of bind mounts on directories (and not actual mount points).  The new check has to iterate through all the mounts on the system, which could be time-consuming if there are many mounts.  It may be worth looking into caching the mounts to optimize thi

[2017-07-28 17:26] yastij commented on #49784
@davidopp @lukaszo also as stated we should move it to the predicates, are you okay with it ?

[2017-07-28 17:29] msau42 opened #49796 "Update pd.go tests to use gce api instead of gcloud commands"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage

**What happened**:
Offshoot of #49334.  Let's change the tests to use the programmatic API instead of gcloud CLI.

[2017-07-28 17:34] shyamjvs opened #49798 "Daemonset deleted but a pod (scheduled on Unready node) left undeletable forever"
Series of events that happened:
- I started a k8s cluster and it went fine except 2 nodes which never ever successfully started (failed to start docker daemon due to some image layer corrupted)
- Created a namespace and started a daemonset in that namespace
- All except the 2 pods which were scheduled on the unready nodes ran successfully. Those 2 pods were shown with status 'unknown' (as expected

[2017-07-28 17:39] alena1108 commented on #49314
@julia-stripe thanks!! We will be able to validate it either today or early next week

[2017-07-28 17:40] sttts commented on #49755
Can we also merge https://github.com/kubernetes/gengo/pull/66 when we are at it? @thockin ptal. It's rebased.

[2017-07-28 17:41] shyamjvs commented on #49798
Also, why did the ds-controller schedule a pod on a node which never ever reported it's status (not one that started well but later got unready)?
Here's how that node's conditions looked like:

[code]

[2017-07-28 17:43] jingxu97 commented on #49432
@jianglingxia, if you don't have any restrictions on your pod spec, the scheduler would assign the pod to different nodes since it does not consider whether the pods are using the same volume or not. But one thing you can try is to use node affinity https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
In this way, you can assign different pods to the same node. Hope it helps and plea

[2017-07-28 17:51] ironcladlou opened #49801 "Add CRD garbage collector tests to cover aggregated API servers"
With the introduction of [CRD support in the garbage collector](https://github.com/kubernetes/kubernetes/pull/47665), we decided to open this followup issue to introduce expanded test coverage to verify GC works with custom resources backed by aggregated API servers.

/kind feature
@kubernetes/sig-api-machinery-feature-requests

[2017-07-28 17:53] shyamjvs commented on #49798
Interesting parts of the pod object:

[code]

[2017-07-28 17:53] smarterclayton commented on #48893
From a refactor perspective, a consumer of shared informer has to opt in.
We've talked about having a way to add filters more easily, so it's
possible that we want to add a utility that makes it even easier.  I'll
take a quick look at that on monday.

On Thu, Jul 27, 2017 at 10:35 PM, Chao Xu <notifications@github.com> wrote:

[2017-07-28 17:56] caesarxuchao commented on #49801
I know @cheftako is working on a e2e test for aggregated apiserver, it might be easier if we piggyback our test on top of it.

Setting up an integration test with aggregated apiserver seems too much work at the moment.

[2017-07-28 17:56] xiang90 commented on #49746
@brancz

see https://godoc.org/github.com/coreos/etcd/clientv3#example-Client--Metrics

[2017-07-28 17:57] caesarxuchao commented on #48893
@smarterclayton is anything i can do for the the shared informer refactoring? Is there an on-going discussion or shall I start my own investigation?

[2017-07-28 17:59] cmluciano commented on #49792
@kubernetes/sig-network-feature-requests

[2017-07-28 18:00] MrHohn commented on #48600
@jimmycuadra I'm terribly sorry for the production issue you encountered.

I'm cherrypicking #49799 and also patching in the release note for kube-proxy we should have published with the initial 1.7 release. Hopefully that could prevent more users being hurt by this and make the potential transition easier.

[2017-07-28 18:02] roberthbailey commented on #48282
@kubernetes/sig-cluster-lifecycle-bugs

[2017-07-28 18:05] mikedanese commented on #48282
kubeadm join returning `x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error"` is unrelated to this bug. They just coincidentally return the same error message. Please file a new bug in github.com/kubernetes/kubeadm if you are still seeing this.

[2017-07-28 18:06] caseydavenport commented on #49792
This is a bit of complexity I'd like to avoid in the Kubernetes API if possible, but need to understand the use-case a bit better to understand if it is.

@gyliu513 is there a reason you need each pod to be using a `nodeIP:hostPort` for your use case rather than `podIP:port` or `nodeIP:nodePort`?

[2017-07-28 18:06] cmluciano commented on #49780
https://github.com/kubernetes/kubernetes/issues/49781

[2017-07-28 18:08] Shashwatsh opened #49804 "kubectl: No resources found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
i started a simple nginx pod and it doesn't show on kubectl get pods
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
[code]

[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration*

[2017-07-28 18:11] Shashwatsh commented on #49804
/sig bug

[2017-07-28 18:12] nbutton23 commented on #49445
PR https://github.com/kubernetes/kubernetes/pull/49805 may help with this. . .

[2017-07-28 18:18] mbohlool commented on #49776
Most of those are `gnostic` that is the library we used to convert our spec to proto.  @timburks Do you have any idea how we can get a better space complexity here?

[2017-07-28 18:39] Caldas commented on #49065
Indeed I'm using **kubeadm 1.7.2** and issue is still there

[2017-07-28 18:50] #47728 closed

[2017-07-28 18:50] r7vme commented on #48866
We are having similar problem with `device or resource busy`. For me most suspicious is message that `ContainerDied`, while docker still waiting for container shut down. Looks like docker can not properly shutdown container. Does kubelet rely on docker in unmounting volumes?

docker log
[code]
kubelet logs
[code]

Versions:
kubelet 1.6.4
docker 1.11.2

[2017-07-28 18:51] nikhita opened #49811 "api-reference docs don't contain types from staging repos"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

The 1.7 api reference docs at https://kubernetes.io/docs/api-reference/v1.7/ don't contain types from groups present in staging (like `apiextensions` - https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apiextensions-apiserver).

**What you expected to happen**:

Types from groups in staging repos s

[2017-07-28 19:29] rrati opened #49813 "AWS error messages printed on 2 lines"
/kind bug

**What happened**:
#47789 didn't completely solve the problem.  AWS error messages are formed with a \n in them, but are still printed with %v so they are interpreted.  The result is:

E0705 01:58:36.269603   16962 nestedpendingoperations.go:262] Operation for <vol> failed. No retries permitted until 2017-07-05 01:58:36.769575117 -0400 EDT (durationBeforeRetry 500ms). Error: Failed to a

[2017-07-28 19:44] gjcarneiro commented on #1615
Ah, thanks for the update!  Shouldn't this bug be closed then?...  Is it because docker 1.13.1 is also not fully qualified for use with 1.7 yet?
I'm using Docker 17.06 with Kubernetes 1.7.2, but it's only on my development desktop, not in production.  Still, working great so far...

[2017-07-28 19:52] verb commented on #1615
Yes, maybe it should be closed. The issue is also for sharing the UTS
namespace, but I don't think anyone is working on that.

On Fri, Jul 28, 2017, 21:45 Gustavo J. A. M. Carneiro <
notifications@github.com> wrote:

[2017-07-28 19:55] lavalamp commented on #49586
The desired behavior for this is
* If the user passes nothing, it defaults to `true`
* if the user passes something, it uses what the user passed.

The current state (as I understand it) is defaulting to `false`. This is a bug! We don't have someone to work on this right now though.

[2017-07-28 20:12] isuftin commented on #43800
@kubernetes/sig-cluster-lifecycle-misc

Seeing the same issue:

Vagrantfile:
[code]

[code]

[2017-07-28 20:22] jkinkead opened #49814 "Initializers can't be cleared with a PATCH request"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I configured an [initializer](https://kubernetes.io/docs/admin/extensible-admission-controllers/#initializers) to apply to all new pods & all new jobs.

New pods and jobs end up marked with the initializer. I can retrieve the uninitialized items using the `includeUninitialized` parameter.

My initializer is the only initi

[2017-07-28 20:27] xiangpengzhao commented on #49804
/sig apps

Note that your deployment desires 2 pods but curent is 0. You should check this. What's the `kubectl describe your deployment`?
[code]

[2017-07-28 20:40] caesarxuchao commented on #49038
@smarterclayton @deads2k @lavalamp  is there more context on the mutating webhook? I can work on the design and implementation.

[2017-07-28 20:43] jkinkead commented on #49814
I thisnk this is:
/sig api-machinery

[2017-07-28 20:45] #49580 closed

[2017-07-28 20:56] jimmycuadra commented on #48600
Thanks @MrHohn! I know it's hard to avoid breaking changes in software, especially a project as big and complicated as Kubernetes. To be clear, I place no blame on you or any other individual for the mistake. I do think it would be useful to loop in a project manager for a post mortem, cause I thiink it's important to do a post-mortem on issues like this to see how the process can be improved to d

[2017-07-28 21:05] mkjpryor-stfc opened #49816 "fluentd-elasticsearch addon broken with latest commit"
/kind bug

**What happened**:

After updating the elasticsearch container in the fluentd-elasticsearch addon to use version 5.4.0-1, the following error occurs:

[code]

I believe this is caused by [this line](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-image/run.sh#L17), which was introduced in the latest commit. It appears that this happens becaus

[2017-07-28 21:06] kksriram opened #49817 "Support a Vault based KMS provider for envelope encryption of resources in a cluster"
Resources (not just secrets) in a Kubernetes cluster can be encrypted using an envelope encryption scheme with the DEK being encrypted with a KEK that is managed in Vault.

Add support for using Hashicorp Vault as a KMS provider to manage KEKs.

Would address several concerns discussed in the issues referenced:

*  Reuse Vault already in use in an enterprise to additionall manage KEKs for K8S clus

[2017-07-28 21:15] kksriram commented on #49817
@kubernetes/sig-auth

[2017-07-28 21:16] julianvmodesto commented on #25554
Seems that setting `kubernetes.io/change-cause` works. Could we close this issue?

[2017-07-28 21:18] kksriram commented on #49817
/sig auth

[2017-07-28 21:23] jingxu97 opened #49818 "Support Local Storage as one Quota Resource"
We plan to add local storage in the quota resource management.

For quota resource like CPU and memory, the quota resource and request/limit is one to one mapping. But local storage is different. The scratch space is node-level resource that could be used by both pod level emptyDir volume and/or container's overlay (depending whether there is one root partition or a separate imagefs partition). So

[2017-07-28 21:23] sakshamsharma commented on #49817
Closely related changes, how to integrate KMS: #49742

[2017-07-28 21:24] jingxu97 commented on #49818
cc @k8s-mirror-storage-feature-requests @k8s-mirror-storage-misc @k8s-mirror-storage-proposals

[2017-07-28 21:26] enisoc commented on #44407
After discussing with @erictune we think the next steps for this are:

- [ ] Remove any remaining uses of the annotation in satellite k8s repos.
- [ ] Look for any uses of the annotation in other GitHub repos to see if anyone in the wild has discovered its existence.
- [ ] Email kubernetes-dev@googlegroups.com to explain why we want to deprecate it (controllerRef is more useful because it's up-to-

[2017-07-28 21:44] liyinan926 commented on #44407
/cc

[2017-07-28 21:47] crassirostris commented on #49816
@mkjpryor-stfc Thanks! It's a known problem, we're trying to mitigate it in https://github.com/kubernetes/kubernetes/pull/48722

It's going to be fixed soon

[2017-07-28 21:47] crassirostris commented on #49816
/sig intrumentation

[2017-07-28 22:05] Shashwatsh commented on #49804
it shows
[code]

[2017-07-28 22:12] fejta opened #49819 "Migrate node jobs off centralized jenkins during 1.9 timeframe"
The GKE engprod team will stop supporting sigs running their testing on shared jenkins infrastructure after 1.8

Please migrate your jobs to prow, and/or create and maintain your own jenkins instance:
[code]

@kubernetes/sig-node-bugs @dchen1107 @abgworrall
ref https://github.com/kubernetes/test-infra/issues/3778

[2017-07-28 22:14] krzyzacy commented on #49819
cc @yguo0905 assume you are still interested in adding  `--mode=local` to node scenario?

[2017-07-28 22:18] smarterclayton commented on #49776
I have a PR for that now.

[2017-07-28 22:19] smarterclayton commented on #49776
Fixed in https://github.com/googleapis/gnostic/pull/57

[2017-07-28 22:20] fejta opened #49820 "Migrate scalability jobs to prow and off centralized jenkins before end of 1.9 timeframe"
The GKE engprod team will stop supporting sigs running their testing on shared jenkins infrastructure after 1.8

Please migrate your jobs to prow. If this is infeasible for some reason please let sig-testing know what we need to add to prow and/or plan to create and maintain your own jenkins instance if we cannot come up with a solution kubernetes/test-infra#3778

This impacts the following jobs:

[2017-07-28 22:22] smarterclayton commented on #49776
Event without aggregation, starting and serving OpenAPI docs was a huge chunk of startup time.  The linked change makes it disappear.

[2017-07-28 22:23] xiangpengzhao commented on #49804
also your deployment yaml/json please

[2017-07-28 22:26] rocketraman commented on #48705
Just ran into this problem with Kubernetes 1.6.6 deployed on Azure via ACS-Engine. Obviously, this is a serious issue as it prevents service calls from working.

@brendanburns @colemickens

[2017-07-28 22:28] Shashwatsh commented on #49804
[code]

[2017-07-28 22:32] mbohlool commented on #49776
This should not be related to aggregation at all (as far as I can tell from that tree). Thanks for the fix @smarterclayton

[2017-07-28 22:46] yguo0905 commented on #49819
Yes, I want to trigger those jobs from Prow and move the node e2e test configs from main repo to test-infra so that they can be automatically generated.

[2017-07-28 23:00] jayeshnazre commented on #49411
Thanks @bowei for helping me with this. For others who may end up with this problem, this is what I did in Ubuntu17.04
step-a) I have disabled systemd-resolved (Ubuntu 17.04 does not come with dnsmasq but if you have other Linux versions/distro's which come with dnsmasq, then uninstall dnsmasq).
step-b) I then created a "tail" file for my resolveconf daemon to create the /etc/resolv.conf from at "

[2017-07-28 23:01] #49411 closed

[2017-07-28 23:06] Shashwatsh commented on #49804
Any idea why it's happening?

[2017-07-28 23:24] mkjpryor-stfc commented on #49816
@crassirostris Thanks for the info. The PR looks like a decent approach. I'm pleased to see the addon being modified to use upstream base images, as I was thinking of doing that!

[2017-07-28 23:32] mtanino opened #49822 "Error "Failed to list *v1.Service: services "" is forbidden: User "system:node:127.0.0.1" cannot list services at the cluster scope. ""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After following commit was merged, 'kubectl get node' can't find local node due to following error.
I'm using hack/local-up-cluster.sh for installation tool.

[code]
[code]
[code]

**What you expected to happen**:

Node can be found.

**How to reproduce it (as minimally and precisely as possible)**:
1. hack/local-up-clust

[2017-07-28 23:34] mtanino commented on #49822
/sig node
@liggitt

[2017-07-28 23:35] jingxu97 commented on #48703
The fixed is cherrypicked already. Please let us know if you still see the error after upgrading. Thanks!

[2017-07-28 23:41] dims commented on #25066
The following PR https://github.com/kubernetes/kubernetes/pull/39587 is adding a client side auth provider for kubectl that uses Bearer Tokens based on OS_* env variable options. There's a PoC of the Webhook Keystone implementation here https://github.com/dims/k8s-keystone-auth

[2017-07-29 00:15] xiangpengzhao commented on #49804
seems like ReplicaSet was not created. Can you get anything by `kubectl get rs`?

[2017-07-29 00:24] k82cn commented on #42002
I think it's usually part of master nodes, e.g. 3 scheduler in 5 master nodes, with other add-on, e.g. dashboard.

[2017-07-29 00:38] Shashwatsh commented on #49804
[code]

[2017-07-29 01:01] msau42 opened #49824 "etcd fileutil unit test failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig api-machinery

**What happened**:
pull-kubernetes-bazel job is failing
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49507/pull-kubernetes-bazel/32757/

[code]

**What you expected to happen**:
test should pass

**How to reproduce it (as minimally and precisely as possible)**:
bazel test //third_party/forke

[2017-07-29 01:21] xiangpengzhao commented on #49804
`my-nginx-858393261` should be your the associated rs. But note that all other rs don't have pods, either. Can you get pods by other creating ways, e.g. rc?

[2017-07-29 01:30] Shashwatsh commented on #49804
sorry, i don't get you.

[2017-07-29 01:42] Shashwatsh commented on #49804
[code]

[2017-07-29 02:21] xiangpengzhao commented on #49804
Are there any events in `kubectl describe rc nginx`? I doubt if all of your kube componets are running. Can you check it?

[2017-07-29 02:24] Shashwatsh commented on #49804
```systemctl status  etcd kube-apiserver kube-controller-manager kube-scheduler kubelet docker kube-proxy``` these ones ^^ are running

[2017-07-29 02:24] xiangpengzhao commented on #49804
I once encountered the similar issue when my kube-controller-manager was down.

[2017-07-29 02:25] Shashwatsh commented on #49804
systemctl status kube-controller-manager
● kube-controller-manager.service - Kubernetes Controller Manager
   Loaded: loaded (/usr/lib/systemd/system/kube-controller-manager.service; enabled; vendo
   Active: active (running) since Fri 2017-07-28 23:18:02 UTC; 3h 7min ago
     Docs: https://github.com/GoogleCloudPlatform/kubernetes
 Main PID: 14867 (kube-controller)
    Tasks: 6 (limit: 4915)
   M

[2017-07-29 02:29] xiangpengzhao commented on #49804
Are there any events in `kubectl describe rc nginx`?

[2017-07-29 02:30] Shashwatsh commented on #49804
Error creating: No API token found for service account "default", retry after the token is automatically created and added to the service account

[2017-07-29 02:31] Shashwatsh commented on #49804
[code]

[2017-07-29 02:34] Shashwatsh commented on #49804
@xiangpengzhao Error creating: No API token found for service account "default", retry after the token is automatically created and added to the service account

[2017-07-29 02:34] Shashwatsh commented on #49804
How do I solve it??

[2017-07-29 02:40] xiangpengzhao commented on #49804
no idea yet.

/cc @liggitt

/sig auth

[2017-07-29 02:47] Shashwatsh commented on #49804
i know how to solve this issue on k8s 1.5 but it doesn't work on 1.6.

[2017-07-29 03:52] alok87 commented on #47294
Just to update the thread about our case - we were seeing the same clutering in the logs and our `weave-net` used to restarts in few hours.  This could be related to this issue also - https://github.com/weaveworks/weave/issues/2768

[2017-07-29 03:57] sajattack commented on #49816
/sig instrumentation

[2017-07-29 04:07] liggitt commented on #49814
What patch strategy are you using?

[2017-07-29 04:11] liggitt commented on #49745
The watch events when watching from 0 are synthetic. Sorting the list of objects from the store could be significant… I'm not sure we want to add server side sorting on potentially very large lists

[2017-07-29 04:15] liggitt commented on #49658
Given that different resources can be backed by different storage, or even by different servers, cross resource transaction support seems unlikely

[2017-07-29 04:15] dixudx commented on #49824
/priority failing-test
/area test-infra

[2017-07-29 04:24] hongchaodeng commented on #49745
@liggitt
This is just one example. Even watching from >0 also produce out of order delivery. I guess this is not how watch stream should work, right?
Any suggestion how to fix it or work around it?

[2017-07-29 06:17] jianglingxia commented on #49432
If use statefulset and the pv of rbd then the result different from rc or deployment is other pod maynot created but still scheduled other node and ContainerCreating
`kubectl get po -n rbd -o wide
web-0     1/1       Running             0          4m        172.16.62.5   192.167.0.114
web-1     0/1       ContainerCreating   0          4m        <none>        192.167.0.113`
As @jingxu97  said,if I

[2017-07-29 06:26] jianglingxia commented on #49432
the pod in the case of multiple replicas, can mount different volumes by different replicas ? In the case of RC hanging volumes, multiple replicas are identical instances, so multiple replicas are also the same volume, and it is not possible to take different volumes on different replicas. Did statefulset solve the problem? @jingxu97 thanks

[2017-07-29 07:12] k8s-merge-robot opened #49827 "Failure cluster [c49044...] failed 136 builds, 39 jobs, and 20 tests over 1 days"
### Failure cluster [c49044b7fa3094fa3e5a](https://go.k8s.io/triage#c49044b7fa3094fa3e5a)
##### Error text:
[code]
##### Failure cluster statistics:
20 tests failed,    39 jobs failed,    136 builds failed.
Failure stats cover 1 day time range '28 Jul 2017 06:29 UTC' to '29 Jul 2017 06:29 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] [sig-apps]

[2017-07-29 07:12] k8s-merge-robot opened #49828 "Failure cluster [45a4f0...] failed 127 builds, 18 jobs, and 1 tests over 1 days"
### Failure cluster [45a4f0cb2391a90c0dbe](https://go.k8s.io/triage#45a4f0cb2391a90c0dbe)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    18 jobs failed,    127 builds failed.
Failure stats cover 1 day time range '28 Jul 2017 06:29 UTC' to '29 Jul 2017 06:29 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 18 |

##### To

[2017-07-29 07:25] wanghaoran1988 commented on #49432
You can set a pv template for the statefulset, then each pod will have a pv

[2017-07-29 07:26] k82cn commented on #49784
we are working on tainting node by condition, target is 1.8; so mem and disk presure are covered.

[2017-07-29 07:29] k82cn commented on #49755
i think we need to update gengo in vendor.

[2017-07-29 07:37] supereagle commented on #49755
@k82cn Sure, will update it in the PR #49782.

[2017-07-29 07:40] yastij commented on #49784
@k82cn handing this one to you then

[2017-07-29 07:54] fejta commented on #49824
@kubernetes/sig-testing-test-failures
/assign @ixdy @fejta

[2017-07-29 08:11] jianglingxia commented on #49432
like the yaml that I define ,How to modify it like you said？thanks @wanghaoran1988
[root@jlx-vm:~/test]$ cat web.yaml
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  ports:
  - port: 80
    name: web
  clusterIP: None
  selector:
    app: nginx
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: web
spec:
  serviceName: "nginx"
  replicas: 3

[2017-07-29 08:47] ApsOps commented on #47142
@muxalko The `resolv.conf` file gets updated with cluster "search" values only for pods with `dnsPolicy: ClusterFirst`.

kube-dns pods run with `dnsPolicy: Default`, so they have resolve.conf file similar to the underlying nodes. You should check resolv.conf file and nslookup at other pods. :)

[2017-07-29 09:02] m1093782566 opened #49831 "[Proposal] Paramaterize `stickyMaxAgeMinutes` for service in API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Currently I find `stickyMaxAgeMinutes` for a session affinity type service is hard code to 180min. There is a TODO comment, see

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L205

I think the seesion sticky max time varies from service to service and users may not aware of it since it's hard coded i

[2017-07-29 09:02] m1093782566 commented on #49831
/sig network

[2017-07-29 09:20] ixdy commented on #49824
Something weird going on with the prow environment, because this test passes locally with bazel 0.5.2.

[2017-07-29 09:56] stibi opened #49835 "Pods dead because of Failed to update QoS cgroup"
/kind bug

After some time, usualy once a day, all the pods deployed on a cluster ends up a dead and kubelet logs a lot of error like this:

[code]

I'm not sure if it is related to flanneld, or what went wrong. I have to restart kubelet on all affected nodes and then everything works again for some time.

I have not experienced this problem on k8s 1.5.2, but I can see it on 1.6.7 and 1.7.2.

I do

[2017-07-29 09:58] stibi commented on #49835
@kubernetes/sig-node-bugs

[2017-07-29 10:08] fejta commented on #49824
Since it is late I will preemptively declare MISSION ACCOMPLISHED from my aircraft carrier and 0.4.5 downgrade workaround (#3786).

I'm sure once we figure things out we'll want to revert this job back to 0.5.2 but in the mean time this should unblock things and the queue should resume merging over the weekend.

[2017-07-29 10:14] yevgeniyo commented on #45779
hi, is it possible upgrade just kube-dns?
does 1.14.2 resolved this issue?

[2017-07-29 10:41] jianzhangbjz commented on #49818
/cc

[2017-07-29 12:03] mkjpryor-stfc commented on #49065
Same here. kubernetes/kubeadm 1.7.2 on Ubuntu Xenial still gives this error. Host resolution using /etc/hosts, not DNS server.

[2017-07-29 12:28] #49511 closed

[2017-07-29 13:21] liggitt commented on #49745
*that* is unexpected

[2017-07-29 14:42] prydie opened #49836 "CloudNodeController does not set Node.Spec.ProviderID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

[`CloudNodeController.AddCloudNode()`][1] does not populate `Node.Spec.ProviderID` and as such the field never gets set for clusters deployed with external cloud controller managers.

For in-tree cloud providers `kubelet` sets the properties in [`Kubelet.initialNode()`][2].

**What you expected to happen**:

[`CloudN

[2017-07-29 14:42] prydie commented on #49836
@kubernetes/sig-cluster-lifecycle-proposals

[2017-07-29 15:13] hongchaodeng commented on #49745
This doesn't make any sense.
Let's take this problem as an example:
- object A with version 1, B with version 2
- if out of order, B comes first
- then connection is closed (by apiserver)
- how to re-watch at this moment? Usually it watch at version 2, if so A will never be observed, and it is missing events. So I guess you are also trying to say missing events is _expected_?

[2017-07-29 15:29] wanghaoran1988 commented on #49432
@jianglingxia You can set the volumeClaimTemplates in the spec, and here is an example from openshift repo:
https://github.com/openshift/origin/blob/master/examples/statefulsets/mysql/galera/mysql-galera.yaml#L111

[2017-07-29 15:39] NickrenREN opened #49837 "Script always says: jq not found"
When i ran update-staging-godeps.sh , logs always say that : jq not found,  but i actually have installed jq.

+++ [0729 23:34:56] Verifying Prerequisites....
..............
+++ [0729 23:34:58] Checking whether godeps are restored
  jq not found. Please install.
+++ [0729 23:34:58] Starting to download all kubernetes godeps. This takes a while

/sig testing

[2017-07-29 15:43] wanghaoran1988 commented on #47604
/cc @mdshuai

[2017-07-29 16:01] Shashwatsh opened #49838 "Cannot restart kube-apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
[code]
**What you expected to happen**:
goal is to start kube-apiserver with service account API token
**How to reproduce it (as minimally and precisely as possible)**:
mentioned above

**Anything else we need to know?**:
kubernetes version is 1.6
OS is fedora 26

Linux fedora-1gb-blr1-01.localdomain 4.11.8-300.fc26.x86_

[2017-07-29 16:07] NickrenREN commented on #49837
May because of #46193.  trying cross v1.8.3-2. Will reopen if needed

[2017-07-29 16:07] #49837 closed

[2017-07-29 16:35] bowei commented on #49411
Could you change the title of the bug to "kube-dns does not work due to DNS server lookup loop (/etc/resolv.conf contains 127.0.0.01 as the upstream nameserver)" so the discussion in this issue is discoverable via search engines?

[2017-07-29 16:39] cblecker commented on #49824
I don't know if it's a different issue, but bazel is still failing/flaking all over the place:
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-bazel

[2017-07-29 17:18] vaibhavswarnkar commented on #49716
Is there anyone who knows how to do this?

[2017-07-29 17:36] mkumatag commented on #49838
can you paste the out of those suggested commands : `systemctl  status kube-apiserver.service` and `journalctl  -xe`

[2017-07-29 18:26] roberthbailey commented on #49836
What do you intend for the behavior to be when the cloud controller manager is running and the kubelet is run with the `--cloud-provider=gce|aws|azure` flag? Since we support minor version skew of two versions, we will need to introduce this behavior in a way that is compatible with older kubelets whose flag configuration cannot be updated.

A few options:
1. Only set the field from the cloud cont

[2017-07-29 19:41] prydie commented on #49836
I don't _think_ this is a problem as a node [opts into][1] having [`CloudNodeController.AddCloudNode()`][2] called only when `--cloud-provider=external` is set. Otherwise `AddCloudNode()` will [short circuit and log that the node is not being processed][3].

[1]: https://github.com/kubernetes/kubernetes/blob/02b520f0a40be2056d91fc0661c2b4fdb2694c30/pkg/kubelet/kubelet_node_status.go#L221
[2]: http

[2017-07-29 19:41] Shashwatsh commented on #49838
systemctl status kube-apiserver.service
[code]
journalctl -xe
Jul 29 19:40:12 fedora-1gb-blr1-01.localdomain kube-scheduler[18743]: E0729 19:40:12.104841   18743 reflector.go:201] k8s.io/kuber
Jul 29 19:40:12 fedora-1gb-blr1-01.localdomain audit: NETFILTER_CFG table=nat family=2 entries=40
Jul 29 19:40:12 fedora-1gb-blr1-01.localdomain audit: NETFILTER_CFG table=nat family=2 entries=40
Jul 29 19:4

[2017-07-29 20:37] jkinkead commented on #49814
I'm using the default patch strategy for the Python client, which appears to be [strategic merge patch](https://github.com/kubernetes-incubator/client-python/blob/05d60fc4caa1aee887704b6b70905cb55bccdc8d/kubernetes/client/rest.py#L157-L158).

[2017-07-29 20:50] mindprince commented on #49757
This is passing now. I don't know how the project got into the state of not having it's container engine API enabled.

[2017-07-29 20:50] mindprince commented on #49757
/close

[2017-07-29 20:50] mindprince commented on #49757
/assign

[2017-07-29 20:51] mindprince commented on #49757
/close

[2017-07-29 20:51] #49757 closed

[2017-07-29 20:57] mindprince opened #49839 "GPU e2e jobs have started failing"
Both https://k8s-testgrid.appspot.com/wg-resource-management#gce-gpu and https://k8s-testgrid.appspot.com/wg-resource-management#gke-gpu started failing recently. Their 1.7 counterparts are passing.

The difference between the last passing and the first failing tests is:
https://github.com/kubernetes/kubernetes/compare/72494353c...c25a7e6a7
Probably something in #48846 broke the tests.

/sig sched

[2017-07-29 21:42] dashpole commented on #49839
It looks like there isn't enough cpu on the master to run the cos-nvidia-installer daemonset.  Did we add any addons recently?
`INFO: At 2017-07-25 07:39:30 +0000 UTC - event for cos-nvidia-installer: {daemonset-controller } FailedPlacement: failed to place pod on "bootstrap-e2e-master": Node didn't have enough resource: cpu, requested: 150, used: 950, capacity: 1000`

[2017-07-29 22:08] JustinAzoff commented on #48285
Hi, I ran into this but figured out what was wrong.  The validator is really only evaluating ONE volume specification.  It is trying to prevent you from doing something like

      volumes:
        - name: data
          emptyDir: {}
          persistentVolumeClaim:
            claimName: bro-logs-nfs

In a single volume.  I was getting the error because I was trying to get a specific volume type

[2017-07-29 22:21] dashpole commented on #49839
My previous comment is a red herring.
It is an issue with #48846.  Ill post a fix soon.  From the scheduler logs on the master:
`About to try and schedule pod nvidia-gpu-887ee7e7-710d-11e7-95cc-0a580a3c350d`
`Attempting to schedule pod: e2e-tests-gpus-1v6xm/nvidia-gpu-887ee7e7-710d-11e7-95cc-0a580a3c350d`
`Ignoring node bootstrap-e2e-master since it is unschedulable`
`Ignoring node bootstrap-e2e-m

[2017-07-29 23:40] timburks commented on #49776
Thanks, it's in gnostic master now.

[2017-07-30 00:15] gyliu513 commented on #49792
@caseydavenport , yes, I want to use `nodeIP:hostPort` but not `podIP:port` or `nodeIP:nodePort`.

1) With `podIP:port`, I cannot enable external access cross two different k8s clusters as the `podIP` was only available inside the k8s cluster. Consider the following case: I have two nginx app deployed cross two different k8s clusters and I want to achieve lb across those two clusters. Basically, I

[2017-07-30 01:58] jayeshnazre commented on #49411
Done  @bowei  I also referred to this issue link on following link

https://stackoverflow.com/questions/45246147/kubernetes-kubedns-sidecar-and-masq-crashes-if-i-do-a-nslookup

[2017-07-30 02:05] PengTaoWW commented on #49835
@stibi look like cgroup change make this

[2017-07-30 02:25] k82cn commented on #49784
@yastij , the tasks are traced at https://github.com/kubernetes/kubernetes/issues/42001#issuecomment-315987635 ; that'll be great if you can you help to review current PRs :). And then you can other tasks, e.g. Add toleration to DaemonSet.

[2017-07-30 02:25] #49279 closed

[2017-07-30 02:38] nikhita commented on #49540
I think this issue can be closed now. #47897 has been merged and solves this.

[2017-07-30 02:44] vishh commented on #49839
@dashpole that's a benign error. The daemonset is not expected to run on the master. But there is no easy way to express that request in our APIs.

[2017-07-30 02:46] dashpole commented on #49839
Yes, the pod not scheduling on the master is benign.  The actual error is that we do not report node condition `OutOfDisk`, so it is left as `Unknown`.  The fix is to report that `OutOfDisk` is false.

[2017-07-30 02:49] k82cn commented on #49798
/assign

Let me take some to handle this :).

[2017-07-30 03:15] dixudx opened #49844 "bazel test failed due to "genrule //:save_git_version failed""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/priority failing-test
/area test-infra

**What happened**:

[pull-kubernetes-bazel](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-bazel) job is failing.

See
 * https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48495/pull-kubernetes-bazel/32918/
* https://k8s-gubernator

[2017-07-30 03:16] dixudx commented on #49844
@kubernetes/sig-testing-test-failures
/assign @ixdy @fejta

[2017-07-30 04:58] dhilipkumars opened #49845 "[make verify] Display list of failed tests to the user at the end"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
This prints a list of failed `make verify` tests, very usefull while investigating and fixing `make verify`.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
The linked [PR](#49720) is already being approved. This is a reference is

[2017-07-30 08:01] dorsegal commented on #49270
@dcbw Yes thank you!

[2017-07-30 09:16] yastij commented on #49784
Thanks !

[2017-07-30 10:34] szuecs commented on #26670
@jeb5-ccl You should have a look into the logs of the controller-manager.

[2017-07-30 10:59] xiangpengzhao commented on #49845
/sig contributor-experience

[2017-07-30 11:01] #46021 closed

[2017-07-30 11:34] liust2014 opened #49848 "Docker CE for Windows 10 installed Kubernetes need Docker Toolbox"
/kind problem

I was install docker CE for windows  10 and can use  docker with  command, but after i  installed  kubernetes and use it , it need Docker Toolbox.

Another  computer  have no this problem.

message like this: VirtualBox is not installed. Please install it via the Docker Toolbox.

[2017-07-30 11:41] jujes commented on #49065
Same issue here, using kubernetes/kubeadm 1.7.2 on Ubuntu Xenial.....
@luxas still gives this error, some one how testing testing testing.... it before release????

[2017-07-30 11:47] liust2014 commented on #49848
/sig contributor-experience

[2017-07-30 13:49] Bobi-zhou commented on #18193
@kevinliuzhong Hi，I have the same problem,How did you solve it?

[2017-07-30 14:19] Shashwatsh commented on #49838
Any idea?

[2017-07-30 15:40] mkumatag commented on #49838
I see `journalctl -xe` output is truncated. Can you please redirect the output to some file like `journalctl -xe > failures.txt` and upload to gist and paste the link here!

[2017-07-30 17:05] jbeda commented on #40968
Hoisting comment from https://github.com/kubernetes/kubernetes/pull/45466#issuecomment-300534988 here.

I 100% agree that this is worth fixing and is a hole.  Some constraints:

* It should be under `kubectl config` as that is where all of the commands for manipulating your config exist.
* We have 3 nouns in that command right now -- clusters, contexts and credentials.
  * In the kubeconfig file w

[2017-07-30 17:10] jbeda commented on #40968
Another option would be to make the context name optional on `kubectl config set-context`.  If it isn't specified then just default to the current context.

The behavior in question then becomes: `kubectl config set-context --namespace=ns`.

[2017-07-30 18:00] cblecker commented on #49848
/assign

[2017-07-30 18:00] cblecker commented on #49848
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-07-30 18:00] #49848 closed

[2017-07-30 20:06] Shashwatsh commented on #49838
@mkumatag https://gist.github.com/Shashwatsh/18d8bede16327f7e8717ff6f1d9ea08a

[2017-07-30 20:43] danisla opened #49852 "kube-proxy conntrack hash resize kernel panic with PREEMPT kernel."
Running a kernel with `CONFIG_PREEMPT=y` causes kernel panic when running `kube-proxy` unless `--conntrack-max-per-core=0` is passed. [Kernel stack trace here](https://gist.github.com/danisla/b002610edf9b9687a492b8d99a6edaf4#file-dump-txt-L17).

** Background **

Preemptive and real-time kernels do not support spinlocks and the current implementation of the kernel conntrack_hash_resize function [u

[2017-07-30 21:25] davidopp commented on #48041
We should also think about how to make Pod anti-affinity secure, since that's another way people will specify node-level isolation requirements.

[2017-07-30 21:26] davidopp commented on #48041
Note that pod anti-affinity, which is another way to do node-level isolation, is already secure since it is a field that only the owner of the pod/set that generated the pod can control.

[2017-07-30 22:07] clenimar commented on #49838
most of the logs are other components complaining because API server is off. try `journalctl -fu kube-apiserver > failures.txt` for a better output.

[2017-07-30 22:28] Shashwatsh commented on #49838
[code]

[2017-07-30 22:30] Shashwatsh commented on #49838
it works perfectly without service account in apiserver config but i need service accounts

[2017-07-31 00:06] erikh commented on #49065
I think the problem may be related to how kubeadm is compiled, vs how it is
written. Is netgo (instead of the cgo glibc backend) forced on? It's
probably not consuling nsswitch (which yields /etc/hosts resolution)
because of that.

from the https://golang.org/pkg/net/#hdr-Name_Resolution go doc:

The method for resolving domain names, whether indirectly with functions
like Dial or directly with fu

[2017-07-31 00:21] k82cn commented on #49096
That'll avoid duplicated validation in all components if apiserver can guard it.

I think that's an option, just not sure the complexity :); and ask user to correct the bad sepc, similar the process of "deprecated". WDTY?

[2017-07-31 00:39] #49540 closed

[2017-07-31 00:49] jbeda commented on #48041
This is pretty hairy.  This seems like yet another place where we want to make AuthZ policy decisions but we want to have more information than just the URL of the resource being changed.

An idea in 2 parts:
* Part 1: we experiment with a new external admission controller called `ProtectedLabels` that can be configured with a policy to reject changes that set or modify any labels/taints/toleratio

[2017-07-31 00:51] ixdy commented on #49844
I'm guessing that something got messed up in the bazel cache when reverting from 0.5.2 to 0.4.5. I'm not sure how best to fix.

[2017-07-31 01:52] cblecker commented on #44873
To update on this:
- `hack/update-staging-godeps.sh` has been [updated](https://github.com/kubernetes/kubernetes/pull/46193) so it works inside a docker container now. This seems to be working well, although the execution time of this script has gone from ~260s to ~460s as it's restoring the godeps a second time (Jenkins does this once to the "real" gopath, and this script does it a second time in

[2017-07-31 02:07] ahmetb opened #49854 "kubectl: must warn about the --labels option overwriting other --labels options"
If you run a command like:

    $ kubectl run --image=nginx --labels app=web --labels env=prod web

It only uses the latest declaration of `--labels` and drops the earlier `--labels` options specified. Especially because the --help documentation on `--labels` does not specify the format, this is impairing the user experience.

I looked around a few other CLIs to see how they handle this.

- curl,

[2017-07-31 02:14] fejta commented on #49844
How about updating everything to bazel 0.5.3 at once? I know you're trying to do a step-by-step approach to avoid breakages, but I suspect it will be cheaper to just deal with a brief outage while we update?

(aka update the bazelbuild image to 0.5.3 and then merge your PR with updated and working BUILD rules?)

[2017-07-31 03:01] xingzhou commented on #49854
I think this is reasonable for improving cli tool user experience. For different commands, it may different in the options, but for each of them we can add warning messages at least for the end user to realize what had happened in the backend, especially for the ignored staff

[2017-07-31 03:31] xiangpengzhao commented on #49854
/sig cli

[2017-07-31 04:27] ixdy commented on #49844
there's at least one other issue I've discovered with the latest go rules - the `e2e.test` binary no longer works, due to changes introduced in https://github.com/bazelbuild/rules_go/pull/554.

that might be arguably better (at least everything still builds?), though it's frustrating that it makes things more broken in a different way.

[2017-07-31 04:46] vishh commented on #48787
@CaoShuFeng

This proposal is a step in the right direction. I'd recommend prototyping this and sharing your experience with the community. Here are some questions to consider along the way:
1. How to limit the size of core dumps?
2. How do limit size and number of core dumps per pod? Would you consider a core dump quota per namespace?
3. Have you considered using any of the existing tools (apport

[2017-07-31 05:05] mkumatag commented on #49838
/sig api-machinery

[2017-07-31 05:22] davidopp commented on #48041
Yeah, an admission controller seems likely to be the way to go. We already resort to admission controllers for authorization in scenarios where RBAC policy isn't sufficient (e.g. [kubelet authorizer](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubelet-authorizer.md)). Integrating this with RBAC somehow is interesting (it sounds like you're suggesting something

[2017-07-31 05:35] JuneZhao opened #49857 "Docker daemon hang for unknown reason CPU high on docker process after restart master node"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug

**What happened**:
We have k8s installed on Azure and recently we found that apiserver disconnected for unknown reason and when we try to pull the logs we found docker daemon hung and we have to restart the docker service and kubelet service to get it working.

We've collected logs regarding dockerd and kubelet
**What you expected to happen**:
We

[2017-07-31 05:57] JuneZhao commented on #49857
@kubernetes/sig-azure-bugs

/sig azure

[2017-07-31 06:04] resouer commented on #32024
close this  by #36238

[2017-07-31 06:04] #32024 closed

[2017-07-31 06:04] resouer commented on #17390
Close by #30844

[2017-07-31 06:04] #17390 closed

[2017-07-31 07:01] x1957 commented on #7890
+1

[2017-07-31 07:19] fejta commented on #49824
/close

[2017-07-31 07:19] #49824 closed

[2017-07-31 07:24] JuneZhao commented on #49857
system information:
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029c3a408176b55c30846f0faedf56aae5992e9b", GitTreeState:"clean", BuildDate:"2017-02-15T06:40:50Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029c3a408176b55c30846f0faedf56aae5992

[2017-07-31 07:38] brancz commented on #49746
@xiang90 thanks for the hint! That's great! I actually recently contributed to the grpc metrics package that we can pass it a metrics registry instead of it using the global one. For now we can pass in the global one into those functions, but we should step by step move towards not registering metrics via globals and init functions.

[2017-07-31 07:51] feiskyer commented on #49852
cc/ @kubernetes/sig-network-bugs

[2017-07-31 07:58] andyzhangx opened #49864 "Unable to get node info in Kubelet: x509: certificate signed by unknown authority"
Hi,
   I am trying to set up k8s cluster on azure stack and I found k8s master could not start up because kubelet could not connect to azure stack management portal successfully. The certificate of https://management.local.azurestack.external is self signed and kubelet could not recognize that cert.
Question is how could I workaround this? I tried to import azure stack cert to the master Ubuntu VM

[2017-07-31 08:00] andyzhangx commented on #49864
/sig auth

[2017-07-31 08:20] m-no-2017 commented on #49804
Did you take into account that from 1.5 > 1.6 there may be RBAC enabled ?
All the controller functions may rely on roles which need to have the right permissions to set up the pods correctly.
Could you post your API server file (or startup args)?

[2017-07-31 08:30] m-no-2017 commented on #49634
Basically there are three things to take care of if you want to get a HA setup:
- (API server flag) "--apiserver-count=[integer amount of your api servers]"
- (API server flag) "--etcd-servers=[IPs of your etcd cluster]"
- kubelet connection through a loadbalancer to your api servers as endpoints

E.g. for the API server flags:
- "--apiserver=count=2"
- "--etcd-servers=https://192.168.1.10:2379,ht

[2017-07-31 08:41] #49210 closed

[2017-07-31 08:49] gmarek commented on #49734
@sttts - after discussions with @bgrant0607 I'm dropping new api group and make changes to existing Events, as stopping to send 'old' Events would be a breaking change. So no need to worry about me any more:)

[2017-07-31 08:56] m-no-2017 commented on #49198
I fixed the "WARNING: hostname "" lookup" with a correction of the /etc/hosts entries and a restart of the kubelet services on all nodes.
_Note: The hostname lookup and node registration comes from the kubelet and the kubelet relies on the docker service._
Just my few cents but i had a similar problem with a manual (no kubeadm) bootstrap of a k8s HA cluster (props to [this](https://github.com/kels

[2017-07-31 09:00] gmarek commented on #49798
@shyamjvs - you need to force delete Pods (`kubectl delete --grace-period=0 --force` or sth like that).

The only bug here is that deleting Namespace didn't correctly delete those Daemons Pods in first place. This is a bug for @kubernetes/sig-cluster-lifecycle-bugs as owners of Daemons or @kubernetes/sig-api-machinery-bugs (I guess...) for Namespaces.

But if @k82cn want to pick it up, I won't obj

[2017-07-31 09:16] leejian0612 commented on #14017
@nickleefly no need to modify the default.conf, you can specify the file name by using generic secret
[code]

[2017-07-31 09:21] MatMaul opened #49867 "OpenStack provider: high load on Nova Compute API"
When using a lot of Kubernetes nodes with the OpenStack provider the load on the Nova Compute API (and possibly depending one like Neutron) is high.
This is because each kubelet makes a request to the API every 10s to fetch the IPs of the VM.

After having a look at the other providers it seems like they generally try to use the local metadatas to find this info, no API call seems to be made.
I tr

[2017-07-31 09:24] MatMaul commented on #49867
/sig openstack

[2017-07-31 09:27] MatMaul commented on #49544
I hit a similar problem a while ago because the availability zone of a VM was "-". It would be very nice to extend the possible values for label values.
https://github.com/kubernetes/kubernetes/issues/44045

[2017-07-31 09:59] jenningsloy318 commented on #49281
This still a issue, it doesn't work after the node is rebooted.

[2017-07-31 10:37] FengyunPan commented on #49544
Yes, I agree.

[2017-07-31 10:51] edevil commented on #46602
Error example:
[code]

[2017-07-31 11:00] tomi-vanek commented on #7890
+1

[2017-07-31 11:53] shyamjvs commented on #49798
@gmarek Thanks for the lead.

I'm not very sure if it's an issue with ns-controller or ds-controller. Seems like the latter as it's the one responsible for deleting pods of a ds(?)
However, I feel multiple things are potentially weird here (could you clarify which of them are intended behavior / bug):
- Should ds-controller schedule daemons on nodes whose kubelets never ever sent a single heartbea

[2017-07-31 11:58] gmarek commented on #49798
I wouldn't be surprised if pod-gc would ignore Daemons:)

[2017-07-31 12:09] stibi commented on #49835
yes, something about cgroups…but I can't find out what is wrong or how to reproduce it reliably.

Maybe it's related only to flannel? (`failed to write 2 to cpu.shares: open /var/lib/rkt/pods/run/cb32f496-d289-412d-95a1-75fc8c2556bb/stage1/rootfs/opt/stage2/flannel/rootfs/sys/fs/cgroup/cpu,cpuacct/kubepods/burstable/cpu.shares: no such file or directory`)

Any hints how to approach this appreciate

[2017-07-31 12:25] x13n commented on #49627
Unfortunately after changing code in my PR I'm also no longer able to reproduce this, so closing for now. Will reopen if it happens again.

/close

[2017-07-31 12:25] #49627 closed

[2017-07-31 12:29] deads2k commented on #49497
I spoke with @lavalamp on Friday.  Since the existing feature was broken for some time, we get a free-er hand for changes.  We'll try to see if we can use the content-type negotiation from @smarterclayton first.  If we can't, then we can use parameter options, but they can't be a bool, it will need to be an enumerated string.

[2017-07-31 12:32] k82cn commented on #49798
If 'Ready=Unknown', we did not whether kubelet will recover back :(. I'm thinking whether we should introduce 'KubeletReady' condition.

[2017-07-31 12:38] gmarek commented on #49798
No - `Ready=Unknown` might mean temporary network connectivity issues. `Ready=False` is close to 'KubeletReady' (though it also includes other signals as wel...)

[2017-07-31 12:44] MatMaul commented on #49867
@dims @FengyunPan if you have any comments on that.

Regarding the fact that we would not see a change of floating IP with the cache I think it would be the same for most existing providers since they use local metadatas, so perhaps it is ok to do so.

[2017-07-31 12:44] shyamjvs commented on #49798
It's reasonable that both conditions `Unknown` and `False` still lead to pod scheduling on node. But in this case, we're having `NodeStatusNeverUpdated` which is much serious than either of them IMO. Such a node is as good as 'no node', so should we schedule pods on it?

[2017-07-31 12:46] k82cn commented on #49798
DS need to tolerate 'NetworkUnavailable' to deploy network components, e.g. Calico. If 'NetworkUnavailable' is false, Ready is also False :(. For 'KubeletReady', it means kubelet daemon is ready/ok to community with apiserver.

[2017-07-31 12:57] NickrenREN commented on #49818
In favor of option 1, two separate quota resources(scratch,overlay) may be easier to undertand and will not cause the problem mentioned in option2

[2017-07-31 12:58] FengyunPan commented on #49867
/cc @anguslees

[2017-07-31 13:01] ssubramanian123 commented on #12337
@hiroshi With above your solution, I am facing race condition where if replica set is 1 then it is works fine. if replica is 3 then randomly 2 pods has the valid host file, 1 pod hostfile is overwritten by k8s. From the log, i see host file script is executed and file is updated but after some time it get overwritten by k8s. If replica is 10 then randomly 5 to 6 works fine, remaining pods has host

[2017-07-31 13:18] Shashwatsh commented on #49804
[root@fedora-1gb-blr1-01 ~]# cat /etc/kubernetes/apiserver
###
# kubernetes system config
#
# The following values are used to configure the kube-apiserver
#

# The address on the local server to listen to.
KUBE_API_ADDRESS="--insecure-bind-address=127.0.0.1"

# The port on the local server to listen on.
# KUBE_API_PORT="--port=8080"

# Port minions listen on
# KUBELET_PORT="--kubelet-port=10250"

[2017-07-31 13:21] whc9527 opened #49873 "use rolling-update error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I was trying to upgrade when using rolling-update for a long time, there is no complete (just a simple nginx), this time I will use the Control+C to terminate, then makes me unable to delete pod

**What you expected to happen**:
how to use rolling-update to upgrade pods

**How to reproduce it (as minimally and precisely as poss

[2017-07-31 13:55] m-no-2017 commented on #49804
So i assume that you just have 1x API server and 1x ETCD node on the same machine.
Maybe a kubeadm setup?

Just to eliminate the RBAC issues you could enter these commands and restart the deployments:
<pre><code>kubectl create clusterrolebinding free-for-all-serviceaccounts --clusterrole=cluster-admin --group=system:serviceaccounts</code></pre>
<pre><code>kubectl create clusterrolebinding free-for

[2017-07-31 13:59] julia-stripe commented on #46733
The 1.7 scheduler has a regression where pods can get stuck in the 'Pending' state forever: https://github.com/kubernetes/kubernetes/issues/49314

[2017-07-31 14:27] resouer opened #49877 "Initializer: Consider a build-in "patcher" for initializer to use"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When creating a initializer, we have to write a controller code to patch the resource object. e.g. https://github.com/kelseyhightower/kubernetes-initializer-tutorial/blob/master/envoy-initializer/main.go

**What you expected to happen**:

Could we have a build-in "patcher" (as a addon Pod) so users can avoid this ste

[2017-07-31 14:28] resouer commented on #49877
cc @kelseyhightower

[2017-07-31 14:41] mwielgus commented on #49504
cc: @DirectXMan12

[2017-07-31 14:43] dixudx commented on #49864
/sig azure

@andyzhangx What's in your kubelet `--cloud-config`.

In the config file, there is a `aadClientCertPath`, which is the path of a client certificate for an AAD application with RBAC access to talk to Azure RM APIs.

[2017-07-31 14:44] ncdc commented on #49877
@resouer what would you have a "default" patcher pod do exactly? Isn't the initializer logic specific to each individual initializer in terms of what it mutates?

[2017-07-31 14:49] soltysh commented on #20902
Closing per previous comment.

[2017-07-31 14:49] #20902 closed

[2017-07-31 14:50] mbohlool opened #49878 "CRDs should be registered with Aggregation Server"
Right now CRDs is being registered with the local API server (not sure what we call that server, is the one that has most of the API Services). That will creates some issues. For example, OpenAPI aggregator needs a signal back from that server to update aggregation when a CRD is registered/removed. If we support that signal, to be consistent, we should support that for User API servers too. I beli

[2017-07-31 14:54] mbohlool opened #49879 "Accept OpenAPI spec instead of JSON Schema for CRD validation"
According to this proposal:

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/customresources-validation.md

We accept JSON Schema for validation. Kubectl and other tools we have, uses OpenAPI to validate objects (as well as other custom validations on the server). While The proposal claims that OpenAPI and JSON Schema are compatible, but they are not. OpenAPI's Sc

[2017-07-31 14:55] soltysh commented on #25704
I think we server-side deletion we can safely close this one. If you don't agree feel free to reopen.

[2017-07-31 14:55] #25704 closed

[2017-07-31 14:55] soltysh commented on #25067
+1 on my end end, as well.

[2017-07-31 14:56] deads2k commented on #49878
When a CRD creates a new GroupVersion, a controller automatically registers that GroupVersion with the aggregator.    This happens today.

[2017-07-31 14:56] sbezverk commented on #49822
I am seeing the same issue.

[2017-07-31 14:57] mbohlool commented on #49879
/sig api-machinery

[2017-07-31 14:57] soltysh commented on #28977
I think with server side deletion this can be closed now. If you don't agree please feel free to re-open.

[2017-07-31 14:57] #28977 closed

[2017-07-31 14:57] mbohlool commented on #49878
/sig api-machinery

[2017-07-31 14:58] soltysh commented on #27997
This will be fixed when we introduce the job failure policy.

[2017-07-31 14:58] mbohlool commented on #49878
@deads2k Are you talking about `AutoRegister...` controller? I believe that may not work. I will confirm that, but if that is the case and it is actually registered with aggregation API server, then we should be good regarding aggregation of CRD specs (when they are available).

[2017-07-31 14:59] liggitt commented on #49822
fixed in #49812

[2017-07-31 15:00] luxas commented on #48841
@ant31 The decision is to proceed with a new start-then-kill UpdateStrategy and add that feature to v1.8
@diegs (mentored by @aaronlevy and others) will primarily do the coding for this feature and sig-apps will review and approve.

@roberthbailey @janetkuo @erictune @aaronlevy I guess we should make a features issue for this, can anyone of you do that or approve to create one?

[2017-07-31 15:02] deads2k commented on #49878
It puts them in the same position as other aggregated API servers.  The constituent servers could be restarted with new resources (see the way `extensions` can turn them on and off) and the openapi aggregation doesn't appear to take that into account.

[2017-07-31 15:05] sttts commented on #49879
Copying my answer from https://github.com/kubernetes/community/pull/708#discussion_r130378514:

Why should we restrict ourselfes to openapi? The openapi spec is a side-product of this validation and I don't want to loose expressivity for validation because openapi hasn't updated to the JSON schema draft 4 yet.

Moreover, some day openapi v3 is finalized, we will support v3 and v2 for backward comp

[2017-07-31 15:12] sttts commented on #49878
The only missing trigger is if apigroups do not change, but resources do. In other words, we don't have proper watchable resources in a generic CRD independent way. For OpenAPI we would like to have that obviously, at least if we continue to serve an aggregated OpenAPI spec over apigroups (wondering, what the reason was for that original. group-wise would fit much better here).

[2017-07-31 15:13] luxas commented on #49213
How about we put this on the agenda for 08/04 or 08/15?

@madhusudancs You mean the sig-cluster-lifecycle calls on those dates, right?

[2017-07-31 15:17] sttts commented on #49879
@mbohlool can you summerize the v3 restricting regarding JSON Schema draft 4?

[2017-07-31 15:17] DirectXMan12 commented on #48588
@kubernetes/sig-autoscaling-bugs

Fixing this properly would require plumbing discovery through the validation logic.

[2017-07-31 15:17] luxas commented on #49836
As pointed out by @prydie; I think this will be safe to add due to that the cloud taint isn't added in any case you're already opting into using the external cloud way.

other thoughts @wlan0 @thockin ?

[2017-07-31 15:18] sttts commented on #49879
@mbohlool Regarding my comment above: which API guarantees do we have regarding the served OpenAPI spec? Do we have to version that? Or do we expect that every consumer now suddenly support v3 and doesn't fall over the new schema?

[2017-07-31 15:23] DirectXMan12 commented on #49504
I think scale should live in autoscaling.  I look at Scale like an interface, and groups like packages in this case -- it makes sense to me for the "interfaces" required for autoscaling to live in the autoscaling "package" with the "concrete types" (HPA).

[2017-07-31 15:25] mbohlool commented on #49878
We can find a way to update local api server when it is restarted, but if CRDs get registered with aggregation server properly (if they already don't), then a re-register of their APIService triggers an update to aggregated API server.

[2017-07-31 15:26] kargakis commented on #25067
Got agreement by @bgrant0607 too - closing this and all related issues.

[2017-07-31 15:26] #25067 closed

[2017-07-31 15:27] kargakis commented on #25067
Additional comment by Brian

"I think that particular issue is subsumed by the work on custom resources."

[2017-07-31 15:27] kargakis commented on #34363
Closing as per discussion in https://github.com/kubernetes/kubernetes/issues/25067#issuecomment-310078181

[2017-07-31 15:28] kargakis commented on #1704
Closing as per discussion in https://github.com/kubernetes/kubernetes/issues/25067#issuecomment-310078181

[2017-07-31 15:28] #1704 closed

[2017-07-31 15:28] kargakis commented on #29453
Closing as per discussion in https://github.com/kubernetes/kubernetes/issues/25067#issuecomment-310078181

[2017-07-31 15:28] #29453 closed

[2017-07-31 15:28] soltysh commented on #32661
I'll review this while moving CronJobs to beta.
/sig api-machinery

[2017-07-31 15:29] vincbe commented on #41711
It seems coherent in the way we create K8s services and ressources from YAML files.

[2017-07-31 15:30] soltysh commented on #38656
At this point in time I do hope everyone already migrated to CronJobs. Additionally, I'm currently removing ScheduledJobs from the codebase, before starting to promote CronJobs to beta. Based on all that, I'm closing this issue.

[2017-07-31 15:30] #38656 closed

[2017-07-31 15:37] sttts commented on #49878
I don't like the idea of an APIServer updating its APIService spec. But I could imagine that an APIServer updates its APIService /status subresource.

[2017-07-31 15:45] #49822 closed

[2017-07-31 15:48] paultiplady commented on #7890
Folks, a PSA: you can add a 👍  reaction to the original issue to signal your agreeiment, without triggering an email for everyone who's following this issue. Please do that instead of spamming us.

[2017-07-31 15:58] soltysh commented on #34710
@julianvmodesto sorry for late reply, was out for the past few weeks. How would you want to address this for non-cronjob-spawned jobs? In case of CJ-owned jobs it's clear who owns it and how many it can keep around?

[2017-07-31 16:07] sunshinekitty commented on #7890
Bueller

[2017-07-31 16:15] bgrant0607 commented on #46073
Apply is kubectl.

[2017-07-31 16:17] Shashwatsh commented on #49804
Hi, I ran the commands, but ```kubectl get pods``` still shows ```No resources found```. any ideas?

[2017-07-31 16:17] bgrant0607 commented on #46073
And I consider this a feature request rather than a bug.

cc @kubernetes/sig-api-machinery-feature-requests @kubernetes/sig-cli-feature-requests

[2017-07-31 16:19] nikhita commented on #49879
@mbohlool From the OpenAPI v3 specification: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#properties, the only difference between the types that are mentioned in the proposal and the openAPI types is the `type` field.

We use an array of strings (instead of a single string) right now but it can be changed. Do you believe there are any further problems with the types t

[2017-07-31 16:22] Shashwatsh commented on #49804
However, doing a ```kubectl describe rc nginx``` doesn't show any events or errors now

[2017-07-31 16:25] bgrant0607 commented on #46073
This is basically a manifestation of the problem discussed in #4855.

New fields shouldn't be exposed until all components are upgraded and there is no risk of rollback.

We can't store unknown fields for reasons discussed in #30819.

However, all components, but especially kubelet, really should be using patch to write status.

[2017-07-31 16:26] Shashwatsh commented on #49804
[code]

[2017-07-31 16:56] sttts commented on #48561
Which compatibility guarantees do we give for outward apis? For the alpha I guess we can just switch and call every webhook with v1beta1 objects. But when v1 is arriving, we probably need a better story. Do we want to negotiate via HTTP headers? Do we want a config option?

[2017-07-31 16:57] xing-yang opened #49880 "User "system:node:127.0.0.1" cannot get configmaps in the namespace "kube-system".: "no path found to object""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Ran hack/local-up-cluster.sh using the latest code from the master. After the local cluster is up, check /tmp/kubelet.log.  It has the following errors:

I0731 16:28:41.786486   12184 empty_dir.go:256] pod 4d7ce016-760d-11e7-9ab2-fa163e060fcc: mounting tmpfs for volume wrapped_kube-dns-token-j73mf
I0731 16:28:41.786503   1

[2017-07-31 16:58] rootfs commented on #36601
I contribute a use case for run-once daemonset (details at https://github.com/ceph/ceph-docker/pull/733).

When installing Ceph OSD daemonset on a node, we need to properly initialize the devices (make filesystem and get keyrings see `ceph-disk prepare`) before using them (i.e. `ceph-disk activate`).

So we need two DS here: `ceph-osd-prepare` and `ceph-osd-activate`, where `ceph-osd-prepare` is a

[2017-07-31 17:01] xing-yang commented on #49880
/sig node

[2017-07-31 17:02] xing-yang commented on #49880
/sig auth

[2017-07-31 17:08] JonPulsifer commented on #47525
This appears to be fixed in 1.7.x?

Not seeing any errors GKE 1.7.1, 1.7.2

[2017-07-31 17:11] liggitt commented on #47525
more conditions were added to the health check of the apiserver in 1.7, so it's possible that as a side-effect, by the time an apiserver is healthy and added to the LB, the authz cache has had more time to prime.

[2017-07-31 17:27] thockin opened #49881 "kube-proxy clears conntrack for all IPs when it cleans up a nodePort"
When we clean up a node port, we run `ExecConntrackTool(execer, "-D", "-p", "udp", "--dport", strconv.Itoa(port))`.  This will clear ALL addresses, but what we really want is just NodePort addresses.

I'm not sure what the right way to express this is.  Consider that we use NodePort 30123 for service A and service port 30123 for service B.  When service A goes away, service B will have its state c

[2017-07-31 17:33] liggitt commented on #48865
did you run the migrate command with `--no-ttl` or did you migrate all keys?

If you migrated all keys, this sounds like the same issue we've run into testing etcd migrations with openshift. The documented process to migrate multiple etcd members does not handle the situation where there are keys with actively expiring TTLs.

Even without active writers, the members can end up with inconsistent v3

[2017-07-31 17:35] pruan-rht opened #49883 "oc get pods --selector help page should give example of how to use multple selectors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
The current man/help page for --selector is hard to understand the correct usage.  `man kubectl get` should have an example with comma-delimited use-case, and that multiple --selector (if we can detect it) should have an error message

**What you expected to happen**:
Current help page shows the following.
`-l, --sel

[2017-07-31 17:37] thockin commented on #49852
Not setting conntrack size is going to result in very bad failure modes unless all the nodes are very small.  The default simply is not sufficient in practice.

The kernel needs to be fixed.

[2017-07-31 17:41] dashpole commented on #40563
/close via #48846

[2017-07-31 17:45] jamiehannaford commented on #49503
@saad-ali @gnufied Friendly ping 😄  FWIW I'm willing to do the work to fix this, I'd just like a heads up on the best place to look since I'm not that familiar with how the volume manager works.

[2017-07-31 17:46] pruan-rht commented on #49883
@kubernetes/sig-cli

[2017-07-31 17:55] mbohlool commented on #49879
There are differences in v2 and v3 spec. Why do we want to say we accept JSON Schema while we really accept the subset that OpenAPI v3 (and meanwhile till we upgrade kubernetes to v3, OpenAPI v2) defined. I think we better just get OpenAPI spec from user and validate based on that (kubectl is already doing that). We would accept v2 now, when we upgrade kubernetes to accept v3, we would accept v3 i

[2017-07-31 18:01] stevekuznetsov commented on #49883
/sig cli

[2017-07-31 18:13] deads2k commented on #49038
webhook admission should be able to verify hostnames based on DNS name, not just IP address. (reported via slack)

[2017-07-31 18:16] deads2k commented on #49038
Webhook admission needs to be able to allow mutation, at least on update calls.  Initializers should be able to mutate values as well.

Once example use-case is and admission plugin that resolves image tags down to SHAs and overwrites them.

[2017-07-31 18:19] caesarxuchao commented on #49038
cc @cheftako, the cert code of the admission webhook is identical to that of the aggregator.

[2017-07-31 18:22] ahmetb opened #49887 "kubectl create namespace: does not support -l/--labels"
/kind feature
/kind friction
/sig cli

**What happened**:

[code]

**What you expected to happen**:

I expect `--labels`/`-l` to work on pretty much all resources that can be created with `kubectl create`. Missing labels flag for namespace is creating asymmetry and friction.

I had to write a YAML file to create a namespace with a label.

kubectl: 1.7.2.

[2017-07-31 18:26] cmluciano commented on #49852
So should the fix be similar to our ```iptables -w``` skip, or do we want to set this value statically from kube-proxy?

[2017-07-31 18:36] xing-yang commented on #49880
/sig node

[2017-07-31 18:43] RRAlex commented on #49780
Does this also fix the issue of kube-api (1.7.2) crashing bellow?

[code]

[2017-07-31 18:46] kow3ns commented on #49239
@thockin @bgrant0607's primary concern is that we're misusing the API. We're adding an unready address to the ready Addresses of the EndpointSubsets to create a SRV record so that stateful Pods can find their peers in a StatefulSet. The API already lets us register the unready endpoints for the headless service in the EndpointSubset's NotReadyAddresses. We should be detecting the annotation/field

[2017-07-31 18:47] twistedpair commented on #28272
@vishh has there been any progress for  **[v1.8](https://github.com/kubernetes/kubernetes/milestone/36)** to fix this k8s limitation? We too see consistent failures due to this IPC limitation. Thx.

[2017-07-31 18:57] crimsonfaith91 opened #49890 "kubectl does not support rollout commands for StatefulSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: There are rollout commands for Deployment and DaemonSet, but not StatefulSet. As part of greater core controller GA plan, implementing kubectl rollout command for StatefulSet will contribute to standardization of existing kubectl commands across all core controllers.

**What you expected to happen**: As `pause` and `r

[2017-07-31 18:57] crimsonfaith91 commented on #49890
/sig apps

[2017-07-31 18:59] crimsonfaith91 commented on #49890
/assign

[2017-07-31 19:13] dims commented on #11626
@paroque28 You mean Keystone Roles? There's a PoC for that here - https://github.com/dims/k8s-keystone-auth (Note: that does not use RBAC).

[2017-07-31 19:18] stibi commented on #49835
Maybe this is the same problem, I'll update once I find out more https://github.com/coreos/bugs/issues/1965

[2017-07-31 19:44] smarterclayton commented on #49239
The current annotation explicitly says "tell everyone these endpoints are
ready" (which has a specific meaning, i.e. put me in rotation), so that
clients don't have to know the difference.  It forces legacy clients to
behave correctly.  Making a client respect the bool and interpret unready
endpoints would not transparently work for legacy clients.

I think the latter behavior is more correct, but

[2017-07-31 19:56] liggitt commented on #49887
see https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#create-commands for the philosophy behind the `kubectl create` commands. create commands are not designed to support every option on every object they can produce. the preferred approach is to create, then label with `kubectl label`

[2017-07-31 19:56] #49887 closed

[2017-07-31 20:12] apelisse opened #49894 ""NotReady" node leads to "Unknown" pod that don't detach disks (and thus can't be recreated)"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

My cluster is made of 4 nodes, running pods that are using RW attached GCE disks.

Some of the nodes end-up in "NotReady" state. I can still ssh the nodes, and they seem alive, but for some reason they are reported as "NotReady". They probably fall in that state because of another bug, but I don't know or want

[2017-07-31 20:13] liggitt commented on #49787
it retries on the default sync period, which I think is ~10 minutes

[2017-07-31 20:18] mikedanese opened #49895 "gce: known_tokens.csv sometimes becomes corrupted"
/sig cluster-lifecycle

[2017-07-31 20:24] jeffvance commented on #49529
@humblec can you take a look? My findings so far are this test fails about 20% of the time. The gluster client pod's Status is set to Failed and therefore the pod won't be deleted. There is e2e code that waits for the pod to be deleted but escapes if the pod has "Failed" and if the passed-in reason matches the pod's Status.Reason. In the gluster pod test failures the pod's Status.Reason == "". Thi

[2017-07-31 20:27] liggitt commented on #49880
creating those objects with a `hack/local-up-cluster.sh` on master is working for me:

[code]

[2017-07-31 20:28] gposcidonio opened #49896 "Pod failure due to lack of system resources is directly visible in CLI."
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug Report

/kind bug

**What happened**: When a Pod fails to initialize due to lack of system resources, none of the Conditions say anything about the reason the Pod failed to initialize. Instead, an Event is emitted with a plain english description of the error. For manual `kubectl` execution, this description is fine. But for interaction programmati

[2017-07-31 20:29] mikedanese commented on #49787
The default resync period is between 12 hours and 24 hours.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/options/options.go#L163

[2017-07-31 20:30] liggitt commented on #49880
the denials in the kubelet log are expected until the graph the node authorizer uses observes the creation of the pv/pvc/pod, but do not persist for more than a second or two.

that is expected momentarily... a persistent error in setting up the pod would fail the pod.

what do you see after a few seconds when the kubelet is trying to run the pod?

[2017-07-31 20:30] #49728 closed

[2017-07-31 20:32] gposcidonio commented on #49896
/sig scheduling

[2017-07-31 20:34] tzerchyuan commented on #29480
How do I go about setting `--enable-debugging-handlers=true`?

[2017-07-31 20:34] saad-ali commented on #49894
Volumes not getting detached when the pod falls into "Unknown" pod phase was "by design". The "Unknown" pod phase is [not considered "terminated"](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/volumehelper/volumehelper.go#L102) to prevent a disk from being detached while a volume is in use (resulting in data corruption).

That said, given that we have a safety in the Kubelet

[2017-07-31 20:39] luxas commented on #48945
@jbeda @liggitt @timothysc @mattmoyer @ericchiang Can we come to a conclusion on this issue?
Go/No-go? This would make the Bootstrap Token more distinct and more easily discoverable.
It would possibly even improve the fast paths' performance.
It would be a backwards-incompatible change to the flow; which introduces a risk.

Is it worth the risk or should we just consider the pattern well-describin

[2017-07-31 20:44] liggitt commented on #48945
my $0.02 is that the benefit doesn't outweigh the friction of a format change

[2017-07-31 20:46] mml commented on #49544
/sig node I think this is a kubelet issue.  Is it doing something sensible when the hostname does not match the label regex.
/sig architecture Should consider whether or not this list is correct.

[2017-07-31 20:52] mml commented on #49553
@caesarxuchao Can we patch conversion-gen to generate a better error message in this case?

/sig architecture to weigh in on whether self-references like this are something we want.

[2017-07-31 20:52] mml commented on #49556
This belongs to /sig node

[2017-07-31 20:53] mml commented on #49556
/sig node

[2017-07-31 20:55] mikedanese commented on #49895
Very rarely we are seeing known tokens files fill with ^@^@^@^@^@ which represents a NULL character, with ASCII value 000.. Restarting the master doesn't fix the issue because the known_tokens.csv is saved between restarts.

[2017-07-31 20:56] mml commented on #49588
@mbohlool can you take a look?

[2017-07-31 20:57] mml commented on #49658
I'm pretty sure we have no plans to do this.  We may have a bug where we documented why.

/sig architecture probably knows more.

[2017-07-31 20:58] #49658 closed

[2017-07-31 20:58] luxas opened #49900 "Enable the BootstrapSigner and TokenCleaner controllers by default"
Needed for getting https://github.com/kubernetes/features/issues/130 to beta
cc @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-auth-feature-requests

[2017-07-31 20:59] mml commented on #49684
cc @jpbetz

[2017-07-31 21:00] msau42 commented on #49529
It looks like gluster unmount failed:

[kubelet.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/7481/artifacts/bootstrap-e2e-minion-group-7qjd/kubelet.log)
[code]

[2017-07-31 21:03] mml commented on #49745
cc @jpbetz
cc @caesarxuchao

[2017-07-31 21:07] mml commented on #49783
cc @caesarxuchao

@pmorie are you planning to do this yourself?

[2017-07-31 21:07] xing-yang commented on #49880
On my setup, the errors don't go away.  I got the following errors when trying to create the pod:

E0731 16:48:43.922125   12184 secret.go:201] Couldn't get secret default/default-token-96xkh: secrets "default-token-96xkh" is forbidden: User "system:node:127.0.0.1" cannot get secrets in the namespace "default".: "no path found to object"
E0731 16:48:43.922226   12184 nestedpendingoperations.go:262

[2017-07-31 21:08] sarahnovotny commented on #49518
all things k8s swag are available at http://store.cncf.io . sadly, there are only athletic socks.

[2017-07-31 21:09] mml commented on #49798
/sig node

[2017-07-31 21:09] davidopp commented on #44944
At the sig-scheduling meeting today we realized it is not possible to implement this in a backward-compatible way because we allow pods to tolerate wildcard taint, so controllers that generate pods that tolerate wildcard taint would have their pods no longer be drain-able after upgrading the master.

(I think that in the absence of wildcard taint, it would be OK to implement this.)

I think we sho

[2017-07-31 21:11] jeffvance commented on #49529
@msau42 But in the log I looked at today (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/7688?log#log) I see the pod's Status=Running. Then the pod is deleted and the status remains Running for ~30s then changes to Failed. Even though the pod is Failed its Reason remains "". So 1) I wonder why the pod is marked as Running if its mount failed, and 2)

[2017-07-31 21:12] mml commented on #49814
@jkinkead Can you paste the `PATCH` body, please?

[2017-07-31 21:12] liggitt commented on #49880
what does `kubectl get node -o yaml` show?

[2017-07-31 21:21] msau42 commented on #49529
It was the unmount that failed, not the mount.

[2017-07-31 21:22] jingxu97 commented on #49503
@jamiehannaford Thank you for reporting the issue. Is that possible to share us the full log? Based on my current checking, I found out the issue might be related the following reasons.

1. Attach_detach controller has a syncState loop which will periodically checks whether the volume is actually attached to the node and update the cached actual state if the volume is no longer attached
2. In open

[2017-07-31 21:23] msau42 commented on #49658
Please link me to the bug discussing why not, since etcd supports it.

[2017-07-31 21:27] jeffvance commented on #49529
@msau42 ah, ok thanks, I missed that. Still need to know why Pod.Status.Reason is blank...

[2017-07-31 21:40] madhusudancs commented on #49213
@luxas yeah.

[2017-07-31 21:50] xing-yang commented on #49880
I tried this again.  Looks like this issue only happens if I set cloud_provider=openstack.

PATH=$PATH KUBERNETES_PROVIDER=local LOG_LEVEL=5 ALLOW_SECURITY_CONTEXT=true ALLOW_PRIVILEGED=true CLOUD_CONFIG="/home/ubuntu/cloudprovider/cloud_config.conf" CLOUD_PROVIDER=openstack hack/local-up-cluster.sh

[get_node_yaml_openstack.txt](https://github.com/kubernetes/kubernetes/files/1188925/get_node_yaml

[2017-07-31 21:56] msau42 commented on #45054
/assign @sbezverk

[2017-07-31 21:56] msau42 commented on #45053
/assign @sbezverk

[2017-07-31 22:01] msau42 commented on #45053
Instead of running through the mounts, can we check for a difference in fsgroup?  It would need to handle the initial case where the directory didn't have an fsgroup set.

[2017-07-31 22:02] liggitt commented on #49880
Setting HOSTNAME_OVERRIDE=kubevm3 to match the name seen by your cloud provider should result in a correct credential for your kubelet

[2017-07-31 22:15] xing-yang commented on #49880
I tried HOSTNAME_OVERRIDE=kubevm3 and it worked.  Thanks @liggitt !

[2017-07-31 22:16] xing-yang commented on #49880
I think this issue can be closed now?

[2017-07-31 22:24] roberthbailey commented on #48841
Feature issue is https://github.com/kubernetes/features/issues/373

[2017-07-31 22:27] Cryptophobia commented on #49518
Never had "no show" swag before.

Athletic no-show socks for kubernetes geeks?!?!... Is there a hint in there somewhere?

Is this the look we are going for?

![image](https://user-images.githubusercontent.com/15237494/28801034-a7a17740-761d-11e7-8d0e-e58605e60137.png)

[2017-07-31 22:42] msau42 opened #49905 "PV tests are flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage

**What happened**:
Both GCE and NFS PV tests have been flaking, with this signature:

[code]

[testgrid](https://k8s-testgrid.appspot.com/sig-storage#gce)
[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce/11722)

**What you expected to happen**:
Tests should not be flaky

[2017-07-31 22:47] d-shi opened #49906 "PVCs do not get assigned to correct AZ as where the pod needs to be scheduled"
/kind bug

**What happened**: I am trying to deploy a stateful set with PVCs to a set of 5 instances spread across 2 AZs. The stateful set has 5 pods, and I have set anti affinity so that there will be 1 pod per instance. The instances came up in AZs a-b-a-b-a. When I deploy the stateful set, their PVCs come up in AZs b-a-b-a-b. Thus the last pod in the set cannot be scheduled due to NoVolumeZoneC

[2017-07-31 22:53] msau42 opened #49907 "Dynamic provisioning tests are flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage

**What happened**:
Dynamic provisioning tests are flaky, perhaps due to test cleanup:

[code]

[code]

[testgrid](https://k8s-testgrid.appspot.com/sig-storage#gke-slow)
[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-slow/7817)

**What you expected to happen**:
Tests should pass

[2017-07-31 23:00] bjornswift commented on #46641
Closing in favor of #41916 and #48638

[2017-07-31 23:00] #46641 closed

[2017-07-31 23:02] d-shi commented on #49906
/sig aws

[2017-07-31 23:11] #49880 closed

[2017-07-31 23:12] ericchiang commented on #48561
@sttts we've had issues with this for our existing webhooks, how to migrate them from v1beta1 to v1. @liggitt had some thoughts about this.

[2017-07-31 23:20] sarahnovotny commented on #49518
think of your fashion opportunities going through the TSA lines.

[2017-07-31 23:23] tallclair commented on #48561
If the API doesn't change going from v1beta1 to v1 (or there are only additions), I think it should be a non-issue. If it does change, maybe we should consider making it configurable?

[2017-07-31 23:30] liggitt commented on #48561
I hope it's an issue or all the webhooks would be assuming identical semantics, and not honoring the sent version, which will cause problems if you expect the versioning mechanism to allow you to make changes

[2017-07-31 23:32] liggitt commented on #48561
For the authn/authz webhooks, I'm considering using the preferredVersion field in the webhook kubeconfig to allow people to opt in to v1 now, announce the default will change to v1 in a future release, and when it does, allow people to stay on v1beta1 by explicitly specifying that in their webhook kubeconfig

[2017-07-31 23:41] liyinan926 opened #49909 "Add CollisionCount to StatefulSetStatus for collision avoidance"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The `Deployment` controller uses the field `CollisionCount` as a collision avoidance mechanism when it needs to create name for the newest `ReplicaSet`.  Similarly, the `DaemonSet` controller uses `CollisionCount` as a collision avoidance mechanism when it needs to create name for the newest `ControllerRevision`.  Like the

[2017-07-31 23:42] msau42 commented on #49905
@jsafrane can you help take a look?  It seems like the binding failed because the PV object was not up to date, but it never retried again.

[code]

[2017-07-31 23:43] liyinan926 commented on #49909
/sig apps

[2017-07-31 23:53] msau42 commented on #49907
Seems to only flake on GKE

[2017-07-31 23:54] msau42 commented on #49907
/assign

[2017-07-31 23:56] #38417 closed

[2017-08-01 00:11] #45204 closed

[2017-08-01 00:23] arunmk opened #49911 "Storage Capacity of persistent volumes in k8s 1.7.2 reduced to 63 bits (signed 64 bits?)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Earlier we had setup 12E and NFS storage for PersistentVolume and this size is near 64bit. Now I see that 12E fails for NFS and the upper limit I could get to was 2.3E (61 bits). For local storage, I can get up to 9.2E (63 bits). The PV gets set up but any pvc remains in "Pending" status.

**What you expected to happen**:

[2017-08-01 00:47] MrHohn commented on #48392
ci-kubernetes-e2e-gke and ci-kubernetes-e2e-gke-slow seems already recovered --- tests posted above are not failing.

[ci-kubernetes-e2e-kops-aws-slow](https://k8s-testgrid.appspot.com/google-aws#kops-aws-slow&width=5) seems to be always broken, may need folks familiar with kops-aws to take a closer look.

/area platform/aws

[2017-08-01 00:49] brendandburns commented on #43730
I'll take a stab at this...  Note I'm going to remove the sig/azure since this seems to be a global issue in the `ServiceController`

[2017-08-01 00:50] brendandburns commented on #19867
Deleting this as obsolute. https://github.com/Azure/acs-engine is the preferred way to deploy and uses ARM.

[2017-08-01 00:50] #19867 closed

[2017-08-01 00:52] brendandburns commented on #43691
Closing since this was fixed by #45523

[2017-08-01 00:52] #43691 closed

[2017-08-01 00:56] xiangpengzhao commented on #49911
/sig storage

[2017-08-01 00:58] liyinan926 opened #49913 "Increase default value of DeploymentSpec.RevisionHistoryLimit to 10 in apps/v1beta2"
All controllers that use the `RevisionHistoryLimit` field have a default value of 10 for the field, except for `Deployment`, which has a default of 2. We should increase it to 10 for consistency on its default value across controllers.

/sig apps

[2017-08-01 01:00] xiangpengzhao commented on #49789
/sig contributor-experience

[2017-08-01 01:23] WanLinghao commented on #49701
@inetkiller
I am working on it

[2017-08-01 01:32] jianglingxia opened #49917 "replication controller send delete Signal but delete fail then the pod always exist"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
After the pod is scheduled to a node and no memory is found, after manual cleanup of the node's disk space, the RC is re-scheduled to another node, and the pod of RC scheduled to the first node has sent the deletion signal but the deletion failed and Always exist！
**What you expected to happen**:
not always existed !

the pod Inform

[2017-08-01 01:42] jianglingxia commented on #49917
/sig replication controller

[2017-08-01 01:43] jianglingxia commented on #49917
/sig apps

[2017-08-01 01:45] jianglingxia commented on #49917
/area replication controller

[2017-08-01 01:49] valentin2105 opened #49918 "deleted Cronjob continue to create pods."
Hi !

I got a bug using cronjobs,
I activated cronjob API on kube-apiserver, then reload the API to create a cron test,
This test fail (wrong launch command), so I deleted the cronjob ressource.

My problem is : the cron's pods are created when I delete them, and I don't find any way to stop theses pod creations..

/kind bug

**What happened**:
The cronjob ressource is deleted but the pod are stil

[2017-08-01 02:02] crimsonfaith91 opened #49920 "hack/local-up-cluster.sh does not create a node by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Running `hack/local-up-cluster.sh` does not trigger creation of a node. When running `kubectl get nodes`, it return no resource.

**What you expected to happen**: There will be a default node created.

**How to reproduce it (as minimally and precisely as possible)**:
(1) hack/local-up-cluster.sh
(2) kubectl get nodes

**A

[2017-08-01 02:03] crimsonfaith91 commented on #49920
/sig bugs

[2017-08-01 02:07] liggitt commented on #49920
how are you invoking local-up-cluster? are you setting a cloud provider?

[2017-08-01 02:10] CaoShuFeng opened #49921 "hack/verify-staging-godeps.sh fails because no proxy set in container"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
hack/verify-staging-godeps.sh fails when user need a proxy to access the internet
[code]
related:
https://github.com/kubernetes/kubernetes/pull/46193#issuecomment-318597863

cc @cblecker

[2017-08-01 02:11] timothysc commented on #49630
You can/should be able to implement DHQ using aggregated api-servers, but priority and preemption are a requirement in order for it to work properly.

xref: https://docs.google.com/document/d/1UEw4NASc3bIFV9q9E628ORlOiATA6HxTcBjkPKyND0I/edit#heading=h.nxatj7rbrmbp

[2017-08-01 02:20] CaoShuFeng commented on #48561
Hi, does some one has interest about this pr:
https://github.com/kubernetes/kubernetes/pull/49377
I get this idea because openstack does the same thing.

[2017-08-01 02:26] Cryptophobia commented on #49518
Oh, the opportunities in fashion are endless for software engineers these days...

When is Google going to open source Giorgio Armani then? Or should I say "Googlio Armani"?

[2017-08-01 02:27] MattMS commented on #7890
I'm guessing people are adding the `+1` comments to spam Owners/Members into paying attention to this, since there are already 4.4k+ Issues to contend with and this has not received any official responses in over 1 year.
It should be noted that the Issue search allows sorting by "Most reactions" (with 👍 as an option), but this is somewhat hidden.

I would humbly suggest people add their desired us

[2017-08-01 02:31] resouer commented on #49877
@ncdc, patch containers spec, more specifically, for side-car.  Do you think its stand?

[2017-08-01 02:34] liggitt commented on #49920
it looks like you're building from a local branch 3e77df06dec76a97415ad55675a48cd68303e641 based on https://github.com/kubernetes/kubernetes/commit/4a73f19aed1f95b3fde1177074aee2a8bec1196e

this is a dupe of https://github.com/kubernetes/kubernetes/issues/49822, fixed in https://github.com/kubernetes/kubernetes/pull/49812. rebasing your branch on master will pick up the fix.

[2017-08-01 02:34] #49920 closed

[2017-08-01 02:35] k82cn commented on #49630
@timothysc , I'm trying to use CRD for DHQ; and an updated doc with sub-projects.

xref: https://docs.google.com/document/d/1X_-46p7mLsnflAPnLR4kMAwr-E1NoJEZVMlmo7M7uX0/edit?usp=sharing

[2017-08-01 02:37] resouer opened #49923 "[code style] verify pkg/util contains no code"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

A follow up of https://github.com/kubernetes/kubernetes/issues/15634

**What you expected to happen**:

We should add a script to verify this. e.g. `./hack/verify-util-pkg.sh`

[2017-08-01 02:39] andyzhangx commented on #49864
@dixudx Current issue is cert of https://management.local.azurestack.external is not recognized.
Below are all the parameters:
/hyperkube apiserver --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota --address=0.0.0.0 --allow-privileged --insecure-port=8080 --secure-port=443 --cloud-provider=azure --cloud-config=/etc/kubernetes/azure.json --service-c

[2017-08-01 02:39] resouer commented on #49923
@kubernetes/sig-contributor-experience-feature-requests

[2017-08-01 02:45] alexandercampbell commented on #15387
Something like `file.kube.yaml` would be recognized by all existing editors but then editors could also add kubernetes-specific support.

[2017-08-01 02:48] amlinux commented on #7890
Also the issue tags are confusing. Priority - needs more evidence. What kind of evidence is needed? Team - cluster (deprecated). Maybe some other, not deprecated team should take over this issue? Could you please re-triage.

[2017-08-01 02:51] wanghaoran1988 commented on #47174
@luxas, I didn't find a way to simulate a node credential, do you have any good idea ? after reading the integration testing code, I fell it's enough the guarantee the quality, WDYT?

[2017-08-01 02:52] crimsonfaith91 commented on #49920
@liggitt Thanks! Appreciate the clarification.

[2017-08-01 02:55] smarterclayton commented on #49038
It was mostly described in the proposal, but some general points open:

1. a field should be exposed in web hook response status that is the
mutated object.  It is nil unless the web hook wishes to mutate the
object.  If it is set, that becomes the next version to be passed on.  We
need to talk about what fields are allowed to be mutated (all, some, none)
2. a mutating web hook cannot be called in

[2017-08-01 03:00] resouer commented on #49835
cc @derekwaynecarr Mind take a look?

[2017-08-01 03:01] dixudx commented on #49864
@andyzhangx What's in your `/etc/kubernetes/azure.json`? Have you tried to add `aadClientCertPath`?

[2017-08-01 03:25] liyinan926 commented on #49909
/assign @liyinan926

[2017-08-01 03:27] ChristopherHanson commented on #36745
Looks like `--require-kubeconfig` is still required in 1.7.2, just had it happen to me and came across this issue.

[2017-08-01 03:31] resouer commented on #49798
@gmarek GC and eviction can not apply to DaemonSet for now. Otherwise the cleaned Pod will be recreated immediately.

@shyamjvs Yes, I can see your point here. We may need to distinguish this state from `NotReady` for DS.  cc @yujuhong

[2017-08-01 03:31] #47055 closed

[2017-08-01 03:36] m1093782566 commented on #49881
/assign m1093782566

[2017-08-01 03:38] m1093782566 commented on #49881
Yes, @thockin

I can help fix it.

[2017-08-01 03:45] wanghaoran1988 commented on #49918
/sig apps

[2017-08-01 03:47] wanghaoran1988 commented on #49913
@kubernetes/sig-apps-misc

[2017-08-01 03:50] wanghaoran1988 commented on #49896
@kubernetes/sig-scheduling-feature-requests

[2017-08-01 03:51] liggitt commented on #36745
correct, removing it didn't happen until 1.8 - https://github.com/kubernetes/kubernetes/pull/40050

[2017-08-01 03:52] liggitt commented on #36745
fixed in 1.8 in https://github.com/kubernetes/kubernetes/pull/40050

[2017-08-01 03:52] #36745 closed

[2017-08-01 04:09] resouer commented on #49798
xref https://github.com/kubernetes/kubernetes/issues/33245

[2017-08-01 04:10] thockin commented on #49881
This is pretty low priority.  Unless the fix is pretty easy (not sure it
is) it may not be worth fixing at all..

On Mon, Jul 31, 2017 at 8:38 PM, DuJun <notifications@github.com> wrote:

[2017-08-01 04:22] m1093782566 commented on #49881
I agree this issue has low priority. I mean should we add a TODO in code now?

[2017-08-01 05:08] nikhita commented on #45511
All tests except the one for Helm are done. Does anything need to be done for Helm? If not, I believe we can close this now.

[2017-08-01 05:18] mathspanda commented on #49923
@resouer
Does it mean to write a script to verify that there are no go files except directories in pkg/util?
I am new to k8s, but i believe i can handle this. Can you assign this issue to me?

[2017-08-01 05:29] andyzhangx commented on #49864
@dixudx From the azure.json, it's using aadClientId and aadClientSecret to create ServicePrincipalToken, so shall I switch to use AADClientCertPath and AADClientCertPassword ? I only got a azure stack cert file, what value should I set for AADClientCertPassword?

{
    "cloud":"AzureStack",
    "tenantId": "5454420b-2e38-4b9e-8b56-1712d321cf33",
    "subscriptionId": "***",
    "aadClientId": "cec

[2017-08-01 05:30] spxtr commented on #49923
We're trying to cut back on `hack/verify-*.sh` scripts, although this one is pretty tame. I suggest writing a few-line [`sh_test`](https://docs.bazel.build/versions/master/be/shell.html#sh_test) that uses the [`pkg/util` filegroup](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/BUILD#L5-L10) as a data dependency. Then we don't need any sort of `hack/verify-*.sh` script, since it wil

[2017-08-01 05:30] spxtr commented on #49923
/assign @mathspanda

[2017-08-01 05:40] resouer commented on #49923
@mathspanda Right. But please note some exceptions:

1. non .go file like README, OWNER etc
2. `doc.go` and `types.go` is also OK

[2017-08-01 05:43] resouer commented on #49923
And please fix this by following @spxtr advice, thank you!

[2017-08-01 05:56] phye commented on #43805
I am in ArchLinux. Got it work by overriding ExecStart of docker service:

[code]

Based on this stack overflow answer:
https://stackoverflow.com/questions/43794169/docker-change-cgroup-driver-to-systemd

[2017-08-01 06:10] niuhp commented on #49270
@dorsegal @k8s-merge-robot @dcbw Is this problem solved? I have the same problem，i want to deploy the eureka cluster,what is the best way

[2017-08-01 06:24] amolsh opened #49926 "Pod volume mounting failing even after PV is bound and attached to pod"
kubectl version:
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4+coreos.0", GitCommit:"97c11b097b1a2b194f1eddca8ce5468fcc83331c", GitTr

[2017-08-01 06:47] jianzhangbjz commented on #49917
The `kubelet` of the first node is running well? logs of `kubelet`?

[2017-08-01 07:12] jianglingxia commented on #49917
thanks for your review,but now the Environment has been redeployed by other People，so I can not take the log，but in that time the  kubelet of the first node is running！so I guess that the RC delete the pod once Whether or not to delete？or you Encountered the Problem？thanks！

[2017-08-01 07:14] k8s-merge-robot opened #49928 "Failure cluster [b556b8...] failed 128 builds, 39 jobs, and 1 tests over 1 days"
### Failure cluster [b556b8c5336cd79275e8](https://go.k8s.io/triage#b556b8c5336cd79275e8)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    39 jobs failed,    128 builds failed.
Failure stats cover 1 day time range '31 Jul 2017 06:39 UTC' to '1 Aug 2017 06:39 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 39 |

##### Top

[2017-08-01 07:22] kasheemlew opened #49929 "Node did not get headers in a request"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I tried to send request with header

    {
       "Big_xk_lx": "the value",
       "Sid":"the value",
       "Js":"the value",
    }

to my web app deployment with k8s. But my app got only "Sid" and "Js", the "Big_xk_lx" with underline in the name was missing.

**What you expected to happen**:

I expected to get all the three key-v

[2017-08-01 07:30] kasheemlew commented on #49929
/kind bug

[2017-08-01 07:30] dixudx commented on #49556
Already got a PR in [google/cadvisor #1576](https://github.com/google/cadvisor/pull/1576). Will revendor when it gets merged.

[2017-08-01 07:31] kasheemlew commented on #49929
/sig apps

[2017-08-01 07:32] zjzhangkui opened #49931 "[Feature Request]: Support time period based hpa"
Is this a BUG REPORT or FEATURE REQUEST?: FEATURE REQUEST

/kind feature

Request:
For some kind bussiness, the service is heavy during a certain time period, like 9:00am-10:00am in every workday, much more http requests than other time, if hpa support to upscale pods to a absolute value set by user during this period and downscale after period, it will be very useful for this scenario.

[2017-08-01 07:37] m-no-2017 commented on #49804
Something like:
<pre><code>kubectl get pods -o wide --all-namespaces</code></pre>

Doesn't show anything ?

[2017-08-01 07:44] xiangpengzhao commented on #49931
/sig autoscaling

[2017-08-01 07:46] xiangpengzhao commented on #49926
/sig storage

[2017-08-01 07:46] xiangpengzhao commented on #49921
/sig contributor-experience

[2017-08-01 07:49] xiangpengzhao commented on #49693
/sig testing

[2017-08-01 07:51] xiangpengzhao commented on #49873
Could you please edit the issue body with more readable markdown format?

/sig scalability

[2017-08-01 07:53] xiangpengzhao commented on #49777
/sig cluster-ops node

[2017-08-01 07:53] shiywang commented on #47862
@pavolloffay working on it right now

[2017-08-01 07:54] xiangpengzhao commented on #49634
/sig cluster-ops

[2017-08-01 07:56] xiangpengzhao commented on #49828
/sig testing

[2017-08-01 07:56] xiangpengzhao commented on #49928
/sig testing

[2017-08-01 08:15] resouer commented on #47862
cc @freehan

[2017-08-01 08:26] xiangpengzhao commented on #49722
@wzhliang can this issue be closed?

[2017-08-01 08:41] xiangpengzhao commented on #49780
@RRAlex seems like not. Could you please open a new issue to track the crashing you mentioned?

[2017-08-01 08:41] #48191 closed

[2017-08-01 08:42] #49525 closed

[2017-08-01 08:42] #49663 closed

[2017-08-01 09:05] CaoShuFeng commented on #48787
I am planning add a new [aggregation api](https://kubernetes.io/docs/concepts/api-extension/apiserver-aggregation/) and make this api running as pod in cluster.
This third party api will contain metadata of coredumps.
Like: which namespace this core dump belongs to? where it is stored?
We can add quota per namespace in this aggregation api too.

Havn't yet. This only relies on the linux kernel cor

[2017-08-01 09:05] mohitpatiyala opened #49933 "Enabling insecure port for API Server"
Hi All

We installed kubernetes using kubeadm and want to enable the "insecure-port" for the apiserver , we tried updating the "kube-apiserver.yaml" and restarted the Kubelet but it is taking the original YAML file for the pod and not taking our changes .

We even tried updating the YAML file for the pod from the Dashboard but it says acess denied

Any suggestions on how to achieve this

Thanks &

[2017-08-01 09:07] ligc commented on #49626
It turned out to be an issue with the kubelet binary in the cluster,  there might be some issue with golang compiling environment when we compiled kubelet, we updated golang and recompiled kubelet, then the issues goes away.

[2017-08-01 09:07] #49626 closed

[2017-08-01 09:08] CaoShuFeng commented on #48787
Hi, @vishh ,can you tell me where should I put this "add-on"?
I have to report to my boss in advance.

[2017-08-01 09:18] akaipham opened #49934 "K8s auto reset ConfigMap"
**What happened**:
Whenever I updated ConfigMap, it triggers config-reloader to reload new ConfigMap as expected. But then, after a while, it reset ConfigMap to default configuration

**What you expected to happen**:
Remain new ConfigMap and DON'T reset ConfigMap

**Environment**:
- Kubernetes version (use `kubectl version`):

Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.6-

[2017-08-01 09:20] dixudx commented on #49933
@mohitpatiyala Where is your `--pod-manifest-path`? All the static pod manifests are stored default to `/etc/kubernetes/manifests`. `kubelet` will watch the changes of this directory. You can update `apiserver` configurations there by adding `--insecure-bind-address=0.0.0.0`.

[2017-08-01 09:20] luxas commented on #38067
@dixudx Nice! Feel free to send a PR to bump QEMU for cross-building to v2.9.0 and tag me :)

[2017-08-01 09:21] dixudx commented on #49933
/sig instrumentation

[2017-08-01 09:33] dixudx commented on #49934
@akaipham Any ways to reproduce this? And related logs.

[2017-08-01 09:37] akaipham commented on #49934
@dixudx I just update manually ConfigMap on k8s Dashboard. As you can see, I updated once at 9:27, it worked well, then it trigger another reload and reset ConfigMap to default
![image](https://user-images.githubusercontent.com/25759643/28819186-90ae8d7e-76d7-11e7-9fc6-dafa2855669b.png)
Here default configuration after 'weird' reloading at 9:32
![image](https://user-images.githubusercontent.com/25

[2017-08-01 09:47] akaipham commented on #49934
Another thing is Secret remain same after both two reloading

[2017-08-01 09:56] jamiehannaford commented on #49503
@jingxu97 Thanks for the great response! To answer your first question, these pods are in a Deployment, so they will be rescheduled if a node is rebooted. I have a few questions:

1. So you're saying that the `AttachDisk` function in openstack_volumes should _not_ call DetachDisk because it should trust that the Attach_detach controller will do that? Or is there another reason?

2. If AttachDisk i

[2017-08-01 10:03] crassirostris commented on #48561
I like preferredVersion better than negotiation headers because it's easier and more explicit

By the way, @sttts noticed that there's inconsistency between the changes. https://github.com/kubernetes/kubernetes/issues/49115 upgrades the API to beta and then changes the beta version, whereas https://github.com/kubernetes/kubernetes/pull/48836 changes the alpha version directly. Should we maybe spli

[2017-08-01 10:04] #49845 closed

[2017-08-01 10:45] SEJeff opened #49937 "Support httpHead for pod livenessProbe"
/kind feature

**What happened**:
The docs for [http liveness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-http-request) only reference `httpGet`, but a http `HEAD` request is better for healthchecks as no data is returned so it is lighter weight.

**What you expected to happen**:
I would expect a httpHead directive to exis

[2017-08-01 10:47] SEJeff commented on #49937
@kubernetes/sig-node

[2017-08-01 10:48] SEJeff commented on #49937
/sig node

[2017-08-01 10:58] wojtek-t opened #49939 "gci-gke tests in 1.7 branch are consistently failing"
As an example those jobs:
https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gke-reboot-release-1-7
https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gke-slow-release-1-7
https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gke-serial-release-1-7

@abgworrall @dchen1107 @mtaufen - can you please triage? This will block the 1.7.3 cut.

[2017-08-01 11:31] k82cn commented on #49798
Prefer to avoid the special action in node for DS :).

----
Da (Klaus), Ma (马达) | PMP® | Software Architect, IBM Cloud private
Development
IBM Spectrum Computing, IBM System
+86-10-8245 4084 | klaus1982.cn@gmail.com | http://k82.me

On Tue, Aug 1, 2017 at 12:10 PM, Harry Zhang <notifications@github.com>
wrote:

[2017-08-01 11:44] shyamjvs opened #49941 "Make log-rotation maxSize and/or #Files on VM configurable through salt"
We are losing some older apiserver logs on our long-running scale-tests due to logrotate set by default to 5 files of maxsize 100M.
This should be made configurable.

cc @k8s-mirror-cluster-lifecycle-misc @kubernetes/sig-scalability-misc @crassirostris

[2017-08-01 11:46] crassirostris commented on #49941
Note, that by changing the logrotate script in the `configure-helper.sh`, you change the setting for all components that write to `/var/log` directly, not only for apiserver

[2017-08-01 11:47] BradErz commented on #45626
Same issue here running

1. All the instances are stable. However all the pods with the issue seem to be against the same node like @thegranddesign said.
2. kubernetes 1.6.7, spawned with kops 1.6.2 i believe.
3. From a fresh cluster

[2017-08-01 11:47] edevil commented on #48703
This fix will arrive with 1.7.3, right? Any ETA on this version?

[2017-08-01 12:14] soltysh commented on #48411
Cohabitation was introduced somewhere in 1.3, looking back into sources ([1.3](https://github.com/kubernetes/kubernetes/blob/release-1.3/cmd/kube-apiserver/app/server.go#L146), [1.4](https://github.com/kubernetes/kubernetes/blob/release-1.4/cmd/kube-apiserver/app/server.go#L178) and [1.5](https://github.com/kubernetes/kubernetes/blob/release-1.5/cmd/kube-apiserver/app/server.go#L180)) it clearly s

[2017-08-01 12:17] soltysh commented on #48411
OpenShift [forces users](https://github.com/openshift/openshift-ansible/blob/506b2df261c9224f3e6a8328edad5c6de5a12b66/playbooks/common/openshift-cluster/upgrades/v3_5/storage_upgrade.yml#L16-L17) to perform such 'dummy write' upon upgrade to make sure the migration happens. I think k8s could do the same as part of the release process.

[2017-08-01 12:24] kevin-wangzefeng opened #49947 "scheduler panic at leader election fail when there a lot of failed-scheduling pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When a pod failed to get scheduled, scheduler will keep calling get pod to try schedule it.
See
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/scheduler.go#L174, https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L718, and https://github.com/kubernetes/ku

[2017-08-01 12:24] kevin-wangzefeng commented on #49947
/cc @kubernetes/sig-scheduling-bugs

[2017-08-01 12:32] kevin-wangzefeng commented on #49947
assigning to myself as a proxy for @lichuqiang who is working on this.
/assign

[2017-08-01 12:34] xiangpengzhao commented on #49933
/remove-sig instrumentation
/sig node

[2017-08-01 12:35] jianzhangbjz commented on #49947
/cc

[2017-08-01 12:44] jianzhangbjz commented on #49917
No, never encountered. I doubt it maybe caused by `Kubelet` or `ControllerManager`.
Have you test the latest version for this?

[2017-08-01 13:06] ncdc commented on #49877
@resouer maybe something like that could work, if all you wanted to do was apply something like a json or strategic merge patch to a resource.

[2017-08-01 13:19] jsafrane commented on #49905
Indeed, the controller did not get periodic sync of all PVs/PVCs every 15 seconds as it should.

I can see when PV controller is rejected when it asks for sync every 15 seconds during startup:

[code]

So the controller gets updates every ~6 minutes instead of 15 seconds. This must be something new, informers were not started yet when PV controller subscribed for events. Anyway, I have a PR https:

[2017-08-01 13:22] ash2k opened #49948 "DefaultRESTMapper does not work for custom resources CRD"
**What happened**:
`DefaultRESTMapper.Add()` uses `UnsafeGuessKindToResource()` instead of using `plural` field returned by discovery.

**What you expected to happen**:
Rest mapper should return correct plural form in the "resource" field of `RESTMapping`.

**How to reproduce it (as minimally and precisely as possible)**:
Create a CRD where plural != lowercase kind+"s" e.g. plural is "bla1" and ki

[2017-08-01 14:02] gmarek commented on #49941
Which is fine for our purposes:)

[2017-08-01 14:03] jianglingxia commented on #49917
now our project used V1.5.1，haven't used the latest version，will update to 1.6.4 recently，one problem i want to know that the rc delete the pod once whether or not delete？

[2017-08-01 14:06] wawastein commented on #48968
Here we go again.
Cluster 1.7.2
[code]

[2017-08-01 14:07] crassirostris commented on #49941
SGTM

[2017-08-01 14:25] bcorijn commented on #48998
I see these kind of logs as well on very short lived pods on Kube 1.6 btw. I have a very lightweight container that boots, does a REST call and then exits. I regularly see logs like this one:
[code]
I assume the asynchronous mounting of the volume is just too slow for the short lived container..

[2017-08-01 14:52] wanghaoran1988 commented on #47832
/assign

[2017-08-01 14:58] sttts commented on #47426
Neither is swagger aggregated, but only considers the outer go-restful container, instead of the whole chain.

[2017-08-01 15:09] liggitt opened #49956 "TestClientGoCustomResourceExample flakes"
flaking on HEAD:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=ci-kubernetes-test-go&test=TestClientGoCustomResourceExample

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/8135#k8siokubernetesvendork8sioapiextensions-apiservertestintegration-testclientgocustomresourceexample

https://k8s-gubernator.appspot.com/build/kubernetes-jenk

[2017-08-01 15:12] huangjiasingle commented on #49440
@wanghaoran1988  ........

[2017-08-01 15:16] atombender commented on #28167
I propose that a new API is introduced to fix this. One of problems  issues with the current API is that errors from Kubernetes itself cannot be distinguished from errors originating from the container; it's all just text. For example, the `unexpected stream type ""` error (see #47800), which comes from Kubernetes, is an out-of-band error message that is intermingled with the output from the conta

[2017-08-01 15:18] RRAlex opened #49957 "1.7.2 crashes because of nil pointer"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

( Seems different than issue #49780 )

**What happened**:

kube-apiserver crashed randomly...

[code]

**What you expected to happen**:

Stay up...

**How to reproduce it (as minimally and precisely as possible)**:

I don't know at this point, it happened only a few times, on a very lightly loaded test cluster (3 nodes in HA used as both con

[2017-08-01 15:20] abgworrall commented on #49939
Very consistent failures across all three jobs, from ~4pm yesterday onwrds.

I'd guess something changed WRT GCP networking, maybe even a change to GKE test endpoint ?

@Kashomon , @bowei , @fejta  - in case you've seen something like this before ...

It doesn't seem obviously related to a commit - the final passing job and first failing job are both on the same k8s commit hash.

I'm not hugely su

[2017-08-01 15:20] huangjiasingle commented on #49933
@dixudx @mohitpatiyala  you can't only add --insecure-bind-address=0.0.0.0, you also should update the --insecure-port=8080. it's will be ok.

[2017-08-01 15:22] liggitt opened #49958 "concurrent map writes by federation ClusterController"
seen in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/49919/pull-kubernetes-unit/44052/artifacts/junit_4c222743672c1e0f5982cb84c150211a71c8abdf_20170801-145439.stdout

[code]

[2017-08-01 15:24] huangjiasingle commented on #49933
@mohitpatiyala  if you use the dashboard to deploy a pod or deployment . and you also want to  use insecure  api of apiserver, you should deploy the dashboard without rbac or abac authorizion.

[2017-08-01 15:26] sttts commented on #45511
I think we can close this. Please reopen if you are missing any test coverage.

[2017-08-01 15:26] #45511 closed

[2017-08-01 15:28] huangjiasingle commented on #49931
@zjzhangkui  l agree with you,  in my project, l write some code to support the same function.  like the crontab's functions

[2017-08-01 15:28] dixudx commented on #49933
@huangjiasingle The default value of `--insecure-port` is `8080`, which can be omitted. Also for insecure requests, no authentications and authorizions will be performed.

[2017-08-01 15:36] huangjiasingle commented on #49926
@amolsh  you can get the pv?  you storage is use storage-class, if you create pvc ,it's will auto create pv. you can see the pv exist or not

[2017-08-01 15:38] soltysh commented on #45418
@Scukerman since now 1.7 is release, which has all those bits fixed can I ask you to upgrade it. It should be sufficient just to upgrade the `kubectl`. There has been several significant changes wrt supporting multi-versioned resources that I doubt would be able to backport to 1.6.

[2017-08-01 15:45] timothysc commented on #49338
So long as the pagination is passed through to storage/etcd, perhaps through optional list parameters it makes sense.  It would get really weird if you did multi-layered pagination with the api-server serving as another caching layer.

[2017-08-01 15:45] mohitpatiyala commented on #49933
@huangjiasingle  i tried updating the yaml file and restarted the kubelet but it is still refeerring to the orignal yaml file

[2017-08-01 15:46] karthik101 commented on #43800
I had the same issue, resolved by completely stopping kubelet service
-> systemctl stop kubelet && systemctl status kubelet
-> rm -rf /var/lib/kubelet
open another tab to look for logs:
-> tail -f /var/log/messages
also look for:
-> kubelet logs
-> kubeadm init --apiserver-advertise-address=<ip address> --pod-network-cidr 10.244.0.0/16

[2017-08-01 15:49] liggitt commented on #34508
tl;dr from the alpha fields doc/discussion, any corrections from sig-api-machinery are welcome:

1. use real, omitempty, optional fields for alpha fields
2. use the field names you intend to use if the feature progresses from alpha->beta->ga (don't put "alpha" in the field name, etc)
3. disable the API from accepting or persisting values in those fields by default (disabled alpha feature gate chec

[2017-08-01 15:58] huangjiasingle commented on #49890
@crimsonfaith91  1.7 seem to support this command.   https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#v170

[2017-08-01 16:10] wanghaoran1988 commented on #49440
@huangjiasingle Anything I can help you?  ErrTaintsTolerationsNotMatch means your pods cannot tolerate the taints your node have.

[2017-08-01 16:12] saad-ali commented on #49894
As a workaround deleting the pods in "Unknown" pod phase would also trigger the detach.

[2017-08-01 16:14] yujuhong commented on #49939
Looks like KUBERNETES_CONFORMANCE_TEST is set properly, so hack/ginkgo-e2e.sh skips the GKE setup.
[code]
I saw a couple of test-infra PRs from @zmerlynn that touched the gke setup logic. Not sure if they are related.

[2017-08-01 16:21] zmerlynn commented on #49939
/assign

This is me, I'll have a cherry pick out shortly.

On Tue, Aug 1, 2017 at 9:15 AM Yu-Ju Hong <notifications@github.com> wrote:

[2017-08-01 16:25] amolsh commented on #49926
yes i can get it
![image](https://user-images.githubusercontent.com/10971917/28835765-20eb6444-7704-11e7-8af5-914117f38c81.png)

[2017-08-01 16:27] zmerlynn commented on #49939
c.f. #49960. This is totally my bad, I meant to get the c-ps in before migrating the release branches. (Honestly, I was hoping the work to complete the wrapper was finished before then and forgot about it.)

[2017-08-01 16:46] rmmh commented on #49320
Fixed in kubernetes/test-infra#3746.

[2017-08-01 16:49] jingxu97 commented on #48968
@wawastein could you please share more information about this issue, in what condition this error occurred?  If possible, could you also share the project, zone and cluster name information so that we could check the master log?

[2017-08-01 16:50] ConnorDoyle opened #49964 "Hardware topology awareness at node level (including NUMA)"
/kind feature

**Problem description:**

Multiple components in the Kubelet make decisions about NUMA-related assignments:

- Hugetlb cgroup controller and hugetlbfs volume plugin ([proposal](https://github.com/kubernetes/community/pull/837)). Limits and volumes are managed per-memory-node on NUMA systems.
- Container network interface. Network interfaces including SR-IOV virtual functions have af

[2017-08-01 16:56] ConnorDoyle commented on #49964
This is a placeholder, the intent of wg-resource-management is to begin discussing this more seriously during the v1.9 development cycle at the earliest.

[2017-08-01 16:59] kargakis opened #49965 "kubectl scale also says that it can work based on a label selector"
Similar to https://github.com/kubernetes/kubernetes/issues/44800

@kubernetes/sig-cli-bugs

[2017-08-01 17:06] deads2k commented on #48588
Given a loosely coupled, eventually consistent system, I don't think that failing during admission is a suitable solution. Having a Status condition (which may already exist) on the HPA makes sense so that a user can determine, "oh, I have a problem", but failing the resource directly or building a stateful check in validation (which could change over time) doesn't seem reasonable.

[2017-08-01 17:10] DirectXMan12 commented on #48588
To follow up on a question from #49093:

"Scalability" is defined as the presence of the scale subresource. Therefore, anything without the scale subresource is not scalable.  There is no fixed list of objects guaranteed to be in the cluster.  *Even* if you blacklisted every *known* non-scalable kubernetes object, I could still introduce a non-scalable resource using an aggregated API server.  Eve

[2017-08-01 17:20] liggitt commented on #30819
I've tried to summarize the discussions with api-machinery to update guidance for alpha fields at https://github.com/kubernetes/community/pull/869

[2017-08-01 17:20] mtaufen commented on #34508
Do we have a test for blacklisting previously-used field names?

On Tue, Aug 1, 2017 at 8:50 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Michael Taufen
MTV SWE

[2017-08-01 17:23] mtaufen commented on #49939
/unassign

[2017-08-01 17:27] #49939 closed

[2017-08-01 17:27] liggitt commented on #34508
not currently, no.

[2017-08-01 17:32] nicklan commented on #39812
We ran into this issue when running kubelet in a rkt container.  We were seeing error messages of the form:
```Aug 01 00:50:30 [nodename] kubelet-wrapper[20169]: E0801 00:50:30.626256   20169 manager.go:1031] Failed to create existing container: /docker/1f3994fd716cc132015b6059d47e84425370ce39d0d05016ba5c7f321c3b4f18: failed to identify the read-write layer ID for container "1f3994fd716cc132015b60

[2017-08-01 17:35] DirectXMan12 commented on #49504
For future reference, there's already a copy of scale there ;-).

[2017-08-01 17:46] caesarxuchao opened #49966 "[Flaky e2e test] Garbage collector should not delete dependents that have both valid owner and owner that's waiting for dependents to be deleted"
Failure rate is [high](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=%20Garbage%20collector%20should%20not%20delete%20dependents%20that%20have%20both%20valid%20owner%20and%20owner%20that%27s%20waiting%20for%20dependents%20to%20be%20deleted).

We have an integration test that validates the same functionality, so i probably will investigate the cause of the e2e failu

[2017-08-01 17:46] caesarxuchao commented on #49966
/sig api-machinery

[2017-08-01 18:10] yutongz opened #49967 "Submit-queue automatically self-approve PRs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I deployed mungegithub to two of our repos, but they have different behaviors. In [istio/istio](https://github.com/istio/istio/pulls), submit-queue seems add "approved" label to every PR create by people in OWNERS file, even without someone commented "/approve". While in [istio/test-infra](https://github.com/istio/test-infra/pulls),

[2017-08-01 18:26] liggitt commented on #49967
this should be opened against kubernetes/test-infra, not the main kubernetes repo. self-approval is expected, at least in kubernetes/kubernetes. explicit lgtm is still required.

[2017-08-01 18:26] #49967 closed

[2017-08-01 18:27] chartotu19 opened #49970 "api-server, kube-controller-manager, scheduler don't start on master node reboot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
My k8s cluster was fully functional with 1 master and 4 agent nodes.
My services stopped responding to requests and noticed it a day later. `kubectl get nodes` , returned no resources found. Agent nodes had kubelet running, didn't join cluster on reboot.
I rebooted master server. Now api-server, kube-control-manager, schedular pods

[2017-08-01 18:27] liggitt commented on #49966
be careful to verify the root cause before... the e2e tests often reveal more about real-life interactions between controllers

[2017-08-01 18:28] cjwagner commented on #49967
@yutongz I think everything is working properly in those repos. In istio/istio the approved label has been applied to many PRs because an issue number was referenced, linking the PR to the issue. In istio/test-infra the label was not applied to most of the PRs because no issue number was specified and there was no '/approve no-issue' approval command.  The approval notification messages explain wh

[2017-08-01 18:29] liggitt commented on #49934
what config-reloader are you referring to?

[2017-08-01 18:36] matt-duch commented on #49835
Kubernetes version (use kubectl version): 1.7.2
Cloud provider or hardware configuration**: AWS
OS (e.g. from /etc/os-release): CoreOS/Container Linux 1409.7.0
Kernel (e.g. uname -a): 4.11.11-coreos

I'm running into this problem as well, except rather than being time based, I can trigger this behavior at will. I'm running with the fix mentioned in coreos/bugs#1965 (I've tried running without it a

[2017-08-01 18:41] yujuhong commented on #49236
I synced up with @timothysc. We agree that for 1.8, the scope of checkpointing should be limited to pods with specific annotations, and they will be persisted to disk.

Here are my other thoughts. I think the plan sounds reasonable, but it's designed for a very specific use case. I'd like to see a more generic mechanism that may be extended to checkpoint all pods and more (e.g., other resources, k

[2017-08-01 18:47] yutongz commented on #49967
@cjwagner  Thanks Cole, this explains a lot.

[2017-08-01 18:54] chartotu19 commented on #49970
@kubernetes/sig-azure-bug

[2017-08-01 18:59] yujuhong opened #49974 "TestBlockingOwnerRefDoesBlock: panic: duplicate metrics collector registration attempted"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49916/pull-kubernetes-unit/43951/

[code]

/cc @caesarxuchao

[2017-08-01 19:03] caesarxuchao commented on #49974
cc @ironcladlou might be related the periodic sync of GC.

[2017-08-01 19:06] ironcladlou commented on #49974
https://github.com/kubernetes/kubernetes/pull/49919

[2017-08-01 19:09] mbohlool opened #49977 "Bug in hack/verify-no-vendor-cycles.sh"
The script tries to find cycles in the staging folder with a short name of repos. This will create problems as "k8s.io/api"'s short name is "api" and the grep commands will match that to "kube-openapi" and thinks kubeopenapi has a cyclic dependency. e.g.:

[code]

[2017-08-01 19:13] aveshagarwal commented on #49492
@andor44 After further discussion with sig scheduling group, it is intended to not allow empty topology key with soft pod anti affinity (preferredDuringSchedulingIgnoredDuringExecution pod anti affinity). So it is working as expected. So i think this bug could be closed.

[2017-08-01 19:13] cmluciano opened #49978 "Support CIDR on ingress network-policy"
Type additions:

[code]

Summary:
- We want this to be "beta".
  - Normally driven through an annotation and things only graduated to official fields at GA time
  - Potential example spec https://gist.github.com/cmluciano/9e1e18856efabc4629407efff5920fb0

For discussion:
  - Open issue noting that annotations are now no longer preferred kubernetes/community#869
    - Should we continue down the an

[2017-08-01 19:16] cmluciano commented on #49978
cc @caseydavenport @thockin @danwinship

[2017-08-01 19:24] liggitt commented on #49956
these errors started occurring right after 74b9ba3b4d7c6f0a116464ac01a5f98b915d4586 was merged

cc @deads2k @wojtek-t for oddities with watch, custom resources, and the watch cache

[2017-08-01 19:27] k8s-merge-robot opened #49979 "Failure cluster [43fbdd...] failed 169 builds, 40 jobs, and 1 tests over 1 days"
### Failure cluster [43fbddb2db10511ee1ae](https://go.k8s.io/triage#43fbddb2db10511ee1ae)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    40 jobs failed,    169 builds failed.
Failure stats cover 1 day time range '31 Jul 2017 17:51 UTC' to '1 Aug 2017 17:51 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 40 |

[2017-08-01 19:30] wojtek-t commented on #49956
@smarterclayton

[2017-08-01 19:32] seanknox commented on #49864
@andyzhangx how did you provision the cluster on azure stack?

[2017-08-01 19:35] Banashri commented on #45076
I am also looking for the same. Even though I use v1.7.0 I dont see this API group present. What to do?

[2017-08-01 19:43] #37827 closed

[2017-08-01 19:51] cblecker commented on #49977
/sig api-machinery
cc: @caesarxuchao

[2017-08-01 20:22] kow3ns opened #49981 "SQ Blocked on PVC bind failures for AWS kops"
**BUG REPORT**:
 /kind bug

aws-kops is [consistently](https://prow.k8s.io/?type=batch) failing to delete pvs and bind pvcs to new pvs as seen [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-kops-aws/38636/). We haven't been able to get a batch through for most of the day.

[2017-08-01 20:27] smarterclayton commented on #49956
Could this be interactions with the aggregator cache?

[2017-08-01 20:29] smarterclayton commented on #49956
[code]

Is that bad?

[2017-08-01 20:37] liggitt commented on #49956
no, `TestClientGoCustomResourceExample` tests a CRD server all alone, no aggregator involved

[2017-08-01 20:44] cblecker commented on #49921
/assign

[2017-08-01 20:47] jdumars commented on #49981
/sig release

[2017-08-01 20:54] kron4eg commented on #48388
Today I hit the same problem and found this issue.
@DirectXMan12 reproduction is pretty easy.

* kubectl apply any Job
* change "spec.template.spec.containers.image" to anything else
* kubectl apply that Job one more time with new image

Result: this error and complaining about immutable field.

[2017-08-01 20:55] mattmoyer commented on #48945
It should be possible to do this in a couple of stages so there's no impact:
 1. (1.8) Add support in `plugin/pkg/auth/authenticator/token/bootstrap/bootstrap.go:parseToken` for recognizing and stripping off a `k8s-bootstrap-v1.` prefix, but still recognize tokens without the prefix.

 2. (1.8) In `kubeadm`, add support for the prefix when talking to 1.8+ clusters.

 3. (1.10) Update `parseToken`

[2017-08-01 21:08] andor44 commented on #49492
@aveshagarwal I realize at this point that the name of the issue is probably misleading. My issue is not that the topology key is required. I understand that it is required, I am not reporting that as the bug. The bug is that I had an object already Kubernetes that became invalid after the upgrade. Once it became invalid it stayed in Kubernetes and it could not be deleted. Delete requests returned

[2017-08-01 21:13] RenaudWasTaken commented on #49561
You could always `kubectl exec 'nvidia-smi -L'` on the containers requesting a GPU

[2017-08-01 21:24] kow3ns commented on #49239
@smarterclayton I think the correctness of the behavior with respect to the use of Addresses vs UnreadyAddresses is @bgrant0607's primary concern.

@thockin @smarterclayton @bgrant0607 @erictune I would like to propose the following.

1. As a first step, we keep the current behavior of the endpoints controller and promote the annotation to a TolerateUnreadyEndpoints field.
    1. This will be a br

[2017-08-01 21:30] liggitt commented on #49956
with lots of tracing added, I can reproduce:

controller lister/watcher:
1. lists before watch cache is ready, goes to etcd, gets empty list at resourceVersion=386
2. watches from resourceVersion=386 before watch is ready

client creates an object with resourceVersion 387

cacher lister/watcher:
1. lists, gets list with a single item at resourceVersion=387
2. watches etcd from resourceVersion=387

[2017-08-01 21:31] vishh commented on #48787
How will the aggregation API solve the issue of sharing local storage between pods for core dumps? Explain that in your (future) proposal.

is that necessarily a bad thing? State the pros and cons in your proposal.

In your own github repository.

[2017-08-01 21:36] cjwagner commented on #49967
No problem. This behavior is now configurable with the `approval-requires-issue` option.

[2017-08-01 21:37] jingxu97 commented on #49503
@jamiehannaford please see comments below
1. Yes, AttachDisk function in openstack_volumes should not call DetachDisk because it does know whether the volume is still mounted or not. Attach_detach controller should take care of detachDisk and know when it is safe to detach
2. AttachDisk should fail if the volume is still being used. Attach_detach controller will retry
3. We already have some work

[2017-08-01 21:38] msau42 commented on #49907
From the logs, it looks like we tried to delete the disk, but it failed because it was still in use.  But then we never tried to delete the disk again after that, even after the disk got detached.  This could be the same issue as #49905, where the pv controller resync period is too long.  Not sure why it only flakes on GKE though.

[2017-08-01 21:42] pmorie commented on #49783
@mml I am definitely not planning on doing it myself, as my attention is on other matters.  I'm happy to review the code someone else writes.

[2017-08-01 21:43] caesarxuchao commented on #49966
case 1: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49370/pull-kubernetes-e2e-gce-etcd3/44357?log#log

error message: failed to delete rc simpletest-rc-to-be-deleted, err: timed out waiting for the condition

The RC deletion was initiated at:
[code]

The rc is deleted after 61s, exceeding the 30s timeout, according to apiserver log,
[code]

and garbage collector starts

[2017-08-01 21:44] aveshagarwal commented on #49492
@andor44 ok then you could keep it open.

[2017-08-01 21:45] wongma7 commented on #49981
W0801 17:17:11.376921       5 shared_informer.go:301] resyncPeriod 15000000000 is smaller than resyncCheckPeriod 49961631804456 and the informer has already started. Changing it to 49961631804456

https://github.com/kubernetes/kubernetes/issues/49905#issuecomment-319367328

so https://github.com/kubernetes/kubernetes/pull/49016 will probably fix it

[2017-08-01 21:59] tallclair commented on #48561
+1 for splitting #49115 into 2 changes. RE: #48836 - I think it's OK to add fields to the alpha API, just not change or remove fields (or field semantics).

[2017-08-01 22:00] ericchiang commented on #48945
@mattmoyer since kubeadm advertises its API as beta, including the alpha bootstrap format, things other than kubeadm are generating tokens https://github.com/kubernetes/kubernetes-anywhere/blob/bf3661f8ee1679aea2e36431be43cd2a8d4e212b/phase1/gce/do#L10-L12

Don't know how many similar snippets there are, but we're going to have to track those down too. Not just update `kubeadm`.

[2017-08-01 22:02] caesarxuchao commented on #49966
@ironcladlou the rediscovery is quite expensive (32s). After https://github.com/kubernetes/kubernetes/pull/47353 is in, we can optimize the gc.Sync() by returning early if server replies there is no API changes.

[2017-08-01 22:39] caesarxuchao commented on #49966
Case 2:  The timeout was caused by an untimely API rediscovery.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49891/pull-kubernetes-e2e-gce-etcd3/44351?log#log

Same error: I0801 16:07:47.248] Aug  1 16:07:15.495: INFO: failed to delete rc simpletest-rc-to-be-deleted, err: timed out waiting for the condition

Delete started at:
[code]

finished at 16:06:17, 32s in total

[2017-08-01 22:42] caesarxuchao commented on #49966
The API rediscovery periods is set to [30s](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/core.go#L342). Before we can optimize the API rediscovery for GC, we need to increase the timeout in the tests.

[2017-08-01 22:43] greenkiwi commented on #45626
1. all instances are stable - we only had one pod have this problem so I cannot determine if it is node related
2. kubernetes 1.6.4, kops 1.6.2
3. 1.6 installation.  Started with 1.6.2 upgraded to 1.6.4

[2017-08-01 23:21] ericchiang commented on #49306
/assign @mattmoyer

[2017-08-01 23:31] caesarxuchao opened #49987 "Plumb the proxy dialer to the webhook admission plugin"
Currently webhoook admission plugin doesn't have a dialer: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/webhook/admission.go#L260

Probably we need to plumb the dialer to the client like aggregator does: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go#L213. Otherwise the plugin won't be able to work

[2017-08-01 23:39] #48941 closed

[2017-08-01 23:43] aaronlevy commented on #49236
I would really hope that we can keep checkpointing secrets/configMaps as in-scope for the initial checkpointing implementation.

Without these, it drastically reduces the utility of checkpointing to the point that self-hosted installations widely used in production ([Bootkube](https://github.com/kubernetes-incubator/bootkube) / [Tectonic](https://github.com/coreos/tectonic-installer)) - can not st

[2017-08-01 23:43] mhelmer commented on #49385
I had the same problem when running docker in docker with Jenkins kubernetes plugin. I'm assuming you are running docker in docker with the `/usr/bin/docker` and `/var/run/docker.sock` mounted as host volumes. I would say the issue here is not a bug in kubernetes or jenkins, but a configuration issue.

It seems like the older version of the docker binary was not linked against any shared libraries

[2017-08-01 23:59] jingxu97 commented on #48941
If resync period could not be honored, will it cause any issue for other type of controllers such as stateful-set controller, service controller ext. ?

[2017-08-02 00:15] thockin commented on #49978
I guess real fields are on the table, but we could also consider a jump straight to GA.  It's an option for things of this scope.

s/CIDRS/CIDRs/

Do we need CIDRs to be plural?  It's part of Peer which is already a slice.

[2017-08-02 00:39] Huang-Wei commented on #48010
Came across exactly the same issue on `1.7.2`:

[code]

[2017-08-02 00:45] ixdy commented on #47558
Removing go rule functionality from `kazel` is proving to be a bit tricky, since we only want it to ignore go-like automanaged rules.

We'll probably want to remove the `automanaged` tag from all of our go rules; something like  https://github.com/bazelbuild/buildtools/tree/master/buildozer will probably be useful here.

We also need to make sure `gazelle` ignores rules we've explicitly removed th

[2017-08-02 00:59] caesarxuchao commented on #48893
cc @erictune

[2017-08-02 01:00] danisla commented on #49852
Fixing this in the kernel is probably the best way to go since modifying the conntrack size is crucial to cluster operation.

I was able to successfully patch the kernel with the patch below to run with CONFIG_PREEMPT=y without kube-proxy crashing the node.

https://patchwork.kernel.org/patch/8034121/raw/

[2017-08-02 01:00] kow3ns commented on #49981
/close

[2017-08-02 01:00] #49981 closed

[2017-08-02 01:00] dims commented on #49977
@caesarxuchao @mbohlool something like this?

[code]

[2017-08-02 01:09] caesarxuchao commented on #49977
I'd replace the second "\/" with a word boundary (perhaps `\>`? now sure about the syntax). It's just in case these repos have top-level packages.

[2017-08-02 01:16] enisoc commented on #49948
cc @kubernetes/sig-api-machinery-bugs @deads2k

[2017-08-02 01:39] wzhliang commented on #49722
OK. Please close this. If I see it again I'll re-open.

[2017-08-02 01:45] andyzhangx commented on #49864
Hi @seanknox , I am using a modified acs-engine (https://github.com/andyzhangx/acs-engine/tree/andy-azurestack), trying to run k8s on azure stack, it's now stuck on cert issue.

[2017-08-02 01:55] akaipham commented on #49934
@liggitt I'm using this `jimmidyson/configmap-reload` as config-reloader

[2017-08-02 02:13] seanknox commented on #49864
I'm pretty sure this is acs-engine issue, not a Kubernetes issue, and should probably be dealt with on the [acs-engine issues page](https://github.com/Azure/acs-engine/issues). We've worked a bit with Azure Stack folks to provision Kubernetes via acs-engine but last I recall we're blocked on the network configuration needed on AS.

[2017-08-02 02:38] resouer commented on #47604
@ravisantoshgudimetla Thanks, I will pick up that part.

[2017-08-02 02:50] mandarjog commented on #49987
On GKE 1.7.2
[code]
API server attempts to open direct connections to endpoints.

[2017-08-02 02:52] #49392 closed

[2017-08-02 02:56] ixdy commented on #49320
This just happened again, this time in pull-kubernetes-e2e-kops-aws:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48969/pull-kubernetes-e2e-kops-aws/38787/?log#log
[code]

The kops job is pretty weird, running a rather ancient version of kubekins-e2e; it looks like `gcr.io/k8s-testimages/kubekins-e2e:v20170314-bb0669b0` as best I can tell, which I think has gsutil versi

[2017-08-02 02:58] k82cn commented on #42001
/reopen

[2017-08-02 02:59] k82cn commented on #42001
/assign

[2017-08-02 02:59] k82cn commented on #42001
/reopen

[2017-08-02 03:02] akaipham commented on #49934
ATM, I found out that `quay.io/coreos/configmap-reload` does not trigger reloading by itself, and it uses `prometheus.yaml` as key to reference in `Secret`. In contrast, `jimmidyson/configmap-reload` triggers reloading automatically when detecting changes in config files, but it uses `ConfigMap` to load configuration and yields above error that reseting configuration to default.

Is there any reco

[2017-08-02 03:39] chartotu19 commented on #49970
/sig lifecycle

[2017-08-02 03:43] zjzhangkui commented on #49931
@huangjiasingle If there are multiple rules for autoscale, like cpu and qps at same, we can not separate them each to caculate the desired replicas right? There should be a controller considering all of the rules to caculate one result desired replicas. I'm trying to write my own controller with tpr since current autoscale version is alpha.

[2017-08-02 03:50] WIZARD-CXY opened #49998 "get pod log request maybe account in the wrong api latency metric report"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
use kubectl search log with follow option get api latency (apiserver_request_latencies_summary{quantile="0.99",resource="pods",verb="GET"} )high to give a alert in my cluster.

the apiserver log is below
[code]
and we can see it costs 1m25s.

**What you expected to happen**:

do not make this api latency account in gettin

[2017-08-02 03:59] xiangpengzhao opened #49999 "Allocate healthcheck nodeport the same way as common nodeports"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
healthcheck nodeport allocation doesn't have roll-back, this may lead to nodeport leak.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
/sig network
/assign

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provi

[2017-08-02 04:02] jbeda commented on #48945
I'm torn here.  I wish we had put a prefix on these from the get-go.

After looking at the multi-version plan to switch over, I can't say I'm excited about that.  Specifically in @mattmoyer's step (2) above, we'd have to detect the cluster version and act differently on that. That isn't something we do right now and it smells bad.

How about this: we change the authentication to accept prefixed to

[2017-08-02 04:10] mbohlool commented on #49977
I sent a fix for this in #48861

[2017-08-02 04:25] xiangpengzhao commented on #49999
/sig network
/assign

[2017-08-02 05:08] shaklee3 commented on #44107
A couple comments related to future work:

1) Volta added more fine-grained sharing targeted at cloud companies. Perhaps the sharing should wait until that's adopted more.

2) Nvidia stated at their last conference nvidia-docker is being deprecated and they're making a newer version that doesn't rely on docker. Not sure if this changes anything.

[2017-08-02 05:56] dixudx commented on #49978
/cc

[2017-08-02 06:01] m1093782566 commented on #49978
How to specify **ingress** IP range(s)? based on node? I think it's not very straightforward to specify container/pod IP ranges in real world

[2017-08-02 06:21] spnzig opened #50002 "k8s-oidc-helper does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**:
I have installed kubernetes with kubeadm on 2 VMs running ubuntu 16.04. NOw i am trying to configure OIDC with it. So i tried installing the k8s-oidc-helper package using go. But unfortunately there seems to be some issue and i cant run any commands with it.

**What you expected to happen**:
k8s-oidc-helper package should

[2017-08-02 06:35] #49776 closed

[2017-08-02 06:40] Fullmetal8ender commented on #1615
Hi. Does docker.kubernetes.io/shared-pid annotation works?
I add
[code]
but this is not working. (minikube v0.21.0 with docker 1.12.6)

if not:
Is it possible to:
- enable shared pid namespace manually (to work with docker 1.12.6)?
- disable shared pid namespace manually with docker >= 1.13.1?

[2017-08-02 06:50] sean-krail opened #50003 "Define host based on svc, namespace, and domain in ingress"
/kind feature

**Feature**:
Ability to reference an ingress' `metadata.namespace` in its `spec.rules[].host` property.

**Use case**:
Original request I found was posted at kubernetes/ingress#713

I have a dev k8s cluster with many namespaces for different feature branches and workspaces all running the same services and exposing more than one of them. I'd like to expose services in each namespace

[2017-08-02 06:58] xiangpengzhao commented on #49722
I don't have the right to close issue. As you're the author, you can close it :)

[2017-08-02 08:03] WIZARD-CXY commented on #49998
/area apiserver

[2017-08-02 08:05] bcorijn commented on #24472
AWS has announced spot fleet now supports tags: https://aws.amazon.com/about-aws/whats-new/2017/07/tag-your-spot-fleet-ec2-instances/

[2017-08-02 08:08] verb commented on #1615
No, this cannot be controlled by annotation. Docker 1.12.x doesn't support
shared pid and it cannot be enabled. For >= 1.13.1 the behavior can be
disabled with a kubelet flag, but not per pod.

On Wed, Aug 2, 2017, 08:40 Fullmetal8ender <notifications@github.com> wrote:

[2017-08-02 08:24] xiangpengzhao commented on #50002
/sig auth

@spnzig This is not an issue of kubernetes. I suggest to check your $PATH. If the problem still exists, please check [k8s-oidc-helper README.md](https://github.com/micahhausler/k8s-oidc-helper/blob/master/README.md) for more info or create an issue in that repo.

:)

[2017-08-02 08:26] ralberto opened #50004 "cinder volumes not being detached"
/kind bug

**What happened**:
I've been using kubernetes 1.5.2 and docker 1.12.6 without any major problems. However, after upgrading to kubernetes version 1.7.2 volumes remain attached to nodes when they became unavailable (powered off), preventing the volume from being attached to another node.

According to the logs on master nodes, kubernetes is trying to detach the volume, but an error occurs

[2017-08-02 08:26] #48373 closed

[2017-08-02 08:27] xiangpengzhao commented on #50003
/sig network

[2017-08-02 08:27] zmeggyesi commented on #49385
@mhelmer
In the end, it seems re-building the slave container by including `lxc` is a valid workaround. I tried linking the files via host mounts, but that did not seem to have any effect.

[2017-08-02 08:30] xiangpengzhao commented on #49970
/sig azure cluster-lifecycle

[2017-08-02 08:30] xiangpengzhao commented on #49979
/sig testing

[2017-08-02 08:31] spnzig commented on #50002
@xiangpengzhao thanks for the link. I tried the same command but it gives command not found. I am new here. So could you suggest a right group where i can ask this question and get help? That would be really helpful

[2017-08-02 08:35] xiangpengzhao commented on #50002
I think @micahhausler the author of k8s-oidc-helper would be glad to help :)

[2017-08-02 08:35] ralberto commented on #50004
/sig storage

[2017-08-02 08:50] luxas commented on #48787
Yeah, I think that sounds good for prototyping. Then there is a Kubernetes incubator, but that's probably overkill for this kind of thing.

@CaoShuFeng The next steps I see here is writing up a full markdown proposal and creating a PR adding that in the community repo. Sounds good to you?
The details of this proposals (with pros/cons as @vishh said) will then be discussed there.

[2017-08-02 08:51] spnzig commented on #50002
@xiangpengzhao thanks :)

[2017-08-02 08:52] mhelmer commented on #49385
That might be an issue of different library paths on the host and docker image

Host Path: `/usr/lib64/libapparmor.so.1.3.0`
Mount Path: `/lib/x86_64-linux-gnu/libapparmor.so.1`

Anyway it doesn't seem like a great solution and building a new slave image is probably the right thing to do.

[2017-08-02 08:53] itskingori commented on #45626
@philipn @bcorijn @cooper667 @thegranddesign @BradErz @greenkiwi last question ... what kernel version are you guys using?

[2017-08-02 08:58] bcorijn commented on #45626
@itskingori running the `kope.io/k8s-1.6-debian-jessie-amd64-hvm-ebs-2017-05-02` AMI, which has `4.4.65-k8s`

[2017-08-02 09:06] #46564 closed

[2017-08-02 09:08] tianranyixiao commented on #11505
I'd like to know how to conduct canary deployments with load balancer?  see the blog
http://blog.kubernetes.io/2017/04/multi-stage-canary-deployments-with-kubernetes-in-the-cloud-onprem.html

[2017-08-02 09:15] wawastein commented on #48968
@jingxu97 so the timeline was as follows:
1. I created 1 Gi PVC for using with nginx container.
2. Deployed the changed config, deploy was successful
3. Pushed new nginx image to registry and deployed once again
4. Got the error above.

Project: superlocal-149713
Zone: europe-west1-b
Cluster name: staging-cluster-2

[2017-08-02 09:29] ryanlyy commented on #48923
Thanks a lot for your support. this issue has been addressed. it is because in new docker version (CE), iptables FORWARD chain is DROP in default. after change it, it works. so I will close this ticket.

[2017-08-02 09:29] #48923 closed

[2017-08-02 09:30] ralberto commented on #50004
/cc sig-storage

[2017-08-02 09:30] luxas commented on #49236
@aaronlevy As discussed in the more implementation-focused meetings, we have plans to checkpoint ConfigMaps, but it's a stretch goal for v1.8. If it's really important to CoreOS, can you have someone help out with that?

Re checkpointing Secrets we concluded that we need to be _really_ careful here. What we're saying with Secrets is that they will be stored only in one place -- etcd. When landing

[2017-08-02 09:59] trunet commented on #46730
hello... just a question, what about if we have an external CA that issue certificates automatically and put them on the machine. kubelet is using the certificates trough arguments, and we need to rotate them. a systemctl restart kubelet works but isn't the best approach, can we have an API call or kill -SIGHUP or something to manually force a "reload" of certificates?

[2017-08-02 10:33] soltysh commented on #25908
@jmillikin-stripe I like this idea, although I'm not sure if this follows the principal of treating some containers differently in a Pod or introducing dependencies between them. I'll defer to @erictune for the final call.

Although, have you checked #17244, would this type of solution fit your use-case? This is what @erictune mentioned a [few comments](https://github.com/kubernetes/kubernetes/iss

[2017-08-02 10:35] soltysh commented on #43739
The error is silenced in https://github.com/kubernetes/kubernetes/commit/0cf4744e755.

[2017-08-02 10:35] #43739 closed

[2017-08-02 10:49] cooper667 commented on #45626
Kernel Version: 4.4.65-k8s

[2017-08-02 10:53] Scukerman commented on #45418
I have already upgraded but not tested it yet. Thx. Closing this issue due to upgrade.

[2017-08-02 10:54] #45418 closed

[2017-08-02 11:10] soltysh commented on #43168
This should be fixed, starting for 1.7 with the server side resource removal.

[2017-08-02 11:10] #43168 closed

[2017-08-02 11:15] soltysh commented on #19701
There's almost identical discussion happening in https://github.com/kubernetes/kubernetes/issues/25908. Additionally, since server side resource deletion is fully implemented I think we can close this issue. If you don't agree feel free to reopen with a proper justification.

[2017-08-02 11:15] #19701 closed

[2017-08-02 11:22] soltysh commented on #47202
My suggestion for that would be to fail job creation with an appropriate event. But frankly speaking I doubt this happens that often. I'll make sure to have this added in your implementation @iterion.

[2017-08-02 11:35] danwinship commented on #49978
don't talk about egress yet

And Peer is part of Ingress which is also a slice... NetworkPolicy is a little plural-happy. But I guess having this be singular is more consistent with PodSelector and NamespaceSelector.

Should it be called CIDRSelector for consistency?

[2017-08-02 11:47] danwinship commented on #49978
As discussed some in #26720, we need more than just an array of allowed CIDR ranges, because using only allows makes it too difficult to specify "allow connections from everywhere *except* X.X.X.X/X".

IIRC the best solution we came up with for that was to be able to specify a combined allows+denies block, so that you can specify an "allow" rule that has holes cut out of it. Eg, something like:

[2017-08-02 11:54] danwinship commented on #49978
I had suggested before that we should say that NetworkPolicy CIDR selectors are only tested against cluster-external IPs, NOT Pod or Service IPs. Although this is more important in the egress case: you want to be able to say "deny 0.0.0.0/0" (to deny all external network access) without that also causing the pod to be unable to talk to other pods.

Also, we need to specify exactly how this is expe

[2017-08-02 11:54] yastij commented on #49564
@bowei - started working on this, do we want to add recording only on errors ? or everywhere by recording errors and replacing error logging `glog#Errorf` by eventRecording (the eventRecorder will send events to watch or log or other) ? I think the latter.

[2017-08-02 12:00] gyliu513 commented on #40131
Related with https://github.com/kubernetes/kubernetes/issues/49792

[2017-08-02 12:01] qrevel opened #50010 "kubectl does not show node role"
/kind bug

**What happened**:
`kubectl get nodes` doesn't show role
[code]

Workaround:
[code]
**What you expected to happen**:
According to #35901 and https://github.com/heptio/aws-quickstart/issues/61
[code]

**How to reproduce it (as minimally and precisely as possible)**:
I just deployed a multi master kubernetes environment with kops:
[code]

**Environment**:
- Kubernetes version (use `kubect

[2017-08-02 12:03] soltysh commented on #38756
@wanghaoran1988 here's the thing. I've talked some time ago with @deads2k and we both agreed that having `Scale` structure inside every API group isn't the right solution. The idea was to have one `Scale` structure that would work with every resource out there. To do that we'd need some dynamic scale client, see https://github.com/kubernetes/kubernetes/pull/32523#issuecomment-267050916. If you cou

[2017-08-02 12:13] andyzhangx commented on #49864
Hi @seanknox,  I have tried that if I add the self signed azure stack cert into the hyperkube container, there is no this error. So my question is, is there any way to add the cert into Ubuntu OS of hyperkube image in advance? k8s should have such exception way to add self signed cert, thanks.

[2017-08-02 12:15] #49956 closed

[2017-08-02 12:15] #48548 closed

[2017-08-02 12:17] deads2k commented on #38756
I have a pull adding the required information to discovery here: https://github.com/kubernetes/kubernetes/pull/49971

[2017-08-02 12:20] hiroshi commented on #12337
@ssubramanian123

I found that it is needed to overwrite hosts files after k8s rewrites it.
See https://stackoverflow.com/a/37234130/338986, I used a while loop trick.

I have not used that trick since then, so I'm not sure under current implementation of k8s.
For now, k8s introduced `Pod.spec.hostAliases` as mentioned in https://github.com/kubernetes/kubernetes/issues/12337#issuecomment-306581240

[2017-08-02 12:29] sttts opened #50011 "OpenAPI specs are not aggregated over the whole delegation chain"
Apiservers can be chained by apiserver delegation. Each of these apiservers provides
- resources in a go-restful container which are used for the swagger spec
- an OpenAPI spec.

In kube-aggregator, only the first level of the delegation chain is taken into consideration for aggregation of Swagger and OpenAPI. All following apiservers cannot expose Swagger or OpenAPI specs.

This is somehow relate

[2017-08-02 12:32] klausenbusk commented on #12337
@hiroshi @ssubramanian123
Another solution is patching the library which read the `hosts` file, I have done that before like so:
[code]

[2017-08-02 12:37] xiangpengzhao commented on #50010
/sig cli