[2018-02-09 04:35] fejta-bot opened #59615 "Failure cluster [ed98da...] failed 210 builds, 30 jobs, and 1 tests over 1 days"
### Failure cluster [ed98da0e01253e91e005](https://go.k8s.io/triage#ed98da0e01253e91e005)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    30 jobs failed,    210 builds failed.
Failure stats cover 1 day time range '8 Feb 2018 02:46 UTC' to '9 Feb 2018 02:46 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 30 |

##### Top fa

[2018-02-09 04:35] fejta-bot opened #59616 "Failure cluster [af9c2b...] failed 195 builds, 16 jobs, and 1 tests over 1 days"
### Failure cluster [af9c2b3562b11cd5aa17](https://go.k8s.io/triage#af9c2b3562b11cd5aa17)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    16 jobs failed,    195 builds failed.
Failure stats cover 1 day time range '8 Feb 2018 02:46 UTC' to '9 Feb 2018 02:46 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 16 |

##### Top fa

[2018-02-09 04:35] fejta-bot opened #59617 "Failure cluster [0c19d2...] failed 162 builds, 10 jobs, and 1 tests over 1 days"
### Failure cluster [0c19d25ade6353e32822](https://go.k8s.io/triage#0c19d25ade6353e32822)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    10 jobs failed,    162 builds failed.
Failure stats cover 1 day time range '8 Feb 2018 02:46 UTC' to '9 Feb 2018 02:46 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 10 |

##### Top fa

[2018-02-09 04:51] dan-turner commented on #58662
any updates?

[2018-02-09 04:52] bsalamat commented on #59584
We have so many tests in our dashboard. Please provide a link to the tests. The name of the test sounds like sig node to me.
@jiayingz @yguo0905

[2018-02-09 04:55] adohe commented on #58536
@smarterclayton could you please help update the status of this feature? I notice that this is release goal of SIG-CLI 1.10, also anything I could help with? I just got more time to focus on community stuff.

[2018-02-09 05:01] frankgreco opened #59620 "Need for ExponentialBackoffUntil Function"
Currently, there is not way to use the [`ExponentialBackoff`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go#L192-L208) function in combination with a `stopCh`. Hence, if we want to prevent further calls to the `conditionFunc` after a `stopCh` has been closed, one must create a manual function by copying the code from this function and ad

[2018-02-09 05:02] #58234 closed

[2018-02-09 05:34] #51965 closed

[2018-02-09 05:58] shyamjvs commented on #51953
/remove-lifecycle rotten

On Fri, Feb 9, 2018, 4:05 AM fejta-bot <notifications@github.com> wrote:

[2018-02-09 05:59] piosz commented on #58837
apologies for the delay, @crassirostris is OOO, will be back on Monday

@crassirostris could you please build the image once you are back?

[2018-02-09 06:18] pineking opened #59629 "DevicePlugin is not working correct when the limit set to 0"
/kind bug
/sig node
/area hw-accelerators
/cc @vishh @jiayingz @vikaschoudhary16 @RenaudWasTaken

**What happened**:
we can see all GPUs in container (`nvidia-smi`) when the limit of "nvidia.com/gpu" set to 0
also, `ls /dev/nvidia*` in container can see all GPU device files.

**What you expected to happen**:
`ls /dev/nvidia*` in container shows nothing when the limit of "nvidia.com/gpu" set to 0

[2018-02-09 06:39] terryKing1992 opened #59631 "use Tensorflow-GPU Image to Create Pod without applying for any GPU resource On the Machine with GPU card, but when i login the container. I can use GPU to train my tensorflow Model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There I have an machine with GPU card. and I use kubectl + yaml file to start a container based on tensorflow image without applying any GPU resource. bug when I login this container, then use the below python script to run my tensorflow code. it is strange that the console can print the GPU info.
that means the containe

[2018-02-09 06:52] jiayingz commented on #59629
Could you provide more info on OS and what device plugin you were using?

[2018-02-09 07:02] xiaolanz commented on #59596
Yes.

[2018-02-09 07:24] andyxning opened #59633 "Add GPU usage and memory consumption support to HPA"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
For now, hpa does not support GPU usage and memory consumption support to autoscale GPU-used pods.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or

[2018-02-09 07:25] andyxning commented on #59633
@kubernetes/heapster-maintainers @kubernetes/sig-autoscaling-feature-requests

[2018-02-09 07:41] zetaab commented on #59614
could you please tell little bit more about use-case. Ingress is used when people connect from outside to services in kubernetes cluster. However, for me this issue looks like you want connect from inside kubernetes cluster to outside, then the correct term is egress.

[2018-02-09 07:45] pineking commented on #59629
@jiayingz
CentOS 7.3.1611 with 4.4.113-1.el7.elrepo.x86_64 kernel
device plugin: v1.9
kubelet:
[code]
there are some my own codes in the k8s I used. so the commit is not in the master branch of this repo.

[2018-02-09 08:26] iKettles commented on #59614
This is already achievable using an ExternalName Service with an Ingress rule that points to it.

[2018-02-09 08:41] tsmetana commented on #59601
Yes, this needs to be fixed. We actually lose the awsError deeper in the stack, so I will probably have to change describeVolume wrapper and all its callers.

[2018-02-09 09:11] JasonShin commented on #59614
@zetaab Haha.. you are right. Sorry about my lack of knowledge in Kubernetes.
@iKettles Thanks, I will give this a try soon

[2018-02-09 09:18] jsafrane opened #59639 "Rename StorageProtection feature and admission plugins"
In 1.9 we introduced PVCProtection feature and admission plugin - user should not delete PVCs that are used by running pods, therefore Kubernetes protects them with finalizers.

In 1.10 we added protection of PVs - admin should not delete PVs that are bound to PVCs (unless they explicitly use some force, of course).

I don't want to have separate features and admission plugins for each object kind

[2018-02-09 09:26] mitio commented on #40920
We just hit the same issue with Kubernetes 1.9.0. The fix proposed by @Oloremo to use `net.ipv4.ip_local_reserved_ports` and [implemented in this PR](https://github.com/kubernetes-incubator/kubespray/pull/969) seems like the sensible thing to do, but it depends on how you install your Kubernetes cluster.

Since we're currently using kops, then it'll be kops' responsibility to properly configure `i

[2018-02-09 09:36] NickrenREN commented on #59639
vote for `StorageObjectInUseProtection`, since we may add `StorageClass Protection` later, and for non-storage related object, we can add new feature gate and controller for it ? not sure

[2018-02-09 09:38] NickrenREN commented on #59639
I can change them if necessary

/assign

[2018-02-09 09:38] jsafrane commented on #58413
Right now, we don't support PV selector for provisioning in any cloud provider. We thought that it could be used to create volumes e.g. in specific zones (specified by the selector), but we turned this down and dynamic provisioning to specific zones will be done in a different way by scheduler.

Problem with selectors and labels is that they have meaning that's not known to Kubernetes. If user cre

[2018-02-09 09:41] gekart opened #59642 "Exchange EBS Volume For a Bound PersistentVolume (Turn on Encryption, CMK, move AZ)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Motivation:

You have a running application that uses a EBS-PV on a cluster in AWS and need to change the underlying EBS volume (without creating and manually copying files). Reasons for doing this might be:

- you need to turn on encryption
- change encryption keys (KMS, CMK)
- move between AZs
- change volume parameters
- restore snap

[2018-02-09 09:45] gekart commented on #59642
/sig storage

[2018-02-09 10:18] vikaschoudhary16 commented on #59629
@pineking were you using https://github.com/NVIDIA/k8s-device-plugin as device plugin or Google's COS based device plugin?
What was the commit hash your k8s src code?

[2018-02-09 10:18] #55146 closed

[2018-02-09 10:35] mlmhl commented on #59517
@gnufied
I've test in my local environment and reproduced this failure. As mentioned in the above comment, if there are other PV/PVCs exist in the cluster, this failure happens.

I post a PR #59646 to fix these two bugs, could you help to test it in GCE?

[2018-02-09 10:37] pineking commented on #59629
@vikaschoudhary16 I use NVIDIA/k8s-device-plugin as device plugin https://hub.docker.com/r/nvidia/k8s-device-plugin/tags/  I use the tag v1.9

![image](https://user-images.githubusercontent.com/72760/36023450-72c1281c-0dc7-11e8-9cc0-8055b3d7f228.png)

my code is written based from https://github.com/kubernetes/kubernetes/commit/62e33e0e2bfc496c4fe247624ced9029cc82c0cf
But the commit I used `44c565

[2018-02-09 10:39] Lion-Wei commented on #58633
@linyouchong I saw you haven't do this yet, so I help solved this. Hope you don't mind. : )

[2018-02-09 10:59] pohly commented on #59425
I've implemented the "temporary HOME and unset KUBECONFIG" proposal in PR #59648.

[2018-02-09 11:01] shyamjvs commented on #59567
I'm not sure - is it? The last I remember, I think we used to pack those docker images (and their tags) into the release tar which was downloaded onto every VM and docker used to locally load those dev image builds (instead of pushing them to somewhere in a gcr.io registry).

[2018-02-09 11:17] gmarek commented on #51953
I'm looking into this now. My current plan is to add a periodic range count (as it turns out @smarterclayton also thought about this) and expose this as a metric. If someone know if I need to do some magic to make it work for CRDs I'm all ears (eyes?).

[2018-02-09 11:24] vikaschoudhary16 commented on #59488
/area hw-accelerators

[2018-02-09 11:44] #58911 closed

[2018-02-09 11:49] ingvagabund commented on #58217
Related to https://github.com/kubernetes/kubernetes/issues/55386

[2018-02-09 11:55] StevenACoffman commented on #58837
No worries. @piosz for the future, could this be automated, or should there be other people inside google notified? Any one person should be able to take vacations without holding up the show.

[2018-02-09 11:58] anguslees commented on #55202
Right, so it sounds like the bugs are:
- kube is only publishing a single address for the node (rather than one for each family, or all addresses for all families)
- whatever is *consuming* the address information from kube should filter out whatever families are unsupported by that application
- kubelet/controller-manager should have an override flag so the admin can just arbitrarily declare whic

[2018-02-09 12:56] jonastl commented on #55416
/remove-lifecycle stale
This is still relevant. If k8s back plane cluster components on the nodes are not resource constrained, user workload deployed to those nodes have zero guarantees and can make no assumptions regarding available resources _while they are executing_.

Mick's ticket is definitely something that warrants fixing, since we've been affected by this precise limitation ourselves in

[2018-02-09 13:07] mblaschke commented on #51785
Same problem with 1.9.1 (with node-exporter).

First deployment was fine but only on nodes. We've added later the toleration for all nodes and after that the DS only scheduled Pods on master only. Now without the toleration no Pods are created and desired count is always 0.

Cluster still have resources (10 nodes, 5 master). No errors with "describe".

Deployment via helm prometheus.

[2018-02-09 13:16] RenaudWasTaken commented on #59629
@pineking thanks for noticing this.
The specific behavior for 0 nvidia.com/gpu is indeed a bug. I will fix it in a new release.

However, this is a known shortcoming of setting the nvidia runtime as the default runtime.
If you use NVIDIA images without specifying any GPUs you will have all GPUs exposed.

A solution to this problem is adding the pre-start hook to the device plugin API.

[2018-02-09 13:21] mblaschke commented on #51785
Somewhere else was running a node-exporter on hostPort 9100 and that's why the Pods were not created.
If the scheduling starts if you remove/change the hostPort then it's not a Kubernetes bug.

[2018-02-09 13:35] lalomartins commented on #21493
Alternatively, how about either an http2 check, or a flag in the normal http check to tell it to use http2? I can live without checking the actual call results, but pointing to a grpc endpoint with an http check currently gives me “malformed HTTP status code”.

[2018-02-09 13:36] hzxuzhonghu commented on #59591
/cc

[2018-02-09 13:48] jsafrane commented on #59450
Three times in a row in #59607, however I don't see how a volume plugin PR could affect integration tests

[2018-02-09 14:14] pineking commented on #59629
@RenaudWasTaken thanks for your reply, look forward to the new release.
According to the doc https://github.com/nvidia/nvidia-container-runtime#environment-variables-oci-spec, I add these lines in YAML file as a workaround when `nvidia.com/gpu == 0`
[code]

[2018-02-09 14:22] nikhita commented on #42521
@liggitt From your comment in https://github.com/kubernetes/kubernetes/issues/42521#issuecomment-284167815:

Wdyt about controlling this with another field in the CRD spec?

[2018-02-09 14:37] ingvagabund commented on #58217
Ughhh: https://github.com/kubernetes/kubernetes/pull/40050

With `kubelet.kubeconfig`:
[code]

and setting `--fail-swap-on=false --kubeconfig=/var/lib/kubelet/kubelet.kubeconfig` I was able to create local cluster with `kubernetes-1.9.1`.

[2018-02-09 14:37] Preskton commented on #41881
This is extremely important to us as well -- our user story goes something like this:

There's a talk about "the spec" and "the code" in this thread - I could probably figure out the code, but how does "the spec" get approved/changed/whatever'd so that we can update the code to match our desired behavior?

[2018-02-09 14:38] ingvagabund commented on #58217
@voor can you verify?

[2018-02-09 14:43] pineking commented on #59629
Hi, @RenaudWasTaken , should we fix this here https://github.com/NVIDIA/k8s-device-plugin/blob/v1.9/server.go#L147, add some code like:
[code]

[2018-02-09 14:50] dkirrane commented on #36213
Was there a solution for this? For VSphere Cloud Provider I need to pass the following flags to kubelet, controller-manager and api-server
[code]

[2018-02-09 15:05] kargakis commented on #35096
Seeing this issue when trying to import `apimachinery/pkg/api/equality`.
[code]

[2018-02-09 15:05] kargakis commented on #35096
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-09 15:08] kargakis commented on #35096
Hrm, I think this is because I hadn't vendored that package so it was being used by its canonical location and not from my vendor. `test-infra` is already pruning nested vendored deps via `dep`.

/remove-lifecycle frozen

[2018-02-09 15:12] RenaudWasTaken commented on #59629
@pineking yes that's what I intend to do. I don't have access to my machine currently.

[2018-02-09 15:13] kargakis commented on #35096
Yes, I can confirm the above.

/close

[2018-02-09 15:13] #35096 closed

[2018-02-09 15:13] kargakis commented on #34582
See the discussion in https://github.com/kubernetes/kubernetes/issues/35096

[2018-02-09 15:13] #34582 closed

[2018-02-09 15:15] msau42 commented on #59642
What version are you running?  I believe a recent version of K8s prevents modifying the PV volume spec.

There is a snapshot feature in alpha now that may help streamline this process.

cc @jingxu97 @tsmetana

[2018-02-09 15:17] liggitt commented on #42521
I probably wouldn't expose that...

[2018-02-09 15:21] fasaxc opened #59656 "IPVS proxier doesn't handle nodes with iptables policy FORWARD DROP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Testing with the IPVS mode proxier on a host with iptables FORWARD policy = DROP, as configured by docker in recent versions, I found that traffic to NodePorts failed when the NodePort forwarded the traffic to another node.

Saw the iptables FORWARD=DROP counter increasing with each packet.

**What you expected to happen

[2018-02-09 15:21] fasaxc commented on #59656
/sig network

[2018-02-09 15:25] rramkumar1 commented on #59507
@m1093782566 Each service will at the very least have a k8s cluster IP right? Why don't we use that to track what services IPVS has created? That seems slightly better since the user will not have to set a flag.

[2018-02-09 15:25] jhorwit2 opened #59658 "kubectl timeout error is misleading"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli
/area kubectl

**What happened**:

I ran `kubectl get deploy` while not on a network able to connect to the apiserver, which resulted in

`the server doesn't have a resource type "deploy"`

If I run it with `--v=6` I see:
`I0209 10:24:41.786095   37193 cached_discovery.go:124] skipped caching discovery info due to Get https://<host>

[2018-02-09 15:46] naveensrinivasan commented on #59049
This is happening again.
![image](https://user-images.githubusercontent.com/172697/36035236-4ed675c6-0d84-11e8-8c9b-ba4c6b899178.png)

[https://raw.githubusercontent.com/naveensrinivasan/kubeapi/master/kube-apiserver.log](https://raw.githubusercontent.com/naveensrinivasan/kubeapi/master/kube-apiserver.log)

[2018-02-09 16:15] salrashid123 commented on #59513
/cc  @aljim

We'd like to use Google Cloud Deployment Manager's [type provider](https://cloud.google.com/deployment-manager/docs/configuration/type-providers/creating-type-provider) capability to read in the swagger file and use that to manage k8s object.  Our parser fails on reading the file.

I don't have a formal swagger validator but i did also tried plugging k8s swagger into   swagger.io's ed

[2018-02-09 16:54] #59606 closed

[2018-02-09 16:54] dashpole commented on #59155
This test now passes after https://github.com/kubernetes/kubernetes/pull/59595 was merged, which included google/cadvisor#1882

[2018-02-09 16:54] #59155 closed

[2018-02-09 17:06] rramkumar1 commented on #59656
/assign @m1093782566

[2018-02-09 17:15] plombardi89 commented on #29298
@whereisaaron I agree it's a bit of a misuse but it's not a pet vs. cattle distinction IMO. We use the autoscaler to always ensure there are <X> single node instances of Kubernetes available to claimed. A claim request detaches the instance from the autoscaler and for <X> hours it can be used by a developer or for automated testing. At the end of that period the instance is terminated and never he

[2018-02-09 17:16] gekart commented on #59642
I am running 1.7.x.

[2018-02-09 17:16] rramkumar1 commented on #59427
/unassign @m1093782566
/assign

[2018-02-09 17:18] rramkumar1 opened #59662 "IPVS dev work"
Using this issue to track outstanding dev work that needs to be completed before IPVS goes GA.

- [x] Address open bugs
    - [x] #60257
    - [x] #60305
    - [x] #59656
    - [x] #59507
    - [x] #59976
    - [x] #59505
    - [x] #60688
- [x] Address open PR's
    - [x] #52528
    - [x] #59632
    - [x] #58052
- [x] Address test failures
    - [x] #61328
    - [x] #61090
    - [x] #61938
    - [

[2018-02-09 17:23] rramkumar1 commented on #58443
@m1093782566 Can we add the following issues to a checklist here?

#59662 (dev work)
#59427 (testing)
#59505 (docs)

[2018-02-09 17:24] mkumatag commented on #57869
@luxas I've created one more PR for pushing manifest for few more images, reference - https://github.com/kubernetes/kubernetes/pull/59664

[2018-02-09 17:29] gmflau commented on #57002
Removing weight works.  Thanks!

On Wed, Jan 17, 2018 at 11:24 PM, Klaus Ma <notifications@github.com> wrote:

[2018-02-09 17:49] jingxu97 commented on #59642
@gekart To better understand your workflow, could you explain why you need step "set node ASG min, max, des to 0," Thanks!

[2018-02-09 18:03] mikecico commented on #40869
/remove-lifecycle stale

[2018-02-09 18:04] mikecico commented on #40869
/remove-lifecycle rotten

[2018-02-09 18:13] whereisaaron commented on #29298
I think tags are the correct mechanism @plombardi89 you'll have to propose a patch for `hasClusterTag()` for `findSubnets()` that supports a wildcard tag like just `kubernetes.io/cluster` or `kubernetes.io/cluster/_all`

[2018-02-09 18:17] vincentmli commented on #59156
@m1093782566  thanks, that sounds quite a work from your side, appreciate it! I will try the fix when I get a chance

[2018-02-09 18:21] jpbetz opened #59667 "migrate-if-needed.sh fails to remove etcd2 data when migrating from etcd 3.0->3.1 due to missing --endpoints flag"
This was noticed when adding tests to #59298. One of the tests failed with an "unable to reach etcd error". Adding `-endpoints "http://127.0.0.1:${ETCD_PORT}"` to migrate-if-needed.sh to the `etcdctl rm --recursive` fixed the issue.

Creating this issue for posterity so the issue and it's fix are tracked.

[2018-02-09 18:26] DirectXMan12 commented on #59633
There's nothing special that needs to be done here from the HPA side.  Collect your metrics via your metrics pipeline, use the `pods` metric type to collect via the custom metrics pipeline.

[2018-02-09 18:31] DirectXMan12 commented on #59438
can you clarify what you mean?  #56206 should have solved this issue for 1.10.

[2018-02-09 18:39] jiayingz commented on #59488
@pohly  Thanks a lot for reporting the issue! I think your analysis is right. Looks like the problem is because the devicemanager unit tests are interfering with each other. I will make a change to have each unit test in the file to use a separate test tmp dir.

[2018-02-09 18:40] #59667 closed

[2018-02-09 18:59] MrHohn commented on #58886
Job is passing now.
/close

[2018-02-09 18:59] #58886 closed

[2018-02-09 19:07] verult opened #59670 "Per-pod identity for various workloads including DaemonSets and StatefulSets"
/kind feature

There are many use cases where rather than relying on the single service account associated with each DaemonSet or StatefulSet, the application requires identity for each pod.

One specific use case is the Local Volume External Provisioner, which manages the creation and deletion of PersistentVolumes for local storage. It currently runs as a DaemonSet, and each provisioner pod has t

[2018-02-09 19:09] DirectXMan12 commented on #44033
If statefulset has a scale subresource already, then it's automatically supported in the HPA.  @kow3ns indicated that statefulset has a scale subresource, so it should be supported in the HPA automatically now.

[2018-02-09 19:09] DirectXMan12 commented on #44033
/close

[2018-02-09 19:09] #44033 closed

[2018-02-09 19:09] verult commented on #59670
/cc @msau42 @dhirajh

[2018-02-09 19:14] Nowaker commented on #32326
This would be very useful.

[2018-02-09 19:19] juliohm1978 commented on #54492
Apologies for the delays on following this up.

After a full installation into v1.8.6, the problems seems to have gone away. Will reopen if the issue comes up again.

Thank you all.

[2018-02-09 19:19] #54492 closed

[2018-02-09 19:20] yastij commented on #59438
When using metrics-server instead of heapster top no still looks for heapster

[2018-02-09 19:20] ihmccreery commented on #59591
+1

I've noticed this deficiency as well.  More specifics:

The `finalize` command as it exists today takes a complete namespace object and, as far as I can tell, removes any finalizers from the API object that don't appear in the request object.

This makes fine-grained authorization impossible, which is especially important for namespace-constrained users.  I want to write an authorization rules

[2018-02-09 19:22] ihmccreery commented on #59591
I _think_ we could do this in a backward-compatible way, even, by making the current `finalize` call an alias for the subresource-based, correctly authorized call, where the apiserver computes what finalizers are being deleted and delegates to the subresource endpoint.

[2018-02-09 19:31] juanvallejo commented on #58536
@adohe I currently have client side changes proposed here:https://github.com/kubernetes/kubernetes/pull/55637 I still need to update to use v1beta1 instead of v1alpha1, but any feedback you have is appreciated

[2018-02-09 19:34] DirectXMan12 commented on #59438
Have you registered the metrics API with your API server?  Can you provide the output of `kubectl top nodes --v=10`?  Are you certain you have a fresh discovery cache?  The code is there to pull from metrics server, when it's available.

[2018-02-09 19:35] mtaufen commented on #56896
This would be part of https://github.com/kubernetes/features/issues/281 if we did it, but I don't think this specific item is in for 1.10.

[2018-02-09 19:58] gekart commented on #59642
As far as I understand, nodes and PVs are associated and I cannot replace an EBS volume from a mounted PV. So I terminate the node. If the nodes are managed by an ASG (as is the case with kops), the ASG will start a new node, which is what I do not want to happen, before I migrate the volume to the new volume ID.

In addition I want the whole application to be safely down, therefore I terminate al

[2018-02-09 19:58] pohly commented on #59488
On Fri, 2018-02-09 at 10:40 -0800, Jiaying Zhang wrote:

I'm not exactly sure why, though. Do they really run in parallel?
According to my understanding of testing.Parallel, one has to
explicitly request parallel execution, and the tests don't do that.

When they run sequentially, then it isn't obvious why the tests
interfere and thus using per-test socket dirs would be just a band-aid.

Please ha

[2018-02-09 19:59] lambertjosh commented on #47368
This would be extremely useful as well, for improving the ability of monitoring systems to utilize the cAdvisor data.

We use labels to denote different deployments within the cluster, and it would be so much easier to monitor if these labels were included in the Prometheus metrics that are output by cAdvisor.

Without this, we are left trying to back out the deployment from a combination of the e

[2018-02-09 20:05] dashpole opened #59673 "[Test Failure] [sig-node-kubelet] [kubelet-serial-gce-e2e] Restart [Serial] [Slow] [Disruptive] Container Runtime Network should recover from ip leak [coreos]"
cc @kubernetes/sig-node-test-failures

Coreos is suspiciously missing from https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e

Looking at a log, https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/3660/build-log.txt, it fails after the `Container Runtime Network should recover from ip leak` test.
After this test, if appears to fail to dele

[2018-02-09 20:10] yastij commented on #59438
Yup we 've got the whole setting up and running, I'll send a reproducer next week

[2018-02-09 20:12] mengqiy commented on #47249
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-09 20:30] ravisantoshgudimetla commented on #59460
@wgliang
TBH, while I am not against having this parameter configurable, we need some quantifiable data to see benefits. I believe if we want to publish some documentation as "increasing threads to 32 improves performance by 10 fold on a 4 core node or something similar" the existing data is not enough. I will let @bsalamat and @k82cn to take a call here.

[2018-02-09 20:34] khenidak commented on #43287
@feiskyer disk attach per VM (VMSS) is merged on the SDK :-)

@jdumars this a corner stone for v1.10 work -- support for VMSS

[2018-02-09 20:48] bgrant0607 commented on #21493
http2 checks seem reasonable, and probably inevitable

[2018-02-09 20:50] msau42 commented on #59670
It actually Creates and Deletes PVs, not modifies.

[2018-02-09 21:13] dashpole commented on #59673
/sig node
/kind e2e-test-failure
/priority important-longterm

[2018-02-09 21:24] chicagobuss commented on #4457
It'd be nice if you were deleting a whole namespace at a time if it gave you a list of what it was about to delete before doing so - ala `terraform apply`

[2018-02-09 21:29] #59381 closed

[2018-02-09 21:33] jiayingz commented on #59488
Ah sorry I didn't realize you were already working on a fix.

I think go test by default run tests in parallel, so we need to make sure each unit test is self contained. That also explains why you hit this problem more easily when running more tests.

I think we perhaps need to modify manager_test.go setup() to make sure each newly created manager uses a separate test dir. Maybe you can take a loo

[2018-02-09 21:41] rsanders commented on #41057
We're on k8s 1.8.6 now, but even on 1.6 we no longer observed this.

[2018-02-09 21:41] #41057 closed

[2018-02-09 21:42] rosti commented on #59450
Saw this on #58960

[2018-02-09 21:43] rosti commented on #59426
Saw this on #58960

[2018-02-09 22:01] yguo0905 commented on #53616
@vishh @jiayingz @bsalamat

Discussions on how to support cluster level resources with scheduler extenders.

Currently, pods requesting the extended resources that are not managed/advertised by device plugins will not be scheduled. Cluster level resources are such resources. We need to teach kube-scheduler to understand these resources so that it can skip the checks in the `PodFitsResources` predi

[2018-02-09 22:08] caseydavenport commented on #58908
@bgeesaman while still possible, I think it's less likely you'll hit the same issue, since the `--cluster-cidr` arg on the controller manager is used to dish out the subnets used by kubenet.

Could you check to see if you're passing `--cluster-cidr` to the kube-proxy, and if so double check it matches the value passed to the controller manager?

[2018-02-09 22:09] djsly commented on #43287
I will have free cycle next week to test the provider binary on a vanilla
k8s using VMSS @feiskyer <https://github.com/feiskyer>  ping me when you
have a binary for testing

On Fri, Feb 9, 2018 at 3:35 PM, Khaled Henidak (Kal) <
notifications@github.com> wrote:

[2018-02-09 22:19] phsiao opened #59676 "controller-manager has stale jobs and can't delete them"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have observed that completed or failed jobs that don't get cleaned up correctly according to its cronjob history limit.  For example, here is one of the log line in controller manager:

[code]

repeatedly periodically, but if I look at the job spec it is metadata is

[code]

I can delete the job manually, or I can sto

[2018-02-09 22:23] phsiao commented on #59676
@kubernetes/sig-api-machinery-misc

[2018-02-09 22:45] RenaudWasTaken commented on #59488
@jiayingz I suggest you take a look at the documentation:
https://golang.org/pkg/testing/

On Fri, 9 Feb 2018, 22:34 Jiaying Zhang, <notifications@github.com> wrote:

[2018-02-09 23:04] bsalamat opened #59679 "Caching value of default priority in Priority admission controller is not HA safe"
@liggitt [identified an issue](https://github.com/kubernetes/kubernetes/pull/59382#discussion_r166501664) in Priority admisison controller that could cause a problem in HA scenarios. The admission controller caches the value of default priority and uses it for Pods that do not provide a priority class. It invalidates the cache when another default priority class is added. In HA mode, another API s

[2018-02-09 23:14] liggitt commented on #59679
There is no API server leadership. API requests are free to be handled by any server.

[2018-02-09 23:19] grantcurell opened #59680 "kubeadm hangs on [init] This might take a minute or longer if the control plane images have to be pulled."
/kind bug

**What happened**:
Kubeadm hangs at: [init] This might take a minute or longer if the control plane images have to be pulled.

Full:
[code]

**What you expected to happen**:
I expected it to finish or provide me some sort of useful error output I could do something with.

**How to reproduce it (as minimally and precisely as possible)**:
1. Install CentOS 7.4
2. Run: yum install -y kubea

[2018-02-09 23:24] bsalamat commented on #59679
I see. So, the issue is even worse than what I described. Do you see any solution other than dropping the caching altogether?

[2018-02-09 23:33] smarterclayton commented on #59679
Doesn’t seem much different than any other admission controller cases.  We don’t aggressively bound liveness of other admission caches.  Probably if we want to do that we should consider a general solution.

[2018-02-09 23:37] bgrant0607 commented on #484
/remove-lifecycle stale

[2018-02-09 23:40] liggitt commented on #59679
This is trying to prevent two objects both claiming they're the default. That doesn't seem strictly possible. Worth looking at what storage class did in this case (they also have a "default" indicator, though it's an annotation and might not be enforced)

[2018-02-09 23:59] feiskyer commented on #43287
@khenidak I'm working on the disk support.

@djsly Thanks, will ping you when PR is ready

[2018-02-10 00:39] madari opened #59684 "ResourceVersion="0" causes API list chunking to behave unexpectedly"
/kind bug
/sig api-machinery

**What happened**:

API chunking when listing pods does not seem to work with ResourceVersion="0". It seems that when that is set, the API server ignores the limit argument.

I found this out when attempting to use cache.Informer, which sets ResourceVersion=0 on the initial LIST. I filed a separate bug about this here https://github.com/kubernetes/client-go/issues/366

[2018-02-10 00:52] dims commented on #59528
i saw this too (working on https://github.com/kubernetes/kubernetes/pull/59677)

[2018-02-10 01:37] oomichi commented on #55471
I just gave up to use calico and switched to weave instead on a clean environment, then kube-dns works fine now.

[2018-02-10 01:53] eroji opened #59687 "Overlay network refuse to work on 1st master node consistently"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to build a HA cluster with 3 master nodes, however, overlay network always breaks on master1 . Once Flannel is installed, all 3 masters become "Ready" and I see kube-dns pods starting up. I can also fetch the IP it has been assigned with, but when I try to ping it from each of the master nodes, only master2 an

[2018-02-10 02:40] m1093782566 commented on #59656
Okay, but possibly we need an ipset-way to resolve it.

[2018-02-10 02:41] m1093782566 commented on #59662
Thanks @rramkumar1 for tracking all of them :)

[2018-02-10 02:57] #58397 closed

[2018-02-10 03:25] liggitt commented on #47525
closing due to lack of activity, and apparently low impact
/close

[2018-02-10 03:25] #47525 closed

[2018-02-10 03:28] liggitt commented on #43784
that was from the 1.5 timeframe, when that option was added. by 1.6, all authorizers were updated to require explicitly granting permissions to anonymous requests. the cautions about granting permissions to `*` and having those include anonymous users no longer apply.

[2018-02-10 03:28] liggitt commented on #59314
this seems like the same issue as #18394
/close

[2018-02-10 03:28] #59314 closed

[2018-02-10 04:25] nambrot commented on #59358
@kubernetes/sig-network-bugs

[2018-02-10 04:36] fejta-bot opened #59689 "Failure cluster [9d3781...] failed 86 builds, 23 jobs, and 1 tests over 1 days"
### Failure cluster [9d37812716bf9f87522d](https://go.k8s.io/triage#9d37812716bf9f87522d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    23 jobs failed,    86 builds failed.
Failure stats cover 1 day time range '9 Feb 2018 03:10 UTC' to '10 Feb 2018 03:10 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 23 |

##### Top fa

[2018-02-10 04:36] fejta-bot opened #59690 "Failure cluster [615023...] failed 79 builds, 43 jobs, and 1 tests over 1 days"
### Failure cluster [615023c3e7cfbdaf07df](https://go.k8s.io/triage#615023c3e7cfbdaf07df)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    43 jobs failed,    79 builds failed.
Failure stats cover 1 day time range '9 Feb 2018 03:10 UTC' to '10 Feb 2018 03:10 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Deferred TearDown | 43

[2018-02-10 05:12] pineking commented on #59631
@terryKing1992 this is the similar result as the limit set to 0.
a workaround is to use env to tell nvidia-container-runtime not to expose the GPU
https://github.com/kubernetes/kubernetes/issues/59629#issuecomment-364444680

[2018-02-10 05:15] liggitt commented on #59684
Correct. That is working as intended, since specifying resourceVersion=0 removes the ability of the API server to return a continue token pinned at a particular resource version (since that would be in conflict with the resourceVersion you specified.

/close

[2018-02-10 05:15] #59684 closed

[2018-02-10 05:23] liggitt commented on #59596
it's debatable which resources are included in the 'all' category. if @kubernetes/sig-apps-api-reviews determines this should be included (based on the criteria at https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all) it can be controlled by the controllerrevision rest storage. It seems like historical revisi

[2018-02-10 05:30] vikaschoudhary16 commented on #59488
@RenaudWasTaken https://github.com/thtanaka/kubernetes/blob/master/docs/devel/testing.md#unit-tests

[2018-02-10 06:35] m1093782566 commented on #59507
@rramkumar1

Make your idea work seems a lot of work. In each sync loop, Kube-proxy get service/endpoints states after applying changes - do you remember the PR #52528. So, we have no way to know "what service is deleted".

Apart from Cluster IP, we also create IPVS services for NodeIP, external LB IP and Load Balancer ingress IP.

[2018-02-10 06:53] xiaolanz commented on #59596
What does "unrecoverable" mean?

[2018-02-10 07:21] #59538 closed

[2018-02-10 07:28] pineking commented on #59629
the comment https://github.com/kubernetes/kubernetes/issues/59629#issuecomment-364452636 is not working as expected. device plugin do not have chance to invoke `Allocate` func when the limit of `nvidia.com/gpu` == 0, https://github.com/NVIDIA/k8s-device-plugin/blob/v1.9/server.go#L147 , since the code in  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/devicemanager/manager.go#

[2018-02-10 09:27] pires commented on #58541
It was cherry-picked in 1.9.3.

[2018-02-10 09:36] tiukhtinvladimir opened #59699 "Kubelet does not update cni config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubelet does not update cni configuration file

**What you expected to happen**:
Kubelet updates cni configuration file

**Anything else we need to know?**:
No one node in cluster is working. But api server anyway shows node status as READY

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- OS (e.g.

[2018-02-10 11:52] grantcurell commented on #59680
I haven't had the chance to look into why, but turning off SELinux fixed the problem.

[2018-02-10 12:43] christianhuening commented on #40442
Hm i am seeing this with K8s `1.9.2` on the latest stable CoreOS version (CoreOS 1632.2.1 (Ladybug)   4.14.16-coreos)

[2018-02-10 12:45] xiaods commented on #55368
/close

[2018-02-10 12:45] #55368 closed

[2018-02-10 14:29] chengyli commented on #59112
We saw similar problem after kubernetes was upgraded from 1.6 to 1.7, and it seems that the container is using the hosts file from `/var/lib/docker/containers/<pause-container-id>/hosts` but not the hosts of pod `/var/kubelet/pods/<pod-id>/etc-hosts`.

[code]

Version information,
kubernetes: v1.7.4
OS: CentOS 7.3
Docker: 1.12.6

[2018-02-10 14:32] tiukhtinvladimir commented on #59699
/node

[2018-02-10 16:21] deitch commented on #41881
I, too, would be happy to do a PR, but only if someone can point me into what is needed for the spec to change and then the code, and more importantly that it is supported in principle.

[2018-02-10 18:32] cdenneen commented on #30518
Currently type=LoadBalancer will create classic ELB. Is there plan for that to work and create ALB instead? (elbv2)? Or is the plan to create a `Deployment` and no longer a `Service`? seems a bit confusing if that is the direction.

[2018-02-10 19:01] ivange94 commented on #59124
Hi I'm new to kubernetes but eager to contribute. I think this will be a good first issue for me but I'll need some guide on how to proceed
I will need the first two points explained and also which file I'm supposed to be making my changes to.

[2018-02-10 19:06] ivange94 commented on #59124
Hi I'm new to kubernetes but eager to contribute. I think this will be a good first issue for me but I'll need some guide on how to proceed
I will need the first two points explained and also which file I'm supposed to be making my changes to.

[2018-02-10 20:27] wojtek-t commented on #46763
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-10 21:23] liggitt commented on #44703
a few issues with this:
1. the authorization attributes aren't mutable
2. there could be multiple rules that allowed with different selectors... so the structure would have to accumulate N possible selectors to evaluate, any of which could allow the request
3. selector information is not part of user info or authentication, it's either part of the request attributes or would be part of the authori

[2018-02-10 23:15] phsiao commented on #15180
My attempt to support this is in PR #59705, would appreciate comments and reviews.

[2018-02-10 23:17] grantcurell commented on #59680
/sig cluster-lifecycle

[2018-02-11 02:06] wanghaoran1988 commented on #51742
/remove-lifecycle rotten
/remove-lifecycle stale

[2018-02-11 02:24] mkumatag commented on #44325
/close

[2018-02-11 02:24] #44325 closed

[2018-02-11 02:56] wanghaoran1988 commented on #59555
We have [scheduler policy config](https://github.com/kubernetes/kubernetes/blob/master/examples/scheduler-policy-config.json) now, what you say is more like multiple policy in a single scheduler.

/cc @kubernetes/sig-scheduling-misc

[2018-02-11 03:05] wackxu commented on #59679
`storageclass` does not use the cache, instead, they query "default" from the informer cache every request.

[2018-02-11 04:17] jiaxuanzhou commented on #59662
@m1093782566 杜总活儿好啊，需要帮忙么，还有这么多

[2018-02-11 04:40] #58366 closed

[2018-02-11 04:42] m1093782566 commented on #59662
@jiaxuanzhou 注意影响

[2018-02-11 05:01] kargakis commented on #51742
@kubernetes/sig-cli-feature-requests

[2018-02-11 05:50] YanjieGao opened #59717 "cadvisor can't get container label & customize config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Hope to get container level label & gpu metrics from cavisor. Kubelet build-in cadvisor can't get container label & no entrypoint to config customize configuration for cadvisor
**What you expected to happen**:
Kubelet build-in cadvisor could report container customize labels
could config cadvisor get gpu metrics.
**How to

[2018-02-11 06:10] YanjieGao commented on #59717
/sig cadvisor

[2018-02-11 06:19] wgliang commented on #59555
/assign @k82cn

[2018-02-11 06:20] wanghaoran1988 commented on #17130
@soltysh Did you start working on this? I'm glad to help if you don't have time doing this.

[2018-02-11 06:28] jiaxuanzhou commented on #59662
@m1093782566 :)

[2018-02-11 06:35] feiskyer commented on #43287
@djsly PR has sent out in #59716 and hyperkube image has been pushed to `feisky/hyperkube-amd64:v1.10.0-alpha.3-527-g52a7aef`. Please have a try and let me know if you have any problems.

[2018-02-11 07:35] m1093782566 commented on #57609
/open

[2018-02-11 07:36] m1093782566 commented on #57609
/re-open

[2018-02-11 07:43] jejer commented on #41185
reproduced in kubernetes 1.9.2
procedure:
1. check connecting api-server "ss -np|grep kubelet|grep 8443"
2. pause api-server on openstack dashboard
3. watch "ss -np|grep kubelet|grep 8443"

[2018-02-11 08:23] terryKing1992 commented on #59631
@pineking i will have a try, thanks for your reply~

[2018-02-11 08:41] #49008 closed

[2018-02-11 08:43] nikhita commented on #50248
/remove-lifecycle rotten

[2018-02-11 09:05] dixudx commented on #51269
/close

[2018-02-11 09:05] #51269 closed

[2018-02-11 09:18] kasheemlew commented on #49929
/close

[2018-02-11 09:18] #49929 closed

[2018-02-11 09:49] Lion-Wei commented on #59551
I can help fix this problem
/self-assign

[2018-02-11 10:04] #49503 closed

[2018-02-11 11:05] nikhita commented on #59586
The flaky test is fixed in https://github.com/kubernetes/kubernetes/pull/59594.

[2018-02-11 11:50] martinmosegaard commented on #59658
Maybe related to https://github.com/kubernetes/kubernetes/issues/57198

[2018-02-11 13:03] #56556 closed

[2018-02-11 14:30] ReSearchITEng commented on #51462
/remove-lifecycle rotten

[2018-02-11 14:35] #51527 closed

[2018-02-11 14:37] ikruglov opened #59729 "kube-scheduler defaults --lead-elect to false whereas kube-controller-manager defaults to true"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[Building High-Availability Clusters](https://kubernetes.io/docs/admin/high-availability/building/) docs recommend using '--leader-elect' to have HA setup for kube-scheduler and kube-controller-manager. However, these two components approach differently what is default value for the flag. [kube-controller-manager sets it

[2018-02-11 14:57] ikruglov commented on #59729
@kubernetes/sig-api-machinery-bug

not sure I picked right SIG

[2018-02-11 15:22] yue9944882 commented on #59585
note that it is `TestCascadingDeletion` is failing

[2018-02-11 15:52] ikruglov commented on #59729
/sig api-machinery

[2018-02-11 16:52] mikebrow commented on #51288
/remove-lifecycle rotten

[2018-02-11 17:19] sttts commented on #59124
Here is a good example of how to start a realistic kube-apiserver in integration tests: https://github.com/kubernetes/kubernetes/blob/master/test/integration/master/kube_apiserver_test.go#L34.

[2018-02-11 17:22] sttts commented on #59124
"Verifies that it can remove the broken webhook." sounds dangerous. The apiserver should come up and it should be possible to remove a webhook via the API. But removing a potentially broken (or intentionally DoS'ed) webhook asks for security attacks.

[2018-02-11 17:50] thedch commented on #51641
/remove-lifecycle rotten

[2018-02-11 19:30] leogdiniz commented on #57798
Hi @mattjmcnaughton. I work with @wmarra.
I'll see if he can share the autoscaling information.

What I know is that we are using EC2 auto-scaling to add and remove instances from the cluster.
Sometimes when instances are removed from the cluster and Kubernetes removes the nodes all the running pods losses internet connection for around 15 seconds.
It happens to all pods. Not only to the ones that

[2018-02-11 19:45] #52142 closed

[2018-02-11 21:07] wittlesouth commented on #58908
Unfortunately, I can't do more to help triage/explain this. In addition to this problem, I later discovered that I was unable to pass traffic on the cluster network in some cases when using DNS names in the cluster namespace. This seemed like a separate bug. Also, annoyingly, I was unable to send traffic to my local network, which seemed actually to be a "feature" of Calico's default configuration

[2018-02-11 21:13] wittlesouth commented on #58908
One last comment responding to @caseydavenport's comment above. I agree that Kubernetes and Calico should have the same definition for the pool of pod network IPs. I thought I had addressed this by modifying the default Calico pool in the Calico 3.0.1 yaml when I deployed it. Specifically, I copied the Calico 3.0.1 yaml, and change the following:

[code]

I expected from the Calico docs that this

[2018-02-11 22:00] phsiao opened #59733 "kubectl port-forward should resolve service port to target port"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In reviewing #59705, it is suggested that port-forward for a service resource should translate from service port to targetPort if a user specify a service port to map.  This aligns with the goal of the PR (#59705) to make port-forward easier to use without manual steps to gather all the information, but we agree it d

[2018-02-11 22:01] phsiao commented on #15180
Want to bring #59733 to the attention of people who are interested in this issue.

[2018-02-11 22:02] phsiao commented on #59733
/sig cli

[2018-02-11 22:02] liggitt commented on #59733
https://github.com/kubernetes/kubernetes/issues/15180 Is already open to support port-forward for service

[2018-02-11 22:05] phsiao commented on #59733
My understanding of reading the discussions for #15180 is people are asking for eliminating lookup of pod names, and not necessarily target port lookup.  I personally think these two (lookup pod name, and lookup target port) can be handled separately.

[2018-02-11 22:29] antoineco commented on #15077
/remove-lifecycle rotten

[2018-02-11 22:38] antoineco commented on #15050
/remove-lifecycle rotten

[2018-02-11 22:54] liggitt commented on #59733
Probably so, but target port lookup is a fundamental part of services, so it goes hand in hand.

I disagree. Once port forwarding to a service is supported, the behavior becomes something we have to maintain, so we should make sure it is what we want.

[2018-02-11 23:08] dims commented on #59729
/assign @dims

[2018-02-11 23:37] phsiao commented on #59733
I think a reasonable algorithm would be like this for port mapping translation:

[code]

then continue with the processing.

/cc @liggitt

[2018-02-12 01:17] hzxuzhonghu commented on #52064
/close

[2018-02-12 01:17] #52064 closed

[2018-02-12 01:28] therc commented on #21493
The problem with only adding an HTTP/2 variant, for users of gRPC, is that the latter always returns 200 as the HTTP status in the headers, as long as the server is up. The errors, whether they're raised by the server's own code or from its server-side gRPC library, are reflected in two trailers, `grpc-status` and `grpc-message`.
There are thus two options:
1. add fields so people can inspect trai

[2018-02-12 02:19] yue9944882 commented on #47057
/remove-lifecycle stale
Related #38028
This is also caused by SIGPIPE on journald restart.

[2018-02-12 02:35] feiskyer opened #59736 "Improve azure disk operations for vm and vmss"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

VirtualMachineScaleSetVM and VirtualMachine are different data structures (because of different API versions), so the disk attach operation seems duplicate between vm and vmss. That means although disk operations are in same logic, some duplication are still required now.

They should use same api version in the futu

[2018-02-12 02:43] andyzhangx commented on #59736
@khenidak
I have checked with @feiskyer, currently we can’t merge, e.g. following two structs are different since they using different sdk-for-azure versions.
[code]

While in the end when sdk-for-azure version is upgraded, above two versions should be same and at that time,  we should merge functions like ‘AttachDisk’, ‘DetachDiskByName’, 'GetDiskLun', GetNextDiskLun, DisksAreAttached

[2018-02-12 02:48] andyxning commented on #5774
/sub

[2018-02-12 03:34] andyzhangx opened #59738 "fix the error prone account creation method of blob disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Original account creation method of blob disk would create account name like `pvc388263479001`, `pvc388263479002` which is error prone, need to use a new way to generate new storage accounts for blob disk

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else w

[2018-02-12 04:17] #3861 closed

[2018-02-12 04:17] #4950 closed

[2018-02-12 04:17] #7437 closed

[2018-02-12 04:17] #7707 closed

[2018-02-12 04:17] #3649 closed

[2018-02-12 04:17] #7709 closed

[2018-02-12 04:17] #7708 closed

[2018-02-12 04:17] #7710 closed

[2018-02-12 05:09] JasonShin commented on #59614
I'm closing this because ExternalName approach works

[2018-02-12 05:09] #59614 closed

[2018-02-12 05:18] #8517 closed

[2018-02-12 05:18] #7855 closed

[2018-02-12 05:18] #8268 closed

[2018-02-12 05:18] #9731 closed

[2018-02-12 05:18] #4931 closed

[2018-02-12 05:18] #8551 closed

[2018-02-12 05:18] #10432 closed

[2018-02-12 05:47] mdianjun opened #59741 "Kubelet doesn't release ip of the pod which has been deleted when kubelet is restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There is more allocated ips of one node in calico-etcd then the actual number of pods(or number of routes) on that node.

**What you expected to happen**:
The number of allocated ips of one node in calico-etcd is the same as the number of the pods in that node.

**How to reproduce it (as minimally and precisely as possible)**:
1. us

[2018-02-12 05:55] feiskyer opened #59742 "Invalid capacity 0 on windows image filesystem"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

kubectl describe nodes <windows-node>

[code]

**What you expected to happen**:

Kubelet should get correct stats on windows nodes.

**How to reproduce it (as minimally and precisely as possible)**:

Create a cluster with windows nodes and run `kubectl describe nodes <node-name>`.

**Anything else we need to know?**:

**Environment

[2018-02-12 06:19] #9553 closed

[2018-02-12 06:19] #6433 closed

[2018-02-12 06:19] #8075 closed

[2018-02-12 06:19] #12152 closed

[2018-02-12 06:19] #3279 closed

[2018-02-12 06:19] #10209 closed

[2018-02-12 06:19] #10135 closed

[2018-02-12 06:44] cloudbow commented on #30645
Kubectl should have it if I want to like read from the file system and upload things to the artifact server..

[2018-02-12 06:52] cblecker commented on #53817
/remove-lifecycle rotten

[2018-02-12 07:20] #13686 closed

[2018-02-12 07:20] #13326 closed

[2018-02-12 07:20] #13328 closed

[2018-02-12 07:20] #13399 closed

[2018-02-12 07:20] #13845 closed

[2018-02-12 07:20] #14029 closed

[2018-02-12 07:20] #11663 closed

[2018-02-12 07:34] lalomartins commented on #21493
Those are valid points but `as long as the server is up` tests the most basic case of a health check, no? Maybe my database setup is busted or whatever else… but as long as the process is alive and not overloaded and not in some sort of deadlock, it will respond with 200 (or rather, a no-header response, which I understand is the equivalent of a 200?) to a GET request. That's good enough for my us

[2018-02-12 07:51] sttts commented on #49208
/remove-lifecycle rotten

[2018-02-12 07:54] sttts commented on #49472
/remove-lifecycle rotten

[2018-02-12 07:54] feiskyer opened #59746 "No target backends present for the internal load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When creating an internal loadbalancer, e.g.

[code]

Then wait a while, and no target backends present for the internal load balancer even after 15 mins.

![](https://user-images.githubusercontent.com/10303889/36070528-54aa9848-0f22-11e8-834b-7401a2fa7611.png)

Refer https://github.com/Azure/acs-engine/issues/2151#issue

[2018-02-12 08:03] maojiawei commented on #59553
I found it.In kubeadm 1.8,we can use `kubeadm init--config=config file path`.
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-config/

[2018-02-12 08:14] DreadPirateShawn commented on #55421
/remove-lifecycle stale

Keeping this alive, still occurs and doesn't look like it has been triaged yet.

[2018-02-12 08:14] DreadPirateShawn commented on #55427
/remove-lifecycle stale

Keeping this alive, still occurs and doesn't look like it has been triaged yet.

[2018-02-12 08:21] #14133 closed

[2018-02-12 08:21] #12991 closed

[2018-02-12 08:21] #14280 closed

[2018-02-12 08:33] tossmilestone opened #59748 "Reuse the `min*Nodes` slices in order to save GC time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Fix the following `TODO` :
https://github.com/kubernetes/kubernetes/blob/69324f90e602ca088391f22221301beaf990984e/pkg/scheduler/core/generic_scheduler.go#L680-L681

The basic logic in `pickOneNodeForPreemption` of using the `min*Nodes` is continuing reducing the nodes slices through `minPDBViolatingNodes`, `minPriorit

[2018-02-12 08:34] tossmilestone commented on #59748
/sig-scheduling

[2018-02-12 08:37] lcfang commented on #59521
/close

[2018-02-12 08:37] #59521 closed

[2018-02-12 09:22] #13645 closed

[2018-02-12 09:22] #14274 closed

[2018-02-12 09:22] #13023 closed

[2018-02-12 09:22] #13407 closed

[2018-02-12 09:25] mighq commented on #57325
@liggitt you are right, in general it is not very nice to let anyone use any cert, even if they don't have access to private key.

Depends on the use case. Our is, that we are trying to let users from multiple namespaces use set of predefined certificates with wildcard domains. Under those domains users can create the Ingress FQDNs. We obviously don't want to let the private keys leak.

[2018-02-12 09:29] MCLDG commented on #55433
This seems to be fixed. With the following podspec I receive an error message asking to specify cpu:

[code]

With an updated podspec specifying cpu, the pod is created successfully:
[code]

[code]

[2018-02-12 09:36] andyzhangx commented on #59562
you may take [acs-engine](https://github.com/Azure/acs-engine) which runs kubelet on Azure as an example, the kubelet config would be like following:
https://github.com/andyzhangx/Demo/blob/master/acs-engine/deployment/windows/kubeletstart.ps1

[2018-02-12 09:40] manuperera commented on #52096
There are any news about the solution of this problem?

[2018-02-12 10:23] #14324 closed

[2018-02-12 10:23] #15085 closed

[2018-02-12 10:23] #15756 closed

[2018-02-12 10:23] #15669 closed

[2018-02-12 10:23] #14193 closed

[2018-02-12 10:41] joelittlejohn commented on #23483
Is there currently _any_ way to re-use an existing ELB for a k8s service? I also came across #10323 but that seems to have been closed with a change for GCE only.

We have a use-case which I don't think has been considered yet.

In order to publicly expose services to the internet in China you use a license called an ICP. The ICP needs to list specific IP addresses that your business will use, so

[2018-02-12 10:51] molerus opened #59751 "Pods can be easily escaped from using kubectl"
/kind bug

**What happened**:
If pod creation request doesn't contain k8s service account then it is given default one which is good for the namespace in which it runs. One can download and run kubectl from within a pod/container and execute commands against other pods within the namespace. This on its own is peculiar as one pod shouldn't probably have such permissions (at least not by default), b

[2018-02-12 10:59] molerus commented on #59751
/sig auth

[2018-02-12 11:24] #15580 closed

[2018-02-12 11:24] #15746 closed

[2018-02-12 11:24] #16172 closed

[2018-02-12 11:24] #8351 closed

[2018-02-12 11:24] #12856 closed

[2018-02-12 11:24] #15859 closed

[2018-02-12 11:24] #16374 closed

[2018-02-12 11:24] #16847 closed

[2018-02-12 11:24] #12290 closed

[2018-02-12 11:29] nicolaferraro commented on #59343
@kubernetes/sig-apps-feature-requests is this something that can be take into consideration?

[2018-02-12 12:23] phsiao commented on #59751
It is not required to grant any service account in user namespace permission.   How do you set up your authorization?   Do you use RBAC?

[2018-02-12 12:25] #13567 closed

[2018-02-12 12:25] #9920 closed

[2018-02-12 12:25] #12751 closed

[2018-02-12 12:25] #17437 closed

[2018-02-12 12:25] #14848 closed

[2018-02-12 12:44] kabakaev commented on #55051
I suppose, this issue can be closed, because the evicted pods deletion can be controlled through settings in kube-controller-manager.

For those k8s users who hit the kube-apiserver or etcd performance issues due to too many evicted pods, i would recommend updating the kube-controller-manager config to set `--terminated-pod-gc-threshold 100` or similar small value. The default GC threshold is 1250

[2018-02-12 12:46] #59746 closed

[2018-02-12 12:54] rfranzke commented on #55051
Thanks @kabakaev for pointing that out. Didn't know that this can be configured. Let's close the ticket then.

[2018-02-12 12:54] #55051 closed

[2018-02-12 13:13] #50314 closed

[2018-02-12 13:15] x13n commented on #50599
We're not using nanny 2.0, so closing.
/close

[2018-02-12 13:15] #50599 closed

[2018-02-12 13:18] liggitt commented on #59751
Agreed. Default RBAC policy does not grant permissions to the default service accounts. Check your cluster setup to make sure you are using RBAC, and that nothing in your cluster setup is granting additional non-default permissions

/close

[2018-02-12 13:18] #59751 closed

[2018-02-12 13:26] #14602 closed

[2018-02-12 13:26] #17391 closed

[2018-02-12 13:26] #17594 closed

[2018-02-12 13:26] mfaizanse opened #59755 "Unable to connect to SQL-lite db mounted on AzureFile/AzureDisks [SQLITE_BUSY: database is locked]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/azure
/storage

**What happened**:
I have a application which uses SQL-lite db to store/retrieve data inside the container. For providing persistent storage for this db file I tried Azure File and also Azure Disks using the storage classes for these. The problem is that the application fails to connect/query the SQL-lite db file throwing er

[2018-02-12 13:26] #9445 closed

[2018-02-12 13:26] #11431 closed

[2018-02-12 13:26] #5341 closed

[2018-02-12 13:26] mfaizanse commented on #59755
/kind bug
/azure
/storage

[2018-02-12 13:26] fasaxc commented on #59656
I think the same fix used in the iptables version should work, it's fairly static:

- if KUBE-MASQ is set, ACCEPT
- if to/from the cluster IP CIDR, ACCEPT

[2018-02-12 13:27] mfaizanse commented on #59755
/sig azure

[2018-02-12 13:27] mfaizanse commented on #59755
/sig storage

[2018-02-12 13:28] deads2k commented on #59676
apimachinery owns a lot of infrastructure, but the individual workload controllers are @kubernetes/sig-apps-bugs

[2018-02-12 13:57] notxcain commented on #47131
We see something similar when doing hard poweroff of a VM on which one of etcd nodes is running. K8s version 1.9.1

[2018-02-12 14:05] errordeveloper commented on #36213
@dkirrane the solution is to use systemd drop-in.

[2018-02-12 14:12] teddythetwig commented on #59051
Hi @DinaWork we also just ran into this issue after one of our applications was hit with a large amount of requests over a short period of time. Did you figure out a way to clear out the fluentd buffer?

I can confirm as well that it only happens to one of the apps running in our GKE cluster.

[2018-02-12 14:27] #18922 closed

[2018-02-12 14:27] #18945 closed

[2018-02-12 14:27] #18769 closed

[2018-02-12 14:42] DinaWork commented on #59051
@teddythetwig

this was my solution
https://stackoverflow.com/questions/48442077/log-flood-after-master-upgrade-from-1-6-13-gke-0-to-1-7-11-gke-1

it seems it wasnt related to the large amount of logs

[2018-02-12 15:28] #19032 closed

[2018-02-12 15:28] #14561 closed

[2018-02-12 15:28] #19496 closed

[2018-02-12 15:28] #13846 closed

[2018-02-12 15:28] #19384 closed

[2018-02-12 15:28] #10983 closed

[2018-02-12 15:32] dims commented on #59729
/sig scheduling

[2018-02-12 15:33] therc commented on #21493
@lalomartins that's good enough for a liveness check, but it does not work well for readiness checks. Servers can be up, but unavailable for a number of reasons:

 * they are still in setup phase
 * they are in pushback, because they received too many requests or very large ones
 * they are processing the remaining in-flight requests, after which they will terminate on their own (this is different

[2018-02-12 15:34] sttts commented on #59483
/cc @hzxuzhonghu @stewart-yu

[2018-02-12 15:36] crassirostris commented on #59321
See https://github.com/kubernetes/kubernetes/issues/3595 for more information. In short, you should add an init-container to set this limit for you. There's a number of solutions in the comments

[2018-02-12 15:36] #59321 closed

[2018-02-12 15:49] adam-sandor commented on #58748
You are right, I can't reproduce this problem anymore either. It was probably a more complicated set of circumstances that caused my original issue.
I also just realised that if everything goes as designed `concurrencyPolicy: Forbid` will block a CronJob forever if there is some problem with the currently executing job. We'll probably switch to `Replace` to prevent our jobs from getting stuck.

[2018-02-12 15:49] #58748 closed

[2018-02-12 16:00] liggitt commented on #59586
/close

[2018-02-12 16:00] #59586 closed

[2018-02-12 16:12] h4ckroot commented on #59321
@crassirostris  We have already tried adding the init-container, but it is not making any effect !. Also, I believe that init-container are acting on the host, right ?

[2018-02-12 16:15] alexgiuvara commented on #42282
You have to delete the service first:
`kubectl delete svc my-nginx`

[2018-02-12 16:16] errordeveloper commented on #31307
Sounds like this is going to rot... Would be great to see a comment from @kubernetes/sig-network-feature-requests.

[2018-02-12 16:29] liggitt commented on #59733
also consider targetPort can be a string name, which requires lookup in the selected pod

[2018-02-12 16:30] #19521 closed

[2018-02-12 16:30] #19656 closed

[2018-02-12 16:30] #19894 closed

[2018-02-12 16:33] vladimirvivien commented on #58633
@linyouchong I coudn't assign this 20 days ago... But I will assign to @Lion-Wei

[2018-02-12 16:34] vladimirvivien commented on #58633
/assign @Lion-Wei

[2018-02-12 16:34] vladimirvivien commented on #58633
@linyouchong you are welcome to review..  thanks!

[2018-02-12 16:40] tsandall opened #59759 "kubectl exec fails when ValidatingWebhookConfiguration matches pods/exec resource"
/kind bug

**What happened**: apiserver returns InternalError for `kubectl exec` when ValidatingWebhookConfiguration matches pods/exec resource.

**What you expected to happen**: Webhook should be invoked and admission control decision should be enforced on CONNECT operation

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

[code]

[code]

**Environment**:

[code]

[2018-02-12 16:41] tsandall commented on #59759
/sig api-machinery

[2018-02-12 16:47] phsiao commented on #59733
Yep, I have included that in my quick-n-dirty poc.  If you are interested it is available here https://github.com/kubernetes/kubernetes/commit/f59b1f9affbbe14df8bf3cb236aa770409148bfd.

[2018-02-12 17:00] shyamjvs opened #59760 "Introduce apiserver profile-gathering to k8s performance testing"
Currently, we're collecting different kinds of resource-usage/performance metrics as part of our performance testing, which includes different things like API-responsiveness ([e.g](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10783/artifacts/APIResponsiveness_density_2018-02-12T15:24:27Z.json)), control plane metrics ([e.g](https://storage.googleapis

[2018-02-12 17:02] crassirostris commented on #59321
Sure, init-container is for a different problem, with some kernel setting

In your case, you should modify the image to change the ulimit from inside of the container before starting ES. Still, the solution is present in the issue I mentioned

[2018-02-12 17:03] nicksardo commented on #52980
/close

[2018-02-12 17:03] #52980 closed

[2018-02-12 17:08] xiang90 commented on #47131
This problem should be solved or at least mitigated by https://github.com/kubernetes/kubernetes/pull/57160. The PR bumps both gRPC and etcd client to fix the timeout problem caused by connection reset and balancing.

I am closing out this issue. If anyone still see the timeout problem in a release (after 1.10) with https://github.com/kubernetes/kubernetes/pull/57160, please create a new issue with

[2018-02-12 17:08] #47131 closed

[2018-02-12 17:11] phsiao commented on #59733
/cc @jbeda who might be interested in this one.

[2018-02-12 17:20] crassirostris commented on #58837
Will build/push it once https://github.com/kubernetes/kubernetes/pull/59665 is merged

[2018-02-12 17:28] sreetummidi commented on #59496
Hi @ericchiang ,

Enterprise providers like ADFS , Okta don't support this as part of the user schema.  There is the concept of whether a use is active/enabled which is not the same as email verified always.  If a user is not active, a token should not be minted in the first place.

I am trying to understand what additional security does email_verified provided in the context of entire identity pr

[2018-02-12 17:30] #19125 closed

[2018-02-12 17:30] #18649 closed

[2018-02-12 17:30] #18675 closed

[2018-02-12 17:30] #19876 closed

[2018-02-12 17:30] #20104 closed

[2018-02-12 17:30] #18679 closed

[2018-02-12 17:30] #20122 closed

[2018-02-12 17:45] ericchiang commented on #59496
Okta supports `email_verified`, but it looks like ADFS doesn't:

https://developer.okta.com/docs/api/resources/oidc#scope-dependent-claims-not-always-returned
https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration

We don't know when the provider is self-service or not. On our end, makes the client logic uniform and less error prone instead of trying to reason about the int

[2018-02-12 17:59] crassirostris commented on #58785
I've experienced problems with updating addons without version in the name. Please verify it always works correctly before doing the work

[2018-02-12 18:02] RenaudWasTaken commented on #56649
/area hw-accelerators

[2018-02-12 18:31] #17501 closed

[2018-02-12 18:31] #19161 closed

[2018-02-12 18:31] #20250 closed

[2018-02-12 18:31] #16100 closed

[2018-02-12 18:31] #18892 closed

[2018-02-12 18:31] #19654 closed

[2018-02-12 18:31] #20256 closed

[2018-02-12 18:52] #23092 closed

[2018-02-12 18:54] discordianfish commented on #55397
/remove-lifecycle stale
/lifecycle freeze

[2018-02-12 18:59] caseydavenport commented on #31307
HostPort can be implemented via the containernetworking/plugins `portmap` plugin, and a number of CNI implementations make use of it now.

There's still the question of "should k8s hold the port?". The last time we discussed this, we agreed it was probably OK for the kubelet not to hold the port, leaving that up to the implementation.

So, I think this can be closed.

[2018-02-12 19:07] sreetummidi commented on #59496
More than 80% of the enterprise customers of Cloud Foundry are using either AD/ADFS . This becomes a breaking change.  UAA can add a email_verified claim. However its going to be of little value if the underlying AD doesn't propagate that.  My two cents is this check doesn't make sense in an enterprise set up

[2018-02-12 19:12] shyamjvs commented on #58154
That sounds as a good starting point. And I agree, we can adjust it later as required. Thanks @bsalamat.

[2018-02-12 19:12] mbohlool commented on #50383
There are two places to put parameters. One in the operation itself and one it the Path section. The later one is a common set of parameters that applies to all operations. I checked "/api/v1/namespaces/{namespace}/pods/{name}" and it has name and namespace path parameters as common parameters. I am going to close this. Please reopen if you see any other missing parameters.

[2018-02-12 19:12] #50383 closed

[2018-02-12 19:15] shyamjvs commented on #59760
With all those above changes, we now have profiles available for our load and density tests under `artifacts/profiles` directory on GCS. For e.g, see - http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10786/artifacts/profiles/

[2018-02-12 19:15] shyamjvs commented on #59760
cc @wojtek-t @porridge @gmarek

[2018-02-12 19:17] shyamjvs commented on #59760
I'm closing this issue.. we can reopen it in future if we need more.

/close

[2018-02-12 19:17] #59760 closed

[2018-02-12 19:32] #16051 closed

[2018-02-12 19:32] #20933 closed

[2018-02-12 19:32] #20675 closed

[2018-02-12 19:32] #20841 closed

[2018-02-12 19:42] ravisantoshgudimetla commented on #57471
@bsalamat In the self-hosting kubernetes, should the tool like kube-adm need to add system-node-priority to etcd, apiserver pods etc, so that scheduler won't preempt them?

[2018-02-12 19:47] krzyzacy opened #59762 "[job failure] ci-kubernetes-e2e-kubeadm-gce"
/priority failing-test
/kind bug
/status approved-for-milestone

@kubernetes/sig-cluster-lifecycle-test-failures

https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce
the job is on the [master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking) and been failing to bring up the cluster.

cc @jdumars @luxas @jessicaochen

[2018-02-12 19:47] krzyzacy commented on #59762
/sig cluster-lifecycle

[2018-02-12 19:49] #48385 closed

[2018-02-12 20:01] krzyzacy opened #59763 "[e2e test failure] Volume metrics PVController"
from https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Volume%20metrics%20PVController

Failed in 5 Jobs ▼
 24 ci-kubernetes-e2e-gke-ubuntustable1-k8sdev-serial ►
 23 ci-kubernetes-e2e-gci-gke-serial ►
 6 ci-kubernetes-e2e-gke-cosbeta-k8sdev-soak ►
 9 ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new ►
 8 ci-kubernetes-soak-gke-gci ►
Failed in 4 Tests ▼
 70 [sig-stora

[2018-02-12 20:04] krzyzacy opened #59764 "v1.10 known issues / FAQ accumulator"
Please link to this issue or comment on this issue with known errata for the 1.10.x release. This follows what we have done for prior releases.

We will be populating the "Known Issues" section of 1.10.0 and above release notes based on this issue

cc @jdumars @calebamiles @jberkus
cc @kubernetes/kubernetes-release-managers

[2018-02-12 20:05] krzyzacy commented on #59764
/sig release

[2018-02-12 20:14] phsiao opened #59765 "Fix missing VersionedAPIPath in some fake.RESTClient tests"
In some test cases that use fake.RESTClient, the setup is missing `VersionedAPIPath` and as a result, the req path matching must match both the versioned and unversioned path.  The code would be cleaner if it is using VersionedAPIPath.

Example 1:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/attach_test.go#L219

/cc @liggitt

[2018-02-12 20:14] phsiao commented on #59765
/sig cli

[2018-02-12 20:26] jennybuckley commented on #59124
@sttts
I assume that "Verifies that it can remove the broken webhook." is just to ensure that no webhook can be registered which could potentially deny its own (or another webhook's) deletion.

Broken webhooks definitely shouldn't be treated differently in terms of determining who can delete them, but validation should probably prevent webhooks from applying to webhooks, wildcard selectors should

[2018-02-12 20:30] krzyzacy opened #59766 "[job failure] periodic-kubernetes-e2e-kubeadm-gce-selfhosting"
/priority failing-test
/kind bug
/status approved-for-milestone
/sig cluster-lifecycle

https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-selfhosting
the job is on the [master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking) and been failing to bring up the cluster.

cc @jdumars @luxas @jessicaochen

[2018-02-12 20:33] #10288 closed

[2018-02-12 20:33] #17705 closed

[2018-02-12 20:33] #21123 closed

[2018-02-12 20:36] munnerz commented on #59154
I've started putting this together and have a working prototype. I'll be making a PR shortly to get some discussion going.

We're likely going to need to add some new comment tags so we can set a string regex etc. for fields. How flexible do we want to be with this? Should the output of this tool serve as a basis to build your CR upon, or should we be using it in a `generate`/`validate-in-ci` fash

[2018-02-12 21:34] #15683 closed

[2018-02-12 21:34] #21289 closed

[2018-02-12 21:34] #20813 closed

[2018-02-12 21:34] #21336 closed

[2018-02-12 21:34] #15554 closed

[2018-02-12 21:34] #21376 closed

[2018-02-12 22:27] mtaufen commented on #55645
This work was completed across #55648 and #56995

[2018-02-12 22:29] mtaufen commented on #55645
/remove-lifecycle stale

[2018-02-12 22:35] #21416 closed

[2018-02-12 22:35] #14532 closed

[2018-02-12 22:35] #17184 closed

[2018-02-12 22:35] #21595 closed

[2018-02-12 22:35] #15531 closed

[2018-02-12 22:39] munnerz commented on #59154
I've opened https://github.com/kubernetes/kube-openapi/pull/37 which adds support for generating the openapiv3 json spec. It could easily be reworked into something re-usable to build a fully-fledged CRD generator.

What do people think? Generating the entire resource could be pretty useful, especially if the generator could then be run by `generate-groups.sh` (or its successor).

Should this turn

[2018-02-12 22:45] oomichi opened #59774 "Fail to run comformance scheduling tests on env where old e2e-tests namespace exists"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I tried to run conformance test, but I stopped it during the operation.
The created namespace('e2e-tests-pods-bjz2d' in this case) remained on the environment but I didn't recognized that.
Then I tried to run conformance test again, then 3 scheduling tests were failed like:
``
  Expected error:
      <*errors.errorString

[2018-02-12 22:57] munnerz commented on #58682
/cc

[2018-02-12 23:01] enj opened #59775 "Consider removing UID mutation from request.context"
Injecting a UID into the context of a request via `WithUID` will cause it to override the UID of an object (nothing does this currently):

https://github.com/kubernetes/kubernetes/blob/d4eaf0b6801900d2b2f80036e267a1d3d86fd3a8/staging/src/k8s.io/apiserver/pkg/registry/rest/meta.go#L28-L30

It is unclear when this would be useful or safe.  There is also concern in regards to `MutatingWebhooks` that

[2018-02-12 23:03] oomichi commented on #59774
/sig testing

[2018-02-12 23:27] frankgreco commented on #59154
In my opinion, I see the majority of uses cases for this being in the context of creating a crd resource via code. Hence, I think it makes the most sense to generate the entire crd struct (maybe using a method in my above comment). We could then place the generated crds in maybe `pkg/crds/group_name/version/crds.go`

I would love to hears other opinions :)

[2018-02-12 23:28] resouer commented on #59109
@kad Please involve me in the loop. We are working on #49964.

Including pod annotation at least in `Allocate()`, would be a potential solution we are looking at, so we can deal with topology awareness in DP.

[2018-02-12 23:28] mml commented on #59347
Related: #55453

[2018-02-12 23:30] mml commented on #55453
/remove-lifecycle stale

We need to be very clear about cases when we would export this and how it might effect health-checking (and kill-and-restart logic).  We don't want to get so clever that we hamstring our ability to kill broken processes.

[2018-02-12 23:36] #21916 closed

[2018-02-12 23:36] #21231 closed

[2018-02-12 23:37] RenaudWasTaken commented on #59109
The underlying device is re-used but not the Allocate call. An allocate call is still issued for each InitContainers and each Containers.

[2018-02-12 23:38] RenaudWasTaken commented on #59109
[Quoting @jiayingz on this btw:](https://github.com/kubernetes/kubernetes/issues/59370#issuecomment-364202287)

[2018-02-12 23:44] oomichi commented on #59774
The error happens at the following CheckTestingNSDeletedExcept() call, and I guessed this call could be removed because of the description of CheckTestingNSDeletedExcept() which seems for density and load tests.

test/e2e/scheduling/predicates.go
 87                 err := framework.CheckTestingNSDeletedExcept(cs, ns)
 88                 framework.ExpectNoError(err)

But as the following comment,

[2018-02-12 23:44] #59774 closed

[2018-02-12 23:47] phsiao commented on #59765
Did some quick scan to look for similar pattern, but could not find others.  There are other cases where req.path does not use version consistently, for example, https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/resource/get_test.go#L454-L462

[code]

but I am not sure if it is worth fixing.

[2018-02-12 23:47] cmceniry opened #59776 "Amazon LBs - make PMTUD automatic permit optional"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
From https://github.com/kubernetes/kubernetes/issues/24254, the cloud provider automatically appends ICMP Type 3 to allow for PMTUD.

**What you expected to happen**:
In the case were someone:

- someone is watching their transit paths and MTUs so that mismatches don't happen or all routing devices in between are cover

[2018-02-12 23:49] bsalamat commented on #57471
@ravisantoshgudimetla etcd, apiserver, etc usually run on the master node and the master node is marked unschedulable. So, the scheduler shouldn't preempt any pods on those nodes. Besides, those pods do not go through admission controllers AFAIK. So, even if we add priority to them, their priority won't be resolved.

[2018-02-12 23:51] cmceniry commented on #59776
/sig aws
?

[2018-02-13 00:04] phsiao commented on #59765
Here is another common pattern

[code]

[2018-02-13 00:04] MrHohn opened #59778 "[e2e ingress-gce] CleanupGCEIngressController() should not monitor irrelevant resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/area test

**What happened**:
https://k8s-testgrid.appspot.com/sig-network-gce#ingress-gce-e2e often fails on below error:
[code]

Turned out `CleanupGCEIngressController()` looks for all GCP resources for cleanup, not only the ones that are related to the specific test ingress. When tests run parallelly, it is likely to fail.

[2018-02-13 00:11] bamb00 commented on #13033
Hi, What's the status from this request?
Is this available in 1.7.x or higher?
Thanks.

[2018-02-13 00:37] #18866 closed

[2018-02-13 00:37] #22120 closed

[2018-02-13 00:37] #21700 closed

[2018-02-13 00:37] #22127 closed

[2018-02-13 00:38] #58507 closed

[2018-02-13 00:51] kad commented on #59109
@RenaudWasTaken ok. so, same device re-used it is fine, but then for Allocate calls for each initContainer or normal container, it should be way for plugin to get that information.

In respect of unifying ways how plugins are called, I think we comparing apples and oranges.
I'll look in more details on how CSI is handling it, but initial thinking is that at the time SIG-Storage designed CSI APIs,

[2018-02-13 00:55] mml commented on #55271
This will be a hard problem to fix permanently.  In all likelihood, we should stop allowing Fatalf() in kubernetes/kubernetes, but as you can see we do this to ourselves right here...

https://github.com/kubernetes/kubernetes/blob/release-1.9/cmd/kube-controller-manager/app/controllermanager.go#L155

[2018-02-13 00:56] mml commented on #55271
/kind bug

[2018-02-13 00:57] bsalamat commented on #59460
I agree with @ravisantoshgudimetla. Given that the parallelism in scheduler is done when we evaluate our predicates for each node, it makes more sense if we evaluate the effect on a larger cluster.
Giving users the option to set the number of threads is an interesting idea, but I have a feeling that almost no one would use it unless if there is a significant improvement over the current implementa

[2018-02-13 00:57] MrHohn commented on #58986
Fixed by #59313.

[2018-02-13 00:57] #58986 closed

[2018-02-13 01:35] xiangpengzhao commented on #59762
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/9579 shows:
[code]

Haven't find more clues yet. Other kubeadm jobs fail due to the same reason:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-selfhosting
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-cni-calico
https://k8s-testgrid.appspot.com/sig-clus

[2018-02-13 01:38] #22240 closed

[2018-02-13 01:38] #21479 closed

[2018-02-13 01:38] #22400 closed

[2018-02-13 01:38] #22413 closed

[2018-02-13 01:38] #20199 closed

[2018-02-13 01:38] #21881 closed

[2018-02-13 01:38] #22339 closed

[2018-02-13 01:38] #21013 closed

[2018-02-13 01:58] bsalamat commented on #45188
This issue is addressed by [this recent PR](https://github.com/kubernetes/kubernetes/pull/59363).

[2018-02-13 01:58] #45188 closed

[2018-02-13 02:25] wgliang commented on #59460
I agree with what you said, but from the actual results of our cluster, it still has some effect. So, I still recommend this parameter as an option, the default value is 16.

[2018-02-13 02:39] #22454 closed

[2018-02-13 02:39] #22739 closed

[2018-02-13 02:39] #22866 closed

[2018-02-13 02:39] #22878 closed

[2018-02-13 02:39] #22366 closed

[2018-02-13 02:39] #22858 closed

[2018-02-13 02:51] wanghaoran1988 commented on #47938
/remove-lifecycle rotten
/remove-lifecycle stale

[2018-02-13 03:03] #59738 closed

[2018-02-13 03:28] k82cn commented on #59460
We always balance configurability and complexity; "data" is a good support, and we need to make sure this is top factor of performance :).

[2018-02-13 03:40] #23044 closed

[2018-02-13 03:40] #17331 closed

[2018-02-13 03:40] #23073 closed

[2018-02-13 04:16] zmeggyesi commented on #49385
/close

[2018-02-13 04:16] #49385 closed

[2018-02-13 04:26] yue9944882 commented on #24855
Hi folks, any updates on this thread? @liggitt @soltysh

[2018-02-13 04:41] #21173 closed

[2018-02-13 04:41] #23412 closed

[2018-02-13 04:41] #23413 closed

[2018-02-13 05:42] #23849 closed

[2018-02-13 06:11] hzxuzhonghu commented on #59775
I remember see it somewhere this is used for test.

[2018-02-13 06:43] #23899 closed

[2018-02-13 06:43] #23309 closed

[2018-02-13 06:43] #23906 closed

[2018-02-13 06:43] #23927 closed

[2018-02-13 06:51] mikelorant commented on #30656
Have an alternative solution that is not specific to GCP. This does not use SSH at all and only requires kubectl working.

https://github.com/mikelorant/kubectl-exec-user

[2018-02-13 07:22] fengyd2018 opened #59783 "Error testing connection https://kubernetes.default: java.net.UnknownHostException: kubernetes.default: Name does not resolve"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

 /kind bug

**What happened**:
Enviroment:
kubernetes cluster, one master and two nodes.

Start Jenkins on kubernetes cluster.
Add kubernetes cluster to Jenkins cloud.

Input following information in "Kubernetes URL" and Test Connection:
https://kubernetes.default

Error log is printed:
Error testing connection https://kubernetes.default: j

[2018-02-13 07:29] #52464 closed

[2018-02-13 07:44] #23732 closed

[2018-02-13 07:44] #8361 closed

[2018-02-13 07:44] #4951 closed

[2018-02-13 07:44] #9689 closed

[2018-02-13 08:01] mc0e commented on #41286
/remove-lifecycle rotten

[2018-02-13 08:03] m1093782566 commented on #58443
Seems delay to v1.11 circle...

[2018-02-13 08:08] gyliu513 commented on #58443
Thanks @m1093782566 , got it.

[2018-02-13 08:18] dixudx commented on #59553
Kubernetes does not have such environment variable `KUBE_REPO_PREFIX`, which has already been removed since 1.8. Please refer to #48053 and #49018.

Correct.

/close

[2018-02-13 08:18] #59553 closed

[2018-02-13 08:28] chakri-nelluri commented on #45887
Closing this as there is no specific issue here.
/close

[2018-02-13 08:30] k82cn commented on #57002
Great! I'm going to close this issue :)

[2018-02-13 08:30] #57002 closed

[2018-02-13 08:40] krmayankk commented on #58987
/assign @krmayankk i can work on this

[2018-02-13 08:45] krmayankk commented on #59343
does this https://github.com/kubernetes/community/pull/541/files serve your purpose ? /cc @kow3ns

[2018-02-13 08:45] #23979 closed

[2018-02-13 08:51] krmayankk commented on #58146
cc @kow3ns @smarterclayton

[2018-02-13 08:52] krmayankk commented on #58004
@kow3ns is this fixed ?

[2018-02-13 08:55] krmayankk commented on #57671
/close

[2018-02-13 08:55] #57671 closed

[2018-02-13 09:01] sttts commented on #59124
@jennybuckley I have the same understanding. Excluding webhooks from webhooks seems reasonable. But it's only one piece in the (restart when webhook broke) puzzle. We reconcile RBAC rules, create namespaces (or keep them when they exist already). So I expect some more exceptions.

[2018-02-13 09:08] krmayankk commented on #55559
@dhilipkumars not sure i follow, the GC not picking up is nothing to do with pod being active and running. my understanding is that the GC picks pods whose ownerReference doesnt exist. So even if the pods label is changed, the owner reference doesnt exist and hence it should be deleted. @caesarxuchao thoughts ?

[2018-02-13 09:33] mfaizanse commented on #59755
I have tried with a sample application (nodejs) using sqlite3. The exception get when i try to run a query is:
`Error: SQLITE_BUSY: database is locked`

[2018-02-13 09:46] #24444 closed

[2018-02-13 09:46] #23881 closed

[2018-02-13 09:46] #24364 closed

[2018-02-13 09:46] #24451 closed

[2018-02-13 09:55] zetaab commented on #59783
is this really bug? Imo no, try using host kubernetes.default.svc.cluster.local or just kubernetes

[2018-02-13 10:01] ejc3 commented on #30656
Does kubectl-exec-user’s pod verify the person using it has access to the container being requested to shell into?

[2018-02-13 10:05] mikelorant commented on #30656
It falls back to what access the kubernetes API allows. It will only work if RBAC allows a container to mount a nodes docker socket.

Consider my solution a creative way to break out of a container onto the node without requiring SSH. All the same security conditions need to be considered but at least it respects the kubernetes API server restrictions.

[2018-02-13 10:30] Draiken commented on #25908
Is there anything we can do to get some traction on this issue?
It's been open for almost 2 years and still we only have workarounds

I suspect even if I volunteer myself to implement this I won't be able to since it needs some approval from the internal guys regarding which solution to implement, API changes, etc.

Anything I can do to help get this done?

[2018-02-13 10:47] #23189 closed

[2018-02-13 10:47] #24899 closed

[2018-02-13 10:47] #18538 closed

[2018-02-13 10:47] #24960 closed

[2018-02-13 11:39] Groga opened #59794 "error kube init"
root@master manifests]# uname -a
Linux master.testdomain 3.10.0-693.17.1.el7.x86_64 #1 SMP Thu Jan 25 20:13:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

root@master manifests]# cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)

swapoff -a

cat 10-kubeadm.conf
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kub

[2018-02-13 11:48] #24494 closed

[2018-02-13 11:48] #25208 closed

[2018-02-13 11:48] #24397 closed

[2018-02-13 11:48] #24418 closed

[2018-02-13 11:48] #25149 closed

[2018-02-13 12:01] squeed commented on #31307
I believe this issue can be closed; we're working off of #38890

[2018-02-13 12:01] squeed commented on #31307
/close

[2018-02-13 12:01] #31307 closed

[2018-02-13 12:42] sathieu commented on #58637
I like this proposal, but this explicitly breaks the [The NetworkPolicy Resource](https://kubernetes.io/docs/concepts/services-networking/network-policies/#the-networkpolicy-resource) example.

Which says for:
[code]
- allows connections to TCP port 6379 of “role=db” pods in the “default” namespace from any pod in the “default” namespace with the label “role=frontend”
- allows connections to TCP p

[2018-02-13 12:44] sathieu commented on #58637
Dup of #50451?

[2018-02-13 12:49] #22494 closed

[2018-02-13 12:49] #22696 closed

[2018-02-13 12:49] #25200 closed

[2018-02-13 12:49] #21109 closed

[2018-02-13 12:49] #25424 closed

[2018-02-13 12:49] #22005 closed

[2018-02-13 13:14] danwinship commented on #58637
It doesn't break that example; that has three separate `NetworkPolicyPeer` elements under `from`, so it selects three separate sets of traffic. The proposed new syntax would put the `namespaceSelector` and `podSelector` into the same `NetworkPolicyPeer`. ie, removing the `-` before `podSelector` in that example.

But that ties into what I was saying before about "accidentally writing X when you me

[2018-02-13 13:25] klausenbusk commented on #55738
/remove-lifecycle stale

[2018-02-13 13:28] nicolaferraro commented on #59343
Thank @krmayankk, that's a really nice proposal!

However it does not solve the second point: if the termination grace period is not sufficient to fully decommission the pod (network delays, a remote pod is not available to accept the decommission request, ...), Kubernetes does not guarantees that a clean eviction will take place.

Even if I'm notified with a "Eviction" reason before the TERM sign

[2018-02-13 13:38] #55305 closed

[2018-02-13 13:41] zacblazic commented on #42164
This issue still happens for us and has been around from 1.5.x all the way to 1.7.x

Everything points to it being a [docker issue](https://github.com/moby/moby/issues/29087) which apparently still exists in the latest versions.

We should however come up with a way to mitigate the issue. I'm digging through issues, looking at metrics etc. and trying to find out what can be done.

/remove-lifecycl

[2018-02-13 13:50] hamshif commented on #52787
kubctl should enable templates and insertion to avoid DRY(don't repeat yourself)

One simple example are DEV, QA, PROD environments where sanboxing images is mission critical and the image value of containers should vary with arguments.

Another is using similar deployments for minikube development and cloud deployment where the only differences are mounting volumes and replicas

Another example i

[2018-02-13 13:50] #25335 closed

[2018-02-13 13:50] #24767 closed

[2018-02-13 13:50] #25486 closed

[2018-02-13 13:50] #23640 closed

[2018-02-13 13:50] #25448 closed

[2018-02-13 14:24] dims commented on #59794
@Groga try this one - https://github.com/kubernetes/kubernetes/issues/43805#issuecomment-301274928

[2018-02-13 14:27] gyliu513 opened #59801 "Cloud Provider should not return upper case hostname"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a static pod for etcd as following with vsphere as cloud provider:

[code]

But the hostname is using upper name, and when kubelet start the etcd static pod, it will report error as follows:
[code]

I think that the vsphere should not return upper case hostname, but only lower case hostname.

**What you expecte

[2018-02-13 14:27] hamshif commented on #52787
Thanks for the envsubst tip
it is a good solution on mac I would incorporate it to kubectl

[2018-02-13 14:28] gyliu513 commented on #59801
/area cloudprovider

[2018-02-13 14:36] sathieu commented on #58637
@danwinship Thanks.

[2018-02-13 14:47] rvojcik opened #59804 "Pod resolve ::1 on internet hosts."
**What happened**:
We just initialized new fresh kubernetes cluster version 1.8.8.
We are using kube-router 0.0.20 as network addon.
When doing apt-get update or curl on remote hosts DNS resolve ::1 adress.

[code]
I tried ping, works fine. Traceroute, looks ok.
I tried curl on same website and works when I used IPv4 ip address.

Seems like some issue with IPv6 and kube-DNS, maybe.

**How to repro

[2018-02-13 14:49] leth opened #59806 "Daemonset was not sheduled any pods after namespace move"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
- I had a daemonset deployed to namespace ns1
- I changed the namespace, and applied the same daemonset to namespace ns2
- I deleted the daemonset in ns1
- Pods were cleared up in ns1
- No daemonset pods were created in ns2

**What you expected to happen**:

There should have been pods created in ns2

**How to reproduce i

[2018-02-13 14:51] #22165 closed

[2018-02-13 14:51] #5616 closed

[2018-02-13 14:51] #12069 closed

[2018-02-13 14:51] #25445 closed

[2018-02-13 14:51] #5695 closed

[2018-02-13 14:52] rvojcik commented on #59804
Some debug around DNS
/etc/resolv.conf on container
[code]
DNS Service
[code]
Resolving works, tried ping various hosts. Networking works, tried curl on ip adresses and traceroutes.

[2018-02-13 14:57] pohly commented on #59488
On Sat, 2018-02-10 at 05:31 +0000, Vikas Choudhary (vikasc) wrote:

True, but which unit tests run concurrently?

To answer that, I re-read the "testing" documentation and ran a quick
experiment. That confirmed that individual tests inside the same test
binary run sequentially. A test function has to explicitly call
t.Parallel() before the next test starts, and that test blocks unless
it also call

[2018-02-13 15:07] rvojcik commented on #59804
Propably issue releted with my provider DNS...

[2018-02-13 15:07] #59804 closed

[2018-02-13 15:20] petrkotas commented on #56348
Hi, is there any update on this issue? Thanks.

[2018-02-13 15:24] beatlejuse commented on #58338
@MrHohn  about #52096 - yes, but i don't using Calico. and there's no solution.
i use flannel 0.10.0

[2018-02-13 15:33] pohly commented on #59488
On Tue, 2018-02-13 at 15:57 +0100, Patrick Ohly wrote:

Server.Stop is the right way, it just doesn't fully stop the server. I
consider this an issue in gRPC, therefore I have created https://github
.com/grpc/grpc-go/issues/1861

[2018-02-13 15:34] crassirostris commented on #58083
I added points about documentation & deprecation to the list of items to do

It depends on the expected QPS to the apiserver, which may be pretty irregular depending on the cluster setup and workloads. It seems it would be useful to add a paragraph to the documentation that would explain how these values should be set

AFAIU, it's possible to pass user agent through kubeconfig: https://github.com/

[2018-02-13 15:36] beatlejuse commented on #58338
sum up:
1. the externalTrafficPolicy=Local option does not work as expected.
2. even if externalTrafficPolicy=Local worked, it makes traffic transmission more uncomfortable.

I decided not to use this method to transfer the source address.

[2018-02-13 15:36] #58338 closed

[2018-02-13 15:37] RenaudWasTaken commented on #59488
Is it possible that defer statements are executed at the same time another test might start?

[2018-02-13 15:52] #7337 closed

[2018-02-13 15:52] #25775 closed

[2018-02-13 15:52] #7711 closed

[2018-02-13 15:52] #24310 closed

[2018-02-13 15:52] #5927 closed

[2018-02-13 15:52] #6387 closed

[2018-02-13 15:57] sjenning commented on #57865
/sig node

[2018-02-13 16:04] enj commented on #59775
All the tests would be deleted with it since it is not actually used in any real code.

[2018-02-13 16:22] OJezu opened #59811 "Service fails to estabilish connection (timeouts) after endpoint pod is recreated by deployment."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After replacement by deployment of a pod which is the only endpoint for a service, the service stopped serving traffic to and from the endpoint. The service was used by one other pod. The issue resolved itself after 2 hours or trying to use the service from some other pods then the one that had the original connection pr

[2018-02-13 16:26] jwendell opened #59812 "Conflict with CRD short name"
/kind bug

- Installed a CRD (DestinationPolicy) with the short name 'svc': Install went ok and `kubectl get svc` returned services
- Changed this CRD short name to 'dp'
- Installed another CRD (EgressRule) with the short name 'dp': Install was not so ok. Status reported a conflict in the short name and `kubectl get egressrule` fails with the message `the server doesn't have a resource type "egres

[2018-02-13 16:27] OJezu commented on #59811
/sig networking
/sig azure

I hope those are right.

[2018-02-13 16:28] OJezu commented on #59811
/sig networking

So, only one sig it seems.

[2018-02-13 16:29] jwendell commented on #59812
/sig cli

[2018-02-13 16:30] sjenning opened #59813 "High flake rates on Downward API volume update e2e tests"
There have been **178 flakes** in various forms of Downward API volume update tests **in the past week**. The flakes span several variations on the same underlying functionality (annotation/label update, direct downwardapi/projected) all rooted in the same underlying issue.

The issue afaict is that the volume manger is not getting the updated version of the pod and thus the update to the downward

[2018-02-13 16:31] discordianfish commented on #55398
@brancz Is that something you can get someone to look into?

[2018-02-13 16:31] sjenning commented on #59813
/assign
/sig node
/kind flake

[2018-02-13 16:49] errordeveloper commented on #31307
Folks, thanks for resolving this!

[2018-02-13 16:49] jdumars commented on #59764
Is this part of the release process documented somewhere?

[2018-02-13 16:53] #25903 closed

[2018-02-13 16:53] #23357 closed

[2018-02-13 17:10] shyamjvs opened #59815 "Scheduler anti-affinity benchmark tests are flaky"
We're seeing occasional failures while running the scheduler benchmark integration tests.
You can see that the job is flaking here - https://k8s-testgrid.appspot.com/sig-scalability-benchmarks#scheduler

More specifically it is the anti-affinity ones that are flaking. The normal scheduling ones [seem fine](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/562/bui

[2018-02-13 17:10] #56357 closed

[2018-02-13 17:12] shyamjvs commented on #59815
I'm seeing that the failure is happening due to:

[code]

IMO the benchmark tests need to be written in a more robust way to avoid such failures.

[2018-02-13 17:14] shyamjvs commented on #59815
Ref https://github.com/kubernetes/kubernetes/issues/58154

/assign @bsalamat
As I believe you are the best person here (feel free to redirect it as apt).

[2018-02-13 17:25] shyamjvs commented on #59815
Ok.. I digged this up a little bit and seems like the reason is indeed failure to POST the node object (which is being done as part of the test's boilerplate). I believe the fix shouldn't be too hard; we probably need to add "sensible" retries to the logic there. Moreover that should also not affect the benchmarking time as it's done before the timer starts ticking.

I'll take this up.

[2018-02-13 17:32] phsiao opened #59816 "kubectl port-forward should support re-attach"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

With work being done in #59705 and #59809, it is now possible to select a pod from a collection of pods via resource/name.  It is now more natural to support re-attach if the selected pod terminated during a port-forward session to improve user experience.

**What you expected to happen**:

kubectl port-forward resou

[2018-02-13 17:32] phsiao commented on #59816
/sig cli
/cc @jbeda

[2018-02-13 17:39] jason-kane commented on #50383
you're right, the problem appears to be elsewhere:
https://github.com/core-api/python-openapi-codec/blob/master/openapi_codec/decode.py#L22

Anything in 'parameters' is ignored, it's unambiguously defined in the current spec https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#pathItemObject so the fault is pretty clearly on the python-openapi-codec side.  Sorry for the noise

[2018-02-13 17:49] mml commented on #55271
I also think this bug would benefit from an e2e test where we misconfigure things in a variety of ways and verify that KCM still comes up and stays up:

- [ ] misconfigured apiservice
- [ ] broken service attached to that apiservice
- [ ] RBAC rules that disallow things.  maybe everything!
- [ ] webhooks that disallow everything
- [ ] **yr example here**

[2018-02-13 17:54] #4729 closed

[2018-02-13 17:54] #25534 closed

[2018-02-13 17:54] #26110 closed

[2018-02-13 17:54] #26216 closed

[2018-02-13 17:54] #17681 closed

[2018-02-13 17:54] #26217 closed

[2018-02-13 17:54] #26220 closed

[2018-02-13 17:54] #26221 closed

[2018-02-13 17:55] joestringer commented on #55230
Can we somehow make this error less noisy? Our users often see this in the logs because it prints directly to stderr, and it looks like there's a bug but according to the above it's expected. If it's expected, does it need to be printed?

[2018-02-13 18:02] errordeveloper commented on #46508
@fasaxc I'd like to help with this, do you have any thoughts on how this could be solved?

[2018-02-13 18:05] errordeveloper commented on #25533
/close

Closing in favour of #46508, simply because one has to be closed and this one is already marked as rotten.

[2018-02-13 18:05] #25533 closed

[2018-02-13 18:07] jon-shanks opened #59819 "Issue with mustrunasnonroot implementation PR:56503"
/kind bug
@kubernetes/sig-node-bugs

**What happened**:
in kubernetes 1.8.5 there is a current PR that is causing issues in terms of the security it is intending to provide. This logic (not checked with other runtimes), doesn't work well for docker. These seems more like a docker constraint with the runtime implementation that you've implemented and now enforced. So, the issue really is that:

a)

[2018-02-13 18:18] errordeveloper commented on #46508
@thockin said in https://github.com/kubernetes/kubernetes/issues/25533#issuecomment-218801614:

I believe he is referring to ComponentConfig, and there has been significant progress on this, and I `kube-proxy` and `kube-controller-manager` have both implemented ComponentConfig.

https://github.com/kubernetes/kubernetes/blob/f072871b07a6d40c1c4a8f4a10b84116e5f43703/pkg/apis/componentconfig/types.go

[2018-02-13 18:28] jon-shanks commented on #59819
@kubernetes/sig-node-bugs

[2018-02-13 18:34] brancz commented on #55398
Unlikely, personally cAdvisor has been so unreliable for Prometheus metrics that we try not to rely on it and are even looking into getting the stats differently. Aside from that I would say this mostly belongs in the cAdvisor repo.

[2018-02-13 18:41] blakebarnett commented on #42164
@zacblazic do you have requests/limits defined on most of our pods?  As mentioned: https://github.com/kubernetes/kubernetes/issues/42164#issuecomment-339382223 this cleared of the bulk of our issues, as well as upgrading the kernel > 4.4.65

We also increased the size of our root volumes, I believe this starts happening in resource starvation scenarios.

[2018-02-13 18:42] bsalamat commented on #56032
@shyamjvs My recent PR for improving performance of the new scheduling queue is merged. My local benchmarking shows that performance of the new queue after this PR is on par with the FIFO (old mechanism). Could you please re-enable priority and preemption for the scalability tests? Thanks!

[2018-02-13 18:43] dims commented on #52568
/remove-sig openstack

[2018-02-13 18:44] dims commented on #54984
so looks like nothing to do here. closing. please reopen if needed

/close

[2018-02-13 18:44] #54984 closed

[2018-02-13 18:45] dims commented on #52276
should be fixed now.

/close

[2018-02-13 18:45] #52276 closed

[2018-02-13 18:49] dims commented on #40054
/close

[2018-02-13 18:49] #40054 closed

[2018-02-13 18:50] dims commented on #56855
/close

@akalambu please let me know if you want me to reopen this issue

[2018-02-13 18:50] #56855 closed

[2018-02-13 18:51] dims commented on #49867
/close

[2018-02-13 18:52] dims commented on #52563
/close

right now we support both v2 and v3 and things seem to be working. we can revisit when we drop v2 keystone api

[2018-02-13 18:52] #52563 closed

[2018-02-13 18:53] dims commented on #56892
/close

[2018-02-13 18:53] #56892 closed

[2018-02-13 18:53] dims commented on #56313
/close

need more info

[2018-02-13 18:53] #56313 closed

[2018-02-13 18:55] dims commented on #51687
/close

[2018-02-13 18:55] #51687 closed

[2018-02-13 18:55] #25875 closed

[2018-02-13 18:55] #26212 closed

[2018-02-13 18:55] #26219 closed

[2018-02-13 18:55] #25729 closed

[2018-02-13 18:55] #26213 closed

[2018-02-13 18:55] #26322 closed

[2018-02-13 18:55] dims commented on #42483
/close

[2018-02-13 18:55] #42483 closed

[2018-02-13 18:56] dims commented on #46102
/close

[2018-02-13 18:56] #46102 closed

[2018-02-13 18:56] dims commented on #35056
/close

[2018-02-13 18:56] dims commented on #32924
/close

[2018-02-13 18:56] #32924 closed

[2018-02-13 18:56] dims commented on #35048
/close

[2018-02-13 18:56] #35048 closed

[2018-02-13 18:57] dims commented on #50246
/close

[2018-02-13 18:57] #50246 closed

[2018-02-13 18:57] dims commented on #48690
/remove-sig openstack

[2018-02-13 18:57] dims commented on #12083
/close

[2018-02-13 18:57] #12083 closed

[2018-02-13 19:09] krousey opened #59822 "Shared informer has a race condition"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

 /kind bug

**What happened**: I was testing a cluster-api machine controller, and I noticed a double channel close panic on test cleanup.

**What you expected to happen**: No panic.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a new shared informer.
2. Concurrently start and add a listener.

There is a path where

[2018-02-13 19:09] shyamjvs opened #59823 "Endpoints object in kubemark can only have a single backend!"
Recently profile collection has been added to our scalability tests. While running the kubemark-500 presubmit, @wojtek-t noticed from the memory allocation profile that an unusually large amount of allocations (~10GB) were being done by `k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/util/errors.aggregate.Error()` during load test. See - https://storage.googleapis.com/kubernetes-jenkins/logs/ci-

[2018-02-13 19:09] shyamjvs commented on #59823
/assign

I'll take a further look into this.

[2018-02-13 19:09] krousey commented on #59822
Sample crash:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kube-deploy-test/89

[2018-02-13 19:15] oomichi commented on #55471
Calico official site shows installation of Calico v3.0, but kubeadm site shows one of Calico v2.6.
After installing Calico v3.0, I came over this issue. So kubeadm sites seems necessary to be updated anyways. The above PR tries to do that.

[2018-02-13 19:15] krousey commented on #59822
I have a small test case that has failed 76 out of 31,000 runs. Seems to happen more often with more complicated code to allow for context switches. But it happens quickly enough using the stress command that I can verify it this way. (31000 runs took like than 20 seconds).

[2018-02-13 19:16] shyamjvs commented on #59823
I guess I found the reason. There is a [validation step](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L4713) in the apiserver for endpoints objects, which checks that an IP entry in the endpoints object cannot have it's nodeName overwritten. And this is precisely what is violated in kubemark (i.e we're trying to override the nodeName for IP).

This is

[2018-02-13 19:20] shyamjvs commented on #59823
Note that this means all this while we haven't actually been populating endpoints objects in kubemark. And this now explains why we've been seeing such a difference in `PUT endpoints` call latencies across kubemark and real clusters in our performance benchmark:

[code]

Ref https://storage.googleapis.com/kubernetes-jenkins/logs/ci-perf-tests-kubemark-100-benchmark/3237/build-log.txt

[2018-02-13 19:25] shyamjvs commented on #59823
IMO the correct solution for this is to fix our docker-client mock to actually assign different IPs to different containers. And this can be done in at least a couple of ways:

- assign a random IP to every container (the probablility of collision should be very low with 32 bits of randomness and not too many backends within a single service). Even if there are few collisions, we should be able to

[2018-02-13 19:25] droot opened #59826 "Resource Quota controller should allow discover-resources errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: On a cluster with an extension API server (service-catalog in this case), Controller Manager crashes with the following log:
controllermanager.go:155] error starting controllers: failed to discover resources: unable to retrieve the complete list of server APIs: servicecatalog.k8s.io/v1beta1: an error on the server ("missing route (n

[2018-02-13 19:27] droot commented on #59826
/sig sig-api-machinery

[2018-02-13 19:28] droot commented on #59826
/assign @cheftako

[2018-02-13 19:36] bsalamat commented on #59555
This feature request is somewhat interesting, but letting Pods specify what priority and predicates they are subjected to, has its own problems. Just to name a couple:
* It exposes scheduler priority and predicate functions to the core API.
* It could create a chaos in the cluster. For example, a pod may request not to go through anti-affinity predicate and violates other pods anti-affinity rules.

[2018-02-13 19:37] krzyzacy commented on #59764
cc @spiffxp
I was referencing https://github.com/kubernetes/kubernetes/issues/53004 and made one for 1.10

[2018-02-13 19:49] krousey commented on #59822
/assign @krousey

[2018-02-13 19:52] vishh commented on #53616
@yguo0905 your summary matches my thoughts. Let me highlight the use case a bit more:

A user intends to expose cluster level resources. They start with running a scheduler extender which understands their new resource. Along the way they realize that the scheduler requires all resources, including cluster level ones, to be attached to a node (part of node capacity/allocatable). This then requires

[2018-02-13 19:53] kow3ns commented on #46901
/close

[2018-02-13 19:53] #46901 closed

[2018-02-13 19:54] kow3ns commented on #37132
/close

[2018-02-13 19:54] #37132 closed

[2018-02-13 19:56] #24093 closed

[2018-02-13 19:56] #19322 closed

[2018-02-13 19:56] #26587 closed

[2018-02-13 20:10] StevenACoffman commented on #58837
@crassirostris Thanks!  #59665 is merged

[2018-02-13 20:17] mml opened #59829 "Fuzz or matrix test the API server"
We have seen a variety of problems where misconfiguration causes the `{kube-apiserver,kube-controller-manager} {to crashloop,to otherwise prevent repair of the problem}`.

Examples:

- webhook that won't let you do anything (including delete it) #59124 #56761
- apiservice without an endpoint, but the service can never get healthy because k-c-m won't come up #55271

There is a huge space of these p

[2018-02-13 20:19] dims commented on #52617
/unassign @dims

[2018-02-13 20:30] fuel-wlightning commented on #31208
I disagree with @nebril . This should not be provider specific, as it means each and every github project has to implement it separately for every service.

That being said, I'm not sure how this fits in with the core. So I agree it might not be a kubernetes native thing, maybe helm?

[2018-02-13 20:42] RobertKrawitz commented on #59119
I've been investigating this issue for the past several days.  The root cause appears to be a combination of the definition of service ports (kubernetes/api/openapi-spec/swagger.json:80248) and how patches are applied (`strategicpatch.StrategicMergeMapPatch`, called from kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go, `applyPatchToObject`).

A service may expose multiple p

[2018-02-13 20:52] shyamjvs commented on #59823
Sent out the above PR implementing the first approach, as I think it is sufficient and the 2nd one would be an overkill.

[2018-02-13 20:57] #26390 closed

[2018-02-13 20:57] #26817 closed

[2018-02-13 21:03] roysG commented on #41444
Any new updates?

[2018-02-13 21:03] roysG commented on #41444
+1

[2018-02-13 21:04] RobertKrawitz commented on #59119
I verified with patch_test.go that it is in fact the merge key that results in this; creating a test case that uses a non-merging list (without a merge key) I get both instances; if I specify a merging list, I only get one.

[2018-02-13 21:18] liggitt commented on #24855
not really, getting server-side printing and alternate representations completed is a higher priority for api-machinery currently.

it's a bit unclear what the goals of the server-side export function are. there are several opposing use cases that tend to get grouped together under the "export" heading:
* export for import to another namespace (remove all references to the source namespace)
* expo

[2018-02-13 21:21] oomichi opened #59833 ""should support rolling-update to same image" e2e test fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When operating conformance tests on my local environment, "should support rolling-update to same image" e2e test only failed always.
The following log was output many times and the timeout happened.

``
"Feb 13 20:02:41.088: INFO: e2e-test-nginx-rc-eda0488f68f5a4fdd5baf94cbc6dbf50-q7zbr is created but running wrong image

[2018-02-13 21:22] oomichi commented on #59833
/sig cli

[2018-02-13 21:46] DirectXMan12 commented on #59119
/assign @RobertKrawitz

@kubernetes/sig-api-machinery-bugs how do we want approach fixing this?
@liggitt I seem to recall you having opinions on patch in the past...

[2018-02-13 21:48] bsalamat commented on #59679
The caching mechanism of the admission controller is only for finding default priority of pods. It is not used when ensuring that two objects both claim they are the default.

I am not sure about removing the caching completely. It could hurt performance much if we look up default priority for every pod, especially when a large number of pods are created for a collection. We should add a watch for

[2018-02-13 21:58] #18206 closed

[2018-02-13 22:15] chrisgoffinet commented on #59047
Is there anyway to reach Google support without a contract? I need to have this enabled as well.

[2018-02-13 22:26] spiffxp commented on #34059
/remove-lifecycle stale
this continues to be a great place for new contributors to help out

[2018-02-13 22:29] jennybuckley commented on #59829
/assign

[2018-02-13 22:31] klausenbusk commented on #41444
I assume we can close this now? DigitalOcean now provide a cloud-controller https://github.com/digitalocean/digitalocean-cloud-controller-manager + there is a digitalocean block storage provisioner (including a flexplugin): https://github.com/kubernetes-incubator/external-storage/tree/master/digitalocean + [RexRay](http://rexray.readthedocs.io/) supports [DigitalOcean](http://rexray.readthedocs.io

[2018-02-13 22:39] bsalamat commented on #59748
The challenge is that clearing a slice and reusing it still needs GC clean up, so it may not be effective. The size of slices shrink as we proceed through the function. So, having two slices and over-writing the elements in them can help reduce GC time, but this approach needs some additional checks to ensure we are not using stale elements.

[2018-02-13 22:51] msau42 commented on #59763
Also see #59517

[2018-02-13 23:01] MrHohn commented on #54017
/remove-lifecycle rotten

[2018-02-13 23:06] jingxu97 commented on #51018
@killy001 sorry for not responding earlier.  Is this still an issue?
cc @dashpole

[2018-02-13 23:09] cheftako opened #59838 "Need proper fix for pkg/master timeout"
/kind bug
/kind flake

**What happened**:
2 months ago the pkg/master test was reliably taking less the 60 seconds to complete.
It now reliably takes 90 seconds on decently powerful box and times out a 5 minute timeout on the CI boxes.
Please see #59685 and #59441.

As @mikedanese notes :-

The Validate calls to the vendored go-openapi library are which make the test slow:
https://github.com/kuber

[2018-02-13 23:10] cheftako commented on #59838
/sig api-machinery

[2018-02-13 23:16] janetkuo commented on #6284
`kubectl diff` has been implemented as an alpha release in 1.9. Feature tracking issue: https://github.com/kubernetes/features/issues/491

[2018-02-13 23:16] #6284 closed

[2018-02-13 23:45] jberkus commented on #59764
There's two CRI changes which break backwards compatibility for some users:

https://github.com/kubernetes/kubernetes/pull/59475

https://github.com/kubernetes/kubernetes/pull/58973

[2018-02-14 00:00] cppforlife opened #59839 "Custom controller integration with pod disruption budgets"
/kind feature

While developing a custom controller, we ran into a problem of working with pod disruption budgets. It appears that `DisruptionController` only works with following set of objects: replication controller, deployment, pod replica set, and pod stateful set.

https://github.com/kubernetes/kubernetes/blob/317853c90c674920bfbbdac54fe66092ddc9f15f/pkg/controller/disruption/disruption.go#L

[2018-02-14 00:02] #59822 closed

[2018-02-14 00:32] lavalamp commented on #59838
/assign @roycaihw

[2018-02-14 00:38] bsalamat commented on #59679
I spoke with @lavalamp about the issue here. Given that informers cache objects and the admission controller uses an informer to list priority classes, we believe removal of caching inside the admission controller should not a have a significant impact on performance. So, #59712 is enough to address the issue.

[2018-02-14 00:45] stantonk commented on #59488
@pohly thanks so much for your detailed debugging an analysis and details about the tools you used (e.g. using filtered strace). I'm fairly new to golang and I've been messing around with the k8s source locally trying to get a feel for the project and work towards contributing, and I was debugging this test on my own but flailing against how to instrument the running tests. very much appreciated a

[2018-02-14 01:03] fengyd2018 commented on #59783
Hi,

I installed guestbook and found /etc/resolv.conf in the redis-slave container:
nameserver 10.96.0.10
search default.svc.cluster.local svc.cluster.local cluster.local

But for the container jenkins,  /etc/resolv.conf is the same as the host computer.
I think that's why kubernetes.default cannot be resolved.
Don't know why.

[2018-02-14 01:05] hogepodge commented on #52249
cross-cloud tracking issue https://github.com/crosscloudci/crosscloudci/issues/9

[2018-02-14 01:10] tossmilestone commented on #59748
To avoid clearing the slices, this is my thought:
- Declare 2 length vars to indicate the actual length of the 2 node slices, instead of `len()`.
- Appending a node to a node slice will add 1 to the length var.
- Clearing a node slice will set the length var to 0.

@bsalamat WDYT

[2018-02-14 01:18] fengyd2018 commented on #59783
I have found the cause. hostNetwork is set as true.
    spec:
      hostNetwork: true
 After I removed "hostNetwork: true",  /etc/resolv.conf in the jenkins container:
nameserver 10.96.0.10
search default.svc.cluster.local svc.cluster.local cluster.local openstacklocal
options ndots:5

Obviously, hostNetwork is the cause.
Could you explain the reason?

[2018-02-14 01:52] briansmith commented on #55435
RE: the need for sidecar containers to have *elevated* privileges:

Linkerd, Conduit, and Istio are using iptables rules as a workaround for a missing feature. It isn't something that we (Conduit and Linkerd, at least) want to do long-term. We don't want to have a dependency on iptables. Ideally we don't want to have an init container at all. We would prefer instead to have a declarative way to te

[2018-02-14 02:45] #59518 closed

[2018-02-14 03:01] verult commented on #59047
@chrisgoffinet once this fix is cherry-picked to 1.8 and 1.9, you shouldn't have to enable the compute alpha API for provisioning GCE PDs.

[2018-02-14 03:03] #6557 closed

[2018-02-14 03:03] #3573 closed

[2018-02-14 03:59] smarterclayton opened #59848 "Use of resourceVersion=0 in reflectors for initial sync breaks pod safety when more than one master"
When we added resourceVersion=0 to reflectors, we didn't properly reason about its impact on nodes.  Its current behavior can cause two nodes to run a pod with the same name at the same time, which violates the pod safety guarantees on the cluster.  Because the read is not a quorum read from the watch cache, it can be arbitrarily delayed which means a pod that was previously deleted can be resurre

[2018-02-14 04:04] #21282 closed

[2018-02-14 04:04] #7081 closed

[2018-02-14 04:04] #21637 closed

[2018-02-14 04:04] #22272 closed

[2018-02-14 04:04] #19033 closed

[2018-02-14 04:04] #22906 closed

[2018-02-14 04:13] yue9944882 commented on #59801
Here is a quick fix #59849

[2018-02-14 04:25] smarterclayton commented on #59848
Note that we added this as a performance at scale win, so we are almost certainly going to regress to some degree (how much has been mitigated by other improvements in the last year is uncertain)

[2018-02-14 04:26] yue9944882 commented on #59801
/sig node

[2018-02-14 04:36] saad-ali commented on #59639
Either `PVPVCProtection` or `StorageObjectInUseProtection` sound good to me.

[2018-02-14 04:37] saad-ali commented on #59639
CC @thockin @msau42

[2018-02-14 04:41] bgrant0607 commented on #21493
Example adaptor: https://github.com/otsimo/grpc-health

[2018-02-14 04:51] dbogatov commented on #53533
For systems that bootstrap cluster for you (like terraform), you may need to modify the service file

This worked for me

`sudo sed -i '/kubelet-wrapper/a \  --fail-swap-on=false \\\' /etc/systemd/system/kubelet.service`

[2018-02-14 04:53] nilebox opened #59850 "Use `propagationPolicy: Foreground` in kubectl by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When I delete the owner object with child objects depending on it, some objects left orphaned and untouched. This is due to `kubectl` using a deprecated `orphanDependents: false` option instead of `propagationPolicy: Foreground`, and has incomplete deletion behavior in GC.

**What you expected to happen**:
All depende

[2018-02-14 04:58] nilebox commented on #59850
/sig CLI

[2018-02-14 05:05] #27248 closed

[2018-02-14 05:05] #27314 closed

[2018-02-14 05:29] #59517 closed

[2018-02-14 06:00] dbogatov commented on #45727
May sound silly, but when I got these same log messages, the issue was that I messed up with command line arguments to kubelet. I forgot ` \` symbol for new line, so the only parameters I passed was not to fail on SWAP. So I suggest you check that your nodes know where to connect.

[2018-02-14 07:07] #26214 closed

[2018-02-14 07:07] #27918 closed

[2018-02-14 07:07] #25334 closed

[2018-02-14 07:07] #27979 closed

[2018-02-14 07:38] wojtek-t commented on #59823
@shyamjvs - great debugging!

Unfortunately your fix doesn't seem to help.

[2018-02-14 07:55] meysam001 opened #59854 "Kubernetes installing fails on Debian 9"
I am trying to install Kubernetes on my Debian 9 machine.
I give some errors when I ran `kubeadm init` :
[code]

How Can I fix these errors and install kubeadm ?

[2018-02-14 08:08] #28033 closed

[2018-02-14 08:08] #27991 closed

[2018-02-14 08:08] #24086 closed

[2018-02-14 08:14] #43287 closed

[2018-02-14 08:18] #59488 closed

[2018-02-14 08:20] gbjuno commented on #59338
same behavior on v1.8.4

`
I0214 02:48:50.709154   47166 trace.go:76] Trace[63796845]: "List /api/v1/componentstatuses" (started: 2018-02-14 02:48:50.078710849 +0800 CST) (total time: 630.396581ms):
Trace[63796845]: [630.039507ms] [630.012167ms] Listing from storage done
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x

[2018-02-14 08:23] notxcain commented on #47131
@xiang90  any chance this gets backported to 1.9.x?

[2018-02-14 08:24] feiskyer opened #59855 "Node's providerID is wrong for azure vmss when using instance metadata"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When useInstanceMetadata is set to true for vmss nodes, their providerID is wrong.

**What you expected to happen**:

Their providerID should be in format `
azure:///subscriptions/<subscription-id>/resourceGroups/<rg-name>/providers/Microsoft.Compute/virtualMachineScaleSets/<scaleset-name>/virtualMachines/<instance-id>`

[2018-02-14 08:24] feiskyer commented on #59855
/sig azure

[2018-02-14 08:27] wackxu opened #59856 "run hack/update-codegen.sh error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 kind bug

**What happened**:
whe I run `hack/update-codegen.sh`
[code]

**What you expected to happen**:
run success

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os

[2018-02-14 08:35] shyamjvs commented on #59823
Thanks - I'll take a look into it in a moment.

On Wed, Feb 14, 2018, 8:38 AM Wojciech Tyczynski <notifications@github.com>
wrote:

[2018-02-14 08:56] pohly opened #59859 "k8s.io/kubernetes/test/integration/deployment TestRollbackDeploymentRSNoRevision"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind flake

**What happened**:

Testing https://github.com/kubernetes/kubernetes/pull/59489 in the CI failed once in the k8s.io/kubernetes/test/integration/deployment TestRollbackDeploymentRSNoRevision test, unrelated to the change made by that PR. It succeeded when retesting.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-

[2018-02-14 09:09] #26933 closed

[2018-02-14 09:09] #26963 closed

[2018-02-14 09:09] #26919 closed

[2018-02-14 09:09] #27858 closed

[2018-02-14 09:09] #26912 closed

[2018-02-14 09:09] #27716 closed

[2018-02-14 09:13] leth commented on #59806
/sig scheduling
/sig apps

[2018-02-14 09:23] k82cn commented on #59194
@kow3ns , @bsalamat , would you help to review the related issues in order? I'll create a e2e test for it.

[2018-02-14 09:47] errordeveloper commented on #59762
As discussed this in the SIG meeting yesterday, we'd like to get rid of kubernetes-anywhere. I'm tempted to start looking at it as part of this, but maybe someone has an idea of a quick fix or where to look? I don't know enough about test infra to try bisecting this or do anything like that.

[2018-02-14 09:57] errordeveloper commented on #58921
@Vishal-Gaur have you set `--apiserver-advertise-address`? If yes, what value have you used? I believe you want to use `--apiserver-advertise-address=192.168.70.21`.

[2018-02-14 10:01] shyamjvs commented on #59823
Seems like it did help a bit, but not completely - https://github.com/kubernetes/kubernetes/pull/59832#issuecomment-365553594
Will look frther.

[2018-02-14 10:02] mostworld77 opened #59864 "Howto run kubernetes dashboard in background (not described)"
There is no information about, howto run kubelet proxy in background
or starting with systemstart (init script)

[2018-02-14 10:03] vonneudeck commented on #27796
I signed the CLA as an individual contributor in the past.
Now I work for a company where I make contributions during worktime and obviously the IP is owned by the company when I do so. But not everything I do outside of work belongs to the company.

My questions:
- How do I change my account from "Individual" to "Employee"? I already changed the email-address, but I can’t find the button for chan

[2018-02-14 10:10] #14170 closed

[2018-02-14 10:10] #16305 closed

[2018-02-14 10:10] #28139 closed

[2018-02-14 10:10] #28185 closed

[2018-02-14 10:10] #28392 closed

[2018-02-14 10:10] #28103 closed

[2018-02-14 10:55] crassirostris commented on #58837
Should be fixed soon

[2018-02-14 11:04] ramato-procon opened #59865 "Add option in restart policy to limit container restarts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
In some circumstances (e.g. OOMKilled) containers are restarted many times, if the restart policy is "Always". You can only decide to always "Fail" the pod or keep it running forever.
**What you expected to happen**:
I would like to have an option to "Fail" the pod, after a configurable number of container restarts (m

[2018-02-14 11:11] #28395 closed

[2018-02-14 11:11] #25265 closed

[2018-02-14 11:11] #19648 closed

[2018-02-14 11:17] wojtek-t commented on #24552
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-14 11:37] abashmakou-ib commented on #32987
reproducible in v1.7.4

[2018-02-14 11:42] monotek commented on #58837
Image is available: https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/fluentd-elasticsearch@sha256:b8c94527b489fb61d3d81ce5ad7f3ddbb7be71e9620a3a36e2bede2f2e487d73/details/info

[2018-02-14 11:44] crassirostris commented on #58837
The last run is green: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-es-logging/21600

Thanks everyone for bringing this up

[2018-02-14 11:44] #58837 closed

[2018-02-14 11:55] #57095 closed

[2018-02-14 12:53] carlosperezepfl opened #59867 "Can't delete statefulsets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Can't delete a statefulsets and I get an error
error: error when stopping "workers.yml": no kind "GetOptions" is registered for version "apps/v1"
[code]

**What you expected to happen**:
statefulsets will be delete

**How to reproduce it (as minimally and precisely as possible)**:
Create a statefulsets and try to delete i

[2018-02-14 12:56] carlosperezepfl commented on #59867
/sig bug

[2018-02-14 13:00] folago commented on #35096
I still get this, with dep v0.4.1.
And as far as I can tell no packages importing glog are in my gopath.
Anyone has an idea on why?

[2018-02-14 13:08] dims commented on #58613
@jhorwit2 - So ... when i use local-up-cluster, the kubelet starts up before the cloud-controller-manager. So the shared informer that calls `cnc.AddCloudNode` is never triggered.

diff --git a/pkg/controller/cloud/node_controller.go b/pkg/controller/cloud/node_controller.go
index 9f1c86e..51747dc 100644
--- a/pkg/controller/cloud/node_controller.go
+++ b/pkg/controller/cloud/node_controller.go
@@

[2018-02-14 13:11] discordianfish commented on #55398
@brancz No need to stablized cadvisor or improve that project itself, I was more thinking about better testing when bumping cadvisor version. And it's not cadvisor specific but something that applies to other metric related changes too (e.g #52121 and #53485). It just would be great to get people to pay more attention on metric changes in PRs.

[2018-02-14 13:13] #17354 closed

[2018-02-14 13:13] #28741 closed

[2018-02-14 13:13] #25831 closed

[2018-02-14 13:13] #28442 closed

[2018-02-14 13:13] #24322 closed

[2018-02-14 13:13] #18807 closed

[2018-02-14 13:13] #28301 closed

[2018-02-14 13:13] #7647 closed

[2018-02-14 13:13] #11725 closed

[2018-02-14 13:13] #28183 closed

[2018-02-14 13:29] adelton commented on #59152
@nathanjsweet, reading the man page, the limit of 340 is the number of lines in `/proc/<pid>/uid_map`, which is the number of mapping uid intervals in one user namespace. Are you sure that the number 340 is about the number of namespaces in the system?

[2018-02-14 13:30] brancz commented on #55398
Understood. I don't have a great answer for you, yes I would love to, but don't have the resources to do this. Maybe it's a topic you can bring up to the CNCF CI working group? They already test Prometheus on Kubernetes, so maybe it's something they could look into (we're also working with them on some unrelated Prometheus CI things, maybe I can bring it up in there).

[2018-02-14 13:43] squeed commented on #52179
/close

[2018-02-14 13:43] #52179 closed

[2018-02-14 14:02] shadycuz commented on #58922
I got help on kubernetes slack channel. Thanks

[2018-02-14 14:02] #58922 closed

[2018-02-14 14:14] #28651 closed

[2018-02-14 14:14] #29035 closed

[2018-02-14 14:14] #25442 closed

[2018-02-14 14:14] #27984 closed

[2018-02-14 14:14] #29027 closed

[2018-02-14 14:14] #29143 closed

[2018-02-14 14:17] mikebryant commented on #43806
/remove-lifecycle rotten

@timothysc was this ever fixed?

[2018-02-14 14:25] pohly commented on #59859
A copy of the test failure:
[code]

[2018-02-14 14:26] SchwarzM opened #59869 "Enabling failover of external IP services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
If a service has no local endpoints traffic to it's external IP is rejected.
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L940-L951

**What you expected to happen**:
I would like to have a choice to either reject the traffic or to let it leave the cluster.

**How to reproduce it (

[2018-02-14 14:28] SchwarzM commented on #59869
I hope this is the right sig. @kubernetes/sig-onprem-feature-requests

[2018-02-14 14:34] andyzhangx commented on #59755
could you write to azure file/disk in pod, sounds like it's a app config issue.

[2018-02-14 14:44] aakp10 commented on #58603
I'd like to work on this issue if it's not being worked on by anyone else.
Currently I'm getting myself familiarised with the API machinery codebase, so I might take a couple of days for the PR.

[2018-02-14 15:08] #59823 closed

[2018-02-14 15:12] shyamjvs commented on #56032
Sure @bsalamat - I'll send out a PR enabling it.

[2018-02-14 15:15] #28873 closed

[2018-02-14 15:15] #28156 closed

[2018-02-14 15:15] #28826 closed

[2018-02-14 15:15] #29311 closed

[2018-02-14 15:36] nathanjsweet commented on #59152
@adelton You're absolutely correct. I'm sorry for the misinformation. User namespaces themselves have not limits, but the mappings inside the namespace do.

[2018-02-14 15:41] codyaray commented on #48522
/remove-lifecycle rotten

[2018-02-14 15:42] jsafrane commented on #59813
When kubelet gets an updated pod, `WaitForAttachAndMount` is called. It [marks the pod for refresh both is DesiredStateOfWorldPopulator (DSWP) and ActualStateOfWord (ASW)](https://github.com/kubernetes/kubernetes/blob/4afdc33c574bb6941db9563ccec3d7e58c956f8b/pkg/kubelet/volumemanager/volume_manager.go#L347):

[code]

Now DSWP and reconciler race who gets the pod first.

* If DSWP gets the pod firs

[2018-02-14 15:52] folago commented on #35096
I take it back, transitive dependancy.
Sorry for the noise.

[2018-02-14 15:58] jsafrane commented on #59813
/sig storage

[2018-02-14 15:59] jsafrane commented on #59813
/assign

[2018-02-14 16:12] jsafrane commented on #59813
PR: #59813 It's not that bad as I thought.

[2018-02-14 16:16] #29522 closed

[2018-02-14 16:16] #28638 closed

[2018-02-14 16:22] jsafrane commented on #59639
Let it be `StorageObjectInUseProtection`. @NickrenREN, can you please rename it?

[2018-02-14 16:25] ecebuzz commented on #59867
Is there any workaround for this bug?

[2018-02-14 16:40] #59815 closed

[2018-02-14 16:43] attilah opened #59876 "Error message misleading with hostPath volumes under Windows"
/kind bug
/sig windows

**What happened**:

I tried to setup a volume mount under windows, but got a misleading error message.

volumeMounts part:
[code]

volumes part:

[code]

Error message on kubernetes dashboard was:

[code]

**What you expected to happen**:

Better error message to explain the problem better, since as turned out, not the ```volumeMounts``` part was wrong, but the ```hostPath.

[2018-02-14 16:45] d-shi commented on #55825
Any thoughts on this?

[2018-02-14 17:01] xiang90 commented on #47131
@notxcain

I do not manage the releases. @jpbetz might have an answer for you.

[2018-02-14 17:17] #22479 closed

[2018-02-14 17:17] #29645 closed

[2018-02-14 17:34] khenidak commented on #58776
closed with #59359

[2018-02-14 17:34] #58776 closed

[2018-02-14 18:09] jpbetz commented on #47131
I agree, #57160 should resolve this. Unfortunately, the PR introduces a lot of change. It bumps the versions of multiple major dependencies (etcd, docker, containerd, grpc, ...). I do not believe it is well suited for backport to stable kubernetes branches at this time. After 1.10 is released and this has had some time to bake in production, I'd be open to revisiting this, but for now let's limit

[2018-02-14 18:12] bsalamat commented on #43806
@mikebryant I am not so sure if the deletion of the namespace had a role in this bug. It looks to me that this bug is a dup of  #56057 which led us to #56261. Then, #56622 was sent to address the issue. So, I believe this bug is fixed in 1.9.

[2018-02-14 18:14] bsalamat commented on #43806
The fix is back ported to 1.8 as well: #58038.

[2018-02-14 18:18] #10732 closed

[2018-02-14 18:18] #28749 closed

[2018-02-14 18:19] liggitt commented on #54816
opened #59880 with fix

[2018-02-14 18:19] liggitt commented on #54816
/assign

[2018-02-14 18:24] jiayingz commented on #53616
Given that with https://github.com/kubernetes/kubernetes/pull/58851, the scheduler can know the scheduling for some specified resource can be delegated to certain scheduler extender, it seems reasonable to also use this information to bypass node capacity check for that resource in the general predicate. @bsalamat do you think this change is acceptable on the scheduler side?

On node side, I do ha

[2018-02-14 18:35] krzyzacy commented on #59762
sounds like the kubeadm suites should not be in master-blocking dashboard anymore
cc @jdumars @spiffxp @jberkus

[2018-02-14 18:39] flx42 commented on #52757
FWIW, I'm seeing more and more users/customers asking for a way to share a single GPU across a **pod**.

[2018-02-14 19:14] #49588 closed

[2018-02-14 19:18] adelton commented on #27945
/remove-lifecycle stale

[2018-02-14 19:18] adelton commented on #33508
/remove-lifecycle stale

[2018-02-14 19:19] #29937 closed

[2018-02-14 19:19] #29946 closed

[2018-02-14 19:19] #28535 closed

[2018-02-14 19:19] #28548 closed

[2018-02-14 19:19] #29762 closed

[2018-02-14 19:19] #28614 closed

[2018-02-14 19:19] #28753 closed

[2018-02-14 19:23] mikedanese opened #59885 "support turning off http redirector proxies"
There are some concerns related to browser based attacks that operators might want to avoid altogether by turning this feature off. Users should instead use portforward.

/sig api-machinery
/kind feature

@kubernetes/sig-api-machinery-feature-requests

[2018-02-14 19:39] enisoc commented on #49588
Woohoo! Thanks @roycaihw!

[2018-02-14 19:42] rramkumar1 commented on #59505
@islinwb It would be nice if you would also be able to add a section which shows the ipvs rules for a simple clusterIP service such as kube-dns. Maybe even show the iptables rules that are also created for this service. This would be helpful debugging information

[2018-02-14 19:56] fuhbar commented on #27308
@awh please create a PR for this. I really want to see to make this into mainline. :)

[2018-02-14 20:05] phsiao commented on #59867
Just ran into something similar on 1.9.2.  Deleting the statefulset would timeout, and error messages in controller-manager log regarding the timeout.   Restarting controller manager fixed that for me in that instance.

[2018-02-14 20:06] thedodd commented on #45779
I am running into this issue on GKE @ `1.8.5-gke.0`. StatefulSet's `spec.serviceName` matches the service's `metadata.name`. No other issues. Simply can not resolve specific statefulset memeber's DNS name.

[code]

[code]

[2018-02-14 20:06] thedodd commented on #57671
I am running into this issue on GKE @ `1.8.5-gke.0`. StatefulSet's `spec.serviceName` matches the service's `metadata.name`. No other issues. Simply can not resolve specific statefulset memeber's DNS name.

[code]

[code]

[2018-02-14 20:06] saad-ali commented on #14217
So three big refactors we still need to do:
1) `volume.VolumePluginMgr` which is required to `InitPlugins` requires a `VolumeHost` object which is very kubelet specific (gets `KubeClient`, `VolumeDir`, etc.) so these methods on the attach/detach controller, PV/PVC, etc. return dummy values.
2)  We have two layers of volume interfaces: `VolumePlugin` in [pkg/volume/plugins.go](https://github.com/ku

[2018-02-14 20:20] #29470 closed

[2018-02-14 20:20] #29626 closed

[2018-02-14 20:20] #29076 closed

[2018-02-14 20:20] #29765 closed

[2018-02-14 20:20] #30096 closed

[2018-02-14 20:20] #30106 closed

[2018-02-14 20:29] huguesalary opened #59888 "HPA is refuses to autoscale if DesiredReplicas > MaxReplicas (but I want it to scale up to MaxReplicas)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a horizontalPodAutoscaler like this:

[code]

However, for the past few days, I haven't seen the autoscaler scaling up my pods, even though *I know* it should have: I am watching (with `watch`) my HPA and have noticed multiple time the `80% CPU percentage` limit was crossed.

What I do keep seeing is the following

[2018-02-14 20:30] huguesalary commented on #59888
/sig autoscaling

[2018-02-14 20:34] huguesalary commented on #59888
@kubernetes/sig-autoscaling-bugs

[2018-02-14 20:36] resouer commented on #59109
@kad @RenaudWasTaken @jiayingz I am not sure about:

It indeed make 100+ sense to me that `device plugins only need to care about devices`, but currently, devices allocation is done in kubelet, with a linear model, which sounds problematic to me.

As we mentioned CSI, one thing is that volumes do have [their own scheduling logic in the scheduler](https://github.com/kubernetes/features/issues/490),

[2018-02-14 20:54] huguesalary commented on #59888
Re-reading the code, I realize that the HPA *does* scale *up to* `MaxReplicas` (https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L543). However, for some reason, when I `kubectl describe` my HPA, all I see is `ScalingLimited  True    TooFewReplicas    the desired replica count is increasing faster than the maximum scale rate` which makes me think it d

[2018-02-14 20:57] whereismyjetpack commented on #44511
I have a very similar issue,
[code]
This is from piping the output of another process ala `cat foo | kubectl apply -f -`

[2018-02-14 21:04] DirectXMan12 commented on #59888
`is increasing faster than the maximum scale rate` means that we've rate limited the size of the scale that happens at once (it's a percentage of the current replicas) so that you don't go directly from `5 -> 500` pods.

[2018-02-14 21:07] saad-ali commented on #59763
Reverted PR in https://github.com/kubernetes/kubernetes/pull/59523

[2018-02-14 21:07] #59763 closed

[2018-02-14 21:19] huguesalary commented on #59888
@DirectXMan12 yes the message makes sense. But I haven't noticed more pods being added.

[2018-02-14 21:20] #18770 closed

[2018-02-14 21:27] kad commented on #59109
Reasons to include annotations are not for choosing device or scheduling, but more about how to prepare device according to request. We don't have way at the moment e.g. to ask for OpenCL accelerator, but then choose which versions of libraries to mount inside container (glibc vs. musl based, opensource or closed optimized binaries, etc). This is all about passing device specific attributes that a

[2018-02-14 21:29] maximilien commented on #59839
/sig cluster-lifecycle

[2018-02-14 21:33] wedgeV commented on #58286
Same issue here, seems to be triggered by `kube-proxy` getting restarted for some reason, and it's previously allocated ports not getting properly released.

[2018-02-14 21:43] krzyzacy opened #59889 "[e2e test failure] each node by dropping all outbound packets for a while and ensure they function afterwards"
http://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-reboot

/priority failing-test
/kind bug
/status approved-for-milestone
/sig cluster-lifecycle

the job is on the master-blocking dashboard and the e2e test has been failing, please take a look

cc @jdumars @jberkus @luxas @roberthbailey @kubernetes/sig-cluster-lifecycle-bugs

[2018-02-14 21:46] #58747 closed

[2018-02-14 21:48] YDD9 opened #59890 "eviction manager: unexpected error when attempting to reduce imagefs pressure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when my master2 added into HAcluster via kubeadm, the kube-proxy didn't start and always error:

kubelet, master2  Failed to inspect image "gcr.io/google_containers/kube-proxy-amd64:v1.9.3": rpc error: code = Unknown desc = Error response from daemon: readlink /var/lib/docker/overlay2: invalid argument

[code]
**What you expected to

[2018-02-14 21:50] resouer commented on #59109
@kad Unfortunately, Pod name is the identifier of network namespace path, so most of network hardware plugins will need it.  For example, SolarFlare in [this doc](https://docs.google.com/document/d/1gYZn-lAWqPZEUCUriXIYhDgCSW5BBteaRlpNun0yOhs/edit?ts=5a82f276#heading=h.go9poql0epln). Of course, we can add that name in Pod annotation somehow but the essential problem would be there tend to be more.

[2018-02-14 21:58] kachkaev commented on #24725
Sorry for a late follow up, but what if I'd like to deliberately kill the pods instead of restarting? I've got a deployment with pods that are somewhat buggy. They do not restore themselves well after one of the containers fails and thus my deployment becomes unstable after some time. How can I maintain a Deployment (and consequently a ReplicaSet) that would kill and recreate failing Pods rather t

[2018-02-14 22:05] krzyzacy commented on #59889
testgrid change suggests https://github.com/kubernetes/kubernetes/compare/6590ea6d5...7b678dc40

[2018-02-14 22:14] roberthbailey commented on #59889
@JulienBalestra (author of the change in that range) -- any idea whether https://github.com/kubernetes/kubernetes/pull/57106 might have broken reboot tests?

[2018-02-14 22:26] bgrant0607 commented on #24725
cc @kubernetes/sig-apps-feature-requests

[2018-02-14 22:34] phsiao commented on #55719
/close

[2018-02-14 22:34] #55719 closed

[2018-02-14 22:36] phsiao commented on #59867
/sig apps

[2018-02-14 22:43] khenidak commented on #59876
@JiangtianLi @andyzhangx @jdumars

[2018-02-14 22:48] mml opened #59893 "GCE Node Controller is very inefficient with multiple zones"
Looking at getInstanceByName https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/cloudprovider/providers/gce/gce_instances.go#L461, we do a very inefficient search for instances by name.  This is free when there is only one zone, and cheap if the product `(number of zones) x (number of nodes)` is small, but it can get out of hand quickly with large, multi-zone clusters.

It not only wast

[2018-02-14 23:22] #3599 closed

[2018-02-14 23:22] #11319 closed

[2018-02-14 23:22] #11756 closed

[2018-02-14 23:22] #14443 closed

[2018-02-14 23:22] #24690 closed

[2018-02-14 23:22] #28855 closed

[2018-02-14 23:34] oomichi commented on #55471
/assign oomichi

[2018-02-14 23:37] oomichi commented on #55471
/close

I think this can be closed because of https://github.com/kubernetes/website/pull/7397
Please reopen if not enough.

[2018-02-14 23:37] #55471 closed

[2018-02-14 23:51] huguesalary commented on #59888
As a test, I increased my "MaxReplica" from 200 to 400. I was finally able to see my pods scale up and obvious messages indicating so when I run `kubectl describe hpa` (in the `events` section):

[code]

This indicates to me that it is likely that the autoscaler isn't autoscaling up to MaxReplica when `the desired replica count is increasing faster than the maximum scale rate`.

[2018-02-15 00:07] NickrenREN commented on #59639
yes. sure. i will update them

[2018-02-15 00:23] #25535 closed

[2018-02-15 00:28] krzyzacy opened #59895 "[test failure] verify.openapi-spec"
@calebamiles looks like you've merged https://github.com/kubernetes/kubernetes/commit/c007efcceb0516e8ba2e4ecb8715c01bd07e98e2 into master branch? That seems have broken http://k8s-testgrid.appspot.com/google-unit#verify-master and http://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-verify

can you take a look?

/priority failing-test
/assign @calebamiles

[2018-02-15 00:28] krzyzacy commented on #59895
/sig release
cc @jiayingz

[2018-02-15 00:41] bsalamat commented on #59748
@tossmilestone Yes, I can't think of any better solution either, but remember that you should append only to the slice in the first for loop of the function. The second slice should be initialized with the same number of elements as the slice used in the first for loop. Setting elements of the slices should be done by indexing them (not by append) in the second, third, and forth loop.

[2018-02-15 01:11] andyzhangx commented on #59876
@attilah specify `/D/influxdb` will find `c:\D\influxdb` dir, if it does not exist, it will create a new dir as your specify `type: DirectoryOrCreate`
I think you wan to use `D:\influxdb` in hostPath, just use `path: D:\influxdb`

[2018-02-15 01:11] bsalamat commented on #59194
Thanks, @k82cn! Reviewed Task 0, 1, and 2. Will review 3 when/if it is ready.

[2018-02-15 01:14] attilah commented on #59876
@andyzhangx D is my D drive, not a directory on C drive and that is what I want, and with the later specification Kubernetes correctly creates the directory if it does not exist on D drive.

[2018-02-15 01:16] andyzhangx commented on #59876
good to know, the file path format between linux and windows is a little different,
would you close this issue? thx.

[2018-02-15 01:24] #20581 closed

[2018-02-15 02:02] nicksardo opened #59900 "Service controller has race at startup which causes UpdateLoadBalancer to not be called"
/kind bug
/sig network
/assign

**What happened**:
Result:
GCE loadbalancer had outdated target pools because the service controller failed to call UpdateLoadBalancer() for all services.

Why:
The node sync loop has the potential to run before any services of type loadbalancer are synced at service controller startup. The node sync loop gets its list of services from a cache/map - not the service

[2018-02-15 02:10] mdianjun commented on #59741
@ kubernetes/sig-node-bugs
Please take a look at this problem.

[2018-02-15 02:25] #29927 closed

[2018-02-15 02:25] #30067 closed

[2018-02-15 02:33] chrislovecnm commented on #37843
Closing as I am not able to invest time in recreating, and I think this probably is addressed now

[2018-02-15 02:33] #37843 closed

[2018-02-15 02:42] Random-Liu opened #59902 "kubectl logs should support log rotation for CRI container runtime."
Today no matter for docker or other CRI container runtime, `kubectl logs` is **NOT** able to:
1) Trace back to back to rotated logs.
2) Detect current log file is rotated and start monitoring new log file.

Previously we don't support it, because docker doesn't follow CRI log format, and `kubectl logs` doesn't understand how docker rotate container logs.

However, after https://github.com/kubernet

[2018-02-15 02:47] anomaly256 commented on #58956
The problem is that kube-proxy is passing "-w5" to iptables-restore, which is invalid.  It should be "-w 5".  I'm hitting this problem too

[2018-02-15 03:26] #30642 closed

[2018-02-15 04:27] #31205 closed

[2018-02-15 04:36] cblecker commented on #59895
This looks to have been resolved, but root cause unknown:
failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/18553
passed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/18554
same repo commit, different infra commit

[2018-02-15 04:54] krzyzacy commented on #59895
I'll leave @calebamiles to close this? I'm not sure the root cause yet, but if that manual merged commit is related, we should probably avoid it in the future.

[2018-02-15 04:57] #58797 closed

[2018-02-15 05:01] calebamiles commented on #59895
@krzyzacy, I believe that commit was made "automagically" by anago while I was attempting to cut the 1.10 branch. @david-mcmahon noticed other problems and has magically cleaned up after the tool. Will follow up with him and you tomorrow.

[2018-02-15 05:11] andyzhangx commented on #59876
@attilah How do you get that error message? `Error received from daemon, Invalid mode for /var/lib/influxdb`, could you also run `kubectl describe po POD-NAME` and collect info?

[2018-02-15 05:19] david-mcmahon commented on #59895
Root cause was two tags landing on the same commit due to [this recent change](https://github.com/kubernetes/release/pull/507).  Solution was to temporarily remove the -beta tag from that commit so it doesn't interfere with the -alpha tag.  master branch is now fine.  Still need to tag the branch, but the question is, how given we don't make a change to the branch at branch time.   When it gets wo

[2018-02-15 05:28] #31186 closed

[2018-02-15 05:28] #31254 closed

[2018-02-15 05:28] #31261 closed

[2018-02-15 05:28] #18776 closed

[2018-02-15 05:28] #30173 closed

[2018-02-15 05:28] #31257 closed

[2018-02-15 05:28] #31209 closed

[2018-02-15 06:16] sivaprakash123 commented on #33766
In my case kubectl apply -f <file.yml> --force worked.

[2018-02-15 06:22] ProProgrammer commented on #25601
So to remove all entries for a stale cluster config (i.e. config for a cluster that no longer exists/or you want to use), we should do `kubectl config unset clusters.<cluster_name> && kubectl config unset users.<cluster_name>` individually for each cluster?
I removed the contexts using `kubectl config delete-context <cluster_name>`. Should we have that also delete the corresponding entries from `c

[2018-02-15 06:29] #31344 closed

[2018-02-15 06:29] #6461 closed

[2018-02-15 07:07] dobesv commented on #37030
I'm having this exact problem but I don't understand the solution.  What did you do to fix it?

[2018-02-15 07:12] dobesv commented on #37030
I think I found a workaround that doesn't require building my own image, I just use an initContainer to set ownership of the folder, e.g.:
[code]

[2018-02-15 07:12] attilah commented on #59876
I see that error in the Dashboard:

![image](https://user-images.githubusercontent.com/230432/36244693-1eed865e-11dc-11e8-8bc5-8b59869dae0b.png)

But also it present in the describe output:

[code]

"Fun" fact, that I don't know what is happening with the hostPath.path, but these values are valid AND working:
- /W/fooapp/influxdb
- //W/fooapp/influxdb
- /////W/fooapp/influxdb

Hope this helps.

[2018-02-15 07:30] #29262 closed

[2018-02-15 07:30] #31258 closed

[2018-02-15 07:30] #21076 closed

[2018-02-15 07:30] #31288 closed

[2018-02-15 08:31] #23508 closed

[2018-02-15 08:31] #26897 closed

[2018-02-15 08:31] #30399 closed

[2018-02-15 08:31] #31196 closed

[2018-02-15 09:31] rdsubhas opened #59911 "[Feature Request] GKE Auto Upgrade should leverage "Action Required" changelogs"
/kind feature
/sig gcp
@kubernetes/sig-gcp-feature-requests

### Given

- Kubernetes changelogs for every major version have multiple `Action Required` and `Before Upgrading` and other stuff which every cluster administrator has to read through before actually upgrading the cluster. Examples:
  - [CHANGELOG-1.9](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md) - 13 `action re

[2018-02-15 09:32] #31255 closed

[2018-02-15 09:32] #5712 closed

[2018-02-15 09:32] #23886 closed

[2018-02-15 09:32] #28710 closed

[2018-02-15 09:32] #4823 closed

[2018-02-15 09:32] #7778 closed

[2018-02-15 09:32] #11976 closed

[2018-02-15 09:32] #15666 closed

[2018-02-15 09:44] kad commented on #59109
@resouer in long term, I'd love to see `options` to be passed to DP and being able to use them in Pod resource requests. In short term I feel that annotations can be more flexible entity, which does not require to modify Pod or resource requests specs, thus while we don't have critical mass to define proper way and while Resource Class is still under discussion, this can be a solution which unbloc

[2018-02-15 10:33] #15910 closed

[2018-02-15 10:33] #16162 closed

[2018-02-15 10:33] #18111 closed

[2018-02-15 10:33] #22540 closed

[2018-02-15 10:33] #22761 closed

[2018-02-15 10:41] PhilippeDupont commented on #56930
I faced the same issue upgrading from 1.7.10 to 1.7.11 using kops and affinity for a zookeeper statefuulset. Removing the affinity fixed it. Thanks @tommyvn

[2018-02-15 11:34] #23301 closed

[2018-02-15 11:34] #23303 closed

[2018-02-15 11:34] #25170 closed

[2018-02-15 11:54] albertvaka commented on #53532
I have the same messages in my logs. Is it safe to remove all the checkpoints under `/var/lib/dockershim/sandbox/*` ?

[2018-02-15 11:56] STVKRAO commented on #59867
I ran into similar issue on 1.9.2. While deleting the statefulset, i am getting the error message:
error: no kind "GetOptions" is registered for version "apps/v1"

When ran with verbosity, see the below messages:

I0215 17:19:34.467985   25462 request.go:606] Error in request: no kind "GetOptions" is registered for version "apps/v1"
F0215 17:19:34.468031   25462 helpers.go:120] error: no kind "Get

[2018-02-15 11:59] nikhita commented on #59812
/area custom-resources

[2018-02-15 12:29] errordeveloper commented on #25485
/remove-lifecycle stale

[2018-02-15 12:30] errordeveloper commented on #25485
/remove-lifecycle stale

[2018-02-15 12:35] #26434 closed

[2018-02-15 12:35] #31147 closed

[2018-02-15 12:35] #30720 closed

[2018-02-15 12:56] albertvaka commented on #35062
Same problem on GCE:
K8s 1.8.7
CNI 0.5.1
Docker 1.12.6

[2018-02-15 12:57] porridge commented on #58154
FWIW, the benchmark graphs are now up at http://perf-dash.k8s.io/, and https://github.com/kubernetes/contrib/pull/2856 is out to bump binary version.

[2018-02-15 12:57] YoniTapingo commented on #58042
@k82cn Im experiencing somewhat of the same issue (KOPS on AWS)

I have added the TaintNodesByCondition: "true" flag for the kube-controller, scheduler & kubelet,
But now when a node shows: MemoryPressure: True the Taints field is still empty.

Could you please help?

[2018-02-15 12:59] phsiao commented on #59867
@carlosperezepfl @STVKRAO let's see if we can get more precise description of the issue together so the issue can be investigated.

I think it would be important to gather the following:

1. how to reproduce it.  I think at minimal the a yaml file that you use to apply/delete to demonstrate the problem, server/client version.
2. what actually broke in addition to the error message regarding "GetOp

[2018-02-15 13:01] phsiao commented on #59867
@carlosperezepfl

From this log, it appears the "GetOptions" error is generated when it tries to GET the corresponding service but could not find it.   It is not clear what the sequence of events are, and whether this stops it from continuing on to delete the statefulset.

[2018-02-15 13:14] phsiao commented on #59867
I was able to reproduce it with a very simple yaml file.

[code]

Using 1.8.2 client to apply it works fine, using 1.8.2 client to delete show the error, but my verbose log is different

[code]

Using 1.9.2 client to delete the yaml applied using 1.8.2 I don't see the same issue.   This might be a CLI version compatibility bug, and not an app bug.

/sig cli

[2018-02-15 13:19] phsiao commented on #59867
@kubernetes/sig-cli-bugs

[2018-02-15 13:19] phsiao commented on #59867
@kubernetes/sig-cli-bugs

[2018-02-15 13:20] phidah commented on #25908
For reference I made a cloud-sql-proxy sidecar version of @jmillikin-stripe's workaround where a file in a shared volume communicates the state to the sidecar.

It works OK, but is by far the nastiest hack in my K8s configuration :(

[code]

Can anyone internal to the project please comment on the progress of this issue?

[2018-02-15 13:27] JulienBalestra commented on #59889
I reverted the change as it may lead to this regression.

The other change is really small ([see](https://github.com/kubernetes/kubernetes/pull/57106/files#diff-c74869ee030004ef061f0e2b6573491cR144)) and unlikely related to this.

Still the [test grid](https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot) continues to say otherwise, I think we can reopen this issue.

[2018-02-15 13:34] phsiao commented on #59867
To summarize, I think the issue is 1.8.2 client (likely 1.8.x and 1.7.x from the reports) can't delete a statefulset in 1.9.2 (likely starting from at least 1.9.1 from the report), and it generates

[code]

back to the user in CLI.

Using this yaml to reproduce, no error in controller-manager log.

[2018-02-15 13:36] #24738 closed

[2018-02-15 13:36] #31796 closed

[2018-02-15 13:36] #31802 closed

[2018-02-15 13:36] #16296 closed

[2018-02-15 13:36] #31849 closed

[2018-02-15 13:36] #28325 closed

[2018-02-15 13:36] #31720 closed

[2018-02-15 13:43] shyamjvs commented on #58154
That looks awesome! Thanks a lot for making those changes Marcin - we now have a nice dashboard of those results.

Btw - from those graphs, it seems like there's quite a bit of variance. So I suggest holding back for a while to get a larger sample and think about if/how we may want to define some useful alerts.

[2018-02-15 13:45] liggitt commented on #59812
This may have already been fixed by https://github.com/kubernetes/kubernetes/pull/58861 and https://github.com/kubernetes/kubernetes/pull/59342

[2018-02-15 13:54] jwendell commented on #59812
@liggitt thanks. Do you know if those fixes are available at any released version so that I can try on minikube?

[2018-02-15 14:10] liggitt commented on #59812
I think they are just in the 1.10 dev stream

[2018-02-15 14:30] csrwng opened #59918 "Jobs - takes a while to update job status if job succeeds after retrying many times"
/kind bug

**What happened**:

Create a job that will fail many times, but eventually succeeds.

After the job's pod succeeds, it takes a long time to update the job status.

**What you expected to happen**:

After the job's pod succeeds, the job's status is updated immediately.

**How to reproduce it (as minimally and precisely as possible)**:

Create a simple configmap:
[code]

Create a job that

[2018-02-15 14:31] csrwng commented on #59918
@soltysh
/cc @staebler

[2018-02-15 14:37] #30298 closed

[2018-02-15 14:37] #23258 closed

[2018-02-15 14:39] csrwng commented on #59918
@kubernetes/sig-apps-bugs

[2018-02-15 14:58] jhorwit2 commented on #59900
@nicksardo i'd hold off on this because i'm deleting all the cache logic in the finalizer PR https://github.com/kubernetes/kubernetes/pull/54569

[2018-02-15 14:59] jhorwit2 commented on #59900
/area cloudprovider

[2018-02-15 15:12] jhorwit2 commented on #59869
/sig network

[2018-02-15 15:25] pohly opened #59922 "test failure k8s.io/kubernetes/pkg/cloudprovider/providers/gce: "google: could not find default credentials""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

Several other TestEnsureExternalLoadBalancer* tests fail the same way.

**What you expected to happen**:

Unit testing should pass.

**How to reproduce it (as minimally and precisely as possible)**:

See above.

**Anything else we need to know?**:

I started bisecting, but already the very first commit introducin

[2018-02-15 15:29] pohly commented on #59922
/sig gcp

[2018-02-15 15:38] #32138 closed

[2018-02-15 15:44] nicksardo commented on #59900
Well aware of that - your PR is linked in the bug description.  However, the problem will still exist in pre-1.10 versions.

[2018-02-15 16:33] jberkus commented on #59762
That's up to SIG-cluster-lifecycle, not me.  I just track the issues, I don't decide what's blocking.  Same for @spiffxp.

[2018-02-15 16:39] #30897 closed

[2018-02-15 16:39] #32534 closed

[2018-02-15 16:49] casiodk commented on #25908
Same issue here

[2018-02-15 17:04] zetaab opened #59925 "implement InstanceShutdownByProviderID to AWS"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE

/kind feature

Implement InstanceShutdownByProviderID to AWS. InstanceShutdownByProviderID returns true if the instance is in safe state to detach volumes. Note: if instance is deleted we should not return error.

[2018-02-15 17:05] zetaab opened #59926 "Implement InstanceShutdownByProviderID to Openstack."
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE

/kind feature

Implement InstanceShutdownByProviderID to Openstack. InstanceShutdownByProviderID returns true if the instance is in safe state to detach volumes. Note: if instance is deleted we should not return error.

[2018-02-15 17:05] zetaab commented on #59926
/sig openstack

[2018-02-15 17:06] zetaab commented on #59925
/sig aws

[2018-02-15 17:33] divyenpatel commented on #49789
/remove-lifecycle rotten

[2018-02-15 17:33] divyenpatel commented on #49789
/remove-lifecycle stale

[2018-02-15 17:34] divyenpatel commented on #49789
/hack/cherry_pick_pull.sh is still giving me the same error.

Once branch is created with cherypick changes, I have to manually generate pull request.

[2018-02-15 17:35] #44175 closed

[2018-02-15 17:35] #48352 closed

[2018-02-15 17:40] #30854 closed

[2018-02-15 17:40] #32618 closed

[2018-02-15 17:40] #32216 closed

[2018-02-15 17:40] #32647 closed

[2018-02-15 17:46] jdumars commented on #59762
@lukemarsden @jbeda @roberthbailey @luxas can you PTAL?

[2018-02-15 17:50] jdumars commented on #59876
@attilah just to limit variables, can you please downgrade your client to 1.8.x.  We do support version skew, but that would at least rule it out.  Please post results here after that. Thanks!

[2018-02-15 18:03] divyenpatel commented on #49789
[code]

[2018-02-15 18:03] mikedanese commented on #59450
#59844 will speed up this test.

[2018-02-15 18:04] bsalamat commented on #58154
Looks great. Thanks, @porridge!

[2018-02-15 18:15] gg7 commented on #52655
/remove-lifecycle stale
/remove-lifecycle rotten

We have also had this happen after a network issue which broke etcd and made all Kubernetes masters unavailable.

Environment:

* Kubernetes version: 1.6.13
* Cloud provider or hardware configuration: Baremetal servers
* OS: Ubuntu 16.04, 64 bit
* Kernel: `4.4.0-9[678]`
* Install tools: custom Ansible playbooks
* Others: Docker version 1.11.2

[2018-02-15 18:17] STVKRAO commented on #59867
I upgraded my kubernetes-cli to 1.9.3 and statefulset deletion worked fine with no issues.
It seems to be the incompatibility issue in client 1.8.2

[2018-02-15 18:21] bgrant0607 commented on #25908
cc @kubernetes/sig-apps-feature-requests @kubernetes/sig-node-feature-requests

[2018-02-15 18:24] ecebuzz commented on #59867
I can also confirm that upgrading kubectl to 1.9.3 can help to delete the statefulset. But the error message remains.

[2018-02-15 18:26] bsalamat commented on #53616
As discussed with @vishh  and @yguo0905, scheduler extender config can be enhanced to receive a list of resources per extender that the extender cares about. Pods that request at least one of such resources are sent to the extender. The config can also tell scheduler whether scheduler should ignore these resources or not. Basically, each of such resources can have a flag to indicate this intention

[2018-02-15 18:32] attilah commented on #59876
@jdumars how can I do that? I installed the docker for windows installer, not separate packages ;-)

[2018-02-15 18:33] bgrant0607 commented on #24753
@kubernetes/sig-testing-feature-requests PTAL and decide whether this is still needed

[2018-02-15 18:41] #32678 closed

[2018-02-15 18:41] #32791 closed

[2018-02-15 18:41] #23266 closed

[2018-02-15 18:41] #32809 closed

[2018-02-15 18:41] #32833 closed

[2018-02-15 19:10] Random-Liu commented on #59889
The reboot test is still failing.

[2018-02-15 19:17] jiayingz commented on #59109
cc @vishh @dchen1107 @yguo0905

Thanks a lot for your inputs, @kad

Generally I think we should avoid passing pod or container information to device plugins, but pod annotation is probably exceptional given that it has been used across various k8s areas to pass special information for different purposes. If we can limit the scope of this FR to pass pod annotations from kubelet to device plugin, I

[2018-02-15 19:17] bgrant0607 commented on #21493
cc @kubernetes/sig-node-feature-requests @kubernetes/sig-network-feature-requests

[2018-02-15 19:23] jiayingz commented on #59380
cc @dchen1107 @yguo0905

For the record, as we have discussed on slack, I think one way to support "unlimited resource" is to treat it as re-allocatable resource. I think the current inefficient part of doing this through DP is you need to advertise a extreme large number of devices and handcrafted some "device ids". If we can introduce a type of "re-allocatable" resources, a device plugin can adv

[2018-02-15 19:33] pshahid commented on #59867
Had this issue as well with 1.7.4. Upgrading to 1.9.3 eliminated the problem and the error message.

[2018-02-15 19:42] #30501 closed

[2018-02-15 19:42] #23693 closed

[2018-02-15 19:42] #32682 closed

[2018-02-15 19:42] #33087 closed

[2018-02-15 19:42] #20527 closed

[2018-02-15 19:42] #33104 closed

[2018-02-15 19:48] mtaufen commented on #58362
xref #59805

[2018-02-15 20:10] mkimuram opened #59942 "No error message is shown for PV-PVC binding when volumeMode: Block is not supported"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If a user specifies volumeMode: Block in creating PVC and neither plug-in nor external provisioner doesn't support block, a PV is created, but is not bound to the PVC because the PV and PVC don't match.
So, PVC will stay pending forever without any error messages.

**What you expected to happen**:
In above case, a proper e

[2018-02-15 20:17] #58613 closed

[2018-02-15 20:24] nikhiljindal commented on #25485
cc @G-Harmon

[2018-02-15 20:30] timothysc commented on #57471
PSA CNI-providers: this will eventually be a default for critical pods, which would affect your deployments.

@kubernetes/sig-network-misc @caseydavenport @errordeveloper

[2018-02-15 20:31] dims opened #59943 "RBAC for cloud-node-controller and pvl-controller not set up properly"
when i run local-up-cluster with the cloud-controller-manager (pointing to openstack in my case), i see the following in my `cloud-controller-manager.log`

[code]

the command line looks like this:

[code]

[2018-02-15 20:32] dims commented on #59943
/area cloud-provider

[2018-02-15 20:33] dims commented on #59943
/sig cluster-lifecycle

[2018-02-15 20:35] jpalomaki commented on #25908
Would it make sense to allow users to specify (by name) the containers in a Job that they wish to see complete successfully in order to mark the job pod as done (with other containers stopped), like so:
[code]
I.e. the pod would run, wait until `my-job` is done, and then just terminate `cloudsql-proxy`.

[2018-02-15 20:38] casiodk commented on #25908
yes i think that would be perfect

tor. 15. feb. 2018 kl. 21.36 skrev Jukka Palomäki <notifications@github.com

--
VH
*Nicolai Seerup*

*Soundtracktor ApS*
*Lead Developer - Ruby on Rails*

Danas Plads 17A
DK - 1905 Frb. C.

+45 3145 8035
ns@s <nicolai@music-in-motion.co.uk>oundtracktor.com

Follow Me
Twitter <http://www.twitter.com/soundtracktor>
Newsletter <https://soundtracktor.com/#social>

[2018-02-15 20:42] dims commented on #59943
one more

[code]

[2018-02-15 20:43] #19809 closed

[2018-02-15 20:43] #12231 closed

[2018-02-15 20:43] #32946 closed

[2018-02-15 20:43] #12686 closed

[2018-02-15 20:43] #33390 closed

[2018-02-15 20:54] rydahl commented on #55473
I have seen this happen sporadically with 1.8.4

Recreating the affected services appear to solve it, at least short term. But we havent been able to figure out what triggers it.

Seeing a lot of:
* Adding new service port
* Removing service port
for the affected services. When this happens they are unreachable for a random amount of time. Could be seconds but also minutes.

Got a lot of them toda

[2018-02-15 21:17] mtaufen commented on #50217
The test cases in the OP have been covered by our e2e_node tests for a while.

[2018-02-15 21:17] #50217 closed

[2018-02-15 21:20] redbaron opened #59946 "iSCSI should be deleting scsi devices on PV unmount to prevent data corruption"
**What happened**:

I am not an iSCSI expert, but it looks like there is data corruption  possible on iSCSI LUN reuse.

In the following sequence of events on a given node:

1. Provision iSCSI volume , map to host, LUN X will be assigned to it
2. let node discover that LUN (lets say mount another iSCSI PV, which would trigger iSCSI rescan)
3. delete iSCSI volume (LUN X will be unmapped from host)

[2018-02-15 21:22] mbohlool commented on #59403
/cc @lavalamp is this script deprecated?

[2018-02-15 21:25] mbohlool commented on #59591
/cc @jennybuckley

[2018-02-15 21:27] mbohlool commented on #59676
/cc @cheftako

[2018-02-15 21:29] mbohlool commented on #59759
/cc @caesarxuchao

[2018-02-15 21:31] mbohlool commented on #59775
/cc @cheftako

[2018-02-15 21:32] roycaihw commented on #59848
/sub

[2018-02-15 21:33] JulienBalestra commented on #59889
Just opened #59948 to achieve the revert.

[2018-02-15 21:44] #33446 closed

[2018-02-15 21:44] #33207 closed

[2018-02-15 21:44] #33493 closed

[2018-02-15 21:44] #29695 closed

[2018-02-15 21:44] #30555 closed

[2018-02-15 21:44] #31137 closed

[2018-02-15 21:44] #33510 closed

[2018-02-15 22:15] cppforlife commented on #59839
previous issue to add stateful sets: https://github.com/kubernetes/kubernetes/issues/39125

[2018-02-15 22:18] cppforlife commented on #59839
/sig apps

[2018-02-15 22:22] techcet commented on #55230
Does this need to an `ERROR`? Would `INFO` or `WARN` suffice for expected behaviour?

[2018-02-15 22:25] phidah commented on #25908
Yeah, that’d be perfect.

[2018-02-15 22:28] caesarxuchao commented on #59759
@tsandall what aspect of the exec call does your webhook intend to verify?

We lack the proper api machinery to serialize/convert the `rest.ConnectRequest` object. Perhaps we can work something out to passing the `ConnectRequest.Options` to the webhook.

@sttts I saw you had a comment here, https://github.com/kubernetes/kubernetes/blob/f88ff2ab419f40399bb0f9662ed53888f5830fff/staging/src/k8s.io/ap

[2018-02-15 22:35] jdumars commented on #59876
Oh... yikes I am not sure.  :) Despite working for Microsoft, I use a Mac.  Anyone have an idea here?

[2018-02-15 22:41] bgrant0607 commented on #52822
Alpha and Beta APIs aren't part of conformance at the current time.

[2018-02-15 22:41] #52822 closed

[2018-02-15 22:45] #33600 closed

[2018-02-15 22:45] #27063 closed

[2018-02-15 22:45] #33657 closed

[2018-02-15 22:45] #31422 closed

[2018-02-15 22:45] #33753 closed

[2018-02-15 22:51] tsandall commented on #59759
@caesarxuchao at minimum the webhook should be able to identify the pod and container that exec is run against...having access to the command would be nice.

This worked pre-1.9 but I forget if the serialization was correct. There was an issue with the internal object representation being sent across the wire. I don't remember if that affected the webhook payload for CONNECT operations.

A couple

[2018-02-15 23:08] rachirib commented on #52996
I'm having something similar I'm deploying a elastic cluster into a Kubernetes(Tectonic) 1.8 Cluster:

This cluster is using Gluster for Persistent Storage and it's using canal for CNI

I got this logs in the kubelet
`Feb 15 22:59:33 ip-10-162-1-189 kubelet-wrapper[968]: Calico CNI releasing IP address
Feb 15 22:59:33 ip-10-162-1-189 kubelet-wrapper[968]: Calico CNI deleting device in netns /proc/

[2018-02-15 23:10] HcgRandon commented on #32749
This absolutely is a requirement. Due to kube-dns not running on each node any cluster that simply has a node in eu and one in us and has kube-dns on one or the other will be completely unusable. The one without the dns server adds massive latency for every single request made. Something as simply as looking up google.com takes seconds in such a setup.

[2018-02-15 23:15] HcgRandon commented on #32749
/remove-lifecycle rotten

[2018-02-15 23:15] caesarxuchao commented on #59759
It seems the pod name will be in [ConnectRequest.Name](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/registry/rest/rest.go#L357) and the container name will be in [ConnectRequest.Options.Container](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L3884). We need to forward the entire `ConnectRequest` to the webhook.

I'll wait for

[2018-02-15 23:20] mml commented on #53810
/remove-lifecycle stale

[2018-02-15 23:20] HcgRandon commented on #32749
Also this would fix this issue https://github.com/kubernetes/kubeadm/issues/697.
And also we would no longer have an issues with using slow antiAffinity preventing reverts like this https://github.com/kubernetes/kubernetes/issues/54164#issuecomment-363153968

[2018-02-15 23:21] resouer opened #59951 "Should use predicates.XXX consts to instead of strings"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Per discussion in https://github.com/kubernetes/kubernetes/pull/59335/files#r168351460

**What you expected to happen**:

Use `predicates.XXX` consts to instead of strings

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `

[2018-02-15 23:36] rachirib commented on #25456
is this relate to this one?
#52996

[2018-02-15 23:36] jessicaochen commented on #59762
When I manually run, it looks like there is an issue installing the cni deb. Is this a known issue?

From my master VM logs:
[code]

[2018-02-15 23:40] roberthbailey commented on #59762
/cc @kubernetes/sig-network-bugs

[2018-02-15 23:46] #29772 closed

[2018-02-16 00:05] troyanov commented on #57671
@thedodd can you provide your Headless Service definition? Have you tried adding `clusterIP: None` for Headless Service?

[2018-02-16 00:29] mml commented on #53810
@brahmaroutu you are still working on this, correct?

[2018-02-16 00:46] mml commented on #55621
/remove-lifecycle stale

[2018-02-16 00:47] #33849 closed

[2018-02-16 00:47] #33954 closed

[2018-02-16 00:47] #34008 closed

[2018-02-16 00:47] #28408 closed

[2018-02-16 01:29] mtaufen commented on #55666
For some reason GitHub didn't close this automatically when the referencing PR merged.

[2018-02-16 01:29] #55666 closed

[2018-02-16 01:48] #34238 closed

[2018-02-16 01:48] #32869 closed

[2018-02-16 01:48] #34263 closed

[2018-02-16 01:48] #34284 closed

[2018-02-16 01:57] thockin commented on #484
/lifecycle frozen
/remove-lifecycle stale

[2018-02-16 01:59] thedodd commented on #57671
@troyanov so, I was using `1.8.5-gke.0`, and after upgrading to `1.8.7-gke.1` the DNS started working as expected.

And yes, to be sure, I already had the `clusterIP: None` set already.

[2018-02-16 02:00] thedodd commented on #57671
Issue resolved.

[2018-02-16 02:16] monique77 opened #59959 "Ubuntu 16.04 LTS - Unable to locate package kubelet, kubeadm, kubectl"
Hi,

First, sorry my english is bad.

Dear,
I am using ubuntu 16.04 LTS, following the observations of the https://kubernetes.io/docs/setup/independent/install-kubeadm/

But in the step: apt-get install -y kubelet kubeadm kubectl     error appears:
apt-get install -y kubelet kubeadm kubectl
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate

[2018-02-16 02:34] thockin opened #59962 "Test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-02-16 02:38] #59962 closed

[2018-02-16 02:44] #57686 closed

[2018-02-16 02:49] #33892 closed

[2018-02-16 02:49] #31301 closed

[2018-02-16 02:49] #32728 closed

[2018-02-16 02:49] #34493 closed

[2018-02-16 02:49] #34538 closed

[2018-02-16 03:50] #31264 closed

[2018-02-16 03:50] #34579 closed

[2018-02-16 03:58] jhorwit2 commented on #59946
/kind bug

[2018-02-16 04:00] jhorwit2 commented on #59856
/sig api-machinery
/area code-generation

[2018-02-16 04:07] andyzhangx commented on #59876
@attilah so here `W:\` is an existing drive, right? It's an error from docker daemon: `Error: Error response from daemon: invalid mode: /var/lib/influxdb`,
to narrow down this issue, could you try to run
`docker run -d -v W:\fooapp\influxdb:c:\var\lib\influxdb influxdb:1.4.3-alpine`
in your Windows agent.
According to this [stackoverflow issue](https://stackoverflow.com/questions/47091139/docker-m

[2018-02-16 04:07] justinsb commented on #45976
I observed similar symptoms today.

1. Application level DNS errors (Java again, so UnknownHostException).
2. Errors started at the exact same time as one of the kube-dns pods restarted for unknown reasons (exit code 1, no hints in the logs).
3. Errors then continued for days - i.e. this was not just a transient error
4. I took a look around and the iptables rules seemed correct
5. I terminated th

[2018-02-16 04:16] #59813 closed

[2018-02-16 04:16] #53439 closed

[2018-02-16 04:51] #34882 closed

[2018-02-16 04:51] #31260 closed

[2018-02-16 04:51] #34722 closed

[2018-02-16 05:52] #29014 closed

[2018-02-16 05:52] #34494 closed

[2018-02-16 05:52] #19593 closed

[2018-02-16 05:52] #35003 closed

[2018-02-16 05:52] #35031 closed

[2018-02-16 06:02] attilah commented on #59876
@andyzhangx  in your sample cmd the ```c:\var``` does not make sense, no drives in Linux AFAIK.

However all of these are working:
[code]

The last one is weird for sure. I think that the left side of a local volume should be validated against the host os's path requirements BUT helpers (like forward slashes) should be allowed. (but not //////).

[2018-02-16 06:42] #15180 closed

[2018-02-16 06:42] #59733 closed

[2018-02-16 06:53] #30151 closed

[2018-02-16 06:53] #30712 closed

[2018-02-16 06:53] #34253 closed

[2018-02-16 07:13] pohly commented on #59425
@cjcullen: "but we can probably make that test more hermetic" - how?

I tried a generic approach in PR #59648, but @liggitt prefers to have the test itself to behave the same independent of the environment.

[2018-02-16 07:33] tossmilestone commented on #59748
OK, I will submit a PR to implement it. @bsalamat

[2018-02-16 07:38] ugugugug commented on #44214
I think this is important issue.
Many applications requires nested configulation like "*.d".
This case, k8s try to remount mountPoints "endlessly".

How do we solve this problem?

[2018-02-16 07:54] #32759 closed

[2018-02-16 07:54] #29791 closed

[2018-02-16 08:15] fabiand commented on #59380
@jiayingz could you please elaborate a little on how 're-allocateable' differs from 'shareable' for you?

[2018-02-16 08:22] fabiand commented on #59380
@iwankgb To me NFD is really valuable for certain cases - i.e. specific CPU flags, locality, … - but this approach (auto labeling of nodes) only works for resources which do not need any allocation to a pod or container, but are rather an inherent feature of the host which you can consume _without_ allocation.

This is why NFD does not work for i.e. `7dev/kvm` (which could be considered to be a ca

[2018-02-16 08:37] nikhita commented on #55230
The ERROR is mostly due to https://github.com/kubernetes/kubernetes/issues/17162.

[2018-02-16 08:55] #35228 closed

[2018-02-16 08:55] #35524 closed

[2018-02-16 08:55] #35626 closed

[2018-02-16 08:55] #34640 closed

[2018-02-16 09:03] yue9944882 commented on #25485
Any updates plz?

[2018-02-16 09:13] SuneKjaergaard commented on #59867
I can confirm that upgrading kubectl from 1.7.4 to 1.9.3 helped

[2018-02-16 09:56] #32638 closed

[2018-02-16 09:56] #35157 closed

[2018-02-16 09:56] #35748 closed

[2018-02-16 09:56] #28940 closed

[2018-02-16 09:56] #19765 closed

[2018-02-16 09:56] #35719 closed

[2018-02-16 10:23] ApsOps commented on #42649
I'm still experiencing this on `v1.8.6`.

[2018-02-16 10:48] devlounge commented on #25908
I like this idea @jpalomaki

[2018-02-16 10:57] #35846 closed

[2018-02-16 10:57] #30148 closed

[2018-02-16 10:57] #35848 closed

[2018-02-16 10:57] #35974 closed

[2018-02-16 10:57] #35976 closed

[2018-02-16 11:52] jforman opened #59969 "kubelet SIGSEV: panic: runtime error: invalid memory address or nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A completely new k8s v1.9.3 cluster (3 controller nodes, 5 worker nodes) following kelseyhightower's kubernetes-the-hard-way tutorial running on CoreOS Beta shows the following kubelet crashes on all workers. The runtime is rkt (using the rktlet implmentation from [1]). No pods have been installed,

1: https://github.com

[2018-02-16 11:56] jforman commented on #59969
@kubernetes/sig-node-kubelet

[2018-02-16 11:57] jforman commented on #59969
@kubernetes/sig-node-bugs

[2018-02-16 11:58] #29819 closed

[2018-02-16 11:58] #34073 closed

[2018-02-16 11:58] #34974 closed

[2018-02-16 12:15] php-coder opened #59971 "Eliminate duplicated versions of the utilpointer.Int32Ptr()"
We should do the similar changes that I did for `BoolPtr()` in #59924 but for `utilpointer.Int32Ptr()`. Here are the candidates:
[code]

/kind cleanup
/help

[2018-02-16 12:59] #25215 closed

[2018-02-16 12:59] #36149 closed

[2018-02-16 12:59] #36185 closed

[2018-02-16 12:59] #20477 closed

[2018-02-16 12:59] #36193 closed

[2018-02-16 13:11] yastij commented on #59951
@resouer - we need an issue to track usage of strings instead of consts in the scheduler, as it is very easy to break something bc of this. can we use this issue to track the refactoring ?

[2018-02-16 13:46] justinsb commented on #59925
This is only when using the cloud-controller-manager, right?

[2018-02-16 13:49] shyamjvs commented on #44701
/remove-lifecycle rotten

[2018-02-16 13:53] jforman commented on #59969
I think the nil reference (seen here):
Feb 16 13:47:01 corea-worker0.obfuscated.domain.net kubelet[11348]: I0216 13:47:01.505887   11348 handler.go:325] Added event &{/system.slice/etcd-member.service 2018-02-16 13:14:38.244696583 +0000 UTC containerCreation {<nil>}}

Is coming from https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/vendor/github.com/google/cadv

[2018-02-16 13:58] shyamjvs commented on #44701
it's been a while, but there's an interesting update here. After my recent fix (https://github.com/kubernetes/kubernetes/pull/59832) for a significant bug with endpoints in kubemark (https://github.com/kubernetes/kubernetes/issues/59823), the gap b/w kubemark and real cluster `PUT endpoints` 99%ile latency has drastically fallen,

from ~6.0 (see - https://storage.googleapis.com/kubernetes-jenkins/

[2018-02-16 14:00] #36331 closed

[2018-02-16 14:00] #36042 closed

[2018-02-16 14:00] #36305 closed

[2018-02-16 14:01] #59526 closed

[2018-02-16 14:16] shyamjvs commented on #44701
One more thing, since the endpoints objects were effectively empty in the kubemark cluster, that should've considerably reduced etcd and apiserver mem-usage for kubemark. Let me grab some values from the present.

[2018-02-16 14:21] shyamjvs commented on #44701
And I was right...

![apiserver_mem_usage_kubemark](https://user-images.githubusercontent.com/4333971/36311741-8e227ede-132c-11e8-9de2-7e1be159f140.png)
![etcd_mem_usage_kubemark](https://user-images.githubusercontent.com/4333971/36311742-8e45c1a0-132c-11e8-8123-9ceaf30a1ade.png)

This is from kubemark-100 density test. You can see that the memory usage for both etcd and apiserver has gone up by ~

[2018-02-16 14:27] shyamjvs commented on #44701
And for 100-node real cluster, this is how the apiserver and etcd mem usages look like:

![apiserver_mem_usage_real](https://user-images.githubusercontent.com/4333971/36312207-e84c90ce-132d-11e8-876b-1b5727174d59.png)
![etcd_mem_usage_real](https://user-images.githubusercontent.com/4333971/36312210-eb2d9a7c-132d-11e8-9c54-d6b98f79255c.png)

[2018-02-16 14:31] php-coder commented on #59865
/sig node
@kubernetes/sig-node-feature-requests

[2018-02-16 14:31] shyamjvs commented on #44701
To summarize, this is how the avg mem usages look like:

- Real cluster:
  - etcd: ~700 MB
  - apiserver: ~1200 MB
- Kubemark cluster:
  - etcd: changed from ~350 MB to ~475 MB
  - apiserver: changed from ~700 MB to ~825 MB

[2018-02-16 14:43] shyamjvs commented on #44701
I have a strong feeling that the remaining difference has a considerable component coming from node objects (as we were discussing earlier in this thread). In addition to the object size itself, there is one more factor magnifying the effect - which is having numerous versions of each node object in etcd (discussed in more detail here: https://github.com/kubernetes/kubernetes/issues/14733).

So I

[2018-02-16 14:44] rootfs commented on #57960
kernel version is not reliable to filter rbd features. RHEL/CentOS kernels do not strictly follow upstream kernel release.

[2018-02-16 15:01] #36341 closed

[2018-02-16 15:01] #36577 closed

[2018-02-16 15:01] #23033 closed

[2018-02-16 15:07] bgrant0607 commented on #25485
For now, traffic splitting is possible when using Istio for Ingress:

https://istio.io/docs/tasks/traffic-management/ingress.html
https://github.com/kelseyhightower/istio-ingress-tutorial/blob/master/docs/06-istio-route-rules.md#add-a-route-rule

cc @kubernetes/sig-network-feature-requests @bowei

[2018-02-16 15:16] cmluciano commented on #59762
@danehans Does the problem that @jessicaochen mention match the problem that you mentioned on our SIG meeting last week?

cc @dixudx I think we updated this package recently to require a certain version constraint. Do you have any ideas here?

[2018-02-16 15:34] pierreozoux commented on #48466
This is also something we were looking into.
We want to migrate a `statefulset` from one cluster to another. And for the app, this number is really important.
Se we thought to offset it on the second cluster, but we just saw this issue :) We'll proceed another way then.

[2018-02-16 15:36] CallMeFoxie commented on #48466
we just put an ENV "OFFSET" variable which is parsed during startup in a bash script that patches the config file/other ENV variables based on the OFFSET :) easiest solution!

[2018-02-16 15:48] khenidak commented on #58770
Closed with PRs linked. #3 above is configuration guidance which will be published separately.

@jdumars

[2018-02-16 15:48] #58770 closed

[2018-02-16 15:48] david972 commented on #42616
I got the same issue.
Thank to @pieterlange work around It's work for me.

But it's weird I didn't get this issue before upgrading my controller from 0.9.0-beta.17
So I don't understand the difference.

[2018-02-16 16:02] #33433 closed

[2018-02-16 16:02] #28045 closed

[2018-02-16 16:02] #27346 closed

[2018-02-16 16:02] #28089 closed

[2018-02-16 16:02] #25476 closed

[2018-02-16 16:18] brycecarman commented on #58136
There is an option in the AWS cloud provider config file to pass the VPC. The difficult part however is that Kubernetes operates under the assumption that all nodes can communicate with each other. VPC peering may be on option here.

[2018-02-16 16:28] berlincount commented on #43916
/remove-lifecycle rotten

it seems like we're affected by this problem as well. with tightly packed containers, long running jobs involving heavy disk I/O sporadically fail.

take this example:

[code]

Test this with:

[code]

the latter command might take a moment to become available.

The job tries to unpack 1TiB of zeroes (triple-compressed with zstd) - and
apparently fails because of memory e

[2018-02-16 16:44] mgomezch commented on #43916
We don't currently have a reliable reproducer for this, but we often hit this when restoring large PostgreSQL backups with `pg_basebackup`.  A particularly horrible but effective hack to help the backup restore process complete is to exec into the pod and `sync; echo 1 > drop_caches` repeatedly as suggested above (it also helps to sigstop/cont the backup process while flushing the cache).

Is ther

[2018-02-16 16:45] bgrant0607 commented on #28315
Closing in favor of VPA.

[2018-02-16 16:45] #28315 closed

[2018-02-16 16:45] lumeche opened #59975 "For Horizontal pod autoscaling enable flag to don't count in currentReplicas pods that are not Ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
We are  starting  to use the HPA (horizontal pod  autoscaling) for one of  our components. What is  special about this  particular  component is  that the warm up period is very long (sometimes  even more  than 30 minutes). During that time, the pod is in Running state but its containers are in Not Ready state.
This

[2018-02-16 16:46] tiukhtinvladimir opened #59976 "kube-proxy in ipvs mode doesn not correctly work with load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I tried ipvs mode in kube-proxy instead of iptables. It works fine with all service types except loadbalancer. I am using MetalLb as loadbalancer and I can not make it work. In iptables mode it works perfect, I just do not want go back to it from ipvs

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[2018-02-16 17:03] #23622 closed

[2018-02-16 17:03] #23539 closed

[2018-02-16 17:03] #23633 closed

[2018-02-16 17:03] #23813 closed

[2018-02-16 17:03] #23922 closed

[2018-02-16 17:03] #28901 closed

[2018-02-16 17:03] #24333 closed

[2018-02-16 17:03] #24573 closed

[2018-02-16 17:03] #24028 closed

[2018-02-16 17:24] #56102 closed

[2018-02-16 17:31] dims opened #59978 "Conformance test "HostPath should give a volume the correct mode" needs privileged containers"
- Do we really want to mandate that to conform, a provider should allow privileged containers?
- Is this by design or by an oversight?

[code]

[2018-02-16 17:33] dims commented on #59978
Test in question is here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/host_path.go#L49

here's where we are creating pods with privileged containers:
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/vendor/k8s.io/kubernetes/test/e2e/common/host_path.go#L248

[2018-02-16 17:35] danehans commented on #59762
@cmluciano I think @leblancd may be the person that mentioned the problem. @leblancd can you please confirm?

[2018-02-16 17:36] dims commented on #59978
Looks like the the change to require privileged containers was done here:
https://github.com/kubernetes/kubernetes/commit/d60cb81f7fe43dd8dd7630464bce53cd83dfc997

[2018-02-16 17:36] dims commented on #59978
/sig storage

[2018-02-16 17:37] nicksardo commented on #45594
/lifecycle frozen

[2018-02-16 17:43] dims commented on #59978
/cc @timothysc

[2018-02-16 17:47] steffengy opened #59979 "Kubernetes AWS Cloud Provider: x509: failed to load system roots"
When deploying a master with kubeadm as described below,
kube-api-server fails to start up with x509: failed to load system roots and no roots provided.
(if I only pass --cloud-provider to kube-controller, it also fails with that error)
This error **only happens when passing `aws` as cloudprovider**.
(Omitting cloudProvider spawns a working cluster)

Master node installed with `/opt/bin/kubeadm in

[2018-02-16 17:49] dims commented on #59978
/assign @childsb
/assign @saad-ali

Saad, Bradley, So what do we do here? Requiring privileged containers for a conformance test does not seem right.

[2018-02-16 17:53] leblancd commented on #59762
@cmluciano , @danehans , @jessicaochen , @mikedanese , @luxas
Yes!!! This is the exactly the issue that I referred to in this proposed (admittedly kludgy) workaround: https://github.com/kubernetes/kubernetes-anywhere/pull/514. I believe that this may have been introduced when we changed to CNI version 0.6.1, but that's just a guess.

I could be wildly wrong here, but I believe that the contents of