[2019-02-24 04:06] zrss commented on #74469
describe unschedulable pod

[code]

[2019-02-24 04:10] zrss commented on #74469
`192.168.42.172` node status

[code]

[2019-02-24 04:14] coffeepac commented on #74272
https://github.com/kubernetes/kubernetes/pull/73819 moved the image to a new repository which I can monitor for issues.

https://github.com/kubernetes/kubernetes/pull/71251 is based off of ES 6.6.0 which handles most of the issues.

Need to also setup alerts on the new image repository.

[2019-02-24 04:44] #68650 closed

[2019-02-24 04:50] warmchang commented on #55045
@skleinjung
Add a switch option that allows the user to decide whether to delete the PVC cascading.

[2019-02-24 08:47] #69128 closed

[2019-02-24 08:57] wgliang commented on #72506
PTAL the KEP proposal:
https://docs.google.com/document/d/1RbTk8v74rcuA-DlBiM6n1W9TJ-VXITjhNq0UD0HckMg/edit

/cc @bsalamat @k82cn @misterikkit  @Huang-Wei

[2019-02-24 09:40] ahadas opened #74471 "Disable hyper-threading for a pod"
**What would you like to be added**:
An ability to ask CPU manager to assign CPUs as if hyper-threading is disabled for a particular pod.

**Why is this needed**:
Special workloads may require high-level of CPU isolation in order to prevent potential vulnerabilities.

Some traditional virtualization management platforms provide an option of "treat threads as cores" which means that when workloads

[2019-02-24 09:40] ahadas commented on #74471
/sig node

[2019-02-24 10:05] ahadas opened #74472 "Isolation of emulated cores"
**What would you like to be added**:
A way to ask CPU manager to isolate emulated cores of a particular pod (from other pods).
That means running threads within an emulated core on node-core(s) that does not execute any other pod.

For instance, when running a pod that emulated 2 cores and 2 threads-per-core, the system may choose up to 4 node-cores and all threads of those node-cores would be ass

[2019-02-24 10:11] ahadas commented on #74472
/sig node

[2019-02-24 14:26] azapps commented on #74169
Yes that would be a way to go. But bear in mind, that in my case I had only one master which is up for ~30s. So I would need to start the kubelet service and be fast enough to enter the command.

[2019-02-24 15:20] mooperd commented on #17144
+1

[2019-02-24 15:43] neolit123 opened #74474 "[Failing Test] master-blocking: kubeadm-gce-master"
@kargakis @lubinsz

i have a suspicion that this PR broke a sig-apps test:
https://github.com/kubernetes/kubernetes/pull/74293
diff: https://github.com/kubernetes/kubernetes/compare/d6de0454e...b96378c05

**Which jobs are failing**:
kubeadm-gce-master
(release blocking)

**Which test(s) are failing**:
 [sig-apps] Daemon set [Serial] should rollback without unnecessary restarts [Conformance]Changes

[2019-02-24 15:45] neolit123 commented on #74474
/assign

[2019-02-24 16:21] basitsattar commented on #23864
Hi @adimania were you able to fix that? Also I am getting ice failure when I am deploying sfu/mcu in kubernetes. Can you help me with this?

[2019-02-24 16:39] phanama commented on #69293
+1000 on this

[2019-02-24 17:46] nikhita commented on #69654
/remove-lifecycle rotten

[2019-02-24 18:19] kargakis commented on #74474
Looks like framework.TestContext.CloudConfig.NumNodes is not set appropriately in the kubeadm test?

[2019-02-24 18:54] neolit123 commented on #74474
i guess we need to set NUM_NODES explicitly for this deployer to work now with master.

by default, the value is bound to `--gcp-nodes` here:
https://github.com/kubernetes/test-infra/blob/master/kubetest/main.go#L601-L603

the env variable NUM_NODES needs to be updated based on this value:
https://github.com/kubernetes/test-infra/blob/master/kubetest/anywhere.go#L60
(default 4)

https://storage.go

[2019-02-24 19:09] geymed opened #74475 "Add kubectl `alias` command to allow reusing of complex commands"
**What would you like to be added**:
I would like to have the ability to create aliases for kubectl commands (similar to `git config --global alias...`)

**Why is this needed**:
This will boost the productivity of the tool and will allow performing frequent operations that requires a lot of typing faster.

/sig cli

[2019-02-24 19:11] menardorama commented on #71649
Hi did you solved your issue ?
I am getting the same behaviour, don't know what to do

[2019-02-24 20:00] chrisz100 commented on #43784
Is there any update on this issue? Seems to be open for ages but no update in the making

[2019-02-24 20:13] kargakis commented on #74474
There should be 3 old pods running since the new pod is unhealthy and the update is stuck at N-1 healthy

[2019-02-24 22:00] #68971 closed

[2019-02-24 22:44] BenTheElder commented on #74474
IMO this probably needs to be auto-detected by the framework.

[2019-02-24 22:56] PaulFurtado commented on #60789
/remove-lifecycle stale

We're doing this via admission controller and it has drastically simplified our hadoop deployments in kubernetes. Would be great to have this in the kubernetes core for others to take advantage of.

[2019-02-25 00:03] neolit123 commented on #74456
/sig api-machinery

[2019-02-25 02:22] cofyc commented on #74384
/assign

[2019-02-25 02:34] edwardstudy commented on #71139
Hi, @k82cn. I reproduced this issue on v1.10.12.

I just ran a loop of my integration test and the test sometimes failed with below message when client was updating a secret or configMap:

[code]

[2019-02-25 02:38] krmayankk commented on #72253
Any update @runcom  ?

[2019-02-25 02:40] krmayankk opened #74482 "E2E Nodes tests for SELinux relabelling and SELinux relabelling when using hostPID are flaky"
**Which jobs are failing**:
pull-kubernetes-e2e-gce

**Which test(s) are failing**:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node/security_context.go#L142
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node/security_context.go#L134

**Since when has it been failing**:
I saw this in this PR #73007

**Testgrid link**:

https://gubernator.k8s.io/build/kubernetes-je

[2019-02-25 02:40] krmayankk commented on #74482
/sig node
/sig storage

[2019-02-25 02:45] xiegang1 commented on #27000
Do we have any update about this feature? Can we isolated the iops now in k8s?  We are planning to migrate our hadoop apps to k8s, and think iops could be a problem and iops isolation is required.

[2019-02-25 02:58] xiegang1 commented on #54923
Do we have this feature supported?

[2019-02-25 02:58] hello2mao commented on #74099
/assign @hello2mao

Try to fix this: #74484

[2019-02-25 03:06] alexling92 commented on #72395
I have the same problem too. The --pod-eviction-timeout function does not seem to be working at all. Is this a bug?

[2019-02-25 03:24] WanLinghao commented on #62917
/cc

[2019-02-25 03:37] cofyc commented on #74384
hi, checked [latest test results](https://testgrid.k8s.io/sig-storage-kubernetes#gce-serial&include-filter-by-regex=Driver%3A%20local&include-filter-by-regex=Driver%3A%20local), after #74445, "should be mountable" has been fixed.

failing test is "should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]" and it fails for all kinds of local volume types

[2019-02-25 04:54] weeperscreepers commented on #74475
Any reason regular old shell aliases don't work ?
If your k8s stuff is dockerized it seems like that would be really easy

[2019-02-25 04:55] cofyc commented on #74384
This is because local volume cannot be reconstructed for now (localPlugin.NewMounter requires `Path` field is set), so `reconciler.syncStates` is going to [cleanup mounts for it](https://github.com/kubernetes/kubernetes/blob/139a13d312b1b11de7f3af63d9503365ff3a1e6a/pkg/kubelet/volumemanager/reconciler/reconciler.go#L393-L396). But `operationGenerator.GenerateUnmountVolumeFunc` uses `useCSIPlugin`

[2019-02-25 05:39] xxlaila opened #74491 "The kubelet node is reported to the eviction manager when it is added to k8s: no observation found for eviction signal allocatableMemory.available"
# journalctl -f -u kubelet
-- Logs begin at Mon 2019-02-25 03:08:44 CST. --
Feb 25 13:29:49 node-2 kubelet[18711]: W0225 13:29:49.659401   18711 helpers.go:808] eviction manager: no observation found for eviction signal allocatableMemory.available
Feb 25 13:29:59 node-2 kubelet[18711]: W0225 13:29:59.672906   18711 helpers.go:808] eviction manager: no observation found for eviction signal allocata

[2019-02-25 05:52] #74491 closed

[2019-02-25 05:53] xxlaila commented on #74491
I restarted the kubelet service and observed it for a while, this error did not appear,

[2019-02-25 06:06] ricky1993 commented on #74397
@neolit123 after updated, the problem is still exist at 1.12 version.
/reopen

[2019-02-25 06:07] spunon commented on #43784
I would also like to see some traction on this. I'm currently running a TCP ELB with TCP socket checks and have run into the issue of the load balancer keeping an unresponsive apiserver in the mix which has caused nodes that have cached that server to become lost and work to be rescheduled. Obviously this isn't ideal.

For the time being i'm considering implementing a systemd service that at least

[2019-02-25 06:27] jansmets commented on #70202
Anyone has a possible solution for this chicken-egg problem? It's a problem when you want to do jumbo frames.
Thanks

[2019-02-25 06:32] vladwa opened #74496 "Kubernetes service port stops listening when the "/var/log" directory is full"."
Kubernetes service port stops listening when the "/var/log" directory is full".

Reproduce step:
1. Fill the /var/log directory.

kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5+coreos.0", GitCommit:"0d082e389e1f4311dc5d225eb77f9688c50d340a", GitTreeState:"clean", BuildDate:"2018-03-21T21:10:44Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Ser

[2019-02-25 06:59] yowenter commented on #74496
Let me work on it :-)

[2019-02-25 07:01] feiskyer opened #74497 "Azure internal loadbalaner is pending forever if subnet annotation is set to empty string"
**What happened**:

When service is set with ILB annotation and empty string subnet, e.g.

[code]

The service would be pending forever with following error:

[code]

**What you expected to happen**:

ILB should be provisioned successfully.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ve

[2019-02-25 07:09] kvaps commented on #62720
/remove-lifecycle stale

[2019-02-25 07:09] #74210 closed

[2019-02-25 07:23] mgaranov commented on #74340
kubeadm and kubelet are 1.13.3
do api-server, controller-manger, scheduler have their own version ? They started automatically after kubeadm init..
i have just run kubeadm init without any network plugin at all but cotroller manager an sheduler still restarts :(
"Weave net" not helps too.

[2019-02-25 07:28] janetkuo commented on #73666
ref some previous attempts for ConfigMap GC design - https://github.com/kubernetes/community/pull/1163
https://github.com/kubernetes/community/pull/2287

This is something we want to solve. cc @apelisse @Liujingfang1

[2019-02-25 08:02] SataQiu commented on #68026
#74505

- pkg/apis/admission/v1beta1
- pkg/apis/authentication/v1beta1
- pkg/apis/authorization/v1beta1
- pkg/apis/coordination/v1
- pkg/apis/coordination/v1beta1
- pkg/apis/imagepolicy/v1alpha1
- pkg/apis/scheduling/v1alpha1
- pkg/apis/scheduling/v1beta1
- pkg/apis/settings/v1alpha1
- pkg/apis/storage/v1alpha1

[2019-02-25 08:03] wojtek-t commented on #66026
/remove-lifecycle stale

@mborsz - is this one fixed already? Can this be close or there are still some things that needs to be investigated and/or fixed?

[2019-02-25 08:16] george-angel commented on #35062
/remove-lifecycle stale

[2019-02-25 08:29] yuripastushenko opened #74507 "Ability to use LimitRanges without default values"
**What would you like to be added**:
Ability to use LimitRange without default values.
So the next type of pods will be rejected:
1) Pods with container specification without of limits and requests;
2) Pods with container specification limits and requests that don't fit in LimitRange min and max resources values.

**Why is this needed**:
We provide k8s as service for our users inside the company.

[2019-02-25 08:41] wojtek-t commented on #74308
@freehan - I agree with @mm4tt - it's highly unlikely that those SLI-related changes would introduce such flakiness.

[2019-02-25 08:50] tomasaschan commented on #70231
/remove-lifecycle rotten

I understand this might not be high priority, but I still think it would be valuable.

[2019-02-25 08:52] yuripastushenko commented on #74507
@kubernetes/sig-api-machinery-feature-requests

[2019-02-25 08:53] SataQiu commented on #68026
#74510
* pkg/cloudprovider/providers/vsphere/vclib
* pkg/kubelet/apis/deviceplugin/v1alpha
* pkg/kubelet/apis/pluginregistration/v1alpha1
* pkg/kubelet/apis/pluginregistration/v1beta1

[2019-02-25 09:09] wojtek-t commented on #74419
It seems these requests were from etcd, not from cache.
Also, were there any long list requests or sth like that happening around that time?

[2019-02-25 09:11] tuminoid commented on #73238
1.12 release with this fix is not out yet? 1.12.5 updates go to 1.10.7, and was cut Jan 16th (based on release note), but this fix was merged 25th.

[2019-02-25 09:17] feiskyer commented on #73238
Not yet, would be included in v1.12.6 (planned this week).

[2019-02-25 10:28] kishorebhat-p opened #74515 "Minor issue while running "make check" The below Error for configure helper shell script at line 1872"
**Which jobs are failing**:TestEncryptionProviderFlag

**Which test(s) are failing**:TestEncryptionProviderFlag

**Since when has it been failing**:NA

**Testgrid link**:NA

**Reason for failure**:  Issue is presence of "-n" option at line 1872 in
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh

configure_helper_test.go:133: Start kubernetes api-server

[2019-02-25 10:32] kishorebhat-p opened #74516 "Minor issue while running "make test" , The below error is seen where the configuration to run kube-apiserver is not correct"
**Which jobs are failing**:TestEncryptionProviderFlag

**Which test(s) are failing**:TestEncryptionProviderFlag

**Since when has it been failing**:NA

**Testgrid link**:NA

**Reason for failure**:
Probably need to add encryption-provider-config in configure-helper.sh at line 1617
params+=" --encryption-provider-config=${ENCRYPTION_PROVIDER_CONFIG_PATH}"

Error seen

+++ [0131 14:52:16] Running te

[2019-02-25 10:44] mm4tt commented on #73461
There are few new failures, the most recent one is https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-killer/1922
I will be investigating it shortly

[2019-02-25 10:46] hiephm commented on #29838
Sort by lastTimestamp works on my cluster, but why it's not the default? Isn't it the most meaningful order?

[2019-02-25 11:24] casusbelli opened #74519 "Missing user mapping option for Quobyte storage based volumes"
**What happened**:
Containers cannot access Quobyte volumes provided via a Quobyte mount run by the Quobyte plugins mount command due to permission denied issues. Even if user mappings are provided these are ignored by the Quobyte client due to a missing mount flag.

**What you expected to happen**:
Access should work with the provided user mapping.

**How to reproduce it (as minimally and precise

[2019-02-25 12:01] sagarpatil23192 opened #74521 "HPA not working for Statefulset on memory utilization"
/sig scalability

**What happened**: We are trying to implement HPA on Statefulset. We have deployed Logstash as Statefulset and want it to autoscale depending on memory utilization.

**What you expected to happen**: We expected that it would create an HPA depending on memory utilization as we were able to create an HPA on CPU utilization. Please refer image1

 to see the error for memory based HP

[2019-02-25 12:20] bordeo commented on #26375
Same for me.
Jenkins schedule a pod that never end because the container inside get an error.
This pod are stuck and continue recreating.

[code]
The incriminated pods are:
[code]

[2019-02-25 12:31] MarkMarsh commented on #60134
Same issue - AWS Linux 2 version 4.14.97-90.72.amzn2.x86_64  :-(

[2019-02-25 12:34] casusbelli commented on #74519
/assign @rootfs

[2019-02-25 12:38] ffledgling commented on #56805
/remove-lifecycle rotten
/remove-lifecycle stale

Seeing this exact issue, any update?

[2019-02-25 13:10] mborsz commented on #74419
I see that this period of slowness starts 19:25:27 and ends 19:26:11.
This correlates quite well with kube-apiserver-audit.log-20190221-1550777117.gz log rotation (1550777117 is 19:25:17 and first entry in kube-apiserver-audit.log is at 19:26:11)

This graph shows average request latency (skipping watch and cache-based ones) over time (timestamps in CEST tz):
![8cc0rrkmdzc](https://user-images.git

[2019-02-25 13:27] bertinatto opened #74523 "iscsi plugin fails if iface already exists"
**What happened**:

In order to communicate with the target, [at some point](https://github.com/bertinatto/kubernetes/blob/master/pkg/volume/iscsi/iscsi_util.go#L688) the iscsi plugin creates a new iface. If for some reason an iface with the same name already exists in the node, this command will re-create it and no error will be reported.

However, if the iface already exists **and** is being use

[2019-02-25 13:27] bertinatto commented on #74523
/assign

[2019-02-25 13:31] gliush commented on #69428
@raravena80, @damongant: I'm working on the RFC to add some configuration parameters into the HPA. will the following RFC fix your issue?
https://docs.google.com/document/d/1Su2tzHEtjc7_orTVbKZEhSFGWiHk16JqA4Z7zJU2oNs/edit

[2019-02-25 13:35] gliush commented on #65097
@frankh: I'm working on the RFC to add some configuration parameters into the HPA. will the following RFC fix your issue?
https://docs.google.com/document/d/1Su2tzHEtjc7_orTVbKZEhSFGWiHk16JqA4Z7zJU2oNs/edit

[2019-02-25 13:38] gliush commented on #56335
Hey there, I'm working on the RFC to add some configuration parameters into the HPA. will the following RFC help solving your issues?
https://docs.google.com/document/d/1Su2tzHEtjc7_orTVbKZEhSFGWiHk16JqA4Z7zJU2oNs/edit
I'd appreciate any feedback.

[2019-02-25 13:39] mlushpenko commented on #71477
I thought I had problems with helm, good the solution is in progress already.

[2019-02-25 13:40] gliush commented on #39090
Hey there, I'm working on the RFC to add some configuration parameters into the HPA
https://docs.google.com/document/d/1Su2tzHEtjc7_orTVbKZEhSFGWiHk16JqA4Z7zJU2oNs/edit
I'll appreciate your feedback.

[2019-02-25 13:53] staynerzone commented on #52783
I had exactly the same issue on my cfcr-deployment on openstack. nodeport was only published and accessible on the worker where the pod was deployed. The nodeport on the remaining workers were 'filtered'.
I simply solved it by opening udp ports on the underlying openstack-securitygroups.
This helped (as far as I understood) because exposing nodeports to other workers uses vxlan which uses udp. wit

[2019-02-25 14:30] Zero-2 commented on #68211
I have the same issue with docker 1.11.5 using AKS.
I found a workaround using **projected** key for volumes definition.
[code]

With this configuration , Issue pod will not restart, instead working pod will work.
Steps are the same as described [here](https://github.com/kubernetes/kubernetes/issues/68211#issuecomment-418259434)

[2019-02-25 14:40] Semoar commented on #73628
Yes, you described that very precisely.

And the question is now: Is this behavior intended? Then please document it. Or if it is not intended, then please fix it. I can see the points in both ways, I just intuitively have assumed it not intended.

The way it is now, it is difficult for teams to migrate from NodePorts to ClusterIP, since they can't create any service to test and migrate before the

[2019-02-25 14:44] benmoss commented on #74134
The slash thing is kinda irrelevant to me, it's just a limitation of Docker Hub as @thockin pointed out

[2019-02-25 14:58] bsakweson commented on #71154
Did this ever gotten resolved? I just ran into the same issue. I have my secret actually specified in the the container. I just want to add that I followed this [documentation](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/) to the T. Here is my pod info using -o yaml options:

[code]

[2019-02-25 15:03] AndreasChristianson commented on #67849
/remove-lifecycle stale

[2019-02-25 15:07] spiffxp commented on #68036
/lifecycle frozen

[2019-02-25 15:08] spiffxp commented on #73963
@kubernetes/sig-instrumentation-bugs

[2019-02-25 15:09] spiffxp commented on #74380
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:10] spiffxp commented on #70093
/remove-lifecycle stale
/area security
/sig api-machinery

[2019-02-25 15:11] spiffxp commented on #74309
/area test
/remove-sig testing

[2019-02-25 15:12] spiffxp commented on #60134
/sig release

[2019-02-25 15:12] spiffxp commented on #74417
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:13] spiffxp commented on #74414
/sig api-machinery

[2019-02-25 15:14] michmike commented on #74134
@benmoss  i understand that. but can you make forward progress in testing that autoscale ticket without this work?

[2019-02-25 15:14] spiffxp commented on #74413
/sig release
cutting releases with newer dependencies
/sig architecture
code organization

[2019-02-25 15:15] spiffxp commented on #74412
/sig scalability

[2019-02-25 15:16] spiffxp commented on #74412
@kubernetes/sig-scalability-bugs

[2019-02-25 15:17] spiffxp commented on #72347
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:18] spiffxp commented on #74396
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:18] 1hanymhajna commented on #28586
Hi,
I see the same behavior in eks as well,

- All the subnets have the same tag that equal to the cluster name with shared value
- Added service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true" as annotations

But when i look to the AZ that added to the load balancer, it just add the one that have access to outside ( the other two AZ have subnets without connection t

[2019-02-25 15:19] spiffxp commented on #48719
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:19] spiffxp commented on #69553
/remove-lifecycle rotten
/sig release

[2019-02-25 15:20] spiffxp commented on #71237
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:21] 1hanymhajna opened #74527 "AWS LB only creates in one availability zone"
My issue is related to this issue #28586,
I see the same behavior in eks as well,

* All the subnets have the same tag that equal to the cluster name with shared value
* Added service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true" as annotations

But when i look to the AZ that added to the load balancer, it just add the one that have access to outside ( the other tw

[2019-02-25 15:21] spiffxp commented on #74383
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:23] spiffxp commented on #74519
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:24] spiffxp commented on #74497
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:26] spiffxp commented on #74482
/remove-kind failing test
/kind flake
since this is a flake and not a continuously failing test
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:26] spiffxp commented on #74474
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:28] spiffxp commented on #74150
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:28] spiffxp commented on #74049
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:28] spiffxp commented on #73705
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:28] spiffxp commented on #73696
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:29] spiffxp commented on #73519
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:29] spiffxp commented on #73461
/remove-kind failing-testing
/kind flake
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:30] spiffxp commented on #73419
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:32] spiffxp commented on #72661
/remove-kind failing-test
/kind flake
because it's a flake and not a continuously failing test
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:33] prathameshd9 commented on #24695
I am not sure how this works ??! Is the trap handled in the preStop(within the commands/script running in preStop) or outside preStop ? Please help !

[2019-02-25 15:33] spiffxp commented on #73111
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:33] spiffxp commented on #72633
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release. Please `/milestone clear` if I am incorrect

[2019-02-25 15:42] loburm commented on #73963
@bmoyles0117

[2019-02-25 15:44] bgrant0607 commented on #48938
Ref #24552

[2019-02-25 16:11] tellxp commented on #71649
@menardorama
I got this error because of using proxy when initializing kubernetes master.
[code]
after deleting proxy env, everything is fine.

[2019-02-25 16:14] cwiggs commented on #65813
Followed what @rmendybayev recommended and the issue was fixed for me.

/close

[2019-02-25 16:15] #65813 closed

[2019-02-25 16:18] #69168 closed

[2019-02-25 16:28] kow3ns commented on #74469
/assign @janetkuo
Janet can you PTAL

[2019-02-25 16:29] kow3ns commented on #74374
/assign

[2019-02-25 16:29] kow3ns commented on #74374
/assign msau42

[2019-02-25 16:31] oiooj commented on #71887
Same issue:

[code]

[2019-02-25 16:37] kow3ns commented on #74240
/assign @mortent

Morten can you PTAL and the open PR. I reviewed as well.

[2019-02-25 16:39] Rajat-0 commented on #69687
https://docs.google.com/document/d/1p_Xlk8e5V32WOBVeRbJqbxhEKcJy_mDu9JgVp5ZNDxs/

I have Prepared above Design Doc for this issue and discussed it in SIG Autoscaler weekly meeting, and as the discussion the Sig owner will discuss the possibility and complexity of the issue with the Networking team.

As per my proposed design:

For scaling up from pod 0 firstly we have to make a change in service c

[2019-02-25 16:42] wojtek-t commented on #72633
This is obsolete now - this is no longer alpha test and it is green as part of https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial (when the suite wasn't completely broken).

[2019-02-25 16:42] #72633 closed

[2019-02-25 16:44] kow3ns commented on #72593
I don't want to add special logic to all workloads controllers to deal with the scheduler placing Pods on Nodes were they can't possibly run. Controller authors (imo) should not have to reason about the Scheduler's behavior wrt to placement. This leads to a poor separation of concerns (imo). With the work that we're doing in extensiblilty to allow users to write custom workload controllers (e.g. O

[2019-02-25 16:48] igorpeshansky commented on #73963
This is a known issue with the upstream googleapis libraries: https://github.com/googleapis/google-cloud-ruby/issues/2876. Unfortunately, we have no workaround except reduce the nesting level of the JSON logs or disable gRPC via a custom config.

[2019-02-25 16:52] apelisse commented on #74049
We don't have a good way to do what @liggitt is suggesting now, so I suspect we will have to default to ignore this field specifically when comparing (by setting it to null on both sides), at least for now.

[2019-02-25 16:54] jonpulsifer commented on #61430
/remove-lifecycle rotten

[2019-02-25 16:55] Rajat-0 commented on #69687
@DXist  I am also working on this issue and I have discussed the above proposal in Sig weekly meeting, and based on how design goes, we both can coordinate on implementation.

[2019-02-25 16:55] wojtek-t commented on #74412
@qmfrederik - couple questions:
1. are you using official k8s build (I'm asking to confirm go version that was used to it).

You can't start more than 110 pods on a node. So I'm assuming you're talking about creating them roughly at once, and then wait as they will be proceeding (we first schedule ~100 of them (there are ~10 system pods running on that node), and then as they will be finishing we

[2019-02-25 16:55] mikkeloscar commented on #69687
Why does this matter for the general case? You can autoscale pods without a service, and you can currently scale any deployment to 0 (without HPA) and it would have the same "problem".

IMO solve the general problem first and deal with the edge cases as a separate issue. There are many applications which doesn't handle ingress traffic but could benefit from scaling up from 0.

[2019-02-25 17:04] liggitt commented on #61430
there's actually no kubectl work remaining for this item. remaining items are tracked in https://github.com/kubernetes/kubernetes/issues/43214

[2019-02-25 17:23] neolit123 commented on #74340
try matching all versions.
if the kubelet is newer than the rest of the binaries it can cause problems!

[2019-02-25 17:23] andor44 commented on #72107
This is still an issue on at least 1.11.7 (with updated CoreOS stable, 1967.6.0)

[2019-02-25 17:44] woqer commented on #27362
We are having this issue too. After deploying a change we have to manually `kubectl delete pod foo` to actually force the recreation.

[code]

[2019-02-25 18:21] yujuhong commented on #74439
/milestone clear

This doesn't have to be in 1.14.

/assign @pjh

[2019-02-25 18:21] dims commented on #74413
please follow along here https://github.com/kubernetes/kubernetes/pull/71501#issuecomment-466739003

[2019-02-25 18:26] yujuhong commented on #74463
/assign @feiskyer

[2019-02-25 18:28] kargakis commented on #27362
@rcoh I cannot reproduce it anymore, can you provide a reproducer?

[2019-02-25 18:29] yujuhong commented on #51540
/remove-lifecycle stale

Unfortunately, this is still true.

[2019-02-25 18:30] mariantalla commented on #74384
I see similar failures in [sig-release-master-upgrade#gce-new-master-upgrade-cluster-new](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new) and [sig-release-1.14-blocking#1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-serial) too; are they connected?

cc @alejandrox1 @smourapina @kacole2 @mortent

[2019-02-25 18:39] wenjiaswe commented on #74413
xref: https://github.com/golang/net/commit/cbb82b59bc5199680c5bf34109e12097095dca9b

[2019-02-25 19:03] PatrickLang commented on #62046
/remove-lifecycle stale
This might be possible in v1.15 with Windows Server version 1903. Will check in April

[2019-02-25 19:14] rcoh commented on #27362
Not easily at the moment -- we ended up changing our pods to handle multiple running simultaneously gracefully.

[2019-02-25 19:19] idanysela opened #74533 "containers failing to resolve public dns"
running a kubernetes cluster on low priority vms using aks-engine, when attempting to scale up our container deployment (single container image) we are getting a lot of failed containers  failing to resolve public dns addresses

kubectl get pods
NAME                                              READY     STATUS             RESTARTS   AGE
clients-user-experience-journey-7d74567f6-22ghg   1/1

[2019-02-25 19:37] ixdy commented on #73238
It also looks like there has not yet been a 1.11 release with this fix.

[2019-02-25 19:39] cjcullen opened #74534 "CVE-2019-1002100: json-patch requests can exhaust apiserver resources"
CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:N/I:N/A:H](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:N/I:N/A:H) (6.5, medium)

Users that are authorized to make patch requests to the Kubernetes API Server can send a specially crafted patch of type “json-patch” (e.g. `kubectl patch --type json` or `"Content-Type: application/json-patch+json"`) that consumes excessive resources

[2019-02-25 20:05] MrHohn commented on #74308
+1 that this test shouldn't fail for a single probe flake. Sent https://github.com/kubernetes/kubernetes/pull/74538 to hopefully deflake that case.

[2019-02-25 20:24] erulabs commented on #48948
Can someone from sig/scalability take a look at this? I would love to help out - can test, reproduce, explore, report... This is becoming quite a blocker for local Kubernetes development!

[2019-02-25 20:25] msau42 commented on #74384
yes they should be similar

[2019-02-25 20:30] khyew commented on #56795
Can anyone give pointers on where to even start implementing this feature? I wouldn't be opposed to making the change myself and opening up a pull request

[2019-02-25 20:48] michellemcone opened #74541 "Nameserver not set when dnsPolicy=None"
**What happened**:
DNS Servers remain unchanged.
Output of azure-vnet.log:
[code]

**What you expected to happen**:
DNS Servers should have changed to 8.8.8.8.

**How to reproduce it (as minimally and precisely as possible)**:
Create a pod on a Windows node using the yaml below and check the output of azure-vnet.log to see if the DNS Servers have changed to 8.8.8.8.
[code]

**Anything else we need

[2019-02-25 20:48] michellemcone commented on #74541
Found while working on test for #73414.

[2019-02-25 20:52] tuminoid commented on #47775
/remove-lifecycle stale

[2019-02-25 21:15] smourapina opened #74543 "[sig-network] DNS configMap nameserver [IPv4] tests failing"
**Which jobs are failing**:
* [gce-new-master-upgrade-master](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master)
* [gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster)

**Which test(s) are failing**:

Job | Test
--- | ---
[gce-new-master-upgrade-master](https://testgrid.k8s.io/sig-release-master-upgrade#g

[2019-02-25 21:23] jingyih commented on #74237
@vvkkhjt Are you running on Azure? This issue looks similar to a known issue #69147.

[2019-02-25 21:31] msau42 commented on #74523
is this related to https://github.com/kubernetes/kubernetes/issues/74313
cc @bswartz

[2019-02-25 21:32] msau42 opened #74545 "Improve test coverage for raw block feature"
**What would you like to be added**:
- [ ] Reconstruction of block devices
- [ ] Multiple pods requesting same block volume
- [ ] Single pod requests both filesystem and raw block volumes for the same volume
- [ ] Multiple pods: one requests filesystem and one requests raw block for the same volume

**Why is this needed**:
We're starting to find more issues, such as:
https://github.com/kubernetes/

[2019-02-25 21:32] msau42 commented on #74545
@kubernetes/sig-storage-feature-requests
cc @bswartz @wongma7 @mkimuram

[2019-02-25 21:54] #74326 closed

[2019-02-25 21:56] msau42 commented on #74150
/assign @jsafrane

[2019-02-25 21:56] smourapina opened #74546 "[sig-storage] CSI and In-tree Volumes tests failing"
**Which jobs are failing**:
* [gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster)

**Which test(s) are failing**:
- CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]
- In-tree Volumes [Driver: gluster] [Test

[2019-02-25 21:57] lelvisl commented on #66603
/remove-lifecycle rotten

[2019-02-25 21:57] lelvisl commented on #66603
/remove-lifecycle stale

[2019-02-25 21:58] msau42 commented on #73696
I think this is resolved. I don't see these test cases failing in the upgrade suites.
/close

[2019-02-25 21:58] #73696 closed

[2019-02-25 22:00] msau42 commented on #73419
This test has not flaked in almost 2 weeks.
/close

[2019-02-25 22:00] #73419 closed

[2019-02-25 22:08] michmike commented on #74134
@thockin i think you have the two images to upload. let us know when this is complete and thank you so much!

[2019-02-25 22:08] codenrhoden opened #74548 "consolide mount.GetDeviceNameFromMount and mounter.GetDeviceNameFromMount"
**What would you like to be added**:
There are currently two methods named `GetDeviceNameFromMount`, one as an exported function of `pkg/util/mount`, and the other as part of `mount.Interface`. This is confusing, and we should explore consolidating them into one.

**Why is this needed**:
Different volume plugins have chosen to use different versions of this method, and it would be better to standa

[2019-02-25 22:09] codenrhoden commented on #74548
/sig storage

[2019-02-25 22:13] roycaihw commented on #74414
cc @apelisse

[2019-02-25 22:14] yliaog commented on #74415
/cc

[2019-02-25 22:14] apelisse commented on #74414
/assign @Liujingfang1

[2019-02-25 22:14] roycaihw commented on #74456
cc @logicalhan

[2019-02-25 22:15] roycaihw commented on #74507
cc @yliaog

[2019-02-25 22:27] swestcott commented on #50898
@msau42 Sure, we operate soft multi-tenant clusters and have the following use cases.

Firstly, the [Security pillar](https://d1.awsstatic.com/whitepapers/architecture/AWS-Security-Pillar.pdf) of the [AWS Well Architected Framework](https://aws.amazon.com/architecture/well-architected/) has a section on data protection. This recommends that AWS resources should be tagged with a data classification

[2019-02-25 22:45] neolit123 commented on #74474
^ sent another attempt at fixing this:
https://github.com/kubernetes/test-infra/pull/11505

[2019-02-25 23:55] Liujingfang1 commented on #74414
We have been aware of the issues in prune and we want to improve it.
Recently we opened a [KEP](https://github.com/kubernetes/enhancements/pull/810) for improving pruning in `kubectl apply`. With the proposed solution, the problem from current `--prune` will be fixed.

[2019-02-25 23:56] dwbrown2 opened #74551 "kubectl port-forward broken pipe"
**What happened**:

We have a pod running in our k8s cluster that I connect to via `kubectl port-forward`. I am able to connect to this pod (using the following command) but then start getting broken pipe error messages after maintaining a connection for what is typically 30-60s.

`kubectl port-forward --namespace monitoring deployment/cost-monitor 9090`

There seems to be a correlation between er

[2019-02-26 00:01] msau42 opened #74552 "Local PV filesystem mode with block source does not support reconstruction"
**What happened**:
Followup on https://github.com/kubernetes/kubernetes/pull/74493#discussion_r260028479: Without a valid ConstructVolumeSpec(), UnmountDevice() is not called during reconstruction, so the global block mount will leak.

Also need to check if raw block local PV supports reconstruction.  There are no reconstruction e2es for raw block (https://github.com/kubernetes/kubernetes/issues/7

[2019-02-26 00:02] msau42 commented on #74552
@kubernetes/sig-storage-bugs
cc @cofyc @gnufied

[2019-02-26 00:03] msau42 opened #74553 "CSI migration check should handle invalid volume spec"
**What happened**:
Followup to https://github.com/kubernetes/kubernetes/pull/74493#discussion_r260069044: `useCSIPlugin` should be feature gated, and also needs to handle nil volume spec.

@kubernetes/sig-storage-bugs

[2019-02-26 00:04] msau42 commented on #74553
/assign @davidz627 @leakingtapan @ddebroy

[2019-02-26 00:06] dwbrown2 commented on #74551
/sig network

[2019-02-26 00:13] mpalumbo7 commented on #56795
The more I learn, the more I understand why this is unlikely to happen.

Kubernetes itself does not use `Ingress` for anything. It’s just a configuration object. It’s the 3rd party ingress controllers that turn the configuration into something meaningful.

In order to make this work, any change to the referenced `ConfigMap` would have to trigger the ingress controller to update its configuration.

[2019-02-26 00:14] figo commented on #74352
/cc

[2019-02-26 00:29] valentin2105 commented on #68721
I continue to get the issue on 1.13.3 / Docker 18.06.1

Any idea ?

[2019-02-26 01:21] denkensk commented on #67671
@vllry  Are you still working on this? If not, maybe I can have a try? Thanks!

[2019-02-26 01:48] wyardley commented on #28321
/remove-lifecycle stale

[2019-02-26 02:01] amanoooooooooooooooo commented on #60134
[code]
retry

[2019-02-26 02:17] tamalsaha opened #74560 "glog/klog init issue"
My understanding is that glog->klog migration was done to solve the issue that glog adds flags inside a `init()` function. But it seems that this issue is not completely solved.

k8s.io/apiserver imports the `logs` util package which adds flags inside `init()` function.

https://github.com/kubernetes/kubernetes/blob/c9e14c85f5b826493a2376ab4743499ac834b8ee/staging/src/k8s.io/apiserver/pkg/server/c

[2019-02-26 02:17] tamalsaha commented on #74560
cc: @dims

[2019-02-26 02:17] tamalsaha commented on #74560
/sig api-machinery
/kind bug

[2019-02-26 02:18] alejandrox1 commented on #73881
These specific test failures have cleared up.
/close

[2019-02-26 02:18] #73881 closed

[2019-02-26 02:19] alejandrox1 commented on #73705
These specific test failures have cleared up.
/close

[2019-02-26 02:19] #73705 closed

[2019-02-26 02:21] vvkkhjt commented on #74237
@jingyih No,its on Qcloud.

[2019-02-26 02:21] vllry commented on #67671
@denkensk I just finished moving so I haven’t had much time... I’m trying to get back into it but you’re free to take over if you want. I’m struggling to track down why the TestRoundTrip is failing.

[2019-02-26 02:35] alejandrox1 commented on #74543
/milestone v1.14

[2019-02-26 02:37] divyangjp commented on #65937
EFS or NFS should support `ReadWriteMany`. That's the whole point of using them!

[2019-02-26 02:40] cofyc commented on #72346
Yes.

Yes.

IIUC, `cleanupOrphanedPodCgroups` must destroy pod cgroups after all volumes are cleaned because memory used by tmpfs is charged to writer's memory cgroup (https://github.com/kubernetes/kubernetes/pull/63641#issuecomment-423311504). If pod cgroups are cleaned first, memory usage will be charged to parent cgroup which is not expected. If flex/csi uses memory-backed volumes (e.g. tmpfs),

[2019-02-26 02:55] feiskyer commented on #74497
@spiffxp Thanks

[2019-02-26 02:56] Coderhypo commented on #74496
provide some logs about kube-proxy? /sig network

[2019-02-26 02:56] feiskyer commented on #62046
/milestone v1.15

[2019-02-26 02:58] feiskyer commented on #51540
Oh, right. Unit tests are still broken in most packages. @PatrickLang

[2019-02-26 03:03] denkensk commented on #67671
@vllry  Sure, thank you. Let me take over it and have a try~
/assign @denkensk
/unassign @tanshanshan

[2019-02-26 03:07] denkensk commented on #67671
/remove-help

[2019-02-26 03:33] anikammsft opened #74564 "Hostname setting in v1.PodSpec does not work for StatefulSets"
Upon creating a StatefulSet by setting the hostname field in the PodSpec section of the StatefulSet, the pod hostname does not change from what Kubernetes would otherwise set. When setting hostnames on Deployments and Replicasets, Kubernetes acts on this setting, but this behavior is different on StatefulSets.

To reproduce this, you can take the sample spec from [the StatefulSet documentation](ht

[2019-02-26 03:55] spiffxp commented on #66875
/lifecycle frozen

[2019-02-26 03:55] msau42 commented on #74417
I think this is the same issue: https://github.com/kubernetes/kubernetes/issues/74380

[2019-02-26 04:03] valentin2105 opened #74565 "ServiceAccount Token is mounted as rw------"
Hi,

I try to update my cluster to v1.13.3 and I face issue with **ServiceAccount tokens**.

**What happened**:
The token is mounted as `rw- --- --- `

**What you expected to happen**:
It should be mounted as` rw-r-- r--` to allow other user than root to use the token (helm-tiller/ nginx-ingress..)

I'm don't find any ressource that speak about this change or how to modify this configuration.

All

[2019-02-26 04:18] lpf190 commented on #56735
兄弟，你怎么解决的？

[2019-02-26 04:28] #74384 closed

[2019-02-26 04:41] alejandrox1 commented on #74384
need to keep track of this to see if failures in [master-blocking#gce-cos-master-serial](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial) also clear up.

[2019-02-26 04:44] clanesf commented on #73956
Ran into this as well. That and it's annoying that `kubectl cp` cannot be used to create a directory structure when copying files into a container.

[2019-02-26 04:52] paralin commented on #44873
Is there an update on this now that we have reached Go 1.12 and go.mod has been supported for a full version cycle?

[2019-02-26 05:02] alejandrox1 opened #74567 "SkewTest failing in master-upgrade:gce-master-new-downgrade-cluster"
**Which jobs are failing**:
* [master-upgrade#gce-master-new-downgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-master-new-downgrade-cluster)

**Which test(s) are failing**:
* [SkewTest](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/1285)

**Since when has it been failing**:
2/23 at 22:26.
- [k/k diff:1cfaf2bdc...1

[2019-02-26 05:48] #74497 closed

[2019-02-26 05:48] #72988 closed

[2019-02-26 05:49] #74431 closed

[2019-02-26 06:00] wgliang commented on #69770
/remove-lifecycle stale

[2019-02-26 06:24] lpf190 commented on #56735
兄弟，你咋解决的？

[2019-02-26 06:31] vladwa commented on #74496
I dont see any logs roll over as /var/log directory is completely full. Once i clear the logs i need to restart kubelet service.

[2019-02-26 06:36] s-ito-ts opened #74569 "Adding e2e test for update and delete of resourcequota"
**What would you like to be added**:

e2e test suites for:
- PUT /api/v1/namespaces/{namespace}/resourcequotas/{name}
- DELETE /api/v1/namespaces/{namespace}/resourcequotas/{name}

**Why is this needed**:

The above APIs are not performed in current e2e test. By adding test for it, e2e test coverage is improved.

/sig testing

[2019-02-26 06:59] mgaranov commented on #74340
YES ! NOW IT"S PERFECT ! They should add this key to setup instruction :(

[2019-02-26 07:21] PatrickLang commented on #74134
The tars shouldn't be necessary. The nanoserver images include 2 layers that are type `application/vnd.docker.image.rootfs.foreign.diff.tar.gzip` and should not be pushed.

https://docs.docker.com/registry/spec/manifest-v2-2/

here's an example manifest from the bazel repo. you could probably use the existing rules_docker to push nanoserver with no changes if you're building and pushing images wit

[2019-02-26 07:31] mm4tt commented on #73461
/milestone clear

Tee gce-scalability-killer is our experimental suite, its flakiness it's not related to v.1.14

[2019-02-26 07:39] cofyc commented on #72346
The complexity is in `podVolumesExist` we test if volume exist or not by checking its mount, but we use `IsLikelyNotMountPoint` for performance which does not work for all mounts.

From my understanding, possible solutions are:

- a) check mounts, use IsNotMountPoint for simplicity
- b) check mounts, use IsNotMountPoint when necessary
  - hardcode or call volume plugin method (e.g. `plugin.VolumeE

[2019-02-26 07:42] michmike commented on #74134
@neolit123  we can't follow this process due to Windows licensing. i will delete your post so that it is not followed by accident.

[2019-02-26 07:44] PatrickLang commented on #74134
just to clarify - you can reference those in manifest lists, and docker push / pull them without actually pushing the layer contents to a manifest v2 complaint registry. That's the right way to do it. That separates out user-owned files in the upper layers from those in the base layers that are always served from a Microsoft server due to licensing restrictions

[2019-02-26 07:53] michmike commented on #73417
thank you for the thorough investigation @jsturtevant

[2019-02-26 07:56] tlbdk commented on #73963
@igorpeshansky last time we ran into an issue with fluentd-gcp we built a custom logger in our application that truncates the messages if they are too long and also replaces deeply nested object with a string version. I think we need to see something similar in fluentd-gcp as this is boarding on being a security issue if you can get an application to log something deeply nested will crash the clus

[2019-02-26 07:57] Venkat639 opened #74572 "Subpath created under /var/log/pods are getting deleted automatically."
I am trying to create pod using example present in this link

https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath-with-expanded-environment-variables

$(POD_NAME) folder was created under /var/log/pods but it is getting deleted automatically after some time.

Kubernetes version -- 1.12.5

[2019-02-26 07:58] DXist commented on #69687
@mikkeloscar I am working on general case at the moment to cover work with queue.

@Rajat-0 You might better to coordinate with knative guys and their work to support HPA in service Activator.

[2019-02-26 08:09] mm4tt commented on #73461
Regarding [1922](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-killer/1922) failure.

It looks like the saturation phase RC timed out. Relevant entries from the build log

[code]

Interesting thing is that the scheduler scheduled 71 pods and the e2e-big-minion-group-7vqq that was killed:
[code]

It's 2 times more than the average (3000 pods / 100 nod

[2019-02-26 08:16] trevex commented on #71666
We have 45 nodes and we are unable to get this test to pass as well due to timeouts. Changing the image might help, but maybe adjusting the timeout based on node count is a solution as well.

[2019-02-26 08:18] SataQiu commented on #68026
#74574
[code]

[2019-02-26 08:27] mm4tt commented on #73461
Reg. 1, the # pods/node distribution is:
[code]

[2019-02-26 08:35] #74396 closed

[2019-02-26 08:35] #74421 closed

[2019-02-26 08:36] yowenter commented on #74496
So you mean when the /var/log is full, the kubelet will exit?

[2019-02-26 08:47] mgaranov commented on #74340
NOPE. restarts came back. 2 restarts in 170 minutes :(

[2019-02-26 08:56] mm4tt commented on #73461
I checked other runs (also successful ones) and the pods/node distribution doesn't seem suspicious .

[code]

[code]

I also checked and the nodes with the lowest number of pods are the ones where coredns was scheduled:
[code]
[code]
There were other pods running on the "small" nodes, e.g. metrics-server was run on the   e2e-big-minion-group-9mj6 (16 saturation pod scheduled).
I talked with @wojte

[2019-02-26 09:14] KielChan commented on #74302
Finnally, I have found why kubelet cannot patch its node status sometimes, ’cos more than 250 resources stay on the node, kubelet cannot watch more than 250 streams with kube-apiserver at the same time. So, I just adjust kube-apiserver `--http2-max-streams-per-connection` to `1000` to relieve the pain.

[2019-02-26 09:14] #74302 closed

[2019-02-26 09:14] SataQiu commented on #68026
#74582
[code]

[2019-02-26 09:23] m3ngyang opened #74583 "notify route controller to reconcile immediately when node event happens"
**What would you like to be added**:
Notify route controller to reconcile immediately when node event happens, making Node Ready or Deleted asap.

**Why is this needed**:
Currently, route controller syncs periodically, default 5 minutes, meaning that we may wait up to 5 minutes before creating a route for a new node, which is too slow and bad.

It can be achieved easily through node informer with

[2019-02-26 09:35] m3ngyang commented on #74583
/sig network
/sig node
/sig scalability

[2019-02-26 09:46] smileusd opened #74585 "Inconsistent GetGlobalMapPath interface implementation in csiBlockMapper"
I find the inconsistent with the GetGlobalMapPath(plugins/kubernetes.io/{PluginName}/{DefaultKubeletVolumeDevicesDirName}/{volumePluginDependentPath}/{pod uuid}) and csiBlockMapper.GetGlobalMapPath(plugins/kubernetes.io/csi/volumeDevices/{pvname}/dev). So when removing the symbolic links in unMapVolume, it is fault but not failed - a warning to this.
[code]

[2019-02-26 09:46] smileusd commented on #74585
/sig storage
/sig csi

[2019-02-26 09:55] #73499 closed

[2019-02-26 10:02] smileusd commented on #74585
It is fixed by next version, closed.

[2019-02-26 10:02] #74585 closed

[2019-02-26 10:11] Mynom commented on #74135
We also tested NFSv4, but it behaves the same way as v3.

[2019-02-26 10:37] redbaron commented on #74523
If iface is reused, wouldn't it try to delete it once last volume (from  kubelet perspective) is detached?

[2019-02-26 10:40] redbaron commented on #74313
wouldn't it double count bind mounts?

[2019-02-26 11:19] ironreality commented on #55713
With 1 master + 2 nodes configuration the problem isn't reproducible.
With 1 master + 1 node - it occurs.
Tested it with kubeadm-installed cluster.
The testing platform: Virtualbox+ Ubuntu 16.04 + K8s 1.13.3 + Docker 18.09.2.

[2019-02-26 11:20] Mormoroth commented on #51835
Well, Recently I tested runc exploit CVE-2019-5736 on my staging cluster, As you already know the exploit rewrites the runc binary on the host machine. Its destructive exploit. After that i saw strange behavior on cluster. All pods stuck on the terminating state. The workaround  was draining affected node purge docker and re-install it. After that all pods and k8s cluster functioning normal as bef

[2019-02-26 11:38] Joseph-Irving commented on #74564
/sig apps

[2019-02-26 11:55] Joseph-Irving commented on #74564
This is intentional, in https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/statefulset/stateful_set_utils.go
[code]
It overrides the hostname field to be the pod name.

This makes sense as in statefulsets each pod should have a unique hostname.

[2019-02-26 12:28] YueHonghui commented on #74240
ref https://github.com/kubernetes/kubernetes/issues/43218

[2019-02-26 12:34] bclau commented on #74134
Oh ok then. Keeping in mind the fact that the nanoserver image ``mcr.microsoft.com/windows/nanoserver:1809`` is a manifest itself (for amd64 and arm) and that you cannot reference another manifest list in your manifest list, then the the *actual* images which should be added to the gcr.io manifest list are:

* mcr.microsoft.com/windows/nanoserver:1809-amd64
* mcr.microsoft.com/windows/nanoserver:1

[2019-02-26 12:37] ramkrisharies commented on #73856
Hai,
I need to get the node allocated Resource Details using API
can anyone help me with this
Thanks in Advance
Ram

[2019-02-26 13:14] jsafrane opened #74594 "CSI translation library should export an interface instead of functions"
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/csi-translation-lib/translate.go exports number of functions. It's hard to unit test anything that calls the library. It would be much easier if the library exported interface(s) so individual unit tests could mock it out or add its own translation func into the global variable.

/sig storage

@davidz627 @ddebroy

[2019-02-26 13:19] Sher-Chowdhury opened #74597 "Unable to create a PVC because it says spec.dataSource is now required"
**What happened**:
I'm trying to apply the following:

[code]

However i get the following error message:

[code]

**What you expected to happen**:

It should have successfully create the pvc object. However one thing I discovered that it does work successfuully if I comment out the 'apiVersion' line and then reattempt the apply:

[code]

**How to reproduce it (as minimally and precisely as possib

[2019-02-26 13:23] neolit123 commented on #74134
the post is still quoted in your response. best to edit that as well?

ok, looks like the licensing of these image is slightly more complicated than expected...
i hope a tutorial is not required when pushing to GCR. :)

[2019-02-26 13:36] andyzhangx opened #74598 "add more logging in azure disk attach/detach"
**What happened**:
add more logging in azure disk attach/detach

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-02-26 13:52] gmarek opened #74600 ""request too large" results with 5xx error in 1.10 cluster"
I was browsing through some master logs investigating 5xx errors and found that:

"logging error output: "{\"kind\":\"Status\",\"apiVersion\":\"v1\",\"metadata\":{},\"status\":\"Failure\",\"message\":\"etcdserver: request is too large\",\"code\":500}\n""

in and 1.10 cluster. Too large requests shouldn't result in 5xx error codes.

I don't know if this was fixed in a newer release, so I'd like to

[2019-02-26 13:52] Sher-Chowdhury commented on #74597
/sig api-machinery

[2019-02-26 13:54] iamakulov commented on #73172
See also https://github.com/kubernetes/kubernetes/issues/47893

[2019-02-26 13:55] Sher-Chowdhury commented on #74597
/sig storage

[2019-02-26 13:56] YueHonghui commented on #74412
We have encountered this problem too(https://github.com/kubernetes/kubernetes/issues/74302). This is related to max concurrent http2 streams and the change of configmap manager of kubelet. By default, max concurrent http2 stream of http2 server in kube-apiserver is 250, and every configmap will consume one stream to watch in kubelet at least from version 1.13.x. Kubelet will stuck if too many pods

[2019-02-26 14:09] qmfrederik commented on #74412
@wojtek-t To answer your questions:

1. Yes, these are official Kubernetes builds. Running on Ubuntu 18.04, using the packages from the Kubernetes apt repository
2. Correct, I schedule all jobs at once using a script, and then wait while they are proceeding.

What @YueHonghui says seems consistent with what I'm experiencing.

So, it appears that kubelet is still watching configmaps of pods which h

[2019-02-26 14:12] wojtek-t commented on #74412
@YueHonghui - hmm.. I thought that once we hit the limit per connection (250), we will automatically open a new connection...

It should stop watching:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/manager/watch_based_manager.go#L143

[2019-02-26 14:14] qmfrederik commented on #74412
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/manager/watch_based_manager.go#L143

Are there any logs, metrics,... I can capture to see whether kubelet actually stops watching? Like a metric for concurrent HTTP2 connections or something similar?

[2019-02-26 14:18] yowenter commented on #74600
which API you've requested? and any api server log s ?

[2019-02-26 14:19] neolit123 commented on #74340
i'm not sure what is causing that and i don't think we have similar complains by 1.13.3 users.

can you try to use a different Linux distro? Oracle Linux Server 7.6 is fairly untested...

[2019-02-26 14:23] mrbobbytables commented on #72956
`test/images/*` should be resolved in #74601

[2019-02-26 14:51] bswartz commented on #74523
No

[2019-02-26 14:52] liggitt commented on #43214
remaining work is comms in sig meetings, community meeting, dev list, and release notes.

[2019-02-26 14:55] wojtek-t commented on #74412
Unfortunately it's not easy...
What you can do (I admit it's a bit painful) is to look into kube-apiserver logs (you probably need --v=3 - it's where we log all api calls) and check if there are logs saying that a corresponding "watch request" has finished around the time when pod is being deleted - these will be logs like these:
[code]

[2019-02-26 14:57] qmfrederik commented on #74412
@wojtek-t Thanks, I'll give that a try (probably tomorrow) and let you know.

[2019-02-26 15:07] kmova commented on #69168
/remove-lifecycle rotten

[2019-02-26 15:08] kmova commented on #69168
/reopen

[2019-02-26 15:12] Joseph-Irving commented on #74597
I can reproduce this with kubectl version `1.6.2` and kubernetes version `1.13.3`. However this issue is not present with a later version kubectl version such as `1.13.3`.

Kubectl is only guaranteed to work with kubernetes clusters that are +/- 1 minor version. So I recommend updating your kubectl.

[2019-02-26 15:41] gmarek commented on #74600
For custom resource, but it shouldn't matter - the error comes from the etcd, which doesn't care about APIs (if we didn't start to leak more details in the store abstraction when I wasn't looking).

[2019-02-26 15:52] mariantalla commented on #74546
Labeling as `sig/storage` as I think they are the owners.

/sig storage
/remove-sig network

[2019-02-26 15:54] mariantalla commented on #74546
/remove-sig network

[2019-02-26 15:58] Sher-Chowdhury commented on #74597
Hi @Joseph-Irving

Thanks for looking into this. I'm pretty sure I hav the latest version of kubectl, but I did try upgrading just to be sure:

[code]

I'm quite new to Kubernetes, but I think you might have the versions the wrong way round. My Kubernetes version is 1.6.2 and my kubectl version is 1.13.3 (as mentioned in my ticket above).

[2019-02-26 16:01] grobie commented on #65098
@smarterclayton @foxish @enisoc We just had another use case to control the prevent pods of a statefulset to be cycled too fast. Any updates here?

[2019-02-26 16:05] Joseph-Irving commented on #74597
the output you showed in your issue:
[code]
shows server as `1.13.3` and client (aka kubectl) as `1.6.2`

Just because brew says kubernetes-cli is installed doesn't mean that's what's in your path, you can try `which kubectl` to help determine which binary you're using.

[2019-02-26 16:18] wongma7 commented on #74313
maybe, but it only cares if the count is 0 or >0

I will try to write a patch+e2e for this but am no iscsi expert. Also note we don't/can't run iscsi tests in ci so it will need to be verified locally

[2019-02-26 16:23] mariantalla commented on #74546
Assigning milestone:
/milestone v1.14

[2019-02-26 16:42] Sher-Chowdhury commented on #74597
My apologies, you were correct in the first instance. I got the version numbers mixed up.

Ok I managed to fix it now. To help others, here's what I did to fix it, first I uninstalled kubectl via the homebrew approach:

[code]

Then tracked down the old kubectl binary and renamed it:

[code]

Then reinstalled kubectl again:

[code]

The versions are now the latest:

[code]

I tried creating the pv

[2019-02-26 16:42] #74597 closed

[2019-02-26 17:00] PatrickLang commented on #64188
ping @dineshgovindasamy - you have logs coming in email for this. Can you help us determine if it's needed for 1.14 vs 1.15?

[2019-02-26 17:02] kvaps commented on #68070
Cleanup of whole `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/` directory was helped for me.

Then restart containers with your flexvolume driver, for reinstall it again.

[2019-02-26 17:09] tomkerkhove opened #74607 "Provide full list of options for "reason" when consuming Kubernetes events"
**What would you like to be added**: Provide full list of options for "reason" when consuming Kubernetes events

**Why is this needed**: This would allow consumers to provide more accurate consumption of these events. Nowadays there is not a straight-forward approach of processing them, as far as I know.

Bonus points if we can generate and use those lists in our clients like [https://github.com/k

[2019-02-26 17:15] tomkerkhove commented on #74607
Not sure which sig is most suitable for this, instrumentation will do I guess - @kubernetes/sig-instrumentation-misc

/cc @brendanburns 	as we were talking about this earlier.

[2019-02-26 17:38] mariantalla commented on #74543
Related to 1.14:
/milestone v1.14

[2019-02-26 17:40] oomichi commented on #74038
After discussing on the PR https://github.com/kubernetes/kubernetes/pull/74043 I have known I need to enable StorageObjectInUseProtection plugin of admission controller  which is disabled by default.
The corresponding e2e tests require the plugin is enabled, so I think it is better to enable the plugin by default for most users.

[2019-02-26 17:43] mariantalla commented on #74543
Hey @kubernetes/sig-network-bugs - could you help with this one please? It's failing in release blocking upgrade tests at the moment, which is concerning as we approach code freeze.

[2019-02-26 17:43] krmayankk commented on #65098
As per https://github.com/kubernetes/enhancements/pull/678#issuecomment-466291120 , it seems like we need both minReadySeconds and maxUnavailable  in StatefulSet to make it widely useful . I am actively working on adding the latter. Hopefully we can bring this (minReadySeconds) up in the next sig-apps meeting and take it further

[2019-02-26 17:54] oomichi commented on #74038
Investigation of StorageObjectInUseProtection plugin of admission controller under kubernetes/kubernetes:
* cluster/centos/config-default.sh: Enabled
* cluster/gce/config-default.sh: Enabled
* cluster/gce/config-test.sh: Enabled
* cluster/kubemark/gce/config-default.sh: Enabled
* hack/local-up-cluster.sh: Enabled
* cluster/juju/layers/kubernetes-master/reactive/kubernetes_master.py: Disabled

This

[2019-02-26 17:57] Reamer commented on #74197
Should be fixed in
https://github.com/kubernetes/kubernetes/pull/70805
https://bugzilla.redhat.com/show_bug.cgi?id=1643348
https://bugzilla.redhat.com/show_bug.cgi?id=1666820
https://github.com/openshift/origin/pull/21808
https://github.com/openshift/origin/pull/21807

[2019-02-26 17:57] #74197 closed

[2019-02-26 17:59] mm4tt commented on #73461
Recent failures are caused by https://github.com/kubernetes/test-infra/pull/11520 and should be fixed by https://github.com/kubernetes/perf-tests/pull/432
They are not related to this issue

[2019-02-26 18:05] phillipao opened #74609 "kubectl: need to opt into deleting with propagationPolicy: Foreground"
blockOwnerDeletion did not block owner deletion.

gc.sh:
[code]

cmfoo.yaml:
[code]

cr.yaml:
[code]

This is creating 64 ClusterRoles and giving them `ownerReference` to another ClusterRole ("cmfoo"). Then it deletes the owning ClusterRole. Then it tries to get one of the dependents, and expects the command to fail (because their owner was deleted).

But the script fails. It's able to get the dep

[2019-02-26 18:10] ramnes commented on #52218
I guess this issue can be closed since #67573 just got merged in. :tada:

[2019-02-26 18:20] phillipao commented on #74609
Oh, this might be the same issue described in #59850: `propagationPolicy` is not `foreground`. Would appreciate confirmation of that.

I do think this is an issue, despite that enhancement issue being closed as infeasible. I would at least like a flag option, if backwards compatibility was the issue.

My team asks users to uninstall our product using `kubectl delete`, and we rely on GC to remove a

[2019-02-26 18:30] phillipao commented on #74609
/sig cli

[2019-02-26 18:40] mariantalla commented on #74543
Example (and first) failure: [build 2255](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/2255).

[2019-02-26 18:49] dims commented on #69777
Adding one here https://github.com/kubernetes/test-infra/pull/11525

[2019-02-26 18:51] caseydavenport commented on #71649
We don't _know_ that's the case here.

I think this would be a signal that it is likely something else going on.

To summarize where we are now, this sounds like you're always able to access the metrics server from `control-02`, but not from `control-01` or `control-03` unless the policy is modified to allow from the IPs of those nodes, which is expected.

However, we're expecting that removing th

[2019-02-26 19:05] #72646 closed

[2019-02-26 19:05] tennessine commented on #23726
I didn't run this.

mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

caused the problem.

[2019-02-26 19:18] lavalamp commented on #74302
Nice find, thanks for letting us know the cause.

On Tue, Feb 26, 2019 at 1:15 AM Kiel Chan <notifications@github.com> wrote:

[2019-02-26 19:26] shilpamayanna commented on #73513
@davidz627 , I tried the experiment with remote volume. This could be reproduced with iSCSI volume.

[2019-02-26 19:39] ariskay commented on #69696
I do have the same issue, GKE creates three pods inside the new spawned node, all of them belongs to the kube-system namespace. The only way to have the cluster autoscale scale down is to drain the node. After a few minutes, the node pool scales to 0 nodes and the instance that was created also gets deleted.

I'm using the following to drain all the nodes in the pool so at least I can ensure they

[2019-02-26 19:44] tommyreilly commented on #71908
Hi,

Wondering which build this might be available in as I'm facing the same issue using kube-up on gce.

Thanks

Tommy

[2019-02-26 19:48] ixdy commented on #73286
Go 1.12 is out now, which means that Kubernetes 1.11 and 1.12 are both now using an unsupported version of Go (1.10).

[2019-02-26 19:54] davidz627 commented on #74553
PR to do a feature gate check immediately. Handling nil volume spec needs to be investigated and designed in Migration for reconstruction code design

[2019-02-26 20:00] chadschommer opened #74619 "kubectl can't create Deployment "already exists" but can't delete Deployment "not found""
**What happened**:
Unexpected results creating and deleting a deployment

commands as below:

[code]

kubectl does not find any deployments yet `kubectl create` fails saying the deployment already exists.  Upon attempting to delete the deployment kubectl fails saying that deployment is not found.

**What you expected to happen**:
If deployment already exists, delete should succeed. If deployment d

[2019-02-26 20:03] davidz627 commented on #74594
fair point. We considered it at first but it seemed kind of weird to have to initialize an object for using the translation library every time we wanted to use it. I see the value in it being mocked out though.

[2019-02-26 20:04] chadschommer commented on #74619
@kubernetes/sig-cli-bugs
/sig area-kubectl

[2019-02-26 20:05] thockin commented on #74134
What is the status of this now?  I am THOROUGHLY confused

[2019-02-26 20:06] roycaihw opened #74620 "Metadata validation for CustomResources"
We allow CRD authors to write [validation for CustomResources](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/customresources-validation.md). Currently we don't restrict writing validation for `metadata`, which means people can have [additive validation constraints to `metadata` after the built-in validation](https://github.com/kubernetes/kubernetes

[2019-02-26 20:10] roycaihw commented on #62323
discussion around CR metadata validation behavior: https://github.com/kubernetes/kubernetes/issues/74620

[2019-02-26 20:18] liggitt commented on #73286
bumping go versions can cut both ways. as an example, https://github.com/golang/go/issues/27044 caused bottleneck issues for clients that needed to open more than a few hundred watches ([aggregator](https://github.com/kubernetes/kubernetes/issues/74280), [kubelet](https://github.com/kubernetes/kubernetes/issues/74412)).

That issue is resolved in go1.12, which could be good to pick up, but the opp

[2019-02-26 20:19] liggitt commented on #74619
`kubectl {get,delete}` look in the current namespace specified in your kubeconfig file by default. to use the same namespace specified in your manifest file, pass `-n architecture`.

/close

[2019-02-26 20:19] #74619 closed

[2019-02-26 20:23] gnufied commented on #72131
I am looking into fixing this for 1.14.

/assign

[2019-02-26 20:28] anikammsft commented on #74564
Thanks for your quick response!
In that case, is it possible to add an enhancement that can take the user provided hostname value and append the same numeric extension to it as it does with the StatefulSet name to create pod names?

e.g.
If user provided the following:
hostname: myapp

Could we generate pod names such as myapp-0, myapp-1, etc. in case of StatefulSets?

[2019-02-26 20:30] neolit123 commented on #74134
me too ` ¯\_(ツ)_/¯`

according to @PatrickLang here https://github.com/kubernetes/kubernetes/issues/74134#issuecomment-467325251 and here https://github.com/kubernetes/kubernetes/issues/74134#issuecomment-467331511
and as far as i understood, we only have to push the JSON files that hold layer references, but not the actual layers because this violates the licensing of the nanoserver images.

[2019-02-26 20:33] PatrickLang commented on #74134
I'll post explicit steps using `docker manifest create`, etc.

[2019-02-26 20:44] #74373 closed

[2019-02-26 20:44] #74523 closed

[2019-02-26 20:55] mbohlool commented on #58603
/open

the fix is rolled back and a new fix is in progress.

[2019-02-26 20:56] bowei commented on #74543
cc: @prameshj @bowei

[2019-02-26 20:56] bowei commented on #74543
/assign @bowei

[2019-02-26 21:02] davidz627 commented on #56735
@lpf190 the problem was that the `claimName` did not match the name of the `PVC`

[2019-02-26 21:03] Joseph-Irving commented on #74564
Is there a reason you can't just call your statefulset, `myapp`? If you have a very compelling and common user story for this it makes it easier to justify change.

It would definitely break from convention to have the pod names not match the name of the statefulset as all other pods created by another resource (e.g job, replicaset) follow the pattern of `resource-name-identifier`.

[2019-02-26 21:11] davidz627 commented on #71437
these tests are no longer running in Ubuntu by design

[2019-02-26 21:11] #71437 closed

[2019-02-26 21:11] davidz627 commented on #71437
xref: https://github.com/kubernetes/kubernetes/issues/74095

[2019-02-26 21:12] smourapina commented on #74546
Thank you for adding the correct SIG @mariantalla, good catch!

[2019-02-26 21:13] oomichi opened #74623 "Container and image of kube-build still remain after building e2e binary"
**What happened**:

After building e2e binary multiple times for testing, many containers and images of kube-build remain on local disk and they waste the disk space like:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.13.1
- Cloud provider or hardware configurat

[2019-02-26 21:13] davidz627 commented on #71436
/remove-lifecycle stale

[2019-02-26 21:18] oomichi commented on #74623
/sig testing

[2019-02-26 21:20] cmrust commented on #6284
@gjcarneiro I agree that this behavior should be documented (and tested if it isn't already), but I'd like to point out that this is how the linux `diff` cli tool works as well and I imagine this was implemented this way purposefully and is likely safe to rely upon.

[2019-02-26 21:33] prameshj commented on #74543
Are these tests expected to pass? From looking at test grid, I can't see any successful runs.
https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master&width=5

This is modifying configmap to include a coredns Corefile.
@fturib @johnbelamaric

[2019-02-26 21:55] darwin67 commented on #25908
looking forward to this getting implemented! :)

we do have the same issue with normal jobs when an Istio proxy gets injected to it, above that we also want this because we want to run CI jobs with Prow.
e.g. Rails app container + sidecar database container for testing.

[2019-02-26 21:59] gnufied commented on #72131
I think we can't rely on devicePath being present always anyways. The CSI specs too require just the deviceMountPath not devicePath. I am considering refactoring the code so as resizing can work without depending on attach interface.

[2019-02-26 22:01] alexbrand commented on #71666
@trevex totally. @janetkuo suggested that as well and we have added it to the PR #72738

[2019-02-26 22:04] ixdy commented on #73286
hm, so it sounds like go1.11 had some pretty serious regressions for Kubernetes? what should we do, then?

[2019-02-26 22:10] dims commented on #73286
if we want to do this we should it ASAP! we still have a week and half away to code freeze. we will be slammed with PRs the closer we get to code freeze. bisect(s) are going to get harder with volume if we run into regressions.

[2019-02-26 22:12] logicalhan commented on #73587
Why wouldn't we want to just actually disable this metric wholesale? Enabling this flag would basically be the same thing as saying enable a memory leak, no?

[2019-02-26 22:12] #70955 closed

[2019-02-26 22:15] fturib commented on #74543
@rajansandeep : can you have a look here ? I thought these failing UT were fixed

[2019-02-26 22:17] kacole2 opened #74626 "[Failing Test] [sig-scheduling] PreemptionExecutionPath runs ReplicaSets to verify preemption running path tests failing"
**Which jobs are failing**:
- [sig-release-1.14-all/gke-cos-1.14-default](https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.14-default)

**Which test(s) are failing**:
- [[sig-scheduling] PreemptionExecutionPath runs ReplicaSets to verify preemption running path 29s](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cos-k8sbeta-default/9490#sig-scheduling-preemptio

[2019-02-26 22:17] PatrickLang commented on #74134
## Setup prerequisites

0. Open a PowerShell window as an administrator
1. Install Docker-CE 18.09.2
[code]
2. Reboot
[code]

## Pulling, creating the manifest, and pushing

Here's the copy & paste steps to pull the existing images, push them to the new registry, and create a manifest. Change $destinationRepo to be something like `k8s.gcr.io/microsoft/nanoserver` or your private repo name.

[code]

[2019-02-26 22:19] PatrickLang commented on #74134
Here's the example repo I made on docker.io https://cloud.docker.com/repository/docker/patricklang/nanoserver. When things are done this way, the original Windows image is still served from Microsoft as required by the license. If I were to add unique layers on top of this image - that content would be pushed to the registry.

[2019-02-26 22:22] alejandrox1 commented on #74626
/milestone v1.14

[2019-02-26 22:22] spiffxp commented on #73286
Speaking about this in SIG Release, I have no strong opinion at present on the version of go used for previous releases.

I am willing to say yes if someone wants to try landing 1.12 support prior to Friday, otherwise I would rather punt this to the next release

[2019-02-26 22:24] rajansandeep commented on #74543
@bowei @fturib @prameshj
There were similar failures for https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-serial and the tests were fixed via https://github.com/kubernetes/kubernetes/pull/74371.

I went through the logs of the current test failures in https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master&width=5 and it seems like the PR changes which fixed the ab

[2019-02-26 22:27] fturib commented on #74543
I understand these failing tests are build fron the 1.14 branch. Maybe we should cherry pick in that branch the fix that was committed in master (#74371)

[2019-02-26 22:35] ixdy commented on #73286
I originally created this issue only to discuss updating the version of Go in older Kubernetes releases (notably k8s 1.11 and 1.12).

[2019-02-26 22:48] oomichi commented on #74600
Does this mean the API request contain large values on metadata and apiserver outputs it directly without input validation?
If so, https://github.com/kubernetes/kubernetes/issues/74620 seems helpful for this issue.

[2019-02-26 22:48] sfiligoi commented on #4301
I just got into pretty much the same situation as [#45339](https://github.com/kubernetes/kubernetes/issues/45339#issue-226219257)

Any chance we will ever see this implemented?

[2019-02-26 22:48] Huang-Wei commented on #74626
I will take a look.

/assign

[2019-02-26 22:53] wangzhen127 commented on #71526
/close
This work is done already.

[2019-02-26 22:53] #71526 closed

[2019-02-26 22:58] calebamiles commented on #73286
I'm going to put on my RelEng lead hat and say, that at least for me, we're outside of the window where we should attempt this for 1.14. I think in general we need a pipeline that encodes the criteria we would use to evaluate the correctness of a go version bump. I would like to see such tooling applied to previously released versions of Kubernetes so we test again on lower risk targets. Let's per

[2019-02-26 23:04] liggitt commented on #73286
This is the part that concerns me the most. Is it better to set ourselves up for needing to scramble to update and validate if (when?) go security releases come out, or to get ourselves on versions that will be supported for the duration of the k8s release's support life?

[2019-02-26 23:05] thockin commented on #74134
[code]

Pushed to my staging, will try to get the promoter running ASAP

[2019-02-26 23:08] roycaihw commented on #74600
I think it's fixed by https://github.com/kubernetes/kubernetes/issues/74600 and cherry-picked to 1.11+. My understanding is apiserver returns 413 StatusRequestEntityTooLarge on large requests

cc @caesarxuchao to confirm

[2019-02-26 23:09] lavalamp commented on #73587
/assign @logicalhan

[2019-02-26 23:11] lavalamp commented on #73587
Han points out that, since the metric has a random suffix each time, it's not very useful for monitoring anyway.

[2019-02-26 23:11] lavalamp commented on #73587
/sig api-machinery

[2019-02-26 23:21] thockin commented on #74134
hmm, it looks like our image promoter is not quite ready for multi-platform yet.  Let me try pushing to gcr.io/kubernetes-e2e-test-images

[2019-02-26 23:25] ixdy commented on #74134
@thockin yeah, you might be bumping into https://github.com/google/containerregistry/issues/128.

[2019-02-26 23:26] thockin commented on #74134
[code]

Someone test that pull?

[2019-02-26 23:27] thockin commented on #74134
@ixdy does that mean no Windows images can live on GCR?  Am I misreading it?

[2019-02-26 23:31] ixdy commented on #74134
@thockin I believe GCR supports it, but some of our tooling (which uses google/containerregistry) may not.

OTOH I think @listx's tool is just using `gcloud` directly, so it might be unaffected.

[2019-02-26 23:32] neolit123 commented on #74134
![nano-server-image-gcr](https://user-images.githubusercontent.com/331852/53454362-92aa0280-3a2f-11e9-864b-022eba1a5a52.png)

[2019-02-26 23:33] thockin commented on #74134
Awesome, so that seems to work for now.  I guess the next step is to FROM that in your own containers.

[2019-02-26 23:34] thockin commented on #74134
or just use it in your tests.  Do we close this for now, then?

[2019-02-26 23:36] neolit123 commented on #74134
SGTM, leaving the close call to @PatrickLang @bclau

[2019-02-26 23:42] PatrickLang commented on #74134
This looks right. I did a pull on a 1809 machine and the hashes match.

[code]

@bclau is this enough to finish that test case, or are more images needed?

We definitely need to get the images into a CI for 1.15. See #73475 / https://github.com/kubernetes-sigs/windows-testing/issues/3

[2019-02-26 23:44] neolit123 commented on #74134
this should be enough in terms of the test case.

[2019-02-26 23:45] dmick commented on #52218
#67573 still doesn't allow -c; please don't close this one

[2019-02-26 23:46] Huang-Wei commented on #74626
@kacole2 is it possible to simulate a `gke-cos` env? The e2e test only failed on `gke-cos` (even `gck-cos` is good), and the error occurs when trying to create a PriorityClass API object.

If it's infeasible, I suppose the only way to debug is to put a temp PR printing more info and wait for `gke-cos` test suite to pick up, and then check the logs?

[2019-02-26 23:48] sfiligoi commented on #4301
Never mind... Looks like [#45339](https://github.com/kubernetes/kubernetes/issues/45339#issue-226219257) can be implemented by using labels and [Pod Disruption Budgets](https://kubernetes.io/docs/tasks/run-application/configure-pdb/)

[2019-02-26 23:49] nydalal opened #74631 "Upload k8s-1.9-debian-jessie-amd64-hvm AMI in AWS with CVE-2019-5736 fix"
Need to have image with vul CVE-2019-5736 fixed for k8s 1.9

[2019-02-26 23:58] mbohlool commented on #74620
What is the difference between these two? I mean the end result is the same right? The only thing that can be added is validation. Nothing else works unless you are considering extensions?

[2019-02-27 00:04] neolit123 commented on #74134
@yujuhong

^ FYI, there are now Windows test images at GCR.

thanks @thockin !

[2019-02-27 00:04] cblecker commented on #73286
Open PR to update master to 1.12: https://github.com/kubernetes/kubernetes/pull/74632

Dunno if this is a 1.14.0 thing, or if we should leave it for later.. but at least we can get CI rolling and see how it performs.

[2019-02-27 00:15] anikammsft commented on #74564
The issue in our product is that we want to join the pods to an Active Directory (AD) domain and running an AD service, unfortunately, requires that the hostname be only up to 15 characters. Since this is a very stringent requirement, we need to keep our statefulset names quite short to allow for a big count of pods. This ends up taking out information encoded in those names. We could essentially

[2019-02-27 00:20] jethrogb commented on #62788
/remove-lifecycle stale

[2019-02-27 00:22] jayunit100 commented on #73249
@derekwaynecarr  @aveshagarwal  @ravisantoshgudimetla  ~ can one of you help us push this taints patch through ?  would like to possibly add some more related patches in the near future as well.

[2019-02-27 00:46] roycaihw commented on #74620
The former means we drop/hide user-specified metadata schema when we publish CRD OpenAPI. We still validate user-specified constraints on server side, but client-side validation won't see them. The latter enables client-side user-specified metadata validation.

[2019-02-27 00:50] #73176 closed

[2019-02-27 00:55] BenTheElder commented on #73286
Please note that such scrambling still goes through some maintainers right now such as @ixdy with pretty low remaining bandwidth (AFAICT anyhow...) to push the necessary build images etc.
IMHO it's preferable to have a plan for upgrading instead of scrambling at the last minute to figure out how to get patched go.

[2019-02-27 01:02] bsakweson commented on #71154
It turns out that there are barely any search results out there that talks about ways to resolve this issue. In my case the issue with the url. The official tutorial mention in my posts above completely missed that also. The solution was to make sure that the url has the v2 part attached to it. In other words, it should be like this `registry.mydomain.com/v2` that is if your registry is version 2.

[2019-02-27 01:11] bowei commented on #74543
/assign @fturib assigning to you

[2019-02-27 01:11] bowei commented on #74543
Nevermind :-) I'm assuming you guys will be investigating

[2019-02-27 01:21] fturib commented on #74543
@bowei : investigation is done.
* these 2 failing e2e test are running from the branch v1.14.
* We had those same test failing in Master earlier last week.
* It was fixed in master last week by @rajansandeep - see #74371

**We need that this PR to be ported in the branch v1.14.**

@smourapina - who can do the cherrypick of #74371 into branch v1.14 ?

[2019-02-27 01:29] neolit123 commented on #74567
cc @roberthbailey @justinsb

[2019-02-27 01:42] WanLinghao commented on #74565
Do you mean inside container or outside container?

[2019-02-27 01:45] mariantalla commented on #74546
The in-tree ones have started passing (will monitor for consistency), but the CSI one is still failing.

@msau42 Does this look familiar at all?

[2019-02-27 02:08] msau42 commented on #74546
I cannot triage this issue because the logs for the new nodes after upgrading the cluster are not collected.

Looking at https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2814/build-log.txt, these are the node logs I am looking for:
[code]

However, http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluste

[2019-02-27 02:08] liggitt commented on #74620
If it's possible to merge with standard metadata schema info, or at the cost of not publishing the standard schema.

My inclination would be to publish the complete standard schema for metadata/apiVersion/kind, which we know is complete and accurate, and use and user-specified schema for those fields as addition validations server side

[2019-02-27 02:08] msau42 commented on #74546
@kubernetes/sig-testing

[2019-02-27 02:10] msau42 commented on #74546
If I had to guess, I think the CSI reconstruction tests may still be flaky due to https://github.com/kubernetes/kubernetes/issues/72500

[2019-02-27 02:22] dineshgovindasamy commented on #73327
@huxiaoliang i looked at the logs i dont see any LB Policy programmed in HNS for the IP aspnetappsvc   NodePort    10.0.15.35     <none>        80:31858/TCP   8m14s.

Could you please confirm that this is the nodeport we are looking to debug?

In the log files you collected please look @ policy.txt and see if the policy you were trying to program is there or not. if its there and it doesnt work th

[2019-02-27 02:25] dineshgovindasamy commented on #74541
@madhanrm @nagiesek Can you guys look into this? is this a gap in azure CNI?

[2019-02-27 02:31] jianglingxia opened #74640 "standalone cinder provisioner use iscsi raw pv can not attach the k8s minion"
**What happened**:
i use the standalone-cinder-provisioner and the backend storage is iscsi,the pv and volume can dynamic created,but the device can not attached the k8s minion

the standalone-cinder-provisioner pod yaml use the web :https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/provisioner/deployment.yaml

and the pod running:
kube-system standalone-cinder-provision

[2019-02-27 02:32] huxiaoliang commented on #73327
@dineshgovindasamy  thanks for the  your suggestion, i will retry it and append the result here.

[2019-02-27 02:36] jianglingxia commented on #74640
#63176
the k8s not connect the iscsi,so the /sys/class/iscsi_host dir not exist,then attachdisk function :
// Build a map of SCSI hosts for each target portal. We will need this to
	// issue the bus rescans.
	portalHostMap, err := b.deviceUtil.GetISCSIPortalHostMapForTarget(b.Iqn)
	if err != nil {
		return "", err
	}
the GetISCSIPortalHostMapForTarget will return err then attach failed,why set the

[2019-02-27 02:37] jianglingxia commented on #74640
/sig-storage

[2019-02-27 02:40] jianglingxia commented on #74640
/assign bswartz

[2019-02-27 02:56] shnhrrsn commented on #54482
/remove-lifecycle stale

[2019-02-27 03:04] huxiaoliang commented on #73327
Below is my retest full steps and output:
[code]
[code]

[code]
[code]

[code]

it seems the ip of   aspnetapp and aspnetappsvc not in policy.txt, but I don't see any error in kube-proxy logs except https://github.com/kubernetes/kubernetes/issues/73327#issuecomment-466323299

Any comments ?   I need more debug on kube-proxy according to your suggestion

[ub1lebx0.dft.zip](https://github.com/kubern

[2019-02-27 03:07] nydalal commented on #74631
/sig aws

[2019-02-27 03:40] #31345 closed

[2019-02-27 03:53] #68286 closed

[2019-02-27 04:15] liggitt commented on #74600
the limits added in that PR are larger than the typical etcd document limits, so I wouldn't expect it to prevent all etcd errors

[2019-02-27 04:15] yue9944882 commented on #74412
/cc @deads2k @lavalamp @MikeSpreitzer

this issue might be suggesting that policing/prioritizing requests merely by user/groups is not sufficient for cluster robustness. we should also classify these requests w/ a finer granularity w/i components like kubelet according to verbs/resources.

[2019-02-27 04:34] nikopen commented on #73723
/kind design

[2019-02-27 04:35] nikopen commented on #71469
/kind failing-test
/milestone clear

[2019-02-27 04:37] nikopen commented on #69905
/milestone clear
/kind cleanup

[2019-02-27 04:46] nikopen commented on #58010
Greetings!
:mountain_snow: code freeze :mountain_snow:  is coming in about 10 days, is this intented to be implemented in the following 2-3 weeks?

@kubernetes/sig-node-bugs

[2019-02-27 04:47] nikopen commented on #49402
Greetings!
:mountain_snow: code freeze :mountain_snow:  is coming in about 10 days, is this intented to be implemented in the following 2-3 weeks?

@dims @andrewsykim @jagosan @cheftako

[2019-02-27 04:48] nikopen commented on #70707
Greetings!

:mountain_snow: code freeze :mountain_snow:  is coming in about 10 days, is this intented to be implemented in the following 2-3 weeks?

@prameshj @luxas

[2019-02-27 04:50] nikopen commented on #71202
Greetings!

:mountain_snow: code freeze :mountain_snow:  is coming in about 10 days, is this intented to be implemented in the following 2-3 weeks?

@m1093782566 @Lion-Wei

[2019-02-27 04:52] nikopen commented on #14733
@wojtek-t as #72239 has been merged, can this be closed?

[2019-02-27 04:55] #71666 closed

[2019-02-27 05:06] nikopen commented on #65392
Hi @jingxu97 @saad-ali , code freeze for 1.14 is coming in 10 days, if this won't be ready in the next 2-3 weeks feel free to move it to the v1.15 milestone.

[2019-02-27 05:13] SataQiu commented on #68026
#74642

[code]

[2019-02-27 05:33] roycaihw commented on #74600
@liggitt you're right. I forgot that limit (100MB) is way larger than the etcd limit we use

related issue: https://github.com/kubernetes/kubernetes/issues/47668#issuecomment-397029553
related WIP PR: https://github.com/kubernetes/kubernetes/pull/67317

when etcd / gRPC error message occur, apiserver should handle and return a constant error message (413)

[2019-02-27 05:46] notjames commented on #66439
/reopen

Would like to know what the proper condition value should be used when waiting for a service (specifically a loadbalanced service) is available. I've tried `ready`, `available`, `complete`, and like a few more. Nothing works. kthxbye! ;)

[2019-02-27 05:48] lavalamp commented on #74412
@yue9944882 This issue is due to the golang bug of limiting HTTP2 connections for no reason, no?

[2019-02-27 05:52] m3ngyang opened #74643 "Obtain cloud controller status via `kubectl get cs`"
**What would you like to be added**:
Users can obtain cloud controller status via `kubectl get cs`, for example,
[code]

**Why is this needed**:
For kubernetes deployed in cloud, `cloud controller` is a key master-like component, as important as `controller-manager`. It status may be included and printed via `kubectl get cs`.
Currently, `component status` only detects health of `controller-manager

[2019-02-27 05:54] m3ngyang commented on #74643
/sig cloud-provider
/sig aws
/sig azure
/sig cli

[2019-02-27 05:59] coffeepac commented on #74272
new image [vuln report](https://console.cloud.google.com/gcr/images/fluentd-elasticsearch/GLOBAL/elasticsearch@sha256:780139d1437ccfd9563a5061477ebf646939f8da8d8999e7eb2f011ad402f8ae/details?tab=vulnz&project=fluentd-elasticsearch&authuser=1&gcrVulnzListsize=30)

I believe this satisfies the original ask.

[2019-02-27 06:07] yue9944882 commented on #74412
yes, to clarify, i mean we can probably limit the WATCH connections (under 250) for kubelet at server-side to "make room" for the patch calls. will this help the case?

[2019-02-27 06:09] YueHonghui commented on #74302
@lavalamp
We have decrypted the stream between kubelet and kube-apiserver. Also we have dumped the goroutine stacktrace and pprof trace of kubelet and kube-apiserver. Maybe these are useful to you. I will reference goroutine stacktrace blocked by condition wait of kubelet below.

[cwgid1.backtrace.zip](https://github.com/kubernetes/kubernetes/files/2908780/cwgid1.backtrace.zip)

[2019-02-27 06:16] YueHonghui commented on #74412
@yue9944882 @wojtek-t @lavalamp  I have posted goroutine stacktrace of kubelet to https://github.com/kubernetes/kubernetes/issues/74302#issuecomment-467737071 . In the case we have encountered, kubelet doesn't use new connection to communicate to kube-apiserver when hit limit of max concurrent streams. This seems due to golang bug of http2 connection pool implementing.

[2019-02-27 06:23] MikeSpreitzer commented on #74412
@yue9944882 : what I am hearing here is that the problem is not the apiservers being overloaded but rather a connection management problem in the kubelet.  So this is not begging to be solved by traffic policing in the apiservers.

[2019-02-27 06:37] krmayankk commented on #65098
/remove-lifecycle stale

[2019-02-27 06:56] #69210 closed

[2019-02-27 06:56] #69208 closed

[2019-02-27 07:09] jianglingxia commented on #74640
/assign  @redbaron @rootfs
thanks!

[2019-02-27 07:36] SataQiu commented on #72956
#74645

[code]

[2019-02-27 07:40] johscheuer commented on #73507
Any news when the image will be published?

[2019-02-27 07:49] ashi009 commented on #66401
/remove-lifecycle rotten

[2019-02-27 07:52] mm4tt commented on #73176
Thanks for fixing!

[2019-02-27 07:57] #61770 closed

[2019-02-27 08:18] danielqsj commented on #73507
hi @kubernetes/sig-testing , could someone help push a new image (version 1.3) to gcr.io?

[2019-02-27 08:24] mkumatag commented on #73507
@ixdy ^^^

[2019-02-27 08:35] ariskay commented on #69696
Creating taints on the node pool and adding the toleration to the pods did the trick, there is a pod that doesn't get scheduled and now GKE is able to scale down the node pool.

[2019-02-27 08:48] yastij commented on #65392
@nikopen - the enhancement kubernetes/enhancements#719 was moved from 1.14, this issue should be also moved.

[2019-02-27 08:54] wojtek-t commented on #74412
yes

@MikeSpreitzer @lavalamp ^^

[2019-02-27 08:55] wojtek-t commented on #14733
The feature is not in GA (it will be in Beta in 1.14), but I think we can close it - there is a corresponding issue in enhancements repo.

[2019-02-27 08:55] #14733 closed

[2019-02-27 09:04] #74569 closed

[2019-02-27 09:12] var23rav commented on #34982
I was beating my head on this to understand what happening. @thockin Explaned its correctly.
TLDR; But if you, @petrokashlikov can set the permission to the configMap or secret file **make use of subPath** which wil create the file with the permission specified in **defaultMode**

--------------------
Lets take look
eg:-

[code]

now if you get into the pod and check the permission

[code]

* **dr

[2019-02-27 09:33] pontiyaraja commented on #72691
/close

[2019-02-27 09:33] #72691 closed

[2019-02-27 10:02] brancz commented on #74607
Events can be produced by any component, including add on components, so I don't think we can have a true set of possible values.

[2019-02-27 10:10] johscheuer commented on #73507
I also noticed that the Redis image was missing `bash` as well I added a PR that fixes that: https://github.com/kubernetes/kubernetes/pull/74648

[2019-02-27 10:23] cofyc opened #74650 "Invalid path to check in volume existence test for CSI volumes"
In [`Kubelet.getMountedVolumePathListFromDisk`](https://github.com/kubernetes/kubernetes/blob/076af3d1b5cc1c368dd00f64ceefda8a87c1dfc7/pkg/kubelet/kubelet_getters.go#L307) and [`operationExecutor.CheckVolumeExistenceOperation`](https://github.com/kubernetes/kubernetes/blob/076af3d1b5cc1c368dd00f64ceefda8a87c1dfc7/pkg/volume/util/operationexecutor/operation_executor.go#L900), we check mount on firs

[2019-02-27 10:23] cofyc commented on #74650
@kubernetes/sig-storage-bugs

[2019-02-27 10:35] danielloczi opened #74651 "ignored pod-eviction-timeout settings"
**What happened**: I modified the `pod-eviction-timeout` settings of kube-controller-manager on the master node (in order to to decrease the amount of time before k8s re-creates a pod in case of node failure). The default value is 5 minutes, I configured 30 seconds. Using the `sudo docker ps --no-trunc | grep "kube-controller-manager"` command I checked that the modification was successfully appli

[2019-02-27 10:45] danielloczi commented on #74651
@kubernetes/sig-node-bugs
@kubernetes/sig-apps-bugs

[2019-02-27 10:45] cofyc commented on #72500
Current `reconciler.reconstructVolume` initializes [`volume.Mounter`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L505) and [`volume.BlockVolumeMapper`](https://github.com/kubernetes/kubernetes/blob/218642e84ed0e3fcfda1447c8564ba24b90c1f5a/pkg/kubelet/volumemanager/reconciler/reconciler.go#L524), but if driver of CSI plugin is not registe

[2019-02-27 10:47] danielloczi commented on #72395
FYI: the bug not related to multi-master environment, I able to reproduce it on one master, two worker nodes setup also. See: #74651

[2019-02-27 10:48] mariantalla commented on #74543
Interesting; because it's the v1.14 branch, the daily fast forward from master should have picked it up. I'll look through history for commits forwarded to the v1.14 branch.

[2019-02-27 10:50] Joseph-Irving commented on #74564
Right, I understand the issue but it currently seems quite specific to your setup. Also you would still need to ensure that your customers don't set hostname to be longer than 15 characters, so you'd be moving the problem elsewhere.

If you want to progress this it's probably worth opening a feature request issue, describe the issue more generically and see if there are other use cases in the comm

[2019-02-27 10:54] mariantalla commented on #74567
I'm assigning v1.14 milestone to this as we're approaching code freeze for this release, and prioritizing to `critical-urgent` because it's one of the longer-running failures at the moment.

/milestone v1.14
/priority critical-urgent
/remove-priority important-soon

[2019-02-27 11:02] mkozjak commented on #62421
/remove-lifecycle stale

[2019-02-27 11:14] dansiviter commented on #25908
@cropse Thanks. I've not tried it as we'd need to configure this for all tests. We're just allowing the Pod (Helm Tests don't allow Job unfortunately) to fail and relying on manually inspecting the log until this issue is fixed long term. However, it's also becoming a problem for other Jobs too so we may have reconsider that position.

[2019-02-27 11:15] mariantalla commented on #74567
Also narrowing this to `kind/flake`; it contains a number of other tests that have been flaking independently... causing the overall job to be consistently red.

/remove-kind failing-test

[2019-02-27 11:24] istaveren commented on #59564
This is still an issue.
Start a pod.
Delete the image that is used in the pod with docker rmi -f <image id>
Then delete the pod.
Kube will hang with

Warning  FailedSync  73s (x19 over 4m58s)  kubelet, minikube  error determining status: rpc error: code = Unknown desc = unable to inspect docker image "sha256:89a159cee9ae628420377dbcc3963e35a30e1a61ef0b549928b97bdcab260f91" while inspecting docker

[2019-02-27 11:24] #73587 closed

[2019-02-27 11:40] alvgarvilla opened #74656 "ClusterRole admin of rbac.authorization.k8s.io is not allowed to create Roles for "job" resources"
**What happened**:
I have an user with ClusterRole admin only in "default" namespace. I created it as following:

[code]

With that user I can create, list, get... any object (pods, **jobs**, deployments, services...). I can also create Roles to allow creating all those resources BUT jobs. I get permission issues when creating any Role that has any verb in **job** resources.

**What you expected t

[2019-02-27 11:41] mariantalla commented on #74384
The tests are still throwing `panic`s in [1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-serial) (it's the `ci-kubernetes-e2e-gce-cos-k8sbeta-serial` job there though).

They also seem to not have run since the 24th, I'll look into that in the meantime 🤔

[2019-02-27 11:44] bclau commented on #74134
Awesomeness, I've made a PR adding the testcase using this new image. This issue will close automatically once that merges. Test works for me.

One question remains though. Do we have to have a Windows equivalent for the ``should be able to pull from private registry with secret`` test too? The test is currently pulling the image ``gcr.io/authenticated-image-pulling/alpine:3.7``, so it fails on Wi

[2019-02-27 11:48] alvgarvilla commented on #74656
/sig auth

[2019-02-27 11:54] mariantalla opened #74657 "[Failing test] ci-kubernetes-e2e-gce-cos-k8sbeta-serial panics in 1.14-blocking"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-cos-k8sbeta-serial (as seen in [sig-release-1.14-blocking#gce-cos-1.14-serial](https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-serial))

**Which test(s) are failing**:
* `[sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: gce-localssd-scsi-fs] [Serial] [Testpattern: Pre-provisioned PV (block volmode)] volumeMode should fa

[2019-02-27 12:09] mariantalla opened #74658 "[Failing test] Before Suites failing for ci-kubernetes-node-kubelet-beta in 1.14-blocking"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-beta in [sig-release-1.14-blocking#node-kubelet-1.14](https://testgrid.k8s.io/sig-release-1.14-blocking#node-kubelet-1.14) dashboard

**Which test(s) are failing**:
All `BeforeSuite()`s.

**Since when has it been failing**:
2019-02-19 (when it was created)

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.14-blocking#node-kubelet-1.14

[2019-02-27 12:40] calind commented on #71162
We have an example use case: the k8s cluster is provided by gke and we have an separate dashboard application using auth0 for providing authentication. We would like to leverage k8s rbac for users coming from auth0.

[2019-02-27 12:47] kevtaylor opened #74659 "VolumeSubpathEnvExpansion e2e tests failing in alpha node suite"
**Which jobs are failing**:
All new tests introduced for api change

**Which test(s) are failing**:
New alpha subpathExpr tests [Feature:VolumeSubpathEnvExpansion][NodeAlphaFeature:VolumeSubpathEnvExpansion]

Existing tests are working fine and the whole suite works correctly in the gce suite
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-alpha-features

**Since when has it been faili

[2019-02-27 12:48] kevtaylor commented on #74659
/sig storage

[2019-02-27 12:49] kevtaylor commented on #74659
/sig node
/sig test

[2019-02-27 12:49] kevtaylor commented on #74659
/assign @kevtaylor

[2019-02-27 12:49] kevtaylor commented on #74659
/cc @msau42

[2019-02-27 12:50] kevtaylor commented on #74659
/sig test

[2019-02-27 12:57] fturib commented on #74543
@rajansandeep : can you double check, now if I open the [e2e test in v1.14 branch](https://github.com/kubernetes/kubernetes/blob/release-1.14/test/e2e/network/dns_configmap.go), the expected change is in (I mean the `health` plugin in the config)

see : https://github.com/kubernetes/kubernetes/blob/e5777aab95e5c48f6645044f822e891ccbc2dcea/test/e2e/network/dns_configmap.go#L69

[2019-02-27 12:57] sharkymcdongles commented on #42158
I also still see this in 1.13.3.

`W0227 12:56:10.652298       1 actual_state_of_world.go:491] Failed to update statusUpdateNeeded field in actual state of world: Failed to set statusUpdateNeeded to needed true, because nodeName="minion-4" does not exist
W0227 12:56:10.652355       1 actual_state_of_world.go:491] Failed to update statusUpdateNeeded field in actual state of world: Failed to set sta

[2019-02-27 13:26] shiftux commented on #9483
for general TLS, even simpler:
`kubectl create secret tls my-tls-cert --cert=path/to/cert.pem --key=path/to/key.pem`

[2019-02-27 13:34] qmfrederik commented on #74412
@wojtek-t I took the time to reproduce this (on v.1.13.3) with logging enabled (v=3) on the API server.
Pretty much the same scenario - schedule 400 jobs (each linked to a different configmap), and wait for them to be scheduled and completed.

Even after all jobs have completed (i.e. the only running pods are the kube-system pods), up to every 10 seconds, ~230 new entries (which seems awfully clos

[2019-02-27 13:48] #74598 closed

[2019-02-27 13:49] mariantalla opened #74661 "[Flaky test] Reboot tests are flaky in master-blocking"
**Which jobs are failing**:
`ci-kubernetes-e2e-gci-gce-reboot` in [sig-release-master-blocking#gce-cos-master-reboot](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-reboot)

**Which test(s) are flaking**:
* `[sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on`
* `[sig-cluster-lifec

[2019-02-27 13:49] mariantalla commented on #74661
/remove-kind failing-test

[2019-02-27 13:50] wojtek-t commented on #74412
Heh... - I think I know where the problem is.
The problem is that we delete the reference to the pod (and this is what stops the watch) when we UnregisterPod:
https://github.com/kubernetes/kubernetes/blob/3478647333c91689cf4c737012a60e6d70a661e7/pkg/kubelet/util/manager/cache_based_manager.go#L244

And this one is triggered only by pod deletion:
https://github.com/kubernetes/kubernetes/blob/master

[2019-02-27 13:53] YueHonghui commented on #74412
@wojtek-t
Maybe we should upgrade golang version to 1.12 according to [g1.12 release notes](https://golang.org/doc/go1.12) ?

[2019-02-27 14:15] frizner commented on #47893
The same issue with Solr

[2019-02-27 14:22] wojtek-t commented on #74412
Yeah - but that doesn't solve the problem of previous releases...

[2019-02-27 14:31] erhudy commented on #66067
Adding an SNAT rule above the rule generated by kubelet fixes it (replace the `4` with whatever the slot is above the offending rule for you):
[code]
I'm going to look at upstreaming this fix.

[2019-02-27 15:05] tnozicka commented on #56876
/assign

[2019-02-27 15:32] Mynom commented on #74135
We also tested setting `runtimeRequestTimeout` to lower values, but it only helps to some degree. If there are to many pods which need killing and have nfs, we see the same pleg not healthy error.

[2019-02-27 15:33] porrascarlos802018 commented on #65233
ok kubernetes 1.12 released, how to? which command?

[2019-02-27 15:43] rajansandeep commented on #74543
@fturib @mariantalla Yes, I see that the changes for the fix are there in the v1.14 branch, but when I see the logs of the (latest) failed tests, the changes aren't reflected.
Maybe I missing something here.

[2019-02-27 15:52] michmike commented on #74134
@bclau  are you asking if @thockin  can push the nanoserver manifest to the authenticated-image-pulling registry as well? Tim?

[2019-02-27 16:06] #67964 closed

[2019-02-27 16:14] vivekbagade commented on #72915
Any update on this?

[2019-02-27 16:23] adelina-t opened #74667 "Divide by zero panic in getContainerUsageNanocores"
Kubelet panic with the following error:

[code]

The relevant lines are this: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/stats/cri_stats_provider.go#L547-L548

Basically, this value:

`nanoSeconds := stats.Cpu.Timestamp - cached.Timestamp`

can, in some conditins, be 0

**Environment**:
- Build from master ( v1.15.0-alpha.0.327+139a13d312b1b1 ):
- Cloud provider or hardware c

[2019-02-27 16:30] adelina-t commented on #74667
/cc @feiskyer

[2019-02-27 16:31] adelina-t commented on #74667
@PatrickLang

[2019-02-27 16:36] andrewsykim commented on #49402
@nikopen thanks for following up, this won't be in for v1.14.

[2019-02-27 16:42] kumar-shantanu commented on #74298
sig/Calico

[2019-02-27 16:42] kumar-shantanu commented on #74298
/sig Calico

[2019-02-27 16:44] nikopen commented on #49402
/milestone v1.15

[2019-02-27 16:47] nikopen commented on #65392
ok!

/milestone v1.15

[2019-02-27 17:08] nikhita commented on #56876
/unassign @tnozicka

Unassigning you, or else you are going to have an open issue assigned to you everytime publishing bot fails :)

[2019-02-27 17:09] carsonoid commented on #57073
/close

[2019-02-27 17:09] #57073 closed

[2019-02-27 17:10] msau42 commented on #74657
@mariantalla has the k8sbeta version picked up the PRs https://github.com/kubernetes/kubernetes/pull/74445 and https://github.com/kubernetes/kubernetes/pull/74493 which fixed the tests in master?

[2019-02-27 17:12] clkao opened #74669 "kubelet fails to start: plugin watcher fail to traverse pvc under plugin dir"
**What happened**:

When kubelet restarts while a full rook-ceph pvc is mounted by running pods, it fails with:

[code]
**What you expected to happen**:

kubelet restarts successfully and reconstructs pod and pvc mount states

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Followup to
https://github.com/kubernetes/kubernetes/pull/70494#issue

[2019-02-27 17:14] clkao commented on #74669
/sig node

[2019-02-27 17:18] #74659 closed

[2019-02-27 17:30] clkao commented on #74669
Looking at https://github.com/kubernetes/kubernetes/blob/7b24399fb5f3fd7b3894f33c3f4948694f642f70/pkg/kubelet/util/pluginwatcher/plugin_watcher.go#L193

it seems fsWatcher.Add is called for every directory found recursively by `fs.Walk`, which is why https://github.com/rook/rook/issues/2568 suggested increasing `fs.inotify.max_user_watches`, given the whole pvc is mounted under plugin dir in this

[2019-02-27 17:31] lahsivjar commented on #71506
/remove-lifecycle stale

[2019-02-27 17:33] lavalamp commented on #74302
Thanks!

[2019-02-27 17:37] srinathkotu commented on #72226
I am still facing this issues on v1.13.3. Is there anything else i need to configure to have  "TaintBasedEvictions" feature working properly?
Below are the tolerations and taints that i see on my node(powered off) and pod(stuck on terminating):

`kubectl get pod nginx-deployment-8abcf4969df-gik89 -o yaml | grep -A4 tolerations`

[code]

`kubectl get nodes ip-10-10-10-100.ec2.internal -o yaml | gre

[2019-02-27 17:39] bgrant0607 commented on #3595
Putting this here so I can find it again later: https://do-db2.lkml.org/lkml/2011/6/19/170

[2019-02-27 17:46] liggitt commented on #74669
was https://github.com/kubernetes/kubernetes/pull/72221/files supposed to address this on 1.12?

[2019-02-27 17:48] srinathkotu commented on #72226
@Huang-Wei could you elaborate when you say

do you mean that the pods should get deleted automatically after the tolerationseconds time is reached?

[2019-02-27 17:48] mkornacker opened #74670 "Request for clarification: how are services scheduled onto nodes?"
I apologize in advance if this is already documented (but I looked and couldn't find anything).

I'm dealing with a case where a LoadBalancer service gets scheduled onto a host that is about to be terminated. Ideally I'd be able to use a node selector to limit this to hosts that I know will not be terminated (before the service itself will be deleted).

[2019-02-27 17:51] mariantalla commented on #74417
Prioritizing this to `critical-urgent` because it's been failing for a while, and across different dashboards.

/priority critical-urgent
/remove-priority important-soon

[2019-02-27 17:55] jsturtevant commented on #74541
We took a look at this yesterday and testing a fix this morning.  Will update shortly.

[2019-02-27 17:55] mkornacker commented on #74670
@kubernetes/sig-scheduling-misc

[2019-02-27 17:59] aantono commented on #74265
@bjhaid How exactly do you do such injection?

[2019-02-27 18:02] bjhaid commented on #74265
Downward API env vars

[2019-02-27 18:06] bclau commented on #74134
Yep. It is a conformance test, so it would be nice to be able to cover it as well.

[2019-02-27 18:07] #68705 closed

[2019-02-27 18:14] dashpole commented on #74658
From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-beta/10143/artifacts/tmp-node-e2e-602b6e6f-ubuntu-gke-1604-xenial-v20170420-1-system.log

Feb 27 17:14:44 tmp-node-e2e-602b6e6f-ubuntu-gke-1604-xenial-v20170420-1 kubelet[2764]: F0227 17:14:44.837923    2764 server.go:266] failed to run Kubelet: failed to create kubelet: docker API version is older than 1.26.0

[2019-02-27 18:18] dashpole commented on #74658
`--node-args=--image-config-file=/workspace/test-infra/jobs/e2e_node/image-config-1-14.yaml`

Points to https://github.com/kubernetes/test-infra/blob/master/jobs/e2e_node/image-config-1-14.yaml#L6

Maybe we should bump that to `ubuntu-gke-1804-d1703-0-v20181113`, which is used in the main and serial configs.

[2019-02-27 18:20] jsturtevant commented on #73792
`--hard-eviction` is not implemented on windows but the values passed are subtracted from Capacity to calculate `node allocatable`.   Removing the `inodesFree` from configuration will resolve the logging issue above.  In aks-engine we choose to clear the `--hard-eviction` flag completely and rely on `--system-reserve` to adjust `node allocatable`.  There is more information on memory management fo

[2019-02-27 18:21] MrHohn commented on #74543
@rajansandeep @fturib I recalled that these jobs are actually running 1.13 tests against 1.14 cluster. The procedure for `gce-new-master-upgrade-master` is something like:
1. Create a cluster using HEAD (this is 1.14 now)
2. Run upgrade test which will upgrade the master (and some other sanity checks in parallel).
3. After the uprade test is done, run 1.13 tests against the upgraded cluster. **<-

[2019-02-27 18:22] Huang-Wei commented on #72226
@srinathkotu Expected symptom on "lost node" is that the pod running on that node would be showing as "Terminating" after `terminationSeconds`, and then a replacement pod will be created, and scheduled onto other available nodes if possible.

Yes, but it only modifies the "deletionTimestamp" of that pod, and needs another kubelet's signal to delete the API metadata (stored in etcd) totally. Unfort

[2019-02-27 18:23] yujuhong commented on #74412
We should unregister the pod once it has reached a terminated state.

[2019-02-27 18:26] MrHohn commented on #74543
Sorry messed up some numbers in previous comment, edited now.

[2019-02-27 18:27] Huang-Wei commented on #74670
`Service` only describes a mapping with target pods, using `spec.selector`. So pods are scheduled instead of service. And when you delete a service, the pods are not impacted at all.

I guess you're trying to ask how an application (e.g. Deployment, StatefulSet) is scheduled?

[2019-02-27 18:33] jingxu97 opened #74674 "Replace Get-GcePdName module in windows with native support using Get-Disk to return user-friendly GCE PD name"
**What would you like to be added**:
In current gce pd attacher code, we use a workaround with Get-GcePdName module to retrieve Pd name and its disk number. After native support of using Get-Disk is available, we should replace it.
**Why is this needed**:

[2019-02-27 18:34] ChiefAlexander commented on #74651
I also ran into this issue while testing setting the eviction timeout lower. After poking around at this for sometime I figured out that the cause is the new TaintBasedEvictions.

Setting the feature flag for this to false causes pods to be evicted like expected. I have not taken time to search through the taint based eviction code but I would guess that we are not utilizing this eviction timeout

[2019-02-27 18:37] mkornacker commented on #74670
I have a StatefulSet (containing one pod) that is scheduled onto specific
nodes using a node selector and taints/tolerations. The contained pod is
the target for the service, and I'm seeing these warnings when running
'kubectl describe svc ...'. The EC2 instances mentioned in these warnings
should not be running the target pod (taints/tolerations should prevent
that), so I'm wondering how those EC

[2019-02-27 18:45] fturib commented on #74543
I have several questions to clarify:
1- What is the upgrade happening here ? I mean: I understand the upgrade of code for kubelet, kube-proxy etc, but I would not think it change the CoreDNS deployment. (unless we use `kbeadm upgrade` process maybe ..)
2- if the cluster is now in v 1.14, why are we running the v1.13 tests instead of the v1.14 tests ?
3- if we backport the change in v1.13 ... these

[2019-02-27 18:46] ChiefAlexander commented on #74651
Looking into this more. With TaintBasedEvictions set to true you can set your pods eviction time within its spec under tolerations:
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/#taint-based-evictions
The default values of these are getting set by an admission controller: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/defaulttolerationseconds/adm

[2019-02-27 18:47] Huang-Wei commented on #74670
Oh this error is more related with sig-aws, I will let them comment.

BTW: from the description, it looks like EC2 loadbalancer needs your target instances to be running. If instances are not running, it's pointless to set forwarding/NAT rules to a black hole.

/remove sig-scheduling
/sig aws

[2019-02-27 18:47] Huang-Wei commented on #74670
/remove sig/scheduling

[2019-02-27 18:49] Huang-Wei commented on #74670
/remove-sig scheduling

[2019-02-27 18:49] dashpole commented on #74658
/reopen

whoops, lets wait for a green run

[2019-02-27 18:56] MrHohn commented on #74543
For this specific master upgrade job, upgrade means turning down the 1.13 master and bringing up a new 1.14 master with the downloaded k8s bundle. As coredns deployment is included in the bundle, it will be upgraded by the addon manager.

Not sure what the official answer would be, my quick thought is we are trying to ensure the old stuffs still work after upgrade. Note that we have a separate set

[2019-02-27 19:03] davidz627 commented on #72500
/cc

[2019-02-27 19:03] srinathkotu commented on #72226
@Huang-Wei Thank you for making is very clear.

Now my next crazy question: Is there any way(like a cronjob that can be run?) to remove these 'zombie/hanging' pods?

[2019-02-27 19:10] Huang-Wei commented on #72226
Theoretically yes, using a crontab or sth alike. I know that "terminating" pods looks untidy...

On the other hand, a long-time "terminating" pod can be read as a signal indicating the cluster met some glitch. So prior to getting them cleaned up, maybe it's worth hopping in and examining what's going on.

[2019-02-27 19:14] MrHohn commented on #74383
Given that this (`externalTrafficPolicy: Local` with nodeport) is broken in a somewhat fundamental way and there is no clear plan for fixing it at the moment, let's punt this out of 1.14 for now.

/milestone clear

[2019-02-27 19:21] mkornacker commented on #74670
I understand that the target instance needs to be running, but the
terminated instance shouldn't have been a scheduling target for the
pod to which the service is attached (due to taints/tolerations).

Is there some way to track why this particular instance was chosen?

On Wed, Feb 27, 2019 at 10:51 AM Wei Huang <notifications@github.com> wrote:

[2019-02-27 19:25] Huang-Wei commented on #74670
Nope. The (aws) cloudprovider manages how a LoadBalancer is created and implemented.

[2019-02-27 19:39] thockin opened #74677 "kube-proxy: have a URL that exposes iptables/ipvs/etc config"
**What would you like to be added**:

Debugging services often devolves into SSHing to nodes and running iptables or ipset or ipvs commands.  We should have a URL that shows the last written state of these things and maybe a rate-limited way of dynamically reading them.

**Why is this needed**:

Debugging is hard.

[2019-02-27 19:43] neolit123 commented on #74667
/sig node
/sig windows
(for tracking)

[2019-02-27 19:43] neolit123 commented on #74565
/sig auth
(?)

[2019-02-27 20:02] sboardwell commented on #24225
FWIW you can use `custom-columns` combined with the `--no-headers` flag, e.g.
[code]

[2019-02-27 20:05] thockin commented on #65928
/remove-lifecycle stale

On Tue, Feb 26, 2019 at 5:51 PM fejta-bot <notifications@github.com> wrote:

[2019-02-27 20:06] mkornacker commented on #74670
I was assuming that the error message
" Warning  CreatingLoadBalancerFailed  40m   service-controller  Error
creating load balancer (will retry): failed to ensure load balancer for
service .../...: InvalidInstance: EC2 instance i-017bcxxx is not in running
state"
came from a Kubernetes scheduling component.

Are you saying that the placement of this load balancer on a particular EC2
instance was d

[2019-02-27 20:21] jverce commented on #73810
Hello @itskarthikholla,

Can you provide information about your testing method? I wasn't able to reproduce your error.

Here's how I tested myself:

1. Resources file (`lb-echo.yml`):
[code]
2. Commands to spin up the container and load balancer:
[code]
3. Check out logs in container (note: stuff like `A.A.A.A` are actually IP addresses):
[code]
4. Removing line `service.beta.kubernetes.io/aws-loa

[2019-02-27 20:25] tburow opened #74679 "Roll ingress controller / API from Beta to version 1"
**What would you like to be added**:
I would like the Ingress controller API version moved out of beta.  This is a community issue that impacts other supporting opensource projects.

**Why is this needed**:
Opensource community projects such as terraform Kubernetes provider will not add features that support a beta interface.   ref issue: https://github.com/terraform-providers/terraform-provider-k

[2019-02-27 20:31] #68912 closed

[2019-02-27 20:44] srinathkotu commented on #72226
@Huang-Wei  So i am facing this scenario when the node running pods of a statefulset goes down, the pods go into a 'terminating' state **but** new pods don't get created on the remaining nodes. However when the node running pods of a deployment goes down, the pods go into a 'terminating' state **and** new pods get created for them just like you had mentioned in your previous comment.

The stateful

[2019-02-27 20:51] prameshj commented on #70707
Looks like the kubeadm PR has been closed and discussions moved to https://github.com/kubernetes/kubeadm/issues/1220
Will the changes be in the kubeadm repo @srueg ?
If yes, this won't depend on the code freeze.

[2019-02-27 20:56] Huang-Wei commented on #74670
Yes.

[2019-02-27 20:58] neolit123 commented on #70707
hi, on the kubeadm side we punted the discussion and implementation to a future cycle.
also we didn't get a response from the CoreDNS maintainers on what they think about this.

[2019-02-27 21:03] yujuhong commented on #74674
/assign @pjh
Peter, assigning this to you since this is blocked by the fix in GCE.

[2019-02-27 21:05] immuzz commented on #73327
I just tried it with and it works for me. I get 200.

[2019-02-27 21:06] jennybuckley opened #74681 "Reject requests with unsupported options"
Today, the apiserver accepts requests with options that are unknown to the server, we just throw those options away and continue with the request as if they hadn't been specified.

I think this decision made some sense, as we don't necessarily want to reject a request asking for pagination made to an old server that doesn't support pagination, but it has also caused issues for us when we wanted to

[2019-02-27 21:09] dashpole commented on #74658
runs are green now!
/close

[2019-02-27 21:10] chrisohaver commented on #70707
@neolit123, missed your first nudge.  Not sure what you mean by "how should we handle DaemonSet based DNS cache."

[2019-02-27 21:10] immuzz commented on #73327
/assign immuzz

[2019-02-27 21:11] immuzz commented on #73327
CC @PatrickLang @adelina-t I'm able to create a test for it which is passing successfully. I will be doing a PR shortly

[2019-02-27 21:16] justinsb commented on #68083
I think the problem is that the annotations were dropped.  From your second `kubectl get svc` output:

[code]

I agree this is a problem, but I think kubectl is the problem here.

/sig cli

[2019-02-27 21:19] LondonAppDev commented on #74679
Love kubernetes and thanks for all the work you do.

Commenting because this issue has been a major limitation for me for deploying to GCP using Terraform.

[2019-02-27 21:19] neolit123 commented on #70707
the proposal PR for kubeadm applied the cache as a DaemonSet:
https://github.com/kubernetes/kubernetes/pull/71642/files#diff-81c5511bc26ac9a2e5cdf87b9d5da921R368

[2019-02-27 21:24] tomkerkhove commented on #74607
That's what I was afraid of - Probably not even a Kubernetes-only list as well?

[2019-02-27 21:27] chrisohaver commented on #70707
Node local DNS is a valid approach in general, and using CoreDNS as the caching server in such a set up is a valid approach.

[2019-02-27 21:29] jonpulsifer commented on #67974
/remove-lifecycle stale

[2019-02-27 21:29] fturib commented on #74543
I agree with description of @MrHohn .
After diving in the infra-test

- k8s-stable1 : release-1.13
- using 2 extracts (the execution will happen in second one, unless the option "--skew" is provided. Which is not the case here.
      - --extract=ci/latest
      - --extract=ci/k8s-stable1

[code]

[2019-02-27 21:31] neolit123 commented on #70707
thank you.

[2019-02-27 21:33] fturib commented on #74543
@rajansandeep : can you confirm we can safely report the change of #74371 in the branch v1.13 (I think `health` was always available as an option of CoreDNS).

If yes, can you prepare a PR for that branch ?

[2019-02-27 21:39] rajansandeep commented on #74543
@fturib yes, the change of #74371 will fix the issues.
@MrHohn can you confirm that this needs to be cherry-picked for the v1.13 branch?

[2019-02-27 21:43] fturib commented on #74543
Another question: if we update in v1.13, will we have issues with the "upgrade" e2e tests that is running on that branch ? (I mean between v1.12 and v1.13) ?

[2019-02-27 21:50] fturib commented on #74543
My question is not correct.
There should not be impact on the ugprade test between v1.12 and v1.13 as the deployment of CoreDNS is not changed.

NOTE: there is a test in place to validate that upgrade: `ci-kubernetes-e2e-gce-stable1-beta-upgrade-master`

[2019-02-27 21:53] jennybuckley commented on #54709
/remove-lifecycle rotten
/lifecycle frozen

[2019-02-27 21:53] DirectXMan12 commented on #65097
cc @mwielgus ^

[2019-02-27 21:54] Huang-Wei commented on #72226
@srinathkotu you mean after "terminationSeconds", new replacement pod is still **not** created (a new pod stays in pending status doesn't count as "not created")? If it's the case, it's _likely_ an issue in statefulset.

I'd suggest to open an issue including detailed cluster info, like k8s version, statefulset spec, etc. So that folks in sig-apps can give an authoritative answer on this. (label t

[2019-02-27 21:57] MrHohn commented on #74543
@fturib Good question. I also can't think of any issue for that, given we have below upgrade/downgrade jobs for 1.13:
- Upgrade 1.12 -> 1.13, run 1.13 test
- Upgrade 1.12 -> 1.3, run 1.12 test
- Downgrade 1.13 -> 1.12, run 1.12 test

It should work fine as long as the change is compatible.

@rajansandeep Yes, let's cherrypick your fix to 1.13.

[2019-02-27 22:04] dchen1107 commented on #74412
We should patch K8s v1.12 to fix this regression.

[2019-02-27 22:11] zhouhaibing089 opened #74685 "dnsConfig rejects searches which have trailing period"
**What happened**:

When I create a pod with specified dnsConfig, the validation says my spec is invalid.

[code]

And the error is like below:

[code]

**What you expected to happen**:

The spec should be accepted as it is totally fine to have trailing period.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes ver

[2019-02-27 22:21] rajansandeep commented on #74543
@fturib @MrHohn, the fix is cherry-picked to release1.13 in https://github.com/kubernetes/kubernetes/pull/74687

[2019-02-27 22:50] 2PacIsAlive commented on #72270
might be related to https://github.com/kubernetes/kubernetes/issues/71071, if so v1.13.2 has the fix

[2019-02-27 22:57] valentin2105 commented on #74565
@WanLinghao  Yes, I mean inside the container, in /run/secret/kubernetes.io/token

[2019-02-27 23:54] #72290 closed

[2019-02-27 23:58] michellemcone commented on #73414
Opened PR for enabling custom DNS on Azure CNI: https://github.com/Azure/azure-container-networking/pull/305

[2019-02-28 00:41] srinathkotu opened #74689 "Statefulset pods not rescheduled when node is powered off"
**What happened**:
When node is powered off, statefulset pods go into terminating state but the pods don't get delete (which is the expected action according to @Huang-Wei in https://github.com/kubernetes/kubernetes/issues/72226) and those pods don't get rescheduled on another ready node.
**What you expected to happen**:
When node is powered off, the pods of a statefulset should be reschedule to a

[2019-02-28 00:55] nikopen commented on #74661
/milestone v1.14

[2019-02-28 01:10] srinathkotu commented on #74689
/sig apps

[2019-02-28 01:29] justinsb commented on #74567
Right @mariantalla - I would differentiate between the tests and the job.  There is a job failure in 1286 where it timed out (so I'll look at that one, but it's not exactly the dominant factor here!).

Then it looks like sig-storage and sig-network have flaking tests; sig-network is https://github.com/kubernetes/kubernetes/issues/71423 and sig-storage is https://github.com/kubernetes/kubernetes/is

[2019-02-28 01:31] justinsb commented on #74567
And looking at 1286, it looks like the timeout is within the reasonable variance of test runs, so I'm going to say we should fix the tests first.

[2019-02-28 01:33] nikopen commented on #74516
/remove-kind failing-test
/close

Please open a "Bug Report" - 'failing tests' are for upstream-CI.

[2019-02-28 01:33] #74516 closed

[2019-02-28 01:33] nikopen commented on #74515
/remove-kind failing-test
/close

Please open a "Bug Report" - 'failing tests' are for upstream-CI.

[2019-02-28 01:33] #74515 closed

[2019-02-28 01:42] sylhero commented on #57801
anything after
[code]
has errors for example:
[code]

[2019-02-28 02:01] jverce commented on #73810
BTW my ELB description looks very similar to yours:
[code]

[2019-02-28 02:09] alejandrox1 commented on #71423
More recent failures: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/1288

**Logs**:
[code]

[2019-02-28 02:11] #74670 closed

[2019-02-28 02:20] alejandrox1 commented on #74658
/reopen

BeforeSuite* jobs haven't completely clear out, need more time to run and see

[2019-02-28 02:23] mkornacker opened #74694 "Error creating load balancer"
**What happened**:

While creating a service, I'm seeing error messages like the following. This takes about 3 minutes to resolve itself.

 Warning  CreatingLoadBalancerFailed  40m   service-controller  Error creating load balancer (will retry): failed to ensure load balancer for service .../...: InvalidInstance: EC2 instance i-017bcxxx is not in running state.
           status code: 400, request

[2019-02-28 02:23] mkornacker commented on #74694
/sig aws

[2019-02-28 02:28] liucimin commented on #74651
// Controller will not proactively sync node health, but will monitor node
	// health signal updated from kubelet. There are 2 kinds of node healthiness
	// signals: NodeStatus and NodeLease. NodeLease signal is generated only when
	// NodeLease feature is enabled. If it doesn't receive update for this amount
	// of time, it will start posting "NodeReady==ConditionUnknown". The amount of
	// time

[2019-02-28 03:33] AlanCarl commented on #60789
+1 on this, exact same situation as @james-masson. In our project. we have no need for name consistency, persistent data or anything else - just valid DNS. Is there a good reason PR #61033 got abandoned?

[2019-02-28 03:34] WanLinghao commented on #74565
@valentin2105 I didn't find v1.13.3 branch.

[2019-02-28 03:37] AlanCarl commented on #63462
How can you fix this?
In our project. we have no need for name consistency, persistent data or anything else - just valid DNS.
Same issue can be found in #60789, but it's still unsolved.

[2019-02-28 03:40] alejandrox1 commented on #74474
Closing this, the test cleared out.
/close

[2019-02-28 03:40] #74474 closed

[2019-02-28 03:45] alejandrox1 commented on #74380
/priority critical-urgent

[2019-02-28 03:47] alejandrox1 commented on #74543
/remove-priority important-soon
/priority critical-urgent

[2019-02-28 03:49] alejandrox1 commented on #74546
/remove-priority important-soon
/priority critical-urgent

[2019-02-28 03:49] alejandrox1 commented on #74658
/remove-priority important-soon
/priority critical-urgent

[2019-02-28 03:50] alejandrox1 commented on #74657
/remove-priority important-soon
/priority critical-urgent

[2019-02-28 03:51] alejandrox1 commented on #74626
/remove-priority important-soon
/priority critical-urgent

[2019-02-28 03:53] anikammsft opened #74696 "Enable hostname override setting in v1.PodSpec to work with StatefulSets"
This is being filed as a follow up to [bug report 74564](https://github.com/kubernetes/kubernetes/issues/74564).

Kubernetes v1.PodSpec currently allows users to specify a hostname setting. This setting takes effect on ReplicaSets and Deployments, however, it does not work on StatefulSets.

Users can have special needs on hostnames that cannot be accommodated in the names of StatefulSets.
One exam

[2019-02-28 03:57] anikammsft commented on #74564
Thank you, Joseph! I have filed [feature request 74696](https://github.com/kubernetes/kubernetes/issues/74696).

[2019-02-28 04:12] alejandrox1 opened #74699 "[Failing Test] node leases tests failing in release-1.14-all:gke-cos-1.14-default"
**Which jobs are failing**:
[https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.14-default](https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.14-default)

**Which test(s) are failing**:
* `[k8s.io] NodeLease when the NodeLease feature is enabled the kubelet should create and update a lease in the kube-node-lease namespace`
* `[k8s.io] NodeLease when the NodeLease feature is enabled the ku

[2019-02-28 04:29] cofyc commented on #74650
/assign

[2019-02-28 04:31] alejandrox1 commented on #74626
This seems to also present in [sig-release-1.14-all#gke-cos-1.14-default](https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.14-default).

[2019-02-28 04:34] alejandrox1 opened #74701 "[Failing Test] NodeLease deletion failing in sig-release-1.14-all:gke-cos-1.14-serial"
**Which jobs are failing**:
[sig-release-1.14-all#gke-cos-1.14-serial](https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.14-serial)

**Which test(s) are failing**:
[[sig-cluster-lifecycle] [Disruptive]NodeLease NodeLease deletion node lease should be deleted when corresponding node is deleted](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cos-k8sbeta-serial/2066)

[2019-02-28 05:26] WanLinghao commented on #48787
/open

[2019-02-28 05:28] WanLinghao commented on #48787
/reopen

[2019-02-28 05:34] WanLinghao commented on #48787
Hi, all
Found this issue and this is exactly what we want. We need this feature based on following user case:
When a failure occurs to an app on a container,for example, in really late night.  The owner
of the app needs to investigate the root cause of the problem, but if the operator is off-duty
around the time, there's nothing the app owner can do.  Meaning, app problems depend on the
operator,

[2019-02-28 05:40] WanLinghao commented on #48787
@luxas @vishh  I think this could be a common feature that would be appreciated by many users.
Are there any chances that this feature be part of core?

[2019-02-28 06:04] WanLinghao commented on #74656
@liggitt  Should we add `escalate` verb to admin ClusterRole?

[2019-02-28 06:19] michmike commented on #74134
@thockin  any chance you push the nanoserver manifest to the authenticated-image-pulling registry as well?

thanks for all your help! once you do the above, we can lose this issue

[2019-02-28 06:23] liggitt commented on #74656
The resource name should be `jobs`, not `job`

No, namespaced admins are not intended to be super users within their namespace. Things like resourcequota are still only granted to cluster admins by default

/close

[2019-02-28 06:23] #74656 closed

[2019-02-28 06:59] huisebug opened #74704 "HPA can't get memory usage, CPU can get it"
My metrics-server is working well, and kubectl top node and kubectl top pod are also working well.

This is my metrics-server deployment file address.：https://raw.githubusercontent.com/huisebug/k8s1.12-Ecosphere/master/Metrics-server1.12/Metrics-server1.12.yaml

$ kubectl get --raw "/apis/metrics.k8s.io/v1beta1/pods" | jq .
![image](https://user-images.githubusercontent.com/27762438/53479162-633cd

[2019-02-28 07:01] andreipetrescu95 opened #74706 "Getting System OOM when pods are evicted"
**What happened**:

I wanted to test how Kubelet reserved resources work, so I created a cluster with 2 8GB worker nodes on vSphere VMs. I tested this capability using the YAML presented in this video at the 14:46 mark:

https://www.youtube.com/watch?v=fNk0pjvQqNM

After getting my pods restarted, I went on to check the events and the only type of OOM I saw was a System OOM, but the node was in th

[2019-02-28 07:01] ckashok123 commented on #60134
One of the configured repositories failed (Kubernetes),
 and yum doesn't have enough cached data to continue. At this point the only
 safe thing yum can do is fail. There are a few ways to work "fix" this:

     1. Contact the upstream for the repository and get them to fix the problem.

     2. Reconfigure the baseurl/etc. for the repository, to point to a working
        upstream. This is most o

[2019-02-28 07:04] huisebug commented on #74704
I can't find a solution to this problem. Please help me solve it quickly. @freeformz

[2019-02-28 07:05] andreipetrescu95 commented on #74706
/sig node

[2019-02-28 07:06] yld2019 commented on #74651
The pod-eviction-timeout took effects after set the TaintBasedEvictions to false. (- --feature-gates=TaintBasedEvictions=false)
So the new feature TaintBasedEvictions has broken the legacy functionality of pod eviction?

Example:
--feature-gates=TaintBasedEvictions=false
--pod-eviction-timeout=1s

[2019-02-28 07:09] jianglingxia commented on #74640
@jsafrane can you review this issue ?thanks

[2019-02-28 07:11] snowplayfire opened #74707 "Current trace logs are not readable"
**What would you like to be added**:
I found an unfriendly problem of current trace package. The phenomenon is stepDuration and stepMsg are not consistent. Maybe it is by-design or it is a bug.

The path of the trace package is "/vendor/k8s.io/apiserver/pkg/util/trace".

I will take `kube-scheduler` for example to describe the problem. When the scheduler is scheduling a pod, we can find its corres

[2019-02-28 07:17] snowplayfire commented on #74707
/sig api-machinery

[2019-02-28 07:27] valentin2105 commented on #74565
@WanLinghao  The ls -alh need to be made on ../data/token , because here it's just a symlink.

[2019-02-28 07:44] emacsliu opened #74710 "kubectl delete pods failed"
**What happened**: When I used `kubectl delete pods xxx`, I found it could not be deleted. Then I described it with `kubectl describe pod`, it showed:
![333](https://user-images.githubusercontent.com/46805380/53549324-e111eb00-3b6e-11e9-958d-1935c8a1a035.jpg)

I had three same pods, named `mysql-node1`, `mysql-node2` and `mysql-node3`, only mysql-node1 failed to delete.
![222](https://user-images.

[2019-02-28 07:46] darthchudi commented on #72150
@jungopro
Same here too, please I'd like to know how you resolved this?

[2019-02-28 07:49] danielloczi commented on #74651
Thanks for your feedback ChiefAlexander!
That is the situation, you wrote. I checked the pods, and sure there are the default values assigned to pod for toleration:
[code]

So I just simply added my own values to the deployment:
[code]

After applying the deployment in case of node failure, node status changes to "NotReady", then pods re-created after 2 seconds.

So we don't have to deal with pod-

[2019-02-28 07:49] #74651 closed

[2019-02-28 07:52] feiskyer commented on #74463
Thanks of reporting the issue, would file a PR to fix this.

[2019-02-28 07:59] feiskyer commented on #74101
Thanks for everyone's inputs, the perf counter way looks better.

[2019-02-28 08:42] huisebug commented on #74704
I replaced the k8s version with 1.11.3 to show the memory information. My service parameters have not changed. I just replaced the binary programs of kube-apiserver, kube-controller-manager, kube-scheduler, kubectl, kube-proxy, kubelet. During the period I tried k8s1.12.4 and k8s1.13.3, so I think this is a serious bug, which can correct my mistakes.
![image](https://user-images.githubusercontent.

[2019-02-28 08:51] andyzhangx opened #74714 "cannot access Azure Container Registry public repo"
**What happened**:
Currently we cannot pull image from Azure Container Registry repo which provides anonymous pull access since when do image pull, it will always use service pincipal for * .azurecr. *

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version

[2019-02-28 08:52] mgdevstack commented on #73328
@keremgocen  What kind of modifications are required to run [this](https://github.com/kubernetes/kubernetes/issues/73328#issuecomment-460689175) e2e in [Windows].
TestName:
`[sig-network] DNS should provide DNS for ExternalName services`

I'm in process to promote DNS based e2e from `e2e/network/dns.go` into Conformance suite.

[2019-02-28 09:02] hkailantzis commented on #72150
@jungopro same here. with AKS 1.11.7. anyone managed to solve this ?

[2019-02-28 09:15] huisebug commented on #74704
I tested k8s1.12.6 (release date is February 26), it can also successfully access memory information, and k8s1.13.3 was released around February 1, so it should be fixed, I hope this problem can be seen by more people.

[2019-02-28 09:21] Joseph-Irving commented on #74696
@kubernetes/sig-apps-feature-requests

[2019-02-28 09:22] #68997 closed

[2019-02-28 09:25] mborsz commented on #70287
/remove-lifecycle stale

[2019-02-28 09:47] gertvdijk commented on #73172
@redbaron
I'm confused with this issue. As it currently states, you're reporting that it's an _issue_ that it does follow redirects, but #47893 reports that it doesn't. Was it a typo or are you seeing something different?

Also you request/expect to have a 301/302 to be successful, but that implies it does not have to follow any redirect and that it should report a successful probe even if followi

[2019-02-28 09:50] gmarek commented on #74600
To be fair - etcd returning 5xx for 'too large request' is also wrong.

[2019-02-28 09:52] liaolinrong opened #74718 "apiserver pod exist when first etcd node is down in externel etcd cluster"
**What happened**:
I deploy a kubernetes cluster with kubeadm，use  external etcd cluster.
When first etcd node in the etcd cluster is down，apiserver pod exit.

**What you expected to happen**:
apiserver pod does not exit when first etcd node in the etcd cluster is down

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a 3 node etcd cluster.
Deploy kubernetes cluster use kub

[2019-02-28 10:00] iamakulov commented on #73172
I’d reply instead of @redbaron here:

[2019-02-28 10:03] gertvdijk commented on #73172
Yeah, that's what I found too, so his expectation

is not based on documentation, hence my question where he got that information from.

[2019-02-28 10:05] alvgarvilla commented on #74656
Thanks @liggitt , "job" instead of "jobs" was a typo when copying here. Changing the apiGroup to batch worked as expected, thanks again. However, even I can get the the permissions assigned to each role running `kubectl get clusterrole <role_name> -o yaml`, I think it would be a good idea documenting the permissions of the roles created by Kubernetes.

[2019-02-28 10:20] mkumatag commented on #73365
I see some discussion about building cadvisor in arm in https://github.com/google/cadvisor/issues/1236 but I don't see any further progress on it. @luxas are you aware of anyone try building this on non-amd64 platform?

[2019-02-28 13:18] fturib commented on #74543
@alejandrox1 , @smourapina : i see the label "urgent". The fix is to have the PR #74687 merged.
Can you have v1.13 release people go ahead with its merge process ?

[2019-02-28 13:30] michmike commented on #74101
that's awesome to hear Pengfei! Will you have a PR ready for this soon?

[2019-02-28 13:41] bclau commented on #73328
HI @mgdevstack. I am also looking into that test, as it is a bit flaky on Windows. My recommendation would be to increase the retry period / number of retries for the dig command.

[2019-02-28 14:06] mgdevstack commented on #73425
Analyzed e2e from `test/e2e/networking/dns.go` and needs clarity on promoting existing e2e to Conformance suite keeping in mind windows support.

Tracking Issue: https://github.com/kubernetes/kubernetes/pull/70156

Tracking Issue: https://github.com/kubernetes/kubernetes/pull/70156

Tracking Issue: https://github.com/kubernetes/kubernetes/issues/73414 , https://github.com/Azure/azure-container-net

[2019-02-28 14:07] mgdevstack commented on #73425
cc @bclau

[2019-02-28 14:12] mariantalla commented on #71434
Still relevant (wish it wasn't)
/remove-lifecycle stale

[2019-02-28 14:13] bswartz commented on #74640
I see a bug here. If the iscsi modules haven't even been loaded yet, the /sys/class/iscsi_host directory won't exist. In this case it's better to return an empty map rather than an error.

[2019-02-28 14:16] mgdevstack commented on #73328
Thanks for pointing its Flaky behavior on Windows. I'm in process to setup k8s cluster in Windows env and then troubleshoot.

[2019-02-28 14:28] mariantalla opened #74724 "[Failing test] [sig-storage] CSI mock volume CSI workload information using mock driver [Feature:CSIDriverRegistry] should not be passed when CSIDriver does not exist - test timing out"
**Which jobs are failing**:
`ci-kubernetes-e2e-gci-gce-alpha-features` in [sig-release-master-blocking#gce-cos-master-alpha-features](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features)

**Which test(s) are failing**:
`[sig-storage] CSI mock volume CSI workload information using mock driver [Feature:CSIDriverRegistry] should not be passed when CSIDriver does not exis

[2019-02-28 14:51] johnSchnake opened #74727 "kube-conformance should support dryRun option"
**What would you like to be added**:
The kube-conformance image should support setting the dryRun option just like focus/skip.

**Why is this needed**:
This is a very commonly requested feature in Sonobuoy since users often are setting up/experimenting with runs and want to check what a certain regexp will hit without actually running it.

Change will be here:
https://github.com/kubernetes/kuberne

[2019-02-28 14:57] dims commented on #74727
+1 !!

[2019-02-28 14:57] vharsh opened #74728 "Kubelet uses up a lot of memory and can make the node unavailable when an "iscsiadm discovery" command is running forever on mounting a volume to in a pod"
**What happened**:

High-level overview:
1. Kubelet tried mounting an iSCSI volume, which was to be discovered by running an external command(`iscsiadm discovery ...`).
2. To get the status of the command, it's combined output(stdout&stderr) was getting captured by the kubelet process.

Detailed overview:

- Kubelet runs some commands with `exec.Run()`, which continues to run until the command exi

[2019-02-28 14:58] vharsh commented on #74728
/sig storage /sig node /sig cloud-provider

[2019-02-28 14:59] anan-lee opened #74729 "get priorityclasses.scheduling.k8s.io system-node-critical"
**What happened**:
Kube-apiserver kept rebooting when I set up a new cluster.

**What you expected to happen**:
the Fatal log:
Feb 28 22:49:48  kube-apiserver: F0228 22:49:48.523563    9384 hooks.go:188] PostStartHook "scheduling/bootstrap-system-priority-classes" failed: unable to add default system priority classes: the server was unable to return a response in the time allotted, but may still b

[2019-02-28 15:00] slashr commented on #59888
I'm facing this problem too. Tried increasing and decreasing the number of "Max replicas" but to no avail.

[2019-02-28 15:17] davidxia opened #74732 "Is it intentional that a Pod with readinessProbe that's continuously erroring will still have Ready = True?"
**What happened**:

tl;dr: Only probes that fail will actually cause the pod's ready state to be changed. Is it intentional that a Pod with readinessProbe that's continuously erroring will still have `Ready = True`?

A probe by the kubelet can end in one of three states:

- successful
- failed (command returned a non-0 exit code)
- errored (command did not return before the timeout elapsed, the co

[2019-02-28 15:20] davidxia commented on #74732
/sgi apps

[2019-02-28 15:21] davidxia commented on #74732
cc @mattnworb @tommyulfsparre

[2019-02-28 15:22] davidxia commented on #74732
/sig apps

[2019-02-28 15:37] soltysh commented on #66572
/reopen
/assign
This is still a thing.

[2019-02-28 15:37] soltysh commented on #66572
/remove lifecycle/rotten

[2019-02-28 15:38] mariantalla commented on #74543
Thanks @fturib / @MrHohn ! We'll keep an eye on https://github.com/kubernetes/kubernetes/pull/74687.

A couple more question to make sure I got it right: it sounds like 1.13 clusters have no `health` plugin for CoreDNS, and no readiness probes. 1.14 clusters have both.
- What are the assertions made in the 1.13 versions of the tests? They sound less strict than the ones in `master` (that are about

[2019-02-28 15:40] marshallford commented on #70147
/remove-lifecycle stale

[2019-02-28 15:54] shay-berman commented on #65392
Hi @yastij, how this issue going to be solved in 1.15?   by having new fencing mechanism or by just manually tag the taint for eviction?

Thanks

[2019-02-28 16:20] falken commented on #50898
@leakingtapan I could probably get by with using a storage class annotation. I think the PVC annotation idea comes from trying to be consistent with the ELB annotations. But I could make it work.

@msau42 My use case:

My clients corporate cloud management group requires that all items be tagged with two tags I.E. "component" and "Name". These tags are then mapped inside their system to specific p

[2019-02-28 16:41] #74727 closed

[2019-02-28 16:46] mkornacker commented on #74694
The problem seems to be that the load balancer has *all* EC2 instances that are part of the Kubernetes cluster registered for it. The error is caused by some instances that are part of this cluster being terminated while the load balancer is being created.

In my particular scenario, the pod for which I'm creating a load balancer is confined (via taints/tolerations) to a specific set of nodes, and

[2019-02-28 16:49] mikedanese commented on #74309
More coverage is always good, but I'd prefer integration tests over e2e tests.

[2019-02-28 16:54] mm4tt commented on #73461
Recent flakiness is caused by bug in the prometheus stack set-up, should be fixed by https://github.com/kubernetes/perf-tests/pull/439

[2019-02-28 16:57] mikedanese commented on #74565
Do you have alpha features enabled?

[2019-02-28 16:58] mikedanese commented on #67440
This is done, we just need to do the rollout.

[2019-02-28 16:58] #67440 closed

[2019-02-28 16:59] mikedanese commented on #70679
Eh, I don't know why I said that.

[2019-02-28 17:25] Sicaine commented on #60807
I have the same issue but i don't see any metrics-service.

I'm playing around with k8s from digitalocean and gitlab auto devops. My assumption is some digitalocean blob storage but i'm lost on how to analyse or fix it.

[2019-02-28 17:30] #65658 closed

[2019-02-28 17:32] spiffxp commented on #74482
/remove-kind failing-test

[2019-02-28 17:33] spiffxp commented on #74150
/priority important-soon
not on release-blocking dashboard

[2019-02-28 17:39] spiffxp commented on #74482
What are the names of the tests flaking exactly?

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=SELinux&show-stale-tests=

I'm seeing barely any runs here, have these tests landed yet?

[2019-02-28 17:39] spiffxp commented on #74482
/priority important-soon
I can't yet tell if this is release-blocking or not

[2019-02-28 17:42] spiffxp commented on #73461
/remove-kind failing-test
I can't type.  Failing test is reserved for tests that continually fail.

Thanks for punting out of the milestone

[2019-02-28 17:44] spiffxp commented on #73111
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Guestbook%20application%20should%20create%20and%20stop%20a%20working%20application#%7Bid%7D

Couldn't find the existing cluster.

[2019-02-28 17:50] jeremyeder commented on #73954
Hi @ahadas - I sent some emails connecting dots on these.  You're on them.

[2019-02-28 17:54] dashpole commented on #74658
@alejandrox1 can you point me at the failing BeforeSuite?  The one referenced in the issue description has been green for ~20 runs in a row now...

/assign

[2019-02-28 18:28] alejandrox1 commented on #74658
I'm sorry @dashpole, I checked it out in testgrid last night and it didn't show any green runs for me. SO issue on my end.
Thank you for following up on this!
/close

[2019-02-28 18:28] #74658 closed

[2019-02-28 18:31] ixdy commented on #73507
/assign @listx

[2019-02-28 18:52] BenTheElder opened #74740 "Was the new [WindowsOnly] tag approved?"
There is now a `[WindowsOnly]` test tag from https://github.com/kubernetes/kubernetes/pull/72777

I remember a `[LinuxOnly]` tag being approved in SIG Architecture and SIG Testing, but I don't remember a `[WindowsOnly]` tag.

If this was approved I think we need to broadcast it more widely as many existing test setups including  current conformance testing appear to now need to skip / exclude this

[2019-02-28 18:53] dims commented on #74740
/assign @bgrant0607

[2019-02-28 18:53] BenTheElder commented on #74740
@kubernetes/cncf-conformance-wg

bug may not be the appropriate type, but seemed like the closest issue template to start from initially.

[2019-02-28 18:54] dcvtruong opened #74741 "Kubernetes CronJob pods is not getting clean-up when Job is completed"
sig/apps

**What happened**:
I've created a CronJob with setting failedJobsHistoryLimit at 1 and successfulJobsHistoryLimit at 3. The pod spawned from the jobs is finished with status 'Completed' but not getting deleted from each scheduling so the number of Pods in the k8s cluster keeps increasing.
**What you expected to happen**:
The pods spawned from the cronjob should get cleanup after the job

[2019-02-28 18:58] timothysc commented on #74740
TL;DR nope, that was not something that I'm aware of.

[2019-02-28 18:58] jchauncey commented on #74740
cc @PatrickLang

[2019-02-28 19:17] smourapina opened #74742 "[Failing Test] EmptyDir, CSI and Subpath Atomic writer volumes tests failing in release-1.14-blocking:gke-cos-1.14-default"
**Which jobs are failing**:
https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-default

**Which test(s) are failing**:
- `[sig-storage] EmptyDir volumes pod should support shared volumes between containers`
- `[sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should verify container cannot write to subpath readonly volumes `
- `[sig-stor

[2019-02-28 19:21] craiglpeters commented on #74740
The email thread is in [kubernetes-sig-testing](https://groups.google.com/forum/#!search/%5BWindowsOnly%5D$20kubernetes/kubernetes-sig-testing/ii5584-Tkqk/R2VEmjkgEAAJ)

[2019-02-28 19:32] #69220 closed

[2019-02-28 19:47] BenTheElder commented on #74740
the [last message](https://groups.google.com/d/msg/kubernetes-sig-testing/ii5584-Tkqk/-86aO7t5FQAJ) in that thread says:

That's not the case here.

[2019-02-28 19:51] #74380 closed

[2019-02-28 19:53] brusMX commented on #73332
@jingxu97 just tested this scenario on kubernetes `v1.14.0-alpha.2` and it seems to be working properly now.
I have created the following `pv.yaml`:

[code]

And in the pod I get the following pod description:

[code]

Which seems to be the right behavior.  I also tried `\noexists` and other stuff.

[2019-02-28 19:54] brusMX commented on #73332
Maybe we can close this issue now @andyzhangx @PatrickLang @jsturtevant

[2019-02-28 20:03] smourapina opened #74745 "[Flaky test] Advanced Audit tests are flaky in 1.14-blocking"
**Which jobs are flaking**:
https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-default

**Which test(s) are flaking**:
- `[sig-auth] Advanced Audit [DisabledForLargeClusters] should audit API calls to create, get, update, patch, delete, list, watch secrets.`
- `[sig-auth] Advanced Audit [DisabledForLargeClusters] should audit API calls to create, get, update, patch, delete, list, watch

[2019-02-28 20:04] exodussystem commented on #38923
This is very useful detail explanations.

I installed Kubernetes 1.13.2 with Kubespray

For the first part (Volume Provisioning), kubespray deployment uses /external-storage/rbd-provisioner container. So it works fine. I checked the logs and Ceph created the volume ok

In the second part (Volume Attach/Detach), it failed because rbd binary was not found.

My kubelet is running on CoreOS host (not

[2019-02-28 20:13] dims commented on #74740
@craiglpeters we should file a PR marked 1.14 and `/hold` to yank that tag, just so we don't forget. Of course if the decision changes in the email thread, we can revisit the PR. ok?

[2019-02-28 20:16] craiglpeters commented on #74740
@dims makes sense to me

[2019-02-28 20:23] smourapina commented on #74742
/milestone v1.14

[2019-02-28 20:27] bgrant0607 commented on #74740
Catching up. Quick comment before I read the threads:

Documented kinds of tests are currently here:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#kinds-of-tests

WindowsOnly had been hypothesized, but not yet added to that list.

[2019-02-28 20:28] bgrant0607 commented on #74740
Also, are there already tests tagged as SIG Windows?

[2019-02-28 20:31] smourapina commented on #74742
Should work now:
/milestone v1.14

[2019-02-28 20:31] smourapina commented on #74745
/milestone v1.14

[2019-02-28 20:32] ixdy commented on #39696
x-ref continued discussion in https://github.com/kubernetes/kubernetes/issues/70249.

[2019-02-28 20:33] #68891 closed

[2019-02-28 20:34] bgrant0607 commented on #74740
On conformance tests:

Windows isn't part of conformance yet, so no conformance test should have this tag.

And no conformance test should contain any Skip directives. They should die in that case:
https://github.com/kubernetes/kubernetes/issues/74432

[2019-02-28 20:46] bgrant0607 commented on #74740
I looked at #72777 and don't understand why the Windows image test wasn't written as a separate test. To avoid either refactoring or copy/pasting? It looks like a pretty obscure approach -- auto-skipping individual test cases that contain a particular tag?

[2019-02-28 20:53] krzysied commented on #73519
@spiffxp The current status of this issue is that this is somehow fixed - it's working, the tests are passing, however metric we are using is mark as deprecated. We are introducing changes to testing framework (clusterlaoder2) so it will be using different metric.
IMHO, It's not a problem (or blocker) for 1.14.

[2019-02-28 20:53] bclau commented on #74740
@bgrant0607 Pretty much. But it is no longer the case, since all those "should pull image from X" test cases have been refactored. (look at https://github.com/kubernetes/kubernetes/pull/74655 to see how it looks now)

[2019-02-28 21:02] rajansandeep commented on #74543
@mariantalla I'm not entirely clear on your questions. I've tried to answer as I've understood.

  In other words, why are tests not depending on `health` fail when `health` is present?

After making the changes in #74137 to include `readinessProbe`, CoreDNS requires the `health` plugin to report that it is healthy, otherwise the CoreDNS pods gets killed. The DNS e2e tests did not include the `hea

[2019-02-28 21:04] liggitt commented on #74412
to summarize:

There are two mitigations with current 1.12/1.13 versions:
* start the apiserver with a higher `--http2-max-streams-per-connection` setting
* start the kubelet with a config file that switches back to the pre-1.12 secret/configmap lookup method: `configMapAndSecretChangeDetectionStrategy: "Cache"`

There are two actual bugs to be fixed:
* kubelet not cleaning up watches for secrets/

[2019-02-28 21:11] dimm0 commented on #69799
We've accidentally got one node in the cluster with SELinux in permissive mode, and it was giving the error:

[code]

Which tells me SELinux relabelling is still not off. Latest rook, recommended settings are set.

[2019-02-28 21:16] roycaihw commented on #74560
/assign

[2019-02-28 21:16] alexvicegrab commented on #44272
U stale, I still care

[2019-02-28 21:16] roycaihw commented on #74600
cc @jpbetz

[2019-02-28 21:21] roycaihw commented on #74707
/assign @wenjiaswe

[2019-02-28 21:21] liggitt commented on #74412
One or both of those settings changes could be backported to 1.12/1.13 as a defaults change

[2019-02-28 21:34] #69226 closed

[2019-02-28 21:37] fturib commented on #74543
It is not needed this time - the update tests is expected to run on any versions.
But may be useful in the future.

[2019-02-28 21:42] michmike commented on #74218
My goal should be if microsoft can create the pause image and push it to mcr.microsoft.com. then we cna do a manifest push on gcr.io for tests to consume it.
/assign @craiglpeters

[2019-02-28 21:43] wenjiaswe commented on #74707
@snowplayfire I am not familiar with the scheduling source code, like the example you gave, would you mind explaining how do you know which duration is from which step to start?
cc scheduling expert @bsalamat  as well.

[2019-02-28 21:48] valentin2105 commented on #74565
Hi @mikedanese ,

Thanks I think it's my issue because I use `AllAlpha=true` on my api-server.
What's the way to disable only **TokenRequestProjection** ?
Thank you.

[2019-02-28 21:49] bgrant0607 commented on #74740
@bclau Yes, that's better, thanks.

To answer my own question regarding `[sig-windows]`, here's an example:

https://github.com/kubernetes/kubernetes/blob/f7eb5769c2dc4bc701802da639451d0f6cd56a18/test/e2e/windows/networking.go#L29

which also invokes `framework.SkipUnlessNodeOSDistroIs("windows")` inside the test.

So we're agreed that we don't need `[WindowsOnly]` yet?

[2019-02-28 22:07] wongma7 commented on #74545
For "Multiple pods requesting same block volume" and "Multiple pods: one requests filesystem and one requests raw block for the same volume", do we want to try in these tests deleting one pod to make sure that it does not cause problems for the other? That would basically be a test against the kubelet actualstateofworld, because kubelet should not call UnmountDevice at all as there is still >0 pod

[2019-02-28 22:15] rstrazza commented on #56371
I found something slightly related to this topic from the Security standpoint. We created the internal load balancer to access ES within the same VPC as the GKE cluster:

[code]

It created the Service ILB as expected:

[code]

ILB works well within the VPC and communication works as expected.

**The problem (maybe I'm missing a basic step in the setup process?):**

1. Go to the GKE Service and id

[2019-02-28 22:15] neolit123 commented on #70489
/close
RPMs were fixed here:
https://github.com/kubernetes/release/pull/658

[2019-02-28 22:15] #70489 closed

[2019-02-28 22:25] gnufied opened #74753 "Remove node capability checks from volume plugin code"
Does this do anything? With CSI I think node capabilities check is getting less and less useful.

/sig storage

cc @msau42 @jsafrane

[2019-02-28 22:39] neolit123 commented on #74740
https://github.com/kubernetes/kubernetes/pull/74655
now removes all instances of the [WindowsOnly] tag.

[2019-02-28 22:42] spiffxp commented on #73519
/milestone clear

[2019-02-28 22:42] luckyfengyong commented on #73307
@subramanian-neelakantan Our test is done based on comments of https://github.com/kubernetes/kubernetes/issues/73307#issuecomment-460523632.

Please feel free to close it.

[2019-02-28 22:49] bsalamat commented on #68827
Implementing this feature is relatively easy, but it has a potential for abuse. A user may create pods with anti-affinity to all namespaces preventing other users' pods from getting scheduled. One may argue that a similar abuse potential exists today if someone puts many anti-affinity terms in their pod spec and list many namespaces in these anti-affinity terms. That's a valid argument, but adding

[2019-02-28 22:50] bsalamat commented on #68827
/remove-lifecycle rotten
/lifecycle frozen

[2019-02-28 22:53] thockin commented on #74134
Try "gcr.io/authenticated-image-pulling/windows-nanoserver:v1"

[2019-02-28 22:54] mkornacker commented on #74694
This is the sequence of EC2 api calls. It took >7 minutes to create this load balancer.

2019-02-27, 08:55:49 AM CreateLoadBalancer
2019-02-27, 08:55:50 AM RegisterInstancesWithLoadBalancer: InvalidEndPointException
2019-02-27, 08:56:18 AM RegisterInstancesWithLoadBalancer
2019-02-27, 08:57:48 AM ModifyLoadBalancerAttributes
2019-02-27, 08:57:48 AM DeleteLoadBalancerListeners
019-02-27, 08:57:48 A

[2019-02-28 23:00] bsalamat commented on #71541
/remove-lifecycle stale
/help-wanted

[2019-02-28 23:24] michmike commented on #74541
@aserdean  do you know if other CNIs will have an issue similar to this?

[2019-02-28 23:26] bsalamat commented on #74132
@k82cn I generally do not recommend using internal data structures/functions of the scheduler in other components as a library. This applies to other similar code that is not part of the scheduler API. We cannot guarantee backward compatibility of such internal structures as we develop the scheduler.

[2019-02-28 23:26] michmike commented on #74541
cc: daschott for possible impact to Flannel

[2019-02-28 23:47] janetkuo commented on #68623
This is done.

[2019-02-28 23:47] #68623 closed

[2019-02-28 23:49] michmike commented on #73332
closing this at the recommendation of the team.
@jingxu97 if you think there is anything else we need to do, let us know.
/close

[2019-02-28 23:49] #73332 closed

[2019-02-28 23:52] michmike commented on #66159
removing this from the windows backlog. thanks

[2019-02-28 23:52] jsturtevant commented on #66159
@michmike agree this does not appear to be windows specific.  The kubectl was running on windows

[2019-02-28 23:54] shyamjvs commented on #74412
One thought besides the actual fixes themselves is we should add scale tests for per-node secrets/configmaps limit, so we can catch such issues in future. At least a kubelet integration test.

[2019-02-28 23:57] neolit123 commented on #74134
thanks it works!
![docker-pull-auth](https://user-images.githubusercontent.com/331852/53606943-63c59500-3bc5-11e9-80b3-a89f5759664f.png)

[2019-03-01 00:00] neolit123 commented on #74134
@bclau please, close the issue once you check this.

[2019-03-01 00:00] liggitt commented on #74412
Definitely. Where would the best place to do that be?

[2019-03-01 00:07] #73559 closed

[2019-03-01 00:17] bsalamat commented on #25319
@BarthV we heard you all and we will try to add the feature, but we need to be careful here as this feature can increase possibility of DoS attacks. Please see my comment for more info: https://github.com/kubernetes/kubernetes/issues/68827#issuecomment-468470598.

[2019-03-01 00:22] pjh opened #74759 "Use code/releases from containernetworking/plugins repo for Windows clusters on GCE"
Clusters with Windows nodes on GCE use the `win-bridge` CNI plugin. The official code location for this plugin is https://github.com/containernetworking/plugins/tree/master/plugins/main/windows/win-bridge. However, since January clusters on GCE have been relying on CNI binaries provided by Microsoft built using unknown code: https://github.com/pjh/kubernetes/pull/39. Another set of prebuilt binari

[2019-03-01 00:22] pjh commented on #74759
/assign daschott

[2019-03-01 00:22] pjh commented on #74759
/sig windows

[2019-03-01 00:23] pjh commented on #74759
cc @daschott @yujuhong @PatrickLang @nagiesek @madhanrm @rhockenbury

[2019-03-01 00:24] Rajat-0 commented on #69687
@DXist thanks for letting me know about Knative's plan to support HPA in service Activator, but I think It would we great if we can have this functionality in K8s/HPA because, as per my my knowledge Knative requires istio and knative solution works for Knative workload.

[2019-03-01 00:25] pjh commented on #74759
/assign patricklang

Assigning to @PatrickLang for now since I can't assign to daschott to start. Once the work to properly push these CNI binaries has been done on the containernetworking/plugins side, please reassign this issue to me so that I can update the GCE cluster scripts.

Also, @PatrickLang can you do the magic to make this issue appear on https://github.com/orgs/kubernetes/projects/8? T

[2019-03-01 00:32] nagiesek commented on #74759
@pjh @yujuhong What's the ideal solution from your end?

[2019-03-01 00:40] pjh commented on #74759
I think: 1) all Windows CNI changes get merged to https://github.com/containernetworking/plugins; then 2) the subsequent Windows CNI binaries end up in a release at https://github.com/containernetworking/plugins/releases; and 3) we delete https://github.com/yujuhong/gce-k8s-windows-testing/blob/master/windows-cni-plugins.zip and https://github.com/Microsoft/SDN/tree/master/Kubernetes/flannel/l2bri

[2019-03-01 00:40] shyamjvs commented on #74412
I would think https://github.com/kubernetes/kubernetes/tree/master/test/e2e_node? Actually, our density test in its current form allows setting secretsPerPod - https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scalability/density.go#L550. If we change that to a higher value, we would test this case.

cc @wojtek-t @krzysied - Can we make such change in cluster-loader?

[2019-03-01 00:46] liggitt commented on #74412
If those are using replicasets then the secrets will not be unique per pod, right? Unique pods, with unique secrets, would more reliably exercise this

[2019-03-01 01:04] jingxu97 opened #74765 "Remove retry loop inside of WaitForAttach"
**What happened**:
Currently, there is a retry loop inside of WaitForAttach function in attacher.go for most of the volume plugins (except CSI). It will timeout for 10 minutes. Since volume reconciler will retry with exponential backoff, this loop inside of function is not necessary and will consume more resources because there is no backoff mechanism. If the pod is being deleted in the meantime,

[2019-03-01 01:12] shyamjvs commented on #74412
You're right. It's probably better to do that (though I think chances of overlapping secrets on node will be quite low in case of our large cluster tests with many RCs).

Also, thinking a bit more, it seems like we'll need to test 2 things:

- single kubelet is able to handle so many watches (which probably can even be done with just an integration test)
- apiserver is able to handle so many conne

[2019-03-01 01:31] yujuhong opened #74766 "Creating windows pods flaky due to HNS error "failed to create the new HNSEndpoint: hnsCall failed in Win32: The object already exists. (0x1392)""
**What happened**:
Environment: On GCE with the win-bridge cni plugin

On a node when creating a pod for the first time, running podsandbox would fail with the error message below. "failed to create the new HNSEndpoint: hnsCall failed in Win32: The object already exists. (0x1392)"

[code]
Subsequent retry would succeed, and launching other pods afterwards would also, generally, be fine.

I've foun

[2019-03-01 01:42] tanshanshan commented on #74718
could you paste apiserver config and whether etcd cluster is healthy

[2019-03-01 01:43] liucimin commented on #74718
Hi would you like to show us the api-server exit log or error log?

[2019-03-01 02:10] warmchang commented on #45419
I have the same question: https://github.com/kubernetes/kubernetes/issues/45419#issuecomment-439267946

[2019-03-01 02:18] johnSchnake commented on #74282
So the relevant points of code are during the SyncrhonizedBeforeSuite section here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L103

and then in the wait logic here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L2728-L2759

Most of the other uses of `LabelNodeRoleMaster` seem to be test setup, so extending the logic shouldn't be a proble

[2019-03-01 02:25] anan-lee commented on #74729
/sig storage

[2019-03-01 02:25] k82cn commented on #74132
Agree; comparing to make `priorityMetadata` public, prefer to enhance `NewPriorityMetadataFactory` to accept nil listers to return `priorityMetadata`.

[2019-03-01 02:38] #69278 closed

[2019-03-01 02:49] mikedanese commented on #74565
`AllAlpha=true,TokenRequestProjection=false`, or you can fix the issue :). TokenRequestProjection is a lot better than the old token volumes. The permission lockdown is intended to improve security, but we bundled a bunch of other security improvements in that feature as well. All improvements and breaking changes are recorded in #70679.

I'd love to get feedback on what made this difficult for yo

[2019-03-01 02:57] liggitt commented on #74412
it looks like since we vendor `golang.org/x/net/http2`, we actually have to bump our vendored copy to the go1.12 level to pick up the fix. I was able to write a simple integration test against the cached secret manager. On master, it failed after establishing 236 watches. With our vendored http2 copy bumped to go1.12 levels, it worked all the way up to 10,000 distinct watches (which is where I sto

[2019-03-01 03:12] #74310 closed

[2019-03-01 03:13] msau42 commented on #72347
Thanks for the thorough investigation @cofyc!

For Local PV, only https://github.com/kubernetes/kubernetes/issues/72346#issuecomment-466347067 is relevant, and it's for extreme corner cases. Given that, I think it can be addressed after GA.

All the issues pointed out are also issues for CSI volumes in general that utilize the local filesystem instead of a separate device. We should continue to in

[2019-03-01 03:15] msau42 commented on #71237
The remaining items are cleanup items are not urgent for 1.14
/milestone clear

[2019-03-01 03:26] huisebug commented on #74704
After a period of time, the k8s1.12.6 version will make it impossible for HPA to access memory data. I guess etcd cached the data from k8s1.11.3 before. So this version is also unavailable. I guess it's the version after k8s1.11, such as 1.12 + is it an API or controller-manager, which configuration parameters should be added to enable HPA to get memory information? Please help me.

[2019-03-01 03:27] huisebug commented on #74704
After a period of time, the k8s1.12.6 version will make it impossible for HPA to access memory data. I guess etcd cached the data from k8s1.11.3 before. So this version is also unavailable. I guess it's the version after k8s1.11, such as 1.12 + is it an API or controller-manager, which configuration parameters should be added to enable HPA to get memory information? Please help me.

[2019-03-01 03:54] cofyc commented on #74552
We may have to store metadata in a local file to support reconstruction, similar to what [csi does](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/volume/csi/csi_plugin.go#L362)

Yes, to store metadata in a local file is a genernal solution because I found it's not possible to obtain correct volume source path because of symlinks.

But it requires to migrate to new directory l

[2019-03-01 03:59] valentin2105 commented on #74565
Thanks for pointing me the right way to inquire the non-root user which will use the token.
It was my issue, Helm's tiller / CoreDNS or Nginx-Ingress run at non-root user (nobody) and was not able to use the Account token.

So by adding :

[code]

To my deployment, it should fix my issue ?

I will try that. Thank you so much.

[2019-03-01 04:16] snowplayfire commented on #74707
The focus of the problem is a package named "trace" in source code. The function of the package is to record every step's duration which can be used to analyze situation. The package "trace" is used in some places of the source code more than scheduler.
The path of the package is "/vendor/k8s.io/apiserver/pkg/util/trace".  Maybe you can read the source code of the package, you can catch the proble

[2019-03-01 04:35] #55410 closed

[2019-03-01 04:45] ddongchen opened #74779 "wait for containers cleanup before delete pod too slow"
**What would you like to be added**:
   We try to delete all pods, which containing at least two containers, at the same time, we found pods are deleted too slow, then we checked the log and found there are two blocks:

(1)  pod is deleted before all its' containers are deleted, which from https://github.com/kubernetes/kubernetes/pull/50350. I know if the pod is evicted, it should release all reso

[2019-03-01 04:46] ddongchen commented on #74779
/sig kubelet

[2019-03-01 04:53] ddongchen commented on #74779
/sig node

[2019-03-01 04:58] huisebug commented on #74704
I tested 1.11.8 released on March 1st. This time I tested many times and waited a long time. It is also available. So it is more convinced that HPA can't access memory in later versions of 1.12 +. It is added that the k8s1.11. * version does not support autoscaling/v2beta2.
![image](https://user-images.githubusercontent.com/27762438/53617296-8e453b80-3c21-11e9-875d-78c9a7a5bf0e.png)

[2019-03-01 05:23] valentin2105 commented on #68721
For example :

`kubectl -v=10 -n kube-system logs -f cert-manager-cert-manager-8586455ff9-cwpvk cert-manager `

Report nothing.

`curl -sSk -H "Authorization: Bearer $TOKEN" https://k8s-api.olympe.noc.nc/api/v1/namespaces/kube-system/pods/cert-manager-cert-manager-8586455ff9-cwpvk/log\?container\=cert-manager\&follow\=true -k`

Show the log directly, without any issue.

[2019-03-01 05:36] gottwald commented on #56371
There must be a firewall rule in place that permits the traffic to your public IP address. Maybe one that permits all ports to you VMs from the public.
Please look for a rule like that an paste it here. I doubt that it was created by k8s.

[2019-03-01 06:03] rjaini opened #74785 "Kubelet failing to start on Azure stack"
What happened:
Currently starting Kubectl failing on Azure Stack.
What you expected to happen:
Kubectl should start on Azure Stack environment.

How to reproduce it (as minimally and precisely as possible):
Try to deploy Kubernets on Azure Stack environment..

Anything else we need to know?:
Environment:
Kubernetes version (use kubectl version): master
Cloud provider or hardware configuration:
OS

[2019-03-01 06:04] michmike commented on #74134
thanks Tim! you rock!

[2019-03-01 06:11] michmike commented on #74766
cc: @PatrickLang

[2019-03-01 06:17] diafour commented on #72212
Do some research on this issue while working on https://github.com/flant/kubedog/issues/42

The main problem in `Status` method https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/rollout_status.go#L121. The code that detects paritition rollout doesn't handle correctly `partition: 0` case.

The bug is reproduced when manifest doesn't contain `updateStrategy`. In this case k8s adds def

[2019-03-01 06:18] Huang-Wei commented on #74626
update: waiting for https://github.com/kubernetes/kubernetes/commits/release-1.14 to pick up PR #74744 so as to expose more clues.

[2019-03-01 06:23] jianglingxia commented on #74640
@bswartz  yes, if the iscsi can not Initialization，the dir will not exist,maybe return empty map rather than an error or delete the func GetISCSIPortalHostMapForTarget
i have commit one pr to resove the problem,can you review it?thanks

[2019-03-01 06:33] feiskyer commented on #74101
Filed https://github.com/kubernetes/kubernetes/pull/74788 to fix the issue.

[2019-03-01 06:34] curu commented on #70284
/remove-lifecycle

[2019-03-01 06:46] uablrek commented on #69811
Still valid

[2019-03-01 06:52] cwdsuzhou opened #74790 "￼Kubectl shows last<invalid> if pv, pod or pvc is terminating using kubectl describe pv xxx"
**What happened**:
 ￼Kubectl describe pv xxx  shows last<invalid> if pv is terminating
![image](https://user-images.githubusercontent.com/12230714/53621242-e3d51480-3c30-11e9-99f3-785a2b83898d.png)

I found pvc and pod  have the same issue

**What you expected to happen**:
Terminating (lasts 10s)
**How to reproduce it (as minimally and precisely as possible)**:
1 create  a pv, pvc or pod is termin

[2019-03-01 07:39] mohnishkodnani commented on #58987
Please let me know if any help is needed on this.
Due to the inability to put labels, currently, in my use case i have to fetch all PVC's in the namespace and then manually filter out based on "annotations" because custom annotations are allowed.
But if labels are allowed, then in the ListOptions we can add a selector and make the query more efficient.

[2019-03-01 09:02] somashekhar commented on #62334
Observed the issue in our systems.
Looks like this feature would help lot.

[2019-03-01 09:54] daixiang0 opened #74801 "help html 404 not found"
Many code use this [url](https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/blob/HEAD/docs/api-reference/v1/definitions.html) in help content like:
[code]

But i click and find that 404, i use:
[code]

I also look into master branch, still same url. Need to update i think.

[2019-03-01 10:07] tsprlng commented on #54205
Would you mind sharing how you did this? This now seems to be happening on non-alpha clusters there. The feature gate's alpha status in the Kubernetes docs hasn't changed though.

[2019-03-01 10:10] liaolinrong commented on #74718
/etc/kubernetes/manifests/kube-apiserver.yaml
[code]

etcd is healthy:
[code]

[2019-03-01 10:12] liaolinrong commented on #74718
apiserver log:
[code]

[2019-03-01 10:17] wsszh commented on #70014
@m1093782566 Hello, I got the same problem as @Alan01252 said. Have you solved this problem?

[2019-03-01 10:18] mborsz commented on #74419
I managed to verify that all spikes in above graph are caused by IO load generated by logrotate.
Theoretically etcd and logrotate are using separate PDs so they should isolate well, in practice we know that it happens that they interfere each other on OS-level.
I also confirmed that 315 scalability run has similar latency pattern.

I experimentally changed master's cos version to cos-69-10895-138-

[2019-03-01 10:20] WanLinghao commented on #74801
/assign

[2019-03-01 10:22] brancz commented on #74607
You could search through the kubernetes code base, but as far as I know there is no 1 list of values anywhere, they're just defined where used.

[2019-03-01 10:28] ChrisPenner commented on #40219
/reopen
/remove-lifecycle rotten

Any news on this? It seems strange to me that headless services don't get env vars whereas other services do.

[2019-03-01 10:29] #74714 closed

[2019-03-01 10:50] kevtaylor opened #74803 "VolumeSubpathEnvExpansion e2e tests cannot access kubectl binary"
**Which jobs are failing**:
Tests which exec into containers and alter lifecycles

**Which test(s) are failing**:
All new tests introduced for api change which exec into containers
New alpha subpathExpr tests [Feature:VolumeSubpathEnvExpansion][NodeAlphaFeature:VolumeSubpathEnvExpansion]

**Since when has it been failing**:
27/February/2019

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-

[2019-03-01 10:51] kevtaylor commented on #74803
/sig node
/sig storage
/assign @kevtaylor
/cc @msau42

[2019-03-01 11:03] Unrealnew commented on #72395
The pod-eviction-timeout took effects after set the TaintBasedEvictions to false (- --feature-gates=TaintBasedEvictions=false on kubectl conf) because de fault value now is true since 1.13.
Here we can find all new features and default value linked to a specific version.

- https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#

So i think that the new feature TaintBased

[2019-03-01 11:12] rmacian commented on #74679
Same here, I would like to use Terraform to deploy my apps

[2019-03-01 11:17] bboreham commented on #45419
@warmchang the kubernetes-cni plugins package is not relevant.  The change required is in libcni, which is vendored (copied into this repo) from https://github.com/containernetworking/cni.

The change is merged; no release is necessary (although it might make people feel better).

[2019-03-01 11:21] hello2mao commented on #74704
/sig autoscaling

[2019-03-01 11:35] Joseph-Irving commented on #74741
/sig apps

[2019-03-01 11:45] Joseph-Irving commented on #74741
Can you paste the output of `kubectl get jobs` and `kubectl desribe cronjob
curator-elasticsearch-curator`?

[2019-03-01 11:47] #74463 closed

[2019-03-01 11:59] warmchang commented on #45419
@bboreham Thank you for reply.
I mean the CNI code (libcni) in the vendor directory, not the CNI plugin (like flannel/calico, etc.).
And I found this PR https://github.com/kubernetes/kubernetes/pull/71653 which is waiting for approve.

[2019-03-01 12:28] mariantalla commented on #74724
cc @kubernetes/sig-storage-test-failures

[2019-03-01 12:44] dfiduk commented on #36222
Not only spaces. Trail symbols too.

I uses vim for it
`:set listchars=eol:¬,tab:>·,trail:~,extends:>,precedes:<,space:␣`
`:set list`

[2019-03-01 12:56] arocki7 commented on #40224
If you use an AWS Load balancer, you want to increase the timeout value.

[2019-03-01 13:32] yuripastushenko commented on #74507
Hello!
@yliaog - can you comment this feature?

[2019-03-01 13:49] andyzhangx commented on #74785
is it `kubelet`? `kubectl` is a tool ...

[2019-03-01 13:51] andyzhangx commented on #74674
what's `Get-Disk` command? any details?

[2019-03-01 13:59] jsafrane opened #74810 "CSI driver skips attaching a volume on error"
**What happened**:
Any error from `skipAttach()` results in `CanAttach()` returning `true`:
https://github.com/kubernetes/kubernetes/blob/7514c49ec12e7a8b6840142d723ec25b08a0917a/pkg/volume/csi/csi_plugin.go#L453-L459

`CanAttach` should return an error in this case, because at this point we don't really know if the volume can be attached or not and assuming that it is is wrong.

[2019-03-01 13:59] jsafrane commented on #74810
/sig storage

[2019-03-01 15:08] BenWUKFast commented on #65973
It would be fantastic to get this implemented as a none webhook based solution. The `read-only` could be used to allow initialization, then after the field becomes immutable.

[2019-03-01 15:08] PabloPie commented on #36222
"\n   \n" in one of my files also messed up the pretty display.

[2019-03-01 15:22] gnufied commented on #74724
/assign

[2019-03-01 15:35] seils commented on #69811
/remove-lifecycle stale

[2019-03-01 16:01] daschott commented on #74766
@dineshgovindasamy @nagiesek We've seen this before -- what's the root-cause?

[2019-03-01 16:04] dcvtruong commented on #74741
Logs:

      #kubectl describe cronjob curator-elasticsearch-curator -n elk

      Name:                       curator-elasticsearch-curator
      Namespace:                  elk
      Labels:                     app=elasticsearch-curator
                                  chart=elasticsearch-curator-1.0.1
                                  heritage=Tiller
                                  release=c

[2019-03-01 16:09] alejandrox1 commented on #74657
Sig-storage test failures cleared out. @msau42's comment seems to point to what the solution was.
/close

[2019-03-01 16:09] #74657 closed

[2019-03-01 16:12] alejandrox1 commented on #74546
Seems https://github.com/kubernetes/kubernetes/pull/74554 also resolved this issue. See https://github.com/kubernetes/kubernetes/issues/72500 for more details.
/close

[2019-03-01 16:12] #74546 closed

[2019-03-01 16:14] alejandrox1 commented on #74546
Need to open a separate issue for `
* CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]`, this is the only test that didnt clear up

[2019-03-01 16:27] gnufied opened #74812 "CSI node ID annotation not removed from node when CSI driver is uninstalled"
I am not sure if this is just my environment but looks like nodeID annotation is not being removed correctly when a driver is uninstalled.

[code]

^ is result of me running e2e's bunch of times. Surely, eventually they should be removed right?

cc @verult  @msau42

/sig storage

[2019-03-01 16:28] alejandrox1 opened #74813 "[Failing Test] subPath should unmount if pod is force deleted while kubelet is down failing in master-upgrade:gce-new-master-upgrade-cluster"
**Which jobs are failing**:
* [master-upgrade#gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster)

**Which test(s) are failing**:
* `[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]`

[ci-kuber

[2019-03-01 16:28] alejandrox1 opened #74814 "[Failing Test] subPath should unmount if pod is gracefully deleted while kubelet is down failing in master-upgrade:gce-new-master-upgrade-cluster"
**Which jobs are failing**:
* [master-upgrade#gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster)

**Which test(s) are failing**:
* `[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow]`

[ci-

[2019-03-01 16:29] alejandrox1 commented on #74546
opened https://github.com/kubernetes/kubernetes/issues/74813 and  https://github.com/kubernetes/kubernetes/issues/74814

[2019-03-01 16:36] alejandrox1 commented on #74417
Per @msau42's comment, https://github.com/kubernetes/kubernetes/issues/74380 was a solution for this one as well.
/close

[2019-03-01 16:36] #74417 closed

[2019-03-01 16:38] alejandrox1 commented on #74567
This seemed to be related to https://github.com/kubernetes/kubernetes/issues/74546.
Tests failures have cleared out, so im closing this one.
/close

[2019-03-01 16:38] #74567 closed

[2019-03-01 17:03] gnufied opened #74816 "CSI driver registration on local cluster does not update node object in time - causing first e2e to fail"
It appears that when I run mock CSI e2e's against a local k8s cluster, the driver registration process takes a long time to update the node object. As a result ALWAYS, the first test fails and subsequent tests pass.

[code]

/sig storage

[2019-03-01 17:03] dineshgovindasamy commented on #74766
So this happens only for the first time right?

@yujuhong Could you please collect the following logs for us?

On the node before creating the pod for the first time.

start-birstranfer https://raw.githubusercontent.com/Microsoft/SDN/master/Kubernetes/windows/debug/collectlogs.ps1

run collectlogs.ps1

then start the trace by running the following command

C:\k\debug\starthnstrace.cmd

repro the i

[2019-03-01 17:10] nmors commented on #51835
Fresh v1.13.3 install here. This happens to me too. Happens since I mounted same NFS volumes across a few pods which seems to have something to do with it.

[2019-03-01 17:11] mohnishkodnani opened #74817 "Add VolumeName field selector to PVC"
**What would you like to be added**:
I would like to add a field selector for the .Spec.VolumeName for a PVC.

**Why is this needed**:
I have a usecase where I need to query for all PVC for a particular host.
PVC has no direct link to the host in the Spec. The way I am doing this right now, is to get a list of Persistent Volume (PV) running on a particular host exposed by the label kubernetes.io/h

[2019-03-01 17:26] nikopen commented on #45419
/milestone v1.14

[2019-03-01 17:26] mohnishkodnani commented on #74817
@kubernetes/sig-cli-feature-requests
@kubernetes/sig-storage-feature-requests

[2019-03-01 17:28] rjaini commented on #74785
my bad its kubelet. I update the title.

[2019-03-01 17:50] cgiroua commented on #51835
I see this issue when creating a deployment that tries to create a volume using a secret that doesn't exist, deleting that deployment/service leaves around a `Terminating` pod.

[2019-03-01 17:53] msau42 commented on #74813
This is probably the same issue as #72500

[2019-03-01 17:54] msau42 commented on #74814
@kubernetes/sig-storage-test-failures