[2016-08-12 00:59] jingxu97 commented on #29324
@atombender, @sstarcher Thank you for posting the issues. Could you please share the kubelet log if it is still available? Thanks!

Jing

[2016-08-12 01:00] matchstick commented on #21859
If this reoccurs on 1.3.4 or later please reopen.

[2016-08-12 01:00] #21859 closed

[2016-08-12 01:01] mikedanese commented on #30450
This would be ambiguous if we allow multiple levels of spaces? e.g. does `kube kubectl get pod foobang` call exec `kube-kubectl get pod foobang` or `kube-kubectl-get-pod-foobang` or something in the middle? I guess we could search by some priority.... but that's kind of gross. I like one level.

[2016-08-12 01:01] matchstick commented on #21623
This might be fixed in 1.3.4 can you try again?

[2016-08-12 01:02] smarterclayton commented on #27198
Re: deletion it will eventually have to be the controller that owns
the lock on the PV I assume w.r.t. attach (deletion prereqs on
detach?)

[2016-08-12 01:02] matchstick commented on #21498
We believe this is addressed in 1.3.4 Please reopen if it reoccured.

[2016-08-12 01:02] #21498 closed

[2016-08-12 01:08] thockin commented on #20835
I'm going to close this because it is about GCE, and we should not go out of our way to handle this.  That said, #26567 discusses this WRT hardware-centric issues, so the feature may yet come up.

[2016-08-12 01:08] #20835 closed

[2016-08-12 01:09] bgrant0607 commented on #30450
See #30086, #13606

cc @smarterclayton @fabianofranz

[2016-08-12 01:10] atombender commented on #29324
@jingxu97 https://gist.github.com/atombender/a810ca55fd1e149f20d2a7a6f7a45934

[2016-08-12 01:20] smarterclayton commented on #29579
We already today can DoS a Kubelet with exec / logs / portforward.  We
don't *have* to solve that here (for CRI to land) - we could
potentially leave them grandfathered in the Kubelet until we get there
right solution.  That gives us some flexibility to solve the problem
the right way.

I don't think exec or portforward are optional to anyone except very
specialized end users (they are core enable

[2016-08-12 01:28] etki commented on #30484
I'm not a part of kubernetes team or iptables expert, but, i guess, as long as you hold balanced TCP connection opened, all packets will go in one direction. If that's correct, you have to make sure connection got closed before sending next batch.

[2016-08-12 01:29] justinsb commented on #23330
This is "works in practice" fixed; dynamic PVs are distributed across zones (based on a hash of their name), and with PetSets they round-robin around the zones (hash + offset)).

[2016-08-12 01:50] yaxinlx commented on #30186
@caesarxuchao, it is not tricky.

The case I encountered was I want to delete a pv, but with a blank pv name, then all pv were deleted. No ListOptions was provided in the API request.

I think no ListOptions provided and an blank ListOptions provided are different.

[2016-08-12 01:57] k8s-merge-robot opened #30489 "[k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/8167/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}

[code]

Previous issues for this test: #27156 #28979

[2016-08-12 02:12] anguslees commented on #30404
I don't doubt the above is correct, although http://gophercloud.io/ still points to rackspace/gophercloud github, and there's no mention of the move on rackspace/gophercloud :(

So: yep, I'll do this migration at some point.  I don't seem to be able to assign issues to myself, but consider it as if I've done that thing.

[2016-08-12 02:24] AdoHe commented on #30186
We should keep the meaning of empty selectors, there are many tools depend on this meaning. Just according to what @yaxinlx commented, no ListOptions should be considered.

[2016-08-12 02:28] rwillard commented on #30484
You're absolutely right, thank you. Thanks for your help.

[2016-08-12 02:31] AdoHe commented on #23896
/cc @AdoHe

[2016-08-12 04:10] Cloven commented on #28718
As a non-database example, erlang nodes identify themselves and each other either by 'nodename@shorthostname' or 'nodename@canonical.host.name' (http://erlang.org/doc/reference_manual/distributed.html).

When they're configured to do so, they form TCP mesh connections once they are aware of other nodes.  They do this using the erlang port mapper daemon (epmd) (http://erlang.org/doc/man/epmd.html),

[2016-08-12 04:18] Random-Liu opened #30491 "Pod on master can't access apiserver."
With https://github.com/kubernetes/node-problem-detector/pull/29, node problem detector will not use `hostNetwork` any more.

However, when I start new node problem detector in the cluster, I found that the pod on master can't access apiserver via "10.0.0.1:443" - `Get https://10.0.0.1:443/api/v1/namespaces/kube-system/pods/node-problem-detector-v0.2-lqewd: dial tcp 10.0.0.1:443: i/o timeout`.
The

[2016-08-12 04:38] feiskyer commented on #30463
Agree. Besides this, letting kubelet manage container's name has other benifits:

- Easy for debugging: if there is something wrong, `k8s_<container_name>_<pod_name>_<pod_namespace>_<random_ID>` is much easier to find than `<container_name>_<random_ID>`
- Uniformed sandbox/container name accrossing runtimes, so it doesn't confuse users when runtime is changed.

[2016-08-12 04:51] bprashanth commented on #30491
Yes. Thats a service ip and kubeproxy isn't running on the master.

[2016-08-12 05:04] thockin opened #30493 "kubectl run and pull policy"
I find myself iterating on a `:latest` container, which means I really want to be able to specify `pullPolicy` from the CLI.

[2016-08-12 05:07] Random-Liu commented on #30491
@bprashanth Hm, thanks for answering. If so, I should find a way to prevent node problem detector from running on master. We wanted to do that long time ago but scheduler didn't support it at that time. Hope https://github.com/kubernetes/kubernetes/pull/28803 could help.

Close this one.

[2016-08-12 05:07] #30491 closed

[2016-08-12 05:21] bprashanth commented on #28718
@Cloven if you happen to try rabbit with petset please report the hurdles you ran into. We're lacking an example workqueue, restricted ourselves to dbs till now. From your description it sounds like epmd will only resolve a dns name one time (vs respecting ttl and re-resolving)?

[2016-08-12 05:28] euank commented on #25494
Is this the issue you meant to close @matchstick?

If it was, please provide more details about what you mean.

[2016-08-12 05:42] feiskyer commented on #29579
Should network bottleneck problem be included in this issue? I think it shouldn't be a block for CRI and suggest it in another issue.

I don't think adding `shim` solves the bottleneck/DoS problem. Since all exec/logs request must finally get response from container runtime on node, adding `shim` just moves the network bottleneck to `shim` from kubelet.

[2016-08-12 05:51] AdoHe commented on #30493
Sounds reasonable to me. When using resource file, we can specify `imagePullPolicy` in the resource file, kubectl run should provide such option also. This should be easy to do @kubernetes/kubectl

[2016-08-12 06:20] wayarmy opened #30495 "KUBE_MANIFESTS_TAR_URL error"
hello, when i downloaded "script auto setup" and ran it to create cluster on AWS, and got this error:
./cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 518: KUBE_MANIFESTS_TAR_URL: unbound variable

I don't see this on older version, and don't know variable "KUBE_MANIFESTS_TAR_URL", does anyone explain this ?.

Thanks so much!!

[2016-08-12 06:20] thockin commented on #25494
This is a really clunky way to do GPUs.  My understanding is we have a
better GPU solution (but I didn't follow the details) @davidopp

On Thu, Aug 11, 2016 at 10:29 PM, Euan Kemp <notifications@github.com>
wrote:

[2016-08-12 06:21] thockin commented on #30491
either run in host network or don't run on master.

On Thu, Aug 11, 2016 at 10:08 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-08-12 06:23] Random-Liu commented on #30491
@thockin OK. Thanks for your suggestion. :)

[2016-08-12 06:42] andreykurilin commented on #29852
https://github.com/kubernetes/kubernetes/pull/27855 is merged

[2016-08-12 06:42] #29852 closed

[2016-08-12 06:48] thockin commented on #27198
I'm going to re-title this to reflect the graceful deletion idea.

This is a tricky one because multiple pods can ref the same PVC and we do not keep back-pointers to them all.  I guess we can:

* set deletion time
* from this point on, kubelet will not start any new pods that use the PVC
* existing pods are existing
* a/the controller periodically scans all pods for references to this PVC
* if no

[2016-08-12 06:51] #13125 closed

[2016-08-12 06:54] ultimatesolution commented on #30367
Any activity here? You do support Ubuntu, eh?

[2016-08-12 07:02] xingzhou commented on #28321
@janetkuo, I'm investigating the issue.
On my laptop, I tried ```cluster/kubectl replace -f temp.json``` and can get the following error:
[code]

do you think if we can change the error message to:
[code]

Also, I can see that there are several commands in kubectl that can print this error, we can design a consistent format to show this kind of error message, your thoughts?

[2016-08-12 07:50] AdoHe commented on #28321
@xingzhou this looks like a good beginning, but I would expect this to be more generic, validation is widely used in kubectl, I would expect that this kind of validation error is handled. You can see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/visitor.go#L206), [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/visitor.go#L206), an

[2016-08-12 08:05] jonathan-kosgei commented on #30448
Works. Thanks!

[2016-08-12 08:05] #30448 closed

[2016-08-12 08:42] andreykurilin commented on #23402
PR was not bound to this issue:(
https://github.com/kubernetes/kubernetes/pull/29150

[2016-08-12 09:12] zen commented on #18174
CC @kubernetes/mirantis

[2016-08-12 09:17] feiskyer commented on #29871
@dchen1107 vm only supports increase vm's size (cpu and memory), but decrease is not supported. If decrease is necessary, then vm must be restarted.

This is a problem. I think `UpdatePodSandbox` or `UpdatePodSandboxResources` may be needed eventually.

[2016-08-12 09:23] cheld commented on #14403
Verified that garbage collection works with shared mount volumes

[2016-08-12 10:01] chengyli opened #30498 "LocalDisk volume in kubernetes"
When running kubernetes cluster, we got some requirements from users,
1. The pod need dedicated physical disk to guarantee stable disk I/O latency and throughput. When pod is deleted, the data on disk is kept, and the same disk can be claimed when a new pod starts.
2. The emptyDir and hostPath volume doesn't have disk size limitation, pod can write any size of data into these kinds of volume, but

[2016-08-12 10:04] chengyli commented on #30498
In order to solve these problem, we have this proposal.
https://github.com/kubernetes/kubernetes/pull/30499

[2016-08-12 11:04] #30412 closed

[2016-08-12 11:38] shouhong commented on #22469
I tried K8S 1.3 Network Policy + Calico implementation. Once I set network isolation for a namespace, the pods in this namespace can only be accessed by the local K8S node. Then I can create Network Policies to make some pods in the namespace can be accessed by some other pods. All of these are fine.

Now the question is: is it possible to make some pods in the namespace can be accessed from other

[2016-08-12 12:14] Crapworks commented on #29538
Hi @chrislovecnm,

yes, i am aware that I hae to clean up the PV and PVC. That also works just fine and the volumes in OpenStack cinder are gone.

I am not sure if I am able to convey my idea correctly. My usescase was:

1. create a kubernetes cluster
2. deploy a petset
  1. this creates a cinder volume with a id that is stable *inside* the current cluster
3. destroy kubernetes cluster
4. create n

[2016-08-12 12:23] deads2k opened #30501 "Use watches instead of polling for CLI state checking"
Update reapers, scalers, and rollouts to use the `watch.Until` and `RetryOnConflict` methods to improve responsiveness and readability.

See https://github.com/kubernetes/kubernetes/pull/30383 for an example.  It looks like we have many CLI polling functions that could be converted to a watch as noted here: https://github.com/kubernetes/kubernetes/pull/30383#discussion_r74441980 .

[2016-08-12 12:25] deads2k commented on #30501
@kubernetes/kubectl I think we should start enforcing this in reviews for new CLI commands.  We have `watch.Until` function that's a lot easier to use than it was before, so there's no reason for us to continue polling.

[2016-08-12 12:31] #2203 closed

[2016-08-12 12:49] smarterclayton commented on #30501
Agreed.  We may need a bit more sophisticated logic to handle some of
the backoff cases (I don't think a watch request handles retry today),
but watch should be less of a CPU burden to the server in practice.

[2016-08-12 12:50] soltysh commented on #30243
@erictune and I authored Jobs, I'll be out for the next two weeks but here are my quick thoughts. Currently `restartPolicy` does not apply to Jobs almost at all, it's passed over to kubelet when creating pods. To address your concern we'd have to come up with a policy for a job which would allow setting logic around how job should react to failures. Overall, I'd like to see such a feature. Not sur

[2016-08-12 12:52] analytik commented on #28718
Hi,
Sorry to derail this with a lateral comment, but regarding auto-scaling:

Scaling RabbitMQ would make sense to scale for perishable (or persistent, non-replicated) messages. That would be one use case that would benefit from auto-scaling.

However, persistent RabbitMQ topics, and of course any kind of persistent storage would get slower if their replica count got increased. For example with Re

[2016-08-12 13:15] bboreham commented on #23155
Would it be appropriate just to raise the glog v-level up a bit so it's not in the logs by default?

[2016-08-12 13:39] timothysc commented on #30275
I have not dug, but just noting that with when you enable v3client on gce-e2es you also enable compaction.

[2016-08-12 13:41] wojtek-t commented on #30275
It's NOT with v3 client - it was using etcd2 api.

[2016-08-12 13:58] MikeSpreitzer commented on #22469
@shouhong: Example 3 of https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/network-policy.md --- which originally had a bug but is now fixed --- shows one way to write a `NetworkPolicy` that allows all ingress regardless of source.

[2016-08-12 14:21] timothysc commented on #29001
re-opening, this is not closed.

[2016-08-12 14:24] smarterclayton commented on #28718
I think reshard / replicate falls under the "general cluster maintenance"
responsibilities that a babysitter / controller process would have, but
since it's somewhat specialized it's also in the category of "could just be
an admin problem".  The thing we want to ensure is possible is that an
admin *can* write that script (to reshard / resize) dynamically if they
wanted and not have to think too ha

[2016-08-12 14:25] smarterclayton commented on #11382
I'd like to see node capacity / allocatable taken into account and joined with this data.  The amount being used is not nearly as useful as the amount being used + the amount AVAILABLE to be used.

[2016-08-12 14:30] mksalawa opened #30507 "Further improvements for 'kubectl top' command"
Follow-up for #11382.

Proposed features for the 'top' command, after heapster is adapted to an apiserver:
- [ ] sorting by column
- [ ] different output methods (yuml/json/gotemplate)
- [ ] watch
- [ ] pasteable output for `kubectl describe`
- [ ] support for additional rollup resource types: services, replicasets/rcs, deployments, jobs, daemonsets, ingress

[2016-08-12 14:32] mksalawa commented on #11382
The basic implementation of top has been done in #28844.

There are some features that would be better to add after heapster becomes the apiserver and the metrics can be processed the same way the other resources are. It's because kubectl has all the mechanisms for these, most of which are specific for the apiserver resources and thus reusing them seems not possible without duplication (I tried to

[2016-08-12 14:36] mksalawa commented on #11382
@deads2k also suggested these, but I'm not sure if I understand them correctly:

AFAIK, kubectl doesn't provide any flag for multiple namespaces, except for `--all-namespaces`, which is also handled by 'top'.

Do you mean somenthing like `kubectl top namespace NAME`?

Is turning heapster to be an apiserver enough, or does it take more to fulfil this?

[2016-08-12 14:41] smarterclayton commented on #11382
[code]

[2016-08-12 14:46] joshk0 commented on #28977
Have a stuck job too. Will leave it at that until I'm asked for more details, don't want to clog up the thread. You can also reach me directly on Kubernetes slack as joshk.

[2016-08-12 14:53] soltysh commented on #28977
@joshk0 can you verify your job against the previous comment from Brian, if you're having the same problem exactly? (I didn't find you on slack)

[2016-08-12 15:08] ekso8 commented on #30139
As I understend problem in  cluster.local )...

[root@etcd01 dnspod]# kubectl --namespace=kube-system exec kube-dns-v19-bso44 -c kubedns -- nslookup  127.0.0.1
Server:    192.168.32.100
Address 1: 192.168.32.100

Name:      127.0.0.1
Address 1: 127.0.0.1

[2016-08-12 15:20] brendandburns commented on #25570
For anyone else who hits this:

This is fixed in https://github.com/kubernetes/kubernetes/pull/29724

[2016-08-12 15:21] etotheipi commented on #5017
I was in charge of putting together Kafka on Kubernetes and our application is performance-constrained, which I believe eliminated the option of using NFS/HDFS/etc as the PV-backing for Kafka.  Kafka already has data replication built in and to use some kind of replicated PV would really crush our performance.  Also, there's no point in running multiple Kafka pods on physical node, compared to hav

[2016-08-12 15:30] paralin commented on #5017
I used to use a similar setup to what you describe but for Cassandra @etotheipi. It works, but make sure you use node selectors to be sure you only put the pods on machines you want to have Kafka. Also, afaik daemon set pods do not have persistent identity with ips and hostnames so make sure Kafka can handle that.

[2016-08-12 15:33] smarterclayton commented on #5017
You can also use (abuse?) PV node selectors to force the scheduler to
assign pets to particular machines.  The evolving proposals for local disk
look like they're going to go down that path.

On Fri, Aug 12, 2016 at 11:30 AM, Christian Stewart <
notifications@github.com> wrote:

[2016-08-12 15:41] smarterclayton commented on #27198
I think the attach/detach controller has to know all the pods that
reference a PVC anyway?

On Fri, Aug 12, 2016 at 2:48 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-08-12 15:43] fabianofranz commented on #30450
Yes, this is very similar to how it's being proposed in https://github.com/kubernetes/kubernetes/pull/30086. Should we move all discussions there?

[2016-08-12 15:45] smarterclayton commented on #29579
The point of shim would be that exec/logs would *not* go through the
kubelet.  Instead, the kubelet authorizes the request and delegates to the
shim, and then leaves the communication loop.

My recommendation at this point is to strike exec/attach from the CRI API,
continue to use the existing abstractions in the kubelet for Docker and
Rocket, and open a follow up issue that can be CRI v2 to solve

[2016-08-12 15:49] etotheipi commented on #5017
@paralin  Thanks -- I am fairly confident that the shifting IP/hostnames is not an issue, but I haven't tested it yet.  I set Kafka's "advertised" hostname to the PodIP which should update its own entry in zookeeper (for other brokers to find) as soon as the new instance is started.   Node selectors are also a good point, which we will use to partition the network as needed.

@smarterclayton: Seem

[2016-08-12 15:55] smarterclayton commented on #30450
Yes, I think #30086 can also encompass a hypothetical `kube` command in the future.

[2016-08-12 15:55] timothysc commented on #30068
per discussion on @kubernetes/sig-scalability we're going to punt this out to 1.5.

[2016-08-12 16:04] smarterclayton commented on #30186
All API List requests are considered to be provided an empty ListOptions.
We make no distinction between unset ListOptions and no ListOptions.  It is
impossible to provide "no ListOptions".

On Thu, Aug 11, 2016 at 10:24 PM, TonyAdo <notifications@github.com> wrote:

[2016-08-12 16:05] smarterclayton commented on #5017
@etotheipi PVs can influence scheduling, therefore pet sets can be location
aware.  In the long run, PetSets will be the correct way to run all
services where the # of things is more important than where they go, so
it's fine to use DaemonSets this way to work around the gap, but we intend
to fix PetSets and volumes so you can use volumes with data gravity with
PetSets.

On Fri, Aug 12, 2016 at 11

[2016-08-12 16:09] Cloven commented on #28718
@bprashanth erlang's epmd doesn't resolve names or use dns; nodes name themselves from their hostname on startup, and then pass their name and their ip address to epmd.  If it helps, erlang's essentially a tiny embedded operating system built for use in telephone switches, where the expectation of stable ip, name, and topology, and optionality of such deluxe niceties as dns service, is the norm.

[2016-08-12 16:21] ekso8 commented on #30139
Also I've founf that
kube-dns prints:

I0812 15:54:51.501437       1 dns.go:660] DNS Record:&{sync-service.default.svc.kubernetes. 0 10 10  false 30 0  }, hash:1b4748b7
I0812 15:54:51.502107       1 server.go:101] Setting up Healthz Handler(/readiness, /cache) on port :8081
I0812 15:55:01.407157       1 dns.go:299] could not find service for endpoint "kube-scheduler" in namespace "kube-system"
I08

[2016-08-12 16:33] xiang90 commented on #29001
@timothysc This should be fixed by https://github.com/kubernetes/kubernetes/pull/29594. Did you see this happen again?

[2016-08-12 16:39] jingxu97 commented on #26662
fixed by #29859

[2016-08-12 16:39] #26662 closed

[2016-08-12 17:13] errordeveloper commented on #12907
I'm closing this because docs are in a different repo now.

[2016-08-12 17:13] #12907 closed

[2016-08-12 17:15] fabianofranz commented on #13522
This issue was fixed by the [latest Cobra rebase](https://github.com/kubernetes/kubernetes/issues/29852), someone mind closing?

[2016-08-12 17:16] jlowdermilk commented on #30395
Big +1 for loading context from environment. I do think it's still worth keeping a file-based context object though. What do you think of adding a single context source. Example object

[code]

Context would be loaded from a default path of `${HOME}/.kube/context`. Path to context would be overwriteable by specifying `KUBE_CONTEXT` similar to how you can currently pass `KUBECONFIG` to load from a

[2016-08-12 17:16] errordeveloper opened #30515 "kubelet with --kubeconfig=... still requires --api-servers=..."
For the work we are doing at @kubernetes/sig-cluster-lifecycle (https://github.com/kubernetes/kubernetes/pull/30360), it'd make things much easier if we could make kubelet wait for the config file when it's not there and expect to find the API server URL in that file, rather then expect `--api-servers=...` like it does right now.

[2016-08-12 17:17] errordeveloper commented on #30515
cc @mikedanese

[2016-08-12 17:18] smarterclayton commented on #28718
We definitely want to do what we can to enable those people who are able to
return to trusting DNS (I think DNS in general has improved by leaps and
bounds outside of the enterprise in the intervening years), but we'll have
to have some fallback for those who are dependent on not trusting it until
a few years down the road when they can relax that dependency.  HAProxy is
a good example of having a

[2016-08-12 17:18] #13522 closed

[2016-08-12 17:22] Random-Liu commented on #30491
@kubernetes/sig-scheduling Is there a way to schedule daemonset only on nodes? (non-master)

[2016-08-12 17:33] girishkalele commented on #30100
cc @kargakis @janetkuo

Looks like this just recently got flaky.

[2016-08-12 17:36] macb commented on #20497
Feel like I might be running into this as well but I'm unsure after reading most of the comments above.
[code]

After bumping up the verbosity of logs and restarting `kubelet` I see:
[code]

Nothing more about that pod in the logs after that. Is this the same behavior or should I open a new issue?

[code]
Resulted in an actual deletion of the pod as expected.

[2016-08-12 17:36] yujuhong commented on #29871
I think we should acknowledge that resource management for VMs is different from that for containers. The complexity is even higher if there are both containers and VMs running on the node. Simply specifying a pod sandbox resource requirement in the API doesn't solve all the issues, and could be misleading. I propose that we remove the current pod sandbox resource, and address the issue later more

[2016-08-12 17:37] girishkalele commented on #30473
Looks like an intermittent godep fetch error.

*godep: error downloading dep (golang.org/x/oauth2/jwt): unrecognized import path "golang.org/x/oauth2/jwt"*

[code]

[2016-08-12 17:39] girishkalele commented on #30473
Closing and will wait for merge-robot to reopen.

[2016-08-12 17:39] #30473 closed

[2016-08-12 17:47] mikedanese commented on #30515
Ya I noticed this one time and it annoyed me. I think you mean --kubeconfig and not --config?

[2016-08-12 17:51] bprashanth commented on #30491
Use affinity/selectors? http://kubernetes.io/docs/admin/daemons/#running-pods-on-only-some-nodes

[2016-08-12 17:56] dchen1107 commented on #29871
@yujuhong Agreed with above. Again, we are going to iterate the API many times, before and after we have first version of CRI implementation ready.

@feiskyer

We talked about UpdatePodSandbox internally before the first proposal was out for community review. Yes, we might need it later, but it is not required for today's use cases. Thus, we punt it for cutting the complexity.

[2016-08-12 18:00] Random-Liu commented on #30491
@bprashanth It seems that there is no built-in labels to distinguish master and node https://github.com/kubernetes/kubernetes.github.io/blob/release-1.3/docs/user-guide/node-selection/index.md#built-in-node-labels.
I don't think we want to use whether the node name contains "master" or "minion" to figure out that. :)

[2016-08-12 18:03] mikedanese commented on #30515
The problem with fixing this is that `len(--api-servers) == 0` is overloaded to mean run in standalone mode. That's not the case if apiservers were specified in the kubeconfig. cc @kubernetes/goog-node

[2016-08-12 18:13] ProTip opened #30518 "AWS Feature: Support for application load balancer"
[ELBv2](http://docs.aws.amazon.com/elasticloadbalancing/latest/application/introduction.html) supports layer 7 load balancing. Surprisingly it's already GA and integrated with ECS. It would be great if kubernetes supported hooking up services to a specific ELB instance with path rules.

[2016-08-12 18:18] k8s-merge-robot opened #30519 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1973/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #28657

[2016-08-12 18:22] timothysc commented on #29001
k, we should open new other items discussed in this issue then too.

[2016-08-12 18:22] #29001 closed

[2016-08-12 18:32] bprashanth commented on #30491
Just add it? kubelet knows when it's running headless anyway right?

[2016-08-12 18:33] bprashanth commented on #30491
By "headless" i meant running on the master

[2016-08-12 18:34] k8s-merge-robot opened #30523 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/136/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval {E2eNode Suite}

[code]

[2016-08-12 18:34] k8s-merge-robot opened #30524 "[k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 10 background pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/139/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 10 background pods {E2eNode Suite}

[code]

[2016-08-12 18:34] k8s-merge-robot opened #30525 "[k8s.io] Resource-usage [Serial] [Slow] regular resource usage tracking resource tracking for 10 pods per node {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/137/

Failed: [k8s.io] Resource-usage [Serial] [Slow] regular resource usage tracking resource tracking for 10 pods per node {E2eNode Suite}

[code]

[2016-08-12 18:34] k8s-merge-robot opened #30526 "[k8s.io] [Feature:Example] [k8s.io] Redis should create and stop redis servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13804/

Failed: [k8s.io] [Feature:Example] [k8s.io] Redis should create and stop redis servers {Kubernetes e2e suite}

[code]

Previous issues for this test: #27727 #27811

[2016-08-12 18:36] Random-Liu commented on #29252
Found a small thing we need to pay attention for docker implementation. Offline discussed with @yujuhong.

Currently, all labels and annotations we write to the container at the runtime interface level are compatible with what we have today.
However, currently in docker shim there is no good way to distinguish annotations and labels unless we add some special prefix or suffix. No matter what we ad

[2016-08-12 18:42] bprashanth commented on #28687
I'd expect daemonsets to just not schedule on unschedulable nodes, is that not the case (it isn't now, I'm asking if that's by design)?

[2016-08-12 18:44] Random-Liu commented on #28687
Currently, there is still no good way avoid DaemonSet running on master.

Even though we've let DaemonSet to respect affinity https://github.com/kubernetes/kubernetes/pull/28803. However, there is no node label to distinguish master and node.

Should we add master and node labels? Or should we just add some kind of mechanism to let DaemonSet respect Unschedulable if we need that.

Ref #30491.

[2016-08-12 18:44] k8s-merge-robot opened #30527 "kubelet-serial-gce-e2e-ci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/142/

Run so broken it didn't make JUnit output!

[2016-08-12 18:47] foxish commented on #27796
@caniszczyk Any updates on this? Please let me know if there is something blocking this effort, and I can try and help out.

[2016-08-12 19:03] vishh commented on #30463
@dchen1104 clarified this issue a bit yesterday. There are two problems
combined in this issue.

1. Kubelet needing a key to identify containers via the CRI - Kubelet can
either use a human friendly name or a UUID or whatever; it doesn't really
matter to the end user.

2. Runtimes exposing the container name to humans via their UX - I don't
think kubelet should influence the UX of runtimes. Docker

[2016-08-12 19:07] #30377 closed

[2016-08-12 19:07] #30264 closed

[2016-08-12 19:14] liggitt opened #30530 "Events can be created where involvedObject.Namespace != event.Namespace"
[code]

event validation tries to determine if it should enforce the involvedObject namespace, but if it fails to look up the involvedObject's kind, it allows any namespace.

[2016-08-12 19:24] #30410 closed

[2016-08-12 19:32] nvnobelen opened #30531 "Incorrect IP address routed(?) to container"
This is on a **fresh GCE Kubernetes 1.3.5** cluster created with the stock **kube-up.sh** script
In testing nginx logging (can be replicated with any other ip logging), the following can be observed:

The behaviour has also been observed on a 1.2.4 & 1.2.6 cluster (no other versions tested)

Kubernetes version: 1.2.4 & 1.2.6, 1.3.5

Environment:
1.2.6:
- Google Cloud Engine
- container-vm-v2016032

[2016-08-12 19:34] bprashanth opened #30532 "Update https-nginx example to use config map"
Store https://github.com/kubernetes/kubernetes/blob/master/examples/https-nginx/default.conf in a config map, and setup an inotify in the container that reloads nginx when it changes. This is a pretty common pattern and we don't have an example that shows how it's done. Also document how to update the nginx configmap using kubectl, and how to translate nginx.conf to a kubernetes configmap (probabl

[2016-08-12 19:38] yujuhong commented on #30463
I agree that this is the ideal situation, as I've mentioned a couple of times in the previous comment. While we are working towards that, let's at least ensure that there is no apparent regression in user experience today.

Hmm...yes, but most calls in CRI rely on container ID, instead of names. I think name scan truly be regarded as auxiliary information for users.

I don't think we can influence

[2016-08-12 19:44] derekwaynecarr opened #30534 "kubelet waits too long to report container runtime is down"
The `kubelet` has a constant `maxWaitForContainerRuntime` that is set at 5 minutes.
see: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L105

If `docker` daemon goes down, and it is unable to restart for any reason (storage is corrupt, etc.), the `kubelet` will wait for 5 minutes before reporting the node as `NotReady`.  This is because that wait period is plumbed thro

[2016-08-12 19:54] liggitt commented on #30530
Just realized this only manifests when running with https://github.com/kubernetes/kubernetes/pull/16146, will close in lieu of https://github.com/kubernetes/kubernetes/issues/16036

[2016-08-12 19:54] #30530 closed

[2016-08-12 20:05] derekwaynecarr opened #30536 "node controller does not evict pods properly"
Any of the following scenarios can block `Namespace` deletion:

1. If a node has a single terminating pod, it is never evicted.
 * see deletePod, remaining will always be false if all pods are already terminating, see: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/controller_utils.go#L105
1. If all nodes in a cluster report `NotReady`, no pod is ever evicted, and namespa

[2016-08-12 20:07] jeffvance commented on #23982
@matchstick I'd like to reassign this to @screeley44 but don't have permissions.

[2016-08-12 20:09] derekwaynecarr commented on #30536
To be clear, if anything other than node controller sets `TerminationGracePeriodSeconds` on a pod, the node controller will not evict that pod if its the only pod on the node.

[2016-08-12 20:14] randalloveson opened #30537 "API reference has incorrect response schema for many delete calls"
The API reference seems to assume a response schema of unversioned.Status for all delete calls, individual or collection. In reality, the response schema differers from resource to resource, and for some it is correct, but for many the response schema is actually an individual or list of the given resource. For example, the delete call for the Pod resource returns a Pod and a PodList for the indiv

[2016-08-12 20:16] derekwaynecarr commented on #30536
Related https://bugzilla.redhat.com/show_bug.cgi?id=1364243

[2016-08-12 20:21] quinton-hoole commented on #29384
This can be closed now, right @mwielgus ?

[2016-08-12 20:24] quinton-hoole commented on #29344
@madhusudancs @bprashanth Is @madhusudancs doing this?

[2016-08-12 20:26] mwielgus commented on #29384
Yes, fixed with #30126.

[2016-08-12 20:26] #29384 closed

[2016-08-12 20:27] derekwaynecarr commented on #30536
I would like to get a fix in node controller for kube 1.4 that fixes the pod never being deleted iff its only pod on that node and its already terminating.

[2016-08-12 20:28] yissachar commented on #16047
You can do this with a [beta annotation](https://github.com/kubernetes/kubernetes/issues/17620#issuecomment-212508777):

[code]

[2016-08-12 20:29] mikedanese commented on #30537
Delete returns inconsistently across types. Too late to do anything about this?

cc @bgrant0607 @kubernetes/api-review-team

[2016-08-12 20:38] timothysc commented on #30329
Debugging an issue of a single controller from the assortment of cross-cutting behaviors has become obtuse at best now-a-days.  It's compounded by the fact that we are sharing data, notifications, and locks now.

[2016-08-12 20:40] ConnorDoyle commented on #24321
What's the current status of this feature? Is help needed to get this one over the finish line for 1.4?

[2016-08-12 20:50] ConnorDoyle commented on #28082
What's the status of this feature? Is any help needed to get this across the finish line for the 1.4 target?

[2016-08-12 20:50] mwielgus opened #30538 "Remove hacky workaroud for lack cluster name in object meta."
Depends on #28921. The workaround was added in #30126.

cc: @quinton-hoole @kubernetes/sig-cluster-federation

[2016-08-12 20:51] nvnobelen commented on #30531
This seems to be related to https://github.com/kubernetes/kubernetes/issues/3760

[2016-08-12 20:57] timothysc commented on #28687
imho is DaemonSet does not respect "Unschedulable", then that is a bug.

[2016-08-12 20:57] smarterclayton commented on #30329
I think the rule of thumb here is somewhere in the middle ground of "all split" or "all shared".  It should probably be grouped by:

* Common data set (multiple controllers dealing with pod lifecycle exclusively)
* Common objectives (things that deal with volumes)
* Things that are bulk "replaced" should be split out (scheduler)
* Split because they depend on external tools that change at differen

[2016-08-12 20:58] smarterclayton commented on #30536
The line of code you copied should be mirrored by "terminatePods" which
does not already ignore pods.  There are two loops - one to ensure pods are
deleted, and one to monitor when they exceed their limit.

On Fri, Aug 12, 2016 at 4:27 PM, Derek Carr <notifications@github.com>
wrote:

[2016-08-12 21:01] smarterclayton commented on #30536
Nm, I see that you meant "remaining" should be set to true by this loop in
this condition, which it should.

On Fri, Aug 12, 2016 at 4:58 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-08-12 21:05] nvnobelen commented on #30531
And 1.4-alpha2 still has this issue despite posted fixes

[2016-08-12 21:09] nvnobelen commented on #24145
@pires Just tested 1.4-alpha2 for issue #10921/#28467: Does not work in alpha2 as expected (or do I misinterpret the state "closed" here as something is really in the branch):

Log output in an nginx container:

[code]

Source info/bug report in https://github.com/kubernetes/kubernetes/issues/30531

[2016-08-12 21:12] bgrant0607 commented on #30537
IIRC, part of the problem was that we couldn't express in Swagger 1.2 that one type was returned in the case of success and another was returned in the case of failure.

cc @lavalamp @mbohlool

[2016-08-12 21:15] smarterclayton commented on #30515
I just noticed this in #29216 and I agree - clients of the API should use
kubeconfig if they are part of our codebase.

On Fri, Aug 12, 2016 at 1:47 PM, Mike Danese <notifications@github.com>
wrote:

[2016-08-12 21:17] nvnobelen commented on #30531
Issue is still in the development queue as it turns out: https://github.com/kubernetes/kubernetes/pull/30105

[2016-08-12 21:17] #30531 closed

[2016-08-12 21:18] bprashanth commented on #24145
@nvnobelen source ip was never preserved for ingress traffic through services.Type=LoadBalancer. That's what https://github.com/kubernetes/kubernetes/issues/24145#issuecomment-233007696 is about. For *intra* cluster traffic through the service vip, you should see the right source ip of the pod in nginx logs, if that doesn't work it's a regression (https://github.com/kubernetes/kubernetes/issues/27

[2016-08-12 21:18] nikhiljindal opened #30541 "Generate API reference docs for federation API"
Similar to: http://kubernetes.io/docs/api-reference/v1/definitions/

Without it there is no way for users to figure out the structure for a Cluster object without having to look at our code.

cc @kubernetes/sig-cluster-federation

[2016-08-12 21:18] randalloveson commented on #30537
@bgrant0607 it would be nice to sum up that quirk in a note somewhere, since it's true of all the API calls. However, this issue is about calls where the documentation specifies an incorrect response schema for the _successful_ responses, and that successful delete response's schemas are inconsistent from resource type to resource type.

[2016-08-12 21:20] k8s-merge-robot opened #30542 "[k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21520/

Failed: [k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}

[code]

[2016-08-12 21:22] nikhiljindal opened #30543 "Setup federation e2e on AWS and GKE"
Forked from https://github.com/kubernetes/kubernetes/issues/23653.

@colhom  is working on this. Assigning it to him.

cc @kubernetes/sig-cluster-federation

[2016-08-12 21:23] madhusudancs opened #30544 "Decide the domain name infix for the Ingress entries in KubeDNS"
Discovery DNS records for services take the form `mysvc.myns.svc.cluster.local.` with `svc` as the constant infix for services. We also want to make ingresses discoverable by publishing their DNS records. PR #29768 already does that. It uses the infix constant `ing` to indicate that a record belongs to an ingress resource. We need to decide if `ing` is the appropriate constant for ingresses.

cc @

[2016-08-12 21:23] nikhiljindal commented on #30543
Actually cant assign it to him. But he is working on it

[2016-08-12 21:27] mikedanese commented on #30537
From my experimenting:

* Succesful deletion of a single CertificateSigningRequest returns *not* pretty printed unversioned.Status
* Succesful deletion of all CertificateSigningRequest returns *not* pretty printed CertificateSigningRequestList
* Failed deletion of a single Pod returns pretty printed unversioned.Status
* Succesful deletion of a pod returns pretty printed Pod

[2016-08-12 21:29] quinton-hoole commented on #30544
Thanks @madhusudancs for opening this tracking issue to make sure that it doesn't get lost.  @thockin @matchstick In particular (copy of my review comment in #29768):

@thockin @bprashanth Any objections to this? It's the equivalent to '.svc' for services. _What process do we need to follow to take this out of Alpha? Is it a big enough decision to drag through the networking/API SIG's? I suspect n

[2016-08-12 21:32] randalloveson commented on #30537
I think REST dictates that for a synchronous delete, the body for a 200 response should be the entity deleted. So the Pod API is an example of good RESTful behavior, and the CertificateSigningRequest API is incorrect.

[2016-08-12 21:32] madhusudancs commented on #29344
May be misunderstand something, but why do we need this in the status? As a reference, we don't do this for services.

[2016-08-12 21:42] dchen1107 commented on #30463
@vishh, @yujuhong and I had an offline discussion, and agreed upon

* No one is happy with today's name schema, which was introduced to Kubelet due to the legacy reason, but that is a separate issue. We might or might not clean up that mess through CRI work.
* Then there are two separate issues based on above agreement which is listed at https://github.com/kubernetes/kubernetes/issues/30463#issuec

[2016-08-12 21:54] jingxu97 commented on #29324
@atombender , thanks for the log. Could you also please share your deployment spec with us? Thanks!

[2016-08-12 21:54] Random-Liu commented on #28698
Just FYI, till this morning all continuous docker validation node e2e tests are green.
However, this noon, we've got a red build.
During the test, all of a sudden, all docker operations start to timeout:
[code]

In kernel log and docker log, no clue is found around that time:
Kernel log:
[code]
Docker log:
[code]

[2016-08-12 21:58] yujuhong commented on #30463
@dchen1107 I know I've agreed to this, but after thinking more about it, the semantics are a little bit different from how it is in the kubernetes API. The name will only be unique among "running" containers. The runtime will reject the creation request if there is already a running container with the same name, but it'd accept the request if there are only exited containers with that name. This d

[2016-08-12 22:00] k8s-merge-robot opened #30548 "[k8s.io] Pods should contain environment variables for services [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30200/node-pull-build-e2e-test/18598/

Failed: [k8s.io] Pods should contain environment variables for services [Conformance] {E2eNode Suite}

[code]

Happened on a presubmit run in #30200.

[2016-08-12 22:00] k8s-merge-robot opened #30549 "[k8s.io] ScheduledJob should not schedule new jobs when ForbidConcurrent {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30466/kubernetes-pull-build-test-e2e-gce/53264/

Failed: [k8s.io] ScheduledJob should not schedule new jobs when ForbidConcurrent {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30466.

[2016-08-12 22:01] pwittrock commented on #29838
@AdoHe Would you be able to get @krmayankk some direction on how to fix this?

[2016-08-12 22:01] yujuhong commented on #28698
@Random-Liu what's the link to the build?

[2016-08-12 22:03] colhom commented on #30543
@nikhiljindal yep!

[2016-08-12 22:13] Random-Liu opened #30550 "Node E2E: Memory eviction test cause pods in following test being evicted."
We need an issue to track this.

Recently we added the memory eviction test https://github.com/kubernetes/kubernetes/pull/28693.
Currently, it is running in the serial test job. However, after adding it all test running after it could not start pod.

They all failed with the reason `Evicted: The node was low on compute resources.`.

Currently, we are not sure that:
* Is this because the memory is

[2016-08-12 22:24] Random-Liu commented on #28698
Here is the link: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/continuous-node-e2e-docker-validation-gci/94

[2016-08-12 22:31] quinton-hoole commented on #29344
@madhusudancs In that case my apologies, I should have checked that first.  Closing as "not required".

[2016-08-12 22:31] #29344 closed

[2016-08-12 22:38] gene-telligent commented on #30495
The problems seem to stem from this commit:
https://github.com/kubernetes/kubernetes/commit/14b16628f87c71715e6264be9ca6d48161857196

and was fixed here (which hasn't made it into the current release!)
https://github.com/kubernetes/kubernetes/commit/49da8298c9fe77f28243b082f0b77ef5bffd4293

A workaround is to manually apply that second commit -- edit the cluster/aws/config-default.sh file and rena

[2016-08-12 22:38] thockin commented on #30463
Jumping in late, off-the-cuff thoughts.

The actual name of the container should be the runtime's decision.  We don't want to know what characters are allowed or what length-limit exists in each runtime.  We should encourage runtimes to:
a) use names such that a human has a chance of figuring out which containers are kube
b) use names such that hand-started containers don't conflict with kube ones

[2016-08-12 22:41] ConnorDoyle commented on #28312
A preliminary design doc for this feature is here: https://goo.gl/iJW2yq

[2016-08-12 22:42] ConnorDoyle commented on #28313
Started working on design for this feature here: https://goo.gl/iLepbC

[2016-08-12 23:05] jingxu97 opened #30553 "Refactor reconciler code"
Refactor reconciler code in /pkg/kubelet/volumemanager/reconciler/reconciler.go

[2016-08-12 23:07] atombender commented on #29324
I don't have it right here, but I basically just use an AWS volume in the pod declaration (_not_ a persistent vol + claim) and a single volume mount.

I will send you the actual file later when I am back before a screen.

[2016-08-12 23:12] yujuhong commented on #30463
@thockin, I agree with most of your comment except this part.

If you attempt to create a pod with (foo, bar) as the (name, namespace) tuple, and (foo, bar) already exists, the apiserver will reject such a request regardless whether (foo, bar) is running or terminated.
In kubelet's case, the container runtime (and the shim) will create a new container on such a request *if there is no running cont

[2016-08-12 23:17] feiskyer commented on #30463
By the way, there are no pod namespace or pod UID in today's CRI interface (ContainerConfig and PodSandboxConfig). I was thinking they are included in `name` by initial. I think they are expected in sandbox/container name for easy debugging.

[2016-08-12 23:19] jingxu97 opened #30555 "Need to add more information in pv and pvc description"
I noticed that from a user's bug report that AWS EC2 api that it can give more useful information about a volume. For example, aws can give information about attachment (time, vm-id, state, device name, iops, snapshot id, ...). From kubelet describe, I could not find out whether a pvc and its bounded pv is attached to a node or not.

[code]

The following shows what we can get from describing a pv

[2016-08-12 23:19] jingxu97 commented on #29324
@atombender thanks for your response. Also the log file you posted only has some error messages. Do you still have the kubelet full log on the instance? Thanks!

[2016-08-12 23:23] atombender commented on #29324
That is the full log. (I have kept the logs all the way from when I started using K8s.) I believe I extracted the right time range.

FWIW, I don't think K8s logged much in terms of errors (though you will see some in the KCM log). In fact, that's kind of the point -- it attached the wrong thing, without erroring.

[2016-08-12 23:25] jingxu97 commented on #29324
@sstarcher  I followed your steps but with gce disks, and it seems mounting correctly. Could you please share the kubelet logs so that I can do some debugging? Thanks!

[2016-08-12 23:27] vishh commented on #30550
Quite possible. Memory reclamation is typically slower than pod creation and deletion.
We should have the test ensure that memory has been reclaimed before it exits.

[2016-08-12 23:34] dchen1107 commented on #30463
@yujuhong Looks like I misuse the word key in above statement (https://github.com/kubernetes/kubernetes/issues/30463#issuecomment-239566831). But we did talk about this, and I do mean at a given time, within a pod in a namespace (Thanks @thockin to add this to tuple too in below comment), there should be one and only one container with the same name running.

@thockin, I totally agree with your co

[2016-08-12 23:34] jingxu97 commented on #29324
@atombender From KCM log, I only see attach and detach once. But it seems that you created two deployments, and it should have two attach log. From kubelet log, they are all error messages (unable to mount, unable to cleanup), but there is no information log.

[2016-08-12 23:34] ronnielai commented on #30550
There's also eviction-pressure-transition-period, which determines how fast the node pressure condition can be relieved after the resource is reclaimed. So ideally the test should also check the node's pressure condition is eventually gone after eviction happens.

[2016-08-12 23:35] feiskyer commented on #29252
@Random-Liu How about still storing annotations into labels, but with another label identifying what keys should be in annotations for new runtime API?

[2016-08-12 23:36] vishh commented on #30550
That's a great suggestion!

On Fri, Aug 12, 2016 at 4:35 PM, ronnielai <notifications@github.com> wrote:

[2016-08-12 23:51] Random-Liu commented on #29252
@feiskyer Good idea! But even though, for old containers which don't have the identifying label, we still don't know which is label, which is annotation. :)

[2016-08-12 23:54] jeffvance commented on #28393
#28195 is closed and replaced by #29479 which is not yet merged. Therefore the e2e_node/summary_test.go file does not yet exist. I'll start looking into adding secret tests to e2e_node/kubelet_test.go

[2016-08-12 23:54] pwittrock commented on #30493
@AdoHe Thanks

[2016-08-12 23:57] pwittrock commented on #30493
@AdoHe Wasn't sure how to reach out to you, so doing it here.  :) I'd be interested in getting your insight on onboarding kubectl maintainers.  My kubernetes.slack.com id is pwittrock.  Send me a direct message on slack when you are free.

[2016-08-13 00:03] pwittrock opened #30558 "Support updating config map and secret with --from-file"
It is possible to create a config map using `kubectl create configmap foo --from-file bar.txt`.  We support similarly updating the config map using `kubectl update configmap foo --from-file bar.txt`.

[2016-08-13 00:05] mtaufen commented on #30550
/cc @dawnchen

Dawn and I had a chat about this the other day after I had originally put
up a PR to wait for a decent chunk of memory to be available after the
test. My understanding from our conversation is that, because the charge
for the pages in a container's cgroup is re-parented to the root cgroup
when that container is removed, certain kinds of pages can stick around for
quite some time, an

[2016-08-13 00:08] freehan commented on #29148
If SetUpPod return error, kubelet will tear down and recreate the pod.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L2018

[2016-08-13 00:09] yujuhong commented on #30463
It can still be included in the name.

[2016-08-13 00:13] feiskyer commented on #29871
@dchen1107 Thanks. It's ok for now. we can iterate resource management later after first version of CRI implementation ready.

[2016-08-13 00:16] freehan commented on #29148
What if we just fail the pod setup? If no valid pod ip can be retrieved after a successful SetUpPod. No need for a "unknown" state.

Only need to check and declare failure here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L2052

[2016-08-13 00:19] feiskyer commented on #30463
A problem of this is  if kubelet concat a container name and runtimes concat another name based on it, there may an underlying hypothesis that runtimes knows how kubelet concat the container name, e.g. if `_` is already used, then runtimes should use other character for concating.

[2016-08-13 00:23] yujuhong commented on #30463
Yes, that's exactly my question in https://github.com/kubernetes/kubernetes/issues/30463#issuecomment-239581550. We'd be mixing container creation and start by enforcing this. I feel like we are asking the runtime to expose primitives via CRI, while expecting it to adhere to policy across rpc calls, and I don't like that.

That said, I think people agree on having a simpler name in CRI and let the

[2016-08-13 00:27] yujuhong commented on #30463
I think it's debatable whether runtime actually needs to know the pod UID, name, and namespace. I don't see actual value of clobbering CRI with these additional fields. What is runtime going to do with it?

[2016-08-13 00:28] lixiaobing10051267 opened #30561 "[k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent 1m54s"
PR #30492 test fail:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30492/kubernetes-pull-build-test-e2e-gce/53291

[k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent 1m54s
go run hack/e2e.go -v -test --test_args='--ginkgo.focus=ScheduledJob\sshould\sreplace\sjobs\swhen\sReplaceConcurrent$'
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernete

[2016-08-13 00:34] johndoee21 commented on #30367
Have the same issue here and was able to troubleshoot a bit more. Manually running the easyrsa command leads to the following error message:

[code]

[2016-08-13 00:38] ctrlaltdel commented on #30367
Have the same issue here and was able to troubleshoot a bit more. Manually running the easyrsa command leads to the following error message:

[code]

[2016-08-13 00:40] pwittrock opened #30562 "Refactor kubectl command options to use common struct for common file params"
The commands under pkg/kubectl/cmd/*.go all redefine the same go struct options for passing to the file visitor (e.g. FooOptions all contain "Filename []string").  Factor this out into a common struct that the individual options can embed (using go struct embedding), and then update the functions that take the arguments to take the common struct instead.

[2016-08-13 00:48] ctrlaltdel commented on #30367
This error doesn't appear when the `nodes` environment variable contains ip addresses instead of hostnames. Looks like a user (or documentation) issue.

[2016-08-13 00:49] atombender commented on #29324
I _may_ have done the other deploy the day before. I will get you logs going farther back in time.

[2016-08-13 00:55] vishh commented on #30550
when the container is killed, but this came up as a concern.

They are RSS pages, and so we can force the kernel to reclaim pages. I can
talk to you offline about this.

On Fri, Aug 12, 2016 at 5:05 PM, Michael Taufen <notifications@github.com>
wrote:

[2016-08-13 00:58] sstarcher commented on #29324
@jingxu97 I don't have the same exact setup anymore.  I'll attempt to reproduce on monday if possible.

[2016-08-13 01:22] k8s-merge-robot opened #30566 "[k8s.io] Pods should be submitted and removed [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30564/node-pull-build-e2e-test/18635/

Failed: [k8s.io] Pods should be submitted and removed [Conformance] {E2eNode Suite}

[code]

Happened on a presubmit run in #30564.

[2016-08-13 02:12] k8s-merge-robot opened #30567 "[k8s.io] Pods should support retrieving logs from the container over websockets {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30251/node-pull-build-e2e-test/18644/

Failed: [k8s.io] Pods should support retrieving logs from the container over websockets {E2eNode Suite}

[code]

Happened on a presubmit run in #30251.

[2016-08-13 02:20] mtaufen commented on #30515
I guess one thing we could do is add a `--standalone` flag, and if the flag is not provided we use the existing behavior of 0-len `--api-servers`, but if it is provided, `--api-servers` is ignored. So if you want to just use the URLs from the config file, you can explicitly pass `--standalone=false`. And eventually we move to deprecating `--api-servers`, setting `--standalone=false` by default, an

[2016-08-13 02:21] rwillard commented on #30484
Code's been modified to not keep the connection alive, but still having this issue. Sending Connection: 'close' in the headers.

[2016-08-13 02:28] #29148 closed

[2016-08-13 02:52] k82cn commented on #29901
That's great, but not sure whether it support other register, e.g. Harbor. cc @estesp

@luxas , for the "hard part", I think it dependent on user's input; for example, it user define wrong images name, k8s will report an error event.

[2016-08-13 03:58] #16504 closed

[2016-08-13 04:20] AdoHe commented on #30493
[code]
@pwittrock I don't work for these great companies, I work for Alibaba.com, so I am afraid I can't sign in to kubernetes.slack.com. It would be great if I can onboard kubectl maintainers, really look forward to make kubernetes better and better.

[2016-08-13 04:22] thockin commented on #30493
go to http://slack.kubernetes.io and get a free invite :)

On Fri, Aug 12, 2016 at 9:21 PM, TonyAdo <notifications@github.com> wrote:

[2016-08-13 04:25] bgrant0607 commented on #30537
@randalloveson Yes, unfortunately there are many quirks. Please add this to #25716.

If you're interested in helping, check out SIG API machinery.
https://github.com/kubernetes/community/

[2016-08-13 04:28] AdoHe commented on #30493
@thockin Thanks very much :) I just joined.

[2016-08-13 04:33] AdoHe commented on #29838
@pwittrock sure, I would talk to @krmayankk directly later.

[2016-08-13 05:08] #30323 closed

[2016-08-13 05:14] thockin commented on #30463
On Fri, Aug 12, 2016 at 4:13 PM, Yu-Ju Hong <notifications@github.com> wrote:

This is a good point.  OK.

So, do we then expect the kubelet core to keep track of "attempts" for
each container and feed that to the runtime?  E.g. "create container
ns_pod_ctr_6"?  What prevents us from accidentally creating
ns_pod_ctr_7 while 6 is still running?

Or does it make more sense to say ""create container

[2016-08-13 05:18] thockin commented on #30463
My point about naming is that we don't really know what names are allowed,
so we should keep it as simple as possible.  Instead of
`containerName_podName_podNamespace`, perhaps we should be passing a struct
/ tuple of individual tokens and letting the runtime decide what to do with
it.

On Fri, Aug 12, 2016 at 5:24 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-13 06:03] #30239 closed

[2016-08-13 06:22] feiskyer commented on #30463
runtimes may generate names based on those fields and they are good for debugging. For example, if it's already known there is something wrong with a pod, users don't need to filter labels/annotations to find the sandbox/containers.

Agree with this, if we are not tending to generate container/sandbox names inside kubelet. We can just pass the container name with Pod name/namespace/uid together to

[2016-08-13 06:42] #30355 closed

[2016-08-13 06:44] sundarams73tech commented on #30495
+1

[2016-08-13 06:49] sundarams73 commented on #30495
+1

[2016-08-13 06:54] silasbw commented on #24078
`kubectl command -n myns` would be an improvement for me: it's noticeably shorter than `--namespace`.

Does `-n` introduce ambiguities with other flags?  or introduce some other issue?  or is the hope that there's a nicer unambiguous solution (e.g., something similar to the original proposal)?

[2016-08-13 07:20] #30371 closed

[2016-08-13 08:15] AdoHe commented on #30337
/cc @AdoHe

[2016-08-13 08:55] k8s-merge-robot opened #30570 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13538/

Run so broken it didn't make JUnit output!

[2016-08-13 09:49] errordeveloper commented on #30515
Certainly we need a new flag. It seem like adding `--standalone` would sacrifice backwards compatibility, if this is a popular feature... I've briefly thought of something like `--wait-for-kubeconfig`, but may be we don't need a flag for it, and it could be just the new behaviour. What do people think about waiting for the kubeconfig file? Of course, there is one downside that `Config` type only a

[2016-08-13 13:13] kevin-wangzefeng commented on #28082
It is included in #30191 since forgiveness depends on it.

[2016-08-13 14:55] luxas commented on #30558
+100

[2016-08-13 15:01] arjunm183 commented on #24513
I am not sure about AWS how it works. Since i work on baremetal and i use NodePort for exposing the service.

[2016-08-13 15:08] hpejustin commented on #29846
This may happens when the resource usage of the target node increased after the pod has been scheduled to it but before final predict before run by kubelet. Kubelet do final predict to determine if the pod should be run via canAdmitPod functions, which consist of some predict functions. Among all the predicts functions, one is about resource which name is PodFitsResources. This function is also th

[2016-08-13 15:20] k8s-merge-robot opened #30571 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1926/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27479 #27675 #28097

[2016-08-13 15:52] tobegit3hub opened #30572 "NodePort doesn't work properly for kube-up with Ubuntu Provider"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**:  3 `AWS g2.8xlarge instances` cluster
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`): `Linux ip-10-69-1-246 3.13.0-91-generic #138-Ubuntu SMP Fri Jun 24 17:00:34 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

**What happened**:

I have containerized the

[2016-08-13 16:00] k8s-merge-robot opened #30573 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/2810/

Run so broken it didn't make JUnit output!

[2016-08-13 16:25] im-di commented on #30495
This commit not resolve the problem: https://github.com/kubernetes/kubernetes/commit/49da8298c9fe77f28243b082f0b77ef5bffd4293
As temporary workaround:
`KUBE_MANIFESTS_TAR_URL="${SERVER_BINARY_TAR_URL/server-linux-amd64/manifests}"`
In cluster/common.sh:516
[code]

[2016-08-13 17:48] davidopp commented on #28082
@ConnorDoyle can you say more about what functionality you are looking for?

The "evict pod when taint is not tolerated" behavior will definitely not be in 1.4 (except for a very special case that's handled in #30191). I'm hoping #30191 will get into 1.4 but there is still some work needed on that PR.

[2016-08-13 18:30] #26045 closed

[2016-08-13 19:12] mesmerizingr commented on #29903
@mheese `1.3.4` upgrade has been rolled out. Let your deployments be as stable as possible! 🖖🏻

[2016-08-13 21:55] kevincox opened #30576 "Allow running pod without any image."
It would be awesome to be able to simply run a command on the host instead of having to run a command inside a docker image. This would be similar to running a Marathon app with `command` instead of `container`. This command would then be run inside of whichever cgroups or selinux context was requested in the config.

[2016-08-13 22:41] k8s-merge-robot opened #30578 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15720/

Run so broken it didn't make JUnit output!

[2016-08-13 23:46] colemickens opened #30580 "kubelet fails to launch static pods: "inspected image [] does not match []""
I'm launching master components from static pods with kubelet. `kubelet` won't launch my pods. Gives this error:

[code]

I suspect this very recent change: https://github.com/kubernetes/kubernetes/commit/875fd16e1e1958b95ab96c4c9c9f672817bb9cfe

Can you advise anything @dims?

[code]

[2016-08-13 23:58] chrislovecnm commented on #28718
@smarterclayton - should we hijack a sig apps session for design? Like to get the right people on a video call and bang out at least a rough draft.

[2016-08-14 00:10] #25570 closed

[2016-08-14 00:43] rca commented on #24229
+1 for `kubectl get --export`; thanks for the tip!

@lavalamp I think i'm pretty close with respect to keeping things in version control, but am missing a way to have what's in version control define what's in the cluster.  For example, say I create a service `foo` and create a `services/foo.yml` file.  I then apply it to the cluster with `kubectl apply -f services/foo.yml`.  When I no longer want

[2016-08-14 01:04] AdoHe commented on #30576
@kubernetes/kubectl any thoughts on this?

[2016-08-14 01:18] #27648 closed

[2016-08-14 03:11] k8s-merge-robot opened #30581 "[k8s.io] [Feature:Example] [k8s.io] RethinkDB should create and stop rethinkdb servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13849/

Failed: [k8s.io] [Feature:Example] [k8s.io] RethinkDB should create and stop rethinkdb servers {Kubernetes e2e suite}

[code]

[2016-08-14 03:14] dims commented on #30580
@colemickens - Can you please check if https://github.com/kubernetes/kubernetes/pull/30582 works for you? fyi, i am off on vacation for a week so response may be a bit slow

[2016-08-14 03:26] brendandburns commented on #23831
Closing this since #29724 is merged.

[2016-08-14 03:26] #23831 closed

[2016-08-14 03:39] smarterclayton commented on #30576
The goal being to escape all host namespaces?    Arguably this is possible today with privileged, hostPath mount of / to /rootfs, and a chroot to /rootfs.

[2016-08-14 03:53] spxtr commented on #30578
Docker hanging on agent-heavy-5. Rebooted the agent.

[2016-08-14 03:53] #30578 closed

[2016-08-14 04:13] smarterclayton commented on #28718
Yeah, maybe the week after code slush.

On Sat, Aug 13, 2016 at 7:58 PM, Chris Love <notifications@github.com>
wrote:

[2016-08-14 05:16] chrislovecnm commented on #28835
@maklemenz we can either merge yours, or merge this one https://github.com/kubernetes/kubernetes/pull/30577  / what do you think?

[2016-08-14 06:41] 249043822 opened #30584 "/gofiles.mk.stamp', needed by `pkg/apis/extensions/v1beta1/zz_generated.conversion.go'. Stop."
root@ubuntu:/home/docker/kubernetes# hack/update-codecgen.sh
Building dependencies
Building codecgen
/gofiles.mk.stamp', needed by `pkg/apis/extensions/v1beta1/zz_generated.conversion.go'.  Stop.
make: *** [generated_files] Error 2
!!! Error in hack/update-codecgen.sh:121
  'make generated_files' exited with status 2
Call stack:
  1: hack/update-codecgen.sh:121 main(...)
Exiting with status 1

[2016-08-14 06:43] 249043822 commented on #30584
I do make test or make, still cause this error, did the new version depend other libs or tools?

[2016-08-14 08:02] colemickens commented on #30580
Yes, it works. Thanks.

[2016-08-14 08:19] kevincox commented on #30576
I'm not 100% sure what you mean by host namespaces but I think most of the time you would want to be in a cgroup or selinux as the docker container would be.

That is an interesting workaround. I'll have to take a look at creating a "null" or "transparent" container like that as I can't find any premade. But that shouldn't be too hard to pull off.

[2016-08-14 09:49] nleib opened #30586 "Setting a message when cordoning nodes"
Hey,
when draining a node or cordon a node I think its important to be able to set a message why this node was cordoned.

e.g (two examples)

kubectl cordon K8S_NODENAME "disabled due to docker maintenance"
kubectl drain K8S_NODENAME --set-message "disabled due to docker maintenance"

[2016-08-14 11:25] #30442 closed

[2016-08-14 12:35] soltysh opened #30587 "Unable to run cluster locally"
When trying to setup k8s [locally](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/running-locally.md), using `hack/local-up-cluster.sh` the server does not start anymore and I'm seeing following error in apiserver logs:
[code]

**Kubernetes version** (use `kubectl version`):
Master as of this writing:
[code]

[2016-08-14 12:44] spacepluk commented on #29678
hi there, I'm a bit swamped right now but hopefully I'll have some time next week to give it a try.  I already hacked the binding address to make it work for me, so it should only be a matter of figuring out how you manage the cli parameters and try to write some decent go :)

[2016-08-14 13:19] luxas commented on #30572
@justinsb

[2016-08-14 13:43] luxas opened #30589 "Deprecate experimental-flannel-overlay in v1.5 and remove old networking code"
@thockin partially asked for this.

and flannel integrations will now take place in https://github.com/coreos/flannel/pull/483

@kubernetes/sig-network

[2016-08-14 15:06] AdoHe commented on #30586
@kubernetes/kubectl

[2016-08-14 15:08] AdoHe commented on #30587
IIRC, there was someone asked the same question in slack.

[2016-08-14 15:38] AdoHe commented on #29838
@krmayankk IIRC, events should be sorted by `LastTimestamp`, there should be sorted events list test, you can take a look. Also please try the master branch.

[2016-08-14 16:22] wzdnzd opened #30591 "Can only telnet the service's clusterIP from the node running the pod selected by the service"
Rencently,i'm trying to setup k8s,but I meet a trouble:can only telnet the service's clusterIP on the node running a pod.For example,I have a pod running on node1,if i telnet the service on the node1,it's no problem,however,when i telnet it from node2,it can't access.I'm using skyDNS and telnet the pod's ip in any pod or node.
    Also,I'm trying  troubleshooting according the document http://kube

[2016-08-14 16:53] k8s-merge-robot opened #30592 "[k8s.io] Job should scale a job down {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13288/

Failed: [k8s.io] Job should scale a job down {Kubernetes e2e suite}

[code]

Previous issues for this test: #29066

[2016-08-14 17:30] kargakis commented on #28378
Lowering priority since the 404 flake is fixed

[2016-08-14 18:09] venkatramachandran opened #30593 "Petset wont run in a single host mode"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you found any duplicates, you should instead reply there or use the :+1: icon in the upper-right of the issue message):
`lookup on 8.8.8.8:53: no such

[2016-08-14 18:43] viet commented on #10921
This is a great question. I'd love for this to be solved soon as well.

To describe my use case: My app is not a web app, it's a Minecraft server cluster running on TCP port 25565, having HTTP header simply isn't possible.

I hope that Kubernetes and Google Container Engine

[2016-08-14 18:46] paralin commented on #24030
Can we start up another issue for Scylladb? It's the C implementation of Cassandra. I can write some snitches and stuff for it.

[2016-08-14 19:24] soltysh commented on #30592
Looks like a gke problem, already handled in #28656.

[2016-08-14 19:24] #30592 closed

[2016-08-14 19:45] k8s-merge-robot opened #30597 "[k8s.io] MemoryEviction [Slow] [Serial] [Disruptive] When there is memory pressure It should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/185/

Failed: [k8s.io] MemoryEviction [Slow] [Serial] [Disruptive] When there is memory pressure It should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}

[code]

[2016-08-14 21:09] justinsb commented on #30572
So from node 246 you can reach node 245 but not node 247?

How did you install kubernetes?

[2016-08-14 21:38] yoshuawuyts commented on #7294
To contribute a use case for future reference:  Swap space for running `npm install` on smaller nodes is essential. Small being about `<1GB` RAM.

When `npm install` is run, the dependency graph can become a lot larger than the amount of memory available, causing `npm install` to reliably crash. Being able to allocate swap for this step would be tremendously helpful, if anything just to build a ne

[2016-08-14 22:54] smarterclayton commented on #30576
If you can emulate what you need that's a good start to describing the
problem.  We usually call these "super-priviliged containers" and
ensuring you can act as if you are on the host on Kube is important to
us

[2016-08-14 23:23] spxtr opened #30600 "Build system improvements"
The current build system is several thousand lines of confusing bash that breaks in subtle (#30546, for example) and unexpected ways.

I would like to move toward this world:
- If a developer is familiar with the go tool and has their environment set up, they should be able to do a local, iterative build. It should be clear what commands are actually being run.
- If necessary, a developer should b

[2016-08-15 00:05] k8s-merge-robot opened #30602 "[k8s.io] V1Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30598/kubernetes-pull-build-test-e2e-gce/53426/

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30598.

Previous issues for this test: #27704 #30127

[2016-08-15 00:07] jbeda commented on #30600
@thockin and I were just talking about this on Friday.

Heh -- this is how the `build/` folder started.  It is still mostly true.    The idea was that `build/*` would set up the environment so that you could run the standard build stuff in there if you wanted to.

Much of the complexity in `build/` is dealing with copying files in and out of the docker container appropriately to support remote (or

[2016-08-15 00:22] jbeda commented on #30600
Another problem is that we have a *lot* of binaries to build.  We don't have a good mapping of when to build which binaries and for which platforms.  That should probably be part of the `hack` (and maybe release) clean up.

[2016-08-15 00:26] jbeda commented on #30600
And I'm not a fan of bazel in this situation. It is yet another prerequisite that users will have to install to get building.  Personally, it seemed like a huge distraction when I was looking to build TensorFlow.  Using Bazel also works very very strongly against your first point.  It is very different and high overhead compared to "just use the go tool".

[2016-08-15 00:28] chrislovecnm commented on #24030
@paralin you probably want to look at submitting it to charts. Examples are going to start moving over to charts and actually be examples, not apps.

[2016-08-15 01:10] bprashanth commented on #26490
Last 3,4 failures have been because a curl against localhost performed via kubectl exec into a host networking pod failed.

In the last failure, we were actually trying to curl `http://localhost:10249/proxyMode` which is the port kubeproxy listens on, to confirm iptables mode. Kubeproxy was running on the node. Some digging + repro might be required.

[2016-08-15 01:15] spxtr commented on #30600
Not only is it a pain to copy to/from docker machine on mac, but it's also a bother to use volumes on linux because by default any  new changes will be owned by root (#25525). I'm not sure what the best answer is there, since I haven't done much development on my mac.

I totally agree with your opinion on bazel. It was a huge hassle to install on my non-ubuntu workstation and it made installing te

[2016-08-15 01:20] tobegit3hub commented on #30572
Yes and any other other web services work.

We install kubernetes with the scripts from Ubuntu Provider and start with `./cluster/kube-up.sh`.

[2016-08-15 01:36] Random-Liu commented on #30363
The call stack is very similar with #20096. However in #20096, we can see:
[code]
And docker hung:
[code]
NPD also relies on these 2 messages to detect the problem.

However, in this one, some other tasks cause the kernel deadlock, and there is no `unregister_netdevice` message.

[2016-08-15 02:02] zhouhaibing089 commented on #2895
is this already true for multiple CA support?

[2016-08-15 02:18] zhouhaibing089 commented on #2895
I assume it is also true on which is specified on kubeconfig file.

[2016-08-15 02:21] liggitt commented on #2895
yes, both are parsed into cert pools

[2016-08-15 02:37] zhouhaibing089 opened #30603 "Image Signing Support"
these days, there is a proposal https://github.com/kubernetes/kubernetes/pull/27129 states we should be able to do an image review, for example, to ensure that the image does not have any vulnerabilities, we may set up an Clair instance, and enabling an admission controller to query its api to verify this image is safe to run.

However there is one thing more to consider as well, there is a concep

[2016-08-15 02:40] yaxinlx commented on #30186
@smarterclayton, but it is possible from technology view.

[2016-08-15 02:43] openshiftsunshine opened #30604 "[ubuntu14.04 k8s cluster installtion]use kube-up.sh setup Kubernetes cluster,but can't find service in other node"
I use  kube-up.sh setup Kubernetes cluster(1.3.4), and use deployAddons.sh setup dashboard and dns.
http://kubernetes.io/docs/getting-started-guides/ubuntu/
after that,  i found the dashboard work well. but i can not find service in  other node.
i create two busybox pod in two nodes, i  found  i can not ping each other.

root@SIA1000076127:~/examples# ps -ef | grep docker
root      73175      1  0

[2016-08-15 03:11] Yancey1989 opened #30605 "ABAC policy with serviceaccount"
I config my cluster with ABAC auth mode base on http://kubernetes.io/docs/admin/authorization/.
My policy file:
[code]
I cannot connect apiserver in pod with the command:
[code]
I doubt that the policy does not include the valid username, but i cannot find sth. abount the username of serviceaccount.

[2016-08-15 03:30] mqliang opened #30606 "How can I specify ReclaimPolicy for dynamically provisioning volumes"
@jsafrane

I use a PVC with a "volume.alpha.kubernetes.io/storage-class" annotation to let k8s dynamically provision a PV. However, kubernetes will set the "persistentVolumeReclaimPolicy" as "Delete", see https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/controller.go#L1210

However, I want to specify the reclaim policy as "Retain" so that I could retain t

[2016-08-15 03:34] mqliang commented on #30606
How about add a "volume.alpha.kubernetes.io/storage-reclaimPolicy" annotation in PVC, and persistentvolume_controller will set the reclaim policy of the provisioning PV according to the "volume.alpha.kubernetes.io/storage-reclaimPolicy" annotation?

If this proposal looks good, I am glad to send a PR to address this

[2016-08-15 03:44] smarterclayton commented on #30186
I agree that specifying an empty label and field selector is not the same
as nil field selector.  Unfortunately, to change it now would be to break
backwards compatibility with clients that are allowed to specify that.  So
at best we could consider this in a future API revision.

On Sun, Aug 14, 2016 at 10:40 PM, yaxinlx <notifications@github.com> wrote:

[2016-08-15 04:01] paralin commented on #24030
@chrislovecnm Thanks, will do.

[2016-08-15 04:06] justinsb commented on #30572
Hmmm.... if you're using flannel, sounds like a flannel bug, or a bug with the ubuntu provider.  I don't maintain either, I'm afraid :-(

You might try verifying that the problem persists with kops or standard AWS kube-up - if it does it'll be much easier for me to diagnose the issue.

[2016-08-15 04:09] tobegit3hub commented on #19076
@jmartin127  @guowenbo045889  You need to run [deployAddons.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/deployAddons.sh) if you want to create namespace and dns addon.

[2016-08-15 04:18] Hokutosei commented on #28709
I am experiencing this problem too,...

[code]

weekend past, and tried deleting the pod today, yet still same...
[code]

[2016-08-15 04:25] k8s-merge-robot opened #30607 "[k8s.io] PrivilegedPod should test privileged pod {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29216/node-pull-build-e2e-test/18769/

Failed: [k8s.io] PrivilegedPod should test privileged pod {E2eNode Suite}

[code]

Happened on a presubmit run in #29216.

[2016-08-15 04:31] chrislovecnm commented on #28709
@bprashanth how do we debug this more?

@Hokutosei  what version are you using, and what cloud are you on?

[2016-08-15 04:32] chrislovecnm commented on #24030
@paralin to be clear https://github.com/kubernetes/charts - check the sig/apps agenda, we will be talking charts soon.

[2016-08-15 04:34] 249043822 commented on #30584
@ixdy , @lavalamp

[2016-08-15 04:59] alfred-huangjian commented on #28538
@kubernetes/huawei

[2016-08-15 05:01] frank-productops commented on #9808
I'm having similar issues. I am following the instructions [`here`](https://deis.com/docs/workflow/quickstart/provider/aws/boot/). However, I don't see a `local_up_cluster.sh` file as luxas mentioned. I am running Ubuntu 14.04 in VMware on a Windows 10 host.

[2016-08-15 05:17] alfred-huangjian commented on #12742
cc @kubernetes/huawei

[2016-08-15 05:21] Hokutosei commented on #28709
@chrislovecnm thanks for the reply, I am all using GKE (google container engine), and both master and nodes are using `1.3.3` I am waiting for the update for `1.3.4` to fix this, hopefully. I am on `asia-east1-a` (master+nodes) but upgrades for `1.3.4` aren't available yet...

[2016-08-15 05:52] ianjamez commented on #30495
Also saw:
./cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 522: MASTER_OS_DISTRIBUTION: unbound variable
Added:
MASTER_OS_DISTRIBUTION="${KUBE_MASTER_OS_DISTRIBUTION}"
Then:
./cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 528: NODE_OS_DISTRIBUTION: unbound variable
Added:
NODE_OS_DISTRIBUTION="${KUBE_NODE_OS_DISTRIBUTION}"

[2016-08-15 05:53] AdoHe commented on #30576
@kevincox imo, you want to keep resource control enabled by cgroup but you don't care isolation, is that what you mean?

[2016-08-15 05:56] wzdnzd commented on #30591
[](url) #15358 Like this

[2016-08-15 06:00] m1093782566 opened #30610 "Remove duplicated assignments for NodeInfo.pods in schedulercache"
There are duplicated assignments for nodeinfo.pods, one place is [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/schedulercache/node_info.go#L139) and the other one is [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/schedulercache/node_info.go#L147).

I think we can remove one.

The related PR is #30585

@wojtek-t What do you think

[2016-08-15 06:02] wojtek-t commented on #30610
Sure - let's remove the first one.

[2016-08-15 06:03] m1093782566 commented on #30610
ok! :)

[2016-08-15 06:13] m1093782566 opened #30611 "[Scheduler] Update the comment information to avoid make people confused"
Since the process logic for scheduler binding failed has changed. Scheduler will do `ForgetPod`(release the resources allocated to assumed pod immediately) instead of waiting for the assumption in the internal cache when bind failed.

I think we should update the comment information to avoid make people confused :)

@wojtek-t @hongchaodeng

The related PR is #30609

[2016-08-15 06:39] kayrus opened #30612 "Feature request: Add selectors for persistent volumes"
k8s v1.3.5

At the moment there is no way to create HostPath PV based on node's labels. For example I would like to create a PV on specific host which has a label.

Is there a way to implement that?

P.S. I know that it is not safe to create HostPath PV, and I know that there are gce, aws and azure persistent storage implementation, I know about NFS and ceph, but my current input data is to create

[2016-08-15 06:42] soltysh commented on #30602
Still the same gke problem from #28656.

[2016-08-15 06:42] #30602 closed

[2016-08-15 06:44] asalkeld commented on #23875
This seems to be fixed with this commit 2fba6d2d6303d02e919f4e14a24bf7cacc8ca2df
Can someone close the issue please.

[2016-08-15 06:54] kevincox commented on #30576
On Aug 15, 2016 06:54, "TonyAdo" <notifications@github.com> wrote:

control enabled by cgroup but you don't care isolation, is that what you
mean?

That sounds close. Although I would like the security isolation. Basically
I don't need the execution environment isolation dockers provides. However
I would still like performance and security isolation.

[2016-08-15 07:00] caesarxuchao commented on #19701
@erictune Sorry I just saw your comment. Synchronous GC is in the roadmap. We probably cannot make it in 1.4 release, but it will be in 1.5. Tracking issue: https://github.com/kubernetes/kubernetes/issues/29891

[2016-08-15 07:35] jsafrane commented on #30606
@mqliang, dynamic provisioning is going through massive overhaul in 1.4 and we will support configurable storage classes (or profiles or policies or whatever term will be used in the end).

Adding this feature there is quite easy, however we have more pressing issues right now. While this dynamic provisioning stabilizes, do you have more high-level use case for this? Is reclaim policy something th

[2016-08-15 07:46] sparkthu opened #30613 "Feature Request: Better Support for Persistent Volume on Local Disk"
In kubernetes 1.3, Petsets has already support applications such as zookeeper, kafka and so on. But they are all built on an unified storage system. Normally, we build zookeeper and kafka on distributed machines and use the disk on the machines. The safety of data should be guaranteed by zookeeper/kafka itself. I think it would be useful to let petsets use local storage .

[2016-08-15 08:46] kargakis commented on #25142
`kubectl rollout image` could be an alias for `kubectl set image`.

[2016-08-15 08:50] xingzhou commented on #28321
yes @AdoHe, do you think if we can create a new type of Error like:
[code]
and various schemas can return the above error to specify the root cause and the followup actions to the validator consumer like [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/visitor.go#L206). Then all this kind of validation error can have a formatted output message like:
[code]
Do you th

[2016-08-15 09:01] php-coder commented on #23875
I'm closing issue because currently on this page no such link.

[2016-08-15 09:01] #23875 closed

[2016-08-15 09:28] foxish commented on #29575
Should the top-level OWNERS file be the same as [pkg/OWNERS](https://github.com/kubernetes/kubernetes/blob/0ed3bd63e488b152103ea31f3d24865df0cf8d3c/pkg/OWNERS)?

[2016-08-15 10:04] kargakis commented on #29784
It could also be implemented as suggestions to users in `oc rollout status`.

[2016-08-15 10:06] kargakis commented on #29784
I would also add `status.availableReplicas >= spec.replicas-spec.rollingParams.maxUnavailable` in the mix to ensure that we have minimum availabilty before considering a deployment healthy.

[2016-08-15 10:11] k82cn commented on #30581
Got the following meaningful error from the log, it seems some word/env are missing. I'm going to check it. @goltermann , if any suggestion please let me know :).

[code]

[code]

[code]

[2016-08-15 10:43] zhouhaibing089 commented on #30613
Ref: https://github.com/kubernetes/kubernetes/pull/30499

[2016-08-15 11:33] Draiken opened #30617 "gcloud container get-credentials not authenticating service account"
**Kubernetes version**: `Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.3", GitCommit:"c6411395e09da356c608896d3d9725acab821418", GitTreeState:"clean", BuildDate:"2016-07-22T20:29:38Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Debian 8
- **Kernel** (e

[2016-08-15 11:48] discordianfish opened #30618 "Flexvolume should read response only from stdout, not stderr"
Hi,

right now the flexvolume module combines stderr and stdout when reading the response of a flexvolume driver. Instead, it should read only from stdout and just log the stderr output.

The same reasoning for differentiating between stderr and stdout in all other tools apply: STDOUT is for regular, expected output which is the json based "API" in the case of flexvolume. STDERR on the other hand

[2016-08-15 12:01] screeley44 commented on #23982
I think this can be closed, it is no longer relevant after the refactoring changes

[2016-08-15 12:02] deads2k commented on #24078
I don't know of any conflicts.  I'm in favor of the short flag because it gets used all the time.

[2016-08-15 12:05] screeley44 commented on #23982
actually, let's reference #26786

[2016-08-15 12:32] andreykurilin opened #30621 "hack/update-bindata.sh sets KUBE_ROOT default value relative to test/e2e/generated/"
I tried to launch hack/update-bindata.sh from root directory of kubernetes repo and I got following error:

`hack/update-bindata.sh: line 26: ../../..//cluster/lib/logging.sh: No such file or directory`

After looking the code, I understood that update-bindata.sh script should be launched only from test/e2e/generated/ directory or I should specify KUBE_ROOT variable by myself. It is not user-frien

[2016-08-15 14:36] k82cn commented on #30581
It seems failed to get images, @goltermann , any suggestion.

[code]

[2016-08-15 14:48] AdoHe commented on #24078
I am fine with `kubectl command -n myns`, @silasbw really appreciate if you could help with this.

[2016-08-15 14:50] AdoHe commented on #30618
@k8s-merge-robot This should not be a kubectl issue.  @kubernetes/sig-storage ptal.

[2016-08-15 14:53] AdoHe commented on #28219
@kargakis what you expect `--dry-run` to do? just print the current deployment?

[2016-08-15 14:55] zhouhaibing089 commented on #25666
nothing is tracked here, close it.

[2016-08-15 14:55] #25666 closed

[2016-08-15 14:59] justinsb commented on #30265
OK so a few things here:

* On AWS you must tag your resources with the KubernetesCluster tag.  You can run multiple clusters in the same VPC, mix workloads etc, as long as you tag.

* Deeper scheduler integration would indeed be nice.  In the meantime, not forcing everything into the master zone is the first order problem, and I don't think we should lose that.  I'm not sure what you mean by a "d

[2016-08-15 15:00] justinsb commented on #30265
Removing P1 - with tagging, this is not a blocker for 1.4 release.

[2016-08-15 15:15] kargakis opened #30627 "Consider renaming `rollout status`"
`kubectl rollout status` is used for watching a deployment and reports back its status.
@fabianofranz notes:
[code]
Makes sense to me - @kubernetes/kubectl @kubernetes/deployment thoughts?

[2016-08-15 15:17] kargakis commented on #30627
I think I prefer the second proposal, ie. adding a `--watch` flag (defaulting to true or false is up for discussion too:) )

[2016-08-15 15:18] kargakis commented on #28219
It should print the deployment spec we are going to rollback to.

[2016-08-15 15:22] derekwaynecarr opened #30628 "DaemonSet controller should use a rate limiting queue to prevent hotloops"
A `DaemonSet` controller should avoid getting into a hotloop when it gets denied a pod creation.

The controller should use a rate limiting queue similar to what was done for RC here:
https://github.com/kubernetes/kubernetes/pull/30626

/cc @kubernetes/rh-cluster-infra @deads2k

[2016-08-15 15:23] deads2k opened #30629 "Controllers hotloop on unexpected API server rejections"
Many controllers handle retries in an adhoc manner.  We now have a `workqueue.RateLimitingInterface` for this purpose.
- [x] replication controller: https://github.com/kubernetes/kubernetes/pull/30626
- [x] replica set: https://github.com/kubernetes/kubernetes/pull/33092
- [x] daemonset #32210
- [x] certificates: https://github.com/kubernetes/kubernetes/pull/32664
- [x] deployments: https://github

[2016-08-15 15:23] justinsb commented on #30450
I agree we should probably move to #30086 - thanks for the pointer!

[2016-08-15 15:23] #30450 closed

[2016-08-15 15:25] deads2k commented on #30629
@kubernetes/rh-cluster-infra @ncdc probably need to do a survey to find other offenders.

I'm still trying to work out what happens to controllers which are denies on pod changes and *don't* retry.  They don't hotloop, but are they stuck until the resync comes?  There was a pull to remove resycning and people were declaring their controllers safe, but if I'm reading the code correctly, those peopl

[2016-08-15 15:49] davidewatson commented on #25892
This appears to be fixed with CoreOS version 1081.5.0 from the beta channel. Therefore I am closing...

[2016-08-15 15:49] #25892 closed

[2016-08-15 16:00] pwittrock commented on #29679
@alexbrand How is this coming?

[2016-08-15 16:03] pwittrock commented on #29312
@AdoHe Is this still relevant?

[2016-08-15 16:07] k8s-merge-robot opened #30632 "[k8s.io] Service endpoints latency should not be very high [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30625/kubernetes-pull-build-test-e2e-gce/53507/

Failed: [k8s.io] Service endpoints latency should not be very high [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30625.

[2016-08-15 16:08] pwittrock commented on #29115
@AdoHe filtering in the client side seems reasonable to me

[2016-08-15 16:12] pwittrock commented on #27721
@AdoHe Are you able to reproduce this?

[2016-08-15 16:15] kargakis commented on #27721
@luispabon  are the old pods in Terminating phase? Can you post the output of `kubectl get pods` when you hit this?

[2016-08-15 16:17] fabianofranz commented on #30627
+1 to second option.

[2016-08-15 16:20] luispabon commented on #27721
@kargakis they aren't, they show as running:

[code]

In this case, api-webserver and image-server show this problem.

[2016-08-15 16:26] smarterclayton commented on #30576
I *think* this is:

1. pod with 1 container including an image that has chroot
2. set the privileged flag on the pod
3. add a volume mount of / to /rootfs
4. set the container command to `chroot ...` - you may also want to drop and change user

I wonder if the chroot could potentially be something we add support for in a container - it's come up enough that it may have value on its own.

[2016-08-15 16:27] luispabon commented on #27721
[code]

[2016-08-15 16:39] thockin opened #30633 "DNS healthcheck kills kube-dns if dnsmasq is hung"
#27652 changed DNS healthz to check both dnsmasq and kube-dns.  But having kube-dns container's healthz go thru dnsmasq at all is wrong - if dnsmasq is hung, this will restart the kube-dns container, rathe rthan dnsmasq

We should have 2 healthz ports (or 2 URLs on the same port) - one for dnsmasq one for kube-dns.  Maybe exec-healthz can expand to check multiple commands on multiple URLs, or mayb

[2016-08-15 16:53] smarterclayton commented on #24078
We originally had -n in Kube but took it out while we sorted out the other
config.  We went and added it in OpenShift because it was used all the
time, but forgot to add it in in kubectl.  I think it's time to bring it
back to kubectl.

Other folks who care about this in kubectl should v oice objections in the
next day or so, otherwise I think we have consensus to add `-n` as the
alias for `--name

[2016-08-15 16:54] imkira commented on #23535
Me too getting exactly the same errors when using `kubectl proxy`.
I am sure this is not a AWS-specific problem as I am running kubernetes v1.3.3 on GKE. I am accessing `http://127.0.0.1:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/workload` in my browser and refreshing.
These errors appear to be intermittent failures.
While this situation was happening I was able to ta

[2016-08-15 16:58] smarterclayton commented on #28321
We generally try to avoid having newlines in our normal errors.  It's
probably more likely we'd want to implement an interface like
`ExtendedError` or `ErrorWithUsage` that we can check errors for in
`pkg/kubectl/cmd/util#checkErr`.  That keeps generic code from having to
know about the implementation class (ValidationError, in your case)

On Mon, Aug 15, 2016 at 4:51 AM, Tom Xing <notifications@g

[2016-08-15 17:02] bgrant0607 commented on #30629
Related: #21912

cc @erictune @pwittrock

[2016-08-15 17:04] bgrant0607 commented on #29923
Dupe of #23564

[2016-08-15 17:04] #29923 closed

[2016-08-15 17:05] balajismaniam commented on #28082
@davidopp we are looking for the "evict pod when taint is not tolerated" functionality. Thanks for pointing us to the PR.

[2016-08-15 17:05] bgrant0607 commented on #23564
There's an example and some discussion in #29923, which I closed in favor of this issue.

[2016-08-15 17:12] deads2k commented on #24078
Already did, just client generation.

@silasbw has opened https://github.com/kubernetes/kubernetes/issues/30630 to add this.  I've got a minor comments unrelated to the code and tagged @bgrant0607 to give him a chance to object.

[2016-08-15 17:32] yujuhong commented on #28716
Happening again...
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30521/node-pull-build-e2e-test/18851/

[2016-08-15 17:43] eparis commented on #28671
@kubernetes/rh-storage @kubernetes/sig-storage

[2016-08-15 17:53] yujuhong commented on #28716
I manually deleted all those leaked VMs. We should find out why these VMs leaked in the first place and setup a job to periodically clean them up.

[2016-08-15 17:53] yujuhong commented on #28716
/cc @kubernetes/goog-node

[2016-08-15 17:57] spxtr commented on #28716
Once they're in their own project this isn't too much of a hassle to do.

[2016-08-15 17:58] eparis commented on #30265
I'm not sure what 'PetSet' has to do with it.

@justinsb how about instead of calling the AWS API at all we look at all Kube nodes and look for the 'zone' label on the node. Thus we will know that whatever zone is picked is actually running a kubelet.

If I run a single VM in east that has nothing to do with kube and I run a kube cluster entirely in west if we get the 'zones to randomly pick from'

[2016-08-15 18:21] jingxu97 commented on #29324
@justinsb I was trying to reproduce the error @sstarcher described for AWS volume. I tried the same steps on gce disks and it is working fine. But I don't have the AWS volumes to test. If you have the setup, could you please try it on your environment when you have time.  The steps @sstarcher described as follows. Thank you very much!

Kubernetes 1.3.4

- Pod A has a persistent volume claim and mo

[2016-08-15 18:24] quinton-hoole commented on #29984
Thanks for the bug report @Seth-Karlo .  I'm pretty sure that this is fixed by:

https://github.com/kubernetes/kubernetes/pull/28668

Can you confirm that you're seeing this in a version prior to July 22, 2016?

Could you please retry using the latest version to confirm that it's resolved.

@colhom This is the issue that you and I discussed about a week ago.  It seems there's nothing much to be do

[2016-08-15 18:24] #29984 closed

[2016-08-15 18:25] derekwaynecarr opened #30635 "hack/local-up-cluster.sh timesout starting apiserver"
The script died somewhere between Friday and today.

[code]

[2016-08-15 18:26] david-mcmahon commented on #30600
Agreed.  build and hack are in desperate need of an overhaul.  Certainly breaking up the monolith, drawing clear lines and removing the inter-dependencies as well as factoring out well defined bits is a good start.

Getting the release out of the build is already in progress and tracked in #16529.

[2016-08-15 18:26] derekwaynecarr commented on #30635
cc @kubernetes/rh-cluster-infra @kubernetes/sig-api-machinery  -- this makes local dev difficult.

[2016-08-15 18:26] dchen1107 commented on #29871
Close this one since we reached agreement on the API, and pending pr reflecting the decision should be merged shortly too.

[2016-08-15 18:26] #29871 closed

[2016-08-15 18:28] jingxu97 commented on #27656
@justinsb, Could you please let me know what is the status of the bug? It is assigned to me, but I am wondering whether you already worked on it. Also what is the appropriate priority for this issue? Thanks!

[2016-08-15 18:29] Seth-Karlo commented on #29984
@quinton-hoole I will test tomorrow and confirm this fixes it.

[2016-08-15 18:29] deads2k commented on #29115
@juanvallejo @fabianofranz fyi

[2016-08-15 18:29] dchen1107 commented on #29927
@dubstack I am not unassigning this from you. Somehow github go crazy, and remove you. Now I cannot even re-assign this back to you.

But your proposal lgtm

[2016-08-15 18:30] david-mcmahon commented on #30384
@luxas releases are on hold with this.  Can you take a look?

[2016-08-15 18:31] david-mcmahon commented on #30384
@spxtr @ixdy Is `make release` not used by any jenkins job?

[2016-08-15 18:31] andrewstuart commented on #30635
Also see this issue: #30587

[2016-08-15 18:34] andrewstuart commented on #30635
And full kube-apiserver.log output here: https://gist.github.com/andrewstuart/51dcdd63cee02deae7f2aa132d0ba050

[2016-08-15 18:35] colemickens opened #30636 "kube-apiserver fails to start: "Error in registering group versions: Unable to setup API""
I can no longer deploy a cluster because `kube-apiserver` fails to come up.

This is on commit: 89651077b1caee586b9d77e38a80139b3e75371a, but I'm not sure which commit introduced this behavior.

From `sudo docker logs` on the failed `kube-apiserver` container:

[code]

I run `kube-apiserver` via a static pod under `kubelet`:

[code]

[2016-08-15 18:36] aveshagarwal commented on #30635
seeing the same issue with latest kube now.

[2016-08-15 18:36] spxtr commented on #30384
Whoops. #28575 made it do a quick-release even on post-submit Jenkins. @fejta

[2016-08-15 18:37] bprashanth commented on #30613
Of course, it just hasnt been done yet but there are proposals in flight: https://github.com/kubernetes/kubernetes/issues/7562, https://github.com/kubernetes/kubernetes/pull/30044

[2016-08-15 18:37] #30613 closed

[2016-08-15 18:40] derekwaynecarr commented on #30629
I agree we need a roll-up mechanism, but we definitely need to move all pertinent controllers to a rate limited queue in interim.

[2016-08-15 18:41] david-mcmahon commented on #30384
So if there's a need to expedite specific jobs with `make quick-release`, that seems reasonable, but we absolutely need a `make release` somewhere, even if we catch it post-submit.

[2016-08-15 18:41] spxtr commented on #30384
Agreed, I think that was a mistake.

[2016-08-15 18:45] Cocotton opened #30637 "EFS volumes getting emptied after a while"
**Kubernetes**: v1.3.4

**Environment**:
- **Cloud provider**: AWS
- **OS**: Debian Jessie
- **Install tools**: Kops

**What happened**:
I created a Jenkins' with a Replication Controller. The Replication Controller mount an NFS volume in the Jenkins container. The NFS server is an AWS EFS (elastic filesystem) volume.

After a while, everything in the EFS gets deleted. Also, when I try to touch a

[2016-08-15 18:49] mtaufen commented on #30636
I think I just ran into this with `hack/local-up-cluster.sh`.

/cc @vishh @timstclair

[2016-08-15 18:50] colhom commented on #29984
@quinton-hoole Tried to reproduce from master this morning- no dice. I'll keep an eye on this, hopefully the fix is already in ;)

[2016-08-15 18:51] mtaufen commented on #30635
Maybe related to https://github.com/kubernetes/kubernetes/issues/30636?

[2016-08-15 18:52] mtaufen commented on #30635
@andrewstuart the last line in your log is `F0815 11:32:41.629514   26073 master.go:307] Error in registering group versions: Unable to setup API`..., similar to #30636.

[2016-08-15 18:56] andrewstuart commented on #30635
@ncdc and I are both bisecting at the moment. Takes a while with the long builds, but we should hopefully have the guilty commit shortly. :-)

[2016-08-15 18:59] bprashanth commented on #30637
@kubernetes/sig-aws unsure if it matters that the install tool was kops

[2016-08-15 19:00] jingxu97 commented on #30637
@Cocotton Thank you for posting the issue. Could you please share the kubelet logs if you still have it? Thanks!

[2016-08-15 19:06] andrewstuart commented on #30635
Okay, it's coming from this commit: `1d76884336571a3acc77309ad73f2f032efdaac0`.

[2016-08-15 19:09] yujuhong commented on #30463
I think that was the direction we agreed on at the beginning -- letting kubelet have more control of garbage collection, log management, etc. IMO, we should stick to this and keep runtime simpler, **or** we can choose the other direction, but not both. Let me see if I can explain this more clearly with diagrams. Assume a container in a pod in k8s API is named "foo".

(A) Lifecycle of container **f

[2016-08-15 19:12] janetkuo commented on #25142
@dshulyak did you mean making `kubectl rollout start deployment` an alias for `kubectl edit deployment`?

[2016-08-15 19:14] Cloven commented on #30617
@thockin asked for @fabioy to be tagged on this in #google-containers.  Duly doing so

[2016-08-15 19:16] ixdy commented on #28716
They're in their own VM now, so auto-cleanup should be easy. (It'd be nice if they didn't leak in the first place, of course.)

[2016-08-15 19:18] #27026 closed

[2016-08-15 19:18] andrewstuart commented on #30635
@derekwaynecarr pointed out on Slack that the PR for this commit is #30421.

[2016-08-15 19:24] foxish commented on #27634
@smarterclayton Looking into this now. How does one reproduce this? It seems like this kind of hot-looping only occurs with certain types of failures. I tried triggering `FailedScheduling` and that did not lead to the behavior seen in this bug.

[2016-08-15 19:25] vishh commented on #7294
What is the use-case of running Kubernetes on nodes with < 1GB of RAM?

On Sun, Aug 14, 2016 at 2:39 PM, Yoshua Wuyts <notifications@github.com>
wrote:

[2016-08-15 19:28] yujuhong commented on #30463
This is a valid point. We can provide tuples/tokens as "hints" and let the runtime construct the name, or we can define a character set to be used in the container name, and let the shim substitute the characters however it likes. The former is more flexible, but the latter is easier to refer and reason with in kubelet.

[2016-08-15 19:28] dchen1107 opened #30642 "Decide what Kubelet should do with the containers not created by K8s"
Currently Kubelet only writes logs (#30435) if the containers were not created in k8s, without any management. There is no garbage collection for both dead containers and unused images; there is no resource management and qos enforcement under Kubernetes policy; etc.

We don't need to handle this for now, but file it for the future.

[2016-08-15 19:33] yujuhong commented on #29927
@dubstack needs to be in "kubernetes-collaborators" to be assigned issues/PRs.

[2016-08-15 19:35] Cocotton commented on #30637
@jingxu97 Unfortunately I don't have the Kubelet's logs exactly when the problem first occured. Although, I can provide you with a block of errors that keeps happening (the Kubelet's logs are getting filled with this)

[code]

[2016-08-15 19:39] shashiranjan84 opened #30643 "cassandra"

[2016-08-15 19:40] #30643 closed

[2016-08-15 19:40] shashiranjan84 commented on #30643
sorry created by mistake.

[2016-08-15 19:43] justinsb commented on #30265
@eparis that is a good idea, but we don't have access to the API in the cloudprovider (last I looked!).  I would love it if we did though - it would save us a bunch of API calls!

But the scenario you suggested isn't right.  All AWS APIs are region-local, so you'll never cross east <-> west.  As long as you tag, if you have a cluster in us-east-1b, even if you have other clusters running in other

[2016-08-15 19:57] derekwaynecarr commented on #30635
I think given the use of init, this impacts anyone using hyperkube.  Verifying...

[2016-08-15 20:05] yifan-gu commented on #30463
+ 1.

@yujuhong Why kubelet must tell runtime to create **foo_N** to achieve (B)? I am always thinking kubelet just tells runtime to create (podnamespace, podname, (pod uid), containername), runtime creates a container and returns an ID. Why the operation is not idempotent? Why runtime should reject such operation?

[2016-08-15 20:08] yifan-gu commented on #30463
I don't believe a dumb runtime should reject what kubelet tells it to do. If kubelet tells is to create container with (podname, containername), it should just go and execute.
If kubelet makes a mistake, kubelet should fix it by telling runtime to kill the unnecessary container.

[2016-08-15 20:09] yoshuawuyts commented on #7294
@vishh the [google compute engine micro nodes](https://cloud.google.com/compute/pricing) have `0.6GB` RAM; having a small swarm of these floating around actually works quite well for applications that have bursts of activity or when you want to spread nodes out over multiple AZs but wanna keep costs in check. Not to forget people new to k8 that want to take it for a spin and see how well it holds

[2016-08-15 20:12] janetkuo commented on #29960
Now fixed

[2016-08-15 20:12] #29960 closed

[2016-08-15 20:15] luxas commented on #30384
cc @laboger @pensu

@ixdy you should disable kubemark builds for ppc64le in the same manner hyperkube has been disabled. The tricky thing here is that @laboger has fixed the issue in the golang linker, but it didn't make v1.7 unfortunately. So either we wait for v1.8 or use a self patched-golang builder (which is not ideal)

The post-submit tests should always block the SQ when make release fails,

[2016-08-15 20:16] yifan-gu commented on #25494
@thockin We think there are other ways to support GPUs. Closing for now. We introduce GPU support in 1.3 using other methods.

@matchstick Correct me if wrong, but seems you are talking about supporting GPU in general. And this issue is tracking GPU support in rktnetes, so it's slightly different topics?

[2016-08-15 20:19] andrewlouis93 commented on #7817
@satnam6502 how did you wind up storing your secrets?

[2016-08-15 20:23] mikedanese commented on #30636
cc @caesarxuchao

[2016-08-15 20:23] k8s-merge-robot opened #30644 "[k8s.io] Federation events [Feature:Federation] Event objects should be created and deleted successfully {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/3002/

Failed: [k8s.io] Federation events [Feature:Federation] Event objects should be created and deleted successfully {Kubernetes e2e suite}

[code]

[2016-08-15 20:24] mikedanese commented on #30636
I'm hitting this warning a lot in kubectl too... Maybe related https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/request.go#L345

[code]

[2016-08-15 20:26] andrewlouis93 commented on #7817
For anyone else coming across this, http://kubernetes.io/docs/user-guide/secrets/, search for "Each item must be base64 encoded"

[2016-08-15 20:26] colemickens commented on #30636
@andrewstuart bisect'd it to: 1d76884336571a3acc77309ad73f2f032efdaac0 (some discussion ongoing in #kubernetes-dev)

[2016-08-15 20:27] nikhiljindal commented on #30635
Good to know that I am not the only one seeing this!

Jenkins test are all green.

[2016-08-15 20:27] sferich888 opened #30645 "kubectl run option to mount storage"
FEATURE REQUEST
`kubectl run` should provide options to mount a PVC or PV for situations where I simply want to start a pod and provide it storage for the duration of what I am doing / testing.

[2016-08-15 20:28] girishkalele opened #30646 "Validate NodeName in Endpoint.Subsets.EndpointAddress"
This is a follow up for #30301 to add validation for the NodeName field.

1. Validate DNS1123 label.
2. Reject user/client setting or updating of this field.

[2016-08-15 20:32] Random-Liu opened #30647 "Integration Test Flake: FAIL k8s.io/kubernetes/test/integration/metrics [build failed]"
In https://github.com/kubernetes/kubernetes/pull/30641 I only changed one line in the e2e test, which is not relevant to integration test at all. However, I got this:
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30641/kubernetes-pull-test-unit-integration/39484/

[2016-08-15 20:33] rmmh commented on #30644
@nikhiljindal assigning to you because it looks like you changed this recently, feel free to reassign as appropriate.

[2016-08-15 20:34] smarterclayton commented on #27634
The easiest would be to set a quota on pods and try to scale the pet set up
past the quota.  Another option is to deny the pet set controller
permission to access resources, but that's a lot harder since the
controller manager isn't plumbed to have unique client per controller.

On Mon, Aug 15, 2016 at 3:24 PM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-08-15 20:36] gloewy commented on #30495
Did any of these suggestions work for anyone?
I am still seeing the same error message regardless of these changes.

[2016-08-15 20:39] spxtr commented on #30384
It was, fix is in #30640

[2016-08-15 20:44] nikhiljindal commented on #30635
From @andrewstuart in slack:
[code]
That worked for me.

[2016-08-15 20:45] smarterclayton commented on #30395
I think having a file based context is a requirement, at least for novice
users.  Setting an environment variable and dealing with explaining to new
users about how to manage them is a nightmare.

On Fri, Aug 12, 2016 at 1:17 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2016-08-15 20:48] #27653 closed

[2016-08-15 20:49] mikedanese commented on #30636
@nikhiljindal

[2016-08-15 20:50] lavalamp commented on #30536
@gmarek @davidopp

Number 2 is very much on purpose and if it's problematic for the namespace controller then the namespace controller should provide a fix. It fixes the issue where a network segmentation causes a correlated cluster-wide pod restart, which is a disaster for many people.

[2016-08-15 20:51] lavalamp commented on #30536
Why can't the namespace controller force-delete pods that are already terminating after the namespace has been in the deleting state for more than (say) 30 seconds?

[2016-08-15 20:52] yifan-gu commented on #23335
This is an interesting idea.  To be clear, are you suggesting the stdout/stderr come from the log?

[2016-08-15 20:54] lavalamp commented on #30537
I added this to the umbrella issue.

Sounds like pod is doing this correctly, all resources should be going through the same code so it's a bit weird that it's different for other resources.

[2016-08-15 20:55] jingxu97 commented on #30637
@Cocotton Thanks for sharing the log. The error seems indicating that kubelet tries to clean up the pods by removing the directories when those secrets are still mounted (there might be other reasons). We fixed this problem and should be available in 1.3.5.

From the log, kubelet tries to delete some orphaned pods (we cannot tell why those pods become orphaned). So in order to find out the root ca

[2016-08-15 20:58] lavalamp commented on #24229
Yeah, I don't know of anything off the top of my head here. I think there's
room for a github/k8s cluster syncing service, it shouldn't be that hard to
make (famous last words), at least not a very basic one.

I would always commit your changes (including a deletion) before executing
the kubectl command.

Secret management is not something I am expert enough in to have an opinion
about :)

On Sat,

[2016-08-15 21:00] andrewstuart commented on #30636
There's some discussion happening on https://github.com/kubernetes/kubernetes/issues/30635. @nikhiljindal is aware and looking into the issue.

[2016-08-15 21:00] ixdy commented on #28716
https://github.com/kubernetes/test-infra/pull/52 to create a job to clean up daily.

[2016-08-15 21:01] ixdy commented on #30075
@rmmh ^ it's still happening. :(

[2016-08-15 21:02] andrewstuart commented on #30587
Looks like it'll be happening for anybody using hyperkube, and the author is looking into it. See the comments (and temp workaround) at #30635.

[2016-08-15 21:04] jingxu97 commented on #30258
@colemickens Thanks for posting the issue. Multiple mounts for one directory is not normal. Could you please let us know whether you still experience the issue? If so, could you describe your set up in more details? What version of kubenetes etc? Thanks!

[2016-08-15 21:05] Cocotton commented on #30637
@jingxu97 I'm not sure these logs are totaly related to my issue. My problem is with NFS rather than K8S secrets.

I'll try to keep finding the right logs and update you when I find something.

[2016-08-15 21:06] vishh commented on #23335
@yifan-gu Yeah. instead of using pipes, would it be possible to use regular files for stdout & stderr?

[2016-08-15 21:08] mml commented on #29936
I am now getting this message about parts of the standard go library.  Trying to build and run an ordinary go program (which uses fmt) outside of k8s works fine.

In this case, `make clean` changes nothing.

[code]

[2016-08-15 21:08] jingxu97 commented on #30108
@abrarshivani , could you please explain why you think there is a problem in devicePath? Thanks!

[2016-08-15 21:19] Random-Liu commented on #30252
We still need this. :) Reopen this.

[2016-08-15 21:22] Random-Liu commented on #30550
nodes.

We don't have the infrastructure for disruptive test yet. Marking it as Disruptive doesn't help for now. :)

[2016-08-15 21:22] jingxu97 commented on #30067
@suquant Thank you for posting your issue. According to your description, I am wondering whether you could delete app pod first, and then gitlab pod so that unmount won't have problem.

@saad-ali @matchstick should we consider adding "-f -l" option if normal `umount` failed?

[2016-08-15 21:24] jingxu97 commented on #29903
@mesmerizingr @mheese could you please try out 1.3.4 and let us know whether there still issues or not? Thanks!

[2016-08-15 21:25] yujuhong commented on #30463
I am not against using a name/namespace tuple as a *hint* for the runtime to construct container names (though simply passing a name might be easier as I mentioned in https://github.com/kubernetes/kubernetes/issues/30463#issuecomment-239903145). This is just one way to implement **foo_N** in option (B).

My https://github.com/kubernetes/kubernetes/issues/30463#issuecomment-239898173 about option (

[2016-08-15 21:26] #30580 closed

[2016-08-15 21:28] mlbiam opened #30650 "--oidc-ca-file not recognizing a self signed certificate"
**Is this a request for help?** no, self signed certificates should be accepted if explicitly trusted

**What keywords did you search in Kubernetes issues before filing this one?**

[code]

Also --oidc-ca-file self signed certificate kubernetes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.3.5

**Environment**: Ubuntu

[2016-08-15 21:30] vishh commented on #7294
IMHO, supporting swap is not worth the cost of making micro node clusters
reliable.

On Mon, Aug 15, 2016 at 1:10 PM, Yoshua Wuyts <notifications@github.com>
wrote:

[2016-08-15 21:31] yujuhong commented on #30550
The "Disruptive" tests in the cluster e2e suites still restore the environment after the test. They just can't be run in parallel with other tests, and also can't be run in the soak cluster where we test long-running daemons. If we want the nodes to be destroyed after the test, we should come up with a new category.

[2016-08-15 21:37] wongma7 commented on #26247
@jsafrane okay if I try to work on this? Looks like there's lots of examples..

[2016-08-15 21:39] mtaufen commented on #30252
I think that close was accidental. Sorry about that.

[2016-08-15 21:39] smarterclayton commented on #30536
Because that violates the safety guarantees provided to app authors
via grace period.  Just because the node controller can't observe the
node doesn't mean that it can deliver force kills - if the node came
back suddenly grace period would be violated.

[2016-08-15 21:42] ixdy commented on #30384
I'm looking into the kubemark compilation issue right now. It looks somewhat nontrivial to disable it for linux/ppc64le.

[2016-08-15 21:48] lavalamp commented on #30536
...which is why I added "has been in the deleting state for more than (say)
30 seconds" :)

On Mon, Aug 15, 2016 at 2:40 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-15 21:50] MHBauer commented on #30600
What's needed to move forward? Reviews?

[2016-08-15 21:51] gmarek commented on #30536
I guess because there's no upper bound on GracePeriod. CriticalPodRescheduler (whatever the name it currently has) has exactly the same problem with respecting arbitrary GracePeriods.

[2016-08-15 21:56] yoshuawuyts commented on #7294
reliable

Yeah agree, there's probably more pressing things to work on right now. All I'm hoping to achieve is that when future discussions about adding swap / disk management occur, you'll take the use case of tiny nodes into account C:

[2016-08-15 22:02] smarterclayton commented on #30536
Also NamespaceController.

On Mon, Aug 15, 2016 at 5:52 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-08-15 22:03] smarterclayton commented on #30536
We have customers running tens of minute grace periods.  :)

On Mon, Aug 15, 2016 at 6:02 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-08-15 22:03] ericchiang commented on #30650
Can you paste the full server certificates to test with (e.g. include a example certificate and key for keycloak)? This code is just using the Go standard library so it should be fairly easy to validate.

Note that we run OpenID Connect providers using self-signed CAs generated by openssl successfully. Full script here[0].

[0] https://github.com/coreos/dex/blob/1ee5920c54f5926d6468d2607c728b71cfe

[2016-08-15 22:06] euank commented on #30463
We're conflating two things here. Name, in docker's case, is used both as a sorta-human-readable-hint and as an idempotency token.

It might make this better if we split those two things into conceptually different items.

I think we do need idempotency tokens for our create requests, unless we want to solve the "exactly once delivery" problem :grinning:.

If we accept that to be the case, then I

[2016-08-15 22:10] jbeda commented on #30600
Right now I'm working on making the docker build incremental.  I'm fixing up https://github.com/kubernetes/kubernetes/pull/28518 after Tim's changes.

[2016-08-15 22:10] mikedanese commented on #30589
We actually need to generalize it. There's a flag on controller-manager:
[code]
Which needs to be mirrored in kubelet. Currently with --configure-cloud-routes=true set on controller-manager and --cloud-provider=gce set on kubelet, kubelet will never become ready because it's waiting for a route to be configured.

[2016-08-15 22:13] MHBauer commented on #30600
@jbeda have been subscribed and watching. Do you want me to wait until you are done rebasing or start digging in?

[2016-08-15 22:18] MHBauer commented on #30632
Root is:
[code]
Clearly it comes up in time for the rest of the test cases. Is there a way to wait specifically for etcd to be ready?

[2016-08-15 22:19] yujuhong commented on #30463
@euank I agree that there are two different issues mixed in the discussion, and I was trying to clarify both with my comments (but probably not very successfully)

1. I don' think we need idempotency tokens because the semantics we want from it is too strange. See my previous comments https://github.com/kubernetes/kubernetes/issues/30463#issuecomment-239581550 and https://github.com/kubernetes/kub

[2016-08-15 22:26] thockin opened #30651 "Cleanup: Consistent capitalizations for "iptables""
Our codebase uses both `Iptables` and `IPTables`.  We should pick one and unify.  I think `IPTables` is probably more correct.

[2016-08-15 22:31] Random-Liu commented on #30252
@mtaufen Np at all~ ;)

[2016-08-15 22:33] gmarek commented on #30536
FYI @piosz

[2016-08-15 22:44] k8s-merge-robot opened #30653 "[k8s.io] Kubectl client [k8s.io] Kubectl patch should add annotations for pods in rc [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21688/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl patch should add annotations for pods in rc [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26126

[2016-08-15 22:53] fabioy commented on #30617
@cjcullen Redirecting to CJ.

[2016-08-15 23:09] ianjamez commented on #30495
Yes, fixed it for me. I ended up with:
`  local master=$1
  local file=$2
  KUBE_MANIFESTS_TAR_URL="${SERVER_BINARY_TAR_URL/server-linux-amd64/manifests}"
  MASTER_OS_DISTRIBUTION="${KUBE_MASTER_OS_DISTRIBUTION}"
  NODE_OS_DISTRIBUTION="${KUBE_NODE_OS_DISTRIBUTION}"
  local server_binary_tar_url=$SERVER_BINARY_TAR_URL
  local salt_tar_url=$SALT_TAR_URL
  local kube_manifests_tar_url=$KUBE_MANIFEST

[2016-08-15 23:11] cjcullen commented on #30617
Previously, gcloud would have configured kubectl to use the cluster's static client certificate to authenticate. Now, gcloud is configuring kubectl to use the service account's credentials.

Kubectl is just using the Application Default Credentials library, and it looks like this is part of the ADC flow for using a JSON-key service account. I'll see if there is a way that we could make this nicer.

[2016-08-15 23:13] ixdy commented on #25886
`kubemark` is also broken right now - see #30384.

[2016-08-15 23:14] thockin commented on #29936
They upgraded us to 1.7rc

sudo CGO_ENABLED=0 `which go` install -a -installsuffix cgo std

Would be nice if we could autodetect this, or if google did something sane
like versioning its goroot.

On Mon, Aug 15, 2016 at 2:08 PM, Matt Liggett <notifications@github.com>
wrote:

[2016-08-15 23:14] #29936 closed

[2016-08-15 23:14] ixdy commented on #30384
Ah, I understand the `hyperkube` hack better now. I think I have something for `kubemark`.

[2016-08-15 23:17] Cloven commented on #30617
Several in #google-containers have discovered the client certificate
workaround, but it's described as 'legacy', and to the best of our
collective understanding, the application default service credential is the
master credential of the actual owner of the project (which one might,
understandably, not want to hand off to a third party service provider like
a CI server), so there's a fear that we'r

[2016-08-15 23:23] VikParuchuri opened #30656 "Support the user flag from docker exec in kubectl exec"
It looks like `docker exec` is being used as the backend for `kubectl exec`. `docker exec` has the `--user` flag, which allows you to run a command as a particular user.  This same functionality doesn't exist in Kubernetes.

Our use case is that we spin up pods, and execute untrusted code in them.  However, there are times when after creating the pod, we need to run programs that need root access

[2016-08-15 23:24] iceandroidph opened #30657 "FeatureRequest : Support for ConfigBlobs"
Config Maps are good and works properly, but there are configuration that are not in Key Value format.

It would be nice to be able to create a configblob and load a json file as configuration.

[2016-08-15 23:32] iceandroidph opened #30660 "FeatureRequest : GitRepo Mount Additional Configuration"
Some project cannot afford to have one repository per each small feature.

So it would be very nice if on the Volume type parameters/argument to allow to specify folder/s or file type to include, so it won't have to mount the entire repo with unnecessary data.

i.e.

[code]

[2016-08-15 23:51] saad-ali commented on #30067
Yes, we should more gracefully handle unmounting NFS shares that are no longer accessible. Maybe do a force unmount after some time if regular unmount repeatedly fails?

cc @kubernetes/sig-storage

[2016-08-16 00:01] Random-Liu commented on #30647
This is https://github.com/kubernetes/kubernetes/issues/30462. Close this one.

[2016-08-16 00:01] #30647 closed

[2016-08-16 00:01] jeffvance commented on #30067
There was a timing issue in k8s 1.3.xx where sometimes the nfs recycler pod's innerSpecName was used as the unmount target rather than its outerSpecName (or vice-versa), thus guaranteeing that the umount fails. I have not seen this issue since updating to 1.4, FWIW...

[2016-08-16 00:03] AdoHe commented on #28219
@kargakis get it.

[2016-08-16 00:08] jbeda commented on #30600
You should start. I'm still testing strategies.
On Mon, Aug 15, 2016 at 3:14 PM Morgan Bauer <notifications@github.com>
wrote:

[2016-08-16 00:09] AdoHe commented on #29312
@pwittrock I believe we can close this now, #30007 is merged already. Thanks @ericchiang

[2016-08-16 00:10] AdoHe commented on #30627
+1 for the second option.

[2016-08-16 00:13] AdoHe commented on #27721
Try to reproduce but not success, will check it again.

[2016-08-16 00:15] sirvon commented on #29381
@dstroot did you make progress on this....whats/where is the stackoverflow post?

[2016-08-16 00:16] mml commented on #29936
That did it.  Thanks.

[2016-08-16 00:19] feiskyer commented on #29029
Refer https://github.com/kubernetes/kubernetes/pull/30118 for apparmor implementation.

[2016-08-16 00:22] AdoHe commented on #28321
@xingzhou please take a look at @smarterclayton comment, I think this is what I want.

[2016-08-16 00:25] feiskyer opened #30665 "Mounter does not implement GetDeviceNameFromMount on OSX"
[code]

This problem only happens  on OSX.

[2016-08-16 00:26] saad-ali commented on #28671
@chao007 Also, how long did you wait? Master expects a kubelet to be down for 5min 40sec before it considers the node down and evicts the pods that were scheduled to it. After the pods are evicted (and rescheduled to another node), master will wait 6min before it unilaterally detaches volumes from the downed node. So from the time you kill kubelet to the time that master begins to detach, you're l

[2016-08-16 00:34] jingxu97 commented on #30067
@jeffvance Could you please let us know how you find out this issue?
For mount/unmount target, kubelet should use innerSpecName, I didn't the code using the mix of them. But our log code seems print out the wrong (outerSpecName) information during unmount. I am trying to fix it.

[2016-08-16 00:40] jeffvance commented on #30067
@jingxu97 I had the problem when running the pv e2e tests. I added logging to the code to display the inner and outer spec names. I discovered that sometimes outer name was used due to spec.Volume == nil here: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/plugins.go#L226. I never figured out why sometimes spec.Volume was nil since it started working in 1.4.

[2016-08-16 00:48] anguslees commented on #30088
Other commonly seen DoS attacks are non-HTTP things like SYN floods and DNS amplification attacks.  I mention these because these are unlikely to work via nginx/ingress, and the source IPs are likely spoofed.  I think a slow feedback loop based on mining logs will likely block the wrong target and/or be prohibitively expensive to be effective for these lower levels.

[2016-08-16 00:50] saad-ali opened #30667 "GCE Node e2e flake due to "Connecting to storage.googleapis.com" Connection timed out"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30661/node-pull-build-e2e-test/18976/

[code]

[2016-08-16 00:52] Random-Liu commented on #30462
This flakes so much, :(

[2016-08-16 00:53] mlbiam commented on #30650
[keycloak.jks.zip](https://github.com/kubernetes/kubernetes/files/419274/keycloak.jks.zip)

Here's the keystore.  The password is start123.  Looking at the keytool cert vs the cert your script generates are:

| difference | java | dex |
| ---------- | -----| ----|
|Signature| SHA256 | SHA1 |
| Subject | multi part DN | single part DN |
| X509 Extensions | None | see below |
|Subject Alternative Na

[2016-08-16 00:58] bprashanth commented on #30088
Typically volumetric attacks are dropped by the cloudprovider/CDN etc. You have a harder problem if you *are* the CDN, you'd probably have to resort to some smart iptables black listing policy that ends up being more reactive and strategic than proactive.

[2016-08-16 01:23] ixdy commented on #30384
bad news: breakage is not limited to kubemark:
[code]

[2016-08-16 02:03] 249043822 commented on #30584
@thockin , hi, as in version 1.3 or before, i could do test or build directly and my machine only need installing golang. Now in  recent svn codes,  i do make test or update-codecgen.sh, firstly it need go-bindata, and i installed it, but still got errors above , i 'm confusing , could you help me ? thanks

[2016-08-16 02:03] 249043822 commented on #30584
@Dongxiugang

[2016-08-16 02:10] joshk0 commented on #28977
Yes, it also had "active": 1 despite having succeeded.

Unfortunately the engineer who noticed this in our team already discovered how to delete it: Using the REST API directly. So, it is now gone.

[2016-08-16 02:12] AdoHe commented on #30395
+1 to a file based context.

[2016-08-16 02:19] AdoHe commented on #30656
SGTM. @kubernetes/kubectl any thoughts on this?

[2016-08-16 02:41] NickCao commented on #6888
gcr.io is unaccessable in China, please fix that use mirrrors

[2016-08-16 03:06] ericchiang commented on #30650
Sorry that file just contains a single certificate. It looks like the certificate you pasted above.

[code]

The error form the API server implies there's something wrong with your certificate chain

From our conversations it sounds like you just have a single certificate that you're both running under and attempting to trust. Is that correct? Could you use whatever process you're using to provisi

[2016-08-16 03:14] thockin commented on #30584
go-bindata is something else, unfortunately.

Did you `make clean`?  I can not reproduce this.  It indicates a pretty severe failure - a whole lot of variables evaluated to "".  Do you have changes in this branch?

[2016-08-16 03:25] 249043822 commented on #30584
I have no changes , i only clone the newest code from kubernetes/kubernetes, still cause the error, i don't known why /gofiles.mk.stamp hasn't been generated, i found the code has big differences with 1.3 , for example, Makefile.generated_files

root@k8s-node2:/home/k8s/zhangke/kubernetes# make clean
+++ [0816 11:33:16] Verifying Prerequisites....
!!! [0816 11:33:16] Build image not built.  Cannot

[2016-08-16 03:31] thockin commented on #30584
What OS?  What version of `make` ?  Obviously it is not totally broken or
CI would not pass...

On Mon, Aug 15, 2016 at 8:25 PM, KeZhang <notifications@github.com> wrote:

[2016-08-16 03:47] #29312 closed

[2016-08-16 03:54] bgrant0607 commented on #30395
See also #10693, #9298, #20605

cc @ghodss

[2016-08-16 03:55] bgrant0607 commented on #30395
I'd like user preferences, context, and credentials in separate files. There are a lot of things I'd like to do with preferences, but it doesn't make sense for them to be per-cluster.

[2016-08-16 03:57] bgrant0607 commented on #30395
The way to set context from the environment is to point kubectl at different kubeconfig files, via env var or flag.

[2016-08-16 04:01] bgrant0607 commented on #30395
Doesn't ClusterInfo need some kind of cluster identifier? Cluster federation will introduce at least a cluster name, and there are multiple use cases for a cluster uid.

[2016-08-16 04:13] #29289 closed

[2016-08-16 04:16] 249043822 commented on #30584
root@k8s-node2:/home/k8s/zhangke/kubernetes# more /etc/issue
Ubuntu 14.04.1 LTS \n \l

root@k8s-node2:/home/k8s/zhangke/kubernetes# make -version
GNU Make 3.81
Copyright (C) 2006  Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.

This program built for x86_64-pc-linux

[2016-08-16 04:17] 249043822 commented on #30584
anything wrong?

[2016-08-16 04:32] saad-ali commented on #26791
If there are cloud providers other than Amazon, that want to support Amazon EBS volumes, then we'll need to create an EBS interface like [cinder has](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cinder/cinder.go#L44) and then `getCloudProvider` can support multiple cloud providers.

Feel free to send out a PR to do this.

CC @justinsb @kubernetes/sig-aws

[2016-08-16 04:33] smarterclayton commented on #30656
It's not unreasonable, but we'd need pod security policy to control the user input and we'd probably have to disallow user by name (since we don't allow it for containers - you must specify UID).

[2016-08-16 04:34] smarterclayton commented on #30656
@sttts and @ncdc re exec

[2016-08-16 05:12] dubstack commented on #29927
@dchen1107 @yujuhong I believe I was removed from the kubernetes org on the last day of my internship.
But I am working on this and would send out a PR soon.

[2016-08-16 05:15] dubstack commented on #29927
re above, @vishh added me to the Kubernetes org, but strangely I am still unable to assign this issue to myself.

[2016-08-16 05:27] xingzhou commented on #28321
@smarterclayton & @AdoHe, thanks for your comments. Let me take a summary, if I do not get your  points, please correct me:
• We need an interface in ```pkg/kubectl/cmd/util```, named ```ErrorWithAction```, this interface support methods like ```#getCause, #getActions and #addAction```
• Add a new ```ValidationError``` type in ```pkg/api/validation/schema``` which implements interface ```ErrorWith

[2016-08-16 06:05] thockin commented on #30584
Nope.  Same as me.  Are you rebased to upstream/master as of recent?  Does
`git status` come back clean?

Can you run `make DBG_MAKEFILE=1` ?

On Mon, Aug 15, 2016 at 9:18 PM, KeZhang <notifications@github.com> wrote:

[2016-08-16 06:05] k8s-merge-robot opened #30672 "[k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13918/

Failed: [k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}

[code]

Previous issues for this test: #27850

[2016-08-16 06:17] dubstack commented on #29927
@vishh I was concerned about the following part of our logic:

Once we write 0 to the force_empty file :
` almost all pages tracked by this memory cgroup will be unmapped and freed.
Some pages cannot be freed because they are locked or in-use. Such pages are moved to parent(if use_hierarchy==1) or root (if use_hierarchy==0) and this cgroup will be empty.`

So once force_empty file is successfully

[2016-08-16 06:28] 249043822 commented on #30584
thanks, i will try now, did your environment set GOPATH?

[2016-08-16 06:30] bgrant0607 commented on #13940
@chrislovecnm mentioned that he wanted a pdf of kubectl documentation

[2016-08-16 06:30] thockin commented on #30584
The build should be hermetic wrt GOPATH, but yes my GOPATH is legit.

On Mon, Aug 15, 2016 at 11:29 PM, KeZhang <notifications@github.com> wrote:

[2016-08-16 06:39] xingzhou commented on #29876
#investigating, can reproduce in my environment

[2016-08-16 06:43] thockin commented on #30463
I'm torn on idempotence.  One could argue that our API server SHOULD
implement it, but it doesn't.  In practice this will force kubelet to
always distinguish "EEXIST" from other errors and ignore it.  Not a huge
deal.  Do what is simpler.

WRT names, I think a tuple/struct gives the right balance of structure and
freedom.  Rutimes can join the tuple however they want, it just has to be
determinist

[2016-08-16 06:47] thockin commented on #30589
I think we need to streamline and de-hackify it.  I don't know if that means keep it or abandon it or something else.

@justinsb since he was playing with something that sounded cleaner...

[2016-08-16 07:10] #30591 closed

[2016-08-16 07:19] mlbiam commented on #30650
No, it contains the self signed certificate and the private key.  The ```Entry type: PrivateKeyEntry``` attribute shows that.

Right, thats why I opened the bug.  The certificate is valid.  Its valid if you access it via a browser, openssl s_client, another Java client, etc.  Googling the error message I find http://stackoverflow.com/questions/22666163/golang-tls-with-selfsigned-certificate which

[2016-08-16 07:25] 249043822 commented on #30584
hi , @thockin , when i run `make DBG_MAKEFILE=1`, it output so many lines, but i still do not know why cause the error, it's so unthinkable

..........

.........
     cmp -s .make/cmd/genman/gofiles.mk.tmp .make/cmd/genman/gofiles.mk || touch .make/cmd/genman/gofiles.mk.stamp;                       \
        mv .make/cmd/genman/gofiles.mk.tmp .make/cmd/genman/gofiles.mk
FILES=$(ls cmd/genkubedocs

[2016-08-16 07:28] tobegit3hub commented on #30572
Thanks @justinsb . I will create the example grpc container and processes to reproduce this issue.

[2016-08-16 08:14] tobegit3hub commented on #30572
It's easy to reproduce in existing Kubernetes cluster or new Kubernetes cluster. Follow the the [doc](https://github.com/kubernetes/kubernetes/tree/master/cluster/ubuntu) to setup multiple nodes of Kubernetes in Ubuntu 14.04. The default network component is `Flannel` and you can start `SkyDNS` addon.

Now we create the `NodePort` service with the port `30300` for [grpc-helloworld](https://github.

[2016-08-16 08:19] ivan4th commented on #29633
Chances are this is fixed by #29641.
At least "no such file or directory" errors look like they're caused by the race bug that PR fixes.
I've added e2e test for the race in #30674, although didn't try to reproduce it for downward API (it uses tmpfs-based emptyDir for which it's harder to induce the race).

[2016-08-16 08:25] gmarek commented on #30350
Fixed by kubernetes/test-infra#386

[2016-08-16 08:25] #30350 closed

[2016-08-16 08:38] gmarek commented on #29846
This is clear. The question is what would cause this increase. The only thing I can think of is starting a mirror pod.

[2016-08-16 08:42] chao007 commented on #28671
@saad-ali  I did not remember the accurate time I waited.
I just re-try this on openshift today,  step is like https://bugzilla.redhat.com/show_bug.cgi?id=1335293#c6
But this time, the ebs volume can be detached and attached to another node.
Openshift version is
openshift v3.3.0.19
kubernetes v1.3.0+507d3a7

[root@ip-172-18-3-41 ~]# oc get pods recreate-example-1-9ce1q -o wide
NAME

[2016-08-16 08:54] mlbiam commented on #30650
I tried creating a certificate with the same extensions as your script:

[code]

Notice that the x509 extension attributes match what your script requests and creates.  I get the same errors from kubernetes:

[code]

After looking more closely at the script you provided above, this script is NOT creating a self signed certificate.  Its:

First generate a self signed CA certificate:
[code]
If you t

[2016-08-16 09:09] davidopp commented on #30536
I don't understand the scenario that's being described here (let's just focus on the second one).

What is the connection between deletion and eviction? The feature we added should block pod evictions from NotReady nodes when node controller thinks there is a network partition. But I don't understand why it would affect pod deletions (even with grace period).

My (possibly wrong) understanding of

[2016-08-16 09:12] rvrignaud commented on #29903
Hi @jingxu97 and @saad-ali,

We upgraded our GKE cluster to 1.3.4 (both master and nodes) and we are still seeing volume mounting issues:

[code]

I should say that this deployment manifest was working fine before upgrade.
It seems that deleting a pod could eventually make it run again.

Here is the kubelet logs on the gke-c2-default-pool-40cc47de-tun8 node:
[kubelet.log-20160816-1471306621.gz](ht

[2016-08-16 09:20] rvrignaud commented on #29166
Hi,
It seems we still have some issues with 1.3.4 release on GKE. See https://github.com/kubernetes/kubernetes/issues/29903#issuecomment-240048353

[2016-08-16 09:22] m1093782566 commented on #28738
I am going to close this issue...

[2016-08-16 09:38] m1093782566 opened #30675 "[Scheduler] Improve scheduler log information"
In `scheduler.go`, there are two places where uses `%+v ` to output the content of pod. One place is [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/scheduler.go#L96),

And the other one is [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/scheduler.go#L100),

They are different from other places such as [here](https://github.com/kube

[2016-08-16 09:40] mksalawa commented on #30507
cc @piosz

[2016-08-16 09:43] ddysher commented on #9043
As mentioned from @magicwang-cn , updating pod is not enough since if one fails, we'll end up with old spec.  But that's orthogonal to inplace update of pod i think: it's a matter of whether we want to persist new spec.  If we want to persist the new spec, then it seems a new DeploymentStrategy is needed. This stills require we have an approach to update pod though.

[2016-08-16 10:50] rcoup commented on #9043
Correct. For us it solves the use-case of "change configmap or secrets and get deployment to pick them up".

I'm not sure _any_ docker-based solution really supports some sort of in-place update --  eg. you can't change a running Unix process' environment variables externally without kernel/debugger hackery

[2016-08-16 10:55] svanharmelen commented on #30384
PR #29740 was referenced as the PR that caused the build to break, but after testing it turned out that is not correct.

Not sure if it is of any value for this kind of issue, but it seems the commit that is actually causing the build to break is a PR merged at least two days (or more) before PR #29740 was merged, as reverting to 6aaa5292 and doing a `./build/release.sh` still gives me the same er

[2016-08-16 10:55] 249043822 commented on #30584
@thockin, Now it's works. Before i only did ftp kubernetes package from my windows to ubuntu linux, it did not work and get above error;I git from the github directly in ubuntu linux and do make, it works, it's very unthinkable, do you know the differences? thanks

[2016-08-16 11:14] dshulyak commented on #29804
@medhedifour take a look at this project https://github.com/Mirantis/k8s-AppController, does it cover your use-cases?

[2016-08-16 12:27] gmarek commented on #30536
@derekwaynecarr similarly to @davidopp - I don't really understand what problem are you describing and what users are expecting. If all Nodes are NotReady then even if something would get evicted it won't be scheduled anywhere - why users expect us do delete everything if we know there's no place where we could put evicted Pods? As @lavalamp mentioned current logic was introduced on purpose as we

[2016-08-16 12:42] wojtek-t commented on #29897
It's already possible to write "k8s-bot kubemark test this" - though there are still some issues with it, which I'm trying to figure out in the background.

[2016-08-16 12:55] Yancey1989 commented on #30605
Append ```"namespace": "*"``` to the policy file, this work well.
[code]

I will close this issue.

[2016-08-16 12:56] #30605 closed

[2016-08-16 13:04] asifhj commented on #15128
+1

[2016-08-16 13:07] AdoHe commented on #30629
/cc

[2016-08-16 13:16] alexbrand commented on #29679
Sorry @pwittrock, got caught up with other stuff. I hope to have something by the end of this week.

[2016-08-16 13:33] k82cn commented on #24314
@bgrant0607 / @jayunit100 , can you help to assign this issue to me? So I can trace the tasks in my hand :).

[2016-08-16 13:35] jsafrane commented on #30265
@justinsb, tagging helped a lot, thanks

[2016-08-16 13:36] jsafrane commented on #26247
@wongma7, sure, fix this issue as you see fit. And thanks in advance :-).

[2016-08-16 13:47] nhlfr commented on #30294
The difference between what @vefimova proposes and what frakti is doing is that we (Mirantis) would like to run VM-s from QCOW2 images instead of Docker images. This is not possible with hyperd.

I think that we should implement a separate runtime, outiside of the main k8s repo, which will cover "traditional VM-s" approach, after all the things related to client-server runtimes are implemented.

[2016-08-16 13:50] nhlfr commented on #30294
That runtime would just call libvirt API in order to create VM-s and handle QCOW2 images management. I have no detailed overview of that, but at the same time I don't see any things which may block that approach.

[2016-08-16 13:55] vefimova commented on #30294
Or instead we could extend hyper with ability to specify vm image instead of "hyperkernel" as hyper already supports xen, qemu/kvm, libvirt. If it's of cource possible. WDYT @feiskyer.

[2016-08-16 13:57] nhlfr commented on #30294
If hyperd folks will not have anything against this idea, then sure, we can try to do that.

[2016-08-16 14:15] hanikesn opened #30681 "Kubernetes 1.3.5 breaks cni config with docker"
**Kubernetes version**:
1.3.5

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** : Debian 8
- **Kernel** : 3.16.0-4-amd64
- **Install tools**: custom puppet module
- Calico networking

**What happened**:
After upgrading the kublet to 1.3.5 the cni plugin tries to setup the lo network using cni, but can't find a corresponding plugin.

[code]

**What you expected to happe

[2016-08-16 14:15] k8s-merge-robot opened #30682 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/4968/

Run so broken it didn't make JUnit output!

[2016-08-16 14:23] smarterclayton opened #30683 "e2e smoke cluster doesn't even come up"
e2e smoke failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/26044/kubernetes-pull-build-test-e2e-gke/7318/

[code]

[2016-08-16 14:26] hanikesn commented on #30681
Looks like I need to install the loopback plugin from the cni project to get this working.

[2016-08-16 14:33] dstynchula commented on #28977
@Joshua: I tried the api and failed to delete my jobs. What did you send to
the apt to remove them?

On Aug 15, 2016 7:11 PM, "Joshua Kwan" <notifications@github.com> wrote:

[2016-08-16 14:39] dcbw commented on #30681
Yeah, we need another update of CNI plugin binaries and corresponding update to Salt in cluster/saltbase/salt/cni/init.sls.

[2016-08-16 14:42] dcbw commented on #30681
Or, if provisioning yourself, we should document the minimum required CNI plugin version somewhere.

[2016-08-16 14:52] dstroot commented on #29381
@sirvon - it was "user education" I suppose.  I discovered and spun up the explorer container (https://github.com/kubernetes/kubernetes/tree/master/examples/explorer) so I could see how DNS was working inside the cluster.  It turned out DNS was working great.  The true issue was that I did not understand how ENV variables work.  I did not realize that numbers and booleans needed to be in quotes as

[2016-08-16 15:10] luxas commented on #24078
I'm also in favor for adding `-n` as a shorthand for `--namespace`

[2016-08-16 15:25] k8s-merge-robot opened #30687 "[k8s.io] V1Job should scale a job up {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21728/

Failed: [k8s.io] V1Job should scale a job up {Kubernetes e2e suite}

[code]

Previous issues for this test: #29976 #30464

[2016-08-16 15:28] mml opened #30688 "Rework DisruptionController to use a RateLimitingInterface"
Raised during review of #25921.  This makes the controller act nicer when retries are required.

@kargakis

[2016-08-16 15:48] andreykurilin commented on #23402
@bgrant0607 Can you look at proposed change?

[2016-08-16 16:00] ericchiang commented on #30650
Sorry just found the private key (my keytool foo is rusty). Yes I can reproduce your error.

Added an entry to my `/etc/hosts` for "kcdev.tremolosecurity.com"

[code]

Grabbed the key and cert in regular PEM encoded format.

[code]

Tried to use the cert and key.

[code]

The test is:

[code]

This is definitely not an issue with the plugin code. You're self-signed certs are using options that don

[2016-08-16 16:05] ericchiang commented on #30650
I'd recommend someone with write privileges close this issue, since it's a Go TLS + keytool issue and not an issue with the OpenID Connect authentication plugin code.

[2016-08-16 16:06] k8s-merge-robot opened #30689 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/8535/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28984

[2016-08-16 16:15] jbeda commented on #30395
@kubernetes/sig-cluster-lifecycle

Is there a document that goes through the user scenarios and experience here?

[2016-08-16 16:20] thockin commented on #30584
Can you do a diff -ruN of the two trees?

On Tue, Aug 16, 2016 at 3:56 AM, KeZhang <notifications@github.com> wrote:

[2016-08-16 16:26] smarterclayton commented on #23402
@fabianofranz will do the review since he's fairly familiar with this.

[2016-08-16 16:28] luxas commented on #26093
Status update:

Things that kubelet depend hard on:
 - being root: https://github.com/kubernetes/kubernetes/pull/30466
 - `glibc` (kubelet won't start otherwise)
 - cpu, cpuset, cpuacct, memory cgroups mounted
 - `iptables`, `iptables-restore`, `iptables-save`, `ip`, `nsenter`, `mount` and `umount`
 - `socat` for port-forwarding
 - the `br-netfilter` module. (if the module is not enabled when kern

[2016-08-16 16:36] smarterclayton commented on #30536
The overall design of this is that everyone who wants to invoke delete = 0 has to follow the same rules, although in some cases we allow specific uses to cap the amount of time that they wait before delete = 0.  The namespace controller already handles force deletion of unresponsive pods.

Delete collection (if you're referring to the bulk delete) is just invoking the same delete operation on mult

[2016-08-16 16:36] sirvon commented on #29381
@dstroot thank you for your feedback and reassurance.

[2016-08-16 16:42] mml opened #30691 "PR unit test run tries to grab wrong branch"
E.g.

[code]

[2016-08-16 16:43] foxish opened #30692 "Devel doc: api_changes.md out of date"
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api_changes.md

The document makes several mentions of paths which no longer exist in the source tree.
For example:

Also,

These have since moved to apis/.... The doc needs to be updated to reflect this.

[2016-08-16 16:43] mtaufen opened #30693 "Use k8s-bot to re-run a specific test suite"
When tests flake, for example, I can re-run all of the tests with `@k8s-bot test this issue #IGNORE`. I've heard that we have other commands for e.g. re-running unit tests, or re-running e2e tests. But there is more granularity:
- Jenkins GKE smoke e2e
- Jenkins GCE e2e
- Jenkins GCE Node e2e
- Jenkins unit/integration

and so on.

When tests flake, it would be nice to be able to re-run only the t

[2016-08-16 16:48] yujuhong commented on #30463
I've discussed with @euank on slack yesterday. I think we can ensure that "create" is idempotent if we use tokens such as `(pod UID, container name or hash, attempt number)`. The attempt number increases on every container restart, and runtime doesn't have to be aware of the difference between "foo_N" and "foo" in this context. This can prevent kubelet from making mistakes in some corner cases. Of

[2016-08-16 16:50] eparis commented on #30536
Not a useful comment but this makes me very very yucky/dirty: `The thing we guarantee for GracePeriod is that there's at least GracePeriod between an attempt to send SIGTERM and an attempt to send SIGKILL, not that there's a GracePeriod between actual SIGTERM and SIGKILL`

[2016-08-16 16:52] smarterclayton commented on #30536
Actually, I'm pretty sure we guarantee that today for Docker, but not for
Rkt.  Would have to double check.  If docker fails in the API call, we will
always preserve that interval.

On Tue, Aug 16, 2016 at 12:51 PM, Eric Paris <notifications@github.com>
wrote:

[2016-08-16 16:53] mikedanese commented on #18174
FYI #30588

[2016-08-16 16:56] pwittrock commented on #29679
@alexbrand No worries.  In that case, this will wait until the 1.5 release.  Expect 1.5 work to be pretty low on my priority list until 1.4 is out.

[2016-08-16 17:03] duglin commented on #20605
I'd like to suggest that we look at : http://kubernetes.io/docs/user-guide/docker-cli-to-kubectl/
and consider what it would take to make the kubectl version of these commands as easy and friendly to use as they are with Docker.  That could really help define a pattern for how we revamp things.

Each extra parameter, each extra step needed, each extra bit of extra output (noise) should be scrutini

[2016-08-16 17:05] duglin commented on #20605
oh oops, this is about just `kubectl config`, not just `kubectl` in general... I'll try to find a better home for the comment. :-)

[2016-08-16 17:16] yujuhong commented on #29927
@dubstack I think you can request to join kubernetes-collaborator so that you can be assigned issues.

[2016-08-16 17:17] mml commented on #30691
@rmmh this happened again.

[2016-08-16 17:21] dubstack commented on #29927
@yujuhong oh Thanks. Done!

[2016-08-16 17:22] jingxu97 commented on #30067
@jeffvance, I recently added a logic for reconstructing volume states when kubelet restarts for orphaned volume cleanup. Basically, when kubelet restarts, it scans the volume directories and reconstruct volume information from the directory names including pod uid, plugin name, and volume name (this is InnerSpecName). Because we cannot recover OuterVolumeSpecName in certain cases, InnerVolumeSpecN

[2016-08-16 17:24] derekwaynecarr commented on #30536
@gmarek @lavalamp @davidopp - scenario 1 is fixed in #30624 which should fix any interaction with the namespace controller marking a pod for termination on nodes that were not healthy, and the node controller should now properly evict those pods (assuming there is at least one other healthy node on the cluster).

I understand the rationale behind scenario 2, but it was a surprise for me when debug

[2016-08-16 17:38] deads2k commented on #20605
@duglin tag me in where you end up dropping this?  I'd like some more detail on which commands you want to emulate.  Some commands like `docker ps` I could see, but others like `docker run` (75-ish flags and counting) are less obvious to hold up as a examples.

[2016-08-16 17:42] mlbiam commented on #30650
Instead of closing, can we make this a feature request to support an "--oidc-tls-insecure" or something similar to kubectl's --insecure-skip-tls-verify ?  If you are doing development or testing it would make it much easier.

[2016-08-16 17:42] alexbrand commented on #29679
Sounds good. Thanks @pwittrock

[2016-08-16 17:45] derekwaynecarr commented on #30536
Reading through the original bug report, this seems to have been induced by poor integration from kubelet with cloud provider that was undergoing an upgrade without HA.  Should we just fix the kubelet instead of changing node controller in ways that dont make a material difference as cluster size grows?  I think 500/500 reporting unhealthy but 499/500 reporting unhealthy causing a difference in be

[2016-08-16 17:57] yujuhong commented on #29846
From #29845, the image-puller pod on the node (`jenkins-e2e-minion-group-s9i0`) has terminated, so kubelet didn't try to create the mirror pod again (which was evicted/deleted in an earlier test).
The difference then becomes:
 * kubelet thinks there is a image-puller pod in a terminated state.
 * scheduler is not aware of the image-puller pod at all.

The discrepancy should not matter for scheduli

[2016-08-16 18:09] caseydavenport commented on #30681
Yeah, if this isn't documented somewhere already in the k8s docs then it should be.

[2016-08-16 18:10] bgrant0607 opened #30698 "Make it possible to write a sound client from a distributed-systems perspective"
There are a number of distributed-systems challenges with our API, which is:
- eventually consistent (no guarantee about when a mutation will be observed),
- weakly consistent (no guarantee that mutations will be observed in order), and
- transactional only for individual resources.

Cases:
- I modify resource A and watch A. How can I tell when I've observed my update, assuming I'm not the only ac

[2016-08-16 18:10] k8s-merge-robot opened #30699 "[k8s.io] Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13429/

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

Previous issues for this test: #28773 #29506

[2016-08-16 18:13] pmorie opened #30700 "ServiceController createLoadBalancerIfNeeded makes unneeded calls to cloud provider"
The service controller can make an unnecessary call to the cloud provider to get a load balancer for the service, even if one is not defined, if that service is updated: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L263

... this can surface to the user with an event that makes it look like:
1.  The service controller incorrectly attempted to cre

[2016-08-16 18:13] aveshagarwal commented on #29503
Seems like some issue with the infrastructure: `Error from server: client: etcd cluster is unavailable or misconfigured
`

[2016-08-16 18:15] pmorie commented on #30700
cc @kubernetes/rh-cluster-infra

[2016-08-16 18:27] saad-ali commented on #29903
@rvrignaud There are a number of issues that can cause `timeout expired waiting` while mounting. Send me your kubelet logs and master info (cluster name/project ID/zone) on Slack and the deployment files and I'll take a look.

[2016-08-16 18:34] derekwaynecarr opened #30702 "kubelet container runtime cgroup detection"
Per the sig-node discussion, if we add a remote container runtime, the kubelet has no way to know what cgroup to monitor for the summary api, or other use case/tools built on top of that API to do benchmarks to measure usage associated with that runtime.

We should decide if the kubelet should monitor the runtime cgroup (if any), and if it should, how it should get the value (i.e. via full cgroup

[2016-08-16 18:40] vromero opened #30703 "`kubernetes/cluster/saltbase/install.sh` doesn't work on BSD/Darwin based systems"
Running `kubernetes/cluster/saltbase/install.sh` in Darwin (e.g: macos) or BSD (freebsd) won't work due to slight incompatibilities in `cp` and `sed`.

No need to work on it, I'm creating a PR to fix it.

[2016-08-16 18:44] erictune commented on #30139
@matchstick
I've been trying to debug this issue with the OP via email but I don't know enough about kube-dns to help.  Is there a person with kube-dns expertise who could help?

[2016-08-16 18:47] #30335 closed

[2016-08-16 18:47] #30342 closed

[2016-08-16 18:49] yifan-gu commented on #30702
One idea is to embed the PID/cgroup path in the `Version` response of the runtime. Maybe change the name `Version` to `Info` or something?

[2016-08-16 18:50] vishh commented on #29927
@dubstack good catch!

Another option that I remember mentioning is that of decreasing
limit_in_bytes in small chunks until usage is `0` or equal to
`kmem.usage_in_bytes`.

On Tue, Aug 16, 2016 at 10:22 AM, Buddha Prakash <notifications@github.com>
wrote:

[2016-08-16 19:00] jeffvance commented on #30067
@jingxu97, the Name() method is called to construct the path for mounting and unmounting the vol. The mount was always done on the inner spec name (correct). But sometimes the umount was attempted against the outer spec name. This seemed to me to be a timing issue but not confirmed. A way that outer spec name could be used instead of inner name is when the Name() method (https://github.com/kuberne

[2016-08-16 19:06] bgrant0607 commented on #5164
cc @thockin @lavalamp

[2016-08-16 19:07] vishh commented on #30702
If the summary API is going to remain in kubelet as-is, without being moved
to a standalone cadvisor, then runtimes can provide its own usage as part
of CRI metrics maybe?

On Tue, Aug 16, 2016 at 11:50 AM, Yifan Gu <notifications@github.com> wrote:

[2016-08-16 19:07] krancour commented on #20365
This issue has been a major downer for me. It's much harder right now than it ought to be to articulate the few platforms for which you'd like to build each of server binaries, client binaries, test binaries, etc.

Every time I've tried to do this "the right way," I've spent hours looking at scripts and feeling frustrated that build options aren't documented better. Every time, I end up cutting my

[2016-08-16 19:08] justinsb opened #30706 "Validated kernel version / filesystem plugin for 1.3?"
We're seeing some kernel panics with the default AWS images, which use Debian Jessie & aufs, with k8s 1.3 & Docker 1.11.2.

What is the validated kernel version and filesystem with k8s 1.3?

cc @dchen1107

[2016-08-16 19:14] rvrignaud commented on #29903
Hi @saad-ali,
Everything is already provided above.

Let me know if you need anything more.

[2016-08-16 19:34] gmarek commented on #30536
This was only an original report. We've seen cases when master machine got separated from nodes and all hell broke loose. We certainly need to document the change and we will do it when we know what to document (there's still a bit of discussion in #30138) - the documentation will certainly be there for the release (I admit that it should have been there for 1.3, but there was absolutely no time t

[2016-08-16 19:37] derekwaynecarr commented on #30536
@gmarek - I was unaware of the percentage based approach.  That seems like a nice middle-ground.

[2016-08-16 19:38] gmarek commented on #29846
@yujuhong - I don't understand what you wrote. IIUC the only pods that scheduler shouldn't be aware of according to the mirror-pod theory are the terminated ones, which should be accounted by kubelet as well. This means that all scheduler decisions should still be correct and Kubelet shouldn't be rejecting any one of them. What am I missing?

[2016-08-16 19:43] sybnex commented on #30139
Please check the original yaml file.
There is an typo on the `- --domain=cluster.local` it should be `- --domain=cluster.local.` check the dot on the end.

You have no SSL certs as I can see, right? That should be fine with the option `- --kube_master_url=http://10.10.10.1:8080` if 10.10.10.1 is your physical kubernetes master.

[2016-08-16 19:58] Cocotton commented on #30637
@jingxu97 I managed to reproduce the issue. Basically what I did is create a k8s cluster with pretty small machines (2cpu/8gb), create a bunch of replication controllers (2 of them mounting an EFS volume). In the end, some machines get overloaded (I caught some OOM errors).

Then, around the time the issue happened, I found this in the logs which is related to one of the problematic EFS volumes.

[2016-08-16 20:00] jingxu97 commented on #29903
Hi @rvrignaud  I am checking the kubelet log and found a few things, but still trying to figure out the root cause. Could you please share the deployment spec with me and also what is the version you used when the deployment still working? Thanks!

[2016-08-16 20:05] k8s-merge-robot opened #30708 "[k8s.io] Kubectl client [k8s.io] Kubectl run --quiet job should not output anything except the command when --quiet is set {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30701/kubernetes-pull-build-test-e2e-gce/53848/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --quiet job should not output anything except the command when --quiet is set {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30701.

[2016-08-16 20:10] yujuhong commented on #27154
@tmrts (thanks!) has volunteered to write up a proposal for logging based on the discussion of #27154 and #24677. Assigning the issue to him.

[2016-08-16 20:10] yujuhong commented on #24677
@tmrts (thanks!) has volunteered to write up a proposal for logging based on the discussion of #27154 and #24677. Assigning the issue to him.

[2016-08-16 20:11] munnerz commented on #30617
So this issue caused us to be unable to deploy any of our services for ~24hrs whilst we struggled to find a cause and eventually this thread. The default behaviour of gcloud has changed in v121 to generate the `auth-provider` block set to GCP (and thus requiring a service account).

Our service account file is stored, encrypted, within our repositories meaning we are able to generate a kubeconfig

[2016-08-16 20:11] yujuhong commented on #29846
@gmarek you didn't miss anything. I think *theoretically* this discrepancy should not cause any mistake in scheduling, but I didn't have time to check how kubelet's calculation of cpu resource matches the pods printed from `kubectl get pods`. If someone can do the calculation, maybe he/she can shed some light on the issue.

[2016-08-16 20:12] vishh commented on #24677
This issue also includes logging volumes FYI!

On Tue, Aug 16, 2016 at 1:11 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-16 20:16] yujuhong commented on #24677
Thanks for the reminder! The assignment is just to make tracking easier, we can re-assign after the the proposal is posted. In fact, I'll create a separate issue for logging in CRI to make it easier.

[2016-08-16 20:20] yujuhong opened #30709 "Handle logging in CRI"
This issue is created to track logging/log management that's relevant to CRI (#28789).

Related issues:
- #24677: general logging integration and pipeline in kubernetes.
- #27154: support of `kubectl logs`

@tmrts (thanks!) has volunteered to write up a proposal based on the discussions. Assigning the issue to him.

/cc @kubernetes/sig-node

[2016-08-16 20:22] jingxu97 commented on #30637
@cocotton, thank you for the information. Could you please send me the full
kubelet log so that I can take a look? Thanks!

Jing

On Tue, Aug 16, 2016 at 12:59 PM, Cocotton <notifications@github.com> wrote:

--
- Jing

[2016-08-16 20:22] munnerz commented on #30617
I've found some info on this change on the gcloud release notes (https://cloud.google.com/sdk/release_notes), my bad. I'm not sure how best this switch should be handled and/or whether kubectl itself could print a more useful error message.

[2016-08-16 20:23] timothysc commented on #18099
Jay is back now, and is going to start working on this soon.

[2016-08-16 20:26] ixdy commented on #18099
cc @kubernetes/sig-testing

[2016-08-16 20:28] ekso8 commented on #30139
Thank for your reply!
Yes... These file is not correct. Now I use net parameters:
        - --domain=cluster.local.
        - --dns-port=10053
        - --kube-master-url=http://10.10.10.1:8080
        - --healthz-port=8081
        - --v=10
But I've got same result:

I0816 20:21:37.692257       1 round_trippers.go:327]     Date: Tue, 16 Aug 2016 20:21:38 GMT
I0816 20:21:37.692548       1 request.g

[2016-08-16 20:28] thockin commented on #30463
SGTM

On Tue, Aug 16, 2016 at 9:49 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-16 20:33] Cocotton commented on #30637
@jingxu97 You can get the log file from https://transfer.sh/OtQfV/kubelet.log

This is actually the result from `grep -i kubelet /var/log/daemon.log` since journalctl won't give me anything before the last reboot (which occurred after the issue was reproduced).

The error seems to have reoccurred around  Aug 16 17:20:00 log time, but I can't confirm precisely.

If you need anything else, please le

[2016-08-16 20:41] chrislovecnm commented on #30706
Do you have any information on the panic?

[2016-08-16 20:41] yifan-gu commented on #23765
So after some experiments, I am suspecting that the problem lives in the kubelet/cadvisor part. Something we could do is printing the metrics from the summary API periodically during the tests.

[Monitoring Architecture](https://docs.google.com/document/d/1HMvhhtV3Xow85iZdowJ7GMsryU6pvjOzruqcJYY9MMI/edit?ts=57b0eec1#heading=h.apg1zrud90oz)

[2016-08-16 20:46] MHBauer commented on #26210
@sttts since all but one of these is the v1.3 branch failing, do you want to backport the test change to see if it gives a better result?

At this point I'm thinking it's just 'starting up 600 requests all at once' that is causing this failure. There might be a race condition of some kind, but that's mainly due to the test I think.

[2016-08-16 20:51] mml commented on #30636
Dup of #30635

[2016-08-16 20:51] #30636 closed

[2016-08-16 20:51] mml commented on #30587
Dup of #30635

[2016-08-16 20:51] #30587 closed

[2016-08-16 20:52] mml commented on #30635
There is no component/hyperkube label.  Probably should be.

[2016-08-16 21:00] lavalamp commented on #30561
Dup of https://github.com/kubernetes/kubernetes/issues/30542

[2016-08-16 21:00] #30561 closed

[2016-08-16 21:01] rootfs opened #30710 "failed to pull image"
I cannot create pod. `kubectl describe pod` shows the following error
[code]

`kubelet.log` shows the following message
[code]

Tracing back to the source, the newly added image check function from 875fd16e1e1958b95ab96c4c9c9f672817bb9cfe prints the message

@kubernetes/sig-node @dims

[2016-08-16 21:13] janetkuo opened #30711 "e2e test flake: Error building GCE/GKE provider"
Happened in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30701/kubernetes-pull-build-test-e2e-gke/7457/

[code]

[2016-08-16 21:14] nikhiljindal commented on #30462
Happened again in: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/30655/kubernetes-pull-test-unit-integration/39791/build-log.txt.

Looks like this is happening only on PR builder and not on post commit Jenkins?

[2016-08-16 21:14] tmrts commented on #30709
@yujuhong thanks for creating the issue, I'll submit the proposal in a few days :+1:

[2016-08-16 21:16] Draiken commented on #30617
@munnerz you're not alone on the sentiment. I created this issue after pulling my hair for hours attempting to figure out where the error was coming from. The cryptic error message yields no help and I couldn't find anything on google.

[2016-08-16 21:20] smarterclayton commented on #5164
I have almost resumed working on this 5-6 times in the last two months.  Still haven't gotten over the hump

[2016-08-16 21:23] rvrignaud commented on #29903
Hi @jingxu97 ,

Here is the deployment spec:
[code]

It was running correctly with master and nodes 1.3.2.
I had another pod which show same problem. A simple `kubectl delete pods -l name=XXX` solved it.

[2016-08-16 21:35] xrow opened #30712 "NodeNotReady on docker rmi"
**What keywords did you search in Kubernetes issues before filing this one?**

IO, DOCKER, DOCKER RMI, NodeNotReady

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Do not know. I try BUG REPORT.

**Kubernetes version** (use `kubectl version`):
[root@admin01 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"a4463d9a1accc9c61ae90ce5d31

[2016-08-16 21:38] timothysc commented on #28960
So fwiw I'm building fine against 1.7 and I've reduced my build times reduced by ~30-40%

MAKE BUILDS GR8 AGAIN!

/cc @kubernetes/rh-cluster-infra @smarterclayton

[2016-08-16 21:39] jingxu97 commented on #29903
@rvrignaud Thanks for the information. If you still have the pod which has problem, could you try to login to the node, and check the path under /dev/disk/by-id and let me know what files you can see?

Also after you delete the pod, you mean you can successfully create another deployment without problem (volume can be attached and mounted)? Thanks!

[2016-08-16 21:40] alexcouper commented on #29760
@pwittrock should I take this over to stackoverflow instead then?

[2016-08-16 21:47] rvrignaud commented on #29903
Hi @jingxu97 ,

The pod is still in same state (kept it in that state for debugging).
[code]

What I meant is for the other pod that showed the same symptom on the same cluster, when I deleted it, it was rescheduled and mounted successfully its volume.

[2016-08-16 22:07] k8s-merge-robot opened #30714 "[k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30673/node-pull-build-e2e-test/19216/

Failed: [k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {E2eNode Suite}

[code]

Happened on a presubmit run in #30673.

Previous issues for this test: #30335

[2016-08-16 22:11] lavalamp commented on #30698
Actually it's better than I expected.

Cases:

(via equality) with RVs coming down your watch. Unfortunately you'd have to
expand this to compare via < to handle the general case where you have to
restart your watch--we currently claim that you cannot do this comparison,
although in practice it is currently safe if you confine yourself to a
single resource type.

But if you meant something like wh

[2016-08-16 22:11] gmarek commented on #29846
Assigning to @dchen1107 to triage. cc @davidopp

[2016-08-16 22:13] lavalamp commented on #5164
I think it shouldn't be too hard. I imagine a "watch-exec" which takes a
`--cmd` arg and passes as $1 one of sync, add, update, delete, and as $2
passes the object. Implement by starting an Informer. There's tons of other
ways to do it, too.

On Tue, Aug 16, 2016 at 2:20 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-16 22:22] #29997 closed

[2016-08-16 22:26] jingxu97 commented on #29903
Hi @rvrignaud Thanks for the information. Strange thing is according to the log you gave earlier today, the device path google-schall1-int2-es should not exist. that is why mount the volume failed to start because it needs to check the device path exists or not.

To confirm this, could you please send me the log around the time you ls the /dev/disk path Aug 16 08:11.  Thank you!

Jing

[2016-08-16 22:28] spiffxp commented on #17696
what do we think about closing?  e2e.sh is now hack/jenkins/e2e-runner.sh, and my read of its history is that this has either been done or is much less of an issue?

[2016-08-16 22:30] ixdy commented on #17696
yeah, I'm fine closing as obsolete.

[2016-08-16 22:30] #17696 closed

[2016-08-16 22:30] smarterclayton commented on #5164
I think the hard part of this is being familiar to a bash user with limited
kubernetes experience and giving them a simple stepwise process from

1. observe watch loop and get predictable behavior
2. handle more complex reaction (parallelism, retry)
3. handle delta resync

(i.e., up the complexity ladder).  Also handling tricky gotchas like bash
escaping, simple tooling that makes it easy to use A

[2016-08-16 22:33] vromero commented on #30703
Closed as per discussion in #30705.

[2016-08-16 22:34] bgrant0607 commented on #24314
@k82cn I'd be happy to assign you once you accept the invitation to the org.

Do you plan to work on this now? If you're not actively working on it, I'd prefer to leave it unassigned.

[2016-08-16 22:34] mtaufen commented on #30550
"Armageddon" tests? :P

[2016-08-16 22:34] chuckbutler commented on #30373
Closed with #30374

[2016-08-16 22:34] #30373 closed

[2016-08-16 22:37] jingxu97 commented on #29903
@rvrignaud
How many nodes in your cluster? Could you please send me the files under /dev/disk/by-id/ for all other cluster nodes? I am wondering whether it is possible that the volume attached to the wrong node. Thanks a lot!

[2016-08-16 22:37] yujuhong commented on #30550
That's a good name, if we ever need one ;)

[2016-08-16 22:42] ronnielai commented on #30550
"Mount doom" tests. :)

[2016-08-16 22:46] jberkus opened #30716 "Proposal: Template object for in-container configuration files"
**Summary**

I would like us to get rid of custom entrypoint.sh scripts by supporting templating of in-container files.

**The Problem**

Despite current ConfigMap features, it remains necessary for many or most container images under Kubernetes to include "entrypoint.sh" scripts and/or customizations to the containerized applications which are particular to the Kubernetes environment.  This resul

[2016-08-16 22:55] MHBauer commented on #15630
I honestly completely disabled this after the first couple of failures. A pre-commit hook should be super fast. Don't prevent me from saving my work if I can't compile.
Prevent me from sharing it, maybe.
Make the slow stuff a pre-push if we're worried about pushing broken builds.

[2016-08-16 22:57] janetkuo opened #30719 "node e2e test flake: Error deleting instance tmp-node-e2e-..."
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30701/node-pull-build-e2e-test/19211/

[code]

[2016-08-16 23:05] spiffxp commented on #16094
what do we think about closing this?  framework has since been moved into its own package, and I no longer see `defer framework.afterEach()` calls littered around

[2016-08-16 23:11] spiffxp commented on #20653
The jenkins instance for PR's now has the ability to trigger a specific job given a specific trigger phrase.  Does this meet the ask in this issue?

eg for federation:
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/kubernetes-pull.yaml#L489

eg for kubemark:
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins

[2016-08-16 23:14] spiffxp commented on #20921
what do we think about closing this? /cc @kubernetes/sig-testing

AFAIK this has been done a while, and the results format is documented at https://github.com/kubernetes/test-infra/blob/master/docs/federated_testing.md

[2016-08-16 23:16] asalkeld commented on #26466
please close the issue, PR is merged.

[2016-08-16 23:17] jayunit100 commented on #18099
Found the iniflags tool, seems ideal.

- iniflags: A simple config file.  we can support test hierarchies via `section` s.
- compatible w/ existing golang `flag` library

[2016-08-16 23:17] girishkalele opened #30720 "Service Controller: Add reconciler logic for HealthCheck/TargetPools"
Need to add reconciler logic to the service controller sync loop to allow cloud provider packages to reconcile healthcheck and target pools created/needed by the service loadbalancer feature.

[2016-08-16 23:18] dchen1107 commented on #30710
@rootfs when you run into such issue, have you tried docker pull to see if docker hub is down? Also you are using image kubernetes/pause for testing?

[2016-08-16 23:20] spiffxp commented on #21818
what do we think about closing this?

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md#kinds-of-tests  is an attempt at the 'practical' idea, documenting the labels currently used in tests

the issue referenced therein (#10548) has since been closed out

[2016-08-16 23:22] yujuhong commented on #30710
@rootfs when did you build your cluster? @dims's fix #30582 was merged yesterday.

[2016-08-16 23:22] mml commented on #30462
[code]

[2016-08-16 23:24] mml commented on #30462
Assigning to test-infra oncall.  @rmmh this certainly looks like an infra problem.

[2016-08-16 23:27] spiffxp commented on #22759
What do we think about closing this?  Looking at https://k8s-testgrid.appspot.com/google-gce#gce-examples, cassandra's been pretty happy... but I can't find any results for the k8spetstore example

[2016-08-16 23:29] spiffxp commented on #20861
What do we think about closing this?  The skeleton provider could stand to be a little more fully fleshed out to support more e2e's than conformance (eg: those that require SSH access), but that's a separate issue

[2016-08-16 23:29] mml commented on #30462
The "killed" line looks relevant.  Don't see anything in artifacts/ explaining it, though.

[code]

[2016-08-16 23:30] smarterclayton commented on #16094
Not an issue anymore for me

[2016-08-16 23:32] spiffxp commented on #14913
What do we think about closing this?  docs located at https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md#conformance-tests

[2016-08-16 23:32] dchen1107 commented on #30719
xref: https://github.com/kubernetes/kubernetes/issues/28716

[2016-08-16 23:43] spiffxp commented on #28960
/cc @kubernetes/sig-testing since we were discussing today

[2016-08-16 23:52] ardnaxelarak commented on #21076
#dibs

[2016-08-16 23:53] spiffxp commented on #23735
Took v1.3.5 release of kubernetes.  Expanded `kubernetes-{,test}.tar.gz`, removed `docs` and `examples`, and tried giving conformance a go per https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md#conformance-tests

All of the aforementioned tests passed, but there was one new failure: `[k8s.io] ClusterDns [Feature:Example] should create pod that uses dns [Conformance]`

It'

[2016-08-16 23:53] AdoHe commented on #30698
/cc

[2016-08-16 23:54] AdoHe commented on #30700
@pwittrock why k8s-merge-robot add `component/kubectl` label to this one?

[2016-08-16 23:54] ixdy commented on #28960
cc @jfrazelle

[2016-08-17 00:01] yujuhong commented on #30463
OK. To summarize, there are two separate TODO items.
 1. Change CRI to pass naming hints (pod name, pod namespace, container name) to encourage the runtime to construct a user-friendly name; also need to change the dockershim to use that information.
 2. Change CRI to pass idempotency tuple for container creation. The tuple will be tentatively be (pod UID, container hash or name, restart count).

[2016-08-17 00:06] jfrazelle commented on #28960
https://github.com/kubernetes/kubernetes/pull/28742#issuecomment-240243836

[2016-08-17 00:07] jfrazelle commented on #28960
Test failure is because of something else

[2016-08-17 00:20] pwittrock commented on #30700
@AdoHe Because our machine-learning robot has a long ways to go

[2016-08-17 00:20] feiskyer commented on #30463
Will take 1 today.

[2016-08-17 00:31] asalkeld commented on #25521
Eventf() should probably also use this package. Actually I wish kubelet logs and events would just merge (so the user could get access to all kubelet logs "kubectl logs mypod" should be able to get the relevant logs from kubelet.log).

[2016-08-17 00:33] asalkeld commented on #30651
I can clean this up.

[2016-08-17 00:35] unixwitch opened #30726 "kube-registry-proxy timeouts are too short"
**Is this a request for help?** No.

**What keywords did you search in Kubernetes issues before filing this one?** "registry proxy timeout"

---

**Is this a BUG REPORT or FEATURE REQUEST?** Bug report.

**Kubernetes version** (use `kubectl version`): 1.3.4, master

**Environment**:
- **Cloud provider or hardware configuration**: Rackspace Public Cloud
- **OS** (e.g. from /etc/os-release): CoreOS

[2016-08-17 00:38] thockin commented on #30651
FYI there are some PRs in flight - might want to hold off a week :)

On Tue, Aug 16, 2016 at 5:34 PM, Angus Salkeld <notifications@github.com>
wrote:

[2016-08-17 00:45] thockin commented on #15630
Agree. PRs welcome

On Tue, Aug 16, 2016 at 3:56 PM, Morgan Bauer <notifications@github.com>
wrote:

[2016-08-17 00:46] dadux commented on #13305
Still happening in 1.3.4.
Docker ps was hanging due to https://github.com/docker/docker/issues/5618 , but the node was still marked as healthy.

[2016-08-17 00:47] asalkeld commented on #30651
OK thanks @thockin

[2016-08-17 00:49] dchen1107 commented on #30719
@yujuhong, @Random-Liu and I looked into the issue together, and we believe we found the root cause here:

To speed up the test, node e2e test-infra tries to paralyzing the building with instance creation. Unfortunately the building might be failed, and through Fatal error, which bypass the deletionInstance call. This means every pr build with compiling error will leak 5 instances since today node

[2016-08-17 00:50] bprashanth commented on #13305
@dadux that shouldn't be happening if the container bridge is in promiscuous mode (which is the default deployment), maybe there's something else going on, which os/cloud etc are you on? in the case you mentioned not just docker ps but the daemon itself is a hung task and one needs to reboot the node. I belive the node problem detector (https://github.com/kubernetes/node-problem-detector, if you'r

[2016-08-17 00:51] saad-ali commented on #29358
The fix for this, PR #29485, [missed one location](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_executor.go#L548) where node is fetched. This means that detach can still sometimes fail due to missing node:
[code]

[2016-08-17 00:54] saad-ali commented on #29903
@rvrignaud Thanks for working with us to debug this. Turns out you hit https://github.com/kubernetes/kubernetes/issues/29358 again, and that bug was not completeley fixed in v1.3.4. I reopened that bug. We'll work on a fix and get it into v1.3.6. In the meantime, I restarted your `kube-controller-manager` binary on your master which should unblock you.

[2016-08-17 00:56] euank commented on #30463
I'll take 2, though I think opaque strings make more sense (and we can discuss that choice on the change)

[2016-08-17 01:01] yujuhong commented on #30463
Thanks! An opaque string makes sense. My mistake. I was thinking what to include in the string and didn't make it clear.

[2016-08-17 01:25] asalkeld commented on #30099
I am working on this..

[2016-08-17 01:51] dadux commented on #13305
@bprashanth CoreOS 1068.8.0 on AWS. I think the problem is I'm using flannel, so the kubelet doesn't manage the bridge - I don't have a cbr0 interface, and I see hairpin mode being enabled for all my veth. Not sure how to work around this.

Thanks, I'll definitely deploy the node-problem-detector, that should at least make my node not healthy !

[2016-08-17 01:55] yujuhong commented on #30719
I manually deleted the leaked VMs again since the number was increasing sooner than expected (i.e., many PRs don't compile at all). @Random-Liu's PR #30728 is waiting to be merged, and the fix should stop the bleeding.

[2016-08-17 01:55] ncdc commented on #30716
cc @smarterclayton @pmorie @bparees @eparis @derekwaynecarr @kubernetes/rh-cluster-infra

[2016-08-17 01:56] yujuhong commented on #30719
By the way, it's probably not a bad idea if we can stop the older builds of the same PR before starting a new one.

[2016-08-17 02:04] jingxu97 commented on #29903
@rvrignaud Thanks a lot for providing us detailed information to debug. We will keep you posted when the fix is in. Please try it on the new version and let us know whether the issue still happen or not.

@mesmerizingr @mheese We are working on a fix based on the information @rvrignaud provided. The fix should be in v1.3.6. Right now I am not sure the problems you experienced are the same as @rvri

[2016-08-17 02:25] lixiaobing10051267 opened #30732 "[k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] 2m31s"
PR #30623, GCE e2e build/test passed, but Jenkins GCE Node e2e test failed.

Test Failures

BeforeSuite 9.66s
go run hack/e2e.go -v -test --test_args='--ginkgo.focus=BeforeSuite$'
/var/lib/jenkins/workspace/node-pull-build-e2e-test/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e_node/e2e_node_suite_test.go:157
BeforeSuite on Node 1 failed
/var/lib/jenkins/workspace/node-pu

[2016-08-17 02:39] pwittrock commented on #29760
@alexcouper Yes I think that is a good idea.

[2016-08-17 02:46] fraenkel commented on #30562
@pwittrock There is a slight gotcha here if you want this done.
If we define a new struct for just Filenames []string, it cannot live in kubectl/cmd if you want the functions which live in kubectl and kubectl/resource to consume it.
Do you have a location you would like this common struct to live in?

[2016-08-17 02:52] pwittrock commented on #29463
@Deepak-initcron If you are looking from trouble shooting help, try stackoverflow or https://kubernetes.slack.com

[2016-08-17 02:54] lavalamp commented on #26490
The last batch of failures was due to #30486

[2016-08-17 02:54] pwittrock commented on #29769
@matchstick Do you know if there is anything planned around this?

[2016-08-17 02:55] pwittrock commented on #29876
@xingzhou what are the steps to reproduce from scratch?

[2016-08-17 02:56] pwittrock commented on #29876
@AdoHe Want to look at this when we get steps to repo?

[2016-08-17 02:57] pwittrock commented on #30481
Closing per @vreon 's comment

[2016-08-17 02:57] #30481 closed

[2016-08-17 03:11] AdoHe commented on #29876
@xingzhou could you please paste reproduce steps here?  I will take a look.

[2016-08-17 03:38] liggitt opened #30735 "Websocket watch does not honor client close request"
(first reported in https://github.com/openshift/origin/issues/10449)

using the websocket watch API, sending a close request does not terminate the connection
in kube 1.2, a close request from a client closed the connection

[2016-08-17 03:42] liggitt commented on #30735
In 1.2, any data sent from a client, or the client requesting a close, would trigger terminating the watch:
[code]

In 1.3, https://github.com/kubernetes/kubernetes/commit/34749117364be27ac7c6d5826043687210dfed34
 changed to ignore all data sent from the client (and means nothing ever closes the `done` channel):
[code]

I think the right fix is to ignore data sent from the client, but honor close

[2016-08-17 03:49] xingzhou commented on #29876
Here was what I did locally yesterday, I'm using master branch's code:
1. Start k8s cluster by running ```sudo hack/local-up-cluster.sh```
2. ```export KUBERNETES_PROVIDER=local```
3. Use the following file and command ```cluster/kubectl.sh create -f pod.json``` to create the pod:
[code]
4. Run ```cluster/kubectl.sh get pods``` to check the status of the pod, the value could be "COMPLETED" or othe

[2016-08-17 03:51] ddysher commented on #30606
In our case, volume consumer decides individually for each PVC.  However, I think the default works for us right now as we kinda bind the lifecycle of a PV and PVC together.  User won't notice the creation and deletion of PV, all he cares about is a PVC.  So if retain PV if needed, just dont delete PVC.

[2016-08-17 04:04] #30719 closed

[2016-08-17 04:14] rata commented on #30706
@justinsb can you post the panic? (it's available via the AWS console, in general). Are you doing heavy I/O on the docker root volume? Is aufs in the call trace?

I've seen a panic with 1.2 and newer docker daemon running on a container: https://github.com/kubernetes/kubernetes/issues/27885. If that is what you see, my workaround was to use a different backing volume and not write to the container

[2016-08-17 04:34] piosz commented on #29647
It hasn't failed for a while, so decreasing priority.

[2016-08-17 04:40] saad-ali commented on #28671
@chao007 If you run into this again, please share your `/var/log/kubelet.log` files from your node and `/var/log/kube-controller-manager.log` files from your master. That'll help us better debug the issue you experienced.

[2016-08-17 05:15] bgrant0607 commented on #29575
@foxish Yes, pkg/OWNERS is a good starting point. You could also add me, on the assumption that PRs touching top-level files aren't that common.

[2016-08-17 05:34] TamalSaha opened #30740 "kube-node-unpacker fails to retry on docker service error"
Hi,
While creating a new cluster, we noticed that kube-node-unpacker failed to import kube-proxy docker image, because docker itself failed to run. Here is the log:

[code]

This is clearly a race condition. Once I manually restarted the unpacker service, everything worked. Is there a way to fix this?

Thanks.

[2016-08-17 05:36] dubstack commented on #29927
@vishh Ideally before deleting a cgroup we would want to ensure that the usage_in_bytes of the cgroup becomes 0 or falls below a certain threshold. But its not always possible to remove all charges to the cgroup and as @adityakali told me offline moving `some charges` to the parent cgroup is unavoidable. So I am not sure if progressively decreasing the limit_in_bytes in small chunks would eventual