[2015-01-29 06:24] bgrant0607 commented on #3908
HostIP is another example.

[2015-01-29 06:25] bgrant0607 commented on #3908
And the scheduler could be considered a "finalizer". That's just another entity that sets fields, among many.

[2015-01-29 06:37] erictune commented on #3413
Decision: delete etcd support from kubelet and kube-proxy.

[2015-01-29 06:38] erictune commented on #3413
Remaining work is to Drastically simplify code in `pkg/proxy/config` to only support one source.  See also #3412
     - [ ] Get all cloud-providers using api source instead of etcd source.
     - [ ] Delete `pkg/proxy/config/etcd*.go`.
     - [ ] Delete code in `pkg/proxy/config/config*.go` that is supporting merging of multiple sources.
     - [ ] further simplifications will probably follow.

[2015-01-29 07:03] erictune commented on #2440
I realized that there are actually several separate AWS getting-started guides.
There is docs/getting-started-guides/aws.md  which uses kube-up and there is docs/getting-started-guides/coreos.md which includes AWS.

[2015-01-29 07:08] erictune commented on #3912
There are several styles of AWS.
There is the AWS that uses kube-up, and debian, which appears to be stuck a kubernetes v0.5.0.  I think we might want to delete that.

Then there is the AWS that uses CoreOS.  There are two competing versions of that, but they have been updated in the last week.  We should keep that one.

[2015-01-29 07:11] erictune commented on #2440
At the same time as doing this work, also change the kube-proxy to set the flag:
 `--master=http://$APISERVER:7080`.

[2015-01-29 07:11] erictune commented on #2497
At the same time as doing this work, also change the kube-proxy to set the flag:
 `--master=http://$APISERVER:7080`.

[2015-01-29 07:11] erictune commented on #2445
At the same time as doing this work, also change the kube-proxy to set the flag:
 `--master=http://$APISERVER:7080`.

[2015-01-29 07:12] erictune commented on #2443
At the same time as doing this work, also change the kube-proxy to set the flag:
 `--master=http://$APISERVER:7080`.

[2015-01-29 07:12] erictune commented on #2441
At the same time as doing this work, also change the kube-proxy to set the flag:
 `--master=http://$APISERVER:7080`.

[2015-01-29 07:46] Fandekasp commented on #3866
@dchen1107 sorry I had remove that cluster. Recreated one and after several attempts (other issues), I finally got a cluster with pods apparently running properly.

Since I cannot provide more information on that issue, I'm closing it.

[2015-01-29 07:46] #3866 closed

[2015-01-29 07:49] Fandekasp commented on #3869
@jlowdermilk after testing `kubectl config`, I came up with that kubeconfig:

[code]

Still getting the same error:

    /tmp ❯❯❯ ./kubectl get pods
    F0129 16:44:10.829861   16148 cmd.go:92] invalid character 'a' looking for beginning of value

[2015-01-29 07:58] justinsb commented on #3912
I have on my plate this week to get Kubernetes head running on AWS/Ubuntu.  I have a few patches queued up on my machine, but I'd like to get it actually all working again before I start submitting them to keep the workload sensible for everyone.

I would love to see AWS/CoreOS and AWS/Ubuntu both stay in-tree.

I can look after AWS/Ubuntu (at least for the next six months).  I'm a big fan of Core

[2015-01-29 07:58] bgrant0607 commented on #3885
We need to be able to drain machines. We should use an approach consistent with other resources. See #1535 re. graceful termination.

[2015-01-29 07:59] thockin opened #3928 "Semantic DeepEqual passes objects with unexported fields, when it probably shouldn't"
https://github.com/thockin/kubernetes/tree/semantic_eq

This tree has a commit that demonstrates two obviously different objects that should not pass the semantic DeepEqual but do.

@lavalamp

[2015-01-29 08:04] thockin commented on #1451
To throw a bit of newly-understood information out:

Any API object *must not* ever include an unexported field, unless said
object also implements the semantic deep equal and conversion (where both
types are the same!).  What we have done is created copy and compare
operators that exist outside of the objects they apply to.

If the API decoded into truly dumb structs - never any private values -

[2015-01-29 08:06] bgrant0607 commented on #3885
@alex-mohr We've discussed this before. Pods are replaced by replication controllers. They are not rescheduled. In fact, I'd like the replication controller to be able to replace pods ahead of killing the ones they are replacing in the case of a planned move. Let's not derail this issue with the "forever pod" discussion.

At the moment, the system doesn't have reasonable behavior in the cases of e

[2015-01-29 08:08] bgrant0607 commented on #3885
@ddysher Why do you want reverse label lookup? The node controller needn't be aware of pod controllers -- replication controller, job controller, etc.

[2015-01-29 08:16] thockin commented on #3914
I agree in principle.  Currently it holds:

util.Time : externalized copy operator

resource.Quantity : externalized copy operator

A few transforms around ContainerManifest used, eg, in kubelet file reading
code.

On Wed, Jan 28, 2015 at 4:36 PM, Brian Grant <notifications@github.com>
wrote:

[2015-01-29 08:21] bgrant0607 commented on #1451
As we discussed, the important thing IMO is to group the code that implements the objects -- it doesn't have to be in classes. I really, really, really want to keep the "dumb structs" in a form that can be used by clients and third-party components without complex logic, with fully explicit desired and current state for common use cases, so that it doesn't require complex objects or client librari

[2015-01-29 08:22] thockin commented on #2306
It also hosts "copy constructors" that have been externalized from objects
because we have resisted making methods on objects.

If we were not allergic to methods we could make the same-type conversion
functions be methods, as well as the semantic-equal functions.  And then we
could talk about defaults and validation as methods.

On Wed, Jan 28, 2015 at 3:47 PM, Clayton Coleman <notifications@gith

[2015-01-29 08:23] bgrant0607 commented on #3914
I'd also be fine with pruning it down.

Kubelet should use pods and otherwise have a Real, versioned API, so the manifest/boundpod transformations should disappear.

[2015-01-29 08:30] thockin commented on #3837
If there is an owner it is Zach or Satnam :)

On Wed, Jan 28, 2015 at 11:49 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2015-01-29 10:19] halacs opened #3930 "postStart hook doesn't work"
I would like to make a pod (pod definition: http://pastebin.com/VVqRQpZm) with postStart but I got the following error message. I think it could be a bug.

[kubelet.go:811] Error running pod apache.default.etcd container master: failed to call event handler: docker server version missing from server version output - &[Arch=amd64 GitCommit=5bc2ff8/1.4.1 GoVersion=go1.3.3 KernelVersion=3.11.10-301.f

[2015-01-29 10:47] zbhlove100 commented on #3865
Yes,do ' kubectl get -o json pod [name] ' then I can see what I'v set to env.

[2015-01-29 10:55] tyrannasaurusbanks commented on #3797
Sweet, thanks @mattmoor :bow: :star:

[2015-01-29 11:23] silasdavis commented on #3906
Yes some sort of templating for CloudFormation templates is something I've wanted in the past. When I looked I found this: https://github.com/cloudtools/troposphere. It's a python-based programatic generation library for CloudFormation templates. I couldn't justifiy the time outlay the last time I looked, but I would be up for having another go.

Beyond maintainability, there is also the advantage

[2015-01-29 14:41] justinsb commented on #2440
For work-coordination: I'm going to start my day today by doing this, at least for AWS/Ubuntu.  I'm working in https://github.com/justinsb/kubernetes/tree/fix_aws

[2015-01-29 15:10] bgrant0607 commented on #3930
What Docker version and OS distribution?

/cc @vishh

[2015-01-29 15:14] smarterclayton commented on #2306
*aachoo*

----- Original Message -----

[2015-01-29 15:15] smarterclayton commented on #1451
Agree.  The further we go here, the more the core objects remain dumb structs.

----- Original Message -----

[2015-01-29 15:36] smarterclayton commented on #3908
One way to look at "spec" means "set by user" and "status" means "things the system things are important for the user".  For our user facing objects, if spec *implicitly* means "preserve my input", then it simplifies how tools reason about those options.  How different imperative tools work with status is a lower priority item, and a process that sets "status" working with others.  Our conflict wi

[2015-01-29 15:36] smarterclayton commented on #3894
Table headers should be to stderr.

----- Original Message -----

[2015-01-29 15:40] halacs commented on #3930
Docker version 1.4.1, build 5bc2ff8/1.4.1
Fedora release 20 (Heisenbug)
Linux host12 3.17.8-200.fc20.x86_64 #1 SMP Thu Jan 8 23:26:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2015-01-29 16:19] ncdc commented on #3920
@derekwaynecarr this looks more to me like wanting to be able to ssh from an admin's computer to a node in the cluster using a helper/shortcut in kubectl. The work I've been doing on adding the ability to get a shell or run arbitrary commands in containers is addressing a different use case, I think.

[2015-01-29 16:29] thockin commented on #3920
every time you need to SSH into the nodes there is an issue with kubernetes
overall.  This should be a "break glass in case of fire" situation.

On Wed, Jan 28, 2015 at 6:19 PM, Deyuan Deng <notifications@github.com>
wrote:

[2015-01-29 16:30] justinsb opened #3932 "etcd extract broken by new salt?"
I now see this in /var/log/salt/minion

[code]

I think this is the problem: https://github.com/saltstack/salt/issues/20195  (They just pushed a new version of SaltStack, 2014.7.1 which includes the issue)

I think it's an easy fix; we just change the options from "xz" to "z".  PR on its way...

[2015-01-29 16:43] zmerlynn commented on #3837
Sorry, forgot to summarize the IRC convo. I believe we decided to go ahead
and get #3855 in, which happened last night, and that rrati and others
would work on porting the tests one by one after that went in.

Does that sound like the correct short summary?
On Jan 29, 2015 12:31 AM, "Tim Hockin" <notifications@github.com> wrote:

[2015-01-29 16:44] thockin commented on #3894
no.  They are not errors.

On Thu, Jan 29, 2015 at 7:37 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-29 16:53] thockin commented on #3865
So it's getting set, but your process can't getenv() on it?  Is that right?

Next debug step would be to log into the machine it is assigned to and run
'docker inspect' on the container and see if the env var is there.

On Thu, Jan 29, 2015 at 2:47 AM, zbhlove100 <notifications@github.com>
wrote:

[2015-01-29 17:12] bgrant0607 commented on #2770
More examples:
* https://github.com/rackspace/gophercloud (Go+OpenStack -- not sure this counts as multi-cloud)
* http://fog.io/ (Ruby)

[2015-01-29 17:15] bgrant0607 commented on #3865
@thockin See https://github.com/GoogleCloudPlatform/kubernetes/issues/3865#issuecomment-71958581

[2015-01-29 17:16] justinsb commented on #3932
Ugh... even after changing xz -> z, that exposes another bug where salt messed up quoting: https://github.com/saltstack/salt/issues/20201

If we don't pass tar_options at all, there is yet another code path, which isn't broken but uses the built-in Python tarfile library to extract the tar file.  I think that's our only option, unless we want to revert to the old saltstack until the new one become

[2015-01-29 17:18] vishh commented on #3873
With docker 1.5 we can go back to using the exitCode instead of "ok"
string. OOM kills will also have special exitCodes in docker 1.5.

On Wed, Jan 28, 2015 at 6:58 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-29 17:19] satnam6502 commented on #3837
As for owners, given all the excellent work that Zach has taken the initiative on and driven and given his knowledge and expertise I think he is the right person to be the owner.

[2015-01-29 17:21] bgrant0607 opened #3933 "Remove json tags from pkg/api/types.go"
Previous discussion in #1004 and #3900.

We should never serialize the internal representation. Removing the json tags would make this clearer.

/cc @thockin

[2015-01-29 17:24] jmreicha commented on #3885
It would be great to have something in kubectl that allowed you to mark a node to be pulled out of rotation (and then showed up with `kubectl get minion`) and then drained after being marked for deletion or maintenance.

I ran into an issue like this the other day where I needed to rotate out some hosts for maintenance and had to manually remove pods after stopping the servers.

[2015-01-29 17:29] jlowdermilk commented on #3869
That config looks fine. `The invalid character ...` message is usually a json unmarshalling error. I wonder if there might be something wrong with your .kubernetes_auth file? It should look like
[code]

[2015-01-29 17:37] vishh commented on #3888
I don't see how this issue is a dup of #2903. Even with #2903 addressed,
all we can do is to schedule pods on a machine with maximum disk capacity.
That does not help detect disk full scenarios unless one of the core
components exposes an event.

On Wed, Jan 28, 2015 at 5:21 PM, Dawn Chen <notifications@github.com> wrote:

[2015-01-29 17:45] smarterclayton commented on #3894
I thought we just had the thing where the Unix way is to separate things that are output and part of the shell composition pattern from the things that are output and are not?  How does osc get | grep Run -> returns header help me?

----- Original Message -----

[2015-01-29 17:57] vishh commented on #3930
Commit [3a0d16ff35e7797456091d74dadbf10068c336fc](https://github.com/GoogleCloudPlatform/kubernetes/commit/3a0d16ff35e7797456091d74dadbf10068c336fc) should have fixed this issue. The fix is available in kube releases v0.8.0+. Can you try upgrading your cluster to a more recent release?

[2015-01-29 18:03] erictune commented on #2440
Awesome, thank

On Thu, Jan 29, 2015 at 6:41 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-01-29 18:07] thockin commented on #3894
Table headers are part of the output you asked for.

ps, df, netstate, etc all print table headers to stdout.  I have never
heard of any program printing headers to stderr and rows to stdout.  I
would find that INCREDIBLY annoying.

On Thu, Jan 29, 2015 at 9:45 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-29 18:10] halacs commented on #3930
It should be in the Fedora 20's yum repo? If not, can you give me a link where I can found the correct binary? Thanks.

[2015-01-29 18:18] vishh commented on #3930
https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.8.4

On Thu, Jan 29, 2015 at 10:10 AM, Nyíri Gábor <notifications@github.com>
wrote:

[2015-01-29 18:20] alex-mohr opened #3936 "Use case: clusters must be able to run for a long time"
This is a master issue to track issues encountered by long-running active clusters.  We need to drive those to be reliable and usable.  I'll mention this issue from any more-specific issues.  Exit criteria for closing this issue: we're convinced long-running active clusters are ready for production use.

As a first cut to find low-hanging fruit, I'm creating a cluster with 1 master and 1 node usin

[2015-01-29 18:22] alex-mohr opened #3937 "kubectl should clarify whether errors are self-generated or as-reported-by-the-master"
kubectl should clarify whether errors are self-generated or as-reported-by-the-master.  E.g., it's not clear whether the following means kubectl couldn't contact the master, or the master itself reported the error (which is what was happening in this case)

% gcloud preview container pods --cluster=${PROJECT} list
ERROR: F0129 10:20:43.796366   29535 get.go:158] 501: All the given peers are not re

[2015-01-29 18:23] halacs commented on #3930
Thanks. I will try this release tomorrow (in office hours).
Are you plan to upgrade Kubernetes in yum repo or it is worth to use binary/source instead of yum install?

[2015-01-29 18:26] vishh commented on #3930
@brendandburns: who is maintaining external repos for kubernetes?

[2015-01-29 18:31] thockin commented on #3865
Ahh.  I missed that.  So the variable is passed to docker?  With the correct value?  What does it mean to not have the password - the variable is there, unless docker is broken.

Does your mysql have a shell in the image?  You could `docker exec -ti [container id] /bin/sh` and look at the environment yourself...

[2015-01-29 18:32] dchen1107 commented on #3883
We already have a monitor.sh e2e test, which validate monitoring of Clusters using cAdvisor. We should figure out why the test passed without detecting such failure, and improve that test.

[2015-01-29 18:34] jmreicha opened #3938 "kubectl get minions takes a long time to output"
I noticed this behavior after I began removing old nodes from a v0.8.2 cluster using kubectl v0.9.1.

After running a `kubectl get minions`, the command will hang for quite some time ( haven't timed it yet) but will eventually spit back the current nodes in the cluster.  Other kubectl commands seem to work as the should (get service/rc/pod, etc) it just seems to be the get minions that has problem

[2015-01-29 18:36] alex-mohr opened #3939 "apiserver should clarify which peers it's unable to contact"
@davidopp for apiserver.
I had a cluster where etcd became nonfunctional.  The apiserver's error messages weren't amazingly helpful in figuring out which component was having issues -- it should report which peer isn't contactable.

% gcloud preview container pods --cluster=${PROJECT} list
ERROR: F0129 10:20:43.796366   29535 get.go:158] 501: All the given peers are not reachable (Tried to connect

[2015-01-29 18:41] smarterclayton commented on #3894
Because you want to grep / xargs / table headers amrite?  I'm not going to go to the wall for this one, but do you normally redirect things to files more often than you pipe them?  Since we can turn off table headers via flag I don't really care that much.

[2015-01-29 18:43] alex-mohr commented on #3892
My long-running cluster tests #3936 resulted in a hard-crash on etcd: https://github.com/coreos/etcd/issues/2187

We should move to 2.0 ASAP in the hopes of (a) fixing the issue and if not (b) prioritizing the fix since we'll be complaining about head.

@ArtfulCoder Abhi, is this something you can pick up and drive to land in O(days) please?

[2015-01-29 18:44] alex-mohr commented on #3892
Calling this P0 as it blocks further long-running cluster stability testing.

[2015-01-29 18:48] thockin commented on #3894
Honestly, given a table with enough columns I actually DO want the header.
Likewise, if I am importing to CSV, etc.

I will go to the wall - dumping things that are not errors to stderr is
just wrong. :)

On Thu, Jan 29, 2015 at 10:41 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-29 18:49] satnam6502 commented on #3938
See  #2973 which reports some progress here.
How many minions are you trying to list?

[2015-01-29 18:51] jmreicha commented on #3938
@satnam6502 I have 12 minions that I am trying to list.  I was able to like 20ish very quickly but after removing the first node, I noticed the time increase.

[2015-01-29 18:56] satnam6502 commented on #3938
Yes, well, I've been trying to list 1,000 minions. Imagine how miserable that is. I am going to ask @davidopp to take a look (or to forward this to someone else.)

[2015-01-29 18:57] brendandburns commented on #3892
I will do this today.

On Thu, Jan 29, 2015 at 10:44 AM, Alex Mohr <notifications@github.com>
wrote:

[2015-01-29 18:58] brendandburns commented on #3930
The RedHat folks (@eparis?) are the ones building RPMs...

---brendan

On Thu, Jan 29, 2015 at 10:26 AM, Vish Kannan <notifications@github.com>
wrote:

[2015-01-29 18:59] vishh commented on #3883
The existing monitoring.sh test will succeed even if some of the nodes do
not have cadvisor running. We can enhance the monitoring test to
specifically check for cadvisor's health as well.

On Thu, Jan 29, 2015 at 10:32 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-01-29 19:03] #3624 closed

[2015-01-29 19:06] jeffmendoza commented on #3177
In Azure the machines are created serially, so the minions are slow to come up. It would be great to have a loop here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/azure/util.sh#L464 similar to the one here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/azure/util.sh#L424 to wait for the minions to come up and have salt install docker, etc. Any take

[2015-01-29 19:19] zmerlynn commented on #3912
@erictune: Are you saying that that the `aws` that actually works using the `KUBERNETES_PROVIDER` / `kube-up` pattern is currently ripe for deletion, but that the CoreOS Cloud Formation pattern is fine right now?

I think we need to really consider splitting the `cluster/` directory up into "assets that happen to accompany deployment guides" and "things that actually work with automatic `kube-up`

[2015-01-29 19:20] bgrant0607 commented on #1899
/cc @iantw89

[2015-01-29 19:28] bgrant0607 commented on #3692
/cc @iantw89

[2015-01-29 19:35] rrati opened #3941 "Convert pod_update.go to native ginkgo methods"
Convert the pod_update.go file to a ginkgo test suite for pod tests

[2015-01-29 19:36] alex-mohr commented on #3168
I'd like to leave this open as specifically tracking secure master <-> kubelet communication and farm out other independent parts to separate issues (fuzz testing, (D)DoS prevention, and the wide variety of issues in #2483).

[2015-01-29 19:36] rrati commented on #3837
https://github.com/GoogleCloudPlatform/kubernetes/issues/3941

[2015-01-29 19:56] alex-mohr opened #3943 "kube-proxy: do not fill disk with logs"
kube-proxy got into a state where it was writing repeated logs quite quickly.
E0129 18:56:04.831336    5100 proxier.go:102] Accept failed: use of closed network connection
E0129 18:56:04.831341    5100 proxier.go:102] Accept failed: use of closed network connection
It then filled the disk on the node.

We need a way to guarantee kube-proxy limits its log (and all other disk) usage to a given maxim

[2015-01-29 19:58] alex-mohr commented on #3943
We also presumably need something similar for docker.log and kubelet.log -- Dawn, feel free to spawn new issues if that's easier to track?
  % ls -al /var/log/docker.log
  -rw-r--r-- 1 root docker 649105408 Jan 29 19:57 /var/log/docker.log
  % ls -al /var/log/kubelet.log
  -rw-r--r-- 1 root root 105021440 Jan 29 19:58 /var/log/kubelet.log

[2015-01-29 20:08] pires opened #3945 "Limit number of pods of the same type in the same minion"
Imagine a Kubernetes cluster with 10 minions where I start a Cassandra cluster with 10 nodes. It seems I'm not guaranteed that all nodes are scheduled evenly between the 10 minions. Can you confirm this behavior?

But even if it were, imagine for a moment that I'm using a `nodeSelector` that will choose from only 5 of the 10 minions. As a user, and depending on the application - in this case, it's

[2015-01-29 20:09] pires commented on #3912
+1

[2015-01-29 20:17] JaysonRaymond opened #3946 "Vagrant Getting Started: Can't Ping public servers on internet from container"
Kubernetes: 0.8.2 & 0.9.4
Vagrant: 1.7.1
Virtualbox: 4.3.20
Host OS: Mac OS X 10.9.5
VPN: Currently disabled

Problem: Can't Ping public servers on internet from container

Steps to reproduce:

Given a 3-minion cluster with the following pod that gets installed on minion-2, 10.245.1.4:
characters-pod.json:
[code]
Install it:
[code]
Log into the Minion, show the images and then ping google.com by n

[2015-01-29 20:56] ddysher commented on #3938
Did we already cache all minions?  Maybe we are not if it only happens after you take down a node.

I believe it will be fixed by #3733.  Can you verify it once that is in?

[2015-01-29 21:13] timothysc opened #3947 "Investigate if cadvisor can be replaced with docker stats."
I suspect so, but just need to verify once it's released upstream.

https://github.com/docker/docker/pull/9984

@rrati ^ FYI

[2015-01-29 21:22] eparis commented on #3930
should be updated to 0.9.1 in the next couple of days (at least updates-testing).  0.9.1 is in the rawhide repo right now (although it might not be to all mirrors)

[2015-01-29 21:40] jseaidou opened #3948 "Kubernetes killing running pods instead of unassigned when reducing replicas"
I've noticed a issue where if you have multiple replicated slave pods that don't have a HOST assigned and you reduce the number of replicas in the replicationController definition for those pods, sometimes the currently assigned (and running) pods get killed and the unassigned pod will get assigned to run in the killed pods place.
The issue can be reproduced using the guestbook example provided in

[2015-01-29 21:52] bgrant0607 opened #3949 "Pod migration"
Filing this issue for discussion and tracking, since it has come up a number of times.

Starting with background:

Pods are scheduled, started, and eventually terminate. They are replaced with new pods by replication controller (or some other controller, once we add more controllers). That's both reality and the model. Today pods are replaced reactively, but eventually it will replace pods proacti

[2015-01-29 21:54] alex-mohr opened #3950 "apiserver develops a dangling pod w/o name"
@davidopp After creating and deleting a bunch of unique-named pause pods, the master ended up with a zombie? pod entry:

Here's the 1 node's view:

And etcd's db dump on the master VM:
% curl -s -L http://127.0.0.1:4001/v2/keys/registry/pods/default | python -m json.tool
{
    "action": "get",
    "node": {
        "createdIndex": 26,
        "dir": true,
        "key": "/registry/pods/default",

[2015-01-29 22:08] satnam6502 opened #3951 "Harden services.sh against gcloud errors"
The `services.sh` e2e test fails when a gcloud command it executes returns a `Backend error`. We should harden this test against such failures e.g. by retyring gcloud commands that fail. It would be great if someone who knows this test could take a look and find out where the underlying gcloud commands are (they are not directly in this file). This is causing our e2e tests to fail so I am assignin

[2015-01-29 22:14] satnam6502 commented on #3948
@dchen1107 : please can you look at this or suggested someone else? Thank you.

[2015-01-29 22:16] jayunit100 commented on #425
quick question, how is -p equivalent to containerPort?  Im confused on the exact semantics of containerPort, as it only takes (i think) one parameter, where as -p has two (-p 8000:8000)

[2015-01-29 22:16] alex-mohr opened #3952 "after a pod is scheduled, it should take < 5 seconds for apiserver to show it as running"
@dchen1107 There seems to be a 0 to 20 second delay before a single pause pod to get to Running.  It should be << 10 seconds.  For version 0.8.1, part of #3936.

Here's an example.  In this case, scheduler seemed to schedule it reasonably quickly (< 1 sec), the kubelet launched it quickly (<1 sec), and docker transitioned container to running quickly (<1 sec), but pod status available via the mast

[2015-01-29 22:18] mikedanese opened #3953 "Problem creating nodes in v0.9.2"
This worked in v0.8.1 but does not in v0.9.2
[code]

I see [this](https://github.com/GoogleCloudPlatform/kubernetes/blob/v0.9.2/pkg/api/validation/validation.go#L599) so I try adding an empty namespace to the object:
[code]
No luck.

[2015-01-29 22:19] jlowdermilk commented on #2575
Examples now all use/refer users to kubectl.

[2015-01-29 22:19] #2575 closed

[2015-01-29 22:23] alex-mohr opened #3954 "99%ile end-to-end pod startup time w/ prepulled images < 5s on 100 node, 3000 pod cluster; linear time to # nodes and pods"
@davidopp Scheduler throughput is ~1 pod per second; should be >> 1 pod/sec.

In 0.8.1, part of #3936, I quickly created 10 kubernetes/pause pods with unique names by running a bunch of simultaneous cmdlines.  I then repeatedly ran pods list, saw all 10 pods, then watched as hostname is slowly filled in at the rate of ~1 pod per second.

%  gcloud preview container pods --cluster=${CLUSTER} create

[2015-01-29 22:26] yujuhong opened #3955 "Eliminate round-trip conversion of API objects in `kubectl convert`"
kubectl decodes a json file and encodes it again before sending out the request to the API server, i.e.,
`versioned json-> versioned api object -> internal api object -> versioned api object -> versioned json`
The API server then decodes the versioned json and converts it to the internal API object.

It is debatable whether kubectl needs to perform the round-trip conversion, since the API server w

[2015-01-29 22:26] mikedanese commented on #3953
Looks like [this](https://github.com/GoogleCloudPlatform/kubernetes/blob/v0.9.2/pkg/registry/minion/rest.go#L119) is missing on create.

[2015-01-29 22:26] satnam6502 commented on #3945
I vote @bgrant0607 for an answer. Thank you.

[2015-01-29 22:27] alex-mohr commented on #3954
FWIW, repeating the experiment with 30 pause pods required 53 seconds until the last pod went from unassigned to having a hostname.  50 pods was ~90 seconds.

[2015-01-29 22:32] smarterclayton commented on #3955
Right now, the mutation we are doing on create/update is to set the namespace of the object, and during update we set the resource version.  Ideally, we'd be able to do this opaquely, and with less conversions (perhaps by having a runtime.Object that supported deferred decoding by working a bit like runtime.Unknown).  Right now we don't assume that it's safe to mutate the JSON directly because we'

[2015-01-29 22:43] alex-mohr commented on #3954
Changing my mind -- P1 as usability issue and also as something that makes it hard to find the reliability bottlenecks for clusters that are used over time.

[2015-01-29 22:51] brendandburns commented on #3954
I think a more effective data measurement is the latency distribution,
rather than the throughput.  I sincerely doubt that we're going to have a
need for high throughput.  But if the latency is high (or variable) we
should fix that.

--brendan

On Thu, Jan 29, 2015 at 2:43 PM, Alex Mohr <notifications@github.com> wrote:

[2015-01-29 22:51] mikedanese commented on #3953
This was fixed in master by [this](https://github.com/GoogleCloudPlatform/kubernetes/commit/a0356bca9624827ae9f7072f60f567e0eb4b2c51#diff-f19a7777a36882029db668a427f950feR63). v0.9.2 requires a node's Namespace to be `""` [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/v0.9.2/pkg/api/validation/validation.go#L599) (which is broken because kubectl was appending a namespace) but master

[2015-01-29 23:00] anweiss commented on #3634
+1 also seeing this same issue but using the Azure provider. Pod status shows "Unknown".

[2015-01-29 23:02] alex-mohr commented on #3954
@brendandburns Latency to reporting running for a single pod is also high #3952 but that appears not to be attributable to the scheduler.

Re: throughput, unless you're scheduling only 1 pod a time, it manifests as latency.  That means our unit tests will run more slowly, developers take longer to test stuff, the usability is worse, and we testing how a cluster does with a cumulative total of N co

[2015-01-29 23:06] bgrant0607 commented on #3667
This is done.

[2015-01-29 23:06] #3667 closed

[2015-01-29 23:07] bgrant0607 commented on #3702
Done.

[2015-01-29 23:07] #3702 closed

[2015-01-29 23:09] bgrant0607 commented on #3058
This is decided enough for 1.0, so demoting implementation to P3.

[2015-01-29 23:11] thockin commented on #425
Docker's -p flag publishes a port and allocates a host port at the same
time.

This is what kubernetes Ports[] used to do (but doesn't any more)

Docker's --expose flag and EXPOSE directive in Dockerfile just declares the
existence of a port.  This is what our Ports[] does today, though you can
OPTIONALLY allocate a host port.  So Ports[] can be used as -p or --expose.

On Thu, Jan 29, 2015 at 2:1

[2015-01-29 23:12] bgrant0607 commented on #2031
@smarterclayton Do you think it would be a problem to make this change in v1beta1?

[2015-01-29 23:13] bgrant0607 commented on #1071
We have EFK.

[2015-01-29 23:13] #1071 closed

[2015-01-29 23:15] bgrant0607 commented on #1695
Initial version of run-container is in. There are various improvements we could make (e.g., integrating podex, multi-container pods), but let's capture those in other issues and in cli-roadmap.md.

[2015-01-29 23:15] #1695 closed

[2015-01-29 23:18] bgrant0607 commented on #2562
Fixed:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/master.yaml

[2015-01-29 23:18] #2562 closed

[2015-01-29 23:21] alex-mohr commented on #3950
FWIW, apparently not just a one-off.  There are now 3 such entries after more pod creation/deletion.

[2015-01-29 23:21] bgrant0607 commented on #3809
This looks like an instance of #3005.

[2015-01-29 23:32] bgrant0607 commented on #3945
@pires We call what you are asking for "per-attribute limits". Please comment on #367 if this is a big concern for you. It's something we will likely add eventually, but it's not currently a high priority.

The scheduler currently spreads using labels on your pods. However, resource "requests" (cpu and memory in your container specs) are weighed equally with spreading, so you may not get even spre

[2015-01-29 23:33] smarterclayton commented on #2031
I don't think it would be a problem - all of the clients have dealt with 200/201 as "success" since 0.4 at least, and if a third party is assuming only 200 is ok they were broken on 202 Accepted before.

----- Original Message -----

[2015-01-29 23:38] thockin commented on #3951
I'm not sure what it means to harden against that failure - does 'gcloud' return a particular exit code?

The calls to gcloud come from ssh-to-node()

[2015-01-29 23:44] mikedanese commented on #3953
This https://github.com/mikedanese/kubernetes/commit/5b37a6b596eed35879314a993c18a95a79f7487d applied to the release-0.9 branch fixes the issue.

[2015-01-29 23:48] thockin commented on #3951
Sadly, gcloud does not make it possible to know whether gcloud failed or whether it made an SSH connection and the command that was run returned 1.

Suggestions, o test wizards?

[2015-01-29 23:50] satnam6502 commented on #3951
If we know the command is idempotent then surely we could add a retry loop to:
[code]
?

[2015-01-29 23:51] thockin commented on #3951
I did that, but it will retry even if the command being run fails.  PR coming

[2015-01-29 23:51] thockin commented on #3951
running e2e first :)

[2015-01-29 23:52] satnam6502 commented on #3951
Or "Russian Roulette" as I like to call it.

[2015-01-29 23:56] dchen1107 commented on #3948
Unassign myself from this bug since I cannot get working on this soon. Also remove kubelet from the label since it is not kubelet issue.

This is obviously a replicaController issue. cc/ @bgrant0607  Instead of destroying pod in pending state, replicaController unbound running pod from a node. Kubelet running on such node has this new desire state and kill unwanted pod to match it.

[2015-01-29 23:58] dchen1107 commented on #3953
cc/ @brendandburns Looks like we need to cut another patch release.

[2015-01-30 00:10] thockin commented on #3943
I would say this is a bug in kube-proxy - it should not get stuck in a loop
on that...

On Thu, Jan 29, 2015 at 11:56 AM, Alex Mohr <notifications@github.com>
wrote:

[2015-01-30 00:15] erictune commented on #3950
I saw a user complain about this about 2 weeks ago.  So, it is probably not
a newly introduced problem.

On Thu, Jan 29, 2015 at 3:21 PM, Alex Mohr <notifications@github.com> wrote:

[2015-01-30 00:20] erictune commented on #3952
Why is kubelet talking to etcd?  A recently built kubelet should only talk
to apiserver.

On Thu, Jan 29, 2015 at 2:16 PM, Alex Mohr <notifications@github.com> wrote:

[2015-01-30 00:28] brendandburns commented on #3952
Did those changes missed the 0.8.x release series.  I don't see any etcd
from a server @ head...

--brendan

On Thu, Jan 29, 2015 at 4:21 PM, Eric Tune <notifications@github.com> wrote:

[2015-01-30 00:31] erictune commented on #3952
I guess so.

On Thu, Jan 29, 2015 at 4:28 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-01-30 00:41] erictune commented on #3912
@zmerlynn
kube-up is not the only valid way to start a cluster.   For example docs/getting-started-guides/aws-coreos.md uses Amazon CloudFormation, but not kube-up.   So, not sure about the split you mention.

[2015-01-30 00:48] zmerlynn commented on #3912
There's a set of stuff you don't get with it, though. As an example, e2e
doesn't know how to form clusters using anything but kube-up right now, for
better or worse. It would be nice if e2es could tear down clusters in the
middle if things fail, for hermetic reasons, to reset state, so it may not
always be sane to say "run it on what's there" (though we should allow that
as well). So it comes down

[2015-01-30 01:10] smreed opened #3965 "GCE PD Data Loss"
0.9.1 (edit: originally thought it was 0.9.2) in GCE and I'm seeing data disappear from GCE PDs after deleting the pod that mounts it.

I'm attaching some relevant looking bits from the kubelet log.

[code]

Around this point I ssh to the minion and `ls -l` the root of the PD and found nothing there. There was definitely data on the device before I deleted the pod.

Also, after this happens, I hav

[2015-01-30 01:11] smreed commented on #3965
This pod is deployed stand-alone, not by a replication controller, in case that makes a difference. I've seen it with other pods as well, such as one running mysql.

[2015-01-30 01:14] bgrant0607 commented on #425
Due to our IP-per-pod model, you normally shouldn't need a host port, however.

[2015-01-30 01:17] brendandburns commented on #3953
roger, wilco.

On Thu, Jan 29, 2015 at 3:58 PM, Dawn Chen <notifications@github.com> wrote:

[2015-01-30 01:18] derekwaynecarr commented on #3946
Can someone assign this issue to me?  I will try to review in next couple days.

Sent from my iPhone

[2015-01-30 01:18] brendandburns commented on #3965
Thanks for the report, I will try to look into it.

Can you grab the event stream (kubectl get events) next time it happens as
well?

Thanks
--brendan

On Thu, Jan 29, 2015 at 5:12 PM, Steve Reed <notifications@github.com>
wrote:

[2015-01-30 01:25] thockin commented on #3949
Fixing the hostname seems like an obvious change.  We should consider where
else that information might pop up.  In a different issue we are discussing
allowing users to expose their own pod UID and name as custom env vars.
This would still be safe as long as we don't do live migration.  We solved
this internally by allocating a virtual UID at pod creation time which
travels across migrations (liv

[2015-01-30 01:26] thockin commented on #3965
Do you think this was related to the PR you just put in with RemoveAll?
This is why I suggested maybe re-checking isMountPoint() and ONLY
proceeding with Remove() if it is not...

On Thu, Jan 29, 2015 at 5:18 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-01-30 01:27] thockin commented on #425
Yes, sorry.  Almost nobody needs host ports.  If you think you need a host
port, call me and I will explain why you don't need a host port.

On Thu, Jan 29, 2015 at 5:15 PM, Brian Grant <notifications@github.com>
wrote:

[2015-01-30 01:29] thockin commented on #1451
Yeah, I get that the API being defined as dumb structs is super-clean.  But
having the objects that we use all over the codebase be dumb structs is
painful.

On Thu, Jan 29, 2015 at 7:15 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-30 01:33] smarterclayton commented on #1451
It's interesting you feel that way.  I know we have a couple of hot touch points, but the rest seem not that bad.  I.e accessors for lists (we could convert them to maps on conversion) and getting access to object meta and TypeMeta are the two I think of most.  What are the ones you rank most highly?

[2015-01-30 01:46] thockin commented on #1451
Look at Yu-Ju's PR to move defaulting out of the validation code.  A
million tests create the "dumb struct" form of Pods, Services, etc.  Now
they all need to know what fields are required to pass validation, whereas
they used to get defaults as part of validation.  This goes to why
constructors are a good thing - you can assert things like "the DNS policy
(a string) holds a valid value".  I can't

[2015-01-30 01:46] tobegit3hub commented on #3947
I think it's possible to use docker remote API to get metrics of containers, but not replacing cAdvisor. It's the tool to collect and display metrics and `docker stats` is just the command to use for one time or others.

[2015-01-30 01:53] bgrant0607 commented on #1821
@smarterclayton What is the current status of this? It looks like FillObjectMetaSystemFields sets uid upon creation, but we don't issue an error if the user had set the value and I don't think we prevent the user from updating it.

[2015-01-30 02:12] vishh commented on #3947
cAdvisor may adapt the docker metrics API once that is available. However
cAdvisor servers a purpose that is beyond just collecting docker container
metrics!

On Thu, Jan 29, 2015 at 5:46 PM, tobe <notifications@github.com> wrote:

[2015-01-30 02:14] Fandekasp commented on #3869
Sorry, forgot to come back here after solving the issue. Correct, the problem was with the kubernetes_auth file. The keys must be capitalized, and I was trying `{"user": "<user", "password": "password"}`

This naming convention should be better documented, or more useful error should be raised. Neither the Json standard (ECMA) nor the JSON-RPC specs are requiring capitalized keys.

Renaming this i

[2015-01-30 02:15] mikedanese commented on #3953
Fixed in 0.9.3

[2015-01-30 02:15] #3953 closed

[2015-01-30 02:21] jlowdermilk commented on #3869
Thanks Adrien. I think the right thing to do here is raise an error if the kubernetes_auth file exists but doesn't have the required keys.

[2015-01-30 02:26] smarterclayton commented on #1821
Updating it is fixed in my generate name pull - see ValidateObjectMetaUpdate.  I was torn on the create case - since it's not settable by a user, I don't know if there's a downside to ignoring it (to allow GET / POST).  In that pull everything should be correctly ignored / reset.

[2015-01-30 02:33] smarterclayton commented on #1451
We have a "constructor" that could do that in scheme.New.  Or we could expose scheme.Default(obj) and change all the places to use it.

Doesn't this mean validation has to be duplicated across api versions?

Doesn't that mean creating a non trivial object in the versioned object stays equally hard?

Agree we do massive refactors in test cases on every trivial change... However, that particular pro

[2015-01-30 02:42] proppy commented on #425
Just a clarification that you can get that info without pulling the image, we do it in podex https://github.com/GoogleCloudPlatform/kubernetes/blob/master/contrib/podex/podex.go#L174

[2015-01-30 02:46] #3892 closed

[2015-01-30 02:46] smarterclayton commented on #425
Yeah - I started here: https://github.com/smarterclayton/go-dockerregistryclient from upstream but haven't had the time to wire in proper local auth lookup using the existing code, so it's  still public only.

[2015-01-30 03:11] zbhlove100 commented on #3865
I think maybe you need to have a look at the official mysql dockerfile.Here parts of it:

    ENTRYPOINT ["/entrypoint.sh"]

    EXPOSE 3306
    CMD ["mysqld"]

It use entrypoint.sh to do something.
Here is part of entrypoint.sh:

    CREATE USER 'root'@'%' IDENTIFIED BY '${MYSQL_ROOT_PASSWORD}' ;

It should create user root with password.
-----------------------------------
Answer your question:

[2015-01-30 03:49] smreed commented on #3965
I'll grab events next time. I can repro this easily so I'll try to do it
first thing tomorrow.

On Thu, Jan 29, 2015, 17:18 Brendan Burns <notifications@github.com> wrote:

[2015-01-30 04:11] satnam6502 opened #3971 "CGE Daily Quota Exceeded by 'idle' 500-node cluster"
I've had a 500-node GCE cluster up for a few days. The last two days I have been locked out of my Google Developer Console with the message `We are unable to display this page. You have exceeded daily quota for Compute Engine API` and I can't ssh into the machines -- even though I myself have not been issuing any/much in the way of API calls. Is a largely idle cluster on GCE issuing GCE Compute En

[2015-01-30 04:42] thockin commented on #3865
So you have confirmed that the environment variable is present and
available.  What's the problem?

On Thu, Jan 29, 2015 at 7:11 PM, zbhlove100 <notifications@github.com>
wrote:

[2015-01-30 05:14] Fandekasp commented on #3422
Issue is still occurring, the docker registry suddenly stopped working a few hours ago:

[code]

iptables record has not been updated after the pod switched minion.

[2015-01-30 05:24] thockin opened #3973 "idea: make e2e tests use namespaces"
If each e2e test runs in a namespace, then cleanup is way easier - at the end of eaach test, just nuke the whole namespace.

[2015-01-30 05:28] smreed commented on #3971
See also #3643

[2015-01-30 05:29] brendandburns commented on #3422
the iptables shouldn't change when a pod moves.  iptables maps you to the
kube-proxy, which is responsible for keeping track of where the pod is.  Is
kube-proxy running?  Can you dump its logs and see what it thinks is going
on?

What happens if you hit  10.67.168.16:55035 directly?

--brendan

On Thu, Jan 29, 2015 at 9:15 PM, Adrien Lemaire <notifications@github.com>
wrote:

[2015-01-30 05:29] brendandburns commented on #3973
seems reasonable.  Although I don't think our current flakiness is due to
bad cleanup...

On Thu, Jan 29, 2015 at 9:24 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-30 05:29] bgrant0607 commented on #1451
Whatever "constructor" we use, it needs to basically take whole dumb API structs as input. There's no point in duplicating the API objects with some kind of builder or options object. That would be unmaintainable.

It is true that our code is more aspect-oriented than object-oriented currently. As I said before, I think the most important thing is to group the code by API object.

Effectively, our

[2015-01-30 05:31] bgrant0607 commented on #1821
I'm fine with that. I think we can consider this closed, this, once your PR is merged.

[2015-01-30 05:40] satnam6502 commented on #3971
Right. But I seem to have managed to exceed quota by not doing anything proactive e.g. issuing any commands myself.

[2015-01-30 05:46] Fandekasp commented on #3422
kube-proxy logs: http://sprunge.us/jgaZ

one of the minion was inaccessible (couldn't ssh), so I stopped it, and the aws autoscaling group restarted another minion. None of the pods running on the previous minion got updated, and their status switched to Unknown.

I had to stop & create the registry pod and service (`kubectl update` wouldn't do anything)
The service got a new ip assigned, but the

[2015-01-30 05:48] satnam6502 commented on #3973
Right now it is not due (much) to bad cleanup but that does become and issue if you want to run tests N times back to back (so we can tell who the real falkes are) (or in parallel) but in that case it is perhaps a bit heavy handed to nuke the namespace after each invocation of the same time.

[2015-01-30 05:55] bgrant0607 commented on #3949
I'd make the requirement that anything using the Kubernetes API to introspect or manage their own pods would need to be migration-aware. They could use the post-migration hook to get the pod's new name.

Why would someone want the uid? What issue is that? (Other than #386.)

[2015-01-30 06:00] derekwaynecarr commented on #3973
+1

[2015-01-30 06:01] bgrant0607 commented on #3948
Yes, the replication controller should be smarter, taking into account Phase, Readiness, recency, ...

This will be a significant problem for auto-scalers, but I expect manual scaling to be infrequent.

I doubt we'll get to this soon. A PR would be welcome. Place to change is here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/controller/replication_controller.go#L183

[2015-01-30 06:02] derekwaynecarr commented on #3326
@arun-gupta - are you running with any vagrant plugins?

[2015-01-30 06:08] satnam6502 commented on #3928
What shall we do with this issue for triage? Labels? Priority?

[2015-01-30 06:08] arun-gupta commented on #3326
[code]

[2015-01-30 06:16] thockin opened #3974 "Improve DNS e2e"
Instead of wget'ing and writing to disk, just expose a simple go webserver that causes a DNS lookup.  so get /google.com would do a DNS lookup of google.com.  get /kubernetes-ro.default ... you get the picture.

Would make a much simpler test.

[2015-01-30 06:17] satnam6502 commented on #3974
+1

[2015-01-30 06:26] thockin commented on #3928
P2 @lavalamp for when he returns

On Thu, Jan 29, 2015 at 10:08 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-01-30 06:27] thockin commented on #3973
When DNS test times out it leaves turds that have to be manually cleaned
up.  This is stupid.  Nuke it from orbit.

On Thu, Jan 29, 2015 at 9:30 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-01-30 06:54] bgrant0607 commented on #3894
Turning off headers is the solution for people who don't want them is fine. Or `tail +2`.

[2015-01-30 07:00] zbhlove100 commented on #3865
Emmm....
Sorry,Maybe my words mislead you.
First,kubernetes works fine.It set the environment variable.
What I want to discuss with you is I think it  doesn't work at the right time.

My purpose is use the environment variable in entrypoint.sh,but can't get it.
I curious about when did kubernetes set the environment.

[2015-01-30 07:20] bgrant0607 commented on #3908
Spec isn't just things set by the user. It's the desired state. In an extensible system, there's no clear definition of "the system". Is an auto-scaler part of "the system"? Is kubectl part of "the system"? Is Openshift?

Expecting to be able to POST then GET back exactly what was posted, and no more, is a misguided expectation, IMO.

We can make GET -> POST work the same way as config merge, by u

[2015-01-30 08:59] zbhlove100 commented on #3865
Ohhhhh.......I'm sorry.
I've made a so stupid mistake.
Thank you for your patiently answers.

[2015-01-30 08:59] #3865 closed

[2015-01-30 09:27] pires commented on #3869
JSON RPC states that identifiers *must be* case-sensitive.
[code]

[2015-01-30 10:00] pires commented on #3945
@bgrant0607 thanks for the details.

So, if one defines a container (from now on, C) resource requests and provisions nodes with just what it needs for *one* C - not enough for 2 C -, the scheduler will guarantee that I have one C per node, right?

Regarding admission control and the async req/rsp between apiserver and scheduler couldn't one register one or more callbacks to when a response is rec

[2015-01-30 10:20] pires commented on #367
+1 for @jbeda suggestion

Also the SQL-alike syntax for defining this would be a _awesome-to-have_, but not a priority, I reckon.

[2015-01-30 10:38] pires commented on #3585
While I'd like to have something like this:

Truth is that I agree with @alex-mohr, in the sense that having external code impacting on the execution workflow may break things and ultimately make it impossible to debug/support.
Other than that, having a place where a user can place hooks (any kind of executable instead of funcs - Kube plugins? - listening somewhere for events) would be great.

[2015-01-30 13:33] thockin commented on #3865
Whew, I was starting be worried that there was something DEEPLY broken.
On Jan 30, 2015 12:59 AM, "zbhlove100" <notifications@github.com> wrote:

[2015-01-30 15:15] zmerlynn commented on #3973
+1 for the cases where this is all that matters. We already have tests that
need cleanups that aren't bound by namespaces (pd.sh for now), or tests
that are poking kubelet things (like services.sh) that should probably have
kubelet verification functions before the test exits. (That test is also an
interesting example of "hard to run in parallel".)
On Jan 29, 2015 10:27 PM, "Tim Hockin" <notificat

[2015-01-30 15:19] zmerlynn commented on #3965
We really need an actual persistent data e2e :/
On Jan 29, 2015 7:50 PM, "Steve Reed" <notifications@github.com> wrote:

[2015-01-30 15:21] bgrant0607 commented on #3865
What was it? Wrong variable name?

[2015-01-30 15:26] bgrant0607 commented on #3945
Yes, if you size your nodes and containers carefully, that would work.

We could potentially add a hook for the admission control, yes.

[2015-01-30 15:58] #3919 closed

[2015-01-30 16:07] #3691 closed

[2015-01-30 16:11] smreed commented on #3965
These are the only events I see from `kubectl get events` from when I killed the pod.

[code]

[2015-01-30 16:19] smreed commented on #3965
One more repro, with hopefully more clues.

Pod is deployed, PD is attached properly, and data is being persisted.

    root@kubernetes-minion-2:~# find /var/lib/kubelet/plugins/kubernetes.io/gce-pd/mounts/prometheus-storage | wc -l
    890
    root@kubernetes-minion-2:~# du -h --max-depth 0 /var/lib/kubelet/plugins/kubernetes.io/gce-pd/mounts/prometheus-storage
    26M     /var/lib/kubelet/plugin

[2015-01-30 16:37] satnam6502 opened #3978 "Integrate proper Ginkgo timeouts in our e2e tests"
Remove ad hoc timeouts that we currently use.
@zmerlynn @filbranden

[2015-01-30 16:41] zmerlynn commented on #3978
I asked @satnam6502 after recent Jenkins bloodshed. In particular, if the timeout here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/driver.go#L51 is hit, we don't get any sort of Gingko reporting on the tests, which means we're back to console logs in Jenkins. Also, presumably if we timed out in Gingko, we could be unravelling through cleanup routines as well, rather tha

[2015-01-30 16:42] smarterclayton commented on #560
Somewhat opinionated proposal of how downward API could be exposed as env for both labels and service values described here:

https://github.com/GoogleCloudPlatform/kubernetes/issues/1768#issuecomment-71331800

Essentially, do a limited form of env var substitution as pre-processing pass on the Pod prior to invoking docker start.  Walk the list once to get all the user provided env, then go throug

[2015-01-30 16:50] jbeda opened #3979 "Update to new version of SaltStack for GCE"
Right now GCE is locked to the v2014.1.13 version of salt.  There is a new major version (2014.7.1) out that we should look to switch to.  We might want to wait until 2014.7.2 is out (early Feb)

Instructions for updating are sketched out here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/templates/README.md

[2015-01-30 16:52] zmerlynn commented on #3894
Turning off headers via flag is the usual solution. I find the thought of
it going to stderr really odd, and agree with Tim's general principal of
"you asked for it" (this especially applies to --help ... I find it so
aggravating when --help gets dumped to stderr just because someone was lazy
and didn't change their usage() routine to do the right thing).

On Thu, Jan 29, 2015 at 10:55 PM, Brian G

[2015-01-30 16:58] jdef commented on #2483
I'd like for the scheduler to be able to add metadata to a "bound pod", however that concept ends up being realized. Currently the etcd registry ApplyBinding() implementation drops annotations on the floor.

Has there been any discussion about how a scheduler can inject annotations into a bound pod?

[2015-01-30 16:59] smreed commented on #3965
@brendandburns it seems like your commit https://github.com/GoogleCloudPlatform/kubernetes/commit/a0b8429d2e57e15d559333a79f33ff58ad1cf34e would fix this. Looks like the old code was pretty clearly blowing everything away with `os.RemoveAll` before asking for the PD to be detached.

[2015-01-30 17:09] thockin commented on #3965
It SHOULD have been unmounted first, so there is still an open question of
why the data was visible there.  Maybe we should also change that RemoveAll
to a simple rmdir, which will fail if it is not empty.  Not sure if I can
rmdir a mount point, but I think not..
On Jan 30, 2015 9:00 AM, "Steve Reed" <notifications@github.com> wrote:

[2015-01-30 17:18] pires commented on #3945
As a workaround, it is very acceptable. Thanks.

[2015-01-30 17:26] brendandburns commented on #3965
Yeah, I'll update https://github.com/GoogleCloudPlatform/kubernetes/pull/3967 to just try to rmdir...

[2015-01-30 17:43] dchen1107 commented on #3943
There are two issues raised by this one:

* Why kube-proxy logs so much in this case? Like what @thockin mentioned above, stucking in a loop? or just simply log too much detail? There were several issues reported lately about disk_full caused by kube-proxy.log.

* Current log rotation policy we had is that is a maximum of 5 rotated out files with maxsize as 100M every day, we could adjust it with

[2015-01-30 18:15] smarterclayton commented on #2483
Hasn't should be.  The annotations also stripped out in the Kubelet right now before the Kubelet even sees them.

----- Original Message -----

[2015-01-30 18:29] dchen1107 commented on #3876
I lower the priority to P3 since the scalability goal of v1 release is 100 nodes, probably 200, but not 500 nodes. cc/ @bgrant0607

According to this particular issue, I cannot ssh into master at all, but not due to API quota at this moment.

I am rebooting the VM, and wait to see if there is a luck later. But looks like master node is in doomed state. I also noticed that there are CPU utilization

[2015-01-30 18:30] proppy commented on #3606
It would be nice to also link the other way around, https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/images.md#preloading-images mention the imagePullPolicy, it should links to the API docs with all the possible value.

[2015-01-30 18:30] smarterclayton commented on #3894
Yeah, since we have --no-headers we're good.  Headers was maybe a bad example.

----- Original Message -----

[2015-01-30 19:22] ddysher opened #3985 "Move Node.HostIP to node status in v1beta1 and v1beta2"
Plan to do the change, but need to make sure if there is any historical reason.

/cc @smarterclayton @bgrant0607

[2015-01-30 19:37] dchen1107 commented on #3985
I am a little bit confused here. Shouldn't we plan to move v1beta3 soon and HostIP is in Status already? Also HostIP here is referring to the one associated with Pod or Minion / Node? But no matter what, both APIObject don't have separate Spec and Status in v1beta1 and v1beta2, right?

[2015-01-30 19:38] ddysher commented on #3920
#1513 and #3253 in general, is a separate issue.  This is basically a client thing.

Agree admin should not care about singular node, but I think this is a reasonable use case for an admin, esp for paranoid admin :).  Plus, ssh into nodes doesn't necessary mean an issue within kubernetes; it might as well mean features we don't yet support, for example, analyze app IO patterns, overcommitment, etc

[2015-01-30 19:44] ddysher commented on #3985
It's Node.HostIP.  By Spec in v1beta1/2, I mean things outside of Status.  Sorry for confusion.

When are we going to deprecate v1beta1/2?

[2015-01-30 20:01] satnam6502 opened #3987 "Change the RateLimiter interface to provide an error message if CanAccept is not true"
@bgrant0607 pointed out that the `CanAccept()` behavior should be to return an error message rather than a bool and then some code can be factored out rather than appear at the call site.
@brendanburns

[2015-01-30 20:58] bgrant0607 commented on #3987
I want to see something like:
[code]
where the error message returned says what the rate/burst limits are (if applicable).

[2015-01-30 21:00] satnam6502 commented on #3987
@jbeda points out:
[code]

[2015-01-30 21:16] #3809 closed

[2015-01-30 21:18] satnam6502 opened #3989 "Get minions returns 0 minions when I expected 2 (and it returned 2 before for the same cluster)"
I was running a series of tests against an e2e cluster that I had up some I saw:
[code]
Before this I had run the same test `services.sh` five times on the same cluster and `get minions` correctly detected two minions.

I assume this is a bug.

[2015-01-30 21:20] satnam6502 commented on #3989
@davidopp

[2015-01-30 21:28] bgrant0607 commented on #3939
That message might come from the etcd client library.

[2015-01-30 23:15] jlowdermilk commented on #3800
Turns out if we want to get rid of kubernetes_auth, we first need to either make token-based authentication work for kubectl -> apiserver, or else add User and Password as AuthInfo entries.

/cc @erictune

[2015-01-30 23:16] smarterclayton commented on #3800
What's left on token auth?  Generating the token and turning it on in all the environments?

----- Original Message -----

[2015-01-30 23:20] jlowdermilk commented on #3800
I think so; it looks like apiserver and kubectl can use a token if given one from file.

[2015-01-30 23:32] smarterclayton commented on #3800
I think we talked about making the change, and then never did.  We have the token file support - I honestly can't even remember what the latest was on this (beyond pure focused on other stuff).  We definitely wanted to nuke user/password support.  There was talk about cert auth - Jordan did the first steps of that, but I think that was really only needed for the kubelet (or rather, the kubelet tal

[2015-01-30 23:47] nikhiljindal opened #3996 "Improve documentation for /redirect and /proxy"
Right now, /redirect and /proxy accept requests with all methods - GET, PUT, POST and DELETE.

While GET definitely makes sense, I am not sure why we need to support PUT, POST and DELETE.

@bgrant0607 @smarterclayton

[2015-01-31 00:16] smarterclayton commented on #3996
Redirect should only accept GET.

Proxy is more nuanced - it's a true http proxy, and makes no decisions about the content.  In theory you can use proxy to connect to http servers running on services in your infrastructure.

----- Original Message -----

[2015-01-31 00:20] bgrant0607 commented on #3996
In general, we should rationalize these with the bastion proposal  #3481  and with #3763.

@smarterclayton Are you relying on /redirect and /proxy for anything specific, or do you mainly use them for debugging?

[2015-01-31 00:22] bgrant0607 commented on #3996
The redirect handler enforces that it's GET only:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/redirect.go#L42

[2015-01-31 01:02] nikhiljindal commented on #3996
Thanks for the quick replies. Looks like we definitely dont need to support all methods for /redirect.
Updated https://github.com/GoogleCloudPlatform/kubernetes/pull/3999 to handle only the GET method on /redirect.

[2015-01-31 01:05] bgrant0607 commented on #3996
These should also be documented in api-conventions.md, while we're at it.

redirect handler: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/redirect.go#L33
proxy handler: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/proxy.go#L83

ResourceLocation implementations:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/m

[2015-01-31 01:22] bgrant0607 commented on #3996
Ref #1863

[2015-01-31 01:29] bgrant0607 commented on #3996
Looked at pod's ResourceLocation again. It looks like the user can specify a port number. There's a TODO to do lookup by port name. The first port is used only if no port is specified.

[2015-01-31 01:33] bgrant0607 commented on #3481
This broad issue was previously discussed in #1863, and more recently in #3996.

Probably we should make this one about reverse lookup by IP address.

There are definitely authz and sharding implications for reverse lookups across namespaces.

[2015-01-31 01:51] bgrant0607 commented on #3908
To be a little more clear, hopefully:

System components, add-ons, extensions, etc. need a clear view of the desired state.

The user wants to be able to distinguish what they care about vs. fields set by everything else, not just the apiserver, in order to clone objects within a namespace, or copy/move them across namespaces or clusters, or produce clean configuration files they can then use goin

[2015-01-31 03:02] thockin commented on #3920
I'm not saying we should disallow SSH, just that we should probably not
invest much in a cross-cloud SSH abstraction

On Fri, Jan 30, 2015 at 11:39 AM, Deyuan Deng <notifications@github.com>
wrote:

[2015-01-31 03:07] thockin commented on #560
And then users who want the actual string "$" in their env vars need to
escape them?  Puke.

I could buy a new block of env vars that are explicitly handled this way,
but not the default block.

On Fri, Jan 30, 2015 at 8:43 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-31 03:12] smarterclayton commented on #560
There would be a flag that says you want this.  I'm not insane, just dangerous.  Like "Resolve":true or "expand":true

[2015-01-31 03:13] smarterclayton commented on #560
I clarified in the other one this was explicit opt in on a per var basis, but forgot to copy that here.

[2015-01-31 03:18] thockin commented on #560
I could probably live with that.  As per the migration issue - exposing
some of this stuff is actually detrimental to migration.  Tread carefully.

On Fri, Jan 30, 2015 at 7:14 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-31 03:22] smarterclayton commented on #560
True.  I was thinking as a default of exposing only host, port, and maybe a few attributes off the pod.  We could then nuke the docker style env vars.

At least here we have a way to do a migration, vs with magic env vars that show up and people use without you being able to tell.

[2015-01-31 03:33] jasonkuhrt opened #4005 "Strange return value upon creating resources within a folder"
Not sure why I got the strange go error return, see below:

[code]

[2015-01-31 03:38] bgrant0607 commented on #3955
Some observations:
* So long as defaults are set by kubectl, we'll need to capture user intent first in order to facilitate merging an updated configuration with the live desired state.
* Obvious but worth stating: apiserver can't rely on kubectl to apply defaults.
  1. The API has other clients.
  2. We need to retain the ability to add new fields without changing the api version.

[2015-01-31 03:57] jasonkuhrt opened #4006 "Better error message when missing Docker Registry credentials"
I launched a pod forgetting that I had not uploaded my `.dockercfg` into the node's `/` folder. Of course the image pull failed but the error message was not helpful:

[code]

e.g. It should finish off the message with "because credentials for quay.io are not available to Kubernetes. This may be because ...blah blah"

[2015-01-31 04:00] thockin commented on #3955
Yeah, its dubious that clients should even be able to see internal structs
and conversion.  The obvious exception is validation, with the caveat that
it could drift.

If validation is applied to versioned structs, then clients can stay
versioned.  To get validation we will need per-version defaulting.
Luckily....
On Jan 30, 2015 7:39 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-01-31 05:07] erictune opened #4007 "Remaining work for using tokens instead of basic auth"
#2328 is about having a flow for issuing new tokens and new users.

In addition to that, we also need to just be able to accept a bearer token for the "admin" user, rather than basic auth.  Not sure that #2328 is planning to encompass that, and at any rate @jlowdermilk may be interested in getting something going with bearer tokens before that PR lands.

So, here is what I recall needed to be done

[2015-01-31 06:38] bgrant0607 commented on #3955
We should use (potentially cached) swagger for basic (optional) client-side validation. That approach will work with newer releases, new versions, and new objects (plugins, etc.).

Detailed validation that can't be expressed via swagger can be performed by the server.

[2015-01-31 14:55] derekwaynecarr commented on #3955
Some of the work I did with RESTMapper last week could be used in the future where we introspect swagger and build a RESTMapper from it on the client.

Sent from my iPhone

[2015-01-31 17:21] mikedanese opened #4008 "kubectl update --patch does not work as expected"
I create a service
[code]
update it with
[code]

I would expect that the selector would have been updated but it's not. This is because of mergo.Merge which says in the doc that 'Merge sets fields' values in dst from src if they have a zero value of their type.' but `.selector.version` did not have a zero value before the merge. Currently patch can only add missing fields to api objects. Was this

[2015-01-31 17:25] smarterclayton commented on #3005
#3789 adds a framework for create that allows each type to specify its reset rules on create.  We can now add a similar behavior on update.

[2015-01-31 19:24] jasonkuhrt opened #4009 "Unable to pull new image from private repository"
There is something wrong, somewhere, with my deployment pipeline of a pod to kubernetes, and after a few hours of attempts, the fault seems to live with Kubernetes.

[code]

I change project code such that I will see some logs. I first build:
[code]

Then I test my app locally to make sure the logs are in place:
[code]
Sure enough, the last three lines above demonstrate the logging is working. Ok.

[2015-01-31 19:25] jasonkuhrt commented on #4009
I've tried this dozens of times, using explicit tag deploys (`0.2.13` etc.) and forcing `imagePullPolicy: PullAlways`

[2015-01-31 19:38] jasonkuhrt commented on #4009
This seems related to my issue https://github.com/GoogleCloudPlatform/kubernetes/issues/3028 but unlike there the `:latest` tag doesn't do anything for me.

[2015-01-31 19:42] davidopp commented on #4008
@bgrant0607 do you know if "update only if previous zero/not set" was the intended behavior?

[2015-01-31 19:43] jasonkuhrt commented on #4009
so now I have a case that looks like a blatant bug:

Given this `ReplicationController` manifest:

[code]

Use it:

[code]

And the container version (docker tag) is launched...:

[code]

(And of course the same error as above when I log the pod)

[2015-01-31 19:52] pires commented on #4009
I think cloud registry is caching so probably some bug.

Try ssh'ing intominions and force remove image;
[code]

[2015-02-01 01:16] jasonkuhrt commented on #4009
@pires Thanks.

In my three-node cluster I found that my image had only been downloaded into one node. That node showed the following:

[code]

After removing that I tried another deploy of `0.2.16` and sure enough:

[code]

So we've seen how to work-around this issue at least in one case. If I have any more info I'll report it, and let me know what else would help to debug this issue.

[2015-02-01 02:32] jasonkuhrt opened #4013 "Deleting cluster in GKE does not clean up old "Forwarding Rules""
I ran into a situation where I deleted a Kubernetes cluster off GKE and immediately launched a new one. I re-launched some services that were binding to port `8888`. The routing through that port was not working and after a while I checked the `Forwarding Rules` in Google Cloud. It turned out a rule of the same name for port `7777` was already there, which I believe was from the previous cluster.

[2015-02-01 03:10] jasonkuhrt opened #4014 "Unknown flag --replicas"
This fails
[code]

This works

[code]

Both should work, no?

[2015-02-01 03:12] jasonkuhrt commented on #4014
Version:

[code]

[2015-02-01 03:15] zmerlynn commented on #4013
#2984?

[2015-02-01 03:18] jasonkuhrt commented on #4013
@zmerlynn Bah, and I even already commented on it... Thanks!

[2015-02-01 03:18] #4013 closed

[2015-02-01 03:30] pires commented on #4009
@thockin and I are really interested in having some sort of proxy that caches locally and this can be an issue.

[2015-02-01 03:39] jasonkuhrt commented on #4009
@pires @thockin in general:

1. A choice of tool for caching or a generic API that vendors can enable cache on top of (Kubernetes has already baked in tools such as cAdvisor so maybe a cache could be baked in too...)
2. An API for cache-busting. In the case of GKE+GCR a push to the GCR would break the cache of any same-tagged thing

Seems non-trivial at best. Cache is notoriously tricky, lots of p

[2015-02-01 03:57] pires commented on #4009
Needs some debugging to understand what's going on - sometimes docker is PITA!

[2015-02-01 04:41] mikedanese commented on #4008
I've been trying to think of a workaround. We could create an empty struct of the object type and Merge source and destination in an order to get an overriding patch result but there's some more nastiness about this. Using mergo for this, we won't ever be able to set a field to a default value of that field type e.g. we can never set an int field to 0. Best way to do this might be to somehow write

[2015-02-01 19:33] bgrant0607 commented on #4014
I don't think so:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl.md

/cc @jlowdermilk @brendandburns

[2015-02-01 19:47] bgrant0607 commented on #4008
Bug

cc @brendandburns

[2015-02-01 21:03] jlowdermilk commented on #4014
I believe pflags requires the format --flag-name=value.

[2015-02-01 22:45] jasonkuhrt commented on #4014
Ok, happy to close then. Its a bit surprising as most-all other CLIs I use do not enforce this restrict, or if they do, I haven't noticed.

[2015-02-01 23:40] #4014 closed

[2015-02-02 02:14] Fandekasp commented on #3422
@brendandburns happened again:

[code]

[2015-02-02 05:28] sourav82 opened #4018 "Is it possible for Kubernetes to accept a Dockerfile and build the image and start the container?"
I could see to create a pod in Kubernetes we need to pass a docker image. Is is possible to pass it a path to a Dockerfile so that Kubernetes will build the image from the Dockerfile and create the container?

[2015-02-02 06:03] thockin commented on #4018
At the moment there is no build-and-run macro.

On Sun, Feb 1, 2015 at 9:28 PM, sourav82 <notifications@github.com> wrote:

[2015-02-02 06:07] thockin commented on #4014
I second the notion that this is surprising and unfortunate.

On Sun, Feb 1, 2015 at 3:41 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-02 06:11] sourav82 commented on #4018
Thanks @thockin.

[2015-02-02 06:11] #4018 closed

[2015-02-02 06:49] jasonkuhrt commented on #4014
Its surprising even within the context of `kubectl` itself:

This works, surprisingly *surprisingly*:
[code]

: (

[2015-02-02 06:59] davidopp commented on #3936
Can we dupe this with #3137?

[2015-02-02 08:21] jiasir opened #4019 "Building local cluster error"
Hi, since I clone the source on my ubuntu server 14.04, with docker, etcd, and golang installed. My docker version is 1.0.1, when i execute `hack/local-up-cluster.sh`, I found the flowing issue:
[code]

[2015-02-02 15:48] ironcladlou commented on #2294
This issue should be closed by https://github.com/GoogleCloudPlatform/kubernetes/pull/3810

[2015-02-02 15:53] mikedanese commented on #4008
FYI there was actually [one test case](https://github.com/GoogleCloudPlatform/kubernetes/blob/e335e2d3e26a9a58d3b189ccf41ceb3770d1bfa9/pkg/kubectl/cmd/helpers_test.go#L47-L62) doing an update of a non-empty field that was passing. It looks like this is an upstream bug where mergo.Merge() does not follow the "update only if previous zero/not set" semantics with embedded struct fields. I've document

[2015-02-02 16:20] nathanameye opened #4022 "Watch API always returns Waiting for Pod Status"
The Watch API always returns 'Waiting' for Pod status, but the REST API provides a different value which appears to be accurate (Pending, Running, etc.).

[2015-02-02 17:04] thockin commented on #4009
I agree that cache eviction is hard, and it is a great point.  Docker's
index/registry split might prevent this?  First we have to go to the index
to get hashes for layers then we pull layers.  The index transaction should
not be cached.

On Sat, Jan 31, 2015 at 7:39 PM, Jason Kuhrt <notifications@github.com>
wrote:

[2015-02-02 17:09] alex-mohr commented on #3936
I'd prefer not to.  That describes an implementation (create a soak test), but this is an exit criteria to track work necessary to meet the use case of long running clusters actually work.

As such, treat this as a master issue and #3137 as a dependent blocker?

[2015-02-02 17:10] alex-mohr commented on #3137
FWIW, there's enough low-hanging fruit that we can start with trivial load generators and see what breaks after N hours.  We don't need a fully-automated jenkisinified monitored v1.

[2015-02-02 17:46] phemmer commented on #3943
Just ran into this issue myself. All my nodes were stuck with 100% disk used due to `Accept failed: use of closed network connection`.

Here are the log entries leading up to the start of the `Accept failed` spam:

[code]

All nodes look similar (IP addrs & ports change), and occur within a few seconds of each other.
I'm not sure if this was a result of something I was doing.

Judging from the com

[2015-02-02 17:48] justinsb opened #4024 "etcd arguments are different for systemd vs non-systemd"
kubernetes/cluster/saltbase/salt/etcd/default (used for systemd) and kubernetes/cluster/saltbase/salt/etcd/initd (used for initd) have diverged; in particular DAEMON_ARGS has a different bind_addr.

Also, I'm not sure whether etcd.conf is still used at all, but it has another value for the bind addresses (hard-coded to 0.0.0.0).

[2015-02-02 18:00] thockin commented on #3943
I am out for the morning, can someone P0 this error?
On Feb 2, 2015 9:46 AM, "Patrick Hemmer" <notifications@github.com> wrote:

[2015-02-02 18:03] dchen1107 commented on #3943
@thockin, I am treating this as P0, and looking at it now.

[2015-02-02 18:13] thockin commented on #3943
Ok, I can help trace the proxy code later today if needed
On Feb 2, 2015 10:03 AM, "Dawn Chen" <notifications@github.com> wrote:

[2015-02-02 18:21] a-robinson commented on #4024
@davidopp Want to take a look at this?

[2015-02-02 19:05] #2410 closed

[2015-02-02 19:26] satnam6502 opened #4028 "pd.sh is flaky."
I inspected 101 runs of Jenkins GCE for our end to end tests. 62 tests passed, and of the failing 39 tests we had 20 failures for `pd.sh`. I suspect most of the other failures are related to etcd pressure (but this is just speculation right now and needs to be investigated). Had `pd.sh` not been failing then over 80% of the time the end to end tests would have worked. I propose that we take `pd.sh

[2015-02-02 19:27] bgrant0607 commented on #3985
We're trying to wrap up v1beta3 asap. v1beta1/2 will then be deprecated, but we'll retain support for some amount of time.

[2015-02-02 19:38] jlowdermilk commented on #4014
This isn't the first time I've been surprised by behavior of the pflag [parser](https://github.com/ogier/pflag/blob/master/flag.go#L406). It looks like for long arguments, the parser expects and requires `--flag-name=value`, but short flags (-f, -a, -s) are parsed as `-c arg`.

I agree this behavior is surprising and unfortunate. If we are sufficiently unhappy with it, we can fork pflag and/or sub

[2015-02-02 19:39] bgrant0607 commented on #4018
BTW, this was previously requested here: #1294

And, you may want to check out Openshift, which does support building.

[2015-02-02 19:44] a-robinson commented on #4005
cc @jlowdermilk

[2015-02-02 20:27] brendandburns commented on #4028
I actually don't think this is due to etcd at all.  If you look at the event stream for the failed tests, it's because after the delete and re-create of the testpd pod, it never comes up, and it doesn't come up because it can't re-mount the PD.  There's some problem in the detach/reattach logic, we need to have better visibility (likely downloading log files for the kubelets) to figure out what is

[2015-02-02 20:35] satnam6502 commented on #4028
Right, what I think I said was that `pd.sh` **does not** fail (mostly) due to etcd which is why I suggested taking action about this test independently of investigating whether etcd is behind the other test failures (with the exception of the cluster creation errors).

[2015-02-02 20:37] ddysher commented on #3985
ok, looks like it will still exist for a few months.  I'll try to evaluate the work.

[2015-02-02 20:51] a-robinson commented on #4007
@roberthbailey FYI

[2015-02-02 20:51] ddysher commented on #3885
@bgrant0607 The reason I'm trying to do so is the possible overlapping functions between node controller and replication controller or job controller.

If all pods are started with replication/job controller, then node controller just needs to remove the pods. But cases like the issue where pods are started without any controller, node controller should be responsible to remove them *and* recreate

[2015-02-02 20:57] jlowdermilk commented on #3800
Remaining work on token auth: #4007

[2015-02-02 21:06] jlowdermilk commented on #4005
Creating resources from a directory will continue with other resources if there is an error with one. It looks like there was an error with the second item, but I'm not sure why there is no error message. Can you list the resource files that were in that folder?

[2015-02-02 21:47] bgrant0607 commented on #3652
/cc @nikhiljindal

[2015-02-02 21:48] a-robinson commented on #4019
The relevant line seems to be "go build github.com/GoogleCloudPlatform/kubernetes/pkg/ui: signal: killed", but I'm not sure what would have killed your build. Can you clean out any old cruft from your repo and try again? To clean stuff out, run:
build/make-clean.sh
rm -rf Godeps/_workspace/pkg/

[2015-02-02 21:59] bgrant0607 commented on #3996
The more I think about it, the more I think that proxy and redirect shouldn't be considered part of the API. They're really just convenience mechanisms provided by the apiserver.

[2015-02-02 22:25] brendandburns commented on #4018
I think that the right way to support this is as a container that runs on
k8s, not part of k8s proper.  We'd happily accept a contrib. that does that.

Brendan
On Feb 2, 2015 11:40 AM, "Brian Grant" <notifications@github.com> wrote:

[2015-02-02 23:02] jasonkuhrt commented on #4005
@jlowdermilk I no longer have access to the source of the files but it was a `service` and `rc` definition.

Actually they both launched just fine despite the error.

[2015-02-02 23:21] brendandburns commented on #3582
Closing this, as I believe that this should now be fixed by #3927  (we'll see...)

[2015-02-02 23:21] #3582 closed

[2015-02-02 23:22] brendandburns commented on #3832
Closing this, since we actually did record this, we just weren't recording all events in e2e.  We are now...

[2015-02-02 23:22] #3832 closed

[2015-02-02 23:23] brendandburns commented on #4028
Retitling this to "fix pd.sh" since that's what we should actually do.

[2015-02-02 23:28] jlowdermilk commented on #3831
Fixed by #3944

[2015-02-02 23:28] #3831 closed

[2015-02-02 23:29] brendandburns commented on #3951
Closing this, since it appears to be fixed w/ #3962, no services.sh failures in the last N days, except ones due to etcd startup failure (which was fixed in a different PR)

[2015-02-02 23:29] #3951 closed

[2015-02-02 23:31] brendandburns opened #4036 "Clarify error messages when sub-components fail."
Right now, when etcd fails, we just pass that straight up to the client.  We should probably annotate the error so that we understand that it comes from etcd, not from the apiserver.

[2015-02-02 23:31] brendandburns commented on #3939
This is straight from etcd.  Created https://github.com/GoogleCloudPlatform/kubernetes/issues/4036 and closing this.

[2015-02-02 23:31] #3939 closed

[2015-02-02 23:52] thockin commented on #4014
+1 to patches

On Mon, Feb 2, 2015 at 11:39 AM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-02-03 00:06] brendandburns commented on #4014
jbeda actually has committer rights on the pflag library, so send him
patches!

On Mon, Feb 2, 2015 at 3:53 PM, Tim Hockin <notifications@github.com> wrote:

[2015-02-03 00:23] brendandburns commented on #3950
Yeah, I've seen this occasionally.  We should dig in and sort out what the issue is.  @alex-mohr sounds like you have a decent repro?

[2015-02-03 00:25] brendandburns commented on #3873
ok, I'm going to change the docs for now, we can change back when we standardize on 1.5...

[2015-02-03 00:25] bgrant0607 commented on #2770
Openstack has a compatibility API, but only with EC2:
http://docs.openstack.org/admin-guide-cloud/content/instance-mgmt-ec2compat.html

[2015-02-03 00:30] brendandburns commented on #3429
Closing this since I think it is working as intended (for now)

[2015-02-03 00:30] #3429 closed

[2015-02-03 00:32] brendandburns commented on #3327
Closing this, I'm keeping CHANGELOG up to date with my release notes.  @timothysc if you need other info, let me know.

Best
--brendan

[2015-02-03 00:32] #3327 closed

[2015-02-03 00:59] jlowdermilk commented on #1603
Should also use more useful labeling on resources to make cleanup easier and to see all the pieces of a service with one query. e.g. all resources that are part of the redis cluster get the label `app=redis` and all objects that are part of the frontend are labeled `app=frontend`.

[2015-02-03 01:14] bgrant0607 commented on #1603
I'd also like to make one-command creation work:
[code]

And we should nuke the host port.

[2015-02-03 01:15] #3873 closed

[2015-02-03 01:58] arun-gupta opened #4040 "Kubernetes configuration file schema"
The schema understood by the Kubernetes configuration file is not described any where. The current practice mostly is copy/paste existing samples (for example https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook) and edit them. There is a need to define a comprehensive list of elements, and their documentation, so that other examples can leverage them.

[2015-02-03 02:10] a-robinson opened #4041 "API returns numbers from get that it can't parse when fed into update"
I spin up a new cluster using GKE at version 0.9.2. Then I run:
$kubectl get minion <minion-id> -o yaml > minion.yaml

This returns a yaml file:
apiVersion: v1beta1
creationTimestamp: 2015-02-03T01:16:46Z
hostIP: <ip>
id: <minion-id>
kind: Node
labels:
    diskSize: "massive"
resourceVersion: 12
resources:
  capacity:
    cpu: "1"
    memory: 4.0265318e+09
selfLink: /api/v1beta1/minions/<minion-id

[2015-02-03 02:13] thockin commented on #4041
It looks like Quantity is unmarshalling wrong?

On Mon, Feb 2, 2015 at 6:10 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-02-03 02:16] thockin opened #4043 "Pre-plumb a cluster config param for --allow_privileged"
It should be easy enough to do - just copy the DNS template

[2015-02-03 02:20] smarterclayton opened #4044 "Automatically detected hostnames might be case sensitive"
NodeController is unable to register the value of `hostname -f`, because it contains mixed case from the OS (in this case OSX).  I'm not positive that all Linux systems are guaranteed to lowercase hostname -f, but it's likely that automated processes may end up collecting hostnames from sources that preserve case and passing that to the kubelet or master.  I believe we should lowercase names detec

[2015-02-03 02:23] a-robinson commented on #4041
That's very likely. And sorry, I didn't realize yaml didn't paste into comments well. Here's the actual yaml:
[code]

[2015-02-03 02:58] #3750 closed

[2015-02-03 03:19] a-robinson commented on #4041
Yeah, on the client-side, apparently, since the error is in kubectl/cmd/resource.go. It's possible that was missed during the Quantity refactoring.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/resource.go#L212

It may be troublesome that the v1beta1 API accepts a util.IntOrString for resources rather than a Quantity:
https://github.com/GoogleCloudPlatform/kubernete

[2015-02-03 03:26] bgrant0607 commented on #4041
/cc @vishh

[2015-02-03 03:27] bgrant0607 commented on #4044
cc @ddysher

[2015-02-03 03:50] bgrant0607 commented on #4040
Configuration files specify exactly our API objects.
See: http://kubernetes.io/third_party/swagger-ui/

[2015-02-03 03:55] pmorie commented on #560
@smarterclayton Clarifying for the record that by flag in your above comment you mean attribute on `api.EnvVar`.  Confirm?

[2015-02-03 04:48] bgrant0607 commented on #3885
@ddysher No, the node controller should never recreate pods elsewhere. That's not its job. Users that want that behavior need to run the pods under a pod controller, such as the replication controller. No, it doesn't invalidate restart policy -- separation of concerns. Individual pods are vulnerable to node failure -- that's reality and the model. See #3949 for more details.

[2015-02-03 04:50] ddysher commented on #4044
I'll take a look tmr.

[2015-02-03 04:54] ddysher commented on #4022
This is a known issue, we have a TODO for it:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/pod/rest.go#L158

Openshit has some hacks to make it work at client side I think.  /cc @smarterclayton

In general, our object status strategy is kind of broken.  pod status is cached and periodically updated in master, replication controller status is calculated on demands in s

[2015-02-03 05:02] nathanameye commented on #4022
Thanks for the update, I hadn't seen the TODO and @brendandburns had asked me to mention it here.

[2015-02-03 05:05] smarterclayton commented on #560
Yes, although a separate block is also reasonable.  Is a separate block easier to reason about, or confusing to new users?

[2015-02-03 05:07] smarterclayton commented on #4005
There are a few weird cases that could have an empty error string, but they're probably all bad.

[2015-02-03 05:28] arun-gupta commented on #4040
This is exactly what I was looking for but not easily googlable, or documented clearly.

[2015-02-03 05:37] bgrant0607 commented on #4040
@nikhiljindal Could you please put a link to the swagger UI here?
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/README.md

[2015-02-03 05:42] bgrant0607 commented on #2483
@jdef Into the pod? Into the containers of the pod? That's relevant to #386.

My objective is for the full pod to be made available to kubelet.

[2015-02-03 05:47] Fandekasp opened #4046 "EOF when querying apiserver via kubernetes service"
While kubectl could properly query my remote apiserver using the service kubernetes-ro behind nginx with htpasswd, I had to remove htpasswd, set a token auth file on apiserver and update nginx to forward queries to the service kubernetes instead, in order to perform update queries.

While debugging this issue:

[code]

I noticed that I actually  cannot query the kubernetes service from within the

[2015-02-03 05:48] bgrant0607 commented on #4022
Dupe of #2726.

[2015-02-03 05:48] #4022 closed

[2015-02-03 05:53] cnaize opened #4047 "How to add type to nodes and process it by pods?"
Hello! I'm a new one in `kubernetes`.
I want to add `type` to `nodes`, for example, `node` with huge hard, `node` with small RAM, etc.
Then I need to check the `nodes` `type` and add `pods` to `nodes` depends on the `type`.
Can I get some help, what is the best way to do this?

[2015-02-03 06:01] thockin commented on #4047
Why no just spec your pods as needing particular resources, and let the
scheduler sort out which nodes to use?  If yo need 16 GB of memory for a
particular pod, just say that.  If you are busy considering which nodes
jobs should run on, you aren't really experiencing the full power of the
system.

On Mon, Feb 2, 2015 at 9:53 PM, Nikita <notifications@github.com> wrote:

[2015-02-03 06:22] preillyme commented on #4046
I'll try to replicate on one of my test clusters.

[2015-02-03 09:19] Fandekasp commented on #2918
Ok, I believe my skydns setup is working, you can see [all the containers logs](http://sprunge.us/aIaa).

Since I cannot install the dig/ns/nslookup tools on the coreos server, and cannot port forward udp through ssh, I'm looking for a way to verify the setup, and the logging stack using it, it should now be working, but it's not the case.

Here are the errors I can see from the kubelet:
[code]

T

[2015-02-03 10:02] rimusz opened #4050 "kubelet errors"
kubelet returns errors:Feb 03 09:56:55 node-02 kubelet[981]: E0203 09:56:55.048333     981 etcd.go:64] etcd failed to retrieve the value for the key "/registry/nodes/172.17.8.103/boundpods". Error: 100: Key not found (/registry/nodes) [251]

It is looking in etcd for "/registry/nodes/" but etcd only have "/registry/minions" keys

[2015-02-03 13:15] jasonkuhrt opened #4052 ""readOnly must be true" even if replicas is 1"
I am getting this error:

[code]
[code]

I've never seen this before, and my understanding is that a `persistentDisk` can be read-and-write... that is the default after all.

[2015-02-03 13:22] jdef commented on #2483
@bgrant0607 into the pod "binding", not into the containers. If Binding and BoundPod are going away, then this means storing the binding annotations in the Pod somewhere.

Use case: a scheduler wants to add metadata into the binding that may be used on failover. For example, a recovering/restarted scheduler could query the existing "bindings" (in whatever form k8s decides to store them) and extrac

[2015-02-03 13:59] erictune commented on #3973
We need ability to e2e test things like reboot master VM.  That will be a
per cloudprovider function.  So might as well support a wipeEtcd function
too and use for cleanup at end of test.
 On Jan 30, 2015 7:16 AM, "Zach Loafman" <notifications@github.com> wrote:

[2015-02-03 14:06] erictune commented on #3971
Right.  Node controller is doing it.  Read the aforementioned issue.
On Jan 29, 2015 9:40 PM, "Satnam Singh" <notifications@github.com> wrote:

[2015-02-03 14:59] jasonkuhrt commented on #4052
Oh, Skelterjohn on IRC clarified something for me. The issue is that `RC` is incompatible with `read/write`, it must be `read-only`.

I'm going to verify that this indeed works if written as a `Pod` resource.

Chat transcript below:

[code]

[2015-02-03 15:17] jasonkuhrt commented on #4052
Sure enough, it works as a `Pod` resource.

[code]

We can reorient this issue to be about better error messaging.

Here is an example error message improvement:

[code]

[2015-02-03 15:22] rjnagal opened #4057 "Add StatsCollector to provide stats summary"
Add a new stats collector component that gather summary of node and pods usage from each node. This information can then be used by components like scheduler and autoscaler.

First version will expose node usage summary for cpu and memory. To start with, summary includes stats for average, maximum, and 90 percentile usage in last minute/hour/day. The stats are precomputed in cAdvisor and routed to

[2015-02-03 15:22] v1s0n commented on #3177
I can take a stab at it...but it's not going to happen right away.... to be continued..

[2015-02-03 15:29] rimusz commented on #4050
sorry, false alarm.

[2015-02-03 15:29] #4050 closed

[2015-02-03 17:34] a-robinson commented on #4052
Assigning to Brendan to get the special case of replication controller size=1 working again, since he said he would take care of it in the email thread.

[2015-02-03 17:48] bgrant0607 commented on #2306
@smarterclayton I'm increasingly concerned about the API code complexity. Could you please sketch what API layers/modules we have in the client and server, what they do, and why they exist? I very much want to preserve extensibility and testability, but would like to find a way to reduce the number of levels of indirection, or at least rationalize and streamline the organization.

[2015-02-03 18:21] a-robinson commented on #4047
I'm working on adding an example doc on how to pin pods to nodes in #2406

[2015-02-03 18:31] smarterclayton commented on #2306
Yes agree.

----- Original Message -----

[2015-02-03 18:34] #3941 closed

[2015-02-03 18:48] dchen1107 commented on #3943
I couldn't reproduce above "Accepted failed" issue. But #4026 reduce the verbose log from kube-proxy hugely. Close the issue for now. Separate disk management issues will be filed.

[2015-02-03 18:48] #3943 closed

[2015-02-03 19:02] phemmer commented on #3943
@dchen1107 Is there any info I can provide. It's happening several times a day on my systems.

[2015-02-03 19:14] thockin commented on #3943
Can you reproduce it?  Are you running head of tree or a particular version?

On Tue, Feb 3, 2015 at 11:02 AM, Patrick Hemmer <notifications@github.com>
wrote:

[2015-02-03 19:19] rrati commented on #3837
Here's a proposal for moving the remaining tests into ginkgo test suites:

networking
- TestNetwork
- TestClusterDNS
- TestImportantURLs
- TestKubernetesROService

events
- TestKubeletSendsEvent

pods (add to existing)
- TestLivenessHttp
- TestLivenessExec

replication
- TestBasic
- TestPrivate

Thoughts?
@filbranden @satnam6502 @roberthbailey @zmerlynn

[2015-02-03 19:21] filbranden commented on #3837
Ok with me I guess... I'm not crazy about `replication`, maybe `rc`? Not sure if those tests are the best representation of replication controller tests, on the other hand we can start adding to them later on.

[2015-02-03 19:23] rrati commented on #3837
@filbranden I agree they aren't the best representation of replication controller tests.  They also didn't seem to fit in very well in the other suites I proposed. Is there a better place for them?

[2015-02-03 19:26] filbranden commented on #3837
One small concern (now that I started working again on some pod tests) is that it used to be possible to run a single test using e.g. `-t TestPodHasServiceEnvVars` but now all I have is `-t Pods` which runs all the 3 Pods tests. Pretty soon that will be 5 Pods tests. So it's a bit awkward that I start having to run more than a single test on each execution...

Maybe we can extend `-t` to work with

[2015-02-03 19:27] zmerlynn commented on #3837
Watch "TestNetwork". Right now it's called out specifically by another
script, so it may need it's own suite?

On Tue Feb 03 2015 at 11:23:50 AM rrati <notifications@github.com> wrote:

[2015-02-03 19:28] filbranden commented on #3837
So turns out using `-t "environment variables"` actually works to run what used to be `TestPodHasServiceEnvVars` but that's quite ad-hoc and depends on not introducing other It()s which use similar wording...

[2015-02-03 19:29] brendandburns commented on #3965
Ok, #3967 is merged. @smreed can you try to repro?

Thanks!

[2015-02-03 19:33] rrati commented on #3837
@zmerlynn We should be able to test a single spec in a suite.  If we want to keep that linkage we can leave TestNetwork alone for now ot update the caller to use the necessary identifier to just run the network test.

[2015-02-03 19:33] vishh commented on #4041
The (external) yaml library that we use is the cause for this. I will send a patch to fix the yaml library.

[2015-02-03 19:38] phemmer commented on #3943
I havent gotten around to reproducing it on demand, but I usually don't have to wait long before it starts.
I'm using 0.8.1, the version currently being deployed on GKE.

[2015-02-03 19:40] rrati commented on #3837
@filbranden If we were using the ginkgo command line we might be able to only execute the tests desired with --focus.  It would still rely on the test description though.

We could also use a keyword at the start of the description that is unique.  That feels kinda hackish, takes us back to the function name format, and certainly wouldn't provide english-like output in the test report. :)  Might b

[2015-02-03 19:41] alex-mohr opened #4064 "Cluster creation must be reliable"
Cluster creation -- at least for GCE as a provider -- has a 1-2% failure rate observed by jenkins e2e tests.  We should make it more reliable.

One approach would be to open source the GKE cluster creation code.

[2015-02-03 19:45] satnam6502 commented on #4064
It used to be **much** worse :-)
We've added a lot of code to harden against gcloud errors ('Baclend Error'); code to try to re-run the Docker service; code to more tolerantly check the Kubelet status. We sometimes still timeout a bit too early (e.g. checking Kubelet health) so perhaps we should just increase a timeout and that would maybe buy as 1%. Over the 101 runs I observed there were a coupl

[2015-02-03 19:46] cloudlinux commented on #4047
Some nodes might have specific characteristics and be non-uniform (like nodes with SSD, or GPU nodes). It would be nice to be able to specify that POD needs specific type of node (like SSD/GPU) -> and that is where scheduler would kick in and schedule them for node of specific type.

[2015-02-03 19:53] dchen1107 commented on #3943
I tried it with both 0.9.2 and HEAD, not with 0.8.1

[2015-02-03 19:58] yujuhong commented on #3955
Agreed that clients should not have to perform the conversion. What's the main purpose of client-side validation?

[2015-02-03 20:00] soatman opened #4068 "kubelet unable to get details of a scheduled pod (404) / pod stuck in "unknown" status"
I0203 19:44:40.163598    4252 server.go:315] GET /api/v1beta1/podInfo?podID=aceb844a-abdc-11e4-9a0a-000d3a302484&podNamespace=default: (39us) 404

Using a replicationController to create the pod... the pod is created successfully, but the container is never provisioned.  Kubelet log indicates that the it tries to get information about the pod in question but is unable to.

Version 0.9.3
Azure

[2015-02-03 20:05] dchen1107 commented on #3943
@phemmer, could you restart kube-proxy with -v=5, and try to reproduce the issue? Please share with us the log. We are going to look into that in detail with a reproduced case. Thanks for your help.

[2015-02-03 20:09] smreed commented on #3965
Probably not until tomorrow, but I will ASAP for sure.

On Tue Feb 03 2015 at 11:29:43 AM Brendan Burns <notifications@github.com>
wrote:

[2015-02-03 20:13] phemmer commented on #3943
@dchen1107 here you go:

[code]

[2015-02-03 20:17] a-robinson commented on #4068
Can you paste the logs from the Kubelet here?

[2015-02-03 20:19] #2576 closed

[2015-02-03 20:29] zmerlynn opened #4070 "Failed to read object꞉ open api/examples/pod.json꞉ no such file or directory"
#3942 rebase raced with @filbranden's change and missed a line in commit eb5d3408, leaving that test referencing the old file.

[2015-02-03 20:41] zmerlynn commented on #4070
Closed via #4071.

[2015-02-03 20:41] #4070 closed

[2015-02-03 20:51] davidopp commented on #4057
Sounds great. When Brian described this to me, he said the plan was to publish these as a new API object kind, and then link to the corresponding object from the PodStatus/NodeStatus. This has benefits like allowing us to eventually store the resource updates in a separate etcd instance or whatever. Is this what you're planning to do?

[2015-02-03 20:52] #4040 closed

[2015-02-03 20:53] rjnagal commented on #4057
That is roughly the plan. Although we have not yet settled on actual API object details.

I'll update them here soon.

[2015-02-03 20:54] thockin commented on #3943
This gives me a good clue - digging in now

On Tue, Feb 3, 2015 at 12:13 PM, Patrick Hemmer <notifications@github.com>
wrote:

[2015-02-03 20:56] dchen1107 opened #4073 "Compress duplicate events"
Fork from #3329 ...

When something goes bad, the system generates tons of events which are identical except the timestamps. For example, pulling a non existing image, Kubelet will generate a lot of image_not_existing events and container_is_waiting events until upstream components corrects the image. When such things happen, the entire event mechanism becomes useless. This also causes memory pres

[2015-02-03 21:12] erjohnso commented on #2596
+1

[2015-02-03 21:13] davidopp commented on #3837
Sorry, yeah, I had signed up to work on soak tests, though I'm not sure that's supposed to be my focus anymore. Anyway, for this particular issue I agree @zmerlynn is the right assignee.

[2015-02-03 21:29] dchen1107 commented on #4068
can we have the following outputs:

1) kubectl get minions
2) docker ps -a | grep aceb844a-abdc-11e4-9a0a-000d3a302484

[2015-02-03 21:29] davidopp commented on #2306
Some new people joining the team have also mentioned the API code complexity. When I joined the team a couple of months ago I also found it baffling (and largely still do, even though I wrote a fairly large CL that modified it). At the very least we need to document what we have (both in the code *and* in a separate design doc). It would also be nice if we could simplify it.

[2015-02-03 21:48] thockin commented on #3943
Got it.  Fix is in testing now.

On Tue, Feb 3, 2015 at 12:53 PM, Tim Hockin <thockin@google.com> wrote:

[2015-02-03 21:49] bgrant0607 commented on #2306
What do I include in "API code"?
* pkg/master
* pkg/apiserver
* pkg/api -- except */types.go (though #1451, #1744, and #3914 are relevant)
* pkg/conversion
* pkg/registry
* pkg/runtime
* parts of pkg/util and pkg/types

Really, there are 3 overlapping sets of code:
1. API serving infrastructure: master, apiserver, registry, api
2. API decoding/encoding/conversion: api, conversion, runtime
3. Compo

[2015-02-03 21:53] dchen1107 opened #4075 "kubectl describe nodes <id> should have more information"
'kubectl get nodes' returns a list of nodes with name, label and status. But 'kubectl describe' only returns node name. This is useless, it should have the same information as kubectl get as minimal. Here is the full list of the information I want for a kubectl describe

1) name, label and status
2) node level resource aspects: capacity, usage #2903
3) events related to node
4) # of Pods, or event

[2015-02-03 21:54] vishh commented on #4041
Sent a [PR](https://github.com/ghodss/yaml/pull/3 ) to our yaml dependency.

[2015-02-03 21:57] saad-ali commented on #4073
**Design Proposal for Compressing Events**
 1. At the point where the kubelet code “records/writes” the event (```StartRecording``` in ```pkg/client/record/event.go```):
  * Introduce a hash table to track previously fired events (where key is “event, minus timestamps and count” and value is ”number of times previously seen”).
  * For each new event:
    * If the event matches with a previously fi

[2015-02-03 21:57] dchen1107 commented on #3329
We extracted work items required for v1 release, and filed them separately. Lower the priority of this to P3 to unblock V1.

[2015-02-03 22:00] dchen1107 commented on #4075
cc/ @ddysher @bgrant0607

[2015-02-03 22:06] soatman commented on #4068
On the minion in question docker ps -a returns nothing...

The Kubelet logs just repeat this:
I0203 19:44:40.163598 4252 server.go:315] GET /api/v1beta1/podInfo?podID=aceb844a-abdc-11e4-9a0a-000d3a302484&podNamespace=default: (39us) 404

I'll grab the complete log and attach in a moment.  Note: I did have to manually add 3 minions to my cluster that for whatever reason were not registered properly

[2015-02-03 22:23] satnam6502 opened #4078 "Issues bringing up 200-node GCE cluster"
I attempted to bring up a 200-node GCE cluster which is something that worked fairly reliably for me before (indeed, I've managed to bring up 1,000 node clusters that pass cluster validation before) but now this does not seem to work anymore. After the initial cluster validation failure I waited and re-tried but got no further. The step that fails is the enumeration of the minions (we've previousl

[2015-02-03 22:24] saad-ali opened #4079 "Specify namespace for events stored in etcd"
All kubelet events are currently stored in etcd with the default namespace. Consider changing the namespace for events to something more useful (pod namespace?).

Sample current etcd events:

[code]

[2015-02-03 22:41] thockin commented on #3943
PR is out for review.

[2015-02-03 22:43] a-robinson opened #4082 "Standardize capitalization rules for labels"
What are the intended capitalization rules for labels? I wouldn't be surprised if it's that both the keys and values should be all lower case, but I don't see it defined anywhere, unless it's assumed that the identifiers.md doc about names applies to them as well.

I bring this up because the validation applied to labels on pods seems to be more strict than that applied to labels on nodes. I was a

[2015-02-03 22:44] sym3tri opened #4083 "swagger json is invalid"
does not validate with swagger-tools CLI tool: https://github.com/apigee-127/swagger-tools/blob/master/docs/CLI.md#validate

[2015-02-03 22:51] soatman commented on #4068
./kubectl.sh get -o json minions
Running: ./../cluster/azure/../../platforms/linux/amd64/kubectl get -o json minions
{
    "kind": "List",
    "creationTimestamp": null,
    "resourceVersion": 72,
    "apiVersion": "v1beta1",
    "items": [
        {
            "kind": "Minion",
            "id": "kubernetes-minion-3.slodock.d2.internal.cloudapp.net",
            "uid": "a24a53a9-abc5-11e4-9a0a-0

[2015-02-03 22:51] thockin commented on #4082
Currently all label keys are supposed to be "qualified name" - all
lowercase, etc.  See validation.go.  If that is different on nodes, it is a
bug.

We don't currently validate label keys at all.  That could be debated.

As for error messages in general - huge known issue. :)

On Tue, Feb 3, 2015 at 2:44 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-02-03 22:51] soatman commented on #4068
./kubectl.sh get -o json minions
Running: ./../cluster/azure/../../platforms/linux/amd64/kubectl get -o json minions
{
    "kind": "List",
    "creationTimestamp": null,
    "resourceVersion": 72,
    "apiVersion": "v1beta1",
    "items": [
        {
            "kind": "Minion",
            "id": "kubernetes-minion-3.slodock.d2.internal.cloudapp.net",
            "uid": "a24a53a9-abc5-11e4-9a0a-0

[2015-02-03 22:51] thockin commented on #4078
Is this with etcd 2.0 or the old version?

[2015-02-03 22:53] erictune commented on #2483
Binding is not going away but is currently write only.  Proposal to make
read write could be considered.
On Feb 3, 2015 5:22 AM, "James DeFelice" <notifications@github.com> wrote:

[2015-02-03 22:53] thockin commented on #4079
Good point - they should probably be namespaced as per the related object,
but I STR some places where the related object is bogus...

On Tue, Feb 3, 2015 at 2:24 PM, Saad Ali <notifications@github.com> wrote:

[2015-02-03 22:54] a-robinson commented on #4082
"We don't currently validate label keys at all.  That could be debated."

I'm guessing you mean we don't validate label values at all?

[2015-02-03 22:56] jlowdermilk commented on #3745
Closed by #4034.

[2015-02-03 22:56] #3745 closed

[2015-02-03 22:58] bgrant0607 commented on #1319
cc @dchen1107 @ArtfulCoder

[2015-02-03 22:58] a-robinson commented on #4083
cc @nikhiljindal

[2015-02-03 23:00] thockin commented on #4082
yes, thanks :)

On Tue, Feb 3, 2015 at 2:54 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-02-03 23:01] bgrant0607 commented on #490
@ArtfulCoder

[2015-02-03 23:07] wojtek-t commented on #3003
Do you have any preferences how exactly it should look like?
IIUC, currently there is an entry like that for each node:
{
    "component": "node-0",
    "health": "success",
    "msg": "ok",
    "err": "nil"
}

Should this be extended to contain docker version for a given Kubelet (either as part of msg or as an additional field)? Or do you have anything else on your mind? [I'm happy to work on thi

[2015-02-03 23:08] satnam6502 commented on #4078
[code]

[2015-02-03 23:09] satnam6502 commented on #4078
Creating a 100 node cluster got us a little further but there was an error about the monitoring pods not scheduling. Will check health otherwise.
[code]

[2015-02-03 23:10] satnam6502 commented on #4078
[code]

[2015-02-03 23:10] thockin commented on #4078
That etcd error is really tiresome - can we try to understand what it
really means and what to do when it happens?  Maybe engage the coreos folks
and see - is this something we should retry?  is it fatal?

On Tue, Feb 3, 2015 at 3:08 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-02-03 23:12] satnam6502 commented on #4078
+1. This is at the root of many failures. It is also intermittent: running a command again might succeed (e.g. `get pods`). Next week I am happy to devote some time to this because for me this is intricately tied up with scalability work. Until then, perhaps we should make a wrapper library for etcd which builds in retries and other resilience?

[2015-02-03 23:20] dchen1107 commented on #4078
* rule out etcd issue: etcd_server is running, and records related minions are created properly by using etcdctl
* rule out disk issue too

From kube-apiserver.log, there are tons of 500

[code]

[2015-02-03 23:21] nelcy opened #4086 "Volumes not torn down on pod delete"
Volumes are not getting teared down on pod delete. I see the following error in kubelet log.

Couldn't sync containers: remove /var/lib/kubelet/pods/f936e991-abed-11e4-96a8-00266cf650e0/volumes/kubernetes.io~dw-vol/redisvol2: device or resource busy

We are trying to clean up pod directory before cleaning up volumes. Reversing 'kubelet.cleanOrphanedPods' & 'kubelet.cleanupOrphanedVolumes' in kubel

[2015-02-03 23:21] satnam6502 commented on #4078
Dawn: is this from the 200-node cluster with master `kubernetes-master` or is it from the 100 node cluster with master `k100-master`? Thanks.

[2015-02-03 23:26] nikhiljindal commented on #4083
Thanks for reporting this Ed!

Can you please share the command you executed (specifically the arguments you passed) and the error you got?

[2015-02-03 23:30] dchen1107 commented on #4078
@satnam6502: From 200-node cluster. I haven't looked at 100 one yet.

[2015-02-03 23:31] thockin commented on #4086
What is dw-vol - is it a new kind of plugin?  Can you explain what exactly
is happening?

I think flipping the order is probably correct.

On Tue, Feb 3, 2015 at 3:21 PM, Chakri Nelluri <notifications@github.com>
wrote:

[2015-02-03 23:34] thockin commented on #3955
Client-side validation can be lower-latency.

On Tue, Feb 3, 2015 at 11:58 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-02-03 23:39] smarterclayton commented on #3955
Clients can be about validation, which increases user frustration (go to web UI, set something, go to client, can't set it, hate product forever).  I would argue client validation is always optional and as much as possible comes from source of truth (schema exposed a la swagger, which is a reasonable compromise).

----- Original Message -----

[2015-02-03 23:42] sym3tri commented on #4083
sure, no problem...

I downloaded all the references json files from: http://kubernetes.io/swagger-spec/
Then I ran:
[code]
which produces:
[code]

[2015-02-03 23:46] brendandburns commented on #4086
I saw this as well in our PD testing. I'm also adding in: https://github.com/GoogleCloudPlatform/kubernetes/pull/4076 which makes sure that the containers are down before attempting to unmount.

But yes, your PR sounds reasonable, please send it along (and you'll need to sign our CLA if you haven't already.)

Many thanks!
--brendan

[2015-02-03 23:48] brendandburns commented on #3003
I think that it would be something like:
[code]

But I don't feel too strongly.
(and thanks for taking on the issue!)

--brendan

[2015-02-03 23:48] smarterclayton commented on #3955
"can be very wrong"

----- Original Message -----

[2015-02-03 23:54] davidopp commented on #2306
FWIW I think the badness situation is basically 2 is the worst, then 1, then 3.

[2015-02-03 23:56] smarterclayton commented on #2306
Can you define badness in terms of actionable cleanup for 2?

----- Original Message -----

[2015-02-04 00:04] roberthbailey commented on #3837
I'd group TestClusterDNS & TestKubernetesROService as "service" tests rather than network tests. TestImportantURLs is really a backwards compatibility test rather than a network test.

Have you looked at the remaining shell tests to see where they would fit into this grouping?

[2015-02-04 00:10] dchen1107 opened #4089 "Put kubelet into cgroups"
Forked from #2884...

Running kubelet as a docker container  is much harder than other daemons since it has to run as root for now. But we still need to monitor its resource usage. We should create cgroups at node startup time for kubelet at the same level of /docker, and ask cAdvisor collect stats.

cc/ @vishh

[2015-02-04 00:11] alex-mohr commented on #3950
Repro would presumably happen via script in #3936?

[2015-02-04 00:17] nelcy commented on #4086
Thanks Thockin & Brendan.
I am just trying out the plugin infra. It is actually bind mount in the backend as of now.

[2015-02-04 00:22] jdef commented on #2483
OK, so Binding is staying but BoundPod is going away.

What do you think about storing binding-related annotations in a new field: Pod.Status.Annotations?
* Whenever Pod.Status.Host is cleared, binding annotations are cleared
* When setting Pod.Status.Host="{something}" via assignPod(), binding annotations are copied in from Binding
* When cloning Pod.Status.Host in UpdatePod(), the Pod.Status.Ann

[2015-02-04 00:22] dchen1107 opened #4090 "Node should sync back to master with allocated Pods through file source"
Every node on GCE by default has cAdvisor, fluentd-es running as pod. We are going to put etcd server into a pod soon, and other master components into pods later. Those pods are pre-provisioned, and not through apiserver, and scheduler, I called them "static" pods.

Today, kubelet does generate events related to those static pods, and push them to etcd. But there is no way to query those pods con

[2015-02-04 00:23] thockin commented on #4086
Yeah, the real problem is that we try to tear down the pod but don't rcurse
that into the pod's volumes.  Oops.

On Tue, Feb 3, 2015 at 4:18 PM, Chakri Nelluri <notifications@github.com>
wrote:

[2015-02-04 00:23] rsokolowski commented on #1285
@bgrant0607 , is this still an open issue ? The code that computes PodStatus checks whether Host is empty and returns PodPending in this case without obscure error (https://github.com/GoogleCloudPlatform/kubernetes/blob/2ac6bbb7eba7e69eac71bd9acd192cda97e67641/pkg/master/pod_cache.go#L160)

[2015-02-04 00:24] goltermann commented on #3938
#3733 appears merged.  You'll need to upgrade to a more recent version of kubernetes for your cluster.

[2015-02-04 00:24] #3938 closed

[2015-02-04 00:24] goltermann commented on #3932
Appears fixed.

[2015-02-04 00:24] #3932 closed

[2015-02-04 00:25] bgrant0607 commented on #2306
The actionable cleanup for (1) and (3) are most clear to me.

As discussed in #1451 (1) and #2726 (3), the apiserver should be entirely generic. Status should be pushed into etcd via calls to apiserver by controllers and not computed on the fly by apiserver. Validation and defaulting code should live with the registry objects. The individual registry objects shouldn't have any custom etcd code.

M

[2015-02-04 00:25] thockin commented on #4090
+1

On Tue, Feb 3, 2015 at 4:22 PM, Dawn Chen <notifications@github.com> wrote:

[2015-02-04 00:27] goltermann commented on #3947
Going forward, we will be using cAdvisor for stat collection.  If there are specific stats missing, open bugs on cAdvisor for those.

[2015-02-04 00:27] #3947 closed

[2015-02-04 00:27] satnam6502 commented on #3938
I'm still have problems listing minions. #4078

[2015-02-04 00:27] goltermann commented on #3930
Should be fixed in new version, reopen if you still see this bug.

[2015-02-04 00:27] #3930 closed

[2015-02-04 00:28] goltermann commented on #2294
#3810 is merged.

[2015-02-04 00:28] #2294 closed

[2015-02-04 00:30] roberthbailey opened #4091 "Need e2e test for pod lifecycle"
PostStart and PreStop are currently implemented but don't have any test coverage.

[2015-02-04 00:33] derekwaynecarr commented on #3946
We are working on a solution for this.

Sent from my iPhone

[2015-02-04 00:35] satnam6502 commented on #4078
Again, with a 50-node cluster.
[code]

[2015-02-04 00:39] bgrant0607 commented on #4090
Note that this goes beyond #490. What I want to do is fully represent pods submitted to kubelet so that they can then be managed via apiserver, such as via a daemon/per-node controller or replication controller (for self-hosting master components).

[2015-02-04 00:41] satnam6502 commented on #4078
`kubectl.sh get minions` seems fast (so cache is working). However, the pods don't seem to transition out of the Unknown state: even with a 50 node cluster.

[2015-02-04 00:46] vishh commented on #4090
+1

On Tue, Feb 3, 2015 at 4:40 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-04 00:48] dchen1107 commented on #4078
what is the output of kubectl describe pods <id>? Noticed from the logs pasted above, there is an error related to scheduling:

Monitoring pods failed to be scheduled!

[2015-02-04 00:57] bgrant0607 commented on #1285
Probably not. Thanks.

[2015-02-04 00:57] #1285 closed

[2015-02-04 01:02] dchen1107 commented on #4078
* 50-node cluster doesn't have 500 stacktrace in kube-apiserver.log pasted above.
* checked etcd again, no crash, no disk issue
* Taking pod monitoring-heapster-controller as an example, boundpods record is created properly under /registry/nodes/k50-minion-4/boundpods
* checked kubelet, Pod is running happily

[code]

Please re-run kubectl get pods to see if you still observe above issue?

[2015-02-04 01:03] satnam6502 commented on #4078
For the 50-node cluster:
[code]

[2015-02-04 01:08] smarterclayton commented on #2306
I think we have very clear paths for 1 that can be described today (based on iterative steps Dan and I had been taking).  3. Definitely can be simplified to fit more closely to helpers around gorestful, but that's been mostly small changes made at each point, and as you say it's in the best shape.

For 2, I can describe a fair amount of what is there now in the context of trying to tie external ve

[2015-02-04 01:09] thockin commented on #3943
The fix for the runaway is in.  We still should do better with log management, though.

[2015-02-04 01:10] #4044 closed

[2015-02-04 01:10] smarterclayton commented on #2483
Can we simply namespace the annotations onto the pod?

[2015-02-04 01:11] dchen1107 commented on #4078
From the latest output of kubectl describe, I think 50-nodes cluster should work as intended. Here is the hyperthesis I have: When you run kubectl get pods, nodes' status is just changed to READY, so that scheduler couldn't schedule pods.

[2015-02-04 01:13] bgrant0607 commented on #3955
Agreed that we want the source of truth to come from the server.

[2015-02-04 01:17] bgrant0607 commented on #2483
Note, this is really off topic for this issue. However...

@smarterclayton Not sure what you mean "namespace onto". I would namespace annotations attached via an automation component.

@jdef I'm not opposed to this idea, though I'd probably want to distinguish annotations on the Binding vs. those added to the pod, but do you have a concrete example of the information you'd want to record in pod an

[2015-02-04 01:22] ddysher commented on #4075
Yeah, we definitely need to do this, except some of the information may not be available immediately.  e.g. we don't seem to publish event related to node.

[2015-02-04 01:28] smarterclayton commented on #2483
Binding annotation "foo=bar" -> pod annotation "binding/foo=bar"

[2015-02-04 01:34] satnam6502 commented on #4078
So the pods that were created at first are still Unknown but pods I launched later seem to have gone into the Running state (although the service is not working yet).
[code]

[2015-02-04 01:36] dchen1107 commented on #4075
We do have kubelet birth events from kubelet. NodeController should publish events related to node too.

[2015-02-04 01:42] bgrant0607 commented on #3636
Some kind of [VPN](https://cloud.google.com/compute/docs/vpn) is probably part of the long-term solution.

I'm fine with using /proxy for cluster add-on services in at least the short/medium term. That would also (theoretically) allow us to enforce namespace-level visibility for the add-ons.

Other third-party services need external IPs.

[2015-02-04 01:58] satnam6502 commented on #4078
Looking at a specific instance of `serve_hostname` via the service the right thing seems to be happening:
[code]
Although the services does not seem to be reachable via its external IP.
[code]
Looking into it (default firewall is set up for tcp 9500).

[2015-02-04 01:59] ddysher commented on #3885
The model makes node controller much easier, and that's definitely a good thing.  But from a user's perspective (not from how we design/simplify the system), node failure without Pod restart is really confusing.  We haven't stressed enough about pod controller, even our classic example creates naked pod, as you mentioned in #1603.

Here I'm not saying we should recreate pods, just bring up a poten

[2015-02-04 02:02] nelcy commented on #4086
Thanks Brendan. Signed and sent out the corporate CLA.

[2015-02-04 02:06] jdef commented on #2483
@bgrant0607 I'm thinking about how to implement mesos task reconciliation in the kubernetes-mesos scheduler. If it crashes and then restarts, I want to be able to recover things like taskID, slaveID, offerID, etc. so as to rebuild the internal state of the scheduler. Once state is recovered, I can reconcile the against the tasks that the mesos master knows about.

If I can't use binding annotation

[2015-02-04 02:20] ddysher commented on #4078
Does the Unknown state only for those built-in pods?  If so, it's likely we have a race in cluster bootstrapping between scheduler and node controller, similar to what @dchen1107 suggested.  Looking at scheduler code, seems it doesn't try to reschedule the failed pods.  Can you check controller-manager log and compare the timestamp with scheduler to rule out the possibility (or hopefully found the

[2015-02-04 02:22] ddysher commented on #3938
#4078 is likely a different issue from this one.

[2015-02-04 02:23] satnam6502 commented on #4078
Well those pods are just regular pods that are kicked off by the addons process that @zmerlynn added so there is nothing that special about most of them (unlike the pods launched from manifest files). I'll poke around the logs when I get a moment -- still trying to debug why I can't get the external IP to work. The create services call did crash with an unhelpful error :-)

[2015-02-04 02:23] zmerlynn opened #4094 "Jenkins builds not creating clusters due to incorrect cluster validation"
We've been failing Jenkins builds for a few hours due to #4034. After some debugging by @jlowdermilk, it looks like it's because the `get-password` in `validate-cluster.sh` is just wrong. Fix incoming.

We got here because Jenkins actually starts from a clean state. Anyone actually starting with an old `.kubernetes_auth` file would use the cached version.

[2015-02-04 02:23] zmerlynn commented on #4094
cc @brendanburns

[2015-02-04 02:26] zmerlynn commented on #4078
You can check if there was anything weird about the startup by checking the
/var/log/kube-addons.log on the master.

On Tue, Feb 3, 2015 at 6:23 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-02-04 02:30] satnam6502 opened #4095 "kubectl.sh create service crashes unhelpfully"
[code]

serve-hostnames-service.yaml:
[code]

serve-hostnames-rc.yaml:
[code]

What is running:
[code]

External IP does not work -- perhaps due to the failed create services call?
[code]

Port 9500 is open for TCP on the default network. If you exec into one of the containers and speak to the internal service IP then it works fine.

[2015-02-04 02:33] jlowdermilk commented on #4094
I actually broke this with #4034, but the break was hidden when running locally because of a cached `~/.kubernetes_auth` file. Fix in progress.

[2015-02-04 02:35] satnam6502 commented on #4078
See also #4095

[2015-02-04 02:48] smarterclayton commented on #4073
Does sort order for events change to "last seen"?

[2015-02-04 02:56] saad-ali commented on #4073
Good question. I was planning on leaving it as "Initial Time", but now that I think about it, it would make more sense to sort on "Last Seen Time".

[2015-02-04 02:59] jdef commented on #2483
@smarterclayton the "namespacing" approach would work for me, though it seems like it would be more effort to roll-back a merge of annotation bindings if an error strikes. Also, what if a binding k/v pair is named "alpha/beta=gamma" which would translate to "binding/alpha/beta=gamma" -- is that even allowed?

[2015-02-04 03:01] satnam6502 commented on #4078
I can now contact the service using the external IP and get a valid response. Perhaps this bug needs to be renamed -- but the add ons don't seem to work -- at least Elasticsearch and Kibana are not accessible via their external IPs.

[2015-02-04 03:05] satnam6502 commented on #3938
Agreed.

On Tue, Feb 3, 2015 at 6:23 PM, Deyuan Deng <notifications@github.com>
wrote:

[2015-02-04 03:07] satnam6502 commented on #4078
When I dial up the replicas from 100 to 1,000 I sometimes get this error when I try to list any kind of resources: `501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]`

[2015-02-04 03:18] bgrant0607 commented on #4095
Hmm. That looks like the err result returned by Visit:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/create.go#L78

Maybe an issue with the aggregate error reporting? @thockin

[2015-02-04 03:20] satnam6502 commented on #4095
And it seems to be intermittent. The last three times I ran it I found it worked.

[2015-02-04 03:25] shakefu opened #4096 "Random(ish) 1 second delay requesting HTTP through kube-proxy"
Hi,
We're working on a new production deployment, and when we try requesting pages through kubernetes, we see a (random?) 1-second delay inserted into the responses. 4 responses will be good, and the 6th will respond with exactly one extra second of response time.

Is there some rate limiting or some configuration that might affect this? We're seeing it across multiple applications, AZs, hosts, et

[2015-02-04 03:34] satnam6502 commented on #4096
The read only port of apiserver has always had a throttler of 1 QPS with a burst of 20 and recently this was increased to 10 QPS with a burst of 200 and we started to return 429 TooManyRequests response codes when that was exceeded. The server returns a Retry-After header with a value of 1 second and this is observed and honored by the Go client library. But I suspect you might be running into som

[2015-02-04 03:36] shakefu commented on #4096
Thanks! Please leave this issue open for a bit in case we can narrow it down more. I'll close it in a bit.

[2015-02-04 03:36] bgrant0607 commented on #2483
@jdef Thanks for the use case. Yes, I agree we should support such annotations. Please file a separate issue with the example copy/pasted. As for namespaces, I think we should allow the client to specify the label namespaces. We should strongly encourage such clients to be well behaved. Since this would be a cluster service, it doesn't seem like an unreasonable imposition/assumption.

The hack you

[2015-02-04 03:40] bgrant0607 commented on #2726
@smarterclayton Example of an automation system wanting to add annotations: https://github.com/GoogleCloudPlatform/kubernetes/issues/2483#issuecomment-72777069

[2015-02-04 03:47] bgrant0607 commented on #3885
Yes. we should fix our broken examples.

[2015-02-04 04:03] brendandburns commented on #4094
Thanks to Zack for the debugging, and Jeff for the fix.

Let's update hack/test-e2e.sh to blow away credentials before each run.

Brendan
On Feb 3, 2015 6:34 PM, "Jeff Lowdermilk" <notifications@github.com> wrote:

[2015-02-04 04:07] zmerlynn commented on #4094
Honestly, I just stared at the test runs and annoyed Jeff until he came
over and wondered aloud with me why it was breaking. So I guess it was
delegated debugging.

On Tue, Feb 3, 2015 at 8:04 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-02-04 04:17] brendandburns opened #4098 "kubectl version doesn't print local version before erroring out."
[code]

We should at least print the local client version before we try to create a server client for version checking.

[2015-02-04 04:23] brendandburns commented on #4096
Note that he is talking about the kube-proxy, not the apiserver.

I have also noticed significant long tail latency (see
https://github.com/GoogleCloudPlatform/kubernetes/issues/3734)

but that's at the 99%, not the 20% :P

Is it possible that one of the pods in your service is sick?  The proxy
attempts to connect and then if the connection fails, it will connect to
the next pod in the list, so if

[2015-02-04 04:29] thockin commented on #4096
Did you or someone mess with iptables?  I noticed a 1 second lag when
iptables was set up to LOG some packets...

On Tue, Feb 3, 2015 at 8:24 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-02-04 05:01] shakefu commented on #4096
We're using a Python webserver - but we have several variations of that and they're equally affected. (One is Pylons, the other Bottle.py).

What would be the best way to check if the pod is sick?

[2015-02-04 05:02] zmerlynn opened #4100 "ImportError: No module named "yaml""
@jlowdermilk: This has an obvious fix on Jenkins, but I have mixed feelings ..

[code]

We don't have a clear place to list python deps right now, and it's apparently not a base library (unlike json, which appears in other inlines and is.)

cc @brendanburns

[2015-02-04 05:03] zmerlynn commented on #4100
Regression from #4097

[2015-02-04 05:04] brendandburns commented on #4096
kubectl get pods <pod-name> -o json

Find the PodIP, and try to connect to it directly.

--brendan

On Tue, Feb 3, 2015 at 9:02 PM, Jacob Alheid <notifications@github.com>
wrote:

[2015-02-04 05:04] brendandburns commented on #4096
kubectl get pods -o yaml

should also work for this.

On Tue, Feb 3, 2015 at 9:03 PM, Brendan Burns <bburns@google.com> wrote:

[2015-02-04 05:05] brendandburns commented on #4100
Is that file actually yaml?  or is it json.  because if it's json...

[2015-02-04 05:06] satnam6502 commented on #4096
Or perhpas `cluster/kubectl.sh  describe pods <pod name>`
Or, if you are using GCE, ssh into the node that has the pod and poke around the Docker containers to see what they are doing.

[2015-02-04 05:10] shakefu commented on #4096
To add to the mystery: We have 3 python apps that all experience random delays, different codebases. We have 1 node.js app that doesn't have this issue, works fine.

[2015-02-04 05:14] jlowdermilk commented on #4100
It's yaml, unfortunately. I forgot pyyaml isn't a base library.

[2015-02-04 05:20] zmerlynn commented on #4100
I went ahead and installed python-yaml on Jenkins, but I'm leaving this issue open because it's a sort of odd dep, and I'm not sure if we have a place to list it. (If we had standard packaging files, I'd be asking you to adding it to .debs and .rpms, etc.)

[2015-02-04 05:28] brendandburns commented on #4096
Are they all replicated?

On Tue, Feb 3, 2015 at 9:10 PM, Jacob Alheid <notifications@github.com>
wrote:

[2015-02-04 05:32] roberthbailey commented on #4098
+1. It took me quite a while to figure out that kubectl version -c was the magic incantation to only print the client version.

[2015-02-04 05:38] shakefu commented on #4096
Yeah they are.

Good news! Using ./kubectl get pods, and then hitting the IPs directly allowed us to identify some pods that were not responsive in our Python apps.

[2015-02-04 05:39] zmerlynn commented on #4100
(I think my objection to is partially just that there's nothing really early testing for this .. you're kind of randomly in the middle of `kube-up.sh` and bam, `ImportError`.

[2015-02-04 05:40] brendandburns commented on #4100
Ok, I think the right thing to do here is to add something to kubectl that knows how to parse yaml and dump out the relevant data.

--brendan

[2015-02-04 05:44] brendandburns opened #4101 "Fire events for services with failed connections"
We skip pods when we can't connect to them successfully, we should generate events when this happens.

[2015-02-04 05:45] brendandburns commented on #4096
Cool, https://github.com/GoogleCloudPlatform/kubernetes/pull/4048 adds
readiness checks, that would get rid of the delay in these cases (of course
it would also mask your failing pods...)

We should probably surface better information in the event stream about
these failures.  I've filed
https://github.com/GoogleCloudPlatform/kubernetes/issues/4101 to add these
events.

On Tue, Feb 3, 2015 at 9:39

[2015-02-04 05:51] brendandburns commented on #3359
Fixed by #4074

[2015-02-04 05:51] #3359 closed

[2015-02-04 05:59] zmerlynn commented on #4100
Someone should write an arbitrary yaml to json slinger, then it would be
parseable with base libs. :)

[2015-02-04 06:19] jdef opened #4103 "Binding annotations should be preserved alongside Host assignment"
Recap of related tangent in #2483 follows.

Use case:  I need to implement mesos task reconciliation in the kubernetes-mesos scheduler. If it crashes and then restarts, I want to be able to recover things like taskID, slaveID, offerID, etc. so as to rebuild the internal state of the scheduler. Once state is recovered, I can reconcile the against the tasks that the mesos master knows about.

If I c

[2015-02-04 06:39] brendandburns opened #4104 "goe2e is busted due to auth location change..."
@jlowdermilk

More fall-out from #4034
[code]

[2015-02-04 07:18] shakefu commented on #4096
Thanks for your help! We've managed to get it all working and implemented some rudimentary health checks in the meantime using `./kubectl get pods` and hitting the IPs directly.

[2015-02-04 07:18] #4096 closed

[2015-02-04 07:53] thockin opened #4107 "kubectl expose: help suggests no selector is needed, but error"
F0203 23:52:17.434029   14210 expose.go:80] Parameter: selector is required

[2015-02-04 08:05] thockin opened #4108 "kubectl expose: --container-port=number ==> string?"
./cluster/kubectl.sh expose hostnames --port=80 --container-port=9376 --selector="app=hostnames"

./cluster/kubectl.sh get se hostnames -o yaml
apiVersion: v1beta1
containerPort: "9376"
...

obviously, endpoints controller is not happy.

[2015-02-04 08:10] satnam6502 opened #4109 "Assignment of IPs to 100 nodes took six hours"
I created a replication controller which made 1,000 replicas of a pod containing the kubernetes/serve_hostname:1.1 image and deployed this on a 100 node GCE cluster (n1-highmem-16 for the matser, n1-standard-1 for the nodes, running in asia-east1-b). It took about six hours for internal IPs to be assigned to most of the nodes . Not all pods are in the Running state: some are in the Unknown state,

[2015-02-04 08:17] #4109 closed

[2015-02-04 13:48] rrati commented on #3837
@roberthbailey Would it make sense to put TestImportantURLs into the "service" test suite rather than the network test suite?  It seemed more like a service than network really.

TestNetwork is bit fuzzy too.  I put it in a network suite, but most of it's magic seems to be done in the image that is used.  It'd be great to inspect what that is doing and better document the test.

I haven't looked a

[2015-02-04 14:01] zmerlynn commented on #3837
TestImportantUrls is honestly a basic REST test. I'd just keep it in network, or potentially make it a versioning test of some sort (that we have no other tests for yet).

Some of this seems kind of bikeshed-y right now. I'd honestly feel free to proceed and we'll figure out the rough edges as we go forward. Porting the shell tests will show more. (We've got a lot of wood to chop here, folks.)

[2015-02-04 14:25] zmerlynn opened #4111 "More inocuous? python spew"
This is showing up in the last few Jenkins logs, though it doesn't seem to stop them..

[code]

[2015-02-04 15:06] marvell opened #4112 "Limit logging for kube-proxy"
[code]

[2015-02-04 15:40] peter-braun commented on #3871
I've got the same problem with 0.10.0 (with 0.9.3 it was the same).

    [root@node00 ~]# sc status -l kubelet
    kubelet.service - Kubernetes Kubelet Server
       Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled)
       Active: active (running) since Wed 2015-02-04 15:08:17 CET; 9min ago
         Docs: https://github.com/GoogleCloudPlatform/kubernetes
     Main PID: 5278 (kubele

[2015-02-04 15:55] wshwawa commented on #3871
Just my 2 cents: kubelet should ask api server for updates instead of etcd
since 0.9, but I didn't see that from your command line:
/usr/bin/kubelet --logtostderr=false --log_dir=/var/log/kubernetes --v=0
--etcd_servers=http://node00:4001 --address=0.0.0.0 --port=10250
--hostname_override=node00 --allow_privileged=false

On Wed, Feb 4, 2015 at 11:40 PM, peter-braun <notifications@github.com>
wrote

[2015-02-04 16:18] smarterclayton commented on #2306
Next steps for simplifying RESTStorage, registry, generic registry, and etcd behavior:

* Create and Update are the two *complex* REST behaviors that need to follow strict rules based on our agreed schema
  * UID, creation timestamp need to be filled
  * Name is either provided or Generated
  * Validating a create is not the same as validating an update
  * Some fields are ignored on create (today

[2015-02-04 16:42] jimmidyson opened #4113 "Watching pod events don't ever show pod changing to running state"
When using the `/api/v1beta2/watch/pods` pod events only ever show pod as `Waiting`. e.g.

    curl -k https://localhost:8443/api/v1beta2/watch/pods/60767d85-ac8b-11e4-85fd-54ee7527188d

Returns:

[code]

However if you watch events you see the corresponding events for the boundPod entering the `Running` state:

     curl -k https://localhost:8443/api/v1beta2/watch/events | grep 60f0b4c1-ac8b-11e4

[2015-02-04 16:43] peter-braun commented on #3871
Yep. I'm just trying that. And of course the above errors have gone. However it should work from etcd as well, shouldn't it?

But now I've got another issue.  I've created replication controller (with `kubectl run-container` command). However I have worker nodes in `Ready` state, the pods stay in `Pending` state:

    [root@node00 ~]# kubectl get node
    NAME                LABELS              ST

[2015-02-04 17:14] thockin opened #4114 "kubectl resize: checkErr triggered with empty error"
$ ./cluster/kubectl.sh resize --replicas=1000 rc hostnames
Running: ./cluster/../cluster/gce/../../_output/local/bin/linux/amd64/kubectl resize --replicas=1000 rc hostnames
F0204 09:10:12.115515   27492 resize.go:64]

Yet, if I get that RC, I see 1000 replicas.

[2015-02-04 17:25] bgrant0607 commented on #4114
Actually, I think this is similar to #4095 (create service). I suspect error aggregation.

[2015-02-04 17:31] jlowdermilk commented on #4104
That fixed it. There is currently a failure in `pods.go` but that seems to be unrelated.

[2015-02-04 17:31] #4104 closed

[2015-02-04 17:42] alex-mohr commented on #3636
There seem to be two issues here.  One is that firewall rules and routes are created by kube-up.sh but some think that should be moved into k8s -- I totally agree with that because the current approach isn't amenable to k8s monitoring its dependencies and reporting whether those are healthy, and it doesn't play well with an upgrade story.  Regardless of what we do for logging and monitoring, we'll

[2015-02-04 17:44] bgrant0607 commented on #3676
/cc @jackgr

[2015-02-04 17:50] roberthbailey commented on #3837
I agree that we should proceed and we can reorganize later. Breaking the monolithic shell tests up into smaller independent units written in Go (however those end up being grouped) is a strict improvement over what we have right now.

[2015-02-04 17:59] jlowdermilk commented on #4100
I think the ideal way to do this is to make, `kubectl config view` take a  `--output` flag so it can print the config as yaml|json|template.

[2015-02-04 18:00] dchen1107 commented on #4112
#4080 should fix such issue. Could you please sync to HEAD?

[2015-02-04 18:01] brendandburns commented on #4109
Docker is the thing that actually assigns IP addresses.  So my guess is that this is actually an indication of the kubelet being super-slow to obtain the pods that it is supposed to be running.  We should capture the kubelet logs (and the event log too) and we should also audit the boundPods code to determine if/why it is so slow.

[2015-02-04 18:03] brendandburns commented on #4109
Another thought, the replication controller will happily kick off _lots_ of requests to create pods, if the actual pod create requests run slow.  We should make sure that we only operate on any one replication controller with a single thread.

[2015-02-04 18:10] #2157 closed

[2015-02-04 18:11] bgrant0607 commented on #1487
cc @rsokolowski

[2015-02-04 18:11] bgrant0607 commented on #1603
cc @rsokolowski

[2015-02-04 18:16] bgrant0607 commented on #4075
cc @rsokolowski

[2015-02-04 18:18] zmerlynn commented on #4111
cc @jlowdermilk, but I doubt it

[2015-02-04 18:18] justinsb opened #4118 "enable_cluster_dns test for kubelet service is broken"
https://github.com/GoogleCloudPlatform/kubernetes/blame/master/cluster/saltbase/salt/kubelet/default#L32

That test should be ```{% if pillar.get('enable_cluster_dns', '').lower() == 'true' %}```, like here: https://github.com/GoogleCloudPlatform/kubernetes/blob/55793ac2066745f7243c666316499e1a8cf074f0/cluster/saltbase/salt/kube-addons/init.sls#L12

The boolean vs string situtation here does not f

[2015-02-04 18:20] dchen1107 opened #4119 "Test single minion with many pods."
From another thread proposed by @thockin:

"make a cluster of 1 minion, create
an RC of 50, then ramp that up in increments of 50 until it breaks.
Go figure out why it broke (I already mentioned 2 node-related issues
in the other thread) and repeat until we can get 250 pods on a machine
with none of them randomly crashing or getting killed.

Then focus on making apiserver not suck for listing thos

[2015-02-04 18:30] a-robinson commented on #4082
I should have mentioned in the first place -- I was testing this at 0.9.2 rather than at head because I was having trouble getting a cluster to come up successfully. After looking at the code and retrying at head, I see the inconsistent validation has already been fixed by Clayton's recent validation.go improvements.

I'll send out a quick PR making sure we have test coverage and adding a pointer

[2015-02-04 18:30] #4082 closed

[2015-02-04 18:32] thockin commented on #4118
This pattern also appears in cluster/saltbase/salt/top.sls for monitoring and logging

[2015-02-04 18:39] bgrant0607 opened #4121 "Kubelet should back off restarts of crashlooping containers"
See #941 and #2529 for more background. Right now users have a bad experience if they submit a bad container, such as mistyped image name. Kubelet shouldn't restart it in a tight loop. Instead, it should back off.

[2015-02-04 18:41] jlowdermilk commented on #4094
Cluster validation problem is fixed. The last gce e2e run was green, but there are some remaining items to cleanup that I'm still working on: #4100, #4111

[2015-02-04 18:41] #4094 closed

[2015-02-04 18:43] zmerlynn commented on #4118
Sorry, I meant to file this bug when I did the add-on work. Yeah, this is
all broken because of the use of "quoted true".

On Wed, Feb 4, 2015 at 10:32 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-02-04 18:46] a-robinson commented on #2406
Workflow verified and example added in #4088 - https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/node-selection

[2015-02-04 18:46] #2406 closed

[2015-02-04 18:49] satnam6502 commented on #4078
I am going to close this issue and do more investigation early next week and file more specific issues.

[2015-02-04 18:49] #4078 closed

[2015-02-04 18:49] a-robinson commented on #4047
Check out the new example showing how to do this - https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/node-selection

[2015-02-04 18:50] #4047 closed

[2015-02-04 19:20] cjcullen commented on #4041
If we are only fixing our yaml unmarshalling, we are still losing precision.

E.g.
The yaml that Alex posted above is supposed to be representing 3.75 GiB.
3.75 GiB * 2^30 = 4026531840, which we are representing as 4.0265318e+09.
The amount of memory we are "losing" here is trivial, but if this is actually using scientific notation, we could be rounding up half the time as well (creating a very ve

[2015-02-04 19:28] jlowdermilk commented on #4111
It looks like this has to be caused #4097, but it seems to be innocuous. I also can't get the error to repro, either locally or on the jenkins vm, but this should be resolved by addressing [#4100](https://github.com/GoogleCloudPlatform/kubernetes/issues/4100#issuecomment-72904573)

[2015-02-04 19:40] thockin commented on #4041
Resource quantities must be lossless.

On Wed, Feb 4, 2015 at 11:20 AM, CJ Cullen <notifications@github.com> wrote:

[2015-02-04 20:45] bgrant0607 commented on #4041
+1. These are supposed to be strings, not integers nor floats.

[2015-02-04 20:46] bgrant0607 commented on #4041
What does `-o json` return?

[2015-02-04 20:52] #4108 closed

[2015-02-04 20:53] bgrant0607 commented on #3644
This is basically done.

[2015-02-04 20:59] dchen1107 commented on #4068
Thanks for reporting the issue.

I didn't see kubelet logs here. But from above output, minions are in ready state. Looks like Kubelet never see such BoundPod allocate to it, but apiserver thought it is and query it.

Could you please run:

1) cat docker.log | grep "aceb844a"
2) kubectl describe pods aceb844a-abdc-11e4-9a0a-000d3a302484

[2015-02-04 21:00] thockin opened #4127 "backtrace from kubelet server"
goroutine 191 [running]:
github.com/GoogleCloudPlatform/kubernetes/pkg/httplog.(*respLogger).WriteHeader(0xc20a24d800, 0x1f4)
        /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/pkg/httplog/log.go:182 +0x9a
net/http.Error(0x7f2e36cd0138, 0xc20a24d800, 0xc2092c6450, 0x27, 0x1f4)
        /usr/src/go/src/net/http/server.go:1274

[2015-02-04 21:07] smarterclayton commented on #2596
Fixing this now

[2015-02-04 21:12] a-robinson commented on #4041
[code]

[2015-02-04 21:13] a-robinson commented on #4041
[code]

[2015-02-04 21:19] dchen1107 opened #4128 "Configure master node same as slave node"
This is pre-requirement for running all master components in a pod. #3853 was filed to run etcd as a pod. To make sure we really run etcd as a pod using Kubernete network model without specifying HostPort from spec, we need config the master node:

1) create networking bridge called cbr0
2) config docker run with "--bridge cbr0 --iptables=false"
3) add default route for master node (on GCE). Need

[2015-02-04 21:22] dchen1107 commented on #4128
cc/ @ArtfulCoder @thockin

[2015-02-04 21:23] zmerlynn commented on #4128
Or finally switch to flannel. :)

On Wed Feb 04 2015 at 1:22:43 PM Dawn Chen <notifications@github.com> wrote:

[2015-02-04 21:39] philips commented on #2725
I have enumerated the initial two design considerations for doing this in a Google Doc here:

https://docs.google.com/a/coreos.com/document/d/1NVEIQPU23eRlwXBn62VR3Sl4RthEnZvJUmlnpusDFDQ/edit#

Feel free to discuss on that doc. I am personally leaning towards the initial integration being the kubelet talking systemd to launch rkt processes.

[2015-02-04 21:46] dchen1107 commented on #2657
From @smreed's last comment, looks like kubelet does the right thing here.

[2015-02-04 21:49] smreed commented on #3965
Deployed 0.10.0 and tested this.

kube-down did not blow away any data on the disk, it was present after the new cluster was up and the pods were deployed.

Then, I deleted the pod w/ the PD. I saw this repeated in the kubelet.log:

    E0204 21:34:15.454164    4722 kubelet.go:1359] Couldn't sync containers: remove /var/lib/kubelet/pods/3faea999-acb3-11e4-9b3d-42010af0f1f5/volumes/kubernetes.io~gc

[2015-02-04 21:49] smreed commented on #3965
[code]

[2015-02-04 21:50] dchen1107 commented on #2657
@carlossg @smreed are you guys still observing the same issue with 0.9 release. There are several fixes in to fix boundPod not being updated issue. etcd server crash issue is handled separately.

[2015-02-04 21:54] smarterclayton commented on #2725
I would prefer that approach as well.  Are you thinking transient units or creating actual units?

[2015-02-04 21:55] derekwaynecarr commented on #4109
I would like us to not make scale up of a single replication controller do N concurrent pod requests and instead operate serially.

Sent from my iPhone

[2015-02-04 22:08] dchen1107 commented on #1823
The issue should be fixed a while back:

a) Pod should show up as RUNNING, not TERMINATED anymore
b) Pod in crashing loop should be detected and removed by controller, which was filed as a separate issue. I am closing this one.

[2015-02-04 22:08] #1823 closed

[2015-02-04 22:19] philips commented on #2725
@smarterclayton It will have to create actual units with a naming scheme, I think. A restarted kubelet will need to rebuild the "what is running right now" state somehow.

[2015-02-04 22:27] smarterclayton commented on #2725
We needed something like that anyway, the metadata on the units will let us recreate our state on restart.  It does mean that we would need to push that state function under the DockerInterface (or whatever it becomes now - ContainerInterface).

You *can* traverse the transient units, but for the naive host reboot case I think there's a lot of value in letting systemd own the "what is truth" and t

[2015-02-04 22:28] bgrant0607 commented on #4041
That does look like an API bug. It should be a string, IIUC.

[2015-02-04 22:33] bgrant0607 commented on #4041
Legacy CPU and memory are int and int64, respectively.
Resource.Quantity should always produce strings.

[2015-02-04 22:39] brendandburns commented on #2725
Agree, I'd like to keep as much state as I can outside of the kubelet.

--brendan

On Wed, Feb 4, 2015 at 2:27 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-04 22:42] dchen1107 commented on #3427
Marked as dup of #3433

[2015-02-04 22:42] #3427 closed

[2015-02-04 22:42] smreed commented on #2657
We haven't seen this in a while

On Wed, Feb 4, 2015, 13:51 Dawn Chen <notifications@github.com> wrote:

[2015-02-04 22:43] smreed commented on #2657
Sorry that was vague. We did not see this at all with the 0.9 release.

On Wed, Feb 4, 2015, 14:42 Steve Reed <steven.m.reed@gmail.com> wrote:

[2015-02-04 22:46] dchen1107 commented on #2657
Thanks for updates. I am closing the issue for now, please feel free to reopen it if you observed the same issue again. Thanks!

[2015-02-04 22:46] #2657 closed

[2015-02-04 22:52] smreed commented on #3965
I'm going to try with a different container/pod just to be sure.

[2015-02-04 22:56] brendandburns commented on #3965
There are a couple more PRs in flight that might help fix this:

https://github.com/GoogleCloudPlatform/kubernetes/pull/4093

and

https://github.com/GoogleCloudPlatform/kubernetes/pull/4076

#4093 is merged into head

#4076 is on final approach...

--brendan

On Wed, Feb 4, 2015 at 2:53 PM, Steve Reed <notifications@github.com> wrote:

[2015-02-04 22:59] smreed commented on #3965
Those look nice, I'll push a build from master once #4076 lands in order to test this.

[2015-02-04 23:00] smreed commented on #3965
Nearly forgot, this does not seem dependent on the container I use.

[2015-02-04 23:05] #2596 closed

[2015-02-04 23:23] bgrant0607 commented on #1755
Done

[2015-02-04 23:23] #1755 closed

[2015-02-04 23:24] brendandburns commented on #3912
This is now covered by https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/README.md

[2015-02-04 23:24] #3912 closed

[2015-02-04 23:44] dchen1107 opened #4135 "Kubelet detects and handles OUT-OF-DISK situation"
cc/ @vmarmol @thockin @bgrant0607 @brendandburns

cAdvisor reports node's disk capacity and usage already, but very accurate, but still a good start. Kubelet should use such stats, and

1) Fires OUT-OF-DISK event
2) kubectl describe nodes <id> should have such information (#4075)
3) Rejects incoming requests from master until OUT-OF-DISK situation is resolved. @davidopp Can scheduler handles such

[2015-02-04 23:49] bgrant0607 commented on #4135
The scheduler doesn't handle rejection gracefully, but should. We'll need to find a way to communicate the information. We should ensure the rejected pods don't enter the running phase.

[2015-02-04 23:52] bgrant0607 commented on #1603
@rsokolowski Sorry. See #4133.

[2015-02-05 00:00] bgrant0607 commented on #3996
Leaving this open to write better docs.

[2015-02-05 00:01] jlowdermilk commented on #1603
I think #4133 only partially addresses this. There's a bit more cleanup, e.g. redis-slave controller is still using hostport, the frontend service should use an external load balancer, etc.

[2015-02-05 00:12] vishh commented on #4135
#3888 is related. +1 on firing the event at the least. Out of storage space is hard to detect as of now.

[2015-02-05 00:19] jmreicha opened #4140 "Gracefully fail a rolling update?"
I accidentally created an entry in the new replication controller to pull an image that doesn't exist.

The rolling update is killing the known good containers and stuck trying to pull down the nonexistent image.

Is there a way to gracefully fail a rolling update if an image can't be pulled?

[2015-02-05 00:20] dchen1107 commented on #3888
Close this one as dup of #4135 for 1.0 release. For long term, it is dup of #3518

[2015-02-05 00:20] #3888 closed

[2015-02-05 00:32] cjcullen commented on #4140
@jlowdermilk

[2015-02-05 00:41] jlowdermilk commented on #4140
It is safe to kill the rollingupdate command (running kubectl) at any time. Unfortunately, easy rollback is not yet implemented, but will be soon. In the meantime you can manually revert a partially completed rollingupdate by killing the rollingupdate command and then running
[code]

[2015-02-05 00:41] ddysher commented on #1603
@jlowdermilk Maybe update the title?

[2015-02-05 00:45] jlowdermilk commented on #1603
Didn't mean to load more work on you @ddysher :). Feel free to unassign yourself, I just didn't want this to get closed until the other items mentioned in comments are cleaned up.

[2015-02-05 00:45] jmreicha commented on #4140
@jlowdermilk That's pretty much what I was thinking.  Glad to see that this functionality will be added in soon!

[2015-02-05 00:46] sym3tri opened #4141 "bug: kubelet etcd watch errors"
I spun up a k8s cluster on CoreOS using [https://github.com/pires/kubernetes-vagrant-coreos-cluster](this vagrant setup). I was able to create & list Pods, but the Pod containers would never get launched. The kubelet log showed what looks like an issue with an etcd watcher. Note the 'key modified index' is much lower than the cluster index (cluster: 26286, key: 19255), meaning the watch will never

[2015-02-05 00:47] filbranden commented on #3973
How do I nuke a namespace???

[2015-02-05 00:48] jlowdermilk commented on #4140
Just as an aside, roll forward does work. i.e., you can kill an in-progress rollingupdate then issue the same command and it should pick up where it left off.

[2015-02-05 00:48] jlowdermilk opened #4142 "kubectl help should display command-specific flags separate from global flags"
It's visually daunting to parse the available flags in kubectl usage strings. Example:
[code]
Which flags are actually relevant to my command? The usage string helps a bit, but if I want to know the defaults, I have to squint at the wall of text looking for the flag I care about amidst a host of common flags. We should replace Cobra's default usage text with one that looks like

[code]
Flags speci

[2015-02-05 00:49] satnam6502 opened #4143 "kubectl.sh get minions reports minions from wrong project"
While trying to debug something else, I noticed this very strange behavior for `get minions` which seems to report the minions in a different GCE project (that does indeed have 100 nodes) but in the current project (as defined in `config-default.sh`) we should only see four minions with the prefix `kubernetes`. Why is it listing minions from the `kubernetes-scale` project? Is this a bug?

[code]

[2015-02-05 00:59] jmreicha commented on #4140
@jlowdermilk working so far. It is a little slow but that's okay for me at this point :)

[2015-02-05 01:01] ddysher opened #4144 "Delete guestbook example (php)"
#4133 change guestbook-go to use replication controller for redis master.  I'm too lazy to change guestbook.  Here is what I wanna do instead:

* Delete guestbook
* Change e2e to use guestbook-go
* Create a new folder under examples, possibly `api-resources/`.  It should contains various resources, e.g. pod-restartpolicy.json, node-label.json, service-dnspolicy.json, etc.  This is super user-frien

[2015-02-05 01:02] bgrant0607 commented on #2449
sync=false is gone

[2015-02-05 01:02] #2449 closed

[2015-02-05 01:03] mbforbes commented on #4142
Huge +1 on this; would make kubectl far more user friendly IMHO

[2015-02-05 01:03] bgrant0607 commented on #1625
cc @rsokolowski

[2015-02-05 01:09] bgrant0607 commented on #1523
Dupe of #4090 and #490

[2015-02-05 01:09] #1523 closed

[2015-02-05 01:16] bgrant0607 commented on #1256
Partial dupe of #2316

[2015-02-05 01:16] #1256 closed

[2015-02-05 01:22] bgrant0607 commented on #15
If would be great if someone could test whether this works now.

Remove the options here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/c2fa72d6ba3ea26e3bea9e9ee97234311ae587bb/cluster/saltbase/salt/docker/docker-defaults#L5

cc @rsokolowski

[2015-02-05 01:30] bgrant0607 commented on #3578
Copying @proppy's text from #2840:

- Split between:
  - “cluster setup” (per platform)
  - “quick start” (hello world on a local cluster)
  - “using it” (common tour of kubernetes functionally)
- Make an inventory of existing samples, qualify overlap and deprecate
- Provide individual directory or repo with manifests example for each tutorial
- moving out of date docs between /docs and /contrib

[2015-02-05 01:30] bgrant0607 commented on #2840
Closing as dupe of #3578

[2015-02-05 01:30] #2840 closed

[2015-02-05 01:32] bgrant0607 commented on #2064
I think this is done

[2015-02-05 01:32] #2064 closed

[2015-02-05 01:33] bgrant0607 commented on #1821
Merged.
https://github.com/GoogleCloudPlatform/kubernetes/blob/3f28badae31b935aae72d33d63220923e2cac162/pkg/api/validation/validation.go#L158

[2015-02-05 01:33] #1821 closed

[2015-02-05 01:41] bgrant0607 commented on #4140
We should document this.

[2015-02-05 01:43] bgrant0607 commented on #1603
#1487 covered removing hostport, though I'm fine if we merge that into this issue.

[2015-02-05 01:44] bgrant0607 commented on #1603
Ref #3671 to convert to v1beta3

[2015-02-05 01:44] bgrant0607 commented on #1487
Cupe of #1603

[2015-02-05 01:46] jlowdermilk commented on #4140
@jmreicha, the default rate-limiting on rollingupdate is naive and overcautious. It waits 1min for the new pod to come up before each update round. You can adjust this via the `--update-period` flag. See `kubectl rollingupdate -h` for details (apologies the flag is buried; that's another issue #4142).

[2015-02-05 01:56] pires commented on #3885
I think you should remove the notion of a pod without a replication
controller. It would simplify the possible scenarios.
On Feb 4, 2015 4:47 AM, "Brian Grant" <notifications@github.com> wrote:

[2015-02-05 02:06] jmreicha commented on #4140
@jlowdermilk great thank you!

[2015-02-05 02:14] bgrant0607 commented on #1603
cc @rsokolowski

[2015-02-05 02:46] bgrant0607 commented on #3885
@pires Been there, done that. Pod needs to be an available primitive. One reason is that we plan to support multiple types of controllers.

[2015-02-05 03:05] pmorie commented on #560
@smarterclayton I think a separate block that is designated as being resolved is probably easier to reason about, but that's my own subjective opinion.  @sdminonne, any opinions about that?

[2015-02-05 03:36] jiasir commented on #4019
@a-robinson OK, I will testing it. Thanks!

[2015-02-05 03:49] bgrant0607 commented on #560
FWIW, this should probably be discussed in #386.

As @thockin cautioned and as mentioned in #3949, I wouldn't expose a pod's host.

Note that any property encoded in an env. var. would require a container restart when its value changed.

I'd prefer a separate block, similar to the distinction between labels and annotations.

[2015-02-05 03:51] bgrant0607 commented on #386
Resolving env. var. values is being discussed in #560.

Note: VIPs are typically bound to loopback aliases:
http://stackoverflow.com/questions/13110378/how-does-the-vip-loopback-aliase-work

[2015-02-05 04:01] bgrant0607 commented on #3644
Actually, the objects (type Operations, OperationsList) still exist in the API. We should remove them.

[2015-02-05 04:02] brendandburns commented on #4052
Just a quick update on this, it looks like there may be problems with mounting a PD into multiple containers.  I'm still experimenting.  Will update when there are more details.

Sorry for the delay!
--brendan

[2015-02-05 04:04] bgrant0607 commented on #2602
Closing as dupe of #1362.

[2015-02-05 04:04] #2602 closed

[2015-02-05 04:11] bgrant0607 commented on #2740
Will leave this open as an umbrella issue.

* #3644 is about removing /operations, which is the one object that's inconsistent re. lists.
* #1362 is about implementing field selectors uniformly.
* Field filtering is #1459.
* The non-REST paths are covered by #2057.
* Pagination is #2349.
* Reverse label lookup is #1348.

[2015-02-05 04:13] bgrant0607 commented on #2266
I think this is basically done. More specific issues should be filed for improvements.

[2015-02-05 04:13] #2266 closed

[2015-02-05 04:14] satnam6502 commented on #4143
This is probably my fault but I thought I would file an issue until I get to the bottom of this just in case I am  not going totally mad.

[2015-02-05 04:38] ddysher commented on #2726
Start thinking about node decommission, one use case for annotations might be the grace period for a node to be considered terminated.  We keep an integer annotation in node controller, increase the count in each sync period if node check failed, decrease the count/or reset to 0 when check succeeds.

We can start with an in-memory solution, but eventually it's better to persist it with node status

[2015-02-05 04:53] nikhiljindal commented on #3644
Sent https://github.com/GoogleCloudPlatform/kubernetes/pull/4150 to delete those API objects.

[2015-02-05 04:57] brendandburns commented on #4052
Ok, I think my cluster was just messed up.

I've updated the validation code and the docs in https://github.com/GoogleCloudPlatform/kubernetes/pull/4151

Thanks for the patience.
--brendan

[2015-02-05 05:06] bgrant0607 commented on #4103
There is one situation where we probably want to clear Host, actually: in the case that the pod can't actually be materialized on the selected node for some reason, such as #4135.

[2015-02-05 05:08] bgrant0607 commented on #4144
@brendandburns Are you ok with this?

[2015-02-05 05:17] bwahn commented on #2440
Great news~

[2015-02-05 05:35] jasonkuhrt commented on #4052
@brendanburns Thanks for looking into this so directly. No problem on the wait... cheers.

[2015-02-05 06:26] HackToday commented on #4019
The issue happened that because kubernetes build go process very memory consuming, it happens that kill for out of memory, I suggest you double check if you memory is large enough(for example >=4GB)

I hit that issue when memory = 2.5GB

[2015-02-05 07:22] brendandburns commented on #1315
Closing this as obsolete, since we have migrated to kubectl.

@GovindarajRangan my guess is that you need to set --hostname_override on your kubelets to their IP addresses.  Otherwise they will use the hostname.

If you continue to have problems, please find us on IRC at #google-containers, or open a new issue.

Thanks!
--brendan

[2015-02-05 07:22] #1315 closed

[2015-02-05 07:23] brendandburns commented on #2981
Closing this in favor of #4028 which is more recent.

[2015-02-05 07:23] #2981 closed

[2015-02-05 07:28] thockin commented on #3973
I don't think there's a single way to nuke a namespace, but you can simply
iterate over all members..

On Wed, Feb 4, 2015 at 4:48 PM, Filipe Brandenburger <
notifications@github.com> wrote:

[2015-02-05 07:31] brendandburns commented on #4107
Looking @ the code, this shouldn't be required if you specify a replication controller, it should automagically grab it from there.

I'll add some unit testing...

[2015-02-05 09:38] sdminonne commented on #560
I would prefer to avoid a new block.
I've a few reasons for that:
1) In our use cases we really need labels to be injected in the pod (for example to prefix logs which will be sent to log server pods). We'll use labels to constrain scheduling algorithms and would like to avoid having a block for the scheduler and a block for env var injection.
2) A new block is another group of info in an already

[2015-02-05 10:14] peter-braun opened #4159 "Idle kubelet keeps writing error logs"
I started a new deployment of kubernetes cluster, and I noticed that an idle kubelet, to which no pod has been bound yet, writes the following error log in every second:

    Feb 05 10:27:56 node01 kubelet[3359]: E0205 10:27:56.753081    3359 etcd.go:64] etcd failed to retrieve the value for the key "/registry/nodes/node01/boundpods". Error: 100: Key not found (/registry/nodes/node01) [22]
    Feb

[2015-02-05 13:10] peter-braun opened #4160 "The pod status is not changed for approximately 15 minutes after node crash."
Setup: 3 nodes, 1 replication controller with a pod having 2 replicas.

    # kubectl get node
    NAME                LABELS              STATUS
    node00              <none>              Ready
    node01              <none>              Ready
    node02              <none>              Ready
    node03              <none>              NotReady
    node04              <none>              NotRead

[2015-02-05 13:51] rrati opened #4162 "Create a services test suite"
Create a ginkgo suite to test services.  Initially this could contain the following tests:

TestClusterDNS
TestKubernetesROService

[2015-02-05 14:04] rrati commented on #4162
Part of the ginko-ization of the e2e tests
https://github.com/GoogleCloudPlatform/kubernetes/issues/3837

[2015-02-05 15:06] #2573 closed

[2015-02-05 15:07] #3644 closed

[2015-02-05 15:08] #3829 closed

[2015-02-05 16:11] peter-braun opened #4166 "Pod is not re-scheduled from failed node"
I have 3 identical nodes, 1 replication controller with 2 replicas of a pod. I simulate failure of one of the nodes to where pods have been scheduled by simply unplugging the node. Kubernetes realizes that the node has failed, but the pod gets not re-scheduled to the another available node.

The documentation at http://git.io/buSm says the following:

and

So is that a mistake in the documentation

[2015-02-05 16:19] zmerlynn commented on #2178
Reopening. Along the way in #4145, we're moving the e2e script. But I also noticed this is relying on test assets. If you're trying to ship something to users, `cmd/e2e` isn't something we ship to users.

[2015-02-05 16:24] brendandburns commented on #4166
That's definitely a bug, and something that used to work correctly.  I will
investigate today, and follow up on this bug.

Thanks for the report.

Brendan
On Feb 5, 2015 8:11 AM, "peter-braun" <notifications@github.com> wrote:

[2015-02-05 16:25] filbranden commented on #2178
Running `hack/ginkgo-e2e.sh -t TestNetwork` will work after #4145.

We might end up renaming the test as part of the Ginkgo migration, in which case we can update this issue to indicate the correct invocation.

[2015-02-05 16:27] brendandburns commented on #4160
This is a regression (likely due to some work we did in the pod cache in
the master.)

I will investigate today.

Sorry!
Brendan
On Feb 5, 2015 5:11 AM, "peter-braun" <notifications@github.com> wrote:

[2015-02-05 16:43] smreed commented on #3965
Building `kubelet` off of master as I write this, and I'll copy it out to my minions (currently on 0.10.0) in a bit to test this out again. LMK if you'd rather have me test in a brand new cluster.

[2015-02-05 16:53] rsokolowski commented on #4144
I think that (3) and (4) should be done regardless of (1) and (2). In fact I've already started working on this while working on #1603.

If guestbook gets deleted then I would suggest to rename guestbook-go to just guestbook. The "go" suffix is IMHO redundant and misleading.

[2015-02-05 17:16] bgrant0607 commented on #4144
I think we need at least one PHP example. Do we have another?

I'd like all of the examples to be able to use `kubectl create -f <directory>`, so a subdirectory for the json makes sense to me.

[2015-02-05 17:17] brendandburns commented on #3965
sgtm, let me know how it goes.

our e2e has been much cleaner with these two changes submitted...

i'm likely to cut them into a 0.10.1 today, esp. if we get confirmation
from you that it fixes your problems.

thanks
--brendan

On Thu, Feb 5, 2015 at 8:44 AM, Steve Reed <notifications@github.com> wrote:

[2015-02-05 17:21] bgrant0607 commented on #4166
Actually, it's really a missing feature -- #1366. I believe the last of the mechanisms we needed were added ~last week. @ddysher said he would start on it.

[2015-02-05 17:22] bgrant0607 commented on #4166
@ddysher Is there a rudimentary solution that we could get in quickly, and then improve next week?

[2015-02-05 17:25] bgrant0607 commented on #1366
Proposal: Record time of last probe and time of last good probe for each node in node Status. When the delta becomes greater than some value (say, 10 minutes -- could be a flag), delete the pods. When syncing with the cloud provider, if the node disappears, it should delete the pods immediately (assuming we can tell the difference between object doesn't exist and other API failures).

[2015-02-05 17:38] brendandburns commented on #4166
Just sent a simple PR with the fix.

[2015-02-05 17:39] brendandburns commented on #4166
Note that this issue is about a replication-controller set of pods.  This isn't #1366 which is a broader "fix pods on failed nodes in general" issue.

[2015-02-05 17:51] wojtek-t commented on #2862
It seems that it's not an issue with kubectl itself, right?

[2015-02-05 17:53] smreed commented on #3965
Success! Just deleted a pod, the disk was properly detached and unmounted. Re-created the pod and it ended up on a different minion, disk was attached correctly with all data intact.

@brendandburns

[2015-02-05 17:58] mike-schiller opened #4170 "kube-apiserver does not start using aws/cloudformation-template.json"
The issue is a missing = in the arguments for starting kube-apiserver.

Fix at: https://github.com/mike-schiller/kubernetes/compare/aws_cf_user_data_fix

in branch: https://github.com/mike-schiller/kubernetes/tree/aws_cf_user_data_fix

[2015-02-05 18:06] brendandburns commented on #3003
fixed by #4117

[2015-02-05 18:11] #3003 closed

[2015-02-05 18:17] brendandburns commented on #3965
Awesome, great to hear (and sorry for the problems)

I will cut this into a 0.10.1 (along with
https://github.com/GoogleCloudPlatform/kubernetes/pull/4169 when it is
merged)

--brendan

On Thu, Feb 5, 2015 at 9:53 AM, Steve Reed <notifications@github.com> wrote:

[2015-02-05 18:22] brendandburns commented on #4144
Please don't delete the php example.  PHP developers >>> Go developers.

On Thu, Feb 5, 2015 at 9:16 AM, Brian Grant <notifications@github.com>
wrote:

[2015-02-05 18:35] wojtek-t commented on #3300
I took a quick look into it. For me the problem seems to be this line:
detect-master &> /dev/null
Changing this to
detect-master > /dev/null
(which btw is the line in kubecfg) makes it fail with some error.

I will make a PR for it.

[2015-02-05 18:42] bgrant0607 commented on #4166
Ah, a cache bug. Will take a look.

[2015-02-05 18:50] bgrant0607 commented on #3300
Be careful that this doesn't break any of our many scripts that use kubectl.sh (e2e, turn-up scripts, etc.).

[2015-02-05 19:05] wojtek-t commented on #3300
Sure - I hope I checked everything (all the tests are passing).

[2015-02-05 19:13] philips commented on #2725
@smarterclayton Do you know off the top of your head if systemd lets you get the `[X-Foobar]` sections out via dbus? We could serialize any state to `[X-Kubelet]`.

[2015-02-05 19:17] bgrant0607 opened #4176 "Eliminate service env. vars. from BoundPods"
Service env. vars. are generated by Kubelet:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/envvars/envvars.go
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L775

They shouldn't be added to BoundPods:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/pod/bound_pod_factory.go#L71

This is causing our BoundPod

[2015-02-05 19:20] pmorie commented on #4176
@bgrant0607 For context, the reason we left the injection in the `BoundPodFactory` was that when the service env var injection was moved into the kubelet, not all cloud providers configured the kubelet with coordinates for the master.

[2015-02-05 19:21] zmerlynn opened #4177 "hack/e2e.go -test not giving accurate exit status"
Hacking this away from Jenkins for now, since Jenkins can just infer from test failures. :(

[2015-02-05 19:23] zmerlynn commented on #4177
To be clear, this is some other fall-out of #4145, but I'm putting in a hacky fix for now.

[2015-02-05 19:37] #4170 closed

[2015-02-05 19:47] cjcullen commented on #4162
@zmerlynn

[2015-02-05 19:49] rrati opened #4179 "Create a networking test suite"
Create a ginkgo networking test suite and add the following tests to it:

TestNetwork
TestImportantURLs

[2015-02-05 19:50] rrati commented on #4179
Part of the ginkgo-ization of the e2e tests
https://github.com/GoogleCloudPlatform/kubernetes/issues/3837

[2015-02-05 19:52] bgrant0607 commented on #2726
The "pod cache" is such a nightmare:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/pod_cache.go

See #4169, #4160, #4166, #1366, and others.

[2015-02-05 19:55] mingfang commented on #3871
I'm seeing this problem in 0.10.0 also

[2015-02-05 20:01] heytrav opened #4180 "Unable to automatically login to a private docker registry"
Docker seems unable to automatically login to a private docker registry when re-starting a vagrant-coreos cluster.

When I re-start my vagrant-coreos cluster that I built the previous day, all of the pods hang in `Pending`. Looking at the `journalctl -f` output, I see lots of

    Feb 05 19:41:49 node-01 docker[578]: time="2015-02-05T19:41:49Z" level="info" msg="+job pull(docker.domarino.com/rabbi

[2015-02-05 20:04] dchen1107 commented on #4176
@pmorie, can you elaborate more detail here? Which cloud providers? What is the workflow here then?

[2015-02-05 20:05] bgrant0607 commented on #4176
Thanks @pmorie. Will comment on #3566.

[2015-02-05 20:06] bgrant0607 commented on #3566
We need to set a deadline, then just break any not converted. This is causing real problems (see #4176).

[2015-02-05 20:07] zmerlynn commented on #4162
Fixed by #4163.

[2015-02-05 20:07] #4162 closed

[2015-02-05 20:09] bgrant0607 opened #4182 "Merge support matrix and maintainers list"
Lots of overlap:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/README.md
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/MAINTAINERS.md
cc @erictune

[2015-02-05 20:12] yujuhong commented on #3950
I haven't been able to reproduce this issue, so I'd like to get some dumb questions out first :)

Here is what I did:
- Create a cluster with one node.
`gcloud preview container clusters create onenode --num-nodes 1 --machine-type n1-standard-1`
- Launch 3 processes running the script from #3936

So far I haven't seen any dangling pods, but most of the pause-pods are stuck at pending state and onl

[2015-02-05 20:20] bgrant0607 commented on #2862
Correct.

#4014 is the same issue.

[2015-02-05 20:29] smarterclayton commented on #2725
It doesn't, I asked Lennart to put it on his list a while back but haven't checked recently.  He was open to adding it - agreed that it provided value.

----- Original Message -----

[2015-02-05 21:00] zmerlynn commented on #3696
liveness.sh is still in tree. Are we happy with the Go test?

[2015-02-05 21:02] zmerlynn opened #4183 "Rewrite pd.sh end-to-end in Go"
Part of umbrella issue #3130. cc @satnam6502 @filbranden

And @brendanburns.

Also, good luck to whoever attempts this one.

[2015-02-05 21:03] filbranden commented on #3696
I am :-)

As another added bonus, the Go test is using namespaces now so it's really unlikely to run into conflicts even for labels etc.

Any objections to removing the shell liveness.sh test?

[2015-02-05 21:04] zmerlynn opened #4184 "Rewrite services.sh end-to-end in Go"
Part of umbrella issue #3130. cc @satnam6502 @filbranden

And @thockin

Also, definitely good luck to whoever attempts this one.

[2015-02-05 21:05] rsokolowski commented on #4144
What's the consensus on the issue ? If we want to keep the guestbook example then I can make the changes to use replication controller as I've already planned.

[2015-02-05 21:06] zmerlynn commented on #3696
Nope. I'm sitting here itemizing the shell tests and comparing to remaining
#3130 subitems to make sure we have them all.

On Thu, Feb 5, 2015 at 1:03 PM, Filipe Brandenburger <
notifications@github.com> wrote:

[2015-02-05 21:08] zmerlynn opened #4185 "Rewrite certs.sh end-to-end test in Go"
Part of umbrella issue #3130. cc @satnam6502 @filbranden

But this is my favorite shell test; it's so fast!

[2015-02-05 21:14] zmerlynn opened #4186 "Rewrite monitoring.sh end-to-end test in Go"
Part of umbrella issue #3130. cc @satnam6502 @filbranden

And cc @vishh

[2015-02-05 21:16] filbranden commented on #4186
I was planning to tackle this one and in the process try to find a good Go replacement for calling external `gcloud` as part of the tests...

Will assign it to myself and see if I can get close to a proof of concept by end of this week or beginning of the next...

[2015-02-05 21:18] zmerlynn commented on #3130
I believe all of the individual tests have workitem bugs, and we've got Gingko in the tree running the shell tests. What are the last nails in the coffin here? There's no real work item bug around the removal/cleanup of `hack/e2e.go`, though I think @filbranden is working on it with extreme prejudice anyways.

[2015-02-05 21:20] vishh commented on #4186
I have some pieces of monitoring.sh written in go as part of an integration
test I had developed for heapster. The code is in the heapster repo [here](
https://github.com/GoogleCloudPlatform/heapster/blob/master/integration/kube_test.go
).

Filipe I am happy to collaborate with you if that would help!

On Thu, Feb 5, 2015 at 1:17 PM, Filipe Brandenburger <
notifications@github.com> wrote:

[2015-02-05 21:21] zmerlynn commented on #4186
I think one option for this test is actually to just `ENABLE_CLUSTER_MONITORING=true` the e2e cluster and then use the default pods. Then it becomes somewhat similar to TestClusterDns in that it's testing the system pod setup, too.

[2015-02-05 21:22] vishh commented on #4186
+1 to that approach. That will test the cluster initialization logic as
well.

On Thu, Feb 5, 2015 at 1:21 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-02-05 21:33] a-robinson commented on #1625
I assume our goal is to add an HTTP endpoint to these jobs so that it's easy for third parties to do what they will with the metrics, right? That's a much more extensible approach than having to add new plugins or libraries to kubernetes to support exporting to different metric aggregators.

Assuming that's the case, has anyone looked much into or worked with any of the existing libraries we could

[2015-02-05 21:36] thockin commented on #1625
AFAIK nobody has looked at anything here.  I want to see things like, for
example, a histogram of query response time or a timer stack for scheduling
or a count of bindings processed...

On Thu, Feb 5, 2015 at 1:34 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-02-05 21:41] xiang90 commented on #1625
@ddysher expvar does not use a fixed url.

@thockin @a-robinson For publishing metrics over HTTP, etcd uses https://github.com/codahale/metrics. We have looked at other options too. But they are not suitable for a simple HTTP metrics endpoint.

[2015-02-05 21:45] thockin commented on #1625
I don't have a preference up front, I just want something a)
human-friendly, b) machine parseable, c) unambiguous, d) reasonably
self-describing

On Thu, Feb 5, 2015 at 1:42 PM, Xiang Li <notifications@github.com> wrote:

[2015-02-05 21:46] smarterclayton commented on #170
Regarding 'clone' and https://github.com/GoogleCloudPlatform/kubernetes/issues/170#issuecomment-69817935, if we still wanted to have access control limitations on who can create from a pod templates that would be more difficult (the pod would have to have that field, as opposed to a separate pod template object).  I assume the security consideration is still important, although we have not talked

[2015-02-05 21:51] alex-mohr commented on #3950
Thanks for taking a look!

Your cluster create looks the same.

The script from #3936 uses a fixed --port=3009, so running 3 unchanged copies will result in 3 pods all competing for that port on the host, resulting in at most 1 being scheduled at a time with the others pending.  You'd need to use different ports for each.

[2015-02-05 21:54] #3884 closed

[2015-02-05 22:01] bgrant0607 opened #4187 "Review API for application of best practices"
This overview of best practices looks particularly helpful:
http://www.slideshare.net/mario_cardinal/best-practices-for-designing-pragmatic-restful-api

Mostly recording this for future reference. We follow many of the practices, or have issues filed, or have decided to do something else, but there are a few things in there we haven't covered yet.

cc @nikhiljindal

[2015-02-05 22:09] a-robinson commented on #1625
@xiang90, you do? All I see in etcd's repo is [this custom wrapper](https://github.com/coreos/etcd/blob/894f1aadce41591f7aa77f16f0057f9cc655bfa5/pkg/metrics/metrics.go) around expvar. Maybe it was inspired by codahale's library (minus the histogram stuff), but it doesn't look like you're using codahale's stuff directly.

[2015-02-05 22:11] thockin opened #4188 "API status for pods is flaky"
I have a cluster with ~130 pods.  Running back-to-back 'get pods' shows me wildly different understandings of their state, even though I can tell from docker that they have not crashed or anything.

thockin@freakshow kubernetes master /$ ./cluster/kubectl.sh get pods -l app=hostnames | awk '{print $(NF)}' | sort | uniq -c
Running: ./cluster/../cluster/gce/../../_output/dockerized/bin/linux/amd64/k

[2015-02-05 22:11] bgrant0607 commented on #2726
I'd like to convert this from a design issue to an implementation issue.

Strawman proposal:

Like Binding and the proposed Stop #1535, Resize #1629, and Clone, I propose a Custom Verb, aka Synthetic Control Object, tentatively called UpdateStatus, though it would also allow setting annotations and possibly labels, too, as was requested for Binding (#4103). kubectl would get a new updatestatus com

[2015-02-05 22:12] davidopp commented on #4135
I assume what we want for the scheduler part is for Kubelet to report an "out of disk" NodeCondition in the NodeStatus, and the scheduler to use that as a signal to not schedule onto the machine?

(Longer-term do we plan to have Kubelet automatically kill a container when the machine runs out of disk space? That seems like a better solution because probably once the machine runs out of disk, all t

[2015-02-05 22:14] bgrant0607 commented on #4188
cc @davidopp @dchen1107

I blame the pod cache.

[2015-02-05 22:25] bgrant0607 commented on #2726
While we're at it, I propose changing Binding to use the same path format, whatever it is.

[2015-02-05 22:28] smarterclayton commented on #2726
The alternate path proposal would be `PUT /objectstatus/pods/foopod` - it means we potentially constrain the space of future resources so that no one can ever have a 'objectstatus' resource, so I don't think it's as good.

"updatestatus" is a bit of an RPCism - the restful-approach might be `PUT /pods/foopod/!/status`.  Do we need the `/!/` in the middle?  I don't think we reserve anything below `

[2015-02-05 22:29] brendandburns opened #4189 "Data Race in registrytest.Controller"
[code]

[2015-02-05 22:34] smarterclayton commented on #2726
Suggestions for proposed verbs:

[code]

[2015-02-05 22:34] bgrant0607 commented on #4144
Keeping it. Yes, please make the changes.

[2015-02-05 22:34] #4144 closed

[2015-02-05 22:37] pmorie commented on #4176
@dchen1107 I will see if I can dig up stuff from my notes.

[2015-02-05 22:39] xiang90 commented on #1625
@a-robinson https://github.com/coreos/etcd/blob/210/rafthttp/entry_reader.go#L69.

Actually, we first go with go-metrics and found it is over-kill for a http endpoint.
Then we try to wrap expvar to go the standard way without introducing dependency.
Later we want to support histogram and clean up our wrapper. And then we realized that what we came up with is almost the same with coda's implementat

[2015-02-05 22:42] brendandburns opened #4192 "TimeCache appears to lock up occasionally"
We've seen this a couple times in testing.  In general the inflight locking and tracking seems a little sketch.  We should refactor to use a sharded lock.
[code]

[2015-02-05 22:56] a-robinson commented on #1625
Ah, I'm sorry. Github hadn't indexed your change yet, so my searches for codahale and for metrics didn't turn that up.

Other than its support for distributions, the codahale library looks worse than directly using expvar. It uses global mutexes for all updates on counters, gauges, and histograms (one mutex for each category), and it doesn't seem to make the interfaces any nicer than expvar's.

I'

[2015-02-05 22:59] bgrant0607 commented on #4041
This can't possibly work. IntOrString is a 32-bit signed int. This value doesn't fit in 32 bits.

[2015-02-05 23:00] bgrant0607 commented on #4041
#2264

[2015-02-05 23:06] xiang90 commented on #1625
sure. we are not worry about stats the perf at this moment  (since it is low frequency and low contention).
we need the wrapper mainly because we want to remove a metrics, support duplicate metrics. the expvar simply panics in that case. Other than that expvar is good enough.

[2015-02-05 23:12] wojtek-t commented on #3300
This PR seems to fix the problem - it's no longer silently failing.

[2015-02-05 23:12] #3300 closed

[2015-02-05 23:12] alex-mohr commented on #3950
FWIW, I updated my script for more parallelization: http://pastebin.com/7ZBcXX83
It picks random ports and launches N=20 pause pods at a time.

I setup a fresh cluster from 0.10.0 with 3 nodes and re-ran that pastebin script.  After 15 iterations, it got stuck because there was an error creating 1 pod:
ERROR: F0205 13:55:36.913799    7921 create.go:78] 501: All the given peers are not reachable (T

[2015-02-05 23:15] yujuhong commented on #3950
Oops, yes, you were right about the port number.

I modified the script and used 5 processes with 30 iteration each. I've still not encountered the dangling pod problem, even though there seem to be some other issues.

- Deleting a pod sometimes fails. Not sure if it's user's responsibility to retry, but it could be.
- After running for a while, scheduling (or status update) became extremely slow.

[2015-02-05 23:17] yujuhong commented on #3950
I missed your new comment before posting mine. I will try the new script and report back. Thanks!

[2015-02-05 23:20] alex-mohr commented on #3950
@yujuhong 2 processes this time and it took a couple of minutes.

[2015-02-05 23:34] derekwaynecarr commented on #2726
+1 to subpath and not using verb in path

Sent from my iPhone

[2015-02-05 23:51] alex-mohr commented on #4188
@brendandburns has recently changed pod cache?

FWIW, I also observed this behavior: 19 pods Running in one call and all Unknown in the next.

[2015-02-05 23:59] alex-mohr opened #4196 "get pods blocks 7-10 seconds if pods are being created at the same time"
If I fire off 20 create pod requests (in the background), then issue a get pods request, the api server becomes unresponsive for 7-10 seconds.

% time kubectl --server=https://130.211.162.155 --auth-path=/usr/local/google/home/mohr/.config/gcloud-dogfood/kubernetes/mohr-instance-manager.us-central1-f.prod10d/kubernetes_auth --insecure-skip-tls-verify=true get pods
^[[A
POD                  IP

[2015-02-06 00:13] thockin commented on #4135
I think yes, but we're entering new territory - the node being able to
"die" without actually dying.

On Thu, Feb 5, 2015 at 2:13 PM, David Oppenheimer <notifications@github.com>
wrote:

[2015-02-06 00:28] #4118 closed

[2015-02-06 00:31] dchen1107 commented on #4135
@davidopp Yes, for 1.0 release, we should report "out of disk" NodeCondition, and hope scheduler can pick up such information.

@thockin Yes, we are getting into reportable_free vs real_free too.

[2015-02-06 00:35] dchen1107 commented on #4188
Yes, I think @brendandburns's PR on pod cache #4169 should fix the problem reported here. Also it should fix the issue reported by @satnam6502 about adds-on services. I have a pending PR #4194 to have kubelet deciding on PodStatus too.

[2015-02-06 00:41] yujuhong commented on #4188
Could this have caused #3950?

[2015-02-06 00:50] yujuhong commented on #3950
FYI, I was able to reproduce the issue after a longer run. I will start digging around and see what the root cause is.

[2015-02-06 00:52] davidopp commented on #4135
@dchen1107  can you ping this issue when you have surfaced out-of-disk in Kuebelet /healthz? If you think it may take a while, then we can start working on the scheduler part in parallel, but if you think it will not take long (like maybe a week) then it's probably easier for us to wait on the node controller/scheduler part until it's exposed in /healthz.

(Please correct me if I'm misunderstandin

[2015-02-06 00:52] thockin commented on #560
I have a slight preference for a new block, but the /etc/labels file or
something like it sounds OK too.  The nice thing about a new block is that
we can extend it to define new things like "also expose labels as a file at
this path".  Extending Env is more restircted.

On Thu, Feb 5, 2015 at 1:39 AM, Salvatore Dario Minonne <
notifications@github.com> wrote:

[2015-02-06 00:54] bgrant0607 commented on #4188
@yujuhong I don't see how. I'll comment on that issue.

[2015-02-06 00:56] bgrant0607 commented on #3950
This is a long-standing problem. See, for instance, #1892.

[2015-02-06 01:00] dchen1107 commented on #4188
@yujuhong, I don't think this could be the cause of that one.

[2015-02-06 01:06] alex-mohr commented on #4188
I don't think @brendandburns's PR on pod cache #4169 will fix this.  That one clears the *node* status.  This issue is with *pod* going from Running to Unknown even when nodes keep running just fine.

[2015-02-06 01:16] smarterclayton commented on #560
Good point - it would be nice to make that flexible.  We could also introduce a volume type that can pull labels or volumes.  I guess the question is - what is the boundary for volume types?  File generation?  File generation from a template?  Retrieving keys from etcd and then transforming them?  Or is that a job for sidecar containers or pre start lifecycle hooks?

[2015-02-06 01:24] proppy commented on #1503
4. allow the pod create API call to take an arbitrary data payload?
(I could see that being useful for `docker run` too, I wonder if that open the door to all sort of crazy issues and abuses).

[2015-02-06 01:29] dchen1107 commented on #3433
One more PR required to close this one.

[2015-02-06 01:30] proppy opened #4201 "add srcPath argument to volumeMount"
It would be nice if `volumeMount` had a `srcPath` attribute, that would allow to mount a subdirectory of the given volume instead of the root.

This could be useful when different subdirectory of the same volume need to be shared between multiple containers of the same pod or mounted in different place in the same container.

Example:
[code]

[2015-02-06 01:32] bgrant0607 opened #4202 "Create an example that uses termination message"
Kubelet sets up a path for containers to use to dump termination information, which it then collects.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta1/types.go#L289

We should create an example that demonstrates this feature, since we've found something like this to be super-useful in the past.

cc @dchen1107

[2015-02-06 01:36] thockin commented on #560
Right now volumes are run-once.  If you need something active, as in a git
syncer, it's not a volume.  we might want to extend the volume abstraction,
but later.

On Thu, Feb 5, 2015 at 5:16 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-06 02:24] bgrant0607 commented on #2726
I see the point about avoiding RPCisms, but stop, resize, and clone are also verbs. We could nounify them: stopper, resizer, cloner?

The reason for `!` is to facilitate querying for what subpaths exist, in the REST collection/instance style. We could use a plural noun, but I'm not sure what it would be if we don't want to consider these to be verbs. Previously I've proposed `ops` and `methods`. M

[2015-02-06 02:31] bgrant0607 commented on #2726
Or `views`.

[2015-02-06 03:00] derekwaynecarr commented on #3973
Once #3613 lands, I would like to do a follow-on PR to nuke a namespace in the next 2-3 weeks ;-)

[2015-02-06 03:03] derekwaynecarr commented on #2064
It's done in v1beta3

----- Original Message -----
From: "Brian Grant" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Sent: Wednesday, February 4, 2015 8:32:50 PM
Subject: Re: [kubernetes] Convert namespace from query parameter to item in rest path. (#2064)

I think this is done

---
Reply to this email directly or view it on GitHub:
https://github.

[2015-02-06 03:05] bgrant0607 commented on #170
Do we plan to put the access control rules in the objects themselves? I would have thought that would be separate ABAC rules.

[2015-02-06 03:18] smarterclayton commented on #170
It was in the original proposal, however I think our discussions have lead us away from it.  It does encourage us to model pod creation via template in a way that can be distinguished clearly from POST /pods.

[2015-02-06 03:31] smarterclayton commented on #2726
Ah - it's not something I've seen commonly (or effectively) done in the past, so was not at the top of my mind.  Most times people solve it with url templates on the root resource (you can perform the X action on the Y resource by templating this url form).  It's not a bad pattern, although not in common use so might confuse some folks.

status and bindings are definitely a resource if we want to