[2019-02-08 11:03] #68179 closed

[2019-02-08 11:03] #68501 closed

[2019-02-08 11:10] m1schka commented on #66421
same with k8s 1.11.7 on AWS with EBS root volume

[2019-02-08 11:22] blepoutr commented on #64743
We are having the same issue with the following conf:
CentOS Linux release 7.6.1810 (Core)
Kernel 4.20.0-1.el7.elrepo.x86_64
weave-kube:2.5.1
K8S 1.10.11

After a Downgrade to kernel 4.19.x-1.el7.elrepo.x86_64 , the problem disappears

[2019-02-08 11:29] hoegaarden commented on #71677
I think we don't need much bash for creating a package with either `fpm` nor `nfpm`. I think we might need some tooling to build all the packages for all the platforms. That thing could be bash, but could also be golang.

I think we could go with e.g. the `nfpm` ("`nfpm`" and "`nfpm` config" here are just an examples, If you find other/better/nicer tools then `nfpm`, `fpm` also cool!) config file

[2019-02-08 11:53] DanyC97 commented on #40968
coming from openshift world i am surprised that yet there is no progress on the suggestion made by @smarterclayton . Okay i get we have other tools or new kubectl plugins however it can't beat having s'thing inside the cli ...

[2019-02-08 12:01] bart0sh commented on #71677
@hoegaarden thanks for the explanations. sounds good to me.

BTW, How are we going to deal with build/debs and build/rpms content? Are we going to remove that in future or maintain nfpm configs in parallel?

Frankly, I'm not sure I fully understand the idea behind this issue. So far I only understood that we need to implement package building out of the source tree. However, the "big picture" (baz

[2019-02-08 12:01] bgokden commented on #65706
I am getting this problem as well. I was testing an install script and it happened on a GCP cluster after installing and uninstalling many times.

[2019-02-08 12:16] hoegaarden commented on #71677
@bart0sh My thinking is to remove all other package building mechanism. Not right away, but on the long run. When the new package building thing is finished and works (whatever that means) I think we want to deprecate all the other options and eventually remove them.

I tried to express that [in the KEP](https://github.com/kubernetes/enhancements/pull/707) but please note that the KEP is not merge

[2019-02-08 12:19] Semoar commented on #73628
Well, of course the implementation is the same as the observed behaviour, since this is where the behaviour comes from... :-)

My point is, that it is very counter-intuitive and seems to me like its an edge case which hasn't been thought of. It should be either changed or documented better. My (and I think most peoples) intuition is a quota on NodePorts shouldn't influence ClusterIPs. The docs als

[2019-02-08 12:37] atulabhi commented on #56289
having same issue

[2019-02-08 12:42] bart0sh commented on #71677
@hoegaarden interesting reading. thanks.

[2019-02-08 12:51] mcginne commented on #7433
Hi guys, I notice this issue is pretty old, but I saw this coment ->
https://github.com/kubernetes/kubernetes/issues/7433#issuecomment-262009181 which implies that in v1.5 NodePorts should prefer local pods. I'm running on kube 1.12 and seeing my NodePort services not preferring local. Is there a flag required, or has something changed between 1.5 -> 1.12? I'm using iptables.

I've also noted this

[2019-02-08 13:32] paulsugarcl commented on #66435
az aks get-credentials --resource-group NOMBRE_GRUPO_RECURSO --name NOMBRE_GRUPO_RECURSO --overwrite-existing (for azure)
saludos

[2019-02-08 13:36] dnatic09 commented on #64743
Hey team,

We had a serious problem with this issue.  After trolling some Java 8 release notes, we noticed there were a lot of issues with JVMs running inside of Docker.  After upgrading to Java 8u131, this problem SIGNIFICANTLY decreased from 2-3 times per day to maybe 1 time per week.  It has been a major improvement.

In short, if you are running any older version of Java under 8 (1-7), upgrade

[2019-02-08 13:37] feiskyer opened #73849 "Mixed protocols for Azure LoadBalancer is working as expected"
**What happened**:

Mixed protocols LoadBalacer services are not supported by apiserver. It will decline those services with error "cannot create an external load balancer with non-TCP/UDP ports". Hence #67986 added another annotation `service.beta.kubernetes.io/azure-load-balancer-mixed-protocols: "true"` for this purpose. e.g.

[code]

However, this is still not working. The UDP LB rule is still

[2019-02-08 13:43] hamparawa commented on #71692
@langerkunal By any chance have you run the 'kubeadm init' command as sudo?

[2019-02-08 13:50] langerkunal commented on #71692
@hamparawa - I had ran kubeadm init as root user on the system.

[2019-02-08 13:51] langerkunal commented on #71692
@fntlnz - I couldn't try those commands as environment got corrupted. Had been held up with some other work so couldn't spend time. I plan to try this again in week of Feb 18th.

[2019-02-08 14:05] amente commented on #73832
@Zyqsempai yes. I run the command

`kubectl delete deployment tiller-deploy`

Then, I want to wait until the deployment is deleted, using

`kubectl wait deployment/tiller-deploy --for=delete`

I assume waiting on a deleted resource is a condition that `kubectl wait <resource> --for=delete` supports. But the issue here, the error output when the condition is met wasn't something I was expecting. Th

[2019-02-08 14:14] ferrandinand commented on #70685
Same behavior in 1.13.1 also in bare metal.
OS: Container Linux by CoreOS stable (1855.4.0)

[2019-02-08 14:42] feiskyer opened #73853 "TestDefaultsYAML/KubeletConfiguration_default_v1beta1 is failing on MacOS"
**Which jobs are failing**:

TestConfigFileAndDefaultsToInternalConfig is failing on MacOS.

**Which test(s) are failing**:

[code]

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

`nodefs.inodesFree: 5%` is missing.

**Anything else we need to know**:

Refer https://github.com/kubernetes/kubernetes/pull/67709.

/sig node
/kind bug
/assign

[2019-02-08 14:43] zyriuse75 commented on #73779
it look it works for the master thanks !

[2019-02-08 14:46] zyriuse75 commented on #73779
but for the nodes
when i try to run the first command i execute at the begining when i setup them

[code]

so i tryed to **recreat the token**

[code]
there is no file on my path :(

[2019-02-08 14:50] mrobinson513 commented on #69293
+1, add DigitalOcean to the list of providers supporting LBs. DO is also one of the few that supports changing LB names with no real impact to LB operations, as the name itself is treated like the `Name` tag in other providers (except AWS which ties `Name` to a DNS endpoint)

[2019-02-08 14:52] neolit123 commented on #73779
the correct way to use kubeadm is with `sudo ....` and not run in a root terminal.

also `kubeadm token create` does not need sudo or root.

for what user did install the kubeconfig file after `kubeadm init` finished?
try looking for the `config` file in this user's home directory.

`--ignore-preflight-errors` needs a value. try this.
[code]

but it seems to me it would be better to start from scr

[2019-02-08 14:52] #73779 closed

[2019-02-08 14:53] KevinRiordan commented on #73779
@neolit123 Why does the config file repeat? is this necessary? Also I see the Kind is kubeletconfiguration

I am trying to use a yaml with kind masterconfiguration. will this replace that or do I also need a kind init issue.

[2019-02-08 14:54] neolit123 commented on #73779
KubeletConfiguration is a completely different type and you cannot use MasterConfiguration in place of it.
MasterConfiguration is an old kubeadm type that is now deprecated.

[2019-02-08 14:56] Zyqsempai commented on #73832
Got it, i will take a look.

[2019-02-08 14:59] KevinRiordan commented on #73779
Can you post the default config.yaml for the initconfiguration type, i am unable to locate it. im on kubeadm git v1.13.2

[2019-02-08 15:02] liggitt commented on #73776
it's fine to add a test case for that. I'll go ahead and close this issue... we don't need an issue to track that.

/close

[2019-02-08 15:02] #73776 closed

[2019-02-08 15:07] #60518 closed

[2019-02-08 15:07] neolit123 commented on #73779
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm

[2019-02-08 16:07] andrewsykim commented on #73794
I realize this issue still needs more grooming given we need to evaluate what tests are needed given the current set of tests (I didn't know we had LB names in e2e/network/service.go already). I'll groom this a bit and report back, thanks!

[2019-02-08 16:39] alejandrox1 opened #73855 "[Failing test] Kubeadm fails to dump cluster logs"
**Which jobs are failing**:
* [sig-release-master-blocking#kubeadm-gce-stable-on-master](https://testgrid.k8s.io/sig-release-master-blocking#kubeadm-gce-stable-on-master)
* [sig-release-master-blocking#kubeadm-gce-master](https://testgrid.k8s.io/sig-release-master-blocking#kubeadm-gce-master)

**Which test(s) are failing**:
* [DumpClusterLogs](https://gubernator.k8s.io/build/kubernetes-jenkins/log

[2019-02-08 16:47] v-i-o commented on #36222
This issue is valid and I am not sure why it was closed

[2019-02-08 17:01] dannyk81 commented on #66103
thanks @sepich!

We did try switching to `hostNetwork` briefly and seem to have encountered the same/similar issue, tbh didn't investigate much but will try again 👍

[2019-02-08 17:14] jobevers commented on #27404
/reopen

Unless there is a way to do this now, which I can't find.

[2019-02-08 17:17] jobevers opened #73856 "Node status should include allocated resources info through the API"
I can't re-open #27404 and it looks like it closed without any resolution. This seems like useful data to have available.

[2019-02-08 17:32] aspyct commented on #28969
@brouberol What if two cassandra pods are going down at the same time?

Say pod A is running on k8s node 1, and pod B is running on k8s node 2.
They both go down at the same time.
What's to prevent pod A from starting again on node 2, and therefore getting the IP address that was previously assigned to pod B?

[2019-02-08 17:46] dims commented on #73079
@mayakacz @philips in the Steering meeting on Jan 30, we said that we are ok with the recommendation above.

[2019-02-08 17:48] AdelBouridah commented on #44665
It seem to be a very intersing track to take to get the connection non refused to the master. It may be added to some root manual. thinks

[2019-02-08 17:48] daschott commented on #66947
@rkttu-devsisters Can you confirm whether there are still crashes after installing KB4476976?

[2019-02-08 17:51] jobevers commented on #73856
/sig node

[2019-02-08 18:01] gyuho commented on #72102
@timothysc I will look into this.

[2019-02-08 18:11] PatrickLang commented on #37471
I don't think we can fix this. It seems like an issue in the Git bash environment only. This works in WSL, and it works with the native Windows binary. I would recommend opening an issue with the Git-SCM.org team that provides that bash shell.

[2019-02-08 18:14] yliaog commented on #73628
alright, normally the resource quota for NodePorts do *not* limit the number of services for ClusterIP, it only happens when the resource quota for NodePorts have already been *exceeded*. Put it another way, if NodePorts quota is 1, and its usage is 2, then no more services are allowed to be created, no matter what type of services they are.

On the other hand, if the NodePorts quota is 1, and its

[2019-02-08 18:24] M00nF1sh commented on #73794
Personally, I'd like to put all service-LoadBalanacer related tests into e2e/cloudprovider, and migrate all old LB tests into it as well. Since LoadBalancer is provider-specifc.

Also maybe migrate e2e/networking/ingress into e2e/cloudprovider as well, since it's also provider-specific

[2019-02-08 18:29] rtheis commented on #45385
Kernel `4.4.0-141-generic` also resolves the problem.

[2019-02-08 18:31] allamand commented on #28969
@aspyct that would be the PersistentVolumeClaim which will stick podA to node 1, so it can't be started on node2 while the PVC object exists.

Saying that I'm not sure that kubernetes could reaffect ip which was on node2 on the node1, this maybe depending on the network plugin ?

[2019-02-08 18:41] MansM opened #73858 "iSCSI mount fails in 1.12.x/1.13.x"
**What happened**:
iscsi volumes fail to mount

**What you expected to happen**:
mounted volume
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
worked on 1.11.3

**Environment**:
- Kubernetes version (use `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924

[2019-02-08 18:43] MansM commented on #73858
/sig storage

[2019-02-08 18:48] d-nishi commented on #73794
I agree with that philosophy.
We have also discussed that ingress belongs as a separate controller.

I am confused by the historical organization of the e2e tests w.r.t in-tree provider code aka.

1)  why are the e2e tests hosted in cloud and only host nodes.go?
2)  why are the e2e tests hosted under network covering dns, network as well as ingress and service?

I agree with @M00nF1sh:
1) we shoul

[2019-02-08 18:50] brendandburns commented on #73418
There are some tests here:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/pods_container_manager_test.go
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/container_manager_test.go

The CGroup tests are very Linux specific. I don't think they actually apply to Windows because on Windows there's no such thing as the kernel OOM killer, and thus Memory is actuall

[2019-02-08 19:02] juanmatias commented on #56795
Hello.

Since I didn't find a solution to this (pull "host" value from a secret or a configmap), I developed a little Helm plugin.

My use case is:
  - I provision infra with Terraform
  - Then I run an automated script that does a few things, e.g. deploy an nginx ingress-controller (on AWS using an internal ELB)
  - This script also get the generate URL for the Internal ELB and put it into a secr

[2019-02-08 19:09] brendandburns commented on #66159
I don't think this is a Windows issue is it?

[2019-02-08 19:13] andrewsykim commented on #73794
For some context: `test/e2e/cloud` is a relatively new pacakage added in https://github.com/kubernetes/kubernetes/pull/72902, new package allows us to group the "cloud provider" tests under a single SIG / umbrella. The nodes test case was the first one that was added.

I'm investigating this at the moment :)

[2019-02-08 19:23] aspyct commented on #28969
Ah yes, that makes sense. Thanks for clearing that up!

Not sure about the node IP either, but I'm guessing in my case Cassandra wouldn't be the only service failing. I'll look into it, thank you for pointing it out.

[2019-02-08 19:44] d-nishi commented on #73810
/assign @jverce

[2019-02-08 19:44] jayunit100 opened #73859 "kubetest: A Few UX bugs improvements around build reqiurements, setting apiserver IP addres, skeleton/local mode guidance."
Testing on master now, this from the  1.11.3 tag, so these bugs may be obsolete but in general from conversation in  sig-testing, some ux improvments around help for baremetal clusters and more verbose error logging were discussed so maybe fold those into these UX improvements.

**What happened**:

Kubetest against a generic cluster seems to not work using basic options.

**What you expected to ha

[2019-02-08 19:44] jayunit100 commented on #73859
@kubernetes/sig-testing

[2019-02-08 19:53] #71752 closed

[2019-02-08 20:09] d-nishi commented on #73794
thanks @andrewsykim
1) forgive me for asking the wrong question. Shouldn't cloud be renamed cloud-provider instead and I see the nodes.go addition is new.

2) If I am not mistaken is historical so what @M00nF1sh and I am suggesting will pave the path forward for the integrated tests if we can get approval for this work to start.

[2019-02-08 20:16] deepanvermag3 commented on #32616
@reachlin What's the answer to your question? Yes or No?

[2019-02-08 20:37] rmorrise commented on #40908
Another use case:

Kubernetes tomcat deployment
- Container 1: tomcat server w/hot reloading
- Container 2: sidecar WAR image

1. Container 1 & 2 start
2. Container 2 becomes unavailable due to some persistent issue (e.g. a database server outage)
3. Container 2 restarts repeatedly, going into backoff
4. Hot reloading from many restarts triggers an out-of-memory error. Container 2 keeps restarting

[2019-02-08 21:07] yastij commented on #65406
/close

Closing this as per our discussions with @liggitt

[2019-02-08 21:07] #65406 closed

[2019-02-08 21:27] jolson490 opened #73861 "preemption and overprovisioning questions"
hello,

Can someone please tell me whether there is any best practice for how to determine (given the unique specifics of your own cluster) what quantity of overprovisioning pods to create, and what the size (i.e. `resources.requests.memory`) should be of each overprovisioning pod?

https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#preemption says when the scheduler is try

[2019-02-08 21:32] jolson490 commented on #73861
@kubernetes/sig-scheduling-proposals

[2019-02-08 22:36] gnufied commented on #73724
Hmm, so after opening the PR that fixes this, I realize that - from storageclass we don't really know if the volume we are evaluating is CSI volume or not. I think a similar problem exists for existing predicate though. Like AzureDisk predicate does not know if PVC  it is over counting is of type AzureVolume or not.

So, I suspect that those 4 hardcoded predicates are counting all delayed binding

[2019-02-08 22:44] jbartosik commented on #73045
Teh PR merged, let's see if it fixes the issue.

[2019-02-08 22:45] msau42 commented on #73724
if the storageclass.provisioner name is not found, can we just ignore it?

[2019-02-08 22:47] alejandrox1 commented on #73748
#73749 seemed to fix this.
/close

[2019-02-08 22:51] jayunit100 commented on #73859
FYI, some tricks to get it working for me:

- Make sure you build the same version of kube test that your testing against.  The master tests will verify the actual kubernetes Master version and make sure it matches the end to end build binary.  In my case, I was testing 1.9.6.
- `KUBE_MASTER_IP=pmdb-stage-api.snn1.pf9.io KUBE_MASTER_NAME=pmdb-stage kubetest --test --kubeconfig=/Users/jayunit100/.k

[2019-02-08 23:24] geerlingguy commented on #27114
After spending a few hours reading through this issue, all the docs, etc., I'm still finding it annoyingly complex to account for a pod where, the first time it starts up and configures everything, it could take 5-10 minutes, but then after that subsequent pods could take anywhere from < 1 second to 1 minute.

I want the pods to come up quickly, and also stop serving requests quickly if there's a

[2019-02-08 23:27] gnufied commented on #73724
I think we can ignore it. The PR currently does that.

[2019-02-09 00:22] msau42 commented on #69831
@Random-Liu will help check the kubelet state machine to see if it's possible for a container to leave terminated state even if the pod deletion timestamp is set.

In the meantime, there are [other volume controllers](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/kubernetes/kubernetes%24+IsPodTerminated) that are using this check. I will evaluate if those controllers may have issues too.

[2019-02-09 00:53] Ramyak opened #73867 "\x00 or \0 from GetZoneKey is in controller prometheus endpoint."
**What happened**:
Controller's prometheus endpoint has \0.
[code]
https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels
That is not conformant to prometheus's allowed characters.

**What you expected to happen**:
Would be good.
`node_collector_zone_size{zone="us-east-1::us-east-1e"} 381`

**How to reproduce it (as minimally and precisely as possible)**:
curl controller's prometh

[2019-02-09 01:12] BenTheElder commented on #73859
cc @krzyzacy

[2019-02-09 01:27] wstrange commented on #27114
For the most part we have been able to solve these kinds of issues with init containers.  The init container handles the case where setup takes an unusual amount of time. For the happy path it just exits with a no-op.

[2019-02-09 01:56] rbtcollins commented on #70342
Thanks! I'm glad thats been written; I'm not sure that having it be a separate container makes sense. I'll need to see how it interacts with kube-iam and instance-meta-data access.

[2019-02-09 02:48] #65770 closed

[2019-02-09 03:26] #72788 closed

[2019-02-09 05:52] sfitts commented on #27114
@wstrange as has been mentioned, for some of us, init containers aren't the solution because the software we are dealing with can't be modified in a way that would support them.  It's great when you can, but it simply isn't possible in all situations.  There are of course workaround for that, but as @matthyx has observed, it would be much better if they were unnecessary.

[2019-02-09 07:53] #68533 closed

[2019-02-09 07:53] #68535 closed

[2019-02-09 08:46] shinebayar-g commented on #54384
Any support on this? I think this feature is definitely useful.

[2019-02-09 08:49] RaviSaraswathi opened #73873 "unable to wget example yaml files from https://kubernetes.io/docs/home/"
**What happened**:

- Go to https://kubernetes.io/docs/home/
- Click on any of the example yaml file link in website, it shows black in browser
-  can't download the example yaml files from website using wget as the link is not showing in browser.

example: The page https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/ has a yaml file pods/resource/memory-request-limit.y

[2019-02-09 08:51] RaviSaraswathi commented on #73873
<img width="1587" alt="screen shot 2019-02-09 at 3 50 36 am" src="https://user-images.githubusercontent.com/33672117/52518770-079ecf00-2c1e-11e9-9c90-499b419ffe87.png">

[2019-02-09 10:36] ssbarnea opened #73874 "kubectl should be able to be used to run (apply) config files via shebang"
Having to add `kubectl -f filename.yaml` to apply config files each time may prove to waste valuable keystrokes and we could make much easier for people to just execute the config files.

Partial support for implementing this is already made as kubectl already accepts stdin input via `kubetl apply -f -` but still the is not able to create config files that looks like:
[code]

I mention that this f

[2019-02-09 10:40] ssbarnea commented on #73874
/sig cli

[2019-02-09 12:32] 0t3dWCE commented on #51835
Faced with this today.
What was done:
1. ssh to node and remove container manually
2. After that `kubectl get pods` shows me what my stucked container `0/1 terminating` (was `1/1 terminating`)
3. Remove `finalizers` section from pod, my was `foregroundDeletion`  ( $ kubectl edit pod/name ) --> container removed from pods list
4. Delete deployment --> all deployment related stuff removed.

[code]

[2019-02-09 13:25] 13567436138 opened #73875 "delete apiserver pod ,cluster is down"
I delete one apiserver pod and then It become like below.
[code]

[2019-02-09 13:37] 13567436138 opened #73876 "how to use etcd-operator substitute etcd when install k8s"
how to use etcd-operator substitute etcd when install k8s

[2019-02-09 13:40] 13567436138 commented on #73875
how to recover from this

[2019-02-09 15:00] #66777 closed

[2019-02-09 15:54] MansM commented on #73858
did some research, doesnt work on 1.12.1/1.12.5/1.13.3

only working option for now is 1.11.3

[2019-02-09 16:47] MansM commented on #73858
install playbook: https://github.com/MansM/vagrant-kubeadm/blob/master/playbook.yml

[2019-02-09 17:02] #61144 closed

[2019-02-09 17:29] recrk opened #73878 "kubectl is getting server timeout"
I installed first ectd, kubeapiserver and kubelet using systemd service. The services are running fine and listening to all required ports.

When I run kubectl cluster-info , I get below output Kubernetes master is running at http://localhost:8080

When I run kubectl get componentstatuses, then I get below output etcd-0 Healthy {"health": "true"}

But running kubectl get nodes , I get below error

[2019-02-09 17:41] juv commented on #66020
/remove-lifecycle rotten

fejta-bot <notifications@github.com> schrieb am Sa. 9. Feb. 2019 um 18:03:

[2019-02-09 18:07] mattjmcnaughton commented on #73808
Hi @jacksontj !

Under the [limitations](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id) section, it says "StatefulSets currently require a Headless Service to be responsible for the network identity of the Pods. You are responsible for creating this service."

Thoughts on if reminding the user of that limitation in the "Stable Network Id" Section would he

[2019-02-09 18:49] dims commented on #61144
/remove-lifecycle rotten

[2019-02-09 19:04] #68567 closed

[2019-02-09 19:57] CLOUGH commented on #33664
I found @jeliasson comment very useful. You can also read this [github issue](https://github.com/GoogleCloudPlatform/cloud-builders/issues/22#issuecomment-316181326) to also help.

[2019-02-09 20:40] briantopping opened #73879 "Default StorageClass would benefit from namespace binding"
**What would you like to be added**:
The default `StorageClass` is currently marked with an annotation. Since `StorageClass` is namespace-free, it is a bit like the Highlander, there can be only one.

**Why is this needed**:

Because storage is such an unpredictable thing between installations, deployments often just add PV templates that depend on the some default `StorageClass` to act on them. I

[2019-02-09 20:40] briantopping commented on #73879
/sig storage

[2019-02-09 21:41] matthyx commented on #27114
Be careful with not executing your probes, as it leaves you blind regarding the state of your container.

The main idea behind something like `maxInitialFailureCount` is to allow probes to run and fail during initialization, while still recording container states.

[2019-02-09 22:07] #68177 closed

[2019-02-09 22:30] alejandrox1 opened #73880 "[Failing Test] master-blocking:kubeadm-gce-master Test"
**Which jobs are failing**:
* [master-blocking#kubeadm-gce-master](https://testgrid.k8s.io/sig-release-master-blocking#kubeadm-gce-master)

**Which test(s) are failing**:
* [Test](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-master/1798)

**Since when has it been failing**:
Failing since 2/4 at 14:11. [k/k diff](https://github.com/kubernetes/kubernetes/comp

[2019-02-09 22:38] alejandrox1 opened #73881 "[Failing Test] master-upgrade:gce-new-master-upgrade-cluster-new NodeLease deletion node lease should be deleted when corresponding node is deleted"
**Which jobs are failing**:
* [master-upgrade#gce-new-master-upgrade-cluster-new](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new)

**Which test(s) are failing**:
* [`[sig-cluster-lifecycle] [Disruptive]NodeLease NodeLease deletion node lease should be deleted when corresponding node is deleted`](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kuber

[2019-02-10 00:33] instantlinux opened #73882 "1000s of warnings: FindExpandablePluginBySpec err:no volume plugin matched"
**What happened**:
In an otherwise-stable bare-metal setup, with only LocalVolume and NFS storage, and without any volume mount activity, I get 80,000+ of these warning messages per day:
[code]
**What you expected to happen**:
No warnings; and if there is a reason to generate these warnings, more info about what operation is being attempted should be added to the warnings message.

**How to reprod

[2019-02-10 00:37] instantlinux commented on #73882
/sig storage

[2019-02-10 00:46] liggitt commented on #73803
& and \u0026 are equivalent in JSON strings. They are interpreted identically when the JSON string is read. That is a red herring.

What version of kubectl are you using to create the secret?

[2019-02-10 01:01] keremgocen commented on #73328
Is anyone working on this? I'd like to jump on it

[2019-02-10 01:10] #68587 closed

[2019-02-10 01:47] smarterclayton commented on #73874
That’s in interesting bug that kubectl is dependent on the args[0], which is not what I would expect.

We should see if we can fix the bug, but I’m not sure shebang support is something we anticipated supporting.  Why isn’t the shim sufficient?

[2019-02-10 02:49] nhooyr commented on #73838
I guess the solution here is to just use helm if you want this feature?

[2019-02-10 04:13] #63630 closed

[2019-02-10 05:16] jacksontj commented on #73808
I hadn't even seen that! That would definitely have saved a bunch of time

I definitely think it would. That first mention is basically at the top and this is much further down (page 2 vs page 6).

[2019-02-10 07:16] #68604 closed

[2019-02-10 07:35] WanLinghao commented on #73788
/assign

[2019-02-10 08:08] Izikiel commented on #73803
Will update on Monday when I'm at work.

[2019-02-10 09:18] #67340 closed

[2019-02-10 10:13] fejta-bot opened #73884 "pr:pull-kubernetes-e2e-gce-100-performance flaked 12 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **12**
 Consistency: **97.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 4 |

#### Previously closed issues for this job flaking:
#67295 #62592

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-02-10 10:27] brouberol commented on #28969
@allamand

This is why the deployment I detailed is actually using `hostNetwork: true`. In our case, we don't want to binpack on datastore nodes, meaning that cassandra will be the only application pod running on the node, and no two cassandra pods will run on the same node (thanks to the `podAntiAffinity`. In that case, it was acceptable to rely on the host network itself.

[2019-02-10 11:35] aspyct commented on #28969
@brouberol do we still need the `cassandra-test-seed-*` services then?

We know that the pods will have a static IP address, since they will stick to their initial k8s node, then maybe we can use them directly as seeds. That would allow us to define only one service for all the cassandra pods.

Something like:

[code]

[2019-02-10 12:17] rkttu commented on #66947
@daschott I could not create the same workload as when I first registered this issue. However, BSoD, which was often happening with long running IIS 5 Pods, is no longer happening. I need to re-create the workload for the Windows Server 2019 AMI in order to test it better.

[2019-02-10 12:18] rkttu commented on #66947
@daschott I heard that the hotfix for Windows Server 2019 will be released in February. Do you have a hotfix available now?

[2019-02-10 13:05] GeorgeLung opened #73886 "Allocate PVC by selector"
**What would you like to be added**:
The ability to provider a selector for specifying a PersistentVolumeClaim as an alternative to claimName like below:
[code]
**Why is this needed**:
Example use case is mounting a local volume within multiple pods. Currently I have to create one PVC per node and reference this directly per node in each pod/template. This suggestion would enable pods/templates to

[2019-02-10 13:08] GeorgeLung commented on #73886
@kubernetes/sig-storage-feature-requests

[2019-02-10 14:23] #68572 closed

[2019-02-10 14:23] #66753 closed

[2019-02-10 15:14] brouberol commented on #28969
@aspyct You definitely can. The only reason why I defined a service per seed node is that these seed services are annotated with `service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"`, which allows the service DNS to be resolved to some `NotReady` pods.

I wanted to tolerate that for the seed services (as it's useful during bootstrap) but I didn't want that behavior enabled on the servic

[2019-02-10 15:54] harshkumar1 opened #73887 "Kubernetes Mounting Cinder Volume gives “Timeout” error"
**What happened**:
Kubernetes Services failed in deployment since it was not able to mount Persistent Volumes

**What you expected to happen**:
Kubernetes Services deployment should happen post mounting Persistent Volumes

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Persistent Volumes are being provisioned using Dynamic Provisioning

**Env

[2019-02-10 16:07] harshkumar1 commented on #73887
/sig openstack
/sig storage

[2019-02-10 17:17] neolit123 commented on #73884
/sig gcp
/kind failing-test

[2019-02-10 17:19] neolit123 commented on #73875
please reopen this ticket once you fill the issue template correctly:
https://raw.githubusercontent.com/kubernetes/kubernetes/master/.github/ISSUE_TEMPLATE/bug-report.md

thanks!
/close

[2019-02-10 17:19] #73875 closed

[2019-02-10 17:20] neolit123 commented on #73873
please open this ticket in kubernetes/website
thanks.

/close

[2019-02-10 17:20] #73873 closed

[2019-02-10 17:20] jsravn commented on #59119
/remove-lifecycle stale

[2019-02-10 17:23] neolit123 commented on #73867
/remove-sig cluster-lifecycle
/sig node

[2019-02-10 17:23] neolit123 commented on #73867
/remove-sig node
/sig apps

[2019-02-10 17:25] neolit123 commented on #73855
this part is partially fixed now:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-master

except other problems remain.

/assign
/area kubeadm

[2019-02-10 17:26] #68617 closed

[2019-02-10 17:28] neolit123 commented on #73853
thanks for the report @feiskyer

this is a bug in our DIFF library - e.g. the `(MISSING)`

/close

in favor of:
https://github.com/kubernetes/kubeadm/issues/1368

[2019-02-10 17:28] neolit123 commented on #73842
/sig node

[2019-02-10 17:29] neolit123 commented on #73841
please provide more detail about the feature you request.

/kind feature
/sig architecture

[2019-02-10 17:29] neolit123 commented on #73838
/sig auth

[2019-02-10 17:30] neolit123 commented on #73880
/assign
/area kubeadm

[2019-02-10 17:37] neolit123 commented on #73722
all the recent runs (that are not build problems) suggest failing to fetch a kubeconfig from the GCE master.
i don't have enough information to figure out why is that happening; kubeadm-gce-master is OK in that regard.

i'm hoping that we can just remove this job this week!

[2019-02-10 18:27] yves-vogl commented on #29789
I'm currently doing some workarounds ```kubectl get svc/chartmuseum -ojson | jq '.status.loadBalancer.ingress[0].hostname'``` and would like to have a better solution.

[2019-02-10 18:28] yves-vogl commented on #69293
+1

[2019-02-10 18:38] TerraTech commented on #36391
/remove-lifecycle rotten

[2019-02-10 18:40] TerraTech commented on #36391
@adohe @fraenkel Is this still on your radar?

[2019-02-10 19:33] yves-vogl commented on #29789
Maybe this could be useful for you guys. Currently this is for single resources only.

[code]

[2019-02-10 19:59] mattjmcnaughton commented on #73808
Ok cool! Hopefully my pr will help :)

[2019-02-10 21:05] krzyzacy commented on #73722
🎶 in my 👂 ;-) 🤞

[2019-02-10 21:37] dims commented on #73722
💯

[2019-02-10 21:43] mbrancato commented on #61946
/remove-lifecycle stale

[2019-02-10 22:20] croomes commented on #69580
/remove-lifecycle rotten

PR has a lgtm, needs approval for vendor change

[2019-02-10 22:31] #53617 closed

[2019-02-10 22:31] #54697 closed

[2019-02-10 22:31] #36733 closed

[2019-02-10 22:31] #46310 closed

[2019-02-10 22:39] pcj commented on #27973
Not exactly related to this issue but someone may encounter this via search so I'm posting it here.

Another reason the serviceaccount/token is not available is if the deployment spec specifically excludes it via `automountServiceAccountToken: false`.  Some tools (like terraform `kubernetes_deployment`) can set this to false (hence overridding the default value `true`) without the user specificall

[2019-02-10 23:50] ayyazzafar commented on #43633
We really need this feature

[2019-02-11 00:05] #73796 closed

[2019-02-11 00:59] BrendanThompson commented on #40358
@Huang-Wei is there a link to the design document for this functionality that you're able to provide?

[2019-02-11 01:22] wuwdd commented on #67533
sorry for reply so late.I solved this issue by remove the current minikube and follow the https://blog.csdn.net/Maggie_up/article/details/80738331 to start minikube by using "Docker Toolbox"

[2019-02-11 01:24] krmayankk commented on #64686
/reopen
/remove-lifecycle rotten

[2019-02-11 01:27] krmayankk commented on #64686
@andyzhangx the behavior for statefulset is as expected since we dont want to bring up a new pod unless are very sure the unknown pod is still not up. That means its expected to force delete the unknonw or delete the node which became lost.

for deployment i think it should work and the eviction should just force delete the pod

@kubernetes/sig-node-bugs  wdyt ?

[2019-02-11 01:35] feiskyer commented on #73853
@neolit123 Thanks. A quick fix is actually adding the default value back for MacOS, but handling in the DIFF lib looks better.

[2019-02-11 01:38] liggitt commented on #73838
/assign @immutableT

[2019-02-11 01:39] sj0509 commented on #67533
Hi,

Thanks for the response. I ended up doing the same thing :). Uninstalled minikube, and went with the version of Kubernetes that comes packaged with "Docker for Windows"

[2019-02-11 02:03] cclloyd commented on #64924
I'm also having this issue.  Set up a 1 master 2 node cluster with kubespray.  Containers work if I set `ndots:1`, but anything more and it appends my domain name to any request.

[2019-02-11 02:40] alanjcastonguay commented on #73541
@jveski thanks for the insight! That's a very reasonable explanation for the situation. Even an extremely short (<10s) cache would eliminate the impact of duplicates. On that basis this can be closed.

[2019-02-11 02:40] #73541 closed

[2019-02-11 02:49] liggitt commented on #69873
Logging a deletion event in the controller manager log is a good idea, since the controller is responsible for cleaning up resources in deleted namespaces, and that log line can help track when the controller started cleanup.

Logging a message in response to namespace creation does not really make sense any more than it would make sense for the controller to log creation of all objects.

/close

[2019-02-11 02:49] #69873 closed

[2019-02-11 03:06] gosoon commented on #73570
@WanLinghao
Getting data from apiserver is very fast, but the step of kubectl to output the captured json data in a converted format is very slow.

[2019-02-11 03:09] yld2019 commented on #72395
I have the same problem with v1.13.3.

[code]

[2019-02-11 03:16] WanLinghao commented on #73570
Then my best guess is processing JSON file consumes too much time. `kubectl get --server-print=true `could address this but it seems only usable after v1.11

[2019-02-11 04:32] anguslees commented on #69799
/remove-lifecycle stale

[2019-02-11 05:08] vikashgupta01 commented on #73841
The master is the unified endpoint for the cluster. Single "source of truth" for the entire cluster. As load increases the capacity of master is exhausted. Also might lead to single point of failure.

Suggesting movement to peer 2 peer architecture.
When moving to peer to peer architecture, there is more scaling and no single point of failure. No single node or process is master. All can serve the

[2019-02-11 05:10] vikashiscoder commented on #73841
The master is the unified endpoint for the cluster. Single "source of truth" for the entire cluster. As load increases the capacity of master is exhausted. Also might lead to single point of failure.

When moving to peer to peer architecture, there is more scaling and no single point of failure. No single node or process is master. All can serve the requests based on their availability. More advan

[2019-02-11 05:48] huyqut commented on #55713
@jitendra1987 can you test a cluster with 1 master and 2 workers? I also tested with 1 master and 1 worker and pod eviction didn't happen. However, when there are 3 machines in the cluster, it happens normally.

[2019-02-11 05:59] shettyh opened #73905 "DNS not working after reboot"
**What happened**:
DNS resolution is not happening after node reboot

**What you expected to happen**:
DNS resolution should work as expected

**How to reproduce it (as minimally and precisely as possible)**:
- Install Kubernetes using `kubeadm`. Single node installation on Centos 7
- Install required app/pod
- Everything works just fine
- Reboot
- DNS resolution for services starts to fail

**Any

[2019-02-11 06:01] shettyh commented on #73905
/sig network
/sig cluster-lifecycle

[2019-02-11 06:10] zrss commented on #72048
thx for pointing this out. i confirm that hang will happen when nfs server down or there is a network problem

and i have another question that how the nfs client handle the *crash* of the nfs server, specially, after a long down time, can it still be auto-recover ?

[2019-02-11 06:12] Benjamin-Dobell opened #73906 "AWS node/instance security group - misuse of cluster tag"
**What happened**:

Load balancer -> instance inbound security rules not configured on instances.

[code]

**What you expected to happen**:

The instances to have their security rules configured correctly.

**How to reproduce it (as minimally and precisely as possible)**:

On AWS backed k8s cluster:

1. Create an additional security group for your instances and tag it as owned by the cluster. key=

[2019-02-11 06:16] Benjamin-Dobell commented on #73906
@kubernetes/sig-aws-cloud-provider-aws

[2019-02-11 06:20] linxiulei commented on #72048
I guess it’s a linux blkio subsystem flaw that most of io issue would cause hang. I have gave a short period of downtime testing though, the nfs client auto recovered

[2019-02-11 06:22] Benjamin-Dobell commented on #73906
@kubernetes/sig-aws-cloud-provider-aws-bugs

[2019-02-11 06:23] zouyee commented on #70324
https://github.com/opencontainers/runc/pull/1921

[2019-02-11 06:23] Benjamin-Dobell commented on #73906
@kubernetes/sig-cloud-provider-aws-bugs

[2019-02-11 06:23] zrss commented on #72048
ok, i find this out, it seems it will always retry in default mode

![image](https://user-images.githubusercontent.com/8072378/52548425-92dbb880-2e08-11e9-8763-fa9642a05f5d.png)

thanks anyway

[2019-02-11 06:27] annProg commented on #70997
@brahmaroutu please see #71071 , this issue had been solved

[2019-02-11 06:28] Benjamin-Dobell commented on #73906
@kubernetes/sig-aws-bugs

... _One of these days I'll work out how to tag sigs 😉_

[2019-02-11 06:53] UmanShahzad commented on #68631
/remove-lifecycle rotten

[2019-02-11 08:13] adisky commented on #73887
@harshkumar1 can you share kube-controller-manger logs as well?  you can also reach us at kubernetes slack #sig-openstack channel

[2019-02-11 08:44] shettyh commented on #73905
If i give the direct IP address of one of the `core-dns` pod to the `nslookup` command then the address is getting resolved

[2019-02-11 08:45] brb commented on #56903
[The second kernel patch](http://patchwork.ozlabs.org/patch/1032812/) to mitigate the problem got accepted (context: https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts) and it is out in [Linux 5.0-rc6](https://lwn.net/Articles/779406/).

Please test it and report whether it has reduced the timeout hit rate. Thanks.

[2019-02-11 08:54] danielqsj commented on #72956
Fix
[code]
 in https://github.com/kubernetes/kubernetes/pull/73914

[2019-02-11 09:01] vainu-arto commented on #56903
@brb Do you know what the commit id was? Can you link to that as well?

[2019-02-11 09:03] brb commented on #56903
https://github.com/torvalds/linux/commit/4e35c1cb9460240e983a01745b5f29fe3a4d8e39

[2019-02-11 09:14] davidstack opened #73916 "build from source without version info"
when build from source, the binary can not print write version info,just like this:
`[root@node04 kube-apiserver]# ./kube-apiserver --version
Kubernetes v0.0.0-master+$Format:%h$
`
how can i build with version info,i have tried this,but failed
`go build -ldflags "-X version.gitMajor=1 -X version.gitMinor=12"`

any other suggestion？

[2019-02-11 09:15] davidstack commented on #73916
1. @kubernetes/sig-contributor-experience-bugs

[2019-02-11 09:37] davidstack commented on #73916
`go build -ldflags "-X k8s.io/kubernetes/pkg/version.gitVersion=v1.11.3 -X k8s.io/kubernetes/pkg/version.gitMinor=11 -X k8s.io/kubernetes/pkg/version.gitMajor=1 -X k8s.io/kubernetes/pkg/version.gitCommit=1 -X k8s.io/kubernetes/pkg/version.gitTreeState=clean"
`

[2019-02-11 09:37] #73916 closed

[2019-02-11 09:44] lm-xingxing commented on #47202
Hopefully this problem will be reopened and it's a little strange to look at UTC time every day.

I have a cronjob that needs to run on the first day of each month at local time, but UTC time is 16:00 on the last day of last month. How do I define the last day of last month? Cronjob does not support L.

[2019-02-11 09:50] jbartosik commented on #73045
The test had 8 green and 0 red runs in the 2 days since the PR merged. Is it ok to close this issue now?

[2019-02-11 09:55] gtie commented on #71706
We have experienced what it seems to be like a similar issue. During a rollout, we updated kube-dns, which was sized at ~20 pods at a time. The update strategy for the kube-dns deployment is to spike up the size and recycle 10% at once.

~30min after the kube-dns rollout, we still had 1/3 of the cluster nodes using the old kube-dns addresses inside the iptables DNAT rules. Restarting the kube-prox

[2019-02-11 09:58] AndrewSav commented on #47202
It appears that an alternated solution does not exist. See my questions [here](https://stackoverflow.com/questions/54337046/how-to-make-cronjob-respect-daylight-saving-time) and [here](https://kubernetes.slack.com/archives/C09NXKJKA/p1548281087906100)

[2019-02-11 10:28] babalsurer opened #73918 "Backup And Restore /sig kubernetes bug"
Hi,
  Is Any resource available to take backup and restore with all the cluster with pod .?

[2019-02-11 10:32] shettyh commented on #73905
`net.bridge.bridge-nf-call-iptables=1` was not persisted across the reboots that`s why DNS was not working after reboot.

[2019-02-11 10:32] #73905 closed

[2019-02-11 10:59] emolmar commented on #64002
I was able to solve this same problem (or an apparently similar one) by patching a crd that turned out to be the cause of the problem.

First I identified the offending crd with the command
`kubectl get crd
NAME                                          CREATED AT
bgpconfigurations.crd.projectcalico.org       2018-10-24T14:06:47Z
clusterinformations.crd.projectcalico.org     2018-10-24T14:06:47Z
**

[2019-02-11 12:47] ssbarnea commented on #73874
@smarterclayton I will investigate more during the weekend as it would be really nice to make it work without external tools. I raised the bug to get some feedback before trying to implement that feature as I wanted to get some confirmation first.

[2019-02-11 12:48] gridcellcoder commented on #48609
@jsafrane

Does this work if the cluster is deleted? i.e. is there a way to get a PV and PVC to bind to an existing persistent volume (say from a previously deleted cluster)?

The use case is this: load some data - delete cluster to save costs - restart cluster with previous GCE disks that have data- bind them to the PVC

your method works if the cluster is alive, but we're looking for a solution

[2019-02-11 13:14] Alcasser commented on #43924
I cry everytime.

[2019-02-11 13:34] zyriuse75 commented on #73779
i fixe the first issue when i recreated  the role and the rolebinding

**create Role:**

[code]

**Create RoleBinding:**

[code]

Unfortunathely when i run the command on my node to join the master i get now :
[code]

do you have an idea how i can fix it ?
Or do you think it's much better to start a new installation from scratch ?

[2019-02-11 14:01] soltysh commented on #73874
The quoted error clearly states it's working as expected:
[code]
that's cobra returning it can't find a command named `./foo.yaml`, which is perfectly fine and I'm not quite sure what you'd like to fix here.

Yeah, I'm not comfortable with that either. Somehow text files (yaml being one of them) are not meant for shebangs imho.

[2019-02-11 14:23] jcperezamin commented on #72197
As well on 1.13.0

E0211 14:16:59.924645       1 proxier.go:1530] Failed to list IPVS destinations, error: device or resource busy
E0211 14:16:59.924721       1 proxier.go:1150] Failed to sync endpoint for service: 10.233.112.0:31269/TCP, err: device or resource busy
E0211 14:16:59.924664       1 graceful_termination.go:89] Try delete rs "10.10.34.21:32571/TCP/10.233.64.77:443" err: Failed to dele

[2019-02-11 14:28] jbartosik commented on #73045
@foxish please close this issue.

[2019-02-11 14:30] 13567436138 opened #73921 "how can i join the slack,it told me i need an invitation"
how can i join the slack,it told me i need an invitation

[2019-02-11 14:30] neolit123 commented on #73880
this is fixed:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-master
/close

[2019-02-11 14:30] #73880 closed

[2019-02-11 14:32] neolit123 commented on #73855
the dump cluster logs part is green.
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-master

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-stable-on-master
is red because it needs a test-infra update (kubekins). possibly open a separate issue and assign me.

/close

[2019-02-11 14:32] #73855 closed

[2019-02-11 14:32] afirth commented on #73584
I think this is working as designed, because the finalizer is on the pod, not the container, so it does not block GC of the container, even with foreground deletion. You mention that preStop is not an option for you? [finalizer design doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/garbage-collection.md#new-components). I'm unclear if it's possi

[2019-02-11 14:46] lbernail commented on #72197
@jcperezamin : yes, the fix was cherry-picked in `1.13.2`

[2019-02-11 14:51] idvoretskyi commented on #73444
Status update: the billing issue is still in place, we are currently working on it with AWS.

[2019-02-11 15:11] geerlingguy commented on #27114
@matthyx - That's exactly why I think this issue has had so much uptake. The way liveness/readiness probes currently work is quite fragile and/or nerve-wracking because you can't really optimize for the use case of "pods can take a while to start and be responsive sometimes, and that's okay".

I was looking at https://github.com/kubernetes/kubernetes/pull/71449 and it looks like there is still a d

[2019-02-11 15:23] matthyx commented on #27114
I agree, and that's why I have submitted a talk for the next Kubecon to raise awareness and hopefully get smart minds working on an acceptable solution.

You can also try a wrapper for the livenessProbe, as suggested in my [previous comment](https://github.com/kubernetes/kubernetes/issues/27114#issuecomment-456306347).

[2019-02-11 15:43] zetaab commented on #73906
this is kops issue not k8s? so this is reported in wrong repo?

[2019-02-11 15:54] dvlato commented on #69699
Hi,

We also hit the problem of the recursive chown when we set fsGroup. In our case, I don't think we need to recursively change the file permissions as the files are created by the pod (in ReadWriteOnce mode) so we only need to change the permission for the root folder. Would that be a better fit than trying to find a place where to change the owner only once?

Additionally, is there a way to di

[2019-02-11 16:09] ensonic commented on #66439
/reopen

[2019-02-11 16:09] ensonic commented on #66439
The docs really need to listen for can be given as condition.

[2019-02-11 16:10] joe-boyce commented on #62140
/reopen

[2019-02-11 16:12] DewaldV commented on #72775
Seeing some very similar behaviour here with some of our deployments. We recently had a deployment scale up to 20 pods during an update even though it was running stable at 3 replicas, had a MinReplicas of 3, and was well within its target average value for scaling.

We have the HPA configures with a MaxReplicas of 40, MinReplicas of 3. The deployment itself has RollingUpdate with 0% unavailable a

[2019-02-11 16:30] kow3ns commented on #73492
/assign

[2019-02-11 16:34] gnufied commented on #69699
There is a metric for volume mount operation. This metric should tell you if it is indeed mount operation(which includes chmod,chmod) that is taking time or something else.

Whether selinux relabelling is playing a role in this or not can be verified by checking if selinux is enabled on the node (`getenforce`) and then depending on type of volume you are using. What kind of volume you are using? I

[2019-02-11 16:34] kow3ns commented on #73867
https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/pkg/controller/nodelifecycle/metrics.go

Node metrics aren't sig apps. I think cluster lifecycle is probably the right place

[2019-02-11 16:34] kow3ns commented on #73867
/sig cluster-lifecycle

[2019-02-11 16:35] kow3ns commented on #73867
/remove-sig apps

[2019-02-11 16:35] kow3ns commented on #73613
This is a kubectl issue.
/remove-sig apps
/sig cli

[2019-02-11 16:37] kow3ns commented on #73049
/remove-sig apps
/sig network

[2019-02-11 16:43] kow3ns commented on #73011
you can control the amount of disruption you want to tolerate and the maximum number of bin setting maxUnavailable https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/#performing-a-rolling-update. If you don't want the DaemonSet to tolerate a taint you should, as you did, remove the toleration for the taint. This seems to work as intended
/close

[2019-02-11 16:43] #73011 closed

[2019-02-11 16:46] kow3ns commented on #72810
/remove-sig apps
/sig network
This is a network related issue and PR. Your PR has appropriate reviewers already.

[2019-02-11 16:50] jknap commented on #61406
Any plans on tackling this one?

[2019-02-11 17:15] shahaf600 commented on #73788
I would suggest here to kubernetes to not expose init containers that had done their job with the stats summary because it messes up the stats calculation.
Also it is good to mention that i downgraded metrics-server to v0.2.1 and configured it to scrape with the default period of time. Instead of 10 seconds as we did in v0.3.1.
And it seemed to solve the problem.

[2019-02-11 17:17] grantcurell commented on #73570
@WanLinghao - did you happen to confirm this was an issue. We're still on 1.9.7 and I've got a box where no nodes are reporting pressure any sort, the servers are quite beefy, under minimal load, but I'm seeing API response times of about 5500ms.

[2019-02-11 17:35] dvlato commented on #69699
I know it was mount operation as the error message says 'Unable to mount'... However I don't know if it's chmoding, chowning or doing something different.

The volume is an EBS volume, so yes, block storage. I was expecting something in Kube logs or the maybe the API to give me the information as I cannot ssh into the nodes (as most devs I assume, and I'd love to find that information myself rathe

[2019-02-11 17:39] mariantalla commented on #73855
@neolit123 The logs dump is still failing [on the sig-release dashboard](https://testgrid.k8s.io/sig-release-master-blocking#kubeadm-gce-stable-on-master), is a separate bump necessary for that one?

[2019-02-11 17:52] dvlato commented on #69699
Anyway thank you very much for the super prompt response!

[2019-02-11 18:03] daschott commented on #66947
@rkttu yes, on Windows Server 2019, please see [KB4476976](https://www.catalog.update.microsoft.com/Search.aspx?q=kb4476976)

[2019-02-11 18:04] jayunit100 opened #73925 "More verbosity in kubelet linux mounting process"
**What would you like to be added**:

The kubelet has a magic feature for fixing volume permissions at runtime.  With different storage vendors (i.e. NFS external vs others), you might need this (or not).  For example, if a vendor 777's their volumes on mount, no PSP is needed.

When comparing how different storage solutions are working differently WRT permissions, its nice to be able to see a dif

[2019-02-11 18:19] mourya007 commented on #71464
I think @pbarker updated the webhook struct with the specified comment. So, what should be the next step.

[2019-02-11 18:36] #67853 closed

[2019-02-11 18:45] smanpathak opened #73927 "Need documentation on expected permissions for mounted volumes in a Pod"
**What happened**:
We ran percona mysql as Pod on GKE, Minikube and a proprietary PMK platform. The percona image is built with best practices docker documents. It runs the process mysqld as user "mysql" because running as root is not advised. It sets ownership of mysql data directory and declares it a "volume", which is an indication to underlying platform that it should not manage the data in it

[2019-02-11 18:49] smanpathak commented on #73927
/sig storage

[2019-02-11 18:53] DarrienG commented on #34982
Setting the defaultMode didn't seem to work for me either. We needed a script to run at start, so I ended up copying the keys over to different dirs, and setting permissions to them in that script.

Barbaric, but I guess it works 😬

[2019-02-11 19:05] vladimirvivien opened #73929 "CSI Inline Volume Implementation Umbrella Issue"
**What would you like to be added**:

This is an umbrella issue to track for the implementation of the CSI Inline Volume.

**Why is this needed**:
Please see KEP for detail - https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190122-csi-inline-volumes.md

## Persistent Inline Volume Tasks
* [x] Update KEP with suggestions (@vladimirvivien)
* [x] Rebase existing code in https

[2019-02-11 19:25] mrbobbytables commented on #72956
Woops, somehow overlooked that @xychu was tackling `./test/cmd/*`.

I will tackle `./test/images/*` next.

[2019-02-11 19:42] dimm0 commented on #69699
selinux is disabled on all our nodes. It's not doing chown anymore in the recent rook version, but it's clearly doing something else still, since pods are taking longer time to run under non-root user compared to root user.

[2019-02-11 19:59] calind commented on #73584
My expectation was that `kubelet` waits for finalizers to be removed before starts terminating containers. Otherwise I really don't see the value in having finalizer on an pod with 0 containers.

Design docs don't state a clear behavior for this case.

[2019-02-11 20:27] afirth commented on #73584
I believe that 1) finalizers are run async, and only block the _hard_ delete of the object they are on (parent/pod), and 2) they will never block the deletion of a resource which has ownerRefs to this object (child/container).
Even if they were on the container, the finalizer begins executing as soon as it's marked for deletion. I don't know of anything that blocks removing the endpoint from the s

[2019-02-11 20:43] dims commented on #68201
here's a script that helps identify stale prefixes

[2019-02-11 21:01] tanner-bruce commented on #73791
I had this happen today with a GKE cluster that *did exist*. After some time the connection would go through. We also had a `hostError` on a GKE node at the same time. Access to the internet was fine at the time so I do not believe it was our network.

[2019-02-11 21:03] BenTheElder commented on #72956
I've updated the tracking list in the original post with every merged PR up to https://github.com/kubernetes/kubernetes/pull/73213 (the most recent currently) AFAICT. 45 / 283 merged currently :sweat_smile:

[2019-02-11 21:22] neolit123 commented on #73855
yes, the `kubeadm-gce-stable-on-master` issue is a separate one.
i will now ping sig-testing to update a certain "tool" and hopefully this will be fixed too.

[2019-02-11 21:31] dims opened #73933 "Move dockershim code into a separate CRI"
We currently have a flag `experimental-dockershim` in kubelet here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/flags.go#L87-L88

Backed by the code here:
https://cs.k8s.io/?q=ExperimentalDockershim&i=nope&files=&repos=kubernetes/kubernetes

There is a `TODO` as well:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L1194

[2019-02-11 21:31] dims commented on #73933
/sig node

[2019-02-11 21:32] BenTheElder commented on #73933
cc :eyes:

[2019-02-11 21:34] RobertKrawitz commented on #54384
In progress (not this issue per se); see https://github.com/kubernetes/kubernetes/pull/66928

[2019-02-11 21:48] wongma7 commented on #73773
only did some brief testing but doesn't seem like bind mounting will can prevent a device from being detached like associating a loop device can

original rationale, for discussion later: https://github.com/kubernetes/kubernetes/blob/31c6a2ba355687363ee694611148b7c67a0ae8d4/pkg/volume/util/operationexecutor/operation_generator.go#L904

[2019-02-11 21:54] #68243 closed

[2019-02-11 21:57] msau42 commented on #73773
It's not for preventing detach, but to make sure the device name (/dev/sdb) does not get reused while it is still being used by a container.

[2019-02-11 22:30] srikanth205 commented on #19317
Hi, Can any body help me out in deleting namespace which is in terminating status
PS C:\WINDOWS\system32> kubectl get ns
NAME                                           STATUS                           AGE
atlas                                               Active                           10d
config-server                                   Active                           20d
default

[2019-02-11 22:33] grantcurell commented on #73570
To provide additional information: the etcd pod has restarted 24 times. @nayruden can you post what you saw here?

[2019-02-11 23:00] bhargavb7 commented on #19317
@srikanth205 did you try using this??

[2019-02-11 23:03] PatrickLang commented on #73328
sure, go for it.
/assign @keremgocen

[2019-02-11 23:18] mariusgrigoriu commented on #67577
According to the CPU manager docs, `CFS quota is not used to bound the CPU usage of these containers as their usage is bound by the scheduling domain itself.` But we're experiencing CFS throttling.

This makes the static CPU manager mostly pointless as setting a CPU limit to achieve the Guaranteed QoS class negates any benefit due to throttling.

Is it a bug that CFS quotas are set at all for pods

[2019-02-11 23:31] grebois commented on #23001
@sharmmoh1983

[code]

[2019-02-12 00:28] neolit123 commented on #73855
@mariantalla `kubeadm-gce-stable-on-master` went green.
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-stable-on-master

[2019-02-12 00:57] #67119 closed

[2019-02-12 01:58] #68101 closed

[2019-02-12 02:37] derekwaynecarr commented on #72762
@y-koseki the reservation appears to have been properly applied looking at the allocatable capacity reported back to the scheduler.  what --cgroup-manager flag did you specify?  is it possible for you to report the cgroupfs values you see under kubepods.slice for cpu and memory?

[2019-02-12 02:38] tanshanshan commented on #73878
maybe you can use` journalctl -fu` to get kube-apiserver and kubelet logs , wheather exists error log .
or user  `curl `to access apiserver
and paste kubernetes version info

[2019-02-12 02:38] derekwaynecarr commented on #72762
fyi @dashpole have you seen this?  i am not aware of anyone that is enforcing-node-allocatable in production for anything other than `pods` but its possible we have a bug that needs more investigation.

[2019-02-12 02:46] dashpole commented on #72762
Problem 1 looks like it is looking at the disk usage of the entire node, not the allocatable usage only.  It is also worth pointing out that the kubelet only enforces allocatable for ephemeral storage through monitoring + response, so usage by pods can temporarily exceed allocatable.

[2019-02-12 02:51] dashpole commented on #72762
Problem 2 looks like it might be a real bug.  Although the problem with metrics from kubectl top is that they are 10s averages, so I am not 100% sure.  I think I might have seen something like that before, but didn't dig into it.  It very well could be a bug.

My first thoughts are:
Do we still set cpu.shares for the kube-reserved and system-reserved cgroups even when they are not enforced?  I wou

[2019-02-12 03:33] Benjamin-Dobell commented on #73906
@zetaab I've linked to the problematic code within this repository in my OP. Once the AWS cloud provider is updated to be aware of a new tag that signifies which security group is the "primary" security group, then Kops will need to be updated.

So the issue within this repository needs to be resolved first. Then I will open an issue against Kops to support the new tag. EKS will likely want to fol

[2019-02-12 03:51] Benjamin-Dobell commented on #73906
Hmm, I see there's a separate AWS cloud provider repository.

I'll open the issue against it as well. Presumably the changes would need to be merged (pkg updated) here as well. So I'll leave this issue open.

[2019-02-12 04:01] #73264 closed

[2019-02-12 04:29] msau42 commented on #48609
@gridcellcoder yes, you can manually create a new PV object in your new cluster with the details of the PD. You can look at https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/preexisting-pd for an example

[2019-02-12 04:38] msau42 commented on #73886
Hi @GeorgeLung can you explain in more detail why you need to manually create a pvc per node?  A local PV already has the node affinity built-in, so the PVC created by the statefulset will only bind to PVs that are available.

Or are you trying to share the same PVC across multiple statefulsets?

[2019-02-12 05:08] jmcdonagh commented on #33664
What if you use human readable tags that correspond to the tip of a branch IE master or ticket_1234? How is that a bad use case? I understand using latest is not smart but... I don’t understand why this isn’t a feature given that one can use tags in a more sane way.

[2019-02-12 05:44] micw commented on #33664
@jeliasson If you are able to resolve the tag to a hash, It'sprobably a better Idea to use the has has image tag and annotate with the original tag. This way you will ensure that all instances run with the same version if your tags are mutable and that the version is only changed if you redeploy.
As sayed above, an Admission Web Hook should be able to do this tag to sha resolution very well becaus

[2019-02-12 05:56] Benjamin-Dobell commented on #73906
I've updated this issue to indicate that it's the "cluster tag" (`kubernetes.io/cluster/<CLUSTER_NAME>`) that's having its semantics mistreated - technically it need not be "owned" (it could be shared).

It's worth noting that the legacy cluster tag `KubernetesCluster` must also not be present.

https://github.com/kubernetes/kubernetes/blob/a3ccea9d8743f2ff82e41b6c2af6dc2c41dc7b10/pkg/cloudprovide

[2019-02-12 06:24] jethrogb commented on #63906
/remove-lifecycle stale

[2019-02-12 07:15] PaulFurtado opened #73948 "Kubelet v1.10.11 zeroes out all extended resources upon restart, causing all pods to be evicted"
**What happened**:
Upon kubelet restart, it zeroes out every extended resource on the node, which caused every pod using extended resources on the node to get evicted. We use extended resources with all of our pods, and during a routine kubelet restart, it wiped out a good chunk of the cluster before we noticed what was happening. We caught this in QA, so it wasn't the end of the world.

**What yo

[2019-02-12 07:16] PaulFurtado commented on #73948
/sig node

[2019-02-12 07:20] PaulFurtado commented on #64632
The change that was backported to 1.10 (and maybe all versions?) for this seems to have had the unexpected consequence of zeroing out all of our extended resources and causing a large number of our pods to get evicted in our QA cluster since they all use extended resources. I filed an issue here: https://github.com/kubernetes/kubernetes/issues/73948 if you have any advice on intentions/workarounds

[2019-02-12 07:55] leakingtapan commented on #73773
How did you test the case that volume got silently replaced?

[2019-02-12 08:57] govindKAG commented on #69687
this cannot come any sooner

[2019-02-12 09:10] nb2019 commented on #72180
F0212 08:58:40.564539   17155 server.go:149] listen tcp 10.0.0.234:10250: bind: cannot assign requested address

[2019-02-12 09:10] nb2019 commented on #72180
节点启动kubelet 的时候报这个错误 是不是配置没有配置好
F0212 08:58:40.564539   17155 server.go:149] listen tcp 10.0.0.234:10250: bind: cannot assign requested address

[2019-02-12 09:19] GeorgeLung commented on #73886
@msau42

That's exactly it. From what I've read the PVC - PV binding is a one-to-one mapping and therefore to share a PV I have to share the PVC bound to it.

[2019-02-12 09:19] feiskyer commented on #73587
@wojtek-t The issue only exists if hyperkube is used when running kubelet, as hyperkube has imported the package `k8s.io/kubernetes/pkg/util/reflector/prometheus` for apiserver and controller-manager. If kubelet binary is used, then there're no reflector metrics (this is same with your findings).

Since the metrics is not exposed by kubelet cmd, what do you think of disabling it for kubelet subcom

[2019-02-12 09:20] hjacobs commented on #67577
For additional context (learned this yesterday): @hrzbrg (MyTaxi) contributed a flag to Kops to disable CPU throttling: https://github.com/kubernetes/kops/issues/5826

[2019-02-12 09:33] wojtek-t commented on #73587
+1

[2019-02-12 09:35] vdboor commented on #13488
Another use-case for this: due to a security issue in containerd I'd like to restart all the pods. https://seclists.org/oss-sec/2019/q1/119 Either the cluster goes completely down, or it does a rolling restart. Having a restart command would make a huge difference!

[2019-02-12 09:35] aermakov-zalando commented on #73587
@feiskyer Yes, we observe the same thing for apiserver and controller-manager as well.

[2019-02-12 09:45] aermakov-zalando commented on #73587
I would also suggest not using imports for side effects because this usually creates hard to debug and non-obvious problems like this.

[2019-02-12 10:02] jianzzz opened #73952 "Certificate request was not signed"
version： v1.13.1
create all cert and key following https://kubernetes.io/docs/setup/certificates/#configure-certificates-for-user-accounts.
k8s cluster is running within 3 masters node.

But:
kubelet log: certificate_manager.go:378] Certificate request was not signed: timed out waiting for the condition
csr pending: kubectl get csr
csr-wnqr9   35m     system:node:xxx.xxx.xxx.xxx   Pending

May I a

[2019-02-12 10:09] redbaron commented on #65816
/remove-lifecycle stale

[2019-02-12 10:09] dohnto commented on #63552
This would be beneficial.

What is the motivation for every Service of type `LoadBalancer` have `NodePort` anyway?

[2019-02-12 10:20] php-coder commented on #73921
Perhaps, it's because new user registration is closed a this moment:

From lwkd.info/2019/20190211

[2019-02-12 10:23] ahsan-storm commented on #57659
Any update on adding tolerations on kube-dns via kops?

[2019-02-12 10:30] huynq0911 commented on #73169
Hi @hengfengli , Can I take this?

[2019-02-12 10:37] jayunit100 commented on #73927
Yeah, there can be some crippling differences w/ different volume types, thats for sure :) ...

## Making it easier to troubleshoot vendor storage systems.

So, part of what is going on here is that the kubelet can be more explicit when mounting a volume about wether or not the ownership model is being modified and so on, I've started #73924  as an attempt at making the debugging process for this

[2019-02-12 10:44] gridcellcoder commented on #48609
That's a neat solution @msau42 do you know if it can work with `StatefulSets` https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/. This approach uses dynamically created PVC so is it possible to manipulate the `volumeClaimTemplates` to reuse disks?

[2019-02-12 11:18] jcperezamin commented on #72197
It seems working fine after update to 1.13.3

I0212 10:56:55.746904       1 graceful_termination.go:174] Deleting rs: 172.17.0.1:32139/TCP/10.233.94.60:135
I0212 11:02:21.319291       1 graceful_termination.go:160] Trying to delete rs: 10.233.60.68:135/TCP/10.233.94.72:135
I0212 11:02:21.319841       1 graceful_termination.go:174] Deleting rs: 10.233.60.68:135/TCP/10.233.94.72:135
I0212 11:02:21.3

[2019-02-12 11:34] AxeMaster99 commented on #18226
according to the docs, the kubelet skips the certificate verification when using https scheme:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

[2019-02-12 11:49] ahadas opened #73954 "Fine grained specification of CPU affinity"
**What would you like to be added**:
Enhance CPU placement (that is currently done by CPU manager when using the static policy) to take into account CPU affinity rules between subgroups of CPUs that are assigned to a pod.

**Why is this needed**:
Seems that CPU manager with the static policy generally assumes that the closer the CPUs of a container are the better it is. However, when the container

[2019-02-12 11:58] feiskyer commented on #73587
@aermakov-zalando So you mean disable the reflector metrics totally?

[2019-02-12 11:59] ahadas commented on #73954
@jeremyeder

[2019-02-12 12:15] subramanian-neelakantan opened #73955 "Consider caching the zone information for a datastore in vSphere"
**What happened**:
When creating a PV with the vSphere Cloud Provider (VCP), the volume plugin invokes vCenter Tag APIs to figure out the zone information for the newly created Volume. This computation happens each time a Volume is created on a datastore. This is a moderately heavy computation with multiple Tag API calls to the vCenter. This is a change proposed in PR 72687 and PR 72731 that fixes

[2019-02-12 12:16] subramanian-neelakantan commented on #73955
/sig vmware

[2019-02-12 12:16] sakarikl commented on #63570
/remove-lifecycle stale

[2019-02-12 12:44] pk044 opened #73956 "kubectl cp output: 'time stamp 2019-02-12 12:17:06 is 0.103301902 s in the future'"
**What happened**:
Copying a folder `/var/lib/pgsql/data` to a pod, e.g. postgresql-16-1-m7wjw results in the following error:
time stamp 2019-02-12 12:17:06 is 0.103301902 s in the future
**What you expected to happen**:

Successful file upload to a given pod.

**How to reproduce it (as minimally and precisely as possible)**:

`kubectl cp var/lib/pgsql/data/ myproject/postgresql-69-1-h7tln:/var/l

[2019-02-12 12:46] pk044 commented on #73956
/sig cli

[2019-02-12 13:02] ahadas commented on #73954
/sig node

[2019-02-12 13:14] mm4tt commented on #73461
Another failure - https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-killer/1631

RC that timed out:  test-xywpg1-1/small-rc-108

Scheduler logs for that RC
[code]

Nodes that were killed:
[code]

Looks like the node `65qn` was killed twice successively. The pod `small-rc-108-w6mgz` was scheduled on that node. To give the whole timeline:
[code]

Relevant

[2019-02-12 13:21] #73429 closed

[2019-02-12 13:26] aermakov-zalando commented on #73587
No, I suggest changing the code so that the end users (kubelet, apiserver, etc) would have to explicitly enable the metrics by calling a function instead of having this happen as a result of an import.

[2019-02-12 13:31] rcjsuen commented on #55946
I have a node with `NodeWithImpairedVolumes=true:NoSchedule` right now and while I got the general idea from #55558, it would be great to have this explained in the official documentation. Thanks!

[2019-02-12 13:40] mm4tt commented on #73461
As agreed with the team we should change the node-killer test to not kill the same node twice.

[2019-02-12 13:47] ChristopherHodge commented on #66750
+1 This should definitely exist if it doesn't already.  I don't see any suggestion here?

[2019-02-12 14:03] mariantalla commented on #73748
These are indeed passing consistently. Thanks for the fix! 💪

/close

[2019-02-12 14:03] #73748 closed

[2019-02-12 14:05] phanisowjanyavutukuri opened #73957 "my pod cant even ping google.com"

[2019-02-12 14:06] phanisowjanyavutukuri commented on #73957
I have followed the kubernetes-hard way to setup the cluster except the network part
I have installed weave net cni after that my container cant even ping google.com
but it can ping 8.8.8.8

[2019-02-12 14:22] wojtek-t opened #73958 "Lock contention in watchcache"
When running 5k-node clusters with high enough churn (visibly bumping churn of load test) it's possible to observe that watchcache start accumulating lag.
The problem seems to be related mostly to lock contention.

I'm treating this as an umbrella bug for now, will be pasting more information here and linking PRs with improvements to it.

[2019-02-12 14:24] wojtek-t commented on #73958
The first most obvious thing is that dispatchEvent() method is holding the lock for its whole time when it is running:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L652
However, add() methods it is calling are blocking. We obviously don't want to keep a lock while waiting for something else. Fix is coming.

[2019-02-12 14:35] mattjmcnaughton commented on #69490
@matthewfischer sounds like a great fix! Putting out a quick pr with this change now :)

[2019-02-12 14:40] naemono opened #73960 "kube-proxy fails to update master IPvS vip entries during master node recycle"
**What happened**:
We regularly cycle out master nodes in our clusters for various reasons, such as security updates, version upgrades, etc.  After upgrade to 1.13.1, we are noticing that various nodes within the cluster begin to fail to be able to communicate with any master node and we've traced the issue back to ipvs having far too many master nodes within the VIP.  (we have max of 3x master no

[2019-02-12 14:41] naemono commented on #73960
/sig network

[2019-02-12 15:03] Nayruden commented on #73570
We have a beefy system with minimal load and are seeing large latency from the api-server.

[code]

[code]

No logs I can find are suggestive of what the issue might be. Server has plenty of extra CPU, memory, and HDD I/O that's not being used.

[2019-02-12 15:27] glb commented on #27308
Tools like `gcloud` write new context entries to `$KUBECONFIG[0]` or `$HOME/.kube/config`, obscuring the multi-config solution and making it less likely that new users will be guided to do the suggested "right thing" of using multiple config files.

The workarounds suggested above using aliases are helpful but also broken because they introduce unpredictable behaviour across command-line usage and

[2019-02-12 15:28] wongma7 commented on #73773
isn't that the same thing? If the container is using /dev/sdb, the only way /dev/sdb can get reused is if it gets detached and something gets attached in its place. (my understanding is based on the comment in the code there ^)

[2019-02-12 15:28] jayunit100 commented on #73925
/sig node

[2019-02-12 15:29] tlbdk opened #73963 "fluentd-gcp in crash loop using all disk space on core dumps"
**What happened**:
fluentd-gcp when in to a crash loop and used all disk space.

Folder on node:

[code]

docker ps -s on node:

[code]

log from fluentd-gcp pod:

[code]

**Environment**:
tlbmac:node-integration f736trbe$ kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.7", GitCommit:"0c38c362511b20a098d7cd855f1314dad92c2780", GitTreeState:"clean", BuildDate:"

[2019-02-12 15:30] liggitt commented on #73133
We don't want to change the cluster configuration inside the tests.

It looks like to fix this, we need to update the release-1.12 (and maybe release-1.13) branches to run the 1.2 metadata-concealment test image if the cluster version is 1.14+

@kubernetes/sig-testing is making forward-looking changes to tests two releases old like this expected?

[2019-02-12 15:31] tlbdk commented on #73963
@kubernetes/sig-gcp-bugs

[2019-02-12 15:37] wongma7 commented on #73773
@leakingtapan I tried losetup locally, not really meant to be an exhaustive or accurate test, just trying to understand potential issue
[code]

from perspective of whoever had /dev/loop6 bindmounted contents has silently changed

[2019-02-12 16:12] msau42 commented on #48609
The Statefulset PVCs are generated with a fixed syntax: `statefulset-pvc-index` so when you manually create the PV, you can set the claimref and storageclass name to match the PVC that will be created.

[2019-02-12 16:13] liggitt commented on #73133
opened https://github.com/kubernetes/kubernetes/pull/73964 and https://github.com/kubernetes/kubernetes/pull/73965 to make these two e2e tests conditional in the release branches

[2019-02-12 16:13] liggitt commented on #73134
opened https://github.com/kubernetes/kubernetes/pull/73964 and https://github.com/kubernetes/kubernetes/pull/73965 to make these two e2e tests conditional in the release branches

[2019-02-12 16:19] msau42 commented on #73886
Hm I think the challenge would be how to spread the pvcs so that they are not all selected.  Is this something that could be handled by a webhook that can choose and then inject the PVC into the pod?

[2019-02-12 16:21] dvlato commented on #69699
In my case, they are taking a long time even when running under the root user with no fsGroup... It's clearly related to the files inside the EBS volume as the containers that mount it get stuck between "Created container" and "Started container" only if there are files (around 6 Million in this case) in the volume.

[2019-02-12 16:28] hkaj commented on #61717
Hi team,

I'm reaching out to see if we can revisit this feature. We need this to be able to monitor pods locally without having agents reach out to the apiserver. Currently the pod is in a wrong state (Pending when it's actually Running), and we're missing all status information (pod IP, container statuses, etc.).

We would be happy and willing to update https://github.com/kubernetes/kubernetes/p

[2019-02-12 16:29] msau42 commented on #73773
Ah thanks for detailing the steps. I had thought that the bind mount would still keep the reference to the original device but that does not seem to be the case.

[2019-02-12 16:54] dims opened #73967 "Unknown owner for kubernetes-announce ML"
[code]

cc @hoegaarden @justaugustus @tpepper @idvoretskyi

/sig contribex

[2019-02-12 17:03] gabordk commented on #49926
Same problem here, AWS, k8s version 1.13.0

[2019-02-12 17:13] fabifrank commented on #58908
Solved it by assigning deployments to nodes via `nodeSelector` (for example by hostname) so the pod is guaranteed to be available on a specific ip. If you're using `externalTrafficPolicy: Cluster` then obviously you're not able to handle source ip address in pods which may be critical in some cases (allow/deny etc..).

[2019-02-12 17:18] neolit123 commented on #73475
cc

[2019-02-12 17:49] mkimuram commented on #73773
@wongma7

Isn't the intention of ```AttachFileDevice``` something like below?
With below test, I see that /dev/loop6, or device, isn't deleted,
until /dev/loop7, or descriptor lock, is deleted.
(We should ideally test this with actual devices for supported drivers, not /dev/loop6.)

[code]

[2019-02-12 17:52] msau42 commented on #73773
Yes, I was asking if it's possible to remove that loopback "lock" and just use a bindmount to protect against this scenario.  But it doesn't seem possible.

[2019-02-12 17:57] Maftouhou commented on #43805
I came across to a solution by removing completely the version of Docker from the base repository of CentOS and installing the Docker from the official repository, as explained here: https://docs.docker.com/install/linux/docker-ce/centos/#install-using-the-repository

In fact, the CentOS based Docker comes with "systemd" as "cgroup-driver" (--cgroup-driver=systemd) in the "/etc/systemd/system/dock

[2019-02-12 18:10] adelina-t commented on #71949
/repoen

[2019-02-12 18:33] bclau commented on #71949
/reopen

[2019-02-12 18:42] michellemcone commented on #73414
@PatrickLang

What test cases are needed for `dnsConfig`, `hostname`, and `subdomain`? My thoughts were that [this test](https://github.com/kubernetes/kubernetes/blob/bb9a12d6f8875bed8e28d10a4351c96ab18f8247/test/e2e/network/dns.go#L254) covers `dnsPolicy=None` and `dnsConfig`. I'm adding test cases for Default and ClusterFirst.

Does [this test](https://github.com/kubernetes/kubernetes/blob/bb9a1

[2019-02-12 18:58] neolit123 commented on #73722
i got permission from SIG-CL chairs to remove this.
TODO today.

[2019-02-12 19:07] jiayingz commented on #64632
@PaulFurtado How is your extended resource exported on a node? Are they being exported by a device plugin or do you directly update your node objects? If it is the later case, do you have a central controller that may watch for node updates and re-export your resources?

[2019-02-12 19:18] msau42 commented on #73773
@bswartz @mkimuram @wongma7 and I discussed this in more detail today.  Summary:

* Let's move the publish call back to MapDevice so that it is called per pod and not per volume.  This is to be consistent with how NodePublish/Stage calls work for filesystem volumes. This may also require adding UnmapDevice to the BlockVolume interface
* We may need to clarify in the CSI spec the semantics around m

[2019-02-12 19:40] tallclair commented on #70816
IMO, the complete policy doesn't need to block the beta.

[2019-02-12 19:42] tallclair commented on #70816
Putting this in the v1.14 milestone to be consistent with the [enhancement tracker](https://github.com/kubernetes/enhancements/issues/600). If we think it's going to slip, we should update both.
/milestone v1.14

[2019-02-12 19:56] droslean opened #73969 "kubectl: Errors on duplicate keys of configMaps and secrets, should be output as string and not as []byte."
**What happened**:
[code]

**What you expected to happen**:
Human readable error output.

**Anything else we need to know?**:
The same is happening when in duplicate key while creating a `configMap` with binaries.
!!! The error output will be all the `[]byte` of the binary itself !!!

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[2019-02-12 20:00] droslean commented on #73969
/sig cli

[2019-02-12 20:02] droslean commented on #73969
/cc @soltysh

[2019-02-12 20:08] daparthi001 opened #73971 "unable to reach istio sidecar with 443"
cat /etc/systemd/system/kube-apiserver.service
[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota

[2019-02-12 20:11] verult opened #73972 "Slow volume attach for single ReadOnlyMany volume across multiple nodes"
**What happened**: A GCE PD volume is used in read-only mode (through a PVC & PV pair in ReadOnlyMany mode) by over 100 pods running across tens of nodes. Volume attachment sometimes takes over 30min for some of these pods.

**What you expected to happen**: Attaching should take seconds instead of minutes.

**How to reproduce it (as minimally and precisely as possible)**:
* Provision a read-only G

[2019-02-12 20:22] hengfengli commented on #73169
@huynq0911 Sure, no problem.

[2019-02-12 20:30] #73722 closed

[2019-02-12 20:52] bsalamat commented on #73861
@jolson490 The scheduler preemption is capable of evicting more than one pod from a single node if needed.
Without having access to logs, it is hard to say why it didn't evict more than one pod in your case, but the most common scenario is when the pending pod cannot be scheduled even after lower priority pods are removed. For example, because the pending pod is so large that it still does not fit

[2019-02-12 21:09] mkenigs commented on #68201
Where's the script?

[2019-02-12 21:34] kow3ns commented on #72555
/remove-sig scalability

[2019-02-12 21:38] kow3ns commented on #72555
We are unlikely to implement this feature in StatefulSet controller as the semantics conflict in a backward incompatible way. Also, the use case isn't general enough. We'd encourage the contribution of a community operator for Redis that orchestrates that workload specifically. Take a look at [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) if you'd like to make such a contribution.

[2019-02-12 21:38] #72555 closed

[2019-02-12 21:43] jayunit100 opened #73975 "Add an event update to kubelet volume mount events"
follow on to #73924
**What would you like to be added**:

Add an event notification for published volumes and the permission operation

**Why is this needed**:

For troubleshooting vendor storage implementations that mount differently/erroneously.

cc @gnufied

[2019-02-12 21:43] jayunit100 commented on #73975
/sig node

[2019-02-12 21:47] kow3ns commented on #72231
/close
Available means that the Pods have been Ready for at least minReadySeconds. Replicas refers to the total number of replicas which is 8. If you're readiness check failed for some reason that could explain the discrepancy, but the Pods were not terminated by a RollingUpdate.

[2019-02-12 21:47] #72231 closed

[2019-02-12 21:50] dims commented on #68201
Whoops! https://gist.github.com/dims/384dea60754042f61d79233603034038

[2019-02-12 22:19] davidz627 commented on #73972
Even though the calls are serialized I wouldn't expect `100` serialized attaches to take `>30mins`. Could there be something else at play here? Are we hitting some sort of error case and exponential backoff-ing when we shouldn't be? I would assume that follow-on attaches are basically a no-op and completed very quickly the first time

[2019-02-12 22:25] davidz627 commented on #73972
Looking here the re-attach is basically a no-op: https://github.com/kubernetes/kubernetes/blob/2981fb7a0171798184b4f860b07870de0ff7b234/pkg/volume/gcepd/attacher.go#L96
although this call in order to determine whether the disk is already attached is pretty hefty and i've seen issues with it in the past: https://github.com/kubernetes/kubernetes/blob/2981fb7a0171798184b4f860b07870de0ff7b234/pkg/volu

[2019-02-12 22:41] jayunit100 commented on #73975
cc @gnufied  , possibly we can combine it into the above PR, but after looking, - looks like MountDevice doesnt actually have a payload other then `error`, which obviously we cant overload.   or , is there a better way to get the mount results returned back to the eventing message you  mentioned ?

[2019-02-12 23:09] gnufied commented on #73972
Yeah, it would be interesting to see controller-manager logs for just that particular volume when this happened. It should also be possible to grab controller-manager operation metrics which should tell us if attach itself is taking time or simply attach not being called. This is the time when I guess - total operation metric would have been more useful.

[2019-02-12 23:09] benmoss commented on #73489
relevant: https://github.com/kubernetes/kubernetes/pull/73659

[2019-02-12 23:11] andyleap commented on #70458
We just had this same issue happen.  Out of order node selector values caused the pods to be terminated as soon as they were started.  Sorting the values list fixed the issue

[2019-02-12 23:19] #66509 closed

[2019-02-12 23:47] verult commented on #73972
@davidz627 in the case we are seeing, because there's a large number of nodes, the number of replicas scheduled per node is likely pretty low, so re-attach is not the common case. I agree though that an average of 18s per attach call still doesn't feel quite right and there might be another error at play here. Per @gnufied 's suggestions I'll take a look at operation latency.

Regardless of whethe

[2019-02-12 23:56] droyo commented on #73972
Looking at the `DiskIsAttached` method, it looks up the instance and searches its `disk` member.

In the GCE API, the [`disks.get`](https://cloud.google.com/compute/docs/reference/rest/v1/disks/get) method returns an object with a `users` array containing all instances that have the disk attached. A sensible fix would be to call this method instead and cache the results.

[2019-02-13 01:29] #72931 closed

[2019-02-13 01:34] WanLinghao commented on #73570
To confirm,  is the etcd pod the backend of the cluster?

[2019-02-13 02:03] PatrickLang commented on #63051
/remove-lifecycle rotten

[2019-02-13 02:17] pjh commented on #73475
This is fine for us, we're using Docker 18.09 by default for Windows containers on GCE.

[2019-02-13 02:25] PaulFurtado commented on #64632
When the host is first configured, our configuration management system running on the node starts the kubelet service, waits for kubelet to register itself in the API by polling and then patches the node capacity directly.

We do not have a central controller to rexport the resources. It also sounds like watching and rexporting is not sufficient, since the value would still hit zero for some brief

[2019-02-13 02:46] dlipovetsky opened #73986 "Distribute debugging symbols for every binary in a Kubernetes release"
**What would you like to be added**:
Distribute the debugging symbols generated when building every binary (e.g. kube-apiserver, kube-scheduler, kube-controller-manager, etc) in a Kubernetes release.

**Why is this needed**:
To allow debugging of official Kubernetes binaries "in situ," i.e., in a cluster that is already deployed. Currently, end users who want to debug "in situ" have to [build and

[2019-02-13 02:50] dlipovetsky commented on #73986
@kubernetes/sig-release-feature-requests

[2019-02-13 03:42] cliffburdick commented on #70685
I believe this works. I read somewhere only the api server and controller needed the feature gate, but kubelet needs it as well. Once that was added, it worked.

[2019-02-13 03:45] mzyfree commented on #73658
After read source code and kube-proxy log-5 info,I find that kube-proxy and ingress-nginx-controller depend on each other.kube-proxy is depending on ingress-nginx-controller daemonset endpoints exsit to iptables-restore local rules,otherwise it uses KUBE-MARK-DROP Chains(it does not exist in ipv6 so ip6tables-restore failed).And ingress-nginx-controller is depending on kube-proxy restoring DNAT to

[2019-02-13 03:55] randmonkey commented on #73702
/assign

[2019-02-13 04:14] tellxp commented on #71649
sometimes, when i use kubectl top node
[code]
Error was promoted.
Continue to execute kubectl top node, I'll get status.

[2019-02-13 04:41] feiskyer commented on #73587
LGTM. @wojtek-t @derekwaynecarr @yujuhong WDYT? We should probably do this for both kubelet and control plane services (apiserver and controller-manager).

[2019-02-13 04:45] globervinodhn opened #73993 "PreStop process is not completed when within termination grace period"
Once a DELETE API call is made to the running pod, the pod is terminated as soon as the main command finishes executing. As a result, the preStop hook does complete gracefully when the execution time is well within the termination grace period.

**What happened**:
Quoting the comment (https://github.com/kubernetes/kubernetes/issues/55807#issuecomment-459723439) from #55807,

**When** `t(ContainerP

[2019-02-13 05:01] KevinWang15 opened #73994 "resource.Quantity: problematic MarshalJSON with scale <= -10"
**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Just run the code above.

**Anything else we need to know?**:
This bug is caused by `quantitySuffixer.constructBytes` failing to work with an `exponent` of `-12`. It wants to return **100[pico](https://en.wikipedia.org/wiki/Pico-)** but there is no such suffix, so i

[2019-02-13 05:09] globervinodhn commented on #73993
/sig bugs

[2019-02-13 05:48] gyuho commented on #71508
Any updates?

[2019-02-13 06:22] smourapina opened #73999 "Master-blocking failing tests: verify.godeps and verify.staging-godeps"
**Which jobs are failing**:
* [verify-master](https://testgrid.k8s.io/sig-release-master-blocking#verify-master)

**Which test(s) are failing**:

Job | Test | Reason for failure
--- | --- | ---
[verify-master](https://testgrid.k8s.io/sig-release-master-blocking#verify-master) | [verify.godeps](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/26819) | `Your vendor

[2019-02-13 06:22] jiayingz commented on #64632
Can the configuration management system re-patch node capacity after each Kubelet registration?

[2019-02-13 06:42] PaulFurtado commented on #64632
The kubelet service can restart at any time, whether the config management system is currently configuring the system or not. Ex: kubelet could get OOM-killed, crash, fail healthchecks, etc. If every kubelet restart is a kubelet registration, then no, unless we made the kubelet service also launch a script every time it restarts.

So lets say that we hypothetically did configure a script to re-pat

[2019-02-13 06:52] kaveri-s-miq commented on #65044
@napat1412 Hey, we had faced the same issue some time back. This issue is resolved in kubernetes 1.11. One keynote would be to make sure the worker node ami version is also upgraded to 1.11. That will most likely solve your issue.

[2019-02-13 07:13] wojtek-t commented on #71060
Given that we migrated to the ClusterLoader framework in the menatime, I'm closing this one.

[2019-02-13 07:13] #71060 closed

[2019-02-13 07:13] wojtek-t commented on #73587
I'm fine with that.

[2019-02-13 07:26] chaitaliSaini commented on #61581
Hi @lz000, can you share the error you found in your config?

[2019-02-13 07:59] mitar commented on #66689
I use the following hack to assure service account is ready:

[code]

[2019-02-13 08:01] jorhett commented on #66689
I do a similar hack. They we all must hack is the problem...

[2019-02-13 08:05] danielqsj commented on #73994
/assign

[2019-02-13 08:13] trungnvfet commented on #73921
Still down due to attack.
[code]

[2019-02-13 08:18] mm4tt opened #74003 "kube-proxy.log is spammed with 'Error while parsing EndpointsLastChangeTriggerTimeAnnotation' logs"
**What happened**:
The kube-proxy.log is full of the following log lines:
W0213 00:00:40.381140       1 endpoints.go:166] Error while parsing EndpointsLastChangeTriggerTimeAnnotation: ''. Error is parsing time "" as "2006-01-02T15:04:05.999999999Z07:00": cannot parse "" as "2006"

This is caused by the recent merge of https://github.com/kubernetes/kubernetes/pull/71999

**What you expected to happ

[2019-02-13 08:20] mm4tt commented on #74003
This was caused by https://github.com/kubernetes/kubernetes/pull/71999 so assigning sig/scalability

/sig scalability
@kubernetes/sig-scalability

[2019-02-13 08:27] ryianyang opened #74005 "kubectl get pod: No resources found"
**What happened**:
I create deployment by a simple centos pod, the deployment can create succeed,but kubectl get pod: No resources found
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
the deployment,configmap, svc,sa etc. all can create successful and Etcd cluster is health, master 's service (apiserver,sched

[2019-02-13 08:28] njxiaohan commented on #73347
@13567436138 I met the same problem,how did you fix it ?

[2019-02-13 08:30] ryianyang commented on #74005
/kind bug

[2019-02-13 08:31] JishanXing commented on #73843
I cannot reproduce this issue use the latest kube-scheduler built from today's code. @lynx-coding

[2019-02-13 08:36] s-ito-ts opened #74007 "Adding e2e test for scale sub-resource of statefulsets"
**What would you like to be added**:

e2e test suites for:
- GET /apis/apps/v1/namespaces/{namespace}/statefulsets/{name}/scale
- PUT /apis/apps/v1/namespaces/{namespace}/statefulsets/{name}/scale

**Why is this needed**:
PR#53679 has already been merged, but the following tests are still commented out.
Therefore, scale sub-resource of statefulsets is not tested and test should be added.

test/e2e

[2019-02-13 08:44] #70566 closed

[2019-02-13 08:45] armantur commented on #60134
Faced the same issue on 4.14.94-89.73.amzn2.x86_64

[2019-02-13 08:54] trungnvfet commented on #74005
I think you should try with --all-namespaces and/or -n <name_of_namespaces> in the kubectl command.

[2019-02-13 08:58] ccdezt commented on #29540
This solution by @mugdhaadhav also worked for me.

[2019-02-13 09:04] wtan825 commented on #51785
@dimitris-zervas
Kubernetes
`
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a77f539a4213ea", GitTreeState:"clean", BuildDate:"2018-11-26T14:41:50Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a77f539a4213e

[2019-02-13 09:18] zetaab commented on #73444
@idvoretskyi is there possibility to somehow solve this issue? We have been now waiting for this over 2 weeks. All development in case of KOPS is on hold. In my opinion this is not very good situation, of course we could just skip aws e2e tests, but then there is possibility that we end up to production problems. There is issue like CVE problems, that we should somehow merge to releases but we can

[2019-02-13 09:23] hoegaarden commented on #71677
[#73930 - bazel: initial support for cross-compilation](https://github.com/kubernetes/kubernetes/pull/73930) might also be interesting to you all.

[2019-02-13 09:29] #68713 closed

[2019-02-13 09:31] wtan825 commented on #51785
This works. https://bugzilla.redhat.com/show_bug.cgi?id=1608288

[2019-02-13 09:44] #72482 closed

[2019-02-13 09:46] mm4tt opened #74011 "Expose kube-proxy metrics on 0.0.0.0"
**What would you like to be added**:
We'd like to change the Kube Proxy MetricsBindAddress default from 127.0.0.1 to 0.0.0.0.

**Why is this needed**:
Currently the kube-proxy metrics are exposed by default on 127.0.0.1 interface. It makes it impossible to export kube proxy metrics to prometheus server via prometheus operator.
I've sent https://github.com/kubernetes/test-infra/pull/11281 to change

[2019-02-13 09:46] mm4tt commented on #74011
/assign @freehan
@wojtek-t

[2019-02-13 09:59] xiaoxubeii commented on #73843
It duplicates #72916 and the pr is #73711.

[2019-02-13 10:00] tnozicka commented on #56071
/unassign

[2019-02-13 10:36] desaintmartin commented on #73887
Out of curiosity, what is your IaaS provider? I had such issues when the control plane of OpenStack of my provider was too overloaded to answer in a timely fashion.

[2019-02-13 11:05] #74003 closed

[2019-02-13 11:44] linux17kartik commented on #59867
I have upgrade to 1.13.0 form 8, and able to delete statefulset.
kubectl delete statefulsets <statefulset-name>

[2019-02-13 12:14] idvoretskyi commented on #73444
@zetaab Shyam @shyamjvs is able to provide more details on this issue.

[2019-02-13 13:26] mattjmcnaughton commented on #73808
A documentation fix has been merged up in https://github.com/kubernetes/website/pull/12564, so I think we can close this issue.

[2019-02-13 13:32] danwinship commented on #73702
The CNI portmap plugin does have support for `hostIP`:

                if entry.HostIP != "" {
                        ruleBase = append(ruleBase,
                                "-d", entry.HostIP)
                }

It might be a bug in your network plugin? (That it isn't passing the hostIP to the portmap plugin.)

[2019-02-13 14:25] liggitt commented on #70890
/assign @tallclair
/priority important-soon

[2019-02-13 14:28] jbartosik commented on #73045
@foxish the test has been consitently passing for 4 days now, please close this issue (I can't).

[2019-02-13 14:56] Ramyak commented on #73867
/assign roberthbailey

[2019-02-13 14:59] pksingh12 commented on #10921
any update on this issue?

[2019-02-13 15:22] jwlogemann opened #74019 "Can't start pods in Windows Server 2019"
**What happened**:

Trying to start a container on a windows node results in an error "The container operating system does not match the host operating system."

**What you expected to happen**:

Pod should start

**How to reproduce it (as minimally and precisely as possible)**:
Try to deploy an application based on nanoserver:1809 to a node running windows server 2019 (also 1809)

**Anything else

[2019-02-13 15:47] tnozicka opened #74022 "WATCH from RV "" or "0" breaks watch order invariant"
**What happened**:
This stems from discussions in https://github.com/kubernetes/kubernetes/pull/67350#discussion_r256083071

WATCH calls starting at `""` or `"0"` are fundamentally broken and produce invalid output of events not ordered by resource version. This mean when the WATCH is interrupted during this phase and client restarts from last resource version it saw it can either receive some eve

[2019-02-13 15:58] zerthimon commented on #73702
@danwinship How can I check if it's a bug in a CNI plugin ? (I'm using weave-net)

[2019-02-13 16:17] lokalan commented on #69579
I'm going to piggyback on this issue since it's the only item I found regarding invalid data being written to etcd.

We recently encountered an issue with the `kubectl get nodes` command failing with a `Error from server: couldn't get version/kind; json parse error: invalid character 'b' looking for beginning of value` error.

We finally traced it down to a `node` entry in etcd with invalid JSON i

[2019-02-13 16:22] redbaron commented on #70010
/remove-lifecycle stale

[2019-02-13 16:26] jmcdonagh commented on #33664
Reading more into it I see why it's considered a bad practice. Bunch of cases where different versions could be deployed accidentally... for small shops like ours I don't think those cases are very frequent.

[2019-02-13 16:35] skydoctor commented on #27140
This would be very useful IMO. @verb: Any recent work on getting debug containers in to running pods?

[2019-02-13 16:36] danwinship commented on #73702
my bad, it turns out this is a kubernetes bug after all: #62112. there's a PR filed so hopefully it should get fixed...
/close

[2019-02-13 16:36] #73702 closed

[2019-02-13 16:50] serbaut commented on #56903
@brb Tested with 5.0.0-rc6 the error rate has gone down to zero!

[2019-02-13 17:19] idvoretskyi commented on #73444
Status update: we are actively working with AWS to resolve the issue. It is currently unsolved, but hopefully, we'll have more details later today.

[2019-02-13 17:25] yujuhong commented on #73587
+1

[2019-02-13 17:25] lavalamp commented on #74022
We have not offered that guarantee in the past.

I will tell everyone who will listen that you should really do a list and then a watch, if you want any sort of guarantee.

I think the actual way to fix this is not by sorting but by sending a "barrier" type message when the initial list is complete. The BOOKMARK type that @wojtek-t is about to add is 95% of what is needed.

[2019-02-13 17:26] lavalamp commented on #74022
Why is this marked critical-urgent? The system has operated this way for ~4 years.

[2019-02-13 17:26] zerthimon commented on #62112
Hit this issue in ref above, is this going to be merged any time soon ?

[2019-02-13 17:31] liggitt commented on #74022
if we don't intend to make watch events starting from rv=0 work properly, I think we should deprecate it and start the clock on removal rather than try to fix up with a new concept.

agree it's not urgent

[2019-02-13 17:33] djupudga commented on #22368
Hi, this is probably a dumb idea, but what about adding the ability to inline a config map in a deployment and like, call it `configmapTemplate` or something? Then it would be very apparent that the deployment controller is in control of the config map lifecycle. I believe (probably wrong though), that this is done with persistent volume claims in daemon sets.

For big config maps (this is an even

[2019-02-13 17:38] lavalamp commented on #74022
I'd love to do this. We should never have had anything meaningful relying on that behavior.

That said, the BOOKMARK seems uncontroversial and easy, and can fix this problem with a minor change (always send one when the initial list is complete, instruct clients that their state is neither complete nor resumable until they see a bookmark).

[2019-02-13 17:39] lavalamp commented on #74022
With that change, there'd no longer be a benefit or reason to use separate list / watch calls, so it's probably better overall.

[2019-02-13 17:42] verb commented on #27140
@skydoctor Yes, we've been working on the API in #59416 and I've just opened a KEP kubernetes/enhancements#830.

kubernetes/enhancement#277 would be a good issue to follow for updates.

[2019-02-13 17:46] immuzz commented on #73418
FYI I'm working on this and running ResourceQuota tests against Windows. I'll post updates. @PatrickLang

[2019-02-13 17:49] liggitt commented on #74022
allowing watch from 0 for a bookmark-aware client could be useful. allowing it from a non-bookmark aware client still seems problematic.

[2019-02-13 17:56] lavalamp commented on #74022
We could deprecate its usage if AllowBookmarks is not set to true?

On Wed, Feb 13, 2019 at 9:50 AM Jordan Liggitt <notifications@github.com>
wrote:

[2019-02-13 18:30] mourya007 commented on #69836
@liggitt @mikedanese Is this issue still exist, If here is anything where I can Contribute?

[2019-02-13 18:33] tnozicka commented on #74022
I couldn't find any disclaimer in the API that you loose ordering based on RV value given to WATCH.

The general RV ordering is implied by:
- **the need to re-start from last RV**
- [claiming it is a stream of changes made to an object](https://github.com/kubernetes/community/blame/3f8bf88a06a114b3984417d6867bb16506c9c71e/contributors/design-proposals/multicluster/cluster-registry/api-design.md#L8

[2019-02-13 18:36] squeed commented on #74011
+1 - one of those things I was so surprised I had to configure.

[2019-02-13 18:37] squeed commented on #73762
what is the result of `kubectl get endpoints`?

[2019-02-13 18:43] squeed commented on #73760
For dual-stack purposes, selecing the "first" IP of any type is ultimately bound to be limiting. Do we have any precedent in the downwards API for returning multiple values.?

[2019-02-13 18:50] prameshj commented on #73960
@m1093782566 Can you take a look?

[2019-02-13 19:12] tnozicka commented on #74022
I don't really care and the naming of our priorities is a bit misleading, but returning invalid data from a base API call seemed like a top priority (or at least severity). Said it had to be worked on as someone top priority, and I was ready to fix it, Jordan was faster. Feel free to adjust it.

[2019-02-13 19:27] jiayingz commented on #64632
Sigh, this is the deficiency we documented in https://docs.google.com/document/d/1rYE_jcUjQUqWb-ZRJpG_FLDxOWp5mjOGKGE59HLYGNk/edit#bookmark=id.pdiemvs0wj6z
Unfortunately, I couldn't think of a clean solution without API change.

One thing we may consider is to instead of zeroing out extended resource capacity, we delete them. Because we are currently taking an open policy on extended resource admi

[2019-02-13 19:31] wojtek-t commented on #74022
+100 for deprecating entirely watch with rv=0
I think that semantic isn't particularly useful, and the fact that we send those initial events at the beginning makes it completely different from all other watchers.
I agree that bookmark may help with that, but I actually still think we should deprecate it - I think noone should be using that.

[2019-02-13 19:34] leuvataral commented on #73760
I agree it is very limiting. Especially when using a cloud kubernetes cluster where the InternalIP of the node is different than ExternalIP.
ExternalIP is externally accessible but InternalIP is not.

[2019-02-13 19:40] wojtek-t commented on #74011
@kubernetes/sig-network-feature-requests

@bowei @thockin - thoughts? Is there any reason (other than historical) that it isn't exposed?

[2019-02-13 19:51] derekwaynecarr commented on #73587
+1

[2019-02-13 19:57] AndrewSav commented on #13136
/remove-lifecycle stale.

[2019-02-13 19:58] AndrewSav commented on #13136
/remove-lifecycle stale

[2019-02-13 19:58] jiayingz commented on #64632
Note for the first mentioned workaround, i.e., instead of zeroing out extended resource capacity, we delete them, I think we will rely on https://github.com/kubernetes/kubernetes/pull/73824 to re-populate device plugin resource runtime states during container restart retries. This is not ideal but we already need this to handle the edge cases that node API object may get deleted but pods are still

[2019-02-13 20:03] neolit123 commented on #74019
/sig windows

you can try sending a message to the SIG windows mailing list to notify about this problem:
https://github.com/kubernetes/community/tree/master/sig-windows

[2019-02-13 20:06] shyamjvs commented on #73444
Sorry for delay.. had to pull a bunch of strings internally. We discussed this in a meeting today and have clear action items currently being worked upon, to get account activated and payments approved. The situation got complicated because of missing multiple payments and neglecting communication for multiple months.

Expect another update by tomorrow morning PST.

[2019-02-13 20:07] neolit123 commented on #74005
/remove-kind bug
/priority awaiting-more-evidence.
/triage support

[2019-02-13 20:10] neolit123 commented on #73993
/sig scheduling

[2019-02-13 20:12] neolit123 commented on #74019
/close

[2019-02-13 20:12] #74019 closed

[2019-02-13 20:40] #59110 closed

[2019-02-13 20:41] bilalcaliskan commented on #70984
https://kubernetes.io/docs/setup/independent/kubelet-integration/

[2019-02-13 21:18] nomcopter commented on #19077
/remove-lifecycle stale

[2019-02-13 21:23] lavalamp commented on #74022
I can understand how this is a surprise given the documentation we have; I would prefer to clearly document the behavior of RV=0 (and deprecate it) over adding an expensive sort.

cc @jpbetz

[2019-02-13 21:32] spstarr commented on #32616
No, this is not addressed:

Case in point:

If i have a secret called foobar, with data:  mypassword

If i have a configMap:

[code]
We can't use Helm here, especially if you want the secret generated once, there's hacks and they don't handle upgrades..

Reason?

If you make your secrets

[code]
Fails, because Helm doesn't know about global variables (no im not talking about values.yaml either).

[2019-02-13 21:32] oomichi opened #74038 "e2e tests of PV Protection are failed flakily"
**What happened**:

The preparation step of the e2e tests were failed sometimes on my local environment like
[code]

**What you expected to happen**:

These tests can be passed without any errors.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.13.1
- Cloud provider or

[2019-02-13 21:34] oomichi commented on #74038
/sig storage

[2019-02-13 21:43] PaulFurtado commented on #64632
Unfortunately, I couldn't think of a clean solution without API change.

The effect of this change as it stands is that kubernetes users run the risk of having 100% of pods in their cluster completely wiped out with no respect for PDB, terminationGracePeriodSeconds, and preStop hooks just by restarting the kubelet processes. This really feels like a critical bug that has much worse consequences th

[2019-02-13 21:45] tedyu opened #74039 "Metrics for disruption-recheck cannot be registered"
**What happened**:
From https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/74032/pull-kubernetes-integration/44715/ :

[code]

**What you expected to happen**:
Metrics should register successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Run kubernetes-integration test

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwa

[2019-02-13 21:48] tedyu commented on #74039
@kubernetes/sig-metrics

[2019-02-13 21:53] Wanl23 commented on #34395
Thank you, man. It is solved my problem.

[2019-02-13 22:00] jiayingz commented on #64632
On Wed, Feb 13, 2019 at 1:44 PM Paul Furtado <notifications@github.com> wrote:

It shouldn't. Scheduler does its bookkeeping based on the current
state. It would see three pods are already assigned to the node and
wouldn't assign more.

Kubelet would still zero out the resource to prevent further pods
being scheduled on the node till the resource is ready and device
plugin re-registers.
However, i

[2019-02-13 22:23] alculquicondor commented on #39758
@kargakis could you reopen this as it seems to be still relevant?

[2019-02-13 22:43] jennybuckley commented on #73723
/wg apply

[2019-02-13 22:47] jennybuckley commented on #65925
/wg apply

[2019-02-13 22:49] jennybuckley commented on #65925
I looked at all the custom storage implementations, and it seems like service is the only one which will not honor forceAllowCreate. Also scale, but people shouldn't be able to create an object by updating the scale anyway, so I think it's acceptable.

We should probably find a way to write a test that makes sure they all honor it though.

[2019-02-13 23:08] dashpole commented on #61717
I think as long as we fix the test failures the change caused, we can re-introduce it.  Feel free to assign me on a PR which accomplishes this, and make sure the reboot test passes.

[2019-02-13 23:59] blakebarnett commented on #72044
We're seeing this frequently with CronJobs pods also.

[2019-02-14 00:10] mbrancato commented on #61946
Since @liggitt has proposed a different approach, I wanted to discuss it in the original issue for clarity.

I do not believe we should not favor the use of `HOMEDRIVE/HOMEPATH` at all as is proposed with #73923 here: https://github.com/kubernetes/kubernetes/blob/1321ca7511a1b332449cadb21a274b054acca56d/staging/src/k8s.io/client-go/util/homedir/homedir.go#L43-L48

Based on the use-case raised by @

[2019-02-14 00:13] idvoretskyi commented on #73444
Thanks @shyamjvs

[2019-02-14 00:27] scw00 commented on #62434
Hi

Is there any solution here ?

[2019-02-14 00:38] nomcopter commented on #51096
Seeing this issue in GCP as well. Not sure where this stall is coming from.

[2019-02-14 01:03] scw00 commented on #62434
kindly ping @psaini79

[2019-02-14 01:27] grantcurell commented on #73570
@WanLinghao correct

[2019-02-14 01:31] #70750 closed

[2019-02-14 01:31] #73712 closed

[2019-02-14 01:41] WanLinghao commented on #73570
Please check if the ectd pod has something wrong by:
`kubectl logs etcd-server1.lan -n kube-system`

[2019-02-14 01:45] cam-cen commented on #60295
/remove-lifecycle stale

[2019-02-14 01:49] danwinship commented on #73765
Yes. If you used some sort of handy-dandy all-in-one kubernetes cluster installer tool, then something went wrong with that and you should seek help there. Otherwise, if you assembled the cluster by hand, then something went wrong with how you installed your network plugin and you should seek help there.

[2019-02-14 01:50] verult commented on #73972
@droyo sorry I don't quite follow - why is `DiskIsAttached` involved? Is your suggest an attempt to reduce per-attach latency?

@saad-ali and @msau42 proposed a fix of adding an extra `node` parameter to identify each attach goroutine, which is only set if the volume is Read*Many.

[2019-02-14 01:55] danwinship commented on #73762
`iptables -L` doesn't provide the information in a very useful way. Can you give the output of `iptables-save` instead?

[2019-02-14 02:04] wubigo opened #74046 "Can't find 'docker' in PATH when build v1.13.3"
@kubernetes/sig-release

**What happened**:
bigo@bigo-vm1:~/go/src/k8s.io/kubernetes$ ./build/run.sh make quick-release
+++ [0214 09:29:44] Verifying Prerequisites....

PATH=/home/bigo/bin:/home/bigo/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/bigo/go/bin:/usr/lib/go-1.11/bin/

+++ [0214 09:29:46] Building Docker image kube-bu

[2019-02-14 02:09] liggitt commented on #73134
latest run passed: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master-parallel/1107

/close

[2019-02-14 02:09] #73134 closed

[2019-02-14 02:09] liggitt commented on #73133
latest run passed: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master-parallel/1107

/close

[2019-02-14 02:09] #73133 closed

[2019-02-14 02:11] danwinship commented on #59044
Presumably you are talking about using the "macvlan" plugin from the CNI reference plugins? That is not part of kubernetes itself, that is part of a separate project, http://github.com/containernetworking/plugins/.

And the behavior your are describing is expected in that case: in the bridge case, traffic from the pod goes:

[code]
while in the macvlan case it goes
[code]

iptables rules exist onl

[2019-02-14 02:11] #59044 closed

[2019-02-14 02:27] jingxu97 commented on #73972
I think @droyo suggests to change the implementation of https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce_disks.go#L580
Currently, it tries to getinstances and check the disk from the instance. The other option is to use getdisk API to verify whether disk is attached to the node. I am not sure how much performance differences between these two.

[2019-02-14 02:39] gnufied opened #74049 "Volume resize tests are failing in multizone and alpha environment"
Alpha environment tests are failing - https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-enabled-default/6876

The root cause of the tests failing in alpha environment appears to be:

[code]

So basically kubelet is not allowed to update PVC. Which is weird. Need to investigate further.

Also for multizone environment - https://gubernator.k8s.io/build/kubernete

[2019-02-14 02:39] msau42 commented on #73972
The problem we see in this issue is related to attach though, not verify attached.  Are you thinking that too many verify attach calls is slowing down attach too?

[2019-02-14 02:42] jingxu97 commented on #73972
Attach call first call DiskIsAttach to see whether it is already attached or not.

[2019-02-14 02:43] msau42 commented on #74049
For multizone failure it looks like the pod has a node selector that conflicts with the zone where the PV was provisioned

[2019-02-14 02:53] gnufied commented on #73972
If we do plan to serialize operations on node+volume combination, we also have to fix https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L264 which will again try to serialize operations based on volume name.

[2019-02-14 02:57] verult commented on #73972
An update on the fix to parallelize by adding a node parameter - it's simple to figure out the access mode for PVCs, but harder for inline volumes. I'm not aware of a way for inline volumes to specify access modes, and "readonly" (which many volume sources have) is not equivalent to "available to multiple modes".

[2019-02-14 03:02] verult commented on #73972
Option 1: have a util function called `isAcessModeMany(spec)` or something like that, where for each volume plugin, if we don't currently have the knowledge of the plugin's behavior w.r.t the availability to multiple nodes, we default to `false` for the time being, and ask each plugin owner to set it appropriately if they want to take advantage of this parallelized attach.

Option 2: Don't have th

[2019-02-14 03:06] #73999 closed

[2019-02-14 03:17] junneyang commented on #67572
+1

[2019-02-14 03:18] luoyan35714 opened #74052 "HPA should work when configured multiple metrics but some of the metrics cannot be get"
/sig autoscaling

HPA should work when configured multiple metrics but some of the metrics cannot be get.

The HPA supported multiple metrics, so i deployed like this
[code]

The cpu utilization metric depend on the metrics server, the http_requests metric depend on the custom metrics server.
But if one of the metrics server or custom metrics server not works, then the hpa will cannot get the metr

[2019-02-14 03:27] Pingan2017 commented on #73948
same issue !
Maybe we can add a whitelist of extended resources to avoid this problem.
/cc @yujuhong @derekwaynecarr @kubernetes/sig-node-bugs
If this idea can be accepted, I am glad to work on this.

[2019-02-14 03:31] msau42 commented on #73972
Option 2 sounds very risky.

Does read-only many even work for inline volumes?

[2019-02-14 03:33] gnufied commented on #74049
I think failures on alpha cluster is related to generated api code:

[code]

Obviously none of the PVC patch code sets this stuff and yet is showing up in object diff. I am wondering why. cc @liggitt

[2019-02-14 03:36] droyo commented on #73972
Sorry for not being clear in my earlier comment. My comment was in response to @davidz627 's observation that `DiskIsAttached` is the heaviest part of re-attaching a disk that is already attached.

My point was that if you have one disk and many GCE instances, it is much faster to use `disks.get` to get the disk and check all instances against its `users` array, than making a separate API call for

[2019-02-14 03:40] liggitt commented on #74049
/wg apply
/cc @apelisse @jennybuckley

[2019-02-14 03:40] sarjeet2013 commented on #69843
/remove-lifecycle stale

[2019-02-14 03:42] gnufied commented on #74049
It looks like we may have to reset `ManagedField` field before comparing PVCs for admitting them as well.

[2019-02-14 03:47] apelisse commented on #74049
Yeah, server side apply has added an alpha feature to live apiserver that
allows to track ownership of fields. This is what you see in the
managedFields field. It’s automatically added when objects are modified. If
you want to compare your object against a staticly compiled expected
object, you should be emptying /setting it to nil.

On Wed, Feb 13, 2019 at 7:42 PM Hemant Kumar <notifications@gith

[2019-02-14 03:56] PaulFurtado commented on #73948
@pingan2017 check out the discussion on https://github.com/kubernetes/kubernetes/issues/64632

[2019-02-14 04:04] liggitt commented on #74049
this is the code in question:

https://github.com/kubernetes/kubernetes/blob/2b9c9154b52bdac914bf3ab37c8d349d926e6e16/plugin/pkg/admission/noderestriction/admission.go#L301-L310

Thing is, we don't actually want the kubelet taking ownership of any fields other than the one it changed. If we nil out the managed field for the comparison, that allows the kubelet to mess with managedFields in any way

[2019-02-14 04:54] george-angel commented on #57049
/remove-lifecycle stale

[2019-02-14 06:05] globervinodhn commented on #55807
While looking into the scenario-2, I pondered upon the article (https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace) which speaks about best practices for graceful termination. Under the termination lifecycle section, point-4 **"Kubernetes waits for a grace period", the author says and I quote: "At this point, Kubernetes waits for a specified time called the

[2019-02-14 06:15] cbharathnoor opened #74056 "HPA : GKE | HPA is not scaling pods even though the memory utilization hits the threshold value"
We have a GKE cluster (1.11) and implemented HPA based on memory utilization for pods. During our testing activity, we have observed, at times, HPA is not scaling pods even though the target value is met. We have also noticed that, HPA events is not giving us any response data ( either scaling or downscaling related info). Please find the reference screenshot mentioned below,

<img width="1439" al

[2019-02-14 06:24] mylocaldevstack commented on #73762
I’m afraid i can’t do that because we couldn’t wait a week with with cluster that doesn’t work properly and we had to redeploy the cluster from scratch with 1.12.3. So far so good.

[2019-02-14 06:52] xiaoxubeii commented on #73675
I don't get your point. Can you make an use case?

[2019-02-14 07:07] #68854 closed

[2019-02-14 07:15] ryianyang commented on #74005
I have some operator experience on k8s , I don't make this kind of low_level mistakes. think you for your reply.

[2019-02-14 07:19] ryianyang commented on #74005
now, the  controller-manager service always  interval of a few seconds to restart

[2019-02-14 07:35] ryianyang commented on #74005
57319   47858 core.go:73] Failed to start service controller: WARNING: no cloud provider provided, services of type LoadBalancer will fail
63368   47858 controllermanager.go:486] Error starting "node"
63399   47858 controllermanager.go:155] error starting controllers: failed to mark cidr as occupied: cidr 172.17.0.0/24 is out the range of cluster cidr 172.19.0.0/16

[2019-02-14 07:36] ryianyang commented on #74005
kube-controller-manager.service

[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-controller-manager \
--address=127.0.0.1 \
--master=http://127.0.0.1:8080 \
--allocate-node-cidrs=true \
--service-cluster-ip-range=172.18.0.0/16 \
--cluster-cidr=172.19.0.0/16 \
--cluster-name=kubernetes \
--root-ca-fi

[2019-02-14 07:46] jianzzz commented on #73952
done. kubeadm init bootstrap-token

[2019-02-14 07:46] #73952 closed

[2019-02-14 08:10] jwlogemann commented on #74019
Hi,
I'm trying to run server 1809 on server 1809, which is a supported configuration. Also I can run the container by hand on the server, which indicates tis is not a docker or container issue, but a Kubernetes issue. Please reopen

[2019-02-14 08:12] mzyfree commented on #73658
finally,I have found the reason it is the service.spec.externalTrafficPolicy="Local" leading this mistake.
source code:
		// The logic below this applies only if this service is marked as OnlyLocal
		if !svcInfo.OnlyNodeLocalEndpoints {
			continue
		}

		// Now write ingress loadbalancing & DNAT rules only for services that request OnlyLocal traffic.
		// TODO - This logic may be combinable with

[2019-02-14 08:14] jwlogemann opened #74066 "Can't start pods in Windows Server 2019"
**What happened**:
Trying to start a container on a windows node results in an error "The container operating system does not match the host operating system."

**What you expected to happen**:
Pod should start

**How to reproduce it (as minimally and precisely as possible)**:
Try to deploy an application based on nanoserver:1809 to a node running windows server 2019 (also 1809). Please note that

[2019-02-14 08:15] jwlogemann commented on #74066
/sig windows

[2019-02-14 08:55] Brakus commented on #55043
Hello,
facing the same problem...
Any solutions ?

[code]

[2019-02-14 09:27] paulsubrata55 commented on #73300
@m1093782566 Can you please give a comment on this.

[2019-02-14 09:43] xiaoxubeii opened #74069 "Support dynamic policy scheduling"
**What would you like to be added**:
In current release, Kubernetes scheduler only supports pre-configured schedule policy, such as predicates and priorities. There is no way to determine different schedule policies dynamically in one scheduler, whereas it needs multiple schedulers and has to specify the schedule manually. As known, multiple schedulers have some drawbacks (e.g. increase in complex

[2019-02-14 09:43] xiaoxubeii commented on #74069
/sig scheduling

[2019-02-14 09:48] dankelleher commented on #55410
This is also affecting me - I have an init container that loads data from AWS Secrets and stores them in a volume that is accessed by the main container. The init container needs credentials that are passed via a podpreset

[2019-02-14 10:05] xxlest commented on #72713
@Rajat-0 i got same issue, have you fixed it?

[2019-02-14 10:12] cropse commented on #25908
Private IP feature seems need to delete entire cluster and recreate one........?

[2019-02-14 10:19] juusujanar commented on #25908
@cropse That is only needed if your cluster is not VPC-native.

[2019-02-14 10:50] cbharathnoor opened #74071 "Fluentd 1.2.2 - Argument Error, error="log does not exist""
**What happened**:
We are facing "Argument Error, error="log does not exist" when we deploy EFK stack on GoogleKubernetesEngine (GKE) cluster.

**How to reproduce it (as minimally and precisely as possible)**:
Create a GKE cluster (1.11.6), deploy EFK stack on GKE cluster.

**Fluentd logs reference**:
`2019-02-14 04:38:14 +0000 [warn]: dump an error event: error_class=ArgumentError error="log does

[2019-02-14 11:24] skbly7 commented on #72511
- Yes @tmjd, `! --state NEW` doesn't seem to be idle fix for this problem.
- @danwinship, sure I will share a simple test for reproducing as soon as possible.

I might not be best person to propose solution.
But an alternative, I was thinking more in terms of adding UDP kubeForwardChain rule via kube-proxy side whenever it add rule for UDP Services. i.e. something like:
[code]
in [this for loop](h

[2019-02-14 11:25] fasaxc commented on #72511
The docs for NEW say "NEW    The packet has started a new connection *or otherwise associated with a connection which has not seen packets in both directions*."  Sounds like that _should_ match those packets.  Has anyone tried it?

[2019-02-14 11:39] vikaschoudhary16 commented on #66952
/reopen

[2019-02-14 11:44] amitvashist7 commented on #65937
@[saadzaman](/saadzaman)

Thank you very much for the suggestion: `ReadWriteOnce` work me as well.

[2019-02-14 11:46] wojtek-t commented on #73585
The KEP has already been approved.

[2019-02-14 12:02] alejandrox1 commented on #73705
@justinsb could you please take another look? #73822 didnt seem to clear these failing tests.

[2019-02-14 12:02] harshkumar1 commented on #73887
@desaintmartin
Cloud Provider - Openstack
What do you mean by too overloaded, we are seeing other issues as well like Node toggling between Ready / Not Ready state. Did you see it because of NW Topology?

[2019-02-14 12:02] alejandrox1 commented on #73705
/priority important-soon

[2019-02-14 12:12] jbartosik commented on #73045
/close
All runs green for 5 days.

[2019-02-14 12:12] #73045 closed

[2019-02-14 12:27] gtie commented on #71706
For the record, above behaviour was due to kube-proxy "freezing" - it stopped generating logs or doing iptables update. Restart of the frozen kube-proxy processes returned the cluster back to normal.

(Kubernetes 1.12.3 on CentOS 7)

[2019-02-14 12:56] #51650 closed

[2019-02-14 12:57] danwinship commented on #73762
OK, given that, there's not much chance of debugging this at this point. If someone else runs into this problem they can file a new bug.
/close

[2019-02-14 12:57] #73762 closed

[2019-02-14 13:05] bertinatto opened #74075 "Unregistration error while registering a CSI driver"
**What happened**:

We currently unregister the CSI driver if an error happens while registering it. Then, if another error happens, we return only the unregistration error.

The problem is that the user will only see the unregistration error if they check the registrar logs. This gives the  impression that it never tried to register the driver.

**What you expected to happen**:

The user should s

[2019-02-14 13:06] bertinatto commented on #74075
/assign

[2019-02-14 13:13] nikopen commented on #73918
hi @babalsurer , you can have a look at https://github.com/heptio/velero , it's the most mature backup solution AFAIK.

/close

[2019-02-14 13:13] #73918 closed

[2019-02-14 13:34] justinsb commented on #73111
I think this is related https://github.com/kubernetes/kubernetes/pull/56434 , caused by kubectl vs server skew.  That's based on the error message, but I haven't yet found the actual code that is the source of the error (i.e. the fmt.Errorf statement).

[2019-02-14 13:45] shturec commented on #70816
Bringing it up here because slack invites are offline and can't get in touch.
What's the reason for treating "complete policy" as a nice to have now? The out-of-tree PoC seems to have advanced. Why wouldn't it make into the beta?

[2019-02-14 14:04] neolit123 commented on #74066
thank you for the further explanation that was missing in your previous ticket:

this is odd and should not happen:

as it is guaranteed by:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility#windows-server-containers

@kubernetes/sig-windows-bugs

[2019-02-14 14:04] cherednichenkoa commented on #2630
Hi there @charles-crain, I am facing very interesting issue that matches topic of this thread. Seems fsGroup does not work for all cases,
here is example of the deployment, it is test nginx deployment, I am trying to mount nfs and additionally mount empty directory - just to compare.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-test
  labels:
    app: nginx-test
spec:
  selector:

[2019-02-14 14:24] rnsv commented on #73675
Here is an example of my cluster configuration for this usecase

Two nodes (node1, node2)
Taints on node1 -> t1, t2
Taint on node2 -> t2

Two namespaces (ns1, ns2)
pods on ns1 -> pod1 -> tolerates taints t1 and t2
pods on ns2 -> pod2 -> tolerates taint t2

If I want to prevent pod2 on ns2 from tolerating t1, I can add a whitelist for taints with t2 (in ns2)

Later, I decide to add a new node (node

[2019-02-14 14:52] jayunit100 commented on #73925
#73924 is what i was hoping to get, from a CSI perspective for logs on this.  We also discussed the need for events as well, #73975

[2019-02-14 14:58] #67882 closed

[2019-02-14 15:02] imroc opened #74081 "pod.status.containerStatuses displayed image name incorrectly when image has multiple tags on the node"
**What happened**:
image name in `pod.status.containerStatuses` is different from `pod.spec.containers` via `kubectl get pod -o yaml`
**What you expected to happen**:
image name in should be the same in `pod.status.containerStatuses` and `pod.spec.containers`
**How to reproduce it (as minimally and precisely as possible)**:
1. give a new tag to a image via `docker tag` (same image with different t

[2019-02-14 15:16] imroc commented on #74081
The image name in `pod.status.containerStatuses` should be set by scheduler, so I think it's a scheduler problem. /sig scheduling

[2019-02-14 15:19] imroc commented on #74081
/sig scheduling

[2019-02-14 15:31] kisanth88 commented on #70334
This issue can also manifest itself if your kubeadm controller node is not able to pull the control plane packages from the Internet for some reason. The output of the below error message should really be more descriptive of the problem:

-------------------------------------------
[init] this might take a minute or longer if the control plane images have to be pulled

Unfortunately, an error has

[2019-02-14 15:31] kisanth88 commented on #70328
This issue can also manifest itself if your kubeadm controller node is not able to pull the control plane packages from the Internet for some reason. The output of the below error message should really be more descriptive of the problem:

-------------------------------------------
[init] this might take a minute or longer if the control plane images have to be pulled

Unfortunately, an error has

[2019-02-14 15:35] yowenter commented on #74081
Let me try to work on it!

[2019-02-14 15:53] pbarker commented on #70816
Hey @shturec, we would like to get policy in as soon as possible but there are many things to consider here and API reviewers don't have much bandwidth right now.

[2019-02-14 16:19] ranimufid commented on #27973
@pcj , i'm currently encountering this with terraform. Is there any `kubernetes_deployment` parameter I can use to revert `automountServiceAccountToken` back to `true`? I can't seem to be able to find this in the docs

[2019-02-14 16:45] gnufied commented on #71105
/remove-lifecycle-stale

[2019-02-14 16:57] tnozicka commented on #74022
I'd hope we agree that WATCH should return events in monotonically increasing RV and that it would be best when no RV is specified we just started watching from "now". That's unfortunately not the case right now, and all of the proposed changes are not backwards compatible. So we are left with 2 choices we need to make, for short term and long term.

**Short term:**
There is an API call that break

[2019-02-14 17:26] lavalamp commented on #74022
Well... Given that this watch case is actually a hybrid list / watch, I didn't actually consider that an invariant. Hazards of knowing how something works rather than only having read the documentation.

The choice I see is:

1. Sort
  * `+` output of this api is less severely buggy
  * `-` bugs caused by using the api are more subtle and harder for people to find
  * `-` performance penalty
2. De

[2019-02-14 17:35] relyt0925 commented on #73572
I see this as well.
[code]

Start from the bottom and read up. It ranks ibm-master-proxy-static which is a static pod that has priority system-node-critical. It actually is always ranked first as well.

[2019-02-14 17:38] tnozicka commented on #74022
That's compared to deprecation, I propose 1. AND 2.

[2019-02-14 17:56] liggitt commented on #74022
"we fixed it after four years. also, stop using it." is a pretty mixed message, especially if the fix is costly.

[2019-02-14 17:57] wojtek-t opened #74088 "Pod startup latency is terribly broken, and tests are passing"
Something is terribly broken in ClusterLoader tests, for at least last week.

I'm seeing logs like this:
I0131 18:08:17.805407   12168 pod_startup_latency.go:305] PodStartupLatency: perc50: 6.479659787s, perc90: 1m14.604992502s, perc99: 1m38.973342003s

And the test is passing.
For example this run:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/22431

[2019-02-14 18:01] #68547 closed

[2019-02-14 18:01] wojtek-t commented on #74022
+1

We can test that, but given that nothing is using that call regularly, obviously our regular tests won't catch any change. We can obviously do some dedicated test of it, but I'm pretty sure depending on our desire we can make it pass or fail :-)

If we agree we want to deprecate it and as Jordan wrote, it's there forever, I wouldn't bother that much about fixing it.

[2019-02-14 18:08] lavalamp commented on #74022
If it were a complete fix, it'd be a different story. Instead, it makes the
problem subtler. That kind of fix is harder for me to stomach. A complete
fix looks like sending a bookmark or something to inform the client when
the list phase is over and the watch semantics begin. That kind of fix I'd
be much happier with.

On Thu, Feb 14, 2019 at 9:57 AM Jordan Liggitt <notifications@github.com>
wrote

[2019-02-14 18:13] liggitt commented on #74022
I don't follow that... it fixes the invariant that watch events appear in an order such that their resourceVersion is valid to restart the watch

[2019-02-14 18:21] lavalamp commented on #74022
It's often important to know when you have reached a complete state (e.g., all the various "Synced" methods on the informer / reflector). It's impossible to know that with this API. There's a difference between "this object already exists" and "this object was just added" that is meaningful sometimes but is obscured by this API.

I know this is subtle and will bite people who don't realize they ne

[2019-02-14 18:48] krzysied commented on #74088
- The line @wojtek-t  posted is based on observing **saturation** pods startup latency.  It has threshold set to 15m (900s).
- The startup latency for **latency** pod creation phase is <= 4s. This one is our SLO (<=5s) and it is satisfied.

[2019-02-14 18:59] shyamjvs commented on #73444
Update as promised - The account has been unsuspended by fraud/verification team and is no longer under risk of closure. It takes 24 hours to activate. Meanwhile, the support team is working on applying new credits retroactively to past pending payments. Once that's approved (ETA tomorrow), account will be usable again. Will keep this issue updated.

[2019-02-14 19:01] wojtek-t commented on #74088
OK - that makes more sense.

The the request is to change that log to reflect:
- for what pods (group of pods or sth) is this line about (similarly for those 10%... lines)
- what is the threshold that we are testing against

[2019-02-14 19:02] idvoretskyi commented on #73444
Great, thanks @shyamjvs!

[2019-02-14 19:09] wojtek-t commented on #74088
Actually, I think in those cases (where we start thousands of pods, we should print 10% of slowest ones, because it doesn't make sense at all).

[2019-02-14 19:34] relyt0925 commented on #73572
[code]
Enabling ExperimentalCriticalPodAnnotation=true makes it not fail and detect properly

[2019-02-14 19:35] jennybuckley opened #74090 "We need a canonical way to convert from UpdateOptions to CreateOptions"
/kind cleanup
/sig api-machinery

**What happened**:
From [this comment](https://github.com/kubernetes/kubernetes/pull/73831#issuecomment-463731365) from @lavalamp:

It should probably look similar to how we convert from PatchOptions to UpdateOptions, so it will still work if we change the options:

https://github.com/kubernetes/kubernetes/blob/5e6fc5dce8b12c5ce80e016b208a51c81a8c9ce8/staging/src/

[2019-02-14 19:38] jennybuckley commented on #74090
/remove-kind bug

[2019-02-14 19:39] jennybuckley commented on #74090
/priority important-longterm

[2019-02-14 19:40] simonfontana commented on #40053
@satya541 is correct but you need > v1.13.0. See #46517.

[2019-02-14 19:41] FooBarWidget commented on #60807
I ran into this problem too. I'm on Google Kubernetes Engine and using Terraform to spin up Kubernetes clusters and to create namespaces and pods inside the cluster. The problem started a while after running a `terraform destroy`.

In my case, this turns out to be an issue with order in which Terraform executes the destroy. Terraform deletes the node pool first, and then deletes the namespaces and

[2019-02-14 19:43] mml commented on #55453
/remove-lifecycle stale

On Thu, Feb 14, 2019 at 9:01 AM fejta-bot <notifications@github.com> wrote:

[2019-02-14 19:47] verult commented on #73972
@droyo thanks for the clarification! I can make a separate PR to improve that.

@msau42 I'll play around with inline volumes today to see if it works, but your question also leads to:
Option 3: Only make the fix work for PVCs, and broadcast this behavior to sig storage

[2019-02-14 20:00] blakebarnett opened #74092 "node-local-dns caching negative responses too long"
**What happened**:
node-local-dns caches negative queries, causing things that do polling for orchestration to fail (like operators with StatefulSets).

**What you expected to happen**:
Have a minimal TTL for negative responses (alternatively just disable caching by setting the cache size to 0) that follows what was done for kube-dns: https://github.com/kubernetes/kubernetes/pull/53604

**How to r

[2019-02-14 20:01] blakebarnett commented on #74092
/sig network

[2019-02-14 20:23] ogirardot commented on #69696
@matti hi, can you elaborate, I think I have the same kind of issue...

[2019-02-14 21:09] psaini79 commented on #62434
Hi scw00, I did not find a solution yet. As of now I am using cap SYS_NICE but that is not serving the complete  purpose. Another method, run the pod in priv mode.

[2019-02-14 21:17] alok87 commented on #67577
Can some one please share a summary of the problem here. We want to understand in what scenarios cpu throttling can impact us? When the node is at 100% cpu?
Also, what is the difference between not using `limits` and disabling `cfs_quota`?

[2019-02-14 21:25] logicalhan commented on #73994
/cc @lavalamp

[2019-02-14 21:25] yliaog commented on #74022
/cc

[2019-02-14 21:39] lavalamp commented on #73994
We do not support pico units. NewScaledQuantity should have rejected the parameters you passed. I see it doesn't do any sanity checking at all.

[2019-02-14 21:51] 2rs2ts commented on #68684
/remove-lifecycle stale

[2019-02-14 21:56] tnozicka commented on #74022
@lavalamp I don't like the sentinel because you can't make it backward compatible, so you would be essentially creating v2 but with the same mistake of mixing list and watch we made in v1. We have http2 so calling list and watch after it isn't costly. No need to mix those into 1 call, with different behaviours and guarantees base on a sentinel.

methods on the informer / reflector). It's impossibl

[2019-02-14 21:59] #73759 closed

[2019-02-14 22:05] #68677 closed

[2019-02-14 22:34] shyamjvs commented on #73444
Good news - Just got the kops-aws presubmit running (see https://github.com/kubernetes/kubernetes/pull/73797#issuecomment-463827056). Also you can see the kops CI jobs recovering.. https://testgrid.k8s.io/google-aws#kops-aws. That said, the payments issue is being fixed in the background now.

There are still couple e2e tests that are failing with [sig-storage] (seems like regression that entered

[2019-02-14 22:35] jayunit100 commented on #73927
After digging more into this ~ since fsGroup and supplmental Groups differ in their treatment depending on FS type, what we really need IMO are better logs at mounting time , hence this PR #73924 which gets us in that direction.

[2019-02-14 22:46] shyamjvs opened #74095 "Failing storage tests: In-tree Volumes [Driver: local] [Testpattern: Pre-provisioned PV (xfs)]"
**Which jobs are failing**:
- ci-kubernetes-e2e-kops-aws
- pull-kubernetes-e2e-kops-aws

**Which test(s) are failing**:
- [sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: block] [Testpattern: Pre-provisioned PV (xfs)] volumes should allow exec of files on the volume
- [sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: block] [Testpattern: Pre-provisioned PV (xfs)] volumes

[2019-02-14 22:48] shyamjvs commented on #74095
cc @davidz627 @leakingtapan

[2019-02-14 22:49] michmike commented on #73489
can we push the images somewhere else that is supported? how can i help if there is red tape to doing this?

[2019-02-14 22:52] jsturtevant commented on #73417
After researching this further and talking with @PatrickLang I found that the [node container manager test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/node_container_manager_test.go) does test the allocatable memory but uses CGroups to set reserves to test the reported vs actual.  As windows does not have CGroups this test will not port as is.

There is [no OOM Killer in th

[2019-02-14 22:58] benmoss commented on #73489
We can push them to GCR or ACR for now. I'm sure I can get permission to host these under a Pivotal-sponsored account, or I'm sure MS folks can get permission from there.

[2019-02-14 23:00] bclau commented on #73489
I'm wondering if the kubernetes folks would agree to rename the image from ``resource-consumer/controller`` to ``resource-consumer-controller``. That would solve the issue. I don't really know why or what advantages were for naming the image ``resource-consumer/controller``.

[2019-02-14 23:07] leakingtapan commented on #74095
By looking at the log this line is suspicious:
[code]
Both testcases share similar error message

[2019-02-14 23:11] PatrickLang commented on #74066
can you run `docker images` and post output? I think you need to check the `pause` image. If you didn't build it manually, then starting pods will fail.

[2019-02-14 23:17] Kanshiroron opened #74097 "The HorizontalPodAutoscalerUpscaleForbiddenWindow option is still present"
Hello,

Looking at the code (https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/apis/config/v1alpha1/defaults.go#L161), I noticed that the HorizontalPodAutoscalerUpscaleForbiddenWindow option is still present but doesn't seem to be used (it is indeed absent from the documentation).

[2019-02-14 23:20] Kanshiroron commented on #74097
/sig autoscaling

[2019-02-14 23:29] mariusgrigoriu commented on #70585
Same issue with CPU manager here. We're not realizing any performance benefits due to this issue. In fact we're getting far worse latency due to the CFS throttling bug. Was it intentional to add CFS quota to pods that are CPU pinned? The documentation makes it seem like having a CFS quota on those pods is a bug.

[2019-02-14 23:42] verult commented on #69538
/remove-lifecycle stale

[2019-02-14 23:50] #69060 closed

[2019-02-15 00:06] scw00 commented on #62434
Thanks .

[2019-02-15 00:08] jessesuen opened #74099 "HPA controller reorders the spec.metrics list"
**What happened**:

I have an HPA spec as follows.

[code]

After applying it results in the following object. Notice that the `spec.metrics` list is re-ordered:

[code]

**What you expected to happen**:

The fact that the list get's re-ordered is problematic for things like GitOps and diffing tools, because in most other cases, the order of lists are significant. In our case, we are correctly ide

[2019-02-15 00:08] msau42 commented on #71164
/remove-lifecycle stale

[2019-02-15 00:09] jessesuen commented on #74099
/sig autoscaling

[2019-02-15 00:12] msau42 commented on #69539
/remove-lifecycle stale

[2019-02-15 00:35] yliaog commented on #73994
@KevinWang15  what is your use case for having the support for pico units here?

[2019-02-15 00:46] msau42 commented on #74095
Looks like the test needs to skip XFS on environments that do not support XFS

[2019-02-15 00:49] msau42 commented on #74095
This is where the environment is checked to skip xfs: https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/test/e2e/storage/testsuites/base.go#L126

[2019-02-15 00:50] yujuhong opened #74101 "kubelet on windows consuming 100% cpu running multiple powershell process with`Get-NetAdapterStatistics`"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): HEAD (commit: 08d05227303b8f0b7d9c203c7d942788df1cbc97)
- Cloud provider or hardware configuration: GCE
- OS (e.g. from /etc/os-release): Windows 1803, Windows 1809
- Kernel (e.g.

[2019-02-15 00:51] yujuhong commented on #74101
I believe this is the reason why the GCE Windows test job has been timing out. https://testgrid.k8s.io/google-windows#windows-gce

[2019-02-15 00:57] shyamjvs commented on #74095
Thanks Michelle!

@leakingtapan - Could you comment if we need to skip it in aws tests?

[2019-02-15 01:03] yujuhong commented on #74101
@feiskyer I'm leaning towards reverting the PR since this blocks our CI testing completely, and the fix is not trivial.

[2019-02-15 01:25] Pingan2017 commented on #64632
@jiayingz
Could we add a whitelist configration to skip reconcile specified extended resource?

[2019-02-15 01:29] mikedanese commented on #70679
This is done.

[2019-02-15 01:58] jiayingz commented on #64632
That would require changing kubelet flags, which I am hoping to avoid.

[2019-02-15 02:15] SataQiu commented on #74046
In my opinion, you can run `make quick-release` instead of `./build/run.sh make quick-release`.
[code]

[2019-02-15 02:26] Pingan2017 commented on #64632
but we have no way to distinguish the extended resource is reported by device plugin or patched by users directly.
Seems we can't use  non device plugin extended resources anymore. b/c we can't guarantee to repatch resources before pods evicted.

[2019-02-15 02:40] DirectXMan12 opened #74105 "Watch not terminated on CRD deletion"
Reproduced on 1.11.7 as well as master-ish (a92729a301c8928d8e108418e6e4625a9e0d6733)

Deleting a CRD doesn't seem to cause the API server to terminate watches referencing the corresponding CRs, but the watches also don't properly resume if the CRD is created again, meaning that you have to wait for watch timeouts to actually get new watch events.

We should probably kill open watches on CRD delet

[2019-02-15 02:40] DirectXMan12 commented on #74105
@kubernetes/sig-api-machinery-bugs
/assign @mbohlool

[2019-02-15 02:58] yowenter commented on #74081
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_container.go#L388

If the same ID docker image has many tags, kubelet just pick the first one.

`	imageName := r.Config.Image
	if len(ir.RepoTags) > 0 {
		imageName = ir.RepoTags[0]
	}
	status := &runtimeapi.ContainerStatus{
		Id:          r.ID,
		Metadata:    metadata,
		Image:       &runtimeapi.ImageSpec{Image: im

[2019-02-15 03:10] rhockenbury commented on #73417
I would suggest adding a third case that would test the behavior when excessive memory pressure is exerted on the node from the pods.  This is perhaps a more common use case than 2 since the pod workloads are more likely to exhibit greater resource variability than node system processes.   It would also carry over as a test for when/if node allocatable enforcement get implemented for windows nodes

[2019-02-15 04:18] feiskyer commented on #74101
OK, let's revert the PR and find better solutions later.

/assign

[2019-02-15 04:19] justinsb commented on #74095
Looks like this was broken by #72002 - shall we revert?

cc @pohly

[2019-02-15 04:20] KevinWang15 commented on #73994
@lavalamp @yliaog

It's not really about the pico unit, I am just pointing out that there is a potential bug, and I believe the solution is not to support pico but to round up to nano as did in #74006 .

My use case: I have a controller that divides a `Quantity` by a certain number. `100m` divided by `2` can produce the correct `50m`, but when divided by `3`, it would produce `3333333300`(pico).

[2019-02-15 04:32] pcj commented on #27973
@ranimufid I had trouble with that too.  You have to explicitly do the volume mount yourself, such as:

[code]

There's a github issue on the terraform-provider-kubernetes repo that shows this/similar example but I don't have the reference handy.  Ignore the role/rolebinding if not interested, it's not required for the example.

[2019-02-15 04:39] justinsb commented on #73705
@alejandrox1 I think we need to wait for build 2794

[2019-02-15 04:44] mariusgrigoriu commented on #67577
One of our users set a CPU limit and got throttled into timing out their liveness probe causing an outage of their service.

We're seeing throttling even when pinning containers to a CPU. For example a CPU Limit of 1 and pinning that container to run only on the one CPU. It should be impossible to exceed the quota given any period if your quota were exactly the number of CPU you have, yet we see t

[2019-02-15 05:08] lhb008 commented on #61005
I met the same issue.
kubectl version: v1.10.4
docker version: 17.03.2-ce
issue details:
Two pod on one node, each pod has its own svc, from one pod, telnet another pod ip, it is ok, while telnet another pod's svc, it fails.

How to debug or fix this issue?

[2019-02-15 05:10] metral commented on #64251
/reopen

[2019-02-15 05:14] mourya007 commented on #73838
@immutableT Are you working on this issue ?

[2019-02-15 05:18] justinsb commented on #74095
Actually looking at the GCE tests for kops it was broken before #72002.  I'm wondering if we assumed xfs back in #73525

[2019-02-15 05:23] metral commented on #66306
I'm hitting this issue on EKS 1.11.

If I have a classic public ELB, and then change it to private by adding the annotation `service.beta.kubernetes.io/aws-load-balancer-internal: "true"` it doesn't turn the public LB into a private one.

Conversely, having a private LB and then removing the annotation, does not turn it into a public LB.

This is certainly a bug in the AWS cloud provider

[2019-02-15 05:45] cropse commented on #25908
I made a [workaround](https://github.com/cropse/K8S-job-sidecar-terminator) for this issue, not the great solution but worked, hope this help before the feature added, and VPC is one way to sloved, but delete entire cluster is still painful.

[2019-02-15 05:51] matti commented on #69696
https://discuss.kubernetes.io/t/gke-scaled-down-nodes-wont-terminate/4699

[2019-02-15 05:55] mgdevstack commented on #55807
Yes @globervinodhn, [step-4](https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace) of termination lifecycle is justifying above Scenario-2 expressing preStop runs as non-blocking wrt. to below quotes.

@mikedanese, If we say, preStop MUST run as blocking process then **what actual behavior of system should be expect?** (Blocking from ContainerState to be in t

[2019-02-15 06:03] mourya007 commented on #43214
@soltysh @liggitt I would like to contribute in this umbrella chain. Let me know If there is anything where I can help out.

[2019-02-15 06:09] liggitt commented on #43214
the PRs for the 1.14 timeframe are already completed. the next work that will need to be done is [executing on planned improvements to ingress in 1.15](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#115). sig-network would be the right contact for helping with that work

[2019-02-15 06:13] mourya007 commented on #43214
Ok, Thanks for the quick clarification.

[2019-02-15 06:13] mgdevstack commented on #73993
As per https://github.com/kubernetes/kubernetes/issues/55807#issuecomment-463502568, [step-4](https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace) of termination lifecycle is justifying above Scenario-2 expressing preStop runs as non-blocking wrt. to below quotes.

@mikedanese, If we say, preStop MUST run as blocking process then **what actual behavior of sy

[2019-02-15 06:20] mgdevstack commented on #55807
We should close this issue as per https://github.com/kubernetes/kubernetes/issues/55807#issuecomment-459933280

Tracking issues Ref:
Doc fix: https://github.com/kubernetes/website/pull/12498
Ambiguity in Blocking behavior of preStop: #73993

/close

[2019-02-15 06:20] #55807 closed

[2019-02-15 06:26] zetaab commented on #74095
/priority critical-urgent

this is blocker for kops currently

[2019-02-15 06:30] jacksontj commented on #73808
I see the change merged in that PR, but I don't see it updated on the website. Whats the release cadence for the docs website?

[2019-02-15 06:31] jacksontj commented on #73808
Agreed, thanks for getting that change in!

[2019-02-15 06:31] #73808 closed

[2019-02-15 06:56] zetaab commented on #74095
@cofyc do you have idea could #73525 break this?

[2019-02-15 07:11] BedivereZero commented on #66852
same problem
the problem still exists after deploying a CNI(calico)

[2019-02-15 07:14] #68768 closed

[2019-02-15 08:07] bizzelicious commented on #64251
/reopen

[2019-02-15 08:07] wubigo commented on #74046
@SataQiu make quick-release works

[2019-02-15 08:08] #74046 closed

[2019-02-15 08:09] feiskyer commented on #62112
PR #66228 is under review, not merged yet.

[2019-02-15 08:25] cofyc commented on #74095
Yes, in #73525, I added tests for local volume which use `xfs` [in supported types](https://github.com/kubernetes/kubernetes/pull/73525/files#diff-d1a5ece2215eb348ea751cd0ac48592fR1647). Because [`xfs` is skipped in GCI environment](https://github.com/kubernetes/kubernetes/blob/c90bf8d8ea6e02014008ee9e1afe490bee4a0bcf/test/e2e/storage/testsuites/base.go#L126), PR is not blocked by gce e2e test.

h

[2019-02-15 08:29] cofyc commented on #74095
Alternatively, we can skip `xfs` for environments which do not support XFS [here](https://github.com/kubernetes/kubernetes/blob/c90bf8d8ea6e02014008ee9e1afe490bee4a0bcf/test/e2e/storage/testsuites/base.go#L126).

What do you think?

[2019-02-15 08:32] yowenter commented on #74081
/sig node

[2019-02-15 08:49] Jeffwan commented on #66306
@metral I am trying to get approver to merge this PR and cherry-pick to kubernetes 1.11. Should be done soon. @micahhausler

[2019-02-15 09:15] Rajat-0 commented on #72713
@xxlest No, I didn't tried it yet. I have deployed metrics server with [kubenetes-incubator/metric server](https://github.com/kubernetes-incubator/metrics-server/) on kube-adm and using **addons enable metrics-server** command.

[2019-02-15 09:16] #68543 closed

[2019-02-15 09:16] #68606 closed

[2019-02-15 09:17] kulong0105 commented on #52255
will be better to use `readlink` to get the full dir ?
[code]

[2019-02-15 09:45] jwlogemann commented on #74066
I will check this on monday, I don't have access to the server today.

[2019-02-15 09:54] mm4tt opened #74123 "DumpClusterLogs fails in gci-gce-scalability-1.11, 1.12, 1.13"
**Which jobs are failing**:
gci-gce-scalability-1.11, gci-gce-scalability-1.12, gci-gce-scalability-1.13

**Which test(s) are failing**:
DumpClusterLogs

**Since when has it been failing**:
Feb 13th 2019

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gci-gce-scalability-1.11
https://k8s-testgrid.appspot.com/sig-scalability-gce#gci-gce-scalability-1.12
https://k8s-testgrid

[2019-02-15 09:54] mm4tt commented on #74123
/sig scalability

[2019-02-15 10:08] mzyfree commented on #73658
After read the code ,i have found that in k8s version 1.11.5 until 1.11.7,kubelet uses iptables to create KUBE-MARK-DROP and KUBE-FIREWALL:
		enableControllerAttachDetach:            kubeCfg.EnableControllerAttachDetach,
		iptClient:                               utilipt.New(utilexec.New(), utildbus.New(), utilipt.ProtocolIpv4),
		makeIPTablesUtilChains:                  kubeCfg.MakeIPTablesUtilCh

[2019-02-15 10:19] mm4tt commented on #74123
The logexporter version used in 1.12 and 1.13 is v0.1.3
![vzchmhrirkp](https://user-images.githubusercontent.com/2604887/52849718-0257ed80-3112-11e9-9d27-1d70798d9af4.png)

I temporarily modified the v0.1.3 image to output some additional logs regarding failing `gcloud auth activate-service-account` command.
Will revert the v0.1.3 image to the previous state after the next test run.

[2019-02-15 10:26] arocki7 commented on #66153
If you use AWS Application Load Balancer, you are likely to have this issue.
You can fix it by moving to Classic Load Balancer.

[2019-02-15 10:26] skymyyang commented on #68447
你好，我这边在kubernetes 1.13.3中也遇到了此问题

[code]

[2019-02-15 10:33] jwlogemann commented on #74066
Output on the windows node:
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

PS C:\Users\Administrator> docker images
REPOSITORY                              TAG                                      IMAGE ID            CREATED             SIZE
registry.XXX.nl/dbxjml/dotnet-example   windows                                  5566e72ef5d8        2 days ago          503MB

[2019-02-15 10:39] sniederm commented on #30656
I would also appreciate such a -u flag. +1.

Just an idea:

For example something like a `--conainer-type` would be a big plus to enable passing any supported arguments directly to the underyling container implementation:

`kubectl exec --container-type=docker -it -u 0 NAME`

This would avoid having only a subset of the underlying functionality of the container runtime in kubectl. Furthermore it s

[2019-02-15 10:49] kulong0105 opened #74127 "version.sh: format "%D” is unavailable in low version of git"
format "%D” is unavailable in low version of git :
[code]

affected version:
current master branch and others

[2019-02-15 10:56] kulong0105 commented on #74127
/area build
/sig release

[2019-02-15 12:09] zetaab commented on #74095
@cofyc I do not know what is the best solution in long term but in short term we should get kops e2e tests working. So if removing xfs from supported types is fastest solution - i would go with that. After that tests could be fixed how those should be.

Could you do that PR and remove `xfs` from supported types?

[2019-02-15 12:11] pohly commented on #74095
Hard-coding the knowledge which clusters or tests support XFS (because that's what it is - a dependency on a kernel feature, right?) in the test source code is just bound to fail eventually.

What if the presence of xfs support depends on the "gci" version? This line doesn't cover that:
https://github.com/kubernetes/kubernetes/blob/c90bf8d8ea6e02014008ee9e1afe490bee4a0bcf/test/e2e/storage/testsuit

[2019-02-15 12:18] mkstephenson commented on #43633
Another vote for this feature

[2019-02-15 12:25] shsjshentao opened #74128 "Disk Read is too high when memory is exhausted"
![image](https://user-images.githubusercontent.com/7941563/52856151-918af280-315e-11e9-89cd-9b06239916fc.png)

**What happened**:
High disk read
**What you expected to happen**:
low disk read

**How to reproduce it (as minimally and precisely as possible)**:
use polinux/stress image
run `stress --vm 1 --vm-bytes 125M --vm-hang 1` in many pods or docker containers over max host memory
then look iot

[2019-02-15 12:54] mm4tt commented on #74123
Logs mentioned above:

[code]

[2019-02-15 13:14] thandayuthapani opened #74132 "Make `ImageLocalityPriority` easy to use by others"
**What would you like to be added**:
 Publish `priorityMetadata` from `pkg/scheduler/algorithm/priorities/metadata.go`.  So that it can be accessed outside `priorities` package.

**Why is this needed**:
In `ImageLocalityPriority` Function, only `priorityMetadata.totalNumNodes` is required, so if it is possible to create object of `priorityMetadata` and populate only `totalNumNodes`, it is better.

[2019-02-15 13:15] thandayuthapani commented on #74132
/sig scheduling

[2019-02-15 13:23] neolit123 commented on #74066
this this pause image:
https://hub.docker.com/r/e2eteam/pause/tags

this is the one that runs in Windows e2e tests at the moment.
also yikes. 1-2GB for a pod infra container.

[2019-02-15 13:34] mm4tt commented on #74123
I sshed into a node, created a docker container for the logexporter image and issued the gcloud auth command. Everything worked

[code]

[2019-02-15 13:36] mm4tt commented on #74123
But the same container when run via kubernetes ends up crashlooping with the same error. The interesting line is this one
```ERROR: (gcloud.auth.activate-service-account) There was a problem refreshing your current auth tokens: Unable to find the server at oauth2.googleapis.com```

[2019-02-15 13:54] bclau opened #74134 "gcr.io Windows image needed for test"
**What would you like to be added**:

/sig testing
/sig windows

In the the PR https://github.com/kubernetes/kubernetes/pull/72777 we're adding a test case for pulling a Windows image from dockerhub (``should be able to pull image from docker hub [WindowsOnly]``). It has been suggested that we should also add a test case for ``gcr.io``.

However, there are no known public Windows images on gcr.io,

[2019-02-15 14:12] mm4tt commented on #74123
I found the culprit.
The kube-proxy was crashlooping with the following error:
[code]
It explains why logexporter pod couldn't access oauth2.googleapis.com, the network configuration was erroneous due to missing kube-proxy.

The PR that caused this is https://github.com/kubernetes/test-infra/pull/11281
It looks like the metric-bind-address format has changed after 1.13 release. Currently it expect

[2019-02-15 14:21] #61923 closed

[2019-02-15 14:21] #65093 closed

[2019-02-15 14:21] #68784 closed

[2019-02-15 14:25] ar4hc commented on #43633
another work around using range loop:
[code]

and  in values yaml:
[code]
and set a variable fullName...

Still i'd prefer an array or regex or ... for the hosts element

[2019-02-15 14:39] bradjones1 commented on #65675
/remove-lifecycle-state

[2019-02-15 14:39] bradjones1 commented on #65675
/remove-lifecycle stale

[2019-02-15 14:41] dims commented on #74134
/assign @thockin @ixdy

[2019-02-15 14:41] dims commented on #74134
/are conformance

[2019-02-15 14:44] 0verc1ocker commented on #61005
In my experience, this might have been an issue with a misconfiguration of CNI. At the time I was migrating a k8s cluster from Calico CNI to Weave-net CNI and there might have been IP allocation and calico policy pods still running in the cluster.

[2019-02-15 15:16] rtheis commented on #73572
Setting `spec.priority` on the static pod also works.  It appears that a static pod doesn't get `spec.priority` set based on `spec.priorityClassName`.  If this is expected then it should be documented.  Although it seems like the priority class name should be honored for static pods.

[2019-02-15 15:38] Mynom opened #74135 "Failing LivenessProbe of a NFS Pod makes Kubelet "NotReady""
**What happened**:

When a Pod with NFS is killed because of a failed liveness probe, the node goes into `NotReady` state.

**What you expected to happen**:

When a pod with NFS is killed because of a failed liveness probe, the node itself should stay operational.

**How to reproduce it**:

Test Setup:

* Create a StatefulSet with a NFS backed PVC and a LivenessProbe (the NFS is not used for anyth

[2019-02-15 15:44] Mynom commented on #74135
/sig node
/sig cluster-lifecycle
/sig storage

[2019-02-15 16:09] adelina-t commented on #71949
@fejta Can we please reopen this issue? It seems to get closed automatically because it gets referenced in some PRs that merge ( mainly Windows testing job related ), but the underlying issue is still under investigation.

[2019-02-15 16:14] dminca commented on #53960
The workaround with kubelet arguments worked for me as well; thanks! 👍 running Kubernetes v1.13.2

[2019-02-15 16:23] #64937 closed

[2019-02-15 16:23] #63577 closed

[2019-02-15 16:23] PatrickLang commented on #74066
Also be sure to check the pause container option to the kubelet. It should match the image you have `kubeletwin/pause latest df50757e7311 2 days ago 1.17GB`

Some of the Azure deployment scripts build one called `kubletwin/pause` instead

[2019-02-15 16:33] chrisz100 commented on #74095
Agreeing with @pohly here... Isn't there a way to check if the kernel we test for/ against is supporting it more directly? Building a huge list of whats compatible and what's not sounds not perfect to me.

[2019-02-15 16:38] fejta commented on #71949
Please use `/reopen` to reopen the issue.

Please see the description of https://github.com/kubernetes/test-infra/pull/11230 and note that GitHub highlights the word res-lve next to this issue number.

That caused GitHub to close this issue when you merged that PR (that's GitHub automation, not something out tooling does or can control).

When a PR is related to an issue we tend to say "ref #11230

[2019-02-15 16:42] krzysied commented on #74088
https://github.com/kubernetes/perf-tests/pull/417

It is already implemented this way: https://github.com/kubernetes/perf-tests/blob/3fb03e234ca8d50a931cbe94800df4265a9df211/clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go#L304

[2019-02-15 17:02] mikedanese commented on #73993
Within the grace period? It should not receive a sigterm. Maybe this is a bug. Can you show me the e2e test code?

[2019-02-15 17:15] thockin commented on #74134
It is my contention that we really only want one prod repo and that
gcr.io/kubernetes-e2e-test-images should be folded into the main repo.  The
authenticated repo should be for testing authenticated pulls and nothing
else.

To that end, I propose that we start with this.

Does the image need to be named or tagged or something to indicate OS?

How about k8s.gcr./io/testing/e2e/windows/busybox:1.29-

[2019-02-15 17:17] dansiviter commented on #25908
Just to add my two cents: helm tests also break if injection of istio sidecar occurs as the pod never completes.

[2019-02-15 17:30] 007 commented on #48767
/remove-lifecycle stale

References from other tickets don't change this timer?

[2019-02-15 17:50] msau42 commented on #74095
Long term we can enhance the check to ssh into a random node and see if the mount.xfs binary exists.

Short term let's just remove xfs testing for local volumes.

[2019-02-15 17:55] immutableT commented on #73838
Yes, I will be submitting a proposal (hopefully next week).

[2019-02-15 17:59] mourya007 commented on #73838
Thanks for the reply, Let me know If I can give helpful hand on this.

[2019-02-15 18:20] leakingtapan commented on #74095
If these two are newly added tests, agree to skip (or remove) xfs testing to unblock PRs.

[2019-02-15 18:24] ranimufid commented on #27973
Thanks @pcj! That's very helpful. I think this might be the issue you're referring to: https://github.com/terraform-providers/terraform-provider-kubernetes/issues/38

[2019-02-15 18:36] ixdy commented on #74134
Yes, [manifest lists support specifying the os](https://docs.docker.com/registry/spec/manifest-v2-2/#manifest-list-field-descriptions) (all images to date have used `os = "linux"`), so I'd prefer that route over yet another name or tag.

I'd also prefer something other than busybox if possible.

I originally created `gcr.io/kubernetes-e2e-test-images` because there were so many images in `gcr.io/g

[2019-02-15 18:49] rtheis commented on #73572
I've confirmed that the problem occurs when a static pod has `spec.priorityClassName` set to `system-node-critical` but does not set `spec.priority` accordingly.  `kubelet` doesn't see the priority as being set and thus thinks the pod isn't critical which ultimately causes the eviction.  I would have expected `kubelet` to translate `spec.priorityClassName` to `spec.priority`.

[2019-02-15 19:09] verult commented on #73972
@msau42 Read-only many does work for inline GCE PD volumes

[2019-02-15 19:15] asychev commented on #60807
@FooBarWidget same problem for me :(

[2019-02-15 19:17] lagorsse commented on #4301
I am interested by this, do we have some implemented solution for this? Thank you

[2019-02-15 19:41] thockin commented on #74134
The image promoter means that a single repo should be BETTER managed than
individual repos - we will have a PR trail of who put images there and why.

On Fri, Feb 15, 2019 at 10:37 AM Jeff Grafton <notifications@github.com>
wrote:

[2019-02-15 19:42] oomichi commented on #73771
These test depends on cloud providers as gce/gke, aws, openstack, vsphere and azure.
In addition, the other test("should create persistent volume in the zone specified in allowedTopologies of storageclass") which calls getRandomClusterZone() checks the cloud providers previously.
So this issue happens on local, then we need to add the similar check on the test before calling getRandomClusterZone()

[2019-02-15 19:53] smanpathak commented on #73927
IMO, this behavior should be clearly defined and consistent regardless of storage provider types.

[2019-02-15 19:55] bclau commented on #71949
/reopen

[2019-02-15 20:10] verult commented on #73972
@msau42 @saad-ali and I discussed for a bit offline.

Our proposal is to add the `node` parameter for *all* volume types, not just Read*Many. The potential races for volumes not allowing multi-node attach should be handled by `IsMultiAttachForbidden()` in reconciler.
https://github.com/kubernetes/kubernetes/blob/07da603b59052036c00b4cb369b837c7336b50ee/pkg/controller/volume/attachdetach/reconciler

[2019-02-15 20:27] #68574 closed

[2019-02-15 20:52] benmoss opened #74144 "Failure cluster [b91c1bd7...] "root container [kubepods] doesn't exist""
### Failure cluster [b91c1bd72f1c9a91b651](https://go.k8s.io/triage#{id})

##### Error text:
[code]

kubelet.log:
[code]

#### Recent failures:
[2/15/2019, 1:53:45 PM pr:pull-kubernetes-local-e2e-containerized](https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/73726/pull-kubernetes-local-e2e-containerized/4916#isup)
[2/15/2019, 1:17:47 PM pr:pull-kubernetes-local-e2e-containerized](h

[2019-02-15 20:54] benmoss commented on #74144
related to #72726

/sig testing

[2019-02-15 20:56] gnufied opened #74145 "Add a unit test for volume being mounted when resize is attempted"
We should add a test which exercises volume being mounted when resizing on node is done.

xref : https://github.com/kubernetes/kubernetes/pull/74094

/sig storage
/assign

[2019-02-15 21:24] Sanjanare opened #74147 "HPA- custom -metrics-issue"
Hi ,
I am new to k8s and have a huge confusion on creating HPA for the below query
we have a prometheus query : (sum(jvm_memory_bytes_used{area="heap"}) ) / (sum(jvm_memory_bytes_max{area="heap"}) )

Problem: Need to get that metrics added to prometheus adapter , so custom metrics can check those and we can implement HPA.
and we are getting those metrics from istio-system prometheus (i dnt know if

[2019-02-15 21:37] Sanjanare commented on #74147
sig @kubernetes/autoscale

[2019-02-15 21:39] jiayingz commented on #64632
It is indeed a question whether we want to support the use case of directly patching node object to export a resource. Capacity/Allocatable are node status fields. By definition, they should be observable from the node. I.e., even when Kubelet is isolated from the API server, it should be able to reconstruct its status fields.

I think even without zeroing out extended resource capacity during API

[2019-02-15 21:50] RenaudWasTaken commented on #64632
Could we have a "generic device plugin" / "extended resource device plugin"?

e.g: You deploy this device plugin and start interacting with a CRD rather than patching the node object in the spec?

[2019-02-15 21:51] dims opened #74148 "Deprecate "containerized kubelet""
There was a previous attempt : https://github.com/kubernetes/kubernetes/issues/43708

We have open issues that is not being worked on:
- https://github.com/kubernetes/kubernetes/issues/74144
- https://github.com/kubernetes/kubernetes/issues/73073

I think it's time to delete the CI jobs and start the deprecation cycle.

/sig node
/assign @derekwaynecarr

[2019-02-15 21:51] yliaog commented on #74022
the control plane (API server) is shared, needs to perform well under all circumstances. It's better for the API server to fail one client (which receives invalid data), than having the performance hit caused by one client, and fail all other clients.

10^6 items is not that uncommon, we do need to consider that level of scale.

[2019-02-15 21:55] ixdy commented on #60863
/remove-lifecycle rotten

I rediscovered and fixed the tarfile directory permissions issue in https://github.com/kubernetes/repo-infra/pull/104.

The other issues still remain. I'm not sure of the best approach, but we now have even more staging directories than we did before.

[2019-02-15 21:59] liggitt commented on #74022
I agree with failing (e.g. 429 or timeout errors), but not with sending invalid data.

No disagreement. I'd want to know what the incremental performance hit of sorting 10^6 items is relative to the allocation, population, serialization, and transmission of a 10^6 item list (which the code is already doing). https://stackimpact.com/blog/practical-golang-benchmarks/#sorting and local laptop tests s

[2019-02-15 22:04] falken commented on #50898
My corporate security group requires that all policies be scoped to either a specific AWS arn, or scoped to require a specific tag which is defined by them. If I can't specify that tag then I can't use AWS EBS volumes at all.

[2019-02-15 22:04] lavalamp commented on #74022
The issue is that sorts mean the thing can't be streamed; the whole list has to appear in memory simultaneously somewhere.

For the record, I still don't totally agree that monotonically ascending RVs were an invariant promised by the combo list/watch call. I'm on the fence because I can understand why people would have expected that.

[2019-02-15 22:05] #73087 closed

[2019-02-15 22:18] mrunalp opened #74150 "[sig-storage] In-tree Volumes [Driver: local] tests are broken on RHEL 7"
**Which jobs are failing**:
CRI-O e2e on rhel

**Which test(s) are failing**:
[sig-storage] In-tree Volumes [Driver: local]

**Since when has it been failing**:
Since https://github.com/kubernetes/kubernetes/pull/73525/files was merged.

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-node-cri-o#crio-e2e-rhel

**Reason for failure**:
[code]
and
[code]

**Anything else we need to know**:

[2019-02-15 22:19] mrunalp commented on #74150
@msau42 @cofyc @gnufied ptal

[2019-02-15 22:21] mrunalp commented on #74150
@kubernetes/sig-storage-test-failures

[2019-02-15 22:30] misterikkit commented on #73176
Whoops. Thanks for the ping. Log level v4 should not be needed. Although the log line you called out should probably get pushed into V9...

First off, that's some really great debugging. Thanks for the detailed report.

If the scheduler is getting into tight busy loops, that could in theory starve the scheduling thread, causing the observed 6 second pause in scheduling.

The bug is in [`scheduling

[2019-02-15 22:56] jayunit100 commented on #74095
assuming all these in-tree tests will be less important over the course of the year as CSI moves forward...

[2019-02-15 22:59] jayunit100 commented on #73927
Agree, but we'd need to separate the semantics around Filesystems vs Block stores to do that, which would really make the user expeirience complex... Volume is a leaky abstraction, where all volumes aren't created equally, cross product with nodes and security policies, and you get a very complex matrix of possibilities . ...  wont always be able to honor fsGroup the same way,

good news is, the P

[2019-02-15 23:09] cchildress opened #74151 "Kubelet sysctl settings cannot be overridden"
**What happened**:
The kubelet overrides user defined sysctl parameters silently.

**What you expected to happen**:
Values defined by the administrator in `/etc/sysctl.d/*.conf` files should take priority or at least not be silently overridden.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a file in `/etc/sysctl.d` that conflicts with one that kubelet sets on startup

[2019-02-15 23:20] cchildress commented on #74151
/sig node

[2019-02-15 23:20] #73301 closed

[2019-02-15 23:32] msau42 commented on #74095
The local volume driver plan is to remain in-tree for the medium-term future.  I think we should continue to add the environment check for xfs so we can add it back.

[2019-02-15 23:34] ixdy commented on #60863
I think I have found a workable approach: we can add a few lines to `hack/update-bazel.sh` to ensure that every staging repo has a `BUILD` file at its root, and we can then generate a `.bzl` file containing a list of these repos to use to create the necessary symlinks.

The issue with generated files no longer seems to be true (at least for openapi) - I think https://github.com/kubernetes/kubernet

[2019-02-16 00:00] petrokashlikov commented on #34982
I also faced similar issue and seems it is issue with representation, but actual permissions are fine.
I've set defaultMode: 256 for volume with ssh keys. When I look at /etc/ssh/keys folder which I mounted, permissions doesn't look right
`lrwxrwxrwx 1 root root 27 Feb 15 23:29 ssh_host_rsa_key.pub -> ..data/ssh_host_rsa_key.pub
lrwxrwxrwx 1 root root 23 Feb 15 23:29 ssh_host_rsa_key -> ..data/ssh

[2019-02-16 00:16] yujuhong commented on #74134
We should probably broaden the discussion to non-busybox Windows test images too. (related: #73475).

Do we have a lower bar for test images? If so, having a separate repo (or making it clear that the images are test only) does have clear benefits.

[2019-02-16 00:18] thockin commented on #74134
Do we want a lower bar?  I don't think we do.

On Fri, Feb 15, 2019 at 4:16 PM Yu-Ju Hong <notifications@github.com> wrote:

[2019-02-16 00:27] yujuhong commented on #74134
Nobody wants a lower bar until they want to add/update the image quickly for a new test, or fix a test failure to unblock the release.
If we do effectively hold the same bar today, this shouldn't be a problem.

[2019-02-16 00:45] #72929 closed

[2019-02-16 01:08] neolit123 commented on #74134
i agree. also we don't need schema v2. multi-os, multi-arch image here.
just (e.g.) a nanoserver image that satisfies a Windows 1803 and Windows 1809 host.
https://hub.docker.com/_/microsoft-windows-nanoserver

a nanoserver image will obviously imply Windows only.

for a test called "should be able to pull image from gcr.io [WindowsOnly]":
https://github.com/kubernetes/kubernetes/blob/master/test/

[2019-02-16 01:26] ojmhetar opened #74155 "Kubelet reference documentation lists the incorrect feature-gate defaults"
**What happened**:
Using `genkubedocs` to generate the kubelet reference gives an incomplete list of flags which results in part of the official documentation being out of date.

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
Take for example, `PodPriority`, a beta feature enabled by default as of 1.11. The reference shows the state in alpha with default false.

`genkub

[2019-02-16 01:26] ojmhetar commented on #74155
/sig docs

[2019-02-16 02:02] #73707 closed

[2019-02-16 02:38] misterikkit commented on #73176
#74157 I think fixes the root problem here. If we eliminate the API server spam, the main scheduling thread hopefully will not get blocked for 6 second periods. Are you able to test with this patch?

[2019-02-16 04:40] arzarif commented on #44063
@chrishiestand

It's mentioned [here](https://kubernetes.io/blog/2018/07/09/ipvs-based-in-cluster-load-balancing-deep-dive/) as a future possibility, but like you, I haven't been able to find an issue where this is being actively discussed/worked on. Does anyone know whether there's ongoing work to make service-specific load-balancing algorithms possible?

[2019-02-16 04:47] kulong0105 commented on #74127
@david-mcmahon

[2019-02-16 06:45] mgdevstack commented on #73993
Yes, within the grace period.

#73780

[2019-02-16 06:48] #74127 closed

[2019-02-16 07:34] frittentheke commented on #69845
/remove-lifecycle stale

[2019-02-16 08:29] #74095 closed

[2019-02-16 09:40] #68304 closed

[2019-02-16 10:10] jianglingxia opened #74162 "use the csi with cinder storage the driver pod always restart"
**What happened**:
in the k8sv1.14 version,i try the csi-cinder-plugin yaml in web,but the pod always restart!
like this :
default   csi-nodeplugin-cinderplugin-hblqv   2/2   Running   8     16m
default   csi-nodeplugin-cinderplugin-hblqv   1/2   Error   8     16m
kube-system   csi-attacher-cinderplugin-0   1/2   Error   7     18m
default   csi-nodeplugin-cinderplugin-hblqv   1/2   CrashLoopBackOf

[2019-02-16 10:10] jianglingxia commented on #74162
/sig storage

[2019-02-16 10:13] jianglingxia commented on #74162
/assign @j-griffith  @jsafrane

[2019-02-16 10:40] jianglingxia commented on #74162
/assign @j-griffith

[2019-02-16 12:15] monotek commented on #69603
/close

[2019-02-16 12:15] #69603 closed

[2019-02-16 12:26] harshkumar1 commented on #67342
@rajiteh we are using 1.12.5 and are seeing the issue as I have described in #73887
Would be interested in seeing what PVC stress tester do you run because in our tests we are able to reproduce this frequently.

[2019-02-16 13:39] harshkumar1 commented on #73887
@adisky so we are redirecting all logs to /var/log/messages and it would be split into multiple files and tough for you to be able to make sense. Hence am posting content from it.
The logs which I am posting below happened for a pod sw-label (pod name is different that the original post, but the behavior is similar)

Feb 14 09:48:43 k8s-minion-0 kubelet: I0214 09:48:43.970219   10038 reconciler.go

[2019-02-16 13:48] harshkumar1 commented on #73887
The other observations which is there is that this seems to happen most of the times with services deployed on k8s-minion-0 (first node of the cluster)

[2019-02-16 14:56] dims commented on #26093
cc @andrewrynhard

[2019-02-16 15:24] cropse commented on #25908
@dansiviter you can check my workaround, I already tested in my project with helm.

[2019-02-16 15:25] gaorong opened #74163 "cannot stop`make release`"
**What happened**:
can't stop `make release` by Ctrl+C

**What you expected to happen**:
stop `make release` whenever we want

**How to reproduce it (as minimally and precisely as possible)**:
execute `make release` , wait output: `Building go targets:`, then press Ctrl+C
[code]
If you can't reproduce, just try a few more time and stop shell at different building stage.

**Anything else we need to

[2019-02-16 15:26] dweidenfeld commented on #30606
@giovannicandido How did you make it work using the CSI HCloud provider?
I've installed everything and it works out of the box using the "automatic" provisioning way, but if I try to create the PV manually it will stuck in "available" state and never gets bound.

Did you do something additional to make it work?

[2019-02-16 15:27] gaorong commented on #74163
/sig release

[2019-02-16 16:05] liggitt commented on #74105
/cc sttts

[2019-02-16 16:05] liggitt commented on #74105
/area custom-resources

[2019-02-16 16:17] itaysk commented on #72637
I think it would be nice to be able to report arbitrary information through the pod object, and I actually heard this ask from few others as well. For example, to report the status of the work that the pod does, or a certain aspect of the pod health like request latency. Getting these KPIs quickly by kubectl-ing the pod can be nice for operators, and for tooling to build on.
I was thinking on expe

[2019-02-16 16:32] wzrdtales commented on #9995
What is with ssh and other low ports? that should be supported. is this configurable by now?

[2019-02-16 16:47] #68366 closed

[2019-02-16 18:00] bclau commented on #74134
I'm just curious, any reason why not busybox?

And indeed, a manifest list with nanoserver images could be an alternative (considering that the ``kubeletwin/pause`` image is built on top of that), but keep in mind that we'll have to run a different command on Windows (``ping -t localhost``) (we did try to find a command which works on both OSes, and ultimately found curl, but not all Linux images

[2019-02-16 18:12] neolit123 commented on #74134
an official nanoserver image is a more secure download.

do we need to build a nanoserver manifest list or are there official images that we can use?

i would like to bring a topic here related to pause. why are all the pause images for Windows that i found 1.1 GB or more? we definitely need the absolute minimal pause container uploaded in a location where users can download it and use that locati

[2019-02-16 18:47] mrbobbytables commented on #72956
`./test/images/*` should be fixed in #74164

[2019-02-16 19:21] bclau commented on #74134
Well, technically, ``mcr.microsoft.com/windows/nanoserver:1809`` is a manifest list for arm and amd64 architectures, but obviously for the same OS version, so it's not what we want. But we can easily create one ourselves by running something like: ``docker manifest create --amend nanoserver:1.0 mcr.microsoft.com/windows/nanoserver:1809-amd64  mcr.microsoft.com/windows/nanoserver:1803``.

Can you b

[2019-02-16 19:34] neolit123 commented on #74134
we need to start planning how Windows containers can used easily on Windows nodes.
the pause image should be pre-built, small and easy to pull by deployment tools, such as kops, kubeadm.

that is much better, but still a bit too much?
can we go down to ~100MB?

this image size was reported by a user in a k/k issue recently:
https://github.com/kubernetes/kubernetes/issues/74066#issuecomment-4639901

[2019-02-16 20:28] bclau commented on #74066
@neolit123 That is not the same as the ``kubeletwin/pause`` image. The ``e2eteam/pause`` image is the Windows E2E testing equivalent of this image: https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go#L128, and it is based on the windows/servercore:ltsc2019 image. The full image may seem 2GB in size, but since all the images we use are based on that and because of how

[2019-02-16 20:37] neolit123 commented on #74066
that is true. layers would reduce the download to the diff in that image.
we might have to add a reminder for that to Windows users.

i still don't have the whole picture about the used images, so please excuse me.

if say the user wants to run nanoserver image based workloads, would they be able to download a nanoserver based pause image too?

[2019-02-16 20:51] tubalu commented on #65575
Thanks.

[2019-02-16 20:51] #39845 closed

[2019-02-16 20:51] #68846 closed

[2019-02-16 20:51] tubalu commented on #65575
thanks.

[2019-02-16 21:04] azapps opened #74169 "Error message not helpful when there is no space left on device"
After hours of debugging why Kubernetes boots up successfully but crashes after few seconds/minutes I finally nailed the issue:

**What happened**:

* Start kubelet
[code]
* Control pane boots up
* Wait a 30s - few minutes
* All pods/docker containers are stopped (even kubeapi, etcd, …)

The only mention of not enough space can be found somewhere deep in the logs of kubelet (`journalctl --unit kub

[2019-02-16 21:52] pravinsinghal commented on #73572
@rtheis  how does one  set it on API server started as a static pod ?

[2019-02-16 22:07] davidxjohnson commented on #73297
In addition to certificate ARN, a TLS policy and TLS protocol should be attached to the NLB listener. Without this, [API GW (using PrivateLink)](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/vpc-endpoints.html) will throw errors.

Perhaps a more complete implementation would look like this:

[code]

[2019-02-17 00:04] 11xor6 commented on #58065
So I'm encountering this issue using an SSH proxy (using `-D [port_number]`) and I've worked around this by installing an HTTP proxy (tinyproxy in my case) on the remote machine and then using port forwarding instead (`-L-L8888:127.0.0.1:8888`).

A similar workaround in case you don't control the SOCKS proxy or don't use SSH for your proxy is to use a local HTTP(S) proxy which supports a SOCKS pro

[2019-02-17 00:06] dseapy commented on #45509
Would it be possible to set the grace period really high and when work queue is empty just scale deployment to 0?  Having idle pods exit when receiving the TERM signal, with busy pods continuing to work.

[2019-02-17 02:05] ddebroy commented on #64082
/remove-lifecycle stale

[2019-02-17 05:56] vbmade2000 commented on #73084
@yujuhong Can I work on this ?

[2019-02-17 08:32] MansM commented on #73858
Brian Hand ( slack/sig-storage) came to the conclusion it had to do with the way the hash are calculated. He created the following snippet:
[code]
which uses same method as in k8s ( https://github.com/kubernetes/kubernetes/blob/master/vendor/k8s.io/utils/keymutex/hashed.go#L54 )

output on arm:
[code]

output on amd64:
[code]

[2019-02-17 09:08] MansM commented on #73858
@danielqsj you added keymutex to the iscsi plugin, can you take a look?

[2019-02-17 11:17] xxlest commented on #72713
same with me, i used 1.8+ version to try and didn't meet this issue. finally i use  prometheus  operator to get  health index

[2019-02-17 13:42] uablrek commented on #73960
Note that the non-existing targets in ipvs has Weight=0 meaning that they should not get any new connections. (just a comment/observation)

[2019-02-17 14:08] matteosilv commented on #58693
/reopen

[2019-02-17 14:47] radiy opened #74173 "Kubelet: unable to valid path to counter. Error code is c0000bb8"
**What happened**:

I`m trying to setup node on window server 2019, but kubelet fails with error "F0217 17:36:06.467149    3200 server.go:262] failed to run Kubelet: unable to valid path to counter. Error code is c0000bb8"

**What you expected to happen**:

kubelet runs successfully

**How to reproduce it (as minimally and precisely as possible)**:

* install windows server 2019 with ru_RU locale

[2019-02-17 15:33] hello2mao commented on #74147
/sig autoscaling

[2019-02-17 15:34] hello2mao commented on #73738
/sig autoscaling

[2019-02-17 16:55] gnufied commented on #66567
/remove-lifecycle stale

[2019-02-17 17:33] hadooping commented on #65575
I downgraded to 10.10.5 and worked fine. Thanks @tubalu

[2019-02-17 18:12] #68852 closed

[2019-02-17 19:32] corneliusweig opened #74178 "Command line completion for kubectl plugins"
**What would you like to be added**:
1. When I type `$ kubectl `<kbd>Tab</kbd><kbd>Tab</kbd> I would like to see kubectl plugins in the list of suggested subcommands. For example, if I have installed `kubectl_sniff`, subcommand completions should suggest `sniff`.
2. If the plugin itself also supports command-line completion, `$ kubectl plugin --`<kbd>Tab</kbd><kbd>Tab</kbd> should show suggestions