[2016-07-06 22:27] ovanes commented on #28553
To be honest, I find the documentation a bit scarce. I'd gladly switch to anything else if this is the right way to do and I am about to switch the Kubernetes cluster. But than I need some directions to do so. We use Kubernetes with AWS and I use terraform to bootstrap the cluster and bring up all the services.

This documentation (http://kubernetes.io/docs/admin/dns/) just states to install the c

[2016-07-06 22:42] ivan4th commented on #25106
@smarterclayton @liggitt Included a test in #28577 that proves there's no int/ext mixup in the PATCH handler. On the client side, there's no such mixup either, [see](https://github.com/kubernetes/kubernetes/blob/c0b67b62b26279b42f7527f3a79966675ce9b541/pkg/kubectl/cmd/apply.go#L129) (toInternal=false is passed to `f.Decoder` below this line). The only place where v1/api objects are confused is the

[2016-07-06 22:49] ixdy commented on #28364
Root cause fixed with https://github.com/kubernetes/release/pull/28, and @david-mcmahon manually fixed v1.3.0-beta.3 and v1.3.0.

[2016-07-06 22:49] #28364 closed

[2016-07-06 22:56] imkin commented on #27947
@purplesmurf1510 Any updates?

[2016-07-06 22:57] caesarxuchao opened #28559 "Separate the Go clients to its own repo"
We plan to provide a light-weight go client library which people can import. It only contains the Go clients and the dependencies. Going forward, we plan to:
- [x] create a staging area in the main repo #29147
- [x] publish the client repository: https://github.com/kubernetes/client-go

I'll expand the TODO list as I move forward.

@kubernetes/sig-api-machinery @smarterclayton @lavalamp

[2016-07-06 22:58] bprashanth commented on #26447
This isn't needed for 1.3, I'm updating the docs anyway in https://github.com/kubernetes/contrib/pull/1324 but contrib moves independent of main tree anyway

[2016-07-06 22:59] jberkus opened #28560 "Allow use of Downward API in ConfigMap files?"
The Problem:

Currently I have an application which uses an entrypoint.sh script as its command, entirely because I need to convert a bunch of ENV vars passed by ConfigMap into a configuration file.  I don't think I'm unique in doing this.  I'd use ConfigMap to mount the configuration file (a yaml file) directly, *except* that I need to insert some "dynamic" values at deployment time, such as the

[2016-07-06 23:03] euank opened #28561 "rkt: When using network-plugin=cni, loopback interface is not up"
Docker automatically brings up `lo`, but in the rkt case kubelet creates the loopback interface. When using kubenet, it's brought "UP" by kubenet itself now, but with CNI it isn't.

I think we need to do one of the following:
* Add special casing in CNI to call the loopback plugin always (matches what kubenet does)
* Special case calling CNI twice, once always with loopback, once with the configur

[2016-07-06 23:09] ericchiang commented on #28544
Okay thanks. Am on vacation currently but will send a fix early next week.

[2016-07-06 23:11] ltagliamonte opened #28562 "[Question] filtered api responce"
I'm wondering if it is possible to apply a filter on pod status phase (for example != Succeeded) to get a filtered result server side from the api endpoint: `http://<api_server>/api/v1/namespaces/default/pods`
Thanks in advance.

[2016-07-06 23:16] yifan-gu opened #28563 "`--network-plugin-dir` flag has ambiguous meanings"
Ref http://kubernetes.io/docs/admin/network-plugins/

The `--network-plugin-dir` means two things under different settings of the `--network-plugin`:
- If `--network-plugin=cni`, the `--network-plugin-dir` is where the CNI config locates.
- If `--network-plugin=kubenet`, the `--network-plugin-dir` is where the plugin binaries can be found in addition to the default one (`/opt/cni/bin`).

IMO that

[2016-07-06 23:24] erictune commented on #28405
#25072 and #25006 will be documented via PR #28564

#28403 added a bunch of known issues.

Only #22897 and #26796 are unknown at this point.

[2016-07-06 23:25] bprashanth commented on #260
the petset docs are https://github.com/kubernetes/kubernetes.github.io/blob/release-1.3/docs/user-guide/petset.md, I plan to close this issue and open a new one that addresses moving petset to beta unless anyone objects

[2016-07-06 23:27] bprashanth commented on #28563
@freehan can we doc this for 1.3?

[2016-07-06 23:46] liggitt commented on #25106
I was more questioning some of the branches in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/apply.go (like on line 141 where it appears to be doing an Encode of what may be an internal object, and persisting that as an apply annotation for future invocations of apply to work with)

[2016-07-06 23:58] tristanz commented on #27973
Did something change between 1.3.0-alpha4 and 1.3.0?  I don't seem to see to get anything in `/var/run/secrets/kubernetes.io/serviceaccount` either.  I'm running a development hyperkube setup with options:

apiserver:
[code]
controller-manager:
[code]

[2016-07-07 00:03] freehan commented on #28563
Yeah. True. We should probably have `network-plugin-conf-dir` and `network-plugin-bin-dir`.

[2016-07-07 00:10] erictune commented on #27973
Tons changed.  Not sure what is causing the regression you see.

On Wed, Jul 6, 2016 at 4:59 PM, Tristan Zajonc <notifications@github.com>
wrote:

[2016-07-07 00:17] vishh commented on #28313
@ConnorDoyle Yeah. A simple wrapper will work for container level isolation.
@dubstack is working on introducing pod level cgroups and adding a simple policy to enforce QOS at the pod level. To avoid having to recompile kubelet, we will have to come up with a plugin based interface for pod level cgroups.

[2016-07-07 00:25] #28096 closed

[2016-07-07 00:34] k8s-merge-robot opened #28565 "[k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10671/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-07 00:40] smarterclayton commented on #28559
Some thoughts from a discussion with David today:

1. We want to have an external client library that contains the bare
minimum shared code - pkg/client/restclient, etc and generated
encoders/decoders (proto+json)
2. We want to have versioned client libraries built on snapshot external
API types that uses the client library in 1
3. We want to have a common library for generating conversions, defau

[2016-07-07 00:55] smarterclayton commented on #7562
I agree - I want the Dev/test flow, simple local storage, and the
longer term direction scoped out soon.  No one should have to depend
on a storage feature outside of Kube to develop, test, or roll out a
PetSet.  I'd probably be ok if we had "best-effort" (Dev/test only)
for 1.4

[2016-07-07 00:59] #28481 closed

[2016-07-07 01:14] ruiwen commented on #28482
Thanks!

[2016-07-07 01:19] #24747 closed

[2016-07-07 01:51] spxtr commented on #21015
Woo!

[2016-07-07 01:51] #21015 closed

[2016-07-07 02:07] #28502 closed

[2016-07-07 03:06] k8s-merge-robot opened #28569 "[k8s.io] Services should be able to create a functioning NodePort service {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10679/

Failed: [k8s.io] Services should be able to create a functioning NodePort service {Kubernetes e2e suite}

[code]

Previous issues for this test: #28064

[2016-07-07 03:21] atombender opened #28571 "Kubelet tears down and sets up cbr0 traffic shaping every 30s"
After I turned on my verbose logging, I'm getting this every 30 seconds:

[code]

Probably harmless, but also pointless (especially given that there is a bunch of checks to avoid this!).

The logic (`util/bandwidth/linux.go`, `ReconcileInterface()`) looks wrong for what `tc` is returning:

[code]

Here's the output of `tc`:

[code]

In other words, it's returning 14 fields, not 12. In general, the

[2016-07-07 04:21] k8s-merge-robot opened #28576 "Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6100/

Failed: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27316 #27773 #28327

[2016-07-07 04:53] atombender opened #28577 "Kubelet frequently not coming up"
Here's a typical startup log, after a reboot:

[code]

It will sit there and never put itself in the "ready" state. A lot of times, I get an endless cycle of these:

[code]

...even though Docker is running and `docker.sock` is functional. Looking with `strace`, it's happily talking to Docker over that socket, asking for its version, its containers and so on. Yet Kubelet never comes up.

I have re

[2016-07-07 04:58] saad-ali commented on #26682
No objection. Closing.

[2016-07-07 04:58] #26682 closed

[2016-07-07 05:26] matchstick opened #28580 "Proposal: Federation API Server should support Authorization"
@cjcullen @kubernetes/sig-cluster-federation
Not sure what time frame we need to pursue this, but opening this issue to track the problem of making sure Federation API support some form of authentication.

[2016-07-07 05:35] davidopp commented on #7562
Thanks for the explanation. I like it. Only question is that these seem contradictory (so there's some detail I'm not understanding):

Isn't "Creating an RC referencing such a claim with stick-host unset" the way the first thing happens? ("If stick-host is unset...")

[2016-07-07 05:35] thockin commented on #28563
Can we doc the old and add a new --cni-dir or soemthing - actually say CNI

On Wed, Jul 6, 2016 at 5:04 PM, Minhan Xia <notifications@github.com> wrote:

[2016-07-07 05:43] matchstick commented on #25543
This feels like a hot potato but I am not sure if it still needs to be addressed or not. If it does, let's do so. I apologize for not being able to understand what the current status is.
It looks like we have a [docker/docker#7101](https://github.com/docker/docker/issues/7101).

Reading @dchen1107's comment from 12 days ago she states:
While folks may want the node problem detector extended to par

[2016-07-07 05:44] matchstick commented on #25543
I am leaving this on 1.3 until we know the best thing to do.

[2016-07-07 05:48] thockin commented on #25543
If we can DIRECTLY tell the node problem system about a problem, I have no
qualms about doing that.  drop a file in a dir, for example.

On Wed, Jul 6, 2016 at 10:45 PM, Michael Rubin <notifications@github.com>
wrote:

[2016-07-07 05:59] Random-Liu commented on #25543
@thockin @matchstick Node problem detector is not running on GKE cluster now. :)
https://github.com/kubernetes/kubernetes/issues/25543#issuecomment-228493292 and https://github.com/kubernetes/kubernetes/issues/25543#issuecomment-228490986 should be a better fix for this.

If we still want a fix in the node problem detector, letting kubeproxy drop a file could be enough for now.

[2016-07-07 06:04] thockin commented on #25543
If you can give me a spec of what dir to mount and what sort of file to
write, I'll do it.

On Wed, Jul 6, 2016 at 11:00 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-07-07 06:27] thockin commented on #28483
Don't mind at all.  I'd like to get Brian's opinion on it, as a relatively low-cost but also low-immediate-value API change. I think it is cleaner, but it doesn;'t solve any IMMEDIATE problem.

[2016-07-07 06:36] #28298 closed

[2016-07-07 06:39] thockin commented on #28435
@david-mcmahon Can we stick you with this for 1.4?

[2016-07-07 06:40] resouer commented on #19645
@yujuhong I think this needs a clean up. After we supported remote container runtime, even `GetPods(false)` can become a blocking call, we have encountered this once when using hyper.

But not quite sure about the potential data race in `HandlePodCleanups`, any tips?

[2016-07-07 06:42] Random-Liu commented on #25543
@thockin For temporary fix, something like `2>kube-proxy.log.stderr` should be enough.
The kernel monitor of node problem detector could be ported to parse arbitrary log, the only reason we can't do that for kube-proxy.log is because the log is too spammy.
`2>kube-proxy.log.stderr` should be enough for now. I checked the node in `kubernetes-e2e-gke-large-cluster` and `kubernetes-e2e-gce` cluster,

[2016-07-07 06:52] thockin commented on #25543
I thought that Dawn said we DO NOT want to parse logs.  Parsing logs is, in
general, a total hack and very very brittle.  we should have a real push
API.

On Wed, Jul 6, 2016 at 11:43 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-07-07 07:12] wojtek-t commented on #28537
I see - yeah, that's probably possible.

[2016-07-07 07:29] stefanodoni commented on #25893
Hi guys,

Any news about that?

As k8s 1.3 has been officially released, what's the recommended docker version?

Thank you

[2016-07-07 07:30] davidopp commented on #1574
Updating with the current status and plan.

[Taints and Tolerations](https://github.com/kubernetes/kubernetes/blob/master/docs/design/taint-toleration-dedicated.md) have been implemented as an alpha feature (see #25320 for details on what remains to be done to complete it).

@kevin-wangzefeng, @Dingshujie, and I came up with the following short-term plan:
* add a ForgivenessSeconds pointer field t

[2016-07-07 07:31] luedigernet opened #28582 "kubectl release 1.3.0 not able to get server version if localhost not included into /etc/hosts"
We are running our k8s clusters on top of vm's running coreos. After setting up a cluster with release 1.3.0 I'm no longer able to get the verions.

Used kubectl config during all tests

`
apiVersion: v1
clusters:
\- cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.pem
    server: https://admin-apiserver-prod.de-fra1.kubernetes.paas.metro.cloud
  name: kubernetes-admin-prod-de-fra1
conte

[2016-07-07 07:32] k8s-merge-robot opened #28584 "[k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10693/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-07 07:34] matchstick commented on #25543
@Random-Liu I agree with @thockin I also understood @dchen1107 thought we should not parse logs. Is that common practise for the node problem detector? It feels fragile to me and to be avoided.

[2016-07-07 07:34] colemickens opened #28585 "kube-registry-proxy fails to start on master due to "OutOfCpu", even though master is not out of CPU"
Not sure if I'm just doing something wrong. `kube-registry-proxy` never seems to run properly on the master. It fails to start due to "OutOfCpu" even though the master isn't under heavy CPU load.

This is running on 5e7c309b29280bef441800953a33a6468a0dc0c4.

[code]

[code]

But on the master machine:
[code]

[2016-07-07 07:39] jensskott opened #28586 "AWS LB only creates in one availability zone"
When I create a service with a Loadbalancer in AWS it creates it with Cross-Zone Load Balancing:    Disabled and only makes it available in one zone of two in us-west-1 for example.
Not sure if i need to extend the yaml file to enable cross zone load balancing.
![skarmavbild 2016-07-08 kl 09 55 11](https://cloud.githubusercontent.com/assets/8994143/16680905/25bf098e-44f2-11e6-8470-6d3f2a87434e.png

[2016-07-07 07:50] soltysh commented on #28584
Credentials problems seem to be part of #27839. Nothing wrong with jobs itself. I'm closing in favor of the other issue which is tracked by the gke team.

[2016-07-07 07:50] #28584 closed

[2016-07-07 07:57] matchstick commented on #25489
@kubernetes/sig-storage Can you try this again with 1.3? We made some fixes in this area recently. Also please let us know more of your setup? Are you using any attached volumes? Or is this just getting the container runtimes to work?

[2016-07-07 08:03] matchstick commented on #24255
@saad-ali @erictune @bprashanth Any thoughts on this Issue? I know some of you are looking at stateful workloads.

[2016-07-07 08:04] fxpz commented on #6962
Hi all,

I want to use kubernetes on my existing rackspace infrastructure but I don't understand if rackspace suppor was removed or not. In Doc, under "custom cloud solution" it's linked but I wasn't able to deploy it neither with `get.k8s.io` install method nor with `hack/dev-build-and-up.sh`. With `dev-build-and-up.sh` i got a `cannot allocate memory` error (I have 16GB or RAM!).

thanks in adva

[2016-07-07 08:16] jsafrane commented on #28451
@gmarek, can you provide me full controller-manager log with log level 4? And what kind of test are you running? As you pointed out, if the volume controller cannot save a PV to API server it will retry 5 times with 10 seconds interval and then it will delete the storage asset (most probably GCE PD). After that, the controller will try again in 15 seconds, creating a new GCE PD and saving correspo

[2016-07-07 08:26] nhlfr commented on #6650
From what I see, the volume plugins which are missing the e2e test are:

* AWS EBS
* Azure File
* Fibre Channel
* Flex volume
* Flocker
* Git
* secret
* vSphere

I agree with @asalkeld that it'd be better to create separate issues for them.

[2016-07-07 08:26] gmarek commented on #28451
This is fixed in #28467 - as mentioned above it was addon-updater fault, as it wasn't correctly handling non-namespaced objects, such as PVs.

[2016-07-07 08:28] jsafrane commented on #28451
I'm closing this issue then.

[2016-07-07 08:29] Random-Liu commented on #25543
@thockin @matchstick Yeah, I agree parsing log is fragile, that's why I call it a temporary or a quick fix. :)
The only good thing is that it doesn't need significant change on both sides, although I don't think it's a good solution, either. :(

For a better fix, it will need some more design and work. Let me think about it a little more~

Moreover, I still think https://github.com/kubernetes/kube

[2016-07-07 08:31] gmarek commented on #28451
#28467 is not merged yet.

[2016-07-07 08:48] yasseur1007 commented on #13585
@ncdc +1 !!

[2016-07-07 08:59] dotNetDR opened #28588 "How to specify docker user-defined networks"
I define docker network
[code]

and how to kubernetes specify it?
yaml
[code]

environment:

    docker version 1.9.1
    kubernetes 1.2.2

[2016-07-07 09:11] numidiasoft commented on #13585
:+1

[2016-07-07 09:45] wojtek-t opened #28590 "Optimize scheduler performance/throughput"
I increased QPS limits locally to 100 and run scalability tests in 1000-node cluster, but with all priority functions switched off. In that situation, scheduler is able to sustain 100pods/s throughput.

However, I looked into scheduler cpu profile, and interesting this is that we spend most of the time on:
- memory allocations / GC
- some super trivial operations like:
     2% in runtime.mapiterin

[2016-07-07 09:46] AdoHe commented on #28588
@dotNetDR kubernetes does not support docker network model(CNM) very well, I have already open a PR

[2016-07-07 09:49] AdoHe commented on #28590
/cc

[2016-07-07 09:51] puja108 commented on #28553
So the current solution is looking into https://github.com/kubernetes/kubernetes/tree/master/cluster/saltbase/salt/kube-dns and build working manifests for our setups based on those, right?

Strangely, even official setups like minikube, which just got updated, now don't come with a working DNS anymore. They have the DNS service running and also the addon-manager pod, but no DNS pods...

The lack

[2016-07-07 09:56] dotNetDR commented on #28588
thank you.

[2016-07-07 09:56] #28588 closed

[2016-07-07 10:04] mksalawa commented on #11382
After the conversation with @piosz, the proposed supported commands might be:

- `kubectl top node` - list all nodes with their CPU and Memory usage
- `kubectl top node <id>` - show the CPU and Memory usage for the given node
- `kubectl top node --selector=<label-query>` - list all nodes defined by the label query with their CPU and Memory usage

- `kubectl top pod` - list all pods with their CPU

[2016-07-07 10:05] wojtek-t commented on #28590
I already have some very simple bits put together. I will try to send the out today or tomorrow.

[2016-07-07 10:05] wojtek-t commented on #28590
Well - simple, but they seem to help.

[2016-07-07 10:14] AdoHe commented on #28551
@osterman Thanks for reporting. Actually when you use `kubectl get --export`, the exported resource is stripped off cluster-specific information. In you example, the nodePort and clusterIP of service are stripped off. However I do think there is a bug when using `--export` with resource list, we should forbid export when retrieving list, this options should only be used when get singular resource.

[2016-07-07 10:15] AdoHe commented on #28548
Please see #28551 for more detailed explanation.

[2016-07-07 10:20] ddysher opened #28591 "Unable to start monitoring-influxdb-grafana-v3-0 using petset"
monitoring-influxdb-grafana-v3-0 stays in `ContainerCreating`

[code]

logs from ps controller

[code]

kubernetes version
[code]

The cluster is brought up using `cluster/kube-up.sh`

@jszczepkowski @bprashanth

[2016-07-07 11:12] wojtek-t commented on #28590
BTW - selector spreading is basically #22262

[2016-07-07 11:18] wojtek-t commented on #28590
One thing that we need to do, is to avoid computing the same thing multiple times.

One example of it is computing "qos" of a given pod:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L1030

We are basically computing qos of a pod for every node.

The problem is that this function is non trivial and we are spending 8% of time in it (in

[2016-07-07 11:21] ivan4th commented on #25106
Please take a look at this gist to see what actually happens there: https://gist.github.com/ivan4th/ac9c1480c70672eaa87a66daff7d97e7
As you see, `VersionedObject` is non-nil and `info.Object` is an empty object. Also, internal representation is nowhere to be seen. The problem can be probably triggered
by passing a file containing internal object to kubectl apply (?) but I'm not sure about that and

[2016-07-07 11:40] piosz commented on #11382
cc @jszczepkowski

[2016-07-07 11:42] jszczepkowski commented on #28591
@ddysher
Can you tell us what are the events for `monitoring-influxdb-grafana` pod? Events can be returned by executing:
`kubectl describe pod [pod name]`

[2016-07-07 11:45] sttts commented on #19085
Here is the result of a number of optimizations: https://github.com/kubernetes/kubernetes/pull/28592

Roughly twice as fast.

[2016-07-07 11:57] talk2vino opened #28593 "cluster/kube-up.sh loop forever in version 1.3.0 in AWS"
Environment: Kubernetes in AWS

Previously i tried 30+ times in version Kubernetes 1.2.4 on AWS . It works flawless all the times.

Today when i tried the same with fresh new cluster with kubernetes version 1.3.0 . The cluster initialisation loops forever for 30 minutes

[code]

kube version

[code]

I go and checked each of the nodes with "docker ps" , and all of the nodes responded.

The below a

[2016-07-07 12:00] ddysher commented on #28591
Here's the result:
[code]

[2016-07-07 12:34] soltysh commented on #27997
@randalloveson that is a valid clue, I'll check our tests if they cover the case where the pods are stuck in pending state.

[2016-07-07 12:49] soltysh commented on #27997
It doesn't look like it had to do with pending pods, see #28597 where I've added that test case explicitly. @randalloveson can you provide a reproducer, that would be very helpful.

[2016-07-07 13:27] ivan4th commented on #25106
[Here](https://github.com/kubernetes/kubernetes/blob/acda24ae256cd9888f84002c135bef37fcc770b7/pkg/kubectl/cmd/apply.go#L176) info.Object which is internal is passed to `patcher.patch()` where it gets passed to `patcher.patchSimple()` but [there](https://github.com/kubernetes/kubernetes/blob/acda24ae256cd9888f84002c135bef37fcc770b7/pkg/kubectl/cmd/apply.go#L230) it gets serialized back into v1 repr

[2016-07-07 13:32] randalloveson commented on #27997
@soltysh I believe the reproduction conditions might be when requests to etcd for Pod status start falling short of some timeout used by the controller. When that happens, it seems like the Job that spawned the Pod assumes the worst and makes a new Pod, exacerbating the problem.

That or Jobs really will just ignore an existing Pod they created known to be in a Pending state and make more, which,

[2016-07-07 13:48] nickschuch opened #28598 "DynamoDB for Apiserver storage"
I keep coming back to the idea of running DynamoDB for apiserver data storage instead of etcd.

Is this a good idea or am I a bit crazy? Happy to start hacking on this if but wanted to create an issue first.

[2016-07-07 13:53] liggitt commented on #25106
which makes me think we are not exercising or testing it well, and when we do hit it it may not be working correctly

[2016-07-07 14:02] quinton-hoole commented on #6650
@kubernetes/sig-storage

[2016-07-07 14:04] ivan4th commented on #25106
That's right, will try to add panic() there and run all the tests, but I just mean that #26840 is not actually related to this issue and my PR #28557 for it isn't blocked by it either.

[2016-07-07 14:13] justinsb commented on #28174
Do you know of any reason not to just always enable this?

(If so, I guess we should still make it the default, but I guess that depends on the answer to the first question!)

[2016-07-07 14:19] smarterclayton commented on #7496
So one note on this (after I noticed it) is that if we add less paging support (as many command lines do) on long help pages, this change would have the opposite effect (it would be in the wrong spot).

[2016-07-07 14:23] derekwaynecarr opened #28601 "Add utility method for group kinds to replenish in quota for use downstream"
This should be placed in a utility method:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L272

/cc @deads2k - will look to do something to simplify rebase costing.

[2016-07-07 14:24] quinton-hoole opened #28602 "Federation: Add e2e tests for authentication"
Please re-use as much code as as possible from existing authentication tests.

1. valid credentials result in HTTP 200+ return codes for API calls against Federation API Server.
2. invalid credentials result in HTTP 403 return codes for API calls against Federation API Server.

[2016-07-07 14:28] soltysh commented on #27997
I'm starting to wonder if this has to do something with https://github.com/kubernetes/kubernetes/issues/28486. I need to do more thorough testing in that case.

[2016-07-07 14:35] quinton-hoole commented on #28580
@matchstick I think that you're confusing authentication with authorization? Authentication is already there.  We have no immediate plans to support federated authorization.

[2016-07-07 14:36] dmcnaught commented on #28174
I don't know of any reason not to @justinsb

[2016-07-07 14:38] rata commented on #13748
@thockin Thanks!
Well, nobody answered yet, but if this is needed for something else and they have a rush or something already started, it's fine. I, hopefully, already have another issue to work on :-)

@ncdc @smarterclayton will you work on this, then?

[2016-07-07 14:46] ncdc commented on #13748
I can get someone to work on it

[2016-07-07 14:49] ivan4th commented on #25106
Hit it in `TestApplyMultipleObjectsAsList` in `apply_test.go`, but then again the internal object gets encoded into external repr there: https://gist.github.com/ivan4th/388dd4af13bccab41471a643f0105e75

[2016-07-07 14:52] wojtek-t commented on #28590
To clarify, why I make "metadata" an  "interface{}" - this is basically to avoid having some strange type in the API. Then predicate function may want to cast to what they expect.

[2016-07-07 14:53] ncdc opened #28603 "Need a way to temporarily disable HPA"
In OpenShift, we're adding support for idling the pods managed by a `Deployment`, `ReplicationController`, etc. This would happen after e.g. we've recorded no traffic to a set of pods, and we'd set the replicas to 0. If there is an HPA associated with this, it presumably would act to increase the number of pods to the minimum value, instead of leaving it at 0 as the idler desires.

We would like t

[2016-07-07 14:55] DirectXMan12 commented on #28603
An alternative (although this would be a change to functionality) would be to say "if replicas == 0, HPA is disabled"

[2016-07-07 14:58] dims commented on #28533
@huang195 please see discussion in this issue - https://github.com/kubernetes/kubernetes/issues/4869 Please follow along there and hope we can close this issue.

[2016-07-07 15:06] huang195 commented on #28533
Thanks. Looks like it's covered well in the other thread. Will follow along there. Thanks @dims

[2016-07-07 15:06] #28533 closed

[2016-07-07 15:07] yujuhong commented on #25893
From https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#known-issues-and-important-steps-before-upgrading:
"The following versions of Docker Engine are supported - v1.10, v1.11 Although v1.9 is still compatible, we recommend upgrading to one of the supported versions. All prior versions of docker will not be supported."

[2016-07-07 15:19] yujuhong commented on #1574
SGTM.

[2016-07-07 15:26] luispabon opened #28605 "No upgrade path on AWS and probably any other cloud provider save GCE"
I'm contemplating upgrading a 1.2.x cluster up to 1.3 on AWS. Besides lack of any sort of documentation on how to do this safely, the only reference on how to do this on documentation (http://kubernetes.io/docs/admin/cluster-management/) is to use the `cluster/kube-push.sh` script which at the moment is broken:

[code]

I feel cluster upgrades haven't been paid much attention, yet they're essentia

[2016-07-07 15:30] derekwaynecarr commented on #28552
I agree on reasonable defaults for memory in 1.4.  I will send a PR.

Is there a compelling reason to not enable the defaults for disk in 1.4 though?  Only thing we need to ensure is that we ignore inodes for imagefs that is block level.

[2016-07-07 15:36] therc commented on #13748
@thockin since this involves touching the Service API, DNS server and/or proxy... could it be used/extended to support node-local services such as the LOAS daemon (#2209) or should that rather use a VIP, with no CNAMEs, so that loasd can tell if it's being contacted for service A vs B?

cc @erictune

[2016-07-07 15:42] thockin commented on #13748
I don't think the CNAME logic applies to node-local services.  That still
requires more design.

On Thu, Jul 7, 2016 at 8:37 AM, Rudi C <notifications@github.com> wrote:

[2016-07-07 15:50] therc commented on #13748
Ok, I can open a separate issue for that. Thanks for volunteering your review. ;-)

[2016-07-07 15:52] krousey opened #28608 "Flake error: google: could not find default credentials."
`error: google: could not find default credentials. See https://developers.google.com/accounts/docs/application-default-credentials for more information.` appears in a lot of flakes. Speculation is that the metadata server is slow to respond.

So far, these are the issues where this message has popped up:

#28569
#28565
#28523
#28507
#28493
#28439
#28437
#28429
#28426
#28420
#28293
#27976
#27839
#

[2016-07-07 15:59] rata commented on #13748
@ncdc thanks a lot!
I've talked at work, and with very low priority I can spend some hours here too. But what are your needs on this? Depends on that, maybe it's better if you, @ncdc, (or someone from your team) works on this. Most of my work will be on my spare time.
Or maybe we can work together, talking via slack and pushing some WIPs to the same branch. Or I can help testing, etc.

What do you

[2016-07-07 16:03] thockin commented on #13748
@ncdc are you guys branching from our master branch some time soon, hence
urgency, or are you going to catch the train at 1.4, in which case we
should let @rata try to do this.  I know it's hard to rely on spare-time
commitments, but this is how we grow community ownership.

On Thu, Jul 7, 2016 at 9:00 AM, rata <notifications@github.com> wrote:

[2016-07-07 16:05] ncdc commented on #13748
@thockin the next version of OpenShift will be kube 1.3 + backports, so I'm guessing we'll catch this in a future OpenShift version based on the 1.4 train unless @smarterclayton disagrees.

[2016-07-07 16:06] therc opened #28610 "Node-local services"
Sometimes users require daemons to run on each node. Scheduling them is easy, with DaemonSets. Discovery is more complicated and currently requires e.g. iptables hacks that bypass Kubernetes altogether. Possible use cases:
- monitoring agents such as datadog
- logging agents such as fluentd
- authenticating proxies such as [aws-es-proxy](https://github.com/kopeio/aws-es-proxy) or loasd (#2209)

At

[2016-07-07 16:16] mikedanese commented on #26224
These are new. I'm going to allow this one to be reopened

[2016-07-07 16:16] #26224 closed

[2016-07-07 16:24] javefang commented on #22609
Agreed with @victorgp , we are creating a high availability cluster, and some services like DNS and Traefik do rely on the default kubernetes endpoint. I can workaround this by forcing them to use the load balancer's URL directly (basically don't use the default endpoint). But I feel like the service endpoint for kubernetes should be consistent with the rest?

[2016-07-07 16:27] yujuhong commented on #19645
@resouer, @saad-ali has already moved volume related code to a separate volume manager, so the `HandlePodCleanups` function no longer handles volumes/PD, neither does it talk to the apiserver. That was the heaviest operation that the cleanup function did.

I think the main race condition that may happen is described in https://github.com/kubernetes/kubernetes/issues/13418#issuecomment-183146070.

[2016-07-07 16:32] krousey opened #28612 "Broken test runs: gcloud crashing"
gcloud is crashing due to `ERROR: gcloud crashed (error): [Errno 111] Connection refused`

see https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10711/ for an example.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19753/ seems to have some backtraces. This may indicate that it has something to do with the metadata server.

At

[2016-07-07 16:33] krousey commented on #28612
Seems we're having metadata issues in general. Also filed #28608 this morning.

[2016-07-07 16:44] krousey commented on #28608
cc @fejta @spxtr

[2016-07-07 16:44] krousey commented on #28612
cc @fejta @spxtr possibly related to #23545

[2016-07-07 16:47] bprashanth commented on #7562
In the RC with N replicas case we can do this 1 of 2 ways:
1. Force the user to always pick the host and write it to the annotation. Just like today you can't create an RC with replicas > 1 and a read/write gce PD, you can't create an RC with replicas > 1 and an unset "stick-host" annotation because the 2 pods might get scheduled simultaneously (ignoring that we can't validate cross object right n

[2016-07-07 16:53] #27169 closed

[2016-07-07 16:53] #2968 closed

[2016-07-07 16:53] huang195 commented on #4869
Is it correct to summarize that if I'm using Kube 1.3+ with Docker 1.10, I can run a kubelet inside of a container without passing the `--containerized` flag?

[2016-07-07 16:53] #26930 closed

[2016-07-07 16:54] whitlockjc commented on #2968
@nikhiljindal That makes sense, thanks for clarifying.

[2016-07-07 16:59] bprashanth commented on #11382
Top for contaienrs within a pod would also help (currently kubectl exec  -- top doesn't work as well because of the TERM env var, and not all containers having top). Also a wrapper around `top --selector` that just allowed `top service/rc/job/daemon...`

Disk/Network utilization would be REALLY helpful.

Just throwing it out there as an idea, an ncurses UI that allowed me to scroll through the lis

[2016-07-07 17:00] bprashanth commented on #11382
@kubernetes/kubectl

[2016-07-07 17:07] quinton-hoole commented on #27767
These should all be fixed now.  Feel free to re-open and re-assign to me if you see any further failures.

[2016-07-07 17:07] #27767 closed

[2016-07-07 17:13] vishh commented on #11382
+1 for supporting per-container usage as well, in addition to that of pods. +1 for disk (and inodes once its available) usage as well.

[2016-07-07 17:16] quinton-hoole commented on #28041
Should be fixed now. Re-open and assign to me or @mml if anyone sees it again.

[2016-07-07 17:16] #28041 closed

[2016-07-07 17:17] quinton-hoole commented on #27767
Please ignore my comment above.  Wrong issue :-(

The root cause appears to be https://github.com/kubernetes/kubernetes/issues/28612

[2016-07-07 17:18] spxtr commented on #28612
We don't run the metadata cache anymore now that we only run one test per VM. That we're still seeing Error 111 is worrying.

[2016-07-07 17:19] smarterclayton commented on #13748
Yes, I was offering help to @rata (such as review time, feedback, etc).

On Thu, Jul 7, 2016 at 12:05 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-07-07 17:21] ncdc commented on #28560
cc @kubernetes/rh-cluster-infra @smarterclayton

[2016-07-07 17:27] #23385 closed

[2016-07-07 17:29] alex-mohr commented on #28435
I think this falls under @david-mcmahon and the release infra area, so proactively assigning -- David, let us know if you disagree.

I think this is also interesting to install, because downloading a 1.4GB tarball that extracts to 3+GB is a relatively sad install process.

There may be short-term expedient things we could do, e.g. building multiple tar balls with only linux x86-64 or srcs while st

[2016-07-07 17:32] quinton-hoole commented on #28358
This is now fixed.

[2016-07-07 17:32] #28358 closed

[2016-07-07 17:35] Random-Liu commented on #28610
@thockin This is also very useful for node problem detector. If we want kube-proxy to report problem to node problem detector via network, we can rely on specific port in host network now.
However, if we have this, it could be cleaner. :)

[2016-07-07 17:41] sudhi-vm opened #28614 "[Bug] Function closures in addConversionFuncs is bound to same 'kind' variable"
In files `pkg/api/v1/conversion.go`, `pkg/apis/extensions/v1beta1/conversion.go` and `federation/apis/core/v1/conversion.go`, the code that adds field label conversions for ObjectMeta fields has a minor closure bug. Multiple closure functions `func(label, value string) (string, string, error)` created in the loop for each kind is bound to the same variable `kind`. This typically causes the last `k

[2016-07-07 17:45] yujuhong commented on #28577
The log is full of `Unexpected EOF during watch stream event decoding: unexpected EOF` errors. Adding team CSI.

[2016-07-07 17:47] quinton-hoole commented on #27638
@mml, while you're busy adding e2e tests, could you add one to reproduce this?  And then ask @mfanjie to debug and fix the cluster controller.   It looks like it is trying to apply an update to the cluster object using an out-of-date version (i.e. something else has updated the cluster object in the background).  I simple retry here should fix the problem.

[2016-07-07 17:47] jingxu97 commented on #25489
The fix in PR https://github.com/kubernetes/kubernetes/pull/27054 might fix your issue. Please let us know if you still experience the issue. Thanks!

[2016-07-07 17:49] quinton-hoole commented on #27623
I believe this to be fixed, but we still lack an e2e test to verify conclusively.  @mml would you like to take this on along with the other e2e tests that you are busy adding?

[2016-07-07 17:50] fabioy commented on #28612
This may be a known issue and it's being worked on internally on GCE.

[2016-07-07 17:51] atombender commented on #28577
All the services are logging that, I believe. It may be innocuous, but I don't know. I'm using etcd 2.2.5. I can strace the connection if it would help.

[2016-07-07 17:56] k8s-merge-robot opened #28615 "kubernetes-e2e-gce-federation: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/1554/

Run so broken it didn't make JUnit output!

[2016-07-07 17:56] vishh commented on #28552
@derekwaynecarr Excepting soak time for disk evictions, I can't think of any other reason not to enable it by default.

[2016-07-07 17:58] coufon opened #28616 "Mounting (only 'default-token') volume takes a long time when creating a batch of pods"
We break down the e2e latency of creating a batch of pods and find that mounting volumes is a serialization point that slows down the process. The pods in the test do not have volumes in specification, but they have the 'default token' volumes.

When creating 30 nginx pods on a desktop, with mounting volume it takes around 25s, and it takes 12s without mounting volumes.

With mounting pods, the cu

[2016-07-07 17:59] coufon commented on #28616
@yujuhong @dchen1107

[2016-07-07 18:05] rapenchukd opened #28617 "Setting secretKeyRef for container environments does not allow bools or ints"
Syptom: loading environment variables from keys within a secret does not allow loading of keys with a value that is a BOOL or an INT of any size.

Version:  1.2.4 confirmed

Explaination:

sample secret:
testbool=true
testint=8080
teststring=hello

[code]

in kubernetes:

[code]

Sample deployment:

[code]

in Kubernetes:

[code]

As you can see, using a kubectl apply -f to upload my deployment, t

[2016-07-07 18:12] yujuhong commented on #28616
/cc @kubernetes/sig-storage @kubernetes/sig-node

[2016-07-07 18:14] erictune opened #28618 "e2e test for authentication and authorization"
We need an e2e test that sets up a cluster using "standard" means and ensures that some users can do an action and other users cannot.

[2016-07-07 18:19] chancez commented on #28617
What if you wrap the values in quotes before base64 encoding? Environment variables obviously only support strings, so ints/bools won't work, and need to be represented as strings.

IE:
[code]

[2016-07-07 18:24] fejta commented on #28612
In the mean time I'll work on https://github.com/kubernetes/test-infra/issues/266 to mitigate this.

[2016-07-07 18:26] mikedanese commented on #28435
We explode those tars in GCS. We should document how to pull specific pieces of the release.

https://gist.github.com/mikedanese/d3eed580c7f0a0e5c13534220f88eb5a

[2016-07-07 18:28] thockin commented on #13748
Great! @rata, please let us know if you feel you can't make enough time for
this, or if you feel like you could use help.

On Thu, Jul 7, 2016 at 10:20 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-07-07 18:28] bprashanth commented on #1542
I think the harder problem here is failover. Most quorum based consensus protocols can steer through member outage by running rounds of leader election (eg etcd, zookeeper). I think simple petset+some form of leader aware Service should suffice here (https://github.com/kubernetes/kubernetes/issues/28443, https://github.com/kubernetes/kubernetes/issues/10456).

However, classic master/slave does no

[2016-07-07 18:32] osterman commented on #28551
@AdoHe Thanks - that helps explain what's going on. I'd prefer that `--export` work for lists as well. I also think "cluster-specific" should be qualified. Fields dynamically generated by the *cluster* should be stripped off with `--export`; however, fields that I specify should always be preserved by exports. I also think that the following fields should be stripped from exports because they were

[2016-07-07 18:35] mtaufen opened #28619 "Eviction manager's observed memory.available is vastly different from /proc/meminfo MemAvailable"
I'm working on a node e2e memory eviction test, and even though I set the aggressive hard eviction threshold of ` --eviction-hard memory.available<2.5Gi`, I noticed that my pods were chewing up memory without getting evicted, so I started digging.

I logged the `observations` made from the `synchronize` function in `kubernetes/pkg/kubelet/eviction/eviction_manager.go`, with `glog.Infof("eviction m

[2016-07-07 18:35] osterman commented on #28190
@AdoHe yes - understood. The "feature request" would be to change that behavior or add an additional column which is the elapsed time for the current phase. =)

[2016-07-07 18:36] #24440 closed

[2016-07-07 18:43] rapenchukd commented on #28617
that seems to work... sorta...
However the issue is that the env var is set to ""true"" literal. not "true"
likewise, "12345" becomes ""12345""

I would have to put logic in my container startup to strip extra quotes off of environment variables... which I dont think is great.

[2016-07-07 18:44] allenmiller opened #28620 "Extraneous right-paren in influxdb-pv.yaml"
Attempting to deploy kubernetes from commit  939b98 on Ubuntu 14.04 with  Vagrant and VMWare Workstation using cluster/kube-up.sh fails with

[code]

There is an unbalanced ")" on line 2 of addons/cluster-monitoring/influxdb/influxdb-pv.yaml

I have a patch that I am testing locally, and will submit a pull request shortly.

[2016-07-07 18:46] chancez commented on #28617
Yeah this doesn't seem right, either way. Since your issue is bools/ints, would a configMap work you think?

[2016-07-07 18:48] derekwaynecarr commented on #28552
fair enough, 1.5 is fine to enable by default.

[2016-07-07 18:48] rapenchukd commented on #28617
we could probably let it slide for the true/false type configurations, but as stated above, we have a license key for a particular piece of software that is numbers-only. we need to be able to consume that as a secret.

[2016-07-07 19:10] rata commented on #13748
@thockin @smarterclayton @ncdc: thanks a lot! I'll update the issue when I have news

[2016-07-07 19:25] miekg commented on #28366
@girishkalele i've seen those timeout before in DNS code. I've never been able to establish why (or where in the code) this happens.

Is it possible to check what gcedns is returning?

[2016-07-07 19:36] abrarshivani opened #28625 "VSphere Volume doesn't unmount"
While deleting the pod the vsphere volume doesn't unmount. Kubelet log is as follows,

435 goroutinemap.go:156] Operation for "kubernetes.io/vsphere-volume/[vsanDatastore]volumes/test3" failed. No retries permitted until 2016-07-07 12:33:32.757609336 -0700 PDT (durationBeforeRetry 500ms). error: UnmountVolume.TearDown failed for volume "kubernetes.io/vsphere-volume/[vsanDatastore]volumes/test3" (v

[2016-07-07 19:55] dims commented on #28617
what version of kubernetes? I just tried this on master and it seems fine.

[code]

[2016-07-07 20:18] rapenchukd commented on #28617
version 1.2.4

[2016-07-07 20:21] #25345 closed

[2016-07-07 20:21] #2967 closed

[2016-07-07 20:22] #28620 closed

[2016-07-07 20:22] rapenchukd commented on #28617
A colleague is saying it is also happening on 1.2.5

[2016-07-07 20:24] david-mcmahon commented on #28435
This looks like a huge meta-issue with several solutions affecting many areas of the product.

If we all agree on @jbeda 's suggestion solutions, each should be broken out into their own bug (grouped where appropriate) and assigned.

Many of these solutions potentially have product/user/usability ramifications and need the attention of the area owner(s).

I'll make a first pass at the original lis

[2016-07-07 20:26] david-mcmahon opened #28629 "Build release tars per-architecture"
Either include non-arch specific stuff in every tar or break that out too.

ref #28435

[2016-07-07 20:28] david-mcmahon opened #28630 "Ability to build the Docker images on the fly"
It should be easy to automate (as part of the binary) creating a Dockerfile, referencing the running binary and driving docker.  `hyperkube admin create-container-image` could do this. We could also support `hyperkube admin create-container-image --aci` and `hyperkube admin create-container-image --docker --just-dockerfile`.

ref #28435

cc @fgrzadkowski @luxas

[2016-07-07 20:31] david-mcmahon opened #28631 "Break out kubectl as a separate download from the server components"
`gcloud` already ships it separately.  The user cases here differ dramatically.

ref #28435

[2016-07-07 20:33] david-mcmahon opened #28632 "Reevaluate all of our targets. Do we really need 32bit Windows?"
ref #28435

[2016-07-07 20:35] david-mcmahon opened #28633 "New federation target binaries add 150MB uncompressed for amd64"
Can they be folded into hyperkube?

ref #28435

[2016-07-07 20:37] david-mcmahon opened #28635 "Do we need to ship the kubemark binary?"
No end users will actually use that.  This is 100M uncompressed.

ref #28435

[2016-07-07 20:41] huggsboson commented on #4869
I was doing it with 1.2 with docker 1.10.3, but you need to make sure you're running kubelet with /var/lib/kubelet mounted as shared.  With 1.3 I think a lot of things have changed with the hyperkube image so I'm less sure about things.

[2016-07-07 20:43] david-mcmahon commented on #28629
@luxas, interested in helping with this one?

[2016-07-07 20:56] quinton-hoole commented on #28580
Retitled based on in-person discussion with @matchstick .

[2016-07-07 20:56] #28451 closed

[2016-07-07 21:09] tristanz commented on #27973
I believe this is a dupe of https://github.com/kubernetes/kubernetes/issues/26943.  The difference is the `rslave` option, although that doesn't seem to work by itself with stock `docker-machine`.

My current workaround is to launch with:
[code]

On cluster shutdown I also need to cleanup the mounts with:
[code]

[2016-07-07 21:19] janetkuo commented on #26834
Added logs for further debug

[2016-07-07 21:28] davidopp commented on #7562
Ah, thanks for the explanation.

Requiring the user to pick the host (option 1) seems bad.

Would a third option be to still have the kubelet write the stick-host annotation, but have kubelet admission control reject the second (and all subsequent) pods? That should cause the RC and scheduler to try again if the scenario you described for 1 happens.

[2016-07-07 21:31] therc commented on #28610
I created #28637. Feel free to poke holes in it.

[2016-07-07 21:36] bprashanth commented on #25543
Re making kube-proxy "not panic", it currently fails in resizing the hash table for conntrack entries, for which it needs to write to /sys. I'm not sure if there are more locations (we moved /sys/module/br_netfilter loading into kubelet IIUC), or if conntrack itself needs write access to /sys.

I think Dawn/Liu are more worried about the NPD not parsing kube-proxy logs, because its memory usage wo

[2016-07-07 21:37] adityakali commented on #27754
It seems kubernetes uses 10GB root disk size for clusters with nodes <= 1000 and 50GB otherwise (https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L663). GCI reserves 4Gb for its rootfs partitions, and all of the rest will be available for logs, docker containers, user-data (home dirs), etc.

So I think whats really needed here is to scale disk-size for master (and possibly

[2016-07-07 21:47] timstclair opened #28638 "Automate cAdvisor godeps merges"
To avoid large batched merges and frequently test our cAdvisor changes in Kubernetes we should update cAdvisor godeps in Kubernetes more frequently. To aid this process, we should invest in automating the process of syncing the Godeps.

One way this could work is through a weekly jenkins job that:
1. `go get -u github.com/tools/godep`
2. Grab the latest Kubernetes (HEAD)
3. Grab the latest cAdviso

[2016-07-07 22:05] davidopp commented on #28590
Sounds like a good idea.

[2016-07-07 22:07] mingfang commented on #3595
what is the status of this?
To run a high traffic nginx site I need to increase the number of open files.
By default the value is
[code]
The nginx configuration to increase the number of open files is
[code]
However on startup, I'm seeing this in error.log
[code]

When running starting docker, I would set ulimit to resolve this problem, e.g.
[code]

How can I do this in kubernetes?

[2016-07-07 22:12] janetkuo commented on #28507
This failure mode happened in multiple places and is tracked in #28608

[2016-07-07 22:13] saad-ali opened #28640 "Replace mount exec calls with syscalls"
For things like mount, we should use [`syscall`](https://golang.org/pkg/syscall/#Mount) instead of [`exec`](https://golang.org/pkg/os/exec/)

https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L107

[2016-07-07 22:25] timstclair opened #28641 "PR builder: Cluster failed to initialize within 300 seconds"
Happened several times in the last few runs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28543/kubernetes-pull-build-test-e2e-gce/48158/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/26696/kubernetes-pull-build-test-e2e-gce/48157/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/27243/kubernetes-pull-build-test-e2e-gce

[2016-07-07 22:25] timstclair commented on #28641
@krousey @fejta

[2016-07-07 22:30] bprashanth commented on #24255
suggest modifying your config to include:
[code]

Then running `kubectl exec -it mysql-pod-name /bin/bash`, `env`, `/entrypoint.sh mysqld` ...you get the idea.

[2016-07-07 22:31] timstclair commented on #28641
Looks like a GCE issue:
[code]

A recent run failed with a slightly different error:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28639/kubernetes-pull-build-test-e2e-gce/48160/
[code]

[2016-07-07 22:34] timstclair commented on #28641
Possibly a duplicate of https://github.com/kubernetes/kubernetes/issues/28612?

[2016-07-07 22:40] janetkuo commented on #26760
Hit this also, see [log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/26696/kubernetes-pull-build-test-e2e-gce/48157/)

[2016-07-07 22:42] yujuhong opened #28642 "kubelet container runtime API machinery"
The umbrella issue for container runtime interface/API: #28396

PR #17048 introduces the client/server architecture to improve container runtime integration. The PR uses protobuf+grpc, with API defined manually in the proto files and the corresponding go code generated automatically. This process is straightforward and let us focus on the iterating the API itself.

In the long run, we may want to

[2016-07-07 22:55] cjcullen commented on #27319
This should be fixed now. The most recent failure looks like a test run that was killed.

[2016-07-07 22:55] #27319 closed

[2016-07-07 22:58] smarterclayton commented on #7562
Shouldn't the Kubelet *already* prevent concurrent pods from accessing a
RWO persistent volume by blocking the second pod from starting?

That sounds like a bug we already have to fix.

The scheduler already has to be aware of pvcs for label spreading... It
doesn't seem completely crazy that it can write back correlative info to
the PVC once scheduled.

On Jul 7, 2016, at 5:29 PM, David Oppenheime

[2016-07-07 23:00] saad-ali commented on #28616
@coufon Volumes are mounted asynchronously by the volume manager. The loops in volume manager operate at 10Hz or slower. Based on the existing periods for these loops it could take as much as 500ms or more for a pod's volume to get mounted even if the mount operation itself is much faster than that.

For the sake of testing, could you try your test with the following changes:
In [volume_manager](h

[2016-07-07 23:10] matchstick commented on #28616
@coufon did you run your test on 1.2? Or 1.3? if not on 1.3 can you try there too? We recently changed a lot of code in that path. Hopefully you can see an improvement.

[2016-07-07 23:15] dhawal55 opened #28643 "Attach detach controller not working in k8s 1.3 for AWS EBS volume"
I upgraded to the latest k8s 1.3 and trying to leverage the latest attach detach controller. But I'm unable to mount AWS EBS volumes. I get the below error:

Error syncing pod, skipping: timeout expired waiting for volumes to attach/mount for pod "mypod-2170121488-bh7ir"/"kube-system". list of unattached/unmounted volumes=[my-storage]

As per AWS, the volume status is in-use and attached but k8s i

[2016-07-07 23:31] yathi-naik opened #28644 "AWS: Wily Kubernetes fails to come up"
Kubernetes is failing to start on AWS wily. Following the guide from here: http://kubernetes.io/docs/getting-started-guides/aws/

Here's a snippet from /var/log/syslog

[code]

[2016-07-07 23:31] alex-mohr commented on #25543
My understanding of 1.3's state based on a brief chat with @Random-Liu : something like ~1 in 1000 nodes will be affected by this issue and if nodes are affected, pods scheduled on those nodes have {broken,little,no} networking.

We hope Docker will eventually fix it.  But because that's not the case for 1.3, and we don't want to make excessive changes to 1.3, perhaps that means that we should fix

[2016-07-07 23:41] yujuhong commented on #28616
To add some context, we don't have an SLO for pod startup during batch creation yet. @coufon is helping us with the node performance benchmark, gathering and analyzing the data, so that we can have a more complete picture of the node performance (e.g., pod startup/deletion throughput and latency).

The reconciler loops with a 500ms. In each iteration, does it mount volumes for pods sequentially or

[2016-07-07 23:52] matchstick commented on #23258
@orospakr @pmorie @saad-ali @ciwang

I LGTMed the PR and then realized it needed more work. Reverting it and assigning it to ciwang.

We need to make sure that we only use the "discard" mount option when the fs supports it.
Assigning to ciwang for now. If anyone else wants to work on it feel free to grab it.

[2016-07-08 00:02] cjcullen commented on #28608
This has the same root cause at #28612. I'm going to close this as a duplicate.

[2016-07-08 00:02] #28608 closed

[2016-07-08 00:03] cjcullen commented on #27839
All of the recent issues are due to the flaky jenkins metadata server issue: #28608, #28612.

[2016-07-08 00:03] #27839 closed

[2016-07-08 00:13] timstclair commented on #28641
This appears to have resolved itself.

[2016-07-08 00:14] matchstick commented on #28367
@kubernetes/sig-storage in the sig today @eparis said he would run this down. Thanks eric!

[2016-07-08 00:28] girishkalele opened #28647 "[Feature] Source IP preservation for Virtual IPs"
Source IP Preservation - change GCE load-balancer strategy to health-checks.

[2016-07-08 00:31] girishkalele opened #28648 "[Feature] Replicated and autoscaled DNS - reliability improvements"
DNS SPOF, Autoscaling and GKE concerns - SPOF and upgrade path without downtime.

Investigate switching to deployments or HPA.
Fix addon manager upgrade path to allow rolling upgrades of DNS pods - SLO is 100% DNS service availability during rolling node upgrades and master upgrades.

[2016-07-08 00:33] girishkalele opened #28650 "Resolve cbr0 hairpin/promiscuous mode duplicate packet issue"
Implement kubenet installing ebtables rules to block the duplicate packets.

[2016-07-08 00:35] girishkalele opened #28651 "[Feature] IP Subnets for Nodes"
[Girish - Need a good description/writeup for this feature]

Provide a new mode of Pod CIDR allocation for nodes instead of the current discovery mechanism.

[2016-07-08 00:37] girishkalele opened #28652 "[Feature] DNS Stub Zones - Using Config Maps"

[2016-07-08 00:39] girishkalele opened #28653 "[Feature] Integrate closely with flannel and/or Calico, via network plugins."
Integrate closely with flannel and/or Calico, via network plugins.

[2016-07-08 00:41] girishkalele opened #28654 "Decouple bootstrapping for host network and pod network (cbr0)"

[2016-07-08 00:45] k8s-merge-robot opened #28656 "kubernetes-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10735/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26425 #26715

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec through

[2016-07-08 00:53] vishh commented on #28619
cc @derekwaynecarr

[2016-07-08 00:55] vishh commented on #28619
@mtaufen and I looked at this issue together briefly today and we suspect that cAdvisor is not accounting for tmpfs as part of `working_set`. We need to isolate and confirm this issue.
@derekwaynecarr since your day starts earlier, do take a look at cAdvisor tmpfs handling if you get a chance.

[2016-07-08 00:55] k8s-merge-robot opened #28657 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13349/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-07-08 00:59] saad-ali commented on #28616
Volume manager parallelizes work as long as the underlying volume is not the same. For secret volumes that means as long as the SecretName is different. In this case, if all the pods being batch created are identical (and therefore referencing the same volume), then they would be handled serially.

[2016-07-08 01:09] bprashanth commented on #7562
In the RC case we want read-write many I guess, each replica can create a unique subdir in the volume.

I think I'm going to prototype a bit:
1. Extend hostPath and emptyDir to pvs and use the sticky-host annotation as discussed
2. Write sticky-host from the scheduler ("how" remains TDB)
3. Reject any volume from the kubelet with sticky-host != self.nodeName
4. Figure out recycle policy for emptyd

[2016-07-08 01:18] saad-ali commented on #19645
Yep, we can close this issue.

[2016-07-08 01:18] #19645 closed

[2016-07-08 01:25] coufon commented on #28616
@saad-ali I redo the test with the new parameters. The result is the same.

@matchstick My local kubernetes code are pulled on 15th June. So the code do not contain the updates of the previous month. I will do the tests for both 1.2 and 1.3 later.

[2016-07-08 01:26] dims commented on #28272
@janosi @CsatariGergely - the 64m default is not enough? what would be the best way to make it configurable for your use? (pass a parameter in kubelet command line?)

[2016-07-08 01:30] bprashanth opened #28658 "Set pod conditions from a container probe"
I'd like a way to export some key pieces of information from a pod, periodically, into the apiserver, without invoking kubectl or linking against the Kubernetes api. One way to do this is through a new type of http "condition" probe, that returns a json struct of fields to set in either the PodCondition, or Pod annotations under a special key.

One can use this to implement a PetSet of "type=maste

[2016-07-08 01:36] saad-ali commented on #28616
@coufon Ya, then it's because the volume mounts are happening serially, as mentioned above. We can probably optimize this by enabling parallelization despite the same underlying volume for volume plugins where multiple pending operations don't matter (like secrets).

[2016-07-08 01:41] brendony opened #28659 "Secrets not mounted in v1.3.0 using standalone docker. (v1.2.5 OK)"
Please see attached files.

In deploy_kubernetes, I can select the version of k8 to use.
[Archive.zip](https://github.com/kubernetes/kubernetes/files/353351/Archive.zip)

Expected behaviour: Achieved by selecting v1.2.5.
1. docker exec into the deployed container.
2. check the text in file /home/secret/*

Bug behaviour: Achieved by selecting v1.3.0
3. There will be no file in /home/secret

Perhaps

[2016-07-08 01:45] dims commented on #25403
@janetkuo @nhlfr +1 to close this issue

[2016-07-08 01:48] dims commented on #23404
@pmorie @thockin So we can close this issue now?

[2016-07-08 01:52] vishh commented on #28619
Bytes written to tmpfs are being accounted as part of the overall usage of the cgroups. cAdvisor attempts to ignore inactive files, but weirdly, all writes to tmpfs from inside a memcg is getting accounted as inactive file usage instead of active file usage.
Ideally, we want `working-set` to match the kernel logic [here](http://lxr.free-electrons.com/source/mm/oom_kill.c#L187).
I will continue loo

[2016-07-08 02:03] dims commented on #28659
@brendony - please try this tip - https://github.com/kubernetes/kubernetes.github.io/pull/493/commits/665f9c47434d65dddd59b02f205f1c0d3d771bbd

There's actually another tip as well here:
https://github.com/kubernetes/kubernetes.github.io/pull/493#issuecomment-219817652

[2016-07-08 02:08] bprashanth opened #28660 "public network identities for pets"
This has been asked for more than once by petset dogfooders in the context of running dbaas or WAN petset deployment. There are at least 2 ways to achieve it:
1. Headless service (already a requirement for petset) of type={loadbalancer, nodeport}, resulting in each endpoint getting a public identity
2. PetSet controller creates a service per pet

Public DNS per pet would probably work just as well

[2016-07-08 02:13] smarterclayton commented on #28660
I do have some guys working on bare metal l4 ingress, but it's not going to be available anytime soon in a way that would be useful for this.

Service per pet seems like we're not solving the right problem.  Should loadbalancer service work differently with a headless service?

[2016-07-08 02:13] smarterclayton commented on #28660
You'd needs DNS outside too

[2016-07-08 02:17] smarterclayton commented on #28658
This is not uncommon in enterprise pod balancers, although typically it's
different endpoints.  I thought both nginx and haproxy could also do
something like this.

On the other hand, should petsets always make the leader the pod-0 (the
programmed leader)?  I assume this is for petsets that have no innate
failover as per your earlier issue?

On Jul 7, 2016, at 9:30 PM, Prashanth B <notifications@g

[2016-07-08 02:24] AdoHe commented on #28551
@kubernetes/kubectl I think there are two things we need to with export: 1. "cluster-specific" should be qualified, or users will get confused. 2. how export should work with list resources.

[2016-07-08 02:47] fejta commented on #26269
go run hack/e2e.go is the only supported way to invoke e2e testing. Please do not use ginkgo-e2e.sh directly.

[2016-07-08 02:56] fejta opened #28662 "ghprb plugin may fail to update github status"
Example: http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/13440/consoleFull

[code]

[2016-07-08 03:04] spxtr commented on #28662
Might have run out of API tokens.

[2016-07-08 03:30] therc commented on #15169
I have #28637 out for a solution involving DaemonSets. We currently use run the DataDog node agent as a DaemonSet with `containerPort: 8125` and `hostPort: 8125`. We've been using a hack for the node-local part: pods send traffic to a magic IP address that is translated to the node's IP through a custom iptables rule set up by our installer. With my proposal, the magic IP is replaced by a service

[2016-07-08 03:52] smarterclayton commented on #20504
@hongchaodeng Looking at what it would take to bump to etcd3 in this repo.  It looks like rkt depends on a GRPC from Feb 24, while the etcd3 APIs depend on the newer GRPC.  From a hacked together refresh:

[code]

Do we need to bump rocket in order to move to etcd 3?

[2016-07-08 03:57] hongchaodeng commented on #20504
@yifan-gu and I already had discussion on this and the answer is yes.
There is a couple of bug fixes in grpc that we would like to get in.

[2016-07-08 03:58] smarterclayton commented on #20504
Ok.  I verified that bumping gogoproto and golang/proto won't break us, and did a quick round of tests to verify everything still worked afterwards.

[2016-07-08 03:59] xiang90 commented on #20504
@smarterclayton Can we hold that off for a few days? There is still a few issues in today's go-grpc. Most of them will be resolved by grpc GA release within this month.

[2016-07-08 04:00] #23404 closed

[2016-07-08 04:04] thockin commented on #28660
On Thu, Jul 7, 2016 at 7:09 PM, Prashanth B <notifications@github.com> wrote:

I remembered one of the issues here.  NodePorts are allocated as part
of apiserver, and the current API has room for 1 nodePort per
service-port.  Making a headless Service of type NodePort means we
need to a) dynamically allocate NodePort and b) report more than one
NP per SP.  Puke.

Works with existing infrastructure

[2016-07-08 04:18] girishkalele opened #28664 "[Feature] Kube-proxy Monitoring"
See [Networking Features Wiki](https://github.com/kubernetes/kubernetes/wiki/Networking-Features-under-development) for more details and related links

[2016-07-08 04:20] girishkalele opened #28665 "[Feature] DNS format flip"
See [Networking Features Wiki](https://github.com/kubernetes/kubernetes/wiki/Networking-Features-under-development) for more details and links.

[2016-07-08 04:25] thockin commented on #7562
Prashanth and I spoke a bit, here's my recollection.

I think the *right* answer is to extend both emptyDir and hostPath to have
special meaning in PersistentVolumes context.

A PV emptyDir means "I want a local volume that has the same lifetime as
the PV".  The actual path to the volume doesn't matter, and is not knowable
a priori, though is maybe discoverable via PV.status.  I expect this is
wha

[2016-07-08 04:40] davidopp commented on #7562
I still don't understand why this is necessary as opposed to having the Kubelet do it. We can make Kubelet admission control reject a second (and third, and fourth, ...) pod, which would address the "2 pods might get scheduled simultaneously" problem you mentioned in https://github.com/kubernetes/kubernetes/issues/7562#issuecomment-231137955.

It would be great to keep this writing of the annotati

[2016-07-08 04:40] smarterclayton commented on #20504
Looking at the schedules, I'll definitely want a lot of soak time with etcd3 in Kube.  Having to wait until near the end of the month is somewhat concerning.  Do they have a date for their GA release?

[2016-07-08 04:48] bprashanth commented on #7562
I was trying to do both. Kubelet rejection has till now been a last resort type thing, because it incurs an additional round trip pod create/delete. By writing to the annotation in the scheduler we're effectively binding a volume to a node, and the scheduler has a global view (in theory) of the available disk on all nodes, so it didn't feel too wrong. I can start with the round trip solution.

[2016-07-08 04:51] xiang90 commented on #20504
@smarterclayton Actually we are waiting for one thing: https://github.com/grpc/grpc-go/pull/748. It will probably get merged next week. Then we will bump the dependency in etcd, then we bump etcd3 in k8s. Sounds good?

[2016-07-08 04:54] bprashanth commented on #28658
This is for pets with innate failover. Making pet-0 the leader is easy, we can given pet-0 to all the clients of the db, but if it gets partitioned we need to either:
1. redirect requests to pet-0 to the new master instead
2. don't give pet-0 to clients, but give pet-master instead, and keep updating what pet-master resolves to

I'm going for 2 with this.

Yeah we could force people to setup a loa

[2016-07-08 04:57] bprashanth commented on #28658
I mean, pets with innate failover for master/slave. For example we don't need this for zookeeper because you write to any voting member and it waits for an ack from a majority. With mysql master/slave you must write to the current master. I think the usual way to handle this is keepalived and a floating vip.

[2016-07-08 05:00] bprashanth commented on #28660
I meant if one were to flip the "governingService" that manages the network identity of the petset to type=lb (it's currently just a headless service) each endpoint will get a public ip.

I can't put my finger on why I don't like the Service per pet, it feels like allocating an array to store a loop counter. I will try to think of some valid counter arguments :)

[2016-07-08 05:05] wojtek-t commented on #28590
Cool - will try to implement this today.

[2016-07-08 05:12] thockin commented on #28660
Service per pet is a clunky substitute for migratable IPs.  I'm the first
to admit it.  But migratable IP is v.hard and we have Services...

On Thu, Jul 7, 2016 at 10:01 PM, Prashanth B <notifications@github.com>
wrote:

[2016-07-08 05:15] thockin commented on #25543
Bounded-lifetime hacks are fine, but they need to come with giant
disclaimers and named-assignees to cleanup the mess after a specific event.

On Thu, Jul 7, 2016 at 4:32 PM, Alex Mohr <notifications@github.com> wrote:

[2016-07-08 05:18] thockin commented on #27754
I feel like it should be 10x that.

On Thu, Jul 7, 2016 at 2:38 PM, Aditya Kali <notifications@github.com>
wrote:

[2016-07-08 05:25] jingxu97 commented on #28616
If performance is what we might want to address in v1.4, I can help work on
it since we do see opportunities to optimize it.

On Thu, Jul 7, 2016 at 6:37 PM, Saad Ali <notifications@github.com> wrote:

--
- Jing

[2016-07-08 05:43] feiskyer commented on #28642
Add more open questions:

* Do we need authn for runtime API? @thockin
* Does it really have to add new flags to kubelet (e.g. `--container-runtime-endpoint` and `--image-service-endpoint`)? What about dropping a UNIX socket or a metadata file into a known place? @thockin

[2016-07-08 05:59] brendony commented on #28659
Thanks, @dims that did help.
From [this comment](https://github.com/kubernetes/kubernetes/issues/18239#issuecomment-183152179), I had to
[code]
or otherwise I got this error:

[2016-07-08 06:02] feiskyer opened #28667 "Kubelet network plugin for client/server container runtimes"
Proposal #17048 introduces client/server container runtime into kubelet, it supposes container's networking is processed by kubelet network plugins.

As suggested by @thockin, we should have more discussions about the role of network plugins in all of this. @thockin provides two options [here](https://github.com/kubernetes/kubernetes/pull/17048#discussion_r70025255):
- Option 1) we expect all Remo

[2016-07-08 06:02] brendony commented on #28659
Happy enough to close this issue. It would be nice if the [documentation](http://kubernetes.io/docs/getting-started-guides/docker/) would be updated to match current requirements.

Hopefully this bug report will help other folks.

[2016-07-08 06:02] #28659 closed

[2016-07-08 06:19] cjcullen commented on #28656
Another spurt of flakiness from our test backend.

[2016-07-08 06:38] justinsb commented on #28477
Totally untested, but I just put up #28668 to show how the API could work.  At least for GCE & AWS DNS, both expose the changeset idea, so it feels pretty natural to just go straight to using that.  But I'm not sure whether e.g. you have another DNS provider in mind...

I think the changeset API is simple enough that we could just switch the API over (i.e. no reason to create more methods)

[2016-07-08 06:45] feiskyer commented on #28642
Here is a comparison between API machinery and proposed method in #17048:

## API machinery (follows the standard kubernetes API)

Kubelet always use a versioned client to work with runtimes (same with k8s apiserver and versioned client today).

**How to achieve this**:

* define versioned and unversioned api, e.g. `api/runtime/` and `api/runtime/v1`
* modify `deepcopy-gen` to include `api/runtime

[2016-07-08 06:56] #28515 closed

[2016-07-08 07:08] thockin commented on #28667
I don't think so.

Precisely

I think the only model is that we define what we expect from a runtime wrt network, which WILL eventually include a notion of multiple-networks, and then we expect the runtime to do the work.  This means that our "docker" runtime is really "docker + CNI".

I think we also need to spec this.  What is required in order for the out-of-the-box kube-proxy to function.

@ma

[2016-07-08 07:48] chenzhiwei commented on #4869
@huggsboson @huang195  Hi I am using Kubelet in `Kubernetes on Mesos` cluster. I create some PodSpec files of k8s/Mesos components and Kubelet acts as these Pods' supervisor. (Kubelet only start/monitor the Pods, it does not provide service)

In this case, I started Kubelet in container by using following command:

[code]

The directory `/etc/kubernetes/pods` contains PodSpec files such as k8s-api

[2016-07-08 07:59] #19983 closed

[2016-07-08 08:22] fgrzadkowski commented on #28603
Adding a separate field to disable HPA sounds like a hack to me. I think it'd only pollute the API.

Another options I see:
1) Allow min replicas to be 0 (with a warning when creating such object). AFAIU if someone manually scales RC to 0, HPA will not have a signal to scale it back up. This would probably require changes in HPA controller. At the same time if there'll be any metrics > 0 (via new

[2016-07-08 08:39] #28401 closed

[2016-07-08 08:45] chao007 opened #28671 "Volume is not detached/attached to a new node when pod is scheduled to other node"
Version-Release number of selected component (if applicable):
Server Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.0.1310+8741217179860e", GitCommit:"8741217179860e9f0ce37997c810f61170a3672a", GitTreeState:"clean", BuildDate:"2016-07-07T06:54:04Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}

Steps to Reproduce:
1.Install kubernetes with one master and two n

[2016-07-08 09:13] AlginMaduro commented on #27602
Okay, so the issue was fixed in the newer versions. Centos and RH Atomic Host were running a buggy version. It has been fixed in the new release.

[2016-07-08 09:13] #27602 closed

[2016-07-08 09:43] BugRoger opened #28674 "Inconsistent State in Kube-Proxy after Missed Updates"
If for some reason the client in kube-proxy misses an Endpoint update, the iptables rules will contain outdated entries that point to non-existing containers. This results in sporadic `no route to host` problems. It is very tricky to debug since other nodes have the correct rule.

Unfortunately I lost the log, but the incident caused a `panic: runtime error: slice bounds out of range` while spewin

[2016-07-08 10:06] #26750 closed

[2016-07-08 11:24] janslow opened #28678 "kubectl JSONPath doesn't allow use of `true` or `false` keywords"
`kubectl` raises an error if you use the `true`/`false` keywords in a filter. e.g.,

[code]

You also can't use the `!` operator (e.g., `?(!@.ready)`), so I can't see any way to check if a property is false.

I've never used JSONPath before this, but it appears to be a valid query when used on http://jsonpath.com/ (although I can't find any reference documentation for JSONPath filters, so I'm not

[2016-07-08 11:44] jeremyeder commented on #20504
@xiang90 are there any etcd3 benchmarks available (comparisons to etcd2)?

[2016-07-08 12:57] xiang90 commented on #20504
@jeremyeder https://github.com/coreos/etcd/blob/master/Documentation/op-guide/performance.md#benchmarks

[2016-07-08 12:57] workhardcc opened #28681 "when several pods in the same minion how to distinguish their log"
If there're only three minion, five replicas. There're must two pods running in a same minion.Deployment yaml like below:

[code]

containerA and containerB has the same logname(access.log) and output in the same dir:/search. So they log output in the same file watch in host. Is there any way I can distinguish their log?

[2016-07-08 13:06] jeremyeder commented on #20504
@xiang90 are there etcd2 numbers as well for comparison?

[2016-07-08 13:08] alex-mohr commented on #25543
Agree, re: bounded-lifetime hacks needing care and we shouldn't do them indiscriminately.

We and our users have a problem today -- and we've had a problem for the past N months without traction.  I'd like the problem solved for 1.3 because I'd like us to have a great product and I don't think the state of broken nodes is there.

Aside; we've spent N hours discussing the issue and could likely hav

[2016-07-08 13:15] xiang90 commented on #20504
@jameskyle

https://camo.githubusercontent.com/6f1a106a18eec2532d8b6af52ce9ab53b5542292/68747470733a2f2f73746f726167652e676f6f676c65617069732e636f6d2f64627465737465722d726573756c74732f323031363034313630312f30312d7468726f7567687075742e737667

The graph is a little noise. It compres etcd2, etcd3, consul, zookeeper for putting 2M keys. etcd3 was the most thoughput stable one, and finished first. As n

[2016-07-08 13:18] xiang90 commented on #20504
@jeremyeder I would suggest you to benchmark again in your own environment to get a more trustable result. On the other side, switching to etcd3 wont improve k8s performance significantly. (But it would help with openshift's monster etcd cluster with 700MB snapshot) The bottleneck is not at etcd side at the moment.

[2016-07-08 13:29] jeremyeder commented on #20504
@xiang90 thanks.

[2016-07-08 13:48] smarterclayton commented on #28603
I kind of like autoscaler ignoring items with scale 0.  Since by
definition autoscaler won't work on those objects, and presumably the
user intentionally scaled to zero, ignoring that object until it's
non-zero feels right.

[2016-07-08 13:51] huang195 commented on #4869
@chenzhiwei you need to create pods that attach to different types of storage volumes to fully test this out. I don't think you will be using docker earlier than 1.10, so my understanding is you shouldn't need to pass in the `--containerized` flag. BTW, `--containerized` is not the same as `--containerized=true`, as the default value of this flag is actually `false`.

@pmorie @fgrzadkowski can you

[2016-07-08 13:54] chenzhiwei commented on #4869
@huang195 Actually `--containerized` and `--containerized=true` are same. My docker version is 1.11.2.

[2016-07-08 13:58] smarterclayton commented on #7562
Both of those sound good.  Although we have a lot of people using PV
with hostPath today in fairy sophisticated ways (on top of shared host
mounted dirs with unique uids, for example) so I want to make sure any
change to PV hostPath takes those into account.

[2016-07-08 14:45] liggitt opened #28683 "GCE Node e2e reports failure (error deleting instance, unable to create gce instance)"
All tests pass, but `GCE Node e2e` test reports failure:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28281/node-pull-build-e2e-test/13594/
[code]

[2016-07-08 15:19] vefimova commented on #25418
Hi, @sbezverk I didn't manage to reproduce bug following the steps you described on 1.2.4.

So what I did:

ConfigMap formed from dir:
### # ls -la ../config-dir/
[code]
### # cat ../config-dir/file1
`Hi i'm file1`
### # cat ../config-dir/file2
`Hi i'm file2`
### # kubectl create configmap test-config --from-file=../config-dir/
`configmap "test-config" created`
### # kubectl get configmap/test-con

[2016-07-08 15:20] wojtek-t opened #28685 "e2e node flake: unable to create gce instance"
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28680/node-pull-build-e2e-test/13599/

[2016-07-08 15:25] sbezverk commented on #25418
@vefimova I will redo this test and let you know the result, hopefully it was just a mistake on my side. Thank you.

[2016-07-08 15:37] mksalawa commented on #11382
As far as I can see, the support for listing containers (with metrics for each) within a given pod is possible.

If it comes to Storage usage, it can be easily added as well, but for the time being it is not filled with data (by the metrics API).

[2016-07-08 15:39] justinsb opened #28687 "We should label master nodes"
We should have a label for the master nodes, so that e.g. daemonsets can select masters

I propose: `roles.kubernetes.io/master: 1` and  `roles.kubernetes.io/node: 1`

(The "obvious" alternative, `kubernetes.io/role: master` does not allow for multiple roles)

[2016-07-08 15:44] bobrik opened #28688 "Resource QoS link is broken"
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/resource-qos.md -> `404`

Linked from here: http://kubernetes.io/docs/user-guide/compute-resources/

Maybe docs should validate that all links are accessible via CI build.

[2016-07-08 15:45] bprashanth commented on #25543
We're not going to solve this problem for as long as we depend on a lagging docker release cycle, and they don't backport or do intermediate releases to help us. This is just a one off docker bug that's left us in a bad state. Such issues come up every release, get documented in the release notes and we ship anyway.

The easiest fix (disclaimers and all) is to redirect kube-proxy stderr and parse

[2016-07-08 15:46] krousey commented on #27374
I'm going to close this tracking issue as I think we're in much better shape now.

- The suites no longer time out
- Many failures have been eliminated
- The remaining two major culprits have been identified and are being tracked in #27630 and #28124. And they're both 3rd party components.
- The submit queue now monitors and automatically files issues for these suites so regressions won't go unnot

[2016-07-08 15:46] #27374 closed

[2016-07-08 16:22] dhawal55 commented on #28671
Duplicate of #28643

[2016-07-08 16:25] Kamshak commented on #1899
Is there a best-practice to achieve checks for readiness & completeness as explained by @erictune with 1.3? Would anybody perhaps have an example script? I need to check whether or not a deployment is ready (kubectl rollout status seems to check only if the replicasets are updated).

[2016-07-08 16:29] laboger commented on #25886
Once a fix is ready, how does it need to be provided?

[2016-07-08 16:34] raffaelespazzoli opened #28692 "HPA should ignore metrics for pods that are not in ready state"
Hi,

we have a rather large spring application that can take up to 30/40 seconds to start.
it is a spring application so its boot is very cpu intensive.
We deploy this app in kubernetes (OpenShift actually).
What we notice under load is that if a scale up event is triggered due to load,  sometime almost immediately another scale up event is alsotriggered.
We aren't sure about the reason but we thi

[2016-07-08 16:54] Random-Liu commented on #25543
@alex-mohr I'm working on a PR yesterday night, will send it out soon.

[2016-07-08 16:55] liggitt commented on #28685
dupe of https://github.com/kubernetes/kubernetes/issues/28683 (won by 2!)

[2016-07-08 16:55] #28685 closed

[2016-07-08 16:56] liggitt commented on #28683
seeing this a lot, bumping priority

[2016-07-08 17:03] bprashanth commented on #28667
Have we discussed having both? the runtime declares upfront if it wants kubernetes to handle networking  or do it privately (in which case the kubelet just uses the noOp plugin)

[2016-07-08 17:04] derekwaynecarr commented on #27655
@davidopp - I have been and will be on PTO, can someone from @kubernetes/sig-scheduling pick this up?

[2016-07-08 17:18] dhawal55 commented on #28643
Doing some troubleshooting and found the following error messages in kubelet logs:

[code]
This looks like a similar issue to one we had earlier this year where AWS provider was querying for instance by PrivateDNS name instead of instance ID and not able to find an instance (if your VPC uses custom domain name like ours).

[2016-07-08 17:19] aronchick opened #28694 "Request: A Kubernetes "Hello World" deployment"
Similar to what Docker does (https://github.com/docker-library/docs/tree/master/hello-world) we should have a 'hello world' deployment, where, in one line, you can create a deployment (or replica set) that outputs something friendly and exits.

[2016-07-08 17:20] bprashanth commented on #27754
If we're confident that logs are getting rotated every hour, then the rate of log generation is issue for concern. I think we all agree about disk size. Writing logs at that rate at V(2) is going to cause disk performance to degrade.

[2016-07-08 17:22] spxtr commented on #25639
We ran out of CPUs and IPs in the `kubernetes-jenkins-pull` project due to leaked VMs. https://github.com/kubernetes/test-infra/issues/190 needs to happen.

[2016-07-08 17:24] janetkuo opened #28695 "`kubectl run` doesn’t work for simple "run command, parse result""
(source: user feedback)

First, it outputs `Waiting for pod ...` which gets mingled with commands output.  Second, simple output often gets lost.

**1. -it, date**: doesn't work

[code]

**2. -it, bash sleep, then date**: works with output mingled with command output

[code]

**3. -t, bash sleep, then date**: doesn't work

[code]

**4. -i, date**: works but output is still mingled

[code]

Compare

[2016-07-08 17:34] erictune commented on #24925
https://github.com/kubernetes/kubernetes.github.io/pull/794
and
https://github.com/kubernetes/kubernetes/pull/28696

On Sat, Jul 2, 2016 at 12:33 AM, Werner Beroux <notifications@github.com>
wrote:

[2016-07-08 17:36] dims commented on #7496
@janetkuo we can close this issue as the PR is merged. @smarterclayton ack on that observation.

[2016-07-08 17:36] luxas commented on #25886
I saw https://go-review.googlesource.com/#/c/23963/ probably won't make 1.7, and that's sad.

We would just upgrade golang version I think, not really sure what you're asking for

[2016-07-08 17:45] laboger commented on #25886
I assume you only use official golang versions or those provided with distros for your builds?

Are you doing all your builds as cross builds from a golang on an x86?

[2016-07-08 17:47] thockin commented on #28667
"let's do both" is the trap we always fall into.  It's part of what makes
this stuff complicated.  Let's not do both, if we can possibly avoid it.

On Fri, Jul 8, 2016 at 10:03 AM, Prashanth B <notifications@github.com>
wrote:

[2016-07-08 17:48] luxas commented on #25886
Official versions, yes. We're using the `golang:x.y` docker image.
All official builds are built on amd64 hosts.

[2016-07-08 17:55] janetkuo commented on #28695
The `Waiting for pod default/test to be running, status is Pending, pod ready: false` might be crucial for new comers to know what they're waiting for if the pod takes a while to start. We can add a flag to hide this message (I prefer this), or we can just remove it.

[2016-07-08 17:58] bprashanth commented on #28667
I mean `kubelet --runtime=esoteric-runtime --network-plugin=noop` is always an option, as long as esoteric-runtime understands how to find the network config

[2016-07-08 18:03] janetkuo commented on #28695
Another issue for case 1 is that we should respect `--rm` and delete the pod even when error happens.

[2016-07-08 18:04] erictune commented on #6962
It looks like no support has happened on Rackspace for a year.

[2016-07-08 18:05] erictune commented on #6962
You should not expect it to work, and we should delete rackspace support.

[2016-07-08 18:08] vishh opened #28698 "Validate docker v1.12"
Multiple RCs have been released for docker v1.12 already. We should start testing docker v1.12 soon. @Random-Liu is our automated testing suite active? Are we already validating docker v1.12?

[2016-07-08 18:17] Random-Liu commented on #25543
FYI, a fix is here #28697.
In #28697, I let kube-proxy update a node condition `RuntimeUnhealthy` with specific reason, message and hit to the administrator about the remediation.
The specific reason why we want to do this is discussed in the PR description https://github.com/kubernetes/kubernetes/pull/28697#issue-164584119.

[2016-07-08 18:23] Random-Liu commented on #28698
@vishh Yeah, we already have a daily running docker validation test running e2e test against newest docker release with kubernetes head.
Please check `continuous-docker-validation-gci`. It has tested docker 1.12-rc2 and 1.12-rc3, they are all green now. :)

And thanks to @wonderfly

[2016-07-08 18:24] Random-Liu commented on #28698
With https://github.com/kubernetes/kubernetes/pull/28213, we'll have docker validation test against node e2e. PTAL~ :)

[2016-07-08 18:25] dhawal55 commented on #28643
The AttachDisk and DetachDisk methods are passing in the hostname to getAwsInstance method (https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/cloudprovider/providers/aws/aws.go#L1317). Any idea why the getAwsInstance method still supports nodeName? It keeps causing issues like this. It may be time to update the method to not take any parameters.

[2016-07-08 18:30] yujuhong commented on #28616
Marking this next-candidate tentatively. If this is a low-hanging fruit, we can consider doing it.

[2016-07-08 19:00] colemickens commented on #28482
Thanks for the detailed bug report @ruiwen. I've sent a PR with a fix: https://github.com/kubernetes/kubernetes/pull/28700

[2016-07-08 19:12] enlinxu commented on #9125
Do the above use cases make sense? @thockin mentioned that this is a lot of work for little information, so I think it's important to list the use cases we are trying to solve.

[2016-07-08 19:19] davidopp commented on #25543
FWIW I agree 100% with @alex-mohr.

@Random-Liu using node condition SGTM, but your PR should probably also modify the scheduler here
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L434
to prevent the system from sending new pods to a node that has RuntimeUnhealthy condition. I realize there will still be a time window when we might send some pods to t

[2016-07-08 19:31] pbx0 opened #28702 "cluster/images/hyperkube: hyperkube symlinks should be fixed or re-enabled"
The `hyperkube --make-symlink` command was removed from the dockerfile in this PR: https://github.com/kubernetes/kubernetes/pull/25693

This addition was originally proposed here: https://github.com/kubernetes/kubernetes/issues/24510

I'd like to fix the problem or re-enable the creation of symlinks if none exists. Currently there is not enough information from the PR that removed them to know wha

[2016-07-08 19:34] davidopp commented on #27655
OK, will find someone to look at this.

[2016-07-08 19:43] luxas commented on #28702
You're right, the panic I observed when giving no arguments is gone with v1.3.0
It doesn't work when cross-building
Qemu doesn't play very well with Go binaries
Can't we just `ln -s hyperkube kubelet` for all binaries in the hyperkube image?
I can make a patch with that if you like

[2016-07-08 20:28] ncdc commented on #28603
The logic in the controller currently does this, if I'm reading it correctly:

1. get currentReplicas
1. if currentReplicas > hpa max, set desired = hpa max
1. else if hpa min is specified and currentReplicas < hpa min, set desired = hpa min
1. else if currentReplicas = 0, set desired = 1
1. else use metrics to calculate desired

It looks like 3 and 4 above would need to be adjusted. Additionally,

[2016-07-08 20:32] #28205 closed

[2016-07-08 20:44] Random-Liu commented on #25543
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L434
to prevent the system from sending new pods to a node that has RuntimeUnhealthy condition.

@davidopp Yeah, we can do that. But before that, we should make sure that the node is really unusable without setting conntrack.
In fact, we only setting conntrack to increase the max connection limit on the no

[2016-07-08 20:46] pbx0 commented on #28702
It was discussed in https://github.com/kubernetes/kubernetes/issues/24510 that the idea with the `--make-symlink` command was there to obviate the need to maintain all the `ln -s` commands in the dockerfile since the hyperkube binary already knows all the registered servers.

Do you have more information about why this doesn't work with cross-building? I don't quite understand why Go binaries not

[2016-07-08 20:56] tristanz commented on #27973
The workaround above creates others problems, where `findmnt` fails and hundreds of mounts are created (https://github.com/kubernetes/kubernetes/issues/26943#issuecomment-224519722).  I can confirm everything worked in alpha4 but broke in alpha5 for containerized hyperkube.

[2016-07-08 20:59] bprashanth opened #28706 "Pet set upgrades"
One should be able to upgrade a petset through the standard kubectl rolling-update syntax. While it's desirable to have a controlled upgrade strategy (eg: deployments), it may not be necessary for beta.

The tricky part is making sure that `pet-v1-0` and `pet-v2-0` come up with the same data. For beta I propose we just make `kubectl rolling-update` on petset update the image and kill pets one by o

[2016-07-08 21:01] tristanz commented on #26943
I can confirm this remains broken in 1.3.  The break appeared between alpha-4 and alpha-5.

[2016-07-08 21:06] mml opened #28707 "'kubectl help' off-by-one error parsing command line"
[code]

[2016-07-08 21:13] luxas commented on #28629
Yes, I may help

[2016-07-08 21:15] luxas commented on #28702
Qemu can't _run_ Go binaries, that's the problem.
We can use `--make-symlinks` virtually anywhere else
Until Qemu releases a version that's compatible with Go, we can't run Go binaries when cross-building

[2016-07-08 21:17] luxas commented on #26943
Use the shared mount without containerized.
That works with v1.3.0, and is the only supported/working solution

[2016-07-08 21:21] chrislovecnm commented on #28532
@bprashanth can you use node or pod affinity to handle this?  @tweakmy this is a scheduling issue not a petset issue persay

[2016-07-08 21:21] pnovotnak commented on #9044
It would be nice if nodes were labeled with their configured resource access (ie; compute-rw, storage-rw, etc.)

I had an issue yesterday where I created a Container Engine pool via the Cloud Console and it didn't have the correct scopes (which is obv a separate issue). My pods were being scheduled but the applications would crash when they tried to access a specific resource. It was not immediate

[2016-07-08 21:23] chrislovecnm commented on #27430
@thockin I kinda like it ... and it may be a bit too late.  Lots of press about Pet Set already.

[2016-07-08 21:24] bprashanth commented on #28532
Yeah either pod anti affinity (https://github.com/kubernetes/kubernetes/blob/release-1.3/docs/design/podaffinity.md), or simply set `hostPort` in the `podTemplate` (eg: https://github.com/kubernetes/contrib/blob/master/service-loadbalancer/rc.yaml#L35).

[2016-07-08 21:24] bprashanth commented on #28532
Please send an example for glusterfs deployment if it works out (it would help others), closing this issue for now

[2016-07-08 21:24] #28532 closed

[2016-07-08 21:24] chrislovecnm commented on #26708
@justinsb until ssd is available as a storage type, elastic should not run on PVs ... Both elastic and cassandra are SUPER disk sensitive.

[2016-07-08 21:27] chrislovecnm commented on #28591
I need to see you Pet Set yaml.  The message is saying that the PV was missing.  Did you mean to have the PV auto provisioned?

[2016-07-08 21:28] pbx0 commented on #28702
Ooh I understand now, basically any use of go during cross building will not work. Is this more a Go issue or qemu issue? Which upstream project needs to make a fix?

[2016-07-08 21:28] justinsb commented on #28643
@dhawal55 let's figure this out once and for all :-)

The node name needs to be resolvable from the master.  Can you please tell me:

1. The PrivateDNSName as reported in one of your nodes in the API
2. The instance name from the AWS metadata (local-hostname and public-hostname)
3. What the node name is in the K8s API
4. Your VPC domain name
5. How you make sure that the instance names are resolva

[2016-07-08 21:33] chrislovecnm opened #28709 "Pet Set stuck in ContainerCreating"
A previously healthy pod was running.  It got unhealthy for some reason, and I did a silly thing.  Deleted the pod.  Now it is stuck:

[code]

Can we document the process of getting this unstuck?  I am guessing this is an error, because the PV has data in it.  Here is the PV.

[code]

FYI I am on 1.3 beta without the last minute volume fix stuff.  I can try to recreate with the new volume code, bu

[2016-07-08 21:36] atombender opened #28710 "Kubelet doesn't add "controller-managed-attach-detach" annotation"
Trying to attach EBS volume. However, I get this progression in the Kubelet log:

[code]

No errors other than those. There's nothing in `kube-controller-manager.log` except informational messages about bound PVs and PVCs. I also tried without using PV/PVC.

I've verified that my volume is in the same AZ as the node, and that the instance has IAM permissions to `ec2:*`.

Kubernetes 1.3, Ubuntu Xen

[2016-07-08 21:39] jimmycuadra commented on #27430
Yeah, I may have misunderstood what was meant by changing it before coming out of alpha. To some extent I think the damage is already done now.

[2016-07-08 21:39] chrislovecnm commented on #28709
cc: @smarterclayton @bprashanth @bgrant0607

[2016-07-08 21:39] vishh commented on #24677
@dcowden

Do you plan on making the scripts query the k8s API server to get the necessary metadata?

Also, don't forget to periodically cleanup logs of dead containers.

+1. This closely matches the design in my mind as well.

Using downwards API would be ideal. If downwards API doesn't provide all the information needed, we could dump the pod spec for now inside the .metadata file. The container

[2016-07-08 21:40] roberthbailey commented on #9044
You can do this today if you mentally map the scopes necessary to the name of the node pool (which appears as a label on the pool).

e.g. Create a pool named "nodes-with-compute-rw". Then pods that need the compute-rw scope can be restricted to nodes within that pool using a selector.

Obviously this isn't automatic and the scopes aren't as discoverable as you'd like, but it may help a bit.

[2016-07-08 21:41] vishh commented on #28698
@Random-Liu I'm assigning this issue to you. Feel free to close it whenever you think that we have made adequate testing.
Feel free to re-assign back to me if you'd not prefer owning this.

[2016-07-08 21:42] verb commented on #27140
I've gotten a lot of great suggestions so far, so I thought I'd summarize them:

1. **Volume** solutions make binaries available for `kubectl exec` inside of a running container
  1. Allow mutation of a running container (via `kubectl patch` or equivalent) to add volumes. This would be especially useful in conjunction with #831 to support container images as volumes.
  2. Implicitly create a uniqu

[2016-07-08 21:43] vishh commented on #24677
@mfischer-zd

Rotation safety depends on the feature. `kubectl logs` currently depends on the runtime. If we switch to using log files, yes, kubelet will have to be rotation safe. There are existing features that consume log files and k8s attempts to be log safe.

[2016-07-08 21:44] Random-Liu commented on #28709
@saad-ali

[2016-07-08 21:49] luxas commented on #28702
It's a qemu issue, talked to the golang folks
Some qemu maintainer said they've improved stuff at HEAD, but haven't tested it
Anyway, we have to wait until the next qemu release.
If we want it now, we initially have to go with `ln -s`

[2016-07-08 21:51] luxas commented on #27857
cc @timstclair and @mwielgus
Any clues?

[2016-07-08 21:51] atombender commented on #28710
Seems similar to #28709.

[2016-07-08 21:53] chrislovecnm opened #28712 "GCE IPv4: martian source errors and Node becomes inoperable"
Hi all

I am running 1.3 beta, and have had 2 nodes that started in a state where the kernel was throwing martian source errors, and two nodes went to that state.

Here is a snippet of the kernel logs:

[code]
The cluster is over 1k in nodes, and is running 1k in Pet Set Cassandra Pets.

Linux info

[code]

Debian version

[code]

What other info is required?

cc: @bgrant0607 @thockin @Random-Liu

[2016-07-08 21:56] crizCraig commented on #2880
Looks like Calico has a plugin for this: https://www.projectcalico.org/calico-network-policy-comes-to-kubernetes/

[2016-07-08 21:57] chrislovecnm commented on #27430
Blame me 👍   One good thing ... memorable names stick.  Can we close this?

[2016-07-08 22:02] caseydavenport commented on #2880
I believe this is covered by https://github.com/kubernetes/kubernetes/pull/25638 and related PRs.  NetworkPolicy is available in v1.3.0 for network plugins which support it (e.g Calico).

I think this issue can be closed.

[2016-07-08 22:15] janetkuo commented on #28507
Root cause tracked in #28612, closing as dup

[2016-07-08 22:15] #28507 closed

[2016-07-08 22:16] janetkuo commented on #26715
Root cause tracked in #28612, closing as dup

[2016-07-08 22:16] #26715 closed

[2016-07-08 22:16] Random-Liu commented on #28712
I believe this is a known issue.
https://github.com/kubernetes/kubernetes/issues/27630#issuecomment-226829955

fluentd got OOM killed.

[2016-07-08 22:17] Random-Liu commented on #28712
@mwielgus @krousey

[2016-07-08 22:18] k8s-merge-robot opened #28713 "TestCascadingDeletion {garbagecollector}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/14071/

Failed: TestCascadingDeletion {garbagecollector}

[code]

[2016-07-08 22:19] chrislovecnm commented on #28712
@Random-Liu yah, but why does killing that bork the node?

[2016-07-08 22:20] janetkuo commented on #28275
Root cause tracked in #26742 and is now fixed, closing

[2016-07-08 22:20] janetkuo commented on #28429
Root cause tracked in #28612, closing as dup

[2016-07-08 22:20] #28429 closed

[2016-07-08 22:21] janetkuo commented on #27976
Root cause tracked in #28612, closing as dup

[2016-07-08 22:21] #27976 closed

[2016-07-08 22:23] Random-Liu commented on #28712
@chrislovecnm Ha, sorry, didn't see the last few lines.
Yeah, that needs our network team @kubernetes/sig-network. :)

[2016-07-08 22:26] Random-Liu opened #28716 "googleapi: Error 403: Quota 'CPUS' exceeded. Limit: 700.0, quotaExceeded"
Node e2e test failed because
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/27349/node-pull-build-e2e-test/13607/

[2016-07-08 22:30] chrislovecnm commented on #28712
@kubernetes/sig-network @thockin can you let me know ASAP what info you need.  I need to tear down these machines.

[2016-07-08 22:31] smarterclayton commented on #7562
If a node is drained or evacuated, do we need a separate mechanism to
flag the PVs as "unbound / impossible to retrieve"?

[2016-07-08 22:32] jimmycuadra commented on #27430
I'd still like the team to consider changing it.

[2016-07-08 22:32] thockin commented on #28712
@matchstick @girishkalele

Was it martian for every packet or just a few?  What was your VM IP?  What was the pod IP range and service IP range set to?

[2016-07-08 22:34] thockin commented on #27430
I think we really should consider changing it.  Silly names do stick, but
they are silly.

On Fri, Jul 8, 2016 at 3:32 PM, Jimmy Cuadra <notifications@github.com>
wrote:

[2016-07-08 22:42] dcowden commented on #24677
Excellent-- this works and is helpful!
I'm looking forward to seeing this functionality, but I can hack it in based on these guidelines

[2016-07-08 22:43] girishkalele commented on #28712
@Random-Liu

In previous cases of fluentd OOM kills, was the node healthy afterwards ?

[2016-07-08 22:45] bprashanth commented on #7562
Yeah if the node is deleted we should probably set the pv to that state. If the node is just unschedulable, the pod using that volume will remain in pending till the node becomes schedulable. The user needs to copy data off the volume into another node, and set the annotation on the pv to the new node name if they really want to move a pod referencing it.

[2016-07-08 22:46] girishkalele commented on #28712
@chrislovecnm

Are you going to tear down the entire cluster or just these two machines ? I believe you can mark them unschedulable to prevent scheduling new pods on those 2.

We need to know if these martian ips were service Cluster IPs and which one was the Pod CIDR range for this node.

[2016-07-08 22:46] chrislovecnm commented on #28712
Previous cases?

[2016-07-08 22:46] bprashanth commented on #28716
Looks like leaked vms @spxtr

[2016-07-08 22:47] chrislovecnm commented on #28712
@girishkalele I need to destroy the entire cluster, and how do I get the info you need.

[2016-07-08 22:49] thockin commented on #27140
The idea of running a "toolbox" container that is not part of a pod, but has the same namespaces as the pod is cute, but a little scary and opaque.

If we allowed adding a container to a pod, it could just be a shiny form of that.

Another option might be to include a container in the pod that is "inactive" until later activated.

[2016-07-08 22:49] chrislovecnm commented on #28712
Forgot to mention restart of the node fixes this problem.

[2016-07-08 22:54] chrislovecnm commented on #27430
@thockin we have videos on YouTube, blog posts, tweet, LinkedIn stuff and presentations at conferences, and many many decks with that content. You want to do the rebranding???  It is a big problem to change at this point...

[2016-07-08 22:57] thockin commented on #27430
Let's just leave it on the table.  I suspect neither of us have marketing
degrees :)

On Fri, Jul 8, 2016 at 3:55 PM, Chris Love <notifications@github.com> wrote:

[2016-07-08 22:59] bprashanth commented on #28709
Hmm that even fired 9100 times, you're probably hitting one of the races we fixed in the last phases of 1.3. Can you confirm through the gce ui that the pd kubernetes-dynamic-pvc-a5f45f53-38f0-11e6-b7d0-42010a800002 is attached to the node kubernetes-minion-group-0jg9?

[2016-07-08 23:00] Random-Liu commented on #28712
The previous case happened in a soaking test. We don't know about the node healthy condition.
At least, in https://github.com/kubernetes/kubernetes/issues/27630#issuecomment-226829955, fluentd is oom killed twice during 10 minutes. And the kernel didn't throw out "martian ip" error during the 10 minutes.

[2016-07-08 23:01] bprashanth opened #28718 "Pet Set in beta"
Important petset issues in no particular order:
1. Local storage: https://github.com/kubernetes/kubernetes/issues/7562
2. Upgrade: https://github.com/kubernetes/kubernetes/issues/28706
3. Richer events: https://github.com/kubernetes/kubernetes/issues/24957
4. Public ips: https://github.com/kubernetes/kubernetes/issues/28660
5. Leader election and failover: https://github.com/kubernetes/kubernetes/

[2016-07-08 23:05] yujuhong commented on #28616
@coufon, let's run the test against kubernetes v1.2 to see if this is truly a regression first.

By the way, the secret volume plugin has to [get the secret from the apiserver](https://github.com/kubernetes/kubernetes/blob/ef0c9f0c5b8efbba948a0be2c98d9d2e32e0b68c/pkg/volume/secret/secret.go#L166) and then write it on the disk. We have an apiserver QPS limit, so even if we parallelize this task, we

[2016-07-08 23:09] bprashanth commented on #28712
`IPv4: martian source 10.245.135.3 from 10.245.49.3, on dev cbr0`
looks like 2 different podCIDRs. I've seen such message when I do something like:
`iptables -t mangle -A PREROUTING -s pod-ip -j TEE --gateway pod-ip`

which will clone packets and send them back to the pod, causing the bridge to think they're martian. This *may* happen because of the good old promiscuous bridge, but I haven't been

[2016-07-08 23:09] freehan commented on #28712
[code]
 `10.245.135.3` and `10.245.49.3` belongs to who?

[2016-07-08 23:10] chrislovecnm commented on #28709
kubernetes-dynamic-pvc-a5f45f53-38f0-11e6-b7d0-42010a800002	SSD persistent disk	380 GB	us-central1-c	kubernetes-minion-group-0jg9

[2016-07-08 23:11] erictune commented on #27140
How far do you get if you have your build system produce "debug" and "stripped" versions of your container image ("debug" has a base image with a debugger, and "stripped" does not)?

Normally, your service just has "stripped" containers, but if there is an active bug, you deploy one or more extra containers for that service which are "debug images", and wait for the problem to happen again.

Doesn

[2016-07-08 23:12] erictune commented on #27140
The key question I think is whether you do this by making a new pod, and pods stay immutable, or if we make pods mutable.

[2016-07-08 23:14] timstclair opened #28719 "[node Summary API] InodesFree not set on containers"
InodesFree should be copied to `Container.FsStats` in the summary API: https://github.com/kubernetes/kubernetes/blob/1376c993273299b82a9af3bf389bb397c126a799/pkg/kubelet/server/stats/summary.go#L159

/cc @derekwaynecarr @ronnielai

[2016-07-08 23:16] a-robinson opened #28720 "Scale node daemons' resource requirements based on the size of the node they're on"
We currently give node daemons like fluentd the same amount of CPU and memory regardless of how large of a machine it's running on. Fluentd with 80 milliCPUs doesn't work particularly well on a 32 core machine with pods that are logging at a reasonable rate.

This is somewhat related to #23782 in the sense that fluentd is resource inefficient, but could be solved independently.

[2016-07-08 23:16] verb commented on #27140
@thockin I'll grant you scary, but I'm not willing to concede that pulling in a different userland for a binary is any more opaque than your run-of-the-mill `kubectl exec`. Both seem solvable.

I'd be happy with an inactive container as long as it (optionally) automatically updates prior to activating so I'm not tied to an old debug image. The downside here is the extra boilerplate config in every

[2016-07-08 23:19] girishkalele commented on #28712
@chrislovecnm

Are you running any overlay networks ?

[2016-07-08 23:20] chrislovecnm commented on #28712
Basic install from kube-up.sh, so I am guessing the answer is no.

[2016-07-08 23:22] aronchick commented on #27430
I'm 100% ok with renaming, and don't feel like there's any pain in doing so. However, CarSet does not feel like a fit.

For any who would like name change, please voice here. We'll bring this up at the community meeting next week, and I'd like to settle on a new name by August 1.

[2016-07-08 23:22] jimmycuadra commented on #27430
Re-quoting myself for emphasis:

If the name were something that was seen more universally as unacceptable, I don't think "people already started using the term in social media, oh well, let's keep it" would be an acceptable attitude. The fact that it's already out there doesn't mean there's no value in changing it. If having a reference to something out in the wild meant you couldn't change it in

[2016-07-08 23:22] chrislovecnm commented on #28718
Sticky ips ;) I don't think Cassandra and other tech is going to play nice without ip addresses. Java DNS is hosed, and products that have been around awhile are still using ip addresses. I think Elastic does as well. Need to check.

[2016-07-08 23:22] saad-ali commented on #28081
Other kubectl exec errors we should retry on:
[code]

[code]

[2016-07-08 23:23] chrislovecnm commented on #28706
One ask is that the container / pets be notified of the update.

[2016-07-08 23:24] freehan commented on #28712
I am assuming one is accessing another via service cluster ip, right?

Can you provide the output of following commands:

`ps aux | grep kubelet`
`iptables-save`

[2016-07-08 23:25] chrislovecnm commented on #28718
Btw unless someone gets to it, I will ask if my client, or I can contribute Kafka on pet set. We are going to be using it in production soon.

[2016-07-08 23:26] chrislovecnm commented on #28712
On the impacted node or on the node that the ip is on?

[2016-07-08 23:27] chrislovecnm commented on #28712
They are communicating via IP address and DNS via a headless service. This is not loadbalanced, Cassandra nodes talk to each other directly.

[2016-07-08 23:29] alex-mohr commented on #28097
@jszczepkowski @fgrzadkowski @davidopp This test in its various flavors has been rather flaky for the past few months based on how often I see it show up in red/yellow tests.  e.g. kubernetes-e2e-gke-test/13349 for another hit.  Is there a plan to address in the near term?

[2016-07-08 23:30] alex-mohr commented on #28657
Master tracker seems to be #28097

[2016-07-08 23:30] alex-mohr commented on #28576
See also #28097

[2016-07-08 23:31] smarterclayton commented on #27140
I should note that we've had very good feedback from the "debug" command
(which spawns a copy of the pod with a shell, or other command, as the
target).  It doesn't address the "I created a pod that has nothing useful
in it to debug", but it does address the bulk of the practical "w.t.h. is
this not starting up correctly" problems.

On Fri, Jul 8, 2016 at 7:16 PM, verb <notifications@github.com> w

[2016-07-08 23:32] smarterclayton commented on #27140
Debug also leads naturally to other hooks like
"--attach-and-mount=IMAGENAME" for getting access to debug tools.

On Fri, Jul 8, 2016 at 7:31 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-07-08 23:33] chrislovecnm commented on #27430
CarSet does not have any relevance in tech, can we come up with something techy or ship like? We can change it, but we need a good name.

[2016-07-08 23:35] freehan commented on #28712
can you provide the output of `ip route` on the impacted nodes?

[2016-07-08 23:36] verb commented on #27140
@erictune Certainly workable, but I'm concerned about some downsides:

1. We'd want use the same image for QA as in prod, but then how do we QA the debug image? What if the stripped and debug images differ somehow?
2. We're coupled with the debug environment we had at build time rather than the ones available at debug time
3. The goal is minimal dependencies, but I'd have to include the debug tool

[2016-07-08 23:36] #25615 closed

[2016-07-08 23:39] bprashanth commented on #28718
Go for it. Keep communicating hurdles you run into.

Duly noted. grr.

[2016-07-08 23:39] smarterclayton commented on #27430
Let's be sure to separate this out into two discussions - deciding on a
change, vs the naming process.  We already have a pattern to deal with the
later, but getting the general agreement in the community that the name
should be changed probably is what we want to stay focused on for now.

On Fri, Jul 8, 2016 at 7:34 PM, Chris Love <notifications@github.com> wrote:

[2016-07-08 23:40] bprashanth commented on #260
https://github.com/kubernetes/kubernetes/issues/28718

[2016-07-08 23:40] #260 closed

[2016-07-08 23:44] chrislovecnm commented on #28718
@bprasanth you need an issue for sticky ip addresses?

[2016-07-08 23:47] chrislovecnm commented on #3595
@mingfang you tried privelleged mode?

[2016-07-08 23:48] smarterclayton commented on #28718
We've had lots of very positive results with low TTL DNS in Java with JBoss
and other portfolio products - I'm not that skeptical it can't be fixed.

On Fri, Jul 8, 2016 at 7:44 PM, Chris Love <notifications@github.com> wrote:

[2016-07-08 23:49] spxtr commented on #28716
I cleared out old VMs at about 10 AM this morning. There were a few hundred (!) leaked VMs.,

https://github.com/kubernetes/test-infra/issues/190

[2016-07-08 23:50] smarterclayton commented on #28718
I'd put reducing the complexity required to make a "correct" petset at the
top of the list - I'd even be willing to postpone other more sophisticated
operationalization things in favor of that.  If someone has to be an expert
at distributed systems to build a correct PetSet we'll probably not succeed.

On Fri, Jul 8, 2016 at 7:48 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-07-08 23:53] saad-ali commented on #28616
It will be to some extent since 1.2 has no protection for concurrent attach/mount operations on the same device.

True, depending on what that the API QPS limit is, parallelization may not help much. But it's fairly trivial to do and safe for not attachable volumes so worth doing. I plan to send out PR making secret/config map/etc volume mounting parallelized.

[2016-07-09 00:06] chrislovecnm commented on #28718
@smarterclayton it is about if it can be fixed, it is about how distributed systems have implemented it. I need to check on elastic, but I am 90% certain that Cassandra is not going to fix it. Going to file an issue with them anyways.

[2016-07-09 00:08] david-mcmahon commented on #27403
Not actively working on this anymore.  Unassigning.

[2016-07-09 00:11] euank opened #28721 "gke smoke e2e flake: Frontend service did not start serving content in 600 seconds"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28715/kubernetes-pull-build-test-e2e-gke/1897/

Test: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application

Error: Frontend service did not start serving content in 600 seconds

Relevant logs:

[code]

Looks like a cluster dns flake, didn't dive any deeper.

[2016-07-09 00:13] euank commented on #28721
Also looks like it's not a blocking suite, so this flake at least can't really impact merge speed other than scaring people.

[2016-07-09 00:15] thockin commented on #28695
Adding a --silent or something might be enough.

[2016-07-09 00:16] vishh commented on #28619
It looks like tmpfs is being charged correctly in newer kernels, 4.5+. @adityakali helped confirm on GCI and CoreOS.
At the least, we know that our working_set logic is sane.
Next step is to find out if this bug exists in any of the other supported distros.

[2016-07-09 00:30] ch-acctg commented on #21801
To help clarify.  We currently deploy using docker and consul/ha-proxy using health checks for idle as well as ready.

When we want to upgrade a container, we update consul with a new version (or notify our deployment script directly through salt).  Either request will launch a new version container and send a clean up request to the old version container.  Our ha proxy will then serve new connect

[2016-07-09 00:32] jimmycuadra commented on #27430
@chrislovecnm

I'm not bound to CarSet (though PetSet doesn't have any "relevance in tech" either)—I was just offering a suggestion that used a similar metaphor, so as not to simply ask the team to do something without offering a possible way to do it. People who have worked on the feature or been involved in its design discussions will probably have better ideas, since they have the best understa

[2016-07-09 00:45] david-mcmahon commented on #24029
https://docs.google.com/document/d/1OhAjw5YIb_Z0z9-r5QiVovjF1BDOzfo45CgcptVfTgI/edit#

[2016-07-09 00:45] #24029 closed

[2016-07-09 00:49] duglin commented on #28695
By default we should assume people don't want their output mucked with.

Only exception I can see to that is if the image needs to be downloaded, but once cached it should be speedy.  So, I'd prefer:
- no output except for "downloading image"
- add a --silent/--quite flag to hide the "downloading image" msg

[2016-07-09 01:18] fejta commented on #28612
Please reactivate next time you see this happen.

[2016-07-09 01:42] colemickens commented on #28585
I see the problem:

[code]

It is out of cpu in terms of what running pods have requested/reserved.

[2016-07-09 01:42] #28585 closed

[2016-07-09 01:44] yathi-naik commented on #28644
More logs,
[code]

[2016-07-09 01:45] yathi-naik commented on #28644
[code]

[2016-07-09 02:31] chrismarino commented on #27430
Just stumbled on this thread...adding my $0.02.

1. Naming IS HARD!!! I've named dozens of products, features and even companies and its never been a quick or simple process.
2. Everyone has an opinion. 100% certain there will be someone that does't like a name.
3. Getting everyone to agree on a name shouldn't be a requirement
4. Very hard to re-name something once it has any kind of name recognit

[2016-07-09 02:32] k8s-merge-robot opened #28722 "[k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1670/

Failed: [k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}

[code]

Previous issues for this test: #27502

[2016-07-09 02:47] #28571 closed

[2016-07-09 02:51] xwang2713 opened #28723 "unable to sync kubernetes service: Endpoints "kubernetes" is invalid"
My environment Kubernetes on local Linux (Ubuntu 14.04 amd64) without VM. Docker version 1.11.2
I update Kubernetes from v1.1.7 to v1.3.0 and get this error in apiserver.log:
  0708 22:44:25.536021    7220 controller.go:121] unable to sync kubernetes service: Endpoints "kubernetes" is invalid: subsets[0].addresses[0].ip: Invalid value: "127.0.0.1": may not be in the loopback range (127.0.0.0/8)
I0

[2016-07-09 03:09] yathi-naik commented on #28644
cc @justinsb

[2016-07-09 04:12] #2880 closed

[2016-07-09 04:14] derekwaynecarr commented on #27430
FamilialSet would get the same idea across.  Each member of a family is
special, cares about its peers, and often has a particular role, and
everyone mourns the loss of any one member.

On Friday, July 8, 2016, chrismarino <notifications@github.com> wrote:

[2016-07-09 04:36] thockin commented on #6962
ACK.

[2016-07-09 04:45] #23671 closed

[2016-07-09 05:12] jaycoon commented on #27430
JetSet seems fitting (and one letter off). Besides relating the term "jet set", a JetSet is composed of Jets, which should be handled with care

[2016-07-09 05:37] davidopp commented on #10781
@vishh I vaguely remember seeing at least one of these in review lately... can you send pointers to the PRs?

[2016-07-09 05:42] luxas commented on #28635
Voting for making it a test target

[2016-07-09 06:16] bprashanth commented on #27430
The name petset is derived from the fact that I care about my pets, regardless of what anyone else thinks about their cattle. Cattle are sacred in some places, food in others, and I view that as a culture difference.  I won't use pets vs cattle to explain this feature where I'm from, but pets vs servers works just as well :)

[2016-07-09 06:35] AdoHe commented on #28695
[code]
I prefer this too.

[2016-07-09 06:50] jimmycuadra commented on #27430
@bprashanth

That's a fair point. Pets have value whether or not they are compared to something else. But the usage of the term in Kubernetes is not without context: Pets vs cattle is a metaphor very commonly used in writing about modern infrastructure. A quick Google search even brings up usage of the term in [Kubernetes's own blog](http://blog.kubernetes.io/2015/04/weekly-kubernetes-community-ha

[2016-07-09 07:08] dhawal55 commented on #28643
@justinsb Won't it be just easier to not pass nodeName to getAwsInstance method and always get the instance from selfAWSInstance (which uses instanceID to query the instance). I have created a pull request with the changes - https://github.com/kubernetes/kubernetes/pull/28724. Please let me know if it makes sense.

To answer your above questions:
 1. PrivateDNSName in AWS: ip-a-b-c-d.us-west-2.com

[2016-07-09 07:15] davidopp commented on #28683
@kubernetes/sig-node

[2016-07-09 08:10] davidopp commented on #28706
We don't really have any kind of orchestrated node upgrade in Kubernetes right now (neither "kubectl drain" nor cluster/gce/upgrade.sh have any notion of when it's safe to move on to the next node), so I think documenting is the only thing we can do. With PodDisruptionBudget it will be possible to configure a PetSet so that no more than one instance of the set can be down at a time, so higher-leve

[2016-07-09 10:48] apsinha commented on #27430
We can publish options for discussion here. Instead of using metaphors, which can have unintended meaning, let's try a descriptive name. Should ideally be easy to understand for someone with a Linux background. Throwing out some options.

- PersistentSet
- StatefulSet or StateSet
- PermanentSet
- StickySet
- BindSet
- NamedSet
- SavedSet
- StoredSet
- SequentialSet
- OrderedSet

[2016-07-09 12:24] santanu-dey commented on #23111
Still experiencing a similar issues 1.3.0 and upto 1.4.0-alpha.0

In my case (docker based set up), either trusty or kubedns would get unauthorized from api server.

and strangely I see that the secrets are not there inside the instances, under  the path /var/run/secrets/kubernetes.io/serviceaccount

[code]

While it seems they are in the node and in the proxy instance
[code]

- Deleting the secre

[2016-07-09 12:48] hrzbrg opened #28727 "[AWS] Issue with Master IP during kube-up"
Hi,

I want to start a cluster in an existing AWS VPC using kube-up. I configured the necessary environment variables but during startup I run into the following error:

[code]

The public IP 52.49.155.26 that is mentioned there is nowhere to be found. It is not the automatically assigned public IP neither an elastic IP is allocated.
So I looked in the kubernetes repo and found that I could set MA

[2016-07-09 14:21] duglin commented on #23831
FYI - I'm getting similar errors even when I use a different API group (domain name on the resources).

[2016-07-09 14:46] duglin commented on #23831
Here's a gist with a simple test showing the issue:  https://gist.github.com/duglin/ffe983ba6f15ad8f1bad968ccbcdcba3

[2016-07-09 15:47] dims commented on #10764
@jlowdermilk the PR for "kubectl replace" is ready, so we can close this issue! (once that merges)

[2016-07-09 15:49] vishh commented on #28683
Node e2e is expected to use images from `kubernetes-node-e2e-images` project and the failing containervm image is already there in that project:

[code]

I'm not sure why node e2e is attempting to use images from `kubernetes-jenkins-pull` project.

[2016-07-09 15:49] vishh commented on #28683
I suspect that this failure is on the v1.3 release branch. I can post a cherry-pick to fix this. Relevant code [here](https://github.com/kubernetes/kubernetes/blob/release-1.3/test/e2e_node/jenkins/jenkins-pull.properties#L9)

[2016-07-09 15:52] vishh commented on #28683
https://github.com/kubernetes/kubernetes/pull/27907 needs to be cherry-picked into the release-1.3 branch.

[2016-07-09 15:57] vishh commented on #28683
I opened https://github.com/kubernetes/kubernetes/pull/28728 as a cherry-picked. Just needs the necessary approval!

[2016-07-09 16:11] ikester commented on #27430
I think that's a good initial set of names (pun intended). I **don't** think we're too late to change it, as others have pointed out. Yes, there are videos and other materials out there, but it will only get worse with time. If the community agrees that this is a worthwhile thing to do, it should act quickly, otherwise we end up with fuzzy transitions like the one from Replication Controllers to D

[2016-07-09 16:24] k8s-merge-robot opened #28729 "TestServiceAccountAutoCreate {serviceaccount}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/14109/

Failed: TestServiceAccountAutoCreate {serviceaccount}

[code]

[2016-07-09 16:32] vishh commented on #10781
I got distracted into various other issues. I'm back to this issue and I
will post patches early next week.

On Fri, Jul 8, 2016 at 10:38 PM, David Oppenheimer <notifications@github.com

[2016-07-09 17:17] aronchick commented on #28453
Would this be publishing Kube DNS to Mesos? Or the reverse?

Integrating with external DNS _is_ a goal for 1.4, so the proposal, in the feature directory, may have some good overlap.

[2016-07-09 17:25] aronchick commented on #27430
My $0.02 vote from Aparna's excellent list:

- NamedSet
- PersistentSet

On the crazy idea side:

- Snowflake Set
- Borg Set (like "I am 7 of 9")

I was never fond of PetSet - only for the reason that it is not obvious what it is on its face, and breaks with the obvious naming we have across the product. A "ReplicaSet" is, plainly, a set of replicas. A "Deployment" is ... well ... a deployment. Et

[2016-07-09 18:24] davidopp commented on #28683
Thanks Vish!

[2016-07-09 18:51] davidopp commented on #28275
This popped up again
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28670/kubernetes-pull-build-test-e2e-gce/48373/#k8sio-kubectl-client-k8sio-kubectl-run-pod-should-create-a-pod-from-an-image-when-restart-is-never-conformance

[2016-07-09 19:01] k8s-merge-robot opened #28730 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13355/

Run so broken it didn't make JUnit output!

[2016-07-09 19:58] rata commented on #28317
@liggitt playing with secrets code, I have just tested mappings with secrets and they work fine. It's just the documentation that is outdated, I created an issue for that (https://github.com/kubernetes/kubernetes.github.io/issues/803).
Does that work for you?

[2016-07-09 20:12] jimmycuadra commented on #27430
Aparna's list is great. My favorite of the bunch is StatefulSet, since the term "stateful application" is used in the container world and should be pretty easily understood. In discussion of container orchestration systems, you'll often hear people ask, "Great, but how does it handle stateful apps?" In a similar way to how the other ThingSets are sets of Things, a StatefulSet is a set of stateful

[2016-07-09 20:37] smarterclayton commented on #27430
FamilySet probably fails the "is a recognizable term for describing the
concept at play", and is also redundant (a family is another way of saying
"set of humans with shared responsibilities for raising biological
offspring", so "a set set").

The distinguishing characteristics of the use case for this object is:

1. To preserve individual identity for fungible entities
2. To provide predictable o

[2016-07-09 20:54] smarterclayton commented on #28695
The attach race logic absolutely needs to get fixed.  I believe that's a
gap in both the kubelet launch and client invocation scenarios.  Or we need
to limit attach to stdin and fix logging to separate stdout and stderr.

On Sat, Jul 9, 2016 at 2:35 AM, TonyAdo <notifications@github.com> wrote:

[2016-07-09 21:07] liggitt commented on #28683
Why would a 1.3 release branch issue be blocking the master merge queue?

[2016-07-09 21:11] dvohra opened #28731 "--timeout option not applied to rolling update"
The `--timeout` option is not applied and a rolling update continues to run.
`--timeout=5m0s: Max time to wait for a replication controller to update before giving up. Valid time units are "ns", "us" (or "µs"), "ms", "s", "m", "h".`

http://kubernetes.io/docs/user-guide/kubectl/kubectl_rolling-update/

As an example set `--timeout `to `1s`

`kubectl rolling-update mysql-v1  -f  mysql.yaml --timeou

[2016-07-09 21:24] dvohra opened #28732 "--container="" option for multi-container pod creates new rc"
The rolling update option  `--container="": Container name which will have its image upgraded.`  is supposed to update the rc. Instead a new rc is created. As an example, create a `hello-mysql.yaml` for a multi-container pod.

![hello-mysql](https://cloud.githubusercontent.com/assets/3654431/16710375/a0c364f6-45e0-11e6-889e-27400ab9f530.jpg)

Create a RC, list the rc and the pods. Apply a rolling

[2016-07-09 21:33] vishh commented on #28683
AFAIK, jenkins project for node e2e is common to both the master branch and
the release branch.

On Sat, Jul 9, 2016 at 2:08 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-07-09 21:44] smarterclayton opened #28734 "kubectl run --env FOO="" fails, but should not"
It should be possible to pass empty environment variables to pods run by env (to clear an env var set inside the image, for example).

    kubectl run ... --env FOO=

is valid syntax for "set env var FOO to empty string".

[2016-07-09 22:47] bprashanth commented on #27430
It's hard to pick a name that doesn't extol any single feature of petset (such as state, persistence, ordering, ordinality, name, sequence). This is one feature we built in reverse, by prototyping a bunch of applications that didn't fit in any existing bucket and formalizing their requirements into an api.

This process is sometimes called domain modelling, and the number of things required by thi

[2016-07-09 23:34] k8s-merge-robot opened #28735 "gcp_resource_leak_check {CLEANUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19917/

Failed: gcp_resource_leak_check {CLEANUP}

[code]

[2016-07-10 00:06] bprashanth commented on #28718
top of the list - I'd even be willing to postpone other more sophisticated
operationalization things in favor of that.  If someone has to be an expert
at distributed systems to build a correct PetSet we'll probably not succeed.

This is less of a problem for modern databases like etcd, but it is a problem by and large.

With a better event model the system can pass down observations about the curr

[2016-07-10 02:27] hardcoar commented on #4914
hi. how does this work? like @bgrant0607 said, there's no master service and @moosilauke18 said, there's a chance that a service in front will proxy a write request into a slave. is there any way to proxy writes to master and reads to slaves using a service?

[2016-07-10 04:32] nowprovision commented on #26986
Im struggling to understand this, are we saying the subpath won't be support on kubernetes for host path that are using a docker engine too? It seems the directive is ignore on hostpath on kubernetes 1.3

[2016-07-10 05:14] k8s-merge-robot opened #28737 "[k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10896/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26138 #28429

[2016-07-10 05:24] m1093782566 opened #28738 "Use PrevKv of the etcd watch Event to get ride of extra Get() for transforming event"
In the earlier etcd3 API, it didn't support return prevKv of a put/delete operation. So, we need another [Get()](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd3/watcher.go#L321) to retrieve previous object and have logic upon it.

Since the latest etcd3 API support get old kv in watch, see [here](https://github.com/coreos/etcd/blob/master/mvcc/mvccpb/kv.pb.go#L93). So, it's

[2016-07-10 05:29] hongchaodeng commented on #28738
See https://github.com/kubernetes/kubernetes/issues/20504#issuecomment-231269117

[2016-07-10 05:35] thockin commented on #23111
@santanu-dey Rather than re-opening, can you file a new bug please?  Include:

Is this just kube-dns or do you get secrets mounted on ANY pods?

if you `ls /var/lib/kubelet/pods/*/volumes/kubernetes.io~secret/default-token-*` what do you see?

[2016-07-10 06:01] thockin commented on #9125
I am 100% in favor of stats, I just want to understand how expensive it is
to collect the stats, and what fidelity they offer.  The use-cases are
pretty self-evident.

So, for example, look at the CPU usage of kube-proxy (running it in a
container will let you get cgroup stats) without this change, then look at
it with this change.  How fast do we need to poll to get stats that are
actually useful

[2016-07-10 06:55] lucevers opened #28739 "docker-multinode"
docker-multinode scripts are not available for the release 1.3.0.
Is the procedure "http://kubernetes.io/docs/getting-started-guides/docker-multinode/" changed?

[2016-07-10 12:48] onlyjob opened #28740 "please update for latest "rkt""
Kubernetes v1.2.5 FTBFS with latest [rkt](https://github.com/coreos/rkt/releases) v1.10.0 as follows:

[code]

Apparently _master_ is affected by the same problem.

Please update for latest _rkt_ release. Thanks.

[2016-07-10 14:38] ddysher commented on #28591
I believe so.  I'm walking through petset and this is what i got when running `kubectl get pv`, they are all auto provisioned.
[code]

For monitoring, I didn't do any customization, so I believe the pet set yaml comes from here?
https://github.com/kubernetes/kubernetes/blob/a261776f3e0d9f0f3dede72a0e389d40b5117cce/cluster/addons/cluster-monitoring/influxdb/influxdb-grafana-petset.yaml

[2016-07-10 14:49] erictune opened #28741 "Do not allow pods to request millibytes"
This pod is validated and runs to completion:

[code]

I think it should not pass validation.

Allowing `m` for bytes doesn't have a real-world meaning.  It probably is a typo (meant `M` or swapped with cpu field).

We should avoid accepting values with more precision that we can ever support.

[2016-07-10 14:52] erictune commented on #28741
Worse, we also accept `20000000.001`.
Each resource type should have a canonical number of digits of precision for internal representation (`e0` or `e-3`).  That way, you cannot mess up internal computations in the scheduler and kubelet by creating one super-precise or super-large value.  Basically, we should be using fixed point for all values of the same meaning.

[2016-07-10 15:00] #26303 closed

[2016-07-10 17:21] chrislovecnm commented on #28712
[code]

[code]

[2016-07-10 18:22] minhchuduc commented on #27430
Aparna's list is awesome!
My $0.02 vote is:
- PersistentSet
- NamedSet
- OrderedSet

We should consider primary use-cases of PetSet to choose name http://kubernetes.io/docs/user-guide/petset/#when-to-use-pet-set

[2016-07-10 18:27] luxas commented on #27857
Also cc @dims and @apelisse

[2016-07-10 18:30] luxas commented on #27857
Hmm, first run was a success... Will investigate further
[code]

[2016-07-10 18:35] luxas commented on #27857
Initially it seems like the flower service hasn't just had time to load, and can't be accessed.
Now I'm thinking about a readiness probe, a sleep (a not so good solution) or a second chance might be the way to go.

[2016-07-10 19:27] dims commented on #3500
@brendandburns @bgrant0607 - Is there anything else needed to be done in this PR? (can it be closed?)

[2016-07-10 19:29] dims commented on #3268
@bgrant0607 @thockin seems like we can close this issue?

[2016-07-10 21:04] bprashanth commented on #28591
@jszczepkowski @piosz suggest modifying the petset to:

[code]

See inline comments and docs mentioned in https://github.com/kubernetes/kubernetes/issues/260#issuecomment-230937200 for more context. Also note that both petset/volume provisioning are in alpha.

[2016-07-10 21:07] bprashanth commented on #28591
But if you're provisioning the volume yourself, as part of kube-up, then why do you need petset? It doens't look like you're using its DNS property either?

[2016-07-10 22:14] dvohra commented on #28710
Tested with Amazon AMI. AWSElasticBlockStore volume gets mounted in a Pod.

[2016-07-10 22:16] dvohra commented on #28731
Seems like the --timeout setting is applied to the initial creation of the RC, which does get created within a second, and not for the completion of creating the Pods in the RC.

Unless otherwise, the issue may be closed.

[2016-07-10 22:18] dvohra commented on #28732
Are two rc supposed to be running after the rolling update applied to a container?

[2016-07-10 22:24] dvohra commented on #28681
Obtain the container id with `docker ps` an get the container log with
`docker logs [OPTIONS] CONTAINER`

[2016-07-10 22:29] dvohra commented on #28368
A Pending Pod does fall in the scope of  "DuringExecution" as it is not yet running. A pending pod is in the scope of "DuringScheduling".

Issue may be closed.

[2016-07-10 23:19] bprashanth commented on #28442
For this to scale each proxy-hc probably needs to aggregate health checks from N local-hcs. One way to achieve this is to deploy it as a petset, proxy-hc-0 is responsible for nodes {0-N}. When we grow the cluster a new proxy-hc-X is deployed, and existing proxy-hcs discover it the normal way pets discover each other (periodically resolve DNS for the governing service and notice extra SRV records).

[2016-07-10 23:54] smarterclayton commented on #28741
That would not be backward compatible with old servers, unfortunately.  We have code that rounds up to milli, but I agree we should have code that rounds types up to their canonical value.  We can't validate until v2.

[2016-07-11 00:01] smarterclayton opened #28746 "kubectl logs should *not* fail while a pod is being started, because it makes for a terrible experience"
Currently the following can fail:

[code]

For real world cases where it may take tens of seconds to pull the image, this is intensely frustrating to users because now they have to guess when the pod is started in order to debug it.

For users who specify `kubectl logs foo`, it may be ok to return immediately (we need to debate this).  `-f` is different because the expectation is to wait to see th

[2016-07-11 00:01] smarterclayton commented on #28746
Making this p2 because I can't yet justify it, but this is *intensely* irritating to new users.

[2016-07-11 00:03] smarterclayton commented on #28746
@kubernetes/kubectl

[2016-07-11 00:14] nick-walt commented on #6862
LXD is the way forward in the full system-container use case and it definitely has a place there with Rkt and Docker. With LXD's natural API (ugh, might even be better than Docker's?) and its capability to also be used as an incredibly lightweight single app-container, as well as a full system-container, we can expect to see increased usage of this technology. So it would be awesome to have native

[2016-07-11 00:35] m1093782566 commented on #28738
@hongchaodeng thx!

[2016-07-11 00:42] ddysher commented on #28591
@bprashanth same thoughts here.  What's the benefits of using petset for monitoring? It doesn't seems like the addon is stateful.

[2016-07-11 01:58] gtaylor commented on #28610
To add some more examples to the list that we're trying to figure out at Reddit:

* Per-node pgbouncer
* [synapse](https://github.com/airbnb/synapse) (already in use outside of k8s)
* [tallier](https://github.com/reddit/tallier) (statsd compatible)

[2016-07-11 02:05] smarterclayton opened #28748 "Spurious errors in kubelet logs when container has already terminated on KillPod"
killPod in the container runtime should eat errors when we try to stop a container that does not exist anymore (it's not an error).

[code]

[2016-07-11 02:07] yathi-naik commented on #28644
Is there a workaround fix I can use in the scripts to get around this?

[2016-07-11 02:08] smarterclayton opened #28749 "Some pod update operations are not handling conflict errors correctly"
This looks like PATCH pod status is not properly converting the storage error `ErrCodeResourceVersionConflicts` into an API response, possibly due to a code path missing a call to  `InterpretUpdateError`.

[code]

This may result in improper handling of client calls.

[2016-07-11 02:23] smarterclayton opened #28750 "Error while tearing down pod, "device or resource busy" on service account secret"
I'm seeing errors in the kubelet now on 1.3.0+ that indicate a timeout on unmount of secrets into the pod, which looks like it causes some delay in shutdown (although not positive, since this was a long run).

[code]

Occurred 4 times for roughly 30 pods.  This is a rhel72 system but I don't have the kernel version handy.  @kubernetes/rh-storage what sorts of frequency should we expect a device bu

[2016-07-11 02:24] smarterclayton commented on #28750
This delays pod shutdown by over a minute, which means that deletes take a lot longer to complete.

[2016-07-11 02:54] smarterclayton commented on #28750
Kernel `3.10.0-327.22.2.el7.x86_64`

[2016-07-11 02:58] bparees opened #28753 "errors helpers should always set causes"
a number of the pkg/api/errors/errors.go helper methods (eg NewBadRequest) do not set the Details field with a Cause.

@smarterclayton

[2016-07-11 03:01] therc opened #28754 "Add warning for `kubectl get rs` for hidden objects"
After the landing of #27510, which hides empty replicasets by default unless `--all` is passed, adapt the change from #28352 to apply to both pods and replicasets, printing a warning if any objects have been hidden.

[2016-07-11 03:03] smarterclayton commented on #28753
We should probably make it possible to easily add "causes" to several classes of error, because today they are not distinguishable (we basically use an unstructured BadRequest for lots of different conditions that clients might want to differentiate on).  That could potentially be a builder method on StatusError that lets you do something like:

[code]

[2016-07-11 03:04] therc commented on #28754
This can be assigned to me as a continuation of #27510.

[2016-07-11 03:11] workhardcc commented on #28681
Maybe I didn't describe clearly. The best result is:  the log generated by each pod in one deployment and in the same host can discriminate by file name or dir etc. such like the log in two real hosts.

[2016-07-11 03:24] tweakmy commented on #28532
Gluster deployment

endpoints

[code]
service.yaml

[code]

pv.yaml

[code]

[2016-07-11 03:26] tweakmy commented on #28532
I am still struggling to setup the podaffinity via the podtemplate. If anyone has been successful, please post an example.

[2016-07-11 03:32] chao007 commented on #28671
Seems not the same issue. I can mount ebs volume to the node, but failed when re-scheduled the pod from one node to another node because the ebs volume not detached

[2016-07-11 04:09] smarterclayton opened #28756 "Stop using String() methods generated by protobuf"
I don't believe we need them, and they actually make for worse output in many cases.

@wojtek-t fyi

[2016-07-11 05:03] bprashanth commented on #22191
and/or endpoints controller should treat deletionTimestamp as a signal to remove the pod from the endpoints list.

[2016-07-11 06:18] wojtek-t commented on #28756
Where do we use them now?

[2016-07-11 06:23] magicwang-cn commented on #28706
@kubernetes/huawei

[2016-07-11 06:24] magicwang-cn commented on #28718
@kubernetes/huawei

[2016-07-11 06:30] davidopp commented on #3138
One approach to this issue is to make Kubemark be able to take a real workload trace rather than just use a synthetic workload.

I think being able to load historical cluster state for debugging/exploration purposes is related but a different use case.

random notes:
* collect snapshot of cluster state in real clusters, maybe trace of pod creation and termination/eviction along with where schedule

[2016-07-11 06:40] ericchiang commented on #26909
fyi this also causes confusion for users who create authorization policies but forget about the non-resource paths https://stackoverflow.com/questions/38299105/how-to-use-rbac-in-kubernetes

[2016-07-11 06:42] #25543 closed

[2016-07-11 07:14] #10764 closed

[2016-07-11 07:23] Random-Liu commented on #25543
https://github.com/kubernetes/kubernetes/pull/28697 is merged, and hopefully, it could solve this issue.
I've also sent a PR to revert the walkaround in the test framework https://github.com/kubernetes/kubernetes/pull/28015 to verify whether the issue is really fully solved.

[2016-07-11 07:31] bogdando opened #28761 "PetSets to query replica numbers to count expected peers"
It seems the only way for an instance of a PetSet to fetch data about expected peers number is to count  SRV records in DNS. But it may be more straightforward and natural to allow replica count to be directly queried from the downward API http://kubernetes-v1-3.github.io/docs/user-guide/downward-api/

[2016-07-11 07:53] ivan4th opened #28763 "kube-up.sh fails to start InfluxDB cluster monitoring when using non-GCE provider"
monitoring-influxdb-grafana-v3-0 pod fails to initialize becuause it has a Persistent Volume Claim for which only a GCE Persistent Volume is provided.
Offending k8s commit:
https://github.com/kubernetes/kubernetes/commit/d00cdf75e879432a93a58e6f92efe7f5bf096da2
Suggested solution: use emptyDir volume for non-GCE setups as it was before the commit above.

[2016-07-11 07:53] ivan4th commented on #28763
Working on this one.

[2016-07-11 08:16] gmarek commented on #3138
I don't think it's related to Kubemark per se. We just need something that can read series of API calls sent to the API server. When we have something like this it can be used with any cluster, emulated or not.

[2016-07-11 08:20] janosi commented on #28272
@dims Or maybe it is too much to waste? ;)
But yes, sometimes 64m is not enough.
We would prefer a new optional attribute for the pod in PodSpec in the API,like e.g. "shmSize".
As shm is shared among containers in the pod, PodSpec would be the appropriate place, I think.

[2016-07-11 08:25] davenso opened #28764 "Does Kubernetes (local Docker method) really work?"
As per the official documentation [here][1] on running Kubernetes locally within a Container -- I have followed all the steps carefully, and I am still getting the message `connection refused` when I type `kubectl get nodes`.

`docker ps` shows that *api-server* is not running, and `docker logs kubelet` does indeed varify so:

    [kubelet.go:1137] Unable to register 127.0.0.1 with the apiserver:

[2016-07-11 08:41] AdoHe commented on #28732
@dvohra could you provide your kubernetes version? Normally, the old rc would be killed and the the new rc will be renamed to the old rc name in your case.

[2016-07-11 08:50] AdoHe commented on #28731
@dvohra IMO this is right, for rc to create pods, this is an asynchronous process, kubectl will not wait for its completion.

[2016-07-11 09:01] AdoHe commented on #28749
According to code [https://github.com/kubernetes/kubernetes/blob/master/pkg/api/errors/storage/storage.go#L66](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/errors/storage/storage.go#L66), it seems no case in switch satisfy, I think the problem is [IsTestFailed](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/errors.go#L109) maybe.

[2016-07-11 11:17] k8s-merge-robot opened #28768 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1724/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]

Previous issues for this test: #27394 #27660 #28079

[2016-07-11 11:55] ddysher commented on #27556
@sols1 Did you observe the stability via setting --deserialization-cache-size?  We are running quite a few small clusters, and almost all of them stops working due to api-server stop responding; and it seems like api server eats most memory. (and start using swap)

@lavalamp master memory is 1GB with 2 nodes.  Is it too small?  It's simple to just bump the memory, but want to know if there is any

[2016-07-11 12:33] andreykurilin opened #28772 "Need a user friendly message when config map is missing"
I tried to create pod(using `kubectl create -f some_file.yaml`) with mounting non-existing config map and it failed to start(expected). `kubectl describe pod some_pod` shows next messages:

It is hard to understand the reason of timeout without reading kubelet logs

[2016-07-11 12:37] k8s-merge-robot opened #28773 "[k8s.io] Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10984/

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

[2016-07-11 12:57] k8s-merge-robot opened #28774 "[k8s.io] Kubectl client [k8s.io] Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/10985/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-11 13:15] dims commented on #27259
@smarterclayton the referenced PR seems merged. What else needs to be done here? (trying to see if i can help)

[2016-07-11 13:19] dims commented on #26866
@pmorie @wongma7 Can this issue be closed? (PR seems to have merged)

[2016-07-11 13:20] eparis commented on #28750
@kubernetes/sig-storage

[2016-07-11 13:21] zenly opened #28775 "kube-addon-update.sh does not handle ConfigMap types"
kube-addon-update.sh should handle ConfigMaps, so deployments using the addons mechanism can accept configuration through the same process.

i.e.
https://github.com/zenly/kubernetes/commit/2a589b09637aa3745a7151adf2f1fcce36e8b8ac

[2016-07-11 13:34] Godgifu opened #28776 "api/v1/proxy can not serve HTTPS service"
Hello

I try currently to reach a service over the proxy but it seems it's only compatible with HTTP:
https://url-to-master/api/v1/proxy/namespaces/testing/services/testing/MyService/

As soon as I use HTTPS in the service, the proxy tries to establish a HTTP connection and fails.
Is this currently not supported or a bug?

Kubernetes: 1.2.4

Thanks
Manuel

[2016-07-11 13:37] danwinship commented on #24322
Someone assigned this to me, I guess because I filed a doc bug (https://github.com/kubernetes/kubernetes.github.io/issues/401) related to it. Anyway, I am not working on this other than getting the docs updated to explain the current behavior, and that is now merged, so you should probably un-assign me (which, crazily, I apparently cannot do myself).

[2016-07-11 13:44] jszczepkowski commented on #28591
@bprashanth @ddysher
We need influxdb to write to a persistent volume, so after pod failure monitoring history is not lost. The persistent volume is mount in read-write mode, so, we want a single instance (one pod) to be attached to it. In my opinion this is one of pet sets' use cases, see the examples in [pet set doc](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/

[2016-07-11 13:59] liggitt commented on #28317
It's fine to update the docs, I just wanted to make sure any mode-setting API worked well with the existing per-key options we already had

[2016-07-11 14:07] rata commented on #28317
On Mon, Jul 11, 2016 at 07:00:45AM -0700, Jordan Liggitt wrote:

Ohh, I see now. Yes, it will. Thanks :-)

[2016-07-11 14:07] jszczepkowski commented on #28591
@bprashanth
So, you are proposing the following modifications of petset.yaml:

-  add serviceName to spec,
- move pvc from separate file to volumeClaimTemplates section

Am I right?

[2016-07-11 14:39] danwinship commented on #14940
That assumes that kubernetes knows all of the state that the plugin cares about. In OpenShift, our plugin has an "Update" method and we just call it on all pods when a reconciliation is needed (ie, when kubelet is [re]started). (We don't currently deal with the missing pod problem.)

[2016-07-11 14:41] jszczepkowski commented on #28097
@alex-mohr @a-robinson
I was investigating this issue last week. We have two problems here:

- Problems with resource access: duplicate of #28656,
- Lack of HPA stability on GKE: there are no v(4) logs on GKE, I couldn't debug the issue w/o it. There is a google internal bug for increasing the log level: b/29991151.

[2016-07-11 14:45] asalkeld commented on #17354
I can work up a PR for this.

[2016-07-11 14:55] wojtek-t commented on #28590
Few more things will come soon...

[2016-07-11 14:59] jszczepkowski commented on #28576
It may be caused by a bug in cAdvisor: https://github.com/kubernetes/kubernetes/issues/27194, which is not fixed on 1.2 branch.

[2016-07-11 14:59] #28576 closed

[2016-07-11 15:03] thockin commented on #17354
@bprashanth is also discussing this, but he wants to bring it in as a
"real" feature.  Maybe you folks can coordinate.
On Jul 11, 2016 7:46 AM, "Angus Salkeld" <notifications@github.com> wrote:

[2016-07-11 15:08] ncdc commented on #28612
`failed to find client for version v1: error: google: could not find default credentials. See https://developers.google.com/accounts/docs/application-default-credentials for more information.` happened again yesterday in https://github.com/kubernetes/kubernetes/issues/27715#issuecomment-231577793

[2016-07-11 15:08] nkwangleiGIT commented on #23104
Seeing the same issue when upgrade kubelet from v1.0.1 to v1.1.4, all containers will be recreated after restart kubelet, any workaroud that we can use to prevent container recreation?
After all, it's not expected to see container recreated(data in container itself will be all lost) after upgrade kubelet, thanks!

[2016-07-11 15:08] asalkeld commented on #17354
OK, I'll wait for some feedback from him.

[2016-07-11 15:15] smarterclayton commented on #28750
This is also happening on pod startup.  I think it's roughly ~10% of pods failing to get their initial setup.

[code]

It *appears* that this did not resolve within 1m, which caused another timeout to fail.  Not sure if it eventually clears up.

[2016-07-11 15:16] Lukenickerson commented on #27430
Here are a few more options:

* DistinctSet
* UniqueSet
* SuiSet (stateful uniquely identifiable; also a play on _sui generis_)
* PetSet, redefined as an abbreviation/backronym of _PersistentSet_ ("Pe't")

[2016-07-11 15:24] jaycoon commented on #27430
I like this @Lukenickerson

[2016-07-11 15:32] nhlfr commented on #15853
Looking at this

[2016-07-11 15:45] wongma7 commented on #26866
@dims yes, issue is fixed. (pmorie's on vacation)

[2016-07-11 15:48] thockin commented on #27023
Abhishek ought not be responsible for this any more.

[2016-07-11 15:50] thockin commented on #27079
@pmorie

[2016-07-11 16:02] smarterclayton commented on #27259
Still needs an individual fix.  []string is not a valid map type for protobuf (to the best of my knowledge).  Will look at this before 1.4.

[2016-07-11 16:11] bprashanth commented on #28591
I think serviceName is already in the spec https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/influxdb-grafana-petset.yaml#L72
Today you hand create a pd/pv: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/influxdb-pv.yaml

That makes scaling the rc hard.
If you want the petset to create this pd as a uniqu

[2016-07-11 16:11] yujuhong commented on #23104
@nkwangleiGIT it's probably the best for you to drain all the pods from the node before upgrading kubelet to avoid any unnecessary container restarts. Upgrading kubelet in place isn't recommended officially.  If data in your containers needs to be preserved across restarts, they would be better off stored in a persistent volume.

[2016-07-11 16:16] bprashanth commented on #27978
@chrislovecnm migrate this to the petset suite?
eg https://github.com/kubernetes/kubernetes/blob/master/test/e2e/petset.go#L181

[2016-07-11 16:16] atombender commented on #28577
Upgraded to Kubernetes 1.3 and Docker 1.11, issue seems to have gone away; Kubelet is now able to recover every time it's restarted, or Docker is restarted. I do still get `Unexpected EOF during watch stream` every 30s.

[2016-07-11 16:37] thockin commented on #28442
Just to understand: The local checker invokes the probes that kubelet
invokes today?  Instead of kubelet or in addition to?  At the same rate as
kubelet or faster?  Is it generally safe to call a probe more often than
the pod spec requests?

Once the local checker has state on local pods, it gossips that out to
other nodes?

What is the information flow here, vs what we have today:

pod A readines

[2016-07-11 16:37] atombender commented on #28710
Just found some upgrade instructions buried in [this changelog entry](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#other-notable-changes-3). I haven't been able to find official instructions on how to upgrade to 1.3 other than that changelog. I noticed that my nodes were missing the necessary `volumes.kubernetes.io/controller-managed-attach-detach` annotation, so I added it ma

[2016-07-11 16:59] euank commented on #26986
This issue only relates to k8s with the rkt runtime.
If you're seeing similar issues under the docker runtime, that's a separate issue, and since the above e2e test is (afaik) passing against the v1.3 release branch under Docker, it *should* work.

[2016-07-11 17:11] lavalamp commented on #27556
Check the deserialization cache flag setting-- set it smaller for small
masters. Memory usage will grow until that cache is full.

On Mon, Jul 11, 2016 at 4:55 AM, Deyuan Deng <notifications@github.com>
wrote:

[2016-07-11 17:12] atombender commented on #28577
I spoke somewhat too soon. I just restarted Kubelet, and it's now stuck like this:

[code]

[2016-07-11 17:21] sols1 commented on #27556
@ddysher I did't have time to test `--deserialization-cache-size`.

I doubt you can get stable operation with just 1GB.

[2016-07-11 17:22] spxtr commented on #28662
We were probably out of API tokens, since I think this might have been around the time Jeff was experimenting with the newer PRB plugin.

Please reopen if you see it again.

[2016-07-11 17:22] #28662 closed

[2016-07-11 17:22] ncdc commented on #27715
@fejta who should this be assigned to since it's the gcloud issue?

[2016-07-11 17:22] ncdc commented on #28371
@fejta who should this be assigned to since it's the gcloud issue?

[2016-07-11 17:23] ncdc commented on #27156
@fejta who should this be assigned to since it seems to be a gcloud issue?

[2016-07-11 17:23] thenayr commented on #28605
In the same boat,  really unclear on what I should do to get my clusters to `1.3` at the moment.  `kops` seems to support an upgrade path of sorts, but it is totally incompatible with my custom VPC / subnet / etc setup.

[2016-07-11 17:23] ncdc commented on #28455
@wojtek-t @lavalamp @spxtr @ixdy @pwittrock do you all remember where we ended up with the test env being so busy that some kubectl requests started getting TLS handshake timeouts?

[2016-07-11 17:24] ncdc commented on #28426
@fejta who should this be assigned to since it's the gcloud issue?

[2016-07-11 17:26] wojtek-t commented on #28455
@ncdc - a bunch of those where due to apiserver crashing-looping/being down; it may also be worth checking

[2016-07-11 17:26] jingxu97 commented on #28750
Hi Clayton,

Thanks for posting the log messages. Do you also have the full log file so
that we can take a look? Thanks!

Jing

On Mon, Jul 11, 2016 at 8:16 AM, Clayton Coleman <notifications@github.com>
wrote:

--
- Jing

[2016-07-11 17:26] fejta commented on #28426
Just close it as a dup of https://github.com/kubernetes/kubernetes/issues/28612

[2016-07-11 17:26] #28426 closed

[2016-07-11 17:26] yujuhong commented on #28124
The heap profile shows that  `github.com/tchap/go-patricia/patricia.NewTrie` is slowing accumulating more memory. This can be reproduced by repeatedly creating and deleting containers for thousands of times using docker v1.11 (without kubernetes involved at all). A potentially related issue is found on https://github.com/docker/docker/issues/24420. I didn't try it on docker v1.12 and am not sure i

[2016-07-11 17:27] fejta commented on #27156
https://github.com/kubernetes/kubernetes/issues/28612 is the gcloud issue

[2016-07-11 17:27] fejta commented on #28371
#28612 is the gcloud issue

[2016-07-11 17:27] soltysh commented on #28773
Duplicate of #28003.

[2016-07-11 17:27] #28773 closed

[2016-07-11 17:27] fejta commented on #27715
#28612 is the gcloud issue

[2016-07-11 17:30] soltysh commented on #28003
Looks like a gke problem, already handled in #28656.

[2016-07-11 17:30] #28003 closed

[2016-07-11 17:30] soltysh commented on #28006
Looks like a gke problem, already handled in #28656.

[2016-07-11 17:30] #28006 closed

[2016-07-11 17:32] chrislovecnm commented on #27978
@saad-ali is this because the examples where moved?

[2016-07-11 17:34] chrislovecnm commented on #27978
@bprashanth I can, but it is going to take a bit.  Are these errors because these examples where moved to different directory?

[2016-07-11 17:36] matchstick commented on #28750
@kubernetes/sig-storage Targeting this to 1.3 until we know more of the root cause.

[2016-07-11 17:51] chrislovecnm commented on #27430
So the features of Pet Set are based on identity and don't have to include Data existence.  I can have a stateless Pet Set of an application that required known identity for quorum.  I would ask to stay away from names that include references to other components like Persistent Volumes when you don't need a PV for a Pet Set.

But back to @smarterclayton's point, should we focus on if we want to ch

[2016-07-11 17:58] mikedanese commented on #28775
Can you send a PR?

[2016-07-11 17:59] phutchins opened #28784 "Ingress did not retry adding forwarding rule after failure"
## Kube Version:

[code]
## Details:
- Cloud Provider: GCP
- OS Distro: Debian GNU/Linux 7 (wheezy)
- Network: As created by kube_up scripts default
- Docker Version: Docker version 1.9.1, build a34a1d5
## Steps to Reproduce:

I added an ingress which failed to add the forwarding rules due to my GCP quota being exceeded. After the quota was increased, I would have expected the rule add to have bee

[2016-07-11 17:59] smarterclayton commented on #28750
We're trying to get a loglevel=5 reproducer.  We had log level 4 at
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/3091/s3/download/test-end-to-end-docker/logs/container-origin.log
which
is effectively a 1.3 kubelet (there are some code differences above and
around, but everything else in the product works so we still think this is
a flake).

One consideration -

[2016-07-11 18:00] smarterclayton commented on #28750
And we have lots more secrets per namespace.

On Mon, Jul 11, 2016 at 1:59 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-07-11 18:12] bprashanth commented on #27978
maybe, at least the file /workspace/kubernetes/examples/cassandra/cassandra-service.yaml wasn't found. You can shove it in https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests and use it like some of the other tests: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/petset.go#L409

[2016-07-11 18:13] yujuhong commented on #28667
If *most* runtimes work with net namespaces, and only a few hypervisor-based runtimes are exceptions, it might be worth handling the plugins in kubelet for the majority of the runtimes. This saves those runtimes a lot of pain to integrate.

[2016-07-11 18:24] erictune opened #28785 "Spurious warning-level events for PetSet"
While following the [petset example](http://kubernetes.io/docs/user-guide/petset/):
[code]

Questions:
- Should FailedCreate be a Warning if it typically happens and then later gets automatically resolved?
- Should the petset controller wait for PVC dynamic provisioning before sending a create pods?
- Should the petset controlelr send a FailedCreate event if the failure is expected?

[2016-07-11 18:24] erictune commented on #28785
@foxish

[2016-07-11 18:29] yujuhong commented on #25113
@ncdc @dcbw, would any of you be willing to pick up this and try exploring the suggested solution in https://github.com/kubernetes/kubernetes/issues/25113#issuecomment-216717692? Thanks in advance anyway.

[2016-07-11 18:37] eicnix opened #28786 "[1.2] Master Pods won't start on the 2nd Master"
I am using the Kubernetes 1.2 Release from the CentOS repos and have a multi master setup with 2 masters.

On my first master all pods are starting fine but on the second master all pods will be pending for a few seconds and then destroyed because they are outdated. Both masters are set as unscheduleable. The manifests are identical on both masters.

[code]

Both pods have the same `hash` and `mir

[2016-07-11 18:40] mikedanese opened #28787 "Allow CNI node agents to run in a DaemonSet"
Host network pods should be able to be created before the container network exists. Pod syncs for pods on the container network should fail until the container network is configured.

cc @freehan @girishkalele

[2016-07-11 18:48] freehan commented on #28787
ref: #28654

[2016-07-11 18:53] smarterclayton commented on #28756
They get auto generated in generated.pb.go.  I think they're part of one of
the interfaces that gogo-proto expects, but it should be something we can
disable.

On Mon, Jul 11, 2016 at 2:18 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-07-11 19:02] deads2k commented on #28450
@eparis I opted out wrong before somehow.  This time I suggested you, figuring you'd know how to talk to the bot.

[2016-07-11 19:15] smarterclayton commented on #27430
I had suggested splitting so that we'd have a discussion about the bits
independently, but I think it's fine to continue proposing ideas here.

Generally this would go through the proposal process - we'd identify a list
of names, people would register objections to the names, and then given the
list of candidates try and remove outcomes that don't measure up based on
the objections.  Once we've go

[2016-07-11 19:21] mtaufen commented on #27980
@yujuhong
For now, the Kubelet will continue to support the flags it has today. Eventually, flags will be deprecated in favor of on-disk config. I'm not 100% clear on how one sets up static pods, is that presently done using a flag? Eventually, we will have the Kubelet defer to on-disk config if it can't contact the API server, so I can imagine eventually dealing with static pods there.

I think I

[2016-07-11 19:23] yujuhong opened #28789 "Container Runtime Interface/API Planning"
This issue is created to help track the progress of the container runtime interface/API. The original issue is #22964

**Summary of current status**
-  We reached an agreement on the general concept of pod sandbox and imperative container-level operations. The proposal, together with a placeholder golang interface file was merged in
  #25899 .
- There is a PR to implement the API using grpc+protob

[2016-07-11 19:26] dagnello opened #28790 "Openstack loadbalancer v2"
There is a potential bug in lbaas_v2 implementation related to attaching a floating IP to a loadbalancer.  The current implementation looks up port ID based on the loadbalancer's IP address because port ID was not available from gophercloud library.  This can cause a problem if the configured openstack user manages one or more networks with overlapping subnets.  The IP address of the loadbalancer

[2016-07-11 19:30] davidopp commented on #28768
@piosz can you take a look at this?

[2016-07-11 19:37] ncdc commented on #25113
I can pick it up

On Mon, Jul 11, 2016 at 2:30 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-07-11 19:40] yujuhong commented on #28750
This might be a dup of #28616
@saad-ali's explanation from https://github.com/kubernetes/kubernetes/issues/28616#issuecomment-231249817:  "Volume manager parallelizes work as long as the underlying volume is not the same. For secret volumes that means as long as the SecretName is different. In this case, if all the pods being batch created are identical (and therefore referencing the same volume),

[2016-07-11 19:43] foxish commented on #28785
@erictune The link to the petset example appears to not work. I'm unsure where to find the yaml file to create that petset.

[2016-07-11 19:52] erictune commented on #28785
Updated link.

[2016-07-11 20:01] luxas commented on #28189
I'd like to keep the logic in `common.sh` at absolutely the minimum.
I see it as you have to transfer the images to the offline node in some way.
This might be achieved in a few ways:
 - On an internet connected node that's different from the offline node:
   - `docker save <image> | ssh root@<ip> "docker load"`
   - `docker pull <image>; docker save <image> > .tar.gz; scp .tar.gz user@<ip>`
 - On

[2016-07-11 20:01] #28189 closed

[2016-07-11 20:02] lpabon opened #28791 "GlusterFS PV should not use Endpoints since they are per project"
We thought at first that we could create a pool of GlusterFS PVs available for any namespace PVC to bind to.  The issue is that GlusterFS adapter requires the PV to refer to an Endpoint, and endpoints are per namespace only, even though PVs are cluster wide.

The usability of this model would require the following:

Admin:
- First, create a set of GlusterFS volumes (no PVs yet)

User:
- Create a n

[2016-07-11 20:07] luxas commented on #28787
I think this is a thing we should make working before v1.4, so adding the milestone. Complain if you disagree.

Also, does @mikedanese volunteer to make a PR? :)

[2016-07-11 20:07] stapelberg commented on #2630
Here’s an example for how to use the fsgroup directive:

For the Docker container defined in https://github.com/robustirc/robustirc/blob/master/Dockerfile (which specifies `RUN echo 'nobody:x:99:99:nobody:/:/bin/sh' >> /etc/passwd` and `USER nobody`), the following modification to my kubernetes replicationcontroller config was necessary:

[code]

[2016-07-11 20:11] smarterclayton commented on #28616
This does sound like what we're seeing - large numbers of pods scheduled on the same machine result in some of them hitting higher level timeouts.

[2016-07-11 20:18] luxas commented on #27603
@freehan When are you going to update CNI?
Also, at which commit?

[2016-07-11 20:20] mikedanese commented on #28787
Going to make a first pass at this in https://github.com/kubernetes/kubernetes/pull/28178

[2016-07-11 20:21] MikeSpreitzer opened #28795 "broken example in NetworkPolicy proposal"
Example 3 in https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/network-policy.md#examples is broken: it has an empty list of ingress rules, and consequently means nothing.

[2016-07-11 20:21] fejta commented on #28612
https://github.com/kubernetes/kubernetes/pull/28794 is also needed -- right now we're starting clusters and then blowing up.

[2016-07-11 20:22] MikeSpreitzer commented on #28795
CC @caseydavenport I think we agreed that an empty list means nothing, right?  The pseudo-code in the same proposal, along with the comments on the data types, look clear on this subject.

[2016-07-11 20:25] luxas commented on #28787
Great!

[2016-07-11 20:26] vishh commented on #28577
@atombender Are you running on latest Ubuntu LTS? AFAIK, we haven't tested/validated that distro yet.
For now, I have posted https://github.com/google/cadvisor/pull/1370 which should fix the issue mentioned in https://github.com/kubernetes/kubernetes/issues/28577#issuecomment-231800140. That patch needs to be vendored into k8s.

[2016-07-11 20:28] atombender commented on #28577
@vishh: Ubuntu 16.04. Thanks.

[2016-07-11 20:35] davidopp commented on #28768
cc/ @jszczepkowski

[2016-07-11 20:42] bprashanth commented on #28442
Not gossip, each proxy-hc hits all the others. The health checks are pulled from local-hc not pushed, which avoids the 40s node death timeout. And the proxy-HCs can survive regardless of master connectivity, avoiding issues like https://github.com/kubernetes/kubernetes/issues/26865.

It also cuts out 2 write hops, kubelet to etcd, endpoints controller to etcd. Everythings in memory and if somethin

[2016-07-11 20:48] roberthbailey commented on #16508
@timothysc I disagree that renaming `hyperkube` to `kube` needs to be coincident with a major version bump. I think the transition could be something like:

1.3: build individual binaries + hyperkube
1.4: build individual binaries + hyperkube + kube and deprecate the former two
1.5: just build kube

We could stretch out the overlap and keep the individual binaries for an extra release (giving folk

[2016-07-11 20:50] lavalamp commented on #24754
Thanks @rmmh and @fejta!

[2016-07-11 20:50] #24754 closed

[2016-07-11 20:51] lavalamp commented on #24755
This will be fixed when we next restart the queue. Thanks @rmmh!

[2016-07-11 20:51] #24755 closed

[2016-07-11 20:51] yujuhong commented on #25113
Thanks!

[2016-07-11 20:57] yujuhong commented on #27498
AFAIK, there are no new failures after #28299 landed.  It should be safe to let this issue stay closed.

[2016-07-11 20:59] luxas commented on #16508
I guess we need to wait a release between deprecating and removing.
In other words, deprecate everything except `kube` in `v1.4` _and remove all references to them_ in the official kubernetes code (especially `cluster/`, cc @mikedanese), kube-deploy, and other places that we care about.
In `v1.4`, standalone binaries should emit scary warnings, to get things moving.
In `v1.5`, we just wait for the

[2016-07-11 21:00] pskrzyns commented on #25581
cc @pskrzyns

[2016-07-11 21:03] luxas commented on #28764
It does work, but isn't the user-friendliest thing out there, so I would recommend to use [minikube](https://github.com/kubernetes/minikube) instead, which has full support (but is still in alpha).
Thanks for using Kubernetes!

[2016-07-11 21:03] #28764 closed

[2016-07-11 21:04] luxas commented on #28654
cc @luxas

[2016-07-11 21:05] luxas commented on #28653
cc @luxas

[2016-07-11 21:06] luxas commented on #28598
cc @kubernetes/sig-api-machinery @bgrant0607

[2016-07-11 21:08] lavalamp commented on #22448
What's the next step on this?

[2016-07-11 21:19] lavalamp commented on #28598
Please take a look at #28508 and discuss the interface work there.

[2016-07-11 21:26] xiang90 commented on #28598
@nickschuch The only problem I can see is that you need to implement extra pooling logic to simulate watcher. It should be doable. We are trying to design a reasonable low level kv API to support different storage backends.

[2016-07-11 21:32] k8s-merge-robot opened #28798 "[k8s.io] Services should flake to test lavalamp's thing [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/27898/kubernetes-pull-build-test-e2e-gce/47428/

Failed: [k8s.io] Services should flake to test lavalamp's thing [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #27898.

[2016-07-11 21:33] Quentin-M commented on #28561
It causes some apps to fail listening.

Example with _rabbitmq_:
[code]

On startup, the network on a CentOS container is setup as follow:
[code]

[code]

A simple workaround for now is to run `ifup lo`.

[2016-07-11 21:35] freehan commented on #27603
@luxas Since it is post 1.3 release, I am doing it at current HEAD (8a936732094c0941e1543ef5d292a1f4fffa1ac5).
see #28799

[2016-07-11 21:36] yujuhong commented on #24677
@vishh per our discussion last time, I assigned the issue to you. Thanks!

[2016-07-11 21:37] vishh commented on #28667
Given that we intend to let this API handle other OSes too in the future and as per @thockin, there might be an user who wants to *just use* docker networking, I'd prefer integrating network config into the new runtime API.
Runtime authors can always re-use the plugins that are developed as part of kubernetes core for docker integration.
To be specific, I recommend `Option 2`, even if it will requ

[2016-07-11 21:50] lavalamp commented on #28798
Heh-- this was a test issue.

[2016-07-11 21:50] #28798 closed

[2016-07-11 21:55] freehan commented on #28038
Please make sure kubelet container runs in `--privileged` mode.

Feel free to reopen if there is still problem

[2016-07-11 21:55] #28038 closed

[2016-07-11 22:09] #28612 closed

[2016-07-11 22:13] smarterclayton commented on #28442
What about other sorts of proxies like egress or cloud API servers?
Agree we can do higher fidelity, but are you proposing slowing
readiness or just having it be orthogonal?

We already have unready endpoints, so this case effectively supports that.

[2016-07-11 22:17] bprashanth commented on #28442
I think just modifying push to pull and get rid of the 40s timeout issue would be a win.
I agree that everything would need to know how to figure out health check of endpoints in a given bucket of nodes/region/cluster, and apiserver is probably the best aggregation point for that, but the proxy-hc can update apiserver too.

[2016-07-11 22:53] lukaszo commented on #22205
@mikedanese I ended up with logging the errors. Pls see my PR

[2016-07-11 22:57] smarterclayton commented on #28442
So a couple of counter points (discussion points, at minimum).  IPtables
sucks w.r.t. failover - if we did IPVS (or for someone integrating HAProxy)
we'd have integrated connection health checking and failover (of a form).
We would still want external health checking driving that obviously - but
we'd also want the info from those backends (did you connect).  I worry
about the HC not having all the

[2016-07-11 23:02] bprashanth commented on #28442
Doesn't that still suffer from "what about cloud api servers" problem? (anything like ingress that needs health checks but isn't going through ipvs).

If the false negatives are low connection level health in addition to normal readiness checking sounds like an overall win, no doubt.

[2016-07-11 23:11] #24133 closed

[2016-07-11 23:23] caseydavenport commented on #28795
Yes, I think you're right.  That example looks wrong.

I think it's from an older version of the proposal that didn't get updated when the semantics were nailed down.

[2016-07-11 23:25] caseydavenport commented on #28795
I believe it should be:

[code]

[2016-07-11 23:25] yifan-gu opened #28804 "rkt: Clean up json unmarshal."
As the pod returned by rkt api service already contains the labels, annotations, we don't have to unmarshal the manifest to read them.

[2016-07-11 23:25] yifan-gu commented on #28804
cc @kubernetes/sig-rktnetes

[2016-07-12 00:11] timbunce commented on #19680
The [Elasticsearch API documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/index.html) is worth a look as an example.

I especially appreciate that it's easy to switch between versions for a given page, e.g. here's the [cluster page for version 1.5](https://www.elastic.co/guide/en/elasticsearch/reference/1.5/cluster.html). At the top of the page is a clear message saying

[2016-07-12 00:13] janetkuo commented on #28695
Adding `--quiet` in #28801.

Some more thoughts from in-person discussion with @bgrant0607 :

1. We can default the `--quiet` mode when `-it` are both specified, or
2. Add a flag (e.g. `--interactive`) that'd be equivalent to `--restart=Never --quiet --rm` (depending on what default makes sense for the users)

[2016-07-12 00:37] aaronlevy commented on #28787
/cc @steveej

[2016-07-12 00:50] #28719 closed

[2016-07-12 00:54] dims commented on #28301
This seems legit problem as i am able recreate it:

[code]

then run `docker status` shows:
[code]

where `docker ps` is as follows:
[code]

Note that `f6f746af957a` is the nginx started using kubectl and it has no data at all in `docker status`.

I was able to run `ab` (Apache Bench) to drive some load `ab -n 100000 -c 100 http://localhost:80/` and noticed that the network (`NET I/O`) goes up for

[2016-07-12 00:54] dims commented on #28301
@vishh any ideas? please see my observations above

[2016-07-12 01:37] dims commented on #27978
@chrislovecnm @fabioy - I took a stab at fixing some of the path(s). Will submit a PR shortly. Feel free to ignore my PR if you already have something in flight

[2016-07-12 02:00] Random-Liu commented on #28698
The docker validation test starts failing from Jul 9.

[2016-07-12 02:02] dims commented on #27978
@saad-ali ack. Done.

[2016-07-12 02:06] wonderfly commented on #28698
[code]

Looks like an issue related to the container-vm-image-staging project. I'll take a look.

[2016-07-12 02:06] saad-ali commented on #27978
@dims Thanks! LGTM

[2016-07-12 02:07] Random-Liu commented on #28698
@wonderfly Thanks a lot~ :)

[2016-07-12 02:15] atombender commented on #28710
FWIW, I restarted Kubelet many times. It never added the annotation.

[2016-07-12 02:26] saad-ali commented on #28750
The `f5112c1", APIVersion:"v1", ResourceVersion:"771", FieldPath:""}): type: 'Warning' reason: 'FailedMount' Unable to mount volumes for pod "cli-with-token_test(0
ba7ffca-46fc-11e6-af1a-0e6a9f5112c1)": timeout expired waiting for volumes to attach/mount for pod "cli-with-token"/"test". list of unattached/unmounted volum
es=[default-token-2uhpl]` (basically a slow down in pod creation) can be expl

[2016-07-12 02:29] madhusudancs opened #28812 "Federation users shouldn't be required to have go compiler toolchain/libraries installed"
It is unfortunate that our federation turn up scripts run the manifests through a `go` program which isn't shipped as a binary in our release, but instead as a source. This means that our users are required to have the `go` toolchain installed and configured to even try out federation. We should fix this.

It is also quite amusing that e2es did not catch this. Do we have `go` toolchain installed o

[2016-07-12 02:41] wonderfly commented on #28698
The image is back there but I think the test will still fail due to https://github.com/kubernetes/test-infra/issues/266#issuecomment-231921880

[2016-07-12 03:03] ddysher commented on #27556
Thanks @sols1 @lavalamp  I'll see if that helps.

[2016-07-12 03:22] smarterclayton commented on #28756
Fix up but will need to wait until tim's pr lands.

[2016-07-12 03:41] #27978 closed

[2016-07-12 03:45] smarterclayton commented on #28750
It does, except we have that patch in place.  I'm currently trying to get a
reproduction with v(5) so we can chase it down and see whether there's
another underlying problem.  I'm also not ruling out an issue in RHEL at
this point.

Is the parallelization issue prioritized already or something we can assist
with (whether review or otherwise)?

On Mon, Jul 11, 2016 at 10:27 PM, Saad Ali <notificati

[2016-07-12 03:48] stensonb commented on #27884
We haven't seen this issue since the CoreOS upgrade on June 29th...so I'm closing this for now.

Thanks so much everybody for the attention.  I'm happy to see we're stable again, and sorry to have gotten you all (apparently without reason) involved.

[2016-07-12 03:52] colhom commented on #28812
@madhusudancs the go toolchain has always been a hard dependency for kubernetes-e2e Jenkins jobs since prior to the existence of federation. There is `e2e-runner` and a `dockerized-e2e-runner`, both of which are bash scripts with do bring-up, e2e test themselves, reporting, and tear-down. This is all actuated via  `go run ./hack/e2e.go`, and as you'd expect both require a working golang installati

[2016-07-12 03:53] tobegit3hub commented on #23241
It seems that the scripts may be out-of-date and it doesn't expose `2379` when starting etcd. @resouer

[2016-07-12 03:56] saad-ali commented on #28750
Thanks Clayton. I'm working on it, and have a good handle on it. Tracking it with https://github.com/kubernetes/kubernetes/issues/28616. Will include patch in 1.3.1. Will make sure to loop you in on the fix.

[2016-07-12 03:59] k8s-merge-robot opened #28817 "[k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12847/

Failed: [k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kubernetes e2e suite}

[code]

Previous issues for this test: #27978

[2016-07-12 04:13] matchstick commented on #28616
@saad-ali officially assigning this to saad, but hoping that @smarterclayton will be involved in the process. I agree this should be in 1.3 as it can be viewed as a changing behaviour.

[2016-07-12 04:13] quinton-hoole commented on #28812
@colhom , @madhusudancs I think that you both have good points.  Here's my take:

1. The e2e status quo relies on the go toolchain, and we should leave it as such (or fix it holistically, and independently of federation).
2. We should also support a pre-built binary release of federation, which can be installed with minimum external dependencies (including the go toolchain).  This would be consist

[2016-07-12 05:23] thockin commented on #28695
I like the idea of --quiet being implied with -i -t.

I also like the idea of an umbrella flag that covers it all.  --interactive
is the long-form of -i, though, isn't it?  How about --attached or
--one-shot?  Maybe --interactive is better.

Is there a use for -i that isn't this?  Maybe just -i -t together implies
everything?

On Mon, Jul 11, 2016 at 5:14 PM, Janet Kuo <notifications@github.com> w

[2016-07-12 06:17] madhusudancs commented on #28812
@quinton-hoole @colhom agreed on all your points (@colhom except the point on the existence of `go run` indicating a pattern. I will be happy to discuss about that outside this issue).

My intention, and this issue, is not about fixing e2e's dependency on `go` toolchain. In some sense it really doesn't matter whether e2e's have `go` toolchain dependency or not. I was amused that there was a depend

[2016-07-12 06:30] nguyener commented on #17612
has this issue been fixed yet?

[2016-07-12 06:42] wojtek-t commented on #22448
@lavalamp
IIUC, one thing we are waiting for is this one:
https://github.com/kubernetes/kubernetes/issues/20504#issuecomment-231274366

However, it would be great if we can figure our testing plan before that.

Once we are ready, I'm happy to setup up a Jenkins job that will be running e2e tests with etcd3 underneath. However, upgrade is something that I worry about. And it would be good if someon

[2016-07-12 06:42] wojtek-t commented on #22448
@xiang90 @hongchaodeng ^^

[2016-07-12 06:58] janetkuo commented on #28695
@thockin we don't actually have `--interactive` flag in the system. The long-form for `-i` is `--stdin` (although we do mention `-i/--interactive` in kubectl run help by mistake, which is misleading).

[2016-07-12 06:59] wojtek-t commented on #28365
@kubernetes/sig-api-machinery

[2016-07-12 07:29] sttts commented on #28565
Duplicate of https://github.com/kubernetes/kubernetes/issues/28608. Closing.

[2016-07-12 07:29] #28565 closed

[2016-07-12 07:29] sttts commented on #28437
Duplicate of https://github.com/kubernetes/kubernetes/issues/28608. Closing.

[2016-07-12 07:29] #28437 closed

[2016-07-12 07:39] sttts commented on #27680
No more insights here. Pod log doesn't show anything special.

[2016-07-12 07:42] untoreh opened #28822 "can't have more than one cephfs volume per pod and pod termination delete all files in the cephfs path"
Defining multiple cephfs volumes in a pod stalls the container creation because of volume attachment time out.
Also this ends up in data loss on cephfs, the paths specified on the manifest (in the cephfs volume definition ) get cleared up on cephfs leaving an empty dir...

[2016-07-12 08:01] eicnix commented on #28786
I tried it with hyperkube v1.3.0 as well which results in the same error.

[2016-07-12 08:04] #27105 closed

[2016-07-12 08:07] haizaar commented on #28718
ElasticSearch uses dedicated [k8s](https://github.com/fabric8io/elasticsearch-cloud-kubernetes) plugin for node discovery. We are using it now in k8s 1.2 and we don't need sticky IPs for that.

[2016-07-12 08:14] zenly commented on #28775
Sure: https://github.com/kubernetes/kubernetes/pull/28823

On 11/07/16 18:59, Mike Danese wrote:

[2016-07-12 08:15] cheld commented on #26943
The official documentation to launch hyperkube is still not correct. I see two options to fix:

1. use the slave hack in order to make the containerized hack work... advantage: easy for the user. disadvantage: seems to have some bugs.

2. use shared mount propagation. advantage: nice. disadvantage: requires some kind of setup by the user. Either we document or we provide a setup-script.

[2016-07-12 08:25] jsafrane commented on #26256
It hasn't flaked for almost a month, can we close this?

[2016-07-12 08:41] k8s-merge-robot opened #28825 "[k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11042/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26425 #26715

[2016-07-12 08:51] hir3npatel commented on #16836
@ArtfulCoder for your comment around 127.0.1.1, adding --resolv-conf to kubelet options is tricky. If I add it on my local ubuntu laptop, the container complaints that it cannot find my resolv.conf file. The file sits on my host, I am guess it looks for it in the container and does not find it. Putting it into the container is not ideal, because on gke it won't get used (it's just a local thing).

[2016-07-12 09:06] arkkanoid opened #28826 "Error pulling images, directory not empty"
Hi,
I've a Kubernetes v1.2.4 cluster that had some pods crashed. I saw the kube-dns and heapster pods crashed. The error was:

[code]

I'd to remove several image layers and pull the images manually.
Now it works, but I want to know why this error occurs. These pods already had the image pulled, so why are they re-pulling the image and why it fails?

[2016-07-12 09:08] k8s-merge-robot opened #28827 "[k8s.io] Networking [k8s.io] Granular Checks should function for pod communication on a single node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/20034/

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication on a single node {Kubernetes e2e suite}

[code]

[2016-07-12 09:49] asalkeld commented on #28763
#17354 would help, so the other providers could still have an emptyDir PV.

[2016-07-12 10:23] hir3npatel commented on #16836
It seems the host fs is mounted in the container at /rootfs. So using this option works for me:

docker run -d \
...
/hyperkube kubelet \
...
    --resolv-conf=/rootfs/path/to/file/on/host

[2016-07-12 10:38] dims commented on #28826
Saw this CoreOS related bug report in Docker issues: https://github.com/docker/docker/issues/23487

Are you on CoreOS? (with a custom docker?)

[2016-07-12 11:33] liaoqb commented on #9512
How to solve this problem, can you give a more detailed answer for me ????

[2016-07-12 11:44] arkkanoid commented on #28826
Yes, I'm using CoreOS.
As this is an specific coreOS bug, I close this thread in favor of https://github.com/coreos/bugs/issues/1397.
Thanks!

[2016-07-12 11:45] bkmagnetron commented on #19317
I'm facing the same issue
[code]
I have deleted the project named "gitlab" via web console.
[code]

As said by @derekwaynecarr I did the following
[code]
[code]
[code]
and
[code]
but it is removed.

[2016-07-12 12:02] dims commented on #28124
@yujuhong Is this p0 flake a symptom of this issue? https://github.com/kubernetes/kubernetes/issues/28384

[2016-07-12 12:06] pires commented on #19765
@philips this used to work on CoreOS. what happened?

[2016-07-12 13:04] asalkeld opened #28831 "examples/volumes/rbd/rbd-with-secret.json fails validation"
There seems to be an "id" field that is not expected.
[code]

[2016-07-12 13:08] gmarek opened #28832 "NodeController doesn't evict Pods en masse in case of master network problems"
We need to mitigate master networking problems that cause massive pod evictions. Originally master evicts all Pods that it doesn't hear in ~5 minutes. It's a perfectly OK behavior as long as it's not the master machine which as networking problems. In such case NodeController will think that all Nodes are unhealthy and evict all Pods within the cluster (they'll get instantly rescheduled). We imple

[2016-07-12 13:16] andreykurilin commented on #28772
I'm working on fix for this issue.

[2016-07-12 13:17] maklemenz opened #28835 "example/cassandra: Volume statement in Dockerfile hides all data"
**Situation:**
I deployed a cassandra cluster based on the [provided example](https://github.com/kubernetes/kubernetes/tree/fedc5136586dd1a3698f6ad0c734a4065fa726eb/examples/storage/cassandra), used the DaemonSet and replaced the emptyDir with hostPath.

**Problem:**
After deleting a pod all local data seems to be gone and the new cassandra pod loads its data from the other replicas.
When all repl