[2019-01-03 23:44] misterikkit opened #72543 "[scheduler cleanup phase 🐼]: Move cache debugger setup into a helper function"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

Currently, the `cache/debugger` feature is set up at the end of `NewConfigFactory()` in `pkg/scheduler/factory/factory.go`. This setup should be moved into its ow

[2019-01-03 23:44] misterikkit opened #72544 "[scheduler cleanup phase 🐼]: Change `getBinderFunc` from method to function"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The `getBinderFunc` method of `configFactory` does not need to be a method. It should be converted into a plain func that takes a client (`kubernetes.Interface`)

[2019-01-03 23:44] misterikkit opened #72545 "[scheduler cleanup phase 🐼]: Change `MakeDefaultErrorFunc` from method to function"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The `MakeDefaultErrorFunc` method of `configFactory` contains a lot of error handling logic, but that logic does not belong in the `configFactory` type. It should

[2019-01-03 23:44] misterikkit opened #72546 "[scheduler cleanup phase 🐼]: Change `getNextPod` from method to function"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

The `getNextPod` method of `configFactory` is a simple wrapper around `SchedulingQueue.Pop`. It should be converted into a simple closure instead of being a metho

[2019-01-03 23:44] misterikkit opened #72547 "[scheduler cleanup phase 🐼]: Make a Scheduler without configFactory 😱"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

This is the final goal of [scheduler cleanup phase :panda_face:], and should be done last.

Refactor `scheduler.New` to return a `Scheduler` without using the `fa

[2019-01-03 23:45] misterikkit commented on #72547
/assign @ahmad-diaa  because this relates closely to https://github.com/kubernetes/kubernetes/issues/71860

Let me know if you would prefer someone else to take this one.

[2019-01-03 23:51] #70704 closed

[2019-01-03 23:51] #72378 closed

[2019-01-04 00:09] #67020 closed

[2019-01-04 00:16] gtaylor commented on #36847
@mcguinness great to hear! I don't suppose there are any Okta docs that go over the specific combination of settings required for Kubernetes?

Also, to verify my understanding: We'll need to add the offline_access scope in order to get the id_token included with refreshes?

[2019-01-04 00:57] msau42 opened #72550 "Cleanup volume/util.UnmountMountPoint callers"
**What would you like to be added**:
After https://github.com/kubernetes/kubernetes/pull/71804 merges, the callers of the functions noted [here](https://github.com/kubernetes/kubernetes/pull/71804/files#diff-c3acf7a7fec401d0a3cb4998088ee1e5R130) should be updated to use the mount pkg directly, and the functions under pkg/volume/util removed.

/kind cleanup

[2019-01-04 00:57] msau42 commented on #72550
/help
@kubernetes/sig-storage-bugs

[2019-01-04 01:00] msau42 opened #72551 "Cleanup PathExists"
**What happened**:
TODO from https://github.com/kubernetes/kubernetes/pull/71804 [here](https://github.com/kubernetes/kubernetes/pull/71804/files#diff-5163bbb9b3f4ab322cd532a3204f7aa2R91), investigate if we can get rid of PathExists, and just use `pkg/util/file.FileExists` instead

@kubernetes/sig-storage-bugs
/kind cleanup

/kind bug

[2019-01-04 01:00] dsymonds commented on #51742
Well this is disappointing. It was approved and seemed ready to submit over a year ago, but got dropped on the floor, and I really wanted to be able to use this today. Sigh.

[2019-01-04 01:36] misterikkit commented on #72543
/assign
/remove-help

[2019-01-04 01:40] m1093782566 commented on #2856
Both kubenet and CNI network driver support traffic shaping now.

I think we can close this issue now?

[2019-01-04 01:41] m1093782566 commented on #20767
Sure @thockin, will check IPVS mode.

[2019-01-04 01:48] ixdy commented on #68306
I think this was fixed in #69548.
/close

[2019-01-04 01:48] #68306 closed

[2019-01-04 02:04] ahmad-diaa commented on #72547
@misterikkit  I'd like to take this one as well.

[2019-01-04 02:06] mlmhl commented on #72393
/assign

[2019-01-04 02:20] danielqsj commented on #72550
@msau42 I'd like to take this task.
/assign

[2019-01-04 02:21] danielqsj commented on #72550
/remove-help

[2019-01-04 02:32] rakesh1533 commented on #61277
kubeadm init --apiserver-advertise-address 192.168.33.11 --pod-network-cidr=192.168.0.0/16
[init] Using Kubernetes version: v1.13.1
[preflight] Running pre-flight checks
error execution phase preflight: [preflight] Some fatal errors occurred:
        [ERROR NumCPU]: the number of available CPUs 1 is less than the required 2

I am getting this error when i am running kubeadm init on master or any o

[2019-01-04 02:37] huweihuang opened #72555 "Specify the pod of the statefulset to update"
**What would you like to be added**:

Now the Phased Roll Outs of the statefulset can only be updated one-way based on a pod number, ie partition. For example, partition is equal to 2, and pods greater than or equal to 2 can be updated, but pods whose partition is less than a certain value cannot be specified for update, and a pod update cannot be specified.

**Why is this needed**:

example:
I us

[2019-01-04 02:38] mjaow commented on #72543
I'd like to take this one

[2019-01-04 02:40] elafontaine commented on #72523
Hi Liggitt,

I will be adding them tomorow when I have access to my work laptop.  Thanks for your comment.

When I'll have posted the information, do you think you could help me put the right tags on this if it's an issue?

[2019-01-04 02:42] xiaoanyunfei commented on #72545
I'd like to take this one

[2019-01-04 02:42] xiaoanyunfei commented on #72544
I'd like to take this one

[2019-01-04 02:47] huweihuang commented on #72555
@kubernetes/sig-scalability-feature-requests

[2019-01-04 02:48] wgliang commented on #72544
/remove-help

[2019-01-04 02:48] wgliang commented on #72543
/remove-help

[2019-01-04 02:48] wgliang commented on #72545
/remove-help

[2019-01-04 02:50] xiaoxubeii commented on #72355
Almost. My schedule simulator can use both fake pods and schedule snapshot to simulate the actual Kubernetes scheduling. And I need to collect the metrics and want to watch the whole process. I don't want it is a black-box for me.

I am trying to find the potential performance issues of Kubernetes default scheduler. And I also implemented some schedulers that meet our requirements. The above situa

[2019-01-04 02:57] xiaoxubeii commented on #72547
/assign @misterikkit

[2019-01-04 02:57] xiaoxubeii commented on #72547
/unassign @misterikkit

[2019-01-04 04:21] #71584 closed

[2019-01-04 04:31] Pneumaticat commented on #64743
I'm getting this issue pop up again on Linux 4.20.0. Reverting to 4.19.12 makes it go away.

Using NixOS unstable 19.03 and its Kubernetes module.

[2019-01-04 04:33] elafontaine commented on #72523
wow... you're reactive :)

[2019-01-04 05:10] xqqcoder opened #72557 "The Pod set Restart Policy always but the kubelet always create a new container, not restart the old exited container"
/triage support

[2019-01-04 06:06] andrewsykim commented on #72499
I was able to reproduce this with an out-of-tree provider as well. Will dig further and report back.

[2019-01-04 06:16] andrewsykim commented on #72499
@mtaufen seems like when nodes are deleted, the status of the Ready condition is actually `Unknown` and not `False`.
[code]

In https://github.com/kubernetes/kubernetes/pull/70344 we added a check to skip deleting nodes with `Unknown` node condition but the previous controller logic was to check if NodeReady != True.

[2019-01-04 06:19] andrewsykim commented on #72499
@krzysztof-jastrzebski can you able to confirm if the Ready condition on your node is also `Unknown`?

[2019-01-04 06:34] txsun6 commented on #72180
你好，我遇到相同的问题，请问你是怎么解决的，谢谢

[2019-01-04 06:44] andrewsykim commented on #72499
Opened https://github.com/kubernetes/kubernetes/pull/72559 (validated with CCM on master) which would put the node deletion logic to what we had prior to https://github.com/kubernetes/kubernetes/pull/70344. I'm not sure if expecting the Ready condition to be `Unknown` is the correct behavior here, but the PR is there if that's what we think is best for now. Will defer to your judgement @mtaufen.

[2019-01-04 06:48] krzysztof-jastrzebski commented on #72499
@andrewsykim  I confirm Ready condition is Unknown.

[2019-01-04 06:57] jasonyihk commented on #60140
why not
1. put the large file on a ftp server
2. using sftp to get the file from inside the container

[2019-01-04 07:06] andrewsykim commented on #68234
@tpepper PTAL https://github.com/kubernetes/kubernetes/pull/72562 :)

[2019-01-04 07:16] #62821 closed

[2019-01-04 08:17] #67056 closed

[2019-01-04 08:20] vinhnglx commented on #70257
Thanks, @ltupin . I built the image from source and it works perfectly.

@zhwill you can try to use my image https://cloud.docker.com/u/siliconavengers/repository/docker/siliconavengers/fluentd-elasticsearch

[2019-01-04 08:57] Joseph-Irving commented on #72050
@namreg yeah, what you said all sounds reasonable, I see you've opened a PR to change that which is great.

However, it's definitely worth talking to sig-node about this as they will know a lot more about this than me. You can try reaching them via the sig-node slack channel.

[2019-01-04 09:20] neolit123 commented on #61277
@rakesh1533
we've added a check for CPU cores on control-plane nodes.
control plane nodes need 2 cores.

if you have less than 2 you are going to see this error.
to ignore it you can use `--ignore-preflight-errors`, but you might experience weird behavior depending on your setup.

[2019-01-04 10:05] den-is opened #72564 "kubeadm join controlplane not pulling images and fails"
**What would you like to be added**:
kubeadm join --experimental-control-plane is not pre-pulling control-plane images.
Long story short, it would be nice to have image **pull** step during **preflight** phase for **control-plane** joining process.

**Why is this needed**:
`kubeadm join 1.2.3.4:6443 --token xxx --discovery-token-ca-cert-hash yyy --experimental-control-plane` - command fails if nod

[2019-01-04 10:06] xiaoxubeii commented on #72226
I am curious how Kubernetes delete pods when taints offline nodes. I can not find relative codes.

[2019-01-04 10:10] b1zzu commented on #68946
Hi @vladimirvivien, can you also check if *cfssljson* is in *PATH*: `which cfssljson`?

If *cfssljson* is missing than is enough to update the error massage to: `Unable to successfully run 'cfssl' and 'cfssljson' from $PATH; downloading instead...`

[2019-01-04 10:13] lstiebel commented on #39170
I can confirm that this works properly in k8s 1.11.6 (built with kops 1.11 on AWS). As long as the `terminationGracePeriod` for the pod is longer than the duration of the `sleep` interval everything exits gracefully now. Many thanks to @SpeedVan.

[2019-01-04 10:21] krzysied commented on #72016
@wojtek-t I looked through the latest flakes. All resource related flakes are because of apiserver and controller manager cpu constraints. https://github.com/kubernetes/perf-tests/pull/363 will bump up these constraints.

[2019-01-04 10:33] antalm opened #72565 "StatefulSet podAntiAffinity not working if not enough nodes are available yet"
**What happened**:
Tried to use podAntiAffinity in a StatefulSet, but some pods were scheduled onto the same Kubernetes node if the number of available nodes was less than the number of replicas in the StatefulSet. In this example web-node-1 was down (kubelet service was stopped on purpose).

[code]

**What you expected to happen**:
Pods are in Pending state until there are enough nodes to schedul

[2019-01-04 10:36] Nebulazhang commented on #72181
Maybe I know the reason for this problem. The first goroutine try to detach but failed and add back the volume to the `nodesToUpdateStatusFor`(t1) ,then delete this operation from `nestedPendingOperations`(t2).
But another goroutine deletes  volume from `nodesToUpdateStatusFor`(t3) and check this volume is operating (the volume is recording in nestedPendingOperations),so this goroutine return(t4)

[2019-01-04 10:46] Nebulazhang commented on #72181
I will create a PR try to fix this bug. This bug is not fatal and errors only occur when the same volume is attached immediately after detached  fails.
So I will put right the nodesToUpdateStatusFor when `syncStates` in `reconciler.go`

[2019-01-04 11:04] krzysied commented on #72363
Good observation. I though the results where generated to `.stdout` file, parsed it and then removed it. From 7773 there is new file https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/7773/artifacts/junit_5a6df720540c20d95d530d3fd6885511223d5d20_20181220-035149.stdout. Previously its content could be found in build-log.txt.

Maybe previously [this line](https://gi

[2019-01-04 11:15] cpressland commented on #70229
We're also seeing this on Ubuntu 16.04.5 on Microsoft Azure with Kernel 4.15.0-1036-azure and Kubernetes 1.13.1. We see this during Pod deletion/creation. Normally we see a spike in CPU usage where the CPU is stuck at 100% and network activity becomes non-existant. Any advice on what information to collect would be great.

[2019-01-04 11:42] antalm commented on #72565
/sig scheduling

[2019-01-04 11:55] maniSbindra commented on #71464
Hi @pbarker @tallclair I would like to work on the issue if no one else is.

Thanks.

[2019-01-04 12:02] paralika commented on #71685
/assign

[2019-01-04 12:03] paralika commented on #71685
I would like to work on this issue.

[2019-01-04 12:12] mugdhaadhav commented on #29540
Make sure the kubernetes-dashboard is running on the **master** node. Draining the slave nodes and re-creating the dashboard on master solved the issue for me.

Installation: kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml

Drain nodes: kubectl drain node_name

[2019-01-04 12:16] omarwaleed opened #72570 "Execute command on node"
**What would you like to be added**:
Ability to run command on node either directly using the kubectl command or as a configuration before scheduling a deployment/pod
**Why is this needed**:
some container like elasticsearch fail during scheduling the first time on a node because the default value for max virtual memory is below the minimum required by elastic search to run. The only solution is t

[2019-01-04 12:18] omarwaleed commented on #72570
/sig feature-requests
/sig proposals

[2019-01-04 12:19] craigbox commented on #15675
/remove-lifecycle stale

[2019-01-04 12:32] Satheesh-Balachandran commented on #23726
Thanks! this worked!

[2019-01-04 13:09] ialidzhikov opened #72571 "fluentd-elasticsearch uses a vulnerable ruby version"
**What would you like to be added**:
`k8s.gcr.io/fluentd-elasticsearch:v2.3.2` uses `ruby 2.3.3p222` which is vulnerable for [CVE-2017-17405](https://www.ruby-lang.org/en/news/2017/12/14/net-ftp-command-injection-cve-2017-17405/), [CVE-2018-8780](https://www.ruby-lang.org/en/news/2018/03/28/poisoned-nul-byte-dir-cve-2018-8780/), [CVE-2018-16395](https://www.ruby-lang.org/en/news/2018/10/17/openssl

[2019-01-04 13:20] cpressland commented on #70229
We had another one of these today, seems that iptables-restore caused this one:

[code]

[2019-01-04 13:57] etibroo commented on #54491
What happened after this? Is there a plan to include this?

[2019-01-04 14:30] liggitt commented on #72570
this can be accomplished a few different ways:
* running a daemonset on all nodes
* running a single pod targeted at a specific node
* adding a privileged initContainer to the pod that has this requirement that ensures the system is prepared for the primary container

/close

[2019-01-04 14:30] #72570 closed

[2019-01-04 14:36] tomplus commented on #72397
@liggitt I've tried to check it from python client perspective but I've noticed that headers are not returned by apiserver even if I use kubectl or curl.

Steps to reproduce:

1. Start busybox, it sleeps only and doesn't log

[code]

2. Get logs from kubect

[code]

3. dump from tpcflow confirms that headers hasn't been sent

[code]

Did I miss something? Thanks.

[2019-01-04 14:38] liggitt commented on #72523
it was also backported to 1.11.x in https://github.com/kubernetes/kubernetes/pull/68842 and was included in 1.11.4+

[2019-01-04 15:18] liggitt commented on #72397
it looks like the apiserver wrote headers, but did not flush them.

#72575 makes the headers be returned immediately

[2019-01-04 15:34] antalm commented on #72565
I just realized that the same problem exists also with Deployments, so this issue seems to be not specific to StatefulSet.

[2019-01-04 15:40] x13n commented on #67538
Thanks for the feedback! Yes, users shouldn't see errors in logs when there is no actual issue.

In this case, the first one shouldn't be logged at all (and isn't, anymore). The second one was caused by a problem in the logic, resulting in no-op apiserver calls. So although it didn't cause any end-user visible effects, it was indeed an error.

[2019-01-04 15:48] tomplus commented on #72397
Thank you for your quick response.

[2019-01-04 15:52] elafontaine commented on #72523
Thanks! :) sorry, didn't see this issue :S

[2019-01-04 16:16] neolit123 commented on #72515
/close
please create the same issue in the kubernetes/kubeadm issue tracker.

[2019-01-04 16:16] #72515 closed

[2019-01-04 16:19] neolit123 commented on #72374
/remove-area kubeadm

[2019-01-04 16:20] neolit123 commented on #72374
/remove-sig node

[2019-01-04 16:20] neolit123 commented on #72374
you might have better success asking on stackoverflow.

[2019-01-04 16:22] neolit123 commented on #72324
/sig instrumentation

[2019-01-04 16:42] jorhett commented on #63804
/reopen this remains not fixed and it seems every distribution is patching around it. The fix needs to be added to the kubelet RPM as described at https://github.com/kubernetes/kubernetes/issues/56850#issuecomment-406241077

[2019-01-04 16:43] jorhett commented on #56850
This remains not fixed and it seems every distribution is patching around it. The fix needs to be added to the kubelet RPM as described at #56850 (comment)

/reopen

[2019-01-04 16:49] liggitt commented on #72522
is this a duplicate of https://github.com/kubernetes/kubernetes/issues/72236 ?

[2019-01-04 17:03] gnufied commented on #72497
@SandeepPissay But there exists at least couple of workarounds that a customer could use to ensure that pods get only scheduled on nodes where volume can attach itself.

We have same problem in AWS and GCE as well. But we chose not to break dynamic provisioning as it exists. I know it is not ideal but it seems like least painful way of ensuring backward compatibility.

[2019-01-04 17:13] spiffxp commented on #68091
We still don't have useful data because the job @dims created has been perpetually failing (due to timeout IIRC)

/remove-lifecycle rotten

/assign @dims @spiffxp
because we worked on it

/assign @mariantalla
has to do with deflaking, giving you a heads up this way until we have something better to cluster related issues (some combo of sig+king labels? area label? project board?)

[2019-01-04 17:15] gnufied commented on #72497
xref - https://github.com/kubernetes/kubernetes/pull/55845

[2019-01-04 17:15] spiffxp commented on #72541
/assign @BenTheElder @spiffxp
We're interested in disabling the job as blocking entirely. We're of the opinion this shouldn't have bee allowed to block the community in the first place.  I swear there's a historical issue around tightening the regex somewhere.

[2019-01-04 17:16] spiffxp commented on #72541
... wrong button sorry about that

[2019-01-04 17:20] Shnatsel commented on #72571
gcr.io seems to be a domain for private registries. Is this the same image? https://hub.docker.com/r/kubernetes/fluentd-elasticsearch

[2019-01-04 17:35] champtar commented on #72522
@liggitt could you elaborate why you see the 2 tickets as duplicate ?
https://github.com/kubernetes/kubernetes/issues/72236#issuecomment-450201160 could also fix this ticket, as `-m addrtype --dst-type LOCAL` would not match anymore, but the 2 issues are distinct for me even if they could share 1 fix.

[2019-01-04 17:47] pbarker commented on #71464
That would be awesome @maniSbindra. I haven't started on that piece, but feel free to ping me on slack if you have any questions

[2019-01-04 17:55] naarani commented on #65888
no, kubeadm setup it

[2019-01-04 17:55] naarani commented on #65888
no, kubeadm setup it

[2019-01-04 18:16] mourya007 commented on #71464
@pbarker @tallclair I would like to work on this issue.

[2019-01-04 18:48] MrHohn commented on #60897
/remove-lifecycle stale

[2019-01-04 18:48] MrHohn commented on #60897
/lifecycle frozen

[2019-01-04 18:59] tpepper commented on #68234
awesome

[2019-01-04 19:00] liggitt commented on #72541
possibly caused by https://github.com/kubernetes/kubernetes/pull/72249 erroring on invalid `--runtime-config` values that were previously silently skipped

opened https://github.com/kubernetes/kubernetes/pull/72581 to downgrade that error to a warning for a release

[2019-01-04 19:09] #72372 closed

[2019-01-04 19:16] mjaow commented on #72557
i've tried. You have to recreate pause container after it exited. And there must be a way to update relation from app container to pause container

[2019-01-04 19:38] spiffxp commented on #72541
Well, I mentioned the idea of making the job optional in https://github.com/kubernetes/test-infra/pull/9369#issuecomment-420765899

[2019-01-04 21:36] jingxu97 commented on #72181
@Nebulazhang Thanks a lot for the debugging information. As you mentioned, I think there is a race condition. Before reconciler starts a go routine to detach the volume, it mark volume as not attached (https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L207). But the problem is that if the operation could not be started due to there is

[2019-01-04 21:39] Random-Liu commented on #71745
Another use case for windows. Windows supports both LCOW (linux container on windows) and WCOW (windows container on windows). And the image for linux container and windows container are different.

They also need the PodSandboxConfig to figure out whether linux image should be pulled or windows image.

[2019-01-04 21:48] sudeshsh commented on #68036
/remove-lifecycle stale.

[2019-01-04 21:54] mcrute commented on #37962
/cc @mcrute

[2019-01-04 22:09] moagarw commented on #67180
we are having the same issue on production today, though the probe api looks fine, but we are having the same error.

  Warning  Unhealthy              6s (x35 over 38m)     kubelet, k8s-agent-22e40dc-1  Readiness probe failed: Get http://10.244.1.53:5000/readyProbe?token=UuT6kEpdqp: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
  Warning

[2019-01-04 22:31] #24317 closed

[2019-01-04 22:36] spiffxp commented on #8830
/reopen
/remove-lifecycle rotten
/lifecycle frozen
I don't think this is done.  For example I think we just went through another round of "happy new year" PR's

I also don't think this issue should remain open in perpetuity, but rather closed once we document where we're willing to live with generated code vs. not.

[2019-01-04 22:47] bjhaid opened #72593 "ReplicaSet controller continuously creating pods failing due to SysctlForbidden"
**What happened**:

Creating a deployment with a pod spec with an unsafe sysctl not whitelisted results in the pods being rejected by Kubelet with `SysctlForbidden` and the replicatset controller just keeps creating new pods in a tight loop.

**What you expected to happen**:

The replicaset controller should maybe backoff exponentially if the pod it tries creating is getting rejected by Kubelet

*

[2019-01-04 22:48] bjhaid commented on #72593
/sig apps

[2019-01-04 22:57] misterikkit commented on #72593
Adding in node and scheduling to comment on the proposed solution.
/sig node
/sig scheduling

This issue was raised with sig scheduling. Unfortunately, the ReplicaSetController, Scheduler, and kubelet can all be said to be behaving correctly here. Same goes for admission.

SIG Apps can comment on whether it makes sense to put backoff mechanisms into each controller. The scheduler has a backoff mec

[2019-01-04 23:06] liggitt commented on #72593
That rejection happens asynchronously from the creation, and is indistinguishable from something deleting the pods for unrelated reasons.

The Daemonset controller added a backoff for recreating pods evicted by nodes (xref https://github.com/kubernetes/kubernetes/issues/65240, https://github.com/kubernetes/kubernetes/pull/65309), but it's not as easy to apply that approach to the replicaset contro

[2019-01-04 23:10] davidz627 commented on #64429
/remove-lifecycle stale

[2019-01-04 23:14] davidz627 commented on #72288
/cc @davidz627

[2019-01-04 23:14] bjhaid commented on #72593
Thanks @misterikkit and @liggitt for the clarification, my proposal was a naive suggestion, I am for whatever solution that does not leave a deployment misconfigured creating tens of thousands of pod objects

[2019-01-04 23:17] prksu commented on #72104
kubectl exec is only for pod, I don't think adding a resource/name format is necessary.

[2019-01-04 23:21] misterikkit commented on #72593
As an interim safeguard, maybe you could configure a quota?

[2019-01-04 23:24] smartyjohn opened #72595 "Echoserver: Allow PROXY protocol"
**What would you like to be added**: Enable Nginx in `test/images/echoserver` to accept the PROXY protocol.  It would also be helpful if some indicator on the echoserver output indicated what PROXY values where given.

**Why is this needed**: Some load balancers and tunneling applications use the PROXY protocol to pass source information, when that information may otherwise be lost.  For example,

[2019-01-04 23:31] misterikkit commented on #67680
This can be closed as obsolete, as the old eCache implementation was removed. The new implementation will have a different architecture, but we will watch out for this class of bug.
/close

[2019-01-04 23:31] #67680 closed

[2019-01-04 23:33] liggitt commented on #72593
quota only prevents absolute numbers of pods. it does not prevent high create/delete/recreate rates

[2019-01-04 23:34] smartyjohn commented on #72595
/sig testing

[2019-01-04 23:46] spiffxp commented on #72541
PR out to drop the run_if_changed regex from pull-kubernetes-e2e-gke https://github.com/kubernetes/test-infra/pull/10623

[2019-01-04 23:50] spiffxp commented on #68091
/area deflake

[2019-01-04 23:51] spiffxp commented on #34059
/area deflake
More meaningful error text would help us track down flakes

[2019-01-05 00:02] spiffxp commented on #71646
/area deflake

[2019-01-05 00:03] spiffxp commented on #71570
/area deflake

[2019-01-05 00:03] spiffxp commented on #71579
/milestone v1.14

[2019-01-05 00:04] spiffxp commented on #71065
I won't say no to someone backporting the fix, but it's not going to be me, and it's not signal I'm going to be paying attention to

[2019-01-05 00:05] spiffxp commented on #70660
/area deflake

[2019-01-05 00:05] spiffxp commented on #70180
/area deflake

[2019-01-05 00:09] liggitt commented on #72541
Confirmed
https://github.com/kubernetes/kubernetes/pull/72581 turns the test green

[2019-01-05 00:09] jennybuckley commented on #68202
/remove-lifecycle rotten

[2019-01-05 00:09] jennybuckley commented on #68224
/remove-lifecycle rotten

[2019-01-05 00:09] jennybuckley commented on #68225
/remove-lifecycle rotten

[2019-01-05 00:09] spiffxp commented on #71519
/area deflake

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-12-31&pr=1&text=not%20in%20phase%20Bound%20

This seems to be occurring much less frequently than it did, I would be willing to call it closed, I leave to you two to decide if there's more to be done

[2019-01-05 00:14] alexpirine opened #72597 "Specify remote host for kubectl port-forward"
**What would you like to be added**:

According to [the documentation](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#port-forward), with port-forward we can specify:

[code]

- a local port to listen on (`LOCAL_PORT` argument)
- a remote port to forward data to (`REMOTE_PORT` argument)
- a local IP address to listen on (`--address` flag)

But, the remote IP is always set

[2019-01-05 00:19] alexpirine commented on #72597
@kubernetes/sig-network-feature-requests

[2019-01-05 00:20] #72543 closed

[2019-01-05 00:21] nielsonsantana commented on #44843
I tried your exemple of `Deployment` @komalkshah but only worked when I use `operator: NotIn`.
When use `NotIn` operator, kubernetes only launch the pods in the same number of nodes. If there more replicates than nodes, then the deployment will be pending until the number of nodes be created.

[2019-01-05 00:24] ohthehugemanatee opened #72598 "Cannot force delete busted, empty statefulset"
**What happened**:
In playing with the [metacontroller service per pod example](https://github.com/GoogleCloudPlatform/metacontroller/tree/master/examples/service-per-pod) for a blog post, I found I couldn't delete my StatefulSet.

I had applied

* [this example statefulset](https://github.com/ohthehugemanatee/kubernetes-stateful-example/blob/973e122/statefulset-example-with-lb.yml)
* [these metac

[2019-01-05 00:30] spiffxp commented on #72541
Can call this closed when #72581 merges

[2019-01-05 00:30] alexpirine commented on #72597
@kubernetes/sig-cli-feature-requests

[2019-01-05 00:32] wgliang commented on #69840
@saurav-malani What progress has been made recently?

[2019-01-05 00:33] wgliang commented on #69771
@yaseenhamdulay What progress has been made recently?

[2019-01-05 01:00] tonglil commented on #2856
You are referring to https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/ correct?

[2019-01-05 01:34] #67043 closed

[2019-01-05 01:49] xinma commented on #72502
IMHO.

major issue is here. in `Run()` of `kubelet.go`:

https://github.com/kubernetes/kubernetes/blob/816dfab180e1a0739a7928c0eff45067801aaa12/pkg/kubelet/kubelet.go#L1406-L1438

[L1408](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1408) started a go routine to `syncNodeStatus`.
however it if takes long enough. in [L1438](https://github.com/kubernetes/kubernetes/bl

[2019-01-05 02:35] #62754 closed

[2019-01-05 02:35] ShuYingya opened #72604 "Pod is stuck in Terminating status forever after Kubelet restart"
**What happened**:

StatefulSet Pod is stuck in Terminating status forever when Kubelet starts.

[code]

The pod has mounted eight RBD provisioned PVC and found one mount point on host.

[code]

Related PVC operation in Kubelet log (verbose=0) is:
[code]

**What you expected to happen**:
Pod's status changes from Unknown -> Terminating -> Running.
All PVC should be successfully remounted.

**How t

[2019-01-05 02:36] ShuYingya commented on #72604
/sig storage

[2019-01-05 02:46] ShuYingya commented on #72604
PV seems like has been `MarkVolumeAsAttached` and then quickly `MarkVolumeAsDetached` because it is not in `DSW` (maybe removed by goroutine `DSWP`) and is not globally mounted.
[code]

[2019-01-05 02:47] ShuYingya commented on #72604
@jingxu97 @jsafrane

[2019-01-05 03:37] Nebulazhang commented on #72181
@jingxu97 Thanks for your advising, I think your fix is more is more reasonable.

[2019-01-05 04:05] Nebulazhang commented on #72181
Thanks for your advice. Another problem will occurs if volume will be added back when the operation could not be started. That is if we detach volume in first goroutine but the  volume is added back by  another goroutine and re-write to the node status, kubelet will think this volume is attached successfully and the pod maybe mount this volume. But the first volume detach this volume finally. More

[2019-01-05 04:09] liggitt commented on #72598
Are there finalizers on the statefulset? (get from the apiserver with `-o yaml` to check)

If so, those must be removed by the controller responsible for them before the API object can be deleted. `kubectl delete` will wait for that to happen unless you specify `--wait=false`

[2019-01-05 04:11] #72228 closed

[2019-01-05 04:11] #72541 closed

[2019-01-05 04:14] krzyzacy commented on #72541
/pony hooray

[2019-01-05 07:18] tanshanshan commented on #72414
[code]
maybe you could find something from these log , such as about  resource version.
I am not sure.

[2019-01-05 07:40] #67115 closed

[2019-01-05 08:15] #71661 closed

[2019-01-05 08:33] g1001p commented on #72509
This problem happening if pod is trying mounting vmdk disk

[2019-01-05 09:13] mlmhl commented on #72502
How do you determine that this problem is due to node registration failure? The node objects won't be deleted in apiserver/etcd during node rebooting, so I guess the reason is that the node info cache hasn't been synced when `GetNodeInfo` is invoked by the admit process. In other words, [this line](https://github.com/kubernetes/kubernetes/blob/816dfab180e1a0739a7928c0eff45067801aaa12/pkg/kubelet/k

[2019-01-05 09:35] uablrek commented on #72236
Pod-to-pod traffic does not work when the local table entry is removed.

So I must withdraw my proposal.

Please read more in https://github.com/cloudnativelabs/kube-router/issues/623

[2019-01-05 09:49] 344654931 opened #72609 "can not telnet access other pods and internet"
### Pod can ping other pods, but it can not telnet access other pods. The same problem can be encountered when accessing the Internet instead.

### access internet in busybox

    `/ # ping kubernetes.io
    PING kubernetes.io (45.54.44.102): 56 data bytes
    64 bytes from 45.54.44.102: seq=0 ttl=46 time=40.603 ms
    64 bytes from 45.54.44.102: seq=1 ttl=46 time=40.439 ms

    / # wget http://ku

[2019-01-05 09:59] 344654931 commented on #72609
@wojtek-t

[2019-01-05 10:59] krmayankk commented on #72593
I was not able to test this since GKE doesnt have 1.12, but i dont understand why  the pods being rejected by Kubelet with SysctlForbidden results in new pods being created. If a Pod has invalid spec, it would fail to start and remain in failed state.  The deployment/replicaset controller will keep trying to reconcile that single pod. Why would new pods be created  ?

[2019-01-05 11:33] liu-xuewen opened #72610 "deepcopy.go:126] Failed loading boilerplate: open"
**What happened**:

root@ubuntu:/home/liu/go/src/k8s.io/kubernetes# make
F0105 19:27:35.214411    2387 deepcopy.go:126] Failed loading boilerplate: open /home/liu/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/code-generator/hack/boilerplate.go.txt: no such file or directory
Makefile.generated_files:152: recipe for target 'gen_deepcopy' failed
make[1]: *** [gen_deepcopy] Error 1
Makefile:523

[2019-01-05 11:44] #67124 closed

[2019-01-05 12:25] xdk-rachel opened #72611 "Kubernetes pulling docker local image in local registry faild"
Hi everyone,
I am tring to pull docker images from my local registry.
First I use `docker run -d -p 5000:5000 --restart=always --name registry registry:2` to creat a local registry.
And then I taged my image `docker tag myimage localhost:5000/myimage` and push my image `docker push localhost:5000/myimage`
But when I created it in kubernetes I got
Failed to pull image "localhost:5000/k8sros/mqtt-ku

[2019-01-05 12:54] mlmhl commented on #72565
Could you describe the reproducing steps in more detail? Such as when did you stop the kubelet service, before sts is created or after all pods are running?

[2019-01-05 13:10] xdk-rachel opened #72612 "error: starting container process caused "exec: \"/opt/mqtt-kube-operator\": permission denied""
Hi everyone,
I am trying run docker image in mu kubernetes cluster.
I created a dockerfile like this

FROM alpine:latest
ARG CONTAINER_BINARY
COPY ./$CONTAINER_BINARY /opt/mqtt-kube-operator
WORKDIR /opt
RUN chmod +x /opt/mqtt-kube-operator
ENTRYPOINT ["/opt/mqtt-kube-operator"]

But when I run this docker image in kubernetes I got this error
container_linux.go:265: starting container process caus

[2019-01-05 15:18] dannyk81 commented on #57354
@liggitt @robinsondan87 I'd like to cross-link this issue with https://github.com/coreos/flannel/issues/554.

My understanding is that starting K8s 1.13, the api-server won't support etcd v2 API as a storage backend, however flannel (details in the linked issue above) also uses etcd with v2 API to store the subnet/config information.

There seems to be some confusion, whether flannel will be able

[2019-01-05 15:19] bjhaid commented on #72593
I am somewhat positive 1.13 has the same problem

The spec is in fact valid, the only problem is kubelet has not been configured to allow the sysctl the pod is trying to use.

It's not deleting they are failing to start because it does not have the sysctl they want to use whitelisted

[2019-01-05 16:15] Nowaker commented on #32326
@brancz Still planned?

[2019-01-05 16:39] relistan commented on #61717
Reporting the status as "Pending" might be consistent, but it's incorrect. If the pod is created statically and is health checking OK, it's not "Pending". The Kubelet API is _almost_ very useful but the status flag seems to make it much less so since it's not possible to tell from the `/pods` API endpoint if a Pod is actually up successfully or not.

[2019-01-05 17:08] mmlac commented on #38532
/remove-lifecycle stale

There still seem to be questions around what should be reported in the events?
If there is not other issues regarding what should be sent out as an event, I suggest this is left open.

[2019-01-05 18:02] figo commented on #72611
if you are using minikube, then you don't have to push to registry at all, try follow this one:
https://stackoverflow.com/questions/42564058/how-to-use-local-docker-images-with-minikube

or looks like you are getting routing problem, you can quickly  run `docker pull localhost:5000/myimage` to verify instead of going through k8s.

[2019-01-05 18:05] figo commented on #72610
have you set your 'GOPATH' and 'GOROOT'?

[2019-01-05 18:33] dims commented on #57354
@dannyk81 that's my understanding as well.

kubernetes 1.13 change log notes that etcd 3.2.24 is the recommended version:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md#external-dependencies

3.2.24 etcd still supports the v2 API and flannel can use it directly. Note that as long as flannel is not trying to use the data stored by kubernetes api server (using v3 API), we sho

[2019-01-05 19:18] figo commented on #72555
/sig apps

[2019-01-05 19:50] xdk-rachel commented on #72611
But I am using kubernetes cluster locally not minikube

[2019-01-05 19:52] #67128 closed

[2019-01-05 20:06] balajismaniam commented on #65249
/remove-lifecycle stale

[2019-01-05 20:53] #24070 closed

[2019-01-05 23:36] resouer commented on #60748
/remove-lifecycle rotten

[2019-01-06 00:35] redbaron commented on #52683
/remove-lifecycle stale

[2019-01-06 00:35] redbaron commented on #65106
/remove-lifecycle stale

[2019-01-06 00:40] 344654931 commented on #72609
/sig network

[2019-01-06 02:31] pulpbill commented on #69697
Same here, had to delete the finalizer, here's a describe for the pv:

`[root@ip-172-31-44-98 stateful]# k describe pv pvc-1c6625e2-1157-11e9-a8fc-0275b365cbce
Name:            pvc-1c6625e2-1157-11e9-a8fc-0275b365cbce
Labels:          failure-domain.beta.kubernetes.io/region=us-east-1
                 failure-domain.beta.kubernetes.io/zone=us-east-1a
Annotations:     kubernetes.io/createdby: aws-e

[2019-01-06 02:55] ashi009 commented on #55046
/remove-lifecycle rotten

[2019-01-06 03:46] figo commented on #72509
@g1001p  do you have any kubelet logs?  also have a some questions around your description.
1) is pod eventually able to create successfully? (since you are saying it is taking long time)
if yes, how much delay you got?  < 1m? ~10m? or longer?

2) how to reproduce this issue exactly?
is it restarting the kubelet?  (you mentioned: `It could happen once in 10s restarts`)

[2019-01-06 04:45] mattmelgard commented on #72501
Hey all, 👋! I'm new to contributing, but can I give this one a shot?

[2019-01-06 05:00] davidopp commented on #55046
Is this different from "kubectl top" ?

[2019-01-06 06:36] mydockergit opened #72616 "Can't create PodTemplate: "error: unable to recognize "STDIN": no matches for kind "PodTemplate" in version "core/v1""
**What happened**:
I tried to create `PodTemplate` object with the following YAML:
[code]
I received an error:

**What you expected to happen**:
To have it created successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Run this:
[code]

**Anything else we need to know?**:
No.

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardwa

[2019-01-06 06:49] mydockergit commented on #72616
@kubernetes/sig-api-machinery-bugs

[2019-01-06 07:35] g1001p commented on #72509
1. is pod eventually able to create successfully? (since you are saying it
is taking long time)
   if yes, how much delay you got? < 1m? ~10m? or longer?

 There are a combination of it - sometimes pod was creating in less than
minute, sometimes in less than 10 minutes,  sometimes longer than 10
minutes and sometimes it was stuck even days on the creation state .
 There is dissimilar duration of t

[2019-01-06 07:40] mydockergit commented on #72616
I needed to run use `v1` in the `apiVersion` and remove the `spec`:
[code]
Now it works.

[2019-01-06 07:40] #72616 closed

[2019-01-06 08:04] #67181 closed

[2019-01-06 11:07] #66708 closed

[2019-01-06 11:49] prksu commented on #70938
please following issue template. at least specify your environment. it will help contributors to reproduce your issue.

[2019-01-06 11:56] prksu commented on #68222
/remove-lifecycle stale

[2019-01-06 11:57] nikhita commented on #24057
I am not sure if it makes sense to update the cherry-pick labels today. Currently, the cherry-pick labels are `cherry-pick-approved` (manually added by the patch manager) and `do-not-merge/cherry-pick-not-approved` (added automatically by prow), which sound fine to me.

I have created https://github.com/kubernetes/test-infra/pull/10627 to update the release note labels.

[2019-01-06 12:08] #62362 closed

[2019-01-06 13:04] sharkymcdongles commented on #68427
This doesn't work for me either in Azure 1.13. I do the resize and k8s says it works but inside azure it shows blob size is unchanged. I force the pod to detach by cordoning the node it is on and deleting the pod but the disk does not change size within Azure. This is a big bug imo since no pvcs can be resized when it works on other providers without issues.

[2019-01-06 13:33] #72610 closed

[2019-01-06 13:33] andyzhangx commented on #68427
@sharkymcdongles on Azure, you cannot resize a disk when it's already attached to a node, you must delete the pod with that disk and let the disk be in `unattached` state, and then resize the PVC disk by `kubectl edit pvc ...`, I paste the guide about resize the azure disk PV below, just let me know if you run into any issue:
 - This feature is ony for azure managed disk, and if that disk is alrea

[2019-01-06 13:45] sharkymcdongles commented on #68427
@andyzhangx
I have volume expansion set to true and then when I do the resize within k8s it says:
`FileSystemResizePending   True    Mon, 01 Jan 0001 00:00:00 +0000   Sun, 06 Jan 2019 13:24:58 +0100           Waiting for user to (re-)start a pod to finish file system resize of volume on node.`

I then restart the pod and k8s says the filesize was completed successfully. However within Azure it sho

[2019-01-06 13:52] andyzhangx commented on #68427
@sharkymcdongles what's your azure disk size after resize? has it changed to the new size? could you check on azure portal?

[2019-01-06 14:07] sharkymcdongles commented on #68427
@andyzhangx When I check in the Azure portal AFTER the resize says it completed successfully in kubernetes. The Azure portal still shows the OLD size. Kubernetes describe pvc shows NEW size. Container itself shows OLD size. When I try to have the pod move between nodes and the volumes as well to force a complete detach since azure disk has RWO in our cluster, it still  shows OLD size in Azure port

[2019-01-06 14:11] andyzhangx commented on #68427
@sharkymcdongles thanks for the info. It's obvious that the disk size is not changed. You need to delete the pod or even `Deployment`/`StatefulSet`, make sure the disk is in `unattached` state and then run `kubectl edit pvc ...` operation again. After that operation, you could check in azure portal that the disk size has been changed to the new size. That's the correct way since azure disk could n

[2019-01-06 15:01] sharkymcdongles commented on #68427
@andyzhangx The way kubernetes is designed is so you can resize the PVC the restart the pod and it is now resized. Your implementation should work as follows to be of any use:

Resize issued inside kubernetes.

Resize set to pending within azure.

Pod deleted causing disk to detach.

Disk is resized in Azure.

Pod starts as expected with resized disk.

Having the completely delete a deployment is

[2019-01-06 15:41] dixudx commented on #68222
/assign

I have a handy fix for this, will submit it after fully testing.

[2019-01-06 17:13] #62392 closed

[2019-01-06 18:00] antoncohen commented on #64917
/remove-lifecycle stale

[2019-01-06 19:15] #67203 closed

[2019-01-06 19:41] kvaps commented on #69528
/remove-lifecycle stale

[2019-01-06 20:16] #65332 closed

[2019-01-06 22:18] #67095 closed

[2019-01-07 00:05] mattmelgard commented on #71612
I don't know if this is something that's been considered already but you also might be able to just integrate this into the custom-columns flag by doing something like `--custom-columns=default,CUSTOM_COLUMN=.metadata.name` where `default` refers to the set of default columns that are provided.

[2019-01-07 00:50] smarterclayton commented on #71612
As we deal more with CRDs it's likely we'll hit this more often, which
potentially justifies a shorter / friendlier variant (just like -L).  It is
definitely an option to use the form you mention, although we'd have to be
careful about explaining it, and its discoverability would be low.  I would
guess most users just want to add a column, they don't want to define a
custom set, but that's somethi

[2019-01-07 00:50] smarterclayton commented on #55046
We are considering removing kubectl top completely in favor of just having
server side printing on the metrics API resources.  I don't know what the
latest on that is.

On Sun, Jan 6, 2019 at 12:00 AM David Oppenheimer <notifications@github.com>
wrote:

[2019-01-07 00:51] smarterclayton commented on #67113
/reopen
/remove-lifecycle rotten

On Sun, Jan 6, 2019 at 6:19 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-01-07 01:17] dblackdblack commented on #29276
/remove-lifecycle stale

[2019-01-07 01:35] surajssd commented on #72593
I could re-create this bug on a normal kubeadm installation with following deployment file:

[code]

The issue:

[code]

My version:

[code]

Apart from `kubectl get pods` there is no other place which tells about the problem with pods. Neither deployment status nor replicaset status notify of this problem, which is not the case with `PodSecurityPolicy`.

Deployment:

[code]

ReplicaSet:

[code]

[2019-01-07 01:46] surajssd commented on #72593
Logs of kube-controller manager does not say anything specific to this issue:

[code]

[2019-01-07 02:45] clivez commented on #72308
Hello, is there anyone that has any idea?

[2019-01-07 02:45] wanghaoran1988 commented on #70201
Is this something the [node-problem-detector](https://github.com/kubernetes/node-problem-detector) designed for ?

[2019-01-07 02:46] surajssd commented on #72612
@xdk-rachel does this work fine with just docker by doing `docker run <image name>` ?

[2019-01-07 03:03] mattmelgard commented on #71612
@smarterclayton, sounds good to me. Would it be okay if I assigned this to myself then? I'm newer to contributing but I think this might be something I could handle.

[2019-01-07 03:11] surajssd commented on #72611
@xdk-rachel how have you setup your kubernetes cluster?

[2019-01-07 03:39] xqqcoder commented on #72557
yes, you re right , i read the kubelet code ,the restart policy just push the failed pod to create queue to recreate the pod, i want to use pod for vm, maybe hack the kubelet to restart the docker container will solve my problem

[2019-01-07 03:45] seans3 commented on #50248
/remove-lifecycle stale

[2019-01-07 03:45] xqqcoder commented on #72557
this just recreate the pod's container , i want the restart policy to restart the docker container not recreate new

[2019-01-07 03:47] seans3 commented on #65670
/remove-lifecycle stale

[2019-01-07 03:51] seans3 commented on #62821
/remove-lifecycle rotten

[2019-01-07 03:51] xqqcoder commented on #72557
i have another problem is that i want the kubelet restart the exit container when the machine restart  or docker restart , this must hack the kubelet ?

[2019-01-07 05:51] nikhita commented on #69474
Maybe a good place for this would be https://github.com/kubernetes/repo-infra

/remove-lifecycle stale

[2019-01-07 06:00] krmayankk commented on #72593
thanks for the details @surajssd
/area kubelet

[2019-01-07 06:07] smarterclayton commented on #17144
Can we improve the shell completion plugins instead to cover some of these
use cases?

On Sun, Jan 6, 2019 at 11:23 PM Di Weng <notifications@github.com> wrote:

[2019-01-07 06:19] RajaSureshAditya opened #72623 "kubernetes Loadbalancer type service with AWS ,External ip is showing pending"
HI Team ,
Need some help in understanding the issue ,

kubectl version:

output:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:39:04Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1",

[2019-01-07 06:45] ialidzhikov commented on #72571
/sig instrumentation

[2019-01-07 06:48] ialidzhikov commented on #72571
The fluentd-es-image [README.md](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/README.md) refers to the [k8s.gcr.io/fluentd-elasticsearch](https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/fluentd-elasticsearch?gcrImageListsize=30) repository.

[2019-01-07 07:37] krmayankk commented on #68397
opened the KEP  https://github.com/kubernetes/enhancements/pull/678

[2019-01-07 07:57] xiyanxiyan10 opened #72628 "Bugs in logs api"
**What happened**:
I have a demo run as a pod, print logs one line by one line.
Zhen,  I search the logs by —tail=200
result:
[code]
**What you expected to happen**:
I think it should by always 200 lines in result

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[code]

- Kernel (e.g. `uname -a`):

[code]
- Install tools:

[

[2019-01-07 08:17] huynq0911 commented on #69767
Besides, I saw that we have already had some Scheduler documents in **community** repo:
- https://github.com/kubernetes/community/blob/master/contributors/devel/scheduler.md
- https://github.com/kubernetes/community/blob/master/contributors/devel/scheduler_algorithm.md
- https://github.com/kubernetes/community/tree/master/contributors/design-proposals/scheduling
Although these documents do not foc

[2019-01-07 08:21] bortek commented on #56903
For us this was solved by disabled ipv6 from Grub. First I disabled via sysctl but this had no effect. When I disabled ipv6 via grub and rebooted nodes then the problem was gone. My env is openshift 3.9.51.

https://access.redhat.com/solutions/8709#rhel7disable

[2019-01-07 08:45] kyle-tightest commented on #37471
Reproduced issue on Windows 10 running Git Bash for Windows.
`$ kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.6",

[2019-01-07 08:46] soltysh commented on #71612
@mattmelgard I'm also leaning towards what Clayton proposes, since that's better UX. Be warned this functionality has to work with server-side printing mechanism, since that's the new default and might cause you some problems. It would be nice if you could show up on one of our sig-cli calls (next one Jan 16th) and give a short description of the proposed feature. Since this is a new feature it wi

[2019-01-07 08:47] soltysh commented on #71612
@mattmelgard it looks like I can't assign that to you, so I'll assign this to myself for now and so that I can easily track this :smile:
/assign @soltysh

[2019-01-07 08:47] lbernail commented on #71071
The PR has been merged in all release branches, so it will be present in:
- `1.11.7`
- `1.12.5`
- `1.13.2`

[2019-01-07 08:48] rojkov opened #72630 "Maintain the code for node conformance checks outside of kubeadm"
**What would you like to be added**:

Move the code under https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm/app/util/system to a separate package/repo.

**Why is this needed**:

The code is used by both kubeadm and test-e2e-node, but some part of the code, i.e. node checks customized with a spec file, is used in test-e2e-node only. Yet kubeadm owns it. Perhaps it makes sense to main

[2019-01-07 08:51] rojkov commented on #72630
@kubernetes/sig-testing-proposals @kubernetes/sig-cluster-lifecycle-proposals

[2019-01-07 09:04] victorboissiere commented on #57838
Same issue here :/

[2019-01-07 09:40] sttts commented on #72492
How is this related to https://github.com/kubernetes/kubernetes/pull/65983 ? What else is needed?

[2019-01-07 09:49] brancz commented on #49746
/remove-lifecycle-stale

[2019-01-07 09:50] brancz commented on #49746
/remove-lifecycle stale

[2019-01-07 09:52] krzysztof-jastrzebski commented on #72499
@andrewsykim It still doesn't work.

[2019-01-07 10:01] jsafrane opened #72633 "Disruptive NodeLease tests are failing constantly"
**Which jobs are failing**:
pull-kubernetes-e2e-gce-alpha-features

**Which test(s) are failing**:
[sig-cluster-lifecycle] [Feature:NodeLease][NodeAlphaFeature:NodeLease][Disruptive] NodeLease deletion node lease should be deleted when corresponding node is deleted.

**Since when has it been failing**:
Since forever?

**Testgrid link**:
https://testgrid.k8s.io/google-gce#gci-gce-alpha-features

**

[2019-01-07 10:22] andor44 commented on #71134
I believe we're seeing the same issue, except with evictions. We're running the master components as static pods, too. In our case it's not that they crash but they sometimes get evicted due to disk pressure, and they don't get started back up.

[2019-01-07 10:30] #49753 closed

[2019-01-07 10:35] gaorong opened #72634 "low performance to schedule pod via scheduler extender"
**What would you like to be added**:
Improve scheduler perormence when using scheduler extender

**Why is this needed**:
We customize our cluster's schedule policy by an extender, As our cluster growe bigger and bigger, the scheduler's throughput becomes the bottleneck. when cluster's node number bigger than 1000, it seems that schedule throughput less then 10pod/s, I have made some plots to illus

[2019-01-07 10:40] simple-easy opened #72635 "The elb security group can not be modified by edit k8s service"
**What happened**:
When I edit service loadBalancerSourceRanges directly, the ip ranges can not sync to AWS security group, seems because the ip rules in security group has diff with ip list in service loadBalancerSourceRanges.
**What you expected to happen**:
We think they should be same between svc loadBalancerSourceRanges and the AWS security group.
**How to reproduce it (as minimally and preci

[2019-01-07 10:42] simple-easy commented on #72635
@kubernetes/sig-bugs

[2019-01-07 10:48] gaorong commented on #72634
/sig scalability scheduling

[2019-01-07 11:16] Thokar commented on #18610
Happy new year everyone, i just startet to evaluate kubernetes as new year task and ran into this issue. Will this be fixed anytime soon?

[2019-01-07 11:35] nikhita opened #72637 "Support arbitrary subresources for custom resources"
Currently, custom resources support only `status` and `scale` subresources. The only way to use custom subresources with CRs is to use an aggregated apiserver.

Given that using CRDs is comparatively easier than setting up an aggregated apiserver, there have been requests [[1](https://github.com/kubernetes/enhancements/issues/571#issuecomment-450404761)][[2](https://github.com/kubernetes/apiextens

[2019-01-07 11:46] #69928 closed

[2019-01-07 12:00] nikhita opened #72638 "Use semantic import versioning for published staging repos"
Published staging repos like [`kubernetes/api`](https://github.com/kubernetes/api/), etc have tags like `kubernetes-1.13.1` which correspond to the `v1.13.1` tag in `kubernetes/kubernetes`. Due to the `kubernetes-` prefix, tools like `dep` don't pick up the new version.

We could start using semantic versioning for tags in published repos as well. One way to do that (as pointed by @sttts on slack)

[2019-01-07 12:05] rmohr commented on #58682
How important is it for others that CRs support custom field selectors? In combination with the status subresource it becomes pretty ugly to set labels. We have for instance a `status.nodeName` on our object and also set a corresponding label, so that the node daemons can see the objects. With the status subresource this is not an atomic operation anymore (#70084).

Right now we first set a label

[2019-01-07 12:12] pohly commented on #72638
I understand that each new Kubernetes release must bump the major version of the mirrored repos, because in each major release new features might have been added and there might have been breaking API changes.

Is that what is meant with the compatibility guarante, i.e. it is not about the compatibility of some Kubernetes client built using these repos and the next Kubernetes release?

I'm fine wi

[2019-01-07 12:20] gazoo4 opened #72640 "Docs: Add legend to the PV Access Modes table"
**What would you like to be added**:
I'd like to ask to add a legend to the [table](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) listing the supported storage drivers and access modes.
**Why is this needed**:
It's not clear how to read the current legend (e.g. supported/not-supported, recommended/not-recommended,...?). Came to the surface while having a dispute in

[2019-01-07 12:23] gazoo4 commented on #72640
@kubernetes/sig-docs-feature-requests

[2019-01-07 12:35] neolit123 commented on #72638
this ain't good.

and it will break once 2.0.0 is out?

[2019-01-07 12:39] ohthehugemanatee commented on #72598
thank you @liggitt ! that was just the input I needed to find the problem: my DecoratorController had a sync webhook with a typo in the name. When I fixed the typo, everything resolved instantly.

For posterity: You can validate the finalizers on your statefulset with `kubectl get sts nginx -o yaml`, then you can check logs for those finalizers with `kubectl logs -n metacontroller <finalizer pod n

[2019-01-07 12:39] #72598 closed

[2019-01-07 12:44] dixudx commented on #68222
@alfanse  @bizzard4 Please help verified whether #72641 works.

[2019-01-07 12:54] PaoloGallina opened #72644 "kubectl apply --dry-run behaving weirdly"
Having a random deployment yaml file:

Modifying for example the image or the number of replicas:

 - `kubectl apply -f Deployment.yaml  -o yaml  --dry-run` outputs me the resource with the OLD specifications

 - `kubectl apply -f Deployment.yaml  -o yaml` outputs me the resource with the NEW specifications and updates it

Since according the documentation:

I would have expected the `dry-run` com

[2019-01-07 13:01] gaorong commented on #72634
I have tried `json-iterator` and many other packages without the use of reflection such as easyjson, but all of them are helpless.

Cloud you please tell me where can I track the process/schedule of refactoring?

[2019-01-07 13:14] wgliang commented on #72634
@gaorong
FYI:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduling-framework.md
https://github.com/kubernetes/kubernetes/issues/68951

[2019-01-07 13:52] yue9944882 commented on #72637
other than __plain__ arbitrary subresources, we might also provide extensibility over subresources via webhook:

- resolving subresources as non-REST endpoint (e.g. long-running websocket calls, like `pod/log`,`pod/exec`)
- convert operations over subresources to main resource (e.g. `pod/binding`,`namespace/finalize`)

[2019-01-07 13:57] memaldi commented on #49138
I'm having the same issue as @kursadk. Any advance on this?

[2019-01-07 14:01] liggitt commented on #66435
the error message indicates that your `users` section has two items with the same name... removing one of those would fix the issue

[2019-01-07 14:02] liggitt commented on #66435
/close

[2019-01-07 14:02] #66435 closed

[2019-01-07 14:03] verb commented on #1615
Shared PID namespaces was promoted to beta in the last release. afaik no one is working on configurable UTS namespaces. I guess these issues aren't intended to be long-lived, and I'm tired of fighting the bot, so I'll close this as fixed. Anyone wanting to track the feature further can follow kubernetes/enhancements#495.

/remove-lifecycle rotten
/close

[2019-01-07 14:03] #1615 closed

[2019-01-07 14:03] liggitt commented on #72644
/sig cli
/remove-sig apps

[2019-01-07 14:03] liggitt commented on #72644
cc @apelisse

[2019-01-07 14:04] liggitt commented on #72640
thanks for the report, please open docs issues against https://github.com/kubernetes/website/issues so they can be routed to the right team

/close

[2019-01-07 14:04] #72640 closed

[2019-01-07 14:29] rmohr opened #72646 "Implement "kubectl autoscale" for Custom Resources"
**What would you like to be added**:

I want to create HPA instances via `kubectl autoscale` for our custom controllers which implement the scale subresource, so that I can run

[code]

**Why is this needed**:

We are implementing the scale subresource for our CRDs and I can create HPA instances for our controller instances via the declarative workflow (`kubectl create`). However, if I try to crea

[2019-01-07 14:30] rmohr commented on #72646
/area custom-resources
/sig api-machinery

[2019-01-07 14:43] chrigl commented on #49138
@memaldi @kursadk The same error...
[code]
... occurs when kubelet on the worker has no cloud-provider configured. When not already using https://github.com/kubernetes/cloud-provider-openstack, you must start kubelet with `--cloud-provider=openstack --cloud-config=/etc/kubernetes/cloud.conf`. E.g. adding this to `/etc/default/kubelet`:
[code]

For more information on `cloud.conf` have a look at ht

[2019-01-07 14:49] liggitt commented on #72635
/sig network
/sig aws

[2019-01-07 14:52] pohly commented on #72638
When k8s 2.0.0 comes along, the mirrored repos can switch to 100.0.0 and then increment major by one for following releases.

[2019-01-07 15:09] liggitt commented on #72644
When updating existing objects, kubectl apply doesn't send an entire object, just a patch. It is not exactly correct to print either the existing object or the new object in dry-run mode... the outcome of the merge is what should be printed.

For kubectl to be able to accurately reflect the result of the apply, it would need to have the server-side apply logic clientside, which is a non-goal.

Cur

[2019-01-07 15:18] brancz commented on #64730
/remove-lifecycle stale

[2019-01-07 15:37] Shnatsel commented on #72623
@kubernetes/sig-aws-misc

[2019-01-07 15:39] Shnatsel commented on #72612
/triage needs-information

[2019-01-07 15:40] brancz commented on #72628
Could you capture the result that is counted so we can make sure this is not something else that kubectl prints or something like that?

[2019-01-07 15:41] Shnatsel commented on #72611
/triage needs-information

[2019-01-07 15:41] andrewsykim commented on #72499
@krzysztof-jastrzebski can you verify the apiserver version?

[2019-01-07 15:44] andrewsykim opened #72649 "E2E tests for node deletion on cloud provider"
**What would you like to be added**:
Add E2E test that verifies a Kubernetes node is deleted on the API server if it was deleted on the cloud provider.

**Why is this needed**:
This is a pretty important feature of the node controller and any bugs here can lead to accidental deletion of node objects.

Originally suggested by @mtaufen in https://github.com/kubernetes/kubernetes/pull/70344. We may a

[2019-01-07 15:56] george-angel commented on #35941
/remove-lifecycle stale

[2019-01-07 15:56] andrewsykim commented on #69293
/remove-lifecycle stale

@KIVagant generally I agree, I would trust each provider to make the right call based on how the API handles naming. I think most providers are going to require users to recreate their LBs if they want better naming.

[2019-01-07 15:59] andrewsykim commented on #72649
@mwielgus @MaciekPytel any ideas if this test case is covered anywhere in the autoscaler tests?

[2019-01-07 16:09] ryanmcnamara commented on #60644
/remove-lifecycle stale

[2019-01-07 16:30] cmluciano commented on #38890
@caseydavenport @jingax10 @bowei I think we briefly discussed this at the Kubecon SIG Net meetup, but I do not recall what we determined were the missing features left.

[2019-01-07 16:33] surajssd commented on #72593
I would like to work on this to fix this issue, can someone assign it to me?

[2019-01-07 16:35] #64857 closed

[2019-01-07 16:35] #71685 closed

[2019-01-07 16:36] #62896 closed

[2019-01-07 16:36] #61684 closed

[2019-01-07 16:36] #63548 closed

[2019-01-07 16:36] #61545 closed

[2019-01-07 16:36] #63210 closed

[2019-01-07 16:36] #63483 closed

[2019-01-07 16:39] liggitt commented on #72593
/assign @surajssd

It would probably be helpful to sketch out the approach you plan to take here to make sure it makes sense from the node and controller's perspective

[2019-01-07 16:41] dilyevsky commented on #70201
@wanghaoran1988 not everything can be detected with that approach (and it's always an uphill battle) and some problems could be very workload-specific.

[2019-01-07 16:43] surajssd commented on #71134
@andor44 @Nefelim4ag can you specify definite steps to reproduce the error?

[2019-01-07 16:45] mattmelgard commented on #71612
@soltysh sounds good and thanks for the update! Sorry for the issue assignment trouble, I totally forgot that you have to be a collaborator/member for that.

I'll make sure to drop by the next SIG meeting and follow up with you on Slack if I have any hangups.

[2019-01-07 16:54] neolit123 commented on #72633
/sig gcp

[2019-01-07 16:55] neolit123 commented on #72480
@kubernetes/sig-cluster-lifecycle

[2019-01-07 16:56] neolit123 commented on #72630
/assign @luxas @timothysc
for comments.

[2019-01-07 16:57] krzysztof-jastrzebski commented on #72499
I'm using version  1.14.0-alpha.0.1475+fdf381098bd3e8-kjastrzebski-07-01-19-2 build from HEAD today (fdf381098bd3e8543f4304eee009343a8d3a97f7).

[2019-01-07 16:57] neolit123 commented on #72374
/triage support

[2019-01-07 17:05] andrewsykim commented on #72499
Are you able to confirm if the kube-controller-manager version is the same? (sorry, not super familiar with how GKE is setup)

[2019-01-07 17:25] george-angel commented on #45976
/remove-lifecycle stale

[2019-01-07 17:34] krzysztof-jastrzebski commented on #72499
Yes, version is the same. You can download my version from:
gsutil ls gs://kubernetes-release-gke-internal/devel/v1.14.0-alpha.0.1475+fdf381098bd3e8-kjastrzebski-07-01-19-2

[2019-01-07 17:37] #59890 closed

[2019-01-07 17:37] #63428 closed

[2019-01-07 18:04] andrewsykim commented on #72499
Thanks @krzysztof-jastrzebski. I tested this version on an out-of-tree cloud provider and it works as expected (they run the same controller). I'll try to get a GKE environment setup to debug this further (might take a few days). If you have any new logs from when you updated to the latest version that would also be super helpful.

[2019-01-07 18:05] liggitt opened #72651 "Umbrella: Remove feature-gate-conditional validation for existing objects"
This is a follow-up to https://github.com/kubernetes/kubernetes/issues/72169 to sweep API object validation to remove conditional logic that can cause problems for existing objects across skewed API servers, or if a feature gate is disabled after having been enabled.

This is the list of feature gates that are currently checked in validation, and the work required to make them safe for skewed apis

[2019-01-07 18:05] liggitt commented on #72169
opened follow-up tracker to address removing feature-gate-conditional validation - https://github.com/kubernetes/kubernetes/issues/72651

[2019-01-07 18:09] wangzhen127 commented on #72633
I took a quick look:
- This test was passing in Nov as I remember.
- The tests in this job are not running in parallel. So other tests should not be affected if the nodelease test passes.
- The error is about resizing the cluster, not about nodelease feature itself.

Assigning to @wojtek-t, who is working on this feature.

/assign @wojtek-t

[2019-01-07 18:17] mourya007 commented on #72651
@liggitt  I would like to work on these, if nobody has  taken yet.

[2019-01-07 18:22] rajathagasthya commented on #72651
@liggitt I can take a few once the work is identified. Thanks!

[2019-01-07 18:38] #24562 closed

[2019-01-07 18:38] #56972 closed

[2019-01-07 18:38] #63263 closed

[2019-01-07 18:38] #63019 closed

[2019-01-07 18:41] sbezverk commented on #72651
@liggitt I can look into ` PersistentLocalVolumes`

[2019-01-07 18:42] liggitt commented on #72651
@sbezverk, can you take ResourceQuotaScopeSelectors ?
@mourya007, can you take PersistentLocalVolumes?
@rajathagasthya, can you take VolumeSnapshotDataSource?

[2019-01-07 18:48] msau42 commented on #72633
The job is running the tests in serial, but it seems like the Node is left in a tainted state which is causing subsequent tests to fail:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/70439/pull-kubernetes-e2e-gce-alpha-features/57/build-log.txt
[code]

[2019-01-07 18:50] mourya007 commented on #72651
@liggitt Sure I will take this and  Can I work on the AppArmor also along with the PersistantLocalVolumes ?

[2019-01-07 18:51] Nowaker commented on #32326
Yay! Thanks a ton @brancz.

[2019-01-07 18:55] fabriziopandini commented on #71677
Another thing to be improved is automatic generation of .debs/.rpm for alpha/beta/RC releases because currently you can have docker images for testing those releases, but no debs/.rpm are available

[2019-01-07 18:56] rglyons opened #72652 "Update Manifests"
**What would you like to be added**:

I think it would be very useful to have some notion of "update manifests", where you could specify several YAML resource definitions and all of these objects would be treated as a single update. If something goes wrong with any of the multiple resources when applying this update, the whole thing is rolled back. Any existing resources that are affected by this

[2019-01-07 18:57] tnozicka commented on #56071
I've started removing the pooling but the subresource lack list/watch methods :(
https://github.com/kubernetes/kubernetes/blob/dd4a8f9cab80aaf280ed5ed95a6facc26c00d928/staging/src/k8s.io/client-go/scale/interfaces.go#L30-L39

[2019-01-07 18:58] liggitt commented on #72651
I was going to take that one since it requires plumbing addition info into the strategy field-clearing methods

[2019-01-07 19:03] mourya007 commented on #72651
@liggitt ok no issue , thanks

[2019-01-07 19:13] fabriziopandini commented on #72480
/cc @luxas

[2019-01-07 19:13] wojtek-t commented on #72633
@wangzhen127 - given that you wrote all this stuff (and also that I'm OOO this week and business travelling next one), can you please take a look?

/assign @wangzhen127

[2019-01-07 19:37] mrrandrade commented on #61117
Kubelet 1.12.3.

Have met this issue, not a memory problem. Will try to fit this on an open issue somewhere.

[2019-01-07 19:39] #59023 closed

[2019-01-07 19:39] #63273 closed

[2019-01-07 19:39] #59152 closed

[2019-01-07 19:39] #63274 closed

[2019-01-07 19:54] dashpole opened #72654 "Write Node E2e fork-bomb test"
**What would you like to be added**:
The test should test that a fork-bomb container triggers PidPressure and is evicted.

**Why is this needed**:
We are not certain PidPressure is working as intended.  See https://github.com/kubernetes/kubernetes/pull/72076#issuecomment-452054319.  This should help work out bugs in that feature.

@kubernetes/sig-node-feature-requests

[2019-01-07 19:54] dashpole commented on #72654
/assign @dashpole

[2019-01-07 20:08] #69397 closed

[2019-01-07 20:53] sudeshsh commented on #72043
@hellobinge yes I have come across the same issue and had to develop a custom controller to re-run failed jobs. This issue arises in clusters when resources are highly constrained (jobs in the pending state), and each scheduler works aggressively (and independently) to try and schedule jobs as soon as resources become available after prior job completion.

Since each scheduler is not aware of the

[2019-01-07 20:56] leakingtapan commented on #69697
@jsafrane I only have one pod, and I delete the PVC after Pod is deleted

[2019-01-07 20:59] yanivroz commented on #72511
kind/bug

[2019-01-07 21:02] ndamclean commented on #59343
/reopen

[2019-01-07 21:06] leakingtapan commented on #69697
I am able to reproduce the issue consistently. This happens when AttachVolume fails.

To reproduce, I created a three node k8s cluster. And I create a static provisioned PV after creating a EBS volume manually. Deploy the specs:

[code]

When Pod creation failed due to zone mismatch, delete the Pod and then delete the PVC. And PV will be stuck at terminating state. I reproduced this in v1.13

[2019-01-07 21:13] mtaufen commented on #72510
1. Correct. Create the ConfigMap with your config in it and then update the reference on each Node one-by-one. This allows you to do a rolling update.
2. Also correct. Several options haven't been migrated to the KubeletConfiguration type yet (work is in progress). To set these, you currently need to have control over the configuration of the Kubelet's command line.

[2019-01-07 21:18] jsturtevant opened #72657 "windows nodes report kernel version with trailing newline"
**What happened**:
Was adding automation using node output and was unable to parse json from nodes due to newline in kernel version:

[code]

**What you expected to happen**:
json returned from `kubectl get nodes -l "beta.kubernetes.io/os=windows" -o json` to be valid json (no new lines).

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**

[2019-01-07 21:19] fedebongio commented on #72637
/cc @roycaihw

[2019-01-07 21:20] fedebongio commented on #72638
/cc @caesarxuchao

[2019-01-07 21:36] cblecker commented on #72032
Closing as all branches are now up to date.

[2019-01-07 21:36] #72032 closed

[2019-01-07 21:41] #66439 closed

[2019-01-07 21:49] davidz627 opened #72661 "Flaky Test "In-tree Volumes [Driver: nfs] [Testpattern: Dynamic PV (default fs)] subPath should support non-existent path""
**Which jobs are failing**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=In-tree%5CsVolumes%5Cs%5C%5BDriver%3A%5Csnfs%5C%5D%5Cs%5C%5BTestpattern%3A%5CsDynamic%5CsPV%5Cs%5C(default%5Csfs%5C)%5C%5D%5CssubPath%5Csshould%5Cssupport%5Csnon-existent%5Cspath

**Which test(s) are failing**:
In-tree Volumes [Driver: nfs] [Testpattern: Dynamic PV (default fs)] subPath should support

[2019-01-07 21:53] davidz627 commented on #72661
/assign

[2019-01-07 21:54] leakingtapan commented on #69697
I think the lingering volumeattachment object is caused when [csi_attacher.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L115) failed to attacher the volume

[2019-01-07 21:57] davidz627 commented on #72661
Error looks like:

[code]

[2019-01-07 22:11] #68747 closed

[2019-01-07 22:19] jjo commented on #67342
We faced this issue after upgrading one of our kops clusters from 1.10.11 to 1.11.6,
only happening for an specific workload (deploy+pvc) that's pinned to an specific node,
while it didn't show for many other un-pinned deploy+pvc and sts workloads.
After manually downgrading `/usr/local/bin/kubelet` to `1.10.12` in that specific
node, the PV got mounted in a glance (+pod started ok).

[2019-01-07 22:41] natalysheinin opened #72663 "kubectl patch cannot patch a json list of items, only a single item"
**What happened**: I am applying a patch to an existing pod. This patch is an add operation of type json with includes a list of items to add. Example:

[code]
Results in: `pod/alpine-correct patched`
I ran `kubectl describe pod alpine-correct`

Before the patch there were 0 annotations, now there was 1: `testthree.annotation.io":"test-three"`

**What you expected to happen**:
I expected all three

[2019-01-07 22:42] gnufied commented on #67342
@DaveKriegerEmerald where do you see https://github.com/kubernetes/kubernetes/pull/71074 patch being backported to 1.10.12 ? I only created backports for 1.11 and 1.12 .

[2019-01-07 22:42] #67075 closed

[2019-01-07 22:43] natalysheinin commented on #72663
@kubernetes/sig-api-machinery

[2019-01-07 22:44] natalysheinin commented on #72663
@kubernetes/sig-api-machinery-bugs

[2019-01-07 22:58] krmayankk commented on #72593
Stateful controller also has similar code which deletes fails pods and recreates them. I guess the thing to think about here is
- why are the pods not getting deleted if they are failed or sysctlforbidden is not same as failed ?

[2019-01-07 23:47] davidz627 commented on #72661
Observing interesting behavior. Some key takeaways:
This error seems to only crop up on NFS tests and it happens on more than one NFS test:
Only NFS for a certain test: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=subPath%5Csshould%5Cssupport%5Csnon-existent%5Cspath#ee5b59bbddd57729881f
A different test but for NFS: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci

[2019-01-07 23:58] msau42 commented on #72661
@kubernetes/sig-storage-test-failures

[2019-01-08 00:00] nilebox commented on #72637
Having support for arbitrary CRD subresources (implemented via webhooks) would definitely be useful, having to switch to custom API server is very expensive.

This may also be needed to ease the transition from API server to CRDs for Kubernetes core resources (many of Kubernetes core resources have subresources)? /cc @thockin

[2019-01-08 00:11] liggitt commented on #72657
Do you have the raw json? An escaped newline in a quoted string is valid json, though trimming it for windows would still probably be fine

[2019-01-08 00:14] liggitt commented on #72657
`echo` might be turning \n into an actual newline and causing issues

[2019-01-08 00:14] jingxu97 commented on #72181
@Nebulazhang, you are right, if we just simply added the volume back to the list in reconciler, there will cause another race condition too.
I propose to put the logic of removing volume from attached list inside of the detach operation https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L412. I have a WIP PR https://github.com/kubernetes/k

[2019-01-08 00:19] logicalhan commented on #72492
@sttts, ah good to know, was looking at an older cluster which did not have these metrics. I'll close the ticket.

[2019-01-08 00:19] #72492 closed

[2019-01-08 01:31] msau42 commented on #62096
Feature issue: https://github.com/kubernetes/enhancements/issues/556

[2019-01-08 01:45] dims commented on #69601
@Katharine The consensus per the mailing list thread is that from now on we need at least 2 nodes in a cluster to pass conformance test suite. Can you please file a PR? Looks like it will be a simple change

[code]

[2019-01-08 01:53] bjhaid commented on #72593
Based on the logs of my controller manager this does not seem to be the case, the pods are deleted by the PodGC, example:

[code]

[2019-01-08 02:01] BenTheElder commented on #69601
FWIW I agree with all points especially:

.. and I am aiming to ship a local multi-node cluster O(this week), which will hopefully somewhat alleviate my previous point see: https://github.com/kubernetes-sigs/kind/issues/117 - We will see about certifying after that :upside_down_face:

[2019-01-08 02:21] #72422 closed

[2019-01-08 03:20] truongnh1992 commented on #72651
Could I work on some of items in TBD?

[2019-01-08 03:35] Nebulazhang commented on #72181
@jingxu97 I review your PR. you put "remove, update, addBack(if detach failed)"three functions  in the same goroutine which is responsible for detaching. It's right, but the main  goroutine still need remove and update function to indicate volume is no longer safe to mount.
https://github.com/kubernetes/kubernetes/blob/35b17dd6d08589bc6182d8038be1cf86d03c6ab0/pkg/controller/volume/attachdetach/rec

[2019-01-08 03:49] liggitt commented on #72651
sure... let's keep it in a separate PR so we can pipeline reviews/merges

[2019-01-08 03:51] liggitt commented on #72651
Once the work is planned out, sure. The TBD ones are a bit more involved, was planning to get the simple ones reviewed and merged first.

[2019-01-08 04:11] subramanian-neelakantan commented on #72497
This situation could get better once vSphere Cloud Provider adds support for "zones". This is being worked upon here
https://github.com/kubernetes/kubernetes/issues/67703. With this support, the requirement for a shared datastore is limited to only node VMs of the same zone. The vSphere admin would have the ability to partition nodes into zones based on the ESX hosts and datastore topology boundar

[2019-01-08 04:35] krmayankk commented on #72253
Any update on this @runcom ?

[2019-01-08 04:37] daohu527 commented on #48798
Additional:
I think this problem cause by kuberadm first init coredns but not init flannel,so it throw "network plugin is not ready: cni config uninitialized".
Solution:
1. Install flannel by `kubectl -n kube-system apply -f https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml`
2. Reset the coredns pod
`kubectl delete coredns-xx-x

[2019-01-08 04:51] mourya007 commented on #72651
@liggitt  Can i take  TokenRequestProjection ?

[2019-01-08 04:56] karlkfi commented on #18610
I don’t think anyone is working on this currently. It’s been a perpetual wishlist item.

Unfortunately, this was such a huge project to get approval the first time around that the PoC implementation needed rewriting by the time the politicking was done, and by then the team I was on that was funding upstream work no longer existed.

It’s not clear to me how much of this overlaps with other sig-spo

[2019-01-08 05:10] xiyanxiyan10 commented on #72628
This demo pod named echo,  run as

[code]
[root@master ~]# kubectl --namespace=matrix logs --tail 200 echo >log
[root@master ~]# wc -l log
201 log
[root@master ~]#
[root@master ~]# cat log

[code]

[2019-01-08 05:54] krmayankk commented on #59343
/reopen

[2019-01-08 05:55] krmayankk commented on #59343
/remove-lifecycle rotten
/remove-lifecycle stale

[2019-01-08 06:00] robinku07 commented on #69844
Jan 08 05:50:59 ip-10-21-21-13.us-east-2.compute.internal kubelet[23595]: I0108 05:50:59.163704   23595 kubelet_node_status.go:269] Setting node annotation to enable volume controller attach/detach
Jan 08 05:50:59 ip-10-21-21-13.us-east-2.compute.internal kubelet[23595]: I0108 05:50:59.163731   23595 kubelet_node_status.go:317] Adding node label from cloud provider: beta.kubernetes.io/instance-typ

[2019-01-08 06:01] robinku07 commented on #69844
I am facing the same issue with AWS EKS
Jan 08 05:51:02 ip-10-21-21-13.us-east-2.compute.internal kubelet[23595]: E0108 05:51:02.334731   23595 reflector.go:205] k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:47: Failed to list *v1.Pod: Unauthorized
Jan 08 05:51:02 ip-10-21-21-13.us-east-2.compute.internal kubelet[23595]: E0108 05:51:02.334821   23595 reflector.go:205] k8s.io/kubernetes/pkg/kub

[2019-01-08 06:35] resouer commented on #72472
/assign @m1093782566

[2019-01-08 06:38] KeepTheBeats commented on #59564
It seems that, delete pod if the image is not exist kubelet will be stuck in this status

[2019-01-08 06:50] jingxu97 commented on #72181
@Nebulazhang actually the reconciler does not need to perform RemoveVolumeFromReportAsAttached, I forgot to remove it. In that case, is there other race condition you think might happen?

[2019-01-08 06:54] Nebulazhang commented on #72181
@jingxu97 No, I think reconciler need to RemoveVolumeFromReportAsAttached because we should **mark volume as detached and update the node status** to avoid kubelet mount this volume before really detach which can lead to fatal error.

[2019-01-08 07:00] ScorpioCPH commented on #72482
@denverdino Thanks for your report, we have the same problem in our cluster, and will file a PR to fix this :)  @answer1991 FYI.

[2019-01-08 07:06] polym commented on #72393
@mlmhl your PR has been merged to master branch, and when will Kubernetes v1.11 fix this bug?

[2019-01-08 07:14] nikhita commented on #67840
/remove-lifecycle stale

[2019-01-08 07:15] krmayankk commented on #72593
@bjhaid are you sure you are looking at the right pods ? The Garbage collector will be only deleting pods when a replicaset itself is deleted with [background cascading deletion](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/). The Replica Set controller has explicit deletePod calls like this https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replica

[2019-01-08 07:19] m1093782566 commented on #72472
@denverdino

Looks like you don't have enough physical memory, conntrack fails back to vmalloc?

[2019-01-08 07:20] Nebulazhang commented on #72181
@jingxu97 I am sorry that I find the function has already existed.
https://github.com/kubernetes/kubernetes/blob/35b17dd6d08589bc6182d8038be1cf86d03c6ab0/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L186
So it cannot re-enter detach function if this volume is pending
Maybe there are some other race condition, I will try to look for the reason

[2019-01-08 07:35] jmf0526 opened #72675 "configmap volume should delete the "ready" file of the internal emptydir volume on mount failure"
**What happened**:
There is a node in my cluster whose disk is full on root partition, I cleared the disk and then rebooted the node to recover it. After the reboot, the kube-proxy on that node got stuck in "ContainerCreating" status and never changes, and all other pods can't run properly since the kubeproxy is not runing.

**What you expected to happen**:
Kubeproxy on that node can run normally

[2019-01-08 07:36] krmayankk commented on #59343
@nicolaferraro thanks it makes sense. Essentially what you are asking for is the ability to run cleanup operations in a deterministic/guaranteed way with positive ack during scale down operations in addition  to the pod knowing whether this a scale down versus temporary rolling update.

[2019-01-08 07:43] jmf0526 commented on #72675
/sig storage

[2019-01-08 07:43] denverdino commented on #72472
nf_conntrack will try to use kmalloc firstly, if not successful, it will falling back to vmalloc.

IMHO, 3145728 connection tracking table is too big for kernel memory.

[2019-01-08 07:52] gaorong commented on #72634
Yes, It seems to be the only choice before ready of the framework.

[2019-01-08 08:10] m1093782566 commented on #72472
AFAIK, kernel does not limit the upper bound of `nf_conntrack_max`. I am not if `3145728` is really big for a busy machine but the 'proper' value should depend on the memory resource of machine that kube-proxy running on. People may meet similar issue even if kube-proxy set a smaller default value.

BTW, there is an interesting issue about 'default nf_conntrack is too small', xref: https://github.

[2019-01-08 08:20] k82cn commented on #72634
As golang did not support dynamic lab, you may also do this for performance with framework; for the "import default scheduler" , I means taking default scheduler as third-party package by godep/dep; instead of modifying it directly :)

[2019-01-08 08:45] krmayankk commented on #72637
Isnt the main purpose of sub-resources to do fine grained RBAC on specific fields and allow subparts of a resource to be updated without updating the spec and hence generation ? It would be good to know what specific feature we are intending to implement in CRD and how subresource fulfills that ?

[2019-01-08 08:46] yanghaichao12 commented on #70945
have you configured BGP peer？ how about this problem now？

[2019-01-08 08:52] #72524 closed

[2019-01-08 08:54] denverdino commented on #72472
On CentOS, each conntrack entry requires 376 bytes of kernel memory, and each hash table entry requires 16.

So, 3145728 connection tracking table will take more than 1G memory. That is why kmalloc failed and falling back to vmalloc

[2019-01-08 09:00] nilebox commented on #72637
@krmayankk the main purpose of subresources is support for arbitrary custom operation different from standard CRUD, e.g. `pods/exec` or `pods/log`. These subresources don't update any part of the `Pod` spec. In other words, the `/status` subresource is just one of the usage examples rather than the only use case.

[2019-01-08 09:15] sbinev commented on #18982
Ability to revoke (at least apiserver) certificates is paramount!

[2019-01-08 09:17] denverdino commented on #72482
Sure, thank you

We had some internal fix to break the deadlock, but I am wondering if there
are good fix for such kind of issue.

On Tue, Jan 8, 2019 at 3:01 PM Penghao Cen <notifications@github.com> wrote:

[2019-01-08 09:22] gaorong commented on #72634
@k82cn Thanks for reminding, I'll have a try.

[2019-01-08 09:31] andor44 commented on #71134
1. Have a static pod on your kubelet with `restartPolicy: Always`
2. Bring the static pod to a state where it has to be restarted (e.g. main container crashing, getting evicted due to disk pressure, etc.)
3. Observe that the pod stays down

The situation is relatively easy to reproduce with disk pressure eviction. Note that it seems that the kubelet doesn't stop restarting it every time, it seems

[2019-01-08 10:08] bskiba commented on #72130
Understandable, I hope dashboard is migrated soon.

I must say I haven't seen this happening with metrics server (but to be fair, haven't seen this with Heapster either). I guess it will be hard to fix without being able to reproduce.

[2019-01-08 10:23] amekawy-eu opened #72680 "Centos: network plugin is not ready: cni config uninitialized"
Hello,
I am trying to setup cluster on Centos 7 with Kube v1.13.1.
I followed the documentation: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ and created a funnel network.
But the master is stay in not ready state
[root@master ~]# kubectl get nodes
NAME     STATUS     ROLES    AGE   VERSION
master   NotReady   master   72m   v1.13.1

The master also report
Jan 08 10:02:07 m

[2019-01-08 10:38] piaoyu commented on #71704
the same problem
Kubernetes version (use kubectl version): v1.12.0，v1.12.4
Cloud provider or hardware configuration:
OS (e.g. from /etc/os-release): centos7
Kernel (e.g. uname -a):3.10.0-327

[2019-01-08 10:54] #63044 closed

[2019-01-08 10:58] runningman84 commented on #40610
/remove-lifecycle stale

[2019-01-08 10:58] xiaozhongliu opened #72681 "Occasional Error: read EHOSTUNREACH at TCP.onStreamRead"
**What happened**:
Our apps rely on some GRPC services. Occasionally the following error occurs and breaks our logic.
Our apps were published in prod env recently, we've checked apps' metrics that there was neither traffic pressure nor restart whenever the error occurs.
[code]

**What you expected to happen**:
Apps work normally and no EHOSTUNREACH errors.

**How to reproduce it (as minimally and

[2019-01-08 11:02] amekawy-eu commented on #72680
area/kubeadm  sig/network

[2019-01-08 11:03] amekawy-eu commented on #72680
/area/kubeadm /sig/network

[2019-01-08 11:03] annProg commented on #72472
any difference between `kmalloc` and `vmalloc`？

I also see this in `demsg`

[code]

[2019-01-08 11:05] amekawy-eu commented on #72680
/sig network
/area kubeadm

[2019-01-08 11:06] xiaozhongliu commented on #72681
/sig kube-proxy

[2019-01-08 11:14] AlyRagab commented on #10179
I think having a warning message asking for Yes/No when we use " kubectl delete / helm delete " to any resources in any namespace would be great feature specially " deployments , StatefulSets , Volumes and Secrets "

[2019-01-08 11:16] amekawy-eu commented on #72680
@kubernetes/sig-network-bugs

[2019-01-08 11:24] mfojtik opened #72683 "Add flag to show all resources referencing the current object"
**What would you like to be added**:

A generic way to query all resources that reference the current resource via owner references.
So for example a command like `kubectl get foo/bar --references` will print all resources that reference `foo/bar`.

**Why is this needed**:

This capability will allow better debugging for GC issues, when one resource is stucked in deletion state because it depends

[2019-01-08 11:33] amekawy-eu commented on #72680
thanks a lot for your help, i got it worked that after doing " kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml"
I needed to restart the master node, then all works fine 👍

[2019-01-08 11:34] Thokar commented on #18610
i understand, thank you!

Am Di., 8. Jan. 2019 um 05:58 Uhr schrieb Karl Isenberg <
notifications@github.com>:

[2019-01-08 11:56] workhardcc commented on #72510
Thanks for your reply!

[2019-01-08 11:57] #72510 closed

[2019-01-08 12:04] denverdino commented on #72472
The Linux kernel tries to use kmalloc allocate contiguous pages to track the connection tables for the nf_conntrack module.  vmalloc is kind of slower than kmalloc.

The question will be shall we have some better way to calculate the nf_conntrack? Current approach is pretty good for the VM with dozen of vCores，but too aggressive for baremetal node with many cores.

For "conntrack-max" is deprecate

[2019-01-08 12:05] brancz commented on #72628
/cc @kubernetes/sig-node-bugs any idea why this might happen? It seems this data is already captured at the node level incorrectly.

[2019-01-08 12:40] ShuYingya commented on #72604
Add "-v=4" when Kubelet start and find a pv delete by DSWP between [Ensure volumes that should be attached/mounted are attached/mounted.](https://github.com/kubernetes/kubernetes/blob/v1.10.12/pkg/kubelet/volumemanager/reconciler/reconciler.go#L187) and [Ensure devices that should be detached/unmounted are detached/unmounted.](https://github.com/kubernetes/kubernetes/blob/v1.10.12/pkg/kubelet/volu

[2019-01-08 12:56] #62637 closed

[2019-01-08 13:01] jsafrane commented on #69697
I reproduced the issue using non-existent volume id (attach fails with "The volume 'vol-01213456789' does not exist").

This is very tricky. There can be two kinds of attach failures:

1. "permanent", the volume cannot be ever attached: EBS  volume does not exists, it has wrong zone, IAM does not have enough permissions, ...
2. "temporary", the volume may be attached in (near) future: timeout, the

[2019-01-08 13:08] #72680 closed

[2019-01-08 13:14] rtreffer commented on #64510
/remove-lifecycle stale

[2019-01-08 13:20] rtreffer commented on #64510
@JorritSalverda the endpoint won't get removed, implementations (e.g. CoreDNS or Traefik) verify that the Pod is not in the terminating state. This is how the draining usually works.

[2019-01-08 13:43] yastij commented on #56694
/remove-lifecycle stale
/remove-lifecycle frozen

[2019-01-08 13:44] yastij commented on #56694
/lifecycle frozen

[2019-01-08 13:45] yastij commented on #56694
/priority important-soon

[2019-01-08 13:49] kbsivacse opened #72684 "minikube pods in "ContainerCreating"status with error failed pulling image "k8s.gcr.io/pause-amd64:3.1": Error response from daemon: Get https://k8s.gcr.io/v2/: x509: certificate signed by unknown authority"
I'm using minikube 0.25.2 and Kubernetes 1.10.0 on Windows 10. While deploying istio pods in the kubernetes cluster, the pods are in ContainerCreating status and the pod logs show the below message,

Warning  FailedCreatePodSandBox  2m10s (x156 over 37m)  kubelet, minikube  Failed create pod sandbox: rpc error: code = Unknown desc = failed pulling image "k8s.gcr.io/pause-amd64:3.1": Error response

[2019-01-08 13:54] alexbrand commented on #71666
I am running into this as well.

It seems like the image (`gcr.io/kubernetes-e2e-test-images/serve-hostname:1.1`) that is being used in the test takes around 30-40 seconds to be terminated. The test consistently hits the 5 minute timeout on a 10 node cluster, given that rolling all the pods takes longer than 300 seconds.

The `serve-hostname` binary [sleeps for 60 seconds][0] after getting the SIG

[2019-01-08 13:59] deitch commented on #41881
/remove-lifecycle stale

[2019-01-08 14:01] wongma7 commented on #71570
"Invalid AWS KMS key" https://github.com/kubernetes/kubernetes/blob/0ca67bde5413570a600f813694f3b35cc90bacec/test/e2e/storage/volume_provisioning.go#L892 also waits for an event

[2019-01-08 14:09] saintanger commented on #65969
same issue here on kubernetes v11 + Rancher 2.1.4
pvc cannot be mounted...

[2019-01-08 14:20] juanvallejo commented on #72683
/assign

[2019-01-08 14:31] cofyc commented on #66148
/close
Not needed anymore, in favor of new design https://github.com/kubernetes/kubernetes/issues/68720.

[2019-01-08 14:31] #66148 closed

[2019-01-08 14:31] ProProgrammer commented on #69696
Do we have any updates here?

[2019-01-08 14:34] jonathangold commented on #69638
I'd like to take this.
/assign

[2019-01-08 14:36] yrral86 commented on #65969
@saintanger Rancher disables mount propagation by default.
https://stackoverflow.com/questions/51336595/how-do-i-enable-mount-propagation-in-rancher-kubernetes-feature-gates

[2019-01-08 14:52] liggitt commented on #72663
this is an example of patching multiple paths that works as expected:
[code]

/close

[2019-01-08 14:52] #72663 closed

[2019-01-08 15:00] liggitt commented on #72683
for debugging GC, the graph export added to the controller manager might be a better avenue (https://github.com/kubernetes/kubernetes/pull/66623)

[2019-01-08 15:02] liggitt commented on #72683
this would involve discovering and listing all of every object at or below the object's scope (all resources in the same namespace for namespaced targets, all cluster-scoped and namespaced resources for cluster-scoped targets)

[2019-01-08 15:03] jonathangold commented on #69638
I would like to take this issue. Just signed the CLA.

[2019-01-08 15:06] bartoszhernas commented on #40846
This should at least be nicely described in the docs when mentioning ENV interpolation.

[2019-01-08 15:10] liggitt commented on #72115
/assign @dekkagaijin

[2019-01-08 15:12] jsafrane commented on #72661
NFS man page says that close() should be enough to flush data to the server:

       The  NFS client treats the sync mount option differently than some other file systems (refer to mount(8) for a description of the generic sync and async mount options).  If neither sync nor async is specified (or if the async option is specified), the NFS client delays sending application writes to the
       serv

[2019-01-08 15:45] liggitt commented on #72663
API documentation is at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/, and each object has a list of fields with links to the schema for that field

For example, pods: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#pod-v1-core

[2019-01-08 15:48] Shnatsel commented on #72684
I fear your corporate proxy is likely to blame. They are rather fond of intercepting all HTTPS connections, substituting a self-signed certificate and reading all the data.

According to the kubernetes version strings you've provided, you're running kubectl on Windows but the server runs Linux, most likely in a virtual machine. I suspect the corporate certificate is not installed in your Linux env

[2019-01-08 15:49] Shnatsel commented on #72684
/triage support

[2019-01-08 16:08] cottrell commented on #44665
This should be moved into the docs no? MIssing in the setup AFAIK

[2019-01-08 16:12] jakubek commented on #69082
@z8772083 it's related with #72393

[2019-01-08 16:12] cadeniyi commented on #65153
@kfox1111 If you are able to review the PR or advise on the best way to get it reviewed then that would be super helpful!

[2019-01-08 16:17] changyaowei commented on #72482
When pleg do relist, can we invoke `kl.runtimeState.runtimeErrors func` to judge runtime is ok, if not, not do relist

[2019-01-08 16:41] kfox1111 commented on #65153
Sorry. I don't think I can review it. I'll see if I can dig up anyone to help though.

[2019-01-08 16:49] msau42 commented on #72661
Reader and writer containers are in the same pod

[2019-01-08 16:57] #71730 closed

[2019-01-08 17:30] jsturtevant commented on #72657
The raw json is:

<details>
<summary>
kubectl get nodes -l "beta.kubernetes.io/os=windows" -o json
</summary>

[code]

</details>

I think you are correct that it was the echo that turning \n into a an actual new line.  Any idea why there would in a new line in the output like that?  Is is safe to remove it as I did in my PR (#72659)?

[2019-01-08 17:32] thockin commented on #62841
Does anyone still have this issue?  If so, can someone post a minimal repro?

[2019-01-08 17:41] jsturtevant commented on #72657
I also just noticed that the output from `kubectl get nodes -o wide` as is formated incorrectly because the new line is the kernel version (the container runtime ends up on second line):

[code]

[2019-01-08 17:43] jingxu97 commented on #72181
We still mark volume as detached, but we move it inside of the detach
operation goroutine. Why we need both places to remove volume attached?

On Mon, Jan 7, 2019 at 10:55 PM Nebula <notifications@github.com> wrote:

--
- Jing

[2019-01-08 17:47] tvansteenburgh commented on #69601
[MicroK8s](https://microk8s.io/) is a single-node Kubernetes that is already [certified](https://github.com/cncf/k8s-conformance/tree/master/v1.12/microk8s).

[2019-01-08 17:57] jingxu97 commented on #69697
@jsafrane seems like it related to this  https://github.com/kubernetes/kubernetes/pull/71276

[2019-01-08 18:13] matti commented on #69696
you can workaround this by setting a taint that prevents these pods from scheduling

[2019-01-08 18:41] pontiyaraja opened #72691 "Don't rely on events and watch in pod e2e tests"
**What happened**: Based on the issue #71646 , test cases shouldn't be flaky. Like watch or events related test cases have to be modified.

**What you expected to happen**: Test cases should be modified without any flaky. We should identify which e2e tests are using this anti-pattern, and determine if there is a recipe we can use to rewrite them to be less flaky. For example, we could likely use p

[2019-01-08 18:42] davidz627 commented on #72661
As another data point: I have now run the test by itself on a personal e2e cluster 1810 times without a single flake.

[2019-01-08 18:44] rcrogers commented on #25908
Thanks to @jpalomaki (https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-371469801) for the suggestion to run `cloud_sql_proxy` as a deployment, and to @cvallance (https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-364255363) for the tip on setting `tcp:0.0.0.0` in the `cloud_sql_proxy` `instances` parameter to allow non-local connections to the process.

[2019-01-08 18:57] pontiyaraja commented on #72691
@kubernetes/sig-testing
/sig testing
/area deflaky
/area testing

[2019-01-08 19:02] BenTheElder commented on #69601
Which is interesting, because that should mean we weren't checking that the
required set of tests ran... independent of this discussion, I think we
probably ought to fix that.

On Tue, Jan 8, 2019 at 9:49 AM Tim Van Steenburgh <notifications@github.com>
wrote:

[2019-01-08 19:05] cpointner commented on #51017
/remove-lifecycle stale

[2019-01-08 19:26] sylr opened #72693 "kubectl top node should display %age of requested resources"
**What would you like to be added**:

%CPU Request
%Memory Request

[2019-01-08 19:42] ixdy commented on #71719
cc @immutablet

The hyperkube image has a *lot* of dependencies, which means it has a pretty large source of potential CVEs (as you've noticed). We update these images when there are upstream fixes from debian, but I believe none of these currently has a fix available.

In some cases, the vulnerabilities may also not be relevant, as the vulnerable binaries may not be used in your deployment.

[2019-01-08 19:43] ixdy commented on #71719
see also the discussion in https://github.com/kubernetes/kubernetes/issues/40955

[2019-01-08 19:49] spiffxp commented on #72691
/area deflake

[2019-01-08 20:08] liggitt commented on #72657
yeah, newlines would screw up the human readable output, which is ugly, but aren't an API issue, which would be much more urgent.

trimming the newline in the data source seems reasonable to me, but it was clearly added explicitly so I would recommend hunting down the original reason for that to be sure

[2019-01-08 20:10] cmluciano commented on #51014
This issue should be closed since it is specific to a CNI plugin and further discussion should happen in a WeaveNet issue

/close

[2019-01-08 20:10] #51014 closed

[2019-01-08 20:33] DarrienG commented on #47990
This is still an issue. Is there a reason this is closed?

[code]

[2019-01-08 20:38] ncdc commented on #47990
@DarrienG what container image are you testing with? Not all images work correctly for this (even with `docker exec`).

[2019-01-08 21:04] DarrienG commented on #47990
Stock Ubuntu 18, and at our company we also use a proprietary build of Fedora 27, both with the same results.

With that said - Docker exec reports it fine, but opening say, Vim in a container deployed in Kubernetes vim gets maybe a 4th of the screen.

There was a provided script `kshell` in the previous thread:

[code]

That makes the terminal report everything correctly, but stock kubectl does n

[2019-01-08 21:05] mitar commented on #69637
/remove-lifecycle stale

[2019-01-08 21:07] ncdc commented on #47990
What happens if you do a normal `kubectl exec -it`, then resize the window? Does it report correctly after the resize?

[2019-01-08 21:20] pcdavies opened #72696 "Kubelet.exe on Windows Server Core 1809 - Errors with Failed create pod sandbox.. rpc error: code - Unknown desc ... hnsCall Failed in Win32: The object already exits"
**What happened**:

Using VMWare Fusion on a MAC, I have successfully deployed a CentOS Master and CentOS Node cluster. With the examples I'll provide, it is just using a simple NAT network, but I get the same result if a create a second Network with a static IP address. The Kube Cluster works perfectly. I am also able to Successfully join a Windows 1809 Core Server to the cluster following the do

[2019-01-08 21:24] DarrienG commented on #47990
It does. My terminal just stays in my window fullscreen 100% of the time, so I never would have tried that.

[2019-01-08 22:00] DarrienG commented on #47990
[code]

On prem. All Kubernetes nodes are running the latest build of CoreOS.

[2019-01-08 22:08] ncdc commented on #47990
What version of docker is running on the Kubernetes nodes?

[2019-01-08 22:09] DarrienG commented on #47990
That `docker --version` is on one of the nodes.

They should all be on `18.06.1-ce`

[2019-01-08 22:18] apelisse commented on #68240
I suspect we can close this one now that `apply --server-dry-run` is beta. Also the one-of thing was just a side note.

[2019-01-08 22:18] #68240 closed

[2019-01-08 22:21] instantlinux commented on #60558
I would like this error message improved:
[code]
It doesn't give device name or mount point so I can't figure out which filesystem it's complaining about (there is plenty of space on mounted volumes, so perhaps it's looking at the thinpool LVM which I'm using for image storage).

Also, the garbage-collector barfs when it encounters statically-launched images started by _docker run_ rather than k8s

[2019-01-08 22:22] rafmonteiro commented on #52757
@cvaldit I was trying your solution and wasn't working. Then I realized that I got it wrong at 1st so I need to do the device fork by myself, the question is: How can I do that? could you share some documentation, please?

[2019-01-08 22:35] audriusbla commented on #60987
See the same with v1.12.2
Docker 18.06.1-ce
Red Hat Enterprise Linux Server release 7.5 (Maipo) 3.10.0-862.el7.x86_64
Running AWS ami image

[2019-01-08 22:40] pcdavies commented on #72696
Adding sig labels:
@kubernetes/sig-Network-network
@kubernetes/sig-Windows-windows
@kubernetes/sig-VMware-vmware

[2019-01-08 22:46] pcdavies commented on #72696
Adding sig labels:

/sig Networking
/sig Windows
/sig VMWare

[2019-01-08 22:48] pcdavies commented on #72696
/sig Network

[2019-01-08 23:03] jingxu97 commented on #72604
@ShuYingya thank you for reporting the issue. I think I understand what the problem is. The event sequence for this race condition is
0. Pod is running and the volumes are already mounted.
1. kubelet restarts and receives a pod.
2. the volumes of the pod is added to the desired state.
3. reconciler first tries to verify volume is attached (this might takes a little time because it waits until Volu

[2019-01-08 23:04] DaveKriegerEmerald commented on #67342
@gnufied Thanks for replying! I'm not finding it now; I must have been looking at the wrong browser tab when I wrote that. However, kops v1.11.0 is now out of beta; I upgraded my argo K8s cluster to v1.11.6 but we're still getting "devicePath is empty" errors. So it looks like the failure mechanism for this ticket may be different than what #71074 fixes.

[2019-01-08 23:08] mauilion commented on #71666
i can repro this in kubeadm-dind with `NUM_NODES=10`
It's a simple timeout issue. The behavior has changed between 1.11 and 1.12
in 1.11 this test takes less than 5 minutes for 10 nodes in 1.12 the test is now failing consistently

[2019-01-08 23:28] lukemassa opened #72699 "Pod with a subPath that is OOM killed does not recover if volume contents change"
**What happened**:
A pod is running and has a volume mount from a configmap/secret with a subPath. If the contents of the configmap/secret change from under it, and then the pod dies via OOM killer, it produces this error message and does not recover:
[code]
 This does not happen if subPaths are not used.

**What you expected to happen**:
I would expect the OOM killed pod to recover.

**How to rep

[2019-01-08 23:33] msau42 commented on #69643
/remove-lifecycle stale

[2019-01-08 23:34] Zyqsempai opened #72702 "Refactor kube-apiserver flags into constants"
**What would you like to be added**:
Refactor all flags in kube-apiserver package into constants
example: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/options/options.go#L128
The issue is a continue of work related to those issues:
https://github.com/kubernetes/kubeadm/issues/1336
https://github.com/kubernetes/kubeadm/issues/1333

Open questions:
We have few Todo's i

[2019-01-09 00:12] timothysc commented on #71666
I don't know if I'm going to have enough bandwidth on this right now to dig into this.  It's likely the shift from controller<>scheduler on daemonsets.  I don't know if/when that landed.

It seems kind of strange that the test takes that long TBH.

[2019-01-09 00:19] bjhaid commented on #72593
They are mostly the only pods running in this cluster, the cluster was spawn to isolate the problem.

I can bump the log level further to get more information.

[2019-01-09 00:39] kron4eg commented on #18982
Couple of examples I can think of immediately:
* https://golang.org/pkg/crypto/x509/#ParseCRL
* https://github.com/cloudflare/cfssl/blob/master/crl/crl.go

[2019-01-09 00:40] mml commented on #34856
/remove-lifecycle stale

On Tue, Jan 8, 2019 at 4:07 PM fejta-bot <notifications@github.com> wrote:

[2019-01-09 00:43] alexbrand commented on #71666
I think the issue is in the `serve-hostname:1.1` test image that we are using, and not necessarily in the controller/scheduler.

Seems like there was a sleep introduced to the serve-hostname process as part of this PR: https://github.com/kubernetes/kubernetes/pull/54327/files#diff-892c1503f99623821102be79d0505477R104

I am wondering if it was mistakenly left in there.

If the sleep weren't there,

[2019-01-09 01:08] handsmlonely commented on #29549
hi, i have the same problem in serviceaccount when i creating a ingress deplyoment.
the default secrets is still zero and  api-server cannot created it automatically
has your found any solution for this probelm?

[2019-01-09 01:55] hzxuzhonghu commented on #65954
/remove-lifecycle rotten

/remove-lifecycle stale

[2019-01-09 02:40] xiaokugua250 commented on #24249
i found a new way to solve this problem ,you can set nfs-server port to be fixed ,then mount nfs-server by service . you can refer to https://wiki.debian.org/SecuringNFS.

![image](https://user-images.githubusercontent.com/4617763/50872442-bcb15200-13fa-11e9-8681-69382ec87a66.png)
![image](https://user-images.githubusercontent.com/4617763/50872610-e0749800-13fa-11e9-97bc-046e210e8ee0.png)
![image]

[2019-01-09 03:21] #68907 closed

[2019-01-09 03:22] #72546 closed

[2019-01-09 03:25] xiaoxubeii opened #72708 "kube-proxy failed to start with Kubernetes v1.12.0 and pouch v1.1.0 using kubeadm"
**What happened**:
kube-proxy failed to start with Kubernetes v1.12.0 and pouch v1.1.0 using kubeadm.

**What you expected to happen**:
Would start successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Use kubeadm to deploy Kubernetes v1.12.0.

**Anything else we need to know?**:
Following is the error output:

[code]

kube-proxy cannot set sysctl because of /proc/sys/*

[2019-01-09 03:42] jmf0526 commented on #72675
@kubernetes/sig-storage-bugs

[2019-01-09 04:48] huynq0911 commented on #69771
Hi @wgliang, I'm investigating about Scheduler and want to understand it better. Can I take it?

[2019-01-09 06:00] kbsivacse commented on #72684
Thanks for the details. I will try installing the certificate in Linux VMs.

[2019-01-09 07:50] Deepak1100 commented on #67730
hi,
i am using dnsmasq which is running on each node and cluster-dns flag of kubelet is nodeIP. it was working until i switched proxyMode to IPVS and it stopped working now. if I put coredns service ip in pods resolve.conf then dns resolution is working.
i have tried to telnet to node ip from pods and it was reachable but curl and dns is failing

[2019-01-09 07:53] changyaowei commented on #72482
I submit  a  PR  https://github.com/kubernetes/kubernetes/pull/72709

[2019-01-09 07:54] guhuajun commented on #72696
Greetings,

I have tested K8S on Windows with Flannel Overlay last week, it also fails.
Since it is a Windows issue, we can get some help from Microsoft side.
https://github.com/microsoft/sdn/issues

Literally, following error usually means the port is occupied by another container. You may run docker ps -a on the Windows box to verify.

[2019-01-09 07:54] tanshanshan commented on #72611
1 . config docker use config
"insecure-registries": ["0.0.0.0/0"],
2.  the error message is

you should kill the process which use 5000 port in this node.

[2019-01-09 07:57] huangjiasingle commented on #39701
@funky81 if firewalld, selinux, swapoff was closed, it's repoduce the same err, please check your kube-proxy running on the node or not

[2019-01-09 07:58] himanshurajput32 opened #72712 "Services are not accessible through all the masters using NodePort"
**What happened**: we have set up a Kubernetes cluster version 1.13 using Kubespray on Baremetal. Currently, there are 3 masters and 3 workers. We have deployed some services with 3 replicas. We are using NodePort to expose services. Now the issue is that some of the services are not available on all the masters using NodePorts, they are available on some of the masters only. My understanding is t

[2019-01-09 08:06] DamienVStone commented on #58988
I don't know WTF, but after
`export KUBECONFIG=$HOME/.kube/config`
`sudo systemctl restart docker`
`sudo systemctl restart kubelet`
on **master** node, my cluster is ressurected

[2019-01-09 08:15] wilala commented on #60987
same error with v1.12.3
docker 17.09.1-ce
centos 7.4

[2019-01-09 08:19] himanshurajput32 commented on #72712
Adding sig labels:

/sig Networking

[2019-01-09 08:32] mvladev commented on #72712
/sig networking

@himanshurajput32 You run `kube-proxy` on your masters, right?

[2019-01-09 08:36] Rajat-0 opened #72713 "Metrics-server failed to start when created with cluster/addons/metrics-server"
Metrics-server failed to start with " CrashLoopBackOff " status when created with cluster/addons/metrics-server.
It creates 2 containers (metrics-server metrics-server-nanny) in a pod. Metrics-server is working fine but Metrics-server-nanny is failing.

Container logs:-
`ERROR: logging before flag.Parse: I1230 22:30:08.280033       1 pod_nanny.go:65] Invoked by [/pod_nanny --config-dir=/etc/config

[2019-01-09 08:39] lbernail commented on #67730
@Deepak1100 this is surprising, if you can ping the nodeip from the pod you should be able to access dnsmasq. Does dnsmasq bind the nodeip? Can you try to connect to it directly using dig/nslookup?

[2019-01-09 08:52] senthilrch commented on #68930
/remove-lifecycle stale

[2019-01-09 09:08] himanshurajput32 commented on #72712
@mvladev Yes, kube-proxy is on masters. We used Kubespray to setup kubernetes cluster.

[2019-01-09 09:36] zedtux commented on #59438
I have a k8s 1.13 cluster running and have the same error message than @HaymonEdmur from [his comment](
https://github.com/kubernetes/kubernetes/issues/59438#issuecomment-410018142).

I've checked the presence of `metrics.k8s.io` as told by @DirectXMan12 and it was missing.
I have installed it from the [kubernetes-incubator/metrics-server](https://github.com/kubernetes-incubator/metrics-server) pr

[2019-01-09 09:45] himanshurajput32 commented on #72712
@mvladev
The logs of the kube-proxy container over the master node which was not accepting the traffic, were blank. There were no logs. Then I manually killed the container of kube-proxy and a new kube-proxy container got started automatically. Then the master started accepting traffic normally. Although It was a fix but I don't know the reason behind it. Do you have any idea ?

[2019-01-09 10:04] tomwilkie opened #72715 "Have kubelet export metric containing its own name"
**What would you like to be added**:

It would be useful if the kubelet exported a metric that contained its own name as a label, for instance:

`kubelet_node_name{job="kubelet", instance="10.135.73.142:10250", name="10.135.73.142"}`.

This name should be consistent with the output of `kubectl get nodes`.

**Why is this needed**:

This would allow us to join the kubelet metrics against metrics exp

[2019-01-09 10:04] tomwilkie commented on #72715
@kubernetes/sig-instrumentation

[2019-01-09 10:19] rvesse commented on #20352
/remove-lifecycle stale

This is still an issue in latest releases

[2019-01-09 10:20] SequinYF opened #72716 "cant delete functions"
**What happened**:
I cannt delete functions
[code]
kubectl delete functions a --force --grace-period=0 --v=8

[code]
**What you expected to happen**:
delete it
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
there has no pod or deployment related.
the crd exist.
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Clo

[2019-01-09 10:47] himanshurajput32 commented on #72712
Adding sig labels:

/sig node

[2019-01-09 10:54] yue9944882 commented on #72716
remove the finalizer and the deletion will be done

/triage support
/remove-kind bug
/close

[2019-01-09 10:54] #72716 closed

[2019-01-09 11:01] Deepak1100 commented on #67730
@lbernail i tried to do dig and i am getting empty A record.(i.e it does not resolve)
one more thing i tested that if in dnsmasq pods I change coredns serviceIP to PodIP then resolution is working.
I am able to reach to coredns service IP if i hit it from any pods directly. but if traffic goes from dnsmasq its not working.
traffic flow is like pod1(node1)-> node1-IP:53(pod2)->(snat/dnat)->pod3(nod

[2019-01-09 11:09] lbernail commented on #67730
@Deepak1100 this seems to indicate that dnsmasq can't access the serviceIP. I assume dnsmasq is running on the host network with the coredns serviceIP as upstream?
If so, can you check that you can access the coredns serviceIP from the host?

Also, which version of kube-proxy are you running?

[2019-01-09 11:13] zuoge85 commented on #37705
Facing up same issue!!

[2019-01-09 11:20] jsafrane commented on #69697
@jingxu97 Indeed, #71276 helped, thanks a lot.

[2019-01-09 11:24] gtie opened #72717 "Eviction API ignoring preStop hook and terminationGracePeriodSeconds when DeleteOptions are not present"
**What happened**:
When using the `create_namespaced_pod_eviction` function from Python's Kuberneets API, we noticed that Pods are terminated bythe cluster without respecting their preStop hooks or terminationGracePeriodSeconds seconds.

**What you expected to happen**:
When using the eviction API, just as when using delete, Pods should be allowed to run their preStop hooks, as well as be given te

[2019-01-09 11:36] Nebulazhang commented on #72181
I'm sorry that I found the previous discussion wrong. This competition is unlikely to happen because the function **`c.attacherDetacher.IsOperationPending`** guarantees that no single volume will be operated on at the same time before detach.
https://github.com/kubernetes/kubernetes/blob/35b17dd6d08589bc6182d8038be1cf86d03c6ab0/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L186
I fou

[2019-01-09 11:40] Nebulazhang commented on #72181
@jingxu97 I am sorry to have misled you before ^_^.
I have found the reason of the error and submitted the PR. And I test it, it can run correctly.
Pls let me know if you have any questions.

[2019-01-09 11:48] Deepak1100 commented on #67730
@lbernail  i am running 1.12.1 kube-proxy
and yes i am running dnsmasq as you have mention. and i tried to do dig from inside dnsmasq pods using serviceIP of coredns and it was able to resolve fluentd-service
[code]
that mean it is reachable

[2019-01-09 12:18] mlmhl commented on #72393
Sorry for the late, I've send cherry-pick PRs: https://github.com/kubernetes/kubernetes/pull/72718 https://github.com/kubernetes/kubernetes/pull/72719 https://github.com/kubernetes/kubernetes/pull/72720

[2019-01-09 12:46] legal90 commented on #70342
It has been moved to https://github.com/kube-aws/kube-spot-termination-notice-handler

[2019-01-09 12:49] yastij commented on #64387
/lifecycle frozen

[2019-01-09 13:02] dims commented on #64387
kinda related - https://github.com/kubernetes/kubernetes/issues/65408

[2019-01-09 13:02] bclau opened #72722 "[Windows] Running state skipped if the container fails fast after back off"
**What happened**:

/sig windows
/sig testing

When using Windows Server 2019 as compute nodes, with ``azure-vnet-cni-v1.0.16-rc2`` or ``v1.0.15``, some tests are consistently failing

Affected tests:

    [k8s.io] Pods  should cap back-off at MaxContainerBackOff [Slow][NodeConformance]
    [k8s.io] Pods  should have their auto-restart back-off timer reset on image update [Slow][NodeConformance]

[2019-01-09 13:03] dims commented on #64387
/area conformance

[2019-01-09 13:03] Sagar2366 opened #72723 "Incorrect message in kubeadm init logs"
On executing kubeadm init command
[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s
[kubelet-check] Initial timeout of 40s passed.

in [wait-control-plane] it is showing 4m0s and in [kubelet-check] it is showing 40s passed

[2019-01-09 13:04] adelina-t commented on #72722
cc: @PatrickLang

[2019-01-09 13:07] dims commented on #71666
/area conformance

[2019-01-09 13:07] dims commented on #71430
/area conformance

[2019-01-09 13:08] dims commented on #67721
/area conformance

[2019-01-09 13:12] arrowfeng opened #72724 "How to change the entire Kubernetes cluster time zone？"
Recently I have an issue that How can i sync local timezone to entire cluster?

[2019-01-09 13:33] dims commented on #67721
@jeffdyoung ping! got your name from @bradtopol  Any help with this would be great!

[2019-01-09 13:35] dims commented on #67718
/area conformance

[2019-01-09 13:38] zedtux commented on #39792
I need this feature because my app serves 2 hosts (one is the client facing app, the second one is the admin facing app) so that they have 2 different URLs but pointing to the same service.

Locally I'm using a selenium image with the Docker link flag to alias my `app` container to the URLs:

[code]

This works fine and I'm now building a CI/CD within a Kubernetes cluster with zalenium and I need

[2019-01-09 13:39] dims commented on #67717
/area conformance

[2019-01-09 13:49] paralika commented on #72723
sig/cluster-lifecycle

[2019-01-09 13:55] dims commented on #67588
/area conformance

[2019-01-09 13:55] cadeniyi opened #72726 "pull-kubernetes-local-e2e-containerized is failing"
pull-kubernetes-local-e2e-containerized is failing and has been failing consistently since 2018-12-18

Looks like something happened between build 1648 and 1649 and the cluster is not coming up.

https://testgrid.k8s.io/conformance-all#local-up-cluster-containerized,%20master%20(dev)

[2019-01-09 13:55] dims commented on #62988
/area conformance

[2019-01-09 13:56] cadeniyi commented on #72726
/sig testing
/sig node

[2019-01-09 13:56] dims commented on #62549
/area conformance

[2019-01-09 13:57] dims commented on #53600
/area conformance

[2019-01-09 14:00] dims commented on #72630
@rojkov @neolit123 wanna move it to https://github.com/kubernetes/utils ?

[2019-01-09 14:14] jonathangold commented on #69638
@jpbetz Planning to writing a few (table-driven) tests in kubernetes/staging/src/k8s.io/apimachinery/pkg/api/resource/ to check if protobuf encodes and decodes as expected. Sound good?

[2019-01-09 14:16] alexbrand commented on #71666
I am working on a PR that removes the sleep from `serve-hostname`. In the same PR, I am planning to bump the image version, and update all references I can find to the `gcr.io/kubernetes-e2e-test-images/serve-hostname` image.

[2019-01-09 14:22] nikhita commented on #56876
/unassign @munnerz @marun @apelisse
/assign

[2019-01-09 14:37] wgliang commented on #69771
@huynq0911 Sure, Thanks
/assign @huynq0911

[2019-01-09 14:44] phsiao commented on #72699
Shares some similarities with #68211

[2019-01-09 14:45] lukemassa commented on #68211
I saw this issue with kubernetes v1.12.4 and docker 18.09.0. (I opened kubernetes/kubernetes#72699 which I will now close as a dupe)

[2019-01-09 14:46] lukemassa commented on #72699
This appears to be a duplicate of kubernetes/kubernetes#68211, closing

[2019-01-09 14:46] #72699 closed

[2019-01-09 14:49] liggitt commented on #72717
this is because of this code:
https://github.com/kubernetes/kubernetes/blob/bd8edc27db8dfad525ee4c1c887ef6fa583a42e1/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L967-L970

invoked from here:
https://github.com/kubernetes/kubernetes/blob/bd8edc27db8dfad525ee4c1c887ef6fa583a42e1/pkg/registry/core/pod/storage/eviction.go#L140-L141

it is passing in the eviction delete options

[2019-01-09 14:53] neolit123 commented on #72630
i would leave the location decision to the assigned.
utils SGTM.

[2019-01-09 15:01] zerthimon commented on #63196
@liggitt How do I specify more than one cidr block ?
`nodePortAddresses: ["127.0.0.0/8", "10.255.121/24", "192.168.255.1/32" ]` - doesn't work.

[2019-01-09 15:05] zerthimon commented on #63196
nm, I see the problem, "10.255.121/24" is an incorrect cidr

[2019-01-09 15:08] johnSchnake commented on #71666
Thanks for all the eyes looking at this, I appreciate it.  Removing the sleep will obviously speed things up and probably pass in these use cases. It still seems like something should be done so that the timeout scales though; if we have 1k node clusters we'd probably still have a problem, yes?

[2019-01-09 15:12] liggitt commented on #64387
There are many configurations you can enable that prevent conformance tests from running, especially ones that limit permissions of normal namespaced users or pods.

This is not specific to this admission plugin, but is a general statement about the current state of conformance tests. See https://github.com/kubernetes/community/blob/master/contributors/devel/conformance-tests.md#conformance-testin

[2019-01-09 15:14] liggitt commented on #64387
/close

[2019-01-09 15:14] #64387 closed

[2019-01-09 15:15] liggitt commented on #65271
There are many configurations you can enable that prevent conformance tests from running, especially ones that limit permissions of normal namespaced users or pods.

This is not specific to this admission plugin, but is a general statement about the current state of conformance tests. See https://github.com/kubernetes/community/blob/master/contributors/devel/conformance-tests.md#conformance-testin

[2019-01-09 15:15] #65271 closed

[2019-01-09 15:15] timothysc commented on #71666
/assign @thockin @ixdy @spiffxp

We're going to need an image push update for conformance regression.

WRT timeout scaling... yes, but let's base it on some data and experiments.

[2019-01-09 15:20] maxekman commented on #72460
I have also experienced this same issue, started Dec 21 after upgrading the cluster to v1.11.4.

It looks like it could be solved in v0.7.3 of the Google Cloud plugin: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/releases/tag/v0.7.3

More specifically I suspect it happens because this check fails: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/v0.7.3/li

[2019-01-09 15:56] dims commented on #72726
Hopefully when the following merges, it will be better

https://github.com/kubernetes/test-infra/pull/10488
https://github.com/kubernetes/test-infra/pull/10664

[2019-01-09 16:17] jtnord opened #72734 "not obvious (or possible) how to use an editor with spaces in the command"
I was trying to use a different editor than notepad on windows to be used by `kubectl edit foobar` by setting the `EDITOR` environment variable.

Doing this was non trivial and the following did not work all resulting in different errors.

**What happened**:

[code]

**What you expected to happen**:

I should be able to use normal windows paths, either by quoting them, or not.

the workaround is t

[2019-01-09 16:24] kmova commented on #59040
/remove-lifecycle stale

[2019-01-09 16:40] liggitt commented on #72651
cc @derekwaynecarr @MrHohn

can we graduate the HugePages and CustomPodDNS features to GA in 1.14 and remove feature gate checks, rather than trying to untangle their conditional validations? both have been enabled by default since 1.10

[2019-01-09 16:43] surajssd commented on #72593
I see log of these  thrown by kubelet:

[code]

Lots of volume mounts and unmounts of the default token.

[2019-01-09 16:45] pcdavies commented on #72696
Hi @guhuajun,

What is the best way to get microsoft's help? Should I repost in https://github.com/microsoft/sdn/issues and point to this issues, or just repost and duplicate the content?

There does not seem to be a conflict with the ports. Here is a **docker ps** command after the windows node has joined, but prior to deploying a kubernetes pod:

[code]
After running the **kubectl apply -f iis-w

[2019-01-09 16:46] rdefreitas commented on #18096
I have several scenarios wherein this would be useful still
/reopen

[2019-01-09 16:53] liggitt commented on #65408
opened https://github.com/kubernetes/kubernetes/pull/72737 to mark as deprecated

[2019-01-09 17:16] aario commented on #60835
Bug still remains.
And solution by @geerlingguy didn't work:
[code]

[2019-01-09 17:17] rajathagasthya commented on #72651
@liggitt I'm looking at `ExpandPersistentVolumes`. What changes are required for `TestValidatePersistentVolumeClaimStatusUpdate`? I made the other changes, but not sure about the test cases since both the scenarios there seem to depend on the feature gate.

[2019-01-09 17:20] liggitt commented on #72651
No change is required there... that check allows limited *changes* to that part of the object when the feature is enabled. The logic when the feature is disabled does not do anything that would invalidate existing data that was persisted while the feature was enabled, which is the present concern.

[2019-01-09 17:31] yanijc commented on #49387
There ought to be a way to just list Running pods that have (or have not) passed their readiness check.

Also, where is it documented what the values in the Ready column mean?  I have seen '0/1, 1/1, 0/2'  Is just the numerator the indication of readiness status?  What is the denominator indicating?

[2019-01-09 17:47] johnbelamaric commented on #39792
@zedtux you can have two different "service" entries that use the same selector - that gives you two names for the same set of endpoints. Is that sufficient? This request is more around having specific names rather than the names provided by the K8s DNS spec.

[2019-01-09 17:48] dims commented on #66475
/close

please reopen if you are still facing this problem or able to provide additional information

[2019-01-09 17:48] #66475 closed

[2019-01-09 17:48] brancz commented on #72715
This metric as it is right now doesn’t conform to the instrumentation guidelines, so yes we should changes this as part of the metrics overhaul targeted for 1.14.

[2019-01-09 18:00] vishh commented on #72050
One of original intentions was to allow burstable & best effort pods to use as much CPU as it can with the assumption that CPU shares enforcement by the kernel would prevent CPU starvation for system daemons as long as kube and/or system reservations are set appropriately.
Are CPU share not being enforced as expected in certain environments?
As long as system-reserved, kube-reserved, and all k8s s

[2019-01-09 18:31] rgembalik commented on #59040
+1 from me as well - in the end, it will remove much of inconvenient hassle while managing our PV's.

[2019-01-09 18:35] misterikkit commented on #72544
fixed by #72615

[2019-01-09 18:35] #72544 closed

[2019-01-09 18:39] MrHohn commented on #72651
For CustomPodDNS (https://github.com/kubernetes/enhancements/issues/504) we are ready to promote it to GA and the change should be minimal. Will try to shot a PR soon.

cc @bowei

[2019-01-09 18:39] jbw976 commented on #60694
/remove-lifecycle stale

[2019-01-09 18:41] misterikkit commented on #72634
This use case is being targeted by the scheduling framework design, where you can add `k8s.io/kubernetes/pkg/scheduler` to your `vendor` folder and add your own plugins. I don't have a good time estimate on that aspect yet.

[2019-01-09 18:42] liggitt commented on #58682
that is on the list of features to consider post-GA

[2019-01-09 19:02] bclau opened #72742 "Resource Quota test with uninitialized pod fails"
**Which jobs are failing**:

Unknown.

**Which test(s) are failing**:

    [Feature:Initializers] should create a ResourceQuota and capture the life of an uninitialized pod.

**Since when has it been failing**:

Unknown.

**Testgrid link**:

Unknown

**Reason for failure**:

``INFO: expect err to be timeout error, got Pod "too-large-pod" is invalid: metadata.initializers.pending[0].name: Invalid v

[2019-01-09 19:20] dims commented on #65408
Thanks @liggitt

[2019-01-09 19:55] liggitt commented on #72637
it's not clear the existing nonstandard subresources like exec or log are a pattern we want to encourage. I would put this feature on the list of things to consider after v1 of CRDs

[2019-01-09 21:08] cppforlife opened #72746 "ready/provisioned condition for v1/service"
**What would you like to be added**:

it would be great if there would be a generic way to identify if v1/Service is done provisioning and ready to be used (not implying that endpoints are ready to be used; may be "ready" is not a good name for this).

**Why is this needed**:

when writing deployment software such as helm it would be nice to avoid having api client figure out when service is ready

[2019-01-09 21:16] krzysztof-jastrzebski commented on #72499
I checked logs and now controller tries to delete pod but there is an error:
node_lifecycle_controller.go:194] unable to delete node "gke-cluster-5-default-pool-49d43f11-9lr6": nodes "gke-cluster-5-default-pool-49d43f11-9lr6" is forbidden: User "system:serviceaccount:kube-system:cloud-node-lifecycle-controller" cannot delete resource "nodes" in API group "" at the cluster scope

[2019-01-09 21:24] hawran opened #72747 "kubectl rollout undo deployment without further parameters (affecting all resources) functionality"
/sig cli

**What would you like to be added**:
Hi,
today I've accidentally run the command as follows:
`kubectl rollout undo deployment`
\- I unintentionally omitted a name of my deployment - and **all** deployments have been undo-ed, :-/.

I'd expect an explicit parameter (a confirm question?) here.

**Why is this needed**:
I'd say there should be an explicit parameter (a confirm question?) with

[2019-01-09 21:58] cppforlife commented on #72746
/sig network

[2019-01-09 22:34] Gimi commented on #65973
Will this feature be considered to be implemented? This is quite useful, just like the native objects in kubernetes, not all fields are mutable after the object is created. For CRDs, there will be no different.

[2019-01-09 22:53] PatrickLang commented on #64188
/remove-lifecycle stale

[2019-01-09 22:56] PatrickLang commented on #64188
@dineshgovindasamy - can you clarify a few things so we know what's required to fix this?

1. What's the minimum OS version needed? Windows Server 2019, or a future release?
2. Will this be possible to fix for dockershim, or just CRI-containerD?

Thanks!

[2019-01-09 23:31] alexbrand opened #72757 "Document/cleanup the kubernetes.io/cluster-service='true' label"
The `kubernetes.io/cluster-service: "true"` label is sprinkled across over 100 yaml files in the kubernetes repo (according to github search). However, I could not find any documentation around the effect of this label.

After searching the code base, it seems that:
1. The label was being used by the addon manager in the past, but it has since been deprecated.
2. The `kubectl cluster-info` command

[2019-01-09 23:32] taragu commented on #69106
/remove-lifecycle stale

[2019-01-09 23:43] tedyu opened #72758 "initOpCache is not skipping undeletable resource in namespaced_resources_deleter"
**What happened**:
In initOpCache:

[code]
The execution doesn't continue with the next resource in the for loop which starts on line 182.

**What you expected to happen**:

The resource should be skipped but it seems the resource is handled as if the verb check doesn't exist.

**How to reproduce it (as minimally and precisely as possible)**:

Found the issue during code inspection.

**Anything el

[2019-01-09 23:54] andrewsykim commented on #72499
This makes sense because we didn't update bootstrap RBAC rules. I'll have a PR for this soon. Thank you @krzysztof-jastrzebski!

[2019-01-09 23:58] krmayankk commented on #72637
@liggitt  do you consider status and scale also as non standard or only exec and log ?

[2019-01-10 00:02] liggitt commented on #72637
No, status and scale have well defined regular behavior.

I was referring to exec, log, portforward, etc.

[2019-01-10 00:05] nilebox commented on #72637
@liggitt `exec` and `log` may be a bad example then, but if `scale` is fine (which is still specific to `Deployment`), then it would still require support for arbitrary per-resource subresources, unlike `status` which applies to all resources?

[2019-01-10 00:11] liggitt commented on #72637
scale is generic and applies to many different resource types:

https://github.com/kubernetes/kubernetes/blob/2c8b571d573d434687316c606fb5e20e63008345/test/integration/scale/scale_test.go#L64

and is already supported by custom resources: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource

[2019-01-10 00:20] hshang09 commented on #58065
Got the same issue here. Any work around here?

[2019-01-10 00:30] krmayankk commented on #72742
@bclau  which test is failing ? is this from PR or a UT or integration ?

[2019-01-10 00:43] nilebox commented on #72637
Well it's still specific to resources managing `Pod`s (or some sort of replicas), but I see your point, thanks :)

[2019-01-10 00:50] smarterclayton commented on #72747
Rollout undo should require —all to be used on all deployments, like other destructive commands (delete, apply)

[2019-01-10 01:09] eytan-avisror opened #72759 "Nodes may die due to possible memory leak caused by emptyDir.medium.Memory"
/sig node

Possibly related to:
https://github.com/kubernetes/kubernetes/issues/45419
https://github.com/kubernetes/kubernetes/issues/72294

**What happened**:
Summary:
It seems when using `emptyDir` on `medium: Memory` some memory may be leaked, eventually causing a docker daemon to hang and node to become NotReady with PLEG issues.

[code]

This happens if a pod with such mount keeps crashing fo

[2019-01-10 01:12] PatrickLang commented on #69901
This will be fixed in a Windows patch, ETA late January. Windows OS bug number is 19831298

[2019-01-10 01:19] krmayankk commented on #72759
/sig node

[2019-01-10 01:22] guhuajun commented on #72696
Thanks for updating. Flannel on Windows are still under developing. Hope we will have a workaround for this issue.

[2019-01-10 01:31] #30961 closed

[2019-01-10 01:32] Capstan commented on #59513
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types seems to indicate explicitly that it uses 04 and _not_ 06.

[2019-01-10 01:48] thockin commented on #71666
The sleep in there was added over a year ago.  What changed RECENTLY?

Curiously there is a serve-hostname v1.4 tagged on k8s.gcr.io already, but I can;t say where it came from, since VERSION in k/k/test/images/serve-hostname says 1.2 ...

That sleep was added to test graceful termination, I think.  removing it may have side-effects.  Can we make the test runs set `terminationGracePeriodSeconds: 2

[2019-01-10 03:49] surajssd commented on #72593
https://github.com/kubernetes/kubernetes/blob/97d7795070a7c8394a1206a57dcc16e36a4a868b/pkg/controller/replicaset/replica_set.go#L607-L612

According to my understanding the `filteredPods` remains empty since the function `IsPodActive` returns false for all the pods of this `ReplicaSet`.

https://github.com/kubernetes/kubernetes/blob/97d7795070a7c8394a1206a57dcc16e36a4a868b/pkg/controller/controlle

[2019-01-10 03:56] surajssd commented on #72593
Also when I created DaemonSet out of above deployment these were the events, as per the nature of DaemonSet controller it would kill the failed pod and restart a new one. Following is list of events when it is run as DaemonSet:

[code]

[2019-01-10 03:58] y-koseki opened #72762 "--kube-reserved and --system-reserved are not working"
**What happened**:

I have ran kubelet with parameter:

[code]

The capacity of k8s node VM is as follows.

[code]

**Problem1**

Pods can use ephemeral-storage over `Allocatable`.
The result of `curl https://${master_name}/api/v1/nodes/${node_name}/proxy/stats/summary | jq .node.fs` is as follows.

[code]

* `Allocatable` is 24683826743 byte.
* `usedBytes` is 27347832832 bytes.

**Problem2**

Pod

[2019-01-10 04:04] y-koseki commented on #72762
/area kubelet
/sig node

[2019-01-10 05:14] cofyc opened #72763 "Revisit pod binding cache"
**What would you like to be added**:

No memory leaks on pod binding cache.

Proposals:

### 1) Clear when pod is not needed to be scheduled

- assigned a node on success
- deleted from cluster

### 2) Clear when scheduler loop ends

With this, pod binding cache is restricted to be used in current scheduler loop, and we clear when scheduler loop ends

- on error (async error handler)
- on success

[2019-01-10 05:14] cofyc commented on #72763
/sig storage

[2019-01-10 05:15] surajssd commented on #72593
With following changes, there was no unlimited pod creation:

[code]

[code]

And pod status looks like following:

[code]

is this the right approach to solve this issue @liggitt ?

[2019-01-10 05:56] andrewsykim commented on #72499
Should be fixed in https://github.com/kubernetes/kubernetes/pull/72764.

[2019-01-10 07:17] cofyc commented on #72763
/close
I made a mistake, `deletePodFromSchedulingQueue` works like its name implied, no problem here.

[2019-01-10 07:17] #72763 closed

[2019-01-10 07:21] chenmin1992 commented on #54798
@stszap I face same issue now, full domain name is surely added to /etc/hosts, but the other pods' are not added to /etc/hosts, still need reliable dns resolving before pod start.

did you resolve this problem?

[2019-01-10 07:28] wenlxie opened #72766 "CI to support multiple runtimes"
**What would you like to be added**:

K8s support runtimeClass feature start from  k8s 1.12.
It is intend to support for clusters that have multiple runtime deployed
But now the test cases are only for default runtime.
For multiple runtimes, it is not part of the CI now.

**Why is this needed**:

Support multiple runtimes can be a common case for user's cluster.
So there should be CI jobs to make

[2019-01-10 07:35] #70062 closed

[2019-01-10 07:40] himanshurajput32 commented on #72712
@krmayankk
As I commented above, the logs of the kube-proxy over that master were blank. There were no logs but the container was running. So I manually killed that container and a new container was started automatically. The new container started producing logs. Then kube-proxy started working fine and the master also started accepting traffic.

[2019-01-10 07:42] himanshurajput32 commented on #72712
Is there any bug in k8 v1.13.0? We are also running v1.10.1 on production and It's working fine.

[2019-01-10 08:20] mourya007 commented on #70958
@mikedanese  Is this bug still exist ?

[2019-01-10 08:31] ocofaigh commented on #67278
Don't see this anymore. I think maybe I resolved it by following the steps here: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

/close

[2019-01-10 08:31] #67278 closed

[2019-01-10 08:34] danielqsj commented on #72713
@Rajat-0 Have you checked this parameter `{{ metrics_server_min_cluster_size }}` ?

[2019-01-10 08:36] himanshurajput32 commented on #72422
@SmartLyu
I am facing a similar issue with NodePort.
https://github.com/kubernetes/kubernetes/issues/72712

Any help would be appreciated.

[2019-01-10 08:45] ArjunSureshKumar92 commented on #72533
@figo As soon as this error occurs, I cant access kubelet logs or any kubectl related actions. Only way is to restart all the nodes and recreate all the pods.

[2019-01-10 08:47] thanasisk commented on #66046
does this bug applies to v1.11.2 ? or v.1.11.2 includes the fix?

[2019-01-10 09:08] danielqsj commented on #72715
@brancz you mean to add a label `node` in kubelet metrics ?

[2019-01-10 09:48] zqdlove opened #72773 "When the deployment is created using the yaml file post request, 400 is returned."
**What happened**:
### kubectl proxy
### curl -X POST -H 'Content-Type: application/yaml' -d '@centos7-deploy.yaml'     http://127.0.0.1:8001/apis/apps/v1/namespaces/default/deployments
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "the object provided is unrecognized (must be of type Deployment): yaml: mapping values are not allowed in this

[2019-01-10 09:53] nikhita commented on #65612
/remove-lifecycle stale

On Thu, Jan 10, 2019 at 3:11 PM fejta-bot <notifications@github.com> wrote:

[2019-01-10 09:57] dixudx commented on #65825
@LRueckert I did not reproduce this error.

[2019-01-10 09:58] zqdlove commented on #72773
/ sig api

[2019-01-10 10:06] yue9944882 commented on #72773
as the error message suggests, yaml content cannot be recognized by apiserver. post it w/ json format will work

/remove-kind bug
/triage support
/close

[2019-01-10 10:06] #72773 closed

[2019-01-10 10:24] zq-david-wang opened #72775 "pod hpa would create extra pods during deployment rolling update when there is no load at all during the rolling upgrade"
**What happened**:
I have deployment with following upgrade strategy

and hpa:

When sending patch command to update container image, (current replicas is 1),  following happended
1. new pod created and getting ready
2. after the new pod ready, the old pod is terminating.
3. hpa make a judgement call to set desired replica to 2
4. after a while, hpa readjust to desired replica back to 1

**What yo

[2019-01-10 10:36] AndrienkoAleksandr commented on #71350
@WanLinghao I want to have ability from client application which uses Kubernetes go-client launch exec with predefined env variables and current working dir. How `kubernetes/pkg/apis/core/types.go` could help in this case?

[2019-01-10 10:40] #67309 closed

[2019-01-10 11:19] gtie commented on #72717
@liggitt patch looks legit.

Thanks for the quick reaction and for the pointers!

[2019-01-10 11:42] LRueckert commented on #65825
I can't give any additional information. Everything I had I provided and I am not working with it anymore.

[2019-01-10 12:11] bclau commented on #72742
@krmayankk The test is mentioned in the description: ``[Feature:Initializers] should create a ResourceQuota and capture the life of an uninitialized pod.``, which is an e2e test.

[2019-01-10 12:42] #67295 closed

[2019-01-10 12:47] nnz1024 opened #72779 "kube-proxy v1.13.0 and 1.13.1 brokes services with externalIPs"
/kind bug

Kubernetes version: 1.13.1.
kube-proxy mode: IPVS.
SDN: flannel.

We are used services like this:
[code]
where IP 192.168.10.201 is from our internal /24 network (in particular, our Kube nodes have IPs 192.168.10.1, 192.168.10.2 etc). Note that there is no conflicts between real IPs and virtual external ones.

Before updating from 1.12.3 to 1.13.1, it worked correctly. In partucular the

[2019-01-10 12:48] nnz1024 commented on #72779
/sig network

[2019-01-10 13:14] mikebryant commented on #68358
/remove-lifecycle rotten

[2019-01-10 13:16] blerko commented on #68358
Another bump on this one

[2019-01-10 13:16] zedtux commented on #39792
Thank you @johnbelamaric, you seem to be right, I will try to deploy k8s service with an `externalName` as suggested to me from zalando/zalenium#822.

[2019-01-10 13:59] alexbrand commented on #71666
Thanks @thockin!

The most recent, related change I could happened 6 months ago: https://github.com/kubernetes/kubernetes/commit/a599697b873ebf4f11d0cba11da29ac4bc04ab32 (PR #66741). With this change, the conformance test started using the 1.1 version of the image, which includes the sleep.

I think it'd be great to know if and how this sleep is being used in tests. @freehan also suggested (in #72

[2019-01-10 14:10] UmanShahzad commented on #68631
Had the same issue, was able to replicate repeatedly. No helm.

[2019-01-10 14:42] jmcmeek commented on #66777
We (IBM Kubernetes Service) started seeing this issue in 1.12 when we explicitly disabled the insecure port for the controller-manager - and are doing the same for same for scheduler 1.13.  I don't use it myself, but some of our customers do.

The insecure port has been deprecated for both the scheduler (in 1.13) and controller-manager (in 1.12).  Should `get componentstatuses` be using HTTPS port

[2019-01-10 14:45] jvleminc commented on #50295
I fixed it through sinilar commands:
https://github.com/kubernetes-sigs/kubespray/issues/1615#issuecomment-453118963

[2019-01-10 15:22] Zyqsempai commented on #72747
I can take it.
Just let's clarify the behavior.
 `kubectl rollout undo deployment --all` should undo all deployments
 `kubectl rollout undo deployment` should return a message something like "Please specify deployment or use the --all flag"

[2019-01-10 15:25] hawran opened #72782 "Different outputs from kubectl rollout history deployment (for different output formats)"
/sig cli

**What happened**:
Hi,
I've been experiencing strange behaviour of the `kubectl rollout history deployment` command with different output formats set up.
Based on the state as follows:
[code]
I'm getting strange outputs (a pod with two containers, just snippets):
[code]
vs. (note different values)
[code]
and
[code]

vs. (correct values)
[code]
vs.
[code]
where really (the deployment in u

[2019-01-10 15:35] Tagar commented on #18096
Our organization uses native HDFS client whenever possible over HDFS-fuse and HDFS-NFS options, because of following reasons.

HDFS-NFS doesn't have a good bandwidth; all HDFS data traffic goes through HDFS NFS servers, essentially making two roundtrips instead of one.

HDFS-fuse has some stability issues (we had cases opened with Cloudera and RedHat, but they led to nowhere).
On top of that HDFS-

[2019-01-10 15:36] hawran commented on #72747
Yes, I imagined something like this.
Just to be sure, is it expected behaviour for all "destructive" commands, `delete` for instance?

[2019-01-10 15:40] juanvallejo commented on #72088
/assign

[2019-01-10 15:45] Zyqsempai commented on #72747
Yes, `delete` has `--all` flag, and will do nothing without specified resource.

[2019-01-10 15:48] Zyqsempai commented on #72747
Here is the message from `delete` "resource(s) were provided, but no name, label selector, or --all flag specified"
I will go with same for `undo`

[2019-01-10 16:00] jrnt30 commented on #57212
tl;dr - The current controller doesn't seem to reconcile updates to the `loadBalancerSourceRanges` for existing target groups properly however it *does* seem to do the right thing if there is a new target group created in conjunction with a change.

## Initial Deployment
Our initial deployment did not include any restrictions via `loadBalancerSourceRanges`.

[code]

**Resultant Security Group Ingr

[2019-01-10 16:12] pingwin4ik commented on #67702
Still have issue on version v1.11.5 :

[code]

[2019-01-10 16:27] bgrant0607 commented on #13606
For posterity, plugins exist: https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/

[2019-01-10 16:46] #63365 closed

[2019-01-10 17:31] discostur commented on #71887
seeing the same messages like @kvaps

Docker Version: 18.09.1
Kernel: 3.10.0-957.1.3.el7.x86_64 #1 SMP Thu Nov 29 14:49:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
k8s: GitVersion:"v1.10.11"

[2019-01-10 17:50] kfox1111 commented on #31824
/remove-lifecycle stale

[2019-01-10 17:59] derekwaynecarr commented on #72651
@liggitt i think we probably could graduate hugepages, and handle the future concerns around topology alignment to a separate feature as it has no impact on the API, just kubelet behavior.

[2019-01-10 18:14] kilianc commented on #51650
bump

[2019-01-10 18:15] liggitt commented on #72651
great, thanks. I opened https://github.com/kubernetes/kubernetes/pull/72784 with a hold on it and assigned it to you and Dawn

[2019-01-10 19:07] surajssd commented on #71134
Created a yaml file and put it in `/etc/kubernetes/manifests` on one of worker nodes named `w0`.

[code]

The pod has been created with name `web-w0`:

[code]

On the worker node `w0` again tried creating an aritifical disk pressure:

[code]

Almost 38G is free, so create a huge file of that size!

[code]

Now if you look at the pods on `w0` they have been evicted, even the static pod `web-w0` has

[2019-01-10 19:11] tallclair commented on #72493
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/72761/pull-kubernetes-integration/40842/

[2019-01-10 19:16] #67588 closed

[2019-01-10 19:23] misterikkit commented on #71859
Looks like the PR missed some calls to `NewConfigFactory` in the `test/integration` area.
/reopen

[2019-01-10 20:47] timothysc commented on #71677
cc @Klaven

[2019-01-10 20:51] yujuhong opened #72788 "Report CPU usageNanoCores for pods/containers in summary API on Windows"
Related: #62047

On Windows, kubelet reports only the cumulative`usageCoreNanoSeconds` for cpu usage.
[code]

On Linux, kubelet reports both `usageCoreNanoSeconds` and the instantaneous `usageNanoCores`.
[code]

Although In the future, most components/monitoring pipelines will switch to using the cumulative metrics, a few features still depend on the instantaneous `usageNanoCores` metrics today. E

[2019-01-10 21:23] bsalamat commented on #72742
Also, resource quota tests are very flaky in our upgrade tests:
https://k8s-testgrid.appspot.com/sig-release-1.12-all#gke-gci-1.11-gci-1.12-upgrade-master

cc/ @vikaschoudhary16

[2019-01-10 21:28] zacharya opened #72790 "Allow custom DNS and IP SANs for kubelet TLS bootstrapping CSR"
**What would you like to be added**: It would be nice for kubelet to be able to accept custom DNS and IP SANs in `bootstrap-kubeconfig` for use when generating the CSR for TLS bootstrapping

**Why is this needed**: Currently the metrics server has to be run in insecure mode if you're using TLS bootstrapping

[2019-01-10 21:31] cam-cen commented on #40244
/remove-lifecycle stale

[2019-01-10 21:34] zacharya commented on #72790
It looks like currently, the bootstrap process just ignores the DNS and IP SAN parameters in client-go:
https://github.com/kubernetes/client-go/blob/bfc2f811739f7d4171a4e0af9f7833c6ff197fbb/util/cert/csr.go#L30-L38
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/certificate/bootstrap/bootstrap.go#L323

A possible approach might be adding options to the bootstrap kubeconfig:
https:

[2019-01-10 21:38] atheiman commented on #51165
this works for mounting one or more files to an existing dir and keeping existing files alongside the files from the configmap

[code]

[code]

[2019-01-10 21:39] zacharya commented on #72790
/sig instrumentation

[2019-01-10 21:52] mbohlool commented on #53777
/assign

[2019-01-10 22:10] a1phonseha commented on #64168
/remove-lifecycle stale

I still see this issue, with below mentioned version.

[code]

[2019-01-10 22:17] Ramyak commented on #71327
I will try to separate this into two PRs. Any other suggestions welcome.

[2019-01-10 22:33] campee commented on #62204
This issue is affecting me as well.

[2019-01-10 22:36] cjschaef commented on #71719
I guess in this case, I do see that the relevant releases are available to address the current set of CVE's, although that would require building a new debian-hypberkube image. If that were to happen, it would be nice to see that new image version cherry picked to the previous kubernetes releases as well.

Recommended package releases for CVE's found within the debian-hyperkube images (more or les

[2019-01-10 22:42] #71329 closed

[2019-01-10 22:44] wangzhen127 commented on #72633
I can reproduce the failure locally. But this is node resize problem, and not node lease's fault. I tried the [resize_nodes e2e tests](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/lifecycle/resize_nodes.go) locally using the following command and they also fail for the same reason.
[code]

Where do those node resize tests run? I don't find them on test grid.

Also cc cluster lifec

[2019-01-10 22:50] bsalamat commented on #72479
Using node selectors is not portable from one cluster to another. It also has the issue that if a user provides nodes in a specific zone, their pods won't be scheduled if that zone is full and while other zones have capacity. Inter-pod affinity is a lot more convenient and much more portable than node selector.

[2019-01-10 22:55] bsalamat commented on #72479
Rack is not a standard label in K8s, but we can make "node", "zone" faster. We could add "region" too, but I don't think it helps a lot, as most of the cluster don't span multiple regions and even if they do, there are probably not many regions in each cluster. As a result, a region usually has a large portion of the nodes of a cluster and filtering by region won't help much.

[2019-01-10 23:01] pydevops commented on #68427
@andyzhangx I also run into the same issue when I am working on a operator for influxdb. I would be nice that azure disk team can solve the issue so that we can maintain consistency. In my case, `Statefulset` is created dynamically in operator code so that I can't delete sts without losing the entire pv. So a hacky way I came up with is to make the new pod with a non existing PVC, so the new pod c

[2019-01-10 23:17] dantman opened #72794 "kubectl list pods in a deployment"
**What would you like to be added**:

Either an argument to `kubectl get pods` that allows you to list pods in a deployment; some way to get a selector string for `--selector` from a deployment in output_format'able way (`describe deployment` does not support -o and `get deployment` does not have selector in a format that `--selector` accepts); or a way to list pods in a deployment.yaml file.

**W

[2019-01-10 23:21] dantman commented on #72794
@kubernetes/sig-cli-feature-requests

[2019-01-10 23:36] cjyar commented on #56903
Maybe there's an underlying theme to all these complaints. In my case, the node's resolv.conf listed two nameservers, one of which is non-recursive and returns REFUSED for hosts outside of our domain. The symptom, from inside a k8s container, is what's reported in this issue: Timeouts and failed name resolution.

When I look up google.com from inside a container, I'm asking coredns to act as my re

[2019-01-10 23:44] wgv-ebishop commented on #57801
@geosword what is the process for adding "the docker secret to the service account"?

[2019-01-10 23:53] #67204 closed

[2019-01-10 23:57] lorenz opened #72796 "Kubernetes API Server healthcheck not failing if etcd is partitioned"
**What happened**:
I'm running a K8s 1.13 cluster and a partial netsplit happened due to a defective linecard dropping only
TCP packets above a certain sizes between two masters, but the third could still communicate with both (so the fault made the network non-transitive). etcd was run on the physical network, but Kubernetes traffic runs on a Wireguard overlay for security and routing is provided

[2019-01-11 00:01] lorenz commented on #72796
/sig api-machinery

(maybe cluster-ops?)

[2019-01-11 00:03] haiyanmeng commented on #70990
@mgdevstack, there are two problems here:
1) so far the broken tests never get run because a bug in the test code (this explains why pull-kubernetes-node-e2e  never fails on our PRs), which should be fixed by #72793 .
2) With #72793, I can reproduce your problem, and verify that the ubuntu image used in our test `ubuntu-gke-1604-xenial-v20170420-1` is broken. We will update the ubuntu image.

[2019-01-11 00:07] dims commented on #72796
cc @jpbetz

[2019-01-11 00:10] bsalamat commented on #72742
Some of the tests also fail in other setups, such as:
https://k8s-testgrid.appspot.com/sig-release-1.12-all#gke-cos-1.12-default
https://k8s-testgrid.appspot.com/sig-release-1.13-all#gke-cos-1.13-default

In all the failures, logs similar to the ones below are seen:

[code]

It looks like there are changes in new versions of the clusters that breaks the assumptions of the tests.

[2019-01-11 00:12] SurenNihalani commented on #69840
I'd like to work on this. Could anyone from the sig group assign it to me?

[2019-01-11 00:32] alena1108 commented on #49466
Very interested to see this feature in. Similar to kubelet and scheduler, for the systems integrating with k8s apis, constantly crashing pods cause increased load for the controllers subscribing to the pod events. Any updates on the proposal/pr? @dixudx

[2019-01-11 00:38] TonyApuzzo commented on #67853
Has this been resolved?  It seems that I am experiencing this as a DO customer where I cannot successfully re-start nodes anymore and I have a wedged PVC that looks bound even though the purported user was deleted.

[2019-01-11 00:55] #71363 closed

[2019-01-11 01:02] ping035627 opened #72799 "Add CPU threshold for eviction"
**What would you like to be added**:
I want to add CPU threshold for eviction.

**Why is this needed**:
I don't know why there is no CPU threshold in eviction threshold, I think we should add CPU threshold for eviction.

[2019-01-11 01:05] ping035627 commented on #72799
@derekwaynecarr @vishh @dchen1107

[2019-01-11 01:08] ping035627 commented on #72799
/sig node

[2019-01-11 02:13] 2rs2ts commented on #53347
/remove-lifecycle stale

[2019-01-11 02:38] liggitt commented on #72790
If you want control over the hostnames for your kubelet, you can:
1. run with --cloud-provider=external and TLS cert rotation enabled
2. set the hostname or IP or DNS addresses on the Node API object

When run with external cloud provider, the kubelet will request serving certs for whatever addresses are set into its Node object's status

[2019-01-11 02:54] jamesjmurtagh opened #72803 "Kubelet stats summary missing usageNanoCores"
It seems that the [metrics-server](https://github.com/kubernetes-incubator/metrics-server) expects to find 'usageNanoCores' included in the CPU metrics data for containers, returned by the CRI remote procedure call, "ListContainerStats". By kubelet's definitions, ListContainerStats returns an object that does not include this field.

As a result, I'm having difficulties satisfying the requirements

[2019-01-11 03:03] jamesjmurtagh commented on #72803
/sig instrumentation-proposals

[2019-01-11 03:03] jamesjmurtagh commented on #72803
@kubernetes/sig-instrumentation-proposals

[2019-01-11 04:06] ijumps commented on #69735
/remove-lifecycle stale

[2019-01-11 04:17] mgdevstack commented on #70990
Thanks @haiyanmeng for looking into this long-awaited issue.

[2019-01-11 04:56] stszap commented on #54798
@chenmin1992 I no longer work on the project where we were running mongo cluster on k8s, but as far as I remember the problem was that mongod process just hangs if it can't resolve it's own hostname on the first try. For other replicaset members it just keeps trying so it's ok if dns server doesn't update for a while for them. Actually, I think that an application should be more robust and keep tr

[2019-01-11 04:58] #67143 closed

[2019-01-11 05:57] zq-david-wang commented on #72775
It seems that there is several issue in hpa code, the calculation is based on current replica, but during rolling upgrade, the max surge would create extra replica containing different versions of replica set, but after calculation the desired replica is written all to the current version of replica set via deployment spec

[2019-01-11 06:10] k82cn commented on #69276
/remove-lifecycle stale

[2019-01-11 06:35] surajssd commented on #72320
One of the pods managed to evict:

[code]

[2019-01-11 06:55] ringtail commented on #72775
@zq-david-wang Pls look at this link(https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#autoscaling-during-rolling-update)

[2019-01-11 07:11] ztewyk opened #72808 "why cgroup not created during kubelet start"
cgroup created during container start:
in kubernetes/pkg/kubelet/cm/container_manager_linux.go
func (cm *containerManagerImpl) createNodeAllocatableCgroups() error {
	cgroupConfig := &CgroupConfig{
		Name: cm.cgroupRoot,
		// The default limits for cpu shares can be very low which can lead to CPU starvation for pods.
		ResourceParameters: getCgroupConfig(cm.capacity),
	}
	if cm.cgroupManager.Exist

[2019-01-11 07:13] #72359 closed

[2019-01-11 07:19] BSWANG commented on #71887
This empty cgroup is created by runc for checking systemd capability:
https://github.com/opencontainers/runc/blob/76520a4bf07b0558aca3b867277d696b41978b44/libcontainer/cgroups/systemd/apply_systemd.go#L109

IMO, Kubelet/cadvisor should ignore this kind of cgroup event.

[2019-01-11 07:33] bboreham commented on #56903
The underlying theme is “DNS is complicated and has many failure modes”.

If you wish to challenge the behaviour of CoreDNS you’d do better in https://github.com/coredns/coredns/issues

[2019-01-11 07:59] palash25 commented on #34059
Hi :wave: , I will be working on network/service.go file. Will send a PR soon. :smile:

[2019-01-11 07:59] feiskyer commented on #62514
cc @ritazh Please post the results here when you got results.

[2019-01-11 08:01] hanxiaoshuai opened #72810 "when SessionAffinityConfig is different, enqueueService in update Service handler"
**What would you like to be added**:
https://github.com/kubernetes/kubernetes/pull/72809
**Why is this needed**:
when SessionAffinityConfig is different, enqueueService in update Service handler

[2019-01-11 08:31] zq-david-wang opened #72811 "Horizontal Pod Autoscaler should use resource limit as its base for calculation"
**What would you like to be added**:
I hope hpa could make its calculation based on resource limit.
**Why is this needed**:
HPA is all about scale up/down at runtime, it is counter-intuitive to calculate target based on resource request.  If request is 50% of limit, a 80% percent hpa target would trigger scale up when average usage is over 40% limit....

[2019-01-11 08:33] zq-david-wang commented on #72811
/sig autoscaling

[2019-01-11 08:33] zq-david-wang commented on #72775
/sig autoscaling

[2019-01-11 08:51] PierluigiLenociAkelius commented on #69461
/remove-lifecycle stale

[2019-01-11 08:58] tatsuhiro-t commented on #72320
I've got the same result.  One of the pod could be evicted but overall there were pods which could not be evicted.  I guess that STATUS gets Running in a short period of time and eviction logic grants a eviction.

[2019-01-11 09:08] sicklife commented on #62594
I encounter this issue too, and finally  I found that my  server take toooooooo much time to start up.

longer than the `initialDelaySeconds`, so the deploy fall into a infinity loop.

[2019-01-11 09:59] Joseph-Irving commented on #72808
/sig node

[2019-01-11 11:23] veezhang opened #72817 "How to wait for all completed when use kubectl apply -f xxx.yaml?"
How to wait for all completed when use kubectl apply -f xxx.yaml?
Not check it use kubectl get one by one.

[2019-01-11 11:30] #65408 closed

[2019-01-11 11:35] ankitam23 opened #72819 "Caused by: java.net.UnknownHostException"
Caused by: java.lang.RuntimeException: java.net.UnknownHostException: dm-authapi-986c54956-7sr4x
	at rx.exceptions.Exceptions.propagate(Exceptions.java:57)
	at rx.observables.BlockingObservable.blockForSingle(BlockingObservable.java:463)
	at rx.observables.BlockingObservable.single(BlockingObservable.java:340)
	at com.netflix.client.AbstractLoadBalancerAwareClient.executeWithLoadBalancer(AbstractL

[2019-01-11 12:22] Deepak1100 commented on #70450
Hi
i have scaled my cluster to 100 node from 40 nodes as there were 400 pending pods and for some of the nodes all pods get schedule properly while around 28 nodes have only dnsmasq and kube-proxy was running.
after around 40 min those node had weave and other pods started running.
i coundn't able to find any other issue in my cluster apart from kube-scheduler got restarted because same error ment

[2019-01-11 12:37] Foxsa commented on #72779
Having the same problem on Kubernetes 1.13.2

btw Thanks for a workaround!

[2019-01-11 13:01] andyzhangx commented on #68427
@pydevops thanks for sharing, this could be the only workaround now.

[2019-01-11 13:38] sebglon commented on #72460
the same for me on 1.11.6-gke.0

[2019-01-11 13:47] slassh opened #72821 "E0111 13:39:34.480301 1 leaderelection.go:234] error retrieving resource lock kube-system/ceph.com-cephfs: endpoints "ceph.com-cephfs" is forbidden: User "system:serviceaccount:kube-system:default" cannot get resource "endpoints" in API group "" in the namespace "kube-system""
**What happened**:
E0111 13:39:34.480301 1 leaderelection.go:234] error retrieving resource lock kube-system/ceph.com-cephfs: endpoints "ceph.com-cephfs" is forbidden: User "system:serviceaccount:kube-system:default" cannot get resource "endpoints" in API group "" in the namespace "kube-system"
**What you expected to happen**:
I installed ceph.com/rbd provisioner in default namespace, without rbac

[2019-01-11 13:52] slassh commented on #72821
/sig api-machinery
(leaderelection.go)

[2019-01-11 13:56] lborie commented on #72460
The same on 1.11.5-gke.5.
A bit confused by this problem and the impact around it

[2019-01-11 14:02] #72821 closed

[2019-01-11 14:18] babin93 commented on #28551
Hi,
I am having a similar issue.
I have some services similar to this one

**InitialService.yaml**
[code]
When I do
`kubectl get services --export -o yaml > backup.yaml`
The generated file contains a ClusterIp and a Resource Version as many other informations.

In the annotations, the annotation `kubectl.kubernetes.io/last-applied-configuration` contains a copy of **InitialService.yaml**.

If I do

[2019-01-11 14:22] qgicup commented on #62511
Any solution so far? Experiecing the same problem here

[2019-01-11 14:30] kesterriley commented on #57801
Instead of adding the secret in to the yaml file as detailed above, I resolved this by copying the results of my docker login, in to the following locations:

sudo mkdir -p /root/.docker/
sudo cat <<EOF >  /root/.docker/config.json
{
	"auths": {
		"my-docker-repo.com:5000": {
			"auth": "my encrypted password generated from docker login"
		}
	},
	"HttpHeaders": {
		"User-Agent": "Docker-Client/18.

[2019-01-11 14:55] jnummelin commented on #71712
We seem to be hitting the same issue.

Metrics server logs has these kind of errors:
[code]

Those repeat for each pod on every node.

Also in our case, I can see the stats from kubelet API (secured):
[code]

Versions:
[code]

[2019-01-11 15:00] babin93 commented on #28551
@liggitt Is there some documentation about it somewhere ? It would be interesting to have it available easily.

[2019-01-11 15:02] bahho commented on #49466
We've even seen restart counts >6k.
Definitely a must feature imho.

[2019-01-11 15:08] #57459 closed

[2019-01-11 15:27] arjunrn opened #72824 "HPA does not support AverageValue for Object metrics"
**What happened**: Specifying the `averageValue` for an `Object` type metric in the HPA has no effect.

**What you expected to happen**: The target scaled based on the number of replicas.

**How to reproduce it (as minimally and precisely as possible)**:
Create an HPA with custom metric scaling on an object, for example an ingress like so:
[code]
And describe the created HPA. The metrics status is

[2019-01-11 15:48] GregSilverman opened #72826 "Coredns service patch no longer works"
**What happened**:

Previously running kubeadm, kubelet 1.12.1, had to apply CoreDNS patch to fix issue that has been diagnosed as per [dns-debugging-resolution](https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/)

[code]

Applied fix to CoreDNS, as per [selector of kube-dns svc does not match coredns pod](https://github.com/kubernetes/kubernetes/issues/63900#issuecommen

[2019-01-11 15:50] mjaow commented on #72808
is there any logs?

[2019-01-11 15:53] GregSilverman commented on #72826
/sig network

[2019-01-11 16:10] #72657 closed

[2019-01-11 16:16] JuanManuelVizcainoAbad commented on #40651
+1

[2019-01-11 16:17] szuecs commented on #56903
@bortek `GRUB_CMDLINE_LINUX_DEFAULT="ipv6.disable=1 quiet splash"` got from https://askubuntu.com/questions/309461/how-to-disable-ipv6-permanently

[2019-01-11 16:41] lmdaly opened #72828 "Topology Manager Tracking Issue"
This issue is to track the feature implementation of the Topology Manager as outlined in this proposal document.

https://github.com/kubernetes/community/pull/1680/files

**What would you like to be added**:
Topology Manager component in Kubelet which collects hints from other Kubelet components in order to create a best fit Socket alignment.

**Goals are**:
- Arbitrate preferred socket affinity f

[2019-01-11 16:42] lmdaly commented on #72828
/sig node

[2019-01-11 16:44] lmdaly commented on #72828
@ConnorDoyle @balajismaniam @nolancon

[2019-01-11 16:46] mjaow opened #72829 "support get resource by name with --all-namespaces=true"
**What would you like to be added**:
why not support get resources by name with --all-namespaces=true
like
`kubectl get pods redis-xxx --all-namespaces=true`

**Why is this needed**:
in some cases,user may only know the podname and donnot know the namespace of it.It 's inconvenient for him to find it in cluster

[2019-01-11 16:47] mjaow commented on #72829
/sig cli

[2019-01-11 16:51] ritazh commented on #62514
Confirming this issue cannot be reproduced on v1.11+
Using aks-engine to create a cluster with 2 agentPools `agent1` and `agent2`, with `primaryAvailabilitySetName` set to agent1 availability set. This will result in agent1 availability set to be added to backend pool of the loadbalancer, as expected.

[code]

Test deployment/svc yaml:
[code]

This forces the pod to be deployed on a node in agentP

[2019-01-11 16:55] aalubin commented on #71712
@jnummelin We couldn't solve the issue, so we gave up cri-o because of that.
For the time being we returned to docker, with plans to move to containerd in the near future.

[2019-01-11 17:10] #45811 closed

[2019-01-11 17:46] MrHohn commented on #53754
https://github.com/kubernetes/kubernetes/pull/72682 should fix this.

[2019-01-11 18:09] song-jiang commented on #72696
I am hitting the same `The object already exits` issue on AWS windows server 1809 with container.

[2019-01-11 18:32] phoenixking25 commented on #72746
@cppforlife i am interested in this as i got the basic idea, but i am new to kubernetes codebase so need help for sure.

[2019-01-11 18:37] #70990 closed

[2019-01-11 18:47] vishh commented on #72799
xref #42910
Why do you need CPU usage based evictions?

[2019-01-11 18:49] GregSilverman commented on #72826
Okay, got the coredns logs:

[code]

[2019-01-11 19:04] GregSilverman commented on #72826
/area dns

[2019-01-11 19:05] chrisohaver commented on #72826
CoreDNS is logging the loop probe tests it sends itself (the HINFO) request... so It seems to be logging queries.  So, it seems it did not receive any queries during the time.

[2019-01-11 19:12] GregSilverman commented on #72826
Strange, since I've run `kubectl exec -ti busybox -- nslookup kubernetes.default` a boatload of times.

[2019-01-11 19:17] chrisohaver commented on #72826
try sending queries directly to one of the coredns pods... e.g. assuming one is still `192.168.1.198`
[code]

[2019-01-11 19:19] GregSilverman commented on #72826
Also, looked at `journalctl` and did not see any outstanding errors being thrown.

[2019-01-11 19:22] GregSilverman commented on #72826
@chrisohaver, returning nothing in the logs.

[2019-01-11 19:33] GregSilverman commented on #72826
Okay, deleted and recreated coredns and now getting the following:

[code]

nothing in logs:

[code]

[code]

Why is it failing inside `infoblox/dnstools`?

Very strange.

[2019-01-11 19:35] GregSilverman commented on #72826
[code]

[2019-01-11 19:40] instantlinux commented on #67019
I have a use-case for this: see the [samba domain controller setup](https://wiki.samba.org/index.php/Setting_up_Samba_as_an_Active_Directory_Domain_Controller). If you can't override hostname, you can't run the domain controller as the desired Netbios name with hostNetwork=true.

I do not observe the behavior that @squeed reports; see my [docker-compose.yml](https://github.com/instantlinux/docker-

[2019-01-11 19:45] GregSilverman commented on #72826
Okay, here it succeeds and fails again on `kubernetes.default` with coredns pod thrown in between:

[code]

[2019-01-11 20:00] chrisohaver commented on #72826
In the output you showed, the `infoblox/dnstools` query is using the the dns server cluster ip (10.96.0.10), and the busybox query is specifying one of the pod ips directly.  That could indicate problems with cluster ip routing...

Regarding the lack of logging, I don't see the loop checks in the last set of logs you sent. Can you share your coredns configmap?

[2019-01-11 20:03] GregSilverman commented on #72826
Finally (a series of successful queries on `kubernetes.default` with a failure at the end -> but, this time it managed to log the output)

[code]

[2019-01-11 20:13] GregSilverman commented on #72826
Another series of tests with odd results (several successful `busybox -- nslookup kubernetes.default` lookups, followed by a failure, followed by a success in `infoblox/dnstools` followed by another failure on `busybox`):

[code]

[2019-01-11 20:16] GregSilverman commented on #72826
@chrisohaver: when I deleted and recreated coredns, I forgot to add the log option to the config map. In any case, hopefully the above tests are sufficient.

[2019-01-11 20:25] GregSilverman commented on #72826
One last set of tests, tail end of logs  (success in both `busybox` and `dnstools`, then failure in both):

[code]

[2019-01-11 20:27] GregSilverman commented on #72826
Here's the config map, all the same:

[code]

[2019-01-11 20:47] jonfriesen commented on #68026
@war-turtle the failures are still present in https://github.com/kubernetes/kubernetes/blame/master/hack/.golint_failures

there are details in the first message on how to claim + solve issues :)

[2019-01-11 21:03] PatrickLang commented on #72722
/assign @PatrickLang

[2019-01-11 21:13] PatrickLang commented on #69905
/label good-first-issue

[2019-01-11 21:17] PatrickLang commented on #64801
/remove-lifecycle stale

[2019-01-11 21:30] dineshgovindasamy commented on #64188
@PatrickLang

What's the minimum OS version needed? Windows Server 2019, or a future release?
[Dinesh]: Minimum OS version needed is 2019

Will this be possible to fix for dockershim, or just CRI-containerD?
[Dinesh]: yes its possible to fix for Dockershim as well. but we are starting it with ContainerD. ContainerD is already done and available for testing.

[2019-01-11 21:35] PatrickLang commented on #69904
/good-first-issue

[2019-01-11 21:37] PatrickLang commented on #69905
/good-first-issue

[2019-01-11 21:40] #72357 closed

[2019-01-11 21:40] GregSilverman commented on #72826
Yep, that was my impression, too. Any ideas would be most welcome. This is rather odd, and quite frustrating.

[2019-01-11 21:54] pjh commented on #69904
/cc @jingxu97

[2019-01-11 22:02] #49038 closed

[2019-01-11 22:07] mbohlool commented on #64483
The field is moved to versions structure and it called schema per version. We plan to remove the top level fields in v1, so this will be done automatically.

[2019-01-11 22:07] #64483 closed

[2019-01-11 22:35] pbarker opened #72840 "Dynamic audit unrecoverable webhook failure state"
**What happened**:
Using the dynamic auditing feature the webhook host was unreachable. On deleting the object the apiserver did not remove the backend. A new backend was attempted to be provisioned, and the apiserver did not respond.

**What you expected to happen**:
The backend to be removed and the new one applied.

**How to reproduce it (as minimally and precisely as possible)**:
create a back

[2019-01-11 22:37] pbarker commented on #72840
/sig auth

[2019-01-11 23:11] ping035627 commented on #72799
Sometimes cpu is too high, I think we should evict some pod to ensure the node normal.

[2019-01-11 23:53] #62479 closed

[2019-01-11 23:54] #68750 closed

[2019-01-12 00:03] dmarkey commented on #64743
Indeed on arch I have the same problem - 4.20.0-arch1-1-ARCH

[2019-01-12 00:15] ryanlovett opened #72841 "Setting is-default-class=false does not persist on Azure's "default" storageclass"
**What happened**:
I patched the "default" storageclass so that `storageclass.kubernetes.io/is-default-class` was set to false. After waiting from 3-10s, it reverts back to true. This also happens if I additionally set managed-premium to be the default storageclass.

**What you expected to happen**:
The "default" storageclass will not reacquire is-default-class=true.

**How to reproduce it (as min

[2019-01-12 00:17] ryanlovett commented on #72841
@kubernetes/sig-azure-bugs

[2019-01-12 00:55] fredbwang commented on #12167
Where did you execute this command? Can I have more details on how you solve this?

[2019-01-12 01:01] erikh commented on #72485
1.13.2 doesn't have this patch; would it be possible to make it for 1.13.3?

[2019-01-12 01:05] saad-ali commented on #72538
I will look in to regenerating the CSI client with an older version of gRPC as a temporary workaround.

What are the timelines for moving to `etcd 3.4`?

[2019-01-12 01:14] mml commented on #50564
/remove-lifecycle rotten
/assign jpbetz

On Fri, Jan 11, 2019 at 2:15 PM fejta-bot <notifications@github.com> wrote:

[2019-01-12 01:33] wgliang commented on #71859
@misterikkit I will do it.

[2019-01-12 01:38] mtaufen commented on #61669
@tallclair thoughts on migrating this flag, vs. deprecating it and removing it in favor of just using PodSecurityPolicy, rather than having to specify allowed unsafe sysctls in two places?

[2019-01-12 01:41] mtaufen commented on #61650
@saad-ali @msau42 is this flag still considered experimental, or can I migrate it without worrying about adding a feature gate?

[2019-01-12 01:42] #24614 closed

[2019-01-12 01:42] #71928 closed

[2019-01-12 01:45] liggitt commented on #72829
does this work: `--all-namespaces --field-selector=metadata.name=<name>`

[2019-01-12 01:48] msau42 commented on #61650
This flag denotes the flex volume directory, which we still support and is GA.

[2019-01-12 01:49] liggitt commented on #72817
what do you mean by completed? apply returns when all objects have been submitted to the server

[2019-01-12 03:03] veezhang commented on #72817
all objects have been submitted to the server, and the server have processed.
such as, the pod status has been Running.

[2019-01-12 03:25] ping035627 opened #72846 "About disable Memory/Disk pressure predicates if TaintNodesByCondition enabled"
When TaintNodesByCondition is enabled, Memory/Disk pressure predicates is disabled. I think it's inappropriate. When a node is in Memory/Disk pressure, we shouldn't  schedule a pod on the node, otherwise it will cause kubelet eviction, I think Memory/Disk pressure is different with NetworkUnavailable or others, even if  TaintNodesByCondition is enabled, we stiil need CheckNodeMemoryPressurePredica

[2019-01-12 03:45] BenTheElder commented on #24614
This is done now. Only took two years :^)

[2019-01-12 04:10] #69703 closed

[2019-01-12 05:30] war-turtle commented on #68026
Sorry I misunderstood the issue

[2019-01-12 05:59] surajssd commented on #68397
There is a similar issue https://github.com/kubernetes/kubernetes/issues/72320 where StatefulSet could not be evicted from a node due to PodDisruptionBudget has `maxUnavailable: 25%` set.

[2019-01-12 06:59] ping035627 commented on #72846
If some pod set tolerate Memory/Disk pressure, or controller doesn't turn on TaintNodesByCondition (while scheduler turn on TaintNodesByCondition), it will be scheduling pod to the node continuously, the kubelet evict pod from the node continuously at the same time. I think it's not good.

[2019-01-12 07:57] yanghaichao12 opened #72853 "why need different cgroup path between cgroupfs and systemd"
@dashpole yesterday,i switch cgroup-driver from cgroupfs to systemd for kubelet and docker,but always got this info:
`Jan 12 15:03:25 host-10-47-223-19 kubelet: F0112 15:03:25.286483   28583 kubelet.go:1374] Failed to start ContainerManager Failed to enforce Kube Reserved Cgroup Limits on "/kubelet.slice": "/kubelet.slice" cgroup does not exist`
my part cofiguration of kubelet is like this
`--kube

[2019-01-12 07:58] yanghaichao12 commented on #72853
/sig node

[2019-01-12 08:47] krmayankk commented on #72320
/assign

[2019-01-12 09:38] k82cn commented on #72846
If this is user's scenario, we should not block it.

User need to correct their setting

[2019-01-12 18:34] #63944 closed

[2019-01-12 19:49] avoosh commented on #29789
/remove-lifecycle stale

[2019-01-12 20:09] liggitt opened #72863 "broad containerd e2e failures"
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=containerd

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=containerd#e927cd3b7abc588dea28:
![screen shot 2019-01-12 at 3 14 04 pm](https://user-images.githubusercontent.com/980082/51078014-cb0ea080-167c-11e9-8e50-be22130cc7c5.png)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=containerd

[2019-01-12 20:13] liggitt commented on #72863
the relevant commit range on master appears to be d2d9a3aba471e56e1a753a05061dc6cb60137711...dd99c2ba7957269cb579f733b69cef4d3d9b1d30

the relevent commit range in test-infra appears to be https://github.com/kubernetes/test-infra/compare/e71e34fe413bb04fa1677e18d7953e79bca92fb4...a7a432b7beddb017148e5586123b4e4f1d9c00d9

[2019-01-12 20:45] liggitt commented on #72863
cc @Random-Liu @yujuhong

[2019-01-12 20:48] BenTheElder commented on #72863
for test-infra:
- [02fafe2](https://github.com/kubernetes/test-infra/commit/02fafe2f3276acdc8aeb99ecf711d6b3de387bc8) aws-janitor: clean up ELBs - definitely unrelated
- [0a3cb67](https://github.com/kubernetes/test-infra/commit/0a3cb672712e83976ed50bb5007ce3e5c6ae4481) Update kubekins tag for eks jobs - definitely unrelated
- [d6e04d5](https://github.com/kubernetes/test-infra/commit/d6e04d50439b5f

[2019-01-12 20:51] liggitt commented on #72863
thanks for checking. it's also possible the commit ranges I linked to need to be expanded slightly... that was my first attempt at correlating merge timestamps with the triage board failures... it's possible I got timezone correlation wrong a few hours in one direction or the other.

[2019-01-12 20:52] BenTheElder commented on #72863
ah, they probably do then. otherwise I'd say something else must have changed out of band (perhaps there's a pointer to a containerd version to use somewhere or something).

[2019-01-12 22:34] taragu commented on #69106
Closed by #70619

/close

[2019-01-12 23:46] pbarker commented on #72840
/cc @kris-nova

[2019-01-13 00:15] nikopen commented on #69429
/milestone v1.11

[2019-01-13 00:40] #56302 closed

[2019-01-13 01:41] #67449 closed

[2019-01-13 05:05] IlyaSemenov commented on #44370
I believe at least better communication should be added.

/remove-lifecycle rotten

[2019-01-13 05:08] feiskyer commented on #62514
@ritazh Thanks. Then let's close the issue.

/close

[2019-01-13 05:08] #62514 closed

[2019-01-13 05:10] MaciekPytel commented on #72824
cc: @DirectXMan12

[2019-01-13 05:45] Khaja514 commented on #62511
It got rectified to me after many attempts
but trying to figure it out how it got rectified.

Downgraded some network level plugin image in eks service

[2019-01-13 07:01] ping035627 commented on #72846
But the node has pressured, it will cause the kubelet evict pod from the node, I think we should provide as perfect mechanism as possible to ensure the stability of the nodes, and limit some behavior of users.

[2019-01-13 07:47] #64720 closed

[2019-01-13 10:10] grpubr commented on #71071
一样一样

[2019-01-13 10:50] #67486 closed

[2019-01-13 11:54] paralika opened #72871 "`kubeadm` package should depend on the same version of `kubelet` and `kubectl` packages"
**What happened**:
`kubeadm` package always install latest version of `Kubelet` and `kubectl` packages.

[code]
**What you expected to happen**:
`kubeadm` package should be depend on the same version of `kubelet` and `kubectl`.
Above command should download `kubeadm 1.11.6`, `Kubelets 1.11.6` and `kubectl 1.11.6`.

**How to reproduce it (as minimally and precisely as possible)**:
Add Kubernetes re

[2019-01-13 11:56] paralika commented on #72871
/sig release

[2019-01-13 12:52] #67491 closed

[2019-01-13 12:55] dmarkey commented on #64743
Should we re-open this issue?

[2019-01-13 13:33] neolit123 commented on #72819
hi, this issue tracker is only about bugs in core kubernetes.
try using our support channels instead:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

thank you.
/close

[2019-01-13 13:33] #72819 closed

[2019-01-13 13:35] neolit123 commented on #72766
/sig node
/area testing

[2019-01-13 13:57] neolit123 commented on #72757
/remove-kind feature
/kind documentation
/sig cluster-lifecycle

previously the addons had documentation about the label:
https://github.com/kubernetes/kubernetes/blob/05ce0506f87f727fbadf0fc753a7af7c6675038a/cluster/addons/README.md

but it was removed as the label is deprecated..

since it's deprecated i don't think we should document it, but yes the YAMLs need a cleanup.

cc @MrHohn

[2019-01-13 13:57] neolit123 commented on #72757
/remove-kind documentation
/kind cleanup

[2019-01-13 14:01] neolit123 commented on #72723
thanks for the report but this is not a bug.

there is an initial timeout for the kubelet that is much shorter than 4m0s and it's 40s.
once this passes there is still a chance that the control plane can boot up.

think of this like `kubelet-check` is a "phase" of the whole `wait-control-plane` process.

/close

[2019-01-13 14:01] #72723 closed

[2019-01-13 14:04] neolit123 commented on #72702
/sig api-machinery

[2019-01-13 14:10] neolit123 commented on #72684
/sig cluster-lifecycle
^ adding this SIG due to minikube, but ideally this issue should not be in this repo as it doesn't seem like a bug.
for minikube bugs please use https://github.com/kubernetes/minikube

[2019-01-13 14:15] neolit123 commented on #72871
@kubernetes/sig-cluster-lifecycle
cc @mauilion @chuckha

[2019-01-13 14:15] neolit123 commented on #72871
/sig cluster-lifecycle

[2019-01-13 15:40] MichaelOrtho commented on #53059
I have similar issue in DigitalOcean. If pod is scheduled for deployment on another node it will break as current node+pod are already linked and old pod will not detach before new one is attached.

FIX attempt 1: Add `RollingUpdate` `maxUnavailable: 100%` --> FAILED
FIX attempt 2: Add FIX1 + add affinity to deploy pod only to one node --> SUCCESS

This means that you will have service for few sec

[2019-01-13 15:46] dixudx commented on #72871
Two  options for this:

1. install `kubelet` and `kubectl` with targeted version first, and then `kubeadm`;
2. bumped `kubelet` and `kubectl` with exact the same version with `kubeadm`;

Option 1 is doable;
Option 2 is not preferable. From the view of packaging, I don't think it's a good idea to have such a strict binding.

[2019-01-13 15:55] #66672 closed

[2019-01-13 18:20] liggitt commented on #72863
Huh. Disconcerting, but ok.

/close

[2019-01-13 18:20] #72863 closed

[2019-01-13 18:39] etopeter commented on #17512
I made a small plugin [kubectl-utilization](https://github.com/etopeter/kubectl-utilization), that provides functionality @geerlingguy described. Installation via krew is not avilable yet as they need to merge PR but you can give it a try with curl method. This is implemented in BASH and it needs awk and bc.
With kubectl plugin framework this could be completely abstracted away from core tools.

[2019-01-13 19:37] jeliasson commented on #33664
Following the examples of apply a dynamic label, one could also apply the Git SHA to further identify deployments. I recommend [envsubst](https://www.gnu.org/software/gettext/manual/html_node/envsubst-Invocation.html) for bringing in environment variables.
[code]

[2019-01-13 19:51] micw commented on #33664
Be aware that you might to get random versions deployed this way (e.g. when a workload is migrated and the image tag has changed meanwhile). So using an admission controller webhook that resolves the tag to a hash would result in much more predictable results!

[2019-01-13 20:20] taragu commented on #71487
@saad-ali I'd like to work on this issue

[2019-01-13 20:37] dnoland1 commented on #57534
/remove-lifecycle stale

[2019-01-13 22:43] TonyApuzzo commented on #67853
/remove-lifecycle rotten

[2019-01-13 23:02] #67488 closed

[2019-01-14 00:03] #67502 closed

[2019-01-14 00:03] #67474 closed

[2019-01-14 00:03] #67517 closed

[2019-01-14 00:05] mitar commented on #69816
/remove-lifecycle stale

[2019-01-14 00:09] mitar commented on #69640
/remove-lifecycle stale

[2019-01-14 01:32] fatsheep9146 commented on #72327
Since I just fixed the local storage provisioner's test case with fake.ClientSet, I think I can help with this, if none of you have spare time to do this. May I?
/cc @cofyc @msau42 @jsafrane

[2019-01-14 01:59] dims commented on #72538
we should still give the folks who take care of etcd that we are using different grpc versions than what they may be expecting us to use (cc @xiang90 @jpbetz)

[2019-01-14 02:02] cofyc commented on #72013
Closing via https://github.com/kubernetes/kubernetes/pull/72045.

[2019-01-14 02:02] #72013 closed

[2019-01-14 02:02] cofyc commented on #56236
/close
Closing via https://github.com/kubernetes/kubernetes/pull/72045.

[2019-01-14 02:02] #56236 closed

[2019-01-14 02:53] ShuYingya commented on #72604
Hi @jingxu97 , do you think it is reasonable to ask DSWP to don't remove attachable volume from DSW if it is found in ASW but not globallyMounted?

[2019-01-14 03:02] cofyc commented on #72327
Thanks! But my proposal to support concurrent control and incremental resource version in client-go general ObjectTracker is rejected (xref: https://github.com/kubernetes/kubernetes/pull/72353). We still need `volumeReactor` for our testing.

But one thing we can do is to use real watch mechanism instead of interacting with internal structs (e.g. cache). But I suggest we do it case by case.

/clos

[2019-01-14 03:02] #72327 closed

[2019-01-14 03:42] dnoland1 commented on #57534
/remove-lifecycle rotten

[2019-01-14 07:36] warmchang commented on #58682
/cc

[2019-01-14 08:13] Random-Liu commented on #72863
All test failed because of not being able to pull image from `quay.io`:
[code]

I guess this is a bug in quay.io, and they fixed it now.