[2015-10-18 00:32] yujuhong commented on #15661
I found the culprit. It is caused by the go-dockerclient change and how cadvisor uses it. See the details in https://github.com/kubernetes/kubernetes/issues/15805#issuecomment-148963658.

Closing this issue as dup.

[2015-10-18 00:32] #15661 closed

[2015-10-18 06:05] fabioy commented on #15713
#15787 caused gce to go yellow, with this failure:

Kubectl client Simple pod should support exec through an HTTP proxy

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:378
Oct 17 16:05:31.702: Can't build static kubectl due to missing hack/build-go.sh. Error=stat /var/lib/jenkins/jobs/kubernetes-e2e-gce/workspace/hack/build-go.sh: no such file or director

[2015-10-18 08:32] #7826 closed

[2015-10-18 09:03] #15432 closed

[2015-10-18 09:47] davidopp commented on #15643
Can we move this out of v1.1 milestone now that #15733 has been merged?

[2015-10-18 10:13] ntquyen commented on #499
@streamnsight Thanks a lot! Your solution saves my day!

[2015-10-18 11:32] rvrignaud commented on #13585
+1 for this issue. This is really annoying.

[2015-10-18 11:35] #15575 closed

[2015-10-18 13:26] pmorie commented on #15816
@mikedanese Seems like another data point in favor of building from godeps.

[2015-10-18 14:10] ashcrow commented on #15713
@fabioy That case should only occur if there is no 386 ```kubectl``` in the release tars AND what is required to build a static ```kubectl``` does not exist. Can you give some information on the GCE setup you had yellow show up?

[2015-10-18 14:36] #6966 closed

[2015-10-18 17:05] willmore opened #15823 "Very high latency connecting to container via virtual IP"
**Quick Description**
Connecting to a "benign" k8s-hosted http application via virtual IP is incurring a consistent ~40sec response overhead.

From within the container:
[code]

From the node host, connecting to exposed port:
[code]

Note the **40sec** difference - this never seems to change. I was able to reproduce on multiple nodes.

I've run the pod/service in a Vagrant testbed without issue. I

[2015-10-18 19:22] pmorie commented on #15805
Classy digging :trophy:

[2015-10-18 19:28] mikedanese commented on #15820
@saad-ali @thockin

[2015-10-18 19:31] mikedanese commented on #15823
cc @ArtfulCoder

[2015-10-18 21:21] bgrant0607 commented on #7242
cc @nikhiljindal

[2015-10-18 21:34] tylrtrmbl commented on #10959
I just noticed this today on GKE. I was able to restart docker. I had to manually `docker pull` all my images after that, but I'm up and running. This is a concerning problem though. :grimacing:

[2015-10-18 22:19] smarterclayton opened #15826 "Consider writing last O(200 bytes) of container log output to pod status for terminated pods"
A significant debugging obstacle to pod failures are easy access to the last snippet of logs.  We could potentially add the last few hundred bytes of stdout/err or the termination log to the status of a terminated container in order to enable better debugging ux.  As that could grow pod json by a significant percentage, we could restrict it to failed pods, or have it be a separate snippet recorded

[2015-10-19 00:57] feiskyer commented on #15528
@yujuhong No, I'm running master and node on same vm

[2015-10-19 01:47] JiaMingLin opened #15827 "Troubles in HDFS deployment on Kubernetes"
Hi

I am trying to deploy Hadoop 2.7.1 on Kubernetes, Docker. But I got problem when the Namenode was starting.

I use the Flannel network, and enable the dns service, then make the service and replication-controller templates with some ports exposed such as 8020, 50070 and so on. And the pods were provisioned by the replication-controller.

I configured the Namenode host by using Service name, fo

[2015-10-19 03:41] smarterclayton opened #15829 "Remove use of legacy pods proxy path in client code"
The construct:

[code]

should be replaced everywhere with

[code]

`pods/proxy` existed from 1.0 onwards.

[2015-10-19 03:42] smarterclayton opened #15830 "No service proxy subresource"
We created and added "pods/proxy" subresource to remove the need for the generic top level prefix proxy.  We should add the equivalent for service and convert all code to use it (code that does not have to be backwards compatible with a Kube 1.0 or 1.1 server, such as e2e).  We should mark the "proxy/service" construct deprecated for 1.2.

[2015-10-19 03:43] smarterclayton commented on #15830
Spawned from #15829, but since service proxy is not in 1.0 we can't change client code.

[2015-10-19 03:44] smarterclayton commented on #15829
We should also mark proxy/pods deprecated in 1.2

[2015-10-19 03:52] davidopp commented on #14500
@soltysh any update on this?

[2015-10-19 05:57] davidopp commented on #15743
Good point about using similar signals as cluster autoscaling; maybe the thing @quinton-hoole is talking about could be a service provided by the cluster autoscaler, on both cloud providers and bare metal (even though cluster autoscaling obviously doesn't work on bare metal). This will make sense once cluster autoscaler is a Kubernetes component; right now it is a GCP component and can't be custom

[2015-10-19 06:42] cheld commented on #11819
@chiefy

You must remove the old configuration before provisioning a new cluster. This should help:
[code]

Maybe the kube-up scipt should overwrite the old configuration?

[2015-10-19 07:31] resouer commented on #15803
@dalanlan Our original deploy scripts can support both, and you can help with e2e tests here (as you once pointed out that)

[2015-10-19 08:14] lorenzvth7 opened #15833 "Unable to mount volumes for pod"
I'm trying to create a openshift-project which uses a database (mysql). This is a persistent database. So the content of it will be retained when the pod dies. So I'm working with OpenShift V3, kubernetes and docker. After searching to the solution, I found out it's a kubernetes issue.

First of all I've installed NFS and did the necessary steps to create persistent volumes (pv's). I'm able to cre

[2015-10-19 08:19] gmarek commented on #15716
@vishh - thanks, adding the binary solved problems with empty profiles. If anyone else want to profile it starting up a proxy is (probably) one way, another one is setting up an ssh tunnel to the master machine:
[code]
and using pprof locally:
[code]

The advantage of the latter is that it doesn't require setting up a kubeproxy and will allow profiling of pretty much anything (as long as it's prox

[2015-10-19 08:28] piosz commented on #15716
@gmarek @vishh how about adding a short paragraph to [debugging](https://github.com/kubernetes/heapster/blob/master/docs/debugging.md) doc?

[2015-10-19 08:31] feihujiang opened #15834 "Feel a little confused to use --all-namespaces flag"
The  desciption of --all-namespaces is listing the requested object(s) across all namespaces. Namespace in current context is ignored even if specified with --namespace."

But when I used the following command:
```#./cluster/kubectl.sh get pods counter  --all-namespaces```
error: namespace may not be empty when retrieving a resource by name
```#./cluster/kubectl.sh get -f ./examples/blog-logging/c

[2015-10-19 08:40] feihujiang commented on #15834
And  why ```./cluster/kubectl.sh describe``` couldn't use --all-namespaces flag.

[2015-10-19 08:57] stefwalter commented on #15726
Although browsers would be able to negotiate between various WebSocket subprotocols, browsers cannot use the Upgrade header to negotiate between using a WebSocket or falling back to HTTP long poll streaming (and/or even theoretically HTTP/2).

So if kubernetes 1.0 does not have WebSockets for exec/attach then a Web browser would need to determine that before trying to create a WebSocket connection

[2015-10-19 09:16] jijun2 commented on #14118
@thockin , I use root account. Maybe DNAT iptables rules will be dynamic use and delete.
I encountered a problem , how to do profiling for kube-proxy?
Where to add  memory profile code in cmd/kube-proxy/proxy.go function main() ?

       f, err := os.Create(*memprofile)
        if err != nil {
            log.Fatal(err)
        }
        pprof.WriteHeapProfile(f)

[2015-10-19 09:35] jijun2 commented on #14118
@thockin , I have got memory profile. But  cpu profile is error

[root@centos-2 ~]# cd /opt/kubernetes/bin/
[root@centos-2 bin]# go tool pprof kube-proxy /tmp/kube-proxy.prof
Entering interactive mode (type "help" for commands)
(pprof) top
panic: runtime error: index out of range

goroutine 1 [running]:
cmd/pprof/internal/driver.sampleFormat(0xc2080701c0, 0xc208096300, 0xc2080c4b40, 0x0, 0x0, 0x0,

[2015-10-19 09:39] gmarek opened #15835 "ReplicationController failed to notice Pod Eviction"
TL;DR: I don't have a reliable repro yet, it might be a one-off flake. If it's not it can be serious, as we can permanently kill a Pod.

I was running 250 Node tests (denisty 30') looking at heapster resource consumption. The first run was close to the limit (3G), so the second one was likely to end in OOM. To nobody's surprise it did. Because it was eating by far most memory it was (most likely)

[2015-10-19 09:46] wojtek-t commented on #15816
Yes - I agree that makes perfect sense.

[2015-10-19 09:55] wojtek-t commented on #15816
#15836 sent out for review

[2015-10-19 09:57] gmarek commented on #15835
From Controller logs it looks like Kubelet was unresponsive for ~10 minutes when Heapster was using around 3GB of memory. NodeController correctly evicted all the Pods from the Node, but for some reason Heaster wasn't recreated.

[2015-10-19 10:52] soltysh commented on #14500
The only thing that bangs in my head is #15838 to at least nail down the issue. It's similar to what @brendandburns proposed, but on the test setup side, rather.

[2015-10-19 11:09] chao007 opened #15839 "Got error "tls: oversized record received with length 20527" when using https_proxy for oc exec"
Version-Release number of selected component (if applicable):
Client Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.1.1286+67cb65d906620f-dirty", GitCommit:"67cb65d906620f5abaa22a6dbc067dfa2b4d2482", GitTreeState:"dirty"}
Server Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.1.1286+67cb65d906620f-dirty", GitCommit:"67cb65d906620f5abaa22a6dbc067dfa2b4d2

[2015-10-19 11:50] gmarek commented on #15716
For 250 Node cluster there're no surprises:

before 1st density | 1st density | 1st break | 2nd density
-------------------------|---------------|--------------|-----------------
591 MB | 2.77 GB | 1.1 GB | >3GB (OOM)

I also run load test on 100 Node cluster. It was using 1.02 GB of memory in the peak.
Profile from load run:
[heapster100.pdf](https://github.com/kubernetes/kubernetes/files/15947/h

[2015-10-19 11:59] kargakis commented on #15692
I am hitting the same issue and I need to work on the latest master...

@apeeyush can you guide me on how did you set this up? Thanks!

[2015-10-19 12:05] gmarek commented on #14733
I'm still not convinced that splitting heartbeat off to the separate object is a bad idea. Yes, it's less beautiful API, but as we noticed during Omega project, putting a lot of stuff in a huge objects that contain everything does not work very well for both: performance and development.

One reason why I think is bad is our watch semantics. I.e. we update Node objects quite often because of the h

[2015-10-19 12:16] ashcrow commented on #15713
@fabioy @jlowdermilk is there possibly a third type of jenkins e2e run that doesn't include the release tars nor a full checkout?

[2015-10-19 12:37] smarterclayton commented on #15716
Seems like we are allocating massive amounts of temporary objects, so while
we aren't leaking or holding on to anything excessive, we're not very
efficient in our allocations (likely similar to the apiserver profile you
had earlier).  Can you grab the allocation space/count profile?

On Oct 19, 2015, at 7:50 AM, Marek Grabowski <notifications@github.com>
wrote:

For 250 Node cluster there're no su

[2015-10-19 12:42] gmarek commented on #15716
@smarterclayton I'm not sure if this is what you wanted:
alloc-space:
[heapster-alloc-space.pdf](https://github.com/kubernetes/kubernetes/files/15985/heapster-alloc-space.pdf)
alloc-objects:
[heapster-alloc-objects.pdf](https://github.com/kubernetes/kubernetes/files/15986/heapster-alloc-objects.pdf)

[2015-10-19 13:28] #15665 closed

[2015-10-19 13:43] tmrts opened #15844 "Refactoring downward API ObjectFieldSelector"
At the moment ``ObjectFieldSelector`` can only be used to access a handful of metadata fields belonging to a pod. Extracting a generic ``ResourceSelector`` would make downward API very flexible. For example, in #6477 we would be able to specify a mounted object field roughly as follows:
[code]

This is just one example but it applies to Secrets as well and also opens up possibilities for more.
The

[2015-10-19 13:44] tmrts commented on #15844
@pmorie @ncdc This is approximately what I have in mind for the API.

[2015-10-19 13:46] ncdc commented on #15844
Why not instead remove the pod-specific restrictions in `ObjectFieldSelector` and generalize it?

cc @smarterclayton @bgrant0607 @lavalamp

[2015-10-19 13:50] willmore commented on #15823
I have a strong suspicion now that this is indeed an issue with my application.
I created a bare-bones Node.js http app, threw it up on the cluster, and experienced no latency accessing the service via NodePort.
Closing issue; will re-open if needed.

[2015-10-19 13:50] tmrts commented on #15844
@ncdc That's what I thought at first, but my concerns were:

1. Name might be a little confusing
2. We would need to change ``ObjectFieldSelector`` since it is currently used as ``fieldPath: metadata.namespace``, unless you are thinking something like ``fieldPath: api-obj-reference.field-path``.

I was thinking of extracting the logic from ``ObjectFieldSelector`` and use that part

[2015-10-19 13:53] ncdc commented on #15844
I was thinking about adding `From` and `Kind` to `ObjectFieldSelector`. If they're empty, we could default to the current behavior; i.e., the current pod.

[2015-10-19 13:56] tmrts commented on #15844
@ncdc I think ``From`` and ``Kind`` behavior would be good additions. But, preserving the current behavior if the fields are empty, would increase the magical(behind-the-scenes) behavior. I believe since the API is versioned we don't have to preserve the old behavior in this context.

[2015-10-19 13:58] ncdc commented on #15844
cc @kubernetes/rh-cluster-infra

[2015-10-19 14:22] ArtfulCoder commented on #15823
sounds good.

[2015-10-19 14:22] #15823 closed

[2015-10-19 14:31] ArtfulCoder commented on #15752
https://github.com/kubernetes/kubernetes/pull/13423#issuecomment-149231731

[2015-10-19 14:35] minxinping0105 opened #15846 "How to slove this problem "Unit kube-apiserver.service entered failed state"?"
The error :
kube-apiserver.service - Kubernetes API Server
   Loaded: loaded (/usr/lib/systemd/system/kube-apiserver.service; enabled)
   Active: activating (auto-restart) (Result: exit-code) since Mon 2015-10-19 10:33:32 EDT; 7ms ago
     Docs: https://github.com/GoogleCloudPlatform/kubernetes
  Process: 19445 ExecStart=/usr/bin/kube-apiserver $KUBE_LOGTOSTDERR $KUBE_LOG_LEVEL $KUBE_ETCD_SERVERS

[2015-10-19 14:40] maklemenz commented on #15846
Well, we need the full logs instead of shortened ones.
I guess the kube-apiserver binds its insecure port (8080 is not encrypted) on 127.0.0.1 and the node can't reach it. Try to curl the url from your nodes.

[2015-10-19 15:00] pmorie commented on #15759
@thockin @swagiaal @pweil-

Okay, after talking to @pweil- I suggest that we do the following:

1.  Change the types of `pod.Spec.SecurityContext.SupplementalGroups` and `pod.Spec.SecurityContext.FSGroup` to `[]int64` and `*int64` respectively in #15323 and #15352
2.  Have another commit that makes the following type changes:
  1.  Introduce `UnixGroupID` and `UnixUserID` as @thockin has suggested

[2015-10-19 15:08] pmorie commented on #15844
@ncdc

That was the original intention we had for `ObjectFieldSelector`.

[2015-10-19 15:10] genti-t opened #15847 "podmaster support for etcd with ssl/tls"
Is there any options to use podmaster with an external etcd cluster with SSL/TLS ?
I see the actual usage:
[code]

[2015-10-19 15:17] liggitt commented on #14126
Reopening... the merged commit only fixes one client of the Events API... nothing enforces events having UIDs still:

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/events.go
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/event/strategy.go#L45

[2015-10-19 15:24] minxinping0105 commented on #15846
the curl result
[root@host-192-168-1-167 centos]# curl http://localhost:8080
curl: (7) Failed connect to localhost:8080; Connection refused
[root@host-192-168-1-167 centos]# curl http://localhost:4001
404 page not found

the full logs following :
etcd.service - Etcd Server
   Loaded: loaded (/usr/lib/systemd/system/etcd.service; enabled)
   Active: active (running) since Mon 2015-10-19 11:21:34 ED

[2015-10-19 15:26] quinton-hoole opened #15848 "Merge-bot seems to auto-merge PR's that break e2e"
#15787 got auto-merged, but broke e2e tests.  Probably because the test that it broke is not run pre-commit, due to it not running well in parallel?  Need to confirm and fix if possible.

[2015-10-19 15:26] quinton-hoole commented on #15848
cc @fabioy

[2015-10-19 15:27] liggitt commented on #14126
Since events aren't using generic etcd, they need to do the following themselves:

1. `PrepareForCreate` should probably call `FillObjectMetaSystemFields`
2. `PrepareForUpdate` should (maybe?) fill UID if unset?
2. ValidateEvent should do as many of the same things `ValidateObjectMeta` does (it can't call it directly, because events can be either namespaced and unnamespaced)
  * Require a valid na

[2015-10-19 15:32] quinton-hoole commented on #15848
I've confirmed that the test that #15787 broke was in fact run pre-commit, and passed.  So my theory above is incorrect:

job/kubernetes-pull-build-test-e2e-gce/13151/testReport/(root)/Kubernetes%20e2e%20suite/Kubectl_client_Simple_pod_should_support_exec_through_an_HTTP_proxy/

More investigation required to explain this.  Unless someone can explain this, we appear to have a fairly serious bug in

[2015-10-19 15:54] Malet commented on #15444
@fabioy - stackoverflow is completely the wrong place for this. This is definitely a valid issue, please re-open.

Using 'wired' memory as the data shown on the dashboard gives the impression that a node doesn't have enough memory - which is definitely not the case in your scenario (or my own).

[2015-10-19 15:56] mzupan commented on #15444
I agree with @Malet since linux will use all the memory for file system buffering it gives the impression that there is no more memory to use for pods.

[2015-10-19 16:04] thockin commented on #15823
Suspect reverse DNS?

On Mon, Oct 19, 2015 at 7:23 AM, Abhi Shah <notifications@github.com> wrote:

[2015-10-19 16:09] fabioy commented on #15848
Agreed. Found this late Sat, so i reverted it (#15821). This PR seems to reference a shell script that's only available on a full build, so perhaps a difference in setup for the e2e test could account for the failure? I'm not as familiar with the e2e test setups.

[2015-10-19 16:10] thockin commented on #15834
You're asking for a specific pod name (counter) in all namespaces, which is a nonsensical query.  The pod name is not a grep-like filter, it's a specific name.

Yeah, the errors could be better.

Describe could work, but potentially generates a LOT of information and API calls.

[2015-10-19 16:10] thockin commented on #15833
@kubernetes/rh-storage

[2015-10-19 16:11] fabioy commented on #15713
I'm not sure (I'm not as familiar with the test setups). There's a separate issue filed to follow up with this (i.e. why merge-bot accepted it, but broke e2e): #15848.

[2015-10-19 16:15] ihmccreery commented on #13339
Status update: with #14959 and #15422, we can now use `push-ci-build.sh` to push an alpha prerelease version, e.g. `v1.2.0-alpha.2`.  It will properly overwrite `latest-1.2.txt`, `latest-1.txt`, and `latest.txt` but won't clobber `latest-1.1.txt`.

No progress has been made on any other fronts, as far as I'm aware.

[2015-10-19 16:17] ihmccreery commented on #13339
In the long run, we should split tooling for marking a new beta version, official version, and alpha version, but that hasn't yet been done.

[2015-10-19 16:18] dchen1107 commented on #15643
#15733 was merged, I am closing the issue. @yujuhong Please make sure cherry-picking your pr. Thanks!

[2015-10-19 16:18] #15643 closed

[2015-10-19 16:18] childsb commented on #15833
@lorenzvth7 what's your base OS? and can you check that the NFS package is installed on each host?

To troubleshoot can you create a NFS export then hand mount it from each host to validate that NFS packages, firewall and SELinux are configured properly.

[2015-10-19 16:20] ashcrow commented on #15848
@fabioy FWIW it does reference a script for full build but should only do so if the release tars do not contains a 386 ```kubectl```. It references it as it is needed to build a static ```kubectl```

[2015-10-19 16:22] lorenzvth7 commented on #15833
It's CentOS7 and yes, it's installed/running on the master and the nodes: ```ps aux | grep nfsd```
I don't have a lot experience with NFS. Is a persistent volume such an export?
And how should I mount it? Something similar:
In /etc/fstab: ```(internal ip of master)10.0.0.104/home    /mnt/RBD/pv0001 NFS 0 0?```

[2015-10-19 16:36] fabioy commented on #15848
Interesting. The Jenkins script is basically "hack/jenkins/e2e.sh", which fetches the release tars from:

        gsutil -m cp gs://kubernetes-release/${bucket}/${githash}/kubernetes.tar.gz gs://kubernetes-release/${bucket}/${githash}/kubernetes-test.tar.gz .

Still poking around.

[2015-10-19 16:37] thockin opened #15852 "Fix capitalization of acronyms from #15247"
#15247 introduced a bunch of "incorrect" capitalization (as per Go rules).

Easy fix for someone - globally search/replace 'KubeApiQps' to 'KubeAPIQPS' or 'KubeAPIRateQPS`  and  'KubeApiBurst' to 'KubeAPIBurst'

[2015-10-19 16:37] mikedanese commented on #15123
cc @lavalamp

[2015-10-19 16:37] willmore commented on #15823
Yup, suspecting reverse DNS retries. I think we have a borked DNS setup; should be in a position to confirm in next couple of days.

[2015-10-19 16:39] thockin commented on #15583
@bprashanth how much of the docs from contrib do we want to replicate here?  Probably not too much.  Still, we should get something in ASAP.

[2015-10-19 16:41] bprashanth commented on #15583
Yeah, a pr will happen today. I'll distil some high level information about the Ingress and just link to the controllers in contrib (which have a while lot of documentation on their own).

[2015-10-19 16:41] ashcrow commented on #15848
@fabioy those are the two it requires. I wonder if the ```WORKSPACE``` environment variable is not set. If It isn't then this specific test will attempt to use the ```testContext.RepoRoot```. I'm not sure what the result would be if release tars are used with ```testContext.RepoRoot```...

[2015-10-19 16:46] jimmycuadra commented on #15546
I haven't confirmed a workaround for this yet, but I think I can get it working. Closing for now!

[2015-10-19 16:46] #15546 closed

[2015-10-19 16:46] fabioy commented on #15848
The exact tar ball it loaded was this:

gsutil -m cp gs://kubernetes-release/ci/v1.2.0-alpha.1.1270+0338e0ef538303/kubernetes.tar.gz gs://kubernetes-release/ci/v1.2.0-alpha.1.1270+0338e0ef538303/kubernetes-test.tar.gz .

Logs show the test failing with a "hack/build-go.sh" not found:

22:21:49 Kubectl client Simple pod
22:21:49   should support exec through an HTTP proxy
22:21:49   /go/src/k8s.io/

[2015-10-19 16:47] spiffxp commented on #14216
https://s3-us-west-2.amazonaws.com/k8s-issue-14216/logs.tgz
- all command line flags at defaults, except scheduler's `--v=4`
- bad: 2 runs with resource limits in place
- good: 2 runs without resource limits in place
[code]

[2015-10-19 16:50] childsb commented on #15833
The volumes in the previous GA release of openshift are all NFS.  Upcoming releases will include other volume types.

To mount an NFS volume you can do:

mount -t nfs host:path /mountpoint

It would be best to create a simple NFS export on the host to use for validation.  Here's some documentation on setting up NFS export:

https://www.centos.org/docs/5/html/Deployment_Guide-en-US/s1-nfs-server-co

[2015-10-19 16:51] lavalamp commented on #15403
#15785 is merged! @nikhiljindal, which of your todo items remain?

[2015-10-19 16:51] mikedanese opened #15853 "kubectl get in namespace with no objects returns nothing"
[code]

Before it would return the column headers.

cc @JanetKuo

[2015-10-19 16:54] rootfs commented on #15833
`exit status 32` looks a dup of #15668
@lorenzvth7 are you running nfs server in container too? If so, can you check if the host running nfs server has the same dmesg message?

[2015-10-19 16:59] lorenzvth7 commented on #15833
I used this tutorial: http://keithtenzer.com/2015/08/20/openshift-v3-unlocking-the-power-of-persistent-storage/ . So I did not install NFS in a seperate container.

[2015-10-19 17:02] yujuhong commented on #15528
@feiskyer, @nancykyo  I found one goroutine leak at HEAD (see https://github.com/kubernetes/kubernetes/issues/15805#issuecomment-148963658), but it was introduced pretty recently and was not in any of the release cuts. Just to rule out this goroutine leak, could you provide the version of k8s you run? Thanks!

[2015-10-19 17:03] thockin commented on #15759
I don'[t object as long as the final goal is correct

On Mon, Oct 19, 2015 at 8:00 AM, Paul Morie <notifications@github.com>
wrote:

[2015-10-19 17:07] nVitius opened #15855 "GIT Not In Path (hyperkube:v1.0.1)"
I'm running Kubernetes under Docker (following [this](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.md) guide). I tried to set up an RC that would run a registry:2 container and attach a gitRepo volume with the SSL certs I want to use. When I run it though, I get this error:
 `Error syncing pod, skipping: failed to exec 'git clone git@gitr

[2015-10-19 17:12] rootfs commented on #15833
@lorenzvth7 ok, so are you able to mount your nfs volume manually on your kubernetes host?
`mount -t nfs 10.0.0.104:/tmp /mnt`

[2015-10-19 17:15] lavalamp commented on #14014
@smarterclayton I'm saying the behavior semantically is nonsensical-- the system is doing the operation that was requested but that operation makes no sense. IMO we should error out, not give you a list of every pod named "foo" in any namespace. Or is there some valid use case for this behavior?

[2015-10-19 17:17] vishh commented on #15805
Some PRs from cadvisor ([#909](https://github.com/google/cadvisor/pull/909), @jimmidyson's prometheus PRs) and a pending PR for issue [#920](https://github.com/google/cadvisor/issues/920), might have to be cherry-picked into v1.1. I think resolving this issue right away in cadvisor is necessary.

[2015-10-19 17:17] jlowdermilk commented on #15848
@ashcrow, sorry the path it's looking for is the problem. The e2e tests are run from a workspace directory that contains the kubernetes directory, not from the kubernetes dir itself.
[code]

So in the above it should be looking for `kubernetes/platforms/linux/386/kubectl`.

That being said, the kubectl version that most people use is the default, and if exec through an http proxy is a supported fe

[2015-10-19 17:22] lorenzvth7 commented on #15833
I was just trying it, but it gave a connection timeout.

[2015-10-19 17:22] timstclair commented on #15319
Not done: https://gist.github.com/timstclair/575b0fb0071603d632bc

[2015-10-19 17:23] yujuhong commented on #15805
We should resolve this issue in cadvisor, but as long as we don't bump the go-dockerclient version in v1.1, v1.1 wouldn't be affected.

[2015-10-19 17:24] smarterclayton commented on #15716
Half of all allocations being from float -> string seems high - if this is
on a write path (write to response, write to disk) strconv.AppendFloat
would allow us to reuse byte buffers.  Need to dig a bit more.

On Mon, Oct 19, 2015 at 8:42 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-10-19 17:24] ncdc commented on #15848
@jlowdermilk a static kubectl build isn't required to do exec+proxy; it's required to run the e2e test for it, as we're running kubectl in a pod as part of the e2e test. I don't have any strong feelings one way or another to change the standard kubectl build from dynamic to static. If no one objects, however, changing the build to static will make the hoops we're going through to get an e2e test w

[2015-10-19 17:27] rootfs commented on #15833
@lorenzvth7 connection timeout gives you exit status 32. Possible causes are your nfs server is not running, or connection is blocked by firewall, or you haven't started rpcbind service on nfs server if you are connecting through nfs v3.

Can you run the same command on your nfs server?

[2015-10-19 17:31] smarterclayton commented on #14014
I want a list of all services called "dns" across all namespaces, or all
quotas called "custom" across all namespaces, or all service accounts
called "builder" across all namespaces.  Name is no different than any
other field we'd filter on.

On Oct 19, 2015, at 1:15 PM, Daniel Smith <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> I'm saying the behavior
sema

[2015-10-19 17:36] yujuhong commented on #15671
@dchen1107, please cherry-pick #15799, thanks!

[2015-10-19 17:42] davidopp commented on #14421
This failure is happening during the setup for what the test is really trying to test. It is failing just creating a pod and waiting for it to run. Other tests would be failing if this were really a bug, so I am confident that this is not a real bug.

As for why the test is flaking, I don't  know. I was unable to reproduce the failure. I might just increase the timeout and call it a day.

[2015-10-19 17:44] erictune commented on #15584
Not sure what "endpoint" is.

This works though:
[code]

[2015-10-19 17:46] jlowdermilk commented on #15848
If the static build is a test requirement only, then it's reasonable to use the static `linux/386/kubectl`
Fix should be to change the load path [here](https://github.com/kubernetes/kubernetes/pull/15787/files#diff-540d8a63e8b72b4e05dda54ae37f77d2R232) to
[code]

[2015-10-19 17:50] erictune opened #15858 "Cannot format a selector with jsonpath"
I can't find a way to format a selector from a json representation of a selector, using our jsonpath output.

There doesn't seem to be an operator that extracts keys and values from a map.

This is possible-ish using `jq`:

[code]

Is our plan to extend jsonpath, to be further non-standard, as needs like this arise, or to fall-back to more sophisticated processors such as jq for more complex cases

[2015-10-19 17:51] erictune commented on #15858
xref: #15584

[2015-10-19 17:51] erictune commented on #15858
xref: #12771

[2015-10-19 17:52] ncdc commented on #15848
Ok, cool. Do we know yet why the "Jenkins GCE e2e" test passed but other GCE test environments failed?

[2015-10-19 17:57] lavalamp commented on #15835
How long did it take for the pod to reappear? I don't doubt that you can
catch the system like this, but it shouldn't stay like this for long.

On Mon, Oct 19, 2015 at 2:57 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-10-19 18:01] jlowdermilk commented on #15848
@ncdc (and @fabioy, @quinton-hoole for fyi): the reason this passed on the pr builder (i.e. the presubmit check) and not other gce test environments is due to differences in the test environment:
- pr builder pulls and checks out the kubernetes repo and runs test from repo root (`kubernetes/`)
- other test environments pull a pre-built kubernetes release, then extract it and run test from a worksp

[2015-10-19 18:07] ashcrow commented on #15848
@jlowdermilk I'm still trying to wrap my head around how this occured. Is this a third case from the two test envs tested in https://github.com/kubernetes/kubernetes/pull/15787?

[2015-10-19 18:08] erictune opened #15859 "Consistent use of pointers re: optional in internal and versioned client structs"
Per #15566 we should use pointers when a field in a go struct is optional, and not use pointers when it is required.

We should clean this up at some point.

Also, since it will affect the in-progress versioned clients, we should think about doing the cleanup before that is released.  Making the pointer-means-optional thing consistent will make the versioned clients easier for client-users to unde

[2015-10-19 18:08] erictune commented on #15859
@krousey for versioned client.

[2015-10-19 18:18] thockin opened #15863 "Cleanup: Audit log and error capitalization"
Generally: log-lines start with capital letters; error strings do not (unless it starts with an acronym like IP).  We're not consistent with this.  It should be relatively easy to audit these and fix-up.

[2015-10-19 18:22] vishh commented on #10959
For Kubernetes v1.2, I plan on validating `overlayfs` to be the default storage driver for Kubernetes deployments.

Until then would #15856 help @tylrtrmbl @saturnism @bronger ?

[2015-10-19 18:23] nikhiljindal opened #15864 "Run versionize-docs in release branch"
Lots of links in swagger-spec and hence our static documentation point to ```http://releases.k8s.io/HEAD/docs``` instead of pointing to ```http://releases.k8s.io/v1.1.0/docs```.
My guess is these sneaked in with the cherrypicks we have been doing. We ran versionize-docs only when we were cutting the release branch.

We should run versionize-docs in the release branch when all the cherrypicks have

[2015-10-19 18:24] atrauzzi opened #15865 "No nodes available to schedule pods (using google container engine)"
Apologies if this isn't the correct place to inquire, but I've got an issue with a container not running and I'm currently at a loss as to what my next course of action should be.

Please see the following SO question for details: http://stackoverflow.com/questions/33219383/no-nodes-available-to-schedule-pods-using-google-container-engine

I guess the main issue for me at the moment as it pertains

[2015-10-19 18:26] jlowdermilk commented on #15848
@ashcrow, no it's not a third case, we were just missing a directory in the path to `platforms/linux/386/kubectl`. #15787 told the test to load `workspace/platforms/linux/386/kubectl`, but instead it should have been loading `workspace/kubernetes/platforms/linux/386/kubectl`. I suggested the one-line fix to make #15787 do the right thing [up above](https://github.com/kubernetes/kubernetes/issues/1

[2015-10-19 18:27] mikedanese opened #15866 "Flaky: Job should run a job to completion when tasks sometimes fail and are locally restarted"
Has failed twice this morning in the release branch and I've seen other failures on pull request buildngin
[code]
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release-1.1/215/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release-1.1/217/

@soltysh @erictune

[2015-10-19 18:28] vishh opened #15867 "Evaluate overlayfs with docker"
Docker now supports Overlayfs as a storage backend. Since Aufs doesn't work on all distributions and has caused kernel issues in the past (#10959), we should evaluate `Overlayfs` and see if it can become the default/recommended storage driver for kubernetes deployments.

Kubernetes is already being used with multiple storage backends, but our existing test infrastructure does not test against all

[2015-10-19 18:31] ashcrow commented on #15848
@jlowdermilk ok I think I follow now. Thanks!

[2015-10-19 18:32] nikhiljindal commented on #15403
The third task: adding env vars to enable and disable individual resources (which will set the appropriate runtime-config value in our cluster bring up scripts) is left. But am not sure of how critical that is.
WDYT?

[2015-10-19 18:32] lavalamp commented on #15864
It would be awesome if somehow we could keep the commit that changes these stacked on top of everything else in the branch, to keep down the merge conflicts. But I can't imagine a way of doing that that would work well with github. I guess it won't be too bad because hopefully we'll soon stop pulling things that change the docs.

[2015-10-19 18:33] jlowdermilk commented on #15584
Heh, I meant server not endpoint. Doing it in two commands works, but if our implementation of jsonpath supported `$` for root-object (it's in the [jsonpath spec](http://goessner.net/articles/JsonPath/)), then you wouldn't need 2 commands to extract values and reuse them. This would solve #15858 as well.

[2015-10-19 18:39] gmarek commented on #15835
It never reappeared. I kept the cluster running for at least half an hour, but nothing happened. I have logs from controller manager if you're interested.

[2015-10-19 18:42] erictune commented on #15583
How will that work with docs.k8s.io?  http://docs.k8s.io/docs/user-guide/ingress.html will point to https://github.com/kubernetes/contrib/blob/master/Ingress/controllers/gce/README.md

[2015-10-19 18:42] nikhiljindal commented on #12143
Yes thats what we do.
We have a controller manager which runs a bunch on controllers that watch apiserver resources and process them.
For ex: we have a DeploymentController, which watches Deployment objects via apiserver and carries out the rolling update process.

[2015-10-19 18:45] gmarek commented on #15227
It's happening again.

[2015-10-19 18:45] nikhiljindal commented on #15557
Yes, you need to set both update-period and timeout to large values.

[2015-10-19 18:45] #15557 closed

[2015-10-19 18:46] lavalamp commented on #15835
Can you post them here, or email to me? Thanks.

apiserver logs might also be useful.

On Mon, Oct 19, 2015 at 11:39 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-10-19 18:47] gmarek commented on #15835
Sadly I grabbed controller-manager logs only. I'll try to reproduce it tomorrow.

[2015-10-19 18:48] jackgr commented on #12143
Can you provide a pointer to the controller manager and to an example of a
controller that it managers?

Jack Greenfield | Google

On Mon, Oct 19, 2015 at 11:43 AM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-10-19 18:52] four43 commented on #15833
Hello, I created #15668, my resulting issue was that the minions did not have the correct NFS kernel bits to actually run nfs. I would try SSH-ing into your minion and try mounting the NFS share manually, as @rootfs mentioned.

[2015-10-19 18:56] mikedanese opened #15872 "Flaky: Kubectl client Guestbook application should create and stop a working application"
Failed three times this morning.
[code]

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/9869/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/9861/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/9859/

[2015-10-19 18:57] mikedanese commented on #15872
@karlkfi @sttts are there any open PRs that could potentially deflake this that we should prioritize?

[2015-10-19 18:59] markturansky commented on #15668
https://github.com/kubernetes/kubernetes/issues/12650

Per that issue, volume.CanSupport should do more checking to alert the user to this kind of thing.  To find missing "nfs-utils" in the OS is a bad user experience.

[2015-10-19 19:01] markturansky commented on #12650
from #15668

Another kind of thing to surface to the user, if possible.

[2015-10-19 19:02] sttts commented on #15872
@mikedanese what do you mean with e2e mesos is running? Isn't gce e2e failing? Can you link some PRs which fail? I can look into it. The links above are google internal.

[2015-10-19 19:05] erictune commented on #14303
Closed by #15339

[2015-10-19 19:05] #14303 closed

[2015-10-19 19:06] four43 commented on #15668
Thanks @markturansky, I thought so too. Feel free to close this if it will be solved by other issues. I think something needs to be done since following the documentation not only didn't work, but also led to not useful error messages and a huge Github conversation.

[2015-10-19 19:08] erictune commented on #13883
These appear to be generated now at https://raw.githubusercontent.com/kubernetes/kubernetes/master/docs/api-reference/extensions/v1beta1/definitions.html

Closing.

@caesarxuchao confirm this was okay to close.

[2015-10-19 19:08] #13883 closed

[2015-10-19 19:08] markturansky commented on #15668
I was on a customer call where we eventually found the same issue: missing nfs-utils.

That's generally why we ask if an NFS volume can still be mounted manually.  Missing OS dependencies are more apparent when you take the cluster/container out of the equation.

[2015-10-19 19:24] mikedanese commented on #15872
@sttts refering to this email thread (second email mostly) where @karlkfi said he was seeing flakes in the guestbook a couple days ago: https://groups.google.com/forum/#!topic/kubernetes-dev/B5OQUKbrl1c was wondering if there is any relevant info to supplement this email

[2015-10-19 19:28] rootfs commented on #15668
agree. checking `/sbin/mount.nfs*` in `volume.CanSupport` would be a good start to ensure nfs-utils is there.

[2015-10-19 19:33] four43 commented on #15668
^^ Confirmed @rootfs, mount.nfs is not present on Ubuntu Vivid without `nfs-common` but is available after that package is installed and working.

[2015-10-19 19:33] soltysh commented on #14421
:+1: for increasing the timeout.

[2015-10-19 19:34] caesarxuchao commented on #13883
Yes, that's fixed and cherry-picked. Thanks.

[2015-10-19 19:34] saturnism commented on #10959
I'm not sure if #15856 helps (not entirely sure how it determines Docker daemon health?).  In my cases, the docker daemon seems to run just fine.  It can continue to pull other images.  But in order to pull the image that got into a bad state, restarting the daemon works.

[2015-10-19 19:43] sttts commented on #15872
Am not aware of any PRs in the pipe about that. We had some issues in mesos-go which are fixed now in master. Moreover, today I saw a number of Ubuntu apt-get errors during image building. I don't think we have anything which might be related to the issue in gce right now.

Let me go through some failed teamcity mesos test runs.

[2015-10-19 19:50] sttts commented on #15872
In the last 5 days only 6 failed runs:
- on 600s timeout waiting for the guestbook to come up
- "The Service "kube-dns" is invalid"
- kube-dns deployment failed
- compile error
- Ubuntu apt-get error in image build
- internal CI error

[2015-10-19 19:51] sttts commented on #15872
@mikedanese so nothing related and <<10% failure rate.

[2015-10-19 19:54] liggitt opened #15878 "UpdateApplyAnnotation stores large annotation on every kubectl operation"
https://github.com/kubernetes/kubernetes/pull/14626 is adding the full object serialization as an annotation on almost every mutating kubectl operation. This is doubling serialization size unnecessarily, and breaking any objects that were close to the annotation size limit. What benefit is this providing? The `apply` command should be able to do a 3-way merge between the current state of the API o

[2015-10-19 19:59] mikedanese commented on #15872
@sttts thanks for info

[2015-10-19 20:02] liggitt commented on #15878
cc from original PR: @bgrant0607, @ghodss, @JanetKuo, @mikedanese, @jlowdermilk, @jackgr

[2015-10-19 20:23] ihmccreery commented on #15806
Status update: this may be caused by #15123, so that issue should be prioritized, but it's not totally clear if that will fix this problem.

[2015-10-19 20:24] ihmccreery commented on #14674
I'm bumping this to P0, because it seems like we're unwilling to release 1.1 without confidence that GCE upgrades work.

[2015-10-19 20:25] ihmccreery commented on #13602
Status update: these tests are running, but aren't stable.  They need to be stabilized, then this issue can be closed.  #15123 is the biggest issue, but there may be others, (e.g. #15806).

[2015-10-19 20:27] ihmccreery commented on #14771
Closing this, since the remainder of the work is covered in #14674 and #13602.

[2015-10-19 20:27] #14771 closed

[2015-10-19 20:31] bgrant0607 opened #15879 "Document recent insights/decisions about API backward compatibility"
While it's still fresh in my mind.

From label selector and pod security context discussions:
https://github.com/kubernetes/kubernetes/issues/341#issuecomment-140809259
https://github.com/kubernetes/kubernetes/pull/14705#issuecomment-149287760

cc @pmorie @smarterclayton @thockin

[2015-10-19 20:34] dchen1107 commented on #10959
@saturnism Please see my comment: https://github.com/kubernetes/kubernetes/pull/15856#issuecomment-149306017
I have the same concerns as you.

[2015-10-19 20:47] mooperd opened #15883 "SELinux and Kubernetes"
Hallo,

No an issue per se but I am looking for some information about SELinux support for Kubernetes. Does this just work if using fedora hosts?

ta,

Andrew

[2015-10-19 20:49] lavalamp commented on #14014
Alright, I buy that enough to not write something to specifically prevent it. :)

[2015-10-19 20:49] #14014 closed

[2015-10-19 20:52] thockin commented on #15883
@kubernetes/rh-platform-management

Any OS that is configured for SELinux should work.

[2015-10-19 20:54] mooperd commented on #15883
@thockin thanks for the fast response. Do you see benefits of using SELinux with kubernetes?

[2015-10-19 20:57] thockin commented on #15883
That's a trick question.

I have very limited personal experience with SELinux - mostly it just stops
me from doing the things I know I want to do and then I turn it off.  But
obviously SOME people think it is valuable :)

On Mon, Oct 19, 2015 at 1:55 PM, Andrew Holway <notifications@github.com>
wrote:

[2015-10-19 20:59] bgrant0607 commented on #15878
Full discussion was in #1702, with earlier discussion in #1178.

For users of kubectl apply, the annotations are not unnecessary, as they record the previous configuration specified by the user, which otherwise is not recorded anywhere, for use in the 3-way merge, the other 2 inputs being the new configuration and the live API state.

Originally I intended only kubectl apply to set/update these an

[2015-10-19 21:02] jackgr commented on #15878
The apply command can do a 2 way merge between the current state of the API object and desired state client-side. By definition, there are only 2 things to compare in such a scenario, so a 3 way merge is not possible. When the annotation is present, it defines a third version of the data, so then a 3 way merge is possible.

Regarding the benefit, it allows users to modify previous configuration an

[2015-10-19 21:04] ixdy commented on #15804
Just created #15884 which is probably what we should cherry-pick in.

[2015-10-19 21:11] mooperd commented on #15883
Thats mandatory access control for ya!

[2015-10-19 21:15] #15723 closed

[2015-10-19 21:18] vishh commented on #15747
#10959 will still be unresolved in v1.1.

[2015-10-19 21:21] vishh commented on #15747
Grafana automated dashboards for containers are at times not working.
A reload of the browser has resolved these issues in the past.
We suspect that the issues are related to access via proxy.
We have documented how to access Grafana directly using an external Service.

[2015-10-19 21:24] lavalamp commented on #15403
@nikhiljindal Can we set the default directly here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L228

So that we don't need to change configuration scripts?

We should default Ingress, Job, and HPAS on, and the rest of extensions off. (In the release branch, anyway.)

[2015-10-19 21:28] lavalamp commented on #15702
I'm thinking of dropping this from the 1.1 release. I will move it out tonight or tomorrow unless one of @ncdc, @bronger, or @bgrant0607 talk me out of it.

[2015-10-19 21:29] vishh commented on #10959
@dchen1107 suggested subscribing to docker event stream and restarting the daemon if an aufs related error is returned by the daemon. However, we decided to not add that patch for v1.1.
We will try switching to OverlayFs (#15867) for v1.2. We are also hoping for newer docker releases to resolve docker specific aufs issues.

[2015-10-19 21:31] dchen1107 commented on #10959
I also close another attempt for fixing this issue: #15881

There is no reliable way to detect such failure. We also observed the same failure caused by kernel issue, which requires reboot the node completely. In this case, we decided to document such issue for 1.1 as known issue with info on how to remedy.

I am lowering the priority of the issue and moving it out of 1.1.

[2015-10-19 21:34] liggitt commented on #15878
I see. It's unfortunate we don't have access to historic resourceVersions via the API. Putting copies of old versions in as annotations seems like a really messy way to accomplish that.

Updating the output of so many commands, and affecting all objects in the system created by someone just using kubectl seems like a lot of impact to support one feature. Can we start by making the annotation opt-i

[2015-10-19 21:40] smarterclayton commented on #15702
My concern is that a wide range of exec scenarios in 1.0 are broken.  If we
did the minimal change in 1.1 clients to start sending a versioned
subprotocol (which itself is an API change) we'd at least guarantee that we
would know 1.1 clients from 1.0 clients.

On Mon, Oct 19, 2015 at 5:28 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-10-19 21:41] karlkfi commented on #15872
@mikedanese I started the smoke tests in our CI shortly after we had fixed a bunch of bugs that were inhibiting it. So many open PRs had not yet been rebased and still had the flakey or broken code, bringing down out success rate.

There were also a few flakes I noticed in the first 3 hours when running 300+ tests:
- https://github.com/kubernetes/kubernetes/issues/15413
- https://github.com/kubern

[2015-10-19 21:42] lavalamp commented on #14126
@liggitt, did you miss #15191?

Anyway, I'd rather switch events over to using the generic stuff than fix all that separately.

[2015-10-19 21:43] ArtfulCoder commented on #15227
let me take a look now

[2015-10-19 21:43] paralin opened #15887 "Cluster push should allow for more than expected number of minions"
When pushing, I noticed this weird issue:

[code]

This is because in my auto-scaling group on AWS I have turned up the desired number of nodes from the environment variable's default. The script should allow for **more** without question, so the check should be >= not ==.

[2015-10-19 21:43] smarterclayton commented on #14014
Whew :)

On Mon, Oct 19, 2015 at 4:49 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-10-19 21:45] lavalamp commented on #14216
@spiffxp I will take a look, but apiserver logs are probably what I want to see, can you include them?

[2015-10-19 21:51] liggitt commented on #14126
#15191 doesn't help... events don't call any of the common validation methods, right? Also, we should update the "create event" API *now* to avoid getting more bad events in the system, then figure out what to do on update

[2015-10-19 21:52] liggitt commented on #14126
I'd like to as well, but events not following the namespace rules makes that hard... I don't really want to make the common functions crazy to accomodate the events edge case

[2015-10-19 21:55] saturnism commented on #10959
Serializing pulls seems to help.  Is that an option?
Secondly, I'm not 100% convinced that overlayfs will make fix this issue.

[2015-10-19 21:57] caesarxuchao commented on #14126
@liggitt

`events` is using the generic etcd (https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/event/etcd/etcd.go#L37), so it calls the common update validation during an update. Did I miss something?

I agree. #15191 only validate *update*, not *create*.

[2015-10-19 22:02] vsimon commented on #10959
Agreeing with the above comment that serializing pulls was the only thing that worked in my case. Haven't seen this issue pop up in many weeks after serializing.

[2015-10-19 22:03] ArtfulCoder commented on #15227
root@gce-soak-weekly-minion-yvu8:/home/abshah# ls -al /proc/29690/ns
total 0
dr-x--x--x 2 root root 0 Oct 19 07:30 .
dr-xr-xr-x 9 root root 0 Oct 14 17:03 ..
lrwxrwxrwx 1 root root 0 Oct 19 07:30 ipc -> ipc:[4026533178]
lrwxrwxrwx 1 root root 0 Oct 19 21:59 mnt -> mnt:[4026533176]
lrwxrwxrwx 1 root root 0 Oct 19 21:59 net -> net:[4026533111]
lrwxrwxrwx 1 root root 0 Oct 19 21:59 pid -> pid:[402653

[2015-10-19 22:04] lavalamp commented on #14216
@spiffxp Can you pull #15890? I haven't actually looked at anything that I intended to look at yet, but this is a glaring difference.

[2015-10-19 22:05] ArtfulCoder commented on #15227
root@gce-soak-weekly-minion-yvu8:/home/abshah# docker ps |grep dns
a4db16f086e6        gcr.io/google_containers/skydns:2015-03-11-001             "/skydns -machines=ht"   29 seconds ago      Up 27 seconds                           k8s_skydns.b3170ba7_kube-dns-v9-q4wfi_kube-system_8662afec-7295-11e5-b019-42010af00002_7919df16
9e14dbacdd21        gcr.io/google_containers/exechealthz:1.0

[2015-10-19 22:07] lavalamp commented on #14216
I will be very sad if --v=4 on scheduler turns out to have been the relevant difference :(

[2015-10-19 22:07] paralin commented on #15324
+1

[2015-10-19 22:07] yujuhong commented on #15805
Update: cadvisor also creates a new docker client for each container. With the new go-dockerclient, it would use one connection per container, and never reclaims those connections after the containers die.

[2015-10-19 22:08] paralin opened #15891 "examples/cassandra: Mention DaemonSets as a method of creating cassandra pods"
Right now the cassandra docs use a ReplicationController. I think it would be good to update the doc to mention using daemon sets as a valid way to place a single cassandra node on each of the kubernetes nodes, a more realistic deployment method.

See #15324

[2015-10-19 22:10] pmorie commented on #15883
@mooperd EmptyDir volumes should work correctly on Fedora.  We are working on adding support for other volume types in #14192 #14991

I have done most of the coding on selinux and kube so far, so feel free to ask questions on slack or irc if you have any.

[2015-10-19 22:12] pmorie opened #15892 "Codecgen script generates incorrect codec"
@wojtek-t In #15352, I found that hack/update-codecgen.sh can generate incorrect codecs.  If you pull my `fsgroup` branch and run `hack/test-go.sh pkg/api` you will find that all ObjectMeta instances in the extensions api drop their name fields on decoding.

[2015-10-19 22:15] feiskyer commented on #15528
@yujuhong It's the master branch, so may be #15805 is the root cause. I will take an eye on it.

[2015-10-19 22:15] lavalamp commented on #15702
I'm less concerned about this than some other things because a user can
work around by using kubectl 1.0.

However, @ncdc, can you comment on the case where there's a 1.1 master with
1.0 kubelets in cluster? Will any version of kubectl succeed with that? If
not then we really probably need to fix something.

On Mon, Oct 19, 2015 at 2:40 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-19 22:16] bgrant0607 commented on #1702
A concrete example was discussed here:
https://github.com/kubernetes/kubernetes/pull/13007#discussion_r38440152

[2015-10-19 22:18] nikhiljindal commented on #12143
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go is the controller manager.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.go is the deployment controller

[2015-10-19 22:22] RichieEscarez opened #15893 "Create new v1.1 doc set in kubernetes.io"
- [x] 1. Create hidden v1.1 content:
     - [x] Create new .../v1.1/... directory on gh-pages #15987
         - [x] Create new .../v1.1/index.html (v1.1 doc banner) #15987
     - [x] Create new _includes/nav_v1.1.html file and add all topics into menu tree (navigation menu) #15903
     - [x] Add drop-down version selector #16392
     - [x] Create and include a v1.0 banner: "This is an archived ver

[2015-10-19 22:22] bgrant0607 commented on #15878
@liggitt Access to historic resourceVersions via the API is not sufficient. @jackgr or I should write up a design doc at some point, but you can see a concrete example here: https://github.com/kubernetes/kubernetes/pull/13007#discussion_r38440152

We could make apply opt-in by only creating the annotations in apply, and otherwise only updating them if they already exist.

Re. performance: The impa

[2015-10-19 22:22] mansoorj commented on #14376
What's the process for getting it triaged? Any update?

[2015-10-19 22:23] ArtfulCoder commented on #15227
/ # netstat -tuln
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State
tcp        0      0 127.0.0.1:7001          0.0.0.0:*               LISTEN
tcp        0      0 127.0.0.1:4001          0.0.0.0:*               LISTEN
tcp        0      0 127.0.0.1:2379          0.0.0.0:*               LISTEN
tcp        0      0 127.0.0.1:2380

[2015-10-19 22:23] ArtfulCoder commented on #15227
2015/10/19 22:23:13 skydns: falling back to default configuration, could not read from etcd: 501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]
2015/10/19 22:23:13 skydns: ready for queries on cluster.local. for tcp://0.0.0.0:53 [rcache 0]
2015/10/19 22:23:13 skydns: ready for queries on cluster.local. for udp://0.0.0.0:53 [rcache 0]

[2015-10-19 22:24] nikhiljindal commented on #15403
Yes we already have Ingress, Job and HPAS on and rest of the extensions off, by default.
What I was talking about was to have an env var, for ex: ENABLE_DEPLOYMENTS which when user sets to true and runs cluster/kube-up.sh brings up a cluster with deployments enabled as well (it will be off by default). User can do this on release code as well.
fwiw, ENABLE_DEPLOYMENTS is already implemented (which

[2015-10-19 22:25] bgrant0607 opened #15894 "kubectl apply umbrella issue"
See #35234 for work items

---
# Apply Details

---

To capture discussion on #1178, #1702, #13007, #17333, and other issues/PRs.
cc @jackgr @ghodss

Summary (to be transcribed into a doc):

Apply conceptually is intended to enable users to just specify a configuration and "make it so". But it's not that easy.

We represent default values explicitly in the API so that system components, ecosystem

[2015-10-19 22:28] bgrant0607 commented on #15878
cc @wojtek-t re. whether we've observed a performance impact

[2015-10-19 22:29] sttts commented on #15872
[code]

[2015-10-19 22:30] mikedanese opened #15895 "Pod deletion broken in version skewed (1.1 master, 1.0 node) because of GracefulTermination"
[code]

The nginx pod remains Terminating forever. The container process stays running on the node. 1.0 kubelet does not know how to handle graceful termination.

@smarterclayton @davidopp @ihmccreery

[2015-10-19 22:35] iameli commented on #10959
Is there a easy way to instruct Kubernetes to "serialize pulls"? If I create a pod with three containers, it's going to pull down all three in parallel no matter what I do, right?

[2015-10-19 22:48] tPl0ch commented on #13761
@dnascimento I can confirm the issue with 5.0.4, but upgrading to 5.0.5 fixes the issue, too :)

[2015-10-19 22:50] JanetKuo opened #15898 "kubectl get hpa returns incorrect min pods"
`kubectl get hpa` returns
[code]
It's because we recently change HorizontalPodAutoscalerSpec.MinReplicas from int to *int.

[2015-10-19 22:52] vishh commented on #10959
@iameli: AFAIK kubelet does not support serializing docker pulls.

[2015-10-19 22:54] zmerlynn commented on #7890
This is also possible now through the https://github.com/GoogleCloudPlatform/gcsfuse project, it looks like.

[2015-10-19 22:58] dchen1107 commented on #15805
Here are the reason I moved this back to v1.1 milestone:

https://github.com/kubernetes/kubernetes/pull/15612#issuecomment-148404089

cc/ @pmorie Do we really need AdditionalGroups feature for 1.1 release? Otherwise, we don't need to bump go-dockerclient library to include  commit fsouza/go-dockerclient@1632686

[2015-10-19 23:09] nikhiljindal commented on #14069
Actually, gen-swagger-docs reads swagger spec from  https://raw.githubusercontent.com/kubernetes/kubernetes/master directly rather than from the local code.
To be able to verify that api-reference docs are updated whenever swagger-spec is updated, we will need to update gen-swagger-spec to read the local spec.

[2015-10-19 23:18] rboyd commented on #7890
@zmerlynn were you able to get gcsfuse to work? I'm expecting this won't work until 1.1 release http://stackoverflow.com/questions/31124368/allow-privileged-containers-in-kubernetes-on-google-container-gke

[2015-10-19 23:22] liggitt commented on #14126
Generic etcd doesn't call the common validate. The specified update strategy is responsible for doing that, and event's update strategy just calls ValidateEvent, which doesn't validate much other than a well formed namespace

[2015-10-19 23:23] RichieEscarez opened #15903 "Create new v1.1 navigation menu for kubernetes.io"
- Create a new _includes/nav_v1.1.html file
- Add all new topics into the navigation menu (to ensure each topic that you view from on kubernetes.io displays in the nav menu and provides you some context)

Part of #15893

[2015-10-19 23:25] bgrant0607 commented on #15895
Looks like #12962 was intended to address this scenario.

[2015-10-19 23:27] zmerlynn commented on #7890
I haven't tried yet. I was merely noting that looked like it may be an option over `s3fs-fuse` for GCS, which would require the same privileges, presumably.

[2015-10-19 23:28] bgrant0607 commented on #15895
The relevant code is primarily in terminatePods in pkg/controller/node/nodecontroller.go.

The question is whether pods aren't getting deleted fast enough or whether that just isn't working.

One improvement could be to take the Kubelet version into account and delete pods immediately for 1.0.x Kubelets.

[2015-10-19 23:31] ihmccreery commented on #15895
This may or may not be the same as, or related to, #15123.

[2015-10-19 23:34] nikhiljindal opened #15905 "gen-swagger-docs should read local swagger spec"
From https://github.com/kubernetes/kubernetes/issues/14069#issuecomment-149372728
gen-swagger-docs should read the local swagger spec rather than fetching it from https://raw.githubusercontent.com/kubernetes/kubernetes.

That way it generates release api-reference when run-gen-swagger-docs is run in release branch and it generates api-reference for HEAD code, when the script is run on HEAD.

[2015-10-19 23:34] nikhiljindal commented on #15905
Assigning to @caesarxuchao as per discussion.

[2015-10-19 23:35] caesarxuchao commented on #14126
Generic etcd calls BeforeUpdate:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L280,

and in BeforeUpdate we call validateCommonFields which validates the objectMeta:
https://github.com/kubernetes/kubernetes/blob/8c753c84eb149f6434f37f497df64ebb2c41d387/pkg/api/rest/update.go#L83

[2015-10-19 23:35] nikhiljindal commented on #15864
We need to fix https://github.com/kubernetes/kubernetes/issues/15905 before we can run run-gen-swagger-docs in release branch.

[2015-10-19 23:35] nikhiljindal commented on #15905
Blocks https://github.com/kubernetes/kubernetes/issues/15864

[2015-10-19 23:36] bgrant0607 commented on #15895
Forked from #15123, which appears to have additional problems.

[2015-10-19 23:38] bgrant0607 commented on #15123
cc @smarterclayton @derekwaynecarr @ncdc Could we please get some help root-causing this? One problem has been identified (#15895), but it's believed to not be the only problem here.

@ihmccreery What version of kubectl did you use?

[2015-10-19 23:43] smarterclayton commented on #15895
The Kubelet owns responsibility for terminating pods.  If it doesn't, we have no component that can manage it barring a general purpose GC controller. We could have a feature flag that disables graceful in the API until all Kubelets are upgraded, or have the node controller manage graceful termination on back level nodes.

[2015-10-19 23:44] ncdc commented on #15702
This issue was opened where the kubelets were running in GKE. I created a new GKE cluster a couple of days ago and it was Kube 1.0.6.

You can use a 1.0.x version of kubectl against a 1.0.6 kubelet and you'll be able to do interactive exec. What won't work is #13394 and #13395, which were fixed by #13322.

I really really really want to get a smallest chunk of "protocol negotiation" into 1.1 if po

[2015-10-19 23:44] smarterclayton commented on #15123
You can delete pods with --grace-period=0

[2015-10-19 23:44] janetkuo opened #15907 "kubectl edit for multiple resources broke by UpdateApplyAnnotation"
When trying to edit multiple resources, for example:
[code]

`UpdateApplyAnnotation` will panic. Ref #14626 as the possible cause

cc @jackgr @bgrant0607

[2015-10-19 23:46] smarterclayton commented on #15895
The latter is probably more effective

[2015-10-19 23:47] ihmccreery commented on #13343
Additionally, the script never took into account the possibility that a PR might be updated after it was merged.  It sorts on last updated, then when it hits the oldest PR it's looking for, it assumes all others are older, even though they might have been merged after the oldest PR, but before that PR was commented on.

[2015-10-19 23:47] lavalamp commented on #15702
@ncdc Possibly as long as the end of the week.

But the specific scenario I'm asking about is kubectl 1.X -> apiserver 1.1
-> kubelet 1.0; is there any X for which this configuration works?

On Mon, Oct 19, 2015 at 4:44 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-19 23:52] smarterclayton commented on #15878
Since this halves the space available for annotations on every resource, I
think it should be more narrowly scoped.  Doubling the annotation size I
think puts us above the etcd 2.0 value limit.

On Oct 19, 2015, at 6:22 PM, Brian Grant <notifications@github.com> wrote:

@liggitt <https://github.com/liggitt> Access to historic resourceVersions
via the API is not sufficient. @jackgr <https://github.

[2015-10-19 23:54] mikedanese commented on #15895
@bgrant0607 looking at  #12962 more closely, terminatePods is only ever called on nodes that are being evicted.

[2015-10-19 23:54] ncdc commented on #15702
@lavalamp the only involvement from the apiserver is to identify the request as an upgrade request and proxy it raw back to the kubelet. I can't think of anything off the top of my head where a 1.1 apiserver would cause problems with exec/attach and a 1.0 kubectl and/or kubelet. The problem is really at the ends: right now kubectl 1.1 needs kubelet 1.1 for exec/attach to function 100% correctly.

[2015-10-19 23:55] mikedanese commented on #15123
The reason why we don't think this is fully explained by #15895 is because the last list pods shows running pods as opposed to terminating pods.

[2015-10-19 23:56] lavalamp commented on #15702
Thanks for the clarification!

On Mon, Oct 19, 2015 at 4:54 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-19 23:59] liggitt commented on #15907
if #14626 was the cause, any fix needs to happen in 1.1 as well, #14626 was already cherry picked there

[2015-10-20 00:00] ihmccreery commented on #15123
Also, just telling all of our users, "use `--grace-period=0` or else your deleted pods will live forever" is not a good UX.  This needs to work out-of-the-box.

Both Jenkins and I are running `kubectl` v1.0.6:

[code]

[2015-10-20 00:08] nikhiljindal opened #15910 "Cross links dont work in api reference docs when viewed using htmlpreview"
For ex: links in https://htmlpreview.github.io/?https://raw.githubusercontent.com/kubernetes/kubernetes/master/docs/api-reference/extensions/v1beta1/definitions.html dont work when they point to docs outside this one.

Links work fine when the same doc is viewed on kubernetes.io (ex: http://kubernetes.io/v1.0/docs/api-reference/definitions.html).

Looks like a bug in htmlpreview. Need to figure ou

[2015-10-20 00:10] bgrant0607 commented on #15907
Also shows that we need a test for this case.

[2015-10-20 00:12] ixdy commented on #13818
This test is no longer flaky; it's failing 100% on `kubernetes-e2e-gce-flaky`:

[code]

[2015-10-20 00:15] liggitt commented on #14126
hrmm, you're right, my mistake...

[2015-10-20 00:15] #14126 closed

[2015-10-20 00:18] thockin commented on #13818
@ixdy #15854 - I have a half dozen passes on it - what am I doing differently from you?

[2015-10-20 00:21] DazWilkin opened #15912 "counter-pod.yaml renders incorrectly in various browsers"
The counter-pod.yaml code block renders incorrectly on kubernetes.io see how 'kind' is indented:
http://kubernetes.io/v1.0/docs/getting-started-guides/logging.html

But renders correctly on the GitHub page:
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/logging.md

This repro's on Linux Chrome|Firefox and Chrome on an Android device.

Once the indentation starts i

[2015-10-20 00:32] bgrant0607 commented on #15895
Yes, we're effectively violating the policy discussed in #4855 by using a feature by default that doesn't work until Kubelets are updated.

@mikedanese That explains why it doesn't help this case. :-)

@smarterclayton Mike and I discussed GC controller vs. node controller. My conclusion was that node controller would be a better fit. I thought about adding a feature flag, but it seemed like gettin

[2015-10-20 00:37] ixdy commented on #13818
@thockin http://goto.google.com/k8s-test/job/kubernetes-e2e-gce-flaky/lastCompletedBuild/testReport/(root)/Kubernetes%20e2e%20suite/Services_should_be_able_to_change_the_type_and_nodeport_settings_of_a_service/ says "Failing for the past 324 builds (Since [build #]5766)"

[2015-10-20 00:38] liggitt commented on #15878
Less than half, potentially. If you create a replication controller with a large number of containers or volumes, etc, you could potentially hit the size limit with just the apply annotation. Likely, no, but core commands having edge cases like that concerns me.

[2015-10-20 00:39] ixdy commented on #13818
oh, I think we exhausted our quota of forwarding rules and static IP addresses in the project this build is using. some tests are still leaking...

[2015-10-20 00:47] smarterclayton commented on #15895
I also prefer node controller.  I'll send a patch tomorrow morning.

On Oct 19, 2015, at 8:33 PM, Brian Grant <notifications@github.com> wrote:

Yes, we're effectively violating the policy discussed in #4855
<https://github.com/kubernetes/kubernetes/issues/4855> by using a feature
by default that doesn't work until Kubelets are updated.

@mikedanese <https://github.com/mikedanese> That explains wh

[2015-10-20 00:51] mikedanese commented on #15895
@smarterclayton I'm already preparing one.

[2015-10-20 00:52] nikhiljindal opened #15915 "Replace swagger-ui by our static api reference docs"
List of issues with swagger-ui (kubernetes.io/third_party/swagger-ui/):
* Very slow (https://github.com/swagger-api/swagger-ui/issues/1455)
* XSS issues (https://github.com/swagger-api/swagger-ui/issues/830)

List of issues we need to fix with static api reference docs (http://kubernetes.io/v1.0/api-ref.html), before we can eliminate swagger-ui:
- [x] gen-swagger-doc should read local swagger spec

[2015-10-20 00:54] nikhiljindal commented on #14089
Summarized the list of things we need to do before we can eliminate swagger-ui here: https://github.com/kubernetes/kubernetes/issues/15915

[2015-10-20 00:55] HaiyangDING commented on #15817
@hsaputra

Hi, how is issue going? Are you working on this?

[2015-10-20 00:59] ncdc commented on #15123
I just tested on my local vagrant VM. I built the latest master and ran `hack/local-up-cluster.sh`. I manually killed the kubelet process. I downloaded the 1.0.6 release tarball and started the kubelet by hand just like `hack/local-up-cluster.sh` would. I created the rc as described above and then deleted it. My pods show Terminating (i.e. what you see in #15895), not Running. Perhaps there is a r

[2015-10-20 01:04] smarterclayton commented on #15123
No one was proposing that.

On Oct 19, 2015, at 8:00 PM, Isaac Hollander McCreery <
notifications@github.com> wrote:

Also, just telling all of our users, "use --grace-period=0 or else your
deleted pods will live forever" is not a good UX. This needs to work
out-of-the-box.

@ihmccreery <https://github.com/ihmccreery> What version of kubectl did you
use?

Both Jenkins and I are running kubectl v1.

[2015-10-20 01:04] smarterclayton commented on #15123
Was the client 1.0 or 1.1?

On Oct 19, 2015, at 7:56 PM, Mike Danese <notifications@github.com> wrote:

The reason why we don't think this is fully explained by #15895
<https://github.com/kubernetes/kubernetes/issues/15895> is because the last
list pods shows running pods as opposed to terminating pods.

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/

[2015-10-20 01:08] ixdy commented on #13818
OK, this started working again when I cleaned up the resources. Never mind.

[2015-10-20 01:12] mikedanese commented on #15123
@smarterclayton 1.0 client.

[2015-10-20 01:13] ncdc commented on #15123
My test was with a 1.1 client. I'll retest with 1.0.

[2015-10-20 01:15] smarterclayton commented on #15123
Terminating is not a new phase (not backwards compatible), so old clients
don't know that deletion has been requested but not yet completed.

On Oct 19, 2015, at 9:12 PM, Mike Danese <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> 1.0 client.

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/15123#issuecomme

[2015-10-20 01:16] saturnism commented on #10959
@vishh i like where this is going! :+1:

[2015-10-20 01:18] bgrant0607 commented on #15895
Is there a reason why we shouldn't also immediately delete terminated pods, just as we do for not-yet-scheduled pods?
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/pod/strategy.go#L109

[2015-10-20 01:20] bgrant0607 commented on #15915
SGTM

[2015-10-20 01:22] mikedanese commented on #15895
@bgrant0607 add that in PR #15900

[2015-10-20 01:23] smarterclayton commented on #15895
When?  Unscheduled pods aren't under the control of a Kubelet, scheduled
pods are.  If we delete immediately clients have no feedback to termination.

The node controller managing termination for a node controller is
reasonable - it emulates 1.0 behavior.

On Oct 19, 2015, at 9:18 PM, Brian Grant <notifications@github.com> wrote:

Is there a reason why we shouldn't also immediately delete terminat

[2015-10-20 01:24] ncdc commented on #15123
Ok, I see the same behavior. On a 1.0 client, the status is running. On a HEAD client, it's terminating. So is this essentially a dupe of 15895?

[2015-10-20 01:26] smarterclayton commented on #15895
Oh, you meant "run to completion".  Yes, we should.

[2015-10-20 01:28] smarterclayton commented on #15123
It's more of a "old clients don't see new behavior". It's not really a bug.

[2015-10-20 01:33] hsaputra commented on #15817
Hi @HaiyangDING , I will not start looking at this until sometimes next week.

If you would like to work on it, feel free to work on it.

[2015-10-20 01:37] bgrant0607 commented on #15878
@liggitt What scenario are you seeing where resources are close the size limit? 64K seems like a lot.

[2015-10-20 01:41] bgrant0607 commented on #15878
What is the etcd value size limit? I see a limit of 1MB for raft messages.

[2015-10-20 01:43] bgrant0607 commented on #15878
BTW, annotations were originally added to the system for this precise purpose (#1201), so I'd like to find a way to make them work.

[2015-10-20 01:43] smarterclayton commented on #15878
Slightly less than that due to metadata.  Are we only at 64k for
annotations?  I thought we allowed up to 240k - must be misremembering.

On Mon, Oct 19, 2015 at 9:41 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-20 01:44] bgrant0607 commented on #15878
@smarterclayton See the line of code setting `totalAnnotationSizeLimitB` that I copy-pasted above.

[2015-10-20 01:46] JanetKuo commented on #15907
#14626 is the cause. When we edit multiple resources (i.e., list-type objects), the list's Accessor.annotations (type `*map[string]string`) is nil and will panic when UpdateApplyAnnotation tries to SetAnnotations (`*accessor.annotations = annotations`).

[2015-10-20 01:57] HaiyangDING commented on #15817
@hsaputra

Hi, I asked this because I am interested in Apache Flink, however I am not that familiar with it:) I am looking forward to seeing Flink running with Kubernetes.

I would give it a try but I think eventually it should be someone who knows Flink well to do this.

Thank you.

+1 for this issue.

[2015-10-20 02:02] timstclair opened #15916 "Documentation 404s"
Lots of links in the documentation currently lead to 404s. There are even more in the current [published](http://kubernetes.io/v1.0/docs/) version.

In addition to fixing these, we should either set up a test or a pre-commit hook to check that URLs are valid.

Hacky regex, not including relative URLs:
[code]

[2015-10-20 02:10] smarterclayton commented on #15878
Fair, but for components that are already doing that it doubles the size of
those objects (OpenShift encodes the current deployment config into an RC,
but we would now need to strip that field).  Not a total obstacle, but it
does feel aggressive to carve out that state assuming every CLI operation
would eventually result in an apply.  I had shared Jordan's assumption that
only resources created vi

[2015-10-20 02:18] smarterclayton commented on #12701
This was fixed in the merged pull.

[2015-10-20 02:18] #12701 closed

[2015-10-20 02:20] evandbrown opened #15917 "GCE metadata name doesn't resolve in container"
This seems like like #8512

**Symptom:** Hostname `metadata` does not resolve in a container. `metadata.google.internal` does resolve.

[code]

Cluster details:
[code]

[code]

Contents of `resolv.conf`:
[code]

[2015-10-20 02:23] liggitt commented on #15878
* A secret containing several files in its data map (I would assume any sort of config object as well, once that gets figured out)
* OpenShift's template object (essentially a persisted List + parameter definitions), which also had the distinction of running up against the 64k annotation limit in practice, as template providers wanted to use annotations to store things like icons and descriptions

[2015-10-20 02:44] liggitt commented on #15580
"finding all clients" is going to be hard for a publicly released API... what is the downside to preserving immutable metadata fields during an update in which the client didn't submit the values? `resourceVersion` and `name` are the ones which uniquely identify the resource intended to be updated. If the client specifies conflicting values for immutable fields, we already fail (appropriately).

[2015-10-20 02:44] liggitt commented on #15580
cc @smarterclayton

[2015-10-20 03:00] hsaputra commented on #15817
That is awesome.Yeah, my interest is also actually with Flink.
Will try to give it shot to make it deployable with Kubernestes

[2015-10-20 03:10] #10451 closed

[2015-10-20 03:12] liggitt commented on #15580
to be clear, I'd like to move the preservation out of the validation step (maybe into `BeforeUpdate`, after `PrepareForUpdate` is called?)

[2015-10-20 03:13] rroopreddy commented on #15731
I made the restartPolicy changes as per suggestion and pods are still dying.  We are pretty much hosed with this issue in test deployment and can not proceed further without understanding the cause.

I have posed in StackOverflow; apossible explanation is that the node was unresponsive for >5 minutes and hence triggering Eviction. Based on item (3 and 4) below from logs, seems right.

The question

[2015-10-20 03:30] timothysc commented on #15867
/cc @kubernetes/rh-cluster-infra @kubernetes/sig-scalability

[2015-10-20 03:31] timothysc commented on #15879
cc @kubernetes/rh-cluster-infra

[2015-10-20 03:32] timothysc commented on #15895
/cc @kubernetes/rh-cluster-infra

[2015-10-20 03:48] saturnism opened #15924 "Ability to expose headless service from kubectl CLI"
Currently, `kubectl expose` can expose a rc as a service - but it seems like the command line cannot create a headless service.  Proposing an additional flag, such as:

`kubectl expose rc somestuff --headless=true --port=8080`

[2015-10-20 04:14] smarterclayton opened #15925 "Kubelet does not abort (and delete) a pod with an image that has not yet been pulled"
Created a pod that has an invalid image (docker 1.8.2, layer failed), then started a graceful delete.  The pod is marked deleting, but the Kubelet does not acknowlege the delete.  Graceful should interrupt in progress pulls.

`v1.2.0-alpha.1-1107-g4c8e6f4`

[code]

[code]

[2015-10-20 04:15] thockin commented on #15917
Yeah, you have 7 search paths but you can only have 6.  The us-central1-f
is new - i don't have that in my VMs.  I'll investigate.

On Mon, Oct 19, 2015 at 7:20 PM, Evan Brown <notifications@github.com>
wrote:

[2015-10-20 04:17] #3705 closed

[2015-10-20 04:18] ihmccreery commented on #15123
Acknowledged.  I misunderstood your comment.

Can we still call this behavior `v1` then?  @lavalamp, you've mentioned concern over version-skew problems between clients and the API.  Any strong feelings?

[2015-10-20 04:30] davidopp commented on #15123
Just to make sure I understand: you do agree that the fact that the pods never go away is a bug, but the fact that they show Running instead of Terminating is not a bug?

(And perhaps you are further implying that because Running vs. Terminating is a red herring, this probably actually is a dupe of #15895?)

[2015-10-20 04:33] thockin commented on #7890
We'll want to decide how we want to handle FUSE mounts in general - there
are potentially a LOT of neat things we can do, but FUSE is (historically)
known to be less than 100% reliable.  The simplest is that we push it all
into the user's space and require privileges.  Perhaps there are more
interesting ways to manage it?

On Mon, Oct 19, 2015 at 4:27 PM, Zach Loafman <notifications@github.com>
wr

[2015-10-20 04:41] caesarxuchao commented on #14126
@liggitt, I think you are correct about the create part. We don't have a validation function for common fields in the create path.

[2015-10-20 04:44] evandbrown commented on #15917
Ahh. Thanks! It's a GKE cluster created a few hours ago.

On Mon, Oct 19, 2015 at 9:16 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-10-20 04:52] dolphyvn commented on #14870
I also have same issue while running on centos 6.5, any update for this?

[2015-10-20 04:55] smarterclayton commented on #15123
On Oct 20, 2015, at 12:30 AM, David Oppenheimer <notifications@github.com>
wrote:

It's more of a "old clients don't see new behavior". It's not really a bug.

Just to make sure I understand: you do agree that the fact that the pods
never go away is a bug, but the fact that they show Running instead of
Terminating is not a bug?

Yes, node controller should identify that a Kubelet cannot perform it

[2015-10-20 05:12] apeeyush commented on #15692
@kargakis I made some changes today and even the flannel based vagrant setup seems to be working fine now!

Can you try rebuilding your kubernetes using

    ./build/release.sh

And then, setup the cluster using

    export KUBERNETES_PROVIDER=vagrant
    cluster/kube-up.sh

Please report your results here (whether it works or not). I am not sure if the error was because I had forgotten to rebuild

[2015-10-20 05:18] thockin commented on #15527
Confirmed with the userpsace proxy.

@ArtfulCoder

[2015-10-20 05:20] thockin commented on #15527
does NOT seem to be a problem in the iptables proxier.

[2015-10-20 05:21] thockin commented on #15527
jijun2 this would be a great bug to tackle :)

[2015-10-20 05:43] thockin commented on #14870
Nobody has given me debug info:

First, it's detecting your iptables version is "too old".  I don't buy that
- can you run `iptables --version` ?

Second, it's failing the check even with the fallback method.  Can you
raise the --v flag on kube-proxy to 5 (there's a level 5 log-line I want to
see)

On Mon, Oct 19, 2015 at 9:52 PM, dolphyvn <notifications@github.com> wrote:

[2015-10-20 05:53] dolphyvn commented on #14870
[root@localhost]# /usr/bin/kube-proxy --logtostderr=true --alsologtostderr=true  --v=5 --master=http://10.30.17.11:8080
I1020 12:51:48.000879   13041 server.go:88] Running in resource-only container "/kube-proxy"
I1020 12:51:48.001077   13041 util.go:499] Default route transits interface "eth1"
I1020 12:51:48.001202   13041 util.go:346] Interface eth1 is up
I1020 12:51:48.001273   13041 util.go:39

[2015-10-20 05:54] dolphyvn commented on #14870
and it keep continuous adding this rule
I1020 12:51:58.061365 13041 iptables.go:193] running iptables -A [OUTPUT -t nat -m addrtype --dst-type LOCAL -m comment --comment handle service NodePorts; NOTE: this must be the last rule in the chain -j KUBE-NODEPORT-HOST]

[2015-10-20 05:54] thockin commented on #13818
Great cuz I want to move all Services tests off the flaky list :)

On Mon, Oct 19, 2015 at 6:09 PM, Jeff Grafton <notifications@github.com>
wrote:

[2015-10-20 06:03] thockin commented on #14870
Damn, the debug that is in there is not sufficient.  If I provided a binary
from head, would you try it?

On Mon, Oct 19, 2015 at 10:54 PM, dolphyvn <notifications@github.com> wrote:

[2015-10-20 06:04] emaildanwilson opened #15929 "nodecontroller deleted all nodes in healthy cluster"
I modified the VPC that kubernetes was running in to no longer provide DNS hostnames. Then the check for ExternalID in the node controller failed which took down all the nodes in the cluster.

Would it be ok to make this check more intelligent and less stringent on externalid? The cluster was perfectly healthy otherwise. Perhaps there is a better way to check on the ExternalID for AWS? It looks li

[2015-10-20 06:26] thockin commented on #14118
You should not need to modify the code at all.  Just expose your kube-proxy
on an accessible port and run `go tool pprof
http://host:port/debug/pprof/heap`.
You probably should use the --healthz-bind-address=0.0.0.0 and
--healthz-port=80 flags

On Mon, Oct 19, 2015 at 2:36 AM, jijun2 <notifications@github.com> wrote:

[2015-10-20 06:33] jijun2 commented on #15527
@thockin , @xfye, OK! I will take a try.

[2015-10-20 06:35] bgrant0607 commented on #15563
@thockin and @ArtfulCoder found a serious bug in 1.8:
https://github.com/docker/docker/issues/17190

[2015-10-20 06:42] lorenzvth7 commented on #15833
[code]

[2015-10-20 06:57] dolphyvn commented on #14870
can you send it to me?
On Oct 20, 2015 1:04 PM, "Tim Hockin" <notifications@github.com> wrote:

[2015-10-20 07:08] jijun2 commented on #14118
@thockin , Where the "--healthz" flags add to ? Can you have some more details ? thanks.

[2015-10-20 07:54] bronger commented on #15702
@lavalamp I have implemented a working provisional solution for me which may exists for as long as it's necessary.

[2015-10-20 08:00] pmorie commented on #15892
@wojtek-t I also ran into the same issue when working on #14705.  You can grab my `pod-sc-inline` branch to recreate with that one.  I hope I am doing something wrong, but if I am not, I'm basically blocked on this and need to get it working asap.

[2015-10-20 08:01] davidopp commented on #15806
@gmarek said he would take a look and update the issue with any findings.

It may be a bit premature to look into it before #15123 is resolved, but at least we can try to figure out how to manually repro this now, so that we will know whether #15123 fixes this issue.

[2015-10-20 08:02] willmore opened #15932 "AWS: containers cannot connect to non-Kubernetes sub-net in same VPC"
Stemming from connectivity investigation in #15823

In AWS we have a VPC `10.0.0.0/16` with several subnets: `10.0.0.0/24` ... `10.0.3.0/24`.
Kubernetes has been deployed to `10.0.3.0/24` with a slightly modified `kube-up.sh` (to squeeze into the existing VPC).
Everything is _almost_ working...

We have broken routing from containers deployed in `10.0.3.0/24` to other subnets.
From a given node in

[2015-10-20 08:03] willmore commented on #15823
Traced issue down to SkyDNS not being able to connect to VPC DNS at `10.0.0.2`. Following up in #15932.

[2015-10-20 08:25] gajju26 opened #15934 "Getting compilation error for unused variable "var tokenName string" in file service_accounts.go"
While Compiling the source code of Kubernetes, I am getting a compilation error saying tokneName var is unused.
Please find below the link of the file:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service_accounts.go
If this variable is not needed in future can we remove this from the code.

[2015-10-20 08:31] davidopp commented on #7660
There is more to do here, just not for 1.1

[2015-10-20 08:31] gmarek commented on #15716
If some is interested - after a night Heapster memory usage on an idle 100 Node cluster was 460 MB

[2015-10-20 08:34] wojtek-t commented on #15892
@pmorie I'm not sure what you did (it's possible that there is something wrong with the scripts, but I cannot reproduce it) - but the problem is with your PR.

So to clarify:
- in #15352 you completely removed the following files:
 a) pkg/api/v1/types.generated.go
 b) pkg/apis/extensions/types.generated.go
 c) pkg/apiserver/testing/types.generated.go
- in #14705 you completely removed the followin

[2015-10-20 08:36] willmore commented on #15932
Some more info:

Routing from container:
[code]

Routing from node:
[code]

Ping from node to other subnet through `eth0`:
[code]

Ping from node to other subnet through `cbr0`:
[code]

[2015-10-20 08:43] simon-temple commented on #15917
I think I may have the same problem.  This is a new cluster I've just created in zone us-central1-b.  I have the same configuration running without error in europe-west1-d:
[code]

Details:

[code]

[code]

[code]

[2015-10-20 08:46] qwang1 commented on #14163
I couldn't reproduce the old issue (Pod is always in ContainerCreating status and logs "specified host networking, but is disallowed") now, but I found even if the "host" : "127.0.0.1" was not specified as part of the probe, the pod ran normally. Here is http://fpaste.org/281313/ . I'm not sure there's something I misunderstand, could you help to take a look? Thanks.

[2015-10-20 09:02] feihujiang commented on #15834
@thockin  But I found the following API is supported now.
Get http://127.0.0.1:8080/api/v1/pods?fieldSelector=metadata.name=counter
The result is:
[code]
#14014 has the more information.

Do we need to support the following kubectl command(using the above API) or just return clear error messages?
#./cluster/kubectl.sh get pods counter --all-namespaces

[2015-10-20 09:02] gmarek commented on #15227
Bumping priority - this problem makes all longer running tests (soak, upgrade) unusable.
cc @davidopp @thockin @quinton-hoole @brendandburns

[2015-10-20 09:11] gmarek commented on #15806
I'm unable to find logs from failed runs, which makes everything slightly harder. I'll try to reproduce the problem on GCE cluster, but it may not work. FYI: most of `step5` was caused by waiting for skydns to come back up (which doesn't happen: #15227).

I see that there's a difference in number of system pods between version 1.1 and 1.0 - there's only 5 of them in 1.1 and 8 of them in 1.0. I'm w

[2015-10-20 09:48] andvikram opened #15935 "No documentation on how to point a Kubernetes pod to a registry other than gcr.io"
I have been trying to a run a very basic container based on ubuntu:14.04 that simply echos 'Hello World'. But when I run the kubelet with most of the default options I get this error message:

`Failed to create pod infra container: image pull failed for gcr.io/google_containers/pause:0.8.0, this may be because there are no credentials on this request`

If gcr.io requires credentials how can I poin

[2015-10-20 10:07] #12122 closed

[2015-10-20 10:15] gmarek commented on #15806
AFAICT there's a problem with the test, not the upgrade itself. The test from 1.1 branch fails on 1.0 cluster.

[2015-10-20 10:21] justinsb commented on #15867
I would love to evaluate btrfs at the same time.  I personally have found it more reliable than aufs.  The biggest failing btrfs has is that when the disk gets close to full it behaves poorly (ENOSPC and no way to release space), although this is better in newer kernel versions and can typically be avoided by cleaning up docker images regularly (which we do) and perhaps by running a rebalance as a

[2015-10-20 10:35] #12398 closed

[2015-10-20 10:35] xfye opened #15937 "It takes a long time (18 Mins) for pod to startup on node"
### Cluster
v0.19 + docker v1.6.2

### kubectl describe pod
[code]

<h3>Kubelet logs</log>
[code]

### Some highlight points

* It seems that Kubelet will visit http://metadata.google.internal./computeMetadata/v1/instance/attributes/google-dockercfg-url. But in our cluster env, we can not vist the google url.
* This issue may happen in different hosts. The pod has been scheduled to the host but Ku

[2015-10-20 10:41] dolphyvn commented on #14870
the latest release fixed this.

[2015-10-20 10:42] xfye commented on #15937
Why does Kubelet visit the url:http://metadata.google.internal./computeMetadata/v1/instance/attributes/google-dockercfg-url

If the node can not access the url, will it impact the pod starting on the node ?

[2015-10-20 10:53] justinsb commented on #15077
This should be fixed (finally!) by #15938

[2015-10-20 10:57] justinsb commented on #15058
I think this should be addressed by #15938.  It introduces retry-on-any-failure logic, which should cover this case.

[2015-10-20 10:59] justinsb commented on #13770
We are now using 0.9.9.  Thanks for the reminder @onlyjob !

[2015-10-20 10:59] #13770 closed

[2015-10-20 11:00] justinsb commented on #9892
Closing; we implemented the suggested fix.

[2015-10-20 11:00] #9892 closed

[2015-10-20 11:06] justinsb commented on #9801
This should be fixed by #13467.  Please comment/reopen if not.

[2015-10-20 11:06] #9801 closed

[2015-10-20 11:06] #15905 closed

[2015-10-20 11:31] JeanMertz commented on #14647
I'm going to close this issue, I haven't been in a position to re-test this, and won't be in the coming weeks. If it happens again, I'll reopen the issue.

Thank you @saad-ali.

[2015-10-20 11:31] #14647 closed

[2015-10-20 11:32] activeshadow opened #15940 "Unclear Documentation: Services, NodePorts, and Custom Load Balancers"
I'm needing a load balancer, external to my Kubernetes environment, that facilitates session affinity via means other than **client IP**. In reading the documentation for services, I see where it's mentioned that a service of type `NodePort` "gives developers the freedom to set up their own load balancers". This seems like a good start, but it also mentions that a `NodePort` uses a cluster IP alon

[2015-10-20 12:06] rhatdan commented on #15867
I think this would be premature to make it default.  Multiple reasons to hold off on OverlayFS.
1.  Currently overlayfs with docker does not support SELInux labeling properly.  This means we have
to turn off SELinux separation between containers.  I believe SELinux is the best tool we currently have for
container separation.
2.  Overlayfs is not a posix compatible file system.  The first time we t

[2015-10-20 12:13] derekwaynecarr commented on #10959
@vishh - we do not want to require the use of OverlayFS for Kube 1.2 at Red Hat

[2015-10-20 12:14] lorenzvth7 commented on #15833
When I'm creating a whole new persistent volume, without doing exportfs etc.
And I want to mount it to /tmp, I get the following:
[code]

Now the pv was created by this yaml:
[code]

[2015-10-20 12:14] rhvgoyal commented on #15867
Agreed. OverlayFS is very new and not posix compliant. So applications might be in for a surprise. So while overlayfs should be an option but it is early for the default, I guess.

[2015-10-20 12:16] geoah commented on #15444
+1 This feels like an issue; Reported memory usage is painting a very false picture of what is happening in my cluster. Even a newly created cluster will show minions with high memory usage.

[2015-10-20 12:20] lorenzvth7 commented on #15833
Iptables on master

[code]

[2015-10-20 12:24] rhvgoyal commented on #15867
It might be worth going through non standard behavior described here for overlayfs.

https://github.com/torvalds/linux/blob/master/Documentation/filesystems/overlayfs.txt#L178

[2015-10-20 12:28] AdrianAbraham commented on #14870
@thockin Sorry, I was relying upon Github to inform me when the issue changed, and I didn't get notified you'd responded to my last post.

@dolphyvn is correct - this issue doesn't seem to occur with 1.2.0-alpha.2. The log does indicate that it's using the userspace proxier because it "can't get Node "<nodename>": node "<nodename>" not found", but it still seems to run OK.

[2015-10-20 12:30] wojtek-t opened #15945 "Speed-up LIST operations by serving them from memory"
### Background
Currently, to serve LIST operation in apiserver we do the following:
- read all objects of a given resource from etcd
- filter out objects that user is not interested in
- return the result

This means, that complexity of LIST operation is proportional to the number of all objects of a given type, not to the number of objects returned to the user.

As an example, consider 1000-node

[2015-10-20 12:52] stevekuznetsov commented on #9946
@pmorie I'll take a look

[2015-10-20 12:56] stevekuznetsov commented on #11661
I believe this is resolved - the PR (#9938) merged quite a while ago.

[2015-10-20 13:01] Smana commented on #11661
My opened issue #11869 is still opened and it is not solved given my latest tests.

[2015-10-20 13:03] stevekuznetsov commented on #11661
@Smana That issue can remain open, then. This one has been resolved.

[2015-10-20 13:05] Smana commented on #11661
Ok thank you

[2015-10-20 13:22] jfbibeau commented on #15935
This is what I did:

`docker pull docker.io/kubernetes/pause`

`docker tag docker.io/kubernetes/pause gcr.io/google_containers/pause:0.8.0`

`KUBELET_ARGS="--pod_infra_container_image=docker.io/kubernetes/pause:latest"`

Restart kubelet service.

However, I think your question is still valid - for example, I want to enable the DNS addon in k8s but I can't reach gcr.io to pull the packages.

[2015-10-20 13:28] MarcoLotz commented on #5706
This happens if you are under proxy. Your docker daemon may reach the outside network, but not your containers. The solution is to add the proxy information on the dockerfile.

Go to the image folder for kubernetes:
<code>cd kubernetes/_output/images/ </code>

Enter in the dir that looks like a build image, in my case was:
<code>cd kube-build:build-276235eaff</code>

Add proxy information on the v

[2015-10-20 13:31] gmarek commented on #15806
It's caused by #12539. Can we please stop renaming things? AFAICT the problem is with test only, everything should be working 'on production'. In v1.0 scheduler Events reasons start with a small letter (e.g. failedScheduling) and v1.0 test is looking for those kind of events to occur. In v1.1 we changed Event reasons to start with a capital letter (e.g. FailedScheduling) and modified test accordin

[2015-10-20 13:46] ansgarstrother opened #15949 "Logs not showing up in Google Logs"
Following the instructions here:
http://kubernetes.io/v1.0/docs/getting-started-guides/logging.html

kubectl get pods --namespace=kube-system
NAME                                                READY     STATUS    RESTARTS   AGE
fluentd-cloud-logging-gke-lite-7b2390f5-node-74cc   1/1       Running   0          18h
fluentd-cloud-logging-gke-lite-7b2390f5-node-tp7d   1/1       Running   0          1

[2015-10-20 13:51] lorenzvth7 commented on #15833
Manually it's al working so I'm now using tis example: https://github.com/openshift/origin/tree/master/examples/wordpress
[code]
So the storage of /var/lib/mysql/data has to come in my /home/data/pv0001 (and vice versa)?
It's possible with:
[code]
So when I'm creating a file in /var/lib/mysql/data (on the node), than I see this file in my /home/data/pv0001 on the master.

[2015-10-20 14:14] smarterclayton commented on #15945
Today, we don't enforce that guarantee necessarily in a cluster because we
don't specify quorum=true reads.  This will make it more likely though.

We had proposed taking the resourceVersion as minimum read before, I'm in
favor of that as well.

On Tue, Oct 20, 2015 at 8:31 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2015-10-20 14:17] wojtek-t commented on #15945
We had proposed taking the resourceVersion as minimum read before, I'm in
favor of that as well.

Was this discussed somewhere on github? I didn't see that...

[2015-10-20 14:34] willmore commented on #12905
I've run into the same issue twice on the past week with a small cluster (2 minions).

Running Ubntu vivid `Linux ip-10-0-3-63 3.19.0-20-generic #20-Ubuntu SMP Fri May 29 10:10:47 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

@justinsb you recommend installing aufs-tools manually to see if it helps - could you elaborate?

[2015-10-20 14:34] rootfs commented on #15833
@lorenzvth7 so you can mount nfs manually now, can you do the same in the pod?

[2015-10-20 14:40] mikedanese commented on #15895
WIP in #15930

[2015-10-20 14:41] smarterclayton commented on #15945
Very old https://github.com/kubernetes/kubernetes/pull/846#issuecomment-54387892

[2015-10-20 14:44] lorenzvth7 commented on #15833
@rootfs How do you mean? So now I'm creating a pv and do exportfs. Than I create a new project with a claim on that pv. Than I create the service and at lat I create the pod (pending state). So you want me to do that command in a pod? I don't really understand

[2015-10-20 15:00] jdef commented on #15530
volumes require support by the cloudprovider implementation used by kubernetes. kubernetes-mesos uses a custom "mesos" cloudprovider - it doesn't support any type of cloud volumes.

[2015-10-20 15:00] #15530 closed

[2015-10-20 15:03] rootfs commented on #15833
Your `kubectl get event` still shows trouble, but you can mount nfs manually on kubernetes host, correctly? I am wondering   what could be the problem.

[2015-10-20 15:08] jdef commented on #15529
thanks for reporting this. we've been battling some problems w/ respect to graceful pod deletion. can you tell me how you're building kubernetes mesos (e.g. from which branch)? If from master ... several PR's have been recently merged to master, some specifically to fix bugs related to graceful pod deletion. Would you be able to check out the latest code and check to see if the the task/pod sync p

[2015-10-20 15:12] jdef commented on #15413
That's interesting. I wonder what other service claimed that service IP? perhaps kube-ui (since it's not assigned an IP by default, it's possible that it was created before kube-dns and the service IP allocator granted it 10.10.10.10). AFAICT in cluster/mesos/docker the kube-dns service should be spawned before kube-ui .. but maybe something else wonky is happening?

[2015-10-20 15:13] lorenzvth7 commented on #15833
I can do it manually but in that case I'm doing nothing with pods

[2015-10-20 15:19] #15898 closed

[2015-10-20 15:46] ncdc commented on #15726
I have an initial implementation working on my laptop. I've restored support for the 1.0.x behavior, so a kubectl client from master will now work against a 1.0 kubelet again. I need to finish fleshing this out, which includes fixing the unit tests due to function signature changes, and adding subprotocol negotiation to port forwarding. I'm going to be traveling this afternoon so hopefully I can h

[2015-10-20 15:55] gmarek commented on #15835
I wasn't able to reproduce the issue. It seems like a flake - I'll try again tomorrow, and if I'll fail I'll close this issue.

[2015-10-20 16:01] smarterclayton opened #15952 "TCP Health Checker unit test fails on Go 1.6"
[code]

[2015-10-20 16:20] aveshagarwal commented on #15816
I am also running into similar error:
./hack/update-codecgen.sh
./hack/update-codecgen.sh: line 46: codecgen: command not found

[2015-10-20 16:23] lavalamp commented on #15702
@bronger that's great-- is it something you can put into a PR so we can take a look?

[2015-10-20 16:23] lavalamp commented on #15726
@ncdc awesome, thanks!

On Tue, Oct 20, 2015 at 8:46 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-20 16:26] ihmccreery commented on #15806
@gmarek thanks for your work on this.

From @bgrant0607's [comment](https://github.com/kubernetes/kubernetes/pull/12539/files#r36796328) on #12539:

Furthermore, in my (rookie) opinion, #12539 seems like it should be considered a bug fix rather than an API change.

Thus I think #15948 makes good sense.

[2015-10-20 16:30] lavalamp commented on #15403
Ah, OK. I think that does not need to be done for 1.1, thanks for clarifying.

Going forward, we should let whoever is developing a feature add the var to enable/disable, although I'd prefer just to turn everything on in HEAD and stop using so many env vars. But if you want to be extra nice to people, you could add one for the things that didn't make it into 1.1, I suppose.

[2015-10-20 16:35] lavalamp commented on #15945
@wojtek-t and I discussed this IRL yesterday and I'm also in favor of accepting a resourceVersion on list. It means clients that care have to change, e.g. kubectl may want to cache the resource version it got on a POST for reuse in a subsequent LIST.

[2015-10-20 16:36] lavalamp commented on #15945
@wojtek-t do you plan on fixing watches at the same time or will that be a second step? I think most of the benefit is quite possibly in fixing the number of times the watches invoke filterfuncs...

[2015-10-20 16:48] smarterclayton commented on #15945
We *might* want to make clients stateful and observe this themselves.

On Tue, Oct 20, 2015 at 12:37 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-10-20 16:50] bgrant0607 commented on #15945
Hah. I'm not the only one who remembers old issues. :-)

I'm in favor of accepting resourceVersion on GET, as well, as you could guess from that comment. That would only help new, smart clients, however.

An option not mentioned was implementing a full-blown cache coherence protocol, to invalidate on write and subsequently fetch the most recent copy of the resource.

[2015-10-20 16:53] nikhiljindal commented on #15403
Closing.

[2015-10-20 16:53] #15403 closed

[2015-10-20 16:57] bronger commented on #15702
No, it is a very special workaround.  I needed "exec -i" for copying files into the container, and I use rsync for this now.  I just wanted to say that postponing a solution is no showstopper for me.

[2015-10-20 17:13] quinton-hoole commented on #15945
@bgrant0607 that's the write-through cache that I proposed above.  It sounds like you're also in favor of that.

While the "minimum resource version on get" option is theoretically correct, it does impose quite a burden on less sophisticated client developers.  We will definitely cause a lot of difficult to track down bugs in clients which write and then read dumbly, no matter how loudly we tell d

[2015-10-20 17:16] bcwaldon commented on #15108
@yujuhong That sounds like what I need, too. I would like to do this declaratively, though. I do not want to have to make any API calls after the kubelet starts if I can avoid it.

[2015-10-20 17:18] jackgr commented on #15894
ACK

Jack Greenfield | Google

On Mon, Oct 19, 2015 at 3:25 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-20 17:19] jackgr commented on #12143
Thanks.

Jack Greenfield | Google

On Mon, Oct 19, 2015 at 3:19 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-10-20 17:26] yujuhong commented on #15108
@bcwaldon, you shouldn't have to. All you need to do is pass "--register-schedulable=false" to kubelet at startup.

[2015-10-20 17:30] wojtek-t commented on #15816
#15836 is already LGTMed - it should be merged soon.

[2015-10-20 17:47] bcwaldon commented on #15108
@yujuhong perfect, that's exactly what I was hoping :)

[2015-10-20 17:52] ihmccreery commented on #15256
Closing this because I don't think it's necessary.

[2015-10-20 17:52] #15256 closed

[2015-10-20 17:52] lavalamp commented on #15702
Ah, OK. Thanks for the clarification.

On Tue, Oct 20, 2015 at 9:57 AM, Torsten Bronger <notifications@github.com>
wrote:

[2015-10-20 17:54] lavalamp commented on #15945
That sounds quite complex-- does a write on apiserver A invalidate the cache of apiserver B? It must, to be useful, but then we're replicating much of etcd's functionality.

[2015-10-20 17:57] lavalamp commented on #15945
I can see making a correct write-through cache on a single apiserver by just stopping the world until your write shows up in the watch from etcd.

Simply adding the written object to the cache before seeing it in the watch means that you decouple the cache's state from etcd's state and sounds dangerous-but-possibly-fixable in the single apiserver case, and infeasible in the multiple apiserver case

[2015-10-20 18:09] jlowdermilk commented on #15668
Going to close this issue as it seems to be resolved. @markturansky, in addition to #12650, would it be worth updating [nfs documentation](https://github.com/kubernetes/kubernetes/tree/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/examples/nfs) to add a manual check step to suss out missing OS dependencies?

[2015-10-20 18:09] #15668 closed

[2015-10-20 18:10] erictune commented on #15945
Seems like the "semantics" you are worried about changing already happen in an HA cluster?  I think that is what clayton means in his comment about quorum=true (though even with quorum=true a read could still occasionally get stale data I think?)

If so, then isn't option 1 the best choice?

[2015-10-20 18:12] pmorie commented on #15892
@wojtek-t I think you're right.  I might file a follow-up issue to smooth out some rough edges (or open a PR), but I think I was doing it wrong.  Thanks a lot for taking a look!

[2015-10-20 18:12] #15892 closed

[2015-10-20 18:15] erictune commented on #15945
Also, option 4:
Add indexer to cache.  Within a single apiserver, queue up pending requests, the do the following:
[code]

This maintains the "semantics" in the case of a single apiserver, and in the case of multiple apiservers with session affinity (which I predict will become common for larger clusters).

[2015-10-20 18:15] mikedanese opened #15960 "Mirror pods in a delete create loop in version skewed cluster (1.1 master, 1.0 node)"
Nodes can't recognize the static pods that they create possibly because the defaulting is different.

`IsMirrorPodOf` always returns false. https://github.com/kubernetes/kubernetes/blob/release-1.1/pkg/kubelet/pod_manager.go#L255

Here is a json diff of two pod specs before and after they are Semenatic.DeepEqual'd where before is created pod and after is what kubelet things the created pod should

[2015-10-20 18:16] jlowdermilk commented on #15751
Closing/redirecting this with request to please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate all help/support questions onto stackoverflow to improve searchability and response time. We regularly see messages posted in multiple forums, with the full response thread only in one place or, worse, spread across multiple f

[2015-10-20 18:16] #15751 closed

[2015-10-20 18:17] spiffxp commented on #14216
As a quick sanity check I ran with --v=0 for everything, and yup, stair steps went away on the smaller cluster.  Cue facepalm.

Will merge in the PR and try against larger cluster configurations later today.

[2015-10-20 18:19] erictune commented on #15945
Option 4 does not require updating the cache bit by bit, and so may be much less bug-prone and easier to implement.

Assuming read operations are 10x to 1000x more common than write operations, then you still get huge batching benefits.

Also, since many writes are going to be status updates, and since the semantics you want to preserve are less relevant for status writes, you could possibly modif

[2015-10-20 18:19] jlowdermilk commented on #15756
cc @lavalamp @nikhiljindal

[2015-10-20 18:25] jlowdermilk commented on #15758
I'm guessing we never bothered adding the content-type to the HTTP header since kubectl only sends requests to the kubernetes apiserver, and the apiserver only accepts json content. Might be marginally useful for logging. What's the reason behind the request?

[2015-10-20 18:31] jlowdermilk commented on #15795
Sorry can you add more context/clarification? What do you mean by JSON log events? Which logs are you referring to, container logs?

[2015-10-20 18:34] gmarek commented on #14216
FYI: we're running with --v=2

[2015-10-20 18:40] wojtek-t commented on #15892
@pmorie - thanks! please don't hesitate to open an issue if you observe some problems with the scripts.

[2015-10-20 18:41] jlowdermilk commented on #15801
This is resolved for future releases by #13836. Open question whether we want to backport it to 1.0 branch.

[2015-10-20 18:47] paralin opened #15963 "How to enable experimental API on an existing cluster?"
I've tried setting `KUBE_ENABLE_EXPERIMENTAL_API=true` and then running `./cluster/kube-push.sh` but it doesn't seem the APIs are enabled (daemonset isn't a known resource on the master branch on the server, but is known on the client).

I noticed RUNTIME_CONFIG needs to be set to alpha for this to work. Does kube-push.sh alter RUNTIME_CONFIG and if not, how can I update it on a running cluster?

[2015-10-20 18:53] lavalamp commented on #15945
@erictune I don't see how that works. How does apiserver know that a given
list needs to see a given write?

On Tue, Oct 20, 2015 at 11:15 AM, Eric Tune <notifications@github.com>
wrote:

[2015-10-20 19:01] caesarxuchao commented on #15580
@liggitt, I think the caveat is how can we know if the client is trying to delete a field when it's left blank? The client will think it has successfully deleted the field while actually the api server silently fixes the update request.

[2015-10-20 19:02] nikhiljindal commented on #15756
https://github.com/kubernetes/kubernetes/issues/11962 tracks replacing go-etcd with the new etcd client.

[2015-10-20 19:03] liggitt commented on #15580
I'm comfortable with letting clients that think they're deleting name, uid, and creationTimestamp be confused.

[2015-10-20 19:04] lavalamp commented on #15756
@timstclair is working on getting the new client in. I would personally rather bump our etcd version than reimplement health checking.

[2015-10-20 19:04] lavalamp commented on #15756
Oops, wrong Timothy st Clair, I meant @timothysc

[2015-10-20 19:05] ArtfulCoder commented on #15227
I have a PR out that should fix this.
my earlier PR fix had helped this a bit where the failures moved from every alternate day to alternate week.
This final PR should eliminate the problem completely

[2015-10-20 19:07] erictune commented on #15945
In option 4, it conservatively assume that all reads need to see any write.

[2015-10-20 19:13] erictune commented on #15584
Agree we should fix jsonpath.  Converting from go-templates to jsonpath also seems worthwhile.  Just suggesting a way to unblock the latter.

[2015-10-20 19:15] lavalamp commented on #15945
OK, so that's what I said above "I can see making a correct write-through cache on a single apiserver by just stopping the world until your write shows up in the watch from etcd" + go to etcd instead of stopping the world.

The problem with going to etcd is that it reverts to n^2 behavior for a little bit after every write. Since the time for the cache to see the write should be measured in 100's

[2015-10-20 19:15] aanm commented on #15758
@jlowdermilk Otherwise this doesn't work properly. https://github.com/ClusterHQ/powerstrip/blob/master/powerstrip/powerstrip.py#L193
Still, doesn't hurt providing the type of content there's in the HTTP request.

[2015-10-20 19:25] mooperd commented on #15883
@pmorie Thanks for the response!

We are typically specifying SELinux in places where there is a risk of intrusion. Public facing APIs or services touching more sensitive data. With SELinux we are able to "concrete in" our processes and be sure that a compromised process can only do exactly what we specify which significantly reduces the attack surface.

I've been watching the Redhat effort with D

[2015-10-20 19:30] erictune commented on #15945
Okay, what @lavalamp said SGTM.

[2015-10-20 19:37] lorenzvth7 commented on #15833
Do I have to do something special what's not mentioned in https://github.com/openshift/origin/tree/master/examples/wordpress ? Mounting is possible with a manual command, but when OpenShift/Kubernetes has to do it, it gets a timeout (exit status 32)

[2015-10-20 19:43] liggitt commented on #14126
@caesarxuchao putting together a PR now for that, will tag you and @lavalamp on it

[2015-10-20 19:43] sramakr opened #15966 "Openstack Cinder"
Hey,

Testing Cinder Volumes , and , it seems to see it as empty_dir volume.I believe have issues with my configuration file or some syntax error. Appreciate any help.

Are there any dependancy with openstack version ?

/opt/bin/kubelet --version=true
Kubernetes v1.2.0-alpha.2

Manifest file

[code]

Log Snippet from Kubelet.
Oct 20 19:25:58 kube-slave-181af6c2-0e19-4028-a9de-832e86c7dd89.novaloca

[2015-10-20 19:49] markturansky commented on #15833
The Wordpress example is step-by-step, apart from installation and
configuration of NFS/nfs-utils, etc.

Which pod in the example is timing out?  MySQL or Apache?

On Tue, Oct 20, 2015 at 3:38 PM, lorenzvth7 <notifications@github.com>
wrote:

[2015-10-20 19:51] lorenzvth7 commented on #15833
The pod status is pending for both:
[code]

[2015-10-20 20:04] paralin opened #15968 "Unclear how to enable experimental API features"
Possibly a documentation issue, possibly a code issue.

How can I enable experimental features, like daemonsets?

I noticed here, that it seems the code ignores the environment variable for runtime config:

https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L1037

and defaults to extensions/v1beta1 only.

[2015-10-20 20:04] #15963 closed

[2015-10-20 20:06] lorenzvth7 commented on #15833
I don't know what this is:
[code]

[2015-10-20 20:07] mikedanese commented on #15960
I think the solution is to not apply defaults to mirror pods in the API Server.

[2015-10-20 20:09] caesarxuchao commented on #15580
Fair enough. I agree we can move the preservation code for uid, creationTimestamp, deletionTimestamp to another place. How about `DeletionGracePeriodSeconds`? It's not that obvious it shouldn't be deleted.

[2015-10-20 20:14] smarterclayton commented on #15945
Yuck.  This still seems like an optimization for infrastructure components
and advanced clients, so forcing clients to be smarter is 100% ok by me.
No one runs list all namespaces who isn't a list watcher and a reflector.
I'd prefer to optimize smart clients first.

On Oct 20, 2015, at 3:15 PM, Daniel Smith <notifications@github.com> wrote:

OK, so that's what I said above "I can see making a corr

[2015-10-20 20:15] markturansky commented on #15833
what is "oc status nfs-utils"?   Do you install dependencies on the host or are you attempting a sidecar to put the tools there?

[2015-10-20 20:17] dchen1107 commented on #15960
Yes,we have to add specific code to API Server to detect the mirror pod, then not apply defaults.

[2015-10-20 20:17] lorenzvth7 commented on #15833
@markturansky I've edited it, it was just 'oc status' so the status of my openshift-project.

[2015-10-20 20:17] yujuhong commented on #15960
The right fix should be #8683, which we didn't get to before v1.0. I will start on this and at least get it in for v1.1 to prevent future complications.

Since we cannot update the node/kubelet, options are:
 1. As @mikedanese suggests to disable applying defaults to mirror pods as a temporary fix. IIRC, @bgrant0607 was against treating mirror pod differently at the apiserver. Since this is only a

[2015-10-20 20:17] markturansky commented on #15833
I just ran through the example as-is (no repl controller, no sidecars, not attempting to run NFS server in a pod) and it all worked.

Did you attempt the example as-is or did you attempt to modify it to match your RC, etc?

[2015-10-20 20:19] lorenzvth7 commented on #15833
@markturansky I did really everything like in the example. Without editing any files. First as system-admin to create the volumes. Than as openshift-user. The only thing I did was creating a project. So I made my claims inside that project. Just as the pods

[2015-10-20 20:19] ihmccreery opened #15969 "hack/cherry_pick_pull.sh bails with "Aborted: the origin remote doesn't point to a GitHub repository.""
From @ixdy's [comment](https://github.com/kubernetes/kubernetes/pull/15964#issuecomment-149689015). on #15964.  @roberthbailey and I have also both experienced this:

[code]

[2015-10-20 20:20] markturansky commented on #15833
Sorry, exactly like the example or within a project?

[2015-10-20 20:21] danielschonfeld opened #15970 "Fine grained control of RC pod allocation"
I am not sure what the best way of doing this with kubectl but it would be nice to have more fine grained control of which replicas you want to take out.  IE you have a problem with a pod running on one particular computer and you'd like yo reduce the number of replicas that's RC has... but in the process you want the pod eliminated to be the one on the node you really need it off of.

Yes we can

[2015-10-20 20:25] lorenzvth7 commented on #15833
I don't know if you're familiar with openshift? But I made the pods inside a openshift-project.
So before I do ```oc create -f examples/wordpress/pvc-wp.yaml```, I've done this command: ```oc new-project wordpress```. So that the pods are in the same project. It would surprise me this would be an issue

[2015-10-20 20:28] nikhiljindal commented on #11772
Yes @lavalamp is right.
We should rewrite these links before exposting to gh_pages. Instead of using htmlpreview, these should be pointing to kubernetes.io.
https://github.com/kubernetes/kubernetes/issues/13149 tracks that issue. Closing this one in favor of that.

[2015-10-20 20:28] #11772 closed

[2015-10-20 20:29] nikhiljindal commented on #13149
Making this as P1 as multiple people are reporting this.
Ref https://github.com/kubernetes/kubernetes/issues/11772 and https://github.com/kubernetes/kubernetes/issues/12728

[2015-10-20 20:30] nikhiljindal commented on #12728
This will be fixed by https://github.com/kubernetes/kubernetes/issues/13149.
Closing this as duplicate.

[2015-10-20 20:30] #12728 closed

[2015-10-20 20:33] erictune commented on #15313
IIUC, These are requirements for Deployment to graduate to  default-on, a.k.a "beta".

[2015-10-20 20:36] davidopp commented on #15806
Thanks a lot for debugging this, @gmarek, and I agree we should go with your PR.

I talked to Brian and he said we don't consider changes to values of fields in events to be breaking API changes. Unfortunately people do seem to depend on these in various places. One solution is what I proposed in #14541 so the compiler could prevent these incompatibilities (at least for components and tests that a

[2015-10-20 20:36] markturansky commented on #15833
I am familiar with OpenShift :) I wrote the example and I use it to test OpenShift and the new features I've added upstream.

On the other hand, I don't use all the features of OpenShift and don't really understand the code that drives it.  I cannot discount the difference between our two environments and how we approached running the example.  I know mine works, as I just tested OpenShift with th

[2015-10-20 20:40] lorenzvth7 commented on #15833
Ow okay :) But don't you put your example in an openshift-project so you can see it in the webconsole. But it still don't look like a solution for the mount issue. What's you're command to mount manually?

[2015-10-20 20:44] thockin commented on #15966
@spothanis

[2015-10-20 20:49] bgrant0607 commented on #8683
We should fix this so we don't have this problem again in 1.2.

[2015-10-20 20:53] timstclair commented on #15444
@vishh - do you know whether this is an issue at the heapster or kubelet level?

[2015-10-20 20:55] Malet commented on #15444
I have this issue with heapster disabled, so it must be in the kubelet.
On Tue, 20 Oct 2015 at 21:54, Tim St. Clair <notifications@github.com>
wrote:

[2015-10-20 20:56] erictune commented on #14188
Renamed to "Indexed Job" due to popular demand.

[2015-10-20 20:56] jlowdermilk commented on #15827
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-20 20:56] #15827 closed

[2015-10-20 20:59] krousey commented on #13149
Just now noticing that this was assigned to me 12 days ago. Sorry.

[2015-10-20 21:01] bgrant0607 commented on #15960
Disabling defaults has a number of problems:

1. Defaults are version-specific. Conversion may fail if defaults are not applied.
2. Validation may fail if defaults are not applied.
3. Code using defaulted fields assumes default values have been applied.
4. The defaulting pass is not the only place where values can be set, as mentioned in #8683. For instance, if the user were to change the kube-sys

[2015-10-20 21:04] vishh commented on #15444
AFAIK [heapster](https://github.com/kubernetes/heapster/blob/master/docs/model.md) exposes [working set](https://github.com/google/cadvisor/blob/master/container/libcontainer/helpers.go#L361), which does not take into account inactive anonymous and file backed pages. [Kubedash](https://github.com/kubernetes/kubedash) also uses `workingSet` which I'd expect to align with the output of `free`.
I'm n

[2015-10-20 21:05] vishh commented on #15444
This is an issue with kube-ui. I'd suggest filing this issue in the kube-ui
repo.

On Tue, Oct 20, 2015 at 1:56 PM, Malet <notifications@github.com> wrote:

[2015-10-20 21:06] krousey commented on #13149
There are a couple of problems I see with this.

 1. https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/pods.md is broken as it is. That link is already a dead link.

 2. The specific example you point out requires that we need to know that v1.0.2 maps to v1.0 in the resultant URL. Why is this? Would you always want us to drop the revision portion?

[2015-10-20 21:06] mzupan commented on #15444
I see the same issue outside of kube-ui with hitting the heapster API endpoint for a node

[2015-10-20 21:08] jlowdermilk commented on #15839
What platform are you running on?

[2015-10-20 21:09] timstclair commented on #15916
htmlpreview links are covered by https://github.com/kubernetes/kubernetes/issues/13149

Remaining issues:
[code]

[2015-10-20 21:10] dchen1107 commented on #15960
fluentd pods will never run on those 1.0 nodes once we upgrade master to 1.1 release.

[2015-10-20 21:10] bgrant0607 commented on #15878
I propose the following for 1.1:
1. Only apply should create the other annotations. Other commands may update them if they exist, but should not add the annotations if they do not.
2. Increase the annotation size limit.

For 1.2 or later we should consider:
1. Elide field values where possible (e.g., large secret data values). Note that values of strategic merge key fields can't be omitted.
2. Bet

[2015-10-20 21:12] jackgr commented on #15878
+1

Jack Greenfield | Google

On Tue, Oct 20, 2015 at 2:11 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-20 21:14] #14138 closed

[2015-10-20 21:14] #14617 closed

[2015-10-20 21:14] krousey commented on #15916
@timstclair regarding the htlmpreview links, that issue does not cover them being dead in the markdown. #13149 just requests that correct links using htmlpreview be translated to use the API reference on kubernetes.io when they're published.

[2015-10-20 21:15] vishh commented on #15444
Did you query `memory-working` stat ?

The current API is unfortunately not user friendly. It might be better to
report `memory-working` and `memory-usage` and the current `memory-usage`
as `memory-total` or something similar.

On Tue, Oct 20, 2015 at 2:07 PM, Mike Zupan <notifications@github.com>
wrote:

[2015-10-20 21:15] dchen1107 commented on #15960
Ok, we are going with approach proposed in #8683. I am closing this issue as dup of #8683

[2015-10-20 21:16] thockin commented on #15935
gcr.io should not require creds for things like 'pause'

@mattmoore

On Tue, Oct 20, 2015 at 2:49 AM, andvikram <notifications@github.com> wrote:

[2015-10-20 21:18] yujuhong commented on #15960
"entire metadata+spec" in plain text? It'd be hard for kubelet to diff using this. It'd be better to let kubelet store hash of its own choosing so that it can easily compare when there is any change.

Every sync period (10s), for every staic pod that's affected, kubelet would delete and create the pod. The impact includes:
 - extra apiserver requests
 - unstable mirror pods (user cannot proper ins

[2015-10-20 21:18] jlowdermilk commented on #15846
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-20 21:18] #15846 closed

[2015-10-20 21:18] yujuhong commented on #15960
Even with #8663, we can't fix v1.0 kubelet.

[2015-10-20 21:18] timstclair commented on #15337
Duplicate of https://github.com/kubernetes/kubernetes/issues/15916

[2015-10-20 21:18] #15337 closed

[2015-10-20 21:19] markturansky commented on #15833
Manual mounting instructions are earlier in the comment thread.

[2015-10-20 21:20] pmorie commented on #15883
@mooperd Probably easiest to message me on slack to have a higher-bandwidth discussion.

[2015-10-20 21:24] nikhiljindal commented on #13149
Re: 1. That link works fine for me.
Re: 2. I think thats correct. We just have v1.0 docs on kubernetes.io which we use for all v1.0.x versions.

[2015-10-20 21:25] mikedanese commented on #15960
Agree with @yujuhong

[2015-10-20 21:27] dchen1107 commented on #15960
Yes, I were confused. The comparison is in Kubelet, and we cannot patch 1.0 kubelet in this case.

[2015-10-20 21:29] jlowdermilk commented on #15865
Your stackoverflow post appears to have the answer; as `kubectl get nodes` showed, you have (had?) no working nodes in your cluster so the scheduler could not schedule your container. For future reference, we are consolidating/redirecting help/support questions of this sort to stackoverflow to improve our efficiency in responding to issues and make it easier for others to search for and find and r

[2015-10-20 21:29] #15865 closed

[2015-10-20 21:30] timstclair commented on #15916
Ok. It looks like all the html preview links are the same (https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/HEAD/docs/api-reference/definitions.html), and they're all broken (missing api-reference/**v1**/)

[2015-10-20 21:31] RichieEscarez commented on #13149
Hi @krousey,

Re: #1. The source files just got moved: #15877 (so the link to the API object in master is now outdated)

Now that we are going to v1.1, anything in v1.0 no longer comes out of master and is now an archived doc set out on kubernetes.io (ie. v1.0 folder in the gh-pages branch).

But for our up coming v1.1, any links to the API docs while in kubernetes.io, should remain out on the sit

[2015-10-20 21:34] mzupan commented on #15444
@vishh ok I see now.. thanks I see the expected results.. I'll open a ticket with the ui project

[2015-10-20 21:34] #15444 closed

[2015-10-20 21:34] jlowdermilk commented on #15855
k8s supports git repositories as volumes but it's an optional feature that not everyone wants, so it would not be appropriate to require/include the git executable. This is similar to how k8s supports nfs volumes, but we don't require you to run the kubelet on an os with nfs kernel support, because not everyone wants it.

[2015-10-20 21:34] #15855 closed

[2015-10-20 21:42] lorenzvth7 commented on #15833
@markturansky yes I know but my command, also above, is a bit different I think.

[2015-10-20 21:48] liggitt commented on #14126
Opened https://github.com/kubernetes/kubernetes/pull/15975

[2015-10-20 21:56] mikedanese commented on #15969
Dup of https://github.com/kubernetes/kubernetes/issues/13045

[2015-10-20 21:58] #15969 closed

[2015-10-20 21:58] mikedanese commented on #13045
cc @ihmccreery

[2015-10-20 21:59] jlowdermilk commented on #15912
Thanks for reporting, we'll get it fixed.

[2015-10-20 22:05] saad-ali opened #15978 "GCE Cloudprovider `waitForOp` sometimes causes panics due to `invalid memory address or nil pointer dereference`."
While investigating #15382, I discovered that the `pkg/cloudprovider/providers/gce/gce.go:waitForOp(...)` method (copied below) sometimes causes panics due to `invalid memory address or nil pointer dereference`.

[code]
Error: `E1020 20:36:34.301927    3625 util.go:82] Recovered from panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer de

[2015-10-20 22:06] smarterclayton commented on #15878
Thanks, +1

On Tue, Oct 20, 2015 at 5:12 PM, Jack Greenfield <notifications@github.com>
wrote:

[2015-10-20 22:07] smarterclayton commented on #15580
It can only be shortened - we have code paths in the strategy that preserve
it, but the update paths should be visible and distinct for sure.  Same for
the termination timestamp.

On Tue, Oct 20, 2015 at 4:09 PM, Chao Xu <notifications@github.com> wrote:

[2015-10-20 22:10] nVitius commented on #15855
Hmm. Okay, that makes sense. Would it be feasible to create tags for those containers that have git?

[2015-10-20 22:14] jszczepkowski commented on #14108
Closing this issue in favor of  #15474.

[2015-10-20 22:14] #14108 closed

[2015-10-20 22:17] dchen1107 commented on #15960
There are no serious issues with this bug: static pods are running properly, but corresponding mirror pods coming and gone.

cc/ @roberthbailey Can we treat this as part of GKE cluster upgrade process? Can we upgrade GKE master nodes, then ask the users to upgrade their fluentd yaml file in their cluster?

For OSS kubernetes users, most likely they won't run into this issue. But we should document

[2015-10-20 22:18] bgrant0607 commented on #15960
Or can we update the fluentd yaml files when updating the master?

[2015-10-20 22:20] atrauzzi commented on #15865
Yeah, the issue is obviously that I have no working nodes.  But `kubectl` doesn't tell me why.

[2015-10-20 22:23] jlowdermilk commented on #15917
@simon-temple, the metadata server will return 403s unless you put `Metadata-Flavor: Google` in the header. This worked for me:
[code]

[2015-10-20 22:24] bgrant0607 commented on #15806
+1 to creating a file containing constants for the event reasons that are currently in use.

[2015-10-20 22:28] mikedanese commented on #15968
Documented in the api docs. Do those instructions not work?

https://github.com/kubernetes/kubernetes/blob/master/docs/api.md#enabling-the-extensions-group

Implemented in https://github.com/kubernetes/kubernetes/pull/15516

[2015-10-20 22:30] lavalamp commented on #4874
Explicit proposal in https://github.com/kubernetes/kubernetes/pull/15730

[2015-10-20 22:32] saad-ali commented on #15978
In short, anytime `getOperation()` fails `pollOp` is set to nil and `pollOp.Status` blows up. Meaning this fails everytime there is a GCE error doing a get operation call, that's pretty bad.

[2015-10-20 22:35] jlowdermilk commented on #15855
@nVitius, I think I misunderstood the request. I think it's actually reasonable to add git to hyperkube, since afaict, it's only used for single node docker. The Dockerfile is [here](https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/cluster/images/hyperkube/Dockerfile), feel free to send a pr.

[2015-10-20 22:39] paralin commented on #15968
When deploying to AWS I enable KUBE_ENABLE_EXPERIMENTAL_API.

This causes:

 - ENABLE_EXPERIMENTAL_API to be set here: https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/config-default.sh#L62
 - This causes this flag to be set in salt: https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/templates/create-dynamic-salt-files.sh#L45
 - This sets enable_experimental_api in ht

[2015-10-20 22:40] caesarxuchao commented on #15580
Shall the api server do the preservation for `DeletionGracePeriodSeconds` or shall it return an error if it's changed to empty?

[2015-10-20 22:45] jlowdermilk commented on #15891
cc @mikedanese

[2015-10-20 22:48] jlowdermilk commented on #15934
From the link, that value is definitely used, and that warning does not appear in our ci builder. Try re-syncing to master and building again.

[2015-10-20 22:48] #15934 closed

[2015-10-20 22:49] bgrant0607 commented on #15878
Proposed annotation size limit: 256k?

[2015-10-20 22:51] erictune opened #15982 "Job: need parallel task-queue example"
We need a concrete example of how to write a parallel job that uses a task-queue.

One aspect is setting up a task queue.  We could use rabbitmq, e.g from examples/celery-rabbitmq/rabbitmq-controller.yaml.   Or do an example on GKE/GCE that uses [GCP task queue](https://cloud.google.com/appengine/docs/python/taskqueue/rest/).

Another aspect is getting a list of tasks (e.g. files to process, param

[2015-10-20 22:51] erictune commented on #15982
@mikedanese @soltysh FYI

[2015-10-20 22:52] liggitt commented on #15580
When was DeletionGracePeriodSeconds added? If it's made it into a release, we should default to preserving existing behavior unless we can demonstrate that is breaking something, right?

[2015-10-20 22:52] erictune opened #15985 "Job: requirements for graduation to stable"
- [x] task queue example (#15982)
- [x] parallelism greater than completions (#18876)
- [x] Delete pods when delete (#16255)
- [X] Generating a unique label by default #12298

Not blocking: Indexed Job (#14188), and other issues listed in #14186

[2015-10-20 22:53] mikedanese commented on #15968
Can you see if this patch fixes ENABLE_EXPERIMENTAL_API?

https://github.com/kubernetes/kubernetes/pull/15984

[2015-10-20 22:54] erictune commented on #14188
I've been thinking about how you would use Job in conjunction with a Task Queue, and I think it is actually pretty tricky to get right.   This definitely means we need documentation for how to do the Task Queue case, and it may mean that there is more of a need for the Static case, which is clearly easier for users to use.

We need a concrete example of how to write a parallel job that uses a work

[2015-10-20 22:55] thockin commented on #15227
The DNS one is a docker bug.  We're working through the best fixes, Abhi
has a band-aid in the mean time.

On Tue, Oct 20, 2015 at 2:03 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-10-20 22:56] jlowdermilk commented on #15937
What platform are you running on? The node should only be attempting to access that url if you are running on GCE or GKE.

[2015-10-20 23:05] ixdy commented on #15176
Looks like a few tests still remain:
[code]

[2015-10-20 23:07] mikedanese commented on #15891
I disagree that it's a "more realistic" deployment. I would actually recommend against running a cassandra cluster in this way. Why do you think it's better?

[2015-10-20 23:13] liggitt commented on #15878
256k doesn't seem insane, though with the primary fetch mechanism being lists of all objects of a type, with no field filtering, I really hope most objects don't make use of that headroom

[2015-10-20 23:15] dchen1107 commented on #15960
cc/ @kubernetes/goog-gke

[2015-10-20 23:15] erictune commented on #14188
I think we should do what this issue proposes for v1.

But, if we decide **not** to do it for v1, then I think the Job API can be simplified.

In particular, we could remove `.spec.completions`, because it is not needed.  Here is why:

- single pod case: only one completion needed for Job success.
- multiple pod case with task queue: as described in  #15982, all pods need to wait and not exit with

[2015-10-20 23:20] paralin commented on #15968
@mikedanese I'm not clear why this would fix it when beta1 is enabled https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L1037 in a hardcoded line anyways?

[2015-10-20 23:22] paralin commented on #15968
Ah I see, that function isn't called unless experimental is enabled.

[code]

However, I didn't pull your PR code and manually added it here:

https://github.com/paralin/kubernetes/commit/940a731137a5b93ab66bf8cc30262f79b796245f

And it worked. So that would indicate that the function IS being called, and those are not activated under beta1.

This makes sense as I believe the daemonsets are classi

[2015-10-20 23:24] zmerlynn commented on #15960
This is a cc @a-robinson issue, really.

But the fast answer is no, because "then ask the users to upgrade their fluentd yaml file in their cluster?" Historically our users are extremely slow to do maintenance.

[2015-10-20 23:27] dchen1107 commented on #15747
#15960: Mirror pods in a delete create loop in version skewed cluster.

[2015-10-20 23:30] lavalamp commented on #14216
I guess this explains why I couldn't get latency numbers anything like what you reported in my benchmark!

[2015-10-20 23:32] dchen1107 commented on #15960
Our current plan for this issue is just document as a known issue for 1.1 release.

[2015-10-20 23:33] lavalamp commented on #14216
@timothysc Does the above explain the stairstepping you previously reported?

[2015-10-20 23:35] erictune opened #15990 "Ingress: requirements for graduating to v1"
- have a plan of how users would upgrade from a user-started ingress controller to an addons-started ingress controller.  Discuss this with GKE, in terms of their upgrade flow.

[2015-10-20 23:36] mikedanese commented on #15968
Also see https://github.com/kubernetes/kubernetes/pull/15981

[2015-10-20 23:36] erictune commented on #15990
@thockin @bprashanth we talked about this yesterday

[2015-10-20 23:37] paralin commented on #15968
@mikedanese I see. How does this relate to kube-up? How can I add these flags with the script? is it by setting the environment variable RUNTIME_CONFIG?

[2015-10-20 23:39] smarterclayton commented on #15580
It is an error to mutate deletion grace period seconds outside of a delete
call

On Oct 20, 2015, at 6:40 PM, Chao Xu <notifications@github.com> wrote:

Shall the api server do the preservation for DeletionGracePeriodSeconds or
shall it return an error if it's changed to empty?

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/15580#issuecomment-

[2015-10-20 23:40] smarterclayton commented on #15580
But, old clients won't set it, so for backwards compat we have to ignore
its absence on a mutation

On Oct 20, 2015, at 6:40 PM, Chao Xu <notifications@github.com> wrote:

Shall the api server do the preservation for DeletionGracePeriodSeconds or
shall it return an error if it's changed to empty?

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/

[2015-10-20 23:45] janetkuo opened #15991 "Add an option to create an autoscaler for kubectl run"
As mentioned in Horizontal Pod Autoscaling proposal: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/horizontal-pod-autoscaler.md#support-in-kubectl

Ref https://github.com/kubernetes/kubernetes/issues/15723#issuecomment-148751845

cc @bgrant0607 @fgrzadkowski @jszczepkowski @mwielgus

[2015-10-20 23:48] #15593 closed

[2015-10-20 23:53] zmerlynn opened #15995 "NFS volume plugin should translate to service IP before making mount call"
I'm trying to brush off the (nfs example)[https://github.com/kubernetes/kubernetes/tree/master/examples/nfs] now that privileged is working by default, and one of the small warts in it is the web server pod needs a hardcoded IP or hostname in order to bring the pieces together. (And I'm running through it for GCE to make sure it works there.)

I think this is straightforward to fix with an API cal

[2015-10-21 00:09] jlowdermilk commented on #15970
You can accomplish this using node labels and a [nodeSelector](http://kubernetes.io/v1.0/docs/api-reference/definitions.html#_v1_podspec) on the pod spec, but if you don't mind, please repost your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes), so both it (and the answer) are easier to find.

[2015-10-21 00:09] #15970 closed

[2015-10-21 00:14] #15319 closed

[2015-10-21 00:56] ihmccreery commented on #13343
`make-release-notes.sh` should also filter on the `release-note` [tag](https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+label%3Arelease-note+).

[2015-10-21 01:02] aveshagarwal commented on #15624
I have submitted following PR https://github.com/kubernetes/kubernetes/issues/15999 to address this.

[2015-10-21 01:11] paralin commented on #15891
@mikedanese The point of Cassandra, if I'm not mistaken, is to have a single cassandra node on each piece of hardware / VM instance. That way, data is replicated reliably across instances, so if one dies you'll still be okay. It makes no sense therefore, to run more than one cassandra node on a server / kubernetes node, as you could get a single record stored on the same instance, which gives no r

[2015-10-21 01:11] bgrant0607 commented on #15991
Let's not do this for 1.1.

For 1.2, --expose is more important #14952

[2015-10-21 01:31] chao007 commented on #15839
RHEL7

[2015-10-21 01:34] jijun2 commented on #15176
@ixdy , I will complete in this week.

[2015-10-21 01:57] ashcrow commented on #15839
Interesting. That log looks to state that the method and code are both NONE. I wonder if this is a squid TLS configuration issue. Can you provide more information on the squid servers configuration?

[2015-10-21 02:27] ncdc commented on #15839
I believe the issue is that you're setting https_proxy to https://... when it most likely should be **http**://. In other words, `export export https_proxy=http://172.18.6.132:3128/`. Can you try that?

[2015-10-21 02:33] ashcrow commented on #15839
@ncdc beat me to it. I was just verifying the same thing reading http://wiki.squid-cache.org/Features/HTTPS :smile:

[2015-10-21 02:34] Hokutosei opened #16002 "failedSync Could not attach GCE PD"
Greetings,

Hope everybody is ok, But please fix this
[code]

got lots of database pods, and keep getting this....

this is my RC file

[code]

problem seems to be, when a Host died and `NotReady` state, the mounted disk could not be detache

[2015-10-21 03:20] mingfang commented on #13483
PR #9868 appears to not make any progress.
Being able to do rolling updates is key to our team's ability to use kubernetes.
Do we know what ballpark timeframe to expect this feature to be released?

[2015-10-21 03:21] brendandburns commented on #14467
I'm closing this as I believe it is fixed by #14758

[2015-10-21 03:21] #14467 closed

[2015-10-21 03:25] nikhiljindal commented on #15968
1. We can remove ENABLE_EXPERIMENTAL_API. extensions (the new name of experimental APIs) is enabled by default.
2. If we do not have it already, then we should add an ENABLE_DAEMONSET env var, similar to ENABLE_DEPLOYMENTS, which makes it easy to bring up a cluster with daemonset enabled. @mikedanese ?

@paralin setting RUNTIME_CONFIG env var directly should work as well. Please let us know if you

[2015-10-21 03:28] paralin commented on #15968
This works:

[code]

I have not tried just enabling all of them (extensions=v1beta1) alone.

I'm not sure about specific ENABLE_FEATURE vars. Perhaps you could just document the KUBE_RUNTIME_CONFIG env var a bit better? I know it's mentioned a few places but it took me some effort to figure out how it works. Maybe I'm just bad at reading, I don't know.

If you'd like I can spin a PR to remove the

[2015-10-21 03:30] paralin commented on #15968
... actually on testing, I get this error:

[code]

@mikedanese any ideasS?

[2015-10-21 03:32] brendandburns commented on #13776
@smarterclayton the rsync version requires the rsync daemon be present in the container, which is kind of an unnecessary requirement, don't you think?  I don't really want to use `docker cp` since it requires plumbing a whole additional API call through the kubelet, apiserver etc.

I think I will just stick with cat.

[2015-10-21 03:34] brendandburns commented on #15866
Dup of #15389

[2015-10-21 03:34] #15866 closed

[2015-10-21 03:35] brendandburns commented on #15389
@erictune @soltysh any progress on this?  Is it being actively worked on?

[2015-10-21 03:36] smarterclayton commented on #13776
Might be unnecessary, but present in the vast majority of containers.
We're doing it mostly to enable rapid dev scenarios on Windows - it's not
trivial to get an rsync on a windows system, but it's still a better
experience than pretty much any other story for dealing with O(1K) files
that need to be synced.

On Tue, Oct 20, 2015 at 11:32 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-10-21 03:37] bgrant0607 commented on #15945
In addition to caching performed by the apiserver, caching is also performed outside it, in clients, but potentially also in intermediate caches.

We do have to make it possible for a client to DTRT in the presence of an arbitrary number of intermediate caches. So, we at least need the resourceVersion-based solution.

[2015-10-21 03:40] nikhiljindal commented on #15968
@paralin Feel free to send a PR to remove ENABLE_EXPERIMENTAL_API. Happy to review!

[2015-10-21 03:51] brendandburns commented on #11688
Closing this as it was cherry-picker into 1.0.4

[2015-10-21 03:51] #11688 closed

[2015-10-21 03:58] brendandburns commented on #14076
@dchen1107 are you working on this?  If not I can take it on.

[2015-10-21 03:59] paralin commented on #15968
Changes in the PR (will copy there too):

 - `enable_experimental_api` in salt is not used anywhere. Removed.
 - `ENABLE_DEPLOYMENTS` and similar removed in favor of `KUBE_RUNTIME_CONFIG="extensions/v1beta1/deployments=true"`
 - Update e2e scripts

[2015-10-21 04:01] mikedanese commented on #15891
cc @erictune

[2015-10-21 04:33] vyshane commented on #15891
I think that [Persistent Volumes and Claims](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/persistent-volumes.md#persistent-volumes-and-claims) are the correct abstractions for this use case.

[2015-10-21 04:39] brendandburns commented on #13346
I realized that to do this, we need to expose the service to the public internet.  We can lock it down with firewalls, but it will still need to listen on the external IP for the machine.

I'd really prefer to use kube-proxy instead of a dummy daemon as the health check interface, but I don't know how I feel about exposing kube-proxy to the wilds of the internet...

I suppose we could just use a s

[2015-10-21 04:39] paralin commented on #15891
@vyshane I don't think so - if you mean instead of DaemonSet. Cassandra nodes are completely fine with using ephemeral storage, as long as there are enough nodes in the cluster to replicate data in the case of sudden-instance-implosion. The key point is you need to be running **one** per machine, not multiple, so DaemonSet makes sense.

Or did I misunderstand what you're suggesting?

[2015-10-21 04:44] thockin commented on #13346
A dummy daemon can be VERY lightweight, but it is yet another thing to
manage...

On Tue, Oct 20, 2015 at 9:40 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-10-21 04:45] bgrant0607 commented on #140
@yifan-gu See also discussion in https://github.com/docker/docker/issues/6982. I'd like the hooks at the container layer to be executed in the host context, so that Kubelet can implement whatever functionality it needs.

@dalanlan Do you have a specific use case for the prestart hook in mind? It's pretty invasive. We may have better alternatives once Docker integrates runc. I think there's more de

[2015-10-21 05:00] paralin opened #16011 "Provide access to pod's host node hostname"
I'm interested in accessing the host node's hostname for monitoring purposes. Is this possible?

If not, would it be possible to add this sort of thing in the pod spec for environment variables?

[2015-10-21 05:04] thockin commented on #16011
Dup of #15169

[2015-10-21 05:04] #16011 closed

[2015-10-21 05:05] thockin commented on #15169
For context for other readers:

we don't just want to add hostname as part of the downward API because a) it's not something you should be coupling to and b) it prevents future opportunities like migration.

[2015-10-21 05:12] paralin commented on #15169
@thockin Only reason why I was interested in that really was for the newrelic DaemonSet example I'm writing right now. It's more informative to have the hostname in that context be the node hostname, rather than the docker container hostname / pod name.

[2015-10-21 05:14] gtaylor commented on #15169
I definitely understand the coupling argument, but knowing which host the container is running on is, as @paralin is pointing out, is super helpful. Especially while the k8s scheduler is so basic.

[2015-10-21 05:16] paralin commented on #15169
Particularly for things like internal health monitoring and redundancy analysis.

[2015-10-21 05:17] gtaylor commented on #15169
Those are the two things we're currently struggling with.

[2015-10-21 05:19] thockin commented on #15169
I'm not saying there are not good reasons for knowing the hostname just
that we need to think carefully about the implications of exposing that.
Are you saying the use case is to know the name but not to access it?  The
DataDog example wanted to access the host but doesn't care what the host's
name is.

On Tue, Oct 20, 2015 at 10:16 PM, Christian Stewart <
notifications@github.com> wrote:

[2015-10-21 05:19] paralin commented on #15169
@thockin In my particular case, all I care about is knowing the hostname of the node.

[2015-10-21 05:19] davidopp commented on #15716
Does this mean #13048 should be considered a blocker for 1,1? We are planning to advertise that Kubernetes scales up to 250 nodes; that statement has to include the cluster addons that are integral to its operation (like Heapster). heapster-controller.yaml sets a memory limit of 300M so it seems either we need to significantly reduce Heapster memory consumption or implement #13048. (It would proba

[2015-10-21 05:24] paralin commented on #15169
@thockin Is there some way to do this with env vars? ex. some fieldRef or fieldPath.

[2015-10-21 05:26] thockin commented on #15995
I could see adding an EndpointsName alongside Server and using one or the
other,  Unfortunately Server is not marked as optional, so we'll have to
figure out the compat.

On Tue, Oct 20, 2015 at 4:53 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-10-21 05:28] davidopp commented on #15123
I'm assigning this to @mikedanese since the consensus now seems to be that this is the same as #15895

[2015-10-21 05:28] gmarek commented on #15716
As long as we don't officially support cluster autoscaling it should be enough to compute requirements at startup, which should be simpler.

[2015-10-21 05:28] gtaylor commented on #15169
@thockin Each Datadog metric/event has a hostname value attached. You get this by default based on the hotsname that the Datadog agent is running on. If I run a Datadog agent on Node 1 and send metrics to it from Node 2, said metrics will appear to be from Node 1. Similarly, if I run the agent from a container, all metrics from other containers will appear to come from that container's hostname. N

[2015-10-21 05:33] thockin commented on #15169
FWIW you don't have to run outside of kubernetes to run on the node's
network.  We have a hostNetwork parameter just for that :)

On Tue, Oct 20, 2015 at 10:29 PM, Greg Taylor <notifications@github.com>
wrote:

[2015-10-21 05:34] davidopp commented on #15716
Agreed - so, item (1) from my comment here
https://github.com/kubernetes/kubernetes/issues/13048#issuecomment-133564022

Who knows enough about the cluster setup scripts to dynamically generate heapster-controller.yaml based on the cluster size?

(BTW I'm not saying we shouldn't *also* try to reduce Heapster memory consumption -- clearly we should. But it seems we're so far from 300M that we're go

[2015-10-21 05:35] gtaylor commented on #15169
The reason I'd want to run outside of Kubernetes is that it ensures that I'm getting all of the system-level metrics. Some aren't available when running the agent under Docker. This could change in future dd-agent releases, though.

[2015-10-21 05:42] paralin commented on #15169
@thockin Would you keep the same hostname then? hmm

[2015-10-21 05:43] thockin commented on #14118
kube-proxy should have those flags  try kube-proxy -? on a node.

On Tue, Oct 20, 2015 at 12:08 AM, jijun2 <notifications@github.com> wrote:

[2015-10-21 05:58] paralin commented on #15169
That seems to work well @thockin.

However, I noticed this line:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/exec.go#L50

Here you set the container hostname, would it be possible to add an environment argument with something like NODE_HOSTNAME?

Also is there a way to specify --pid=host at the moment? It doesn't look like it to me.

[2015-10-21 06:04] paralin commented on #4710
Suggesting this be revisited regarding DaemonSets being implemented. With something like a NewRelic system monitor daemon, it would be nice to use the official Docker image, but that requires having a secret in an env variable. Passing the secret in as a Kubernetes secret and attaching it to the container an an env variable would be excellent.

[2015-10-21 06:05] dalanlan commented on #140
@bgrant0607  Agreed. runc fits much better:)
Our humble use case is, given a container (let's say a tomcat inclusive), we want to inject some upstart param to its `java` binary to enable our application agents to collect some app-level runtime information. That said, we cannot get there via #831, i'm afraid.

[2015-10-21 06:32] paralin commented on #13382
Just started seeing this again @roberthbailey

[code]

Any ideas?

[2015-10-21 06:40] wojtek-t commented on #15716
Agreed - so, item (1) from my comment here
#13048 (comment)

+1

[2015-10-21 06:41] davidopp commented on #15891
I like the idea of augmenting the Cassandra documentation with information about how to run it using DaemonSet, if for no other reason than to give us more examples of DaemonSet. But I would remove the sentence "It's optimal to run a single Cassandra pod per each applicable node in the cluster" because I don't think that's true (and in any event, the meaning of "optimal" is not very well-defined h

[2015-10-21 06:44] paralin commented on #15891
@davidopp No problem, I'll remove that line. Probably too opinionated anyway.

The only downside I see to the nodePort hack is that you cannot set replicas == node_count.

[2015-10-21 06:49] spothanis commented on #15966
This is weird. There are no restrictions about the OpenStack version, however we have so far tested with Havana, Icehouse and Juno.

A few things to check:
If the cinder volume plugin registered, when kubelet started.
Cinder Volume is in the same region as VM.

There are some known issues about using hostname/FQDN to match server names while attaching and detaching. But here it didn't even get til

[2015-10-21 06:52] jijun2 commented on #14118
@thockin , Great!

[2015-10-21 06:59] #11661 closed

[2015-10-21 07:05] simon-temple commented on #15917
@jlowdermilk, yes I was just using those as examples that **can** connect to the metadata server.

My problem is that containers in the us-central zone cannot connect to:
[code]
This is because the host 'metadata' cannot be resolved.

http://metadata/  is hardcoded into two of the java APIs we use.  Unless this is fixed we can't use containers in this zone.

[2015-10-21 07:20] wojtek-t commented on #15816
Should be fixed now.
I will send another cleanup PR later today and close this bug.

[2015-10-21 07:27] lorenzvth7 commented on #15833
When I just try to create a volumeclaim without creating a project first, than I get this error:
[code]

[2015-10-21 07:49] wojtek-t commented on #15945
@wojtek-t do you plan on fixing watches at the same time or will that be a second step? I think most of the benefit is quite possibly in fixing the number of times the watches invoke filterfuncs...

Obviously not in a single PR, but yes - I would treat it as part of the same effort.

I can see making a correct write-through cache on a single apiserver by just stopping the world until your write sh

[2015-10-21 07:57] xfye commented on #15937
The clusters are running in our private environment. This issue recently happened very frequently in different clusters.

[2015-10-21 08:00] mdshuai opened #16018 "When increase cpu load HorizontalPodAutoscaler can't auto scale pod"
[code]

[2015-10-21 08:00] mdshuai commented on #16018
@derekwaynecarr

[2015-10-21 08:03] lorenzvth7 commented on #15833
Can it be an issue that I'm creating the pv's with my admin-account on my master and when I'm doing ```oc get pv```, that I'm seeing my pv's. But when I'm going to another centos7-instance (my node), than I'm only able to login as a normal user which cannot list the pv's:
```Error from server: User "testuser" cannot list all persistentvolumes in the cluster```. But okay, after doing all the stuff

[2015-10-21 08:40] qwang1 commented on #14263
Yes, the issue has been fixed, thanks.

kubectl version
Client Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.2.90+360d0e0a7e92dc", GitCommit:"360d0e0a7e92dcc4d00b4c555e166a2a71a7e713", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.2.90+360d0e0a7e92dc", GitCommit:"360d0e0a7e92dcc4d00b4c555e166a2a71a7e713", GitTreeState:"cl

[2015-10-21 08:50] xfye commented on #15937
It is a critical issue for us. I suspect that It is related to the url:
[code]

[2015-10-21 09:08] #13353 closed

[2015-10-21 09:09] mdshuai opened #16019 "When describe a HorizontalPodAutoscaler the "Min pods" number is overflow"
[code]

[2015-10-21 09:09] mdshuai commented on #16019
@derekwaynecarr @DirectXMan12

[2015-10-21 09:15] zhengguoyong commented on #8347
Do you mean we should not use MaxContainerCount to limit it ?  or just lower MaxContainerCount  value??

[2015-10-21 09:20] #13718 closed

[2015-10-21 09:22] legdba commented on #15795
*(note: this has initially been discussed here: https://groups.google.com/forum/#!topic/google-containers/ZD19Hy8qIlo)*

When an application within a container logs events as one-line JSON documents to STDOUT, this JSON document is used as a string, not as a JSON document. This means the application JSON document attributes cannot be used in ElasticSearch/Kibana. For me K8S should be friendly with

[2015-10-21 09:26] jiangyaoguo commented on #8347
I think this means removing containers of pod once we kill this pod. Does anyone has some opposite ideas?  Or we can working on this right now?

[2015-10-21 09:54] gmarek commented on #16002
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-21 09:54] #16002 closed

[2015-10-21 09:54] gmarek commented on #16018
@piosz @jszczepkowski @mwielgus

[2015-10-21 09:55] gmarek commented on #16019
@piosz @jszczepkowski @mwielgus

[2015-10-21 10:00] piosz commented on #16019
@mdshuai thanks for reporting. I'll fix it.

[2015-10-21 10:58] chipironcin opened #16021 "kube-up 0 ready nodes"
Calling `export KUBERNETES_PROVIDER=gce; wget -q -O - https://get.k8s.io | bash` to setup a cluster in gce, stuck "waiting for nodes" at "validate-cluster". Finish with an error but cluster has been successfully initialized and nodes are ready.

Reproducing issue:

[code]

[2015-10-21 11:15] lorenzvth7 commented on #15833
Okay finally. I found it.
First of all I want to thank @markturansky and @rootfs for their help.

The logs showed:
[code]

So it was trying to mount with the following arguments:
[code]
But the server isn't localhost but the hostname of my master (were the nfs-server is installed) because my pod was created on another node.

So I had to change the pv-1.yaml and pv-2.yaml of the example and replace

[2015-10-21 11:23] ntquyen opened #16022 "High availability issue with rethinkdb cluster in kubernetes"
I'm setting up rethinkdb cluster inside kubernetes, but it doesn't work as expected for high availability  requirement. Because when a pod is down, kubernetes will creates another pod, which runs another container of the same image, old mounted data will be erased and the new pod will join the cluster as a brand new instance. I'm running k8s in CoreOS v773.1.0 stable.

Please correct me if i'm wro

[2015-10-21 11:28] chao007 commented on #15839
it is worked for oc exec when export https_proxy=http://172.18.6.132:3128
thanks

[2015-10-21 11:31] ntquyen commented on #15108
I set `--register-schedulable=false` to the master kubelet and restart but got error `unknown flag: --register-schedulable`. I'm using kubelet version 1.0.1

[2015-10-21 12:14] piosz commented on #16018
@mdshuai thanks for reporting. I'll take a look

[2015-10-21 12:26] sramakr commented on #15966
Yes Cinder volume is in the same region as VM. Any trick to check if the
plugin is registered. It seems not be , at-least based on the logs.

Thanks
Sriram

On Wed, Oct 21, 2015 at 2:50 AM, spothanis <notifications@github.com> wrote:

[2015-10-21 12:42] markturansky commented on #15833
@lorenzvth7 the master node gets an admin client, so it can access things like PVs (an admin resource).  The client used on nodes isn't master and doesn't require access to PVs.

I'm glad you figured out localhost v. hostname.  I missed somewhere in the thread that you're on multiple nodes.  Also, I thought the original PV you posted had an IP instead of localhost, but regardless, I'm glad it now

[2015-10-21 12:44] #15833 closed

[2015-10-21 12:46] fgrzadkowski commented on #15716
@davidopp I don't think that automatic requests for Heapster should be a blocker for 1.1. We had exactly the same problem for 1.1 and it's not easy to do properly, especially with manual/automatic cluster scaling. We talked we should just document recommended limits in user-guides and don't block the release.

[2015-10-21 12:47] fgrzadkowski commented on #15716
Downgrading priority as we agreed current heapster is good enough for 1.1

[2015-10-21 12:49] 4ndrej commented on #15577
got this problem on fedora 22 and kubes:
kubernetes-master-1.1.0-0.5.gite44c8e6.fc22.x86_64
kubernetes-node-1.1.0-0.5.gite44c8e6.fc22.x86_64
kubernetes-client-1.1.0-0.5.gite44c8e6.fc22.x86_64

is there any way to get rid of this problem without rebooting machine?

[2015-10-21 12:49] wojtek-t commented on #15716
I think that definitely should NOT focus on the case of automatic/manual cluster scaling and just document it. However, setting limits based on the initial cluster is quite important, because we know that it will be OOMing if we set it to small.

[2015-10-21 12:56] #14269 closed

[2015-10-21 12:57] fgrzadkowski commented on #15716
@wojtek-t It is important, but it's not a new problem. Heapster had exactly the same issue in 1.0 (actually it was much worse earlier). HPA is a beta feature, so I think it's ok to have some manual (well documented) actions that have to be performed.

[2015-10-21 13:00] wojtek-t commented on #15716
I think it depends how difficult it is - if this is just few lines of code, we should do it, otherwise probably documenting it is fine.

[2015-10-21 13:27] piosz commented on #16018
@mdshuai could you please paste logs from controller manager (sth like /var/log/kube-controller-manager.log). Also could you please verify that heapster is running correctly by running ```kubectl get pods --namespace=kube-system -l k8s-app=heapster```.

[2015-10-21 13:33] vishh commented on #15716
Applying better initial limits based on cluster size will definitely help users. In the past many users did not read our documentation and instead were battling OOM kills.
Will HPA be enabled in GKE?

[2015-10-21 13:40] ncdc commented on #15839
Glad to hear it worked. I'm going to close this.

[2015-10-21 13:40] #15839 closed

[2015-10-21 13:46] ArtfulCoder commented on #15227
Closing issue with #15962
whenever the soak cluster is updated with the latest changes, this issue should go away.

[2015-10-21 13:46] #15227 closed

[2015-10-21 14:04] #15235 closed

[2015-10-21 14:06] simon-temple commented on #15917
ok..so now I'm confused.  I just created a new cluster in zone **europe-west1-d** and I cannot resolve the host 'metadata' there either.  So it's **not** zone specific.

I note there are differences in the two resolv.conf files:

**Good: Can resolve http://metadata/**
domain c.b2auth-dev.internal.
search c.b2auth-dev.internal. 952729977945.google.internal. google.internal.
nameserver 169.254.169.2

[2015-10-21 14:21] geoah commented on #11204
Could someone please give us some tips on the best way to overcome this issue on v1.0/v1.1 as this fix has been moved to v1.2?

I'm interested in deploying a kubernetes cluster that will need to be peered with a 10.0.0.0/16 network (through AWS VPC Peering).

I guess that messing with `kube-up.sh`'s `SERVICE_CLUSTER_IP_RANGE`, `CLUSTER_IP_RANGE`, `MASTER_IP_RANGE` vars will make the resulting clus

[2015-10-21 14:32] zmerlynn commented on #15995
Yeah, having a small API modification would force the disambiguation of the service. My initial thought was the ghetto "does this look DNS-like?", which is going to be too brittle across API compat.

I'm not seeing a big compat issue. I think the EndpointsName carrying volumes would need translating to Server inside the volume plugin (though extend it to Server:Port, since the NFS mount command al

[2015-10-21 14:46] genti-t commented on #15847
I did find a workaround.
On the podmaster pod, i created a nginx container as loadbalancer
from http://127.0.0.1:2379 to my https://etcd-cluster-backend:2379 using
[code]
IMO, podmaster need the option to connect on a secured etcd cluster.

[2015-10-21 14:59] genti-t opened #16029 "[coreos] - kubelet don't start kube-proxy manifest"
I'm trying to figure out why kube-proxy.yaml is not started by kubelet.
My current kubelet.service:
[code]
/etc/kubernetes.env:
[code]
/etc/kubernetes/manifests/kube-proxy.yaml
[code]

No error log, nothing
Can someone help me with this?

[2015-10-21 15:02] resouer commented on #4710
+1 need this.  Could we just ship a `env from file` feature in pod?

[2015-10-21 15:05] resouer commented on #140
And for now, we have to hack it like this:

1. Inspect Entrypoint + CMD of the original image, let's say: sh -c "tomcat start"
2. In `pod.yml`, we replace it with: `./configure.sh && tomcat star`

[2015-10-21 15:15] geoah commented on #15160
Having the same issue with `m3.large` once rebooted go into emergency mode.
As you can imagine not being able to reboot your minions is a bit of an issue! :p

ps. Cluster build on AWS using `kube-up` on latest `release-1.1` (dd9ccaebcdda31a8ce58b7aa53186da93bfc377e) with

	export KUBERNETES_PROVIDER=aws
	export KUBE_AWS_ZONE=eu-west-1c
	export NUM_MINIONS=2
	export MINION_SIZE=m3.large
	export MAS

[2015-10-21 15:29] rootfs opened #16030 "mount should be more verbose returning error message"
We have to spend times on figuring out what are the mount error code means from issues #15668 and #15833.

In `doMount()`, the error message is [already captured](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L102) and is great for diagnosing mount problem. The console message better be returned rather than just error code.

@pmorie

[2015-10-21 15:33] sramakr commented on #15966
Cinder Volume is loaded.
I1021 15:18:41.671465   24375 plugins.go:262] Loaded volume plugin "kubernetes.io/cinder"

Is the syntax correct for creating the pod ? I couldn't find the correct one for Cinder , reused the one for aws-ebs.

Thanks
Sriram

[2015-10-21 15:35] spothanis commented on #15966
Here is the cinder example
https://github.com/kubernetes/kubernetes/blob/master/examples/mysql-cinder-pd/mysql.yaml

[2015-10-21 15:43] sramakr commented on #15966
Found the issue...I was using older kubectl to create the pod , and version mismatch.

Ran into the hostname issue because of hostname.novalocal , fixed that , by just removing novalocal.

Looks perfect.

Thanks
Sriram

[2015-10-21 15:47] spothanis commented on #15966
Awesome. I am trying to get around that hostname uglyness., hopefully soon.

[2015-10-21 15:58] justingrayston commented on #12534
I am currently having the same error. I have been trying for some time to get docker based kubernetes to play nice with DNS.

Raised a [stackoverflow](http://stackoverflow.com/questions/33255676/configure-kube-dns-when-running-kubernetes-via-docker) question before I found this issue.

[code]

If I go onto the host,and curl the endpoint, the api output is valid JSON.

I am using the instructions f

[2015-10-21 16:11] erictune commented on #15624
Are the severities meant to relative to the cluster, or relative to the referenced object?

Here are 2 examples illustrate the differences:

(1) it is normal in a moderately large and busy cluster for the scheduler to sometimes bind a pod to a machine where it is subsequently rejected by a kubelet, due to changes in usage, or delayed information about the state of the machine.

 - From the perspec

[2015-10-21 16:12] dchen1107 commented on #14076
I am closing this one since it never failed for last 50 runs.

[2015-10-21 16:23] spothanis commented on #15966
@thockin should we investigate more on the version mismatch thing on kubectl?

[2015-10-21 16:29] lavalamp commented on #15945
@wojtek-t, SGTM

On Wed, Oct 21, 2015 at 12:49 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2015-10-21 16:34] dchen1107 commented on #15624
Well said, @erictune and +1 on object-relative severities.

[2015-10-21 16:48] 4ndrej commented on #15577
it seems that removing
--volume=/dev:/dev \
from Step Two: Run the master (hyperkube kubelet) solve this issue.

[2015-10-21 17:01] jlowdermilk commented on #15795
Thanks for the added detail. Docker log parsing rules are defined in this [td-agent.conf](https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/cluster/addons/fluentd-elasticsearch/fluentd-es-image/td-agent.conf). If you see an obvious fix feel free to send a pr. cc @dchen1107

[2015-10-21 17:01] aveshagarwal commented on #15624
@erictune, I agree with you. And I think that to come up with global or cluster level severities, it would require:

1. Aggregating object level events.
2. Figuring out questions what makes cluster level or global severities.
3. Answering those questions based on 1.

That said, IMO, it is still helpful to add severity (somewhat similar to local log levels) to object level events as reading events

[2015-10-21 17:09] quinton-hoole commented on #15227
Awesome surgical fix @ArtfulCoder.  I've manually rebuilt the GCE soak cluster to incorporate your fix, so that we don't have to wait a week to confirm that the tests are more stable.

job/kubernetes-soak-weekly-deploy-gce/63/
job/kubernetes-soak-continuous-e2e-gce/3692

[2015-10-21 17:10] lavalamp commented on #15864
@nikhiljindal Just confirming, this is now just a button we need to push right before cutting the release, right?

[2015-10-21 17:10] dchen1107 commented on #15805
All pr required from cAdvisor were merged, we just need to cut a new release: https://github.com/google/cadvisor/issues/935, and update our GoDep here.

[2015-10-21 17:15] JanetKuo commented on #13483
cc @bgrant0607

[2015-10-21 17:22] mikedanese commented on #15960
In a 100 node cluster this is going to cause +100 writes +100 deletes per second. Is that extra load a concern?

[2015-10-21 17:23] thockin commented on #15680
Status: PR need to pass CI then done

[2015-10-21 17:24] jlowdermilk commented on #15937
@xyfe I agree that the problem is it's trying to read from the gce metadata server. IIRC, the reason it's doing so is because it's looking in all possible locations for a `.dockercfg` file before giving up.

[code]

You should be able to resolve this by ensuring you have a valid `.dockercfg` in `/var/lib/kubelet/` before starting up kubelet on your nodes.

[2015-10-21 17:26] davidopp commented on #15716
Moving back to 1.1 for now, pending additional discussion.

[2015-10-21 17:28] jlowdermilk commented on #15949
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-21 17:28] #15949 closed

[2015-10-21 17:39] thockin commented on #15527
jijun2 are you actively working on this?

[2015-10-21 17:40] thockin commented on #15227
thanks guys!  Good fix.

On Wed, Oct 21, 2015 at 10:10 AM, Quinton Hoole <notifications@github.com>
wrote:

[2015-10-21 17:45] #11348 closed

[2015-10-21 17:47] bgrant0607 commented on #14281
Thanks for the suggestion. We're working on a server-side implementation of rolling update instead. It will be possible to enable the experimental API in 1.1:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/deployment.md

cc @nikhiljindal @ironcladlou

[2015-10-21 17:47] #14281 closed

[2015-10-21 17:49] davidopp commented on #15716
@alex-mohr

[2015-10-21 17:49] davidopp commented on #13048
@alex-mohr

[2015-10-21 17:53] fgrzadkowski commented on #15716
I don't understand why we discuss this in the context of HPA. It is a beta feature, so it does not have to scale to 100 or 250 nodes.

I'm not arguing that it will not improve UX - for sure it would be better to have it. I'm just arguing that it is not a blocker for 1.1. As said before HPA is a beta feature so it does not have to scale in the same way as the rest of the cluster. For heapster itsel

[2015-10-21 17:56] thockin opened #16036 "Cleanup: events for non-namespaced objects"
ValidateEvent() in pkg/api/validation/validation.go checks for "Node" specifically, but should really check for "any non-namespaced object.

[2015-10-21 18:03] davidopp commented on #15716
We are not considering this issue part of the HPA feature. My understanding from Marek's measurements is that Heapster will OOM even without HPA enabled, on large clusters, since it was consuming multiple GB of memory just running density test without any HPA. Please correct me if I am misunderstanding. (We understand that this problem was also in 1.0, but now that we are advertising 250 node clus

[2015-10-21 18:03] yujuhong commented on #15108
@ntquyen, this new flag was added recently in #14054, and probably won't make it in to v1.1 release.

[2015-10-21 18:03] jszczepkowski commented on #16018
Output of `kubectl get hpa` in step 4 says `CURRET <waiting>`. It means that the metrics from heapster were not collected yet.
@mdshuai who long did you wait before step 4? You should wait about 4 minutes due to https://github.com/kubernetes/heapster/issues/642

[2015-10-21 18:05] bgrant0607 commented on #13483
The author of #9868 never addressed review feedback and never responded to requests to rebase. It's been inactive since July. I just closed it.

kubectl rolling-update can be used for multi-container pods. It's only the --image convenience feature that doesn't support it.

We're working on a server-side implementation of rolling update. It will be possible to enable the experimental API in 1.1:
ht

[2015-10-21 18:06] bgrant0607 commented on #8827
Closing in favor on ongoing work on Deployment and #1697:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/deployment.md

cc @nikhiljindal @ironcladlou

[2015-10-21 18:06] #8827 closed

[2015-10-21 18:06] piosz commented on #15716
@davidopp, will dynamic generation happen only once the cluster is created or also during its resize?

[2015-10-21 18:06] bgrant0607 commented on #11348
cc @nikhiljindal @ironcladlou

[2015-10-21 18:07] davidopp commented on #13048
@brendandburns is going to implement (1) from
https://github.com/kubernetes/kubernetes/issues/13048#issuecomment-133564022
for 1.1. But since this issue is titled "dynamic cluster addon resizer" let's leave this issue about that, and leave this issue for 1.2. Static cluster addon sizer can be covered by #15716

[2015-10-21 18:07] lavalamp commented on #15726
I looked at the upgrade testing we are starting to do, and the e2e in a version-skewed cluster currently is *not* catching this bug. Can we expand the e2e?

[2015-10-21 18:07] erictune commented on #15891
Talked with @bgrant0607 and @mikedanese.

We get that you don't want to run two cassandra pods on the same node, and we plan to improve the scheduler to allow preventing that.

But DaemonSet is not just about not wanting duplicates. It is also about wanting a copy on every node.

None of us have much experience with Cassandra. That said, we don't understand why you would want to run Cassandra on e

[2015-10-21 18:08] bgrant0607 commented on #13483
@brendandburns, would you be interested in taking this on?

[2015-10-21 18:12] ncdc commented on #15726
@lavalamp I did add exec e2es in a previous PR that should help catch this sort of thing (see e.g. https://github.com/kubernetes/kubernetes/blob/67d3a9316604a0ef2072e24315c13f22944c4684/test/e2e/kubectl.go#L175-L181). Is the version-skewed testing running a master kubectl against a 1.0 kubelet?

[2015-10-21 18:19] yujuhong commented on #15960
This would be +100 writes +100 deletes every *10* seconds in a 100-node cluster.

We are still discussing options to let user update their manifest files.

[2015-10-21 18:19] davidopp commented on #15716
Only at cluster creation time. It does not solve the full problem but we don't think many people dynamically resize their cluster. Full fix is punted to 1.2, issue #13048.

[2015-10-21 18:20] zmerlynn opened #16038 "Invalid formatting in "kubectl describe persistentvolumes""
[code]

Note the `%!d`s

[2015-10-21 18:21] janetkuo opened #16039 "Revert kubectl slash syntax"
- [x] Revert #14461 in PR #16054
- [x] Revert parts of #15808 in PR #16058

Ref https://github.com/kubernetes/kubernetes/pull/15874#issuecomment-149756822

Revert the slash syntax since we don't need to require `extensions/` for 1.1, and take our time on introducing new syntax in 1.2.

[2015-10-21 18:21] thockin commented on #15966
We're looking at cross-version issues some for v1.1 rollout.
@jlowdermilk @alex-mohr

[2015-10-21 18:21] romanek-adam commented on #15160
@stemau98 I wouldn't dare remove disk formatting code. It might have worked for you but results are unpredictable.

There's definitely something wrong with m3 instance types so the issue name should be updated accordingly.

[2015-10-21 18:21] runningwild commented on #8351
This hasn't been touched in a while, but I'm interested in getting this in.  Yifan: is your PR still reasonable to get merged?  If you aren't planning on actually getting it merged in I will work on this issue.

[2015-10-21 18:21] thockin commented on #15966
I'm gonna close this issue.  Thanks for the assist!

[2015-10-21 18:21] #15966 closed

[2015-10-21 18:26] bgrant0607 commented on #4971
We are now spreading by both.

[2015-10-21 18:26] #4971 closed

[2015-10-21 18:29] thockin commented on #15995
Our API documents Server as a required field.  This means a consumer can
safely assume it is present and non-empty and that it is the canonical
representation of the NFS server.  Changing it to optional potentially
breaks those clients.

That said, this is PROBABLY pretty low impact, but it's a bad precedent.
We're trying to be better than that.

On Wed, Oct 21, 2015 at 7:32 AM, Zach Loafman <noti

[2015-10-21 18:32] thockin commented on #11204
hand-waving because I have not tried it, but this is the migration plan for
1.2 or 1.3, wherein we eject all network config from Kubelet.

You can use the new CNI plugins support.  Configure CNI to use a wrapped
form of the bridge driver (should be almost 100% docker-compatible).  In
your wrapper, check and fix the iptables rules.

We will have more time to think about this once 1.1 is wrapped up.

[2015-10-21 18:32] ihmccreery opened #16040 "Testing doesn't sufficiently cover client/cluster version skew"
As we're moving forward with the `v1.1` release, we're realizing we don't have sufficient test coverage for version-skew between clients and clusters.  Recently, we put in place upgrade tests:

[code]

When these tests run, the client version always matches the e2e version, so in `3.` and `5.` the client is a `1.0` client, in `6.` it's a `1.1` client.

Problems:

- [ ] We don't cover the reverse c

[2015-10-21 18:33] ihmccreery opened #16041 "Run 1.1 e2es against a 1.0 cluster, and do a full audit of results"
This is a sore attempt at getting some visibility into #16040.

[2015-10-21 18:33] mikedanese commented on #15960
Ok, from the logs in the issue description, it looked more frequent but most of the deletes are failing with key not found

[2015-10-21 18:34] thockin commented on #15917
Are you resolving from the VM or from a pod?  From a pod, I expect this to
fail.  We prepend 3 searches, which makes "google.internal." fall off the
end of the list (max 6).

On Wed, Oct 21, 2015 at 7:06 AM, simon-temple <notifications@github.com>
wrote:

[2015-10-21 18:38] zmerlynn commented on #15995
@thockin: Now I understand, thanks.

[2015-10-21 18:42] lavalamp commented on #15726
@ncdc Yes, it does (see #16040), and though the test fails at the moment, the relevant step does not fail. Current output below:

[code]

[2015-10-21 18:42] bgrant0607 commented on #14796
See also #12140

[2015-10-21 18:43] jchauncey commented on #12856
On the subject of restart policies:

It seems unacceptable to have an application potentially flap forever because it cannot be started properly. In most production environments using a process manager we would never have an application always restart. Instead we would set some limit to the number of times to retry and then just stop after taht limit. This would allow our monitoring tools to alert

[2015-10-21 18:44] bgrant0607 commented on #14796
@xfye Do you understand why the pods were unable to start?

Such pods would need to be deleted, recreated by their controller, and scheduled elsewhere. There are a number of cases where we'll want to do this, at least in the case where the problem appears to be correlated with the node rather than with the pod/container/image.

[2015-10-21 18:59] spiffxp commented on #14216
OK, I've verified that running with the original 100 node configuration using v1.2.x, v1.1.x, v1.0.6 with the scheduler at `--v=1` or v1.2.x with #15890 applied with the scheduler at `--v=4` looks identical for the density-3 and density-30 cases.

@lavalamp though not in an N^2 path, there are still some pretty verbose logs in the scheduler loop if `namespace/pod` is sufficient to trace the flow o

[2015-10-21 19:11] sajjadmurtaza-ror commented on #13387
Gcloud::Datastore::ApiError in

[2015-10-21 19:11] sajjadmurtaza-ror commented on #13387
Same issue

[2015-10-21 19:12] justinsb opened #16045 "Odd events when health check broken"
For a pod with a health-check that is broken, so the pod is constantly restarting, it looks like the events are not aggregated correctly:

`kubectl describe pod <podid>`

[code]

There is only one health-check failure event, and the timestamp is totally out of sequence.

Also, I would expect to see creating/created/started/killing in sequence, but they are not.  I am not sure if this is because it

[2015-10-21 19:21] cristifalcas opened #16046 ""kubectl get" shows deleted entries"
I deleted a service account, but "kubectl get" still shows that it exists. Trying to delete again the service account results in an error:

    [root@dns-test-09 ~]# kubectl get serviceAccounts  --all-namespaces
    NAMESPACE   NAME       SECRETS
    default     default    0
    optymyze    default    0
    optymyze    optymyze   0
    [root@dns-test-09 ~]# kubectl delete serviceAccounts/optymyze

[2015-10-21 19:34] mikesplain opened #16047 "Feature Request: Change AWS ELB scheme"
Currently it appears service based ELBs come up as internet facing only.  In many cases internal services shouldn't be exposed externally (internal testing?).  There's clearly a number of ways to do this but making ELBs internal is one simple way we've used previously (unless there's a specific reason this is not present).

It seems like a pretty simple add (passing a `Scheme:` argument when creat

[2015-10-21 19:39] lavalamp commented on #14216
@spiffxp I think that one is OK, you see it once per scheduling attempt and it has some useful info. Let's see if we can hear from @timothysc before we close this.

It's also worth thinking about why this caused stair stepping instead of uniform slowness. Was it the OS batching log file writes? Something else? On GCE I'd guess I/O throttling, but you shouldn't have that on bare metal.

[2015-10-21 19:40] paralin commented on #15891
@erictune It's about redundancy - you want to spread the data storage over the entire cluster not for storage space as much as reliability. I'm taking from [Netflix's best practices](https://netflix.github.io/) and OSS recommendations here. The idea is to expect that instances will die at any time, and with that expectation, to spread the data and replicate it over as many instances as possible, s

[2015-10-21 19:41] ncdc commented on #15726
@lavalamp that looks like it's the 1.0 e2e, which didn't have the additional exec tests. And the failure looks like #15123 / #15895.

[2015-10-21 19:41] nikhiljindal opened #16049 "Add an api-ref readme"
Similar to http://kubernetes.io/v1.0/api-ref.html, we need a page on https://github.com/kubernetes/kubernetes/tree/master/docs/api-reference that summarizes the files that the user should be looking at.
Right now, that folder contains a bunch of md files (that have nothing in them) and html files (that are not readable as is).
This README can link to the html files using htmlpreview.

cc @caesarxu

[2015-10-21 19:47] lavalamp commented on #15726
@ncdc OK. So we should be covered going forward, but 1.0 -> 1.1 is not covered because the 1.0 test didn't exercise this case well enough. Is that right?

[2015-10-21 19:48] ncdc commented on #15726
@lavalamp correct

[2015-10-21 19:49] paralin commented on #15891
I updated the PR to add the reasoning behind using a DaemonSet, as per suggestions

[2015-10-21 19:49] thockin commented on #16047
I think "internal" LB is something we should support but it's more than
just a flag.  I'd like to move the evolution of load-balancing towards the
new Ingress model over the next few releases, so this might be better there
(but it's beta for now).

On Wed, Oct 21, 2015 at 12:34 PM, Mike Splain <notifications@github.com>
wrote:

[2015-10-21 19:56] davidopp opened #16050 "Add monitoring and alert thresholds for cluster addon pods to scalability test"
Heapster is the most important one, but we should do it for all of them.

@wojtek-t @gmarek

ref/ #15716

[2015-10-21 20:04] eliaslevy opened #16051 "Events describe pod as unhealthy on init when using readiness probe"
If you configure a readiness probe, an event will be generated for the pod stating it is unhealthy and that the readiness probe failed, even before any readiness probe is executed (i.e. before initialDelaySeconds have expired). In addition, there is no event that records the transition of a pod from unhealthy to healthy.

For example, this is a ready pod whose last event says it is unhealthy, and

[2015-10-21 20:06] simon-temple commented on #15917
I am attempting to resolve from the pod.

So because of the additional search entry above, **europe-west1-d.c.development-1104.internal.**, google.internal is not being used (falling off)?

Until recently, docker hosts were being created with only six entries.  Now they are being created with seven and because of this we're losing one.  Any idea what may have changed or what influences the number

[2015-10-21 20:11] nikhiljindal commented on #15864
This is already part of the release cutting process.
But we need to run it once in release-1.1 branch for all the cherrypicks we have done after cutting the branch.

[2015-10-21 20:20] yujuhong commented on #15960
Uh....it's easy to trigger a sync for all pods in kubelet. Any change in any pod would trigger a sync. In this case, the DELETE/ADD of the mirror pod could also trigger another sync. So, yes, it could be worse than 10s...

We are looking at patching this in the apiserver, based on @lavalamp's suggestion.

[2015-10-21 20:29] smarterclayton commented on #15945
When you say intermediate caches, which ones are you referring to?  Anyone
using an intermediate cache is probably doing so for resilience or
performance, and is by definition a sophisticated client.  The vast
majority of clients have no sophistication.  If we accept multiple
apiservers, DTRT for unsophisticated clients is slow but correct.  DTRT for
sophisticated clients is resource version track

[2015-10-21 20:30] paralin commented on #15968
This should be OK @nikhiljindal if in HEAD the experimental will be enabled on default. `ENABLE_DEPLOYMENTS` before just enabled `ENABLE_EXPERIMENTAL`. I was going to make a change to have it enable the feature in the RUNTIME_CONFIG vars, but this is unnecessary if it's enabled on default.

[2015-10-21 20:31] paralin commented on #14162
Just ran into this issue, submitting a PR to address

[2015-10-21 20:32] legdba commented on #15795
AFAIK the Fluentd standard plugins do not allow to fix this with configuration only. Some Fluentd new plugin would be required (https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter could be a good starting point). I'll think about it and check what exists already.

[2015-10-21 20:38] thockin commented on #15917
Short term workaround is to edit resolv.conf and restart containers.  We're investigating our options.

[2015-10-21 20:51] nVitius opened #16055 "Volumes Not Mounting in Dockerized K8S"
I'm setting up a [docker-multinode](http://kubernetes.io/v1.0/docs/getting-started-guides/docker-multinode.html) k8s. I'm trying to mount a volume (in this case, a secret). Originally, I was getting this issue:
`Unable to mount volumes for pod "service-registry-eccye_default": exit status 32`
I was on Slack yesterday, and @cjcullen pointed out that I should be running the kubelet with the `--conta

[2015-10-21 21:00] gmarek commented on #16050
IIUC you mean memory consumption thresholds. Right?

[2015-10-21 21:06] davidopp commented on #16050
Yes, sorry, that would be the main thing we care about.

[2015-10-21 21:11] saad-ali commented on #15978
Marking this as required for v1.1 milestone and P0--since it affects stability of all GCE API calls.

[2015-10-21 21:18] bgrant0607 commented on #15878
I agree we're going to need field filtering.

[2015-10-21 21:18] bgrant0607 commented on #15878
But not for 1.1.

[2015-10-21 21:31] ihmccreery commented on #16041
Jenkins job `kubernetes-client-skew-1.0-1.1-gke`, for anyone who's watching.

@lavalamp Any reason to want to run on GCE and not GKE?

[2015-10-21 21:36] smarterclayton opened #16061 "resource.Builder should not split commas before a slash"
The following arguments should not be split:

* `kubectl get a,b/foo,bar` should become `kubectl get a/foo,bar b/foo,bar`

Some resources will allow commas in names (user names in the future).  We must split by common before `/` only.

[2015-10-21 21:38] thockin commented on #15169
in Kubernetes v1.1 you can set pod.spec.hostPID

On Tue, Oct 20, 2015 at 10:59 PM, Christian Stewart <
notifications@github.com> wrote:

[2015-10-21 21:39] RichieEscarez commented on #15912
For the time being, to get a correctly formatted example, you can click the "counter-pod.yaml" link just above the code snippet.

[2015-10-21 21:43] mikedanese commented on #15726
Can't cut v1.1 without this fixed so adding milestone and upping priority.

[2015-10-21 21:49] paralin commented on #15169
@thockin Great, thanks!

[2015-10-21 21:50] bgrant0607 commented on #16039
cc @smarterclayton

[2015-10-21 22:14] RichieEscarez commented on #13157
I did a quick compare and found several getting started topics that we do not include in the navigation menu. I know these should be reviewed and exposed only if we know they are up to date and working.

/docs/getting-started-guides/aws-coreos.md
/docs/getting-started-guides/aws.md
/docs/getting-started-guides/aws/kubectl.md
/docs/getting-started-guides/azure.md
/docs/getting-started-guides/binary

[2015-10-21 22:19] jlowdermilk commented on #16022
I'm not familiar with rethinkdb's architectural details, but it should be possible to set up a highly available cluster using persistent volumes and persistent volume claims (see [this doc](http://kubernetes.io/v1.0/docs/user-guide/persistent-volumes.html)). The idea is that you have storage objects (persistent volumes) that are long lived, and pods attach to and use them. The pods can then be del

[2015-10-21 22:19] jlowdermilk commented on #16029
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-21 22:19] #16029 closed

[2015-10-21 22:25] lavalamp commented on #15726
@ncdc, @ihmccreery ran the 1.1 e2e kubectl test suite against a 1.0 apiserver & kubelet cluster, and the exec test did not fail. :( (see: #16041)