[2016-10-19 21:14] pesho commented on #34884
Only the DEB packages have been pushed: https://packages.cloud.google.com/apt/dists/kubernetes-xenial-unstable/main/binary-amd64/Packages

[2016-10-19 21:19] smarterclayton commented on #34413
It's possible that we are not forcing the stored version into a stable apiVersion/group, and so when the HPA controller runs it mutates the object via one name (extensions?) and when the user runs it updates via (autoscaling), and so the user action fails.  There is code in the storage codec (storage_factory.go) that should force objects from either type into a single version when stored in etcd.

[2016-10-19 21:20] imkin commented on #31310
Yes this race condition might cause this scenario [ if the bridge network is not setup then there might not be a route setup].

[2016-10-19 21:22] caesarxuchao opened #35159 "[RFC] Migrating kubernetes components to use client-go"
# Background

We are migrating components other than kube-apiserver in the main repository to use [client-go](https://github.com/kubernetes/client-go). The end goal is removing most parts of the `pkg/client` out of the main repository, and developing clients in `client-go`. We believe it will increase the development velocity in the long run.

As the first step, we will migrate components to use t

[2016-10-19 21:27] jbeda commented on #35156
To be clear, I don't think that kubectl will look for `/etc/kubernetes/admin.conf` by default.  By default `kubectl` will try and connect to the insecure cluster endpoint -- 127.0.0.1:8080.

But the larger point still stands -- kubeconfig loading is a maze of twisty passages and providing some sort of debugging for users would be very very helpful.

[2016-10-19 21:30] saad-ali commented on #35159
CC @kubernetes/sig-storage

[2016-10-19 21:35] roberthbailey commented on #34856
@bdbauer - can you take a crack at fixing this given's @smarterclayton's suggestions above?

[2016-10-19 21:37] pwittrock commented on #34146
SGTM.

[2016-10-19 21:47] quinton-hoole commented on #34261
@nikhiljindal @mwielgus @kubernetes/sig-scheduling PTAL.  This looks sound to me, but I've not examined K8s Jobs in any great detail.  Would appreciate outside input.

Is @kubernetes/sig-scheduling the right place to send this for review outside of @sig-federation?  Or is there a different SIG that thinks about batch workloads?

@jianhuiz I think it's safe to go ahead with a preliminary implementa

[2016-10-19 21:49] liggitt commented on #27430
what's the proposed timeframe for the rename? pre-1.5? can we drop the alpha object completely, or will there be an attempt to maintain conversions from alpha petsets to objects with some other name?

[2016-10-19 21:50] davidopp commented on #34261
TBH I would just have @erictune review it. He was deeply involved in the design of Job. sig-apps might be relevant.

[2016-10-19 22:01] bprashanth commented on #27430
It is significantly harder to convert an entire type from alpha to beta than an annotation or field. We'd either need to autoconvert in apiserver or maintain 2 types, lock down edits to apps/v1alpha1, push the burden of converion on users, and teach the controller to understand both.

I think we should drop on rename.

[2016-10-19 22:06] quinton-hoole commented on #34261
OK, Thanks.  @erictune I would most appreciate it if you could take a quick look aver this design doc and share any thoughts you might have w.r.t. Jobs.  Fortunately it's a nice, short 1-pager.

Q

[2016-10-19 22:07] bprashanth commented on #35145
This is a PSA to all invested parties so there are no surprises, i.e:

For example, replica-set/tion controller treats deletionTimestamp as an effective delete, and eagerly creates a replacement. Creating a replacement daemon on a partitioned node isn't going to help anyway. And so on...

We have some 20 controllers in tree, I think they should all be OK.

[2016-10-19 22:18] gmarek commented on #35145
I'm not worried about bugs in implementation - it indeed should be simple enough, I'm worried about semantic changes. Only tricky part of the implementation would be adding a flag-gate to his behavior, which would mean having 4 different code paths (cross product of using/not using taints and doing/not doing hard deletions).

[2016-10-19 22:24] thockin commented on #27430
IdentitySet or NominalSet or RoleSet.

[2016-10-19 22:25] hongchaodeng commented on #35135
cc @calebamiles

[2016-10-19 22:25] smarterclayton commented on #27430
Those were among the ones I was expecting to see in the poll, alongside
remaining with PetSet

On Oct 19, 2016, at 6:24 PM, Tim Hockin <notifications@github.com> wrote:

IdentitySet or NominalSet or RoleSet.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/27430#issuecomment-254958704>,
or mute the thr

[2016-10-19 22:37] janetkuo commented on #34464
Fixed by #32117

[2016-10-19 22:37] #34464 closed

[2016-10-19 22:40] timothysc commented on #35135
/cc @caniszczyk this is an area where I think we need to start sharing as much infra on the cluster as we can.

[2016-10-19 22:41] errordeveloper commented on #34884
It is possible there is no automation for RPMs yet.

On Wed, 19 Oct 2016, 22:14 Peter Petrov, <notifications@github.com> wrote:

[2016-10-19 22:48] nikhiljindal opened #35162 "server and client should have their own instances of APIRegistrationManager"
Now that we have APIRegistrationManager, we should update the server and client to instantiate their own instances of APIRegistrationManager and register the APIs independently.

Currently, we use DefaultAPIRegistrationManager everywhere. As a result, if the client depends on an API, it is included in the server automatically.

https://github.com/kubernetes/kubernetes/issues/26675 is an example in

[2016-10-19 22:51] liggitt commented on #35162
@kubernetes/sig-api-machinery

[2016-10-19 22:52] nikhiljindal commented on #35162
Oops I wanted to cc @kubernetes/sig-api-machinery instead of cluster-federation :)

[2016-10-19 22:55] ymqytw opened #35163 "Strategic merge should support remove or replace items in a list of primitive type"
Strategic merge, which is used mostly by `kubectl apply`, should support remove or replace items in a list of primitive type (e.g. string).
For now, it only support merge.

Original: #32398

[2016-10-19 22:57] ymqytw commented on #34746
#35071

[2016-10-19 22:58] ixdy commented on #30600
We're planning to move forward with Bazel. As @spxtr notes there are quite a few advantages which should simplify a lot of the maintenance and replace the hacks we currently have in our build/release infrastructure.

Rough plan:
* merge #32774, along with verify or autogen scripts necessary to keep `bazel build` working. The officially supported way to build and release (using docker and the `buil

[2016-10-19 23:05] timstclair commented on #34990
The test failed because the busybox container was crash-looping, but I'm not sure why.

[2016-10-19 23:09] mtaufen commented on #34250
Seems like two issues causing flakes here:
1. It gets back an empty map.
2. It gets back a map where the contents (set-wise) are equal but the ordering of the kv pairs is not. Order should not matter for comparisons of maps, what's going on with this one?

[2016-10-19 23:10] danpaik commented on #27430
Ok, how about this?  I'll close the current poll and leave this thread here open for suggestions until 5pm tomorrow (Thursday 10/20).  At that time, I'll create a new poll and we can vote again.

For additions to the current list, I have:
IdentitySet
NominalSet
RoleSet

Regarding PetSet, from reading this thread it looks like the point is to change the name to something else.  Keeping it as an opt

[2016-10-19 23:25] chrislovecnm commented on #27430
How are we voting on this?

[2016-10-19 23:27] ixdy commented on #30600
A few other things we'll need to figure out (or wait for bazel to support):
* go build tags
* race detection
* code coverage

[2016-10-19 23:31] timothysc commented on #34776
FWIW you would **never-ever-ever-ever** scale cassandra based on HPA, even with some custom metric, unless you somehow bound internal params outside the system, even then you would need to account for data lifecycle management.  If anything you would have some custom logic to determine if/when to scale vs. compact vs. remove vs ...

[2016-10-19 23:34] mikedanese commented on #34884
@Starefossen try again in unstable now.

@errordeveloper @dgoodwin @luxas I'm ready to tag unstable as stable. Just waiting for the final word.

[2016-10-19 23:34] danpaik commented on #27430
Voting is currently closed but will re-open tomorrow at 5pm with a new link (that I'll post here as well as email out to kubernetes-dev@googlegroups.com).

If you have more suggestions, you can add them here.

[2016-10-19 23:35] smarterclayton commented on #35162
On the server there isn't a need for "all registered group versions" really.  Each group should be independent anyway, and each group version practically ends up being independent.

There should be no server code that looks at api.Scheme soon.

[2016-10-19 23:38] jimmycuadra commented on #27430
Thank you for deciding to vote on a new name. Obviously, I don't think keeping the current name should be an option. The technical work required to make the transition is largely a result of letting this issue sit open for so long. I opened the issue before PetSet was released as alpha, specifically so that it would be considered before the technical cost of changing became a bigger issue. Though

[2016-10-19 23:46] mikedanese commented on #30097
This is done.

https://apt.kubernetes.io

[2016-10-19 23:46] #30097 closed

[2016-10-19 23:46] smarterclayton commented on #35145
I'm not currently assuming we will flag gate hard delete.  It can lead to
split brain, and it has the potential for data loss on a cluster.

On Oct 19, 2016, at 6:19 PM, Marek Grabowski <notifications@github.com>
wrote:

I'm not worried about bugs in implementation - it indeed should be simple
enough, I'm worried about semantic changes. Only tricky part of the
implementation would be adding a flag

[2016-10-20 00:05] hanikesn commented on #30681
@bboreham The lack of documentation still seems to be the main issue. And people having their own provisioning will hit this bug, so I vote for leaving it open till the documentation is fixed or we have a separate issue for that.

[2016-10-20 00:10] dchen1107 commented on #34974
@yujuhong nice write-up on what we had discussed offline. LGTM!

re: @thockin https://github.com/kubernetes/kubernetes/issues/34974#issuecomment-254720453 There is no fundamental difference between IP address and disk space according to the resource type, both are finite and uncompressible. But once those resources are allocated to Pod / Container, that piece of resource has a different lifecycle.

[2016-10-20 00:12] thockin commented on #34974
To be clear, I am OK with the idea, I think, but I wanted to make sure we
understand the principles guiding it.  Be wary of state machines across API
boundaries.

On Wed, Oct 19, 2016 at 1:18 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-10-20 00:15] thockin commented on #35140
How do you know you have *all* ?  what does *all* mean?

On Wed, Oct 19, 2016 at 11:36 AM, Zihong Zheng <notifications@github.com>
wrote:

[2016-10-20 00:18] AdoHe commented on #34886
[code]
YAML standard doesn't restrict this, this should be allowed. I test `calico.yaml` with master branch,  `---` followed by space can be parsed, maybe we need to create a cherry-pick PR. @Buzer

[2016-10-20 00:19] AdoHe commented on #33588
@smarterclayton @pwittrock I am thinking create a cherry-pick PR for this to include it in 1.4, wdyt?

[2016-10-20 00:24] spxtr commented on #30600
I'd be happy to get the Jenkins stuff set up.

[2016-10-20 00:25] smarterclayton commented on #34363
Better Ansible integration (and other config mgmt) is a part of this.  Supporting apply as well as things like create * safety and versionably is important for solving hard problems.  I have some proposals pending for this.

I think the hooks and perm failed deployments and custom strategies proposals made me start thinking we're missing a DeploymentJob object - a Job that runs to completion and c

[2016-10-20 00:31] bprashanth commented on #35140
One list from apiserver and populate dns tree cache.

Meaning if I have 3 dns endpoints:
* nginx pod look up foo.svc, hits ep1, gets records
* ep1 restarts
* nginx pod look up foo.svc

That last lookup should not hit ep1 if foo.svc is going to fail.

[2016-10-20 00:32] smarterclayton commented on #33588
I would like to see this in 1.4 since as you note it may break scripts.

On Oct 19, 2016, at 8:19 PM, TonyAdo <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> @pwittrock
<https://github.com/pwittrock> I am thinking create a cherry-pick PR for
this to include it in 1.4, wdyt?

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2016-10-20 00:32] smarterclayton commented on #33588
Do we have a test case now? :)

On Oct 19, 2016, at 8:19 PM, TonyAdo <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> @pwittrock
<https://github.com/pwittrock> I am thinking create a cherry-pick PR for
this to include it in 1.4, wdyt?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kuber

[2016-10-20 00:35] yujuhong commented on #34974
Since we already introduced a `StopPodSandbox` due to practical reasons regarding kubelet's internal implementation, maybe it does make more sense to introduce a state to distinguish the difference. I will send a PR.

[2016-10-20 00:40] AdoHe commented on #33588
@smarterclayton we already test this, you can see [https://github.com/kubernetes/kubernetes/blob/master/pkg/util/yaml/decoder_test.go#L109](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/yaml/decoder_test.go#L109)

[2016-10-20 00:57] jbeda commented on #35015
I think I see what is going on here.  If `ListAndWatch` exits for any reason beyond an error from the resync loop no one will tell the resync loop to exit.  Furthermore, there is no "local" way to do this as it would be unexpected for this function to signal the Done channel as other things outside of it may be relying on it.

There are some useful functions around Context (https://golang.org/pkg/

[2016-10-20 01:06] bgrant0607 commented on #23896
A broader overview ("Whitebox COTS application management"), which is shared with kubernetes-dev, kubernetes-sig-apps, and kubernetes-sig-service-catalog:

https://docs.google.com/document/d/1S3l2F40LCwFKg6WG0srR6056IiZJBwDmDvzHWRffTWk/edit#

[2016-10-20 01:11] yujuhong commented on #30175
I checked one of the nodes `gke-jenkins-e2e-default-pool-5cd34bf0-vuqp`, and there were over 4000 goroutines in kubelet.

Relevant goroutines:
[code]
Don't think this happened on GCE, but I haven't checked closely yet.

/cc @kubernetes/goog-node

[2016-10-20 01:14] chrislovecnm commented on #16132
@bgrant0607 going to ask an evil question :(   Is this really not documented yet? How has this been open for a year?

[2016-10-20 01:17] tatsuhiro-t commented on #35015
Thank you for reply.
Isn't is possible to create local channel in ListAndWatch, and defer close it,  and then make resync goroutine "select" it too?

[2016-10-20 01:27] pouledodue commented on #6862
+111

[2016-10-20 01:36] jason-riddle opened #35166 "[Request] Labeling spot instances / preemptible instances as such."
I don't believe this exists, but it would be nice if AWS spot instances / GCE preemptible instances are labeled (or annotated) with 'preemptible'. I ask because if you want to schedule a job, you probably don't want to schedule on a node that can die at any minute. I know I could manually create the label, but it would be nice if kubernetes were smart enough to figure it out using the metadata api

[2016-10-20 02:04] bgrant0607 commented on #16132
@chrislovecnm Would be happy to assign this to you.

See also #15244.

[2016-10-20 02:37] smarterclayton commented on #27430
We have pretty explicit guidelines about support for alpha/beta - Jordan's
comments are reasonable because breaking people has cost, and we generally
avoid breaking people at all because it is far more impactful than a name.
In this case we will break people, and take the corresponding hit.

On Wed, Oct 19, 2016 at 7:39 PM, Jimmy Cuadra <notifications@github.com>
wrote:

[2016-10-20 02:40] smarterclayton commented on #27430
While there are strong opinions about the naming, that doesn't mean that
the opinion is shared among the community uniformly.  I suggested leaving
PetSet in the poll because there are people who have expressed to me a
preference for the name, just like there are people who have expressed that
they are offended by the name, or prefer a more descriptive name.  I'd
prefer to be inclusive to a wider s

[2016-10-20 02:46] ddysher commented on #23252
@kargakis I haven't tested it in latest version of kubernetes.  Feel free to close if necessary; once we upgrade our kube version, I can give another try.

[2016-10-20 03:02] jayunit100 opened #35168 "Decide semantics of predicate precomputations."
Problem

Some predicates may need precomputations or "preconditions" to be met before they can run.
- As of now, those preconditions may or may not be gauranteed to exist in the `predicateMetadata` struct.
- Some of those predicates may be able to bootstrap some of their own data (by redoing a query, if the predicate metadata  is incomplete).

Solution

We should decide wether (1) predicates shoul

[2016-10-20 03:06] smarterclayton commented on #35159
Have we evaluated whether all those components *can* use the versioned objects (i.e. have we tested selective refactors to verify there are no additional problems that might surface)?

[2016-10-20 03:06] techtonik commented on #6862
Is anyone hiring to work on that?

[2016-10-20 03:10] k8s-merge-robot opened #35169 "kubernetes-e2e-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/25363/

Run so broken it didn't make JUnit output!

[2016-10-20 03:16] justinsb commented on #31369
Is that error surfaced anywhere though?

[2016-10-20 03:16] caesarxuchao commented on #35159
I had converted some controllers during 1.2 or 1.3 release and they passed all unit tests and e2e tests. I needed to fix some issues in the test framework.

I'm experimenting locally using approach 1.1 to convert kube-controller-manager, I'll report the results.

I took a look at kubelet, it seems we can convert it.

[2016-10-20 03:26] chrislovecnm commented on #31369
How is an admin suppose to diagnosis that there node is too small?

[2016-10-20 04:08] davidopp commented on #16132
cc/ @fgrzadkowski

[2016-10-20 04:13] davidopp commented on #34676
cc/ @mwielgus
(who obviously didn't cause this, but just wanted him to be aware of it)

[2016-10-20 04:14] bgrant0607 commented on #34776
@erictune @davidopp @mml Are we discussing changes to PodDisruptionBudget, Deployment + RS + RC, or both?

[2016-10-20 04:28] davidopp commented on #34776
@bgrant0607 AFAIK we're just talking about a change to PodDisruptionBudget.

As for what to do here -- my suggestion would be to continue to call it minAvailable, and when pods start exporting an Available condition, change the implementation of PDB to use that. Until then, we can document what minAvailable means in this context (i.e. really means ready).

The more proper thing to do, of course is

[2016-10-20 04:32] gridnow opened #35172 "ResourceQuota has no effect?"
I am testing quota by step on kubernetes1.4 :

1, create a namespace junfu15
2,create a ResourceQuota with some value specified,
3, create a lot of deployment by kubectl create -f xxx.json (spec has "resources" keyword setted)
but the quota seems no effect and all deployment created successfully:
Why?thanks.

#kubectl describe quota --namespace=junfu15
Name:		compute-resources
Namespace:	junfu15
R

[2016-10-20 04:40] davidopp commented on #34776
But I'm fine with either approach, so whichever people prefer, I say go with that.

[2016-10-20 04:40] chrislovecnm commented on #27430
I understand that some folks in the comminity would like to rename this software component. Frankly some people in the community would like to not rename it. Not having the option for voting to keep the name PetSet is not approaching this from the perspective of inclusion.  We are excluding people from the capability to vote to keep the name PetSet.  If we are a comminity we should allow all opini

[2016-10-20 04:57] chrislovecnm commented on #16132
@bgrant0607 I am currently improving how kops does rolling upgrades. Once that is mature, I could blog on it, and flip that into documentation.  Not an easy task to complete.

Does GKE have a playbook on how they perform upgrades?

[2016-10-20 05:07] bgrant0607 commented on #34776
@davidopp Changing from minAvailable to maxUnavailable isn't an option?

Anyway, calling it available but using ready for now is fine by me.

[2016-10-20 05:11] chrislovecnm opened #35173 "Flakes and e2e false positives are slowing PR velocity"
Is there an issue open that flakes and e2e tests are slowing down PR submission? I have seen PRs that have had developers ask the bot to retest four or five times.

[2016-10-20 05:14] krmayankk commented on #23211
@kargakis what does this mean ? A replica set is always identified by the pod template hash. Do you mean latest by age ? If we plan to automagically change the deployment spec to reflect the rollback, how do you suggest scenarios like @ghodss suggest should be handled, where kubectl apply is called and there will be a race between what is applied and the rolledback. Would kubectl apply be intelige

[2016-10-20 05:29] krmayankk commented on #23211
@kargakis i saw your comment on the perma failed deployments and now i understand the first part of this. Basically you mean if the current deployment spec doesnt change, the active replica set no longer has a template which matches the currently deployment deployment template. I am curious why is that assumption important for openshift ?

[2016-10-20 05:33] davidopp commented on #34776
Sorry, yes, I did not mean to imply I am opposed to maxUnavaliable. So just replace in what I wrote
minAvailable -> maxUnavailable
minReady -> maxNotReady

I agree that changing it from min to max makes sense.

[2016-10-20 05:41] #33904 closed

[2016-10-20 05:49] bprashanth commented on #27430
Clayton's kubecon talk :)

[2016-10-20 06:09] zreigz commented on #35149
I can also reproduce it when I use code from master branch. I can take a look closer what cause the problem

[2016-10-20 06:16] thockin commented on #32401
I think a sloppy-semver lib would be welcome.  To nitpick:

X.Y == X.Y.0

X.Y.Z.A > X.Y.Z, for A > 0

Something like that.  Append enough zeros to the end of the shorter set and then compare.

[2016-10-20 06:18] vklonghml commented on #34582
@ikaven1024 do you have solved the problems, could you tell me how to solve this, thks.

[2016-10-20 06:19] thockin commented on #20379
@dcbw - any bandwidth to investigate?  @freehan is on leave for a few weeks.

[2016-10-20 06:26] #35172 closed

[2016-10-20 06:26] gridnow commented on #35172
Sorry the --admission-control=ResourceQuota  should be set.

[2016-10-20 06:28] chrislovecnm commented on #27430
I am think of calling my lightening talk at kubecon - The feature formerly named PetSet.

In all seriousness it is an important question. Lots of people have been making Pets.

[2016-10-20 06:41] andronat commented on #24198
I'm trying to support the following configuration syntax to generate a patch that includes `null` values given by the user.

[code]

To achieve this we need:

- [x] Alter 3 ThreeWayMergePatch to propagate fields with `null` values to the end patch (3d7ccf4cb8fcab54a84ee77fc0a2e9ac4a7e42ea)
- [ ] Find a way to read and preserve user defined `null` values from the configuration file to Go structs (W

[2016-10-20 06:41] colemickens opened #35176 "azure disk: always times out waiting for Unmount"
**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel** (e.g. `uname -a`): Whatever is in Xenial today
- **Install tools**: Custom
- **Others**: N/a

**What happened**:
Azure Disk seems to never unmount correctly and always times out. KCM then comes along and forcibly detaches after the maxWaitForUnmountDuration

**Wha

[2016-10-20 06:45] danpaik commented on #27430
A few quick responses:

1) We are using an online voting tool with ranked-choice voting once we have the list of contenders.  Everyone can see the list of choices as well as what is winning (after they place a vote).  The link was in the original message earlier today with the initial set of vetted choices but was pulled in favor of allowing more community members to contribute more choices.

2) P

[2016-10-20 06:49] dragon9783 commented on #9473
[code]
LGTM

[2016-10-20 07:07] #31999 closed

[2016-10-20 07:18] erictune commented on #27430
i want to comment on github but github is down for me.

On Wed, Oct 19, 2016 at 11:46 PM, Dan Paik <notifications@github.com> wrote:

[2016-10-20 07:27] bryk commented on #34091
Yes, in short. But the UI would happily work if it had only read access.
The UI would crash-loop if it cannot get API version from the apiserver. This is a mechanism that is meant to help cluster admins to configure the UI correctly, because it'd crash loop until it works.

[2016-10-20 07:27] bryk commented on #34091
cc @rf232

[2016-10-20 07:31] erictune commented on #27430
When we rename petsets, I expect that alpha support will be dropped.

Kubernetes 1.4 will have apps.v1alpha1.petset.

Kubernetes 1.5 will have apps.v1beta1.otherthing.  It won't have anything called petset and it won't remember your petset objects from when you were running 1.4.

Users will need to GET and then DELETE their PetSets, edit the manifest and then upgrade their clusters to 1.5, and the

[2016-10-20 07:36] jimmycuadra commented on #27430
The only justification anyone has presented for keeping PetSet is the technical and educational cost of changing code and marketing material for a feature already being used by some people. I respect that, and think that is a very valid reason to consider not doing this, but I think the argument that not allowing people to vote for PetSet is "excluding people's opinions" is really putting energy i

[2016-10-20 07:54] erictune commented on #27430
I've followed the discussions on this and the other issue, and while there were a lot of thoughtful arguments made, it doesn't feel like we are converging.  So, further discussion doesn't make much sense.  And we have limited time for it before beta.  And I see getting to beta sooner as more valuable than having the best possible name.

Several of the arguments for various names are about how word

[2016-10-20 07:57] k8s-merge-robot opened #35178 "kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial-release-1.4/201/

Run so broken it didn't make JUnit output!

[2016-10-20 08:13] colemickens commented on #32068
Can this be closed @weherdh ?

[2016-10-20 08:21] m1093782566 opened #35179 "Refactor pkg/api/validation/validation.go to some small validations"
**WHY**

I find `pkg/api/validation/validation.go`

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go

keeps becoming more and more bigger. The reason is that all the validate functions for the core API resources are placed there.

**What**

I propose split the big file into some small ones and make a new `validation` directory under `pkg/api/{pod, service, endp

[2016-10-20 08:25] kargakis commented on #34776
+1 for maxUnavailable and for continuing with *Available but changing the docs to reflect ready

[2016-10-20 08:27] colemickens opened #35180 "azure disk: timing data"
**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel** (e.g. `uname -a`): Whatever is in Xenial today
- **Install tools**: Custom
- **Others**: N/a

**Azure Environment**:
- westus2
- Standard_D2

**TL;DR**:
- Initial pod start takes 9 minutes
- Rescheduling the pod takes 11-12 minutes due to bugs mentioned below.

**

[2016-10-20 08:34] colemickens commented on #35180
It might be interesting to preformat the VHD and see how long it takes. I suspect that `kubelet` will still make us pay an extra cost because the wait for attach will still timeout, but it won't have that 7 minute gap for `mkfs`.

[2016-10-20 08:41] floreks commented on #35076
I think it's a good idea to add this flag. As @zreigz is working on other issue then I can work on implementation.

@AdoHe @pwittrock what do you think about this? Should I go for it?

[2016-10-20 08:55] zqfan commented on #33729
if you're behind a proxy and you did nothing with docker settings but use the default, check this https://docs.docker.com/engine/admin/systemd/#http-proxy

[2016-10-20 09:05] davidopp commented on #21566
+1 -- I'm going to close this issue since I think #30302 does cover this use case. @guoshimin please re-open if you disagree. (I see you already thumbs-up'd @aveshagarwal 's comment)

[2016-10-20 09:05] lukaszo commented on #35123
Fixed in kubernetes/test-infra#880

[2016-10-20 09:05] #35123 closed

[2016-10-20 09:05] chrislovecnm opened #35182 "Upgrade Path When PetSets are renamed"
We are going to need to assess an upgrade to transition to the new object.

I do not believe that because of a name change, because of optics, we should ask users of this product to have to migrate data between datastores. This can often fail and cost a great deal of time and money.

Deleting a PetSet may not be acceptable to users of this product.

[2016-10-20 09:09] chrislovecnm commented on #27430
@erictune issue is openned for PetSet transition / upgrade path. https://github.com/kubernetes/kubernetes/issues/35182

Our users will need a path to migrate to the new objects, without downtime.

[2016-10-20 09:10] #34769 closed

[2016-10-20 09:10] #35086 closed

[2016-10-20 09:24] hectorj2f opened #35183 "Pod or Job lifecycle lacks of a mechanism to define cleanup actions once you delete a pod"
Our user story for a FEATURE REQUEST is the following: we have been developing distributed applications using systemd during long time. To coordinate them, we used fleet as distributed system to manage them all in our infra. However, we decided to move all our systems to Kubernetes since several months.

Regardless of all the amazing features you can find in Kubernetes when defining applications.

[2016-10-20 09:37] hjacobs commented on #19754
This does not seem to work for AWS right now as the "aws" cloudprovider fills `Ingress.Hostname` and the iptables code in `proxier.go` uses `svcInfo.loadBalancerStatus.Ingress.IP`.

[2016-10-20 09:41] SamiHiltunen opened #35185 "Unable to use commas in --from-literal when creating secrets"
Same issue as in #27454 but for secrets. It is not currently possible the use commas in `--from-literal` value when creating secrets.

Failing example command:
`kubectl create secret generic service-credentials --from-literal="password=h!ghly,Complic@ted"`
Output:
`error: invalid literal source Complicated, expected key=value`

We most likely want the same behavior here as with the config maps, I'

[2016-10-20 09:42] soltysh commented on #34910
This looks like a GKE problem, tackled in #33380. I don't see anything wrong with SJ here.

[2016-10-20 09:42] #34910 closed

[2016-10-20 09:42] xilabao opened #35186 "Working with HTTP Proxies"
Is there a way to set http_proxy to api-server?
such as add some configs to api-server
[code]
Reference to [openshift http proxies](https://docs.openshift.com/enterprise/3.0/admin_guide/http_proxies.html)

[2016-10-20 09:46] hjacobs opened #35187 "AWS: service.alpha.kubernetes.io/external-traffic: OnlyLocal not working with ELB (a.k.a. "preserve source IP")"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version**: 1.4.0

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS
- **Kernel** (e.g. `uname -a`): 4.7.0-coreos

**What happened**:

Trying out the alpha "preserve source IP" feature (see #19754 and http://kubernetes.io/docs/user-guide/load-balancer/) whic

[2016-10-20 09:47] zreigz commented on #35149
The problem starts here: https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/scheme.go#L515

The returned object looks like this:
[code]
Few lines later
[code]

The method returns wrong value of GroupVersionKind because in method https://github.com/kubernetes/kubernetes/blob/master/pkg/api/unversioned/group_version.go#L271 there are two possible `targets` and function `bestMatch` retu

[2016-10-20 09:49] bboreham commented on #30681
I think the minimum CNI version required is 0.2.0, since that's when the `lo` plugin was added.

Have included this with https://github.com/kubernetes/kubernetes.github.io/pull/1516

I also want to reference #25062 which I think is the first place this requirement came from.

[2016-10-20 09:56] kargakis commented on #23211
@krmayankk I didn't mention anywhere that the assumption is important for OpenShift.

I don't think kubectl apply should have any logic specific to deployments or any other resource for that matter. The declarative model is already "broken" with the way d.spec.rollback **currently** works...

[2016-10-20 09:59] bogdando opened #35188 "kubadm support/document multiple master init/join steps"
FEATURE REQUEST:
What is steps to bootstrap a K8s cluster with two masters? Please document that.
If it is yet possible, this should be supported.

[2016-10-20 10:02] Tapuzi opened #35189 "Automatic service env-var names can collide with apps"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.4", GitCommit:"dd6b458ef8dbf24aff55795baa68f83383c9b3a9", GitTreeState:"clean", BuildDate:"2016-08-01T16:45:16Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.4+coreos.0", GitCommit:"be9bf3e842a90537e4

[2016-10-20 10:04] bogdando opened #35190 "kubeadm param to support custom container images for kube-apiserver et al"
FEATURE REQUEST:
Allow users to specify custom images, like hyperkube for the kubeadm init.
By default it uses the gcr.io/google_containers/kube-controller-manager-amd64:v1.4.0 and so on.

[2016-10-20 10:07] davidopp commented on #30586
cordon and drain don't make the node not-ready so I don't think that will work

I like the general idea but I'm not sure about the solution. Maybe kubectl could publish an event? Downside is it would be transient.

cc/ @mml who might have a good idea here

[2016-10-20 10:08] soltysh commented on #30243
@diegodelemos you're open to submit a patch with an appropriate fix at any time :)

[2016-10-20 10:08] hjacobs commented on #30518
Having support for Application Load Balancer (ALB) could also solve #35187:

* register every pod in the ALB (own node port for each) --- this is not possible with Classic ELB
* forward the pod's node port to the pod (i.e. one iptables rule per pod)

=> We avoid one extra hop, preserve the source IP and avoid non-free cross-AZ data transfer (0.01 USD per GB)

[2016-10-20 10:13] lukemarsden commented on #35133
Thank you for this @bogdando! We definitely want to make `kubeadm` support your use-case in kargo. We have just merged support for [kubeadm init to read config from a file](https://github.com/kubernetes/kubernetes/pull/34501) which will make it easier to add this level of granular control without making the user-facing CLI totally insane. I'll add discussion of this topic to the next SIG-cluster-l

[2016-10-20 10:17] kargakis commented on #30586
I was thinking of a new condition with type="Cordoned" or something and the message would include why the node is cordoned.

[2016-10-20 10:18] zreigz commented on #30586
The events are generated for cordon/uncordon
[code]

[2016-10-20 10:20] zreigz commented on #30586
Form me new condition type seems to be reasonable

[2016-10-20 10:28] so0k commented on #29166
same issue here
[code]

[2016-10-20 10:31] bogdando commented on #35133
@lukemarsden thank you, I will

[2016-10-20 10:36] blurrcat commented on #28999
@sp-joseluis-ledesma how did you provision the cluster? I'm experiencing the same problem and I'm using kube_aws. Can that be the problem?

[2016-10-20 10:44] zreigz commented on #30586
I've made necessary changes. You can review my PR https://github.com/kubernetes/kubernetes/pull/35113

[2016-10-20 11:31] ikester commented on #27430
Dan,

On #2, how about adding an option for “Do not change” instead? Maybe slightly less biased. I’m not a professional pollster or statistician, but if someone knows one it wouldn’t be a bad idea to consult them.

Ike

[2016-10-20 11:39] hach-que opened #35195 "Disabling standard output for container logging on GCP"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** Logging

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

With the announcement of the new Stackdriver pricing, it's important to be able to reduce the amount of logs that Kubernetes automatically ships to Stackdriver Logging, without requiring changes t

[2016-10-20 11:43] deads2k commented on #35159
I'm still more concerned about silently dropping fields we don't know about than I am about the conversion cost, particularly since that is getting amortized over all controllers (shared informers) and I was actually well convinced of the idea of an unsafe cast where safe.

Using external clients in controllers gives the appearance of resolving the field stomping problem without actually addressin

[2016-10-20 11:45] #34782 closed

[2016-10-20 11:56] errordeveloper commented on #34949
It is possible to enable kubenet.

If you take a look at `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`, you will see:
[code]
So this means that you can do the following:
[code]
I haven't tested this, but it should work in theory.

[2016-10-20 12:08] dgoodwin commented on #34884
I did some manual testing with latest unstable rpms, bring up cluster and join nodes, everything working as expected on CentOS 7.

[2016-10-20 12:13] wallverb commented on #27430
Umm, all those changes that that kubernetes team and users of this feature will need to do (huge amount of time and money) is *putting energy into the wrong place* in my opinion.

Correct - conducting a poll should be to determine if the name should stay or not - not including *PetSet* or *Do not change anything* option is *WRONG*. Let the people vote if they want to invest time and money to do th

[2016-10-20 12:23] rootfs commented on #35176
@colemickens do you see any `DeviceOpened` failure in the kubelet log?

[2016-10-20 12:26] jayunit100 commented on #35168
As of now, i think we leaned towards
- putting the precomputations as attachments to the predicates,
- re-running precomputations inside the predicate evaluation if there is missing info

1) is that the standard for all predicates
2) can that be abstracted into a predicate interface of some sort?

[2016-10-20 12:26] k8s-merge-robot opened #35197 "[k8s.io] kubelet [k8s.io] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster/140/

Failed: [k8s.io] kubelet [k8s.io] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s. {Kubernetes e2e suite}

[code]

Previous issues for this test: #28106

[2016-10-20 12:28] coffeepac commented on #28999
@blurrcat hello!  I tried to chase this down and got nowhere. Do you mind doing a quick write-up of both how you provisioned the cluster (I'm not familiar with kube_aws so any specific flags or custom configs) and what version of kubernetes you are running?

[2016-10-20 12:31] errordeveloper commented on #34884
I think @pires has done fair amount of testing also, I'll re-test on Ubuntu and ping back once done.

[2016-10-20 12:54] rootfs commented on #35180
@colemickens nice detective work! I'll port the unmount patch and try it on azure disk. Still puzzled about mkfs timeout, might be something in mkfs itself (why it uses sync I/O), will read its source.

[2016-10-20 12:58] wojtek-t commented on #35168
Re 1) - yes, I believe this is what we are doing for all predicates now.

[2016-10-20 13:05] sp-joseluis-ledesma commented on #28999
Sorry, didn't have time to test it. I used kube-up.sh script with the following environment vars:
`
export KUBERNETES_PROVIDER=aws
export release=v1.3.0
export release_url=https://storage.googleapis.com/kubernetes-release/release/${release}/kubernetes.tar.gz

export KUBE_AWS_INSTANCE_PREFIX="lab-k8s"
export KUBE_OS_DISTRIBUTION=wily
export KUBE_AWS_ZONE=us-east-1a
export AWS_S3_REGION=us-east-1
ex

[2016-10-20 13:08] wojtek-t opened #35198 "Allocating memory in apiserver from time to time takes a lot"
Background: I'm trying to debug long api-calls of "LIST nodes".

Since most of the calls listing nodes don't set any selector, as an optimization for this case yesterday I added explicit memory allocation for that case in cacher in:
https://github.com/kubernetes/kubernetes/pull/35125

As a side effect, in our traces we see how long it takes.

And indeed - in large clusters this memory allocation i

[2016-10-20 13:11] TaiSHiNet commented on #28174
@jkemp101 is right, this worked.
Also this should be documented somewhere

[2016-10-20 13:11] piosz commented on #33775
@Crassirostris offered to help. Thanks!

[2016-10-20 13:14] jayunit100 commented on #20064
w/ annotations dying, is this still a valid approach?

[2016-10-20 13:21] wojtek-t commented on #35198
@bradfitz - if you have any suggestions

[2016-10-20 13:30] wojtek-t opened #35201 "Logs from components in timed-out runs are not gathered"
When some test suite is timing out, we don't have any logs. Examples:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/4000/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/4016/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/4036/

If you look into artifacts/ directory in

[2016-10-20 13:58] eparis commented on #20379
no matter what @dcbw says, he's busy until at least next week.....

[2016-10-20 14:02] soltysh commented on #28977
Yes, which is quite painful in case of ScheduledJobs firing every minute or so.

All of your suggestions sounds ok, I'll add them to the SJ feature so that it's covered before migrating SJ to beta.

[2016-10-20 14:08] soltysh commented on #35007
For a lot of new objects selector will be automatically generated by the controller, this applies to jobs, scheduled jobs, for sure. One of the reasons was to ensure selector uniqueness. Users can add their own, if the wish, though.

[2016-10-20 14:09] soltysh commented on #35007
That should be reflected here somehow, as well.

[2016-10-20 14:12] gajju26 commented on #34328
Hi luxas,

I see that the Kubernetes has been upgraded to Go1.7.1 and I am also ready with my changes.  I see one problem in the Docker file (https://github.com/kubernetes/kubernetes/blob/master/build/build-image/cross/Dockerfile). This Docker file is adding "deb http://emdebian.org/tools/debian/ jessie main" repository for cross compiling tool chains for architectures armel/arm64/ppc64el but this

[2016-10-20 14:18] soltysh commented on #35149
I'll look into it, I've solved similar problem with edit.

[2016-10-20 14:29] enieuw commented on #34101
I run a similar setup based on CoreOS boxes(two nics, eth0 nat and eth1 private) on Vagrant. I had to make two changes to get the networking to work:
- Set the --node-ip on each kubelet process to the private network ip for each node
- Enable masquerading on the proxy to respond over the correct interface(--masquerade-all)

[2016-10-20 14:40] ddysher commented on #28452
@vishh is there any updates on custom metrics?

[2016-10-20 14:54] rootfs commented on #35180
@colemickens I see mkfs ext4 is slow, but xfs is not. Do you have a chance to try xfs?

In the mean time, I'll post my mkfs.ext4 investigation in #30752

[2016-10-20 15:13] deads2k commented on #35162
Also, since a server knows its source and destination, why do we care if "extra" group versions are registered.  API enablement happens separately.

[2016-10-20 15:14] #33895 closed

[2016-10-20 15:16] deads2k commented on #35007
Doing this seems to defeat the purpose of the selector.  If you just want a straight ref, why not use a straight ref?

[2016-10-20 15:16] liggitt commented on #35162
agree, registration of extra groups should not matter.

[2016-10-20 15:21] fgrzadkowski commented on #22609
This problem came up when discussing HA master design. This made me think that maybe there's a better solution. As you say we should be using a TTL for each IP. What we can do is:

1. In the Endpoints object annotations we'd keep a TTL for each IP. Each annotation would keep a pair with an IP, that it corresponds to, and a TTL
2. Each apiserver when updating service kubernetes will do two things:

[2016-10-20 15:27] ncdc commented on #22609
@fgrzadkowski that's essentially what we're doing in OpenShift [here](https://github.com/openshift/origin/blob/b02e73f77d74f7b842a85bb819cb31391eb139d9/pkg/cmd/server/election/lease_endpoint_reconciler.go), although we use a separate path in etcd to store the data, instead of using the existing endpoints path.

[2016-10-20 15:30] yujuhong opened #35207 "kubelet leaking http2serverConn.readFrames goroutines in the gke soak clusters"
Forking from https://github.com/kubernetes/kubernetes/issues/30175#issuecomment-254983912

In kubernetes-soak-continuous-e2e-gke, the kubelet memory usage continued going up
I checked one of the nodes `gke-jenkins-e2e-default-pool-5cd34bf0-vuqp`, and there were over 4000 goroutines (and increasing) in kubelet.
The same applies to the  kubernetes-soak-continuous-e2e-gke-gci nodes.

The version of k

[2016-10-20 15:30] kargakis commented on #35126
Users of the client cannot get the status code from the result since it's unexported. Digging into the client lib I found `WasCreated` (which doesn't seem to be used anywhere btw) :
[code]
It seems that we need a generic `HasStatusCode` that would look like:
[code]
Thoughts?

[2016-10-20 15:33] wojtek-t commented on #35207
@smarterclayton

[2016-10-20 15:34] timothysc commented on #35207
Nope this is new.

[2016-10-20 15:41] fgrzadkowski commented on #22609
Do you think that baking the logic I described above into apiserver [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/master/controller.go#L281) would make sense?

@roberthbailey @jszczepkowski @lavalamp @krousey @nikhiljindal

[2016-10-20 15:42] timothysc commented on #35207
Just for clarity, that flake was occurring since Aug 6th which was well before we enabled http2.

I wonder if there is some issue inside of the client tooling.  /cc @kubernetes/sig-api-machinery

[2016-10-20 15:44] yujuhong commented on #35197
Most pods failed the `MatchNodeSelector` predicate.

@wojtek-t do you mind taking a look since you modified the test to run in a large-cluster?

[2016-10-20 15:46] yujuhong commented on #35207
@timothysc the test was flaking since Aug 6th because of some other reasons (docker leaking memory, a known issue). I didn't trace all the test failures, but I believe this is relatively recent.

[2016-10-20 15:51] smarterclayton commented on #35207
Maybe *this* is the TLS deadlock?  :)  Joking.

[2016-10-20 15:54] coffeepac commented on #28999
thanks @sp-joseluis-ledesma have you seen this issue show up in any later versions of kubernetes?  1.3 is up to 1.3.7 and 1.4 is GA

[2016-10-20 15:57] mtaufen commented on #26134
Downgrading this back to P1, flakes very infrequently. It flaked 4 days ago, but the last flake before that was almost two months ago (Sept 2).

[2016-10-20 16:10] mtaufen commented on #33730
Last two flakes were almost two weeks apart. Downgrading to P1.

[2016-10-20 16:13] smarterclayton commented on #35126
Just allow the status code to be accessed.

On Thu, Oct 20, 2016 at 11:30 AM, Michail Kargakis <notifications@github.com

[2016-10-20 16:18] Starefossen commented on #34884
@mikedanese thanks mate!

Just fyi, do a `sudo yum clean metadata` before upgrade to make the `unstable` channel kick in.

[2016-10-20 16:25] dchen1107 commented on #35207
@dashpole Could you take a look at this one?

@yujuhong mentioned that the issue only occur to gke cluster, not gce. I also quickly checked gke 1.4 soaking cluster, and didn't see the same issue. It looks like a new regression. Thanks!

[2016-10-20 16:33] mtaufen commented on #33827
@saad-ali looks like the expected data just ain't there.

[2016-10-20 16:37] chrislovecnm commented on #35182
cc: @smarterclayton @bprashanth @erictune - you can assign me to help to flush this out, but it is going to take a guru of the feature formally know as PetSets to implement.

[2016-10-20 16:40] chrislovecnm commented on #27430
@danpaik who can handle a PR on the questions that I have raised here:

I opened a PR on upgrades, and non-breaking changes, someone else needs to run with this one.  There are both education and marketing problems that we are creating.  We are creating technical debt for companies that have already used this tool.

[2016-10-20 16:42] rootfs commented on #30752
it seems only the hit only happened to ext4, xfs didn't have this problem.

[2016-10-20 16:43] JeanMertz opened #35213 "kubectl exec escape sequence (tilde-dot)"
As a big user of `kubectl exec` _and_ a big commuter to and from work, I often am in situations where I have some `exec` instance open, but the connection is flaky.

When that happens, I _know_ that the connection will eventually timeout, but until then, that terminal window has become useless.

ssh has a nice `~.` (tilde-dot) escape sequence that instantly terminates the connection in those situa

[2016-10-20 16:50] spxtr commented on #35201
It's a dupe of https://github.com/kubernetes/test-infra/issues/79. I was hoping that we can add a timeout to `bootstrap.py`, or else we should add a timeout to individual steps in `hack/e2e.go`.

[2016-10-20 16:50] Starefossen commented on #34884
I am getting the following error from my `kube-dns` with new `kubeadm`:

[code]

[2016-10-20 16:54] bprashanth commented on #35182
We've already established the risk of relying on alpha objects: https://github.com/kubernetes/kubernetes/blob/release-1.4/docs/devel/api_changes.md#alpha-beta-and-stable-versions

I'm largely in agreement with: https://github.com/kubernetes/kubernetes/issues/27430#issuecomment-254994122, https://github.com/kubernetes/kubernetes/issues/27430#issuecomment-255030366

If you just upgrade blindly, the

[2016-10-20 16:58] chrislovecnm commented on #35182
@bprashanth I understand, but when we are talking big data, this can get evil really fast.  I am not saying that this will be easy, or "officially supported", but we need to come up with a solution that is clean.

[2016-10-20 17:00] pswenson commented on #34720
I have the same issue.... trying to debug now

[2016-10-20 17:01] justinsb commented on #27430
Surely whoever writes the PR should choose the new name?  It's thankless work, so the person that writes the PR should at least have that reward :-)

[2016-10-20 17:01] caesarxuchao commented on #28977
User doc on server-side garbage collection: http://kubernetes.io/docs/user-guide/garbage-collection/

@soltysh please loop me in if you want to add ownerReferences for pods created by jobs.

[2016-10-20 17:07] yujuhong opened #35214 "kubelet failed to create "/system" cgroup"
On a debian-based containervm node, kubelet no long creates the "/system" cgroup and moves processes into it.

From kubelet.log:

[code]

/cc @kubernetes/sig-node

[2016-10-20 17:17] katcipis commented on #16047
+1

[2016-10-20 17:20] timstclair commented on #24070
/cc @sttts This is related to the issue you raised on the CRI streaming proposal.

[2016-10-20 17:25] pnzrdrgoon commented on #33956
I also get this error after running the cleanup script and rebooting:

<master/tokens> generated token: "633870.1a0e6f38275e0dad"
error: <master/tokens> failed to create directory "/etc/kubernetes/pki" [mkdir /etc/kubernetes: permission denied]
[modiadmin@wwqa-qi-build ~]$ sudo su
[root@wwqa-qi-build modiadmin]# kubeadm init
<master/tokens> generated token: "8f5b7f.0a95d8cbd01a6ed7"
<master/pki> c

[2016-10-20 17:36] saad-ali commented on #33827
@jingxu97 investigated and discovered (https://github.com/kubernetes/kubernetes/issues/28081#issuecomment-251508603) which appears to indicate that these flakes are caused by kubectl exec. Tracking issue in #34256. There is also a PR out to add retries to work around this bug: https://github.com/kubernetes/kubernetes/pull/34570

[2016-10-20 17:36] pnzrdrgoon commented on #33956
A fix I had for this issue was that I had installed docker-engine instead of docker:

yum remove docker-engine
yum remove docker-engine-selinux
yum install -y docker
then run the cleanup script as is

[2016-10-20 17:36] ncdc commented on #24070
Strictly speaking, the kubelet does create + start. The kubectl client does attach, but it has to wait to see the pod running first, which means the kubelet has to see the container running, then update the pod status with the apiserver.

[2016-10-20 17:38] yujuhong commented on #35214
By the way, we have poor to no test coverage on *features* like this.

[2016-10-20 17:39] danpaik commented on #27430
The current list is.  Please let me know if you'd like to suggest another name.

StatefulSet
StatefulArray
Stateful
StatefulApp
PersistentInstanceSet
PersistentInstanceArray
IdentitySet
NominalSet
RoleSet

[2016-10-20 17:42] mtaufen commented on #33827
Ah these are the same as that, perfect, thanks @saad-ali

[2016-10-20 17:49] caesarxuchao commented on #35159
@deads2k, moving to versioned (or in your term "external") clients will NOT solve the field stomping problem. Adding a new field can be a compatible API change that does not increase API version, so API versions does not prevent an old client dropping the new field. Could you point me to @lavalamp's proposal?

[2016-10-20 17:53] smarterclayton commented on #35182
I don't think the machinery is so bad that we can't consider it.  We should at least have a discussion about it in the next sig-apps.

[2016-10-20 17:54] liggitt commented on #35159
at least with the current structure, we know that for a given build, all the controllers agree with the api server on the latest version of things. it sounds like this could result in a mish-mash of different controllers coded against different client versions in the same build.

[2016-10-20 18:01] caesarxuchao commented on #35159
@liggitt a version of client-go only supports one version of clientset, and a clientset includes only one version of each group of API, so currently we won't have the problem you described.

[2016-10-20 18:02] chrislovecnm commented on #35182
@smarterclayton yes, thank-you.  Who is the PM who would manage the priority on this?

[2016-10-20 18:02] bgrant0607 commented on #27430
@danpaik Synopsis of PetSet for vote:

PetSet is a Kubernetes API resource type intended to facilitate deployment and management of stateful applications (e.g., databases, key-value stores) and other workloads that require distinct, stable network identities and/or storage for each instance:
http://kubernetes.io/docs/user-guide/petset/

What primarily distinguishes PetSet from other workload-manag

[2016-10-20 18:04] dchen1107 commented on #34965
@AdoHe Thanks for the suggestion of using go-systemd instead of directly invoke journalctl in cAdvisor to parse kernel's oom event. That is less error prone in my opinion. We are going to get your pr merged for 1.5 release. Thanks!

Back to this particular issue, we should retire this piece of code in cAdvisor eventually once node-problem-detector is deployed to most clusters. If we couldn't retir

[2016-10-20 18:05] deads2k commented on #35159
https://github.com/kubernetes/kubernetes/issues/34508#issuecomment-253283959 item 2.

[2016-10-20 18:09] caesarxuchao commented on #35159
Thanks @deads2k. Still, I think moving to client-go will be parallel to that effort.

[2016-10-20 18:12] liggitt commented on #35159
one apiVersion (e.g. "v1") or one released version (e.g. "client-go-1.4.0")?

if all controllers have to move to a new version together, what is the benefit of making them speak an external version, rather than an internal version?

how will we support upgrades where we want one controller to speak to a new API in a new version (like scheduledjobs in batch/v2alpha1), but existing controllers still

[2016-10-20 18:15] euank commented on #34965
I think setting `KillMode=control-group` is a good workaround for now.

I think that both node-problem-detector and cadvisor (if it keeps doing oom stuff) shouldn't be using go-systemd or journald. Rather, parsing `/dev/kmsg` seems like the right way to do this.

To parse `/dev/kmsg` and get times though, we'll want a syslog format parser, so it adds some complexity there, but at least it'll let u

[2016-10-20 18:19] dashpole commented on #35207
This may be obvious, but:
net/http.(*http2serverConn).serve    calls    net/http.(*http2serverConn).readFrames.  So whatever is leaking goroutines is calling one of (from net/http):
func (srv *Server) Serve(l net.Listener) error
func Serve(l net.Listener, handler Handler) error
func (srv *Server) ListenAndServe()
func ListenAndServe(addr string, handler Handler) error
func (srv *Server) ListenAndS

[2016-10-20 18:21] thekantian commented on #29166
We're also seeing the same issue after upgrading to 1.4.3 on GKE.

Pods with persistent volumes (referenced directly as GCEPersistentDisk) don't start. The disks that need to be mounted are not attached to any hosts, so i'm not sure why the nodes aren't trying to mount the right disks here. This has only been about 10 minutes, so will wait and see if any timeouts come into play to start the mount

[2016-10-20 18:21] ixdy commented on #23130
Is this still true for kubectl 1.4.3?

[2016-10-20 18:22] mtaufen commented on #34654
@yujuhong @karagakis should we suspect the same image-prepull-related flake as in https://github.com/kubernetes/kubernetes/issues/28067?

[2016-10-20 18:23] dashpole commented on #35207
The other stack traces that call one of these functions originate at:
pkg/kubelet/cadvisor/cadvisor_linux.go:148
pkg/kubelet/server/server.go:127
cmd/kubelet/app/server.go:447

[2016-10-20 18:25] bprashanth commented on #35182
Your upgrade script is basically:
[code]

Autoconverting still seems like a weird choice of upgrade strategy. There is comfort in alpha meaning "things might break", take that away and we might as well go straight to beta.

[2016-10-20 18:28] timstclair commented on #35207
Are connections being left open, or only go routines? It wouldn't surprise me if this was related to the streaming functions (exec/attach/port-forward).

[2016-10-20 18:28] caesarxuchao commented on #35159
One apiVersion each group.

This almost convinced me we should support multiple apiVersions of a group in a clientset.

Then what do you mean by client versions here? If it means apiVersions, does it contradict to your other question?

I thought we upgrade controllers and api-server at the same time?

[2016-10-20 18:30] chrislovecnm commented on #27430
@danpaik / @aronchick / @bgrant0607  who is the PM who manages priorities with PetSets from the google side of the house?  I know @erictune is in the middle of this, but I am not sure who are the full list of owners.  Who at a product owner level owns this, and where is this work listed for this?  Are we talking about 1.5 a timeframe or beta timeframe?  When is 1.5?

I would say that we need to up

[2016-10-20 18:32] justinsb commented on #27430
@danpaik did we lose PersistentSet deliberately?

Also, I think _not_ including PetSet as a choice risks prolonging this.  If we want to change the name soon, we should not exclude the option.

[2016-10-20 18:33] chrislovecnm commented on #35182
One word for you, SLA.  I have 5 9's now, and probably moving to 6 or 7.  I cannot live with the downtime.  There are business and optics risks with this are a really really big.

[2016-10-20 18:37] ixdy commented on #35178
It did produce JUnit. Failure is #32214.

[2016-10-20 18:37] #35178 closed

[2016-10-20 18:37] ixdy commented on #34675
Closing for now. If we get a new verify-master failure please assign it to me.

[2016-10-20 18:37] #34675 closed

[2016-10-20 18:43] derekwaynecarr commented on #35214
isnt that running systemd?  you shouldn't do any of this anymore on systemd nodes.

[2016-10-20 18:44] thekantian commented on #29166
As an update to the above, over the last 20 minutes 3/4 pods have mounted volumes and started successfully. I'll keep waiting on the 4th, but note that there does not seem to be any correlation with node creation times of the nodes the pods are scheduled on and the order in which they have started.

@saad-ali I'm wondering if there are any manual steps for this issue which could force the volumes

[2016-10-20 18:46] dashpole commented on #35207
Looks like connections are being left open.  We have around 2k goroutines that are in the middle of serve(), and around 2k open connections.  They are all on localhost:10250

[2016-10-20 18:48] MrHohn opened #35222 "Need to support --dry-run for kubectl apply --prune"
`--dry-run` is not acting properly with `kubectl apply --prune`, reproduction as below:

[code]

After the second command, service "my-nginx-1" actually got pruned. IIUC, `prune` should be also included by `dry-run`?

PS: "svc-nginx-1.yaml" and "svc-nginx-2.yaml" each contains one service with `test: "true"` label. Services' names are different.

[2016-10-20 18:50] yujuhong commented on #35214
@derekwaynecarr there are two bugs (I didn't include enough information in the original issue):
 1. From what I observed, kubelet still tries to create this on the new GCI image (with non-init systemd), and fails repeatedly. Kubelet should not try to create this at all.
 2. On the old debian-based container vm image (i.e., no systemd) kubelet should create this cgroup, but it fails to do so.

[2016-10-20 18:55] yujuhong commented on #34654
@mtaufen yes, it looks like the image pulling was slower than usual in the one test failure I checked.
[code]
The test timed out around 11:40, after that, kubelet finally finised pulling `"gcr.io/google_containers/nginx-slim:0.7` for the pod.

Quoting myself from earlier:  "GKE uses a serialized image puller and doesn't have image prepulling enabled yet"
If this only happens on a few specific, dep

[2016-10-20 18:58] bprashanth commented on #34125
So I think tldr from offline discussion is: expose a `/metrics` endpoint with the required metrics in prometheus format (https://prometheus.io/docs/instrumenting/exposition_formats/) from clusteraddons/static-pods and this will just work when the final solution is out. @piosz correct me if I'm wrong. If not I'll fork off into bugs for kube-proxy and kube-dns.

[2016-10-20 19:00] bowei commented on #32551
Some notes on reproducing the behavior, as the behavior of the Linux NAT logic seems to be  conditional on the flags present in the packet itself:

On the *node*, set the CLOSE_WAIT timeout to something small:
[code]

Connect to the metadata server from within the *pod*, and hold on to the socket:
[code]

Wait for the conntrack entry to expire (it will be in CLOSE_WAIT).

Now if we close the socke

[2016-10-20 19:11] thekantian commented on #29166
As a further update, it seems that deleting the pod which failed to start until it reschedules on another node was successful in getting the volume to mount and the pod to start. Would love to know if there is a better way here, or any other debugging steps which might be useful.

[2016-10-20 19:15] k8s-merge-robot opened #35225 "[k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should handle updates to source ip annotation [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/742/

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should handle updates to source ip annotation [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

[2016-10-20 19:32] smarterclayton opened #35226 "Proposal: Establish guidelines for where commands should go"
There's been some recent discussion prompted by the addition of `kubeadm` and how `kubectl` will evolve w.r.t. which commands belong where.
### Questions to answer:
1. What commands and features should we put under `kubectl`?  Under `kubeadm`?
2. Federation wants to add commands to register a new cluster and create a new cluster on top of an existing cluster - should they do that in `kubectl`, `ku

[2016-10-20 19:33] MikeSpreitzer commented on #27430
Yes, "Persistent.." is shorter than "PersistentInstance..", please include it.

[2016-10-20 19:39] smarterclayton commented on #35226
@kubernetes/kubectl @kubernetes/sig-cli @kubernetes/sig-cluster-lifecycle @kubernetes/sig-cluster-federation @bgrant0607

Spawned by https://github.com/kubernetes/kubernetes/pull/34484 and previous discussions about where commands should go and who is impacted.

I'd like to get opinions here quickly so we can unblock #34484. Since this crosses several sigs we all need to agree so as to be aligned.

[2016-10-20 19:40] Cocotton commented on #16047
+1

[2016-10-20 19:46] germansosa opened #35228 "When OutOfDisk daemonset pods are deleted from node"
When a node reach OutOfDisk state, running pods from all daemonsets are deleted from node, this is a big problem when we have critial pods running in daemonsets, like network agents, ingress controllers or log collectors.

State of daemonset before OutOfDisk in node:

[code]

After OutOfDisk:

[code]

**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**:

[2016-10-20 19:52] kvchampa opened #35229 "Kubernetes v1.4.3 master deployed 135 nodes, after that the master node inaccessible."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Kubernetes deployed nodes limitation.

---

**Is this a BUG REPORT or FEATURE REQUES

[2016-10-20 19:58] davidopp commented on #20064
I've lost track of the status (pardon the pun) of this issue, but I think it wouldn't be unreasonable to use an alpha field instead of an annotation, if people wanted to do that. The one PR that has been done for this feature (see upthread) doesn't use annotations or field, anyway.

[2016-10-20 19:58] spxtr commented on #35225
#33957

The test is just broken.

[2016-10-20 20:10] timstclair commented on #35207
Take a look at the API server. If the streaming connections are being left open, there might be a lot of go routines here: https://github.com/kubernetes/kubernetes/blob/c04aec34628c9c9c06d95906bd537a7b1d4ef037/pkg/registry/generic/rest/proxy.go#L184

[2016-10-20 20:11] mml commented on #30586
Assigning to myself just to mark that this issue is not 'unassigned'

[2016-10-20 20:15] pwittrock commented on #35076
cc @fabianofranz

[2016-10-20 20:21] bgrant0607 commented on #35226
Considerations:
* Coherence for target users and command discoverability
* Used interactively, programmatically (including by the system itself), or both
* Universality (does it work for all K8s clusters)
* Contributor workflow (do the same sets of contributors work on the commands)

I want to see an ecosystem of tools develop, so I think that fostering a culture of monolithic tools is the wrong d

[2016-10-20 20:25] danpaik commented on #27430
1.5 code freeze is in 3 weeks (11/7) with the launch planned for December.

I'm in the PM for Petsets on the Google side working with @erictune.

PersistentSet was changed to PersistentInstanceSet because PersistentSet is too general and can be confused with PersistentVolumes so "Instance" was added to remove some of the confusion.

It does get to be harder and harder to change as time goes on so

[2016-10-20 20:27] kerneltime commented on #29783
The latest code in master in release-1.4 does not have this issue. This issue should be closed.

[2016-10-20 20:28] kerneltime commented on #27947
Proposing to close this issue

[2016-10-20 20:31] kerneltime commented on #34364
@kokhang This issue should be addressed more widely for fault handling model for cloud provider backends? The title for the issue though applicable to vSphere limits the scope of the issue..

[2016-10-20 20:33] kerneltime commented on #30254
@abrarshivani can you link to the updated documents here?

[2016-10-20 20:39] ixdy commented on #30600
Implied but missing from my list: community feedback and acceptance. Probably step 2 or 3.

[2016-10-20 20:44] kerneltime commented on #34248
This looks to be the same as #31310 posting a PR shortly.

[2016-10-20 20:52] taylorsmcclure commented on #34702
+1 Same issue and stack trace it appears

Tested on hyperkube 1.4.3, 1.4.4-beta.0, 1.5.0-alpha.1

[code]

[2016-10-20 21:10] erictune commented on #35182
We can make the upgrade script be something like:
[code]

Who test this approach and work on this tool?

[2016-10-20 21:14] erictune commented on #35182
@chrislovecnm

In terms of availability:  The pods of the PetSet will not stop running during this procedure, unless there is a node failure.  If there is a node failure during the, say, hour that this procedure takes, then a replacement pod won't be made.  What that means in terms of application availability depending on your app. If it can tolerate one pod failure and you get one pod failure, yo

[2016-10-20 21:17] aronchick commented on #27430
@danpaik is PM on the issue from Google, but, to be clear, this is a community and he/I/everyone here is just voting. We (at Google) don't "own" anything. We're just trying to close before 1.5.

[2016-10-20 21:18] erictune commented on #35182
@janetkuo

[2016-10-20 21:25] pwittrock opened #35234 "kubectl apply umbrella issue tracker"

[2016-10-20 21:30] dashpole commented on #35207
This is in the API server logs:

goroutine 14733771 [running]:
k8s.io/kubernetes/pkg/httplog.(*respLogger).recordStatus(0xc83d6a6000, 0x1f4)
        /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/httplog/log.go:219 +0xa3
k8s.io/kubernetes/pkg/httplog.(*respLogger).WriteHeader(0xc83d6a6000, 0x1f4)
        /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernet

[2016-10-20 21:35] pwittrock commented on #15894
FYI I moved the issue tracking list to #35234 because I found that when I edit the description of this issue it appears as coming from @bgrant0607 which was surprising to me and not my intention.

[2016-10-20 21:39] dashpole commented on #35207
And I see this one as well.  Both errors seem to occur about every hour or so.
goroutine 14927370 [running]:
k8s.io/kubernetes/pkg/httplog.(*respLogger).recordStatus(0xc82623a540, 0x1f7)
        /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/httplog/log.go:219 +0xa3
k8s.io/kubernetes/pkg/httplog.(*respLogger).WriteHeader(0xc82623a540, 0x1f7)
        /go/src/k8s.io/kubern

[2016-10-20 21:40] danpaik commented on #27430
Here is the latest:

PetSet is a Kubernetes API resource type intended to facilitate deployment and management of stateful applications (e.g., databases, key-value stores) and other workloads that require distinct, stable network identities and/or storage for each instance:
http://kubernetes.io/docs/user-guide/petset/

What primarily distinguishes PetSet from other workload-management APIs in Kube

[2016-10-20 21:41] caesarxuchao commented on #35159
According to the current [design](https://github.com/fgrzadkowski/kubernetes/blob/038418fb14568bfda8e334ae315501c5ea504e0a/docs/design/ha_master.md#upgrades), controller only talks to the local api server, so it's not a problem:
[code]

[2016-10-20 21:42] janetkuo commented on #35182
I ran a simple test to create a petset, write some data to its pets, delete the petset (--cascade=false), create a petset to adopt those pets. It worked well.

[2016-10-20 21:43] dashpole commented on #35207
"""""
logging error output: "Error: 'EOF'\nTrying to reach: 'http://10.180.1.252:80/guestbook.php?cmd=get&key=messages&value='"

[2016-10-20 21:43] ryan-loanpal commented on #34982
Update:
I have different GCP projects for different environments - dev, stage, prod. I was doing all of this testing in the dev project, where my GKE clusters had started at 1.3.7 and were upgraded to 1.4.0.

I just tried to repo my issue in my stage environment, where my GKE clusters were created later and started at 1.4.0. Guess what? The mode and defaultMode feature worked fine. Identical confi

[2016-10-20 21:44] andronat commented on #35234
I think this [this](https://github.com/kubernetes/kubernetes/issues/24198#issuecomment-255022004) related to task 5.

[2016-10-20 21:46] pesho commented on #34884
I'm also having DNS issues on a test cluster set up from scratch using the "unstable" `kubeadm`. The nameserver IP which pods receive in their `/etc/resolv.conf` (10.12.0.10) does not match the IP of the `kube-dns` service (10.0.0.10). As a result all DNS lookups within pods fail.

[2016-10-20 21:47] smarterclayton commented on #30600
Comment from the other issue is that it's unclear to me how bazel can fit within the distribution ecosystem (fedora/centos/rhel/debian/ubuntu/others) and what sorts of changes are implied or whether it runs afoul of any packaging guidelines that are going to complicate this.  Without that step, kubernetes developers might be more productive, but everyone else is more broken.

@eparis / @ingvagabun

[2016-10-20 22:00] fejta commented on #27430
Where do we nominate alternative names?

I'd like to nominate **CatArray**

Reasoning: cats are solitary, independent creatures with eccentric personalities. They are also particularly famous on the internet.

The metaphor would be to contrast cats' evolutionary strategy with a school of fish, herds of bison, flocks of geese, etc which attempt to protect themselves from predators on the basis of t

[2016-10-20 22:11] jbeda commented on #35226
I disagree with the characterization of `kubeadm`.  The goal is to grow this in to a more general lifecycle tool and break out the various steps as building blocks to other provisioning tools.  While right now `kubeadm` does the full meal deal, the eventual goal is to break out the stages so they can be driven/overridden as necessary.

For example, we have new support coming online for TLS bootstr

[2016-10-20 22:17] Random-Liu commented on #34207
This issue has been fixed in https://github.com/kubernetes/kubernetes/pull/34107 by @MrHohn.
However because this is not cherrypicked into 1.4, the 1.4 release test is still failing.

This issue only causes the test to panic not the Kubernetes itself, so I'm not sure whether we should cherry-pick this into 1.4.

[2016-10-20 22:17] pwittrock commented on #35076
SGTM if it is relatively simple to code and test.

[2016-10-20 22:18] ZedCode commented on #34248
Awesome!! Thanks @kerneltime - I'm grabbing the util.sh from your pull request and will re-open this issue if that did not resolve it (once it's closed by the merge).

[2016-10-20 22:20] chrislovecnm commented on #27430
@aronchick you own your staffing and resource allocation :)  We are on the same playing field.

@danpaik We probably need to take this discussion to another issue, please feel free to move it.  Does that mean in 1.5 the name is changing?

[2016-10-20 22:23] caesarxuchao opened #35237 "Include multiple API versions of an API group to a single clientset"
Forked from #35159

# Problem
Currently a generated golang [clientset](https://github.com/kubernetes/kubernetes/tree/master/pkg/client/clientset_generated/release_1_5) only includes code for one API version of each API group (e.g., [release_1_5 clientset](https://github.com/kubernetes/kubernetes/tree/master/pkg/client/clientset_generated/release_1_5) only supports [batch/v1](https://github.com/kub

[2016-10-20 22:23] imkin commented on #34248
@ZedCode In the second case [when your kube-dns had the ip 192.168.128.120] where was your kube-dns?

[2016-10-20 22:25] kerneltime commented on #34248
@ZedCode based on the logs you posted you were definitely impacted by the issue in #35232 but I am not sure if that is the only issue on going on your setup. Please let us know how the fix goes for your environment.

[2016-10-20 22:25] chrislovecnm commented on #35182
Well crap that was easy.  We must be making some awesome software or something :)

[2016-10-20 22:25] kerneltime commented on #34248
There is not route for 192.168.3.0/24
[code]

[2016-10-20 22:28] chrislovecnm commented on #20379
@eparis lol ... that was awesome

[2016-10-20 22:31] dashpole commented on #35207
@timstclair there are a few lines in the api server log regarding proxy.go:
kube-apiserver.log:274341:E1020 21:35:38.642816       5 proxy.go:172] Error proxying data from client to backend: read tcp 10.240.0.56:443->104.197.45.156:47617: read: connection reset by peer

[2016-10-20 22:34] brendandburns opened #35238 "Get NodeInfo failure stalls kubelet startup..."
I put bad credentials into my kubelet for a cloud provider and I got the following:

[code]

And the kubelet basically stalls out.

I think there are two issues here:

1) The kubelet stalls, and even if you fix the cloud provider, you have to restart the kubelet to fix it.
2) It seems like the kubelet should mostly come up anyway, with information it can extract from the node, without requiring th

[2016-10-20 22:35] k8s-merge-robot opened #35239 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/5190/

Run so broken it didn't make JUnit output!

[2016-10-20 22:36] ixdy commented on #30600
Can someone point me at the scripts used by various distros to build kubernetes from source?

[2016-10-20 22:36] wallverb commented on #27430
In this case I demand immediate removal of all the references to that words that are extremely harmful/offensive/inappropriate to people with afro-american roots. This means - removal of all words that contain 'master', 'slave', 'black' (as being something worse) and 'white' (as being something better) in the context of 'master-slaves', 'whitelists', 'blacklists', 'black holes' etc.

Here are the

[2016-10-20 22:43] jimmycuadra commented on #27430
@wallverb That is a reasonable request but should probably be opened as a separate issue. You can reference this one for context.

[2016-10-20 22:48] janetkuo commented on #35182
Need to keep an eye on #32538 (upgrading masters doesn't upgrade kubectl), since older kubectl will not be compatible with renamed [new PetSet] API.

[2016-10-20 22:50] caseydavenport commented on #35069
Have to think about how this interacts with various NetworkPolicy implementations.  We don't want `<pod-ip>:<port>` to automatically ACCEPT unless a NetworkPolicy says its allowed.

Maybe the answer is only do this when namespace isolation is not `DefaultDeny`?

[2016-10-20 22:54] chrislovecnm commented on #35182
@janetkuo whatever the case we need this documented for beta.  Also need upgrades documented.  @bprashanth does we have an issue open for beta docs ... cause dude you write them amazingly.

[2016-10-20 22:55] chrislovecnm commented on #35182
Btw guys ... appreciated

[2016-10-20 22:57] k8s-merge-robot opened #35242 "kubernetes-e2e-gci-gce-es-logging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/2082/

Run so broken it didn't make JUnit output!

[2016-10-20 22:57] carsonoid commented on #23920
For those that care one possible workaround is to use NodePort mappings to make ingress controllers work when using cni. Not an ideal solution for anyone that uses hostPort a lot but if you only need it for ingress it can be acceptable. The big downside is that you have to map to ports in the allowed nodeport range or change the range to allow lower ports.

[2016-10-20 23:00] sarahnovotny commented on #27430
Please stop.  Derailing the conversation with additional demands does not help us resolve this issue of what to change the name to.  We have had multiple requests for varying reasons to change the name of this feature.

If you have ideas for names that represent the feature succinctly and are not intended to be humorous or sarcastic we welcome your contributions.  if not, your comments are a distr

[2016-10-20 23:06] xiang90 commented on #31968
this panic is fixed by https://github.com/kubernetes/kubernetes/pull/33086.

[2016-10-20 23:07] xiang90 commented on #28350
this panic is fixed by https://github.com/kubernetes/kubernetes/pull/33086.

[2016-10-20 23:08] xiang90 commented on #34007
@kdima Good to know. I thought it is caused by a race somewhere (and assume https://github.com/kubernetes/kubernetes/pull/33967 wont totally fix it) in the scheduler cache code.

now we know it is caused by docker version. closing this issue.

[2016-10-20 23:08] #34007 closed

[2016-10-20 23:12] janetkuo commented on #35182
One may not need to delete the PetSet before master upgrade. The upgraded master would just ignore it, and therefore one can still rollback the master upgrade if needed. StatefulSets will adopt pets (perhaps we shouldn't call it pet anymore) and everything will work like before the upgrade.

[2016-10-20 23:16] liggitt commented on #35182
Latent resources like that in etcd that aren't cleaned up would make me nervous. I'd delete them if tests show that can be done without disrupting

[2016-10-20 23:32] fejta commented on #27430
@sarahnovotny and @jimmycuadra I added some postscript above to clarify that my proposal is serious. Also thank to you both for doing a great job thus far with a very complex and sensitive situation. I am impressed with your patience during this process!

[2016-10-20 23:42] bgrant0607 commented on #35182
@chrislovecnm I wasn't trying to change your priorities.

[2016-10-20 23:48] chrislovecnm commented on #27430
@sarahnovotny / @danpaik when is voting again.  Asking for interested developers.

[2016-10-20 23:48] jimmycuadra commented on #35182
I'm also very happy to help with any grunt work needed to make this transition smoothly for everyone. It's my fault it's needed, after all. :} It'd be crappy to ask for a change but not help with any of the work it creates.

[2016-10-20 23:50] jimmycuadra commented on #27430
Dan had said he'd post a new poll at 5 PM (assuming Pacific.) Should be up in just a few minutes.

[2016-10-20 23:50] danpaik commented on #27430
Voting will start up again later tonight.  I'll put a link here when it's ready.  There are still some discussions going on so we'll see if this thread gets updated with more thought but if not, I'll collect everything and create a new poll for voting.

[2016-10-21 00:02] aronchick commented on #27430
@fejta Hey Erick -- This is a community, so you have a right to do whatever you'd like, but I would like to implore you to withdraw CatArray. In my opinion, the primary reason to change the name is not the initial reason that was proposed in this thread, but that PetSet is cute and totally indecipherable by anyone who does not understand the Pets v. Cattle analogy. CatArray falls into this camp.

[2016-10-21 00:08] apsinha commented on #27430
I would like to add that I'm uncomfortable with having to understand the behaviour of cats, dogs, cows, and other animals in order to grasp a technical concept in Kubernetes. Its maybe obvious to people who are familiar with animal behavior but I think many people are not. Also I really don't like thinking about killing and predators and violence and so forth unless I have to. Just a personal opin

[2016-10-21 00:09] quinton-hoole opened #35247 "Federated ingress e2e test contains invalid spec: spec.ports[0].protocol: Invalid value: \"\": cannot create an external load balancer with non-TCP/UDP ports"
Ingress connectivity and DNS
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/federated-ingress.go:181
      should be able to connect to a federated ingress via its load balancer [BeforeEach]
      /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/federated-ingress.go:179

      Creating service "" in namespace "e2e-tests-federated-in

[2016-10-21 00:10] quinton-hoole commented on #35247
@mfanjie FYI

[2016-10-21 00:10] chrislovecnm commented on #27430
@danpaik and the window will close when?  I assume this is going to be the "vote" and we are not going to do this again.  We need to put this to bed.  This is turning into an optics nightmare.

[2016-10-21 00:14] ozdanborne opened #35250 "e2e testing parameters aren't well documented"
I'm a newcomer to kubernetes, and have been trying to write e2e tests and run them against a running cluster. I have found that the e2e tests are largely parameterized so that they can be run on any k8s cluster (which is great!), but those parameters are largely undocumented, as are their default values.

I'm going to describe the experience I've had trying to get this working. I hope that readers

[2016-10-21 00:15] quinton-hoole opened #35251 "Federation e2e tests are timing out"
It looks like the addition of some new e2e tests (by @nikhiljindal ?) made the test run take a bit longer, and not fit into it's timeout threshold.

@shashidharatd FYI.

root      9001  0.0  0.0 270936  6256 ?        Sl   08:48   0:00                          \_ /workspace/kubernetes/platforms/linux/amd64/ginkgo /workspace/kubernetes/platforms/linux/amd64/e2e.test -- --kubeconfig=/workspace/.kube/

[2016-10-21 00:17] danpaik commented on #27430
I'll create a poll today (having some issues with the website that creates the poll) and the voting window will close on Monday 10/24/2016 at midnight.

I'd like to leave CatArray off the list.

[2016-10-21 00:17] wallverb commented on #27430
@sarahnovotny Not sure where you are getting this from - but there is nothing humorous / sarcastic in whatever I posted. This is very serious matter. Is there a double standard ?

My point is - there is NOTHING harmful in `PetSet` name - there is not even a single mention of `cattle` in that name. If the `pet vs cattle` metaphor is harmful - then just change that 3 (or more) articles that kubernet

[2016-10-21 00:17] quinton-hoole commented on #35251
We should probably increase the overall timeout value to accommodate the new tests, in advance of doing a cleanup to make the tests run faster.

[2016-10-21 00:21] chrislovecnm commented on #27430
@wallverb thanks for letting us know that is was sarcasm.  People are taking this a tad serious.

[2016-10-21 00:22] k8s-merge-robot opened #35252 "kubernetes-cross-build: Does not compile on non-linux"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1164/

Run so broken it didn't make JUnit output!

[2016-10-21 00:23] nikhiljindal commented on #35162
It matters for the group versions that can be enabled on the server.
For ex: if I try to bring up federation-apiserver with `--runtime-config="badgroup/badversion"` it will fail. But if I try the same thing with `--runtime-config="batch/v1"`, the server will come up fine. That is because server assumes that batch/v1 is a valid api group, even though it is not. It is a valid api group for the clien

[2016-10-21 00:24] wallverb commented on #27430
@chrislovecnm Thanks for the answer - but as I said - it wasn't a sarcasm. I'm also taking it very seriously.

[2016-10-21 00:26] nikhiljindal commented on #35162
I see that the list of registered api group versions is also used to determine the default value of storage version flag on apiserver: https://github.com/kubernetes/kubernetes/blob/8290366a8f523fae8eef44b2289db1f5bf8a2f0b/pkg/genericapiserver/options/server_run_options.go#L133.

Hence, the default value of `--storage-version` on federation-apiserver includes kubernetes APIs that are not part of fe

[2016-10-21 00:26] nikhiljindal commented on #35251
I havent added any tests yet :)

[2016-10-21 00:28] nikhiljindal commented on #35251
One way of reducing the time of our e2e tests is to register the clusters in the framework instead of doing it in BeforeEach in each test. Each test runs it in its own namespace, so no need to delete and register clusters again for each test

[2016-10-21 00:28] liggitt commented on #35162
Right, that speaks to a lack of validation on which registered versions are allowed to be enabled for the server. I wouldn't change the registration path, just the enablement one.

[2016-10-21 00:30] fejta commented on #27430
I agree that CatArray is a cute name, and if the goal is to avoid cute names you can exclude it from the poll.

[2016-10-21 00:37] nikhiljindal commented on #35162
Great! So we agree that we need some mechanism to determine if a group version can be enabled on server and whether it can be enabled on the client.

The proposal here is to keep a separate registered group version list. group versions registered in servers list of registered group versions can be enabled on server and group versions registered in clients list of registered group versions can be e

[2016-10-21 00:39] liggitt commented on #35162
Registration isn't appropriate for that. Enablement validation is

[2016-10-21 00:43] liggitt commented on #35162
Also, storage enablement and rest API enablement are not the same thing. For example, Jobs are addressable from two REST API groups, so even if extensions is not surfaced as a REST API, the storage destination for it might need to be if batch jobs were being read from their original home in extensions storage

[2016-10-21 00:44] danpaik commented on #27430
Thank you everyone!

I create a new poll.  The link is below.  I will also share this link in the kubernetes-dev@ email list and the slack channel tomorrow.

http://www.polljunkie.com/poll/iibacq/kubernetes-petsets-renaming

Please let me know if you think anything is incorrect, etc.  Thanks again.

[2016-10-21 00:54] nikhiljindal commented on #35162
Sorry can you elaborate on that. Is it wrong to use the list of registered group versions to validate what group versions can be enabled?

So we should have 2 lists of group versions: one that can be enabled in storage and one that can be enabled in the API?
Client does not care about storage versions.

[2016-10-21 00:57] nikhiljindal commented on #34572
Removing OWNERS from that dir fixed the problem.
Closing this

[2016-10-21 00:57] #34572 closed

[2016-10-21 00:58] liggitt commented on #35162
Server enablement should always be a subset of known (registered) groupversions. Having separate registration lists allows for the possibility of disjoint registration sets (a server serves a groupversion a client running in the server process doesn't know about), which is nonsensical.

[2016-10-21 01:14] MikeSpreitzer opened #35253 "`docs/devel/README.md` should reference `docs/devel/testing.md`"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): testing.md README.md

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-10-21 01:25] nikhiljindal opened #35254 "Federation per-user cluster authentication, authorization and audit logging"
Filing this issue to discuss the design for "per-user cluster authentication, authorization and audit logging" in federation. Ref https://github.com/kubernetes/features/issues/73

Problems that we want to solve:
- Audit: In federation audit logs, we know which user sent a particular request to federation control plane. But in kubernetes audit logs, we do not get to know that a particular kubernete

[2016-10-21 01:38] yujuhong commented on #20379
@dcbw, your case seems different. The two DELETE events were just caused by how apisever and kubelet handles pod deletion.
 1. apiserver sets the DeletionTimeStamp -> kubelet gets a DELETE event
 2. kubelet terminates the containers gracefully
 3. kubelet sends a request to the apiserver to actually remove the pod object (with `DeletionGracePerio`d=0)
 4. apiserver sets the `DeletionGracePeriod` -

[2016-10-21 01:41] quinton-hoole commented on #35254
Thanks @nikhiljindal .  I'd suggest focussing squarely on your third point (Authentication) for v1.5.  Authorization at the federation level is much less important (because if you get the Authentication part right, then the Authorization will be done at the cluster level).  Similarly for Auditing - if all of the actions are made against the underlying clusters using the correct (non-root) credenti

[2016-10-21 02:18] bprashanth commented on #33840
@kubernetes/goog-testing the gke ingress tests started failing with:
[code]

Which seems like a gcloud versioning issue. GCE tests are still green (http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress/). Any ideas on what might've changed?

Probably a good idea to rewrite the parts of our helper libs that shell out to gcloud anyway, but I'm hoping to punt on that till after 11/7 (cod

[2016-10-21 02:19] mfanjie commented on #35247
@quinton-hoole I am able to send a quick fix by EOD.

[2016-10-21 02:26] chrislovecnm commented on #35182
@bgrant0607 lol we are good

[2016-10-21 03:04] blurrcat commented on #28999
Hi @coffeepac! Here's my setup:
* kubernetes 1.3.6(GitCommit:f6f005)
* setup with [kube-aws](https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws.html) 0.8.2 on AWS.
* The OS is CoreOS stable (1122.2.0), running flannel, without Calico

kubelet is constantly re-mounting secret volumes:
[code]
And occasionally:
[code]
I think the problem may be that when I try to resize one of the worker nod

[2016-10-21 03:14] k8s-merge-robot opened #35256 "[k8s.io] Secrets should be consumable from pods in volume with defaultMode set [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/1349/

Failed: [k8s.io] Secrets should be consumable from pods in volume with defaultMode set [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-21 03:16] smarterclayton commented on #35252
@kubernetes/sig-storage

[code]

on Mac

[2016-10-21 03:30] k8s-merge-robot opened #35257 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1167/

Run so broken it didn't make JUnit output!

[2016-10-21 03:37] justinsb commented on #27430
Have we considered the abbreviations for each of these?

* RoleSet = rs, which is already taken by replicasets.
* StatefulApp & StatefulArray  = sa = serviceacount.
* NominalSet = ns = namespace.

Some of the alternatives also have unfortunate abbreviations.  I can't see StatefulSet being an acceptable choice, as a particular example.

[2016-10-21 03:47] chrislovecnm commented on #27430
@justinsb well we can only hope StatefulSet does not win.

But we can be creative with the abbreviations as well

[2016-10-21 03:55] feiskyer commented on #34999
@yujuhong Sorry for late resp and thanks for #35240 to fix this.

[2016-10-21 04:14] feiskyer commented on #35252
@smarterclayton Encounter same problem. will post an PR later.

[2016-10-21 04:28] krmayankk commented on #23211
Sorry I meant you said 'has bitten us in the paste at openshift' and I was just curious how or what scenario @kargakis

[2016-10-21 04:39] MaikuMori commented on #21656
I'm seeing this running `1.4.3`.

[2016-10-21 04:45] k8s-merge-robot opened #35261 "[k8s.io] [Feature:Example] [k8s.io] Downward API should create a pod that prints his name and namespace {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-examples/959/

Failed: [k8s.io] [Feature:Example] [k8s.io] Downward API should create a pod that prints his name and namespace {Kubernetes e2e suite}

[code]

Previous issues for this test: #31539 #31888

[2016-10-21 05:17] mdshuai commented on #35017
@derekwaynecarr There is another scenario like hostpath. If write data to /tmp directory in pod, also cause nodefs.available eviction, but the eviction manager still can't remove the large file on node. Is this still expected? Node always keep in DiskPressure.
like: ```/var/lib/origin/openshift.local.volumes/pods/2b4b7e6d-9738-11e6-9e8d-fa163e251d10/volumes/kubernetes.io~empty-dir/tmp/largefile.te

[2016-10-21 05:48] Buzer commented on #34886
Thanks for respopnse. Yeah, cherry-pick PR would be appricated as it can be pretty easy to trigger this and not that easy to spot the problem.

[2016-10-21 05:59] DImuthuUpe commented on #32987
Any update on this issue?

[2016-10-21 06:35] weherdh commented on #32068
I have tested today, this issue still exist. I am ok with the explanation from @rootfs. I think this should be decided by you guys. Thanks

[2016-10-21 06:39] hjacobs commented on #35187
Routing to local pods in the same AZ (when running multi-AZ cluster) is important on AWS also for cost efficiency (EC2 cross-AZ traffic costs 0.02 USD / GB): see the [AWS Data Transfer Costs Overview Figure](https://raw.githubusercontent.com/open-guides/og-aws/master/figures/aws-data-transfer-costs.png)

[2016-10-21 06:52] Deepak-initcron commented on #34920
@griffinkelly
I have upgrade kubernetes to 1.4.3 from 1.3.7 and everything seems to be working fine in both the environment now.

[2016-10-21 07:11] floreks commented on #35076
I'll know more once I check the code. It shouldn't be hard to implement, Also I think that `-f` switch for streaming logs should be blocked when `--all` will be used. What do you think?

[2016-10-21 07:22] MaikuMori commented on #22586
Seeing this on GKE.

[2016-10-21 07:50] bulletRush opened #35264 "[kubeadm] pre pull images and configurable pod implement"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?:
`kubeadm`, `kubeadm pull`, `kubeadm image`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kubernetes version** (use `

[2016-10-21 08:01] #35092 closed

[2016-10-21 08:10] mikedanese commented on #27430
I'm not a fan of "Stateful". It seems orthogonal to the problem currently solved by petset. Cassandra and gnatsd are examples of applications that are highly stateful and run just as well in a replicaset as they do in a petset. HDFS datanode is a highly stateful app that is suited to run as a daemonset. A petset might also be used to partition work between a group of stateless workers where the pa

[2016-10-21 08:12] errordeveloper opened #35268 "kube-discovery should be able to listen on a different port"
As we have to run in host's network namespace, we cannot simply remap ports at the container level.

[2016-10-21 08:13] errordeveloper commented on #35268
cc @kubernetes/sig-cluster-lifecycle @dgoodwin

[2016-10-21 08:14] davidstack opened #35269 "two petset with the same service"
when i test petset, i want to deploy two petset whih one service. my file is
service.yaml
[code]
petset1.yaml
[code]
petset2.yaml:
[code]
after i create petset1 and petset2. i can only create one petset. is there any method that we can create two petset with the same service?

[2016-10-21 08:16] gmarek commented on #34911
cc @wojtek-t

[2016-10-21 08:28] k82cn commented on #35257
@jingxu97 , it seems we forgot to add `mounterPath` to `unsupport.go`; I'll create a PR for that.

[2016-10-21 08:35] wojtek-t commented on #34911
Obviously we should ignore all kubemark-scale - related failure, these are experiments on pretty large kubemarks and these are expected to fail.

[2016-10-21 08:40] AdoHe commented on #35213
SGTM. will give a try.

[2016-10-21 08:50] z00223295 commented on #16670
there seems kubernetes only support container TTY=false. as in code, it's hard code with RawTerminal.
sopts := StreamOptions{
		OutputStream: stdout,
		ErrorStream:  stderr,
		**RawTerminal:  false,**
}

[2016-10-21 09:34] wojtek-t commented on #35117
OK - I've just sent out a PR fixing the first two things.

[2016-10-21 09:52] lukaszo commented on #34616
It will take some time before it reaches GA(General Availability) Here you can see the requirements https://github.com/kubernetes/kubernetes/issues/15310

[2016-10-21 09:54] codablock commented on #19653
Can be closed IMHO as we are not using 15.10 anymore.

[2016-10-21 09:54] #19653 closed

[2016-10-21 09:59] webwurst commented on #34884
Same problem like @pesho. See over there for details:
https://gist.github.com/webwurst/e65839c4889b8c3c88051ffd7b072168

[2016-10-21 10:06] fortytw2 commented on #27430
Anyone who's running a poll - can you please make sure to have `PetSet` on it? I, for one, quite like the name, and would like to ensure people who share this opinion are not excluded from voting by a mindset of "it must be changed"

[2016-10-21 10:12] k8s-merge-robot opened #35277 "[k8s.io] Daemon set [Serial] should run and stop complex daemon {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/173/

Failed: [k8s.io] Daemon set [Serial] should run and stop complex daemon {Kubernetes e2e suite}

[code]

[2016-10-21 10:12] k8s-merge-robot opened #35278 "kubernetes-e2e-gci-gke-updown: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/3620/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: http [Conformance] {Kubernetes e2e suite}

[code]

Issues about this test specifically: #32375

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function

[2016-10-21 10:12] k8s-merge-robot opened #35279 "[k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid podAffinity is rejected because of the LabelSelectorRequirement is invalid {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2485/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid podAffinity is rejected because of the LabelSelectorRequirement is invalid {Kubernetes e2e suite}

[code]

[2016-10-21 10:21] n-marton commented on #34884
The generation of (on ubuntu, didn't check on other dists.) /etc/systemd/system/kubelet.service.d/10-kubeadm.conf ignores  custom  --service-cidr and contains 10.12.0.10 as --cluster-dns.

[2016-10-21 10:34] m1093782566 commented on #17470
/subscribe

[2016-10-21 10:40] ingvagabund commented on #30600
Fedora: http://pkgs.fedoraproject.org/cgit/rpms/kubernetes.git/tree/kubernetes.spec?id=6fad2e50ff2a4dca3655176ad935012dd271e775#n853

[2016-10-21 10:44] k8s-merge-robot opened #35281 "kubernetes-e2e-gci-gke-slow-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow-release-1.4/1196/

Multiple broken tests:

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29752

Failed: [k8s.io] Pod Disks should schedule a pod w/two RW PDs both mou

[2016-10-21 10:44] k8s-merge-robot opened #35282 "kubernetes-e2e-gci-gke-alpha-features: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/758/

Multiple broken tests:

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work for type=LoadBalancer [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] ScheduledJob should not schedule jobs when suspended [Slow] {Kubernetes e2e sui

[2016-10-21 10:44] k8s-merge-robot opened #35283 "[k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: udp [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/3621/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: udp [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-21 10:45] kargakis commented on #23211
If you are not going to keep the latest replica set as the running replica set, you are going to scale up the last successfully deployed replica set which may be far behind in your history (and you lose all deployment guarantees when you do that). Tooling that expects the latest replica set to be the running replica set (what's happening right now in Kube Deployments), is suddenly broken. We had t

[2016-10-21 11:15] #35257 closed

[2016-10-21 11:24] shashidharatd commented on #35251
I analyzed the logs in https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5360/build-log.txt
Most of the tests are failing because of service spec.
[code]
**spec.ports[0].protocol** and **spec.sessionAffinity** field were optional before. something have changed.

[2016-10-21 11:25] errordeveloper commented on #34884
I am suspecting there may be an issue with recent change that went in with fbd5032da26a3c014e1be48490a0c2ca6ee21c77.

[2016-10-21 11:39] shashidharatd commented on #35251
Another set of errors is due to timeouts during service creation, the current timeout is 60 seconds. we can increase the timeout to maybe like 150 seconds. https://github.com/kubernetes/kubernetes/blob/master/test/e2e/federated-service.go#L33
[code]

[2016-10-21 11:50] k8s-merge-robot opened #35286 "[k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/999/

Failed: [k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27703 #32981

[2016-10-21 11:55] tomaszszlek commented on #28838
Hi,
I have some related question - I set up Ingress controller but Ingress is starting under on of node - we can't be sure which exactly node will be chosen.
In order to hook my domain (e.g my.example.com) into ingress I need to know IP of ingress node in advance. At leas internal stable IP would be good.
How can I achieve that ? Is there any way to determine Ingress IP in advance ?

[2016-10-21 12:06] errordeveloper commented on #34884
Having said that, I am not happy with `10.12.0.0/12` being the default range, it's too likely to clash, for example there will be a major overlap with `10.0.0.0/16`. I'd like to change the default.

[2016-10-21 12:34] maclof opened #35288 "[GKE] Node keeps changing to "NodeNotReady" status, causing 503 errors with our nginx ingress load balancer"
Hey,

We have a 4 node GKE cluster using n1-standard-4 (4 vCPUs, 15 GB memory) VM instances. The master is running version 1.4.3 and the nodes are running 1.4.0.

Our project name on Google Cloud is ahead4-141515 and our GKE cluster is called ahead4

One of our nodes is constantly changing to "NodeNotReady" status which is causing our nginx ingress load balancer to show 503 errors for sites we're

[2016-10-21 12:36] wallverb commented on #27430
Totally agree with @fortytw2
So disappointed by @danpaik / team's decision by excluding `PetSet` option - even when there are multiple people on this thread that would like to have a right to vote for this option.
Let people vote for it and let it "die democratically" if people don't vote for it.
By excluding it you are making this entire process unfair, biased, non-open/transparent.

There are so

[2016-10-21 12:39] deads2k commented on #35254
I think you should consider using the impersonation mechanism we built.  That way the audit trail on the delegatee server will have the record of "done by federated server user as Y", so you'll get audit, authentication, and authorization all for free.

[2016-10-21 12:54] errordeveloper commented on #34884
https://github.com/kubernetes/release/pull/169

[2016-10-21 12:56] k8s-merge-robot opened #35289 "kubernetes-e2e-gci-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/1353/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication between nodes {Kubernetes e2e suite}

[code]

Issues about this test specifically: #30131 #31402

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture th

[2016-10-21 13:16] #34248 closed

[2016-10-21 13:17] Starefossen commented on #34884
Applied the dns fix on my kubeadm cluster but the errors still presist from within the pods:

Curling the kube-apiserver from a node:

[code]

Curling the kube-apiserver from within a pod:

[code]

[code]

[code]

[2016-10-21 13:41] ncdc commented on #26955
Adding @cjcullen to assignee list b/c of ssh tunnel flakes (i.e. this issue has multiple, different root causes)

[2016-10-21 14:10] bgrant0607 commented on #34710
@soltysh One possibility is to use quota. Delete the oldest completed ones when quota is exhausted, to ensure new ones could be launched.

[2016-10-21 14:14] k8s-merge-robot opened #35293 "[k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mark back to Ready when the node get back to Ready before pod eviction timeout {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2378/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mark back to Ready when the node get back to Ready before pod eviction timeout {Kubernetes e2e suite}

[

[2016-10-21 14:20] k82cn commented on #35252
It was fixed by https://github.com/kubernetes/kubernetes/pull/35271 .

[2016-10-21 14:57] shashidharatd commented on #35251
it seems no new tests are added since 9 days. and i see the federated_informer throwing quite a lot of error, the one below:
[code]
Increasing the timeout will not help. There is something wrong with the code, maybe related to API versioning.

[2016-10-21 15:15] grosser commented on #35076
For an initial version that is good enough, but it would be great to eventually have that ... make it work just like `tail -f log/*` works ...

[2016-10-21 15:21] k8s-merge-robot opened #35296 "kubernetes-e2e-gci-gke-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress-release-1.4/1423/

Run so broken it didn't make JUnit output!

[2016-10-21 15:24] k8s-merge-robot opened #35297 "[k8s.io] Proxy version v1 should proxy to cadvisor {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/18259/

Failed: [k8s.io] Proxy version v1 should proxy to cadvisor {Kubernetes e2e suite}

[code]

[2016-10-21 15:58] bgrant0607 commented on #2742
cc @ncdc

[2016-10-21 16:04] rdtr commented on #16083
I've setup k8s instance on AWS, all nodes are in private subnet, done by following CoreOS's manual setup instruction. Two masters are behind the internal ELB and internal ELB just accepts an access from our bastion server.

It works pretty well and we'll go on production with this setup, but many things are still done manual... (nodes upgrade etc)

[2016-10-21 16:13] k8s-merge-robot opened #35299 "kubernetes-e2e-gci-gke-prod: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod/102/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected {Kubernetes e2e suite}

[code]

Issues about this test specifically: #33883

Failed: [k8s.io] SchedulerPredicates [Serial] validates that Inter-pod-Affinity is respected

[2016-10-21 16:41] scottstensland commented on #9207
I am using latest kubernetes 1.4.0 and still this fatal error condition message is not helpful at all

[code]

[2016-10-21 16:41] bprashanth commented on #28838
Front the ingress with a service of type=LoadBalancer @aledbf

[2016-10-21 17:04] k8s-merge-robot opened #35303 "kubernetes-e2e-gci-gke-autoscaling: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/411/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]

Failed: [k8s.io] Cluster size autoscaling [Slow] should add node to the particular mig [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase clus

[2016-10-21 17:04] k8s-merge-robot opened #35304 "kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/2189/

Run so broken it didn't make JUnit output!

[2016-10-21 17:04] k8s-merge-robot opened #35305 "kubernetes-e2e-kops-aws-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/3070/

Run so broken it didn't make JUnit output!

[2016-10-21 17:04] k8s-merge-robot opened #35306 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-federation/1149/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33993 #34033 #34796

[2016-10-21 17:04] tomaszszlek commented on #28838
It won't work fo private cloud

[2016-10-21 17:04] k8s-merge-robot opened #35307 "kubernetes-e2e-gci-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging/102/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26784 #28384 #33023

Failed: [k8s.io] Services should be able to up and down services

[2016-10-21 17:07] bprashanth commented on #28838
On prem you can apply the same formula with type=NodePort. You will need to plug one/all node ips into DNS. In both methods, you get a tcp proxy (cloud-LB/kubeproxy) routing to a http proxy (ingress controller).

[2016-10-21 17:11] aledbf commented on #28838
To achieve that you can use https://github.com/kubernetes/contrib/tree/master/keepalived-vip

[2016-10-21 17:20] sjenning opened #35310 "kubelet: volumemanger: reconcile only reconstructing one volume per pod per reconstruct()"
This code is preventing more than one volume per pod from being reconstructed on each `reconstruct()`:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L419-L423

For the first volume returned by `getVolumesFromPodDir()`, `updateStates()` is called, adding the pod to the desired and actual state of the world.  For all subsequent volumes in the

[2016-10-21 19:08] bgrant0607 opened #35314 "Please move kubeadm to its own repo"
kubeadm is new and nothing else in kubernetes depends on it. It should have gone into a separate repository.  #24343

We need to figure out how to build releases from multiple repos, anyway:
https://github.com/kubernetes/release/issues/3

I understand we wanted to move quickly and this was done for expedience, but productivity in the kubernetes repo is a zero sum game.

cc @jbeda @mikedanese @robe

[2016-10-21 19:09] rata commented on #34517
This doesn't affect setups without intermediate certificates, am I right? In that case, this doesn't affect kubernetes installed with kube-up.sh on AWS, for example. Am I right?

Does it make sense, maybe, to list installation methods and say if they are affected or not? (if this only affects installation with intermediate certs)

[2016-10-21 19:13] yujuhong commented on #34999
No problem. Let's close this issue.

[2016-10-21 19:13] #34999 closed

[2016-10-21 19:14] k8s-merge-robot opened #35315 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/3071/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33993 #34033 #34796

[2016-10-21 19:14] k8s-merge-robot opened #35316 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/850/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]

[2016-10-21 19:25] ncdc commented on #2742
We're also interested in being able to reuse the code generation tooling against arbitrary repos / go packages. See my post to kubernetes-dev about it today for more details.

[2016-10-21 19:26] liggitt commented on #34517
the bug prevents intermediate-signed client certs from working correctly, but is also a potential vulnerability for clusters using client certificate authentication (e.g. `kube-apiserver --client-ca-file=...`)

the fix is available in master, [1.4.3 or newer](https://github.com/kubernetes/kubernetes/releases/tag/v1.4.3) and [1.3.9](https://github.com/kubernetes/kubernetes/releases/tag/v1.3.9)

[2016-10-21 19:32] derekwaynecarr commented on #35017
@mdshuai -- an EmptyDir should be removed after a pod is killed, but it is async.  if you see this as a problem, please open a new issue with your reproduction.

[2016-10-21 19:37] bprashanth commented on #14661
This is still an issue of course, meaning, if a node disappears due to partition we will take 40s to kill endpoints. If we had a health check endpoint, it would take O(5s). There are different ways to tackle it.

One way is to make kube-proxy health checking much smarter (i.e use ipvs). We need to confirm that ipvs will autofail over if it noticed that eg a SYN got blackholed once. I wasn't able t

[2016-10-21 19:40] xjlu opened #35317 "With required podAntiAffinity, scheduler couldn't find node (false positive matcher?)"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: aws mixed c4.2x, m4.2x, g2
- **OS** (e.g. from /etc/os-release): centOS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Our AntiAffinity config is

[code]

We wanted to enforce th

[2016-10-21 19:46] foxish opened #35318 "Reasonable defaults with eviction and PodDisruptionBudget"
We are moving to have kubectl drain use the eviction subresource (https://github.com/kubernetes/kubernetes/issues/34277), and honor `PodDisruptionBudget`.
From [comment by @erictune](https://github.com/kubernetes/kubernetes/issues/35318#issuecomment-255501443) which better captures this requirement.

There should be a default behavior for disruption budgets.
The default should optimize for these t

[2016-10-21 20:08] jeremyeder commented on #10570
Thanks very much for that -- I've seen your github repo.  We are designing for exactly your use-case and more.  We have NUMA and cpuset prototype working internally and have shared our design goals with Solarflare engineering.  I was planning to discuss in more depth at the KubeCon developer conference.  So you have some background, I represent RH in stacresearch.com consortia for tuning for HFT a

[2016-10-21 20:09] davidopp commented on #35318
I'm on the fence on this one. Would be interested to hear other folks' opinions. Here are my thoughts:

It seems an alternative to your proposal, which would have the same effect, would be to just add an admission controller that adds a PDB to every collection that you think should have the rule you want (e.g. max 1 eviction at a time).

On the other hand, if we implement your proposal, clients th

[2016-10-21 20:21] aronchick commented on #27430
@wallverb @hjacobs @fortytw2 can you help me understand more?

As we've said, the issue is not solely the concerns at the top of the thread. PetSet is inherently a bad name because it is both "cute" and "does not implicitly describe the functionality of the object." Further, it requires understanding the "Pets vs. Cattle" analogy, which should not be required reading for running a distributed syst

[2016-10-21 20:25] #35306 closed

[2016-10-21 20:26] #35252 closed

[2016-10-21 20:26] spxtr commented on #35305
github down today.

[2016-10-21 20:26] #35305 closed

[2016-10-21 20:35] kargakis opened #35324 "PodDisruptionBudget should use ObservedGeneration"
The pod eviction subresource should trust PDBs only when they are synced by the PDB controller (pdb.generation == pdb.status.observedGeneration) instead of relying unconditionally on [PodDisruptionAllowed](https://github.com/kubernetes/kubernetes/blob/6bda989d5497f47f4454a7fc81eaea877f404861/pkg/registry/core/pod/etcd/eviction.go#L106) (or the new integer field that will replace PodDisruptionAllow

[2016-10-21 20:41] dashpole commented on #35207
netstat output includes 2k+ lines like these:
tcp6       0      0 localhost:10250         localhost:56977         ESTABLISHED
tcp6       0      0 localhost:10250         localhost:50801         ESTABLISHED
tcp6       0      0 localhost:10250         localhost:xxxxx         ESTABLISHED

The 10250 port is the Kubelet's default port.
Looking for any logs related to the other ports shows they are all

[2016-10-21 20:59] foxish commented on #33727
We may not need to "pause" the petset controller at all. Expanding on his earlier points, the progression would be as follows:

1. Cordon a node and start the drain procedure.
2. Find pets to delete, say pet-3, pet-4 running on that node. (find PodDisruptionBudget, which is say 1 here)
3. Delete either pet, say pet-3
4. Wait for pet-3 to become running & ready on a different node.
5. Delete next p

[2016-10-21 21:04] #35315 closed

[2016-10-21 21:26] bprashanth commented on #33938
we should run the peer finder as a sidecar to keep updating the config through a shared volume. I'll take a look post code freeze. If anyone has cycles right now, feel free to take it.

[2016-10-21 21:34] #33029 closed

[2016-10-21 21:39] #35304 closed

[2016-10-21 21:51] fabianofranz commented on #35076
SGTM. A few comments:

- Note that `--all` must be validated as mutually exclusive with `--container=`.
- I know it's verbose but I'd vote for `--all-containers` as the flag name, for clarity.
- A different option would be to suppress the "choose one of ..." message in case of pods with multiple containers and make it always show all by default. Would remove the need for the `--all` flag, and you

[2016-10-21 21:54] kayrus opened #35333 "kubelet doesn't respect terminationGracePeriodSeconds and kills pause container"
kubernetes 1.3.5

when you set `terminationGracePeriodSeconds: 999` for the pod and this pod terminates tool long (it has to reschedule the data), kubelet terminates pause container (after 2 minutes when `--sync-frequency=1m0s`) and pod became inaccessible. and as a result data rescheduling fails too.

pod.yaml:

[code]

[code]

run in another terminal and watch for `eth0` network interface.

[cod

[2016-10-21 21:55] janetkuo commented on #35054
Where does ` -v` / `--v` come from? I think it's from `glog`. Would this make it hard to change its flag description?

Agree that we should define debug/trace levels, and logs in the codebase should be compliant with them.

[2016-10-21 21:58] grosser commented on #35076
that would be even better ... no new flag to teach everyone ...

[2016-10-21 21:58] caesarxuchao commented on #35237
cc @nikhiljindal @smarterclayton @krousey

[2016-10-21 22:00] sjenning commented on #33255
Any votes on what the name this status field should be?

[2016-10-21 22:01] Random-Liu opened #35335 "kubectl logs --tail=0 is not working properly"
How `docker logs` works:
- `docker logs --tail=-1 CONTAINER_ID`: prints all lines.
- `docker logs --tail=1 CONTAINER_ID`: prints the last line.
- `docker logs --tail=0 CONTAINER_ID`: prints no lines. (Usually used with `-f` to follow new logs)

How `kubectl logs` works:
- `kubectl logs --tail=-1 POD_NAME`: prints all lines.
- `kubectl logs --tail=1 POD_NAME`: prints the last line.
- `kubectl logs

[2016-10-21 22:13] griffinkelly commented on #34920
@Deepak-initcron Same--resolved it.

[2016-10-21 22:19] #33916 closed

[2016-10-21 22:21] hjacobs commented on #27430
@aronchick my 2 cents:

* the name probably should end with "Set" to be consistent with "ReplicaSet" (reading the thread I now understand the "*Array" proposals, but they are not intuitive to me at first)
* it should be memorable
* it should be rather short
* its acronym should be compatible (no conflicts and not "unfortunate" like "SS")
* pets might be cute, but how can a little bit of cuteness b

[2016-10-21 22:29] rebhisaid opened #35336 "Fail deploying kubernetes v1.4.4 in ubuntu"
I tried to use the last version 1.4.4 but when I run this command:
`>> KUBERNETES_PROVIDER=ubuntu ./kube-up.sh`

I got:

[code]

Can anyone help me on this please? Where to find logs?

[2016-10-21 22:30] k8s-merge-robot opened #35337 "[k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/1691/

Failed: [k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}

[code]

Previous issues for this test: #30100 #31810 #34331 #34717 #34816

[2016-10-21 22:40] abrarshivani commented on #30254
@kerneltime The PRs which updates the documentation is not merged yet.

[2016-10-21 22:40] kayrus commented on #35333
Looks like it was fixed in 1.3.6 within [this commit](https://github.com/kubernetes/kubernetes/pull/28770). don;t know why it was not mentioned in changelog.

[2016-10-21 22:40] #35333 closed

[2016-10-21 22:44] elsonrodriguez commented on #2563
I've started playing with deploying Hadoop on k8s, based on images from here: https://hub.docker.com/r/uhopper/hadoop/

Just about any variable for hdfs is tunable via environment variables via some clever bash.

WIP for k8s objects is here: https://bitbucket.org/erodriguez/hadoop-docker/src/b76b3ba132736acadb32273b7f617783c1208c13/kubernetes/?at=master

[2016-10-21 22:44] smarterclayton commented on #35318
What class of things run as rc=1, ps=1?

Important:
Databases
Leader services
The B of an A/B test
----
Not important:
Testing instances of production services
Random stuff you start under an rs (so it will survive node death) but for which you forget about.

In large clusters the latter are going to dwarf the former (many OpenShift clusters today are 95% the latter).  If this change added the PR

[2016-10-21 22:44] janetkuo commented on #33770
@mikebryant did you recently scaled down the deployment? We may need to cherrypick https://github.com/kubernetes/kubernetes/pull/34456 into 1.4 cc @kargakis

[2016-10-21 22:45] smarterclayton commented on #35318
A global config flag to opt in to this makes sense, but I don't think that rs=1 or ps=1 implies disruption budget

[2016-10-21 22:47] jbeda commented on #35314
This is a great thing to consider once the release issue is fixed.

[2016-10-21 22:59] kerneltime opened #35339 "vSphere Cloud Provider: Look into the need for credentials to be stored on nodes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
NA

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

[2016-10-21 22:59] davidopp commented on #35318
Sorry, what I said here was wrong. If we implement your proposal, clients that want to always delete in the absence of a PDB but respect the PDB if it exists (which is the behavior they get today) would have to look up whether the pod is covered by a PDB first, and use that to decide where to use /eviction or regular delete.

I guess a config flag to choose the behavior would be one approach, thou

[2016-10-21 22:59] kerneltime commented on #35339
This can be assigned to me or @abrarshivani

[2016-10-21 23:03] kerneltime opened #35340 "vSphere kube-up.sh: Add support for flannel"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
NA

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## NA

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**

[2016-10-21 23:07] fabianofranz commented on #35054
Yes, comes from `glog` vendored in `client-go`, as a global flag:

https://github.com/kubernetes/client-go/blob/master/vendor/github.com/golang/glog/glog.go#L401

I'll probably just fetch the global flag when `kubectl` is created (around [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/cmd.go#L202-L218)) and override the description, so that we don't have to patch vendor

[2016-10-21 23:17] janetkuo commented on #35054
Or perhaps add a flag `--verbosity`(=debug, info, warning, error, critical, none) that sets `-v` for you? Would that be easier from UX perspective?

[2016-10-21 23:24] timstclair opened #35341 "[AppArmor] Profiles are not checked when containers are restarted"
AppArmor is only validated when a Pod is first admitted to a node. This means that if an AppArmor profile is unloaded after a Pod is started, containers in the pod will be restarted without the profile.

/cc @dchen1107

[2016-10-21 23:40] bgrant0607 commented on #34413
See also #23378, #22866

[2016-10-21 23:46] wallverb commented on #27430
@aronchick now my 2 cents:

* Regardless of the name:
  * everyone in the community should be treated equally
  * every voice should be listened to - not just selected part of the community
  * process should be open, fair, transparent and objective (that's something that I guess everyone expects from the open community)
  * Title of this issue is 'Please consider changing' - naturally it seems th

[2016-10-21 23:47] ixdy commented on #33840
@bprashanth the @kubernetes/goog-testing alias is deprecated. use @kubernetes/test-infra-admins instead.

I believe the GKE builds use a staging version of gcloud, while GCE uses the official release. You'll probably start seeing failures on GCE next week if the underlying issue isn't fixed. :)

[2016-10-21 23:55] ixdy commented on #33840
as for your query, two things:
 1. print out the `ExitError.Stderr` in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress_utils.go#L626-L629 so that you can see why `gcloud` is failing
 2. update `--regex` to `--regexp` [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress_utils.go#L619), since
[code]

[2016-10-21 23:57] #35225 closed

[2016-10-21 23:59] erikerlandson commented on #34377
Modfication to use images with spark preinstalled:
https://github.com/foxish/spark/pull/1

[2016-10-22 00:04] erikerlandson commented on #34377
I am starting to think it's desirable to support a rest-based submission as another option, i.e. creating kube subclasses for `RestSubmissionServer` and friends.   Mesos assumes this mode, and stand-alone submission defaults to it.  It requires the rest server to be spun up, but also allows other rest clients to be programmed against it.

[2016-10-22 00:15] erikerlandson commented on #34377
The current prototype uses a pod annotation to stage the user's jar-file on the containers.   I believe it'd be more efficient to mount it on some kind of persistent volume, which can then be mounted on any pods/containers.  The creation of the volume could be done at the time the initial driver pod is initialized, then used by executor pods.

Another benefit of this approach is that it may be mor

[2016-10-22 00:18] bprashanth commented on #33840
@ixdy thanks for the suggestion https://github.com/kubernetes/kubernetes/pull/35346

[2016-10-22 00:19] k8s-merge-robot opened #35347 "[k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should handle updates to source ip annotation [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/773/

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should handle updates to source ip annotation [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

Previous issues for this test: #35225

[2016-10-22 00:26] davidopp commented on #34377
I'm interested in the fair sharing/elasticity bits, once the initial prototype is finished.

[2016-10-22 01:36] ixdy opened #35351 "Combine cluster/get-kube.sh and hack/get-build.sh"
The functionality to translate a published version like "release/stable" or "ci/latest", currently in `hack/build.sh` should be folded into `cluster/get-kube.sh`.

The test-infra `e2e-runner.sh` would be able to just use `cluster/get-kube.sh` with published version strings too.

[2016-10-22 01:58] #33840 closed

[2016-10-22 02:11] erictune opened #35353 "There should be a reasonable default pod disruption budget"
There should be a default behavior for disruption budgets.

The default should optimize for these things:

1. Users should not need to create, view, or even know about with the PodDisruptionBudget resource, and still get "reasonable" default behaviors.
2. The default behavior should be reasonable for a wide variety of app use cases.
3. The default behavior could be expressed succinctly to users.
3

[2016-10-22 02:11] erictune commented on #35353
@foxish @kow3ns @janetkuo

@mwielgus @davidopp

[2016-10-22 02:14] #35353 closed

[2016-10-22 02:15] erictune commented on #35318
There should be a default behavior for disruption budgets.

The default should optimize for these things:

1. Users should not need to create, view, or even know about with the PodDisruptionBudget resource, and still get "reasonable" default behaviors.
1. The default behavior should be reasonable for a wide variety of app use cases.
1. The default behavior could be expressed succinctly to users.
1

[2016-10-22 02:21] thockin opened #35354 "Service can change from ExternalName -> ClusterIP and not get an IP allocated"
Similar to #33029

[2016-10-22 02:58] erictune commented on #35353
Moved to #35318 rather than new issue

[2016-10-22 05:07] k8s-merge-robot opened #35355 "[k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/18311/

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]

Previous issues for this test: #26509 #26834 #29780

[2016-10-22 05:59] smarterclayton opened #35356 "bazel update fails on Mac"
[code]

Ends up removing a lot of stuff, looks like it's using GOOS=darwin and generating the wrong set of dependency trees.

[2016-10-22 06:01] k8s-merge-robot opened #35357 "kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial-release-1.4/212/

Run so broken it didn't make JUnit output!

[2016-10-22 06:01] #35303 closed

[2016-10-22 06:01] k8s-merge-robot opened #35358 "kubernetes-garbagecollector-gci-feature: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-garbagecollector-gci-feature/95/

Run so broken it didn't make JUnit output!

[2016-10-22 06:03] smarterclayton opened #35359 "Various Bazel problems - Mac, assumptions about paths, etc"
On OSX El Capitan

[code]

Docs didn't seem to cover when this happens?

[2016-10-22 06:03] #35307 closed

[2016-10-22 06:05] smarterclayton commented on #35359
[code]

[2016-10-22 07:31] mikedanese commented on #35359
Hmm, will take a look. I have only tested on linux amd64 so far.

[2016-10-22 08:01] mikedanese commented on #35359
This is caused by having both a build/ directory and a BUILD file in the root of the repository and make fs being case insensitive. cc @ixdy @spxtr

[2016-10-22 08:04] mikedanese commented on #35356
Yup, just noticed that... It seems like I can't put off supporting darwin. I can add support in gazel. The panic is a different issue. The panic is caused by having both a `test/e2e_node/BUILD` file and a `test/e2e_node/build` directory in `test/e2e_node/`. I'm going to wrap the presubmit in a docker run on mac to stop the bleeding until I figure out a solution to this.

[2016-10-22 08:15] spxtr opened #35360 "bazel test broken for federation/pkg/federation-controller/cluster"
I'm running this in a docker container on kubernetes and this is the only test that fails:

[code]

[2016-10-22 08:32] mikedanese commented on #35356
I will look at this tomorrow. #35361 would disable the presubmit which is a temporary unblocker.

[2016-10-22 08:35] spxtr commented on #35359
Ahh, case-insensitive filesystem bugs. Looks like we have two obvious options:

1. Don't support native builds on mac. Run it in docker.
1. Rename all `build/` folders to something else.

I'm happy with either solution, but remember @thockin's [words](https://github.com/kubernetes/kubernetes/issues/30600#issuecomment-241160172): "Please don't make Linux builds suck just because Mac builds have to

[2016-10-22 09:13] davidopp commented on #35318
I would add one more criteria: the intended behavior of the system should be as simple to understand as possible. In this vein, I think saying "absence of PDB means unlimited evictions" is less surprising than "absence of PDB is like presence of a PDB tied to \<some collection the pod is part of\>" In other words, we should make the behavior explicit by requiring a PDB whenever you want to limit e

[2016-10-22 09:44] kerneltime opened #35364 "vSphere kube-up: Dashboard does not collect logs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

Dashboard is not able to collect logs from nodes since kube-up uses vm-names (not ip address) and the vm-name resolution is missing from nodes.

[2016-10-22 10:04] davidopp commented on #35318
A couple of other reasons why (3) seems better than (4)
* user may create service after creating controller, so there will be a period where it would be unprotected
* a pod may be in more than one service, but never have more than one controller; today PDB controller can't handle a pod being in more than one PDB-protected collection (and I'm not sure we want to ever allow it; the rules get dicey f

[2016-10-22 10:31] tmrts commented on #25581
@yifan-gu is this issue now resolved or needs to be updated with the latest rkt version?

[2016-10-22 11:52] kargakis commented on #31369
For Deployments, we are going to use a ProgressDeadlineSeconds field that will cause the deployment controller to bubble up a ProgressDeadlineExceeded condition in the deployment status when 1) the Deployment has yet to complete (d.spec.replicas==d.status.updatedReplicas==d.status.availableReplicas) and 2) (current time - last time we saw progress) > ProgressDeadlineSeconds (https://github.com/kub

[2016-10-22 12:26] kargakis commented on #28381
https://github.com/kubernetes/kubernetes/pull/32771 added AvailableReplicas+MinReadySeconds to replica sets so this basically now is ReadyReplicas for Deployments.

[2016-10-22 14:14] franz-josef-kaiser opened #35368 "Docs for https-nginx service point to wrong page"
The [docs](https://github.com/kubernetes/kubernetes/blob/69bd37d77009599eca9ce78669afab6666665c53/docs/user-guide/connecting-applications.md) for this service point to [`docs/user-guide/connecting-applications.md`](https://github.com/kubernetes/kubernetes/blob/69bd37d77009599eca9ce78669afab6666665c53/docs/user-guide/connecting-applications.md), which points out that this link is deprecated and sho

[2016-10-22 14:29] jayunit100 opened #35369 "local-up-cluster should be able to run density tests."
*Problem*

Running the e2e density tests on a local cluster or any other cluster where ssh to master doesn't work fails, even though enough pods are created, because of SSH attempts.  Specifically "should allow starting 30" is the `--focus` argument to reproduce.

[code]

*Solution*

Allow density tests to pass even if some meta test operations fail after the fact.

cc @kubernetes/sig-testing @dea

[2016-10-22 14:55] cnBruceHong opened #35370 "an error occured for deploying k8s on Ubuntu 14.04"
When I execute the command line `KUBERNETES_PROVIDER=ubuntu ./kube-up.sh`, I get some error info:

[code]

there are some problems:
#1 saltbase/salt/generate-cert/make-ca-cert.sh: No such file or directory
#2 I had configured

[code]

in my `ubuntu/config-default.sh` file,but why it just deploy master on machine 192.168.9.9

btw, my k8s release is `1.4.4`

[2016-10-22 15:06] k8s-merge-robot opened #35371 "TestDeletePods {cmd}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/18465/

Failed: TestDeletePods {cmd}

[code]

[2016-10-22 15:42] karolyi commented on #30617
+1 subscribing here to get notified of a better solution

[2016-10-22 15:53] mikedanese commented on #31369
This used to emit an event before https://github.com/kubernetes/kubernetes/pull/28803/commits/528bf7af3a454e5210a72ac8e021bb77927a7f8d

[2016-10-22 16:12] bprashanth commented on #35347
out of quota

[2016-10-22 16:12] #35347 closed

[2016-10-22 16:57] quackenbushman opened #35374 "Test"
Test
Ignore

[2016-10-22 16:58] joeblackwaslike commented on #27430
I'm personally a fan of PetSet. When I first saw it in the documentation I knew exactly what it was for and what problem it solved before I even read a word about it and how often does that ever happen?  It also seems more succinct than any of the alternatives so far.

It could be argued that the vast majority of people in the container community will understand the analogy and that anything that

[2016-10-22 17:30] SpiLLeR commented on #6862
+1

[2016-10-22 18:13] thockin commented on #6862
EVERYONE PLEASE STOP +1ing this.  GitHub has a sentiment button - look at the first message, click the thumbs-up.  Every time you +1 it in a message, dozens or hundreds of people get email.

Like so many issues, this requires someone to act as the driver for it.  We're doing everything we can to make it possible to integrate things like this, but we (Google team and the larger Kube-team) do not ha

[2016-10-22 19:11] joonathan opened #35377 "UDP based DNS queries failing for large record-sets."
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:"33cf7b9acbb2cb7c9c72a10d6636321fb180b159", GitTreeState:"clean", BuildDate:"2016-10-10T18:19:49Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96b

[2016-10-22 19:13] hubt commented on #35377
I am having this issue as well also 1.4.

[2016-10-22 19:14] joonathan commented on #35377
same issue was also visible on cluster with 1.3.7

[2016-10-22 19:22] pouledodue commented on #6862
@vishh for stateful containers like databases replica sets

[2016-10-22 19:38] ixdy commented on #35359
Well, that is terrible.

Option 1 doesn't fix the issue - git is just going to fail to check out `build/` and `BUILD` on macOS.

Probably the only thing we can do is rename `build/` to something else, but that's going to break everyone who calls into `build/` directly instead of using `make`.

We need to do something soon, since this probably breaks all macOS development.

[2016-10-22 19:39] spunkedy commented on #30617
Just a FYI this is roughly what I had to do roughly for CI:

[code]

[2016-10-22 19:49] mikedanese commented on #35359
https://github.com/kubernetes/kubernetes/tree/master/test/e2e_node/ also has a BUILD and a build/

[2016-10-22 19:57] mikedanese commented on #35360
Is it a flake or deterministic? I'm not able to reproduce on my workstation. You can always add the skip tag temporarily.

[2016-10-22 20:12] smarterclayton commented on #35359
GitHub keeps time delaying / eating my emails, which drives me up the wall.

Was going to say you can make case sensitive FS on Mac fairly easily so that's not a real blocker (just annoying).  I'm willing to annoy Mac developers a slight bit because case sensitivity is so 1980.

[2016-10-22 20:12] smarterclayton commented on #35359
We would definitely need to warn and error at the appropriate points.

[2016-10-22 20:26] mikedanese commented on #35356
This https://github.com/kubernetes/kubernetes/pull/35362 makes the presubmit stable on all os's but also disables the ability to actually build on macos. I can add support for mac soon.

[2016-10-22 20:32] smarterclayton commented on #35359
Ok, so set up a case sensitive Mac FS partition and now my only failures are the GOOS problems.

Would recommend that we doc / warn users that they need Kubernetes to be on a case sensitive FS from now on, and steps for Mac are:

1. Create a new, case-sensitive Mac partition
  a. Free up space on your disk by using Disk Utility to shrink an existing partition (backup before hand)
  b. Create a new

[2016-10-22 20:32] smarterclayton commented on #35359
[code]

Sigh.

[2016-10-22 20:36] smarterclayton commented on #35359
Got a bit further:

[code]

which is just the GOOS problem.  How will Bazel handle build platform tags?

[2016-10-22 20:37] smarterclayton commented on #35359
Seeing this

[code]

which is a more complex thing - CGO vs not (we can't force kubectl to be compiled with CGO on all distros).

[2016-10-22 20:38] smarterclayton commented on #35359
[code]

The test fails because it depends on the binary name - go builds the binary with `<package>.test` but BAZEL builds differently (go_default_test).  That seems incorrect?

[2016-10-22 20:39] davidopp commented on #25321
ref/ #35318
ref/ #35324

[2016-10-22 21:03] mikedanese commented on #35359
p0 is to get mac workflow unbroken without using bazel. p1 is to get bazel workflow building on mac. I think documenting the filesystem requirements plus https://github.com/kubernetes/kubernetes/pull/35376 get us p0.

[2016-10-22 21:07] mikedanese commented on #35359
Thanks for digging into this.

Or is this just a bad assumption by the test?

Bazel supports [selecting](https://www.bazel.io/versions/master/docs/be/functions.html#select) on target os and cpu arch. The edits could be made by hand now but it would probably be better to add this to gazel (build file automanager).

Yes, CGO and linkopts are something that needs to be sorted.

[2016-10-22 21:17] dragoscirjan opened #35378 "Having issues with weave-kube and kube-dns"
Hi,

I'm trying to build a test environment which in the end will be deployed to our production server; however I encountered some issues that, for now, I consider bugs.

Please find my install scripts @ https://github.com/itmcdev/solaris.

Following the valid code from `provision.sh`, I followed the instructions from http://kubernetes.io/docs/getting-started-guides/kubeadm/ running:

[code]

Foll

[2016-10-22 21:23] smarterclayton commented on #35359
This test, probably.  In general, maybe not.  If I want to profile / benchmark a Go folder, I probably run `go test` outside of bazel (nothing we're doing here breaks normal Go, right?).

This raises a point of whether bazel is taking over Go's responsibilities, or just augmenting them.  I think your point you raised about auto generation before is interesting, because I would expect the BUILD fil

[2016-10-22 21:31] k8s-merge-robot opened #35381 "continuous-e2e-docker-validation-gci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/continuous-e2e-docker-validation-gci/96/

Run so broken it didn't make JUnit output!

[2016-10-22 22:28] jbeda commented on #35359
I just hit this on my mac.  What fun!

While creating a case sensitive file system is doable on the mac, I think that it is a very very high bar to require a new filesystem to even *sync* the repo on to a mac successfully.  This is really just going to ask for trouble.

Is there any way to change the name that bazel uses?  `BUILD` is pretty generic and we aren't going to be the only ones hitting t

[2016-10-22 22:33] jbeda commented on #35359
Can we revert the change to at least get things going until we figure this out?

[2016-10-22 22:42] mikedanese commented on #35359
@jbeda how does this affect the old style build?

[2016-10-22 22:42] jbeda commented on #35359
Looks like bazel doesn't support alternate file names but it might be actively worked on.  See https://github.com/bazelbuild/bazel/issues/552.

I propose we roll this back until that lands.

[2016-10-22 22:44] jbeda commented on #35359
@mikedanese -- you can't even clone the repo on to a mac right now.

<details>
[code]
</details>

[2016-10-22 22:52] ikester commented on #27430
I know people probably don’t want even more choices at this point but, after reading again recent arguments and looking at the options in that poll, I wonder why I haven’t seen:

OrderSet - os
OrderedSet - os
OrderedInstanceSet - os
IndexSet - is
IndexedSet - is
IndexedInstanceSet - is
SequenceSet - seq
SequencedSet - seq
SequencedInstanceSet - seq
OrdinalSet - os

Key point: Noun (not Adjective)

[2016-10-22 22:52] mikedanese commented on #35359
Seems like a race to decide which build wins:
<details>
[code]
</details>

https://github.com/kubernetes/kubernetes/pull/35384 disables bazel. We need to decide wether to rename build/ or enforce case sensitve filesystems.

[2016-10-22 22:55] mikedanese commented on #35359
Ya, we should absolutely always maintain compatibility with go build.

The test binary name change was made by gazel not bazel. Test binaries assume the name of the rules that generate them. e.g. https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/BUILD#L66 .

Bazel assumes the responsiblity of go build and instead relies on go tool compile. I believe that bazel is flexible enough t

[2016-10-22 23:20] jbeda commented on #35359
Thanks @mikedanese! As for how to handle mac, IMO forcing the case sensitive file systems is a non-starter.

The other option is to wait until Bazel allows `BUILD.bazel` as the file name instead of just `BUILD`.  That looks like it is in progress and might land soon based on that bug.

[2016-10-23 00:43] kerneltime commented on #33258
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/34992
1.4.4 (next release of 1.4) and master has the fix.

[2016-10-23 01:10] k8s-merge-robot opened #35385 "[k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/2300/

Failed: [k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}

[code]

Previous issues for this test: #27295

[2016-10-23 01:40] spxtr commented on #35360
Deterministic.

[2016-10-23 11:34] kargakis commented on #35324
Actually the pod eviction REST updates the status of the PDB directly so I don't think we can use observedGeneration for PDB (generation is never incremented by the changes evict does). I think we need an alternative to generation/observedGeneration that will be specific to the updates done by /evict eg. evictGeneration/evictObservedGeneration. /evict should allow disruption once it has a good vie

[2016-10-23 12:04] derkoensen commented on #33820
I got the problem under 16.04.
There is one line in the cluster/ubuntu/master/init_scripts/etcd under ETCD_START where there is a try to append to ETCD-Log via ">>".
Apparently Ubuntu 16.04 doesn't like this..

I just deleted that line (attention, there is the closing ") and I managed to get a etcd up and running which i can connect to via curl using the non-localhost-IP.

[2016-10-23 12:12] tanmaykm commented on #10325
I got bitten by this just now.
It will be good to have a single clear return type.

[2016-10-23 12:24] #35247 closed

[2016-10-23 13:27] miracle2k commented on #21656
Same here. Every two days one the same my nodes exhibits this problem.

[2016-10-23 17:04] bboreham commented on #25937
As a purely historical point, this last comment seems wrong to me - `--network-plugin-dir` was defaulted at https://github.com/bboreham/kubernetes/blob/e070cb617ab99a204c8c4907b8db03286121ee8e/pkg/apis/componentconfig/v1alpha1/defaults.go#L213, so it would always be "specified" when it reached `cni.go`.

I believe this issue was not fixed until #32151

[2016-10-23 17:49] aecolley commented on #27430
@danpaik I noticed that the [polljunkie summary scores](http://www.polljunkie.com/poll/rqqdro/kubernetes-petsets-renaming/view) do not seem to make sense when compared with the downloadable votes. I encourage you to use the [Export to CSV](http://www.polljunkie.com/poll/rqqdro/kubernetes-petsets-renaming/Export) option and crunch the numbers yourself to find the Condorcet winner.

[2016-10-23 17:54] Bessonov commented on #16741
Is there any news on this? It's really hard to find an example how to setup a shared HA storage, which utilizes local HDDs/SSDs. I think it's OK to require something like nfs-common on every host and it can be easily provided though Ansible.

Absent of out-of-the-box (or at least easy to setup) distributed and persistent storage is really show stopper for all platforms. The only platform, which pr

[2016-10-23 18:00] danpaik commented on #27430
Thanks for the info.  I'll download the csv as well after midnight on Monday night.

[2016-10-23 19:02] derailed opened #35391 "make release fail on hypriotOS1.0"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Bug?

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

exec format error

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2016-10-23 19:16] davidopp commented on #21656
The way to do this in a manner that is compatible with the way we handle other resources is for Kubelet to surface the "capacity" of IP addresses in NodeAllocatable and then the scheduler computes the number available/free based on what's running on the node.

@dchen1107 @yujuhong @vishh maybe we should prioritize fixing this? It seems relatively easy.

[2016-10-23 20:22] bobrik commented on #11984
I think the issue is resolved in docker 1.12.

[2016-10-23 20:34] caesarxuchao commented on #35237
Including multiple versions in clientset will let the schedule job controller use clientset without hacking the client config: https://github.com/kubernetes/kubernetes/commit/7a34347f7f7503dea787c6cb0f27c5e97b1c49d2#diff-2aa9cfe6a01016c1679752b0fcfc9244R407. cc @soltysh

[2016-10-23 20:50] caesarxuchao commented on #31929
Yeah, I'll move informer to the library, too. Perhaps next week.

[2016-10-23 21:23] thomaso-mirodin commented on #31891
Note, I'm still seeing this on 1.3.8 with both PVs and non-PV EBS volumes

[2016-10-23 21:57] k8s-merge-robot opened #35392 "[k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses Ingress connectivity and DNS should be able to connect to a federated ingress via its load balancer {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5375/

Failed: [k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses Ingress connectivity and DNS should be able to connect to a federated ingress via its load balancer {Kubernetes e2e suite}

[code]

Previous issues for this test: #32732

[2016-10-23 23:03] mikekap commented on #34590
Not sure if it helps, but this may be related to another peculiarity of my install - I have an ELB between the kube master & etcd. I just fixed an issue what was terminating idle connections there after 60s. That might be what triggered the desync.

[2016-10-23 23:51] mikekap commented on #34099
Looks like 1.3.9 is missing too. 1.4.4 and 1.2.7 are present though.

[2016-10-24 00:05] davidopp commented on #35145
I don't understand this one. Today when a partition starts, the NC sets Ready condition to Unknown. It doesn't delete anything.

Where do you see this? @gmarek can correct me if I'm wrong, but I think [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/controller_utils.go#L76)  is where pods get deleted after 5m, and it uses graceful deletion. There are definitely some

[2016-10-24 01:14] saad-ali commented on #35310
CC @kubernetes/sig-storage @jingxu97 @matchstick

[2016-10-24 01:17] bprashanth commented on #35145
4 missing hearbeats marks NotReady: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L541
300 missing heartbeats sets deletionTimestamp: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L518
300 missing haeartbeats + gracePeriodSeconds hard deletes: https://github.com/kubernetes/kubernetes/blob/master/pkg/controlle

[2016-10-24 01:25] k8s-merge-robot opened #35396 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/16634/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33993 #34033 #34796 #35306 #35315

[2016-10-24 01:26] ThomasZhou commented on #27398
any progress?

[2016-10-24 01:27] k8s-merge-robot opened #35397 "kubernetes-e2e-kops-aws-updown: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/3288/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: http [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conforman

[2016-10-24 01:27] k8s-merge-robot opened #35398 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot-release-1.4/1369/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}

[code]

[2016-10-24 01:39] davidopp commented on #35145
I'm still not understanding what behavior you want. What I'm suggesting is

Partition is detected (miss 4 heartbeats)
* do nothing (under taint-based eviction, place taint)

5 minutes after partition is detected
* send regular (non-force) delete

Is it more than that?

[2016-10-24 01:48] k8s-merge-robot opened #35399 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial/214/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26982 #33994 #34035

[2016-10-24 01:48] k8s-merge-robot opened #35400 "kubernetes-e2e-kops-aws-updown: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/3289/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: udp [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conformanc

[2016-10-24 02:01] #35397 closed

[2016-10-24 02:01] #35400 closed

[2016-10-24 02:13] #35396 closed

[2016-10-24 02:38] #35399 closed

[2016-10-24 02:40] #35398 closed

[2016-10-24 02:41] bprashanth commented on #35145
we're on the same page, I'm saying after 5:30 today (30s default grace) we hard delete, and that needs to not happen.

[2016-10-24 03:12] davidstack commented on #35269
another question：the pod outside the petset can not visit the petset using the petset domain ?

[2016-10-24 03:15] nikhiljindal commented on #35237
Yes including multiple versions sgtm.
We also need it for the e2e framework to be able to use the generated clientset.

Why include only two stable versions and why not include all of them? I can see the same problem coming again with some controller wanting to use a new version not included in the clientset, if we restrict it to only 2.

[2016-10-24 03:23] k8s-merge-robot opened #35402 "kubernetes-e2e-gke-large-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster/144/

Multiple broken tests:

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]

Issues about this test specifically: #26134

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update endpoints: udp {Kuber

[2016-10-24 05:01] brendandburns commented on #35108
The trouble here is that the pods are in `Failed`, from the controller-manager logs:

[code]

[2016-10-24 05:11] brendandburns commented on #35108
I believe the problem here is that pods are sneaking onto machines and then not starting due to constraints (host port unavailable) but these `Failed` pods count as `Not Ready` which causes the test to go forever.  I'm going to switch the test to only consider `Pending` pods.

[2016-10-24 05:47] davidstack commented on #18096
@hsaputra  does this issue have any plan?

[2016-10-24 06:20] spxtr commented on #35371
Assigning @ymqytw due to #34778.

[2016-10-24 06:20] k8s-merge-robot opened #35405 "[k8s.io] DisruptionController evictions: too few pods, replicaSet, percentage => should not allow an eviction {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-kubenet/1331/

Failed: [k8s.io] DisruptionController evictions: too few pods, replicaSet, percentage => should not allow an eviction {Kubernetes e2e suite}

[code]

Previous issues for this test: #32668

[2016-10-24 07:04] mdshuai opened #35406 "EmptyDir can't be removed when pod become evicted"
**Description of problem**:
Mount a emptyDir in pod `/tmp` then create large file in emptyDir to trigger nodefs.available eviction, when pod become Evicted, the large file can't be removed, node always keep in DiskPressure

**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.1.804+a7db9bccb56abf-dirty

**What happened**:
File in emptyDir can't be removed after pod become Evicted, and node

[2016-10-24 07:04] mdshuai commented on #35017
@derekwaynecarr open https://github.com/kubernetes/kubernetes/issues/35406

[2016-10-24 07:05] mdshuai commented on #35406
@derekwaynecarr

[2016-10-24 07:26] piosz commented on #24677
cc @Crassirostris

[2016-10-24 07:44] gmarek commented on #35385
Not a test related issue.

[2016-10-24 07:44] #35385 closed

[2016-10-24 07:55] gmarek commented on #35145
@davidopp - I think the what @bprashanth aims at is that graceful deletion, which NC respects, is eventually "done" by the NC, not Kubelet. I don't understand what problem we're trying to solve here - the fact that force eviction do happen at all, or that Kubelet will send SIGKILL to the container straight away (IIUC).

[2016-10-24 08:00] davidopp commented on #35145
My understanding is that he wants graceful deletion to be initiated by NC (set deletionTimestamp) but actual deletion only done by kubelet.

[2016-10-24 08:08] foxish commented on #35145
That is correct.
If we just set the `DeletionTimeStamp` in the NC, something like the RC is already proactive about creating replacement pods. The pod-name is a lock in case of petsets. If the force-deletions from the api-server are only done by the kubelet after confirming termination, we do not end up in a state where due to a network partition, we have two instances of a single pet running.

[2016-10-24 08:10] piosz commented on #34125
This is the right approach. Other Kubernetes components (for example api server) also uses such endpoint to export metrics.

[2016-10-24 08:15] floreks commented on #35076
@fabianofranz

I like the third option also. I'll work on that.

That would be nice. I'll investigate that and if it's not too complex then I can implement it.

[2016-10-24 08:16] gmarek commented on #35145
And what should happen if the Kubelet doesn't come back? NC currently does not delete Nodes if cloud-provider claims they're still there. Plus you didn't really answer my question - what is it that you're trying to accomplish?

[2016-10-24 08:18] davidopp commented on #35145
@gmarek #34160 answers your question

[2016-10-24 08:19] errordeveloper commented on #34884
@Starefossen this looks like a completely separate issue, let's discuss on Slack.

[2016-10-24 08:40] thockin opened #35407 "PersistentVolume status.Phase is the only indicator of whether a PV is released or not?"
The litmus test for status has typically been "can this info be recreated by observation".  If a PV was created, used, and released (with retain policy) it would be marked Phase=released.  If Status were to get lost, could we tell that the PV was NOT available for reuse?  I don't think we could...

@jsafrane

[2016-10-24 08:54] rhuss commented on #34702
Same for 1.4.4

[2016-10-24 08:59] jsafrane commented on #35407
we can reconstruct the status, it's spread across the giant if-then-else tree in PV controller.

There is a shorthand version for quick sanity check:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L1095

[2016-10-24 09:06] lethe3000 commented on #33245
I met this problem when deploy [torus](https://github.com/coreos/torus/blob/master/contrib/kubernetes/torus-k8s-oneshot.yaml)
`$ kubectl get ds torus -o yaml
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  creationTimestamp: 2016-10-24T08:49:17Z
  generation: 5
  labels:
    app: torus
  name: torus
  namespace: default
  resourceVersion: "17947"
  selfLink: /apis/extensions/v1beta1/nam

[2016-10-24 09:07] rhuss commented on #34702
`SIGSEGV` happens also on the plain binary when downloaded from https://storage.googleapis.com/kubernetes-release/release/v1.4.4/bin/linux/arm/hyperkube

[2016-10-24 09:12] k8s-merge-robot opened #35409 "[k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/2267/

Failed: [k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}

[code]

Previous issues for this test: #34666 #34708

[2016-10-24 09:16] leo-baltus commented on #26637
Since nobody mentioned this yet: the sheer amount of logging is causing an issue in itself. Is it really necessary to write out iptables this verbose? Also in journalctl it all shows up in red suggesting it is sent to stderr which made me feel uncomfortable looking at this for the first time. I search for errors, but there were none.

[2016-10-24 09:17] resouer commented on #32024
@wojtek-t Oh, sorry for missing this comment, I will rebase and continue on https://github.com/kubernetes/kubernetes/pull/30844

[2016-10-24 09:38] bogdando commented on #35190
It seems there is a hyperkube_image env var to cover that. But is it documented?

[2016-10-24 09:56] superdump opened #35413 "kubeadm: More secure TLS certificate provisioning"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): PKI

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

[2016-10-24 09:57] errordeveloper commented on #35413
cc @kubernetes/sig-cluster-lifecycle

[2016-10-24 10:00] feiskyer commented on #34289
The following tests are failed in all serial tests (including gce-serial and gci-gce-serial), @yujuhong  is there any known problem for this?

- [k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mark back to Ready when the node get back to Ready before pod evi

[2016-10-24 10:24] #35190 closed

[2016-10-24 10:28] LiTao2016 opened #35414 "Make the schedule of ImageLocalityPriorty more efficient and smarter!"
[The current version of the k8s](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/priorities.go#L219)  provides a way to select a host to running the container,whether the candidate host contains the image to be downloaded, but the method is still not fast enough and smart (need to download the full image). Under normal circumstances, the candidate hos

[2016-10-24 10:50] thaniyarasu commented on #34394
This is working .

{
    "kind": "Service",
    "apiVersion": "v1",
    "metadata": {
        "name": "my-service"
    },
    "spec": {
        "type": "ExternalName",
        "externalName": "my.database.example.com",
        "ports": [{ "port": 3000 }]
    }
}

[2016-10-24 11:00] errordeveloper commented on #34884
I am waiting for at least https://github.com/kubernetes/release/pull/168 & https://github.com/kubernetes/kubernetes/pull/35270 to get meged, also https://github.com/kubernetes/kubernetes/pull/35290 would be good.

[2016-10-24 11:07] lukaszo commented on #31369
It looks like I should restore emitting the events. What do you think @mikedanese ?

[2016-10-24 11:18] errordeveloper commented on #35264
@bulletRush thank you very much for this proposal. We have considered this already, and we will very likely implement it soon.

[2016-10-24 11:21] Crassirostris commented on #35409
@justinsb @thockin #33347 probably broke this test

Because in artifacts, in kubelet logs you can find the following:

[code]

And after that no messages about fluentd and no fluentd pods in the cluster state

[2016-10-24 11:23] Crassirostris commented on #35409
@piosz Another problem with fluentd pods being in manifest?

[2016-10-24 11:27] yuriy-filatov opened #35419 "CPU/IO stats are zeroed out"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/386"}
Server Version: version.Info{Major:"1", M

[2016-10-24 11:45] floreks commented on #35076
I've investigated that and I have few concerns. Current flow is rather complex (kubectl -> apiserver -> kubelet) and even simple support for `tail` with option to list all containers requires changes in kubelet.

Kubelet exposes
`<kubeletIP>:<kubeletPort>/containerLogs/<podNamespace>/<podID>/<containerName>` endpoint. Handler for this endpoint handles all additional arguments like: tail, follow, e

[2016-10-24 11:50] lukaszo commented on #35228
This is expected behavior (https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemoncontroller.go#L656) but I understand your point.
@davidopp @bgrant0607 are there any plans to make Conditions taints? User would be able to set tolerations for his daemon then.

[2016-10-24 12:04] vganapathy1 commented on #34884
@errordeveloper  I'm also facing the same issue as @Starefossen, can you please suggest?

[2016-10-24 12:06] timactive opened #35421 "Centos 7 libvirt coreos 'virtio-9p-pci' is not a valid device model name"
I have a problem  on Centos 7 environment to perform the process
http://kubernetes.io/docs/getting-started-guides/libvirt-coreos/
3.10.0-327.36.2.el7.x86_64

qemu-kvm-1.5.3-105.el7_2.7.x86_64
qemu-kvm-common-1.5.3-105.el7_2.7.x86_64
qemu-kvm-tools-1.5.3-105.el7_2.7.x86_64
qemu-img-1.5.3-105.el7_2.7.x86_64
libvirt-daemon-driver-qemu-1.2.17-13.el7_2.5.x86_64

[root@ns394725 kubernetes]# ./cluster/ku

[2016-10-24 12:14] k8s-merge-robot opened #35422 "[k8s.io] Proxy version v1 should proxy logs on node using proxy subresource [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/1513/

Failed: [k8s.io] Proxy version v1 should proxy logs on node using proxy subresource [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-24 12:21] hex108 opened #35423 "Improve restart policy for the case kubelet fails to pull image"
We use Kubernetes 1.4.1.

If we set containers' restart policy to **Always**(or **OnFailure**) and kubelet fails to pull image for some reason(e.g. permission denied to pull the image, or disk is full),  kubelet will always try to pull the image. It can be expected that kubelet will fail to pull the image again and again as following.

<pre>
Events:
  FirstSeen LastSeen    Count   From

[2016-10-24 12:36] superdump opened #35424 "kubeadm init --config breaks defaults"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubeadm defaults
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

[2016-10-24 12:38] #34637 closed

[2016-10-24 12:44] thockin opened #35425 "OWNERS for individual controllers"
We have something like 20 controllers in pkg/controller - only 2 have their own OWNERS files.  It would be nice if each controller came with an explicit OWNERS file.

[2016-10-24 12:45] szuecs commented on #27430
The whole idea of renaming, because of pets should not be replaced (kill and create) is a bit crazy to me. As german I have to say that having shortcuts like "ns" [1] and "sa" [2] are much more offending than "PetSet".
I totally agree with @wallverb @hjacobs @fortytw2 .

[1] https://en.wikipedia.org/wiki/Nazism
[2] https://en.wikipedia.org/wiki/Sturmabteilung

[2016-10-24 12:46] errordeveloper commented on #35424
cc @kubernetes/sig-cluster-lifecycle @mikedanese

[2016-10-24 12:51] superdump commented on #35424
As noted in the kubeadm Slack support channel - I suspect it's something either with the callback 'Run' function of the cobra command that doesn't pass the parsed cfg properly or maybe something in NewInit() where the config file is read into the exist MasterConfiguration data structure that has been passed in.

[2016-10-24 12:54] rtoma commented on #21656
Please do fix. Its a problem for our GKE 1.4.3 cluster.

@davidopp Could you please explain the --max-pods workaround when using `kubectl edit node <id>`? Thanks!

[2016-10-24 12:56] danielfm commented on #33775
I pushed [the latest change](https://github.com/kubernetes/heapster/commit/5b562437162e2794d275a508fa6d041d782379e4) to my private Docker registry and confirm that it fixes the problem.

[2016-10-24 12:58] Crassirostris commented on #33775
@danielfm I was waiting for the pr to be merged. I hope to build and push the image and make a PR to the kubernetes repo in an hour.

[2016-10-24 13:03] Starefossen commented on #34884
@vagababov I managed to get my kubernetes cluster working with internal and external dns queries on Oracle Linux 7.2 (kernel `4.1.12-61.1.14.el7uek.x86_64`) after a complete reset:

[code]

[2016-10-24 13:04] errordeveloper commented on #34884
@vganapathy1 is it possible you might have some firewall configuration that gets on the way? What distro are you using?

[2016-10-24 13:12] piosz commented on #33775
@danielfm thanks for confirming!

[2016-10-24 13:16] fabianofranz opened #35426 "'kubectl set resource' calls the Rest API outside of the command execution context"
`kubectl` commands must not use the factory and perform API calls outside the `Run` function. `kubectl set resource` is currently fetching the server resources to build help, which is wrong.

https://github.com/kubernetes/kubernetes/blob/901bbee2fd6faef5b776fe77929d53b8518de145/pkg/kubectl/cmd/set/set_resources.go#L93-L98

[2016-10-24 13:19] Stono commented on #29166
Recently gone from 1.4.3 -> 1.4.4 and had the same problem, had to delete the deployment entirely (and thus the replication controller)

[2016-10-24 13:21] Stono commented on #29903
We had the same thing agains yesterday, going from 1.4.3 -> 1.4.4, time out on mounts, specifically PV claims on dynamically provision gcePersistentDisks

Deleting the deployment and recreating it fixed the issue - however this is a pretty consistent failure.

[2016-10-24 13:23] piosz commented on #33289
Sorry for the delay. #35428 fix this

[2016-10-24 13:27] k8s-merge-robot opened #35429 "[k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/2414/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28584 #32045 #34833

[2016-10-24 13:36] kargakis commented on #34776
Are we going to do this for 1.5?

[2016-10-24 13:50] soltysh commented on #34710
That would be the best option, I guess.

[2016-10-24 14:00] falenn commented on #19637
First of all Kubernetes is awesome - great work!

The last post here is somewhat old - any movement on this?

The last thing we would want in a production cluster is back-pressure from eventing to crush the cluster.  I would think events need to drain from the system via asynchronous, non-blocking mechanisms.  Message brokers such as Rabbit, Kafka, ZMQ, S3 and the like are built for this purpose,

[2016-10-24 14:01] vasu1124 commented on #34337
fluentd-es-image: why don't you create a configMap with your conf and mount it at /etc/td-agent/td-agent.conf?

[2016-10-24 14:01] bogdando commented on #35133
Also note that while being configurable is very nice to have, runtime flags must allow to specify which steps a user wants the `kubeadm init` do for him and which do not

[2016-10-24 14:07] enlinxu commented on #9125
Any new comment before Dongyi submits a PR? I was trying to summarize the thread in my previous comment, since there're a lot of comments already. :)

[2016-10-24 14:08] soltysh commented on #35054
I'd propose `loglevel`, we are already doing that downstream in OpenShift, see [here](https://github.com/openshift/origin/blob/fff24240feca7e823c4e713e7691f4d8fa66b7a9/pkg/cmd/flagtypes/glog.go#L16). As for docs can we use this https://github.com/kubernetes/kubernetes/blob/master/docs/devel/logging.md with extra information about levels 7, 8 which allow you to dump HTTP requets.

[2016-10-24 14:13] fgrzadkowski commented on #22609
Slight modification after discussion with @thockin and @jszczepkowski.

We believe that a reasonable approach would be to:

1. Add a ConfigMap that would keep the list of active apiservers, with their expiration times; those would be updated by each apiserver separately
2. Change EndpointsReconsiler in apiserver to update Endpoints list to match active apiservers from the ConfigMap.

That way we w

[2016-10-24 14:25] bulletRush commented on #35264
@errordeveloper, may i do something for this feature?

[2016-10-24 14:34] bboreham commented on #32900
Looking at comments such as https://github.com/kubernetes/kubernetes/issues/32900#issuecomment-248697285 I want to add that pods are not the only reason why master might want to talk on the pod network.  It also needs that ability for urls like these:

[code]

where the api server will attempt to hit the service address - if `kube-proxy` isn't running it will probably fail, but if it is then the s

[2016-10-24 15:35] errordeveloper commented on #34884
Looks like we are also blocked on https://github.com/kubernetes/release/issues/171.

[2016-10-24 15:45] jdavis7257 opened #35438 "Add Result of Last Failed Health Check to Pod Describe Output"
It is sometimes difficult to tell why a pod was killed due to a failed health check. This could be made easier by adding a last failed health check status section. I would like to see a last failure section under liveness in the describe output with the following fields if possible:
- Return Code
- Output (for example body of http request)
- Timestamp

[2016-10-24 15:45] adambom commented on #35335
I've also noticed that even if `--tail=1` or some arbitrarily low number is specified, it tries to read the whole logfile into memory. If it's a big file it can crash the worker node.

[2016-10-24 15:53] luxas commented on #35073
@dgoodwin can I assign this issue to you?

[2016-10-24 16:01] bprashanth opened #35439 "kube-dns should expose /metrics"
https://github.com/kubernetes/kubernetes/issues/34125#issuecomment-255196805

[2016-10-24 16:01] bprashanth commented on #35439
@kubernetes/sig-network

[2016-10-24 16:02] bprashanth commented on #9125
See discussion on https://github.com/kubernetes/kubernetes/issues/34125#issuecomment-255196805 for exposing metrics that plug into the unborn monitoring pipeline

[2016-10-24 16:09] MrHohn commented on #33289
Thanks for helping!

[2016-10-24 16:25] k8s-merge-robot opened #35441 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/25570/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33993 #34033 #34796 #35306 #35315 #35396

[2016-10-24 16:26] k8s-merge-robot opened #35442 "[k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/2424/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28584 #32045 #34833

[2016-10-24 16:31] mjbrender commented on #27430
@szuecs it seems unfair to the conversation to compare two letter acronyms as similar to an intentional metaphor. The question is whether the "pet" term lends itself too naturally to the phrase "vs cattle" as discussed from the beginning or whether it stands on its own as @wallverb discussed.

I still like pet since it makes me think of my pets, which I do value more than other animals. That's my

[2016-10-24 16:35] k8s-merge-robot opened #35444 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/6373/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313

[2016-10-24 16:35] k8s-merge-robot opened #35445 "[k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/2281/

Failed: [k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}

[code]

Previous issues for this test: #34666 #34708

[2016-10-24 16:36] k8s-merge-robot opened #35446 "kubernetes-e2e-kops-aws-updown: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/3343/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: http [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conforman

[2016-10-24 16:44] errordeveloper opened #35447 "deleting a deployment doesn't delete the replicaset"
In kubeadm we [create a dummy deployment and destroy it right away (after it reports as ready)](https://github.com/kubernetes/kubernetes/blob/33ebe1f18b9cf5909931376f656e19e80ac9ac1c/cmd/kubeadm/app/master/apiclient.go#L239-L275). It turns out that deleting the deployment doesn't destroy the RS.

[2016-10-24 16:51] #35442 closed

[2016-10-24 16:51] #35446 closed

[2016-10-24 16:53] kargakis commented on #35447
Closing as dupe of https://github.com/kubernetes/kubernetes/issues/33845

[2016-10-24 16:53] #35447 closed

[2016-10-24 16:54] Zapadlo opened #35448 "Kubelet high CPU usage"
Kubelet on of the node is running with very high CPU consumption.

Running on CoreOS (1122.3.0) on AWS.
Hyperkube: "v1.4.0_coreos.2"

pprof attached
![1 4-kubelet-high-cpu svg](https://cloud.githubusercontent.com/assets/1801067/19655126/d55da0c4-9a12-11e6-9d8b-531f8c5c3374.png)

Happy to include more details.
[pprof.txt](https://github.com/kubernetes/kubernetes/files/548467/pprof.txt) .pb.gz file

[2016-10-24 16:57] caesarxuchao commented on #35237
I think we will need a deprecation policy. We can discuss this later though, now only `batch` has v1 and v2alpha1.

[2016-10-24 16:59] erikerlandson commented on #34377
It will be important to allow a `spark-submit` command to specify one or more volumes to mount on the driver-pod that contain data to be ingested by the spark app (and/or written to with output)

[2016-10-24 16:59] dhoer commented on #24791
Billing is our use case.  We have clusters that customers share and need a way to bill back their usage.  We use tags for billing on our current legacy AWS implementations and it works great.  Would like to use tags the same way on k8s.

[2016-10-24 17:01] soltysh commented on #35237
@caesarxuchao omg, I just hit that problem, again. Your solution is like a salvation, and has my full support :+1:

Re the change itself, why instead of having `BatchV1`, `BatchV2Alpha`, etc. not having `Batch` with an argument being the version? Passing nil give you a default.

[2016-10-24 17:05] caesarxuchao commented on #35237
It's to satisfy the type system, the returned interface will be different for different argument.

[2016-10-24 17:07] soltysh commented on #35237
Right... forgot about that one, thanks.

[2016-10-24 17:08] mikedanese commented on #31369
@lukaszo yes I think that would be a helpful change.

[2016-10-24 17:08] #35444 closed

[2016-10-24 17:08] #35441 closed

[2016-10-24 17:08] #35445 closed

[2016-10-24 17:09] yujuhong commented on #34289
It seemed like a recent regression #35293 I haven't checked the details.

I don't think they had ever been consistently green. I'd say this is P2 for v1.5.

The good news is the most flakes seem to have been fixed by the network namespace PR.

[2016-10-24 17:11] yujuhong commented on #35293
This is a recent regression. Reassigning to @matchstick to triage/delegate since @freehan is out .

[2016-10-24 17:12] deads2k commented on #35237
I think that the unversioned client should be able to negotiate against known server version it has conversions for which allow it to return to the hub.  I don't think that the unversioned client should have to worry about versions at all and it should prioritize them in the order that discovery returns them.

I'm ok with having the non-converting clients have versioned flavors, but if we do that

[2016-10-24 17:14] fejta commented on #35381
Let's migrate this one over to bootstrap

[code]

[2016-10-24 17:16] fejta commented on #35381
Also kubernetes-garbagecollector-gci-feature

[2016-10-24 17:16] fejta commented on #35358
Dup of https://github.com/kubernetes/kubernetes/issues/35381

+ timeout -k 15m 600m bash /dev/fd/63
++ curl -fsS --retry 3 https://raw.githubusercontent.com/kubernetes/test-infra/master/jenkins/dockerized-e2e-runner.sh
curl: (6) Could not resolve host: raw.githubusercontent.com

[2016-10-24 17:16] #35358 closed

[2016-10-24 17:17] #35357 closed

[2016-10-24 17:18] fejta commented on #35357
Not test infra

[2016-10-24 17:19] fejta commented on #31706
We now delete and create these resources each run.

[2016-10-24 17:19] #31706 closed

[2016-10-24 17:23] jaknoll commented on #16585
I'm having the same issue with cinder, running version 1.4.4.  Plugin is loaded, cinder/nova tools installed:

    # which cinder
    /usr/bin/cinder
    # which nova
    /usr/bin/nova

[code]

[code]

[2016-10-24 17:24] foxish commented on #34377
From the [documentation](http://spark.apache.org/docs/latest/programming-guide.html#external-datasets).

I'm guessing we would need to specify volumes only in case we want to supply input files from the file-system.
For the input, are you suggesting that we allow mounting a single PV into the driver and every executor with mode `ReadOnlyMany`?

[2016-10-24 17:28] kargakis commented on #35426
@kubernetes/kubectl @JacobTanenbaum

[2016-10-24 17:28] fejta commented on #31776
@mml Hi Matt!

From a quick glance this does not look like test-infra.

Rather it looks either like a) the job's timeout is configured too low (please send a PR to increase it) b) tests are doing something dumb (please send a PR to improve the tests or c) the product is running slow (send a PR to improve the product).

Neither a, b or c is test-infra (something like the jenkins VMs being overloade

[2016-10-24 17:30] deads2k commented on #35429
@ingvagabund the test grid shows this going red after https://github.com/kubernetes/kubernetes/pull/34905 .  See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/18503

[2016-10-24 17:32] fabianofranz commented on #35426
Fixed in https://github.com/kubernetes/kubernetes/pull/35427

[2016-10-24 17:33] deads2k commented on #35426
Seems like you want that when it's immediately available and you don't want it when its not.  It's really nice to have help be fully correct when you can.

[2016-10-24 17:48] caesarxuchao commented on #35237
I experimented the idea locally. I actually didn't make the internalclientset (unversioned client) to include multiple versions, because it's hard to express that in [client-gen](https://github.com/kubernetes/kubernetes/blob/master/cmd/libs/go2idl/client-gen/main.go#L37-L47), so @soltysh might be disappointed.

@deads2k what's the use case of negotiating versions? I think we'll have this discussio

[2016-10-24 17:56] spxtr commented on #35359
I'd rather just rename our `build` directories. https://github.com/kubernetes/test-infra/issues/61 would have prevented this, but it's a huge pain to do this.

[2016-10-24 18:00] liggitt commented on #22695
That's how I'd want to handle this as well

[2016-10-24 18:02] Random-Liu commented on #35448
@yujuhong
/cc @kubernetes/sig-node

[2016-10-24 18:03] bowei commented on #35439
#29060

[2016-10-24 18:12] saad-ali commented on #16585
@jsafrane any idea why @jaknoll's cinder provisioning is returning `no volume plugin matched`

[2016-10-24 18:17] fabianofranz commented on #34146
The YAML 1.2 spec became, as one of the biggest changes, [more restrictive about what's supported as booleans](http://yaml.org/type/bool.html), mostly now only recommending `true` and `false` (no longer using `on`/`off` and `yes`/`no` as booleans, but just regular strings).

I opened a [go-yaml issue](https://github.com/go-yaml/yaml/issues/214) about this, but I'm not sure a fix is going to happen

[2016-10-24 18:22] yujuhong commented on #35448
@Zapadlo, could you post a graph with higher resolution? It's hard to read any text...

From what I could read, the biggest node is from the package "federation-controller", and kubelet doesn't import that package.

[2016-10-24 18:23] deads2k commented on #35429
@soltysh batch api group strikes again! https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L174

[2016-10-24 18:25] kcrawley commented on #35340
I'm working on integrating flanneld into the default vsphere setup for our own organization needs. I intend on opening a PR when I'm done.

[2016-10-24 18:32] derekwaynecarr commented on #35406
@sjenning - can you take this?

[2016-10-24 18:35] kow3ns commented on #35318
I think (3) provides a sane, easily comprehensible, default behavior
1. It is generally safe, I can't think of a use case for controlled replication where the tenant application will not tolerate a single eviction. I'd argue that if your application isn't tolerant to a single eviction, when it is otherwise healthy, than it also isn't tolerant to a single node failure. If someone really does have t

[2016-10-24 18:46] freehan opened #35457 "[CRI] Add HostPort Support for Dockershim"
#34780 migrates the network logic into dockershim without adding hostport support.  `GetPodHostportMapping` method implemented by dockershim returns empty. This interface is a hook for network plugins to retrieve local pod hostport information, so that network plugins can implement the hostports. Need a way to retrieve hostport mapping from running pods in dockershim. This can be achieved by parsi

[2016-10-24 19:00] mgoodness commented on #28226
I created three NFS PVs, one for each of the AZs in which I created an EFS mount point. Also added the standard `failure-domain.beta.kubernetes.io/region` and `failure-domain.beta.kubernetes.io/zone` labels, thinking I could use them in a PVC's `matchExpressions` statement. I can, but of course the PVC only binds to one of those volumes at the time the PVC is created.

Perhaps what we really want

[2016-10-24 19:02] devth commented on #34413
This busted our CD system for any repos that contain HPA manifests. Details:

- Started happening 10/17 on our GKE cluster.
- The cluster was upgraded to 1.4.0 on 10/4.
- Masters were upgraded to 1.4.3 on 10/16.

[2016-10-24 19:17] mml commented on #35318
I can think of cases where this default would be a pain in the neck, so I agree with @smarterclayton that you should be able to toggle with a flag.  I think opt-out (i.e. default to on) is fine.

Long run, we had previously discussed a way of generating template PDBs that some controller would use to generate real PDBs for matching controllers.  The template PDBs could be thought of as specific se

[2016-10-24 19:22] dgoodwin commented on #35073
Sure I have some notes from @mikedanese on how to approach (ComponentConfig is new to me), Mike yell fast and loud if you started on this, otherwise I will try to find some time to dig in.

[2016-10-24 19:25] yujuhong commented on #33302
@freehan is out. Reassigned to @matchstick to triage or delegate.

[2016-10-24 19:26] luxas commented on #35073
It's not different from any other structs; just code normally :)

[2016-10-24 19:26] mtbbiker commented on #32551
Guys if I am out of order please nuke this comment,
We are new to running Kubernetes (On CoreOS) in our own data centre and we are experiencing behaviour that seems to be consistent with this post:

We are running:
[code]
`CoreOS stable (1068.8.0)
`

We have a Micro services Architecture model that allows third party application to request Telemetry data (We are streaming 1200ms/s via a service th

[2016-10-24 19:30] bowei commented on #32551
@mtbbiker that sounds like a different problem -- if you can open a separate issue from this one that would be great.

This issue is about CLOSE_WAIT, not a timeout in ESTABLISHED state. Also, neither of the timeouts should be hit if you have active traffic going over the connections.

[2016-10-24 19:39] chrishiestand commented on #34146
In my limited experience it's usually better to fully support standard(s) for maximum interoperability and less user surprises. From a distance, I'd guess that supporting a disjointed set of standards adds confusion and technical debt to a community. And piling on to standards confusion just because other projects do it doesn't seem right. But this may not reflect the reasons for the current disjo

[2016-10-24 19:43] pires commented on #35424
Quoting https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/interfaces.go#L55-L58:

So this may be something else going on. Checking..

[2016-10-24 19:44] krmayankk commented on #33845
@kargakis The PR for the initial part would be ready by tomorrow. I am still new to this area, and have reached out to @janetkuo on slack for help. I wanted to basically confirm, where would the equivalent of Classify() from @caesarxuchao PR should be called from , in the deployment controller code to collect all the replica sets and fix their references. I am basically creating a  ReplicaSetContr

[2016-10-24 19:46] alkar commented on #35448
@yujuhong
[1.4-kubelet-high-cpu.svg.gz](https://github.com/kubernetes/kubernetes/files/548803/1.4-kubelet-high-cpu.svg.gz)

[2016-10-24 19:55] maclof commented on #22698
Never managed to figure this out, we ended up moving over to GKE cluster instead.

Would still like to see a fix for this, but I can no longer provide access to a server for this.

[2016-10-24 19:57] #35429 closed

[2016-10-24 20:00] davidopp commented on #35318
You mean toggle on a per-cluster basis? Isn't that going to cause a support nightmare?

I admit I don't remember this discussion. Is the idea basically the same as (3), where you can set a per-kind default PDB rule?

If each kind has an admission controller that creates the default PDB, you could set the default policy there, right?