[2016-04-21 01:28] mikedanese commented on #20228
This is not the normal behavior. Did you install gcloud with sudo? Feel free to fix.

[2016-04-21 01:30] mikedanese commented on #20228
this won't happen if you install it with `curl https://sdk.cloud.google.com | bash`

[2016-04-21 01:33] sjpotter commented on #20228
the problem is that kube-up runs gcloud under sudo in order to check if it should be updated (able to disable with an env variable).

that gcloud run (if the first of the day) creates the day's log dir as root and hence future runs of gcloud do not work.

I dont see a way to fix it without a hack.

[2016-04-21 01:34] mikedanese commented on #20228
it doesn't run as sudo if you install it with `curl https://sdk.cloud.google.com | bash`

[2016-04-21 01:36] yifan-gu commented on #24563
@euank What's the test name of the 1st test? Is the pod using the host's /etc/hosts?

[2016-04-21 01:37] mikedanese commented on #20228
This https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L76 check needs to be made better

[2016-04-21 01:44] expz commented on #19235
I think the error message is correct (`Error: client: etcd cluster is unavailable or misconfigured
`), but here is an explanation to save first-time users time:

This can happen when the etcd node addresses ('endpoints') are not published or are incorrect. The default behavior of `etcdctl` is to overwrite the list of endpoints (which are specified, e.g., in the `etcdctl` `--endpoint` flag) using t

[2016-04-21 02:03] sjpotter commented on #20228
Probably the correct fix is for gcloud to have a command to determine if
its package manager installed.  It already knows that it is and fails the
self update routines because of that.
On Apr 21, 2016 4:38 AM, "Mike Danese" <notifications@github.com> wrote:

[2016-04-21 02:06] yifan-gu commented on #23944
I am happy to implementing something like this.

[2016-04-21 02:10] yifan-gu commented on #23944
@bgrant0607 But the problem for using annotation for stage1 image in rkt, as mentioned in https://github.com/kubernetes/kubernetes/issues/23944#issue-146443351, is that this could give users privilege without noticing the API server, and API server has no way to check and prevent it..

[2016-04-21 02:11] streamnsight opened #24578 "upgrade to 1.2.2 etcd TLS issues"
reported here and on slack.

http://stackoverflow.com/questions/36758328/kubernetes-1-2-2-api-server-fails-cant-find-mounted-certs-for-tls-on-etcd

I'm been struggling to get `api-server 1.2.2` to run with **etcd** secured with **TLS**.

I am upgrading from `1.1.2` to `1.2.2`

In 1.1.2 I was using the `--etcd-config` flag and had a file that looked like:

[code]

now this is no longer supported an

[2016-04-21 02:17] ravilr commented on #6079
@davidopp @kubernetes/sig-cluster-ops
with regards to node drain, when upgrading the nodes in a baremetal cluster in a rolling manner, the pods killed as part of drain gets replaced by new pods by the rc manager. is there any way to prevent the replaced pods from getting scheduled on still-to-be upgraded nodes.  Otherwise, the pods will be bounced around a lot of times till all/most of the nodes a

[2016-04-21 02:19] thockin commented on #24552
We knew this was coming.  It would be great to get a profile or trace while
some of these operations were happening.
On Apr 20, 2016 5:44 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-04-21 02:48] tweakmy commented on #24002
I tried to access via the apiserver through
http://kube-master:8080/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/

I got the same error on kubernetes v1.2.0

[2016-04-21 02:52] fejta commented on #24538
I'm going to consider this a github flake... although it seems a little perverse that we download over 150MB per job run...

[2016-04-21 03:00] fejta opened #24579 "TestRoundTripTypes flake in serialization_test.go: v1alpha1.PetSet does not implement the protobuf marshalling interface"
During https://github.com/kubernetes/kubernetes/pull/24519#issuecomment-212688280

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24519/kubernetes-pull-test-unit-integration/22150/?pli=1

[code]

[2016-04-21 03:16] fejta commented on #24579
@bprashanth @krousey any chance this is related to https://github.com/kubernetes/kubernetes/pull/24315?

[2016-04-21 03:16] AdoHe commented on #24546
@MHBauer this is necessary, we should always call the `close`, there is a lot of manually work, and if you have bandwidth, you can take this, we would really appreciate that. Thanks :)

[2016-04-21 03:33] mikedanese commented on #6079
The drain sets the node to unschedulable so this won't happen.

[2016-04-21 04:08] AdoHe commented on #24198
I did a test like this:
[code]
Then apply:
[code]

[2016-04-21 04:13] emaildanwilson commented on #18233
old thread here... I agree with non-local redirects not being allowed, just doesn't seem to make sense. If we get a 301 perhaps we could get the value of the redirect ( it looks like there is a Location header with the new full path ) and then do something like the following:

1. Get the root URL of the redirect location.
2. If it's a DNS name attempt to resolve it to an IP. If that fails, just ba

[2016-04-21 04:16] emaildanwilson commented on #24300
ping. @thockin you might be interested in commenting on this based on your previous work in this area.

[2016-04-21 04:17] emaildanwilson commented on #14586
I'm closing this since the label change of this error was completed a while ago.
Thank you!

[2016-04-21 04:17] #14586 closed

[2016-04-21 04:20] smarterclayton commented on #24579
This is because for some reason the submit queue rebuild didn't catch the flake before merging.  Protobuf landed first, merging a new api object like petset should have failed.

[2016-04-21 04:21] smarterclayton commented on #24579
Quick fix is to rebuild the proto marshalers and push.

[2016-04-21 04:22] brendandburns opened #24583 "kubectl label doesn't work with third party objects."

[2016-04-21 04:22] smarterclayton commented on #24579
Also, hack/verify-generated-protobuf.sh is broken, which probably is the root cause.

[2016-04-21 04:22] brendandburns commented on #24583
[code]

[2016-04-21 04:26] ravilr commented on #6079
@mikedanese
I'm talking about having a way to avoid replaced pods getting binded to the other nodes in the cluster which are yet to be upgraded. Otherwise, when i get to upgrade those other nodes, the pods on it will be terminated again. this means every time a node is drained for version upgrade, it is possible that pods belonging to some rc/replicasets are continuously terminated and moved aroun

[2016-04-21 04:26] smarterclayton commented on #24579
Looking at it now

[2016-04-21 04:27] brendandburns opened #24584 "kubectl edit doesn't work with third party objects"
it only displays the metadata part.

[2016-04-21 04:36] thockin commented on #24300
I swear I opened a bug on this but I can't find it.  I'm retitling this for clarity

What does "prefer" mean?  Always use?  90%?  Even in the face of overload?  Once you go down this route, you need a more concrete heuristic than "prefer".

To say "There is some concern" about imbalance is being polite.  This is fundamentally the main reason we DON'T implement this today.  At least GCE doesn't hav

[2016-04-21 04:54] smarterclayton commented on #24579
Three problems:

1. verify-generated-protobuf wasn't updated when we made update-generated-protobuf use docker, so it didn't fail out
2. The script was verifying the old API groups, not any of the new API groups that have been added
3. PetSets merged without protobuf serializations (although pkg/api/serialization_test should have failed, possibly the job didn't build with the latest master?), whic

[2016-04-21 04:57] thockin commented on #24553
I like the idea of batching the updates.  Good project for someone if
community - not too hard and reasonably approachable.

On Wed, Apr 20, 2016 at 1:06 PM, Matthias Rampke <notifications@github.com>
wrote:

[2016-04-21 05:06] streamnsight commented on #24578
So i made a little progress in the sense I managed to get into the container, by making it run the scheduler instead of the apiserver

So I can now get inside the container and was able to cat the files apiserver is complaining about

So i don't understand the problem: either the error is not reporting the actual problem, or there is some other issue with this TLS setup

[2016-04-21 05:17] smarterclayton commented on #24579
Something about the merge bot is broken - it merged #24315 without all the tests being green: `k8s-merge-robot merged commit 1f8bd21 into kubernetes:master 2 of 6 checks passed`.  That's why this broke - @kubernetes/sig-testing

[2016-04-21 05:20] Random-Liu commented on #24579
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24443/kubernetes-pull-test-unit-integration/22151/

[2016-04-21 05:27] danehans commented on #24397
@thockin that sounds similar to how addons register themselves with the addon-mgr service. Here is how I envision the flow:

1. Node PXE boots.
2. One or more pieces of metadata (i.e labels) are provisioned to the node.
     a. The label can be delivered post-PXE using something like cloud-init, Ignition, etc..
3. The labels are based on built-in or user-defined attributes.
3. The node, with it's

[2016-04-21 05:32] joaoandremartins opened #24586 "Unable to connect to the server: x509: certificate signed by unknown authority"
Trying to do anyting with kubectl (e.g., kubectl get po, kubectl create -f service.yaml, etc.) results in the same:

$ kubectl create -f service.yaml
Unable to connect to the server: x509: certificate signed by unknown authority

This is from Google's internal network.

What certificate is it talking about? Where is it getting it from? I never installed any certificate or was asked for one.

gclou

[2016-04-21 05:41] smarterclayton commented on #24579
Spawned https://github.com/kubernetes/kubernetes/pull/24587 since there is something wrong with update-generated-protobuf - will merge that to fix the failing test and then debug the generator in the morning.

[2016-04-21 06:13] euank commented on #24563
Test "should provide DNS for the cluster" (really anything in `e2e/dns.go` I believe, but that's a good example one). Although I'm talking about two failures, they're both in the same test as that test fails in both of those ways at once.

The host's `/etc/hosts` file is not used and that wouldn't help, since the missing entry is `$podIP    $podHostname` (the docker & kubelet+docker behavior).

[2016-04-21 06:15] wojtek-t commented on #24473
That's super strange - I'm not able to reproduce this problem.

[2016-04-21 06:23] AdoHe commented on #23551
we can close this now.

[2016-04-21 06:26] bryk commented on #24002
@nebirhos @tweakmy

How about other addons? Do they work? E.g., heapster? I guess this is problems with the cluster setup guide or your env. Dashboard UI works nicely with typical Kubernetes setups

[2016-04-21 06:26] #24579 closed

[2016-04-21 06:28] martinmjk commented on #16836
I had DNS resolution issue with busybox pod . I created a new pod using   another image  and now able to resolve the FQDN kubernetes.default.svc.cluster.local. how ever I still get he below message in the skydns log

“skydns: failure to forward request "read udp 10.254.0.100:53: i/o timeout”.

Why this message still pops up ? Is this something really I need to worry?

[2016-04-21 06:31] derekwaynecarr opened #24588 "Unable to launch container, error complaining about SHM size must be greater than 0"
I am getting errors like the following:

[code]

I am running the following:

[code]

Are we now required to set a `ShmSize` moving forward now that we have switched to the docker engine API?  I was able to work around it on my system by supplying `ShmSize` like the following:

[code]

which I think is consistent with what docker CLI is doing by default.

/cc @kubernetes/sig-node @vishh @Random-Li

[2016-04-21 06:35] davidopp commented on #6079
Unfortunately this isn't possible right now. But coincidentally, we were recently discussing (see link directly above) exposing some of the things like Kubelet version as labels. If we did that, then it would be possible to do what you suggested (set a "preference" for the new kubelet version on all of your pods before doing the upgrade).

[2016-04-21 06:38] derekwaynecarr commented on #23563
@Random-Liu - I think we need to set ShmSize now when using docker engine-api for create container.  see: https://github.com/kubernetes/kubernetes/issues/24588  , let me know thoughts and I will send a PR.

[2016-04-21 06:42] wojtek-t commented on #24578
@xiang90 @hongchaodeng

[2016-04-21 06:51] derekwaynecarr commented on #24588
Since this blocks my ability to launch containers, bump to p0.  See associated PR that sets ShmSize to match what docker CLI does by default.  We could probably get fancier with ShmSize in future.

[2016-04-21 06:58] johscheuer commented on #24530
@zhb it doesn't look like it's an issue with Docker because I can pull the images and run them:

[code]

I'll try to updated Docker on the Fedora host:

[code]

Now I get the following errors:
[code]

Which is probably related to https://github.com/kubernetes/kubernetes/issues/24588

[2016-04-21 07:26] Random-Liu commented on #24588
@derekwaynecarr `ShmSize` is added after docker 1.9+, and is documented in docker 1.10.
As is documented:
[code]
Go-dockerclient doesn't have this issue because it doesn't even support it see [https://github.com/fsouza/go-dockerclient/blob/master/container.go#L599-L645], so the filed is omitted when json encoding.

While the engine-api supports it now see [https://github.com/docker/engine-api/blob

[2016-04-21 07:35] #23551 closed

[2016-04-21 07:50] thockin commented on #24510
If it is easy to do, that would be awesome

On Wed, Apr 20, 2016 at 1:52 PM, Patrick Baxter <notifications@github.com>
wrote:

[2016-04-21 08:04] Random-Liu commented on #24588
@derekwaynecarr
In our ContainerVM, we are using the earliest docker 1.9.1:
https://github.com/docker/docker/commit/a34a1d5

While the `ShmSize` PR gets in after that:
https://github.com/docker/docker/pull/16168

The version you are using quite new:
https://github.com/docker/docker/commit/ee06d03

When I validated docker 1.10, we were still using go-dockerclient, which doesn't have this problem (s

[2016-04-21 08:49] cvle opened #24590 "Flickering routes on GCE when registering with FQDN"
Hi!

I was manually deploying with CoreOS on GCE.
The default hostname recognized by CoreOS is a FQDN, thus the nodes where registered
with FQDN. Kubernetes didn't complain about this. There were no error logs. The kube-controller-manager was creating and destroying routes every second. Correcting the hostname fixed the problem.

If this is a GCE only problem, the gce cloud provider, should at lea

[2016-04-21 08:51] wikiwi commented on #24590
Here are the logs produced by the kube-controller-manager:

    routecontroller.go:94] Creating route for node k8s-master.c.mesa-1287.internal 10.244.0.0/24 with hint eaea3301-0781-11e6-8649-42010a8c0002
    routecontroller.go:112] Deleting route k8s-eaea3301-0781-11e6-8649-42010a8c0002 10.244.0.0/24
    routecontroller.go:97] Could not create route eaea3301-0781-11e6-8649-42010a8c0002 10.244.0.0/

[2016-04-21 08:58] antoineco commented on #15077
ping @justinsb @thockin, I believe this should be re-opened.

[2016-04-21 08:59] 0x777 opened #24591 "Deleting and recreating a ThirdPartyResource fails"
[code]

`route-resource.yaml`

[code]
1. Create the resource

[code]
2. Delete the resource

[code]
3. Create the same resource again

[code]

I was deleting the third party resource as the controller-manager wouldn't start (#24380).

[2016-04-21 09:14] hanikesn opened #24592 "Kubectl drain doesn't know about ReplicaSets"
Kubectl won't automatically delete Pods managed by a ReplicaSet only ReplicationController, Job, or DaemonSet.

[2016-04-21 09:17] wojtek-t commented on #24473
@derekwaynecarr - are you running this on mac? We used to have some problems in the past that it was working on linux, but wasn't working correctly on mac. However, I don't have mac, so I'm not able to debug it if that's the case.

[2016-04-21 09:21] AdoHe commented on #24584
I will take a look.

[2016-04-21 09:21] ncdc commented on #24588
We have a new Fedora Docker RPM pending to fix this.

On Thursday, April 21, 2016, Lantao Liu <notifications@github.com> wrote:

[2016-04-21 10:15] zhouhaibing089 commented on #24592
Are you using the HEAD code? It should be handled in this commit: https://github.com/kubernetes/kubernetes/commit/fdf409861ace0ebab0786d509321bfce4a75f98d

[2016-04-21 10:57] zhouhaibing089 commented on #24546
also search this one `TODO: Uncomment next two lines and remove third line when fix #19254`

[2016-04-21 12:11] jsmucr commented on #23976
It just did. :/

[2016-04-21 12:23] victorgp commented on #22609
This is actually an important issue that can break the high availability of the whole cluster.
The DNS service relies on the default kubernetes service to connect to the api. If an api server goes down, as hanikesn says, 50% of the requests will fail, hence, the DNS service will fail, therefore, the whole cluster might fail. Is there any plan to change the design of that apiserver-count?

[2016-04-21 12:39] derekwaynecarr commented on #24473
No Mac, Linux Fedora 23

On Thursday, April 21, 2016, Wojciech Tyczynski <notifications@github.com>
wrote:

[2016-04-21 12:42] wojtek-t commented on #24473
Super strange.. the I don't know why I can't reproduce it.

[2016-04-21 12:48] halvorgb commented on #16083
@justinsb to answer your "If not how do you access the k8s API?" question.

If the kubernetes master instance is not exposed with a public ELB you can access the instance by tunneling through or connecting to a VPN on a public facing bastion host.

I'm not suggesting that this is the best way for everyone to deploy kubernetes on AWS, but we use this approach for other services.

[2016-04-21 13:01] zhouhaibing089 commented on #24546
It could be fixed with this simple command line:

[code]

will submit a PR.

[2016-04-21 13:25] tweakmy commented on #24002
I am using calico v0.15 as per documented in the http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/

heapster are working via nodeport, the insecure way.

[2016-04-21 13:31] huang195 commented on #24494
Looking at this a bit more, it seems there are other problems in a HA setup. Due to having multiple apiservers servicing requests and during quota checking, nothing is locked, but we might get the following problematic race condition:

1. apiserver1 checks if pod A can be admitted (let's assume quota is set to 5 and 4 are in use)
2. apiserver2 checks if pod B can be admitted (again, it will see we

[2016-04-21 13:38] deads2k opened #24596 "Give .Admit the original object on Update"
Admission choices for updates often need access to the original object in order to compute a diff.  The current structure of the code makes this difficult/non-obvious.

A similar decision is logically required for "protected" objects on a delete.

@derekwaynecarr @kubernetes/rh-cluster-infra is there an existing issue/design for making this work?

[2016-04-21 13:52] gmarek opened #24597 "NodeController shouldn't evict Pods when all Nodes are NotReady"
cc @davidopp @lavalamp @mml @roberthbailey @cjcullen @fgrzadkowski

[2016-04-21 13:54] bryk commented on #24002
So you say that when you access the Dashboard UI through nodeport, it works? And when through apiserver proxy, it does not?

[2016-04-21 13:57] djtm commented on #19464
+1 trying to build cadvisor.

[2016-04-21 13:58] derekwaynecarr commented on #24588
@Random-Liu - I am fine with option 1, I will update this PR.

[2016-04-21 14:09] derekwaynecarr commented on #24588
Per discussion this morning with @eparis and @ncdc , I am not a fan of hidden default flags that have a history of breaking us.  As a result, I would like kube to set an explicit default `ShmSize` using the option 1 proposed by @Random-Liu and I wonder if we should look to expose `ShmSize` as a per container option in the future.

[2016-04-21 14:21] pmorie opened #24599 "Remove support for golang 1.4"
The `etcd` client code now makes has a dependency on the golang 1.5 http API (the `Cancel` call), so we should remove support for go 1.4.

[2016-04-21 14:41] jankoprowski commented on #23726
apiserver failed with:

[2016-04-21 14:59] derekwaynecarr commented on #24596
@deads2k - i had been looking the original object up on update where the admission controller required it.  do enough controllers have this requirement on update to see the previous object to make it global?

[2016-04-21 15:15] deads2k commented on #24596
I want to do it to allow authorization to make a decision based on the labels of an original object.  The lookup is "mostly" right, but not perfectly right.

[2016-04-21 15:40] yujuhong commented on #24558
I don't think that's true.

[2016-04-21 15:47] cjcullen opened #24603 "Petset unit test failure"
PR Builder saw this on #23066:

[code]

Don't know if this is fixed at head, but I need a re-test issue to link to.

[2016-04-21 15:57] activeshadow opened #24604 "Pod applications using the default Kubernetes API service get an x509 unknown certificate authority error."
I'm running a Kubernetes cluster in high availability mode with 3 master nodes. When I try using the default Kubernetes service to access the API from pod applications within the cluster, I get an error about the certificate being signed by an unknown authority. An example of this is when I run the DNS cluster add-on -- `kube2sky` logs such an error. Thus, the only way I can get the DNS cluster ad

[2016-04-21 15:58] duglin commented on #24036
+1 to this idea - I'd like to see runc in there too.
Any ideas on how the image management side of things will work?

[2016-04-21 16:08] ncdc commented on #24552
cc @kubernetes/rh-scalability

[2016-04-21 16:30] bprashanth commented on #24558
Maybe we're not actually hitting this?
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/runtime.go#L96

[2016-04-21 16:43] pwittrock opened #24605 "e2e_node/privileged_test Failed waiting for pod to become running"
[logs](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/1855)

09:28:38 • Failure [65.098 seconds]
09:28:38 PrivilegedPod
09:28:38 /var/lib/jenkins/workspace/kubelet-gce-e2e-ci/go/src/k8s.io/kubernetes/test/e2e_node/privileged_test.go:83
09:28:38   should test privileged pod [It]
09:28:38   /var/lib/jenkins/workspace/kubelet-gce-e2e-ci/go/src/k8s.io/kuber

[2016-04-21 16:51] ncdc commented on #24603
Dupe of #24579, should be fixed. I can't repro on head.

[2016-04-21 16:53] ncdc commented on #24603
@cjcullen ok to close?

[2016-04-21 16:56] rthellend opened #24606 "kubectl panic: runtime error: invalid memory address or nil pointer dereference"
This is on GKE. Everything at version 1.2.2.

[code]

[code]

@ivanpi-mtv @kenashcraft

[2016-04-21 16:58] pwittrock opened #24607 "e2e flake: Pod in waiting, expected running"
[logs](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/15221)

09:30:17 • Failure [263.986 seconds]
09:30:17 [k8s.io] Kubectl client
09:30:17 /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:426
09:30:17   [k8s.io] Kubectl describe
09:30:17   /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/k

[2016-04-21 16:59] eparis commented on #24579
The bot can race with pushes between when it starts testing and when it merges...
https://github.com/kubernetes/contrib/issues/422

[2016-04-21 17:03] smarterclayton opened #24608 "Reduce build times by not compiling protobuf / codecgen for certain platforms"
Client performance for non linux/amd64 platforms is unlikely to be important enough that we should compile protobuf and codecgen for those platforms.  I suspect conditionally disabling those everything except a few would dramatically cut compile times and speed up builds and the merge queue

@kubernetes/sig-api-machinery @kubernetes/sig-testing

[2016-04-21 17:07] Random-Liu commented on #24588
It seems that docker doesn't support ShmSize of 0 after https://github.com/anusha-ragunathan/docker/commit/ef1d410b0270fa7309d76aded34113396def7fb2, but change to support that after https://github.com/docker/docker/commit/5190794f1d85d5406611eb69c270df62ac1cdc7f.

There is no public docker release between them, so this should not happen in any docker released version.  Maybe we don't need to care

[2016-04-21 17:12] jfrazelle commented on #20870
don't worry I'll be the pusher for 1.3 :innocent:

[2016-04-21 17:14] thockin commented on #20870
I'mma hold you to that.

On Thu, Apr 21, 2016 at 10:13 AM, Jess Frazelle <notifications@github.com>
wrote:

[2016-04-21 17:17] cjcullen commented on #24603
Yep. Looks like I didn't look hard enough.

[2016-04-21 17:17] #24603 closed

[2016-04-21 17:22] rthellend commented on #24606
Possibly related, it looks like the deployment controller is stuck or dead.

[code]

This is on GKE. Is there anything we can poke at ourselves to figure out what the problem is?

[2016-04-21 17:25] maclof commented on #22698
@thockin could you confirm if you received my email with the server details? No problem wrt time frame just want to make sure you received it.

[2016-04-21 17:25] thockin commented on #24552
@wojtek-t @gmarek FYI this is what I was mentioning earlier

[2016-04-21 17:27] thockin commented on #15077
@rootfs or @childsb - any free time to investigate?

[2016-04-21 17:29] matthiasr commented on #24552
It turns out this is more than a performance issue, once it crosses a certain threshold. I noticed that the endpoints list is stuck at

which doesn't add up to 5000. It stayed stuck at this even when scaling down to 5 pods (which in itself worked fine). The kube-controller-manager is spewing

It looks to me like this is running into a timeout and failing to ever update again.

Collecting profiles

[2016-04-21 17:34] matthiasr commented on #24552
Here's the corresponding log output from kube-apiserver:

[2016-04-21 17:37] rootfs commented on #15077
@antoineco which kube release you are using?

[2016-04-21 17:40] caesarxuchao opened #24610 "Fallback to json unmarshal if Ugorji codec is not generated"
Currently, if the Ugorji codec is not generated for types, a json serializer doesn't panic or return an error when decode, it just returns an empty result. It should fallback to use the json.Unmarsh instead.

@krousey @wojtek-t

[2016-04-21 17:40] pwittrock commented on #24607
Another 1 for gke

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/4800

[2016-04-21 17:44] Random-Liu commented on #23809
docker/engine-api#190 got merged, will close this issue after bumping up the engine-api version.

[2016-04-21 17:44] rthellend commented on #24606
The same thing happened to another deployment (nginx-http-redirect) in the same cluster. I deleted and recreated both to get us going again.

[2016-04-21 17:46] wojtek-t commented on #24610
ohh - actually it should fallback. At least that's what documentation claims.

[2016-04-21 17:48] david-mcmahon commented on #24169
cc: @erictune, possibly elated to feature workflow, specifically using another repo with looser ACLs for labeling and committing.

[2016-04-21 17:49] janetkuo commented on #24309
cc @gmarek

[2016-04-21 17:50] timothysc commented on #24552
This is data model problem, on a narrow use case.  We've seen this for a while but it's never popped to the top of the list

/cc @gmarek @kubernetes/sig-scalability

[2016-04-21 17:50] pditommaso commented on #24533
Note the same happens when creating a job with the command `kubectl create -f job.yaml` and the YAML descriptor contains `restartPolicy: Never` .

[2016-04-21 17:50] spiffxp commented on #24343
/cc @kubernetes/sig-testing

[2016-04-21 17:51] luxas commented on #24169
@david-mcmahon Please consider https://github.com/kubernetes/kubernetes/issues/24228#issuecomment-210119344.
I'm not sure we should move out issues and such things out of k8s main repo just because Github's ACL model is bad

[2016-04-21 17:53] matthiasr commented on #24552
Just to be clear, this is also not a blocker for us.

To recover from this, I now used `kubectl delete endpoints` on the offending object. The controller-manager recreated it again with the correct set of IP:port pairs within seconds.

[2016-04-21 18:00] caesarxuchao commented on #24610
I'm attempting a PR.

[2016-04-21 18:01] janetkuo commented on #24533
cc @mikedanese @erictune for `job` behavior

[2016-04-21 18:04] pmorie opened #24611 "Seccomp umbrella issue"
Umbrella issue for seccomp support

Original issue: #20870

Alpha implementation (1.3):

- [x] [Proposal](https://github.com/kubernetes/kubernetes/pull/24602)
- [ ] [Implementation](https://github.com/kubernetes/kubernetes/pull/25324)

[2016-04-21 18:16] jayunit100 commented on #24471
culprit: `config.DefaultReporterConfig.Verbose` this is currently set to true.

- This has the advantage of giving us spec progress.
- The disadvantage is that in ginkgo that also means the Logs get streamed out.

So, I think the simplest solution is to have the debug logs go into an output file, which has both INFO as well as DEBUG.

[2016-04-21 18:22] streamnsight opened #24612 "Can someone explain those flags?"
Can someone explain those flags in `apiserver` ?

[code]

[2016-04-21 18:24] luxas commented on #24599
/cc @luxas @wojtek-t @ncdc @hongchaodeng @ixdy

[2016-04-21 18:25] liggitt commented on #24578
are you passing these flags in a shell script or in a container command array? If it is in a container command array, I think you need to omit the quotes around the filenames

[2016-04-21 18:26] luxas commented on #24608
cc @luxas

Will this affect any features for platforms that get this disabled?

[2016-04-21 18:27] ncdc commented on #24599
RHEL 7 doesn't have go > 1.4 yet. It's coming (I don't remember the ETA off-hand). But we need to take this into consideration.

cc @eparis @smarterclayton

[2016-04-21 18:28] streamnsight commented on #24578
@liggitt  good point! will try this. Thanks

[2016-04-21 18:36] streamnsight commented on #24578
@liggitt that did it...
what a stupid way to waste 2 days!

[2016-04-21 18:38] eparis commented on #24599
It is available internally, but that is stinky. Maybe we can get him to push it to CentOS....

[2016-04-21 18:43] aaronlevy commented on #23944
@yifan-gu it seems like eventually this would be a good candidate for an admission controller that can validate runtime options (ex. the [admissions section](https://github.com/kubernetes/kubernetes/blob/master/docs/design/security_context.md#admission) of securityContext)

If the crashloop / events are clear that the reason a pod is failing to run is that a `privileged=true` context is required,

[2016-04-21 18:47] ixdy commented on #24599
cc @spxtr @krousey

[2016-04-21 18:51] vishh commented on #24350
sysfs being read-only is not expected. However @thockin mentioned that he observed it once. AFAIK, we need to look into docker since the kubelet doesn't change sysfs mount option. A privileged container is always expected to have a rw mount of sysfs.

[2016-04-21 18:55] yujuhong commented on #23397
Awesome!

Just wanted to double-check: Is containerd in the same cgroup with docker? If so, we can check the memory increase and bump the limits in the test accordingly.

[2016-04-21 18:56] smarterclayton commented on #24608
We should separate server platforms from clients, and internal clients from external clients.  Internal server platforms and clients want protobuf.  External, high traffic clients should have the jsoncodec gen.  Internal server clients probably should preserve jsoncodec for now.  All others probably don't need either, or if they do, the want it selectively.

[2016-04-21 18:58] smarterclayton commented on #24552
This may be because the object is too large to store in etcd (near the 1M
limit).

On Thu, Apr 21, 2016 at 1:53 PM, Matthias Rampke <notifications@github.com>
wrote:

[2016-04-21 19:04] hsaputra commented on #19049
Thanks @Hui-Zhi

[2016-04-21 19:04] antoineco commented on #15077
@rootfs 1.2.2, I updated my first comment.

[2016-04-21 19:11] #24588 closed

[2016-04-21 19:12] timstclair opened #24614 "Add a `shellcheck` based pre-submit"
[shellcheck](https://github.com/koalaman/shellcheck) is a bash script linter which could help catch common problems in our (numerous) bash scripts. I know we'd like to reduce our use of bash scripts, but until then I think being stricter about script quality would be helpful.

/cc @zmerlynn

[2016-04-21 19:15] jayunit100 commented on #24471
Dug some more, I have a patch that will do this the easy way, it will suppress everything to level `-v 2` using `Debugf`.  That way the user can decide and no need for extra directories/files.

[2016-04-21 19:22] yujuhong commented on #24576
Do you mean "set the podStatus.IP to  apiPodStatus.IP before SyncPod?"

IMO, we should call [the block to determine the IP](https://github.com/kubernetes/kubernetes/blob/bf69b2a8629b0ba35b5d9986a808477eb069d2a4/pkg/kubelet/kubelet.go#L3290) only once. Why don't we populate set the `kubecontainer.PodStatus.IP` before calling `generateAPIPodStatus`?

[2016-04-21 19:23] pmorie commented on #24599
Bleh

[2016-04-21 19:28] gmarek commented on #24552
@xiang90 @hongchaodeng

[2016-04-21 19:33] yujuhong commented on #24558
Then the problem could be that kubenet did not synchronously sets the CIDR. Anyway, closing this issue until we have further information.

[2016-04-21 19:33] #24558 closed

[2016-04-21 19:33] xiang90 commented on #24552
@smarterclayton My best guess is that the object contains too many sub-objects and encoding/decoding starts to slow everything down. For the 1mb limit in etcd, it should not really slow anything down from the io latency perspective.

[2016-04-21 19:46] discostur commented on #14642
I think i ran into the same issue trying two deploy a pod with a GCE PD and a replication controller set to replicas=2.

Regarding the documentation that should be possible:

So i setup a new cluster with one minion and Kubernetes 1.2.2. Then i created a PD, PersistentVolumes and my ReplicationController:

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: volume-nginx-data-disk
spec:
  c

[2016-04-21 19:54] #18118 closed

[2016-04-21 19:55] saad-ali commented on #14642
@discostur That's a known symptom of the same issue.

[2016-04-21 19:55] ixdy commented on #23299
I'm guessing these failures were due to Jenkins being overloaded. I'm going to close out, but please reopen if we see this happening still.

[2016-04-21 19:55] #23299 closed

[2016-04-21 20:21] Random-Liu commented on #24576
@yujuhong SGTM

[2016-04-21 20:31] nikhiljindal opened #24619 "e2e flake: Kubectl client [k8s.io] Kubectl expose [It] should create services for rc [Conformance]"
[code]
https://github.com/kubernetes/kubernetes/pull/24574#issuecomment-213100652

[2016-04-21 20:33] ixdy commented on #23915
Related: #24599

[2016-04-21 20:33] nikhiljindal opened #24620 "e2e flake: Kubectl client [k8s.io] Simple pod [It] should support exec through an HTTP proxy"
[code]
#24574 (comment)

[2016-04-21 20:43] lavalamp commented on #24597
This is like a (very) rough approximation of the rule "don't evict things that have no place to go". It's obviously super complicated to implement that rule completely, but there's some obvious conditions that we can catch, like this one.

(The motivation here is to avoid having node controller do a bunch of evictions when it and apiserver are segmented from the nodes.)

[2016-04-21 20:47] roman-shuhov commented on #24276
these nodes had a free memory available... OOM happened because pods tried to use more memory than allowed

[2016-04-21 20:56] quinton-hoole commented on #22301
I think this is for @mikedanese.  Could you also add a priority Mike?

[2016-04-21 20:57] quinton-hoole commented on #22301
Tentatively assigned priority p2.

[2016-04-21 20:59] quinton-hoole commented on #21657
Agreed, assigning priority p1.  We should try to fit this into our next release.

[2016-04-21 21:03] caesarxuchao commented on #24610
On second thought, it makes more sense to return an error than falling back to json.Unmarshal, because we want to force people to use ugorji.

[2016-04-21 21:05] quinton-hoole commented on #21925
This sounds like something that could be solved with a combination of Jobs and Cluster Autoscaling.  @erictune in case he wants to chime in.

[2016-04-21 21:08] lavalamp commented on #24200
#24597 is our planned method of ameliorating this in the short term.

[2016-04-21 21:09] quinton-hoole commented on #24353
@thockin Could you easily run your demo again against current head to confirm that the bug is fixed?

[2016-04-21 21:15] quinton-hoole commented on #23641
Removing redundant teams.  I think it's better if one team/TL track this.  A good solution would be to write an e2e test against GKE clusters that fails if resource consumption by kube-system pods increases beyond some specified maximum.

[2016-04-21 21:34] mikedanese commented on #24353
Yes, this would be explained by a previously fixed bug.

[2016-04-21 21:37] xiaomengyi commented on #13776
Support this feature, it would be helpful.

[2016-04-21 21:55] zmerlynn opened #24628 "Travis builds timing out"
I manually validated #24621, but Travis is timing out during the build phase:

[code]

[2016-04-21 21:58] david-mcmahon commented on #24262
kubernetes-e2e-gce-serial still not passing.  Are we going to pass on the alpha release tomorrow?
My understanding is that kubernetes-e2e-gce-serial is a gating job for a release.
@zmerlynn @roberthbailey

[2016-04-21 22:06] yujuhong commented on #24276
AFAIK, kubelet reports the "system oom" event when the machine is out of memory (not when the container is killed). Your kubelet (or maybe docker as well) was restarted a few times probably due to this.
You can check our kern.log for related messages. An example for the system oom event: https://github.com/google/cadvisor/blob/b9e36443c490f54cee2f1539d27364730a226e33/utils/oomparser/systemOomExamp

[2016-04-21 22:21] childsb commented on #15077
I'll have a look at this and update in the next day or so.

[2016-04-21 22:23] zmerlynn commented on #24628
Doesn't seem limited to `release-1.2`.

[2016-04-21 22:25] pwittrock commented on #24619
Another one:

[logs](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/4816)

[2016-04-21 22:30] ixdy commented on #23611
Travis is having another bad day. We should just turn it off.

[2016-04-21 22:38] tweakmy commented on #24002
Yes. That is correct

[2016-04-21 22:39] lenadroid commented on #24388
@dchen1107 the logs just show the message form the F# Interactive (as it should) but it shouldn't have exited. Seems like it just can't stay on. Should the app be running as a Linux daemon or something else?

[2016-04-21 22:43] lenadroid commented on #24388
UPDATE.

I have tried to change the simple "fsharp/fsharp:latest" image to another image where there would be a service listening to a port, this is how I want to use the container.

The image is called "username/someservice:mytag" and has a service listening to the port 3000.

I run the service as:

`mono Service.exe`

When I look at the logs I see this:

[code]
So the container is in the same st

[2016-04-21 22:44] hongchaodeng commented on #24528
# NOTE

@deads2k and others referencing to this
Please share links to unit test logs

[2016-04-21 22:50] spxtr commented on #23611
I'm okay with (c).

[2016-04-21 22:57] spxtr commented on #24628
related: #23611

[2016-04-21 23:01] caesarxuchao opened #24635 "tests in test/integration/ don't fail as expected"
hack/test-integration.sh passes even with an explicit "t.Fatalf()" in the test/integration/pods.go:
[code]
(see https://github.com/caesarxuchao/kubernetes/commit/682875b5ff213c4808e7156ae421074838be70c4#diff-8f08d0bc51b37140950a80ee07940db1R36).

Appreciate any insight.

@ixdy @krousey

[2016-04-21 23:05] spxtr commented on #24614
cc @krousey you were talking about this earlier.

It has to only check modified lines.

[2016-04-21 23:08] krousey commented on #24614
False positives are a problem. For instance, not being able to follow a `source` call through an environment variable causes an error.

I would be much more comfortable with a non-blocking way to point out these issues, and leave to it human judgement.

[2016-04-21 23:09] ArtfulCoder commented on #24508
test has been green for a while?

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/15238/testReport/(root)/Kubernetes%20e2e%20suite/_k8s_io__PrivilegedPod_should_test_privileged_pod/history/

[2016-04-21 23:10] zmerlynn commented on #24614
Yeah, I've been interested in doing this for a while, but `shellcheck` can be pretty persnickety and I haven't yet taken the time to configure it to be less noisy (or figure out if it can be). It's good, though.

[2016-04-21 23:12] krousey commented on #24635
The script essentially runs `go test -tags 'integration no-etcd' ./test/integration`. Check the build tags at the top of the file. It's not even compiled in.

[2016-04-21 23:16] caesarxuchao commented on #24635
The script is using the 'no-docker' tag, not 'no-etcd', so I expect the tests to be compiled.

[2016-04-21 23:16] yujuhong commented on #24508
@ArtfulCoder this is a ported test in the node e2e suite. The ported test is functionally the same as the original test, with minor changes to for the node e2e test environment.

[2016-04-21 23:20] timstclair commented on #24614
Yeah, it would definitely need to be configured to ignore a lot of types of errors, but I still think it could be used to check for some types of errors. We could start with a pretty minimal set.

[2016-04-21 23:22] krousey commented on #24635
run `go list -f '{{.TestGoFiles}}' with those build tags and see if that file in in there, just to be sure.

[2016-04-21 23:22] hongchaodeng commented on #24528
We are able to reproduce this locally and confirm the failure:
[code]

Submitted #24638 to fix it.

[2016-04-21 23:25] david-mcmahon opened #24639 "Automate and/or create an interface for spinning up jenkins jobs for a new branch"
At the time a new branch is created, [new jenkins jobs need to be spun up](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/releasing.md#manual-tasks-for-new-release-series).  See also #20946.

This is currently a labor-intensive process that requires much specialized knowledge of the current state of jenkins and jenkins in general.   Ideally this can be distilled to a simple interf

[2016-04-21 23:25] hongchaodeng commented on #24528
For a concrete reason why the test failed:

- That specific sequence is kinda non-blocking because the object is filtered.
- It calls Stop() really fast and cancel context.
- sync() returns context.Canceled

[2016-04-21 23:26] david-mcmahon commented on #20946
Filed #24639 to address the jenkins step.  Resetting this to track the latestReleaseBranch change (which is already done in https://github.com/kubernetes/release/pull/1 but not submitted yet).

[2016-04-21 23:28] caesarxuchao commented on #24635
`pods.go` doesn't have "_test" in the filename..

[2016-04-21 23:32] krousey commented on #24614
I would settle for something that just produced a quick-fix format artifact in the GCS bucket, and then the PR munger reading from it and commenting on the PR. We could re-use that for other linters too.

[2016-04-21 23:32] caesarxuchao commented on #24635
Thanks @krousey, the command is handy.

[2016-04-21 23:33] david-mcmahon commented on #24262
cc @krousey, (build cop for a couple of days), though the issue has been around for a couple of weeks.

[2016-04-21 23:35] dchen1107 opened #24640 "Missing storage medium type for VolumeStats in Kubelet metrics /summary API"
In today's /summary API, VolumeStats doesn't include storage medium type, so that we might misaccount /tmpfs usage as a disk usage.

[2016-04-21 23:45] davidopp commented on #24597
@gmarek Is there some reason you didn't assign this to yourself?

Also, I assume you're going to integrate this into #20979 ?

[2016-04-21 23:46] krousey commented on #24262
ping @davidopp

[2016-04-21 23:49] davidopp commented on #24262
@gmarek can you take a look at this?

[2016-04-21 23:58] yujuhong opened #24642 "e2e flake: "kubectl describe pod not running" and logs not copied"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24634/kubernetes-pull-build-test-e2e-gce/36503/

[code]

[code]

It looks like that pod was stuck at image pulling, since that was the last event. It's kind of a known issue that image pulling could be problematic at times, but the test should still avoid using non-tagged images (#20836).

Also, the logs from the node

[2016-04-22 00:05] bgrant0607 commented on #15244
cc @kelseyhightower

[2016-04-22 00:09] ArtfulCoder commented on #24508
Did it ever pass in the node e2e test env ?

[2016-04-22 00:12] dchen1107 commented on #24640
cc/ @derekwaynecarr for correctness of out-of-memory detection.

[2016-04-22 00:12] dchen1107 commented on #24640
I will send a pr to fix this shortly.

[2016-04-22 00:13] pdbogen commented on #2289
Is there any guidance about *how* to accomplish this with network plugins?

[2016-04-22 00:14] njoneja opened #24643 "Doc bug: jobs"
http://kubernetes.io/docs/user-guide/jobs/ - the example does not create a job whose selector is `app=pi` as indicated - rather, it creates a job whose selector looks more like: `controller-uid=71da17d0-081d-11e6-a71c-42010af00145,job-name=pi`

[2016-04-22 00:15] thockin commented on #24353
I can rebuild my cluster and try tomorrow.  Truthfully I only saw it the
one time, so feel free to close this and if it pops up I can reopen.

On Thu, Apr 21, 2016 at 2:35 PM, Mike Danese <notifications@github.com>
wrote:

[2016-04-22 00:19] #24353 closed

[2016-04-22 00:20] bgrant0607 commented on #24643
cc @erictune

[2016-04-22 00:21] yujuhong commented on #24508
Yes, node e2e runs per-PR builds, and this is just one failure/flake.

[2016-04-22 00:23] yujuhong commented on #24508
@ArtfulCoder: the suite: http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/
The test: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/privileged_test.go

[2016-04-22 00:55] nikhiljindal commented on #24628
This seems to be happening very frequently now.
[code]

cc @k8s-oncall

[2016-04-22 03:09] njuicsgz opened #24648 "kube-proxy userspace: service may direct to a failed endpoint continuely with session affinity setting"
I used kube-proxy userspace mode with SessionAffinity=ClientIP. I got a failed endpoint by accessing service, while I have other available endpoints. It is not make sense and different from other LoadBalancers (ELB, nginx). What I want is that choosing a session affinity endpoint firstly, however, if the affinity endpoint can not be connected (port down), I'd like to move to other endpoints.

I wi

[2016-04-22 03:54] bgrant0607 opened #24649 "Simplifying specification of multiple files/URLs in kubectl"
Would make it easier to stand up examples and apps without multiple flags, multiple commands, or a separate tool.

Ideas, some of which have been proposed before:
- Recursive directory traversal: #19767
- Manifest that can specify multiple files/URLs
  - ideally the same file of relative paths could work for both locals files and fetched via http
- Default file/URL manifest (ala Dockerfile or Make

[2016-04-22 04:32] bprashanth commented on #24648
proposed fix sounds ok to me, do send a pr

[2016-04-22 04:56] fejta commented on #24538
http://kubekins.dls.corp.google.com/job/kubernetes-test-go/11173/console

[2016-04-22 05:25] suryaveerc opened #24650 "Unable to access URLs from master proxy URIs (grafana, influxdb)"
I have setup Kubernetes coreos cluster on Openstack on [Auro.io](auro.io) cloud.

My setup has 1 Master, 1 node DNS, heapster, influxdb and grafana. Everything is working which I check from pod logs but I am not able to access grafana UI and for that matter any URL from master proxy URL. I even tried HPA example php-apache app, that's also not working.

I tried **112**,**118**, and **122** release

[2016-04-22 05:30] bgrant0607 commented on #18064
Even kubectl create --edit would be useful. That would allow us to do something like:
[code]

[2016-04-22 06:01] davidopp opened #24651 "Periodically verify that the getting started guides with "project" support level work"
http://kubernetes.io/docs/getting-started-guides/

Someone on Slack reported a week or so ago that the Fedora RPM (I think they were following [Fedora manual config](http://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/)) had all the extension APIs disabled for some reason.

[2016-04-22 06:02] bgrant0607 commented on #24228
cc @hongchaodeng

[2016-04-22 06:02] bgrant0607 commented on #24228
cc @fejta

[2016-04-22 06:34] wojtek-t commented on #23394
I think there was still some confusion about what this is about. I tried to clarify it in:
https://github.com/kubernetes/kubernetes/pull/24142#issuecomment-213285093
but also pasting here for completeness

@wojtek-t So I dove all through the code and I've come full circle on this. Splitting out a relist interval makes no sense to me, because for the reflector "a resync is a relist" (that's all it

[2016-04-22 06:43] wojtek-t commented on #24599
@lavalamp
In the past we had a policy of supporting previous go version (for rollback policy). Did we already drop it?

[2016-04-22 06:49] wojtek-t commented on #24610
Actually I don't agree. ugorji is just a performance optimization. If because of some reason we don't have codec for it, we _should_ fallback to json. The only thing that we should probably do at this point is log a warning/error that we are doing it.

[2016-04-22 06:49] wojtek-t commented on #24610
@kubernetes/sig-api-machinery

[2016-04-22 06:50] wojtek-t commented on #24610
Another point is that once we migrate to protobufs and we are sure they are stable for one release, we should probably get rid of ugorji.

[2016-04-22 06:54] cjcullen opened #24652 "Kubectl client [AfterEach] flakes"
Three failures, all trying to delete resources after tests:
[code]
(added later by @fejta) However the actual failure is earlier in the logs search for `[AfterEach] [k8s.io] Kubectl logs` or `[AfterEach] [k8s.io] Simple pod`:

[code]

[2016-04-22 06:55] cjcullen commented on #24652
Full log here: https://gist.github.com/cjcullen/aa8ce51e92481275286a129c737490d8

[2016-04-22 06:55] bgrant0607 commented on #23189
Sorry, @ihmccreery. Most of the things I listed were undesirable (which fits under "test whether"). And many make the most sense in the case that the node is updated in place, which a number of users do.

[2016-04-22 07:43] kant111 commented on #23092
For google this is not acceptable especially when they preach on how to build systems that can take care of all the internal plumbing with single command.

[2016-04-22 07:46] matthiasr commented on #24552
@smarterclayton it maxed out at 707831 bytes, well below 1MiB

[2016-04-22 08:03] xlgao-zju commented on #24036
@duglin
Cause this is a POC, so we will use an OCI

[2016-04-22 08:24] mnowrot opened #24654 "Docker multinode startup issue"
I'm trying to follow instructions given here http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/ to start the master node on Debian 8 Jessie. However, after running a command that should start the master node:
[code]
I'm receiving the following output:
[code]
I'm using docker 1.11.0 Could anyone help me out here? I'm happy to provide further information if necessary.

[2016-04-22 08:42] fejta commented on #23538
If the solution is to delete this job that is totally fine by me

[2016-04-22 08:50] #24528 closed

[2016-04-22 08:55] mfanjie opened #24656 "type assertion failed on clientset"
I am working on federation scheduler, my code need list & watch clusters, replciasets federation apiserver, while my code can not work properly, the followings are detail description:
1. If I use List function to get all replicasets, from result you can see that on ReplicaSetList, the type meta is there {ReplicaSetList extensions/v1beta1} , but if you look at the detail of every element, you will

[2016-04-22 08:57] njuicsgz commented on #24648
It works for me following above reproduce steps.

[2016-04-22 09:01] mfanjie commented on #23653
when testing federation scheduler, I got a problem of listing and watching clusters and replicasets, I opened a issue https://github.com/kubernetes/kubernetes/issues/24656, and so far I suppose there is defect on decoder.
Please kindly advise.

[2016-04-22 09:04] hanikesn commented on #24592
Using 1.2.2. So I will close this.

[2016-04-22 09:04] #24592 closed

[2016-04-22 09:09] chriscapetown commented on #18703
I'm also experiencing this - did you manage to find a solution @jlowdermilk  ?

[2016-04-22 09:17] piosz commented on #23538
Decreasing priority since the job is disabled.
@dchen1107 do you know who set up the job?

[2016-04-22 09:32] mfanjie commented on #24656
I am debugging on codec to make sure if there is problem, so far the Codec UT with embedded body works. Meanwhile appreciate anyone can give me some suggest.

[2016-04-22 10:17] Aleishus opened #24657 "how can get the hostIP in a pod"
I want to get the hostIP in a pod through the downward API，but failed this my error：

  “spec.template.spec.containers[0].env[2].valueFrom.fieldRef.fieldPath: invalid value 'status.hostIP', Details: error converting fieldPath”

[2016-04-22 10:24] 0x777 opened #24658 "kubectl create -f doesn't work for custom resources introduced with ThirdPartyResource"
[code]
1. Create a custom resource

  `route-resource.yaml`
[code]
[code]
2. Create a new route

  `postgres-route.json`
[code]

[code]

  However, `POST`ing the data to the resource path works.
[code]

[2016-04-22 10:43] fzu-huang opened #24659 "when i set -metric_resolution=5s ,heapster will be closed with panic."
Here is the log.

[code]

I only ran 3 kube-slavers(Ver.1.2.2).  So I think it is not k8s' problem. Now I have  to ehance  `metric_resolution` from 5 seconds to 20 seconds to avoid this panic. And I am not sure  whether heapster can collection metrics in a short time.

[2016-04-22 11:07] #24335 closed

[2016-04-22 11:53] hongchaodeng opened #24660 "[flake] ./hack/verify-godep-license.sh failed; no change in Godeps/"
Encountered failure of ./hack/verify-godep-license.sh. It's flaky, and no change in Godeps/. Failure looks like:
[code]

See the [log](https://00e9e64bac9f9b513fecefb6f8d3150de656e4cd34ff2ca752-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24377%2Fkubernetes-pull-test-unit-integration%2F22400%2Fbuild-log.txt?qk=AD5uMEu5LumsPQyzFFGbNc8PK5bpHZLU4u

[2016-04-22 12:14] johscheuer commented on #24530
I found the problem, the docker version of the master node doesn't get updated:

[code]

if I update the docker version manually it works. I will have a deeper look into why it fails and hopefully I can fix it.

[2016-04-22 12:20] mmlt commented on #16836
Issues:
- kube-dns-v11 events: Liveness probe failed: HTTP probe failed with statuscode: 503
- skydns container log: failure to forward request "read udp 8.8.8.8:53: i/o timeout"
- `nslookup kubernetes` from within a pod fails

Environment:
- CoreOS 1010.1.0 on vSphere, master and nodes with static ip's, no DHCP
- K8s "v1.2.0+coreos.1", GitCommit:"fb71087b07e941d0925d5c25007ff7f0edca868b"
- this e

[2016-04-22 12:36] gmarek commented on #24597
No reason, except that I'm not going to start working on it for next few weeks. If someone wants to jump in, I don't want to discourage her/him.

I'd rather keep it separate from #20979 - those are orthogonal changes.

[2016-04-22 12:47] smarterclayton commented on #24552
That's the etcd key size or API response size?

[2016-04-22 12:48] smarterclayton commented on #24610
We should warn at compile time if types don't have ugorji, but it should not be required

[2016-04-22 12:49] smarterclayton commented on #23394
I agree 100% with everything you described.

[2016-04-22 12:49] gmarek opened #24661 "Verify flake: verify-generated-protobuf.sh"
[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24291/kubernetes-pull-test-unit-integration/22388/

cc @kubernetes/sig-testing @wojtek-t

[2016-04-22 12:59] matthiasr commented on #24552
This is the size of the object I `etcdctl get`

[2016-04-22 13:13] smarterclayton commented on #24552
Ok

On Fri, Apr 22, 2016 at 8:59 AM, Matthias Rampke <notifications@github.com>
wrote:

[2016-04-22 14:02] dims opened #24664 "swagger definition for pods/{name}/log is incorrect"
The following API, does not produce appliction/json, it returns text/plain:
/api/v1/namespaces/{namespace}/pods/{name}/log

The API should has an incorrect responseModel as well:
"responseModel": "v1.Pod"

Please see the definition here:
https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json#L8400

See verbose output for ["kubectl --v=99 logs nginx-app-2883164633-2u2nf"](htt

[2016-04-22 14:37] gmarek commented on #24262
Yup. It's a real bug:
[code]

[2016-04-22 14:39] batikanu commented on #4869
One update, I managed to make it work with docker v1.10.3. The problem is caused by the new docker version v1.11.0. In this version cadvisor summary returns correct list but  kubelet_api/stats/summary can't retrieve pod list. I think the problem might be in kubelet since the v.1.11.0 is not yet supported by k8s.

[2016-04-22 14:42] eparis commented on #23611
How about we just remove .travis.yaml from master. That will keep travis running on release-1.2 but will stop it on master....

[2016-04-22 14:43] gmarek commented on #24262
My best guess is that it's caused by parallel computation of bindings, as number of Pods assigned to a Node is read from NodeInfo, not from the 'AssumedPods' struct. @hongchaodeng

[2016-04-22 14:52] gmarek commented on #24262
The fun thing is that tests started to fail in this way on Apr 12th between 12:44 and 16:26 UTC and as far as I can tell nothing was merged in scheduler codebase back then.

[2016-04-22 14:53] gmarek commented on #24262
Run 1038 is the last 'good' one that I was able to find.

[2016-04-22 15:02] hongchaodeng commented on #24262
How can we reproduce it?

...
Non-terminated Pods:        (111 in total)

@gmarek Can you help clarify more detailed what's happening?

[2016-04-22 15:04] bgrant0607 commented on #24290
@chrislovecnm If you could get the number of replicas and the hostname prefix, it seems like you could compute a fixed set of nodes and then just poll DNS for updates for those nodes.

[2016-04-22 15:04] gmarek commented on #24262
Easily - just run MaxPods test - it reliably fails:). If you want to dig a bit deeper you can add `--delete-namespace=false` flag when running tests.

Scheduler assigned 111 pods to a given node. It certainly *looks* like the binding issue, but as I wrote - nothing was merged at the time it started to fail.

[2016-04-22 15:04] bgrant0607 commented on #24290
...assuming we use PetSet #24030

[2016-04-22 15:15] bgrant0607 commented on #15244
A good doc on pod statuses (phase, reason, message, conditions, etc.) is clearly needed:

#17460
#18206
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/WVUtiCEgWQw/cQo2zFx9CAAJ

[2016-04-22 15:18] screeley44 commented on #24568
seems the mkfs for xfs might be squashed - referencing BZ here  https://bugzilla.redhat.com/show_bug.cgi?id=1329370

will continue to focus on adding better logging for the identified areas above

[2016-04-22 15:24] bgrant0607 commented on #15244
Let's please separate spec and status documentation. This page documents probes, restartPolicy, and phase, and mentions conditions and containerStatuses:
http://kubernetes.io/docs/user-guide/pod-states/

[2016-04-22 15:32] chrislovecnm commented on #24290
@bgrant0607 was talking on the slack dev channel and one of the developers in there was not actually not too concerned. I am thinking that we keep the same API call, but limit the number of seeds saved.

[2016-04-22 15:33] wojtek-t commented on #24262
But parallel binding wasn't merged at that point... so there has to be at least another issue.

[2016-04-22 15:35] gmarek commented on #24262
Yeah - my point exactly. It may be that we were always broken and some environment change caused this.

[2016-04-22 15:35] thockin commented on #24657
It's not currently exposed, but we're gathering information about why
people want stuff like this, so we can find a good answer.  What are you
hoping to do with that?

On Fri, Apr 22, 2016 at 3:17 AM, Aleishus <notifications@github.com> wrote:

[2016-04-22 15:40] quinton-hoole commented on #24656
@nikhiljindal Can you provide any advice to @mfanjie here?

[2016-04-22 15:41] wojtek-t commented on #24262
hmm - take a look here:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L425

it seems we are not checking the maxPods predicate at all.
It's only part of  PodFitsResources, which we aren't calling by default, I think.

[2016-04-22 15:42] gmarek commented on #24262
They moved it here: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L457

[2016-04-22 15:43] zhouhaibing089 commented on #24612
It is the tls config for authentication with kubelet, that's to say, the kubelet should know that it is a trusted connection from a real api-server.

[2016-04-22 15:44] gmarek commented on #24262
https://github.com/kubernetes/kubernetes/pull/20204 was merged at the time.

[2016-04-22 15:49] gmarek commented on #24262
(I was looking in the wrong place when checking what was merged back then) - I'll try to revert it.

[2016-04-22 15:55] quinton-hoole commented on #23269
@mfanjie It sounds like all your questions have been addressed here?  I'm going to close this issue on that assumption, but feel free to re-open if you still need anything else from us.

[2016-04-22 15:55] #23269 closed

[2016-04-22 15:58] bgrant0607 commented on #24649
On multiple files/URLs, that could be as simple as a list. For example, for examples/guestbook, it would be:
[code]
Explicitly naming the file:
[code]
or
[code]
or, using Kubefiles as a convention (which maybe should be configurable in preferences):
[code]

[2016-04-22 15:58] ncdc commented on #24656
@mfanjie can you provide more of your sample code that has `WatchFunc: ...`? e.g. the imports and the entire object containing WatchFunc?

[2016-04-22 16:03] smarterclayton opened #24667 "CodecFactory should not have a deep copy generated"
I tried adding +gencopy=false to the codecfactory and it still created one.  Maybe we need a package level comment for exclusion.

[2016-04-22 16:03] smarterclayton commented on #24667
@wojtek-t fyi,not a high priority, just noticed.

[2016-04-22 16:06] wojtek-t commented on #24667
I will take a look next week.

[2016-04-22 16:11] quinton-hoole commented on #22077
Needless to say, I didn't get back to this due to other conflicting priorities.
If anyone else want to take a look at this, contributions would be most welcome.  I've added the "help-wanted" label.
You can use #19578 as a guideline.
@spiffxp Do you perhaps want to take a swing at it?

[2016-04-22 16:14] dims opened #24668 "curl command from kubectl for "exec" does not work"
Running this command:
`kubectl --v=99 exec nginx-app-2883164633-2u2nf "ls"`:

Outputs the sample curl command:
[http://paste.openstack.org/show/495175/](http://paste.openstack.org/show/495175/)

Trying the curl command does not work:
[http://paste.openstack.org/show/495176/](http://paste.openstack.org/show/495176/)

[2016-04-22 16:18] mfanjie commented on #24656
I am still investigating on the issue, from my current findings, I highly suspect the issue happens here.
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/release_1_3/typed/extensions/v1beta1/extensions_client.go#L104
From here I see extensions is registered as groupVersion and this groupVersion is input parameter of codec, so I think all receiving data will be d

[2016-04-22 16:22] gmarek commented on #24262
Yeah - #20204 broke our scheduler. Test for `maxPods` is not included in `podFitsResourcesInternal` which is currently only predicate registered (instead of `PodFitsResources`).

cc @davidopp @HaiyangDING @lavalamp

[2016-04-22 16:31] bprashanth opened #24669 "Write an example using interemediate certs and Ingress"
This causes more confusion than it should.
https://gist.github.com/bprashanth/176c76b8f713a1e88bfcff532fd1a5da

It's easy to mess up. The GCE L7 won't accept anything other than RSA-2048 and ECDSA P-256, and the cert will get rejected unless ordered as:

[code]

Additionally we should tell people how to check for the validity of the chain (https://github.com/kubernetes/kubernetes/issues/20176 shou

[2016-04-22 16:36] ncdc commented on #24656
You're importing `extensions "k8s.io/kubernetes/pkg/apis/extensions/v1beta1"`. You may need to just import `k8s.io/kubernetes/pkg/apis/extensions` instead.

[2016-04-22 16:41] mfanjie commented on #24656
@caesarxuchao please kindly advise

[2016-04-22 16:43] jlowdermilk commented on #18703
I don't think you should be attaching a persistent disk directly without using a [persistent volume claim](http://kubernetes.io/docs/user-guide/persistent-volumes/#persistentvolumeclaims) if you want to use rolling update. Unless you specifically restrict the pod to run on 1 node by adding a [node selector](http://kubernetes.io/docs/user-guide/node-selection/), the rolling update can (and likely w

[2016-04-22 16:44] jlowdermilk commented on #18703
cc @thockin

[2016-04-22 16:50] bprashanth opened #24672 "Write CNI conf to network-plugin-dir"
Writing this https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/kubenet/kubenet_linux.go#L158 to filesystem allows us to share a single kubelet generated CNI config for all runtimes (eg rkt).  Potential downside is that we'd end up with 2 type=bridge cni confs that conflict.

@freehan @dcbw @yifan-gu

[2016-04-22 16:54] mfanjie commented on #24656
@ncdc as subreplicaset is defined with v1beta1 properties, and subreplicaset is created based on replica set properties. So I want to get replica set with the version of v1beta1.
Other wise it is hard to create subreplicaset.

[2016-04-22 16:57] thockin commented on #21484
Can I assign this to you @liggitt or someone else?  My time has been so fragmented I have not been able to get to this and I won't for at least another week or 2.

[2016-04-22 16:57] ncdc commented on #24656
Understood, however, I was reacting to this error: `reflector.go:378] k8s.io/kubernetes/federation/plugin/pkg/federated-scheduler/factory/factory.go:237: expected type *v1beta1.ReplicaSet, but watch event object had type *extensions.ReplicaSet` which means it's returning extensions.ReplicaSet (internal), not v1beta1.ReplicaSet.

[2016-04-22 17:05] dcbw commented on #24672
Why does it need to get written out when it'll just get passed by Kubernetes to CNI via stdin?  I guess I'm a bit fuzzy on how rkt works here; in the rkt case is kubenet *not* spawning the CNI plugins itself but somehow delegating?  If so, why is that?

[2016-04-22 17:05] dcbw commented on #24672
(note that I specifically made kubenet not write out a file because that entirely avoids file management issues, and the configuration may change later too)

[2016-04-22 17:10] streamnsight commented on #24612
is apiserver the only component to use this TLS setup? i guess apiserver is controlling kubelet, right? So it's only needed on the master.

[2016-04-22 17:12] goblain commented on #24612
you need it configured on both ends (api and kubelet)

[2016-04-22 17:13] bprashanth commented on #24672
With the docker runtime we start pause, call cni, join everything else to pause via `--net=`.
With rkt you tell it to create a pod, it uses CNI.

[2016-04-22 17:13] dcowden opened #24677 "Kubernetes logging, journalD, fluentD, and Splunk, oh my!"
In order to run k8s in our environment, I need to get logging information into Splunk.  I need to pick up node logs AND application logs. I know at this point there is no drop-in solution, so I know i'll need to hack something together.

What I'm seeking in this issue is not a 'here's the solution', though that would be great of course.

I'm seeking advice on which of several solutions I've come u

[2016-04-22 17:16] pwittrock commented on #24619
Seeing a lot of this on (log)[https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24445/node-pull-build-e2e-test/2546]

[2016-04-22 17:19] dcbw commented on #24672
So how does rkt+kubenet actually work then?  Does that mean that rkt wouldn't use large parts of the existing kubenet code for setup/teardown?

[2016-04-22 17:21] yifan-gu commented on #24672
@dcbw It works if rkt can find the CNI config files. But not exactly the way as the kubenet code. E.g. plugin.Shaper is not called.

[2016-04-22 17:23] nikhiljindal commented on #14071
From https://github.com/kubernetes/kubernetes/issues/24664:

In addition to the incorrect responseModel, `produces` is wrong as well. It says:
[code]
while it returns `text/plain`

cc @dims

[2016-04-22 17:24] nikhiljindal commented on #24664
Closing as dup of https://github.com/kubernetes/kubernetes/issues/14071

[2016-04-22 17:24] #24664 closed

[2016-04-22 17:24] dcbw commented on #24672
I guess what I'm wondering is if rkt doesn't actually use much kubenet code at all, should it be using kubenet?  Or does it just care about the CNI config that kubenet writes, and maybe *that* should be generalized?

[2016-04-22 17:26] yifan-gu commented on #24672
@dcbw To be more clear, rkt embeds the CNI, so when rkt starts a pod, it will try to add the pod to the network with the given name (passed by `--net=` flag to rkt CLI).

Yes, it only cares about the CNI config files that kubenet writes for now.

[2016-04-22 17:26] oO-Zam commented on #17397
From 1.2.0 to ( hopefully ) 1.2.2

[code]
This fails in the `.../cluster/aws/util.sh` at line 1500 because there is no `aws/templates/common.sh` file. even if you ignore the fact that after going through 3 different sourced scripts, the `$KUBE_ROOT`path becomes a mess. I guess it's technically correct, but reads like the steps in Salsa...

Any other way to force an upgrade from 1.2.0 to 1.2.2 in a

[2016-04-22 17:32] yifan-gu commented on #24672
@dcbw One reason I can't use `SetUpPod` / `TearDownPod` is that there is no pod infra container in rkt, so there is no stage that "when the network namespace of the pod is available, but the containers are not running".
In rkt, when the pod's network namespace is available, the pod is already running.

cc @steveej @jonboulle @sjpotter @euank

[2016-04-22 17:32] lavalamp commented on #24599
We haven't made a group decision to drop that policy, but it was only ever an artifact of history and I think in this case I'd advocate for dropping 1.4 support asap.

[2016-04-22 17:35] bprashanth commented on #24672
The goal would be consistent CNI config so other runtimes don't have to come up with their own, none of the other bells and whistles.
@kubernetes/sig-network

[2016-04-22 17:39] lavalamp commented on #24262
Sounds like this could have been caught by a unit or integration test.

On Fri, Apr 22, 2016 at 9:23 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-04-22 17:46] yujuhong commented on #24607
Closing as a dup of #24642

[2016-04-22 17:46] #24607 closed

[2016-04-22 17:46] freehan commented on #24350
Maybe here is the answer https://github.com/kubernetes/kubernetes.github.io/blame/master/docs/getting-started-guides/docker.md#L34

[2016-04-22 17:47] smarterclayton commented on #24628
It's because protobuf bumped this step up from taking X<10 minutes to X>10 minutes.

[2016-04-22 17:47] pwittrock commented on #24654
#24114

[2016-04-22 17:47] pwittrock commented on #24114
Another issue with multinode docker #24654

[2016-04-22 17:49] janetkuo opened #24679 "unit test flake: k8s.io/kubernetes/pkg/storage/etcd3"
~~https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24138/kubernetes-pull-test-unit-integration/21794~~
Updated external link: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24138/kubernetes-pull-test-unit-integration/21794

[code]

[code]

Hit this in #24138

@kubernetes/sig-api-machinery

[2016-04-22 17:49] gmarek commented on #24262
Yup - if you convince someone that rewriting SchedulerPredicates tests into integration ones is a P0 more important than other things, I'm happy to do it:) Or I can help someone.

[2016-04-22 17:53] caesarxuchao commented on #24656
@mfanjie, I submitted a PR a couple of days ago to change the codec used by release_1_3:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/release_1_3/typed/extensions/v1beta1/extensions_client.go#L118

Are you using this latest code? Does it work? If not, I think there's something wrong in the codec code, I can take a look later.

[2016-04-22 17:54] timstclair commented on #4869
@batikanu FYI, that should be fixed by https://github.com/kubernetes/kubernetes/pull/24113.

[2016-04-22 17:59] gmarek opened #24680 "unit flake: kubelet: TestHandlePortConflicts"
[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24674/kubernetes-pull-test-unit-integration/22446/

cc @kubernetes/sig-node @dchen1107

[2016-04-22 18:04] steveeJ commented on #24672
@dcbw

Even though I probably don't understand the details of your concerns I think that rkt should not use any kubernetes code, ever. The other way round, kubernetes should also not depend on rkt's CNI code.

I would expect kubernetes network setup to work exactly the same for every runtime that has the option to run in the invoker's netns. In case of rkt, it an be asked to not touch the netns us

[2016-04-22 18:04] xiang90 commented on #24628
@zmerlynn @smarterclayton @spxtr Has anyone contacted travis to see if we can make the timeout longer as a temp solution?

[2016-04-22 18:20] wojtek-t commented on #24599
I also vote for dropping 1.4 support - just was ensuring if it isn't against some policy.

[2016-04-22 18:21] yujuhong opened #24681 "kubelet unit test error message spam: open /proc/sys/net/bridge/bridge-nf-call-iptables: no such file or directory"
The logs are full of warning messages such as:

[code]

The test kubelet should have use mock network plugin that doesn't attempt to run sysctl.

/cc @dcbw

[2016-04-22 18:26] yujuhong commented on #24680
@gmarek The same set of tests have failed twice for your PR.
[code]

Could you run the test locally to see if it's caused by your PR?

[2016-04-22 18:26] smarterclayton commented on #14071
Well, if you get an error it can produce any of those.  So it's correct.

On Fri, Apr 22, 2016 at 1:24 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-04-22 18:30] gmarek commented on #24680
Will do. It'll be very sad if it is.

[2016-04-22 18:30] dchen1107 commented on #24680
The only change in this area lately I could think about is #20204, but I double check the code, I couldn't figure out the link between the failure and #20204.

[2016-04-22 18:31] timothysc commented on #23394
After chatting with @wojtek-t it makes more sense.  I was missing a subtlety in how the delta_fifo.replace relabeled the contents as "Sync" to be handled in the Process function.

[2016-04-22 18:33] yujuhong commented on #24680
kubelet does share the same predicate library with the scheduler, so it's not unlikely.

@gmarek, assigning the issue to you to rule out or verify whether this is a flake. Feel free to unassign after the triaging.

[2016-04-22 18:38] gmarek commented on #24680
I have it failing on the head...

[2016-04-22 18:39] spxtr commented on #24628
Until we've got the mungers ignoring travis, #24683 ought to get stuff moving again.

[2016-04-22 18:39] gmarek commented on #24680
Oh sorry, no - I had a dirty master branch.

[2016-04-22 18:43] dchen1107 commented on #24681
cc/ @freehan

[2016-04-22 19:03] bprashanth commented on #21484
Yeah this is apiserver proxy failing to contact a pod:
[code]

I confirmed that the kublet started the pod in https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/3092/artifacts/, but there are no master logs. @kubernetes/goog-testing

So i found another log:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22263/kubernetes-pul

[2016-04-22 19:09] dims commented on #24668
@nikhiljindal : couple of more feedback on this /exec curl problem

- looks like the kubernetes api service is switching protocols to SPDY/3.1 (http://paste.openstack.org/show/495175/) so any code generated by swagger will not work either.
- the swagger json does not have something to say (-H "X-Stream-Protocol-Version: v2.channel.k8s.io" -H "X-Stream-Protocol-Version: channel.k8s.io" ) is needed

[2016-04-22 19:11] jeffvance commented on #21498
I have a spreadsheet that summarizes some of the slowness: https://docs.google.com/spreadsheets/d/12XPwt53ueqpP2z1HyAuLdKjLmCOsGtqn59OSBJPY0Zk/edit#gid=484771528
Summary is that when a claim is created before its matching pv, the binding can take over 500x longer than if the pv is created first.
I experimented with various pvclaimbinder-sync-period values which are shown in the spreadsheet. Using

[2016-04-22 19:13] erinboyd commented on #21498
@jsafrane please see findings in spreadsheet.

[2016-04-22 19:14] gmarek commented on #24680
Yeah - it was a problem with PR/kubelet tests. Closing this issue.

[2016-04-22 19:14] #24680 closed

[2016-04-22 19:16] luxas commented on #4869
@charleschen That's expected, because the `hyperkube` image hasn't all things installed, and only supports `emptyDir`, `hostPath`, `gitRepo` and maybe some other volume plugin.
However, if we think it's worth it, we could add `nfs-common` to the list of packages to install
cc @vishh

[2016-04-22 19:18] luxas commented on #24654
I haven't come across this earlier, but haven't tried `docker-1.11` out either

[2016-04-22 19:18] cjcullen commented on #24224
Fixed by #24429

[2016-04-22 19:18] #24224 closed

[2016-04-22 19:20] martynd commented on #20391
@mwhooker
At a guess, did you try that command based on [this comment](https://github.com/kubernetes/kubernetes/issues/22717#issuecomment-195048332?)?

If you are still experiencing the issue, try running `. /var/run/flannel/subnet.env && iptables -t nat -D FLANNEL -s $FLANNEL_NETWORK -d  $FLANNEL_NETWORK -j MASQUERADE` to automatically add the rule using the flannels runtime config.

If that isnt

[2016-04-22 19:40] jayunit100 opened #24684 "[e2e] confirm kubectl parity for std input vs files"
I'm not 100% confident there is parity between executing kubectl std in vs executing with file paths.

I don't have a clean and simple reproducer, but hacking around in `test/e2e/kubectl.go` internals, trying to replace static files with Standard input streams, it seems like `kubectl delete -f -` has different semantics than `kubectl delete -f file.json`.

**This could just be a function of how im

[2016-04-22 20:27] vishh commented on #4869
IIRC, @pmorie was looking into dynamically pulling in volume dependencies on-demand..

[2016-04-22 20:30] pmorie commented on #23982
@screeley44 and I spent some time talking about this one today, I suggested that he try slurping the last 10 lines or 1k out of the file and tacking it onto the error message returned by mount

[2016-04-22 20:31] huang195 opened #24685 "Response filter from Kube apiserver"
On the request path to the apiserver, there are different control points, i.e., authn, authz, admission controls. On the return path, is there any mechanism to filter the response? The specific use case is we'd like to hide host name and host ip from users and just have them use service ips to get to their pods. Is there already mechanism in place for this type of work? This would be useful for se

[2016-04-22 20:32] ixdy commented on #21484
We don't have access to master logs on GKE.

[2016-04-22 20:36] pmorie commented on #4869
What I would like to be able to do is containerize all mount operations so we can package fs drivers as containers and avoid dependencies on the host at all

[2016-04-22 20:48] spiffxp commented on #22077
thanks for the ping, but I'm buried under a pile of other PR's at the moment, I likely won't have bandwidth for this for a few weeks

[2016-04-22 20:50] nikhiljindal commented on #24668
Yes you need a SPDY aware client for using exec.
https://groups.google.com/forum/#!topic/google-containers/j03gw7PjUeY has some related discussion.

You are right. swagger generated client will not be work.

[2016-04-22 20:51] chrislovecnm commented on #24030
@bprashanth @bgrant0607 any idea when PetSet is due to arrive?

[2016-04-22 20:53] spxtr commented on #24628
Closing in favor of #23611

[2016-04-22 20:53] #24628 closed

[2016-04-22 20:55] mfanjie commented on #24656
maybe my code need rebase then, I will figure out later. Thanks.

发自我的 iPhone

在 2016年4月23日，上午1:54，Chao Xu <notifications@github.com<mailto:notifications@github.com>> 写道：

@mfanjie<https://github.com/mfanjie>, I submitted a PR a couple of days ago to change the codec used by release_1_3:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/release_1_3/typed/extension

[2016-04-22 21:01] gmarek commented on #21484
We don't have access to logs for real masters on GKE. We do have access to master logs in test projects. @roberthbailey @cjcullen

[2016-04-22 21:04] dchen1107 commented on #24677
cc/ @vishh

[2016-04-22 21:07] ixdy commented on #24661
Looks like this ran as the same time as the daily docker cleanup... guess it's a race of sorts. Wonder if we can run the cleanup only when no other jobs are running. @spxtr

[2016-04-22 21:07] dchen1107 commented on #24659
cc/ @mwielgus

[2016-04-22 21:08] pwittrock opened #24686 "kubernetes-e2e-gce-release-1.0/ flake Nodes Resize should be able to delete nodes"
Failed a couple times in the past few days:

Nodes Resize should be able to delete nodes

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/resize_nodes.go:460 Expected error: <*errors.errorString | 0xc20825dec0>: { s: "failed to wait for pods responding: pod with UID a2a6228f-08c4-11e6-9b4e-42010af00002 is no longer a member of the replica set. Must have been restarte

[2016-04-22 21:10] ixdy commented on #21484
The log dump scripts use ssh, and I don't think we have ssh access to masters anywhere.

[2016-04-22 21:12] arenoir opened #24687 "NFS example does not work on google container engine."
The nfs example at [/examples/nfs](https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/nfs/README.md) does not work on google container engine.

The nfs-server runs but the nfs-busybox won't mount the PersistentVolumeClaim.

The busybox pod errors out trying to mount the persistent volume claim.

[code]

The nfs-pv uses the nfs-server service ip.  Both the persistent volume and the

[2016-04-22 21:13] janetkuo commented on #24198
It failed on my machine too even when rollingUpdate is nulled explicitly.

[2016-04-22 21:14] dchen1107 commented on #24483
@goltermann Based on the events you posted, looks like the image is never successfully pulled. Or you filtered the related events.

[2016-04-22 21:14] gmarek commented on #21484
This is true;)

[2016-04-22 21:14] dchen1107 commented on #24483
Do you still have Kubelet logs somewhere?

[2016-04-22 21:17] a-robinson commented on #21484
Googlers have access to the master logs from test projects, as @gmarek mentions. This certainly isn't as useful as if everyone did, but they're available when needed and access to them is documented internally.

[2016-04-22 21:18] dims commented on #24668
@nikhiljindal : thanks for confirming. i understand that if i need both stdout and stderr then i'll need SPDY for multiplexing the streams. Would it be possible to help older clients if they wish just one of them? (say stdout only!)

[2016-04-22 21:18] erinboyd commented on #24687
What version of NFS are you using?

[2016-04-22 21:23] erinboyd commented on #24687
Can you also include your exports from the nfs server

[2016-04-22 21:23] arenoir commented on #24687
@erinboyd I don't know. What ever version is running in the google image from the example.     gcr.io/google_containers/volume-nfs

I can't find the source of google docker images.

This is a vanilla setup taken straight out of the documentation it should "just work".

[2016-04-22 21:25] arenoir commented on #24687
According to the [README](https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/nfs/README.md) it is exporting /mnt/data as /.

[code]

[2016-04-22 21:26] spxtr commented on #24661
I don't know if there's an easy way to do that. We're running jobs all the time on post-commit Jenkins, and it can take a few hours to go quiet...

[2016-04-22 21:30] yujuhong opened #24689 "Merge RunInContainer and ExecInContainer in kubelet's runtime interface"
For docker, [`RunInContainer`](https://github.com/kubernetes/kubernetes/blob/de5f40705851fcc30a3ec102b96b1a5415fedc10/pkg/kubelet/dockertools/manager.go#L1015) is implemented using `docker exec`, while `ExecInContainer` either using [`docker exec`](https://github.com/kubernetes/kubernetes/blob/de5f40705851fcc30a3ec102b96b1a5415fedc10/pkg/kubelet/dockertools/exec.go#L101) or [nsenter](https://githu

[2016-04-22 21:32] lenadroid commented on #24388
I've got my replication controller running normally by adding the following Unix specific code at the very end of the web service launch code:

[code]

As @i_no_see_pound on Twitter clarified "when there is nothing connected to stdin, ReadLine either returns right away or loops forever"

[2016-04-22 21:32] #24388 closed

[2016-04-22 21:41] pmorie opened #24690 "Add events for Volumes"
I think it would be beneficial for debugging to add events about volumes in the system.  A couple examples:
1.  A PV should have an event recorded when it is attached / detached from a node.
2.  We should make an event when a mount happens (whether it failed or not)
3.  We should make an event when a volume is formatted (whether the format fails or not)

If a volume that requires a cloud provider

[2016-04-22 21:45] vishh commented on #24677
@dcowden Thanks for picking this up!

The requirements for a logging solution is described [here](https://github.com/kubernetes/kubernetes/issues/17183#issuecomment-210090673) and `journald` does not satisfy some of the requirements.
The fact that *nix is moving to journald doesn't mean that k8s has to embrace it right? k8s is providing cluster management and I feel it is not necessary to treat al

[2016-04-22 21:51] nikhiljindal commented on #24668
cc @krousey @kubernetes/sig-api-machinery

[2016-04-22 22:00] craigbox opened #24691 "Update Wikipedia on a release"
https://en.wikipedia.org/wiki/Kubernetes has an Infobox with these two lines (hand-updated today) —

[code]

It would be great if updating this could be part of the release process.

[2016-04-22 22:15] freehan opened #24692 "Kubelet start SyncPod before PodCIDR is updated on Kubenet"
In most cases, our current system is fault tolerant enough to recover itself. But it is still unacceptable that cluster could not bootstrap properly in some cases. I will put up PR to fix this shortly.

kubelet has a safeguard, but kubenet kind of bypass it.
https://github.com/kubernetes/kubernetes/blob/release-1.2/pkg/kubelet/kubelet.go#L2365

the safeguard is based on runtimeState. But it is ini

[2016-04-22 22:18] smarterclayton commented on #24661
I also saw

[code]

in https://00e9e64bac9ae239af839370a064be9cfa90d8cc2954d696bc-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24666%2Fkubernetes-pull-test-unit-integration%2F22434%2Fbuild-log.txt?qk=AD5uMEuBBwIeXagwuD69rX1CNfz852NwqLVCDDHDBFmrR8Xx3R_1D4nNu6QthTQLXoafcbWpgVVSTTWZamUl0W-gMkrwTe-4XIkWRYtwhA6ivLyvCRpapK7O3lmAscQ70rkiswCYV_OHXkAniV

[2016-04-22 22:26] ixdy commented on #24661
That build did not happen at the same time as the cleanup job, so I don't think so.

[2016-04-22 22:26] goltermann commented on #24483
Yeah, it's this run http://pantheon/storage/browser/kubernetes-jenkins/pr-logs/pull/24234/kubernetes-pull-build-test-e2e-gce/36005/artifacts/e2e-gce-master-0-minion-55ql/

[2016-04-22 22:29] yifan-gu commented on #24672
@bprashanth @dcbw @steveeJ FYI I just created a PR #24688 which symlinks rkt's net.d directory to `--network-plugin-dir`, so that it can reads the CNI configs if plugin== cni or kubenet.

[2016-04-22 22:31] yifan-gu commented on #24689
@yujuhong I don't remember there is any special reason not to do this.

[2016-04-22 22:33] janetkuo commented on #18064
such as `kubectl expose` and `kubectl autoscale`

[2016-04-22 22:53] lavalamp commented on #24610
The problem is type meta is embedded, so if the parent type doesn't have the generated functions, then silently only type meta unmarshals stuff...

[2016-04-22 22:57] hongchaodeng commented on #24679
Logs?

[2016-04-22 23:00] xiang90 commented on #24679
@janetkuo We probably should not paste google internal link here. People outside google cannot access it.

[2016-04-22 23:00] lavalamp commented on #24679
She did post the external link, is it not working for you?

[2016-04-22 23:01] lavalamp commented on #24679
The failure is "	watcher_test.go:204: #1: ResultChan should have been closed"

[2016-04-22 23:02] xiang90 commented on #24679
@lavalamp No.

[code]

[2016-04-22 23:04] xiang90 commented on #24679
@lavalamp It redirects me to `https://login.corp.google.com/xxx/uberproxy...`.

[2016-04-22 23:06] jianhuiz commented on #24656
@caesarxuchao I met the same issue this morning when I rebased kubectl which included your change. My last rebase was at #23694
`616af68 ("Merge pull request #23694 from hongchaodeng/w", 2016-04-18)`
which was fine.

[2016-04-22 23:06] lavalamp commented on #24679
Oh, I see. @janetkuo when you visit the public link while logged into google corp, it redirects you to a non-google link, so copy-pasting that doesn't work.

Correct link should be: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24138/kubernetes-pull-test-unit-integration/21794

[2016-04-22 23:10] xiang90 commented on #24679
Now I can see it. It is dup of https://github.com/kubernetes/kubernetes/issues/24528 I think. It is fixed yesterday. All prs that after the fix should be fine, existing pr will need to rebase to get rid of that flaky test.

[2016-04-22 23:11] hongchaodeng commented on #24679
The failure happened even before #24570, which should give more info for why Watch failed.

[2016-04-22 23:12] njuicsgz opened #24695 "kubelet: pod should be terminated immediately once preStop complete"
- Use case
I have a RC with 5 pods. preStop.sh is defined to process all requests before shutdown the service in container. preStop.sh takes almost 2min generally, or 5min at most. So I should set "terminationGracePeriodSeconds": 300 for a graceful termination.

- Current behavior
I MUST wait for 5min no matter whether the preStop.sh is completed. when I use rolling update for all 5 pods, it takes

[2016-04-22 23:17] lavalamp commented on #24668
Yeah, I'm not 100% sure why we display the curl command, I guess it was a debugging thing. `kubectl` doesn't actually use curl. You might be able to get more data (i.e., avoid that particular error) by adding the right upgrade request headers, but I would not expect to get any data back without actually supporting SPDY.

[2016-04-22 23:25] bgrant0607 commented on #23497
@srcspider Thanks for the explanation. Please file a separate issue about readiness probe suggestions/improvements.

[2016-04-22 23:26] jianhuiz commented on #24656
@caesarxuchao I met the same issue this morning when I rebased to the latest master and regenerated the clientset. I then reverted to the previous generated code, it works fine.

[2016-04-22 23:27] smarterclayton commented on #24668
It's so a human can debug or emulate the API.  It's fairly common for
integrators to use (I use it occasionally).

[2016-04-22 23:45] yujuhong commented on #24695
PreStop hooks are indeed mostly used for shutting down the applications gracefully, but I'm not sure whether there are other use cases out there. Changing this could potentially break those users.

/cc @kubernetes/sig-node @smarterclayton

[2016-04-22 23:48] dims commented on #24668
@lavalamp @smarterclayton ack on the curl i really love that support when i am trying new things.

At this point, would it be possible to support non-SPDY enabled clients for some scenarios (say they just want stdout and not stderr). Example common python libraries do not support SPDY.

Also is there a way to mark swagger API with additional information that seems to be needed at runtime (upgrade

[2016-04-22 23:51] smarterclayton commented on #24668
Exec supports websockets - the protocol should be documented in pkg/kubelet somewhere (sub folder remote or attach I think).  There is an implementation in JavaScript in a few places - let me look

[2016-04-22 23:52] smarterclayton commented on #24668
https://github.com/kubernetes-ui/container-terminal?files=1

[2016-04-23 00:01] timstclair opened #24698 "Customize cAdvisor event storage policy"
By default cAdvisor stores up to 100,000 events for up to 24 hours. At capacity, that's around O(10MB) that is unused by the Kubelet.

The default values are customized by the `--event_storage_{age,event}_limit` flags. We should add our own defaults to disable the event store.

/cc @kubernetes/sig-node

[2016-04-23 00:03] smarterclayton commented on #24695
You shouldn't have to wait five minutes - are you eating SIGTERM in your main process?  If you handle SIGTERM correctly then when Prestop returns you'll be signaled immediately.  So having to wait five minutes sounds like either Prestop isn't exiting correctly or your process isn't listening for term.

Prestop isn't intended to allow you to escape the graceful shutdown quota.  It's a contract with

[2016-04-23 00:48] janetkuo commented on #22569
Once we have this doc, link to it in `kubectl run --help`

[2016-04-23 00:53] yujuhong opened #24702 "Serialize and write api.Pod/Container spec/status as container annotations"
Forked from the discussion in #23725.

In short, we've been writing information as docker labels and rkt annotations to container/pods due to the lack of kubelet checkpointing. As the results, we have to handle label/annotation backward compatibility issues. Instead of doing that, we can just serialize the kubernetes pod/container objects and write it as annotations.

After discussing with @vishh

[2016-04-23 01:04] Random-Liu commented on #24702
Sure. Grab it! :)

[2016-04-23 02:13] vishh commented on #24702
* we should store the v1 Pod object
* we should see if we can store protos instead of json

[2016-04-23 02:57] gmarek opened #24704 "integration flake: cassandra"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24674/kubernetes-pull-test-unit-integration/22488/

[code]

cc @janetkuo

[2016-04-23 03:20] mfanjie commented on #24656
@caesarxuchao by rebasing the code, the object can not be decoded anymore, here is the logs:

I0423 11:15:25.406593   41408 factory.go:340] watching subrs: &{0xc820177d70 0xc8200a5440 {0 0} false}
proto: no encoder for TypeMeta unversioned.TypeMeta [GetProperties]
proto: no encoder for TypeMeta unversioned.TypeMeta [GetProperties]
proto: tag has too few fields: "-"
proto: no coders for struct *ref

[2016-04-23 04:05] jayunit100 commented on #24704
I think this is it https://github.com/kubernetes/kubernetes/commit/03f48e730e6894bc3fef2d694823430e168bb1b5#diff-e2c8544666bb21f92286b190d5c8cb9a ...

[2016-04-23 04:09] jayunit100 commented on #24684
I reformatted all my yaml files, and I've confirmed this for all the files i could test the parity works.  if you send in broken yaml, assume all bets are off.

[2016-04-23 04:09] #24684 closed

[2016-04-23 04:11] Aleishus commented on #24657
Thank you @thockin . I use logstash as a daemonset pod for log collection . I want to get more node's information from this pod and put them into logstash,so that I can know where the logs comes from.

[2016-04-23 04:13] Aleishus commented on #24657
Thank you @thockin . I use logstash as a daemonset pod for log collection . I want to get more node's information from this pod and put them into logstash,so that I can know where the logs come from.

[2016-04-23 04:16] jayunit100 commented on #24690
Also can we make an event on vol unmount?  <- @rootfs

[2016-04-23 04:32] njuicsgz commented on #24695
@smarterclayton I have not eaten the SIGTERM, but can not terminate pod after PreStop return.

`
# cat nginx.term.json
{
    "apiVersion": "v1",
    "kind": "ReplicationController",
    "metadata": {
        "name": "nginx",
        "namespace": "default"
    },
    "spec": {
        "replicas": 2,
        "selector": {
            "name": "nginx",
            "version": "latest"
        },

[2016-04-23 04:48] jayunit100 commented on #24619
^ the above (24706) should fix this test.  however, its interesting to me that this is an issue - the # of pods should be available as soon as the request is made i think... but maybe very asynchronous in strained situation.

[2016-04-23 06:00] #20263 closed

[2016-04-23 06:00] #24262 closed

[2016-04-23 09:12] luguangzhen commented on #23241
If your machines are located in a private network that need proxy setting to connect the Internet, mybe you should configure no_proxy.
lgzh@ubuntu:~$ vi .bashrc
 export no_proxy=127.0.0.1,localhost,10.136.XX.XX
lgzh@ubuntu:~$ source .bashrc

Then, validate-cluster is success...

[2016-04-23 10:12] apmishra opened #24707 "ig"

[2016-04-23 11:56] dcowden commented on #24677
Ok thanks for the thoughts!

Good point.  Though it feels 'clean' to simply send everything to the cloud we also have found that in practice it is more reliable to log to files and then consume those.  But isn't this a problem with the fluentD approach too? k8s uses a network connection to send logs to fluentd right?  What happens if the fluentd container dies?

Do you mean have the container log

[2016-04-23 14:53] smarterclayton commented on #24695
I don't think "service nginx start" in bash will proxy the SIGTERM we
send to bash (which is the parent process).  You'll need to add a trap
handler to your bash script in command and "service nginx stop".

[2016-04-23 15:10] nkwangleiGIT opened #24709 "How to get the associated pod name of completed Job?"
Hi,
I want to get the pod name of a completed job, so I can query the log from k8s API or elasticsearch matching the pod name. But seems I can only find the pod name in the job's event, is there any better/easy approach to achieve this?
Thanks a lot!

[2016-04-23 15:20] #24707 closed

[2016-04-23 15:22] thockin commented on #24709
Kubectl get pods --show-all ?
On Apr 23, 2016 8:10 AM, "WangLei" <notifications@github.com> wrote:

[2016-04-23 15:24] luxas commented on #19185
@qq511700505 @pensu Kubernetes on ppc64le experimental release will be available when `v1.3.0-alpha.3` is released. It's only one command away with the docker guide.

I see this as fixed. Reopen if you think there are things left to do.

[2016-04-23 15:24] #19185 closed

[2016-04-23 15:28] nkwangleiGIT commented on #24709
@thockin, thanks for quick response.
But I want to get the associated Pod of a Job using API, in Job documentation, I can see your answer:
`kubectl get pods --show-all`
But it'll list all pods, I only want to get the associated Pods of a Job, and use k8s REST API, any other approach? thanks!

[2016-04-23 17:35] pmorie commented on #24690
@jayunit100 yeah, i definitely support an event for PVs being unmounted

[2016-04-23 17:42] thockin commented on #24690
Wrinkle - events are namespaces objects.  Into which namespace should they
go?
On Apr 22, 2016 2:41 PM, "Paul Morie" <notifications@github.com> wrote:

[2016-04-23 22:11] erinboyd commented on #24690
If you are an admin, can you see them across all namespaces? Can you use flags line for other objects to limit namespaces?

[2016-04-23 22:26] thockin commented on #24690
Not sure what you're asking. I think we have a generic problem - any
non-namespaced object has at-best awkward semantics for events.
On Apr 23, 2016 3:11 PM, "Erin A Boyd" <notifications@github.com> wrote:

[2016-04-23 22:52] bprashanth commented on #24690
I think it's more important that it shows up in `describe volume`, I rarely use `get events` standalone. One option is to just shove it in pv annotations and deserialize in kubectl's describe handler.

[2016-04-23 23:34] edsiper commented on #24677
The current setup is that containers writes log files to the file system and Fluentd parse them. This approach have some benefits and also some performance penalties as some people mentioned earlier.  I would like to know what's the general opinion about how to handle the logs, currently we have two choices:

- Container writes logs to Fluentd over the network (Docker provides a native Fluentd log

[2016-04-23 23:42] dcowden commented on #24677
Not to add confusion/more questions, but I would also like to understand what everything thinks is the 'right' way for applications to behave. Shouldl applications:

1. write to stderr/stdout
2. write to a fluentd instance on a known address ( but assumed to be on the same node for reliability )
3. write to files in the container filesystem

I really do not like option 3.  I understand its benefit

[2016-04-24 00:39] saturnism opened #24711 "Be able to specify wildcard with `kubectl create -f`"
I'm currently adding Kubernetes support to JHipster. However, when JHipster generates the Kubernetes deployment YAML files, it also generates a `.yo-rc.json` under the same directory.

If I run `kubectl create -f .`, it'll create all the resources, and attempt to parse and create `.yo-rc.json` too!

Currently, if I run `kubectl create -f *.yml`:
[code]

This should just work. Or, have .kubernetesi

[2016-04-24 00:48] srcspider opened #24712 "Add ability to assert container ready-ness on rolling-update via scripted check"
Right now the only thing preventing a container that's not ready from being served to is an update period set on rolling-update (as far as I'm aware). While this (mostly-)works, it's not ideal.

 - for containers that can start almost instantly the timer simply makes the rolling-update take unnecessarily long (potentially minutes, due to other containers needing minutes to be safe).
 - for contain

[2016-04-24 00:49] srcspider commented on #23497
@bgrant0607 done #24712

[2016-04-24 01:29] #23887 closed

[2016-04-24 01:51] zhouhaibing089 commented on #24711
I am thinking `kubectl create -f a.yml,b.yml,c.yml` would work because it supports a `StringSliceVarP` flag.

I agree to support `*.yml` since it is more straightforward. I will try to look and see whether it could be refined.

[2016-04-24 03:47] childsb commented on #15077
This is indeed broken.  Using this setup both volumes mounted partition 2:

[code]
[code]
[code]

[2016-04-24 04:13] Jackong opened #24713 "kubelet fails cadvisor stats summary"
`E0424 04:07:05.023414       1 summary.go:114] error while getting metrics summary from Kubelet: request failed - "500 Internal Server Error", response: "Internal Error: non-existent label \"root\""`

The same as https://github.com/coreos/bugs/issues/1225

[2016-04-24 05:49] pmorie commented on #24690
I feel like @derekwaynecarr and i discussed this and had some ideas, though
I forget the outcome of the convo and issue number :-|

On Saturday, April 23, 2016, Prashanth B <notifications@github.com> wrote:

[2016-04-24 08:54] gonfva opened #24714 "Error 'endpoints kubernetes-dashboard not found' launching docker cluster"
When running Kubernetes locally using docker (http://kubernetes.io/docs/getting-started-guides/docker/) if I try to visit

http://localhost:8080/ui

I get redirected to

http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard

And that shows an error page with the following text:

[code]

If I visit the URL

http://localhost:8080/api/v1/proxy/namespaces/default/serv

[2016-04-24 11:41] hongchaodeng commented on #24228
Re. 'ok to test', I think it's better to let contributor, not reviewer, trigger the test.
Often times, contributors push some code in commit A; Soon they realize something and push more code in commit B.
In current workflow, the jenkins job will run for both commits reply twice.
One solution is to let user trigger the jenkins job when they are ready.
This will also reduce the amount of jobs in Jen

[2016-04-24 12:16] dims commented on #24668
@smarterclayton thanks!

[2016-04-24 13:02] gmarek commented on #24476
It's happening again. Kubemarks aren't running because of metadata servers `Errno 111`.

[2016-04-24 13:39] jimmyjones2 opened #24716 "hyperkube: k8s-master and k8s-proxy in default namespace"
Should they be in kube-system instead?

[2016-04-24 13:43] jimmyjones2 commented on #24716
@luxas This is a bit related to #24114 and #21646, what do you think?

[2016-04-24 14:06] luxas commented on #24716
There is already a PR for this: #23250

[2016-04-24 15:45] chengyli opened #24717 "cinder volume can't be unmounted when pod is deleted"
We noticed that if kubelet's root-dir is a symlink, when pod with a cinder volume is deleted, cinder volume is still mounted even though pod's containers have been removed. The below errors are seen in kubelet log.

[code]

[2016-04-24 15:47] chengyli commented on #24717
for example, kubelet's root-dir is /mnt/kubelet, but /mnt is a symlink to /var/mnt. So the Linux /proc shows the volume is mounted under /var/mnt/kubelet/..., but mount point in kubelet is  /mnt/kubelet.

[code]

Then the compare ` mps[i].Path == mountPath` in kubelet code can never be true.

[code]

[2016-04-24 17:20] cyberaleks commented on #23403
Same issue on n1-standard-1. I'm wondering why kube-dns always allocates 31%. Is it expected behavior? Does it mean that i need more than 1 instance ( more than 3 micro instances), because 70% are reserved by kubernetes?

fluentd-cloud-logging:  80m (8%) CPU Requested
heapster-v1.0.2-2627135191-3rzmu: 150m (15%) CPU Requested
kube-dns-v11-v8vnl:  310m (31%) CPU Requested
kube-proxy: 20m (2%) CPU R

[2016-04-24 18:56] djzager commented on #24212
If you get here via Google search, the SO post is --> http://stackoverflow.com/questions/36616652/why-can-i-not-install-google-heapster-kubernetes-addon

[2016-04-24 19:49] cdpb commented on #24419
seems like a syncthing related problem, works with latest stable version.

[2016-04-24 19:49] #24419 closed

[2016-04-24 20:33] davidopp opened #24720 "Total priority can overflow"
Weight is an int (see [PriorityConfigFactory definition](https://github.com/kubernetes/kubernetes/blob/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/plugin/pkg/scheduler/factory/plugins.go#L53)). Priority can take the range 1-10. Total priority for a node is sum of weight \* priority for each priority function, and the sum is accumulated into an int (see [PrioritizeNodes](https://github.com/kubernetes/

[2016-04-24 20:50] codefx9 opened #24721 "Support NFS v3 tcp mode"
We would like to mount a GlusterFS volume as NFS mount. GlusterFS supports [NFS v3 tcp mode](http://www.gluster.org/community/documentation/index.php/Gluster_3.1:_Manually_Mounting_Volumes_Using_NFS). NFS supports automatic reclaiming of disk space, which is useful. Can this be supported in Kubernetes?

Thanks.

[2016-04-24 21:14] davidopp commented on #24720
We really should also make "score" be an abstract datatype rather than a raw int that is manipulated directly, so we can do things like make sure it is in the range 1-10 (or 0-10 if that's what we want); today the range is inconistent (we say 1-10, but sometimes use 0; probably we should change it to 0-9..).

[2016-04-24 21:36] derekwaynecarr commented on #24690
Should we just be consistently awkward and treat them no different than
node events?

On Sunday, April 24, 2016, Paul Morie <notifications@github.com> wrote:

[2016-04-25 00:29] pmorie commented on #24690
It seems like they should be treated however node events are, yeah.

[2016-04-25 01:11] pmorie commented on #18372
@fabxc

You can watch the volume's `..data` symlink with inotify or fanotify

[2016-04-25 01:15] pmorie commented on #7925
This work is competed, see above proposals.

[2016-04-25 01:15] #7925 closed

[2016-04-25 02:32] ichekrygin opened #24725 "deployments does not support (honor) containers restartPolicy"
Steps: Create deployment file and set restartPolicy to "Never"
Result:
[code]

[2016-04-25 02:34] njuicsgz commented on #24695
@smarterclayton As your suggestion, I changed my RC profile, but it still not work.
Because I could not ask my customer to catch and handle SIGTERM in their processes which need much changes, in stead, they would like to add a PreStop.sh to handle the application gracefully (wait and kill the process until all local requests are handled).

So in this simulate example, I need terminate the containe

[2016-04-25 02:45] ichekrygin opened #24726 "deployment does detect pod/container failures for reasons other than `ImagePullBackoff`"
Steps: edit deployment and set image: to a "bad"-nonexistent image.
Results: deployments aborts with 1 pod down and remaining (2 - per update-demo example) up an running.
------
Steps: edit deployment and set image: to a "bad"-failing to start service image (for example w/ invalid configs, etc.)
Results: deployments proceeds despite the facts that service fails to start, leaving with with 0 - avai

[2016-04-25 04:10] xxyztwz opened #24728 "base64 EncodeToString issue in RBD volume"
I had read the code pkg/volume/rbd/rbd.go, line 88.
[code]

I have a question that in other volume like pkg/volume/flexvolume/flexvolume.go, they use `base64.StdEncoding.EncodeToString(data)` , so is there a bug in rbd volume? Or just I use the wrong way to connect to ceph with secret?

[2016-04-25 04:13] smarterclayton opened #24729 "Watch flushing in chunked encoder may be inefficient at scale"
We currently invoke flush on the HTTP response after every watch event, in order to guarantee clients see watches immediately.  That flush impacts throughput at scale, and may result in undesirable context switches in the server process.  We should investigate deferred flushes, allowing the client to set an upper latency bound, or automatically adjusting the flush rate due to throughput.

In a 8 c

[2016-04-25 04:25] smarterclayton commented on #20309
In a longer test, where reflect.Value is not present (due to #24727), I get the following allocation profiles:

[code]

[2016-04-25 04:26] pmorie commented on #24721
@codefx9 I *think* this shiuld probably work (but have not personally tried) - have you tried either manually mounting your gluster volume as nfs or using it as an nfs volume in a pod?

[2016-04-25 04:29] smarterclayton commented on #20309
QuantityProto is known to be slow.  SelfLink generation looks like it's a lot uglier than I expected - the strings.Replace, strings.genSplit, net/url.escape, and the ToString all belong to it.

[2016-04-25 04:30] smarterclayton commented on #20309
@wojtek-t

[2016-04-25 04:38] hongchaodeng commented on #24729
@smarterclayton
By "deferred flush" do you mean batching?
My understanding is that events are changes happened on objects. Is status changes (e.g. Pod pending -> running) counted?

[2016-04-25 04:44] #24695 closed

[2016-04-25 04:49] krmayankk commented on #23553
Thanks for getting this fixed. For now in 1.2 i thought that was how you designed the nodepport feature and i had to preserve and merge the nodeports from old and new service updates to get this working. I am assuming that UpdateService after this fix, will preserve the existing nodeports even if the nodeports have not been explicitly assigned a port. Please confirm

[2016-04-25 04:51] krmayankk commented on #23551
can someone explain who understands the tags patchStrategy:"merge" patchMergeKey:"port"` and acts on then and where is this happening in the code?

[2016-04-25 05:06] caesarxuchao commented on #24656
@mfanjie the problem seems to be caused by recent changes related to protobuf, but I thought protobuf is not k8s default serialization format yet, did you have any configuration that might trigger it?

Also, we have an e2e test that exercises release_1_3 clientset's watch and list function: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/generated_clientset.go#L183-L192. The test is

[2016-04-25 05:09] mfanjie commented on #24656
@caesarxuchao I manually merge all code of #24395 to my branch, things got better, I am still debugging on it, I did not update this issue as I did not confirm if it worked or not yet. Will update again soon.

[2016-04-25 05:16] njuicsgz commented on #13299
@thockin
I got similar problem without to use a LB, so I think we can reopen this issue.

**Reproduce steps**
1. create a RC with size=2
2. create a Service with session affinity = ClientIP
==> then you will find session affinity is not work.
[code]
3. delete the service, and recreate again
===> then session affinity works.
[code]
4. scale RC down to size=0 and then reset to 2.
===> session affini

[2016-04-25 05:30] njuicsgz commented on #13299
so we cannot do rolling update with service unchanged, and must create RC before Service.

[2016-04-25 05:43] fabxc commented on #18372
I was thinking of something on the Kubernetes side.
It's not a too scalable approach to make all apps that reload via SIGHUP implement file watches.

For Prometheus at least, it was a very intentional choice to not us inotify for the configuration due to a variety of issues encountered that made it an unfeasible cross-platform solution.

[2016-04-25 06:15] codefx9 commented on #24721
I tried before using the YAML file, that did not work. From logs it seems that it was trying to use NFS v4. I also saw that most NFS clients tries to UDP. So, I am not sure that it will just work.

[2016-04-25 06:57] wojtek-t commented on #24729
My understanding is that events are changes happened on objects. Is status changes (e.g. Pod pending -> running) counted?

Yes - all changes on all objects.

By "deferred flush" do you mean batching?

It means that if you have a lot of changes it's probably good enough to avoid e.g. 5ms and flush all that were created during those 5ms than to flush them after each event. (Note that this 5ms is som

[2016-04-25 07:08] wojtek-t commented on #24476
Yup - this is causing all kubemarks runs failing, and thus we are not merging anything.

[2016-04-25 07:08] wojtek-t commented on #24476
@k8s-oncall - FYI

[2016-04-25 08:19] AdoHe commented on #24198
I will take some time to fix this.

[2016-04-25 08:32] AdoHe commented on #24725
@kubernetes/kubectl we should document what restart policy deployment support.

[2016-04-25 08:41] AdoHe commented on #24711
why not you guys just put all the yaml files under a directory? we have already support this.

[2016-04-25 08:42] xlgao-zju commented on #24036
At first, we pick out the commonds which are mainly about opareting the containers in k8s. And we find their corresponding command in containerd.  According to the result, we draw this sheet.

k8s | containerd
------|------
run  | run
get pods | list
attach |
exec | exec
logs |
delete | kill
patch | update

[2016-04-25 08:43] ingvagabund opened #24730 "test-cmd.sh: extend tests with kubectl describe --events=false|true flag check"
As test-cmd.sh creates a lot of API objects, it is a perfect place to test ``kubectl describe --events`` to see if all affected objects shows (or not) their events if ``--events=true`` (or ``--events=false``) is specified.

Related to https://github.com/kubernetes/kubernetes/issues/24239.

[2016-04-25 08:43] ingvagabund commented on #24730
@hodovska

[2016-04-25 08:45] saturnism commented on #24711
I already described the issue. Sometimes a tool has other metadata stored
in the same directory - like this .yo-rc.json that kubernetes will also try
to deploy. It'd be really inefficient to have yet another subdir to
encapsulate the kubernetes files.

On Mon, Apr 25, 2016 at 10:42 AM TonyAdo <notifications@github.com> wrote:

[2016-04-25 08:47] ingvagabund opened #24731 "Missing unit-tests for HorizontalPodAutoscalerDescriber, IngressDescriber and JobDescriber"
When running pkg/kubectl/describe_test.go, there are three objects that has no unit-tests at all:
- HorizontalPodAutoscalerDescriber
- IngressDescriber
- JobDescriber.

I could not found proper fake client for them. It looks like all three needs the same fake client.

Related to https://github.com/kubernetes/kubernetes/issues/24239 to finish testing of `kubectl describe --events=true|false`.

[2016-04-25 08:51] AdoHe commented on #24711
what if your `.yo-rc.json` is `.yo-rc.yml`, `*.yml` is not ok in such case.

[2016-04-25 09:36] mfanjie commented on #24656
@caesarxuchao I confirm after I merge all code change of #24395, it works properly, not a blocker of my work anymore, thank you for your prompt help. Closing this issue now.

[2016-04-25 09:37] mfanjie commented on #23653
A quick update, #24656 is closed as after I merge the latest codec PR from master, it works properly. No blocker anymore at this moment.

[2016-04-25 09:39] Raffo commented on #24726
Same here, with a difference: I know that I can pull the image only from one node (private registry, credential available only on that node) and I would have expected the deployment to retry over and over again till it tries on that node. I have something like:

[code]

[code]

Maybe there's something about Deployments I am missing?

I'm running 1.2.2 on GKE.

[2016-04-25 10:08] jsafrane commented on #24236
I checked provisioner and recycler, lowering the sync period should not harm them. Still, it will impact deleter a bit. Now we try to delete a volume three times every sync-period (10 minutes), mostly because if user deletes a pod that uses a volume and deletes also the PVC bound to it, the volume is still attached to the node for some time and all deletion attempts fail. I've seen AWS detach taki

[2016-04-25 10:12] piosz commented on #24619
Two more:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/5066/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/5068/

[2016-04-25 10:13] piosz commented on #24619
The fix is merged. Let's observe whether it helped.

[2016-04-25 10:17] soltysh commented on #24619
And one here: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23493/kubernetes-pull-build-test-e2e-gce/36831/

[2016-04-25 10:23] piosz commented on #19997
closing in favor of #22671

[2016-04-25 10:23] #19997 closed

[2016-04-25 10:58] njuicsgz commented on #13299
Got something useful.

When I create a Service with no endpoints:
[code]

And when I scale RC size=0 for a Service:
[code]
It deleted the sessionAffinity service of lb in kube-proxy on above 2 case. At this time, if we increase RC size from 0, new service will be created without sessionAffinity.

So the proposal is that never delete service instance of lb while there is no endpoint for this servic

[2016-04-25 11:15] piosz commented on #22671
This is still failing. Closing in favor of #24620. Assigning @krousey there.

[2016-04-25 11:15] #22671 closed

[2016-04-25 11:15] piosz commented on #24620
cc @lavalamp

[2016-04-25 11:16] piosz commented on #24620
Yet another fail:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/5067/

[2016-04-25 11:20] saturnism commented on #24711
That's a fair point and hence the other proposal is some sort of ignore
file. But, I can also easily use command lines to filter out things I don't
want, or, use pattern matching for things I do want. I feel respecting
globs is a good thing :)
On Mon, Apr 25, 2016 at 10:52 AM TonyAdo <notifications@github.com> wrote:

[2016-04-25 11:21] piosz commented on #24476
Both `kubernetes-kubemark-5-gce` and `kubernetes-kubemark-500-gce` are continuously failing because of it.

[2016-04-25 11:27] njuicsgz commented on #13299
Verified with above 'Reproduce steps'.

[2016-04-25 11:37] feiskyer commented on #24689
+1 for merge.

[2016-04-25 13:10] ncdc commented on #24702
cc @kubernetes/rh-cluster-infra

[2016-04-25 13:18] jayunit100 commented on #24619
[code]

I think Doesnt have the new log statement `Waiting for Redist master to start`, so that might be an old one?.

[2016-04-25 13:47] smarterclayton commented on #20309
Note that this was 50000 executions, with 3 fuzzed pod templates being iteratively serialized down the wire (so the counts aren't quite even).

[2016-04-25 13:51] talk2vino opened #24734 "DNS Not always Working ."
We are testing the Google Container Engine with mariadb cluster and some microservices.

Initially it is working fine and no issues in Google Container Platform.

After we turned on few micro services and test the cluster re-sizing option. Initially it was  5 nodes and then gradually reduce the node 2. Since all the pods show resource usage high on kubernetes dashboard and crashed.

So we increase

[2016-04-25 14:10] soltysh commented on #24619
It might be my branch didn't have that fix yet. Agree with @jayunit100 about closing this issue.

[2016-04-25 14:15] arjunm183 commented on #24513
Hello Team,

I have fixed the issue by setting the values in --pod-infra-container-image= <privateregistry:5000/imagename:tag in kubelet Args and then the pods started running.

However  Still if i have to move on further i cant keep on updating the arguments with the containers which i am going to run. I would request your help in this case.

Regards,
Arjun.M

[2016-04-25 14:33] dlsniper opened #24735 "Process for keeping docs up to date"
Hi,

I'm trying to get started (again, new machine, workplace bla bla) with Kubernetes but so far the experience if nothing short but confusing. I was expecting to have a clear documentation for how to start on a Ubuntu machine but in turn I can't find anything that correctly replicates the real life (especially since I can't remember what arcane stuff I've done the previous time to get it working

[2016-04-25 14:37] DongyiYang commented on #9125
Do you think this is a reasonable approach?

[2016-04-25 14:42] smarterclayton commented on #24729
Within the watch code it's fairly easy to do counts and load based tracking
(it's a for loop with a select).  We *could* pretty easily track the
instantaneous rate of the watch and alter the flush interval pretty
efficiently.  Will put on the "nice to have for 1.3" list if someone gets
some free time.

On Mon, Apr 25, 2016 at 2:57 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-04-25 14:43] smarterclayton commented on #24729
My only worry is that timer creation would actually limit the benefit (an
extra timer per watch).

On Mon, Apr 25, 2016 at 10:42 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-04-25 14:49] erinboyd commented on #24690
@thockin Yes, I guess I was asking why we wouldn't treat them like any other resource. I was looking at them in terms of permissions to view on roles, not the nature in which they would be produced. However, irt the action that is looking at the mount is namespaced (pvc) for instance. So when the pod spec used to stake that claim is also namespaced, I don't understand what you mean by non-namespac

[2016-04-25 14:52] jonaz commented on #13488
I would really like to be able to do a rolling restart.
The main reason is we will feed ENV variables into pods using ConfigMap and then if we change config we need to restart the consumers of that ConfigMap.

[2016-04-25 15:18] childsb commented on #15077
@swagiaal

[2016-04-25 15:19] piosz commented on #24476
This is priority -1. All suites are totally broken because of gcloud crash.

[2016-04-25 15:20] soltysh commented on #24709
@nkwangleiGIT the best option for you is to get the selector of pods creating a job (`.spec.selector`) based on that you can get a list of pods associated with a job. This is how k8s is getting the pods as well.

[2016-04-25 15:20] zhouhaibing089 commented on #24711
@AdoHe I guess the point you have is to avoid introducing more complexity because we just can find a proper way to do this, but from the perspective of user experience, what's your idea of `kubectl create -f *.yml`?

[2016-04-25 15:24] erinboyd commented on #24690
@pmorie @thockin So talking with Paul there are two MAIN use cases:
1) pod attached to PV via PVC
2) pod attached to volume via plugin

Both of these are namespaced and could be driven from there.

The event I am thinking of though, would be:
1) Volume becomes unavailable, via network or catastrophic event
1) Volume gets deleted from a pod consuming it

These events would need to be funneled back

[2016-04-25 15:26] smarterclayton commented on #24389
I'm tempted to advance the argument that Convert should *not* provide the guarantee that data won't be shared between the objects after conversion, or that we should split the use cases for conversion into "to get an external" and "for everything else".  While there is a safety issue with not doing full copy, the primary use case for conversion is underneath `pkg/runtime/serializer/versioning` (99

[2016-04-25 15:26] smarterclayton commented on #24389
@kubernetes/sig-api-machinery general question about conversion design.

[2016-04-25 15:27] soltysh commented on #24643
I guess that's a leftover from when @erictune was adding auto-selector for jobs. If he doesn't I'll create a PR tomorrow.

[2016-04-25 15:32] soltysh commented on #24533
@thockin job controller's role is to execute your assignment successfully with the given parameters. That `kubectl run` you've mentioned, creates a default job with `completions=1`, which means the controller will try as hard as possible to actually have that one successful execution. If, on the other hand, you're still interested in actually running a pod `--generator=run-pod/v1` is what you're l

[2016-04-25 15:42] mfanjie commented on #24656
The problem was gone when I use the old codebase and merge #24395 manually, but when I rebase the latest code from master branch, the error is till there. Reopen this issue for tracking, I am using the workaround to test now.

[code]

[2016-04-25 16:20] dchen1107 commented on #24476
All critical builds are red since last many hours.

[2016-04-25 16:26] bgrant0607 commented on #24711
See also #12123

[2016-04-25 16:26] bgrant0607 commented on #24711
cc @kubernetes/kubectl

[2016-04-25 16:28] bgrant0607 commented on #12123
cc @kubernetes/kubectl

[2016-04-25 16:29] bgrant0607 commented on #24711
Closing this as dupe of #12123

[2016-04-25 16:29] #24711 closed

[2016-04-25 16:31] dchen1107 commented on #24476
Can we really enable verbose log for gcloud so that we can really understand what is going on here?

[2016-04-25 16:33] bgrant0607 commented on #24711
See #24649 also

[2016-04-25 16:34] bgrant0607 commented on #24649
See #24711 for a use case

[2016-04-25 16:34] zmerlynn commented on #24476
@dchen1107: You can see a full stacktrace for `kubemark` [here](http://kubekins.dls.corp.google.com/job/kubernetes-kubemark-5-gce/2538/console). In that case, `kubemark` is failing to refresh its token. I haven't been able to see others, though.

[2016-04-25 16:41] kargakis opened #24737 "make update"
Run ./hack/update-all.sh via make (`make update` or something)

Or switch `make check` to run those cc: @smarterclayton

[2016-04-25 16:46] arenoir commented on #24687
@erinboyd I have tried a couple of other docker images in place of the gcr.io/google_containers/volume-nfs without any success.   Do you have or know of a working nfs-server docker implementation?

This is the last piece keeping me from moving my setup from colocation to google cloud.

[2016-04-25 16:49] bgrant0607 commented on #12123
The following is not going to work:
[code]
And I wouldn't expect something like that to work in any other command line, either. Flag parsing doesn't typically work that way. The flag consumes its immediately following argument, but the rest are assumed to be ordinary positional arguments, unrelated to the flags. We are not going to change that behavior. It would be extremely surprising, and unlike

[2016-04-25 16:53] zmerlynn commented on #24476
I logged onto `jenkins-builder-1` and tried a random gcloud command and it was clearly able to use its token, so it's not that. (Or it's not that builder.)

[2016-04-25 16:57] zmerlynn commented on #24476
Ah! It looks like `jenkins-builder-2`'s metadata-cache server crashed.

[2016-04-25 16:57] ichekrygin commented on #24726
Update: after setting `minReadySeconds` (http://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/#_v1beta1_deployment) this issue went away, which makes sense since the default value for `minReadySeconds` is 0.

Feel free to close this this issue.

[2016-04-25 17:02] bprashanth commented on #24476
Just delete the cache?
169.254.169.254 should still resolve, if it doesn't reboot the vm should fix it.

[2016-04-25 17:03] bprashanth commented on #24476
By "delete the cache" I mean pop the entry:
[code]
in /etc/hosts. I assume that's the cache since it's eth0 of jenkins-2.

[2016-04-25 17:07] yunjing commented on #21498
@saad-ali Thanks for speaking with @qix and I (from smyte) the other day and suggesting the pre-binding option. Here are a few things we found:
1. Pre-binding only works after we upgraded to v1.2, which is also suggested in this commit https://github.com/kubernetes/kubernetes/commit/b9b8cf7fff297df724d9236240e84ba1fd97537e.
2. At v1.2.2, PV binding is still taking a few minutes even though we set

[2016-04-25 17:08] yujuhong commented on #24713
/cc @vishh @timstclair

[2016-04-25 17:27] spxtr commented on #24476
We recently created a Jenkins on-call rotation, please ping the appropriate person when this sort of thing happens and let them deal with it.

[2016-04-25 17:27] caesarxuchao commented on #24656
Have you run hack/update-all.sh after you add your subresource?

I suspect the problem you encountered is not directly related to clientset.

[2016-04-25 17:30] swagiaal commented on #15077
@childsb thanks for the CC. I was wondering how this is not causing a NoDiskConflict but it is because both volumes are being used within the same pod which should cause no problems.
@childsb I would try to reproduce this using direct volumes as @antoineco did. Not that PV and PVCs could be causing the problem but it just removes a layer of indirection.

[2016-04-25 17:34] bprashanth commented on #24476
I'm guessing you restarted it since I actually see a python process listening on :80. Where is it's init script/logs? (the debug doc in https://github.com/kubernetes/kubernetes/pull/24131/files only lists high level run this /hack/ script instructions, and I didn't look through the script to figure out how it restarts etc).

[2016-04-25 17:36] swagiaal opened #24738 "Scheduling predicates should handle volumes which are referenced through a PVC"
This is handled for direct volumes here: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L126
We need something similar for when volumes are accessed through PVC's and PV's

[2016-04-25 17:50] timstclair commented on #24713
Sounds like this should be fixed with the cAdvisor Godeps bump in https://github.com/kubernetes/kubernetes/pull/24113

[2016-04-25 18:02] saad-ali commented on #831
https://github.com/kubernetes/kubernetes/pull/23666 proposes init containers that can be used to pre-populate volumes. This would eliminate a lot of the need for a static read-only container volume. The only argument I could see for still wanting a container backed volume is that with init containers you'd still need to download once per pod--vs with a container backed volume, it would only be dow

[2016-04-25 18:03] derekwaynecarr commented on #24702
Is the annotation updated on every sync or just on container creates?

[2016-04-25 18:09] smarterclayton commented on #831
Alternatively, it's always possible that if we add "host level, reusable
volumes that don't give root access to the machine", the init container can
initialize or reuse those as well (using filesystem locking).

On Mon, Apr 25, 2016 at 2:02 PM, Saad Ali <notifications@github.com> wrote:

[2016-04-25 18:15] Random-Liu commented on #24702
@derekwaynecarr At least docker label is immutable after container created, so the annotation should never been changed after container creates.

[2016-04-25 18:18] saad-ali commented on #21498
@yunjing Glad to hear you guys are unblocked. There is a big redesign underway (see https://github.com/kubernetes/kubernetes/pull/24331) for PV/PVC binding code that should fix these latency in binding issues. You can expect that in v1.3.

[2016-04-25 18:29] johscheuer commented on #24530
@zhouhaibing089  @pwittrock I found the problem (but no really satisfying solution). The Problem is that `cockpit cockpit-kubernetes` has Docker in version 1.7 as dependency:

[code]

and in the [salt-formulas](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls#L25) package installed is used which doesn't update a package if already present (and no version o

[2016-04-25 18:37] childsb commented on #15077
@swagiaal no need. the bug/code location is pretty obvious. The shared AWS host mount is based only on the volume and not the partition.  So the first partition to mount there is what every POD on the host using that volume will see..

[2016-04-25 18:38] janetkuo commented on #24712
@kubernetes/kubectl

[2016-04-25 18:43] smarterclayton commented on #24712
Can you identify how you think the existing readiness check (which gates rollout today) would play into the proposed "assert"? I.e. when would someone use a readiness check and when would someone use this new assert check?

[2016-04-25 18:43] lavalamp commented on #24389
We have a mechanism for representing a full list of desired versions, it's a Codec. We should dump ConvertToVersion before adding a list like that, IMO.

This gets in to the huge hole in our conversion mechanism, where the embedded conversions don't have access to the parent codec.

[2016-04-25 18:47] dcowden commented on #24677
In experimenting today, I have come up with a problem sending everything to stdout/stderr.

I'm running a tomcat application, so I have at least 3 distinct types of logs:

(1) my application logs, which are currently formatted for splunk, but can be done any way i wish
(2) the tomcat logs, which can be controlled via tomcat configuration files to some extent, but it is kind of a pain
(3) the java

[2016-04-25 18:47] swagiaal commented on #15077
ah I see

[2016-04-25 18:49] ixdy commented on #24120
Now this is broken on GCE, too. From http://ci-test.k8s.io/kubernetes-jenkins/logs/kubernetes-e2e-gce/15524/:

[code]

We probably need to apply a similar fix from #24162 to `cluster/gce`.

cc @freehan

[2016-04-25 18:51] dchen1107 commented on #24702
cc/ @yifan-gu for this change.

This is just a temporary alternative solution of kubelet checkpointing. Other systems built upon Kubernetes shouldn't depend on the reliability of this.

[2016-04-25 18:52] pmorie commented on #24702
+1 to storing the protobuf serialization

[2016-04-25 18:53] thockin commented on #24712
I really don't understand how this is different from readiness...

On Mon, Apr 25, 2016 at 11:44 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-25 18:55] yujuhong commented on #24689
The two methods have different arguments and return types.
[code]
RunInContainer expects the combined stdout/stderr returned in the byte array, and is mostly used for internal operations for convenience (e.g., probing). @yifan-gu @feiskyer, what do you think about keeping only `ExecInContainer` in the `Runtime` interface, and implement `RunInContainer` by wrapping `ExecInContainer`? In other words

[2016-04-25 19:00] smarterclayton commented on #24389
Codecs use ConvertToVersion?  Not sure what you mean "a list like that".

[2016-04-25 19:02] ixdy commented on #24120
I'll work on a fix. I think we can use `--format='value(instance)'` to get something a little less fragile.

[2016-04-25 19:04] sijnc opened #24744 "Should API v1.Secret support creating a secret from the contents of a file."
Currently AFAIK you can only create a secret from a file using:
[code]

The drawback is this, If a change is made to <file> you need to delete and then recreate the secret:
[code]

This is awkward because to update the other items (service, deployment, pv) in the same app you just run:
[code]

I realize that I can create a script to base64 encode the contents of the file and inject it into a secre

[2016-04-25 19:08] timstclair commented on #23338
Can we generalize this to standardize logging across the whole project? What if we abstracted away from `glog` to create our own higher-level logging package? I am envisioning an API that would enable something like:
[code]
or
[code]

The goal would be to identify the common pieces of information that are logged and provide them in a consistent, human & machine readable format.

WDYT?

[2016-04-25 19:11] deads2k commented on #24239
@thockin What was the demo case?  It seems a little unusual to say, "describe this for me, but don't try to show me the available information".  I could see "tell me everything you can by looking at just this object", but specifically excluding events seems unusual.

[2016-04-25 19:12] wernight opened #24745 "WebSockets support for Ingress controller"
Ingress controller doesn't seem to support web sockets. For example it's not possible to run [Jupyter](https://github.com/jupyter/docker-stacks) behind an Ingress controller (it's not possible to edit notebooks, socket error).

I find it weird than the Ingress controller cannot do that while a standard Nginx server with reverse proxy can do that really well, but they seem to sit at very different

[2016-04-25 19:18] timothysc commented on #23338
I like wrapping logging, I'm not sold on the format above vs.

klog.Infof
klog.Debugf
klog.Warningf
klog.Errorf

If you wanted some object formatter interface above, that may make sense too.

/cc @jayunit100

[2016-04-25 19:21] swagiaal opened #24747 "[RFC] Eliminate retry operations in volume code and rely on pod sync"
Several of the volume plugins have retry logic around attaching volumes, watching for devices, getting the cloud provider etc.

What do you guys think of eliminating all of these and relying on the pod sync loop to do retries when needed. It would make for cleaner code I think but I was wondering if you guys have run into use cases which require the tight loop retries.

@jsafrane @saad-ali @justin

[2016-04-25 19:22] ixdy commented on #24476
Also, kubemark isn't running on `jenkins-builder-2`. It's running on `jenkins-master`.

[2016-04-25 19:23] eparis commented on #24744
so you are hoping for `kubectl apply secret generic <name> --from-file=<key>=<file>` ?

[2016-04-25 19:26] piosz commented on #24476
@spxtr I pinged you and @fejta via mail.

[2016-04-25 19:30] sijnc commented on #24744
@eparis,

Something like this:
[code]

my-secret.yaml
[code]

When kubectl create or apply is run, kubectl would load and base64 encode the file on the client where kubectl is running before making its API calls.

[2016-04-25 19:32] ixdy commented on #24476
It looks like the `jenkins-master` metadata server cache server crashed, too.

[2016-04-25 19:34] thockin commented on #24239
Describe often has valuable, useful information - how many pods are running
in an RC, daemonset expectations, etc, but then the events flush that info
right off the screen.  Demos in particular tend to be done on a low-ish
resolution with a large-ish font.

On Mon, Apr 25, 2016 at 12:11 PM, David Eads <notifications@github.com>
wrote:

[2016-04-25 19:41] timstclair commented on #23338
Something to add: a problem with just solving this in a logging library is we often want to write this data to error objects, and don't necessarily log it directly. We could introduce a custom error type with fields to attach all the same metadata to it (object reference, full object, another error, labels, etc.), and then make the logger dissect the object and format it consistently.

@timothysc

[2016-04-25 19:41] pditommaso commented on #24533
@thockin Does this mean that this behaviour is expected? If so how to create a job that is *not* restarted when returns a non-zero exit status? The [documentation](http://kubernetes.io/docs/user-guide/jobs/#handling-pod-and-container-failures) seems suggesting to specify `restartPolicy = "Never"`.

[2016-04-25 19:44] thockin commented on #24533
Maciej,

Yeah, I know that, but I'm arguing it's wrong.  We already use --restart as
a switch between Deployment and Job.  I think --restart=Never (to `kubectl
run`, not to a Job yaml) should switch to run-pod/v1 automatically.  The
user's intesntions are pretty clear, and a Job is NOT what they would
expect.

On Mon, Apr 25, 2016 at 8:33 AM, Maciej Szulik <notifications@github.com>
wrote:

[2016-04-25 19:52] nikhiljindal commented on #24712
Yes `--update-period` is to control the rate of rolling update. Default is 1 min. You can set it to 0 for an ASAP update.
Are you suggesting changing the default to 0?

We have now introduced [deployments](http://kubernetes.io/docs/user-guide/deployments/) which provide server side rolling update. The corresponding parameter in deployments is `MinReadySeconds` and the default value for that is 0.

[2016-04-25 20:21] timothysc commented on #23682
Going to close, please re-open if issue persists.

[2016-04-25 20:21] #23682 closed

[2016-04-25 20:37] janetkuo commented on #24725
@ichekrygin Deployments only support restartPolicy = `Always`; so do Replication Controllers, Replica Sets, and Daemon Sets.

I'll document this.

[2016-04-25 20:38] vishh commented on #23338
FYI: https://github.com/Sirupsen/logrus is an attempt to generate structures logs for golang.

[2016-04-25 20:59] timothysc commented on #23338
@timstclair I don't think there is anything that precludes us from having a set of higher level capabilities, that back into the lower level utilities.

[2016-04-25 21:04] lavalamp opened #24753 "Test Flakes and merge throughput: umbrella"
One of the most frustrating things about developing on Kubernetes right now is the amount of time it takes to get PRs through the queue and merged. The primary thing that slows that down at the moment is flaky tests. I believe this is a process/culture problem. Several times now, we've stopped development work to fix tests; we need solutions that keep the tests green in steady state, not ones that

[2016-04-25 21:05] janetkuo commented on #19808
I'm hitting this now.

[2016-04-25 21:14] lavalamp opened #24754 "Test Flakes: Individual test owners"
Implement a system of ownership for tests.

A test owner should:
* Fix the test in a reasonable amount of time if it is broken.
* Fix the system in a reasonable amount of time if the system is causing the test to fail.
* Drive the test into a non-flaky state, if the test is broken for reasons beyond the owner's control.
* Rewrite poorly designed tests.
* Move tests into the smallest framework poss

[2016-04-25 21:16] janetkuo commented on #23551
@krmayankk This is telling `kubectl apply` to merge the ports based on the port field, see https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#strategic-merge-patch

[2016-04-25 21:19] spiffxp commented on #24620
/cc @kubernetes/sig-testing

[2016-04-25 21:21] bprashanth commented on #9107
Reopening since http://kubernetes.io/docs/admin/dns/ suggests it's still optional:
[code]

[2016-04-25 21:22] lavalamp opened #24755 "Test Flakes: Automatic flake assignment"
Prereq: #24754 (individual test owners)

When a test job (running against head) finishes, something needs to assign any failed tests to their respective owners. If an issue already exists, the new failure should be added as a comment.

However, if many tests fail together, this indicates an infrastructure problem, and the issue should be filed against the test-infra team, not against all of the ow

[2016-04-25 21:23] erictune commented on #24533
So, I think tim would be happy with the following:

kubectl run --restart=Always #  creates rc
kubectl run --restart=Never #  creates bare pod with restart=never
kubectl run --restart=OnFailure # creates a Job.

I would approve of that.

On Mon, Apr 25, 2016 at 12:46 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-04-25 21:25] zxcvbn97 opened #24757 "Pod networking does not work in local Docker setup"
Hi there,

I setup kubernetes v1.2.3 according to the "[Running Kubernetes Locally via Docker](http://kubernetes.io/docs/getting-started-guides/docker/)" guide. I'm using Docker 1.9.1 using CoreOS stable (899.15.0) on a bare metal machine.

I could run a Debian container for now.
`kubectl run -i --tty debian --image=debian --restart=Never`

*However, I could not ping other containers by IP address

[2016-04-25 21:25] lavalamp opened #24758 "Test Flakes: Measure flake rate per-test"
We should track, for each test, the number of runs and the number of failures. There should be a way of indicating "this test was fixed, start again from zero". We need this data to help people prioritize which flakes need to be fixed most urgently. We can also use this data to help determine whether a failure is due to a test infrastructure failure or whether it is due to an individual test being

[2016-04-25 21:32] lavalamp opened #24759 "Test Flakes: Dashboard for test owners"
We should publish a dashboard for test owners.
- Owners should be able to see which of their tests are flaky, and how flaky they are, so they can fix the most important ones.
- We should keep the following stats, so test owners have something to brag about:
  - Number of tests owned
  - Flake rate of owned tests
  - Mean time to fix owned tests when they do flake
  - Number of runs of owned tests

[2016-04-25 21:33] thockin commented on #24533
I think that is what I arrived at, too.

On Mon, Apr 25, 2016 at 2:24 PM, Eric Tune <notifications@github.com> wrote:

[2016-04-25 21:37] lavalamp opened #24760 "Test Flakes: Expand the integration test framework"
Many more tests than necessary are written as e2e tests right now. If the integration framework were easier to use, it could potentially give a lot of signal that we don't get right now until the e2es are run. Additionally, it'd be easier for people to run and debug locally.

Therefore:
- Make the integration tests use ginkgo. (Not that I love ginkgo, but we should be consistent.)
- Expand the int

[2016-04-25 21:38] janetkuo commented on #24533
`kubectl run --restart=Always` should create a Deployment instead of RC.

[2016-04-25 21:39] thockin commented on #6923
Closing for lack of activity and because we have config map now.

[2016-04-25 21:39] #6923 closed

[2016-04-25 21:40] thockin commented on #12399
Superceded by https://github.com/kubernetes/kubernetes/issues/20262

[2016-04-25 21:40] thockin commented on #15524
Superceded by https://github.com/kubernetes/kubernetes/issues/20262

[2016-04-25 21:40] #15524 closed

[2016-04-25 21:40] #12399 closed

[2016-04-25 21:41] thockin commented on #11879
Superceded by https://github.com/kubernetes/kubernetes/issues/20262 and https://github.com/kubernetes/kubernetes/issues/21931

[2016-04-25 21:41] #11879 closed

[2016-04-25 21:42] thockin commented on #11011
Is this still an open issue?  @rootfs

[2016-04-25 21:44] thockin commented on #10664
No new reports in almost a year - I am closing for now, but we can reopen if it pops up again.

[2016-04-25 21:44] #10664 closed

[2016-04-25 21:50] lavalamp opened #24761 "Test Flakes: Tolerate nonzero flake rates"
First, the non-controversial part:

In the merge queue, if you observe
* a test job that fails and
* the previous run of the same job was a success and
* nothing merged between the two runs

then, treat the failure as a flake and ignore it.

During my last build-cop stint, I think this scenario applied to about half of the flakes I saw.

I expect doing more along these lines to be relatively contr

[2016-04-25 21:52] thockin commented on #24533
details details :)

On Mon, Apr 25, 2016 at 2:39 PM, Janet Kuo <notifications@github.com> wrote:

[2016-04-25 21:53] lavalamp opened #24762 "Test Flakes: Measure time spent by PRs in the submit queue"
The heading is pretty self explanatory. The stop-watch starts when the test is both LGTM'd _and_ the PR tests have passed. The stop-watch stops when the PR is merged. We can stuff this information in the same place we store test flake rates.

Part of: #24753

[2016-04-25 21:55] lavalamp opened #24763 "Test Flakes: Measure API coverage"
We want to measure our test coverage of the API surface area.

This could involve scraping apiserver's logs and looking at the paths. We can talk about the best way to find all the things that _should_ be called.

Part of #24753

[2016-04-25 21:58] fabioy commented on #20262
Great proposal. One more item: the controller needs to be able to handle having a different max PD value per node.

With heterogeneous node clusters, it's possible that nodes of different machine types are part of the same cluster. The controller needs to be able to handle this, as well as having some mechanism for discovering this value (probably from kubelet?).

[2016-04-25 22:01] saad-ali commented on #24747
This should naturally fall out of the mount/unmount refactor: specifically I think the existing retries are there mostly to be able to handle the "wait for attach/detach" cases. Once that logic is factored out, then, if the wait for attach times out, or the mount fails, etc. it would be ok to fail and let the volume manager handle retrying.

[2016-04-25 22:04] saad-ali commented on #20262
Thanks @fabioy. We will handle the max PD value per node independent of this in Issue https://github.com/kubernetes/kubernetes/issues/24317

[2016-04-25 22:13] spxtr commented on #24642
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/15535/

[2016-04-25 22:20] fabioy commented on #20262
SG. Added a comment there as well. Thanks.

[2016-04-25 22:25] fabioy commented on #24317
It seems #20262 would solve this much more elegantly (especially with heterogeneous clusters), but till then, is the recommendation to just set the KUBE_MAX_PD_VOLS env var to the new max? I fear this may introduce more "flakiness" in the cluster with the potentially longer pod scheduling times.

[2016-04-25 22:52] activeshadow opened #24767 "ContainerManager system validation fails when running Kubelet in hyperkube container via rkt"
I'm running Kubernetes on CoreOS and using the `kubelet-wrapper` script provided by CoreOS to run the `kubelet` on my minions. When I pass the `--containerized=true` option, I get the following error from the `kubelet`:

[code]

I'm wanting to mount NFS shares into pods, which works when I use the native `kubelet` app that CoreOS provides (`v1.1.2`), but doesn't work when I use the `kubelet-wrappe

[2016-04-25 22:57] saad-ali commented on #24317
Yes, the work around at the moment is to set the `KUBE_MAX_PD_VOLS` env variable--the scheduler will then use that as the limit when scheduling.

The controller proposed in #20262 can't really solve this problem (at least not alone), since this is a node resource scheduling problem (node X only supports Y GCE PDs, there are Z GCE PDs already scheduled to that node...). To "do this right" the sched

[2016-04-25 23:14] ixdy commented on #24753
cc @kubernetes/sig-testing

[2016-04-25 23:15] vishh commented on #24698
+1. Does kubelet use these events?

[2016-04-25 23:17] dchen1107 commented on #24767
cc/ @yifan-gu

[2016-04-25 23:18] timstclair commented on #24698
Kubelet watches the event stream for Oom events, but never queries the storage. I'd like to just disable event storage completely for the Kubelet's cAdvisor, but that would be a regression if anyone was querying it through the cAdvisor endopoints. It is configurable from a flag though.

[2016-04-25 23:20] vishh commented on #24698
If a user wants that feature, they can always run cAdvisor in a DaemonSet :P

On Mon, Apr 25, 2016 at 4:18 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-04-25 23:33] smarterclayton commented on #24729
Created a prototype / almost complete in #24768. For throughput bound watches (>20qps) this should offer a substantial benefit.

[2016-04-25 23:37] spxtr commented on #24760
I'm not a fan of this. Go's testing framework is great, and we already use it for unit/integration tests. The only feature we're missing is JUnit XML output. Ginkgo can do very confusing things at times and has caused the test infra team quite a bit of pain. See #23350 for a recent example.

We made #21420 a long time ago, but it turns out that the setup for these two integration suites is differe

[2016-04-25 23:48] feiskyer commented on #24689
@yujuhong Agree. I could take this if you have not started this work.

[2016-04-26 00:04] prashantchitta opened #24770 "Daemonset Example not working"
I am using this example to create Daemonset
https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/cassandra/cassandra-daemonset.yaml

It was working fine in 1.1. But in 1.2 its not working. Daemonset gets created, but the pods are not being created. When i do describe of daemonset, i see following info.

[code]

I see that this fix was causing the error message "This controller is sel

[2016-04-26 00:07] mwhooker commented on #20391
@martynd yes, that's the comment. I looked at `/var/run/flannel/subnet.env` and found `FLANNEL_NETWORK=10.2.0.0/16`, so I have to assume the result will be the same as when I tried it earlier.

I can try again but it will have to wait until later this week.

thanks for the thought, but still looking for alternate ideas.

[2016-04-26 00:13] mikedanese commented on #24770
As part of upgrading to v1.2, you need to delete all DaemonSets and Deployments then recreate them. This is documented in the release notes "actions required". We say there is a possibility that this will happen if you use alpha features. Please read the section about DaemonSets:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md/#action-required-2

[2016-04-26 00:16] zhouhaibing089 commented on #12123
Could you tell me more on the point why it is extremely surprising?

Using multiple `-f` could be accepted.

We could use xargs to do this.

My opinion may be a little bit offending, but just for discussion: It looks like we do not support `kubectl create -f *.yaml` because we require the filenames to be a flag while an argument could only be consumed when it follows the flag immediately.

From th

[2016-04-26 00:26] nebirhos commented on #24002
@bryk it seems a flannel setup error indeed, no pod is reachable from a different node.

Don't know where to look though, the only suspicious thing is the lack of `vethXXX` interface on master node.

[2016-04-26 00:32] #24120 closed

[2016-04-26 00:34] martynd commented on #20391
I've come across a similar issue to this one.
Give this a go, it solved the other issue
`. /var/run/flannel/subnet.env && iptables -t nat -A POSTROUTING -s $FLANNEL_SUBNET -o docker0 -j ACCEPT`

[2016-04-26 00:55] devlina commented on #10265
@thockin @antoineco I am using v11 of kube-dns RC and not able to make the dns work. Can you guys please help. Pasting few logs here as mentioned in this thread.
`kubectl get pods --all-namespaces
NAMESPACE     NAME                        READY     STATUS    RESTARTS   AGE
default       k8s-etcd-127.0.0.1          1/1       Running   0          5d
default       k8s-master-127.0.0.1        4/4

[2016-04-26 01:59] prashantchitta commented on #24770
It worked. Thanks @mikedanese. Updating my kubectl to server version 1.2 fixed the issue.

[2016-04-26 01:59] #24770 closed

[2016-04-26 02:43] xidui commented on #24687
+1
I also had a same problem.

[2016-04-26 02:47] xidui commented on #24687
here is my output:
[code]
[code]
[code]

[2016-04-26 03:23] #23153 closed

[2016-04-26 03:28] xidui commented on #24687
@arenoir I have solved this problem, see if my circumstance also applies for you:

I found that there are some problems within the image `gcr.io/google_containers/volume-nfs`,
See if there is `/mnt/data` directory in the nfs-server container.

The docker file says that it copies `index.html` to `/mnt/data/index.html`. But after I execute `kubectl exec -it nfs-server bash` and `ls /mnt`. I fount th

[2016-04-26 05:17] davidopp commented on #24317
Yeah I think #20262 is somewhat orthogonal. We can do the opaque resource thing to have the scheduler account for heterogenous max number of PDs, independent of whether we do #20262.

[2016-04-26 05:26] krmayankk opened #24778 "doc bugs missing v in the tag portion of the image"
http://kubernetes.io/docs/getting-started-guides/docker/

in the docker run command documented above :-

docker run \
    --volume=/:/rootfs:ro \
    --volume=/sys:/sys:ro \
    --volume=/var/lib/docker/:/var/lib/docker:rw \
    --volume=/var/lib/kubelet/:/var/lib/kubelet:rw \
    --volume=/var/run:/var/run:rw \
    --net=host \
    --pid=host \
    --privileged=true \
    --name=kubelet \
    -d

[2016-04-26 05:40] codefx9 opened #24779 "DNS stopped working inside Kubernetes"
We have a Kubernetes cluster running inside GCE for some time using the official scripts. Today the DNS stopped working. If I try to ping google.com from inside a pod, it will not resolve google.com. DNS was working properly in pods create before today. After we restarted the DNS pods in kube-system, DNS started working in newer pods again. How do we debug and fix issues like this?

Thanks.

[2016-04-26 05:45] yifan-gu opened #24780 "rkt: Support `ImageStats` in the container runtime interface"
After https://github.com/kubernetes/kubernetes/pull/23595

The runtime interfaces introduces a new function `ImageStats` which reports the stats of container images on disk (currently just the total number of bytes).

rkt should support the interface.

cc @kubernetes/sig-node

[2016-04-26 06:06] thockin commented on #24779
GCE with OSS or GKE?  It might be hard to post-mortem, but logs would be
the first best clue.  I am out of office, so please pardon my latency
On Apr 26, 2016 12:41 AM, "codefx9" <notifications@github.com> wrote:

[2016-04-26 06:07] yifan-gu commented on #24702
sgtm.

For option 2. Which part of the pod status will be serialized? @yujuhong @Random-Liu

[2016-04-26 06:21] codefx9 commented on #24779
It is GCE with OSS. We checked the logs for DNS pods. Nothing looked suspicious.

[2016-04-26 06:25] Random-Liu commented on #24702
@yifan-gu All except the container status?

[2016-04-26 06:30] bgrant0607 commented on #15244
WIP doc proposal:
https://docs.google.com/document/d/12Nfj2E8tZL-CMnnpkSH9m5k_oqd4qJh4qDwYDxPGJJI/edit?ts=5705b1fc#bookmark=id.eb513gov0hg3

[2016-04-26 06:48] fejta commented on #24661
What is the race exactly?

[2016-04-26 06:59] mfanjie commented on #24656
It's not a blocker anymore. The only left problem now is when I try to fmt.Println(rs), it will go panic, as long as I avoid print the entire object, my code was working properly.
[code]

[2016-04-26 07:02] fejta commented on #24652
Was this from a jenkins run? If so then please assign back to me after attaching a gcs and/or jenkins link so we can make sure there's the right info to debug.

[2016-04-26 07:12] fejta opened #24782 "static pod with gcr.io/google_containers/nginx:1.7.9 image did not start within 2m"
[code]

https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/24131/node-pull-build-e2e-test/2995/build-log.txt

[2016-04-26 07:12] piosz commented on #24476
@ixdy @fejta any update? How should we fix this in the future?

[2016-04-26 07:13] cjcullen commented on #24652
PR Builder. Here's the comment w/ the links to artifacts, etc: https://github.com/kubernetes/kubernetes/pull/24502#issuecomment-213275229

[2016-04-26 07:31] fejta commented on #24476
Once https://github.com/kubernetes/kubernetes/pull/24131 goes in you can use that .sh script to restart the metadata server. After that goes in I'll be improving things to make it automatically restart the cache when it crashes/the machine reboots.

[2016-04-26 07:48] bryk commented on #24002
@nebirhos Can you report an issue to the documentation repo? This looks like a problem many people encounter, so I guess you're doing this correct, but the guide is invalid. It is not the first time I see people reporting problems to me while using ubuntu-based setup.

[2016-04-26 07:53] piosz commented on #24476
Thanks for the explanation.

[2016-04-26 08:00] zhouhaibing089 opened #24784 "flake: TestFreeSpaceImagesInUseContainersAreIgnored failed"
I pull the latest master code, and run `./hack/test-go.sh` on ubuntu 14.04, however it failed, and the error I observed is:

[code]

The test case is:

[code]

According to the logs, when it tries to free 2048 bytes space,  `image-0` and `image-1` get both removed, while only `image-0` is expected.

/cc @yujuhong @feiskyer @vmarmol

[2016-04-26 08:01] fejta commented on #24538
@spxtr and @rmmh are looking to reduce the amount of github pulling we are doing.

[2016-04-26 08:01] rhuss opened #24785 "gcr.io/google_containers/hyperkube-arm:v1.2.3 missing"
Any chance for a v1.2.3 of the intrastructure containers in gcr.io ? (hope this is the right place to ask)

[code]

yields

[code]

[2016-04-26 08:09] fejta commented on #24661
Hit here: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24131/kubernetes-pull-test-unit-integration/22815/

[2016-04-26 08:19] fejta commented on #24642
This looks like the flakiest component in our system, but updating the image is a bit annoying because it is in the guestbook (although it probably shouldn't). I'll find someone to work on this.

[2016-04-26 08:29] zhouhaibing089 opened #24788 "flake: TestGetPodsToSync failed"
I just run `./hack/test-go.sh` against the master branch code, and see errors below:

[code]

The test case is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_test.go#L4418-L4469

/cc @Random-Liu

[2016-04-26 08:41] bscott commented on #17406
@ArtfulCoder Is this still an issue in 1.2?, I have a POD using Host Network and I have dnsPolicy set to ClusterFirst but it's /etc/resolv.conf still is not getting updated to use SkyDNS.

How do we use that Env var?

[2016-04-26 08:43] Random-Liu commented on #24788
@zhouhaibing089 Thanks, will look into it.

[2016-04-26 08:45] 2opremio commented on #17406
@bscott it's still an issue

[2016-04-26 09:09] brandonweeks opened #24790 "make release errs on OS X with default docker-machine configuration"
This is reporting the same issue as #14104, I will attempt to include more information for clarity. While I'm assuming this is a configuration issue that can be easily solved by configuring `docker-machine` with more memory, the comment in the previous bug report leads me to suspect this might be an unexpected result.
- `sw_vers -productVersion`: 10.11.4
- `VBoxManage --version`: 5.0.18r106667
- `

[2016-04-26 09:13] srcspider commented on #24712
@nikhiljindal

No. I'm not.

The problem is with this assumption that you can set a time. There is no such thing as "startup" will only take 1 minute. You can certainly _design and intend_ for it to be be less then 1min, but the real world isn't always so forgiving as to give you what you want. You should basically always assume the time your container might take to get ready is: `sleep(rand(0, en

[2016-04-26 09:22] mfanjie commented on #24656
Here is some test code, clusters can be dumped correctly, while replicasets can not be.
[code]

Here is the stack trace:
[code]

[2016-04-26 09:27] talk2vino commented on #24779
I have the similar issue in #24734 .

Just curious to know how to restarted the DNS pods in kube-system ?

[2016-04-26 09:29] victorcampos opened #24791 "ELB creation doesn't support custom tagging (or naming)"
Currently, when creating an ELB in AWS, Kubernetes doesn't support adding custom tags or naming for the resources. In turn this requires a very broad set of permissions for the Instance Profile running the master, allowing full access to ANY ELB in the same account.

From my perspective this is unsuitable for larger corporations running in AWS under a single account as this increases risks of othe

[2016-04-26 09:42] AdoHe commented on #24720
I volunteer myself to do this.

[2016-04-26 10:38] jsafrane commented on #24747
I like the idea, although I am not sure about pod sync interval - it takes ~20 seconds after `volumePlugin.SetUp()` finishes and before next `SetUp()` call. Should it be faster?

[2016-04-26 10:50] codefx9 commented on #24779
I just deleted the DNS pod using `kubectl delete pod <dns-pod-name> --namespace=kube-system`. DNS rc then restarts the pod.

[2016-04-26 11:29] sharminakteranee opened #24793 "Does Kubernetes-1.1.2 supports ubuntu or debian VM on 'Microsoft Azure' ??"
I tried ubuntu-14.04, 15.10 and debian-jessie images. But clusters not working

[2016-04-26 11:41] soltysh commented on #24533
Actually that depends which cluster version you have, prior to 1.2 it does create RC  :wink:

I'm totally OK with the proposed solution, but I'd like to hear from @bgrant0607 as well. I think (but it might be my memory failing me) that he wanted `kubectl run` *not to* create the k8s primitives, such as pod, for example. Additionally that introduces yet another compatibility change vs prior kubectl

[2016-04-26 12:03] ins0mia commented on #19075
I also have this problem, but in my case I have "metadata.name: cron". It behavior has appeared not after first deployment creation, but after some period of time. When I replace  “cron” with “scheduler-cron” - all works! Also, if I use “metadata.name: sche” - container is not created. I think that all words with 4 letters cause problem.

cloud provider: GCE
master and node os: Debian GNU/Linux 7

[2016-04-26 13:13] gmarek opened #24794 "Some Nodes didn't register during cluster startup"
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-enormous-cluster/112/consoleFull

[code]

We currently allow some Nodes to be NotReady during cluster startup, but we still require all of them to be registered. Do we want to change the logic to allow not registered Nodes as well? @davidopp Do we know why Nodes didn't registered? @dchen1107

[2016-04-26 13:18] justinsb commented on #24747
For AWS, I concur with what @saad-ali said: we primarily (only?) use it for waiting for attach/detach; it's not ideal but that's what the original interface supported.  Moving that retry logic up a layer would likely be an improvement - if we time out on an attach/detach we could be in a bad state and we have no way to surface that currently.

[2016-04-26 13:34] ncdc commented on #23338
See also #6461 #17162 #17449

[2016-04-26 13:44] mattthias commented on #11858
@jimmidyson  It looks like https://github.com/kubernetes/kubernetes/pull/15612 is merged now.

[2016-04-26 13:46] #11858 closed

[2016-04-26 13:52] pmorie commented on #24721
@codefx Okay, that's good to know.  I asked because according to the NFS docs the client is supposed to negotiate with the NFS server during a mount to determine the right NFS / transport protocol to use.

@kubernetes/sig-storage

There are a couple ways that we could allow this:

1.  Allow the user to specify a set of mount options
2.  Allow the user to specify udp|tcp mode

I would probably pref

[2016-04-26 13:57] gmarek commented on #24309
@nikhiljindal - what's the status of this? It seems that it blocks at least two other things.

[2016-04-26 14:07] soltysh commented on #23216
Job part of this issue has merged over night.

[2016-04-26 14:16] yongk802 opened #24803 "PreStop HttpGet Hook Not Honored by Kubernetes"
It looks like at some point the preStop hook stopped working for httpGet. I say this because it looks like it used to be supported according to some PRs I've seen and documentation I've found here:

[code]

However, I cannot get it to work. The exec directive seems to work just fine though. Below is the relevant part of the configuration:

[code]

Here is the version output from our Kubernetes imp

[2016-04-26 14:22] bgrant0607 commented on #24533
@soltysh @erictune What does restartPolicy=Never mean, then, in the context of a Job? Just don't restart locally under Kubelet? If so, why is that useful?

[2016-04-26 14:24] bgrant0607 commented on #24533
Note that --replicas=N should be supported, so it would be N pods if we were to generate pods.

[2016-04-26 14:25] bgrant0607 commented on #24533
I would rather not change kubectl run behavior again. I have to agree the current run behavior is unintuitive, but apparently so is the current Job behavior.

[2016-04-26 14:35] ncdc commented on #23916
FYI we're seeing output such as https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/24554/node-pull-build-e2e-test/3030/build-log.txt which displays the error as an array of decimals instead of a string. I've opened #24804 to address that.

[2016-04-26 14:37] soltysh commented on #24533
The initial implementation of a job worked that way, but then I was pointed out we should only pass that to Kubelet and not look at it in the controller. Which, by its design, will always try to reach specified completions. The only noticeable difference between Never and OnFailure in job is that the former shows number of failures the job had, whereas the latter does not.
Having said that I don't

[2016-04-26 14:51] pmorie commented on #24576
I must admit, I have been thinking about this in the background since @yifan-gu created this issue, and the discussion hasn't added up for me.  I finally sat down and spent some time getting my numerous fixes for podIP via downward API back into my brain, and now the problem seems very obvious to me.

So, after some thought, I believe that for the docker runtime, the problem is that `GetPodStatus`

[2016-04-26 15:04] rootfs commented on #24721
refer to #17226

[2016-04-26 15:32] koubas commented on #24654
Same experience with 1.11.0, downgrade to 1.10.3 fixed that

[2016-04-26 15:40] #24125 closed

[2016-04-26 15:47] smarterclayton commented on #24712
If you want fast deploys, that's what the percentages on the rolling
deployment are intended for - surge, and maxUnavailable.  You can set surge
to 100% and we will only wait for readiness before removing the old items -
i.e. we would *instantly* create a full new set of pods, then remove old
ones as the readiness checks go live.

Readiness is a very precise decision today - "should this be includ

[2016-04-26 16:12] keontang opened #24805 "when finished rolling-update, couldn't know old pods names"
Although we have elasticsearch to store pod logs, if one didn't list pods before rolling-update, it's a bit painful to find historical pod logs. It's better if we print old pods names and new pods names during rolling-update, so pod names can be traced.

For example, it's hard to find logs of my-nginx-xxxx in the following example.

[code]

If rolling-update output can list the names of the pods w

[2016-04-26 16:13] #24415 closed

[2016-04-26 16:26] jayunit100 commented on #23611
+1 to remove

[2016-04-26 16:29] kargakis commented on #24712
readinessProbe.exec.command is probably what you need to specify

https://godoc.org/k8s.io/kubernetes/pkg/api/v1#ExecAction

[2016-04-26 16:32] erinboyd commented on #15077
taking over as @bc doesn't have the time...will validate and present a solution ASAP

[2016-04-26 16:37] jsafrane opened #24807 "AWS does not detach volumes that timed out"
AWS cloud provider & volume plugin leaves EBS volumes attached when `AttachDisk` call times out.

Sequence is like this:
1. user creates a pod that uses EBS volume. The request goes through kubelet and AWS volume plugin  `SetUp()` call to [attachDiskAndVerify](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/aws_ebs/aws_util.go#L170).
2.  `attachDiskAndVerify` periodically calls `AW

[2016-04-26 16:48] lavalamp commented on #24760
@spxtr Yeah, that's a good point. I went on vacation once and we were using ginkgo when I came back. If only I'd made us stop right then! Alas, it'd now be a lot of work to switch away. But I agree that JUnit output is the more pressing concern.

Re: cmd/integration, we should just rewrite the tests. Don't bother moving them.

[2016-04-26 16:49] stensonb commented on #12582
Can confirm...reference files are here: https://gist.github.com/stensonb/b75193458fff424054d54208524d915a

<code>toobig.json</code> works via <code>kubectl create -f toobig.json</code>, but <code>toobig.yaml</code> fails via <code>kubectl create -f toobig.yaml</code> with the following error:

[code]

Here's my toolset versions:
[code]

[2016-04-26 17:49] thenayr commented on #17219
This seems slightly concerning at the very least.  I'm sure there are more than a few people who use custom VPC's (myself included) that would like to be able to tear down a cluster without clobbering any existing infrastructure inside of that VPC.

I just experienced this same problem, brought up a second cluster in a custom VPC, proceeded to run ```kube-down``` to destroy the cluster and ended u

[2016-04-26 17:50] nikhiljindal commented on #18558
This hasnt been reported again for more than a month.
Closing for now.

Please feel free to reopen if it reoccurs.

[2016-04-26 17:50] #18558 closed

[2016-04-26 17:55] macb opened #24809 "token mananger generating multiple default tokens per service account"
Over the course of multiple clusters of varying age we're seeing additional tokens being generated for service accounts.

Cluster A ~3mo old cluster:
[code]

Cluster B ~2mo old:
[code]

Cluster C ~1mo old:
[code]

In this case, all secrets are the token controller generated tokens (we aren't using secrets at the moment). It seems like this is possibly causing issues with applications that talk to

[2016-04-26 18:26] devlina opened #24812 "kube2sky can not connect to apiserver: invalid TLS certificate"
I am trying to setup the kube-dns on a single node cluster. I am using v11 of kube-dns RC and not able to make the dns work. Issue is similar to [10265](https://github.com/kubernetes/kubernetes/issues/10265#issuecomment-117267504) Pasting few logs here as mentioned in that thread.

[code]

[code]

[code]

If I remove --kube-master-url=http://127.0.0.1:8080 set for kube2sky container then logs are:

[2016-04-26 18:32] caesarxuchao commented on #24656
@mfanjie may I ask how did you solve the proto problem?

[2016-04-26 19:02] ihmccreery commented on #24535
@david-mcmahon I thought this was right, but I think this is still an issue.  I'm trying to release `v1.3.0-alpha.3`, and it's building wrong.

I guess there were actually two problems; you caught one, but not the one I meant.  This issue was about: `v1.3.0-alpha.1` should report itself as `v1.3.0-alpha.1`, but instead it reports itself as `v1.3.0-alpha.1.0+12b0a06be147c2`.

[2016-04-26 19:02] ihmccreery commented on #24535
I'll look into this, since it's blocking alpha releases.

[2016-04-26 19:56] jayunit100 opened #24814 "[e2e] node flake blackbox container test"
Looks like a node flake?
[code]

[2016-04-26 19:56] jayunit100 commented on #24814
cc @kubernetes/sig-node

[2016-04-26 20:04] a-robinson commented on #13355
This has been supported since the 1.1. release in October 2015, so long as you log in JSON and include a field named "severity", as the OP did. You'll also probably want to populate the "message" field, which is assumed to contain the main body of the log message.

Sorry for not seeing this previously!

[2016-04-26 20:04] #13355 closed

[2016-04-26 20:17] Random-Liu commented on #24814
@liangchenye

[2016-04-26 20:27] smarterclayton opened #24815 "Flake in k8s.io/kubernetes/pkg/controller/framework controller_test.go"
Flake in unit tests in k8s.io/kubernetes/pkg/controller/framework

[code]

@deads2k somehow I know this is you :)

[2016-04-26 20:28] smarterclayton opened #24816 "Flake in test/integration/quota_test.go"
Saw this in integration tests, fairly certain it's not my branch (although my branch sped up a few things and made a few things slower):

[code]

[2016-04-26 20:29] srcspider commented on #24712
@kargakis wasn't aware of that one. Thank you.

Closing.

[2016-04-26 20:29] #24712 closed

[2016-04-26 20:33] pmorie commented on #20870
@jfrazelle

:+1:

[2016-04-26 20:34] deads2k commented on #24816
@smarterclayton I won't say its impossible that its me, but ending up with a null `Handler` out of the generic API server init without another failure is pretty hard.  Anything else pop up in the run?

[2016-04-26 20:39] ncdc opened #24819 "Pods can get stuck Terminating in certain situations if running a container fails"
In one of our clusters, we are not allowing containers to run images that use `VOLUME` instructions without a corresponding Kubernetes volume and volumeMount to back it. We've done this by making `/var/lib/docker/volumes` immutable (`chattr +i`). An attempt to run a pod like this results in the container creation falling, and there's no way for the pod to run successfully.

What we're seeing is th

[2016-04-26 20:41] smarterclayton commented on #24667
Looks like a lot of the packages has them - conversion shouldn't really either.

[2016-04-26 20:44] ncdc commented on #24819
This is easy to reproduce by inserting a 2-second sleep before the error return here: https://github.com/kubernetes/kubernetes/blob/e566948a754bfe9f81189e7333fc62fd123e34e3/pkg/kubelet/dockertools/manager.go#L1468

[2016-04-26 20:48] smarterclayton commented on #24816
Go memory model strikes again

On Tue, Apr 26, 2016 at 4:34 PM, David Eads <notifications@github.com>
wrote:

[2016-04-26 20:50] bmelville commented on #22881
@bgrant0607 , should we use #12143 or is there another issue we should use for following along we this? We work with many people for whom this is an issue and want to be able to keep them in the loop.

B.

[2016-04-26 20:57] ihmccreery commented on #23060
Ping @yujuhong.  What's the status of this?

[2016-04-26 20:59] derekwaynecarr opened #24820 "Need the ability to limit how long of a grace period a pod can declare"
This is potentially something we could do on limit range.

/cc @kubernetes/rh-cluster-infra @kubernetes/sig-node @smarterclayton @bgrant0607

[2016-04-26 21:11] nikhiljindal commented on #24309
1.2.3 is released already so this should not be blocking anymore.

[2016-04-26 21:15] saad-ali commented on #24807
For https://github.com/kubernetes/kubernetes/issues/20262 I am planning to have the controller reach out to cloud providers to figure out exactly which volumes are attached to which nodes. This mechanism can detach such orphaned volumes.

[2016-04-26 21:27] saad-ali commented on #24721
+1

[2016-04-26 21:35] MartinPyka opened #24824 "Run Kubernetes cluster offline"
I am following this tutorial to set up a test cluster with two CentOS VMs:
http://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

I figured out that I am only able to start kube-apiserver (systemctl enable kube-apiserver) and kube-proxy when there is an internet connection. Otherwise I get the error:
"Job for kube-apiserver.service failed because the control process exited

[2016-04-26 21:51] bgrant0607 commented on #24820
I figured this was coming eventually. :-)

cc @mml @davidopp

[2016-04-26 21:56] bgrant0607 commented on #19054
@lavalamp @caesarxuchao Let's use this issue for server-side cascading deletion.

Forked from #12143

Supersedes #1535, which I'll close, finally.

Proposal: #23656
API changes: #23928

[2016-04-26 21:56] bgrant0607 commented on #22881
Issue: #19054
Proposal: #23656
API changes: #23928

[2016-04-26 21:58] bgrant0607 commented on #1535
Closing in favor of #19054, which is being implemented for 1.3.

[2016-04-26 21:58] #1535 closed

[2016-04-26 21:59] bgrant0607 commented on #19054
cc @bmelville @vaikas-google

[2016-04-26 21:59] ihmccreery commented on #24535
This seems contrary to #23148, but #23148 doesn't have enough context for me to know why it was changed.

[2016-04-26 22:03] yujuhong commented on #24819
@ncdc, does the container inspection always fail, or does it only fail in a certain window of time? I am trying to understand the scope of the problem.

If it's a permanent `docker inspect` failure, we've seen similar issues before due to docker bugs. Curretnly, kubelet doesn't know how to distinguish transient from permanent `docker inspect` failures, and will keep retrying. #24361 proposed a way

[2016-04-26 22:17] caesarxuchao commented on #19054
WIP garbage collector implementation phase I: https://github.com/kubernetes/kubernetes/pull/24509

[2016-04-26 22:28] fabioy commented on #24317
Fair enough -- doesn't really matter who queries/tracks the max PD's per node, just that someone is doing it for the scheduler (and the controller) to do the "right thing".

[2016-04-26 22:28] lavalamp opened #24828 "Validation: ObjectMeta update validation doesn't care if you set deletionTimestamp"
Honestly I'm not sure if this is a bug or a feature, but @liggitt didn't expect it. Filing this to track.

[2016-04-26 22:34] trinitronx commented on #24349
@luxas :  I didn't realize there was already support for alternate architectures in hyperkube.  Good to know!

[2016-04-26 22:35] erictune commented on #18549
I spoke to someone at Google who seems to know a fair bit about OIDC.
I described the issue to him.  His response was that the refresh token should only go from CLI to Identity provider, never to the K8S server.   So, we should either do it differently, or agree upon and appeal to some higher authority (no ideas on that).

[2016-04-26 22:38] philips commented on #18549
@erictune Are there more details on _why_ that must be the case?

[2016-04-26 22:45] bobbyrullo commented on #18549
Thanks for the update, @erictune. Was it understood that in this case the K8s API Server is the relying-party/client, not the CLI?

[2016-04-26 22:55] #24816 closed

[2016-04-26 23:23] streamnsight opened #24829 "kube2sky: the server has asked for the client to provide credentials"
I was running v10 and it had its hickups, but somehow after restarting it a few time it would work...

I saw there has been some updates so I wanted to try.
I am using this version:
https://github.com/kubernetes/kubernetes/blob/78dc9c77167f7017af37f3c2df012a5698aedc36/cluster/addons/dns/skydns-rc.yaml.in

I have read through:
https://github.com/kubernetes/kubernetes/issues/11687
https://github.com

[2016-04-26 23:26] ixdy commented on #24661
@fejta in `build/common.sh`, we create the build container and then run it. it's apparently possible for this container to be cleaned up between creation and running, because it's not running or attached to anything.

[2016-04-26 23:27] ixdy commented on #24661
Might be worth seeing if there's some way to only clean up containers/images older than an hour.

[2016-04-26 23:52] sols1 opened #24831 "pod with hostNetwork: true cannot access SkyDNS/service by name"
If the pod has hostNetwork: true, then it cannot use SkyDNS to convert service name into service IP.

Example: I run graphite as a service and collectd as a daemon set. collectd pods need hostNetwork: true to see actual server name (and possibly for other reasons), however, this prevents them for using graphite service by name.

Of course, it is possible to get around this problem by hack but it w

[2016-04-26 23:54] ixdy commented on #24661
#24832 maybe.

[2016-04-27 00:11] mikedanese commented on #20355
@freehan How much work do you think is left to do get this (including receiving a cidr assignment from nodespec)?

[2016-04-27 00:19] freehan commented on #20355
I am working on enabling `kubenet` as default network plugin, which avoids restarting docker.

But first, I have to make `kubenet` production ready. Please refer to #24211

[2016-04-27 00:31] ncdc commented on #24819
@yujuhong it only ever inspects this particular container one time (during the PLEG relist where it sees the 500 Unknown device error), and that inspection fails. That's what's recorded in the PLEG status cache:

[code]

If the kubelet or you tried to inspect container `27038b...` again, it would fail with a 404 container not found error. **However**, such an inspection does not occur. This is bec

[2016-04-27 00:32] ncdc commented on #24819
`oldPod` and `pod` are identical, with just the infra container, here: https://github.com/kubernetes/kubernetes/blob/34d4eaea08bbebbf34dac49ad41705852c1aa80f/pkg/kubelet/pleg/generic.go#L203-L204.

[2016-04-27 00:36] ixdy commented on #21564
I think I know what's wrong with `detect-node-names`: if `gcloud compute instance-groups managed list-instances` is empty, then [this line](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L288) will fail, since bash can't expand an empty array. Should be an easy fix.

[2016-04-27 01:01] yujuhong commented on #24819
@ncdc, so the timeline is:
 0. PLEG relists and see infra container A
 1. PLEG relists and sees new container B and fails the inspection with 500; it updates the cache with the error and maintains the old view of only seeing A (so that it'd retry the next time)
 2. *Something* deleted container B(?)
 3. PLEG relists and see only container A, which is consistent with view at the end of (1). No insp

[2016-04-27 01:05] ncdc commented on #24819
@yujuhong the creation of container B failed (permission denied error in /var/lib/docker/volumes). You might argue that the fact that the container even shows up when listing all containers is a bug, since Docker is in the middle of creating the container but that call hasn't returned yet.

I like the idea of recording what to retry. How are you thinking we can implement this?

[2016-04-27 01:05] ixdy commented on #23350
Looks like this is still happening, but less frequently.

Post-commit Jenkins:
[code]

PR Jenkins:
[code]

[2016-04-27 01:07] ncdc commented on #24819
Also, re "it updates the cache with the error and maintains the old view of only seeing A (so that it'd retry the next time)", it's the following `continue` statement that keeps it from updating the internal state (oldPod/pod):

https://github.com/kubernetes/kubernetes/blob/34d4eaea08bbebbf34dac49ad41705852c1aa80f/pkg/kubelet/pleg/generic.go#L229

[2016-04-27 01:09] bprashanth opened #24837 "server version errors for gke 1-2 ingress tests"
gce-1.2 is fine: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress-release-1.2/
but gke-1.2 is failing since friday with:
[code]
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress-release-1.2/1564/console
Anything changed recently?
@kubernetes/goog-testing

[2016-04-27 01:10] rootfs commented on #24599
I just hit the missing `Cancel` call in `http.Request` on RHEL 7.2. but there is no golang 1.5 or higher on RHEL 7.2 yet....

[2016-04-27 01:28] yujuhong commented on #24819
So the container appear briefly in `docker ps` during creation, but then disappear when it fails? That doesn't sound like the best behavior, but anyway, we should make PLEG more robust.

Yes, it was done intentionally so that PLEG will retry the inspection again in the next relist, assuming the container was still there.

We should send out the events regardless (even if the inspect fails), but re

[2016-04-27 01:33] ncdc commented on #24819
The key is to make sure that the cache doesn't continue to return the same `PodStatus` over and over again along with the inspection error.

[2016-04-27 01:47] fejta commented on #24837
I believe @Q-Lee was talking about this today at lunch?

[2016-04-27 01:56] mfanjie commented on #24656
@caesarxuchao the previous version does not have protobuf properties, so i think the update-all.sh was not invoked, I get the latest from from @jianhuiz and the type assertion problem was gone.
and currently the only remaining issue is panic when printing replicaset, printing cluster does not have any issue.

[2016-04-27 02:31] liggitt commented on #24828
I think it's a bug. Nothing in the code base depends on it, and we don't let other delete-related fields get set during update (deletionTimestampSeconds)

[2016-04-27 02:32] magicwang-cn opened #24840 "package "k8s.io/heapster/api/v1/types" cause godep restore error"
The problem is that the package has been moved to some where, but i have not found it,
anyone else know it?

[2016-04-27 02:34] yifan-gu commented on #24576
@pmorie Today `GetPodStatus` doesn't pass the pod spec, so it cannot know if the pod is running on host. This could be solved if we serialize the pod spec into docker labels.

BTW, I think we have a similar issue here for rkt.

[2016-04-27 02:37] ixdy commented on #24837
Something looks weird with the release-1.2 build.

I downloaded and extracted `gs://kubernetes-release/ci/v1.2.4-beta.0/kubernetes-client-linux-amd64.tar.gz` and `gs://kubernetes-release/release/v1.2.4-beta.0/kubernetes-server-linux-amd64.tar.gz`.

[code]

I'd expect these to be the same, but one is reporting as "dirty".

[2016-04-27 02:44] ixdy commented on #24837
Wait, I think I see what's wrong. I accidentally downloaded one tarball from `ci/` and one from `release/`, which is probably what the gke job is doing, too.

The tarballs under `ci/` look fine. The `v1.2.4-beta.0` tarballs under `release/` have the `-dirty` bit.

I'm guessing the GCE release-1.2 jobs are using the `ci/` tarballs for everything, so they're working fine. The GKE release-1.2 jobs ar

[2016-04-27 02:47] harryge00 commented on #19930
@virsox

I have a similar problem when creating MongoDB cluster. For example:

* Host 1 (172.17.8.201)
Mongo1 pod (10.2.16.1)

* Host 2 (172.17.8.202)
Mongo2 pod (10.2.68.1)

* Host 3 (172.17.8.203)
Mongo3 pod (10.2.69.1)

Service IP:
* Mongo1 cluster IP: 11.1.2.96
* Mongo2 cluster IP: 11.1.2.120
* Mongo3 cluster IP: 11.1.2.123

My Mongo1 can connect to Mongo2, Mongo3 via cluster IP, but cannot ac

[2016-04-27 03:11] Aleishus opened #24842 "kube2sky Waiting for service: default/kubernetes timeout"
### I use skydns, the kube2sky can't get the response form the apiserver.

  `
 I0427 10:40:42.758130    7114 kube2sky.go:445] Etcd server found: http://192.168.46.40:4001
I0427 10:40:43.759542    7114 kube2sky.go:512] Using http://192.168.56.191:8080 for kubernetes master
I0427 10:40:43.759570    7114 kube2sky.go:513] Using kubernetes API v1
I0427 10:40:43.759732    7114 kube2sky.go:581] Waiting

[2016-04-27 03:12] thockin commented on #24812
Please check you master certs.

https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-117267504

On Tue, Apr 26, 2016 at 11:26 AM, devlina <notifications@github.com> wrote:

[2016-04-27 03:22] thockin commented on #24793
http://kubernetes.io/docs/getting-started-guides/coreos/azure/

The only *documented* instructions are for CoreOS.  That doesn't mean the others can't work, just that nobody has done it and written it down (or at least didn't send it to us)

This topic would be better suited at StackOverflow - it's not a bug or feature request.  I am going to close this issue for now, please feel free to followup

[2016-04-27 03:22] #24793 closed

[2016-04-27 03:26] thockin commented on #24842
Can you please provide more information?  What cloud?  What version of
kubernetes?  What instructions did you follow for setup and for DNS?  What
flags are you using on kube2sky?

On Tue, Apr 26, 2016 at 8:11 PM, Aleishus <notifications@github.com> wrote:

[2016-04-27 03:42] pmorie commented on #24819
We need to add context to the event created when the pleg inspect fails

[2016-04-27 03:42] bgrant0607 opened #24844 "PR automation ideas"
* Explicitly notify the PR author if the PR is stuck: tests failed, needs rebase, needs release note, etc. The notifications that don't mention anyone won't rise above github notification noise.
* Explicitly notify the PR assignee if the PR needs them to do something: ok to test, ok-to-merge, e2e--not-required, reapply lgtm label after rebase, release note label, etc.
* Ping the PR due to lack of

[2016-04-27 03:46] david-mcmahon commented on #24837
I will look at this tonight.

[2016-04-27 04:20] thockin commented on #19930
What instructions are you following for setup?  What cloud?  What
networking setup?  What flags to kubelet and kube-proxy?

On Tue, Apr 26, 2016 at 7:47 PM, haoyuan ge <notifications@github.com>
wrote:

[2016-04-27 04:23] fejta commented on #24652
[code]

[2016-04-27 04:24] fejta commented on #24652
@lavalamp does kubectl fall under the purview of CSI? If so will you route this to someone on that team?

[2016-04-27 04:38] #21618 closed

[2016-04-27 04:40] thockin commented on #22717
Dup of #20475

[2016-04-27 04:40] #22717 closed

[2016-04-27 04:42] #18933 closed

[2016-04-27 04:44] thockin commented on #15763
We now have custom hostnames and DNS for them

[2016-04-27 04:44] #15763 closed

[2016-04-27 04:44] #8735 closed

[2016-04-27 04:46] thockin commented on #24092
If this recurs, run 'conntrack' (you may have to install it) to list all conntrack records, please.  I will close this for now, and hope it was a unicorn..

[2016-04-27 04:46] #24092 closed

[2016-04-27 04:47] #23556 closed

[2016-04-27 04:52] nkwangleiGIT commented on #24709
@soltysh, thanks for your comments.

Yes, for now, I'm using Lable to match the pods of Job, as they should have the same lablel.

I'm cloing this issue, thanks all!

[2016-04-27 04:52] #24709 closed

[2016-04-27 04:53] thockin commented on #24831
This is a dup, but I can not find the original bug (sigh).  This is an artifact from docker - running in host networking mode means you get the host's DNS, too.

To change that would be somewhat significant, and has some implications for other runtimes (rkt).  @ArtfulCoder and @dchen1107  for consideration

[2016-04-27 05:02] erictune commented on #18549
I'll check on that.

[2016-04-27 05:04] Aleishus commented on #24842
* k8s  cluster version: 1.2.2
* env: centos 7 bare metal
* I follow the [skydns.rc] (https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/addons/dns/skydns-rc.yaml.in) and just rename the image name in my private registry

[code]

* etcd: 2.2.1 outside the cluster
* flags: ./kube2sky  --domain=tmd --kube-master-url=http://192.168.56.191:8080 --etcd-servers=http://192.168.46.40:4001

#

[2016-04-27 05:26] thockin commented on #24842
You did more than that because there are flags in this RC that are not in
the default templates.  You should not need to set the extra kube2sky flags.

https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-117267504

On Tue, Apr 26, 2016 at 10:05 PM, Aleishus <notifications@github.com> wrote:

[2016-04-27 05:47] Aleishus commented on #24842
I don't use kubecfg-file . I setup my api server like this
[code]

[2016-04-27 05:52] mkumatag opened #24848 "docker-compose mesos - missing resolveip.sh file"
While running docker-compose in kubernetes/cluster/mesos/docker found that it is reporting xargs: **resolveip.sh**: No such file or directory. I searched and didn't see this file present anywhere.

[code]

In multiple places I see that error which needs to fixed.

[2016-04-27 05:56] thockin commented on #24842
DNS uses a different etcd than the master

You also don't need the master-url flag.

Please look at the example in
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.in

On Tue, Apr 26, 2016 at 10:47 PM, Aleishus <notifications@github.com> wrote:

[2016-04-27 06:00] Random-Liu commented on #24576
@pmorie As @yifan-gu said, GetPodStatus doesn't have full pod spec today. And I don't think docker manager has knowledge about the host ip now.

[2016-04-27 06:04] bgrant0607 commented on #24533
Well, Job is v1, so I don't think we can change the behavior without adding another knob.

[2016-04-27 06:07] pmorie commented on #24576
@Random-Liu @yifan-gu I think we should think about adding the plbuming.  I have **not** had a good experience storingthis information in multiple places :)

[2016-04-27 06:27] bgrant0607 commented on #24533
Given that restart=Never behavior for kubectl run is currently useless and confusing, I guess the least-bad option would be to produce N pods for now.

[2016-04-27 06:30] bgrant0607 commented on #24533
cc @kubernetes/kubectl

[2016-04-27 06:33] bgrant0607 commented on #23085
cc @kubernetes/docs

[2016-04-27 06:35] wojtek-t commented on #24667
Conversions are only generated where they are needed. We should just fix it for deep-copies.

[2016-04-27 06:37] #24065 closed

[2016-04-27 06:39] bgrant0607 commented on #22337
Resource aliases are discussed in #18023 and #20293.

[2016-04-27 06:39] bgrant0607 commented on #23215
Closing as dupe of #22337

[2016-04-27 06:39] #23215 closed

[2016-04-27 06:48] bgrant0607 commented on #22308
@kargakis @soltysh I believe this can be fixed now.

[2016-04-27 06:55] bgrant0607 commented on #21810
I don't see any subsequent occurrences that weren't due to broader test suite failures, so closing.

[2016-04-27 06:55] #21810 closed

[2016-04-27 07:00] bgrant0607 commented on #20361
Fixed by #20368 and subsequent PRs

[2016-04-27 07:00] #20361 closed

[2016-04-27 07:03] bgrant0607 commented on #19949
cc @kubernetes/docs

[2016-04-27 07:54] Aleishus commented on #24842
#### Thanks for your answer @thockin  I found the problem through debug the kube2sky source code. something is wrong with my etcd configuration. my etcd configuration is like this ：
[code]
####  kube2sky initialize the etcd-client like this

	 if err := wait.Poll(poll, timeout, func() (bool, error) {
		if client = etcd.NewClient([]string{etcdServer}); client == nil {
			return false, fmt.Errorf("e

[2016-04-27 07:55] #24842 closed

[2016-04-27 08:14] mmkonrad commented on #17205
@dalanlan In which file the "--no-sync" flag has to be set?

[2016-04-27 08:18] kargakis commented on #24533
Agreed with @erictune / @janetkuo
[code]

[2016-04-27 08:41] davidopp commented on #24820
@bgrant0607 Heh. And we even know what comes next in this line of thinking, once we have preemption...

[2016-04-27 08:49] AdoHe commented on #24533
Agreed with @erictune / @janetkuo
[code]
also need to consider `--replicas=N`

[2016-04-27 09:15] chitezh opened #24854 "KUBE_AWS_INSTANCE_PREFIX in AWS config default should be annotated"
I was trying to provision a second kubernetes box on AWS for hours without success.
After going through the config-default.sh and digging for a way to get the second instance up, I realized I could just set KUBE_AWS_INSTANCE_PREFIX to the desired name. This created the cluster in a new VPC.

I propose an annotation for KUBE_AWS_INSTANCE_PREFIX describing its usefulness.