[2021-12-18 04:39] #103769 closed

[2021-12-18 06:52] NikhilSharmaWe commented on #107078
@jayunit100 and @aojea do we need to add a parameter in [this](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/hybrid_network.go#L52) function as link string and replace `www.google.com` from link.

If not what are we trying to achieve here, I would like to collaborate.

[2021-12-18 07:01] sushant032 commented on #106284
### Investigation
@eddiezane I looked into the issue and was able to replicate it. Here are some commands that I tried
<img width="911" alt="Screenshot 2021-12-18 at 12 17 52 PM" src="https://user-images.githubusercontent.com/23253000/146632293-432fec09-a4f4-4060-9691-faa77c19ddbc.png">

So basically if we just use the following command it will just affect the resources in the default namespace

[

[2021-12-18 07:32] calvin0327 commented on #106129
/assign

[2021-12-18 10:37] yanghesong commented on #74265
#107079 also has similar needs, if the idea is reasonable, I am willing to implement this function.

[2021-12-18 13:17] strikingraghu opened #107120 "Repomd.xml doesn't get downloaded while using steps mentioned in the documentation"
### What happened?

While installing K8s on CentOS VM, below steps didn't work seamlessly:

Site Link - https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
----------------------------------------------------------------------------------------------------------------------------
Code Section:

cat <<EOF | sudo tee /etc/yum.repos.d/kubernetes.repo
[kubernetes]
na

[2021-12-18 13:28] strikingraghu commented on #107120
@sig/docs
Mapping it to sig/docs team to review this piece of suggestion!

[2021-12-18 13:37] afbjorklund commented on #104878
Too bad that `crictl` doesn't handle "load", but I suppose it's  `docker push` and `crictl pull`

[2021-12-18 13:42] strikingraghu commented on #107120
/sig docs

[2021-12-18 14:50] afbjorklund commented on #104878
https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/

[2021-12-18 15:44] #103673 closed

[2021-12-18 15:53] TheDiveO commented on #77142
/remove-lifecycle stale

[2021-12-18 16:37] NikhilSharmaWe commented on #107038
@natherz97 @pacoxu
- Since func [`GenerateHPAScaleUpRules`](https://github.com/kubernetes/kubernetes/blob/6ac2d8edc8606ab387924b8b865b4a69630080e0/pkg/apis/autoscaling/v2/defaults.go#L105) sets default values for nil values then why this error is showing.
- Does this [comment](https://github.com/kubernetes/kubernetes/blob/6ac2d8edc8606ab387924b8b865b4a69630080e0/pkg/apis/autoscaling/v2/defaults.go

[2021-12-18 21:26] aojea commented on #107078
independent test cases `ginkgo.It` with their own feature tags as in
https://github.com/kubernetes/kubernetes/blob/489fb9bee3f626b3eeb120a5af89ad8c2b2f1c20/test/e2e/network/networking.go#L83-L97

[2021-12-18 21:46] #95709 closed

[2021-12-19 02:16] yanghesong commented on #107026
I am willing to troubleshoot this problem.

[2021-12-19 04:26] NikhilSharmaWe commented on #107078
/assign

[2021-12-19 09:51] #99827 closed

[2021-12-19 10:16] NikhilSharmaWe commented on #107038
/assign

[2021-12-19 11:51] matthyx commented on #107107
/sig node

[2021-12-19 12:27] sanposhiho commented on #101803
/reopen
/remove-lifecycle rotten

[2021-12-19 13:05] serathius commented on #103368
/reopen

[2021-12-19 13:05] serathius commented on #103368
/lifecycle frozen

[2021-12-19 13:58] ialidzhikov commented on #106894
Ref https://github.com/kubernetes/autoscaler/issues/4517

[2021-12-19 15:59] sanchayanghosh opened #107127 "Kube pods - coreDNS are always in ContainerCreating state even after the CNI plugin has been loaded. Logs show it is constantly trying to connect to /var/run/antrea/cni.sock, even when I don't use the antrea configuration."
### What happened?

1. First I did a kubeadm init --pod-network-cidr=192.168.0.0/16

[code]

2. The kubernetes node comes up.
3. After that, I remove the taint off of the master node.
[code]

4. Then I try to schedule a CNI plugin (flannel in this case). Earlier to this, during another kubeadm run (init+reset), i had attempted to schedule the antrea plugin, which had failed. So, I drained the node

[2021-12-19 16:00] sanchayanghosh commented on #107127
/sig networking

[2021-12-19 16:02] sanchayanghosh commented on #107127
/sig scheduling

[2021-12-19 16:03] sanchayanghosh commented on #107127
I am not yet formally assigning myself yet, since I need to triage the issue as well. I will need help in attempting to solve the issue. I will try to understand how coredns finds the socket it needs to communicate.

[2021-12-19 19:30] aojea commented on #107127
this looks like an installation problem, it maybe antrea or other thing, but doesn't look like a kubernetes issue

[2021-12-19 20:25] ahg-g commented on #87850
/reopen

[2021-12-19 20:45] neolit123 commented on #107127
After that drain the node.
Do another kubeadm init --pod-network-cidr
then remove taints again.
this time schedule flannel's cni plugin: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

make sure you delete old config files from prior CNI plugins in `/etc/cni/net.d`, before applying a different CNI.
"kubeadm reset" intentionally does not clea

[2021-12-19 20:45] #107127 closed

[2021-12-19 20:49] neolit123 commented on #107127
if that is the problem and if you think it's worthy of a note in https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ or https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/ , PRs are welcome.
thanks

[2021-12-20 02:05] cyclinder commented on #107089
/sig testing
/assign

[2021-12-20 02:32] wzshiming commented on #107043
@yongzhang Hi
Sorry for the late recovery, this is a known BUG in upstream Systemd, recommend to upgrade Systemd or use a new Linux distribution

[2021-12-20 02:35] pacoxu commented on #107120
[code]
See https://man7.org/linux/man-pages/man5/yum.conf.5.html.

[2021-12-20 02:37] kerthcet commented on #106127
sounds good to me. I'll work on it later.

[2021-12-20 02:43] yongzhang commented on #107043
oh surprising, do you know which version fixed this issue?

[2021-12-20 02:46] wzshiming commented on #107043
https://gist.github.com/bobbypage/13ca9e1e8aee728dc2c7e0e1fd9b59ea
This is a script to verify that graceful shutdown is working, and there are some manual steps, you can use this to test

After v239 (CentOS 8, in my machine), it is ok

[2021-12-20 02:48] yongzhang commented on #107043
I'm using v245, let me check your scripts.
[code]

[2021-12-20 03:01] pacoxu commented on #107100
I'm afraid not.
If you want to do some further testing, you can edit the code and build a `kube-controller-manager` bin or image to test.

[2021-12-20 03:18] jonnylangefeld opened #107130 "Make ttl of discovery cache configurable and raise default"
### What would you like to be added?

The discovery cache for kubectl is defaulted to 10 minutes:
https://github.com/kubernetes/kubernetes/blob/0fb71846df9babb6012a7fce22e2533e9d795baa/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go#L253

That means that every 10 minutes of using `kubectl` against a cluster, it runs API requests against all group versions, which can take quite

[2021-12-20 03:21] jonnylangefeld commented on #107130
/sig cli

[2021-12-20 03:36] yongzhang commented on #107043
@wzshiming I tested the script,
[code]
Does it mean the inhibitor output will only display at shutdown happening?

[2021-12-20 03:49] wzshiming commented on #107043
Yes, Run `systemctl reboot` on a new terminal

[2021-12-20 04:32] MadhavJivrajani commented on #107111
/sig node

[2021-12-20 04:47] wenlxie commented on #107111
https://github.com/kubernetes/kubernetes/pull/57136#discussion_r241675032

[2021-12-20 05:22] shyamjvs opened #107133 "Reflector loops forever with "Too large resource version" when objects aren't changing"
### What happened?

Recently observed this on a 1.18 cluster (specifically, apiserver on 1.18.20 and worker nodes on 1.18.16) that there are http 504 responses being seen continuously for list API calls coming from kubelet. These calls have resourceVersion set to non-zero values as they're coming from reflector. The problem is that the RV is higher than what the apiserver's watch-cache is currentl

[2021-12-20 05:24] shyamjvs commented on #107133
I was able to capture a series of list/watch calls being made by an example kubelet. Here they are:

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|  requestReceivedTimestamp   |                                                               requestURI

[2021-12-20 05:27] yongzhang commented on #107043
OK, I may misunderstand the behavior, if I manually terminate AWS EC2, will kubelet hold on shutdown and drain the node?

[2021-12-20 06:11] strikingraghu commented on #107120
I agree, but using the link in document fails! [https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch]
Hence, I am requesting to make it simpler to new users to download and install K8s without much issues.

[2021-12-20 06:15] shyamjvs commented on #107133
There are few behaviors to observe from the above:

- When reflector is trying to relist from the watch-cache (i.e with RV=X), it seems to be making 10 identical calls back-to-back with a 4s internal. Need to dig deeper, but my best guess at this point is it's probably due to the retry behavior within the reflector's listwatcher implementation. It's a bit orthogonal to this issue, but wondering ho

[2021-12-20 06:22] wzshiming commented on #107043
Yes, until Kubelet actively releases the Inhibit lock or reaches the maximum Inhibit time

[2021-12-20 06:24] shyamjvs commented on #107133
Regarding the core reflector issue, I'm trying to figure out what was the reason we decided to relist from etcd rather than the watch-cache itself (i.e RV=0) on receiving the too large RV error.

The most info I have so far is from [this comment](https://github.com/kubernetes/kubernetes/blob/v1.18.16/staging/src/k8s.io/client-go/tools/cache/reflector.go#L261-L266):

[code]

Does making forward pro

[2021-12-20 06:28] MadhavJivrajani commented on #107133
/cc @wojtek-t

[2021-12-20 06:47] haosdent commented on #101803
@sanposhiho can ping me if your pull request is ready, would like to help to review.

[2021-12-20 07:28] yongzhang commented on #107043
I just did a test, I manually terminate an EC2, I see the node is in `NotReady` state, all pods on it are in `Running` status, looks like they are not been evicted, until a new node comes up the pods are been created then old ones been terminated. I'm not sure if I missed anything.

[2021-12-20 07:59] #103528 closed

[2021-12-20 08:06] mk46 commented on #107130
I would like to work on this issue.

[2021-12-20 08:07] mk46 commented on #107130
/assign

[2021-12-20 08:38] shoukathmd commented on #92402
/assign @BenTheElder

[2021-12-20 08:39] shoukathmd commented on #92402
/unassign @BenTheElder

[2021-12-20 08:41] shoukathmd commented on #92402
/assign

[2021-12-20 08:55] yongzhang commented on #107043
I checked kubelet log, looks `kubelet.service` stopped quickly after I run reboot:
[code]

[2021-12-20 09:10] pacoxu commented on #107120
BTW this is a "problem" in [website](https://github.com/kubernetes/website/).
/transfer-issue website

[2021-12-20 09:15] pacoxu commented on #107079
Pod IP and Pod's node IP will be never changed after it is running in my understanding of [pod lifecycle](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/).

[2021-12-20 09:23] shoukathmd commented on #104432
/assign

[2021-12-20 09:26] yongzhang commented on #107043
I followed https://trstringer.com/systemd-inhibitor-locks/, the inhibitor lock works as expected, since I can't see `kubelet` from `sudo systemd-inhibit --list`, is this still the root cause?

[2021-12-20 09:39] zhubuntu commented on #106902
@jingxu97

[2021-12-20 09:43] zhubuntu commented on #106902
@jingxu97  1. The csi report path is used by others, i think someone cd to the mount path
1. Thanks, i'll follow this issue

[2021-12-20 09:47] wzshiming commented on #107043
Could you please provide the log when Kubelet was started?

[2021-12-20 09:51] pacoxu commented on #106951
For DNS failure observability and diagnosis, I attended the China Kubecon topic https://sched.co/pcag. You can check if it helps. There are many observability tools for DNS that may help to find the root cause.

Observability | Plugin Name
-- | --
Logging | log
-- | dump
-- | debug
-- | dnstap
Tracing | trace
Metrics | prometheus

If this is not a coredns issue, I'm not sure how to move on.

[2021-12-20 09:54] yongzhang commented on #107043
I found this:
[code]

[2021-12-20 09:56] wzshiming commented on #107043
https://www.freedesktop.org/software/systemd/man/logind.conf.html

[code]
Look in these locations to remove `InhibitDelayMaxSec=30s`

[2021-12-20 09:59] yongzhang commented on #107043
It's set by `unattended-upgrades`, let me remove this and try.
[code]

[2021-12-20 10:02] yongzhang commented on #107043
it works now, Thanks for the help @wzshiming !

[2021-12-20 10:03] wzshiming commented on #107043
/kind support
/close

[2021-12-20 10:03] #107043 closed

[2021-12-20 10:03] wzshiming commented on #107043
/remove-kind bug

[2021-12-20 10:25] yongzhang commented on #107043
@wzshiming since unattended-upgrades is a default enabled service in ubuntu, will this be a common issue in ubuntu box?

[2021-12-20 10:28] ZongqiangZhang commented on #95440
@sbocinec  Thanks for your tips. I tried to `kubectl apply dp.yaml` with nodeSelector value=`null`, but got  error message as follows.  Is my k8s version toooo old?

[code]

[code]

[2021-12-20 10:37] pacoxu commented on #101655
/remove-lifecycle rotten
/cc @Random-Liu
As you are owner of NPD, would you give some advices on this?

[2021-12-20 10:37] pacoxu commented on #101655
/triage accepted

[2021-12-20 10:37] pacoxu commented on #51430
/remove-lifecycle rotten

[2021-12-20 10:38] pacoxu commented on #51430
PR is still in review.

[2021-12-20 10:40] pacoxu commented on #101622
/remove-lifecycle rotten
/help

[2021-12-20 10:41] pacoxu commented on #101622
/good-first-issue
New contributor can follow some advice in #102038.

[2021-12-20 10:42] wzshiming commented on #107043
Yes, but if the total time does not exceed 30s, this configuration conflict should be avoided. There is currently no better way to avoid this

[2021-12-20 10:42] pacoxu commented on #101609
/remove-lifecycle rotten
@verb
according to #84764 and #103482, this worked as expected and we will not change the behavior.

[2021-12-20 11:01] zx8 commented on #90329
/remove-lifecycle stale

[2021-12-20 12:17] sanposhiho commented on #101803
@haosdent
Thanks. I rebased the PR.

[2021-12-20 12:48] gman0 commented on #106729
@jsafrane I cannot reproduce with >=1.22.0. Thank you and sorry for the noise. Closing.

[2021-12-20 12:48] #106729 closed

[2021-12-20 13:42] wangchanggan opened #107139 "network is unreachable when communicating by localhost between docker containers in the same pod"
### What happened?

i started two docker  containers(a client and a server which ran by iris https://github.com/kataras/iris) in the same pod, then the client requested the server by http.client(net/http)，but sometimes it reported "connect: network is unreachable."

for example, Get http://localhost:10010/api/nodes: dial tcp [::1]:10010: connect: network is unreachable, 10010 is server port which

[2021-12-20 14:10] alculquicondor commented on #106127
You need to do a KEP first

On Sun., Dec. 19, 2021, 9:37 p.m. Kante, ***@***.***> wrote:

[2021-12-20 14:40] RomainPhil commented on #68251
still no progress ?

[2021-12-20 14:49] hichamuntitled commented on #105041
After some digging, it turns out that my openstack api version was not compatible with my standard storage class.
Creating a new csi storage class solved the problem.

[2021-12-20 14:49] #105041 closed

[2021-12-20 15:07] yanllearnn opened #107143 "GetOpenAPIDefinitions not declared by package openapi"
### What happened?

[{
	"resource": "/Users/myMac/goworkspace/src/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go",
	"owner": "_generated_diagnostic_collection_name_#0",
	"severity": 8,
	"message": "GetOpenAPIDefinitions not declared by package openapi",
	"source": "compiler",
	"startLineNumber": 382,
	"startColumn": 97,
	"endLineNumber": 382,
	"endColumn": 118
}]

### What did you expect to ha

[2021-12-20 15:14] sanchayanghosh commented on #107127
Thank you all so so much! It was that! I should have literally read the kubeadm reset, and not jumped to conclusions! I will make the note. I am sure it would help provide everyone with an internet resource to fallback on should they also ignore this.

[2021-12-20 16:48] lauchokyip commented on #105565
/triage accepted
/priority backlog

[2021-12-20 17:33] mateuszlitwin commented on #98935
Can we re-open this issue?

[2021-12-20 18:12] mattcary commented on #106637
I don't think we can just add validation, because there may be resources out there that have set the limit, and we don't want to break those clusters.

If we know that we want to start using limits, eg plumb them through to the csi driver, then we want to start validating the the limit is a valid storage quantity. If we don't have a plan for using limits, then it's not as clear to me what to do---

[2021-12-20 18:12] #105565 closed

[2021-12-20 18:13] mattcary commented on #106637
(fyi, it looks like key people are out during the holiday time, so responses might be delayed)

[2021-12-20 18:43] shatoboar commented on #106939
Hi, I am new to this project and would really love to start contributing and thought this might be a good start.
Could you tell me a little more about this problem?

[2021-12-20 18:52] SergeyKanzhelev commented on #106939
@shatoboar glad to have you, welcome!

Some step by step you may start with:

- Find the test mentioned, understand what it is doing
- If dependency on DynamicKubeletConfig is found, try to work around them and remove that `skipper` line.
- Try running the test locally. If you can repro flakiness - try to fix it
-  If test passes: Try removing the `[Flaky]` and see if passes in serial tests on pre

[2021-12-20 19:04] shatoboar commented on #106939
@SergeyKanzhelev Thank you so much!
/assign

[2021-12-20 19:27] YuriiVarvynets commented on #61486
@M00nF1sh do you have ETA for the default kube-proxy addon patch.

[2021-12-20 20:53] ltagliamonte-dd opened #107146 "Track Web hook fail open"
### What would you like to be added?

Add a prometheus metrics to track when a webhook (admission or mutating) fails open.

### Why is this needed?

In some situations cluster admin (or app/chart developers) prefers to fail open when a requests towards a mutation or admission web hook fails.
However is it important to monitor and alert on those conditions, currently the only way to do it is by ale

[2021-12-20 20:55] ltagliamonte-dd commented on #107146
/sig api-machinery

[2021-12-20 20:59] npnwdev opened #107147 "propagationPolicy for a resource"
### What happened?

my controller creates two resources `AA` and `BB` where `AA` is the parent and `BB` is the child.
Child `BB` is configured with `ownerReferences:` pointing to `AA` and with `blockOwnerDeletion: true`

If I understand correctly, propagationPolicy is `background` by default.
So when `AA` is deleted, `AA` is removed immediately and `BB` is left to be cleaned by GC.

However, in my

[2021-12-20 21:08] npnwdev commented on #107147
/sig api-machinery

[2021-12-20 21:32] rsoika commented on #103819
/remove-lifecycle stale

[2021-12-20 22:48] marosset commented on #102686
/close

@zhiweiv please reopen with more info if needed.
Thanks!

[2021-12-20 22:48] #102686 closed

[2021-12-20 22:55] marosset commented on #98102
@dcantah do we think issue has been fixed by any of the recent hcsshim/containerd fixes?

[2021-12-20 22:58] marosset commented on #104789
/close

I believe this issue is addressed either Docker EE 20.10.8.

[2021-12-20 23:00] marosset commented on #104987
@weiwenli97 @jayunit100 this got addressed in a sig-windows community meeting correct?

[2021-12-20 23:01] dcantah commented on #98102
Mmm, I'd have to do an audit of the changes recently but not that I know of. Has this been seen recently?

These two changes give me hope though:
https://github.com/microsoft/hcsshim/pull/1249
https://github.com/microsoft/hcsshim/pull/1234

[2021-12-20 23:14] marosset commented on #98102
I don't know if this has been seen recently or not.
I came back to it while cleaning up so old issues.

[2021-12-20 23:18] SergeyKanzhelev commented on #107062
/reopen

The test is still failing. @pacoxu can I assign it to you to take a look (feel free to un-assign).

/assign @pacoxu

[2021-12-20 23:20] SergeyKanzhelev commented on #107062
/triage accepted

[2021-12-20 23:24] SergeyKanzhelev commented on #107067
@vteratipally do you think you can take a look?

[2021-12-20 23:31] vteratipally commented on #107067
checked the logs for the latest failure, failing with the below message while starting kubernetes systemd probe [error log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-npd-e2e-node/1473068516939665408/artifacts/tmp-node-e2e-a6c85484-cos-89-16108-534-34-system.log)

[code]

[2021-12-21 01:40] cyclinder commented on #107139
it seems to port `10010` doesn't open, are you sure this port really open?

[2021-12-21 02:41] ahrtr opened #107150 "[Feature request] Support token rotation for service account"
### What would you like to be added?

Currently the token created for each service account never expires. When a kubeconfig is generated based on a token bound to a service account, then the users can always use the kubeconfig to communicate with the K8s cluster. We would like the token bound to each service account can be rotated automatically, so that the kubeconfig containing the old token can'

[2021-12-21 02:42] yanllearnn commented on #107143
/wg Docs

[2021-12-21 02:43] yanllearnn commented on #107143
/sig Docs

[2021-12-21 05:10] ahrtr commented on #107150
/sig security

[2021-12-21 05:18] pacoxu commented on #107150
/sig auth

[2021-12-21 05:56] davidstack commented on #106942
@matthyx  thanks.

[2021-12-21 06:06] PaulFurtado commented on #106149
I was actually about to come here and file the same issue. It's a huge issue for high performance services to require that a pod be guaranteed in order to avoid all of the latency issues caused by CFS throttling.

We run many high-performance database container workloads that have a variety of unimportant sidecar containers. For example, a pod may look like:
- a MySQL container with a limit of 10

[2021-12-21 06:10] davidstack commented on #106942
@matthyx  thanks, is this the reason for the problem?

[2021-12-21 06:41] matthyx commented on #106942
It might be... can you do the test and confirm?

[2021-12-21 07:02] ydp commented on #101622
/assign

[2021-12-21 07:13] pacoxu commented on #107062
OK. Let me take a look.

At my first glance, I find cadvisor logged an error: cgroup v2 is not detected successfully. I will check if there are other errors.
[code]

[2021-12-21 07:51] aojea commented on #107139
/remove-kind bug
/kind support

This doesn't look like a kubernetes problem :thinking:

[2021-12-21 07:56] jonyhy96 commented on #107139
may change the server to nginx to verify is it a bug of iris

[2021-12-21 07:59] sherwinwangs opened #107154 "kubelet /stats/summary rootfs usage is not correct"
### What happened?

I've 2 disks /dev/sda is os disk, /dev/sdb is data disk with used for docker data storage with xfs filesystem and mount with uquota,pquota option.
the docker "storage-driver": "overlay2",and with option "overlay2.size=10G", in the pod I can see overlay is limit to 10G.

## pod disk usage
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kub

[2021-12-21 08:02] sherwinwangs commented on #107154
/sig node

[2021-12-21 08:15] BinacsLee commented on #105802
/cc

[2021-12-21 08:17] comsky commented on #83471
Same problem on Kubernetes cluster installed on Ubuntu 20.04 which is installed on VMware Cloud VMs.
- Kubernetes v1.21.3

Problem solved by restarting kubelet.

[2021-12-21 08:24] chendave opened #107156 "kube-proxy: CLI arguments is ignored even the options are not specified in the config file"
### What happened?

Start `kube-proxy` service with a config file without specifying the argument in the config file, instead, pass the value via the CLI args, the value is just ignored, for example,

I have a config file ```config.conf``` as this,

[code]

NOTE: I have not specified the `mode` in the config file, but give a value for the `mode` via the CLI,

```go run ./proxy.go --config=./config

[2021-12-21 08:29] chendave commented on #107156
/sig network

@thockin
Hey Tim, WDYT?

/assign

[2021-12-21 08:51] valumar commented on #83329
/reopen

[2021-12-21 08:54] aojea commented on #107156
Heh, this is a recurrent topic :smile: ,  you did a great analysis:

I think that @liggitt  explains here why merging flags and config overriding defaults is not a desirable option (the whole thread is word reading) https://github.com/kubernetes/kubernetes/pull/101273#issuecomment-823357862

I'm in favor of documenting the behavior

[2021-12-21 09:13] chendave commented on #107156
@aojea  thanks for show the earlier thread, I have created a simple PR to document this in the CLI option.

[2021-12-21 09:14] #95979 closed

[2021-12-21 09:43] danisafta opened #107158 "Graceful Node Shutdown does nothing on reboot"
### What happened?

After I have configured Graceful Shutdown in the k8s cluster, I was expecting to see in the pods SIGTERM when a node reboots and preStop hook to run.

### What did you expect to happen?

Expected the pod to log that it received a SIGTERM when node-1 rebooted.

### How can we reproduce it (as minimally and precisely as possible)?

1. Configure the following parameters for kubele

[2021-12-21 10:27] ravi-kp opened #107160 "Kubctl Port Forwarding Issue"
I am running a Prometheus exporter inside a container. To monitor the metrics, I am running the Prometheus on my host. The metric is pulled by Prometheus at (a.b.c.d:8081). I am using the following port forwarding command:

` kubectl port-forward --address a.b.c.d podName 8081:8081 -n namespace`

**_But I am getting the output as :_**
Forwarding from a.b.c.d:8081 -> 8081
Handling connection for 80

[2021-12-21 10:46] mrad-bilel opened #107161 "podAntiAffinity not working as expected"
### What happened?

podAntiAffinity not working as expected

### What did you expect to happen?

my applications will not be deployd on the same node

### How can we reproduce it (as minimally and precisely as possible)?

[code]

here is my podAntiAffinity  configuration

[code]

Here my 2 apps are deployed on the same node

[code]
[code]

### Anything else we need to know?

_No response_

### Kub

[2021-12-21 10:59] BinacsLee commented on #93500
/cc

[2021-12-21 11:46] fromanirh commented on #100145
/remove-lifecycle stale

[2021-12-21 12:38] claudiubelu commented on #102100
Sent a PR for other jobs: https://github.com/kubernetes/test-infra/pull/24718

[2021-12-21 13:05] cramakan opened #107164 "getting websocket disconnection in kubenetes version 1.21.5"
getting websocket disconnection in  kubenetes version 1.21.5

[2021-12-21 14:14] aojea commented on #107164
you should provide more information, I think that there is also a template with the information required for this kind of issues

[2021-12-21 14:18] cynepco3hahue commented on #101945
/remove-lifecycle stale

[2021-12-21 14:26] souradeepmoe commented on #106951
Thanks for the help @pacoxu , I will anyways check the observability tools on DNS mentioned here, since DNS is one of the most commons outages with large blast radius.

[2021-12-21 14:57] jsafrane commented on #103221
Fix: https://github.com/kubernetes/kubernetes/pull/107166

[2021-12-21 15:02] haosdent commented on #105802
Personally, I think the discussions are stand from different perspectives. If the purpose of WG-Batch is just to focus on adding batch support on the default k8s-scheduler, it is nature that put the WG under kubernetes. But if the purpose of WG-Batch is looking forward to improving batch support for other Cloud Native softwares, such as Volcano, it looks better if we could put the WG under CNCF.

[2021-12-21 15:11] dims commented on #105802
@k82cn @haosdent we can't be having the same exact conversation all the time, there are folks who want to do stuff in k8s. So the WG in k8s will concentrate on that. Who ever does not want to help there can do something similar in CNCF with a broader vision. So let's please stop talking about the same thing again and again.

It will be upto the TLs and SIG-chairs of the proposed k8s WG + SIG-Apps

[2021-12-21 15:18] sushant032 commented on #107160
/sig cli

[2021-12-21 15:25] phisco commented on #81089
+1, still Postgres related: PgBouncer running with a  specific user and it's unable to read certificates mounted from a secret as they are mounted `600 root root` when not specifying the securitycontext at all or `640 root pgbouncer` when specifying it correctly 😭

[2021-12-21 15:28] haosdent commented on #105802
@dims Sure, sounds good to me.

[2021-12-21 15:56] sushant032 commented on #106284
/assign

[2021-12-21 16:07] VivekThrivikraman-est commented on #106651
Have created an issue and script to reproduce in netfilter bugzilla:
https://bugzilla.netfilter.org/show_bug.cgi?id=1579

[2021-12-21 18:14] ehashman commented on #96497
/remove-lifecycle rotten
/reopen

[2021-12-21 18:54] chrishenzie commented on #103132
/remove-lifecycle stale

[2021-12-21 19:14] #100854 closed

[2021-12-21 19:39] swatisehgal commented on #102191
This can be closed as https://github.com/kubernetes/enhancements/pull/2932 and https://github.com/kubernetes/website/pull/29751 resolved this issue.

/close

[2021-12-21 19:39] #102191 closed

[2021-12-21 20:02] sitilge opened #107170 "Warning "Can't open port nodePort" on a fresh cluster setup with kubeadm"
### What happened?

I've been following the official docs for kubeadm and how to set up a new cluster. The cluster is up and running but I noticed warning events when creating node port services:

[code]

However, the node port does work (I see the output when accessing node ip:nodeport). Might it be related to something else than Kubernetes?

### What did you expect to happen?

There is no such w

[2021-12-21 20:40] unixfox commented on #90131
/remove-lifecycle stale

[2021-12-21 20:44] #107156 closed

[2021-12-21 20:53] aojea commented on #107170
check with netstat or ss if there is a process listening on that port

[code]

[code]

[2021-12-21 21:12] fedebongio commented on #107086
/assign @apelisse @Jefftree
/triage accepted

[2021-12-21 21:12] fedebongio commented on #107097
/triage accepted

[2021-12-21 21:14] sitilge commented on #107170
@aojea no, I specified exact random port e.g. `nodePort: 31234` and checked it before with ss - it was not being used. Then I created the service, the warning occured, and after that the port was taken:

[code]

[2021-12-21 21:14] fedebongio commented on #107133
/sig scalability
/cc @jpbetz

[2021-12-21 21:15] fedebongio commented on #107146
/assign @roycaihw
/triage accepted

[2021-12-21 21:16] fedebongio commented on #107147
/assign @caesarxuchao
/triage accepted

[2021-12-21 21:20] ltagliamonte-dd commented on #107146
@fedebongio i have a branch where i've added the metric, happy to submit a PR

[2021-12-21 21:22] brsolomon-deloitte commented on #99305
/remove-lifecycle stale

[2021-12-21 21:26] caesarxuchao commented on #107147
The GC internally tracks objects based on their UIDs, not their names, so recreating AA shouldn't affect the GC of BB.

Does BB have other owners?

[2021-12-21 21:41] aojea commented on #107170
kube-proxy binds the NodePort to warn users that they may be shadowing a process, but it logs the errors if it can not bind the port

[2021-12-21 22:59] gohilankit commented on #101378
@msau - Do you know which patch versions of 1.21 & 1.20 has the fix? I couldn't find the PR #102576 in changelog for 1.20 & 1.21.

[2021-12-21 23:50] luckerby opened #107172 "CRI stats are overwritten by cAdvisor ones for Summary API"
### What happened?

I was going over the memory metrics being returned by Summary API based on the table that @haircommander built [here](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2371-cri-pod-container-stats#current-fulfiller-of-metrics-endpoints--future-proposal). Notice that the provider for `container_memory_working_set_bytes` is listed as CRI. This appears to match

[2021-12-21 23:55] luckerby commented on #107172
/sig instrumentation

[2021-12-22 00:03] roycaihw commented on #107146
To distinguish a [fail open](https://github.com/kubernetes/kubernetes/blob/38ec822b46853acfb3c3dc7e386a8d4636c67e03/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go#L153) from a [successful admit](https://github.com/kubernetes/kubernetes/blob/38ec822b46853acfb3c3dc7e386a8d4636c67e03/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go#L16

[2021-12-22 00:51] ltagliamonte-dd commented on #107146
Thanks for the suggestion, I'm on 1.21 and i see the metric `webhook_request_total` been added to 1.23.
However looking briefly at the code it doesn't seems the `ObserveWebhook` gets invoked on fail open.
My goal here is to precisely monitor requests that fail open.
If you don't want to add a dedicated metric if you want we can dedicate an error code to fail open and use `ObserveWebhook`
What do y

[2021-12-22 00:58] 249043822 opened #107174 "[Flaky Test][sig-apps] Daemon set [Serial] should surge pods onto nodes when spec was updated and update strategy is RollingUpdate"
### Which jobs are flaking?

[sig-apps] Daemon set [Serial] should surge pods onto nodes when spec was updated and update strategy is RollingUpdate

### Which tests are flaking?

[sig-apps] Daemon set [Serial] should surge pods onto nodes when spec was updated and update strategy is RollingUpdate

### Since when has it been flaking?

[1mSTEP[0m: Update daemon pods environment var
[1mSTEP[0m: C

[2021-12-22 00:58] 249043822 commented on #107174
/assign @soltysh

[2021-12-22 01:07] 249043822 commented on #107174
/sig apps

[2021-12-22 01:07] RainbowMango commented on #103942
/remove-lifecycle stale

[2021-12-22 01:14] roycaihw commented on #107146
IIUC it gets invoked [here](https://github.com/kubernetes/kubernetes/blob/38ec822b46853acfb3c3dc7e386a8d4636c67e03/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go#L153)

[2021-12-22 01:19] 249043822 commented on #107174
Since the daemon_set test sets update strategy {MaxUnavailable: 0，MaxSurge:20%} and our node num is 3,  so we should not see the temp result below,
Dec 18 12:09:33.163: INFO: Node       Version     Name                         UID                                            Deleted Ready
Dec 18 12:09:33.163: INFO: 10.235.30.41 1 daemon-set-gjrk4 ae7cf9a3-aa03-4e10-96c8-bee9adcb6419 false true
Dec 1

[2021-12-22 01:41] ltagliamonte-dd commented on #107146
@roycaihw yes you are right, it looks like it is the only case in which `rejected` will be `false`.
Just wondering if a code refactoring would break this assumption in the future, ergo breaking alerting.

A dedicated metric looks a bit more appealing to me to someone that look at that piece of code in few years from now, but if there are reasons to don't add a dedicated metric, I can understand.

[2021-12-22 01:52] kerthcet commented on #103132
hey @chrishenzie , where are we now? I found you have a draft pr created.

[2021-12-22 01:56] jayunit100 commented on #107026
were working on new service loadbalancers tests which are more comprehensive https://github.com/K8sbykeshed/k8s-service-lb-validator , which we'd like to donate to sig-network eventually.  Do you want to add some of your examples there ?

[2021-12-22 02:46] chrishenzie commented on #103132
I haven't had time yet to complete this yet but it's my goal to wrap this up.

Implementing this should be doable, but there are a few other [beta graduation tasks](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2485-read-write-once-pod-pv-access-mode#beta) that need taking care of that all need completion in the same release. The last thing I was focused on was implementi

[2021-12-22 03:49] pacoxu commented on #107161
/sig scheduling

[2021-12-22 06:04] wenlxie commented on #74839
Can anyone point me  out how netfilter ignore this STATE invalid packet?

I checked the code in netfilter for function  iptable_nat_do_chain, but didn't find the code that handles the STATE=invalid packet.
Thanks for help.

@anfernee

[2021-12-22 06:42] cramakan commented on #107164
we have  1 kubernetes deployement that has implementation of web socket and its running with 4 pods .we have different version of kubernetes cluster

-  with  kubernetes version 1.15.* and above  pods  are running without web socket disconnection
- with  kubernetes version 1.21.5 same  pods  has issue for  web socket disconnection some time not always

[2021-12-22 06:48] pacoxu commented on #107158
/sig node
/cc @wzshiming @bobbypage

[2021-12-22 07:15] anfernee commented on #74839
Invalid is connection tracking state. My understanding is: If for some reason conntrack doesn't think it's the packet is "tracked" it could be grouped into "invalid" state. The problem is once it happens, [the connection will be reset](https://kubernetes.io/blog/2019/03/29/kube-proxy-subtleties-debugging-an-intermittent-connection-reset/#what-caused-the-connection-reset).

[2021-12-22 07:16] anfernee commented on #74839
ipvs should be fine. do you see similar issue in ipvs?

[2021-12-22 07:33] wzshiming commented on #107158
[#107043](https://github.com/kubernetes/kubernetes/issues/107043#issuecomment-997541947)

@danisafta Hi
This is a known BUG in upstream Systemd, recommend to upgrade Systemd or use a new Linux distribution.
CentOS 7 BUG was not fixed. CentOS 8 BUG was fixed.

[2021-12-22 07:34] wzshiming commented on #107158
/assign

[2021-12-22 07:35] wzshiming commented on #107158
https://gist.github.com/bobbypage/13ca9e1e8aee728dc2c7e0e1fd9b59ea
This is a script to verify that graceful shutdown is working, and there are some manual steps, you can use this to test

After v239 (CentOS 8, in my machine), it is ok

[2021-12-22 08:40] 249043822 commented on #106884
Roughly, the scheduler only considers Succeeded or Failed of pod phase as pod terminal state  and thinks that the node has space to place another pod,  but the kubelet considers that both conditions that pod phase is Succeeded or Failed and pod is not actively terminating ( !kl.podWorkers.IsPodTerminationRequested(p.UID) )  are satisfied, then the pod is terminal.  so this is not consistent, this

[2021-12-22 08:40] segevfiner commented on #84210
/remove-lifecycle stale

[2021-12-22 08:57] kerthcet commented on #107161
hey @mrad-bilel what's your kubernetes version, It works as expected in my environment. My kubernetes version is v1.21.1.

[2021-12-22 09:01] mengjiao-liu commented on #107172
I reproduced this issue in unit tests where the value of the `Memory.WorkingSetBytes` field was indeed overridden by the value of Cadvisor.

Recently I was looking at this part of the Summary API  logic and I wanted to try to fix it.
/assign

/cc @haircommander @bobbypage

[2021-12-22 09:32] moussdia commented on #86762
J'ai le même problème.

Cluster Kubernetes 1.22 déployé avec kubespray.

Action ménée:
iptables -P INPUT ACCEPT
iptables -P FORWARD ACCEPT
iptables -P OUTPUT ACCEPT
iptables -F

Exécutez ces commandes sur les nodes workers pour permettre le traffic du POD CoreDns vers l'hôte.

Enfin redémarrez le deployment CoreDns.

En vérifiant à nouveau les logs du POD CoreDns, tout sera OK

[2021-12-22 09:51] aojea commented on #107174
is this test flaking in the CI?

It doesn't seem to have a big failure rate, at least not failure on the blocking and informing jobs

https://storage.googleapis.com/k8s-triage/index.html?test=should%20surge%20pods%20onto%20nodes%20when%20spec%20was%20updated%20and%20update

[2021-12-22 10:04] sftim commented on #106057
/transfer website

[2021-12-22 10:15] mengjiao-liu commented on #107172
It should be this place that calls `p.addCadvisorContainerCPUAndMemoryStats(cs, &caStats)` to overwrite the statistics obtained from CRI:
https://github.com/kubernetes/kubernetes/blob/c75d254beb662ea73736d2f123d0382b7f91dfbd/pkg/kubelet/stats/cri_stats_provider.go#L343-L350

[2021-12-22 11:01] declanlong opened #107183 "In multi-container pod, container statuses do not update after prestop hook starts on any container"
### What happened?

In a multi container pod, when one of the containers defines a prestop hook. No container statuses update when prestop hook starts.

I aim to create a simple golang client which would run as prestop hook, the client checks the status of other containers in pod via api server allowing containers to shutdown in order in a multi container pod.

**Note:** To simplify this I have re

[2021-12-22 11:34] uablrek commented on #93456
/remove-lifecycle stale

There is a pending PR #97081

[2021-12-22 11:40] rtheis commented on #102569
/remove-lifecycle stale

[2021-12-22 11:50] Jc2k commented on #72236
/remove-lifecycle stale

[2021-12-22 12:07] javsalgar commented on #98319
Also found this issue. Any plans to fix this?

[2021-12-22 12:34] soltysh commented on #47202
Thanks all for the input, in the upcoming weeks I'm planning to put together a KEP and we'll push the implementation further as started by @iterion in https://github.com/kubernetes/kubernetes/pull/102889

[2021-12-22 12:52] sftim commented on #107111
My opinion: the minimum of `kernel.threads-max` and `kernel.pid_max` is the right number to count, for Linux. That will provide better instrumentation.

If you're reserving a number of task IDs (PIDs) for system use, that minimum is the number than you're reserving from.

[2021-12-22 13:34] dcantah commented on #98102
Gotcha, but no other than those two issues (that aren't checked in) I'm not sure of anything that would've remedied this

[2021-12-22 14:06] b0b0haha opened #107184 "flexVolume: waitForAttach should add check for devicepath"
### What happened?

It seems in flexVolume mode ,  in the implement of WaitForAttach , just as follows:
https://github.com/kubernetes/kubernetes/blob/ca0c8275b41cf542f9334073fc8660fb349f9605/pkg/volume/flexvolume/attacher.go#L53-L65
when call not support  waitForAttachCmd, WaitForAttach call (*attacherDefaults)(a).WaitForAttach(spec, devicePath, timeout) directly return devicePath,  there is no ad

[2021-12-22 14:12] b0b0haha commented on #107184
/sig storage

[2021-12-22 14:32] fromanirh commented on #94220
/remove-lifecycle stale

[2021-12-22 14:32] mrad-bilel commented on #107161
Hey @kerthcet , mentioned above v1.18.20-eks-c9f1ce .

[2021-12-22 14:36] pacoxu commented on #107183
/sig node

[2021-12-22 14:56] uablrek commented on #107139
localhost seem to resolve to ::1 which is the ipv6 localhost. The server may however open 0.0.0.0, the ipv4 "any" address, and you would get this problem. Either open [::] in the server (works for ipv4 and ipv6 on Linux) or make sure localhost resolves to 127.0.0.0/8.

[2021-12-22 14:58] jonyhy96 commented on #107183
May dulp with https://github.com/kubernetes/kubernetes/issues/106896

[2021-12-22 15:35] ialidzhikov commented on #80289
@wojtek-t can this be now closed? If not, can you please outline what is left to be done?

[2021-12-22 16:01] fromanirh commented on #103691
this turned out to be true, we may need perhaps some tuning (xref: https://github.com/kubernetes/kubernetes/issues/106635) but my PR is laregely obsolete - abandoned it

[2021-12-22 16:02] fromanirh commented on #103691
the aforementioned superceding PR: https://github.com/kubernetes/kubernetes/pull/106348

[2021-12-22 17:48] CzarMich opened #107186 "Error from server: error dialing backend: dial tcp [ip]:10250: i/o timeout when running kubectl exec -it .."
### What happened?

I am running a 3 node cluster with one acting as a master.
All joined the cluster and pods are running .
However, accessing a pod always produces a. timeout error.
I have for instance postgres pod running. But accessing it is not possible as I keep getting time outs

kubectl exec -it  postgres-775bfc9fb6-fnnt4 -- psql -h 10.244.1.3 -U admin --password -p 5432 postgres

Output:

[2021-12-22 17:49] renannprado commented on #52345
Exactly my use case. It would be really nice if there was a solution for this.

[2021-12-22 17:54] xing-yang commented on #101333
/remove-lifecycle stale

[2021-12-22 18:08] SergeyKanzhelev commented on #107067
/triage accepted

/assign @dragoncell

@Dragoncell can you please follow up with @vteratipally on this?

[2021-12-22 18:09] SergeyKanzhelev commented on #107063
/triage accepted

[2021-12-22 18:16] SergeyKanzhelev commented on #106942
/triage needs-information

let's wait for information on how things behave when not mounted twice

[2021-12-22 18:18] vteratipally commented on #107067
Compared the changelog, there are no changes in the kubernetes/node-problem-detector on the failure date.

[2021-12-22 18:20] SergeyKanzhelev commented on #107183
@declanlong I'm closing this as a duplicate. Please let us know if you think this is a separate issue

/close

[2021-12-22 18:20] #107183 closed

[2021-12-22 18:21] SergeyKanzhelev commented on #107158
@danisafta closing as this seems to be diagnosed. Please re-open if something else is needed

/close

[2021-12-22 18:22] #107158 closed

[2021-12-22 18:26] SergeyKanzhelev commented on #107154
/area cadvisor
can you please try to repro this on later versions of k8s? 1.19 is out of support

/cc @bobbypage
/triage needs-information

[2021-12-22 18:27] SergeyKanzhelev commented on #107154
Also this seems to be a problem with dockershim and it was marked for deprecation. So unless this will turn out to be very severe issue, it may not be fixed in previous releases. Please try on containerd or other runtime.

[2021-12-22 18:30] SergeyKanzhelev commented on #107111
/triage accepted
/priority important-longterm

[2021-12-22 18:31] SergeyKanzhelev commented on #107107
/triage accepted
/priority important-longterm

[2021-12-22 18:32] SergeyKanzhelev commented on #107074
/triage accepted
/priority important-longterm

[2021-12-22 18:34] vteratipally commented on #107067
I suspect this issue might be from the k8s-staging image. @SergeyKanzhelev let me know if there is any one that could take a look at this related to the image used in infra.

[2021-12-22 20:35] haircommander commented on #103368
I believe this is only a bug in the cadvisor stats provider, as there is [code](https://github.com/kubernetes/kubernetes/blob/c75d254beb662ea73736d2f123d0382b7f91dfbd/pkg/kubelet/stats/cri_stats_provider.go#L810) in the cri stats provider code to handle this. Between the dockershim deprecation and the (hopeful) promotion of PodAndContainerStatsFromCRI to beta in 1.24, I am wondering if it is worth

[2021-12-22 21:48] afbjorklund commented on #106917
Added https://github.com/Mirantis/cri-dockerd/commit/542e27dee12db61d6e96d2a83a20359474a5efa2, which identifies itself as `cri-dockerd 0.2.0 (HEAD)` (0.2.0-dev)

[2021-12-22 21:50] roycaihw commented on #107146
I think it's okay to have a dedicated metric. Curious what's SIG instrumentation's recommendation.

/sig instrumentation

One place where the existing `webhook_request_total` may be insufficient is if an ErrCallingWebhook with code 200 gets returned, in which case we won't be able to distinguish it from a successfully admit. An alternative to adding a dedicated metric is to add a boolean "fail ope

[2021-12-22 22:24] SergeyKanzhelev opened #107190 "CRI API versioning policies"
### What would you like to be added?

We need to define the CRI API versioning policies:

1. Do we bump the version of API when methods and optional fields are added? [discussion example](https://kubernetes.slack.com/archives/C0BP8PW9G/p1639779373418000?thread_ts=1639687350.416900&cid=C0BP8PW9G)
2. Does CRI API need to indicate that the new methods are optional (not part of a conformance) for a ne

[2021-12-22 22:58] gfuzz-asplos opened #107191 "goroutine leaks in `TestGetUnavailableNumbers(t *testing.T)`"
### What happened?

There are goroutine leaks in `TestGetUnavailableNumbers(t *testing.T)`.

The problem is that the EventBroadcaster object created in `func NewDaemonSetsController(...)` ([line 132](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemon_controller.go#L132)) is not shut down, and thus the goroutines attached to the objects are leaked.

The first leaked g

[2021-12-23 00:13] 249043822 commented on #107174
@aojea the reported failure is found in our private ci, but now we don't know the reason, so I want to get some help from community, thanks

[2021-12-23 00:37] songlh opened #107193 "goroutine leak caused by channel examplePlugin.registrationStatus"
### What happened?

There is no receive or close operation on channel `registrationStatus` of struct `examplePlugin` ([line 86](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/pluginmanager/pluginwatcher/example_plugin.go#L86)) .

Thus, a goroutine leak happens when `func (e *examplePlugin) NotifyRegistrationStatus(ctx context.Context, status *registerapi.RegistrationStatus)` is e

[2021-12-23 00:38] gjkim42 commented on #107190
+1
Thanks for raising this issue.

[2021-12-23 01:37] waidinsamkeit opened #107194 "0/5 nodes are available: 2 node(s) were unschedulable, 3 Insufficient pods."
### What happened?

Excuse me, my kubernetes cluster has the following problems when scheduling pod

0/5 nodes are available: 2 node(s) were unschedulable, 3 Insufficient pods.

Excuse me, is this due to my lack of resources? I check the resources through kubectl top nodes. The resources are still very rich for answers

### What did you expect to happen?

what kind of situation will cause this?

#

[2021-12-23 02:03] kerthcet commented on #103909
/remove-lifecycle rotten

[2021-12-23 02:07] cyclinder commented on #107193
/area kubelet
/assign
I'd try to fix it

[2021-12-23 02:07] jonyhy96 commented on #107194
/remove-kind bug
/kind support
/sig node

[2021-12-23 02:23] jonyhy96 commented on #107194
Please checkout ur node's kubelet config `/var/lib/kubelet/config.yaml`, there is a `maxPod` config which limit the maximum count of pod on a node.

[2021-12-23 02:27] waidinsamkeit commented on #107194
Thanks for trying

[2021-12-23 02:44] cnchef opened #107197 "v1.22.5 Binary manual installation k8s cluster, Kubelet hangs up after it starts"
### What happened?

[root@node1 kubernetes]# systemctl status kubelet -l
[code]
[root@node1 kubernetes]#

[root@master1 ~]# kubectl get csr
[code]
[root@master1 ~]#

[root@master1 ~]# kubectl get node
[code]
[root@master1 ~]#

### What did you expect to happen?

systemctl status kubelet
[code]

[root@master1 ~]# kubectl get node
[code]
[root@master1 ~]#

### How can we reproduce it (as minimally a

[2021-12-23 03:05] kerthcet commented on #107161
I don't think this is a bug and I also tried in my local environment(kind with kubernetes version v1.18.19), it seems quite good.
Can you help to describe your node info for further survey, I can think of a possible scenario like removing the node label `kubernetes.io/hostname`

[2021-12-23 03:10] pacoxu opened #107198 "Top flake: TestCronJobLaunchesPodAndCleansUp"
### Failure cluster [d77f34642bd33bfe8efb](https://go.k8s.io/triage#d77f34642bd33bfe8efb)

##### Error text:
[code]

#### Recent failures:
[2021/12/22 下午3:34:22 ci-kubernetes-integration-1-23](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-integration-1-23/1473557044576391168)

/kind flake
/sig apps

[2021-12-23 03:16] pacoxu commented on #107198
The flake started after #104799 was merged.

[2021-12-23 03:59] songlh-psu opened #107199 "panic in TestCmdJoinConfig"
### What happened?

Right now, `func TestCmdJoinConfig(t *testing.T)` cannot execute independently. If environment variable KUBEADM_PATH is not set, the unit test triggers a panic ([line 77](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/test/cmd/util.go#L77)).

Is it possible to build the kubeadm binary in the test and set KUBEADM_PATH accordingly?

### What did you expect to ha

[2021-12-23 05:45] davidstack commented on #106942
ok，i have a try

[2021-12-23 06:22] pacoxu commented on #107198
/cc @RyanAoh @soltysh

[2021-12-23 06:35] pacoxu commented on #107191
/sig apps testing

[2021-12-23 06:38] pacoxu commented on #107193
/sig node

[2021-12-23 06:38] mindw commented on #52172
/remove-lifecycle stale

[2021-12-23 06:42] pacoxu commented on #107197
The deprecated feature gates `RotateKubeletClientCertificate`, `AttachVolumeLimit`, `VolumePVCDataSource` and `EvenPodsSpread` are now unconditionally enabled and can no longer be specified in component invocations.

See #97306 for more details. The feature gate was removed after Kubernetes 1.21.

Please remove `RotateKubeletClientCertificate` from the kubelet configuration and restart kubelet.

[2021-12-23 06:42] pacoxu commented on #107197
/kind support
/remove-kind bug
/sig node

Would you close it if the above answered your question?

[2021-12-23 06:55] pacoxu commented on #107199
It seems to be an intended panic for tests only.
/area kubeadm

#89982 added this.
[code]

https://github.com/kubernetes/kubernetes/blob/5b671d41c2fa89314eb9710dddd4f6a22c530952/hack/make-rules/test-cmd.sh#L169

[2021-12-23 08:33] tanguofu opened #107202 "There is an extra space in kubelet search home docker.json dir"
### What happened?

[code]

and it is no used to set HOME env in `Environment`

### What did you expect to happen?

As the doc, kubetet should search  ~/.docker/config.json for docker auths, but There is an extra space in  kubelet search home docker.json dir ,  the docker auths take no effective ~

### How can we reproduce it (as minimally and precisely as possible)?

[root@node1 ~]# kubectl  vers

[2021-12-23 08:34] ashok-arora opened #107203 "kubectl port-forward broken pipe"
### What happened?

I have a mysql pod running in a digitalocean k8s cluster that I connect to via kubectl port-forward. As soon as I make a connection request to this pod using:
[code]
I get the following error:
[code]
and the connection closes and I am unable to access the database.

### What did you expect to happen?

I should have been to access the MySQL database.

### How can we reproduce it

[2021-12-23 08:36] ashok-arora commented on #107203
/sig api-machinery
/sig cli

[2021-12-23 08:53] RyanAoh commented on #107198
I wonder if this error was expected or unavoidable.

[2021-12-23 08:58] pacoxu commented on #107198
Not quite sure as I have no context about it.

According to the code below, this may be intended.
https://github.com/kubernetes/kubernetes/blob/3f0a634ef78b6df33075e54b0f89e465e88049c4/pkg/controller/job/job_controller.go#L488-L494

/cc @soltysh @alculquicondor  @alaypatel07
Some experts around cronjob/job.(However, they are probably on vacation now.)

[2021-12-23 08:58] paul-bormans commented on #48180
Just to add another use-case for this feature:

- To mitigate CVE-2021-44228 (as per MS advise: https://msrc-blog.microsoft.com/2021/12/11/microsofts-response-to-cve-2021-44228-apache-log4j2/) or any other urgent security patch.... you want to be able to set this env "LOG4J_FORMAT_MSG_NO_LOOKUPS" to all pods created without going over the trouble to patch each individual pod or chart; some might n

[2021-12-23 09:50] mk46 commented on #107199
Hi @songlh-psu, If still want to run the test from the local env.
run `make WHAT=cmd/kubeadm` . It will generate kubeadm binary in `_output/bin` relative to k/k repo.
export KUBEADM_PATH and the test will run fine.

[2021-12-23 09:56] mk46 commented on #107199
/help

[2021-12-23 09:58] pacoxu commented on #107202
/sig node
#106335 may be a result of this?

[2021-12-23 10:34] #103084 closed

[2021-12-23 11:10] sftim commented on #107111
/retitle System maximum PID inconsiderate of sysctl 'threads-max'

[2021-12-23 11:12] sftim commented on #107111
BTW I made a thing that might help folks test a fix: https://github.com/sftim/manytasks

Originally I used it to create PIDs, to test whether apps cope with long PIDs. This version keeps the threads around so that you see them in `/proc/loadavg`.

[2021-12-23 11:22] giorgiomondauto commented on #69696
Was it found a solution for this issue? Hard to believe that since 2018 this issue is still open and not yet solved

[2021-12-23 13:45] #106889 closed

[2021-12-23 14:00] wangchanggan commented on #107139
yes, enter into pod by command "kebectl exec -it", 10010 port is listenning.
![111](https://user-images.githubusercontent.com/33536351/147250598-1a1bd412-7c89-4c31-b187-b3f10ed86012.png)

[2021-12-23 14:07] wangchanggan commented on #107139
It doesn't seem to be a bug of iris, because i also use iris as a web framework to expose and it works normally, but not communicating by localhost in the same pod.

[2021-12-23 14:15] dims commented on #106699
yes, please add a tip in `kubernetes/community`

we have mentioned it in a couple of spots, https://cs.k8s.io/?q=generated_files&i=nope&files=&excludeFiles=&repos=kubernetes/community

[2021-12-23 14:15] #106699 closed

[2021-12-23 14:15] wangchanggan commented on #107139
It seems to be the problem that localhost is resolved to ipv6, i tried to use "hostNetwork: true" to start pod and it worked normally, and there is a tcp6 listen on 10010 by command "netstat -apn|grep 10010" in the host.

Why does localhost be resolved to ipv6 in the pod sometimes? is it a bug?

Thanks

[2021-12-23 14:16] dims commented on #106536
@NikhilSharmaWe as @dashpole mentioned, please update `etcd` and possibly `containerd` as well before we can move up. we'll need released versions (tags) of those projects

[2021-12-23 14:17] #106423 closed

[2021-12-23 14:20] dims commented on #104007
@natalisucks any updates?

[2021-12-23 14:28] dims commented on #103849
@pacoxu @howardjohn we are ready to move on this now, as dockershim removal is done!

[2021-12-23 14:43] uablrek commented on #107139
If I start a K8s cluster and exec into a POD I see;
[code]
As you can see `localhost` is specified for both ipv4 and ipv6. So the resolver may pick any. If it uses [happy eysballs](https://en.wikipedia.org/wiki/Happy_Eyeballs) ipv6 is tried first.

However, it looks like your server opens `::` (ipv6 any), so the connect to "::1" should work as good :confused:

[2021-12-23 14:49] uablrek commented on #107139
You are using K8s v1.16 which is not supported. To get this triaged as abug you must re-create it on a supported version.

[2021-12-23 15:09] Ajay-MS commented on #95778
Did we find the solution to this problem

We are getting the following failure in KubeEvents:
[code]

Kubelet logs
[code]

We are very frequently getting this error for all pods of one K8s deployment.

[2021-12-23 15:55] xiaobinggan-zmh opened #107204 "io.kubernetes.client.openapi.ApiException: java.net.ConnectException: Failed to connect to /192.168.200.142:8080"
### What happened?

In my development with SpringBoot,
**application.yml**
`k8s-cluster-ip: http://192.168.200.142:8080  # Realize the connection with K8S`

Modify the K8S file   ->  **kube-apiserver.yaml**
add
`- --insecure-bind-address=0.0.0.0  - --insecure-port=8080 `

The k8S version was 1.17.3 at the time, now updated to 1.22.3.There is no way to expose HTTP 8080 port, and an error occurs whe

[2021-12-23 15:55] pablocavalieri opened #107205 "resource limits seems to be ignored when deploying a pod"
### What happened?

I deployed a pod with `limits.cpu` and `limits.memory` with on a namesapace with a `ResourceQuota` set with `limits.cpu` and `limits.memory` elements and I get the error: `failed quota: <quota name>: must specify limits.cpu,limits.memory`

### What did you expect to happen?

The pod to be deployed

### How can we reproduce it (as minimally and precisely as possible)?

Create a

[2021-12-23 16:08] pablocavalieri commented on #107205
/sig Scheduling

[2021-12-23 16:09] pablocavalieri commented on #107205
/wg API Expression

[2021-12-23 16:10] pablocavalieri commented on #107205
/wg <API Expression>

[2021-12-23 16:10] pablocavalieri commented on #107205
/wg "API Expression"

[2021-12-23 16:10] pablocavalieri commented on #107205
/wg APIExpression

[2021-12-23 16:11] pablocavalieri commented on #107205
/wg wg-api-expression

[2021-12-23 16:11] NikhilSharmaWe commented on #106536
/assign

[2021-12-23 17:12] uablrek commented on #107139
The pod `/etc/hosts` is generated [here](https://github.com/kubernetes/kubernetes/blob/f0dbc32ed9c8a51a6d149eb62d868fb995f0db3a/pkg/kubelet/kubelet_pods.go#L368-L374). IMO `localhost` should not be duplicated to "::1" (hardcoded). That does not seem to be common practice in Linux, at least not on my Ubuntu 20.

[2021-12-23 17:20] aojea commented on #107139
hmm, that doesn't match my experience, I commonly see both but I don't have strong data to backup this
[code]

localhost communication doesn't really depend on the cluster ip family, it depends on the OS, the user can modify the system or disable IPv6 on the kernel if he wants to have an IPv4 only system

[2021-12-23 17:21] aojea commented on #107139
[code]

docker used to disable IPv6 on the containers by default

[2021-12-23 17:36] uablrek commented on #107139
Yes, but in a ipv4-only cluster programs may not be prepared for dual stack, e.g open server sockets with ipv4-any (0.0.0.0). Even though go implements hay eyeballs other languages may not, so an old program may resolve "localhost" and just pick the firsts address which may be "::1".

[2021-12-23 17:55] ahg-g commented on #102136
/close

[2021-12-23 17:56] #102136 closed

[2021-12-23 17:56] ahg-g commented on #102867
/remove-lifecycle rotten

[2021-12-23 17:58] ltagliamonte-dd commented on #107146
@roycaihw since this is my first contribution, i'd like to understand how to proceed with this?
are we waiting on sig/instrumentation?

[2021-12-23 18:10] ahg-g commented on #107161
1.18 is out of support, please test on a newer version.

[2021-12-23 18:42] #106267 closed

[2021-12-23 19:01] vteratipally commented on #107067
The following are my theories

* there must be some change in the ssh secret keys that is resulting in the unexpected commit digest
* Image [cos-89](https://cloud.google.com/container-optimized-os/docs/release-notes/m89#cos-89-16108-534-27) has some changes related to manifest pulling in docker and containerd.
* k8s-staging image - issue.

[2021-12-23 19:07] NikhilSharmaWe commented on #107184
@b0b0haha Can we add condition like in [this](https://github.com/kubernetes/kubernetes/blob/ca0c8275b41cf542f9334073fc8660fb349f9605/pkg/volume/flexvolume/attacher-defaults.go#L53) case.

[2021-12-23 20:35] songlh-psu commented on #107199
@mk46 thanks a lot!

Linhai

[2021-12-23 21:12] thockin commented on #104195
Right.  This is fun.

I have no recollection why pods allow dots in their name, but they do.

As does StatefulSet.  It seems that any StatefulSet that tries to do this will succeed to set the name, but fail to actually work (because it sets `.hostname`).  So we could, in theory change StatefulSet to disallow dots in the name.  That would at least fail faster for statefulset.

That doesn't fix pods

[2021-12-23 21:47] aojea commented on #107139
is that a kubernetes problem or an application/system problem, that will happen out of kubernetes too, right?
If I set my server on my linux box using ipv4 only and I use some client that doesn't implement eyeballs to reach localhost it will fail.
Actually, I remember to this issue with rabbitmq and erlang :)

[2021-12-23 22:36] jkh52 commented on #69696
This is a GKE node pool autoscaling question.

GKE-managed kube-system pods should generally not prevent cluster-autoscaler from scaling down. For example, I know that some system pods use `"cluster-autoscaler.kubernetes.io/safe-to-evict": "true"` per https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md. If you see specific system pods that appear to prevent, please file

[2021-12-23 23:38] BnJam commented on #74551
@anthonycorletti 's fix works for me using K8s v1.21
Letting the host choose the port alone has less error messages, but still enough to be problematic. But then setting it back to a fixed port after cancelling the previous step has resukting very good performance and connection.

I did use CleanMyMacX inbetween those steps which cleared a lot of caches and the DNS cache - probably unrelated..

[2021-12-24 01:24] #104234 closed

[2021-12-24 02:05] cyclinder commented on #107193
The author has submitted a PR for this issue: https://github.com/kubernetes/kubernetes/pull/107196

[2021-12-24 02:23] jonyhy96 commented on #106896
Since we have another user's use case about using the status during containers shutdown #107183
May need maintainer of sig-node to decide wether we should update the pod status during containers shutdown

[2021-12-24 02:29] pacoxu commented on #103849
/assign

[2021-12-24 02:37] kerthcet commented on #107205
hey, @pablocavalieri v1.18.20 is out of support now, you should try with a newer version. Besides, I tried with a old version v1.18.19, but worked as well.

[2021-12-24 02:40] jonyhy96 commented on #107205
Are u using any admission webhook which checks resource quota of pod?

[2021-12-24 02:51] jonyhy96 commented on #107205
Are u using some mutating webhook which inject some sidecar into the pod without setting resources fields?

[2021-12-24 03:39] FillZpp commented on #9043
Yeah, OpenKruise v1.0 now supports update images and env/command/args (via Downward API) in-place (https://openkruise.io/docs/core-concepts/inplace-update), but it can not modify request & limit which will break the logic of scheduler and kubelet.

[2021-12-24 03:45] Ranler opened #107212 "The error message of portname valid syntax is wrong"
### What happened?

https://github.com/kubernetes/kubernetes/blob/65ac7f09ec36736f1282adf876f54b665a35d750/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L318-L346

The `portNameOneLetterRegexp` only support at least one letter，but the error message is  at least one letter or number.
It will be error if portname only numbers, ex: '1-2' or '1' or '123'.

### What did you expect t

[2021-12-24 03:47] jonyhy96 commented on #9043
FYI https://github.com/kubernetes/kubernetes/pull/102884 this pr try to implement In-place Pod Vertical Scaling which may change pod's request & limit

[2021-12-24 03:49] jonyhy96 commented on #107212
/sig api-machinery

[2021-12-24 04:36] pbxqdown commented on #107194
Sometimes the node is marked as Unschedulable:true and it has got a taint node.kubernetes.io/unschedulable:NoSchedule. In this case the node is unschedulable.

[2021-12-24 05:01] sremp commented on #75817
Kudos to the custom operator solution. I had a similar need previously, the workaround I developed involved a lot of finicky wiring up Jenkins pipelines and Ansible playbooks with k8s. It got the job done but was not a great solution.

For anyone looking delaying the execution of a generic Job after creation:
I had a use case where I need to run a Deployment via Flux and then execute a post-deploy

[2021-12-24 05:04] mk46 commented on #107204
Hi @xiaobinggan-zmh, Would you mind to take a look on `--bind-address` and `--secure-port` in https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
For address binding, by default 0.0.0.0 is used. I think only need to add `--secure-port=8080` in kube-apiserver.yaml

[2021-12-24 05:19] matti commented on #69696
https://github.com/kubernetes/kubernetes/issues/69696#issuecomment-929925497

^ I have been running GKE like this now for two years.

- have one pool with f1-micro / g1-small without any taints
- all other pools have a special taint that google's pods dont know about, so they can not park themselves on those pools.

--> gke can scale down to almost zero.

I have no idea why this wont get fixed, it

[2021-12-24 05:31] mk46 commented on #107212
I would like to take up this issue.
/assign

[2021-12-24 05:42] liulp opened #107214 "How to manually recover accidentally deleted pv"

[2021-12-24 05:58] jonyhy96 commented on #107214
/kind support

[2021-12-24 05:59] jonyhy96 commented on #107214
Please provide more information.e.g. k8s version, pv status, pvc status, the csi u are using. This may help https://stackoverflow.com/a/55568289/9321069 though

[2021-12-24 06:01] jonyhy96 commented on #107214
/retitle How to manually recover accidentally deleted pv

[2021-12-24 06:01] jonyhy96 commented on #107214
/sig storage

[2021-12-24 06:18] jonyhy96 commented on #107194
/close

[2021-12-24 06:18] #107194 closed

[2021-12-24 07:07] jlsong01 commented on #107214
If PVC was deleted accidentally and reclaim policy is retain, or it's a manually provisioned PV, then you could recover the data somehow.

If PV was deleted(Terminating), probably the data would be lost if no snapshot or backup was made before.

[2021-12-24 07:10] #105937 closed

[2021-12-24 07:29] jlsong01 commented on #107199
/assign
I would like to take up this issue

[2021-12-24 08:21] pacoxu commented on #107204
Since #95856 1.20, the insecure port is not supported.

/kind support
/remove-kind  bug
/area apiserver
/sig api-machinery

[2021-12-24 08:21] ylmcr7 commented on #60987
我也遇到了同样的问题

设置节点不可调度
kubectl restart kubelet
kubectl restart docker

[2021-12-24 08:31] jlsong01 commented on #107199
@mk46 @pacoxu I am not sure if we need to fix this panic. Could you please give some guide?

In my opinion, unit test panic might not be friendly. We could fix it by check if KUBEADM_PATH is set or not. If not set, then just skip with some log indication.

[2021-12-24 09:32] yan234280533 opened #107216 "Can we open the kubelet to collect the container_cpu_schedstat_run_seconds_total, container_cpu_schedstat_runqueue_seconds_total and container_cpu_schedstat_run_periods_total metrics ？?"
### What would you like to be added?

kubele to collect

 container_cpu_schedstat_run_seconds_total,
container_cpu_schedstat_runqueue_seconds_total,
container_cpu_schedstat_run_periods_total

metrics ?

### Why is this needed?

cpu_schedstat_run_seconds_total,
container_cpu_schedstat_runqueue_seconds_total
container_cpu_schedstat_run_periods_total

which can respond the container whether be effect

[2021-12-24 09:39] liulp commented on #107214
$ kubectl get pv efk-pv01
NAME     CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS        CLAIM             STORAGECLASS   REASON   AGE
efk-pv01   10Gi          RWX                        Retain                     Terminating     logging/efk-pvc01                                          415d
$ kubectl get pvc efk-pvc01 -n logging
NAME      STATUS   VOLUME   CAPACITY   ACCESS MODES   STORAGECLA

[2021-12-24 09:45] jonyhy96 commented on #107214
IIRC, Only pvc delete before pv will trigger the reclaim policy. see https://github.com/kubernetes/enhancements/issues/2644

[2021-12-24 10:09] jonyhy96 commented on #107214
BACKUP UR DATA BEFORE DOING THIS.
These steps may help:
1. k get pv -o yaml > pv.yaml
2. k edit pv xxx and delete the spec.claimRef part
3. vi pv.yaml and delete the metadata.deletionTimestamp part
4. k create -f pv.yaml

The pvc should be  in`lost` status when delete the pv but after recreate the pv, the pvc should be in `bound` status

[2021-12-24 12:20] jlsong01 commented on #107053
/assign
I would like to try it.

@sftim hi, do we need strictly support glob pattern matching, for example *, ?, and […], or only support wildcards(*) in field selectors?

[2021-12-24 13:22] fhke opened #107218 "Kubelet not reporting metrics for generic ephemeral volumes"
### What happened?

We created a pod with a generic ephemeral volume:

[code]

Volume level metrics like `kubelet_volume_stats_capacity_bytes` are not being reported for this volume:

[code]

### What did you expect to happen?

I expected volume level metrics to be exposed for this volume in the same way as other persistent volumes from the same CSI provisioner.

### How can we reproduce it (as mi

[2021-12-24 15:40] NikhilSharmaWe commented on #107184
@xing-yang Could you please give your thoughts on this issue. If it is a reasonable issue then I can start to work on this.

[2021-12-24 17:43] lizthegrey commented on #60832
Likewise having this problem. We'd like to automatically apply some annotations to incoming nodes in a specific EKS nodegroup. This could be done for labels with `--kubelet-extra-args --node-labels=[...]`, but we can't do this with annotations, and instead will have to use an admission controller which is substantially more work/complexity.

[2021-12-24 18:30] vin4v commented on #98368
Appreciate any update on the progress of this feature. The  PR #102819 is not merged yet. This is much needed feature for kubectl get.

/remove-lifecycle rotten

[2021-12-24 22:50] ykakarap commented on #98368
Looks like there is already a PR for this. #102819

[2021-12-25 01:18] sxyandapp commented on #92798
我在使用calico网络时，也遇到了同样的问题，udp包无法被正确的转发。当我使用` iptables --policy FORWARD ACCEPT` 命令开启转发时，问题似乎消失了。经过测试，如果使用flannel网络，同样需要执行此命令来开启转发，否则所有的跨主机通信都无法正常运行。
经过测试，机器默认情况下此开关是打开的，但是当启动docker后，此开关被docker关闭，此时只能手动打开此开关已保证calico或flannel能正常运行

[2021-12-25 03:00] #103962 closed

[2021-12-25 03:48] NikhilSharmaWe commented on #107184
@jsafrane could you please have a look on this issue. If it is a reasonable issue, then I can start to work on it.

[2021-12-25 04:01] #103939 closed

[2021-12-25 06:21] NikhilSharmaWe commented on #107184
/assign

[2021-12-25 08:17] 13164815445 commented on #100277
mark

[2021-12-25 14:27] xiaobinggan-zmh commented on #107204
When I change **Kube-apiserver.yaml** :
[code]

There are still errors:

2021-12-25 22:22:44.518 ERROR 50218 --- [models.V1Node-0] i.k.c.informer.cache.ReflectorRunnable   : class io.kubernetes.client.openapi.models.V1Node#Reflector loop failed unexpectedly

java.lang.IllegalArgumentException: Invalid URL port: "0"
	at okhttp3.HttpUrl$Builder.parse(HttpUrl.java:1394) ~[okhttp-3.14.4.jar!/:na]
	at

[2021-12-25 15:47] deitch commented on #41881
/remove-lifecycle stale

[2021-12-25 18:38] anthonycorletti commented on #74551
https://github.com/kubernetes/kubernetes/issues/74551#issuecomment-910520361 is the best short-term fix imo. have run into this many times testing many services port forwarding to my local network

[2021-12-26 05:03] yxxhero commented on #107218
/sig node

[2021-12-26 05:11] #103584 closed

[2021-12-26 05:11] #103970 closed

[2021-12-26 08:12] hzyfox opened #107222 "Metadata of PersistemVolumeClaim can not be decoded correctly"
### What happened?

I use kubebuilder to define my own `CRD` like below, and it contains  `VolumeClaimTemplates` filed which the type is `[]coreV1.PersistentVolumeClaim`

[code]

But when I apply the CR like the below, I found that the  `metadata` filed is empty
[code]

Here is the yaml which get from the k8s ectd, it cound be found that the metadata of the `volumeClaimTemplates` is empty.
[code]

[2021-12-26 08:15] hzyfox commented on #107222
/sig api-machinery

<br class="Apple-interchange-newline">

[2021-12-26 09:02] ashok-arora commented on #107160
I have also opened #107203 a few days back. I thought it was only a macOS issue but the problem seems to persist across multiple OSs.

[2021-12-26 09:50] zhang-shengping opened #107223 "Master branch ./hack/local-up-cluster.sh return 'iptables: No chain/target/match by that name' and 'No resources found' on CentOS7"
### What happened?

I try to set up a k8s environment in CentOS7, and follow the community docs using the master branch `/hack/local-up-cluster.sh`.

It always gets an error return:

[code]

### What did you expect to happen?

I check out the release v1.23.1

[code]

then run sudo ./hack/local-up-cluster.sh. It works.

[code]

### How can we reproduce it (as minimally and precisely as possible)?

[2021-12-26 10:11] #91732 closed

[2021-12-26 14:32] xiaojueguan commented on #58988
In my case, I found my kubelet service is failed to start with reason: `Failed to run kubelet" err="failed to run Kubelet: running with swap on is not supported, please disable swap! or set --fail-swap-on flag to false`. So i use `sudo swapoff -a ` to disable the swap and comment the swap part in `/etc/fstab`

[2021-12-26 15:12] iwankgb commented on #106977
google/cadvisor#3029 has been merged.

[2021-12-26 15:30] jonyhy96 commented on #106977
Already issued a pr to fix that on k/k. Will cherry-pick that to historic version, all users use k8s on 32-byte device could update to prevent panic.

[2021-12-26 18:04] vaibhav2107 commented on #104888
/remove-lifecycle stale

[2021-12-26 18:11] #102405 closed

[2021-12-26 18:29] dims commented on #100707
/remove-lifecycle stale

[2021-12-26 18:30] dims commented on #100707
/sig network

Can someone from sig-network please help with documenting something since dockershim has been ripped off now?

[2021-12-26 21:14] #101986 closed

[2021-12-26 22:00] blacksd commented on #79606
Hey, I just wanted to share something that may be of use - instead of checking a condition on the `StatefulSet`, it might be easier to look for the same condition on the pods.

With a `StatefulSet`:

[code]

I can do a

[code]

and achieve the same result.

[2021-12-27 02:03] LuChenjing commented on #87615
@champtar Hi, May I ask the solution(or which exact K8S version) you tried, I noticed someone merged this into 1.18 and able to find it in 1.18.18's CHANGELOG. https://github.com/kubernetes/kubernetes/pull/100376
However we met this issue in 1.18.20 also...

[2021-12-27 02:03] hashwing commented on #87615
你好，你的邮件已收到，祝你身体健康，学业进步

[2021-12-27 02:54] hzyfox commented on #107222
see [kubebuilder issue#2460](https://github.com/kubernetes-sigs/kubebuilder/issues/2460)

[2021-12-27 02:54] #107222 closed

[2021-12-27 03:44] vasim38 commented on #105172
/remove-lifecycle stale

[2021-12-27 04:17] #101648 closed

[2021-12-27 05:33] 249043822 opened #107226 "Job didn't delete pods within activeDeadlineSeconds"
### What happened?

Currently, sometimes, while create nums of jobs with **spec.activeDeadlineSeconds** concurrently, some job may not terminate it's pod while exceed activeDeadlineSeconds

1. the jobs template

[code]

2. the jobs pods status

[code]

[code]

[code]

3. the testjob8 status, startTime": "2020-12-07T08:55:50Z

[code]

4. the debug log,  testjob8 ActiveDeadlineSeconds triggered twic

[2021-12-27 07:27] nc-ruth opened #107227 "Which pod(s) are using the PVC? (ouput as JSON/YAML)"
### What would you like to be added?

AFAIK it is only possible to see which pods have mounted the PVC by using:
`kubectl describe pvc <PVC_NAME>`

![image](https://user-images.githubusercontent.com/41048990/147447061-938e1ce5-bc4b-4aed-8ce1-a3944a42ffc3.png)

The "kubectl describe pvc" command only outputs the information in a humanely readable manner, which is not ideal for scripts etc.

Would i

[2021-12-27 07:29] nc-ruth commented on #107227
/wg API Expression

[2021-12-27 07:30] nc-ruth commented on #107227
/sig wg/api-expression

[2021-12-27 07:31] nc-ruth commented on #107227
/wg api-expression

[2021-12-27 08:53] counter2015 commented on #28272
@kebyn thanks, it worked for me.

[2021-12-27 09:38] cnchef commented on #107197
The kubelet can start successfully after deleting  the "RotateKubeletClientCertificate  " related  configuration, but the problem still exists

[code]

[2021-12-27 09:52] pacoxu commented on #107197
There would be some errors/problems in kubelet logs.

For future support questions please use the forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-12-27 10:06] jonyhy96 commented on #106977
Hey @iwankgb will cadvisor release a new version? so i can use the latest version instead of hash of the commit in go.mod of  k/k.

[2021-12-27 10:31] pacoxu commented on #107227
/sig storage api-machinery

[2021-12-27 10:38] iwankgb commented on #106977
@jonyhy96 new version will be released before new k8s version.

[2021-12-27 10:48] pacoxu commented on #107223
https://github.com/kubernetes/kubernetes/blob/release-1.23/hack/local-up-cluster.sh#L890-L894

[code]

https://github.com/kubernetes/kubernetes/blob/release-1.23/hack/local-up-cluster.sh#L729

Check `/tmp/kubelet.log` or apiserver log firstly.

[2021-12-27 10:55] pacoxu commented on #107216
/sig node instrumentation

[2021-12-27 10:56] sense-amid-madness opened #107229 "Upgrade from 1.21.8 to 1.22.5 fails (due to active PSP?)"
### What happened?

I am currently running a Kubernetes cluster on version 1.21.8 which has Pod Security Policies in place. The cluster has been set up manually using kubeadm on bare metal.

After "kubeadm upgrade apply 1.22.5", the new API server did not start up. Due to the kubelet logs, I believe this might be due to incorrectly configured PodSecurityPolicies,  which however work perfectly fine

[2021-12-27 11:19] zhang-shengping commented on #107223
Thanks for your guidance, I will check my log first, and I will close this issue until I confirm it's not my environment.

[2021-12-27 11:19] #107223 closed

[2021-12-27 13:04] b0b0haha opened #107230 "GCEPD : in WaitForAttach when meet err, should return "",err"
### What happened?

In the implement of GCE mode WaitForAttach:
https://github.com/kubernetes/kubernetes/blob/2ecdc5e8d19ee7a037b86e90a4d3de56cb94b938/pkg/volume/gcepd/attacher.go#L226
when the runtime.GOOS = "windows" and  it meets err , it should  `return "", err`  instead of
`return id, err`.
https://github.com/kubernetes/kubernetes/blob/2ecdc5e8d19ee7a037b86e90a4d3de56cb94b938/pkg/volume/gcepd

[2021-12-27 13:07] b0b0haha commented on #107230
/ sig storage
/ area cloudprovider

[2021-12-27 13:08] b0b0haha commented on #107045
/ sig cloudprovider

[2021-12-27 13:11] b0b0haha commented on #107230
/sig storage

[2021-12-27 13:12] b0b0haha commented on #107230
/sig cloud-provider

[2021-12-27 13:12] b0b0haha commented on #107045
/sig cloud-provider

[2021-12-27 13:16] b0b0haha commented on #107230
/assign

[2021-12-27 13:25] nc-ruth commented on #107227
Please note, that in newer versions of kubectl, the property "Mounted By" is called "Used By".

[2021-12-27 13:27] b0b0haha opened #107231 "Missing check for devicePath to ensure the path exists"
### What happened?

Similar to cinder mode volume:
https://github.com/kubernetes/kubernetes/blob/2ecdc5e8d19ee7a037b86e90a4d3de56cb94b938/pkg/volume/cinder/attacher.go#L242-L246
There should be a check for devicePath to ensure the path exists. But in some other cloud provider, it seems there are no path existing check for devicePath.
● csi
https://github.com/kubernetes/kubernetes/blob/2ecdc5e8d19e

[2021-12-27 13:27] b0b0haha commented on #107231
/sig storage
/sig cloud-provider

[2021-12-27 15:16] mrad-bilel commented on #107161
@kerthcet here a describe of my node

[code]

[2021-12-27 15:16] robisoh88 commented on #98278
/remove-lifecycle stale

[2021-12-27 16:15] kadisi opened #107233 "How much data can be stored in a CR？ where does this limit come from, and for what purpose？"
I defined a very simple CRD object： such as:

[code]

CR is as follows：

[code]

After testing, it is found that a CR stores a maximum of 3145728 (3M) of data。

Excuse me, where are the restrictions here?

For what purpose should size be limited?

Can we raise the limit？

[2021-12-27 16:24] kadisi commented on #107233
wg/api-expression

[2021-12-27 16:26] kadisi commented on #107233
/sig usability

[2021-12-27 16:30] remram44 commented on #28272
Is this fixed now that #94444 is merged?

[2021-12-27 19:26] tobernguyen commented on #97445
Hey @ScottShingler , thanks for the testing script. I found something interesting. In our cluster (EKS cluster with AMI: `Linux  4.14.248-189.473.amzn2.x86_64`). I ran 2 tests:
- Resource requests/limits set to 1000m/1000m. CPU load 15. Result (get throttled):
[code]
- Resource requests/limits set to 1000m/**1100m**. CPU load 15. Result (no throttled at all):
[code]

**Can something be off when se

[2021-12-27 19:40] neolit123 commented on #107229
kubeadm 1.22 added the default seccomp profile to control plane manifests, so you have to update your policies to allow it before upgrading. there isn't much we can do on the kubeadm side to prevent your PSP from blocking the pods.

https://github.com/kubernetes/kubernetes/blob/bafe30163080bb30472b2cbdd6b0b84c34c46241/CHANGELOG/CHANGELOG-1.22.md

/kind support
/remove-kind bug
/sig cluster-lifecyc

[2021-12-27 19:44] neolit123 commented on #107199
as mentioned above the panic is intended.

when running unit tests for /cmd/kubeadm/test (these are integration tests, not unit tests) the developer needs to pass the env variable because they might have multiple kubeadm binaries on disk. guessing what binary to test is not ideal...

eventually once kubeadm moves out of k/k it will have the test directory outside of the main app tree.
for the time

[2021-12-27 19:45] neolit123 commented on #107199
/remove-help
/remove-kind bug
/kind support
/sig cluster-lifecycle

[2021-12-27 22:13] evanfoster commented on #102259
/remove-lifecycle stale

[2021-12-27 23:22] #92506 closed

[2021-12-27 23:28] aojea commented on #105172
what is your expectation @vasim38 ?
AddressType FQDN will now work for kube-proxy as explained in previous comments

[2021-12-27 23:29] philipsu522 commented on #25238
I'm trying to follow the recommendation instructed in https://github.com/kubernetes/website/pull/29739/files, specifically recommendation 1. Note that the **patch** verb exhibits the same behavior of scaling the replica count down to 1, although remove the spec.replica field from the manifest then applying doesn't.
Specifically, this command causes the scale-to-1 behavior:
[code]

[2021-12-28 00:57] neolit123 commented on #107186
please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-12-28 00:57] #107186 closed

[2021-12-28 01:38] cyclinder commented on #107230
/assgin

[2021-12-28 01:39] cyclinder commented on #107230
/assign

[2021-12-28 02:23] kerthcet commented on #107161
Have you test on a newer version like v1.21 as ahg-g advised, it's weird.

[2021-12-28 02:52] xyz-li commented on #107233
This is the config of the body size.
https://github.com/kubernetes/kubernetes/blob/1df88a8a42952d4b0f393c1d25b1d1c992bf72c3/staging/src/k8s.io/apiserver/pkg/server/config.go#L355-L362

[2021-12-28 03:36] b0b0haha opened #107237 "Block volumes should have empty FSType in storageos"
### What happened?

Similar to [#65705](https://github.com/kubernetes/kubernetes/pull/65705), just as follows, in storageos, there is no check for volumeMode in the implement of storageos mode Provision()
https://github.com/kubernetes/kubernetes/blob/1df88a8a42952d4b0f393c1d25b1d1c992bf72c3/pkg/volume/storageos/storageos.go#L631-L662

### What did you expect to happen?

the code should be like thi

[2021-12-28 03:37] b0b0haha commented on #107237
/sig storage

[2021-12-28 04:10] everpeace commented on #93591
/remove-lifecycle stale

[2021-12-28 04:39] mnpenner commented on #42885
For those who stumble into the issue trying to find all your ingresses, the command is:

[code]

[2021-12-28 06:34] zoux86 opened #107238 "is v1.17 support APIPriorityAndFairness ?"
What happened:
I am testing API Priority and Fairness. I launched it like this:

RUNTIME_CONFIG=flowcontrol.apiserver.k8s.io/v1alpha1=true FEATURE_GATES=APIPriorityAndFairness=true

But kubectl erroneously told me no table handler registered for this type *flowcontrol.FlowSchemaList
[code]

form this [repo](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/1040-priority

[2021-12-28 06:38] kinderyj opened #107239 "Failed to find binary go-to-protobuf for platform linux/amd64"
### What happened?

git clone https://github.com/kubernetes/kubernetes.git
cd kubernetes
git checkout remotes/origin/release-1.23

./hack/update-generated-protobuf.sh

+++ [1228 14:01:30] Verifying Prerequisites....
+++ [1228 14:01:31] Building Docker image kube-build:build-c8503f4e72-5-v1.23.0-go1.17.5-bullseye.0
+++ [1228 14:08:11] Deleting container kube-build-data-c8503f4e72-5-v1.22.0-go1.16.1

[2021-12-28 06:45] zoux86 commented on #107238
/area apiserver
/sig api-machinery

[2021-12-28 08:10] aminayev commented on #86587
Your worker node has to have same network interfaces as the master node. Say if master node has a public ip, then not having a public ip will cause the issue.

[2021-12-28 08:49] cmssczy commented on #105298
I think this issue could be closed because the related pr has been merged.
/close

[2021-12-28 08:49] #105298 closed

[2021-12-28 09:03] SoaringAnecdotalBear opened #107242 "label:sig/node Let kubelet transmit the name(or index) of pod/container which is requiring devices via 'Allocate'."
### What would you like to be added?

I am working on a new device plugin for GPU,witch need to get the pod's labels,annotations or anything.One way to solve this is to find pod according to  'AllocateRequest' in my device plugin,but I think it's redundant.So, it will be more smoothly if kubelet  can transmit the name(or index) of pod/container which is requiring devices via 'Allocate'.

### Why i

[2021-12-28 09:15] beyondyinjl2 opened #107243 "failed to try resolving symlinks in path "/var/log/pods/default_mqttfire-1"
### What happened?

kubectl logs mqttfire-1-66ff697667-hn6jz
failed to try resolving symlinks in path "/var/log/pods/default_mqttfire-1-66ff697667-hn6jz_94fcd001-436e-499e-82ff-9bf588a01b25/mqttfire-arm64/0.log": lstat /var/log/pods/default_mqttfire-1-66ff697667-hn6jz_94fcd001-436e-499e-82ff-9bf588a01b25: no such file or directory

### What did you expect to happen?

I hope to see the log

### How

[2021-12-28 09:24] SoaringAnecdotalBear commented on #107242
/sig <sig/node>

[2021-12-28 09:25] SoaringAnecdotalBear commented on #107242
sig/ <sig/node>

[2021-12-28 09:27] #107242 closed

[2021-12-28 09:28] SoaringAnecdotalBear opened #107244 "Let kubelet transmit the name(or index) of pod/container which is requiring devices via 'Allocate'."
### What would you like to be added?

I am working on a new device plugin for GPU,witch need to get the pod's labels,annotations or anything.One way to solve this is to find pod according to  'AllocateRequest' in my device plugin,but I think it's redundant.So, it will be more smoothly if kubelet can transmit the name(or index) of pod/container which is requiring devices via 'Allocate'.

### Why is

[2021-12-28 09:29] SoaringAnecdotalBear commented on #107244
/sig node

[2021-12-28 09:37] yuswift opened #107245 "Can't update `service.status` filed"
### What happened?

Currently, as a cloud provider, we can only update `service.status.loadBalancer` filed.

### What did you expect to happen?

Put more information into `service.status` filed. e.g.
[code]

</details>

### Cloud provider

<details>
none
</details>

### OS version

<details>

[code]

</details>

### Install tools

<details>

</details>

### Container runtime (CRI) and and version

[2021-12-28 09:37] yuswift commented on #107245
/sig network

[2021-12-28 10:03] rojkov commented on #107244
Previous discussions can be found in #59109 and #61775.

[2021-12-28 10:54] Uranium2 commented on #97908
@njucjc Could you link to documentation? I find nothing one `pvc-shared-namespaces` over kubernetes official documentation, or even on google.

[2021-12-28 11:59] b0b0haha opened #107246 "Before detach device should ensure there is no pod use it"
### What happened?

Similar to [#74313](https://github.com/kubernetes/kubernetes/issues/74313) ,  in the implement of other cloud provider's DetachDisk(), there should be a check to ensure if there are other pods using other volumes on the same device to avoid unexpected result.

- fc

  https://github.com/kubernetes/kubernetes/blob/1df88a8a42952d4b0f393c1d25b1d1c992bf72c3/pkg/volume/fc/fc_util.go

[2021-12-28 12:00] b0b0haha commented on #107246
/sig storage
/sig cloud-provider

[2021-12-28 12:12] champtar commented on #87615
The exact version at the time was v1.19.10

[2021-12-28 13:29] NikhilSharmaWe commented on #107231
@b0b0haha I made a [PR](https://github.com/kubernetes/kubernetes/pull/107219) for a similar [issue](https://github.com/kubernetes/kubernetes/issues/107184) opened by you `kubernetes/pkg/volume/flexvolume/attacher-defaults.go`. Could you please review it and give your thoughts.

[2021-12-28 13:43] aojea commented on #107245
@yuswift can you expand more?
do you want to add more fields to status?

[2021-12-28 14:35] dhilipkumars commented on #103450
/remove-lifecycle rotten
as several people have reported, this looks like a hard to recreate problem

[2021-12-28 14:35] dhilipkumars commented on #103450
/reopen

[2021-12-28 15:01] wangchanggan commented on #107139
in the pod, i tried to wget 10010 port, which worked on ipv4 but not ipv6, and it reported network unreachable.
![16406932791497](https://user-images.githubusercontent.com/33536351/147578818-f4b29c45-8ad3-4ab4-ae35-fe2b3da16836.png)

then i used "hostNetwork: true" to restart pod, and in the host wget 10010 port, which worked on ipv4 and ipv6 both.
![16406932103880](https://user-images.githubuserc

[2021-12-28 15:21] Patrick0308 commented on #104005
This feature will be supported by #105632

[2021-12-28 15:28] #99399 closed

[2021-12-28 16:41] aojea commented on #107247
It seems master and 1.23 has v0.3.7
1.22 uses 0.3.6
https://github.com/kubernetes/kubernetes/blob/release-1.22/go.mod#L462

[2021-12-28 16:43] aojea commented on #107247
wait

This has been fixed in 0.3.3

@niting3c why do you say we need v0.3.7?

[2021-12-28 16:47] aojea commented on #107139
most sure your runtime, docker in this case, is disabling ipv6 on your pods.
docker is no longer supported, but anyway, you have to configure docker to support ipv6
https://docs.docker.com/config/daemon/ipv6/

[2021-12-28 17:51] zhx828 commented on #65797
@hex108 do you mind following up on this ticket? This feature seems wildly requested by the community and would be super useful for our project. Thanks in advance!

[2021-12-28 17:57] spkane commented on #99715
/remove-lifecycle stale

[2021-12-28 19:33] jsturtevant commented on #100388
/remove-lifecycle rotten

[2021-12-28 19:36] johnkk84 commented on #66568
Hi I faced with same issue on k3d after 2 years. Two things need to be set:

[code]

1st   - no loadbalancer for nodes
2nd  - no traefik deployment which could stole 80 and 443 ports.

[2021-12-28 19:49] roycaihw commented on #107146
I've lgtm'ed the PR. You will need an [owner's approval](https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#the-code-review-process) for it to be merged.

[2021-12-28 20:32] JohnBoyB commented on #48629
I got the same problem in version v1.23.1

[2021-12-28 20:57] dbgoytia commented on #101622
Hey @tnqn @mritunjaysharma394 !
I'm wondering if this issue is still being worked on? I'd like to help if there's room to do so!

[2021-12-28 22:19] seocam commented on #78761
It seems we've hit that very same wall here. We are running `1.21.5-gke.1302` and it two of our deployments with HPA decided to keep scaling up only. If we force it down they just went up again by themselves. Using Values instead of Utilization did "corrected" the problem but we don't want to manage values ourselves.

We have tried to scale 0 and then scale 1 but the HPA kept scaling up and up unt

[2021-12-29 00:51] 2rs2ts commented on #72320
/remove-lifecycle stale

[2021-12-29 00:59] JohnRusk commented on #79805
Updated my comment above.  The env vars don't cover all the necessary cases.

[2021-12-29 01:00] JohnRusk commented on #79805
Also, we (AKS team at Microsoft) have observed this problem in other clients, not just kubelet.  Doing a server side solution has the additional advantage that it would fix the problem for _all_ clients (or at least all who respect Retry-After, which should be most).

[2021-12-29 02:00] b0b0haha commented on #107184
Thanks for your help! I found this bug because it's inconsistent with other cloud provider plugins's implement. But I'm not familiar with the implement of flexvolume, so I can't ensure the fix is correct and suitable.

[2021-12-29 02:48] yuswift commented on #107245
yes, I want to add more fileds to status. Just like `deployment` and other workloads.

[2021-12-29 03:47] ylmcr7 commented on #86579
kubelet 怎么开启特性呢？

[2021-12-29 06:30] melnik13 commented on #97908
It doesn't seem to be a working solution, it rather seems that @njucjc has shared a raw idea (or a dream) only.

The only place where `pvc-shared-namespaces` is mentioned is a discussion on SO: https://stackoverflow.com/a/68728174/5223387 (and the author of this comment is @njucjc as well). ;-(

[2021-12-29 06:57] mengjiao-liu commented on #103546
/remove-lifecycle stale

[2021-12-29 07:58] sherwinwangs commented on #107154
I've try kubernetes 1.23 with containerd has same problem.

[2021-12-29 08:09] xiaolin8 commented on #3030
Sorry, I don't really get it. Where should I put this method?

[2021-12-29 09:06] JohnBoyB commented on #48629
**Solution**
I was able to solve the problem by changing the apiVersion from rbac.authorization.k8s.io/v1beta1 to rbac.authorization.k8s.io/v1

[2021-12-29 09:32] 1978629634 opened #107249 "IPVS de-DNAT bug:Pod(or container) often cannot access two Virtual Server ip with the same endpoint ip (real server) at the same time"
### What happened?

The POD cannot stably access two VIP with the same endpoint ip at the same time
VIP1:
TCP  10.85.128.213:80 rr
  -> 10.244.1.132:9376            Masq    1      0          0
VIP2:
TCP  10.85.128.215:80 rr
  -> 10.244.1.132:9376            Masq    1      0          0
1. access two VIP at the same time
[code]
2. access VIP and endpoints ip at the same time
[code]
This problem does

[2021-12-29 09:40] jlsong01 commented on #107053
As mentioned in #72196, kubectl JSONPath already supports client side field filtering: https://kubernetes.io/docs/reference/kubectl/jsonpath/

@sftim Anything else need to be contributed?

[2021-12-29 09:47] 1978629634 commented on #107249
sig/network

[2021-12-29 09:47] 1978629634 commented on #107249
/sig network

[2021-12-29 09:48] 1978629634 commented on #107249
/sig <network>

[2021-12-29 09:48] 1978629634 commented on #107249
/sig network

[2021-12-29 09:48] 1978629634 commented on #107249
/area ipvs

[2021-12-29 11:38] SerialVelocity commented on #88193
/remove-lifecycle stale

[2021-12-29 12:12] gjkim42 commented on #88613
cc

[2021-12-29 12:14] pacoxu commented on #107239
https://github.com/kubernetes/kubernetes/blob/master/hack/update-generated-protobuf-dockerized.sh#L31-L32
[code]

After the go install above, we should find it in the build image like below after running `./hack/update-generated-protobuf.sh`.
[code]

There should be some failures during running `go install k8s.io/kubernetes/vendor/k8s.io/code-generator/cmd/go-to-protobuf`.

/sig testing

[2021-12-29 12:17] gjkim42 commented on #93925
/cc

[2021-12-29 12:21] pacoxu commented on #107238
Feature Gate | Default | Stage |Since | Util
-- | -- | -- |-- | --
APIPriorityAndFairness | false | Alpha | 1.17 | 1.19
APIPriorityAndFairness | true | Beta | 1.20

More details in https://github.com/kubernetes/enhancements/issues/1040 and #76846.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/features/kube_features.go#L126-L131 The doc here and https://gith

[2021-12-29 12:55] shivanshu1333 opened #107252 "Increase interval of JSON periodic job"
As discussed in https://github.com/kubernetes/test-infra/pull/24610#issuecomment-991302964 it makes sense to increase the current time interval from 6h to 12h.

[2021-12-29 12:56] shivanshu1333 commented on #107252
/sig instrumentation
/sig testing

[2021-12-29 12:56] shivanshu1333 commented on #107252
/triage accepted

[2021-12-29 13:06] shivanshu1333 commented on #107252
/close
opened the issue in k/test-infra repo https://github.com/kubernetes/test-infra/issues/24753

[2021-12-29 13:06] #107252 closed

[2021-12-29 15:15] AlexanderYastrebov commented on #79365
I think  #88167 (substitutes #86044, proposed by @tedyu) approach that checks the GroupVersionKind of pod metrics is suboptimal. E.g. one may have two deployments that use the same selector and then HPA would get metrics for pods of both deployments, checking the kind would not work to tell them apart.

[2021-12-29 15:43] aojea commented on #107249
that is the main drawback of using kernel based implementations, hard to upgrade, hard to fix, ....

[2021-12-29 16:41] kfox1111 commented on #69608
/remove-lifecycle stale

[2021-12-29 17:25] NikhilSharmaWe commented on #107246
@b0b0haha Could you please give your thought here, will [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/iscsi/iscsi_util.go#L640-L649) part should be added in the vendors `detachDisk` function.

[2021-12-30 00:20] rikatz commented on #92369
/lifecycle active

[2021-12-30 00:24] rikatz commented on #106484
Hey @cyclinder sure we can!

Sorry for the long delay, taking some time to check my late notifications.

We've been doing some pkg/proxy cleanup (see https://github.com/kubernetes/kubernetes/issues/92369) and IMO this can be part of it.

The issue is dragging a bit as all of us are pretty "busy" but all help on this is welcome.

As proxier is an interface (it is an interface...right? :D ) probably

[2021-12-30 01:45] pacoxu commented on #107249
/triage accepted
Should we add this as a known issue to https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#ipvs-mode?

[2021-12-30 01:46] b0b0haha commented on #107246
Different vendors may use different logic for check if device is used by other pod,  the logic in iscsi may can't directly added in the vendors detachDisk.

[2021-12-30 01:47] b0b0haha commented on #107246
Different vendors may use different logic for check if device is used by other pod, the logic in iscsi may can't directly added in the vendors detachDisk.

[2021-12-30 02:17] sohailanjum97 opened #107254 "K8s PVC is in Pending State"
### What happened?

I have Created StorageClass, PV, and PVC.
But my PVC is always in a pending State. Here is the pic of my SC,PV,PVC

![Capture2](https://user-images.githubusercontent.com/48083468/147716322-1edf73b4-9c6f-4d8b-97b8-787b4bceb193.JPG)

This is Describe of PVC
![Capture1](https://user-images.githubusercontent.com/48083468/147716346-1dd17958-6d7f-4b05-bbe0-a357f78d1f4d.JPG)

### What

[2021-12-30 02:19] yuzhiquan commented on #107249
nice catch!

[2021-12-30 02:28] 1978629634 commented on #107249
This problem is still not resolved in the latest version of the kernel
That patch violates the design philosophy of IPVS, IPVS hopes to be independent from conntrack

[2021-12-30 03:08] mosaicwang commented on #94825
I still have these logs with version 1.23.1

[2021-12-30 06:53] NoicFank opened #107255 "Can we control the subsequent actions after livenessProbe failed? Not just restart container."
### What would you like to be added?

1.  Add a gate to open/close the auto-action(restart container) after liveness probe failed. default as `open`.
2.  Add an attribute `Healthy` in `ContainerStatus`， just like the `Started` and  `Ready` to specify whether the container has passed its liveness probe.
3. May add an attribute `ContainersHealthy` in `PodCondition` too, which reflect the healthy con

[2021-12-30 06:58] NoicFank commented on #107255
/sig api-machinery

[2021-12-30 08:06] aojea commented on #107245
/remove-kind bug
/kind feature

[2021-12-30 08:14] aojea commented on #107249
Do you know why the ipvs conntrack code is not able to track the connection correctly as the global conntrack?

[2021-12-30 08:31] b0b0haha opened #107256 "FlexVolume: should skip calling fs resize on the node if volume is of type raw block"
### What happened?

Just as *https://github.com/kubernetes/kubernetes/pull/81429#discussion_r314035095* said ,

but in FlexVolume mode , it seems there is no check for volumeMode.

https://github.com/kubernetes/kubernetes/blob/1df88a8a42952d4b0f393c1d25b1d1c992bf72c3/pkg/volume/flexvolume/expander.go#L46-L71

### What did you expect to happen?

The code should be modified like this:

[code]

### H

[2021-12-30 08:33] yuswift commented on #107245
I don't understand why we can't add more filed into `service.staus` field with `service clientset`.

[2021-12-30 08:35] b0b0haha commented on #107256
/sig storage

[2021-12-30 08:40] yuswift commented on #107245
/cc @sig/network

[2021-12-30 08:55] warmchang commented on #105274
/remove-lifecycle stale

[2021-12-30 08:59] 1978629634 commented on #107249
The global conntrack records complete IPTABLES SNAT and IPTV DNAT information, IPVS does not have SNAT information

[2021-12-30 08:59] zohebs341 opened #107257 "Health Checks Failing - Readiness & Liveness For Production Azure AKS Cluster"
Hi All,

We are using Azure AKS Version 1.20.7 with nearly 10 Nodes running on it. Vault is Up, Database is Up, Istio is up and running.

But still health checks(Liveness & Readiness) are failing.

context deadline exceeded (Client.Timeout exceeded while awaiting headers)
Readiness probe failed: HTTP probe failed with statuscode: 500

Any suggestions or guess?

Is it because of load at API server?

[2021-12-30 09:29] zohebs341 commented on #107257
In general, if DB connectivity issues or if vault having issues. Health check will fail, that is expected.

But in my case, vault, istio& DB all are up. But still liveness & readiness failing

[2021-12-30 09:31] shantanu-nvidia opened #107258 "kubelet service failed to start after restart"
### What happened?

kubelet service is not starting after restart.

Binary: Built with gc go1.12.9 for windows/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
E1230 00:41:21.821254   16564 perfcounter_nodestats.go:176] Unable to get cpu perf counter data; err: unable to collect data from counter. Error code is 800007d6
E1230 00:41:24.091024   16564 server.go:701] kubelet

[2021-12-30 09:59] lining2020x commented on #92697
/reopen

[2021-12-30 10:04] yanllearnn opened #107259 "can't run the make command"
### What happened?

[code]
white spaces are instead of tabs in the makefiles.

### What did you expect to happen?

the makefile is updated right in the reposity.

### How can we reproduce it (as minimally and precisely as possible)?

update the makefile

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>

</detail

[2021-12-30 12:10] aman-deep739 commented on #65797
Can this be re-opened please?
and meanwhile can someone tell how to use backoffLimit with deployments?

[2021-12-30 12:18] Varindaa opened #107260 "kubernetes pod Readiness probe failed: Get "http://172.17.0.31:15021/healthz/ready": dial tcp 172.17.0.31:15021: connect: connection refused"
### What happened?

I am trying to run a Kubeflow TFJob operator to train a machine learning model which implements TensorFlow's distributed training strategies.

The TFJob YAML looks like this:
[code]

### What did you expect to happen?

Deploying the YAML with `kubectl create -f <file-name>.yaml` should start running configured number of pods but the pods fail with the error:
[code]

The pod eve

[2021-12-30 12:19] b0b0haha opened #107261 "block volume leaves orphan files"
### What happened?

Similar to [87977](https://github.com/kubernetes/kubernetes/issues/87977), it seems in other vendor, the cleanup logic is incomplete.

- fc

  https://github.com/kubernetes/kubernetes/blob/1df88a8a42952d4b0f393c1d25b1d1c992bf72c3/pkg/volume/fc/fc.go#L432-L443

- iscsi

  https://github.com/kubernetes/kubernetes/blob/1df88a8a42952d4b0f393c1d25b1d1c992bf72c3/pkg/volume/iscsi/iscs

[2021-12-30 12:19] b0b0haha commented on #107261
/sig storage

[2021-12-30 12:41] xrmzju opened #107262 "pod pending in case of scheduler leader election"
### What happened?

1. create a statefulset with 3 replicas with `podManagementPolicy: Parallel`, each pod claimed a localpv(dynamic provisioning), pod spread by host with maxSkew=1
2.  2 pods got scheduled, 1 remains pending, and 2 of 3 local pvs got scheduled to the same node

### What did you expect to happen?

all pods scheduled successfully

### How can we reproduce it (as minimally and preci

[2021-12-30 12:42] xrmzju commented on #107262
/sig-scheduling

[2021-12-30 13:13] silence-coding opened #107263 "Customize Scheduling-framework"
I tried to customize the scheduling-framework according to the community's solution, but I found that it relied on k8s.io/kubernetes, and I couldn't pull kubernetes using go.

I have two questions:
1. How do we pull k8s.io/kubernetes successfully?
2. Why cannot cmd/kube-scheduler be provided externally like k8s.io/api?

[scheduling-framework](https://github.com/kubernetes/enhancements/blob/master/

[2021-12-30 13:14] mborsz commented on #102361
/remove-lifecycle rotten

[2021-12-30 13:15] silence-coding commented on #107263
/sig Scheduling

[2021-12-30 13:52] cyclinder commented on #106484
yeah！This is very meaningful, so first we sholud move this function to util?  and later, we will move the pkg/proxy to staging?

[2021-12-30 14:38] x13n commented on #105287
I don't see any issues from CA point of view. We may want to optimize binpacking by making CA aware of this feature, but otherwise I'd expect imported scheduler code to just work.

[2021-12-30 15:43] #99598 closed

[2021-12-30 17:14] sohailanjum97 commented on #107254
Solved

[2021-12-30 17:14] #107254 closed

[2021-12-30 17:52] aojea commented on #107245
ahh, sorry, I didn't get the question correctly and I thought the request was for adding new fields to status, but those fields already exist, you just want to modify them

Create a new service an check status is empty

[code]

I'm able to modify them with curl, so I assume that unless is a problem with RBAC, you should be able to do it

[code]

and the new service status:
[code]

[2021-12-30 17:54] aojea commented on #107245
/remove-kind feature
/kind support

[2021-12-30 19:26] Jeansen commented on #106957
I have something similar on a fresh cluster I use for educational purposes using kubernetes 22.5 with cri-o. Here's an excerpt:
[code]

This is from the master node. Nodes run Debian bulsseye in KVM provisioned with Vagrant. I have not yet tested it out with different versions. If I can assist in testing, I'd be happy to do so!

[2021-12-30 19:35] zohebs341 commented on #107257
@swetharepakula Please check if you find time.

Adding more info to it.

I am using Horizontal pod autoscaler CPU based, continuously it's creating and deleting pods based on CPU load. I've noticed "failed to update endpoints error" in events.

[2021-12-30 20:20] maxpain commented on #98534
The same problem on `1.22.3-gke.700`

[2021-12-30 21:12] juur commented on #39188
This bug still exists and made it impossible for me to use Consul's agents - ports are exposed (with different name) on both TCP and UDP only one was working. Again, applying a config or a applying a patch didn't fix it - I had to destroy the daemonset and recreate it, only then was the hostPort for both UDP and TCP preserved (at least in 1.23.1)

[2021-12-31 00:57] reitermarkus commented on #105536
I also encountered this on a 1.22 k3s cluster with Longhorn volumes after an unclean node reboot. See also https://github.com/longhorn/longhorn/issues/3207.

[2021-12-31 02:45] smileusd opened #107266 "client wait forever if kube-apiserver restart in slb environment"
### What happened?

We found if use slb between kube-apiserver and client, when kube-apiserver restart, client watcher connection not close and wait an event forever. In this case has two connections:  kube-apiserver <-> slb, slb <-> client. After close the first connection could not ensure the second connection also closed if slb hard to handle this long connection situation.

### What did you ex

[2021-12-31 03:05] yanllearnn commented on #107259
In Ubuntu and Windows, it appears.  I resolved it in mac system.

[2021-12-31 03:05] #107259 closed

[2021-12-31 03:19] pbxqdown commented on #107197
should deprecated feature gates do no harm with old kubelet configuration rather than break the kubelet functionality?

[2021-12-31 03:48] smileusd commented on #107266
/sig api-machinery
/wg api-machinery

[2021-12-31 06:06] sanposhiho commented on #107263
k/k is not easy to import. You need to add `replace` for some packages in go.mod.

You can follow this (kube-scheduler-simulator also imports k8s.io/kubernetes.):
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/go.mod#L6-L31

FYI: In #89930 we are working on reducing dependences on k8s.io/kubernetes as much as possible.

[2021-12-31 07:24] yuswift commented on #107245
Thanks! I think I updated the service the wrong way.
/close

[2021-12-31 07:24] #107245 closed

[2021-12-31 07:46] zohebs341 commented on #107260
Hi @Varindaa I'm also facing similar type of issues in production. I've created a case #107257

I suspect CPU based HPA is created and deleting pods and in backend endpoint update is taking time which is causing health check to failed. Why because in events, I've noticed " failed to update endpoints".

I'm also waiting for resolution.

[2021-12-31 08:21] silence-coding commented on #107263
@sanposhiho Thank you. I also want to ask a question. Will the scheduling-framework be supported later and scheduler_extender be discarded? I see information that v1.16 is declared obsolete, but I can't find any official information. Except [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md) marked 1.24 removed

[2021-12-31 08:29] sanposhiho commented on #107263
No. At least I am not aware of any plans for extender to be removed or deprecated.

KEP for scheduler extender can be found here.
https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/1819-scheduler-extender

[2021-12-31 08:32] sanposhiho commented on #107263
I think it's not about extender, but about the design-proposals itself.

To view the last version of this document, see the Design Proposals Archive Repo.
For information on the replacement design proposal process, see the Kubernetes Enhancement Proposals (KEP) process.
Please remove after 2022-04-01 or the release of Kubernetes 1.24, whichever comes first.
https://github.com/kubernetes/community/

[2021-12-31 08:49] sivaandyala765 opened #107268 "connection timed out"
### What would you like to be added?

2021/12/31 13:40:37 [error] 13#13: *142993 upstream timed out (110: Connection timed out) while reading response header from upstream, client: 127.0.0.1, server: , request: "POST /api/awc-tracker/beneficiary/save HTTP/1.1", upstream: "fastcgi://unix:///var/run/php-fpm.sock", host: "wcd_api"
2021/12/31 13:40:59 [error] 13#13: *141596 upstream timed out (110: Co

[2021-12-31 08:51] sivaandyala765 commented on #107268
@yliaog please help me

[2021-12-31 08:58] sivaandyala765 opened #107269 "connection timed out fot upstream to downstream"
### What would you like to be added?

2021/12/31 13:40:37 [error] 13#13: *142993 upstream timed out (110: Connection timed out) while reading response header from upstream, client: 127.0.0.1, server: , request: "POST /api/awc-tracker/beneficiary/save HTTP/1.1", upstream: "fastcgi://unix:///var/run/php-fpm.sock", host: "wcd_api"
2021/12/31 13:40:59 [error] 13#13: *141596 upstream timed out (110: Co

[2021-12-31 08:59] aojea commented on #107268
this doesn't look like a kubernetes problem.

I encourage you to use other channels for looking for help, the github issues tracker is mostly for kubernetes bugs on the code base.

/close

[2021-12-31 08:59] #107268 closed

[2021-12-31 09:02] aojea commented on #107266
This has been fixed in recent versions that use HTTP2, by default there is an idle timeout of 30s in the connection that will detect that this is stale and restart it, solving this problem.

[2021-12-31 09:03] aojea commented on #107266
I think it went in in 1.19 https://github.com/kubernetes/kubernetes/issues/87615

[2021-12-31 09:05] aojea commented on #107269
@sivaandyala765 please stop opening the same issue several times, this is not the right place for this kind of problems

#107268

/close

[2021-12-31 09:06] #107269 closed

[2021-12-31 10:10] pacoxu opened #107272 "After kubelet restart, quota monitoring doesn't work for old pods."
### What happened?

The log below was added by myself to see the `GetMetrics` duration for empty dir.

I have two pods in the node and one is created after kubelet restart, the other was created before kubelet restarted.

[code]
Two volumes above are for empty dir.
You can see the log above, `1048591` volume is not called quota_linux_common_impl.go and `1048590` volume is called by
quota_linux_com

[2021-12-31 10:11] pacoxu commented on #107272
/sig node
/assign
/triage accepted

[2021-12-31 10:18] jlsong01 opened #107273 "Failure cluster [28311165...] Make integration test TestQuotaLimitService wait longer, to avoid flakes"
### Failure cluster [28311165688ff5ded2f4](https://go.k8s.io/triage#28311165688ff5ded2f4)

##### Error text:
[code]
#### Recent failures:
[2021/12/30 上午8:28:34 ci-kubernetes-integration-master](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1476348992219516928)

/kind failing-test

/kind flake

/sig api-machinery

[2021-12-31 10:18] jlsong01 commented on #107273
/assign
I want to take a try

[2021-12-31 10:25] jlsong01 commented on #107273
`    quota_test.go:214: resource services, expected 2, actual 0
    quota_test.go:221: error waiting or ResourceQuota status: timed out waiting for the condition
W1230 00:55:11.755545  122720 apf_controller.go:831] no match found for request &request.RequestInfo{IsResourceRequest:true, Path:"/api/v1/namespaces/quota/services", Verb:"create", APIPrefix:"api", APIGroup:"", APIVersion:"v1", Namespace

[2021-12-31 10:52] Jeansen opened #107274 "kubectl replace does not update Network Policy changes"
### What happened?

Set up a new cluster with kubeadm following the docs at kubernetes.io with kubernetes 22.5 (one master node, 4 worker nodes).
Installed weavenet overlay network via helm.
I can install any kind of helm charts, pods etc. Everything works as expected.

Created a simple Network Policy blocking Ingress and Egress.
Ran a simple pod to see if the policy is active.
Deleted the policy.

[2021-12-31 11:41] zohebs341 opened #107275 "Azure AKS - 1.20.7 - Not saving endpoints for unknown healthcheck"
### What happened?

We are using Azure AKS V1.20.7 and the service type in production environment is ClusterIP. In Kube-proxy logs, continuously I see the below printed line.

"Not saving endpoints for unknown healthcheck"

service_health.go:183] Not saving endpoints for unknown healthcheck

It may increase Syncing time I believe. Kindly assist.

### What did you expect to happen?

It should not p

[2021-12-31 11:47] aojea commented on #107274
The NetworkPolicy behavior is an implementation detail of your CNI plugin, that seems to be Weave in this case, by your description.

You should report this issue on the Weave repo, because this does not look like a kubernetes problem

[2021-12-31 11:48] atorr0 commented on #20227
There's a `kubectl ssh` plugin that I think can be used with the -R (though I didn't tried it) at https://github.com/jordanwilson230/kubectl-plugins

[2021-12-31 13:10] Jeansen commented on #107274
@aojea Thanks for the feedback. Frankly I was not sure. So, I startet at the top. I'll open an issue at Weave, too.

[2021-12-31 13:13] aojea commented on #107274
No problem, let us know, your question is legit, if there can be something that kubernetes can improve is a win for all

[2021-12-31 13:50] #101727 closed

[2021-12-31 14:24] Jeansen commented on #107274
I'll close this one then and reopen, if necessary.

[2021-12-31 14:24] #107274 closed

[2021-12-31 14:32] jlsong01 commented on #106637
copy from PR: https://github.com/kubernetes/kubernetes/pull/107077, which was closed somehow

@mattcary @jan-safranek Thanks for your comments. Here is my work plan, maybe it's another option, could you please take a look?

The tightened validation: If spec.Resources.Limits[core.ResourceStorage] is present, no matter what value in them, the validation will fail

-  add this tightened validation on

[2021-12-31 16:35] brianpursley commented on #107160
@ravi-kp What is your kubectl and cluster version?  Can you post the output of `kubectl version`?

Also are you using a cloud provider for your kubernetes cluster?  And if so, which one?

[2021-12-31 16:53] #104099 closed

[2021-12-31 20:56] jingxu97 commented on #105536
/cc @jingxu97

[2021-12-31 22:57] moshebeeri commented on #92332
For a work around just do this:
    ports:
      - name: http
        protocol: TCP
        containerPort: 3000

[2021-12-31 23:13] harsimranmaan opened #107277 "go-client/dynamic/fake does not allow faking pagination"
### What happened?

The fake dynamic client does not support mock pagination or the self link.

### What did you expect to happen?

Add ability to propagate the metadata fields from a mock unstructured list to the served list by the fake lister.

### How can we reproduce it (as minimally and precisely as possible)?

Repro linked in the MR x-ref.

### Anything else we need to know?

_No response_

[2022-01-01 00:29] NikhilSharmaWe commented on #107231
@b0b0haha I think that [verifyDevicePath()](https://github.com/kubernetes/kubernetes/blob/864e5e564ae08b64c80ba562951b924860a1a1ae/pkg/volume/vsphere_volume/vsphere_volume_util.go#L78-L86) is checking that whether the path exists or not. Could you take a look at it again or am I missing something here.

[2022-01-01 04:55] #102912 closed

[2022-01-01 06:55] #101631 closed

[2022-01-01 08:09] NikhilSharmaWe commented on #105165
/remove-lifecycle stale

[2022-01-01 11:59] #104094 closed

[2022-01-01 13:18] mindw commented on #70147
/remove-lifecycle stale

[2022-01-01 14:00] ThomasBarach commented on #78761
Hello, I'm running 1.21.5-gke.1302 and removing `spec.Replicas` in my deployment fixed the issue, HPA started to scale down pods.

[2022-01-01 14:44] contactpunit opened #107281 "secret is created with clear text data"
### What happened?

Hi,

I tried creating a secret with key under data section having plain text value. It was created successfully. In my understanding it should fail as its not base64 encoded.

Here is example:

[demo@kubemaster pods]$ cat sec1.yaml
apiVersion: v1
kind: Secret
metadata:
  name: tryme
data:
  nameofsecret: manu

[demo@kubemaster pods]$ kubectl apply -f sec1.yaml
secret/tryme crea

[2022-01-01 16:53] sanposhiho commented on #93792
/reopen

[2022-01-01 16:53] sanposhiho commented on #93792
/remove-lifecycle rotten

[2022-01-01 18:21] dminGod commented on #73570
On my local instance - I followed these steps and it worked really well

`
rm -rf ~/.kube/cache
mkdir /dev/shm/kube_cache
ln -s /dev/shm/kube_cache ~/.kube/cache
`

[2022-01-01 18:24] impact-maker commented on #105798
/assign

[2022-01-01 20:50] kaikash commented on #54337
up

[2022-01-01 21:04] #103742 closed

[2022-01-02 03:56] gjkim42 commented on #88613
Reproduced at master(v1.24.0-alpha.1-233-g7c013c3f64d) with containerd

By the way, is it a valid behavior using `activeDeadlineSeconds` at pod level? (not at job level)

/assign

[2022-01-02 03:59] gjkim42 commented on #88613
refs:
https://kubernetes.io/docs/concepts/workloads/pods/_print/#detailed-behavior
https://kubernetes.io/docs/concepts/workloads/controllers/job/#job-termination-and-cleanup

[2022-01-02 05:00] jyller opened #107282 "invalid configuration: [context was not found for specified context: default, cluster has no server defined]"
### What happened?

**I failed to start kube-controller-Manager**

kube-controller-manager --kubeconfig=/etc/kubernetes/kubeconfig --leader-elect=true --service-cluster-ip-range=169.169.0.0/16 --service-account-private-key-file=/etc/kubernetes/pki/apiserver.key --root-ca-file=/etc/kubernetes/pki/ca.crt --log-dir=/var/log/kubernetes --logtostderr=false --v=0
Flag --log-dir has been deprecated, will

[2022-01-02 06:21] ravi-kp commented on #107160
@brianpursley Please find the kubectl version:

[code]
Cloud provider: openshift 4.7.0
OS: Red Hat Enterprise Linux release 8.5 (Ootpa)

[2022-01-02 13:59] daniellavoie opened #107284 "request: backport cadvisor v0.40.0 to older branches"
### What happened?

I'm running k3s with kube `1.21.x` and I am currently impacted by google/cadvisor/pull/2868 which was fixed in cadvisor `v0.40.0`. All maintained branches are currently running cadvisor `v0.39.0` except `1.23.x` which is under the latest cadvisor.

### What did you expect to happen?

Bump all supported branches of Kubernetes to cadvisor > `0.40.0`.

### How can we reproduce it

[2022-01-02 14:13] aojea commented on #107284
cadvisor vendoring use to be tricky due to all the dependencies at play, have you evaluated how feasible it is?

[2022-01-02 14:16] daniellavoie commented on #107284
I'm in that process as we speak, I've just signed the contributor CLA and looking to setup a dev environment. This is the first time I'll be putting a feet in the k8s codebase so I have no confidence in how reliable my evaluation will be 😄

[2022-01-02 14:18] daniellavoie commented on #107284
https://github.com/kubernetes/kubernetes/commit/8af7405f1730c4913c48c6dc494e319cb3015f69 is a scary thing to backport. Hoping a `v0.39.0` to `v.0.40.0` is less impactful.

[2022-01-02 15:04] daniellavoie commented on #107284
if it's too complicated I'll see if we can submit a `v.0.39.3` release on cadvisor.

[2022-01-02 15:55] daniellavoie commented on #107284
I've submitted https://github.com/google/cadvisor/pull/3038 to backport the cadvisor fix on  `v0.39.x`. Should definitely prove to be a less impactful upgrade.

[2022-01-02 15:55] sftim commented on #107053
I see questions aimed at me. I'll let folks more familiar with API machinery code and / or design respond to those.

I can say that JSONpath client-side filtering doesn't work in all situations where selectors currently do. For example, you might want to delete all configmaps matching a field selector.

[2022-01-02 16:02] hugolurat commented on #44254
https://github.com/rancher/rke/issues/1329#issuecomment-490775878

[2022-01-02 16:02] sftim opened #107285 "Allow case-insensitive matching in selectors"
### What would you like to be added?

_As a cluster operator_
_I want to be able to enter a command such as:_
[code]
_So that I can clean up pending pods except in the primary system namespace_ (I think that command does this)
_And I don't want to have to remember what case convention the `.status.phase` field uses_

### Why is this needed?

(Field) selectors are case sensitive, and sometimes it'd

[2022-01-02 16:02] sftim commented on #107285
/sig api-machinery

[2022-01-02 16:03] sftim commented on #107285
Slightly relevant to https://github.com/kubernetes/kubernetes/issues/5206 and https://github.com/kubernetes/kubernetes/issues/341

[2022-01-02 16:08] sftim commented on #107053
I did think of https://github.com/kubernetes/kubernetes/issues/107285 as a separate feature request (case insensitive matching for the values of fields).

[2022-01-02 18:05] pohly opened #107286 "storage e2e: fstype not set for CSI Ephemeral test patterns"
### What happened?

There are pre-defined tests patterns that specify "CSI Ephemeral" in combination with a non-default fstype, for example:
https://github.com/kubernetes/kubernetes/blob/7c013c3f64db33cf19f38bb2fc8d9182e42b0b7b/test/e2e/storage/framework/testpattern.go#L198-L204

### What did you expect to happen?

This code then should set `FsType` but currently doesn't:
https://github.com/kubern

[2022-01-02 19:34] MuhammadMunir12 opened #107287 "Unable to route traffic to nginx webserver via nginx ingress"
### What happened?

I am trying to run the nginx ingress controller and nginx web server with custom configurations. For this I have created configmaps, deployment, exposed it as service of type node port, created a relevant route and ingress rule as well for both (ingress and web server). I can curl the static content for ingress and web server on their respective **worker node's ip:port**.
I wan

[2022-01-02 20:29] aojea commented on #107287
/kind support
/remove-kind bug

These is not the right place for these kind of questions, I suggest you to look for help in the ingress-nginx community forums or https://github.com/kubernetes/ingress-nginx/ repository, stackoverflow,  slack, ...

/close

[2022-01-02 20:29] #107287 closed

[2022-01-02 22:58] preciousonyekwere commented on #50295
run this command as ubuntu user NOT root user if you have issues deploying on k8S

[2022-01-03 02:34] pbxqdown commented on #107272
does this only happen on emptydir?

[2022-01-03 03:34] MadhavJivrajani commented on #107282
/sig api-machinery

[2022-01-03 03:36] MadhavJivrajani commented on #107277
/sig api-machinery

[2022-01-03 03:54] MadhavJivrajani commented on #106939
/cc @endocrimes

[2022-01-03 04:04] jyller commented on #107282
i back to 1.19.0 ， the same error occurred

[2022-01-03 04:04] jyller commented on #107282
etcd and api-server start success

[2022-01-03 06:58] horihel commented on #74551
that short-term fix doesn't work on windows though - or does it?

[2022-01-03 07:07] wojtek-t commented on #104462
/lifecycle stale

[2022-01-03 07:10] wojtek-t commented on #95110
/remove-lifecycle stale

[2022-01-03 07:12] wojtek-t commented on #103145
/remove-lifecycle stale

[2022-01-03 07:12] wojtek-t commented on #96752
/remove-lifecycle stale

[2022-01-03 08:17] wojtek-t commented on #101969
/remove-lifecycle rotten

[2022-01-03 08:55] ball-hayden commented on #105464
Would definitely be up for assisting with implementation, but wouldn't know where to start.

[2022-01-03 09:36] wojtek-t commented on #80289
We want to wait 3 releases (2 described in the PR and 1 to allow a skew between masters) and get rid of endpointsleases and configmapleases similarly as we did in:
https://github.com/kubernetes/kubernetes/pull/106852

Hopefully in the meantime more out-of-tree components will also migrate to leases as a result of those changes.

[2022-01-03 09:52] wojtek-t commented on #101667
/remove-lifecycle stale

I missed the PR has been opened for it: #105800 - I will take a look.

[2022-01-03 10:12] ACK-lcn opened #107289 "A business pod on the k8s node is isolated, making it impossible to delete it, directly affecting scheduling！"
### What happened?

Environment introduction：
Kubernetes version：1.18.6
Docker version：19.03.12
Operating system version: Centos 7.7 1908
Kernel version: 3.10.0-1062.el7.x86_64

Problem Description:
1) A business pod has been deleted in kubernetes, and the deleted pod information cannot be filtered out through kubectl get po -n xx;
2) However, on a certain node, it still shows that the deleted pod

[2022-01-03 10:19] ACK-lcn commented on #107289
kubelet ERROR :
kubelet_pods.go:1125] Failed killing the pod "fps-wsp-algo-cpu-exp-lls-59f4cf9b4b-64vf8": failed to "KillContainer" for "fps-wsp-algo-cpu-exp-lls" with KillContainerError: "rpc error: code = Unknown desc = operation timeout: context deadline exceeded"

[2022-01-03 10:19] Rajalakshmi-Girish commented on #106663
@mattcary We still see this test flaking in our internal CI job. (The frequency of flaking has been reduced)
Please let us know if there is any update on this.

[2022-01-03 10:55] szuecs commented on #79365
@AlexanderYastrebov I talked with @arjunrn and the underlying issue is that you can only query metrics-server by label.
So our `"label": { "deployment": "my-deployment-7"}` workaround is the way to go.

[2022-01-03 11:06] claudiubelu opened #107290 "Windows tests: Flakes due to StartContainer timeouts"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master

### Which tests are flaking?

Any test, but it seems to happen more often for tests in which there are pods with pause / sleeps in them.

### Since when has it been flaking?

Unknown

### Testgrid link

https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master

### Re

[2022-01-03 11:54] yxxhero commented on #107289
@ACK-lcn Kubernetes v1.18 is no longer actively maintained. Please try to upgrade the k8s version.

[2022-01-03 11:55] yxxhero commented on #107289
/sig node

[2022-01-03 11:59] yxxhero commented on #107257
/sig node

[2022-01-03 12:01] yanllearnn commented on #107143
resolved in mac system

[2022-01-03 12:01] #107143 closed

[2022-01-03 12:55] henrik242 commented on #72597
@knight42 Works perfectly! E.g. `kubectl relay host/some-pod-accessible-host 4321` forwards `some-pod-accessible-host:4321` to `localhost:4321`.

[2022-01-03 13:03] endocrimes commented on #106939
it had a non-op config change in the past - https://github.com/kubernetes/kubernetes/commit/71e6d9cbe0278593ea27ae271eb9a6566569c82d - I potentially missed this when removing that 😬

[2022-01-03 13:40] jsafrane commented on #107231
This is intentional. `devicePath` in `WaitForAttach` is a device name returned by a previous `Attach()` call. Not all volume plugins know exact device name during `Attach()` and therefore they return empty string from there. It's then task of `WaitForAttach()` to find the actual device and they ignore `devicePath`.

Similarly, Flex and CSI volume plugins do not know if Attach() returned anything a

[2022-01-03 13:51] jsafrane commented on #107184
I don't think it's a bug. `WaitForAttach` should wait until a volume gets attached and actually appears as a device on a node. But `devicePath` parameter is optional. Not all clouds know path to a device at `Attach()` call and it does not even need to be a path to a device (e.g. CSI volume plugin uses it quite differently). Hence the default `WaitForAttach` cannot do anything useful.

[2022-01-03 13:54] jsafrane commented on #104493
/remove-lifecycle rotten

[2022-01-03 13:55] tomas-k-mall opened #107291 "Kubectl top pod command returns incorrect amount of memory for STS pod in case the pod is deleted and recreated"
### What happened?

When STS pod is deleted via `kubectl delete pod` command and subsequently created on another node, `kubectl top pod` command returns MEMORY(bytes) as sum of  the deleted pod and newly created pod for approx. 3 minutes.

MEMORY(bytes) in such case returns nonsensical value exceeding in fact memory limits and this is responsible for creating false alarms in our case.

It is verif

[2022-01-03 13:55] jsafrane commented on #104493
Eh, sorry, this actually looks rotten.
@doubletao318, did you check what calls your CSI driver gets when a node comes back?

[2022-01-03 14:31] geowalrus4gh commented on #61486
@M00nF1sh we are waiting for this fix in EKS.

[2022-01-03 15:07] bootc commented on #104012
/remove-lifecycle stale

[2022-01-03 16:37] #106873 closed

[2022-01-03 16:57] shivrajjadhav733 commented on #104487
I found out the issue was due to HPA configuration getting kicked in due to cpu utilization hitting max capacity. With that issue has been identified and resolved.

[2022-01-03 16:57] #104487 closed

[2022-01-03 17:00] jsturtevant commented on #104584
/remove-lifecycle stale

[2022-01-03 17:54] johngmyers commented on #102382
/remove-lifecycle stale

[2022-01-03 18:33] ahg-g opened #107294 "Add suspend subresource"
### What would you like to be added?

Add `suspend` subresource to allow agnostically suspending/restarting apps, especially jobs. This is similar to the `scale` subresource.

### Why is this needed?

This is useful to develop job management operators (such as job queueing controllers) that aim to control when to start/stop jobs, whether that being the k/k [batch/v1.Job](https://kubernetes.io/docs

[2022-01-03 19:07] dims commented on #104007
related to https://github.com/kubernetes/kubernetes/issues/106422

[2022-01-03 19:08] seocam commented on #78761
The problem came back after a few days and so far we have no workaround working for us. We had to disable HPA for now.

[2022-01-03 19:11] dims commented on #106422
now there's a https://github.com/golang-jwt/jwt/ too?

[2022-01-03 19:19] TwiN commented on #83332
We're hitting a similar issue with due to an invalid DNS config. Fixing the DNS config makes it go away, but this still prevents deletions of namespaces due to `DiscoveryFailed`.

You can see that when metrics-server is not in a Ready state, `kubectl api-resources` will have the following error message:
[code]
My theory is that deleting a namespace causes Kubernetes to look for every resources in

[2022-01-03 19:44] neolit123 commented on #107229
/close

please reopen if needed or if you have more details.

[2022-01-03 19:45] #107229 closed

[2022-01-03 19:45] neolit123 commented on #107199
/close

closing for the time being.

[2022-01-03 19:45] #107199 closed

[2022-01-03 20:39] ChipWolf commented on #57187
/remove-lifecycle stale

[2022-01-03 21:24] brokoli18 opened #107297 "Kube Proxy: Unable to open port when scheduling pods to kube master"
### What happened?

I deployed a single node using kubeadm with the following components:
* docker CRI
* Flannel network
* Metallb ingress

After deploying the node I removed the master taint to enable scheduling pods on this node. Then I created an nginx deployment along with a loadbalancer service. After this the service should recieve an external IP on my local network (which it did), but this

[2022-01-03 21:30] kfox1111 commented on #89911
/remove-lifecycle stale

[2022-01-03 21:34] aojea commented on #107297
/sig network
can you upload the kube-proxy logs?

[2022-01-03 21:42] brokoli18 commented on #107297
[code]
This is after updating the daemonset to use `v1.23.1` again and recreating the loadbalancer service

[2022-01-03 21:55] apt-itude commented on #106111
We've experienced this issue with clusters on v1.20. The [release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#no-really-you-must-read-this-before-you-upgrade) for that version mention the following change:

Since v1.20 is seemingly when exec probe timeouts started being enforced, would it be possible to have this fix for this issue backported to all mino

[2022-01-04 00:49] SergeyKanzhelev commented on #107289
/triage needs-information

@ACK-lcn as mentioned above, the 1.18 version is not supported, please upgrade to the supported k8s version.

As for the bug, I'm not clear on what exactly happened. Pod was deleted and is not visible thru `kubectl`. Next, you are saying "deleted pod service is in the Up state". Does it refer to [k8s Service object](https://kubernetes.io/docs/concepts/services-networking

[2022-01-04 01:59] Ulicong opened #107298 "api-server-maser /calico/ kube-scheduler-master health check fail"
Kubernetes v1.20.0
Docker version 20.10.8
calico/cni:v3.8.9

![image](https://user-images.githubusercontent.com/13343901/147999059-9313c1ba-3ab2-42d2-a2f8-b5c3c0347a2e.png)

[2022-01-04 02:02] kerthcet commented on #65797
`backoffLimit` is limited to Job.

[2022-01-04 02:03] kerthcet commented on #65797
I'm glad to follow up with this feature, can someone tell me where are we now?

[2022-01-04 02:12] answer1991 commented on #100643
/cc

[2022-01-04 02:16] coffeepac commented on #81863
the linked PR from me expanded scope to include all of k/k and stdlib.  we're still missing generic, go.mod specified packages.  do we want to include those or is this sufficient?

[2022-01-04 02:32] silence-coding commented on #107263
@sanposhiho Thank you

[2022-01-04 02:32] #107263 closed

[2022-01-04 02:49] kerthcet commented on #107294
Is that means other resources like `deployments` should also support `.spec.suspend` like Job does?

[2022-01-04 02:49] mattysweeps commented on #79149
@myshkin5 I'm not sure it's a bug, but some form of improvement would be nice. I've requested that https://github.com/kubernetes/code-generator/issues/21, originally referred in https://github.com/kubernetes/kubernetes/issues/79149#issuecomment-504128650, be reopened. See [my comment on the issue ](https://github.com/kubernetes/code-generator/issues/21#issuecomment-1004487336).

[2022-01-04 03:02] robinshine commented on #104702
Verified to be working. Thanks!

[2022-01-04 03:02] #104702 closed

[2022-01-04 03:03] xpofei commented on #42433
/remove-lifecycle rotten

[2022-01-04 03:33] Rtoax commented on #71647
Totally same.

[code]

[2022-01-04 05:35] arman-zhumakhan opened #107300 "cannot open Kubernetes website"
### What happened?

I'm getting the error NET::ERR_CERT_AUTHORITY_INVALID on a browser when I try to open kubernetes website. I'm based on Hong Kong. I paste the whole error below
NET::ERR_CERT_AUTHORITY_INVALID
Subject: kubernetes.io

Issuer: FWF60ETK18004712

Expires on: Feb 18, 2022

Current date: Jan 4, 2022

PEM encoded chain:
-----BEGIN CERTIFICATE-----
MIIEajCCA1KgAwIBAgIUILtSCPOTtK2Q8yp8lU

[2022-01-04 05:44] MadhavJivrajani commented on #107300
Transferring to the website repo!
/transfer website

[2022-01-04 05:45] MadhavJivrajani commented on #107298
/triage needs-information

[2022-01-04 05:49] MadhavJivrajani commented on #107284
/sig node

[2022-01-04 05:50] MadhavJivrajani commented on #107255
/sig node

[2022-01-04 06:51] acumino opened #107301 "Migrate `component-base` to use Lease API"
### What would you like to be added?

[component-base](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-base) is currently using endpoints . We want to migrate this to endpointsleases and finally to leases.

### Why is this needed?

Support for endpoints and configmaps is removed in K8s 1.24 with kubernetes/kubernetes#106852.
More details about the motivation to sw

[2022-01-04 07:00] acumino commented on #107301
/sig scalability
/sig api-machinery

[2022-01-04 07:43] smileusd commented on #107266
@aojea Thank you for reply. But i can not find the log from client "use of closed network connection", In my case client didn't recieved any events include EOF or `IsProbableEOF`. The connection is still available from slb to client. But as you said, go 1.16.5 add HTTP2 health check can check idle timeout may be can also solve this problem. I will try it. Thanks.

[2022-01-04 07:56] denkensk commented on #107294
+1
It will be useful to control the custom defined jobs lifecycle in queue controller.

[2022-01-04 08:01] denkensk commented on #107294
I suppose it should be up to other applications to decide whether to support "pause" based on their realistic needs. @kerthcet

[2022-01-04 08:09] BinacsLee commented on #107294
/cc

[2022-01-04 08:26] mengjiao-liu commented on #107191
/assign

[2022-01-04 08:31] mcbenjemaa commented on #102334
/remove-lifecycle stale

[2022-01-04 08:44] silenceper opened #107303 "The pod has been scheduled to the node, but the pod has always been in the pending state"
### What happened?

The pod has been scheduled to the node, but the pod has always been in the pending state.
kubelet does not output the pod log, as if there is no watch to the creation event of the pod

[code]

and when restart kubelet, pod is running normal.

### What did you expect to happen?

pod running on node

### How can we reproduce it (as minimally and precisely as possible)?

This is t

[2022-01-04 08:44] silenceper commented on #107303
/sig node

[2022-01-04 08:51] pablocavalieri commented on #107205
It's probably that, but IDK which WebHook is doing that. The feature you suggested would really help.

[2022-01-04 09:49] acumino commented on #107301
/cc @wojtek-t

[2022-01-04 10:15] ahoehma commented on #59876
Works only with "/run/desktop/mnt/host/" wtf :P

[2022-01-04 10:16] smileusd commented on #107266
@aojea I try to update golang from 1.14 to 1.16.12 and build a version. But issues still exist. The update can not fix this problem.

[2022-01-04 11:54] NoicFank opened #107306 "The timeout of exec probe did not take effect as expected."
### What happened?

I want to use the `exec` probe, and I found the `timeoutSeconds` with exec probe did not take effect as expected.
here is the situation, let's take readinessProbe for example to show the question.

I use `exec` probe in  `readinessProbe` and set the `timeoutSeconds` of  `readinessProbe` to 5, where I want the execution to return in 5 seconds.  Then, I set the `command` the slee

[2022-01-04 12:27] lixiaobing1 commented on #107303
It seems to be absence of some resource, look at the logs of kubelet on the scheduled node for detail info.

[2022-01-04 12:32] SerialVelocity commented on #80968
/remove-lifecycle rotten

Still waiting on #89155 to merge.

[2022-01-04 12:41] silenceper commented on #107303
It has been resolved. It is found that the nfs mounted on the node is abnormally df -h stuck. The kubelet is stuck in the housekeeping stage and cannot receive other events

[2022-01-04 12:41] #107303 closed

[2022-01-04 12:56] savitharaghunathan commented on #86843
/unassign

[2022-01-04 12:56] 1978629634 commented on #107249
Reason: One port of a pod can access two VIPs at the same time. This happens frequently in a high-concurrency environment

When a port of a pod accesses two VIPs, netfilter first matches conntrack after receiving the reply packet. The reply packet received by conntrack is, endpoint IP->SNAT IP, IPTABLES will modify the SNAT port to avoid the same quintuple of the two connection reply packets when

[2022-01-04 13:31] Jeaniowang opened #107308 "restart container failed, report Error response from daemon: cannot join network of a non running container"
### What happened?

when we excute docker stop container, and excuet docker start container, meet the error accidentally,
we Tested, the problem probability about 10%，the log as follows:

[StartContainer "88b573825e2f948b112279c91d0a9134c105c02c31401c2e0d8c7f06502d0523" from runtime service failed: rpc error: code = Unknown desc = failed to start container "88b573825e2f948b112279c91d0a9134c105c02c

[2022-01-04 13:31] Jeaniowang commented on #107308
报告收到

[2022-01-04 13:31] Jeaniowang commented on #107308
报告收到

[2022-01-04 13:54] NoicFank commented on #107306
@gjkim42  thanks for your reply. I found the reason, that there is a gate to control the probe timeout in docker. maybe the gate is close in my env.

kubernetes/pkg/kubelet/dockershim/exec.go
[code]

[2022-01-04 14:07] aojea commented on #107266
is not a golang version update, you need kubernetes 1.19 or greater.
Bear in mind that latest release supported is 1.20, https://kubernetes.io/releases/ , this bug has to be present in one of the supported versions in order to be accepted

[2022-01-04 14:12] gjkim42 commented on #107306
Or maybe this is the reason.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes

[2022-01-04 14:20] NoicFank commented on #107306
yeah, thanks，appreciate for your time.

发自我的iPhone

------------------ Original ------------------
From: Gunju Kim ***@***.***&gt;
Date: Tue,Jan 4,2022 10:12 PM
To: kubernetes/kubernetes ***@***.***&gt;
Cc: Dingzhu Lurong ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [kubernetes/kubernetes] The timeout of  exec probe did not take effect as expected. (Issue #107306)

Or maybe this is the re

[2022-01-04 14:26] aojea commented on #107297
can you dump the service that is causing the issue with ` kubectl get service <service> -o yaml` ?

[2022-01-04 14:32] ahg-g commented on #107294
/sig-api-machinery

[2022-01-04 14:45] liggitt commented on #107301
are you referring to the RecommendedDefaultLeaderElectionConfiguration function? all built-in callers of that method override to use `leases`

in my opinion, `RecommendedDefaultLeaderElectionConfiguration` should not silently change the resource lock value

[2022-01-04 15:11] spadgett commented on #83961
/remove-lifecycle rotten

[2022-01-04 15:14] munnerz commented on #107281
I think `manu` _is_ valid base64 data, it just decodes to not UTF-8/ASCII characters.. 🤔 so I believe this is working as intended?

Take a look here: https://www.base64decode.org/ and set the character set to "auto detect".

[2022-01-04 15:27] tnqn commented on #101622
@dbgoytia I'm not working on it. Thanks for the help.

[2022-01-04 15:30] #101667 closed

[2022-01-04 15:58] fasaxc opened #107310 "client-go should clear ResourceVersionMatch on paged List() calls"
### What happened?

We recently started using the list pager from client-go as part of Calico, and have seen reports of the following error showing up: https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/internalversion/validation/validation.go#L35-L37

### What did you expect to happen?

No error, just beautiful paged list calls.

### How can we reproduce it (as minimally and pre

[2022-01-04 16:00] fasaxc commented on #107310
/sig api-machinery

[2022-01-04 16:08] silenceper commented on #107303
Ref #101622

[2022-01-04 16:29] mattcary commented on #106663
I'm still plugging away at it, not clear where the problem is to me yet.

[2022-01-04 16:31] dashpole commented on #107172
/sig node

[2022-01-04 16:42] ThomasBarach commented on #78761
Hello, I'm running 1.21.5-gke.1302 and it seems some pods are "blocking" HPA. Whenever I delete pods in `Terminated`, `NodeShutdown` or `OutOfcpu` status, it solves the issue and HPA can scale down correctly.
I've also delete `spec.Replicas` field in my deployments.
Hope this helps

[2022-01-04 16:49] dbgoytia commented on #101622
awesome!

[2022-01-04 17:14] Huang-Wei commented on #107262
@xrmzju 1.18 is no longer supported. By any chance could you try to produce it in a newer version of k8s (1.20+)? BTW: can you also run `k describe pod <pending pod>` and paste the result?

[2022-01-04 17:44] #103034 closed

[2022-01-04 18:04] acumino commented on #107301
Yes

Since support for endpoints and configmaps is removed in K8s 1.24 and by default `RecommendedDefaultLeaderElectionConfiguration` sets the resource lock value to `endpoints` so any components which are using this function and not overriding the resource lock value will have issues. As we are already at K8s 1.23 I think this is the correct time to move this also to `leases` in a step-wise manne

[2022-01-04 18:07] jingxu97 commented on #59876
@andyzhangx is there something we should investigate?

/reopen

[2022-01-04 18:09] liggitt commented on #107301
It would be better to stop setting the value and make consumers choose what to set. Their release cadences might not align with client-go tags, so we can't move to endpointsleases in client-go v0.24.0 and leases in v0.25.0 and know we're safely transitioning consumers

[2022-01-04 18:23] acumino commented on #107301
Are you suggesting that there shouldn't be any default value of resource lock? I am not sure.

What should be the steps to migrate resource lock to leases then to get the surety that we're safely transitioning consumers?

[2022-01-04 18:25] liggitt commented on #107301
yes

it's on the consumer to step to endpointsleases, release, then step to leases, and release

[2022-01-04 18:29] alculquicondor commented on #107198
cc @ahg-g who looked into #104799

[2022-01-04 18:31] alculquicondor commented on #107198
In general, conflict errors are acceptable. The controller should keep retrying, as Paco pointed out.

[2022-01-04 18:31] acumino commented on #107301
I think then I  can close this issue and create a new one with the requirement that there shouldn't be any default value of resource lock in `RecommendedDefaultLeaderElectionConfiguration` function so the user needs to set it every time.

[2022-01-04 18:38] alculquicondor commented on #106802
I suggest you join a SIG Apps meeting to discuss your suggestion.

[2022-01-04 18:39] smarterclayton commented on #106884
This was a deliberately design choice - a Kubelet must consider the resources of terminating pods, and a pod that is terminating but not terminal AND pods that are force deleted (not visible in the API) can still be consuming resources (for instance, volumes or reserved CPUs). Previously, in this case we would be allowing our consumption to burst over what the node could support (and exclusive res

[2022-01-04 18:42] fromanirh commented on #106884
@klueska ^^^

[2022-01-04 18:50] smarterclayton commented on #106419
It is likely this is related to https://github.com/kubernetes/kubernetes/issues/106884, but that is a race condition between terminating pods and the scheduler.

For this particular bug, I'd ask - at some point pod garbage collection should be kicking in and deleting those pods (or the replication controller should).  In general there shouldn't be thousands of OutOfCpu pods around, so why are the

[2022-01-04 18:50] acumino opened #107313 "Migrate `component-base` to use Lease API"
### What would you like to be added?

[component-base](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-base) is currently using default resource lock `endpoints`. As we want to migrate all the resource lock to leases.

We no more want to set the default value of resource lock and let consumers choose what to set. Their release cadences might not align with client-

[2022-01-04 18:52] acumino commented on #107313
/sig scalability
/sig api-machinery

[2022-01-04 18:53] smarterclayton commented on #104560
Linking here for completeness - a similar symptom might get exposed after this fix as described in https://github.com/kubernetes/kubernetes/issues/106884.  The kubelet considers resources for terminating pods to be in use (they are!), but the scheduler ignores terminating pods and schedules new pods.  Because the kubelet now considers terminating pods, it rejects those rapidly rescheduled pods.  T

[2022-01-04 19:05] acumino commented on #107301
Close in favor of #107313

[2022-01-04 19:05] #107301 closed

[2022-01-04 19:21] npnwdev commented on #107147
@caesarxuchao Sorry about the delay.
BB doesn't have any other owners.

[2022-01-04 19:26] khenidak commented on #107297
How are you running kube-proxy? (it could be a case of running two of them)

[2022-01-04 19:27] #107310 closed

[2022-01-04 19:29] tiarly commented on #105357
I can take it
/assign

[2022-01-04 19:36] khenidak commented on #107008
@jayunit100 can you take a look at this one?

[2022-01-04 19:50] wojtek-t commented on #107313
For v1beta1 this is already happening in https://github.com/kubernetes/kubernetes/pull/105448/files

I think that for v1alpha1, given it's already existing, we can't change the default (as it's backward incompatible change).
@liggitt - thoughts?

[2022-01-04 19:54] Isma001 opened #107315 "Con todo respeto "Estoy en búsqueda de un developer en Kubernetes""
Mi nombre es Ismael Hernández de la empresa Mejora Continua de México, mi puesto actual es Analista de Reclutamiento y Selección Sr. IT, dicho lo anterior les escribo amada red ya que actualmente contamos con una vacante muy interesante en el área IT el puesto como tal es “experto en Kubernetes” donde estarás realizando las actividades siguientes:

•	Desarrollo y creación de un nuevo software en K

[2022-01-04 19:54] khenidak commented on #105703
do you fail/stop endpoint responding to probe when you get sigterm (along with stopping the main app endoint)?

[2022-01-04 20:01] liggitt commented on #107313
if compiled against current client-go, it will error, so it's only a matter of where we get the error and how useful the message is

[2022-01-04 20:02] sguidos commented on #59876
The folder mount for `/run/desktop/mnt/host/c` does not exist on the distro you installed in WSL2 - on that WSL2 distro, the mount point to your C:\ drive is the more obvious `/mnt/c`.

Realize that Kubernetes and Docker are **_not_** installed in your installed WSL2 distro.  Instead, Docker Desktop for Windows creates its own WSL2 VM called `docker-desktop` and installs Docker and Kubernetes on t

[2022-01-04 20:31] liggitt commented on #107198
seen again in https://github.com/kubernetes/kubernetes/pull/106242

[2022-01-04 20:33] #107315 closed

[2022-01-04 20:45] khenidak commented on #107297
/triage accepted

ah i think i see the bug. The following conditions needed.
1. No nodeaddresses
2. service without node port.

this will hit both proxiers https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1288
e.g. both will try to bind to `:<node-port>`

will PR a fix.

/assign

[2022-01-04 20:53] khenidak commented on #107297
@brokoli18 as a temp work around you can set node addresses by setting `--nodeport-addresses` on your kube-proxy to a string slice e.g `--nodeport-addresses=<IPv4>,<IPv6>`

[2022-01-04 21:03] stevenwang1 commented on #97328
/remove-lifecycle rotten

[2022-01-04 21:10] liggitt commented on #107038
cc @josephburnett

[2022-01-04 21:17] aojea commented on #107297
interesting, the IP family discriminator in golang is not enough?
https://github.com/kubernetes/kubernetes/blob/9e209efd6567698894a86e30be025796d7e26aa4/pkg/proxy/iptables/proxier.go#L1300

[2022-01-04 21:19] aojea commented on #107315
@Isma001 este no es realmente ni el lugar ni la manera

[2022-01-04 21:24] leilajal commented on #107133
/triage accepted

[2022-01-04 21:25] leilajal commented on #107203
/help

[2022-01-04 21:27] leilajal commented on #107204
/help
/triage accepted

[2022-01-04 21:27] leilajal commented on #107212
/triage accepted

[2022-01-04 21:27] leilajal commented on #107227
/remove-sig api-machinery

[2022-01-04 21:28] leilajal commented on #107238
/triage accepted

[2022-01-04 21:28] leilajal commented on #107255
/remove-sig api-machinery

[2022-01-04 21:29] FarhanSajid1 commented on #79224
please re-open for 2022

[2022-01-04 21:29] leilajal commented on #107266
/triage accepted
/cc @wojtek-t @yliaog @deads2k

[2022-01-04 21:34] dgherman commented on #79224
please reopen

[2022-01-04 21:57] leilajal commented on #107273
/triage accepted

[2022-01-04 22:00] MikeSpreitzer commented on #107238
API Priority and Fairness did not reach alpha until release 1.18.  The FeatureGate went in much earlier, but we did not get the feature fully to alpha until 1.18.  I will submit updates to the erroneous information cited above.

[2022-01-04 22:11] MikeSpreitzer commented on #107238
I submitted https://github.com/kubernetes/kubernetes/pull/107316 to clarify the comment in `kube_features.go`.

I can not update the opening remark in https://github.com/kubernetes/enhancements/issues/1040, and that may be of mere historical interest.  @yue9944882 , what do you think?

[2022-01-04 22:23] liggitt commented on #107031
Specifying the flag multiple times is only supported in 1.22+, and it would be helpful for the docs to reflect that

/remove-kind bug
/kind documentation
/help

[2022-01-04 22:29] Nezteb commented on #81683
Since this issue was automatically closed I'm commenting to hopefully re-open it. I'd love this feature. When there are hundreds or thousands of pods and I just want a summary of the top 10-50 in some category, this would be immensely helpful.

[2022-01-04 22:36] szpak commented on #48069
I've bumped into that some time ago.

/remove-lifecycle stale

[2022-01-04 23:01] #107233 closed

[2022-01-04 23:02] liggitt commented on #107233
The 3MB request size is an upper-bound.

The storage size is limited by etcd, and is recommended to be ~1.5MB

Raising the size is not recommended, since list requests get the full content of all objects of the same resource type, and would become too large if objects commonly were multi-megabyte

[2022-01-04 23:40] jsturtevant commented on #103588
/remove-lifecycle stale

[2022-01-04 23:50] adammw commented on #104383
/remove-lifecycle rotten

[2022-01-05 00:21] mbrancato opened #107318 "Admission registration performs webhook rules expansion modifying object on apply"
### What happened?

When applying a `MutatingWebhookConfiguration`, the `.webhooks[].rules[]` array is being expanded by the `.webhooks[].rules[].apiVersions[]` values. This is causing configuration drift as the object that is in the manifest is different than the object stored by Kubernetes.

This results in the object always being modified and tools like Flux always think the object has changed:

[2022-01-05 00:38] howardjohn opened #107319 "client-go fake: UpdateStatus mutates spec"
### What happened?

Calling UpdateStatus with fake client-go mutates spec

### What did you expect to happen?

UpdateStatus only mutates status, like with real client

### How can we reproduce it (as minimally and precisely as possible)?

[code]

Result:
[code]

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

k8s.io/client-go v0.22.4

</details>

### Cloud pro

[2022-01-05 01:12] weiwenli97 commented on #104987
@marosset I thought it hadn't been addressed in a sig-windows community meeting. And it only focused on docs. And I have found how to run host_process e2e test. Thanks!

[2022-01-05 01:26] geotransformer opened #107320 "Apiserver is not in ready state, however other control components are all in good state"
### What happened?

**ubuntu@-data-master-3:~$ curl -k https://10.192.1.24:6443/readyz**

[+]ping ok

[+]log ok

[+]etcd ok

**_[-]informer-sync failed: reason withheld_**

[+]poststarthook/start-kube-apiserver-admission-initializer ok

[+]poststarthook/generic-apiserver-start-informers ok

[+]poststarthook/priority-and-fairness-config-consumer ok

[+]poststarthook/priority-and-fairness-filter ok

[2022-01-05 01:29] mbrancato commented on #107318
After some testing, this is also expanding by the `.webhooks[].rules[].apiGroups[]` and when `.webhooks[].rules[].apiVersions[]` is the wildcard `"*"` - it is expanding the wildcard into the actual versions and not storing the wildcard in the object config.

So if there are 4 values in `apiGroups` and 2 values in `apiVersions`, the single rule will turn into 8 rules.
Additionally,  the wildcard is

[2022-01-05 01:49] pacoxu commented on #107198
/triage accepted

This needs to be fixed in release branch as well.

[2022-01-05 02:26] shioshiota commented on #106884
I understood the design idea that kubelet can handle the resources of a terminated pod. And I think it is an excellent design that we introduce hard admission and soft admission in the future. It will solve not only this issue but also more generic problems.

By the way, kubelet 1.22 implementation has this unstable behavior and it doesn't exist before 1.22.
At least, the clusters I manage are aff

[2022-01-05 02:44] MikeSpreitzer commented on #106826
The cherry-pick merged.
/close

[2022-01-05 02:44] #106826 closed

[2022-01-05 02:56] MikeSpreitzer commented on #107097
/reopen

Points 1, 3, and 4 are not yet addressed.

[2022-01-05 02:57] younaman opened #107323 "Kube-apiserver/etcd is vulnerable to OOM attack"
## What happened?
Kube-apiserver and etcd processes on master node exhaust all memory, making DoS attack.
`top:`
`PID      USER      PR      NI     VIRT      RES      SHR      S      %CPU      %MEM      COMMAND`
`2035     root       20       0       17.1g    4.8g     228528 S      52.8         30.9           etcd`
`1990     root       20       0        11.0g   8.7g     16672   S      43.5

[2022-01-05 02:58] smileusd commented on #107266
This is my own controller and use client-go. I update golang to 1.16.12, client-go to newest and using newest "golang.org/x/net/http2" pkg. But also not work. Looks like http2 and healthcheck has been enabled

[2022-01-05 03:01] gjmzj commented on #94967
keep failing in my setup: k8s cluster installed using binaries (not kubeadm);

k8s version:
[code]

[code]

e2e test result:
[code]

[2022-01-05 03:03] gjmzj commented on #94967
right now , i have to set back 'iptables' mode to get all the test suites passed

[2022-01-05 03:06] younaman opened #107324 "Kube-apiserver/etcd is vulnerable to OOM attack"
### What happened?

Kube-apiserver and etcd processes on master node exhaust all memory, making DoS attack.
`top:`
`PID      USER      PR      NI     VIRT      RES      SHR      S      %CPU      %MEM      COMMAND`
`2035     root       20       0       17.1g    4.8g     228528 S      52.8         30.9           etcd`
`1990     root       20       0        11.0g   8.7g     16672   S      43.5

[2022-01-05 03:08] #107323 closed

[2022-01-05 03:12] NoicFank commented on #107306
/close

[2022-01-05 03:12] #107306 closed

[2022-01-05 03:31] pacoxu commented on #107320
/sig auth
(I still does not get why this is a bug)

[2022-01-05 03:32] pacoxu commented on #107319
/sig api-machinery

[2022-01-05 03:33] younaman opened #107325 "Etcd used by kubernetes is vulnerable to OOM attack"
### What happened?

Etcd process on master node exhaust all memory, making DoS attack.
`top:`
`PID      USER      PR      NI     VIRT      RES      SHR      S      %CPU      %MEM      COMMAND`
`108       root       20       0      0            0          0           S      47.2         0.0            kswapd0`
`2218     root       20       0      15.6g    5.3g   18008      S      41.2         67.9

[2022-01-05 03:33] pacoxu commented on #107318
/sig api-machinery

[2022-01-05 04:16] MadhavJivrajani commented on #107319
/assign

[2022-01-05 04:24] #97273 closed

[2022-01-05 05:15] msau42 commented on #99468
/reopen
/remove-lifecycle rotten

[2022-01-05 05:37] Tomoku-dm commented on #57187
Any update on this？   I need use jmap to debug java process.but probes will kill container

[2022-01-05 07:03] #103221 closed

[2022-01-05 07:49] pacoxu commented on #92402
Since #106448 was merged, search `//nolint:staticcheck` for stackcheck failures.

We should close this issue, or update the way to follow this up.

[2022-01-05 08:41] #104117 closed

[2022-01-05 08:48] pacoxu commented on #107272
I tested with empty dir. According to the code, the problem should be only with empty dir, see https://github.com/kubernetes/kubernetes/pull/107302/files.

[2022-01-05 08:48] pipoe2h commented on #107043
Thanks for this thread, it was really useful to troubleshoot my situation with CentOS 7.4. I have it working when not using `sudo` commands.

Something I've found out is that if I run my commands with `sudo`, it doesn't gracefully shutdown the pods (I've used the dbus app in this thread).

I've done some additional research, but I'm not sure if this is due to the old version of Systemd (219) that

[2022-01-05 09:06] Shubham82 commented on #107281
Hi @munnerz @contactpunit

I tried this yaml with a different word combination. For every 4 character word whether it contains only alphabets such as "**abcd**" or alphanumeric "**ab12**", the secret is created for them. But if the word is more or less than 4  it gives an error on creation.
So I think it is a bug. Four characters word is considered as base64-encoded strings.

For **abcd**
[code]

[2022-01-05 09:24] NoicFank opened #107331 "kubelet /run interface should support timeout parameter ?"
### What would you like to be added?

currently, the parameters of `/run` interface in kubelet is same with `/exec` interface. Both of `/run` and `/exec` interfaces use `execRequestParams` to pass parameters.
[code]

But,  `/run` interface need an additional parameters `timeout`. Then we can pass the wanted timeout value to `RunInContainer`(as below), instead of 0 (which means never timeout).

[co

[2022-01-05 09:25] pacoxu commented on #107258
/sig node windows

[2022-01-05 09:38] pacoxu commented on #107262
/sig scheduling

[2022-01-05 09:47] logerror commented on #64743
just remark

[2022-01-05 09:47] pandaamanda commented on #107291
/sig cli

[2022-01-05 10:25] wojtek-t commented on #107133
As you mentioned, progress-notify feature should address your main concern. I'm already committed to graduate it to GA in 1.24 (see https://github.com/kubernetes/enhancements/pull/3062).
Given that the problem currently isn't really a correctness issue, but rather the fact that we have unexpected 504s (but it self-recovers and doesn't additional issues, delays, etc.), I don't think we should be in

[2022-01-05 11:17] richardcase commented on #98380
/lifecycle frozen

[2022-01-05 11:22] aojea commented on #107266
how can I reproduce it?

[2022-01-05 11:35] danielfoehrKn commented on #103046
/remove-lifecycle stale

[2022-01-05 11:48] afbjorklund commented on #106917
There is a "real" 0.2.0 release of cri-dockerd now, needs some documentation changes for the new socket path.

https://github.com/Mirantis/cri-dockerd/releases

[2022-01-05 11:50] nilesh-telang commented on #105703
Hi @khenidak,

Thank you for bringing up this point.

To summarize, the code uses `Spring Boot Actuator` probes (/actuator/health/liveness and /actuator/health/readiness) and we currently do not have code to influence the results of the probes during shutdown. However in production we can see that the probes are failing with `connection refused` immediately after the shutdown is initiated. The pro

[2022-01-05 11:51] Shubham82 commented on #107281
Hi, @munnerz I think you are right. when I further tried with the words i.e multiple of 4 like 8, the secret is created for them.
I think this is how Base64 encoded works. In my investigation I found this:

[code]
This is due to misunderstanding the requirement to base64 encode data items.
Could you please provide more inputs so that it will more clear?

[2022-01-05 12:02] munnerz commented on #104272
In very old versions of cert-manager, our webhook was exposed via an APIService object. If you run `kubectl get apiservices`, I think you will find there is one there for `webhook.certmanager.k8s.io` which will have some form of error associated with it. This resource shouldn't exist anymore and should have been cleaned up during the upgrade process :)

So I think Kubernetes itself is working as i

[2022-01-05 12:12] RinkiyaKeDad commented on #104461
We seem to be blocked by the Go team on this - https://github.com/golang/go/issues/47648#issuecomment-916092706

/remove-lifecycle stale

[2022-01-05 12:18] aojea commented on #107325
How is this different of having another database like mysql on a system and adding data constantly? Ir creating files constantly in a system with random data?

I don't know if there are other mechanisms but I think that quotas will solve this problem https://kubernetes.io/docs/concepts/policy/resource-quotas/

[2022-01-05 12:19] aojea commented on #107320
/remove-kind bug
/Kind support

[2022-01-05 12:30] younaman commented on #107325
@aojea Thaks for your reply! I have read the resource quotas carefully,and I think the quota you mentioned is `count/secrets`. However, this resource quota only limits the total number of secrets that a user can create, but not the number of updated versions of one secret! Have I missed something? Looking forward to your reply!

[2022-01-05 13:47] mihica123 commented on #52326
I support this request.

[2022-01-05 14:09] matthyx commented on #107202
I'd like to work on this one... (waiting for tonight's triage session)
/assign

[2022-01-05 14:24] linastehle opened #107333 "kubectl cp with --retries=-1 throws error"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

**What happened:**
Trying to copy a large file from a container via kubectl cp with the new `--retries` flag results in the following error:

[code]

I executed the following command:
[code]

EDIT:
The command executes and the file is copied. However, the resulting file is somehow corrupted:

[code]
However, the files have exactly the same size

[2022-01-05 14:26] linastehle commented on #107333
/sig cli

[2022-01-05 14:56] chrispytoes commented on #104272
Thank you! I knew it was something simple like this.

[2022-01-05 15:44] pjbgf commented on #91286
/remove-lifecycle stale

[2022-01-05 15:49] aojea commented on #107325
@liggitt is there additional mechanisms to avoid this problem?

[2022-01-05 16:08] smarterclayton commented on #106884
The proposed workaround regresses the fix that broke other clusters.  It would be better (and generally where we need to get to anyway) to fix the actual problem, and I agree it is important to prioritize to minimize the impact you are seeing.

It doesn't exist before 1.22 because before 1.22 the Kubelet both didn't consider terminating resources in all cases (was broken) AND had other race condit

[2022-01-05 16:08] liggitt commented on #107325
I thought that etcd compaction addressed this. My understanding is that the apiserver triggers an etcd history compaction every 5 minutes by default. Routing to @mm4tt to confirm or provide more details.

[2022-01-05 16:24] mm4tt commented on #107325
You're correct, etcd compaction is triggered by the api-server every 5min by default. In production, usually the interval is set even lower than the default.

In addition, etcd has a `--quota-backend-bytes` flag that can be used to set the maximum size of the etcd store. If the size of the etcd store is greater or equal the quota, no new write (including updating existing key) will be accepted. Yo

[2022-01-05 16:41] dominbdg opened #107340 "kubernetes issues with pull images from docker"
Hello,
From couple of days I have below issue,
I have pod failed so I wanted to kubectl apply -f with yml file.
Normally this file was working fine.

Right now I see error: Init:ImagePullBackOff
I see below error description:
`Failed to pull image "busybox": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: TLS handshake timeout`

I don't

[2022-01-05 16:45] smarterclayton commented on #106884
Description of an e2e test that would have caught this issue (that we should add)

1. Create a large number of pods that run for a known short amount of time that consume 1 or more pod resources (1-5s)
2. When the pod stops, create another pod such that `sum_resources(active + terminating pods) > max_resources_on_node`
3. Verify that no pod fails admission

I suspect but haven't checked that our e

[2022-01-05 16:52] eloyekunle commented on #107275
/sig network

[2022-01-05 17:23] pfriedland commented on #71869
same issue here. on premise. plenty of free disk space. But scheduler is denying to schedule pod on node because of disk pressure

[2022-01-05 17:23] #107272 closed

[2022-01-05 17:31] damemi commented on #106426
@kerthcet any updates or progress on this?

[2022-01-05 17:46] enj commented on #101597
/remove-lifecycle rotten

[2022-01-05 17:52] enj commented on #104165
/remove-lifecycle rotten
/ifecycle frozen

[2022-01-05 17:52] enj commented on #104165
/lifecycle frozen

[2022-01-05 17:53] msau42 commented on #106814
The PV is supposed to have a NodeAffinity on it that specifies the zone. I guess it's not there because:
- This is a pre-provisioned PV test so it doesn't go through the provisioning logic which includes the NodeAffinity.
- This cluster is not running with the PV label admission controller that adds the NodeAffinity to pre-provisioned volumes.

cc @mattcary

[2022-01-05 17:55] SergeyKanzhelev commented on #107284
/assign @bobbypage

As @aojea said updating dependencies may be tricky in earlier versions. It may be best to release a "hotfix" version of cAdvisor

The bug seems to be nasty and it would be great to have a fix backported. I'm debating between `important-soon` and `critical-urgent`, feel free to update the priority.

/triage accepted
/priority important-soon

[2022-01-05 17:59] enj commented on #103017
/remove-lifecycle stale

[2022-01-05 17:59] enj commented on #103017
/lifecycle frozen

[2022-01-05 17:59] enj commented on #104165
/lifecycle frozen

[2022-01-05 17:59] daniellavoie commented on #107284
Thank you for the update. I'm personally not impacted on a production system no worries here. Only a small feature of my system is broken.

I'm trying to get attention from the cadvisor team to review and accept my PR. Any help there would be appreciated. Thanks!

[2022-01-05 18:19] liggitt commented on #103017
It sounds like k-c-m is hitting a 1.18 API server. If so, that is not a supported component skew. See https://kubernetes.io/releases/version-skew-policy/#kube-controller-manager-kube-scheduler-and-cloud-controller-manager for details:

In that doc, there's a specific example of k-c-m communicating with kube-apiserver through a load balancer that calls out the requirement for all backing API server

[2022-01-05 18:20] liggitt commented on #103017
While it might be more resilient to make the csrapprover controller fail to start if the certificates/v1 API cannot be found, rather than skipping, I think that's a mitigation for running an unsupported configuration.

/close

[2022-01-05 18:20] #103017 closed

[2022-01-05 18:20] geotransformer commented on #107320
[-]informer-sync failed: reason withheld

Any idea why put the reason withheld?

[2022-01-05 18:25] geotransformer commented on #107320
I found this in the change history, it was  fix a bug -
[code]

[2022-01-05 18:32] ehashman opened #107342 "[Failing test] [sig-node] AppArmor [Feature:AppArmor][NodeFeature:AppArmor] when running with AppArmor should reject an unloaded profile"
### Failure cluster [c7bf5dbb8034243be9b3](https://go.k8s.io/triage#c7bf5dbb8034243be9b3)

##### Error text:
[code]
#### Recent failures:
[1/5/2022, 3:15:54 AM ci-cos-containerd-node-e2e-features](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-containerd-node-e2e-features/1478686668440473600)
[1/5/2022, 3:12:49 AM ci-cri-containerd-node-e2e-features](https://prow.k8s.io/view/gs/kuberne

[2022-01-05 18:37] SergeyKanzhelev commented on #107062
@pacoxu do you want to keep working on this? Can I assign the bug to you?

[2022-01-05 18:37] ehashman opened #107343 "[Failing test] [sig-node] GracefulNodeShutdown [Serial] [NodeFeature:GracefulNodeShutdown] [NodeFeature:GracefulNodeShutdownBasedOnPodPriority] when gracefully shutting down after restart dbus, should be able to gracefully shutdown"
### Failure cluster [ef85a62b4fa72d47b0ee](https://go.k8s.io/triage#ef85a62b4fa72d47b0ee)

##### Error text:
[code]
#### Recent failures:
[1/5/2022, 1:43:54 AM ci-kubernetes-node-kubelet-serial-cri-o](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-cri-o/1478663515207110656)
[1/4/2022, 9:43:54 PM ci-kubernetes-node-kubelet-serial-cri-o](https://prow.k8s.io/vie

[2022-01-05 18:38] SergeyKanzhelev commented on #107343
/triage accepted
/priority important-soon

[2022-01-05 18:40] SergeyKanzhelev commented on #107342
/triage accepted
/priority important-soon

Guessing since all tests with apparmor started failing - maybe app armor config was removed or some PR submitted recently.

[2022-01-05 18:42] elfinhe commented on #107342
/assign @elfinhe

[2022-01-05 18:47] khenidak commented on #107297
I was wrong. It is wire all the way to port opener.

@brokoli18  Can you please verify how many kube-proxy instances running on that node (when that error happens)?

meanwhile i will check for other root causes.

[2022-01-05 18:48] ehashman commented on #107258
Kubernetes 1.16 is no longer supported. Can you reproduce this on a supported version (1.20+) of Kubernetes?

/triage needs-information

[2022-01-05 18:52] SergeyKanzhelev commented on #106957
/triage accepted
/priority important-longterm

[2022-01-05 18:53] SergeyKanzhelev commented on #107193
/triage accepted
/assign @songlh
/priority important-longterm

[2022-01-05 18:55] SergeyKanzhelev commented on #107218
/triage accepted
/sig storage

[2022-01-05 18:56] elfinhe commented on #107342
ci-cri-containerd-node-e2e-features

Last green run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e-features/1478579962637193216

First failed run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e-features/1478595062630715392

[2022-01-05 18:57] SergeyKanzhelev commented on #107202
/triage needs-information

@tanguofu can you please reply to this comment https://github.com/kubernetes/kubernetes/issues/107202#issuecomment-1000182274 and take a look at env?

[2022-01-05 18:57] ehashman commented on #107202
(specifically, run the `env` command and share the output here, but make sure you remove any secrets before pasting)

[2022-01-05 18:59] SergeyKanzhelev commented on #107172
/assign @haircommander

@haircommander can you please triage?

[2022-01-05 19:08] khenidak commented on #107297
also please share the service specification (after the error).

[2022-01-05 19:23] elfinhe commented on #107342
This (https://github.com/kubernetes/kubernetes/pull/97966) is the only PR merged in kubernetes during the time between:
-  Test started yesterday at 8:11 PM passed after 13m50s. (more info)
- Test started yesterday at 9:11 PM failed after 16m6s. (more info)

And it happens to be related to AppArmor: https://github.com/kubernetes/kubernetes/pull/97966

[2022-01-05 19:38] alculquicondor commented on #106884
/sig scheduling

[2022-01-05 19:39] haircommander commented on #107172
/triage accepted
/priority important-longterm

I have checked with a fresh perspective from break, and I do think this is a bug, especially because it affects older versions that don't have the PodAndContainerStatsFromCRI option.

There does exist the argument that it has been the intention of CRI stats for a while to be supplemented by cAdvisor with fields that the CRI didn't define, but WorkingS

[2022-01-05 19:53] npnwdev commented on #107147
found a strange problem with object `BB`. I see that the object BB was never deleted but it has ownerReference to new-AA. I guess something wrong with my controller. Will update my findings shortly

[2022-01-05 19:59] alculquicondor commented on #106884
This fits under the category of distributed-systems challenges.
In k8s, using plain Pods is an anti-pattern. When using jobs, you should allow for retries. Arguably, we need more control of what scenarios should be excluded for retries. I plan to revisit this issue #17244

That said, this design change could affect existing workloads when clusters upgrade to 1.22. So we should, at the very least,

[2022-01-05 20:04] alculquicondor commented on #106884
Back to mitigations...

As an alternative to soft-admission: would it be possible that we set a new Pod condition that would allow the scheduler to know whether a pod is fully terminated?

Of course, forced pod deletions would still be a problem.

[2022-01-05 20:19] smarterclayton commented on #106884
You mean, so that the scheduler could switch to waiting for pods to be terminated to schedule new pods?  If yes, with changes in 1.22 this should be possible by looking at the pod status (part of the fixes to pod lifecycle were being much more concrete about when the kubelet is available).  When pod is marked as terminating (deletionTimestamp set) AND all containers to have a terminated state in t

[2022-01-05 20:34] alculquicondor commented on #106884
At this point we have to consider involving scheduler. Not saying that the change is trivial, but probably worth exploring (cc @ahg-g @Huang-Wei ). However, there could be a problem with kubelet versions skew (kubelets that are too old don't populate the container states). What would be the oldest kube-scheduler version we could patch? If I recall the version skew policy correctly, it's just 1.24?

[2022-01-05 20:50] smarterclayton commented on #106884
Release notes in https://github.com/kubernetes/kubernetes/pull/107348

[2022-01-05 20:56] liggitt commented on #107319
there's a lot of server-side behaviors that the fake client doesn't do (like generating uids, updating resourceVersions, applying defaulting, and enforcing spec/status limitations)... the standard answer if you're wanting to exercise those behaviors is to register a reactor that does that

[2022-01-05 20:59] liggitt commented on #107320
/remove-sig auth

You might be able to get more details from `/readyz/informer-sync`, or by checking the apiserver log.

[2022-01-05 21:01] liggitt commented on #107318
I can't reproduce this. After applying the webhook in the description, I see this output when fetching it:

[code]

[2022-01-05 21:31] LittleChimera commented on #99629
/remove-lifecycle rotten

[2022-01-05 21:54] #106968 closed

[2022-01-05 21:54] #106995 closed

[2022-01-05 22:08] leokhachatorians commented on #62099
Gotta laugh at how you literally have to make an initContainer to just move a file because of this.

[2022-01-05 22:24] liggitt commented on #107318
it looks like you're creating an object with this:
[code]

and the resulting object has this:
[code]

is some other controller reading and rewriting the admission configuration object? if so, is that other controller doing the expansion? there's nothing built into kubernetes that does that expansion in webhook config API objects

[2022-01-05 22:52] athornton commented on #93488
Our use case is to cache images, and we do indeed want to see the more recent images preferentially.  The images for what we're doing are very large, so we want to ensure that they are pulled to the nodes before users use them.  The problem is that our cache-manipulation machinery can't see that the images are pulled, and therefore will not display the correct set of cached images to the users.

W

[2022-01-05 23:03] bobbypage commented on #107284
see

https://github.com/kubernetes/kubernetes/pull/107356 for 1.21
https://github.com/kubernetes/kubernetes/pull/107355 for 1.22

[2022-01-05 23:06] bobbypage commented on #107062
/cc @Dragoncell

[2022-01-05 23:07] bobbypage commented on #107062
I believe this is due to the test running a cAdvisor pod which does not support cgroupv2. I think  https://github.com/kubernetes/kubernetes/pull/106287 aims to address it

[2022-01-05 23:27] goshlanguage commented on #105394
/remove-lifecycle stale

[2022-01-05 23:32] ehashman commented on #107247
/sig architecture
/area code-organization

[2022-01-05 23:33] ehashman commented on #107078
/sig testing windows network

[2022-01-05 23:34] ehashman commented on #107082
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2022-01-05 23:35] #107082 closed

[2022-01-05 23:36] ehashman commented on #107164
/close

This issue does not have enough information to debug. If you still need assistance, please fill out the full issue template: https://github.com/kubernetes/kubernetes/issues/new?assignees=&labels=kind%2Fbug&template=bug-report.yaml

[2022-01-05 23:36] #107164 closed

[2022-01-05 23:39] ehashman commented on #107243
This bug doesn't seem to have enough details to reproduce or further investigate. You must include the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Furthermore, 1.19 is no longer a supported Kubernetes version. Can you reproduce this on 1.20+?

Once more details are provided, the bug will be accepted.

/

[2022-01-05 23:44] ehashman commented on #107260
This bug doesn't seem to have enough details to reproduce or further investigate. You must include your container runtime, kubelet logs, and any other relevant info along with clear steps to reproduce so we can help with your issue.

Once more details are provided, the bug will be accepted.

I see here that your workload has identical readiness and liveness probes. This is probably not what you wa

[2022-01-05 23:44] ehashman commented on #107257
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/kind support
/close

[2022-01-05 23:45] #107257 closed

[2022-01-05 23:45] aojea commented on #107247
I don't think this is a real issue unless I misread the CVE
https://github.com/kubernetes/kubernetes/issues/107247#issuecomment-1002190822

[2022-01-05 23:47] ehashman commented on #107281
The provided test case is valid base64:

[code]

This is working as expected.

/kind support
/close

[2022-01-05 23:47] #107281 closed

[2022-01-05 23:48] ehashman commented on #107298
Hello @Ulicong, this is insufficient information for us to debug your issue.

Please fill out the template at https://github.com/kubernetes/kubernetes/issues/new?assignees=&labels=kind%2Fbug&template=bug-report.yaml

/close

[2022-01-05 23:48] #107298 closed

[2022-01-05 23:50] ehashman commented on #107308
1.19 is not a supported version of Kubernetes. Can you reproduce this on version 1.20-1.23?

This bug doesn't seem to have enough details to reproduce or further investigate. You must include kubelet logs and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Once more details are provided, the bug will be accepted.

/triage needs-information
/si

[2022-01-05 23:51] ehashman commented on #107320
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

Note that 1.16 is not a supported version of Kubernetes.

/remove-kind bug
/kind support
/close

[2022-01-05 23:51] #107320 closed

[2022-01-05 23:51] ehashman commented on #107324
/sig security

[2022-01-05 23:51] ehashman commented on #107325
/sig security

[2022-01-05 23:52] timmc9104 commented on #106393
I’m experiencing this same issue with Kubernetes v1.20.14 after migrating to cgroup v2 in anticipation for v1.21.0+.

Will this issue be resolved after I upgrade to v1.21.0+?

[2022-01-05 23:53] ehashman commented on #107340
Hello @dominbdg, you have not provided enough information to debug this issue. Please fill out the full issue template: https://github.com/kubernetes/kubernetes/issues/new?assignees=&labels=kind%2Fbug&template=bug-report.yaml

Thanks!

/close

[2022-01-05 23:53] #107340 closed

[2022-01-05 23:55] aojea commented on #107325
@younaman it seems this is a documentation issue, nobody can stop a power user of breaking a cluster, but we can see that the cluster admins have the necessary options and tools to configure the cluster in a way to avoid this "attacks"

This may be a nice starting point for a blog or doc

/kind documentation
/remove-kind bug

[2022-01-05 23:56] mbrancato commented on #107318
@liggitt for this to be modified immediately, it would need to be some other mutating administration webhook making the changes? I'm going to look into what others are deployed.

[2022-01-06 00:01] timmc9104 commented on #106393
How does this work with cAdvisor being built into the kubelet?

[2022-01-06 01:03] cafruv commented on #79224
a fake problem which can be easilly solved like this
![image](https://user-images.githubusercontent.com/18509567/148311542-e3f08bac-5a56-47bb-a241-948114d9dca3.png)

[2022-01-06 01:04] cafruv commented on #79224
the purpose of configmap is to provide env variables. secret has the same purpose. why bother to reference secret from configmap

[2022-01-06 01:05] liggitt commented on #107318
a controller could plausibly observe and quickly modify it before your next get request was issued

[2022-01-06 01:07] Erick-shi commented on #83938
do you have do etcd compact Manual?

[2022-01-06 01:08] liggitt commented on #107318
starting a watch of the object in a separate tab with `kubectl get mutatingwebhookconfigurations -o yaml -w --output-watch-events --field-selector metadata.name=...` *before* creating it would show all modification requests made to the object

[2022-01-06 01:19] Huang-Wei commented on #106127
Rethink this a bit: given we have some implication (taking nodeSelector/nodeAffinity into consideration) plumbed into PodTopologySpread, and _may_ introduce more implications like conditional taints, probably we can use this chance to define explicit API fields over implication, to express its semantics clearly.

Here is a proposal: adding a field called `nodesExclusion` (temporary name) to [Topol

[2022-01-06 01:20] Alestrix commented on #79224
Incorrect.

A configmap is a way to provide a configuration, which is not limited to environment variables. Often configuration is expected as a config file by the application. It doesn't make sense to store a complete config file as a secret. Therefore the request makes a lot of sense.

[2022-01-06 01:23] kfox1111 commented on #57049
Any progress on this?

What about adding an annotation to pods to tell the drain code, its a known controller/operator pod and go ahead and treat it like the other managed pods?

[2022-01-06 01:31] bobbypage commented on #106393
Please upgrade to v1.23.0+ which includes cAdvisor v0.43 which has cgroupv2 fixes. We don't plan to backport cAdvisor v0.43 to older k8s versions as mentioned in  https://github.com/kubernetes/kubernetes/issues/106393#issuecomment-974549417

[2022-01-06 01:34] songlh opened #107360 "goroutine leaks in TestSelectorSpreadScore"
### What happened?

The ctx object ([line 399](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/selectorspread/selector_spread_test.go#L399)) is context.Background(). Thus, its Done() method returns a nil channel. Later, the nil channel is used to call `wait.BackoffUntil()` and `Reflector.ListAndWatch()` as their `stopCh` argument. The goroutines created in the

[2022-01-06 01:42] younaman commented on #107325
@mm4tt Thanks for your reply! I check my k8s cluster again and confirm several configurations as you said:
* My `--quota-backend-bytes` is 2G, which is the default value and it do works on my cluster.
   * I tried another experiment to show the quota works on my cluster: When I write about 2000 1M secrets in my cluster(I expand the master node memory to 32G to avoid unexpected OOM). The cluster re

[2022-01-06 01:54] ymmt2005 commented on #106393
@judexzhu

At least on my side, `kubectl top node` is working.

@timmc9104

cAdvisor w/ DamonSet is independent of cAdvisor embedded in kubelet.
So, you have to collect metrics from the DaemonSet Pods rather than kubelet to Prometheus,
and use [prometheus-adapter](https://github.com/kubernetes-sigs/prometheus-adapter) to
provide the metrics as [resource metrics](https://github.com/kubernetes/commu

[2022-01-06 01:57] ymmt2005 commented on #106393
@bobbypage
FYI, cAdvisor v0.43 still has [a bug regarding cgroup v2](https://github.com/google/cadvisor/issues/3026).
We have sent a pull request to fix that (not merged yet) and are running a patched cAdvisor with a DaemonSet.

[2022-01-06 02:26] kerthcet commented on #92229
/remove-lifecycle stale

[2022-01-06 02:29] xinfengliu commented on #99183
/remove-lifecycle rotten

Hi maintainers,
Is this issue addressed in other places or still under discussion?

[2022-01-06 02:32] kerthcet commented on #106426
Sorry, I just return from holidays and I talked with @NikhilSharmaWe , he is free to continue his work and I can provide some help if needed.

[2022-01-06 02:44] pacoxu commented on #107062
So I will wait for the #106287 merging and see if this is fixed.

[2022-01-06 02:45] kerthcet commented on #106127
It's a good timing I supposed so. Back to the field `taints`, since we can't list all taints especially customized ones, wildcard should be supported right.

[2022-01-06 02:45] tanguofu commented on #107202
the output of `env|vim -`, with set list to see the white chars:
[code]

[2022-01-06 02:55] mengjiao-liu commented on #107172
I agree with you, the first way is simpler.

And I want take this to better understand the logic of the summary API.

[2022-01-06 02:56] timmc9104 commented on #106393
@ymmt2005 My main concern is the metrics server as it is required for hpa, scheduler, and kubectl top.

My understanding is that the kubelet feeds the metrics server with the data it pulls using the kubelet’s embedded cAdvisor package. Which means the data must be available to the Kubelet in order for it to be available to the metrics server.

How does the cAdvisor w/DaemonSet fit in this architec

[2022-01-06 02:57] younaman commented on #107325
@mm4tt I have read more documents about etcd compaction. It seem like the default value of etcd compaction interval is 5 min. I use the default configuration, so it seems like the etcd compaction still works on my cluster. However, it still can not isolate or limit memory usage in my case to defend against this issue? Looking forward to your reply!

[2022-01-06 03:00] ymmt2005 commented on #106393
@timmc9104
I don't know if metrics-server can collect metrics directly from cAdvisor.
Please ask it elsewhere, sorry.

[2022-01-06 03:36] pacoxu commented on #107360
/sig scheduling

[2022-01-06 05:11] songlh opened #107368 "goroutine leak in TestFailureOutput"
### What happened?

When executing `TestFailureOutput()`, no message is sent to channel `c` created in  `func (runner *SpecRunner) registerForInterrupts(signalRegistered chan struct{})`. Thus, the goroutine ([line 60](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/onsi/ginkgo/internal/specrunner/spec_runner.go#L60)) created in `func (runner *SpecRunner) Run() bool` blocks a

[2022-01-06 06:36] SergeyKanzhelev commented on #107062
/assign @Dragoncell

[2022-01-06 06:50] pandaamanda commented on #107282
@jyller not occurred on my cluster

maybe you can check the kubeconfig file

apiVersion: v1
kind: Config
clusters:
- name: default
  cluster:
    server: https://xx.xx.xx.xx:6443
    certificate-authority: /etc/kubernetes/certs/ca.crt
users:
- name: admin
  user:
    client-certificate: /etc/kubernetes/certs/kubecfg.crt
    client-key: /etc/kubernetes/certs/kubecfg.key
contexts:
- context:
    clu

[2022-01-06 06:53] lixiaobing1 commented on #107333
tar: Removing leading `/' from member names
so cancel first "/" from "/usr/path/to/logs/diagnostics.tgz"
like this:
k cp namespace/pod:usr/path/to/logs/diagnostics.tgz ./diagnostics.tgz  --retries=-1

[2022-01-06 06:59] infa-amohanda commented on #72817
For me without using the crd worked.
kubectl wait --for condition="established" -f crd.yaml

[2022-01-06 07:26] timoreimann commented on #88820
Sorry, I have not been able to work on this myself. Moreover, my org is probably going into the direction of leveraging Cluster API to create clusters on specific CCM versions, which we find more suitable for our case.

If anyone else wants to pick up this issue, feel free to go for it.

/remove-lifecycle rotten

[2022-01-06 07:27] chymy opened #107370 "Why is the `kubernetes/pkg/generated/openapi/zz_generated.openapi.go` file missing?"
### What happened?

`kubernetes/pkg/generated/openapi/zz_generated.openapi.go` file missing.

### What did you expect to happen?

`kubernetes/pkg/generated/openapi/zz_generated.openapi.go` file should exist

### How can we reproduce it (as minimally and precisely as possible)?

Unresolved reference 'GetOpenAPIDefinitions', eg: `cmd/kube-apiserver/app/server.go:391`

### Anything else we need to kn

[2022-01-06 07:42] #107370 closed

[2022-01-06 07:46] silenceper opened #107371 "ip release failed, resulting in ip leak"
### What happened?

cni ip release failed, resulting in ip leak。
kubelet error log:
[code]

The process is killed during the pod cleaning phase, so the /proc/85946/ns/net file does not exist,should cni block this error.

### What did you expect to happen?

delete pod success

### How can we reproduce it (as minimally and precisely as possible)?

Occasionally

### Anything else we need to know?

_N