[2019-07-22 18:30] bsalamat commented on #80357
A NodeInfo snapshot is meant to be used during a scheduling cycle, not in a bind cycle. Please refer to [this for the definition](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#scheduling-cycle--binding-cycle). It does not make sense for plugins in "binding cycle" to use the nodeinfo snapshot. A snapshot is meant to be fixed and non-chan

[2019-07-22 18:33] hh commented on #80439
/cc @timothysc @jiatongw @alejandrox1

Feel free to add discuss here or in [the google doc](https://docs.google.com/document/d/1nk0lTq2LOhMjMXAPdbA9JirLvooeggOMrqGSrZDbNco/edit#)
I'll sync the current list at the top of this issue.

[2019-07-22 18:34] khayamgondal commented on #79523
This should be closed I think.

[2019-07-22 18:37] bsalamat commented on #80357
We have already [pointed out](https://github.com/kubernetes/kubernetes/blob/0d2b85878d417daf98ea59e8dc7a264a5533ae5a/pkg/scheduler/framework/v1alpha1/interface.go#L284) that the snapshot changes after "Reserve". I think we should expand that comment and explicitly state that plugins in the binding cycle should not use the snapshot.

[2019-07-22 18:41] khayamgondal commented on #73360
@danwinship @fejta-bot @LittleFox94 is it still open? I can take it.

[2019-07-22 18:44] alejandrox1 commented on #80439
/assign

[2019-07-22 18:47] alejandrox1 commented on #80401
This has been resolved.
The underlying cause was that pod autoscaling was momentarily promoted to the conformance suite in https://github.com/kubernetes/kubernetes/pull/79954 but it was later reverted in https://github.com/kubernetes/kubernetes/pull/80261 and thus fixed.
The issue is that pod autoscaling (hpa) requires metrics server which is an optional addon (probably not installed in the cluste

[2019-07-22 18:47] #80401 closed

[2019-07-22 18:56] sergey-safarov commented on #79523
This feature only for 1.16?

[2019-07-22 19:03] ahg-g commented on #80357
Documenting sounds good to me, I think the comment should explicitly warn against using it in permit/prebind/bind/postbind plugins, and mention that using it in those plugins is practically a bug.

[2019-07-22 19:41] #74334 closed

[2019-07-22 19:54] roycaihw commented on #67718
/remove-lifecycle stale

[2019-07-22 20:01] jiatongw commented on #80439
/assign

[2019-07-22 20:08] jingxu97 commented on #65392
@alena1108 thanks for sharing your concern. Just want to clarify your scenario, is your pods belong to statefulset or deployment or something else? Is your pods being deleted after stuck in unavailable a few minutes? Thanks!

[2019-07-22 20:10] tedyu commented on #80415
Can the device release operations be done in preStop hook ?

[2019-07-22 20:29] aaronbbrown commented on #72593
👋 chiming in from the peanut gallery over here as someone who was recently impacted by this bug and the subsequent cascading failure of the control plane due to creation of 15k Pod objects in a few minutes. (The result of that may or may not have made it difficult for people to load this very page :octocat:  :trollface:).

This problem is somewhat serious in that it creates a Denial of Service vec

[2019-07-22 20:52] #76740 closed

[2019-07-22 21:01] roycaihw commented on #71925
/remove-lifecycle stale

[2019-07-22 21:08] vllry commented on #66844
/lifecycle frozen

[2019-07-22 21:08] alena1108 commented on #65392
@jingxu97 I've seen it happening for deployment aws (ebs volume) and vsphere setups for our users. When the node is shutdown and become unavailable, the volumes linger on the host for 6 min, and the new pod can't be started on the healthy node till the old volume is detached.

The stateful can be affected by this behavior as well. We have documented the details [here](https://github.com/longhorn/l

[2019-07-22 21:09] vllry commented on #66844
Best guess:

/sig cluster-lifecycle

[2019-07-22 21:17] fedebongio commented on #80330
/remove-sig api-machinery

[2019-07-22 21:39] benmoss commented on #78857
@bclau my recollection is that it's related to https://github.com/golang/go/issues/28477#issuecomment-454530397.

[2019-07-22 21:39] msau42 commented on #65392
@alena1108 can you describe the scenarios where node is shutdown without doing a cordon and drain first?

[2019-07-22 21:45] alena1108 commented on #65392
@msau42 when node gets shutdown/goes down on the provider side by various reasons - a very basic use case. When admin has no intent on removing it from k8s and going through the proper cordon/drain process.

[2019-07-22 22:02] msau42 commented on #65392
Can you be more specific about what kinds of "various reasons" there are? It's not obvious to me and I want to understand this basic use case.

[2019-07-22 22:08] yujuhong commented on #74759
/assign @pjh

[2019-07-22 22:56] devaips commented on #78828
PR #78921 was closed because the test [needs to be broken into multiple parts](https://github.com/kubernetes/kubernetes/pull/78921#discussion_r295536235), because it has too much going on. It was identified as a good candidate, and the discussion on refactoring it [is ongoing](https://github.com/kubernetes/kubernetes/pull/78921#issuecomment-506985021)

[2019-07-22 22:56] #78828 closed

[2019-07-22 22:56] xuto2 opened #80442 "K8S Azure Cloud Provider doesn't not set enableTcpReset to true in load balancer rules for Azure Standard Load Blancer"
**What happened**:
1. Create a k8s cluster backed by Azure Standard Load Balancer
2. Create a LoadBalancer type service and wait till the service is up
3. Go to Azure portal and examine the Azure Standard Load Balancer

The load balancer rule added by k8s cloud provider for the new service doesn't have a "true" value in enableTcpReset property

**What you expected to happen**:
A "true" value in th

[2019-07-22 23:03] jfrederickson commented on #65392
@msau42 I can only speak for my own experience here, but I've seen behavior like this when the underlying hardware for a VM running a node fails. The cluster admin never has the opportunity to cordon/drain the node first in that scenario.

This prevents the volume from being reattached to another node even if the cloud provider knows that the instance is powered down (and therefore that the volume

[2019-07-22 23:24] devaips commented on #78830
PR closed due to need for an overall strategy for how to handle storage tests which in a provider agnostic way. https://github.com/kubernetes/kubernetes/pull/79680#issuecomment-509159742

[2019-07-22 23:24] #78830 closed

[2019-07-22 23:27] #76906 closed

[2019-07-22 23:33] devaips commented on #78833
#79630 Was closed due to the test needing some superficial refactoring in order to be compatible with the Conformance framework.

[2019-07-22 23:48] #78001 closed

[2019-07-22 23:50] BobyMCbobs commented on #78832
PR [#79119](https://github.com/kubernetes/kubernetes/pull/79119) was closed because AdmissionWebHook is not yet GA.

/close

[2019-07-22 23:51] pjh commented on #74439
cc @yanglu1031

[2019-07-23 00:21] Koderok commented on #80442
As per Azure documentation on this feature (https://docs.microsoft.com/en-gb/azure/load-balancer/load-balancer-tcp-reset), this is only a preview feature and not recommended for production workloads. Is the ask to to enable this by default for all K8s deployments in Azure?

![Screen Shot 2019-07-22 at 5 20 32 PM](https://user-images.githubusercontent.com/1331160/61673616-0da4db80-aca5-11e9-87d8-5f

[2019-07-23 00:43] janetkuo commented on #68712
When a Job completes (finished successfully), its `.status.completionTime` will be set, and Job conditions will have one with `type==Complete`.

When a Job fails, Job conditions will have one with `type==Failed`.

[2019-07-23 01:23] owlwalks commented on #57249
Could we reopen this issue, I can spend some time to make this happen. I'm also thinking we shouldn’t classify this as a feature but a bug because provisioning private NLB won’t work with instance id (hairpin)

[2019-07-23 01:30] feiskyer commented on #80442
Agreed with @Koderok. I think we should enable this feature by an annotation, and only enable it when the service has set the annotation. e.g. `service.beta.kubernetes.io/azure-load-balancer-enable-tcp-reset=true`

[2019-07-23 01:33] feiskyer commented on #80442
/sig azure

[2019-07-23 01:54] rhockenbury commented on #80400
kubeadm commands are not yet supported on windows - https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/20190424-kubeadm-for-windows.md

[2019-07-23 02:04] hex108 commented on #80357
Thanks for the explanation. It is OK if it is not intended for use by bind cycle. I'll update the document for it.

BTW: I could not find any scheduler cache related code in the framework code.  Anyway we can add it when it is needed.

[2019-07-23 02:10] #76956 closed

[2019-07-23 02:29] BobyMCbobs commented on #78832
This test uses a beta version of the API. According to the [Conformance Test Requirements](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements), this is prohibited.

The URL of the API which is test is hitting is [/apis/admissionregistration.k8s.io/v1beta1/validatingwebhookconfigurations](https://kubernetes.io/d

[2019-07-23 03:01] NickrenREN opened #80449 "APIServer panic because of concurrent map iteration and map write"
**What happened**:

apiserver panic because of concurrent map iteration and map write
but it happens occasionally， can not reproduce it easily.

**What you expected to happen**:

will not panic

**How to reproduce it (as minimally and precisely as possible)**:

It happens occasionally， can not reproduce it easily.

**Anything else we need to know?**:

Kubernetes version: 1.10.11
The kubernetes ver

[2019-07-23 03:03] NickrenREN commented on #80449
@kubernetes/sig-api-machinery-bugs

[2019-07-23 03:03] zouyee commented on #63906
As the code comment, it's protected against exposing the same protocol-port more than once in a container.

[2019-07-23 03:04] NickrenREN commented on #80449
It seems we run into the panic when we try to iterate the deployment's annotation

[2019-07-23 03:10] cblecker commented on #78940
@jsafrane The serial job is using GCI (COS): https://github.com/kubernetes/test-infra/blob/59cf84e0f73487cd0c9d2c83df2eaac6b85a2eb7/config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml#L141

Is the non-serial job working? It uses ubuntu: https://github.com/kubernetes/test-infra/blob/59cf84e0f73487cd0c9d2c83df2eaac6b85a2eb7/config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml#L1

[2019-07-23 03:19] zqzzq commented on #79510
Thanks! I have solved it. Closing this.

[2019-07-23 03:19] #79510 closed

[2019-07-23 03:27] NickrenREN commented on #80449
It seems that we run into the panic when we iterate the deployment's annotation map

[2019-07-23 03:32] cwdsuzhou opened #80450 "Error msg override when saveVolumeData fails"
**What happened**:

Error msg override when saveVolumeData fails.
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L443
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L688

**What you expected to happen**:

return the right error.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2019-07-23 03:32] cwdsuzhou commented on #80450
/sig storage

[2019-07-23 03:32] cwdsuzhou commented on #80450
/assign

[2019-07-23 03:32] BobyMCbobs commented on #78834
[This test (#79087)](https://github.com/kubernetes/kubernetes/pull/79087) was closed because it is disruptive -- deletes Nodes, which is dangerous.

[2019-07-23 03:36] sergey-safarov commented on #79523
Could feature back ported into
- 1.15
- 1.14
- 1.13

[2019-07-23 03:36] DeepLJH0001 opened #80452 "When I change hugepage size 2Mi to 1Gi，kubelet can't update node status"
**What happened**:

- When I change default hugepage size 2Mi to 1Gi and reboot, kubelet can't update node status

[code]

[code]

**What you expected to happen**:

- kubelet can update node info and node status was ready

**How to reproduce it (as minimally and precisely as possible)**:
- change the node condition validate

**Anything else we need to know?**:

**Environment**:
- Kubernetes versio

[2019-07-23 04:01] knightXun commented on #80415
@tedyu how about some dead containers?

[2019-07-23 04:26] yue9944882 commented on #80449
are you using the exact upstream release or a customized fork? fwiw releases before 1.12 are no longer supported.

[2019-07-23 04:26] jeven2016 commented on #54918
Thanks, it works

[2019-07-23 04:40] NickrenREN commented on #80449
@yue9944882  Based on upstream release 1.10.11, and we customize a little, we maintain it ourselves.

[2019-07-23 05:03] zhangguanzhang opened #80455 "addons/fluentd-elasticsearch/kibana-deployment.yaml's env don't right"
**What happened**:
env name not right

the kibana's script is this:
[code]
and we can see the `elasticsearch.hosts`, so the deployment yaml should use the ` ELASTICSEARCH_HOSTS` , not the `ELASTICSEARCH_URL`

[2019-07-23 05:05] inaz2 commented on #63371
I think we should assign this bug with the higher priority because this bug cause the unintended job execution with destructive change such as data modification, deletion or some kinds of notificaiton to **users**.
Some may think the jobs should be idempotent, however cronjobs are generally used for repetitive small tasks and making all of such tasks idempotent is the excessive requirement.

I sug

[2019-07-23 05:07] tatsuhiro-t opened #80457 "Could not compile generated informer with +genclient:nonNamespaced"
**What happened**:

if I annotate non namespaced CRD type like this:

[code]

informer-gen generates code which cannot compile:

[code]

It looks like nonNamspaced tag is not respected somewhere.

**What you expected to happen**:

Generated code should compile just fine.

**How to reproduce it (as minimally and precisely as possible)**:

See what happened.

**Anything else we need to know?**:

**E

[2019-07-23 05:12] tatsuhiro-t commented on #80457
/sig api-machinery

[2019-07-23 05:33] zhangguanzhang commented on #80455
/sig scalability

[2019-07-23 06:26] zgfh commented on #78957
ping @coffeepac  @monotek  @piosz

[2019-07-23 07:12] Bessonov commented on #62078
/remove-lifecycle stale

[2019-07-23 07:15] pohly commented on #80339
James Munnelly <notifications@github.com> writes:

This is indeed the approach currently under investigation, see
https://github.com/kubernetes/kubernetes/issues/72638

I hope that this will never happen. But yes, it might :-(

--
Best Regards

Patrick Ohly

[2019-07-23 07:50] jsafrane commented on #78940
No, same error.

kubernetes.tar.gz created by `make quickrelease` contains `ubuntu``, released bundles (e.g. https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#downloads-for-v1151) contains it too.  Otherwise `cluster/kube-up.sh` would not work with an Ubuntu image.

So what does the prow job differently? Does something there prune the scripts? `ubuntu` is just a symlink to `gc

[2019-07-23 08:04] uablrek opened #80462 "Kube-proxy/ipvs; sync logs fault on master; KUBE-MARK-DROP missing"
**What happened**:

When building on `master` sync fail messages are observed in the `kube-proxy` log when mode=ipvs is used;

[code]

The `KUBE-MARK-DROP` chain is not defined (but `KUBE-POSTROUTING` is defined 5 times)

**What you expected to happen**:

Sync shall succeed. The chain `KUBE-MARK-DROP` shall be defined before use in the "restore" command to iptables.

**How to reproduce it (as mini

[2019-07-23 08:06] uablrek commented on #80462
/sig network
/area ipvs

[2019-07-23 08:17] zxx287856774 commented on #80462
how fix this issue , i user kube-proxy 1.15

[2019-07-23 08:20] uablrek commented on #80462
@zxx287856774 I do not get this on k8s 1.15, only when I build locally from `master`. Can you see similar printouts in 1.15?

[2019-07-23 08:30] apelisse commented on #76971
/lifecycle frozen

[2019-07-23 08:36] linqingping opened #80463 "The node changes from ready to not ready"
The node changes from ready to not ready.After restarting the system, it returns to ready.
![webwxgetmsgimg](https://user-images.githubusercontent.com/20528139/61696468-fa0e7900-ad67-11e9-910a-718ee5abf9a5.jpeg)

[2019-07-23 08:50] Bipin143 opened #80464 "Kubectl api does not shows the correct uptime of pods even when docker daemon is restarted"
I have observed that the value of age in kubectl get pods does not shows the correct age (uptime) value of pods even when the underlying docker daemon is restarted which effectively also restarts the required daemon.

@kubernetes/sig-node-bugs
we have the below pods running.
NAMESPACE     NAME                                                              READY   STATUS    RESTARTS   AGE
default

[2019-07-23 08:54] #73803 closed

[2019-07-23 08:58] martin-dodo-hartmann opened #80466 "Job controlled pod remains in status CreateContainerConfigError"
**What happened**:
We run a K8s job, which relies on a secret to exist. These secrets might get created after the job. Most of the job-created pods get scheduled as soon as the secret exists, but some of them remain sporadically in status CreateContainerConfigError, even if the secret is already there.

[code]

**What you expected to happen**:
All jobs run successfully through, as soon as the secr

[2019-07-23 08:59] martin-dodo-hartmann commented on #80466
/sig api-machinery

[2019-07-23 09:27] koenkarsten commented on #64133
@iam404 I'm experiencing the same issue now, did you manage to find the answer somewhere?

[2019-07-23 09:36] zouyee commented on #63906
/assign

[2019-07-23 09:42] zouyee commented on #68940
/remove-lifecycle rotten

[2019-07-23 09:42] zouyee commented on #68940
/remove-lifecycle rotten

[2019-07-23 09:55] #69625 closed

[2019-07-23 09:59] zgfh opened #80472 "The StorageClass "test" is invalid: parameters: Forbidden: updates to parameters are forbidden."
**What happened**:
when I update csi parameters of test StorageClass,it return error
[code]
**What you expected to happen**:
we should allow update storageclass
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.15.0
- OS (e.g: `cat /etc/os-release`):  centos 7

[2019-07-23 10:01] zgfh commented on #80472
/sig Storage

[2019-07-23 10:06] desaintmartin commented on #78973
This is potentially related to https://github.com/containerd/cgroups/issues/74 as well.

[2019-07-23 10:08] cwdsuzhou opened #80473 "Statefulset has wrong volumeClaimTemplates status"
**What happened**:

When we start a statefulSet with volumeClaimTemplates,  we found it always in `pending` state though all pods have been running.

![image](https://user-images.githubusercontent.com/12230714/61703614-89ba2480-ad74-11e9-8aaa-9ae78634b89e.png)
**What you expected to happen**:

Do not set the status or  add a new status to mark it

**How to reproduce it (as minimally and precisely

[2019-07-23 10:15] #80472 closed

[2019-07-23 10:26] discordianfish commented on #14040
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten
/lifecycle freeze
/cc @fejta Feedback: I don't like it.

[2019-07-23 10:27] akhilesh2410 commented on #80463
It seems Kubelet is not running on worker node, or master is unable to get kubelet's health .. firewall blocking somehow ?

[2019-07-23 10:29] yue9944882 commented on #80466
/sig apps

[2019-07-23 10:30] xzy256 commented on #79556
I occur same issue at Centos 7, kubeadm 1.15.1, when executing `kubeadm init --kubernetes-version=1.15.1 --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=10.145.67.213`.

[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp [

[2019-07-23 10:35] matte21 opened #80475 "PVC protection controller can fail to remove finalizer from PVC even if no pod is using it"
**What happened**:
While studying https://github.com/kubernetes/kubernetes/blob/255a73ffc64d1c4e0f9a378ebf8d0005edfe6962/pkg/controller/volume/pvcprotection/pvc_protection_controller.go to address https://github.com/kubernetes/kubernetes/issues/75980 I noticed another error. When the PVC protection controller receives an update notification for a pod, it enqueues all the PVCs referenced by the new

[2019-07-23 10:36] matte21 commented on #80475
@kubernetes/sig-storage-bugs

[2019-07-23 10:36] matte21 commented on #80475
/assign @matte21

[2019-07-23 11:06] krzysztof-jastrzebski commented on #80390
/sig instrumention

[2019-07-23 11:10] krzysztof-jastrzebski commented on #80390
/assign @kawych

[2019-07-23 11:11] krzysztof-jastrzebski commented on #80390
/sig instrumentation

[2019-07-23 12:43] adampl commented on #65392
There's an ongoing work on a new solution to this problem: https://github.com/kubernetes/enhancements/pull/1116

However, I'm still unsure how it will work with non-cloud clusters.

@msau42 Machines sometimes fail...

[2019-07-23 12:49] liuxu623 commented on #68447
same problem
OS: Debian 8
Kubernetes: 1.15.0

[2019-07-23 13:17] josephburnett opened #80481 "Duplicate HPA CPU metrics dropped during conversion"
**What happened**:

HPA v2beta2 allows for scaling on multiple metrics, specified in a list. Duplicate metrics (e.g. same metric, different value) are not filtered out.  Except for CPU.  As a by-product of v1<-->v2 conversion, only the first CPU metric encountered is preserved.

https://github.com/kubernetes/kubernetes/blob/fdb5707194d56cbbd0da11c5be3a2a5653e714c9/pkg/apis/autoscaling/v1/conversio

[2019-07-23 13:49] zouyee commented on #68940
/assign

[2019-07-23 13:51] neolit123 commented on #80400
/sig windows

[2019-07-23 13:53] neolit123 commented on #80400
something is not setup correctly on your Windows node.
as @rhockenbury pointed out there is a KEP for this.
the work for Windows/kubeadm integration is pre-alpha.

kubeadm already works on Windows but the setup is a bit complicated.

/sig cluster-lifecycle
/area kubeadm
/close

closing in favor of https://github.com/kubernetes/kubeadm/issues/1393

[2019-07-23 13:53] #80400 closed

[2019-07-23 13:54] neolit123 commented on #80335
/sig instrumentation

[2019-07-23 13:56] mattjmcnaughton commented on #80431
Hi @philip-fox ! Thanks for reopening this.

Can you explain more about what you view as the desired behavior? I just want us to quickly think through if there are any downsides to the potential new behavior before going forward with an implementation.

[2019-07-23 13:58] neolit123 commented on #80340
best to share the contents of the YAML.

/triage support

[2019-07-23 13:58] neolit123 commented on #80349
/close

[2019-07-23 13:58] #80349 closed

[2019-07-23 13:59] neolit123 commented on #80370
/sig instrumentation

[2019-07-23 13:59] alejandrox1 commented on #80439
forgot to label this for testing commons
/area e2e-test-framework

[2019-07-23 14:00] neolit123 commented on #80464
/kind bug
/sig node
/priority awaiting-more-evidence

[2019-07-23 14:00] neolit123 commented on #80463
/triage support
/remove-kind bug

[2019-07-23 14:03] neolit123 commented on #80425
i suggest that you post this issue in the https://github.com/kubernetes/examples repository first.
and if the maintainers of the examples inform you that this is a k8s bug, please re-open this issue.

/kind documentation
/sig apps
/close

[2019-07-23 14:03] #80425 closed

[2019-07-23 14:05] neolit123 commented on #80428
/sig network

[2019-07-23 14:06] neolit123 commented on #80423
/sig apps

[2019-07-23 14:08] neolit123 commented on #80422
/sig testing

[2019-07-23 14:08] neolit123 commented on #80422
/kind documentation

[2019-07-23 14:08] neolit123 commented on #80452
/sig node

[2019-07-23 14:08] neolit123 commented on #80407
/sig network

[2019-07-23 14:09] neolit123 commented on #80410
/sig instrumentation node

[2019-07-23 14:09] neolit123 commented on #80308
/triage support

[2019-07-23 14:10] neolit123 commented on #80323
if "nifi" has an issue tracker repository or a slack channel it would be best to get feedback there first.

/remove-kind ubg
/triage support

[2019-07-23 14:11] neolit123 commented on #80323
/remove-kind bug

[2019-07-23 14:16] neolit123 commented on #80298
i have not seen this issue before nor do i have context why the disconnect happens.

so it only happens in the cluster created with kube-spray?
did you get feedback on this by the kube-spray maintainers - i.e. is there an issue for this in the kube-spray repository?

/sig cluster-lifecycle network
/priority awaiting-more-evidence

[2019-07-23 14:16] neolit123 commented on #80279
/triage support
/remove-kind bug

[2019-07-23 14:17] neolit123 commented on #80239
/sig storage

[2019-07-23 14:18] neolit123 commented on #80210
hi, you are probably going to get better response if you post this question on slack/stack-overflow/reddit.

/triage support
/close

[2019-07-23 14:18] #80210 closed

[2019-07-23 14:19] neolit123 commented on #80190
/sig api-machinery

[2019-07-23 14:20] neolit123 commented on #79988
/sig node

[2019-07-23 14:21] neolit123 commented on #79853
/triage support

[2019-07-23 14:21] neolit123 commented on #79825
/sig storage

[2019-07-23 14:22] neolit123 commented on #79676
/close
please re-open if you think the issue is still viable.

[2019-07-23 14:22] #79676 closed

[2019-07-23 14:23] neolit123 commented on #79670
/sig api-machinery

[2019-07-23 14:23] neolit123 commented on #79670
/kind failing-test

[2019-07-23 14:28] loqutus commented on #80481
/assign

[2019-07-23 14:29] george-angel commented on #13136
/remove-lifecycle stale

[2019-07-23 14:34] alejandrox1 commented on #34059
Some updates on this: the testing-commons project is working on refactoring a lot of the tests and the framework, which will deal with some of the unannotated tests, and we are also working on writing some e2e testing best practices to prevent more unannotated tests in the future.

[2019-07-23 14:47] PI-Victor opened #80483 "kubeadm join control plane with config errors out"
**What happened**:

[code]
**What you expected to happen**:
I have a HA setup and after i bootstrap the initial node, i need to join the rest of the control plane nodes as well. Since `--config` and other join flags cannot be used together, i need to have everything in a config file. I do this because i need extra args passed to the kubelet, see below the yaml.

[code]
Here's what i think should h

[2019-07-23 14:52] PI-Victor commented on #80483
@kubernetes/sig-cluster-lifecycle-bugs

[2019-07-23 15:06] philip-fox commented on #80431
Hi @mattjmcnaughton

Thanks for the reply. I suspect that the readiness probe isn't being called before the first `periodSeconds` elapses in cases in which the `periodSeconds` is large. I would expect this not to be the case.

I'm trying to run some experiments so that I can compile a table of timings which I'll add to this ticket very soon.

Maybe I'm wrong, but I think there's something weird go

[2019-07-23 15:15] steimntz commented on #50375
+1

[2019-07-23 15:18] jsafrane commented on #80475
Were you able to reproduce this issue in a real cluster? I thought that the controller gets "pod deleted" and "pod created" events when a pod is deleted and re-created with a different UID even in the worst conditions.

[2019-07-23 15:23] odinuge commented on #80452
Hi,

Ref. the error message, it looks like you have allocated hugepages for multiple sizes, `may not have pre-allocated hugepages for multiple page sizes`.

Can you run: `cat /sys/kernel/mm/hugepages/hugepages-*/nr_hugepages` to verify? If more than one of the numbers is `> 0`, that is the reason. @DeepLJH0001

This is currently being discussed in https://github.com/kubernetes/kubernetes/issues/77

[2019-07-23 15:31] odinuge commented on #80452
Also, can you also provide the result of `ls /sys/kernel/mm/hugepages`, that will list the supported huge page sizes (both when `default_hugepagesz=1GB` is set, and when it is not.).

[2019-07-23 15:41] matte21 commented on #80475
No, I did not try to reproduce it in a real cluster.
However, this code suggests that delete and create events can be delivered via a single update: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/node/graph_populator.go#L142.

I've just asked in the sig-api-machinery slack channel: https://kubernetes.slack.com/archives/C0EG7JC6T/p1563896302039300

[2019-07-23 15:48] wmorrone commented on #78854
It is unclear to me from the above posts whether cp has been implement or not.  I have been testing with kubectl 1.15.0 and kubectl 1.14.1 and the results are the same, wildcards do not work as expected.

Starting with a folder /tmp/scripts on the source machine that contained the following files:
- test2.py
- test2.xml
- test3.py
- test3.xml

I executed the following command,
   kubectl cp /tmp/s

[2019-07-23 15:53] jaibheem commented on #59343
are there any plans to have native support for clean statefulset decommission? or any other working alternatives?

[2019-07-23 15:55] jsafrane commented on #78940
Found it, `make bazel-release` creates kubernetes.tar.gz without any symlinks. It looks like bazel limitation. I filled #80461 to explicitly create the symlinks when tarball is created.

BTW, if `make bazel-release` and `make release` use different way to produce tarballs, who / when tests the ones created by `make release`?

[2019-07-23 16:30] dchen1107 commented on #80203
We are going to discuss this issue at today's SIG Node meeting. @yuchengwu can you join us today?

[2019-07-23 16:30] coffeepac commented on #78957
Are you having an issue about this?  As in, are hitting OOM issues or seeing pods evicted due to memory pressure?

[2019-07-23 16:40] dchen1107 commented on #79803
@sashayakovtseva We are going to discuss this topic at today's SIG Node meeting.

[2019-07-23 16:58] Random-Liu commented on #79803
The use case makes sense to me.

I feel like moving secret/auth checks into the CRI implementation seems to be a too big change to me, because:
1) Docker type registries are still the most commonly used registry by Kubernetes users;
2) Copying the commonly used Docker keyring logic from Kubernetes to each container runtime e.g. containerd and cri-o makes it harder to maintain.

This is still doabl

[2019-07-23 18:03] sashayakovtseva commented on #79803
This topic was not discussed on SIG-NODE, will it be discussed here? Should we prepare KEP? What are the next steps?

[2019-07-23 18:06] anthonyliriano commented on #76531
+1 Seeing the same problem ..
Docker: 18.09.4 CE
Kubernetes: v1.14.0
OS: Ubuntu 18.04

[2019-07-23 18:10] dchen1107 commented on #79803
Too many proposals today at today's SIG Node, and sorry for missing this one. Yes, please carry on the discussion here. @Random-Liu

[2019-07-23 18:19] verult commented on #73972
No it has not

[2019-07-23 18:35] BenTheElder commented on #78940
Most of CI is using make release or equivalent. Presumbit uses bazel.

On Tue, Jul 23, 2019 at 8:58 AM Jan Šafránek <notifications@github.com>
wrote:

[2019-07-23 18:38] Random-Liu commented on #79803
@sashayakovtseva I think both the use case and high level idea make sense to me.

I think you may want to file a KEP to describe your use case and propose the new secret type + kubelet pass-through behavior.

The secret type name may need some discussion, other changes look relatively straightforward to me. :)

[2019-07-23 18:42] dchen1107 commented on #80203
Static pods & mirror pods are error-prone, and SIG Node wanted to deprecated the feature for long or limited its usage for self hosted kubernetes. Meanwhile, we understand that many K8s productions already depend on static pods for some critical pods before daemonset and other practical reasons.

Assuming all static pods are critical, and should be admitted and scheduled by Kubelet even node under

[2019-07-23 18:46] gnufied opened #80488 "Dangling volume mechanism for CSI does not exist"
The dangling volume mechanism we currently use for recovering volumes that are incorrectly attached will not work for CSI.

This mechanism is in use by Cinder and EBS drivers at present - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L338 and solves real issues where a volume may be erroneously attached to the node.

In past building

[2019-07-23 18:48] bsalamat commented on #80203
Thanks, @dchen1107! As Dawn wrote above, the plan is to consider all static pods critical, regardless of their priority classes. After this change is made to the kubelet, we can merge #80342 again to remove the critical pod annotation.

[2019-07-23 19:06] bsalamat opened #80489 "Treat all static pods as critical regardless of their priority"
A static pods is created directly on a node and then a mirror pod object is created for it on the API server. When a static pods is created on a node, there is no mirror pod yet on the API server.
Priority of pods are resolved from `PodSpec.PriorityClassName` to the integer value of priority by an API server admission plugin. So, when a static pods is created and goes through Kubelet admission, it

[2019-07-23 19:13] raravena80 commented on #70387
/remove-lifecycle rotten
/remove-lifecycle stale

[2019-07-23 19:26] bsalamat commented on #80489
More specifically, we need to check if a pod [is static](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/pod/mirror_client.go#L109), in [IsCriticalPod](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/types/pod_update.go#L148) and return true if so.

[2019-07-23 19:35] alena1108 commented on #65392
@adampl thanks for the link. Resolving the issue one way or another, even if limited to cloud provider nodes only, would be great. Do you know what k8s release it's targeted for? cc @smarterclayton

[2019-07-23 19:46] rektide commented on #3949
More so than migration, I'm interested in radically lowering my load's start time by using checkpoints of preinitialized instances. This would enable additional function as a service types of use cases in Kubernetes. Something more like cloning than migrating.

[2019-07-23 20:18] jpbetz commented on #80209
Thanks for gathering the pprof data @mm4tt. Unfortunately, I wasn't able to determine much from the pprof data. I'm curious if maybe lock contention wouldn't show up clearly in a CPU pprof and I need one of the other pprof output types? I'll try running a benchmark simulating the workload locally and see if I can reproduce first.

[2019-07-23 20:36] jpbetz commented on #80258
Seeing these errors from https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestWebhookV1beta1:

[code]

Having a look.

[2019-07-23 20:37] davidz627 commented on #79743
/assign

[2019-07-23 20:50] yanchicago opened #80490 "The customized ceph mgr port ( except 8443 ) is not working"
**What happened**:
1). The dashboard can't be accessed if the mgr's port is configured as 8444.
2). With port "8444" the mgr pod log still shows serving on 8443.
<
[23/Jul/2019:15:54:58] ENGINE Started monitor thread '_TimeoutMonitor'.
[23/Jul/2019:15:54:58] ENGINE Serving on :::9283
[23/Jul/2019:15:54:58] ENGINE Bus STARTED
[23/Jul/2019:15:54:58] ENGINE Bus STARTING
[23/Jul/2019:15:54:58] ENGINE

[2019-07-23 20:54] #80490 closed

[2019-07-23 20:54] yanchicago commented on #80490
Wrong repo.

[2019-07-23 21:08] ralphlaude commented on #80425
@neolit123 thanks for your answer. The example (https://github.com/kubernetes/examples) is the same as here (https://kubernetes.io/docs/tutorials/stateful-application/cassandra/). That is reason i decided to open the issue here.  Perhaps you can explain me more about this, i just want to understand. Thanks

[2019-07-23 21:19] matte21 commented on #75980
/assign @matte21

[2019-07-23 21:29] skonto opened #80493 "CRD creation fails with "Forbidden: must not specify anything other than name and generateName, but metadata is implicitly specified""
I have the following CRD file (crd.yaml) generated with kubebuilder 2.0.0-beta.0 :
[code]

**What happened**:

Running `kubectl create -f crd.yaml` I get:

**What you expected to happen**:
The specific CRD should be created. How validation part is related to the CRD object itself?
Is it related to this: https://github.com/kubernetes/kubernetes/pull/64267 or this https://github.com/kubernetes-sigs/

[2019-07-23 21:31] skonto commented on #80493
@sttts @DirectXMan12 is this expected? Should it be a controller-tools bug?

[2019-07-23 21:31] aaronbbrown commented on #72593
FWIW, a `ResourceQuota` like this will mitigate the runaway pod creation:

[code]

Note that it has to be `spec.hard.count/pods` (which counts pod _objects_) not `spec.hard.pods` (which counts running pods).

[2019-07-23 21:53] maxsmythe opened #80494 "Multi-Version CRDs Can Break When Admission Webhooks Are Registered"
**What happened**:

Multi-version CRDs can break when the stored version changes and a user attempts to re-write a previously saved CR represented using the (newer) stored version.

This only happens when an admission webhook is registered (and, I'm guessing, the webhook matches the request), regardless of whether the webhook's server is running or not.

Impact seen here: https://github.com/open-p

[2019-07-23 21:55] neolit123 commented on #80425
hi, i don't know much about cassandra. you can try asking in the #sig-apps channel on k8s slack or stackoverlfow.

[2019-07-23 21:56] maxsmythe commented on #80494
/sig auth
/sit api-machinery

[2019-07-23 22:07] #74462 closed

[2019-07-23 22:26] liggitt commented on #80494
This was a known issue fixed in 1.14+ already

See fix in 1.13 in https://github.com/kubernetes/kubernetes/pull/79495

[2019-07-23 22:31] jpbetz commented on #80258
Somethings not adding up.

The 4 test flakes I observed in https://github.com/kubernetes/kubernetes/issues/80258#issuecomment-514373922 don't explain the high rate of flakes in pull-kubernetes-integration.

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&sort-by-flakiness= shows `k8s.io/kubernetes/test/integration/apiserver/admissionwebhook.TestWebhookV1beta1/set

[2019-07-23 22:37] jpbetz commented on #80258
One thing the pull-kubernetes-integration failures do seem to share in common is:

[code]

[2019-07-23 22:43] gyuho commented on #80390
https://github.com/kubernetes/kubernetes/pull/80392 seems promising. Is it missing anything?

[2019-07-23 22:49] maxsmythe commented on #80494
ack, thanks for looking, apologies for the duplicate issue.

[2019-07-23 23:08] #78834 closed

[2019-07-23 23:37] devaips commented on #79117
We need to have a generic solution for handling storage tests before being able to effectively promote tests covering these endpoints. Part of an ongoing larger discussion within sig-testing.

[2019-07-23 23:37] #79117 closed

[2019-07-23 23:51] BobyMCbobs commented on #78834
[This test (#79122)](https://github.com/kubernetes/kubernetes/pull/79122) was closed because:
- It uses a deprecated annotation (`tolerate-unready-endpoints`)
- It uses preStop hook that sleeps, instead of using agnhost netexec
- It uses `wget`, which is Linux specific

[2019-07-24 00:14] jingweno commented on #79523
Could someone review https://github.com/kubernetes/kubernetes/pull/80394 please?

[2019-07-24 00:41] dnairednow opened #80499 "🦠"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-07-24 01:14] hmtai commented on #78467
Hi, is there a PR to fix this issue?

[2019-07-24 01:28] Betula-L commented on #79155
@zouyee Yes, the produce step is it. However, kubelet works well if mounted configmap rather than secret. So i wonder whether the reason presented in your PR is the root cause.

[2019-07-24 01:34] DeepLJH0001 commented on #80452
@odinuge
[code]

[2019-07-24 01:36] solacens commented on #80282
Thanks @lostick

[2019-07-24 01:37] #80282 closed

[2019-07-24 02:52] draveness commented on #79297
/close

[2019-07-24 02:52] #79297 closed

[2019-07-24 03:10] draveness commented on #80499
/close

[2019-07-24 03:10] #80499 closed

[2019-07-24 03:19] shyamjvs commented on #80390
I've root-caused the issue. Explained here - https://github.com/kubernetes/kubernetes/pull/80392#issuecomment-514463245

[2019-07-24 04:14] Moriadry commented on #80178
@tedyu Hi ted, I would like to provide some strength on this issue. Would you mind if I give it a shot?

[2019-07-24 04:18] tedyu commented on #80178
Please go ahead.

You may want to outline your plan before going very deeply in refactoring.

[2019-07-24 04:30] ebati opened #80504 "Failing unit test ./cmd/kube-proxy/app on Mac"
**What happened**:
`make test WHAT=./cmd/kube-proxy/app` is failing on Mac as following:

[code]

**What you expected to happen**:
 According to [documentation](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/testing.md) unit test should succeed.

    Tests using linux-specific features must be skipped or compiled out.
    Skipped is better, compiled out is requi

[2019-07-24 04:31] ebati commented on #80504
/sig testing
/sig network

[2019-07-24 04:36] #63465 closed

[2019-07-24 04:44] kharunsamuel1 commented on #80504
/assign

[2019-07-24 05:23] Moriadry commented on #80178
Okay, sure!

This is my very start of k8s, so I am willing to discuss about the plan deeply. If you don't mind :)

[2019-07-24 05:34] WanLinghao commented on #80405
Which node your kubelet logs are from? you should get them from node 10.10.1.2

[2019-07-24 05:44] shufanhao commented on #65358
I also hit this issue, just want to know why kube-proxy enable masquerade, can fix this issue ? if enable masquerade,  it can not match ebtables rule, like below:
[code]

[2019-07-24 06:04] yue9944882 commented on #80258
https://stackoverflow.com/a/42933238
https://github.com/kubernetes/test-infra/pull/6749#discussion_r167372415

i found some other threads sort of related. it seems to be a convention to suppress exception from command `gsutil ls`. but the build script doesn't.

[2019-07-24 06:09] cwdsuzhou commented on #79166
/close

[2019-07-24 06:10] answer1991 commented on #77018
/remove-lifecycle stale

[2019-07-24 06:21] matti commented on #68605
/reopen

[2019-07-24 06:34] zxx287856774 commented on #76820
fix this issue, you need update systemd   by centos  , yum install -y systemd

[2019-07-24 06:49] wojtek-t commented on #80209
Yeah - that's exactly what I was suggesting too.
Adding new type of profile is relatively easy (assuming component is exposing the necessary handler).

[2019-07-24 06:51] pohly commented on #72080
/reopen
/remove-lifecycle rotten

[2019-07-24 06:54] shenlanse opened #80507 "pod stuck on CrashLoopBackOff"
**What happened**:

damonset pod stuck on CrashLoopBackOff:

[code]

[code]

kubelet log:
[code]

**daemonset.yaml:**
[code]

**What you expected to happen**:

pod should be in running state.

**How to reproduce it (as minimally and precisely as possible)**:

Perhaps our operator reboot this node. I don't know how to reproduce it.

**Anything else we need to know?**:

**Environment**:

[code]

[2019-07-24 06:55] shenlanse commented on #80507
/sig node

[2019-07-24 07:01] shenlanse commented on #80507
@feiskyer  @Random-Liu  Any advise ? Thanks.

[2019-07-24 07:06] zouyee commented on #80464
[code]

[2019-07-24 07:10] zxx287856774 commented on #80462
this error report disappear when i
system stop kube-proxy
system stop kubelet
leave node from cluster, delete kubelet-client-current.pem
iptable -F
system start kubelet
add node to cluster
system start kube-proxy
the error disappear
It's related to the order of start-up？

[2019-07-24 07:19] uablrek commented on #80462
Yes, this could well be start-up order dependent.

I think the `KUBE-MARK-DROP` chain is actually created by `kubelet` and used by `kube-proxy`. Since I see only one of these log printouts I guess the problem is harmless.

I leave this issue open for some time for others to have a look at.

[2019-07-24 07:50] ricky1993 opened #80510 "Add resourceLockName options to leader election"
**What would you like to be added**:
Add a options to set resource-lock-name for leader election
**Why is this needed**:
Think about this scenario: we want to split some controllers out of controller manager and deploy it isolated. It also needs leader election for ha. But now they will use the same resource-lock-name, we need to set it to a different from kube-controller-manager.
And it is the sa

[2019-07-24 07:59] shenlanse commented on #80507
Find the reason,  /etc/localtimetime is not right:

[code]
`/usr/share/zoneinfo/$::timezone` not exist.

[2019-07-24 07:59] #80507 closed

[2019-07-24 08:06] ricky1993 commented on #80510
/sig api-machinery

[2019-07-24 08:14] islinwb commented on #80504
@ebati  Are these modules always present on Mac? IMO, modify the function `GetKernelVersionAndIPVSMods` and handle the error it returns seems more reasonable.

[2019-07-24 08:25] zouyee commented on #80431
/assign

[2019-07-24 08:27] AL-Cui opened #80511 "iscis_util.go:288 ‘devicePaths' is null"
**What happened**:
The ‘devicePaths‘ in 'kubernetes/pkg/volum/iscsi/iscsi_util.go:288' is null ，the ‘devicePaths’ is not assigned after initialization.why?
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):13.5
- Cloud provider or hardware configurat

[2019-07-24 08:56] palashgoel7 commented on #77258
Here's a one-liner to remove finalizers from all pv in the system

`kubectl get pv | tail -n+2 | awk '{print $1}'  | xargs -I{} kubectl patch pv {} -p '{"metadata":{"finalizers": null}}'`

[2019-07-24 08:57] kawych commented on #80390
Yep, #80392 should address the issue.

[2019-07-24 09:02] #80450 closed

[2019-07-24 09:25] AntoninBeaufort commented on #44273
Same problem on 1.13.7-gke.8

[2019-07-24 09:59] ebati commented on #80504
@islinwb AFAIK mac kernel not support ipvs but the unit test should in any case could be able to test the fallback logic. Depending on the concrete type `LinuxKernelHandler` in `CanUseIPVSProxier` fucntion prevents this. I believe adding another function in `KernelHandler` will be a better solution but i don't know if it is allowed to change an exported interface.

Is it ok to change KernelHandler

[2019-07-24 10:04] #80511 closed

[2019-07-24 10:18] islinwb commented on #80504
@ebati I'm not sure but I think you can submit your changes for reviewing :)

[2019-07-24 11:02] PI-Victor commented on #80483
found a fix, i was missing `--upload-certs` on join.
the problem is that `joinConfiguration` or anything in the API has no field for the equivalent `--certificate-key` argument, but that's another issue entirely.

[2019-07-24 11:02] #80483 closed

[2019-07-24 11:05] wojtek-t opened #80513 "Allow for more frequent etcd compaction but still long-enough history in etcd"
Currently, the etcd compaction algorithm that we use is as following:
- we store "etcd revision" from the moment of last compaction under a special key in etcd
- then periodically even N seconds/minutes we:
  - compare to see if (local compact time) = (remote compact time)
  - if yes, we increment both local and remote compact time to "now" and do a compaction
  - if not, set local compact time to

[2019-07-24 11:14] wojtek-t commented on #80513
Actually, when looking into: https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/maintenance.md, etcd auto-compaction is doing exactly that for N=10 :)

So if we e.g. would like to compact every 30s, we still would have ~5m of history, which would be great.
What I'm afraid of though is what happens if etcd is periodically restarting because of some reason.

[2019-07-24 11:19] wojtek-t commented on #80513
@kubernetes/sig-scalability-feature-requests

[2019-07-24 11:34] draveness commented on #80489
/remove help-wanted
/assign @hpandeycodeit

[2019-07-24 11:39] xmudrii opened #80515 "kubectl scale fails to scale a CustomResource if resourceVersion is not provided"
**What happened**:

Using a `scale` command such as:
[code]

fails with the following error:

[code]

This bug happens on each run and started occurring as of `kubectl` v1.15.0. With `kubectl` v1.14 or older, I don't have such problem, i.e. it works flawlessly.

**What you expected to happen**:

The `kubectl scale` command succeeds:

[code]

**How to reproduce it (as minimally and precisely as pos

[2019-07-24 11:39] xmudrii commented on #80515
/sig api-machinery
cc @deads2k

[2019-07-24 11:41] mborsz commented on #80513
Do you mean setting '--auto-compaction-mode=periodic --auto-compaction-retention=5m'?

IIUC the doc above, the behavior will depend on the exact etcd's version we use:
* in 3.3.0, 3.3.1, 3.3.2, it will indeed do compact every 30 seconds with 5 minutes window, but
* in 3.3.3, it will compact every 5 minutes with 5 minutes window (there is a special case for retention windows shorter than 1 hour).

[2019-07-24 11:41] SimonCqk commented on #75311
we meet this situation recent days, when one node become offline from cluster, the status of this node becomes `NotReady` and pods on it start to re-schedule, then API server assign their `deletionTimestamp` but kubelet on the offlined node has no response, so the status of pods block in `Terminating` status.

[2019-07-24 12:21] krzysied opened #80517 "Configmaps POST - status 409"
**What happened**:
During test run, there is only one configmap POST with status 201. All other configmap POST ends with 409 status.

**What you expected to happen**:
Either the POST calls should be fixed and ends with 201, or the logic behind those calls should be removed.

**How to reproduce it (as minimally and precisely as possible)**:
I spotted this issue in all scalability tests. It needs to

[2019-07-24 12:22] krzysied commented on #80517
Example of the logs:
[code]

[2019-07-24 12:29] krzysied commented on #80517
It looks like the POST is result of https://github.com/kubernetes/kubernetes/blob/da3daf2e8a99bbb9345f1060e8bf4fb4d5772e06/cluster/addons/addon-manager/kube-addons.sh#L180-L187
and it is expected behavior...

[2019-07-24 12:39] krzysied commented on #80517
My guess it that those were the calls for [kubernetes dashboard config](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dashboard/dashboard-configmap.yaml)

[2019-07-24 12:51] draveness commented on #78220
Hi @dpandhi-git, are you still working on this issue, do you mind if I start to work on this one?

[2019-07-24 13:18] grosser commented on #70674
/remove-lifecycle stale

[2019-07-24 13:25] cp1408 commented on #54542
yeah...making "swapoff -a" worked for me as well.

but cud not see errror in journalctl for kubelet.

[2019-07-24 13:43] Enelar commented on #69687
Whoops, sorry, made wrong assumptions, and did not read the code.
Great job, thanks!

[2019-07-24 13:55] ericxw commented on #76531
Seeing same issue here, fresh install. Other than these repeated Warning output, so far system seems operational with kubelet averaging around 5% CPU.

Containerd: 1.2.6-3
Kubernetes: 1.15.1
OS: Debian 9.9

[2019-07-24 14:04] philip-fox commented on #80431
The following three tables contain the timings witnessed for deployments for three different services. The column `first_probe_completes` shows how many seconds it took before the readiness probe returned, and `within_first_period?` shows whether the probe returned within the first time interval of its `periodSeconds`.

### Service_1_Pod
| periodSeconds | initialDelaySeconds | timeoutSeconds | fai

[2019-07-24 14:24] wojtek-t commented on #75294
The KEP for it is approved & merged:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190329-less-object-serializations.md

Now it's only a matter of execution.
I also opened a small PR (https://github.com/kubernetes/kubernetes/pull/80471) that is adding necessary interface support to apimachinery - all other changes should be very local.

[2019-07-24 14:26] wojtek-t commented on #75294
FTR: this is the (already closed) last prototype that is closest to the approved proposal: https://github.com/kubernetes/kubernetes/pull/76942
Whoever will be working on it if not me, should look into it and some comments that Daniel already added there.

[2019-07-24 14:42] congliu01 commented on #70180
I see TestVolumeProvision flaky again in my recent [PR](https://github.com/kubernetes/kubernetes/pull/80383).
Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80383/pull-kubernetes-integration/1154021402995593217/

[2019-07-24 14:48] aojea opened #80527 "kubelet using containerd doesn't check local storage for images after controller admission is enabled"
**What happened**:

The node has the kube-proxy image loaded in the local storage with containerd but kubelet tries to get it from the external registry instead of using the local image.

**What you expected to happen**:

The image doesn't exist in the external registry, is normal that it fails, but I expect try to load first the local image as it was doing with the other ones.

**How to reproduce

[2019-07-24 14:49] aojea commented on #80527
/cc @BenTheElder @Random-Liu

[2019-07-24 14:49] liu-cong opened #80528 "TestVolumeProvision test is flaky again"
**Which jobs are failing**:
pull-kubernetes-integration

**Which test(s) are failing**:
TestVolumeProvision

**Since when has it been failing**:
Noticed it since 2019-07-24. But [this closed issue](https://github.com/kubernetes/kubernetes/issues/70180) also has it.

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80383/pull-kubernetes-integration/1154021402995593217

[2019-07-24 14:52] aojea commented on #80527
/sig node

[2019-07-24 14:59] librannk opened #80530 "Update Elastic Search Variable in Kibana 7.1.1"
**What would you like to be added**:
Change Variable ELASTICSEARCH_URL to ELASTICSEARCH_HOSTS in kibana-depoloyment manifest for EFK
**Why is this needed**:
Kibana now changed there variables to link to Elastic search , please fix the same here as it took a while for me to figure it out and dont want anyone else to face same .

[2019-07-24 15:00] librannk commented on #80530
/sig node

[2019-07-24 15:04] librannk commented on #80530
/kind bug

[2019-07-24 15:12] Pluies commented on #67662
@seeruk it seems to have mitigated the problem for us, but I'm not sure we've done another full rolling-update since my previous message. In any case, scaling up the injector can't hurt 👍

[2019-07-24 15:23] bswartz commented on #79355
I'm not sure what special things happen with flexvol plugins. I know that there are issues with cleanup when kubelet restarts. Under normal circumstances though, kubelet won't restart during a migration of this kind, and if it does restart, I think the behavior wouldn't differ much from a kubelet restart with no migration going on. Either the cleanup logic is reliable, or it's buggy, I don't see h

[2019-07-24 15:27] gjmzj commented on #80152
update:
with k8s v1.15.1 and sonobuoy v0.15.0, the same failure shows up!

[2019-07-24 15:32] krzysied commented on #80517
I assume that 409 are expected result of addon manager.
Closing the issue.

[2019-07-24 15:32] #80517 closed

[2019-07-24 15:38] ricky1993 commented on #80510
@yue9944882 PTAL

[2019-07-24 15:49] Alisd96 opened #80532 "How to change weight of priorities in Kubernetes Scheduler ?"
I want to increase the performance of the Kubernetes scheduler by changing the weight of the priorities (or eliminate some priorities), I want to know how I can change the weight of the priorities in the scheduler? and what is a default scoring strategy used by kubernetes?

[2019-07-24 15:51] Alisd96 commented on #80532
/sig scheduling

[2019-07-24 16:13] HaveFun83 commented on #75311
same here k8s v1.15.0

[2019-07-24 16:25] #74169 closed

[2019-07-24 16:27] adelina-t opened #80534 "Test: Guestbook application should create and stop a working app fails on Windows"
Failing on:

- aks-engine-windows-master-staging
- aks-engine-windows-master
- gce-windows-master
- flannel-*-windows-master

Which test:

[sig-cli] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance]

**Testgrid link**:

https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master-staging

**Reason for failure**:
[code]

**Anything else

[2019-07-24 16:28] adelina-t commented on #80534
/cc @PatrickLang
/cc @yujuhong
/cc @benmoss

[2019-07-24 16:28] adelina-t commented on #80534
/sig windows

[2019-07-24 16:40] glb commented on #48912
@nrvnrvn do you want some help with this? I think I know the [key line to change once the options exist](https://github.com/kubernetes/kubernetes/blob/518f16636f08046ae1dca84d5fdb016c70ad37ef/pkg/volume/emptydir/empty_dir.go#L279) but am a bit unclear on what exactly needs to be done to open up a pipeline between say a YAML definition and here and have no idea what would be required for the pod se

[2019-07-24 16:51] quinn commented on #26202
All i'm seeing is k8s members saying this is "discouraged". What if i have to do this? In production? I have to allocate downtime to destroy the deployment and replace with a new one?

[2019-07-24 17:12] jpbetz commented on #80513
Yes, since the etcd functionality is version dependent, in the short term I'd prefer we update the kubernetes compactor (https://github.com/kubernetes/kubernetes/blob/1dac5fd14a54ac4972339dbe55f9f03688fd7542/staging/src/k8s.io/apiserver/pkg/storage/etcd3/compact.go#L72).

/cc @jingyih @wenjiaswe

[2019-07-24 17:17] dims commented on #67250
/sig architecture

[2019-07-24 17:23] erictune opened #80535 "Bind pre-existing Role to specific resource"
**What would you like to be added**:
I would like a way to bind a pre-existing (Cluster)Role to a specific instance without the need to make a copy of that  (Cluster)Role.

**Why is this needed**:
Kubernetes comes with built-in roles, and operators, when installed, define their own roles.
When you want to give a subject permission to act on a specific instance, within a namespace with several inst

[2019-07-24 17:24] jpbetz commented on #80244
I thought about this a bit. While I agree the failure mode is bad, I don't think we should put a check directly in Kubernetes. As mentioned in https://github.com/kubernetes/kubernetes/issues/80244#issuecomment-512619744, client creds can already be used to defend against this. We need to test and maintain anything we put into Kubernetes, and I'm not convinced there is a check that offers sufficien

[2019-07-24 17:30] yastij commented on #65392
@alena1108 - hopefully 1.16

[2019-07-24 17:46] yue9944882 commented on #80510
what's the point of separating locks? or rather, which controller are you trying to separate from KCM? i presume separating controllers into multiple processes can lead to cache inconsistency, b/c in a single KCM process all controllers are reading from the same cache per resource. i noticed in scheduler, overriding lock name is already supported by #42961. @liggitt for thoughts

[2019-07-24 17:56] jpbetz commented on #80209
Great. etcd has a bunch of handlers, including `mutex` (which I believe is what we need?). https://github.com/etcd-io/etcd/blob/release-3.1/pkg/debugutil/pprof.go#L44  If we can get that enabled, it might help! (I still have plans to run the repro benchmark).

[2019-07-24 18:06] spiffxp commented on #57667
https://github.com/kubernetes/test-infra/pull/12945 added the `/retitle` command (thanks @stevekuznetsov)

[2019-07-24 18:17] ron1 commented on #41965
/remove-lifecycle rotten

[2019-07-24 18:24] alejandrox1 commented on #78907
This issue originally points to https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-stable-master
This is now https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-1-15-master , correct?

[2019-07-24 18:25] andrewsykim commented on #70493
Will close this for now and assume this is a similar/duplicate to https://github.com/kubernetes/kubernetes/issues/76338. @WalBeh if you're able to get logs / reproduce this please feel free to re-open or update https://github.com/kubernetes/kubernetes/issues/76338

[2019-07-24 18:25] andrewsykim commented on #70493
/close

[2019-07-24 18:25] #70493 closed

[2019-07-24 18:27] andrewsykim commented on #76338
/reopen

[2019-07-24 18:28] andrewsykim commented on #76338
cc @liggitt who worked on https://github.com/kubernetes/kubernetes/pull/63492

[2019-07-24 18:35] jeanluclariviere opened #80537 "Cluster level LimitRange object / admission controller to manage default request and cpu limits for all namespaces."
**What would you like to be added**:
The ability to set CPU / Memory default limits and requests at a cluster level, for all namespaces. These would be overwritten by namespace level LimitRanges in the same way that deployment / daemonset limits and requests overwrite these, allowing for top down management of default limits / requests.

**Why is this needed**:
This would be useful from an adminis

[2019-07-24 18:37] neolit123 commented on #78907
yes

[2019-07-24 18:39] jeanluclariviere commented on #80537
/sig feature-requests

[2019-07-24 18:48] alejandrox1 commented on #76721
The failures mentioned in this issue are not appearing anymore.
/close

[2019-07-24 18:48] #76721 closed

[2019-07-24 18:51] alejandrox1 commented on #78907
awesome, will observe this one for a while longer then just to make sure everything is alright.

[2019-07-24 18:54] joshimhoff opened #80538 "loadBalancerSourceRanges should report status"
**What would you like to be added**:

loadBalancerSourceRanges is a very helpful field. I have a suggested improvement.

The status of the firewalls backing the loadBalancerSourceRanges field (that is, what CIDR ranges are allowed by the firewall) should be reported in the status of the service of type LoadBalancer.

**Why is this needed**:

 I am on a team building a DBaaS on top of k8s.

Without

[2019-07-24 18:55] joshimhoff opened #80539 "loadBalancerSourceRanges is slow at updating GCP firewalls"
**What would you like to be added**:

loadBalancerSourceRanges is a very helpful field. I have a suggested improvement.

Currently, according to my testing, it takes between 5-30 seconds for an update to loadBalancerSourceRanges to be reflected in an actual GCP firewall.

**Why is this needed**:

 I am on a team building a DBaaS on top of k8s.

30 seconds is a long time to wait on a firewall being

[2019-07-24 18:56] neolit123 commented on #78907
we haven't had the badwidth to work on that yet.
too many higher priority tickets in kubeadm land right now.

[2019-07-24 18:57] ahg-g commented on #79930
@wybzju I wonder why are you hitting that code path? the metadata is supposed to be pre-calculated: https://github.com/kubernetes/kubernetes/blob/955198751cdbf10701607490937d35d0e3d57e50/pkg/scheduler/algorithm/predicates/predicates.go#L1346

[2019-07-24 18:58] chiluk commented on #67577
@PaulFurtado , the patch has been "approved" by the CFS author, and I'm just waiting for the scheduler maintainers to integrate it and push it to Linus.

[2019-07-24 18:59] joshimhoff commented on #80538
/sig gcp
/sig aws

[2019-07-24 18:59] joshimhoff commented on #80539
/sig gcp
/sig aws

[2019-07-24 19:00] msau42 commented on #72198
Feature is being tracked through https://github.com/kubernetes/enhancements/issues/661
/close

[2019-07-24 19:00] #72198 closed

[2019-07-24 19:01] gnufied commented on #79990
/assign @huffmanca

[2019-07-24 19:02] huffmanca commented on #79990
/assign

[2019-07-24 19:03] gnufied commented on #80528
/sig storage

[2019-07-24 19:04] scottilee commented on #79596
@krzysied Fortunately the job has been green for a while but I wanted to ping you to see if you had found out the root cause of the issue?

[2019-07-24 19:09] scottilee commented on #77538
@kubernetes/sig-network-test-failures could we get someone to look into these issues or get an update of when we might get some news?

[2019-07-24 19:16] scottilee commented on #74917
https://testgrid.k8s.io/sig-node-containerd#e2e-gci-serial is still failing and has been for a long time. Could someone look into this and provide an update?

/cc @dchen1107 @derekwaynecarr

[2019-07-24 19:17] scottilee commented on #78901
Hey @justinsb I know you're super busy but any update on this? Or can this be delegated to someone else?

[2019-07-24 19:37] chrissound commented on #42885
@PMende just do a terminal alias for `kubectl get pods; kubectl get services; kubectl get ...`

[2019-07-24 19:40] yuxiangqian commented on #79397
@msau42 @gnufied Can either of you assign the issue to me?
I am working on the enhancement and have been looking into the attach/detach and mount/unmount workflow, both sets of operations seems to end in: [OperationExecutor](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_executor.go), which eventually creates a corresponding Fun to be executed.
Fro

[2019-07-24 19:51] user2394 commented on #77131
I am fairly new to Kubernetes. I am also stuck with the very same issue, can someone guide me how to troubleshoot this issues

Client Version: v1.13.5
Server Version: v1.13.8

[2019-07-24 19:52] BenTheElder commented on #74425
@justaugustus is there something we should be doing here?

[2019-07-24 20:00] damemi opened #80541 "`kubectl get` with file input and `--ignore-not-found` fails on resources which are not found"
**What happened**:
When using a yaml file for input, `kubectl get --ignore-not-found` silently fails at the first missing resource, not returning any further results.

**What you expected to happen**:
Searching with cli arguments properly ignores missing resources and continues the query, eg:
[code]
Would expect similar results with a file input, eg:
`$ kubectl get -f search.yaml --ignore-not-foun

[2019-07-24 20:01] damemi commented on #80541
/sig cli

[2019-07-24 20:08] benmoss commented on #78857
I tried using Go 1.13beta1 to rebuild agnhost, but it still is not working. It appears to get stuck on https://github.com/kubernetes/kubernetes/blob/e0ff9634d5b5a480595930236c87dec1327dbf13/test/e2e/kubectl/portforward.go#L231 and using tcpdump/wireshark I'm seeing that the Windows server never sends a `FIN` packet to close the connection. I'm not sure why, probably some fiddliness related to http

[2019-07-24 20:19] eherot commented on #65500
I am also having this problem and restarting the kubelet does not fix the problem. It occurs highly inconsistently (three prometheus pods are running here but only one cannot seem to mount its storage). Why was this issue closed without being addressed?

[2019-07-24 20:20] msau42 commented on #79397
Sounds good to me! Thanks!

I think we can't assign you until you are a Kubernetes member. Can you apply for membership? https://github.com/kubernetes/community/blob/master/community-membership.md

[2019-07-24 20:29] gnufied commented on #79397
@yuxiangqian I think you can just assign this to yourself.  Just do a plain "/assign" in the comment here and it will work. I just found out.

[2019-07-24 20:49] yuxiangqian commented on #79397
thanks both. I think I can not assign it to myself, tried before. I will try to be a member firstly.

[2019-07-24 20:49] #74313 closed

[2019-07-24 20:50] #79629 closed

[2019-07-24 20:50] #75978 closed

[2019-07-24 20:53] jpbetz commented on #80258
Thanks @yue9944882. So looks like `gsutil ls` is a red herring. I'm still unclear on why testgrid is showing pull-kubernetes-integration is showing `k8s.io/kubernetes/test/integration/apiserver/admissionwebhook.TestWebhookV1beta1/settings.k8s.io.v1alpha1.podpresets/delete` tests as failing when the build log for the failing runs has:

[code]

Any idea why that might be? Is this an error in testgri

[2019-07-24 21:02] erictune commented on #80535
@kubernetes/sig-auth-feature-requests

[2019-07-24 21:08] congliu01 commented on #80528
The test is [here](https://github.com/kubernetes/kubernetes/blob/2cd5fc54a10623c30b257f904244d560f1fad9a0/test/integration/scheduler/volume_binding_test.go#L688) under scheduler integ tests. So this could be a sig Scheduling issue.

[2019-07-24 21:59] freehan commented on #77538
should we add a new TAG on tests that does not apply to private clusters?

[2019-07-24 22:32] bsalamat commented on #80528
SIG Storage owns volume provisioning, although parts of it is integrated in the scheduler.

[2019-07-24 22:32] guillaumefenollar commented on #67662
Happens on my cluster two, but we're not using Istio.
Message is following, with no additional clue :
`kube-controller-manager I0725 03:49:51.471490       1 event.go:221] Event(v1.ObjectReference{Kind:"ReplicaSet", Namespace:"dev", Name:"pod-744d7d88b6", UID:"4439a8a8-9df3-11e9-9a05-00505690c3a8", APIVersion:"apps/v1", ResourceVersion:"119447593", FieldPath:""}): type: 'Warning' reason: 'FailedCre

[2019-07-24 23:24] dobesv commented on #19022
Here's an example solution using `target_index_key` and the `record_modifier` plugin:

https://gist.github.com/dobesv/ffb27537fcc2df74ce8049fcfb937c4d

[2019-07-24 23:25] dobesv commented on #19022
Here's an example solution using `target_index_key` and the `record_modifier` plugin that could be adapted to work with `type` using `target_type_key` to solve this issue:

https://gist.github.com/dobesv/ffb27537fcc2df74ce8049fcfb937c4d

[2019-07-24 23:37] skonto commented on #80493
I verified that this works with 1.14.2 but not 1.15.1 on minikube.

[2019-07-25 00:00] neolit123 opened #80546 "/build/dependencies.yaml should be in a sub-folder with multiple SIG owners"
@dims @yastij

hello, as much as i like the new dep check with `build/dependencies.yaml` it introduced a bit of an ownership problem.
e.g. now every time we bump versions of etcd or coredns in kubeadm we need an approver from this OWNER file:
https://github.com/kubernetes/kubernetes/blob/master/build/OWNERS

realistically we only have to bump these once a cycle, but it feels like a minor issue in

[2019-07-25 00:28] nabheet opened #80549 "Fluentd ElasticSearch instance reporting 503 on health status"
**What happened**:
fluentd-elasticsearch health status is reporting 503:
[code]
[code]
**What you expected to happen**:
It should report ES cluster health with a 200 status.

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f https://raw.githubusercontent.com/kubernetes/kubernetes/master/cluster/addons/fluentd-elasticsearch/es-statefulset.yaml

**Anything else we ne

[2019-07-25 00:30] hex108 commented on #68720
/remove-lifecycle stale

[2019-07-25 01:11] justinsb commented on #79662
I think agnhost needs to be passed `Args:  []string{"serve-hostname"},`, but https://github.com/kubernetes/kubernetes/pull/79238/files did not do so in test/e2e/common/util.go

/assign sig-testing

[2019-07-25 01:32] spiffxp commented on #78833
I don't think #79679 should be promoted in the name of exercising these endpoints, it's too rube-goldbergian.  It may be a decent description of a Preemption behavior however, so awaiting feedback on that.

If there are no other tests that exercise these endpoints more directly, they'll need to be written.

[2019-07-25 02:06] spiffxp commented on #75935
@mattjmcnaughton I agree in principle with erring on the side of unit tests for more comprehensive code coverage.  However we only use e2e tests when it comes to certifying a kubernetes cluster as conformant. So the question becomes which test cases exactly would we expect all kubernetes clusters to support.  I think @mgdevstack's suggestion above is reasonable, WDYT?

[2019-07-25 02:06] spiffxp commented on #75935
/remove-kind bug
/kind cleanup

[2019-07-25 02:08] spiffxp commented on #76345
/remove-lifecycle stale

[2019-07-25 02:23] onyiny-ang commented on #74425
@BenTheElder @justaugustus These are created to catch known issues prior to the release so that they can be included in the release notes. The only reason I haven't closed this is because I am not sure whether or not it is useful for users to keep the issue open once the release has been cut--since other "known issues" may arise. If not, I'm happy to close this as well as the issue for 1.15.

[2019-07-25 02:32] ricky1993 commented on #80244
So where is the best place to put these checks. I find preflight check haven't change for years. It's really confuse me.

Do you mean we should put the check in setup/ops tools (like kubeadm)? I am not sure I totally get your points.

I think the configuration is legal for etcd (two different etcd clusters cannot perceive each other), because it's a mis-configuration for apiserver, it tries to con

[2019-07-25 02:38] ricky1993 commented on #80510
We deploy job/cronjob/daemonset controller out of KCM. Because our cluster scale is too large and KCM is often overloaded. I don't think it's a big risk if they have inconsistent cache.

[2019-07-25 02:54] spiffxp commented on #75669
/remove-lifecycle rotten
/close
fixed by https://github.com/kubernetes/kubernetes/pull/75668

[2019-07-25 02:54] #75669 closed

[2019-07-25 03:13] spiffxp commented on #74425
/remove-lifecycle rotten
/close
I looked back at other "known issues" issues going back to 1.9 and they never stayed open long enough to hit rotten.  Most were usually open / active for roughly a month, which I suspect lines up with when a patch release or two had been cut.  I think we can call this done.

[2019-07-25 03:13] #74425 closed

[2019-07-25 03:15] yuchengwu commented on #80203
Thanks @dchen1107  , I'd happy to join the meeting though it was over.

Well, this is our situation.

I am fine with this change, one question is does that means a static pod .spec.priorityClassName will only be configured to `system-node-critical`? One concern is given a static pod is always treated as critical pod and static critical pod will not be evicted by kubelet, how we handle memory leak

[2019-07-25 03:24] BenTheElder commented on #74425
Makes sense! Thanks 😅

[2019-07-25 03:28] yue9944882 commented on #80510
/sig scalability

@wojtek-t

[2019-07-25 03:41] jfbai opened #80557 "pull-kubernetes-verify are failing in 1.13"
**Which jobs are failing**:

pull-kubernetes-verify

**Which test(s) are failing**:

`verify.godeps`
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80468/pull-kubernetes-verify/1154022534891442176/
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80468/pull-kubernetes-verify/1153713369983750144/

**Since when has it been failing**:

Jul 24, 2019, 1:08 AM GMT +8

**Testgri

[2019-07-25 03:42] jfbai commented on #80557
/sig testing

[2019-07-25 03:47] jfbai commented on #80557
/assign @spiffxp @mariantalla
/priority critical-urgent
/sig testing

[2019-07-25 03:48] wu0407 opened #80560 "how to set alias hyperkube kubectl bash completion work"
1. use alias kubectl to hyperkube kubectl
[code]
2. genenal bash completion file
[code]
but the kubectl bash_completion not work correct in the ubuntu.
it work with  'kubectl completion bash >/etc/bash_completion.d/kubectl '
diff with two bash completion  file
[code]

same issue with the `hyperkube apiserver --log-dir=/data/k8s/log/` the log file prefix is hyperkube not kube-apiserver

/sig releas

[2019-07-25 04:32] scottilee commented on #77538
@freehan would adding tags to the tests skip private clusters entirely? I would think ideally private clusters should still have tests... if that's correct who would be responsible for adding more tests?

[2019-07-25 05:20] thlearn commented on #76187
having exct issue any updates on this

[2019-07-25 05:24] ewolfman commented on #77310
I'm having the same problem. Any fix or workaround?

[2019-07-25 05:26] kharunsamuel1 commented on #80541
/assign

[2019-07-25 05:31] kazusa-qooq commented on #78795
i have same problem.

[2019-07-25 05:45] jfbai commented on #80557
/unasign @spiffxp @mariantalla

[2019-07-25 05:46] draveness commented on #76187
/remove-lifecycle stale

[2019-07-25 05:53] mohitevishal commented on #75822
@goodluckbot Do you mind sharing your approach to prevent pod restarts in such cases?

[2019-07-25 06:03] MikeSpreitzer commented on #80475
I answered there.  And I submitted a PR to hopefully make it clearer: #80565

[2019-07-25 06:36] BenTheElder commented on #80546
:wave: one of those approvers ... FWIW @cblecker and I are both in that one and (go) dependencies (dep-approvers) as-is, we have some precedence in the latter for [dependency review](https://github.com/kubernetes/community/blob/9258fa171f569a33b62a07239c10bce137598527/contributors/devel/sig-architecture/godep.md#reviewing-and-approving-dependency-changes) specifically, we might want some details s

[2019-07-25 06:38] #74475 closed

[2019-07-25 06:47] BenTheElder commented on #80434
almost definitely related to the image change

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1154267388221329408/artifacts/bootstrap-e2e-minion-group-8xmr/kubelet.log

E0725 05:54:40.693155    1368 kuberuntime_manager.go:787] container start failed: ErrImagePull: rpc error: code = Unknown desc = Error response from daemon: manifest for k8s.gcr.io/k

[2019-07-25 06:49] BenTheElder commented on #80399
There is some precedence for multiple home environment variables on windows, however none of them are kubernetes specfiic https://github.com/kubernetes/client-go/blob/master/util/homedir/homedir.go

cc @liggitt who is everywhere and last touched this code :-)

[2019-07-25 06:52] BenTheElder commented on #80346
@kubernetes/sig-node-feature-requests

[2019-07-25 07:00] BenTheElder commented on #80237
what is going on with these pods ?

/triage support

[2019-07-25 07:02] BenTheElder commented on #80237
So what should happen in this case is a container in one of the calico pods should write out the cni config (in `/etc/cni/net.d`) but that won't happen if none of them can start. This could happen for many reasons, EG the images could not be pulled.

Can you share details about the calico pods?

Once the calico pods are working (or something equivilant) the CNI configuration will be bootstrapped a

[2019-07-25 07:04] BenTheElder commented on #80228
@msau42 WDYT?

[2019-07-25 07:05] BenTheElder commented on #80198
cc @aojea

[2019-07-25 07:06] BenTheElder commented on #80070
poke :-)

[2019-07-25 07:08] BenTheElder commented on #80089
@kubernetes/sig-node-feature-requests

[2019-07-25 07:29] BenTheElder commented on #72956
I don't think we'll make 1.16, I've not had quite as much time to work on these and some of the remaining ones are ... challenging. We're down to only 24 files though!

[2019-07-25 07:45] BenTheElder commented on #80434
/assign
https://github.com/kubernetes/kubernetes/pull/80566

[2019-07-25 08:12] davidstack commented on #66874
@Sakib37 i use this config,but  kube-scheduler start failed with this error "invalid configuration: no configuration has been provided",is there anything wrong with my config ?thanks

`apiVersion: kubescheduler.config.k8s.io/v1alpha1
kind: KubeSchedulerConfiguration
disablePreemption: true
leaderElection:
  leaderElect: true`

[2019-07-25 08:20] seeruk commented on #67662
I actually found the issue I've been having "with Istio". We're using CloudFormation to create the nodes in AWS (almost the default CloudFormation template given by AWS). The problem with this is that it doesn't drain the nodes before killing them, so even if you replace nodes in batches, you're still killing pods. If you kill the Istio pods, it can then prevent other pods from starting up (giving

[2019-07-25 08:25] wgy-home commented on #80405
Logs from node 10.10.1.2 , I restarted all the services(docker,flanneld,kubelet,kube-proxy) did not solve this problem.
The problem disappeared after I restarted the server,But I don't know why.
This has happened twice in my cluster.

[2019-07-25 08:26] pawelprazak commented on #55045
IMO there should an opt-in for PVC deletion on scale-down, my use case is logstash, I don't need to persist the data on scale down, and fighting build-up of abandoned EBS volumes across multiple account is not ideal

[2019-07-25 08:32] chenchun commented on #79927
Sorry, there are no such rules in ipvs mode.

[2019-07-25 08:32] #79927 closed

[2019-07-25 08:59] mm4tt commented on #77538
Hey Folks, sorry I must have missed updates here.

I don't think that this should block 1.16 in any way nor it should be marked as priority/critical-urgent.
This is an **experimental** test suite that we run in order to stop using public ips in scalability tests. What's more only 3 out of over 800 tests fail for private clusters and I'm quite confident that these tests don't fail because of a bug

[2019-07-25 08:59] mm4tt commented on #77538
/remove-priority critical-urgent

[2019-07-25 09:06] oxddr commented on #79596
There were two things in here

1) For cluster-scoped latencies we used a limit of 10s, while the actual SLO for this API calls is 30s. This has been fixed in https://github.com/kubernetes/perf-tests/pull/673
2) clusterloader2 which was sender of those API calls were on the other side of the world IIRC, this can add up to the observed latency

/close

[2019-07-25 09:06] #79596 closed

[2019-07-25 09:08] justaugustus commented on #80374
@kubernetes/release-engineering -- can you investigate?

/priority critical-urgent
/milestone v1.16
/area release-eng

[2019-07-25 09:30] hoegaarden commented on #80374
/assign

[2019-07-25 09:39] MSSedusch opened #80571 "Service Controller loop creates orphaned resources"
**What happened**:
The issue has been observed on Azure but should also apply to other providers as well. On Azure we observed that there are orphaned Public IPs that don't belong to any Kubernetes LoadBalancer service but from looking at the tags and the name it is clear that Kubernetes created them. In the Azure Activity Log, you can see that the Public IP was deleted when the K8s service was de

[2019-07-25 09:40] MSSedusch commented on #80571
@kubernetes/sig-azure

[2019-07-25 09:47] Perdjesk commented on #76928
/remove-lifecycle stale

[2019-07-25 10:00] wojtek-t commented on #75554
Sorry missed that.
I opened: https://github.com/kubernetes/website/pull/15531 and https://github.com/kubernetes/website/pull/15532 for that.

[2019-07-25 10:33] WanLinghao commented on #80405
It seems something wrong with kube-scheduler, not kubelet.

[2019-07-25 10:49] dims commented on #80374
`Due to the limited scope of affected deployments this has been assessed as low severity and therefore we are not creating new releases at this time` (note from https://nvd.nist.gov/vuln/detail/CVE-2019-1543)

Also, not sure if the code path for ChaCha20-Poly1305 is triggered from anywhere when hyperkube is used ...

[2019-07-25 11:01] JoshVanL opened #80574 "Moving `k8s.io/kuberbetes/pkg/serviceaccount` to a staging repo"
**What would you like to be added**:
I would like to see `k8s.io/kubernetes/pkg/serviceaccount` moved out of `k8s.io/kubernetes` into a staging repo. I'm not sure where would be the best place to put this - perhaps `k8s.io/apiserver`?

**Why is this needed**:
I would like to depend on this package on an external project but am restricted on importing `k8s.io/kubernetes/*`. My current solution is t

[2019-07-25 11:02] JoshVanL commented on #80574
/sig auth

[2019-07-25 11:04] verb commented on #45922
Reopening now that #59416 has merged.

/reopen

[2019-07-25 11:05] verb commented on #45922
/remove-lifecycle rotten

[2019-07-25 11:05] dims commented on #80574
/area code-organization

[2019-07-25 11:12] munnerz commented on #80574
It looks like the only package from `k8s.io/kubernetes` that is imported is the *internal* core API group `k8s.io/kubernetes/pkg/api/core` here: https://github.com/kubernetes/kubernetes/blob/10005d2e1e1425904f8c7bf5615e730fb0fea7c9/pkg/serviceaccount/claims.go#L50

Ideally I'd guess this method would also be usable externally, although I'm not sure if that's a hard req. for you @JoshVanL?

This co

[2019-07-25 11:15] munnerz commented on #80574
`util.go` includes a function that uses the `v1` version of Pod here too: https://github.com/kubernetes/kubernetes/blob/10005d2e1e1425904f8c7bf5615e730fb0fea7c9/pkg/serviceaccount/util.go#L64

So it looks like there may be some precedent for switching to all-external?

[2019-07-25 11:18] tsmetana commented on #80333
I admit I was also not very happy with the solution implemented in the PR #78697. I just could not come with anything better. I used the maximum weight for the affinity preference so it's somewhat surprising the scheduler decides to schedule the pod against the preference though there are nodes that could have been used. And if the affinity preference works this way then yes, the fix is broken...

[2019-07-25 11:26] munnerz commented on #80574
The one and only call-site for this `pkg/registry/core/serviceaccount/storage/token.go`, is part of the registry package and therefore I think will be difficult to adapt to accept a `getter` that returns versioned types, meaning the code will need to be adapted to consume a `scheme` and *convert* to versioned types.

It may therefore be better to simply move `claims.go` elsewhere and/or leave it w

[2019-07-25 11:41] mm4tt commented on #80212
I compared prometheus data from two runs, one that reported ~0.5 scheduler CPU and other that reported ~0.1 scheduler CPU. To my surprise, they are basically identical... :)

**0.5 CPU run**
![NEmaj7RYPL2](https://user-images.githubusercontent.com/2604887/61871435-1da8ff00-aee1-11e9-8b77-af0b2e6e6419.png)

**0.1 CPU run**
![Z9OzfArWkgE](https://user-images.githubusercontent.com/2604887/61871437-1e

[2019-07-25 11:42] mm4tt commented on #80212
And regarding two other symptoms described in https://github.com/kubernetes/kubernetes/issues/80212#issuecomment-512188450, I believe they are totally unrelated to scheduler CPU consumption. They are most likely connected, but this is a separate regression.

[2019-07-25 11:57] neolit123 commented on #80546
@BenTheElder
hi, while i do agree that you and @cblecker are quite responsive, it still feels to me that we are introducing a unnecessary bottle neck.

when we were discussing something similar to this YAML logic today, the proposal was to have representatives from different SIGs in the OWNER file that shepherds the dep list.

if feels to me at the minimum we should have a couple of SIG Cluster Li

[2019-07-25 12:07] aojea commented on #80198
@saiyan86 what IPv6 utility are you missing from `agnhost` ?
It has installed `apk --update add curl netcat-openbsd iproute2 iperf` that works with IPv6 too

[2019-07-25 12:10] feiskyer commented on #80571
/sig cloud-provider

[2019-07-25 12:21] DeepLJH0001 opened #80576 "Scheduler doesn't assign pod because 'not enough resource: hugepages-1Gi',but the node info show it has enough resource."
**What happened**:
scheduler doesn't assign pod because 'not enough resource: hugepages-1Gi',but the node info show it has enough resource.
[code]
describe node
[code]
**What you expected to happen**:
the pod was in normal status like pending and running

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
It was change default hugepage size to 1G

[2019-07-25 12:23] DeepLJH0001 commented on #80576
/sig node

[2019-07-25 12:38] justgotthis opened #80577 "CronJob Schedule does not use master's timezone - instead it uses UTC"
**What happened**:
The master is at PDT (-7).

Verified local time on master:

[code]
Created a cronjob with schedule of `"0 12 * * 5"` to run on Friday noon.

[code]
You can see it actually ran on 12 UTC, which is 5AM PDT.

**What you expected to happen**:
According to the document:

`Note: All CronJob schedule: times are based on the timezone of the master where the job is initiated.`

**How to

[2019-07-25 12:51] justgotthis commented on #80577
/sig apps

[2019-07-25 12:53] denmaddog opened #80579 "externalTrafficPolicy: Local with Type: LoadBalancer AWS NLB health checks failing"
**What happened**:
Hello,
I have a service with valid endpoints. Configured as:

[code]

It creates AWS ELB, with healthchecks pointing at: HTTP:32181/healthz.
From node on which POD resides when I do:

[code]

[code]

also with curl on node:
[code]

I guess 503 is due: "localEndpoints": 0, but I have no idea why it says 0, when service itself has endpoints.
any idea?
is it even possible to have t

[2019-07-25 12:53] justgotthis commented on #80577
Please note, do not close the ticket with multiple timezone support for cronjobs (#47202). This is regarding CronJobs respecting the TimeZone from the Master so it is not working as intended.

[2019-07-25 12:53] justgotthis commented on #78795
added ticket to track this as we are all still having issues:

https://github.com/kubernetes/kubernetes/issues/80577

[2019-07-25 12:57] denmaddog commented on #80579
/sig provider-aws

[2019-07-25 13:12] RainbowMango opened #80581 "The vulnerability(CVE-2019-11244) is not completely eliminated"
**What happened**:
The PR(https://github.com/kubernetes/kubernetes/pull/77874) seems have fixed  [CVE-2019-11244](https://nvd.nist.gov/vuln/detail/CVE-2019-11244).

But I doubt the correction didn't fix completely.

According to the description of [CVE-2019-11244](https://nvd.nist.gov/vuln/detail/CVE-2019-11244):

The cache file created by kubectl should not be modified by other users/groups, or,

[2019-07-25 13:13] RainbowMango commented on #80581
cc @liggitt

[2019-07-25 13:13] RainbowMango commented on #80581
/assign

[2019-07-25 13:15] RainbowMango commented on #80581
/sig api-machinery
/area security

[2019-07-25 13:15] wojtek-t commented on #80209
Once https://github.com/kubernetes/perf-tests/pull/691 will merge, we will start gathering mutex profiles.

[2019-07-25 13:31] timothysc commented on #80489
/cc @kubernetes/sig-cluster-lifecycle

@neolit123 @fabriziopandini we should be set the PriorityClass explicitly

[2019-07-25 13:42] JrCs opened #80582 "kubeadm can't join control plane using JoinConfiguration"
I can't create (join) a new control plane node to a cluster using a JoinConfiguration file (with ControlPlane informations in it).

**What happened**:
I'm using this JoinConfiguration:
[code]
and try to join the cluster with the command
[code]
**What you expected to happen**:
I expected to have a new **control plane** node configured but kubeadm only configure a **worker** node (not a control plan

[2019-07-25 13:44] mattjmcnaughton commented on #72956
On Thu, Jul 25, 2019 at 12:30:04AM -0700, Benjamin Elder wrote:

Wow, fantastic work to only have 24 files to go :)

[2019-07-25 13:45] #74521 closed

[2019-07-25 13:48] mattjmcnaughton commented on #80530
/remove sig-node
/sig cluster-lifecycle

Great that you're trying to help others from facing the same issue you ran into :)

Just updating this to be the proper sig.

[2019-07-25 13:49] mattjmcnaughton commented on #80576
cc @odinuge do you have thoughts here? I see huge pages and think of you :)

[2019-07-25 13:50] neolit123 commented on #80489
we are already setting this for all kubeadm static pods:

to my understanding the priority will be implicitly critical from now on:

[2019-07-25 13:57] zegl opened #80583 "ResourceQuota stops updating"
**What happened**:

Statuses of ResourceQuotas stopped to be updated, leading to failures in replicaset and statefulset controllers, thinking that creation of a new pod would lead to a violation of the quota, when it in fact wouldn't.

Attached are some logs from kube-controller-manager that I believe happened when the problem started:

The kube-apiserver and kube-controller-manager where started

[2019-07-25 13:57] mattjmcnaughton commented on #75935
@spiffxp you make a good point about conformance tests - so I agree :)

[2019-07-25 13:57] caravansary83 opened #80584 "Failed scheduling when number of pods get largger (~30+)"
**What happened**: We are trying to schedule tasks on different nodes. We have a mapping of maps and nodes, and k8s will schedule the corresponding tasks on the corresponding nodes. Whenever number of pods scheduled per node is getting larger than ~30, many pods are stuck in Terminating/ Pending mode. Moreover, in a few times, the nodes become NotReady after this.

**What you expected to happen**:

[2019-07-25 13:58] mattjmcnaughton commented on #80527
Just to confirm @aojea , are you finding this issue _does not_ occur when PSP is disabled?

[2019-07-25 13:59] zegl commented on #80583
This was a duplicate of #71450 (fixed by #74747).

[2019-07-25 13:59] #80583 closed

[2019-07-25 14:12] odinuge commented on #80576
Hmm.

Are you sure that there are no other pods using huge page memory @DeepLJH0001 ?
To me, it looks like the node has `36GiB` (huge page @ 1GiB) memory, you are requsting `32GiB`, but `16GiB` is already used.

Can you verify that by listing the pods on the node, and check if some of them are using huge page memory already?

[2019-07-25 14:20] PaulAnnekov opened #80586 "Correctly define what fields are required in openapi spec"
**What would you like to be added**:

Specify what fields are required in [openapi](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json) spec. E.g. `definitions/io.k8s.api.core.v1.Pod` definition has most of fields and sub-fields optional, while they are actually required, like `apiVersion` (was noticed already here https://github.com/kubernetes/kubernetes/issues/219

[2019-07-25 14:23] PaulAnnekov commented on #80586
/sig area/swagger area/api team/api

[2019-07-25 14:26] odinuge commented on #80576
Also, the OS will report that no huge pages are in use as long as no processes have started using the hugepages.

Eg. when a pod requesting `nGiB` with is assigned to a node, k8s will then mark the `nGiB`s with huge page memory it as "used". The cgroup controller (if hugetlb cgroup is mounted) will then set the usage limit to `nGiB`. Before the pod actually starts using the huge page memory, the O

[2019-07-25 14:34] aojea commented on #78099
once we have this I will open a new issue to start cleaning up `[Feature:Networking-IPv6]` and `[Feature:Networking-IPv4]` , we no longer need to discriminate based on tags

[2019-07-25 14:39] DeepLJH0001 commented on #80576
I’m so sorry that there actually has a other pod using hugepage，i only see node info available hugepage. so i close the issue，thanks a lot～

[2019-07-25 14:39] #80576 closed

[2019-07-25 14:44] odinuge commented on #80576
No problem @DeepLJH0001! I think this issue is a symptom that something should be done to make it easier to understand. I will look into it. 😄

[2019-07-25 15:00] alejandrox1 commented on #74931
Been observing this one for a bit and it seems like its getting better https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-integration
Other than some failures a couple days ago it has been stable.
Will keep an eye for a couple more days to make sure.

[2019-07-25 15:05] nabheet commented on #80549
/sig cluster-lifecycle

I am assuming this is the correct sig based on #80530

[2019-07-25 15:17] JrCs commented on #80582
@kubernetes/sig/cluster-lifecycle-bugs

[2019-07-25 15:21] aojea commented on #80527
@mattjmcnaughton I´ve found the issue when trying to add PSP to kind kubernetes-sigs/kind#725

I don´t know the exact relationship, maybe kubeadm has a different logic when enabling the admission-controller, but this doesn´t happen when the admission-controller and PSP is disabled

[2019-07-25 15:46] odinuge commented on #80452
Thanks @DeepLJH0001 !

Looks like your kernel only enables huge pages with the default size. My kernel 5.0+ enable all (atleast 2MiB and 1GiB on x86_64) by default.

When the node booted with default_hugepagesz=1GB it "removed support" the 2MiB one, and becuse kubelet use patch on the node status when connecting to the api server, you ended up with both `hugepages-1Gi` and `hugepages-2Mi`, even th

[2019-07-25 15:48] spiffxp opened #80589 "pull-kubernetes-conformance-image-test is failing"
**Which jobs are failing**:
pull-kubernetes-conformance-image-test

**Which test(s) are failing**:
Overall

**Since when has it been failing**:
Last green: [2019-07-17 17:23:46 UTC](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-conformance-image-test/1151542712869064704)
First red with this failure: [2019-07-18 06:02:43 +0000 UTC](https://prow.k8s.io/view/gcs/ku

[2019-07-25 15:49] BenTheElder commented on #80589
kind needs to be upgraded in the script to deal with a Kubernetes breakage.

[2019-07-25 16:02] scottslowe commented on #80582
@JrCs Can you try with `controlPlane` instead of `ControlPlane` in your configuration file?

[2019-07-25 16:09] kfox1111 commented on #80228
Without --delete-local-data, it gives a scary warning. But if the flag only ever talks about emptyDir, and thats only as scary as deleting regular pods without emptyDirs, then alternately, maybe the flag should be --delete-emptydir-data. That would be at least somewhat less scary then --delete-local-data, which kind of looks like it might delete local pv's (also a form of local data you never want

[2019-07-25 16:30] benmoss commented on #80534
I am seeing `Kubectl logs should be able to retrieve and filter logs [Conformance]` fail also due to https://github.com/kubernetes/kubernetes/pull/80126

It looks like the message that Redis prints out has changed

[2019-07-25 16:30] mikedanese commented on #80574
Because it's touched inside the registry, it necessarily has to work off internal versions.

What part of the package do you need?

[2019-07-25 16:31] benmoss commented on #80534
Ah I see that there's a separate issue for that https://github.com/kubernetes/kubernetes/issues/80265

[2019-07-25 16:32] benmoss commented on #80265
We should probably push to change the test image away from Redis. There doesn't seem to be a compelling need to use such a complicated piece of software to test logging.

[2019-07-25 16:48] #67849 closed

[2019-07-25 17:20] alejandrox1 commented on #77538
Thank you for the updates.

I understand the test suite is experimental and there is a high level of confidence that the handful of failing sig-network jobs are failing due to the test suite and not to Kubernetes itself but given that this affects the quality of the signal we get from CI signal for this release we want to maintain it in the 1.16 milestone.

@freehan could you bring this up with @k

[2019-07-25 17:40] benmoss opened #80593 "Windows Azure node crashing from PoInitializeStopWatch"
I recently had a node crash on a Windows cluster running on Azure. The crash dump file points to the symbol `PoInitializeStopWatch` from `pdc.sys`.

I had been running the port-forward e2e tests against this node previously, I wasn't actively doing anything when it appears to have crashed.

- [WinDbg logs](https://gist.github.com/benmoss/78ec707f9932adbb7f3d97aa205dc8d4)
- [Crash dump file](https:

[2019-07-25 17:40] cactauz opened #80594 "kubectl apply of exported service makes the service immutable"
**What happened**:

Using a simple service definition:

[code]

I reproduced the following sequence in both 1.11.7 and 1.15.0:

[code]

Removing the last-applied-configuration annotation resolves it:

[code]

**What you expected to happen**:

I expected to be able to apply a service definition obtained from `kubectl get` without changing the behavior of future `kubectl apply`

**How to reproduce i

[2019-07-25 17:44] cactauz commented on #80594
@kubernetes/sig-cli-bugs

[2019-07-25 17:51] liggitt commented on #80596
This is already supported by the `rest.Config` struct, it seems useful to allow control over

/priority backlog
/sig api-machinery

[2019-07-25 17:55] liggitt commented on #80178
are the uses and meaning of those fields identical between those types? if not, I'd avoid nesting FIFO within DeltaFIFO

[2019-07-25 17:58] msau42 commented on #80228
I agree we shouldn't need an override to delete emptyDir volumes because the expectation is that emptyDir volumes are ephemeral.

However, the reason we have the flag now is due to backwards compatibility and users potentially depending on this behavior now.

[2019-07-25 18:00] xuto2 commented on #80442
updated the PR with service annotation as suggested - but confirmed from PM that this feature in network is technically GA, the only reason that it is not publicly announced is because the Azure portal change is not ready, based on this - do you think we will need to remove this annotation one day? if so, should we do it now? @feiskyer @Koderok

[2019-07-25 18:02] BenTheElder commented on #80228
Thanks @msau42 -- If the only reason is backwards compatibility, we could begin to deprecate the flag and start the (slow) timer to remove it?

[2019-07-25 18:05] BenTheElder commented on #80589
/lifecycle active
https://github.com/kubernetes/kubernetes/issues/80589

[2019-07-25 18:10] andrewsykim commented on #80092
/priority important-soon

[2019-07-25 18:11] andrewsykim commented on #80092
/assign @quinton-hoole

[2019-07-25 18:11] andrewsykim commented on #80289
/remove-area code-organization

[2019-07-25 18:14] neolit123 commented on #80546
/priority backlog

[2019-07-25 18:14] nitinsurana opened #80599 "Images broken in docs"
Images are broken here - https://kubernetes.io/blog/2017/05/managing-microservices-with-istio-service-mesh/ @kubernetes/sig-docs

![Screen Shot 2019-07-25 at 11 13 41 AM](https://user-images.githubusercontent.com/7137160/61898037-4aebb200-aecd-11e9-99a9-dc85a5f4bd46.png)
![Screen Shot 2019-07-25 at 11 13 46 AM](https://user-images.githubusercontent.com/7137160/61898038-4aebb200-aecd-11e9-9686-9741

[2019-07-25 18:15] BenTheElder commented on #74437
pull-kubernetes-cross is now at consistency 1, all metrics look extremely healthy for the moment. failures in the history look legitimate.

We've made a number of changes that may have impacted this including upgrading docker, switching the build machines to PD-SSD instead of standard PD, and improving the build scripts slightly..

I think we can safely close this for now

/remove-lifecycle rotten

[2019-07-25 18:15] #74437 closed

[2019-07-25 18:15] andrewsykim commented on #80574
/priority important-longterm

[2019-07-25 18:15] tedyu commented on #80289
@ricky1993
Let me know your progress.
I assume I can contribute to the component(s) which you haven't covered.

[2019-07-25 18:16] anthonyserious commented on #60134
So funny thing... following along @drakedevel's line of thinking, I installed the CentOS `gpg` (still 2.0.22), on `amzn2` and now kubernetes signatures are being accepted:

[code]

[code]

[2019-07-25 18:19] alejandrox1 commented on #80289
/cc

[2019-07-25 18:22] BenTheElder commented on #80546
I would still suggest these should be under something similar if not the same as the `dep-approvers` process with written guidelines and promotion of reviewers -> approvers (though this would be best done with a specific directory like `build/dependencies` :+1:)

If _exactly_ that process / team I'm also sure it would not hurt to try to grow that team with some dep-reviewers ...

[2019-07-25 18:27] DeanPH commented on #79365
Experiencing this same issue 👍

[2019-07-25 18:29] vllry commented on #80599
/sig docs

[2019-07-25 18:30] vllry commented on #80428
/triage unresolved

[2019-07-25 18:31] vllry commented on #80407
/triage unresolved

[2019-07-25 18:32] vllry commented on #80403
/triage unresolved

[2019-07-25 18:37] vllry commented on #80298
/triage unresolved

[2019-07-25 18:38] vllry commented on #80297
/triage unresolved

[2019-07-25 18:38] vllry commented on #80288
/triage unresolved

[2019-07-25 18:38] vllry commented on #80278
/triage unresolved

[2019-07-25 18:38] vllry commented on #80250
/triage unresolved

[2019-07-25 18:38] vllry commented on #80243
/triage unresolved

[2019-07-25 18:38] vllry commented on #80237
/triage unresolved

[2019-07-25 18:38] vllry commented on #80193
/triage unresolved

[2019-07-25 18:39] vllry commented on #80175
/triage unresolved

[2019-07-25 18:39] vllry commented on #80171
/triage unresolved

[2019-07-25 18:39] vllry commented on #80158
/triage unresolved

[2019-07-25 18:39] vllry commented on #80152
/triage unresolved

[2019-07-25 18:39] vllry commented on #80122
/triage unresolved

[2019-07-25 18:40] vllry commented on #79866
/triage unresolved

[2019-07-25 18:40] vllry commented on #79865
/triage unresolved

[2019-07-25 18:40] vllry commented on #79783
/triage unresolved

[2019-07-25 18:40] vllry commented on #79732
/triage unresolved

[2019-07-25 18:42] vllry commented on #78952
/triage unresolved

[2019-07-25 18:42] vllry commented on #78949
/triage unresolved

[2019-07-25 19:02] drakedevel commented on #60134
@anthonyserious nice! Following that lead, I grabbed the source RPMs and diffed them ([gist](https://gist.github.com/drakedevel/9638d679cf15182110a102b1725e3621)). The only difference is a patch from Amazon called `gnupg-2.0-Fix-CVE-2014-4617.patch`, which makes some changes to GPG packet compression handling.

I haven't had a chance to dig deeper to see if that's actually what's causing the break

[2019-07-25 19:02] danielhelfand opened #80602 "Sort Field for ListOptions"
I would like to have the ability to sort objects server side by a particular field on the object being returned when issuing a get request that returns a list of objects.

I am wondering about the impact of potentially adding a `Sort` field to [ListOptions](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L316) so that a sort field can

[2019-07-25 19:04] neolit123 commented on #80546
during the code-organization meeting @dims was a +1 on my proposal.

but i also agree with you that the deps team needs growth.
problem with the growth of the OWNERS there is that it can be quite slow and people don't have the bandwidth.

[2019-07-25 19:05] danielhelfand commented on #80602
/sig api-machinery

[2019-07-25 19:07] andrewsykim commented on #76338
/remove-triage unresolved

[2019-07-25 19:37] andrewsykim commented on #79783
Wondering if we can fix this somehow with iptables, maybe masquerade only the health check node ports at PREROUTING?

/remove-triage unresolved
(fix being discussed https://github.com/kubernetes/kubernetes/pull/79976)

[2019-07-25 19:58] paulgmiller commented on #76338
@andrewsykim  @liggitt  I'd obviously be very happy with a heartbeat fix here. (we didn't see the issue in nginx-ingress in our most recent  reoccurance) But still concerned that sign-networking would demur on that change into api-machinery. And I failed to attend the meetup this month. If we're not concerned about that would be happy to collaborate with andrewsykim or anyone else.

[2019-07-25 20:00] SleepyBrett commented on #78694
We think this is probably related to an issue recently fixed in cri-o where cgroups were not properly being cleaned up. Is it possible that housekeeper routines are stacking because there are just thousands of orphaned cgroups. We're working on a soak test to confirm.

[2019-07-25 20:21] roycaihw commented on #80466
/remove-sig api-machinery

[2019-07-25 20:21] roycaihw commented on #80494
/close

[2019-07-25 20:21] #80494 closed

[2019-07-25 20:22] roycaihw commented on #80510
cc @cheftako @andrewsykim

[2019-07-25 20:23] roycaihw commented on #80515
/sub

[2019-07-25 20:25] roycaihw commented on #80602
cc @cheftako
/sub

[2019-07-25 20:26] liggitt commented on #80449
I thought this was a duplicate of https://github.com/kubernetes/kubernetes/pull/65092, fixed in 1.11, but this appears to be involving deployments and proto Size() serialization, which is not the same

[2019-07-25 20:26] imduffy15 commented on #65013
Hi All,

I'm at a bit of a loss on this one.

I've started using custom taints to drain the nodes without getting them removed from the load balancer.

My application can hold a HTTP connection open for up to 600 seconds. I'm using nginx as a daemonset, have it configured with a keepalive timeout of 620s, and have `ExternalTrafficPolicy: Cluster`.

I drain the application first using a `node-upgra

[2019-07-25 20:26] andrewsykim commented on #80510
We are proposing a _very_ similar thing here https://github.com/kubernetes/enhancements/pull/979 but it's specifically for the cloud provider migration case. It should be extendable to other use-cases but needs a bit more consideration there. PTAL

[2019-07-25 20:37] liggitt commented on #80449
can you provide the diff of the customizations against the official `v1.10.11`? do you pull in a different version of the proto libraries, or make any API changes?

[2019-07-25 20:38] liggitt commented on #80449
since this hasn't been reported against official versions, marking as support for now

[2019-07-25 20:48] liggitt commented on #80510
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go#L93-L94 already supports choosing a lock name. scheduler plumbs a flag to that. {kube,cloud}-controller-manager currently don't.

controller loops run asynchronously and independently. running them in separate processes would not be as efficient, but should not cause con

[2019-07-25 20:48] vllry commented on #80414
/triage unresolved

[2019-07-25 20:56] neolit123 commented on #80582
/close

[2019-07-25 20:56] #80582 closed

[2019-07-25 21:05] vllry commented on #80579
/sig aws

[2019-07-25 21:05] vllry commented on #80504
/assign @vllry

[2019-07-25 21:06] vllry commented on #80462
What version of iptables do you have? And is the kubelet running?

[2019-07-25 21:06] andrewsykim commented on #80579
/assign @nckturner @mcrute @jaypipes

[2019-07-25 21:06] vllry commented on #80462
/assign @caseydavenport

[2019-07-25 21:10] vllry commented on #80428
/assign @andrewsykim

[2019-07-25 21:10] andrewsykim commented on #80428
KEP: https://github.com/kubernetes/enhancements/pull/1083

Please coordinate design there

[2019-07-25 21:10] vllry commented on #80414
/assign @johnbelamaric

[2019-07-25 21:11] vllry commented on #80407
/assign @danwinship

[2019-07-25 21:12] vllry commented on #80403
/assign @andrewsykim

[2019-07-25 21:13] vllry commented on #80298
/assign @khenidak

[2019-07-25 21:13] vllry commented on #80297
/assign @khenidak

[2019-07-25 21:14] vllry commented on #80288
/sig windows

[2019-07-25 21:14] vllry commented on #80288
/assign @PatrickLang

[2019-07-25 21:15] vllry commented on #80278
/assign @thockin

[2019-07-25 21:15] vllry commented on #80243
/assign @johnbelamaric

[2019-07-25 21:16] vllry commented on #80237
/assign @caseydavenport

[2019-07-25 21:16] vllry commented on #80193
/assign @johnbelamaric

[2019-07-25 21:18] prameshj commented on #80175
/assign @prameshj

[2019-07-25 21:18] vllry commented on #80171
/remove-sig network

[2019-07-25 21:18] prameshj commented on #80175
Is this using CoreDNS or kube-dns?

[2019-07-25 21:18] vllry commented on #80171
Which cloud provider are you using?

[2019-07-25 21:19] vllry commented on #80158
/assign @thockin

[2019-07-25 21:19] PatrickLang commented on #80288
are there any errors logged by kube-proxy? Does the pod status show ready / live?

/triage needs-information

[2019-07-25 21:20] vllry commented on #80152
/assign @prameshj

[2019-07-25 21:20] vllry commented on #80122
/assign @thockin

[2019-07-25 21:21] vllry commented on #80111
/assign @thockin

[2019-07-25 21:22] geekflyer commented on #44273
@AntoninBeaufort I opened a corresponding issue on the Google/GCP issuetracker https://issuetracker.google.com/issues/138394882

[2019-07-25 21:22] vllry commented on #80110
/assign @thockin

[2019-07-25 21:22] vllry commented on #80108
/assign @thockin

[2019-07-25 21:23] vllry commented on #80107
/remove-sig network

[2019-07-25 21:24] vllry commented on #80078
/assign @khenidak

[2019-07-25 21:26] vllry commented on #80061
@squeed what cases do you think are poorly covered?

/assign @squeed

[2019-07-25 21:27] vllry commented on #79866
/assign @caseydavenport

[2019-07-25 21:27] vllry commented on #79866
/assign @thockin

[2019-07-25 21:27] prameshj commented on #80152
Do you have a similar setup where this test can be tried by hand? Need to create a pod with a host entry - yaml similar to : https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/#adding-additional-entries-with-hostaliases

Then do "dig foo.local" and see if that works?

[2019-07-25 21:27] prameshj commented on #80152
/assign @gjmzj

[2019-07-25 21:33] andrewsykim commented on #79865
`externalTrafficPolicy=Local` should only apply for external traffic and shouldn't apply for any local addresses on the node? Service Topology _should_ fix this though https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0033-service-topology.md but that's a WIP.

cc @m1093782566 @imroc

[2019-07-25 21:33] #79719 closed

[2019-07-25 21:35] rflorenc commented on #74876
Same here. I was only able to `make quick-release` after giving docker 8Gib.

[2019-07-25 21:51] vllry commented on #79865
/close

[2019-07-25 21:51] #79865 closed

[2019-07-25 21:53] mml commented on #65013
This doesn't address the network issues you're seeing, but for those trying to "roll their own cordon" using taints:

Using a NoExecute taint to "drain" the node won't be orderly and won't respect any PDBs.  You want to replicate the logic from `kubectl drain` which tries to do evictions of every pod in a loop.  (I realize this is a burdensome idea, but it is also the safest idea.)

[2019-07-25 21:53] vllry commented on #79732
/assign @thockin

[2019-07-25 22:00] vllry commented on #78952
/assign @MrHohn

[2019-07-25 22:20] liggitt opened #80609 "Decoding should not clear apiVersion/kind"
**What would you like to be added**:
When using a typed client, decoding to a versioned struct (not an internal API type), the apiVersion/kind information returned from the server should not be dropped.

**Why is this needed**:
The `GroupVersionKind()` method included in the ObjectKind interface is largely useless when dealing with arbitrary runtime.Object instances, since typed instances drop thi

[2019-07-25 22:26] liggitt commented on #80602
Without datastore-level support, this would both be very expensive and interact very poorly with [list paging](https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks).

[2019-07-25 23:01] #76219 closed

[2019-07-25 23:19] spiffxp commented on #71646
/remove-lifecycle rotten
/reopen
This would still be a viable way of identifying tests that are potentially flaky

[2019-07-25 23:23] cofyc commented on #73263
/lifecycle frozen

[2019-07-25 23:30] bsalamat commented on #80489
Yes

[2019-07-25 23:31] bsalamat commented on #80489
@timothysc You mean PriorityClass of the mirror pod?

[2019-07-25 23:41] saiyan86 commented on #80198
```runner``` doesn't support ipv6. But as you suggested, we can use ```nc``` for ipv6 for network connectivity tests.

[2019-07-25 23:55] #66603 closed

[2019-07-26 00:17] metral commented on #65013
To add on to https://github.com/kubernetes/kubernetes/issues/65013#issuecomment-515228948,:

One approach that does not use node taints to force migrate, is to change `nodeSelectorTerms` for the [node affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/) requirements of your app. A change in node selector (e.g. based on instance type), along with a PDB (e.g. 66% / `min: 2`

[2019-07-26 00:35] NickrenREN commented on #80449
@liggitt  We customize the code mostly on scheduler and controller parts, and do not make much changes on api and the proto libraries.

[2019-07-26 01:12] #78099 closed

[2019-07-26 01:12] #80388 closed

[2019-07-26 01:27] hex108 opened #80611 "Add coscheduling plugin for new scheduler framework"
**What would you like to be added**:

Add coscheduling plugin for the new scheduler framework.

**Why is this needed**:

[Coscheduling](https://en.wikipedia.org/wiki/Coscheduling) is an important feature for batch jobs(e.g. Tensorflow/MPI), and it has been discussed many times at [Coscheduling KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/34-20180703-coscheduling.

[2019-07-26 01:28] hex108 commented on #80611
Ref https://github.com/kubernetes/kubernetes/issues/61012

[2019-07-26 02:14] ricky1993 commented on #80510
Do you think this flag make sense for CM?

I understand they run independently. Running them in separate processes can isolated the cpu and memory resource.

[2019-07-26 02:41] zq-david-wang commented on #80577
Just out of curiosity, are you running your master components in container? Each container would have its own timezone.  I think the timezone used by controller is used for parsing cronjob schedule, not necessary the timezone on the host.

[2019-07-26 02:55] justgotthis commented on #80577
`Note: All CronJob schedule: times are based on the timezone of the master where the job is initiated.`

https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2019-07-26 03:09] YoubingLi commented on #80609
If the apiVersion is not specified, GroupVersoinKind can be dropped when decoding the data.

Anyway, I will dig more about related issues before filing a PR.

[2019-07-26 03:16] liggitt commented on #80609
I think dropping WithoutVersionDecoder might be sufficient to accomplish this. I am looking into fixing https://github.com/kubernetes/kubernetes/issues/3030 in conversion, and adding tests to ensure conversion populates the apiVersion/kind appropriately

[2019-07-26 04:08] danielhelfand commented on #80602
@liggitt Is there a recommended way to sort results server side with a cluster using a go client?

[2019-07-26 04:11] liggitt commented on #80602
no, that's not an option supported by the API currently.

kubectl support `--sort-by` by serializing objects to json client-side, then evaluating jsonpath expressions against each object and sorting in memory

[2019-07-26 04:17] liggitt commented on #80510
since we allow running subsets of controllers with `--controllers`, probably so

[2019-07-26 04:19] gregbacchus commented on #74071
I had this problem too, and after a lot of head scratching and reinstalling of fluentd, I discovered that the problem is actually with elasticsearch.

What leads to to believe this is that, after doing everything that I could think of in fluentd, I eventually deleted my current index in elasticsearch, and everything started working again.

[2019-07-26 04:25] BenTheElder commented on #80243
I would totally believe this is in-fact a bug in kindnet and apologize for the distraction, thanks for looking into this all. In fact, I think the bug is now obvious from:

I'm pretty sure the masquerade logic only ensures pod-pod is not masquerade, and masquerades most everything else. That is clearly wrong, we missed this. 🤦‍♂

[2019-07-26 04:48] sergey-safarov commented on #80122
As i understand for cloud providers like AWS static public IP assignments may be implemented via service and without iptables usage on kubernetes host.

For SIP servers (Kamailio, FreeSwitch) public IP configured at daemon startup.
Is possible to know service IP at pod init stage (`InitContainers`)?

How about static private IP assignments via service? How do it?
This IP also need to know at pod i

[2019-07-26 05:00] cwdsuzhou opened #80621 "K8S using kata container mounted ssd local pv failed when enable privilege"
**What happened**:

When mounted local pv to pod(kata enable privilege) configured block devices, however ssd mounted failed and sata mounted successfully. Using fdisk -l, we can not find the ssd but can found sata.

**What you expected to happen**:

Mount ssd successfully

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**: k8s

[2019-07-26 05:13] MikeSpreitzer opened #80622 "metric namespace went away in PR #71300"
**What happened**:
I started trying to use the new workqueue metrics and noticed that the "namespace" part of the usual metric name form --- `namespace_subsystem_name` --- is now gone.
See how https://github.com/kubernetes/kubernetes/blob/b234dd06aa3aea6e7c0cda4a5d6bad9c3f859428/pkg/util/workqueue/prometheus/prometheus.go#L42-L46 provides the "Subsystem" and the "Name" --- as fixed quantities ---

[2019-07-26 05:13] MikeSpreitzer commented on #80622
/sig api-machinery
/sig instrumentation

[2019-07-26 05:16] MikeSpreitzer opened #80623 "pkg/util/workqueue/prometheus should be in client-go"
**What would you like to be added**:
#33497 was great; now we need the other shoe to drop.

**Why is this needed**:
k/k is a big import.  A developer of a client should not have to import all of k/k just to get workqueue metrics wired to Prometheus.

[2019-07-26 05:17] MikeSpreitzer commented on #80623
/sig api-machinery
/sig instrumentation

[2019-07-26 05:24] MikeSpreitzer commented on #80475
@jsafrane : so the controller is _not_ guaranteed to get pod delete and create notifications in the case of a deletion and replacement creation; it is possible that the controller just gets a pod update notification.

[2019-07-26 05:37] #80557 closed

[2019-07-26 05:39] uablrek commented on #80462
@vllry

[code]
Yes, kubelet is running. But I start kubelet and kube-proxy from start-scripts so I really think this is a transient problem during start-up that may not be seen if k8s is started in other ways.

I would like to close this issue since nothing seem to break, it just "looks ugly".

That some chains are created by kubelet *is* however unfortunate. It will spill over on dual-stack since

[2019-07-26 05:41] BenTheElder commented on #80434
hmm, we should watch to ensure that actually fixed it
/reopen

[2019-07-26 05:47] zq-david-wang commented on #80577
timezone of master is not timezone of the host where master is running on....my understanding is that " timezone of the master" means "timezone **used by** master".

(timezone is an application-level configuration, each container  has its own timezone.)

The information that whether you're running master component in containers would help people who would or want to help solve your issue, could yo

[2019-07-26 05:52] wybzju commented on #79930
@ahg-g   I think maybe the version I use is too low. The version is 1.10.2

[2019-07-26 06:01] justgotthis commented on #80577
I am running the master components in containers. I built my master in PDT but my cronjobs are executed in UTC. I would like to have consistency and have my cronjobs also executed at PDT along with my masters TZ.

[2019-07-26 06:17] PaulFurtado commented on #67577
@chiluk Thank you!

I just backported the patch onto kernel 4.14, which is our current production kernel.
I made a gist with the backport and some results from your fibtest here: https://gist.github.com/PaulFurtado/ff6c67ec87416b66ba1c6fc70f7beec1

On current generation c5.9xlarge and m5.24xlarge ec2 instance which we use in our kubernetes and mesos clusters, the patch doubles the performance of y

[2019-07-26 06:20] draveness commented on #79930
Do you mind to could close this issue since this is intentional according to @huang-wei's https://github.com/kubernetes/kubernetes/pull/80020#issuecomment-512117268 here?

[2019-07-26 06:40] BenTheElder commented on #80527
I don't think this is a kubelet or containerd bug, I suspect the preloading mechanism is not working correctly.

[2019-07-26 06:45] aojea commented on #80527
:thinking: the image is in the node, you can use it.with crictl,

[2019-07-26 06:48] BenTheElder commented on #80527
er sorry, I just ran into a different issue locally I think...

have not reproduced this one yet.

[2019-07-26 06:49] BenTheElder commented on #80527
sanity check: what is the imagePullPolicy on the relevant pods?

[2019-07-26 06:57] jerbob92 commented on #74071
@gregbacchus I think that was what fixed it for me too.

[2019-07-26 07:03] mborsz opened #80625 "E2E: [sig-network] Services should only allow access from service loadbalancer source ranges [Slow]"
Attempt:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1154361004772036608

has failed with:

[code]

It's only a single failure, so it is possible that this is only a flake, but even in that case it would be very useful to deflake this test.

/cc @kubernetes/sig-network-bugs

[2019-07-26 07:15] mborsz opened #80626 "pull-kubernetes-e2e-gce-100-performance is flaky"
**Which jobs are failing**:
pull-kubernetes-e2e-gce-100-performance is flaky
**Which test(s) are failing**:

**Since when has it been failing**:
**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-100-performance/1154560625217638400/
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-100-performance/1

[2019-07-26 07:26] imduffy15 commented on #65013
For better or worse, for in my case pods that are behind an ingress resource are using node affinity to preferably not schedule them onto the same node. Originally this was done to ensure traffic is balanced across the different nginx ingresses. It has had a positive affect in this case too.

Very interesting! Thank you for sharing, I'm not sure that swapping out the Layer4 GCE load balancer is an

[2019-07-26 07:34] GDegrove commented on #72915
Hey @rus4 do you still need/want any help on this issue?

[2019-07-26 07:44] BenTheElder commented on #80434
Cluster came up in the most recent run, however it looks like tests may fail (it's not done yet). That should be a new issue though.

/close

[2019-07-26 07:44] #80434 closed

[2019-07-26 07:54] BenTheElder commented on #80527
The AlwaysPullImages admission controller was being enabled along with PSP 🙃
https://github.com/kubernetes-sigs/kind/pull/725#discussion_r307626793

/close

[2019-07-26 07:54] #80527 closed

[2019-07-26 07:57] #79930 closed

[2019-07-26 08:00] wilmardo commented on #80243
For the sake of completeness:

This works indeed, when I send the query directly to the CoreDNS pod ip on the same node it works. When I sent it to the CoreDNS on the other node there is no response.

Yes 0.5.0

@BenTheElder Thanks for the fix! <3
@chrisohaver Thanks you for the prompt responses and the help with debugging!

I will close this issue since it is not kubernetes related after all, if

[2019-07-26 08:00] #80243 closed

[2019-07-26 08:03] #69770 closed

[2019-07-26 08:07] mm4tt commented on #80209
@jpbetz, mutex pprofs are available for yesterday's run: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1154436517570023427/artifacts/

Looking at the lease PUT/GET latency graph<sup>[1]</sup> the interesting pprof should be this one: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1154436517570023427/artifac

[2019-07-26 08:12] gjmzj commented on #80152
[code]
Examine a Pod IP and check:
[code]

[2019-07-26 08:13] wojtek-t commented on #80209
mutex profile is more like memory - is shows data since the program start, not from the last X seconds.
So I'm not sure this particular profile will be visible different than other.
But sure - that's one we can start with.

[2019-07-26 08:45] imroc commented on #80428
Yes, this proposal can solve this problem.

[2019-07-26 08:55] sftim commented on #30603
I'd like to be able to run a cluster with different kinds of nodes (maybe some are using Docker, some are using Kata Containers). In one namespace I might want to use both container runtimes but make sure that every Pod in that namespace has images signed via something I trust.

With that in mind, I don't think it's enough to rely on a Docker-specific approach.

[2019-07-26 08:55] YunWang commented on #69767
Hello @wgliang Is there any issue not taken?if any, I would like to work on it.

[2019-07-26 09:10] denmaddog commented on #80579
Hello,
In iptables I see this:

[code]

[2019-07-26 09:18] dansl19 commented on #19317
in my case, it was cert-managaer ns, which stuck in termination state. It could not be delete because of CRDs which was created before but was not seen by cmd ` kubectl get all` but link to the script which has been provided by @difabion do the job. thx @difabion

[2019-07-26 09:23] JoshVanL commented on #80574
I want to use both the new and legacy token authenticators;
https://github.com/jetstack/kube-oidc-proxy/pull/72/files#diff-2642ce8b43502140f383918f8d6b84ccR71
https://github.com/jetstack/kube-oidc-proxy/pull/72/files#diff-2642ce8b43502140f383918f8d6b84ccR75
https://github.com/jetstack/kube-oidc-proxy/pull/72/files#diff-2642ce8b43502140f383918f8d6b84ccR93
https://github.com/jetstack/kube-oidc-proxy

[2019-07-26 09:29] JrCs commented on #80582
Fixing the capitalization issue, fix the problem.
@scottslowe thanks

[2019-07-26 09:34] cmmani commented on #45438
Sorry am new to GCP im just working with kubernetes cluster with manage nodes. But i can't used GKE service and im just work with compute engine have my kubernetes master and minion is in an private compute engine. when I try to deploy a kubernetes service. How can I set loadbalancer of my service I get only my loadbalancer IP in pending stage.

How to set loadbalancer for my service..?

[2019-07-26 09:37] liu4480 opened #80629 "question about watch API？"
Hi， I‘m new for k8s, and I 've a question about watch.
I use client go to watch pods in k8s cluster, and my question is client go connect to apiserver via restful API. But if client go does not receive event from api server for a long time, maybe 10min or even longer, my understanding is that, the connect should be abondoned. But in fact it could keep the session unless apiserver timeouts the conn

[2019-07-26 09:49] justaugustus commented on #80546
I think Release Engineering should be a stakeholder here (if not the primary stakeholder).
I've created #80631, which adds Release Engineering OWNERS, and we can develop a policy similar to the dep-approvers one to ensure we're vetting this throughout the release cycle.

+1 to `build/dependencies/{dependencies.yaml,OWNERS}` (even though it stutters).
Actually, maybe `build/dependencies/versions.ya

[2019-07-26 09:50] justaugustus commented on #80546
/remove-priority backlog
/sig release
/area release-eng
/cc @kubernetes/release-engineering

[2019-07-26 10:05] #73963 closed

[2019-07-26 10:20] aojea commented on #80527
upps, I´m sorry 😅

[2019-07-26 10:29] tallongsun opened #80632 "can't reach services on other node"
have two node:
- node1001
- node1004

i deploy a service fpr which pod running on node1004, then access the clusterip of this service. if access from node1004, will succeed.

but if access from node1001, will fail.

![image](https://user-images.githubusercontent.com/7836739/61945599-f6caf580-afd2-11e9-9b04-d078d78cc02c.png)

fpr-service

iptables on both node are the same

![image](https://user-im

[2019-07-26 10:30] divanikus opened #80633 "Kubelet can't start inside LXD on a BTRFS volume"
# Required information

 * Distribution: Debian
 * Distribution version: 10.0 (Buster)
 * Kubernetes version: 1.15.1
 * Docker version: 18.09
 * Kernel version: 4.19.0-5-amd64
 * LXC version: snap
 * Storage backend in use: BTRFS

# Issue description

I'm trying to spin up a kubernetes cluster inside LXD managed containers. My LXD storage pool is the BTRFS one. Everything is going smooth, until I

[2019-07-26 10:31] sashayakovtseva commented on #79803
KEP can be found in kubernetes/enhancements#1171

[2019-07-26 10:40] dims commented on #80621
@cwdsuzhou can you please follow up with the kata container folks and open the issue there?

/close

[2019-07-26 10:40] #80621 closed

[2019-07-26 11:06] #74496 closed

[2019-07-26 11:15] mborsz commented on #80626
/assign

[2019-07-26 11:21] mborsz commented on #80626
In 1154528288048156672

two nodes haven't registered: e2e-633c34ab54-95a39-minion-group-30vf and e2e-633c34ab54-95a39-minion-group-wh31

[2019-07-26 11:26] mborsz commented on #80626
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-100-performance/1154528288048156672/artifacts/e2e-633c34ab54-95a39-minion-group-30vf/kube-node-installation.log:

[code]

[2019-07-26 11:29] danwinship commented on #80407
What is your kubelet config? In particular, are you setting `makeIPTablesUtilChains` false? If so, don't do that then.

If not, are you running something that might be deleting iptables rules behind your back? eg, "firewall-cmd --reload" or "systemctl iptables restart" ?

[2019-07-26 11:34] mborsz commented on #80626
TypeError looks like a python error and I see only three python calls in the configure.sh file. I think this is the one that fails (it's the only one after "Downloading binary release tar"):

https://github.com/kubernetes/kubernetes/blob/288ea10a594d6d3469c97b68eedd59414343cdd3/cluster/gce/gci/configure.sh#L128-L131

[2019-07-26 11:36] dims commented on #79803
@sashayakovtseva have you seen this? https://github.com/kubernetes/enhancements/pull/1137

[2019-07-26 11:36] mborsz commented on #80626
My understanding of 'TypeError: string indices must be integers' is that `json.loads(sys.stdin.read())` is a string instead of dict as expected.

[2019-07-26 12:11] AnjanaAK commented on #80298
After some debugging, I found that my cluster's Kube-proxy works in IPVS mode. Other clusters, which don't have this issue has Kube-proxy in iptables mode.

The kube-proxy is responsible for proxying the incoming requests to the corresponding services on the private network of k8s.

From the logs of kube-proxy pod of the cluster, "Using ipvs Proxier." message says that we have a cluster with kube-

[2019-07-26 12:19] mborsz commented on #80626
The curl to metadata server must have returned error. Transient errors can happen so we should implement retry logic.

[2019-07-26 12:25] mborsz commented on #80626
Next fail: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-100-performance/1154560625217638400/

[code]

kube-apiserver.log shows a series of slow DELETE deployments, all at the same time:
[code]

[2019-07-26 12:28] mborsz commented on #80626
Sample trace:

[code]

suggests that the issue was with etcd.

etcd's logs shows:
[code]

This suggests that the issue is caused by slow IO.

[2019-07-26 12:32] #80475 closed

[2019-07-26 12:32] #80442 closed

[2019-07-26 12:50] neolit123 commented on #80298
why not use iptables for the problem cluster too?
if ipvs cannot be changed please ping the kube-spray maintainers.

[2019-07-26 13:14] ranjeetbath commented on #80171
@vllry , We are using IBM Cloud

[2019-07-26 13:16] squeed commented on #80061
@vllry thanks for triaging this :-)

The specific cases are when `syncProxyRules()` fails - that function logs an error but doesn't otherwise surface any information. We should have a top-level metric for `syncProxyRules()` failing, along with any other lower-level metrics that might make sense for administrators, e.g. `iptables-save` fails, `iptables-restore` fails.

[2019-07-26 13:31] danielhelfand commented on #80602
@liggitt Thank you for the explanation. I believe this would be a really nice feature to have available, but I am not fully aware of the details of what would be needed to implement something akin to `--sort-by` or a different sorting approach. If there's any ideas around this or if this is in any way being discussed, would like to know more.

[2019-07-26 13:32] mattjmcnaughton commented on #80530
/sig-remove node

[2019-07-26 13:32] mattjmcnaughton commented on #80530
/remove-sig node

[2019-07-26 13:40] mborsz commented on #80626
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-100-performance/1154197300709429248/

fails with:
[code]

kube-apiserver.log:
[code]

[2019-07-26 13:45] ahg-g commented on #80611
Thanks @hex108 , should we start a KEP? This is a good feature to have in 1.17.

[2019-07-26 13:53] alculquicondor opened #80639 "[Scheduler] Default spreading should be configurable for a topology"
By default, the scheduler spreads pods by zone, in order to provide some level of reliability for services.

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/priorities/selector_spreading.go#L108

**What would you like to be added**:

Cluster operators should be able to change this to a topology label that better fits their need.

This can be done with a flag to the bin

[2019-07-26 13:53] alculquicondor commented on #80639
/assign

[2019-07-26 13:54] alculquicondor commented on #75274
This can be superseded by #80639

[2019-07-26 13:55] chrisohaver commented on #80175
I suspect this is kube-dns, since it's k8s 1.11.  Nevertheless with CoreDNS, it works if you fully specify complete port info in the endpoints object.  I suspect the behavior is similar with kube-dns. e.g.

[code]

[2019-07-26 14:02] irozzo-1A commented on #80175
It's `coredns:v1.1.3`

[2019-07-26 14:03] ahg-g commented on #80639
Sounds good, during the sig meeting we also discussed making a change to the scheduler config to specify multiple levels of default spreading, not just one. So it is something to consider.

I this this will need a KEP, and we can target it for 1.17.

[2019-07-26 14:11] mborsz commented on #80626
The 'About to convert to expected version' shouldn't take that long. It's a simple request decoding:

https://github.com/kubernetes/kubernetes/blob/140c8c73a64deb102b528109138ca9fb7dbb2392/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go#L113-L125

[2019-07-26 14:13] chrisohaver commented on #80175
I verified it works in the latest build of CoreDNS when you correctly define the port name and protocol in the endpoint definition.  I expect that the behavior is the same for CoreDNS 1.1.3.

[2019-07-26 14:14] irozzo-1A commented on #80175
I confirm that by adding the name in Endpoints port info it does work. Thanks @chrisohaver

[2019-07-26 14:21] trishankatdatadog commented on #30603
@sftim This is why @justincormack is working on making an [OCI standard for TUF](https://github.com/containerd/cri/issues/624#issuecomment-515173189). Stay tuned...

[2019-07-26 14:30] irozzo-1A commented on #80175
From what I observed the protocol has not to be specified necessarily, as it defaults to TCP, but the name is mandatory.
I assume that it is because the `Endpoints` port name is used to define the DNS entry with format `_my-port-name._my-port-protocol.my-svc.my-namespace.svc.cluster-domain.example`. I thought that it was referring to the `Service` port name. Do you confirm?

[2019-07-26 14:40] chrisohaver commented on #80175
Yes, appears that way.

Yes, for headless Services, the Endpoints objects of the Service are used to build the DNS records, since the Service itself does not have an IP address.

[2019-07-26 14:43] liggitt commented on #78467
opened https://github.com/kubernetes/kubernetes/pull/80641 to resolve this

[2019-07-26 14:46] #80175 closed

[2019-07-26 14:47] benmoss commented on #78857
Further investigation seems to have discredited that idea, I think the problem might be in wincat. Will keep my murmurings to myself until I figure out a solution or give up :)

[2019-07-26 14:52] jingxu97 commented on #72500
is it resolved?
cc @msau

[2019-07-26 15:07] msau42 commented on #72500
Yes
/close

[2019-07-26 15:19] aojea commented on #80198
yeah, it also has a `connect` function, you have an example here https://github.com/kubernetes/kubernetes/blob/9aefaa163f9a8a397de20f4acd41aa25658e9133/test/e2e/network/service.go#L1873

[2019-07-26 16:39] danikam commented on #77131
Just to clarify - the issue you're seeing is that kube-scheduler runs ok after checking out release-1.13, but hangs when you try setting --leader-elect=true?

[2019-07-26 16:45] spiffxp commented on #80557
What ended up being the problem / resolution here?

[2019-07-26 16:48] RobertKrawitz opened #80647 "Report API server throttling by the kubelet by default"
**What would you like to be added**:

Report request throttling by the kubelet by default (i. e. V=3)

**Why is this needed**:

Request throttling can have serious consequences, but it is reported (in `staging/src/k8s.io/client-go/rest/request.go:tryThrottle()`) at V=4, so not by default.

While attempting to probe limits of how many pods per node we could run, we hit a situation where the test po

[2019-07-26 16:48] RobertKrawitz commented on #80647
/sig node
/sig scalability

[2019-07-26 16:48] RobertKrawitz commented on #80647
@sjenning

[2019-07-26 16:55] spiffxp commented on #68091
/remove-lifecycle stale
What would be useful now would be to take a look at tests that are flaking (and their flake rate) and compare to the default that uses flakeAttempts

I would use a modified version of the query contained within this config https://github.com/kubernetes/test-infra/blob/master/metrics/configs/flakes-config.yaml and expand its range over more than `interval 7 day`

/help
This

[2019-07-26 17:11] spiffxp commented on #73111
/close
The original failure cluster is long gone

[2019-07-26 17:11] #73111 closed

[2019-07-26 17:14] spiffxp commented on #80589
/close
The testgrid link now shows some green runs, thanks @BenTheElder

[2019-07-26 17:14] #80589 closed

[2019-07-26 17:48] fgsl opened #80650 "Add initial brazilian portuguese translations"
Aim of this issue is to generate brazilian portuguese translation according to Translations README and sample of issue #40645.

[2019-07-26 18:29] mhrivnak commented on #72637
"restart" is another action that would be useful for many CRDs. It's an imperative action that can involve a procedure of varying complexity. It can be hard to express declaratively in a spec, because the desired end result is for the thing to be "running", which it probably already is.

It's easy to think of other custom actions that would make sense for particular use cases, especially when stor

[2019-07-26 18:35] ncdc commented on #72637
@mhrivnak these can example actions can also be achieved using "request" CRDs, such as `RestartRequest`, `VerifyRequest`, etc.

[2019-07-26 18:47] mhrivnak commented on #72637
Yes indeed, I think nearly any action mentioned on this issue could be expressed that way. In cases where you want to carefully track both the status of individual actions and also the history of actions, that probably makes the most sense. But sometimes you just want the ability to restart a thing without the overhead of introducing a new resource.

[2019-07-26 19:07] nikhilk commented on #72637
I agree with @mhrivnak ... I think there are reasonable scenarios where verbs can be converted resource nouns, but there also those situations where that is just forced/unnatural, and trying to fit to a rigid model. Its always odd to see API programming styles try to fit everything into verbs (pure rpc) or everything into nouns (pure rest).

On that note, its also interesting to hear about the own

[2019-07-26 19:15] ncdc commented on #72637
What we do in Velero is have the controller delete the request CR immediately if the request was processed successfully (alternatively, we could set an ownerReference from the request CR to the other resource, and let GC handle the deletion). If not, we keep it around for a brief period of time. We may incorporate status information from the request CR when describing the resource it's associated

[2019-07-26 19:18] knightXun commented on #66567
that's really hit my s3fs-fuse. If we use s3fs mount a bucket into a host as a dir, then mount this dir into container. At this point if we restart s3fs process, the dir in the container can't be access. Always show me 'Transport endpoint is not connected'. Does the ceph-fuse has the same problem?

[2019-07-26 19:24] nikhilk commented on #72637
@ncdc -- you sort of just made my point that resources are unnatural fit for this use-case.

[2019-07-26 19:28] ncdc commented on #72637
How so?

[2019-07-26 19:35] ncdc commented on #72637
BTW, I'm not at all against arbitrary subresources. I'm pointing out there are ways to achieve what you need today with the current API ecosystem and features.

If we can make it super easy for people to dynamically register webhook handlers for arbitrary subresources, that would be really cool.

I do have a small concern, though: if, as a project author, you expect/require subresource webhooks fo

[2019-07-26 20:19] nikhilk commented on #72637
IMO, it would be great if API aggregation was simpler, so you can author/deploy the combination of CRDs, a controller and API server in an easy/reliable manner.

I might be missing something but at the end of the day, a user must also deploy the CRD and controller to have the basic functionality. Ideally the additional API server bit could be both simplified, and rely on exactly same deployment mo

[2019-07-26 20:31] adammw commented on #75749
/remove-lifecycle rotten

[2019-07-26 20:33] liggitt commented on #72637
the synchronous webhook/server model is not very similar to either the CRD deployment (simple manifest, kube-apiserver handles all the availability/TLS/serving) or the controller (asynchronous, can use existing pod/client-go/service account credentials to reach the API)

[2019-07-26 20:48] denmaddog commented on #80579
My node name is:
[code]

But my node hostname is:
[code]

And kube-proxy is running with flag:
`--hostname-override=ip-10-11-1-71.cbts.all
`
When I change to
`--hostname-override=ip-10-11-1-71.eu-west-1.compute.internal `
and restart kube-proxy pod, everything is working as expected.

I guess that code is somewehere expecting hostname and node name to be the same in order for health check to work/

[2019-07-26 20:54] cheftako commented on #80602
I believe we should be increasingly moving toward paginated clients. Before you pull a resource you don't know how large it is. Pulling an unpaginated list of a large resource can already cause problems to the control plane. So we should be moving clients to using paginated lists. As Jordan indicated we don't currently have data store level support for indexed/ordered reads. Without ordering at th

[2019-07-26 21:31] olivierlemasle commented on #80586
/sig api-machinery

[2019-07-26 21:58] thockin commented on #80278
Clearly the environments are not the same.  Do they all have IPv6 enabled?

/sig node

[2019-07-26 22:02] thockin commented on #80158
What environment is setting the same IP for multiple services?  Is this a custom "provider" for LBs?

It sounds like a bug in IPVS.  @andrewsykim @m1093782566

[2019-07-26 22:09] nabheet commented on #80549
Looks like this is fixed now.

[2019-07-26 22:09] #80549 closed

[2019-07-26 22:10] nabheet commented on #80530
Looks like this might be fixed? It seems to be working now.

[2019-07-26 22:19] thockin commented on #80122
I am not a SIP expert, so I didn't follow all of this, sorry.  There seem to be a number of things in this request.  Please know that I am not against anything, I'd love to make SIP easier to use, but I also have to be aware of what can reasonably be implemented across platforms.

First: a static external IP for a pod.  we do not have any mechanism for this except Service.  I do not think we want

[2019-07-26 22:25] thockin commented on #80110
What you're asking for is a change in the way Amazon handles load-balancing.  ELB is a DNS name.  For counter-example, GCP is a single IP.

/sig aws

I will note that it looks like you want an NLB but are getting an ELB, maybe your annotation is wrong.

Regardless this is not something that Service can control - it is an artifact of the provider.

[2019-07-26 22:25] #80110 closed

[2019-07-26 22:30] thockin commented on #80111
Regarding multiple LB IPs:  A service is a single IP.  You want a service per replica.

regarding multi-protocol LBs:  We specifically didn't allow this because on some providers it costs more money.  We allow it for ClusterIP services but not LoadBalancer.  I am open to reconsidering this.  https://github.com/kubernetes/kubernetes/issues/23880

[2019-07-26 22:30] #80111 closed

[2019-07-26 22:32] thockin commented on #80108
We are not going to add this as an env var and it's very unlikely that we would add it as a projected filesystem.

What someone could do is write a tiny app that read kube-apiserver and writes this data back to disk on a shared volume in a pod, so that your app could read it but it would be dynamically updated by the sidecar app.

[2019-07-26 22:32] #80108 closed

[2019-07-26 22:36] tammersaleh opened #80663 "Swagger spec: Incorrect response model for definition for namespaces/{namespace}/pods/{name}/binding"
Swagger definition for "/api/v1/namespaces/{namespace}/pods/{name}/binding" is incorrect.

The current definition is:

[code]

But the "/api/v1/namespaces/{namespace}/pods/{name}/binding" API actually returns a Status object, not a v1.Binding.

This was determined while attempting to write a Python application that acts as a custom scheduler: kubernetes-client/python#825

[2019-07-26 22:37] tammersaleh commented on #80663
/sig api-machinery

[2019-07-26 22:42] spiffxp commented on #80354
/sig api-machinery
/remove-sig testing

[2019-07-26 23:14] johnbelamaric commented on #80414
The code that ran on the is particular failing run was completely replaced by #79667 two days ago (i.e., after the failure). So, I am going to close this. But we do need to watch this given the updated code.

/close

[2019-07-26 23:14] #80414 closed

[2019-07-26 23:27] spiffxp commented on #80204
FYI @kubernetes/dep-approvers

I'm seeing this across a few verify jobs against release-1.13

eg: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80268/pull-kubernetes-verify/1151855637198540803/
[code]

[2019-07-26 23:34] thockin commented on #79866
In order for traffic policy = local to work, you'd have to advertise ONLY routes to nodes that actually have backends for that service.  Instead of advertising the whole range for all nodes, it would have to be much more dynamic.

That said, I think we could maybe consider "routed to this node" as "external", if we can express it cleanly.  For example, if we could assume an interface prefix, we co

[2019-07-26 23:38] thockin commented on #79732
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L4127

It may be under-documented, but it is not UNdocmented.

[2019-07-26 23:39] thockin commented on #79732
Also https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L3917

[2019-07-26 23:50] jingxu97 commented on #66567
@cofyc you mentioned "Kubelet will remount the volume later because it will find volume mount point does not exist anymore. ". But from my understanding, kubelet does not check whether mount still exist or not and remount it.

For this type problem, are the following steps necessary to recover? Is there any other way?
1. kubelet remount the volume,
2. container restarts with the new mount.

[2019-07-26 23:53] ahelwer commented on #27010
/reopen

I have to script rearranging certs in my file to get around this 🙄

[2019-07-27 00:04] cblecker commented on #80204
https://github.com/kubernetes/kubernetes/pull/80559 should fix it

[2019-07-27 00:07] thockin commented on #79732
working on a PR to fix doc

[2019-07-27 00:07] thockin commented on #79266
@mtaufen is this worth investing in to fix?

[2019-07-27 00:14] danielhelfand commented on #80602
I can agree with the thoughts on paginated clients, but what I struggle with is the idea that a Limit field is available but the client can in no way determine how that data returned is ordered.

Maybe what I’m proposing is truly an edge case for the API, but I think not allowing the determination of order gets rid of use cases for Limit. In the case of pipelineruns, pulling them back by name make

[2019-07-27 00:19] thockin commented on #62720
In the year since I last looked at this, I have done some soul-searching.  I don't think that we want to jam more proxy modes into kube-proxy, and I would ask that we consider how to do this as a stand-alone binary.  We can refactor kube-proxy to make things more reusable if needed.  We can move libs to more available repos in needed.

[2019-07-27 00:43] mtaufen commented on #79266
In kube-proxy I want the same flag override approach to compatibility. Kube
proxy not doing it yet is not exactly a bug because it was a conscious
decision by folks working on it (hard to implement before legacyflag, so
force people to one or the other), but it also blocked incremental
migration to componentconfig because platform and instance specific config
were unsolved, which is why it's worth

[2019-07-27 00:48] spiffxp commented on #80204
/close
Yeah I see it passed against https://github.com/kubernetes/kubernetes/pull/80326

Thanks for the fix @jfbai!

[2019-07-27 00:48] #80204 closed

[2019-07-27 01:28] draveness opened #80667 "Refactor InterPodAffinity with the Scheduling Framework"
**What would you like to be added**:

Most extension points of the scheduling framework have already been implemented, and we should use the Scheduling Framework to refactor original predicates and priorities function. According to the discussion with @ahg-g and @Huang-Wei in https://github.com/kubernetes/kubernetes/pull/80225#issuecomment-515422080 we could start with `InterPodAffinity` since it

[2019-07-27 01:31] draveness commented on #80224
According to the discussion in #80225, we should convert the priority function with the scheduling framework.

ref: https://github.com/kubernetes/kubernetes/issues/80667

[2019-07-27 01:31] draveness commented on #80667
/assign

[2019-07-27 01:33] luckyfengyong opened #80668 "Pods cannot work due to failing to access /etc/hosts inside container if umask of kubelet is configured as 0027"
**What happened**:
Application running inside a pod failed to work as it cannot access /etc/hosts inside the container when umask of the kubelet which starts the pods is configured as `0027`.

It is because the [ioutil.WriteFile()](https://github.com/kubernetes/kubernetes/blob/v1.15.0/pkg/kubelet/kubelet_pods.go#L329) used to create `/etc/hosts` is impacted by umask. Even though kubelet specify th

[2019-07-27 01:37] luckyfengyong commented on #80668
/sig node

[2019-07-27 01:38] luckyfengyong commented on #80668
/area kubelet

[2019-07-27 01:39] luckyfengyong commented on #80668
@dchen1107 @derekwaynecarr @tallclair Any comment?

[2019-07-27 01:42] hex108 commented on #80611
@ahg-g In the plan, I'll share a google document based on previous work for community to edit/discussing, and we could start a KEP after that or update the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/34-20180703-coscheduling.md) directly.  Not sure whether it is a standard process.

[2019-07-27 01:49] tedyu commented on #80611
google doc is easier for reviewers to make comments.
maybe start with google doc first.

[2019-07-27 02:16] librannk commented on #80530
yes its fixed now, variable is updated

[2019-07-27 02:16] #80530 closed

[2019-07-27 02:22] ahg-g opened #80670 "A roadmap for migrating to the scheduler framework"
**What would you like to be added**:
We need a roadmap for migrating the scheduler core, including predicates and priorities, to the new scheduling framework.

**Why is this needed**:
Most of the extension points of the framework has now been implemented, and we need to refactor existing features into the framework

/sig scheduling
/assign

[2019-07-27 02:36] hex108 commented on #80670
Thanks for it! We could break them down by extension points, then break them into small tasks. I have a patch for queue sort plugin at https://github.com/kubernetes/kubernetes/issues/80304, maybe we could start to discuss how to migrate them by this case.

[2019-07-27 03:15] #75652 closed

[2019-07-27 03:16] #80217 closed

[2019-07-27 04:02] yuchengwu commented on #80489
If my understanding is correct,  we are going to deprecate the priority semantic for static/mirror pod in  #80491, that means a static pod with arbitrary priority value will always be treated as critical.

I am afraid this is a breaking change because scheduler preemption based on pod priority is it possible that scheduler preempt a low priority static pod to make room for a higher priority pod? I

[2019-07-27 04:08] yuchengwu commented on #80489
@bsalamat  @dchen1107  Why not following the original idea, `resolve PriorityClassName to the numeric value of priority for static pods` seems more reasonable and harmless.
https://github.com/kubernetes/kubernetes/issues/80203#issuecomment-512624578

[2019-07-27 04:18] pastudan commented on #53777
@raushan2016 it seems to be. I was able to successfully configure a resourcequota with a CRD of `certmanager.k8s.io/certificates` against a kubernetes 1.15.1 cluster

[2019-07-27 05:19] sergey-safarov commented on #80110
Hello @thockin
Annotations is correct
[code]
I also checked via AWS console and via tcpdump I can see sender L3 IP address.

Issue reopened at [`cloud-provider-aws`](https://github.com/kubernetes/cloud-provider-aws/issues/47)

[2019-07-27 05:24] #74631 closed

[2019-07-27 05:43] knightXun commented on #66567
I think the only to fix this to change some logic in cri.

[2019-07-27 05:50] sergey-safarov commented on #80111
Why not create `ServiceTemplate` and use it `StateFulSet` like?
[code]

Such providers may check now many protocols specified in yaml file. If more then one, then generate error message like `"cloud provider XXX do not support multi-protocol 'Loadbalancer' services"`.

[2019-07-27 06:17] sergey-safarov commented on #80107
Issue reopend as [cloud-provider-aws](https://github.com/kubernetes/cloud-provider-aws/issues/48) issue

[2019-07-27 06:17] #80107 closed

[2019-07-27 07:38] yanghaichao12 opened #80674 "error info when using `make kubelet GOGCFLAGS="-N -l" GOLDFLAGS=""`"
**What happened**:
when i execute
[code]
but got：
[code]
here is my golang.sh and  .shellcheck_failures:
[code]
[code]
**What you expected to happen**:
no errors

**Environment**:

Kubernetes version (use kubectl version):1.13.6
Cloud provider or hardware configuration:
OS (e.g: cat /etc/os-release):Ubuntu 16.04 LTS
Kernel (e.g. uname -a):4.4.0-21
Install tools:
Network plugin and version (if this

[2019-07-27 07:38] yanghaichao12 commented on #80674
/sig release

[2019-07-27 08:40] sergey-safarov commented on #80122
Thanks Tim @thockin
About `First` - accepted.

About `Second` - is `customized operator` means go source code changes? Or I can do it without go and kubernetes source code knowledge?

About `Third` - I understand.

About `Fourth` - `ClusterIP` and `LoadBalancerIP` is not acceptable in my case. Reason you can route via `ClusterIP` and `LoadBalancerIP` inbound (from client to server) traffic, but yo

[2019-07-27 08:49] sergey-safarov commented on #80111
For such cloud providers by default we can stop publishing service with message

If admin create `annotation`, then multi-protocol service may be create because admin confirmed service creation.

[2019-07-27 11:56] feiskyer commented on #80571
@MSSedusch Thanks for reporting the issue. I think this should be fixed during v1.16 release cycle.

/milestone v1.16

[2019-07-27 14:31] andrewsykim commented on #80579
The AWS cloud provider does not allow for `--hostname-override`, see https://github.com/kubernetes/kubernetes/issues/64659 for more details. Maybe this needs to be documented better @jaypipes @mcrute @nckturner?

[2019-07-27 14:33] andrewsykim commented on #80579
/close

Closing this for now since it's a known issue, feel free to re-open @denmaddog if needed

[2019-07-27 14:33] #80579 closed

[2019-07-27 14:37] mattjmcnaughton commented on #80647
Thanks for filing the pr to fix :)

[2019-07-27 14:41] mattjmcnaughton commented on #80668
Thanks for filing this @luckyfengyong !

I like your idea about adding documentation/logging around when this happens. What if when the kubelet wrote the `/etc/hosts` file, it performed a check of whether it was 644 vs 640, and if the latter, it at the very least logged an error message and potentially raised an exception. I think that could make debugging this type of issue much easier in the fut

[2019-07-27 14:43] andrewsykim commented on #80158
yeah it seems like the IPVS proxier assumes that if an external IP is removed from a Service it will delete any associated connections to it without checking if the same externalIP is used in another service. See [deleteEndpointConnections](https://github.com/kubernetes/kubernetes/blob/c25763e159a4560b6a7b794c109255eebbf6385d/pkg/proxy/ipvs/proxier.go#L1554-L1579).

[2019-07-27 14:48] andrewsykim commented on #80158
But this should only apply for UDP services as far as I can tell, @ogre0403 can you confirm if those external IPs are using UDP?

/assign

[2019-07-27 15:10] thockin commented on #80158
Why only UDP?  In theory, any LB IP could be shared if ports are disjoint.

On Sat, Jul 27, 2019, 7:49 AM Andrew Sy Kim <notifications@github.com>
wrote:

[2019-07-27 15:23] tedyu commented on #80571
[code]
In the nodeSyncLoop -> updateLoadBalancerHosts -> lockedUpdateLoadBalancerHosts call chain, I don't see where the mutex lock is obtained.

[2019-07-27 16:12] caseydavenport commented on #79866
Yep. The Calico implementation linked above does actually do this dynamic advertising or /32 routes for services with `externalTrafficPolicy: Local` as do others like kube-router, I think.

However, right now the Kubernetes API validates against setting `externalTrafficPolicy: Local` on services with `type: ClusterIP` (which of course makes sense given the original semantics of each).

[2019-07-27 16:23] andrewsykim commented on #80158
Ah good point. Also realizing now that the logic for cleaning up stale UDP connections does account for servie ports so my previous theory is incorrect.

The IPVS proxier does account for external IPs on multiple services though - if it sees at least 1 service using that external IP it should acknowledge that and not unbind it. The only scenario I see this happening is if the externalIP check fail

[2019-07-27 18:37] #30553 closed

[2019-07-27 19:15] thockin commented on #79866
If someone wants to tackle this (specifically how to tell local vs remote
traffic apart, preferably WITHOUT using cluster CIDR) it might be workable.

This is part of why I have advocated for a more holistic network driver
model which includes both kube-proxy and pod networking.

On Sat, Jul 27, 2019, 9:13 AM Casey Davenport <notifications@github.com>
wrote:

[2019-07-27 21:27] tedyu commented on #76322
[code]
We can refine the above doc, saying that the pod would be evicted after kubelet restart (based on the current behavior).

[2019-07-27 22:20] loqutus commented on #80668
/assign

[2019-07-27 22:21] psycho-ir commented on #75918
any update on this bug?

[2019-07-28 00:10] luckyfengyong commented on #80668
Thank you @mattjmcnaughton for the comments.

Adding an error message is good. Can we make a further step to enhance kubelet not depending on umask configured outside? When developing a Linux daemon, people usually write the following logic to make sure the permission of the newly created file is what they want.

[code]

Can we follow the same logic to fix it? If it is OK, I am very glad to submit

[2019-07-28 00:22] JamesArthurHolland commented on #48180
+1 ... It would be useful to e.g have the names of event queues all in one place, so that alterations to the names of the queues don't have to be rewritten in n places.

[2019-07-28 02:37] fanux commented on #76146
I have too, v1.14.2 v1.14.4 v1.15.1 apiserver exit and kubeadm hung.
[code]

[2019-07-28 02:42] jfbai commented on #80557
Fixed by #80559

[2019-07-28 02:55] tedyu commented on #80489
[code]
I guess you meant system-cluster-critical

[2019-07-28 03:29] tedyu commented on #76146
The error likely came from leaseEndpointReconciler#doReconcile :
[code]

[2019-07-28 04:33] cblecker commented on #80546
My understanding is that this file and check was literally designed to be a slight bottle neck so we understand when these dependencies are bumped, and ensuring that all the right places are bumped. So it being a bottleneck isn't a problem, but that doesn't mean we can see if we can make it smoother.

The biggest question I have is directed at the release folks: What do reviewers/approvers in this

[2019-07-28 05:01] redbaron commented on #44703
@liggit,

There some tech challenges indeed, but probably something can be worked out.

Isn't it already somewhat stateful? Authz results depends on current moment in time group membership and rolebinding objects presence. How do caches cope with it? Can current caching technique be extended to accommodate another piece of state?

there is no need for whole object, just labels. What would be the d

[2019-07-28 05:48] #74564 closed

[2019-07-28 06:01] ProdanLabs commented on #80407
@danwinship Hi, we don't define the value of  `makeIPTablesUtilChains`，Firewall is off，`firewall-cmd --reload`is not enforceable，iptables-server is not installed, so, `systemctl iptables restart` cannot execute either.
These redundant service IP can only be removed by restarting the operating system.

[2019-07-28 09:52] #74710 closed

[2019-07-28 11:54] #74696 closed

[2019-07-28 12:13] fpetkovski commented on #69687
@DXist thank you for this contribution, it is provides enormous value!

[2019-07-28 12:57] FrederikNS commented on #48180
@JamesArthurHolland For that you could also make an `ExternalName` service. That way all your services could simply connect to the service `kafka`, and the ExternalName service, will forward the traffic to you external service. This won't work with TLS however, unless the certificate includes the internal name

https://kubernetes.io/docs/concepts/services-networking/service/#externalname

[2019-07-28 13:24] mattjmcnaughton commented on #80668
Interesting! I'm curious to hear the opinions of others... to be honest, I'm not sure I have enough experience writing Linux daemons to say what is the standard behavior.

[2019-07-28 14:14] ricky1993 opened #80690 "apiserver leaks memory cause by bookmark"
**What happened**:
I try to backport bookmark feature to our internal branch. When I enable bookmark feature, apiserver leaks memory. I spend some time to dig the root cause and find the bookmarkWatchers of service cacher is keep increasing. I am not sure if it exists at upstream code. Please let me know if it is ok at latest code.

**What you expected to happen**:
Avoid memory leaking

**How to r

[2019-07-28 14:15] ricky1993 commented on #80690
/sig scalability
@wojtek-t PLAT :)

[2019-07-28 14:29] luckyfengyong commented on #80668
@mattjmcnaughton Sure. It is always good to hear more comments from others.

I just try to share some info about the best practice of writing a daemon from old Linux world :-)

https://stackoverflow.com/questions/3095566/linux-daemonize/3095624#3095624
http://cjh.polyplex.org/software/daemon.pdf
http://www.netzmafia.de/skripten/unix/linux-daemon-howto.html

Calling umask(0) is used to make sure th

[2019-07-28 14:55] tedyu commented on #80690
[code]

[2019-07-28 15:55] wojtek-t commented on #80690
@hormes - can you also please take a look?

[2019-07-28 15:58] #71434 closed

[2019-07-28 16:41] ricky1993 commented on #80690
@tedyu Agree with u. That's same way I fix in our branch.
But I wanna hear the suggestion of @wojtek-t and @hormes .

[2019-07-28 16:59] #74728 closed

[2019-07-28 17:15] jaygorrell commented on #70147
I hope all of you +1 people actually hit the 👍 on the first post where it actually matters.

[2019-07-28 17:26] frittentheke commented on #70411
Apparently you are using check-ssl ? ( https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#5.2-check-ssl)
In the PCAP trace of such a check you can see that as soon as a change cipher message goes through the connection is reset. I would expect a "clean" SSL handshake and then a proper disconnection but not this kind of "noise".

1. TCP setup
2. SSL handshake initiated by client
3. Serve

[2019-07-28 17:44] mitar commented on #69816
/remove-lifecycle stale

[2019-07-28 18:49] ricky1993 opened #80693 "controller manager pod reflector latency"
**What happened**:
In our cluster, when a deployment with over 5k replicas rolling upgrade, the reflector of controller manager will have a obvious latency with apiserver.
![image](https://user-images.githubusercontent.com/10073361/62011345-dacd7c80-b1a9-11e9-9a69-2a954c9f84b6.png)
a piece of apiserver logs:
I0726 15:40:31.255140    2086 cacher.go:1193] processing 7615 initEvents of *core.Pod took

[2019-07-28 18:50] ricky1993 commented on #80693
/sig scalability

[2019-07-28 20:32] tedyu commented on #71319
@SebastianStehle
The full log is no longer accessible.
If you still have it, can you repost ?

thanks

[2019-07-28 20:48] tedyu commented on #71319
From kubelet_pods.go :
[code]
It seems the 'Killing unwanted pod' log should have appeared prior to the 'Killing container' log (killPod ends up calling killContainersWithSyncResult).

[2019-07-28 21:06] tedyu commented on #71319
I wonder if the following change would respect the grace period:
[code]

[2019-07-28 21:31] raravena80 commented on #69041
/remove-lifecycle stale

[2019-07-28 22:04] #72467 closed

[2019-07-28 23:11] neolit123 commented on #80633
/sig node

[2019-07-29 00:06] #74753 closed

[2019-07-29 01:53] mgdevstack commented on #76617
Following references should be fixed.

1. https://github.com/kubernetes/kubernetes/blob/a9d4eddcd1515aac51a8b743cb0df002e7c92225/test/e2e/framework/ingress/ingress_utils.go#L931

2. https://github.com/kubernetes/kubernetes/blob/c1d2ac43ee26a83fd4045353937977c120b7246b/test/e2e/framework/pv_util.go#L807

3. https://github.com/kubernetes/kubernetes/blob/465e96535d578ae67d69b27183f01e3e1aac165e/test/

[2019-07-29 02:05] mgdevstack commented on #76617
13. https://github.com/kubernetes/kubernetes/blob/f5574bf62a051c4a41a3fff717cc0bad735827eb/test/e2e/windows/hybrid_network.go#L39

[2019-07-29 02:08] #66159 closed

[2019-07-29 02:15] draveness commented on #80310
/close

ref: #80341

[2019-07-29 02:15] #80310 closed

[2019-07-29 02:24] YoubingLi commented on #80674
I can successfully run your command in my workspace basing on following commit

commit cc0137cdc6a4511049838de5937ccd0ed5c55349
Merge: 2321d1e9e8 bd15f3f9f7
Author: Kubernetes Prow Robot <k8s-ci-robot@users.noreply.github.com>
Date:   Thu Jul 25 18:12:00 2019 -0700

    Merge pull request #80398 from aojea/ipfamily

    Add ip family autodetection to the testing framework

make kubelet GOGCFLAGS="

[2019-07-29 02:36] ricky1993 commented on #80690
![image](https://user-images.githubusercontent.com/10073361/62018263-957e6e80-b1ec-11e9-8a33-4519b0fe8a15.png)
With the same bugfix @tedyu wrote above, we can see the memory not increasing any more.

[2019-07-29 03:09] #74765 closed

[2019-07-29 03:19] ogre0403 commented on #80158
We think this issue has been resolved in v1.12.

We've updated our kube-proxy to v1.12.5. In this version, proxier  will find out the legacy bind address first, then delete only  these addresses.

https://github.com/kubernetes/kubernetes/blob/v1.12.5/pkg/proxy/ipvs/proxier.go#L1658

[code]

[2019-07-29 03:24] wangxiaoq opened #80698 "[Controller Manager][StatefulSet Controller] Different ControllerRevisions with the same Revision"
**What happened**:

We create a statefulset called `mysql-statefulset`, which will create 2 pods. Consider the following case:

Time | User | Statefulset Controller | ControllerRevision Informer's Cache | Statefulsets Informer’s Cache | Pods Informer’s Cache |APIServer（etcd）
-|-|-|-|-|-|-
0 | `kubectl create -f statefulset.json` | | | | |
1 | | | | | | Create a statefulset – mysql-statefulset
2 |

[2019-07-29 03:33] wangxiaoq commented on #80698
@mortent  @kow3ns

[2019-07-29 03:44] wgliang commented on #69767
@YunWang You can take it any one. Some work needs to be supplemented and continued, and it would be great if you could continue to advance. Thanks！

[2019-07-29 03:56] gaorong commented on #76322
After revisiting this issue, I found maybe we should not change logical in scheduler to fix this, to some extent,  the root cause is kubelet does not support restore action: for those already created pod, kubelet should execute restore instead of execute `handler.HandlePodAdditions` function.

[2019-07-29 05:30] natlibfi-arlehiko commented on #63704
/remove-lifecycle stale

[2019-07-29 06:22] wojtek-t commented on #72479
/remove-lifecycle stale
/lifecycle frozen

Effectively, this is already happening.

[2019-07-29 06:44] purva-n opened #80702 "Running kubetest performance tests independently"
**Which jobs are failing**:
The Performance test seem to fail consistently.
• Failure [857.731 seconds]
[code]
**Which test(s) are failing**:
[code]

**Reason for failure**:

- 2 Performance tests Load and Density are to be run on my 105 node k8-cluster + 1 master.

- **ResetSchedularMetrics()** from **density.go** was precluding Density performance test.

- After commenting out ResetSchedularMetr

[2019-07-29 07:13] #74779 closed

[2019-07-29 07:14] WanLinghao commented on #27282
same problems in my case

[2019-07-29 07:25] feiskyer commented on #79597
Update: https://github.com/Azure/aks-engine/pull/1626 has been merged, but a new release with this change is not available yet. Pending on aks-engine's next release.

[2019-07-29 07:33] DeepLJH0001 opened #80704 "[Kubelet] When I running a SPDK app，how app know what core they are assigned？"
**What would you like to be added**:
When cpu-manager was set in `static` mode, Pod shoud had a status about cpu assign info
**Why is this needed**:
Some app base on DPDK need  isolated cpu core to running，they also need know what core they are running. If the status has infomation about cpu assigned , we can set it in env，so app also awared what core they shoud using.

[2019-07-29 07:33] DeepLJH0001 commented on #80704
/sig node

[2019-07-29 07:43] imroc commented on #80428
Reopen this, reminding to change the logic after the [proposal](https://github.com/kubernetes/enhancements/pull/1083) is implemented. Simply remove this in `getNodeConditionPredicate()`:
[code]

[2019-07-29 07:47] wojtek-t commented on #80690
Given that watch-bookmarks doesn't create any additional go-routines (well, creates 1, but cannot leak them), it has to leak the data. The only data that can be leaked is exactly bookmarkWatchers.

So I looked into the code and got into exactly the same conclusion - that we must be leaking watchers for resources that aren't changing.

The fix as above makes sense (though we also need a unit test f

[2019-07-29 07:49] kidlj commented on #13382
me the same.

[2019-07-29 07:53] ricky1993 commented on #80690
Thanks a lot.

[2019-07-29 08:14] #72212 closed

[2019-07-29 08:20] dgunjetti commented on #79512
Network policies are implemented by network plugin, in case of calico it seems deny rules need to be duplicated with log rule. [link](https://github.com/projectcalico/felix/issues/1351)

[2019-07-29 08:31] zakthan commented on #79512
Hi Deepak,
the thing is that this way if you choose to switch to a different network plugin you need to rewrite all network rules according to the syntax of the new plugin.
It would be very nice if you could do it with the native netwok policies.

[2019-07-29 09:22] wojtek-t commented on #80690
https://github.com/kubernetes/kubernetes/pull/80692 has the fix by @tedyu

[2019-07-29 09:45] chaudyg commented on #77864
Any more thoughts? @derekwaynecarr would you have some time to take a look?

[2019-07-29 09:58] wojtek-t commented on #75554
Both were merged. Closing.

[2019-07-29 09:58] #75554 closed

[2019-07-29 11:40] deads2k commented on #79610
@liggitt It's not obvious to me what behavior is desired.  Consider a case like:

1. CR is already present and available.
2. informer is started for lister and event handling
3. CRD is deleted
4. all CR instances are removed and events sent
5. the backing reflector starts 404ing
6. I think this is where desired behavior may change.  Some watchers may wish to disconnect their informer/lister entire

[2019-07-29 11:55] cofyc opened #80712 "GCE cluster script should skip fs formating if the device is a member of LVM/RAID"
**What happened**:

Node is not ready. The startup script fails with the following error:

[code]

This is because the block device is used as a member of LVM. So `tune2fs -l /dev/disk/by-id/google-local-ssd-0` in [cluster script](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L213) fails.

**What you expected to happen**:

The node becomes ready.

**How t

[2019-07-29 12:04] dims commented on #63704
cc @justaugustus

[2019-07-29 12:14] danwinship commented on #80407
Hm... didn't realize this was ipvs-related when I took it. I don't really know that code.
/uncc

[2019-07-29 12:22] neolit123 commented on #80629
/triage support

[2019-07-29 12:23] neolit123 commented on #80632
/triage support
/remove-kind bug

[2019-07-29 12:23] neolit123 commented on #80650
/sig docs
/kind feature

[2019-07-29 12:26] neolit123 commented on #80712
/sig cloud-provider

shouldn't this be reported to the GKE issue tracker?

[2019-07-29 12:30] cofyc commented on #80712
this has been reported to GKE issue tracker, but because the script resides in kubernetes repo, so I opened an issue here for tracking.

[2019-07-29 12:55] dims commented on #72102
If anyone needs an urgent fix, please use this - https://github.com/moondev/kubernetes/commit/45f6cb2c96705d03b3b77c16a3680b5526e14729#diff-c9fae1df26aedd520ef93a008d255581R136-R148

[2019-07-29 13:19] #74704 closed

[2019-07-29 13:23] agolomoodysaada commented on #3595
Can we remove the stale bot for this issue?

[2019-07-29 13:30] luksa commented on #79579
This has already been fixed. See https://github.com/kubernetes/kubernetes/commit/75b18e20d5258efbfb710c75c8aebda7ba652a40

[2019-07-29 13:30] jsafrane commented on #79980
They pass because their container does not handle SIGTERM and it takes 30 seconds to kill them. Kubelet has enough time to `SetUp` the volume during reconciliation.

[2019-07-29 13:39] ashishranjan738 commented on #34549
/reopen

[2019-07-29 13:40] j-griffith commented on #34549
/reopen

[2019-07-29 13:43] alculquicondor commented on #80372
@draveness do you mind if we take this?

[2019-07-29 13:46] dims commented on #3595
/remove-lifecycle stale

[2019-07-29 14:11] draveness commented on #80372
Please do. I thought you are working on this. :)

/unassign

Regards,
Draven
On Jul 29, 2019, 9:46 PM +0800, Aldo Culquicondor <notifications@github.com>, wrote:

[2019-07-29 14:12] nevola commented on #62720
Hi Tim, currently nftlb is a binary that can be launched in daemon mode (provided with a web service API) but also, as an standalone executable that generates rules according to an input configuration (in JSON format). For sure, it is required to have installed the netfilter/nftables stack but I think that it can be compiled statically, if you mean so.

AFAIU the daemon should understand kubernete

[2019-07-29 14:18] dims commented on #36666
@tallclair @mikebrow Any updates? Following up on @liggitt 's query, what is the "current plan" for the streaming server?

[2019-07-29 14:21] droslean opened #80715 "[ Failing test ] build-packages-debs, build-packages-rpms"
**Which jobs are failing**:
build-packages-debs
build-packages-rpms

**Since when has it been failing**:
Since job has started. See [PR](https://github.com/kubernetes/test-infra/pull/13343/files)

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#build-packages-debs
https://testgrid.k8s.io/sig-release-master-informing#build-packages-rpms

**Reason for failure**:
[code]
[code]

[2019-07-29 14:23] droslean commented on #80715
/sig release

[2019-07-29 14:24] bg-chun opened #80716 "Support Container Isolation of Hugepages"
**What would you like to be added**:
/kind feature

**Why is this needed**:

This issue is intended to start discussion for future enhancement of kubelet.

## What is an issue?
- At this point, Kubernetes supports only pod isolation of hugepages where aggregated hugepages each container requests in a pod are managed as pod's resource in total. (even Hugepages are specified as ‘hugepages-<size>’ fi

[2019-07-29 14:26] droslean commented on #80715
Job configuration: [test-infraconfig/jobs/kubernetes/sig-release/kubernetes-builds.yaml#L62-L90](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/kubernetes-builds.yaml#L62-L90)

[2019-07-29 14:28] droslean commented on #80715
Related PR that updates `Makefile` is  [kubernetes/release/pull/818](https://github.com/kubernetes/release/pull/818)

[2019-07-29 14:33] alejandrox1 commented on #80715
Thank you for filing this issue @droslean !

/priority critical-urgent
/milestone v1.16

[2019-07-29 14:35] alejandrox1 commented on #80715
Same failure in https://testgrid.k8s.io/sig-release-master-informing#build-packages-rpms

[2019-07-29 14:53] glb commented on #48912
I think I've got a [change](https://github.com/kubernetes/kubernetes/compare/master...glb:experimental/emptydir-mount-options) that might do what the OP was looking for, but haven't yet been able to do a proper e2e test.

Having gone through this, though, I'm wondering if this is really the right solution, or if the right solution is more general and involves adding `mountOptions` to [VolumeMount]

[2019-07-29 15:28] neolit123 commented on #80546
@yastij @dims
another problem that i found is that the coredns version being coupled between kubeadm and kube-up will block kubeadm PRs from merging see: https://github.com/kubernetes/kubernetes/pull/78033

while we want to keep the versions in sync, i don't think we should block in such cases.

/kind bug

[2019-07-29 15:35] soggiest opened #80717 "[Failing Test] [sig-storage] CSI Volumes [Driver: csi-hostpath] Snapshot Tests"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-alpha-features

**Which test(s) are failing**:
[sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (default fs)] provisioning should provision storage with snapshot data source [Feature:VolumeSnapshotDataSource]
[sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic Snapshot] snapshottable should create sna

[2019-07-29 15:36] bg-chun commented on #80716
/check-cla

[2019-07-29 15:36] alecmerdler opened #80718 "Incomplete `details.causes` When Creating Invalid Custom Resource"
**What happened**:

When attempting to create an instance of a custom resource which fails to meet the requirements in the CRD's `spec.validation` (like missing required field), receive an incomplete response error object:
[code]
Notice `"field": "[]"` in `causes`. This should be `spec.password`.

**What you expected to happen**:

Error response contains correct `details.causes` fields. Below is t

[2019-07-29 15:38] alecmerdler commented on #80718
I understand this could potentially be related to [structural schemas for CRDs](https://kubernetes.io/blog/2019/06/20/crd-structural-schema/), but haven't had a chance to confirm.

[2019-07-29 15:43] soggiest opened #80719 "[sig-network] Services should only allow access from service loadbalancer source ranges [Slow]"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-slow

**Which test(s) are failing**:
[sig-network] Services should only allow access from service loadbalancer source ranges [Slow]
[sig-network] ESIPP [Slow] [DisabledForLargeClusters] should work from pods

**Since when has it been failing**:
7-25-2019

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-slow

[2019-07-29 15:49] bg-chun commented on #80716
/check-cla

[2019-07-29 15:51] bg-chun commented on #80716
/sig node

[2019-07-29 15:52] bg-chun commented on #80716
/check-cla

[2019-07-29 16:01] andrewsykim commented on #80158
Ha, didn't realize this was for kube-proxy v1.10.10 😬

Feel free to re-open if you run into the same issue in v1.12

/close

[2019-07-29 16:01] #80158 closed

[2019-07-29 16:02] bg-chun commented on #80716
/check-cla

[2019-07-29 16:13] bg-chun commented on #80716
/check-cla

[2019-07-29 16:16] lavalamp commented on #74681
/reopen
/lifecycle frozen

Didn't see this until it showed up in my inbox just now, oops.

This seems worth having a conversation about. I can imagine other solutions? But this one is maybe the most obvious way to solve the problem.

It might break clients, if they are sending random parameters. Maybe that is a good thing.

@deads2k @liggitt

[2019-07-29 16:21] ErMaVi commented on #71233
Looks like the issue here is that the file /sys/fs/cgroup/hugetlb/kubepods/hugetlb.2MB.limit_in_bytes is set to 0 in the worker nodes. This prevents PODs from allocating huge pages. Setting this limit to a higher value in the worker nodes (It would have to be done on every node) solves it.
'''
echo 9223372036854771712 | sudo tee hugetlb.2MB.limit_in_bytes
'''

[2019-07-29 16:22] #74607 closed

[2019-07-29 17:03] bg-chun commented on #80716
@ConnorDoyle @balajismaniam @lmdaly @derekwaynecarr @sjenning @PiotrProkop @dchen1107
Hi all!
I have a plan for this issue, I wanna get any comment from you guys. :)

As i mentioned above, it seems current hugepages implementation has a potential issue(Resource Startving).
And my plan is writing a new KEP to address it.
But my concern is this is not only matter of kubernetes but also containerd, r

[2019-07-29 17:24] yliaog commented on #80457
i think the root cause of the issue is the missing blank line between the tag "// +genclient
// +genclient:nonNamespaced " and the type def "type Foo struct {"

if you add a blank line, the informer would be generated correctly.

[2019-07-29 17:34] liggitt commented on #44703
Not with respect to the resource being authorized. For a given authorization policy and request attributes, the results are static. This change would make them depend on the current state of the resource being authorized.

Not all clients of subjectaccessreview currently provide labels (e.g. kubelets when authorizing access to the kubelet API do not populate the labels of the node resource).

Requ

[2019-07-29 18:23] otaviof opened #80722 "Fixture List using Unstructured"
**What happened**:

Using `k8s.io/client-go/testing/fixture.go`'s `List` method with `UnstructuredList` object, returns error duing `Decode` object. Along the path it has lost metadata kind and APIVersion.

**What you expected to happen**:

Metadata kind and APIVersion would be kept regardless.

**How to reproduce it (as minimally and precisely as possible)**:

Please consider the [example repo](h

[2019-07-29 18:29] alculquicondor commented on #80372
I want to first know what we should do with `NodeInfo`.

[2019-07-29 18:34] liu-cong commented on #80372
I can work on this if @alculquicondor doesn't mind

[2019-07-29 18:34] dims commented on #80092
@Pothulapati please don't forget to update cadvisor in k/k as well.

[2019-07-29 18:35] liu-cong commented on #80372
/assign

[2019-07-29 18:45] Kerren-Entrostat commented on #33618
Hi everyone,

Just to add to this, I was having problems getting my nodes to join the master node (this was not a cloud setup). I did and extra step which got everything working pretty well. I added an entry to my `/etc/hosts` file on the node itself that directed the hostname of the node to its IP address on the correct interface.

So for example, if your node's hostname is `node-1.cluster.exampl

[2019-07-29 19:01] rakeshvanga commented on #41638
I'm still facing this issue with Kubernetes version 1.12.8 on a AKS cluster when I mount a Azure Storage as azureFile share.
Did anyone know if the issue is fixed for all types of mounts and not only just the emptyDir?

[2019-07-29 19:19] tedyu commented on #80372
As Aldo said above, we should decide how NodeInfo is handled.
It's better to get consensus first.

[2019-07-29 19:25] otaviof commented on #80722
@isutton plese consider the things we've worked together. Also the PR https://github.com/kubernetes/kubernetes/pull/80723

[2019-07-29 19:25] #74816 closed

[2019-07-29 19:49] bsalamat commented on #80489
#80203 (comment)

@dchen1107 In the SIG node meeting, I heard that they do not want to create such dependency on API server. My understanding is that such dependency causes problem in cluster bring-up.

[2019-07-29 20:15] msau42 commented on #80712
/assign @saad-ali

[2019-07-29 20:26] #74694 closed

[2019-07-29 21:28] davidz627 commented on #72139
Discussed with @ddebroy, we should add tests that guarantee this behavior

[2019-07-29 21:28] roycaihw commented on #80622
cc @logicalhan

[2019-07-29 21:29] roycaihw commented on #80623
cc @logicalhan

[2019-07-29 21:30] liggitt commented on #80663
see also https://github.com/kubernetes/kubernetes/issues/59501

[2019-07-29 21:31] roycaihw commented on #80663
/assign

[2019-07-29 21:53] tallclair commented on #36666
I should probably write this up as a KEP, but here are the bullet points for now. The solution I would like to see:

- introduce streaming gRPC calls to the CRI API
- streaming requests are proxied through the API server & Kubelet
  - client calls apiserver, which does an upgrade request to the kubelet (as today), kubelet calls streaming CRI functions, and proxies the output to the apiserver
- rem

[2019-07-29 22:28] #74828 closed

[2019-07-29 22:36] RMcD commented on #50898
@jonstacks Not to mention that AWS Backup supports automatic snapshots of EBS based on tags.

https://aws.amazon.com/about-aws/whats-new/2019/01/amazon-ebs-integrates-with-aws-backup-to-protect-your-volumes/
https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#tag-based-backup-policies

[2019-07-29 23:49] oomichi commented on #78613
After @liggitt's patch was merged, I tried to get which APIs are touched on my local environment by the latest conformance test.
The following non-GA APIs are still touched:
[code]

[2019-07-29 23:50] jpbetz commented on #80209
Wasn't able to get much of use from the mutex profile, unfortunately. I don't see any blocking highlighted except for IO. Was anyone else able to pick anything out from the data? I'm working on trying to reproduce with a benchmark, I'll report back.

[2019-07-29 23:59] tatsuhiro-t commented on #80457
I disagree.  The other generators can handle this without extra blank lines.  Actually, informer-gen partially handles this except for the broken portion which #80458 tries to fix.
Leaving generator tool like this in inconsistent state is huge UX regression.   This is clearly a bug to me.

[2019-07-30 00:19] PMende commented on #24803
Any resolution to this? I'm current trying to get a `preStop` hook that will sync a particular directory in a container to a location on S3. The stop never runs, however. I can invoke the same command after doing a `kubectl exec -it ...` and it works just fine.

[2019-07-30 00:23] eclipseo opened #80733 "apimachinery: Golang 1.13 requires bigger keys"
Golang 1.13 uses TLS 1.13 by default (opt-out), which introduces RSA-PSS.
RSA-PSS does not work with keys that are too small.

The issue was uncovered during Fedora mass rebuild which uses Golang 1.13:

[code]

See https://github.com/golang/go/issues/30055

/sig api-machinery

[2019-07-30 00:54] jerrylam commented on #78446
any update on this? I have this issue everyday. I wonder if there is a workaround at least?

[2019-07-30 01:47] justaugustus commented on #80715
/assign

[2019-07-30 02:01] liggitt commented on #80733
What is the failure mode if a smaller key is used?

[2019-07-30 02:03] liggitt commented on #80718
Structural schemas were added in 1.15

[2019-07-30 02:04] WanLinghao commented on #80535
One thing is, if admin wants to change any clusterrole/role, he must check if any reference exists in advance.  Could this also be complicated?

[2019-07-30 02:04] liggitt commented on #80718
Thanks for the report. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/68787

/close

[2019-07-30 02:05] #80718 closed

[2019-07-30 02:10] ProdanLabs commented on #80407
I still don't understand why after using `kubectl delete -f deploy+svc.yaml` to delete,Kube-ipvs0 NIC and IPtables also have removed ServiceIP,routing rules

I am currently solving this problem.

[2019-07-30 02:14] warmchang commented on #79579
@luksa thanks! fixed by https://github.com/kubernetes/kubernetes/pull/78774, close it.

[2019-07-30 02:14] #79579 closed

[2019-07-30 02:28] kharunsamuel1 commented on #80541
Got around to reproducing it and can confirm that I'm getting the same behavior. I'm looking into fixing it now

[2019-07-30 03:08] justaugustus commented on #79056
/remove-sig release
/area release-eng
Ping @kubernetes/sig-testing.

[2019-07-30 03:08] justaugustus commented on #79056
/remove-sig contributor-experience

[2019-07-30 03:09] justaugustus commented on #79056
/sig testing

[2019-07-30 03:09] hex108 commented on #79365
I checked the code, but not sure whether it is intended to get pods list just by labels and not check the owner reference. @@DirectXMan12 Could you please help confirm it? Thanks! If it is not intended, I could send a PR to fix it.

[2019-07-30 03:14] justaugustus commented on #78968
/area release-eng
/priority important-longterm
/milestone v1.16

[2019-07-30 03:16] justaugustus commented on #78940
/area release-eng
/milestone v1.16
/priority important

[2019-07-30 03:17] justaugustus commented on #78940
/priority important-soon

[2019-07-30 03:18] justaugustus commented on #78935
Where did we land with this?

[2019-07-30 03:21] justaugustus commented on #78897
Is this still an issue?

/area release-eng
/priority important-soon
/milestone v1.16

[2019-07-30 03:21] justaugustus commented on #78897
/help

[2019-07-30 03:39] yue9944882 commented on #80663
this should be addressed in v3 openapi publishing..

/assign

[2019-07-30 03:40] justaugustus commented on #78702
/area release-eng
/help
/milestone v1.16
/priority important-longterm
cc: @kubernetes/bash-firefighters

[2019-07-30 03:41] justaugustus commented on #78698
/area release-team
/priority important-soon
/kind documentation
/close

[2019-07-30 03:41] #78698 closed

[2019-07-30 03:49] justaugustus commented on #65180
I'm in favor of this.

/sig testing
/priority important-soon
/milestone v1.16
/help

[2019-07-30 03:57] justaugustus commented on #78134
/area release-eng
/milestone v1.16
/help
/priority important-soon

[2019-07-30 03:59] justaugustus commented on #78436
/remove-sig release
/help
/triage support

[2019-07-30 04:02] justaugustus commented on #78679
/area release-eng
/priority important-longterm

[2019-07-30 04:06] BenTheElder commented on #79056
This was an upstream bug, long since fixed.
/close

[2019-07-30 04:06] #79056 closed

[2019-07-30 04:42] AnjanaAK commented on #80298
I can do that. But I just wanted to know why IPVS mode has this problem and how to resolve it.

[2019-07-30 05:07] mkumatag commented on #70165
/reopen

[2019-07-30 05:13] #80335 closed

[2019-07-30 05:38] jomach commented on #76259
I'm trying to compile cadvisor and I'm getting the same error...

[code]

[2019-07-30 06:12] wojtek-t commented on #78935
We discussed this during the last SIG Arch and we decided that for now we can close it - we did couple mitigations on our side (moving jobs around etc.). We will reopen if it appears to be not enough (but I think it should be enough).

[2019-07-30 06:12] #78935 closed

[2019-07-30 06:25] xilu0 opened #80738 "Node IP be configed to kube-ipvs interface of all nodes of the cluster"
**What happened**:
Node IP be configured to the kube-ipvs interface of all nodes of the cluster.
**The IP 100.75.228.28 is my host IP**
![image](https://user-images.githubusercontent.com/23609955/62105527-3a747680-b2d5-11e9-842a-37e214133bb0.png)

**What you expected to happen**:
nothing.

**How to reproduce it (as minimally and precisely as possible)**:
I don't know.

**Anything else we need to k

[2019-07-30 06:30] xilu0 commented on #80738
/sig network

[2019-07-30 06:42] xilu0 commented on #80738
/area ipvs

[2019-07-30 06:56] llussy commented on #66844
I have encountered the same problem，When I upgraded from 1.12.6 to 1.13.8.
kube-controller-manager Can not start.
**kube-controller-manager log**
[code]

**api-server log**
[code]

[2019-07-30 07:19] YunWang commented on #69767
@wgliang Thanks. I would like to woke on [#69771](https://github.com/kubernetes/kubernetes/issues/69771). And I will make a PR as soon as possible.

[2019-07-30 07:46] RayHuangCN opened #80741 "kube-apiserver print lots of grpc log: got update addr from Notify"
I got lots of logs like:
I0730 15:38:27.137684       1 asm_amd64.s:1337] balancerWrapper: got update addr from Notify: [{etcd.xxx.com:2379 <nil>}]
I0730 15:38:27.137709       1 asm_amd64.s:1337] balancerWrapper: got update addr from Notify: [{etcd.xxx.com:2379 <nil>}]
I0730 15:38:27.137733       1 asm_amd64.s:1337] balancerWrapper: got update addr from Notify: [{etcd.xxx.com:2379 <nil>}]
I0730 15:

[2019-07-30 07:59] mborsz commented on #80625
/cc @kubernetes/sig-network-test-failures

[2019-07-30 08:52] jfbai commented on #61647
/assign

[2019-07-30 08:57] noeliajimenezg commented on #44528
Same issue in OpenStack.

[2019-07-30 08:58] #78631 closed

[2019-07-30 09:44] fancygo commented on #76956
Waiting for solution!

[2019-07-30 09:51] RakeshNagarajan commented on #48798
Then what is the solution

[2019-07-30 10:06] purva-n commented on #54651
Any ideas on this?

[2019-07-30 10:25] jsafrane commented on #79980
It turns out that I tested with broken version of #80743 and reconstruction is broken only for ephemeral volumes that don't mount.

[2019-07-30 11:18] dims commented on #76259
@jomach here you are building just cadvisor, not kubernetes, can you please open an issue there?

[2019-07-30 11:35] bclau commented on #80194
Do we still need this? I could add this if needed.

[2019-07-30 11:58] MartinKaburu commented on #79299
cc @soltysh  @seans3 @mengqiy I would like to take this

[2019-07-30 12:00] alwinmarkcf commented on #70047
In fact a huge important usecase where I don't want to start messing with etcd. Actually this will be an issue for everybody using ceph when it comes down to scaling the nodes.

I hope there is another solution for this, or is there anyway one can contribute something to push this?

[2019-07-30 12:02] Starefossen commented on #22024
I'm seeing this is logs from application connecting to the kubenretes API using the official API clients. This should definitly be handled better then just ignore it.

[2019-07-30 12:30] jfbai commented on #61675
#80043

[2019-07-30 12:30] jfbai commented on #61675
/close

[2019-07-30 12:33] #80422 closed

[2019-07-30 12:37] alwinmarkcf commented on #70047
I may found another way.

I was able to export the resource via:

[code]

Then add/change/remove the monitors from /tmp/mypv.yaml

[code]
and remove the finalizer (which is preventing unattended deletions)

Now we can apply the changes dirty via:

[code]

Finally you should restart the pod or for a large number of pvs restart the node(s)

[2019-07-30 12:38] deads2k commented on #44703
Much of the kubernetes ecosystem is built around the idea that a resourcecversion is consistent across all time.  Even ignoring the distinctions you'd have around multiple readers getting inconsistent views of the API for a given resourceversion, you actually end up with cases where the *same subject* will get different responses for a given resourceversion over time.

If their permissions change