[2016-03-23 06:58] #23120 closed

[2016-03-23 06:59] bgrant0607 commented on #23104
Even if a change were detected, ideally it wouldn't automatically trigger a container restart, but rather would trigger a check whether a restart were necessary, but examining the actual state of the container in the system.

[2016-03-23 07:00] wojtek-t commented on #23278
@smarterclayton - in general yes, but it seems we leaked it to some places.
I will try to fix it today.

[2016-03-23 07:02] wojtek-t commented on #23363
Agree - let's wait for protobuf and then check if it makes sense to do anything else (it's possible that we may be able even to remove ugorji)

[2016-03-23 07:05] david-mcmahon commented on #23347
The process I described in https://github.com/kubernetes/kubernetes/pull/23345#issuecomment-199983794 I implemented here at Google for our kernel team many years ago and it was a huge success.  Developer/contributors were very happy with the notification mechanism and the workflow that allowed them to target changes to multiple branches and have the resolver deal with figuring out when order or re

[2016-03-23 07:09] wojtek-t commented on #23323
@jsravn - ok, if you are using make release that's fine. Basically my fear was that you may be using a different go version that we are using (we observed different performance issues with Go 1.5), but it seems it's not the case.

[2016-03-23 07:21] feiskyer commented on #13768
@resouer have drafted a simple POC (in terms of `logs` api) to compare the performance penalty between client-server mode and compiled in mode. The POC is at [here](https://gist.github.com/resouer/112448583601f452a80f) and the evaluation results is [here](https://docs.google.com/spreadsheets/d/1w1OQ0eoRJvIt4QxsZyKV7-h-hXldpLgDU8_wKZgKm0g/edit?pref=2&pli=1#gid=0).

The results is: there are 17%-30%

[2016-03-23 07:23] wojtek-t commented on #23349
@jeremyeder - from the "cluster" perspective, what really matter is the total number of pods. So if you have fewer nodes in the cluster, you can put more pods on them without affecting apiserver, etcd or controllers performance. So that doesn't seem to be a problem given that you are talking abour smaller deployments in terms of number of nodes.

Also, we are planning to increase the total number

[2016-03-23 07:42] gmarek commented on #22262
cc @davidopp

[2016-03-23 07:45] gmarek commented on #23352
It's better than kube-up's. Let's not be more catholic than pope.

[2016-03-23 07:45] #23352 closed

[2016-03-23 08:29] jsafrane commented on #23330
Just for the reference, there is a PR that makes dynamic provisioning configurable via ConfigMaps. Zones was one of the use cases that it should solve:
https://github.com/kubernetes/kubernetes/pull/17056/files#diff-75765e8f566753da9b95d2077b1d7418R77

As @saad-ali  pointed out, we got distracted by other work.

[2016-03-23 08:40] hehailong5 opened #23369 "How to only process the last notification from creating rc or deleting rc"
Hi,
I am using the list watch to watch the changes to kube pods, when I create a RC or delete a RC, the event handler would both receive a bunch of update notifications,  among them, there are many notifications indicating the intermediate status, how to avoid to handle all those intermediate notifations but process the last notifcation for each pod? I just want to handle the last update notificat

[2016-03-23 09:07] worroc commented on #23354
In additional, adding hooks to the rolling_update process as well may transfer unique resources from one Node to another. For an instance Data Nodes with r/w PD. The disk may be disconnected and reattached to the New Pod before it starts.

[2016-03-23 09:09] davidopp commented on #23105
@kevin-wangzefeng and I discussed this, and we are thinking now maybe a better approach is to move such config files out of docs/ and into examples/. That way they will stay in the main kubernetes repo and the problem described here goes away. (Until we decide to move examples/ into a separate repo...) There is already some precedent, insofar as we have an example for the "scheduler extender" feat

[2016-03-23 09:51] innovia commented on #19113
@erictune there's a problem using that approach, since the login to ECR is not like docker hub AWS generate a valid token for 12 hours the code in kubernetes supports renewing the authentication token

[2016-03-23 10:10] bitchecker opened #23370 "after update kube-apiserver fails to start"
hi @all,
i've update my kubernetes cluster and after this update i'm running:

[code]

but kube-apiserver fails to start.

i've noted that in file ```/etc/kubernetes/apiserver ``` on previous version there is ```KUBE_API_ARGS=""``` but in the updated version, i've found ```KUBE_API_ARGS="--service_account_key_file=/tmp/serviceaccount.key"```

the problem is that this file doesn't exists!

i've cre

[2016-03-23 10:13] einyx opened #23371 "AWS: v1.2.0 don't add any of the node from the ASG into the ELB"
The only relevant information i can dig out is the controller manager throwing:
`_I0323 09:31:47.638871       1 servicecontroller.go:298] LB doesn't need update for service kube-system/monitoring-grafana_`

`I0323 10:54:14.653385       1 aws.go:2657] Failed to find any instances [ip-10-250-12-29.eu-west-1.int.domain.com ip-10-250-13-231.eu-west-1.int.domain.com ip-10-250-11-102.eu-west-1.int.domai

[2016-03-23 10:30] zhouhaibing089 commented on #23369
[code]
to make the code more readable. :)

[2016-03-23 10:36] jeremyeder commented on #23349
@wojtek-t understood, thank you -- that's basically what I was wondering, if the pods-per-cluster limits would be increased during 1.3 cycle.

[2016-03-23 10:39] fgrzadkowski commented on #22797
@davidopp Any update here?

[2016-03-23 10:46] umiyosh commented on #21396
Is there workaround when I apply the minor release v1.2?

[2016-03-23 10:48] jsravn commented on #23323
Here's the goroutine and heap dump for this morning

[goroutines-20160323-1043.txt](https://github.com/kubernetes/kubernetes/files/185805/goroutines-20160323-1043.txt)
[pprof.inuse_objects.inuse_space-20160323-1043.pb.gz](https://github.com/kubernetes/kubernetes/files/185806/pprof.inuse_objects.inuse_space-20160323-1043.pb.gz)

[2016-03-23 10:52] wojtek-t opened #23372 "unit flake: TestScheduler is racy"
==================
WARNING: DATA RACE
Write by goroutine 37:
  testing.(*common).log()
      /usr/local/go/src/testing/testing.go:353 +0x1e6
  testing.(*common).Logf()
      /usr/local/go/src/testing/testing.go:366 +0x82
  testing.(*common).Logf-fm()
      /workspace/kubernetes/_output/local/go/src/k8s.io/kubernetes/plugin/pkg/scheduler/scheduler_test.go:74 +0x5f
  k8s.io/kubernetes/pkg/client/rec

[2016-03-23 11:06] piosz commented on #22176
The problem is with metadata server. See https://github.com/GoogleCloudPlatform/gcloud-golang/issues/194

[2016-03-23 12:29] liggitt commented on #12143
Agree

[2016-03-23 12:48] AlbertoPeon commented on #22365
Closing this as https://github.com/kubernetes/kubernetes/pull/23131 has been merged

[2016-03-23 12:48] #22365 closed

[2016-03-23 12:59] stevesloka commented on #23330
Seeing as we need more discussion and there is some work in flight, I'll just roll with the manual PV and setup my RC's manually to target my AWS AZ's. I may join the next sig hangout to maybe follow along on the discussion, but I do think the auto provisioning would help eliminate a bunch of upfront effort so I'm in favor.

Thanks everyone!

[2016-03-23 13:00] zhouhaibing089 commented on #23349
@yujuhong I agree with the benchmark testing to decide the max pod number before deploy cluster, :)

[2016-03-23 13:00] danwinship commented on #22469
FWIW, in OpenShift, isolation only applies to pod and service IP addresses; making your pod available on a node IP address (via NodePort, ExternalIP, HostPort, etc) explicitly bypasses isolation.

[2016-03-23 13:14] errordeveloper commented on #18519
cc @squaremo @dpw

[2016-03-23 13:42] matthughes opened #23375 "Pods attached to deleted nodes stuck in terminating"
Somehow I have a bunch of pods that are stuck in Terminating for days.  When I investigated, I noticed that they are attached to nodes that no longer exist.

Node `worker1` was deleted around the same time as deleting the pod.

[code]

[2016-03-23 13:48] fgrzadkowski commented on #21484
Happened again.

[code]
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/13685/consoleFull

[2016-03-23 13:49] wojtek-t commented on #23278
hmmm - I spent some time trying to fix it today and failed.

Basically the problem is that api.ObjectMetaFor:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/meta.go#L42

is supposed to return a pointer to the ObjectMeta which can then be modified.
Thus changing it to our own conversions will not work, because it will be a copy.

So the only reasonable approach that I can currently se

[2016-03-23 13:52] piosz opened #23376 "Master Metrics API"
This is na umbrella issue for Master Metrics API effort which will provide resource usage metrics for pods and nodes through the API server. The list of working items contains:
- [x] proposal with types definition #24253
- [x] add types to `metrics` api group https://github.com/kubernetes/heapster/pull/1151
- [x] add support for types/operations in Heapster https://github.com/kubernetes/heapster/p

[2016-03-23 13:54] piosz commented on #23376
cc @davidopp @erictune @fgrzadkowski @mwielgus

[2016-03-23 13:59] gaga-github opened #23377 "1.2.0 fluentd container not mounting local volumes (CentOS7 server is the worker/minon/node)"
Here is my yaml for fluentd:

 apiVersion: v1
kind: Pod
metadata:
  name: fluentd2elasticsearch
  namespace: kube-system
spec:
  containers:
  \- name: fluentd-es
    image: gcr.io/google_containers/fluentd-elasticsearch:1.15
    env:
      \- name: FLUENTD_ARGS
        value: "-qq"
    volumeMounts:
      \- name: containers
        mountPath: /var/lib/docker/containers
      \- name: varlog

[2016-03-23 14:06] wojtek-t commented on #22262
The fact that the scheduler even knows what an RC or Service are smells bad. There are going to be usages of kubernetes that don't use either of these higher level services. We also tell users that they could replace the RC with their own control loop and it would be just the same. Furthermore, this is a vague requirement on any replacement scheduler.

Scheduler doesn't require RC or Services to w

[2016-03-23 14:12] jsravn commented on #23323
@yujuhong I've attached a couple hours of running `kubectl get node -o yaml | wc -l`

[nodeyamlcounts.txt](https://github.com/kubernetes/kubernetes/files/186137/nodeyamlcounts.txt)

[2016-03-23 14:23] stevekuznetsov opened #23378 "autoscaling/v1 groupversion does not work well with validation/edit/export"
As noted here: https://github.com/openshift/origin/issues/8213

Attempting to create the following HPA:

[code]

We get the following error:

[code]

This doesn't make sense as the values that seem to be missing in fact are in the YAML -- the issue is that `scaleRef` is the name of the reference in the `extensions/v1beta1` groupversion, whereas `scaleTargetRef` is the name in `autoscaling/v1`.

At

[2016-03-23 14:29] wojtek-t commented on #22045
This happened again:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/23373/kubernetes-pull-build-test-e2e-gce/33399/build-log.txt

[2016-03-23 14:35] derekwaynecarr commented on #22045
@wojtek-t - this is different.

Mar 23 07:17:33.181: FAIL: Couldn't delete ns "e2e-tests-kubectl-xh9eq": namespace e2e-tests-kubectl-xh9eq was not deleted within limit: timed out waiting for the condition, pods remaining: [frontend-9o032]

The old flake was that the namespace was deleted, but pods remained.

In this case, the namespace was not deleted because pods still remained.

[2016-03-23 14:36] ncdc commented on #22045
Can we open a new issue for this new failure condition?

[2016-03-23 14:37] derekwaynecarr commented on #22045
@ncdc I think for the above case, we need a bug that is focused more on the kubelet and why the pod was not terminated.  I suspect it could be similar to the same bug we are exploring here:

https://github.com/openshift/origin/issues/8176

[2016-03-23 15:02] zmerlynn commented on #23347
Why do you think batching is a reasonable process after the release has shipped? I think it made sense prior to 1.2.0 but makes less sense now and as the branch ages and conflicts are inevitable. Are you going to push conflict resolution onto the batcher? That seems wrong.

[2016-03-23 15:04] zmerlynn commented on #23347
Ah, I see this thread is split all over the place. Maybe we need a face to face.

[2016-03-23 15:12] chbatey opened #23380 "kubectl describe doesn't show annotations"
E.g

[code]

Happy to raise a PR for this if you think they should be shown a long with the labels.

[2016-03-23 15:38] AdoHe commented on #23380
@chbatey I guess you mean show along with the labels. Actually I don't want to display annotations along with labels, they are not the same, if you show them together it will just confuse users which one is label and which one is annotation.

[2016-03-23 15:41] AdoHe commented on #23378
@stevekuznetsov could you provide your kubernetes version? IIRC we have fixed this in v1.2.0

[2016-03-23 15:47] c-kochu opened #23383 "Nodes running out of resources after master and node change to m3.medium on AWS"
kubectl get po
[code]
kubectl get events
[code]

[2016-03-23 15:52] jsravn commented on #23323
This revealed another potential problem to us. After the apiserver restarted after oomkill, half of our nodes got marked `NodeNotReady`, I guess because kubelet had been unable to report its status to the apiserver. Despite the nodes being fine themselves - this then caused all of our pods to get rescheduled onto the other nodes.

This seems pretty dangerous - it means apiserver going down could p

[2016-03-23 15:52] smarterclayton commented on #23278
ObjectMetaFor ConvertibleTo should only work on internal types anyway,
right?  It's only ConvertibleTo during reflection conversion or defaulting
that is the problem?

On Wed, Mar 23, 2016 at 9:49 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-03-23 16:00] chbatey commented on #23380
I meant as well as the labels in their own section

[2016-03-23 16:01] JonathanFraser commented on #23359
My apologies this appears to be a duplicate of [#16055](https://github.com/kubernetes/kubernetes/issues/16055) .

resolution is the same, upgrade to v1.2.0

[2016-03-23 16:01] #23359 closed

[2016-03-23 16:02] AdoHe commented on #23370
@bitchecker how you update your kubernetes cluster? binary replace?

[2016-03-23 16:02] AdoHe commented on #23380
@kubernetes/kubectl

[2016-03-23 16:07] andrewmichaelsmith commented on #12784
Anyone hitting this issue - I resolved it by adding (among others, but I believe this to be the important one) ServiceAccount to my `--admission-control=` flag to the kube-apiserver.

[2016-03-23 16:10] caseydavenport commented on #22469
@MikeSpreitzer Thanks, fixed up my comment.  It might be good enough to say that if you're using some sort of proxy (in this case NodePort) then you need to make sure it works with your policy.  I guess my thought was that 1) we should document which of the standard k8s proxies are compatible and 2) it would be nice if the proxies that ship with k8s are compatible with policy.

If you take a look

[2016-03-23 16:10] bitchecker commented on #23370
yes, i'm opening the same bug on red hat bugzilla

[2016-03-23 16:15] AdoHe commented on #23370
@bitchecker if you are doing binary replace, I think the `/etc/kubernetes/apiserver` should not be updated.

[2016-03-23 16:17] smarterclayton commented on #23380
We should show annotations on all describes, and put them probably below labels.

[2016-03-23 16:17] alfred-huangjian commented on #23269
@quinton-hoole
After some discussion offline with @mfanjie，we prefer to make sure whether to support spreading replicas of RC into serveal clusters. In my opinion it's better to have this function in Phase I directly which is mentioned in federated-services.md. How about your ideas?

[2016-03-23 16:20] bitchecker commented on #23370
it was updated and i've found differences running a diff

[2016-03-23 16:22] AdoHe commented on #23380
Just refer #20941. I will apply this to all this week.

[2016-03-23 16:24] zhouhaibing089 commented on #23377
In your volumes section, `source` is an inline field, so you need not to specify that:
[code]

Also there is no such kind of `hostDir`, maybe you should use `hostPath`, the supported types are:

[code]

[2016-03-23 16:24] erictune commented on #19113
oh, bummer.

[2016-03-23 16:33] smarterclayton commented on #20941
Here's the annotation output we use in Origin:

[code]

We haven't formally defined description (yet) so it's really:

[code]

[2016-03-23 16:33] quinton-hoole commented on #23269
@alfred-huangjian That's fine. My priority at this point is velocity, so for example if implementing spreading across clusters is non-trivial (as aluded in https://github.com/kubernetes/kubernetes/issues/23269#issuecomment-199454061), I would rather delay that then delay getting the basic control plane up and running. Lets discuss it further at tomorrow's working group meeting.  @alfred-huangjian,

[2016-03-23 16:34] smarterclayton commented on #20941
We probably want special handling on annotations to deal with very long annotations (trim past a certain length) and to deal with newlines and ansi escape sequences (we may have to strip them)

[2016-03-23 16:40] bgrant0607 commented on #23105
@davidopp @kevin-wangzefeng

I do not want to move the files to /examples. They don't belong there. There are already many examples that don't belong there, such as scheduler-policy-config-with-extender, which should have been put in the admin guide, with an explanatory doc. Please read examples/README.md.

That would also just push the problem around, since we want to move examples out of the mai

[2016-03-23 16:47] bprashanth opened #23384 "E2e clusters shouldn't open all nodeports"
We added a blanket firewall rule for nodeports in:https://github.com/kubernetes/kubernetes/pull/8728
This should be modified to allow just jenkins traffic + 130.211.0.0/22 (for loadbalancer).

[2016-03-23 16:49] haizaar commented on #23354
I don't think it's all that complicated. Quorum number that was set through cluster API settings [takes precedence](https://www.elastic.co/guide/en/elasticsearch/guide/1.x/_important_configuration_changes.html#_minimum_master_nodes) over node's local config. So pre-scaleup and post-scaledown hooks can check petset config for number of mets pets and update cluster settings properly. As a side note,

[2016-03-23 16:50] dogan-sky opened #23385 "Incorrect br-netfilter warning on Centos 7"
Centos 7 official packages include linux kernel `3.10` bundled with `bridge-netfilter`.

This can be verified by checking the existence of the following files:
[code]

However, kubelet prints a warning highlighting the absence of `br-netfilter`:
[code]

This warning seems to be incorrect.

The check that triggers the warning is in `Newproxier`, located in `proxier.go`:

[code]

Fundamentally, in t

[2016-03-23 16:51] yujuhong commented on #23332
@madhurranjan, according to your description, all the master nodes were schedulable, and all the non-master nodes were unschedulable. Wouldn't it be expected that the pod got scheduled to the master nodes? Also, were you running an HA setup with 3 masters?

[2016-03-23 16:57] wojtek-t commented on #23323
@jsravn - there is grace period - IIRC it is 5 minutes (@gmarek can you confirm?)
So there is something strange happening.
It would be useful if you could give us logs of apiserver and controller manager.

[2016-03-23 16:57] haizaar commented on #23354
I'll summarize ES related requirements for PetSet so far:

1. Support for watching a set of ES pets. I suppose we'll have three petsets for a single ES cluster - master pets, data pets and client pets.
1. Support scale-down-old -> scale-up-new approach for rolling updates, with pre/post and up/down container hooks.
1. Be able to create a storage volume for new pet and allow storage init hook (thro

[2016-03-23 16:58] yujuhong commented on #23323
Thanks! The number fluctuated over time, indicating that 1) image GC was probably removing some images, and 2) we didn't falsely append the image list. We can rule these two out for now.

[2016-03-23 16:58] wojtek-t commented on #23278
ObjectMetaFor ConvertibleTo should only work on internal types anyway,
right?

Yes - it works fine for internal types.
The problem is that we are calling it for non-internal types, example is:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/annotate.go#L329

[2016-03-23 17:00] bprashanth commented on #23354
Yeah the hooks are the tricky part, or at least, the part that we need to examine different implementations to get right. That's why on the proposal I'd suggested babysitters instead of a single generic controller for the first cut.

One way to do it would be to overload signals like USR2 and WINCH (kind of like how nginx does: http://nginx.org/en/docs/control.html), but then we'd need some back c

[2016-03-23 17:11] antoineco opened #23386 "JSONpath fails to return keys containing dots in a map"
(Kubernetes 1.2)

Consider the following `secret` definition:

[code]

`kubectl get secrets rails -o "jsonpath={.data['db.conf']}"` returns:

[code]

while `kubectl get secrets rails -o "jsonpath={.data['dbdotconf']}"` works.

[2016-03-23 17:21] lavalamp commented on #23127
@spxtr to delegate

[2016-03-23 17:23] stevekuznetsov commented on #23378
@AdoHe sorry, used the wrong `kubectl` binary for version:
[code]

[2016-03-23 17:23] MikeSpreitzer commented on #22469
@caseydavenport: thanks for the reference, I missed the example with no "from".  I will have to update my impl outline, I had assumed that no "from" is the same as an empty "from".
I am not sure I would consider node port to be a "proxy".  It seems more of an "alias" to me.  I think the design intent is that an alias does not introduce an exception to the policy.

[2016-03-23 17:23] lavalamp commented on #23342
@yujuhong is there an issue this should be deduped to, then?

[2016-03-23 17:24] lavalamp commented on #23321
#23350 has the same problem (plus a timeout)

[2016-03-23 17:25] lavalamp commented on #23350
#23321 has the same problem (minus the timeout)

Let's track the timeout here and the exec error there.

[2016-03-23 17:25] lavalamp commented on #23350
@spxtr to delegate

[2016-03-23 17:26] lavalamp commented on #23361
@fgrzadkowski to delegate

[2016-03-23 17:27] lavalamp commented on #22991
Closing as a dup, then.

[2016-03-23 17:27] #22991 closed

[2016-03-23 17:27] lavalamp commented on #23372
@davidopp to delegate

[2016-03-23 17:28] yujuhong commented on #23342
It was brought up in multiple issues, but I couldn't find any dedicated issue for this one. I think we can keep this one open for now.

[2016-03-23 17:32] madhurranjan commented on #23332
@yujuhong : Sorry i was not clear in my description. I have a HA setup with 3 masters and 5 minions. All the minions are in 'unschedulable' state. The 3 master kubelets have  --register-schedulable=false. Inspite of this setup, the pods get scheduled on the master.
Below is the
`ExecStart=/opt/bin/hyperkube kubelet         --api_servers=http://127.0.0.1:8080                  --allow-privileged=tru

[2016-03-23 17:32] MikeSpreitzer commented on #22469
I assume that a NodePort service is implementing using Docker port mapping --- and Docker has two available implementations of that: a userspace proxy and iptables hacking (deja vu all over again).  The design intent is that a network policy is about the relationship between origin client and origin server regardless of whatever proxying and/or aliasing the platform puts in between them.  So an im

[2016-03-23 17:34] spxtr commented on #23127
The suite used to take about 35 minutes, then for a few days it started taking 42 minutes, and now it's back to 35 minutes. Rather than bump up the timeout, we need to figure out which test has slowed down and why.

If it's something expected or out of our control then increasing the timeout is fine.

[2016-03-23 17:38] liggitt commented on #23127
did the slowdowns coincide with https://github.com/kubernetes/kubernetes/pull/21535 merging? we saw that make all the registry package unit tests take 3x as long, and some hit the 1 minute package timeout

[2016-03-23 17:46] bgrant0607 commented on #22368
cc @pmorie

[2016-03-23 17:47] smarterclayton commented on #23278
Ah, the expectation was that you would never call that on external types.
It was before we started using external types in our code.

On Wed, Mar 23, 2016 at 12:59 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-03-23 17:48] lavalamp commented on #23104
That requires kubelet to start checkpointing, of course.

On Tue, Mar 22, 2016 at 11:59 PM, Brian Grant <notifications@github.com>
wrote:

[2016-03-23 17:51] fonk opened #23388 "Generation of servicekey in coreos cloud-config"
Hi,

in this line https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/master.yaml#L36 you generate a servicekey on every boot, regardless of any key that's still present there. In my opinion this will invalidate all secrets for the pods after a reboot of the master. Is there a specific reason for that? I think it would be better to generate a certi

[2016-03-23 17:52] bgrant0607 commented on #8800
cc @pmorie

[2016-03-23 17:52] spxtr commented on #23127
The original slowdown was caused by #21535, but it has improved somewhat since.

[2016-03-23 17:54] wonderfly opened #23389 "e2e flake: Kubernetes e2e suite.Kubectl client Kubectl apply should apply a new configuration to an existing RC"
Recent failure on #23287 seems flaky. That PR didn't change anything but delete a few dead
Jenkins jobs.

kubernetes-pull-build-test-e2e-gce/33368/

[code]

@spxtr to delegate.

[2016-03-23 17:55] yujuhong commented on #23332
@madhurranjan, could you check the master node in question to see if they have "unschedulable" set correctly (e.g., `kubectl get node <node_name> -o yaml`).

I am not familiar with the HA setup, but you could also check the scheduler log to see if there is any explanation. /cc @kubernetes/goog-control-plane

[2016-03-23 18:05] smugcloud opened #23390 "Found more nodes than expected after adding node in different Availability Zone"
I have an existing v1.2 cluster on AWS and wanted to utilize the multi-AZ functionality.  After following @justinsb [instructions](https://github.com/justinsb/kubernetes.github.io/blob/multizone/docs/admin/multiple-zones.md), the new node seems to be added correctly, but I received the error below after `kube-up.sh` completed.  It seems like the script is not aware of the total cluster size and th

[2016-03-23 18:07] thockin commented on #22368
This is one approach.  I still want to write a demo, using the live-update
feature of configmap volumes to do rollouts without restarts.  It's a
little scarier, but I do think it's useful.
On Mar 2, 2016 9:26 AM, "Brian Grant" <notifications@github.com> wrote:

[2016-03-23 18:12] dchen1107 commented on #23383
@c-kochu can you run kubectl describe nodes ip-172-20-0-67.ec2.internal and copy & paste the result here?

[2016-03-23 18:13] #22659 closed

[2016-03-23 18:14] bgrant0607 commented on #8800
@luebken This is not a duplicate of #11492. At minimum, we'd need to add another argument to kubectl run in order to surface this capability.

[2016-03-23 18:15] bgrant0607 commented on #22368
@thockin Live update is a different use case than what's discussed here.

[2016-03-23 18:20] gaga-github commented on #23377
That fixed it, thanks.

[code]

[2016-03-23 18:20] #23377 closed

[2016-03-23 18:20] therc commented on #22368
I think live updates without restarts might fall under my issue, #20200.

[2016-03-23 18:23] pwittrock opened #23391 "Change test tests using b.gcri.io to use gcr.io"
These tests use a b.gcr.io reference for a private image.  We should move the private image bucket to gcr.io and update the references.

https://github.com/kubernetes/kubernetes/blob/da582561870f48f9eaee610aae355f60398e7cbc/test/e2e/replica_set.go#L45
https://github.com/kubernetes/kubernetes/blob/da582561870f48f9eaee610aae355f60398e7cbc/test/e2e/rc.go#L43

[2016-03-23 18:30] dchen1107 commented on #23349
@jeremyeder Thanks for filing the issue so we can carry on the discussion.

Here is a small summary what I talked in sig-node meeting as a record:

* max-pods is configurable. The default value we chosen today is targeted for the users who want an out-of-box solution, and is decided under several constraints:
  - Docker's performance and limitation. Docker has improved a lot since 1.8 release, but

[2016-03-23 18:37] sosiouxme commented on #23354
wrong, but if petset will go with scale-down-old -> scale-up-new approach
and provide pre/post hooks for each operation, we should be fine.

On Wed, Mar 23, 2016 at 12:50 PM, Zaar Hai <notifications@github.com> wrote:

We actually have to deal with ES 1.x for now so upgrades will require a
full cluster restart:
https://www.elastic.co/guide/en/elasticsearch/reference/2.0/setup-upgrade.html

Some of

[2016-03-23 18:44] maisem commented on #23369
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-23 18:44] #23369 closed

[2016-03-23 18:47] lavalamp commented on #23363
Removing would be really nice. Also we could write our own if we really
needed to, we have the code gen framework...

On Wed, Mar 23, 2016 at 12:02 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-03-23 18:48] zebulonj commented on #8042
Experiencing the same problem (DNS restarted every 30 seconds, appears to be killed by failed health check). Running kubernetes v1.1.2 on CoreOS, deployed following the [step-by-step guide](https://coreos.com/kubernetes/docs/latest/getting-started.html). Originally (for four weeks), everything worked fine save the very occasional DNS failure and restart. Then, restarted the DNS service/pod and hav

[2016-03-23 18:50] rootfs commented on #13511
@onorua what is your  versions of your OS and systemd?

[2016-03-23 18:53] justinsb commented on #23174
As part of the AWS 1.1 -> 1.2 upgrade, I have written a pure-go cluster-start tool.
https://github.com/kopeio/kope/blob/master/UPGRADE.md

Currently it uses the existing Salt for 1.2 compatability, but I've written the bootstrap stuff for the nodes in the same framework, and I don't believe the master would be much harder.

This installer really idempotently builds a cluster.  So the upgrade is ju

[2016-03-23 18:57] reflection opened #23392 "ConfigMaps volume doesn't create file in container"
k8s 1.2 deployed [locally, single-node docker](http://kubernetes.io/docs/getting-started-guides/docker/)
Following the example in the [ConfigMaps](http://kubernetes.io/docs/user-guide/configmap/) guide:
[code]

example.yaml
[code]

[2016-03-23 18:58] onorua commented on #13511
Ubuntu wily64 systemd is 225, but I think the moment I was reporting, it was Vivid with 219.
I can do some test if you can tell me what to look for.

[2016-03-23 19:24] maisem commented on #23299
Just saw it again.
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/1989/

[2016-03-23 19:33] zebulonj commented on #23111
I'm seeing something similar, running `kube2sky` on kubernetes v1.1.2 and CoreOS.

[code]

[2016-03-23 19:56] timothysc commented on #23349
System reserve is arguably a systemd.slice provisioning constraint from our side, but +1 on reserve.  Going forwards, I think think the only limits should be resource constraints.  If needed, we could put pod limits on admission control.

/cc @quinton-hoole as he was conversing on the topic in the @kubernetes/sig-scalability meeting last week.

[2016-03-23 19:57] bprashanth commented on #23111
@zebulonj can you try https://github.com/kubernetes/kubernetes/issues/23111#issuecomment-198085950?

[2016-03-23 19:58] justinsb commented on #22535
Very early preview available here:
https://github.com/kopeio/kope/blob/master/UPGRADE.md

Still in progress, but tested on my clean clusters.

If anyone has a non-prod cluster & is feeling bold enough to be the first, please find me on slack and I will go through it with you to answer or fix anything that comes up :-)

I would like to put this into contrib or something, but need faster iteration a

[2016-03-23 20:01] huggsboson commented on #23111
When I see "Using kubernetes API <nil>" as opposed to "Using kubernetes API v1" that usually indicates that the pod is unable to authenticate with the API.  Can you try running stopping the cluster and running:

mount | grep -o 'on /var/lib/kubelet.* type' | cut -c 4- | rev | cut -c 6- | rev | xargs --no-run-if-empty sudo umount
sudo rm -Rf /var/lib/kubelet

(If you are using docker-machine do doc

[2016-03-23 20:11] spxtr commented on #23127
![testspeeds](https://cloud.githubusercontent.com/assets/7368979/13999264/a8cb9ab6-f0f8-11e5-84db-1160eb4c61bc.png)

I made a quick plot of kubernetes-test-go test times for the last thousand or so. The huge spike was #21535, and we recovered most of the way but not all the way.

[2016-03-23 20:19] vishh commented on #10781
I have a draft doc that ties together all the features around resource management. I will post a patch soon.

[2016-03-23 20:21] vishh commented on #21173
@derekwaynecarr: Look [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_service.go#L137). Salt is not used. The kubelet binary is copied over the test machine and started by a test runner framework. It should be easy to use the runner directly on RHEL or CentOS nodes.

[2016-03-23 20:25] zebulonj commented on #23111
@bprashanth The tester output appears to confirm:
[code]

@bprashanth @huggsboson Assuming that the pod is unable to authenticate with the API, what might cause that?

[2016-03-23 20:29] smarterclayton commented on #14978
I'm going to bump this up a bit because we're seeing duplicate Pod caches - a lot of duplicate pod caches in https://github.com/openshift/origin/issues/8229

[code]

That's a lot of duplicate memory in very large clusters.  The memory use is the primary opportunity for savings.  The fixes are hard of course, because we need:

1. Multiple FIFO/Other queues on a single store
2. Toleration of slow re

[2016-03-23 20:30] smarterclayton commented on #14978
Other fat:

[code]

[code]

[code]

The others seem to be ok.

[2016-03-23 20:32] smarterclayton commented on #14978
Added https://github.com/kubernetes/kubernetes/issues/23393 to make it easy to see who was launching reflectors.

[2016-03-23 20:38] smarterclayton opened #23394 "Split the "resync interval" on reflectors into "relist interval" and "resync interval""
Today the resync interval on a controller forces a LIST, and then as a consequence sends all objects down the reflector.  However, for most controllers LIST is necessary because

1. Watch is reliable
2. They do not mutate the store themselves and thus might have data out of sync with etcd
3. They do not "drop" events when failures happen (instead they requeue)
4. Their source of data is relatively

[2016-03-23 20:39] smarterclayton commented on #23394
@kubernetes/goog-control-plane @kubernetes/sig-cluster-ops

[2016-03-23 20:40] smarterclayton commented on #23394
Spawned from https://github.com/openshift/origin/issues/8229

[2016-03-23 20:41] fejta commented on #23299
@ixdy will you make sure we have the latest gsutil installed?

An unlikely alternative is that cpu pegging is causing this 503, but that seems confusing.

[2016-03-23 20:42] bprashanth commented on #23111
Misconfigured clusters. do you have a service account in the same namespace ? did it create the token secret ? does your pod have a volume mount for the same secret? did the kubelet mount the tokens in the pod at the given mountpath? and is this token actually a valid token the apiserver recognizes, with the current certs it has.

[2016-03-23 20:44] justinsb opened #23395 "ARP cache stops nodes from reaching master"
Observed this on AWS, but I am unsure why it would not happen on GCE also.  If GCE has a workaround/fix, I would like to use the same one on AWS.

Here's what happened:  I was upgrading from 1.1 to 1.2, which requires launching new nodes.  One of my nodes did not come up, I think (but am not sure) that it had the same address as one of the old nodes.  That node could not ping the master.   The mas

[2016-03-23 20:51] cescoferraro commented on #23385
Same issue here on CoreOS stable on digital ocean running Kubernetes v1.2 latest release

[code]

[2016-03-23 20:51] liggitt commented on #23127
Any interest in https://github.com/kubernetes/kubernetes/pull/22919, which runs the individual registry package units with non-tls etcd?

[2016-03-23 20:52] bprashanth commented on #23395
The arp cached should get flushed periodically anyway? I think the default is 60s and you can set it in /proc/sys somewhere

[2016-03-23 20:54] bprashanth commented on #23395
This is why immediately recycling ips is generally not a good idea, but cluster up/down should've been enough time (one hopes)

[2016-03-23 20:57] fejta commented on #22452
FYI, if you want to run e2e tests, please follow [the docs](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/testing.md) to deploy your cluster in a canonical fashion.

@ixdy how to define ssh creds is something to consider when working on canonical test running.

[2016-03-23 21:01] spxtr commented on #23127
That looks like it might improve this significantly :)

[2016-03-23 21:05] lavalamp commented on #23394
I'd actually argue for not setting a relist period at all-- keep watching
until the network flakes out on you.

But since we do require that case to work, shortish relist periods in our
testing seem appropriate to me still.

On Wed, Mar 23, 2016 at 1:40 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-23 21:05] erictune opened #23396 "Upstream Openshift Authz"
in its own api group(s).

[2016-03-23 21:05] huggsboson commented on #23111
I've described the issue I had here:
https://github.com/kubernetes/kubernetes/issues/23197

Basically if you are stopping and starting the kubelet (in hyperkube) a bunch of times it looks like the state in /var/lib/kubelet eventually breaks service account tokens.

[2016-03-23 21:06] lavalamp commented on #23036
This is not a very good bug report. Is this reproducible? What component is this even in?

[2016-03-23 21:08] smarterclayton commented on #23394
So you don't agree list and sync should be different intervals?

[2016-03-23 21:08] nikhiljindal commented on #23075
Happened again: http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/33435

[2016-03-23 21:10] evanphx commented on #23395
@bprashanth There is a bug (introduced here https://github.com/torvalds/linux/commit/2724680bceee94eac391552863771af105a7355c) in I think linux 3.13-3.15 that makes it such that small arp caches don't expire at all. That's why the cluster up/down/upgrade time isn't enough.

[2016-03-23 21:10] ixdy commented on #23299
We update `gcloud` daily, which should also update `gsutil`.

The gke-test failure snippet is
[code]
In both cases it took ~20s for `gsutil` to fail, suggesting it did retry, though possibly not waiting long enough.

[2016-03-23 21:11] nikhiljindal commented on #23365
https://github.com/kubernetes/kubernetes/issues/23075 tracks the second issue:
`[k8s.io] Kubectl client [k8s.io] Update Demo [It] should do a rolling update of a replication controller [Conformance] `

[2016-03-23 21:15] vishh opened #23397 "Validate Docker v1.11"
Docker v1.11 rcs are starting to show up. Its time to get started with the validation.

https://github.com/docker/docker/releases/tag/v1.11.0-rc1

cc @kubernetes/sig-node

EDIT(timstclair):

TASKS:
- [x] e2e tests pass
- [x] performance analysis
- [x] startup tests (bootstrap, restart)
- [ ] live upgrade successful
- [x] 1 week soak tests

[2016-03-23 21:22] hongchaodeng commented on #23394
May I ask what's difference between "relist" and "resync" here?

[2016-03-23 21:23] shanegibbs opened #23398 "Support Basic Auth for Etcd"
Etcd supports basic auth for it's Auth and Security features. https://github.com/coreos/etcd/blob/master/Documentation/auth_api.md#basic-auth

Would be nice if kube-apiserver supported this.

[2016-03-23 21:24] Stephenitis opened #23399 "Conflicting aws os reccomendations for kube-up.sh"
Trusty is no longer supported, kube-up suggest using jessie or wiley.
However wiley is not supported when attempted.

[code]

[code]

[2016-03-23 21:25] smugcloud commented on #23212
I encountered this as well while adding a node in an a different AZ (on AWS).  Scaling the RC adds Pods to this node, yet it's not configured with the ELB.  In my case though, the subnet was appropriately tagged with `KubernetesCluster=kubernetes`

[code]

[2016-03-23 21:26] erictune commented on #23396
I would expect there to be little further development on ABAC, with Openshift Authz addressing many more use cases than ABAC. I expect many users would move to Openshift Authz.    But, I envision that we would be to keep supporting ABAC indefinitely, and that even clusters with Openshift Authz in them may still ABAC enabled, and that the ABAC file might be used for "bootstrapping" the authz for ba

[2016-03-23 21:27] erictune commented on #23396
I'm expecting that the Openshift auth upstreaming would not block on apiserver federation, but would use it when federation is complete.  @lavalamp

[2016-03-23 21:30] smarterclayton commented on #23394
Re-list is "make a LIST call to the API server".  Resync is "go through the
items in the cache and queue them up so that anyone on the other end sees
them all change again".  There are controllers that retry up to X times and
then continue (assuming the next resync will get a chance to try again),
and in a few cases the controllers mutate the cache (so it does need to be
refreshed from the server)

[2016-03-23 21:31] shanegibbs commented on #23398
Seems fairly straight forward. Something like https://github.com/kubernetes/kubernetes/pull/23400

[2016-03-23 21:38] erictune commented on #23396
@deads2k

[2016-03-23 21:43] jerryjj opened #23401 "Creating TLS ingress on GKE failes with k8s 1.2"
I've been trying to setup the HTTPS Load-Balancing using the ingress and secrets in test project.
However when I create the Ingress with kubectl it never goes in to error loop saying it does not have permissions to create the instance groups:
[code]

I can create network load-balancers successfully so the scopes are correct and valid.

[2016-03-23 21:44] erictune commented on #23396
My summary of Openshift Authz for people not familiar with it:

[Design doc](https://github.com/openshift/origin/blob/master/docs/proposals/policy.md)

[User Docs] (https://docs.openshift.com/enterprise/3.0/admin_guide/manage_authorization_policy.html)

[Types](https://github.com/openshift/origin/blob/master/pkg/authorization/api/v1/types.go)

Key types to be added are:

- a `Role` object lists va

[2016-03-23 21:44] erictune commented on #23396
@lavalamp

[2016-03-23 21:52] vishh commented on #23376
@piosz: Since the basic control plane metrics don't have to be persisted in etcd, have you considered pushing metrics directly to a secondary API server from the kubelet?
If we were to store metrics only in memory, and also support batch updates from individual nodes to update metrics for all the pods in a node at once, would that work?
cc @davidopp

[2016-03-23 21:55] broady opened #23402 "kubectl: global flags makes output from every command very noisy"
Currently, there are 22 lines of output from any kubectl command describing global flags.

This means you always need to scroll the terminal buffer backwards to see the useful help output (toward the top).

Suggestions to fix:
- Remove global flags from every help output (put a separate help subcommand for it)
- Use the $PAGER environment variable to page help text

[2016-03-23 21:57] erictune commented on #23376
Allowing for the type of flexibility that @vishh was a reason I pushed for the summary metrics to only be point-in-time and not historical (i.e. you can restart an in-memory server and not worry about losing history).

[2016-03-23 22:00] broady opened #23403 "kubectl run applies bad default CPU requirements"
I was trying to run a docker image using `kubectl run`

I saw this kind of failure:

[code]

run requested 100 CPU

[code]

No pods were running on that node (a GCE g1-small node). I expected my container to be able to run.

[2016-03-23 22:04] gmarek commented on #23323
@jsravn - yes, exactly for this reason we have two failsafes in place. One is 5 minute grace period (NC won't delete anything before it's seen as not ready for 5 minutes). Second is rate limiting the deletion. Currently we allow 10 Nodes to be killed in burst and after that 1 per 10 seconds (or sth. like that) - you can set those numbers by yourself as flags in controller manager (`DeletingPodsBur

[2016-03-23 22:06] motomux opened #23404 "Environment variables from Secret include new line character"
secret.yaml
[code]

secret-env-pod.yaml
[code]

Run pod and export environment variables.
[code]

Environment variables.
[code]

[2016-03-23 22:11] broady commented on #23403
`n1-standard` also didn't have enough resource.

[2016-03-23 22:13] gmarek commented on #23036
It's a line that appears it test, sorry for not being more clear about it. So it's either the test that does something wrong, or API server.

And yes - it is (was a week ago) reproducable by running density test few times on the same cluster.

[2016-03-23 22:26] erictune commented on #5944
This is in PodSecurityPolicy (the new name for SCC).  Closing this in favor of https://github.com/kubernetes/kubernetes/issues/23217

[2016-03-23 22:28] lavalamp commented on #23396
What api group?

[2016-03-23 22:30] broady commented on #23403
Running a second node did help, though. Should the tutorials say that you can't just run a single node cluster?

[2016-03-23 22:46] spxtr commented on #23372
This is blocking #23302.

[2016-03-23 22:48] lavalamp commented on #23278
We should NOT generate tags for internal structs, I think.

Ways to fix this, from grossest to least gross:

* Use unsafe package to fool the type system
* Fork reflect, remove check, like you say (I think part of reflect may already be forked in third_party? need to check)
* Use the external ObjectMeta even on our internal objects? (but I haven't thought this through...)

[2016-03-23 22:50] Swaagie opened #23406 "Unable to delete replication set"
Documentation seems to be lacking on the replication set feature. Tried deleting a `rs` multiple times now with both cluster and CLI on version `1.2.0` no succes.

[code]

Also, current pod is terminated and immediately a new pods is created from the same replication set.

Edit: these replication sets got created without explicit config files, simply by running
[code]

[2016-03-23 23:01] lavalamp commented on #23278
So the language itself (compiler) considers structs that differ only in tags to still not be convertible: https://golang.org/src/go/types/predicates.go#L165

Confirmed: https://play.golang.org/p/j5Bn_4TJKO

What is the justification for this? It seems unhelpful. I can't find anything in the language spec that would explain this. Maybe we should file an issue with the go team? @rsc, is there any ch

[2016-03-23 23:02] spxtr commented on #23127
Anyway, we're back down to ~35 minutes. Closing this issue.

[2016-03-23 23:02] #23127 closed

[2016-03-23 23:07] aeneaswiener commented on #23170
@msaffitz I am facing the same issue. Would you mind posting the yml or json of a DaemonSet controller that ended up working for you?

The documentation I was able to find was not too clear on how to implement DaemonSet’s selector.

[2016-03-23 23:09] c-kochu commented on #23383
After several kill and start attempts. I downgraded the node size to `t2.large` and now everything is fine. Can anyone explain this behaviour?

[2016-03-23 23:13] lavalamp commented on #23323
@wojtek-t @mikedanese does the node controller give some extra time after an apiserver outage? Like, maybe it shouldn't count apiserver-down time as down-time for each node. I imagine a scenario where apiserver went down for > 5 minutes and the instant it came back, node controller started killing pods, but that seems wrong.

[2016-03-23 23:15] david-mcmahon opened #23409 "Add a munger (bot) to require release-note-* on all PRs and release-note-(!NONE) on cherrypicks (to branches)"
Following a revelation in https://github.com/kubernetes/kubernetes/pull/23315#issuecomment-200573266, it became clear we could solve the release note issue (at least the simple case) with labels and a bot.

We need a new munger/bot to do the following:

1. Initiate a `needs-release-note` label on all new PRs
1. Disallow/Remove the `lgtm` label on all PRs labeled as `needs-release-note`
1. Create n

[2016-03-23 23:28] madhurranjan commented on #23332
I0323 22:07:37.457264       8 event.go:211] Event(api.ObjectReference{Kind:"Pod", Namespace:"default", Name:"nginxtest-n7ide", UID:"caec3657-f143-11e5-ad49-0621f4c233df", APIVersion:"v1", ResourceVersion:"545758", FieldPath:""}): type: 'Normal' reason: 'Scheduled' Successfully assigned nginxtest-n7ide to 10.129.2.117

That's the log when I deploy an nginx container  on the main scheduler. The othe

[2016-03-23 23:30] timstclair commented on #23397
xref https://github.com/kubernetes/kubernetes/issues/22765 - automate this process

[2016-03-23 23:33] davidopp commented on #23332
cc/ @mikedanese @gmarek

[2016-03-23 23:35] timstclair opened #23411 "Validate summary API metrics"
The [current summary e2e test](https://github.com/kubernetes/kubernetes/blob/635bc410a666b2fdbd6b9dfb493e7dce8b20529b/test/e2e_node/kubelet_test.go#L175) only verifies that the expected metrics are present (and is incomplete). We should validate that all the metrics are not only present, but also within an expected range.

[2016-03-23 23:38] erictune commented on #23396
@deads2k @liggitt any opinion about what to call the API group for Openshift Auth once it is upstreamed? `authorization-policy.openshift.org` is descriptive but a bit long.

[2016-03-23 23:41] timstclair opened #23412 "Improve kubelet /stats/summary API (de)serialization"
A non-trivial amount of CPU and memory is still spent (de)serializing metrics data. We should investigate sending the data via protobuf, or at least using a faster (i.e. generated) json library. This would be a performance win both in the Kubelet and Heapster.

[2016-03-23 23:46] davidopp commented on #23332
@madhurranjan could you please also do this other thing that @yujuhong suggested in her last comment: "could you check the master node in question to see if they have "unschedulable" set correctly (e.g., kubectl get node <node_name> -o yaml)."

[2016-03-23 23:47] mikedanese commented on #23332
Yup I agree you should check that flag. Those logs like fine FWIW.

[2016-03-23 23:48] david-mcmahon commented on #23409
cc @eparis

[2016-03-23 23:50] timstclair opened #23413 "Revisit cAdvisor housekeeping (collection) period"
The current default “housekeeping” (metrics collection) period is 10 seconds, but Heapster only scrapes the metrics from the Node every 30 seconds by default, so 2 of every 3 stats sets are thrown away. We can reduce cAdvisor resource usage within the Kubelet by nearly 66% just by changing the default period to match that of Heapster. This would impact the granularity of metrics available for intr

[2016-03-23 23:53] lavalamp commented on #23323
OK, I don't see anything obvious in the goroutine list.

[2016-03-24 00:00] rootfs commented on #13511
@onorua thanks, do you happen to know why systemd restarted kubelet?

[2016-03-24 00:01] freehan opened #23414 "kubectl proxy e2e failed on kubenet"
[code]

[2016-03-24 00:16] vishh commented on #23413
What are we attempting to optimize for, Cpu or Memory? If it is memory, we can store less samples, but at the same time keep the most recent sample around for OOR purposes.
If we were to significantly reduce the number of metrics that we collect and store within the kubelet process, would this issue become less relevant?

[2016-03-24 00:23] madhurranjan commented on #23332
@davidopp  Don't see that flag for any of the masters. Instead I see that its 'Ready'.
    message: kubelet is posting ready status
    reason: KubeletReady
    status: "True"
    type: Ready

On the machines I've manually changed the status , I do see ' unschedulable: true' . I can confirm its not in etcd  for the masters unders /registry/minions/<node name>

So the register-schedulable option is

[2016-03-24 00:25] vishh commented on #23323
@jsravn: Is docker in docker an option for you?

[2016-03-24 00:34] skeswa commented on #23092
I just bumped into this today. Its really disappointing that I have to resort to a hack to make it work. Thanks for your post though.

[2016-03-24 00:37] justinsb commented on #23399
It's `wily`.  Did I make a typo somewhere in the docs?

[2016-03-24 00:39] augieschwer commented on #23092
Thank you! I thought I was going crazy. Bump.

[2016-03-24 00:45] timstclair commented on #23413
I was thinking about CPU when I created this issue, but I agree we should consider reducing the memory usage by storing no more than 1-2 stat points (though that would render the UI all but useless). There isn't a well defined goal here, hence the "investigate" phrasing - I just think this is low hanging fruit for further reducing our resource overhead.

[2016-03-24 00:51] vishh commented on #23413
The side effect as you mentioned is that it will make recovery from Out of Resource situations take longer, which is not what we want. From that perspective, it is possibly a sub-optimal solution.

[2016-03-24 00:56] csandanov commented on #23253
Looks like it was a problem caused by an over-populated hypervisor, the migration helped

[2016-03-24 00:56] #23253 closed

[2016-03-24 00:56] bprashanth commented on #23092
@pwittrock

[2016-03-24 01:00] Arjun2016 commented on #13358
I want to use AWS RDS instance which provide different Databases (Ex: postgres ) as a service. Now i want to add this service as an endpoint in kubernetes , but unfortunately the endpoint of RDS is a DNS name . The endpoint yaml does not allow the dns name in the ip field .
------------------------------
kind: "Endpoints"
apiVersion: "v1"
metadata:
  name: "ext-postgres-service"
subsets:
  -
    a

[2016-03-24 01:01] Arjun2016 commented on #13748
I want to use AWS RDS instance which provide different Databases (Ex: postgres ) as a service. Now i want to add this service as an endpoint in kubernetes , but unfortunately the endpoint of RDS is a DNS name . The endpoint yaml does not allow the dns name in the ip field .
------------------------------
kind: "Endpoints"
apiVersion: "v1"
metadata:
  name: "ext-postgres-service"
subsets:
  -
    a

[2016-03-24 01:13] justinsb commented on #23383
A t2.large has more memory, and technically has 2 CPUs.  So it does have more resources, at least as we account for them.

I think the root issue here is that our system components consume a whole (single-core) node.

[2016-03-24 01:17] derekwaynecarr commented on #23360
In general, yes, but some things are more important than others.

I want to quota services by type so we can limit node ports and load
balancers separately.

See:

https://github.com/kubernetes/kubernetes/pull/22154

I want to quota how much storage we let pvc bind against in 1.3.

We should extend to the other types, but I am not sure how quick I want to
do that until we support post deletion hoo

[2016-03-24 01:17] pwittrock commented on #23092
It may be possible to fix this by chaning `--insecure-bind-address=127.0.0.1` in master.json to `--insecure-bind-address=0.0.0.0` and rebuilding the image.  This may have security implications when running outside a vm.

[2016-03-24 01:17] bprashanth opened #23416 "Add ingress e2es as a merge blocker"
These tests run as [Feature] because they needed a seperate project with higher quota.
They needed a seperate project because it was difficult to isolate L7 leaks from L4 leaks and trace it down to a single root cause.
We now have the ability to run in a different project and still be a part of something like gce-slow (right?), so we should do that.

[2016-03-24 01:21] vishh opened #23417 "[1.2] local cluster setup with hyperkube doesn't work"
I tried following the official docker based local cluster setup guide [here](http://kubernetes.io/docs/getting-started-guides/docker/#prerequisites) on OSX and it fails to work in the case of v1.2.

There are several issues. Enumerating a few of them.
- [x] API server is not accessible from outside of the docker VM host.
- [ ] Image garbage collection fails
- [ ] Problem with nsinit - #19069 might

[2016-03-24 01:21] vishh commented on #23417
xref: https://github.com/kubernetes/kubernetes.github.io/issues/159

[2016-03-24 01:38] pwittrock commented on #23092
Thinking more on this, I wouldn't actually use `--insecure-bind-address=0.0.0.0` since it is pretty dangerous to expose outside loopback and prefer the ssh tunnel solution.  The docs should be updated.

[2016-03-24 01:59] AdoHe commented on #23378
@stevekuznetsov so this should be ok now, right?

[2016-03-24 02:18] stevekuznetsov commented on #23378
I don't have a fully functioning Kubernetes environment and I won't be able to set one up for reproduction until mid next week, so it may be easier for you to attempt to reproduce it yourself. If not, I'll get back to you next week. I believe this is broken on Kubernetes master right now.

[2016-03-24 02:27] eparis commented on #23409
is the complete list of `release-note-*`
- release-note
- release-note-breaking-change
- release-note-none

Do we have a doc where to point people so they know what labels to add and what they should be doing when the bot starts blocking up their PRs?

(but yes, this logic is very easy to implement)

[2016-03-24 02:36] alfred-huangjian commented on #23269
@quinton-hoole OK, We will attend the meeting including @mfanjie and @huangyuqi. Let's discuss it over the meeting. However we will try to build a working system asap .

[2016-03-24 02:37] fuliangliu commented on #23320
@thockin  But what should I do if I want the pod to contain both the cluster DNS 'nameserver' entry and the host  DNS 'nameserver' entry ?
In my mind,  the "dnsPolicy=ClusterFirst" definition means that the cluster DNS 'nameserver' entry sits above the the host  DNS 'nameserver' entry in the file "/etc/resolve.conf", isn't it?

[2016-03-24 02:41] jayunit100 commented on #23414
@freehan ... the other 159  tests pass? seems to pass but this one.  i guess your running the conformance suite? Just confirming.

[2016-03-24 02:50] AdoHe commented on #20941
@smarterclayton ok, I will think about this more.

[2016-03-24 03:00] timothysc commented on #23255
/cc @jeremyeder

[2016-03-24 03:04] AdoHe commented on #23402
@kubernetes/kubectl

[2016-03-24 03:07] mfanjie commented on #23269
scheduler wip #23420

[2016-03-24 03:08] DirectXMan12 commented on #23378
I seem to be able to reproduce the edit issue as well, building from HEAD (f3af5d26a4930c9a0414eafd7e6dae10313de39a).

[2016-03-24 03:13] AdoHe commented on #23378
I will take a deep look.

[2016-03-24 03:37] thockin-cc commented on #23404
@pmorie
On Mar 23, 2016 3:07 PM, "motomux" <notifications@github.com> wrote:

[2016-03-24 03:51] DirectXMan12 commented on #23378
I'm not an expert in this part of the code, but it looks like here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/edit.go#L265 we should be using `updates.Versioned`, since according to https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/mapper.go#L69, `Versioned` is the first of the versioned objects, which according to the docs on `runtime.VersionedOb

[2016-03-24 04:02] msaffitz commented on #23170
@aeneaswiener Our existing DS configuration worked fine once it was recreated within 1.2.  The config file is from Datadog:

[code]

[2016-03-24 04:05] eparis commented on #23409
https://github.com/kubernetes/contrib/pull/615 implements the logic. I will not merge/turn on until we work out the message which should be left in a PR.

[2016-03-24 04:43] justinsb commented on #23339
I think this one was a victim of flakiness in the auto-assigner when the author is the first-listed maintainer.  Assigning to you, @brendandburns  :-)

[2016-03-24 05:17] thockin commented on #23320
Please read https://github.com/kubernetes/kubernetes/pull/18089 for
rationale on why that doesn't work.  ClusterFirst is a little bit of a
misnomer now but it hard to change since it is part of the API.  We could
probably change it to a different string with the same meaning, maybe, but
I'd need to think through that.

The DNS server itself will forward requests to the "upstream" DNS.

On Wed, Mar

[2016-03-24 05:18] rsc commented on #23278
This is golang/go#6858 (old but a few recent messages). Mainly we haven't
heard a good reason to make an exception for the struct tags yet. It just
hasn't come up much. Please comment there about why this change would be
useful for you. Thanks very much.

On Wed, Mar 23, 2016 at 7:02 PM Daniel Smith <notifications@github.com>
wrote:

[2016-03-24 05:22] thockin commented on #14978
Do all these things really need caches?  Of the whole object?  How many
could be changed into simple event-reactors that process the event stream
and discard it?  How many could process the event stream and cache a
smaller object (e.g. the namespace, name, UID, and a small set of fields)?

On Wed, Mar 23, 2016 at 1:33 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-24 06:25] AdoHe commented on #23378
@DirectXMan12 if you have bandwidth, it would be great.

[2016-03-24 06:57] onorua commented on #13511
logs you referring to were generated why I've executed `systemctl restart kubelet` manually, because I've already noticed when these glusterfs outages are happening.

Does this graph helps?
[code]

[2016-03-24 06:57] piosz commented on #23376
This is one of possible solution. I'd like to define scope and requirements first and then think about the design.

[2016-03-24 07:17] wojtek-t commented on #23278
I added comment in golang/go#6858
However, for now we need to workaround it (even if it will be changed in Go, we will need it pretty soon for protobuf support).

I'm going to try to fork the necessary parts of reflect to our forked third_party to try to fix that.

Regarding your idea about using external ObjectMeta even on internal objects - I think that would be much bigger change. And if there

[2016-03-24 07:28] dengshuan commented on #11935
Any schedules about this feature? Or is there any more detailed discussion about this?

[2016-03-24 07:45] andrejvanderzee opened #23421 "OpenStack, NodePort and floating IPs"
Hi,

I have noticed that when I specify a service as NodePort on a VM running on OpenStack, the service is bound to the public floating IP. I would expect it to bind to its "private" IP and use externalIPs to bind to public floating IPs. Based on what logic does Kubernetes decide what IP to bind to?

Thanks,
Andrej

[2016-03-24 07:49] mwielgus commented on #11935
For 1.3 we have a plan to revisit cluster autoscaling in Kubernetes and make it more user-friendly. At this moment we are discussing our 1.3 priorities and project assignments internally at Google. We will let you once we reach some agreement regarding the possible scope of the improvement that can be delivered by Google and integration plans for other cloud providers (we will definitely need comm

[2016-03-24 09:08] loveresolution opened #23423 "Failed to start Kubernetes API Server on centos7.1.1503"
I do all the configurations as the kubernetes sites told.(http://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/)

When I come to this step, I encourter the following error.
. Start the appropriate services on master:

for SERVICES in etcd kube-apiserver kube-controller-manager kube-scheduler; do
	systemctl restart $SERVICES
	systemctl enable $SERVICES
	systemctl status $SER

[2016-03-24 09:10] gmarek commented on #23332
@madhurranjan - it indeed seems that this is the case. `register-schedulable` flag is a Kubelet's one and (I guess) during upgrade to 1.2 we only upgrade master binaries and leave underlying Kubelet as is. It probably didn't have `--register-schedulabe=false` set for 1.1.

It's just a though, as I have absolutely no idea how upgrade works.

[2016-03-24 09:10] gy8 commented on #23395
+1

[2016-03-24 09:26] gmarek commented on #23323
@lavalamp - it currently doesn't. There's a long standing issue #13430 for those things. It never were prioritized high enough for anyone to care though.

[2016-03-24 09:29] errordeveloper commented on #22452
Why does it have to be the case? I think tests should be agnostic of how
the cluster had been provisioned, and thereby provide a way of measuring
the compliance of any deployment.

On Wed, 23 Mar 2016, 20:57 Erick Fejta, <notifications@github.com> wrote:

[2016-03-24 09:30] errordeveloper commented on #22452
Otherwise, I don't see a point of having a test suite.

On Thu, 24 Mar 2016, 09:29 Ilya Dmitrichenko, <errordeveloper@gmail.com>
wrote:

[2016-03-24 09:42] c-kochu commented on #23383
Thanks, that explains the weird behaviour

[2016-03-24 09:42] #23383 closed

[2016-03-24 09:48] piosz opened #23425 "Migrate GCA to v1"
From email:
[code]

Should be done before May 1, 2016

[2016-03-24 09:49] piosz commented on #23425
cc @mwielgus

[2016-03-24 10:09] jsravn commented on #23323
Having an upper limit on node deletion (from #13430) sounds like a really great idea and would give me more confidence. I think there also should be a grace period after apiserver starts before nodes get deleted (> node sync time).

[2016-03-24 10:34] mikeyc commented on #21315
@joshuacox not sure if this is still relevant, but we were seeing the same ```...invalid field httpHeaders for v1.HTTPGetAction...``` issue. It looks httpHeaders were added in a2d1bb7 and are therefore only supported in versions >1.2.0. We upgraded* our GCE instances and everything works as expected.

(*[Guide here](https://cloud.google.com/container-engine/docs/clusters/upgrade), though the ```gc

[2016-03-24 10:49] gmarek commented on #23323
For the former I wrote a small PR (#20979), but it still waits for some love. Currently you can set your Burst value to 1 and QPS to 0.01 (1 machine per 100 seconds) or sth like that.

The latter is more tricky, as it'd require NodeController to know if API server got restarted. In the "local" config, where we're running everything on a single machine we can do that, as local loop shouldn't ever b

[2016-03-24 11:04] wojtek-t commented on #23278
hmmm  - I spent 2 hours trying to fork the reflect code and failed.

First, since ConvertibleTo() is a method on Type, we actually cannot fork just this function - we basically need to fork the whole "reflect" package.
Second, even if we fork the whole package, there are some magic constructs there, that make the code non-compiling. As an example there is:
"typedmemmove"
function that has just def

[2016-03-24 11:10] zhouhaibing089 commented on #23239
close it as the patch gets merged.

[2016-03-24 11:10] #23239 closed

[2016-03-24 11:15] wojtek-t commented on #23394
@smarterclayton -
+1000 for this idea
I definitely agree with all you wrote above. [In fact I also wanted to suggest something like that few months ago, but then forgot about it].

I'd actually argue for not setting a relist period at all-- keep watching
until the network flakes out on you.
But since we do require that case to work, shortish relist periods in our
testing seem appropriate to me sti

[2016-03-24 11:30] wojtek-t commented on #23372
This is a stupid bug - there shouldn't be defer in the call. Will send a PR in few minutes.

[2016-03-24 12:00] aeneaswiener commented on #23170
Thanks @msaffitz. Turns out the problem at my end was due to an outdated version of kubectl. ``kubectl version`` should show the same version (in this case 1.2) for server and client.

[2016-03-24 12:09] kargakis opened #23429 "kubectl describe fix"
All objects that contain podtemplates should start using the PodTemplateDescriber instead of selectively printing volumes, containers, or whatever is a part of the pod template.

cc: @smarterclayton @janetkuo @AdoHe @kubernetes/kubectl

[2016-03-24 12:12] deads2k commented on #23396
I'm biased towards nesting (`policy.authorization.openshift.org`), but I'm sure someone will say that's the Java in my trying to get out. :)

[2016-03-24 12:13] therc commented on #23298
I want to take care of the cross-region issue in two steps. First, obtain credentials on demand, at pull time, rather than at startup. Second, register each region separately with the credential provider registry, because its API doesn't provide us with the actual URL needed for that call, so we can't have just one instance of our provider.

[2016-03-24 12:14] deads2k commented on #23396
`ClusterRole` and `ClusterRoleBinding` are clones of `Role` and `RoleBinding` which exist at the cluster scope and which provide authority across items in the cluster, including every namespace.  We had to build them because the client and the server couldn't handle the idea of a single type at two scopes or a single Kind attached to two Resources.

`Policy` and `PolicyBinding` we talked about rem

[2016-03-24 12:15] therc commented on #23298
Should I continue under this issue, with a different title, or create a new one?

[2016-03-24 12:31] deads2k commented on #23402
We've done something that prevents this in openshift.  I don't actually know where or what, but global flags get suppressed, so it can be done without too much surgery.

[2016-03-24 12:32] sstarcher commented on #11935
Our current AWS scaling strategy for Kubernetes currently has 3 parts
* Scale add instances on `Pending` pods
* Remove instances not running pods
* A changed to the scheduler to pack our load instead of spreading our load

[2016-03-24 12:38] deads2k commented on #23402
Looks like we changed the help template and wired up a new command to give us the global options: https://github.com/openshift/origin/blob/master/pkg/cmd/templates/templates.go

[2016-03-24 12:38] tsitaru commented on #14232
Using version 1.2.0, I am still having issues accessing Grafana, getting the same error as above
`Dashboard init failed
Template variables could not be initialized: InfluxDB Error:
Couldn't find series: memory/limit_bytes_gauge`

I can access Influxdb at https://x.x.x.x/api/v1/proxy/namespaces/kube-system/services/monitoring-influxdb:http, the interface loads up, however it is unusable as it canno

[2016-03-24 12:43] tspecht commented on #23341
Any idea why this could happen? Just occured again and I had to manually fix it :(

[2016-03-24 12:46] AdoHe commented on #23429
ref #20941 will follow up this.

[2016-03-24 13:30] kargakis commented on #23429
Ah, https://github.com/kubernetes/kubernetes/issues/20941 supersedes this. Closing.

[2016-03-24 13:30] #23429 closed

[2016-03-24 13:33] jayunit100 commented on #23423
paste the logs for the apiserver ?`journalctl -xn`

[2016-03-24 13:46] zhouhaibing089 commented on #23406
From the release notes, I see:

maybe you should delete the `Deployment` object?

[2016-03-24 13:48] wojtek-t commented on #20963
@hongchaodeng - FYI

[2016-03-24 13:51] jayunit100 commented on #23421
Maybe you should launch your kubelets using the `node-ip` option ?  otherwise probably it just grabs the default first ip address.

[2016-03-24 13:52] slimshady986 commented on #17015
Hello @a-robinson , the problem reappears in 1.1.8 and disappears in 1.2.0. Is there a difference in kube-proxy between these versions. It's very weird!!

[2016-03-24 13:54] jayunit100 commented on #23421
in any case, in kubelet.go, you can see the logic  for how the defaults are found... i guess in openstack the public IP is not the first non-loopback that is listed
[code]

[2016-03-24 14:09] Swaagie commented on #23406
Your right, thanks for that catch, just ran `kubectl delete deployments [name]` and the jobs are now deleted fine. Closing this, although updating documentation while adding new features would be nice.

[2016-03-24 14:09] #23406 closed

[2016-03-24 14:36] justinsb opened #23431 "AWS: We don't actually create the cloudwatch alarm"
We have the function to do so, but we don't actually call it:

https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/util.sh#L535-L562

We should fix, provide a workaround for running clusters.

[2016-03-24 14:37] smarterclayton commented on #23394
Another reason to resync (without relisting) is to be able to handle delta
store comparisons against an external resource.  I.e. if you have X
external resources, and N internal resources, you want to verify X=N every
few minutes, but you don't need to LIST /services at the same rate you LIST
GCE loadbalancers (in the service load balancer controller)

On Thu, Mar 24, 2016 at 7:15 AM, Wojciech Tyc

[2016-03-24 14:40] smarterclayton commented on #23402
And we do that specifically so we can do this -
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cli.go#L87 -
group commands by function.

which is something I've been meaning to upstream to kubectl.

On Thu, Mar 24, 2016 at 8:38 AM, David Eads <notifications@github.com>
wrote:

[2016-03-24 14:42] antoineco commented on #23276
The following definition times out as described above. It resembles our real definition, minus a log forwarding container which I replaced by something generic like postgres.

[code]

Secrets:

[code]

Create the rc and secrets:

[code]

Now delete the rc without killing the pods:
[code]

In the definition, rename the rc to anything else, and recreate it:

[code]

In the definition, rename the rc

[2016-03-24 14:44] smarterclayton commented on #23278
So specifically for the use case of our external types, I think it's
ObjectMetaFor that is broken, not ConvertibleTo.  External types were
*never* intended to be used by code internally.  Places that use
ObjectMetaFor should never deal with external types - instead we need to be
using pkg/api/meta to get the accessor that allows direct set / unset of
those values.  If there are things ObjectMetaFo

[2016-03-24 14:51] smarterclayton commented on #14978
That doesn't mitigate the bandwidth / CPU cost of the watch stream.
Specifically pods, we are watching something that is a) large in individual
size, b) rapidly changing, and c) we have the most objects of.  So having 7
watches there is going to be 7 times more CPU (in encoding, decoding,
conversions, and GC), 7 times more memory allocated, and 7 times more
network bandwidth than is strictly neces

[2016-03-24 15:03] zhouhaibing089 commented on #23421
@jawnsy should not nodePort be `kube-proxy` things?

[2016-03-24 15:04] zhouhaibing089 commented on #23421
@jayunit100 the node port should be handled by `kube-proxy`, right?

[2016-03-24 15:29] zhouhaibing089 commented on #23392
@reflection there is an issue addressing the jsonpath https://github.com/kubernetes/kubernetes/issues/23386, could you try to modify the data field keys to avoid dots?

[2016-03-24 15:34] madhurranjan commented on #23332
We currently use hyperkube for kubelet. That was updated on the box as well to 1.2. Yes the option wasn't present in 1.1

[2016-03-24 15:35] jayunit100 commented on #23392
there is also an E2E test for ConfigMaps which you should run.
`e2e.test --ginkgo.focus=ConfigMap` i beleive.

[2016-03-24 15:35] ericandrewlewis commented on #23417
Thanks for posting this @vishh, I'm having the same problem. However, the docs are hosted in the separate repo, of which you linked to a similar issue.

Let's close this as a duplicate of that.

[2016-03-24 15:42] hongchaodeng commented on #20963
@wojtek-t
One question: how didi it refresh ttl keys without Set()?

/cc @xiang90

[2016-03-24 15:44] justinsb commented on #21162
@gopinatht can you please open a new issue, including the output that shows kubelet not restarting (ideally why it is not restarting, but just whatever output you have)

[2016-03-24 15:45] timothysc commented on #22212
Isn't the this just the ye-olde vectored cross product w/filling and using the determinant as the weighted sum.  /cc @erikerlandson to sanity check me on this.

[2016-03-24 15:48] wojtek-t commented on #20963
@hongchaodeng - using GuaranteedUpdate - the UpdateFunc returns the new TTL that should be aplied.
Note that I'm talking about Set at the storage.Interface level (not Set from etcd, which is probably necessary).

[2016-03-24 15:50] hongchaodeng commented on #20963
Got that.

FYI, my search shows that etcdHelper.Set is used only in etcd helper tests.

[2016-03-24 15:57] wojtek-t commented on #23278
@smarterclayton - actually, this is very good point. I will try to fix it tomorrow.

[2016-03-24 16:02] rsc commented on #23278
Sorry, but you cannot meaningfully fork reflect, just as you cannot meaningfully fork the garbage collector.

[2016-03-24 16:02] therc commented on #23195
I was trying to experiment with a couple of options, but I am stuck because of something like https://github.com/fabric8io/fabric8/issues/5823#issuecomment-200564844 and I can't figure what's going wrong with my service account. Rebuilding the image, I get version 0.18.0 of the metadata filter plugin, which tries to be smarter (too smart, in my case).

[2016-03-24 16:02] justinsb commented on #23298
@therc you can use this issue or open a new one if you'd rather.  I think the IAM update issue is a separate issue.  I don't know if the "Your Authorization Token has expired." message is a bad message from ECR (i.e. == "you're using a token from another region"), or whether it indicates a problem with auto-refresh of tokens?

On fixing it, might it be possible to get the actual URL passed to your

[2016-03-24 16:05] ArtfulCoder commented on #23421
@andrejvanderzee NodePort will bind to all addresses considered as local to the host.
The public service IP must be considered local to your machine, as a result, nodePort is binding to that address as well.

[2016-03-24 16:06] justinsb commented on #23341
Yeah, that is a bug.

But this should only affect _new_ services, right?  So it's just a bigger delay in creating the service?  (I don't think that's great, but it shouldn't be a huge problem unless you're creating services all the time...)

[2016-03-24 16:06] ArtfulCoder commented on #23421
My suspicion is that openstack is routing the public ip, to maybe a set of hosts without DNAT-ing the traffic.

[2016-03-24 16:07] shanegibbs commented on #23398
The roadmap for k8s and etcd is heading towards the etcd v3 client. This will not support basic auth.

See https://github.com/coreos/etcd/issues/4475

[2016-03-24 16:08] szakasz commented on #3764
It's very well feasible, that for example a logging tool (like Sematext Logsene or Fluentd) wants to collect the logs from all containers, and would then do some sort of routing (or tagging) based on the source container. This could be perfectly solved in a dynamic way with labels, without having to touch logging configuration for each new pod/container. However such a "low-level" logging tool sho

[2016-03-24 16:11] zmerlynn commented on #23117
A longer response: This changes one {platform, cloud} combo to not-hardcap the master for memory, when in general the master should be running with memory restrictions for all of the individual pieces (`apiserver`, `controller-manager`, etc.), and we should be doing the right thing so that among {platform, cloud} combos, we actually just right-size the master and the individual pieces.

[2016-03-24 16:14] therc commented on #23298
I'm assuming the message is Amazon's bug, but I'd have to verify. I can probably find a way to pass the URL through, but

1. that's an even more invasive change, so we'd need approval from @erictune
1. it'd only be passed once every 12 hours, right? Still potentially useful for logging/debugging, not so much for auditing.

[2016-03-24 16:17] tspecht commented on #23341
Maybe a short background to what I'm doing:

My CI is rendering a huge template which contains the deployment object, the services and secrets needed to run the whole microservice I'm deploying into a single namespace. This template I'm then deploying using `kubectl apply -f ...`. Hence I would guess that the service is usually not re-created but stays the same (especially because if all the nodes

[2016-03-24 16:21] zmerlynn opened #23433 "Flake in "Variable Expansion should allow substituting values in a container's args""
Seen in #22686:

[code]

* Artifacts: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22686/kubernetes-pull-build-test-e2e-gce/33162/artifacts/
* Jenkins: http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/33162/

[2016-03-24 16:41] vishh commented on #3764
@szakasz: We need to be able to update labels. Docker doesn't support that yet. Is it possible to build a simple bridge from k8s to the tools you mentioned, to make them k8s compatible?

[2016-03-24 16:46] vishh commented on #23417
@ericandrewlewis: The issue against docs is specifically about the content in the docs. This issue is meant to resolve technical issues.

[2016-03-24 16:49] a-robinson commented on #17015
There are a lot of differences in kube-proxy between the versions. The biggest one is that proxying of service VIPs is now done via iptables rather than the kube-proxy sitting in the path of all packets.

[2016-03-24 16:50] vishh commented on #23417
@pwittrock pointed out that the API server is bound to localhost only by default. I assume binding to all the interfaces is not an ideal default. We can make that configurable to work around this issue.

[2016-03-24 16:52] bprashanth commented on #23395
Hmm, can you repro with just container ips then? or is there more to it.
you should be able to force docker to re-allocate the same ip by just using a smaller subnet (in fact i *think* pre docker 1.8 it would cycle ips only after using all 255, but from 1.9 they re-allocate ips as containers die)

[2016-03-24 16:54] zebulonj commented on #23111
@bprashanth Where can I learn more about how the pod authenticates to the API?

I didn't explicitly do anything vis-a-vis authentication the first time I created the pod (replication controller), so if authentication depends on a mounted secret, token, etc., then it must be part of the internal machinery of kubernetes?

This is a cluster that had been working fine for 3-4 weeks, so I don't think i

[2016-03-24 16:58] vishh commented on #14232
@tsitaru: The Grafana error seems like there is some issue with heapster or with kube-proxy. I'd recommend running Grafana with an external service - Nodeport or loadbalancer

InfluxDB is not proxy friendly. So it is not expected to work via the API proxy.

[2016-03-24 16:59] mikedanese commented on #23332
@madhurranjan can you paste the output of:

`kubectl get node <master-node> -o json`

[2016-03-24 16:59] luxas commented on #23197
/cc @luxas

[2016-03-24 17:01] luxas commented on #23417
/cc @luxas

I think there are a reason why apiserver listens only to localhost on the docker guide, security.
However, if we document it, I may update docs and hyperkube to listen on all interfaces (0.0.0.0).
Can't find the issue with that discussion right now.

The image garbage collection would be good to have: #14403.

Other issues: #22927 #22911 #12856

How to run kubelet "natively" instructio

[2016-03-24 17:03] mikedanese commented on #8190
Remove node.spec.unschedulable. Replace with a taint.

[2016-03-24 17:10] vishh commented on #23417
@luxas @pwittrock: I assume hyperkube is meant for ease of use and not a production setup, given the fact that it is hardened yet. Why should we care about security as of now?

[2016-03-24 17:12] rata commented on #23298
On Thu, Mar 24, 2016 at 09:04:10AM -0700, Justin Santa Barbara wrote:

I've used an ECR in the same region and leave the cluster idle for more than 12
hours, and after that I can use the ECR again. It worked just fine.

So, I'd guess that it's a bad message from ECR.

[2016-03-24 17:13] jbeda commented on #14978
Another option here -- share the cache but via the API.  Create an "API cache" server.  Have this speak the same API.  But all connections will be over localhost.  With the move to proto and HTTP2 the overhead there should be reduced.  This is a shared cache but well factored.

[2016-03-24 17:17] slimshady986 commented on #17015
Thanks @a-robinson  for your response !!
Actually when I changed the proxy-mode to iptables, the problem is solved. But over time when more services will be added, the iptables rules won't be a kind of bottleneck?

[2016-03-24 17:17] #17015 closed

[2016-03-24 17:18] bgrant0607 commented on #23146
We need help implementing automation to work around github's woefully inadequate ACL model.

See also: https://github.com/kubernetes/contrib/pull/474

[2016-03-24 17:19] alfred-huangjian commented on #23269
@quinton-hoole Sorry there is some signal issue with my meeting connection. We agree on implementing the simple approach of not dividing the federated RC into clusters at the first phase. Meanwhile we can have more discussion the details of implementing the further approach.

[2016-03-24 17:22] jeremyeder commented on #23255
Very interesting, thanks for cc'ing me.

[2016-03-24 17:24] a-robinson commented on #17015
That's been discussed a bit in #14099 if you want to join the conversation :)

[2016-03-24 17:26] vishh commented on #23255
@timstclair @antoineco: cAdvisor does not enter the container's filesystem. It attempts to compute disk usage of just the top most writable layer.

[2016-03-24 17:26] luxas commented on #23417
I'm OK with updating [127.0.0.1 in single node] to (https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/master.json#L34) to [0.0.0.0 in multi-node](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/master-multi.json#L34)
I may send a PR with this quite trivial change now.
It should be documented too.

[2016-03-24 17:28] luxas commented on #23417
@vishh Do you think we should collect hyperkube-related issues to this issue? (umbrella issue)
If so, update title to reflect that.

[2016-03-24 17:29] ncdc commented on #23255
@timothysc @jeremyeder this shouldn't affect RHEL/devicemapper, especially if we're using the journald logging driver for Docker.

[2016-03-24 17:30] luxas commented on #23397
The really big change here is that you need four binaries instead of one: `docker`, `runc`, `containerd`, `containerd-shim` if I recall correctly.
That _may_ cause issues

[2016-03-24 17:33] vishh commented on #23255
Kubelet accounts host path volumes and that is the root cause. Running `du` on host path could result in a loop.

[2016-03-24 17:36] Random-Liu commented on #3764
@szakasz We added some docker container labels in K8s 1.2 #15089 (See [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/labels.go#L37))

[2016-03-24 17:37] ncdc commented on #23255
Ah, my bad. I assumed this was from cadvisor's accounting.

[2016-03-24 17:44] vishh commented on #23255
@ncdc: Apologies for misguiding early on. This is an issue in kube v1.2. I'm working on a patch.

[2016-03-24 17:45] vishh commented on #23397
The salt script uses packages. So multiple binaries should not be an issue
I think.

On Thu, Mar 24, 2016 at 10:31 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-03-24 17:45] yujuhong commented on #23397
We may want to put both containerd and docker into one cgroup to account for the resource usage.

[2016-03-24 17:55] bprashanth commented on #14978
I suppose this goes without saying, but I'm saying it anyway because it would lead to nasty bugs. Currently any controller can modify its pod cache in weird and unsafe ways. It's best practice to not do so. I'm pretty sure the RC doesn't. If we share, writes from on controller should not get propogated locally to the others. This might need a different type of store.

[2016-03-24 17:56] madhurranjan commented on #23332
master 1:
`{
    "kind": "Node",
    "apiVersion": "v1",
    "metadata": {
        "name": "10.129.1.176",
        "selfLink": "/api/v1/nodes/10.129.1.176",
        "uid": "e54dfc1d-f077-11e5-9eaa-02b4ea6fb0ad",
        "resourceVersion": "663603",
        "creationTimestamp": "2016-03-22T21:49:04Z",
        "labels": {
            "kubernetes.io/hostname": "10.129.1.176"
        }
    },
    "spe

[2016-03-24 18:01] rootfs commented on #13511
@onorua i reproduced your issue! Will provide more info.

[2016-03-24 18:02] david-mcmahon commented on #23409
Yes, that is the list for now.  We may want to add to it later.
As far as messaging. what options do we have?

Can we insert something in the conversation stream?  If so let's go with:

This pull request needs a release note label.  Label with one of:
* `release-note` (standard release note)
* `release-note-breaking-change` (a possibly breaking change - flag modification)
* `release-note-NONE` (PR

[2016-03-24 18:09] quinton-hoole commented on #23269
cc @madhusudancs @nikhiljindal FYI

[2016-03-24 18:13] luebken opened #23438 "Create abbreviation for configMaps"
ConfigMaps is a resource which will be handled quite often in the CLI. An abbreviation would help in less typing. Also it would implicitly propose a standard for naming files: e.g. `myapp-cm.yml``

I would like to propose to use `cm` as an abbreviation for `configMaps`.

[2016-03-24 18:13] bgrant0607 commented on #23335
We definitely need `kubectl run -ti ...` to work.

[2016-03-24 18:19] huggsboson commented on #23111
@zebulonj Can you try clearing out /var/lib/kubelet to test my theory?

[2016-03-24 18:23] smarterclayton commented on #23335
We use attach to stream build contents to build pods.

On Thu, Mar 24, 2016 at 2:14 PM, Brian Grant <notifications@github.com>
wrote:

[2016-03-24 18:24] lavalamp commented on #23278
Yeah it looks like reflect is even harder than the `go/types` package was (I wanted to use it from go 1.3 & 1.4 *without changing the import path* because we build in all versions-- that was a huge pain, the library has a bunch of stuff to make it *hard* to fork.).

I guess it's follow up on what Clayton says, or if it's an emergency, use `unsafe`, but we've avoided using that until now and I'd ha

[2016-03-24 18:29] mikedanese opened #23439 "Create e2e test suite for garbage collection controller"
https://github.com/kubernetes/kubernetes/pull/23065#issuecomment-200935736

[2016-03-24 18:32] huggsboson commented on #23111
For a little more context on how service account tokens work.  Basically when a serviceAccount is created (there is always a default per namespace) the master (controller-manager) will will create a token and encrypt it using its private key, create a secret and associate it with the default serviceAccount.  This token is then automatically submitted by kube2sky to the API (using HTTP Authorizatio

[2016-03-24 18:34] rosskukulinski opened #23441 "AWS: ENABLE_CLUSTER_MONITORING defaults to influxdb - does this work with HPA?"
cc: @justinsb, from our discussion on slack.

In [cluster/aws/config-default.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/config-default.sh#L103), ENABLE_CLUSTER_MONITORING defaults to 'influxdb'.  My understanding of [HPA](http://kubernetes.io/docs/user-guide/horizontal-pod-autoscaler/), is that it currently only works with heapster.

Does the default need to be changed to

[2016-03-24 18:34] maciek123 opened #23442 "kubectl exec does not accept quotes"
`kubectl exec mypod -- date --date '-1 day'` becomes
`kubectl exec mypod -- date --date -1 day` (quotes dropped)
and fails

[2016-03-24 18:38] huggsboson commented on #23197
Sorry I've been too swamped with other work to prep this change.  It feels like we should fix the underlying issue or make the clearing of /var/lib/kubelet each time part of the setup process.  As it tends to just "break DNS" (or any other service account token using service that you have).  I'll  prep some changes to the turnup script and docs if I get a chance in the next few days.

[2016-03-24 18:42] pmorie commented on #23404
@motomux thanks for finding this; i will fix it.

[2016-03-24 18:43] vishh commented on #23417
xref: #23092

[2016-03-24 18:44] JeanMertz commented on #14339
Has anything changed regarding my original request since 1.2 shipped?

I found the `kubectl drain` command, and used that to empty a single node. But I'm still left with one problem:

I can _delete_ the node from the GCE interface, but that simply spins up a new instance with the _old_ deploy scripts, and thus it won't result in an upgraded node.

Is there any way to "preload" the new deploy scrip

[2016-03-24 18:45] fgrzadkowski commented on #23197
I'm not sure that clearing this directory by default is always a good solution. I imagine someone may want to restart kubelet, but keep the state...

[2016-03-24 18:48] huggsboson commented on #23197
Yeah, I think fixing the bug/race is the best option.  I just don't have the time to take that on.

[2016-03-24 18:49] apobbati commented on #23092
How would I go about connecting to the secure port? Is that listening on 6443? Where are the certs kept?

[2016-03-24 18:49] pwittrock commented on #23092
@vishh Are you familiar with the steps for configuring some simple authentication for the localcluster?

[2016-03-24 18:55] augieschwer commented on #23092
Is it just me or is the

step wrong too?

My version of `kubectl` doesn't have an "deployment" type available to the "expose" sub-command.

`➜  ~ kubectl expose deployment nginx --port=80
Error from server: deployments.extensions "nginx" not found`

Whereas this works for me:

`➜  ~ kubectl expose rc nginx --port=80
service "nginx" exposed`

Just me?

`➜  ~ kubectl version
Client Version: version.

[2016-03-24 19:00] rata commented on #23174
@justinsb: If it helps, I was about to write our own Terraform script to deploy our kubernetes cluster. We were afraid of running out of sync with the current kube-up and in doubt. But if you have this awesome tool, then I think we can just send PRs to it and all can be happy. It will be really nice if we can all cooperate (GCE included) and each one uses the tool they prefer at the end.

[2016-03-24 19:03] rootfs commented on #13511
@onorua you have to patch your systemd with the following, so when systemd stops kubelet, it only kills the main process, not the control-group. For details, refer to [RHEL admin manual](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/sect-Managing_Services_with_systemd-Unit_Files.html)

[code]

[2016-03-24 19:05] mml commented on #23423
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-24 19:05] #23423 closed

[2016-03-24 19:06] mml commented on #23421
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-24 19:06] #23421 closed

[2016-03-24 19:08] vishh commented on #22694
I'm closing this as a dup of #10781.

[2016-03-24 19:09] fgrzadkowski commented on #23361
Reassigning to @mwielgus who already had a fix for this when working on https://github.com/kubernetes/kubernetes/issues/15732.

[2016-03-24 19:12] mml commented on #23403
We should at least document this defaulting behavior.  There are flags to set requests and limits, but both just say that the default is "", which is obviously not correct.

[code]

[2016-03-24 19:14] mml commented on #23401
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-24 19:14] #23401 closed

[2016-03-24 19:18] pwittrock commented on #23092
@augieschwer The most recent version of `kubectl run` should now create a `deployment` instead of a `replication controller`.  I am not sure if this change made it into the v1.2.0-alpha.7 release.  `kubectl run` should now say `created deployment`.  Do you still see the same behavior when running the non-alpha client?

[2016-03-24 19:20] srounce commented on #22623
@smarterclayton I know it isn't perfect, but would it be possible to take an approach similar to cygwin where we leverage a small util to transform paths to/from?

[2016-03-24 19:23] madhusudancs commented on #23269
PodSpec is not the right place to put cluster specific information. As @quinton-hoole suggested we should consider putting it into annotations in the first version if that's easiest thing to do.

As described in the doc here [federation-phase-1.md#replication-controller](https://github.com/kubernetes/kubernetes/blob/master/docs/design/federation-phase-1.md#replication-controller), the cluster spec

[2016-03-24 19:30] mml commented on #23375
@mikedanese

[2016-03-24 19:34] mikedanese commented on #23375
@matthughes what version of master and node are your running? are any daemonsets targetting the pods?

[2016-03-24 19:44] mml commented on #23370
This seems like a problem with the update done by the package manager.  Please re-open if I've misunderstood.

[2016-03-24 19:44] #23370 closed

[2016-03-24 19:54] augieschwer commented on #23092
@pwittrock `v1.2.1-beta.0` seems to work as the documentation expects. Maybe the problem then is that the docs (http://kubernetes.io/docs/getting-started-guides/docker/) list `1.2.0-alpha.7` and the links in "Download kubectl" link to that version of `kubectl`. Thanks for the reply!

[2016-03-24 19:58] mml commented on #23298
@justinsb can you make the bug title more succint & correct?

[2016-03-24 20:13] wojtek-t commented on #23278
Will do my best tomorrow.

[2016-03-24 20:14] lavalamp commented on #23396
I could also see authorization.policy.openshift.org.

Alternatively, if we think anyone other than openshift will use this, a
thematic name might be good. `basic.authorization`? `level2.authorization`?
Is there anything unique about this authz system that we could call out in
a name?

On Thu, Mar 24, 2016 at 5:12 AM, David Eads <notifications@github.com>
wrote:

[2016-03-24 20:16] liggitt commented on #23396
I would expect it to get used... it's a nice role-based system... `rbac.authorization`?

[2016-03-24 20:18] lavalamp commented on #23396
That SGTM.

[2016-03-24 20:18] dchen1107 commented on #22623
Can someone grant me, dawnchen@google.com the comment permission on that shared doc?

[2016-03-24 20:21] lavalamp commented on #14961
Can this be combined with cascading deletion? Seems silly to keep this information in every object twice. @caesarxuchao

[2016-03-24 20:22] mml commented on #23281
In addition, we could include text in the template to make it clear that ordinary support issues belong in stackoverflow.

[2016-03-24 20:22] liggitt commented on #23396
We should also decide whether k8s groups get suffixed with `k8s.io`, `kubernetes.io`, or not at all (we have all three in-repo at the moment, and it's like a splinter in my mind)

[2016-03-24 20:25] jeremyeder commented on #23349
Agree with all comments about the benchmark. @dchen1107 perhaps we should file a new issue to deliver that and leave this one to delivering the increase, should we be able to agree on something.

This test is:

1. sleep 60
2. schedule 100 "hello-openshift" pods across 2 nodes https://github.com/openshift/origin/tree/master/examples/hello-openshift
3. wait til they are all running
4. sleep 60
5. sc

[2016-03-24 20:27] jeremyeder commented on #23349
@dchen1107 as far as what a "benchmark" may look like...

Perhaps we generate a "node scaling score" out of factors like cpu_generation+core_count+GB_RAM+kube_version+other_factors. That score would set max-pods dynamically.

This way we don't have to inject a "test" into the admission control pipeline or product install paths, the node process could compute the score/max-pods dynamically during i

[2016-03-24 20:28] erictune commented on #23298
@therc describe the invasive thing you are proposing to do?

[2016-03-24 20:29] mml commented on #23232
These should probably be broken out with a specific approach for each test: either make it more platform agnostic or label some tests as [Debian].

[2016-03-24 20:31] pwittrock commented on #23092
@augieschwer Thanks for pointing that out.  We need to update that page to correct the version as well as add the ssh tunnel command.  We have discussed some solutions to make bootstrapping a local environment more user friendly and are hoping to improve this experience.

@vishh Since you are planning on working on / coordinating this update, would you make sure all of the version are correct.  Th

[2016-03-24 20:33] mml commented on #23198
@trodriguez-photobox Can you link to the official documentation in question?

[2016-03-24 20:33] vishh commented on #23417
@luxas: #23092 suggests setting up a ssh tunnel to work around the port issue. I'm ok with that solution too.

[2016-03-24 20:34] mml commented on #23198
Ah, probably http://kubernetes.io/docs/getting-started-guides/juju/

[2016-03-24 20:38] deads2k commented on #23396
k8s.io please, with unambiguous prefixes matched on the cmd line.

[2016-03-24 20:40] therc commented on #23298
@erictune basically, what I suggested in https://github.com/kubernetes/kubernetes/issues/21783#issuecomment-192756850

plus an additional change to Provide() so that it passes along the image URL. I'm not sure about @justinsb's exact use case here, because Provide() would be called only once every ~12 hours for ECR.

[2016-03-24 20:42] mml commented on #23146
@bgrant0607 is there a team/ label appropriate for things that are neither test nor release infra, but otherwise involve improving the developer/contributor/community experience?  If not, I think there should be.

[2016-03-24 20:44] vishh commented on #23349
+1 for dynamic limits. Those limits should also take into account kubelet's
internal design though, specifically around latency.

On Thu, Mar 24, 2016 at 1:28 PM, Jeremy Eder <notifications@github.com>
wrote:

[2016-03-24 20:45] mml commented on #22980
@fejta what is the correct team label if not test-infra?

[2016-03-24 20:48] #22839 closed

[2016-03-24 20:51] ihmccreery commented on #14339
You should be able to change the instance group template and then make requests to recreate the instances:

1. [Change the instance template for a managed instance group](https://cloud.google.com/compute/docs/instance-groups/#set_group_template)
1. [Recreate instances in the group](https://cloud.google.com/compute/docs/instance-groups/#recreate_instances)

Note that deleting the instance manually

[2016-03-24 20:52] liggitt commented on #23396
So what do we do with the fact that the most official ones we have (extensions, autoscaling, batch) all lack that?

[2016-03-24 20:56] lavalamp commented on #23323
I think node controller needs to watch apiserver's health. We can take this up in a different issue though.

[2016-03-24 20:57] erictune commented on #23396
@bgrant0607 how do you feel about making this go straight to Beta when it upstreams since it is based on a well-tested API?

[2016-03-24 21:08] timstclair commented on #23349
Another factor we need to consider is probing. As https://github.com/kubernetes/kubernetes/issues/16943#issuecomment-183544512 shows, agressive liveness / readiness probing can have a significant impact on performance. We may eventually need to figure out how to account probe usage to the containers being probed.

[2016-03-24 21:14] vishh commented on #23349
@timstclair: Unless we can move to an `exec` model for all probing, it will be difficult to tackle charging.

[2016-03-24 21:19] #22694 closed

[2016-03-24 21:22] luxas commented on #23417
Ok, let's leave as-is. But it should be documented, I may send a PR soon.
IIUC, the command one have to run on Mac is
[code]
and it'll work.
Probably other small things could be improved as well
cc @pwittrock

[2016-03-24 21:28] yujuhong commented on #23349
That's why I think benchmark with realistic/customizable workloads is valuable. Users can benchmark their cluster and adjust if they want (e.g., determine max pods allowed with 10% of dedicated resources).

[2016-03-24 21:28] smarterclayton opened #23451 "e2e flake in 'ResourceQuota and capture the life of a secret'"
http://pr-test.k8s.io/23393/kubernetes-pull-build-test-e2e-gce/33436/build-log.txt

[code]

[2016-03-24 21:31] pwittrock commented on #23417
+1 on using an ssh tunnel instead of changing the insecure bind.

While you are in there, would you also update the kubectl and docker image version to 1.2.0 instead of the alpha version?

[2016-03-24 21:33] therc commented on #23388
I worked around this. I make the key file immutable by running chattr +i after generating it. Then I alo changed the openssl command to ignore failures (the chattr one doesn't, so that if the file is e.g. missing, the service ends up in failed state).

[2016-03-24 21:41] timothysc commented on #23349
We also need to take disk resources into account going forwards, right now that's a level of overhead that we haven't really captured.

[2016-03-24 21:43] erictune commented on #829
Jobs have deadlines.  Job is the preferred way to run a pod that terminates.  Closing.

[2016-03-24 21:43] #829 closed

[2016-03-24 21:57] timothysc commented on #5754
/cc @detiber

[2016-03-24 21:57] reflection commented on #23392
@zhouhaibing089: I tried without dots, no change
@jayunit100: This seems like the way to go, but the following are some of the issues I've run into:
1)  git clone kubernetes and checkout tags/v1.2.0, ./build/run.sh hack/build-cross.sh fails:
[code]
2)  Checkout kubernetes master, ./build/run.sh hack/build-cross.sh compiles, but server and client don't match:
[code]
3)  Observed that "client" is pr

[2016-03-24 22:12] azell opened #23455 "Provide flag to scale up/down > 1 pods at a time during rolling-update"
`kubectl rolling-update` works by bringing up and taking down a single pod at a time.  Even with `--update-period` set to a low value, deploying to a controller with a decent replica size can take a non-trivial amount of time.

It would be useful to create a flag allowing the client to specify the number of pods to bring up/take down in batch with a default value of 1.

[2016-03-24 22:17] #23255 closed

[2016-03-24 22:40] eparis commented on #23409
Do we really want `release-note-NONE`? Does it need to be all caps?

I can certainly put that as a text comment in a PR any time the labels look bad. I'd also like to link to 'more info'. Do we have a 'more info' ?

[2016-03-24 22:44] david-mcmahon commented on #23409
All caps only a way to raise visibility of it being a special 'opt-out' label, but not necessary.
I'll create a more info then.  We don't have it yet.

[2016-03-24 22:46] hongchaodeng opened #23458 "Better handle Codec() and Versioner() of storage.Interface"
@timothysc has a comment on this on #23387. It's orthogonal to the issue but of course we could extend it to a discussion.

Currently, Codec() and Versioner() wrap an input object that could be shared across different storage back-ends. The code is just a repeat for each implementation:

[code]

[2016-03-24 22:47] hongchaodeng commented on #23458
Any idea to handle this?

/cc @wojtek-t @lavalamp

[2016-03-24 22:54] lavalamp commented on #23458
I don't think this repetition is a big deal, but if you want to factor out into a third package it's fine with me.

[2016-03-24 23:03] pwittrock commented on #21605
Debug info has been added to the serve_hostname container and test output.  Closing for now.  Please reopen when we see this again and can investigate further.

[2016-03-24 23:03] #21605 closed

[2016-03-24 23:04] dchen1107 commented on #23349
@jeremyeder I can file a separate benchmark issue. Actually I were in the middle of filing that, and saw this issue and everyone jumped into all over talking about the benchmark.

But on another side, I think publishing the benchmark can serve the purpose without keeping increasing --max-pods per node. Node team signed up to:

* together with other teams & community to define the performance SLOs

[2016-03-24 23:15] jayunit100 commented on #23392
I think maybe e2e.go is specific to the ci? Just make the e2e binary...

- Run hack/build-go.sh test/e2e/e2e.test , and then
- run _output/(your machine type)/bin/e2e_test with --master=your API server and --kubeconfig=<path to your kubeconfig>

[2016-03-24 23:27] david-mcmahon commented on #23409
See #23460.  You can add this link for [more info](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/pull-requests.md/#release-notes)

[2016-03-24 23:30] lacion commented on #23013
i am experiencing the same issue with 10 nodes.

running latest releases kubernetes 1.2.0

`kubectl get nodes
NAME                     STATUS    AGE
node1    Ready     2d
node10  Ready     2d
node2    Ready     2d
node3    Ready     2d
node4    Ready     2d
node5    Ready     2d
node6    Ready     2d
node7    Ready     2d
node8    Ready     2d
node9    Ready     2d`

`Name:		fluentd
Image(s):	dron

[2016-03-24 23:35] quinton-hoole opened #23461 "Regression: kube-up failure rates in e2e on GCE increased 6x since yesterday"
There is a noticeable increase in the number of clusters that fail to come up correctly in our GCE e2e CI tests:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/

Today there have been 8 such failures in 16 hours (1 per 2 hours).

Yesterday there were 2 failures in 24 hours (1 per 12 hours).

Looking at the logs, it's not clear exactly what's failing. Further investigati

[2016-03-24 23:40] mikedanese commented on #23013
Do the nodes have capacity, are you using host ports?

[2016-03-24 23:42] quinton-hoole commented on #23461
I see a similar trend in normal (non-ubernetes) cluster turnups, so the problem does not seem to be ubernetes-specific.  kube-up changes? e.g:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/

10/24 - 7 failures in 16 hours ~ MTTF 137 min
10/23 - 6 failures in 24 hours ~ MTTF 240 min
10/22 - 1 failures in 24 hours ~ MTTF 1440 min

[2016-03-24 23:44] yujuhong commented on #23349
I think we all agreed that developing a node benchmark should be the next step. The benchmark will allow users to test their nodes and adjust kubelet configuration (e.g., --max-pods) accordingly. They can also publish the results and share them with the community. The results can serve as a ballpark for users who just want some configuration to start with. In addition to that, having the published

[2016-03-24 23:49] lacion commented on #23013
2 of the nodes *DO NOT* have capacities, all the other do. i am not using host ports

will it be possible to reserve resource for daemonsets?
will they get created in the nodes with no capacity when there is?

[2016-03-24 23:56] bgrant0607 commented on #23218
@mikedanese: @ghodss ran into a problem where alpha Deployments appeared to be selecting all pods when updating from 1.1.X to 1.2.0.

The ReplicaSet wouldn't be empty because we add a pod-template-hash label, but no user labels would be selected, so it would select all the pods in the namespace.

[2016-03-24 23:56] bgrant0607 commented on #23218
cc @janetkuo

[2016-03-25 00:01] lavalamp commented on #23321
@ncdc Any chance you could glance at this?

[2016-03-25 00:02] lavalamp commented on #23365
@janetkuo Not sure if this is really you or not, but maybe you can diagnose?

[2016-03-25 00:07] pwittrock opened #23462 "Move conformance e2e tests to node-e2e tests"
The node e2e test coverage needs to include all items covered by e2e tests sufficient to validate a container runtime and node host environment.

lantao wrote a **[doc of items]** (https://docs.google.com/document/d/1QDN5Hss7rBb72Fs8mJ5kDgnccpms2I6Uv6AbjDwL3mg/edit?ts=56f47f0f) that need to be covered.

We also need to figure out what e2e tests should be moved to the node e2e tests.  List tests he

[2016-03-25 00:21] ncdc commented on #23321
More relevant bits from the log:

[code]

It seems the pseudo-interactive test is hanging. No idea why at this point. The earliest I can probably look at this is Monday at this point, although if I have any time over the weekend, I'll see what I can maybe squeeze in.

[2016-03-25 00:27] bgrant0607 commented on #23349
@timothysc Could you please clarify the following comment?

Which resource constraints? The containers'?

Each pod and container requires some amount of resources from the management agents (Kubelet, cadvisor, docker) and kernel. These resources can't be attributed to the cgroups of the containers (we've been working on such things for years internally). Depending on the resources allocated to the

[2016-03-25 00:33] timstclair commented on #23397
kube-proxy fails to come up. From `/var/log/kube-proxy.log`
[code]

[2016-03-25 00:55] reflection commented on #23392
Thanks for the tip.  Output follows:
[code]

[2016-03-25 01:03] reflection commented on #23392
As you can see from the test results, the e2e_test also does not have the ConfigMap mounted into the volume as a file.

Would it be possible for someone else to replicate what I'm seeing?  Setup k8s 1.2 [locally, single-node docker](http://kubernetes.io/docs/getting-started-guides/docker/) and run the commands from my first comment (with the example.yaml).

[2016-03-25 01:14] bgrant0607 commented on #12143
See also #7311

[2016-03-25 01:21] bgrant0607 commented on #12143
And #17333, #5889, #3676

[2016-03-25 01:26] bgrant0607 commented on #12143
With respect to printing, selection/formatting is ok, though I'd like it to be fairly automated. See #11617. Could all printers be expressed using the custom-column printer?

printPodBase is computation that should go into Kubelet

[2016-03-25 01:31] bgrant0607 commented on #12143
MapBasedSelectorForObject: We need to add matchExpressions to Service, as discussed in #341.

We should also serialize selectors as strings in status of objects with selectors, as we do in Scale.

[2016-03-25 01:33] bgrant0607 commented on #12143
Proxy, port forward, etc. See https://github.com/kubernetes/kubernetes/pull/4440#issuecomment-75181244 and #3481. We need a polymorphic API that returns an address+ports.

[2016-03-25 01:35] bgrant0607 commented on #12143
Roundtripping is #3955

[2016-03-25 01:39] bgrant0607 commented on #12143
Describers: We should link/refer to related resources in status: #3676.

[2016-03-25 01:40] bgrant0607 commented on #12143
Conversion: dry run in the server

[2016-03-25 01:41] bgrant0607 commented on #12143
Strategic Merge: We should find a way to express the patch keys in Swagger.

[2016-03-25 01:45] bgrant0607 commented on #12143
Expose could perhaps be a subresource

[2016-03-25 01:46] bgrant0607 commented on #12143
As could controller-from-podtemplate, which is really a variant of #170

[2016-03-25 01:48] broady opened #23465 "Tutorial load balancer commands do not work"
Everything works up until this point.

[code]

Broken:
[code]

[2016-03-25 01:49] bgrant0607 commented on #12143
And for something like run --expose, see #14956

[2016-03-25 03:06] philips commented on #23335
@bgrant0607 run works
@smarterclayton why not use logs?

@ncdc It is the ability to "re-attach" and also being able to attach stdin to any arbitrary process ever that is troublesome for us. I just don't get the use case and feel like it is something that is a candidate for removal because implementing it is annoying and incurs cost even when not in use.

[2016-03-25 03:31] ghodss commented on #23104
At the very least it would be really nice to have every release 'certified' in the sense of whether it will restart pods or not. Given 1.2.1 is already in the pipe to be released, the upgrade could either take us less than an hour if I can just confidently roll through without draining nodes, or it could take nearly a day if I have to fully manually drain every node before upgrading.

In general t

[2016-03-25 03:35] yifan-gu commented on #23335
@smarterclayton Are you saying you need to stream contents to the stdin of the running pod?

[2016-03-25 05:21] zhouhaibing089 commented on #23465
@broady you see there is no replica controllers named `hello-node`, you see in the events, there are:

1.   `hello-node`: the created Deployment.
2.   `hello-node-4173368413`: the created **ReplicaSet**(not replication controller)
3.   `hello-node-4173368413-xxevg`: the created pod.

[2016-03-25 05:34] broady commented on #23465
@zhb okay? So what?
On Mar 24, 2016 10:22 PM, "zhb" <notifications@github.com> wrote:

[2016-03-25 05:37] zhouhaibing089 commented on #23455
@azell I do not think there is a default value in 1.2: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/rolling_updater.go#L261-L342.

kubectl will decide to scale up and scale down as much as possible.

[2016-03-25 05:41] zhouhaibing089 commented on #23465
so the broken part you described above is no suprise, those objects does not exist.

[2016-03-25 05:46] zhouhaibing089 commented on #23442
Surprising, It is fine on v1.1:

[code]

[2016-03-25 05:48] broady commented on #23465
The tutorial instructions are broken, presumably with the 1.2 update?

kubectl run creates a deployment now, not an RC.

Follow the hello node tutorial, and you'll see that it's broken.

[2016-03-25 05:52] zhouhaibing089 commented on #23465
@broady I see it https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/hellonode.md, shall create a PR to fix that.

[2016-03-25 06:01] broady commented on #23465
A lot of people will still be on 1.1, so it is probably worth putting in
some troubleshooting steps for those on the wrong version.

Also, creating the load balancer takes some time, so the tutorial should
indicate that. I gave up waiting for the LB to become active.

I'll file another bug against kubectl for not making the pending status of
a LB coming online more clear.
On Mar 24, 2016 10:52 PM,

[2016-03-25 07:50] AdoHe commented on #23442
@maciek123 please provide your kubernetes version. `kubectl version` can give you that info. It would be quite useful for us to debug this issue with version info.

[2016-03-25 07:56] mfanjie commented on #23269
@madhusudancs thanks for your suggestion. We have offline sync and we agreed on the approach you suggested, @jianhuiz is making the structure change on kube-apiserver, I will resume my WIP later on.

[2016-03-25 08:21] wojtek-t opened #23468 "e2e flake: "Services should be able to change the type and ports of a service" is flaky"
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:716 Expected error: <*errors.errorString | 0xc20854bb10>: { s: "failed to create static IP: ERROR: (gcloud.compute.addresses.create) Some requests did not succeed:\n - The resource 'projects/k8s-jkns-e2e-gce/regions/us-central1/addresses/e2e-external-lb-test-78a722ee-f25f-11e5-a6eb-42010af01555' already exist

[2016-03-25 09:00] wojtek-t commented on #23458
I agree with @lavalamp - those are very simple getters. So it's not a big code duplication. So although extracting it would be good, I would treat it as P4 :)

[2016-03-25 09:58] fgrzadkowski opened #23471 "kube-addon-updater.sh not working properly for Deployments"
Current logic in `kube-addon-updater.sh` is the following:

1. Check object names in the yaml files on disk and compare with objects with `kubernetes.io/cluster-service=true` label
2. Delete objects not listed on disk which exist in the system
3. Create not existing objects
4. Delete&Create objects for which are using name suffixes to find next version (e.g. `heapster-1.0` and `heapster-1.1` with

[2016-03-25 09:58] fgrzadkowski commented on #23471
@piosz @mwielgus
Ref #23470

[2016-03-25 10:09] wojtek-t commented on #23278
Switching from ObjectMetaFor to meta.Accessor seems to solve this problem.
https://github.com/kubernetes/kubernetes/pull/23472 is fixing this issue.
PTAL

[2016-03-25 11:05] ncdc commented on #23335
@philips I think that the ability to reattach an arbitrary number of times is a limited use case, specific to debugging. I would be fine deprecating and eventually removing this ability. However, it's not currently that simple, because:

@yujuhong yes, we start a pod that waits to receive data via stdin. We then use attach to connect a client to the running process in the pod, and the client strea

[2016-03-25 11:10] wojtek-t commented on #14978
I completely agree with what @smarterclayton wrote above. Actually this was exactly my motivation while creating this issue.

@jbeda - I'm not sure I'm following your idea. If we would make this a separate component and controller communicating with it via HTTP, then we will loose all the gains from sharing it, because every controller would need to deserialize the response coming to it.

@bprasha

[2016-03-25 11:23] #23200 closed

[2016-03-25 11:24] arminbalalaie opened #23474 "DNS is not working for external domains like google.com"
I have installed Kubernetes on Bare-metal/Ubuntu. I am on `6b649d7f9f2b09ca8b0dd8c0d3e14dcb255432d1` commit in git. I used `cd kubernetes/cluster; KUBERNETES_PROVIDER=ubuntu ./kube-up.sh` followed by `cd kubernetes/cluster/ubuntu; ./deployAddons.sh` to start the cluster. Everything went fine and the cluster got up.

My `/ubuntu/config-default.sh` is as follows:

[code]

Then, I created a pod using

[2016-03-25 11:49] soltysh opened #23475 "ObjectMeta for templates"
Per [this comment](https://github.com/kubernetes/kubernetes/pull/21675/files#r57190315) we need stripped down `ObjectMeta` to be used for templates (eg. `PodTemplate`, `JobTemplate`, etc.).

@bgrant0607 @deads2k @lavalamp

[2016-03-25 12:34] justinsb opened #23476 "Feature: Investigate simpler networking"
The existing networking options seem to do full IPAM, but simple ip tunneling of CIDRs might be easier.  We already allocate CIDRs in the API server, and nodes already have full visibility into other nodes's CIDRs.

Ubuntu’s Fan networking though seems to offer this: https://insights.ubuntu.com/2015/06/24/introducing-the-fan-simpler-container-networking/

We could also simply directly set up tunne

[2016-03-25 12:35] justinsb opened #23477 "AWS Feature: >50 node networking support for AWS"
We need built-in support for some networking layer that gets past the 50 node limit of VPC.

Built-in might just mean bundling one of the existing options into the installer.  But we should also see whether another option is more suitable on AWS, e.g. #23476

[2016-03-25 12:38] justinsb opened #23478 "AWS Feature: kube-up replacement that works for everyone"
Whatever kube-up becomes in 1.3 should:
- be good
- should work with the installation technologies that people want to use (in particular Terraform & CloudFormation seem important on AWS)
- should allow changes
- should offer reasonable configuration (multi-AZ, internal CIDR, networking layer)
- allow groups of nodes to be added & managed easily, with different configurations (AZs, instance types,

[2016-03-25 12:42] justinsb opened #23479 "AWS Feature: HA master"
kube-up should support up a true HA master configuration. This likely means:
- Clustered etcd
- Elected scheduler/kcm
- Run in an ASG
- Behind an ELB

A lot of this work will hopefully be happening anyway, so this work will likely focus on doing the AWS equivalents of the GCE work.

[2016-03-25 12:43] justinsb opened #23480 "AWS Feature: Autoscaling of nodes"
Our nodes run in an autoscaling group, but we don't currently autoscale them.

We should set up some rules to enable autoscaling.  Ideally we would also publish custom metrics to enable k8s-specific autoscaling, or we would drive autoscaling from within k8s.

[2016-03-25 12:45] justinsb opened #23481 "AWS Feature: Route 53 integration"
Services should be able to declare that they want a specific DNS name.

We should define a label/annotation or other way for a service to specify that it wants a DNS name, and have a controller that creates it.

We should have integrations with Route53 (& presumably the GCE equivalent)

[2016-03-25 12:46] justinsb opened #23482 "AWS Feature: CA integration"
AWS has limited CA support, and there is also LetsEncrypt.

Services (or ingress points) should declare that they want a certificate, and we should be able to automatically provision (& renew) them.

It is unclear whether there is value in the Amazon service, given LetsEncrypt exists.

[2016-03-25 12:58] justinsb opened #23483 "AWS Feature: Services can share an ELB"
We should allow two services in different k8s clusters to share an ELB, or to use an existing one that is created elsewhere.

One idea that was proposed was to use a "shared secret".  If two services are labelled with the shared "shared secret" for their loadbalancer on two different clusters (but the same AWS account), they would get the same ELB.

The implementation of this would be fairly strai

[2016-03-25 12:59] justinsb opened #23484 "AWS Feature: SSL ingress"
We need SSL support for services on AWS.  Right now we don't have a working example, and we don't support SSL on ELBs (we will actively remove any certificates).

We should either figure out a nice example using Ingress, or support offloading to ELB.

[2016-03-25 13:02] justinsb opened #23485 "AWS Feature: Configure idle timeouts on ELBs"
We should support annotations to configure some of the more obscure settings on ELBs.

For example, apparently Akamai wants idle timeouts of >300s, and the default is 60s.

We might want to set the default timeout to 300s if that's generally a good thing, but then have an annotation to allow these settings to be tweaked.

If these annotations are generally applicable we should consider making them

[2016-03-25 13:14] fiorix opened #23486 "kube2sky does not recognize CA"
At some point I have updated the certificates in /srv/kubernetes, and now kube2sky refuses to talk to the kube-apiserver because it doesn't recognize the CA. Keep getting this in the log:

[code]

I tried deleting /srv/kubernetes, all service accounts, and secrets, then run kube-up.sh again. Everything is created and comes up, but kube2sky remains with the same problem.

How can I fix it?

[2016-03-25 13:17] #23372 closed

[2016-03-25 13:37] wojtek-t commented on #20963
Actually - there is one more place that is more problematic:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/registrytest/etcd.go#L192

[2016-03-25 13:38] fiorix commented on #23486
Ok, just realized that the IP it's trying to talk to is actually kube-proxy. When I look at kube-proxy's log I see this:

[code]

Those broken pipes are probably kube2sky failing the TLS handshake. How can I re-create this missing entry?

[2016-03-25 13:51] #15732 closed

[2016-03-25 13:51] wojtek-t commented on #20963
Actually, it's not that difficult how I thought it will be.
I already started doing this - will try to send out PR later today or early next week.

[2016-03-25 13:52] zhouhaibing089 commented on #23465
cc @johndmulhausen @juretta to have a look.

[2016-03-25 14:00] jayunit100 commented on #23392
- so,now that we have the results submitted,  by definition, we know that you are running on a broken cluster.

- The more important question for you is: what is wrong with my cluster?  To answer that, run e2e tests with focus="Conformance" and submit the results to stackoverflow.

- This is not a bug so let's close

- and also, please create the stackoverflow question, and add the link here

Than

[2016-03-25 14:10] huhlig commented on #23478
- Allow for named multi cluster configuration. (something akin to --cluster=foobar)
 - Support Configuration file based cluster creation rather than environment variable based
 - Allow parameterized use of Cloud Formation on AWS
     - VPC IP Range specification(instances, services, and pods)
     - Support AZ Subnet Configuration
     - Support Prefix/Suffix parameter for resources (VPC, Subnets,

[2016-03-25 14:16] wojtek-t commented on #20963
#23490 is supposed to do that.
There are two more tests that I need to fix:
- pkg/storage/cacher_test.go
- pkg/storage/etcd/etcd_watcher_test.go

Both are non-trivial, but doable.

[2016-03-25 14:16] wojtek-t commented on #20963
Will try to finish it early next week.

[2016-03-25 14:19] bgrant0607 commented on #23471
Process question:
It looks like this was LGTM with an unresolved question, and then was manually merged? Why the rush?

We should make kubectl apply work (probably needs a couple improvements, which we want anyway) and/or switch to Deployment Manager.

For (b), the kubernetes.io/cluster-service label should be removed from the pod template if that's used for reconciling.

What does the resizer bas

[2016-03-25 14:26] justinsb commented on #23478
Great list - thanks @huhlig .  It's important to figure out everyone's requirements, so please do comment with anything unobvious that you are using, that is missing!

[2016-03-25 14:31] dmcnaught commented on #23480
@justinsb it seems like autoscaling k8s nodes makes most sense when the nodes run out of resources for new pods or the horizontal scaling of pods (cpu, ram). I've been wondering if using any AWS metrics for node autoscaling makes sense...

[2016-03-25 14:36] onorua commented on #13511
@rootfs Thank you very much, it helps!
I've created PR to push it to upstream, Ubuntu Xenial is coming and  believe this issue will be critical for a lot of guys in a months or so.

[2016-03-25 14:49] fiorix commented on #23486
Deleting the kube-system namespace and deploying add ons again made it work.

[2016-03-25 14:49] #23486 closed

[2016-03-25 15:05] tspecht commented on #23442
Hey,

I'm having the same issue running 1.2.0. I'm trying to execute a command remotely that is not only consisting of one word but contains multiple. In fact, I'm trying to execute `python manage.py shell` to open up a Django shell in my container. When I do `exec -it -- bash ` and then manually execute the command its all working fine, only directly jumping into the shell is not working. Any ide

[2016-03-25 15:09] quinton-hoole commented on #23461
@mml build cop FYI.  Looks like we might need to roll something back.

[2016-03-25 15:13] smarterclayton commented on #23335
Yes - it's the most reliable way to deliver content to a pod that
requires no additional infrastructure.  We have a few job style pods
people are running that stream from STDIN in order to have a shell in
the cluster but that's not a significant workload.

[2016-03-25 15:14] smarterclayton commented on #23335
We have StdinOnce to control whether it can be reopened.  We don't
have a use case with stdinOnce: false today as Andy notes.

[2016-03-25 15:19] smarterclayton commented on #14978
Agree there are risks, but agree with wojciech here that we can at
minimum assess controllers.  We can also deep copy out of the cache
for controllers that are supposed to be read only.  Our deep copy is
fast enough today that we can ignore it (4usec, vs 80usec for decode
and conversion)

[2016-03-25 15:25] memes commented on #23478
Been lurking on sig-aws and users channels and still looking for an idempotent, reliable way to setup an HA master that can be managed by ASG. So, adding to the list,

- HA master with ASG support

+1 This is critical for some of my use cases and would allow me to move from handcrafted CF template to supported tool.

[2016-03-25 15:50] #13511 closed

[2016-03-25 15:55] bprashanth commented on #23111
Possible, @mikedanese @liggitt for bearer token race

[2016-03-25 15:55] quinton-hoole opened #23492 ""kubectl-only Ubernetes": enabe kubectl to target any one of many clusters"
Think --cluster=x cmdline param). Most of it is there already, I think. Just needs cleaning up into a product. I think that pairing this with the multi-cluster UI work that I proposed for the Warsaw guys (enable dahsboard-ui to target one of many clusters) will be a pretty cool 1.3 feature set. Particularly because I don't think that Federated ReplicaSet and Federated Service in isolation for Uber

[2016-03-25 15:56] quinton-hoole commented on #23492
cc @kubernetes/sig-cluster-federation

[2016-03-25 15:59] liggitt commented on #23111
The same service account key should be used

[2016-03-25 16:08] bgrant0607 commented on #20902
Ref #12143

[2016-03-25 16:11] bgrant0607 commented on #23252
@ddysher

Cascading deletion is currently driven from the client, as with all other controllers, so killing kubectl in the middle is not expected to have a good outcome.

Part of the current update protocol pauses the Deployment, which prevents it from doing anything. This will be fixed in 1.3. See #20273.

Also, we're planning to move cascading deletion for all resources to a controller in 1.3. #

[2016-03-25 16:15] bgrant0607 commented on #19805
A test case: #23471

[2016-03-25 16:18] hongchaodeng commented on #20963
Thanks for the update.
I would remove Set() method from etcd3 changes too.

[2016-03-25 16:19] bgrant0607 commented on #23471
Apply issues we'd probably want to fix: #19805, #19809, #22342, #17238, #16569

[2016-03-25 16:20] bgrant0607 commented on #23471
And cascading deletion should not be implemented in the client -- we plan to fix that in 1.3. #12143

[2016-03-25 16:21] bgrant0607 commented on #23471
Is there a reason we can't revert the PR for now?

[2016-03-25 16:22] bgrant0607 commented on #22368
@caesarxuchao @lavalamp: We should consider this issue as part of implementing cascading deletion.

[2016-03-25 16:23] bgrant0607 commented on #20200
Ref #9043 re. in-place rolling updates.

[2016-03-25 16:23] bgrant0607 commented on #22368
Ref #9043 re. in-place rolling updates.

[2016-03-25 16:31] timothysc commented on #23349
**OBJECTIVE**
Users would like to achieve much higher density numbers per machine with a large number of underutilized pods.  Current ``--max-pods`` represents an artificial governor for machines which have ample resources available.  Instead, admins would prefer to set some system reserve, as well as resource thresholds (watermarks) after which pods are not longer accepted.

I meant available mac

[2016-03-25 16:32] huggsboson commented on #23417
one thing to keep in mind with SSH tunnels is that it is somewhat harder for people to manage who are using docker machine (OS x).  It'd be nice if there was consistency between multi and non-multi.

[2016-03-25 16:41] robertBrem commented on #19235
+1

[2016-03-25 16:42] huggsboson commented on #23417
If this turns into an umbrella issue, I believe #23197 is the thing causing various people issues with SkyDNS.

[2016-03-25 16:52] bprashanth commented on #22469
kube-proxy opens the node port on every node in the cluster and sends traffic to the endpoint ips.
HostPort is still docker.

[2016-03-25 16:55] huggsboson commented on #23111
Just to be clear about things I know:
1. I know that the issue is related to service account tokens not functioning correclty
2. This is reproducible, turnup and turndown the cluster a few times and then try to use service account tokens.
3. I know that /var/lib/kubelet has some state in it that is causing this because if I blow it away between runs I don't have any issues.

Let me dive into my th

[2016-03-25 16:56] binarybana opened #23494 "AWS Feature: Should be possible to use SpotFleet"
AWS SpotFleet allows for instances to be spread over multiple instance types and availability zones (perfect for Ubernetes-Lite). Unfortunately tags on the SpotFleet itself don't propagate to the instances, so this causes problems when the kubelet of new instances tries to register and is denied by the controller-manager because the instance lacks the appropriate `KubernetesCluster` and `Kubernete

[2016-03-25 16:57] huggsboson commented on #23197
Cross posting from: #23111.

Just to be clear about things I know:
1. I know that the issue is related to service account tokens not functioning correclty
2. This is reproducible, turnup and turndown the cluster a few times and then try to use service account tokens.
3. I know that /var/lib/kubelet has some state in it that is causing this because if I blow it away between runs I don't have any is

[2016-03-25 17:02] yujuhong commented on #23397
runc by default mounts `/proc/sys` as read-only (https://github.com/opencontainers/runc/blob/24950964ec70f18d18e767e9141d8d952efa416b/utils.go#L131)

The privileged container will need to unmount it to write to it. I added it to the manifest and kube-proxy seems to be working after that.

[2016-03-25 17:03] binarybana commented on #23480
I like the proposal language laid out in #15304. From there it seems logical that the autoscaling group (ASG) should be controlled by the small-KAC (Kubernetes autoscaler controller) which gets cluster info from Heapster/apiserver.

Though I don't know who is leading up the small-KAC implementation on the GKE side.

[2016-03-25 17:03] lavalamp commented on #22368
Yeah I think it should be trivial to set a parent for a config map so it automatically gets cleaned up.

(Why not just add a configmap template section to deployment anyway? Seems like a super common thing people will want to do.)

[2016-03-25 17:04] binarybana commented on #23494
Though the medium-KAC of #15304 would obviate this need.

[2016-03-25 17:07] binarybana commented on #23476
I think Calico looks particularly exciting too (though not sure how it compares with Fan), esp given that policies are already being demoed: https://www.projectcalico.org/calico-network-policy-comes-to-kubernetes/

[2016-03-25 17:09] reflection commented on #23392
Thanks for your help, @jayunit100!

I've created the cluster (single-node) following the instructions exactly in the guide I've linked multiple times.  Every time I run tests I wipe and re-create the cluster from scratch just in case.  If my cluster is broken, perhaps we need to update the guide so that by default people won't have a broken cluster?

Also, I guess if there are certain k8s function

[2016-03-25 17:12] jbeda commented on #14978
@wojtek-t I think I misunderstood the problem so ignore my comments.  If it is pure serialization overhead then moving out of proc won't help at all.  If it is load on etcd and cross-node talk, then a local cache might be just the thing.

[2016-03-25 17:15] rosskukulinski commented on #23441
Ok.  So after some further digging, I think I understand why I got confused.

ENABLE_CLUSTER_MONITORING=influxdb uses influxdb as the datastore... but data still comes from heapster (which drives HPA)

[2016-03-25 17:19] therc commented on #23484
I think people will want both. Or they'll want Ingress to map to ELB for configurations that don't strictly require something like nginx, because e.g. they might want to use Certificate Manager. I have a v0 PR that adds certificates to ELB HTTPS->HTTP listeners, which are probably a large fraction of use cases. v0.1 will be HTTPS->HTTPS. v1 would be the full Ingress.

[2016-03-25 17:21] jayunit100 commented on #23392
You're right for sure.  Let's keep this issue open and resolve it by updating docs to address your issue once we resolve it in the stackoverflow support ticket .  Thanks for noting this..

[2016-03-25 17:25] drocsid commented on #17231
Is it me or are all the containers rather large. For example, does spark itself need to be a gig?
gcr.io/google_containers/spark            1.5.1_v3             c5b3aa1efb63        6 weeks ago         989.7 MB

There's some spark binary package that's 73M uncompressed:
http://d3kbcqa49mib13.cloudfront.net/spark-1.6.1.tgz

[2016-03-25 17:37] smarterclayton commented on #14978
At this point load on etcd should be fairly far down our issue list.
The read caches and shared etcd watch queue per apiserver has mostly
removed that issue.  Write load may be an issue, but primarily I've
seen serialization and conversion dominate apiserver and controller
profiles.  I think that right now (depending on your mix of resources)
between 40-60% of observed load on apiserver and contro

[2016-03-25 17:39] smarterclayton commented on #14978
Also, OpenShift controllers (we have 2-3x the number of loops) can
saturate 1gbps network at medium cluster sizes so we're trying to
reduce redundant watch / list traffic.

[2016-03-25 17:50] madhurranjan commented on #23332
Any updates on this one?

[2016-03-25 17:51] mikedanese commented on #23471
That was a pretty terrible review :(. Sorry about that.

The [comment](https://github.com/Q-Lee/kubernetes/blob/81ba98ae5d7fe46fa5c0fd01066efa01f604e4e9/cluster/saltbase/salt/kube-addons/kube-addon-update.sh#L483)  states that updates for non-renamed addons is not implemented. I missed that. I had initially recommended against the rename update for deployments since that's not the intended usage o

[2016-03-25 17:59] yujuhong commented on #23332
@madhurranjan your masters don't have "unschedulable" set to true. You might want to check your configurations (i.e., what's setting the flags of kubelet) and change them. If you followed any getting started guide when setting up your cluster, the document should've been changed for v1.2 (if not, let us know!).

[2016-03-25 18:00] bprashanth opened #23496 "Cluster fails to come up with login issues"
Just an intermittent flake. Subsequent runs succeeded:
[code]
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress-release-1.2/203
Passed in http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress-release-1.2/204

[2016-03-25 18:02] nyxcharon opened #23497 "Kubectl rolling update in 1.2 not behaving the same as 1.1"
I have a Kubernetes cluster running version 1.2 and the latest version of kubectl installed. If I perform a rolling update on it the same way when I used the 1.1 client, it fails to update. Is this intended behavior, i.e. do I need to invoke this update differently now or is this a regression/bug ?

Client Info:
[code]

Invoking rolling update with 1.2:
[code]

Whereas in 1.1 it worked fine:
[code

[2016-03-25 18:03] liggitt commented on #23111
Service account tokens are stored in etcd. If the same etcd is used between multiple cluster starts, the same service account private/public key must be used, or the tokens stored in etcd will no longer validate.

[2016-03-25 18:06] mikedanese commented on #23332
Ya your masters are schedulable ash @yujuhong mentioned. --register-unschedulabe only sets the unschedulable on registration (i.e. when the kubelet comes up for the first time and creates it's node object), not on every kubelet restarts.

[2016-03-25 18:19] mikedanese commented on #23028
@klizhentas

[2016-03-25 18:20] madhurranjan commented on #23332
Great. In that case, during an upgrade, I should add some tags to the master and make sure that the containers I run also have some node tags and they don't get scheduled on the masters. Any other thoughts?

[2016-03-25 18:20] yujuhong commented on #20774
Closing this issue since the offending PR was reverted and there are separate issue for dealing with gcr.io failures.

[2016-03-25 18:20] #20774 closed

[2016-03-25 18:23] mikedanese commented on #23332
Before the update you can run the master kubelet in standalone mode (don't pass an apiserver url to it) and delete the node from the api. Then do the upgrade and if the kubelet comes back up with --register=unschedulable it should be unschedulable after that. No need to modify any other objects.

[2016-03-25 18:32] arminbalalaie commented on #23474
I found a workaround. SkyDNS documentation in the commandline arguments section, and specifically, for "nameservers" argument implies that:

But it does not! To solve the problem, the dns addon replication controller configuration file (cluster/addons/dns/skydns-rc.yaml.in) should be changed to contain nameservers configuration. I changed the skydns container part as follows and it worked like a c

[2016-03-25 18:49] reflection commented on #23392
FYI: Conformance tests complete and posted in Stack Overflow.  Let me know if anything else is necessary, thanks.

[2016-03-25 18:50] mikedanese commented on #23471
This might work if we update the selector between deployment versions. It would make me sad that we would use deployment this way. Is this stuff required for 1.2?

[2016-03-25 18:51] caesarxuchao commented on #22368
@lavalamp, I guess you mean we can set replicas sets as the parent of a config map, and delete the config map when all the replica sets are deleted?

[2016-03-25 18:56] mikedanese commented on #23233
ref #23471

[2016-03-25 18:56] yujuhong commented on #23104
This doesn't necessary require checkpointing, but kubelet will need to understand the semantics of the fields in the spec, and compare it against the actual state of the container.

[2016-03-25 19:00] yujuhong commented on #23104
IMO, we should first establish the best practices for upgrading a cluster, so that we can test against it :-)

[2016-03-25 19:09] david-mcmahon commented on #23409
The [proposal](https://github.com/kubernetes/kubernetes/pull/23315#issuecomment-199569867) was updated to change `release-note-breaking-change` to `release-note-action-required`

[2016-03-25 19:35] caesarxuchao commented on #14961
@lavalamp, ControllerRef will point to a single controller, but will an object have multiple existence dependencies?

[2016-03-25 19:49] bgrant0607 commented on #19809
One problem we have is that if a user specifies an optional field with the golang type default value (e.g., 0 or false), the field will be elided and might show as a diff.

[2016-03-25 20:18] timothysc commented on #20963
IMHO we should refactor set to become GaurenteedUpdate, b/c GuarenteedUpdate is weird interface convention.

[2016-03-25 20:21] timothysc commented on #17231
Java runtime + baseimage + transitive closer is what is causing most of the bloat.  But as we have discussed on other tickets, these images need to move out of the main repository.

[2016-03-25 20:47] eliaslevy commented on #23479
As a reference, I made those changes when using the CoreOS CloudFormation based Kubernetes installation: coreos/coreos-kubernetes#147.

[2016-03-25 20:59] Q-Lee commented on #23471
@bgrant0607 sorry about the manual merge. I'm new to github, and thought the "merge" button was how we quicked the merge bot. I was unaware that "lgtm" meant auto-submit to our merge bot. I am unaware which question was unresolved, but it wouldn't greatly surprise me (a PR's flat comment space seems sub-optimal for multitasking).

@fgrzadkowski @mikedanese Why don't we just name the heapster deplo

[2016-03-25 21:04] yifan-gu commented on #23335
@philips
- Run without `-i`
[code]
- Run with `-i`
[code]

It cannot attach the pod, but the pod is still running.

Besides, if the pod completes quickly after start, run with `-i` will succeed, since the kubelet will know the pod is not running and so it won't attach to it. Instead, it will just return the logs:

[code]

[2016-03-25 21:11] mml commented on #23461
So I'm looking for something merged to cluster (probably) any time during 3/23.

[2016-03-25 21:22] erictune commented on #23396
So, we have:
- `abac.authorization.kubernetes.io`, versions `v0` and `v1beta1`
- `authorization.k8s.io`, version `v1beta1`
- `componentconfig`, version `v1alpha1`
- `extensions`, version `v1beta1`
- `metrics`, version `v1alpha1`
- `autoscaling` version `v1`
- `batch` version `v1`

[2016-03-25 21:26] timothysc commented on #23332
/cc @kubernetes/rh-cluster-infra

[2016-03-25 21:32] erictune commented on #23396
To move everything to `k8s.io` or to `kubernetes.io`, we have to change 6 groups, including two which are `v1`.
To move all current items to no-suffix, we would have to move 2 groups, which are `v1beta1`.

The latter seems easier.  So,  how about if we make it a "graduation to v1 requirement" for `abac` and `authorization`, that they drop their suffix, to become `abac` and `authorization`.

In ter

[2016-03-25 21:37] erictune commented on #23396
Would it make sense for this to be called "authorization.openshift.org"?  I guess that would not make sense unless all the code was vendored from openshift.org, or if it was in a federated apiserver, which we don't have the ability to do today, right?

[2016-03-25 21:39] wonderfly opened #23503 "integration flake: FAILED: pods never started running timed out waiting for the condition"
Integration test for #23287
[code]

Full logs: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23287/kubernetes-pull-test-unit-integration/19365/

[2016-03-25 21:40] mml commented on #23461
[code]

[2016-03-25 21:48] mml commented on #23461
We enter the code that creates the bucket only if 'gsutil ls' returns nonzero.  That could happen on an error condition as well, or perhaps there is a race with another run.  We swallow stdout and stderr from the prior command.

https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L226

[2016-03-25 22:02] erictune commented on #23298
@therc so, each time I want to pull an image like `acct.dkr.ecr.$REGION.amazonaws.com/foo:bar`, the code will parse out $REGION, set up a session with $REGION, and get the credential?

I agree that will be invasive, but it sounds necessary in order to support amazon's regional registry model.  So, fine by me.

@dchen1107 any problem with making credential provider a bit more complicated?

[2016-03-25 22:04] haizaar commented on #23354
Can you please elaborate about "the tricky part" and babysitter vs single generic controller?

[2016-03-25 22:07] madhurranjan commented on #23332
That sounds good.

[2016-03-25 22:08] vishh commented on #23397
https://github.com/docker/docker/releases/tag/v1.11.0-rc2

[2016-03-25 22:12] tooda02 opened #23505 "Unable to set up SkyDNS on single node cluster"
I'm unable to install the SkyDNS addon to a Kubernetes 1.2 single-node cluster on Centos 7 and encountering issues.  The first is that there's an apparent error in the skynet-rc.yaml file referenced by the  [documentation](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns#how-do-i-configure-it): it's necessary to specify --validate=false when creating the replication controll

[2016-03-25 22:22] bgrant0607 commented on #22368
@caesarxuchao Yes

[2016-03-25 22:45] ixdy commented on #22452
@errordeveloper the e2e test infra will look for a key in the file pointed to by the environment variable `AWS_SSH_KEY`, which seems to be pretty standard.

We use `ssh` in a few tests where we must muck with things outside the cluster (e.g. killing daemons).

[2016-03-25 22:51] lavalamp opened #23508 "Storage version needs priority order"
e.g., if you're adding v2alpha1, you may want to store objects in v1 still. But then how can you test the alpha objects at all? So the storage version codec should first try v1, then try v1alpha1.

This came up in #21675.

I think this is just fixing the codec setup.

[2016-03-25 23:03] freehan commented on #23414
The other tests passed. I ran ` go run ./hack/e2e.go -v --test '--test_args=--ginkgo.skip=\[Slow\]|\[Serial\]|\[Disruptive\]|\[Flaky\]|\[Feature:.+\]'`

The failing one is flaky. Not sure if it is related to kubenet...

[2016-03-25 23:30] erictune opened #23511 "move jobs examples to jobs site."
per https://github.com/kubernetes/kubernetes/pull/17345#issuecomment-197153744

[2016-03-25 23:41] erictune commented on #23511
https://github.com/kubernetes/kubernetes.github.io/pull/252 adds to docs repo (with some styling issues).

[2016-03-25 23:44] erictune commented on #23511
https://github.com/kubernetes/kubernetes/pull/23513 deletes from this repo.

[2016-03-25 23:56] a-robinson opened #23514 "e2e flake: failed to delete namespace (that was apparently already being deleted)"
From a PR builder e2e run:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23501/kubernetes-pull-build-test-e2e-gce/33637/
[code]

[2016-03-26 00:04] erictune commented on #10439
No progress.

Possible workaround: https://github.com/UKHomeOffice/vault-sidekick

[2016-03-26 00:06] a-robinson commented on #23195
Ah, looks very promising. @jimmidyson, do you have thoughts on what we should do here?

[2016-03-26 00:26] a-robinson commented on #9382
This was fixed before 1.2 by #22069 and #21982

[2016-03-26 00:26] #9382 closed

[2016-03-26 00:30] Q-Lee commented on #23471
#23512

[2016-03-26 00:34] kfox1111 opened #23515 "deployment prestop timeout"
Testing out prestop hooks on upgrades of deployments with kubernetes 1.2.0. I started with the attached test example deployment. (note the max values look weird cause I was doing it on a one node test machine. its unimportant to the conversation). I then changed the container tag to watch it change out the container and then did a kubectl apply on it. I see the docker exec sleep 60 get executed, b

[2016-03-26 00:40] robertBrem commented on #11505
/sub

[2016-03-26 02:48] zhouhaibing089 commented on #23497
Checked with v1.2 code: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/rollingupdate.go#L236-L267

[code]

While in v1.1 there is no such check: https://github.com/kubernetes/kubernetes/blob/release-1.1/pkg/kubectl/cmd/rollingupdate.go#L216-L240

[2016-03-26 03:24] tomlanyon commented on #23515
You should be able to increase terminationGracePeriodSeconds in your pod spec above the default of 30 seconds.

Reference: http://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/#_v1_podspec

[2016-03-26 03:58] jason-riddle opened #23517 "Insufficient Permission for Persistent Volume Provisioning Example"
I followed the instructions from the [persistent-volume-provisioning](https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/experimental/persistent-volume-provisioning/README.md) example. When I run create, and then describe, I see the following.

[code]

I'm using a GKE cluster which is running 1.2.0. Am I supposed to do anything else or is this not working as intended?

[2016-03-26 04:21] jessesanford commented on #17562
I can confirm that I see this as well on RHEL 7.1.

[root@node2 vagrant]# uname -a
Linux node2 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[vagrant@node1 ~]$ mesos-master --version
mesos 0.28.0

[vagrant@node1 ~]$ kubectl version
Client Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-alpha.0.923+590038dcf13ca2", GitCommit:"590038dcf13ca2

[2016-03-26 06:22] piosz commented on #22176
The problem with metadata server is now fixed. The tests still don't pass because of deleting RC is hanging forever:
[code]

[2016-03-26 08:04] AdoHe commented on #23386
This is a bug of our JSONPath parser, the child operator failed to recognize this filed, since we dot is allowed in key, we have to fix this in JSONPath parser @kubernetes/kubectl

[2016-03-26 10:04] chaosaffe opened #23518 "RBD volume plugin uses rbd utility instead of kernel driver"
Currently the RBD volume plugin expects the rbd utility to be present on the host, as it just executes shell commands ([Example](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go)). This means that  on hosts where Ceph packages are not available (i.e. CoreOS) RBD volumes cannot be used.

[2016-03-26 10:05] thecanadianbaker commented on #23518
While there are work-around methods, I propose that the dependency on the binary should be removed and instead the volume plugin should interact with the kernel module and coordinate locking, limiting the dependency to the host running a modern kernel.

[2016-03-26 11:21] cescoferraro opened #23520 "Invalid Authentication Config with ServiceAccounts"
I am trying to deploy the KubernetesUI on my cluster to user HTTPS comunication with the apiserver.
The cluster worked fine before messing with service account. At first, the default service account was being generated without any secrets. After this [SO QUESTION](http://stackoverflow.com/questions/36228216/how-to-create-a-kubernetes-serviceaccount-with-token/36229952?noredirect=1#comment60093466_

[2016-03-26 11:50] therc commented on #23484
#23495 uses an annotation to create listeners with a preexisting certificate. I'll add tests and SSL (non-HTTPS) support.

[2016-03-26 14:07] wikiwi commented on #23186
Experiencing the same.

[2016-03-26 14:13] jimmyjones2 commented on #14510
@bgrant0607 I've been thinking about Elasticsearch - pods should only be upgraded when all shards are allocated (ie. green status) so that any request can still be serviced. It can take a while for a node to load all of its shards after a restart, although the pod is alive and can service some requests. I presume this use-case is similar to other distributed systems like MongoDB, Kafka etc - pods

[2016-03-26 14:42] jessesanford commented on #17562
I should mention that I was following the same tutorial (at it's new location): http://kubernetes.io/docs/getting-started-guides/mesos/

[2016-03-26 15:03] martinp commented on #23231
I'm new to Kubernetes and I'm trying it out on GCE.

I tried following https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/simple-nginx.md and spent a lot of time trying to understand both why no replication controller was created, and why my containers were being recreated while no replication controller existed. Not a good experience.

I think the same applies to https://cloud.goo

[2016-03-26 15:55] adohe opened #23522 "types.generated.go imports order should be re-organized"
FYI. Now the `types.generated.go` is this:

[code]

I think we should be re-organize this import order to this for better code style:

[code]

[2016-03-26 16:05] kfox1111 commented on #23515
Ah. yup. that fixed it. Thank you very much.

Closing the issue.

[2016-03-26 16:05] #23515 closed

[2016-03-26 16:31] therc commented on #23298
@erictune it will be only every 12 hours, for the first image in the region, but yeah, that's the idea. For AWS, we'd explicitly expand the regions and register each of them separately (we already keep a list of regions in the cloud provider). Or maybe register the wildcard location and populate the list of regions on demand, too, but we would still keep only one credential per region. For GCE, wh

[2016-03-26 17:10] hongchaodeng commented on #20572
Any timeline for this?
When shall we expect to have multi-row txn support?

/cc @wojtek-t @xiang90

[2016-03-26 19:34] JnMik commented on #20786
Had the same struggle, it's hard to setup and it should be a pretty basic thing

[2016-03-26 19:36] phagunbaya commented on #19598
Will this be fixed soon ?

[2016-03-26 20:50] munnerz commented on #1589
I also have a need for an init pod, my use-case is a CI system: I need to run git within a container to clone a repository, before the actual build image is run using the cloned repo (so I'd require the init container to be able to access the pods volumes). I don't want to require a user have git installed in their build container. It seems the proposals discussed here cover my use-case well thoug

[2016-03-26 21:54] pwais opened #23523 "http://$master-ip:8080/ui redirect is broken (for ubuntu)"
Using the Ubuntu startup guides, which sets up the dashboard in this context: https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/deployAddons.sh#L67

`http://$master-ip:8080/ui` redirects to `http://$master-ip:8080/api/v1/proxy/namespaces/kube-system/services/kube-ui/#/dashboard/` which is broken (shows [1]).  I poked around and this works instead: `http://$master-ip:8080/api/v1/p

[2016-03-26 23:19] madhusudancs commented on #23231
@martinp We are trying to fix (document) this behavior change in the all the examples and docs, but we might have overlooked some of them. I agree that this isn't a good experience. I am sorry about that. Please let us know if you find any more of these docs inconsistencies, we will fix them. We rely on our community's help, so your help is appreciated.

[2016-03-26 23:22] madhusudancs commented on #23231
@martinp Also, I forgot to mention that I sent a PR (#23524) to fix [examples/simple-nginx.md](https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/simple-nginx.md). I have also sent a fix for https://cloud.google.com/container-engine/docs/tutorials/http-balancer to the GKE team.

[2016-03-26 23:24] janetkuo commented on #23231
@martinp thanks for your feedback. In 1.2 release, `kubectl run` creates deployments and jobs by default. Please check docs of [deployment](http://kubernetes.io/docs/user-guide/deployments/) and [job](http://kubernetes.io/docs/user-guide/jobs/) for more information.

[2016-03-26 23:29] martinp commented on #23231
@madhusudancs, @janetkuo: Great, thanks!

[2016-03-26 23:36] cescoferraro commented on #23520
cluster/saltbase/salt/generate-cert/make-ca-cert.sh solved the issue

[2016-03-26 23:36] #23520 closed

[2016-03-27 00:11] #23282 closed

[2016-03-27 00:56] justinsb opened #23525 "Default type for GCE dynamic volumes?"
(Mostly a note to self to investigate...)

On GCE, we don't specify the type when creating a PD.  I think this means that dynamic volumes will be created as pd-standard.  pd-ssd is probably a more sensible default.

[2016-03-27 01:06] janetkuo commented on #23497
@nikhiljindal

[2016-03-27 01:28] tyangliu commented on #23301
Hello!

I gave this task a try (PR #23526). Let me know if something like this is what you were looking for. First time doing this, so I'd be happy to make changes and/or also implement generation for the other mentioned docs, kube-apiserver, kubelet, etc.

Background: Currently playing around with kubernetes and CRIU for a course project, and decided to take a quick break.

[2016-03-27 04:14] hongchaodeng opened #23528 "Make storage.Preconditions a function"
In #22965, it introduced storage.Preconditions as very specific struct:
[code]

It'd better to make this a predicate function:
[code]

The immediate reason is for testing. Nonetheless, changing it to a function would give user more flexibility to do dynamic checking, logging, etc.

[2016-03-27 04:14] hongchaodeng commented on #23528
/cc @caesarxuchao @lavalamp @wojtek-t @xiang90 @kubernetes/sig-api-machinery

[2016-03-27 04:50] hongchaodeng opened #23529 "package "speter.net/go/exp/math/dec/inf" caused godep failure"
I have encountered the following error in CI:
[code]

link: https://travis-ci.org/kubernetes/kubernetes/builds/118770263

[2016-03-27 05:51] hongchaodeng commented on #23529
The problem is that although I introduced a new dep I changed nothing of the "inf" package.
It also looked like the package has been moved to https://gopkg.in/inf.v0

[2016-03-27 06:01] hongchaodeng commented on #23529
Note that it's not happening all the time.

[2016-03-27 10:42] maclof opened #23531 "Can't drain ReplicaSet pods with 1.2"
Whenever I run the kubectl drain command, I get an output similar to the following (the throttling request messages) and the node isn't drained of pods:

[code]

[2016-03-27 14:34] errordeveloper commented on #22452
Ok, is there a way to disable test that rely on SSH? And, the environment
variable is good, but I would rather use the key forwarded by the agent.

On Fri, 25 Mar 2016, 22:45 Jeff Grafton, <notifications@github.com> wrote:

[2016-03-27 16:44] sadlil commented on #23326
one more extra metadata or an field `dataVersion` can be added to the resource. This can indicate the configMap data version, which is completely separate from the resource version. This can be updated in time the of updating the data. and can be mounted as a file.

[2016-03-27 18:38] nelcy commented on #23269
@madhusudancs @mfanjie
Are we planning to reuse exact Kubernetes API Types for Ubernetes? The concern going forward will be overblowing these API types to include all Ubernetes specific & Kubernetes specific requirements. If not, shall we use different names or extensions to avoid confusion.

Also, today in Kubernetes there is no binding or assignment/node selectors for replication controllers. Th

[2016-03-27 18:41] nelcy commented on #23492
@quinton-hoole I can take this item.

[2016-03-27 20:31] kastork commented on #22638
I'm having trouble tracking down the `k8s-ebs-jessie-amd64-hvm.yml` file you mentioned in the procedure for making the ubuntu machine.  Any clues?

[2016-03-27 21:29] pmorie commented on #23438
@luebken Great minds think alike; in my implementation of kubectl integration w/ configmap, I had `cm` as an abbreviation.  @smarterclayton didn't like it -- still feel the same way, Clayton?

[2016-03-27 21:44] slimshady986 commented on #18174
+1

[2016-03-27 23:21] smarterclayton commented on #23438
We generally abbreviate long things.  We should never have abbreviated
"pods" or "nodes" or "events".  With bash autocomplete most names should be
easy to type.  I'm on the fence about 9 characters in general, I'm more on
the fence about the abbreviation here because secret is only six, and we
deliberately did not add an abbreviation for it.  Service got the nod
because it is a very commonly typed

[2016-03-28 00:18] bgrant0607 commented on #20605
cc @quinton-hoole

[2016-03-28 00:21] bgrant0607 commented on #23492
--cluster= and --context= already exist. In what way do you want to change them?

See also #20605

[2016-03-28 01:31] timothysc commented on #23338
A dream of mine in every distributed system would be complete object logging for total life-cycle tracability (admission-scheduling-execution).  Maybe it's just a dream.

[2016-03-28 02:19] timothysc commented on #20434
@soltysh agreed.

[2016-03-28 02:19] #20434 closed

[2016-03-28 02:23] #23169 closed

[2016-03-28 02:32] AdoHe commented on #23531
[code]
Also the throttling request log has been removed in one of latest PRs.

[2016-03-28 04:01] AdoHe commented on #15493
@bgrant0607 any progress on this now? I returned back to the kubectl apply issues, and hope I can fix all apply related issues before 1.3.0 release.

[2016-03-28 04:05] loic-sharma commented on #21067
I ran into this problem too. It seems like [this](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/azure/lib/azure_wrapper.js#L163) is the issue. If `get_subscription` can't find a `AZ_SUBSCRIPTION` environment variable, it returns nothing, which causes all of the azure to get an undefined value instead of a subscription id.

Now what's really weird is that n

[2016-03-28 06:58] srikanthpeetha commented on #23523
I think you can manually launch kube-ui  using this
`kubectl create -f cluster/addons/kube-ui/kube-ui-rc.yaml`
`kubectl create -f cluster/addons/kube-ui/kube-ui-svc.yaml`
#10697

You can check the direct link to access the dashboard using
`kubectl cluster-info`

I had a testing cluster with server version 1.2.0. For me
`http://$master-ip:8080/ui` is perfectly redirecting to `http://$master-ip:8080

[2016-03-28 07:01] pwais commented on #23523
Ah ok I will see if a newer release works for me. Thanks!

[2016-03-28 07:07] davidopp commented on #23105
To clarify, this isn't about the examples tests that you're referring to. It's about a bespoke end-to-end test that uses an example from the docs.

Anyway, I'm fine with having the example in the docs repo, but until we fix this issue, we need to be able to merge changes to the old docs repo (currently the bot forbids it), otherwise the new test won't work.

[2016-03-28 07:57] caesarxuchao commented on #15493
I'll try to check the flake rate again. IMO if the flake rate is non-negligible, we should increase the retry limits of Patch, or more aggressively, just remove the limit. https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/resthandler.go#L92

[2016-03-28 09:00] cdpb commented on #21859
same in v1.2.0

[2016-03-28 09:17] luebken commented on #23438
@smarterclayton I was referring to configmaps not secrets.

+1 for not handing out abbreviations left and right. But I don't understand why we have `ing` for `ingress` and `ds` for `daemonsets` but not `cm` for configmaps.

for me it's more than bash completion. it also gives some guidance for using these abbreviations elsewhere like naming the yaml files.

[2016-03-28 11:02] MurgaNikolay commented on #22911
We have same problem on nodes with CoreOS alpha 991.0.0 and hyperkube 1.2

[2016-03-28 11:03] wojtek-t opened #23533 "unit flake: TestEventf is racy"
WARNING: DATA RACE
Write by goroutine 32:
  testing.(*common).log()
      /usr/local/go/src/testing/testing.go:353 +0x1e6
  testing.(*common).Logf()
      /usr/local/go/src/testing/testing.go:366 +0x82
  testing.(*common).Logf-fm()
      /go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/pkg/client/record/event_test.go:351 +0x5f
  k8s.io/kubernetes/pkg/client/record.(*eventBroadcaste

[2016-03-28 12:41] deads2k commented on #23475
Can you stub in what you think it should look like?  I think the comment got lost to an outdated diff, but I'm guessing that we don't need things like name or namespace?

[2016-03-28 13:07] rata commented on #23479
If it helps, I've just cloned a master in AWS, removed the user data (it re-creates the certs, etc. otherwise) and it worked fine. So, maybe is just tunning the script and no much more. So, probably this should be done (and maybe is even easier) after https://github.com/kubernetes/kubernetes/issues/23478 ?

[2016-03-28 13:19] ddysher commented on #23252
@bgrant0607

Thanks.  Good to know this is work as intended.  will take a look at the pointers.

[2016-03-28 13:33] smarterclayton commented on #23438
Ingress probably shouldn't have been handed out either.  The point is
to come up with a process for resolving and reserving names since
short names are also an API.

Regarding file name, I would probably expect to use "foo-config.yml"
for it (especially if it was secrets and config)

@kubernetes/api-review needs to weigh in - I'm going to require
whatever rules we come up with here before merging

[2016-03-28 13:59] mikesplain commented on #23478
Agreed with @memes.  We setup terraform for bootstrapping the aws components (including internal ELBs for HA master) and wrote custom scripts to drive configuration via cloud-config so we can scale up / down masters and minions as needed.  Idempotency, little config management infra, and little human intervention on HA node failure was key for us.

So my addition would be:

- Internal ELB support

[2016-03-28 14:01] smarterclayton commented on #15493
Infinite retry still scares me, mostly because we may have failure modes
that could race for a very long time.

On Mon, Mar 28, 2016 at 3:57 AM, Chao Xu <notifications@github.com> wrote:

[2016-03-28 15:15] adamtester opened #23535 "Kubernetes on AWS no endpoints available for service kubernetes-dashboard"
Hello

I set up my first cluster on aws, and when using the dashboard it keeps hanging and then displaying the following:

[code]

Does this mean I need more / larger nodes? I've seen people have the problem but not with the dashboard.

I have 3 minions which are all t2.micros and 1 master also a t2.micro

[code]

[2016-03-28 15:56] justinsb commented on #23399
Pretty sure this is just a typo error.  I'm going to close; feel free to reopen if e.g. the docs led you astray

[2016-03-28 15:56] #23399 closed

[2016-03-28 16:07] justinsb commented on #23174
I extended the kope tool - it can now bring up GCE clusters on the "gce" branch (the master branch might be being used by people upgrading their AWS clusters from 1.1 -> 1.2)

So I have a few questions:

* kube-up is two parts: the bash bits which bring up the cloud machines, and the salt bits which configure the machines.  kope replaces the bash bits currently.  It sounds like this issue is speci

[2016-03-28 16:15] dchen1107 opened #23536 "e2e flaky: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability"
Jenkins build kubernetes-e2e-gke-subnet/2545/ failed:

[code]

Related logs can be accessed at: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-subnet/2545/

[2016-03-28 16:21] zmerlynn opened #23537 "Spark example should use a non-default namespace"
cc @wojtek-t

[2016-03-28 16:24] dchen1107 opened #23538 "e2e node test breakage: Heapster canary test failed to build"
Jenkins build Node/job/heapster-dockercanarybuild-ci/58/ failed since last Thursday due to compiling issue:

[code]

@piosz looks like it is caused by https://github.com/kubernetes/heapster/commit/54ecf0e9b4d078b7d901b0cf9edad9e66f5d5f31

[2016-03-28 16:26] bgrant0607 commented on #15493
@AdoHe I don't think anyone has worked on this.

Though the original failing test/logs weren't recorded, it appears to be a failure of "should apply a new configuration to an existing RC":
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L541

@caesarxuchao There is a retry loop in the Patch handler in apiserver, but if resourceVersion is specified, the retry loop will alwa

[2016-03-28 16:33] bgrant0607 commented on #23105
@davidopp Are the PRs labeled with do-not-merge? I thought the bot only applied that to PRs touching markdown files.

[2016-03-28 16:34] dchen1107 commented on #23535
@adamreese Which kubernetes releases are you running? Also can you run command: kubectl describe pod kubernetes-dashboard-v1.0.0-bj9nr   and copy & paste the result here?

cc/ @justinsb on aws

[2016-03-28 16:36] dchen1107 commented on #23523
Thanks for reporting the issue.

[2016-03-28 16:36] #23523 closed

[2016-03-28 16:47] luxas commented on #23174
I'm interested in the "run everywhere" setup, and would like to see something like #13901.
I already have a refactored docker-multinode PR (#21646) up that may serve as a base for an `k8s-in-docker` deployment method.

It would be nice to see a `clusterv2` folder, where we could add the most essential things and work on it without being chased by 1.3. WDYT?

@mikedanese How can we move `kube-proxy

[2016-03-28 16:49] bgrant0607 commented on #23349
@timothysc Other considerations:

* Kubelet, Docker, network and storage plugins, etc. are not perfectly scalable
* Increased load on these agents impacts quality of service from these components
* An explicit, predictable limit (as opposed to opaquely just denying requests at some point) helps schedulers make better decisions (e.g., avoiding resource stranding) and helps users understand placemen

[2016-03-28 16:57] justinsb opened #23539 "AWS: Document ASG spanning multiple zones "trick" for easy Ubernetes Lite"
We should document the trick that user "duncan" on slack suggested, to just add more zones to the existing node ASG.  It is much easier than running kube-up again.  The only downside I can see is that there's no control over number of nodes in each zone.

[2016-03-28 16:59] dchen1107 commented on #23517
cc/ @roberthbailey

[2016-03-28 17:04] mikedanese commented on #23174
I'm going to create a new repo in the next couple of days where we can experiment and with the goal of eventually moving cluster/ out of core altogether (a.k.a. move pieces into new repo and delete the rest).

kube-proxy would be run as a cluster addon like heapster or kube2sky

[2016-03-28 17:08] quinton-hoole commented on #21877
Duplicate of #23188

[2016-03-28 17:08] #21877 closed

[2016-03-28 17:13] caesarxuchao commented on #15493
@smarterclayton we have an infinite loop in GuaranteedUpdate (https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd/etcd_helper.go#L610), maybe we should apply a retry limit there as well?

[2016-03-28 17:17] caesarxuchao commented on #15493
In the case of such a conflict, apply should diff again, create another patch, and try again.

Agree. Just note that the test flake doesn't specify resourceVersion.

[2016-03-28 17:18] jayunit100 opened #23540 "Audit pod waiting functionality in test/e2e/util.go"
_Problem_
- We've got about 25 or so "wait for this scenario to occur" functions in the test/e2e/util.go module.
- test/e2e/utils.go is 4K lines
- there are some functions that are only used once, others that have subtle semantic variation, and similar functions w/ divergent naming. Examples.
  - waitForPodSuccessInNamespace (4 deps), waitForPodRunningInNamespace, waitTimeoutForPodNoLongerRunning,

[2016-03-28 18:04] roberthbailey commented on #23517
/cc @kubernetes/goog-gke

@saad-ali -- When creating a PV claim, which controller is responsible for talking to the GCE API (and where does it run)?

[2016-03-28 18:07] dchen1107 opened #23544 "e2e flaky: kubernetes-e2e-gke-release-1.2 failed to create cluster sometimes"
kubernetes-e2e-gke-release-1.2/596 is red due to

[code]

I only observed such failure with gke, not gce cluster.

[2016-03-28 18:08] dchen1107 commented on #23544
cc/ @kubernetes/goog-gke

[2016-03-28 18:10] therc commented on #23482
We're using the new Certificate Manager and #23495 does the trick if you create a wildcard certificate in advance. Wildcards are probably a better match for now, since you can have only twenty certificates, each with up to ten fully qualified domains, plus there's an yearly limit, too, so I'm reluctant to have the controller manager burn through such a scarce resource, especially if there are bugs

[2016-03-28 18:14] dchen1107 opened #23545 "e2e flaky: Connection refused errors [Errno 111] on jenkins"
We ran into a lot of resource leakage issues lately, which causes the test failed at the end:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release-1.2/822/console
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release-1.2/820/console
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/3599/c

[2016-03-28 18:16] dchen1107 commented on #23531
@maclof Can you try to use --force to see if your issue is fixed here? Please let us know if you need further support. Thanks!

[2016-03-28 18:17] bprashanth commented on #23482
See https://github.com/kubernetes/kubernetes/issues/19899 for lets encrypt integration. Having at least one way to get/renew real certs cross-platform makes sense, that's not to say we can't support multiple platform-specific ways.

I imagine that if a user creats something like:
[code]

A cluster wide cert controller (or a cert sidecar in the ingress controller) would notice this, get the certs a

[2016-03-28 18:17] roberthbailey commented on #23544
This is part of the e2e test setup (not GKE itself) in util.sh: https://github.com/kubernetes/kubernetes/blob/master/cluster/gke/util.sh#L187-L192

Since it says that the firewall already exists, it looks like a previous test run didn't clean up correctly.

[2016-03-28 18:18] dchen1107 commented on #23505
cc/ @ArtfulCoder

[2016-03-28 18:22] roberthbailey commented on #23544
In the previous run (which was a green dot):

[code]

So it looks like gcloud crashed while tearing down that firewall in the previous run, which is preventing new runs from starting up.

[2016-03-28 18:23] bprashanth commented on #23482
Taking this a step further, we could install admission controllers that never allowed non-https Ingress (like a cluster wide HSTS flag). Either a real (letsencrypt style), internal (pki server signed) or self signed cert is required.

[2016-03-28 18:24] roberthbailey commented on #23544
@dchen1107 did you manually clean up the firewall rule? It looks like the current run didn't hit this issue.

[2016-03-28 18:31] jayunit100 commented on #23540
[code]

[2016-03-28 18:34] ArtfulCoder commented on #23505
can you (for testing only), increase the timeouts on the probes then manually verify:
1. etcd contains the entry. you can run /usr/local/etcdctl ls --recursive on the etcd container
2. verify that dns container works by doing the nslookup of "kubernetes.default.svc.cluster.local yourself ?
you can run nslookup on the healthz container on 127.0.0.1, and on the node at 10.0.0.10

[2016-03-28 18:36] dchen1107 commented on #23503
I quickly scanned through the log posted by @wonderfly, and I noticed that both pods are running on the node without any issues. Is it possible the known issue of delay watching?

cc/ @yujuhong since you looked at this before.

[2016-03-28 18:40] wonderfly opened #23546 "e2e flake: "Kubernetes e2e suite.[k8s.io] Kubectl client [k8s.io] Simple pod should support exec""
kubernetes-pull-build-test-e2e-gce/33760 for PR #23454

This might a duplicate of #22671, but the failure wasn't entirely the same.

[code]

[2016-03-28 18:40] bprashanth commented on #23544
That gcloud crash has occurred 4 times in the last 12 hours in the Ingress suite, if we just updated gcloud on our builders, we should probably open an internal bug. I think it's flake in contacting the metadata server that previous didn't cause the crash but is now.

[2016-03-28 18:40] caesarxuchao opened #23547 "client-gen should allow user to specify what methods (e.g., Create, Delete) to generate"
For example, in #20573, only Create() method should be generated for the Authorization API.

cc @lavalamp @krousey

[2016-03-28 18:48] dchen1107 commented on #23465
cc/ @kubernetes/goog-ux

[2016-03-28 18:50] reflection commented on #23392
Ok, so to summarize some of the caveats with single-node deployments that I'd like to see documented and linked in all the single-node deployment guides so others will not be taken by surprise:

**Does not currently work on single-node volumes based on conformance tests**
Downward API Volumes
ConfigMaps Volumes

I re-ran conformance tests again to fix some that were dependent on relative paths (fr

[2016-03-28 18:51] bgrant0607 commented on #22569
cc @kubernetes/kubectl

[2016-03-28 18:53] yujuhong commented on #23503
As far as I can tell , `nginx-controller-rst26' was assigned to `127.0.0.1` but kubelet never *saw* the pod.
On the other hand, `nginx-controller-iv0zh` was assigned to `localhost` and was running fine.

Not sure if this is a watch or a kubelet issue.

[2016-03-28 18:53] dchen1107 commented on #23544
@roberthbailey I didn't do any manual steps here. I believe the next run was trying to do tear down first and succeed.

[2016-03-28 19:12] hongchaodeng commented on #22448
Hi folks,

I wanna give some updates and also coordinates.

I consider the KV methods completed in #23387. While waiting for review cycles, I want to do two things in parallel:
- ttl manager. As discussed above, we need to support per-key ttl for BC. I'm implementing a ttl manager roughly like this:
[code]
- watcher. Both Watch() and WatchList() returns a [watcher interface](https://github.com/kub

[2016-03-28 19:13] ncdc commented on #23546
This is a dupe of #23321

[2016-03-28 19:13] #23546 closed

[2016-03-28 19:29] timothysc commented on #22212
So I'm going to retract my previous statement, and try switch focus on defining the user stories 1st.  Right now we (red hat) lives in a multi-tenant environment where we have yet to flush out the standard use cases on priorities, but there will likely be user+admin assigned priorities.  Before diving into semantics, I personally believe the priority + preemption mechanics should probably be their

[2016-03-28 19:52] saad-ali commented on #23517
Their are three controllers currently responsible for creating, binding, and deleting PV/PVC/volumes: provisioner, binder, and recycler. All are found [here](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/persistentvolume). All of them talk to the API server.

CC @kubernetes/sig-storage

[2016-03-28 19:56] yvespp opened #23551 "Reuse nodePort on kubectl apply service"
In release 1.2 the NodePort of a service changes every time the service get's applied:

Example service svc-test.yaml:
[code]

First apply, service doesn't exist:
[code]

Second apply:
[code]

The nodePort changed form 31585 to 32124.

It would be nice if the port stayed the same:
* External Loadbalancer that use the nodePort don't have to be updated. -> We currently have a half automated LB that

[2016-03-28 20:10] roberthbailey commented on #23544
@bprashanth — @jlowdermilk is already looking into it.

@dchen1107 — that's good, it'd be nicer if it did it correctly on the next run, but doing it 2 runs later isn't terrible.

On the one hand, we could pretty easily fix this with some retries in firewall creation, but that would mask regressions in gcloud like we found here.

[2016-03-28 20:22] dchen1107 commented on #23544
@roberthbailey Agreed. I filed the issue to make sure there is no regression in our stack, especially with 1.2 gke.

[2016-03-28 20:22] erictune commented on #18725
What in openshift, stops a pod with service account A from contacting the kubernetes API, after it started, and getting a secret that exists in its namespace, but which is not on its Secrets list?

[2016-03-28 20:23] ncdc commented on #23321
In at least 1 of the e2e failures, this is in the apiserver log:

[code]

For context, the flow is:

kubectl :left_right_arrow: apiserver :left_right_arrow: kubelet :left_right_arrow: pod/container

The way that data goes between the apiserver and the kubelet is via the proxy code in the apiserver. It proxies between kubectl (the "client" in the error message above) and the kubelet on the node (th

[2016-03-28 20:28] liggitt commented on #18725
service accounts don't have GET access to secrets by default

[2016-03-28 20:29] caesarxuchao commented on #20572
We need to wait for the etcd v3 integration to have multi-object transaction support.
As bgran0607 said, multi-object transaction is needed to support "indexing by UID and name at the same time", because we need to update the `name->UID` key-value pair and `UID->object` key-value pair in one transaction.
"Get by UID" requires the feature above. IMO it's not urgent, because a user can always check

[2016-03-28 20:32] davidopp commented on #22212
https://github.com/kubernetes/kubernetes/pull/22217
is the doc you're looking for :)

I intentionally put priority + preemption in the same doc as rescheduling because they are closely related. It makes for a somewhat lengthy doc but I think the alternative is more confusing.

[2016-03-28 20:35] xiang90 commented on #20572
@caesarxuchao OK. Right now, we are adding v3 support for the existing Storage API. After finishing that part, I think we should have a discussion about how to utilize new v3 features like multi-object transaction to simplify a lot of business logic and improve efficiency of storage API calls.

[2016-03-28 20:41] scottstensland commented on #1899
This open ticket is 18 months old ... in frustration I see tons of people have gone ahead and rolled their own poll-wait loops wrapping their calls to kubectl  ... in my case I need to wait until

    kubectl get pods

comes back Ready with Status Running ... if I blindly avoid poll-wait my follow on kubectl exec fails with :

error: pod web-controller-x is not running and cannot execute commands;

[2016-03-28 20:44] #23547 closed

[2016-03-28 20:45] krmayankk opened #23553 "Update Service with no change in Spec causes GCE to add/delete addresses and forwarding rules"
I am updating K8s service on 1.1.3. There is no change in ServiceSpec, but on GCE console i see lots  of logs related to addition and deletion of address and forwarding rules. Is this expected?

Specifically i see with one update of service(nothing changed in the spec):-
-create address
-delete forwarding rule
-create forwarding rule
-delete address

am i doing some mistake in updating a service.

[2016-03-28 20:46] bprashanth commented on #23517
CC @kubernetes/sig-storage

So the controllers run on the master, but I think the kubelet actually needs scope to use the gce_pd volume plugin (@saad-ali correct me if this is not the case)

[2016-03-28 20:48] davidopp commented on #22797
I talked to @bgrant0607 about this just now. He was OK with just putting a big warning at the top of any design docs that contain out-of-date information, warning that the doc is just for historical purposes and pointing to the up-to-date docs. This assumes we actually document our APIs properly and write user-guide docs for the feature that we keep up-to-date. So we need to get better at that --

[2016-03-28 20:48] smarterclayton commented on #1899
for, I think that would cover a lot of use cases.

Totally agree.  My concern was that there's a lot of nasty edge cases even
in "wait for pod to be running", so I don't want to "only" do the simple
thing and not actually solve the "kubectl wait --for='something'
--timeout=1m" tool that correlates to more use cases.  I'm hesitant to loop
these closely into create and apply simply because a good "w

[2016-03-28 20:50] bgrant0607 commented on #22797
And I reserve the right to gut/delete out-of-date docs at some point.

[2016-03-28 20:59] bgrant0607 commented on #23465
See https://github.com/kubernetes/kubernetes.github.io/pull/248 and https://github.com/kubernetes/kubernetes.github.io/pull/262

The same commands work, but need to be applied to the objects created. We could explain that more clearly.

cc @pwittrock @janetkuo

[2016-03-28 21:05] broady commented on #23465
Can you also add in a note explaining that the load balancer takes some time to come up?

In fact, it'd be even better to have `get services` show `PENDING` under `EXTERNAL_IP` while the load balancer is brought up.

[2016-03-28 21:09] krmayankk commented on #23553
Also i dont expect the resourceVersion to change, but the resourceVersion is also changing with each update, although i am not changing anything in the Spec.

[2016-03-28 21:19] timothysc commented on #23458
Yeah it's a low prio cleanup work.

[2016-03-28 21:24] thockin commented on #23553
Can you post the yaml or json you are using to POST and then using to PUT.  Specifically, are you reading it back and then PUT or are you PUTting the original yaml twice?

[2016-03-28 21:33] krmayankk commented on #23553
i am using the unversioned go client.
-i do a getservice and save the resourceVersion
-when i find a service, i update its spec( the returnedvalue of  getService) with new contents which in this case is not changing at all between updates and specify the saved resourceVersion.

I have pasted below the Get and PUT requests.

One thing i could be doing wrong is using the return value of GetService w

[2016-03-28 21:37] yoni-tock opened #23556 "Question: Does the pod need to talk to the master to restart?"
We had a micro-outage the other day when one of the machines in our cluster stopped trying to restart. On startup, it hit a transient error that prevented the server from starting up, but the pod did not try to restart again after that. The logs showed nothing between when it got stuck starting up and when I initiated a manual restart 20 minutes later. It seems we hit this issue during a network p

[2016-03-28 22:01] saad-ali commented on #23517
Yes, the controllers run on master. So the master needs scope that will enable it to [create](https://cloud.google.com/compute/docs/reference/latest/disks/insert) and (in the future) [attach](https://cloud.google.com/compute/docs/reference/latest/instances/attachDisk) GCE PDs. Namely, `https://www.googleapis.com/auth/compute` and `https://www.googleapis.com/auth/cloud-platform`. The kubelet curren

[2016-03-28 22:02] nikhiljindal opened #23557 "Ubernetes: Where to put the code"
We will have ubernetes code that is similar to a lot of kubernetes code in the following directories:

* cmd/kube-apiserver
* pkg/apis
* pkg/client
* pkg/controller
* api/swagger-spec
* docs/api-reference

The current PRs are adding ubernetes code to these directories.

@madhusudancs and I think that creating a new pkg/ubernetes directory and putting all ubernetes code their seems better.
We can h

[2016-03-28 22:04] nikhiljindal commented on #23557
Ref existing ubernetes PRs: https://github.com/kubernetes/kubernetes/pull/23509 and https://github.com/kubernetes/kubernetes/pull/23430

[2016-03-28 22:17] bprashanth commented on #23517
Master scope is probably not the problem here. @jason-riddle can you check the scope on your nodes? You can ssh into a node and try `gcloud compute disks list` to make sure you have compute read, or run `gcloud container clusters describe foo` to see the oauthScopes.

[2016-03-28 22:20] bprashanth commented on #22266
@pires can you confirm that your nodes have compute/rw scope by ssh-ing into a node and running `gcloud compute backend-services list` ? If that works, can you please give me the logs? (kubectl --namespace=kube-system logs l7-po-name -c l7-lb-controller --previous).

You can turn it off by doing: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-loadbalancing/glbc#disabli

[2016-03-28 22:22] lavalamp commented on #23036
Does this cause the test to fail?

[2016-03-28 22:24] lavalamp commented on #23394
I agree they should be different intervals. I'm arguing that the default
value for "relist" should be "never". :)

On Wed, Mar 23, 2016 at 2:08 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-28 22:25] lavalamp commented on #23528
Sorry, but-- no, it's not good to have it be a function. The reason is that if it's a function, there's no possibility of passing it down into the storage layer to have the constraint enforced there.

[2016-03-28 22:25] #23528 closed

[2016-03-28 22:27] lavalamp commented on #23528
I mean, you're of course welcome to argue with me. But I don't see advantages to making it a function, and it's not clear to me what your function signature implies.

[2016-03-28 22:30] lavalamp commented on #23557
I pretty strongly think as much as possible should go under cmd/uber-apiserver/...

That is:

`cmd/uber-apiserver/pkg/apis/...` (maybe without the pkg/)

Client is interesting, what would be going under there? Anything that @caesarxuchao's client generator won't make?

Controllers should maybe go under `cmd/uber-controller-manager/pkg/...`.

@quinton-hoole

[2016-03-28 22:31] smarterclayton commented on #23394
Oh, then we're in agreements

[2016-03-28 22:31] smarterclayton commented on #23557
I prefer clusterfederation to ubernetes.

[2016-03-28 22:32] lavalamp commented on #23557
If you do add stuff under pkg/ then I agree it'd be good to start with pkg/clusterfederation/... or pkg/cluster/federation/...

[2016-03-28 22:46] erictune commented on #20870
Do these make sense as requirements for kubernetes support for seccomp filters:

1. we, the project, pre-defines names for certain "canned" seccomp filters with sensible defaults
  -  probably the same as Docker's 1.10 default, and unrestricted.
1. cluster admins can define their own custom filters too.
1. it should be possible to define a seccomp filter and a list of allowed capabilities in the s

[2016-03-28 22:49] erictune commented on #20870
@kubernetes/kube-iam

[2016-03-28 22:49] erictune commented on #20870
@pmorie

[2016-03-28 22:51] krmayankk commented on #23553
I am trying to create an service of type LoadBalancer. If the service already exists and has already been allocated an external ip and nodeport, do i need to copy those from the getservice to updateService fields to preserve them and not lead to new allocations while Updating the Service.

I know how to preserve the NodePort already allocated.

I dont know how do that for external ip, do i need to

[2016-03-28 22:52] nikhiljindal commented on #23557
Yes we will have clientset_generated in pkg/client.
Do we want to put the ubernetes clientset at the same place?

We will also have api-ref docs and swagger-spec of the ubernetes server.
We can put them under pkg/clusterfederation/swagger-spec or alongside the kubernetes swagger-spec at api/swagger-spec (same for api-ref docs).

[2016-03-28 22:54] nikhiljindal commented on #23557
@lavalamp how about `clusterfederation/cmd/uber-apiserver` and `clusterfederation/cmd/uber-controller-manager` and `clusterfederation/client/clientset_generated`?

[2016-03-28 22:55] lavalamp commented on #23301
@tyangliu thanks, I left a comment on your PR :)

[2016-03-28 22:58] tooda02 commented on #23505
Thanks for looking at this issue.  This is a test server and I have no problem with doing anything to it you need.

I've increased the timeout on both probes from 5 seconds to 60 and run the two commands you requested.  Here is their output:

/usr/local/bin/etcdctl ls -- recursive on etcd

    [david@centos dns]$ kcsys exec kube-dns-v11-1e72w  -c etcd -- /usr/local/bin/etcdctl ls --recursive
    /

[2016-03-28 23:01] smarterclayton commented on #23557
How about federated-apiserver?   I don't hate uber as a prefix, but I
like being specific about what the point of it is.

[2016-03-28 23:05] lavalamp commented on #23557
The issue is there's two sorts of federation: multiple apis in the same
cluster, vs multiple clusters. "federation" by itself will be very
confusing.

On Mon, Mar 28, 2016 at 4:01 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-28 23:06] smarterclayton commented on #23557
I don't know that API federation is as big a deal as cluster
federation (I would just say you register more APIs) but I concede the
point.

[2016-03-28 23:09] quinton-hoole commented on #23557
I'd like us to stick to semantic names rather than "brand" names, i.e. clusterfederation rather than uber...
I like Daniel's suggestion of cluster/federation.

[2016-03-28 23:10] lavalamp commented on #23557
The thing that makes it super confusing is that ubernetes will probably
want both kinds of federation...

On Mon, Mar 28, 2016 at 4:06 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-28 23:10] ArtfulCoder commented on #23505
you have an additional double quote in the etcd path

local" should be local

[2016-03-28 23:12] madhusudancs commented on #23557
I started thinking about this after our discussion. Is there a reason to not make this a root-level directory? kubernetes/federation?

Also, I think we should drop "cluster" and just call it "federation". Kubernetes is a cluster management system and "federation" means federation of clusters. It is implicit. API federation can then be called apifederation, if we need a separate directory.